[2020-01-17 15:25] curelom commented on #44779
Correct, my issue is with the documentation itself.  Yes lease reopen

[2020-01-17 15:27] subglo opened #46367 "AD migration"
Hello,
We have simple scenario:
on-premises Active Directory in domain **A** and AD Connect server that synchronizes users to Azure AD tenant.

We have a situation where we need to migrate our users from Active Directory in domain **A** to different server and Active Directory in domain **B** (separate infrastructures) , but the AD tenant stays the same.

My idea was to:
1) Migrate users between A

[2020-01-17 15:27] msrini-MSFT commented on #46366
@yevhen-kuras , Even with TCP, the existing session will still flow to the same backend. New flows will be routed to the healthy backend resource.

[2020-01-17 15:43] KjetilEVRY opened #46369 "Domain Controller DNS needs special attention"
Even if you specify custom DNS servers, when you promote a server to a Domain Controller, the VM changes from DHCP provided DNS Server settings from Azure on the nic inside the VM to the standard one provided by AD and sets them manually on the nic. This should be mentioned specially. And is this really supported to set the DNS server settings directly on the NIC inside the VM, or should we manual

[2020-01-17 15:55] RyanHill-MSFT commented on #46351
Thanks for the feedback @jbinard! We are currently investigating and will update you shortly.

[2020-01-17 15:57] mjunker commented on #16325
I also could not find any documentation on how to do this. Please explain.

[2020-01-17 16:07] silverl commented on #43133
@NavtejSaini-MSFT no one has responded.

[2020-01-17 16:11] nibaccam commented on #45700
#assign:@@akshaya-a

[2020-01-17 16:15] Norrch2 opened #46371 "Please provide details on IncludeInSSO"
Hello Azure B2C Team. I see references to the tag, &lt;IncludeInSSO&gt; but there is no explanation anywhere on what this actually does. Can you please provide a description of this element?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d3375c1-260a-279e-b408-27a9ea00ea2e
* Version Independent ID: d34d7fc9-c27e-2971-

[2020-01-17 16:16] webash opened #46372 "Exchange hybrid configuration not supported - but what does this mean?"
Azure AD Connect Cloud Provisioning support matrix specifies that `Exchange hybrid configuration` is not supported. However, what does this mean in reality? There is no detail. For example:

- Should the forest have no Exchange schema extensions/attributes?
- Should the forest not have an Exchange org/server? What if it did in the past?
- What actually happens if schema extensions **do** exist in

[2020-01-17 16:17] alvipeo commented on #46139
Apparently, the Groups claims are NOT supported for Azure B2C! So, please make a BIG note in the docs about this.

Also, you may add that B2C is just a ever-underdeveloped product :(

[2020-01-17 16:17] #46139 closed

[2020-01-17 16:19] jonclyde opened #46373 "Native Azure AD authentication for linux clients"
Good to hear native Azure AD authentication is supported for OpenVPN protocol and Windows 10, are there any plans to support Linux clients? We are very keen to have this but have a Linux only estate.

[2020-01-17 16:23] NavtejSaini-MSFT commented on #43133
@stevestein Can you please check who has to respond to this issue.

[2020-01-17 16:25] #46197 closed

[2020-01-17 16:26] hansmbakker commented on #44779
you can probably replace `DefaultHttpRequest` with

[code]

[2020-01-17 16:27] davidsmatlak commented on #45750
#please-close

[2020-01-17 16:27] #45750 closed

[2020-01-17 16:30] mwc360 commented on #46318
Just to confirm, my ADLSgen2 instance is behind a VNet, I create a service principal and I get "Forbidden" errors when connecting through the AutoResolveIntegrationRuntime but it connects when using my own self-hosted integration runtime. the SP has Storage Blob Contributor access on the ADLS instance....BUT my managed identify auth for that same ADLS instance works with the AutoResolveIR. Is this

[2020-01-17 16:39] smf723 commented on #32857
They also don't support V2 via the API yet

[2020-01-17 16:41] n2N8Z opened #46374 "Common Error Format :-)"
"Stream data from Common Error Format appliances into Azure Sentinel."
should be
"Stream data from Common Event Format appliances into Azure Sentinel."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-6533-24eb-630c-559bd1549dc7
* Content: [Quickstar

[2020-01-17 16:41] #46128 closed

[2020-01-17 16:49] RavSalgado commented on #46230
Update: added a second Public UP address to the firewall to be able to NAT PIP to internal ILB. still don't seem to let me reach the webapp via the PIP DNS record, or PIP it self.

[2020-01-17 16:56] the-blesss opened #46375 "Are microsoft.AlertsManagement/smartDetectorAlertRules supported for move?"
I don't see these listed in the supported resources anywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operation support by resource type - Azure Resource Manager](https://docs.microsoft.com/en-us/

[2020-01-17 16:56] tamram commented on #46358
@cananac - Thanks for your feedback. If you are able to read data in the Azure portal without assigning yourself another role. you are most likely using your account keys. The Owner role includes the Microsoft.Storage/storageAccounts/listkeys/action, which grants the ability to use the access keys.

Please review [Use the Azure portal to access blob or queue data](https://docs.microsoft.com/en-gb/

[2020-01-17 16:56] #46358 closed

[2020-01-17 17:03] MarileeTurscak-MSFT commented on #46363
@JoostJansenMot10
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 17:08] sumitt18 commented on #46354
@KalyanChanumolu-MSFT
If all the documents in my collection are independent of each other, is it a good idea to use partition key and id as the same value? This will cause each logical partition to contain exactly one document. Is this a good design?

[2020-01-17 17:10] #46109 closed

[2020-01-17 17:10] #46154 closed

[2020-01-17 17:13] NavtejSaini-MSFT commented on #46098
@Rohini-MSFT We have assigned this issue to you.

[2020-01-17 17:13] #46145 closed

[2020-01-17 17:16] karthik25 commented on #46145
Sure, I will raise a feedback for this. I am going to use Azure Sync to achieve this for now, but this feature would do a world of good!

[2020-01-17 17:16] tchristiani commented on #45994
@RohitMungi-MSFT is this a #product-question or a #doc-enhancement?

[2020-01-17 17:16] JasonWHowell commented on #46361
Hi @phatcher,

Did you use the servername for the user@servername? I don't think Ip would work there.

Thx, Jason

[2020-01-17 17:18] MarileeTurscak-MSFT commented on #46371
@Norrch2 thanks for this feedback.

@mmacy do you have any details about this tag? I've had another user ask about this recently as well.

[2020-01-17 17:19] azure2439 commented on #46174
Hi Krishna, Just wanted to check if there has been any update on this. Thank you

[2020-01-17 17:20] tchristiani commented on #46265
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-17 17:20] #46265 closed

[2020-01-17 17:20] tchristiani commented on #46108
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-01-17 17:20] #46108 closed

[2020-01-17 17:29] TzurTurkenitz opened #46376 "Python SDK - Azure EventHub - Outdated Examples"
- Service: Azure Python SDK, Azure Event Hub
- Quickstart: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-python-get-started-send
- Github Repoistory:

Hi,
I am following the quickstart guide ( https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-python-get-started-send ) for Azure Event Hub w/Python SDK.

The steps listed in the quickstart guide are not in sync with the actu

[2020-01-17 17:29] nofield opened #46377 "Blob Trigger on Key Vault Referenced Connection String?"
Hello! I'm wondering if it's possible to use a Key Vault-stored connection string as the connection string for a blob trigger? I've tried making the application setting a Key Vault reference, to a Key Vault the function has permissions to access, but the function is never triggered. This causes an inconvenience in deployment, because I can't outright store connection strings in text, so my applica

[2020-01-17 17:31] j82w commented on #45842
@alexmartinezm please have a look at the [new samples](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/a0bd45ab6edb3f75d931a7dc2c8746192057f1d7/Microsoft.Azure.Cosmos.Samples/Usage/UserManagement/UserManagementProgram.cs#L181). It has examples on how to query all the permissions.

[2020-01-17 17:31] anderbr-au commented on #38603
Form never appears after selecting 'create event subscription' for function. Can it be manually configured?

[2020-01-17 17:38] cynthn commented on #46256
@kazshi If you wanted to just delete the Hyper-V VMs and use the disks to create new Azure VMs, then this is probably the right topic. You want to use "-attach" to attach the VHD to a new VM.

You also might want to look at this topic, if you want a more automated method using Azure Site Recovery: https://docs.microsoft.com/en-us/azure/site-recovery/migrate-overview

[2020-01-17 17:41] mmacy commented on #46371
@Norrch2 @MarileeTurscak-MSFT There's a comment in a code snippet in the [Protocol](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-technical-profile#protocol) section that says:

[code]

...but that's not super visible. Will poke around for a more visible/appropriate spot. Stay tuned.

[2020-01-17 17:45] roygara commented on #46132
@lusteel Thanks for reaching out, I actually just tested both scripts myself, they work fine as described in the article. I'm not sure why it wouldn't be working for you. Were you using the CLI or the PowerShell versions (or both)?

We're also going to leave the script as-is, since its output is much smaller and easier to read.

[2020-01-17 17:49] ThomasWeiss commented on #46339
@kiranpradeep Private endpoints for Azure Cosmos DB are only available in the West Central US, West US and North Central US regions currently. Maybe you tried to use resources that were not in these regions?

[2020-01-17 17:50] tehtertot commented on #46331
Thank you. The issue I was having seemed to do with versioning of the different packages. When I updated to Microsoft.Azure.WebJobs.Extensions.ServiceBus Version 3.1.0, I was able to bind the incoming JSON to a custom class. For reference (if anyone else experiences this issue), I am also using Microsoft.Azure.WebJobs.Extensions.CosmosDB Version 3.0.4.
(These are currently not the default packages

[2020-01-17 17:51] ThomasWeiss commented on #46341
@kiranpradeep Same remark as the other issue, please make sure you're using one of the [supported regions](https://docs.microsoft.com/en-us/azure/private-link/private-link-overview#availability), thanks!

[2020-01-17 17:52] cynthn commented on #46335
@gurubobnz Thanks for the feedback! Adding another user to a VM is an OS specific process, it isn't different for an Azure VM vs remotely adding a user for an on-prem server. The same is true for Windows VMs as well.

What distribution are you using? I can look into the SSH docs for that distro.

[2020-01-17 18:00] alejuanito commented on #16997
Any solution? :'(

[2020-01-17 18:01] #45950 closed

[2020-01-17 18:05] mmacy commented on #46165
Yes, thanks for the notification, @timpeteren! Will investigate.

[2020-01-17 18:14] JoeDRowan commented on #45994
Looks to me like the relevant text is already in there - It's just missing as part of the verbiage above.
Ref: https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/master/documentation-samples/quickstarts/ContentModerator/Program.cs

[2020-01-17 18:14] yegu-ms commented on #44353
@mignonsys These ports are needed not just for data persistence. Azure Cache uses storage to intermediate control messages and hold node health status.

[2020-01-17 18:15] yegu-ms commented on #44353
#please-close

[2020-01-17 18:15] #44353 closed

[2020-01-17 18:22] javerdej commented on #42871
The documentation (System Requirements) link from the download page (https://www.microsoft.com/en-us/download/details.aspx?id=47594) is still broken (404 - Page not found)

[2020-01-17 18:26] anavinahar commented on #46049
#assign: @anavinahar

For Standard Load Balancer, multi-dimensional **metrics** are provided through Azure Monitor.
For Basic Load Balancer, **logs** are provided.

Hope this clarifies.

[2020-01-17 18:28] pragnagopa opened #46379 "[AzureFunctions]Add documentation on triggering using filename patterns"
cc @ggailey777 @paulbatum
Update documentation here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns to include following example:

[code]
Above function is triggered only on file names that match pattern: anyname-anyfile.csv

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-17 18:29] TylerMSFT commented on #43215
@FrankHu-MSFT, I thought a more appropriate place for this info, since this page doesn't talk about AuthenticationParameters, is this topic: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-pass-custom-state-authentication-request
I've updated that topic to talk about the forceRefresh attribute information. It should go live later today.

[2020-01-17 18:30] ChristianMontoya commented on #46294
Forwarded internally. Will try and respond in the next few days once I get some more information.

[2020-01-17 18:33] andrewleader opened #46380 "samplingExcludedTypes is vague/ambiguous"
It's unclear what the Application Insights samplingExcludedTypes property means. It says `A semi-colon delimited list of types that you do not want to be sampled.`... So that means these types are uploaded at full 100% rate? Or it means they aren't uploaded at all?

It's odd that this setting exists outside of the sampling settings if it's dependent on sampling.

---
#### Document Details

⚠ *Do n

[2020-01-17 18:33] NavtejSaini-MSFT commented on #46086
@stevestein If you can provide us the reference document we can correct this or please check.

[2020-01-17 18:35] SaurabhSharma-MSFT commented on #46372
@webash Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 18:35] FrankHu-MSFT commented on #46360
@ZaherButt Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 18:36] SaurabhSharma-MSFT commented on #46360
@ZaherButt Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-17 18:36] #46205 closed

[2020-01-17 18:36] #46115 closed

[2020-01-17 18:47] NingKuang commented on #30370
We don't have an ETA yet. We will give you an update when we have more information. Thank you for your patience.

[2020-01-17 18:47] #45946 closed

[2020-01-17 18:47] MartinJaffer-MSFT commented on #46362
@orsolyag  Thank you for bringing this to our attention.  I will assign this to author for updating.
@Minewiskan

[2020-01-17 18:48] Karishma-Tiwari-MSFT commented on #46055
@daneri-norkart Just wanted to check with you if you are seeing the updates in Azure Portal under Service health. If your subscription is affected by [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/46055#issuecomment-574294762), you should see updates there. Let me know.

[2020-01-17 18:49] mcollier opened #46381 "Missing example Java trigger example for Service Bus message metadata"
It would be helpful if there was a Java trigger example showing how to retrieve metadata (such as UserProperties) for a Service Bus message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0440205f-adcc-0fc5-3adb-db4dbe1d1292
* Version Independent ID: 14ad1300-590c-8102-6887-366078e1882a
* Content: [Azure Service Bus bi

[2020-01-17 18:49] Karishma-Tiwari-MSFT commented on #45928
@marcin-vt If your issues is the same as the screenshot shared above, you must have received updates under service health on Azure portal, for your subscription as well. Let me know.

[2020-01-17 18:54] hukun01 opened #46382 "How do I know the latest versions of typeHandlerVersion?"
Hey, I'm trying to upgrade our KV extension, could you provide a link to the version history of typeHandlerVersion that is currently supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52b0724-6b3b-0daf-7749-d18104d6a40b
* Version Independent ID: 56e5c7c4-f456-fc2e-99da-2771eb162947
* Content: [Azure Key Vault V

[2020-01-17 18:56] gamullen opened #46383 ""Recieve""
Misspelling in note at top of document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bf51cac-f999-cb1c-b2c8-bf5cc224ecf8
* Version Independent ID: db10a084-09b8-6d25-05e5-e8c60507e474
* Content: [Tutorial: Secure a Windows web server with SSL certificates in Azure - Azure Windows Virtual Machines](https://docs.micro

[2020-01-17 19:11] Karishma-Tiwari-MSFT commented on #46355
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-17 19:15] cynthn commented on #46383
@gamullen Thanks for the feedback! I've filed a pull request with a fix to the spelling error. When it is merged, this Issue will be closed :)

[2020-01-17 19:15] Karishma-Tiwari-MSFT commented on #46359
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-17 19:16] Wicaeed opened #46384 "Azure to VMware failback really doesn't support Runbooks or Scripts?"
I'm really surprised to find this limitation. If Runbooks are supported in Recovery Plans from On-prem VMware to Azure, but not Azure to On-prem VMware, how are we supposed to script actions that need to be coordinated during a failback?

Do I need a Manual Action after every Script step so that I can manually run these scripts during ASR failback?

---
#### Document Details

⚠ *Do not edit this s

[2020-01-17 19:22] AjayKumar-MSFT commented on #46332
@davidsandbrand, That's a good catch! Thanks for bringing this to our attention. I'm in the process of updating the screenshot & will post back soon.

[2020-01-17 19:30] Minewiskan commented on #46191
@MohamedSahbi - Thanks for your suggestion. According to the gateway product team, this scenario has not been tested, therefore we cannot provide guidance at this time. In-general, a gateway is required when connecting Azure resources to on-premises data sources. If your own testing determines a gateway is not required, please re-open this Git Issue or create a new Git Issue on the [Data Gateway d

[2020-01-17 19:30] #46191 closed

[2020-01-17 19:31] FrankHu-MSFT commented on #45975
Hey @samirs20 alright sounds good, we'll go ahead and discuss putting this in. As this has been addressed, I'll be closing out this github issue. please let us know if you have anymore concerns or questions to be addressed.

[2020-01-17 19:53] johnheusinger opened #46387 "unrecognized arguments: --html"
Receiving error "unrecognized arguments: --html" when running "az webapp up --location westeurope --name &lt;app_name&gt; --html"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [QuickStart: Create a static HTM

[2020-01-17 19:54] preddy727 commented on #33392
This is how I fixed it.

1)	Clean up the python 2.7

sudo apt purge python2.7
2)	Install pip version 3

sudo apt-get install python3-pip

3)	Install ansible using version 3 of python

     sudo pip3 install ansible[azure]

[2020-01-17 20:15] dlepow commented on #46323
@datafisk - Yes, appreciate your comment. The JSON example in the article is a snippet showing required additional properties for the scenario, not a complete deployment template. We'll update the article soon with a complete template.
#in-progress

[2020-01-17 20:27] mike-urnun-msft commented on #46377
@nofield Thank you for your feedback! We will review and update as appropriate.

[2020-01-17 20:28] mike-urnun-msft commented on #46380
@andrewleader Thank you for your feedback! We will review and update as appropriate.

[2020-01-17 20:28] himanshusinha-msft commented on #46043
@Manishjpradhan : I reached out to the internal team and they do not have plans to work on this feature for the next 6 months .
I see that you have already add the ask here https://feedback.azure.com/forums/270578-data-factory/suggestions/39213706-adf-connector-for-microsoft-dynamics-365-finance-a
. At this time we will go ahead and close the issue , you can also reopen the same if you wish to .

[2020-01-17 20:28] #46043 closed

[2020-01-17 20:30] mike-urnun-msft commented on #46381
@mcollier Thank you for your feedback! We will review and update as appropriate.

[2020-01-17 20:33] mike-urnun-msft commented on #46379
Thanks, @pragnagopa! We will review and update as appropriate.

[2020-01-17 20:36] MicrosoftGuyJFlo commented on #45978
https://github.com/MicrosoftDocs/IntuneDocs/issues/3386

[2020-01-17 20:43] levi106 commented on #43818
Thanks, Understood.

[2020-01-17 20:48] #46383 closed

[2020-01-17 20:52] MicrosoftGuyJFlo commented on #45933
Whatever external IP is passed at sign-in would be the IP that gets evaluated. It depends on how your split tunnel is configured so I cant tell you how it will perform in your individual case.

[2020-01-17 20:57] RavSalgado commented on #46230
Update: Created a private dns zone to be able to access app internally. But still, can't map out for public address. I understand this is only for document-related inquiries and not troubleshooting but since it's based on an article (https://docs.microsoft.com/en-us/azure/app-service/environment/firewall-integration) thought relevant.

[2020-01-17 21:05] MarileeTurscak-MSFT commented on #46367
@subglo since this is a product question and not feedback on a particular document, please ask this in Microsoft Q&A, our new platform that we monitor daily to support these types of questions. https://docs.microsoft.com/answers/topics/azure-active-directory.html

[2020-01-17 21:05] #46367 closed

[2020-01-17 21:05] cemeyer commented on #32846
I'd appreciate documentation on it.  It's not like the portions I'm interested in (those used by the ASL2-licensed, open source WALinuxAgent) are private or proprietary; there is some implicit documentation in that codebase.  It's just not explicit, and the code doesn't lend itself to straightforward documentation of APIs (the code paths involved cross through many different Python files).

E.g.,

[2020-01-17 21:14] MarileeTurscak-MSFT commented on #46363
Thanks @JoostJansenMot10 , I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101571

[2020-01-17 21:14] #46363 closed

[2020-01-17 21:39] krsanty opened #46389 "Inconsistency in diagram"
Under "Move VMs as is to a target region", for "Single-instance VMs deployed across various tiers" the diagram shows that in the target region the VMs are deployed to Availability Zones (instead of keeping them as is).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf7273d-95c9-2e5e-09e6-4425af91e71d
* Version Indepen

[2020-01-17 22:03] TravisCragg-MSFT commented on #46369
@KjetilEVRY Thanks for the feedback. Either way of setting the DNS is supported, it is up to you to implement the best way for your deployment.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-01-17 22:20] himanshusinha-msft commented on #46070
@vlado101 : The negative startIndex is not there in ADF , but then we can use below expression to achieve what you called out above .

@substring(variables('DateVariable'),add(lastindexof(variables('DateVariable'),'_'),1),sub( Length(variables('DateVariable')),add(lastindexof(variables('DateVariable'),'_'),1)   )   )

I am storing the filename in the variable DateVariable . I did tested the output

[2020-01-17 22:20] #46070 closed

[2020-01-17 22:23] MarileeTurscak-MSFT commented on #46346
@ganesh-gawande please include the link to the document that you are following so that we can assist.

[2020-01-17 22:33] Grace-MacJones-MSFT commented on #46387
Hi @johnheusinger, I would suggest upgrading to the newest version of CLI and try to run the command again. Please run az --version to make sure you are using newest CLI. Let us know if that helps.

[2020-01-17 22:38] femsulu commented on #46364
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-17 22:40] femsulu commented on #46374
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-17 22:43] femsulu commented on #46375
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-17 22:43] MarileeTurscak-MSFT commented on #46374
Thanks, just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101586

[2020-01-17 22:43] #46374 closed

[2020-01-17 22:48] MarileeTurscak-MSFT commented on #46077
Thank you for confirming! Glad it worked out.

Feel free to make a pull request so that you can get credited if you think the doc can be further improved.

[2020-01-17 22:48] #46077 closed

[2020-01-17 22:50] kgremban commented on #40805
Hi @brad-dixon from what I can tell, that error has to do with some prerequisites being missing or out of date. Double check that you have the required SDKs set up on your machine, update Visual Studio and any extensions you might have, or try to repair your Visual Studio instance. A web search of that error message brought up several pages of results with people offering troubleshooting suggestio

[2020-01-17 22:53] tfitzmac commented on #46375
@the-blesss - thanks for this feedback. Yes, smartdetectoralertrules supports move for resource group and subscription. I have submitted an update to this article, which should get published either this afternoon or Tuesday morning.

[2020-01-17 23:04] anavinahar commented on #46049
#please-close

[2020-01-17 23:04] #46049 closed

[2020-01-17 23:10] MarileeTurscak-MSFT commented on #46241
Yes, this is supported. You can find documentation and instructions here: https://github.com/Huachao/azure-content/blob/master/articles/active-directory/active-directory-saas-workday-tutorial.md

And here:

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial

[2020-01-17 23:10] MarileeTurscak-MSFT commented on #46241
If you have further questions, please reach out in Microsoft Q&A as the docs channel is intended for document feedback and bug reports.  https://docs.microsoft.com/answers/questions/index.html

[2020-01-17 23:10] #46241 closed

[2020-01-17 23:14] femsulu commented on #46376
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-17 23:15] gurubobnz commented on #46335
@cynthn Thanks, it wasn't clear from the document that the method of adding a user at VM creation time was different to adding a user after creation. It totally makes sense that it's an OS specific step after that point. Thanks.

[2020-01-17 23:15] #46335 closed

[2020-01-17 23:17] femsulu commented on #46384
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-17 23:26] femsulu commented on #46389
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-17 23:35] MarileeTurscak-MSFT commented on #46286
This link explains how you can set Set-AzureADUser -ObjectId <user ID> -PasswordPolicies None

This will prevent users from using passwords that are older than 90 days old.

I agree that it might be more useful to link to the page about how to set individual password expiration policies, which is located here. https://docs.microsoft.com/en-us/office365/admin/manage/set-password-expiration-policy?v

[2020-01-17 23:36] MarileeTurscak-MSFT commented on #46286
I'm closing this out but if you have further feedback or questions, feel free to tag me in the comments or send me an email (listed on my profile page) and I will gladly continue the discussion.

[2020-01-17 23:36] #46286 closed

[2020-01-17 23:39] kraigb commented on #46376
@femsulu I don't own this article. The metadata says ShubhaVijayasarathy, who should take care of it.

[2020-01-17 23:43] femsulu commented on #46373
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-17 23:49] MarileeTurscak-MSFT commented on #46346
Please post your question to Q&A or MSDN as this seems unrelated to a particular document. If I am mistaken, please open your feedback on the document that you are following. https://docs.microsoft.com/answers/

[2020-01-17 23:49] #46346 closed

[2020-01-17 23:50] oviliz commented on #43248
@SnehaAgrawal-MSFT , I'm having this exact problem in West Europe...

[2020-01-17 23:53] femsulu commented on #46376
adding @ShubhaVijayasarathy

[2020-01-18 00:05] femsulu commented on #46027
Thanks @stephbaron.

@CedricZhu Please review the update above and  If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-18 00:09] kgremban commented on #46096
@MaxThom Thanks so much for sharing what worked for you! Hopefully this will help others setting up the same scenario.

There's a lot of excitement for IoT Edge on rpi4/raspbian buster, and the team is working on getting that supported but it's not ready for tier 1 yet. I'm going to close this issue since there's no documentation action that I can take on it, but thank you again for contributing y

[2020-01-18 00:09] #46096 closed

[2020-01-18 00:12] chetansriv commented on #43825
@githubavi We have updated the article as suggested, please review

#please-close

[2020-01-18 00:12] #43825 closed

[2020-01-18 00:17] tfitzmac commented on #46375
The update has been published.
#please-close

[2020-01-18 00:17] #46375 closed

[2020-01-18 00:19] tfitzmac commented on #46292
The articles has been updated.
#please-close

[2020-01-18 00:19] #46292 closed

[2020-01-18 00:24] areddish commented on #46280
Hi @christoffer-roed,

Sorry to hear you are having problems. One thing to check is that the ENDPOINT is correct for the key, the sample uses the southcentralus region's endpoint. But if your prediction resource is created in a different region you can get that error if you pass in a valid key but the wrong endpoint.

You can find this information in the settings page:
![settings page](https://doc

[2020-01-18 00:33] tfitzmac commented on #46322
@sathyarajv - can you provide us with more information about what you mean by deploying code from one subscription? Azure Resource Manager templates are generally for deploying infrastructure but in some cases the infrastructure points to code in a repository or storage account. Access to that code would be managed through a token.

[2020-01-18 00:36] tfitzmac commented on #46322
Or, you could add the account as a [guest user](https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b) to the other tenant.

[2020-01-18 00:38] Mike-Ubezzi-MSFT commented on #46365
@Simon-HL Thank you for bringing this to our attention. We will step through this tutorial, identify the root cause and update the document accordingly.

[2020-01-18 00:38] tamram commented on #46307
@jamserra - Append blobs are a type of block blob. That's stated in the documentation, but I've added some additional clarifications in this article, which will go live over the weekend.

[2020-01-18 00:42] tamram commented on #46305
@jamserra - The only premium tier available with a general-purpose storage account is the premium tier for page blobs (e.g., unmanaged disks).

I've made a minor clarification in the text.

[2020-01-18 00:47] tfitzmac commented on #44839
@lukepuplett - I have added a highlighted Note to the text describing how incremental mode handles resource updates.

You could consider adding a [lock on the resource group](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources) to prevent updates outside of the template deployment. You would then have to remove the lock each time a deployment is run.

Maybe it h

[2020-01-18 00:52] cynthn commented on #43344
@MicahMcKittrick-MSFT Who is owning classic to resource manager migration now?

[2020-01-18 01:27] cynthn commented on #45331
@kalyanavvaru Thanks for the feedback! I'm removing the zones information from the article because it isn't covered in the steps that follow. Thanks for pointing out that it was incorrect and confusing.

#please-close

[2020-01-18 01:27] #45331 closed

[2020-01-18 01:29] Karishma-Tiwari-MSFT commented on #45939
@davidbel Would you be able to provide your inputs on this question. Thanks :)

[2020-01-18 01:31] Karishma-Tiwari-MSFT commented on #46048
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-18 01:32] Karishma-Tiwari-MSFT commented on #46163
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-18 01:43] #46170 closed

[2020-01-18 01:44] Karishma-Tiwari-MSFT commented on #46134
I am not sure why you are seeing this error. Can you provide more details as in what steps did you follow and about your setup?

[2020-01-18 01:44] Karishma-Tiwari-MSFT commented on #46289
@challengelogic Is there any update? Let me know.

[2020-01-18 01:51] Skhorava commented on #43925
@MicrosoftGuyJFlo Thanks for your response. But I wish to find the difference first as I have to do the same thing in many of my clients accounts.

[2020-01-18 01:52] kevinlam1 commented on #31375
Can you provide an example of what you mean by using a nested setProperty() call?

[2020-01-18 01:55] Karishma-Tiwari-MSFT commented on #46274
Can you please check if you are running the latest AKS release version? Let me know.

[2020-01-18 01:58] pradm opened #46391 "Loopback CNI Plugin parameter should it be specified?"
[root@rh8dcmpo dockerfiles]# /scripts/install-cni-plugin.sh v1.0.12-rc3
Creating CNI directories.
Package ebtables is already installed.
Installing azure-vnet CNI plugin version v1.0.12-rc3 to /opt/cni/bin...done.
Installing azure-vnet CNI network configuration file to /etc/cni/net.d...done.
Installing loopback CNI plugin version v0.4.0 to /opt/cni/bin...
gzip: stdin: not in gzip format
tar: Child

[2020-01-18 02:18] Karishma-Tiwari-MSFT commented on #46122
Is there an update? Let me know. Thanks

[2020-01-18 02:22] tamram commented on #46358
I've updated the note to clarify that the portal may use the account key. The change should be live by next week.

[2020-01-18 02:23] shAFXr commented on #45978
Thank you. @MicrosoftGuyJFlo
The clarification request raised was indeed closed and considered out of scope. I do find this an unfair assessment. As an implementer it is certainly vital to understated the mechanisms being leveraged. As documentation states, conditional access at the Exchange On-Premise Intune connector and Azure Conditional Access are not the same. HOW each concept and it’s mechan

[2020-01-18 02:27] Karishma-Tiwari-MSFT commented on #46382
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-18 02:31] tamram commented on #46304
@jamserra - I agree, the wording there needs improvement. I've made the clarification and it should go live over the weekend.

[2020-01-18 02:32] tamram commented on #46307
#please-close

[2020-01-18 02:32] #46307 closed

[2020-01-18 02:32] tamram commented on #46305
#please-close

[2020-01-18 02:32] #46305 closed

[2020-01-18 02:32] tamram commented on #46304
#please-close

[2020-01-18 02:32] #46304 closed

[2020-01-18 02:37] VikasPullagura-MSFT commented on #46316
@petetian Any update on this.

[2020-01-18 02:45] petetian commented on #46316
Vikas,

I run this command in the CLI initiated in Azure portal, not my local
installation.

Here's the screenshot of the verison:
pete@Azure:~$ az --version
azure-cli                         2.0.78 *

command-modules-nspkg              2.0.3
core                              2.0.78 *
nspkg                              3.0.4
telemetry                          1.0.4

Hope it helps.

BTW, I am Micro

[2020-01-18 02:46] VikasPullagura-MSFT commented on #46186
@ChrisSommers Yes it is possible to deploy them in Availability Zones, but you need to have Standard Load Balancer for Listeners.

[Here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-high-availability-dr#azure-only-high-availability-solutions) is the document with info:
For higher redundancy and availability the Azure VMs can be deployed in diffe

[2020-01-18 02:47] petetian commented on #46316
Tried again, it doesn't work.

[image: image.png]

On Fri, Jan 17, 2020 at 6:44 PM Pete Tian <pete.tian@gmail.com> wrote:

[2020-01-18 03:02] VikasPullagura-MSFT commented on #46316
@petetian Thanks for providing additional detail on the issue.
Only difference I see for my cluster and the one you are trying is the k8s versions.
I am uploading the screenshots of both and will have the AKS team look into this and add comments on this.

![image](https://user-images.githubusercontent.com/48944027/72657657-d782b300-39cc-11ea-8318-71d2eec0f0b1.png)

![image](https://user-images.git

[2020-01-18 03:03] kongou-ae commented on #33533
My workaround is as follows.

[code]

[2020-01-18 03:18] aschip opened #46392 "If you click on the "Sign up now" I am sure it displays the "Azure Blue" or whichever template you have."
This is a good start but inadequate. If someone wants to customise the UI, I am sure they want to change the "sign up" or "registration" UI as well.
There is not a single straight forward tutorial on here, which tells us how do we configure the "Sign up" or "registration" UI.

Can we please add that information on here?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-01-18 03:38] Karishma-Tiwari-MSFT commented on #46121
Please go through the documentation below on details on creating and managing host pool and let me know if you have any questions.
https://docs.microsoft.com/en-us/azure/virtual-desktop/tenant-setup-azure-active-directory

[2020-01-18 04:20] JoshDaone opened #46394 "Hope the sample can be changed to a specific URI folder rather than the / root"
Great scenario sample, but one thing I'd like to add is change the default voting-app access URI to a specific path (maybe /vote) instead of root (/) for some istio deployments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e91998-d53d-5074-5c67-0f9f031bc26c
* Version Independent ID: 989fa4fe-e7a8-2003-6a89-73beaade

[2020-01-18 04:39] #46341 closed

[2020-01-18 04:52] LearnsHappily opened #46395 "Screen shots have options thar aren't on my ARM Azure Portal"
Screen shots have options thar aren't on my ARM Azure Portal
There is no "detach" anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d78385db-23e4-0471-6d03-262ac6c73407
* Version Independent ID: d2ebdfb2-5f43-8bdc-fdb4-01948a275681
* Content: [Attach or detach a data disk to a virtual machine in Azure DevTest La

[2020-01-18 06:06] ggailey777 commented on #46118
@mcopik it looks like @ahmelsayed has fixed this issue in the linked PR. Thanks for reporting it! #please-close

[2020-01-18 06:06] #46118 closed

[2020-01-18 06:59] johnheusinger commented on #46387
Hi @Grace-MacJones-MSFT and thanks for your response. The step-by-step instructions specifically call for use of the Azure Cloud Shell, and please correct me if I'm wrong but I don't think you can update to a newer version there. I was able to resolve my issue after some time by changing my approach completely.

[2020-01-18 07:40] #45975 closed

[2020-01-18 07:43] shashishailaj commented on #45983
@samirs20 WE have checked this internally and found that the feature was released as Preview . We do not recommend to try out preview features on production or mission critical workloads as they can be taken off or disabled without any notice. As of now we have added a note to the Current article. We will be closing this issue now.

Thank you.

[2020-01-18 07:43] #45983 closed

[2020-01-18 10:15] JGezels commented on #28264
Is there any news on the ability to create and delete users in a AU? To be thruly independable to manage users by different divisions, this would be very interesting for them to be able to provision and de-provision

[2020-01-18 10:38] shashishailaj commented on #46014
@omerzubair Thank you for catching this. This content is already in the archive section and is in the process of being removed gradually.
![image](https://user-images.githubusercontent.com/532022/72662381-80043780-3a0c-11ea-83b2-bd4dd79ba981.png)

You can view the [current workflow automation article here](https://docs.microsoft.com/en-us/azure/security-center/workflow-automation).  We will be clo

[2020-01-18 11:23] KrishnaG-MSFT commented on #46391
@pradm Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-18 11:27] KrishnaG-MSFT commented on #46392
@aschip Thanks for the feedback.
Assigning @mmacy for visibility, review and document enhancement consideration.

[2020-01-18 11:30] #46014 closed

[2020-01-18 11:46] KrishnaG-MSFT commented on #46394
@JoshDaone Thanks for the feedback.
Assigning @paulbouwer  for visibility, review and document enhancement consideration.

[2020-01-18 11:52] KrishnaG-MSFT commented on #46395
@LearnsHappily Thanks for the feedback.
Assigning @MohitVerma-MSFT for visibility, review and to correct the document if appropriate or assign to author if required.

[2020-01-18 11:56] ilyastoli commented on #34546
This document still has the old module name "azure_rm_aks_version"
https://docs.microsoft.com/bs-latn-ba/azure/ansible/ansible-aks-configure-cni-networking

[2020-01-18 14:43] michael-wirth opened #46397 "Can't modify the kubernetes-dashboard serviceaccount"
I create a AKS Cluster via the Azure Portal with RBAC. When connecting to the Kubernetes Dashboard I get lot's of permission alerts. When I make changes to the Kubernetes Dashboard Deployment, Clusterrolebinding or Clusterrole the changes get reset immediately. How can I make the changes persistent?

Kubernetes: 1.17.0
Kubernetes Dashboard: aksrepos.azurecr.io/mirror/kubernetesui/dashboard:v2.0.0-

[2020-01-18 15:32] sharmamanish260979 opened #46398 "Self Hosted IR unavailable after ARM deployment"
We are trying to use self hosted integration runtime to extract data from on-prem fileshare. To implement CI/CD, i have created arm templates from the data factory where IR is successfully working and i enabled sharing on for the datafactory in which i am going to deploy my pipelines using arm templates. I can successfully deploy pipeline and self hosted IR and linked services but IR is not availa

[2020-01-18 15:38] waltersnyder2 opened #46399 "Confusing Statements at the top of the document"
Each virtual network can have only one VPN gateway. 

Virtual network gateway

A virtual network can have two virtual network gateways; one VPN gateway and one ExpressRoute gateway - as is the case with coexisting connection configurations. 

So how many gateways can a virtual network have ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-01-18 17:17] kiranpradeep commented on #46339
Ok. I corrected the region now. I created new cosmos DB account in West US region. But still the resource type combo box is disabled.

Is there any piece of information like [az cosmosdb show](https://github.com/MicrosoftDocs/azure-docs/files/4081149/cosmos.txt) which I can provide for you to validate? For e.g currently the access is allowed from `All networks` in firewall configuration. Should th

[2020-01-18 17:20] hruday94 commented on #46314
The link I used for reference was https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-python#connect-to-azure-table-service

[2020-01-18 17:38] msrini-MSFT commented on #46399
@waltersnyder2  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-18 17:39] msrini-MSFT commented on #46298
@amirgra , do you have any update for me?

[2020-01-18 17:55] mjkwak commented on #9626
The heading seems to be the same, so the same question popped in my mind, don't know if the PR was rejected?

[2020-01-18 18:19] v-pethur opened #46400 "Typo: "You're not charge(d) for any usage below...""
Hello, I think I found a typo.
In the "Reservation discount for non-Windows VMs" section, in the 2nd sentence of point 1), it reads, "You're not charge for any usage below... "
Please consider changing "charge" to "charged".
Thank you


---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43852e1b-711e-98e6-7f3e-e98578cad660

[2020-01-18 18:21] llgjermeni commented on #43557
I have the same problem the azure data lake storage gen2 doesn't recognize the Data factory Managed Identity Application ID.
It recognize the Data Factory Managed Identity Object ID but when I try to connect using Managed Identity from azure data factory linked service it's give me this error

ADLS Gen2 operation failed for: Operation returned an invalid status code 'Forbidden'. Account: 'freelanc

[2020-01-18 18:45] JohnMoor commented on #28264
Good point, @JGezels It looks like there is very little development on AUs at the moment. I've not found any update on it (not even in the AzureAD sessions at Ignite 2019).

For AU to be useful it needs the ability for:
1. Scoped AU admins to create and delete users (I have a workaround to create users via [Power Automate ](https://flow.microsoft.com/en-us/galleries/public/templates/72566f84f90143

[2020-01-18 19:50] Bryankarlsson commented on #34451
I also have some issues when deploying a docker image with a dotnet core project

Dockerfile:
[code]
Error from the logs:
[code]

Must I set some settings in Configuration -> Application settings in Azure?

[2020-01-18 19:54] jonwbstr commented on #43961
The docbug is that we message says classic policies are enabled, but does not indicate how to disable them. Had to dig through a closed issue to find information that should be covered in the main document.

Disable classic policies from:
Azure AD > Conditional Access, and
Azure AD Conditional Access > Classic Policies

Classic Policies Direct URL: https://portal.azure.com/?microsoft_aad_iam_class

[2020-01-18 20:54] Bryankarlsson opened #46401 "Container didn't respond to HTTP pings on port: 80, failing site start."
I have an docker image containing a .NET Core 3.0 API application that I have pushed to docker hub.

Dockerfile
[code]

Inside of Azure, i'm creating a Web app for containers. However, the container seems to fail to start according to the logs:
[code]

I have tried to set both PORT and WEBSITES_PORT to 80 in the configuration, but it don't work.

Edited: Added doc details

---
#### Document Detail

[2020-01-18 22:10] femsulu commented on #46397
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-18 22:28] femsulu commented on #46398
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-18 22:28] femsulu commented on #46400
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-18 22:31] femsulu commented on #46401
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-19 01:07] samuelkilada commented on #6788
Thank you! It's the remnants in the "C:\Program Files\Azure Cosmos DB Emulator" folder that did it. You know, a lot more people would probably use CosmosDB if the emulator wasn't such a bear. :)

[2020-01-19 01:25] brad-dixon commented on #40805
@kgremban, yeah, the search I made produced this issue as a best bet but a subsequent search gave me a small lead re: the templates.  Not sure what I originally searched for but I never saw that other post until basically this morning.

For anyone in the future, the issue was with a FQ\UNC style path in my VS settings for the item and project template locations.  That meant I needed to be on the c

[2020-01-19 01:55] juuni26 commented on #43633
this still up, just happened before. why its closed ?

[2020-01-19 02:22] heresabya opened #46402 "Azure IoT not installed in Raspberry PI 3 B with Windows 10 IoT core Build 17763"
As per the document Azure IoT edge should be installed in Raspberry PI. I tried to install Azure Iot Edge on RPI on Raspberry PI 3 B , OS - Win IoT core build 17763 using the following document
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows .

During Option 1: Install and manually provision step 3 The Deploy-IoTEdge command  I am getting following issue :

IoT Edge

[2020-01-19 02:26] heresabya opened #46403 "Azure IoT Edge Runtime not installed in PI 3 B with Windows 10 Iot Core build 17773"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f41e023-819c-64a1-8bef-d050481a7ef7
* Version Independent ID: 6f918de8-3e37-5f10-9b5b-aaf453869d2e
* Content: [Install Azure IoT Edge on Windows](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-windows#feedback)
* Content Sour

[2020-01-19 02:27] heresabya commented on #46403
Pls ignore the top lines
if($env:PROCESSOR_ARCHITECTURE -eq "x86"){"32-Bit CPU"}Else{"64-Bit CPU"}
if($env:PROCESSOR_ARCHITECTURE -eq "AMD64"){"64-Bit CPU"}Else{"32-Bit CPU"}

from the isssue description

[2020-01-19 02:34] #46381 closed

[2020-01-19 02:35] #46402 closed

[2020-01-19 02:36] mike-urnun-msft commented on #46381
@mcollier Thanks again for your feedback! I've created a PR that adds a sample demonstrating how to access User Properties metadata. The changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-19 03:45] KrishnaG-MSFT commented on #46402
@heresabya Hope you have self resolved and hence closed the issue. Thanks for the update. If there are any questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-01-19 03:48] KrishnaG-MSFT commented on #46403
@heresabya Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-19 05:39] mikejohnsonjr opened #46404 "ImportError: cannot import name WebSearchAPI"
I'm following this article:

https://docs.microsoft.com/en-us/azure/cognitive-services/bing-web-search/web-sdk-python-quickstart

When trying to import WebSearchAPI, I get the error in the title.

`from azure.cognitiveservices.search.websearch import WebSearchAPI`

azure-cognitiveservices-search-websearch is in my virtualenv as well. Can anyone help?

[2020-01-19 05:41] mikejohnsonjr commented on #46404
I downgraded to version 1 and am running the code with no problems

[2020-01-19 05:46] #46404 closed

[2020-01-19 07:35] mslot opened #46405 "Azure Functions Premium plan"
Reading this https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#premium-plan it states

Even though the maximum timeout for premium plan is 60 minutes: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits

Isn't 60 minutes the correct value and not unlimited duration for premium plans?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-01-19 08:11] shashishailaj commented on #46034
@kyriakopoulosd Thank you for trying out a preview feature. We use github primarily for documentation improvement . The current issue you have does not provide any error message and deeper traces may need to be taken for understanding the exact problem. As this feature is in preview , some issues may happen and we hope that you have not applied this to production workloads as its not recommended t

[2020-01-19 08:11] #46034 closed

[2020-01-19 08:34] msrini-MSFT commented on #46366
@yevhen-kuras , Do you have any update on this issue?

[2020-01-19 08:35] msrini-MSFT commented on #46399
@waltersnyder2 , You cannot have 2 Virtual Network gateway of same type in a Virtual Network. You can have an Express route gateway and a VPN gateway in the same VNET. That scenario is called co-existence.

[2020-01-19 09:27] KrishnaG-MSFT commented on #46404
@mikejohnsonjr Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-01-19 09:43] orspod commented on #45973
@CarlosOnline - we are unable to find errors in the commands for creating diagnostic logs. Please respond with detailed information regarding the errors. @kerend thanks for your assistance in reviewing the commands.

[2020-01-19 11:45] frehnejc opened #46407 "NSG rules similar to ASE"
Can the product teams please have consistent documents with regards to the products that need special network considerations, eg ASE have this in their document which makes it easy to follow:
https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#network-security-groups

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-01-19 13:23] AjayKumar-MSFT commented on #46069
As Cephas mentioned, kindly ensure that you have the prerequisites for this tutorial flow. For any technical questions on the topic you can always post your query on the [technical forum1](https://stackoverflow.com/questions/tagged/azure-web-app-service) and [technical forum2](https://docs.microsoft.com/answers/index.html) where one of our specialized engineers in the subject or the Azure communit

[2020-01-19 13:23] #46069 closed

[2020-01-19 13:41] jorgeso opened #46409 "What are the correct, detailed ways to submit child runs"
I've been looking for good documentation on how to submit child runs and I can't find any. This is the only article I've been able to find and it doesn't provide a complete picture. I have tried different variations of creating child runs but they all fail. Essentially, what I'm missing is how to create a child run, assign a compute target, and be able to pass script arguments to each child run.

[2020-01-19 15:06] SwathiDhanwada-MSFT commented on #46010
@akramwaseem We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-19 15:06] #46010 closed

[2020-01-19 15:18] Bryankarlsson commented on #46401
When I try to deploy a windows container, I get this error message:
`
Unable to start container. Error message: Open Compute System failed.`

So none of the Linux and windows containers works for me.

[2020-01-19 15:19] IanPozz81 opened #46410 "Slightly odd issue with id_token and access_token"
I’ve successfully used the ROPC grant to authenticate a user on my AD against a client app. I receive an access token and an id token in the response to the POST to the token endpoint.

When I parse both token JWTs from the response, the access token appears to contain all my user data and the id token contains no user data.

Furthermore, if I use the access token as a bearer header on a request t

[2020-01-19 15:29] AjayKumar-MSFT commented on #46230
Apologies for the delay! I see that you have also created a forum [thread](https://stackoverflow.com/questions/59757313/azure-internal-ase-with-firewall) on this query, you may continue your discussion there.
This channel is reserved for ‘Azure docs’ questions; for doc feedback and content improvements suggestions, on the technical forums one of our specialized engineers in the subject or the Azur

[2020-01-19 15:29] #46230 closed

[2020-01-19 15:29] Jayesh040 opened #46411 "Is ARM to ARM migration possible ?"
Can I convert Azure ARM Virtual Machine to Azure ASM Virtual Machine ?
Please advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6639a0-0876-89a9-1ad3-7bc0c6525b1f
* Version Independent ID: 2550fb37-013b-6a77-a5b2-e407190ed236
* Content: [Migrate classic resources to Azure Resource Manager - Overview - Azure Wind

[2020-01-19 15:46] moiso0496 opened #46412 "SAML Test App only working with old endpoint"
Please keep in mind that the login.onmicrosoft.com endpoint it is being deprecated, new tenants can't access that endpoint anymore, only the domian.b2clogin.com. Could you update the test application to work with the new endpoint? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1376f79b-474f-4b83-2583-07acd2eeb2

[2020-01-19 16:23] CoderGregH commented on #42861
I had issues running on Windows App Service as well. No issues with Linux. I went with LTS Node 10

[2020-01-19 17:07] KrishnaG-MSFT commented on #46405
@mslot Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-19 17:40] femsulu commented on #46409
Thanks for the comment. Mind sharing the link to the article you referenced above?

[2020-01-19 17:41] femsulu commented on #46410
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-19 17:52] jorgeso commented on #46409
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-runs

[2020-01-19 17:54] MichaelGrafnetter opened #46414 "Token Signing Certificate Rollover"
What is the rollover period of the SAML token signing certificate? In case the certificates expire, there should be a guidance on switching to a new one before the old one expires.
BTW, certificate info should ideally be retrieved from federation metadata instead of downloading the certificate manually. And SharePoint supports auto refresh of certificates from metadata in JSON format.

---
#### Do

[2020-01-19 18:00] Cloud-Architekt opened #46416 "App Consent Audit Workbook is missing"
Description of the new workbook for "App Consent Audit" is missing.
There is no documentation available for this workbook.
Only the JSON and Workbook file exists on GitHub repo:
https://github.com/microsoft/Application-Insights-Workbooks/tree/master/Workbooks/Azure%20Active%20Directory/App%20Consent%20Audit

"What's new"-documentation references to this page without any further information.
https:

[2020-01-19 18:01] femsulu commented on #46407
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience

[2020-01-19 18:10] femsulu commented on #46411
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-01-19 18:14] femsulu commented on #46412
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-19 18:56] anderseide commented on #33533
Got some great tips from some fellow MVPs that I don't have the GitHub alias for. They deserve all credit for this one.

Following solved it for me

[code]

`Set-AzContext` and  `Select-AzSubscription` should work again

[2020-01-19 20:47] jeevansd commented on #46414
@MichaelGrafnetter The certificate expiry is generally 3 years but it is up to the admin as Azure AD allow the custom certificate dates as needed. We have published documentation on Certificate roll over here https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/manage-certificates-for-federated-single-sign-on

[2020-01-19 20:48] jeevansd commented on #46414
#please-close

[2020-01-19 21:10] CESARDELATORRE opened #46420 "List of terms shouldn't be a laundry list but a hierarchical taxonomy of terms"
That list of concepts looks to me a laundry list... With that approach it takes significant time to users to learn the dependencies and hierarchy.

I think we should have a more structured/hierarchical list of concepts, kind of a hierarchical taxonomy of concepts in that page showing in a clear image 1:1 or 1:many relationships between assets, etc.

Something like:
- Workspace
---Experiment
-----R

[2020-01-19 21:11] CESARDELATORRE commented on #46420
Related issue/feedback:
https://github.com/danielsc/azureml-workshop-2019/issues/51

[2020-01-19 22:29] javafun opened #46421 "Dynamic, Free or Shared sites not support"
I found the following details why the profiler was not working after spending some time dig into the webjob log. I recommend the article should explicitly call this out.

*Critical: Profiler is not supported on Dynamic, Free or Shared sites. Please upgrade your site to Basic or above.*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-19 22:30] MichaelGrafnetter commented on #46414
Hi @jeevansd , thanks for the link. Unfortunately, that site does not contain any SharePoint-specific information. The biggest issue I see is assuring SharePoint farm authentication continuity during token signing certificate rollover, i.e. making SharePoint trust both the new and old certificates. I have not found any info on this. Neither have I found any info on trust autoconfiguration using th

[2020-01-19 22:35] anarazel opened #46422 "Conflicting statements about v1 & v2 VM support for all instance types"
Hi,

Page first says
[code]
and then a bit later has a note:

[code]

Clearly one of these is wrong.

Thanks,

Andres

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9145de07-94e5-05bc-d00b-e05723db9163
* Version Independent ID: c5d9a3c6-6fc2-837a-8291-2f4b82550d85
* Content: [Azure support for generation 2 VMs - Azure

[2020-01-19 22:43] anarazel commented on #46422
Issue also present on https://docs.microsoft.com/en-us/azure/virtual-machines/linux/generation-2 / * Content Source: [articles/virtual-machines/linux/generation-2.md](https://github.com/Microsoft/azure-docs/blob/master/articles/virtual-machines/linux/generation-2.md)

[2020-01-19 22:53] paulbouwer commented on #46394
@JoshDaone - could you elaborate on what you are asking for? Do you want the ability in the [sample application](https://github.com/Azure-Samples/aks-voting-app) to provide a different path instead of root, or are you looking for updates to the documentation?

[2020-01-19 22:59] ishepherd opened #46423 "'You will be billed for the total number of cores .. consumed per second.'"
Say my functions are on an EP1 instance and its CPU is running at 10% utilisation for 10 seconds.
Is that billed as 10 seconds, or 1 second?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Independent ID: a25b6b5b-05ab-b3b2-616c-5d06eadb928d
* Content: [Azure Functions Prem

[2020-01-19 23:21] NavtejSaini-MSFT commented on #46361
@phatcher Were yoy able to check the above, please confirm if you need any further help.

[2020-01-19 23:24] NavtejSaini-MSFT commented on #46185
@SnehaGunda We have assigned this to you for further review.

[2020-01-19 23:26] NavtejSaini-MSFT commented on #46143
@ckbargavi We are assigning this to our author for further review.
@markjbrown @SnehaGunda Please check the feedback and help the user.

[2020-01-19 23:32] HughDevlin opened #46424 "MOF"
acronym MOF used without definition

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 627bf595-d3a1-bbdd-b045-b6c4a580fdb3
* Version Independent ID: 529fbe9a-c711-c1a0-5697-5853b1e51071
* Content: [Desired State Configuration for Azure overview](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-overvi

[2020-01-20 00:15] femsulu commented on #46416
Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2020-01-20 00:21] femsulu commented on #46414
re-opened and assigned to @jeevansd for a response.

[2020-01-20 00:29] femsulu commented on #46420
Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2020-01-20 00:52] Richards706 opened #46425 "Are you kidding me?"
How about if you actually teach us how to develop an Azure website tied to an Azure database. I am feed up with your magic.  I don't want to download a website that you have already connected. Tell me how to develop a website, publish that website, link it to a database in Azure and develop the pages or views to display the data and allow one to edit, add to, or delete those records.  I have been

[2020-01-20 01:34] elvirk opened #46426 "Question for "Id for allowedMemberTypes""
Will this Id be the same for all roles in multiple AWS accounts.
Where do I find this value?

{
        "allowedMemberTypes": [
            "User"
        ],
        "description": "Admin,WAAD",
        "displayName": "Admin,WAAD",
        "id": "4aacf5a4-f38b-4861-b909-bae023e88dde",
        "isEnabled": true,
        "origin": "ServicePrincipal",
        "value": "arn:aws:iam::12345:role/Admin,a

[2020-01-20 02:05] femsulu commented on #45966
@v-joshuf  - Have you tried [Set-AzDiagnosticSetting](https://docs.microsoft.com/en-us/powershell/module/az.monitor/set-azdiagnosticsetting?view=azps-3.3.0#examples)? Specify the resourceID of the SQL resource you wish to update. Here's an example to help.

`Set-AzDiagnosticSetting -ResourceId "Resource01" -Enabled $True`

Also recommend exploring [Get-AzDiagnosticSetting](https://docs.microsoft.c

[2020-01-20 02:05] #45966 closed

[2020-01-20 02:08] AustinYildiz commented on #43750
I tried this on Azure Cloud Shell, it works. You can switch to bash on Azure Cloud Shell and type az vm create ....   It will work. As long as the browser works, I dont understand what is the problem

[2020-01-20 02:26] femsulu commented on #46160
Hi @KonTheCat, VMWare to Azure Sotrage is supported as detailed [here](https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#azure-storage)but please let me know if i misunderstood your question.
@sujayt can you please review and confirm?

[2020-01-20 02:29] femsulu commented on #46156
@rolyon  - who on the PG can confirm if this is intended?

[2020-01-20 02:33] KrishnaG-MSFT commented on #46421
@javafun Thanks for your comment! We will review and provide an update as appropriate.

[2020-01-20 02:41] KonTheCat commented on #46160
Hello @femsulu, just for clarity, I am asking if ASR can use a storage account as replication storage for VMs. I know that ASR uses storage accounts for some transactional storage, thats not the question here. It seems to me that the PowerShell has been adjusted to no longer enable that functionality, which falls in line with the annoucement of Managed Disks as the storage destination earlier in 2

[2020-01-20 02:52] juyama opened #46427 "Does A-series support ADE?"
In this page, ADE is not available A-series VMs.
----
Azure Disk Encryption is not available on Basic, A-series VMs, or on virtual machines with a less than 2 GB of memory.
----

However, ADE is avalable also A-series from following doc. Which information is correct?
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/encrypt-disks#requirements-and-limitations
----
Standard tier VMs, s

[2020-01-20 02:54] dcbrown16 commented on #26191
My team has another support case related to this request (difference between NV24 and NV24s_v3).

[2020-01-20 03:03] elvirk opened #46428 "Identifier (Entity ID) Error"
I got this to work once in my Azure AD and now I'm getting following error:
Please enter an Identifier which is unique within your organization. This Identifier is used by Amazon Web Services (AWS).
If I change https://signin.aws.amazon.com/saml to https://signin.aws.amazon.com/saml1 it let me save Basic SAM Configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-20 03:09] DixitArora-MSFT commented on #46423
Hi @ishepherd Thanks for reaching out. We will review and update as appropriate.

[2020-01-20 03:17] Karishma-Tiwari-MSFT commented on #46401
@Bryankarlsson
Since the doc issues are meant to provide feedback on a specific Azure doc, please provide us with the link to the documentation you are referring to so we can better assist.

[2020-01-20 03:21] shashishailaj commented on #46427
@juyama Thank you for your query. We will investigate and update this thread.

[2020-01-20 03:22] shashishailaj commented on #46426
@elvirk Thank you for your query. We will investigate and update the thread.

[2020-01-20 03:23] Karishma-Tiwari-MSFT commented on #46121
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-20 03:23] #46121 closed

[2020-01-20 03:23] Karishma-Tiwari-MSFT commented on #46122
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-20 03:23] #46122 closed

[2020-01-20 03:24] shashishailaj commented on #46428
@elvirk Thank you for your feedback . We will investigate and udpate the thread further.

[2020-01-20 03:27] Karishma-Tiwari-MSFT commented on #45952
We will now close this issue. Please help with the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-20 03:27] #45952 closed

[2020-01-20 03:27] frehnejc opened #46429 "Guidance with ISE and Azure Firewall"
The document is a bit light on with regards to configuring Azure Firewall and NSG's combinations, most of our Enterprise customers have this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5677742-ce89-fe42-6b8e-d9b27a42ec95
* Version Independent ID: 7225cb78-956a-ba35-dc04-e84356d96932
* Content: [Connect to

[2020-01-20 03:28] Karishma-Tiwari-MSFT commented on #46134
Is there any update?

[2020-01-20 03:29] Karishma-Tiwari-MSFT commented on #46274
Is there any update? Let me know.

[2020-01-20 03:29] Karishma-Tiwari-MSFT commented on #46289
Were you able to resolve this?

[2020-01-20 03:38] shashishailaj commented on #46192
@alaahusseiny Thank you for the idea. We generally would like to keep Github functionality separate from the document page hence that is not provided at the moment.  However we will take this internally and see if this is feasible. At this point the direct link to the repo is already provided even though direct clone/download is not available on this page. We will now close this issue . In case yo

[2020-01-20 03:38] #46192 closed

[2020-01-20 03:42] shashishailaj commented on #46259
@dogborne This has been fixed. Thank you for pointing this out . We will have this updated in the next release cycle in 24-48 hours. We will now close this issue. Should you have any further queries on this , please tag me to your reply .

Thank you.

[2020-01-20 03:42] #46259 closed

[2020-01-20 03:44] shashishailaj commented on #46199
@BakkerJan We are try to get more information on this internally and we will update this thread soon.

[2020-01-20 03:45] shashishailaj commented on #46250
@Bob-Bradley We are checking this and will have this updated.

[2020-01-20 03:53] ketan-chawda-msft commented on #46429
@frehnejc Thank you for your feedback. [This section](https://docs.microsoft.com/en-us/azure/logic-apps/connect-virtual-network-vnet-isolated-environment#enable-access-for-ise) of the document covers the guidance with Azure Firewall and NSE. Can you please elaborate more on what exactly you are looking for which is missing in the document .

[2020-01-20 03:55] frehnejc opened #46430 "Multiple Rules under One Collection not explained"
My scenario calls for multiple network rules under a collection, can this scenario be explained. The Azure CLI docs do not explain this also.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d58f3af-c6a3-a545-48b0-fce69629b3f5
* Version Independent ID: dec57aa6-0836-76d3-3701-13ee1ef379b7
* Content: [Deploy and configur

[2020-01-20 04:17] RohitMungi-MSFT commented on #45994
@tchristiani The code is in the github sample. Changes need to be made in the sample code to add a placeholder so it can be referenced in the document repo.

[2020-01-20 04:26] mybm3w commented on #45018
Thanks for clarification, I was on leave.

[2020-01-20 04:50] RohitMungi-MSFT commented on #46262
@vahidtz The intent is now updated in the document. Thanks for spotting this for us.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-20 04:50] #46262 closed

[2020-01-20 04:52] Bryankarlsson commented on #46401
@Karishma-Tiwari-MSFT Well, I'm following the instructions of how to deploy a docker container to Azure: https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-docker-webapp?view=azure-devops&tabs=java

[2020-01-20 05:05] vinod83k commented on #45952
@Karishma-Tiwari-MSFT Apologies for late reply. Actually I wanted to raise this concern because I think some of the steps were missing in this document. The step to add a data disk/volume is missing as per the document and so, while following the steps mentioned in the document, I was getting the following provisioning message:
OsVolumeEncrypted : Encrypted
DataVolumesEncrypted : NoDiskFound
OsVol

[2020-01-20 05:07] MohitVerma-MSFT commented on #46422
Hello @anarazel ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 05:08] MohitVerma-MSFT commented on #46424
Hi @HughDevlin ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 05:10] MohitVerma-MSFT commented on #46425
Hi @Richards706 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 05:12] MohitVerma-MSFT commented on #46430
Hi @frehnejc ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 05:15] msrini-MSFT commented on #46298
@amirgra , Please tag me if you have any further questions. I will close this issue for now.

[2020-01-20 05:15] #46298 closed

[2020-01-20 05:16] msrini-MSFT commented on #46366
@yevhen-kuras , Please tag me if you have any further questions. I will close this issue for now.

[2020-01-20 05:16] #46366 closed

[2020-01-20 05:16] msrini-MSFT commented on #46399
@waltersnyder2 , Do you have any update for me?

[2020-01-20 05:18] sujayvsarma commented on #46425
Why is this a Pri1 ?

[2020-01-20 05:21] BharathNimmala-MSFT commented on #46314
Thank you @hruday94 for sharing the document reference. Assigning this to @Mike-Ubezzi-MSFT to further look into the issue.

[2020-01-20 05:24] sujayvsarma opened #46431 "AzureRM - Subscriptions API"
I did not find a github page for anything under [this](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions) or [this](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions%20(preview)/cancel), hence I am opening a generic issue.  If you find the relevant Github docs, please do link them to this issue.

----

When you list (or get a single subscription) using one of:

[cod

[2020-01-20 05:28] PramodValavala-MSFT commented on #46405
@ColbyTresness Could you share insights on this?

[2020-01-20 05:34] TravisCragg-MSFT commented on #45802
@annerajb We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-20 05:34] #45802 closed

[2020-01-20 05:36] TravisCragg-MSFT commented on #45789
@sugarjig were you able to try the command with global administrator rights?

[2020-01-20 05:38] ChiragMishra-MSFT commented on #46174
@nabhishek Can you please take a look at this?

[2020-01-20 05:39] mybm3w opened #46432 "Manage Groups not availible for Pass-Though Authentication Staged Rollout"
I have enabled staged rollout as per document, but under Enable staged Rollout Feature when I enable Pass-Thought Authentication it notifies that it has been succesfully enabled, but the managed groups option is disabled. I have tried to refresh and nativate to this page again. I have also enabled Seamless single sign-on and manage groups is availible next to this feature.

---
#### Document Detai

[2020-01-20 05:39] VikasPullagura-MSFT commented on #46422
@anarazel I have assigned the issue to content author for checking and updating this as appropriate.

@laurenhughes Please look into this and add your comments.

[2020-01-20 05:42] TravisCragg-MSFT commented on #45867
@seankanderson Are you still having this issue? and are you using an Azure Storage account?

[2020-01-20 05:46] BryanTrach-MSFT commented on #46068
@nehaagrawal Please check the ADAL.js file and update the configuration within there. From there, you'll need to wrap all API calls with an ADAL fetch wrapper.  The ADAL wrapper sends the calls with an access token. I hope this helps to get you going in the proper direction.

[2020-01-20 05:46] #46068 closed

[2020-01-20 05:46] richieteh94 opened #46433 "unclear retry exponential algorithm explanation"
the formula is written in "min(interval + (2^count - 1) * random(delta * 0.8, delta * 1.2), max-interval)"
but the explanation is not clear.
An example calculation of the formula and approximate retry time would definitely help a lot. The retry time 3 or more is good to see the interaction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-01-20 05:50] SumanthMarigowda-MSFT commented on #46007
@ryanceleslie Do you have some kind of password management application on their machine (similar to Credential Manager on Windows or Keychain on Mac).

[2020-01-20 05:51] VikasPullagura-MSFT commented on #46186
@ChrisSommers Hope the above provided information helps.

I will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-20 05:51] #46186 closed

[2020-01-20 05:53] DixitArora-MSFT commented on #46433
Hi @richieteh94 Thanks for reaching out. We will review and update as appropriate.

[2020-01-20 05:59] Bryankarlsson commented on #46401
@Karishma-Tiwari-MSFT @femsulu the exact same issue that I have can be found here as well in the follwing started issue:

https://github.com/MicrosoftDocs/azure-docs/issues/34451

I have alsoe posted a thread there.

[2020-01-20 06:02] SumanthMarigowda-MSFT commented on #46297
@jamserra Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-20 06:02] Jayesh040 opened #46437 "AWS VM not running in Azure"
One of our customer has 1 Classic-Ec2 instance in AWS, We linked it to the VPC which has ASR configuration server and replicated it to Azure with no issues.
After we did the test-failover the server is not running in Azure.
PS : OS is Windows 2008 R2 SP1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d92f050-73a2-c51

[2020-01-20 06:05] AlaricSchenck opened #46438 "Feedback"
The instructions on this page need to be updated to reflect the latest screenshots, labels and terminology.  There are many cases when a new user can become lost.   There is no "Blob" option on the menu.  It is now "Container".  There is no "Save" button.  The buttons are "OK" or "Finish".   when creating a data factory the user is placed at the landing page. The next step is to select "Connection

[2020-01-20 06:07] Anmolgan81 opened #46439 "How to move data from Azure SQL Database To Hive tables?"
Is there any way I can move files from Azure SQL Databases to Hive tables, I know I cannot use ADF here becasue hive is only supported as a source and not sink, any other examples?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: e90d6fae-e788-1cca-0e11-b7674d34ed2d
* Version Independent ID: cb4d5cde-80f

[2020-01-20 06:09] KalyanChanumolu-MSFT commented on #46354
@sumitt18 Do you not have any other property in the document like user location, department etc that you can group the user profile information on?
Please evaluate what your access patterns would look like when you request this data. If you need to query on any other property then it will result in a cross partition query.

If you do not have any such requirement, you can go ahead and use the Id p

[2020-01-20 06:21] ChiragMishra-MSFT commented on #46194
@madiepev Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=windowsazuredata) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-storage).

Once you post your issue on forums, it will have visibility across the community which is a better suite

[2020-01-20 06:21] #46194 closed

[2020-01-20 06:23] ChiragMishra-MSFT commented on #46438
@AlaricSchenck Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-01-20 06:24] ChiragMishra-MSFT commented on #46438
@linda33wj / @djpmsft Can you please take a look at this?

[2020-01-20 06:25] KrishnaG-MSFT commented on #46196
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or questions or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-01-20 06:25] #46196 closed

[2020-01-20 06:26] ChiragMishra-MSFT commented on #46439
@Anmolgan81 Thanks for reaching out. We are investigating into your query and will respond shortly.

[2020-01-20 06:27] KrishnaG-MSFT commented on #46275
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or questions or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-01-20 06:27] #46275 closed

[2020-01-20 06:30] KalyanChanumolu-MSFT commented on #46356
@SychevIgor Thank you for the feedback, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will proceed to close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2020-01-20 06:30] #46356 closed

[2020-01-20 06:32] KalyanChanumolu-MSFT commented on #46334
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-20 06:32] #46334 closed

[2020-01-20 06:35] ChiragMishra-MSFT commented on #46439
@Anmolgan81 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=hdinsight) or [stack overflow](https://stackoverflow.com/questions/tagged/hdinsight).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for

[2020-01-20 06:35] #46439 closed

[2020-01-20 06:44] ram-msft commented on #46321
@alathrop Can you please add more details about the use case that you are trying to solve.
Please follow below links for more details about the SVD Recommender.
https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/train-svd-recommender
@likebupt Can you please is it possible to use the Tune Model Hyperparameters with the SVD Recommender.

[2020-01-20 06:44] dcbrown16 commented on #37037
A couple of notes were added under this heading in October that say this is basically not supported.
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#grant-access-from-an-internet-ip-range

The recommendation is to use a virtual network rule whenever possible.
I'm glad that they finally documented this, it's been an issue for some time. I think any further feedback wo

[2020-01-20 06:44] #37037 closed

[2020-01-20 06:54] dcbrown16 commented on #45837
Shared info and made PR.
#please-close

[2020-01-20 06:54] #45837 closed

[2020-01-20 07:06] VikasPullagura-MSFT commented on #46277
@BenjaminHerbert For checking the first run, you can try the list-runs (`az acr task list-runs`) command.

For acr trigger the dependent acr task, I will have @dlepow to check and add comments.

[2020-01-20 07:06] PramodValavala-MSFT commented on #46331
@tehtertot Glad you were able to get it to work! I believe the latest are 4.x which you should be able to use if you are starting fresh.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-20 07:06] #46331 closed

[2020-01-20 07:07] VikasPullagura-MSFT commented on #46277
@dlepow Can you please check and add your comments.

[2020-01-20 07:22] daneri-norkart commented on #46055
@Karishma-Tiwari-MSFT I dont't curently have the required access to the subscription to view Service Health, but I will check with my manager.

But yeah, in my solution I have created a new Vnet which I'm trying to add the container group to, but it only gets a random private Ip instead of one from the subnet.

[2020-01-20 07:24] JGezels opened #46442 "Adding Custom claims to the users/ID Pair"
Hi
I'm looking for a way to add a custom attribute to be used when omitting claims. Ex. the list in the user source is a limited set of what I see as AzureAd User attributes. If I wanted to use my proper attributes (ex. "SAPID")
I could do this by extending the schema of a user by creating an Application that holds this extension. (when selecting my user, I would see the attribute in the extension

[2020-01-20 07:29] daneri-norkart commented on #46055
@Karishma-Tiwari-MSFT As of this morning the container group was successfully added to the Vnet :D

[2020-01-20 07:30] phatcher commented on #46361
Yes, I did use the user@username format - that's why I was surprised when it came back referencing the IP address.   The browser I'm using is on a corporate proxy, could that be affecting it?

[2020-01-20 07:49] jldeen commented on #20737
Apologies for bumping a closed issue - but I am still experiencing this same behavior on 2 resource groups. ACI was deployed via template. Ran `az group delete` prior to knowing about this issue and the work around. Now I have two groups that can't delete the vnet/subnets because the network profile provides the `already in use with container nics; cannot update or delete` error message.

Was a fi

[2020-01-20 08:11] KrishnaG-MSFT commented on #46264
@anirudhcavale @yanivlavi @ofirmanor  Any insights on this ?

[2020-01-20 08:13] tdihp commented on #35932
Hi, I can see the 9000 port is mentioned in networking rule section, please also correct the ntp rule documentation. and make note on how to convert 'ntp.ubuntu.com' to IP addresses in order to configure the ntp IP addresses. Thanks.

**Expected**:
in networking rule section:
UDP port 123 for all IP addresses of ntp.ubuntu.com is required for NTP time synchronization on Linux nodes.

**Current**:

[2020-01-20 08:29] SwathiDhanwada-MSFT commented on #46295
@rayne-wiselman  I have reproduced the issue and it seems that MD5\SHA256 values have been changed . Can you please verify and update the document accordingly?
![image](https://user-images.githubusercontent.com/48976275/72710234-a2bd5a00-3b8c-11ea-95e7-77f0c32546c7.png)

@ceglez  AFAIK, the .ps1 file is digitally signeda and when I tried from my end, I haven't been prompted with any error.

![imag

[2020-01-20 08:35] sujayvsarma commented on #46427
Dont you think the best way to find out is to create such a VM and try it out?

[2020-01-20 08:35] sumitt18 commented on #46354
@KalyanChanumolu-MSFT Thanks, closing this.

[2020-01-20 08:35] #46354 closed

[2020-01-20 08:40] msrini-MSFT commented on #46430
@frehnejc ,

You can use Powershell to create multiple rules under same collection as of now.

Sample:

$Azfw = Get-AzFirewall -Name Firewall -ResourceGroupName msrini-Firewall

$NetRule1 = New-AzFirewallNetworkRule -Name "Allow-DNS" -Protocol UDP -SourceAddress 10.0.2.0/24 `
   -DestinationAddress 209.244.0.3,209.244.0.4 -DestinationPort 53
$NetRule2 = New-AzFirewallNetworkRule -Name "Allow-IP" -

[2020-01-20 08:42] Trapulo commented on #43961
I have both deleted every policy from classic policies (and now, I don't know why, the link is enabled so I can access the page without the direct URL), and disabled the old policies under conditional access.
And still I cannot enable security defaults.

Or there is something still missing in the doc, or there is some other problem in Azure AD... :(

[2020-01-20 09:12] SadiqhAhmed-MSFT commented on #46437
@Jayesh040 Thanks for posting your question here. However, this is not the right channel for troubleshooting issues. This channel is meant for suggesting enhancements for Azure docs and fixing doc bugs.

Regarding your issue, if replication from AWS to Azure was successful then there is nothing much to be done from Azure site recovery perspective. Because site recovery is used for replicating or m

[2020-01-20 09:12] #46437 closed

[2020-01-20 09:17] MohitVerma-MSFT commented on #46395
Hi @LearnsHappily ,

Thanks for reaching out !!

Could you please share few information:

- What is your permission level in DevTest lab, User's with owner and Contributor access level can detach the disk.

- Is the VM up and running or not?

https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-add-devtest-user#actions-that-can-be-performed-in-each-role

I tried to detach the disk at my

[2020-01-20 09:18] malballah commented on #26312
@neil-rubens
For me, I have created a good security solution to this
I have added a secret to Azure key vault and named it {your secret name}
and then added a policy to the APIM to insert a header with the secret into the request

[code]

so any request coming to Azure APIM, it will add this header to it and in your Azure function you must allow only requests coming with that header, and you shoul

[2020-01-20 09:28] johnrkriter opened #46443 "Istio 1.4.x has a known issue with file descriptors for deploying istio."
Currently the instructions for Mac OSX may result in an error due to too many open files.
relevant istio bug report https://github.com/istio/istio/issues/19958

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d64cf65-bf33-ff76-3ece-47c758479506
* Version Independent ID: c2db9de5-62ef-5bd0-83dc-1832113ae37c
* Content: [I

[2020-01-20 09:30] jtourlamain commented on #18475
@vladvino Thanks for the link! Using rawxml-link fixed the problem.

[2020-01-20 09:40] dewitweb opened #46444 "Conflicting information documentation"
On this page you state that "With custom policies, Azure AD B2C can federate to Azure AD allowing authentication of employees in an organization." but at the page where user flows and custom policies are compared in a three column table, in the column of user flows at the row of identity providers it is said that "Predefined local or social provider and most OIDC identity providers, such as federa

[2020-01-20 09:42] dewitweb commented on #46444
sorry, the url of the other page i refer to is: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-overview-custom

[2020-01-20 09:48] ajaykaarthic commented on #28020
Can you help me with this?
requests.exceptions.HTTPError: 404 Client Error: Resource Not Found for url: https://westcentralus.api.cognitive.microsoft.com/visionvision/v2.1/read/core/asyncBatchAnalyze

[2020-01-20 09:49] balajivenkataraman commented on #23009
Hello , Is there a APP GW v2 Integration with APIM documentation available ?

[2020-01-20 09:49] ajaykaarthic opened #46445 "requests.exceptions.HTTPError: 404 Client Error: Resource Not Found for url: https://westcentralus.api.cognitive.microsoft.com/visionvision/v2.1/read/core/asyncBatchAnalyze Microsoft cognitive services"
Can you help me with this?
requests.exceptions.HTTPError: 404 Client Error: Resource Not Found for url: https://westcentralus.api.cognitive.microsoft.com/visionvision/v2.1/read/core/asyncBatchAnalyze

_Originally posted by @ajaykaarthic in https://github.com/MicrosoftDocs/azure-docs/issues/28020#issuecomment-576193368_

[2020-01-20 09:50] yevhen-kuras commented on #46366
@msrini-MSFT,

Thanks for quick responses.

I would like to understand how I can switch UDP flow to another alive instance in case of failure of already mapped instance. My use case is to mimic sticky connection between client and back end through connectionless UDP protocol. For that reason I use session persistence for UDP load balancing in Azure Load Balancer (Basic SKU). Back end instances are

[2020-01-20 09:54] yevhen-kuras commented on #46366
Also I would like to know if there is an option to observe health probes status ?

[2020-01-20 09:58] MohitVerma-MSFT commented on #46442
Hi @JGezels ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 09:59] MohitVerma-MSFT commented on #46432
Hi @mybm3w ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 09:59] sheridans commented on #43961
After logging a call with Microsoft tech support, they had to do something on the backend to enable me to remove classic policies, which I was unable to see until they did something their end - all sorted here.

[2020-01-20 10:00] MohitVerma-MSFT commented on #46443
Hi @johnrkriter ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 10:02] MohitVerma-MSFT commented on #46445
Hi @ajaykaarthic ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-20 10:03] MohitVerma-MSFT commented on #46444
Hi @dewitweb ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 10:07] julesman101 opened #46447 "What is the scope of the $50K Refund Limit?"
What is the scope of the $50K refund limit?  Is it scoped to a single reservation? Or does it apply to multiple reservations under an Azure Enrolment/Subscription/Resource Group?

Thanks.. JD

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b45
* Version Independent ID: 445b1c77-472a-e0f7

[2020-01-20 10:10] YulelogPagoda commented on #35061
Here's a bump on this issue.

[2020-01-20 10:14] MSNina123456 opened #46448 "cx would add proxy password/url for DSC configuration"
per testing, we can realize it by modifying DSC configuration as below:
	$password = "ThisIsAPlaintextPassword" | ConvertTo-SecureString -asPlainText -Force
	$username = "contoso\Administrator"
	[PSCredential] $Cred = New-Object System.Management.Automation.PSCredential($username,$password)

$cd = @{
    AllNodes = @(
        @{
            NodeName = 'localhost'
            PSDscAllowPlainTextPas

[2020-01-20 10:17] nafisIslam opened #46449 ""Timer object" description needs clarification"
`Timer object`'s  ScheduleStatus.Next does not have a proper definition. Does next mean next invocation time or current invocation time? When I run locally I get the current invocation time. Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5527c3b-a5da-c73d-66c2-20d96003ff7c
* Version Independent ID: 421

[2020-01-20 10:27] siljemda opened #46451 "Support for Azure Marketplace applications"
The article states that the feature is in public preview. Is it currently possible to publish Azure Marketplace applications using Custom Providers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: effbe31e-33b3-2fbe-e1cf-c018fce3b276
* Version Independent ID: 7e43db65-7ff3-a152-e8b8-6de860095ed8
* Content: [Overview of

[2020-01-20 10:29] spmanjunath opened #46453 "Diagram to depict 'Workflow overview' is faded."
The image used to depict 'Workflow overview' is not easily readable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6b34e-7ed0-5ecd-6cf4-192e7393663c
* Version Independent ID: cb186c12-22a3-5ac4-667c-b1d07ab5f566
* Content: [Design Policy as Code workflows - Azure Policy](https://docs.microsoft.com/en-us/azure/gover

[2020-01-20 10:43] YulelogPagoda commented on #35061
Ok, I'll build this into the docs but it looks like there's a specific order in place here....
1. Turn on the DNS Analytics logs https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/dn800669(v=ws.11)

[2020-01-20 10:46] ajaykaarthic commented on #46445
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts-sdk/python-sdk#read-printed-and-handwritten-text

[2020-01-20 10:46] RohitMungi-MSFT commented on #46445
@ajaykaarthic It looks like the subscription key used in the request is incorrect based on the error posted. You can try to use the [console ](https://southcentralus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/2afb498089f74080d7ef85eb/console) with the correct subscription key and request body to check if there is a response.

Also, please check if the custom visi

[2020-01-20 10:48] ajaykaarthic commented on #46445
I will check and revert back

[2020-01-20 10:53] yanivlavi commented on #46264
This is a question to compute RP product group. Please ask them, Jun Wang or Savyasachi Samal will probably be able to reply.

[2020-01-20 10:56] mjdmsft commented on #46194
It is feedback on this doc if it is possible but not included in the documentation. Please provide examples or documentation on when no directory exists in a file system to complete the documentation.

[2020-01-20 11:23] asergaz commented on #46403
Hello @heresabya , on our docs we say: azure iot edge can be installed on any version of Windows 10 or Windows Server 2019 (build 17763) that supports the containers feature. Azure IoT Edge with Linux containers can run on any version of Windows that meets the [requirements for Docker Desktop](https://docs.docker.com/docker-for-windows/install/#what-to-know-before-you-install)

Correct:

![image](

[2020-01-20 11:25] nonstoptimm commented on #46053
Solved it by using .lu-format, thanks for your help!
I guess it would be great if you still could check whether the example code of the documentation works.

[2020-01-20 11:26] SadiqhAhmed-MSFT commented on #46447
@julesman101 Thanks for the question. This request has been assigned to the content owners to get the best answer to your question.

@yashesvi  and @bandersmsft Please share your insights on this query.

[2020-01-20 11:30] sarah026 commented on #42147
we had this problem when we used
GetAccessTokenAsync("https://database.windows.net");
instead of
GetAccessTokenAsync("https://database.windows.net/");

note the forward slash at the end of the URL! Might work for other people.

[2020-01-20 11:31] Coldpawz opened #46455 "Music analogy onto documents"
Hi,

After reading https://github.com/MicrosoftDocs/azure-docs/issues/18216 it was mentioned that the music analogy would be added to the documents.
Just wondering if/when this would take place.

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5

[2020-01-20 11:34] ajaykaarthic commented on #46445
When I test from console, I am able to upload an image and status of my request is 202 but yet I am not able to see my results when i navigate to operation-location.

[2020-01-20 11:38] sarah026 commented on #40461
To those suggesting direct user assignment:
Using AD group should remain in this article because it is the best practice when managing identities and deleting functions. Who wants to be login in to the database everytime a developer deletes a functions? Who needs the maintenance overhead? And since when did developers communicate these things to everyone anyway! You'll end up with really messy acc

[2020-01-20 11:43] aarfe opened #46456 "Why the diagram only shows one VPN gateway?"
I understand that 2 VPN gateaways must be created, why does the diagram shows only one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57cbce6b-e48b-c199-7071-865a2a6422f0
* Version Independent ID: 06320049-4747-cd1f-564a-36f3a6f5b004
* Content: [Connect on-premises network to Azure virtual network: Site-to-Site VPN: P

[2020-01-20 11:45] lukepuplett commented on #44839
Tom, thanks for taking the time on this and the locking suggestion is quite feasible.

[2020-01-20 11:45] #44839 closed

[2020-01-20 11:50] MohitVerma-MSFT commented on #46448
Hello @MSNina123456 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 11:51] MohitVerma-MSFT commented on #46449
Hello @nafisIslam ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 11:53] MohitVerma-MSFT commented on #46451
Hello @siljemda ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 11:56] MohitVerma-MSFT commented on #46431
Hello @sujayvsarma ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 11:57] shashishailaj commented on #46199
@BakkerJan I will base my answer on the following assumptions for simplification.

Resource tenant = resource/service/app which the B2B guest user needs to access
Home directory/tenant =  the home tenant of the B2B guest user.

Identity Protection majorly identifies risks by two types. . One is [user-based risk policy](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/con

[2020-01-20 11:57] #46199 closed

[2020-01-20 11:58] christoffer-roed commented on #46280
Hi @areddish i can see my "custom vision traning Endpoint"  and my "custom vision prediction endpoint" are not the same, i am currently using my traning endpoint, which looks the same way as yours: "https://westeurope.api.cognitive.microsoft.com/" My prediction endpoint looks this way: https://custom-vison-test-prediction.cognitiveservices.azure.com/ which one should i use?
Best regards Christoffe

[2020-01-20 12:00] thewebsitenursery commented on #46387
I'm stuck with the same problem:

alistair@Azure:~/quickstart$ cd html-docs-hello-world/
alistair@Azure:~/quickstart/html-docs-hello-world$ az webapp up --location westeurope --name gettastyhello --html
az: error: unrecognized arguments: --html

This is withing the Azure Cloud Shell..

[2020-01-20 12:04] jakaruna-MSFT commented on #46411
@Jayesh040

Thats not possible and thats not recommended also.

Try to migrate your resources to ARM model and must deploy new services in ARM model only.

[2020-01-20 12:05] christoffer-roed commented on #46280
Hi @areddish i have tried with both my traning and prediction endpoint and still gets the same error as in my original post, can it be something else?

[2020-01-20 12:10] shashishailaj commented on #46250
@Bob-Bradley We have updated the incorrect workday references . Thank you for pointing this out . We will close this issue now. The changes should reflect within the next 24-48 hours as per next release cycle.

Thank you.

[2020-01-20 12:10] #46250 closed

[2020-01-20 12:16] amanmcse commented on #46444
@dewitweb If you want to add Azure Active Directory tenant as an Identity Provider for B2C, this can be done by using both built-in User Flows as well as custom policies. You don't necessarily need to use custom policy for this purpose. In order to use Azure AD Tenant with built-in User Flows, all you need to do is, **add New OpenID Connect provider** under **Azure AD B2C > Identity providers** an

[2020-01-20 12:16] #46444 closed

[2020-01-20 12:23] SadiqhAhmed-MSFT commented on #45937
@karthick3d #See: https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-usage-detail for more information around UsageDetails API

#Sets the billing month to pull the data for. For EA correlates to the actual calendar month
$BillingMonth = "202001"

#The EA enrollment ID number
$enrollId = "<your EA enrollment>"

# URL to download Usage data for the specified billing

[2020-01-20 12:25] fgheysels opened #46457 "AzureIoTHub service tag could not be found"
I'd like to retrieve the IP addresses that are used by IoT Hub.  Since there's an AzureIoTHub service tag available, I wanted to retrieve that service tag via :

[code]

However, the `Values` property of the `Get-AzNetworkServiceTag` command doesn't contain an entry with the name `AzureIoTHub`, although this should be [GA](https://azure.microsoft.com/en-gb/updates/iot-hub-feature-service-tags-is-n

[2020-01-20 12:30] shashishailaj commented on #46266
@karataliu We understand your concern . I think the details of both the types of token are in the same document so the same document is mapped in both sections. However we  have added a note to the article which clarifies the same . It will be updated in the next 24-48 hours as per next release cycle.

Thank you.

[2020-01-20 12:31] #46266 closed

[2020-01-20 12:36] kyriakopoulosd opened #46458 "Supported NFC Readers for Windows Hello"
In this article (https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-passwordless)  you mention that "If you purchase and plan to use NFC based security keys you will need a supported NFC reader.".

However, after searching, I didn't manage to find any "supported NFC readers list" that shows which NFC Reader is compatible with this functionality of passwor

[2020-01-20 12:45] giespaepen opened #46459 "Incorrect parameter definition: defaultValue is mandatory"
[Enter feedback here]
Parameters should have a defaultValue in order to be recognised. The examples do not have a defaultValue. This generates another error, i.e. that the parameter is not used.

Error in: ../../../../policy-templates/samples/TextPatterns/enforce-match-pattern/azurepolicy.json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-01-20 12:47] timgrossmann commented on #16496
@DCtheGeek Is this feature still active?

I'm using the JWT token from the `Try out` section as `Authorization` header in my request to make sure auth is working.
However, whatever I try to do, the best I can get is:

[code]

[2020-01-20 13:00] PaulDreef opened #46460 "Parent/Child problem in CI/CD Powershell script"
Hi Microsoft,

I have an issue with rolling out the script mentioned in: https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#sample-pre--and-post-deployment-script

I'm using a data-factory pipeline with a "Execute pipeline" in it, so a parent-child relation.
When using this script, I get the error:

Error Message: The document cannot be deleted since it is refere

[2020-01-20 13:04] peheje commented on #39901
I am using Microsoft.Azure.ServiceBus, and I had no idea what you meant by

"Service Bus client objects, such as QueueClient or MessageSender, are created through a MessagingFactory object"

So when using Microsoft.Azure.ServiceBus in an ASP.NET application, how often should I call "new QueueClient" with the connection string? Is there a way I can reuse the connection?

[2020-01-20 13:06] frehnejc commented on #46430
I am referring to the AZ CLI.

[2020-01-20 13:17] BakkerJan commented on #46199
@shashishailaj Thanks. So, if I get this right:
1. When the account has no identity protection enabled on home tenant, no risk will be calculated at all.
2. You need extra P2 license for every 5 guest users to protect them with risk based MFA
3. When your guest user is not a Azure AD account, it won't work at all.

[2020-01-20 13:18] christoffer-roed commented on #46280
Hi @areddish i made i work, my traning resource and prediction resouce was located i two diffrent regions. Thank you very much for your help! 👍

[2020-01-20 13:23] sujayvsarma commented on #46431
I have one more question -- this is regarding the Subscriptions List/Get API.

What Azure AD roles are required to return a list of subscriptions?

I have two users added to an Azure AD. Both are assigned ONLY the "Global Administrator" role. User1 was the user that was used to provision the subscription & tenant. User2 was created manually -- using the Azure Portal -- and then assigned the Global

[2020-01-20 13:28] safwanesgit opened #46462 "Still on Preview ?"
Hello,

I am facing some issues  while authenticating to Linux VMs via AAD , the authentication prompt reappears after the Url Login is successful and after pressing [Enter] on the VM . The prompt keeps reappearing with different CODE to sign-in , but no access is granted to the VM .

In another hand , does anybody knows when this feature can be deployed on Production environments ? Feature is sti

[2020-01-20 13:35] msrini-MSFT commented on #46456
@aarfe , In this scenario, you are connecting from On-Prem to Azure. You only need one VPN gateway in Azure and for the On-Premises, you will configure tunnel on your physical machine like cisco or checkpoint appliance.

[2020-01-20 14:03] MohitVerma-MSFT commented on #46453
Hello @spmanjunath ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:04] MohitVerma-MSFT commented on #46455
Hello @Coldpawz ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:08] MohitVerma-MSFT commented on #46457
Hello @fgheysels ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:08] SwathiDhanwada-MSFT commented on #46352
Thanks for your feedback. A PR has been successfully initiated to resolve this issue. The changes will be reflected in 24 hours.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-20 14:08] #46352 closed

[2020-01-20 14:09] MohitVerma-MSFT commented on #46458
Hello @kyriakopoulosd ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:13] MohitVerma-MSFT commented on #46459
Hello @giespaepen ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:17] MohitVerma-MSFT commented on #46460
Hello @PaulDreef ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:18] MohitVerma-MSFT commented on #46462
Hello @safwanesgit ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-20 14:19] KalyanChanumolu-MSFT commented on #46455
This issue is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-01-20 14:20] irishun opened #46463 "Using existing model"
Hi, I have found that if I want to load an existing VoTT model, we have to at first access the connection in which the model exists.
However, after the VoTT model is loaded, the connection which is used to create that project will be added.
This might be a little confusing for the user.

In the future, will it be possible that there is no duplicated connection created automatically after an existi

[2020-01-20 14:21] KalyanChanumolu-MSFT commented on #46313
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-20 14:21] #46313 closed

[2020-01-20 14:23] SwathiDhanwada-MSFT commented on #46448
@MSNina123456  Thanks for your comment. Can you please elaborate on what you are looking for exactly as the information provided is not sufficient to provide you an appropriate answer ?

[2020-01-20 14:36] dewitweb commented on #46444
I think you should update the statement on this page (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-faqs?tabs=applications#feedback) ...at the top

Can I use Azure AD B2C features in my existing, employee-based Azure AD tenant?

Azure AD and Azure AD B2C are separate product offerings and cannot coexist in the same tenant. An Azure AD tenant represents an organiz

[2020-01-20 14:38] r3dr4gon opened #46464 "Event hub capture to ADL gen2 (ARM template)"
I see this example:
"Resources to deploy for Azure Data Lake Store as destination"
Is this the right example for ADL gen2? or for gen1?
I saw that ADL gen2 supported capture only a few months ago and i can not find how to enable it via the ARM template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d773e868-be53-1746-

[2020-01-20 14:40] ferantivero commented on #46134
they're pretty basic steps:

1. create aks cluster with azure advanced networking
2. restrict traffic following instructions [here](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters)
3. Additionally, I pulled couple of docker images into the cluster mostly from dotnet, node, openjdk, etc.

If you consider an AKS cluster will never try to

[2020-01-20 14:52] drdamour commented on #40461
@sarah026 managed identities have a different lifecycle and purpose then common users. The group doesnt make sense in their case.

[2020-01-20 14:55] SwathiDhanwada-MSFT commented on #46271
@tfitzmac  Can you please review the document and update it accordingly?

[2020-01-20 15:06] danobri opened #46465 "Missing path in service SAS URI. The path identifies the resource."
I get this error if I try to connect to an Azure file share in Azure Storage Explorer using a SAS URI that was generated for a folder within the share.  If I generate a SAS for the entire share it works, but if I generate one for a folder within the share, I get this error when trying to connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-01-20 15:09] danobri commented on #46465
Also - if I generate a SAS URI for a specific file in a share, I get the following error when trying to connect:

Invalid resource in SAS token. Only file share ('s') resources are supported.

[2020-01-20 15:27] RohitMungi-MSFT commented on #46445
@ajaykaarthic Use the operation ID with the [Get Read Operation Result](https://westcentralus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/5be108e7498a4f9ed20bf96d/console) API to get the details of the BatchAnalyze API

[2020-01-20 16:03] JoshDaone commented on #46394
@paulbouwer yes that's what I suggesting here, just like the istio bookinfo, it's exposing prefix /productpage in the VirtualService rather than prefix /. I tried to change the prefix / from built in voting-app vs to another one like /vote but cannot get the sample frontpage properly.

[2020-01-20 16:07] mrmueller opened #46466 "Add Documentation for syncing new attributes"
I wanted to sync AD EmloyeeNumber to AAD employeeID. Managed to do it using this guide. However, it was not obvious that you need to add EmployeeNumber to the attribute list of every Object (Contact, User, Group, InetPerson). Otherwise, The Graph API will return an error.

New flow on User:
{
                            "defaultValue": null,
                            "exportMissingReferences": f

[2020-01-20 16:23] wboevink opened #46467 "Outdated"
Information on this page seems outdated.

Example: 'No, there are no plans to support managed identities for Azure resources in Azure Cloud Services.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07551795-7de9-95d5-486c-579b8332e054
* Version Independent ID: 925ae422-7975-4ecb-eded-4c36a29a95a3
* Content: [FAQs and k

[2020-01-20 16:26] haymansfield commented on #41645
Is there any update on this?

Dec 2019 has come and gone.

[2020-01-20 16:27] RohitMungi-MSFT commented on #46463
@irishun Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-20 16:30] LearnsHappily commented on #46395
Greetings,

I am login in as administrator with owner privileges. I was able to detach and later delete the disks. My message is about what the images that appear on the documentation (https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-attach-detach-data-disk).

This is how it looks on my side. To see the “detach” button I must scroll all the way to the right. That is, the button is n

[2020-01-20 16:32] capoitas commented on #46387
Same issue here: "unrecognized arguments: --html

[2020-01-20 16:34] cmgharris opened #46468 "opt-in for 'aio' optional claim"
I am trying to use this flow to get authorization for the graph api using a saml assertion received after sso to office365. I get the error "AADSTS700001: Application: spn:xyzzy needs to opt-in for 'aio' optional claim for On Behalf Of flow to work with SAML tokens issued to this application".

How can I make my AAD application opt-in for 'aio' optional claim? I can't find this claim when I go to

[2020-01-20 16:37] cmgharris opened #46469 ""AADSTS700001 opt-in for 'aio' optional claim" - Any solution for managed domains?"
I understand from other comments that this only works for federated domains, not managed domains, and I assume that is why I get the "AADSTS50107: The requested federation realm object 'https://sts.windows.net/xyzzy/' does not exist" error.
We have a managed Office365 domain. We authenticate our users via SSO and get a saml2 assertion. Is there any way to use this to access the graph api?

I have

[2020-01-20 16:53] amanmcse commented on #46444
Yes, that is what I have updated.

[2020-01-20 17:06] #46400 closed

[2020-01-20 17:07] #41937 closed

[2020-01-20 17:07] #41959 closed

[2020-01-20 17:07] #42817 closed

[2020-01-20 17:27] petetian commented on #46316
@VikasPullagura-MSFT : ran the command with debug turned on, here's the snap shot:
`
az aks get-upgrades --resource-group k8s-aks-cluster-rg-pt --name aks-k8s-cluster --output --debug
Command arguments: ['aks', 'get-upgrades', '--resource-group', 'k8s-aks-cluster-rg-pt', '--name', 'aks-k8s-cluster', '--output', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<func

[2020-01-20 17:30] frankkilcommins commented on #9564
Also wondering if anything has been released on this topic as I cannot find information within the B2C documentation for the filtering that is being applied.

Also, please see a related [open question ](https://stackoverflow.com/questions/59616197/why-is-azure-ad-b2c-restricting-the-use-of-the-for-attribute-in-custom-uis)on why the 'for' attribute is being stripped.

[2020-01-20 17:32] ticianaciminari opened #46471 "DBCA command option #3018"
Hi team, as ZenHub is not working I'm creating this issue here from (https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3018): @anishi1222 commented 7 hours ago — with docs.microsoft.com
Hi,

Following this document, I tried to use DBCA (Database Configuration Assistant) silent mode to create Oracle Database instance. But the following error occurred.

[INS-04008] Invalid combination of argu

[2020-01-20 17:34] ticianaciminari commented on #46471
#https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/3018

[2020-01-20 17:36] marckassay commented on #39718
@mmacy, as of this post, when I made the initial switch of directory, a side panel was open with error output. This panel had a close button in the upper-right corner that after I clicked on it, Azure opened the newly created home page for this tenant.

I'll relay this in the feedback form that you mentioned about.

[2020-01-20 17:37] johnwrobinson commented on #35411
Here to confirm this is still happening in 1.15.7...

[2020-01-20 17:54] pbrit commented on #35411
Please disregard this. It turned out the tag in question didn't exist. After I fixed the name of the tag It started to work as intended. @johnwrobinson, this might happen to you as well.

`unauthorized: authentication required` for an absent tag is quite confusing though.

[2020-01-20 19:06] JohnPoetzinger opened #46474 "Pricing Zones is not listed"
The Express route FAW stating "What regions exist in the different pricing zones" links to this page. There is no documentation which states which regions belong to the different zones listed on the pricing page on this page or anywhere else that I can find. There are 4 different costs associated with outbound traffic from 4 different zones. What regions do those 4 zones represent. This is a criti

[2020-01-20 19:34] ticianaciminari opened #46475 "2 errors while trying this"
@titiks commented on [Mon Jan 20 2020](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/675)

Hello,

1. Error during the task "Azure DevTest Labs Create VM". I'm using version 3.* (preview) of the task. The error message is :

Error =&gt; code: 'InvalidDeploymentParameterValue'; message = 'The value of deployment parameter 'AsPlainText' is null. Please specify the value or use the paramet

[2020-01-20 19:35] ticianaciminari commented on #46475
Hi Team, can you please check user's comment?

Kind regards,

Microsoft DOCS International Team

[2020-01-20 19:51] Tyriar commented on #46334
Is there an issue tracking this?

[2020-01-20 20:07] BenjaminHerbert commented on #46277
@VikasPullagura-MSFT Using `az acr task list-runs` would require to have a complete history. It seems all runs older than approx 30 days are missing from the list? Checked with `--top 10000` but the output is missing hundreds of runs, so this is not a reliable way. Also this is not helping if a a run was removed. All in all not an option one should rely on.

Isn't there a way to get this informati

[2020-01-20 20:08] psignoret commented on #42817
This has been documented now.

[2020-01-20 20:10] psignoret commented on #41959
This has been added.

[2020-01-20 20:10] psignoret commented on #41937
This has been added.

[2020-01-20 20:15] marckassay commented on #31154
@ManojReddy-MSFT, this is still invalid. Pinging you in hopes to have it updated.

[2020-01-20 20:21] AjayKumar-MSFT commented on #46401
@Bryankarlsson,  The automatic port detection detects the port (port 80 is the default), we will attempt to detect which port to bind to your container, but you can also use the WEBSITES_PORT app setting and configure it with a value for the port you want to bind to your container. However, the web server in your custom image may use a port other than 80. You tell Azure about the port that your cu

[2020-01-20 20:29] grik001 commented on #46380
Following

[2020-01-20 20:35] drdamour opened #46477 "System.Data.SqlClient.SqlConnection is now Microsoft.Data.SqlClient.SqlConnection"
as of .net core 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Tutorial: Access data with managed identity - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-c

[2020-01-20 20:41] seanlee10 opened #46478 "docker login"
I am blocked at pulling the sample labeling tool container from containerpreview.azurecr.io/microsoft/cognitive-services-form-recognizer-custom-supervised-labeltool. It asks for username and password but I didn't get any of that information in the welcome email. In AWS, you can run command like `aws ecr get-login` to get the password. Do you have anything similar?

---
#### Document Details

⚠ *Do

[2020-01-20 20:41] BryanTrach-MSFT commented on #46101
@xinjinmsn Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag Ryan or myself in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-20 20:41] #46101 closed

[2020-01-20 20:42] mrdenny opened #46479 "Error when running step 3"
I get an error when running step 3 on this page.

C:\Users\denny.DCAC&gt;kubectl cp ~/.ssh/id_rsa $(kubectl get pod -l run=aks-ssh -o jsonpath='{.items[0].metadata.name}'):/id_rsa
Error: unknown shorthand flag: 'l' in -l

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Indep

[2020-01-20 20:50] vivekrg commented on #45188
@jakaruna-MSFT I got the same error today in EastUs2 region when using using availability zones with the  private cluster enabled flag --zones 1 2 3 --enable-private-cluster
Deployment failed. Correlation ID: XXXX. There is no capacity for private cluster at this region. Please refer to https://aka.ms/aks/private-cluster for detail

[2020-01-20 20:58] josuvil opened #46480 "Nested Groups"
Under Groups, you might want to make a note regarding the lack of nested group support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42a0b4cb-1981-1cbc-ce2c-dbfd8af1527c
* Version Independent ID: d49c873c-9843-8428-a6d1-a1995067d13b
* Content: [Service limits and restrictions - Azure Active Directory](https://docs.mi

[2020-01-20 21:00] JuanKRuiz commented on #45910
I'll vote+ for updating this content :) current label in Combo box says: "Customer Usage Attribution"

[2020-01-20 21:21] ryanceleslie commented on #46007
I'm using KWallet since my desktop is KDE with openSUSE. Running the snap connect should add an entry to kwallet, but it doesn't.

[2020-01-20 21:24] langstonj commented on #46315
I believe that DMV sys.dm_audit_actions supplies the information I needed.

Best,

John C Langston  |   SQL Database Administrator  |  eLynx Technologies, LLC  |  2431 E. 61st, Suite 700  |  Tulsa, OK  74136  |  www.elynxtech.com

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Thursday, January 16, 2020 7:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Langst

[2020-01-20 21:28] BryanTrach-MSFT commented on #46477
@drdamour Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-20 21:28] svangeti commented on #46238
@Adam-Smith-MSFT thanks for the response. Do you know any other solutions/best practices to implement immutable storage option at object level based on time based retention. Any help/suggestions appreciated. _If you compare this to AWS S3, it currently does support WORM feature at both bucket level, folder and object level._

[2020-01-20 21:37] fablehouse opened #46481 "Detach route filter"
No reference how $ckt is from and example of peering[0] could be wrong, it maybe is peering[1]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf411a3-0959-6060-0af4-856e83c5b2c6
* Version Independent ID: b1b96be2-6ba1-d022-624b-49a92960c076
* Content: [ExpressRoute: Route filters- Microsoft peering:Azure PowerShell](h

[2020-01-20 21:44] keithdv commented on #45071
@noirde I have ran into that error multiple times and have not gotten around it. I cannot get Microsoft Graph to accept a SAML Assertion to get an access token in any senario.

@umeshbarapatre Yes, we've gotten SAP to accept the SAML Assertion. We've had to play with the NameID attribute , AudienceRestriction and Recipient within the Azure Enterprise Application settings but we got it to work.

Ye

[2020-01-20 21:46] macolso commented on #46055
Hello! VNet deployments should be working - please file a support ticket if you see any abnormal behavior.

[2020-01-20 21:48] jmprieur commented on #46317
@MarileeTurscak-MSFT, please assign to @navyasric

[2020-01-20 22:16] lesterw1 opened #46482 "Need a section on how to insert data into CosmosDb"
This page has greate examples for creating a CosmosDB account, database, and a container. But critically, it lacks any examples (including on the 'All PowerShell Samples' linked page) on how to insert items into a container within the database. Searching the internet for examples has been fruitless.  Can we add a couple of examples here, or at the very least, a link to another page where it shows

[2020-01-20 22:21] JuanKRuiz commented on #45910
Current customer usage attribution is not being displayed in any of my current partners. AS mentioned in other post above, that could be cause by some consumption threshold that is undocumented.  While include this in the documentation could save us additional efforts, I think is even more important update the reports to show every amount even when lower than <$100. That will bring us early confir

[2020-01-20 22:22] chrisjhahn commented on #35426
So there is really no way to assign users to desktops or apps by group, you have to add users by UPN one at a time?  Can you use a group with a UPN such as a mail-enabled security group?  If this isn't possible is it at least in the roadmap?  Seems like a pretty basic administrative feature.

[2020-01-20 22:39] otravers opened #46484 "Does this work with new way Xero handles authentication (Oauth 2.0 vs 1.0)?"
Just a couple of months ago I was able to authenticate my ADF connection against a Xero private app using your instructions, with the app set up with OAuth 1.0a.

Now Xero has a different model based on OAuth 2.0. When you create an app in the Xero developer website, you no longer see fields for Consumer Key and Consumer Secret, instead it's Client id and Client Secret. There is also no reference

[2020-01-20 22:51] drdamour opened #46487 "connection string section should identify .net core support"
what works in .net core is less that .net 4.  The connection string table should be updated to indicate which things work and which things don't in .net core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bbda-64204283c6a2
* Version Independent ID: cc17a1df-33ce-e6ba-bad9-052010244bff
* Content: [Ser

[2020-01-20 22:52] ThomasWeiss commented on #46339
@kiranpradeep please send your Azure subscription ID and Cosmos DB account name to my email: thweiss (at) microsoft (dot) com and I will look into it. Thanks!

[2020-01-20 22:54] SherwinV4T opened #46488 "TSI Environment Stuck in Loading the Page even if you create a new one."
I have a running TSI Environment last week 2nd week of January 2020. But when I run it this week, all I notice is it stuck in Loading the details of the Page. I even access my other TSI Environment and created another new one but still all of it stuck in Loading the details in the Page. I leave them for 2 days loading but still failed to fininshed it.

I dont know if its just me.

The Account is i

[2020-01-20 22:59] femsulu commented on #46466
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-01-20 23:11] mybm3w commented on #46432
To add to this. In my tenant, if I disable Pass-Though authentication and then enable Password Hash Sync, both the manage group buttons are enabled next to Password Hash Sync and Pass-Though Authentication. If I disable Password Hash Sync, and enable Pass-Though authentication the manage groups buttons are disabled. I can send a screenshot if needed.

[2020-01-20 23:14] frehnejc commented on #46429
Is there any specific port requirments on the Azure firewall side that need addressing eg should those same ports be setup as per the table?

[2020-01-20 23:22] alathrop opened #46489 "Use registered ScikitLearn models in Designer?"
Can I use ScikitLearn models that I register in the Azure ML service in pipelines that I create in Designer? If so, is there an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c9e148d-1d2d-31d1-55b4-9d80498e2c5b
* Version Independent ID: 2539780e-a1ca-bc30-ff17-8b807d702cbe
* Content: [Build ML models with des

[2020-01-20 23:30] mamccrea commented on #44185
I hope this information has been helpful. I will now proceed to close this thread. If you have any additional questions, please reopen this issue.

#please-close

[2020-01-20 23:31] #44185 closed

[2020-01-20 23:32] mamccrea commented on #44385
This ticket is still in progress. I will respond here once it has been addressed. If this is a blocking issue, please open a ticket with Azure support using the Azure portal.

#please-close

[2020-01-20 23:32] #44385 closed

[2020-01-20 23:39] StingyJack commented on #35411
Bad (unhelpful, uninformative, or just wrong) error messages should be nontrivial deductions from the offenders compensation.

[2020-01-21 00:40] rolyon commented on #45853
Hi @Lukasz994
I updated list to include Microsoft.AppConfiguration:
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftappconfiguration
thanks

[2020-01-21 00:50] yevhen-kuras commented on #46366
It seems that only option to invalidate existing flow is to avoid any UDP messages for IdleTimeoutInMinutes. By default it is 4 minutes for AKS LoadBalancer service types.

[2020-01-21 00:57] ecfan commented on #46429
@kevinlam1, could you please help with @frehnejc's question? Thanks!

[2020-01-21 01:04] MSNina123456 commented on #46448
I worked with your team Sekhar, kindly check with him for more info. thanks

[2020-01-21 01:11] mybm3w commented on #46432
I managed to get PTA working by using the Add-AzureADMSFeatureRolloutPolicyDirectoryObject PowerShell command to add the group. In the UI the manged group next to PTA is still disabled.

[2020-01-21 01:18] likebupt commented on #46321
@alathrop  Sorry that currently tune hyper-parameters module does not support svd recommender module. Could you please explain more about your scenario so that we could prioritize such new feature?

[2020-01-21 01:20] BharathNimmala-MSFT commented on #46475
@ticianaciminari Thank you for bringing this to our attention, we will further look into this and update the thread accordingly.

[2020-01-21 01:20] DanielLarsenNZ opened #46491 "Code examples should be updated to Cosmos SDK v3"
Code examples are written in Cosmos SDK v2 which is quite old now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6278ead7-854a-a291-89f3-299432737ffb
* Version Independent ID: b2b292bb-1beb-aaef-157c-7b70f5c96bdb
* Content: [Learn how to secure access to data in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/

[2020-01-21 01:21] gregbnz commented on #41233
Hi there, what is the expected behaviour if a M365 Business tenant has security defaults enabled, the users all register for MFA & are getting prompted as usual, but then someone goes and creates an un-related Conditional Access policy (eg block logins from certain countries)? As this article mentions they are incompatible, does it disable security defaults and therefore no-one is getting MFA prom

[2020-01-21 01:21] dcbrown16 opened #46492 "Stack PowerShell"
Is there a particular reason all the PowerShell install links point to Azure Stack PowerShell?
Seems like this should point to ASM PowerShell.
https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c08ad17-5dcd-5000-7454-

[2020-01-21 01:36] Mike-Crowley commented on #41233
@gregbnz As soon as you begin to create your first conditional access policy, you get a warning that it will turn Security Defaults off. You can cancel from there if necessary, but if you're entitled to Conditional Access Policies, the idea is that you'd re-implement the other policies as well, not just the one-off that represents whatever that technician is doing.

[2020-01-21 01:42] gregbnz commented on #41233
@Mike-Crowley  Ok great thanks. From what i am reading from others, the baseline policies are being deprecated in favour of the combined security defaults option. So when we createa custom CA policy and need to replace the sec.defaults manually, do you know of a way to get the risk-based MFA feature back for a tenant that is only licensed with M365B? As from what I understand the risk based prompt

[2020-01-21 01:57] msrini-MSFT commented on #46481
@fablehouse  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-21 02:01] alphakevin opened #46493 "What is inside manifests file?"
Are these files normal k8s deployment yaml or a sepecial format for this action? It will be more helpful if showing some examples on these files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 425acc49-70b8-743f-a65c-a2bfc8026404
* Version Independent ID: 0410b512-d27c-d3b9-f641-8db5412a6759
* Content: [Build, test, and

[2020-01-21 02:23] Mike-Ubezzi-MSFT commented on #46482
@lesterw1 Thank you for bringing this suggestion to our attention. I am making the content owner aware of this and an update to the document will be published as appropriate.

[2020-01-21 02:26] ssvillamor23 commented on #46488
Hi, Resolve by clearing cache and cookies. Please Close.

[2020-01-21 02:27] Mike-Ubezzi-MSFT commented on #46491
@DanielLarsenNZ Thank you for bringing this to our attention. We are evaluating this and will make an update to the document to reflect that latest information with regard to available SDK information.

[2020-01-21 02:29] Mike-Ubezzi-MSFT commented on #46488
@SherwinV4T We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-21 02:29] #46488 closed

[2020-01-21 02:54] MohitVerma-MSFT commented on #46464
Hello @r3dr4gon ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 02:55] MohitVerma-MSFT commented on #46465
Hello @danobri ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 02:56] MohitVerma-MSFT commented on #46467
Hello @wboevink ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 02:57] MohitVerma-MSFT commented on #46468
Hello @cmgharris ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 02:58] MohitVerma-MSFT commented on #46469
Hello @cmgharris ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 02:59] MohitVerma-MSFT commented on #46471
Hello @ticianaciminari ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 03:01] MohitVerma-MSFT commented on #46474
Hello @JohnPoetzinger ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 03:02] MohitVerma-MSFT commented on #46478
Hello @seanlee10 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 03:04] MohitVerma-MSFT commented on #46479
Hello @mrdenny ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 03:04] CedricZhu commented on #46027
@femsulu Can you please reopen this queries? I think some of questions are still under investigation. And our customer is waiting for our response. Thank you.

[2020-01-21 03:05] MohitVerma-MSFT commented on #46480
Hello @josuvil ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 03:10] sidesw1pe opened #46494 "Another spelling mistake"
"See Recover an Azure SQL database using database backups for more informaion."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f1726-f5b5-e504-33c4-8ceefa5b02f7
* Version Independent ID: baf2eb27-05bf-8d85-2a34-2f6c0ef739b1
* Content: [Copy a database - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-

[2020-01-21 03:11] sidesw1pe commented on #46494
and

"and it can cause the copy operaion to fail"

[2020-01-21 03:11] karpikpl commented on #5654
I'm looking for exactly the same thing - @debben - have you found your answer?

[2020-01-21 03:16] MonikaReddy-MSFT commented on #46357
@ralphhendriks - I'm going to assign this to the document author so they can update the document accordingly.

[2020-01-21 03:21] MarileeTurscak-MSFT commented on #46247
I believe it's within Sentinel itself, but I'm unable to access a Sentinel tenant so I'm assigning this to @SaurabhSharma-MSFT to confirm

[2020-01-21 03:34] KalyanChanumolu-MSFT commented on #46494
@sidesw1pe Thank you for taking the time to report these, I have updated the doc accordingly.
The changes should be live EOD. We will close this issue now.

In future, if you see any minor bug fixes in the doc, please feel free to click on the edit button and submit a PR to update. We love taking contributions from the community.

[2020-01-21 03:34] #46494 closed

[2020-01-21 03:36] shashishailaj commented on #46487
@drdamour Thank you for your feedback . We will engage with the content authors to see how best we can modify the content on this page and update this thread.

[2020-01-21 03:41] MarileeTurscak-MSFT commented on #46285
@jevgenij-martynenko I think this is a fair point since they use legacy Skype for Business access.

I made a pull request to add a note about this but will leave it open for confirmation from @MicrosoftGuyJFlo , as I'm unsure if the product team is already working to fix the product itself. https://github.com/MicrosoftDocs/azure-docs-pr/pull/101713

[2020-01-21 03:41] #46285 closed

[2020-01-21 03:54] RohitMungi-MSFT commented on #46489
@alathrop Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-21 03:56] rojakcoder opened #46495 "Read local.settings.json for testing"
Is there an easy/recommended way to read the local.settings.json file for use with the tests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Functions](https://docs.microsoft.com/en-us/azure/azu

[2020-01-21 03:57] #46495 closed

[2020-01-21 03:59] markjbrown commented on #46491
@DanielLarsenNZ if you need examples immediately please refer to or GitHub repo here.
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/UserManagement/UserManagementProgram.cs

@Mike-Ubezzi-MSFT Please assign to @ThomasWeiss to update. Thomas, FYI on new user/perms samples. Once these go into PR you can close this.

Thanks.

[2020-01-21 03:59] RohitMungi-MSFT commented on #46478
@seanlee10 Could you please submit an [access request for labelling tool](https://aka.ms/LabelToolRequestAccess) to get the user name and password if not done already?

Once approved an App ID and Password is sent to the email id provided, which can be used during the `docker login` step.

[2020-01-21 03:59] rojakcoder commented on #46495
Looks like issue [#38310](https://github.com/MicrosoftDocs/azure-docs/issues/38310) has addressed my question.

[2020-01-21 04:04] markjbrown commented on #46482
The reason there are no examples for using PowerShell to do this is because we do not support PowerShell as a client to our DataPlane.

PowerShell is a client used to management operations on services in Azure. It is not intended for use as a database client. If you want to read/write data to Cosmos, please use one of our SDK's.

#please-close.

[2020-01-21 04:04] #46482 closed

[2020-01-21 04:12] markjbrown commented on #46455
The music notes are in the portal so if you want to go there and see them you can.

I don't think the baseball analogy or the way it's written is easy to understand so I will update it to explain this in a better way. It's just not at the top of my list of work items for our consistency level docs at the moment. But it will be updated to use another scenario that is more universal and easier to un

[2020-01-21 04:12] #46455 closed

[2020-01-21 04:14] markjbrown commented on #39542
@SnehaGunda, no response and given this has been open since September, please pull this article down.

Thanks.

[2020-01-21 04:17] Karishma-Tiwari-MSFT commented on #46274
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-21 04:17] #46274 closed

[2020-01-21 04:17] Karishma-Tiwari-MSFT commented on #46289
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-21 04:17] #46289 closed

[2020-01-21 04:18] Karishma-Tiwari-MSFT commented on #45939
@ChristianMontoya Do we have any documentation on this to share?

[2020-01-21 04:19] udlose commented on #45677
Hello. I still don't see the documentation published with the correct URLs. Was just checking to see if this was pushed and should be visible.

[2020-01-21 04:23] ggailey777 commented on #30381
.NET Core 2.2 does seem to be required to get the extension to run and debug successfully. I'm checking with the PowerShell folks and will update this article as soon as I get confirmation.

Thanks to folks who have reported this, and sorry for the long delay in getting it fixed 😦

#reassign:ggailey777

[2020-01-21 04:27] Karishma-Tiwari-MSFT commented on #46055
Thanks @daneri-norkart for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-21 04:27] #46055 closed

[2020-01-21 04:28] SwathiDhanwada-MSFT commented on #46448
@MSNina123456 Can you please share email id of the person you are working with at AzCommunity[at]microsoft[dot]com because there will n number of Sekhar's in an organization.

Please note that this channel is mainly for documentation  changes. If you have technical issue , I would suggest you to post your question at [MSDN Platform](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureau

[2020-01-21 04:29] Karishma-Tiwari-MSFT commented on #45928
@marcin-vt Please let me know if you are still seeing this issue. The known issue as shared in the screenshot has been fixed.

[2020-01-21 04:31] SwathiDhanwada-MSFT commented on #46322
@sathyarajv  Can you please share requested information or let us know if provided information resolves your question?

[2020-01-21 04:42] jakaruna-MSFT commented on #46479
@mrdenny This problem occurs in CMD during interpolation.

Works well in powershell and in [cloudshell](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart). Personally i like cloudshell.
Can you try in that and let me know.

[2020-01-21 04:53] KrishnaG-MSFT commented on #46264
@jakaruna-MSFT Please do the needful and follow up if required.

[2020-01-21 04:55] sujayvsarma commented on #46431
[This](https://github.com/MicrosoftDocs/azure-docs/issues/46431#issuecomment-576272500) particular problem is solved. Apparently I had forgotten to grant User2 access to the subscriptions (was only admin of the tenant & not of the subscription as well).

Do find me answers to the [original question](https://github.com/MicrosoftDocs/azure-docs/issues/46431#issue-552074556).

[2020-01-21 04:57] RohitMungi-MSFT commented on #46463
@irishun The step to check the existing connection is to ensure we have unexpired SAS URLs added as the connection. Since the VoTT file is stored in your container this connection check will ensure all the previous projects of the connection are loaded when you want to open an existing cloud project. After selecting the required VoTT file the project is loaded with the same connection settings of

[2020-01-21 05:00] jakaruna-MSFT commented on #46264
@wangjun-jwa @savyasachisamal please add your inputs

[2020-01-21 05:15] DixitArora-MSFT commented on #46131
Hi @Torxsmind I have assigned this to content author for further review and update as appropriate.

[2020-01-21 05:26] SadiqhAhmed-MSFT commented on #46431
@sujayvsarma Thanks for the update. Glad to know you were able to fix this issue.

Closing this issue as no further action required. Feel free to get back to us if you've any questions in this matter.

[2020-01-21 05:33] sujayvsarma commented on #46431
@SadiqhAhmed-MSFT - who said my question is resolved? please read my last comment correctly.

reopen!!!

[2020-01-21 05:43] VikasPullagura-MSFT commented on #46316
@petetian Thanks for sharing the details.
From the information shared i see you missed the argument table to the end of the command.

Please run the command `az aks get-upgrades --resource-group k8s-aks-cluster-rg-pt --name aks-k8s-cluster --output table --debug` and share the output in a readable format.

I have reproduced this with 1.14 and I have no issues.

[2020-01-21 05:43] sharmamanish260979 commented on #46398
Hi,

Thanks but i could manage to find the solution. I wasnt using options for Linked IR and registering resourceId.

[2020-01-21 05:43] #46398 closed

[2020-01-21 06:00] tchristiani commented on #45994
@RohitMungi-MSFT thank you. We will need to reassign this to the team that is responsible for creating our samples. Updating this sample code will be added to their backlog.

[2020-01-21 06:06] tchristiani commented on #45994
I have opened a bug in the backlog to fix this sample.
#please-close

[2020-01-21 06:06] #45994 closed

[2020-01-21 06:22] jakaruna-MSFT commented on #43614
@Pilchie  you will get that error if you dont have any updates available

reference https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#check-for-available-aks-cluster-upgrades

Try with -o json to confirm

[2020-01-21 06:32] SnehaAgrawal-MSFT commented on #46425
@Richards706 Thanks for asking question!
•	Request you to follow this [learning module](https://docs.microsoft.com/en-us/learn/modules/host-a-web-app-with-azure-app-service/) for hosting a web application with Azure App Service.
•	If you already having [Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started?tabs=azure-portal) > Go to your A

[2020-01-21 06:54] sujayvsarma commented on #46425
@SnehaAgrawal-MSFT - I guess @Richards706's anguish is about the fact that all the learning modules on the docs systems provide you with preconfigured projects. He wants that he be able to manually create these projects.

To rephrase:

Existing:
- Download Project X
- Run Configure.ps1 to create the objects in Azure/etc
- Run and voila!

@Richards706 wants:
- Detailed steps to create Project X
- D

[2020-01-21 07:10] ChiragMishra-MSFT commented on #46318
@mwc360 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited a

[2020-01-21 07:10] #46318 closed

[2020-01-21 07:36] Rec0iL99 commented on #37017
This error still keeps occuring please do fix!

2020-01-21 13:05:50.124 21967-21967/com.semicolon.sampleface E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.semicolon.sampleface, PID: 21967
    java.lang.RuntimeException: Unable to instantiate activity ComponentInfo{com.semicolon.sampleface/com.semicolon.sampleface.MainActivity}: java.lang.NullPointerException
        at android.app.Activ

[2020-01-21 07:57] jakaruna-MSFT commented on #46411
@Jayesh040
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2020-01-21 07:57] #46411 closed

[2020-01-21 08:01] masaki9 opened #46497 "Unable to Find "Remove spending limit" in Azure Portal"
I followed the following instructions on the "Azure spending limit" web page, but "Remove spending limit" is not at the top of the page as shown in the attached screenshot. For your information, I signed into the portal and then selected my pay-as-you-go subscription.
1. Sign in to the Azure portal.
2. Select a subscription. If the spending limit of the subscription is reached, it will be disabled

[2020-01-21 08:03] VikasPullagura-MSFT commented on #46443
@johnrkriter I have assigned the issue to content author for updating the doc accordingly.

@paulbouwer Can you please check and add your comments for this doc enhancement.

[2020-01-21 08:07] ganesh-gawande commented on #46346
This is documentation link I am following. In this document, the device is not mentioned or device specific steps are not mentioned.

https://docs.microsoft.com/en-us/azure/asc-for-iot/how-to-deploy-edge

As this framework is not getting installed, I am not able to go ahead and install the security module on my edge device.

[2020-01-21 08:14] msrini-MSFT commented on #46399
@waltersnyder2 , Please tag me if you have any further questions.

[2020-01-21 08:14] #46399 closed

[2020-01-21 08:32] Bryankarlsson commented on #46401
@AjayKumar-MSFT I'm not sure what it is that you want me to do? I have expsed port 80 in my docker file. Should that not work?

Tell me exactly what you want me to test.

[2020-01-21 08:44] ytugarev commented on #45656
And for everybody who is looking for an answer for a question "Is MDTS supported with Azure Premium Shares or not" the answer is "No"

[2020-01-21 08:54] perttulaurila commented on #14508
Hi,
just out of curiosity, why do you "need a process" for on-boarding new custom control providers?

It is just an OpenID federation, if the tenant wants to delegate the authentication to an external identity provider, they should be free to do so. The is no need for MS to do anything per provider.

[2020-01-21 08:56] msrini-MSFT commented on #46462
@safwanesgit , This feature is still in preview and not recommended for Production workload.

Did you tried [this ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad#continued-ssh-sign-in-prompts)suggestion provided in the same doc?

[2020-01-21 09:00] msrini-MSFT commented on #46471
@romitgirdhar, Please validate the fix and update the doc if needed.

[2020-01-21 09:02] VikasPullagura-MSFT commented on #45928
@marcin-vt Thanks for the confirmation.

I will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-21 09:02] #45928 closed

[2020-01-21 09:03] safwanesgit commented on #46462
Thank you for your response . Yes i have tried the suggestion but i am getting the same login prompt allover again  .
Does anybody know when this feature will be suitable for Production workloads ?

[2020-01-21 09:17] kamilk opened #46498 "What about exceptions?"
I would like to learn more about how Service Fabric handles exceptions which occur during this lifecycle. For example, what happens if a listener fails to open (an exception is thrown in OpenAsync)? From my observation, I believe the listener is restarted but the process itself is not terminated, AppDomain.UnhandledException is not triggered. Where are these exceptions logged?

---
#### Document D

[2020-01-21 09:19] PramodValavala-MSFT commented on #46449
@nafisIslam Based on the [source](https://github.com/Azure/azure-webjobs-sdk-extensions/blob/master/src/WebJobs.Extensions/Extensions/Timers/Scheduling/ScheduleStatus.cs#L21), it is indeed the next occurrence timestamp.

One case I believe where you might be seeing the current timestamp instead would be if an occurrence was missed during host restarts. Since [this property is enabled when `useMoni

[2020-01-21 09:21] KrishnaG-MSFT commented on #46453
@spmanjunath As shown in below screenshot, it is quite readable to me.

![Policy2](https://user-images.githubusercontent.com/45988031/72789367-aa970000-3c59-11ea-9f3c-06cadfb57827.png)

But as per your feedback, assigning this to content owner @DCtheGeek to review and if appropriate to enhance the screenshot for even better visibility / readability.

[2020-01-21 09:31] SubhashVasarapu-MSFT commented on #46492
@dcbrown16 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-01-21 09:34] msrini-MSFT commented on #46462
@safwanesgit , We don't recommend to use public preview features in PROD environment.

[2020-01-21 09:35] msrini-MSFT commented on #46456
@aarfe , Do you have any update on this issue?

[2020-01-21 09:37] msrini-MSFT commented on #46481
In the same doc, you can see how to add a route filter where it is mentioned as peering[0] .

https://docs.microsoft.com/en-us/azure/expressroute/how-to-routefilter-powershell#updateproperties

That's why the same variable is used in removing commands as well.

Let me know if you have any further questions.

[2020-01-21 09:43] amanmcse commented on #46426
@elvirk  The **ID** must be unique for each role assigned to service principal of an instance of Amazon Web Services (AWS) enterprise application in Azure AD. Another instance of Amazon Web Services (AWS) enterprise application, can have same role name with same or different ID. But two roles in one instance can't have same ID. You can use any GUID generator such as https://www.guidgenerator.com/

[2020-01-21 09:46] ajaykaarthic commented on #46445
I tried with the Get Read Operation Result API only, I am getting 404 error.

[2020-01-21 09:52] mrmueller opened #46500 "Workday references"
There is at leas one reference to Workday in this article. "If there are errors in the mapping or Workday data issues..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed074cb3-7c71-0728-10d5-d1f991162e67
* Version Independent ID: 0ed1eddb-f8d2-172b-0cc5-ed5f94a9b1e6
* Content: [Tutorial: Configure SuccessFactors writ

[2020-01-21 09:54] RohitMungi-MSFT commented on #46445
@ajaykaarthic If your operation id has expired the result Read operation result API will not return the result. In this case re-run the batch API again and use the new operation id.

Since this looks like an issue with the requests rather than the documentation we would request you to raise a support issue in Azure portal so an engineer can lookup for any issues in your requests.

[2020-01-21 09:54] boachim opened #46501 "RequestAuthnContext - More context on the default behavior"
Could we add more context regarding the way we handle RequestAuthnContext when having multiple values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bb99a4-4092-0202-48bf-4e61ee424faf
* Version Independent ID: a066de9a-42fb-2fcc-683d-2ffdc45fdf3d
* Content: [Azure Single Sign On SAML Protocol](https://docs.microsoft

[2020-01-21 09:55] mrmueller opened #46502 "Scoping"
Hi,

Can someone please elaborate on the scoping settings. I can do it as described here (in the synchronization mappings) or i can choose to only sync assigned users under the provisioning settings (scope). What are the differences?

Obviously i can use groups to assign users to the application which i cant do in the mappings. But are there differences in functionality regarding the sync?

Thanks

[2020-01-21 09:58] ChiragMishra-MSFT commented on #46347
@gjjtip Sending output is a feature that only notebooks support for notebook workflows and not jar or python executions in databricks. This should be a feature ask for databricks and only then ADF can support it.

I would recommend you to submit this as a product feedback on [Azure Databricks feedback forum](https://feedback.azure.com/forums/909463-azure-databricks).

I will now proceed to close t

[2020-01-21 09:58] #46347 closed

[2020-01-21 10:02] grahambunce opened #46503 "Its unclear how time based metric and scale based metrics interact"
The example given if for a single metric that is scale and time based but this is insufficient.

In production, most auto-scale rules are just metric based (who cares if it's outside your time schedule, if CPU is high, just auto-scale). However, it is common to "pre-empt" metric scaling by "we know 6:00PM is our busy time, so force a scale out at 5:00PM until 11:00PM".

What isn't clear is how the

[2020-01-21 10:10] SwathiDhanwada-MSFT commented on #46503
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-21 10:11] Sudharma commented on #35411
still this does not work for us. I mean the behaviour is inconsistent. It works sometimes and after few deployments it fails and if we start the deployment again. it works. No idea whats wrong here.

The original SP is with Contributor role and the same SPN has the AcrPullRole. If I list the role assignment with `--all` then I can see the role

[2020-01-21 10:11] capoitas commented on #46387
Did anyone find a solution around this error?

[2020-01-21 10:17] SubhashVasarapu-MSFT commented on #46201
@tjrobinson , Appreciate your patience. Thanks for sharing the resolution summary that could be a great help for the other community members reading these documents. We will now work on this document accordingly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-21 10:17] #46201 closed

[2020-01-21 10:19] tjrobinson commented on #46201
Would it not make more sense to close it when you've updated the documentation?

[2020-01-21 10:20] MohitVerma-MSFT commented on #46421
Hi @javafun ,

Thanks for reaching out !!

I would to communicate that the above mentioned information is available in the limit section of below doc:

https://docs.microsoft.com/azure/azure-monitor/app/profiler-overview#limitations

The document aims at providing common troubleshooting scenario and steps.

Let me know if you need any other details.

[2020-01-21 10:27] MohitVerma-MSFT commented on #46395
Thanks for your feedback. Looping @spelluru , for his review.

Seems like you screenshot is missing in the thread, could you please post it again .

[2020-01-21 10:30] MohitVerma-MSFT commented on #34092
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-21 10:30] #34092 closed

[2020-01-21 10:31] safwanesgit commented on #46462
This is not what i asked . When will this feature move from "preview" to native Azure feature ?

[2020-01-21 10:32] amanmcse commented on #46428
@elvirk If you have multiple instances of Amazon Web Services (AWS) enterprise app in your tenant, you will have to use different Identifier to each instance. If you have deleted existing instance with Identifier https://signin.aws.amazon.com/saml and trying to configure new instance with same Identifier and getting this error, it may be due to cleanup issues with deletion of old instance. Please

[2020-01-21 10:34] VikasPullagura-MSFT commented on #46382
@msmbaldwin Can you please check and add your comments on this.

[2020-01-21 10:35] VikasPullagura-MSFT commented on #46397
@MicrosoftDocs/aks-pm Can you please check this and add your comments.

[2020-01-21 10:40] boachim opened #46504 "OpenID-Configuration Link - wrong in example"
The example for the openid-configuration has reversed order between .well-known and v2.0 in the link.
In the example, we have the link: https://login.microsoftonline.com/{tenant}/.well-known/v2.0/openid-configuration?appid=6731de76-14a6-49ae-97bc-6eba6914391e.
This should be https://login.microsoftonline.com/{tenant}/v2.0/.well-known/openid-configuration?appid=6731de76-14a6-49ae-97bc-6eba6914391e.

[2020-01-21 10:55] pixxet opened #46507 "OptOutTemplate.json is wrong"
results:
`Failed to parse ./OptOutTemplate.json with exception:
    Expecting ',' delimiter: line 30 column 5 (char 814)`

and after fixing:
`Azure Error: InvalidRequestContent
Message: The request content was invalid and could not be deserialized: 'Could not find member 'aksResourceTagValues' on object of type 'Template'. Path 'properties.template.aksResourceTagValues', line 1, position 405.'.`

[2020-01-21 11:07] AjayKumar-MSFT commented on #46401
@Bryankarlsson, Sorry for any confusion! In your comment on the other referenced GitHub issue "Must I set some settings in Configuration -> Application settings in Azure?" ; in regards to this, you can use a different port and then set the application setting with that port using WEBSITES_PORT app setting and see if that makes any difference.

For Windows Container, could you please check if the b

[2020-01-21 11:12] djhmateer opened #46509 "Multiple keys with --ssh-key-values"
When you need to pass multiple keys when creating a VM I found that this syntax worked:

` --ssh-key-values sshkey-work.pub sshkey-homelenovo.pub`

So space separated as [described here](https://github.com/Azure/azure-cli/issues/9706)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbbd6dbf-a5be-f8cf-4f8d-08809db1d973
*

[2020-01-21 11:14] sawdit opened #46510 "This document is out of date"
This document is out of date and doesn't give example or details for newly added Scope Filter Operators.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a77e752-0785-c3bd-9b33-f37bb7af6acd
* Version Independent ID: d865098d-299a-ddeb-6eed-9a1db3175de3
* Content: [Provision apps with scoping filters](https://docs.micros

[2020-01-21 11:15] BE-Digital-Solutions-Bart opened #46511 "NSG support for Private Endpoints"
Will NSGs be applied later on Private Endpoints? If yes, when will this happen?
According to the MS Ignite session about Web App Network Security, this feature will become available by the time it goes GA: https://myignite.techcommunity.microsoft.com/sessions/81601?source=sessions. But it is not clear to me whether this information is still correct & whether this applies to all private endpoints.

[2020-01-21 11:15] klimcio commented on #46288
Hello again,

Thanks to [Stack Overflow](https://stackoverflow.com/questions/59826328/aadsts900144-the-request-body-must-contain-the-following-parameter-scope-whe) I managed to solve this problem.

SUGGESTION:
I think the docs articles would profit if this quote

be explained in them.

This issue can be closed. I did not close it, only to be sure this comment was read.

[2020-01-21 11:17] aros1697 opened #46512 "Microsoft Azure Storage Explorer Local Device Blob Containers stuck on loading"
**Storage Explorer Version:** 1.12.0
**Platform:** Windows 10
**Edge Device:** Raspberry Pi 4

Explanation:

Followed guide: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob

Connection string used: DefaultEndpointsProtocol=http;BlobEndpoint=http://host device ip:11002/your local account name;AccountName=your local account name;AccountKey=your local account key;

I am able to

[2020-01-21 11:26] maghanetways opened #46513 "access graph api in back end service using the front end token"
Hi,

i following the below article to configure the backend api and the front end (Web app) application use azure build-in authentication :
[app-service-web-tutorial-auth-aad](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad)

my problem is when the front end passed his token to backend api and the backend trying to call the Microsoft Graph, i gotting the below

[2020-01-21 11:30] msrini-MSFT commented on #46462
@safwanesgit , ETA cannot be shared in this forum. Please check [this ](https://azure.microsoft.com/en-in/updates/)doc for any updates.

[2020-01-21 11:30] #46462 closed

[2020-01-21 11:43] shivanks commented on #28020
Check your url it contains 2 vision remove either from sys env or from code.

[2020-01-21 11:43] ketan-chawda-msft commented on #46288
@klimcio I am glad that you got the answer for your question.  Thanks for sharing it here for others.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-21 11:43] #46288 closed

[2020-01-21 11:45] roofiq commented on #36937
It would be good to be able to at least export the raw data. So one can proceed with different analysis

[2020-01-21 11:55] AjayKumar-MSFT commented on #34451
Apologies for the delay and any inconvenience with this. Couple of things to review:

If you're using VNet integration preview feature, you will need to modify your application in order to integrate with VNet. This is a temporary limitation during VNet Preview release, we will remove the limitation before GA. In your application, please use the PORT environment variable as the main web server’s li

[2020-01-21 11:58] ShiviSoni opened #46514 "File Share access cannot be directly put behind CDN"
As CDN only has support for HTTP(80) and HTTPS(443), File share using SMB 445 cannot be directly put behind the CDN. It is possible through Rest API.
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-faq

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d6bc215-fe23-bc56-d1ae-6b737a2dc5a0
* Version Indep

[2020-01-21 12:03] maptan opened #46515 "Get new IP addresses Scenario missing?"
The way it is written, it seems that a scenario and details would follow. Is it missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69c921d-0f42-7b6c-88ef-e82ff2e2453b
* Version Independent ID: 9f8b73b2-fa6a-cb9c-d22e-67ec625ce3d7
* Content: [Connect to Azure VMs on-premises failover with Azure Site Recovery - Azu

[2020-01-21 12:06] cat-mucius commented on #46171
Any news?

As I see from the https://docs.microsoft.com/en-us/rest/api/keyvault/importcertificate/importcertificate page, the API supports this: `JsonWebKeyType` can be set to `RSA-HSM`, and `exportable` to `false` - but I couldn't find any option to do it with PowerShell.

The [Import-AzKeyVaultCertificate](https://docs.microsoft.com/en-us/powershell/module/az.keyvault/import-azkeyvaultcertificat

[2020-01-21 12:23] KrishnaG-MSFT commented on #46459
@giespaepen Thanks for the feedback! But as mentioned in [this](https://docs.microsoft.com/en-us/azure/governance/policy/samples/enforce-match-pattern) document, it is just a 'sample template' intended to help understand how to mention match pattern in the template. As defaultValue property under parameters is not mentioned in this case so while creating policy assignment you would have to provide

[2020-01-21 12:23] sujayvsarma commented on #46431
Is there an ETA on the answer please?

[2020-01-21 12:26] JanNepras commented on #45848
What would be helpful is to have these two tutorials in xamarin.android:

- [Push notifications to specific devices](https://docs.microsoft.com/en-us/azure/notification-hubs/push-notifications-android-specific-devices-firebase-cloud-messaging)
- [Push notifications to specific users](https://docs.microsoft.com/en-us/azure/notification-hubs/push-notifications-android-specific-users-firebase-cloud-m

[2020-01-21 12:37] ctahok opened #46517 "Azure Migrate can't discovered VMware VMs..."
Please correct this sentence: "Azure Migrate can't discovered VMware VMs"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ae98c62-5ab8-9d1a-5081-7208152799a7
* Version Independent ID: 810d3ee7-4256-6add-9319-b964c0b13814
* Content: [Troubleshoot Azure Migrate appliance deployment and discovery - Azure Migrate](https://

[2020-01-21 12:43] jakaruna-MSFT commented on #46493
@alphakevin
Thanks for the question! We are investigating and will update you shortly.

[2020-01-21 12:47] neeleshray-msft commented on #46510
@sawdit Thanks for reaching out. We will review and update as appropriate.

[2020-01-21 12:48] neeleshray-msft commented on #46504
@boachim Thanks for reaching out. We will review and update as appropriate.

[2020-01-21 12:49] neeleshray-msft commented on #46500
@mrmueller Thanks for reaching out. We will review and update as appropriate.

[2020-01-21 12:50] klimcio opened #46518 "How to set permissions?"
I configured Azure Active Directory with my Api Management using this article and I'm currently trying to get the token from step **Successfully call the API from the developer portal**. Unfortunately, I get the following message:

Me account is clearly not an admin account (I have a login option for admins, but using my account loops me back to a screen quoted above). But where can I (or an admin

[2020-01-21 12:50] ChiragMishra-MSFT commented on #46484
@otravers

[2020-01-21 13:15] dsunjka opened #46519 "Python example code is missing statements"
The page talks about "This add_entities method created a Location simple entity with two roles, a Class simple entity, a Flight composite entity and adds several prebuilt entities." - however, no such code is being presented for Python. The C# Version of the example code does contain such statements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-01-21 13:18] dawnonme opened #46520 "Size mismatch of RGB images and Depth images"
I used ffmpeg to get my RGB images and depth images from videos taken by Azure Kinect DK. However, I found the reolution of RGB images is 1902 * 1080 while resolution of depth image is 640 * 576. I also found that the depth images do not match the central of RGB image. What's the problem? And what should be the right way to combine RGB and depth images?

---
#### Document Details

⚠ *Do not edit t

[2020-01-21 13:39] jithudevineni opened #46521 "I'm fairly new in to developing policies. Looking for a logic to make sure all my Azure resource.Resource Group tag names are in lower case tag names are"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-21 13:43] jithudevineni commented on #46521
couldn't find a simple way to achieve this as the tag names are insensitive in Azure. Would like to Append as part of creation of Tags if possible

[2020-01-21 13:54] guyetoro opened #46522 "Azure B2C Custom language"
Hi,
we have an issue that we have created a custom language,  but we can't delete it.
Another issue is that in a custom language, we have uploaded a file with override textx, but when I download the overridden text, I get a totally different file (not even in the language I have uploaded -  Arabic).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-21 14:18] SadiqhAhmed-MSFT commented on #46517
@ctahok Thank you for bringing this to our attention. I've created a pull request -
![image](https://user-images.githubusercontent.com/44458118/72811899-90bfe200-3c86-11ea-84d4-36a0f0b41d0d.png) the changes will go live post evaluation by the content author.

Closing this issue for now as required changes were made to the documentation through a pull request. Please don't hesitate to re-open the i

[2020-01-21 14:18] #46517 closed

[2020-01-21 14:19] jonira opened #46523 "Define term "telemetry item""
Term "Telemetry item" is used to refer key concepts but it's meaning has not been clearly stated. Please consider adding  a sentence defining the term.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abec1591-e1ef-dcae-9cb7-8a6afd7de947
* Version Independent ID: f6119b02-ee1a-6bdd-dc0a-c33a632c9546
* Content: [Azure App

[2020-01-21 14:25] MohitVerma-MSFT commented on #46497
Hello @masaki1234 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:30] MohitVerma-MSFT commented on #46498
Hello @kamilk ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:32] MohitVerma-MSFT commented on #46502
Hello @mrmueller ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:33] MohitVerma-MSFT commented on #46507
Hello @pixxet ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:34] gpierrick opened #46524 "Supports MongoDB up from 3.4 correct?"
At the top of this page it says "Specifically, this MongoDB connector supports versions up to 3.4."

This is potentially misleading as the legacy connector supports MongoDB up to 3.6, I believe this connector supports MongoDB up from 3.4 (all the way to 4.2)

Also please re include a section regarding data mapping (like in the legacy page https://docs.microsoft.com/en-us/azure/data-factory/connect

[2020-01-21 14:34] MohitVerma-MSFT commented on #46509
Hello @djhmateer ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:36] MohitVerma-MSFT commented on #46512
Hello @aros1697 ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:37] MohitVerma-MSFT commented on #46511
Hello @BE-Digital-Solutions-Bart ,

Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-21 14:41] spainja opened #46525 "Please document Office 365 Pro Plus update procedure"
Office 365 automatic updates are disabled per the sample configuration.xml and are disabled in the user interface per the post installation configuration batch file. Please document how Office can be updated as part of the maintenance of a Windows Virtual Desktop deployment. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-01-21 14:46] SadiqhAhmed-MSFT commented on #46497
@masaki1234 Sorry for the inconvenience this has caused. The documentation needs to be updated.
Please follow the steps below to remove the spending limit:
1. Login to Azure portal
2. Click on "Subscription" tab
3. Select your subscription for example: "Visual Studio Enterprise"
4. Under "Overview" tab, click on "Manage" you will be redirected to "https://account.azure.com/" URl, on the right side

[2020-01-21 14:47] SadiqhAhmed-MSFT commented on #46497
@bandersmsft FYI, to review and update the document.

[2020-01-21 14:54] JuanKRuiz opened #46527 "Usage Attribution isn't shown in any of my partners."
Current customer usage attribution is not being displayed in any of my current partners. That might be caused by some consumption threshold that is undocumented. While include this in the documentation could save us additional efforts, I think is even more important update the reports to show every amount even when lower than &lt;$100. That will bring us early confirmation about everything has bee

[2020-01-21 15:04] venkat1017 opened #46528 "Docs Needs to be updated after the schema change"
[Enter feedback here]
The Example mentioned in the docs no more work as the schema for activity logs has been changed by MS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b2dd574-5848-fdf7-66e3-443064901b0b
* Version Independent ID: 92d25a8d-1ef6-5908-901c-a77a407683b2
* Content: [View activity logs for RBAC changes t

[2020-01-21 15:08] DCtheGeek commented on #46459
#reassign:DCtheGeek

[2020-01-21 15:09] DCtheGeek commented on #46459
@giespaepen Thanks for the feedback.  @KrishnaG-MSFT is correct, **defaultValue** is optional and isn't mandatory. The only time it becomes mandatory is if you are updating an existing policy definition that is already assigned and adding a new parameter to it. Since the pre-existing assignments wouldn't have provided a value for the parameter during assignment (since it didn't yet exist), they ne

[2020-01-21 15:09] #46459 closed

[2020-01-21 15:19] dave-smbc commented on #41112
Is there any news on The GA timeline yet

[2020-01-21 15:24] egondalia commented on #40629
I don't believe this has still been updated

[2020-01-21 15:25] sugarjig commented on #45789
Our administrator was hesitant to create the service principal. We decided to go a different route and use an Azure-managed certificate. That's working for us now.

[2020-01-21 15:26] ketan-chawda-msft commented on #46518
@klimcio From the error message it seems like your AD application doesn't have a required permission.

Can you follow the steps as mentioned in [this comment](https://github.com/MicrosoftDocs/azure-docs/issues/29197#issuecomment-514947681).

[2020-01-21 15:28] ketan-chawda-msft commented on #46515
@maptan Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-21 15:32] ketan-chawda-msft commented on #46521
@jithudevineni Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-21 15:32] sawdit opened #46530 "This page doesn't reflect what actually happens"
Specifically for Workday the suggested JSON field that is returned isn't. For example I see the other attributes within the JSON output but not SkipOutOfScopeDeletions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b0acae5-fe69-4f47-02c0-f0c9f3eeffd1
* Version Independent ID: ec047aa0-4a03-6f7f-c2ae-eb83607c73d4
* Co

[2020-01-21 15:38] DCtheGeek commented on #16496
@timgrossmann I just tried via ARMClient and it worked fine. I'd recommend validating with ARMClient. If that doesn't work, please open a support ticket so the team can help as it doesn't appear to be an issue with the doc.  Thanks!

[2020-01-21 15:38] tunminster commented on #43857
how about using Private DNS Zone with this.   The idea is to use a domain name instead of ip address.

[2020-01-21 15:41] mamccrea commented on #45261
@frvigano - you are correct. I will update the doc to make it more clear. I apologize for the confusion.

#please-close

[2020-01-21 15:41] #45261 closed

[2020-01-21 15:42] timgrossmann commented on #16496
@DCtheGeek Thank you for checking it.

I'll double check with the ARM client and see if it works using that instead of the REST API.

Thanks

[2020-01-21 15:44] gomnet opened #46531 "Access_Token format is invalid"
Hi,

When I try to validate access_token received from "/common/oauth2/v2.0/token" always I get an invalid format error... What do you think I'm missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-f13e116c231e
* Version Independent ID: 0d827d33-2906-6352-9398-13863def9354
* Content: [Microso

[2020-01-21 15:47] gomnet commented on #46531
btw, id_token is correct, so I suppose some kind of extra encoding is done only to access_token parameter.

[2020-01-21 15:50] roy-work opened #46532 "Resetting 2FA on subscriptions/tenants?"
Azure's 2FA setup, somewhat bizarrely, requires a separate 2FA for each subscription/tenant login. So, for example, I have my "Default Directory" and three other directories I have access to, each w/ their own 2FA.

The docs describe how to reset the 2FA on one's default directory/subscription/tenant, but make no mention about how to do it for other directories/subscriptions/tenants. How does one

[2020-01-21 16:07] GiftA-MSFT commented on #46519
@dsunjka thanks for your feedback, we will look into this issue and get back to you soon.

[2020-01-21 16:14] willbastian commented on #8121
@ConnorMcMahon - looping back to this:
Is https://github.com/microsoft/azure-spring-boot/issues/333 the representative issue for tracking this? Like @lhanson mentioned, being required to use implicit flow over authorization code flow is not an optimal (or secure) pattern.

Alternatively, are there other/better workarounds to this problem?

[2020-01-21 16:14] ChristianMontoya commented on #35426
@chrisjhahn : You can only use individual (user) UPNs at the moment. And yes, Azure AD group support is in our roadmap as we move UX to the Azure Portal.

[2020-01-21 16:17] PhilStollery commented on #45739
[code]

This is some example code I'm using in a Learn module that might be of use for the author.

[2020-01-21 16:18] ChristianMontoya commented on #45939
@cdanieloliveira : You can enable drive redirection by setting the custom RDP properties for a host pool here: [Customize RDP properties](https://docs.microsoft.com/azure/virtual-desktop/customize-rdp-properties) .

To address your 2nd question, unfortunately drive redirection is not supported through the web client. You can see the list of [redirections supported here](https://docs.microsoft.com/

[2020-01-21 16:19] stephbaron commented on #46027
To close the loop on this

2. If we were to make any URL changes in the future, we'd handle them with an http 301, so it would be seamless to end users.

3. This is by design. Services can be queries (e.g. https://status.azure.com/en-us/status/feed/?service=virtual-machines). The samples given above (compute, networking) are "categories" and are not queryable.

4. It is not possible to query by re

[2020-01-21 16:22] NeilMacMullen opened #46533 "Scale-out section is confusing"
The scale-out description reads "If a function app scales out to multiple instances, only a single instance of a timer-triggered function is run across all instances"

I *think* this means that the function effectively does NOT scale - i.e. at any point in time there can only every be a single instance of the function running but that seems at odd with the first part of the description ("if a func

[2020-01-21 16:22] mmacy commented on #46392
Agreed, we can be more clear about this. There's one PR in-process regarding similar (same?) issue, and we'll add additional clarifying content as required. Leaving this one open for now.

[2020-01-21 16:25] jithudevineni commented on #46521
I was pointing to lack of examples on how fields & Values can be used with ARM functions.

[2020-01-21 16:28] chrisjhahn commented on #35426
Good to hear its being worked on.  Is there any way to request early access to the Azure Portal UX? We are using the WVD management UX deployed from GitHub currently.

[2020-01-21 16:32] RyanHill-MSFT commented on #46351
@jbinard placing the AI-Agent.xml file in the [same directory](https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-troubleshoot#java-agent-cannot-capture-dependency-data) as your deployed jar file should work.

If https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-troubleshoot doesn't help and you're still running into issues, let me know.

[2020-01-21 16:35] bandersmsft commented on #28215
#please-close

[2020-01-21 16:35] #28215 closed

[2020-01-21 16:36] SebastianSchuetze commented on #42326
@stephbaron and @femsulu maybe somebody can look into it. No signal arrive on these alerts. I have test-organizations created for each supported region and created a health alert for a subscription that are connection to each of the orgs. The alert has never been triggered although the page https://status.dev.azure.com/_history clearly state service degradation over the last week already.

The ale

[2020-01-21 16:36] bandersmsft commented on #41321
#please-close

[2020-01-21 16:36] #41321 closed

[2020-01-21 16:40] aguiweb opened #46534 "Key areas ongoing vs Onboarding"
Hi, On the key areas you meant to publish Onboarding non-Azure resources rather than what is there now which is Ongoing non-Azure resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c4b9ab-975f-4050-65fa-2d510ac93fbb
* Version Independent ID: d3a90700-a503-1b65-983c-5356ffb93610
* Content: [Security Center Plan

[2020-01-21 16:45] bandersmsft commented on #40519
@torfulle @tzylla The latest info I have from the engineering team indicates that they've had intermittent problems when exporting to a storage account with firewall rules. They’ve also had reliability issues that affect exports that they’re looking for. The team is investigating. This is a product bug.
@KrishnaG-MSFT will you please flag as a product issue?

[2020-01-21 16:46] mamccrea commented on #46084
Hi @craigjar - there is additional information on the permissions in the [Set Permissions on a Data Object](https://docs.microsoft.com/en-us/azure/databricks/administration-guide/access-control/table-acls/object-permissions) article. You must set permissions on a data object once table access control is enabled.

Please kindly log your product feedback by using the button "Give Product Feedback" a

[2020-01-21 16:46] fume opened #46535 "ResolveJsonPathsInJsonTokens is undocumented"
Please, document the ResolveJsonPathsInJsonTokens metadata item key. This item key is really useful to map complex json objects to output claims as shown here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-li-idp?tabs=applications

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-21 16:49] andyjballgit opened #46536 "What are the MINIMUM permissions are required to "View resource audit history" action / section"
thx Andy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9dcb3c8-7a2a-098a-41bb-937483596a92
* Version Independent ID: 577311fd-9d22-0270-d39e-0047ca63fb11
* Content: [View audit report for Azure resource roles in PIM - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/azu

[2020-01-21 16:51] ChristianMontoya commented on #35426
@chrisjhahn : At the moment, we do not have a sign-up going on. However, stay tuned to our [Tech Community](https://aka.ms/wvdtc) as we'll post updates there as well.

[2020-01-21 16:52] stephbaron commented on #42326
The alert would only be triggered if a [Service Health ](https://docs.microsoft.com/en-us/azure/service-health/service-health-overview) event were created for a particular incident. The DevOps team would have to answer that question (if an event were created for the degradation you've mentioned).

[2020-01-21 16:52] cephalin commented on #35549
Published here: https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package

#please-close

[2020-01-21 16:52] #35549 closed

[2020-01-21 16:55] rocketraman opened #46538 "Inconsistency between diagram and text"
The text under https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing#multis2s, which I believe is correct, indicates that the routes have to be added manually to Windows clients. The diagram however, seems to indicate otherwise: because it shows a Window logo across from the IKEv2 tunnel in which all three advertised routes are added. I believe the intent of th

[2020-01-21 16:58] SubhashVasarapu-MSFT commented on #46183
@jeroenwo , We have assigned this issue to the content author for insights.

[2020-01-21 17:01] langstonj commented on #45054
I have to ask as I will be asked:  should one expect any database performance impacts with auditing turned on?

[2020-01-21 17:06] craigktreasure commented on #43407
@Mike-Ubezzi-MSFT This issue can be closed.

[2020-01-21 17:07] craigktreasure commented on #41144
@Mike-Ubezzi-MSFT This issue can now be closed.

[2020-01-21 17:09] cynthn commented on #44866
I've updated the doc with the typical OS disk size. I'm going to close this for now :)

#please-close

[2020-01-21 17:09] #44866 closed

[2020-01-21 17:11] bandersmsft commented on #46431
@amberbhargava Can you please review and comment?

[2020-01-21 17:13] sujayvsarma commented on #46431
The active question is what's in my original post at the top of the thread

[2020-01-21 17:17] rawin1015 opened #46541 "Issue: Storage Explorer doesn't show my classic storage account"
MRayermannMSFT had a patch to the issue in 2018 but the link to the patch no longer works. MRayermannMSFT wrote: "Here's how you can try the patch:
Close Storage Explorer;
Make a backup of "C:\Program Files (x86)\Microsoft Azure Storage Explorer\resources\app\out\CloudHub\js\Providers\Azure\Producers\AzureResourceTypeProducer.js"
Download the new version of AzureResourceTypeProducer from here. (li

[2020-01-21 17:21] steamwings opened #46542 "Collections or containers?"
Reading [this page](https://docs.microsoft.com/en-us/rest/api/cosmos-db/collections) would seem to indicate that SQL API has "collections" not "containers". Is the terminology inconsistent or am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7941d92-a0ea-0f78-12af-7dc8ccb2b1ea
* Version Independen

[2020-01-21 17:25] bandersmsft commented on #46497
@SadiqhAhmed-MSFT Will do. Thanks.

[2020-01-21 17:30] Mike-Ubezzi-MSFT commented on #43407
@CeciAc We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-21 17:30] #43407 closed

[2020-01-21 17:32] Mike-Ubezzi-MSFT commented on #41144
@sircybershark We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-21 17:32] #41144 closed

[2020-01-21 17:37] sgraziosi opened #46543 "Environment.from_existing_conda_environment: returns FileNotFoundError"
(Newbie alert!)
I'm trying to produce a proof of principle environment. With a walk-before-running attitude, I thought I'd use the Environment.from_existing_conda_environment(...) method. Having an environment configured to do what we need (including our own packages, which are being developed), we are trying to see if we can run experiments in AzureML.

However, using the instructions I'm finding

[2020-01-21 17:39] felickz opened #46544 "IP Ranges that source from RestfulProvider"
Please include documentation/link to indicate which source IPs will be used in outbound REST calls as part of this RestfulProvider.  This is important information for securing endpoints by IP Whitelisting these callers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225eeac5e34
* Version Indepe

[2020-01-21 17:41] akingscote commented on #31188
bump - so glad i found this thread. I was stuck on this for ages. I tried 2016-datacenter with 10m timeout and it failed with winRM error. Switched to 2012-R2-Datacenter with 3m timeout and it worked. Must have wasted 3 hours trying with 2016-datacenter.

This really needs to get fixed on the documentation, im new to packer and i thought for a long time i had done something wrong. At least make th

[2020-01-21 17:43] akingscote commented on #31188
@MicahMcKittrick-MSFT can you re-open this?

[2020-01-21 17:44] Mike-Ubezzi-MSFT commented on #16997
@alejuanito This has been resolved. If you deploy version 3.6 of MongoDB API for Cosmos DB you will not experience this issue. If you currently have a 3.2 deployment, please send me your Azure Subscription ID to [AzCommunity](mailto:azcommunity@microsoft.com) and I will have your instance upgraded. If you already have an Azure Support Plan, please open a support request and send me the support req