[2020-03-26 18:43] #50969 closed

[2020-03-26 18:43] CloudSurgeon opened #51028 "Include public IP output in blueprint example"
You can update the snippet to automatically provide the public IP address to the user:

data "azurerm_public_ip" "myterraformpublicip" {
  name                = azurerm_public_ip. myterraformpublicip.name
  resource_group_name = azurerm_linux_virtual_machine. myterraformgroup.resource_group_name
}

output "public_ip_address" {
  value = data.azurerm_public_ip.myterraformpublicip.ip_address
}

---

[2020-03-26 18:44] drewdavies commented on #29895
Just ran into this issue attempting to provision WVD, using PowerShell 7.0 via snapd on Linux.

[2020-03-26 18:50] Karishma-Tiwari-MSFT commented on #48347
@Heidilohr Did you get a chance to look into this doc update request? Thanks :)

[2020-03-26 18:50] mrbullwinkle commented on #46961
Thank you for bringing this to our attention. We have added this request to our backlog.

[2020-03-26 18:52] #50547 closed

[2020-03-26 18:53] GarrettGeorge commented on #20073
@jakaruna-MSFT This is also true for the examples on this page https://docs.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings?view=azure-cli-latest

[2020-03-26 18:54] MicrosoftGuyJFlo commented on #50921
@CeciAc the top four policies in the following doc would approximate the funtionality of security defaults. Let me know if you need more detail I would be happy to chat more email is in my profile.

https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policy-common#typical-policies-deployed-by-organizations

[2020-03-26 18:54] drewdavies commented on #29895
Just noticed the supported PowerShell versions notification via https://docs.microsoft.com/en-us/powershell/windows-virtual-desktop/overview#supported-powershell-versions

I agree with @tbolon that it could be made more verbose from within PowerShell, though.

[2020-03-26 18:55] SubhashVasarapu-MSFT commented on #51019
@mbiver , Could you please try regenerating the self signed certificate? Let us know if that doesn't help in your case for further analysis.

[2020-03-26 18:58] Phydeauxman opened #51029 "Update document"
This document has not been updated in almost a year. Is it still accurate as to what services are FedRAMP Moderate/High?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e27d0b1-56f9-2eb7-8fee-0c47cfbafeac
* Version Independent ID: 12556227-6adc-52c1-ac60-f341ae247e51
* Content: [Azure Services in FedRAMP and DoD SRG Au

[2020-03-26 18:59] Shrp77AS commented on #48341
We have the same problem - Azure Function is set up using AD validation. Now the Event Grid fails when it tried to send messages to the subscription.

[2020-03-26 18:59] mrbullwinkle commented on #45119
adding @cijothomas

[2020-03-26 19:00] Jain-Garima commented on #51029
Hi Byron, it is updated regularly and was updated in March 2020. thanks

From: Byron Boudreaux <notifications@github.com>
Sent: Thursday, March 26, 2020 11:59 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Garima Jain (AZURE) <gjain@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Update document (#51029)

This document has not been upda

[2020-03-26 19:05] markuspalme commented on #40148
The answer was missing the point. The author was not facing problems with the PORT variable, but the SSH_PORT variable. The documentation here is still lacking.

[2020-03-26 19:06] Phydeauxman commented on #51029
Sorry, I was looking at the date at the top of the doc that shows it was last updated on 5/17/2019…now I see the “[Last Updated: March 2020]” a little further down in the document.

Thanks for the quick response

From: Jain-Garima <notifications@github.com>
Sent: Thursday, March 26, 2020 3:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Byron Boudreaux <Byron.Boudreaux@micro

[2020-03-26 19:12] kobulloc-MSFT commented on #50733
@omgrnd I believe you are correct.  I attempted to go through the documentation and run the following commands on two separate subscriptions:

`az group create --name MyResourceGroup --location eastus
az aks create -g MyResourceGroup -n MyAKS --location eastus --generate-ssh-keys`

On the first subscription I didn't have sufficient permissions and saw the failure.  On the second subscription I was

[2020-03-26 19:27] SaurabhSharma-MSFT commented on #50874
@Ozzian Good to hear that you are unblocked and thanks for sharing your solution for any future readers. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-26 19:27] #50874 closed

[2020-03-26 19:28] SaurabhSharma-MSFT commented on #50664
@tsrob50 Did you get any chance to look into this.

[2020-03-26 19:31] tamram commented on #50937
#reassign: @tamram

[2020-03-26 19:40] MicrosoftGuyJFlo commented on #50921
#please-close

[2020-03-26 19:40] #50921 closed

[2020-03-26 19:41] BharathNimmala-MSFT commented on #50668
@aloksan Thank you for your query , after further validation seems the changes you have recommended are for Power Shell scripting , however the script in the [document ](https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-cli-sample-copy-snapshot-to-storage-account#sample-script) is applicable for Azure CLI where $ is not used to define variable and the script

[2020-03-26 19:41] #50668 closed

[2020-03-26 19:41] tfurstms opened #51031 "Last page update was in 2017"
Hello - This page focused on Azure AD Connect Preview features and as of 3/26/2020 the page shows that the last update was in 2017. Is this date correct and are their any updates we can make to the group writeback feature? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470ff3b2-2ef4-d4ed-ef31-6e281d30ed9c
*

[2020-03-26 19:44] BigBigGamer opened #51032 "Unable to login since authenticator app doesn't work properly with notifications and code."
I'm trying to login to my MS work account (for Teams access), which asks me to verify login on my device with Authenticator app. The app shows an error message saying something like (translated from native language)
"Unable to process notifications from your work or school account. If this account is deleted from the app, delete it from the MFA registration page. Otherwise, delete the account and

[2020-03-26 19:48] BharathNimmala-MSFT commented on #51029
@Jain-Garima Thank you for your quick response.

@Phydeauxman Thank you for your query. Will go ahead and close this issue for now, however if there are any other queries/feedback please revert back. Thank you.

[2020-03-26 19:48] #51029 closed

[2020-03-26 19:49] yoelhor commented on #50847
Sorry, we don’t have this feature coming up in the next while. Please post your idea in the [https://feedback.azure.com](https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c)

[2020-03-26 19:49] DesarrolloMM commented on #47191
@shawdewet, i think its refer that the same code works in both versions, i use the same code in both versions and works fine by me

[2020-03-26 19:51] BharathNimmala-MSFT commented on #51026
@D-Moonesinghe  Thank you for your feedback, i have assigned this issue to our document author @rolyon to further evaluate the feedback and share his insights.

[2020-03-26 19:52] DesarrolloMM commented on #43345
you need to use the default mode, otherwise in serverless you will not be allowed to connect, and i didnt try in the other mode

[2020-03-26 19:52] mbiver commented on #51019
Here's what I ended up putting in my script.

#Creating a self signed root certificate that can be used to create a client certificate.  This certificate is only good for 7 days based on the "-NotAfter (Get-Date).AddDays(7)" parameter
    #https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-certificates-point-to-site#clientcert

    Write-Host "`nCreating a self signed root certificate

[2020-03-26 19:54] yoelhor commented on #50639
Got it. let me check it and update the doc accordingly. With regard to the SelfAsserted-LocalAccountSignin-Email the content definition metadata can be omitted. I have a list of issues we'd like to fix in the starter pack (this is just one of them).

[2020-03-26 19:55] yoelhor commented on #50543
Dear @dotnetgator, we are working on this issue. Trying to map what should be in the metadata and what is a claim. I'll keep you posted probably in the next two weeks.

[2020-03-26 19:59] #50518 closed

[2020-03-26 20:05] MonikaReddy-MSFT commented on #29917
@lzchen , Thank you for responding to the question.

@anandchugh , I hope the solution provided by lzchen helped answer your question.
Thanks again for bringing this to our attention. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 20:07] MicrosoftGuyJFlo commented on #50281
#reopen

[2020-03-26 20:07] MicrosoftGuyJFlo commented on #50281
#please-close

[2020-03-26 20:12] BharathNimmala-MSFT commented on #50718
@evmimagina Thank you for circling back on this, i will further look into it and get back to you at the earliest.

[2020-03-26 20:13] MonikaReddy-MSFT commented on #50988
@zhenlan , Thank you for providing the details.

@DarranShepherd, I hope the solution provided @zhenlan answers your question.

Thanks again for bringing this to our attention. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-26 20:13] #50988 closed

[2020-03-26 20:14] nheinbaugh commented on #44109
Thanks, this was great

[2020-03-26 20:31] tfitzmac commented on #50871
@solomson - I ran a test with syntax similar to your example, and it worked with PowerShell 3.6.1. We'll close this item for now.

[2020-03-26 20:31] tfitzmac commented on #50871
#please-close

[2020-03-26 20:31] #50871 closed

[2020-03-26 20:36] trask commented on #49093
Maybe something a bit shorter that still shows how to send to multiple appenders, e.g.:

[code]

[2020-03-26 20:36] mike-urnun-msft commented on #50985
@Sdelausnay Thank you for your feedback! We will review and update as appropriate.

[2020-03-26 20:38] mike-urnun-msft commented on #51008
@prateekjn12 Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-03-26 20:45] MarileeTurscak-MSFT commented on #51025
@Kentcomp
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-26 20:47] erikadoyle commented on #47759
The `-AllowPrerelease` parameter for `Install-Module` does not exist in the version of PowerShellGet that ships in PowerShell 5.1. Please try updating to the latest version of PowerShellGet and see if that works.

[2020-03-26 20:47] artisticcheese opened #51034 "How backup is being priced for Azure File Shares"
Is it the same as price for VM backups? There is no separate entry available specifically for Azure Files backup in Azure pricing calculator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8070575b-9937-61e2-6483-c070143c4039
* Version Independent ID: fe33b548-d107-99d9-c0f1-854e65fefa44
* Content: [Back up Azure file s

[2020-03-26 20:49] tchristiani commented on #50609
please #reassign to @HeidiSteen

[2020-03-26 20:49] PRMerger18 commented on #50609
to is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-03-26 20:49] wiazur commented on #46919
@inthevortex thanks, what does your `ocr_url` look like? In the error, they don't show the `http://` in the host url, I have also seen that problem before, where it's being truncated for some reason. If you add the `http://` back in will that work? For example add it in, in the end of the URL process (right before the API call takes it) like this:

`response = requests.post('http://' + ocr_url, he

[2020-03-26 20:49] tchristiani commented on #48436
please #reassign to @HeidiSteen

[2020-03-26 20:49] PRMerger18 commented on #48436
to is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-03-26 20:51] tchristiani commented on #50609
#reassign @HeidiSteen

[2020-03-26 20:51] tchristiani commented on #48436
#reassign @HeidiSteen

[2020-03-26 20:55] MarileeTurscak-MSFT commented on #51031
@tfurstms the feature is still in preview but I've assigned this to the content author to address any updates.

[2020-03-26 20:59] z2alam commented on #41184
Fix has been pushed everywhere now.
Please let me know if you're still running into this issue.
Thanks,

[2020-03-26 21:04] MarileeTurscak-MSFT commented on #51025
I agree! I made a pull request to change this from PSH to PowerShell.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/109219

It is an abbreviation for PowerShell so I can't imagine this meaning anything else, and in the context it's the only thing that makes sense. (@billmath please correct me if I'm wrong.)

[2020-03-26 21:04] #51025 closed

[2020-03-26 21:12] rcg-dev opened #51036 "Missing Exlpanation for prefetchcount"
The host.json setting has no explanation in the table for *prefetchCount*. Please add.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1752a37b-b40a-5613-3416-fd604b281dbc
* Version Independent ID: f088004f-f80e-ba5c-e08e-c76ac395c809
* Content: [Azure Service Bus bindings for Azure Functions](https://docs.microsoft.com

[2020-03-26 21:22] qianw211 commented on #47333
#please-close We're updating the SaaS docs, and this issue will be fixed by then.

[2020-03-26 21:22] #47333 closed

[2020-03-26 21:23] qianw211 commented on #44242
#please-close

[2020-03-26 21:23] #44242 closed

[2020-03-26 21:24] qianw211 commented on #43143
#please-close

[2020-03-26 21:24] #43143 closed

[2020-03-26 21:25] qianw211 commented on #42772
#please-close We're updating the SaaS docs, and this issue will be fixed by then.

[2020-03-26 21:25] #42772 closed

[2020-03-26 21:26] qianw211 commented on #42599
#please-close We're updating the SaaS docs, and this issue will be fixed by then.

[2020-03-26 21:26] #42599 closed

[2020-03-26 21:26] qianw211 commented on #42442
#please-close We're updating the SaaS docs, and this issue will be fixed by then.

[2020-03-26 21:26] #42442 closed

[2020-03-26 21:26] qianw211 commented on #41922
#please-close We're updating the SaaS docs, and this issue will be fixed by then.

[2020-03-26 21:26] #41922 closed

[2020-03-26 21:27] qianw211 commented on #41420
#please-close We're updating the Metering API docs, and this issue will be fixed by then.

[2020-03-26 21:27] #41420 closed

[2020-03-26 21:33] eastcoastoilfan commented on #41184
It's still not working for us.

z2Aalam...are you actually a microsoft employee?

[2020-03-26 21:33] tsrob50 commented on #50664
Hello,

I was running commands in PowerShell to make a copy of an existing role with a new name.  I’m using the AzureADPreveiw module.  Here are the commands I ran:

Get the roles:

Get-AzureADMSRoleDefinition | Select-Object DisplayName, Id

Get the Global Reader object

$globalReader = Get-AzureADMSRoleDefinition -id f2ef992c-3afb-46b9-b7cf-a126ee74c451

Set the properties of the new role:

$dis

[2020-03-26 21:41] nastassiar opened #51037 "Azure Storage reserved capacity is available for a single subscription or for a shared resource group?"
In the Reservation scope section I can see "Azure Storage reserved capacity is available for a single subscription or for a shared resource group". But in the documentation for Reservations overall I can see "Apply reserved capacity pricing to a single subscription or across multiple subscriptions." For Azure storage reservations can it be applied to a Shared Subscription/multiple subscriptions or

[2020-03-26 21:49] cconrado commented on #50538
@KrishnaG-MSFT I wouldn't close this yet. I literally ran the command and it failed with /runbooks so I'm not sure if thats a bug or not.

[2020-03-26 21:50] GiftA-MSFT commented on #50930
@dargilco thanks for your feedback, we will update document accordingly.

[2020-03-26 21:52] FrenchRambo commented on #49746
Having the same issue and scale out is not functioning.

eploymentUrl                      TenantGroupName      UserName
-------------                      ---------------      --------
https://rdbroker.wvd.microsoft.com Default Tenant Group Certificate

Starting WVD tenant hosts scale optimization: Current Date Time is: 03/26/2020 14:48:14

It is in peak hours now

Starting session hosts as neede

[2020-03-26 21:58] #50930 closed

[2020-03-26 21:59] xtellurian commented on #50686
Hi @SubhashVasarapu-MSFT , thanks for following up.

To clarify, is the "Backend Host Header" header referred to in the Azure Portal 'X-Forwarded-Host'?

That information should be provided explicitly in the docs.

![image](https://user-images.githubusercontent.com/8497130/77700716-df805400-7008-11ea-804f-329101e9c726.png)

[2020-03-26 22:00] zoala2 commented on #41184
Using my official account now. :)
Can you please share your TenantId or SupportRequest number at zoala@microsoft.com?

[2020-03-26 22:01] MarileeTurscak-MSFT commented on #50943
Thanks @cnadler-MSFT ,

Which screenshot and text were you referring to? I see the picture related to "Detailed Machine Investigation", and I also see "Security alerts > Suspicious PowerShell CommandLine."

[2020-03-26 22:18] Karishma-Tiwari-MSFT commented on #51001
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-26 22:18] MarileeTurscak-MSFT commented on #50692
@upmygit do they not have access to the app at all? What are they unable to do?

[2020-03-26 22:19] SaurabhSharma-MSFT commented on #50711
@petteremil What is role permissions you have given to application at Management Plane (RBAC) at Resource Group and Subscription level ?

[2020-03-26 22:22] KranthiPakala-MSFT commented on #50395
@Siby22071989 : Could you please let us know if you are having issues while trying Shopify connector or you just wary of the "preview" label?

Thanks.

[2020-03-26 22:22] SaurabhSharma-MSFT commented on #50799
@Nasherx The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-03-26 22:22] #50799 closed

[2020-03-26 22:24] AjayKumar-MSFT commented on #50677
Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-03-26 22:25] mike-urnun-msft commented on #51012
@inthevortex Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-03-26 22:25] MarkAtAgilliance opened #51039 "*When" outbound addresses change."
I know this is in the weeds but the inbound gives good examples of when inbound addresses might be changed.

Can you apply this to outbound too?  The current description tells us what happens but not when.  "You can't know beforehand....etc".

What does "beforehand" mean (i.e. what is the event that could cause a change)?
- before you create (obvious),
- before you scale?
- before you change tier

[2020-03-26 22:27] mike-urnun-msft commented on #51036
@rcg-dev Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-03-26 22:27] tfitzmac commented on #49829
@markrevill - thanks for this feedback. I have submitted an update to add that resource type. It will get  published tomorrow.

[2020-03-26 22:27] tfitzmac commented on #49829
#please-close

[2020-03-26 22:27] #49829 closed

[2020-03-26 22:29] mike-urnun-msft commented on #51017
@jochenvanwylick Thank you for your feedback! We will review and update as appropriate.

[2020-03-26 22:30] mike-urnun-msft commented on #51027
@collinstevens Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-26 22:30] MarileeTurscak-MSFT commented on #50791
Thanks @anwarmahmood1 . I made a PR to add this to the notes. https://github.com/MicrosoftDocs/azure-docs-pr/pull/109243

There used to be an article comparing the features in Azure MFA and MFA Server but since MFA Server has been deprecated I think that article went away.

[2020-03-26 22:30] #50791 closed

[2020-03-26 22:32] GiftA-MSFT commented on #50925
@don-d-kim  @j-martens please take note of the above feedback for doc enhancement.

[2020-03-26 22:32] AjayKumar-MSFT commented on #49245
As this issue is identified and a fix would be deployed. Also, the documentation will be refreshed to reflect the changes. We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion.

Thanks everyone for bringing this to our attention. We really appreciate your valuable feedback.

[2020-03-26 22:32] #49245 closed

[2020-03-26 22:34] SaurabhSharma-MSFT commented on #50893
@jonwbstr It is correct and you need to pass the usertype in quotes and UI does not let you add the dynamic rule without quotes.

[2020-03-26 22:39] Karishma-Tiwari-MSFT commented on #51001
This section of the doc talks about the properties that existed in previous format and their equivalent properties in current format: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template#update-from-a-previous-format

Troubleshooting section covers missing property error and how to fix them:

-Provide the missing property.
-Remove the property that needs the missing prop

[2020-03-26 22:45] dennis-yemelyanov opened #51041 "Is driver installation required?"
I created a Standard_NC6_Promo node pool without following the above steps to install drivers. There is no gpu listed in node capacity and there is no "nvidia.com/gpu: 1" in container limits. However, the deployed code works fine, is fast and seems to be taking advantage of the GPU. Is that expected? If everything is working fine, is there any benefit of executing the steps to install drivers?

--

[2020-03-26 22:45] GiftA-MSFT commented on #50928
@v-kydela we are still investigating this information.
@diberry please can you confirm?

[2020-03-26 22:47] j-martens commented on #50925
@GiftA-MSFT - I am not the doc contact with this area. Please correct the mapping.

[2020-03-26 22:48] diberry commented on #50928
@GiftA-MSFT PG responded - also ignored in V2.

[2020-03-26 22:48] mhopkins-msft commented on #48028
Hi @savaged,

I'm not seeing the behavior you describe reflected in the source for the library so I don't see a reason to update the documentation. I'm going to proceed to close this GitHub issue now. Perhaps you can post your question in the [Azure Community Support](https://azure.microsoft.com/support/community/) forums or on Stack Overflow to see if others have a similar experience.

Thanks,
 ~

[2020-03-26 22:48] #48028 closed

[2020-03-26 22:49] Karishma-Tiwari-MSFT commented on #51003
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-26 22:53] Karishma-Tiwari-MSFT commented on #50642
We will now close this issue. Please share the details when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-26 22:53] #50642 closed

[2020-03-26 22:59] Yangba commented on #50359
I was able to fix this by changing InvitedUserEmailAddress on the template.

[2020-03-26 22:59] roygara commented on #50749
@AnthonyPuca Thanks for reaching out, did you replace the example values in the cmdlet with your own? I just tested the cmdlet and it works.

Also, regarding the verbiage. This page is more than a step of instructions, and it is important for users to completely understand what will impact their billing before taking action. So we will leave the order as it is for now. But we appreciate you taking

[2020-03-26 23:00] Yangba commented on #50359
Change InvitedUserEmailAddress to Email on the template.

[2020-03-26 23:00] rdeltcheva commented on #29879
@centiqwan - thanks for pointing out the missing rule.  It was added to the documentation. This issue can be closed.

[2020-03-26 23:01] dcbrown16 commented on #49433
Great, thanks for going through these comments @mrbullwinkle! If you ever need confirmation on anything from me my internal email is v-dibr, most of my comments will be things that come up through advisory support cases.

[2020-03-26 23:08] MartinJaffer-MSFT commented on #50520
This is quite disappointing.  I will attempt to reproduce the parallel not working, and add it to my escalation.  With neither flatten in parallel nor flatten in series working, this becomes a blocking issue.  The loss of column mappings I ran into in a [different issue](https://social.msdn.microsoft.com/Forums/en-US/2a8d5eec-c94d-4089-9f95-83012f080c63/special-characters-issue-on-data-flows?forum

[2020-03-26 23:11] GiftA-MSFT commented on #50926
@dargilco  thanks for your feedback, we will update document accordingly.

[2020-03-26 23:13] Karishma-Tiwari-MSFT commented on #51003
Can you try running the teams app by right clicking, selecting 'run as administrator' and try it again.

[2020-03-26 23:17] djpmsft commented on #50731
This is a typo and is now fixed. You should see the change visible within 24 hr. the word missing was fail

#please-close

[2020-03-26 23:17] #50731 closed

[2020-03-26 23:19] MarileeTurscak-MSFT commented on #50701
@lightupdifire you can use PIM to audit account elevations and configure notifications when that happens.

https://www.microsoft.com/en-us/itshowcase/using-azure-ad-privileged-identity-management-for-elevated-access

[2020-03-26 23:20] MarileeTurscak-MSFT commented on #50701
Hope this helps! If you have further product requirements you can make a request in User Voice so that the product team can acknowledge it directly. https://feedback.azure.com/

[2020-03-26 23:20] #50701 closed

[2020-03-26 23:22] v-kydela commented on #50928
My tests have indicated that you can't use a version that doesn't exist, so the version can't be ignored even if nothing is done with it beyond validation

[2020-03-26 23:24] hilari0n commented on #33494
It's probably a problem with quoting the "--body" argument value. It's a complex argument, so has to be quoted, which has to contain Json in it, which itself also uses quotes. You could try using double-quotes as external ones and single-quotes for Json:
[code]

[2020-03-26 23:24] Karishma-Tiwari-MSFT commented on #50480
Can you please share which packer version are you using?

[2020-03-26 23:26] GiftA-MSFT commented on #50924
@dargilco I agree that we should mention 'Train' before 'Try it Out Sections'.
@don-d-kim @j-martens please add as backlog item.

[2020-03-26 23:26] #50924 closed

[2020-03-26 23:27] SaurabhSharma-MSFT commented on #51006
@eparizzi  Have you tried checking [How-To Authenticate with AAD for Azure Data Explorer Access](https://docs.microsoft.com/en-us/azure/kusto/management/access-control/how-to-authenticate-with-aad).  Also, I suggest you to please post your question on [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKeyVault) with details what exactly you are trying to achieve and commun

[2020-03-26 23:27] #51013 closed

[2020-03-26 23:27] SaurabhSharma-MSFT commented on #50605
@DrewBino We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-26 23:27] #50605 closed

[2020-03-26 23:30] GitHubSachin opened #51042 "NuGet package version to runtime depedencies"
Do lower version of NuGet package version support higher version of runtime? for example, can I have 3.3 version of nuget packages in my micro services and run them on 7.0 runtime cluster? similarly do Higher version of NuGet packages supported to run on lower version of fabric runtime?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-03-26 23:30] PatAltimore commented on #50945
Hi @xtianus79,

Thanks for the feedback. The prerequisite requirements can be challenging. This had not been updated in a while. It's the same as the prereqs for https://docs.microsoft.com/en-us/azure/blockchain/service/connect-vscode. We're going to retire the article. I'll talk more about it in your other issue https://github.com/MicrosoftDocs/azure-docs/issues/50959.

Thanks,
Pat

#please-close

[2020-03-26 23:31] #50945 closed

[2020-03-26 23:37] kummanish commented on #50679
private endpoint has a name, private endpoint connection has a name

when creating through portal - both are same

With CLI you have an option to provide different name and that is what the parameter exists.

[2020-03-26 23:37] PatAltimore commented on #50959
Hi @xtianus79,

I agree with you. I chatted with the dev team. We're going to retire this article. The dev kit is a better option. It helps you install the prerequisites and Truffle is configured when using the dev kit. Thanks for pointing this out. An update should by live by 3/27/20.

Thanks,
Pat

#please-close

[2020-03-26 23:37] #50959 closed

[2020-03-26 23:40] aschip opened #51043 "Updating index policy via Azure portal no longer works?"
1. The screenshot for guidance about Azure Portal needs to be updated : https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-indexing-policy#use-the-azure-portal

2. Main issue is that when I change the policy, it seems like it is saving but then it reverts back to what it was.

![CosmosDb_IndexingPolicy_Issue](https://user-images.githubusercontent.com/13371053/77706718-07cb7b00-7028-11e

[2020-03-26 23:43] #50926 closed

[2020-03-26 23:43] D4-AzIdentity opened #51044 "Polling Interval setting"
The recommendations may be too narrow for some situations and don't give enough buffer for false positives.
If you are using ADFS in production I would recommend Polling Interval of 30 - 180 Seconds depending on how big the farm. And a consecutive failure  of 10 - 30. This will take into account network issues and high volume traffic scenarios.

---
#### Document Details

⚠ *Do not edit this secti

[2020-03-26 23:47] mgblythe commented on #50655
I'll this requirement to the docs, FYI @adamabmsft

[2020-03-26 23:49] kktyau opened #51045 "Add "Singapore 2" for the PCCW Global Limited"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-26 23:52] kktyau opened #51046 "Add "Singapore 2" in PCCW Global Limited"
PCCW Global Limited has already provided the service in "Singapore 2"  since the beginning of March but the web page has not been updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd798-2e5a-2a7e-bb14-7424576a8e38
* Version Independent ID: 841f2ce1-b101-0fbf-e33d-4e56a6244ed9
* Content: [Locations and connecti

[2020-03-26 23:52] MartinJaffer-MSFT commented on #50875
@shawnbutton  I have corrected the link.  While the changes are pending, you can go to the correct link:
https://docs.microsoft.com/en-us/azure/event-hubs/get-started-node-send-v2

[2020-03-26 23:52] #50875 closed

[2020-03-26 23:58] lyrana commented on #49956
Thanks @fgheysels we will leave this issue open until a PR is made to update the docs. Will circle back to you soon.

[2020-03-26 23:59] TravisCragg-MSFT commented on #51024
@abjoseph Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-27 00:05] GiftA-MSFT commented on #50925
@don-d-kim please take note of the above feedback for doc enhancement.

[2020-03-27 00:06] GiftA-MSFT commented on #50916
@don-d-kim please take note of the above feedback for doc enhancement.

[2020-03-27 00:06] #50916 closed

[2020-03-27 00:07] #50925 closed

[2020-03-27 00:09] GiftA-MSFT commented on #50907
@don-d-kim please take note of the above feedback for doc enhancement. including [[50916](https://github.com/MicrosoftDocs/azure-docs/issues/50916)] and [[50925](https://github.com/MicrosoftDocs/azure-docs/issues/50925)].

[2020-03-27 00:13] Karishma-Tiwari-MSFT commented on #49274
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-27 00:13] #49274 closed

[2020-03-27 00:22] #50571 closed

[2020-03-27 00:24] GiftA-MSFT commented on #50928
@v-kydela that is correct, you need to have a valid version for validation even though the version is ignored afterwards. Thanks.

[2020-03-27 00:25] timsander1 commented on #51016
If you don't want documents to be indexed, I recommend turning indexing off entirely (set Indexing Mode to "none"). But yes you're absolutely correct. Setting "automatic" to false turns off automatic indexing. We are, however, planning to remove the property entirely in the future. On new containers, updating the automatic property won't have any impact (it will however on some older containers so

[2020-03-27 00:25] timsander1 commented on #51016
#please-close

[2020-03-27 00:25] #51016 closed

[2020-03-27 00:34] RaphaelFrancisco commented on #42222
Any update on this? This thread has been dragging for quite some time now.
And while we are at it, what about the following address spaces?

224.0.0.0/4 (multicast) - reserved by RFC 5771 (best current practice)
169.254.0.0/16 (link-local) - reserved by RFC 3927 (proposed standard)

[2020-03-27 00:41] tucane opened #51048 "Override parameter template with a config file"
Is there a way to do the parameter template override with a config file instead of directly editing it in the Azure Devops release pipeline?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integrati

[2020-03-27 00:41] GiftA-MSFT commented on #50949
@don-d-kim please take note of the above feedback for doc enhancement.

[2020-03-27 00:41] #50949 closed

[2020-03-27 00:43] GiftA-MSFT commented on #50948
@don-d-kim please take note of the above feedback for doc enhancement.

[2020-03-27 00:43] #50948 closed

[2020-03-27 00:44] GiftA-MSFT commented on #50946
@don-d-kim please take note of the above feedback for doc enhancement, including [[50949](https://github.com/MicrosoftDocs/azure-docs/issues/50949)] and [[50948](https://github.com/MicrosoftDocs/azure-docs/issues/50948)]. Thanks.

[2020-03-27 00:49] 3vi1 opened #51049 "All hosts deallocated by scaling script"
Today I re-deployed my pool (via the marketplace), which previously contained hosts xz-0 and xz-1, with the same parameters except I used 5 (instead of the previous 2) for the number of hosts and a new prefix (xzd instead of xz).  Five new hosts xzd-0 through xzd-4 were created, though I expected only 3 from what I had read.

I drained and removed the two original host from the host pool.

The pro

[2020-03-27 00:50] Siby22071989 commented on #50395
@Kranthi: I wanted to use Shopify connector under production, so the question. The only option is then wait and watch. I am hence, wary of the "preview" label

[2020-03-27 01:05] vinayakdshenoy opened #51050 "Update to Service Limitation called out for Azure AD Connect"
This is feedback for doc: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-service-limits-restrictions. In the Groups sub-section, it says "The number of members in a group that you can synchronize from your on-premises Active Directory to Azure Active Directory by using Azure AD Connect is limited to 50,000 members." However, this is not true since we now do su

[2020-03-27 01:08] ajlam commented on #50552
@rhuanbarreto, were you able to connect after updating to "ssl_ca" instead?

[2020-03-27 01:15] GiftA-MSFT commented on #50963
@dargilco for this example, there are no conditions applied to the completion rule, however, [Add the advanced rules for confirmation](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-speech-commands-confirmations#add-the-advanced-rules-for-confirmation) section highlights its use case. Thanks.

[2020-03-27 01:15] #50963 closed

[2020-03-27 01:15] DixitArora-MSFT commented on #50694
@cannibal-kush So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-27 01:15] #50694 closed

[2020-03-27 01:24] GiftA-MSFT commented on #50964
@encorona-ms please can you update document accordingly, including [[50963](https://github.com/MicrosoftDocs/azure-docs/issues/50963)]. Thanks.

[2020-03-27 01:25] fowl2 opened #51051 "Azure Functions V1 .NET Framework Version is Incorrect"
The first table states 4.6 and the second states 4.7. At the moment, the actual version is 4.7.2.

Annoyingly there doesn't seem to be a Microsoft website anywhere with this information to hand, but it can be inferred from announcements.

[Azure App Service—SameSite cookie handling and .NET Framework 4.7.2 patch](https://azure.microsoft.com/en-us/updates/app-service-samesite-cookie-update/) and [.

[2020-03-27 01:32] #50928 closed

[2020-03-27 01:39] DixitArora-MSFT commented on #50755
@collinstevens PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-27 01:40] #50755 closed

[2020-03-27 01:40] BharathNimmala-MSFT commented on #51034
@artisticcheese Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-27 01:52] hisasima opened #51052 "Service endpoint for KeyVault is not supported."
Sometimes I found some error because of service endpoint for KeyVault. Could you add this limitation into this document ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
* Content: [SSL termination with Azure Key Vault ce

[2020-03-27 01:56] DixitArora-MSFT commented on #51017
@jochenvanwylick For Microsoft.ApiManagement/service resource, you can add the following JSON to the resources section of your template.

[code]

[2020-03-27 02:03] spelluru commented on #32504
#please-close

[2020-03-27 02:03] #32504 closed

[2020-03-27 02:11] Karishma-Tiwari-MSFT commented on #30997
Since this feature is in product and would take some time to be released, I will be closing this issue. I will share the information here when it is released to Azure portal.

[2020-03-27 02:11] #30997 closed

[2020-03-27 02:12] Karishma-Tiwari-MSFT commented on #50156
We will now close this issue. If you are still seeing issues, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-27 02:12] #50156 closed

[2020-03-27 02:13] guntaled opened #51053 "Get-AzNetworkServiceTag returns null when called from VM"
when I call Get-AzNetworkServiceTag -Location 'westus' (or any other location) on my local machine, I get the service tags. When I do it on a VM (msi enabled, has same roles in subscription as me), it returns null:

Name         :
Id           :
Type         :
Cloud        :
ChangeNumber :
Values       : {}

Is this expected? Is there a way to call this from a VM?

---
#### Document Details

⚠ *Do

[2020-03-27 02:16] guntaled commented on #51053
Apparently it did not have role in subscription, and it took some time while the role activate. Once the VM had reader role in subscription, it returned the expected result. Could this be added to the documentation?

[2020-03-27 02:16] #51053 closed

[2020-03-27 02:18] neeleshray-msft commented on #51050
@vinayakdshenoy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-27 02:19] galinagpolyakova opened #51054 "Missing link in Publish scores as a web service chapter"
Hello, link is missing at the bottom in https://docs.microsoft.com/en-us/azure/machine-learning/algorithm-module-reference/score-model#publish-scores-as-a-web-service

"how to create a web service based on a pipeline in Azure Machine Learning"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ad4a52b-2d53-8119-aadd-4a470

[2020-03-27 02:19] neeleshray-msft commented on #51050
@curtand Could this be verified ?

[2020-03-27 02:21] neeleshray-msft commented on #51032
@BigBigGamer Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-03-27 02:22] galinagpolyakova opened #51055 "Web Service modules documentation is missing"
hello, we are missing information on some of Designer modules, namely all under Web Service block:
WebService input an WebService output. What they are and what they do.

please also add the link in portal experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47f410a2-2269-9f11-1db1-1e6a9b002c29
* Version Independ

[2020-03-27 02:25] neeleshray-msft commented on #50379
@jmprieur Could this be checked if we have existing samples for the same ?

[2020-03-27 02:28] neeleshray-msft commented on #50953
@rwike77 Could you verify the PR: https://github.com/MicrosoftDocs/azure-docs/pull/50954 ?

[2020-03-27 02:32] neeleshray-msft commented on #50780
@cmmdesai  Do we have a Roadmap/ETA on the same ?

[2020-03-27 02:33] jmprieur commented on #50379
@kalyankrishna1 would we have such a sample.
cc: @brentschmaltz

[2020-03-27 02:36] neeleshray-msft commented on #50859
@yvesjac Glad to know that it is working for you now. We will be closing this thread. Let us know if you need further help.

[2020-03-27 02:36] #50859 closed

[2020-03-27 02:38] neeleshray-msft commented on #50847
@kyyung As @yoelhor suggested, kindly post your feedback and our teams would take a look into the same. We are closing this thread now. Let us know if you need further help.

[2020-03-27 02:38] #50847 closed

[2020-03-27 02:40] Karishma-Tiwari-MSFT commented on #50696
@csamleong I do not see the limit mentioned in the doc, can you please share your scenario,
do you see any error while trying a long string?

[2020-03-27 02:41] neeleshray-msft commented on #50763
@abatishchev It denotes on the "_type_" of Operation Listed.

[2020-03-27 02:43] neeleshray-msft commented on #50763
@rolyon Your views on the same would be great help. Should the mention of  "_Action_" be removed ?

[2020-03-27 02:43] Karishma-Tiwari-MSFT commented on #50704
@Lycrosa Can you please share what is your current storage type and which storage type do you want to change to?

[2020-03-27 02:47] dpapkin opened #51057 "Please mention using Cloud Editor to create the yaml file"
Under "Run the application" section , I suggest you modify
In the Cloud Shell, use either the nano azure-vote.yaml or vi azure-vote.yaml command to create a file named azure-vote.yaml. Then copy in the following YAML definition:

TO
In the Cloud Shell, use either Built-in Cloud Editor or  nano azure-vote.yaml or vi azure-vote.yaml command to create a file named azure-vote.yaml. Then copy in the fo

[2020-03-27 02:48] cnadler-MSFT commented on #50943
This screenshot with the investigate button:

[cid:image001.png@01D603A7.8017E640]

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Thursday, March 26, 2020 3:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chris Nadler <cnadler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Remove security investigate pic/verbiage

[2020-03-27 02:56] turing-complet opened #51058 "Name resolution between containers"
Any plans to support this? In `docker-compose` I can communicate between containers using the container name, but seems only localhost is supported for container groups. Given how similar compose and container instances are, I typically test a scenario locally using compose before deploying to a container group. Would be nice to minimize the differences (where it makes sense) to avoid having separ

[2020-03-27 03:05] AshleyYang25 commented on #51003
Finally got the solution. Since it needs to use local domain admin to sign in to get access to install an app. Since when creating WVD hostpool, I set the AD domain UPN as same as the default user and WVD tenant creator, it made me confused. For my situation, the local admin user name is .\BossWVD.
Thanks for your help.

[2020-03-27 03:10] mganeshphani opened #51059 "Document missing procedure for cloud event schema based topic subscription validations"
Hello,

this document is missing details about creating subscription for cloud event schema topic subscription with webhook. the webhook should accept OPTIONS http method and have a different validation procedure per my discussion with Microsoft support engineer

our engineers have wasted 2 person days of effort trying different combinations as per documentation, when the same thing is done by mul

[2020-03-27 03:15] DixitArora-MSFT commented on #51059
Hi @mganeshphani Thanks for your feedback. We will review and update as appropriate.

[2020-03-27 03:16] DixitArora-MSFT commented on #51051
Hi @fowl2 Thanks for your feedback. We will review and update as appropriate.

[2020-03-27 03:21] SnehaAgrawal-MSFT commented on #51039
@MarkAtAgilliance Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-27 03:32] PramodValavala-MSFT commented on #51045
@kktyau Closing this one as a duplicate of #51046

[2020-03-27 03:32] #51045 closed

[2020-03-27 03:35] PramodValavala-MSFT commented on #51049
@3vi1 Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-27 03:37] PramodValavala-MSFT commented on #50761
@Hari1667 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-27 03:37] #50761 closed

[2020-03-27 03:37] PramodValavala-MSFT commented on #50933
@spatney Just following up here... Hope my previous comment clears things up.

[2020-03-27 03:38] PramodValavala-MSFT commented on #50936
@marceardz Just following up here... Is there a specific doc that you are referring to there?

[2020-03-27 03:39] marceardz commented on #50936
Hi I found the issue, we can close this ticket.

On Thu, Mar 26, 2020 at 8:38 PM Pramod Valavala <notifications@github.com>
wrote:

--
*Marcela Álvarez*
Management Information Systems | Bachelor Candidate, Class of 2018
Tecnológico de Monterrey, Campus Monterrey

[2020-03-27 03:40] VikasPullagura-MSFT commented on #51003
@AshleyYang25 Thanks for figuring out the issue and confirming that the issue is resolved.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-27 03:40] #51003 closed

[2020-03-27 03:59] DashleenBhandari-MSFT commented on #50623
@tbtmuse , Thanks for your response. Yes, we are in process of updating the document. I shall go ahead and close the issue for now. Feel free to re-open the issue if you need further help.

[2020-03-27 03:59] #50623 closed

[2020-03-27 04:00] DashleenBhandari-MSFT commented on #50627
@crgarcia12 , Just wanted to understand if you need any other assistance on this issue. Please let me know if I can go ahead and close this issue.

[2020-03-27 04:01] DashleenBhandari-MSFT commented on #50435
@CeciAc , I have not heard back from you. Please let me know if you need assistance on this issue.

[2020-03-27 04:13] VikasPullagura-MSFT commented on #50849
@bandersmsft
Can you please check and add your comments on this doc update request as applicable.

[2020-03-27 04:21] AshokPeddakotla-MSFT commented on #51020
@DeveloperBeginner Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-27 04:26] ram-msft commented on #51054
@galinagpolyakova Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-27 04:27] ram-msft commented on #51055
@galinagpolyakova Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-27 04:29] AshokPeddakotla-MSFT commented on #50497
@LouanDuToitS3  We hope that answers your query. Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-27 04:29] #50497 closed

[2020-03-27 04:31] kktyau commented on #51046
Why does it close?

[2020-03-27 04:33] g4m3c4ck commented on #34752
@AnoopCNair did you start a UserVoice on this? Please post it if so. I would like to add to it.

[2020-03-27 04:35] VikasPullagura-MSFT commented on #51058
@turing-complet
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-27 04:36] VikasPullagura-MSFT commented on #51041
@dennis-yemelyanov
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-27 04:37] VikasPullagura-MSFT commented on #51042
@GitHubSachin
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-27 04:37] VikasPullagura-MSFT commented on #51057
@dpapkin
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-27 04:39] VikasPullagura-MSFT commented on #51028
@CloudSurgeon
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-27 04:39] VikasPullagura-MSFT commented on #51028
@TomArcherMsft
Can you please check and add your comments on this doc update request as applicable.

[2020-03-27 04:45] VikasPullagura-MSFT commented on #51041
@zr-msft Can you please add your comments.

[2020-03-27 04:50] dennis-yemelyanov commented on #51041
Thank you, @VikasPullagura-MSFT . As I was researching this, I also found some conflicting docs that say the GPU drivers are installed automatically. For example: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/gpu.md says:

Which doc is correct and which needs to be updated?

[2020-03-27 04:55] SwathiDhanwada-MSFT commented on #50698
@garybushey When a user is provided "Log Analytics Contributor" role at resource scope, then the user will be able to perform the operations mentioned in purple box as those permissions should be provided at resource group or subscription scope. Only for "Create and configure Automation accounts" and "Add and remove management solutions" , the permissions are to be provided at  resource group or s

[2020-03-27 04:55] #50698 closed

[2020-03-27 05:08] inthevortex commented on #51012
https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-print-text#create-and-run-the-sample

This is the code smaple I have referred to, and executed the code to get the list of these errors. Getting it in Computer Vision OCR service.

[2020-03-27 05:10] SubhashVasarapu-MSFT commented on #51052
@hisasima , We are looking into this query and will update you as soon as possible.

[2020-03-27 05:13] SubhashVasarapu-MSFT commented on #51044
@D4-AzIdentity , We are looking into this query and will update you as soon as possible.

[2020-03-27 05:13] jakaruna-MSFT commented on #51058
@turing-complet like you said, only localhost works in ACI.
The DNS label which we set in ACI is for the container group.
Lets say you have a app server listening on 80 and DB on 3306.
When we move them to the container instance, we can set a dns label for the app server and open port 80.
For the app to connect with the DB, you need to use localhost as the hostname and port as 3306. You dont need

[2020-03-27 05:17] SubhashVasarapu-MSFT commented on #51046
@kktyau , This thread is not yet closed. #51045 has been closed as it is the duplicate of this thread. We will continue working on this thread.

[2020-03-27 05:20] AjayKumar-MSFT commented on #29879
@rdeltcheva, Thanks for updating the document.
Apologies for the delay on this, @centiqwan. We will close this out, but if you feel you need more information please just let us know. Thanks for sharing your feedback!

[2020-03-27 05:20] #29879 closed

[2020-03-27 05:22] cmmdesai commented on #50780
Username write back will be available by end of next week 3-April-2020. Watch out for updates in this document. We have phone number write back on the road map. I don't have a firm ETA for it yet. We will post an update when it is available.

[2020-03-27 05:32] PaulFarry opened #51061 "Sample microsoft.identity.web referenced"
The area https://docs.microsoft.com/en-gb/azure/active-directory/develop/scenario-protected-web-api-app-configuration#code-initialization of this document is referencing the example Microsoft.Identity.Web code base.

It's now got it's own repository and should possibly be updated to the new code.
https://github.com/AzureAD/microsoft-identity-web/blob/master/src/Microsoft.Identity.Web/WebApiService

[2020-03-27 05:42] emacdona opened #51062 "This is quite frustrating..."
I Keep getting this error:
Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'eastus'.  For more details, please visit https://aka.ms/cpu-quota

When trying to run this command:
az aks create --resource-group myResourceGroup --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys

[2020-03-27 05:58] msrini-MSFT commented on #50765
@codemaker , Tag me if you have any further questions.

[2020-03-27 05:58] #50765 closed

[2020-03-27 06:00] emacdona commented on #51062
When I try to do the same thing via the web interface, I get a similar error: "This size is currently unavailable in this location for this subscription". When I click "change size" to try to resolve it, I'm presented with a list of instances, none of which it allows me to select (they are all greyed out and the button at the bottom of the screen isn't activated). When I remove the default search

[2020-03-27 06:01] msrini-MSFT commented on #50982
If you are using DNAT rule in Azure firewall to forward traffic to Application gateway, then you don't need to manage the management rules.

If you are applying UDR on the Application gateway subnet then the management plane will not work and UDR is not supported in Application gateway V2.

[2020-03-27 06:01] jakaruna-MSFT commented on #51062
Whats the region which you are trying to deploy

[2020-03-27 06:04] jakaruna-MSFT commented on #51062
Are you using a free subscription or pay as you go subscription

[2020-03-27 06:06] tedvanderveen commented on #41486
@sharad4u @TravisCragg-MSFT what is the status on this one? Sounds like:

1) end-to-end HTTP/2 is now implemented in FD (Yeah!!)

or

2) the documentation is still incorrect.

[2020-03-27 06:19] VikasPullagura-MSFT commented on #50460
@stgeorgi Thanks for providing the details.

@yckwan Hope the above provided information helps solve your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-27 06:19] #50460 closed

[2020-03-27 06:20] ChiragMishra-MSFT commented on #51048
@tucane Thanks for reaching out to us. We are actively investigating into your query and will update you shortly.

[2020-03-27 06:28] SanjayJanardhan-89 commented on #49041
Hi,

I came across a similar issue. Its really nice trick. Thank you!!
What I understood is that -
1. You have created new ADF(i.e.SharedADF) other than the DEVELOPER,DEV,DEVTEST,PROD.
2. In the Newly created (SharedADF), necessary IR's will be created
3. The IR's from the SharedADF will be shared to the DEVELOPER,DEV,DEVTEST,PROD.
4. SharedADF will have only IR and it will not have any code.

Ple

[2020-03-27 06:29] emacdona commented on #51062
Region: eastus
Subscription: I'm trying to use my $200 credit I got for signing up this month. Is that what you mean by free?

[2020-03-27 06:49] jakaruna-MSFT commented on #51062
Thanks for the info.
Some of the regions are running at full capacity. Priority for free credit subscriptions are reduced now.

You can try to created resources in other regions.  More info from this blog https://azure.microsoft.com/en-us/blog/our-commitment-to-customers-and-microsoft-cloud-services-continuity/

[2020-03-27 06:51] prateekjn12 commented on #51008
@mike-urnun-msft , Actually I have implemented these feature of below two URLs i.e
https://docs.microsoft.com/en-us/azure/azure-maps/choose-map-style
https://docs.microsoft.com/en-us/javascript/api/azure-maps-control/atlas.stylecontroloptions?view=azure-maps-typescript-latest

and on change of map style theme I want to change textoptions i.e.
https://docs.microsoft.com/en-us/javascript/api/azure-m

[2020-03-27 06:56] jayvdb opened #51067 "azure-docs-pr"
There are a lot of references to https://github.com/MicrosoftDocs/azure-docs-pr/

e.g. https://github.com/sptramer/docs-inventory/issues/15 and https://github.com/docascode/docfx-migration/issues/1 and https://github.com/search?p=3&q=azure-docs-pr+MicrosoftDocs&type=Code

Is that an old name for this repo, or a private copy of it?

https://docs.microsoft.com/en-us/azure/machine-learning/ includes

[2020-03-27 06:57] bsiva commented on #50617
@sayanghosh123, makes sense. So from what you've described looks my understanding is you would use the Azure portal to compute assessments. And after the assessments are computed you want to be able to read it programatically and use that information.

While the APIs are not currently publicly documented (and direct REST API usage not  supported), the APIs do exist. So if this something you want t

[2020-03-27 07:03] likebupt commented on #51054
@galinagpolyakova  @ram-msft  Thanks for your feedback. have update it in [this pr](https://github.com/MicrosoftDocs/azure-docs-pr/pull/109293)

[2020-03-27 07:06] jjindrich commented on #50982
Please you could this notice on website ?

[2020-03-27 07:10] msrini-MSFT commented on #50982
I am not able to understand your query. can you elaborate a bit more?

[2020-03-27 07:16] spatney commented on #50933
Thanks Pramod for your prompt response. That does clear it up. I am using subject filters, and it is good to know that it will not count towards total operations.

[2020-03-27 07:16] #50933 closed

[2020-03-27 07:23] inthevortex commented on #51012
I have gotten around the issue, Windows and Mac OSX have outdated versions of openSSL, so it wasn't working. It was trying to use TLS 1.0, but a minimum of TLS 1.2 is required according to the ssllabs analysis of cognitive services domain. So I tried running it on a debian system and it worked like it should. I think this point should be mentioned in the documentation for future references.

[2020-03-27 07:26] inthevortex commented on #46919
I have found the issue to be in the OS, I researched a bit and found that Windows and Mac OSX are having outdated openSSL versions installed by default which force the connection to be TLS 1.0 but the cognitive services API requires a minimum of TLS 1.2. So I tried it on a debian system and it worked like it should. I think the documentation should include this point.

[2020-03-27 07:29] nagytech opened #51068 "Change the "Deny Public Network Access" setting from azure-cli"
Hi,

Can we have the ability to perform this function through the azure-cli, or any other programatic method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92cc2555-0450-11f2-a75f-f58e1780bd3a
* Version Independent ID: 28dbe157-cf9f-04fb-8830-ad3f53a53bd8
* Content: [Deny Public Network Access - Azure portal - Azure D

[2020-03-27 07:44] femsulu commented on #50617
thanks @bsiva

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-27 07:44] #50617 closed

[2020-03-27 07:46] plaiddk commented on #49041
This is 100% correct :) And an additional comment is that if you have triggers, you need to disable the triggers first when you deploy and then enable them after deployment.. It can be done in powershell.

[2020-03-27 07:48] amitbhatia18 opened #51069 "Error"
Requested Tenant Identifier is not Valid.....i have generated api details as mentioned in the tutorial and paste in .json file....
I have done everyting written in the tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cda66a82-305c-262b-eae4-be2cf9068b38
* Version Independent ID: 75660609-9643-3406-b707-d1752183c

[2020-03-27 07:53] fleed commented on #50571
Thank you @NavtejSaini-MSFT , it works

[2020-03-27 07:55] amanmcse commented on #50764
Based on your confirmation that Firefox was set to remove cookies when browser closes, which was causing the issue, I am closing this thread.

[2020-03-27 07:55] #50764 closed

[2020-03-27 07:57] SanjayJanardhan-89 commented on #49041
Thank you!
Problem is we have three environment. DEV,QA and PROD.
QA has IR and its shared to DEV, present in single subscription.
PROD has its own IR and in different subscription.
Now trying to figure out is it requires the change in the design.
Please let me know if you have any suggestion as Azure Devops will fail.

[2020-03-27 07:59] benediktlange commented on #50780
Excellent news, username is more critical. Thanks

[2020-03-27 07:59] VikasPullagura-MSFT commented on #51041
@dennis-yemelyanov Was checking with internal team on this.

Below are the details shared by the team on this query:

There are 2 drivers
https://github.com/NVIDIA/libnvidia-container (installed already on the AKS image)
and
https://github.com/NVIDIA/k8s-device-plugin delivered via DS

The code can use GPUs with the first one installed but without the second k8s has no idea about those GPUs. It’s

[2020-03-27 08:00] AadDijksman opened #51070 "Get-MSCloudIdMSGraphAccessTokenFromCert cmdlet"
Above mentioned command is the most important command of this article, why is this not explained it right and fully, and with a copy-paste possibility? I do not know which values are correct despite exhausting trial and error .....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a950d6b-db1f-8338-f80a-a3fde54c4b4c
* Ve

[2020-03-27 08:03] plaiddk commented on #49041
Well the IRs is just all about not having them inside the enviornment as you cannot override your .json template file when deploying through devops..

So i would think you need to make a SharedADF for QA and DEV
Make a SharedADFProd for your PROD Enviornment,

I think this should be enough, because this is a one time setup. And when you make your deployment (i dont know what you use to deploy the

[2020-03-27 08:08] SanjayJanardhan-89 commented on #49041
Thank you for the suggestion! I will try and talk to my admin about this approach and will update you.

[2020-03-27 08:11] shashishailaj commented on #51061
@PaulFarry  Thank you for pointing this out . We will have this reviewed with the content author and update the same as needed.

Thank you.

[2020-03-27 08:12] rcg-dev commented on #51036
Hello here is the url to the specific document
[Azure Service Bus](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=csharp#host-json)

[2020-03-27 08:16] shashishailaj commented on #51061
@jmprieur Could you please review the changes as explained by the customer and see if we can update the code in the article ?

[2020-03-27 08:19] shashishailaj commented on #51070
@AadDijksman Thank you for your query. We will have this investigated and update accordingly.

[2020-03-27 08:22] jjindrich opened #51073 "Underutilized PaaS services like vCore SQL"
Hi, please are you planning to add check for underutilized PaaS services, like Azure SQL vCore, MySql etc. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a-dbba-c9b9-f84bf7b800a7
* Content: [Reduce service costs using Azure Advisor - Azure Adv

[2020-03-27 08:23] jjindrich commented on #50982
My question was if is possible to add this statement about Azure Firewall in FAQ section

[2020-03-27 08:33] Derek1101 opened #51074 "Incomplete Sentence"
Hi, an incomplete sentence "You can also register a new version of a dataset at" there at the end of the section of "Register a dataset version" should be fixed. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25c2aa0c-1266-6713-944f-ba28cba3fa3d
* Version Independent ID: 240918a9-eca7-f698-5323-9e70bb5a35de
* C

[2020-03-27 08:40] KrishnaG-MSFT commented on #50538
@cconrado Before you run the command, can you double check if you have the folder path "/Runbooks" available ?

For example,  I have tested by having "/Runbooks" folder path and it works without any issues.
![image](https://user-images.githubusercontent.com/45988031/77737129-5c282800-7033-11ea-865d-ade6881d8ea2.png)

If issue still persists, provide more context like
- which source control type yo

[2020-03-27 08:45] mikeparker104 commented on #48557
Article has been updated for iOS 13: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-ios-push-notifications-swift-apps-get-started#connect-your-ios-app-to-a-notification-hub

@AjayKumar-MSFT please can you close the issue on my behalf. I do not have permission to do so

[2020-03-27 08:45] snobu opened #51075 "Bug in the python worker?"
Could you please check this out and comment on the need for dataType? https://stackoverflow.com/questions/60866994/azure-function-saving-temp-pdf-file-from-inputstream-is-corrupted/60882517#60882517

According [to this doc page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-input?tabs=python#example), it's unnecessary, however the resulting binary file when

[2020-03-27 08:50] roel80 opened #51076 "Mismatch in disksize with other documentation"
Discard comment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [Support for disaster recovery of Hyper-V VMs to Azure with Azure Site Recovery - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site

[2020-03-27 08:51] yckwan commented on #50460
Thanks for your information, will test on it later.

[2020-03-27 08:56] efeaimnewman commented on #50811
Turns out I was missing microphone permissions now it works. Thank You.

[2020-03-27 09:03] #51076 closed

[2020-03-27 09:09] MicrosoftGuyJFlo commented on #50956
If you are already creating conditional access policies then security defaults would not work with that.

Per the blog post linked in the security defaults article...

Hope that helps

None of this replaces the rich security capabilities in Azure Active Directory. If you are a person who uses Conditional Access to manage your break glass accounts with terms of use controls, chooses MFA based on de

[2020-03-27 09:16] #50700 closed

[2020-03-27 09:16] SwathiDhanwada-MSFT commented on #50700
@garybushey [Here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/design-logs-deployment#access-mode) is a document about the access control modes which details the information you have requested. Kindly go through it.

As there are no further documentation changes, we will close the issue for now.Kindly revert if you have further questions.

[2020-03-27 09:21] wadstromdev commented on #50986
Hi,

That's what I'm doing but get the error message that says that the rgName parameter is not provided.

I have also tried the following:
[code]
Which results in the same error.

Powershell Core 7.0
Az module version 3.6.1

[2020-03-27 09:29] TheKlingon commented on #50435
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: DashleenBhandari-MSFT <notifications@github.com>
Sent: Friday, March 27, 2020, 5:01 AM
To: MicrosoftDocs/azure-docs
Cc: Alain Natalini; Mention
Subject: Re: [MicrosoftDocs/azure-docs] I'm not able to retrieve the data added with the Xamarin.Forms application from the SQL Database. (#50435)

@CeciAc<https://eur05

[2020-03-27 09:40] townendk opened #51081 "Adding additional "PowerShell Admins""
I've successfully used this guide to deploy multiple WVD environments but so far have been unable to allow other users in my directories to access and manage the environment via PowerShell. I've added them (either directly or via groups) to the two Enterprise Applications but that doesn't seem to be enough. Are there any other steps required to grant other users access to PowerShell management?

-

[2020-03-27 09:43] townendk commented on #51081
A bit of further info, additional users are granted "TenantCreator" permissions and are successfully able to run "Add-RDSAccount" but when trying to run any commands within the tenant (such as Get-RDSSessionHost) they receive a "User is not authorized to query the management service." error.

[2020-03-27 09:56] Mike-Ubezzi-MSFT commented on #50684
@tonisc Can you provide more detail as to what the specific error message or issue you are facing? This should not be a region specific issue if services are already deployed. This is a great question for the forums, unless you wish to highlight a documentation issue that discusses how to set this up.

[2020-03-27 09:58] Niclas1976 commented on #50703
Thanks. So, the explanation is correct, the name in brackets is not.

[2020-03-27 09:58] diego-palla commented on #16997
Great!! I didn't know about this endpoint change but once updated it works.

Thanks a lot for your help!

[2020-03-27 10:06] steve19922 commented on #50329
It is regarding the Advanced Data Security feature in the Azure Managed Instance

[2020-03-27 10:13] Mike-Ubezzi-MSFT commented on #51043
@aschip Thank you for bringing this to our attention. We will work with the content team to update the documentation as necessary.

[2020-03-27 10:20] StephaneD62 commented on #50473
Hi @farah-alyasari , sorry for the delay, I have tried with the Content-Type set to application/vnd.geo+json and I still have the 500

[2020-03-27 10:20] RaphaelFrancisco opened #51082 "Default Routes Missing For Subnet 1 in "Routing Example""
From what is explained in the article, the following default routes are missing from Subnet 1's table in "Routing Example":

Default	Active	10.0.0.0/8	   None
Default	Active	100.64.0.0/10	   None
Default	Active	192.168.0.0/16	   None

They feature, correctly, in Subnet 2's table, but not Subnet 1's table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-27 10:29] jmorcar opened #51083 "Param "-Kind" is not recognized"
I tested again with -Kind param indicated in this documentation page, but the correct param is "--kind" . Here my example test with failed result:
`az storage account create -n $AKS_PERS_STORAGE_ACCOUNT_NAME -g $AKS_PERS_RESOURCE_GROUP -l $AKS_PERS_LOCATION --sku "Premium_LRS"  -Kind "FileStorage"

az: error: unrecognized arguments: -Kind FileStorage`

So, the successful command is with --kind, he

[2020-03-27 10:29] VikasPullagura-MSFT commented on #51081
@townendk
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-03-27 10:33] RaphaelFrancisco commented on #19103
@TravisCragg-MSFT, this issue was closed without the required changes to diagram.
The VPN Gateway is still shown as a separate entity, outside VNet-1's scope. Consider the following fixes:
1. VNet-1 should feature a GatewaySubnet (10.0.255.240/28)
2. VPN Gateway should be shown inside that GatewaySubnet, rather floating outside the VNet-1's scope

[2020-03-27 10:33] souravmishra-msft commented on #50781
@Diwakar243, Can you let me know if this certificate was generated within the KeyVault or it was uploaded to the keyvault?
As if the certificate is manually uploaded to keyvault, then you would have to get the renewed cert and upload it manually again to the keyvault. however you can automate this process using either REST APIs for keyvault or using PowerShell.
Secondly, if the certificates have b

[2020-03-27 10:33] #50781 closed

[2020-03-27 10:33] PramodValavala-MSFT commented on #50936
@marceardz Glad you were able to resolve your issue! It would be beneficial for others coming across the same issue if you were to share the exact problem and solution on StackOverflow as a self-answered post.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the is

[2020-03-27 10:33] #50936 closed

[2020-03-27 10:34] PramodValavala-MSFT commented on #50978
@SudeshSharma Just following up here... Is there a specific doc that you are referring to here?

[2020-03-27 10:40] RaphaelFrancisco commented on #19103
Also, mind the second requirement in the proposed scenario:
2. Enable an on-premises network to communicate securely with both virtual networks through a VPN tunnel over the Internet.

One of VNet-2's address ranges should also have a GatewaySubnet (10.1.255.240/28 or 10.2.255.240/28).
A second VPN Gateway linking to the Enterprise (on-prem) should be shown inside that GatewaySubnet.

[2020-03-27 10:42] eastcoastoilfan commented on #41184
HI @zoala2, the fix appears to be working now. Is there any link to the issue/resolution from Microsoft on this outage that you can share? I dind't open a support request, but i'm assuming there would have been an outage notification/restoration sequence with this issue.
THanks

[2020-03-27 10:45] RaphaelFrancisco commented on #50742
@genlin Thanks for confirming. I see the article was not updated though. Is the required change yet to be pushed?

[2020-03-27 10:47] KrishnaG-MSFT commented on #51076
@roel80 Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-03-27 10:54] richard-artes opened #51085 "Out of date"
This article is out of date. With the current ADConnect you don't need to use powershell to convert your domains from federated identity to managed identity. ADConnect will do it for you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57bc474a-a353-984d-3440-144c3444b100
* Version Independent ID: 20ec9d72-24f7-ec32-4c6

[2020-03-27 10:59] VikasPullagura-MSFT commented on #50860
@lgmorand

I reached out to AKS team on this to check if this is extension is supported on AKS. I was referred to the best practice, of not modifying directly the underlying IaaS of AKS.

Please open a support case so that the issue can be troubleshooted by a support engineer as this  needs deeper investigation.

If you don't have the ability to open a technical support ticket, you can email me at

[2020-03-27 11:00] SumanthMarigowda-MSFT commented on #51037
@nasantia Thanks for the question! We are investigating and will update you shortly.

[2020-03-27 11:01] SumanthMarigowda-MSFT commented on #51083
@jmorcar Thanks for the question! We are investigating and will update you shortly.

[2020-03-27 11:03] VikasPullagura-MSFT commented on #51081
@townendk
Having the role of “Tenant Creator” doesn’t allow you directly to have access to tenants created by others, you need to have the RDS Owner assigned specifically to the new admins.

Can you please try adding RDS Owners to the tenant created.

`New-RdsRoleAssignment -TenantName <TenantName> -SignInName <Upn> -RoleDefinitionName "RDS Owner"`

[2020-03-27 11:06] VikasPullagura-MSFT commented on #51041
@dennis-yemelyanov
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-27 11:06] #51041 closed

[2020-03-27 11:10] thefonz3h commented on #51081
@VikasPullagura-MSFT - Easy fix, thank you for that. I used the GroupObjectID option to setup a security group which has worked.

Many thanks

[2020-03-27 11:11] KalyanChanumolu-MSFT commented on #51068
@nagytech Thank you for reaching out.

@kummanish I was not able to find the relevant command in the [CLI reference](https://docs.microsoft.com/en-us/cli/azure/mysql?view=azure-cli-latest).
Could you please help here.

[2020-03-27 11:12] lgmorand commented on #50860
@VikasPullagura-MSFT I do agree of not modifying the underlying IaaS, but it is something standard and provided by Microsoft, not a custom, uncontrolled modification. Nodes on AKS are using ssh keys which mean a customer has to share the keys with any user who wants to connect to the host in case of debug (which is worst that installing this extension), this extension is the best practice to conne

[2020-03-27 11:18] KrishnaG-MSFT commented on #51073
Tagging @saket-ms for visibility and to provide insights and/or to help in tagging respective product team for an update on this.

[2020-03-27 11:24] advoicu opened #51086 "Confusing instructions"
If you just follow the portal instructions deploying policy on AKS will error out with AKS-AzurePolicyAutoApprove is missing as an error. Please modify the example so that # Feature register: enables installing the add-on
az feature register --namespace Microsoft.ContainerService --name AKS-AzurePolicyAutoApprove is actually put as mandatory after following the portal registration steps.

---
####

[2020-03-27 11:24] upmygit commented on #50692
When users try to access the Feature Manager (in Azure portal) they get "You do not have authorization to access this resource."

[2020-03-27 11:27] upmygit commented on #50692
I gave them a link like this (redacted):
https://portal.azure.com/#@eneco.onmicrosoft.com/resource/subscriptions/SUBSCRIPTIONID/resourceGroups/RESOURCEGROUPNAME/providers/Microsoft.AppConfiguration/configurationStores/some-appconfig-d/ff

[2020-03-27 11:30] shashishailaj commented on #44267
@SumanthMarigowda-MSFT  could you please review this ?

[2020-03-27 11:31] shashishailaj commented on #38588
#reassign:shashishailaj

[2020-03-27 11:33] grahamhayes opened #51087 "ACR is expanded to the wrong name"
ACRs do not mean "access control records" in this context, this refers to Azure Container Registries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identities in Azure Kubernetes Service - Azure

[2020-03-27 11:42] amanmcse commented on #51070
@AadDijksman After step 7, you can use below commands to export the report in CSV format:

$url = "https://graph.microsoft.com/beta/AuditLogs/signins"
$Headers = @{
    'Authorization' = "bearer $accessToken"
}
$outputFile = "C:\Reporting\Report.csv"
$myReport = (Invoke-WebRequest -UseBasicParsing -Headers $Headers -Uri $url)
$convertedReport = ($myReport.Content | ConvertFrom-Json).value
$convert

[2020-03-27 11:42] #51070 closed

[2020-03-27 12:02] juskuz opened #51089 "Endpoint URL"
Could you check if endpoint URL in section 'Adding the key to the endpoint URL' is displayed correctly?
I mean that double asterisks in  `https://{region}.api.cognitive.microsoft.com/luis/v2.0/apps/{appID}?subscription-key={luisKey}&spellCheck=**true**&bing-spell-check-subscription-key=**{bingKey}**&verbose=true&timezoneOffset=0&q={utterance}` are shown. Is it because you wanted these words to be

[2020-03-27 12:05] RohitMungi-MSFT commented on #51074
@Derek1101 Thanks for pointing this out. @MayMSFT Could you please check and correct the document to the correct content at this [location](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-version-track-datasets#register-a-dataset-version)?

[2020-03-27 12:06] VikasPullagura-MSFT commented on #51081
@townendk Thanks for confirming the issue is resolved.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-27 12:06] #51081 closed

[2020-03-27 12:12] VikasPullagura-MSFT commented on #50860
@iainfoulds Can you please confirm if this extension is supported for VMSS in AKS?

@MicrosoftDocs/aks-pm Please add your comments

[2020-03-27 12:18] sopelt opened #51090 "Is setting a default schema required/recommended?"
In a setup as described in this article we were having issues executing ef core migrations.
Locally, we were seeing exceptions like `The specified schema name "<myAADUserName>" either does not exist or you do not have permission to use it.`

This seems to happen to others as well. e.g. [here](https://github.com/dotnet/efcore/issues/17774)

After `ALTER USER [myAzureSQLDBAccessGroup] WITH DEFAULT_S

[2020-03-27 12:26] VikasPullagura-MSFT commented on #51087
@grahamhayes Thanks for pointing this out and raising PR for fixing the doc.

I will proceed to close this issue as the doc changes will get published once the PR is approved.

[2020-03-27 12:26] #51087 closed

[2020-03-27 12:30] emacdona commented on #51062
Ah, that makes sense. Well, thanks for keeping the lights on during the pandemic :-)

I understand it would be impossible to modify every error message to contain a link to that blog post, but you may want to consider putting it in as many places as possible (like the resource dashboard, for instance) so that more people will see it.

Thanks for the fast response, and keep up the good work.

[2020-03-27 12:34] shashishailaj commented on #51085
@richard-artes Thank you for your feedback . We will have this reviewed with the content team and update the thread.

[2020-03-27 12:35] shashishailaj commented on #51085
@billmath Could you please review this request and preview your thoughts on this.

[2020-03-27 12:43] shashishailaj commented on #51067
@jayvdb Thank you for your query. The azure-docs-pr is a private copy for internal Microsoft use. Only a few internal users have access to the same and would not be accessible otherwise.

[2020-03-27 12:44] shashishailaj commented on #51067
@jayvdb I checked your script and its good. I would suggest to ad some exceptions for this particular repo so that it does not error out. We will close this issue now . In case you have any further query on this , feel free to tag me to your reply . In case you have any unrelated query , please open a new issue. Hope the details provided clarified your query.

Thank you.

[2020-03-27 12:44] #51067 closed

[2020-03-27 12:50] IEvangelist commented on #50811
Awesome, I'm thrilled that this was able to work and I'm happy to have helped. I'm closing this issue for now, but still planning on making changes to the doc to make it more clear to other users. Thanks again, #please-close

[2020-03-27 12:50] #50811 closed

[2020-03-27 12:51] WoutVergauwen opened #51091 "Clarification E1, F1, M365 bussiness"
Hi,
Can you please clarify under which category Office 365 E1 & F1 and Microsoft 365 business fall?
M365 should also be clarified on the pricing page https://azure.microsoft.com/en-us/pricing/details/active-directory/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb03e63-f543-d85b-9daf-16b4d1e13a60
* Version Independ

[2020-03-27 13:02] chunliu opened #51092 "Steps don't work"
I followed the steps to create the shared image gallery. But when I run the Azure CLI mentioned in section `Create a pool from a Shared Image using the Azure CLI`, I hit the following error:

[code]

Need more details about how to handle the rbac for Batch to access the shared image gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-03-27 13:14] Bobojon4450 commented on #8144
Why can't I launch Docker by clicking the docker icon on my desktop? it is responsive

[2020-03-27 13:19] ram-msft commented on #51054
@galinagpolyakova We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-27 13:19] #51054 closed

[2020-03-27 13:29] msrini-MSFT commented on #50982
@vhorne, It seems like a doc request for the Application Gateway and the Azure firewall configuration scenarios.

@jjindrich , I have notified the author to take a look and have it mentioned in a doc.

Thank you for your feedback.

[2020-03-27 13:29] #50982 closed

[2020-03-27 13:32] SumanthMarigowda-MSFT commented on #50311
@ChrisSommers It would not show because it would be done in the OS level and doesn't
 have anything to do with the platform level

[2020-03-27 13:34] VAnjan12 commented on #50956
Thank you @MicrosoftGuyJFlo

This answers my question.

[2020-03-27 13:34] #50956 closed

[2020-03-27 13:34] SumanthMarigowda-MSFT commented on #50578
@panoschatz can you check if the disk is already encrypted with platform, If the issue still persists
I'd recommend posting your question inhttps://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDiskEncryption&filter=alltypes&sort=lastpostdesc  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further q

[2020-03-27 13:34] #50578 closed

[2020-03-27 13:37] SlyW opened #51094 "Company branding does not work on IE11 - due to Page Layout v1.2.0"
When using custom branding, it requires page layout v1.2.0 or newer. However, some of the JS injected into the page contains template literals which are not supported in IE11:

    t[e] && h.length &gt; 0 && (i = document.createElement("style"), i.innerHTML = `div[data-tenant-branding-background-color=true]#background_branding_container {background: ${t[e]};}`, $("head").append(i));

Not looking t

[2020-03-27 13:39] erichrockman opened #51095 "msi install switch"
The install switch is ALLUSERS=1. I use this for non-persistent vdi installs

msiexec.exe /i Teams_windows_x64.msi ALLUSERS=1 OPTIONS="noAutoStart=true"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85b331f4-5939-688a-31e6-7f4c5e1c185d
* Version Independent ID: 42e1f341-92c0-0a9b-9c3b-efbb5238844f
* Content: [Microsof

[2020-03-27 13:53] SwathiDhanwada-MSFT commented on #50699
@dkamstra  Can you please provide your insights on this?

[2020-03-27 13:54] j03INTHECLOUD commented on #16691
The only catch is you need a health route built out in our code solution.

[2020-03-27 13:56] SwathiDhanwada-MSFT commented on #51086
@advoicu Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-03-27 14:00] thnk2wn opened #51096 "Twin Message Routing - IS_DEFINED Limitations"
I'm trying to do IOT Hub Message routing that matches twin change events that have a `heartbeat` container property under `properties.reported`. Sample below (metadata removed):

[code]

## Expectation 1 - IS_DEFINED can work on parent container properties:

[code]

This doesn't match and that's expected / intuitive.

## 2 Expectation 2 - IS_DEFINED can work on non-string properties:

[code]

This

[2020-03-27 14:00] TsuyoshiUshio opened #51097 "HttpEndpoint small fix"
if (response.StatusCode &gt;= 400) -&gt; if ((int)response.StatusCode &gt;= 400)
StatusCode is not int. enum.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f2c0e7-660e-6dab-b44b-f9984812cd01
* Version Independent ID: fb189e7e-265e-50cb-dacd-c1ee742683b4
* Content: [Durable Orchestrations - Azure Functions](https://d

[2020-03-27 14:02] SwathiDhanwada-MSFT commented on #50702
@bwren Can you please review the request and update the document if necessary?

[2020-03-27 14:22] ryanspletzer opened #51098 "PowerShell script is wrong"
Currently it is:

Foreach ($file in $Files) {
    {Remove-Item -Path $File -Force}
}

Should be the following (note the removal of the inner brackets around the cmdlet in the loop). If you run what is documented at the moment it does not actually delete the files.

Foreach ($file in $Files) {
    Remove-Item -Path $File -Force
}

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-03-27 14:23] squasta opened #51099 "Helm version 2 is not anymore the right version to use"
This page look outdated because Helm part is showing Helm 2 commands (commands with Tiller)
In the Github page (https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md), an update has been done to reflect Helm 3 commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958126

[2020-03-27 14:29] cconrado commented on #50538
@KrishnaG-MSFT well its just clicked what that argument meant. I thought it was referring to the location to sync in the automation account and not the repo. You can close

[2020-03-27 14:48] #51008 closed

[2020-03-27 14:49] RyanHill-MSFT commented on #51069
Thanks for the feedback @amitbhatia18! We are currently investigating and will update you shortly.

[2020-03-27 14:51] cmmdesai commented on #50780
#please-close

[2020-03-27 14:51] #50780 closed

[2020-03-27 14:52] RyanHill-MSFT commented on #51090
Thanks for the feedback @sopelt! We are currently investigating and will update you shortly.

[2020-03-27 14:53] chrsdrhm commented on #50412
No, I don’t think you understand. This policy is also blocking Azure AD Device Registration, not just registration of the Microsoft Authenticator app. For example, if I configure this policy, users can no longer register a device with Azure AD unless the device itself is on a trusted network.

[2020-03-27 14:55] Air-Git opened #51100 "Error in Scenario 2 Step 2"
The title of Step 2 says "require approved app". The detail says "require app protection".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14348ba7-48f0-1862-ebec-0fc3640e587d
* Version Independent ID: 8188cee4-3f28-6014-f3be-1ee9e9b183b6
* Content: [App protection policies with Conditional Access - Azure Active Directo

[2020-03-27 14:56] ericsampson commented on #31491
@ashrayjain, you set the version as String.Empty in order to get the current version.

[2020-03-27 15:02] Diwakar243 commented on #50781
I have a .pfx file and I have uploaded it to the **Certificates** . It gets expired in a couple of days and I need to have the new one in its place. I have used the **Key Identifier** and **Secret Identifier** inside my code. So, if I change the certificate this changes the thumbprint and the Identifiers will be changed breaking my code. Is there a way I can use the same Identifiers with new certi

[2020-03-27 15:02] jonwbstr opened #51103 "OpenLogic repo missing from CentOS VM migrated from onprem"
I ended up deploying a CentOS VM to track down the repo requirement since I couldn't find any documentation on how to add the missing repo.

If you don't find the add-on in CentOS, add the following .repo file

/etc/yum.repos.d/OpenLogic.repo
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88

[2020-03-27 15:08] #51062 closed

[2020-03-27 15:10] tamram commented on #51037
@nastassiar - Thanks for your feedback. I've updated the article to clarify that reservation instances can be shared across multiple subscriptions.

#please-close

[2020-03-27 15:10] #51037 closed

[2020-03-27 15:14] NavtejSaini-MSFT commented on #50865
@jeroenwo We are going ahead and closing this thread for now. If you have any issues on the thread, please comment and we will look into it further.

[2020-03-27 15:14] #50865 closed

[2020-03-27 15:15] jonwbstr commented on #37317
I believe this is the link to the serial console page for anyone else that comes across this closed issue.
https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/serial-console-linux

[2020-03-27 15:17] Brinh123 opened #51105 "What does clicking 'Onboard' actually do?"
Besides enabling the other tabs, and logging to the audit logs, what does clicking 'Onboard' actually do under the hood, and why is is needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a8a3416-ca49-e148-89ec-aa004914eaa5
* Version Independent ID: 6e6831f4-40ed-4058-5a6f-56cd3900460a
* Content: [What are access re

[2020-03-27 15:17] NavtejSaini-MSFT commented on #50913
@CeciAc We are going ahead and closing this thread for now.

[2020-03-27 15:17] #50913 closed

[2020-03-27 15:23] chris-ross22015 opened #51106 "admin_ssh_key Error during terraform plan"
I seem to be running into this error when I try to run terraform plan from this tutorial

Error: Error "admin_ssh_key.0.public_key" is not a complete SSH2 Public Key

Here is my complete admin_ssh_key block

    admin_ssh_key {
        username       = "azureuser"
        public_key     = "/home/azureuser/.ssh/authorized_keys"

    }

Am I missing something?

---
#### Document Details

⚠ *Do not e

[2020-03-27 15:37] lunar87 opened #51107 ""Virtual hubs across Virtual WAN do not communicate with each other" - confusing"
In this page mentions "Virtual hubs across Virtual WAN do not communicate with each other." but just below that there is mention of a hub to hub connectivity preview. This seem to conflict with each other. Could the virtualWAN bullet point get changed to account for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-27 15:46] dsindona commented on #38530
@nick-cloud-maker-ai thanks for the feedback and sorry for the delay. We decided to simplify the table to be less confusing. Readers can find billing and offer details in other articles on those topics.

[2020-03-27 15:46] dsindona commented on #38530
#please-close

[2020-03-27 15:46] #38530 closed

[2020-03-27 15:51] MarileeTurscak-MSFT commented on #51098
@ryanspletzer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-27 15:52] CeciAc opened #51108 "wrong code snippet selected"
@v-tawe commented on [Thu Mar 26 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/707)

https://docs.microsoft.com/zh-cn/azure/governance/policy/samples/pattern-effect-details#sample-1-explanation
This section should use below code snippet I guess:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94e

[2020-03-27 15:52] MarileeTurscak-MSFT commented on #51100
@Air-Git thanks! Fixing this.

[2020-03-27 15:55] frilkieg opened #51109 "azure log analytics query power bi"
im trying to follow instructions here https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powerbi and here  https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-powerbi to import log analytics data into PowerBI.  It all goes well until 'You may be prompted for credentials to connect to Azure'

I click on Edit Credentials and no matter what I put into the dialog, it comes ba

[2020-03-27 15:56] tfitzmac commented on #50329
@steve19922 - you would add to your template the resource types that implement the security features you want to add. For example, you could add [vulnerabilityAssessments](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2018-06-01-preview/managedinstances/vulnerabilityassessments), [securityAlertPolicies](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2017-03-01-prev

[2020-03-27 15:56] bohleadam commented on #30761
Yep agree with the sentiment above, this needs addressing

[2020-03-27 16:11] IGx89 commented on #47191
This just tripped me up too. A straightforward reading indicates `AddAzureSignalR();` should be added for ASP.NET Core 2 but it does not need to be added for ASP.NET Core 3, which is wrong -- the code needs to be the same for both. You should remove the "for ASP.NET Core 2 only" phrase and "For ASP.NET Core 3+, there is no change needed for ConfigureServices method." sentence.

[2020-03-27 16:14] Teodelas commented on #50756
Yes, I think it would help to provide instructions on how to clean up the log files in case people fail to set the max size and number of logs.

Teo

From: Kelly Gremban <notifications@github.com>
Sent: Wednesday, March 25, 2020 7:45 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Teo De Las Heras <teodelas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micr

[2020-03-27 16:16] wukun2015 opened #51110 "roobo v2 dev kit"
Hello,

For linux platform, does the [quick-start doc](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-quickstart?pivots=platform-linux) also work the same for [roobo v2 dev kit](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-roobo-v2) ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-03-27 16:16] SaurabhSharma-MSFT commented on #51094
@SlyW Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-27 16:17] SaurabhSharma-MSFT commented on #51091
@WoutVergauwen Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-27 16:18] jeff-boyer commented on #36221
7 months and no update???

[2020-03-27 16:18] SaurabhSharma-MSFT commented on #51105
@Brinh123 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-27 16:20] #51110 closed

[2020-03-27 16:20] wukun2015 commented on #51110
Move the issue to product page for now.

[2020-03-27 16:21] qianw211 commented on #36221
@jeff-boyer please see the lead management section in Partner Center for latest information:
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/commercial-marketplace-get-customer-leads

[2020-03-27 16:21] wukun2015 opened #51111 "roobo v2 dev kit"
Hello,

For linux platform, does this quick-start work the same for roobo v2 dev kit (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-roobo-v2) ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d595da9-cfb2-b408-22a8-950ff0ab24fc
* Version Independent ID: 83ab2159

[2020-03-27 16:22] SaurabhSharma-MSFT commented on #50703
@Niclas1976 Are you talking about [accountenabled], if this is wrong ?

[2020-03-27 16:23] jseely commented on #50796
Yes @TravisCragg-MSFT, it would be great to have access to not only current latency data programmatically but also to have access to historical data. I could imagine automating some of my workloads to migrate themselves into different data centers given changes in latency over time.

[2020-03-27 16:24] iainfoulds commented on #50860
As noted, this isn't a VMSS question - it's not supported to manually configure the underlying AKS nodes, such as installing VM extensions. It's not a limitation to this Azure AD extension. I'm adding a note to call this out.

[2020-03-27 16:31] swmachan commented on #50719
Thanks @msimecek for the feedback. We have made the change in the documentation, it will be live soon.

[2020-03-27 16:33] timsander1 commented on #51043
Hi @aschip. The reason you didn't see a change in the indexing policy is because the original and updated indexing policy in the video are the same. The original indexing policy uses our new indexing layout and the updated indexing policy uses our old indexing layout (but the behavior is equivalent so we don't change anything). Properties such as kind, dataType, and precision are no longer require

[2020-03-27 16:34] DCtheGeek commented on #51086
#reassign:DCtheGeek

[2020-03-27 16:34] DCtheGeek commented on #51086
@advoicu Thanks for the feedback. This appears to be a result of the Azure Policy for AKS feature being rolled out across the regions still.  If your region says that the feature is required, it  hasn't gotten the update yet. Adding @RamyasreeChakka for confirmation and the updated list or regions.  What region were you doing this in?

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-03-27 16:35] #50860 closed

[2020-03-27 16:37] Norrch2 opened #51113 "Correction Needed for {OIDC:scope}"
Currently, the documentation specifies the claim resolver {OIDC:scope} is to get the Scope of the request. however, this will not work if the "s" is lowercase. It needs to be updated to {OIDC:Scope} due to case sensitivity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc94d79-52c2-d03a-9821-32c048ffa020
* Version In

[2020-03-27 16:58] MarileeTurscak-MSFT commented on #51100
I went through the flows for scenarios 1 and 2 and believe they should be the same for each. I changed the second to match the first and include this text:

1. Under **Access controls** > **Grant**, select the following options:
   - **Require approved client app**
   - **Require app protection policy (preview)**
   - **Require one of the selected controls**

@MicrosoftGuyJFlo

[2020-03-27 16:58] #51100 closed

[2020-03-27 16:59] MarileeTurscak-MSFT commented on #51100
https://github.com/MicrosoftDocs/azure-docs-pr/pull/109351

[2020-03-27 17:03] JnHs commented on #50986
Thanks @wadstromdev. To confirm, is your code using
   $resourceGroupName = "rgName"
or
   $resourceGroupName = "{rgName}"

If the latter, can you try it without the brackets, as well as the params format described above?
If I'm misunderstanding the issue please let me know.

[2020-03-27 17:04] Mike-Ubezzi-MSFT commented on #50684
@tonisc Can you please source the following document that details how-to and specific limitations and common errors: [Use virtual network service endpoints and rules for database servers](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-vnet-service-endpoint-rule-overview)
We will now proceed to close this thread. If there are further questions regarding this matter, please comment

[2020-03-27 17:04] #50684 closed

[2020-03-27 17:06] v-kydela commented on #50928
@GiftA-MSFT - Why was this closed?

[2020-03-27 17:08] RamyasreeChakka commented on #51086
@advoicu Thanks for trying out. After registering the feature flag, ContainerService resource provider should be re-registered in the subscription in order to propagate the changes. We identified the 2nd step is missing on portal side and the changes will be deployed soon to portal.
Also as @DCtheGeek mentioned above, changes are rolling out region by region. Please verify your cluster region is l

[2020-03-27 17:12] AnthonyPuca commented on #50749
I had to change the copy to cp. That’s all I had to change to get it to work.

From: rogara <notifications@github.com>
Sent: Thursday, March 26, 2020 5:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anthony Puca <Anthony.Puca@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Syntax is incorrect (#50749)

@AnthonyPuca<https://nam06.

[2020-03-27 17:13] DCtheGeek commented on #51086
@advoicu Thanks for pointing this out! Since it's being fixed in portal and the list of deployed regions was linked in @RamyasreeChakka comment, I'm going to close this issue.

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-03-27 17:13] #51086 closed

[2020-03-27 17:19] AshokPeddakotla-MSFT commented on #50650
@mxxmusic Have you had a chance to see the above response? Do let us know if that helps.

[2020-03-27 17:20] lyrana commented on #49385
Hi @hansmbakker apologies for having been absent on this thread for so long, as you can imagine the current situation has affected our team.
I was able to get a successful repro of this and have taken it to the engineering team for investigation.
Thanks,
Lyrana

[2020-03-27 17:25] hansmbakker commented on #49385
Hi @lyrana, I understand, hope you're doing well.
Nice that you could create a repro of this!
Have a good weekend,
Hans

[2020-03-27 17:29] djpmsft commented on #38753
Hi there,

Apologies for the delay in response and also the misleading information I posted earlier.

If you have multiple partners or multiple test environments, I would recommend having different factories for each partner and do all of your development on a dev factory integrated with git. If you do that, you can create a release pipeline using Azure DevOps that will point at the publish branch

[2020-03-27 17:29] djpmsft commented on #38753
Given the age of this issue and the response above, I am going to go ahead and close this. Feel free to continue commenting/reopen.

#please-close

[2020-03-27 17:29] #38753 closed

[2020-03-27 17:31] MicrosoftGuyJFlo commented on #50956
#assign @MicrosoftGuyJFlo

[2020-03-27 17:31] MicrosoftGuyJFlo commented on #50956
#unassign @MarileeTurscak-MSFT

[2020-03-27 17:37] ravick4u opened #51116 "PowerShell function with Visual Studio"
Is there a way we can create PowerShell function with Visual Studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Quickstart: Create your first function in Azure using Visual Studio](https://docs.microsoft.

[2020-03-27 17:37] KapilaMunaweera opened #51117 "AAD acount support"
Is it only the local accounts you can add to the Azure Stack Edge? What about Azure Active Directory accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50be3d10-6d94-fef1-4d41-42cc72c73fe2
* Version Independent ID: 13d1d322-01b5-05f7-5024-0ce4ab9d0fca
* Content: [Azure Data Box Edge manage users](https://docs.mic

[2020-03-27 17:38] steve19922 commented on #50329
Hey Tom,  if I have an ARM template with creates the Managed Instance and adding the vulnerabilityAssesments, this would fail because the Advanced Data Security is not enabled on that template, so I would either go to the UI and enable it, or do it via AZ CLI . A more convenient way would be to be able to enabled ADS straight from the Managed Instance configuration.

[2020-03-27 17:39] daniv-msft commented on #51000
Thank you for reporting this issue. I couldn't reproduce this issue locally, and thus would need a bit more information to investigate.

Could you please attach to this issue the latest logs (`azds-cli-*.txt` and `azds-sdk-*.txt`) you can find in the Dev Spaces logs folder?
* For Windows: %TEMP%/Azure Dev Spaces
* For OSX/Linux: $TMPDIR/Azure Dev Spaces

[2020-03-27 17:41] FMCUSystemAdmins opened #51118 "Page file on temporal drive"
Hello,

Just spun up our first VM in Azure and was going to do the recommended post-creation configuration of placing the page file on the temporal drive. Before executing the indicated command, I checked the path for kicks. The recommended value was already in place. Is this something that Azure now does automatically during VM creation? Do we still need to run the command manually?

Thanks in ad

[2020-03-27 17:49] Cherif-Git commented on #25584
Hello, Same issue. I do not have the folder C:\Program Files\Microsoft Monitoring Agent\Agent\AzureAutomation\ after installing monitoring agent, manual installation cannot be completed.
Can should I do?

[2020-03-27 17:50] spelluru commented on #41153
@theboymango - really sorry for the late response.

Please submit a feature request here:
https://feedback.azure.com/forums/320373-lab-services

#please-close

[2020-03-27 17:50] #41153 closed

[2020-03-27 17:52] ggailey777 commented on #51116
@ravick4u thanks for your question. Visual Studio tooling currently only supports C# class library functions. You can create PowerShell functions by using either [Visual Studio Code-based tooling](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code?pivots=programming-language-powershell) or [from the command line](https://docs.microsoft.com/en-us/azure/az

[2020-03-27 17:52] glimoli commented on #51118
Hi FMCUSystemAdmins,
Everything depends on the type of VM that you created in azure. If you created from our marketplace or if you created a generalized VM, then yes, as part of the provisioning steps we will take care of the pagefile piece however we will not do anything to setup the memory dump configuration so I would suggest you run that regardless.

If the VM is created from a specialized dis

[2020-03-27 17:55] andrewkittredge opened #51119 "These instructions do not work."
I get the error described @ https://github.com/Azure/azure-functions-vs-build-sdk/issues/199.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content: [Quickstart: Create your first function in Azure using Visual Studio

[2020-03-27 18:02] krishjan05 commented on #51000
[Azure_Dev_Spaces_CLI_20200325074522.log](https://github.com/MicrosoftDocs/azure-docs/files/4395173/Azure_Dev_Spaces_CLI_20200325074522.log)
[Azure_Dev_Spaces_CLI_20200325074522_000_AzdsCLI.log](https://github.com/MicrosoftDocs/azure-docs/files/4395174/Azure_Dev_Spaces_CLI_20200325074522_000_AzdsCLI.log)

These are the 2 log file which I could find at the location specified.
Let me know if you nee

[2020-03-27 18:03] FMCUSystemAdmins commented on #51118
Ok, then that’s why the pagefile was already taken care of. We deployed using a generalized image. Good to know.

We also already executed the memory dump configuration, as indicated in the “Prepare a Windows VHD or VHDX to upload to Azure” article.

Thank you for the clarifications.
From: Gabriela Limoli <notifications@github.com>
Sent: Friday, March 27, 2020 12:53 PM
To: MicrosoftDocs/azure-docs

[2020-03-27 18:08] KranthiPakala-MSFT commented on #50395
Hi @Siby22071989 , thanks for your response. Unfortunately we do not have an ETA at the moment to move Shopify connector from Preview to GA. As mentioned earlier, I would suggest to please follow/subscribe to [Azure Data Factory updates](https://azure.microsoft.com/updates/?product=data-factory) to know about the latest updates, roadmap, announcements related Azure Data Factory.

We will now proce

[2020-03-27 18:08] #50395 closed

[2020-03-27 18:14] justinfanok commented on #35074
Has this ever been resolved? I am having a similar issue when creating a solution template

[2020-03-27 18:19] rwike77 commented on #50953
@neeleshray-msft   Update looks good, thanks.  #please-close

[2020-03-27 18:19] #50953 closed

[2020-03-27 18:21] litvinolek commented on #35074
Hi! No, Microsoft don`t have solution for this case. I found a workaround but it not very convenient.

[2020-03-27 18:29] Jimbos10 commented on #50422
Hi, I worked with Microsoft and appears to be an issue with the automation account.  My automation account was created in East US, which doesn't appear to be working.  When we created the resource group and the automation account in West US2 it is now working.  They are going to continue to work on the issue with the EUS DC.

[2020-03-27 18:29] nitinme commented on #39281
#reassign:PatrickFarley

[2020-03-27 18:30] nitinme commented on #39374
#reassign:PatrickFarley

[2020-03-27 18:31] nitinme commented on #41369
#reassign:PatrickFarley

[2020-03-27 18:36] benjaminhowarth1 opened #51121 "Improved United Kingdom PII models"
Is it possible to support recognising the following named entity formats from the UK?

- UK bank account details (sort codes, 6 digits, either 123456 or 12-34-56, and account numbers, always 8 digits)
- UK phone numbers (five digit area code, six digit number, e.g. (01234) 567890 or +44 (0) 1234 567890 for international STD format)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-03-27 18:37] kobulloc-MSFT commented on #50733
@jwettstrom We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-27 18:37] #50733 closed

[2020-03-27 18:40] mike-urnun-msft commented on #51053
@guntaled Glad to hear the issue is resolved. Feel free to reopen if you think a doc change is absolutely needed, and we'll review and connect you with the right team.

[2020-03-27 18:40] nitinme commented on #45486
@ToddChitt - Is your query answered? If yes, can this issue be closed now?

[2020-03-27 18:42] mike-urnun-msft commented on #51075
@snobu Thank you for your feedback! We will review and update as appropriate.

[2020-03-27 18:44] luisfeliz79 commented on #47891
We should add a note to the doc to clarify that this not affect password policies in Azure AD

[2020-03-27 18:45] bandersmsft commented on #50849
@VikasPullagura-MSFT @ElanShudnow Updated the article with https://github.com/MicrosoftDocs/azure-docs-pr/pull/109366 as you suggested to provide details about the usage file and a link to more info about determining what reservation to buy.
#please-close

[2020-03-27 18:45] #50849 closed

[2020-03-27 18:51] nitinme commented on #47332
The larger issue is already addressed. Fixed the lower case issue as well.

#please-close

[2020-03-27 18:51] #47332 closed

[2020-03-27 18:54] alohaninja opened #51124 "Hight Availability Failover for AMS v3"
What is the AMS v3 high-availability/BCDR plan if we have (2) DCs - can we use a shared GRS storage account and have (2) AMS front-ends? Confused how to maintain high SLA if we lose 1 DC without manually updating the streaming CDN endpoint/origin and copying all the storage assets/locators over to the new DC. Is there support for ATM or AFD on the roadmap?

---
#### Document Details

⚠ *Do not edi

[2020-03-27 18:56] Karishma-Tiwari-MSFT commented on #51118
Thanks @glimoli :)
@FMCUSystemAdmins Thanks for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-27 18:56] #51118 closed

[2020-03-27 18:57] vgorbenko commented on #50612
The article is updated with this info.

[2020-03-27 19:01] femsulu commented on #50612
Thanks for the update, @vgorbenko .
@knuthalvor  - hope this answers your question. Don't hesitate to reply if you have any follow-up questions.

[2020-03-27 19:01] femsulu commented on #50612
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-27 19:01] #50612 closed

[2020-03-27 19:04] kcnighsurf commented on #15745
This worked for me with a .com domain but fails with a .cc domain :( - Logging a support ticket

[2020-03-27 19:07] KranthiPakala-MSFT commented on #50845
Hi @dhruvingajjar, Yes, windows authentication mode for SQL server (on-premise) is supported with the Self Hosted IR.

Please try with below configuration:

![image](https://user-images.githubusercontent.com/50185738/77791082-3dba3080-7023-11ea-83ee-6ba91c3b8f0d.png)

Hope this helps.

[2020-03-27 19:10] johnjohnjohn87 opened #51125 "Desktop Analytics"
Can this be used in conjunction with Desktop Analytics? Even if Desktop Analytics is logging to a different workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e0c8df1-852c-a3b2-96e1-4af8981e3cf9
* Version Independent ID: 2d4a7e2c-dcb2-dcdd-0ae2-374b6443e224
* Content: [Connect Windows security event data to Azu

[2020-03-27 19:17] nitinme commented on #50332
@kamaleshs48 - Does the last response address your question?

[2020-03-27 19:21] cooperwolfesmithtech opened #51126 "Typo"
Under the "View a cluster configuration as a JSON file" section, the text "JSON view is ready-only" appears

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ab17b71-1d88-c847-59e5-002a11915f67
* Version Independent ID: 80916cf1-234f-37f0-150a-2f8fbaa16bf2
* Content: [Manage clusters - Azure Databricks](https://docs.micr

[2020-03-27 19:23] KranthiPakala-MSFT commented on #50920
Thanks for you response @aschlick . We are looking into it and will update the document as appropriate.

[2020-03-27 19:26] SaurabhSharma-MSFT commented on #50664
@tsrob50 Yes, this permission is not available in current release.  I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans.
"This Product" button in at the bottom section of the document now to take you directly to the appropriate fe

[2020-03-27 19:26] chineseneolight opened #51127 "how to make sure the data consistence when the primary db down and recover?"
For example when my primary sql server is down , and traffic manager routes the traffic to secondary, but when primary recover, how does it make the data consistent between them?

another example, when the primary commit the transaction, but this commit  logs are not sent to secondary and the primary is down, when the primary recover, how to sync the data?  especially in the database, we are using

[2020-03-27 19:35] BharathNimmala-MSFT commented on #50754
@minh-dang Thanks again for reaching out to us. If you are referencing to the step 7 with in the add code to project section in the [document ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/create-visual-studio-deployment-project#add-code-to-project) and trying to add extension to the project and in your case adding Azure Function as extension and you are not able to see

[2020-03-27 19:35] #50754 closed

[2020-03-27 19:51] ameenmohamed opened #51129 "Does not connect following this guideline"
There was a problem connecting to the server “hacdatastorage.file.core.windows.net”. not able to connect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb2cee16-c6e9-1758-5078-aa224ee12085
* Version Independent ID: c1028f61-f7d9-a568-d01c-57d50afbc33e
* Content: [Mount Azure file share over SMB with macOS](https://docs

[2020-03-27 19:52] himanshusinha-msft commented on #50397
@vlado101 : We will go ahead and close this issue now . You are facing this issue as table name is more then 30 character long .

[2020-03-27 19:52] #50397 closed

[2020-03-27 20:01] ameenmohamed commented on #43666
from mac , it was not working for me i regenerated keys untill there were no / in the keys then it worked

[2020-03-27 20:02] MashaMSFT commented on #27485
Hi @benmiller86 , ah you're referring to the geo-restore section? that's an interesting point, let me look into this. Thanks for bringing it to my attention!
Masha from the SQL Docs team

[2020-03-27 20:04] mamccrea commented on #51126
Thanks for bringing this to our attention. I've updated the doc and the changes will go live next time we publish.

#please-close

[2020-03-27 20:04] #51126 closed

[2020-03-27 20:08] mamccrea commented on #50557
Thanks for letting us know! I've updated the doc and the changes will go live next time we publish.

#please-close

[2020-03-27 20:08] #50557 closed

[2020-03-27 20:10] rolyon commented on #50763
Hi @abatishchev
Thanks for the feedback. The Action Type column lists whether the operation is an Action type or a DataAction type. Most are Action, but there are several DataAction types.
Action indicates that the operation occurs on the management plane. DataAction indicates that the operation occurs on the data plane.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definit

[2020-03-27 20:11] pavankumarda2136 opened #51130 "create a Vm from shared gallery"
After giving tenant 2 access, I am seeing the shared gallery app in IAM. But after finishing this step how can I create a VM from the images that are in Tenant 1 shared gallery app. How can I create it from PORTAL using that images from tenant 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4c09d03-24b1-f376-34fd-cb

[2020-03-27 20:12] ameenmohamed commented on #43666
After i connect and close the finder window  see status not conneected , then when i click on Connect as it looses the share

[2020-03-27 20:12] mamccrea commented on #50403
I am going to proceed to close this thread. We have a work item open to add docs about Private Link. I will respond here once they've been published. If you have any additional questions, please reopen this issue.

#please-close

[2020-03-27 20:12] #50403 closed

[2020-03-27 20:14] fgheysels commented on #47235
Thanks for the clarification @KingdomOfEnds

For a project, I'm currently looking on how we can optimize the messages that are sent to TSI.   We have devices that are constantly collecting data; say once every second.
I was thinking on sending this information as a 'batch' to IoT Hub (and eventually in TSI), and I was thinking on sending the data like this:

[code]

Will I be faced here with overw

[2020-03-27 20:16] markusalbe opened #51131 "Dangerous advise"
Hi!

Advising to query sys.innodb_buffer_stats_by_table without warning about potential performance impact on large buffer pools seems like a dangerous piece of advise.  Quoting the manual (https://dev.mysql.com/doc/refman/5.7/en/sys-innodb-buffer-stats-by-table.html):

&gt; Warning
&gt; Querying views that access the INNODB_BUFFER_PAGE table can affect performance. Do not query these
&gt; views o

[2020-03-27 20:19] afolseb commented on #43136
Hi - I also have a question to this topic as I have successfully added a p2s connection (IKEv2) to my VPN gateway of my vHub in azure (VPN clients address space: 172.0.0.0/16). I have a branch office connected to my vWAN (branch office address space: 10.150.0.0/24). I do have BGP enabled. The setup is similar to "One VNet and a branch office (BGP)" above just without the VNet. I added the route 10

[2020-03-27 20:22] rolyon commented on #50763
#please-close

[2020-03-27 20:22] #50763 closed

[2020-03-27 20:24] duytrand opened #51132 "Missing South Central IP"
Please add south-central IP address.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a074ac0-47a7-432e-5c62-15bb15258aba
* Version Independent ID: 97dc9b4c-bd3b-eaa0-c737-fe4cc48c414a
* Content: [Azure HDInsight management IP addresses](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-management-ip-addresses#

[2020-03-27 20:26] gardnerjr commented on #43959
We do not explicitly document blade inputs anywhere.  Are you opening the blade programatically or via a link?

If you are using a link to a workbook, the settings and behaviors are documented [here in our github repo](https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Visualizations/Grid.md#workbook-template-link-settings), but those docs have not made their way

[2020-03-27 20:29] Aniththa commented on #50610
azureml-sdk[automl] is the correct sdk

[2020-03-27 20:35] TravisCragg-MSFT commented on #51082
@RaphaelFrancisco This is explained at the very bottom of the page in the last sentence:

Please let me know if you need any additional information.

[2020-03-27 20:42] rolyon commented on #51026
Hi @D-Moonesinghe
Thanks for the feedback. In this context, classic administrators refers to the roles that were part of the initial release of Azure. The Service Administrator and Co-Administrator roles appear on the Classic administrators tab in the Azure portal. You can still use these roles, but a newer authorization system called Azure RBAC is now available. We recommend using these new roles

[2020-03-27 20:43] #50920 closed

[2020-03-27 20:46] Canis-Lupis opened #51134 "How do you reset the Password reset registration process?"
We're testing this and it has worked fine with some test accounts we put into a group that SSPR is set for.  However, we want to now to force all test accounts to have to re-register because we have since added more options (originally just text message or email but now have added security questions) and we'd also like to create documentation for users with pictures of each step of the registratio

[2020-03-27 20:46] saket-ms commented on #51073
SQL DB team currently have no plans for this. They are working on new auto-pilot feature and after that they will come to right-size SQL DB recommendations. For other PaaS services, there aren't any active conversations for recommendations.

[2020-03-27 20:48] swinner95 opened #51135 "Declare models as 'global' in the init function"
We should also inform users that they should declare their models as global in the init() function of their scoring script.

Example:
def init():
    global model
    # This name is model.id of model that we want to deploy deserialize the model file back
    # into a sklearn model
    model_path = Model.get_model_path('IBM_attrition_model')
    model = joblib.load(model_path)

---
#### Document De

[2020-03-27 20:53] justinfanok commented on #35074
@mimckitt @jakaruna-MSFT Can this be reopened, or can you please remove this from the documentation if it is not functional? I have been trying to develop a solution template with a scripts folder that won't work because of this.

https://github.com/Azure/azure-quickstart-templates/tree/master/100-marketplace-sample

[2020-03-27 20:54] pavankumarda2136 commented on #51130
I have tried using azure cloud shell, and there are two images. I am getting the user does not have access to the subscription that I gave in $image

[2020-03-27 21:12] adeelaleem commented on #48825
Hi guys,
west europe location is still not supported. Kindly make it available because we have a lot of new deployment comings next weeks. I want to leverage user profiles on Azure files with on-premises Active directory.

[2020-03-27 21:16] Karishma-Tiwari-MSFT commented on #51092
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-27 21:16] KranthiPakala-MSFT commented on #50920
Hi @aschlick, a PR to the address the feedback has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-03-27 21:18] Karishma-Tiwari-MSFT commented on #51095
@erichrockman Can you please elaborate on your request, are you suggesting any update to the document?

[2020-03-27 21:30] richardeakin commented on #38243
@RohitMungi-MSFT, I also wanted to let you know that after trying the sample, I have experienced the same error, and I also don't see any information on the right side of my screen. I am also using Visual Studio 2019. It appears this issue is not yet resolved.

[2020-03-27 21:38] mike-urnun-msft commented on #51097
@TsuyoshiUshio Thank you for your feedback! We will review and update as appropriate.

[2020-03-27 21:43] DCtheGeek commented on #51108
#assign:DCtheGeek

[2020-03-27 21:43] mike-urnun-msft commented on #51119
@andrewkittredge Thank you for your feedback! We will review and update as appropriate.

[2020-03-27 21:43] mamccrea commented on #49550
Thanks again for your feedback. We have updated this article and it will go live soon. If you have any additional questions, please reopen this issue.

#please-close

[2020-03-27 21:43] #49550 closed

[2020-03-27 21:44] DCtheGeek commented on #51108
@v-tawe Thanks for spotting this issue. I'll get this corrected asap.

@MicrosoftDocs/azure-cxp-triage Please label 'docs-bug' and #in-progress

[2020-03-27 21:50] Mike-Ubezzi-MSFT commented on #51127
@chineseneolight Thank you for your inquiry. Please take a look at the [Creating and using active geo-replication](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication) document, where it details (explains) the back-end geo-replication process to keep the primary and secondary instances of the databases in sync.
Just a note that Geo-Replication is used with a sin

[2020-03-27 21:51] #51108 closed

[2020-03-27 22:15] TravisCragg-MSFT commented on #51099
@squasta Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-27 22:17] kgremban commented on #50818
@elhorton Thanks for bringing this scenario to our attention. Currently, Docker does not work on WSL (as you discovered). Right now, the best solution is to install Docker Desktop on your Windows development machine and give WSL access to it. There are many blogs and posts that you can find with guidance for how to do this, including this project: https://pypi.org/project/azure-iot-edge-runtime-ct

[2020-03-27 22:17] SaurabhSharma-MSFT commented on #50528
@scootafire  Just checking in if your were able to connect  with @jeevansd to discuss this issue ?

[2020-03-27 22:18] SaurabhSharma-MSFT commented on #49657
@tom-ditlev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-27 22:18] #49657 closed

[2020-03-27 22:19] SaurabhSharma-MSFT commented on #49636
@marcelvandendungen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-27 22:19] #49636 closed

[2020-03-27 22:20] SaurabhSharma-MSFT commented on #50697
@garybushey The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-03-27 22:20] #50697 closed

[2020-03-27 22:32] ravick4u opened #51137 "Capture Timeout event"
Is there a way we can capture the timeout event?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale and hosting](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale)
* Con

[2020-03-27 22:33] wiazur commented on #46919
@inthevortex Great, thanks for sharing that. I'll forward this to our docs and service team.

[2020-03-27 22:36] MaduraDias opened #51138 "InvalidXmlNode error"
I'm getting "InvalidXmlNode" 400 error from "await blobClient.GetUserDelegationKeyAsync".

Response Headers:
Server: Windows-Azure-Blob/1.0,Microsoft-HTTPAPI/2.0
x-ms-request-id: 03e1fecc-f01e-0021-5187-04f2ab000000
x-ms-client-request-id: 23e4f354-670e-48c1-97ce-58874ce3bfeb
x-ms-version: 2019-07-07
x-ms-error-code: InvalidXmlNodeValue
Date: Fri, 27 Mar 2020 22:35:07 GMT
Content-Length: 348
Conte

[2020-03-27 22:36] KranthiPakala-MSFT commented on #51132
@duytrand Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-03-27 22:36] coelho5br opened #51139 "Service Endpoint does not work when Web App is using IP Based SSL"
Is it possible to update the document to clarify that once Web App has IP Based SSL, the Service Endpoint will not take effect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Azure App Service access restrict

[2020-03-27 22:45] SaurabhSharma-MSFT commented on #51113
@Norrch2 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-27 22:58] MarileeTurscak-MSFT commented on #51098
Thanks! I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/109408

[2020-03-27 22:58] #51098 closed

[2020-03-27 23:17] Yoendric commented on #46725
I am having the same issues when I fill all the information requirede to set the output, I get an error that indicates that it could not send an empty batch request. Could you please help to to find which is the right key?

[2020-03-27 23:24] dawsonar802 commented on #32991
Hello, I know this is sort of an old post, but is it still a known issue when using the New-AzureADApplicationCertificateKey command that the keyCredential is incorrect in the portal but looks right when creating it in PowerShell?

[2020-03-27 23:25] dawsonar802 commented on #12476
Hello, I know this is sort of an old post, but is it still a known issue when using the New-AzureADApplicationKeyCredential command that the keyCredential is incorrect in the portal but looks right when creating it in PowerShell?

[2020-03-27 23:31] kgremban commented on #50523
@dc995 Thanks for pointing this out! I will look for the new locations of those samples and update the doc.

[2020-03-27 23:35] zoala2 commented on #41184
I am not sure if we consider this as an outage. The regression impacted very less customers. Unfortunately, your tenant was one of them. I am only responding from an engineering-team perspective. AzureFiles uses our AADDS service. I am not sure if they have any outage notification for this.

Essentially, this regression impacted few AADDS tenants that have AzureFiles enabled.
We have recently star

[2020-03-27 23:39] Mike-Ubezzi-MSFT commented on #50745
@dudu-markovitz Can you provide specifics as to what did not work with regard to User versus System DSN? I have no System DSN entries yet all the testing I have done does not indicate issues with using User DSN.

[2020-03-27 23:41] MarileeTurscak-MSFT commented on #50692
That is strange! Is that the only part they're trying to access?

And they can access other things in the tenant?

Have you tried giving them permission on multiple apps or just the one?

[2020-03-27 23:41] amthomas46 opened #51141 ""same or different subscription with PowerShell""
Trying to use this to copy to a different subscription, but then there's no access for the blob, and what happens to this line? Please help. Thank you!

#Provide the resource Id of the storage account where VHD file is stored.
#e.g. /subscriptions/6472s1g8-h217-446b-b509-314e17e1efb0/resourceGroups/MDDemo/providers/Microsoft.Storage/storageAccounts/contosostorageaccount
#This is an optional parame

[2020-03-27 23:42] amthomas46 commented on #24980
I'm now facing this issue as well. Is it really not supported? If so, should the documentation not say `This script creates a snapshot from a VHD file in a storage account in same or different subscription. ` ? And is there a suggested workaround?  Thanks!

[2020-03-27 23:56] MarileeTurscak-MSFT commented on #50736
Thanks for the feedback. I made a pull request to add a note about this but will leave it open for review by @curtand https://github.com/MicrosoftDocs/azure-docs-pr/pull/109418

[2020-03-27 23:56] #50736 closed

[2020-03-27 23:56] TravisCragg-MSFT commented on #51099
@squasta Either version of helm will work, it is up to you for which one you want to use.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-27 23:56] #51099 closed

[2020-03-28 00:04] Karishma-Tiwari-MSFT commented on #50704
Please follow this document on how to migrate a classic VM from a standard storage account to a premium storage account.

https://docs.microsoft.com/en-us/azure/storage/common/storage-migration-to-premium-storage#a-sample-migration-scri

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the d

[2020-03-28 00:04] #50704 closed

[2020-03-28 00:06] stilbu opened #51142 "So how to add a wildcard subdomain?"
The documentation states:

Currently, wildcard domains are only supported via the API, PowerShell and CLI. Support for adding managing wildcard domains via Azure portal is not available.

But there is no documentation or any example on how to do this? Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a99f

[2020-03-28 00:06] Karishma-Tiwari-MSFT commented on #50042
Please try again as described here in the comment and let us know if you are still seeing issues: https://github.com/MicrosoftDocs/azure-docs/issues/50042#issuecomment-600534864

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-28 00:06] #50042 closed

[2020-03-28 00:11] SnehaGunda commented on #50998
@Matusa69 here are the observations from our testing and the responses from product group:

The connection string in the doc that contains port 443 is for queries that come from outside of the cluster. If you would like to submit the query from zookeeper nodes, which is inside the cluster, you should use following port instead.

beeline -u 'jdbc:hive2://clustername-int.azurehdinsight.net:443/;ssl=

[2020-03-28 00:14] SnehaGunda commented on #51132
@dagiro do you know if this information is available in Azure portal?

[2020-03-28 00:15] Karishma-Tiwari-MSFT commented on #50409
![image](https://user-images.githubusercontent.com/20851144/77809672-f72dfb80-704d-11ea-9c7b-e10f3c8c0000.png)

Currently, we do not have the information on support of RHEL 8, will share as I hear any update from the product team.

Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product t

[2020-03-28 00:15] #50409 closed

[2020-03-28 00:20] Mike-Ubezzi-MSFT commented on #50745
@dudu-markovitz Spent a little bit more time looking at this, and believe you are correct bit also, the doc does indicate `system data source` already. It is subtle but is does imply System DSN:

![Screenshot (851)](https://user-images.githubusercontent.com/37126106/77809799-a1a61e80-704e-11ea-95d0-300575e7ee0a.png)

I also did want to show that User DSN functions when not creating a Linked server

[2020-03-28 00:20] #50745 closed

[2020-03-28 00:24] BharathNimmala-MSFT commented on #51096
@thnk2wn Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-28 00:25] Karishma-Tiwari-MSFT commented on #50696
You may find this doc on best practices for ARM templates helpful: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-best-practices

If it helps, I found from this document that the maximum size of the script parameter's data is 256 KB. If the script exceeds this size it will not be executed.
https://github.com/Azure/custom-script-extension-linux/blob/master/README.m

[2020-03-28 00:25] #50696 closed

[2020-03-28 00:25] MarileeTurscak-MSFT commented on #50714
@gaspilleur I've reached out to the product team to ask about this.

[2020-03-28 00:27] Jimbos10 commented on #50422
I wanted to add that I worked with Viswanadham, who was super knowledgable and very easy to work with.

[2020-03-28 00:28] Karishma-Tiwari-MSFT commented on #50886
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-03-28 00:28] #50886 closed

[2020-03-28 00:29] BharathNimmala-MSFT commented on #51109
@frilkieg Thank you for your query , our team will further look into it and get back to you at the earliest.

[2020-03-28 00:36] MarileeTurscak-MSFT commented on #50943
Okay, I made a pull request to remove the machine investigation section and screenshot. If you think anything else needs to be removed feel free to make your own pull request by editing the article.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/109422

[2020-03-28 00:36] #50943 closed

[2020-03-28 00:43] jmprieur commented on #51061
@PaulFarry, @shashishailaj : We want to release an alpha version of the NuGet package next week. I was thinking of updating the doc after that release.

[2020-03-28 00:47] BharathNimmala-MSFT commented on #51089
@juskuz Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-28 00:49] BharathNimmala-MSFT commented on #51103
@jonwbstr Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-03-28 00:50] SamGforce opened #51143 "create certificate needed for linux VHD?"
If we are dealing with linux VHD, do we really need to create certificate. It seems like this step only applies to Win VMs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b9998ac-90a3-632e-68df-798cd0a5b052
* Version Independent ID: e040553d-17bd-db67-7978-00fd1d4ff636
* Content: [Create a user VM image for the Azure M

[2020-03-28 01:13] daniv-msft commented on #51000
Thanks for your reply. It looks like the Azure logging is disabled on your machine, as you should have found there `azds-cli-*.txt` and `azds-sdk-*.txt` files.

Could you please:
* Open the file %UserProfile%\.azure\config
* Add this new configuration in the file:
[code]
* Restart VS Code and reproduce the bug.
* Retrieve Azure Dev Spaces logs as mentioned above.

[2020-03-28 01:18] MarileeTurscak-MSFT commented on #50894
That's odd! What error does it give when you do it from the web UI? Is there a chance the wrong credentials are being stored for some reason?

Is this a problem with all of your admin credentials or just some?

I will try to reproduce this on my end though I have not experienced this issue before.

[2020-03-28 01:33] jonwbstr commented on #50894
Just a 'group creation failed' error instantly. Affecting all 5 of the
delegated admins I've spoken to. I can open a ticket with support if it's
not intended.

On Fri, Mar 27, 2020, 9:18 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-03-28 01:43] jayvdb commented on #51067
Hiya @shashishailaj, well, if it is a private copy, shouldnt public metadata embedded in HTML reference the public version?

I did create at same exceptions https://github.com/jayvdb/pypidb/commit/31a1f47de30368ac22a4612046c7951ea9526e71 , but adding exceptions for each package isnt scalable.  We need to fix the web and fix the metadata.  The easiest way to fix this is for all azure packages to ad

[2020-03-28 01:49] dagiro commented on #51132
@duytrand Please use the [service tag](https://docs.microsoft.com/azure/hdinsight/hdinsight-service-tags) feature for network security groups, instead of manually adding IP addresses. New regions will only be added for service tags and the static IP addresses will eventually be deprecated. This is noted at the top of the article.

[2020-03-28 02:04] homeworryfree opened #51144 "Mesh Tools not available for VS 2019"
It says Visual Studio 2017 or later, and I am using 2019.  It says install  Visual Studio Service Fabric Mesh Tools (preview) extension but when I try to install it, it says it won't work with 2019.  Please advise, and update this page.  I'd really like to work with Mesh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-03-28 02:07] rackymendez commented on #44251
hansenms ,

token created with Shell expire every 20 minutes
is it possible to have which does not expire ?

[2020-03-28 02:34] chunliu commented on #51092
@Karishma-Tiwari-MSFT the problem was caused by the authentication type I used with `az batch account login`. `--shared-key-auth` doesn't work for the shared image gallery. Must use AAD authentication. Probably add a notes in the document.

[2020-03-28 03:08] dennis-yemelyanov commented on #51041
Thank you, @VikasPullagura-MSFT . It makes more sense now. I think it would be good to clarify this in the doc, since currently it says "Before the GPUs in the nodes can be used, you must deploy a DaemonSet for the NVIDIA device plugin", which is confusing and doesn't seem to be true, since, from your explanation, the GPUs can still be used without installing the DaemonSet. And the DaemonSet insta

[2020-03-28 03:13] mike-urnun-msft commented on #51106
@chris-ross22015 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-28 03:14] mike-urnun-msft commented on #51107
@lunar87 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-28 03:16] mike-urnun-msft commented on #51111
@wukun2015 Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 03:18] mike-urnun-msft commented on #51117
@KapilaMunaweera Thank you for your feedback! We will review and update this thread with relevant info.

[2020-03-28 03:19] mike-urnun-msft commented on #51121
@benjaminhowarth1 Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 03:21] mike-urnun-msft commented on #51137
@ravick4u Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 04:17] hansenms commented on #44251
The life time of the token is something that is set in Azure Active Directory by the directory administrator, however tokens with infinite lifetime or even long life should not be created. It would not be considered secure.

[2020-03-28 05:46] Grace-MacJones-MSFT commented on #51124
Hi @alohaninja, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-28 05:55] PramodValavala-MSFT commented on #51125
@johnjohnjohn87 Thanks for the question! We will review and get back to you!

[2020-03-28 05:58] SnehaAgrawal-MSFT commented on #51139
@coelho5br Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-28 06:05] chris-han opened #51145 "Command for Retrieve the SHA1 fingerprint on Windows"
[Enter feedback here]

Run this on windows following this [doc ](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates#self-signed-certificates):
openssl x509 -in <WRKDIR>/certs/iot-device-<device name>-primary.cert.pem -text -fingerprint | sed 's/[:]//g'

Get error: The term 'sed' is not recognized as the name of a cmdlet

Resolved by removimg | sed 's/[:]//g' part.

---

[2020-03-28 06:15] PramodValavala-MSFT commented on #51129
@ameenmohamed Thanks for the question! We will review and get back to you!

[2020-03-28 06:16] PramodValavala-MSFT commented on #51130
@pavankumarda2136 Thanks for the question! We will review and get back to you!

[2020-03-28 06:17] PramodValavala-MSFT commented on #51131
@markusalbe Thanks for the question! We will review and get back to you!

[2020-03-28 06:19] PramodValavala-MSFT commented on #51134
@Canis-Lupis Thanks for the question! We will review and get back to you!

[2020-03-28 06:20] PramodValavala-MSFT commented on #51135
@swinner95 Thanks for the feedback! We will review and update accordingly.

[2020-03-28 07:05] soorajpayyoor commented on #44109
@amanmcse, I understand the logic. I mentioned about the value of the email. I understand email is the ClaimTypeReferenceId. But how can the email value will be 487624568? Please provide a proper value for email rather than giving a numeric value.

[2020-03-28 07:07] SubhashVasarapu-MSFT commented on #50686
@xtellurian , No the X-forwarded host is added in the background by Azure FD . You should be able to see the header value from the logs of your Application.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-03-28 07:07] #50686 closed

[2020-03-28 07:08] PramodValavala-MSFT commented on #51138
@MaduraDias Thanks for the question! We will review and get back to you!

[2020-03-28 07:09] PramodValavala-MSFT commented on #51141
@amthomas46 Thanks for the question! We will review and get back to you!

[2020-03-28 07:10] PramodValavala-MSFT commented on #51142
@stilbu Thanks for the feedback! We will review and update accordingly.

[2020-03-28 07:11] PramodValavala-MSFT commented on #51143
@SamGforce Thanks for the question! We will review and get back to you!

[2020-03-28 07:12] PramodValavala-MSFT commented on #51144
@homeworryfree Thanks for the question! We will review and get back to you!

[2020-03-28 07:13] PramodValavala-MSFT commented on #51145
@chris-han Thanks for the feedback! We will review and update accordingly.

[2020-03-28 07:31] DixitArora-MSFT commented on #50771
@munkii For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-28 07:31] inthevortex commented on #46919
Thanks, it will help out other who get stuck with this.

[2020-03-28 07:33] DixitArora-MSFT commented on #50800
@smoms I have assigned this to content author for further review and update as appropriate.

[2020-03-28 07:36] #50978 closed

[2020-03-28 07:37] DixitArora-MSFT commented on #51017
@jochenvanwylick For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-28 07:37] #51017 closed

[2020-03-28 07:38] DixitArora-MSFT commented on #50960
@antonGritsenko For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-28 07:38] #50960 closed

[2020-03-28 07:39] DixitArora-MSFT commented on #50855
@tnlthanzeel I have assigned this to content author for further review and update as appropriate.

[2020-03-28 07:40] DixitArora-MSFT commented on #50990
@divyaswarnkar Just following up again in case missed the previous communication.

[2020-03-28 07:53] tnlthanzeel commented on #50855
thank you @DixitArora-MSFT

[2020-03-28 08:05] akirajay opened #51147 "cannot read from property.id"
defined like this
const config = {
  endpoint: "&lt;Your Azure Cosmos account URI&gt;",
  key: "&lt;Your Azure Cosmos account key&gt;",
  databaseId: "Tasks",
  containerId: "Items",
  partitionKey: { kind: "Hash", paths: ["/category"] }
};

module.exports = config;

Quote like this

const databaseId = config.database.id;
const containerId = config.container.id;

which caused null value

---
####

[2020-03-28 08:33] ncunning opened #51148 "UWP Release Config native toolchain cannot compile"
https://github.com/Azure/azure-notificationhubs-dotnet/issues/111

Any thought on how to use azure notification hub in a UWP app planned for Windows store app if it can't be packaged for submission.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1f

[2020-03-28 08:49] ketan-chawda-msft commented on #50803
@mapoitras Thank for the feedback as per the guidance from author you can raise a request here at APIMWish portal for this feedback to be considered by product team.

Since there is no update required on this document, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reope

[2020-03-28 08:49] #50803 closed

[2020-03-28 09:05] esbenbach opened #51149 "Sample for Start-Service"
There is no reference to the content of a Start-Service.ps1 file. Considering the recommended "scalable" approach is to NOT use default services, the section for Start-Service should be expanded to include a detailed example/explanation of what it is and how to use it instead of Default Service (yes yes there is a giant github repo which includes a giant example but you have to know that to find i

[2020-03-28 10:49] sfroude commented on #49481
I also have the error 86 issue, please can you assist in resolving it?

[2020-03-28 11:25] Durgaa-G commented on #41085
I am also facing same issue, It works perfectly on my local.
Below is ref doc.
https://docs.mongodb.com/manual/reference/operator/aggregation/facet/

[2020-03-28 12:36] krishjan05 commented on #51000
I enabled logging and tried the steps again. Following are the generated log files.

[azds-cli-2020-03-28-12-26-37-172280.txt](https://github.com/MicrosoftDocs/azure-docs/files/4397137/azds-cli-2020-03-28-12-26-37-172280.txt)
[azds-sdk-2020-03-28-12-26-38-172280.txt](https://github.com/MicrosoftDocs/azure-docs/files/4397138/azds-sdk-2020-03-28-12-26-38-172280.txt)

[2020-03-28 12:58] rackymendez commented on #44251
thanks for your reply , but how to set token (1 year) in AD ?

[2020-03-28 13:47] GiantCrocodile opened #51151 "How to find out details about risky sign-ins or users at risk after 7 days?"
Hello,

I'm only able to search for risky sign-ins or users at risk for a time span of 7 days. What can we do if the risk will be investigated after it had been detected more than 7 days ago?

Thank you for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7984bc8-9064-b991-f6b6-2f2ae93490c9
* Version Independ

[2020-03-28 14:53] seanreynoldscs commented on #14070
I'm still seeing this issue, but for v3.

This was all working a week ago, then we updated Xcode 11.4, OS X 10.15.4 and the netcoreapp from 2.* to 3.1 Several pieces from this post have been helpful but I'm still stuck.
When running, I get:
[3/28/2020 2:32:15 PM] Microsoft.Azure.WebJobs.Host: Error indexing method '...'. Microsoft.Azure.WebJobs.Host: Cannot bind parameter '...' to type IAsyncColle

[2020-03-28 15:09] luigi-aversa2000 opened #51152 "Managed Identity Role assignment fails with insufficient privileges"
Hi Azure Team,

I have been stuck a long time trying to figure out why assigning either the role Contributor or Reader to the Managed Identity, (please see section AAD Pod Identity above, points #3 and #4) was returning "Insufficient privileges to complete the operation.", having deployed the AAD Pod Identity on my RBAC cluster with:

kubectl apply -f https://raw.githubusercontent.com/Azure/aad-po

[2020-03-28 16:21] chrismeeky opened #51153 "It looks like free 5k monthly request limit does not work in production"
Hi guys. Everything worked smoothly until I deployed to Heroku. API does not return any result

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text Analytics client library v3 - Azure Cognitive Ser

[2020-03-28 16:34] Cloudmersive opened #51154 "Azure blob page is broken, has 404 links"
See here: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/storage-quickstart-blobs-powershell.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04a28c3-81d7-123d-5b16-6642636c07a8
* Version Independent ID: 2179498b-00e8-1c9d-bd11-4a903ae3ad52
* Content: [Quickstart - Create a blob with P

[2020-03-28 16:38] djpmsft commented on #50662
Hi @pacific202,

Thanks for highlighting that this is not yet a part of our documentation. I just added a work item and am hoping to get it out this week.

Currently there is a limitation where you can not directly increment a variable in a single Set Variable activity. As the example you posted states, you must create 2 activities and use an intermediate variable. In code this would look like j =

[2020-03-28 16:38] djpmsft commented on #50662
Closing as a workaround has been found and a repair item is tracked. Feel free to continue commenting or reopen

#please-close

[2020-03-28 16:38] #50662 closed

[2020-03-28 16:43] SnehaAgrawal-MSFT commented on #51039
@MarkAtAgilliance Thanks again for the feedback! As its mentioned in the doc “The set of outbound IP addresses for your app changes when you scale your app”
To elaborate on this Outbound IP’s are shared per Region and scale unit [App Service plan].
While you stay in the same region and scale unit [App Service plan] you will receive the same outbound IP.
I recommend reviewing this article that give

[2020-03-28 16:51] leelu611 opened #51155 "Operator 'Equals' is wrong"
Operator [required]
Must be one of the following operators:

IPMatch - only used when Match Variable is RemoteAddr
Equals – input is the same as the MatchValue
Contains
LessThan
GreaterThan
LessThanOrEqual
GreaterThanOrEqual
BeginsWith
EndsWith
Regex
Geomatch (preview)

It should be 'Equal' instead of 'Equals'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-03-28 17:40] mailtogurvindersingh opened #51156 "Restore Azure SQL database from LTR"
Hello Team,

I have a feedback on https://docs.microsoft.com/en-in/azure/sql-database/sql-database-long-term-retention#restore-database-from-ltr-backup
_**The database can be restored to any existing server under the same subscription as the original database.**_

Above is what document says, but I do not think any existing server is correct. LTR enables you to restore on the same server as origin

[2020-03-28 17:52] prashantma commented on #50671
I have installed Visual Studio 16.5.1. I am trying to publish Azure Function project that was created as new using VS 2019 (before update to version VS 16.5.1).

Now I cannot run the Functions App in debug mode. VS is not recognizing the project as Azure Functions project. It is trying to run dll and shows error when starting debugger - "A project with Output Type of Class Library cannot be starte

[2020-03-28 18:10] TheKlingon commented on #50435
Hi. It still doesn't work. I'll try to follow the entire process from scratch. If you want, you can close the issue. If I'll need further assistance about, I'll open it again. Thank you so much for your time and patience.

[2020-03-28 18:37] lyrana commented on #47235
Hi @fgheysels, this is a really great batching example that seems to be a relatively common practice.
-We see the primary key for a time series event--i.e. row in your warm/cold stores--to be the combination of timestamp + TS ID (single or composite)
-Currently when we receive an array that contains objects there is flattening logic that will produce multiple rows so that users can do this type of

[2020-03-28 18:47] upmygit commented on #50692
__Note: this about resource type "App Configuration" not the configuration of an app!__
The same AAD group has the **Key Vault Contributor** role for accessing key vaults in that resource group. That role is granted to the key vaults **not** the resource group. You would expect that granting **Azure App Configuration Data Owner** on the "App Configuration" would work in the same manner.

[2020-03-28 18:51] erichrockman commented on #51095
Yes. Document needs to be updated.

[2020-03-28 18:58] rigdern commented on #49319
@DixitArora-MSFT can you clarify where this is being tracked? Is it tracked by another issue on GitHub?

[2020-03-28 19:04] lisaguthrie commented on #50526
@softchris - it should print the same error about Id being missing.

![image](https://user-images.githubusercontent.com/26001667/77831256-53932880-70eb-11ea-9a78-8ca90f59fc21.png)

[2020-03-28 19:07] lyrana commented on #47235
@fgheysels
Result from cold store, now that timestamp was hub en-queued dateTime and not the timestamp passed is a separate conversation, will engage with Engineering
![image](https://user-images.githubusercontent.com/16039279/77831446-72de8580-70ec-11ea-8d5e-45945d43e307.png)

[2020-03-28 19:10] lisaguthrie commented on #50534
#please-close

[2020-03-28 19:10] #50534 closed

[2020-03-28 19:31] anfeldma-ms commented on #49488
@SnehaGunda An update is in review.

[2020-03-28 19:52] markjbrown commented on #49488
Reviewed/approved PR. https://github.com/MicrosoftDocs/azure-docs-pr/pull/109430

Closing this docs issue now.

Thanks for raising.

#please-close

[2020-03-28 19:52] #49488 closed

[2020-03-28 20:07] mike-urnun-msft commented on #51147
@akirajay Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:08] mike-urnun-msft commented on #51148
@ncunning Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:10] mike-urnun-msft commented on #51149
@esbenbach Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-28 20:11] mike-urnun-msft commented on #51151
@GiantCrocodile Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:12] mike-urnun-msft commented on #51152
@luigi-aversa2000 Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:13] mike-urnun-msft commented on #51153
@chrismeeky Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:14] mike-urnun-msft commented on #51154
@Cloudmersive Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:15] mike-urnun-msft commented on #51155
@leelu611 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-28 20:16] mike-urnun-msft commented on #51156
@mailtogurvindersingh Thank you for your feedback! We will review and update as appropriate.

[2020-03-28 20:19] KranthiPakala-MSFT commented on #50845
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-03-28 20:19] #50845 closed

[2020-03-28 20:45] AjayKumar-MSFT commented on #47191
Thank you @DesarrolloMM and @IGx89 for sharing additional details.
@sffamily, Requesting your review further on this for adding clarity on this point in the document.

[2020-03-28 20:46] AjayKumar-MSFT commented on #48557
Thank you @mikeparker104 .

[2020-03-28 20:46] #48557 closed

[2020-03-28 21:13] NethajiDuvarakanathan opened #51157 "How to connect multiple MQTT clients to single iothub."
We have multipe MQTT connections ( such as device 1, device 2......) to the IoThub.

Notice, that all of them has own identity, security, primary key, etc. But connection string I thought to use common across the devices,  from shared access policy page(iothubowner) , since it grand access to iothub endpoints.

Broker Address: {iothubhostname}
Broker Port: 8883
Client ID: {deviceId}
Protocol : SSL

[2020-03-28 21:28] NethajiDuvarakanathan commented on #51157
Sorry by mistake have closed it. It's open. Any help would be appreciated greatly. Tia.

[2020-03-28 23:04] Erick-Farias commented on #50883
In a ticket case 120032524002559 with Microsoft that is solved, they found the script did not validate if the source storage account was compatible, there should have been some checks there. The support guy will give feedback for the owner of the script to change on how to check that. Thanks.

[2020-03-28 23:37] hansenms commented on #44251
I don't think AAD will allow you to do that. For an access token, I *think* the max is 1 day, but I could be wrong. Look somewhere like here for details:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

Note even if it was possible, it would not be considered best practice to issue an access token with lifetime of one year.

[2020-03-29 00:20] prashantma opened #51158 "Secure access to RootManageSharedAccessKey in Azure"
"Repeat the previous step, copying and pasting the value of Primary key to a temporary location for later use."
1. What are recommendations of securely storing connection strings / keys that are used to access Azure (resources)?
2. If Azure Management API is used in an enterprise application, how to access connection strings / keys securely in development / staging / production environments? As I

[2020-03-29 00:39] mike-urnun-msft commented on #50710
@aa4640 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-29 00:39] #50710 closed

[2020-03-29 00:49] jonwbstr opened #51159 "Manual command missing quotes"
Currently,
bcdedit /ems {current} on

should be:
bcdedit /ems '{current}' on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a682c1b8-b126-192b-6cce-6da70a492c27
* Version Independent ID: 2d5afb43-894c-a7a5-0891-207f057bbe2e
* Content: [Azure Serial Console for Windows](https://docs.microsoft.com/en-us/azure/virtual-mac

[2020-03-29 01:05] jonwbstr commented on #51159
Turns out if you issue the command from powershell you need quotes. If you do it from cmd, you do not need quotes. Who uses command prompt these days ;)

[2020-03-29 01:09] gglang opened #51160 "Translator Text API Dictionary Lookup Not Correctly Providing "prefixWord" in Response"
I have posted about this in the community forum already: https://social.msdn.microsoft.com/Forums/en-US/34d0c054-ffc9-471f-8585-1ccbab6b4c24/translator-text-api-dictionary-lookup-not-correctly-providing-quotprefixwordquot-in-response?forum=AzureCognitiveService

The documentation for "prefixWord" on this page states that for "mosca" (spanish) the "prefixWord" should be "la". However, in reality it

[2020-03-29 01:23] mperdeck opened #51161 "this page is outdated"
it doesn't know about .Net Core 3
the "Pick a publish target" screen shown by Visual Studio 2019 latest version doesn't match the one shown on this page.
there may be more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c
*

[2020-03-29 01:29] mperdeck opened #51162 "Exception when trying to publish"
Was following the steps under heading
Publish to Azure

After right click project name | Publish
I chose "Azure Functions Consumption Plan" because that looked like the most plausible option
Selected "Create New"
Selected "Run from package"

Clicked "Create Profile" button

new screen appears with what seem to be correct details.

Click "Create" button

Got a popup with this message:

System.Net.H

[2020-03-29 01:30] mperdeck opened #51163 "After hitting F5 to run under debugger locally, got error message"
Error:
The debugger was configured to use the Desktop CLR (.NET Framework) Managed debugger, but the target process loaded the CoreCLR (.NET Core) runtime. To debug this project, configure it to use the Managed (CoreCLR) debugger

Solution:
https://stackoverflow.com/questions/60050658/visual-studio-2019-unable-to-debug-azure-functions-desktop-clr-netframewo
edited Feb 5 at 12:11
answered Feb 4 at

[2020-03-29 01:37] BharathNimmala-MSFT commented on #50884
@harelbr Thank you for helping on this.

@o-l-a-v Thank you for reaching out and hope the above information shared by @harelbr is helpful for your scenario. Please review the above information and let us know if you have any further queries. Thanks

[2020-03-29 01:38] bradoyler opened #51164 "duplicate detection example?"
need an example for duplicate detection using messageId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1752a37b-b40a-5613-3416-fd604b281dbc
* Version Independent ID: f088004f-f80e-ba5c-e08e-c76ac395c809
* Content: [Azure Service Bus bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/fu

[2020-03-29 02:06] mike-urnun-msft commented on #50881
@przemos Just following up here, please let us know if there's specific documentation that your feedback is applicable to so that we can connect you with the right team.

[2020-03-29 02:11] mike-urnun-msft commented on #51012
@inthevortex Thank you for the additional information! We have assigned this issue to the author to review further and take the right course of action.

[2020-03-29 02:34] mperdeck opened #51166 "missing publish step"
Under heading
Publish the project to Azure

At step 6, you still have to hit the Publish button when you are here. Otherwise your application doesn't get deployed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e88ea08-81ef-2b5a-b9d6-539e85592672
* Version Independent ID: f2d8b7b4-906a-d1f5-5201-fc22a7890955
* Content:

[2020-03-29 04:09] MarileeTurscak-MSFT commented on #50894
If you send me an email at AzCommunity@microsoft.com I can open a free support ticket for you. I'll also check on my end to see if anyone knows why this might happen.

[2020-03-29 04:15] MarileeTurscak-MSFT commented on #50994
You get a subset of features in Office 365 subscriptions with MFA. You also need to have enough license for the MFA users.

I've assigned this issue to the content author to update.

[2020-03-29 05:37] Grace-MacJones-MSFT commented on #50903
We appreciate your feedback Mark! We want the naming convention in the doc to be consistent with what in the Azure portal. To minimize confusion we will keep the terminology as is.
![authportal](https://user-images.githubusercontent.com/42247081/77841105-a4367000-7143-11ea-89b2-adc6e250951e.PNG)

We will now proceed to close this thread. If there are further questions regarding this matter, please

[2020-03-29 05:37] #50903 closed

[2020-03-29 05:49] Grace-MacJones-MSFT commented on #50833
@srinayani  can you try to uninstalled and re-installed Microsoft.Azure.WebJobs.Extensions?

[2020-03-29 06:06] DixitArora-MSFT commented on #51161
Hi @mperdeck Thanks for your feedback. We will review and update as appropriate.

[2020-03-29 06:08] DixitArora-MSFT commented on #51163
Hi @mperdeck Thanks for your feedback. We will review and update as appropriate.

[2020-03-29 06:10] DixitArora-MSFT commented on #51164
Hi @bradoyler Thanks for your feedback. We will review and update as appropriate.

[2020-03-29 06:11] DixitArora-MSFT commented on #51166
Hi @mperdeck Thanks for your feedback. We will review and update as appropriate.

[2020-03-29 06:24] yoichinak opened #51167 "What is "AP""
On the Performance tab, "AP" appears next to "Precision" and "Recall". What is "AP"? Could you explain that in this article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8198ccf7-c499-c84b-6d54-e48a8fc4a150
* Version Independent ID: aae607bf-72be-59dd-32bc-be33039de820
* Content: [Quickstart Build a classifier - Cust

[2020-03-29 06:42] naqash11 opened #51168 "On which basis these reports are being carried out automatically? Any policy or its just Microsoft's magic?"
On which basis these reports are being carried out automatically? Any policy or its just Microsoft's magic? Please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5779b726-83b3-3242-297a-17410b372ab5
* Version Independent ID: ff902d75-e5b4-25db-4d31-80d28808efff
* Content: [Investigate risk Azure Active Director

[2020-03-29 07:05] mailtogurvindersingh opened #51169 "Export Azure SQL DB BACPAC"
the statement in the document _**_A BACPAC file can be stored in Azure Blob storage or in local storage in an on-premises location__**

is misleading , you only get an option to configure blob storage to export bacpac not the local storage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c0b8c1d-41ff-f7ab-bc23-72a48fc4

[2020-03-29 08:07] yelevin commented on #48918
#please-close

[2020-03-29 08:07] #48918 closed

[2020-03-29 08:51] Klaas- commented on #50409
@iainfoulds are there plans to get this into the current EL8 based distros? EL7 is in maintenance support 1 and will be in maintenance support 2 end of Q3 (https://access.redhat.com/support/policy/updates/errata)

[2020-03-29 09:12] memildin commented on #48913
Hi @artisticcheese,

Microsoft.Security represents legacy recommendations that aren't supported directly by Azure policy.

These include Identity recommendations and the agent-based policies which are collected and evaluated by the MMA and the Security or SecurityCenterFree LA (Log Analytics) solutions. The data is stored first in LA workspace, and later picked up by Azure Security Center (Microso

[2020-03-29 09:12] #48913 closed

[2020-03-29 09:18] munkii commented on #50771
@DixitArora-MSFT  thanks fire the documentation but my issue is not that I do it understand the AuthorisationLevel. The issue I was reporting was that that page is linked to from elsewhere in docs for Auth Level info but the page has none

[2020-03-29 10:03] PramodValavala-MSFT commented on #51157
@NethajiDuvarakanathan Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-29 10:25] NethajiDuvarakanathan commented on #51157
Am referring the below link for the connection.

[2020-03-29 10:26] NethajiDuvarakanathan commented on #51157
Am referring the below link for the connection.

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#using-the-mqtt-protocol-directly-as-a-device

[2020-03-29 10:55] rbhanot4739 commented on #13787
@aliabbasmanager did you find a solution to this. I am also in need of exactly the same thing, i.e. creating the workspace > getting the workspace and then installing OMS agent on the VM and configuring it with that workspace key. Till now I haven't been able to do so ? Infact there is no way of getting the workspace id as part of the output as well from the template.

[2020-03-29 11:08] PramodValavala-MSFT commented on #51157
@NethajiDuvarakanathan Thanks for the question! We will review and get back to you!

[2020-03-29 11:17] RonakThakkar commented on #49641
Hi,

Can u confirm below before closing the issue.

1. Does host.json setting mentioned in current trigger article work and that they are correct documentation for Azure function V3 with runtime 2.0. It did not work for me. Then I copied from output binding article and then it worked.
2. What is the purpose of prefetchCount in output binding? I think prefetchCount applies to input/trigger binding

[2020-03-29 12:18] PramodValavala-MSFT commented on #51158
@prashantma Thanks for the question! We will review and get back to you!

[2020-03-29 12:18] rbhanot4739 opened #51171 "Template deployment fails with errror "Bad request, Please check the CustomerId, Path and Key for restricted symbols""
I used the above template as it is and even though the workspace gets created and some of the datasources are also enabled, the actual template fails with the following error.

[code]
There is some bug with datasources of kind `LinuxSyslogCollection` , `LinuxPerformanceCollection `
because ifs I remove these datasources I do not get the above error.

However after removing the above datasources, t

[2020-03-29 12:24] chrisdoofer opened #51172 "Confusing Hyper-V Documentation"
Hi Team,

The documentation around Hyper-V Migrations is a little confusing and there seems to be continued references to VMware.  For example, the section around agentless dependency analysis is only applicable to VMware (at this time).  Yet there includes details such as the following:

VMware tools | VMware Tools (later than 10.2) must be installed and running on each VM you want to analyze.
--

[2020-03-29 12:27] pearcec opened #51173 "Step 4 Validate Setup - Substep 2 verify effective routes not possible"
This isn't possible the managed side of the databricks locks out permission.

The client 'XXXX@XXX.com' with object id 'redacted' has permission to perform action 'Microsoft.Network/networkInterfaces/effectiveRouteTable/action' on scope '/subscriptions/redacted/resourceGroups/redacted-managed-rg/providers/Microsoft.Network/networkInterfaces/redacted-privateNIC/effectiveRouteTable'; however, the ac

[2020-03-29 12:32] pearcec commented on #51173
The Databricks deployment adds a Deny Assignment via blueprints.

[2020-03-29 13:12] eparizzi commented on #51006
@SaurabhSharma-MSFT Yes, I've went through all the documentation pages on this and there's no mention how to integrate the `Microsoft.Azure.Services.AppAuthentication` library with ADX.
Even so, that doc page you linked is not even using the methods on the `KustoConnectionStringBuilder` class. It's just explains how to do authentication manually by doing requests following OAuth flow.

So, I just

[2020-03-29 13:21] garybushey opened #51174 "Purpose of creating new variable"
Under Update the home page URL, what is the purpose of Step 3?  It the variable does not appear to be used at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af4b29d6-1abc-c3e4-98c3-9ce1724f8d74
* Version Independent ID: e7b5b0ce-289b-535d-6d45-4b37aa29e826
* Content: [Custom home page for published apps - Azure AD

[2020-03-29 13:46] souravmishra-msft commented on #50781
@Diwakar243, No, you cannot get the certificate working for the expired thumbprint and identifiers. Hence once you renew that certificate manually and upload it to the KeyVault, in your code, you need to mention the new version number in the API call to the KeyVault that you are making to fetch the cert from the Azure Key Vault.

[2020-03-29 13:50] JCPuerto commented on #46668
Hi @alex-frankel,

I signed-up the first time around 2 weeks ago and I just did it today again just in case but every time I tried the example commands in the https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-deploy-what-if link I get a blank response.

![image](https://user-images.githubusercontent.com/10167695/77850771-a11e9c80-71a2-11ea-8697-e54f7c56cc80.png)

Is

[2020-03-29 14:02] rizwannadeem2018 opened #51175 "Unable to resolve on-premise vm names from azure using site-to-site vpn tunnel."
Hello Expert,

I've created a VPN tunnel (site-to-site) with static routes between on-premise to Azure to access resources bio-directional. Afer tunnel created. I can access shares, RDP and databases (bio directional) but from IP address, when I resolve the DNS it won't work bio directional.

I saw Azure has two DNS servers IP in the azure resource group DNS settings but I need to access all the r

[2020-03-29 14:04] ram-suresh commented on #51013
Hi,

Thanks, issue resolved.

[2020-03-29 14:07] ram-suresh opened #51176 "Getting an issue "Unsupported/Invalid URLs:""
Hi,

I tried adding a wordpress file created in sharepoint document folder in the "Manage knowledge section" in the settings page. When I clicked on "Save and train", I am getting the error "Unsupported/Invalid URLs:"

Can you please suggest and guide me.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the

[2020-03-29 14:16] RohitMungi-MSFT commented on #51160
@gglang Thanks for pointing this out. This looks like a product issue and you have posted this in the right forum on MSDN. We will forward the same to our product group to check further and advise. Thanks for your patience.

[2020-03-29 14:21] rayne-wiselman commented on #51172
Thanks for your feedback! We already  have a work item open for this and the change will show up in the next day or two.

[2020-03-29 14:22] PramodValavala-MSFT commented on #51159
@jonwbstr Thanks for the feedback! We will review and update accordingly.

[2020-03-29 14:24] PramodValavala-MSFT commented on #51162
@mperdeck Thanks for the question! We will review and get back to you!

[2020-03-29 14:30] PramodValavala-MSFT commented on #51167
@yoichinak Thanks for the question! We will review and get back to you!

[2020-03-29 14:31] PramodValavala-MSFT commented on #51168
@naqash11 Thanks for the question! We will review and get back to you!

[2020-03-29 14:32] PramodValavala-MSFT commented on #51169
@mailtogurvindersingh Thanks for the feedback! We will review and update accordingly.

[2020-03-29 14:33] PramodValavala-MSFT commented on #51171
@rbhanot4739 Thanks for the question! We will review and get back to you!

[2020-03-29 14:33] PramodValavala-MSFT commented on #51172
@chrisdoofer Thanks for the feedback! We will review and update accordingly.

[2020-03-29 14:36] arvindr9 opened #51177 "Certificate Error when accessing JupyterLab through my Linux DSVM"
I am able to enter my Jupyter notebook through https://public-ip:8000 through my Linux DSVM (Ubuntu 18.04). (I went through the following tutorial to be able to do so: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server)

However, I am getting a certificate error (the Azure guide linked above mentioned that there will be such an error). While I am able to proce

[2020-03-29 14:36] PramodValavala-MSFT commented on #51173
@pearcec Thanks for the question! We will review and get back to you!

[2020-03-29 14:37] PramodValavala-MSFT commented on #51174
@garybushey Thanks for the feedback! We will review and update accordingly.

[2020-03-29 14:38] PramodValavala-MSFT commented on #51175
@rizwannadeem2018 Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-29 14:39] PramodValavala-MSFT commented on #51176
@ram-suresh Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-29 14:40] PramodValavala-MSFT commented on #51177
@arvindr9 Is there a specific doc that you are referring to there? If so, could you please share the same?

[2020-03-29 14:47] prashantma commented on #50671
I tried rerunning the Visual Studio installer. After that the issues have fixed - Azure Functions project can be run locally and Publish is listing the Azure* options.

[2020-03-29 14:47] #50671 closed

[2020-03-29 14:47] arvindr9 commented on #51177
@PramodValavala-MSFT I edited the post, so it now includes a link the the Azure guide I used to set up the DSVM, along with a guide (which I tried working through) that explains how to setup SSL for a public server.

It seems like (according to the Azure guide), the DSVM by default has a self-signed certificate, but I would like to know how to use an actual certificate to prevent myself from havin

[2020-03-29 14:52] memildin commented on #29923
@cogran, thanks for the question.

You're asking for something that Azure Security Center doesn't do, and which would be counter to the wishes of most of our users and customers.

When you enable JIT from Azure Security Center, the NSG rule is created. But Security Center doesn’t continuously monitor that those rules remain present and unchanged. There are many legitimate reasons why a user might

[2020-03-29 14:52] #29923 closed

[2020-03-29 14:54] amitgoswamiril opened #51178 "link brokern"
ROOBO device sample code
returns 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1d88ac1-d269-5f91-fb1f-8901589c6b02
* Version Independent ID: 3fa3ffe6-277a-547a-a434-7002c056b3b9
* Content: [Real time Conversation Transcription (Preview) - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us

[2020-03-29 14:58] mdhruv1 opened #51179 "Steps"
Hi,
If I am trying to follow this some of the steps are missing.
If I am new to azure.
1 Need to step up my AZ CLI. If we can put a link there.
2 Do I need node on my local windows laptop
3 What are the other steps to get it working

This would help it be more usefull. If we can also link a video showing this that will be awesome

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-03-29 15:06] PramodValavala-MSFT commented on #51178
@amitgoswamiril Thanks for the feedback! We will review and update accordingly.

[2020-03-29 15:06] PramodValavala-MSFT commented on #51179
@mdhruv1 Thanks for the feedback! We will review and update accordingly.

[2020-03-29 15:28] robcamer opened #51180 "Make Architecture Diagrams available in Visio format for download"
I love these articles but it is very difficult to review the diagrams, even at 200 magnification in the browser.  It would be great to get them in source format to review as well as use as a basis for our own architecture diagrams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81712a5d-c3c2-f49b-17f8-559a8011aa84
* Ve

[2020-03-29 15:33] artisticcheese commented on #48913
@memildin So if for example policy called "Management ports should be closed on your virtual machines" have policy rule defined as below. That means to verify that policy some instrument at Microsoft periodically makes KQL query then based on that query updates Azure Resource Graph  for each machine and then policy on separate cycle verifies compiancy? Can we get actual KQL so we can verify if wha

[2020-03-29 15:38] PramodValavala-MSFT commented on #51177
@arvindr9 Thanks for the question! We will review and get back to you!

[2020-03-29 16:37] vikramdadwal opened #51182 "Max Result Count from generateAnswer API ?"
If the question get a match of say 100 records, will it provide all the result in response or is there a limit ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [Metadata with GenerateAnswer API - QnA Maker - A

[2020-03-29 16:40] new-kirte opened #51183 "Error in Scenario 1, Step 9"
Under Access controls &gt; Grant, select the following options:
Require approved client app
Require app protection policy (preview)
Require one of the selected controls

This will grant access when either an approved app is used, or the app has protection policy (either or), not when an approved app with protections policy is used to access the service (AND condition).

---
#### Document Details

[2020-03-29 16:48] soeirodefaria opened #51184 "Please add AzureResources examples"
I've tried to follow this documentation, but I am having some problems running the commands with -ProviderId azureResouces.
I keep getting this error:
===========
Get-AzureADMSPrivilegedRoleDefinition : Error occurred while executing GetAzureADMSPrivilegedRoleDefinitions
Code: UnknownError
Message:
InnerError:
  RequestId: 8d6d5c9e-672b-4f54-8f51-32be2aad21bd
  DateTimeStamp: Sun, 29 Mar 2020 16:4

[2020-03-29 17:04] solankigithub opened #51185 "Error while following this tutorial"
Getting below error after running the command
mvn exec:java -Dexec.mainClass="com.mycompany.app.App"

org.apache.qpid.proton.engine.HandlerException: org.apache.qpid.proton.engine.TransportException: org.apache.qpid.proton.engine.TransportException: None of [TLS_DH_anon_WITH_AES_128_CBC_SHA, SSL_DH_anon_WITH_3DES_EDE_CBC_SHA, SSL_DH_anon_WITH_DES_CBC_SHA, SSL_DH_anon_EXPORT_WITH_DES40_CBC_SHA] ano

[2020-03-29 17:07] amergey opened #51186 "Provide more links or information related to Migration from Cloud Partner Portal"
I arrived here following "Learn more" link from Cloud Partner Portal ("We’ll start moving management of all your offers to Partner Center on March 30 2020. After the migration, you’ll manage your offers in Partner Center.You’ll no longer be able to access your offers in Cloud Partner Portal. Learn more.")
This page lacks technical information related to the migration, like what will become the Clo

[2020-03-29 17:37] Robulane opened #51188 "PBS metric is not present in Azure"
Hi, I can't find the metric Probability of strongly consistent reads based on your workload (see PBS) in azure... I have "Bounded Staleness" and "Replication latency trend from {1} to {0}" dashboards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30408ba6-333d-6fe5-0df2-e545f6422ba4
* Version Independent ID: 7fccbe15-a

[2020-03-29 17:45] krishdevan opened #51189 "BUG!! Unable to add additional Microsoft Personal account to the Authenticator App using QR Code"
Microsoft Authenticator App installed on Android v9 (LG V30)
I set it up using one of my hotmail accounts.
I am trying to add additional microsoft personal accounts (live.com and outlook.com). When I scan the QR Code, it adds the account to the app on my phone, but the web page does not accept the code that was generated by the app; so I am unable to add the account! I keep getting the message - "

[2020-03-29 17:49] markjbrown commented on #51188
In Azure portal in Cosmos DB blade, scroll down and click Metrics in the Monitoring section. Then click consistency tab across the top.

![image](https://user-images.githubusercontent.com/800166/77856286-e9da5380-71aa-11ea-876b-0fc5fcecb865.png)

Thanks.

#please-close

[2020-03-29 17:49] #51188 closed

[2020-03-29 17:51] Robulane commented on #51188
Thanks for quick answer. I don't have it... What is the condition to have this dashboard?

[2020-03-29 17:55] Robulane commented on #51188
This is what I have:

![image](https://user-images.githubusercontent.com/55888168/77856405-2e8bdc00-71f7-11ea-954b-b5ecd52d8501.png)

[2020-03-29 17:57] v-karbovnichy opened #51190 "Please add B-series burstable ACU to the comparison"
There is a page here https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-b-series-burstable
with explanation of B VMs. That page has explicit link to this comparison, but here the table does not have any B SKUs mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Ve

[2020-03-29 18:18] rafalfitt commented on #47419
@FrankHu-MSFT any update?

[2020-03-29 18:22] asichaib opened #51191 "Routing to NVA"
Hello,
Do we need the peering between vnets and NVA to route traffic to it or a UDR is enough ?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff59f117-79c3-f134-f6ff-9c3745a7cd52
* Version Independent ID: 6e1bf338-5501-b1d7-6b2d-3dc98dc25a60
* Content: [Virtual WAN: Create virtual hub route table to NVA: Azure

[2020-03-29 18:24] rafalfitt commented on #34613
@SaurabhSharma-MSFT the issue is still unsolved

[2020-03-29 18:50] njbuch opened #51192 "Detached process fails, how to fail (and restart module)"
I have a well working module in C# that spawns a seperate process with some python code. In some rare cases, the python code fails, and the process ends like this:

[code]
But the module does not stop by doing this. I would like the module to completely restart on this error. Is that possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-03-29 19:04] dorfire commented on #32126
Can I also bind to `IMessageReceiver`? Or only `MessageReceiver`?

[2020-03-29 19:19] markjbrown commented on #51188
Is your consistency level for this account bounded staleness? If so, try changing to Session.

[2020-03-29 19:30] markleavesley opened #51193 "Needs a type when passing instanceId to StartNewAsync"
await client.StartNewAsync("Periodic_Cleanup_Loop", instanceId, null) - doesn't compile with nuget 2.2.0 but await client.StartNewAsync&lt;string&gt;("Periodic_Cleanup_Loop", instanceId, null) does.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa40ad5-ef98-4fa0-f071-65b804a6c617
* Version Independent ID: 948676b8-63

[2020-03-29 19:42] andrewcrayden opened #51194 "Microsoft Graph Bindings"
There are no longer Microsoft Graph templates in the Azure Portal. This page has not been updated since 12/20/2017, and much of the information is out of date. When will this page be updated with correct information for using the Microsoft Graph in Azure Functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81cb62b

[2020-03-29 19:48] omerzubair opened #51195 "Event Hub issue - Resource is not supported"
When i try linking Event hub and select my event hub from drop down then i get following message
"Resource is not supported"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](

[2020-03-29 19:48] omerzubair commented on #51195
![image](https://user-images.githubusercontent.com/7728453/77858992-83a90b80-7252-11ea-9038-e1b671627513.png)

[2020-03-29 20:42] wj109s5 opened #51196 "Old material?"
I don't believe this works at all if you've just come from the previous page if you register only with an app registration (preview)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827dc-ff96-a1dd-7320-8f493953a33e
* Content: [Tutorial - Create user flows

[2020-03-29 20:44] aschip commented on #51043
@timsander1 aah interesting, sorry I missed that  😄

[2020-03-29 20:59] markjbrown commented on #51188
Will look further into this. It should appear in your portal no matter what consistency level you choose.

[2020-03-29 21:36] 3vi1 opened #51197 "WVD Management interface only works for global admin"
I successfully deployed the WVD management tool (https://docs.microsoft.com/en-us/azure/virtual-desktop/manage-resources-using-ui).  However if I attempt to add other users to the app, they cannot see anything after sign-in.  Even if the user is made an owner of the app service and associate resource group, they see nothing.

The users are prompted to log in when going to the site, and authenticat

[2020-03-29 22:47] MarkAtAgilliance commented on #51039
Thanks.  The region/scale unit consistency you mention is the information I needed.  May be worth adding this to the doc referenced in the feedback.   This new explanation implies the outbound IPs are per region and App Service Plan *instance* - not app service plan tier (which the existing paragraph implies).

per the doc.. "The set of outbound IP addresses for your app changes when you scale you

[2020-03-29 22:54] prashantma commented on #25273
I was also getting error - "This request is not authorized to perform this operation using this permission" in the "Create storage account container" step with "Storage Blob Data Contributor" at "subscription" level.  I added permission "Azure Blob Data Owner" on the storage account to the service principal at the "storage account" level. Then the script worked.

[2020-03-29 23:13] #50523 closed

[2020-03-29 23:16] rhuanbarreto commented on #50552
No. I will try to set up a demo with the error message

[2020-03-29 23:24] rhuanbarreto commented on #50552
If you can set up a test mariadb instance, I can make an example on repl.it and show you the error

[2020-03-29 23:43] AKonCloud opened #51200 "Clarify statement around notifying Microsoft"
"Important: Let us know within 10 days how many SQL Server licenses you are using in Azure. The links to the previous images have instructions on how to do this."

What link is it talking about?
What images is it talking about?
The "Important" highlight should have the specific information in it rather than telling people to search for it somewhere within the article.

---
#### Document details

⚠

[2020-03-30 00:41] BharathNimmala-MSFT commented on #51186
@amergey Thank you for your query,  our team will further look into it and get back to you at the earliest.

[2020-03-30 00:58] sasedlock opened #51205 "Missing initial step re: registering tools"
This tutorial is missing a step, callout or note that lets the reader know that with the default subscription that is created, adding a SQL server instance is not possible.

I am attempting step #4 of "Create a blank data warehouse in SQL pool", and am currently researching how to get around an error I see when trying to add a new server: "This location is not available for subscription".

For all