[2019-07-16 12:17] KetanChawda-MSFT commented on #35194
@CastleArg can you please try the authorization rules as discussed [here](https://social.msdn.microsoft.com/Forums/en-US/80bad646-a8ec-411b-8549-7446e419f167/azure-ad-authentication?forum=AzureFunctions).

[2019-07-16 12:26] woodrum opened #35205 "Windows 2019 Support"
I don't see 2019 listed as a supported OS.  Is this just an oversight, or is 2019 truly not supported yet?  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef7b40d1-bbe9-c938-b06c-8380ec17f262
* Version Independent ID: 3d3f8780-cf1e-a75a-ac24-0e9162cb4e56
* Content: [Back up SQL Server databases to Azure](htt

[2019-07-16 12:30] vvadymv opened #35206 "MFA status transfer to AWS"
We facing issue with such kind of integration. Even if I was requested MFA during authentication to AAD (https://myapps.microsoft.com) I still see in AWS CloudTrail: "MFAUsed": "No"
RAW logs:
`{  "eventVersion": "1.05",
  "userIdentity": {
    "type": "AssumedRole",
    "principalId": "AROAS7FJJMOC3NEG7XJK7:username@domain",
    "arn": "arn:aws:sts::111111111111:assumed-role/ReadOnly/username@doma

[2019-07-16 12:39] SubhashVasarapu-MSFT commented on #34670
@kazshi , The Inbound/Outbound data transfers mentioned in the pricing page applies for both v1 as well as v2.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-16 12:39] #34670 closed

[2019-07-16 12:41] jakaruna-MSFT commented on #34889
I have seen your issue in dev spaces Azure/dev-spaces#132.
I will let them answer about azure devspaces.

@PingPongSet  i dont have much experience in Azure devops.
I will answer your questions regarding helm and kubernetes.

For making changes to the helm chart, we need to know about helm templates in charts and the chart structure.

If you want to create the loadbalancer, Thats available out of

[2019-07-16 12:43] plzm opened #35208 "Clarify command channel connectivity"
While data transfer connectivity options depend on the specific sources/sinks - i.e. do the Azure sinks support public internet, S2S VPN, ExpressRoute - it would be extremely helpful if this page very specifically described connectivity options/constraints when the SHIR is hosted on-prem.

Does the control/command channel ONLY work on public internet connections, or are scenarios supported where a

[2019-07-16 12:50] sgdesmet opened #35209 "Is metadata from the OAuth2 technical profile supported in the OpenId Connect profile?"
Seeing as OpenID Connect is a layer on top of Oauth2, are the metadata values from the OAuth2 technical profile also supported in the OpenID Connect technical profile?

For example: can `AdditionalRequestQueryParameters` be used in a OpenID Connect technical profile?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb58

[2019-07-16 12:53] KalyanChanumolu-MSFT commented on #34827
@ninarn Following up to see if you have any updates on this issue?

[2019-07-16 12:55] KepanoEgg commented on #30595
Not sure why this is marked as closed, still having the same issue. I followed this "from top-to-bottom" and I'm still having an issue with the "ServerError: AADB2C90205: This application does not have sufficient permissions against this web resource to perform the operation."
Seems like I'm having the same issue where this code is asking for an access token to something I haven't built yet

[2019-07-16 13:00] manjucsprasad commented on #35201
I have resolved it.
I have added the 'msauser' as my azure account (outlook email account) for the database. Now I can access the Azure Data Explorer from Kusto Explorer Tool. And also I can access the Azure Data Explorer from PowerBI Tool.

[2019-07-16 13:00] #35201 closed

[2019-07-16 13:01] ningweinw opened #35211 "Documentation error"
[Enter feedback here]
In step 4 under "Configure an OAuth 2.0 authorization server in API Management", the AAD authorization URL should use tenant_id instead of client_id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa82acc4-680a-1431-f4fc-4848e8efe2ce
* Version Independent ID: fbf31137-c536-2d90-3a76-bca7cd88cf53
*

[2019-07-16 13:11] mmacy commented on #30595
@KepanoEgg It seems you might have missed the [Error: insufficient permissions](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-tutorials-spa#error-insufficient-permissions) section of the article, which states:
___
### Error: insufficient permissions

After you sign in, the app displays an insufficient permissions error - this is **expected**:

`ServerError: AADB2C90205

[2019-07-16 13:16] ChiragMishra-MSFT commented on #35208
@plzm Thanks for the question. We are investigating into it and will update you shortly.

[2019-07-16 13:18] ChiragMishra-MSFT commented on #34873
@nenad1002 I will now proceed to close this issue. Please feel free to still comment in case your issue is not resolved or you have any queries.

[2019-07-16 13:20] MGoedtel commented on #35023
@bwarren18 - The statement is not incorrect and meant to refer to Azure Metrics.  It is making the point that this Insight delivers a set of capabilities together to provide effective monitoring of your VMs, especially with the Health feature.  #please-close and I hope this clarifies things for you.

[2019-07-16 13:20] #35023 closed

[2019-07-16 13:22] CharmanderJieniJieni commented on #34705
Thanks a lot!

[2019-07-16 13:22] #34705 closed

[2019-07-16 13:24] CharmanderJieniJieni commented on #34459
Thanks, I think it may be worth pointing this out in the document

[2019-07-16 13:24] MGoedtel commented on #35129
@theheatDK - You are correct, there isn't a policy template available that both discovers and remediates the workspace settings of the LA agent extension on Azure VMs.  There is a policy that is included with the Azure Monitor for VMs initiative that does however, monitor and report when the agent isn't configured to report to the workspace you specify.  You can take that policy definition and mod

[2019-07-16 13:24] #35129 closed

[2019-07-16 13:26] CharmanderJieniJieni commented on #34935
Thanks for following up, I did some more research and for question 3 seems replication of data disks is the only option.

Question 2 is still an outstanding question from us

[2019-07-16 13:28] eoq opened #35212 "step 2 (1rst set of steps) is too vague"
The text "Assign Storage Blob Data Contributor RBAC role to your SQL Database server." did not give me enough information to complete the step as I was not aware of how Assigned Identities worked.

Maybe change to "... role to your SQL Database sever by selecting your-database-servername when Assigning access to an 'Azure AD user, gruop, or service principle'"

Not sure if that is clear or not but

[2019-07-16 13:28] PramodValavala-MSFT commented on #35057
@timmyreilly Just following up here... Hope my previous comment clears things up.

[2019-07-16 13:29] PramodValavala-MSFT commented on #35063
@JustinGrote Just following up here... Hope my previous comment clears things up.

[2019-07-16 13:33] GitTune opened #35213 "Licensing"
What license do I need to use this? Also, on what risk level is the user triggered for MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08f708d-bd04-a587-65c5-78a5f02adebc
* Version Independent ID: 7c277e69-3e43-8542-03db-2d4a23dd5442
* Content: [Baseline policy End user protection (preview) - Azure Active Director

[2019-07-16 13:41] NavtejSaini-MSFT commented on #35212
@eoq  Thanks for bringing this to our attention. Your feedback will be shared with the content owner for further review.

[2019-07-16 13:44] PramodValavala-MSFT commented on #35211
@ningweinw Thanks for catching that! We have worked up a PR to fix this.

[2019-07-16 13:44] RyanHill-MSFT commented on #35202
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 13:45] tkumark commented on #35094
@MicahMcKittrick-MSFT I have looked at this but this view only give me the number of requests and response time. which is good. But I am looking for is CPU and Memory metrics per process I tried implementing Application Insights sink but it does not seem to send the data
                "WadCfg": {
                  "DiagnosticMonitorConfiguration": {
                    "overallQuotaInMB": "50000

[2019-07-16 13:45] steveloughran commented on #24341
It's mentioned in the 3.2.x docs, it just wasn't linked to from the index: https://hadoop.apache.org/docs/r3.2.0/hadoop-azure/abfs.html

[2019-07-16 13:49] BharathNimmala-MSFT commented on #35085
@tokaplan - Thank you for responding on this thread.

@avik-so  - Closing this thread for now. Please revert back if you have any further queries. Thank you

[2019-07-16 13:50] #35085 closed

[2019-07-16 13:50] srife commented on #35176
Here is an image of what I saw while setting the variable and how I fixed it:
![image](https://user-images.githubusercontent.com/12454842/61298980-3e6ca880-a7ad-11e9-9472-22f8663b6d0b.png)

While creating this, I noticed that my Cloud Shell defaults to PowerShell, so I switched over to Bash and it worked just fine, although I did have to add the quotation marks:
![image](https://user-images.github

[2019-07-16 13:51] sc-bperry commented on #32134
Thanks! I'm not familiar with the PowerShell portal for the monitor views. I can pull the info I need directly from Log Analytics queries so I probably don't need the views anyway. I'm guessing this feature isn't used much since the docs are old (they still use the term "OMS").

[2019-07-16 13:52] anmarchese opened #35214 "Custom Voice Portal Not Working?"
Maybe I'm doing something wrong, but every time I try to sign into the "Custom Voice Portal", I get a pop up telling me that "Speech Customization is only available with an Azure subscription". But I made an azure account already and I went into azure and created a speech subscription. I can't seem to get this page to recognize my subscription.

---
#### Document Details

⚠ *Do not edit this secti

[2019-07-16 13:53] diberry commented on #35193
#in-progress

[2019-07-16 13:54] theheatDK commented on #35129
Thanks @MGoedtel

[2019-07-16 14:11] PramodValavala-MSFT commented on #35211
@ningweinw We are merging the PR in, which should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 14:11] #35211 closed

[2019-07-16 14:24] JustinGrote commented on #35063
It does thank you.

On Tue, Jul 16, 2019, 6:30 AM Pramod Valavala <notifications@github.com>
wrote:

[2019-07-16 14:25] CharmanderJieniJieni opened #35215 "Compare Blob, File and Disk"
Hi,

I am trying to compare the capability between Blob, File and Managed Disk to decide which one to use for our data storage. Based on the tables in this documentation, I have summarized following for Azure Disk.

Durability options: 99.999%
Accessibility: SMB 2.1 and SMB 3.0 (standard file system APIs)
Connectivity: Only through attached VM
Endpoints: NA
Directories: True directory objects
Capa

[2019-07-16 14:30] mwwski commented on #34544
@BhargaviAnnadevara-MSFT @AkshanshSrivastava03 I'm having the same issue. Is there a timeline on implementing a fix?

[2019-07-16 14:41] 810123 commented on #35173
Hello,

I mean for vent to vent, bidirectional connections are created. Why in the on-prem to vnet example, only single direction connection is built?
Thanks.

在 2019年7月16日，下午12:17，KARTHIK SRINIVAS <notifications@github.com<mailto:notifications@github.com>> 写道：

@810123<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2F810123&data=02%7C01%7C%7C2547f4e6d41d47f81ed408d70

[2019-07-16 14:46] sergaz-msft commented on #34985
Hello @Satya519364 ,

Did you set the gasPrice as 0 like demonstrated [here](https://docs.microsoft.com/en-au/azure/blockchain/templates/ethereum-poa-deployment#deploy-smart-contract-with-truffle)?

[code]

If so, please see also [this related thread on MSDN](https://social.msdn.microsoft.com/Forums/en-US/2a83753a-118a-417a-bac8-f6938342387d/not-able-to-deploy-contracts-in-azure-poa-environment-ur

[2019-07-16 14:55] dcurwin commented on #35144
@saurabhsensharma - Do you know the answer to this question?

[2019-07-16 14:56] AjayKumar-MSFT commented on #35107
@johndowns,Thanks for the feedback! Your feedback has been shared with the content owner (@cephalin) for further review.

[2019-07-16 14:57] dcurwin commented on #35140
@saurabhsensharma Any insights into this issue?

[2019-07-16 14:59] sergaz-msft commented on #35005
Hi @albertoaguzzi74 can you point us to the exact step on this tutorial that is failing for you? Thanks!

[2019-07-16 15:00] diberry commented on #34381
@AleksCallebat Can you explain what the issue is? It looks like you were not aware you needed an app ID but this is stated in this docs Prerequisites. The import code in this issue is not from the document you logged the issue on.

Are you looking for some general guidance on using the REST APIs? Or do you have a specific issue with this doc's usage of the app ID?

[2019-07-16 15:01] erhopf commented on #35148
Oddly, the file unzipped with standard MacOS zip tools for me. @RohitMungi-MSFT - I'm going to reach out to our engineering team as this isn't a docs issue, but a package issue.

[2019-07-16 15:03] Milanski commented on #33730
Hello @MicahMcKittrick-MSFT,
we have the same configuration and the same problem. Regarding your solution in the last comment, this LB service will open a public IP to the pod without WAF as well. As a workaround I blocked that IP in the NSG but for me this is more as a workaround.

[2019-07-16 15:03] erhopf commented on #35148
#reassign: @mswellsi

[2019-07-16 15:06] erhopf commented on #35214
#reassign: @QinyingLiao

[2019-07-16 15:06] PRMerger7 commented on #35214
QinyingLiao is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-07-16 15:08] KepanoEgg commented on #30595
You are correct, I did miss that section, but I also agree that it's not ideal for a tutorial.

[2019-07-16 15:08] AlekseySokol opened #35216 "Bypass MFA for specified IPs"
Hello!
We are using MFA server with ADFS 4.0, if I need to bypass MFA from specific IP addresses,
do I need to configure an Access Control Policies on ADFS side or just added a "Trusted IP" on MFA server?
Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a214f19-bb7c-2edc-29d5-8466eb9c5ee3
* Version Independen

[2019-07-16 15:17] YutongTie-MSFT commented on #34558
@sqlshep
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-16 15:17] #34558 closed

[2019-07-16 15:19] AndrewDarby commented on #33450
@TravisCragg-MSFT
I have retested this today, and I still see the exact same issue.
If the "Accept-Encoding" Value is default "gzip, deflate, br" the CDN returns gzip encoded content.
I am using Firefox to test, where I can edit the value of network.http.accept-encoding.secure:

I have rechecked the CDN is on 'Standard Microsoft" pricing Tier.

Should I open a support request within Azure portal,

[2019-07-16 15:19] asdlea commented on #34088
+1
The article also uses the App Registrations (Legacy), wich is not the App Registrations, this is specially important in steps 14 & 15 (Enable OAuth 2.0 user authorization in the Developer Console), since there is no "Settings" page in current App Registrations version (more info: https://docs.microsoft.com/en-us/azure/active-directory/develop/app-registrations-training-guide)

[2019-07-16 15:22] lepakm opened #35217 "Liquid JSON to JSON template with unknown property names"
I have searched far and wide and can't figure our how to just take a JSON property from the source file that is a JSON object and copy the entire object to the JSON output.  In my case, the properties of that source object are unknown but they must be copied to the output.

For example, the source data would be:
"data" : { "x": "value1", "y": "value2", "z": "value3"}  and the output would be:
"var

[2019-07-16 15:23] Adam-Driver commented on #33744
I see your point on the clarity and how it could be unclear, but I think the point is being missed on how the smart lockout feasibly functions on AAD. PHS and PTA work by taking the hash in through Azure AD (Managed Auth). This way AAD gets the hash and can temporarily record it for comparison (when using PHS) to deduplicate the same password being entered over and over. It also gets a True/false

[2019-07-16 15:23] nezoic commented on #33100
Any updates on updating this document yet? I'm directing clients NOT to use B2C because almost every document is either out of date, or simply incorrect. Please focus on updating this documentation, I have clients that want to move to AWS/GCP now because of all the poor / lacking Azure documentation. Frankly I don't blame them, I can't even get a postman example working for B2C. To top this off th

[2019-07-16 15:27] CharmanderJieniJieni opened #35218 "Throughput and IOPS limit for blob storage"
I am trying to find max throughput and IOPS allowed for blob storage. I see that for file storage but not for blob, would you please kindly advice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164d6fa8-eedb-7b44-899a-920de3c23657
* Version Independent ID: 89271136-448f-f691-c049-0f41f4c6011b
* Content: [Azure Storage

[2019-07-16 15:32] PingPongSet commented on #34889
@jakaruna-MSFT,

Great, thanks.

The original document on both Azure KS and Dev Spaces require more details like above and more on other posts I submitted.

[2019-07-16 15:32] #34889 closed

[2019-07-16 15:34] PatAltimore commented on #35005
@albertoaguzzi74 Can you verify you are using web3 version 1.0.0-beta.37?  You can also try the reset switch for truffle migrate. For example, "truffle migrate --reset --network defaultnode".

Pat

[2019-07-16 15:39] BhargaviAnnadevara-MSFT commented on #34544
@mwwski Yes, a fix has been worked up and is being propagated across. Will share more details with you as I have them. Thanks for reaching out.

[2019-07-16 15:44] YutongTie-MSFT commented on #35214
@anmarchese  Are you using https://speech.microsoft.com/customvoice ? I just tried and it worked well for me.

[2019-07-16 15:44] ondrejhlavacek opened #35221 "Decreased capacity during cluster upgrade or reboots / security patches"
I'm quite new to both K8S and AKS, so apologies in advance for a question that may be obvious or stupid.

How do I keep capacity/performance when a security patch/node reboot happens? Even if I set the PDB with `maxUnavailable: 1` that may affect a service performance significantly. Draining a node does not wait for new pods to be ready and old pods are terminated immediately. If I were in full co

[2019-07-16 15:45] alohaninja opened #35222 "Escaping Single Quotes inside single-quoted statement"
We should provide an example showing escaping single quotes - e.g.
 print 'this is a \'string\' literal in single \' quotes'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0a1e7a8-31e8-ddfd-ec65-f7ea482cd94e
* Version Independent ID: 65a5f1dc-11aa-a424-1e18-34b1f6c5cd34
* Content: [Work with strings in Azure Monitor

[2019-07-16 15:45] shashishailaj commented on #35203
@notjjsb Thank you for your query. We will engage the content authors for reviewing this one and updating it after review as needed.

[2019-07-16 15:45] YutongTie-MSFT commented on #35204
@thecpshah
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 15:46] shashishailaj commented on #35203
@MicrosoftGuyJFlo Could you please check on this issue to verify the claims made by the customer?

[2019-07-16 15:48] Cloud-Architekt opened #35223 "Wrong named schema / log for Identity protection"
In my environment all events from identity protection are stored in “SecurityAlert” and not “IdentityProtection_CL”

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad00a028-6eba-2fd4-3c97-d3a38e7cee6d
* Version Independent ID: 0a9a8642-d712-6000-bb4c-4db33c36db79
* Content: [Connecting Azure AD Identity Protection data

[2019-07-16 15:48] anmarchese commented on #35214
The link works, but once I hit "Sign In" on top I run into the "Speech Customization is only available with an Azure subscription. Please sign out and sign back in with an account tied to an Azure subscription." message. I have a subscription set up, and I have also tried clicking "Sign Up for Azure" and coming back. Can't seem to get it to see the subscription.

[2019-07-16 15:49] shashishailaj commented on #34798
@mmacy Could you please help with guidance on this documentation ? As per the customer's above the details  provided in the tutorial doc fail through a Web UI ?

[2019-07-16 15:49] laurenhughes commented on #28603
Thank you for pointing this out! The `MicrosoftAzureBatch` service principal has been removed. I updated the docs to use the correct version, `Microsoft Azure Batch` and `Microsoft.ClassicNetwork`.

#please-close

[2019-07-16 15:49] #28603 closed

[2019-07-16 15:50] shashishailaj commented on #34914
@MicrosoftGuyJFlo Could you please check if there is any update from the PG ?

[2019-07-16 15:52] ferrx commented on #35038
Some more info, this seems to only occur when running the app as an App Service in GovCloud.

When I run on my local machine (still pointing to the storage account on GovCloud), I can upload packets as large as 90MB.

Is there a server configuration I'm missing with App Service. Running locally, I use kestrel and set the limit to 100MB. Is the App Service limit set elsewhere?

[2019-07-16 15:52] YutongTie-MSFT commented on #35214
@anmarchese  Could you please quick try after cleaning the cache?

[2019-07-16 15:54] SumanthMarigowda-MSFT commented on #34920
@josephmuchie  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Kindly try the following steps to isolate the issue:  may I know what kind access are you looking for? Can you provide more information on this topic

[2019-07-16 15:54] anmarchese commented on #35214
Ahhh that did the trick. Thank you!

[2019-07-16 15:55] TWolverson opened #35226 "Automatically created database settings"
If the database specified in the connection string doesn't exist, the tool creates it. I want this database to have shared throughput. How do I configure the tool to use the settings I want, rather than these defaults?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edf1df2-588e-01ff-6d1c-234b8e51d550
* Version Indepen

[2019-07-16 15:55] laurenhughes commented on #34903
@rogeraustin The `MicrosoftAzureBatch` service principal was removed. Can you try using `Microsoft Azure Batch` (with spaces) instead? I just updated the documentation for this issue.

[2019-07-16 15:56] YutongTie-MSFT commented on #35214
@anmarchese  ^^ Great! Sometimes it happens when you used other account and it login automatically.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-16 15:56] #35214 closed

[2019-07-16 16:02] mmacy commented on #33100
@nezoic Hi Joshua, apologies for the lack of update on this issue. I'm currently working to address all open issues on our B2C articles, and we're aware of the need for improved, up-to-date, accurate documentation. An update to this article is most definitely in the queue and will be addressed. Thanks for your patience while I work through the queue.

[2019-07-16 16:04] zac-jacobson commented on #35147
Hi @FrankHu-MSFT ;

Thanks for your quick response!

Unfortunately we can't put fiddler on here as we're getting it from some deployed production code. Does this help you narrow down what our problem might be?
[code]

[2019-07-16 16:05] Karishma-Tiwari-MSFT commented on #35160
@uday31in Can you please share the Azure doc where you think the updates should be made. Thanks.

[2019-07-16 16:05] mswellsi commented on #35148
It was a packaging issue and the files have been re-generated.

[2019-07-16 16:06] Jerwangsample opened #35227 "Does it work for an existing DB?"
After I published with an existing DB, the page show me nothing. Is there anything I need to change in the code or config?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-6337-3940a5259101
* Content: [Build ASP.NET app with SQL Database -

[2019-07-16 16:06] Karishma-Tiwari-MSFT commented on #35201
Thanks for sharing the update.

[2019-07-16 16:06] erhopf commented on #35148
#please-close

[2019-07-16 16:06] #35148 closed

[2019-07-16 16:07] Karishma-Tiwari-MSFT commented on #35223
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 16:08] mike-urnun-msft commented on #35217
Hi @lepakm - Thank you for your feedback! We will review and update as appropriate.

[2019-07-16 16:12] jluk commented on #34407
@MikkelHegn who owns windows

[2019-07-16 16:13] JustinGrote opened #35228 "HTTP Endpoint: Route Triggers Become TriggerMetadata variables"
At: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#customize-the-http-endpoint

It should be added that if you specify a route to an HTTP trigger, e.g. /HttpTrigger/{myvar}, then myvar becomes available in triggermetadata and thus usable for other function input/output binding definitions.

For example, the following allows an input binding that pulls a tabl

[2019-07-16 16:13] twooley commented on #35130
@MichaelHogervorst, thanks for reporting this issue. Much appreciated. The code block has been updated. I'm going to close this issue.

[2019-07-16 16:13] twooley commented on #35130
#please-close

[2019-07-16 16:13] #35130 closed

[2019-07-16 16:15] shashishailaj commented on #35205
@woodrum Thank you for your query. We will have this reviewed and actioned accordingly.

[2019-07-16 16:18] ultimate5289 opened #35229 "Azure Environment Setting is not accepted with special character"
Hi Azure App Service Team,

I can not set the password with special character like ["{", ")", "$", ...]
https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app#configure-environment-variables

Do you have any idea how to do that with Azure CLI ?

Best Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-16 16:19] #16724 closed

[2019-07-16 16:19] shashishailaj commented on #35206
@vvadymv Thank you for your feedback . We will investigate and update this thread shortly.

[2019-07-16 16:21] brownbl1 commented on #35158
Thanks @MicahMcKittrick-MSFT. That was part of the issue. The bigger issue is I didn't have adequate permissions to access that resource group. Once I was granted access, if I specify the `-g <rg-name>` flag I get the ip identifier back.

Perhaps the docs could be updated to include that bit of info about the necessity of using `-g`?

[2019-07-16 16:22] shashishailaj commented on #35209
@sgdesmet Thank you for your feedback. We will investigate and update this thread.

[2019-07-16 16:24] shashishailaj commented on #35213
@GitTune Thank you for your feedback .We will investigate and update this further,

[2019-07-16 16:24] MashaMSFT commented on #30695
Hi @dcallegh, thanks for bringing this to our attention! We've decided to remove this part of the document as it doesn't cover every scenario and can be confusing. Instead, we recommend using the Azure Hybrid Benefit calculator to determine the most cost effective price, which can be found here: [Azure Hybrid Benefit](https://azure.microsoft.com/en-us/pricing/hybrid-benefit/)

I hope that helps an

[2019-07-16 16:25] shashishailaj commented on #35216
@AlekseySokol Thank you for your query. We will investigate and update this thread accordingly.

[2019-07-16 16:26] KranthiPakala-MSFT commented on #35130
@twooley Thank you Tessa!

[2019-07-16 16:26] MicahMcKittrick-MSFT commented on #35158
@brownbl1 thanks for the update. Glad to hear it is resolved :)

I will assign this to the content author to review the doc and see if we can make it more clear.

[2019-07-16 16:29] CarlRabeler commented on #34712
script was updated 2 days ago - see https://github.com/microsoft/sql-server-samples/blob/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet/prepareSubnet.ps1

#please-close

[2019-07-16 16:29] #34712 closed

[2019-07-16 16:30] WillFulmer opened #35230 "NetScaler Capitalization"
Please reference the correct capitalization of Citrix NetScaler, Capital N, Capital S.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eca1c86b-0747-ce5b-1b7f-b215ce2f994d
* Version Independent ID: c347323f-f0e5-f99a-a9cc-9ae6585972bb
* Content: [Tutorial: Azure Active Directory integration with Citrix Netscaler](https:

[2019-07-16 16:35] VladimirAkopyan commented on #12606
The bug is still alive, we have like 6 app-insights and the drop down menu shows zero avaliable.
There is a workaround on stack overflow, where you deselect all subscribtions except one, and then the portal UI starts behaving properly.
https://stackoverflow.com/questions/57035303/facing-issue-while-integrating-azure-application-insights-with-azure-api-managem
This saved my bacon.

[2019-07-16 16:38] ram-msft commented on #35028
@tomygrenier We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 16:41] uday31in commented on #35160
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

[2019-07-16 16:48] BryanTrach-MSFT commented on #35229
@ultimate5289 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 16:51] BryanTrach-MSFT commented on #35227
@Jerwangsample Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 16:51] 1trevor opened #35231 "Password Hash Sync for AD Synced users"
We have completed all of the steps in these articles, however passwords for AD synchronized users are not working in the managed domain. Passwords only work if they have been changed in AD after Azure ADDS was enabled. Can someone confirm if password changes are required for all synchronized users after enabling Azure ADDS? The article says password changes are required for cloud users, but it doe

[2019-07-16 16:52] tomygrenier commented on #35028
@ram-msft I do follow instructions. But in PHP API guides (while the javascript guide does) there is no example of how to easy script to get results sorted as rankingResponse suggests, except some loops-comparaisons that slow the rendering.
In the PHP results, there is a lot of array to object to array level. May be if the IDs were first level array keys rather than url-ID value, scripting would b

[2019-07-16 16:53] HJToland3 commented on #20789
@Anmolgan81, I am checking with the support team on this one, though it appears that they've not seen this issue reported recently.  Are you still encountering the problem?  Thanks!

[2019-07-16 16:58] cijothomas commented on #35188
There is a table as well with logging libraries content that should also be removed,

<b>Logging libraries</b> |  |
| ILogger | 1.1+ |	| ILogger | 1.1+ |
| System.Diagnostics.Trace | 4.5+ |	| System.Diagnostics.Trace | 4.5+ |
| [nLog](https://www.nuget.org/packages/NLog/) | 4.4.12+ |	| [nLog](https://www.nuget.org/packages/NLog/) | 4.4.12+ |
| [log4net](https://www.nuget.org/packages/log4net/) | 2

[2019-07-16 17:08] madtownchris opened #35232 "Step 7 in Add a web API application seems wrong"
In step 7 up there it says to set the redirect URL to https://localhost:44332 but that's the service. When I do that and click  the to-do list button, I get redirected to https://localhost:44332 but that's just the service so it doesn't seem to work.

On the other hand if I put https://localhost:44316/ into the redirect URL, my browser gets into what looks like a redirect cycle and just continuous

[2019-07-16 17:11] RickBullotta opened #35233 "Typo/error in section on device simulation"
The docs indicate that the script name is SimulatedCar.py but in fact it is SimulatedDevice.py.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ea602e-04ec-0965-c383-d8363d689502
* Version Independent ID: fce97b8d-3fe9-a672-0a0c-b6107a9d71d8
* Content: [Implement IoT spatial analytics using Azure Maps](https://review.

[2019-07-16 17:11] Digiroka commented on #28423
It would be useful if the 'path to reg file' element was clarified.
It appears that you need to provide a local path including the .reg file extension (e.g c:\temp\regfile.reg), however this is not clear from the instructions.

[2019-07-16 17:19] RamonArguelles commented on #34326
I'm assuming running on Unity 2018.3 fixed your problem? If so, I think we could close this issue.

[2019-07-16 17:27] ashwin-sid opened #35234 "Policies missing"
Many of the policies don't exist in azure Portal eg...
"Audit usage of custom RBAC rules" ..

Can you  mention how the above policies can be accessed (either on Portal or GitHub ) ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c78cb0a-edfb-a403-1096-1aeaaa5344fc
* Version Independent ID: 77d5f52a-08ad-edc0-14e5-f8f

[2019-07-16 17:29] CarlRabeler commented on #31226
@russ-msft see Microsoft Learn module: https://docs.microsoft.com/en-us/learn/modules/develop-app-that-queries-azure-sql/

[2019-07-16 17:29] FrankHu-MSFT commented on #35232
@madtownchris  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-16 17:29] SaurabhSharma-MSFT commented on #34925
@PadmaPeddigari The PR for the fix has been created and sent to the author for review.  It will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with..

[2019-07-16 17:29] #34925 closed

[2019-07-16 17:30] FrankHu-MSFT commented on #35231
@1trevor  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-16 17:30] SaurabhSharma-MSFT commented on #35044
@lichasu We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-16 17:30] #35044 closed

[2019-07-16 17:31] FrankHu-MSFT commented on #35230
@WillFulmer Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-16 17:31] VladimirAkopyan opened #35235 ""Client Cert" option Unavaliable"
It appears that since this page was written, ui has changes. When attempting to
"Change the Gateway credentials to Client cert and select your certificate from the dropdown."
there is no option 'Client cert'. Thus i cannot setup mutual authentication.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9db9c9e-e856-8035-70

[2019-07-16 17:32] FrankHu-MSFT commented on #35230
We are currently looking into this and this update should be pushed out in a few hours. Thanks again for the feedback!

[2019-07-16 17:33] Anmolgan81 commented on #20789
@HJToland3

I think DMS product group fixed this, I haven't check this for a long time so am not sure if thats fixed or still in the works? Can you confirm if this is completed?

[2019-07-16 17:34] robinsh commented on #32693
@sergaz-msft You can close this issue. I've got an update pending on the document that I will publish this week.

[2019-07-16 17:38] Alberto-Vega-MSFT commented on #35233
@RickBullotta Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 17:39] kkkarthik8 commented on #35004
I have the same issue. I just downloaded Windows Configuration Designer Version: 2019.625.0.0 on Windows Version 1809 and OS Buid 17763.557. I dont even see the "Security Keys" category under WindowsHelloforBusiness

[2019-07-16 17:39] VladimirAkopyan commented on #35235
## Documentation
![image](https://user-images.githubusercontent.com/12278048/61316063-148ca380-a7f8-11e9-9ab8-0cd99071fe5e.png)

## UI as seen in portal
![image](https://user-images.githubusercontent.com/12278048/61316056-0dfe2c00-a7f8-11e9-9a94-ae70c62e719f.png)

I have tried changing the API Management to premium tier, and there is still no option available. I have also tried this on two differe

[2019-07-16 17:43] duckie commented on #22099
Hello there

I have the same issue than @ivasilyev-servicetitan-com

[2019-07-16 17:50] curtand commented on #16137
Hi @atfernando
What I meant was that the groups PM ensured that the systemLabels attribute was supported for evaluation by a dynamic group membership rule. The systemLabels values themselves are created only by Intune admins to the best of my knowledge.

[2019-07-16 17:53] clickbangdead commented on #16137
But what are they for? What are the common values? is there a table?

[2019-07-16 17:59] Adam-Smith-MSFT commented on #35218
@CharmanderJieniJieni Thank you for the valuable feedback,we are investigating the issue.

[2019-07-16 18:00] cindylovescoding opened #35236 "The label of the top dropdown box won't change no matter you choose version 1 or version 2"
The label of the top dropdown box won't change no matter you choose version 1 or version 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Independent ID: 271006dc-afce-99f3-0790-41fa2e35b22b
* Content: [host.json reference for Azure Functions 2.x](https://docs.microsoft.co

[2019-07-16 18:00] markjbrown commented on #35104
This was a recent change made from customers who were confused about how session consistency works. I'll review your feedback with the team and respond soon. Thanks.

[2019-07-16 18:05] ggailey777 commented on #33589
Hi @kalvinwang, I agree that we probably need to revise this article to both focus more on v2 and also to provide Azure CLI or REST examples.

The basic idea is that you need to add an application setting like the following in Azure:

[code]

So in the Azure CLI, it would look like:

[code]

or by REST API, first with a POST to get the existing settings:

[code]
Then update the returned JSON to ad

[2019-07-16 18:06] curtand commented on #22886
Hi @tjgruber
@atfernando
@okieselbach
Our groups PM ensured that the systemLabels attribute was supported for evaluation by a dynamic group membership rule. The systemLabels values themselves are created only by Intune admins to the best of my knowledge.

I believe @Shantaram Punukollu might know more about the values.

[2019-07-16 18:07] Adam-Smith-MSFT commented on #35215
@CharmanderJieniJieni , Accessibility , SMB is specific to Azure Files, not disks. the rest are correct, I'll send this issue to the author to link to the announcement.

[2019-07-16 18:07] jgudmundson-RETSD commented on #22886
How do Intune admins create these systemlabels?  I haven’t found a way yet.

Jason Gudmundson
Systems Support (Server)

From: Curtis Love <notifications@github.com>
Sent: Tuesday, July 16, 2019 1:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jason Gudmundson <jgudmundson@retsd.mb.ca>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cannot add S

[2019-07-16 18:10] ggailey777 commented on #33589
This issue has been added to the internal backlog: [1571767](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1571767)

[2019-07-16 18:16] SaurabhSharma-MSFT commented on #35234
@ashwin-sid Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-16 18:17] NavtejSaini-MSFT commented on #32134
@Ccccche @sc-bperry Thanks for your feedback regarding the document. We will work with the document owners to update the same. We are reopening this issue.

[2019-07-16 18:19] ggailey777 commented on #35236
@cindylovescoding thanks for reporting this. It's an actual bug in docs.microsoft.com that is being tracked here: [102557](https://dev.azure.com/ceapex/Engineering/_workitems/edit/102557?src=WorkItemMention&src-action=artifact_link)

[2019-07-16 18:27] NavtejSaini-MSFT commented on #35226
@TWolverson Thanks for your question. We are actively investigating and will get back to you shortly.

[2019-07-16 18:28] curtand commented on #31122
Hi @MarileeTurscak-MSFT
Please assign this to @ajayanti1 Thanks!

[2019-07-16 18:33] SaurabhSharma-MSFT commented on #34583
@pbalzer Yes, I agree with you on the same.  I suggest you to please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory.  This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-07-16 18:33] Karishma-Tiwari-MSFT commented on #35160
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-16 18:34] FrankHu-MSFT commented on #35230
As this issue is currently being addressed and all the changes are being made I am closing out this GitHub issue.

Please reopen the git issue if this doesn't resolve the doc issue you're referring to when the changes are pushed out.

Thanks again!

[2019-07-16 18:34] #35230 closed

[2019-07-16 18:35] curtand commented on #16137
Hi @clickbangdead
Apologies; I write for Azure Active Directory, not Intune. I could find no mention in Intune documentation. I have added @spunukol as a resource for information (Shantaram Punukollu).

[2019-07-16 18:35] SaurabhSharma-MSFT commented on #34139
@peter-tridius sure, thanks for your feedback.
@barclayn Can you please help adding this to the documentation.

[2019-07-16 18:36] AjayKumar-MSFT commented on #35097
@unmeshM, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-16 18:36] #35097 closed

[2019-07-16 18:38] HJToland3 commented on #20789
@Anmolgan81, yes, this issue has been resolved and a fix has been deployed to all production regions.

[2019-07-16 18:40] TravisCragg-MSFT commented on #33450
@AndrewDarby Your best bet is to go forward with a support request so that they can look deeper into your environment.

[2019-07-16 18:42] KranthiPakala-MSFT commented on #34931
@suketunayak Thanks for reporting this issue. The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-07-16 18:42] #34931 closed

[2019-07-16 18:46] connor-ww opened #35237 "Granting Permissions"
In the first section of the article, it says "When the account used for Azure Notebooks is also associated with an Azure Subscription, you gain additional benefits such as...granting permissions to notebooks to individual users."
Is there a tutorial that shows how to use this functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-07-16 18:48] taromielnaz commented on #34867
No thank you. this can be closed.

[2019-07-16 18:53] AjayKumar-MSFT commented on #33388
@sireesha302, Apologies for the delay here! Kindly let us know if you need further assistance on this issue. For an immediate assistance, send an email to AzCommunity[at]Microsoft[dot]com referencing this thread as well as your Azure subscription ID, I would like to work closer with you on this query.

[2019-07-16 18:58] mike-urnun-msft commented on #35228
Hi @JustinGrote - Thank you for your feedback! We will review and update as appropriate.

[2019-07-16 18:59] kraigb commented on #35237
@connor-ww No, we don't have any more details on that feature. That statement was made on the expectation that such features would soon be available. However, the engineering team decided to rewrite the service from the ground up, which put a hold on creating any additional docs with the necessary details. Once the rewritten service is put into public preview, we'll be updating the docs and intend

[2019-07-16 19:02] RyanHill-MSFT commented on #34840
@kim0 the existing containers will remain running after the webhook is received. One of two things will happen upon webhook activation. Depending on the circumstance, the following will happen:

If the host has enough available resources (i.e. memory, storage)
1. The orchestrator will attempt to pull and start the new container
2. Once the new container is started, http traffic is routed to the ne

[2019-07-16 19:08] msmimart commented on #31391
#please-close

[2019-07-16 19:08] #31391 closed

[2019-07-16 19:10] cveld opened #35238 "Can't find the cost analysis overview"
In this getting started article you refer to the cost analysis section to review the current costs broken down into resource groups and separate resources. Unfortunately I can't find this low-level report. Even when reviewing the referred quick start on cost analysis I can't find this overview of costs per resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-07-16 19:11] cveld commented on #35238
Found it!

![image](https://user-images.githubusercontent.com/6196260/61322572-44df3c80-a80e-11e9-809c-3ce525b4f9c9.png)

I would suggest to add this to the documentation.

[2019-07-16 19:13] mwc360 commented on #28338
I am experiencing this as well.
I am trying to view the debug pipeline process for the mapping activity. I have parameters and it always says cannot view the mapping debug progress. After it completes I can see the activity summary - but never during.

[2019-07-16 19:13] connor-ww commented on #35237
Ok, thank you @kraigb

[2019-07-16 19:13] #35237 closed

[2019-07-16 19:17] kgremban commented on #32001
@pietersap Thanks for pointing out that discrepancy. I verified the same message that you got, when trying to create an 11th deployment in a free-tier IoT Hub. I got the error through both the portal and the Azure CLI.

I'll update the article to reflect the actual limitation. Since it's a small change, I'll close this issue automatically once the changes have merged. If you have any follow-up que

[2019-07-16 19:17] Karishma-Tiwari-MSFT commented on #34782
Thanks @roygara
@Haladu Let us know if that helped. Also, if you do not have the ability to open a support request, please send an email to AzCommunity@Microsoft.com and provide me with your Subscription ID and link to this thread.
I can enable a one time free support request so you can work with an engineer who has access to the backend logs to help you get this sorted out.

[2019-07-16 19:18] zr-msft commented on #33422
@dave-read Thank you for the feedback!

I have incorporated your suggestion into the docs and it should be published soon.

#please-close

[2019-07-16 19:18] #33422 closed

[2019-07-16 19:23] Alberto-Vega-MSFT commented on #35233
@RickBullotta Thanks again for bringing this issue to our attention. I reached out to the content author and currently this document is under review.
so we will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 19:23] #35233 closed

[2019-07-16 19:33] Alberto-Vega-MSFT commented on #35139
@xiongyu0523 Do you have any updates?

[2019-07-16 19:38] Alberto-Vega-MSFT commented on #35056
@kgremban Thanks for the help! @smurph2345 Since you confirmed that the issue was resolved, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 19:38] #35056 closed

[2019-07-16 19:38] SnehaGunda commented on #34860
@pwl-kdk the certificate already has a friendly name by default, you are probably using an older version of the emulator. I see the name by default.

![image](https://user-images.githubusercontent.com/14284405/61324122-864bf980-a7c6-11e9-8465-5ebeca8d24e2.png)

[2019-07-16 19:39] timmyreilly commented on #35057
Yeah, this is super helpful, I feel like this could be helpful in the documentation. And just to clarify, I can set the WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT to 5, 4, 3, 2, or 1? **But not 6**. What happens if I select 6, 7, 8, or 45? Also, what are the viable options for maxConcurrentCalls? Could I have:

- WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT to `1`
- maxConcurrentCalls to `1`

And expe

[2019-07-16 19:39] BosAtWork commented on #30881
I would like to reopen this issue as the documentation on "azure/active-directory/develop/v2-oauth2-device-code" is still pointing to the incorrect url

[2019-07-16 19:39] eragonriddle opened #35240 "Request Tracing Logs Data To Unknown Blob"
Request tracing is an excellent feature in APIM. However, when 'Ocsp-Apim-Trace' header is set to true then the request along with the response is logged to blob storage. This includes the API Key and response data. The blob storage is a random blob storage. This exposes the users' API key as well as response data. There is no way to disable tracing header as it is set to true by default in the de

[2019-07-16 19:42] artisticcheese opened #35242 "Please clarify which categories of logs are collected in Log Analytics account"
So far I only saw "Policy", "Administrative", "Security", "Recommendation". Notably "ResourceHealth" is missing and some others which are available in Azure Activity Log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba1bba36-9a65-7e9c-66ef-7c9800ed4056
* Version Independent ID: 302ef9d0-6974-c87b-2345-4a81021af576
*

[2019-07-16 19:43] madtownchris commented on #35232
When I revert the web.configs to the sample, it works as expected (i.e. using fabrikamb2c.onmicrosoft.com) so something is obviously wrong with the way I configured my B2C application but I've reviewed the steps here several times and it seems like I did it right. Screenshots of the Azure configuration might be helpful.

[2019-07-16 19:43] banisadr commented on #33395
Hi @SeanFeldman - great eye. This is intentional, but I'm considering changing it. Either way, we'll document it more clearly.

Let me explain the reasoning for the current behavior. Implementing dead lettering in Event Grid on top of Azure Blob Storage, we've found ourselves in an odd conflict. The expected behavior of all resources in Azure Resource Manager is to be case-insensitive but also is

[2019-07-16 19:43] SnehaGunda commented on #34776
@OleksandrValetskyy Hope Mark's response is helpful. We will close this issue if there aren't further questions.

#please-close

[2019-07-16 19:43] #34776 closed

[2019-07-16 19:45] Alberto-Vega-MSFT commented on #35050
@PeterTurcan Thanks for reaching out and help us make the docs better. Since the feedback has been addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-16 19:45] #35050 closed

[2019-07-16 19:48] #32001 closed

[2019-07-16 19:52] JnHs commented on #35016
Great to hear you were able to make this work! We do mention that you need the tenant ID of two separate tenants, and that "the onboarding process requires actions to be taken from within both the service provider's tenant and from the customer's tenant." We'll continue to monitor this topic for additional feedback and clarify further as needed. I will close this now but please let us know if you

[2019-07-16 19:52] #35016 closed

[2019-07-16 19:56] bskraju commented on #15913
Hi, I am trying to create QnA Bot, unable found this template. There is no option to select SDK V3.

[2019-07-16 19:59] FrankHu-MSFT commented on #35147
Hello @zac-jacobson I would also need the request ID. But the issue here is simply that the request wasn't properly formed.

[2019-07-16 20:02] NavtejSaini-MSFT commented on #32134
@allenwux  Assigning this to you for further review as we are able to reproduce this issue(Attachments attached). The DataSyncLogOmsView.omsview files is not getting imported to the Log Analytics Workspace as mentioned in the doc and gives an error : "Cannot convert the view. Check the view queries" and the notifications tab gives the error of "Unauthenticated request"
Please let me know if you ne

[2019-07-16 20:03] femsulu commented on #35242
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-16 20:03] craigg-msft commented on #21488
#reassign:sharonlo101

[2019-07-16 20:09] femsulu commented on #35151
done

[2019-07-16 20:10] threesixfour opened #35243 "900432 Not Documented"
900432 is not documented. Message I'm receiving is "Confidential Client is not supported in Cross Cloud request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azur

[2019-07-16 20:11] femsulu commented on #35222
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-16 20:12] threesixfour opened #35244 "700016 Not Documented"
700016 is not documented. Message I'm receiving is "Application with identifier &lt;GUID&gt; was not found in the directory &lt;DIRECTORY GUID&gt;. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your authentication request to the wrong tenant.

---
#### Document Details

⚠ *Do not edit this s

[2019-07-16 20:15] MicahMcKittrick-MSFT commented on #35221
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 20:17] femsulu commented on #35238
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-16 20:18] mmacy commented on #34798
@shashishailaj Yes, adding this one to my queue. Were you able to repro, by chance?

[2019-07-16 20:21] FrankHu-MSFT commented on #35232
What changes did you do to the github sample? It should be working properly,

[2019-07-16 20:22] FrankHu-MSFT commented on #35123
Hey  @jkewley thanks for letting us know, we're currently making these changes. As these changes are being pushed out I will be closing out this issue now. If there are anymore questions within the scope of this git issue, please reopen it and we'll look into it further. Thanks!

[2019-07-16 20:22] #35123 closed

[2019-07-16 20:22] shashishailaj commented on #34577
@pichaya-d We checked this and found that if you are using local accounts from within your Azure AD B2C directory , you would be able to do a complete sign-out however if a social IdP (google , facebook ) is used , you would not be able to do complete signout but a partial signout from B2C application only.  . There was a plan earlier for including complete signout (Microsoft+ Social IDP logout) i

[2019-07-16 20:22] #34577 closed

[2019-07-16 20:26] KrystinaWoelkers opened #35245 "Azure Cosmos DB's API for MongoDB"
Can this tool now be used when Azure Cosmos DB's API for MongoDB is either a source or a target?

We have an Azure Cosmos DB that uses MongoDB API. We attempted to use the tool to migrate from one collection to another within the same database, and it worked. I am not sure if this point of the article still holds true.

"Azure Cosmos DB's API for MongoDB - The Data Migration tool doesn't currently

[2019-07-16 20:32] xcactusx opened #35247 "Convert users from per-user MFA to Conditional Access based MFA"
I'm finding that though this script info is helpful, it is not really clear what it does.  I understand the first two commented commands to disable MFA or enable MFA for all.  -KeepMethods seems to be a new switch which is awesome.   Where I am lost is:
# Wrapper to disable MFA with the option to keep the MFA
# methods (to avoid having to proof-up again later)
The wrapper first comment is odd as o

[2019-07-16 20:36] banisadr commented on #34600
@ChiefWiggum, I've updated the docs to hopefully clarify answers to your questions. What you're running into is a feature in Event Grid that pauses an event subscription based on failure rates.

The reason for this system is to protect both your service as well as Event Grid during high volume. Without this system, Event Grid would continue to retry on its regular schedule when an endpoint is givi

[2019-07-16 20:38] shashishailaj commented on #35004
I can confirm that the Windows version 1903 has that project setting  " Runtime settings > WindowsHelloForBusiness > SecurityKeys > UseSecurityKeyForSignIn " and can be configured .

![image](https://user-images.githubusercontent.com/532022/61321356-fd19de80-a828-11e9-97cb-2e3cbc31199a.png)

![image](https://user-images.githubusercontent.com/532022/61321582-70bbeb80-a829-11e9-9a78-4b630ad1af9c.png

[2019-07-16 20:40] shashishailaj commented on #35091
@Vlados2810 Please let us know in case this worked for you. We will be closing this issue by tomorrow if we do not have any response on this. However you can always tag me or the content author @eross-msft to your reply and we will gladly continue the conversation.

[2019-07-16 20:41] SaurabhSharma-MSFT commented on #35223
@Cloud-Architekt Thanks for your feedback.
@rkarlin Can you please look into this issue and update the documentation as I could also see SecurityAlert schema.

[2019-07-16 20:42] NavtejSaini-MSFT commented on #20789
@HJToland3 Thanks for confirming the issue is resolved. @Anmolgan81 We are going ahead and closing this issue. If you have any concerns, please get back to us and we will try to provide necessary help regarding the same.

[2019-07-16 20:42] #20789 closed

[2019-07-16 20:52] zac-jacobson commented on #35147
Thanks @FrankHu-MSFT
I'm not sure what the request ID is.
I should have mentioned, we are getting this from a POST to `https://login.microsoftonline.com/common/oauth2/token`

[2019-07-16 20:53] ondkal opened #35248 "Please fix spelling typo of environments on this page"
The word "environments" is currently misspelled in the following sentence:

Create lab envionrments using Resource Manager templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97394d52-f271-c9f6-adac-1a0cf7b43788
* Version Independent ID: 33a56473-7e53-6918-38ae-4d89b5a40c9c
* Content: [About Azure Lab Services](h

[2019-07-16 20:59] BharathNimmala-MSFT commented on #35248
@ondkal Thanks for bringing this to our notice, will review and update the document accordingly.

[2019-07-16 21:17] TravisCragg-MSFT commented on #22099
@duckie Have you tried [using PowerShell to create the peerings](https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-subscriptions#powershell)?

[2019-07-16 21:20] jtuliani opened #35251 "Refers to Preview (still)"
Doc includes text: "This step will be not be required when the feature is generally available."

However, SQL in VM backup was announced as GA already: https://azure.microsoft.com/en-us/blog/azure-backup-for-sql-server-in-azure-virtual-machines-now-generally-available/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd

[2019-07-16 21:26] alathrop opened #35253 "Find swagger json document"
For the tip: :After deploying the service, use the swagger_uri property to retrieve the schema JSON document."
Can you provide more detail? Where is the swagger file written? Can you provide an example of using the 'swagger_uri' property? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a

[2019-07-16 21:28] MicahMcKittrick-MSFT commented on #35094
@srrengar could you comment further on this?

[2019-07-16 21:29] FrankHu-MSFT commented on #35232
@madtownchris I was just able to run the tutorial properly. With the end result working with the todo list application.

Please remember to xml encode the client secret. I will make a request to add this in the https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-web-app
doc.

My suggestion is to review the docs more closely, if there are anymore questions wit

[2019-07-16 21:30] MicahMcKittrick-MSFT commented on #35171
@athinanthny can you take a look at this?

CC @peterpogorski @dkkapur

[2019-07-16 21:33] MicahMcKittrick-MSFT commented on #35221
@ondrejhlavacek I believe we cover this in the following doc:

https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-cluster-security#process-linux-node-updates-and-reboots-using-kured

Can you take a look and let me know if that helps?

[2019-07-16 21:39] jtuliani opened #35254 "Resource group lock?"
Doc includes:
Back up managed disks after enabling resource group lock
Not supported.
Azure Backup can't delete the older resource points, and backups will start to fail when the maximum limit of restore points is reached.

Firstly, typo. It should be 'restore points' not 'resource points'.

Secondly, is this true? restore points are stored in a dedicated RG so why do RG locks matter?

Thirdly, cl

[2019-07-16 21:40] FrankHu-MSFT commented on #33264
Hey @azureguineapig sorry for the late reply, but your estimation is correct. The sign-in events should be about 4kb of data storage per sign-in event.

[2019-07-16 21:40] draiche opened #35255 "This sentence is confusingly worded"
"The time-to-live (TTL) setting on a brokered message is not enforced when no client is not actively listening."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f10c27-dd5a-63c4-2933-792979908896
* Version Independent ID: 24fb6e36-13ea-ece9-7239-41d826dacb4a
* Content: [Azure Service Bus message expiration](https://do

[2019-07-16 21:41] ChristianMontoya commented on #29162
#please-close

[2019-07-16 21:41] #29162 closed

[2019-07-16 21:45] FrankHu-MSFT commented on #33264
We're currently looking into the article. I'm going to see if we can get a confirmation on why the article is 2KB per log. This might be a typo issue, and will let you know once we've been able to determine the reasoning behind it and will fix accordingly if it is wrong. Thanks for letting us know about this issue!

[2019-07-16 21:47] FrankHu-MSFT commented on #35147
The request id is in the request that you are sending to the token endpoint.

That being said, if this needs further debugging I would suggest filing a support ticket because the best way to determine what's going on here is getting on call with Microsoft Support with a fiddler trace of the issue occurring.

I will go ahead and add this AADSTS error to the github document.

Thanks for letting us k

[2019-07-16 21:51] jtuliani opened #35256 "AZ support"
Doc says VMs in Availability Zones are not supported.
But according to this thread, they are: https://www.yammer.com/azureadvisors/threads/1147323515

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e2dde49-662d-fc39-a03f-c67f7f86df67
* Version Independent ID: a4545bdc-298b-b440-203e-4f6f66882655
* Content: [Azure Backu

[2019-07-16 21:53] YutongTie-MSFT commented on #35204
@thecpshah Hi, could you please check if you are using the current version by `pip install --upgrade azureml-sdk ` , and also import the necessary package  `from azureml.core import Datastore` ? Thank you.

[2019-07-16 21:54] #35127 closed

[2019-07-16 21:55] FrankHu-MSFT commented on #34954
Hey @mliudev as this issue has been addressed I will be closing out this git issue now. If there's anymore issues please reopen the issue and we can continue discussing it.

Thanks again for letting us know about this issue!

[2019-07-16 21:55] #34954 closed

[2019-07-16 21:58] adamjones-OIA opened #35258 "Need instructions on multiple functions in one project"
The title indicates that you can develop Azure Functions plural.  The instructions here are for only developing one function.  If you have one local.settings.json file, how should I handle one settings file for multiple functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Ver

[2019-07-16 21:59] Mike-Ubezzi-MSFT commented on #35245
@KrystinaWoelkers Thank you very much for your interest in Azure Cosmos DB. The Azure Cosmos DB Data Migration Tool only supports a subset of Cosmos DB APIs and the Cosmos for Mongo DB API is not one of these when attempting to migrate data from an external database platform, such as MongoDB as you have stated. The solution to use is the Azure Data Migration Service as detailed in [this](https://d

[2019-07-16 22:00] YutongTie-MSFT commented on #35122
@diberry  Hi Dina, do you know if there any way to get all run and confidence score for it? Thank you.

[2019-07-16 22:01] Mike-Ubezzi-MSFT commented on #35245
@SnehaGunda and @rimman for awareness.

[2019-07-16 22:01] erikadoyle commented on #29064
This has been merged--thanks @cBrauge ! #please-close

[2019-07-16 22:01] #29064 closed

[2019-07-16 22:02] ronnelsantiago opened #35259 "Tell user which subscription it will affect in running the commands"
Would it be worthwhile to mention that if the user has _multiple subscriptions_, that they need to be aware which subscription the following commands will affect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec5d166b-abc2-279f-d18f-df49de4848cf
* Version Independent ID: 9e442624-541d-ea10-24a0-0777543d3a67
* Content:

[2019-07-16 22:02] rezasherafat commented on #35018
this limit applies to the maximum number of _parallel file uploads per device_. For example, if files are large and upload takes time, at each point in time, device can upload to 10 blobs in parallel

When an upload finishes, device can start a new upload to continue in parallel with the rest that are already in progress.

[2019-07-16 22:02] erikadoyle commented on #32888
Closing for now until/unless there are further details to debug this. #please-close

[2019-07-16 22:02] #32888 closed

[2019-07-16 22:04] mchudinov opened #35260 "Does Get-AzTableRow supports TOP option?"
How to get TOP X rows using Get-AzTableRow?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
* Version Independent ID: 65b4f939-ad12-b9e1-afd6-2f734653a163
* Content: [Perform Azure Table storage operations with PowerShell](https://docs.microsoft.com/bs-latn-ba/azure/

[2019-07-16 22:05] erikadoyle commented on #8975
Thanks for the suggestion. At this time it doesn't meet our bar in terms of priority/severity. #please-close

[2019-07-16 22:05] rimman commented on #35245
Krystina, the note is still correct. We don't support MongoDB API and don't want customers to take dependency on this. If you have more questions, please send them to us at AskCosmosDB@microsoft.com Thank you.

[2019-07-16 22:06] codyborn commented on #34985
Hi @Satya519364, can you share the contract that you're deploying?  Have you tried with simple Hello-World contract in the docs?
https://docs.microsoft.com/azure/blockchain/templates/ethereum-poa-deployment#tutorials

[2019-07-16 22:08] rezasherafat commented on #33973
the meter size determines at what increments your throttling limit is consumed. For example if your direct call's payload is 4KB or less you can make up-to 40 calls per second per unit before hitting the limit of 160KB/sec/unit.

Similarly, if your payload is between 4KB and 8KB, each call accounts for 8KB and you can make up-to 20 calls per second per unit before hitting the max limit.

Finally,

[2019-07-16 22:09] YutongTie-MSFT commented on #35048
@RWu-MS Fixed! Thank you for your feedback. You should see the change soon, ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-16 22:09] #35048 closed

[2019-07-16 22:12] MicahMcKittrick-MSFT commented on #35259
@ronnelsantiago thanks for the feedback on this. Generally when it comes to many of our quickstarts, we assume the user has a single subscription or at least has a single default one. The users who handle multiple subscriptions are generally aware of how to set and managed those different subscriptions. So we find the step to specify the subscription is not needed.

So at this time we plan to leav

[2019-07-16 22:12] #35259 closed

[2019-07-16 22:13] KrystinaWoelkers commented on #35245
Thank you both for your quick response. While I do understand it might not always work, it did work for my specific scenario. As a customer I find the statement to be misleading. I will be sending my questions to the email above, thank you! We can close this thread now.

[2019-07-16 22:15] josephmwells opened #35261 "Inconsistent Source Code"
'Full Source' section is inconsistent with guide and it's recommendations for configuring the body tracking app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f08064-28da-6415-1e57-858760b31c64
* Version Independent ID: ff491440-06d2-b9a0-12d0-deb3d1a68b6c
* Content: [Quickstart - Build your first Azure Kinect body t

[2019-07-16 22:17] YutongTie-MSFT commented on #34551
@vijetajo  Hi, do you have any update for this issue? Thank you.

[2019-07-16 22:17] FrankHu-MSFT commented on #35209
Hey @sgdesmet per the azure doc : https://docs.microsoft.com/en-US/azure/active-directory-b2c/technicalprofiles

If you're referring to the technical profile specifically if it supports oauth2. you would have to extend off of an oauth2 technical profile, because it simply is defining those metadata items in the OIDC profile.

Per the about technical profile doc : https://docs.microsoft.com/en-US/a

[2019-07-16 22:19] YutongTie-MSFT commented on #35015
@PatrickFarley  Hi Patrick, could you please help to check? Thank you.

[2019-07-16 22:19] erikadoyle commented on #10442
Here are the Microsoft.ServiceFabric.Services.AspNetCore packages on NuGet: https://www.nuget.org/packages?q=Microsoft.ServiceFabric.AspNetCore  #please-close

[2019-07-16 22:19] #10442 closed

[2019-07-16 22:21] erikadoyle commented on #11577
Fixed with the above PR. #please-close

[2019-07-16 22:21] #11577 closed

[2019-07-16 22:22] MicrosoftGuyJFlo commented on #35213
See the first paragraph of the conceptual doc for licensing info
https://docs.microsoft.com/azure/active-directory/conditional-access/concept-baseline-protection

[2019-07-16 22:23] djpmsft commented on #32374
This should be a question for the Azure Resource Management team, not Azure Data Factory as ResourceManagementClient is under azure-mgmt-resource

[2019-07-16 22:23] MicrosoftGuyJFlo commented on #35213
Leaked credential is considered high risk.

[2019-07-16 22:24] erikadoyle commented on #11648
Closing this now; the doc is written for mainstream use case and AFAICT this scenario is very specific. #please-close

[2019-07-16 22:24] #11648 closed

[2019-07-16 22:25] diberry commented on #35122
This query worked for me. The score is inside the customDimensions column which is JSON so it has to be extracted.

`
 requests
    | where url endswith "generateAnswer"
    | project timestamp, id, name, resultCode, duration
    | parse kind = regex name with *"(?i)knowledgebases/"KbId"/generateAnswer"
    | join kind= inner (
    traces | extend id = operation_ParentId
    ) on id
    | extend q

[2019-07-16 22:27] MicrosoftGuyJFlo commented on #35203
Email to PG for follow-up on product question.

[2019-07-16 22:27] laurenhughes commented on #32848
Thanks for the feedback, @craiginscotland. The work item to reorganize this information is currently in our backlog and will be addressed in the near future.

#please-close

[2019-07-16 22:28] #32848 closed

[2019-07-16 22:30] erikadoyle commented on #13600
Thanks for the feedback--updating diagrams is on our content backlog. #please-close

[2019-07-16 22:30] #13600 closed

[2019-07-16 22:30] erikadoyle commented on #13955
Fixed with above PR. #please-close

[2019-07-16 22:30] rolyon commented on #34793
Doc update has been been published live:
https://docs.microsoft.com/en-us/azure/role-based-access-control/conditional-access-azure-management

[2019-07-16 22:30] #13955 closed

[2019-07-16 22:33] wy193777 commented on #34074
`tar -xf azcopyv10.tar --strip-components=1 ./azcopy` is not a valid command.

[2019-07-16 22:33] srdan-bozovic-msft commented on #35198
@dr-ivan your point is valid.

As TDS is a well-known acronym in MS SQL I would take this feedback into account for the next regular document update.

#close

[2019-07-16 22:34] srdan-bozovic-msft commented on #33756
the script is fixed in the meantime

#close

[2019-07-16 22:35] MartinJaffer-MSFT commented on #29919
Not at this time, but you could write a script to execute a change of permissions on the results of a [recursive list operation.](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/list)

[2019-07-16 22:35] #29919 closed

[2019-07-16 22:38] MicrosoftGuyJFlo commented on #34423
Change is they know their password and just want to change it to something else using thier password to change it.

Reset is I don't know my password and want to use a method registered like the Authenticator app, SMS, or phone call to reset the password to something new.

[2019-07-16 22:38] MicrosoftGuyJFlo commented on #34423
#please-close

[2019-07-16 22:38] #34423 closed

[2019-07-16 22:39] MicrosoftGuyJFlo commented on #34914
Pinged them again.

[2019-07-16 22:43] MicrosoftGuyJFlo commented on #29224
#please-close

[2019-07-16 22:43] #29224 closed

[2019-07-16 22:43] sumit-kalra commented on #35106
@KJaunay: Azure Image Builder needs VM size **Standard_D2s_v3** to be available in the subscription/location. From the logs it seems that was not the case when you tried running:
`The requested size for resource '/subscriptions/[redacted]/resourceGroups/[redacted]/providers/Microsoft.Compute/virtualMachines/[redacted]' is currently not available in location 'westus2' zones '' for subscription '[re

[2019-07-16 22:43] MicrosoftGuyJFlo commented on #32575
#please-close

[2019-07-16 22:44] #32575 closed

[2019-07-16 22:46] MicrosoftGuyJFlo commented on #32255
#please-close

[2019-07-16 22:46] #32255 closed

[2019-07-16 22:47] YutongTie-MSFT commented on #35253
@jpe316 Hi Jordan, could you please take a look of this feedback and update the document as necessary? Thank you very much!

[2019-07-16 22:47] abbasalialoc opened #35264 "why query sys.tables"
On the 4th t-sql code box; why are we querying sys.tables?
I think we should be querying sys.dm_pdw_exec_requests view as told just above the code box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1d3d23-bf8a-1b97-0d2c-81f37f30bca1
* Version Independent ID: ebc70b53-8796-7a16-a781-a6986d3e823a
* Content: [Monitor y

[2019-07-16 22:47] MicrosoftGuyJFlo commented on #33138
They can remove the previous authenticator app from their security info page.

[2019-07-16 22:48] MicrosoftGuyJFlo commented on #33138
#please-close

[2019-07-16 22:48] #33138 closed

[2019-07-16 22:51] srdan-bozovic-msft commented on #31775
This should be addressed with
https://github.com/MicrosoftDocs/azure-docs/pull/34543

#please-close

[2019-07-16 22:51] #31775 closed

[2019-07-16 22:53] MicrosoftGuyJFlo commented on #33993
Adding to my backlog to review and add to doc.

[2019-07-16 22:54] MicrosoftGuyJFlo commented on #33993
#please-close

[2019-07-16 22:54] #33993 closed

[2019-07-16 22:54] MicrosoftGuyJFlo commented on #35004
#please-close

[2019-07-16 22:54] #35004 closed

[2019-07-16 22:54] MicrosoftGuyJFlo commented on #34426
#please-close

[2019-07-16 22:54] #34426 closed

[2019-07-16 22:56] laurenhughes commented on #26698
@jankuc, thanks for bringing this up. Virtual Machine configuration and Cloud Services configuration are related to the VMs in a Batch pool. Virtual Machine configuration is used for both Windows and Linux VMs, but Cloud Services configuration is only used with Windows VMs (more info at [Compute node operating system and version](https://docs.microsoft.com/azure/batch/batch-api-basics#compute-node

[2019-07-16 22:56] #26698 closed

[2019-07-16 22:56] Mike-Ubezzi-MSFT commented on #35245
Thank you for the additional feedback @KrystinaWoelkers!
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-16 22:56] #35245 closed

[2019-07-16 22:58] rezasherafat commented on #29210
@ravinsp, the 4KB chunk size is the increments by which your IoT Hub quota is consumed - note that quota is the aggregate number of messages you can send in your hub _per day_. You can find your hub's quota limit under column "TOTAL NUMBER OF MESSAGES/DAY " [here](https://azure.microsoft.com/en-us/pricing/details/iot-hub/).

Throttling however is a different topic. Your cloud-to-device and device-

[2019-07-16 23:00] srdan-bozovic-msft commented on #31810
PowerShell is updated to work on Linux as well
https://github.com/microsoft/sql-server-samples/blob/master/samples/manage/azure-sql-db-managed-instance/attach-vpn-gateway/attachVPNGateway.ps1#L191

A client part is already described [here](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert).

#please-close

[2019-07-16 23:00] #31810 closed

[2019-07-16 23:01] srdan-bozovic-msft commented on #32110
#sign-off

[2019-07-16 23:01] nastassiar opened #35265 "Is the bulkimport@microsoft.com email still valid?"
In one of the FAQ's bulkimport@microsoft.com is listed as a contact for questions but I am getting a bounce back when I contact it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63228b08-f4f2-36ca-4941-cb3ac92d6c09
* Version Independent ID: 228109d7-20cf-56cd-dc0d-86ff4f0cd7eb
* Content: [FAQ for Azure Import/Export s

[2019-07-16 23:06] ivasilyev-servicetitan-com commented on #22099
@duckie Finally I made it working using the following set of commands:
[code]
The order in `az login` commands makes difference. If you're creating peering in `subscr#2` vnet, then you need to login to tenant#1 first, then to tenant#2.

[2019-07-16 23:16] rezasherafat commented on #29205
@ravinsp, it's a good practice to throttle your calls so that you don't hit/exceed these throttling limits.

Nonetheless, if you did hit the limit IoT Hub responds with error code 429 and the client should back-off and retry.

As Alberto mentioned, these limits are per hub (or in some cases per hub/unit). Regarding subscribing for twin changes, are you saying all subscriptions will be inserted tog

[2019-07-16 23:16] NavtejSaini-MSFT commented on #35264
@abbasalialoc Thanks for bringing this to our attention. We will share your feedback with content owner for further review.

[2019-07-16 23:20] NavtejSaini-MSFT commented on #35260
@mchudinov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-16 23:20] nastassiar opened #35266 "Timeline for an import/export job?"
Is there a bench mark or approximate time that an Import and Export job take minus the shipping?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8101ceee-eb49-ec7c-dc15-0d9ca1dad85f
* Version Independent ID: 22ff579e-38f7-800e-d83f-a079a714a8fd
* Content: [Using Azure Import/Export to transfer data to and from Azure Sto

[2019-07-16 23:21] Mike-Ubezzi-MSFT commented on #33756
@AndyHerb We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-16 23:21] #33756 closed

[2019-07-16 23:21] stevestein commented on #29047
@dcbrown16 - thanks for the clarification.

@VanMSFT, @monhaber - can you take a look at this one?

-Thanks

[2019-07-16 23:25] mike-urnun-msft commented on #35235
Hi @VladimirAkopyan - Thank you for your feedback! We will review and update as appropriate.

[2019-07-16 23:32] Karishma-Tiwari-MSFT commented on #35236
Thanks @ggailey777

[2019-07-16 23:35] lettucebo commented on #34519
I find the issue why it gone to 0 byte.

![InkedAnnotation 2019-07-16 160426_LI](https://user-images.githubusercontent.com/891383/61336598-c6bb6f80-a7e6-11e9-9452-4c561e449241.jpg)

I think its because the ManagedDisk url already expired due to copy cost more than an hour (3600 sec)

The managed disk size is 127GiB

[2019-07-16 23:40] stevestein commented on #31226
I created a work item (1571966) to add AAD as an option in the mentioned article.  No eta or guarantees when this might get done.

#please-close

[2019-07-16 23:40] #31226 closed

[2019-07-16 23:43] Alberto-Vega-MSFT commented on #34910
@aurangzaibumer777 Was the answer useful? Any updates?

[2019-07-16 23:45] vijetajo commented on #34551
Windows DSVM still has VS 2017. We are looking to update the image to VS 2019. Thanks

[2019-07-16 23:51] mike-urnun-msft commented on #35240
Hi @eragonriddle - Thank you for your feedback! We will review and update as appropriate.

[2019-07-16 23:52] stevestein commented on #29678
@david-frazee -  I created an internal work item (1571979) to track this request.

We're going to go ahead and close this issue. Feel free to provide additional comments.

Thanks again for raising this issue.

[2019-07-16 23:52] stevestein commented on #29678
#please-close

[2019-07-16 23:52] #29678 closed

[2019-07-16 23:52] srdan-bozovic-msft commented on #32614
`Virtual network` title aligns with one in Azure NW documentation
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#default

VnetLocal is term used in scripts as provided in github sample for configuring subnet for MI
https://github.com/srdan-bozovic-msft/sql-server-samples/tree/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet

#please-close

[2019-07-16 23:52] #32614 closed

[2019-07-16 23:53] mike-urnun-msft commented on #35255
Hi @draiche - Thank you for your feedback! We will review and update as appropriate.

[2019-07-16 23:54] PatrickFarley commented on #35015
The new one is correct, but accounts that use the old format will still work. This is a recent change that we are still adapting to.

[2019-07-16 23:59] srdan-bozovic-msft commented on #34056
script is fixed and switched to Az module by default (so it could be run from both Windows and Linux)

Important notice stating _To use the Azure PowerShell Resource Manager module rather than the Az module, use the following cmdlet: attachVPNGateway.ps1 rather than the attachVPNGatewayAz.ps1 cmdlet._

should be removed

[2019-07-17 00:00] SnehaGunda commented on #34861
@pwl-kdk Thanks for your feedback, I submitted a PR to update the doc. We will now close this issue.

#please-close

[2019-07-17 00:00] #34861 closed

[2019-07-17 00:01] srdan-bozovic-msft commented on #34575
script is changed to Az module

#please-close

[2019-07-17 00:01] #34575 closed

[2019-07-17 00:05] srdan-bozovic-msft commented on #34056
see this was already addressed
https://github.com/MicrosoftDocs/azure-docs-pr/pull/77933

#please-close

[2019-07-17 00:05] #34056 closed

[2019-07-17 00:07] SnehaGunda commented on #34860
@pwl-kdk Further update, not sure if my response above solves the problem, you are probably referring the friendly name within the tool itself. I shared this issue with the dev who works on the emulator, and he mentioned that he plans to apply the change in the emulator’s code with the next release.

We will close this issue if there aren't further questions.

[2019-07-17 00:08] srdan-bozovic-msft commented on #32432
approved
#please-close

[2019-07-17 00:08] #32432 closed

[2019-07-17 00:17] mike-urnun-msft commented on #35258
Hey @adamjones-OIA - I believe the name of the product is [Functions](https://azure.microsoft.com/en-us/services/functions/) (in plural) and that is the context being communicated throughout our docs.

To answer your question around the use of `local.settings.json` file, it isn't necessarily specific to each of the function you may have running, rather, it contains the settings for the local envir

[2019-07-17 00:18] Satya519364 commented on #34985
Hi,

Thank you for your reply.

Below is the contract that I am trying to deploy.

pragma solidity >=0.4.21 <0.6.0;

contract SimpleStorage {
  uint myVariable;

  function set(uint x) public {
    myVariable = x;
  }

  function get()  public view returns (uint) {
    return myVariable;
  }
}

Regards,
Satya

From: Cody Born <notifications@github.com>
Sent: Wednesday, 17 July 2019 8:07 AM
To: Mic

[2019-07-17 00:20] Satya519364 commented on #34985
Hi,

Yes, I have followed the below steps correctly and trying to deploy below contract.

pragma solidity >=0.4.21 <0.6.0;

contract SimpleStorage {
  uint myVariable;

  function set(uint x) public {
    myVariable = x;
  }

  function get()  public view returns (uint) {
    return myVariable;
  }
}

Regards,
Satya

From: António Sérgio Azevedo <notifications@github.com>
Sent: Wednesday, 17 July

[2019-07-17 00:22] #35086 closed

[2019-07-17 00:30] Sheikh-Aman commented on #26884
Hi @suwatch
It was Linux, and vanilla Ruby on Rails.
I am not sure if RoR allows directory listing by default.

It's been long and I have since moved out of Azure for now, so I won't be able to reproduce this too.
Please feel free to close this issue if you feel like.

[2019-07-17 00:33] srdan-bozovic-msft commented on #32110
pr signed off and merged
#please-close

[2019-07-17 00:33] #32110 closed

[2019-07-17 00:39] wy193777 opened #35267 "Add note about encode '$' on azcopy URL"
When hosting static website, Azure use a container name `$web`, but doesn't mention `$` need to be encoded as `%24` to have azure storage process properly.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transf

[2019-07-17 00:41] Arifj8 opened #35268 "I would like to know how a PUBLIC IP of VM can be zone-redundant. 1. If I create a VM in an Availability Zone, what are the advantages and disadvantages of assigning a zone-redundant public IP to it? 2. Similarly, if I create a VM in an Availability Zone, what are the advantages and disadvantages of assigning a zonal public IP to it?"
I would like to know how a PUBLIC IP of VM can be zone-redundant.

1. If I create a VM in an Availability Zone, what are the advantages and disadvantages of assigning a zone-redundant public IP to it?
2. Similarly, if I create a VM in an Availability Zone, what are the advantages and disadvantages of assigning a zonal public IP to it?

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-07-17 01:07] rogeraustin commented on #34903
I get the same error using both
`az role assignment create --assignee MicrosoftAzureBatch --role contributor`
and
`az role assignment create --assignee "Microsoft Azure Batch" --role contributor`
Similarly, if I do
`az ad sp show --id "Microsoft Azure Batch"`
I get
`service principal 'Microsoft Azure Batch' doesn't exist`

[2019-07-17 01:09] ivandretvic commented on #35198
@srdan-bozovic-msft appreciate feedback. COnnectivity is often managed by infrastrucutre/cloud/networking team who are not familiar with all of the SQL lingo, especially when its referenced in connectivity diagrams. Thanks for the consideration.

[2019-07-17 01:11] Daemach commented on #35151
I hate to push, but is there an answer for my question?  I need to move forward with this project if possible.  Thanks in advance.

[2019-07-17 01:16] #35236 closed

[2019-07-17 01:20] Karishma-Tiwari-MSFT commented on #35261
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-17 01:27] Karishma-Tiwari-MSFT commented on #35268
@Arifj8
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can direct it to the right team.

[2019-07-17 01:46] Arifj8 commented on #35268
I am referring to this doc -> https://docs.microsoft.com/en-us/azure/availability-zones/az-overview . About availability zone. Attached a screenshot for ref. While creating a VM with availability zone -2 and assigning public IP, under standard SKU showing both zone-redundant and Zone 2.

I like to know how a PUBLIC IP of VM can be zone-redundant. Is it the VM is zone-redundant or only the public I

[2019-07-17 02:01] kazshi opened #35270 "Premium account doesn't support diagnostics"
Premium account doesn't support diagnostics? Looks like it's not documented or I couldn't find information - please add/update this page accordingly.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [Ho

[2019-07-17 02:09] akiyoshi opened #35271 "Windows Server 2019 supported?"
According to the supported client, it seems that Windows Server 2019 has been supported. Is my understanding correct?
If so, it would be better to omit the supplement below.
(Including Windows Server 2012 and 2016)

https://docs.microsoft.com/en-us/azure/automation/automation-update-management#supported-client-types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-07-17 02:17] KalyanChanumolu-MSFT commented on #34624
@matthawley We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-17 02:17] #34624 closed

[2019-07-17 02:19] KalyanChanumolu-MSFT commented on #34872
@ttelfer Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-07-17 02:26] SnehaGunda commented on #35095
@Dimka12 Thank you for the feedback, the whitepaper reading is totally optional. I made some updates to the doc to define the term inline and also removed some links.

We will close this issue if there aren't any further questions.

#please-close

[2019-07-17 02:26] #35095 closed

[2019-07-17 02:28] spelluru commented on #34012
I have added the text: The message is in the JSON format and it contains an array with one or more events. In the following example, the JSON message contains an array with one event. View your web app and notice that a blob created event was received.

#please-close

[2019-07-17 02:28] #34012 closed

[2019-07-17 02:30] SnehaGunda commented on #34860
#please-close

[2019-07-17 02:30] #34860 closed

[2019-07-17 02:30] BharathNimmala-MSFT commented on #35248
@ondkal This has been fixed now, closing this issue for now. However if there is any feedback please feel free to tag me in your reply , will be happy to take the conversation forward.

Thanks again for bringing this to our attention.

[2019-07-17 02:30] #35248 closed

[2019-07-17 02:30] spelluru commented on #32661
#please-close

[2019-07-17 02:30] #32661 closed

[2019-07-17 02:31] cconrado opened #35272 "RSS feed?"
Wondering if theres a rss feed for the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5cd9ff6-a28b-8e40-83b5-7ef4fd24db48
* Version Independent ID: bb50c22c-c945-0ec9-17bf-6921e87c41a4
* Content: [What's new in Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-whats-new)
* C

[2019-07-17 02:34] KalyanChanumolu-MSFT commented on #35025
@YvonneArnoldus You can store it as a pipeline variable and reference it in the task.
Why do you need to run EF migration with sql server admin credentials?
The best practice is to create a contained user with appropriate privileges for such activities.

Please let us know if there is a use case where the sql admin credentials are needed.
We will evaluate your feedback and consider making changes

[2019-07-17 02:38] SnehaGunda commented on #34886
@alekseys Thanks for pointing out the issue, should we use "**Azure Functions trigger for Cosmos DB**" instead?

@ealsur FYI regarding the feedback on terminology, please confirm if the above term is correct instead? I can scrub all the docs with this term. Also, please consider the new version for any future doc updates you make.

[2019-07-17 02:38] lukeb1961 commented on #18267
You people DO realise that one of the biggest issues with Azure is the LAME documentation?

sigh..

[2019-07-17 03:09] KrishnaG-MSFT commented on #35271
@akiyoshi Thanks for the comment. We will investigate on the issue and get back to you shortly.

[2019-07-17 03:13] pixelmosh opened #35274 "Can't run after final updates to VotesController.cs"
I followed the tutorial closely and initially was able to see the web page with the voting options. Now, after adding the VotingData service and updating VotesController.cs, I am no longer able to see the web page after hitting F5.

Instead, I simply see "[]" in the browser and nothing else.

I've set the breakpoints as suggested in the "Debug in Visual Studio" section but none of them are hit. Li

[2019-07-17 03:21] KrishnaG-MSFT commented on #35030
@psatyaa Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-17 03:21] #35030 closed

[2019-07-17 03:24] KrishnaG-MSFT commented on #35271
Assigning to @bobbytreed for visibility and document enhancement considerations.

[2019-07-17 03:27] HannahHsiao opened #35275 "Need screenshot for Transferring subscription to an account in another Azure AD tenant"
Transferring subscription to an account in another Azure AD tenant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65b8cd29-3c9b-6afc-d4fb-256463776002
* Version Independent ID: d905e8f9-49c6-19de-1c43-796efc04003f
* Content: [Transfer billing ownership of Azure subscription to another account](https://docs.microsoft.co

[2019-07-17 03:54] KalyanChanumolu-MSFT commented on #34719
@wacsintegra Thank you for taking the time to report this issue.
This appears to be fixed now. I have checked multiple browsers and all 3 themes.
It shows up correctly.

![image](https://user-images.githubusercontent.com/8835012/61345887-8571a100-a874-11e9-8e57-29f80e136175.png)

We will proceed to close this issue now.

[2019-07-17 03:54] #34719 closed

[2019-07-17 04:02] KalyanChanumolu-MSFT commented on #34764
@hope4555 Thank you for the detailed feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

@allenwux Can we add a note to the [How does Data Sync work](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-sync-data#how-does-data-sync-work) section so that customers are aware?

[2019-07-17 04:09] CastleArg commented on #35194
Hi @KetanChawda-MSFT thanks that totally solved my problem.
I feel this should not be necessary however, or should be documented better as surely this is a common occurrence.
Have also raised at https://github.com/Azure/azure-functions-host/issues/4674#issuecomment-511917637

[2019-07-17 04:09] #35194 closed

[2019-07-17 04:14] jarrad-obrien opened #35276 "How often is this list updated?"
Exactly as in the title. Another question is how is this list generated? As in, are resources added to this list ad hoc, or is there a way to query Azure somehow and get a fully up to date list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f927d2e-a3a6-3de9-5458-5149c163e0d0
* Version Independent ID: 8ce4f6c2-359c-f

[2019-07-17 04:24] AshokPeddakotla-MSFT commented on #34902
@Ardutec Have you had a chance to see the above response? Please upgrade your IoT hub pricing tier and let us know if you still face the issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 04:24] #34902 closed

[2019-07-17 04:44] shashishailaj commented on #35243
@threesixfour Thank you for your feedback . We will engage the content authors for getting this request reviewed and actioned.

[2019-07-17 04:44] shashishailaj commented on #35244
@threesixfour Thank you for your feedback . We will engage the content authors for getting this request reviewed and actioned.

[2019-07-17 04:44] SumanthMarigowda-MSFT commented on #34857
@ninweninwe By end of this month it's going be available.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 04:44] #34857 closed

[2019-07-17 04:47] shashishailaj commented on #35247
@xcactusx Thank you for your feeedback . We will investigate and update the thread further.

[2019-07-17 04:52] shashishailaj commented on #35251
@jtuliani Thank you for your feedback . We will engage the content authors for getting this request reviewed and actioned.

[2019-07-17 04:52] KrishnaG-MSFT commented on #35007
@rogereriksen Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-17 04:52] #35007 closed

[2019-07-17 04:55] shashishailaj commented on #35254
@jtuliani Thank you for your feedback. We will investigate and update further.

[2019-07-17 04:56] shashishailaj commented on #35256
@jtuliani Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 04:59] shashishailaj commented on #35265
@nastassiar Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:00] shashishailaj commented on #35270
@kazshi Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:01] shashishailaj commented on #35267
@wy193777 Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:01] shashishailaj commented on #35266
@nastassiar Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:03] ManojReddy-MSFT commented on #35176
@srife I understand. Thanks for including all the details. The title of the article and the introduction clearly talks about using CLI "Quickstart: Route storage events to web endpoint with **Azure CLI**". Azure CLI implies using all the commands in bash.

PS commands are in a completely different syntax and the parameters are passed in a different way. I will add a step to the doc to set in bash

[2019-07-17 05:05] shashishailaj commented on #35275
@HannahHsiao Thank you for your query . We will investigate and update this thread.

[2019-07-17 05:11] shashishailaj commented on #35276
@jarrad-obrien Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:13] shashishailaj commented on #35272
@cconrado Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:15] shashishailaj commented on #35274
@pixelmosh Thank you for your feedback . We will investigate and update this thread.

[2019-07-17 05:18] shashishailaj commented on #35244
@MarkusVi Could you please help getting the error details documented in the article after verifying with engineering?

[2019-07-17 05:19] shashishailaj commented on #35243
@MarkusVi Could you please help getting the error details documented in the article after verifying with engineering?

[2019-07-17 05:21] zhalu opened #35278 "Storage capacity limit inconsistency?"
Per this doc, the capacity of storage account is:

"2 PB for US and Europe, 500 TB for all other regions, which includes the UK"

However, per this blog https://azure.microsoft.com/en-us/blog/announcing-larger-higher-scale-storage-accounts/ ,  the limt has been raised from 2 PB to 5 PB.

Should this doc be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-07-17 05:21] shashishailaj commented on #35200
@MarkusVi Could you please check this request and verify if we are missing the third step or there are only two steps as listed in the document?

[2019-07-17 05:23] CHEEKATLAPRADEEP-MSFT commented on #35108
@rominparekh Java SDK for ADLS Gen2 is planned for preview in CY19Q3 and General Availability in CY19Q4.

Hope this helps.

[2019-07-17 05:24] #35108 closed

[2019-07-17 06:04] SnehaGunda commented on #35226
@TWolverson  I verified the dt command line and UI tool and didn’t find any option to set DB level throughput. I guess this feature isn't supported. I sent an email to the dev who worked on this tool to confirm. Will reply back once we have a conformation.

[2019-07-17 06:06] SnehaGunda commented on #35190
@wmengmsft, @donghexu Can you please take a look at this issue.

[2019-07-17 06:10] wmengmsft commented on #35190
For Azure Tables, this blog post that explains how to estimate entity size still apply: https://blogs.msdn.microsoft.com/avkashchauhan/2011/11/30/how-the-size-of-an-entity-is-caclulated-in-windows-azure-table-storage/

[2019-07-17 06:15] SnehaGunda commented on #34930
@StefanSchoof The partition key + item ID collectively identify an item uniquely. So yes items in two different partitions can have the same id.

Not sure if you have read the introduction of the partitioning doc, https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overview, we mention this:

_Each item has a unique value for the UserID property. If UserID serves as the partition key for

[2019-07-17 06:34] ChiragMishra-MSFT commented on #35208
@nabhishek Can you please take a look at this one?

[2019-07-17 06:49] SnehaAgrawal-MSFT commented on #35109
@rdevakumar We will now proceed to close this thread.

[2019-07-17 06:49] #35109 closed

[2019-07-17 06:53] cocowalla commented on #33973
So, what I'm taking from this is that the limit is only 160KB/sec/unit, and the text about a "throttling meter size" is irrelevant?

[2019-07-17 06:54] angoyal-msft commented on #35198
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-17 06:54] #35198 closed

[2019-07-17 06:55] PramodValavala-MSFT commented on #35057
@timmyreilly I believe [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-best-practices#scalability-best-practices) would be the best to place cover this. Feel free to open an issue on that doc to track.

Your expectations from the scenarios is accurate. But I wouldn't count on having 1000 messages being processed from a single function instance for the amount of RAM/

[2019-07-17 06:56] PramodValavala-MSFT commented on #35063
@JustinGrote Glad we could help! The docs should get updated along with the migration to the newer libraries.

Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 06:56] #35063 closed

[2019-07-17 06:58] PramodValavala-MSFT commented on #35008
@Ballzer0 Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 06:58] #35008 closed

[2019-07-17 07:28] Girishvtm commented on #34263
Thanks for the updates.

[2019-07-17 07:29] fabaliga commented on #22099
@ivasilyev-servicetitan-com Thanks, it worked for me!

Do you know how to translate the ```az login``` commands into SDK instructions?
The peering instruction requires access to both tenants:
[code]
networkA is accessed with tenantA.
networkB is accessed with tenantB.

then I get the following error:

The client has permission to perform action 'Microsoft.Network/virtualNetworks/peer/action' on sc

[2019-07-17 07:54] SumanthMarigowda-MSFT commented on #34920
You can create an account by using Powershell or the CLI. You can't perform operations or set access control lists on file systems, directories, and files.
![image](https://user-images.githubusercontent.com/44606021/61357371-bf06d400-a895-11e9-883f-b3ae7ba813df.png)

However you can refer to the suggestion mentioned in this [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/0af26b68-a1b3

[2019-07-17 07:54] #34920 closed

[2019-07-17 07:57] rohandholakia1 commented on #35122
Thank you very much for that @diberry, works well

[2019-07-17 07:58] albertoaguzzi74 commented on #35005
truffle migrate --network defaultnode is the step on which it is failing.

I added a file with an overview of steps. I can connect to Blockchain Service with use of truffle develop and do a getAccounts(). When migrate to defaultnode it just stops after 'Compiling your contracts...'. Versions seems fine. Migrate to Ganache kicks of the 'Starting migrations...'

[migrate-abs-fail.txt](https://github

[2019-07-17 08:03] albertoaguzzi74 commented on #35005
Yesterday in a call I heard somebody say that when migrating to Azure Blockchain Service with Truffle it uses a a newer (not compatible) compiler version than is available in Quorum. Could this be the case?

[2019-07-17 08:05] Kazzan opened #35286 "License Requirements"
You mentioned Microsoft 365 Business and other which now have Conditional Access. And all now have access to Preview Baselines for Conditional Access. So this wording and guidance should change. In reality, this portal should be merged to AAD if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0

[2019-07-17 08:21] dcurwin commented on #35151
Thanks for your question and contribution to our docs community. Product feature timeline inquiries are best directed to the product management team:

https://feedback.azure.com/forums/258995-azure-backup-and-scdpm

[2019-07-17 08:22] Skorfulose opened #35287 "Incorrect report numbers for "SSPR enabled""
Similar to @bt102, we have incorrect numbers in the report. SSPR is enabled for one AAD group, where some members are reported as beeing "SSPR enabled", and others as "disabled". Remember: They are direct members of the very same group granting SSPR permission.
@shashishailaj: Our support request [15293436] was closed with the ask to go here and leave feedback. Opposite to what you advised @bt102

[2019-07-17 08:22] dcurwin commented on #35151
#please-close

[2019-07-17 08:22] #35151 closed

[2019-07-17 08:27] MahdeeT commented on #35118
Hello any news on this? We do not understand why we cannot connect to our AKV by using token.

[2019-07-17 08:35] DixitArora-MSFT commented on #35181
@cecilphillip Make sure you have the latest nuget package of Microsoft.NET.Sdk.Functions.

[2019-07-17 08:37] m4ss1m0g opened #35288 "The backend example for validating access token is old"
The dotnet web api is written in _old_ .NET Framework, there is an example with .NET Core ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-6883-51a9-fed7-01be62302483
* Content: [Azure AD v2.0 JavaScript single-page application (SPA) guided setup](

[2019-07-17 08:42] ggailey777 commented on #34999
@pragnagopa do we have any info we can provide to customers about `FUNCTIONS_WORKER_PROCESS_COUNT`? If so, we should probably add it to the [app settings reference article](https://docs.microsoft.com/azure/azure-functions/functions-app-settings).

[2019-07-17 08:43] angoyal-msft commented on #35260
@mchudinov As such there is no top command. You can use pipeline to achieve the same pupose.
Could you please try the below command :

`Get-AzTableRow -table $cloudTable -customFilter $filter | Select-Object -First 2`

Hope this helps.

[2019-07-17 08:46] jtuliani opened #35289 "AzureBackup Service Tag"
Doc states "The AzureBackup tag is currently available on PowerShell only"

Not true: I see it in the portal. Haven't tried CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dd4ffd9-cc54-a3cd-788f-e94416ab75ae
* Version Independent ID: 12d96388-d643-414b-f913-9c1dce0cc66f
* Content: [Back up SQL Server databases in

[2019-07-17 08:47] jtuliani opened #35290 "Clarify network requirements"
It would be useful to clarify the network connectivity requirements for Azure Backup of VMs. The 'Backup and Restore Considerations' on this page could be a good place.

For example, the SQL on VM backup page (https://docs.microsoft.com/azure/backup/backup-sql-server-database-azure-vms) does a very nice job of explaining the connectivity requirements and exactly which NSG rules are required.  We n

[2019-07-17 08:51] DixitArora-MSFT commented on #35136
@rjosephp Inbound and Outbound traffic into the Subnet in which API Management is deployed can be controlled using Network Security Group. If any of [these ports](https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet#-common-network-configuration-issues) are unavailable, API Management may not operate properly and may become inaccessible.

Also ASE has certain networ

[2019-07-17 08:56] alpinedelight commented on #29560
Agreeed - also would like to see how pipeline variables are called pipeline().variable.<name>?

[2019-07-17 08:56] thecpshah commented on #35204
Thank you for your reply. Here is a more information.

I have already imported necessary packages i.e. `from azureml.core import Datastore`

The version of SDK I am using is `1.0.48`

The blob store that I am trying to register with Azure ML Workspace was created by someone else. Does it need to be set up in certain way?

[2019-07-17 09:05] kudlatiger opened #35291 "Where I can see outbound IP’s in APIM?"
Where I can see outbound IP’s in APIM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b45736d2-b0f4-05c3-8e2f-fde88f53b61a
* Version Independent ID: f6c4d89a-1cc5-3e2a-6a3c-3b292cecead7
* Content: [Azure API Management FAQ](https://docs.microsoft.com/en-us/azure/api-management/api-management-faq#is-the-api-management-g

[2019-07-17 09:08] lolekjohn commented on #35181
@DixitArora-MSFT @shashishailaj  Even, I am getting the same issue for the function app while trying to implement custom  telemetry logging.

[2019-07-17 09:18] SumanthMarigowda-MSFT commented on #35174
@dcbrown16 Can you please elaborate bit more on this topic?

Are you referring to [Total Cost of Ownership (TCO) Calculator? ](https://azure.microsoft.com/en-in/pricing/tco/calculator/)

[2019-07-17 09:19] ManojReddy-MSFT commented on #35118
@MahdeeT Can you try the following

1. Check if you have configured any network security rules on your key vault as described [here](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-network-security)

2. On the VM, can you use a user account and see if you can retrieve the secrets?

[2019-07-17 09:23] dragosvelcea opened #35293 "I can't find this setting in azure portal"
It's unclear where the availability settings are. I can't see anything with this name or with this icon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independent ID: 3ed5fda4-c916-dcb0-a3b2-a0bb534d8bdb
* Content: [Monitor availability and responsiveness of any web site]

[2019-07-17 09:28] sandhya124 commented on #31304
According to documentation (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-migrate-on-premises-data?tabs=windows) copy from Azure Blob storage, Azure Files, and Azure Table storage is supported, which is in fact not the case.

Section:
The source or destination can be a:

Local file system
Azure Blob/Virtual Directory/Container URI
Azure File/Directory/File Share URI
Azur

[2019-07-17 09:32] hkusulja opened #35294 "Azure Public IP Address, standard or basic SKU supported?"
Please document, are the Azure Public IP Address, standard or basic SKU supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d55c6a33-a21f-e8b6-da9b-f071d0db1df9
* Version Independent ID: 87388983-e525-89a7-2048-585c6bd0927d
* Content: [Azure DNS alias records overview](https://docs.microsoft.com/en-us/azure/dns/d

[2019-07-17 09:33] AndrewJNorris commented on #32255
The QR codes are still not correct on the Table Tents PPT deck.
I've just redownloaded 'Table Tents.pptx' from https://www.microsoft.com/en-us/download/details.aspx?id=56768, scanned the bardcode using the Bing search on my Android phone and it takes me to a search for 'Ver1'.

[2019-07-17 09:35] BryanTrach-MSFT commented on #34848
@salomon-gilles Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-17 09:35] #34848 closed

[2019-07-17 09:41] lolekjohn commented on #35181
As per the Microsoft documentation ([https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-functions-supported-features]), Azure Function's inbuilt App Insights support works with the v2.9.1 of App Insights. Once i downgraded the App Insight version to 2.9.1, it started working. This is not working with v2.10.0. I am not sure whether this is a bug or it is an expected behaviour.

[2019-07-17 09:42] ChiragMishra-MSFT commented on #29560
@djpmsft Can you please have a look at this ?

[2019-07-17 09:48] rcih-tolley opened #35295 "Storage Quotas Confusing"
I understand that this is a complex topic, however, it would be very helpful to understand the following.

If I want to use Blob storage to store uploaded images and if each image is around 15MB in size, is there a maximum number of images I can store in a Blob container and/or Blob?

I have seen this question asked multiple times on SO with no clear answer.

I am expecting to have to store 100 mi

[2019-07-17 09:50] AmanGarg-MSFT commented on #35188
Sure @cijothomas. Raised another pull request. The changes should go live shortly.

[2019-07-17 09:51] aaronhughesdelt opened #35296 "data type compatibility for specific data source/sink"
there is no section for what data types are compatible with the copy activity for a specific data source
for example I'm currently trying to move a dataset containing a geometry column - however I'm hitting an error whilst developing;
{
    "errorCode": "2200",
    "message": "Failure happened on 'Source' side. ErrorCode=DataTypeNotSupported,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliver

[2019-07-17 09:54] SadiqhAhmed-MSFT commented on #33734
@johnlnash The support to Backup File shares in accounts with VNET is now available in preview in WCUS and AE. You can find the sample in Github here: https://github.com/Azure-Samples/Use-PowerShell-for-long-term-retention-of-Azure-Files-Backup

[2019-07-17 09:56] AmanGarg-MSFT commented on #34888
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-17 09:56] #34888 closed

[2019-07-17 09:57] PramodValavala-MSFT commented on #35291
@kudlatiger You can find the Virtual IP (VIP) addresses on the overview blade

![image](https://user-images.githubusercontent.com/43602528/61366502-532d6700-a8a7-11e9-9ab6-fc44fdf2c1a2.png)

[2019-07-17 09:58] PramodValavala-MSFT commented on #35039
@d-h-morrison Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 09:58] #35039 closed

[2019-07-17 10:08] dcurwin commented on #32443
There is no longer a recommendation to refrain from resizing disks.

The document has been updated.

[2019-07-17 10:08] dcurwin commented on #32443
#please-close

[2019-07-17 10:08] #32443 closed

[2019-07-17 10:15] AmanGarg-MSFT commented on #35293
@dragosvelcea To find the "Availability" blade:

- Go to portal.azure.com
- Search for Application Insights
- Select the Application Insights instance that you have created
- You should be able to see the "Availability" blade on the left pane

https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-web-app-availability#create-a-url-ping-test

![availability-create-test-001](https://user-i

[2019-07-17 10:23] SadiqhAhmed-MSFT commented on #35278
@zhalu Thank you for bringing this to our attention. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-17 10:25] SadiqhAhmed-MSFT commented on #35278
@rothja As per the  blog - blog https://azure.microsoft.com/en-us/blog/announcing-larger-higher-scale-storage-accounts/ the limit needs to be updated to 5 PB. Please verify with the storage PG and update the doc as needed.

[2019-07-17 10:32] SadiqhAhmed-MSFT commented on #35275
@bandersmsft Could you please review this requirement and update the document as needed?

[2019-07-17 10:40] SadiqhAhmed-MSFT commented on #35272
@cconrado Next steps is the section you need to refer to "**Keep up-to-date with our updates on the [Azure Updates page](https://azure.microsoft.com/en-us/updates/?product=site-recovery)**." and subscribe for RSS feed for Site Recovery.

[2019-07-17 10:49] KeoiMadBro opened #35297 "Issue Link"
Hi! in the middle of this page there is a note :
The language parameter must be appended to the URL to avoid receiving an 4xx HTTP error. For example, the language set to US English using the West US endpoint is: https://westus.stt.speech.microsoft.com/speech/recognition/conversation/speech/recognition/conversation/cognitiveservices/v1?language=en-US.

This part of the link is repeated 2 times :
/

[2019-07-17 10:50] SadiqhAhmed-MSFT commented on #35251
@sachdevaswati FYI. To review the doc and update as appropriate.

[2019-07-17 11:02] AshokPeddakotla-MSFT commented on #34326
@dianelin98  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-17 11:02] #34326 closed

[2019-07-17 11:03] loopfish opened #35298 "Certificate chain reported as missing Intermediate certificate, throwing 502 error, with V2 Application Gateway only. V1 is fine."
Certificate chain reported as missing Intermediate certificate, throwing 502 error, with V2 Application Gateway only. V1 is fine.
This is will a full chain RapidSSL wildcard PFX certificate.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77a317f1-deef-4ba7-5839-f39ce3733655
* Version Independent ID: d85aa8fe-7270-d073-

[2019-07-17 11:08] SwayTex opened #35299 "Recommended Azure VM"
Recommended  Azure VM Linux Syslog agent through automatic deployment  is a standard D2s v3 (2 vCPUs, 8 GB memory) by Syslog Source?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab4fa4a6-11d6-2505-797b-84f19a5bff72
* Version Independent ID: 41c1b064-48da-036a-8e7d-e781d9301386
* Content: [Connect Fortinet data to Azu

[2019-07-17 11:19] SychevIgor opened #35300 "2Gbps instead of 2 G"
"Number of branches is limited to 1000 connections per hub/region and a total of 2 G in the hub. The exception is West Central US, which has a total of 20 Gbps. We will be rolling 20 Gbps out to other regions in the future."
In this quote we probably should use 2Gbps instead of 2 G.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-07-17 11:28] SadiqhAhmed-MSFT commented on #35205
@woodrum As per this [FAQ page](https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-faq#what-operating-systems-are-supported-for-backup) Windows Server 2019 is supported.

@sachdevaswati To confirm and update the document if needed.

[2019-07-17 11:39] hanssens opened #35301 "Explain limitation of blob types between "Premium" and "Standard" storage account types"
The [section on _Premium performance block blob storage_](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers#premium-performance-block-blob-storage) currently states the following:

However, there is a significant difference in Premium storage where:

* Premium only accepts Page Block Blob types (and not Blob, nor Append)
* Premium only accepts blobs (files) which have

[2019-07-17 11:42] shashishailaj commented on #35287
@Skorfulose Thank you for reaching out. Please give me a few days to check on this and I will update on the same thread.

Thank you.

[2019-07-17 11:46] Digiroka opened #35302 "Licence Key"
Hello - from the article:
"The key is the LicenseKey.txt file included in the FSLogix agent .zip file."
There is no LicenseKey.txt file in the linked package (FSLogix_Apps_2.9.7117.27413.zip)
Is this no longer required?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75645943-4897-bc27-18da-c88c35446411
* Versio

[2019-07-17 11:50] JasSuri commented on #33100
@SharePointing @nezoic, here is a sample showing how to use hello.js library with integration with AAD B2C login pages with popup style auth.
https://github.com/azure-ad-b2c/apps/tree/master/spa/javascript-hellojs-singlepageapp-popup

Working example:
https://hellojsb2cpopup.azurewebsites.net/

[2019-07-17 11:57] SadiqhAhmed-MSFT commented on #35290
@jtuliani Thanks for the feedback! Regarding network requirements, this article - https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-vms-prepare covers it. Also, Azure VM support matrix link - https://docs.microsoft.com/en-us/azure/backup/backup-support-matrix-iaas#vm-network-support has more details about the network support. Please highlight if you want specific details to be added i

[2019-07-17 11:59] shadySirhan opened #35303 "osFamily=5 does not contain 4.7.2!"
Hi,

I am using "Family 5 releases" with "WA-GUEST-OS-5.32_201906-01", but when I login in to the machine I don't see that 4.7.2 is installed although I see that mentioned that it should be supported!

Can you please help? I don't know what's going on.

Thanks,
Shady

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e4a

[2019-07-17 12:01] SadiqhAhmed-MSFT commented on #35289
@jtuliani Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@sachdevaswati FYI.

[2019-07-17 12:02] shashishailaj commented on #35297
@KeoiMadBro Thank you for your feedback . We will investigate and update the thread .

[2019-07-17 12:03] ChiragMishra-MSFT commented on #35296
@aaronhughesdelt Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-07-17 12:04] shashishailaj commented on #35296
@aaronhughesdelt Thank you for your feedback .We will investigate and update the thread.

[2019-07-17 12:07] shashishailaj commented on #35298
@loopfish Thank you for your feedback . We will investigate and update the thread further.

[2019-07-17 12:07] JasSuri commented on #34125
You cannot resolve the claim in the AAD Technical Profiles. You could resolve it at a self asserted step, or rest api step.

**Otherwise there is an alternate way to achieve this.** See this sample how I write the last time the user did MFA on sign in:

https://github.com/azure-ad-b2c/samples/tree/master/policies/mfa-absolute-timeout-and-ip-change-trigger

Use the `GetCurrentDateTime` claims trans

[2019-07-17 12:07] JasSuri commented on #34160
You cannot resolve the claim in the AAD Technical Profiles. You could resolve it at a self asserted step, or rest api step.

**Otherwise there is an alternate way to achieve this.** See this sample how I write the last time the user did MFA on sign in:

https://github.com/azure-ad-b2c/samples/tree/master/policies/mfa-absolute-timeout-and-ip-change-trigger

Use the `GetCurrentDateTime` claims trans

[2019-07-17 12:08] shashishailaj commented on #35299
@SwayTex Thank you for your query. We will investigate and update the thread.

[2019-07-17 12:09] fhe-fr commented on #34247
Thanks

[2019-07-17 12:09] #34247 closed

[2019-07-17 12:09] JasSuri commented on #34565
Its mostly because the fragment returned in this case from a coding perspective is indicating what path the code should take. Normally the path in the hash fragment is in reference to something on the page.
It most closely resembles what we are trying to achieve here by sending the user to a specific part of the page (technical code/controller/callback func) which then initiates a new authenticati

[2019-07-17 12:10] shashishailaj commented on #35300
@SychevIgor Thank you for your feedback . We will investigate and update further.

[2019-07-17 12:13] shashishailaj commented on #35301
@hanssens Thank you for your feedback . And we appreciate you providing the detailed feedback. WE will engage the content authors to have this reviewed and updated on the article.

[2019-07-17 12:15] shadySirhan commented on #35303
I meant that I see that 4.7.2 is not installed

[2019-07-17 12:18] JasSuri commented on #34798
Usually the only reason for this is because the CORS setup was incorrect.
Can you review:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-customize-ui#enable-cors

If your tenant is `contoso.onmicrosoft.com`, then the CORS setting must be
`https://contoso.b2clogin.com`

**And**
You must select the `b2clogin.com` domain at this step:
https://docs.microsoft.com/en-us/azure/activ

[2019-07-17 12:19] alexito-rui opened #35304 "UWP - Remote app - WVD"
Try to add a UWP application to the remoteapp option for windows virtual desktop.

Example New Sticky Notes, New MS Paint, calculator, etc.

[2019-07-17 12:24] shashishailaj commented on #35294
@hkusulja Thank you for your feedback . We will investigate and update the thread further.

[2019-07-17 12:30] vpatel55 opened #35306 "Cannot edit Active Directory content pack on PowerBI"
I need to edit the PowerBI Active Directory content pack in PowerBI. I'm a PowerBI Pro user, and have got access to the App. This article describes customizing the report by clicking on the 'Edit' button. However, the Edit button on my App is greyed out. A number of other people have raised this issue, but their threads have been prematurely closed before the question was answered. Please can some

[2019-07-17 12:33] shashishailaj commented on #35286
@MicrosoftGuyJFlo Could you please provide your thoughts on this , if we can update the article or add a small note to reflect the [licenses section](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates#choose-how-to-enable) since the feature is in Preview at the moment ?

[2019-07-17 12:33] johnlnash commented on #33734
@SadiqhAhmed-MSFT   - Thank you very much ,will take a look.

[2019-07-17 12:34] shashishailaj commented on #35288
@m4ss1m0g Thank you for your feedback . We will engage the content author to check on the same.

[2019-07-17 12:35] shashishailaj commented on #35288
@navyasric Could you please let us know in case we have a similar sample in .net Core as requested by the customer?

[2019-07-17 12:37] shashishailaj commented on #35295
@rcih-tolley Thank you for your feedback . We will investigate and update further.

[2019-07-17 12:38] rothja commented on #35278
@zhalu Thank you for the feedback. This does seem to be a needed change, but I need one of the content leads in azure storage to take a look. @tamram could you please evaluate this change? Thank you! #reassign @tamram

[2019-07-17 12:38] shashishailaj commented on #35306
@vpatel55 Thank you for your feedback . We will investigate and update this thread further.

[2019-07-17 12:40] shashishailaj commented on #35302
@Digiroka Thank you for your feedback . We will investigate and update this thread further.

[2019-07-17 12:42] shashishailaj commented on #35303
@shadySirhan Thank you for your feedback . We will investigate and update the thread further.

[2019-07-17 12:46] AjayKumar-MSFT commented on #35068
@adback03, SignalR function binding currently doesn’t support multiple endpoints. Right now you can manually broadcast to multiple instances using our management SDK (https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md). Our product team is working on adding multiple endpoints support to the function binding, but there is no ETA on this yet.

[2019-07-17 12:47] shashishailaj commented on #35304
@alexito-rui Thank you for your feedback . Could you please let us know as to which azure document your feedback relates to ? It would be great as we can accordingly redirect this query.

[2019-07-17 12:49] ashamrai opened #35307 "Issuie "Use remote gateways" and "Allow gateway transit""
The suggestion for the first image is "If you want the spoke VNet to use the gateways that are connected to the hub VNet, select Use remote gateways." And we can see that the option "Use remote gateways" is selected.
The suggestion for the second image is "If you want the spoke VNet to use the hub VNet gateways, select Use remote gateways." But on second image we can see that the option "Allow gat

[2019-07-17 12:49] cfizz34 opened #35308 "Little more detail please"
How and where can I check all these options and/or set them via GPO?

The following settings are known to interfere with the ability to use and reset passwords on Windows 10 devices
If Ctrl+Alt+Del is required by policy in versions of Windows 10 before v1809, Reset password will not work.
If lock screen notifications are turned off, Reset password will not work.
HideFastUserSwitching is set to ena

[2019-07-17 12:52] shashishailaj commented on #35307
@ashamrai Thank you for your feedback . We will investigate and update this thread accordingly.

[2019-07-17 12:52] snefs opened #35310 "Inform about the SSL Policies (implicitly required by APIM)"
proposal to update information on page
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway

The default security protocol in APIM is TLS 1.2, in the Application Gateway WAF V2 this is TLS 1.0, include a reference in "Step 4" / "Step 5, that the Predefined policy: AppGwSslPolicy20170401S should be configured: (https://docs.microsoft.com/en-u

[2019-07-17 12:53] shashishailaj commented on #35287
Thank you for providing the case number [15293436] , I am trying to find the details on the same and will update it accordingly.

[2019-07-17 12:55] shashishailaj commented on #35010
@Hbaele We are trying to find more information on this and will update the thread accordingly.

[2019-07-17 12:56] #35091 closed

[2019-07-17 12:56] Kazzan commented on #35286
And Microsoft 365 Business now have full Conditional Access policies now, not even the baselines.

[2019-07-17 12:56] shashishailaj commented on #35175
@cmmdesai Could you please take a look into this one?

[2019-07-17 12:57] AmanGarg-MSFT commented on #35077
@PingPongSet You can follow the below documentation to define a container that is dependent on another container using ASP.NET Core:

https://docs.microsoft.com/bs-latn-ba/azure/dev-spaces/multi-service-netcore

Here is an example of how to deploy a multi container app to AKS:

https://github.com/dotnet-architecture/eShopOnContainers/wiki/10.-Deploying-to-Kubernetes-(AKS-and-local)-using-Helm-Char

[2019-07-17 13:07] alexito-rui commented on #35304
https://docs.microsoft.com/en-us/azure/virtual-desktop/manage-app-groups

[2019-07-17 13:29] cecilphillip commented on #35181
I created a new Function app and changed the NuGet package version fro AppInsights, but still getting the same errors.

This still doesn’t work for me. Here are all my details

**Code**
[code]
**Project file**
[code]

**Functions runtime**
[code]
@lolekjohn do you have the same version of core tools and the runtime?

[2019-07-17 13:35] KepanoEgg commented on #34798
The issue was that I glossed over the "must be lower case" part.

[2019-07-17 13:38] lolekjohn commented on #35181
@cecilphillip Why are you using

in the constructor?

[2019-07-17 13:41] cecilphillip commented on #35181
The code snipped was just to validate issue I was having. I’m pulling in `TelemetryConfiguration` in my current project because I’m using it to initialize `TelemetryClient`.

Also, I’ve sorted this out with 2.9.1. I needed to add `APPINSIGHTS_INSTRUMENTATIONKEY`

[2019-07-17 13:43] srife commented on #35176
I'm glad it was something simple.

Thanks for you efforts.

[2019-07-17 13:43] #35176 closed

[2019-07-17 13:44] KepanoEgg opened #35313 "Just doesn't work"
The previous step in these tutorials explicitly stated that I should expect an error because my token is only valid on my non-B2C tenant. This step does nothing to fix that. Aside from the fact that the js app doesn't work, I also can't test the API directly like the supplied index.cshtml says, because the token link on the sample html points to fabrikam, and there is nothing in this tutorial abou

[2019-07-17 13:45] ManojReddy-MSFT commented on #35247
@xcactusx It should be a single comment "Wrapper to disable the MFA with the option to keep MFA methods (to avoid having to proof-up again later)". I have updated the article accordingly.

The function is Disable-MFA is described under this comment. Proof-up basically means having to register for MFA again. This includes registering your phone or mobile app etc.

Both the commands and the function

[2019-07-17 13:46] KepanoEgg commented on #35313
Also, a side note for the whole docs.microsoft team, there isn't a catch in place that makes sure I actually want to redirect if I have unsubmitted text in one of these feedback boxes.

[2019-07-17 13:49] 1993Saurabh commented on #30858
Hi,
Actually I created azure function as per step mentioned above and put the url of that function into TrustFrameworkExtensions.xml file as per guidelines mentioned above. But any how file is not able to access the URL of the function and throwing me the 404 not found error. Any help in this regard would be really helpful.

[2019-07-17 13:50] KepanoEgg commented on #30595
@mmacy So the next step has me set up an API on my B2C tenant as well, so the token still won't work, because it's not on my AD tenant.  Did I miss a step there?

[2019-07-17 13:52] brettsam commented on #35181
@cecilphillip and I were chatting on IM -- there's 2 things I think we should do in the docs:
- Mention that if you're running this locally, you should set `APPINSIGHTS_INSTRUMENTATIONKEY` in your local app settings.  None of the App Insights services are registered unless that key is present, so you'll get errors like this -- or you may not see your `ITelemetryInitializer`s get called.
- It may b

[2019-07-17 13:54] rjosephp commented on #35136
I have deleted the resources now. However, I also have tried disassociating/removing all the NSGs from all the NICs and Subnets, which also never worked. I can try recreating the setup again. But, I would like to get it confirmed that it is possible to deploy an API Management instance to a virtual network in which an ASE ILB is already deployed, and expose the API endpoint to internet thus not ex

[2019-07-17 13:55] RanjithPC opened #35314 "How Get Error ExecutePipeline Activity"
# How Get Error Message from ExecutePipeline Activity
Error
{ "errorCode": "BadRequest", "message": "Activity GetPDDMetadata failed: The required Blob is missing. ContainerName: https://dasdsadds.blob.core.windows.net/inbound, ContainerExist: True, BlobPrefix: PDDMaster/, BlobCount: 0.",
"failureType": "UserError",
"target": "ExecutePipelinePDD" }

I have used @{activity('Activity parent-control-s

[2019-07-17 14:07] anno1985 opened #35315 "Specify what RegEx rules engine you use for Verizon Premium RegEx Rules Engine and whether escaping special characters in character groups is necessary"
Can you please specify what regular expression engine you use for Verizon Premium Rules, as there are differences in syntax between engines? In particular, can you please specify if special characters, such as question marks (`?`), need to be escaped in a negated character group (`[^]`), i.e. if it's `[^?]` or `[^\?]` that's required?

That information would probably best go into this section:
htt

[2019-07-17 14:16] lolekjohn commented on #35181
It would be better if the Documentation in [https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-custom-telemetry-in-c-functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-custom-telemetry-in-c-functions) is updated accordingly so that the correct app insights can be used

[2019-07-17 14:20] lolekjohn opened #35316 "Adding Custom Dimension to Request Telemetry - Azure functions"
I am creating a new Function app using v2.x and I am integrating Application Insights for request logging that is automatically being done as Azure Function is now integrated with App Insights (as mentioned in the documentation [link](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#log-custom-telemetry-in-c-functions)). What I would need to do is log few custom fields i

[2019-07-17 14:22] nromyn opened #35317 "GroupMembershipClaims in Server Application Manifest"
Is there a reason that, in the manifest, we must use groupmembershipclaims : All instead of SecurityGroup? Does AKS require O365 group membership?
Because the option exists, I need to justify the setting to the security team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Version

[2019-07-17 14:22] jcbrooks92 opened #35318 "Keyvault App Setting integration does not use the outbound connections from the web app"
This feature does not guarantee the use of the outbound IPs of the web app for the integration. I'd recommend documenting this to avoid customers creating firewall rules that may break this functionality. Also Regional VNET integration does not support the usage of Service Endpoints to Keyvault.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-17 14:24] brettsam commented on #35181
@lolekjohn -- my comment says that we need to update the docs... is there something different you'd like the docs to say than what I listed? What do you mean by the "correct app insights"?

[2019-07-17 14:26] Skorfulose commented on #35287
After spot-checking I found that users shown as "SSPR disabled" do not have the AAD P1 license assigned. Which makes sense from our business perspective since those are either shared mailboxes or users who left the company. So it seems like it's not an error in the report per sé. But maybe there should be a note directly on the report blade and a hint in the docs, too.

[2019-07-17 14:27] jakaruna-MSFT commented on #35274
@pixelmosh Thanks for your feedback. I will reproduce this issue in my environment and let you know.

[2019-07-17 14:29] RyanHill-MSFT commented on #35318
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-17 14:31] thecpshah commented on #35204
The storage account that I am trying to link is of type `BlobStorage` as opposed to `Storage` or `StorageV2`. Does it have any impact?

[2019-07-17 14:32] ThomasRebel opened #35319 "TypeError"
Hi, I tried the quickstart for Node.js, but it didn't work. I get in Windows PowerShell an Error: TypeError: TrainingApiClient is not a constructor. I don't know how to fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b0b948d-72c1-101f-d564-e0d45e7a711f
* Version Independent ID: daaab8d8-bbfe-3ea4-3fee-5bbecb34b

[2019-07-17 14:34] lolekjohn commented on #35181
My bad. I don't have anything else to be added. I meant correct App Insights nuget package can be used.

[2019-07-17 14:34] NavtejSaini-MSFT commented on #35264
The mentioned query using sys.tables is just for tagging the string ''My Query'' to the query. This particular tag or label can then be used as a mechanism for locating problem queries. So this will be a two step process:

1) Adding the LABEL to the query using below:
SELECT *
FROM sys.tables
OPTION (LABEL = 'My Query Label');

2) Querying DMV using the LABEL:
SELECT  *
FROM    sys.dm_pdw_exec_req

[2019-07-17 14:40] SharePointing commented on #33100
Yeah, We found that, but the popup approach is horrible with most browsers not liking popups (or users who use popup blockers)

We've been working with some folks on your engineering team to get some samples and guidance here (Progressive Frame Approach I think they are calling it)

My point for this issue is that it seems to indicate in the intro that you can in fact so this sealessly in a SPA ap

[2019-07-17 14:42] tfitzmac commented on #35276
@jarrad-obrien - unfortunately, there is no way to query the value for whether the tag is supported in the cost report. That part is maintained through ad-hoc changes. I need to reassess the query that determines if a resource type supports a tag.

[2019-07-17 14:43] JasSuri commented on #33100
Ok now i understand. We can make an amendment so its more explicit.

[2019-07-17 14:46] RyanHill-MSFT commented on #35318
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-17 14:48] brettsam commented on #35181
Oh, sure -- note that the package I mentioned above does reference the real App Insights as a dependency, it just may be slightly behind the newest public version.

Some more details for anyone else that may stumble across this:

The scenario where you get into these cases where types aren't found, using the current state as an example:
1. Functions references the [Microsoft.Azure.WebJobs.Logging.

[2019-07-17 14:52] JasSuri commented on #35209
You cannot use the `AdditionalRequestQueryParameters` key within an OIDC Technical profile.
But since OAuth2 technical profile can act very much the same as OIDC technical profile, you may find that you can still federate successfully with it and then make use of `AdditionalRequestQueryParameters` too.

For example, here is federation with AAD using OIDC technical profile:
[code]
And here it is us

[2019-07-17 14:56] ManojReddy-MSFT commented on #34797
@HarrisburgUSysAdmin We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-17 14:56] #34797 closed

[2019-07-17 14:57] ManojReddy-MSFT commented on #34880
@antede We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-17 14:57] Pavankumar9989 opened #35320 "Incorrect URL mapping"
the URL mentioned under "Next Steps" points back to the same page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a509189a-4c43-fc57-c207-4e5d521b9fb5
* Version Independent ID: ffe0e79d-77df-18b4-cdbd-c223c1130684
* Content: [Monitoring of SAP HANA on Azure (Large Instances)](https://docs.microsoft.com/en-us/azure/virtu

[2019-07-17 14:58] ManojReddy-MSFT commented on #34998
@jbagh Can you help me with the links that are not working for you?

[2019-07-17 15:03] seanbetts commented on #34913
@diberry I submitted the feedback as requested a couple of days ago but haven't heard anything back?

[2019-07-17 15:05] OlegKarasik commented on #8975
Hi @erikadoyle,
I understand importance of priorities but at the same time I am not sure why this issue is being closed? I am quite sure no one would ever review closed issue queue to understand whether issue was solved or just closed. Therefore this issue (even taking in account it is non critical) wouldn't be resolved. This kind of actions make the idea of issue reporting quite useless.

In my u

[2019-07-17 15:11] bengimblett opened #35322 "wadcfg when used in a template for EventHubs sink"
At the time of writing there's an issue with updating wadcfg through a template if you choose to also include an EventHubs sink - e.g. "SinksConfig": { "Sink": [  {  "name": "MyEventHubSink", "EventHub": { "Url": "&lt;url&gt;", "SharedAccessKeyName": "&lt;saskeyname&gt;" } } ] } instead use powershell to update the wad config, in this use case, as described here: https://blogs.msdn.microsoft.com/g

[2019-07-17 15:13] ckssaas commented on #34423
@MicrosoftGuyJFlo @PRMerger15 This was closed but not resolved. If there are supposed to be two separate features, one of which is only hydrated by Azure AD Basic and above, then that is NOT the case. Either the [pricing page](https://azure.microsoft.com/en-us/pricing/details/active-directory/) is wrong or the service as you describe it is broken. This topic [has been brought up elsewhere and has

[2019-07-17 15:14] bengimblett commented on #35322
the issue is that logs won't transfer through the EH sink (metrics will). This can only be solved updating the config directly. Ref CSS 119061722001234

[2019-07-17 15:14] josephbnb opened #35323 "Restore removed default API access"
By default when you open the "API access" tab, you can see "Access the user's profile" with "openid" and "offline_access" permissions. You can delete this row but it seems like you cannot restore it.

I only found a 2 year old article stating that you can delete it, but without any info on how to restore it. I am currently facing this issue, I accidentally deleted "Access the user's profile" row s

[2019-07-17 15:15] RyanLWilliams opened #35324 "GatewayManager rule makes no difference"
https://docs.microsoft.com/en-us/azure/bastion/bastion-nsg#nsg the rules described in this section are not needed when using the default rules. In fact, I  only allowed my public IP inbound on port 443and Bastion still worked so a little confused.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc46ceac-e45e-6f29-dd5b-6

[2019-07-17 15:17] BhargaviAnnadevara-MSFT commented on #35066
@PingPongSet Could you please verify if you have your intended subscription set to be the current active subscription?

[az account show](https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az-account-show) should get you those details. If not, please use [az account set](https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az-account-set) to set the right

[2019-07-17 15:20] BhargaviAnnadevara-MSFT commented on #34544
@mwwski Could you provide us with your Azure DevOps organization name?

Ex: https://dev.azure.com/{yourorganization}

[2019-07-17 15:24] shashishailaj commented on #35304
@alexito-rui Thank you for clarification.

[2019-07-17 15:24] diberry commented on #34913
@seanbetts - thanks for letting me know - I'll see if they can take a look.

[2019-07-17 15:29] mmacy commented on #35313
@KepanoEgg thanks for the notification on this, I'm going start a verification pass on these today.

#assign @mmacy

[2019-07-17 15:31] towkneed commented on #35075
We were rolling out registration two days ago so I used powershell to update the states.  I discovered an issue with the bulk update file which would indicate why the page never showed a success message (although it did not show a failure message either - just blank after several minutes).

We don't use conditional access policies in Azure.  These are synced Windows AD accounts and we plan on cont

[2019-07-17 15:39] snehithm commented on #35126
This is currently not supported for alerts. We have the operator "Exclude" but this is not currently supported.

[2019-07-17 15:43] Karishma-Tiwari-MSFT commented on #34782
@Haladu Let me know if you sent an email.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-17 15:43] #34782 closed

[2019-07-17 15:43] snehithm commented on #22794
Please note that the column is "Select *" and not just select. This basically means that you are selecting all possible values for this dimension. If you just want to monitor API response with response code = 500, you will need to select it from the drop down. If the value is so far not emitted, you can use the "+" button next to the drop down to add values to the drop down and then select them.

[2019-07-17 15:44] snehithm commented on #16842
#please-close

[2019-07-17 15:44] #16842 closed

[2019-07-17 15:44] towkneed commented on #35075
And btw, the integration with ADFS has been working for a while, this is not an issue - we have multiple relying party trusts and multiple applications that have been using it.

[2019-07-17 15:46] BhargaviAnnadevara-MSFT commented on #33422
@zr-msft Thanks for the update!

[2019-07-17 15:54] PatAltimore commented on #35005
@albertoaguzzi74 Can you verify you are using web3 version 1.0.0-beta.37? I don't know if you noticed that in my first response?

Thanks,
Pat

[2019-07-17 15:54] eross-msft commented on #34973
@shashishailaj  I will look into adding this content to the backlog. I'm adding the item to my task backlog and closing this issue.

#please-close

[2019-07-17 15:54] #34973 closed

[2019-07-17 15:58] eross-msft commented on #34788
@kumarallamraju  Thank you for this update. I'm adding @msaburnley as she is the new owner of this content and will be the one to make the change.

[2019-07-17 16:01] masautt commented on #35166
Hi @ram-msft, any update on this?

I'm curious if this is a possibility and if not, a possible feature down the road. We have many departments at my company that are interested in making an FAQBot but I don't want to force them to use the web portal.

The fact that QnA maker is able to build a knowledge base off of a CSV file is amazing, but if it's able to  import alternative phrasings as well th

[2019-07-17 16:13] mrbullwinkle commented on #27169
This issue has been addressed. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-07-17 16:13] #27169 closed

[2019-07-17 16:18] adamjones-OIA commented on #35258
Hello Mike, Thanks for the reply.  Is the following statement is true:  If we have one Function App with multiple functions, the design is to have them all share one configuration file.  Both locally and in the cloud.

For my case, I'd like two Azure Blob Storage trigger functions.  For Example, I have the blob trigger path a configuration because I have multiple environments:

[code]

This would

[2019-07-17 16:20] bdschaap commented on #35126
Thank you

[2019-07-17 16:20] #35126 closed

[2019-07-17 16:21] RogueRice opened #35326 "blocked by CORS policy"
I am trying to get a local deployment to work but I'm getting "*Error: Oops, there was no response fro the server." on the Dashboard page. Looking into chrome console, I get these errors:

![image](https://user-images.githubusercontent.com/44212753/61392753-895ded00-a88d-11e9-916f-65bd9d2391d9.png)

I am running all the services locally and deployed Azure resources using pcs cli.

I've stuck on th

[2019-07-17 16:27] albertoaguzzi74 commented on #35005
Spoken to other developers and the way to go in uninstall everything, follow the exact steps and migrate! This should do the trick. As others are able to migrate to ABS I will be so as well. Thanks for responding quickly! This issue may be closed.

[2019-07-17 16:35] albertoaguzzi74 commented on #35005
Spoken to other developers and the way to go is uninstall everything, follow the exact steps and migrate! This should do the trick. As others are able to migrate to ABS I will be so as well. Thanks for responding quickly!

[2019-07-17 16:35] #35005 closed

[2019-07-17 16:37] MikeChristensen opened #35327 "Does this apply to VM Scale Sets or only VMs?"
The `Set-AzVMCustomScriptExtension` seems to take a parameter for a single VM.  What if you want to change the template for the scaleset, so that any new machines added will automatically have that extension?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6

[2019-07-17 16:39] MikeChristensen commented on #35327
I found `Add-AzureRmVmssExtension` but this doesn't seem to apply to custom script extensions.

[2019-07-17 16:40] tchristiani commented on #35015
Updating the language in the samples and the quickstarts is being triaged and added to the backlog for resolution as quickly as possible.
#please-close

[2019-07-17 16:40] #35015 closed

[2019-07-17 16:41] rezasherafat commented on #33973
As I mentioned, the 4KB meter size is the increments by which you consume your 160KB/sec/unit, which makes it in fact very relevant!

See my earlier response for few examples.

[2019-07-17 16:47] seanbetts commented on #34913
Thanks @diberry, appreciate it

[2019-07-17 16:50] djpmsft commented on #29560
Hi there,

There are no missing dataset or activity System Variables from this list. Variables such as @activity('activityName').output are a different concept and should not be included in this doc.

Pipeline variables are user-created, not System variables, that can be accessed via @variables('variableName')

As there is no specific ask, I am closing this issue.

-Daniel

[2019-07-17 16:52] djpmsft commented on #29560
closed #29560

[2019-07-17 16:54] djpmsft commented on #29560
#please-close

[2019-07-17 16:54] #29560 closed

[2019-07-17 16:56] HJToland3 commented on #20444
@Anmolgan81, this note appears at the top of the article:

"For online migrations from SQL Server to an Azure SQL Database managed instance using Azure Database Migration Service, you must provide the full database backup and subsequent log backups in the SMB network share that the service can use to migrate your databases. Azure Database Migration Service does not initiate any backups, but rather

[2019-07-17 16:57] cocowalla commented on #33973
Well, yes, but you also used other sizes in your examples, which surely means the relevant part is the 160KB/s limit?

Maybe I'm missing something, but the "meter size" appears to be completely arbitrary (rather than something predefined by Azure) and simply means "the size of a any given message"? Or does Azure have a 4KB minimum, such that a 100 byte message will still count as 4KB towards the l

[2019-07-17 17:01] tchristiani commented on #35297
Doc update has been merged.
#please-close

[2019-07-17 17:01] #35297 closed

[2019-07-17 17:02] tchristiani commented on #35152
The fix for this doc was merged.
#please-close

[2019-07-17 17:02] #35152 closed

[2019-07-17 17:10] rezasherafat commented on #33973
Yes, this is correct.

[2019-07-17 17:10] Anmolgan81 commented on #20444
Maybe it appears now, but not that time when I raised this query.

Regards
Anmol Ganju

________________________________
From: H. James Toland III <notifications@github.com>
Sent: Wednesday, July 17, 2019 10:26:35 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Does Online Managed Instance Migration requires a file share with databases backups or ju

[2019-07-17 17:11] trrwilson commented on #33709
Thank you for reporting! We just missed the snap of the code in github for the previous release, but the latest release does include the content as advertised. You can find it under the samples repository, a current link being https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/quickstart/virtual-assistant/csharp-uwp/helloworld

[2019-07-17 17:13] vinapp commented on #34611
@YASWANTHM-MSFT, @mike-urnun-msft, @normesta, Any updates on this ?

[2019-07-17 17:20] Karishma-Tiwari-MSFT commented on #35316
@lolekjohn
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-17 17:22] ggailey777 commented on #34999
@tjgalama I'm working on tracking down info on this new app setting. Thanks for pointing out the content gap.

[2019-07-17 17:22] Karishma-Tiwari-MSFT commented on #35314
@RanjithPC
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-07-17 17:24] ggailey777 commented on #22274
#please-close

[2019-07-17 17:24] #22274 closed

[2019-07-17 17:25] Arifj8 commented on #35268
Any update on this please ?

[2019-07-17 17:25] shashishailaj commented on #32915
As this will be updated in future . We are closing this issue for now.

[2019-07-17 17:25] #32915 closed

[2019-07-17 17:26] tchristiani commented on #35155
The fix for this issue has been merged.
#please-close

[2019-07-17 17:26] #35155 closed

[2019-07-17 17:26] Karishma-Tiwari-MSFT commented on #35320
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-17 17:26] trrwilson commented on #33709
Trying to add it via an edit may not work, so given the prior message about this now being in sample repository and the issue being resolved: #please-close

[2019-07-17 17:26] #33709 closed

[2019-07-17 17:26] ggailey777 commented on #34200
@colbytresness are we missing a step or is `WEBSITE_RUN_FROM_PACKAGE` getting set to `1` a bug?

[2019-07-17 17:27] rezasherafat commented on #34955
@grizzljt, at this point `$iothuname` and `$twin` (specifically: `$twin.tags`, `$twin.properties.desired` and `$twin.properties.reported`) are the only supported variables for message enrichment.

[2019-07-17 17:27] MikeChristensen commented on #35327
Ok I believe I found some documentation on how to do this: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-install-apps-powershell

[2019-07-17 17:28] mmacy commented on #32915
Hi @shashishailaj, that update might not occur for a bit due to other ongoing work, so I will be updating the images in this article. Please reopen, thanks.

[2019-07-17 17:28] normesta commented on #34611
#reassign:fhryo-msft

[2019-07-17 17:28] ggailey777 commented on #34048
test

[2019-07-17 17:28] CeciAc opened #35328 "Ls is missing from the page"
@Johannes-Vink commented on [Wed Jul 17 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/448)

Hi, Lsv2 is listed on this page, however the L non v2 has been removed. On the pricing page the L4 is still listed.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: b7323e68-7415-ba43-47de-8d1738f7

[2019-07-17 17:29] CeciAc commented on #35328
Hi team,
I'm moving this here since it refers to the original documentation

Kind regards

[2019-07-17 17:29] ggailey777 commented on #34048
Tracked internally as work item [1567234](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1567234).

[2019-07-17 17:32] tchristiani commented on #33332
Solutions for fixing the errors are listed in the doc with links to perform the solutions in the original doc.

**When you receive an HTTP 403 error status code**
When you use all those free 1000 endpoint queries or you exceed your pricing tier's monthly transactions quota, you receive an HTTP 403 error status code.
To fix this error, you need to either change your pricing tier to a higher tier or

[2019-07-17 17:33] YutongTie-MSFT commented on #35319
@ThomasRebel Thank you for your feedback, we will investigate it and get back to you soon.

[2019-07-17 17:34] tchristiani commented on #33226
This issue is being moved to User Voice Forum / support.
#please-close

[2019-07-17 17:34] #33226 closed

[2019-07-17 17:36] ggailey777 commented on #33975
@ianmercer the article specifically says `storage account connection string`, which cannot be a SAS. A SAS is provided in an HTTP request to a specific resource URL in the storage account, which you can read about [here](https://docs.microsoft.com/azure/storage/common/storage-dotnet-shared-access-signature-part-1#what-is-a-shared-access-signature). I can't think of how to make that more clear. If

[2019-07-17 17:36] #33975 closed

[2019-07-17 17:36] ealsur commented on #34886
Name follows Azure Functions naming, where the service name is a prefix to the type of integration, like Event Hub Trigger, or Azure Signal R Output Binding, so the text in our articles should follow that.

The body of the articles mention Azure Functions, and the TOC is within Change Feed, not within programmability.

The title can be changed as you see fit, but the term "Cosmos DB Trigger" in th

[2019-07-17 17:40] eanyanwu opened #35329 "Reply URLs/redirect URls"
The new flow does not allow wildcards in reply urls, which we use. I imagine we are not the only ones either as a quick search for the topic shows blog posts that recommend the use of wildcards.

I'm wondering what the alternative would be if this is no longer possible?
Our use case: We use wildcards so that no matter which path a user hits in our app (they could have been given a link), they will

[2019-07-17 17:41] tchristiani commented on #35122
resolved.
#please-close

[2019-07-17 17:41] #35122 closed

[2019-07-17 17:44] HJToland3 commented on #20444
#please-close

[2019-07-17 17:44] #20444 closed

[2019-07-17 17:47] cocowalla commented on #33973
Ah, OK - this is what I was missing! If possible, it would be nice to update the docs to mention that documents are counted in blocks of 4K, and that ergo the maximum number of messages/sec/unit is 40.

As an aside as some product feedback, I'm really finding some of the IoT Hub limits, well, limiting :smile: Especially around cloud-to-device messaging and digital twins - it almost feels like the

[2019-07-17 17:49] Vijay-Karthick commented on #29555
Thanks stefano. I was stuck when the monitor logs mentioned fileName and folderPath are not available in triggerBody until I saw your comment.

[2019-07-17 17:53] tchristiani commented on #33591
This service is an unsupported lab. It is not a service in preview or GA.
#please-close

[2019-07-17 17:53] #33591 closed

[2019-07-17 17:55] Adam-Smith-MSFT commented on #35038
@ferrx thanks for the update, I'm not an expert in App Service, but it seems that the limit on file upload size is around 28.6MB per this [blog](https://blogs.msdn.microsoft.com/azureossds/2016/06/15/uploading-large-files-to-azure-web-apps/) , the blog also provides a way to change the web config to allow large file upload using App service, can you give it a try and let me know if this works?

[2019-07-17 17:57] tchristiani commented on #30470
This is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 17:57] #30470 closed

[2019-07-17 18:01] NavtejSaini-MSFT commented on #35156
@jovanpop-msft You should have a review request for this PR. @CarlRabeler for awareness.

[2019-07-17 18:02] Adam-Smith-MSFT commented on #35295
@rcih-tolley There aren't any limits on the number of blobs within a container, the current limits for storage accounts are as below:

Maximum storage account capacity:  2 PB for US and Europe, 500 TB for all other regions, which includes the UK
Maximum number of blob containers, **blobs**, file shares, tables, queues, entities, or messages per storage account : No limit

I'd recommend checking th

[2019-07-17 18:02] #35295 closed

[2019-07-17 18:04] CarlRabeler commented on #35156
@julieMSFT @stevestein for awareness

[2019-07-17 18:05] MashaMSFT commented on #34815
#please-close

[2019-07-17 18:05] #34815 closed

[2019-07-17 18:08] larrywa opened #35331 "Out of date"
This sample is out of date. Screenshots are not correct. Last updated in 2016, does this mean this functionality no longer exists? Although it shows how to build the logic app, it needs a more end to end approach where you show where to get the AS2 doc etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01308979-0d8a-7

[2019-07-17 18:08] KranthiPakala-MSFT commented on #29555
@djpmsft Hi Daniel, this doc needs to be updated. Could you please take a look.
Thanks.

[2019-07-17 18:11] phoenixfangor commented on #29343
Adding "index.js" to the "Default Documents" also did not work for me.
Our team did this exercise together and one teammate deployed to Linux without error. His deployment created a webconfig file that was needed and not created when deploying to Windows.

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <webSocket enabled="false" />
        <handlers>

[2019-07-17 18:13] Adam-Smith-MSFT commented on #35218
The current IOPS for blob storage are as follows: Blob standard is 20K. Premium has no limits.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-17 18:13] #35218 closed

[2019-07-17 18:15] rupeshprasad commented on #34160
Thanks for the response.
This solved the issue. However one step was missing to basically call the ClaimsTransformation from one of the technical profile and making sure CurrentTime claims is added to claims bag.

And just to complete the answer and for community to refer -
below claims also needs to be added

`<ClaimType Id="extension_LastLogonTime">
        <DisplayName>last time user logged in<

[2019-07-17 18:16] FrankHu-MSFT commented on #35329
@eanyanwu Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-17 18:17] FrankHu-MSFT commented on #35323
@josephbnb Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-17 18:17] #34160 closed

[2019-07-17 18:19] FrankHu-MSFT commented on #35308
@cfizz34 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-17 18:23] kumarallamraju opened #35332 "Suggestion to fix a typo"
[Enter feedback here]

Under Reduce costs by deleting or reconfiguring idle virtual network gateways

Do you mean to say "Virtual Network Gateways"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b703202c-7c7d-7177-6496-d1c61dacf22b
* Version Independent ID: f9ee0bcc-f74a-dbba-c9b9-f84bf7b800a7
* Content: [Reduce servic

[2019-07-17 18:27] CeciAc opened #35333 "better split of the naming of the two resourcegroups"
@bartjanson commented on [Wed Jul 17 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/449)

paragraph Why are two resource groups created with AKS?
describes two, but at the 1) it talks about the first AND the second group:
An example of the second resource group is MC_myResourceGroup_myAKSCluster_eastus. For information on how to specify the name of this second resource group, see t

[2019-07-17 18:29] CeciAc commented on #35333
Hi team,
I'm moving this here since the user is refering to the original documentation
best regards

[2019-07-17 18:30] mike-urnun-msft commented on #35310
Hi @snefs - Thank you for your feedback! We will review and update as appropriate.

[2019-07-17 18:32] mike-urnun-msft commented on #35331
Hi @larrywa - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-17 18:35] Alberto-Vega-MSFT commented on #34910
@aurangzaibumer777 Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 18:35] #34910 closed

[2019-07-17 18:36] A-A-Khawaja opened #35334 "Python function support"
Can python functions be used here? If yes then, which connection string should be used for python functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4785005-a130-a392-7b4a-c8c6d36bad37
* Version Independent ID: 6beb58e0-167c-c08d-46ff-13f72ddbaf31
* Content: [Use Azure Functions to perform a database clean up t

[2019-07-17 18:39] Karishma-Tiwari-MSFT commented on #29343
CC: @SnehaAgrawal-MSFT

[2019-07-17 18:45] NavtejSaini-MSFT commented on #35264
@ronortloff Can we edit this document to change the sequence of the execution or explain better the LABEL creation part. Assigning this to you for further review.

[2019-07-17 18:47] spelluru commented on #32285
#please-close

[2019-07-17 18:47] #32285 closed

[2019-07-17 18:50] kevinvngo commented on #31967
#please-close

[2019-07-17 18:50] #31967 closed

[2019-07-17 18:50] kevinvngo commented on #31967
https://github.com/MicrosoftDocs/azure-docs-pr/pull/82494

[2019-07-17 18:50] kevinvngo commented on #33901
https://github.com/MicrosoftDocs/azure-docs-pr/pull/82497

[2019-07-17 18:50] kevinvngo commented on #33901
#please-close

[2019-07-17 18:51] bnookala opened #35335 "Azure AD Permissions"
Under the [Azure AD server component documentation](https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli#create-azure-ad-server-component), you are instructed to run this line:

[code]

There's no explanation for what the GUID following `--api` is (I later figured out that it's the Graph API via https://www.shawntabrizi.com/aad/common-microsoft-resources-azure-active-directory/), or

[2019-07-17 18:53] Minewiskan commented on #18267
@Anmolgan81  - Please open a separate GitIssue regarding adding AAD group users, using obj:groupid@tenantid. This particular issue, #18267 is out of scope and closed.

[2019-07-17 18:55] tchristiani commented on #28052
Custom Decision Service is a lab. It is not a preview or GA service.
#please-close

[2019-07-17 18:55] #28052 closed

[2019-07-17 18:56] tchristiani commented on #27365
Resolution provided.
#please-close

[2019-07-17 18:56] #27365 closed

[2019-07-17 18:58] tchristiani commented on #27175
please add translator-text/subsvc tag to this issue.
Thank you!

[2019-07-17 18:58] diberry commented on #34913
@seanbetts The service team will look at this in the next day or 2.

[2019-07-17 19:00] tchristiani commented on #26240
Academic Knowledge is a lab. This is not a supported preview or GA service.
#please-close

[2019-07-17 19:00] #26240 closed

[2019-07-17 19:00] qianw211 commented on #33296
@pbutlerm Hi Patrick, could you please help answer this question?

[2019-07-17 19:01] TravisCragg-MSFT commented on #35294
@hkusulja All Azure Public IP Addresses are supported with Azure DNS alias records. Please let me know if you need any further clarification.

[2019-07-17 19:01] tchristiani commented on #26017
Please add the label speech-service/subsvc to this issue.
Thank you.

[2019-07-17 19:02] seanbetts commented on #34913
@diberry perfect, thank you for checking for me

[2019-07-17 19:02] Karishma-Tiwari-MSFT commented on #35333
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-17 19:03] tchristiani commented on #24890
Conversation Learner is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:03] TravisCragg-MSFT commented on #35300
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-17 19:03] #24890 closed

[2019-07-17 19:04] tchristiani commented on #24842
Please add the label speech-service/subsvc to this issue.
Thank you.

[2019-07-17 19:04] Karishma-Tiwari-MSFT commented on #35327
@MikeChristensen Thanks for sharing the update. Glad you were able to resolve it.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-07-17 19:04] #35327 closed

[2019-07-17 19:05] tchristiani commented on #24806
Please add the label language-understanding/subsvc to this issue.
Thank you.

[2019-07-17 19:05] robinsh commented on #29450
A direct method payload size between 0 and 4 KB will be counted as 4 KB. This means that you will be able to make 40 calls per second per unit before hitting the throttling limit of 160 KB/sec/unit. I'm adding a section to the doc for throttling limits that will provide more examples.

For your 2nd question, 50/sec only applies to when you invoke methods using jobs. If you invoke direct methods di

[2019-07-17 19:05] Karishma-Tiwari-MSFT commented on #35317
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-17 19:05] tchristiani commented on #24799
Academic Knowledge is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:05] #24799 closed

[2019-07-17 19:08] tchristiani commented on #24276
Academic Knowledge is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:08] #24276 closed

[2019-07-17 19:08] NavtejSaini-MSFT commented on #35226
@SnehaGunda We will wait for your confirmation regarding this issue. We are assigning the case to author for now.
@TWolverson If it is confirmed that such functionality doesn't exist right now. Please do add your idea to User Voice using the link - https://feedback.azure.com/forums/263030-azure-cosmos-db

[2019-07-17 19:10] gowallace opened #35336 "Logging in class-based entity programming model"
I see that I can add an ILogger parameter and dependency injection will populate it, but with the class-based entity programming model, how do I get access to the logger in my operations? Here is the example:

[FunctionName(nameof(Counter))]
   public static Task Run([EntityTrigger] IDurableEntityContext ctx, ILogger log)
   {
         log.LogInformation("Resource Manager Entity Run method.");

[2019-07-17 19:10] CeciAc opened #35337 "Exclude from baseline policy"
@GitTune commented on [Wed Jul 17 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/451)

This article says:  "If you have enabled a baseline policy, you should exclude your emergency access accounts." This was possible earlier, but not anymore…..

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

*

[2019-07-17 19:12] qianw211 commented on #34814
#please-close for not hearing back on the specifics...

[2019-07-17 19:12] #34814 closed

[2019-07-17 19:12] tchristiani commented on #23251
Academic Knowledge is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:12] #23251 closed

[2019-07-17 19:14] Karishma-Tiwari-MSFT commented on #35328
@Johannes-Vink The Ls series you are looking for is listed on the older generations page [here](https://docs.microsoft.com/nl-nl/azure/virtual-machines/windows/sizes-previous-gen#ls-series).
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discu

[2019-07-17 19:14] SnehaGunda commented on #35226
@TWolverson I received confirmation from the dev team, this feature isn't currently supported by the migration tool. Please use Portal, PowerShell or CLI to create the database with shared throughout ahead of migration.

As mentioned in the above comment, please file a uservoice request. We will now close the issue if there aren't further questions.

#please-close

[2019-07-17 19:14] #35226 closed

[2019-07-17 19:14] #35328 closed

[2019-07-17 19:15] tchristiani commented on #23249
Academic Knowledge is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:15] #23249 closed

[2019-07-17 19:16] Karishma-Tiwari-MSFT commented on #34689
CC: @jakaruna-MSFT

[2019-07-17 19:16] tchristiani commented on #22945
Resolved.
#please-close

[2019-07-17 19:16] #22945 closed

[2019-07-17 19:17] MicahMcKittrick-MSFT commented on #35335
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-17 19:17] RogueRice commented on #35326
Found it is a Chrome CORS issue. Work around by using Firefox (had to update it for it to work though). Apparently running chrome like this also works but I did not try it. Have too many tabs open rn:

chrome.exe --disable-web-security

[2019-07-17 19:17] #35326 closed

[2019-07-17 19:17] CeciAc commented on #35337
Hi team,
I'm moving this here since it refers to the original documentation
best regards

[2019-07-17 19:18] tchristiani commented on #22901
Please add the label speech-service/subsvc to this issue.
Thank you.

[2019-07-17 19:18] Karishma-Tiwari-MSFT commented on #35315
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-17 19:23] furlong46 commented on #35334
Really want Python support also!

[2019-07-17 19:23] MicahMcKittrick-MSFT commented on #35221
@ondrejhlavacek any update on this?

[2019-07-17 19:24] msmimart commented on #31844
@matthias-scharl, thanks so much for sharing this workaround - this solution will remain with the article as the UI bug is addressed. If you have further concerns just let me know, otherwise we'll close this issue for now and monitor progress of the fix internally.
#please-close

[2019-07-17 19:24] #31844 closed

[2019-07-17 19:24] MarileeTurscak-MSFT commented on #35213
I hope that the comments above answer your question! We will now proceed to close this thread. If you have further questions feel free to add them in the comments or open a new issue and we will gladly continue the discussion.

[2019-07-17 19:24] #35213 closed

[2019-07-17 19:25] tchristiani commented on #21276
Please add the label computer-vision/subsvc to this issue.
Thank you.

[2019-07-17 19:26] MicahMcKittrick-MSFT commented on #35303
@shadySirhan just to confirm, you are connecting to a Cloud Services VM correct? Not a standard IaaS virtual machine

[2019-07-17 19:27] tchristiani commented on #21235
Academic Knowledge is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:27] #21235 closed

[2019-07-17 19:28] VanMSFT commented on #29047
@dcbrown16 - Hi Dillion! Thanks for the suggestion! We normally do not put pricing information into our documentation on the feature. The reason is that this can change at any point, and our documentation in multiple places might be out of date. We do link the [Azure Security Center](https://azure.microsoft.com/en-us/pricing/details/security-center/) page that you can find the pricing.

[2019-07-17 19:28] Karishma-Tiwari-MSFT commented on #34407
@MikkelHegn Can you please help answer customer's question on Windows Node OS version update. Thanks. :)

[2019-07-17 19:28] TravisCragg-MSFT commented on #35315
@anno1985 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-17 19:28] tchristiani commented on #15210
Conversation Learner is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:28] #15210 closed

[2019-07-17 19:28] MicahMcKittrick-MSFT commented on #35317
@seanmck can you comment further on this?

[2019-07-17 19:29] tchristiani commented on #10712
Custom Decision Service is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:29] #10712 closed

[2019-07-17 19:29] mike-urnun-msft commented on #35334
Hi @A-A-Khawaja - Thank you for your feedback! While I haven't attempted this myself yet, it appears that you can review details on this issue: Azure/azure-functions-python-worker#441 which discussed the same scenario with a confirmed solution in the [comment](https://github.com/Azure/azure-functions-python-worker/issues/441#issuecomment-498457442).

[2019-07-17 19:29] tchristiani commented on #8350
Custom Decision Service is a lab. It is not a supported preview or GA service.
#please-close

[2019-07-17 19:29] #8350 closed

[2019-07-17 19:29] Karishma-Tiwari-MSFT commented on #34935
@mayanknayar Did you get a chance to take a look at the customer's question? Thanks :)

[2019-07-17 19:31] tchristiani commented on #8247
Please add the label qna-maker/subsvc to this issue.
Thank you.

[2019-07-17 19:31] MicahMcKittrick-MSFT commented on #35335
@bnookala That's fair feedback.

I will assign to the content author to review and see if we can make this section a bit more clear.

[2019-07-17 19:33] furlong46 commented on #35334
@mike-urnun-msft, that example doesn't appear to be using the same connector which provide bulk insert and update capabilities.
https://docs.databricks.com/spark/latest/data-sources/sql-databases-azure.html#bulk-copy-to-azure-sql-database-or-sql-server

[2019-07-17 19:34] tchristiani commented on #8210
Please add the label computer-vision/subsvc to this issue.
Thank you.

[2019-07-17 19:35] ondrejhlavacek commented on #35221
Hi @MicahMcKittrick-MSFT, thanks for getting back to me. I read the docs and creating a test scenario to test it out. Will let you know in a day or two, thanks for understanding!

[2019-07-17 19:37] Karishma-Tiwari-MSFT commented on #35035
This is true that 3 is the acceptable value for unmanaged disks. This doc talks about the fault domain number for managed disks. There is another [GitHub issue open](https://github.com/MicrosoftDocs/azure-docs/issues/23258) to update this information in the document. We will keep that issue open assigned to author to get it updated and close this issue.
If there are further questions regarding thi

[2019-07-17 19:37] #35035 closed

[2019-07-17 19:38] cgillum commented on #35336
@gowallace thanks for the question, and for trying out our preview. We don't have a good solution for this right now, but plan to address this in the next release (e.g. beta2). If you'd like to follow our progress, you can do so using this GitHub issue: https://github.com/Azure/azure-functions-durable-extension/issues/855

[2019-07-17 19:38] nezoic opened #35339 "Confused about two applications."
Do you literally have to create those exact two application to support the a custom policy or are these the application(s) that will use the custom policy? If the latter is the case, does that mean we need 2n applications for every custom policy + the actual application that will use the policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-07-17 19:39] Karishma-Tiwari-MSFT commented on #23258
@cynthn Please share if this information of number of fault domain for unmanaged disks can be updated in this document or any other document fit for it. Another customer had same question [here](https://github.com/MicrosoftDocs/azure-docs/issues/35035). Thanks :)

[2019-07-17 19:42] TravisCragg-MSFT commented on #35324
@RyanLWilliams These rules are recommended if you are applying an NSG to the AzureBastionSubnet. For your VM itself, you only need to allow RDP traffic from the AzureBastionSubnet, and this is [allowed by the default NSG Rule "AllowVNETInbound"](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#default-security-rules)

[2019-07-17 19:45] IEvangelist commented on #24640
Hi @secbug,

These are the only [formal recommendations](https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-how-to-install-containers#container-requirements-and-recommendations) that exist for host computer resources. If you're experiencing issues that imply these should be adjusted, please let us know.

Feel free to re-open this issue if you are able to provide details about reco

[2019-07-17 19:45] #24640 closed

[2019-07-17 19:47] RyanLWilliams commented on #35324
I’m a little confused why you would increase the management overhead (I know it’s only one rule) I even did a deny GatewayManager Inbound and it worked. The only difference I experience was if I was blocking 443 from my client or not.

[2019-07-17 19:48] ColbyTresness commented on #34200
If you've deployed from local, this setting will be populated as 1. It won't be set if you created from the portal. So it's definitely worth adding a call out to the document that you'll need to remove this for source control to work, if it's already present. I'll do that at some point.

[2019-07-17 19:50] Karishma-Tiwari-MSFT commented on #35304
@alexito-rui Are you requesting for this feature?
Please post this as a product feedback [here](https://feedback.azure.com/forums/34192--general-feedback). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-07-17 19:54] Karishma-Tiwari-MSFT commented on #35320
@RicksterCDN Should this link be pointing to [Monitoring and troubleshooting from HANA side instead.
](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/hana-monitor-troubleshoot)
Please confirm and I will update the doc. Thanks :)

[2019-07-17 19:55] TravisCragg-MSFT commented on #35324
@RyanLWilliams Denying the traffic can cause other issues, and some of these rules are compensating for features that will be coming in the future. Denying traffic to the "GatewayManager" service tag will likely not cause issues with an RDP session, but it can cause issues when updating your Azure Bastion.

NSGs are not required or necessary from the AzureBastionSubnet, this article states what to

[2019-07-17 19:59] cynthn commented on #23258
#pri3

[2019-07-17 19:59] SnehaGunda commented on #34593
@guevaraf I reached out to our dev team and here are the responses to your questions:

1.   Is the slicing and dicing happening on client side or on cosmos db side?
        **Yes, this is done on client side. For optimal performance, we recommend using at least a 16core/64GB machine.**
2.     If the transactionability is online insured at mini-batch level, we should assume bulk executor IS NOT tra

[2019-07-17 20:00] MarileeTurscak-MSFT commented on #34556
As of yet it is not. I will update this if I get any new information from the PG.

[2019-07-17 20:00] #34556 closed

[2019-07-17 20:03] RyanLWilliams commented on #35324
I see. Thanks for clarifying that RDP would still work but that Gateway Manager would not be able to update Bastions. I also assume if the allow rule is not in place on the AzureBastionHost subnet before hand any new Bastion Hosts would fail to deploy? (I haven’t tested this). I re-read the article but I can’t see any mention of what Gateway Manager does. Is it on another article?

Appreciate the

[2019-07-17 20:04] MarileeTurscak-MSFT commented on #35231
@1trevor  The next paragraph explains how to handle those accounts. "For user accounts synced from on-premises AD using Azure AD Connect Sync, you need to configure Azure AD Connect to synchronize password hashes in the NTLM and Kerberos compatible formats."

Have you already done this?

@iainfoulds

[2019-07-17 20:05] timmyreilly commented on #35057
Thank you for the clarifications @PramodValavala-MSFT, I'm going to be doing some performance testing this week to see if I can confirm my understanding. I'll keep you updated!

[2019-07-17 20:08] hintbw opened #35341 "Missing information about required permissions to choose an existing organization"
When selecting an existing Azure DevOps organization (versus creating a new one), there is no information provided about the required Azure DevOps permissions required for this to succeed. We have individuals in our organization who would like to use this, but they are (and can't be) project collection administrators, but it seems like that is the required permissions to use Azure DevOps Projects

[2019-07-17 20:11] albrokke commented on #15252
Suggested edits to the document

Logs for the service can be found in
Ubuntu /var/log/auth.log
RedHat …
CentOS …

You can find errors related to the service by grepping for
pam_aad

Errors like
 pam_aad(sshd:auth): CURL: Failed to call https://pas.windows.net/CheckMyAccess?api-version=2018-01-01 (35) indicate the server is not able to communicate with the device login service.

The AADLoginforLinu

[2019-07-17 20:12] MicrosoftGuyJFlo commented on #35286
It is still a method people can use so the doc will remain. The doc references the Conditional Access method and links to the doc for that.

[2019-07-17 20:14] MicrosoftGuyJFlo commented on #35308
They can be set via Group Policy or Intune CSP. I can add a link to the top level pages for them in the next steps sections.

[2019-07-17 20:23] jreinhardtiv4 opened #35343 "50201 Not Documented"
Hey, 50201 isn't documented. Can this be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/

[2019-07-17 20:23] SnehaGunda commented on #34934
**Yes for the write requests to succeed, you should have automatic failover option enabled. Ususally for production workloads, to help with disaster recovery scenarios data is always replicated in multiple regions and the automatic failover option is turned on before the outage happens. So you don't really act after detecting the outage, it's already configured and requests are redirected to the n

[2019-07-17 20:25] GMinchAQ commented on #29981
The admin password was hardcoded to simplify the tutorial. It's definitely not a best practice, and neither is hardcoding the client secret in the provider block. We're currently working on an article about managing secrets in Terraform that will provide more detailed guidance about this topic.
We recommend using a managed identity for Terraform whenever possible, and ssh keys or certificates to a

[2019-07-17 20:26] #33076 closed

[2019-07-17 20:28] nezoic opened #35344 "Testing Instructions."
I'm not sure if I did something wrong but my policies uploaded, however I cannot test them according to this documenation.

"Under Custom policies, select B2C_1A_signup_signin." When I do this I only see a blank blade in the portal, the only option is to delete the policy. I do not see any applications to select.

"For Select application on the overview page of the custom policy, select the web ap

[2019-07-17 20:31] SnehaGunda commented on #34624
@matthawley Do you have any update to share on the comment above?

[2019-07-17 20:32] rambk commented on #35307
Thank you all. As I mentioned to TravisCragg-MSFT I have rewritten the sentence and awaiting the following PR to get merged.

https://github.com/MicrosoftDocs/azure-docs/pull/35342

[2019-07-17 20:32] Klaas- commented on #15252
RHEL/CentOS would be /var/log/secure; it's more than just pas.windows.net, if you enable debug mode for the pam module you'll see the urls it calls in logs

[2019-07-17 20:34] #33077 closed

[2019-07-17 20:34] TravisCragg-MSFT commented on #35307
@ashamrai The doc has been updated, and the changes should be live within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-17 20:34] #35307 closed

[2019-07-17 20:35] albrokke commented on #15252
Then please also add detailed instructions for enabling debug mode.  I would also suggest passing on the dependencies to the Azure Firewall team so these become part of the "azure service" rules out of the box.  Debugging this is painful.

[2019-07-17 20:37] matthawley commented on #34624
@SnehaGunda and @KalyanChanumolu-MSFT

I'm really asking about the following statement:

Direct | HTTPS | .NET and Java SDK | Ports within 10,000-20,000 range

Call me crazy, but I don't think this uses ports in that range considering it's functional in Azure App Services when Direct + TCP isn't (likely due to the TCP ports in that same range not being available). Our AppInsights tracing indicates

[2019-07-17 20:38] #35308 closed

[2019-07-17 20:38] pixelmosh commented on #35274
Thank you very much for looking into this.

I'd like to keep trying on my end as well. Are there steps I can follow to do a full reset and start from scratch? Though I believe I followed the tutorial to the letter, I'd like to rule out any mistakes on my end.

Thank you!

[2019-07-17 20:39] FrankHu-MSFT commented on #35232
Hey Madtown, I'm following up on this. I will be closing this issue out if there's no response by end of day today. If you have anymore questions within the scope of this issue please reopen it and we can continue working on the issue.

[2019-07-17 20:41] xcactusx commented on #35247
Thank you, your response was incredibly helpful...even giving me a way to test on a subset of users vs running universally the first time.

[2019-07-17 20:42] FrankHu-MSFT commented on #35323
@josephbnb you may have to recreate the AAD B2C Application, it looks like there is currently an issue with re-initializing the scopes. Thanks for the feedback, I'm currently looking into this and will let you know as soon as possible once we have an update.

Thanks!

[2019-07-17 20:43] gardner8689 opened #35345 "Missing Security Setting from page"
Found out from a Microsoft support rep today that there is a setting under "Security" called "UseSecondaryIfNewer" that defaults to True upon creation of a cluster.

With this setting set to True you can not use the Primary Cert to connect to the cluster if the secondary Cert is newer by even 1 second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-17 20:44] niheinba opened #35346 "Typo in Email Addres"
The email address is listed as "askgrid@microsoft.com" which is right, but the actual value of the hyperlink is "askgrid.microsoft.com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e3faf4-5ce6-02de-593e-6fef7cb11017
* Version Independent ID: 0ee16b16-d4dd-1743-2431-4d8cbb38c170
* Content: [Event Domains in Azure Ev

[2019-07-17 20:51] KellyDF commented on #8210
The max image size has been expanded to 4200x4200 and the documentation has been updated

[2019-07-17 20:51] cwarne commented on #35204
I am also seeing the same issue when trying to add a blob storage Datastore to a Workspace with message: "Registering datastore failed with a 400 error code and error message 'Credential Service error due to user error ex'"

I have also ran the `pip install --upgrade azureml-sdk` command to no avail.

[2019-07-17 20:52] jdyke commented on #29981
Whatever is decided as far as the documentation goes, a lot of individuals follow the tutorials literally so hardcoding passwords should be avoided. Moving to a variable isnt the most secure / best option sure but its the simplest to display with minimal changes required which is why I recommended that. This PR was basically my way of asking for the hardcoding to be removed from the documentation.

[2019-07-17 20:52] jdyke commented on #29981
Also, thanks for the feedback.

[2019-07-17 20:53] tchristiani commented on #8210
#please-close

[2019-07-17 20:53] #8210 closed

[2019-07-17 21:00] mike-urnun-msft commented on #35334
Hey @furlong46 - Could you clarify which step in this documentation the connector you're referencing is being used? Should this detail be outside of scope for this documentation, it might be best to open an MSDN thread and we'd be happy to assist you further on that channel.

[2019-07-17 21:04] anavinahar commented on #34514
PR: https://github.com/MicrosoftDocs/azure-docs/pull/35189

[2019-07-17 21:07] JimacoMS3 commented on #10205
HI @Ardutec, let me know if any of the above helped.

[2019-07-17 21:07] Lukenyc opened #35347 "SAML Response not found, Only supported HTTP_POST Binding"
After following this article and speaking to both Azure and Expensify support, we are still having an issue with the login.  After selecting the application from the available apps on apps.company.com (azure apps portal) it takes us to an Expensify page with the following error: "SAML Response not found, Only supported HTTP_POST Binding".   We are able to enter an e-mail address on this page and s