[2022-04-12 19:04] chalewi commented on #90232
x2 on this post. In the "Move a custom configuration from the active server to the staging server" we call out things like "changing the connector guid", but if you use the new Export/import capability the connector guid actually becomes the same on both servers and the swing migration still works fine. it seems like the connector guide doesn't really matter. If you spin up a new Staging server wi

[2022-04-12 19:10] dejan-shuki opened #91438 "--spn parameter of az keyvault set-policy is not name and not object id, but application id"
The error that CLI is returning is: "Unable to get object id from principal name."
Documentation is actually saying that it is a name.

It is neither of those - it is Application (Client) ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e05496c-5e47-c85c-f092-b390a628d848
* Version Independent ID: 09c3aa4a-8d4f-6440

[2022-04-12 19:14] Oury-MSFT commented on #91435
@Kalamazoo-DBA Thank you for raising this Git Issue to help us improve our documentation. I saw you mentioned above tip. Are you suggesting making some changes in the doc or to add the above text?

[2022-04-12 19:24] Remc0000 opened #91439 "Deploying databricks will give warnings in azure advisor"
[Enter feedback here]
When you deploy databricks then you will get some warnings in azure advisor about the DBFS storage account. Which is:
 - Storage accounts should restrict network access using virtual network rules
However, you cannot restrict network access, since it is in the managed resource group. Perhaps we should mention this somewhere in the docs. And also perhaps give some arguments to

[2022-04-12 19:28] mattlunzer opened #91440 "Incorrect sub-heading"
The subheading, "Service Tags for user-defined routes (Preview)", at this link

- (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#service-tags-for-user-defined-routes-preview)

is incorrect, Service Tages for user-defined routes are now GA, according to this link

- [https://azure.microsoft.com/en-us/updates/generally-available-service-tags-support-for-user-de

[2022-04-12 19:41] JamesTran-MSFT commented on #91430
@ZollnerdMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-12 19:46] jenellean opened #91442 "Capitalization of Azure products"
Missing: Autopilot (AP) (and indication if it is improper to use AutoPilot, which I think is true).

I love the concept of an Azure Docs glossary/dictionary. Wondering if this (the dictionary) can be (or has been) added to EngHub authoring (docfx)--or what is causing "AutoPilot" to display as a spelling error. More significantly, it would be helpful to have a freestanding reference (because author

[2022-04-12 19:57] mike-urnun-msft commented on #91431
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-12 19:58] mike-urnun-msft commented on #91437
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-12 19:59] JamesTran-MSFT commented on #91346
@gonsalvg
I just wanted to check in and see if you had the chance to review my previous comment?

[2022-04-12 19:59] mike-urnun-msft commented on #91432
Thank you for your feedback! We will review and update as appropriate.

[2022-04-12 20:12] MariusStorhaug opened #91444 "Correct the scope for OperationalInsights/workspaces"
`OperationalInsights/workspaces` is not globally unique, it is unique for the resource group. Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f
* Content: [Resource naming restrictions - Azure Resource Manager](

[2022-04-12 20:15] HitenBhavsarMSFT opened #91445 "Add Note to Doc: Action Group and ADF must be in the same resource group."
**Add Note in public doc: Action Group and ADF must be in the same resource group.**

![image](https://user-images.githubusercontent.com/72768193/163045098-b3d70f30-af73-45c4-a2e6-145efe7cd082.png)

Existing  Action groups from different resource groups do not work. By design it does not show up in the dropdown

![image](https://user-images.githubusercontent.com/72768193/163045377-d6a38f1b-e681-4d

[2022-04-12 20:18] lsi-ak opened #91447 "Using pip to install python whl"
This page says I can install a python wheel file using %pip. I am following the item for the **dbfs** location. This is not working for me. I get back a message that it is not installable. Neither setup.py  nor pyproject.toml found.

What is the correct way to do this?? I just want to automate the install of the wheel file in Azure Databricks like I should be able to do for CI/CD. I tried with Dev

[2022-04-12 20:20] #79104 closed

[2022-04-12 20:27] duongau commented on #79185
Hi @halkazwini, I update the note to be clearer that it is about private peering. Please see PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/194880. It will go live soon. Thank you. #please-close

[2022-04-12 20:28] #79185 closed

[2022-04-12 20:28] JamesTran-MSFT commented on #91375
@ediemerson-br
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-12 20:28] #91375 closed

[2022-04-12 20:30] Kalamazoo-DBA commented on #91435
The comment starting as a "Tip" could appear in the current Tip bubble near this text:

https://docs.microsoft.com/en-us/azure/azure-sql/database/database-copy?tabs=azure-powershell#:~:text=Database%20copy%20using%20T%2DSQL%20supports%20copying%20a%20database

or as a separate Tip near the existing Tip.

The additional information could also appear with or near the existing Note.  Sometimes the 1T

[2022-04-12 20:47] duongau commented on #79194
Hello @BevanSin, when searching for ExpressRoute ASN the page now shows up as the first link in the search. I also added the acronym to the Autonomous System Number section. Please let me know if you have any further questions. #please-close

[2022-04-12 20:47] #79194 closed

[2022-04-12 20:51] DSakura207 commented on #91250
Thank you. I think it is okay.

[2022-04-12 20:51] #91250 closed

[2022-04-12 20:52] ChaitanyaNaykodi-MSFT commented on #91440
Hello @mattlunzer, Thank you for your feedback. I have made a PR to address this issue and it is currently under doc author's review.

[2022-04-12 21:04] duongau commented on #84959
Hi @hisasima, I added a note to the page explaining that configuration for Global Reach is bidirectional and only need one side to complete the connection. Please see PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/194892. If you have any questions please let me know. Thank you. #please-close

[2022-04-12 21:04] #84959 closed

[2022-04-12 21:06] Ajsalemo opened #91449 "Clarity on acrUserManagedIdentity, Managed Identity and what gets swapped"
[Enter feedback here]
Hi all,

Per this document - the section 'Settings that aren't swapped:' includes Managed Identity. Can this be slightly elaborated on regarding other properties? More specific, acrUseManagedIdentityCreds doesn't appear to get swapped - as it would have the Web App for Container depend on Managed Identity.

There has been an instance where this has caused some confusion. Sinc

[2022-04-12 21:10] meenasaravanan02 commented on #89752
@rustedwizard The issue is resolved in a PR.  https://github.com/MicrosoftDocs/azure-docs-pr/pull/194879
#please-close the issue

[2022-04-12 21:11] #89752 closed

[2022-04-12 21:11] ChaitanyaNaykodi-MSFT commented on #91424
Thank you for your feedback @robertspears. I am assigning this issue to doc author as I do not have permission to edit security baseline documentation.
@msmbaldwin can you please have a look at this issue? Thank you!

[2022-04-12 21:12] duongau commented on #85171
Hello @StaceyWA, there is no problem with having the VPN gateway have a different ASN number. This would only become an issue if you're trying to route between your ExpressRoute connection and VPN. To do this you'll need to configure a route server which allows you to exchange routes. You can read more about that here: https://docs.microsoft.com/en-us/azure/route-server/expressroute-vpn-support. P

[2022-04-12 21:12] #85171 closed

[2022-04-12 21:14] suzizuber commented on #91350
Updates have been merged, this PR can be closed.

[2022-04-12 21:18] duongau commented on #86491
Hi @leandroamore, I'm not sure I'm able to follow what you're saying. Can you tell me what you're referring to because as far as I know you still need 2 gateways to have coexisting. Each of the gateways are coded differently for ExpressRoute and VPN use. Looking forward to hearing back from you.

[2022-04-12 21:25] duongau commented on #86903
Hi @jfaurskov, I added a note to the page based on your suggestion. Please let me know if you have any questions. For now I will be archiving this issue. Thank you. #please-close

[2022-04-12 21:25] #86903 closed

[2022-04-12 21:32] MarileeTurscak-MSFT commented on #91308
Thanks! I made a pull request to include a note about this and link to the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/194898

[2022-04-12 21:32] #91308 closed

[2022-04-12 21:35] kobulloc-MSFT commented on #91350
@shanecribbs, thank you again for helping to improve the Microsoft Docs!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-04-12 21:35] #91350 closed

[2022-04-12 21:46] echorelay-HP opened #91451 "Incorrect Configuration Requirements"
Stated within the ["Hybrid Azure AD Join Configuration" requirements](https://docs.microsoft.com/en-us/azure/active-directory/devices/hybrid-azuread-join-manual#configuration) on this page is the term "must" - which for managed and federated domains is simply incorrect. Creating a Service Connection Point or SCP is technically an **Optional** step (although Recommended). Including the respective S

[2022-04-12 22:24] SaiKishor-MSFT commented on #91168
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-12 22:24] #91168 closed

[2022-04-12 22:35] KranthiPakala-MSFT commented on #91439
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-12 22:35] KranthiPakala-MSFT commented on #91445
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-12 22:46] rboucher opened #91454 "What does UAI stand for? You don't define that term here."
[Enter feedback here]
What does UAI stand for?  You don't define that term here. AT least not in a way I can search for it. I search for UAI and I don't get something like "Universal Azure Identity(UAI)"  I'm guessing.  I'm trying to figure it out. You are the top hit for "UAI azure" in Bing so please add that information.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-04-12 22:46] ChaitanyaNaykodi-MSFT commented on #91313
Hello @sujitks
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-12 22:57] tfitzmac commented on #91315
The update should get published tomorrow.
#please-close

[2022-04-12 23:06] SaiKishor-MSFT commented on #91428
@RyanSmith-00 This is not an option at the moment. Please feel free to provide this feature as feedback here- https://feedback.azure.com/d365community/

The only way to achieve this at this time would be by adding network restrictions using NSG rules. Hope this helps. Thank you!

[2022-04-12 23:06] SaiKishor-MSFT commented on #91428
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-12 23:06] #91428 closed

[2022-04-12 23:16] Oury-MSFT commented on #91402
@niklarin Could you please bring some clarity on the above ask from customer.?

[2022-04-12 23:41] tfitzmac commented on #42431
@tech88kur - what kind of behavior are you noticing? The deployment of the dependent resource should just proceed without waiting for the resource that is not deployed (because of a condition).

[2022-04-12 23:44] jvschoen opened #91457 "Incorrect Documentation for PublishedPipeline usage"
The code in [this section](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-pipelines#create-a-versioned-pipeline-endpoint) explains how to use the PublishedPipeline class:

`PublishedPipeline.get(workspace=ws, name="My_Published_Pipeline")`

However you will get an error since there is no attribute called `name` as outlined [here](https://docs.microsoft.com/en-us/python/api/a

[2022-04-12 23:48] jaredthirsk commented on #34167
"Days Without Somebody Commenting About How Suspicious This Looks": 0, again

[2022-04-13 00:38] BrodaNoel commented on #34167
Ok. Let's make it viral on Reddit, so they fix it: https://www.reddit.com/r/microsoft/comments/u2dpkx/official_phishing_for_microsoft_azure/

Go to upvote! GO GO GO!

[2022-04-13 00:53] larryclaman commented on #89807
Hi, any updates on this?

[2022-04-13 01:06] VanMSFT commented on #71343
It's found here: https://www.sqltechnet.com/2020/12/powershell-set-azure-sql-firewall-for.html

I'll make updates to the article.

#assign:VanMSFT

[2022-04-13 01:17] jun110 opened #91462 "The Extract fields from button is now displayed in a different way."
The description is shown in the figure below, but has now been changed.
![image](https://user-images.githubusercontent.com/25476639/163079795-484a4b13-b28e-40dc-8536-ae281297e4d3.png)

Currently, we must right-click without expanding the record.
Could you please change the document?
![image](https://user-images.githubusercontent.com/25476639/163079880-c041c7bc-b295-4003-8b7d-bc48b3ad2571.png)

---

[2022-04-13 02:14] dolauli opened #91464 "Users feel confused about some content in this page"
Users feel confused about some content in this page.

ICM - https://portal.microsofticm.com/imp/v3/incidents/details/291161677/home

Bug - https://msazure.visualstudio.com/One/_workitems/edit/13961690

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12ea7e90-b545-258a-3bc8-dd840e1c0835
* Version Independent ID: 26e1a7b0-

[2022-04-13 02:15] dolauli opened #91465 "Users feel confused about some content in this page"
Users feel confused about some content in this page.

ICM - https://portal.microsofticm.com/imp/v3/incidents/details/291161677/home

Bug - https://msazure.visualstudio.com/One/_workitems/edit/13961690

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac500792-0af0-26df-77fc-56f661b76024
* Version Independent ID: 43f8a2d2-

[2022-04-13 02:45] gonsalvg commented on #91346
https://docs.microsoft.com/en-us/graph/auth-v2-user this page is the one I am referring to. Otherwise it just doesn't seem to be mentioned in the graph docs.

[2022-04-13 03:10] KrishnaG-MSFT commented on #91462
@jun110 Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-13 03:45] CHEEKATLAPRADEEP-MSFT commented on #91419
@Tao4free  Thanks for the question! We are investigating and will update you shortly.

[2022-04-13 03:47] CHEEKATLAPRADEEP-MSFT commented on #91447
@lsi-ak  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-13 04:11] AnuragSharma-MSFT commented on #90945
@Park-minkyu Just wanted to follow up in case you were able to run through the code samples and faced any issue.

[2022-04-13 04:11] PriyankaRudramaina commented on #91465
Hello @dolauli,
Thank you for your feedback. We will investigate and update the thread further.

[2022-04-13 04:12] PriyankaRudramaina commented on #91464
Hello @dolauli,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-13 04:29] SnehaAgrawal-MSFT commented on #91070
@syukumoto Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let me know.

[2022-04-13 04:29] #91070 closed

[2022-04-13 04:33] VikasPullagura-MSFT commented on #91433
@knunery
Thanks for your Question! We are currently investigating and will get back on this.

[2022-04-13 04:33] VikasPullagura-MSFT commented on #91425
@miqm
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-04-13 04:34] VikasPullagura-MSFT commented on #91425
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-04-13 04:38] VikasPullagura-MSFT commented on #91305
The document is updated and changes will go live soon.

[2022-04-13 04:38] #91305 closed

[2022-04-13 04:41] k7faq opened #91467 "PS2 VPN Protocol docs out of date"
This documentation page is out of date. Images displayed do not match current Portal API version. No ability to select protocol as demonstrated in the docs.

Please validate the accuracy of each step. Yes, this means that you create your own PS2 VPN by following the directions on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-04-13 04:51] zeeshaanali commented on #89323
@sharroy @dannyevers I don't think the update is quite helpful as it stills leaves users to figure out the steps to setup the WinRM service with no links provided. Is [this](https://docs.microsoft.com/en-us/windows/win32/winrm/installation-and-configuration-for-windows-remote-management) the correct link to be followed?

[2022-04-13 04:54] Givary commented on #91274
@DeanGross Thank you for reaching out to us, reviewed the query and the article mentioned, let me research and get back to you.

[2022-04-13 05:00] SnehaAgrawal-MSFT commented on #91449
@Ajsalemo Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-13 05:03] SnehaAgrawal-MSFT commented on #91144
@thomasgauvin Thanks again for the feedback! The PR has been created once reviewed by author of the doc will be visible in doc. We will now close this out but if you feel you need more information please just let us know.

[2022-04-13 05:03] #91144 closed

[2022-04-13 05:04] SumanthMarigowda commented on #90271
@anishjaindev Apologies for the delay response! I wanted to mention that you could consider using [Azure CDN](https://azure.microsoft.com/en-us/services/cdn/) that would cache the static asset at an edge location and thus dramatically increase the throughput by lowering the number of requests that hit the storage layer. Setting it up is [super easy](https://docs.microsoft.com/en-us/azure/cdn/cdn-c

[2022-04-13 05:37] #91192 closed

[2022-04-13 05:41] ram-msft commented on #91454
@rboucher Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-13 05:42] ram-msft commented on #91457
@jvschoen Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-13 05:46] #91230 closed

[2022-04-13 06:06] shridharrathi opened #91468 "Sending query string parameters"
Hi ,

I am passing couple of query parameters to a page stored in blob storage.

I have got a javascript, which is not able to read these query parameters when the page is trying to do self-assertion.

Can javascript read them after the page is rendered? It works when we pass the parameter to function app which in turns read the file from blob storage and read the query parameter and adds it to pa

[2022-04-13 06:30] jiacfan commented on #90682
Hi, @RudyEvers Thanks for trying and providing feedback.

For `try to access the container I get an unauthorized error`, this is an issue which will be optimized soon. The problem here is blobs:path attribute doesn't apply for listBlobs API.

To grant read permission to specific folder under specific container please use condition like below (public UX and doc will be optimized soon):
[code]
This

[2022-04-13 06:36] radezheng opened #91469 "CLI sample dosn't work: az iot hub device-identity create"
the --pd parameters is not working, need to use device-scope instead for cli:
az iot hub device-identity create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3512ec24-1146-0dc8-4529-80d4770e1ec2
* Version Independent ID: 8abd57ee-a785-4d47-c0e5-6ac713367279
* Content: [Authenticate downstream devices - Azure IoT Edge]

[2022-04-13 07:18] tigormanmsft commented on #91372
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:18] tigormanmsft commented on #91373
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:19] tigormanmsft commented on #91376
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:19] tigormanmsft commented on #91376
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:19] tigormanmsft commented on #91377
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:20] tigormanmsft commented on #91378
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:20] ElazarK commented on #88031
#label:"defender-for-cloud"

[2022-04-13 07:20] tigormanmsft commented on #91379
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:21] tigormanmsft commented on #91380
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:21] tigormanmsft commented on #91381
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:22] tigormanmsft commented on #91382
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:22] tigormanmsft commented on #91383
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:22] tigormanmsft commented on #91384
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:23] tigormanmsft commented on #91385
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:23] tigormanmsft commented on #91386
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:23] tigormanmsft commented on #91387
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:24] tigormanmsft commented on #91388
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:24] tigormanmsft commented on #91389
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:25] tigormanmsft commented on #91390
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:25] tigormanmsft commented on #91391
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:25] tigormanmsft commented on #91392
@VikasPullagura-MSFT - please hold off on removing these pages.  Kalyan Kaki of the Azure Dedicated product group has stepped up to take responsibility for the pages, so please do nothing without his authorization.  Thank you!

[2022-04-13 07:48] AshokPeddakotla-MSFT commented on #91469
@radezheng Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-13 07:52] 6str opened #91470 "spaces missing"
the spaces are missing in most of the powershell code blocks

e.g.

`set-adsyncscheduler-synccycleenabled$true`

should be

`set-adsyncscheduler -synccycleenabled $true`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a28b3326-1302-1492-3961-0e1d59e12877
* Version Independent ID: 7706e19b-5815-ca09-6095-35e98805f41d
* C

[2022-04-13 08:19] darioporru opened #91471 "NEW ADMIN UI on Atlassian"
just got the info from Atlassian support:

in the new format for the [User management for cloud admins](https://community.atlassian.com/t5/Atlassian-Access-articles/User-management-for-cloud-admins-just-got-easier/ba-p/1576592) described in the article/community post. In this new UI experience, the user provisioning option is under the settings menu, so please follow these steps:
•	Log in with you

[2022-04-13 08:37] helloyesthisisdave opened #91472 "Is the suggestion here really to create a CosmosClient for each user that accesses the application?"
The documentation provides usage examples of Tokens, Users and Permissions which require creation of a new CosmosClient just for that User:

This seems to directly contradict the recommended best practice of maintaining a singleton CosmosClient within each App Domain?

Can you please clarify if there is no other way of securing the resources _within_ a Cosmos DB Container other than instantiating

[2022-04-13 08:44] helloyesthisisdave commented on #91164
@timsander1 I have refactored my query now to fit within the previous 5 JOIN limit, though my frustration was more that in the documentation regarding use of JOINs within Cosmos queries, there is no mention of this limit (be it at 5 or now 10).  This limit should be mentioned there as it is not an obvious restriction, rather than relying on people having seen this in the Service Quotas, which is h

[2022-04-13 08:48] plwhite opened #91473 "Broken page link"
The page has some text about Microsoft Defender for Kubernetes being deprecated, and recommending use of Defender for Containers. However, the link to Defender for Containers takes you to Defender for Servers, which seems to be something different (though maybe you are supposed to enable Defender for Servers on your K8s nodes and maybe the link is right and the text wrong; I'm now quite deeply con

[2022-04-13 08:56] GrzegorzHejman commented on #89892
Yes, it's working now. Thanks for your help.

[2022-04-13 09:01] joteromontes opened #91475 "Change DirectoryID for TenantID at least mention that they are the same"
On the screenshot and documentation text you are making reference to DirectoryID now this is called TenantID.

Please correct this as it is causing confusion among customers that are new to the Azure AD realm

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Ve

[2022-04-13 09:47] PriyankaRudramaina commented on #91438
Hello @dejan-shuki,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-13 09:50] PriyankaRudramaina commented on #91442
Hello @jenellean,

Thank you for your feedback. We will investigate and update the thread further.

@MonicaRush - Please help on this

[2022-04-13 10:01] nicolaszhang opened #91478 "what's the delay time of storage event?"
From the [document](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview#practices-for-consuming-events) , there is statement as below, I'd like know what's the delay time of storage events? do we have any SLA of this?

_

_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d651422-3de2-d399-d

[2022-04-13 10:17] tdjastrzebski opened #91479 "Unable to configure AD B2C local account identity provider for username login using user flow"
I got lost trying to configure AD B2C local account identity provider for **username** login.
[Configure your user flow](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-local?pivots=b2c-user-flow#configure-your-user-flow) docs section reads:

_1. In the left menu of the Azure portal, select Azure AD B2C.
2. Under Policies, select **User flows (policies)**._

`User flo

[2022-04-13 10:21] thommck commented on #17210
Got here by searching for a solution!
This is going to be a big issue soon now that more and more orgs are using AAD as their single Identity Provider. Tenant to tenant migrations are fairly common, especially for mergers/acquisitions. Microsoft provide guides to migrate from Okta to Azure AD, we just need something for Azure AD to Azure AD!

[2022-04-13 10:22] shashishailaj commented on #91473
@plwhite Thank you for catching this. We will investigate and update the link .

[2022-04-13 10:26] shashishailaj commented on #91471
@darioporru Thank you for your feedback . We will investigate and update the thread.

[2022-04-13 10:27] shashishailaj commented on #91470
@6str Thank you for your feedback . We will investigate and update the thread.

[2022-04-13 10:28] shashishailaj commented on #91468
@shridharrathi Thank you for your feedback . We will investigate and update the thread.

[2022-04-13 10:29] shashishailaj commented on #91479
@tdjastrzebski Thank you for your inputs . We will investigate and update the thread.

[2022-04-13 10:31] shashishailaj commented on #91473
@plwhite We have initiated a change request and this will be updated once in teh next release cycle in 24-48 hours max.

[2022-04-13 10:37] myfope opened #91481 "URL to Microsoft Digital Defense Report does not work"
The URL in the first section to the [Microsoft Digital Defense Report](https://www.microsoft.com/security/business/microsoft-digital-defense-report) does not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bad1a372-3d89-f509-6bd2-1e6d12b1d6c7
* Version Independent ID: 92fb5a9a-24b8-6f17-2749-99e3b0e999fb
* Content:

[2022-04-13 10:52] AnuragSharma-MSFT commented on #91472
@helloyesthisisdave Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-13 10:54] plwhite commented on #91473
Thanks - always nice to see these simple things quickly resolved.

[2022-04-13 11:16] bmansheim commented on #91473
@plwhite You're right. That link was supposed to go to the Defender for Containers page. Sorry to confuse you.
The fix was merged and will be live in a few hours.
Thanks for bringing to our attention!

[2022-04-13 11:16] bmansheim commented on #91473
#please-close

[2022-04-13 11:16] #91473 closed

[2022-04-13 11:31] shashishailaj commented on #91470
@6str We have initiated a change request for this with the content team and the changes will be live once they have approved the same.

[2022-04-13 11:31] #91470 closed

[2022-04-13 11:33] shashishailaj commented on #91481
@myfope Thank you for your feedback . We will investigate and update the thread.

[2022-04-13 11:40] shashishailaj commented on #91481
@myfope Please find the report here https://www.microsoft.com/en-in/security/business/security-intelligence-report. We have updated the link in the article and the change request will be approved once content team has completed their review. You can use the Microsoft digital defense report as linked above .

[2022-04-13 11:44] shashishailaj commented on #91467
@k7faq Thank you for your feedback . We will engage the content team on this for reviewing this request .

[2022-04-13 12:02] rajmadhavan opened #91485 "Code to Create a dataset for the Azure-stored data"
Hello - The code in this page to create a dataset is not working. I think the blob store is down

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 789ff09b-04b0-6262-420b-90770d0f8a1f
* Version Independent ID: cbdf5d7d-0c4b-65fc-256b-f13816d6ab4c
* Content: [Tutorial: ML pipelines for training - Azure Machine Learning](ht

[2022-04-13 12:13] GeethaThatipatri-MSFT commented on #91416
I'm assigning this to the author for the feedback review

[2022-04-13 12:28] Mohamedballouch opened #91486 "Does direct line speech channel support automatic language detection?"
Since the Speech recognition module support automatic language detection https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/language-identification?tabs=once&pivots=programming-language-python,
My question is does direct line speech channel support automatic language detection? or is there a way to enable it ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. I

[2022-04-13 12:33] SnehaAgrawal-MSFT commented on #91249
@kengaderdus We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-04-13 12:33] #91249 closed

[2022-04-13 12:40] SnehaAgrawal-MSFT commented on #91298
@tingeypa Thanks again for the feedback! The PR has been created once reviewed by author then will be visible in doc.

[2022-04-13 12:40] #91298 closed

[2022-04-13 12:41] Givary commented on #91471
@darioporru Thank you for raising this, let me check with my team and get back to you.

[2022-04-13 13:04] fgheysels opened #91487 "Improve documentation for bicep template on Microsoft.Insights/metricAlerts"
First of all, apologies that I haven't created an issue via the 'feedback' link on the documentation page, but I've done this because the page in question doesn't have a  'feedback' link.

This [page](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/alertrules?tabs=bicep) contains documentation on how to create a bicep template for metric alertrules.

However, I've stumbled upon

[2022-04-13 13:16] JohanKlijn commented on #90476
@GiftA-MSFT : any news on this topic?

[2022-04-13 13:24] xmasteron opened #91488 "get-azurestoragekey is not available in new AZ module"
[Enter feedback here]

I tried using the PowerShell method of exporting the database over private Link but the latest AZ module does not seem to have the get-azurestoragekey commandlet, getting following error.

[code]

exported the list of commands in the Az.Storage module for your reference.

[code]

Kindly update the document with the supported PowerShell command line to export import database.

[2022-04-13 13:25] riwasa opened #91489 "Supported tiers for Service endpoints"
In the "Network service endpoints" section on this page, it states "Virtual networks aren't supported in the basic and premium tiers." But on https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-service-endpoints, under "Important points", it says for Service Endpoints, "This feature isn't supported in the basic tier."

With a Premium namespace, in the portal you can go under networking an

[2022-04-13 13:36] derekschauland opened #91490 "VNet for container app/container app environment"
[Enter feedback here]
In reviewing the docs for the container app (preview), there is mention of being able to bring your own Vnet for the application/containers to use. There is no Networking tab visible to select to modify these features/items.  The Internal Only or VNet settings for the container app are greyed out because no Virtual Network is specified.

Is the bring your own networking porti

[2022-04-13 13:43] jurjenoskam opened #91491 "Not clear what "Copy activity doesn't have TTL support yet" means"
It is not clear what the Note saying "Copy activity doesn't have TTL support yet." means. Does it mean that a copy activity that takes longer than 60 minutes will be interrupted and fail because the integration runtime is decommissioned before the activity is finished? Or does it mean that the copy activity will *always* have the warm up delay when scheduled to run in a managed vnet?

---
#### Doc

[2022-04-13 13:44] iwafula025 opened #91492 "Reword document title to be clear about which agent/extension is being deployed"
The title implies that the guidance is for the new Azure Monitor Agent while in fact its for the old agent MMA. I think rewording this to make it more explicit will help. I have a customer who used it expecting to deploy AMA but ended up with MMA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8201f331-0fa7-a801-9f4d-75

[2022-04-13 13:46] AnuragSharma-MSFT commented on #91488
@xmasteron Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-13 13:49] #91302 closed

[2022-04-13 13:52] AnuragSharma-MSFT commented on #91170
@vgarmash Please let us know if above reply with the links helps you. Thanks

[2022-04-13 14:17] #91348 closed

[2022-04-13 14:19] vgarmash commented on #91170
Those links just prove that there is a way to connect to the Cosmos DB change feed from the  JavaScript, C# or Java code directly. Although the point of this ticket is to find out if triggers for Azure Functions, written in those languages, would also work. If it true, then we need to update article "Serverless event-based architectures with Azure Cosmos DB and Azure Functions".

Did @timsander1 r

[2022-04-13 14:21] duanrongrong opened #91493 "urgent ,please"
[Enter feedback here]

I run the code for sentiment analysis
// Prepare a dataframe with Content and Sentiment columns
val streamingDataFrame = incomingStream.selectExpr("cast (body as string) AS Content").withColumn("Sentiment", toSentiment($"Content"))

the result is Couldn't detect language
could you confirm the code is work?

please reply to email:  drr-rong@163.com

---
#### Document Details

[2022-04-13 14:22] DouadyRabbit opened #91494 "Images are too small"
This, and probably most other pages, can benefit of "click and zoom" on the images it presents, most of them you can't read the
text on the images which makes it difficult to follow up the content.

Sincerely,

Luis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independen

[2022-04-13 14:31] DouadyRabbit commented on #91494
nvm, you can right-click --> open image in a new tab,

[2022-04-13 14:31] #91494 closed

[2022-04-13 14:57] #91490 closed

[2022-04-13 15:11] tfitzmac commented on #91444
The update will get published later today.
#please-close

[2022-04-13 15:11] #91444 closed

[2022-04-13 15:13] VanMSFT commented on #86741
Following up with Rohit.

[2022-04-13 15:14] VanMSFT commented on #87938
Following up with Rohit

[2022-04-13 15:14] VanMSFT commented on #88530
Following up with Rohit

[2022-04-13 15:20] Wiiki0807 commented on #55734
![FHIR](https://user-images.githubusercontent.com/27147987/163214278-5e7b6b70-0e96-4bdb-a65b-43cfc7be8609.jpg)

we have to add "user" and "app" in FHIR IAM to resolve auth fail issue.

[2022-04-13 15:22] SwathiDhanwada-MSFT commented on #91487
@fgheysels Thanks for your feedback. For Bicep document changes, you can raise the request in [this repository](https://github.com/Azure/bicep/issues).

[2022-04-13 15:22] VanMSFT commented on #89492
We're not seeing the issue on our end. The text has not been changed at least for 2 years.

![image](https://user-images.githubusercontent.com/40007119/163214622-f81afa52-7abd-4fd5-add5-0e5e035f5414.png)

Closing for now unless we see other issues.

#reassign:VanMSFT

[2022-04-13 15:22] VanMSFT commented on #89492
#please-close

[2022-04-13 15:22] #89492 closed

[2022-04-13 15:24] SwathiDhanwada-MSFT commented on #91492
@iwafula025 Thanks for your feedback.

Assigning to content author @bwren for review.

[2022-04-13 15:41] Grace-MacJones-MSFT commented on #91475
Hi @joteromontes , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate!

[2022-04-13 15:43] Grace-MacJones-MSFT commented on #91478
Hi @nicolaszhang ,Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-13 15:45] AshokPeddakotla-MSFT commented on #90951
@kapoorh Did you get a chance to above suggestions? Do let us know if that helps.

[2022-04-13 15:47] Grace-MacJones-MSFT commented on #91485
Hi @rajmadhavan, Thanks for your feedback! We will review and update this doc accordingly.

[2022-04-13 15:53] karavar commented on #86643
Was this resolved?
All we need to do is after Connect-AzAccount -Identity, we need run Set-AzContext so that the Azure Subscription context is set. This will only work if the managed identity has been granted permissions in that subscription.

[2022-04-13 15:59] Grace-MacJones-MSFT commented on #91489
Thanks for your feedback! We will review and update this doc accordingly.

[2022-04-13 16:01] AshokPeddakotla-MSFT commented on #91398
@kgremban Please clarify on the above statement.

As per the doc., https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#device-twins

<img width="500" alt="image" src="https://user-images.githubusercontent.com/44426435/163222174-9e2d3b2b-d053-4221-b0e5-40eaf582b67d.png">

[2022-04-13 16:10] jesselve opened #91497 "bug in code block in "Deploy virtual network gateway""
In the following section:
["Deploy virtual network gateway"]( https://docs.microsoft.com/en-us/azure/storage/files/storage-files-configure-p2s-vpn-windows#deploy-virtual-network-gateway)

There are the following issues:

- Unreferenced variable `$region` (trivial to fix)
- Unreferenced varaible `$gatewaySubnet` (less trivial to fix)

Both cause the script to fail.

The instructions should make cle

[2022-04-13 16:11] ejohnson-amerilife opened #91498 "ContainerInstanceLog_CL table is not available"
When follow the tutorial on this page, the ContainerInstanceLog_CL table does **NOT** get created.
Note that ContainerEvent_CL does get created though.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160bf6c0-980c-bf64-8828-cda81c3ccb83
* Version Independent ID: 26e35469-0fdc-776f-4b23-a9488fc9c2e3
* Content: [Collect &

[2022-04-13 16:13] rpilot opened #91499 "RDM Virtual and Physical Compatibility Modes disks"
Could you please clarify what do you mean by "Shared disk cluster" and "Passthrough disks"? In VMware terms does Azure Migrate support RDM Virtual and Physical Compatibility Modes disks?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57139c50-3254-d78a-486c-bea6cbd5885d
* Version Independent ID:

[2022-04-13 16:21] kapoorh commented on #90951
Hi @AshokPeddakotla-MSFT / @asergaz ,

We have tired it but it didnt work, we are trying it again. will update you on this tomorrow.

Kind regards,
Harsh

[2022-04-13 16:24] GreggAtDuracell opened #91500 "Columns in download don't match columns in display"
When you customize your list via filters and columns, the columns in the download do not match the columns in the display. This should be noted in the documentation that the download only contains pre-defined columns and does not include all columns displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0acd5ee1-4e4

[2022-04-13 16:25] GeethaThatipatri-MSFT commented on #90945
Hi @Park-minkyu We haven't heard back from you, we will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-13 16:25] #90945 closed

[2022-04-13 16:25] JamesTran-MSFT commented on #91500
@GreggAtDuracell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-13 17:26] MicrosoftGuyJFlo commented on #91220
Pending feedback from PM.

[2022-04-13 17:32] timsander1 commented on #91170
I can confirm that  the change feed is supported across APIs in Azure Cosmos DB but Table API.

[2022-04-13 17:36] Grace-MacJones-MSFT commented on #91498
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-13 17:44] Grace-MacJones-MSFT commented on #91499
Hi @rpilot, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-13 17:50] SaiKishor-MSFT commented on #91497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-13 17:55] #91208 closed

[2022-04-13 17:57] Justinha commented on #75526
#please-close

[2022-04-13 17:57] #75526 closed

[2022-04-13 18:00] hodgesb commented on #34167
I have been condemned to the eternal task of creating phishing avoidance documentation for Microsoft's password reset page.

Microsoft, how many years must this go on?

[2022-04-13 18:07] Nicholak-MS commented on #91240
Hi @WillyMoselhy,

I checked into your request. Please note that PowerApps_dev is already present in both the online table as well as in the downloadable CSV.

I have added MEETING_ROOM_NOAUDIOCONF and DEFENDER_ENDPOINT_P1 to the online table and the CSV. They are going through the publish process and will be available later today.

[2022-04-13 18:07] Nicholak-MS commented on #91240
#please-close

[2022-04-13 18:08] tfitzmac commented on #91487
@fgheysels - thanks for making me aware of this issue. I will work on a fix.

[2022-04-13 18:16] Nagendracv opened #91504 "Lacking example of how to handle reset password in angular SPA"
[Enter feedback here]
The above angular spa sample is missing an example on how to handle reset password sample.
Step 3 talks about reset password in this page, but the sample does not have anything related to reset password legacy.
Please include

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cb19049-9546-955c-a387-d

[2022-04-13 18:26] wcneumann219 opened #91505 "Transition from ADFS To Azure AD"
All these tutorials "assume" users are configuring Azure AD federation for the first time. Since Microsoft has recommended that users transition from ADFS SSO to Azure AD SSO, many Clients need to "reconfigure" their Service Provider settings from ADFS to Azure AD. None of the vendors and none of the Microsoft tutorials explain how to do this in general or for a specific application.

This lack of

[2022-04-13 18:31] cynthn commented on #91465
@mimckitt FYI

[2022-04-13 18:32] meenasaravanan02 commented on #91293
Hi @johncrim, We have listed a warning at the top of the page.  The issue is resolved in a PR. Here is the PR link - https://github.com/MicrosoftDocs/azure-docs-pr/pull/195004
#Please close this issue

[2022-04-13 18:35] mimckitt commented on #91465
This was already fixed.

#please-close

[2022-04-13 18:35] #91465 closed

[2022-04-13 18:37] #91293 closed

[2022-04-13 18:40] JamesTran-MSFT commented on #91504
@Nagendracv
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-13 18:42] JamesTran-MSFT commented on #91505
@wcneumann219
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-13 18:54] JamesTran-MSFT commented on #91346
@gonsalvg
Thank you for following up on this! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

Since the doc you referenced isn't part of the [Microsoft identity platform documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/), I'd  recommend creating a GitHub issue within the [MS Graph Doc](https://docs.micro

[2022-04-13 18:54] #91346 closed

[2022-04-13 18:56] JamesTran-MSFT commented on #91430
@ZollnerdMSFT
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-13 18:56] #91430 closed

[2022-04-13 18:57] Russshabura opened #91508 "https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/download-azure-invoice | Needs to be updated"
[Enter feedback here]
Hello,

I am a support engineer from CXP CAGs where we support Azure Government customers. A lot of the common cases we get are the following:
1) Where to download support plans invoices
2) Only the account owner can access invoices in Azure Gov (also email invoice functions is not supported in Gov)
3) Updating the screenshots where download Azure Government customers (some o

[2022-04-13 19:00] nibaccam commented on #89950
@abhijit-z  we haven't heard from you in while, so we will now proceed to close this thread. Please comment here if you have further questions on this topic.

#please-close

[2022-04-13 19:00] #89950 closed

[2022-04-13 19:05] nibaccam commented on #91454
@rboucher Thanks for reporting this.  UAI stands for user-assigned managed identity. I'll make the update to the docs to reflect this :)

[2022-04-13 19:21] Padu98 commented on #25353
any updates on this?

[2022-04-13 19:22] timwarner-msft commented on #86753
Hi @Sandy-dnv! Find all the Azure resource types available in the commercial, government, an sovereign clouds on our [Products available by region](https://azure.microsoft.com/en-us/global-infrastructure/services/) page.

[2022-04-13 19:22] timwarner-msft commented on #86753
#please-close

[2022-04-13 19:22] #86753 closed

[2022-04-13 19:25] arcesso opened #91509 "XLM sample has an incomplete note"
This page's sample XLM header comment is incomplete.

The specific text is: "If no match is found ", but does not continue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54701509-aa7f-7ece-4a56-57d14613b5f8
* Version Independent ID: b38d7498-0e6e-956f-4dea-0a4ef82164e2
* Content: [Sample API management policy - Filter

[2022-04-13 19:51] billmath commented on #74856
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-13 19:51] #74856 closed

[2022-04-13 19:51] billmath commented on #74822
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-13 19:51] #74822 closed

[2022-04-13 19:52] billmath commented on #74941
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-13 19:52] #74941 closed

[2022-04-13 19:53] billmath commented on #75019
Thank you for your issue submission. Unfortunately, this appears to be a problem with the cmdlt and a support issue. Issues in this repo are for documentation issues. You can try one of the following links for additional help.

Microsoft Support: https://support.microsoft.com/
Azure AD forums: https://social.technet.microsoft.com/Forums/en-US/home?forum=windowsazureaditpro
Stackoverflow: https://s

[2022-04-13 19:53] #75019 closed

[2022-04-13 19:53] billmath commented on #75032
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-13 19:54] #75032 closed

[2022-04-13 19:56] billmath commented on #75204
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-13 19:56] #75204 closed

[2022-04-13 19:59] billmath commented on #75277
Thank for submitting this. I have created a work item for it and will reviewing this in the coming weeks. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-04-13 19:59] #75277 closed

[2022-04-13 20:25] spelluru commented on #91489
@riwasa - Thank you for reporting the issue. Network service endpoints are supported by the premium tier. I am updating the note now and the updated article will go live in a couple of hours. Thanks,

[2022-04-13 20:30] GeethaThatipatri-MSFT commented on #91269
Hi, @igalfsg Can you please point out where exactly the commend is missing, have you faced any issue with the code?,if yes can you share the screenshot or error message which helps.

[2022-04-13 20:35] alexwolfmsft commented on #90811
Hello, thanks for bringing attention to these items.
#1 has been resolved with a PR.
For #2, the line breaks included in the code samples are intended for a Bash terminal environment.  For these scripts to work in powershell you can either change the "\" character to a "^" or execute the lines of code one at a time without the breaks.
For #3, a PR is in the process of being merged in with an updat

[2022-04-13 20:36] #90811 closed

[2022-04-13 20:38] timwarner-msft commented on #82030
Hi @realrubberduckdev. [The `mv-expand` operator doc](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/mvexpandoperator#examples) says:

Thus, you should be sure to use `mv-expand`, which does not have the row limit. Hope this helps!

Thanks,
Tim

[2022-04-13 20:39] timwarner-msft commented on #82030
#please-close

[2022-04-13 20:39] #82030 closed

[2022-04-13 20:41] reynaldom commented on #85683
Hi brpime,

You have to first select the host caching type and then the shared disk:

![Screenshot 2022-04-13 154033](https://user-images.githubusercontent.com/92881682/163266746-e3387f77-ec13-415e-9018-a39397d091df.png)

![image](https://user-images.githubusercontent.com/92881682/163266875-914473f5-c8de-47e8-9481-c501bb9b52cc.png)

[2022-04-13 20:52] realrubberduckdev commented on #82030
Hi @timwarner-msft sorry the point I was trying to make is that mv-expand also appears to have the 128 row limit.

Hence the question to clarify if that is expected or is t a bug. Since you're saying it doesn't have row limit...it possibly is a bug.

[2022-04-13 20:56] Norrch2 opened #91511 "No Verification That Passwords Match"
Hello,

Taking a look at this and I see that the policy has two password inputs for new password and to re-enter password. Not sure why this is there because there is nothing verifying that the passwords match.

I suggest either removing the reEnterPassword claim or put in a method that verifies the passwords match before writing it.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit

[2022-04-13 20:59] carlosporter opened #91512 "Missing instructions to setup access policy for Azure Backup Service on a key vault using the azure cli."
When an user tries to backup a virtual machine with ADE enable the following from the command line the operations fails with the following error:

[code]

The documentation indicates that it's necessary to use the Azure Portal or PowerShell to grant permissions to the Azure Backup Service to the key vault, however, its also possible to grant the permissions using the Azure CLI or the Cloud Shell

[2022-04-13 21:04] Karishma-Tiwari-MSFT commented on #91490
This issue is closed so my assumption is your issue is resolved.
If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-04-13 21:10] rboucher commented on #91454
Great! Thanks!

[2022-04-13 21:20] nibaccam commented on #91454
The documentation has been updated. The edits will be published to the live site later this afternoon.

We will now proceed to close this thread.
#please-close

[2022-04-13 21:20] #91454 closed

[2022-04-13 21:24] helderpinto opened #91513 "Inconsistent documentation about the number of concurrent container migrations to version-level immutable policies"
This document states, in the [Version-level policy scope section](https://docs.microsoft.com/en-us/azure/storage/blobs/immutable-time-based-retention-policy-overview#version-level-policy-scope), in the third paragraph:

However, there's [another document](https://docs.microsoft.com/en-us/azure/storage/blobs/immutable-policy-configure-version-scope?tabs=azure-portal#migrate-an-existing-container-to

[2022-04-13 21:29] tfitzmac commented on #91487
@fgheysels - thanks again for this feedback. I have published a fix.
#please-close

[2022-04-13 21:29] #91487 closed

[2022-04-13 21:32] bluefirepatrick opened #91514 "Page contains contradiction"
This page contains some contradictions that are confusing.

In the first paragraph it states that the App Service runs npm install --production when you deploy from a Git repository or a zip file with build automation enabled.   However in the Customize Build Automation section it states, in step 2, that it runs npm install without any flags.  In node.js-land that is a big difference.

Also, back

[2022-04-13 21:38] derekschauland commented on #91490
This issue is resolved. I missed the networking tab on the screen. Thank you.

Thank you,

Derek Schauland

________________________________
From: Karishma Tiwari - MSFT ***@***.***>
Sent: Wednesday, April 13, 2022 4:04:14 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Derek Schauland ***@***.***>; State change ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] VNet for container app/container

[2022-04-13 22:50] mike-urnun-msft commented on #91509
Thank you for your feedback! We will review and update as appropriate.

[2022-04-13 22:56] chriskincaid24 opened #91517 "BadRequest Resource not found for the segment 'promote'"
Attempting these steps to convert a federated sub domain to a managed domain, and I get BadRequest Resource not found for the segment 'promote' when I run the command 'https://graph.microsoft.com/v1.0/domains/sub domain name/promote' via the Graph Explorer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02c07bd2-01c5-77

[2022-04-13 23:00] JamesTran-MSFT commented on #91511
@Norrch2
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-13 23:02] JamesTran-MSFT commented on #91517
@chriskincaid24
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-13 23:27] zaidmohd commented on #91201
Thank you, that means it is not idempotent.

[2022-04-14 00:07] LifeRyuto commented on #91402
Confirmed internally. 6432 is not needed if pgBouncer is not used.
However, Azure storage is needed.

[2022-04-14 00:07] #91402 closed

[2022-04-14 00:48] igalfsg commented on #91269
Hi @GeethaThatipatri-MSFT  I encourage you to open the stack overflow issue that I linked where 16 people have liked the answer that solves the problem that your documentation is missing. That answer has the the answer to all your questions.

[2022-04-14 00:52] GeethaThatipatri-MSFT commented on #91269
Yes, I did check the Stackoverflow, however, I wanted to confirm if you have tried from your end.
I will assign this to the author for feedback review.

[2022-04-14 01:04] spelluru commented on #91489
Fixed.

#please-close

[2022-04-14 01:04] #91489 closed

[2022-04-14 01:08] pnarsi opened #91519 "Using Defender for Cloud's integrated Qualys vulnerability scanner on Azure Databricks VM"
With regards to this section which talks about installing vulnerability assessment agents on Azure Databricks cluster nodes, is there are a reason why no link has been provided around how to leverage Defender for Cloud's integrated Qualys vulnerability scanner subscription to monitor Azure Databricks VM?

The [Azure Defender for Cloud documentation](https://docs.microsoft.com/en-us/azure/defender-

[2022-04-14 01:10] Zek99 opened #91520 "Clarity on the requirement of step #2"
Step 2 being:

Is the guide saying to enable "Always On" for demonstration purposes? Or is it actually a requirement? It would be expensive to require "AlwaysOn"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
* Version Independent ID: 6b3c7ae8-f3bb-dc4b-ed5b-a6e2190dacfd
* Conten

[2022-04-14 01:34] katherinechaw commented on #61632
I have got same issue. If someone found it, please share to me.

[2022-04-14 02:22] kromerm commented on #89953
assign to @ssabat

[2022-04-14 02:26] kromerm commented on #90525
#please-close

[2022-04-14 02:26] #90525 closed

[2022-04-14 02:27] kromerm commented on #91184
#please-close

[2022-04-14 02:27] #91184 closed

[2022-04-14 03:17] gbowerman opened #91526 "Include instructions on creating a Resource Group in the ACS quick start guide"
[Enter feedback here]

Include instructions on creating a Resource Group in this quick start. Don't assume people reading automatically know how to do that, or what naming conventions etc. should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d3d6a4-64b0-4a37-f387-696f88865a54
* Version Independent ID: e02b6c38-4

[2022-04-14 03:38] vuvasira opened #91527 "NIC creation step is missing"
In the section Create an NVA, after creating the VM the documentation says

"For a network interface to be able to forward network traffic sent to it, that is not destined for its own IP address, IP forwarding must be enabled for the network interface. Enable IP forwarding for the network interface with [az network nic update](https://docs.microsoft.com/en-us/cli/azure/network/nic)."

az network n

[2022-04-14 03:48] KranthiPakala-MSFT commented on #91288
@QingfengLOU To find the Workflow URL you must browse to the workflow itself, not just the logic app that contains it. From the Workflows page of your logic app instance, choose the workflow and then navigate to its Overview page.

![image](https://user-images.githubusercontent.com/50185738/163309210-09562384-ff94-44d4-bfbe-03b7cc3fcc34.png)

[2022-04-14 03:50] KranthiPakala-MSFT commented on #91493
@duanrongrong - Could you please elaborate a bit on your problem? Do you mean you tried the sample exactly as it described and it is not working or you are trying to implement your solution referencing this article but having some issues?

[2022-04-14 03:53] RyanHill-MSFT commented on #91514
Thanks for the feedback @bluefirepatrick. I do want to point out a couple of things that you mentioned. The sentence you referenced, \_a Git repository or a zip file with build automation enabled\_.

Git repository is linked to https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git which explains using the platform to build your app. Zip file links to https://docs.microsoft.com/en-us/

[2022-04-14 04:00] RyanHill-MSFT commented on #91526
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-14 04:04] gbowerman commented on #91526
An example might be a script that does everything like this:
AZ_RESOURCE_GROUP=<your-rg-name>
AZ_LOCATION=<a Us location, e.g. westus3>
AZ_ACS_NAME=<your-acs-name>

az group create --name $AZ_RESOURCE_GROUP --location $AZ_LOCATION
az config set extension.use_dynamic_install=yes_without_prompt
az communication create --name $AZ_ACS_NAME --location "Global" --data-location "United States" --resource

[2022-04-14 04:09] duanrongrong commented on #91493
Hi  Kranthi Pakala
thank you for your reply!!!!

I have found the issue,  the host  need to change to my endpoint .

I have another issue , I want to read the twitter from evenhub and get the stock tickers. like the JPM in (NYSE:JPM)
my code is like this ,but can not run, could you give me some advise , very thanks!!!

I am a new learner , very sad now ...

At 2022-04-14 11:51:07, "Kranthi Pakala"

[2022-04-14 04:39] KranthiPakala-MSFT commented on #91519
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-04-14 04:59] AnuragSharma-MSFT commented on #91170
@timsander1 Thanks for providing your inputs. Although @vgarmash question is more related if Azure Function triggers will just work for SQL API or we support them for other APIs as well. Could you please provide your inputs on that as well. Thanks

[2022-04-14 05:26] Harikrishnan-M-B commented on #46183
The redirect type can be set to 301/302/307/308 per customer needs.
301 is the recommended status code for HTTP to HTTPS redirection. [See URL redirect](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-url-redirect?pivots=front-door-classic#redirection-types)

The instructions in [Create a Front Door with HTTP to HTTPS redirection](https://docs.microsoft.com/en-us/azure/frontdoor/front-

[2022-04-14 06:51] clarenceb opened #91529 "Broken link (404 not found) for "metrics explorer in the Azure portal" link under section Azure Monitor metrics"
In the section [Azure Monitor metrics](https://docs.microsoft.com/en-us/azure/container-apps/observability#azure-monitor-metrics), there appears this text:

"These metrics are available to view and analyze through the [metrics explorer in the Azure portal](https://docs.microsoft.com/azure-monitor/essentials/metrics-getting-started)."

The link is broken and return 404 - Page not found.

---
#### D

[2022-04-14 06:58] pnarsi opened #91530 "Permissions Required in AKV to enable a SHIR VM to retrieve credentials"
With regards to the statement highlighted below:

![image](https://user-images.githubusercontent.com/7891408/163330088-beb684c3-d8a5-4918-bd4d-729f4896a627.png)

What RBAC/access policy permissions do I need to configure in order to allow my SHIR VM to retrieve the stored credentials in AKV? If I grant the ADF System Assigned Managed Identity the required to access AKV as described in step 2 [here

[2022-04-14 07:07] SadiqhAhmed-MSFT commented on #91508
@Russshabura Thanks for bringing this to our notice. We will review the content with the owner and update as appropriate.

@bandersmsft FYI

[2022-04-14 07:32] anarii opened #91531 "Microsoft 365 F5 Security Add-on (SPE_F5_SEC) missing in the licensing table"
For some reason SKU Microsoft 365 F5 Security Add-on is completely missing in the table currently. Only Microsoft 365 F5 Security + Compliance Add-on is listed with its different SkuId.

Details of the missing SKU:

SkuPartNumber: SPE_F5_SEC
SkuId: 67ffe999-d9ca-49e1-9d2c-03fb28aa7a48

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-04-14 08:35] marcinjahn opened #91533 "The 4th image is hard to understand"
This image is difficult to understand:
![image](https://user-images.githubusercontent.com/10273406/163347021-eae79326-9b13-49a3-8f41-930d933d6e43.png)

The article describes that we have the following entities:
- CA
- factory
- technician
- device

The CA signs the factory's cert, the factory signs the technician's cert, and the technician sign's the device's cert.
Does the image show that both th

[2022-04-14 08:39] stephanvandekruis opened #91534 "Wrong translation to Dutch"
When receiving an approval Email in Dutch the title is:

De aanvraag **van** dindsag 26 april 2022 goedkeuren of wiegeren voor

**van** indicates that the date of the request is on the 26th of April. But the date of the request was in this case 13th of April.

 Instead it should be **voor**  which indicates that the request should be completed before the 26th of April.

---
#### Document Details

[2022-04-14 08:39] kengaderdus commented on #91511
@Norrch2

Thank you for your feedback and patience. In the article, the pre-requisites show that you need to use the provided starter packs, and the two claim types have been declared there.

Regarding a check whether they match, the claim types are considered special. The UI validates that the user correctly re-entered their password during account creation based on them (claim types).

I hope th

[2022-04-14 09:12] m-soltani commented on #86704
exactly what I was looking for ... .But How do you deployment a cross-tenant ARM Template ( e.g.) with Az-PowerShell or AzCli ? i am getting weird errors ..

[2022-04-14 09:38] miqm opened #91537 "Overlapping recommended Firewall rules"
Hello,

Please review the recommended Azure Firewall Policy Rules as the bullet points are overlapping each other and makes a very hard to understand which rules are essential to secure AKS following least privilege principle.

For example:
The page defines to create application rule that will allow traffic to AzureKubernetesService FQDN tag. However, in the next bullet point there's recommended r

[2022-04-14 09:52] kengaderdus commented on #91235
@Timsto

Thank you for your feedback. We're updating the docs.

Thanks.

[2022-04-14 09:58] danwatford opened #91538 "Conflict between use of Security Defaults and Backup Administrator Accounts"
Documentation does not make it clear that Backup Administrator Accounts can NOT be used when Security Defaults are enabled.

The section on Backup Administrator Accounts plus the linked page here - https://docs.microsoft.com/en-us/azure/active-directory/roles/security-emergency-access - suggest that MFA should be disabled for backup account.

Please amend this page to highlight that the advice aro

[2022-04-14 09:59] PriyankaRudramaina commented on #91486
Hello @Mohamedballouch,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-14 10:01] PriyankaRudramaina commented on #91512
Hello @carlosporter,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-14 10:06] PriyankaRudramaina commented on #91529
Hello @clarenceb,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-14 10:32] PriyankaRudramaina commented on #91529
Hello @clarenceb,

We have made the necessary changes in the documents and it will be updated soon. For any further queries, please get back.

[2022-04-14 10:32] #91529 closed

[2022-04-14 10:33] ashioyajotham opened #91540 "MX Chip Not Listed Under Arduino Board Manager"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-04-14 10:34] ashioyajotham commented on #91540
https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-devkit-mxchip-az3166-iot-hub

[2022-04-14 10:41] RudyEvers commented on #90682
@jiacfan Thank you for your response. I am going to test the condition example you've send me.

**Access check:**
At the moment I check the access through the poral and storage explorer.

**Target restrictions:**
To give you some more information. We have a data lake with multiple containers and our data is pretty well organized in folders and DELTA tables. We have two options regarding the access

[2022-04-14 10:47] kengaderdus commented on #90699
@KSchlobohm
We're closing this issue. If you've more questions, feel free to contact us. #please-close

[2022-04-14 10:47] #90699 closed

[2022-04-14 11:29] PriyankaRudramaina commented on #91540
@timlt -Request you to review this feedback and update your inputs here please.

[2022-04-14 11:31] SuperGraham opened #91541 "Invalid Content-Type value. Allowed value(s): application/json, application/octet-stream, application/vnd.geo+json"
I'm trying to follow the instructions, but I am getting an error. In the Upload geofencing GeoJSON data section - https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-geofence#upload-geofencing-geojson-data, when I add the GeoJSON data to the body and POST, I get the following response.

{
    "error": {
        "code": "400 BadRequest",
        "message": "Invalid Content-Type value. Allowe

[2022-04-14 11:42] PriyankaRudramaina commented on #91291
@cynthn - Please review this request and update

[2022-04-14 11:46] PriyankaRudramaina commented on #91540
Hello @ashioyajotham,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-14 11:47] StephanGa opened #91542 "Powershell example is wrong - allows all computers to get password of high privilege account"
Please review script

This seems not be legit.

It creates a key that can be read from all domain computers. The account that is to be created (in this case) is a high privilege service account. The document does not state that it is just "an example" script

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d513d77-4a6d-

[2022-04-14 11:47] tech88kur commented on #42431
Thanks for the response.

This is the context.
My VMs should get deployed based on condition of new or existing subnets. The subnets and the Vnet are in a different resource group. The Vnet is already deployed and each time a vm is deployed it is either created in a new subnet in that vnet or an existing subnet. I am using something like this for subnet and the NIC

            "condition": "[equa

[2022-04-14 11:54] PriyankaRudramaina commented on #91486
@eric-urban - Please review this and update

[2022-04-14 11:57] marios-siatis opened #91543 "Default WAF rules not that safe. (doesn't check capitals)"
Raising this issue here as I am not sure where to raise it but here is a finding on the WAF rules.

In Azure functions API, If I type the URL in all capitals or if I capitalise one letter on the protocol then I am allowed to post the payload:

You can also create a feedback issue here in the repo. If you do this, please make sure your issue lists:

- [ ] The relevant Azure service or technology. :

[2022-04-14 12:10] PriyankaRudramaina commented on #91013
Hello @ju-shim
Any update on this?

[2022-04-14 12:13] SuperGraham commented on #91541
I worked it out.
7. In the dropdown lists, select raw and JSON - I missed the 'and JSON' bit.

Thanks, Graham

[2022-04-14 13:29] diberry opened #91545 "Set tag after upload - please call out why"
Please add text to call out, at the top of the article, that you shouldn't set the tag on the upload operation because [it isn't guaranteed to persist](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal#conditions-and-known-issues).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-14 13:32] PriyankaRudramaina commented on #91520
Hello @Zek99,

Thank you for your question. We will investigate on your query and update the thread further.

[2022-04-14 13:44] zahraasaleh opened #91546 "misleading text for customer looking to use Private endpoints"
[This [documentation](https://docs.microsoft.com/en-us/azure/backup/private-endpoints#can-i-create-a-private-endpoint-for-an-existing-backup-vault) is for the Azure Recovery Services vault and not the Backup Vault.
The document is misleading, as it mentions BACKUP VAULT while it should have specifically stated Azure Recovery Services Vault.
]

---
#### Document Details

⚠ *Do not edit this section

[2022-04-14 14:21] craigbrown opened #91547 "Some parts of this document could be improved"
I just followed the "custom policy" section of this document and thought some parts were not as clear as they could be.

1. In the "Add the password reset sub journey" section, the first line reads:

    This is incorrect. This line implies that password reset should already be working at this point, and what follows is just a suggestion of how to organize the xml file. In reality, the password re

[2022-04-14 14:47] #91163 closed

[2022-04-14 14:49] spelluru commented on #91156
@sijucm - I have also updated the article to include a .NET example I created. Please let me know if it still doesn't help you. Thanks!

#please-close

[2022-04-14 14:54] JamesTran-MSFT commented on #91534
@stephanvandekruis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-14 14:57] JamesTran-MSFT commented on #91538
@danwatford
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-14 14:59] JamesTran-MSFT commented on #91542
@StephanGa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-14 14:59] JamesTran-MSFT commented on #91547
@craigbrown
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-14 15:06] Harikrishnan-M-B commented on #48177
'Front Door managed' certificate management type is not currently supported for apex or root domains.
There is no available ETA for it.

[2022-04-14 15:13] 1trevor opened #91548 "How to require users to use CBA?"
The article states that Azure AD CBA "enables customers to...**require** users to authenticate with X.509 certificates" but then the documentation only shows how to make CBA **optional** for users. Can it be configured so that users aren't allowed to authenticate unless they authenticate with a certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-04-14 15:17] kengaderdus commented on #91504
@Nagendracv

Thanks for your feedback! I look at step 3 of [this article](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-angular-spa-app), but I do not see any mention of password reset. Nevertheless, if you need that functionality, you need to create a user flow of type **Password reset** in the Azure portal, and then use it similar to the way sign-up

[2022-04-14 15:22] ChristianMayAvixa commented on #34167
Might have better luck going viral on r/softwaregore

[2022-04-14 15:22] Norrch2 commented on #91511
Please allow me a few to deploy these to test prior to closing this ticket.

[2022-04-14 15:28] LockTar opened #91549 "Log (error) response of REST operation to Application Insights"
I'm trying to capture the response of the rest call to a custom API.
How can I do that? I see the 400 error code. But no body in Application Insights.

I see the section [Validation error message](https://docs.microsoft.com/en-us/azure/active-directory-b2c/restful-technical-profile#returning-validation-error-message). Does this mean that the response of the 400 error must be written in that format

[2022-04-14 15:35] rothja commented on #91269
@igalfsg Thanks for your feedback. I'll take a look at this and involve others as needed to see what needs to change in the documentation. Appreciate your patience.

[2022-04-14 15:40] Nagendracv commented on #91504
I was referring to the Step 3 under the title "Sign in flow"
So when I refer to user flow of type **Password reset**, based on the documentation, there are 2 types
The first is a recommended flow and the other is the legacy flow.
Nowhere on the internet is a sample of the legacy flow with angular. All examples are of type non angular.
In this documentation page, I noticed an angular sample, but it

[2022-04-14 15:44] PriyankaRudramaina commented on #90149
Hello @jeffgayle,

This has been handled, the changes will be reflected in the document soon.

[2022-04-14 15:44] peteoliveira commented on #90615
This did not work for me I am able to run ruby and it is the correct version.
Trying to run rails or bundle exec rails does not work.

"bundler: failed to load command: rails (/tmp/bundle/ruby/2.7.0/bin/rails)
Gem::GemNotFoundException: can't find gem railsties...

[2022-04-14 15:44] #90149 closed

[2022-04-14 15:48] PriyankaRudramaina commented on #90150
We are working on this internally with concerned teams. Will update the thread once we make the required changes.

[2022-04-14 15:56] PriyankaRudramaina commented on #91273
Hello @db422,

I am working on documentation to see if we can make this statement a bit more clear. I will keep this thread posted.
That should say “Security Group”.  You need to give your users access to the share, the same users you assign to the app group.  Also, you need a security group that contains all the computer objects for your session hosts.  The permissions required for each security

[2022-04-14 15:57] PriyankaRudramaina commented on #91273
hello @Heidilohr,

Could you please review this.

[2022-04-14 15:58] KyferEz opened #91551 "Clarification needed: Does a Parent Pipeline know about child pipeline re-runs?"
The docs do not state if a parent pipeline will be aware of, nor how it will respond, when a child pipeline has an activity that failed and has been rerun successfully. Will the parent pipeline know about this or not? What is expected behavior of the parent pipeline? Please add a note to the docs on this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-04-14 16:21] johanste opened #91552 "Incorrect link to storage python library + preview notice"
Two issues with the intro block from the page - the link should absolutely not be to the deprecated meta-package for storage (which has been deprecated for a long time) and the libraries are not in preview:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b206d05-0214-14dd-4aee-bfc3fc08c6ea
* Version Independent

[2022-04-14 16:21] becnichelesmith opened #91553 "Video broken"
Embedded video is broken, only shows a white screen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd669bd-d8ff-d24a-a280-1cbecbd736f0
* Version Independent ID: 050255dd-f953-7fbd-f492-fdc0ac8350ee
* Content: [Charge back Azure Reservation costs](https://docs.microsoft.com/en-us/azure/cost-management-billing/reservati

[2022-04-14 16:23] khairnarshailesh commented on #90951
Hi @AshokPeddakotla-MSFT / @asergaz ,

We are facing an another issue while doing this activity, once it will be resolve we will update the status.

Kind regards,
Shailesh

[2022-04-14 16:24] dknappettmsft commented on #86204
Hi @thulasiramvalleru, these steps are only for the personal desktop host pool assignment type. These points do show in the UI in that instance, but not with the pooled desktop host pool assignment type, as shown in these two images:

Personal desktop host pool assignment type:
![image](https://user-images.githubusercontent.com/49432665/163431649-1b79bd1c-17fc-4f7a-a258-b5ff56a41128.png)

Pooled d

[2022-04-14 16:24] #86204 closed

[2022-04-14 16:27] chadcarlton opened #91554 "Get a complete list of apps using ADAL in your tenant"
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-get-list-of-all-active-directory-auth-library-apps

It is nice to have the ADAL query results within the AAD workbook Sign-ins dashboard/summary page.

It would be better to also reveal the query that is used to generate that list of apps that are using ADAL.

Please add the query that is used to create this part of the dashboar

[2022-04-14 16:34] GianlucaVagnoni commented on #91187
Ok, what abouot the first use case? Is it possible to get the full JSON response in one single string claim?
If it is possible, I can then use the claim transformation items to construct a stringCollation claim.

[2022-04-14 16:49] Grace-MacJones-MSFT commented on #91527
Hi @vuvasira, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as this doc

[2022-04-14 16:57] KranthiPakala-MSFT commented on #91530
Thanks for the reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-04-14 17:05] JamesTran-MSFT commented on #91548
@1trevor
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-14 17:05] mbender-ms commented on #91527
Hi @vuvasira,
Thanks for reaching out with the suggestion.

Default behavior for VM creation using Azure CLI is that the nic is created with a default name of <VMname>Nic. In this case, the nic, **myVmNvaVMNic**, is created.

My suggestion would be adding a note about the default Nic creation behavior with _az create vm_ so it is understood where the name of the Nic came from for the _az network n

[2022-04-14 17:18] JamesTran-MSFT commented on #91554
@chadcarlton
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-14 17:20] mike-urnun-msft commented on #91179
Thank you for sharing, @veronicapetersen! Please consider contributing this sample with the rest of the APIM users by raising a PR at the following repository: https://github.com/Azure/api-management-policy-snippets

Since we didn't determine any changes to this particular documentation upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding

[2022-04-14 17:20] #91179 closed

[2022-04-14 17:26] AnuragSharma-MSFT commented on #91306
@Marco-Santoni Thanks for your patience. Please refer to below document for details on ttl using python:

[Azure Cosmos DB SQL API client library for Python - Version 4.2.0](https://docs.microsoft.com/en-us/python/api/overview/azure/cosmos-readme?view=azure-python#modify-container-properties)

Please let us know if this is helpful or else we can discuss further.

[2022-04-14 17:30] KranthiPakala-MSFT commented on #91493
@duanrongrong  Glad to know that your issue was resolved.
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/

[2022-04-14 17:30] mike-urnun-msft commented on #91181
@RBVieira Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-14 17:30] #91181 closed

[2022-04-14 17:39] andrePKI opened #91557 "Confused by which permission are required"
To me it is confusing what permissions are required for the service principal. I think it is also described what permissions are required for "your account" which is used to grant the permissions to the service principals.
So please leave that out, or make more clear the service principal needs only **Azure Connected Machine Onboarding** (?) and the following permissions (...) are required to gran

[2022-04-14 17:42] brian1985 commented on #84783
I have the same issue

[2022-04-14 17:52] ChaitanyaNaykodi-MSFT commented on #91537
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-14 17:53] Grace-MacJones-MSFT commented on #91533
Hi @marcinjahn , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc

[2022-04-14 17:58] Grace-MacJones-MSFT commented on #91545
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-14 18:03] jesselve commented on #91497
I have a bunch more feedback about this specific documentation.  Let me
know if you want it, as well.

On Wed, Apr 13, 2022 at 1:50 PM SaiKishor-MSFT ***@***.***>
wrote:

[2022-04-14 18:05] mike-urnun-msft commented on #91242
Hello @Fresher900 - These are 2 separate Retry features: one is configured at your Functions apps' host runtime and the other is the configuration against the Event Hubs' retry feature - the former is _in preview_ but the latter is not.

When both of these are configured, they layer on top of each other and produce multiplied retry behavior.

For more on what the most optimal configuration might l

[2022-04-14 18:05] #91242 closed

[2022-04-14 18:08] JamesTran-MSFT commented on #91548
@1trevor
Thank you for your time and patience throughout this issue.

If you're referring to the Registration's "Optional" field, you can change it to `False` when [Enabling Azure AD CBA using the Microsoft Graph API](https://docs.microsoft.com/en-us/azure/active-directory/authentication/how-to-certificate-based-authentication#enable-azure-ad-cba-using-microsoft-graph-api).
![image](https://user-i

[2022-04-14 18:08] #91548 closed

[2022-04-14 18:10] #91440 closed

[2022-04-14 18:13] NebV opened #91558 "Confusion on Important Note for Private DNS Zones"
In regards to the Important note "Existing Private DNS Zones tied to a single service should not be associated with two different Private Endpoints as it will not be possible to properly resolve two different A-Records that point to the same service. However, Private DNS Zones tied to multiple services would not face this resolution constraint." The first sentence of this statement is not making s

[2022-04-14 18:14] Grace-MacJones-MSFT commented on #91553
Hi @becnichelesmith, what Brower are you using? its currently working for me on edge.
![vid](https://user-images.githubusercontent.com/42247081/163451769-16d6ffa4-feac-4e60-a417-e91d29c7abfe.png)

[2022-04-14 18:16] bandersmsft commented on #91553
@becnichelesmith @Grace-MacJones-MSFT Confirming that the video displays properly for me, too. I tested in both Google Chrome and Microsoft Edge.

[2022-04-14 18:27] JamesTran-MSFT commented on #91500
@GreggAtDuracell
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-14 18:27] #91500 closed

[2022-04-14 18:33] Grace-MacJones-MSFT commented on #91541
glad to hear it is now working. we will now proceed to close out this issue

[2022-04-14 18:33] #91541 closed

[2022-04-14 18:35] gbowerman opened #91560 "App Service deployment part of ACS quickstart should include instructions"
The last part of the ACS quickstart states:
2. Use the Azure extension and deploy the Chat/dist directory to your app service
For someone new to Azure looking at these instructions, this is too vague. How about a simple set of instructions showing how to use CLI to deploy to Azure App Service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-04-14 18:40] SaiKishor-MSFT commented on #91552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-14 18:43] brucelangston opened #91561 "Poor quality of screen shot image inserted in the page."
The first screen shot on the page is of such poor quality that I can't read it.  The second one is okay.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a431b587-3b8e-17a7-4e17-60526e6de632
* Version Independent ID: 801747a4-4ef8-c443-acaf-6de040dd7ca4
* Content: [Web application firewall exclusion lists in Azure Front

[2022-04-14 18:49] JamesTran-MSFT commented on #91517
@chriskincaid24
Thank you for pointing this out!

When reproducing your issue, I ran into the same problem and have reached out to my team to see if they can provide any inputs on this.
![image](https://user-images.githubusercontent.com/36619112/163456222-d0c07a13-a664-4df8-bb9d-a05115f171a2.png)

[2022-04-14 18:56] 1trevor commented on #91548
I'm referring to the line at the beginning of the article where it says you can require users to authenticate with x509 certificates, which is exactly what I want to do. However, after configuring everything per the article, users have the choice to log in with an x509 certificate, but they retain the option to sign in with a password and the authenticator app. I don't see any way to require the u

[2022-04-14 18:58] rbertha opened #91562 "Azure Network Legacy Chart Needs Update"
The region to region latency chart has not been updated since May 2021 and does not include new data centers such as West US 3
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure networ

[2022-04-14 18:59] kamilzzz commented on #52874
I just would like to remind that docs still aren't updated.
Also it would be nice to have an article describing difference between alternativeSecurityIds and userIdentites as now I'm kinda lost and I don't know when should I use alternativeSecurityIds vs userIdentities.

All starter packs still use alternativeSecurityIds while account linking samples use userIdentities.
Why is that? What's the dif

[2022-04-14 19:00] duongau commented on #46183
The article has been updated and should reflect later today. Will archiving this issue for now. Please feel free to contact us if you have any questions. #please-close

[2022-04-14 19:00] #46183 closed

[2022-04-14 19:03] JamesTran-MSFT commented on #91548
@1trevor
Thank you for following up on this!

When you enabled CBA, was it recently? If so, the policy is cached, and after a policy update, it may take up to an hour for the changes to be effective. For [more info](https://docs.microsoft.com/en-us/azure/active-directory/authentication/certificate-based-authentication-faq).

[2022-04-14 19:03] bandersmsft commented on #91508
@Russshabura I'm not sure if your comments are specific to Azure Gov MOSP, EA, or MCA accounts.

@SadiqhAhmed-MSFT FYI.

For #1, https://docs.microsoft.com/azure/cost-management-billing/understand/download-azure-invoice#download-your-mosp-support-plan-invoice shows where to download the support plan subscription invoice for MOSP.

For #2, https://docs.microsoft.com/azure/cost-management-billing/un

[2022-04-14 19:04] duongau commented on #48177
#please-close PM request closing the issue.

[2022-04-14 19:04] #48177 closed

[2022-04-14 19:04] chriskincaid24 commented on #91517
@JamesTran-MSFT  I had a call with Microsoft Support engineer who indicated that /promote is not implemented in the MS Graph API, and that I needed to use the Azure AD API.

[2022-04-14 19:06] gbowerman commented on #91560
As a minimum, add a link to help with the "deploy the Chat/Dist directory to your app service" should include a link to a guide on how to do that, like this: https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?tabs=windows&pivots=development-environment-vscode

[2022-04-14 19:06] mike-smith-psomas opened #91563 "Please add windows version compatibility note"
I can only get GPU accelerated frame encoding working with NVIDIA VMs running Windows 10 20H2. It does not work in Win10 21H2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d3e1c81-42fd-8a46-b816-9dcce9e6b3f3
* Version Independent ID: 06ab7ec2-2a39-c4de-8d9e-5e33a523b284
* Content: [Configure GPU for Azure Virtual De

[2022-04-14 19:09] 1trevor commented on #91548
How would you configure the policy to require CBA and not allow other methods? The "isRegistrationRequired" field doesn't appear to do it.

[2022-04-14 19:45] laujan commented on #91351
Hi @jeremy-hicks, thank you for your feedback. The <a href="https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/quickstarts/try-sample-label-tool">[Quickstart: Label forms, train a model, and analyze forms using the Sample Labeling tool - Form Recognizer - Azure Applied AI Services | Microsoft Docs](https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/q

[2022-04-14 19:45] #91351 closed

[2022-04-14 19:46] ziaddiab-globaldws commented on #90164
@SatishBoddu-MSFT , Do you have an update on this issue?

[2022-04-14 20:05] duongau commented on #58611
Hi @jachin84, please see the above comment left by a PG member. If you have any questions please feel free to reach back out to us. For now I will be arching this issue. Thank you. #please-close

[2022-04-14 20:05] #58611 closed

[2022-04-14 20:06] rmuneer opened #91564 "Customer queries"
I am working on a case . Cx has deployed a VM " ms-prd-apigw-vm-ne-01 " with RHEL 7.x and is facing following issue.

Issue Description :Updates  are appearing in Update management but they are not showing in security category,  instead they are appearing as other updates.

Solution Provided.
I have shared the  following MS doc link with the CX:
Link  ( Azure Automation Update Management overview

[2022-04-14 20:07] mike-urnun-msft commented on #91263
Hello @joeskeen  - Thank you for reporting this issue and helping us drive improvements towards MS Docs! I’ve created a PR that updates to communicate 6 days. Once the PR is merged, the changes should be live within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-14 20:07] #91263 closed

[2022-04-14 20:17] jtmackoy opened #91565 "Domain Verification Requirements Need Adjustment"
# Problem Statement

This documentation indicates (via the tabbed interface for the three types of records that can be used) that *both* the record type *and* a TXT record are required in each scenario.  This is also indicated when attempting to add a custom domain in an App Service where the prerequisites haven't been met as shown here:

![image](https://user-images.githubusercontent.com/7025779/

[2022-04-14 20:40] boumenot opened #91566 "curl command is missing a -H"
I copied the command for Linux, and it did not work.  I think the command is missing `-H` to specify the metadata header

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Service

[2022-04-14 20:43] Grace-MacJones-MSFT commented on #91562
Hi @rbertha ,Thanks for your feedback! We will review and update this doc accordingly.

[2022-04-14 20:44] KumariSupriya commented on #91566
Yes, thanks for reporting this Chris.  We are indeed missing -H  with latest doc update, will fix it.

[2022-04-14 20:44] Grace-MacJones-MSFT commented on #91561
Hi @brucelangston, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-14 20:46] Grace-MacJones-MSFT commented on #91560
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-04-14 20:48] Grace-MacJones-MSFT commented on #91563
Hi @mike-smith-psomas , thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-14 20:50] Grace-MacJones-MSFT commented on #91549
Hi @LockTar, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-14 20:51] Grace-MacJones-MSFT commented on #91557
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-14 20:53] Grace-MacJones-MSFT commented on #91558
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-14 20:54] ncarandini commented on #87042
Yes @kengaderdus,
thanks.

[2022-04-14 20:56] peterswimm opened #91567 "Broken link for CLU API"
https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/conversational-language-understanding/

The api sidebar link to Reference > REST Api > Authoring API is broken
![Screen Shot 2022-04-14 at 3 56 09 PM](https://user-images.githubusercontent.com/1554372/163473803-a1c1bc74-0586-4698-a575-8e4cdede196a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-04-14 21:05] flang-msft commented on #87932
We haven't heard from you so we are going to close the issue. You can re-open it if you wish. Thank you.
#please-close

[2022-04-14 21:05] #87932 closed

[2022-04-14 21:14] jcr010910 commented on #85414
@ivapplyr @asudbring @SatishBoddu-MSFT
any update?

[2022-04-14 22:04] asudbring commented on #87993
Updated document for clarity:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/195187
#please-close

[2022-04-14 22:05] #87993 closed

[2022-04-14 22:32] ChaitanyaNaykodi-MSFT commented on #91304
Hello @GitHubUser1339
Regarding your 1st question
The text Monitoring is referring to the `Monitoring Section` in lefthand side panel of the portal.
![image](https://user-images.githubusercontent.com/67453298/163484766-654ba560-594d-4334-ad61-1d9eb5100322.png)

Regarding the 2nd question.
As mentioned in this step.
![image](https://user-images.githubusercontent.com/67453298/163486057-038a3fca-1094

[2022-04-14 22:40] gbowerman opened #91571 "npm commands do not use relative paths - this won't work in Azure"
[Enter feedback here]
Did anyone test this app in Azure App Service?
The package.json files are littered with "start": "cd ..." commands
This will fail when you try and deploy it to Azure with:
Invalid start-up command "cd Chat && npm run start && cd .." in package.json. Please use the format "node <script relative path>".

I suggest you take this example down until it's been tested in Azure. It's

[2022-04-14 23:18] ecfan commented on #90676
#assign:@ecfan

[2022-04-14 23:19] ecfan commented on #89895
#assign:@ecfan

[2022-04-14 23:21] ecfan commented on #89156
#assign:@ecfan

[2022-04-14 23:21] ecfan commented on #88244
#assign:@ecfan

[2022-04-14 23:22] ecfan commented on #87165
#assign:@ecfan

[2022-04-14 23:24] ecfan commented on #85936
#assign:@ecfan

[2022-04-14 23:25] ecfan commented on #84816
#assign:@ecfan

[2022-04-14 23:27] ecfan commented on #83518
#assign:@ecfan

[2022-04-14 23:27] ecfan commented on #82636
#assign:@ecfan

[2022-04-14 23:28] ecfan commented on #81039
#assign:@ecfan

[2022-04-14 23:29] ecfan commented on #80482
#assign:@ecfan

[2022-04-14 23:31] ecfan commented on #76990
#assign:@ecfan

[2022-04-14 23:31] ecfan commented on #76864
#assign:@ecfan

[2022-04-14 23:32] ecfan commented on #76848
#assign:@ecfan

[2022-04-14 23:34] ecfan commented on #74911
#assign:@ecfan

[2022-04-14 23:35] ecfan commented on #74722
#assign:@ecfan

[2022-04-14 23:36] ecfan commented on #73756
#assign:@ecfan

[2022-04-14 23:36] ecfan commented on #73582
#assign:@ecfan

[2022-04-14 23:37] ecfan commented on #73502
#assign:@ecfan

[2022-04-14 23:37] ecfan commented on #73330
#assign:@ecfan

[2022-04-14 23:38] ecfan commented on #75086
#assign:@lauradolan

[2022-04-14 23:40] ecfan commented on #75086
@lauradolan: Please ignore. I'm back-assigning past issues to indicate those who resolved them. :)

[2022-04-14 23:46] kobulloc-MSFT commented on #91334
@tdevopsottawa We're unable to provide Service Tags/CIDRs for the outbound destinations that are not already listed.  If that changes, we'll be sure to update the tables accordingly.  You are correct that this creates challenges for NSGs so the recommendation in the documentation is to use a firewall:

More information can be found here:
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traf

[2022-04-15 00:22] ncoder opened #91572 "cognitiveservices/v1 416 http error"
I'm receiving a 416 http error from a call to  "cognitiveservices/v1"

This error code is not listed on this page. Please update it with the complete set of error messages and their explanations. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e351e013-771a-bfdc-0f76-815316c7717d
* Version Independent ID: 8c3

[2022-04-15 00:50] ncoder commented on #91572
On further inspection, I am mistaken.
I have no evidence that this is an error I receive from this service.

Sorry for the confusion.

[2022-04-15 00:50] #91572 closed

[2022-04-15 01:12] vuvasira commented on #91527
Great suggestion,

I will update shortly, and create a PR.

Also, with the section "Route traffic through an NVA" command to install the traceroute :
sudo apt-get install traceroute

is throwing the failing with the error "Package traceroute is not available, but is referred to by another package. This may mean that the package is missing, has been obsoleted, or is only available from another sour

[2022-04-15 02:14] ProbablePrime commented on #91526
Thanks for your feedback, after chatting with Ryan. I'll be editing the documentation to link over to Azure's documentation on resource groups. Its quite detailed and includes Azure CLI and portal instructions.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/manage-resource-groups-portal

[2022-04-15 02:29] RajithaE-jan opened #91574 "How to find callee ID from Teams identity"
We integrated the MS team's feature into our APP. Currently, we are investigating how to initiate a 1:1 video call from the team's feature.

In this doc, it mentioned **Caller ID** which is used to connect. But we would like to initiate the call from the MS teams App.
For that, we need to generate a callee ID from Teams identity.
1) Is there any specific document or way to generate a callee ID fro

[2022-04-15 02:42] BryanTrach-MSFT commented on #91565
@jtmackoy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-15 02:43] BryanTrach-MSFT commented on #91571
@ddematheu2 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-15 02:44] BryanTrach-MSFT commented on #91574
@RajithaE-jan Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-15 02:57] wangyingmm opened #91575 "if all webhook handler of Blob storage event triggered Simultaneously or sequentially?"
As the title says :-). if I add multiple webhook hander for a blob storage event, will they be trigger simultaneously?

[2022-04-15 03:18] mikey-mdk opened #91576 "Missing instructions"
This section should describe where to enable these settings:
https://docs.microsoft.com/en-us/azure/spatial-anchors/how-tos/setup-unity-project?tabs=xr-plugin-framework%2Cunity-2020%2Cunity-package-mixed-reality-feature-tool%2CExtraConfigurationsHoloLens#configure-your-unity-project-capabilities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-04-15 04:28] jiacfan commented on #90682
@RudyEvers

Yes, the scenario can be achieved by conditional access.

When using the conditional access, please check the permission to grant permission, the condition need be modified accordingly, e.g.:
1) Wish to grant read permission for files under directory 'folderX/' -> `@Resource[Microsoft.Storage/storageAccounts/blobServices/containers/blobs:path] StringStartsWith 'folderX/'`
2) Wish to gr

[2022-04-15 04:29] ProbablePrime commented on #91526
These edits are now in place, they're mostly in the form of cross links and in place links. The existing microsoft docs for these areas are a lot more detailed then I think our team will be able to do which is why I don't want to repeat the content etc.

Thanks!

[2022-04-15 04:48] gbowerman commented on #91526
Thank you @ProbablePrime, appreciate the quick response.

[2022-04-15 05:48] JimmyLS opened #91577 "The role assignment scope used in this article seems to be wrong"
This article has an example of applying "Virtual Machine Administrator Login" role to VM scope, like below:

<img width="622" alt="image" src="https://user-images.githubusercontent.com/25541899/163526224-0e6064b0-6031-4b91-ad7e-18730dd10260.png">

When I followed this and tested to login with "**az ssh vm**" command, I got below error message:

The error message indicated the account has not permi

[2022-04-15 06:08] Grace-MacJones-MSFT commented on #91543
Hi @marios-siatis, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-15 06:10] Grace-MacJones-MSFT commented on #91576
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-15 06:14] Grace-MacJones-MSFT commented on #91567
Hi @aahill, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-04-15 06:16] Grace-MacJones-MSFT commented on #91564
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-15 06:19] Grace-MacJones-MSFT commented on #91577
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-04-15 07:00] tonydecastro commented on #62842
Hello,
I have the same issue.
Any update ?

[2022-04-15 07:00] kobulloc-MSFT commented on #91334
@tdevopsottawa We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-04-15 07:00] #91334 closed

[2022-04-15 07:40] KazuOnuki opened #91579 "Fix Object Detection Model Evaluation"
In this  [classification model doc](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/getting-started-build-a-classifier#:~:text=The%20Custom%20Vision%20Service%20uses%20the%20images%20that%20you%20submitted%20for%20training%20to%20calculate%20precision%20and%20recall%2C%20using%20a%20process%20called%20k%2Dfold%20cross%20validation), it explains that custom vision se

[2022-04-15 07:57] saugatapaul1010 opened #91580 "Getting WebserviceException & KubernetesDeploymentFailed error message with status code 400" + "Error in entry script, ImportError: cannot import name 'Markup' from 'jinja2'" while trying to deploy my model to a AKS cluster."
## Creating an issue

"Getting WebserviceException & KubernetesDeploymentFailed error message with status code 400, while trying to deploy my model to an AKS cluster."

I have been trying to execute my CD pipeline in Azure DevOps, but every time the deployment is failing in either AKS or ACI.

You can also create a feedback issue here in the repo. If you do this, please make sure your issue lists:

[2022-04-15 10:47] Park-minkyu commented on #90945
@flang-msft @AnuragSharma-MSFT
I just tried code that have been changed.
and I must tell you that this SIMPLY FOCUSED version is way better than last version.

and It also works like magic.

[2022-04-15 10:50] naavis commented on #83901
@SumanthMarigowda I know this issue was already closed, but it would still be great to have some possibility of updating the Azurite version that comes with Visual Studio 2022. I'm now hitting a wall where the Azure.Storage.Blobs package does not work with the Azurite version that ships with VS2022 because the API has apparently changed, and I have no other option than to install Azurite externall

[2022-04-15 11:23] longtimedeveloper commented on #83901
@naavis @SumanthMarigowda if you use the NPM package I've shown above, the start it before opening up VS 2022, everything works perfectly.  I totally agree Microsoft needs a better out-of-the-box experience for Azurite.  I had zero issues following my above workflow. Blessings, Karl

[2022-04-15 12:16] saugatapaul1010 opened #91587 "WebserviceException & KubernetesDeploymentFailed -- Error in entry script, ImportError: cannot import name 'Markup' from 'jinja2'"
HI,

I am trying to execute a CD pipeline in Azure DevOps, after successfully executing the CI pipeline which automatically triggers the CD pipeline. I have used Microsoft Self-Hosted Agent in both the cases - in the build pipeline and the release pipeline. During the deployment stage to the AKS cluster, I am getting a WebserviceExceptionerror & KubernetesDeploymentFailed with status code 400.  I

[2022-04-15 12:50] MatthewBrown0 opened #91588 "Supported OS - Windows Server 2022"
Hello, The Supported OS section does not mention Windows Server 2022.  Please check if 2022 should be added to the supported OS list.
Thank you,
Matt

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61687573-f03b-85dc-54cf-e95d95efb235
* Version Independent ID: 7bfd1c0f-0ecd-44da-9724-6118b950f4ff
* Content: [Automatic V

[2022-04-15 12:53] CloudViking opened #91589 "Elastic Queries GA"
We would love to use this instead of Azure Data Factory, but we cannot use Preview features in production.

Are there any updates around the GA date for this feature? Is this feature even still being actively developed? How come it's been in Preview for years now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bf6940

[2022-04-15 13:07] martillodecampo opened #91590 "Edit icon in screenshot id disabled"
In the screenshot for this article, the Edit icon is disabled! This is exactly the problem I'm trying to solve - I can't edit the info for a newly-created member in our AAD, but this article doesn't address this. It indicates you can just click on Edit to modify the user, but the Edit icon in the screenshot is disabled!

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-04-15 13:18] GeethaThatipatri-MSFT commented on #91589
Hi @CloudViking Thanks for reaching out, We are looking into it and update you shortly.

[2022-04-15 13:20] scoriani commented on #91589
Hi there, we don't have an update on General Availability for Elastic Query. Main blocker is compatibility with databases behind Private Links and no public connectivity, for which we currently don't have a solution.
If cross-database query is critical for your scenario, we recommend using Azure SQL Managed Instance which offers that capability out of the box.

[2022-04-15 13:29] Nicholak-MS commented on #91531
Hi @anarii

I have added the SKU information for Microsoft 365 F5 Security Add-on to the online table as well as the downloadable CSV.

Thanks,
Nick

#please-close

[2022-04-15 13:29] #91531 closed

[2022-04-15 13:32] gnbowes opened #91591 "Cache Storage Account and Private Endpoints"
Section under Important header indicates:
The cache storage account must be accessible on its public endpoint. Azure Migrate uses the cache storage account's public endpoint to move data from the storage account to replica-managed disks.

I do not believe this is true any longer, as Migrate supports Private Endpoints and thus, public endpoints should no longer be required on the cache storage acco

[2022-04-15 13:52] FISHMANPET opened #91592 "Inability to use the python automationassets module on a windows hybrid runbook worker is a disadvantage"
At least according to the [pages on managing Python packages](https://docs.microsoft.com/en-us/azure/automation/python-3-packages), the automationassets module can't be installed on a windows machine, so it can't be installed on a windows hybrid runbook worker.  If that is indeed the case, it should be called out here as a disadvantage for Python.

---
#### Document Details

⚠ *Do not edit this se

[2022-04-15 14:02] markgar opened #91593 "Missing a letter"
This document is missing the definition of the letter 'b' in the VMs name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f37ee1ab-c897-d429-7182-51a051234be3
* Version Independent ID: 7063820e-6a32-a367-e7dc-d42df7ddb949
* Content: [Azure VM sizes naming conventions - Azure Virtual Machines](https://docs.microsoft.com

[2022-04-15 14:05] CloudViking commented on #91589
Thank you for the response. Unfortunately, I don't think SQL MI will work for our use case. We are looking to migrate a large SaaS implementation where each client/customer gets a couple of databases for a total of 4000+ in the environment.

We will look into Azure Data Factory right now

[2022-04-15 14:05] jrybacek opened #91594 "How do I get to Group Filtering option in Azure Portal?"
I have an application in Azure AD, that I'm trying to configure the Group Filtering settings.  Is my Azure AD account missing permissions, or does this require a higher level subscription?  Could we include a screenshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a6779a-58f1-73fa-2b24-5f85deeea52b
* Version Indep

[2022-04-15 14:21] bwren commented on #91492
This article is for the Azure Monitor agent. Not sure what the customer did to end up with MMA.

[2022-04-15 14:54] kobulloc-MSFT commented on #91593
@markgar I'm having a hard time thinking of an example with a lower case "b" in the name.  Are you aware of one?

![image](https://user-images.githubusercontent.com/37556655/163585803-6063c081-6e56-45c8-99dd-45a6e18baa22.png)

[2022-04-15 15:16] markgar commented on #91593
https://docs.microsoft.com/en-us/azure/virtual-machines/ebdsv5-ebsv5-series#ebdsv5-series

[2022-04-15 15:33] KranthiPakala-MSFT commented on #91288
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-04-15 15:33] #91288 closed

[2022-04-15 15:40] JamesTran-MSFT commented on #91590
@martillodecampo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-15 15:42] JamesTran-MSFT commented on #91594
@jrybacek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-15 15:44] kobulloc-MSFT commented on #91593
@markgar Perfect.  Thank you!

[2022-04-15 16:14] kobulloc-MSFT commented on #91588
@MatthewBrown0 Thank you for bringing this to our attention!  We are reviewing the Supported OS images and will get back to you shortly.

[2022-04-15 16:16] nathanmitten opened #91597 "Availability Set - Applied DNS Documentation Missing"
I feel like there should be a note on this page that indicates that if you set a custom DNS server on a NIC of a VM in an availability set, that it will apply that DNS server all other VMs, overriding the "Inherit from network" value set on those VMs.

On the NIC there is an applied DNS with a little note about this, but otherwise there does not seem to be any documentation about this interact any

[2022-04-15 16:36] kobulloc-MSFT commented on #91597
@nathanmitten Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-04-15 16:37] vhorne commented on #90933
fixed
#please-close

[2022-04-15 16:37] #90933 closed

[2022-04-15 16:40] Karishma-Tiwari-MSFT commented on #91580
Since it is a Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/91587, we will close this issue and discuss on the other Github issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-04-15 16:40] #91580 closed

[2022-04-15 16:57] KrishnaG-MSFT commented on #91592
@FISHMANPET Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-15 17:05] cutecycle opened #91598 "This page needs this picture"
[Enter feedback here]
https://datasavvy.me/2021/02/18/azure-data-factory-activity-failures-and-pipeline-outcomes/

This is one of the most useful pieces of documentation about ADF I've ever seen, and it's not in our docs. [Meagan Longoria](https://mvp.microsoft.com/en-us/PublicProfile/5002229)'s document has saved us numerous times with its clarity.

![image](https://user-images.githubusercontent.

[2022-04-15 17:10] jonburchel commented on #88256
Hi @scottwojack.  Thanks for reporting this failure.  Our support team will need to look into this further.  Please open up a support incident from the Azure portal page for your ADF instance on the last tab on the left "New Support Incident", and our team will investigate it further with you.

![image](https://user-images.githubusercontent.com/5268147/163600115-b384f60c-41e9-4018-88b7-7ccd7b23244

[2022-04-15 17:10] #88256 closed

[2022-04-15 17:11] segunak commented on #91598
Agreed 1000%. The article found [here](https://datasavvy.me/2021/02/18/azure-data-factory-activity-failures-and-pipeline-outcomes/) written by Microsoft MVP [Meagan Longoria](https://mvp.microsoft.com/en-us/PublicProfile/5002229) is the most comprehensive and clear resource I've been able to find with regards to understanding Azure Data Factory control flow, and the options available to users look

[2022-04-15 17:12] jonburchel commented on #83919
Hi @agentk88, and thanks for your question.  I believe this may work as expected just by adding the new property to the connection string but have not been able to experimentally verify it either.  If you try this and it does not work as expected, you can open a support incident with our team using the New Support Request option from the Azure portal for your ADF instance as shown below:

![image]

[2022-04-15 17:12] #83919 closed

[2022-04-15 17:13] zachhumphrey27g opened #91599 "Update demo to have context around the difference between dotnet 5 vs 6. If you have 6 installed this document is useless."
Update demo to have context around the difference between dotnet 5 vs 6. If you have 6 installed this document is useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a379da-fb2c-03ae-aa9b-a1575b79ab80
* Version Independent ID: 7a484171-a742-bf00-4f31-369b8a31910a
* Content: [Tutorial - Use Azure Key Vault with an

[2022-04-15 17:18] jonburchel commented on #88782
Hi @lorrinferdinand.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorpora

[2022-04-15 17:18] #88782 closed

[2022-04-15 17:21] jonburchel commented on #89052
Hi @spowellnet.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate yo

[2022-04-15 17:21] #89052 closed

[2022-04-15 17:22] GiftA-MSFT commented on #91579
@KazuOnuki we'll review your feedback and get back to you shortly. Thanks.

[2022-04-15 17:23] JamesTran-MSFT commented on #91599
@zachhumphrey27g
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-15 17:24] jonburchel commented on #89070
Hi @KyferEz.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2022-04-15 17:24] #89070 closed

[2022-04-15 17:37] mcfowler opened #91601 "Missing apostrophe"
In the third paragraph: "Because the applications own credentials ..."

That needs to be "Because the application's own credentials ..."
or "Because the applications' own credentials ..."

Without the apostrophe it's difficult to know if you are referring to one or several applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-04-15 17:41] jonburchel commented on #89094
Hi @madmaxlax.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate you

[2022-04-15 17:42] #89094 closed

[2022-04-15 17:44] nickludwig commented on #91601
#assign-to:nickludwig

[2022-04-15 17:45] PRMerger-2 commented on #91601
The following users don't have valid GitHub IDs, or are not collaborators on this repo: -tonickludwig

[2022-04-15 17:45] PRMerger9 commented on #91601
The following users don't have valid GitHub IDs, or are not collaborators on this repo: tonickludwig

[2022-04-15 17:45] jonburchel commented on #89153
Hi @cscoon.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your s

[2022-04-15 17:45] #89153 closed

[2022-04-15 17:46] nickludwig commented on #91601
#reassign:nickludwig

[2022-04-15 17:46] nickludwig commented on #91601
@mcfowler - thanks for letting us know. I'll go fix this.

[2022-04-15 17:47] afogarty85 opened #91603 "Dedicated SQL Pool Connector for Apache Spark Documentation"
Thank you for this helpful information. Are there any examples of reading and writing in full PySpark Python?

This section seems to suggest that such examples exist, but is perhaps missing?
https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/synapse-spark-sql-pool-import-export#more-code-samples

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-04-15 17:55] bandersmsft commented on #91553
Closing as we can't reproduce the error.

#please-close

[2022-04-15 17:55] #91553 closed

[2022-04-15 17:57] jonburchel commented on #89236
Thank you @KyferEz for this suggestion to improve our docs.  I added a note calling this out to the doc, which will be merged and published later today, at which time this issue will be automatically closed.  However, you can still follow up and continue the discussion here in this thread, even after the issue is closed.

[2022-04-15 17:59] nickludwig commented on #91601
#please-close

[2022-04-15 17:59] #91601 closed

[2022-04-15 18:01] jonburchel commented on #89786
Hi @KyferEz.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2022-04-15 18:01] #89786 closed

[2022-04-15 18:02] #89236 closed

[2022-04-15 18:10] jonburchel commented on #89790
Hi @KyferEz.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2022-04-15 18:10] #89790 closed

[2022-04-15 18:12] lipalath-ms opened #91604 "slotSetting not enabled after deployment"
I tried to stick slot setting by adding the following code in bicep file.

[code]

On deployment, I see the setting is not checked.

![image](https://user-images.githubusercontent.com/6519992/163605975-10431773-1a76-48d9-a8cb-8eee80fd4a30.png)

What am I missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e09089-

[2022-04-15 18:16] jonburchel commented on #89887
Hi @aullom1.  Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your

[2022-04-15 18:16] #89887 closed

[2022-04-15 18:44] JamesTran-MSFT commented on #91517
@chriskincaid24
Thank you for following up on this!

Since you're working with our support team can you share your Support Request number, or the solution/API call so I can work with the author to get the docs updated?

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2022-04-15 18:56] JamesTran-MSFT commented on #91534
@stephanvandekruis
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

cc: @CeciAc

[2022-04-15 19:08] himanshusinha-msft commented on #91336
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-15 19:12] KranthiPakala-MSFT commented on #91603
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-15 19:14] JamesTran-MSFT commented on #91538
@danwatford
Thank you for your detailed post!

When it comes to Security Defaults and Backup Admin Accounts (i.e. Global Admin), MFA can't be "disabled" for these accounts, but if you plan to leverage Conditional Access Policies then you'll need to [disable Security Defaults](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#conditional-acc

[2022-04-15 19:19] KranthiPakala-MSFT commented on #91598
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-15 19:22] KranthiPakala-MSFT commented on #91493
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-04-15 19:22] #91493 closed

[2022-04-15 19:31] chriskincaid24 commented on #91517
TrackingID#2204130010004405 and the call was POST
https://graph.windows.net/{tenant_id}/domains/{domain id}/promote with the
Azure AD API

On Fri, Apr 15, 2022 at 11:44 AM James Tran-MSFT ***@***.***>
wrote:

[2022-04-15 19:36] SaiKishor-MSFT commented on #91497
@khdownie Can you please look into this?

[2022-04-15 19:37] brucelangston opened #91608 "Which region is Texas's paired region?"
The page show that Arizona's paired region is Texas and that Virginia's paired region is Texas. Which region is Texas's paired region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Cross-region replication i

[2022-04-15 19:39] SaiKishor-MSFT commented on #91575
@wangyingmm Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stackov

[2022-04-15 19:39] #91575 closed

[2022-04-15 19:45] joshua-paredes opened #91609 "Add app developer role details"
For Application Developer role description, it would be really helpful to add details on the permissions.

** Have to be owner of the app or a higher Azure AD role to delete an app reg/service principal. **

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a38

[2022-04-15 19:47] donniehale-awh opened #91610 ""production_main" option is mentioned on this page but is not in the action.yml for the static-web-apps-deploy repository"
[Enter feedback here]
This document instructs us to set the value of "production_main" so that the Github Action knows which branch should cause deployment to the production version of the static web app.

This page does not list "production_main" as an option for this Github Action. And the document linked in that repository, https://docs.microsoft.com/en-us/azure/static-web-apps/build-configurat

[2022-04-15 19:56] ThomasWeiss commented on #91472
@helloyesthisisdave You are correct, today the SDK doesn't offer a way to specify the resource token on a per-request basis, and requires one instance per token. You might want to explore [handlers](https://github.com/Azure/azure-cosmos-dotnet-v3/tree/master/Microsoft.Azure.Cosmos.Samples/Usage/Handlers) as a way to override the authentication header, but this option isn't provided as turnkey for

[2022-04-15 19:56] #91472 closed

[2022-04-15 20:06] MicrosoftGuyJFlo commented on #90869
Conditional Access is an Azure AD Premium P1 feature. Other features like Microsoft Defender for Cloud Apps have their own license requirements.

[2022-04-15 20:06] AJ-Acevedo opened #91611 "LogicMonitor Spelling Correction in the azure-docs"
The LogicMonitor product is misspelled [Here](https://github.com/MicrosoftDocs/azure-docs/blob/65798f88a769256202438ed9f956d5ecd48c918a/articles/azure-monitor/partners.md#logic-monitor).

The section header is spelled 'Logic Monitor,' but it should be 'LogicMonitor' without the space.

AJ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-04-15 20:09] edevri opened #91612 "Missing prerequisite"
These instructions require "az extension add --name ssh" if not already installed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa3395d9-6a03-3431-25cc-9e9813bb9059
* Version Independent ID: 90f02c63-2bd0-c8e4-2e7a-ff9eaa3a6f2d
* Content: [Connect to a VM using a native client and Azure Bastion - Azure Bastion](https:

[2022-04-15 20:13] MicrosoftGuyJFlo commented on #90869
#reassign:@MicrosoftGuyJFlo

[2022-04-15 20:17] JamesTran-MSFT commented on #91609
@joshua-paredes
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-15 20:24] #90869 closed

[2022-04-15 20:29] JamesTran-MSFT commented on #91517
@chriskincaid24
Thank you for following up on this and I'm glad that you were able to resolve your issue! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-04-15 20:29] #91517 closed

[2022-04-15 20:52] Karishma-Tiwari-MSFT commented on #91587
Thanks for posting your query. This azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the feedback related to it.

Else, if yo

[2022-04-15 20:55] ahartoon commented on #90054
1. There is no key used to insert, update, or delete reference data.  The delta query exposes the changes that were made to the reference data.  Seems here the customer is having challenges understanding how the Delta query works.  Will make small iterations to crystalize purpose of delta query and how it works.
2. The 'operation' is part of the delta query.  When you author the delta query, the r

[2022-04-15 21:03] ahartoon commented on #90054
Update sql-reference-data.md #91614 has proposed changes.

[2022-04-15 21:16] JamesTran-MSFT commented on #91590
@martillodecampo
Thank you for your time and patience throughout this issue!

To edit users within Azure AD, please make sure the user you're signed in with, is at least a User Admin within your tenant. To check your user permissions, you can navigate to the Azure AD Overview Page.
![image](https://user-images.githubusercontent.com/36619112/163630415-315cdf03-83d8-4777-9e6d-c1f9bc6eb2b9.png)

Sinc

[2022-04-15 21:35] JimacoMS4 commented on #73556
Addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/193324

[2022-04-15 21:54] spelluru commented on #90889
The "Number of partitions" section has been updated. Please see the last 2 paragraphs in particular.

#please-close

[2022-04-15 21:54] #90889 closed

[2022-04-15 22:07] spelluru commented on #90320
@marcelofsouza1 - Thanks for the feedback. Single Server deployment supports three tiers: Basic, General Purpose, and Memory Optimized. Do you mean **General Purpose** tier? For the purpose of the tutorial, single server deployment option should be good enough. Thanks.

[2022-04-15 22:15] Karishma-Tiwari-MSFT commented on #91331
Yaml files can be generated by template or any script that has the image version as input

[2022-04-15 22:28] JimacoMS4 commented on #73556
@rboucher @xujing-ms - PR was just merged. You were both on threads seeking comment. Schema is now documented and the AM service specific schemas table links here: https://docs.microsoft.com/en-us/azure/iot-dps/monitor-iot-dps-reference#resource-logs.

Hence, I'm closing this issue. If you have further feedback or questions, please reach out on email or @comment me here.

Thanks for your help on t

[2022-04-15 22:28] #73556 closed

[2022-04-15 22:35] lipalath-ms opened #91615 "WEBSITE_CONTENTSHARE"
Do I have to WEBSITE_CONTENTSHARE  value in app settings when having multiple deployment slots?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Content: [Automate function app resource deployment to Azure](https://docs.

[2022-04-15 23:58] ChaitanyaNaykodi-MSFT commented on #91304
Hello @GitHubUser1339, as we did not determine any documentation update here. We will now proceed to close this issue out. Please tag me in your response if you have any additional concerns, I will gladly re-open this issue and continue with our discussion.

[2022-04-15 23:58] #91304 closed

[2022-04-16 00:00] ChaitanyaNaykodi-MSFT commented on #91612
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-16 00:20] ojeffoliveira commented on #34167
It is 2022 and they still haven't fixed it.

[2022-04-16 03:00] KrishnaG-MSFT commented on #91611
@AJ-Acevedo Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-16 03:08] YutongTie-MSFT commented on #91341
@abhijit-z I think you are mentioning below, please go to your portal -> blob -> container and find you file, check the porperties for it as below, you can see the URL.
![image](https://user-images.githubusercontent.com/38084098/163659204-257f320d-e252-488a-a369-32b30784358c.png)
![10](https://user-images.githubusercontent.com/38084098/163659215-4bf10fce-7c73-481c-868a-7b686c80c3cf.png)

For examp

[2022-04-16 03:09] #91341 closed

[2022-04-16 03:33] YutongTie-MSFT commented on #91344
Thanks for pointing out this again and I have fixed it, the content will be alive soon.

[2022-04-16 03:43] #91344 closed

[2022-04-16 04:47] Grace-MacJones-MSFT commented on #91591
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-04-16 05:02] AnuragSingh-MSFT commented on #91512
@carlosporter, thank you for the suggestion. I am assigning this issue to the content author for further review and action.

@v-amallick, can you please share your thoughts on this suggestion. Thank you

[2022-04-16 06:03] Grace-MacJones-MSFT commented on #91615
Thanks for the question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-16 06:09] KrishnaG-MSFT commented on #91316
@iwafula025 I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-16 06:09] #91316 closed

[2022-04-16 06:09] KrishnaG-MSFT commented on #91237
@SauravB-MS I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-16 06:09] #91237 closed

[2022-04-16 06:14] KrishnaG-MSFT commented on #91462
@jun110 I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-16 06:14] #91462 closed

[2022-04-16 06:25] KrishnaG-MSFT commented on #91592
@FISHMANPET I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-16 06:25] #91592 closed

[2022-04-16 06:29] Grace-MacJones-MSFT commented on #91610
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-16 06:36] Grace-MacJones-MSFT commented on #91604
Thanks for the Comment. We are looking into this and will get back to you soon.

[2022-04-16 06:38] KrishnaG-MSFT commented on #91611
@AJ-Acevedo I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks again!

[2022-04-16 06:38] #91611 closed

[2022-04-16 06:57] Grace-MacJones-MSFT commented on #91608
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc  as appropriate

[2022-04-16 07:20] Krupakarreddin opened #91617 "Disk and PV size is different"
[Enter feedback here]
Azure disk is created with 20gb disk size but the PV is created  with the storage capacity of 100 gb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74be7378-92bc-0e59-0b70-c6b10e80d9b6
* Version Independent ID: f7f1eeb3-efe7-86e2-1fd7-04341b2c77cc
* Content: [Create a static volume for pods in Azu

[2022-04-16 14:01] AnuragSharma-MSFT commented on #91306
@Marco-Santoni Thank for replying back. There is an example in the same code that mentions how can we set ttl:

[code]

However, if you think its still missing something I can tag the content author for review. Please let us know.

[2022-04-16 14:43] snande opened #91621 "Permission denied while writing to /etc folder"
This line is causing issue
echo "$fileShareName -fstype=cifs,credentials=$smbCredentialFile :$smbPath" > /etc/auto.fileshares

Its giving this error:
bash: /etc/auto.fileshares: Permission denied

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-

[2022-04-16 15:22] roalexan opened #91622 "doc should mention how to set up spark pool to run notebook"
I'm walking through this doc. I'm kind of a newbie to synapse, so keep getting hitting confusion points. First, I wasn't even sure what type of database to create from the get go - 'SQL database' or 'Lake database'. After re-reading a few times, seems clear it should be "lake". Perhaps making that explicit via a screenshot at the beginning might be nice. Anyway, setting that aside, when I tried to

[2022-04-16 15:40] danwatford commented on #91538
Hi @JamesTran-MSFT ,

I think we are all in agreement on the limitations of Security Defaults with regards to Backup Admin Accounts and MFA. I think the problem is that for a new person to the subject the documentation as currently presented is potentially misleading. I think this is evidenced by the previous issues raised in this repository on the same topic.

But first, to answer your question,

[2022-04-16 15:49] roalexan opened #91623 "date command seems to be needed for given data load notebook sample"
The given sample for loading data via notebook is as follows:

%%sql
INSERT INTO `retail_mil`.`customer` VALUES (1,'2021-02-18',1022,557,101,'Tailspin Toys (Head Office)','Waldemar Fisar',90410,466);

but I get an error when running as follows:

Error: Cannot write incompatible data to table '`retail_lake_database`.`Customer`':
	- Cannot safely cast 'CustomerEstablishedDate': string to date

it wo

[2022-04-16 15:50] peteoliveira commented on #90615
It works, just needed to cd into /home/site/wwwroot first

[2022-04-16 17:10] simratsatia opened #91624 "Incorrect command provided for fetching IMDs data in Linux"
![image](https://user-images.githubusercontent.com/28175383/163684531-0581fb66-be81-4c23-aa75-39159a9569d6.png)

The command specifies "curl -s Metadata:true" but instead, it should be "curl -H Metadata:true" to specify the header.

Running it with "-s" parameter is:
{ "error": "Bad request: . Required metadata header not specified" }

Running it with "-H" parameter gives the correct output.

---

[2022-04-16 19:27] Grace-MacJones-MSFT commented on #91617
Thanks for your feedback! We will review and update this doc accordingly.

[2022-04-16 19:29] Grace-MacJones-MSFT commented on #91621
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-16 19:30] Grace-MacJones-MSFT commented on #91622
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-16 19:32] Grace-MacJones-MSFT commented on #91624
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-16 19:33] Grace-MacJones-MSFT commented on #91623
Hi @roalexan , thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-04-16 23:34] robidas opened #91628 "cannot complete "Configure the project for local development" step 1"
Under the heading "Configure the project for local development", step 1 In Visual Studio, select View > Cloud Explorer.

cannot be completed with Visual Studio 2022 because the is no Cloud Explorer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d05

[2022-04-17 04:07] yutaro113 opened #91629 "Query for analyzing Active Learning situation?"
Hi Team,
These sample query sets are really useful to start analysis.
Could you also include sample query for analyzing Active Learning situation?

When I use this query, we cannot distinguish in which question active learning is used.
Even if active learning is triggered, in this log, only most probable answer is logged regardless of the final user selection.
https://docs.microsoft.com/en-us/azur

[2022-04-17 05:11] sabaripkumar opened #91630 "Confusing instructions"
[Enter feedback here]
The following text in quote below is so confusing and riddled with inconsistency. For eg. what is "testgraphacct"? why is the term endpoint used when the instruction is for changing the Host name? I find the Python instructions very helpful, not .NET!

"To run this sample, copy the Gremlin Endpoint value, delete the port number at the end, that is the URI becomes https://<you

[2022-04-17 05:43] jchalfant opened #91631 "Clarify path of settings.py file"
Please update these instructions to indicate the relative path of the file:
"If you want to run SQLite locally instead, follow the instructions in the comments of the azureproject/settings.py file."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a96d5fc-0dd1-a344-5416-44039cee39b8
* Version Independent ID: 72844ca4-b0

[2022-04-17 06:07] ciufudean commented on #86562
Hello, any progress on this one?

[2022-04-17 06:28] AnuragSharma-MSFT commented on #91630
@sabaripkumar Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-17 06:45] fmerinop opened #91632 "Connection Efficiency"
Hi,

Some of these recommendations apply to flexible server: i.e Connection Efficiency. Please, review because customers are commenting that this recommendation is just for Single server. Here is an article that includes both

https://techcommunity.microsoft.com/t5/azure-database-for-mysql-blog/connecting-efficiently-to-azure-database-for-mysql-with-proxysql/ba-p/1279842

Many thanks

[Enter feedb

[2022-04-17 07:18] Grace-MacJones-MSFT commented on #91628
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update thus doc as appropriate

[2022-04-17 07:38] pavel-orlov commented on #81450
Hello @SatishBoddu-MSFT @ash2017.
I'm just wondering if there is any update on the Device Streams feature GA?

Thank you.

[2022-04-17 08:11] SumanthMarigowda commented on #90271
@anishjaindev  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
Azure subscription limits and quotas - Azure Resource Manager | Microsoft Docs

[2022-04-17 08:11] #90271 closed

[2022-04-17 08:33] john-peterson commented on #39163
Do I understand the list correctly you use 16 bits per sample. Did you Major in signal processing. Do you have any idea what's how many bits you should use per sample. Just slightly annoyed professor here dealing with r*****

[2022-04-17 08:39] yutaro113 opened #91634 "Cannot upgrade Scikit-Learn version etc via %conda command."
Hi Team,
I tried to upgrade scikit-learn version from 0.22.x to 1.x on the compute instance via %conda command mentioned in the below secion but failed with error.
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-access-terminal#install-packages

![image](https://user-images.githubusercontent.com/36602021/163707126-07c3f63b-e97c-449b-beb5-9566e0d776d6.png)

some other package like nu

[2022-04-17 09:09] pmcgregoraus opened #91635 "TodoApplicationTest seems to have a bug cause build to fail"
The class TodoApplicationTest seems to have a bug, and is causing the maven build to fail.

this line looks incorrect.
}).given(this.todoItemRepository).deleteById(any(String.class));

the fix for me was
}).given(this.todoItemRepository).deleteById(any(String.class),**any()**);

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-04-17 11:34] kengaderdus commented on #89395
#please-close

[2022-04-17 11:34] #89395 closed

[2022-04-17 12:27] PriyankaRudramaina commented on #91343
Hello @RBVieira,

Upon discussing with the internal teams, here is what we would like to state, hertz per second is not quite an appropriate metric for CPU/VM performance.
A better question would be what performacne benchmark score that the A series VM can generate.

Reading your query in here, we would like to point you towards our benchmark documentation - [Compute benchmark scores for Azure Lin

[2022-04-17 12:27] #91343 closed

[2022-04-17 14:06] AnuragSharma-MSFT commented on #91632
@fmerinop Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-17 16:22] chriswill opened #91638 "Unclear reference on API Management article"
I got lost on the sentence that says "Browse to your API Management instance.".

What is the API Management instance?  Is this one of the registered applications? Is this an Azure resource?  Is it required to use?  I'm not sure that it is.  This section could be clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2022-04-17 16:24] #91638 closed

[2022-04-17 16:24] chriswill commented on #91638
I understand the reference now... I found the article with Google, and now I see what section I was in.

[2022-04-17 16:36] wsmelton opened #91639 "Export with PowerShell fails"
Section: [Export with Azure PowerShell](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/export-resources#export-with-azure-powershell)

Code example is not valid because the module does not appear to support any value being provided for name.

An example output of `Get-AzPolicySetDefinition`:
[code]

None of those values can be passed in for the `-Name` value to return the definiti

[2022-04-17 16:36] BlueVaGTO opened #91640 "Error after deleting account the script just created."
[Enter feedback here]
Doesn't work.   The script creates thr AZUREADSSOACC account, then deletes it and errors out.

[12:26:10.665] [ 14] [INFORMATIONAL] GetDefaultWellKnownContainer: Attempting to look up the default well-known container...
[12:26:10.665] [ 14] [INFORMATIONAL] GetDefaultWellKnownContainer: Found the default well-known container: CN=Computers,DC=vhs,DC=local
[12:26:10.665] [ 14] [

[2022-04-17 16:54] KrishnaG-MSFT commented on #91639
@wsmelton Thanks for your comment! We will review and provide an update as appropriate.

[2022-04-17 17:50] aeneasr commented on #38427
This issue is affecting all services which require an OIDC compliant upstream service, including the largest Auth OSS ecosystem in the world: https://github.com/ory

We'd be happy to assist when v3 comes out, Ory Hydra is an excellent OIDC compliant authz server ;)

[2022-04-17 20:31] YutongTie-MSFT commented on #91629
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-17 21:12] YutongTie-MSFT commented on #91634
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-17 22:37] sathishjayapal opened #91644 "Application does not work.,"
I follow the steps that is outlined in the page. But here is the error that I get when running

--Removed third party link

I get the same error when I tried some of the exercise files as well. Thanks for checking

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0258327-664a-28db-b9fc-03a6a115b80e
* Version Independent

[2022-04-17 23:54] scsJames opened #91646 "Geofencing API Upload Data Error 400 Bad Request - Invalid Content-Type value"
Hello, i had this issue when i tried to upload data from Console application ( .NET 6 ) to azure maps API, the same request using POSTMAN return ( 202 Accepted ) but i don't know why get's back Bad Request from Console App even the Json is the same.

Error Result = {"error":{"code":"400 BadRequest","message":"Invalid Content-Type value. Allowed value(s): application/json, application/octet-stream,

[2022-04-18 00:18] akiyoshi opened #91647 "RHEL 8 Support"
According to the documentation, RHEL 8 is not yet supported.
Is RHEL 8 already supported?
Or, do I need to wait for the Python 3 version of LAD to be released?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Co

[2022-04-18 01:22] rickakey opened #91649 "ActiveDirectoryProperties is not set for storage account 'mystor1' in resource group 'myresourcegrp""
[Enter feedback here]
I have followed the instructions for Enabling AD DS authentication using Option 1 with a ServiceLogonAccount. I have been unsuccessful in resolving these issues. The Service Account has been created, but I received the following error after the Join-AZStorageAccount:

Warning: Module ActiveDirectory is loaded in Windows PowerShell using WinPSCompatSession remoting session; pl

[2022-04-18 01:47] AshokPeddakotla-MSFT commented on #91469
Adding @PatAltimore to validate and update the doc accordingly and also for any other changes required.

[2022-04-18 02:11] AnuragSingh-MSFT commented on #91631
@jchalfant, Thank you for the suggestion. We will review it and get back to you.

[2022-04-18 02:15] AnuragSingh-MSFT commented on #91635
@pmcgregoraus, thank you for sharing this feedback. We will review it and get back to you.

[2022-04-18 02:59] xiopeter3345 opened #91650 "The Constants.DATASOURCE does not exist at all"
![image](https://user-images.githubusercontent.com/3714055/163747179-70537565-e883-4260-8db4-6732b9bcb41c.png)

This Constant.DATASOURCE does not exist and Constants.DATA_SOURCE does not work. The COPY INTO does not have credential added through Constants.DATA_SOURCE is provided.

![image](https://user-images.githubusercontent.com/3714055/163747336-7e1478bf-3582-4ffe-bbea-dcaf73973ee2.png)

In thi

[2022-04-18 03:22] mike-urnun-msft commented on #91275
Thank you for your contribution, @visualstuart! As the next step, we'll now proceed to assign this issue to the content author to review further and take the next course of action.

[2022-04-18 03:37] VikasPullagura-MSFT commented on #91647
@akiyoshi
Thanks for your Question! We are currently checking and will get back on this.

[2022-04-18 03:41] VikasPullagura-MSFT opened #91651 "-H missing in curl commands"
-H missing in commands

https://github.com/MicrosoftDocs/azure-docs/blame/main/includes/virtual-machines-imds.md#L46
https://github.com/MicrosoftDocs/azure-docs/blame/main/includes/virtual-machines-imds.md#L206

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a241549-82c0-6895-b410-b107a57c7540
* Version Independent ID:

[2022-04-18 03:44] VikasPullagura-MSFT commented on #91651
document upated

[2022-04-18 03:53] AnuragSharma-MSFT commented on #91306
@Marco-Santoni Awaiting your inputs on this.

[2022-04-18 04:07] shwetamathur7 commented on #91217
@EnzoGorlomi23 If you still facing the issue, please send us an email on azcommunity [at] microsoft [dot] com referencing this issue with a subject line "ATTN:shweta" and we will help you with alternative support options on this.

[2022-04-18 04:13] SnehaAgrawal-MSFT commented on #91234
@4tuneengineering Apologies for late response here! The product group is exploring supporting such a feature, but nothing definite at this point in time. I would advise submitting [feedback](https://feedback.azure.com/forums/169385-web-apps).
The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they inf

[2022-04-18 04:13] #91234 closed

[2022-04-18 04:19] #91651 closed

[2022-04-18 04:19] ram-msft commented on #91457
Thanks, @nibaccam Can you please comment on this PublishedPipeline usage.

[2022-04-18 04:20] SnehaAgrawal-MSFT commented on #91299
@pnarsi Thanks again for the feedback! The PR has been created for this will be visible soon in document.

We will now close this out but if you feel you need more information please just let us know.

[2022-04-18 04:20] #91299 closed

[2022-04-18 04:34] SnehaAgrawal-MSFT commented on #91175
@MarcoLodini Thanks for the clarification and valuable feedback! The PR has been created once reviewed by content author will be visible.

[2022-04-18 04:34] #91175 closed

[2022-04-18 04:35] CHEEKATLAPRADEEP-MSFT commented on #91394
@kulukamal  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-18 04:35] #91394 closed

[2022-04-18 04:35] CHEEKATLAPRADEEP-MSFT commented on #91447
@lsi-ak   We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-18 04:35] #91447 closed

[2022-04-18 04:37] Norrch2 commented on #91511
@kengaderdus I have determined what the problem was. The problem was caused because the special treatment of these claims is only applicable for outputClaims and not display claims. If DisplayClaims is the direction we should be going should this also support displayClaims too?

[2022-04-18 05:00] shashishailaj commented on #91640
@BlueVaGTO
Thank you for your feedback . We will investigate and update the thread.

[2022-04-18 05:01] SnehaAgrawal-MSFT commented on #91449
@Ajsalemo Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-04-18 05:18] amanmcse commented on #91479
@tdjastrzebski The user flows were initially called Policies. When we renamed the policies to user flows, we referred to them as User flows (policies). Now, the menu on the portal is updated to just User flows but the document is not yet updated, which is leading to confusion. I will update the document to align with the portal menu.

There are no predefined user flows that you can see under the U

[2022-04-18 05:18] #91479 closed

[2022-04-18 05:24] AnuragSharma-MSFT opened #91652 "Azure Pipelines Cosmos DB emulator task: endpoint variable is unset"
The Azure Pipelines Cosmos DB Emulator tasks exports a pipeline variable $(CosmosDbEmulator.Endpoint). However, in reality the variable is not set. To reproduce this, create an emulator task and try to print the variable:

[code]
The output is:

[code]

This issue was reported by a user on Microsoft Q&A platform:
https://docs.microsoft.com/en-us/answers/questions/814315/index.html

---
#### Docume

[2022-04-18 05:52] nehatiwari1994 opened #91654 "Regarding we dont support- We don't support assigning both the RemoteApp and desktop app groups in a single host pool to the same user."
[Enter feedback here]

Practically we can add same user to the remote app and desktop app group in the same host pool. hence the document need to be updated to we don't recommend instead of we don't support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a8e997-f5c8-eaa8-b713-068650dd6b22
* Version Independent ID: ef

[2022-04-18 05:53] MSNina123456 opened #91655 "custom field limit should be 500 instead of 100"
This note need to be updated: the limit should be 500
In the Preview, you are limited to 100 custom fields in your workspace. This limit will be expanded when this feature reaches general availability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df0f4a1f-0c45-d4c4-a751-01f38c6fd237
* Version Independent ID: a7687863

[2022-04-18 05:57] shashishailaj commented on #34167
We apologize for the delay on this . We have taken note of this and reopened this issue. We do have this in our backlog and we are looking to get this prioritized .

[2022-04-18 06:15] VikasPullagura-MSFT commented on #91654
@nehatiwari1994 Thanks for the Feedback.
We will check and update the document accordingly.

[2022-04-18 06:22] AnuragSharma-MSFT commented on #91652
@SnehaGunda Could you please look into this issue or tag the correct person to check on it?

[2022-04-18 06:32] AnuragSharma-MSFT commented on #90395
@ravriel Thanks for your patience. As mentioned this was a valid issue and we internally were able to notice the same, however there is no fixed ETA on this as of now and we will keep you posted when this gets resolved. For time being, we are closing this issue and will get back when w have more information. Sorry for the inconvenience.

[2022-04-18 06:33] #90395 closed

[2022-04-18 06:54] v-ksreedevan commented on #91591
Thank you for surfacing this. We understand that this can be confusing. This document is to be referenced if you want to use ExpressRoute for your replications when using an Azure Migrate project with public endpoint connectivity while the control plane communication between the Azure Migrate appliance and the Azure Migrate service continues to happen over the internet on the Azure Migrate service

[2022-04-18 07:01] MayankBargali-MSFT commented on #91644
@sathishjayapal Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-18 07:05] MayankBargali-MSFT commented on #91644
@sathishjayapal Can you drag and drop the image on your GitHub post/comment and provide the error message as I am not able to view the image that is attached on your issue.

[2022-04-18 07:15] AshokPeddakotla-MSFT commented on #91646
@scsJames Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-18 07:17] SwathiDhanwada-MSFT commented on #91655
@MSNina123456 Thanks for your feedback.

Assigning to content author @bwren for review.

[2022-04-18 07:29] AnuragSharma-MSFT commented on #91488
@xmasteron Thanks for your patience. Could you please point to the document where 'get-azurestoragekey' command is used?

[2022-04-18 07:49] sudo-pradip commented on #79802
Any updates ?

[2022-04-18 09:01] SnehaAgrawal-MSFT commented on #91089
@lonevvolf Apologies for late response! Thanks again for bringing this to our attention! The PR has been created will be visible in document soon.

[2022-04-18 09:01] #91089 closed

[2022-04-18 10:10] ShaikMaheer-MSFT commented on #91650
@xiopeter3345 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-04-18 10:21] rockboyfor opened #91658 "Confirmation about the URL and port for Azure AD connect in Azure China Cloud."
Hi guys,

Our customer follow the directions to open the [Office 365 URL and IP Address Range operated by 21Vianet](https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges-21vianet?view=o365-worldwide) to config the connectivity of Azure AD Connect on Azure China Cloud.
![image](https://user-images.githubusercontent.com/4704301/163792807-17fff84e-fd53-4fce-9016-2f3de8d

[2022-04-18 11:02] #75331 closed

[2022-04-18 11:39] fwd079 opened #91660 "Possibly outdated"
Good afternoon,

Not sure if needs to creat a new issue/post so please feel free to merge/close etc.. after reading, but the tutorial's
`. "C:\Program Files\Microsoft SDKs\Service Fabric\ClusterSetup\DevClusterSetup.ps1"`
part does not work on Windows 11's PS 7+ version inside Windows Terminal. You need to open older version by typing `Power Shell` in Search and start *that version* as administrat

[2022-04-18 12:00] timwarner-msft commented on #91639
Hi @wsmelton. Thanks for reporting, and you're correct. I'll fix today. Kindest regards, Tim

[2022-04-18 13:00] Givary commented on #91640
@BlueVaGTO
I would need few more details regarding this issue to assist you better.
Please send me an email to 'AzCommunity@microsoft.com' with Sub - Attn: Givary and following details in the email body:
Link to this thread/post
We can connect offline and discuss further on this.

[2022-04-18 13:00] #91640 closed

[2022-04-18 13:09] SwathiDhanwada-MSFT commented on #91342
@rthorn17 Thanks for your insights on this issue.

@CarlosPiAn As there are no further documentation changes, we will close the issue for now. If there are further questions, please revert and we will be glad to assist you.

[2022-04-18 13:09] #91342 closed

[2022-04-18 13:10] PriyankaRudramaina commented on #91660
Hello @fwd079,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-18 13:19] VikasPullagura-MSFT commented on #91654
@nehatiwari1994

While the portal doesn’t block you from doing that, it isn’t supported as it can lead to significant side-effects that are described in the article.

[2022-04-18 13:19] VikasPullagura-MSFT commented on #91654
Currently there are no further changes that are needed for this document.
Hence closing this issue.

[2022-04-18 13:19] #91654 closed

[2022-04-18 13:34] helloyesthisisdave commented on #91472
@ThomasWeiss could you please elaborate on how handlers could override the authentication header, as this doesn't appear to be documented anywhere?

[2022-04-18 13:42] SumanthMarigowda commented on #91649
@rickakey Thanks for the question! We are investigating and will update you shortly.

[2022-04-18 14:06] marcelofsouza1 commented on #90320
Yes, for the purpose of tutorial a Basic PG instance will work very well (only for simple tests). But, when using a basic PG instance with Eventhub,  db storage may be increased at maximum, without "auto-clean" strategies (replication slots management). Only with General Purpose (or Memory Optimized) PG instance, Eventhub will work perfectly. If you starts using PG Basic Instance + Eventhub, maybe

[2022-04-18 14:06] #90320 closed

[2022-04-18 14:15] MicrosoftGuyJFlo commented on #91538
Author here...

Yes there are differences between emergency access accounts and what I called backup administrator accounts in the security defaults doc. Security defaults does not allow you to do exclusions but we link to the emergency access accounts doc if they want lots of extra detail for the future.

We are recommending people using security defaults add extra admin accounts because we see l

[2022-04-18 14:15] #91538 closed

[2022-04-18 14:17] mbender-ms commented on #91527
@vuvasira

Please add the additions below to your current PR. Thanks!

[2022-04-18 14:39] Dastreum opened #91663 "French versions Is not up to date (SMTP opening)"
[Enter feedback here]
French versions https://docs.microsoft.com/fr-fr/azure/virtual-network/troubleshoot-outbound-smtp-connectivity

Is not up to date (it should say that pay as you go cannot open port 25)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version Independent ID: 99f0

[2022-04-18 14:48] Grace-MacJones-MSFT commented on #91658
Hi @rockboyfor, Thank you for the detailed question.  I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-04-18 15:12] ivorb opened #91665 "Custom NER - Provided JSON in quickstart docs fails to upload - cannot find "extractors""
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cf8c259-8b22-8f64-3896-4fe90f416164
* Version Independent ID: dac2df6e-338d-3ffb-b48e-2ed1ef715906
* Content: [What is Custom Named Entity Recognition (NER) in Azure Cognitive Service for Language (preview) - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure

[2022-04-18 15:16] the-grayest opened #91666 "Russian version of this page contains incorrect data regarding Nested Virtualization"
Russian: https://docs.microsoft.com/ru-ru/azure/virtual-machines/sizes-b-series-burstable

![image](https://user-images.githubusercontent.com/42241303/163829723-07e1a00f-864d-42fe-beda-65b1e9babf71.png)

English: https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-b-series-burstable

![image](https://user-images.githubusercontent.com/42241303/163829701-d54b3d13-bf2c-45a7-9241-161b4a7f801

[2022-04-18 15:20] LitKnd commented on #91435
Hello,

Thanks for this feedback. I'll check with the team as to whether this is something they'd like to add to the article at this time.

Cheers,
Kendra from the Database Docs team

[2022-04-18 15:35] SatishBoddu-MSFT commented on #81450
Hello @pavel-orlov @Marusyk Thanks for the great query, we already conveyed this to our team! I will check one more time on this soon this week!

As of now, we don't have any news or update from the service team!

[2022-04-18 15:41] duongau commented on #90152
Hello @RonnieQuan, I just wanted to follow up with you to see if you have any further questions about this issue? Please let me know, I will archive this issue after 3 business days. Thank you.

[2022-04-18 15:46] nickselvaggio opened #91667 "Sentinel UEBA enrichments"
There are two enrichments in the ActivityInsights field of the BehaviorAnalytics table that are not listed in the UEBA reference article. Would a description of these two insights be able to be added?

UnusualNumberOfDistinctUsersFailedSignInFromIPAddress
UnusualNumberOfFailedSignInOfThisUser

Additionally, in this article under ActivityInsights -> Miscellaneous, there is an enrichment listed as '

[2022-04-18 15:47] RBVieira opened #91668 "Instance rate in consumption plan"
FROM THE TEXT: New instance rate: For HTTP triggers, new instances are allocated, at most, once per second. For non-HTTP triggers, new instances are allocated, at most, once every 30 seconds.

In the consumption plan, when scaling, cold start will affect the behavior, right? So, I would like just to clarify how is it possible to have new instances allocated at a rate of once per second in this cas

[2022-04-18 15:55] kobulloc-MSFT commented on #91666
@the-grayest Thank you for bringing this to our attention!  We've assigned this to the document author to determine why the Russian version doesn't seem to match the English version.

[2022-04-18 16:00] W0GER opened #91669 "WebJobs vs Functions? Which NuGet Packages should we be using?"
I'm confused as to what namespaces I'm supposed to be using for Azure Functions.

There is Microsoft.Azure.WebJobs which contains the FunctionNameAttibute

But when looking at working with Dependency Injection there are 2 packages:

1. Microsoft.Azure.**Functions**.Extensions
2. Microsoft.Azure.**WebJobs**.Extensions

Documentation is unclear as to which should be used for Microsoft Azure Function

[2022-04-18 16:11] krishnaji opened #91670 "Actions pricing"
For the consumptions plan there is a note(below) specifically points out that the billing for built-in connectors follows Actions pricing not the std or enterprise.  But the pricing page for actions  : N/A First 4,000 actions free. Not clear whats charged after >4000 calls
Could you plz update the pricing page or documentation for actions pricing?

"Note: Some managed connector operations are also

[2022-04-18 16:23] SatishBoddu-MSFT commented on #90951
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-04-18 16:23] #90951 closed

[2022-04-18 16:27] Ilheu opened #91672 "Insert JSON Data from Stream into SQL Edge Table"
**I'm trying to insert data that I send from another module, which sends JSON messages. I created a table with the same columns as the json object, and I'm using the following job:**

EXEC sys.sp_create_streaming_job @name=N'MonitoringVariablesData',
@statement= N'SELECT * INTO MonitoringVariablesOutput from MonitoringVariablesInput'

exec sys.sp_start_streaming_job @name=N'MonitoringVariablesData

[2022-04-18 16:27] SumanthMarigowda commented on #81391
@taurit Emission of capacity metrics happens every one hour. But the value present at that hour may not reflect actual capacity. Capacity calculations for an account can take a few hours or even up to a day. So if you deleted everything in the account, the next hour you may not see the capacity go down to zero. It may take a few hours for GC to run etc. and the calculation run after the GC complet

[2022-04-18 16:27] #81391 closed

[2022-04-18 16:31] HeidiSteen commented on #91486
@PriyankaRudramaina   Can you remove the cognitive-search/svc label?  I don't think this issue applies to that product.  Thank you!

[2022-04-18 17:00] brucelangston opened #91673 "Question about https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction#encryption-of-azure-vm-backups"
At the referenced link in the article is the statement "When you back up Azure VMs with Azure Backup, VMs are encrypted at rest with Storage Service Encryption (SSE)." I wonder if "VMs are encrypted..." should be "VM backups are encrypted..." or "backups are encrypted..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-04-18 17:15] miyake-kroger opened #91674 "Provide option to create using azcli"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc6ecf6b-ca50-b2b0-144b-2aefca4744a7
* Version Independent ID: a4bd7edb-795f-b621-b575-a5aa5bd5f65b
* Content: [Create an empty lake database - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/database-designer/create-

[2022-04-18 17:21] MarileeTurscak-MSFT commented on #91667
@nickselvaggio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-18 17:25] Marco-Santoni commented on #91306
@AnuragSharma-MSFT thanks for sharing the example. The example describes only how to set a `ttl` on a container. It does not describe how to set a specific `ttl` on a single item inside such container.

In the [page](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-time-to-live?tabs=dotnetv2%2Cjavav4) mentioned in this issue, there is a variety of examples around `ttl` (including exampl

[2022-04-18 17:37] aahill commented on #90266
Thanks for letting us know about the issue. It looks like these links should be back - I'll follow up with our localization team.

#please-close

[2022-04-18 17:37] #90266 closed

[2022-04-18 17:40] lehmus commented on #91652
Hi, I reported the issue in Microsoft Q&A. Let me know if you need any details concerning the issue. Thanks for the help.

[2022-04-18 17:51] PriyankaRudramaina commented on #90958
Hello @porrascarlos802018,

I have reached out to conten author and they have considered investigate this behavior and make the updates as required. Once we have an update we shall keep this thread posted.
Feel free to reach ou for any queries or concerns.

[2022-04-18 17:51] #90958 closed

[2022-04-18 17:56] eric-urban commented on #91486
@Mohamedballouch - I've confirmed this is not currently on the roadmap.

[2022-04-18 17:56] eric-urban commented on #91486
#please-close

[2022-04-18 17:56] #91486 closed

[2022-04-18 17:59] ChaitanyaNaykodi-MSFT commented on #91663
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-18 18:02] kobulloc-MSFT commented on #91593
@markgar, "b" refers bandwidth and I'm in the process of getting additional details.

[2022-04-18 18:03] PriyankaRudramaina commented on #91464
Hello @dolauli,

I see the document is update as per the status of the workitem here, If you have any further queries or concerns, please feel free to reach out to me https://msazure.visualstudio.com/One/_workitems/edit/13961690

[2022-04-18 18:03] #91464 closed

[2022-04-18 18:03] kobulloc-MSFT commented on #91566
@boumenot The documentation has been updated, thank you for helping to improve the Microsoft Docs!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-04-18 18:03] #91566 closed

[2022-04-18 18:10] PriyankaRudramaina commented on #90890
Hello @penenkel,

Thanks for bringing this to our attention! This feature is about (A) pinning a contianer group to a specific zone. I see how this discrepancy in the Azure Portal text can be confusing to the customers. We will work with concerned team on getting it changed. Please review after some time.

If you have any further questions, please feel free to reach out.

[2022-04-18 18:10] #90890 closed

[2022-04-18 18:48] kgremban commented on #91398
@prabirkrsarkar Thank you for your question. I don't think that line would have been added to the article unless there was some circumstance that led to a standard-tier device not having a twin. I'm investigating now and will either clarify or remove that line when I have more information.

[2022-04-18 19:04] CedricLeblond opened #91676 "expose node web app port is 3000 instead of 80"
The node web app is exposed on port 3000 . The step 10 on port configuration needs to ask to enter 3000. something like :
Enter the web node app listening value of 3000 for the port, and then select Enter to complete the workflow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61801b87-f37b-1025-c41e-73689e49b9da
* Ver

[2022-04-18 19:30] DerekHerman-MSFT commented on #91411
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-18 19:41] DakotaWray2 commented on #67928
If this only works for Prod please say so in the docs.

[2022-04-18 19:46] StuBeck32 opened #91678 "Needs clarification of group type in article"
The article should better define the start of the process requires you select "Dynamic membership" when creating the group.

It would also be helpful to define where to find this setting after the group is created on the overview tag. The rules described in this article aren't available on an "assigned" group, but there is no picture to confirm whether a group is in the assigned or dynamic status.

[2022-04-18 20:09] amlalani opened #91679 "Spelling of environment is wrong"
[In the first Note section (purple box), the spelling of environment is wrong 2 times.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cc3b734-55b6-23ac-9608-7d1acc90b0c5
* Version Independent ID: 84f39499-c34d-6d48-63ad-f0dfccc0313a
* Content: [Discover software inventory on on-premises servers with Azure Migrate - A

[2022-04-18 20:10] GaneshMSFT opened #91680 "Hyperlinks in the documentation are pointing to different CLI commands"
In this documentation https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-container-calculate-size-cli#sample-reference, **az storage blob list** hyperlink is pointing to **az storage account keys** command. Can you please correct this? Thank you.

![image](https://user-images.githubusercontent.com/65305653/163870242-fa232a89-665a-4672-9700-2f57e8596513.png)

---
#### Document Det

[2022-04-18 20:12] tamram commented on #91680
#reassign: @stevenmatthew

[2022-04-18 20:18] MonikaReddy-MSFT commented on #91679
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-18 20:18] #91679 closed

[2022-04-18 20:19] KumariSupriya commented on #91624
Fixed in latest iteration

[2022-04-18 20:19] KumariSupriya commented on #91624
# close

[2022-04-18 20:19] KumariSupriya commented on #91624
#close

[2022-04-18 20:20] BrodaNoel commented on #34167
<img src="https://media.giphy.com/media/MZocLC5dJprPTcrm65/giphy.gif">

[2022-04-18 20:21] InformTechPro opened #91681 "Excluding PreviousHealthStatus:Uknown condition would prevent alert notification when unplanned outage occurs"
In an effort to reduce redundant alerts, many customers select PreviousHealthStatus: Available only when setting up resource health alerts. Unfortunately, when a platform failure occurs the transition from Available to Unknown does not get logged as a unique event. The even that gets logged has CurrentHealthStatus:Unavailable and PreviousHealthStatus:Uknown, resulting in a failure to send notifica

[2022-04-18 20:23] KumariSupriya commented on #91624
#please-close

[2022-04-18 20:23] #91624 closed

[2022-04-18 20:54] noahwebster opened #91683 "Incorrect Directions"
In Recurly, where it says to enter the SAML Issuer ID, it does not want the Identifier URL from the SAML page. Instead, you need to go to the Application Registration page, find the Recurly app, and get the Application (client ID) value, and paste that there. That will allow SSO to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2022-04-18 21:10] JamesTran-MSFT commented on #91683
@noahwebster
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-18 21:11] JamesTran-MSFT commented on #91678
@StuBeck32
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-04-18 21:14] JamesTran-MSFT commented on #91594
@jrybacek

[2022-04-18 21:14] AaronMaxwell commented on #91520
Hello @Zek99,

Thanks for your dedication to our documentation. This issue is being triaged and we hope to have an answer shortly.

[2022-04-18 21:22] dombarnes commented on #32472
@dijiflex Test in development to make sure you're getting 404's from invalid file URLs (since any device on the internet could request any URL from you at any time). Thats down to whatever code you're running. I had this on my rails app until I adjusted the respont_to block to handle it. Code stuck below for anyone's future reference
[code]
[code]

[2022-04-18 21:32] kgremban commented on #91398
Here's the response I got:

Does that make sense?

[2022-04-18 21:43] cassianodb1908 opened #91684 "Hi all."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba8dd43-ef02-5c5c-382d-f8d653721280
* Version Independent ID: 4127d388-f82a-b182-c912-879cf854c37a
* Content: [Create a service SAS for a container or blob - Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/sas-service-create?tabs=

[2022-04-18 21:44] aahill commented on #90738
Hi, thanks for bringing up this issue. I checked with the team, and prebuilt domains are not supported for JP. I'll update this article to reflect that, and the changes should be visible soon.

#please-close

[2022-04-18 21:44] #90738 closed

[2022-04-18 21:55] aahill commented on #90688
Thanks for reaching out with this issue in the documentation. The correct syntax is `:`

I'll update the examples here so they all use the correct syntax.

#please-close

[2022-04-18 21:56] #90688 closed

[2022-04-18 22:00] ChaitanyaNaykodi-MSFT commented on #91214
Hello @somuworld, apologies for the delayed response here. `This subnet address prefix overlaps with 'default'` This error is due the subnet named "default" has overlapping address (10.0.0.0/24). From the image above can you check for the "Subnets" option if there are any overlapping addresses.
![image](https://user-images.githubusercontent.com/67453298/163884391-8d899d16-5b4d-47dd-971d-7ff1825a20

[2022-04-18 22:13] deltadan opened #91685 "The markdown for a "NOTE" is incorrect in this file."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a44f766-f2c4-ded3-4cd2-fa91d88bcd44
* Version Independent ID: 1995d8a4-fd21-5e6c-fc52-e0972d0c5552
* Content: [Keep IP addresses after Azure VM failover with Azure Site Recovery - Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recov

[2022-04-18 22:20] himanshusinha-msft commented on #91665
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-04-18 22:22] himanshusinha-msft commented on #91668
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2022-04-18 22:23] himanshusinha-msft commented on #91669
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-18 22:25] himanshusinha-msft commented on #91670
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-18 22:26] himanshusinha-msft commented on #91672
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a documen

[2022-04-18 22:26] #91672 closed

[2022-04-18 22:27] himanshusinha-msft commented on #91674
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-04-18 22:29] himanshusinha-msft commented on #91676
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-18 22:49] rybal06 commented on #65559
This issue seems to persist on many API versions going back to 2017-12-01.

We are attempting to deploy a VMSS using the [virtual-environments repo](https://github.com/actions/virtual-environments/tree/main/images), which produces VHD disks, and MS has stated there is no plans to convert to managed disks: https://github.com/actions/virtual-environments/discussions/5104. This is to work in conjunct

[2022-04-18 22:54] bandersmsft commented on #91508
@Russshabura Minor update made to the article for this issue stating "Azure Government customers can’t request their invoice by email. They can only download it."

https://github.com/MicrosoftDocs/azure-docs-pr/pull/195435

If you can point me to screenshots that you think are out of date, please feel free to reopen this issue.

#please-close

[2022-04-18 22:54] #91508 closed

[2022-04-18 23:07] owynrichen opened #91686 "EULA environment variable not functioning for Web App for containers"
Going through the steps to deploy the Cognitive Services container to examine the Text Analytics for Health demo UI doesn't function when trying the Azure App Services pattern.  When the container starts up, the docker logs mention they expect the EULA=accept as a command line argument, but the documentation passes them as an App Services app setting, which only delivers them as an environment var

[2022-04-18 23:12] ChaitanyaNaykodi-MSFT commented on #91562
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-18 23:45] Naotaka-Kawakami-MSFT opened #91688 "Azure Data Box Encryption"
Docs below mentioned customer can use SMB 3.0 with encryption on Azure Data Box. But Azure Data Box doesn't have option regarding encryption.

Docs : Azure Data Box security and data protection
https://docs.microsoft.com/en-us/azure/databox/data-box-security#data-box-data-protection

// Snip
Encrypted protocols can be used for data-in-flight. We recommend that you use SMB 3.0 with encryption to pr

[2022-04-19 00:12] GeethaThatipatri-MSFT commented on #91589
Thanks, @scoriani for your inputs.
Hi @CloudViking We will proceed to close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2022-04-19 00:12] #91589 closed

[2022-04-19 00:56] yxliu-ntu opened #91690 "Can not download `Criteo's 1 TB Click Prediction Dataset`"
With the [link](https://labs.criteo.com/2013/12/download-terabyte-click-logs/) provided on this page, we can not download the 1TB dataset and get an error as below:

`curl: (6) Could not resolve host: azuremlsampleexperiments.blob.core.windows.net
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 452f2925-6078-97f7-187e

[2022-04-19 01:31] MonikaReddy-MSFT commented on #91685
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-19 01:32] J227668 opened #91691 "Azure Gov"
Hi - Can you please document if this is or is not available for GCCH/Azure Gov customers? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03d33c6-c60b-153c-bf76-a127be502170
* Version Independent ID: 7bbf1dc5-bd91-d03a-7939-439bfbee85c9
* Content: [Custom controls in Azure AD Conditional Access](https://docs

[2022-04-19 01:36] GeethaThatipatri-MSFT commented on #91690
Hi, @yxliu-ntu Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-19 01:39] Karishma-Tiwari-MSFT commented on #91587
We will now close this issue. Please share the requested details about document url and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-04-19 01:39] #91587 closed

[2022-04-19 01:44] MonikaReddy-MSFT commented on #91681
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-04-19 01:47] MonikaReddy-MSFT commented on #91685
@deltadan - Can you please elaborate on the details of the issue with the doc that you are facing ?

[2022-04-19 02:03] Karishma-Tiwari-MSFT commented on #91407
In order to see the logs from Azure portal, you can go to Container app -> Monitoring -> Logs as shown in the image below :

![image](https://user-images.githubusercontent.com/20851144/163905488-884e6461-4cd6-4178-ade1-6bb05d301d14.png)

[2022-04-19 02:04] #91407 closed

[2022-04-19 02:31] aramchandra opened #91692 "Issue in vnet-2-vnet routing scenario"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55838501-4741-8e7b-268b-0ceca1b16d8c
* Version Independent ID: f42d7cef-fa5b-80c2-2495-488eda2da570
* Content: [Scenario: Isolating VNets - Azure Virtual WAN](https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-isolate-vnets)
* Content Source: