[2018-06-07 13:45] SaurabhSharma-MSFT commented on #9733
@HdeJong0 @manigandham Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-07 13:54] SaurabhSharma-MSFT commented on #9828
@msghaleb Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-07 13:55] DCtheGeek commented on #9645
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-06-07 14:06] jomolesk commented on #9866
Hi @AndyHerb -- Thanks for catching this. The URL for the code repo is https://github.com/Azure/pci-paas-webapp-ase-sqldb-appgateway-keyvault-oms. I've opened a pull request to resolve: https://github.com/MicrosoftDocs/azure-docs-pr/pull/43240.

[2018-06-07 14:17] infoberg commented on #9792
The instructions state to only delete modules starting with "Azure". Infact the subsequent install will install modules starting with "Azs", so these should be (also?) deleted.

[2018-06-07 14:40] sergaz-msft commented on #9791
Thank you for providing more context. The error log is not very conclusive but because of the following error message:

_' Error ': ' cannot establish connection with service service '_

And because you are running the simulator locally, it can happen that you have [MQTT Ports](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-protocols#port-numbers) blocked on your current network.

[2018-06-07 14:41] barclayn commented on #8075
The changes were merged. #please-close

[2018-06-07 14:58] aanandr commented on #9642
I am not aware of this. Where did you see it? Can you point me to that article?

[2018-06-07 15:05] mmacy commented on #9642
Hi @JetPac33, we'd like to get some additional information from you on the 93 IP minimum. Is this a hard minimum that you hit when deploying a cluster, or is this a value that you've found appearing in our documentation somewhere? If you've received an error, please also include that in your response so that we can further investigate. Thanks!

Cc: @aanandr @slack

[2018-06-07 15:10] CelesteDG commented on #9702
Thank you, @GavinPG. Appreciate the feedback and I'll get this work item on my queue. Will update this thread once a PR is ready.

[2018-06-07 15:16] Mike-Ubezzi-MSFT commented on #9826
@Phydeauxman
Thanks for the feedback. We are actively investigating and what I have found is that this feature is still in preview:

![screenshot 41](https://user-images.githubusercontent.com/37126106/41108651-f6281b70-6a29-11e8-9952-ae7ae236698b.png)

When viewing the classic alerts, there is a means for navigating to the new Alerts experience:

![screenshot 38](https://user-images.githubusercont

[2018-06-07 15:22] ashishonce opened #9869 "mscorlib error : mscorlib: Invalid length for a Base-64 char array or string."
I am trying to make a very simple demo:

my queue trigger function
using System;

public static void Run(string myQueueItem, TraceWriter log)
{
    log.Info($"C# Queue trigger function processed: {myQueueItem}");
}

while my python code.
    queue_service.put_message('myqueue-items', u'Hello World');

in the function app I get following logs.
2018-06-07T15:13:59.355 [Error] Exception while executi

[2018-06-07 15:22] Mike-Ubezzi-MSFT commented on #9849
@Anmolgan81 Thanks for the feedback. We are actively investigating but wanted to present to you a tutorial that demonstrates how to load Azure blob storage data into Azure Data Warehouse using Polybase.

[Tutorial: Load New York Taxicab data to Azure SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase)

This tutorial will w

[2018-06-07 15:27] manigandham commented on #9733
It would be helpful if you could create a topic there and link it here so we all can vote on the same accurate issue instead of creating duplicates...

[2018-06-07 15:30] Mike-Ubezzi-MSFT commented on #9862
@zolebeg Thanks for the feedback. We are actively investigating but, I did want to clarify if your question is for DTU-based service tiers?

[Learn about automatic SQL Database backups](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-automated-backups#how-long-are-backups-kept)

The above link indicates the following defaults for DTU-based service tiers:

The default retention per

[2018-06-07 15:32] tdykstra commented on #9846
@sherlonus The article has "Packages" sections for Functions 1.x and Functions 2.x that indicate which package version to install for each runtime version. Is it possible you are trying to install a Functions 1.x Service Bus package in a Functions 2.x project (SB package 3.x corresponds to Functions 2.x)?

[2018-06-07 15:35] ExaTJ opened #9870 "Sign-up instructions do not work"
Following you suggestions we created distribution group to manage the account. However, when attempting to register the email account we receive an error stating that you cannot use a work email address to create a Microsoft account.
----
"Register the email (per the guidelines above e.g. windowsapp@fabrikam.com) as a Microsoft account by using the link https://signup.live.com/signup.aspx. Follow

[2018-06-07 15:38] Mike-Ubezzi-MSFT commented on #9863
@kvroeden Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 15:38] tdykstra commented on #9845
@romankiss Thank you for alerting us to this.  As noted in the [Event Grid CloudEvents schema documentation](https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema), this feature is still in preview, so documentation is incomplete.  We will have it documented more fully by the time the feature is GA.

[2018-06-07 15:39] nominds commented on #5282
We have sSSO enabled. On a domain connected machine when we try to access the application we still see a prompt to select the user name (not happy) however, it does not ask for a password (happy). Why we are prompted for a username on domain connected machine ? Is that an expected behavior ?

[2018-06-07 15:42] Mike-Ubezzi-MSFT commented on #9863
The current screen image in the documentation:

![screenshot 42](https://user-images.githubusercontent.com/37126106/41110455-42bad2f8-6a2e-11e8-98d9-f7aef82fc797.png)

Screen capture of the current view in the portal:

![screenshot 43](https://user-images.githubusercontent.com/37126106/41110580-9e0a9594-6a2e-11e8-910a-96315fc79b49.png)

There are some slight contextual differences.

[2018-06-07 15:44] nominds opened #9871 "Username prompted on domain connected machine with sSSO ?"
We have sSSO enabled. On a domain connected machine when we try to access an application we still see a prompt to select the user name (not happy) however, it does not ask for a password (happy). Why we are prompted for a username on domain connected machine ? Is that an expected behavior ?

[2018-06-07 15:49] CeciAc opened #9872 "Wrong path to x11 config"
@bolausson commented on [Thu Jun 07 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/83)

Hej,

I would like propose an updated version of the script to update the BUSID in the X11 config file which in most cases is now in /etc/X11/xorg.conf and no longer in /etc/X11/XF86Config.

furthermore it is more straight forward to get the BusID via
[code]
instead of
[code]

All wrapped up:
[c

[2018-06-07 15:55] bolausson commented on #9872
Thanks for moving it to the right space.

Cheers,
Bjoern

[2018-06-07 16:00] dkkapur commented on #9850
@srrengar to look into this!

[2018-06-07 16:15] jtuliani commented on #9864
Thanks. The question I asked related to the Azure Data Migration Service, whereas the page you gave relates to the Data Migration Assistant. It's not obvious whether these are the same thing (they are listed as separate items at https://blogs.msdn.microsoft.com/datamigration/2017/10/13/differentiating-microsofts-database-migration-tools-and-services/).

I think we need an explicit answer for the D

[2018-06-07 16:28] Mike-Ubezzi-MSFT commented on #9864
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 16:35] mganeshphani commented on #9554
@femsulu Its been 6 days .. any update on this... I would like to know on which field I can rely on to check which resource is created or updated or deleted as part of information from activitylog

[2018-06-07 16:40] Adam-Smith-MSFT commented on #9829
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 16:42] Adam-Smith-MSFT commented on #9831
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 16:45] jason-j-MSFT commented on #9821
@sabrinasmai
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 16:47] jason-j-MSFT commented on #9825
@timmyreilly
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 16:49] jason-j-MSFT commented on #9857
@smharishbabu could you provide a link to the documentation you are referencing?

[2018-06-07 16:54] Anmolgan81 commented on #9849
Am aware of that. Am using that as well.
But want to know if we can execute a .sql file stored in storage container using a procedure in ADW.
Is that possible.
If not are there any alternatives to achive this???

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, June 7, 2018 8:53:06 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [M

[2018-06-07 16:56] HdeJong0 commented on #9733
[Feedback posted here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34482052-the-proposed-update-to-the-office-365-signon-is-no)

[2018-06-07 17:04] MicahMcKittrick-MSFT commented on #9827
@dcbrown16 Azure only supports 64 bit systems. So everything you find in the doc you mentioned will all be 64 bit.

@iainfoulds maybe we should mention this in this document?

[2018-06-07 17:05] MicahMcKittrick-MSFT commented on #9835
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 17:05] MicahMcKittrick-MSFT commented on #9837
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 17:06] MicahMcKittrick-MSFT commented on #9840
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-07 17:08] MicahMcKittrick-MSFT commented on #9847
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 17:13] MicahMcKittrick-MSFT commented on #9850
@mcollier thanks for pointing this out!

@dkkapur I fixed the link :)

Once the changes merge the issue will close and changes will go live in a few hours.

[2018-06-07 17:13] MicahMcKittrick-MSFT commented on #9872
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-07 17:15] dannysievers opened #9875 "Typo in Step 5 for Create a persistent mount point for the Azure file share with `/etc/fstab`"
Step 5 provides the following command:
`sudo bash -c 'echo "//<storage-account-name>.file.core.windows.net/<share-name> <mount-point> cifs nofail,vers=<smb-version>,credentials=/etc/smbcredentials/<storage-account-key>.cred,dir_mode=0777,file_mode=0777,serverino" >> /etc/fstab'`

For the `credentials=/etc/smbcredentials/<storage-account-key>.cred`, it should actually be `credentials=/etc/smbcreden

[2018-06-07 17:28] vasivara-MSFT commented on #9662
@Powerhelmsman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 17:28] #9662 closed

[2018-06-07 17:30] mike-urnun-msft commented on #9818
Hey @dave-hillier - Thank you for your feedback! We have assigned this issue to the content author to investigate further and take the right course of action.

[2018-06-07 17:30] nschonni commented on #9662
The redirection still isn't working https://www.microsoft.com/trustcenter/Security/AzureSecurity is still a 404

[2018-06-07 17:36] KjetilEVRY opened #9877 "Warning if you convert from federated to managed and you have old tenant"
If you have a tenant created earlier than 15th of June 2015, and you at some point change from ADFS to PTA/PHS, on-prem UPN changes are not synced to AzureAD. This should be clearly informed, as more and more companies are switching to PTA/PHS. Ref: https://blogs.technet.microsoft.com/tip_of_the_day/2016/07/22/cloud-tip-of-the-day-upn-sync-changes-in-azure-ad/

---
#### Document Details

⚠ *Do not

[2018-06-07 17:43] vasivara-MSFT commented on #9830
@ElectricLlama Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 17:44] #7494 closed

[2018-06-07 17:44] douglaslMS commented on #9830
#in-progress

[2018-06-07 17:44] MicahMcKittrick-MSFT commented on #9389
Thanks for the update :)

[2018-06-07 17:44] #9389 closed

[2018-06-07 17:45] #9645 closed

[2018-06-07 17:45] douglaslMS commented on #9830
@ElectricLlama I want to verify with the product team that this is the expected behavior before adding clarifications to the documentation. Thanks for bringing this to our attention.

[2018-06-07 17:45] vasivara-MSFT commented on #9841
@TWolverson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 17:47] #9850 closed

[2018-06-07 17:51] vasivara-MSFT commented on #9688
@FredFaust I am trying to follow up internally to get some information on this. I will update when I have more information

[2018-06-07 17:52] ggailey777 commented on #9745
Yes, you can get into trouble with connections. [This article](https://github.com/Azure/azure-functions-host/wiki/Managing-Connections) has some guidance. There's also a preview settings that is supposed to throttle the number of instances: [WEBSITE_MAX_DYNAMIC_APPLICATION_SCALE_OUT](https://github.com/Azure/azure-functions-host/wiki/Configuration-Settings). You may want to ask about this setting

[2018-06-07 17:52] Mike-Ubezzi-MSFT commented on #9849
@Anmolgan81 To use a stored procedure that calls a remote .sql script, the stored procedure would need to use xp_cmdshell, which is not supported by Azure SQL Data Warehouse.  You will need to create a sp that is completely contained and does not call any remote scripts.

To achieve your desired functionality, you would need to deploy Azure SQL Data Warehouse to a VM and run it in a command line e

[2018-06-07 17:54] TravisCragg-MSFT commented on #9230
@vlele We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-07 17:54] #9230 closed

[2018-06-07 17:54] vasivara-MSFT commented on #9851
@greyghostbrewery Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 17:57] vasivara-MSFT commented on #9843
@Kantimaya-Badajena Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-07 17:58] SenthuranSivananthan opened #9878 "Clarification for storage analytics"
It says "Requests are logged on a best-effort basis.".  Is it possible to elaborate on this statement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c9d466-1830-ebaf-066f-8b53b57b6917
* Version Independent ID: 414715c5-d5f7-823a-3869-d8eb08448dbd
* Content: [Azure Logging and Auditing](https://docs.microsoft.com/en-

[2018-06-07 17:58] BryanTrach-MSFT commented on #9848
@middlewaysas Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 17:59] BryanTrach-MSFT commented on #9853
@jobairkhan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-07 18:00] dubahu opened #9879 "Simple Question...what web server does it use?"
App services for linux uses which web server?  Apache?  Nginx?  Pound????
Information isn't anywhere I can find and it shouldn't be that hard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Content: [Azure App Service

[2018-06-07 18:02] ggailey777 commented on #9820
@JoNevi Visual Studio Code does support both PowerShell and Azure Functions, both via extensions. You can get stared with VS Code and Functions [here](https://code.visualstudio.com/tutorials/functions-extension/getting-started). However, you can see that PowerShell support for Functions itself is [experimental only](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages). Funct

[2018-06-07 18:03] femsulu commented on #9842
@reaperlord Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-07 18:03] MicahMcKittrick-MSFT commented on #6500
@jeeshnair based on my knowledge I am not aware of any additional setup. However I am not finding any actual documentation on running MSI in containers so it would take some testing to 100% confirm

[2018-06-07 18:04] MicahMcKittrick-MSFT commented on #9520
@washraf sorry for the delay in response. Are you still seeing this same issue?

[2018-06-07 18:04] curtand commented on #8830
Hi @CrazeeIvan
I like your Github handle. Thanks for your patience!
According to my most knowledgeable PM, Get-AzureADGroup returns the same group object it receives from Azure AD Graph, whether it is filtered down to just one object or not. So what you're seeing is correct. The columnar display is contains all the information that is returned in its list representation.  What you got returned is

[2018-06-07 18:04] MicahMcKittrick-MSFT commented on #9540
@htoma I will close this for now. If you have additional questions please feel free to reach back out and we can continue.

[2018-06-07 18:04] #9540 closed

[2018-06-07 18:04] femsulu commented on #9865
@lrpark Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-07 18:04] Adam-Smith-MSFT commented on #9869
@ashishonce Base64 encoding encodes 6 bits per character. So the length of the string, multiplied by 6, must be divisible by 8. If it is not then it doesn't have enough bits to fill every byte and you'll get this exception. I'd recommend checking: https://stackoverflow.com/questions/12962992/invalid-length-for-a-base-64-char-array-exception

I've seen a lot of posts similar to this one, and AFIK,

[2018-06-07 18:09] femsulu commented on #9870
@ExaTJ Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-06-07 18:10] cherylmc commented on #9377
I am waiting for confirmation from the PM on this.

[2018-06-07 18:12] MicahMcKittrick-MSFT commented on #9745
thanks @ggailey777!

@MisinformedDNA let us know if you have further questions. I will close this for now.

[2018-06-07 18:12] #9745 closed

[2018-06-07 18:12] jrudley commented on #9731
i've opened a ms case as I am getting The host names for the site must include the default hostname with dns suffix 'azurewebsites.net'. Currently specified hostnames are: 'None' for restoring a webapp backup. I swear this was working last week. If it is anything relevant to this issue, i'll post the notes from the case

[2018-06-07 18:14] MicahMcKittrick-MSFT commented on #9820
Thanks for confirming @ggailey777!

@JoNevi I will close this for now but if you have additional questions just let us know.

[2018-06-07 18:14] #9820 closed

[2018-06-07 18:15] ashishonce commented on #9869
Hi Adam,

thanks for your quick reply.

I checked and I saw that QueueService has a "encode_function" method which
can be assigned , and also QueueMessageFormat class inside
azure.storage.queue has text_base64encode function.

so when I did something like this:

*queue_service = QueueService(account_name=config.storageAccountName,
account_key=config.storageAccountKey)*

*queue_service.encode_funct

[2018-06-07 18:16] bwren commented on #9865
Investigating.

[2018-06-07 18:16] sherlonus commented on #9846
I forgot to include prerelease on the nuget window

[2018-06-07 18:17] bwren commented on #9865
#in-process

[2018-06-07 18:17] MicahMcKittrick-MSFT commented on #9835
@jurjenoskam I will assign this to the author to determine if we should add that information to the doc.

@iainfoulds can you take a look?

[2018-06-07 18:17] bwren commented on #9865
#in-progress

[2018-06-07 18:21] tamram commented on #9869
@ashishonce - great. Thanks @Adam-Smith-MSFT !

@roygara - FYI

[2018-06-07 18:22] tamram commented on #9869
#please-close

[2018-06-07 18:23] MicahMcKittrick-MSFT commented on #9837
@nrjohnstone thanks for pointing this out! I corrected the doc. Once the changes merge this issue will close and the changes will go live in a few hours.

[2018-06-07 18:24] MicahMcKittrick-MSFT commented on #9847
@wploevyaya2018 what extension are you attempting to deploy and how are you deploying it?

[2018-06-07 18:24] #9855 closed

[2018-06-07 18:29] Adam-Smith-MSFT commented on #9875
@dannysievers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 18:37] jomolesk commented on #9742
@SaurabhSharma-MSFT this can be closed, URL is fixed.

[2018-06-07 18:37] SnehaGunda commented on #9639
@manigandham Adding .Net Core/standard support for `Microsoft.Azure.CosmosDB.Table` is on our roadmap. And yes you should use `Microsoft.WindowsAzure.Storage' until .Net core, support is enabled for Azure Cosmos DB Table API.

[2018-06-07 18:38] SnehaGunda commented on #9639
#please-close

[2018-06-07 18:40] YutongTie-MSFT commented on #9836
@pallaviMN Hi, thank you for your feedback, but this is not a document issue, please post it to[ MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home) so that we can help well.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 18:40] #9836 closed

[2018-06-07 18:40] mahesh-unnikrishnan commented on #5210
See https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-join-windows-vm-template

[2018-06-07 18:41] jomolesk commented on #9866
@SaurabhSharma-MSFT This is resolved and can be closed.

[2018-06-07 18:45] YutongTie-MSFT commented on #9844
@pjtrombe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@matthewconners Hi, this is a doc-related issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-07 18:52] femsulu commented on #9554
@mganeshphani apologies for the delay. Will sync with content author to get an update shortly.

[2018-06-07 18:52] femsulu commented on #9554
@johnkemnetz any help you can offer on this will be greatly appreciated.

[2018-06-07 18:53] YutongTie-MSFT commented on #9854
@mariakisiel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a doc-bug issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-07 18:55] YutongTie-MSFT commented on #9856
@mariakisiel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a doc-bug issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-07 18:57] #9837 closed

[2018-06-07 18:58] ExaTJ commented on #9870
You have the issue documented here ... https://docs.microsoft.com/en-us/azure/marketplace/guidelines#issue:-microsoft-id-in-an-azure-ad-federated-domain

Mind-blowing that you cannot use an O365 federated account to register a marketplace account ... mind-blowing.

[2018-06-07 18:59] SnehaGunda commented on #9716
#please-close

[2018-06-07 19:15] peterschen commented on #6349
When deploying to UK West I can use "Docker CE" as orchestrator type. A deployment in West Europe will fail on the other hand.

[2018-06-07 19:17] tdykstra commented on #9846
#please-close

[2018-06-07 19:19] aanandr commented on #9642
@sauryadas - do you know what this error message means?

[2018-06-07 19:25] meetamitbhatia opened #9880 "Sign-in flow stucks upon receiving WWW-Authenticate challenge"
Question: Does Azure Storage Explorer sign-in screen supports opening windows credential dialog (www-authenticate challenge)?

Issue:
=====
Customer is having issues Sign-in to Azure Storage Explorer and list subscription. They get the screen to enter their credentials but after entering credentials, screen is stuck.
Customer is already on latest version 1.1.0

![image](https://user-images.githubu

[2018-06-07 19:31] YutongTie-MSFT commented on #9859
@mariakisiel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-07 19:31] jeeshnair commented on #6500
How soon can you provide results of your testing? I am also doing some testing in parallel and can update you on what I find.

[2018-06-07 19:36] tdykstra commented on #8406
#please-close

[2018-06-07 19:36] tdykstra commented on #8413
#please-close

[2018-06-07 19:41] Anmolgan81 commented on #9849
Ok, ao you are saying I should create procedures for all of my external tables that should manually run using the automation account or is there aomething we can do to schedule this?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Thursday, June 7, 2018 11:22:50 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention

[2018-06-07 19:42] alphadever commented on #9052
@SaurabhSharma-MSFT , I am not sure what is exactly causing it, below is info about my Environment and the approach I took for creating the token
1. used VS 2017 command tool to create the token (as stated earlier, used the exact commands stated in documentation)
2. my IDE is VS 2017
3. used Microsoft.IdentityModel.Clients.ActiveDirectory V3.19.6
today I uploaded the same certificate (1024 bit) on

[2018-06-07 19:43] YutongTie-MSFT commented on #9860
@mariakisiel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-07 19:44] YutongTie-MSFT commented on #9861
@mariakisiel  Can you please provide more details? Thanks a lot!

[2018-06-07 19:44] tsulli opened #9881 "Step needs clarification"
Step 3 under "Using the new extension property / custom attribute in a user journey" needs clarification (and proper formatting). There is no ClaimsSchema element in the TrustFrameworkExtensions.xml file. Are we supposed to add one, and if so, where among the existing tags should it be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-06-07 19:47] SnowGhost21 opened #9882 "Issue with translate"
I'm having an annoying issue with detect text, when I send a single "Hi" to detect what language is user is speaking the answer is always Catalan, how can I fix this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Version Independent ID: 1f90c698-a146-3345-40dd-eb5dabe56cf3

[2018-06-07 19:47] SnowGhost21 opened #9883 "Problem with translation"
I'm having an annoying issue with detect text, when I send a single "Hi" to detect what language is user is speaking the answer is always Catalan, how can I fix this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c8e934-6639-88c5-08c1-31c90531854e
* Version Independent ID: 440b6cf2-692c-9a2c-558b-22326b3bdfb3

[2018-06-07 19:49] curtand commented on #9735
This is merged to publish at 3 PM today.
@nunix
@SaurabhSharma-MSFT
#please-close

[2018-06-07 19:54] SaurabhSharma-MSFT commented on #9804
@devwheel I am not having any issues registering the application on B2C Native App using  "https://".   See screenshot below -
![image](https://user-images.githubusercontent.com/38112130/41122886-d0ca8926-6a51-11e8-9a8f-96a78158daf7.png)
On which page you are getting this error ?

[2018-06-07 20:02] lunar87 opened #9884 "Can't find User Attributes checkbox"
Docs say, "To view or edit the claims issued in the SAML token to the application, open the application in Azure portal. Then select the View and edit all other user attributes checkbox in the User Attributes section of the application."  I can't find the page being referenced. I am looking under Active Directory enterprise applications and don't see the reference above anywhere.

---
#### Documen

[2018-06-07 20:04] SaurabhSharma-MSFT commented on #9742
@krptodr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 20:04] #9742 closed

[2018-06-07 20:05] SaurabhSharma-MSFT commented on #9866
@AndyHerb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 20:05] #9866 closed

[2018-06-07 20:06] SaurabhSharma-MSFT commented on #9735
@nunix We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 20:06] #9735 closed

[2018-06-07 20:08] SnehaGunda commented on #8436
@kubiozi did you get through the error?

I suspect the unique key for the first insert was null and same value is being inserted the second time too. If there is more than one document without a value for the indexed field or is missing the indexed field, the index build will fail with a duplicate key error.

If a document does not have a value for the indexed field in a unique index, the index wi

[2018-06-07 20:10] SaurabhSharma-MSFT commented on #9877
@KjetilEVRY Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-07 20:15] SaurabhSharma-MSFT commented on #9878
@SenthuranSivananthan Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-07 20:17] majingze0508 commented on #7022
Hi, I tried to create Speaker Verification Enrollment, I spoke "you can get in without your password" by microphone, but I got a error like this: "error": { "code": "BadRequest", "message": "InvalidPhrase" } Could you help me to fix it?
my code language: javaScript
API: rest api

[2018-06-07 20:28] Mike-Ubezzi-MSFT commented on #9716
@DavidJFowler We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 20:28] #9716 closed

[2018-06-07 20:29] ellacroi commented on #9493
#please-close as this issue has been resolved. We look forward to any additional feedback.

[2018-06-07 20:33] nschonni commented on #9662
https://www.microsoft.com/en-us/trustcenter without the trailing slash redirescts
Any subpage or just https://www.microsoft.com/en-us/trustcenter/ with the trailing slash doesn't

[2018-06-07 20:35] tourili opened #9885 "Published Scopes"
How to add application published scopes in the Post request? I try to add them as usual within OAuth2 but i get an error:
{
	"error": "invalid_request",
	"error_description": "AADB2C90146: The scope 'openid 681ab7b4-2145-4dc9-b457-dcd5ae220b73  offline_access  https://myB2C.onmicrosoft.com/api/sb.read' provided in request specifies more than one resource for an access token, which is not supported

[2018-06-07 20:38] HJToland3 commented on #9864
@jtuliani, I have added the following question and answer to the FAQ -

Q. What versions of SQL Server does the Azure Database Migration Service support as a source?
When migrating from SQL Server, the Azure Database Migration Service supports SQL Server 2005 through SQL Server 2017.

The change should go live later this afternoon or by mid-morning tomorrow at the latest.  Thanks for your feedback

[2018-06-07 20:40] vasivara-MSFT commented on #9662
@nschonni  the url to trust center is: https://www.microsoft.com/en-us/trustcenter

[2018-06-07 20:45] TheYabadabadou opened #9886 "Need more info on the Custom SQL query part"
Where can I find more info on the Custom SQL for HubSpot?
I would like to know what are the differents tables and fields.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d9d4670-d8f7-2c1a-b93c-2d260f32ab84
* Version Independent ID: 6756005b-8c21-9dac-3837-340b30565078
* Content: [Copy data from HubSpot using Azure Data

[2018-06-07 20:47] Mike-Ubezzi-MSFT commented on #9639
@manigandham We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 20:47] #9639 closed

[2018-06-07 20:49] Adam-Smith-MSFT commented on #9813
Sorry, I assigned it to hux@

[2018-06-07 20:50] YutongTie-MSFT commented on #9882
@SnowGhost21 This is duplicate with https://github.com/MicrosoftDocs/azure-docs/issues/9883 , we will update there, please go and see.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 20:50] #9882 closed

[2018-06-07 20:50] SaurabhSharma-MSFT commented on #9884
@lunar87 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-07 20:52] Minewiskan commented on #9662
@nschonni @vasivara-MSFT
Please separate the URL issue from the link in article issue that was assigned to me (this one). I just chose to link to a different url, https://www.microsoft.com/trustcenter. The redirection issue is an interesting one. I spent an hour trying to figure it out. No luck, other than use https://www.microsoft.com/trustcenter.

[2018-06-07 20:54] curtand commented on #9665
HI @dougmolineux

Right now this is the default behavior. You can change this according to the instructions in  https://docs.microsoft.com/azure/active-directory/b2b/use-dynamic-groups#hardening-the-all-users-dynamic-group

Changing the default behavior is being discussed currently in planning meetings.

@SaurabhSharma-MSFT
#please-close

[2018-06-07 20:56] YutongTie-MSFT commented on #9883
@SnowGhost21 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@ashmaka Hi, this is a product question, can you please check it and help? Thanks a lot!

[2018-06-07 20:56] ashmaka commented on #9883
@SnowGhost21 Hi Diego! Unfortunately, there is no way to override the result given by the language detection API. The reason you are getting such a result for "hi" is because the input text is very short. In general, the more characters you provide to the API, the API has more signal to make a decision about the language.

[2018-06-07 20:57] SaurabhSharma-MSFT commented on #9881
@tsulli Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-07 20:59] SnowGhost21 commented on #9883
Hi @ashmaka thanks for your help!

There is my snippet code:

`const options = {
          method: 'POST',
          url: 'https://eastus.api.cognitive.microsoft.com/text/analytics/v2.0/languages',
          body: { documents: [{ "text": event.text }] },
          json: true,
          headers: {
            'Ocp-Apim-Subscription-Key': process.env.MS_LOCALE_KEY
          }
        };`

[2018-06-07 20:59] YutongTie-MSFT commented on #9821
@sabrinasmai Can you please try other types of accounts to get the free subscription? It should be easy to get it. Thanks.

[2018-06-07 21:02] jason-j-MSFT commented on #9880
@meetamitbhatia thanks for the feedback, could you provide a link to the documentation you are referencing?

[2018-06-07 21:04] jason-j-MSFT commented on #9871
@nominds thanks for the feedback, could you provide a link to the documentation you are referencing?

[2018-06-07 21:11] xyh1 commented on #9813
Hi @jeffwmiles,

Thank you for letting me know that the PageBlob wording is ambiguous. A page blob will infer the AccessTier of the Account but cannot be tiered and does not have separate pricing tiers: [Azure Storage Page Blob Pricing](https://azure.microsoft.com/en-us/pricing/details/storage/page-blobs/).

I will modify the documentation to ensure that this is made clearer.

[2018-06-07 21:13] Mike-Ubezzi-MSFT commented on #9849
@Anmolgan81 To automate the stored procedure, you can leverage [Azure Automation](https://azure.microsoft.com/en-us/blog/azure-automation-your-sql-agent-in-the-cloud/) to create a Workflow PowerShell type of RunBook.

In this scenario, the stored procedure calls are part of the PowerShell script (no need to create the stored procedure in the traditional sense) and then use RunBook to automate the

[2018-06-07 21:21] kobulloc-MSFT commented on #9711
@waheedhussain I'm seeing this as well.  I'm investigating what is required to download results and will get back to you shortly.

[2018-06-07 21:27] manigandham commented on #9639
Thanks for the confirmation. In that case, and especially since there 2 clients being used with different code semantics, please update the documentation to make it clear as was originally asked.

[2018-06-07 21:29] CelesteDG commented on #9438
@SaurabhSharma-MSFT @MohitGargMSFT @femsulu - Hello. After discussions with the feature team, they are working on some code changes that will address the issue filed here. Can you please change the issue type from doc-enhancement to something else like #product-bug or #product-question? I've still got a work item to update the docs once the code has been updated, but for now the issue is not doc-r

[2018-06-07 21:30] billmath commented on #8997
#please-close

[2018-06-07 21:31] billmath commented on #9275
#please-close

[2018-06-07 21:31] billmath commented on #8963
#please-close

[2018-06-07 21:31] Mike-Ubezzi-MSFT commented on #9649
@swilliamson-axioma We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:31] #9649 closed

[2018-06-07 21:32] Mike-Ubezzi-MSFT commented on #9658
@KeirSweeney We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:32] #9658 closed

[2018-06-07 21:34] Mike-Ubezzi-MSFT commented on #9694
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 21:34] BryanTrach-MSFT commented on #9797
@MouthOfMadness Can you please post your feedback to the below article? This article is about the Azure Web App product, which is different than AAD applications. This will ensure the AAD doc authors receive the feedback and take the necessary steps. Thank you for your understanding.

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-application-management

[2018-06-07 21:34] #9797 closed

[2018-06-07 21:35] Mike-Ubezzi-MSFT commented on #9703
@Jabbar2018 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:35] #9703 closed

[2018-06-07 21:36] SaurabhSharma-MSFT commented on #9300
@peternield Sorry for the delay on ... We are working with the product team to understand a feasible solution for your case and will update you with proper details.

[2018-06-07 21:38] Mike-Ubezzi-MSFT commented on #9753
@gosali We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:38] #9753 closed

[2018-06-07 21:38] CarlRabeler commented on #9694
fixed - https://github.com/MicrosoftDocs/azure-docs-pr/pull/43282
#please-close

[2018-06-07 21:40] billmath commented on #8906
@limjianan good catch.  Yes the custom doc was out of sync on that.  I have corrected it.  http://aadg.windows.net.nsatc.net` is no longer required.

#please-close

[2018-06-07 21:40] billmath commented on #8906
This should be live later today.

[2018-06-07 21:40] Mike-Ubezzi-MSFT commented on #9694
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. If you do not see the change immediately, documentation changes should be published in the next 24 hours.
Regards,
Mike

[2018-06-07 21:40] #9694 closed

[2018-06-07 21:40] billmath commented on #8906
#please-close

[2018-06-07 21:44] SaurabhSharma-MSFT commented on #8963
@nhogarth86 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:44] #8963 closed

[2018-06-07 21:44] SaurabhSharma-MSFT commented on #9275
@jeromeecho We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:44] #9275 closed

[2018-06-07 21:44] SaurabhSharma-MSFT commented on #8997
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:44] #8997 closed

[2018-06-07 21:45] SaurabhSharma-MSFT commented on #8939
@johnneycao We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 21:45] #8939 closed

[2018-06-07 21:53] nschonni commented on #9662
@Powerhelmsman maybe this should get transferred back to the feedback repo till the owner for the site can be found.

[2018-06-07 21:58] billmath commented on #8876
@PurpleFuton I have verified this and updated the screenshot.  It should be live later today or by tomorrow.  Thanks again!

[2018-06-07 21:58] billmath commented on #8876
#please-close

[2018-06-07 22:07] billmath commented on #8604
@cuixi1222 can you provide some more details.  I am not understanding what the actual question or issue is.  Thanks!

[2018-06-07 22:08] SaurabhSharma-MSFT commented on #8876
@PurpleFuton We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 22:08] #8876 closed

[2018-06-07 22:14] vasivara-MSFT commented on #9886
@TheYabadabadou Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-07 22:17] Mike-Ubezzi-MSFT commented on #9780
@zhongyi-zhang A secondary database should never be scaled to a lower service tier than what the primary database was provisioned at to meet the forecasted application load. It is okay that the primary and secondary are at different service tiers. Also, with each pricing tier for Azure SQL Database there is a set amount of storage that is provisioned. Additional storage can be allocated but it is

[2018-06-07 22:19] Mike-Ubezzi-MSFT commented on #9826
@Phydeauxman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion. Regards, Mike

[2018-06-07 22:19] #9826 closed

[2018-06-07 22:19] timmyreilly opened #9888 "How do I get more projects?"
My Limited Trial is limited to 2 projects created, how do I reuse a project?
Or how do I connect to an already existing project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 646cbb8a-041e-9d99-0385-272f31793552
* Version Independent ID: b9ae4376-2e8f-f311-8b1b-d4e3120bf5b5
* Content: [Create a Custom Vision Service P

[2018-06-07 22:22] timmyreilly commented on #9888
Oooh found it: https://go.microsoft.com/fwlink/?linkid=865446

[2018-06-07 22:27] kobulloc-MSFT commented on #6399
@jakubjenis (and @mrbullwinkle ) The best place for specific answers about implementations are going to be the forums here:

https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

https://stackoverflow.com/

We actively look through posts in the forums, and will do our best to get you going in the right direction.

[2018-06-07 22:33] MouthOfMadness commented on #9797
@BryanTrach-MSFT this doesn't address my issue, as the New-AzureRMADApplciation registers the
application here, just not as a converged application.  I'll attach the original image.

![aad only apps](https://user-images.githubusercontent.com/29233402/41129667-c63ae308-6a78-11e8-9e93-4822c1ae3782.png).

[2018-06-07 22:35] brightbytes-dude opened #9890 "Please instruct the user do `pip install azure-storage`"
If you run the sample code without having run `pip install azure-storage`, it gags.

So, please instruct the user to run that before running the sample code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed9a-343a-0ec7-a94d-02c354d1ae33
* Content: [Azu

[2018-06-07 22:36] dmarlow opened #9891 "Data Sync is not appropriate for the following scenarios"
Can someone elaborate on each point as to why Data Sync isn't appropriate for those scenarios, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791801be-835a-7b8d-106a-53f5e9f8eb66
* Version Independent ID: 740ebf2f-8f09-1869-6d78-2b7242aab4ec
* Content: [Azure SQL Data Sync (Preview)](https://docs.microsoft.com/

[2018-06-07 22:37] douglaslMS commented on #9521
@dcbrown16 Just want to let you know that we have added this limitation to the article. Thanks for bringing this to our attention.

[2018-06-07 22:37] douglaslMS commented on #9521
#please-close

[2018-06-07 22:39] tonyistark commented on #9802
@Blackmist I figured out that it's just missing the steps to add a gateway and vnet integration. I got past that part. But now the function works and returns success but nothing actually goes to kafka.

[2018-06-07 22:53] ggailey777 commented on #9745
@MisinformedDNA one last thing. Make sure you have [App Insights enabled](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring) for your function app. This will make it easier to determine the cause of any errors you are seeing in your functions.

[2018-06-07 22:53] MicahMcKittrick-MSFT commented on #6349
@neilpeterson do you know if there are regional limitations on this?

[2018-06-07 23:00] Jquintero190 opened #9892 "Publish a Marketplace item section missing steps and wrong Powershell Command"
it should be
Add-AzsGalleryItem -GalleryItemUri `
https://sample.blob.core.windows.net/gallerypackages/Microsoft.SimpleTemplate.1.0.0.azpkg –Verbose

this is to be done after adding and connecting to environment

Install-Module -Name AzureRm.BootStrapper -Force
Use-AzureRmProfile -Profile 2017-03-09-profile
Install-Module -Name AzureStack -RequiredVersion 1.3.0

#imports mmodules for azure stack
c

[2018-06-07 23:01] barbkess commented on #9512
@saurabhsensharma : The article is updated with P1 or P2 requirements.

#please-close

[2018-06-07 23:04] magdysalem2 opened #9893 "possible issue with az cli command"
The steps to create windows cluster using PS works prefect for self-sign cert case. Also I used the same PS steps to create linux cluster. This confirm Linux vnet-linuxcluster.json and vnet-linuxcluster.parameters.json are good.

Now, when I try to create Linux cluster with self-sign cert using az command and templates, I ran into error "The primary certificate parameters names in the parameters f

[2018-06-07 23:04] #9521 closed

[2018-06-07 23:09] HJToland3 commented on #9864
#please-close

[2018-06-07 23:10] Mike-Ubezzi-MSFT commented on #9864
@jtuliani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 23:10] #9864 closed

[2018-06-07 23:10] YutongTie-MSFT commented on #9888
@timmyreilly We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-07 23:10] #9888 closed

[2018-06-07 23:15] #6513 closed

[2018-06-07 23:15] #7563 closed

[2018-06-07 23:15] #8075 closed

[2018-06-07 23:15] #8406 closed

[2018-06-07 23:15] #8413 closed

[2018-06-07 23:16] #8760 closed

[2018-06-07 23:16] #8830 closed

[2018-06-07 23:16] #8906 closed

[2018-06-07 23:16] #8912 closed

[2018-06-07 23:16] #8940 closed

[2018-06-07 23:16] #9200 closed

[2018-06-07 23:16] #9263 closed

[2018-06-07 23:16] #9264 closed

[2018-06-07 23:16] #9308 closed

[2018-06-07 23:17] #9350 closed

[2018-06-07 23:17] #9387 closed

[2018-06-07 23:17] #9415 closed

[2018-06-07 23:17] #9493 closed

[2018-06-07 23:17] #9506 closed

[2018-06-07 23:17] #9550 closed

[2018-06-07 23:18] #9577 closed

[2018-06-07 23:18] #9619 closed

[2018-06-07 23:18] #9660 closed

[2018-06-07 23:18] #9665 closed

[2018-06-07 23:18] #9846 closed

[2018-06-07 23:28] CelesteDG commented on #8702
@MicahMcKittrick-MSFT @SaurabhSharma-MSFT @MohitGargMSFT @femsulu - Hello. After discussions with the feature team, they are reviewing some proposed code changes that will affect and address the issues discussed/filed here. Can you please change the issue type from doc-enhancement to something else like #product-bug or #product-question? I've still got a work item to update the docs once the code

[2018-06-07 23:29] bganapa commented on #7710
@bingosummer  can you please check where the certifi pacakge is by doing the following?
python -c "import certifi; print(certifi.where())"

[2018-06-07 23:47] jeeshnair commented on #6500
Thanks @MicahMcKittrick-MSFT . MSI with service fabric is a key scenario for same reasons MSI was introduced. So I am surprised that you feel it is not a large ask.  If containers had to access key vault without storing secrets then MSI is the only way out.

By the way I tested and it seems like call the IMDS end point failed with timeout. So clearly something is a miss here. All I want to know is

[2018-06-07 23:48] limjianan commented on #8906
@billmath just one more note on https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-get-started-custom#configure-the-intranet-zone-for-client-machines
the step 4. do the value really have the **`** as open and close ?
the step 5; you have a picture that still shows 2 URLs, I probably will just steal it from https://docs.microsoft.com/en-us/azure/active-direc

[2018-06-07 23:50] SnehaGunda commented on #9602
@nschonni Yes I fixed that link in the above mentioned PR, you can see it here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/43099/files#diff-e376ae80ba1d4564489ac1508e3f20e2R42

[2018-06-07 23:50] SnehaGunda commented on #9602
#please-close

[2018-06-07 23:54] JustinGrote opened #9894 "Billing Granularity for Azure Automation"
I was not able to find an answer to this question so I opened a Case on it. This is the response:

So if you run 1 runbook / second we will calculate the aggerated usage of all runbooks run seconds that is converted to minutes ( seconds are aggerated as well / subscription and transpired into minutes)  $0.002/minute

Similarly, for watchers, if I have a watcher set to check every 60 minutes, does

[2018-06-08 00:05] BryanTrach-MSFT commented on #9879
@dubahu Thank you for your question. When using Docker images, you have the ability to specify the flavor that you wish such as Apache or NGINX.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-08 00:05] #9879 closed

[2018-06-08 00:08] RajeetN commented on #6500
@jeeshnair, to clarify what @MicahMcKittrick-MSFT meant this is not an issue with Service Fabric itself. Is the IMDS endpoint address add to routes inside container so the address is routable?

[2018-06-08 00:16] suhuruli commented on #9552
Hi Lawrence,

In the docs, it is stated that DNS Service not working is a known limitation of this that we are working on.

Known Limitations
The following are known limitations of the local cluster running in a container for Mac's:

DNS service does not run and is not supported Issue #132

Thanks,
Sudhanva.

-- Support will arrive soon.

[2018-06-08 00:19] #9655 closed

[2018-06-08 00:20] #9544 closed

[2018-06-08 00:37] wayne-kim commented on #9753
I did not know that I had to use a collection with a partitioning key. The Change Feed article did not have this content. There was a story about the partition key, but I did not know that this partition meant the partition of the collection. I did not even create a partitioning key because I used only a fixed collection. And the sample code was more complicated than Google's FireBase.

[2018-06-08 00:38] wayne-kim commented on #9753
For reference, I saw the contents of the partition key in Concepts> Partitioning.

[2018-06-08 00:56] ChadNedzlek opened #9895 "Error message directs me here, but there is nothing helpful here."
I'm getting this error:

The template deployment '&lt;my name&gt;' is not valid according to the validation procedure. The tracking id is '&lt;some-guid&gt;'. See inner errors for details. Please see https://aka.ms/arm-deploy for usage details.

But nothing on this page is at all helpful with that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-06-08 01:02] BryanTrach-MSFT commented on #8013
@tony-gutierrez We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-08 01:02] femsulu commented on #9894
@JustinGrote Thanks for bringing this to our attention. Your question has been shared with the content author for further review.

[2018-06-08 01:10] nschonni commented on #9602
@SnehaGunda that repo is actually private so I can't 😉 , but I trust you got it so I'll close

[2018-06-08 01:10] #9602 closed

[2018-06-08 01:13] JimmyLS commented on #9764
Thanks a lot!

[2018-06-08 01:15] #9517 closed

[2018-06-08 01:19] mrbullwinkle commented on #7915
@Rick-Anderson thanks again for the feedback, this one should be all set now.

[2018-06-08 01:19] mrbullwinkle commented on #7915
#please-close

[2018-06-08 01:21] aappddeevv commented on #9084
I delved into the code and another issue on the java works. It appears there is a bug in the classpath setting. I worked through it. Either you use a fatjar in the function directory or you you separate out the function jar into the function dir or the root and place all other jar dependencies in the <toplevel>/lib directory. I've requested a function dir specific classpath to be set as a default

[2018-06-08 01:33] MicahMcKittrick-MSFT commented on #9893
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-08 01:49] #7915 closed

[2018-06-08 01:53] curtand commented on #8954
Hi @nhogarth86 ,
It turns out that the Device Administrator role is available for assignment only as an "additional local administrator" in **Device settings**.  That's been added to the Device Administrator description and is publishing at 10 AM tomorrow 6/8. Check out the pull request if you want.

@SaurabhSharma-MSFT
#please-close

[2018-06-08 01:55] BryanTrach-MSFT commented on #9853
@msangapu I can confirm that the --sku tag is required for me as well. I'm not sure what the proper method for implementing this is though.

Also, I am only able to get the below cmdlet to run when using the desktop version of docker. Using the 'try it now' or the cloud shell causes it to fail with the same error that the customer is reporting. If this is not supported in cloud shell, should we ca

[2018-06-08 02:20] SaurabhSharma-MSFT commented on #9885
@tourili Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 02:21] jeeshnair commented on #6500
The stack overflow thread talks about MSI installers not managed service
identity . Totally different things and unrelated .

On Thu, Jun 7, 2018 at 6:22 PM Micah <notifications@github.com> wrote:

[2018-06-08 04:02] rbernardino opened #9897 "Step 3 in Create a persistent mount point for the Azure file share with /etc/fstab"
I think we should pass -p in mkdir and then reverse the logic for the if statement. e.g.

if [ ! -d "/etc/smbcredentials" ]; then
    sudo mkdir -p /etc/smbcredentials
fi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
*

[2018-06-08 04:14] meetamitbhatia commented on #9880
Hi Jason, I had provided the link, please find the same,
https://docs.microsoft.com/en-us/azure/storage/common/storage-explorer-troubleshooting
_Verify the authentication protocol used by your proxy server. Storage Explorer does not currently support NTLM proxies._

[2018-06-08 05:09] linda33wj commented on #9841
@TWolverson refer to each connector article which have more explanation on the corresponding supported capability and config, e.g. we do have pointers in SQL Server article (https://docs.microsoft.com/en-us/azure/data-factory/connector-sql-server) to the IR concept article you referred to, in prerequisites section and linked service config section.

For your remaining question, as your SQL Server

[2018-06-08 05:18] agnimitra commented on #8673
Hi @vladvino,
any update on this??

Due to this security vulnerability, we cannot release our product.

[2018-06-08 05:38] KloudEzy opened #9898 "Bash shell failed to start"
Hi Team,
I'm trying to execute bash shell and it's failing with following error message.

"Exec to container failed"

I've downloaded https://hub.docker.com/r/certbot/certbot/ image and trying to ssh/run command on to it.

Please help
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a76

[2018-06-08 05:40] zhongyi-zhang commented on #9780
Thank you @Mike-Ubezzi-MSFT! So is there any underlying risk if the secondary database has less storage? For production environment, is it a MUST to always keep the primary and the secondary at the same tier and storage size?

[2018-06-08 05:48] SaurabhSharma-MSFT commented on #9729
@tjrobinson While creating the Group make sure the "Group type" is "Security" and not "Office 365". A Security group can have MSI service principals added to it.

[2018-06-08 06:01] jeeshnair commented on #6500
@RajeetN , How do I do the below , are there any instructions/documentation you can point me to?
"Is the IMDS endpoint address add to routes inside container so the address is routable?"

[2018-06-08 06:14] Kartik1607 opened #9899 "How do we add metadata in the QnAMaker knowledge base document?"
Is there a way to add meta data to knowledge base document from which the QnA's are extracted? Or adding them manually through QnAMaker website the only option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1d6a8c-954c-9ce8-6101-c19b20724c91
* Version Independent ID: 5c219f6c-260b-c17a-7f41-1bf4095aa521
* Content: [

[2018-06-08 06:16] mvansoens commented on #8837
Could it be related to powershell session in the browser?  Yesterday I had the same issue when using cloud shell but successfully ran the copy using standard shell.

[2018-06-08 06:40] SaurabhSharma-MSFT commented on #9806
@allanwith Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@twooley I tried replicating the scenario with a guest invitation and I am having the same experience as the user.  Please can you take a look if everything is correct or any steps  are missing in the document ?

[2018-06-08 06:42] RajeetN commented on #6500
What is the IMDS endpoint address?

[2018-06-08 06:45] jeeshnair commented on #6500
I was under impression that 69.254.169.254 should be callable from container.

[2018-06-08 06:47] jeeshnair commented on #6500
Here you go. That is a non routable ip on the VM and I can confirm that I can hit this end point and get an access token from VM. Not from the container
http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://management.azure.com/

[2018-06-08 06:50] RajeetN commented on #6500
Exactly, that is what I meant. the 169.* is not routable. Do "route add 169.254.169.0/24 172.22.160.1" inside the container to make the address routable.

[2018-06-08 06:57] jeeshnair commented on #6500
I can try and update you on what I find

[2018-06-08 07:06] mariakisiel commented on #9861
Hi,

Sorry for being not precise. I meant that at the moment in the Conversation Learner I can see button for “New Log Dialog” and not for “New Chat Session”. Not sure if this is the case of versions or maybe locale.

Thanks,
Maria

_______________________________________________________________________
[Email_CBE.gif]Maria Kisiel
Knowledge Scientist | EE Cloud & Edge GDC

Capgemini Poland | Katow

[2018-06-08 07:10] Kartik1607 commented on #9899
I found what I was looking for at [this link](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported)

This information should be shown in the [create knowledge base](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/create-knowledge-base) doc page also.

[2018-06-08 07:28] steeveeh opened #9900 "Deleting activity log items"
Hello,

I understand from discussions that activity logs cannot be deleted, regardless of role and only remove themselves following 90 days. I think we should clarify in the article that this is the case, as a number of customers have asked whether a specific role can delete log items maliciously.

Thanks
Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-06-08 07:42] Flodu31 opened #9901 "Get-AzureRmADGroup : A parameter cannot be found that matches parameter name 'DisplayName'."
Hi team,
I've the title error.
The following command:
$groupID=(Get-AzureRmADGroup -DisplayName mygroup).Id
Must be replaced by:
$groupID=(Get-AzureRmADGroup -SearchString mygroup).Id

Florent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21e0577f-6ac5-5024-d7b6-770d79f2b1ce
* Version Independent ID: 3da6e52b-c37d-7ff

[2018-06-08 07:49] Expecho commented on #9713
Great, thanks for the info!

[2018-06-08 07:49] #9713 closed

[2018-06-08 07:49] mrik23 opened #9903 "Get-AzureADDirectorySettingTemplate only available in Azure AD Preview powershell module"
It is not clearly mentioned, but directory settings cmdlets are only available in the Azure AD Preview module. That should be clarified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5fbd-6470-5d29bf512fd2
* Version Independent ID: 4f70ed16-6a1c-c0be-3c5e-d56e1b7c7275
* Content: [Configure group settings

[2018-06-08 07:57] tjrobinson commented on #9729
@SaurabhSharma-MSFT Thanks for getting back to me. The group type is "Security" and I can see through the Azure Portal that there are MSI service principals in it. But I get access denied when accessing Key Vault.

[2018-06-08 07:58] dolphinsting opened #9904 "Azure Active Directory instructions are out of date"
The Azure Active Directory instructions seem to be out of date. The links don't exist anymore that I can see and I can't find any replacements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Version Independent ID: c281bdb7-c98c-6853-5077-41b3dd44d3a2
* Content: [Configure Azure A

[2018-06-08 08:00] epocket commented on #8701
I got this working too, @vjrantal helped me with a build for my platform

[2018-06-08 08:00] #8701 closed

[2018-06-08 08:15] saachinvettiyattil opened #9905 "Cannot Connect to Azure SQL VM 2014"
While trying to Connect using ippaddress i cannot connect to the server in DMS as a source. It genereates a errro saying server not found.

Error Details are as follows:

The most common cause of this error is entering an invalid server name.  Please check the server name you entered.  Consider entering a Fully Qualified Domain Name (FQDN) or IP address of the server.  Please also make sure to cho

[2018-06-08 08:19] femsulu commented on #9895
@ChadNedzlek Thanks for bringing this to our attention. And sorry the page wasn't more helpful. Your feedback has been shared with the content owner for further review and we will be glad to help resolve this issue.

[2018-06-08 08:30] phatcher opened #9906 "Note lack of support of forcePasswordAtFirstLogin for custom policies"
We changed from standard to custom policies and this tripped us up

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33489541-1210-69d0-4a45-5ba306d254fc
* Version Independent ID: 4dd79b67-4004-f7d0-d59d-d3c94677b36e
* Content: [Azure Active Directory B2C custom policies](https://docs.microsoft.com/en-us/azure/active-dire

[2018-06-08 09:15] bingosummer commented on #9266
Thanks @mike-urnun-msft .
@gsilva5 , any suggestions about this?

[2018-06-08 09:45] zentelfong opened #9909 "SpeechFactory_CreateSpeechRecognizer_With_Stream api not include in c++ sdk"
hi Microsoft
SpeechFactory_CreateSpeechRecognizer_With_Stream api not include in c++ sdk，I find it in dll file, please add it in api file.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: efae7ff6-5557-221f-7539-5d2d1883127d
* Version Independent ID: 4b868e15-0248-635c-aa2f-d591bbc77d65
* Content: [About the Cognitive Services Speech SDK - Microsoft Cognitive Services

[2018-06-08 09:54] mrdfuse opened #9910 "will the automatic minor patching cause downtime?"
As the title says, do you need to implement retry logic or will the minor patching not cause any downtime at all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version Independent ID: be1ac595-a36f-ad23-4507-e4bdcfc5ad33
* Content: [Supported versions in Azure Database for Postgr

[2018-06-08 10:31] ToMakeSense opened #9912 "The language expression property '1' can't be evaluated"
ARM template below isn't work, It ran with error message:

[code]
**I have tried with a lot of options**
[code]
I want to create an array type variable from the original IP address(dynamic IP count) string in the following format,  how to loop the array in arm template?

**Original IP address:**

**Target array format**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-06-08 11:08] Molotch opened #9913 "Difference between roles and hierarchical entities"
The example used for hierarchical entities are identical with the example for simple entities with roles. It would be helpful if you could elaborate on when one should be preferred over the other and if there's a functional difference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d3a8635-d364-8cb1-06b5-a15424e9935a

[2018-06-08 11:12] wortho opened #9914 "StartTime and EndTime Parameters for Get-AzureRmSqlSyncGroupLog Need to Be in US Format"
I found that I needed to format the DateTimes in US format to get the function to work if that is not the default culture.

# Get the error logs for the group
$SyncLogStartTime = (Get-Date).ToUniversalTime().AddDays(-1)
$SyncLogEndTime = (Get-Date).ToUniversalTime()
Write-Host "Getting Logs from $SyncLogStartTime to $SyncLogEndTime ..."
Get-AzureRmSqlSyncGroupLog -ResourceGroupName $ResourceGroupN

[2018-06-08 11:22] wortho opened #9915 "How do I get schema changes into a sync group?"
Regarding the steps needed to make a column change.

1.	Remove the table which has the column changed from the sync schema. Save the Schema.
2.	Trigger a sync.
3.	Refresh the Schema. Add the table which has the changed column back to the sync group.
4.     Save the Schema.
5.	Trigger a sync.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-06-08 11:43] nominds commented on #9871
Hi Jason, thanks for your quick reply.

I referred to the video available here : https://www.youtube.com/watch?v=PyeAC85Gm7w

Please refer the video bite from 2:10 - 2:25 specifically.

[2018-06-08 11:49] Blackmist commented on #9802
@tonyistark That's what we're seeing here, that no messages are going through. Sorry for the miscommunication. Everything looks like it should work, but messages aren't making it to the Kafka cluster. Engineering is investigating.

[2018-06-08 12:27] superminiek commented on #9724
Thank you for all information, could you please put a clear tip in documentation that VM should be removed and then re-created to enable SLA? It would be very helpful.

[2018-06-08 12:36] DJ-1701 opened #9916 "Initialize-ADSyncDomainJoinedComputerSync command used appears to fail if tenant has dishes '-'"
When running Initialize-ADSyncDomainJoinedComputerSync command used in Step 1, it appears if you have any dashes in your tenant name it will fail with the message: Tenant (FQDN with Dashes removed here) not found.This may happen if there are no active subscriptions for the tenant. Check with your subscription administrator.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-08 12:38] erossini opened #9917 "More information..."
Thank you for this document. I didn't understand how you can create your dataset for PowerBI from Application Insights. I wrote a post to show more steps http://puresourcecode.com/tipstricks/post/Feed-Power-BI-from-Application-Insights

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0abefda3-86b0-ed2c-1ce2-1f2d7cc175ad

[2018-06-08 12:50] codecadwallader opened #9918 "JobHost ServicePointManager settings in .NET Core?"
The section on ServicePointManager settings explicitly mentions .NET Framework.  Does this apply to .NET Core projects as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent ID: 8fb75741-37b9-b45f-c0ca-9948ddaf1c06
* Content: [How to use the WebJobs SDK for ev

[2018-06-08 12:54] 00111000 opened #9919 "How is it possible for a user to authenticate themself without entering their credentials? - OpenID Connect"
I feel like I have an ok understanding of the OpenID Connect (OIDC) protocol, however, I can't seems to understand one thing, which has to do with logging out/terminating the session.

In the docs it says that "When you wish to sign the user out of the app, it is not sufficient to clear your app's cookies ... **You must also redirect the user to the `end_session_endpoint` for sign-out**. If you fa

[2018-06-08 12:58] mufflon opened #9920 "AKS instead of ACS?"
Is it possible (now or in the future) to deploy to AKS instead of a "Kubernetes deployment on an Azure Container Service (ACS) cluster"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5904637d-335b-ed1e-2f81-646a3a83a80c
* Version Independent ID: 91bd13ab-e31f-9bd9-f869-fa1e9e03000a
* Content: [Azure Machine Learning M

[2018-06-08 13:09] MikeSpark commented on #7473
I want to concat a single quote in expression, @concat('SELECT * FROM ',pipeline().parameters.fileName,' WHERE SUBSTR(CREATEDATE,1,7) = ', ''' ,pipeline().parameters.sliceName, ''')

But triple single quote doesn't work. Please help. I need this to construct a dynamic SQL query that base on parameter. Thank you!

[2018-06-08 13:12] sergaz-msft commented on #8682
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Thank you.

[2018-06-08 13:12] #8682 closed

[2018-06-08 13:16] sergaz-msft commented on #9693
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-08 13:16] #9693 closed

[2018-06-08 13:18] sergaz-msft commented on #9779
Hello @walleSenpai , checking if you had the chance to look at my suggestion above? What was the result after that?

Thank you!

[2018-06-08 13:21] sergaz-msft commented on #9852
Thank you. Let me give it a try and let you know the results on my side.

[2018-06-08 13:28] NayangiriGoswamiGit opened #9922 "Sample code is not working with event hub jar: versions I tried are- 1.0.0, 1.0.1 and 0.10.0"
When we use java code from above page, the line
1.
EventData sendEvent = new EventData(payloadBytes);
is saying Cannot instantiate the type "EventData"
2.
  	final EventHubClient ehClient = EventHubClient.createSync(connStr.toString(), executorService);
is saying executorService cannot be resolved to a variable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-06-08 13:28] biaalexzimm opened #9923 "Log in"
I would also like to voice my dislike of the mandatory  entry of your e-mail every log in. My organization already requires multi factor device log in so my log in process has become a long drawn out annoyance at this point. The process honestly does not even pander to safety, as the credentials are the same for my house account and O365. I feel like most organizations do that.

---
#### Document

[2018-06-08 13:33] dubahu commented on #9879
Hi Bryan,

I meant if I'm not using a Docker image.  In Azure, if I select web app, then Linux for the OS, it only asks what runtime I want to run, but there is no mention of what the underlying web server is.

[2018-06-08 13:37] andyjenkinson commented on #9438
The documentation still looks to be wrong, the limitations page still says you can only request scopes for an app ID that's the same as the client but that's not true

[2018-06-08 13:45] ronaldvanrij opened #9924 "This page is not about creating a FQDN, but creating a DNS name for a public ip instead"
-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48429aa1-bb8a-f8e0-8a83-dd9efbc1c71a
* Version Independent ID: 4b2ffa2f-0238-4194-d937-d9e21a737857
* Content: [Create FQDN for a Linux VM in the Azure portal](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/portal-create-fqdn#feedback)
* Content Source: [a

[2018-06-08 13:51] FredMurphy opened #9925 "Self-service password resets don't seem to work for a username-based accounts"
I have a number of users in my Azure B2C directory - some created as an email-based login and some as a username-based login.

Self service password reset seems to work for email-based logins. However, if I try a password reset for a username based login I get an error. I asks me to confirm and email address, which I do. This appears to work OK. However, when I click "continue" after this I get "A

[2018-06-08 14:14] v-geberr commented on #9913
@Molotch Thank you for your question. It is very insightful. I will investigate for the most clear answer and respond. #in-progress

[2018-06-08 14:16] Hoegimator commented on #8394
We are using the last version 1.1.819.0 and it is still Preview.

[2018-06-08 14:16] r3plica opened #9926 "Not enough information"
Great, so now we can create a QueueTrigger, but it's just a string.
There are 2 issues I have with this, 1. How do I read the message? 2. How can I use it in a aync method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369aefa6-74da-3001-f835-15abdfffd5d6
* Version Independent ID: 2cc2a2db-d059-3252-7a1a-4261b7d3c37c

[2018-06-08 14:19] billmath commented on #8394
Okay this may have been an issues with the build, but I am being told that it is still in preview and thanks @Hoegimator for confirming.

[2018-06-08 14:19] billmath commented on #8394
#please-close

[2018-06-08 14:21] RGBKnights opened #9927 "Video Indexer - Missing Blocks form Documenation"
In the output of v2 in the videos insights, there are 'shots' and 'blocks', but there is only 'shots' listed in the documentation.

NOTE:  I am really trying to find out the difference between the two?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f8134c1-2f88-2aca-b59f-12ea4a444c04
* Version Independent ID: 3324997f

[2018-06-08 14:32] superminiek opened #9928 "Changing backup retention period by Azure CLI"
Is it possible to change backup retention period by Azure CLI? REST is enough here but it would be much easier to do that with Azure CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Azure SQL Database auto

[2018-06-08 14:33] faesel commented on #8819
@gerardwolf in the advanced section you need to add the following json:
{
    "properties": {
        "type": "AzureTable",
        "typeProperties": {
            "tableName": "@{dataset().DWTableName}"
        }
    }
}
Although the UI has hidden it, its still supported.

[2018-06-08 14:45] superminiek opened #9929 "Azure CLI?"
Is there an option to do the same with Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availability set](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/change-availabil

[2018-06-08 14:45] angusmack-msft commented on #9406
@marthalc we are also seeing the same error. We are on an AI Bootcamp training course and stuck on this part. Any updates please?

[2018-06-08 15:06] conniey opened #9930 "Configure Delete permissions example does not work"
In [Configure delete permissions for your application](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet#configure-delete-permissions-for-your-application), the role Id "fe930be7-5e62-47db-91af-98c3a49a38b1" does not work.

I had to use RoleId "62e90394-69f5-4237-9190-012177145e10" (Company Administrator) in order to get my Graph API to de

[2018-06-08 15:11] nigelainscoe opened #9931 "Section 5. Set up Network fails."
testvNet is assumed to exist but this is not mentioned anywhere. I added the following code to create it after the $pip assignment:

$virtualNetwork = New-AzureRmVirtualNetwork -ResourceGroupName "test" -Location "WestUS" -Name "testvNET" -AddressPrefix 10.0.0.0/16
$virtualNetwork | Set-AzureRmVirtualNetwork

Also as mentioned, $subnetindex needs setting

---
#### Document Details

⚠ *Do not edit

[2018-06-08 15:13] jebeckham opened #9932 "Clarification in "Enable direct authentication for legacy applications" Section"
In the "Enable direct authentication for legacy applications" section, the first paragraph is describing legacy applications and says "They don't perform home realm discovery and interact with the correct federated endpoint to authenticate a user."  This seems ambiguous.  Shouldn't it say something more like "They don't perform home realm discovery and do not interact with the correct federated en

[2018-06-08 15:23] kobulloc-MSFT commented on #9917
@erossini Thank you very much for your interest in Application Insights, and for taking the time to create a blog to help others.  I agree, the current document appears to be a bit out of date and is hard to follow as it is currently written.  We'll get the author to update this as soon as they are able.

@mrbullwinkle While going through this document, it appears that we have some dated UIs which

[2018-06-08 15:31] SaurabhSharma-MSFT commented on #9729
@tjrobinson Have tried using only MSI to access the application without using any groups ?

[2018-06-08 15:33] tjrobinson commented on #9729
@SaurabhSharma-MSFT Yes, it works fine when the same MSI is used but not in a group. But then I start running into the 16 entry limit.

[2018-06-08 15:34] MashTheNewton opened #9933 "We're making a few design updates to this sign-in experience in mid-June. Learn more"
This popup is making it so that users signing in to a chromebook for the first time within enterprise enrollment are not able to log in. A user as reported to me that they are not able to enter text, and are unable to dismiss the window at the login screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-4

[2018-06-08 15:36] mmacy commented on #9898
Hi @KloudEzy,

The `ENTRYPOINT` in the [certbot Dockerfile](https://hub.docker.com/r/certbot/certbot/~/dockerfile/) is "certbot":

[code]
As such, to fire up a shell with `--exec`, you need to override the that ENTRYPOINT when you create the container instance. For example, this starts the container and issues a `tail` command to keep the container running:

[code]
Once the container is up and run

[2018-06-08 15:42] Mike-Ubezzi-MSFT commented on #9891
@dmarlow Thanks for the feedback. I assume that you are referring to the following content in the documentation?
---
Data Sync is not appropriate for the following scenarios:
- Disaster Recovery
- Read Scale
- ETL (OLTP to OLAP)
- Migration from on-premises SQL Server to Azure SQL Database
---

As for Diaster Recovery and Read Scale, Azure SQL [failover groups and active geo-replication](https://d

[2018-06-08 15:45] MouthOfMadness commented on #9797
I’m not looking to use the Web App Portal, as it’s not something I can automate with a VSTS Pipeline.

The New-AzureRdAdApplication registers with that portal as an AAD application only; work greats I have registration in that portal as well as my Azure subscription.

I just need it to be a converged application.

From: Bryan Trach <notifications@github.com>
Sent: Thursday, June 7, 2018 4:35 PM
To

[2018-06-08 15:52] mrbullwinkle commented on #9624
@ErazerBrecht Thank you for bringing this to our attention and helping to improve our docs. I have added a comment to the doc to indicate that the call is now obsolete in the latest release of the SDK. I also updated [this doc](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-insights/app-insights-api-custom-events-metrics.md#trackdependency), which had the same block o

[2018-06-08 15:52] SaurabhSharma-MSFT commented on #9729
@tjrobinson  as I do not think this as documentation issue and suggest you to please open a new MSDN forum post and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=AzureKeyVault&prof=required. Please provide the MSDN thread over here so that I ca

[2018-06-08 15:57] tjrobinson commented on #9729
@SaurabhSharma-MSFT Ok, here you go: https://social.msdn.microsoft.com/Forums/azure/en-US/aaa1871f-2f35-4e21-97d6-9f863a4e9d53/assigning-azure-key-vault-access-policies-to-azure-active-directory-security-groups-containing?forum=AzureKeyVault

[2018-06-08 15:57] #9729 closed

[2018-06-08 16:01] cloudvae commented on #8905
@tfitzmac @Tiano2017 The schema file is updated in GitHub Repo, but the schema url: https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json# still shows the older version, Any thoughts?

[2018-06-08 16:09] dmarlow commented on #9891
So, I was thinking about it like this:

- Disaster Recovery - While data sync may work and be suitable, not all scenarios are ideal. For example, you can do point-in-time restore with data sync. Also, I believe the lowest sync period is 5 minutes, which may not be suitable for critical applications to not have all changes in real-time.
- Read Scale - Similarly, the 5 minute minimum sync interval,

[2018-06-08 16:10] Mike-Ubezzi-MSFT commented on #9910
@mrdfuse Thanks for the feedback. We are actively investigating and will get back to you soon. I did want to mention that for a non PostgreSQL instance, a minor patch deployment does require a restart of the PostgreSQL instance. I need to confirm the behavior for an Azure Database for PostgreSQL instance.

[2018-06-08 16:30] MicahMcKittrick-MSFT commented on #9724
@superminiek not 100% what you mean. We have SLA for both stand alone machines and ones in AZ/AV sets. So your machine is always within some type of SLA. It will just change based on your configuration.

[2018-06-08 16:34] Mike-Ubezzi-MSFT commented on #9914
@wortho Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-08 16:35] MicahMcKittrick-MSFT commented on #9924
Not 100% sure I understand the feedback.

By creating a personalized DNS name you are in fact creating a FQDN

https://en.wikipedia.org/wiki/Fully_qualified_domain_name

[2018-06-08 16:35] MicahMcKittrick-MSFT commented on #9926
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-08 16:37] MicahMcKittrick-MSFT commented on #9929
Yes you can do the same with CLI.

https://docs.microsoft.com/en-us/cli/azure/vm/availability-set?view=azure-cli-latest

https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-linux-cli-sample-create-vm-vhd

[2018-06-08 16:38] tfitzmac commented on #8037
#please-close

[2018-06-08 16:40] SaurabhSharma-MSFT commented on #9903
@mrik23 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 16:42] SaurabhSharma-MSFT commented on #9906
@phatcher Can you please elaborate what issue you are having with Custom policies so that we can address it.

[2018-06-08 16:43] SaurabhSharma-MSFT commented on #9916
@DJ-1701 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 16:45] Anmolgan81 commented on #8037
Yeah am still looking for some answers.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Tuesday, June 5, 2018 10:50:46 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How can we recreate application gateway? (#8037)

@Anmolgan81<https://github.com/Anmolgan81> - are yo

[2018-06-08 16:45] SaurabhSharma-MSFT commented on #9919
@00111000 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 16:45] Mike-Ubezzi-MSFT commented on #9914
It appears the **ToUniversalTime()** needs to be passed instead as: **ToString("MM/dd/yyyy HH:mm:ss")** in some cases.

                                           -EndTime $SyncLogEndTime.ToUniversalTime()

![screenshot 45](https://user-images.githubusercontent.com/37126106/41170337-aad00084-6b00-11e8-90e1-317ad0d24b9b.png)

[2018-06-08 16:47] tfitzmac commented on #9895
@ChadNedzlek - thanks for bringing up this issue, and sorry the suggested page was not helpful. I am working on a broader effort to improve the coordination between error messages and documentation. Your experience illustrates exactly the situation I want to fix. At this point, there is nothing I am going to add the article because I want troubleshooting content to reside in a different location.

[2018-06-08 16:47] tfitzmac commented on #9895
#please-close

[2018-06-08 16:49] kgremban commented on #9852
@smharishbabu from your `docker ps` call, it looks like only tempSensor is deployed on your machine, not the C# filter that the article you're referencing creates. Perhaps your routes are directing messages to a module that wasn't deployed to the device. You need some route sending messages to **$upstream** to be able to see the results coming through VS Code.

[2018-06-08 16:51] wesmc7777 commented on #9116
@Mike-Ubezzi-MSFT I'm not sure this one should be closed. @gwellbrock is this still an issue you are seeing?  I was away on vacation but, based on communication with the ASP.NET team and our development team, the timeout attribute of sessionState should be used. If thats not happening, this should be investigated as a bug. How critical is this for you?

[2018-06-08 16:53] sherlonus commented on #8321
ServiceBusTrigger triggers multiple times the same message within milliseconds without the first finishing.
Why does the serviceBus triggers the same message multiple times?

[2018-06-08 16:54] MicahMcKittrick-MSFT commented on #9520
@washraf I will close this for now. But if you are still seeing issues please let me know and we can reopen and continue :)

[2018-06-08 16:54] #9520 closed

[2018-06-08 16:54] douglaslMS commented on #9830
@ElectricLlama Here is the response I've received from the SSIS team:

Can you easily test this variation and report back?

[2018-06-08 16:55] MicahMcKittrick-MSFT commented on #9552
Thanks @suhuruli! Glad to hear it is already being addressed.

@lawrencegripper I will close this for now but once support does come and if you see issues please let us know :)

[2018-06-08 16:55] #9552 closed

[2018-06-08 16:55] sergaz-msft commented on #9823
@mostafae I was able to confirm that the [export_devices](https://docs.microsoft.com/en-us/python/api/azure.mgmt.iothub.operations.iothubresourceoperations?view=azure-python#export-devices) using [Azure SDK for Python](https://github.com/Azure/azure-iot-sdk-python) can export the iotedge devices connection strings as well. Here is a sample code for you to try it:

[code]
**!!Please note that this

[2018-06-08 16:55] #9823 closed

[2018-06-08 16:57] Mike-Ubezzi-MSFT commented on #9116
@wesmc7777 @gwellbrock Happy to reopen and work this issue further.

[2018-06-08 16:58] SaurabhSharma-MSFT commented on #9923
@biaalexzimm Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to investigate and include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-06-08 16:58] Mike-Ubezzi-MSFT commented on #9915
@wortho Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-08 16:58] tfitzmac commented on #8037
Either [open a support case](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) or send an email to [AzCommunity@microsoft.com](mailto:AzCommunity@microsoft.com). Include the subscription ID and link to this issue.

[2018-06-08 16:58] tfitzmac commented on #8037
#please-close

[2018-06-08 16:58] SaurabhSharma-MSFT commented on #9923
A similar feedback on new login experience has been provided at [site](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34482052-the-proposed-update-to-the-office-365-signon-is-no), you can provide your comments or Upvote the same using this link.

[2018-06-08 16:59] MicahMcKittrick-MSFT commented on #9847
@wploevyaya2018 any update on this?

[2018-06-08 16:59] Niladri24dutta commented on #9684
@ksigler7 When are you going to create the PR for this? let me know when you are done.

[2018-06-08 17:00] SaurabhSharma-MSFT commented on #9930
@conniey Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 17:02] SaurabhSharma-MSFT commented on #9932
@jebeckham Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-08 17:03] suhuruli commented on #9552
No problem! Will update the doc as this gets addressed.

[2018-06-08 17:07] douglaslMS commented on #9915
@wortho In your comments, step 4, Save the schema, is formatted differently. Just to be clear, did you have a question or doubt about this step?

[2018-06-08 17:10] tfitzmac commented on #9901
@Flodu31 - Thanks for this feedback. I think this a version issue. The [latest version](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/get-azurermadgroup?view=azurermps-6.2.0) of Azure PowerShell uses DisplayName, but it looks like the previous major version used SearchString.

I'll add text to emphasis the need for the version 6.2 or later.

[2018-06-08 17:10] Mike-Ubezzi-MSFT commented on #9928
@superminiek Thanks for the feedback. We are actively investigating and what I found is that there is a way to change the long-term retention period via PowerShell but not via Azure CLI: [Manage Azure SQL Database long-term backup retention
](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long-term-backup-retention-configure)

Note: Short-term back-ups are automated and part of t

[2018-06-08 17:15] Brenduns commented on #9892
#in-progress

[2018-06-08 17:17] Anmolgan81 commented on #8037
I have done that long ago but no response from them on this

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Friday, June 8, 2018 10:28:29 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How can we recreate application gateway? (#8037)

Either open a support case<https

[2018-06-08 17:22] jason-j-MSFT commented on #9871
@nominds thanks for the feedback, however the issues raised in this repository are for documentation hosted in this repository.  If you think your question would be well answered in one of the documents in this repository, do let us know in this issue or a new issue.  We are closing this issue for now.

[2018-06-08 17:22] #9871 closed

[2018-06-08 17:23] #7839 closed

[2018-06-08 17:23] m1nkeh opened #9936 "partition key"
andrew, what is the partition key you have used in the video at the top of the page please.. i don't understand how the sProc works as *surely* it is going x-partition?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e21eb833-cdaa-f411-0d65-0486b93a5ef5
* Version Independent ID: 903a65a8-276b-8341-79a5-3bdf1ab58fc8
* C

[2018-06-08 17:27] jason-j-MSFT commented on #9912
@ToMakeSense could you provide a link to the documentation you are referencing?

[2018-06-08 17:33] tfitzmac commented on #8037
The values you mentioned in your original post are all arrays on the [Application Gateway resource](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/applicationgateways). Create a template for the gateway. You can view the current values by using the [REST API](https://docs.microsoft.com/en-us/rest/api/application-gateway/applicationgateways/get). Take those values and add them t

[2018-06-08 17:39] 00111000 commented on #9919
@SaurabhSharma-MSFT Looking more into my question today, I think that the purpose of redirecting the user to the `end_session_endpoint` is for the identity provider to delete sensitive cookies (set up by the identity provider), even tho the app may have deleted them (the identity provider is just playing it safe in this case) and to "garbage collect" any info associated with the session on its end

[2018-06-08 17:51] gwellbrock commented on #9116
The timeout attribute seems to be override at 18 minutes for whatever
reason even when we set it higher.  I have been reviewing different redis
configs but all seems to be set at unlimited.  Let me get back to you next
week I want to try a few more things got sidetracked with another issue:)

On Fri, Jun 8, 2018 at 12:51 PM, Wesley McSwain <notifications@github.com>
wrote:

[2018-06-08 17:52] vasivara-MSFT commented on #9922
@NayangiriGoswamiGit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-08 17:53] SaurabhSharma-MSFT commented on #9797
@MouthOfMadness Converged section only displays the application which are registered with V2 endpoint and the only way to register Azure AD v2.0 applications programmatically at this point in time is through the Microsoft Graph API [beta endpoint](https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/application). However, as this is a beta endpoint it may change in the fut

[2018-06-08 17:56] SaurabhSharma-MSFT commented on #9828
@msghaleb We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-08 17:56] #9828 closed

[2018-06-08 18:02] FredMurphy commented on #9925
I created a password reset policy as per this page: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-policies#create-a-password-reset-policy

It works as expected for accounts that use an email address as a login.

[2018-06-08 18:03] eklime opened #9937 "Directory creation experience"
Why link https://portal.azure.com/#create/Microsoft.AzureActiveDirectory redirecting user to the website where he need to provide MSA account when in any "Best practices guides" you suggest to use Company account. Why you not redirecting user to this URL: https://account.windowsazure.com/organization ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-06-08 18:05] YutongTie-MSFT commented on #9927
@RGBKnights Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Juliako Hi, this is a document enhancement issue, can you please check it and update the document as necessary? Thanks!

[2018-06-08 18:09] YutongTie-MSFT commented on #9899
@Kartik1607 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@pchoudhari Hi, this is a product question issue, can you please check it and update the document as necessary? Thanks!

[2018-06-08 18:09] SaurabhSharma-MSFT commented on #9884
@lunar87 You can find the page under Enterprise Applications > Your Application > Single Sign-On.  Please find below the screenshot for your reference -
![image](https://user-images.githubusercontent.com/38112130/41173587-5bb1c1de-6b0c-11e8-90d8-9458852aaf04.png)

[2018-06-08 18:10] #9512 closed

[2018-06-08 18:10] #8954 closed

[2018-06-08 18:10] #8037 closed

[2018-06-08 18:11] #9895 closed

[2018-06-08 18:11] #9786 closed

[2018-06-08 18:11] #9624 closed

[2018-06-08 18:12] Brenduns commented on #9892
@Jquintero190   Thank you for the feedback.  I've checked with our engineering team and because this will be more nuanced than a fast content fix can manage, I've created a work item in our documentation issue tracking system so we can take a deeper look at this.

The cmdlet you note seems correct, but before making changes we'll need to account not only for the PowerShell 1.3.0 and the latest Azu

[2018-06-08 18:14] YutongTie-MSFT commented on #9909
@zentelfong Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jerkin Hi, this is a document-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-08 18:14] CeciAc opened #9938 "important links is Broken"
@LasneF commented on [Fri Jun 08 2018](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/109)

the link mention
Important
See this &gt;&gt;&gt;&gt;document&lt;&lt;&lt;&lt; for important information and tips related to OpenAPI import.
is broken

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: be

[2018-06-08 18:17] gpkc commented on #8669
+1

[2018-06-08 18:17] tfitzmac commented on #7753
#please-close

[2018-06-08 18:19] zerobane opened #9939 "A bit incomplete; no real good instructions on how to support a typical internal network within a corporate environment."
Keep looking for instructions on how to setup a load balancer on internal corporate network that is attached to azure.  I found the following in a blog; but no real instructions.  So far; cannot get it to work.  Seems like first thing most of your enterprise customers are going to do?

Creating a public load balancer seems to work fine, can also create one on the internal AKS network, the issue is

[2018-06-08 18:19] YutongTie-MSFT commented on #9920
@mufflon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aashishb Hi, this is a question about the current document and the product, can you please check it and help? Thanks!

[2018-06-08 18:20] husseinkorly commented on #8448
@hpsin I think your answer refers to client credentials grant flow, and the documentation illustrates the authorization code grant flow. I wasn't able to find any example uses the [Authorization Code flow](https://tools.ietf.org/html/rfc6749#section-1.3.1)

[2018-06-08 18:29] hpsin commented on #8448
The authorization code flow grant can't be used for app-only tokens, as it relies on the user presenting credentials

[2018-06-08 18:30] tfitzmac commented on #9133
@toddrob - thanks for this suggestion. I am going to add the information you recommended.

[2018-06-08 18:31] MouthOfMadness commented on #9797
Thank you.

From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Friday, June 8, 2018 12:54 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: James Mattern <James.Mattern@aiworldwide.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] New-AzureRmADApplication - sample code (#9797)

@MouthOfMadness<https://github.com/MouthOfMadness> Converged se

[2018-06-08 18:34] barbkess commented on #9932
@jebeckham : Thanks for the feedback, I will work on a fix for this.

[2018-06-08 18:38] mmacy commented on #9760
Thanks @JanVanMeirvenne for the followup, we do appreciate it. As it seems your question has been answered, I'll request to have this issue closed. However, if you feel it's not been fully addressed, please request a reopening of the issue and we can respond. Thanks for using ACR!

@MicahMcKittrick-MSFT We are good to go on this one: #please-close

[2018-06-08 18:42] TravisCragg-MSFT commented on #9905
@saachinvettiyattil Have you carefully gone through the [Prerequisites area ](https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-to-azure-sql#prerequisites) of this document?

also, can you please tell me exactly where you are getting this error?

[2018-06-08 18:47] DJ-1701 commented on #9916
Ok, bit of an odd one... ran it with another account and it worked correctly, no issue. The difference was, when I had the problem, I was using an administrator account with the onmicrosoft.com domain name, and the one that worked was an administrator account with our organisation's own FQDN.

[2018-06-08 18:48] butchmarshall commented on #9549
I came back to this today - uninstalled the app and reinstalled it.

It now spontaneously for the other tenants.

Is it possible that the changes I made to original app weren't copied over until after the reinstall?  The docs mention that they should automatically be reflected.

[2018-06-08 18:49] mleziva opened #9940 "Azure Search - Should the SearchServiceClient be disposed or static"
SearchServiceClient implements IDisposable, so one would assume that it should be disposed, however the NYCJobsWeb sample project creates a static SearchServiceClient. What is the best practice? Will putting the SearchServiceClient in a using statement cause many ports to be opened similar to HTTP Client?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-06-08 18:51] Mike-Ubezzi-MSFT commented on #9910
@mrdfuse The Azure Database for PostgreSQL service is supported by a High Availability (HA) infrastructure that allows for minor patching to take place without a service interruption but, it is still critical that applications integrating with this database service must use the retry logic to mitigate the chance that a connection attempt is being made during a fail-over event.

Please let me know

[2018-06-08 18:51] CelesteDG commented on #9549
@butchmarshall - This is good to know. Thank you. I'm following up with the team to check if the behavior has been updated and whether we need to update the docs to reflect any change.

[2018-06-08 18:56] #9760 closed

[2018-06-08 18:57] vasivara-MSFT commented on #9843
@Kantimaya-Badajena I am assuming that you have followed the instruction in the this [document](https://docs.microsoft.com/en-us/azure/data-factory/connector-hive). Can you please let me know in detail what have you done and what error are you facing?

[2018-06-08 19:00] MicahMcKittrick-MSFT commented on #9939
Thanks for reaching out. What exact issue are you having with creating a LB? Getting the connection between your on premise network and Azure?

[2018-06-08 19:04] barbkess commented on #9932
@jebeckham : I am fixing the wording to use the sentence that you proposed.  Thank you for suggesting this fix.  It should show up online later today, or on Monday at the latest.

[2018-06-08 19:04] Adam-Smith-MSFT commented on #9897
@rbernardino Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-08 19:06] KellyDF commented on #8669
Hi all,
All keys that you get from the Azure portal will work for v2.0. Call the API with v2.0 at the end instead of v1.0. For instance https://southcentralus.api.cognitive.microsoft.com/vision/v2.0.

We are aware of the UX bug and fixing it soon.

Thanks,
Kelly

[2018-06-08 19:09] Adam-Smith-MSFT commented on #9931
@nigelainscoe Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-08 19:15] husseinkorly commented on #8448
Thank you. That's what I thought ! so the question wasn't related to the Authorization Code flow doc.

[2018-06-08 19:15] femsulu commented on #9901
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-08 19:15] #9901 closed

[2018-06-08 19:15] Niroot opened #9941 "ID: fc5a36a7-2acb-c7d5-4629-e8c1f026cad3"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-06-08 19:19] MarkusVi commented on #9794
Hi @AzureArchitecture , thanks, good catch!
I have staged a fix for this.

#please-close

[2018-06-08 19:19] femsulu commented on #9900
@steeveeh Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-08 19:23] femsulu commented on #9825
@timmyreilly Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-08 19:33] Pothulapati opened #9942 "Nodes not showing up in the Service Fabric Cluster Page."
I have created a SF Cluster as specified in the documentation using Basic as the Configuration Type for security, But the nodes aren't showing up in the nodes menu of the cluster but they are created successfully as Virtual Machine Scale Set.
I also made sure Iam using D1 Standard as VM SKU, I also tried with other better Standard VM SKU's but the nodes still won't show up.

---
#### Document Deta

[2018-06-08 19:35] butchmarshall commented on #9549
One random thing I'm noticing.  The icons are different between service principle objects.  I have no idea how to get my icons to properly reflect.

Notice one has the proper icon in the launcher?  It's just a service principle object... Yet it's working better than the original?  Any ideas?

butchdevtembosocial.sharepoint.com (originating)
![image](https://user-images.githubusercontent.com/339763

[2018-06-08 19:37] BryanTrach-MSFT commented on #9918
@codecadwallader From what I have seen with our documentation, ServicePointManager is now included in .NET Core starting with version 2.0. As long as you're using 2.0 or 2.1 .NET Core, you should be fine.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-08 19:40] rbmathis commented on #8436
I'm actually hitting the same issue.  Insertion into cosmos works *only* for the first item.  The issue is that the _id value for the object is being duplicated.  In my case, the values stored are below. The "id" and "_id" values are different, and the "_id" value is duplicated every time I try to insert.
{
	"_id" : ObjectId("5b1ad84bb45fc952044d549a"),
	"id" : 1234,
	...
}

[2018-06-08 19:41] Mike-Ubezzi-MSFT commented on #9936
@m1nkeh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-08 20:05] barbkess commented on #9932
@SaurabhSharma-MSFT : I have merged the fix.

#please-close

[2018-06-08 20:12] marthalc commented on #9406
@angusmack-msft and @wernerstinckens the fix should be available soon. We deploy by region, could you let me know in which region are you deploying on so we can prioritize it?

[2018-06-08 20:16] SaurabhSharma-MSFT commented on #9932
@jebeckham We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-08 20:16] #9932 closed

[2018-06-08 20:20] tdykstra commented on #8321
@aaronralls I ran the first example and it ran fine without the project.json or extra usings.  I don't know why you needed those, so (@MicahMcKittrick-MSFT) this issue sounds more like a product support issue than a documentation issue.

[2018-06-08 20:24] JJN0306 opened #9946 "The Login Update"
Can we return to the old UI after the login update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23565fb-ccc9-42fc-6bde-f999d92fc762
* Version Independent ID: 60c86bac-f951-8181-793b-34018f4a76ea
* Content: [Microsoft sign-in experience updates](https://docs.microsoft.com/en-us/azure/multi-factor-authentication/end-

[2018-06-08 20:31] oozzzii commented on #9120
Trying to reproduce this sample un Windows 10+VS 2017 v15.7.3. The Nuget install is slightly different than shown here, had to use "Install-Package WindowsAzure.Storage -Version 9.2.0". It seems I also need " Install-Package Microsoft.IdentityModel.Clients.ActiveDirectory -Version 3.19.6"? Also AuthenticationContext.AcquireTokenAsync referenced here does not have a "PlatformParameters" but I see "

[2018-06-08 20:34] akramwaseem opened #9947 "How do we integrate action group with log analytics template ?"
I have log analytics template to deploy alerts and know azure moved me to azure alerts and if I use the log analytics template which I have before I was unable to deploy the alerts.
and my deployment stuck on deploying stage forever and I can see the below error message from in portal

{ error: { code: Forbidden, message: This workspace has been migration. Only Action group is now supported for Al

[2018-06-08 20:45] adamstaplesdev opened #9948 "Is it possible to Undelete a single snapshot, instead of all snapshots for the blob?"
Is it possible to Undelete a single snapshot, instead of all snapshots for the blob?
Delete allows you to target a single snapshot to delete, however my experimentation with Undelete has shown that it always undeletes all snapshots for that blob. This creates quite a mess if I'm just trying to roll back to a specific snapshot, as all of those snapshots will then be preserved past the 30-day retent

[2018-06-08 20:50] MichaelHauss commented on #9948
Thanks for the feedback. At this time, it is not possible to undelete a single blob snapshot. This functionality is on our backlog.

[2018-06-08 20:55] adamstaplesil commented on #9948
Good to know, I've got an idea for how to work past this for my specific case, it will just require a lot of extra individual calls to Delete to get things back to their original state.

[2018-06-08 20:55] mrdfuse commented on #9910
No that's it, thank you so much for the quick clarification!

[2018-06-08 20:55] #9910 closed

[2018-06-08 20:56] MichaelHauss commented on #9948
Makes sense. I'll update this thread if / when we have updates on supporting this.

[2018-06-08 20:57] dkamstra commented on #9947
I believe this is the documentation that describes the change you need to make to your template. I’ve also added Vijay to the thread in case you have any detailed questions.

https://docs.microsoft.com/en-my/azure/monitoring/monitoring-solutions-resources-searches-alerts#actions

From: Waseem Akram <notifications@github.com>
Sent: Friday, June 8, 2018 1:35 PM
To: MicrosoftDocs/azure-docs <azure-do

[2018-06-08 21:00] MicahMcKittrick-MSFT commented on #9942
can you share some screenshots of what you are seeing? How do you know the nodes were allocated if you cannot see them?

[2018-06-08 21:06] #9133 closed

[2018-06-08 21:11] v-geberr commented on #9913
@Molotch Please review this addition to the doc.

## Roles versus Hierarchical entities
Hierarchical entities provide the same contextual information as roles but only to utterances in **intents**. Similarly, roles provide the same contextual information as hierarchical entities but only in **patterns**.

|Contextual learning|Used in|
|--|--|
|hierarchical entities|intents|
|roles|patterns|

[2018-06-08 21:14] ksigler7 commented on #9684
@Niladri24dutta - sounds good! I am aiming for Monday or Tuesday - I'll let you know when I have it

[2018-06-08 21:20] rsch006 opened #9950 "Azure: Cannot use output from Linked Template in IF condition"
I'm trying to deploy a Virtual network using ARM template with multiple subnets. I have a linked template which creates NSG,route table and assigns it to a specific subnet in the main template. I'm using copy to create multiple subnets. Route table should be assigned to only one particular subnet. I control this using If condition. The issue here is i'm not able to use the linked template output i

[2018-06-08 21:28] Pothulapati commented on #9942
@MicahMcKittrick-MSFT In a Service Fabric Cluster, Each Node Type corresponds to a Virtual Machine Scale Set. So Whenever we create a Service Fabric Cluster with a node Type a corresponding VMSS is created.

In the Service Fabric DashBoard, I see that no Nodes are present.
![sf](https://user-images.githubusercontent.com/7892868/41181809-c58f34c2-6b90-11e8-9a5b-f7fef87a0f33.png)

Node Types of the

[2018-06-08 21:34] MicahMcKittrick-MSFT commented on #9942
@Pothulapati thanks for that detail! Very strange....

Were you deploying from the portal? I would like to try a repro.

[2018-06-08 21:37] #7753 closed

[2018-06-08 21:37] #8394 closed

[2018-06-08 21:37] #9794 closed

[2018-06-08 21:38] Pothulapati commented on #9942
Yes, I was using the Azure portal, using the same instructions as specified in the doc.

[2018-06-08 22:01] jason-j-MSFT commented on #9950
@rsch006 could you please provide a link to the document you are referencing?

[2018-06-08 22:02] SaurabhSharma-MSFT commented on #9885
@tourili Please follow the document [Azure AD B2C: Requesting access tokens](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens) to add published scopes in POST request.

[2018-06-08 22:03] rsch006 commented on #9950
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-linked-templates

[2018-06-08 22:07] SaurabhSharma-MSFT commented on #9903
@mrik23 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-08 22:16] CaryJ commented on #9948
Another workaround would be to copy from a deleted snapshot, but doesn't seem to work, either, without first undeleting everything.

[2018-06-08 22:37] SaurabhSharma-MSFT commented on #9916
@DJ-1701 It is good that you are unblocked. The documentation also states that "Enterprise admin credential is required to run this cmdlet"  and you need to open an elevated PowerShell prompt.

[2018-06-08 22:48] SaurabhSharma-MSFT commented on #9933
Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 22:54] SaurabhSharma-MSFT commented on #9933
@MashTheNewton You can provide your additional comments or Upvote a similar feedback provided at [Update to Sign in experience feedback](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34482052-the-proposed-update-to-the-office-365-signon-is-no).
This will allow the community to upvote and for the product team to investigate and include into their plans.
We also have th

[2018-06-08 22:56] SaurabhSharma-MSFT commented on #9937
@eklime Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 22:57] SaurabhSharma-MSFT commented on #9946
@JJN0306 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-08 22:58] MicahMcKittrick-MSFT commented on #9942
@Pothulapati can you try removing the entire cluster and deploying it again? I ran through the steps but I am seeing the nodes:

![image](https://user-images.githubusercontent.com/32313503/41184362-acdc35bc-6b34-11e8-8e9d-d6b798084fce.png)

Maybe it was just a transient issue?

Also, can you tell me the region you are deploying too and any extra configuration if any you did?

[2018-06-08 23:01] SaurabhSharma-MSFT commented on #9946
@JJN0306 No you won't be able to go back to the old login experience as all users will default to the updated sign-in UI.

[2018-06-08 23:06] dolphinsting commented on #9904
Hi,

I couldn't see the active directory link in either Azure SQL or Azure SQL DW. Is it there?

Richard.

On 8 Jun 2018, at 11:55 pm, Mike Ubezzi <notifications@github.com<mailto:notifications@github.com>> wrote:

@dolphinsting<https://github.com/dolphinsting> Thanks for the feedback. We are actively investigating and wanted to verify the issue you are seeing. I verified that all the links are wo

[2018-06-08 23:19] kobulloc-MSFT commented on #9938
@CeciAc Thank you for pointing this out.  We'll take a look at it and get back to you shortly.

[2018-06-08 23:45] dankellett commented on #9799
I was interested in the portal, but I'd also be interested in cli. When I attempted this myself, I was having trouble getting authentication to work correctly against the hub.docker.com repo.

[2018-06-08 23:47] dankellett commented on #9128
Perfect, Thanks!

[2018-06-09 00:00] dkamstra commented on #9128
Close #9128

[2018-06-09 00:05] divyaswarnkar commented on #9848
Hi, In the beginning of document we have provided link to Liquid documentation where you can find the list of filters. Since we don't own the filter list, we do not intend to put that list in this document.

[2018-06-09 00:16] GoodbyeWorld opened #9957 "Determine current disk storage type"
How can I determine an existing disk's storage type?  I don't want to change the type, just get the details on premium vs. standard, and replication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b67bcdd-0278-7c7f-89ac-5e4bc53de72c
* Version Independent ID: 57815f78-825d-ec47-2751-128ab5a03d66
* Content: [Convert Azu

[2018-06-09 00:16] CelesteDG commented on #9919
Hello @00111000 - We are working to document signout for web apps. I've got a work item to add that topic. In the meantime, here's a preliminary diagram of the sign-in and signout process, which may help answer some of your questions. Some details are TBD, but please let me know if some sections of this diagram aren't clear.

![image](https://user-images.githubusercontent.com/16906646/41185693-a56

[2018-06-09 00:16] aappddeevv opened #9958 "provide examples showing AAD with a managed service identity; would make working with demos around graph much easier"
An easy way to configure graph token injection would be to show an example where the AAD is setup through a service principal not tied to a MS account. Since the service principal is essentially a "constant" at least that would allow you to try these examples much more easily than setting up to pass through a user's credentials which involves alot more setup.

---
#### Document Details

⚠ *Do not

[2018-06-09 00:43] MrRoyce opened #9959 "How to start the temperature/humidity app on device?"
I think I have every thing set up, but my chart is still blank.  Working with support, they sent a screenshot of their device terminal window that shows the device sending temperature and humidity data.   My device just shows the SendEventAsync message as shown in the Get Started tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-06-09 00:55] #9128 closed

[2018-06-09 01:16] tschleining opened #9961 "Pay Per Usage"
Pay Per Usage states "The per-second licensing cost depends on the number of VM cores, which is a standard for all SQL Server licensing."  This should be changed to "...number of VM vCPUs..." instead of cores.  This change would align better with the VM sizing documentation.  This would also avoid confusion with SQL Server startup messages that identify cores AND threads when running v3 series VMs

[2018-06-09 01:34] BryanTrach-MSFT commented on #9940
@mleziva Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 02:00] BryanTrach-MSFT commented on #9751
@Garima2k1 This feature is still in preview so we haven't finalized the documentation yet. Can you please provide us with further details on what items you are looking for in regards to this preview feature?

[2018-06-09 02:04] BryanTrach-MSFT commented on #9758
@priyamohanram Can you please review this feedback and determine if it's necessary to update the document with the requested details?

[2018-06-09 02:35] mwhisler opened #9963 "Inconsistent documentation for Default Configuration Script"
I'm trying to understand how to craft a working solution of an ARM template using a VMSS to set up the LCM to use Azure Automation for DSC pulls.  It appears this is possible with a "default configuration script", but there doesn't seem to be a clear example.  The first VMSS example has publicSettings (which doesn't work for me).  Then, later on the page, there's a small snippet of JSON for settin

[2018-06-09 02:37] JasonWHowell commented on #6256
@vishvas You are right. The bullet is wrong, but the code block is right. We'll fix it for Monday's publication. Thanks! Jason

[2018-06-09 02:54] #6256 closed

[2018-06-09 02:54] jonathanplong opened #9964 "Encryption Settings"
When I follow the commands verbatim, I get an error indicating that a security pin needs to be set when executing Set-OBMachineSetting -EncryptionPassPhrase $PassPhrase

The use of a security pin is not documented anywhere. I resolved this issue by adding the -SecurityPin switch to the command, although I am not sure that is correct.

The $PassCode variable seems to have no relevance as well. What

[2018-06-09 03:04] georgewallace commented on #9748
@polarapfel Thanks for raising this issue, I added this information to the docs and it is live. #please-close

[2018-06-09 03:04] georgewallace commented on #9738
@jbshaver I am going to request this issue be closed, as mentioned in the previous comment, your question is best asked with support to get more details on the issue. #please-close

[2018-06-09 03:06] georgewallace commented on #9819
@paragwaghmare Run Command is not available in Azure Gov or Azure China.. The portal was incorrectly showing that it was there and it should be no longer visible.  When there are updates to it's availability we will be sure to notify everyone. #please-close

[2018-06-09 03:52] SaurabhSharma-MSFT commented on #9937
@eklime Can you provide us the "Best Practice Guides"  link which you are referring to ?

[2018-06-09 04:13] GrantMeStrength commented on #5565
This issue should not be closed yet - there still is no web.config created using the zip method, and so this walkthrough simply won't work. I've tested it myself, and only if you use the Git install method will the project actually work (took me two days of experimenting until I thought to click on the comments at the bottom of this document). Please either add a link to creating a web.config (whi

[2018-06-09 04:19] anarchitect opened #9965 "Does the assigned intent matter?"
I found for patterns, it works but what intent the pattern is assigned to does not change the results, as long as the utterance is unique in the LUIS.app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e56a61-8d78-df13-9b7e-491a9e8f8834
* Version Independent ID: 1f5b8b08-0677-3c6d-490c-178861b5d318
* Content: [Learn

[2018-06-09 05:55] petersad123 opened #9966 "After running the stream analytics job, the last update date is blank"
After running my stream analytics job, the job isn't outputting data. The last update date is blank. I test the query with sample data and results were returned. Testing the input and output are also successful. I can't figure out why it isn't working. Please help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97ce261

[2018-06-09 06:07] SaurabhSharma-MSFT commented on #9930
@conniey Can you please provide details on your error you are getting.  I am able to delete the user using the role provided in the document.  Find below screenshots of the same -
**Permissions granted using PowerShell**
![image](https://user-images.githubusercontent.com/38112130/41188261-a244ea1e-6b6f-11e8-804e-c529e67ab0de.png)

**Success Result after user deletion**
![image](https://user-images

[2018-06-09 09:42] sergaz-msft commented on #9779
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-09 09:42] #9779 closed

[2018-06-09 10:08] jpchauhan opened #9967 "Well done!"
Nice explanation. Well done!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40fdbf85-03fc-7ba1-dca8-4c46ad35500f
* Version Independent ID: 5d635132-623b-ba6a-27d7-1b801fe74fdf
* Content: [Hadoop architecture - Azure HDInsight](https://docs.microsoft.com/en-gb/azure/hdinsight/hdinsight-hadoop-architecture?toc=%2Fen-gb%2

[2018-06-09 10:49] superminiek commented on #9724
Thank you for the link. After checking latest version: https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_8/ it seems that single VM can have SLA but only regarding premium storage and that is the limit that I was thinking about. There are two options - premium storage, no AS/AZ and standard storage with AS/AZ to have SLA. I am working with VM without premium storage and witho

[2018-06-09 10:53] superminiek commented on #9928
Thank you for information, I am working with Azure SQL Databases and I hope that there is an option to manage backups by Azure CLI, I think that all Linux users are looking for it.

[2018-06-09 10:55] superminiek commented on #9929
Thank you, could you add these links to documentation?

[2018-06-09 13:11] pjtrombe commented on #9844
Yes, that is how I am doing!
Thanks for the fast reply!

[2018-06-09 13:38] KjetilEVRY opened #9969 "Update the documentation according to new versions of AAD Connect"
In the latest version of AAD Connect 1.1.819.0, the configuration of SCP and device writeback are managed by AAD Connect itself (no need for GUI), but you need Enterprise Admin rights to enable it.
Why are always features changed/added/removed without updating documentation? Since the release of DirSync, the lack of documentation and quality of documentation have been horrible and way below the st

[2018-06-09 13:45] sonfiree commented on #9681
@dapsjj
At you all in an error it is written
Bad
`data = open(r'D:/liuneng1.jpg', 'rb')`
Good
`data = open('file:///D:/liuneng1.jpg', 'rb')`

[2018-06-09 14:12] ksivasenthil opened #9970 "Creation of a new experimentation account always fails"
Command issued : az ml account experimentation create --name "ml" --resource-group "VOS-Lab"
Az CLI version used : 2.0.17
The above command from tutorial always fails with the following error message
"Account name must be between 3 and 32 characters long. Its first character has to be alphanumeric, and the rest may contain hyphens and underscores."

---
#### Document Details

⚠ *Do not edit this s

[2018-06-09 15:09] gtbee opened #9971 "Getting dates in but not getting datess out?"
Hi, article above covers getting dates into Cosmos and that's fine and it works for me. Although the article has the line "This article describes how developers can store, retrieve, and query dates" there is nothing about retrieval.

Retrieving dates out of Cosmos, e.g. doc.GetPropertyValue&lt;DateTime&gt;("createdAt"); seems to cause an ArgumentException error? In the database the value is serial

[2018-06-09 15:11] ravisha22 opened #9972 "Instructions not accurate"
The instructions to open Controllers\Homcontroller.cs under section "Remote Debugging Web apps" which was created based on the APS.Net core web app getting started section does not exist, is the information accurate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8450616-0da0-6227-8ed3-5e6d7e52b27b
* Version Independe

[2018-06-09 16:15] marvinvperez opened #9973 "reliable services notification example"
Where can I find complete sample code for reliable services notification?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 007e6037-b5bc-6b51-51de-a5e07fe3dcd4
* Version Independent ID: d6371e2c-ad8a-497a-0520-ba8cc52e7420
* Content: [Reliable Services notifications](https://docs.microsoft.com/en-us/azure/service-fabric/

[2018-06-09 16:38] sunilab opened #9974 "Out of date documentation?"
I am unable to find the CreateGremlinQuery method on the DocumentClient object as shown in the example in this document. The new way seems to be to use the GraphExtensions.CreateGremlinQuery method instead. If that's correct, then please update the documentation as it is very hard for beginners to be successful at using the Graph capabilities of CosmosDB.

---
#### Document Details

⚠ *Do not edit

[2018-06-09 16:44] zerobane commented on #9939
Correct; trying to create a AKS LB on the on-premise network connected to
azure.

*Jason K Cafarelli*
Desk:   (508) 637-5705 <javascript:void(0);> (primary)
Mobile: (508) 215-9712 <javascript:void(0);>
jason.cae@gmail.com

On Fri, Jun 8, 2018 at 3:00 PM Micah <notifications@github.com> wrote:

[2018-06-09 17:01] raffax opened #9975 "Errors"
I tried you verification enrollment api. I created a profile and I created some wav files with the requested format, containing one of the verification sentences. I tried with 2 different sentences, byt I always get { error: { code: 'BadRequest', message: 'InvalidPhrase' } }....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-09 18:18] codecadwallader commented on #9918
@BryanTrach-MSFT Thanks Bryan for the response.  I have seen that ServicePointManager is included in .NET Core, but I've also seen information suggesting that maybe WinHttpHandler is the effective control for the number of concurrent limitations?  https://stackoverflow.com/questions/36398474/servicepointmanager-defaultconnectionlimit-in-net-core  Do you know for WebJobs specifically which one appl

[2018-06-09 18:21] smflorentino opened #9977 "More information needed on the Semi-Annual Channel SKUs"
Can you describe more information about the Semi-Annual Channel (SAC) SKUs? Maybe a separate article would be good for this (Using Windows Server Semi-Annual channel on Azure). Isn't SAC supposed to be for folks iterating rapidly in the cloud?

Also:
- I only see "Core" and "smalldisk" images for SAC SKUs. Why?
- Does Service Fabric support "Core" SKUs?

---
#### Document Details

⚠ *Do not edit t

[2018-06-09 18:22] smflorentino opened #9978 "Browse the Marketplace in the Azure Portal?"
Is there a way to browse the marketplace using the Portal? It's much easier to search for stuff than running successive PowerShell commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-5325d1ae8440
* Version Independent ID: 31844be0-b20d-a145-7794-27c706770735
* Content: [Select Windows VM im

[2018-06-09 18:28] smflorentino opened #9979 "Describe info on smalldisk images"
Can you have a page or paragraph in the FAQs about smalldisks images. How small is the "small" disk? Does it work with SF? Any other considerations we should have?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7097406-c1fa-4426-82fc-5325d1ae8440
* Version Independent ID: 31844be0-b20d-a145-7794-27c706770735
* Content

[2018-06-09 20:04] georgiosd opened #9980 "Yikes! Task.Wait() in a static constructor?"
Seriously??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d9b842-de22-59e7-e36a-662e2060ae7a
* Version Independent ID: bda934c5-a268-721f-1a3e-1f73fc25c15f
* Content: [ASP.NET MVC tutorial for Azure Cosmos DB: Web Application Development](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-application)
*

[2018-06-09 21:15] SaurabhSharma-MSFT commented on #9959
@MrRoyce Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-09 21:16] SaurabhSharma-MSFT commented on #9964
@jonathanplong Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-09 21:17] SaurabhSharma-MSFT commented on #9965
@anarchitect Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-09 21:18] SaurabhSharma-MSFT commented on #9966
@petersad123 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-09 21:33] jason-j-MSFT commented on #9973
@marvinvperez
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 21:35] jason-j-MSFT commented on #9974
@sunilab
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 21:36] jason-j-MSFT commented on #9975
@raffax
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 21:39] jason-j-MSFT commented on #9977
@smflorentino
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 21:41] jason-j-MSFT commented on #9978
@smflorentino
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 21:43] jluk commented on #8553
@ljt91 fyi the support of secure values is now up and examples are on this document ⭐️

[2018-06-09 21:43] jason-j-MSFT commented on #9979
@smflorentino
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 21:44] jason-j-MSFT commented on #9980
@georgiosd
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-09 22:09] wmgries commented on #9875
@Adam-Smith-MSFT this has been fixed, please close this item. Thanks @dannysievers for pointing out the typo :)

[2018-06-10 00:03] nicknameyu opened #9982 "If the content in the VM is not restored, why I bother so much"
In most circumstance, if I can recreate a brand new VM, I would not bother to do it this way, just delete the VM and recreate one with availability set. The challenge usually is that the existing VM already has a lot of existing content and configuration or even production servers. I can't just replace it with an empty one.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-10 00:06] keithcharlie commented on #9496
@ellacroi please-close

[2018-06-10 00:07] cynthn commented on #9982
@nicknameyu What you are doing is deleting configuration of the VM, recreating the configuration and then attaching the VHD. Most of what folks care about is on the VHD, so creating a new VM that uses the original VHD should cause much loss.

[2018-06-10 01:48] nicknameyu commented on #9982
@cynthn, thank you for clarification. I missed one clause in the script.
While, another problem occurred when I executed the script:
[code]
seems the script was trying to change the ostype of the original disc

[2018-06-10 01:59] GoodbyeWorld commented on #9957
Got it -

`$diskTier = (get-azurermdisk -ResourceGroupName $rgName -Name $diskName).Sku.Name`

[2018-06-10 01:59] #9957 closed

[2018-06-10 02:13] nicknameyu commented on #9982
Found the clause:
[code]
successfully executed.

[2018-06-10 02:39] gmsantos opened #9983 "New desing didn't worked for az cli token login"
In Docker for Azure install documentation (https://docs.docker.com/docker-for-azure/#configuration) one of the pre-installation requirements is to run a script from docker4x/create-sp-azure image.

Not sure, but I guess it uses az cli login. When I open https://aka.ms/devicelogin in my browser and insert the token, the terminal login is not successful.

Switching back to old ui solved my issue.

-

[2018-06-10 03:30] SaurabhSharma-MSFT commented on #9933
@MashTheNewton You can also open an Azure support ticket so that an Identity engineer could further check on it. Please let me know if you do not have support package, and I will help enable a one time free support ticket for you.

[2018-06-10 06:17] neilpeterson commented on #6349
@MicahMcKittrick-MSFT - yes, here are the regions for ACS RPv2.

https://github.com/Azure/ACS/blob/master/announcements/2017-08-04_additional_regions.md

If these regions do not meet the local needs, I would suggest looking at Docker for Azure:

https://azure.microsoft.com/en-us/services/container-service/docker/

[2018-06-10 06:50] ToMakeSense commented on #9912
[Understand the structure and syntax of Azure Resource Manager Templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates)
1. [Variables section of Azure Resource Manager templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-templates-variables)
2. [Outputs section in Azure Resource Manager templates](https://docs

[2018-06-10 07:31] aliuy commented on #9936
For partitioned collections - sprocs are scoped to a single partition key.

For fixed collections - you can think of all records within the collection belonging to a single partition key value.

For simplicity in the video - we have used a fixed collection.

[2018-06-10 09:21] ElectricLlama commented on #9830
OK - I will try the subfolder method again. However now that I have got a successful install , I tried publishing and running a package and it threw errors about the component (Sorry don't have the error to hand but it was your typical 'not installed' error.

[2018-06-10 09:27] lin-art opened #9984 "Update Notification?"
Is there a way to receive update notifications?
We had two major issues with this solution, both were solved after installing the latest scripts (latest one: Find-AzureRmResource breaking change).
Best, Linard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID:

[2018-06-10 09:29] m1nkeh commented on #9936
thanks for the confirmation @aliuy , i feared as much .. i don't understand how sProcs can be useful if you cannot query things x-partition... very frustrating.

[2018-06-10 11:29] JGezels opened #9986 "SAML Apps"
Is there a way to use this on apps that are connected to a ADFS server because in a federated scenario this would imply that ADFS does the authorization part for the B2B user which doesn't exist in the ADFS User Store namely AD on-premise. I guess something like Hash sync or Passthrough would be needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-06-10 11:48] JGezels opened #9987 "B2B Management AzureAD <=> SharePoint Online/OneDrive"
Does this mean that when whitelisting domains in Azure AD for guest users only apply for non-Ondrive/non-SharePoint Online workloads?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ab5696-ee53-9104-95e8-9a55d3ec26c9
* Version Independent ID: ed1092ea-de38-275d-5437-4c2267b75f36
* Content: [Office 365 external sharing

[2018-06-10 11:54] ToMakeSense commented on #9912
The same confusion about **copyIndex()** on stackoverflow

1. [Azure ARM copyIndex()
](https://stackoverflow.com/questions/50496352/azure-arm-copyindex)
1. [Azure WebApp Config - Multiple VirtualApplications copyIndex not valid
](https://stackoverflow.com/questions/50027298/azure-webapp-config-multiple-virtualapplications-copyindex-not-valid)
1. [copyIndex() inside a listKeys()
](https://stackover

[2018-06-10 12:40] msaadsadiq commented on #7022
There is no documentation, please prepare an example for the speaker identification

[2018-06-10 13:56] ElectricLlama commented on #9830
hmmmm now my ADF returns 'Gateway Timeout' every time I try and start my Azure runtime with a SAS URI. I tested the URI in Azure Storage Explorer and it's valid. Could this error be because the runtime is now joined to a VNET? I am actually going backwards on this now as I can't start it anymore. Just as some background, I am trying to install a custom component which I also had an issue with - se

[2018-06-10 14:01] arnoschuring opened #9988 "ConfigurationArguments.NodeConfigurationName is not required, and including it causes registration to fail"
Like other commenters, I have have been fighting the inconsistent documentation and lack of debugging capability of the Azure DSC registration process. First I've been getting Unauthorized responses from the Azure DSC Server, then BadRequest. I believe that the Unauthorized responses have been caused by incorrect handling of the *PrivateSettingsRef:registrationKeyPrivate* reference as shown in the

[2018-06-10 14:02] ElectricLlama commented on #9830
Just another thing - while trying to debug and troubleshoot this, I noticed that if there is an invalid URI (i.e. https://ZZZ), there is no error or clue in the activity log. It just doesn't write any logs out to the container. Maybe this is by design and maybe it should be obvious but it's just another thing that would've sped up my troubleshooting.

[2018-06-10 15:30] beachseeker opened #9989 "Multiple issues in steps"
There are several issues with the steps in this doc.  From navigation locations to ambiguous instructions.  Too many issues to list all.  Perhaps this is intentional due to the preview statues of IEF.  Suggest a complete review of the documented steps when appropriate, certainly after this feature has gone to GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2018-06-10 15:43] MicahMcKittrick-MSFT commented on #9982
Thanks @nicknameyu! Just to clarify, does the example script we provided need to be updated?

[2018-06-10 15:44] MicahMcKittrick-MSFT commented on #9988
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 15:45] MicahMcKittrick-MSFT commented on #9971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 15:45] MicahMcKittrick-MSFT commented on #9972
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 15:53] m1nkeh commented on #9936
well I need to perform updates to two documents in two partions atomically ;(

[2018-06-10 15:53] MicahMcKittrick-MSFT commented on #6349
Thanks @neilpeterson!

@HaikoHertes please take a look at the above link referenced by Neil. Looks like UK west is currently supported but West Europe is not yet available. Hence, the reason you are seeing the deployment issue.

I will close this for now but if you see further issues just let me know :)

[2018-06-10 15:57] MicahMcKittrick-MSFT commented on #6500
@jeeshnair I worked with the Windows Containers team and MSI team offline and have confirmed it is possible to run MSI from within a Windows Container. The last suggestion from @RajeetN appears to be correct on what you need to do in order to get it to work.

In addition, the containers team is working now to create the content for running MSI in Containers. Seeing the number requests coming in th

[2018-06-10 15:58] MicahMcKittrick-MSFT commented on #9724
@superminiek ah okay! Makes total sense :) I will assign the the content author to review our conversation and determine if we should update the doc.

@iainfoulds can you take a look?

[2018-06-10 16:01] MicahMcKittrick-MSFT commented on #9847
@wploevyaya2018 I will close this for now. When ready please reply back and we can reopen and continue.

[2018-06-10 16:01] #9847 closed

[2018-06-10 16:02] MicahMcKittrick-MSFT commented on #9924
@ronaldvanrij any update on this?

[2018-06-10 16:02] MicahMcKittrick-MSFT commented on #9929
@cynthn can you take a look and see if we can include some links to the CLI commands to this doc?

[2018-06-10 16:04] MicahMcKittrick-MSFT commented on #9939
To connect your on premise network to Azure you will need to follow either the VPN setup or the Express Route setup. It should not be specific to AKS but rather just connecting the two networks:

https://docs.microsoft.com/en-us/azure/guidance/guidance-connecting-your-on-premises-network-to-azure

[2018-06-10 16:06] MicahMcKittrick-MSFT commented on #9961
Thanks for this @tschleining

@rothja can you take a look and see if we should update this?

[2018-06-10 16:11] MicahMcKittrick-MSFT commented on #9973
@marvinvperez have you review the quick start guide to see if that helps?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-quick-start

[2018-06-10 16:14] MicahMcKittrick-MSFT commented on #9978
@smflorentino you can browse through the portal.

You basically just find the service you want such as Compute, then select View all and you can browse through everything available.

![image](https://user-images.githubusercontent.com/32313503/41203615-9e8f5fc4-6c8e-11e8-9284-6b11b13b0912.png)

You then of course can use the filter or search option to limit the search to only see a type of OS.

[2018-06-10 16:16] MicahMcKittrick-MSFT commented on #9979
@smflorentino the small disk should be 30GB. I will assign this to the author to review and see if we can add more info to this doc.

@dlepow can you take a look?

[2018-06-10 16:32] zerobane commented on #9939
Azure is already connected and working to the corporate network;

The problem is i cannot create a loadbalancer in kubernetes/AKS on that
network.  There is no clear instructions on how you would go about that.

*Jason K Cafarelli*
Desk:   (508) 637-5705 <javascript:void(0);> (primary)
Mobile: (508) 215-9712 <javascript:void(0);>
jason.cae@gmail.com

On Sun, Jun 10, 2018 at 12:04 PM Micah <notific

[2018-06-10 16:39] MicahMcKittrick-MSFT commented on #9939
So you have your corpnet peered to the Azure Vnet. Then if you create a new subnet or add the AKS and LB to the same peered network what problems do you see? are you getting a specific error? Could you try uploading some screenshots to help clarify?

[2018-06-10 17:16] raffax commented on #9975
[Enroll1.zip](https://github.com/MicrosoftDocs/azure-docs/files/2088062/Enroll1.zip)

[2018-06-10 17:17] raffax commented on #9975
I leave here a sample file,  hope it can be helpful
[Enroll1.zip](https://github.com/MicrosoftDocs/azure-docs/files/2088063/Enroll1.zip)

[2018-06-10 17:17] #9975 closed

[2018-06-10 17:36] wmgries commented on #6888
Hi @MSIH,

Apologies for not seeing this feedback sooner. We do not intend for the introduction page OR the "Choose Blobs, Files, or Disks" page to be a comparison of scale limits. Although it's true that at this point in time, scale limits do differ between services, we are working on bringing them to parity. The true reason to choose files or blobs, or disks comes down to what you're trying to a

[2018-06-10 17:44] benday opened #9990 "IKEv2 is not supported on Basic gateway"
I spent *hours* trying to figure out why I couldn't get my point-to-site VPN connection working on my mac.  It turned out that my problem was because IKEv2 is not supported on the basic gateway sku.  I found this out pretty much only by chance.  https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq

Feedback #1: It would be great if you added something in big bold letters saying t

[2018-06-10 17:49] jeeshnair commented on #6500
Thanks Micah . I am still working on trying the route addition . I will
report this week what I find , can we keep the issue open until then ?
Thanks

On Sun, Jun 10, 2018 at 8:57 AM Micah <notifications@github.com> wrote:

[2018-06-10 18:03] SychevIgor opened #9991 "Storage Explorer can't load the subscription list"
I have an account which have access to 52 subscriptions in 1 tenant with totally 186 storage accounts (few classic, but mostly arm). RBAC roles are different from subscription to subscription, but mostly readers/user access manager, contributors, owner.
On my machine I can load Explorer, sign in under this account, but "Loading Subscription" could work forever, until I will cancel this process.
Af

[2018-06-10 18:04] SychevIgor commented on #9991
![image](https://user-images.githubusercontent.com/578954/41204791-d3cb151c-6cf1-11e8-8035-cb7bc08bfeaa.png)

[2018-06-10 18:58] SychevIgor opened #9992 "Add in a article information about - how we can do the same, but with dll, instead of csx files"
Editing csx file in a browser and debug it- is not bad for some trivial moment, but for something more or less complex- we definitely need project locally, which we can build, produce dlls and run locally. This article missed this moment.

Agree, it is not too different from what is already included, but with dll option- will be even better

---
#### Document Details

⚠ *Do not edit this section.

[2018-06-10 19:38] Siya-k opened #9993 "Add accounts button disabled"
I'm trying to add a sharepoint UPS account to the AAD DC Service Accounts group as per the above instructions however the add button is disabled. The account I'm logged in with is a member of the AAD DC Administrators group on Azure AD. I get the error message: you do not have permissions to modify the group domain.onmicrosoft.com/Users/AAD DC Service Accounts.

Please help.

---
#### Document Det

[2018-06-10 19:40] nicknameyu commented on #9982
@MicahMckittrick-MSFT Thanks for the follow up. The script is good. I wonder whether below features should be added.
1. Copy the tags and Diagnostic settings of the original VM. This is not difficullt.
2. Identify if recovery vault and ASR are configured for the original VM, if so, better copy these settings as well.
You know, when there is a requirement to change the availability, it is usually a

[2018-06-10 20:00] cocowalla opened #9994 "Commands don't work - outdated syntax in docs?"
I tried this Azure CLI command, straight out of the docs (obviously using the names of my IoT hub and device):

`az iot hub device-identity show-connection-string --hub-name {YourIoTHubName} --device-id MyDotnetDevice --output table`

And I get:

`az iot hub: 'device-identity' is not an az iot hub command`

I'm trying to evaluate the IoT Hub - not a great start :(

---
#### Document Details

⚠ *Do

[2018-06-10 20:17] Faraz2018 opened #9995 "D1, B1, B2, B3 Not present in the Production category"
Hi! I am a novice in respect of Azure. However, while I went through this documentation of yours I found "Select any of the non-free tiers (D1, B1, B2, B3, or any tier in the Production category)". Strange enough, while also in the screenshot provided it is the Production tab that has been highlighted the tab active and options referred to are the ones present on the "Dev / Test" Tab. Besides that

[2018-06-10 20:47] Faraz2018 commented on #9995
Well! At least I did find out some trouble with refreshing, because wen I logged out and re-logged in I found the Custom Domain to be showing the new steps of Adding Hostname. However, the mistake in the said useful article, i.e. "Select any of the non-free tiers (D1, B1, B2, B3, or any tier in the PRODUCTION category)" needs to be rectified.

[2018-06-10 21:34] cocowalla opened #9996 "Use of an Administrator prompt?"
From the docs:

Is this actually true? I've used PFX files before without admin rights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90f2e322-a9a1-8887-58ce-324eab7661d2
* Version Independent ID: 20974d4d-f6d8-9ba5-9985-e8f803e9a36f
* Content: [Tutorial for X.509 security in Azure IoT Hub](https://docs.microsoft.com/

[2018-06-10 23:22] dapsjj commented on #9681
@sonfiree When I modify my code as you told me.the error message is ：

[2018-06-10 23:34] bawejainnovation opened #9997 "Negative example training"
It would be great if we had the ability to train QnA Maker pairs with negative examples to improve utterance accuracy.

[2018-06-10 23:48] stewartadam opened #9998 "Incorrect information about account types"
The account type selection in the Azure Portal links here, providing guidance to users on blob/GPv2/GPv1 but the information here is incorrect. Blob accounts are *not* the only way to get Hot/Cool/Archive tier access:

[Azure Storage account options
](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-options#pricing-and-billing): *General-purpose v2 (GPv2) accounts are storage

[2018-06-10 23:54] YutongTie-MSFT commented on #9991
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 23:55] YutongTie-MSFT commented on #9992
@SychevIgor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 23:56] YutongTie-MSFT commented on #9994
@cocowalla
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 23:56] YutongTie-MSFT commented on #9996
@cocowalla
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 23:58] YutongTie-MSFT commented on #9984
@lin-art
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 23:59] YutongTie-MSFT commented on #9990
@benday
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-10 23:59] generalcussolco opened #9999 "Deleted Index which was created by automatic tuning"
If I delete an Index which was automatically recommended and applied, will Azure recommend this same Index again?

If not, then how can I make it so that Azure will recommend changes that have previously been applied and now deleted? The only option I can think of would be to delete and re-create the database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-06-11 00:00] YutongTie-MSFT commented on #9986
@JGezels
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 00:00] YutongTie-MSFT commented on #9987
@JGezels
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 00:01] YutongTie-MSFT commented on #9989
@beachseeker
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 00:02] YutongTie-MSFT commented on #9993
@Siya-k
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 00:02] YutongTie-MSFT commented on #9995
@Faraz2018
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 00:05] FelixHenriksen opened #10000 "Load data in to tables"
I followed the above description for loading data with a file with 100.000+ rows but PowerShell only loads 930 rows. Am I missing a argument or have I meet some kind of limitation of how many rows can be loaded at a time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5802ba59-8c08-7b41-7aec-2640cc287ae3
* Version Inde

[2018-06-11 01:18] JimmyLS commented on #9764
Hello Saurabh, just want to check are there any updates now?

[2018-06-11 01:45] Pothulapati commented on #9942
I also tried multiple times also with different Operating Systems( I was using ubuntu intially, have also tried Windows Server 2016 datacenter with Containers as specified in the document). I have also tried multiple datacenters like eastus, southeast asia but the problem still persists.

I'm open to sharing more details like subscription id's ,etc and spending some more time to help debug the iss

[2018-06-11 01:46] swinarko commented on #9830
Could you please email me (sawinark@microsoft.com) your ADF and Azure-SSIS IR names, so our team could investigate?  THX

[2018-06-11 02:04] Pothulapati commented on #9942
Can you please Try Creating a Linux Service Fabric Cluster by selecting Ubuntu as the OS. I was trying to create a ubuntu one. The nodes aren't showing up when the cluster is a linux one.

I tried with Windows Server 2016 data center with container, the cluster is working fine and the nodes are also showing up.

One thing I also noticed is that, Whenever we select ubuntu as the OS, The Reverse pro

[2018-06-11 02:38] wploevyaya2018 opened #10001 "AppService Create WebApp Failed"
The AppService has Deploy Succeeded,But when Cresate new web app,then failed with "websitesextesion extendsion failed to load

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ee2047-e51e-cf36-1bde-6919b2c5f3cf
* Version Independent ID: c4e207d0-be8b-8096-52ad-04e0d029d1e2
* Content: [Deploy App Services: Azure Stack](h

[2018-06-11 02:50] petersad123 commented on #7392
I have the raspberry pi working (messages being sent to my iot hub), when i simulate data. However, when i hook up my sense and change the simulate to false, i get this error:

{ [Error: , Remote I/O error] errno: 121, code: '', syscall: 'writeByte' }

How can i resolve this error?

[2018-06-11 03:46] aashishb commented on #9920
AKS support will be available in future. AKS product is in preview right now.

[2018-06-11 03:51] #6888 closed

[2018-06-11 03:52] MicahMcKittrick-MSFT commented on #6500
Can do :)

[2018-06-11 03:52] MicahMcKittrick-MSFT commented on #6500
Oops accidently close. Sorry :)

[2018-06-11 04:23] petersad123 opened #10002 "{ [Error: , Remote I/O error] errno: 121, code: '', syscall: 'writeByte' }"
I have the raspberry pi working (messages being sent to my iot hub), when i simulate data. However, when i hook up my sense and change the simulate to false, i get this error:
{ [Error: , Remote I/O error] errno: 121, code: '', syscall: 'writeByte' }
How can i resolve this error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-11 05:28] smharishbabu commented on #9852
I tried to recreate the steps mentioned in the document and able to see the D2C message in visual studio code terminal. I am hoping this issue is related to container status since every time I am seeing some issue in container start. I have opened a new issue [#10003](https://github.com/MicrosoftDocs/azure-docs/issues/10003). Thanks kgremban, sergaz-msft.

[2018-06-11 05:37] johndowns opened #10004 "How to disable FTP from an ARM template?"
The new feature to disable FTP, or to restrict it to FTPS, is great - but how can we set this from within an ARM template?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1506c34e-352d-15f6-73ea-3dbf8ce31b3c
* Version Independent ID: cb469cf8-43e5-09fe-6b8e-ee714cf2f7cc
* Content: [Deploy your app to Azure App Service u

[2018-06-11 06:43] KloudEzy commented on #9898
Thank you @mmacy! It's working and now I'm able to run the bash shell! I'm automating LetsEncrypt certificate request and installation for Azure Linux Webapp.

Once again thank you for quickly resolving my issue!

[2018-06-11 07:12] dzemp opened #10006 "Misleading statement - Azure PaaS virtual machines."
What do you mean exactly with Azure PaaS virtual machines in section https://docs.microsoft.com/en-us/azure/security/azure-threat-detection#advanced-threat-detection-features---other-azure-services?

"Azure antimalware is a security option for Azure Virtual Machines and is automatically installed on all Azure PaaS virtual machines."

Does it mean that an antimalware solution is automatically insta

[2018-06-11 07:42] astaykov opened #10007 "Conflicting information regarding extraction of audit logs"
Hi,

I just want to mention a conflict with the [official Azure AD B2C FAQ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-faqs). There is a statement in the FAQ which states audit logs are only available in the portal and not via graph api. So I wonder now - can I retrieve the audit logs via Graph API like described here in step 3 of the Export customer data sect

[2018-06-11 07:43] angusmack-msft commented on #9406
Hi @marthalc - I was using this in West Europe.

However, I manged to fix this - right at the end of the course on Friday - and I simply needed to include both the model management and data collector libraries. This was my working conda_dependencies.yaml file.

[code]

If there are other issues then please let us know and what the fix is.

Thanks.

[2018-06-11 07:59] VitorX opened #10008 "link for Maps Functional API reference was broken(404)"
As title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2578f489-79b3-4bb0-c620-609ca7b78e47
* Version Independent ID: f088832f-3327-02df-ec5f-c6e08e809115
* Content: [How to search for an address using the Azure Maps Search service](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-search-for-address#search-for

[2018-06-11 08:00] BartoszPorebski opened #10009 "Event quota information invalid"
Ingress: Up to 1 MB per second or 1000 events per second (whichever comes first)
    Egress: Up to 2 MB per second
This information suggests that there is no egress message quota. This is misleading, as there is a read limit of 2000 events per second.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71adf8e4-a51b-d20d-39

[2018-06-11 08:38] ronaldvanrij commented on #9924
I was expecting this article to be about getting and setting the FQDN for the host, e.g. vm-dev-master01.xxxxxxxxxxxxxxxxxxxxxxxxxxx.ax.internal.cloudapp.net. Instead I found this article to explain how to create a DNS A, AAAA or PTR record (which does happen to be specified as an FQDN).

The backstory is that according to Ambari documentation I need to specify the FQDN of the machines in the clus

[2018-06-11 08:38] arokubo opened #10012 "CSP can request to unblock outbound port 25,right?"
This document indicate CSP can't request to remove the restriction about outbound port 25 blocking.
--- excerpt ---
Cloud service provider (CSP), MSDN, Azure Pass, Azure in Open, Education, BizSpark, and Free trial: Outbound port 25 communication is blocked from all resources. No requests to remove the restriction can be made, because requests are not granted. If you must send email from your virt

[2018-06-11 09:15] cocowalla commented on #9994
I was using Ubuntu via WSL, and I had installed the extension, so maybe it's related to the issue you linked to. Note I had tried to install the extension in a 'normal' Windows command prompt, but it failed (I've had _many_ problems with Azure CLI across multiple Windows 7 and 10 machines).

Anyway, FWIW I just tried with Azure Cloud Shell:

[code]

I get:

`command authoring error: multi-characte

[2018-06-11 09:54] manish-kevre opened #10015 "Broken link for Shared key authorization page."
Hyperlink at text "see Authorize with Shared Key."
https://docs.microsoft.com/rest/api/storageservices/authorize-with-shared-key/
is broken
correct working link is "https://docs.microsoft.com/en-us/rest/api/storageservices/authenticate-with-shared-key"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92eb0299-4a80-5c36-6

[2018-06-11 10:14] SaurabhRaoot opened #10016 "I want to use v2.0 with client credentials grant type and Scopes. Is this possible with AAD v2.0, client credentails and scopes ? If yes how ?"
I have a MVC Rest API application, this application has 5 section of APIs (like department A, B, C, D, E). And I have client application which will be calling these APIs. I want to restrict client application to access these APIs (like I want Client1 to access APIs of department A & B)
I want to use v2.0 with client credentials grant type and Scopes. Is this possible with AAD v2.0, client credenta

[2018-06-11 10:19] kamilzelazny opened #10017 "AADLoginForLinux - Permission denied (publickey)."
Hi,

I've just installed AADLoginForLinux extension and added via IAM my account to the VIRTUAL MACHINE ADMINISTRATOR LOGIN of my Linux VM. When I try to login via ssh and my domain credentials to this VM I received error: Permission denied (publickey).

I would like to mention that my username is different that email address (username is xxxxxy@domain.com and email address is xxxxx.yyyyy@domain.c

[2018-06-11 10:22] anz1e opened #10018 "Step 6"
Hello, when I check the 'Read Directory Data' the dialog asks me to provide 'Client Secret' and the documentation does not explain how to create/get it. Please revise the documentation.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee85b906-392c-ae31-5c4c-85ba33b6f601
* Version Independent ID: f6075f0e-e47f-7c3a-3844-

[2018-06-11 11:15] #8139 closed

[2018-06-11 11:28] rogerbrownmegnajet opened #10021 "No User Overview with non-Premium account"
Non-Premium Account gives "You need a premium account to access this blade" when you click on a user - no overview information as suggested by the pictures in the article.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb9f791-4ba5-4ccf-c016-a05d5e371ebc
* Version Independent ID: 7e5168ca-659c-b9e0-ce5e-e4c64a18b3b7
*

[2018-06-11 11:33] aribornstein commented on #7192
Worth checking this project out https://github.com/tensorflow/tfjs-converter

[2018-06-11 11:45] ElectricLlama commented on #9830
So if I tick "Use AAD Authentication with your ADF MSI" I get this gateway timeout error is I am also provisioning something. If I'm only provisioning or only using MSI, it's not a problem.

[2018-06-11 11:59] cephalin commented on #5565
@GrantMeStrength I can't reproduce your error. The web.config file was added into the repository itself so it should be part of your zip file when you create it.

[2018-06-11 12:34] ilio78 opened #10022 "ADFS 2016"
Hello,

does ADFS 2016 support the above scenario?

thank you,
George

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d-ba3a-0078-d4b6-1e47fad5ea41
* Content: [Azure AD v2.0 OAuth2.0 On-Behalf-Of flow](https://docs.microsoft.com/en-us/azure/active-dir

[2018-06-11 12:38] jimdial commented on #9593
#in-process

[2018-06-11 12:40] jimdial commented on #10012
#in-process

[2018-06-11 12:48] cephalin commented on #7875
internal work item https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1280094 added for the current sprint.

[2018-06-11 12:52] SnowGhost21 commented on #9883
Hi @ashmaka how are you?
Thanks for the answer and explanation about API but this is a little complex to me to understand, because if I send a "Oi" or "Hallo"  the API understand it's portuguese or germany.

I'm using the api with a Bot to understand what an user say and use the correct language to answer him. Exist an another way to detect the language using the Bot Framework or Language API?

[2018-06-11 13:02] ellacroi commented on #9496
#please-close

[2018-06-11 13:11] langemol opened #10023 ".net core / Microsoft.Azure.ServiceBus"
I do not see a PairNamespaceAsync method, or SendAvailabilityPairedNamespaceOptions in the Microsoft.Azure.Servicebus namespace. Are these same features also available for .net core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e985ad51-e8e6-6cd3-bde4-70fe0b29ee6a
* Version Independent ID: 912d2335-78c1-9df7-09a6-385

[2018-06-11 13:21] thatmattwade opened #10024 "Please update with reference to where to get the QR code"
The instructions above indicate you need a QR code to scan to add/update your account, but provides no details on how to do this. Only thanks to an MVP in the Teams arena was I able to get this sorted out. And it's as simple as adding the following link in the article so people know how to get this code. Could you add it so others aren't confused like I was? https://account.activedirectory.windows

[2018-06-11 13:28] rayne-wiselman commented on #9700
Thanks for the feedback. The link seems fine now. I added "for replicated machines" to make it a bit clearer. That should publish today.
#please-close

[2018-06-11 13:28] rayne-wiselman commented on #9696
I removed the link. I can't find a more updated source. Should publish today.

#please-close

[2018-06-11 13:46] nsoneji commented on #9458
It has been fixed last week.

[2018-06-11 14:00] dominicbetts commented on #9994
@cocwalla - that error message you're seeing is a symptom of the issue I linked to. You can either wait 'till the hotfix is deployed or try installing a previous version of the CLI locally.

[2018-06-11 14:02] chadgr opened #10025 "Replication"
MI is listed as a No for SQL Replication.  I believe that it can be a subscriber, just like single instance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Azure SQL Database feature comparison](https://docs.

[2018-06-11 14:06] sonfiree commented on #9681
@dapsjj The complete error code in Debug

[2018-06-11 14:11] sergaz-msft commented on #9791
Hello,

Going through your questions:

No. If you are [testing the Lightbulb device type locally](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-test#test-the-lightbulb-device-type-locally) you need first to [stop the container](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-test#stop-the-device-simulation-serv

[2018-06-11 14:16] sergaz-msft commented on #9852
Thank you @smharishbabu,

We will now proceed to close this thread and continue the work on the new issue #10003. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-11 14:16] #9852 closed

[2018-06-11 14:19] mmacy commented on #9898
Thanks for the update @KloudEzy, glad we could help!

@MicahMcKittrick-MSFT, we're GTG on this one, #please-close.

[2018-06-11 14:21] middlewaysas commented on #9848
Hi,
Ok but a few months ago when I tested the "Sort" filter, it was not supported by the liquid maps in Logic Apps. It means for me that you are not currently supporting all the filters. Can you please confirm?

[2018-06-11 14:32] michalburger1 opened #10026 "Invalid sample redirect URI"
In section "Request an authorization code", the sample request contains an invalid redirect_uri:

[code]

It should read:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-21cb-e030-f68f-db73acef0c74
* Content: [Understand the OAuth 2.0 author

[2018-06-11 14:38] wernerstinckens commented on #9406
West Europe.

[2018-06-11 14:41] sergaz-msft commented on #9857
Hello @smharishbabu ! Thank you so much for this feedback. Good catch 👍 ! I am assigning @kgremban to help us add that step to the tutorial.

[2018-06-11 14:55] dtsiogka opened #10027 "Subscription required for Azure RI"
Hi,
I am wondering, why do we have to select a specific subscription in order to  have a " subscription used to pay for the Reserved Instance"? I mean, why is that required, since RI are charged on a separate invoice?  Moreover, how can I choose a specific subscription but then choose shared scope? How those two fields are different?

---
#### Document details

⚠ *Do not edit this section. It is r

[2018-06-11 14:56] wiemerr opened #10028 "What does Broadcasts a LogoutRequest"
Can you please explain what happens in Step 4 of the diagram?  This "broadcasts a LogoutRequest to all service providers in the session" seems to be outside of the protocol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d4eac0-25d3-b5d5-f58e-cdd1024f32b4
* Version Independent ID: 7771f280-3701-4f88-cb9f-add968d494de

[2018-06-11 15:05] conniey commented on #9930
@SaurabhSharma-MSFT
I have an ASP.NET Core Application that hosts a bunch of Web APIs. One of the APIs is to delete a User, so I use the Graph APIs to delete a user. I ran into this issue when I was testing with my Swagger endpoint (after the user has been authenticated).

[2018-06-11 15:11] GrantMeStrength commented on #5565
I can to this page with an already created app, running locally, looking for how to publish it to Azure. So there was no web.config in my project. A note that explained web.config was required would have saved me a LOT of time.

[2018-06-11 15:30] SaurabhSharma-MSFT commented on #9930
@conniey Great to hear that you are unblocked.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-11 15:30] #9930 closed

[2018-06-11 15:33] #9496 closed

[2018-06-11 15:48] zixo commented on #9121
Hi, is this fixed? I have same problem :/

Thanks

[2018-06-11 15:50] neilpeterson commented on #9121
@zixo - can you provide the output of `kubectl gt pods --all-namespaces`?

Thanks

[2018-06-11 15:56] zixo commented on #9121
kubectl get hpa
NAME               REFERENCE                     TARGETS         MINPODS   MAXPODS   REPLICAS   AGE
azure-vote-front   Deployment/azure-vote-front   <unknown>/50%   3         10        5          31m

kubectl describe hpa
Name:                                                  azure-vote-front
Namespace:                                             default
Labels:

[2018-06-11 15:57] SaurabhRaoot commented on #10016
- I have created 2 Apps using Application registration portal, One for API (App type Web API) and other for client app (App type web) who want to access API.
- I have created custom scopes in API app, and added client application as client app and given access to few scopes added above.

Then using below API call ... I got the access token of client app
POST https://login.microsoftonline.com/<My t

[2018-06-11 15:58] georgewallace commented on #9894
@JustinGrote Thanks for reaching out.  I want to confirm what the question is you have.  It is hard to discern from your original post what was a response from support and what is a question.  I am assuming the only question in this post is 'Am I billed for 60 minutes of watcher usage or 1 minute of watcher usage?' is this a correct assumption?  It looks like support answered that question for you

[2018-06-11 16:00] cloudmelon opened #10029 "Size not available in current region while resizing VM using powershell"
Resizing VMs by using Azure PowerShell as the following:
 $vm = Get-AzureRmVM -ResourceGroupName $rgname -Name $objname
           $vm.HardwareProfile.vmSize = $newSize
           Update-AzureRmVM -ResourceGroupName $rgname -VM $vm
           Write-Host "since vm " + $objname + "is being resized"

For example :
From Standard_DS5_v2  to Promo_DS5 v2 ,  error occurs ( size not available in current r

[2018-06-11 16:01] JustinGrote commented on #9894
Correct, the first paragraph was the question, the rest was the support
response. I'm suggesting either that overview or the pricing page be
updated to include the level of granularity with examples.

On Mon, Jun 11, 2018, 8:58 AM George Wallace <notifications@github.com>
wrote:

[2018-06-11 16:04] iainfoulds commented on #9835
@MicahMcKittrick-MSFT Please reassign to @mahesh-unnikrishnan

@mahesh-unnikrishnan Can you comment on the behavior reported by the customer, please?

[2018-06-11 16:07] MicahMcKittrick-MSFT commented on #10017
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 16:11] iainfoulds commented on #9827
Thanks, @MicahMcKittrick-MSFT. I have created a PR to add in the 64-bit support and link to supported operating systems, roles, and features. When that PR merges, this issue will automatically close.

[2018-06-11 16:16] iainfoulds commented on #9724
@superminiek Thanks for the feedback. I'm still not sure what note you'd like to see added here? The doc is specifically discussing the use of Availability Zones, in which case two or more VMs would be required to benefit from the zone distribution. Yes, a single VM with premium SSD storage meets the Azure VM SLA, but you don't benefit from any of the Availability Zone features with a single VM. I

[2018-06-11 16:18] #9898 closed

[2018-06-11 16:23] neilpeterson commented on #9121
Seems like this is a know issue and is being tracked by the product group here - https://github.com/Azure/AKS/issues/318. There are some workarounds in this issue as well.

[2018-06-11 16:26] landry4678 opened #10030 "Azure Site Recorvery : Replication Error"
Getting the following error below when trying to enable azure site recovery on my VM. How can I fix this?

ERROR (1):
  Virtual machine's OS disk is encrypted and no target keyvault information passed. ( ERROR CODE :  150175)
  Possible causes:  Disk encryption information like, secret identifier and its target KeyVault resource id are missing.
  Recommended actions:  Resolve the issue and retry t

[2018-06-11 16:29] cephalin commented on #5565
Based on your description, you have a scenario that varies from the quickstart. The quickstart is designed as a first-time experience in App Service, not generally for any app you have, and it works when you follow it as is written. But stay tuned because we're coming up with easier steps in the near future using `az webapp up`.

If you have any further issue with the quickstart experience itself,

[2018-06-11 16:33] #9827 closed

[2018-06-11 16:33] SimonHStats opened #10031 "Deprecated package means this content does not work any more"
scala.collection.immutable.List(JSON.parseFull(niceResponse)) &lt;- this command does not work any more, so the code breaks when we try to get sentiment. My cluster is running scala 2.11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbd2747-9807-4c9b-e07f-819570e054f8
* Version Independent ID: 03a288c1-c704-a2d8-b2d1

[2018-06-11 16:35] cassiealynn opened #10032 "Azure Blob storage - Python example code bugs"
Missing import "from azure.storage.blob.models import PublicAccess" and "my_service" should be "blob_service"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4fe7b4-8f63-af03-5bab-e154e17b0182
* Version Independent ID: 9872b778-e19e-b205-4415-a3f84c465e61
* Content: [Read and write large data files](https://docs.micro

[2018-06-11 16:40] curtand commented on #9123
Hi @SaurabhSharma-MSFT
I received an update on our GitHub issues handling last week. Product questions should go to the PM, in this case Kelvin Xia.

[2018-06-11 17:02] kgremban commented on #9857
Hi @smharishbabu I'm working on some other changes to this tutorial to be published in the next week or so, and will make sure to include this missing step. I'll let you know when the updated version is released.

[2018-06-11 17:11] #9773 closed

[2018-06-11 17:18] SimonHStats commented on #10031
Forget it, this is not what is causing my workbook to fail.

[2018-06-11 17:18] #10031 closed

[2018-06-11 17:23] AndreaVitale opened #10034 "Detected corrupted documents without _id identifier error"
Hi, as per [the docs](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-functions/functions-bindings-cosmosdb-v2.md#output---javascript-examples) I'm trying to send data to CosmosDB in an Azure Functions like this:
*function.json*
[code]

and using this bindings as follows:
[code]

but when I try to explore data via the azure portal, I got this notification error:
[code]

I'm

[2018-06-11 17:24] jasonpnnl opened #10035 "SessionDuration Claim"
Is there a way to use this functionality to include a SessionDuration claim?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d8e93d6-413b-34aa-3359-41f5baa442d3
* Version Independent ID: 0d657318-8058-a76a-c219-393ab3a4920d
* Content: [Learn how to provide optional claims to your Azure AD application](https://docs.micr

[2018-06-11 17:28] jasonpnnl opened #10036 "Session Duration"
Is there a way when using this to change the session duration for the AWS session? When using ADFS this is explained here: https://aws.amazon.com/blogs/security/enable-your-federated-users-to-work-in-the-aws-management-console-for-up-to-12-hours/ Can something similar be done with Azure AD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-06-11 17:37] vasivara-MSFT commented on #10009
@BartoszPorebski Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-11 17:38] vasivara-MSFT commented on #9843
@Kantimaya-Badajena Since we haven't got any reply. We will now proceed to close this thread. If there are further questions regarding this issue, please reopen it and we will gladly continue the discussion.

[2018-06-11 17:38] #9843 closed

[2018-06-11 17:45] MichaelHauss commented on #9948
@CaryJ it is a design goal of this feature to keep soft deleted data invisible without the use of the new APIs. We intend to address the scenario by allowing Undelete on a specific snapshot.

[2018-06-11 17:52] MicahMcKittrick-MSFT commented on #10027
Thanks for the question! We are investigating and will update you shortly.

[2018-06-11 17:53] MicahMcKittrick-MSFT commented on #9997
Thanks for the feedback! Can you please share the documentation you are referring to?

[2018-06-11 17:54] MicahMcKittrick-MSFT commented on #10001
Thanks for the feedback! Can you please share the documentation you are referring to?

[2018-06-11 17:54] MicahMcKittrick-MSFT commented on #9999
Thanks for the question! We are investigating and will update you shortly.

[2018-06-11 17:55] MicahMcKittrick-MSFT commented on #9998
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 17:55] BryanTrach-MSFT commented on #10004
@johndowns

[2018-06-11 17:56] cynthn commented on #9982
@nicknameyu I think ASR and recovery vault should just keep working, unless you change that name\resource group of your VM? Moving tags would require a couple more lines, but I'm not sure if I would put it into this article or point off to another. I'll put in a request to update the article to cover moving tags (either by adding the lines or pointing off to other appropriate docs). Thanks for the

[2018-06-11 17:57] MicahMcKittrick-MSFT commented on #10029
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 17:58] MicahMcKittrick-MSFT commented on #10034
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:00] BryanTrach-MSFT commented on #10018
@anz1e Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 18:03] BryanTrach-MSFT commented on #10008
@VitorX Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:05] BryanTrach-MSFT commented on #10002
@petersad123 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:05] markrad opened #10037 "Property must have value."
It should be called out that a property must have both the keyword and value. Just providing a keyword is not supported. https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#sending-device-to-cloud-messages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Inde

[2018-06-11 18:07] BryanTrach-MSFT commented on #10023
@langemol Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:07] gmsantos commented on #9983
I will try again at home and send the logs from my browser.

For the record, I'm using Firefox Developer edition @ windows 10 1804

[2018-06-11 18:08] BryanTrach-MSFT commented on #10032
@cassiealynn Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:09] BryanTrach-MSFT commented on #10000
@FelixHenriksen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:10] Adam-Smith-MSFT commented on #10015
@manish-kevre Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-11 18:11] dlepow commented on #9979
@MicahMcKittrick-MSFT, @smflorentino  - Agree some info in docs about the Windows smalldisk images would be useful (I find only a short [blog post](https://azure.microsoft.com/en-us/blog/new-smaller-windows-server-iaas-image/)). However, IMO these details aren't in the scope of this article about how to navigate the image hierarchy. Suggest assigning to @roygara to consider adding something to one

[2018-06-11 18:16] mwhisler commented on #9963
Micah, thanks for taking a look at this so quickly.  I'm happy to provide additional information and/or examples if that would help.  Thank you!

[2018-06-11 18:21] Adam-Smith-MSFT commented on #10030
@landry4678 Could you please post this question in the forums for Site Recovery ? It would have a higher visibility on forums since this is not an issue with the documentation itself. Forum link is: https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=hypervrecovmgr

[2018-06-11 18:21] #10030 closed

[2018-06-11 18:21] georgewallace commented on #9842
@reaperlord You are correct it is your local time.  I am in the process of updating the doc for other enhancements so I am incorporating the update you mention.

[2018-06-11 18:27] AndreaVitale commented on #10034
I give you additionally data after some tests.

**Input binding**: data are correctly given.
Inside `function.json` I alsohave:
[code]
and if I try to print data via `context.bindings.users` I get all users saved inside the `users` collection.

**find()** for a specific user: it doesn't work.
I have in my `index.js`:
[code]
This always gives an empty array but the a document with the specified mai

[2018-06-11 18:27] roygara commented on #9805
@bhamilton Thank you for the feedback! We can definitely make it more clear and add that section to this article. I will create a backlog item for this as we can't fit it in just yet.

[2018-06-11 18:32] MicahMcKittrick-MSFT commented on #8321
@aaronralls any update on this?

[2018-06-11 18:33] jeevansd commented on #10036
Please see this feature from Azure AD.
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-configurable-token-lifetimes

But note that we are deprecating this and will provide better UI for this in the Conditional Access Policy.

[2018-06-11 18:34] jeevansd commented on #10036
#please-close

[2018-06-11 18:37] BryanTrach-MSFT commented on #10031
@SimonHStats We are happy to hear that you located the cause of the issue. Please contact us in the future if there are further questions.

[2018-06-11 18:38] BryanTrach-MSFT commented on #10025
@chadgr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:39] BryanTrach-MSFT commented on #10012
@arokubo Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 18:43] MicahMcKittrick-MSFT commented on #9924
@iainfoulds are you aware of a way to manage these settings using Azure CLI? I am not finding anything

[2018-06-11 18:44] MicahMcKittrick-MSFT commented on #9963
@DCtheGeek would you be able to look into this and possibly provide some more information in the doc on @mwhisler ask?

[2018-06-11 18:45] MicahMcKittrick-MSFT commented on #9973
@marvinvperez was the link I shared able to help you?

[2018-06-11 18:48] BryanTrach-MSFT commented on #10006
@dzemp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:49] BryanTrach-MSFT commented on #10016
@SaurabhRaoot Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:53] BryanTrach-MSFT commented on #10007
@astaykov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 18:57] barbkess commented on #7105
@Kirbogd : Thanks again for sending this request. I added the following text to the Requirements section. This will get published today.

 When publishing RD Web, it is recommended to use the same internal and external FQDN. If the internal and external FQDNs are different then you should disable Request Header Translation to avoid the client receiving invalid links.

@MohitGargMSFT : #please-clos

[2018-06-11 18:59] Kirbogd commented on #7105
Great to know. Thank you

With best regards,

Kirill Bogdanov

________________________________
От: Barbara Kess <notifications@github.com>
Sent: понедельник, июня 11, 2018 9:58 ПП
Кому: MicrosoftDocs/azure-docs
Копия: Kirbogd; Mention
Тема: Re: [MicrosoftDocs/azure-docs] Header rewrite (#7105)

@Kirbogd<https://github.com/Kirbogd> : Thanks again for sending this request. I added the following tex

[2018-06-11 19:00] femsulu commented on #9950
@jason-j-MSFT, reassigning to content author as I am OOF this week.
@tfitzmac, is this something you can take a look at?

[2018-06-11 19:01] BryanTrach-MSFT commented on #10021
@rogerbrownmegnajet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 19:02] BryanTrach-MSFT commented on #10022
@ilio78 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 19:04] BryanTrach-MSFT commented on #10024
@thatmattwade Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 19:04] BryanTrach-MSFT commented on #10028
@wiemerr Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 19:04] femsulu commented on #9984
@YutongTie-MSFT, reassigning to @georgewallace as I am OOF.
@georgewallace can you please look into this?

[2018-06-11 19:05] BryanTrach-MSFT commented on #10026
@michalburger1 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-11 19:07] artisticcheese opened #10040 "Please allow native docker `HEALTHCHECK`"
Why reinvent the wheel with liveliness check where DOCKERFILE supports `HEALTHCHECK`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b5c5a2-21f2-e3ac-bddf-27ecf3994331
* Version Independent ID: 34084e0d-f3d0-aa56-d065-b087027ab97c
* Content: [Configure liveness probes in Azure Container Instances](https://docs.microso

[2018-06-11 19:07] ntachandley commented on #9961
I'll add that the actual IAAS billing behavior versus the "cores" language in print renders HT/"v3" style IAAS machines as poor targets for MSSQL, particularly for Enterprise Edition. For example, an E8S V3 appears to be similar to DS13 with its 8 vCPU and 64GB RAM, but under the covers, you're getting 4 CPUs and 8 threads, along with the IO limitations of 4 vCPUs rather than 8. I've tried to argu

[2018-06-11 19:13] Davilink commented on #9138
no news ?

[2018-06-11 19:15] SaurabhSharma-MSFT commented on #9804
@devwheel We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-11 19:15] #9804 closed

[2018-06-11 19:15] v-geberr commented on #9913
This documentation change is now live. If you have further issues, feel free to reopen this issue. #sign-off

[2018-06-11 19:15] SaurabhSharma-MSFT commented on #9885
@tourili We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-11 19:15] #9885 closed

[2018-06-11 19:16] SaurabhSharma-MSFT commented on #9946
@JJN0306 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-11 19:16] #9946 closed

[2018-06-11 19:16] #9767 closed

[2018-06-11 19:22] sercast opened #10041 "Script requires snapshot"
Why is the script in this article identical to the script in the "Create a VM from snapshot"?  https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-windows-powershell-sample-create-vm-from-snapshot?toc=%2fpowershell%2fmodule%2ftoc.json

Would it be more appropriate to use this script instead in this article? https://github.com/Azure-Samples/managed-disks-powershell-gett

[2018-06-11 19:28] YutongTie-MSFT commented on #9821
@sabrinasmai We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-11 19:28] #9821 closed

[2018-06-11 19:30] YutongTie-MSFT commented on #9861
@mariakisiel Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a doc-enhancement issue, can you please check it and update the document as well? Thanks a lot!

[2018-06-11 19:33] jasonpnnl commented on #10036
Thanks for your response. Will a longer duration access token allow for a longer AWS Console session? Does it need the SessionDuration Claim to be present? Is there a way to include a SessionDuration claim with Azure AD?

[2018-06-11 19:35] dlepow commented on #9979
#in-progress

[2018-06-11 19:41] MicahMcKittrick-MSFT commented on #9977
@smflorentino
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-11 19:42] MicahMcKittrick-MSFT commented on #9978
@smflorentino did the above help at all?