[2022-09-04 21:03] johndowns commented on #97965
Thank you @wilsonzlin - you're completely right and that slipped through our review. I'm working on correcting it now. Thanks for reporting it!

[2022-09-04 21:33] AaronCreighton commented on #97672
Thank you. Definitely a significant improvement. There are of course always additional improvements but as you mentioned maybe raised in an other issue.

[2022-09-04 23:04] coateds opened #97976 "Fails right away with "Value cannot be null. (Parameter 'provider')""
I have been trying to set up VSCode to locally debug Azure Functions for the last couple of days. I am responding to this page because it is so recent. The core issue seems to be revealed when I run `func host start --verbose` from within the local environment. It seems to be unable to get the ExtensionBundle:

[2022-09-04T22:38:58.956Z] Looking for extension bundle Microsoft.Azure.Functions.Exten

[2022-09-04 23:24] KC-Rob opened #97977 "Issue with active-directory-verifiable-credentials-dotnet\1-asp-net-core-api-idtokenhint"
Hi there,

I'm trying to follow the example from the tutorial - I have set up the key vault, the application, the credentials etc. and have the app running via ngrok - when attempting to issue a credential, the Microsoft Authenticator app shows an error like so:
[code]

Looking at the application log, If found the following error response:
[code]

Now, to the interesting part - attempting to view

[2022-09-05 00:36] SatishBoddu-MSFT commented on #97976
@coateds
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-05 00:37] SatishBoddu-MSFT commented on #97977
@KC-Rob
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-05 02:38] YutongTie-MSFT commented on #97821
Hello @darwin-xu

I have no latest version MBP so I have escalated this issue to product team, would you like a support ticket to have a support engineer help you to check on this issue as well?

[2022-09-05 03:03] Dickson-Mwendia commented on #95219
Thank you for opening this issue. After testing, this sample app works correctly and signs in "users in this organization only".

![msal-node-webapp](https://user-images.githubusercontent.com/64727760/188352641-c5a0efd0-5442-40d2-899b-b46d96781322.PNG)
@Danny-Chaudhry are you still experiencing the same issue after following the outlined steps and correct configurations in the env file? If yes, wo

[2022-09-05 03:03] #95219 closed

[2022-09-05 03:10] Dickson-Mwendia commented on #97139
#reassign:Dickson-Mwendia

[2022-09-05 03:52] KrishnaG-MSFT commented on #97800
@nakamacchi We have verified and updated the document as required. The update will go live in less than 24 hours. Thanks again!

[2022-09-05 03:52] #97800 closed

[2022-09-05 03:58] darwin-xu commented on #97821
Yes, please.

[2022-09-05 04:01] KrishnaG-MSFT commented on #97900
@m-yuka746 The expires date section by default shows upto 1 year date but the "validity" time period is 10 years as shown in below sample screenshot. Let me know if you have any further queries with regards to it. #please-close

![image](https://user-images.githubusercontent.com/45988031/188357959-8ca2d892-339d-47af-bfa4-154ab1245203.png)

[2022-09-05 04:01] #97900 closed

[2022-09-05 04:15] KrishnaG-MSFT commented on #97491
@pejuborg From Change Tracking, the team has a mandate to GA support for AMA ASAP. We will spend the next semester in trying to accelerate that work. This is critical as the older OMS agent has been deemed insecure and Security trumps every ask.

We cannot support any new regions in the upcoming semester.

#please-close

[2022-09-05 04:15] #97491 closed

[2022-09-05 04:39] SumanthMarigowda commented on #97358
@dinos-kon Lists the entities in a given resource.
AzCopy is a command-line utility that you can use to copy blobs or files to or from a storage account.  It been mentioned in the starting of the article .  Its a sub topic in the article   Initial it provides detailed information The article looks perfect. We will now proceed to close this thread. If there are further questions regarding this matt

[2022-09-05 04:39] #97358 closed

[2022-09-05 05:12] RamanathanChinnappan-MSFT commented on #97793
Hi @kengaderdus ,

Please check this issue

[2022-09-05 05:12] RohitMungi-MSFT commented on #97910
@jeesang7 I can confirm that the last two endpoints are for consistency with the LUIS service APIs and will provide the same response as others. With respect to GET and POST, GET sends the text through query string and POST sends the text through request body. I hope this clarifies.

[2022-09-05 05:21] MayankBargali-MSFT commented on #97951
@ebwinters Managed identity types are of two types i.e. System-assigned and User-assigned. There are two limits that are calls out in the document [Managed identity limits](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal#managed-identity-limits) section.

The first one is the Managed identities per logic app resource i.e. for consumption you can **o

[2022-09-05 06:05] haohighview commented on #97858
hi, Is there any progress?

[2022-09-05 06:06] haohighview commented on #97858
Hi, Is there any progress? Thanks!

[2022-09-05 06:22] LifeRyuto opened #97980 "Does the policy really include all actions?"
The documentation says the policy includes **all actions**, but it seems there is no action configured. There are only action groups which are mentioned in the same documentation. Some customers are confused by this description.

[code]

result
![image](https://user-images.githubusercontent.com/48182189/188373269-ce19c8aa-6a0d-458f-bfce-e2b88926052e.png)

---
#### Document Details

⚠ *Do not edit

[2022-09-05 06:22] SumanthMarigowda commented on #97958
@SDFVasantHorapeti This thread will explain when we can consider Azure Storage account is IaaS and PaaS

https://docs.microsoft.com/en-us/answers/questions/221143/azure-storage-account-is-iaas-or-paas.html

[2022-09-05 06:30] shwetamathur7 commented on #97728
@mabster Thanks for the confirmation and raising this concern. I tried to repro the scenario and facing the same issue which allow to search all the users in the organization rather than only users in administrative unit.
I removed the line from the document and checking internally for the feature to filter users within administrative unit.

Changes will be reflected in the document after author's

[2022-09-05 06:45] pejub commented on #97491
It would be good to have the information that Sweden Central isn't supported for linking automation account to log analytics workspaces.

[2022-09-05 06:48] PriyankaRudramaina commented on #97227
@susegrant,
I have assigned the issue to the content author to investigate further and update the document as appropriate. Thanks for the feedback once again.

@rdeltcheva,

Could you please review this and update the document as required. Thanks

[2022-09-05 06:48] PriyankaRudramaina commented on #97228
@susegrant,
I have assigned the issue to the content author to investigate further and update the document as appropriate. Thanks for the feedback once again.

@rdeltcheva,

Could you please review this and update the document as required. Thanks

[2022-09-05 06:49] PriyankaRudramaina commented on #97229
@susegrant,
I have assigned the issue to the content author to investigate further and update the document as appropriate. Thanks for the feedback once again.

@rdeltcheva,

Could you please review this and update the document as required. Thanks

[2022-09-05 07:17] MughundhanRaveendran-MSFT commented on #97852
@3ummerW1nd , Unfortunately I dont see another way apart from rewriting the MyTaskHub name in the ARM template.

[2022-09-05 07:35] 3ummerW1nd commented on #97852
@MughundhanRaveendran-MSFT, I'm trying to use "reference" to read the runtime MyTaskHub value in app settings in my template. Isn't this gonna work?

[2022-09-05 07:38] MughundhanRaveendran-MSFT commented on #97852
@3ummerW1nd , thanks for pointing it out. References in the ARM template would work, there wont be a need to change the ARM template. The value would remain the same and it would change during the swap operation

[2022-09-05 07:58] bobsun0917 opened #97983 "Is this feature available in Azure China？"
[Enter feedback here]
Is this feature available in Azure China？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Use tenant restrictions to manage access to SaaS apps - Microsoft Entra](https://docs.microsoft.c

[2022-09-05 08:06] chi3f10 opened #97984 "Groups get deleted at site level"
Hi Team,

I was wondering if an extra point can be added to the "Connector limitations" section please: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassian-cloud-provisioning-tutorial#connector-limitations

**Please add something like this:**
When a group is synced and then removed from the sync scope, the corresponding group is deleted from the Atlassian provisioning direc

[2022-09-05 08:17] PriyankaRudramaina commented on #97283
@sundeeplella,
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@palma21- We don't have steps/commands to use for disabling OIDC Issuer. can we get that added as the above use case don't work.

[2022-09-05 08:20] PriyankaRudramaina commented on #97370
@mosbahmajed, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-05 08:22] AnuragSharma-MSFT commented on #97980
@LifeRyuto Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-09-05 08:24] chieh1127 opened #97985 "<RI is not supported for self-serve transferring>"
[Enter feedback here]
Hi,

There are two issues in this public doc, would you please help to review and update if required?
Thank you for your supporting.
1. [Product transfer support]
It's mentioned self-service RI transferring is supported, but there's no such option in Azure portal. It's appreciated if the instructions of RI transferring are attached.
![image](https://user-images.githubusercont

[2022-09-05 08:33] PriyankaRudramaina commented on #97437
@ToruMakabe,

You could use API server authorized IP ranges with NAT Gateway, by doing so, we need to add the NAT Gateway's IP into the authorized IP ranges list. AFAIK, the priority of the outbound IP is Nat gateway> Node IP> Load Balancer.

![image](https://user-images.githubusercontent.com/95755055/188405069-e05930bb-681a-4aa6-92a3-778ab9adb2aa.png)

If you run in to any issues, please raise a

[2022-09-05 08:35] ciufudean commented on #97933
Yes, the same case for a 2nd dashboard.
I personally created and exported the 2 dashboards.

Lucian

On Sat, Sep 3, 2022 at 2:51 AM SatishBoddu ***@***.***> wrote:

[2022-09-05 08:35] AjayBathini-MSFT commented on #97983
@bobsun0917
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 08:37] #97655 closed

[2022-09-05 08:38] AjayBathini-MSFT commented on #97984
@chi3f10
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 08:39] KrishnaG-MSFT commented on #97491
@pejub Let me check with product team if such specific Note's can be added to documentation or not and get back to you as I hear from them.

[2022-09-05 08:44] YutongTie-MSFT commented on #97821
Hello @darwin-xu

Could you please send me an email at Azcommunity@microsoft.com with your Azure Subscription ID?

From doc point, I will close it at this moment since we have nothing to do with doc now.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-09-05 08:44] #97821 closed

[2022-09-05 08:45] AjayBathini-MSFT commented on #97985
@chieh1127
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@bandersmsft
Please review it

[2022-09-05 08:48] shaktisingh-msft commented on #97888
Hi @xdhunt ,

As I understand your ask, you want to know the documentation link for password policy Azure Database for PostgreSQL.
Please correct me if I understand differently.
Here is the link : [https://docs.microsoft.com/en-us/cli/azure/postgres/server?view=azure-cli-latest#az-postgres-server-create-optional-parameters](url)

I hope this will help. Do let us know if you need any other informat

[2022-09-05 08:56] PriyankaRudramaina commented on #97797
@beifeng2744,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-05 09:09] AnuragSingh-MSFT commented on #97933
@ciufudean, thank you for bringing it to our attention. I tested and found out that the "id" field is not available in the exported definition of dashboard from the portal. When it is imported back to Azure portal, the id is assigned by the azure platform itself.

To answer your question, only the dashboards which are in **shared** state reside as azure resources in the resource group. The private

[2022-09-05 09:21] archeon1004 opened #97987 "Auto update feature URL's missing"
Hi,

The Azure AD password protection proxy requires access not only to two mentioned URLs in the document but to at least one autoupdate.msappproxaxy.net to be able to use the functionality of auto-upgrade. Without that there is an event which shows that auto update is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-09-05 09:28] ShubhamJain1992 opened #97989 "404 on the link - Sources of data in Azure Monitor"
The link provided gives a 404
![image](https://user-images.githubusercontent.com/57885721/188416812-c6fc1066-b4cc-441b-a487-2677cdacaf50.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82867980-312e-c4b2-7963-3367e674d66f
* Version Independent ID: 20f117fc-9d38-7801-1c1a-a946e9efb321
* Content: [Azure Monitor Logs

[2022-09-05 09:41] norregaard commented on #97861
(I replied via email but it looks like the reply wasn't added to the ticket, will paste it below as well):

Hi,

Yes, the API gateway endpoint is listed in the doc.
However - it is missing the Subresource information.
In the first column called "Private link resource type / Subresource" in the doc you both have the name of the PaaS service but also the Subresource name after the "/". I have marked

[2022-09-05 09:44] SwathiDhanwada-MSFT commented on #97673
@risa3110 Thanks for your dedication to our documentation! We've created an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary.

[2022-09-05 09:44] #97673 closed

[2022-09-05 09:46] TobiTh opened #97990 "Checking client certificate in policies requires clients to adjust TLS config"
When I started to check the client certificate (via reading `context.Request.Certificate`), the clients needed to adjust their tls configuration. The clients are golang http implementations and they received the following error: `local error: tls: no renegotiation`.
I did not change the certificate negation flag on the default domain. This feature is currently of as we are using only http (not htt

[2022-09-05 09:48] v-amallick commented on #97405
Hi @alexmiloev ,

We have recently updated the article with a note asking to upgrade the MARS version to the latest - version 2.0.9249.0 .

This is because the MARS version that is included in MABS package is old; for a successful registration or to avoid any error during registration, the latest version is needed. We will soon include the latest version in MABS package.

Hope this will help you.

[2022-09-05 09:48] #97405 closed

[2022-09-05 09:54] AnuragSingh-MSFT commented on #97350
@LarsKemmann, I am sorry for the delayed response. The reason for setting `skipFirstRun` to `True` by default is to mimic more closely the way the non-hook version works. With `useEffect` hooks the effect is triggered on each value update _including_ the initial setting of the value, meaning we would fire off too early and potentially have unwanted events tracked.

More more details, please see [I

[2022-09-05 10:33] ToruMakabe commented on #97437
@PriyankaRudramaina Could you please specify that NAT Gateway with API server authorized IP ranges is possible? If you specify that the combination is possible on this doc, I think it will be helpful for many users in the future. And I think that's part of improving the documentation. Thanks!

[2022-09-05 10:33] ciufudean commented on #97933
Thanks.
Then I suppose the doc needs to be corrected with respect to the id.

Another thing is that I navigate to my Azure portal home, I am looking at
all my resources and I cannot see these shared dashboards. The only one I
am seeing is one created by Application Insights.
How come?

Lucian

On Mon, Sep 5, 2022 at 12:09 PM Anurag Singh ***@***.***>
wrote:

[2022-09-05 10:41] SudeshnaB1902 opened #97991 "Need doc update for Disabled and Receive Disabled - Need more clarity on statements"
[Enter feedback here]

Customer concern is that if Disabled and ReceiveDisabled works same way, then document should be updated accordingly.  ReceiveDisabled says it will throw exceptions but Disabled doesnt says though.

Also, if both works for same usage/purpose, then why we need both the Status? Disabled and ReceiveDisabled under Subscription Status.
 Content Source: [articles/service-bus-messa

[2022-09-05 11:26] madsd commented on #97892
@mccoyer001 The section you are referencing is about **Gateway-required** virtual network integration. Can you confirm that this is also what you are referencing for this change?

[2022-09-05 11:33] mimshavandi opened #97992 "Can't create container with dedicated throughput"
Hi,
I'm trying to create a container with dedicated throughput, but I'm facing the following Error:

**Error while creating container defects:
 Service is currently unavailable. More info: https://aka.ms/cosmosdb-tsg-service-unavailable
ActivityId: 6d8b6e57-0d2c-402b-9325-f7995e29097d, Microsoft.Azure.Documents.Common/2.14.0, Microsoft.Azure.Documents.Common/2.14.0, Microsoft.Azure.Documents.Commo

[2022-09-05 11:36] AjayBathini-MSFT commented on #97989
@ShubhamJain1992
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@guywi-ms
Please review it.

[2022-09-05 11:40] AjayBathini-MSFT commented on #97990
@TobiTh
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 11:44] AjayBathini-MSFT commented on #97991
@SudeshnaB1902
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 11:53] AjayBathini-MSFT commented on #97992
@mimshavandi
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-05 12:04] sarah026 commented on #97400
@AbdullahBell Hi, any update on this please?

[2022-09-05 12:08] heldersousa-planetpayment opened #97994 "Non-existent Built-In Roles"
Hello,

This page https://github.com/MicrosoftDocs/azure-docs/blob/c0d21de837d50b535b307a88a521aa7dc53e6c80/articles/cosmos-db/how-to-setup-rbac.md#built-in-role-definitions says there are 2 built-in roles but those roles don't exist in my Cosmos DB Account.

**Docs:**
![image](https://user-images.githubusercontent.com/107053506/188443949-4e366f10-cd5b-4dd3-9c0a-afe906f61728.png)

**Cosmos DB Acco

[2022-09-05 12:13] SwathiDhanwada-MSFT commented on #97106
@bnitelf  Can you please elaborate what you mean by hostname calling migrate api ?

For more information on API, refer [this document](https://docs.microsoft.com/en-us/rest/api/loganalytics/tables/migrate?tabs=HTTP).

[2022-09-05 12:24] santo2 commented on #96883
Hi :-)

[2022-09-05 12:39] AzeepatAZP opened #97995 "Restore"
"If you've made changes to the Azure portal settings and want to discard them, select Restore default settings from the top of the settings Overview pane".

It should be changed to "My information", then Resore default settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47010f4d-7d5e-c26d-4b9f-066d510c5f35
* Versi

[2022-09-05 12:42] weitang-work commented on #85024
definitely need this feature!

[2022-09-05 12:43] a2741890 commented on #85024
Definitely need this feature!

[2022-09-05 13:11] casambi-vesa opened #97996 "Azure Resource Monitor crashes while browsing "providers""
Trying to carry out the instructions for finding out outbound IP addresses for Azure Function, the instructions listed here:
https://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses?tabs=portal

As part of the instructions, I'm asked to use Azure Resource Monitor.

Every time I open the "providers" node under any of our subscriptions, the web page load for a few seconds (about 5-10 secs

[2022-09-05 13:22] timoklimmer opened #97997 "GPU memory sizes unclear"
It's unclear how much memory the GPUs built into the machines actually have. It would be better if you provided the total GPU memory size per VM size, as well as the GPU memory size per GPU. Not sure about the other articles -- the issue might apply there, too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abf13994-0a

[2022-09-05 13:45] mimshavandi commented on #97992
Hi @AjayBathini-MSFT , thanks for your reply. here you find the relevant documentation:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-provision-container-throughput?tabs=dotnetv2

[2022-09-05 13:54] samisokok commented on #95498
Hi I also came across on this question recently, would like to know any follow up on the issue?
As I am not sure if it is approriate to use the legacy API key of GCM but it seems the Azure Notification Hubs only supports the legacy API way.
It is very dissappointed that the new API of FCM could not be supported in Azure service.

[2022-09-05 14:24] michalmoravek opened #97998 "Docker Compose on Azure App Services currently has a limit of 4,000 characters at this time."
This statement is not true! The limit is less then 4000 characters.
Currently I have docker compose having 3498 characters and still are not able to deploy it. :-(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d385179-7730-3b99-aff6-75491deb070a
* Version Independent ID: 7da429ea-5421-9d99-3e7c-af1b3fee5ca8
* Content

[2022-09-05 14:58] xdhunt commented on #97888
According to the documentation, it is only possible to enforce password complexities to Administrator users. About the other users, is there some policy that I can enforce the password for them ?

[2022-09-05 15:43] SuperGraham commented on #97959
When I scan the QR code with a a QR reader app instead of the Microsoft Authenticator app, I see the following.
https://beta.eu.did.msidentity.com/v1.0/tenants/<tenant-id>/verifiablecredentials/issuanceRequests/<request-guid>

Does the fact the FQDN is beta.eu.did.msidentity.com instead of verifiedid.did.msidentity.com make any difference?

[2022-09-05 15:43] YashikaTyagi-MSFT commented on #97995
@AzeepatAZP
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 15:50] YashikaTyagi-MSFT commented on #97996
@casambi-vesa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 15:57] YashikaTyagi-MSFT commented on #97997
@timoklimmer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-05 16:13] Reisclef commented on #95498
As an update, I raised a support case with Azure support. They said they passed it to their engineering team, but couldn't provide me with any kind of reference.

There seems to be a way to enable the legacy api manually via firebase, but not sure how long it will be available.

[2022-09-05 17:51] shoyer089 opened #98000 "Wrong subnetting"
Hello

it appears that the subnet calculation in step 3 of "View details of a security rule" is wrong. The page states that: "One of the prefixes in the list is 12.0.0.0/8, which encompasses the 12.0.0.1-15.255.255.254 range".

That is wrong 12.0.0.0/8 means a range of 12.0.0.1 to 12.255.255.254.

The relevant Ip range which IP 13.107.21.200 is hitting is 13.104.0.0/13.

Thank you for checking.

S

[2022-09-05 18:06] sanderdewit opened #98001 "Missing information to setup tenantrestrictions policies"
The tenantrestrictions.admx that is delivered as part of Windows mentions the following;
"This setting enables and configures the device-based tenant restrictions feature for Azure Active Directory.

When you enable this setting, compliant applications will be prevented from accessing disallowed tenants, according to a policy set in your Azure AD tenant.

**Note: Creation of a policy in your home

[2022-09-05 18:56] #97780 closed

[2022-09-05 18:57] AjayKumar-MSFT commented on #97780
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thank you!

[2022-09-05 19:28] bmcder opened #98002 "Suggested improvement re HRWs and managed identities"
You should change this part to make it clearer.

From this:

There are two ways to use the Managed Identities in Hybrid Runbook Worker scripts. Either the System-assigned Managed Identity for the Automation account OR VM Managed Identity for an Azure VM running as a Hybrid Runbook Worker.
Both the VM's User-assigned Managed Identity or the VM's system assigned Managed Identity will NOT work in an

[2022-09-05 21:26] LarsKemmann commented on #97350
Also, if the correct way to use your library is found in an external blog post that's not at least highlighted in your documentation, you might want to consider that as an indication that your documentation needs updating. 😉

[2022-09-05 21:46] #97855 closed

[2022-09-05 21:47] ChaitanyaNaykodi-MSFT commented on #97855
Hello @ssmiller60, Thank you for your feedback, I have updated the document and it will go live soon.

[2022-09-05 23:59] TonyMajorDev opened #98008 "Invalid C#"
.setProperty should be capitalized: .SetProperty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78570cba-ca4f-3c6e-9f87-f93694278052
* Version Independent ID: 881e5dc0-daa3-4847-b2eb-069437df2a75
* Content: [How to recognize speech - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cog

[2022-09-06 00:22] Nustinian opened #98009 "TCP 514? UDP 514?"
the page says TCP 514 in a few places, but I think it should be UDP 514?
UDP 514 seems standard for syslog, and the Sentinel data connectors also seem to specify UDP 514. only this page says TCP 514.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d7305f14
* Version Independent ID: 000c1405-b

[2022-09-06 00:30] lbimsft opened #98010 "To see signature rule at least contributor role permission"
[Enter feedback here]
Hello Team,

To see IDPS signature rules we need contributor role permission. if we only have reader permission, we will see 403 forbidden when fetch the data as it's a POST call not a GET call. May I know if we can add this in the FQA or somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2022-09-06 01:00] catmanjan opened #98011 "kubectl get service sample --watch: EXTERNAL-IP never appears"
I've followed the tutorial and waited 10+ minutes but the EXTERNAL-IP for the service hasn't appeared

Is this tutorial out of date? FYI I followed the Windows2022 SKU section in the guide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2195f059-1bdc-c17c-6a28-2055d94c43d4
* Version Independent ID: ac604c37-afc8-848f-c3

[2022-09-06 01:12] catmanjan commented on #98011
I see now that running `kubectl get nodes -o wide` is returning my local kubernetes - how do I swap to use my Azure kubernetes? I've followed all the steps here https://docs.microsoft.com/en-us/azure/aks/learn/quick-windows-container-deploy-cli#connect-to-the-cluster

[2022-09-06 01:38] chriswue opened #98013 "Missing docuemtnation for error code AADB2C90073"
Missing documentation for code AADB2C90073:

KeyContainer with 'id': '{0}' cannot be found in the directory '{1}'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd9c64ff-5065-9a2b-4965-c48685482fe1
* Version Independent ID: 3ff9871f-d28d-b752-750e-1142556ec8cb
* Content: [Error code reference - Azure AD B2C](https://do

[2022-09-06 02:32] HaochenQ opened #98016 "Adding explanation on how to add startup command."
Hi Team,

This is a suggestion on the tutorial :Quickstart: [Create a WordPress site - Azure App Service.](https://docs.microsoft.com/en-us/azure/app-service/quickstart-wordpress) regarding how to add custom startup command.

I noticed that this document doesn't mention how to use startup command with the provided image.

I learned from [Azure-App-Service/ImageBuilder](https://github.com/Azure-App

[2022-09-06 02:44] KapilAnanth-MSFT commented on #98000
@shoyer089, Thanks for your feedback. We shall review this and get back to you shortly!

[2022-09-06 02:50] YashikaTyagi-MSFT commented on #97856
@rbWies
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-06 02:50] #97856 closed

[2022-09-06 02:53] KapilAnanth-MSFT commented on #98010
@lbimsft, Thanks for your feedback. We shall review this and get back to you shortly!

[2022-09-06 03:03] kongou-ae opened #98017 "Need a reference to Azure Monitor Metrics in "Firewall requirements""
Hi

The table of "Firewall requirements" needs a reference to Azure Monitor Metrics as same as the reference of private link. Because AMA accesses to "<azureregion>.monitoring.azure.com" if customers use Azure Monitor Metrics. If customer configures their firewalls based on this table, their firewalls may lack "azureregion.monitoring.azure.com".

Best regards.

---
#### Document Details

⚠ *Do not

[2022-09-06 03:21] ZeffyReport opened #98018 "Update of typo in instructions"
In section 'Configure Azure AD SSO', section 4 c, the first identifier listed needs to be updated from
https://cxone.niceincontact,com/<guid> to https://cxone.niceincontact,com/<guid>

Note the typo of ',' instead of '.'
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd5b644-622a-f65a-0651-4618dadb659c
* Version Indepe

[2022-09-06 03:53] virkoth commented on #97859
Please find below the link of reference.

https://docs.microsoft.com/en-us/answers/questions/988316/parameter-in-data-flow-sql-query.html

[2022-09-06 04:03] YashikaTyagi-MSFT commented on #98001
@sanderdewit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:03] SwathiDhanwada-MSFT commented on #97442
@cenkersoy Thanks for the feedback! Requested changes are updated. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-09-06 04:03] #97442 closed

[2022-09-06 04:07] YashikaTyagi-MSFT commented on #98002
@bmcder
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-06 04:09] AjayKumar-MSFT commented on #98016
@HaochenQ, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-09-06 04:10] YashikaTyagi-MSFT commented on #98008
@TonyMajorDev
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:16] YashikaTyagi-MSFT commented on #98009
@Nustinian
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:17] xieofxie opened #98020 "Does application registration support `Authorized client applications` in Azure B2C?"
Under the 'Expose an API': The document didn't say it is supported or not but it is not shown in B2C

![image](https://user-images.githubusercontent.com/2876650/188545903-5ed795c7-80da-4816-bb1a-ba1b6e57ace9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c8fa6f-39b4-6251-1686-224be100bcb4
* Version Independent I

[2022-09-06 04:19] YashikaTyagi-MSFT commented on #98011
@catmanjan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:22] YashikaTyagi-MSFT commented on #98013
@chriswue
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:24] YashikaTyagi-MSFT commented on #98017
@kongou-ae
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:28] YashikaTyagi-MSFT commented on #98018
@ZeffyReport
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:30] YashikaTyagi-MSFT commented on #98020
@xieofxie
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 04:31] AnuragSingh-MSFT commented on #97350
@LarsKemmann, thank you for the feedback. I have submitted a PR to get the doc corrected which is under review. Once approved, the details should be reflected in the doc as well.

[2022-09-06 04:32] #97910 closed

[2022-09-06 04:47] AjayBathini-MSFT commented on #97992
@GeethaThatipatri-MSFT

Please review it.

[2022-09-06 04:59] MayankBargali-MSFT commented on #97951
@ebwinters Just following up here. Hope my previous comment clears things up.

[2022-09-06 05:10] AnuragSingh-MSFT commented on #97933
@ciufudean, thank you for the reply. Regarding the doc update, I will submit this feedback to the respective team for review.

Regarding your other questions of not being able to see shared dashboards, I could not understand the question. However, I will try to share some insights below, based on my limited understanding. Please share additional details (_with supporting screenshots, if the inform

[2022-09-06 05:29] g0pinath opened #98022 "Examples for Creating Credentials in Data Factory"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/data-factory/credentials?tabs=data-factory
This document says that its possible to create the credential reference using REST/PowerShell. Can you please give some examples or link that points to the automation steps.

I have tried looking into PS cmdlets and the SDK and this doesnt seem possible.

---
#### Document Details

⚠ *Do not edi

[2022-09-06 05:29] AnuragSingh-MSFT commented on #97995
@AzeepatAZP, thank you for the feedback. I have submitted a PR to get it corrected. Once approved, it should start reflecting in the referenced doc.

[2022-09-06 05:45] shaktisingh-msft commented on #97888
Hi @xdhunt,

I am checking this internally, will update you about it.

[2022-09-06 05:51] CESANU commented on #97822
Hey there,
We've added a note under the ["Disable specific findings from Microsoft Defender for Cloud"](https://docs.microsoft.com/en-us/azure/azure-sql/database/sql-vulnerability-assessment?view=azuresql&tabs=azure-powershell#disable-specific-findings-from-microsoft-defender-for-cloud-preview) section describing this limitation.
Thanks for the feedback!

[2022-09-06 05:53] YashikaTyagi-MSFT commented on #98020
@xieofxie
I reviewed your issue, tried to repro the issue and according to my finding application registration does not support Authorized client applications in Azure B2C in present time.

[2022-09-06 05:56] neeranelli opened #98023 "Incorrect names for Dynamics 365 and Omnichannel for Customer Service"
Hello,

In the following section heading, the reference to Omnichannel for Customer Service is incorrectly used. It should be "Omnichannel for Customer Service".

Also, the style guide guideline says, "Don't shorten to just Omnichannel or form acronyms from the name." Therefore, instances to "OC" and any other nonconforming terms should be addressed.

More information: [Omnichannel for Customer Se

[2022-09-06 06:06] MughundhanRaveendran-MSFT commented on #97852
@3ummerW1nd , I am closing this issue, feel free to reopen if you have any questions or concerns

[2022-09-06 06:06] #97852 closed

[2022-09-06 06:44] ethanhou99 opened #98024 "Unclear considerations before applying lock for the Log Analytics workspace"
[Enter feedback here]
Hi,

I found the following considerations for the Log Analytics workspace are unclear:
![image](https://user-images.githubusercontent.com/43047951/188564500-fc60e60b-35f1-4044-92c0-0e41946c0487.png)

Questions:
1. Do we have Delete-only lock? It might be cannot-delete lock?
2.  What the meaning of this sentence: `remove the [data purge](../../role-based-access-control/built-i

[2022-09-06 06:53] m-yuka746 commented on #97900
@KrishnaG-MSFT I assume that the description misleads us.
You mean that when we create webhooks, a default Expires is 1 year and we can set it up to 10 years.
But I would understand the sentence means that ”When a webhook is created, Expires is 10 years by default", because it says "When a webhook is created".

[2022-09-06 07:26] KrishnaG-MSFT commented on #97900
@m-yuka746 Okay. If the description is misleading then let me update the sentence

From:

To:

Also, I will add below note at the end of 'Update a webhook' section for other readers to easily understand that the max expiration time period i.e., validity time period that a webhook can have is 10 years.

[2022-09-06 07:37] m-yuka746 commented on #97900
@KrishnaG-MSFT Great! It is easy to understand. Thank you very much.

[2022-09-06 07:42] shaktisingh-msft commented on #97888
Hi @xdhunt,

Thanks for your patience.
For Other Users, it is recommended to use Azure Active Directory(AD) to achieve any password policy based on the requirement.
Link : [https://www.postgresql.org/docs/11/sql-createuser.html](url)
For instance, for password expiration (non ad users) they can create/alter users with "valid until" option.

Hope this helps. Please let us know if any further querie

[2022-09-06 07:46] dcurwin commented on #96151
@Givary @amanmcse  - This issue was closed but the tutorials have not been updated. Please either reopen this issue or direct me to the ticket where I can follow the progress of this request.

[2022-09-06 07:50] howlieT opened #98025 "Dead links on page"
None of the links to writing and deploying functions in python are working, they just lead to a blank page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https:

[2022-09-06 07:58] ggailey777 commented on #98025
Thanks @howlieT, can you provide an example of a specific link that isn't working so we can investigate?

[2022-09-06 08:26] KapilAnanth-MSFT commented on #98010
@lbimsft, I am able to reproduce this in my Lab.
I see users with Read Access are unable to view the Rules under IDPS.

I have assigned the thread to the author
@vhorne, Please review this and update the docs accordingly.

[2022-09-06 08:38] samuel-weber commented on #97803
@MughundhanRaveendran-MSFT - The issue is about this page https://docs.microsoft.com/en-us/azure/connectors/connect-common-data-service?tabs=consumption

![image](https://user-images.githubusercontent.com/7022900/188588295-b874d316-f9ac-473b-925a-7b69a36139ca.png)

[2022-09-06 08:46] howlieT commented on #98025
@ggailey777 Sure thing! These just load to a blank empty page for me:
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-python
https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python

[2022-09-06 08:50] Juanito99 opened #98026 "Please provide example code also in Powershell"
Please provide example code also in Powershell. - My Azure functions are all written in PS.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec838379-f1fa-0cab-ff31-3bb1b30a7ccc
* Version Independent ID: e2571455-af0a-19f6-799c-ea09ae602680
* Content: [Quickstart for Azure App Configuration with Azure Functio

[2022-09-06 08:53] FlorianBorn71 commented on #97903
Thanks @chris-han for the feedback! I have improved this documentation by mentioning pairing as a prerequisite step.
Cheers!
Florian Born

[2022-09-06 08:53] j-mantu commented on #95546
@4ttedertlf We will consider adding the sample in future. At the moment the http call provides access without the limitation of having to install the graph sdk

[2022-09-06 08:59] SwathiDhanwada-MSFT commented on #98024
@ethanhou99 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-09-06 09:01] xieofxie commented on #98020
@YashikaTyagi-MSFT Do we have an ETA for supporting this? Thanks~

[2022-09-06 09:11] YashikaTyagi-MSFT commented on #98020
@xieofxie
I am not sure about the ETA.
You can post your idea/Feedback on the given link and product team will be working onboarding this feature in future releases.
https://feedback.azure.com/d365community

[2022-09-06 09:24] ManoharLakkoju-MSFT commented on #97947
@Gargi-Sinha
Please review this.

[2022-09-06 09:29] yelevin commented on #98009
@YashikaTyagi-MSFT Thanks for your question!
A Google search for "syslog over tcp" shows several sources including IETF (RFC) indicating longstanding common and acceptable use of syslog over TCP ports, both 514 and 6514 (for TLS), in addition to the original UDP 514. The RFCs for Syslog itself are descriptive rather than prescriptive in this regard. Use of TCP instead of UDP ensures that log messa

[2022-09-06 09:31] yelevin commented on #98009
@Nustinian @YashikaTyagi-MSFT  I'll consider this issue closed, but please feel free to comment further.
#please-close

[2022-09-06 09:31] #98009 closed

[2022-09-06 09:35] joteromontes opened #98028 "Application Gateway + Private Endpoint for Keyvault + Custom DNS Server"
Hello team,

It will be needed to include in our documentation the fact that the Application Gateway is hardcoded to use some domains without honoring the custom DNS server configuration, causing the following scenario:

When using privatelinks/private zones like: ​something.privatelink.web.core.windows.net. AppGW will be seen using public endpoint resolution even though there are custom DNS serve

[2022-09-06 09:38] #98020 closed

[2022-09-06 09:53] bilal697 commented on #95847
Hello, can you guide how to run the camera for classifier module using cameracapture module

[2022-09-06 09:57] bilal697 opened #98030 "CameraCapture Module"
Hi,

How to run the camera for classifying the objects using cameraCapture module. I am trying to follow this tutorial on PC but unfortunately no luck.  https://github.com/Azure-Samples/Custom-vision-service-iot-edge-raspberry-pi

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d10bd923-e9e2-3958-a9b9-1baac169b308
* Vers

[2022-09-06 10:29] mpoeckl commented on #83684
@RonyMSFT, it would be very important to update the docs as stated by [yuharucan]. Users are constantly running into issues with DEP because they were not aware of the limitations when activating DEP during the workspace creation because the limitations are not well documented (in a single place).
Additionally, Purview lineage doesn't seem to work with DEP-enabled workspaces either (the Azure IR c

[2022-09-06 10:48] MughundhanRaveendran-MSFT commented on #97996
@casambi-vesa , Yes I too experience the same error. Let me check this with the concerned team and get back to you

[2022-09-06 10:55] wrobelda opened #98032 ""Overview of the Azure Compute Unit" misleading in terms of instances that support nested virtualization"
The  [Overview of the Azure Compute Unit - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/acu) is often quoted as the ultimate list of the instances which support nested virtualization. All of the units currently listed there are at most v4 generation. However, just taking the [Easv5 and Eadsv5-series](https://docs.microsoft.com/en-us/azure/virtual-machines/easv5-e

[2022-09-06 10:58] thommck opened #98033 "Lockout and PTA"
This section is so confusing to read and I believe it also has an error:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-smart-lockout#:~:text=When%20using%20pass,Azure%20AD%20accounts.

Original text (emphasis mine):

The names of these settings are so long it makes it hard to follow. I also think were it says  AD DS **reset account lockout counter after dura

[2022-09-06 11:05] ManoharLakkoju-MSFT commented on #98018
@ZeffyReport
Thanks for your contribution for enhancing the documentation. We have Performed the Pull request, once it get approve by the author changes will reflect

[2022-09-06 11:14] MughundhanRaveendran-MSFT commented on #97976
@coateds , Could you please use the latest version of the function core tools?

https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#v2

[2022-09-06 11:56] bmansheim commented on #97177
@itguysocal Haven't forgotten this.

[2022-09-06 12:19] #95025 closed

[2022-09-06 12:26] Pirognoe opened #98034 "Snippet failing with error below"
Hello there!

Thanks a lot for sharing this article, however I came across the following issue:

Having Python background the Scala code is kinda new to me and when I've run the snippet to list the filees against our ADLS storage I got the following problem

So I've decided the issue is in the file path and mounted the same abfss path as a mnt point, which led me to another issue

My cluster/noteb

[2022-09-06 12:28] auwi987 commented on #23934
I'm getting the same issue.. on my end, I'm trying to spin up a VM from an existing managed OsDisk via Az CLI. the original VM where OsDisk previously tied up has 12 VM extensions. now the error is giving me the impression that once you spin this, any extension from the previous VM via Az CLI script will automatically be included in the VM creation. but on portal, this is not a problem because it

[2022-09-06 12:34] larryclaman opened #98035 "Improvement suggestion: remove link to reshifter"
This article suggests using reshifter https://github.com/mhausenblas/reshifter as a migration tool.  However, the reshifter github site has been archived by its owner and has not had an update since 2018.
As it's been deprecated / abandoned, I suggest removing the link from this article.
(I would be happy to submit the PR if I get the ok)

---
#### Document Details

⚠ *Do not edit this section. It

[2022-09-06 12:39] dolevelbaz opened #98037 "Move Front Door manager (classic) section to new page"
The page nicely describes the "Front Door manager" settings view available only for AFD Standard/Premium offerings. Also, the page is located accordingly in the side menu hierarchy.

However, the section about "Front Door manager (classic)" seems to be misplaced since it describes the classic offering. IMHO it should be under "Classic" -> "Front Door designer" (new page) in the side menu. After mo

[2022-09-06 12:42] AshokPeddakotla-MSFT commented on #97802
@petoor Are you saying Debian file is not available on https://packages.microsoft.com/debian/ ? or by running the command **sudo apt-get install deviceupdate-agent** is not downloading the package?

[2022-09-06 12:49] chrisk314 opened #98038 "Improve clarity of Postgres AAD login instructions when using an AAD Group"
I think it could be made more clear that the name of the AAD Group should be specified as the `--user` argument for `psql` when using an AAD Group as the Active Directory admin. This applies to other passages within the same documentation page. This tripped me up a bit as it wasn't clear how I should specify the username. Here's a few possibilities:
- as a member of the Active Directory admin AAD

[2022-09-06 12:53] chrisk314 commented on #98038
Closing as I just noticed this case is described later in the same documentation page. These two sections could really be consolidated.

[2022-09-06 12:53] #98038 closed

[2022-09-06 12:59] marishankar-msft opened #98039 "Screen shot has reference to 'Security Center' instead of 'Microsoft Defender for Cloud'"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb1c4c66-d581-f69a-91c4-3a68344ec5d0
* Version Independent ID: 41e63908-f308-6b35-f6be-6dea45770889
* Content: [Store Vulnerability Assessment scan results in a storage account accessible behind firewalls and VNets - Azure SQL Database](https://docs.m

[2022-09-06 13:02] marishankar-msft commented on #98039
![image](https://user-images.githubusercontent.com/68217473/188641952-7ae228cb-2301-4dd4-917f-9d4ce32f8fd3.png)

Appreciate if a new screen shot with 'Defender for cloud' can be uploaded. Thanks

[2022-09-06 13:07] mumurug-MSFT commented on #97684
@snerting You are welcome. Feel free to reach out to us anytime and thanks again.

[2022-09-06 13:07] #97684 closed

[2022-09-06 13:20] GitaraniSharma-MSFT commented on #98037
@dolevelbaz , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-09-06 13:21] mumurug-MSFT commented on #98025
@howlieT Thanks for your feedback. We are able to navigate to those links without issues now. Can you please validate from a different machine/network and let us know (if the issue persists)?

[2022-09-06 13:43] eyekelly opened #98040 "explicitly what does the permission do?"
[The page simply lists the permissions as shown on azure, it does't explicitly explain exactly what the outcome of applying the permission is.  what are "basic" properties? which properties? I've applied various permissions on to a custom role but nothing seems to have the desired effect judging by the title of the permission, a great deal more explanation is required about how to build a role.  I

[2022-09-06 13:49] ShaikMaheer-MSFT commented on #98022
@nabhishek Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-09-06 14:06] petoor commented on #97802
It might be avaiable but i for sure cant find it in https://packages.microsoft.com/debian/

Whats the path to the file?

[2022-09-06 14:08] saldagmac opened #98041 "Sample arm template file is wrong"
The sample ARM template is syntactically wrong; the parameters must be given defaultValues, not Values otherwise it just throws errors upon running it. On top of that, the '[parameters('appServicePlan_name')]' is not in fact substituting in the value at run-time, it produces the error 'property name cannot be null or empty', which is resolved when I hardcode in the appServicePlan_name value. This

[2022-09-06 14:13] ambarishprabhu opened #98043 "Job cluster custom tags do not propagate through to the managed resource group"
Job cluster custom tags do not propagate through to the managed resource group for job clusters:
![image](https://user-images.githubusercontent.com/38607522/188657307-a5d5e54c-e12f-44de-b948-c45c4de5bab4.png)
![image](https://user-images.githubusercontent.com/38607522/188657752-280a6f77-18ca-458a-ac0c-2e343f8e4589.png)
Tags are added via custom tags addition on the linked services
The tags we woul

[2022-09-06 14:32] howlieT commented on #98025
hi @mumurug-MSFT Looks like I can get there just fine from my phone (iOS safari) so it must be something specific to chrome at my end. I'll figure it out. Thanks for checking!

[2022-09-06 14:36] mbender-ms commented on #96719
Thanks for submitting the PR at @JohnBreault.

PR approved and signed off.

#please-close

[2022-09-06 14:36] #96719 closed

[2022-09-06 14:43] mumurug-MSFT commented on #98025
Sure, you are welcome. We are now proceeding to close this issue. Feel free to reach out anytime.

[2022-09-06 14:43] #98025 closed

[2022-09-06 14:43] YashikaTyagi-MSFT commented on #98026
@Juanito99
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 14:44] JoshWhiteTTD opened #98044 "call.api"
https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/user-facing-diagnostics#accessing-diagnostics

This doesn't work:
[code]

However this does:

[code]

Is this a typo?

I added this answer to SO after a bit of trial and error:
https://stackoverflow.com/a/73623614/3244751

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-09-06 14:47] YashikaTyagi-MSFT commented on #98032
@wrobelda
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 14:52] YashikaTyagi-MSFT commented on #98033
@thommck
Thanks for your feedback! We have assigned the issue to author and who will provide further updates.

[2022-09-06 14:54] YashikaTyagi-MSFT commented on #98034
@Pirognoe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 14:55] YashikaTyagi-MSFT commented on #98035
@larryclaman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 14:57] YashikaTyagi-MSFT commented on #98039
@marishankar-msft
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-06 14:59] YashikaTyagi-MSFT commented on #98040
@eyekelly
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 15:03] YashikaTyagi-MSFT commented on #98041
@saldagmac
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 15:07] YashikaTyagi-MSFT commented on #98044
@JoshWhiteTTD
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 15:11] whhender commented on #97828
@Edcorcor - Thank you for reaching out! We're working on this.

[2022-09-06 15:18] hofmannma opened #98047 "Linux disk resize commands"
[Enter feedback here]
The mentioned resize commands for partitions and filesystems need to be reviewed. They are - depending on the system used - incomplete.

1. When a gpt based partioning is used the gpt superblock backup need to be relocated. This is done with
sgdisk --move-second-header /dev/sda
2. Generally it is a good practices also to update the kernels partition table. This can be done wi

[2022-09-06 15:25] madsd commented on #97034
@cglaeser I am not aware of any changes. If @cachai2 does not know, I would ask you to create a support ticket.

[2022-09-06 15:31] SaiKishor-MSFT commented on #98047
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-09-06 15:35] mccoyer001 commented on #97892
Yes that is correct.

[2022-09-06 15:37] MarileeTurscak-MSFT commented on #98030
@bilal697
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 15:37] jjjohn538 opened #98048 "BLOB Trigger parameter in the Run Method Signature is not correct"
Maybe I missed it. I believe I read and re-read the instructions for following and replicating this tutorial. The BLOB Trigger in "Run([BlobTrigger("testblobs/{name}..." should be "imageanalysis/{name}".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6225e2-f996-0240-ec57-bb601e0e490d
* Version Independent ID: 02e61a

[2022-09-06 15:44] madsd commented on #93270
#please-close

[2022-09-06 15:44] #93270 closed

[2022-09-06 15:45] bandersmsft commented on #97985
@chieh1127 I'm looking into this with the Billing engineering team.

[2022-09-06 15:50] SametSahin10 opened #98049 "Setting up Verified ID should come before creating an access policy for Verifiable Credentials Service Request principal"
The step [Set up Verified ID](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-tenant#set-up-verified-id) should come before the step [Set access policies for the Verifiable credentials service request service principal](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-tena

[2022-09-06 16:17] saldagmac commented on #98041
@YashikaTyagi-MSFT Thank you! Just to let you know, I also tried using Ev2 CLI and am still seeing the same errors, so I don't think it's because of the PowerShell version inconsistency (Though that does still seem concerning)

[2022-09-06 16:19] SatishBoddu-MSFT commented on #97906
Hello @kudlatiger ,

Below is the response from Microsoft Product team, hope this helps with your initial query.

_the min TLS version is a supported feature only in certain regions, if you create the IoT Hub in those regions, you will get the TLS version on Portal (during creation only). The full fledged TLS rollout is being planned right now and should be done by end of year, we will then suppor

[2022-09-06 16:19] #97906 closed

[2022-09-06 16:25] BrianLevenson opened #98050 "Role for plan and offer creation (sales ops function)"
Hello! Can you help clarify which role is required to permit a user to create public plans, private plans, and private offers? I think it's Manager or Developer, although it's not specified on this page. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2da08699-fba1-f6c3-fb9e-3e18eb9ddcc4
* Version Independent ID

[2022-09-06 16:34] spelluru commented on #97642
#please-close

[2022-09-06 16:34] #97642 closed

[2022-09-06 16:35] SatishBoddu-MSFT commented on #98030
Hello @bilal697,

Thanks for the feedback!
We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would open an issue with your question on **Microsoft QnA** forum where there is a huge community that can help (plus th

[2022-09-06 16:36] spelluru commented on #97991
For a subscription, Disabled and ReceiveDisabled has the same effect.
For a topic, Disabled and SendDisabled has the same effect.
For a queue, Disabled = SendDisabled + ReceiveDisabled

[2022-09-06 16:41] spelluru commented on #97255
#please-close

[2022-09-06 16:41] #97255 closed

[2022-09-06 16:42] spelluru commented on #96399
#please-close

[2022-09-06 16:42] #96399 closed

[2022-09-06 16:54] ebwinters commented on #97951
@MayankBargali-MSFT I understand. Thanks for clearing that up. In my scenario, I might need the ability to make 1000+ consumption plan logic apps, each using the same managed ID, meaning I would hit both the limit of:
- 1000 consumption plan logic apps /sub/region
- 1000 logic apps using managed ID /sub/region

[2022-09-06 16:54] #97951 closed

[2022-09-06 16:56] JonathanFingold opened #98054 "Confidence range is incorrect (should be 0.0 to 1.0)"
Article claims the range is 0 to 100. Actual range should be 0 to 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d54e960-166d-b079-a408-3070949f76b6
* Version Independent ID: 09b3a22a-00db-0c5f-ca34-945efaf30c77
* Content: [Confidence score - question answering - Azure Cognitive Services](https://docs.microsoft.com

[2022-09-06 17:02] nitbhatt opened #98055 "App Gateway Redirection more info needed"
Can you include some information on >> 'Include query string' and 'Include path' Options

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c327ae28-e9cf-38cf-f4b5-db72d4a870c3
* Version Independent ID: 7cbbf426-829a-849f-b7fb-192073cd4ea9
* Content: [Redirect overview for Azure Application Gateway](https://docs.microsoft.

[2022-09-06 17:05] coateds commented on #97976
Just tried it again this morning and the error changed completely from yesterday without my changing anything. Now it is asking for framework 'Microsoft.NETCore.App', version '6.0.0'. After installing this on my VM (I installed the 'console' version), it now apparently works.

I suspect there was something wrong with the file at https://functionscdn.azureedge.net/public/ExtensionBundles/Microsoft.

[2022-09-06 17:07] spelluru commented on #97991
The doc is updated and it should go live around 3 PM PST today.

#please-close

[2022-09-06 17:08] #97991 closed

[2022-09-06 17:36] YutongTie-MSFT commented on #97922
@almudenaftourne Thanks a lot for pointing this out, I have reached out to the author for making it clear.

[2022-09-06 17:41] Digiroka opened #98057 "Available?"
This page lists Version **1.0.5100.1100** of the agent as current, however the only available download is **1.0.4739.1000**, which isn't even listed on this page - why isn't the current GA version listed and is **1.0.5100.1100** available?
https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell?tabs=azure-powershell#register-the-virtual-machines-to-the-azure-virtual-des

[2022-09-06 17:56] timothymeyers opened #98058 "Service Name Mismatches"
The Service Names in the tables on this page do not always match up with the Service Level hierarchy of names that is reported in the Azure Health Report, nor with the simplified Service Level Hierarchy used on the [Products By Region page](https://azure.microsoft.com/en-us/global-infrastructure/services/).

Some examples:
- Azure App Service is a sophisticated capability with lots of various SKUs

[2022-09-06 18:00] AbdullahBell commented on #97400
Hello Sarah and all, I am reviewing this question and will update you as soon as possible. Thank you.

[2022-09-06 18:10] alumriel opened #98059 "Could not load type 'System.Security.Cryptography.SHA256Cng'"
Windows 10, version 20H2, build 19042.1889
AzureADPreview module 2.0.2.149
Powershell 7.2.6

When running command "connect-azuread", I get the following error:

Connect-AzureAD: One or more errors occurred. (Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.): Could not load type 'System.Secur

[2022-09-06 18:15] alumriel commented on #98059
Update - "ConnectAzureAD" appears to work fine in Powershell 5.1.19041.1682

[2022-09-06 18:23] mumian commented on #97955
@abatishchev - thank you for your comments.  You are limited to 256 parameters.  It is documented in https://docs.microsoft.com/azure/azure-resource-manager/templates/best-practices#template-limits.  I will cross reference the two articles.  The parameter length limitation depends on the data types.  See https://docs.microsoft.com/azure/azure-resource-manager/templates/data-types.

[2022-09-06 18:40] YutongTie-MSFT commented on #98054
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-06 18:41] JamesTran-MSFT commented on #98059
@alumriel
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 18:44] kristapratico opened #98060 "PiPy -> PyPi"
Throughout the Cognitive Service for Language quickstarts for Python, it shows the link as `PiPy`. This should be `PyPi`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e957728b-f6a1-022f-5356-897c386b49e9
* Version Independent ID: dc0b887b-1470-5df2-1a6e-433669faed80
* Content: [Quickstart: Use the NER client library

[2022-09-06 19:07] AjayKumar-MSFT commented on #98016
HaochenQ, The document aims to outline steps on how to create and deploy WordPress site to Azure App Service on Linux using the WordPress on the Azure Marketplace.

The doc: [Azure App Service on Linux FAQ](https://docs.microsoft.com/troubleshoot/azure/app-service/faqs-app-service-linux#what-are-the-expected-values-for-the-startup-file-section-when-i-configure-the-runtime-stack) section outlines a

[2022-09-06 19:11] wrobelda commented on #98032
For the record, I actually tested it myself and it seems that AMD-based instances, while they report AMD nesting as functional, virtualize the L2 guests  extremely slowly, roughly 10% of the L1 performance. Switching to an equivalent Intel-based v5 instance, I see 90% of baseline performance in the same scenario. I am not sure if this is in any way related, but support for AMD nesting was only add

[2022-09-06 19:19] #97892 closed

[2022-09-06 19:20] DanielBirmingham opened #98061 "Incorrect Hyperlink Display Text"
Section 'What types of inter-directory provisioning does Azure AD support'

The hyperlink display text that links to the Azure AD Connect Cloud Sync documentation still uses the legacy name Cloud Provisioning.  The text should be updated from 'Azure AD Connect Cloud Provisioning' to 'Azure AD Connect Cloud Sync'

Update:  Also noticed 'Azure AD Connect Cloud Provisioning' used in the article's sec

[2022-09-06 19:20] mimckitt commented on #98032
Nested virtualization is not supported on the AMD instances. I pushed some updates to the docs to correct this feature being listed as supported this morning. They should go live sometime today.

[2022-09-06 19:20] madsd commented on #97891
I worked with Pablo offline to improve the docs. Changes has been published. #please-close

[2022-09-06 19:20] #97891 closed

[2022-09-06 19:22] PabloG-MSsupport commented on #97891
Thank you fo the help on this Mads! :)

[2022-09-06 19:25] wrobelda commented on #98032
That explains my frustration 😅 Thank you for your prompt response. One should, however, see AMD nesting to make it to Azure eventually, given what was mentioned about Windows Server 2022 hypervisor?

[2022-09-06 19:27] AjayKumar-MSFT commented on #96418
carlosumoh, apologies for the delay.  there could be many reasons for 502 errors , mainly if the backend health shows as 'unhealthy'.

To isolate the issue, checkout the suggestions outlined in this doc.

[application-gateway-troubleshooting-502](https://docs.microsoft.com/azure/application-gateway/application-gateway-troubleshooting-502)
[AKS troubleshooting](https://docs.microsoft.com/azure/aks/

[2022-09-06 19:30] mimckitt commented on #98032
I am not personally aware of our AMD instances roadmap in terms of support nested virtualization or not. That said, I can absolutely let our sizing team know we do have customers interested in that feature for AMD instances.

[2022-09-06 19:58] ecfan commented on #97529
Hi @ShingoHanai, are you using the HTTP action or a different action?

[2022-09-06 20:18] MasoudSamadi commented on #94491
@AnuragSingh-MSFT
Unfortunately the documentation is still not up to date.
Current issue: When trying to update an existing policy, we need to provide "PolicyId".
With get-help cmdlet the following information is provided:

**-PolicyId <Guid>**
        The unique GUID of the policy definition.
        **If you are trying to update an existing policy definition, then this ID must match the 'name'**

[2022-09-06 20:22] DanielBirmingham opened #98064 "Legacy 'Cloud Provisioning' Name Used"
There are 4 instances in this article where the legacy 'Azure AD Connect Cloud Provisioning' name is used instead of the updated 'Azure AD Connect Cloud Sync'.

1) ... ",and use either Azure AD Connect sync or Azure AD Connect
cloud provisioning to synchronize those users and groups from AD DS to Azure AD."

2) "Azure AD Connect cloud provisioning" hyperlink

3) "To learn more about the difference

[2022-09-06 20:38] JamesTran-MSFT commented on #98061
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 20:38] JamesTran-MSFT commented on #98064
@DanielBirmingham
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 20:44] JamesTran-MSFT commented on #98061
@DanielBirmingham
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/188734463-8ba6669b-8db5-42d8-abbe-9356ebb43f28.png)
![image](https://user-images.githubusercontent.com/36619112/188734488-f2c1fed7-c3e3-4646-8f1f-be56e2885635.png)

I will now

[2022-09-06 20:44] #98061 closed

[2022-09-06 20:54] YutongTie-MSFT commented on #97944
Hello @FrankMcGovern

Thanks for your feedback again. I want to let you I just forwarded this feedback to the author, since this is an mportant concept point, the content team will consider this feedback seriously.

Apreciate again.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue th

[2022-09-06 20:54] #97944 closed

[2022-09-06 21:06] JamesTran-MSFT commented on #98064
@DanielBirmingham
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-09-06 21:06] #98064 closed

[2022-09-06 21:23] ChaitanyaNaykodi-MSFT commented on #98055
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-06 21:32] urbndude opened #98066 "Correct idp-entity-id Value"
Hello, there is an issue in the page.  Per FortiNet's documentation here: https://docs.fortinet.com/document/fortigate-public-cloud/7.0.0/azure-administration-guide/584456/configuring-saml-sso-login-for-ssl-vpn-web-mode-with-azure-ad-acting-as-saml-idp

set -idp entity-id should be the Azure login URL, not the Azure AD Identifier.

![2022-09-06 16_29_14-Tutorial_ Azure AD SSO integration with Fort

[2022-09-06 21:35] GeethaThatipatri-MSFT commented on #97881
Hi @GithubMirek Can you please provide your inputs here

[2022-09-06 21:40] johndowns commented on #97965
@wilsonzlin This has been fixed in our internal system and should be live shortly. Thanks again for reporting this!

#please-close

[2022-09-06 21:40] #97965 closed

[2022-09-06 21:42] GeethaThatipatri-MSFT commented on #97992
Hi, @mimshavandi Thanks for reaching out, This is more of a troubleshooting question nothing related to document issues/changes, i would suggest asking in the Microsoft Q&A forum so one of our engineers will look into it.

[2022-09-06 21:45] kyleross-deckers opened #98067 "Incomplete example"
The sample application requires that AAD_ENDPOINT and GRAPH_ENDPOINT are set in the .env file of the sample app, but the quick start doesn't explain where to get these values.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cab84501-b6b5-d8ba-30d4-e3b1c6f6bbc1
* Version Independent ID: 11b8f284-55

[2022-09-06 21:46] nawoods opened #98068 "Can't find information about how <Endpoint Id="Token"> works"
The information regarding the <Endpoint> tag in the Relying Party docs page only talks about referencing a User Journey for the UserInfo endpoint, though (at least looking at the starter pack) there are other endpoints that can have User Journeys, like Token. Is there a help page for a Token flow? Is there anything special about the Token flow that a custom policy dev needs to consider (e.g. what

[2022-09-06 21:49] GeethaThatipatri-MSFT commented on #97994
@heldersousa-planetpayment Have you tried checking with Cosmos DB CLI commands
az cosmosdb sql role definition list --account-name $accountName --resource-group $resourceGroupName

[2022-09-06 22:22] sananoorani opened #98069 "Remove the a section from the documentation"
Hello! I'm the PM for provisioning on the Tableau side. I wanted to request that we remove the note in the documentation that says "The displayName attribute in Tableau Cloud will be mapped to the userPrincipalName attribute in Azure AD. When a provisioned user signs into Azure AD for the first time, they will be asked to create an account where they will need to enter in a first name and last nam

[2022-09-06 22:23] KranthiPakala-MSFT commented on #97945
@KyferEz As per discussion with Xing Wei, this is identified as a bug and the product team is working on a fix. As it is identified as a bug but not a limitation, internal team suggested not to add a note in this documentation.

Do let us know if you have any additional feedback.

@nabhishek - FYI

[2022-09-06 22:24] KranthiPakala-MSFT commented on #98043
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-09-06 22:26] JamesTran-MSFT commented on #98066
@urbndude
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-06 22:27] JamesTran-MSFT commented on #98067
@kyleross-deckers
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-06 22:28] JamesTran-MSFT commented on #98068
@nawoods
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-06 22:28] JamesTran-MSFT commented on #98069
@sananoorani
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-06 22:30] #97350 closed

[2022-09-06 22:39] KC-Rob commented on #97977
@SatishBoddu-MSFT some further info - here is my manifest URL, as copied from the azure portal:
https://verifiedid.did.msidentity.com/v1.0/tenants/7ec9ec54-ddee-4d8d-8a38-4277b77ddc06/verifiableCredentials/contracts/N2VjOWVjNTQtZGRlZS00ZDhkLThhMzgtNDI3N2I3N2RkYzA2dmVyaWZpZWRjcmVkZW50aWFsZXhwZXJ0/manifest

[2022-09-06 23:09] relyimah commented on #94986
A note for others experiencing this issue; it appears to be the same "internal timeout" for an Azure SQL connection, too.
Frustrating to say the least given the same set of scripts will run fine in SSMS... "Can't be changed" seems like code for "poor implementation" 👎

[2022-09-06 23:14] ChaitanyaNaykodi-MSFT commented on #97880
Hello @anceng, Thank you for your feedback. I have made the suggested changes and they are currently under Doc Author's review.
We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-09-06 23:14] #97880 closed

[2022-09-06 23:33] Karishma-Tiwari-MSFT commented on #98049
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-06 23:33] SaiKishor-MSFT commented on #98048
@jjjohn538 I apologize as I did not understand your issue exactly.
When I look at the script, I see  "imageanalysis/{name}" as seen below-

![2022-09-06 16_32_33-Upload and analyze a file with Azure Functions and Blob Storage _ Microsoft Docs](https://user-images.githubusercontent.com/68254272/188757983-d34d7bb7-5090-4d35-a6c7-edd947c26429.png)

[2022-09-06 23:36] Karishma-Tiwari-MSFT commented on #98050
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-06 23:38] EstebanDalelR opened #98071 "Connection stays open permanently"
There is no connection closing in the example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9745566-0266-330b-b99f-d5215575ae5f
* Version Independent ID: 055418ac-a22d-56db-b2d5-0f31216b6e2f
* Content: [Use Node.js to query a database - Azure SQL Database & SQL Managed Instance](https://docs.microsoft.com/en-us/azure

[2022-09-06 23:45] EstebanDalelR commented on #98071
Solved on [#8044](https://github.com/MicrosoftDocs/sql-docs/pull/8044)

[2022-09-06 23:47] GeethaThatipatri-MSFT commented on #98071
Thanks, @EstebanDalelR for Confirming that issue is resolved.

[2022-09-06 23:47] #98071 closed

[2022-09-06 23:57] YutongTie-MSFT commented on #98060
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-07 00:08] SwathiDhanwada-MSFT commented on #97106
@bnitelf As requested in previous comment, kindly elaborate your issue.

[2022-09-07 01:16] gnerd opened #98073 "doesnt work"
[Enter feedback here]
I followed the steps and cannot replicate your results - at all :)  I could not get the static website to create from 'clone'.  I had to use VS to do the clone, but nothing worked after that either..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b3b161-b559-f90b-1566-f18776a5f7da
* Version Inde

[2022-09-07 01:50] juhirao opened #98074 "About writing Docs articles as part of the Azure portal Networking settings (UI) updates"
[Enter feedback here]
A new option called "Disable public access" has been added to the "Firewalls and virtual networks" tab option in the [Networking] settings of the Azure portal.
It will be an option for the new KV Firewall, so please consider including it in this Docs article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-09-07 03:29] SaibabaBalapur-MSFT commented on #98049
@SametSahin10
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 03:53] ncroad opened #98076 "Clarification for APIM handling a request with a Subscription Key when the API doesn't require a Subscription Key"
[Enter feedback here]
In the section heading "How API Management handles requests with or without subscription keys", it refers to the behavior when 'Requires Subscription' on the Product is disabled or the 'Subscription Required' is disabled on the API, and a API request is received without a Subscription Key.

Can you confirm the behavior when either of these settings are disabled, and a Subscri

[2022-09-07 04:00] YashikaTyagi-MSFT commented on #97899
@J227668
Apologies for the delayed response.
Workday to Azure AD user provisioning confirugation feature is not available for GCCH in present time.
You can post your ideas on the given link https://feedback.azure.com/d365community and Product team will be working on the same in the upcoming time.

[2022-09-07 04:15] YashikaTyagi-MSFT commented on #98057
@Digiroka
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 04:17] SreejaBhattacharya-MSFT commented on #97796
Hey @Siddharth-Microsoft , we can see it on our testing environment. Please use the **preview portal**. If it still doesn't work, please let the customer open a support ticket with AVS support Team. Thanks.

[2022-09-07 04:17] #97796 closed

[2022-09-07 04:20] YashikaTyagi-MSFT commented on #98058
@timothymeyers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 04:23] YashikaTyagi-MSFT commented on #98073
@gnerd
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 04:25] YashikaTyagi-MSFT commented on #98074
@juhirao
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 04:29] YashikaTyagi-MSFT commented on #98076
@ncroad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 04:57] DavidKlempfner commented on #57503
https://azure.microsoft.com/en-us/resources/videos/cors-and-api-management/ does not work.
I'm also confused about the Bypass CORS proxy checkbox and can't find any documentation on it.
Can you please answer the OP's original questions or provide a link to somewhere that explains it?
Thanks.

[2022-09-07 05:13] dbrennan opened #98077 "Article is not clear on how to expand OS disks and resize the partition"
The very first paragraph says `This article covers expanding either OS disks or data disks.`
But shortly thereafter, the article says `This feature has the following limitations: Only supported for data disks.`
And then there is no additional information about expanding the OS disk. It mentions unmounting to update the partition, but clearly that's not going to work with the disk running the OS.

[2022-09-07 05:14] saarinenandre opened #98078 "Build agent script block does not run properly"
The whole code block is at [Configure your build agent](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/ci-cd/ci-cd-azure-devops#configure-your-build-agent), and in the part where the python unit tests are run the script runs two different lines, resulting in a permissions issue. I would recommend changing it to how it looks further below at [Test library code using Databricks Connect]

[2022-09-07 05:17] dbrennan commented on #98077
I discovered that the OS disk is automagically resized to fill the portion when the VM is started again, even though this is not mentioned in the article. I'm happy that worked but it should be documented here too.

[2022-09-07 05:18] AnuragSingh-MSFT commented on #94491
@MasoudSamadi, thank you for reaching out to us. Please [see this doc link](https://docs.microsoft.com/en-us/azure/governance/machine-configuration/machine-configuration-create-definition#create-an-azure-policy-definition) for details on how to update existing policy, snippet available below:

The **PolicyId** parameter of `New-GuestConfigurationPolicy` requires a unique string. A globally unique

[2022-09-07 05:20] YashikaTyagi-MSFT commented on #98013
@chriswue
Thanks for enhancing the document.
We are going to close this thread once the author approves the changes performed. It will reflect in the document in the next 12-24 hrs.

[2022-09-07 05:20] #98013 closed

[2022-09-07 06:06] ramuvr opened #98080 "Server endpoints per sync group correction"
In the table for Azure File sync it says "Server endpoints per sync group" 100 , that is wrong,

"A registered server can support multiple server endpoints, however, a sync group can only have one server endpoint per registered server at any given time. Other server endpoints within the sync group must be on different registered servers."

https://docs.microsoft.com/en-us/azure/storage/file-sync/f

[2022-09-07 06:22] AjayKumar-MSFT commented on #97858
haohighview, Apologies for the delay! (@SnehaAgrawal-MSFT) We are checking with our product team and will get back with an update soon.

[2022-09-07 06:28] AjayKumar-MSFT commented on #98038
chrisk314,  Glad it's figured out. Thanks for follow-up and update. For consideration to consolidate the sections, your feedback has been shared with the content owner (@sunilagarwal) for further review. Thanks for the feedback!

[2022-09-07 06:35] schroray opened #98081 "Parser "_Im_NetworkSession_CheckPointFirewallV" - typo in documentation, parser seems to be missing in Prod/out-of-the-box"
Typo: "__Im_NetworkSession_CheckPointFirewallV" should read "_Im_NetworkSession_CheckPointFirewallV" (starts with only one underline character)

Seems to be missing in production environment - at least in ours
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09d1d1d3-2d22-c2d3-f8f2-f5d9baaefd17
* Ve

[2022-09-07 06:37] SwathiDhanwada-MSFT commented on #96437
@kmcconnell  For alert severity, you can refer [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/best-practices-alerts#alert-severity).

Assigning to content author @ofirmanor for review and doc-enhancement.

[2022-09-07 06:40] vikrantSinghOnGithub opened #98082 "To avoid confusion | What flow this sample will use."
I got a customer confused about using PKCE flow they already using the interactive flow, but they are confused this is PKCE flow or not. I was unable to find the document which can confirm this is using the PKCE flow, if we can add the auth flow information that will be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-09-07 06:51] yinghsugn opened #98083 "The NAMESPACE should be check"
The NAMESPACE should be "ingress-nginx" instead of ingress-basic by following error message:

$ helm install ingress-nginx ingress-nginx/ingress-nginx --create-namespace --namespace $NAMESPACE --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-health-probe-request-path"=/healthz

Error: INSTALLATION FAILED: rendered manifests contain a resource that already exi

[2022-09-07 06:57] RamanathanChinnappan-MSFT commented on #98008
@TonyMajorDev .
For your request, we have performed the PR. Once get approval from reviewer. It will be reflecting to Microsoft document
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-07 06:57] #98008 closed

[2022-09-07 07:00] YashikaTyagi-MSFT commented on #98081
@schroray
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 07:01] YashikaTyagi-MSFT commented on #98082
@vikrantSinghOnGithub
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 07:07] SaibabaBalapur-MSFT commented on #98035
@zr-msft
Please review it.

[2022-09-07 07:20] AjayBathini-MSFT commented on #98057
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-09-07 07:25] #97995 closed

[2022-09-07 07:27] mimshavandi commented on #97992
Dear @GeethaThatipatri-MSFT thanks for your response! Honestly, I followed the documentation and it's not working so I thought it might be that something is missing in the documentation! By the way, if you believe so that's ok for me I will try my chance in the Q&A forum.
Thanks

[2022-09-07 07:45] BinHan0 opened #98084 "How could I disable the OIDC issuer in an AKS?"
Hi,

I just found how to enable the OIDC issuer in AKS, but how to disable it? Is there any command to do it? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3cf3
* Version Independent ID: cc199e1d-6737-5f52-f2a2-b6c0b603dbdc
* Content: [Cluster configuration in Azure Kubernetes Se

[2022-09-07 08:00] audunsolemdal opened #98085 "Is it possible to create Files VolumeSnapshot for private endpoint storage accounts?"
Clarify if it is possible / how to create file snapshots for storage accounts behind private endpoints

I have created a custom storage class pointing to a storage account which has a private endpoint following this guide #use-a-persistent-volume-with-private-azure-files-storage-private-endpoint This works just fine in creating and reading from file shares.

I then added the CRDs, created a volume

[2022-09-07 08:01] TarekNabeel opened #98086 "Buy digital certificate from Microsoft directly"
Hello ,

I was looking for purchasing a public certificate directly from Microsoft as a first party and not from any other third party CA providers (e.g. DigiCert, GoDaddy ..etc.) , so I can use it in my Application gateway scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 071598c9-9683-0915-0fe4-436cc4e7080b
*

[2022-09-07 08:10] KapilAnanth-MSFT commented on #98086
Hi @TarekNabeel,

Currently, Microsoft does not issue certificates.

The only service that supports this is Azure App Services, however, this too uses GoDaddy under the hood.

Kindly let us know if you need more information on this.

[2022-09-07 08:25] MughundhanRaveendran-MSFT commented on #97996
#https://github.com/projectkudu/AzureResourceExplorer/issues/347

[2022-09-07 08:26] MughundhanRaveendran-MSFT commented on #97996
#347

[2022-09-07 08:28] MughundhanRaveendran-MSFT commented on #97996
@casambi-vesa , Resource explorer team asked me to raise an issue here and I have raised it : https://github.com/projectkudu/AzureResourceExplorer/issues/347

Please follow up on the above issue. I am closing this issue as it is not related to the page

[2022-09-07 08:28] #97996 closed

[2022-09-07 08:29] SumanthMarigowda commented on #98077
@dbrennan Thanks for the question! We are investigating and will update you shortly.

[2022-09-07 08:32] YashikaTyagi-MSFT commented on #98081
@schroray
Thanks for contributing towards enhancement of document. Required change has been performed, once approved by author it will reflect in the document itself.

[2022-09-07 08:32] #98081 closed

[2022-09-07 08:37] FlorianBorn71 commented on #97903
#please-close

[2022-09-07 08:37] #97903 closed

[2022-09-07 08:47] #97958 closed

[2022-09-07 08:48] SumanthMarigowda commented on #98080
@ramuvr  Thanks for the question! We are investigating and will update you shortly.

[2022-09-07 08:49] BzSpi opened #98088 "List of resource types supporting resource specific tables in Log Analytics is missing"
Hello,

There was previously documentation about which resource types was supporting resource specific tables in Log Analytics.
This documentation is missing and the note "Continue to watch the Azure Updates blog for announcements about Azure services that support resource-specific mode." does not help since list is not exhaustive at all.

Not having this list forces the developer to work in fail

[2022-09-07 09:18] Mikkeletvt commented on #97457
Not in the section itself. The code presented throws a compiler error.

`
    val extraQueryParameters: MutableList<Pair<String, String>> = ArrayList()
    extraQueryParameters.add(Pair("ui_locales", "en-us"))*
    val parameters = AcquireTokenParameters.Builder()
      .withAuthorizationQueryStringParameters(extraQueryParameters)
      .build()
`

This snippet does not compile for me:
`
Type mism

[2022-09-07 09:40] dgpoulet opened #98089 "Clarify a paragraph which seems to conflict with Mongo documentation"
Could we clarify that this paragraph here is correct:

"For applications with a primary read/write region and a secondary region for disaster recovery (DR) scenarios, we recommend setting your collection's read preference to secondary preferred. A read preference of secondary preferred is configured to read from the secondary region when the primary region is unavailable."

In normal Mongo usage,

[2022-09-07 09:55] prabowoekky opened #98091 "please update your document"
[Hi Team Documentation Microsoft Azure, please update your pricing skenario in this pages because not sync in this FAQ https://azure.microsoft.com/en-us/pricing/details/service-bus/ , example : Sample pricing 1—If you have a single listener, such as an instance of the hybrid connections manager installed and continuously running for the entire month, and you send 3 GB of data across the connection

[2022-09-07 10:03] dgpoulet opened #98092 "Clarify the read preference options and how they work in failover situations"
In the section, "Read using Read Preference mode", the text says:

_1. If low latency reads are required, use the NEAREST read preference mode. This setting directs the read operations to the nearest available region. Note that if the nearest region is the WRITE region, then these operations are directed to that region._

_2. If high availability and geo distribution of reads are required (latency

[2022-09-07 11:07] clfilipe opened #98093 "Azure Princing Calculator - Reporting possible bug when choosing EUR currency"
I believe I have identified a bug in Azure Princing Calculator. In theory, the prices for Microsoft Online Services and MCA licensing programs should be the same. This is true when the currency is set to dollar, but not when we select euro:

**Experience in EUR:** For some seconds, when changing the Licensing Program we can see the following rate 1 USD = 0.84 EUR

![image](https://user-images.gith

[2022-09-07 11:11] MasoudSamadi commented on #94491
@AnuragSingh-MSFT
Thank you for your quick reply!.
I do understand that we need to use the name field (which SHOULD be a GUID) of an existing policy definition.
However when I check the existing policy (that is created a couple of days ago), the name field is not a GUID.

![image](https://user-images.githubusercontent.com/30056287/188864340-b8d0efdd-985e-44ea-b3c1-24554089f335.png)

[2022-09-07 11:29] TarekNabeel commented on #98086
Hello @KapilAnanth-MSFT ,

Thanks for the clarification and prompt feedback.

[2022-09-07 11:33] SaibabaBalapur-MSFT commented on #98049
@barclayn
Please review it.

[2022-09-07 11:49] andersthorbeck opened #98094 "Define Root scope"
Please elaborate the meaning of the Root scope of a role assignment. This is a concept in use, but I cannot find it defined here. I would like to know what specifically it grants access to (the whole tenant? the whole account?), and whether there are any special rules regarding how to assign roles to this scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-09-07 11:56] rolandihms commented on #49147
In the same boat and it’s quite problematic in my use case. Any workarounds or different approaches to allow for bigger compose files?

[2022-09-07 11:57] AshokPeddakotla-MSFT commented on #97802
@petoor Should be available here: [deviceupdate-agent_0.8.2_public_preview_amd64.deb](https://github.com/Azure/iot-hub-device-update/releases/download/0.8.2/deviceupdate-agent_0.8.2_public_preview_amd64.deb) Even i haven't found it. If you are blocked and file is not downloaded when you run the command **sudo apt-get install deviceupdate-agent**, please download the .deb file from here: https://gi

[2022-09-07 12:09] petoor commented on #97802
Thanks. Which versions of debian and ubuntu does it work on?

[2022-09-07 12:18] AshokPeddakotla-MSFT commented on #97802
Every release has the details about it. Please see **Notable Enhancements** section for details.

https://github.com/Azure/iot-hub-device-update/releases

[2022-09-07 12:26] larryclaman commented on #98035
Frankly, the whole section about "open source tools" should be updated or just removed.  In addition to reshifter, the referenced 'Azure-kube-tool' also appears abandoned as it has not been updated since December 2019.

[2022-09-07 12:26] petoor commented on #97802
@AshokPeddakotla-MSFT  that doesnt answer the question.

Does this file work for old debian versions and if so, how old? The same goes for ubuntu

[2022-09-07 13:09] ezYakaEagle442 opened #98096 "Register an application with Azure AD using CLI"
Please add a section describing how to use azure CLI to register an application with Azure AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create an Azure AD app and service principal in the portal - Micros

[2022-09-07 13:12] robertoilidio opened #98097 "D365 online limit of concurrent request is 52, not 2 as mentioned in this doc"
note: This feedback was already provided by user **dasabate** on 12-May-2021 and wrongly closed.

The line "_For Dynamics 365 online, there's a limit of two concurrent batch calls per organization_." is outdated since this is no longer true. This limit has been overseeded by the new API Limits (throttling).

Previously, this feedback was closed, pointing out to this doc:  https://docs.microsoft.co

[2022-09-07 13:15] mumurug-MSFT commented on #98091
@prabowoekky Thanks for your feedback. We will review and update as appropriate.

@v-hearya please review.

[2022-09-07 13:17] MarioStanica opened #98098 "PrivateEndpoints configuration -cannot- be added to custom-named Private-DNS-Zones"
Microsoft advises to use "recommended" private dns Zone Names as per https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration;

The issue is that it is not mentioned that when using custom-named private-dns zones (ex private.cloud), using the "Add Configuration"button  (from the DNS Configuration Blade) on a private-endpoint, will not generate

[2022-09-07 13:19] thomasriise commented on #78992
The M1 issue was the same for me - thank you @rycharlind

[2022-09-07 13:22] ShaikMaheer-MSFT commented on #98078
@mssaperla / @leifbro Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-09-07 13:22] CathyInMN opened #98099 "Need setup info on the Salesforce Connected App"
[The steps as documented do not provide any details about creating the Salesforce Connected App. It just starts referring to it. Does it need to be created manually? If so, what are the necessary configuration settings?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f8e553e-6e84-4bd3-d1a6-7f92732d1766
* Version Indep

[2022-09-07 13:25] GitaraniSharma-MSFT commented on #98098
@MarioStanica , thank you for your feedback. We'll review this and get back to you shortly!

[2022-09-07 13:32] robertlagrant opened #98100 "Confusing combination of wording and diagram"
The wording on the page:

appears to conflict with the image, which shows an on-premise Active Directory still, and apparently that is still the source of truth for users and passwords (sync arrow goes towards AAD):

![image](https://user-images.githubusercontent.com/1766161/188891028-7dc9ab79-643f-4b96-8e3e-7b7a33eaeb29.png)

I don't know what the reality of the solution is, so I don't know which

[2022-09-07 13:35] nssidhu opened #98101 "Where exactly to create the security groups"
https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-set-up-access-control#access-control-mechanisms

For the Link above, It is not clear where to create the mentioned security groups.

Do those security groups need to be created in Azure AD? if so detailed steps on creating those groups in AD are missing.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-09-07 13:45] jamescrowley opened #98103 "Document 'optional' argument supported in AzureML component YAML v2"
I was looking for a way to make uri_file inputs optional and spotted in the YAML v2 specification that there is in fact an `optional` attribute supported (https://azuremlschemas.azureedge.net/latest/commandComponent.schema.json - in the InputPortSchema).

I tried it out, then received an error "In command "xxx", optional input yyy must be placed in nested argument: []." when submitting the job. I

[2022-09-07 13:50] Klaas- commented on #98077
I would guess that is because cloud-init is running growpart during boot, see #83328 , you can also just run that on your live system if you do not want to reboot

[2022-09-07 13:51] joshuadmatthews commented on #42737
I am using the templates from the AKS-Construction repo, and getting this error out of the box. Interestingly it seems to work the first time it assigns the NSG to the Bastion subnet, but on subsequent deployments it fails. I have tried every solution listed in this thread, yet it still fails. Can anyone tell what I have wrong?

![image](https://user-images.githubusercontent.com/6090341/188895411-

[2022-09-07 14:11] GeethaThatipatri-MSFT commented on #98092
Hi, @dgpoulet Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-09-07 14:13] GeethaThatipatri-MSFT commented on #98089
Hi, @dgpoulet Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-09-07 14:22] PandaBoy00 opened #98104 "Manually run a non HTTP-triggered function - Not working"
It seems that this document has been updated recently but when I tried it step by step i get an 403 Forbidden error.  I have double checked on the URL and the _master key and even went to the Monitor -> Logs and I couldn't get any logs or reasons as to why the reason for the 403 Forbidden error.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-09-07 14:26] yvy777 commented on #97937
Hi! you should have recevied an email i think. if something went wrong please tell me :)

[2022-09-07 14:27] SatishBoddu-MSFT commented on #97937
Thank you we have received the email.

[2022-09-07 14:32] SatishBoddu-MSFT commented on #97937
As we are working offline on this issue, we will come back later to update the status on this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for

[2022-09-07 14:32] #97937 closed

[2022-09-07 14:39] mrp100461 commented on #18110
I was wondering if could help, you code works fine, the only thing I would change is tell the developer to create an Owin Startup class.
I have uses your code to connect to our AD B2C tenant.
The problem is when I put the same code in to our proper MVC web application. The url stays the same instead of the logon.microsoft and the redirect gets added http://localhost:1286/Account/LogOn turns into h

[2022-09-07 15:16] mbender-ms commented on #73011
#reassign-reviewer: @PrachiSingh007

[2022-09-07 15:18] porrascarlos802018 opened #98110 "Please add yaml example for long running process ."
considering this sintax
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml

please add a reference for customers on how to implement the long running process from yaml perspective
You could recreate your container and sent that parameter there or include it in your code:
## Deploying a Linux container
az container create -g MyResourceGroup --name myapp --

[2022-09-07 15:20] gnerd commented on #98073
ok - I think it was partly my issue on failing to use /src.  It does deploy - there are other workflow errors, but I think I can safely just ignore (some of the playright stuff - looks like its for containers or something). Thanks!

[2022-09-07 15:20] #98073 closed

[2022-09-07 15:21] PatAltimore commented on #97908
Hi @alevincenzi ,

Thanks for the feedback. @koichi3 made the change to fix the article. Thanks for letting us know.

Pat
#please-close

[2022-09-07 15:21] #97908 closed

[2022-09-07 15:27] m455954 opened #98111 "Are the policies that don't currently accept Exemptions going to in the future?"
Are the policies that don't currently accept Exemptions going to in the future?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab87f953-2276-3c34-743b-e39f62d35b60
* Version Independent ID: 15186f5f-03b1-e538-53d9-8ce936374fc0
* Content: [Exempt a Microsoft Defender for Cloud recommendation from a resource, subscriptio

[2022-09-07 15:39] sharath-satish-msft commented on #98050
Yes it is Owner / Manager / Developer role.

[2022-09-07 15:41] mathapli commented on #97786
@santhoshb-msft what is the clarity to be provided here? please elaborate

[2022-09-07 15:49] YashikaTyagi-MSFT commented on #98083
@yinghsugn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 15:49] LijuV-MSFT opened #98112 "Character length limit for multi-values attributes"
**_An object in Azure AD can have up to 100 attributes for directory extensions. The maximum length is 250 characters. If an attribute value is longer, the sync engine truncates it._** - for multi-values attributes, does this 250-character limit apply to each value?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d2f4c

[2022-09-07 15:50] YashikaTyagi-MSFT commented on #98084
@BinHan0
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 15:52] YashikaTyagi-MSFT commented on #98085
@audunsolemdal
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 15:53] jlopezsantacruz opened #98113 "cip_oid attribute mapping error"
HI there,

When creating a new Citrix cloud SAML enterprise app We found an error in the cip_oid attribute mapping, instead to be user.objectGUID as per documentation we got a static entry for ""ObjectGUID_MUST_BE_CONFGIURED" as you can see in the screenshot.

We had to manually correct it, but something must me not working properly.

![image](https://user-images.githubusercontent.com/47365306/188

[2022-09-07 15:54] YashikaTyagi-MSFT commented on #98088
@BzSpi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 15:56] JamesTran-MSFT commented on #98096
@ezYakaEagle442
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-07 15:57] YashikaTyagi-MSFT commented on #98094
@andersthorbeck
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 15:57] JamesTran-MSFT commented on #98100
@robertlagrant
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-07 15:57] jasongroce commented on #96270
#reassign:macerru

[2022-09-07 15:58] YashikaTyagi-MSFT commented on #98093
@clfilipe
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-07 16:00] YashikaTyagi-MSFT commented on #98097
@robertoilidio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:03] YashikaTyagi-MSFT commented on #98099
@CathyInMN
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:06] YashikaTyagi-MSFT commented on #98101
@nssidhu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:07] dgpoulet opened #98115 "Clarify what happens with TCP connections and a write request"
In the final paragraph of this page it says:

_If the user has configured a preferred region list with more than one region and the Azure Cosmos account is multiple write regions or single write region and the operation is a **read** request, the client will detect the local failure, and retry that single operation in the next region from the preference list._

It doesn't say what happens if the f

[2022-09-07 16:07] YashikaTyagi-MSFT commented on #98103
@jamescrowley
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:09] YashikaTyagi-MSFT commented on #98104
@PandaBoy00
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:10] YashikaTyagi-MSFT commented on #98110
@porrascarlos802018
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:12] YashikaTyagi-MSFT commented on #98111
@m455954
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:13] YashikaTyagi-MSFT commented on #98112
@LijuV-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:13] GeethaThatipatri-MSFT commented on #98115
@dgpoulet Thank you for reaching out. We will look into it and update you as appropriate.

[2022-09-07 16:14] riwasa opened #98116 "Add block blob/page blob/files columns to supported storage account tables"
The tables under the "Supported storage accounts" and "Supported storage types for upload" for Data Box Disk should be similar to those for Data Box at https://docs.microsoft.com/en-us/azure/databox/data-box-system-requirements, namely showing which storage account types support block blob, page blob, and Azure Files. It is not clear for Data Box Disk that premium GPv2 accounts only support page b

[2022-09-07 16:18] normesta commented on #82924
Including @zezha-msft for visibility. @Malgong this scenario is not yet supported by AzCopy.  Thanks for asking.

#please-close

[2022-09-07 16:18] #82924 closed

[2022-09-07 16:20] ealsur commented on #98115
Write requests that time out or have connectivity failures are not retried: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/conceptual-resilient-sdk-applications#timeouts-and-connectivity-related-failures-http-408503

We'll add that clarification and cross-reference the document. Thanks for the feedback.

[2022-09-07 16:21] YashikaTyagi-MSFT commented on #98113
@jlopezsantacruz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:23] YashikaTyagi-MSFT commented on #98116
@riwasa
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-07 16:24] YashikaTyagi-MSFT commented on #98111
@m455954
Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-09-07 16:24] #98111 closed

[2022-09-07 16:26] dgpoulet commented on #98115
So in a multi-write region scenario, if one of those regions goes down, a write to that region will fail - but will the SDK detect that the region has gone down and push subsequent operations (including writes) to a secondary region, in which case only one write will have failed, or will it continue to push writes to the failed region so in effect all subsequent writes will fail until such time th

[2022-09-07 16:35] ealsur commented on #98115
The SDK always works against a particular region based on the table described at the beginning of the article.

A region going down does not account for "Transient connectivity issues", if a region goes down it would be: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/troubleshoot-sdk-availability#regional-outage

Transient connectivity issues cover situations where a single operation (or a s

[2022-09-07 16:37] dgpoulet commented on #98115
Thanks - I see the distinction now when we are talking about transient issues vs region outages, but probably worth clarifying the difference in that para where it mentioned retrying read operations against another region.

[2022-09-07 16:39] ealsur commented on #98115
Would:

In scenarios where the Azure Cosmos SDK client is configured to use the TCP protocol, for a given request, there might be situations where the network conditions are temporarily affecting the communication with a particular endpoint. These temporary network conditions can surface as TCP timeouts and Service Unavailable (HTTP 503) errors. The client will, if possible, [retry the request loc

[2022-09-07 16:44] dgpoulet commented on #98115
Yes that's great, but it does leave one question in my mind - and maybe over thinking this, but: in a scenario where transient networking issues have resulted in the client going to the next region in the preferred region list, does it then continue from then on to use the secondary, or does it retry the primary at some point to see if the issue has gone away? i.e. are we in a "de facto failover"

[2022-09-07 16:49] clfilipe commented on #98093
The link is the Azure Princing Calculator... https://azure.microsoft.com/pt-pt/pricing/calculator/

[2022-09-07 16:52] ealsur commented on #98115
Correct, it is that single operation. The other scenarios (like outages) say: The client retries the current operation and all the future operations are permanently routed to the next region...

[2022-09-07 16:53] dgpoulet commented on #98115
Great, thanks for the clarification.

[2022-09-07 16:54] ealsur commented on #98115
Update of the article is now queued, it will release some time today

[2022-09-07 16:55] joshuadmatthews commented on #42737
This is it setup exactly like the bastion-nsg.txt posted above, and I still get the exception

![image](https://user-images.githubusercontent.com/6090341/188936035-66220ecd-b787-4ac0-a7bc-e09c110b8132.png)

[2022-09-07 16:59] SatishBoddu-MSFT commented on #85389
Hello @Karishma-Tiwari-MSFT Could you please confirm if we can address this issue?
Please let me know if you need more info on this.

[2022-09-07 17:03] hhunter-ms commented on #85642
Hi @onionhammer - Thanks for your feedback! [I've added this to the backlog.](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1980357) I'm closing this issue, but if you have any further questions, feel free to respond here or create a new issue. Thank you! #please-close

[2022-09-07 17:05] GeethaThatipatri-MSFT commented on #97992
Thanks, @mimshavandi I have responded to your query in the Q&A thread.

[2022-09-07 17:05] JoeEdwardsGitHub opened #98119 "The existence of notNull is desirable, but not yet tangible"
Very sadly notNull (https://docs.microsoft.com/en-us/azure/data-factory/data-flow-expressions-usage#notNull) is not a real function. I wish it was! Please could you either make it real, or remove it from the documentation.

Also if you do add the function, the example notNull(NULL()) is incorrect. Data Flow functions are case sensitive, so it should be notNull(null())

Thanks,

Joe

---
#### Docum

[2022-09-07 17:06] KranthiPakala-MSFT commented on #97884
@chez-charlie - Could you please help review above feedback from customer and enhance the doc as needed? - Thank you

[2022-09-07 17:07] #97945 closed

[2022-09-07 17:08] Subhashini2610 opened #98120 "SQL server unable to access firewall protected Storage account in a different tenant"
# SQL server unable to access firewall protected Storage account in a different tenant

I have a SQL server in tenant A and a firewall protected Storage Account in tenant B. I am creating external table T-SQL query to access a blob in the storage account. Unfortunately, I cannot add a role assignment of Storage Blob Data Reader to the managed identity of the SQL server as it is present in another

[2022-09-07 17:32] mamccrea commented on #97918
@Aarthi-Vijayaraghavan, can you please advise?

[2022-09-07 17:37] KapilAnanth-MSFT commented on #98086
You are most welcome.

[2022-09-07 17:37] #98086 closed

[2022-09-07 17:46] yoHasse opened #98123 "Linking to Azure Storage Emulator which is deprecated."
The Visual Studio part of the page links to Azure Storage Emulator which is deprecated.
[Azure Storage Emulator](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4885c7aa-95fd-b501-37c8-deaeaf5ec54b
* Version Independent ID: 92dcd574-ffef-25f6-0a

[2022-09-07 18:29] austinmccollum commented on #84101
#reassign: @austinmccollum

[2022-09-07 18:31] austinmccollum commented on #84101
@jberry777 I apologize this has taken so long to get a formal response. We now have articles that have clearer screenshots depicting alerts and incidents. I hope you will continue to provide feedback in the future!
https://docs.microsoft.com/en-us/azure/sentinel/investigate-cases
https://docs.microsoft.com/en-us/azure/sentinel/relate-alerts-to-incidents

[2022-09-07 18:32] austinmccollum commented on #84101
#please-close

[2022-09-07 18:32] #84101 closed

[2022-09-07 18:52] AjayKumar-MSFT commented on #97998
michalmoravek, Could you please let us know what is the exact error message you receive? and, share the sample (if feasible). The overall size of the docker compose file limit is still 4000 character.

[2022-09-07 19:04] tspring418 opened #98127 "Restoring backup seems to be supported from even the basic plan."
![image](https://user-images.githubusercontent.com/22082241/188957128-3e410529-57b3-4076-a59c-80c42e96c472.png)

Hello everyone, i have been testing this backup situation and the doc states that the backups are only allowed for standard, premium. I have tested this on basic though and it seems to work! I was wondering if that is intended or supposed to be included in the document as well?

---
###

[2022-09-07 19:13] Karishma-Tiwari-MSFT commented on #85389
@diegodct As per my understanding, the update command you provide for the VMSS during deployment will be used to update all the VMs in that VMSS. If you do not provide an update command, then current version will be removed and the newer version will be installed.

@ericd-mst-github Can you please help confirm on this? Also, is there a documentation explaining the update process in detail, using C

[2022-09-07 19:15] Grace-MacJones-MSFT commented on #98127
Thanks for bringing this to our attention! We will review and update this doc accordingly.

[2022-09-07 19:22] PNW-BRZ opened #98128 "Call out Support for Standalone Process Server"
You may want to also state that the supported OS in Stand Alone Process Servers is also 2012/2016

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc12f304-5826-fb32-1728-5e43f1b05d8a
* Version Independent ID: 7cc3d5a7-9b0e-dd6b-3b34-2036219f5bd6
* Content: [Support matrix for VMware/physical disaster recovery in Azure S

[2022-09-07 19:26] Karishma-Tiwari-MSFT commented on #85672
Thanks for sharing this update. We will archive this old issue now. This document has been updated over the year.
If anyone is still experiencing this, please tag me in a comment and I will reopen this.

[2022-09-07 19:26] #85672 closed

[2022-09-07 19:41] ericd-mst-github commented on #85389
@Karishma-Tiwari-MSFT I am confirming with engineering on the customer questions above and will update the documentation.

We have recently modified the wording the update process on a high level [here](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-applications#how-updates-are-handled). Once I get more confirmation on the updating details, I will update this section in our overview.

[2022-09-07 19:47] CamiloTerevinto commented on #85389
Hey @Karishma-Tiwari-MSFT / @ericd-mst-github, thanks for jumping in.

I think you're missing the point of my comment, however. My question is how do we push the updates? How do we make them happen? The portal and the CLI both **ignore** my attempts to update. It doesn't use the command I set under `Update Command`, because it doesn't even start performing an update.

[2022-09-07 19:47] SnehaGunda commented on #79802
#reassign:mlee3gsd

[2022-09-07 19:48] SnehaGunda commented on #80544
#reassign:mlee3gsd

[2022-09-07 19:48] SnehaGunda commented on #81405
#reassign:mlee3gsd

[2022-09-07 19:49] SnehaGunda commented on #83966
#reassign:mlee3gsd

[2022-09-07 19:49] SnehaGunda commented on #85082
#reassign:mlee3gsd

[2022-09-07 20:01] bandersmsft commented on #97912
#please-close

[2022-09-07 20:01] #97912 closed

[2022-09-07 20:11] J227668 opened #98130 "Data Map and Data Lineage"
Hi,

Can you please confirm if Data Lineage is available in Azure Gov? If not, can you please specify that in the post. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8c9bc27-7e6f-e2a7-01af-f00171b5d63a
* Version Independent ID: 155f732b-ea15-af80-c033-e8e4f53b645d
* Content: [Data Catalog lineage user guid

[2022-09-07 20:55] bandersmsft commented on #97985
Hi @chieh1127

For #1, the transfer scenario that you’re referring to by the first screenshot (EA to MCA – individual) is definitely supported. The link in your screenshot (https://docs.microsoft.com/azure/cost-management-billing/manage/mca-request-billing-ownership#create-the-product-transfer-request) contains the steps that you should follow.

For #2, in short, you submit a transfer request from

[2022-09-07 20:55] #97985 closed

[2022-09-07 20:57] ecfan commented on #97529
Hi @ShingoHanai.

For most operations that support retry policies, the default retry policy is the exponential interval policy. A few operations use a different default retry policy such as the fixed interval policy. I'll update the docs to make this point clearer. Thanks!

[2022-09-07 21:00] mumurug-MSFT commented on #98123
@yoHasse Thanks for your feedback. We will review and update as appropriate.

[2022-09-07 21:31] #97529 closed

[2022-09-07 21:32] ecfan commented on #97529
@ShingoHanai: A doc update should go live later today after 4 PM Pacific Time.

[2022-09-07 21:32] ecfan commented on #97529
#assign:ecfan

[2022-09-07 21:47] AaronMaxwell commented on #97716
Thanks for your dedication to our documentation. We are in the process of revamping the App Insights Overview page. New guidance will make it clear that auto-instrumentation and the SDK are mutually exclusive, with pointers on when to use each. We are taking your feedback into account in a separate PR. #please-close

[2022-09-07 21:47] #97716 closed

[2022-09-07 21:52] Karishma-Tiwari-MSFT commented on #87233
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-09-07 21:52] #87233 closed

[2022-09-07 22:03] lkozhushnik1 opened #98134 "Article - Configure a load balancer & availability group listener (Azure portal) - SQL Server on Azure VMs"
Our FSI customer is working through the page - https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-load-balancer-portal-configure?view=azuresql

and provided some feedbacka

Notes -
	• Portal is not laid out like the document depicts
	• Options that are listed on the documents are not available
	• Step 1 has some additional information that need to be done

[2022-09-07 22:19] eponerine opened #98135 "Update AVD Agent page with release notes"
This page has not been updated in a month and Agent Version 1.0.5388.1701 is out. Please give information ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cb10266-d3ca-31b1-31a0-bd4952e6736b
* Version Independent ID: 9adcd5ff-db9f-44f9-27f6-7c689839267b
* Content: [What's new in the Azure Virtual Desktop Agent? -

[2022-09-07 22:56] ecfan commented on #97803
Hi @samuel-weber,

The Dataverse team confirmed that both the legacy and current (preview) operations are currently combined under same connector, which still bears the "legacy" label, but will soon be removed. The operations will continue to bear the legacy and preview labels until the current connector is generally available. Any operations that don't have the preview label are the legacy ones.

[2022-09-07 22:57] normesta commented on #91085
Hi @molotch named groups are evaluated together. If the system completes its evaluation of all identities in the list before named groups, then the system evaluates the request against the perms of all named groups until the desired permission is located. If no named group to which the security principal is a member yields the needed permission to complete a request, then the system moves onto eva

[2022-09-07 22:57] #91085 closed

[2022-09-07 22:57] ecfan commented on #97803
@samuel-weber: The Dataverse team is also working on having the [connector operation reference doc page](https://docs.microsoft.com/en-us/connectors/commondataserviceforapps/) updated to include Azure Logic Apps.

[2022-09-07 23:18] normesta commented on #88022
Thanks for raising this @AdelaManea . I've updated the note make things a bit clearer. The change should appear live tomorrow. Including @jimmart-dev for visibility.

#please-close

[2022-09-07 23:18] #88022 closed

[2022-09-07 23:19] MashaMSFT commented on #97883
Hi @nssidhu , thanks so much for reaching out and letting us know! I've processed an update to fix the images, it should be live in the next few weeks. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:MashaMSFT
#please-close

[2022-09-07 23:19] #97883 closed

[2022-09-07 23:20] normesta commented on #93000
assign:@jimmart-dev

[2022-09-07 23:20] normesta commented on #93000
assign:jimmart-dev

[2022-09-07 23:33] eric-urban commented on #97922
@almudenaftourne - Thank you for taking the time to point this out! I've opened an internal work item to track this to completion. We can add more details to the SSML document and/or update the current how to synthesize page.

[2022-09-07 23:33] eric-urban commented on #97922
#please-close

[2022-09-07 23:33] #97922 closed

[2022-09-07 23:34] MarileeTurscak-MSFT commented on #97506
I'm closing this out for now but if you have more specific feedback on the document itself and examples of the issue you are seeing, feel free to create a new issue with these details.

[2022-09-07 23:34] #97506 closed

[2022-09-07 23:40] normesta commented on #93000
#assign:jimmart-dev

[2022-09-07 23:41] normesta commented on #79664
#reassign:jimmart-dev

[2022-09-07 23:41] normesta commented on #78258
#reassign:jimmart-dev

[2022-09-08 00:26] spelluru commented on #98091
We should have pricing information only on the Pricing page. I will remove it from FAQ after discussing with the Program Manager for the service.

[2022-09-08 01:23] Robin-the-dev commented on #97977
I have similar issue but in tutorial for nodejs. (https://github.com/Azure-Samples/active-directory-verifiable-credentials-node)

After scanning the QR code with Microsoft Authenticator app, I got error from Microsoft Authenticator app like:

[code]

And from browser, I got log like:

[code]

Lastly, I also tried to see a response via Manifest URL that provided from Azure portal - Verified ID - Cr

[2022-09-08 01:27] beifeng2744 commented on #97797
Got, thanks!

[2022-09-08 01:37] KC-Rob commented on #97977
@Robin-the-dev Good to know I'm not the only one! I have just spent an hour setting up logging for the key vault (see: https://docs.microsoft.com/en-us/azure/key-vault/general/howto-logging?tabs=azure-cli) - this has allowed me to access my key vault access logs, in which I have found what seems to be the real issue.

Logs from my failed (single) attempt today:
[code]

It would seem that the tutor

[2022-09-08 01:52] J227668 commented on #97899
@YashikaTyagi-MSFT  the link does not load for me. With that being said it would be great to add to this docs page(https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-cloud-only-tutorial) "This is not currently available to GCCH customers"

[2022-09-08 02:41] #98123 closed

[2022-09-08 03:34] Robin-the-dev commented on #97977
@KC-Rob ! Thank you so much!!! You saved my life!

As you said, I added the access policy for the **Verifiable Credentials Service** and now it is perfectly working both issuing and verifying credentials.

And there is one thing I want to mention. It seems like both **Verifiable Credentials Service** and **Verifiable Credentials Service Request** policies are necessary.

At first, I thought **Veri

[2022-09-08 03:45] KC-Rob commented on #97977
Thanks @Robin-the-dev, I have updated my previous comment to clarify this in case somebody only reads that far. Cheers!

[2022-09-08 03:45] YashikaTyagi-MSFT commented on #98119
@JoeEdwardsGitHub
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-08 03:47] YashikaTyagi-MSFT commented on #98120
@Subhashini2610
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-08 03:51] YashikaTyagi-MSFT commented on #98128
@PNW-BRZ
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 03:54] YashikaTyagi-MSFT commented on #98130
@J227668
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 03:57] YashikaTyagi-MSFT commented on #98134
@lkozhushnik1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 03:59] YashikaTyagi-MSFT commented on #98135
@eponerine
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 04:06] YashikaTyagi-MSFT commented on #98093
Hi @clfilipe, could you please submit your issue on the link given below. They will help you in addressing the issue.
Thanks!
create a free chat with the Sales team
https://azure.microsoft.com/en-us/contact/#contact-sales
https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest
https://azure.microsoft.com/en-us/support/#support-plans

[2022-09-08 04:12] #98093 closed

[2022-09-08 04:14] Kbafia opened #98139 "Outdated screenshots and verbage"
Hi.

I noticed the screenshots provided in this documentation are not in-line with what the azure portal looks like today (07 September 2022).

For example, the documentation shows an image that says **+Add Access Policy.**
But in my experience, I had to click **+Create** at the top of the Access Policy Page.
<img width="832" alt="image" src="https://user-images.githubusercontent.com/59891248/1890

[2022-09-08 04:26] catmanjan opened #98140 "Does HTTP application routing support SSL certificates in any way?"
We are using HTTP application routing for our dev environment, however we've run into a roadblock with registering our app with AzureAD which requires a HTTPS address for a redirect URL

Is this something HTTP application routing can support or do we have to swap it over to App Gateway and use SSL offloading?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-09-08 04:28] SumanthMarigowda commented on #97890
@gvanteylingen The PR has been initiated!  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-08 04:28] #97890 closed

[2022-09-08 04:38] #97803 closed

[2022-09-08 04:39] ecfan commented on #97803
@samuel-weber: A doc update will be published on 09/08/2022 after 11 AM Pacific Time.

[2022-09-08 04:43] YashikaTyagi-MSFT commented on #98113
@jlopezsantacruz
Could you please confirm it is working properly after you manually corrected it.
As it is mentioned in the documentation that value needs to be manually configured according to your requirement. It should be working fine after you manually configured it.
![image](https://user-images.githubusercontent.com/110381034/189035889-ea3418e9-e967-41cb-b4de-924bcec35777.png)

[2022-09-08 04:46] #97928 closed

[2022-09-08 04:50] #98066 closed

[2022-09-08 05:17] SaibabaBalapur-MSFT commented on #98011
@catmanjan

For not being able to get a list of the cluster nodes for AKS.
you first need to configure kubectl to connect to his Kubernetes cluster using the az aks get-credentials command.

<img width="470" alt="image" src="https://user-images.githubusercontent.com/111563669/189039549-a66e303f-c6c0-407f-9435-564ce0f0e46b.png">

It seems to be getting the local kubernetes nodes.

you can ensure to

[2022-09-08 05:17] #97899 closed

[2022-09-08 05:21] SaibabaBalapur-MSFT commented on #98135
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-09-08 05:21] YashikaTyagi-MSFT commented on #97899
@J227668
I found this link where it is mentioned which service areas are currently available to GCCH Customers.
https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure

[2022-09-08 05:23] ruixinxu commented on #88685
@KranthiPakala-MSFT sorry for the late response. Just back from maternity leave. @JeneZhang is the PM owner for mssparkutils, could you please grand Jene permission to modify the content source?

[2022-09-08 05:25] ruixinxu commented on #87562
@ShaikMaheer-MSFT , sorry for late response, just back from maternity leave.

@JeneZhang is the PM owner for mssparkutils, could you please grand her permission to update the content source?

[2022-09-08 05:26] ruixinxu commented on #80571
@CHEEKATLAPRADEEP-MSFT could you please grand @JeneZhang permission to modify the source content?

[2022-09-08 05:27] SaibabaBalapur-MSFT commented on #98084
@BinHan0
I have assigned the issue to the content author to investigate further and update the document as appropriate.

@palma21
 We don't have steps/commands to use for disabling OIDC Issuer.  Could you please add and update the document.

[2022-09-08 05:29] SaibabaBalapur-MSFT commented on #97542
@Dbakevlar
Please review it.

[2022-09-08 05:35] AjayBathini-MSFT commented on #98134
@lkozhushnik1
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@adbadram
Please review it.

[2022-09-08 05:42] ShingoHanai commented on #97529
@ecfan I answered below. Could you check it?

It's Get BLOB contents action of managed blob connector.

Thanks, Esther. I got it well.

[2022-09-08 05:50] AjayBathini-MSFT commented on #98110
@porrascarlos802018
As per the document we have Container continually exits and restarts (no long-running process).please review below screenshoot.
<img width="234" alt="image" src="https://user-images.githubusercontent.com/111562794/189043942-cd2acde9-2167-4e70-9a0a-8dd2e89f75f7.png">

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy

[2022-09-08 05:52] Subhashini2610 commented on #98120
@YashikaTyagi-MSFT I am referring to https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-storage-files-storage-access-control?tabs=public-access#firewall-protected-storage document. In the firewall protected storage part, I see that only way of authentication is the MSI one. However, this would not work for cross tenant scenario (as is in my case).

[2022-09-08 05:54] SadiqhAhmed-MSFT commented on #98128
@Sharmistha-Rai Could you please review and update as appropriate?

[2022-09-08 05:58] #97720 closed

[2022-09-08 06:01] Venkateshdodda-MSFT commented on #97720
@BradAF Thank you for your feedback! I have updated the document and changes will go live soon.

[2022-09-08 06:25] KapilAnanth-MSFT commented on #97337
Hi @samvit-sharma,

Thank you so much for bringing this to our attention.

This is a document bug. We have updated the document and it should soon reflect in the docs

Rule 942130 is an unsupported rule at the moment. We’ve never released a DRS on Azure Front Door that supports this rule.

@vhorne , I have looped you in the internal communications. Kindly make sure the document is updated.

[2022-09-08 06:29] KapilAnanth-MSFT commented on #98000
@shoyer089, I have assigned this thread to author for further review

@damendo, Please review this and update the IP address to match the range.

[2022-09-08 06:31] AjayBathini-MSFT commented on #98083
@rayoef
Please review it.

[2022-09-08 06:32] yuhenghub opened #98143 "Azure AD Document Link Missing Issue"
This part of the article missing the link to follow up the hands-on lab, the missing link is "https://samltoolkit.azurewebsites.net/"

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that

[2022-09-08 06:38] #88645 closed

[2022-09-08 06:42] osamum opened #98144 "How can I get the " Teams user identity '8:orgid:USER_GUID'"?"
I tried the run sample code on this page.
However I couldn't the sample page. Because I don't know 'Teams user identity'.
What is the 'Teams user identity'? Is it different from the object ID of an Azure AD user?
I tried to set the object ID in the UI of the application but it did not work properly.

How can I get the " Teams user identity '8:orgid:USER_GUID'"?

Then again, the [Run the code] scre

[2022-09-08 06:51] shaktisingh-msft commented on #97888
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-09-08 06:51] #97888 closed

[2022-09-08 06:59] vpraveenreddy opened #98145 "Deployment failing."
Publish seems to be disabled for https://github.com/Azure-Samples/java-docs-spring-hello-world hence azure application deployment is failing.

Build:
Run actions/upload-artifact@v2
Warning: No files were found with the provided path: /home/runner/work/java-docs-spring-hello-world/java-docs-spring-hello-world/target/*.war. No artifacts will be uploaded.
[Enter feedback here]

Deployment:
Run action

[2022-09-08 07:48] jun110 opened #98147 "MMA does not start when Server service is stopped"
We have confirmed that MMA will not start if the Server service is stopped.
This service is essential for MMA to run. Could you please add this as a prerequisite in the documentation?

![image](https://user-images.githubusercontent.com/25476639/189065496-590d4b1a-a4c9-49a0-9275-15d2ca2e70d1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-09-08 07:49] SumanthMarigowda commented on #97679
@@XiaoYue2-22 Firstly, Apologies for the delay response! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-08 07:51] SumanthMarigowda commented on #97954
@zaalion  You can use az storage blob list -c $containerName --account-name $accountName --prefix $blobName --include v to get all versions of a specific blob.
I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further question

[2022-09-08 07:51] #97954 closed

[2022-09-08 08:02] APraestegaard opened #98148 "I would like to see the "Where do you create reviews?" table include Multi-stage Review option"
I would love to see the "Where do you create reviews?" table include a Multi-stage review yes/no column.

My biggest hope is actually to see Multi stage reviews on Access packages. Specifically we use Access Package to approve access to groups (that are provisioned to ServiceNow using the "Azure Active Directory single sign-on [SSO] integration with ServiceNow" where combination of roles are speci

[2022-09-08 08:26] nitbhatt0 opened #98149 "More information needed"
Please include details+example about these 2 options > 1) Recursion and 2) Upload file content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04938c4a-416b-807b-7ee0-a89adac6386f
* Version Independent ID: 38c0e837-0045-a4d5-992a-9eb835e3d4c6
* Content: [File integrity monitoring in Microsoft Defender for Cloud](https:/

[2022-09-08 08:37] #98043 closed

[2022-09-08 08:50] APraestegaard opened #98151 ""Where do you create reviews?" table correction"
Column: Access rights of users
Row: Security group members | Office group members
Reviewers can actually be "Manager of users"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1ffd-7129-7bb4e37b07ff
* Version Independent ID: ec9f7c43-e967-d2e7-cde7-111c5897a798
* Content: [Tutorial: Azure Active Directory s

[2022-09-08 09:01] AzureStackNerd commented on #87574
I had the same issue. I got it resolved by also doing `az login` and `az account set --subscription <subId>` after the `Connect-AzAccount`

[2022-09-08 09:18] dknappettmsft commented on #98057
The download is currently 1.0.4739.1000, but once it's installed it'll upgrade to the latest version, which is why 1.0.5100.1100 is listed in the release notes.

#please-close

[2022-09-08 09:18] #98057 closed

[2022-09-08 09:24] SaibabaBalapur-MSFT commented on #98140
@catmanjan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 09:33] Venkateshdodda-MSFT commented on #97844
@v-pradda  I have assigned to the content author @radubulboaca to share his valuable insights on this

[2022-09-08 09:34] kikofarad opened #98152 "Duplicated link without destination in the left blade check the screenshot"
Duplicated link without destination in the left blade check the screenshot

Assess physical servers for migration to Azure

![screenshot](https://user-images.githubusercontent.com/25963702/189088298-5424c5f3-8dd9-4f07-814b-8f9955cec0f6.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec2de1ed-faeb-a5c6-05aa-183b8818

[2022-09-08 09:38] RamanathanChinnappan-MSFT commented on #98097
@robertoilido

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-08 09:43] AnuragSingh-MSFT commented on #94491
@MasoudSamadi, thank you for reply. It seems that there was a change in parameter type (as mentioned above) and the current module requires `PolicyId` to be a GUID only. Can you please create a new GitHub issue to track it and one of our team members would work on it - to either update the doc with required information, or submit request to update the policyId parameter type.

You can [use this li

[2022-09-08 09:52] RamanathanChinnappan-MSFT commented on #98103
@jamescrowley ,

 For your requested The Docs itself mentioned the page please looking to this if needful, Below updated for your reference

![image](https://user-images.githubusercontent.com/110973511/189090613-cd5bbdf2-862a-4322-9824-03a4989ee31f.png)

For examples

https://github.com/Azure/azureml-examples/blob/main/cli/jobs/pipelines-with-components/rai_pipeline_adult_analyse/components/compon

[2022-09-08 09:53] sakaldeepyadav opened #98153 "Old image at "3. On the Network Connections page, select +Create.""
The image on the page at '3. On the Network Connections page, select +Create' is not the same as now it's on the portal. Please replace it with the latest one. See the left side of the picture. Thanks.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 164e9763-3194-ec2b-8e67-fa7b46bc6bb0
* Version In

[2022-09-08 09:54] CHEEKATLAPRADEEP-MSFT commented on #98034
@Pirognoe  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-08 10:38] jamescrowley commented on #98103
I’m so sorry @RamanathanChinnappan-MSFT  I have no idea how I missed that 🙈 Many thanks for the example

[2022-09-08 10:38] #98103 closed

[2022-09-08 10:53] ygouzerh opened #98154 "Documentation obsolete : Azure RBAC for Azure Arc-enabled Kubernetes clusters"
Hello,

The commands specified in the documentation below doesn't work anymore. For example, `az ad sp credential reset` doesn't have the parameter `--credential-description` and requires the parameter `--id`.

As well, `az ad app permission grant` requires `--scope`

Best regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-09-08 11:23] rishabhsajmera opened #98155 "Frontend subnet exclusion from Forced Tunnelling"
Please confirm: With the steps given, the "Frontend" subnet in "MultiTier-VNet" will also be forced tunnelled.
What would be the steps to exclude "Frontend" subnet from being forced tunnelled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e199bebd-d994-ec96-4716-c995559adc21
* Version Independent ID: 1b856aa3-2779-260

[2022-09-08 11:26] andresteingress commented on #16311
just because we just stumbled upon that:

The mentioned "User-Agent" header is set to "AlwaysOn" (as of September 2022).

[2022-09-08 11:52] phwecker opened #98156 "{region} reference in service FQDNs has not explaination how to "decode""
in the FQDN list, quite a few have reference to a {region} segment, but there does not seem to be any explaination how to get to that value for a given service to end up with a valid FQDN.

as a matter of fact, on some other page in the doc, a list is referenced that explains how to get from the region name to that value as it is apparently *not* the fully qualified region name, but a shortcode ..

[2022-09-08 11:57] ctahok opened #98157 "How to create recommendation digest via PowerShell, CLI or REST API?"
Can you please add details on how to create Azure Advisor recommendation digest programmatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b18093-767e-5958-639c-381d86cf8ff7
* Version Independent ID: baae64ce-46fc-f498-0be2-763d8b34b120
* Content: [Recommendation digest for Azure Advisor - Azure Advisor](https:

[2022-09-08 11:58] rtebrake opened #98158 "Instructions for 'Turn off automatic updates' do not produce expected result"
The script on the page for 'Turn off automatic updates' does not seem to work, I still see applications being updated (or at least attempted)

I did notice the following:

- the line _'Schtasks /Change /Tn '\\Microsoft\\Windows\\WindowsUpdate\\Automatic app update' /Disable'_ seems to reference a Scheduled Task that doesn't exist
Is this no longer necessary or is this outdated and should it be a d

[2022-09-08 12:04] cjohnston-hill opened #98159 "Device Administrator delay correction"
Under the section

Eligible users for the SharePoint administrator role, the Device administrator role, and any roles trying to access the Microsoft Security & Compliance Center might experience delays of up to a few hours after activating their role. We are working with those teams to fix the issues.

Is there any update on when the device administrator role escalation is going to be fixed to pre

[2022-09-08 12:06] Fuchio opened #98160 "Help needed with access to Microsoft.DigitalTwins.Twin.Update event routes"
Hey Microsoft,

The page that I added this feedback to is unclear about how to access properties in a DigitalTwin update patch document.
While using an event route on telemetry data, the properties can be accessed like this:
`
$body.temperature > 22
`
However, it is unclear how to acces this data on twin update events. It clearly says that accessing the modelId differs and using `$body.modelId` wo

[2022-09-08 12:35] MarcLaf opened #98161 "Missing error code AADSTS7000218"
The AADSTS section is missing AADSTS7000218: The request body must contain the following parameter: 'client_assertion' or 'client_secret'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authenticatio

[2022-09-08 12:42] jdoblams commented on #94436
Hey @dlepow thank you for taking care! after working with the CX we notice about there are some extra read permissions to be granted, so at the end the configuration working was as below:

"Microsoft.ApiManagement/locations/deletedservices/*",
"Microsoft.ApiManagement/deletedservices/*"

If this can be added into the documentation will be good.

[2022-09-08 12:57] dknappettmsft commented on #97925
Hi @BenSnape - the documentation has been updated recently for GA and lists the STUN IP addresses.

#please-close

[2022-09-08 13:29] molotch commented on #91085
"then the system evaluates the request against the perms of all named groups until the desired permission is located"

That's very interesting because the behaviour we experienced was that if a user is part of a read and a write group and tries to write to the folder it failed. If we removed the user from the read group it succeeded. As if the permissions weren't evaluated on a "desired permission

[2022-09-08 14:00] richardcox13 opened #98163 "This page is hard to find: nothing in the title says "Configuration""
This page is all about Configuration blade in the Azure Portal, but nothing in the title references than. And the introductory text only says "configuration" in a noun, in its common sense, not as a name (like one uses the Endpoints blade to configure endpoints).

In my case I wanted to find documentation about how to understand the settings I had open, and ended up just looking at each documentat

[2022-09-08 14:05] akinaritsugo opened #98165 "Additional Required URL"
When I tryed to install Arc agent on the AWS environment which needs to use proxy server and URL whitelist filtering, I couldn't completed with using only writtened URLs.
I needed to add following URL into my whitelist.
Although It's maybe depends on region whchi you develop, we needs to add something like that URL.

[code]

This URL is needs for installing some package such as "azcmagent".

I hav

[2022-09-08 14:11] aolszowka opened #98167 "Timer trigger for Isolated process documentation should indicate correct NuGet Package"
In the current version of the documentation:

 https://github.com/MicrosoftDocs/azure-docs/blob/fce52816146005beb3d2e0457dd05ff32ddfb9c9/articles/azure-functions/functions-bindings-timer.md?plain=1#L173

Seems to imply that both the In-process and Isolated Process utilize the same `TimerTriggerAttribute` from the `Microsoft.Azure.WebJobs.Extensions` package. However in our experience this has show

[2022-09-08 14:11] mezzofix opened #98168 "Configure security events data collection via Powershell?"
Hi,

This is to follow up on https://github.com/MicrosoftDocs/azure-docs/issues/37197

Its 3 years now and still can’t see any way to configure and not even retrieve data collection configuration for security events via PowerShell. In an environment with large number of subscriptions you don’t want to check each manually but have a programmatical approach to solve it.

---
#### Document Details

⚠

[2022-09-08 14:11] austinmccollum commented on #97046
Thank you again @vanessabruwer! I've updated the article to reflect the new location and prescription in the solutions area of Sentinel GitHub for RiskIQ. The change should be live later today.

[2022-09-08 14:21] guarismo opened #98169 "Minimum roles needed to manage Alerts and Device Inventory"
Hello, what are the minimum roles needed to manage Alerts and Device Inventory in the Azure Portal's Defender for IoT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f5fdf9-4250-6b2e-8cf4-d270e8e6c94d
* Version Independent ID: 3284cb1b-315f-76dd-2d4b-5022e8729d97
* Content: [Get started with Microsoft Defender for Io

[2022-09-08 14:38] FMERI001 opened #98171 "What is a Vault-ID?"
The instructions in this section: Create private DNS zones and add DNS records manually, references a, "Vault-ID". There is no mention of where to get this identifier and I can't find it anywhere in our ASR instance. Can you please add a section to the instructions indicating where to get this value.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-09-08 14:46] ChaitanyaNaykodi-MSFT commented on #98163
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-08 14:56] austinmccollum commented on #97046
#please-close

[2022-09-08 14:56] #97046 closed

[2022-09-08 14:58] RyanHill-MSFT commented on #95498
@Reisclef can you provide the support case number so I can follow up?

/cc @sethmanheim

[2022-09-08 15:00] RyanHill-MSFT commented on #98044
Thanks for your contribution @JoshWhiteTTD, your PR has been assigned for review.

[2022-09-08 15:03] RyanHill-MSFT commented on #98044
Thanks for your contribution, @[JoshWhiteTTD](https://github.com/JoshWhiteTTD), your PR has been assigned [@tophpalmer](https://github.com/tophpalmer) for review.

[2022-09-08 15:18] krazy-glue opened #98177 "filepath variable in code snippet"
I think the variable assignation for $filePath should read: $filePath = (Get-Location).Path + " \ $CSVFile"
instead of: $filePath = (Get-Location).Path + "/$CSVFile"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36da14cf-4a3d-c509-9b18-9c7bc398a6a2
* Version Independent ID: 1b2a078c-ed85-34fc-a2

[2022-09-08 15:19] dgpoulet opened #98178 "Clarify the meaning of a "Region Outage""
The concept of a Region Outage is important for the "automated" aspects of high availability.

In this paragraph here:

_"Region outages refer to outages that affect all Cosmos DB nodes in an Azure region, across all availability zones. In the rare cases of region outages, Cosmos DB can be configured to support various outcomes of durability and availability."_

It doesn't clearly specify that all

[2022-09-08 15:20] spelluru commented on #96620
@pgr-lopes - Apologize for the delay in responding to you. Could you please open an issue in the SDK repo: https://github.com/Azure/azure-sdk-for-python/ so that the SDK developer can help. Thanks.

#please-close

[2022-09-08 15:21] baf opened #98180 "HTTP proxy support for outbound connectivity"
The article states that only outbound HTTPS traffic is required for the Hybrid Connection Manager to function, but it doesn't make clear whether use of an HTTP(S) proxy is supported to accomplish that outbound connectivity. Is a HTTP(S) proxy supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 645d01fc-eae4-67c0-

[2022-09-08 15:21] wnadim92 opened #98181 "This needs to be more descriptive for when NSGs apply to resources in the subnet"
[Enter feedback here]
This wiki states, "For other resources in the subnet, access is controlled based on security rules in the network security group."

This is not always the case for example app service, the vnet integration applies on the outbound, so the NSG inbound rules never apply to the app service.  Because the public IP inbound address is not affected by the NSG.  The app service appear

[2022-09-08 15:21] KrishnaG-MSFT commented on #98154
@ygouzerh Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-08 15:21] krazy-glue commented on #98177
I just found out backslash are for something in the editor...

[2022-09-08 15:23] KrishnaG-MSFT commented on #98152
@kikofarad Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-08 15:27] KrishnaG-MSFT commented on #98157
@ctahok Thanks for your comment!

Assigning the issue to @orspod for visibility, review and document enhancement consideration as appropriate.

[2022-09-08 15:28] #97990 closed

[2022-09-08 15:33] Minalt1355 opened #98185 "GCP Native cloud connector (recommended)"
GCP Native cloud connector (recommended) description needs to be updated to GCP resources (Currently It is the same as AWS resources).
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9132fa3-434e-8339-b5e4-5ecc924d8f63
* Version Independent ID: 365c05fb-43b8-807c-e14b-804050e0340a
* Content: [Connect your GC

[2022-09-08 15:35] dixonhill2020 opened #98187 "Least privileged role for group creation"
According to my tests regular member user (without Groups Administrator role) can create groups.
The below article seems to confirm that too:
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions?context=%2Fazure%2Factive-directory%2Froles%2Fcontext%2Fugr-context

Thanks and have a good one.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-09-08 15:38] holl59 opened #98188 "Multi syntaxe error on the bloc "3. Create the script.""
The good bloc ;)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff77b7b3-fa05-0260-fc51-a3e452579b78
* Version Independent ID: 172c79fc-51c1-a260-fad7-d35c7f6994c6
* Content: [Configure custom DNS settings using dnsmasq - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/kb/cloud/custom-dns-ro

[2022-09-08 15:42] ghost opened #98190 "Azure Static Website"
This worked, but why can't it be done from Visual Studio?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e39b7e-89ef-65ea-8174-6739e50da1b4
* Version Independent ID: e56882ab-0817-45d2-8526-8647f2ef9f6d
* Content: [QuickStart: Create a static HTML web app - Azure App Service](https://docs.micros

[2022-09-08 15:44] Oury-MSFT commented on #98178
@Dgpoulet Thank you for your feedback. We are reviewing this and will get back shortly.

[2022-09-08 15:46] djdean opened #98191 "Switching installed custom kernels ONLY loads python packages for Anaconda environments"
[Enter feedback here]
When a custom kernel is installed under an Anaconda environment, switching to that kernel will only load the packages in that environment and will not load other artifacts (e.g., environment variables). This seems to be a Jupyter issue but we should make a note of this in the documents as it can both delay the implementation of custom kernels and also to inform customers that

[2022-09-08 15:50] RoseHJM commented on #98153
Thank you @sakaldeepyadav, I will get the image updated.

[2022-09-08 15:53] marqwrylee commented on #97947
Support resolved the issue for us. The claims rules should not have https:// in them for the schema references. They should be http://

[2022-09-08 15:59] robertspears opened #98193 "The stated time for autorotation to complete is not correct."
Under the "Use your own certificate" section is the following line -
_It takes up to 24 hours for the new version of the certificate/secret to be automatically deployed._

This statement is not 100% correct.  According to the MS Product Group, "... if the customer is using certificate autorotation ("Latest" in the portal or a null secret version when viewing the secure delivery snapshot in Kusto),

[2022-09-08 16:07] YashikaTyagi-MSFT commented on #98143
@yuhenghub
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:15] whhender commented on #97828
@Edcorcor - Thanks for your patience! I have some clarification.

There was a miscommunication between me and the development team, so here's the guidance:

Microsoft Purview supports SAP ECC 6.0 and all SAP S/4HANA versions as the successor to SAP ECC.

[2022-09-08 16:16] whhender commented on #97829
@isdataninja - Thanks for your patience! I have some clarification, and have corrected the documentation.

There was a miscommunication between me and the development team, so here's the guidance:

Microsoft Purview supports SAP ECC 6.0 and all SAP S/4HANA versions as the successor to SAP ECC.

[2022-09-08 16:16] whhender commented on #97829
#please-close

[2022-09-08 16:16] #97829 closed

[2022-09-08 16:16] whhender commented on #97828
#please-close

[2022-09-08 16:21] orspod commented on #98157
@rboucher FYI

[2022-09-08 16:22] YashikaTyagi-MSFT commented on #98185
@Minalt1355
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:24] v-jbasden commented on #87828
Thanks for the feedback and sorry for the late reply. Answer is the Autoscale job runs every 30 to 60 seconds, depending on the resource type. The Understand Autoscale settings article has been updated.

#please-close

[2022-09-08 16:24] #87828 closed

[2022-09-08 16:25] alvintai78 opened #98194 "The pre-trained model download URL seems not working"
[Enter feedback here]

This line of code does not work anymore. It seems the URL is not valid anymore

urllib.request.urlretrieve("https://aka.ms/bidaf-9-model", "model.onnx")

Thanks
Alvin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f058fe1-87a8-965f-0759-a09ef434d07d
* Version Independent ID: f923e1bd-224d-66a1-e

[2022-09-08 16:25] YashikaTyagi-MSFT commented on #98144
@osamum
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:30] craigeaw opened #98195 "Add the identifier section is confusing and poorly documented"
The "Add the identifier" part of this document is confusing and following the steps doesn't work. It states that you should use the entityId of your application, which will likely not be on the tenant-name.onmicrosoft.com domain. It then says that "The identifierUris property will accept URLs only on the domain tenant-name.onmicrosoft.com." Following the steps to set accessTokenAcceptedVersion to

[2022-09-08 16:31] YashikaTyagi-MSFT commented on #98145
@vpraveenreddy
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:32] YashikaTyagi-MSFT commented on #98147
@jun110
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:34] YashikaTyagi-MSFT commented on #98148
@APraestegaard
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:35] alumriel commented on #95481
@JamesTran-MSFT any chance of getting an update on this? I've seen no response from @curtand

[2022-09-08 16:41] YashikaTyagi-MSFT commented on #98151
@APraestegaard
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:51] YashikaTyagi-MSFT commented on #98158
@rtebrake
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:54] YashikaTyagi-MSFT commented on #98159
@cjohnston-hill
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 16:58] YashikaTyagi-MSFT commented on #98160
@Fuchio
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:07] JimThorstad opened #98197 "Malformed Link Text in Credential Passthrough topic"
Hello, if you visit this page https://docs.microsoft.com/en-us/azure/databricks/security/credential-passthrough/adls-passthrough#--mount-azure-data-lake-storage-to-dbfs-using-credential-passthrough you'll see that the first sentence reads:

- You can mount an Azure Data Lake Storage account or a folder inside it to **What is the Databricks File System (**DBFS)?

This is grammatically incorrect and

[2022-09-08 17:10] YashikaTyagi-MSFT commented on #98171
@FMERI001
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:12] AjayBathini-MSFT commented on #98195
@craigeaw
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:14] AjayBathini-MSFT commented on #98187
@dixonhill2020
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:14] YashikaTyagi-MSFT commented on #98165
@akinaritsugo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:16] YashikaTyagi-MSFT commented on #98167
@aolszowka
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:17] AjayBathini-MSFT commented on #98197
@JimThorstad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:18] YashikaTyagi-MSFT commented on #98168
@mezzofix
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:19] AjayBathini-MSFT commented on #98191
@djdean
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:21] AjayBathini-MSFT commented on #98190
@erwinroots
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:23] YashikaTyagi-MSFT commented on #98169
@guarismo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:23] AjayBathini-MSFT commented on #98188
@holl59
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:24] YashikaTyagi-MSFT commented on #98177
@krazy-glue
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:27] AjayBathini-MSFT commented on #98181
@wnadim92
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:27] kevelife opened #98198 "Pod name change from azuredefender to microsoft-defender"
[Enter feedback here]

When the profile is added, you should see a pod called azuredefender-XXXXX in Running state. It might take a few minutes for pods to be added.

I believe the new pod name is now:

kubectl get pods --all-namespaces | grep defender
kube-system         **microsoft-defender**-collector-ds-tts87                2/2     Running   0             17h
kube-system         microsoft-defe

[2022-09-08 17:27] sblair01 opened #98199 "Route Server Step by Step guide for non-global reach deployments"
Hello. This page currently points to Azure CAT's GitHub which has outdated scenarios. Most of our customers are using Route Server. This is the encouraged path. I think it's best to point them to the Landing Zone guidance which has step by steps for the architectures:

https://github.com/Azure/Enterprise-Scale-for-AVS/blob/main/BrownField/Networking/Step-By-Step-Guides/Scenario-2/readme.md

Glad t

[2022-09-08 17:28] AjayBathini-MSFT commented on #98194
@alvintai78
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:29] ericd-mst-github commented on #85389
Hi @CamiloTerevinto, I have received a response from engineering in regard to updating VM applications.

You will have to update the application profile of the VMs with the new version. In the future, we'll support this as well through policy and auto-update but for now this needs to be done through a new goal state.

Thank you for your feedback and please let us know if further clarification is n

[2022-09-08 17:30] AjayBathini-MSFT commented on #98193
@robertspears
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 17:33] alumriel opened #98200 "How to activate "Azure Resource" roles like "Contributor"?"
Can you please add instructions for how to activate eligible roles that are not technically "aadRoles", such as built-in roles like "Contributor"?
I can't find any indication of what other valid ProviderId values exist other than "aadRoles".
From a portal perspective, I'm talking about eligible assignments listed under "Azure resources", rather than "Azure AD roles".

Thanks!

---
#### Document De

[2022-09-08 17:33] maxplyassunov opened #98201 "Azure Event Hubs dedicated availability zones support documentation doesn't reflect actual state for availability zones support"
This document says that the event hub supports availability zones, and this document says which region supports availability zones - https://docs.microsoft.com/en-us/azure/availability-zones/az-region#azure-regions-with-availability-zones.

However, we recently built a dedicated event hub in North Europe and it turned out the availability zones are not supported for a dedicated event hub in there.

[2022-09-08 17:40] JamesTran-MSFT commented on #95481
@alumriel
Thank you for following up on this!

When it comes to PowerShell commands for activating PIM roles, you should be able to reference our [PowerShell for Azure AD roles in Privileged Identity Management](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles) documentation. For more info - [Privileged Role Management](https://do

[2022-09-08 17:41] bitsofinfo opened #98202 "is kubenet supported for application gateway ingress controller?"
The doc on this page states that a pre-req for AGIC is that azure CNI networking be installed.... yet this page says kubenet is supported? https://github.com/Azure/application-gateway-kubernetes-ingress

Where should I be reading for instructions regarding getting AGIC working w/ Kubenet on a pre-existing AKS cluster? or is this not really possible?

---
#### Document Details

⚠ *Do not edit this

[2022-09-08 17:42] bandersmsft commented on #97808
Hi @helderpinto

To use the Cost Details API, you need read only permission. Sorry we missed adding that information to the article. I've updated the article to add that detail and to add links to sections in the https://docs.microsoft.com/azure/cost-management-billing/costs/understand-work-scopes article for more information.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/210536

#please-cl

[2022-09-08 17:42] #97808 closed

[2022-09-08 17:47] smargo171 opened #98203 "Step 6.5 is not clear"
[Enter feedback here]
Step 6.5 is not clear. Why another port is used - not the same as before? If a separate web server has to be started on this port - we need a script for this and this has to be described.

For the API call part in the example text you have "hello" endpoint, but in the code "graphcall". This is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-09-08 17:50] dgpoulet commented on #98115
Sorry to reopen this, but some feedback I received today about this text:

_If the user has configured a preferred region list with more than one region and the client exhausted all local retries, it can attempt to retry that single operation in the next region from the preference list._

It raised the following question: _does this mean that the retry against another region in the preference list

[2022-09-08 18:11] match-gabeflores opened #98204 "Azure Analysis Services with Excel - should mention doesn't work on Mac OS"
Hi, I think it should be mentioned somewhere that Azure Analysis Services (AAS) doesn't work with Excel on Mac OS X. We receive a lot of questions from Mac OS users about this limitation and it's not properly documented on MS Docs.

FYI for others, this enhancement is currently requested here:
* https://feedback.azure.com/d365community/idea/b149d63f-0625-ec11-b6e6-000d3a4f0858

---
#### Document D

[2022-09-08 18:29] cebundy commented on #97438
#assign:cebundy

[2022-09-08 18:31] alumriel commented on #95481
@JamesTran-MSFT I did find that document, but it's specific to Azure AD roles and doesn't indicate how to activate assignments listed under "Azure Resources", like the built-in "Contributor" role. I can't find any documentation to indicate what other valid ProviderIds exist besides "aadRoles". (Contributor doesn't exist there)

[2022-09-08 18:32] MarileeTurscak-MSFT commented on #98198
@kevelife
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 18:33] timoklimmer opened #98206 "Described modes list is not complete"
The list of the described modes under "Job Input" is not complete. It misses explanations for the "eval_" modes.

The article [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-read-write-data-v2?tabs=CLI#supported-modes) describes all modes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4909720f-c4

[2022-09-08 18:37] kgremban commented on #93642
We've added a work item to our backlog to update the tutorial to cover all of our supported SDK languages, and we'll be tracking the progress internally. I'm going to close this github issue now but will comment here again when the work is done.

If there are any further questions on this issue, feel free to post them here. We can always reopen the issue if necessary.

Thanks again.

#please-close

[2022-09-08 18:37] #93642 closed

[2022-09-08 18:38] ericd-mst-github commented on #97340
Hi, thanks for providing feedback that helps improve our documentation and I appreciate your patience. I connected with engineering and the status parameter at this time is indeed not valid.

I have updated the documentation with a modified command.

This issue has been resolved and we are closing the issue. #please-close

[2022-09-08 18:38] #97340 closed

[2022-09-08 18:51] YutongTie-MSFT commented on #98206
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-09-08 19:04] JamesTran-MSFT commented on #95481
@alumriel
Thank you for following up on this!

I did some more research and it looks like the [Activate a role with ARM API](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-resource-roles-activate-your-roles#activate-a-role-with-arm-api) section details using ARM API commands to manage Azure resource roles, as documented in the [PIM ARM API reference](htt

[2022-09-08 19:05] madmapper opened #98207 "AppCenter is a dead end - need to provide clear guidance on the future of mobile analytics in the MSFT stack"
AppCenter appears to be abandonware at this point and zero plans have been communicated for support of MAUI - Microsoft's own cross-platform development tool.

Please recommend an alternative Microsoft product with the features of AppCenter or if Microsoft no longer plans to support this functionality say that so developers can make informed decisions about using Microsoft in future projects
https

[2022-09-08 19:08] robertspears commented on #98193
Hey @ChaitanyaNaykodi-MSFT that's a great question.
I followed up with PG.  I'm told the timeframe also applies to Standard Azure frontdoor and Premium Azure frontdoor.

In addition, the document and screenshot you referenced above is pointing towards the classic AFD document.  Please note also that the [classic CDN document](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?toc=%2Fazure%2

[2022-09-08 19:22] JamesTran-MSFT commented on #98200
@alumriel
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-08 19:36] MarkRagnar opened #98208 "General Availability"
[Enter feedback here]
When will this be GA? What are the known issues, if any?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ccb59e-98fc-0382-030a-c3805494afd2
* Version Independent ID: ed04168c-41ba-e6c6-fe83-f6e5c760ba5a
* Content: [Create a profile container with Azure Files and Azure Active Directory (preview)](

[2022-09-08 19:41] KranthiPakala-MSFT commented on #98204
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-08 19:48] cebundy commented on #97438
Added note to the file [articles/container-apps/vnet-custom-internal.md](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/container-apps/vnet-custom-internal.md).
#please-close

[2022-09-08 19:48] #97438 closed

[2022-09-08 19:52] KranthiPakala-MSFT commented on #98188
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-08 19:53] BhargavaGunnam-MSFT commented on #96491
Hello @axcap ,
Please let us know if you need any help with the support request.

[2022-09-08 19:54] mavdo1 opened #98209 "Ambiguous, contradictory or confusing bullet points"
The wording says:
* Ensure that the source server has a public IP address, that DNS is publicly accessible, or that the source server has a fully qualified domain name (FQDN).
* In case of public access, ensure that the source server has a public IP address, that DNS is publicly accessible, or that the source server has a fully qualified domain name (FQDN).
* In case of private access ensure that

[2022-09-08 20:20] ealsur commented on #98115
It can **attempt** because there are further conditions on the next sentence: Write operations can only be retried in other region if the Azure Cosmos DB account has multiple write regions enabled, while read operations can be retried in any available region.

So the conditions on which the SDK will retry is:

* PreferredRegions > 1 and Read request
* PreferredRegions > 1 and Write request and Mul

[2022-09-08 20:32] dgpoulet commented on #98115
I guess the crux of the question was - assuming all those conditions you mentioned are met, does that retry happen **automatically**? From what you're saying the answer is yes, but obviously only IF those conditions are true.

[2022-09-08 20:32] #98115 closed

[2022-09-08 20:34] ChaitanyaNaykodi-MSFT commented on #98193
Hello @robertspears, Thank you for the quick response and additional information here. I am working on a PR to update these documents.

[2022-09-08 20:42] ealsur commented on #98115
The retry will happen if the conditions are met. There are some language specific constructs (like the CancellationToken in .NET) that would be able to stop any retry from happening, but conceptually, yes, the retry is automatic.

[2022-09-08 20:45] dvescovi1 commented on #95675
same issue here with AZ CLI version 2.40.0

[2022-09-08 20:49] SatishBoddu-MSFT commented on #97763
Hello @alexbuckgit , @johnkemnetz Could you please help in this matter.

[2022-09-08 20:51] SatishBoddu-MSFT commented on #97771
Hello @nickludwig Could you please help in this matter.

[2022-09-08 21:25] AbdullahBell commented on #77860
#assign @AbdullahBell

[2022-09-08 21:25] AbdullahBell commented on #77039
#assign @AbdullahBell

[2022-09-08 21:28] janicericketts commented on #98100
@JamesTran-MSFT The illustration depicts the described scenario. I am not sure what would need clarifying, given the information in the bullets following the diagram.

[2022-09-08 22:13] Gargi-Sinha commented on #97947
@marqwrylee - Thanks for letting me know.

[2022-09-08 22:15] dnabookofficiall opened #98210 "Check for feedback"
Please update my settings for admin

[2022-09-08 22:26] rboucher commented on #77234
#reassign @guywi-ms

[2022-09-08 22:26] rboucher commented on #77234
#re-assign @guywi-ms

[2022-09-08 22:35] MarileeTurscak-MSFT commented on #98203
@smargo171
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-08 22:41] rboucher commented on #77234
#reassign:@guywi-ms

[2022-09-08 23:03] joshbinney commented on #93642
Thanks!

On Fri, 9 Sep 2022, 6:37 am Kelly Gremban, ***@***.***> wrote:

[2022-09-08 23:13] I90Runner commented on #93019
I have setup the virtual wan with P2S VPN and no way to resolve private dns entries except setting up VM or container based  DNS forwarder.

[2022-09-08 23:14] MarileeTurscak-MSFT commented on #98210
@dnabookofficiall thanks for the feedback! Since there is not enough information in this post to provide further guidance, please create a new issue linking the relevant document and detailing the changes you would like to see in it.

[2022-09-08 23:14] #98210 closed

[2022-09-08 23:20] alumriel commented on #95481
I appreciate the response, but how does this process work if "Contributor" is set at the Tenant level, not subscription?

[2022-09-08 23:30] catmanjan commented on #98011
Thanks in the end I had to manually set the KUBECONFIG environment variable

[2022-09-08 23:30] #98011 closed

[2022-09-08 23:35] alumriel commented on #98200
(switched accounts)
To be more specific, we are looking for instructions that include scoping to a Management Group, rather than a Subscription.

[2022-09-09 00:02] JamesTran-MSFT commented on #98100
@robertlagrant
To gain a better understanding of your ask, would you be able to share some more information on what you'd like updated?

If you have any other questions, please let us know.
Thank you for your time and patience throughout this issue.

[2022-09-09 00:06] RoseHJM commented on #98153
I've updated the image, so I'm closing this issue.

Thanks again @sakaldeepyadav!

[2022-09-09 00:14] RoseHJM commented on #97911
@kaito-ms
I've updated the image used in the "Create network connection" section. I hope this makes the workflow clearer.
Thank you for you feedback.

[2022-09-09 00:28] JamesTran-MSFT commented on #95481
@alumriel
Thank you for following up on this!

If you have the `Contributor` role scoped at the "Tenant Root Group" level this refers to the [Root Management Group](https://docs.microsoft.com/en-us/azure/governance/management-groups/overview#hierarchy-of-management-groups-and-subscriptions). However, for this process to work in your scenario, you'll have to change the scope in the PS script to the

[2022-09-09 01:02] ChaitanyaNaykodi-MSFT commented on #98202
Thank you for your feedback! We will review and update as appropriate.

[2022-09-09 01:03] ChaitanyaNaykodi-MSFT commented on #98181
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-09 01:15] clarenceb opened #98212 "Architecture diagram shows incorrect language icons for cart and order services"
Please update this architecture diagram: https://docs.microsoft.com/en-us/azure/spring-apps/media/quickstart-sample-app-acme-fitness-store-introduction/architecture.png

It shows that the Cart service is written in C# and Order service is written in Python (using the corresponding logo icons).

This is incorrect.  Cart should be [Python](https://github.com/clarenceb/acme-fitness-store/tree/Azure/a

[2022-09-09 01:36] J227668 commented on #97899
This is completely different and does not reference Workday integration/user provisioning

[2022-09-09 02:19] ryo-0813 opened #98216 "2209020060000729 Event Grid System Topic About permissions when undeliverable is enabled"
[Details]
On the Event Grid system topic, I checked and saved the additional feature - Enable non-delivery, but failed.

I believe that the storage account should be granted permissions on the system topic.
However, since the necessary authority is not listed in the reference point below, I would like you to inform me of the minimum necessary authority.
https://docs.microsoft.com/ja-jp/azure/event

[2022-09-09 03:19] huwgeric opened #98218 "The max size Block blob can support is more than 4.7 TB"
"Block blobs can be as large as 4.7 TB" is not correct.

"Block blobs store text and binary data. Block blobs are made up of blocks of data that can be managed individually. Block blobs can store up to about 190.7 TiB."
 https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-introduction

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-09-09 03:20] nicoride93 commented on #92058
Im looking for the same solution! If someone finds a workaround great!

[2022-09-09 03:21] lkozhushnik1 commented on #98134
Thank you @adbadram, will engage with the customer for reviewing process.

[2022-09-09 03:28] gmndrg commented on #97747
We have updated the documentation and it is currently under final review. This will be merged into public doc within the following two weeks. Thank you so much for reporting this, @howlieT . We'll proceed to close this thread now.

[2022-09-09 03:29] gmndrg commented on #97747
#please-close

[2022-09-09 03:29] #97747 closed

[2022-09-09 03:43] YashikaTyagi-MSFT commented on #98199
@sblair01
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 03:44] YashikaTyagi-MSFT commented on #98201
@maxplyassunov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 03:46] YashikaTyagi-MSFT commented on #98207
@madmapper
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 03:47] YashikaTyagi-MSFT commented on #98208
@MarkRagnar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 03:48] YashikaTyagi-MSFT commented on #98212
@clarenceb
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-09 03:50] YashikaTyagi-MSFT commented on #98216
@ryo-0813
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 03:52] YashikaTyagi-MSFT commented on #98218
@huwgeric
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-09 04:07] gmndrg commented on #97872
Hello @howlieT we have fixed the errors in the documentation and currently is under review before merging. This should be uploaded to public documentation within two weeks. Thank you so much for reporting this and providing a workaround. We will proceed to resolve this thread now.

[2022-09-09 04:07] gmndrg commented on #97872
#please-close

[2022-09-09 04:07] #97872 closed

[2022-09-09 04:22] Aarthi-Vijayaraghavan commented on #97918
Hi @urbantz-technical-support, I understand your concern. The Dasv5 SKU do not support ephemeral as the SKUs do not come with cache or temp space to place the Ephemeral OS disk. If you want to use Ephemeral OS disk on a v5 SKU the next option would be to use Dadsv5 SKUs as they have temp space to place the Ephemeral OS disk.

[2022-09-09 04:30] #97933 closed

[2022-09-09 04:33] VikasPullagura-MSFT commented on #97409
@gvanteylingen Can you please share the exact url that you would like to include in the page?

[2022-09-09 05:02] YashikaTyagi-MSFT commented on #98101
@nssidhu
As per mentioned in document security groups need to be created in Azure AD. Please follow the below steps and here is the link mentioned to create security group.
https://docs.microsoft.com/en-us/azure/synapse-analytics/security/how-to-set-up-access-control#access-control-mechanisms:~:text=individual%20resources%20only.-,Note,remove%20a%20group%20from%20another%20group%20using%20Azure%20

[2022-09-09 05:10] benkaan001 opened #98220 "blob_sas_token needs to be updated"
Shared Access Signature appears to be invalid, as the following error appears:

shaded.databricks.org.apache.hadoop.fs.azure.AzureException: hadoop_azure_shaded.com.microsoft.azure.storage.StorageException: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-09-09 05:14] YashikaTyagi-MSFT commented on #98143
Hi @yuhenghub
Could you please confirm which part of the article is missing the link "https://samltoolkit.azurewebsites.net/" so that we can work upon enhancing the document. Thanks

[2022-09-09 05:21] benkaan001 commented on #98220
I found out the answer in another platform. It needs to be updated to` r""`.

[2022-09-09 05:22] #98220 closed

[2022-09-09 05:29] BryanTrach-MSFT commented on #97915
@xboxeer We also are having issues with running the cmdlet you mentioned and getting the app to load. As a result, we have assigned the feedback to the doc author for further investigation.

[2022-09-09 05:53] YashikaTyagi-MSFT commented on #98094
@andersthorbeck
As per my understanding
Root scope can be specified at four levels: management group, subscription, resource group, and resource.
1. Management Group Level
It gives you enterprise-grade management at scale no matter what type of subscriptions you might have. However, all subscriptions within a single management group must trust the same Azure Active Directory (Azure AD) tenant.
 Ro

[2022-09-09 06:04] AjayBathini-MSFT commented on #98177
@krazy-glue
Thanks for your contribution! we have raised the PR once author approves changes go live soon.

[2022-09-09 06:08] AjayBathini-MSFT commented on #98199
@sblair01
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@jjaygbay1
please review it

[2022-09-09 06:11] SreejaBhattacharya-MSFT commented on #98085
Hello @zr-msft @palma21 , could you please provide your insights on the above ?
Thanks

[2022-09-09 06:41] YashikaTyagi-MSFT commented on #98151
Duplicate issue as https://github.com/MicrosoftDocs/azure-docs/issues/98148
Closing this thread.

[2022-09-09 06:46] SaibabaBalapur-MSFT commented on #98208
@MarkRagnar
Can you please elaborate on your ask to help me understand better? Thanks

[2022-09-09 06:46] YashikaTyagi-MSFT commented on #98151
@APraestegaard
I am not able to find the exact details on the document provided https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/servicenow-tutorial
If i am not mistaken is this the correct document relating to issue.
https://docs.microsoft.com/en-us/azure/active-directory/governance/access-reviews-overview
Can you please confirm ?

[2022-09-09 06:55] SaibabaBalapur-MSFT commented on #98158
@rtebrake
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@Heidilohr
Please review it .

[2022-09-09 07:01] AjayBathini-MSFT commented on #98177
#signoff

[2022-09-09 07:01] #98177 closed

[2022-09-09 07:08] ManoharLakkoju-MSFT commented on #98018
#Application issue resign off

[2022-09-09 07:16] ManoharLakkoju-MSFT commented on #98112
@billmath
Please review it.

[2022-09-09 07:18] Janhavi-MS opened #98223 "DDoS management support for APIM"
The first note says - _PaaS services (multi-tenant), which includes Azure App Service Environment for Power Apps or API management in a virtual network with a public IP, are not supported at present._
However, we've got confirmation from DDoS and APIM PG that API management in a virtual network with a public IP is supported by DDoS Standard.

---
#### Document Details

⚠ *Do not edit this section.

[2022-09-09 07:25] #97728 closed

[2022-09-09 07:27] ManoharLakkoju-MSFT commented on #98187
@dixonhill2020
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-09-09 07:27] #98187 closed

[2022-09-09 07:31] ManoharLakkoju-MSFT commented on #98159
@cjohnston-hill
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.
@amsliu
Please review it.

[2022-09-09 07:37] CamiloTerevinto commented on #85389
Hi @ericd-mst-github,

Thanks for that! It would be great if you could comment a bit more on what will be required on my end to get this working. I'm trying to build an Azure DevOps Pipeline to update a VM Application in a VMSS.

[2022-09-09 07:40] ms-ishiyam opened #98224 "AzCopy keep handling some files after those are transferred"
When I transferred 20,000 files to Azure Files by AzCopy, I found that AzCopy process keep handling some files after those are transferred. I confirmed that the resource lock was finished after AzCopy transferred all of 20,000 files. I think this behavior is very inconvenient because we can not open those files during transfer. If the number of files is so many and the volume is big, the period of

[2022-09-09 07:56] axcap commented on #96491
@BhargavaGunnam-MSFT, @MartinJaffer-MSFT here is the support ticket id: 2209090050000304.

[2022-09-09 08:01] Reisclef commented on #95498
Hi Ryan,

I think the case was closed as they raised an internal request with the engineering team (they didn't provide me with a reference for this) but if it helps, the service request was 2208090050001588

[2022-09-09 08:22] BlueSpaceship opened #98225 "Code sample contains misleading naming"
In the "Download Blobs" section the sample code says
blob_client = blob_service_client.get_container_client(container= container_name)

The variable naming is misleading, the get_container_client function is returning a container_client not a blob_client

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c

[2022-09-09 08:36] AnuragSharma-MSFT commented on #98223
@Janhavi-MS Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-09-09 08:42] gvanteylingen commented on #97409
All, unfortunately the page had to be temporarily pulled. It will return in the near future, upon which the solution can be included here. Let me know if you want to keep this PR open until then, or if I should open a new PR at that time.

Apologies for this. It was a late minute change.

[2022-09-09 08:43] AlexSapple opened #98227 "ACS email preview - Repeatability first sent header was not in 5 minutes window"
Hi,

when running local tests using ACS email I am getting the following error - I'm confident I wasn't previously getting these errors with what appears to be the same code - also I am not adding any custom headers at all. Any ideas on what might trigger this??

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2

[2022-09-09 08:48] siddharth-redseer commented on #90345
@CHEEKATLAPRADEEP-MSFT getting the same error on Azure synapse. fsspec version is 2022.7.1, it was working perfectly a month ago. I guess synapse spark fetched a newer version when I uploaded a new package list. I do see Azure blob in fsspec docs. How is synapse missing that!?

[2022-09-09 08:52] kmathewmk opened #98228 "AG rate/request limiting"
Does AG implement rate or request limiting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions about Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gatewa

[2022-09-09 09:03] kopetan-ms opened #98229 "Can't find how to check for Dapr version"
Hello, after spending an hour trying out different cli commands, I can't find a way how to check the deployed Dapr version in the environment.
The documentation states that that's possible via the Portal and the CLI, can we please add examples on how to do that?
As a workaround It's possible to check the Logs and see Dapr version.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-09-09 09:30] anoobbacker opened #98230 "Change action rules to alert processing rules"
The action rules has been renamed to alert processing rules. And the screenshots here needs update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66083034-60d5-4730-b20b-9783db7a745d
* Version Independent ID: 9fe9ae21-76aa-2a26-6589-760c3fc999ed
* Content: [Use action rules to manage alert notifications on Azure Stack

[2022-09-09 09:32] anoobbacker commented on #98230
Also please remove the statement which calls out that it is in preview.  Alert processing rules when GA during Feb2022: https://azure.microsoft.com/en-in/updates/generally-available-alert-processing-rules-in-azure-monitor

[2022-09-09 10:14] ThomasPoppelgaard opened #98231 "No longer OS support"
[Enter feedback here]
Regarding NVV4

There is no longer support on following OS:
Windows 10 & Windows 10 multisession 1909, 2004, 2009 are no longer supported,

Same with Windows Server 2019 (version 1909)

Only supported is Windows Server 2016 (version 1607)

Why isn't there mentioned newer OS including Windows 11 & Windows Server 2022 support for NVV4?

When is there support for supported OS Wi

[2022-09-09 10:37] VikasPullagura-MSFT commented on #98231
@ThomasPoppelgaard
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-09 10:38] VikasPullagura-MSFT commented on #98231
@vikancha-MSFT
Can you please check and add your comments on this doc update request as applicable.

[2022-09-09 11:02] thomhurst commented on #89765
For getting MessageHeaders in isolated functions I've done this:

[code]

Then in the function, inject in FunctionContext and use that extension:

[code]

[2022-09-09 11:04] AshokPeddakotla-MSFT commented on #97802
@petoor Apologies for not being so clear on this query. I'm able to find the package under this path : https://packages.microsoft.com/ubuntu/18.04/multiarch/prod/pool/main/d/deviceupdate-agent/

I'm not seeing any restrictions on using the previous versions. Do you have any specific version which you have tried and not working?  It works with previous Debian versions as well and also works with th

[2022-09-09 11:48] #97409 closed

[2022-09-09 12:28] Hmr-ramzi commented on #90345
@siddharth-redseer I am experiencing the same issue on synapse. It was working perfectly fine like yesterday :D any idea about a possible resolution? I tried to upgrade the fsspec but looks like this was not enough to fix the problem. Any hint?

[2022-09-09 12:48] RamanathanChinnappan-MSFT commented on #98120
@Subhashini2610

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-09 12:55] hhunter-ms commented on #98229
#assign:hhunter-ms

[2022-09-09 12:57] soferreira opened #98233 "unable to retrieve secret from KV using RBAC"
Documentation link: https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/microsoft-spark-utilities?pivots=programming-language-python#configure-access-to-azure-key-vault

I am using RBAC and not Access policies.

I tested the connection to KV and it's working fine, see Image 1. However, I am unable to retrieve the secret from my KV with "Key Vault Secrets User" or "Key Vault Reader", see

[2022-09-09 13:18] KapilAnanth-MSFT commented on #98228
@kmathewmk, Thanks for the feedback. We shall review this and get back to you shortly

[2022-09-09 13:26] mattlunzer opened #98235 "Which tenant must register for the Azure Active Directory federated client identity feature?"
In the "About the Preview" section [https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-cross-tenant-new-account?tabs=powershell-preview%2Cazure-portal%2Cportal#about-the-preview](url) which tenant should the preview be registered in? The ISV, the customer tenant or both? It is not clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-09-09 13:40] nicoride93 commented on #92058
I was able to do it with static files if you are interested

[2022-09-09 13:44] michaelspinks opened #98236 "Please provide a list of specific required resource types by the Flux extension install process"
Sometimes Developers have Azure policy in place blocking resource types, which will block the install of the flux extension.

It would be beneficial if you could highlight what the required resource types are and that they should be permitted by Azure policy as important so a Developer can ensure the required resource types are permitted.

For instance with the registered resource providers Micros

[2022-09-09 14:02] nosalan opened #98237 "Invalid bicep example"
This section contains Bicep example that does not conform to Bicep syntax:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/connect-ssh?tabs=bicep#copy-a-public-key-using-the-runcommand-extension

[code]

Using the example above yields this error among others:
`Error BCP103: The following token is not recognized: """. Strings are defined using single quotes in bicep.`

Additionally,