[2021-04-08 02:01] RonnieQuan opened #73436 "VMSS from Different Subscription as Backend Pool for Application Gateway"
Seems Application gateway does not support VM scale set from different subscription as backend pool, I tried to use powershell to configure a VMSS and reference application gateway backend pool id from different subscription, the deployment failed.

Can you please confirm this is by design, do you have plan to enhance to allow app gateway to work with vm scale set from different subscription?

[En

[2021-04-08 02:01] rboucher commented on #45679
@normesta Can you help with this issue please?

[2021-04-08 02:06] dcbrown16 opened #73438 "SQL outdated list of logs"
The list of logs available for SQL is out of date.
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-categories#microsoftsqlserversdatabases

"Basic" and "InstanceAndAppAdvanced" have been added, I believe those are replacements for "AllMetrics", although that category isn't listed under any of the resources on this page for some reason.
These logs listed in the doc are

[2021-04-08 02:07] dcbrown16 commented on #73438
Oh and also "WorkloadManagement" is available in the Portal, this seems to be Synapse Analytics-related but I don't see a specific public doc.

[2021-04-08 02:16] dcbrown16 commented on #73435
Yep, it's not available in the Portal. (on this screen or the detailed setting screen)
![image](https://user-images.githubusercontent.com/34466884/113958335-c2629180-97d5-11eb-8bdb-ea1e14689413.png)

[2021-04-08 02:17] rboucher commented on #45679
Fixing via https://github.com/MicrosoftDocs/azure-docs-pr/pull/153640

[2021-04-08 02:18] dcbrown16 commented on #73435
I thought flow logs had to be collected from Network Watcher. There is a separate Portal blade for configuring those logs.
This doc on the logs for NSGs only covers the two that are visible.
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-nsg-manage-log

[2021-04-08 02:26] rboucher commented on #45679
Here are the links to the monitoring articles for storage, including the schemas in the data reference.

[2021-04-08 02:32] rboucher commented on #45679
Fixed.  Build should be out tomorrow with this information included @stdistef

[2021-04-08 02:54] palma21 commented on #73317
That's not a correct comment from support (if it would it would always fail). Happy to dig if you have the support ticket number handy? Otherwise how are you integrating front door with your cluster?

[2021-04-08 03:11] mattfeltonma opened #73439 "Blocking public ingestion causes Linux Log Analytics Agent to fail"
The documentation should be modified to note that blocking public ingestion on a Log Analytics Workspace will cause the Linux Log Analytics Agent to fail to install if a Private Endpoint and DNS resolution to the Private Endpoint IP address is not configured. This issue does not come up with the Windows agent. The installation fails with the error:

 "Enable failed with exit code 5 sec: can't read

[2021-04-08 03:13] wukun2015 commented on #73285
@YutongTie-MSFT  i mean if any update for my question here. specify nbest lengh how-to.

[2021-04-08 03:17] LilacBrandy commented on #72347
Hi Alpa,

Thanks for the follow up. What I’m looking for is the screenshots and instructions for configuring VM compute on the Stack Edge. Currently docs only has the example as highlighted below and because this is hardware as a service I can’t simply test what happens in my own portal as I don’t have access to a device. I understand how to deploy workloads, I was looking for what configuring com

[2021-04-08 03:25] yiliuTo opened #73440 "[Query] Default environment variables for Azure App Service"
Is there a document to introduce all the default environment varialbes provided in Azure App Service, for example, WEBSITE_SITE_NAME, MSI_ENDPOINT and so on. Besides, does App Service have a environment variable to declare the current Azure Cloud, like Azure global or Azure China?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-04-08 03:55] AshokPeddakotla-MSFT commented on #73429
@jimoneil Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-08 03:59] shashishailaj commented on #73417
@sedwardstx Thank you for your feedback . We will have this reviewed by the content team and the doc updated as necessary .

[2021-04-08 04:04] ram-msft commented on #73432
@mattpampena Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-08 04:05] shashishailaj commented on #73420
@Lroca88 Thank you for sharing the same. We will engage the content authors to have a look at this and see how best we can update the same.

[2021-04-08 04:08] devikamv commented on #73221
For an Azure Dev/Test subscription, on selecting Windows client image from
the Azure marketplace, I am able to see the below confirmation instead of
say "I confirm I have a Visual Studio subscription". It is a bit confusing,
since multitenant hosting rights is for Production workloads.
[image: image.png]

On Tue, Apr 6, 2021 at 10:37 PM Samara Soucy ***@***.***>
wrote:

[2021-04-08 04:08] shashishailaj commented on #73431
@DeiverK Thank you for sharing your findings. We will investigate and update the thread.

[2021-04-08 04:08] shashishailaj commented on #73433
@DeiverK Thank you for sharing your findings. We will investigate and update the thread.

[2021-04-08 04:09] RohitMungi-MSFT commented on #73439
@mattfeltonma  Could you please post the documentation link you are referring to?

[2021-04-08 04:09] shashishailaj commented on #73426
@wvanbesien thank you for the excellent write up . We will have this reviewed and tested and see how best we can get the document updated .

[2021-04-08 04:15] mattfeltonma opened #73441 "Blocking public ingestion causes Linux Log Analytics Agent to fail"
Suggestion that the documentation be modified to note that blocking public ingestion on a Log Analytics Workspace will cause the Linux Log Analytics Agent to fail the provisioning process. I assume this is due to some  endpoint being required to download the configuration file for the agent and that endpoint being blocked when public ingestion is disabled.

"Enable failed with exit code 5 sec: can

[2021-04-08 04:15] mattfeltonma commented on #73439
Sorry about that, closing this issue out and re-opening the issue directly linking to the article: https://github.com/MicrosoftDocs/azure-docs/issues/73441

[2021-04-08 04:15] #73439 closed

[2021-04-08 04:51] SnehaAgrawal-MSFT commented on #73408
@samtsejerome Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 04:54] dcasati commented on #52418
Hi -

This is still an issue. The only way to get it working is to either:

1) add a `--validate=false` when running `kubectl apply -f certificates.yaml --validate=false` OR
2) modify the certificates.yaml file to look like this (from https://cert-manager.io/docs/tutorials/acme/dns-validation/)

[code]

[2021-04-08 04:59] dcbrown16 commented on #73428
@BharathNimmala-MSFT thanks, but I don't think that addresses what I'm looking for.
See the Table of Contents pane that I marked with the red line here. Normally articles are displayed somewhere in this navigation pane for easy discovery. This document can be found with search engines, but you can't get to it through the navigation menu. In my experience, that usually either means the document is

[2021-04-08 05:05] SwathiDhanwada-MSFT commented on #73422
@ecfan Thanks for your feedback.

Assigning to content author @dkamstra for review.

[2021-04-08 05:06] SwathiDhanwada-MSFT commented on #73438
@dcbrown16 Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-08 05:08] SwathiDhanwada-MSFT commented on #73441
@mattfeltonma Thanks for your comment. We are actively investigating and will get back to you shortly.

[2021-04-08 05:13] SaiKishor-MSFT commented on #73233
The document has been updated as needed. Thank you for your contribution.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-08 05:13] #73233 closed

[2021-04-08 05:20] SubhashVasarapu-MSFT commented on #73436
@RonnieQuan, Thanks for reaching out. We will investigate and update this thread.

[2021-04-08 05:22] CHEEKATLAPRADEEP-MSFT commented on #73349
@antothomas23  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-08 05:22] #73349 closed

[2021-04-08 05:23] BharathNimmala-MSFT commented on #73428
@dcbrown16 Thanks a lot for providing additional context and helping me to understand the issue. I will take this up with our document author @MGoedtel and do the needful to fix the ToC liking for this doc. Really appreciate you taking time and helping us improve the documentation.

[2021-04-08 05:31] dcbrown16 commented on #73428
Thanks! You can contact me internally at v-dibr if you need any clarification. I would submit a PR, but even though I have access to the private repo I don't think I can edit the ToC directly. I'm also not sure if there is some reason that this is not in the ToC (like being obsolete), but it looks fairly new and the edit history says there was a doc reorg, so I think it just got lost.

[2021-04-08 05:32] SnehaAgrawal-MSFT commented on #73414
@mattcowen Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 05:33] its-phil commented on #73377
Thanks for clearing that up so quickly. I have one follow-up question, though: does the enrollment entry on the DPS itself have an expiration period when the device is provisioned via TPM? I can't seem to find anything about that in the docs.

[2021-04-08 05:34] BharathNimmala-MSFT commented on #73428
For sure @dcbrown16 , as I discuss with @MGoedtel and find any information which can help for our learning will make sure to share it with you. Thanks again

[2021-04-08 05:42] SnehaAgrawal-MSFT commented on #73418
@TomMurphyDev Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 05:44] SnehaAgrawal-MSFT commented on #73440
@yiliuTo Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 05:50] alkohli commented on #72347
@LilacBrandy I am still a bit unclear as to what are you looking for. Compute is only available on the physical device so not sure how you want to test it in the absence of the physical device.
For cloud storage gateway, we have these topics documented, do any of these work for you?
[Configure shares for data transfer](https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-gpu-depl

[2021-04-08 06:15] BharathNimmala-MSFT commented on #73018
Thank you @pvrk for helping us on the thread.

@kozhemyak Thanks again for bringing this to our notice, a PR has been created to update the script. Once the PR is reviewed and approved, the change will be merged with the live document later in the week. As you rightly called out the script seems to be located in a [different repo](https://github.com/Azure/azure-docs-powershell-samples/blob/master/

[2021-04-08 06:15] #73018 closed

[2021-04-08 06:17] KranthiPakala-MSFT commented on #73270
Hi @xairrick,

Thanks for the feedback. Could you please try deleting the ID column mapping from mapping section of your copy and that should avoid the error.

![image](https://user-images.githubusercontent.com/50185738/113977369-58f37a80-97f7-11eb-86a3-77ac1d9a9199.png)

[2021-04-08 06:17] CHEEKATLAPRADEEP-MSFT commented on #73370
@tejinderrai Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/153661 ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/153661)

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2021-04-08 06:18] CHEEKATLAPRADEEP-MSFT commented on #73370
@jifems Could you please review and approve the pull request?

[2021-04-08 06:23] yoelhor commented on #73311
Sure, take a look on the [troubleshooting with application insights](https://docs.microsoft.com/azure/active-directory-b2c/troubleshoot-custom-policies#troubleshooting-with-application-insights). You can also [query](https://docs.microsoft.com/azure/active-directory-b2c/troubleshoot-with-application-insights#see-the-logs-in-application-insights) by the correlation ID. Then you should be able to se

[2021-04-08 06:43] AnuragSharma-MSFT commented on #73280
@gmantri As rightly pointed out by you, if we have read-only locks on Azure Cosmos DB account, listKeys would not work because its POST or write operation. I tried same by using the Azure CLI and below is the error message I received:

![image](https://user-images.githubusercontent.com/66360845/113980153-c5a45e80-9863-11eb-9005-1031df3e6b17.png)

For other part of your query, you can refer to belo

[2021-04-08 06:48] ChrisEke opened #73443 "Email address in availability-and-pricing-faqs not working"
This is a follow up to  #72982

In https://docs.microsoft.com/en-us/azure/spatial-anchors/spatial-anchor-faq#availability-and-pricing-faqs:

The mail address in Contact us still does not work for new address azuremrscontact@microsoft.com
But now it seems due to restriction to only allow mails from within Microsoft organization, see error details:

[code]

---
#### Document Details

⚠ *Do not edit

[2021-04-08 06:54] SnehaAgrawal-MSFT commented on #73283
@TheGoodNEvil Thanks again for the feedback! Just to confirm there are System Requirements for this:
Check: https://maven.apache.org/download.cgi#system-requirements
Also, Could you please elaborate on your what error you are receiving to help you better on this.

[2021-04-08 06:58] LilacBrandy commented on #72347
Hi Alpa,

Were you able to see the screenshot I included?

Kind Regards
Daniella

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Alpa ***@***.***>
Sent: Thursday, 8 April 2021 1:51 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Instructions for the other compute types (#72347)

@LilacBrandy<https://github.com/LilacBr

[2021-04-08 07:06] SnehaAgrawal-MSFT commented on #73251
@randyram-at-ms Thanks again for the feedback! You may want to know that user must be contributor or higher on the app (including Website Contributor built-in role). Readers are not allowed to publish, and can't access those credentials.

You may refer to this document link might be helpful: https://docs.microsoft.com/en-us/azure/app-service/deploy-configure-credentials?tabs=cli

[2021-04-08 07:10] HarshitaSingh-MSFT commented on #73293
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-08 07:10] #73293 closed

[2021-04-08 07:11] SubhashVasarapu-MSFT commented on #72841
@Roopesh-Bharatwaj-K-R, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-08 07:11] #72841 closed

[2021-04-08 07:11] CHEEKATLAPRADEEP-MSFT commented on #73374
@m1nkeh Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@leifbro This document has multiple enhancements, could you please update as appropriate?

**Enhancement 1:**  This doc references a file (episode.avsc), but can't locate it anywhere..

![image](https://user-images.githubusercontent.com/79183421/113983295-60eb0300-9867-11eb-9226

[2021-04-08 07:27] hansmbakker commented on #73357
@SnehaGunda thank you!

[2021-04-08 07:39] minhe-msft commented on #40696
@tudormaz

You can follow below steps to to replace special characters using expression language:
1. URL encoding against the original string value
1. Replace by line feed (%0A), carriage return(%0D), horizontal tab(%09), etc
1. URL decoding

 your example could be done as below:
`@uriComponentToString(replace(uriComponent(variables('requestBodyTemp')), '%0A', ''))`

Original string:
[code]

Resul

[2021-04-08 07:42] CHEEKATLAPRADEEP-MSFT commented on #73376
@Nishco Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-04-08 07:50] TheRealSvc commented on #73325
Thank you, and sorry if i used the wrong channel for posting my issue. I ceated an issue here [https://github.com/Azure/iotedge/issues/4800](https://github.com/Azure/iotedge/issues/4800 )

[2021-04-08 08:26] Debpriya1994 commented on #70353
Hello @wUEZRs
Thank you for your patience.
This behavior seems to be an anomaly.
If this gets reproduced, can you file a support case.

The details presented in the documentation does not require any change as of now.

We can close this github issue as of now.

[2021-04-08 08:36] Kalaivin opened #73445 "Add warning that if the app service name overlaps with AAD app name - you will get a duplicate error"
Good day,

today I tried to set up the configuration as described in the article and I was getting the error of:

"Msg 33131, Level 16, State 1, Line 2
Principal 'xxxxxxxxxx' has a duplicate display name. Make the display name unique in Azure Active Directory and execute this statement again."

The reason, as I discovered, was that the App Service App name was the same as an Application I had regi

[2021-04-08 08:38] lorenzosoncini opened #73446 "Correct a task description"
On the STEP 2 Analyze with Apache Spark of the quick start guide
In the paragraph "Load the NYC Taxi data into the Spark nyctaxi database" change the description from:
1. Add a new to the notebook, and then enter the following code:

 to

1. Add a new **code cell** to the notebook, and then enter the following code:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-08 08:39] YutongTie-MSFT commented on #73285
@wukun2015 Hello Wuk, this forum is for doc-related issue, we are addressing document bug/ feedback here. I assume you are referring to some parts of this document, but I haven't found anything related to this. So I just want to confirm which part you are mentioning. Sorry for the confusion.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A forum](ht

[2021-04-08 08:41] wUEZRs commented on #70353
Sure, but I will never reproduce it again as I can no longer trust the system - thus it will never be reproduced from my end.

[2021-04-08 08:41] #70353 closed

[2021-04-08 08:47] RohitMungi-MSFT commented on #73356
@pmillart Thanks. I am able to replicate the error, I am checking this internally with the team for more inputs. Thanks.

[2021-04-08 08:49] gmantri commented on #73280
Thanks @AnuragSharma-MSFT for looking into this. It is very much appreciated.

Considering Microsoft is recommending this approach over other approaches, may I request you to include this particular scenario as a caveat in the documentation as this approach would fail if the account has a "read-only" management lock (a practice followed by many organizations to safeguard their account).

I think w

[2021-04-08 08:55] #73311 closed

[2021-04-08 09:01] aschabus opened #73447 "Flow Logs seem to support tags but the documentation says no"
According to the documentation (https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support#microsoftnetwork) "networkWatchers / flowLogs" don't support Tags.
But I can add Tags in the portal when creating a flow log and there is also a documentation about them - https://docs.microsoft.com/en-us/rest/api/network-watcher/flowlogs/updatetags
---
#### Document Details

⚠ *Do

[2021-04-08 09:01] AnuragSharma-MSFT commented on #73280
@gmantri Thanks for replying back.

Actually locks are something not just specific to Azure Cosmos DB but at the Azure services , hence it is not precisely added to the Azure Cosmos documentation.

If we go through the [article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/lock-resources#considerations-before-applying-locks), it mentions **_"Applying locks can lead to u

[2021-04-08 09:09] gmantri commented on #73280
While I agree with the comment above, it does impact me as a Cosmos DB user. IMHO it should be laid out clearly before I decide to go down managed identity approach.

Only issue I see with this is that the documentation you referenced is part of management locks documentation and not referenced in the page. As a Cosmos DB user, I may not even visit this page.

[2021-04-08 09:13] AnuragSharma-MSFT commented on #73280
@gmantri I understand your concerns and really value your inputs. Let me add the author of this documentation.

@j-patrick Could you please look into the request and provide your inputs on the same?

[2021-04-08 09:17] KrishnaG-MSFT commented on #73447
@aschabus Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-08 09:26] #73370 closed

[2021-04-08 09:27] Fazaarycode opened #73448 "Doesn't work without manipulating"
[Enter feedback here]

This section
`Step -5 Add authentication to manage Azure resources`
The PS commands are not recognized even with Azure CLI.  The first phase to connect to Run As connection was possible through
`https://stackoverflow.com/questions/43604296/powershell-azure-the-term-get-automationconnection-is-not-recognized-as-the`.
However, I couldn't execute all the commands and it is miss

[2021-04-08 09:27] EugeneKulikovskiy commented on #73309
@JamesTran-MSFT
Thank you for answer.

Yes, can you create a free one-time technical support request? What should I do for it?

[2021-04-08 09:34] CHEEKATLAPRADEEP-MSFT commented on #73446
@lorenzosoncini Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/153681](https://github.com/MicrosoftDocs/azure-docs-pr/pull/153681)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributio

[2021-04-08 09:36] SubhashVasarapu-MSFT commented on #73128
@jyotiprakash90, @jyotiprakash90, My bad! I am checking in NIC properties blade instead of overview section.

![image](https://user-images.githubusercontent.com/44890829/114003689-9568ba00-987b-11eb-8579-44501d3add42.png)

But this feature failed to update the NIC when VM is on. So, you need to stop the VM for enabling accelarated networking on that nic.
![image](https://user-images.githubusercont

[2021-04-08 09:36] SwathiDhanwada-MSFT commented on #73448
@Fazaarycode Thanks for your feedback. We will review the issue and get back to you shortly.

[2021-04-08 09:38] SubhashVasarapu-MSFT commented on #73209
@roy-work, Apologies for the inconvenience caused. We have assigned this issue to the respective content owner to update the document accordingly.

[2021-04-08 09:39] minhe-msft commented on #40696
As a fix, I've added two examples in document https://docs.microsoft.com/azure/data-factory/control-flow-expression-language-functions

Please reactivate this issue if you still have questions.

#please-close

[2021-04-08 09:39] #40696 closed

[2021-04-08 10:03] svdHero commented on #72552
@tnorling Thank you for your answer. However, I still have a few questions left. Let's recap the flow of control:

- User clicks the button in my React component.
- The function `handleButtonClick` (see code snippet above) is executed.
- `acquireTokenSilent` is called, fails and an `InteractionRequiredAuthError` is thrown.
- My code then calls `acquireTokenRedirect` as a fallback.
- The user is re

[2021-04-08 10:07] gerardsimons opened #73449 "az CLI command for AKS deploy sample is incorrect"
Note the single dashes here:

`az ml model deploy -ct myaks -m mymodel:1 -n myservice -ic inferenceconfig.json -dc deploymentconfig.json`

It works if you use long form parameter style:

`az ml model deploy --ct myaks -m mymodel:1 -n myservice --ic inferenceconfig.json --dc deploymentconfig.json`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-08 10:09] damienbod opened #73450 "Input type: Verifiable credential, create issue credentials APP"
Hi all

I'm implementing a PoC for VC on Azure. I have created an **Input type: Verifiable credential** and the credentials are all setup. Now I need to implement an APP which issues these credentials. Is there docs, or an API I can use to create a Verifiable credential which  matches the credential I created in Azure?

Greetings Damien

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-04-08 10:38] SubhashVasarapu-MSFT commented on #73128
@jyotiprakash90,

**Update:**

Also, we observed that there is a strange behavior with DS2_v2 virtual machine size. It needs VM to be in deallocated state for enabling accelerated networking on it. Whereas other sizes do enable this feature without need of VM reboot/deallocation.

![image](https://user-images.githubusercontent.com/44890829/114012924-918d6580-9884-11eb-947b-7b4c4ec6ada9.png)

[2021-04-08 10:48] vivere-dally opened #73451 "The usage of ${WEBAPP_STORAGE_HOME} is vague. Using Storage Account Paths in docker-compose is really hard and not covered"
I want my app to have persisted storage via Path Mappings to a Storage Account. I went through most of the docs and I couldn't find an example of that. Maybe I went past it?

Anyway, the usage of ${WEBAPP_STORAGE_HOME} is vague.

What does this mean?

I asked a question on stack about this, you can find it [here](https://stackoverflow.com/questions/66993860/azure-web-app-usage-of-webapp-storage-ho

[2021-04-08 10:51] mattcowen commented on #73414
I am using WSL. I had my launch configuration "console" set to "internalConsole" so it does not pass the "enter" key to the running program such that the console.readline recognises it as described in the article. Removing ReadLine() from program.cs shows it's working. The article needs to be updated to suggest people don't debug but run the application.

[2021-04-08 10:56] alenso94 opened #73452 "All good"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c810d231-9b2a-b630-44e8-3d3942e88a65
* Version Independent ID: bbb370fc-da93-9274-d2a1-a31586fd7213
* Content: [Tutorial: Build a Flask app to translate, synthesize, and analyze text - Translator - Azure Cognitive Services](https://docs.microsoft.com/

[2021-04-08 10:57] m1nkeh commented on #73374
tbh this isn't a big deal as i realised it's not needed for anything except that single example.. if anyone needs the schema, you can grab it like this:

[code]

can obviously just convert, and save that as a json file

[2021-04-08 11:07] algattik commented on #72501
That page documents a library that is part of Azure SDK. https://github.com/Azure/azure-sdk-for-net/blob/Azure.Extensions.AspNetCore.Configuration.Secrets_1.0.2/sdk/extensions/Azure.Extensions.AspNetCore.Configuration.Secrets/README.md

[2021-04-08 11:19] shubhamit2012 opened #73453 "Error while assignment of ISO 27001 Shared Service blueprint: Multiple VMExtensions per handler not supported for OS type Windows. VMExtension 'MMAExtension' with handler 'Microsoft.EnterpriseCloud.Monitoring.MicrosoftMonitoringAgent' already added or specified in input"
I want to report an issue that I encountered during the ISO 27001 Shared Service blueprint assignment on the MS Azure portal. Below is the error during the assignment:

[code]
Upon investigation, I found that in the _Active Directory Domain Services_ ARM template the resources _sharedsvcs-adds-vm1_ and _sharedsvcs-adds-vm2_ contains the following extensions:

[code]
[code]
The problem here is that

[2021-04-08 11:20] RohitMungi-MSFT commented on #73449
@gerardsimons Thanks for finding this. I have created a PR to update this command.

[2021-04-08 11:30] LJtn44 commented on #73184
Okay, I think I understand it took some time to go over again and sink in but in any case I have to move on I am under time line constraints. Thank you for your help and explaining. Much appreciated.  
James 
    On Tuesday, April 6, 2021, 04:32:08 PM EDT, DerekHerman-MSFT ***@***.***> wrote:

So Block Blob Storage account and Block Blob Data are thesame thing?
No they are not, data is what is put

[2021-04-08 11:31] LJtn44 commented on #73184
I believe I am good. Thank you Derek!
    On Wednesday, April 7, 2021, 06:35:27 PM EDT, DerekHerman-MSFT ***@***.***> wrote:

If you are still having confusion please let us know and I will do my best to clear it up for you. If you have any recommend changes to the doc I am happy to pass this on to the author. I will close out this thread for now, but feel free to tag me in your reply and we can r

[2021-04-08 11:43] jeevanbalanmanoj commented on #73003
@JamesTran-MSFT Are there any updates on this?
@mmacy @knicholasa Can you two please help expedite this request?

[2021-04-08 11:51] jeetmasrani commented on #13185
Remove "Microsoft Web Deploy dbSqlPackage Provider" this package from the programs and featurs

[2021-04-08 12:22] GuSoder commented on #13185
This seems to have solved the issue, Thank you so much. Halleluja...

[2021-04-08 12:29] pumpkinclarinet opened #73456 "Add same information that appears on Azure portal"
On Azure Portal, the mount command for MaCOS is different.
Could we add it here too for easier share with customers?

cmd:

mount_smbfs -d 777 -f 777 //<storage-account-name>:<storage-account-key>@<storage-account-name>.file.core.windows.net/<share-name> <mountfolderonlaptop>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-04-08 12:48] Dpetters commented on #42739
I ran into this issue and [this document](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-disks) helped more than any of the ones linked to above (specifically, the `Disk size in GB` line in the `VM disk types` table). They also explain what the temporary disk is in that article.

[2021-04-08 12:53] laurentcardon opened #73458 "Update suggestion for permission assignment on the key vault"
The article only details the procedure when using Access Policies (see https://docs.microsoft.com/en-us/azure/backup/encryption-at-rest-with-cmk#assign-permissions-to-the-recovery-services-vault-to-access-the-encryption-key-in-the-azure-key-vault).
I my case, I'm using RBAC and the way I manage to grant the recovery vault the permissions to access the key vault using RBAC is to assign the recovery

[2021-04-08 13:09] jhisc commented on #73317
@palma21 Support TrackingID#2102230040002642

We aren't using Front Door, however support have advised that the Azure Container Registry is now hosted behind FrontDoor.
To get this working we were forced to make this change:
https://github.com/Azure-Terraform/terraform-azurerm-kubernetes/pull/42

Thanks

[2021-04-08 13:09] fabiendelpierre commented on #73317
Hi there, our ticket number is 2102230040002642.

We aren't using Front Door directly, but my understanding is AKS cluster creation relies on connecting to MCR endpoints which sometimes—but not always—resolve to IP addresses that fall outside of the `AzureCloud` service tag. As a result, when we don't have a rule allowing traffic to `AzureFrontDoor.FirstParty` tag in our NSG egress rules, AKS clus

[2021-04-08 13:21] johnayoub commented on #73392
@SaiKishor-MSFT Thanks for clarifying! Is that feature on the roadmap for Front Door?

[2021-04-08 13:26] nelroosevelt opened #73459 "WEBSITE_CONTENTSHARE app setting value should be 57 characters or less"
Could we inform the customer that when using the WEBSITE_CONTENTSHARE app setting value should be 57 characters or less.

The reason being is that for slots we add an identifier to the end of the content share name.

More details can be found on ICM 223710369
https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-shares--directories--files--and-metadata#share-names

---
#

[2021-04-08 13:29] Andriy-dev opened #73460 "Unclear ErGW/Circuit limit max number"
As per FAQ - ( https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways#aggthroughput )
**Maximum number of ExpressRoute circuits linked to the same virtual network in the same peering location 4**

At the same time ER GW SKU ( https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways#aggthroughput ) **stated the limit of

[2021-04-08 13:29] DCtheGeek commented on #73453
#assign:jomolesk
#label:"doc-bug"
#label:"assigned-to-author"
#label:"triaged"

[2021-04-08 13:31] MBuenaventura commented on #67538
Hello,
When can we expect an announcement for GA?

[2021-04-08 13:56] SteveColegrove commented on #71118
Can you please update the zone name table?  Within my company, it’s difficult to legitimize my request when it is not included in the documentation.  For example, the private link zone name for Azure Batch is not listed.

[2021-04-08 14:02] djpierson opened #73461 "Azure Retail Prices API not returning all compute machine types"
https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices?source=docs

Only certain machine types appear when querying Retail prices API. This was working 10days ago

eg. for D and E series machines, only Dd and Ed are returned.

[2021-04-08 14:16] felixtsem5 opened #73462 "Does Cosmos DB host MongoDB database engine?"
The first paragraph under the **Wire protocol compatibility** section say

And the note at the end of the page says

Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958fb2c2-c1b8-5a1b-09db-8f255bf07778
* Version Independent ID: 5bf25011-d90e-8e9c-e330-7952cf0c71b0
* Content: [Introduction to Azure Cosmos

[2021-04-08 14:30] Ahmad-Al-Ali opened #73463 "Azure App Services supports authentication using Managed Identity"
Azure App Services supports authentication with ACR using both managed identities and service principals based on these docs:
https://github.com/Azure/app-service-linux-docs/blob/master/HowTo/use_system-assigned_managed_identities.md
https://github.com/Azure/app-service-linux-docs/blob/master/service_principal_auth_acr.md

Please update this doc to reflect this.

---
#### Document Details

⚠ *Do n

[2021-04-08 14:33] v-tcassi commented on #73325
@TheRealSvc No problem! Just checked out your issue, and I saw that you got a resolution. Glad to see it!

#please-close

[2021-04-08 14:33] #73325 closed

[2021-04-08 14:35] maced12 opened #73464 "Why does ThreatIntelligence has duplicate entries after updating old one?"
When Ingesting TI into Azure sentinel, it keeps the old record and also displays the new ones. Although ThreatIntelligence (Preview) tab shows the latest entry when querying TIs via KQL, all entries for the same TI with updated fields also show up.

Is this expected behavior and happens for everyone?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2021-04-08 14:37] jrudley opened #73465 "tells us to do a role assignment, but no permission to assign"
In the note section
[code]

The article doesn't tell us which permission to assign for the role assignment? Does it need contributor?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a9c74a8-9f1a-3d3d-3aed-f8ec45f92e05
* Version Independent ID: 01e98043-dc80-490e-a761-8d558ff4e6df
* Content: [Use managed identit

[2021-04-08 15:02] #72611 closed

[2021-04-08 15:03] alkohli commented on #72347
Hello Daniella, I am not able to see the screenshot you included. Could you please send it over in an email to: alkohli@microsoft.com? Thanks!

[2021-04-08 15:19] dkamstra commented on #13118
#please-close

[2021-04-08 15:19] #13118 closed

[2021-04-08 15:23] dkamstra commented on #14820
#please-close

[2021-04-08 15:23] #14820 closed

[2021-04-08 15:25] dkamstra commented on #15292
The service names and service regions change over time as new services and regions are added. You can find the possible values on status.azure.com

#please-close

[2021-04-08 15:25] #15292 closed

[2021-04-08 15:26] dkamstra commented on #19684
#please-close

[2021-04-08 15:26] #19684 closed

[2021-04-08 15:37] KranthiPakala-MSFT commented on #73204
@samirvora-MS A per the feedback ADF team has added a note.

![image](https://user-images.githubusercontent.com/50185738/114055346-8a933280-9845-11eb-90cf-a3904c676ad9.png)

Thank you for your feedback  and helping to improve our doc content.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gl

[2021-04-08 15:37] #73204 closed

[2021-04-08 15:43] emaborsa commented on #68428
As far I have seen, the claims are not translated. I solved by adding the translation using _LocalizedResources_:

 <ContentDefinition Id="api.localaccountsignup">
   <LocalizedResourcesReferences MergeBehavior="Prepend">
     <LocalizedResourcesReference Language="de" LocalizedResourcesReferenceId="api.localaccountsignup.de" />
     <LocalizedResourcesReference Language="en" LocalizedResourcesRef

[2021-04-08 15:43] JayaChatterjee-MSFT commented on #73243
@dionito Thank you for your feedback. As @spelluru mentioned, an internal work item has been created for the same.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-08 15:43] #73243 closed

[2021-04-08 15:47] timlt commented on #73377
@nberdy @Wes777

Hi again!  There is no expiration period.

[2021-04-08 15:49] #73340 closed

[2021-04-08 15:55] jomolesk commented on #73453
Thanks for this feedback @shubhamit2012. We will investigate this issue. If you need additional support for this issue, please open an Azure support request. https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2021-04-08 15:57] jlichwa commented on #72501
@algattik this library is under ASP.NET core team as open source, not Key Vault team, we don't have any visibility nor control for this library - we can't recommend it nor support it. This is Key Vault documentation for features, libraries which are built by our team and we can support.

[2021-04-08 15:57] JamesTran-MSFT commented on #73003
@jeevanbalanmanoj
Thank you for the follow up on this! If this is an urgent doc enhancement request, I'd recommend creating your own PR so one of our doc authors can review/sign-off as soon as possible.

PR process - [Quick edits to existing documents](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents)

Adding @kenwith for visibility and to provide any updates.

[2021-04-08 15:58] KrishnaG-MSFT commented on #73224
I was also able to reproduce the issue. Assigning content owner @TomArcherMsft for visibility, review and document enhancement consideration as appropriate.

[2021-04-08 15:59] tfitzmac commented on #73389
I have added those characters. The update should get published today.
#please-close

[2021-04-08 15:59] #73389 closed

[2021-04-08 16:04] azaricstefan commented on #73411
Hi @philbe you are correct!

I created a pull request for this.

Thanks!

[2021-04-08 16:06] JamesTran-MSFT commented on #73309
@EugeneKulikovskiy
Thank you for the quick follow up on this!

To enable your subscription for a free one-time technical support request, can you please email me with the info below.

Email: AzCommunity@microsoft.com
Subject: ATTN - James Tran
Body:
[Azure Subscription ID](https://wmatthyssen.com/2019/09/06/azure-tip-how-to-quickly-find-your-azure-subscription-id-guid/)
Link to this issue

If you

[2021-04-08 16:08] TFR258 commented on #73356
Hello @pmillart,

Thank you for reporting this issue. This is an issue we are aware of. We are in the process of releasing a hot fix. These new images should be available from the ACR by next Friday latest.

In the meantime, to work around this issue, you can leverage the following command:
`docker run --rm -it -p 5000:5000 --memory 16g --cpus 2 --env Eula="accept" --env Billing=${ENDPOINT_URI} --

[2021-04-08 16:11] ThomasVandenbon opened #73467 "Azure CLI - Application Insights - Dead link"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-new-resource says:

However, this link leads to a 404 page.

The closest link I've found is https://docs.microsoft.com/en-us/cli/azure/azure-cli-reference-for-monitor
But this doesn't include documentation for `az monitor app-insights component create`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-08 16:12] MartinJaffer-MSFT commented on #73307
@mafis-hh I heard back from product group.  There is extra meaning to the relative URL starting with / , like how paths are in bash.

When the relative URL starts with / , then it appends to the root of the base URL.
When the relative URL does not start with / , then it appends to the end of the base URL.

like
"https://reqres.in/api" + "/users" = https://reqres.in/users
"https://reqres.in/api" +

[2021-04-08 16:25] nibaccam commented on #73432
Hi @mattpampena can you provide more context via the below questions please :)

- Which environment are you using: Jupyter vs Jupyter Lab?
- What version of Jupyter?
- What version of azureml-synapse in the SDK are you using?
- Did you get an error when you tried to use this command? If so, please share the message

[2021-04-08 16:26] cynthn commented on #73347
Thanks for the feedback! We are going to be updating the Dedicated Hosts docs this quarter, so I will add this into the plan.

@brittanyrowe FYI - I'll add this into the work items.

#please-close

[2021-04-08 16:26] #73347 closed

[2021-04-08 16:29] maced12 opened #73469 "Analytics Rule 14 days look back limit"
I know there is a limit to query historical data when creating analytics rules in Azure Sentinel. Is there a way to increase the look-back limit? if not then is there a way around to achieve desired results.

I am trying to write analytic rules for threat intelligence that has 90 days retention period. I only get partial results because of this 14 days limit.

Should I decrease the retention perio

[2021-04-08 16:29] SwathiDhanwada-MSFT commented on #73371
@sachinpanwar We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-04-08 16:29] #73371 closed

[2021-04-08 16:35] JamesTran-MSFT commented on #73309
@EugeneKulikovskiy
Thank you for the quick follow up on this!

Since you're going to be working with our support engineers on this issue, I'll go ahead and close this out.
Thank you for your time and patience throughout this issue.

[2021-04-08 16:35] #73309 closed

[2021-04-08 16:40] ramayse commented on #73329
@James-Hamil-MSFT
Thanks for digging a little deeper for this clarification. I agree it would appear attributes selected for synchronization _should_ be added to existing attributes. Unfortunately, I won't make this adjustment based on assumptions and find out differently. I don't know how fast the effects would be nor a quick repair or recovery afterward. I have to be safe on this or it could be

[2021-04-08 16:45] tnorling commented on #72552
@svdhero

Correct. How you design this is ultimately up to you but I would recommend calling your API in the event handler instead of the button click handler. In my opinion the cleanest design is to have the button click just invoke `acquireTokenSilent`/`acquireTokenRedirect` and have the event callback react to responses and errors.

As noted above, implementation is up to you. If you do want to

[2021-04-08 16:46] BharathNimmala-MSFT commented on #73467
@ThomasVandenbon Thanks a lot for bringing this to our notice, we will review and fix the document accordingly.

[2021-04-08 16:50] JamesTran-MSFT commented on #73425
@Chris1777
Thank you for pointing this out!

Can you share a screenshot of what you're seeing when you go to the company branding page within the portal? I was able to access this and add branding with only an Azure AD for Office 365 license.
![image](https://user-images.githubusercontent.com/36619112/114065369-72c0ac00-984f-11eb-8645-f978d8966b4f.png)

It also looks like a Premium license was men

[2021-04-08 16:50] jonmikeli commented on #70976
Thanks @nberdy for clarifying :)

[2021-04-08 16:50] #70976 closed

[2021-04-08 17:03] ChaitanyaNaykodi-MSFT commented on #73340
Hello @gitmadness, Thank you for your feedback. I have made a PR to rectify the typo, you will be able to see the changes in few days. Thank you!

[2021-04-08 17:06] Sidewinder53 opened #73470 "Scheduled delivery with Azure Storage queue"
The documentations mentions that both Storage queues and Service Bus queues support "Scheduled delivery". However, I was not able to find any documentation on how to schedule delivery with Storage queues.

Can anyone explain if this is supported or an incorrect statement in this comparison table?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-04-08 17:18] #73452 closed

[2021-04-08 17:20] DavidMwihuri01 commented on #65011
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 17:20] #65011 closed

[2021-04-08 17:27] pvrk commented on #72442
@the-grayest : Disabling soft-delete is step 1. And that's why we didn't repeat after step 4. Does this clear any confusion?

[2021-04-08 17:30] danlopez opened #73471 "Docs are insufficient."
[Enter feedback here]
For custom policies, this documentation really provides almost no information. As someone trying to build a custom policy composed of a number of different components (Adding AD login, customizing the UI, adding MFA, etc.), having the documentation say "Start with our MFA starter kit" isn't what I was hoping to see. Instead, I'd expect this document to outline the various cha

[2021-04-08 17:44] femsulu commented on #73458
@laurentcardon  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-08 17:45] SubhashVasarapu-MSFT commented on #73327
@JustinGalbraith, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-08 17:45] #73327 closed

[2021-04-08 17:48] DavidMwihuri01 commented on #68133
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 17:48] #68133 closed

[2021-04-08 17:53] DavidMwihuri01 commented on #65001
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 17:53] #65001 closed

[2021-04-08 17:55] DCtheGeek commented on #73453
@shubhamit2012 As the team is looking into this and it's not a Docs issue specifically, I'm going to close this issue.  If you do need additional support, please open a support request as John directed.  Thanks!

#please-close

[2021-04-08 17:55] #73453 closed

[2021-04-08 17:56] KranthiPakala-MSFT commented on #73270
Hi @xairrick,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2021-04-08 17:56] #73270 closed

[2021-04-08 17:57] DavidMwihuri01 commented on #64819
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 17:57] #64819 closed

[2021-04-08 18:02] DavidMwihuri01 commented on #64088
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:02] #64088 closed

[2021-04-08 18:05] rboucher commented on #50699
We'll create a workitem for this issue and put it in our writing backlog.
#label:"CreateAzMonWIFeb2021"

[2021-04-08 18:06] rboucher commented on #58210
#label:"CreateAzMonWIFeb2021"
Requires some time to verify.

[2021-04-08 18:06] rboucher commented on #61193
#label:"CreateAzMonWIFeb2021"

[2021-04-08 18:08] DavidMwihuri01 commented on #62558
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:08] #62558 closed

[2021-04-08 18:08] svdHero commented on #72552
@tnorling Thank you, once more, for your detailed explanations. Especially the fact that refresh tokens are not sliding windows was totally new to me.

May I ask one more question? You wrote

That I do not understand. In a typical React app, I have many different button click handlers or side effects (as in `useEffect` hooks) that create API calls to load data from my back-end service. How would I

[2021-04-08 18:10] falloutxAY opened #73472 "Template allowSsh parameter issue"
In template URI
https://raw.githubusercontent.com/Azure/iotedge-vm-deploy/1.2.0-rc4/edgeDeploy.json

For parameter
**allowSsh**
the defaultValue should be **true** and NOT **"true"** as the latter is a string and the type is boolean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
*

[2021-04-08 18:10] DavidMwihuri01 commented on #48061
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:10] #48061 closed

[2021-04-08 18:11] rboucher commented on #61785
#label:"CreateAzMonWIFeb2021"

[2021-04-08 18:12] SamaraSoucy-MSFT commented on #73221
@devikamv Can you repost the image? I didn't post through the email reply.

[2021-04-08 18:13] DavidMwihuri01 commented on #54772
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:13] #54772 closed

[2021-04-08 18:16] DavidMwihuri01 commented on #56617
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:16] #56617 closed

[2021-04-08 18:18] stewartadam opened #73473 "Resource log schema missing for DPS"
See title. Limited (but incomplete) details on logs are available for DPS [here](https://docs.microsoft.com/en-us/azure/iot-dps/how-to-troubleshoot-dps).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2d8c718-c381-78b0-0e0c-99e8e3a157ae
* Version Independent ID: 26f65c36-a172-37bb-b906-a23b46ba806d
* Content: [Azure R

[2021-04-08 18:21] #73198 closed

[2021-04-08 18:22] ebertrams commented on #73472
Thanks for reporting @falloutxAY. The fix has been pushed into master ([see this commit](https://github.com/Azure/iotedge-vm-deploy/commit/77827f98624d7832c985b632ae6c4e4473a8efb1)) but not in the 1.20.0-rc4 branch yet, we'll work on updating this branch.

[2021-04-08 18:26] DerekHerman-MSFT commented on #73456
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-08 18:27] carsonruebel opened #73474 "Broken Links"
Event Hubs links appear to be broken on this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ec48c4-2ebc-a60d-82f9-260096431d21
* Version Independent ID: e2460703-8085-c518-7a3e-0f215edf6405
* Content: [Azure messaging services - Service Manager to Resource Manager - Azure Service Bus](https://docs.microsoft.com/

[2021-04-08 18:31] DavidMwihuri01 commented on #56822
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:31] #56822 closed

[2021-04-08 18:36] DavidMwihuri01 commented on #56951
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:36] #56951 closed

[2021-04-08 18:46] DavidMwihuri01 commented on #56976
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:46] #56976 closed

[2021-04-08 18:49] DavidMwihuri01 commented on #57803
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:49] #57803 closed

[2021-04-08 18:50] tfitzmac commented on #73447
@aschabus - thanks for the feedback. I have updated this article. The update will be published later today.
#please-close

[2021-04-08 18:50] #73447 closed

[2021-04-08 18:51] DavidMwihuri01 commented on #57962
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:51] #57962 closed

[2021-04-08 18:53] davidsmatlak commented on #73390
#assign:davidsmatlak

I'll review this issue and update the documentation.

[2021-04-08 18:55] DavidMwihuri01 commented on #59010
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 18:55] #59010 closed

[2021-04-08 18:55] BharathNimmala-MSFT commented on #73443
@ChrisEke Thanks a lot for bringing this to our notice, our team will review it and get back to you at the earliest.

[2021-04-08 19:00] spaelling opened #73475 "Azure Firewall/NVA in hub-spoke"
You should mention that if traffic is routed through an NVA, ex. Azure Firewall, then the virtual network that it resides on must also have smtp outbound unblocked (could be on a different subscription). If the Azure Firewall is already deployed, it seems to be sufficient to update a rule on it which I guess forces the underlying virtual machines to reboot.

---
#### Document Details

⚠ *Do not ed

[2021-04-08 19:02] SatishBoddu-MSFT commented on #73443
@ChrisEke Thanks for spotting this issue.

![image](https://user-images.githubusercontent.com/62923178/114082049-2c287d00-9862-11eb-9a21-1ba39b158ede.png)

[2021-04-08 19:08] dcstwh commented on #72718
#please-close

[2021-04-08 19:08] #72718 closed

[2021-04-08 19:11] tnorling commented on #72552
@svdHero There's a couple different ways you can do this. A few clarifications to help you decide:

- You can have multiple event callbacks registered and they can be inside your individual components.
- The event payload contains scopes which you can use to determine which access token you got
- You can pass a value to the `state` parameter which will be returned to you in the response which you

[2021-04-08 19:11] #72992 closed

[2021-04-08 19:14] davidsmatlak commented on #73390
The content owner will review the request.

[2021-04-08 19:19] DavidMwihuri01 commented on #61827
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 19:19] #61827 closed

[2021-04-08 19:22] bonJoeV opened #73479 "Deadlink for CLI docs"
Deadlink for CLI in the docs refernce seection. 404 - https://docs.microsoft.com/en-us/cli/azure/ext/desktopvirtualization/desktopvirtualization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2790f804-e26d-d830-cfd3-f856fb2f4d45
* Version Independent ID: 0049bc46-c7c6-fd43-b9ca-2b8e76c3ef55
* Content: [Windows Virtual

[2021-04-08 19:23] DavidMwihuri01 commented on #61881
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 19:23] #61881 closed

[2021-04-08 19:25] JustinGalbraith commented on #73327
That's great!

Thanks team

[2021-04-08 19:27] DavidMwihuri01 commented on #62121
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we’ve created an internal work item to incorporate your suggestions. W

[2021-04-08 19:27] #62121 closed

[2021-04-08 19:30] nmadan235 opened #73480 "Misleading command"
The below command has 'swap' for RG and 'myDisk' for disks. It should have angle brackets around them just like subscription ID to show that these parameters needs to be replaced with appropriate values.

az vm update \
   -g myResourceGroup \
   -n myVM \
   --os-disk /subscriptions/<subscription ID>/resourceGroups/**swap**/providers/Microsoft.Compute/disks/**myDisk**

---
#### Document Details

[2021-04-08 19:32] SaiKishor-MSFT commented on #73475
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 19:33] Karishma-Tiwari-MSFT commented on #73452
Please let me know if you have a question on the document you referenced and I can reopen the issue. Thanks.

[2021-04-08 19:36] SaiKishor-MSFT commented on #72157
@lonevvolf

Thanks for sharing the details of the use case. You can solve this problem by using the same Alternate Solution given in the documentation. To give you a quick summary of the process, I'm describing the steps below.

Step1: Set a Custom Domain in App Service.
•	As the Custom Domain needs to be verified for ownership in App Service, configure the required CNAME & TXT (Link)
o	www.contos

[2021-04-08 19:37] Karishma-Tiwari-MSFT commented on #73445
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-08 19:38] Karishma-Tiwari-MSFT commented on #73450
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-08 19:38] mattpampena commented on #73432
This was from a pyspark notebook in Synapse Analytics.Whatever the default version of those notebooks are. 
%%synapse stopMagicUsageError: Cell magic not exist: %%synapse.

or%synapse stopMagicUsageError: Cell magic not exist: %synapse.

    On Thursday, April 8, 2021, 09:25:36 AM PDT, Nina Baccam ***@***.***> wrote:

Hi @mattpampena can you provide more context via the below questions please :)

[2021-04-08 19:41] chenhuims opened #73482 "typo in the tutorial"
[Enter feedback here]

LightBGM should be LightGBM in "LightBGM – LightGBM is a gradient boosting framework that uses tree based learning algorithms. It is designed to be distributed and higher efficiency."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e0d98d2-cb72-23fa-faec-bc5e2f0d3bb7
* Version Independent ID: 343

[2021-04-08 19:47] Karishma-Tiwari-MSFT commented on #73451
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-08 20:10] #62490 closed

[2021-04-08 20:13] JamesTran-MSFT commented on #73471
@danlopez
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-08 20:17] willmccardell commented on #71883
@normesta Sorry for taking so long, but I don't think that's correct. When a scheduled task running as SYSTEM runs azcopy, it puts the log files in C:\Windows\System32\config\systemprofile\AppData\Local\Microsoft\Azure\AzCopy

This is not AzCopy specific behavior, but I suspect it'll help a number of people out if it's explicitly mentioned in the documentation, rather than requiring a lot of searc

[2021-04-08 20:31] stderr-to-devnull opened #73483 "Missing references for values in body"
This document is incomplete as it does NOT explain any configurable values in the JSON body example or where to get them or what they are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f59dfdee-26f3-a54d-6899-8182434895e9
* Version Independent ID: c92ef943-2b16-54b2-2c6c-810a054c4e85
* Content: [Create or modify an of

[2021-04-08 20:32] dasidwell opened #73484 "MS Authenticator App DID"
Every time the same credential is issued for Authenticator it seems to have different sub DID.
Is this intended? Or should the authenticator app have a DID that remains steady?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e61514c0-51bd-299f-6995-69d6099f3a7a
* Version Independent ID: 939a73ed-6162-1812-e648-5df9db5e9

[2021-04-08 20:34] EgorEmeliyanov opened #73485 "Noninteractive sign-ins "inherit" the source IP of the original interactive sign-in"
I think it is worth noting here under "Noninteractive sign-ins", that the IP address of non-interactive sign-ins your will see in the reports won't match the actual source IP of where the refresh token request is coming from. Instead, it will be showing the original IP that was used for the original token issuance and, evidently, this is by design. (Despite the fact that the actual IP is logged an

[2021-04-08 20:43] SaiKishor-MSFT commented on #73475
@genlin  Could you please look into this?

[2021-04-08 20:44] jinyanghuang opened #73486 "Should it be eventHubConnectionString instead of IotHubConnectionString"
[Enter feedback here]
In the document, it uses IotHubConnectionString, and then read events from the iot hub's default eventHub. However, this will throw an `invalid connectionString` error. Looks like it has to be an eventHubConnectionString

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 681e10a1-05d3-5761-2afd-42602a

[2021-04-08 20:46] SaiKishor-MSFT commented on #72212
@asudbring Could you please look into this?

[2021-04-08 20:52] msftradford commented on #73443
Thanks @ChrisEke for bringing this to our attention. I've filed an internal ticket (#32345871) and reached out to our team to figure out why this is happening.

[2021-04-08 20:53] asudbring commented on #72212
Sending to PM for review:
#reassign:@amitsriva

[2021-04-08 21:01] SaiKishor-MSFT commented on #73392
@johnayoub There are no plans as of now. Feel free to create a Feature Request for it in the [Azure Feature Request page ](https://feedback.azure.com/forums/34192--general-feedback) so the PM team can consider this feature.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will

[2021-04-08 21:01] #73392 closed

[2021-04-08 21:04] yoelhor commented on #73471
Thanks for the feedback. We plan to document the user flows soon (under the starter pack GitHub repo). I'll keep you posted when the docs are available.

[2021-04-08 21:05] SaiKishor-MSFT commented on #72926
@kahawai-sre After some investigation I found the below information:

When an ExpressRoute circuit is connected into the Hub-and-Spoke design, the BGP routes that are advertised from on-prem into the ExpressRoute virtual gateway will not natively transit into the Spoke VNets. Instead, these routes will populate in the Hub VNet only. Likewise, the ExpressRoute gateway will not natively advertise Sp

[2021-04-08 21:08] KranthiPakala-MSFT commented on #73482
@chenhuims
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-04-08 21:16] sdgilley commented on #72970
@aldelar thanks for pointing this out to us.  I haven't yet been able to find out why the notebook was removed.  In the meantime, I've changed the next step to go the the how-to article to learn more about data labeling projects.

[2021-04-08 21:22] #73482 closed

[2021-04-08 21:26] #73480 closed

[2021-04-08 21:34] #72970 closed

[2021-04-08 21:38] awfki opened #73489 "Feedback"
Question: How do you enable forced tunneling?  This page describes the requirements of forced tunneling but it never says "to enable forced tunnel do this".  I believe the paragraph that starts "To support forced tunneling" is kind of trying to provide this but it does it so poorly that it's not possible to tell.

I believe what you need is:
* A subnet named AzureFirewallManagementSubnet.
* A publ

[2021-04-08 21:45] iamsoorya opened #73490 "Could not load file or assembly Microsoft.Extensions.Http"
[Enter feedback here]

The instructions here does not work.  We get
DownloadFile: Could not load file or assembly 'Microsoft.Extensions.Http, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.

error.

---
#### Document Details

I am using .NET Core 3.1 Has provided all the references. It compiles but throws error at runtime.

⚠ *Do not e

[2021-04-08 21:47] James-Hamil-MSFT commented on #73329
Hi @ramayse , adding any custom attributes do not change any existing default attributes that are being synced. You're good to go! :)

Best,
James

[2021-04-08 21:47] #73329 closed

[2021-04-08 21:58] davecatt opened #73492 "Suggest rewording"
Point 6 in the example - "Keep These values are interchangeable checked if the phrases can be used interchangeably." is not useful.  It's like a dictionary entry of "Aardvark - see Aardvark."

Suggest rewording to describe what used interchangeably means in this context.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2021-04-08 22:09] nibaccam commented on #73432
@mattpampena Unfortunately, the image didn't render and I only see left justified lines. Are you perhaps running the notebook from the Azure Synapse Analytics studio on https://web.azuresynapse.net?

[2021-04-08 22:30] juanmalvareziglesias opened #73493 "Invoking Web Activity failed with HttpStatusCode - 'NotFound', message - 'The requested resource does not exist on the server. Please verify the request server and retry'"
Hi I just follow all the steps ok until the Data Factory Web Activity.

I had already generated the Webhook URL but I am having the following error from Data Factory:

**_Invoking Web Activity failed with HttpStatusCode - 'NotFound', message - 'The requested resource does not exist on the server. Please verify the request server and retry'_**

---
#### Document Details

⚠ *Do not edit this section

[2021-04-08 22:30] Nico-VanHaaster commented on #71449
We are looking for a response on this one as we are looking at migrating to the Preview version of NMI. Is there a way to deploy these to a single namespace that can be used by all labelled pods across all namespaces.

[2021-04-08 22:44] Marusyk opened #73494 "How to use filers with the latest Azure.Messaging.ServiceBus package"
The doc has the link to example ".NET - Basic send and receive tutorial with filters"
But that example is for the old Microsoft.Azure.ServiceBus package.
Where I can find any docs/examples how to use filter with the latest Azure.Messaging.ServiceBus package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d45fc4-082b-

[2021-04-08 22:50] mattpampena commented on #73432
Yes.  In synapse studio. I put a direct link into the message, not an image. Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Nina Baccam ***@***.***> Date: 4/8/21  3:09 PM  (GMT-08:00) To: MicrosoftDocs/azure-docs ***@***.***> Cc: mattpampena ***@***.***>, Mention ***@***.***> Subject: Re: [MicrosoftDocs/azure-docs] the Stop command does not work. (#73432)
@mattpampena

[2021-04-08 22:52] robinsh commented on #73486
Thanks; I’ll make sure it’s on the top of the list.
Robin

From: Michael Huang ***@***.***>
Sent: Thursday, April 8, 2021 1:45 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Robin Shahan ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/azure-docs] Should it be eventHubConnectionString instead of IotHubConnectionString (#73486)

[Enter feedback here]
In the document, it uses IotHubConne

[2021-04-08 23:06] Oury-MSFT commented on #73313
@sheeeng We tried to reproduce the issue and got the same error message.
@David-Engel Could you please suggest a workaround. I have also seen [here](https://github.com/denisenkom/go-mssqldb/issues/649) that Go1.16 is broken. Could you also help confirm that.

[2021-04-08 23:11] MashaMSFT commented on #73305
Hi @rarandiv , the full sentence is that "if geo-replication is enabled in a failover group". Auto-failover groups are an implementation of geo-replication, so when you enable auto-failover groups, you're enabling the geo-replication of the MI in the failover group. This is saying that if your MI is in a geo-replicated failover group, then there are additional actions you must take.

However, I ca

[2021-04-08 23:11] #73305 closed

[2021-04-08 23:18] tfitzmac commented on #73265
@theikell - I noticed the same behavior when I tried using a different parameter file through Visual Studio. I was able to fix my deployment by changing the Build Action for the new parameter file. It was set to None by default. I switched it to Content, and then my deployment successfully picked up the other parameter file.

Let me know if that helps your scenario. If so, I can add the suggestion

[2021-04-08 23:29] ChaitanyaNaykodi-MSFT commented on #73459
Hello @nelroosevelt,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-04-08 23:30] chanuengg commented on #71150
#please-close

[2021-04-08 23:30] #71150 closed

[2021-04-08 23:31] ChaitanyaNaykodi-MSFT commented on #73470
Hello @Sidewinder53,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-08 23:40] ChaitanyaNaykodi-MSFT commented on #73474
Hello @carsonruebel,
Thank you for your feedback! We will review and update as appropriate.

[2021-04-09 00:31] rboucher commented on #73473
HI @stawartdam. True.  The purpose of this supported schema page is to have the full schema and I'm not really seeing any real log schema there. Just the names of the logs you can collect.  As such, I'm not really sure that adding a link is the best option.   That said, we are slowly going through and making sure this article points to all the available schema articles. Can you go and comment that

[2021-04-09 00:34] SturgeonMi commented on #73432
Hi @mattpampena , since you are running Spark jobs on Spark clusters in Synapse workspace, it's not related to ["Data wrangling with Apache Spark pools (preview) - Azure Machine Learning" doc](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-data-prep-synapse-spark-pool).
That doc is about how to leverage Spark clusters in Azure ML, not in Synapse.
Instead, you can leverage Synapse d

[2021-04-09 00:39] anastasia-ms commented on #73334
Seems that the package is not organized correctly. The manifest file must be in the root directory of the zip package. See the following package for a sample:

https://github.com/Azure-Samples/am-creator-indoor-data-examples

The Drawing package must be zipped into a single archive file, with the .zip extension. **The DWG files can be organized in any way inside the package, but the manifest file

[2021-04-09 01:01] Karishma-Tiwari-MSFT commented on #73463
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-04-09 01:03] Oury-MSFT commented on #73462
@felixtsem5 Thank you for your feedback. We are looking into this and will get back

[2021-04-09 01:06] Karishma-Tiwari-MSFT commented on #73461
Thanks for your question. Please provide us with the link to the Azure docs repository documentation you are referring to so we can better assist.

[2021-04-09 01:07] Karishma-Tiwari-MSFT commented on #73464
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2021-04-09 01:08] Karishma-Tiwari-MSFT commented on #73465
Thanks for the question. We are currently investigating and will update you shortly.

[2021-04-09 01:21] Nishco commented on #73376
Thanks, the code on this page is not working.
please fix it.
As a developer, I use these documentation to setup systems.
did you get same error ?
I could not find a way to get key of Azure databricks through Power shell or Azure CLI.
I assume because storage for databricks is managed by another group.
databricks management group setup automaticly and I have no control over.

Anyway,  I need databr

[2021-04-09 01:43] mattpampena commented on #73432
Thank you.  I can't seem to find any way to shut down the spark cluster in synapse - either in the portal or in code.    This article was the only place I could find.   So I tried.Sent from my T-Mobile 4G LTE Device
-------- Original message --------From: Xun Wang ***@***.***> Date: 4/8/21  5:34 PM  (GMT-08:00) To: MicrosoftDocs/azure-docs ***@***.***> Cc: mattpampena ***@***.***>, Mention ***@***

[2021-04-09 01:58] BharathNimmala-MSFT commented on #73483
@stderr-to-devnull Thank you for reaching out with your query, we will review and get back to you at the earliest.

[2021-04-09 02:45] MonikaReddy-MSFT commented on #73469
@maced12 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-04-09 02:58] MonikaReddy-MSFT commented on #73188
@InformTechPro -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-09 02:58] #73188 closed

[2021-04-09 03:05] MayankBargali-MSFT commented on #73494
@Marusyk You can find all service bus related samples [here](https://github.com/Azure/azure-service-bus).
For Azure.Messaging.ServiceBus package sample refer [here](https://github.com/Azure/azure-service-bus/tree/master/samples/DotNet/Azure.Messaging.ServiceBus).

For basic Basic send and receive tutorial with filters with the latest library can be found [here](https://github.com/Azure/azure-servi

[2021-04-09 03:23] MayankBargali-MSFT commented on #73490
@iamsoorya As per the error message, it looks like it was able to find Microsoft.Extensions.Http assembly in your project.
As per the document you need to use [Microsoft.Extensions.Http](https://www.nuget.org/packages/Microsoft.Extensions.Http/) package on your project.

Let me know if it helps you to resolve the issue.

[2021-04-09 03:26] McDunnie opened #73497 "Description of StringIn example, values are wrong"
The descriptions states:
... it checks whether the value of the key1 attribute in the data section is 'exact' or 'string' or 'matches'.

It should instead read
... it checks whether the value of the key1 attribute in the data section is 'contoso' or 'fabrikam' or 'factory'.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-04-09 03:37] spelluru commented on #73497
@McDunnie - Thanks for the feedback. Yes. We will fix it and publish the updated one soon. Thanks.

[2021-04-09 03:39] ebertrams commented on #73472
Issue has been fixed with commit https://github.com/Azure/iotedge-vm-deploy/commit/81cb50bbc4884d48d205a56afb1803f2c37bbde5. @SatishBoddu-MSFT , you can close this issue. Thanks

[2021-04-09 03:46] CHEEKATLAPRADEEP-MSFT commented on #73376
@Nishco  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-09 03:48] CHEEKATLAPRADEEP-MSFT commented on #73493
@juanmalvareziglesias  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-04-09 04:03] shashishailaj commented on #73484
@dasidwell Thank you for your query . We will investigate and update the thread.

[2021-04-09 04:33] benjamincburns opened #73499 "No clear information on identity management for managed applications"
How does identity management work with respect to managed apps? Are all managed apps given a service principal or system assigned managed identity? How can I reference that identity from within my application definition template?

There really should be a page that lays out how identity management for managed applications works. What identities are used when? What roles do those identities have? W

[2021-04-09 05:01] dcc-spartan opened #73501 "Roles and permissions"
Hi, what roles or permissions are required to be able to unblock a user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure AD Multi-Factor Authentication - Azure Active Directory](https://docs.mi

[2021-04-09 05:21] HarshitaSingh-MSFT commented on #73072
At present, AHB is only supported on ADH for explicitly placed (non autoplaced) VMs. We are working on bringing BYOL to auto placed VMs/VMSS. Let me know if this clarifies your doubt.

[2021-04-09 05:29] prothseda opened #73502 "Reference guide for azure functions external link is outdated"
I've found the section that speaks to [convertFromUtc](https://docs.microsoft.com/en-us/azure/logic-apps/workflow-definition-language-functions-reference#convertfromutc) references [Microsoft Time Zone Index Values](https://support.microsoft.com/help/973627/microsoft-time-zone-index-values).

Attempting to use the value `A.U.S. Eastern Standard Time` as documented on this page results in an error

[2021-04-09 05:54] RohitMungi-MSFT commented on #73449
@gerardsimons The change is now complete. The document will be updated in 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-04-09 05:54] #73449 closed

[2021-04-09 06:25] JayaChatterjee-MSFT commented on #73502
@prothseda Thank you for your feedback! We will review and update as appropriate.

[2021-04-09 06:30] kelvin-ko opened #73504 "Logging for traffic blocked by networkpolicy"
[Enter feedback here]
If the traffic is being blocked by network policy, is there a way to see the log?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13ac2648-7dce-c83c-0b14-79d5b091b1af
* Version Independent ID: 6aa0b306-6926-87cc-9b59-496ac91dfba6
* Content: [Secure pod traffic with network policy - Azure Kubernetes

[2021-04-09 06:31] dbartz opened #73505 "Dead links to training resources"
In section https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/predictive-maintenance-playbook#training-resources-for-predictive-maintenance

The links
* [Learning Path for PdM using Trees and Random Forest](https://aischool.microsoft.com/learning-paths/1H5vH5wAYcAy88CoQWQcA8)
* [Learning Path for PdM using Deep Learning](https://aischool.microsoft.com/learning-paths/

[2021-04-09 06:45] damienbod opened #73506 "An ASP.NET Core sample would be very useful to issue, verify credentials"
How to use verifiable credentials with ASP.NET Core Razor pages would be a great addition to the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ace782b7-663f-c6b1-9fef-38b1a4bc13f3
* Version Independent ID: ce32432d-42fe-c2c6-9dc8-fa89b5857065
* Content: [Tutorial - Issue and verify verifiable credentials using y

[2021-04-09 07:00] damienbod opened #73507 "Add how to create a standalone app to issue and verify credentials docs"
It would be a great addition to the docs if an example was created to create applications which did not login with Azure AD or Azure B2C and still can issue and verify credentials.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f59edd3-1eb9-493e-f3e0-e4b3a9b99544
* Version Independent ID: f4e102e2-b771-1992-8f27-81b87

[2021-04-09 07:01] jflieben opened #73508 "License requirement unclear"
The license requirement does not specify who/what needs a license. A single license for the tenant? Or per user? What about service principals? And managed identities?

The license requirement also doesn't seem to be technically enforced or to make sense as the legacy settings (which this replaces) are part of any O365 license (instead of P1/P2).

---
#### Document Details

⚠ *Do not edit this sec

[2021-04-09 07:05] rarandiv commented on #73305
Hi @MashaMSFT , Thank you very much for the clarification and considering the recommendation. Really appreciate!
Looking forward for the updated doc.

[2021-04-09 07:07] bnapora commented on #67002
Having the same issue.  Compute instance does not recognize CUDA drivers even though used azureml base image.

Here is my config file:
`additional_properties: {}
apiVersion: '2019-12-01'
name: mitodetect-gpu
properties:
  imageRegistryCredentials:
  - server: gestaltmldev.azurecr.io
    username: *********
    password: *********
  containers:
  - name: mitodetect-gpu
    properties:
      image:

[2021-04-09 07:10] SnehaAgrawal-MSFT commented on #73251
@randyram-at-ms We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-04-09 07:10] #73251 closed

[2021-04-09 07:18] pnarsi commented on #47164
@KranthiPakala-MSFT  @mssaperla - Is there an update on this? I am also quite keen on understanding if we can using a Service Principal with OAuth 2.0 tokens for this integration rather than using SAS Tokens. As per the recommendation on this [Event Hub](https://docs.microsoft.com/en-us/azure/event-hubs/authorize-access-event-hub) page, using OAuth 2.0 tokens rather than SAS tokens is the recommen

[2021-04-09 07:21] Marusyk commented on #73494
@MayankBargali-MSFT thank you.
Can we change Links section to:
- .NET - Basic send and receive tutorial with filters with Microsoft.Azure.ServiceBus package
- .NET - Basic send and receive tutorial with filters with Azure.Messaging.ServiceBus

[2021-04-09 07:50] RohitMungi-MSFT commented on #73505
@dbartz Thanks for spotting this. I think the learning paths for these two links are not available on aischool anymore. The current list of learning paths for AI and Data science courses have details on [predictive experiments](https://docs.microsoft.com/en-us/learn/paths/create-no-code-predictive-models-azure-machine-learning/) and [deep learning](https://docs.microsoft.com/en-us/learn/paths/crea

[2021-04-09 08:57] Sri-Charan11 commented on #73353
Hi Anurag,

Can you please update me on this?

Regards,
Sri Charan
Cloud Service Engineer – G7CR

From: ***@***.***>
Sent: 07 April 2021 12:06
To: ***@***.***>
Cc: Pentapati Sri ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Script not working (#73353)

@Sri-Charan11<https://github.com/Sri-Charan11> Thank you for the feedback. We are actively investigating and will get back to

[2021-04-09 09:00] eijimoch opened #73511 "Do "Schedule updates" apply to the VM operating system?"
There is a contradiction in this document.

I quote the target parts of the document.
(1) says schedule updates can apply to guest OS update, but (2) says schedule updates can apply to only redis server updates.

(1)
**The maintenance window applies to Redis server updates and updates to the Operating System of the VMs hosting the cache.** The maintenance window does not apply to Host OS updates t

[2021-04-09 09:07] misterspeedy opened #73512 "Minor typo"
"After the it is created," should be "After it is created" or "After the account is created"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ef452c-ff25-a2ec-feba-5dafa56cb918
* Version Independent ID: 733a3a55-e899-5c1d-9bcc-34c2d7e17d27
* Content: [Getting started with SQL queries in Azure Cosmos DB](https://docs.mi

[2021-04-09 09:45] AnuragSharma-MSFT commented on #73511
@eijimoch Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-09 09:46] AnuragSharma-MSFT commented on #73512
@misterspeedy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-04-09 09:49] SnehaAgrawal-MSFT commented on #73408
@samtsejerome Thanks for reaching here! We apologize for the inconvenience that this issue caused. We are here to help you for resolving the same. So, could you please confirm which development experience you have choose? (Visual Studio Code or command line interface) and as mentioned in prerequisites section  what have you installed?
(.NET Core 3.1/ .NET 5.0 / .NET Framework 4.8 )

[2021-04-09 10:01] djpierson commented on #73461
The document link is in the original post

[2021-04-09 10:03] mperezcarden opened #73513 "duplicated link"
This link is duplicated in the list...
When trying to upload many blobs quickly, are you uploading blobs in parallel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cca4823-69a3-0b1a-059a-3a0605ed74ce
* Version Independent ID: 8e8299f1-e618-f1d1-bed2-0e3f4e05829e
* Content: [Performance and scalability checklist for B

[2021-04-09 10:11] gavhooper opened #73514 "Example Queries do not give any results"
Search query: _LogOperation | where Category == "Ingestion" | where Operation == "Data Collection" | where Level == "Warning"

Should be changed to: _LogOperation | where Category == "Ingestion" | where Operation == "Data collection Status" | where Level == "Warning"

This query does not give any results even though my LA hits the limit each day:

_LogOperation | where Category == "Ingestion" | wh

[2021-04-09 10:24] RohitMungi-MSFT commented on #73489
@awfki Thanks for the feedback. We will have this doc reviewed by our team for improvements. Thanks.

[2021-04-09 10:29] becke-ch-s0-v1 commented on #72450
Hi, is there any progress on this issue?

[2021-04-09 10:29] AnuragSharma-MSFT commented on #73353
@Sri-Charan11 I was trying to run the commands provided into document but ran into issues. I am assigning it to content author for more details.

[2021-04-09 10:32] priyankareddy20 opened #73516 "Security defaults enabled when Azure AD identity protection policies are enabled"
[Enter feedback here]

We cannot enable security defaults when Azure AD  identity protection policies are enabled.However, I could enable the identity protection policies when security defaults is enabled, only the vice versa is not allowed.Could you please confirm if i have both security defaults enabled and identity protection risk and mfa policies  enabled, will the Identity protection policies

[2021-04-09 11:21] shashishailaj commented on #73507
@damienbod Thank you for your inputs. We will have this reviewed and update the thread.

[2021-04-09 11:23] shashishailaj commented on #73506
@damienbod Thank you for your inputs related to this topic. We will have these inputs passed further to the team.

[2021-04-09 11:25] SwathiDhanwada-MSFT commented on #73514
@gavhooper Thanks for bringing this to our notice. Kindly note _LogOperation() is simplified version of Operation table. Can you please check if you are able to retrieve records from Operation table ?

[2021-04-09 11:47] AnuragSharma-MSFT commented on #73344
@omerzubair Thanks for your patience. I created a new Azure Cosmos DB Mongo API account with version 4.0 and was able to go to Data Explorer. Could you please try again once and let us know if still facing the issue?

[2021-04-09 11:55] ezYakaEagle442 opened #73517 "Open Service Mesh translation missing in French"
https://docs.microsoft.com/en-us/azure/aks/servicemesh-osm-about?pivots=client-operating-system-linux

==> to be translated landing at :

https://docs.microsoft.com/fr-fr/azure/aks/servicemesh-osm-about?pivots=client-operating-system-linux

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: edf448c9-4082

[2021-04-09 12:06] ram-msft commented on #73492
@davecatt Thanks for the feedback! We will review and update accordingly.

[2021-04-09 12:07] npctecnologia opened #73518 "data in use security"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0067dc16-798f-2f04-4df3-7668d28e136c
* Version Independent ID: be3e7247-675f-a952-a2ea-faa36d0c82eb
* Content: [Azure Confidential Computing Overview](https://docs.microsoft.com/en-us/azure/confidential-computing/overview)
* Content Source: [articles/

[2021-04-09 12:17] alexbaker94 opened #73519 "No information on how PRT works on Android / iOS Devices"
The documentation from a Windows 10 point of view is really detailed however, for Android/iOS, there is not so much detail on how the PRT works on Mobile Devices. Would it be possible to include this within the documentation too?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3bcf99-60c3-876c-c421-3351e507a8

[2021-04-09 12:35] ssivas commented on #73519
@alexbaker94 , Thank you for your feedback . We will investigate and update the thread.

[2021-04-09 12:36] ssivas commented on #73501
@dcc-spartan,  Thank you for your feedback . We will investigate and update the thread.

[2021-04-09 12:43] ssivas commented on #73508
@jflieben, Thank you for your feedback . We will investigate and update the thread.

[2021-04-09 12:44] Briwalkr opened #73520 "Include documentation for automated deployment"
I have a strategic customer who is attempting to automate the deployment of Databricks workspaces, and it appears there is no way to automatically using Databricks CLI or Rest calls to set the cluster permissions to allow the users to manage the cluster once deployed. (we don't want them to be able to create new clusters, just manage the one that was deployed in the automated process. )

---
####

[2021-04-09 12:47] jstiefel opened #73521 "Tutorial on Unity ASA HoloLens app deprecated"
In this tutorial no Unity version is mentioned. However, for Unity 2020, many of the instructions are outdated. In Unity 2020, there is "XR Plug-in Management" instead of the "Virtual Reality Supported" checkbox and I can't find a "Spatial Mapping Collider" component. Furthermore, `UnityEngine.XR.WSA.Input` does not exist anymore in Unity 2020.3 and, therefore, can't find the `GestureRecognizer`.

[2021-04-09 12:53] SwathiDhanwada-MSFT commented on #73499
@benjamincburns Thanks for your feedback.

Assigning to content author @tfitzmac for review.

[2021-04-09 12:58] cdonner opened #73522 "New Azure regions require the use of connection strings instead of instrumentation keys."
Should this page be updated to reflect that "New Azure regions require the use of connection strings instead of instrumentation keys." (see https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-troubleshoot-no-data)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d302
* Versio

[2021-04-09 13:15] spelluru commented on #73497
Fixed and published the article. Thanks.

[2021-04-09 13:18] nitinm162 commented on #12377
just put a [i] info icon like you do in other places and give a description and an example or link to a page with documentation.

[2021-04-09 13:25] ROSMITHJ-MSFT opened #73525 "Pin to Dashboard is Not Supported in This Environment"
"Pin to Dashboard is Not Supported in This Environment" is the message seen when attempting to pin a query to a dashboard now, though this was recently not the case. Is it possible to address this issue? It doesn't seem to be a malfunction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c19e0678-caa0-0daa-2ee1-71c2b5da

[2021-04-09 13:37] HarshitaSingh-MSFT commented on #73504
Hello @kelvin-ko, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-04-09 13:43] damochiz opened #73526 "Requirements for forced tonneling are not provided"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-workspace-vnet#enable-azure-container-registry-acr

If you're connecting to a private link-enabled workspace using ExpressRoute's forced tonnering, you'll need to add an Azure Resource Manager IP address as a UDR, but that information is not provided.

Please see Incident 234829863.

---
#### Document Detai

[2021-04-09 13:52] dcross-msft commented on #69964
@curtand

I'm just checking to see if there is any update on this.

Thank you

[2021-04-09 13:56] rafaelhfarias opened #73527 "I was able to Sign Up but not able to Sign In the new user"
I was following the tutorial [Create User Flows](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows?pivots=b2c-custom-policy) but when I got to step 7 of testing the custom policy I was only able to Sign Up an user and when I tried to sign in it gave a invalid user/password error. I already created IdentityExperienceFramework and ProxyIdentityExperienceFramework

[2021-04-09 13:57] msmbaldwin commented on #72938
@diberry: The article uses "main" throughout, with no mention of "master". Is that not correct? https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/general/tutorial-net-create-vault-azure-web-app.md

[2021-04-09 14:19] KrishnaG-MSFT commented on #73240
@codekoma Thanks for your contribution! I have verified the changes and have tested them successfully. I will internally work with reviewer and will make sure the appropriate changes are reflected in the doc. Also, I will be closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-09 14:19] #73240 closed

[2021-04-09 14:40] leifbro commented on #73376
@Nishco We'll investigate and see if we can reproduce your issue. Some questions:
- Did you attempt to create the key vault as a user with the key vault Contributor role or higher?
- Were you able to [Prepare a new or existing Azure Databricks workspace for encryption](https://docs.microsoft.com/azure/databricks/security/keys/customer-managed-keys-dbfs/cmk-dbfs-powershell#prepare-a-new-or-existing

[2021-04-09 14:47] aressler38 opened #73529 "Elastic Premium not supported on regional vnet integration"
I think you need to explicitly call out the fact that Elastic Premium function app plans (e.g. EP1, EP2, etc.) are not supported for regional VNET integration. I have spent a lot of time going through the portal UI and hooking up a VNET integration on a function app running on an EP1 plan, but it never worked. Even though the option to hook up VNET integration for a function app was there, it didn

[2021-04-09 14:48] bandersmsft commented on #73396
@andyjballgit In the EA portal, you should definitely see prices in your Price Sheet. If you can,'t please create a support ticket at https://go.microsoft.com/fwlink/?linkid=2083458.
![image](https://user-images.githubusercontent.com/9596428/114198081-c5f63580-9907-11eb-80fb-a89a0d5ac15e.png)

[2021-04-09 14:58] maced12 commented on #73464
### Ingesting ThreatIntelligence via TIP
https://docs.microsoft.com/en-us/azure/sentinel/connect-threat-intelligence

### Importing ThreatIntelligence to Azure Sentinel
https://docs.microsoft.com/en-us/azure/sentinel/import-threat-intelligence

### Updating ThreatIntelligence via Graph API
https://docs.microsoft.com/en-us/graph/api/tiindicator-update?view=graph-rest-beta&tabs=http

[2021-04-09 14:58] diberry commented on #72938
Currently, there is an extra step to have the App service use a branch other than master. I didn't see that extra step in your tutorial, perhaps I missed it. The extra step, adding a config setting for the deployment branch, is detailed in the linked issue.

[2021-04-09 14:59] laurentcardon commented on #73458
I tested with "Key Vault Crypto Service Encryption User" and it works too. This lower privilege role should be more appropriate.

[2021-04-09 15:02] CheekyTaurus opened #73530 "Chit-Chat Dataset link referenced in screenshot is broken"
The link shown in the Add Chit-chat to an existing KB screenshot is broken. The QnA Maker settings page takes you to this location: https://github.com/Microsoft/BotBuilder-PersonalityChat/tree/master/CSharp/Datasets which ends in a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d0609c-6004-24ad-5446-88bdddd41b70

[2021-04-09 15:03] hfxgeek opened #73531 "Sign-In Identifier field"
Hi.

There is now a Sign-In Identifier field on this report, but it is not explained on this web page.

Could you update the web page to add that new field and explain what it is?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version Independent ID: 1106c01b-1e4c-5b04-be

[2021-04-09 15:04] andyjballgit commented on #73396
thx again @bandersmsft  yeah thats what i was looking at , cant find anything to do with Azure VM Reservations that i could see (your example is for Burst VMs right  ?) .

Already raised a billing case yesterday 9amish UK time - 2104080050000958

[2021-04-09 15:04] maced12 commented on #73464
After importing threat intelligence data to Azure Sentinel, If the indicator value is changed there are duplicate entries for the same indicator one with old values and the other with updated values.

[2021-04-09 15:07] SaurabhSharma-MSFT commented on #73520
@Briwalkr Thanks for the feedback !  I have assigned this issue to content author to investigate and update as appropriate.

[2021-04-09 15:09] maced12 commented on #73469
### Create Custom Analytics Rule
https://docs.microsoft.com/en-us/azure/sentinel/tutorial-detect-threats-custom

[2021-04-09 15:10] spelluru commented on #73497
#please-close

[2021-04-09 15:10] #73497 closed

[2021-04-09 15:13] aylapai opened #73532 "Update Dynatrace Documentation link and Spelling"
We want to update the reference to Dynatrace in the Microsoft documentation (Partners who integrate with Azure Monitor - Azure Monitor | Microsoft Docs), by updating the Dynatrace link to be forwarded to ([Microsoft Azure Services | Dynatrace Help](https://www.dynatrace.com/support/help/technology-support/cloud-platforms/microsoft-azure-services/)), and correct the 'Dynatrack' link for 'Dynatrace'

[2021-04-09 15:17] pragathidhanapal opened #73534 "Assigned user passwords doesn't work in bulk create"
After uploading the csv file (bulk create), the password set for the user doesn't work. It asks to reset the password. When the reset is clicked, it errors.

[2021-04-09 15:35] SwathiDhanwada-MSFT commented on #73525
@ROSMITHJ-MSFT Thanks for your comment. Here are few threads that are related to this error. Kindly check if it helps.

- https://stackoverflow.com/questions/66761462/pin-to-dashboard-is-not-supported-in-this-environment-on-azure-log-analytics

- https://techcommunity.microsoft.com/t5/azure-monitor/pin-to-dashboard-is-not-supported-in-this-environment/m-p/2229428

[2021-04-09 15:36] amanmcse commented on #73223
@lothbrok2020 The client app needs to be created in the same tenant where the API is exposed. The client app needs to be configured as Multi-tenant so that it can be accessed from any tenant in Azure.

The reason why it needs to be added in the same tenant where the API is exposed is that the scopes configured in the app exposed as API, needs to be added in the client application so that the token

[2021-04-09 15:57] Ayanmullick commented on #62106
Thank you for sharing the sample.

[2021-04-09 16:13] roygara commented on #73119
@hantou Thanks for reaching out, while we appreciate your feedback, it is product feedback, so it's better placed in either the [uservoice](https://feedback.azure.com/forums/217298-storage) or the [Files Q&A](https://docs.microsoft.com/answers/topics/azure-files.html) forum. It's not feedback on the content of this article. This article uses a different command than the one documented in the Azure

[2021-04-09 16:14] roygara commented on #71024
Since we haven't received a response, I'm closing this issue out. Thanks for reaching out.

#please-close

[2021-04-09 16:14] #71024 closed

[2021-04-09 16:23] NavtejSaini-MSFT commented on #73366
@venkat1017 Please confirm which part of the document you are using to deploy new UDR?

[2021-04-09 16:27] Smalls1652 opened #73535 "Updated user guide for Azure AD MFA and the combined registration portal?"
It seems that the end-user guide for Azure AD MFA are using old screenshots and steps that aren't factoring in the combined registration portal and the UI changes made to the setup experience.

It's not just on this doc, but on all of the `multi-factor-authentication-*` docs in the [user guide](https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/active-directory/user-help). Is there a

[2021-04-09 16:29] BharathNimmala-MSFT commented on #73532
@aylapai We really appreciate you taking time to bring this to our notice and helping us improve our Azure documentation. I have raised a PR to correct the spelling and the link. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and clo

[2021-04-09 16:29] #73532 closed

[2021-04-09 16:31] RohitMungi-MSFT commented on #73526
@damochiz Thanks for sharing the incident ID, @PeterCLu Could you help review the ICM and update the document?

[2021-04-09 16:32] ssivas commented on #73508
Hello @jflieben,

Thanks for reaching out.

Azure AD is a per user license. Not just CA (Conditional Access) it is standard across Azure AD.
This feature requires an Azure AD Premium P1 licensing per user not just "Configurable token lifetimes feature", and it is standard across Azure AD.

Here are some similar query asked from Tech Community:
https://techcommunity.microsoft.com/t5/azure-active-di

[2021-04-09 16:32] #73508 closed

[2021-04-09 16:36] roygara commented on #73456
@pumpkinclarinet Thanks for reaching out, we considered it but decided to leave this article as-is. Not using the mount command, but the open command, instead.

#please-close

[2021-04-09 16:37] #73456 closed

[2021-04-09 16:42] aylapai commented on #73532
Thank you!

From: BharathNimmala-MSFT ***@***.***>
Sent: Friday, April 9, 2021 11:30 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Anderson, Ayla ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Update Dynatrace Documentation link and Spelling (#73532)

@aylapai<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Faylapai&data=04%7C01%7Cayla.a

[2021-04-09 16:42] RohitMungi-MSFT commented on #73530
@CheekyTaurus I think the reason that page displays a 404 is because the repo is internal and needs access to view the content. I think this is a bug on the settings page since the link will not work for most users.
@nerajput1607 Could you please check and review the link displayed in the QnA setting screen? Thanks.

![image](https://user-images.githubusercontent.com/46958063/114213463-a0594280-99

[2021-04-09 16:43] JamesTran-MSFT commented on #73535
@Smalls1652
Thanks for your feedback!

I've assigned this issue to the author who will investigate and update as appropriate. If you'd like to fork the repo and make changes, that would definitely help! Feel free to link any PRs you make to this thread so our author can review/edit/sign off as needed.

Thank you for your time and patience throughout this!

[2021-04-09 16:45] JamesTran-MSFT commented on #73531
@hfxgeek
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-09 16:46] BharathNimmala-MSFT commented on #73522
@cdonner Thank you for your feedback , I have assigned the issue to our document author @lgayhardt to further review the feedback.

[2021-04-09 16:56] JamesTran-MSFT commented on #73516
@priyankareddy20
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-09 16:58] JamesTran-MSFT commented on #73425
@Chris1777
I just wanted to check in and see if you had any other questions or if you had a chance to review my previous comment?

[2021-04-09 16:59] JamesTran-MSFT commented on #73527
@rafaelhfarias
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-09 17:14] MartinJaffer-MSFT commented on #73307
Thank you for your feedback, @mafis-hh  . This has been assigned to the content owner, @linda33wj  , and will be updated as appropriate.

@linda33wj this intended behavior is not mentioned in the product documentation, and has led to at least 2 inquiries.

[2021-04-09 17:17] YutongTie-MSFT commented on #73285
@wukun2015  Thanks for the nice action to post it in Q&A.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-09 17:17] #73285 closed

[2021-04-09 17:21] #73472 closed

[2021-04-09 17:22] jatinas commented on #73383
That is correct. At the moment, TSI doesn't support NSG rules or private end-points assigned to the storage account. We're working on Private Links implementation and should have this feature enabled before the end of 2021.

[2021-04-09 17:28] SnehaGunda commented on #73512
@misterspeedy thank you I fixed the issue in the above PR. In the future, if you see any issues, you are welcome to contribute to docs. Please click on the edit button on the page and submit a PR.

We will close this issue now.

#please-close

[2021-04-09 17:28] #73512 closed

[2021-04-09 17:29] jrbirdmanFA opened #73537 "Wrong name"
That's Ed Codd not Ted Codd.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 215182d0-24ae-dfb6-86dd-49e85fbf7f3c
* Version Independent ID: 787cca3d-b87e-0a60-ded7-70fb8a0fcf0f
* Content: [Understanding the differences between Azure Cosmos DB NoSQL and relational databases](https://docs.microsoft.com/en-us/azure/cosmos-d

[2021-04-09 17:31] rafaelhfarias commented on #73527
@JamesTran-MSFT I solved it using this link https://b2ciefsetupapp.azurewebsites.net/home/

[2021-04-09 17:31] Oury-MSFT commented on #73313
Faced the same issue when creating  go install -v github.com/denisenkom/go-mssqldb@latest

![image](https://user-images.githubusercontent.com/78940872/114218683-9868b680-991e-11eb-9570-8d682de25e20.png)

[2021-04-09 17:34] JamesTran-MSFT commented on #73527
@rafaelhfarias
Thank you for the quick follow up and I'm glad that you were able to resolve this issue!

I'll go ahead and close this out and if you have any other questions, please feel free to create another GitHub issue, or you can leverage our [B2C Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-ad-b2c.html) so our community experts can help with any troubleshooting issues you

[2021-04-09 17:34] #73527 closed

[2021-04-09 17:50] DougPetrole opened #73538 "Advice for users/offices with poor internet connection quality"
[Enter feedback here]
We've had conversations with customers/users that do not have high-quality internet connections available to them. Are there best practices that can be applied in areas where something like Express Route is not available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6d

[2021-04-09 17:56] marktab commented on #73505
@dbartz  and @RohitMungi-MSFT
I see what this list intention was -- I will be taking a look at the entire list, and reorganizing based on what has become important for 2021 in our corporate messaging.  We have an internal list that I will be drawing from (and only putting on the webpage what is externally available):  https://microsoft.sharepoint.com/teams/WWCMachineLearning/SitePages/ML-Universit

[2021-04-09 18:00] ssivas commented on #73501
@dcc-spartan ,  You need at least the "[User Administrator role](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#user-administrator)" for unblock a user Or [Global Admin](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#global-administrator) who has full full access to Azure AD Tenant.

*Note: The User administrators don't have

[2021-04-09 18:04] RiditaNizam opened #73539 "Add Role Assignment Instructions Out of Date"
For "Assign access to," the option is now "User, group, or service principal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98b3f761-b3be-b9a3-a2cb-1e2bded0a2dd
* Version Independent ID: 3c8dc7b9-a605-510d-bec8-8bd25cd8d27c
* Content: [Create a lab using Azure DevTest Labs - Azure DevTest Labs](https://docs.microsoft.

[2021-04-09 18:11] nitinme commented on #73230
The URL where the issue is reported is not in the EN-US locale that is why Note is localized. The fully EN version of the content is here - https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-user-privacy.

#please-close

[2021-04-09 18:11] #73230 closed

[2021-04-09 18:13] yves-chan commented on #58679
I don’t have the exact query here, but it looks like the query had a table for the good status, and the warning status, and the parent status. Everything is then projected onto a StatusOfChildren column, Building off of the sample in the documentation, an example would look something like below

[code]

Then in the column settings for Workbook under the Tree/Group by settings,
Id Field: Id
Parent

[2021-04-09 18:14] chenlrambus opened #73540 "does not help much."
[Enter feedback here]

I used API to get SP_ID, then used SP_ID call "az ad sp credential list --id $SP_ID --query "[].endDate" -o tsv". It returned nothing.

What does that mean ? If it's due to privilege, return me the appropriate error messages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-

[2021-04-09 18:16] KranthiPakala-MSFT commented on #73382
Hi @SteveColegrove Yes, you can use RBAC to grant ADF to access the key vault. Please note the the RBAC access for Key vault is public preview and not recommend to use production environments until it goes GA.

For more info please refer to this doc: https://docs.microsoft.com/en-us/azure/key-vault/general/secure-your-key-vault#resource-endpoints

![image](https://user-images.githubusercontent.com

[2021-04-09 18:16] #73382 closed

[2021-04-09 18:24] SwathiDhanwada-MSFT commented on #73448
@Fazaarycode Kindly note Get-AutomationConnection is an internal commandlet which works only in Automation Runbooks. For more information , check [this document](https://docs.microsoft.com/en-us/azure/automation/shared-resources/modules#internal-cmdlets).

[2021-04-09 18:26] DerekHerman-MSFT commented on #73513
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-09 18:32] ssivas commented on #73501
@dcc-spartan

Thanks for reaching out.

if you are looking to [Block/unblock users from Multi-Factor Authentication requests](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#block-and-unblock-users), then you need to have any of following role [Authentication administrator](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-refere

[2021-04-09 18:32] #73501 closed

[2021-04-09 18:41] SaurabhSharma-MSFT commented on #73395
@dcstwh Do you have any idea on this ?

[2021-04-09 18:44] RyanHill-MSFT commented on #73386
Hi @Jez85, [you need to create](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-dotnet-core#add-a-hub-class) `ChatHub` a class that inherits `Hub` in your project. You can go to the line which has the error, `Ctrl+.` and **Create class ChatHub **.

If you have further questions, please feel free to mention me in your comment.

[2021-04-09 18:44] #73386 closed

[2021-04-09 18:53] bowlerma opened #73543 "Can't use dateTimeAdd within a user-defined function"
It seems that another limitation is that you can't use the dateTimeAdd function within a user-defined function either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 777f6737-1d3e-14eb-762f-3b9c92c667a9
* Version Independent ID: ec36c646-7fa3-19fb-dc61-a5e78ee168c7
* Content: [User-defined functions in templates - Azur

[2021-04-09 18:57] Azeaz86 opened #73544 "Unable to recover account"
I accidentally deleted the backup copy of my authenticator account, and now I cannot get the codes to access my accounts.

[2021-04-09 19:00] Azeaz86 opened #73545 "Unable to recover my account"
I accidentally deleted the backup copy of my authenticator account, and now I cannot get the codes to access my accounts.

[2021-04-09 19:07] DavidPowMSFT opened #73547 "JWT link in the access token section links to an outdated IETF internet draft not the final RFC"
The access token section includes a URI pop-out to the IETF internet draft for the JWT standard. IDs are always time-bound and this one has been replaced by a final RFC (likely this one but please check: https://tools.ietf.org/html/rfc7519). The link should reference the final RFC not the old internet draft. Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It

[2021-04-09 19:08] rboucher commented on #60544
#reassign:bwren

[2021-04-09 19:08] rboucher commented on #60540
#reassign:bwren

[2021-04-09 19:12] ssivas commented on #72733
@mrlerch ,

Could you please provide us more information, are you trying to restore across platforms (Example: Restore an android based backup when switching to an iPhone.)? If so then its know limitations.

If you trying to backup on same mobile iOS then you need to make sure that you do not add that account first, instead use the Begin recovery process to fetch that account from your saved up cl

[2021-04-09 19:18] ssivas commented on #71933
This is a great discussion, however, from my understanding there isn't a doc issue here. Feel free to continue discussion in this thread and if any doc updates surface we can get them added.

#please-close

[2021-04-09 19:18] #71933 closed

[2021-04-09 19:19] RiditaNizam opened #73548 "Grammar Error"
"Save the downloaded RDP file your hard disk" should be "Save the downloaded RDP file on your hard disk"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eca51f25-215d-41aa-9ca9-00b5bc888594
* Version Independent ID: 1d7b5f49-d487-73a4-2e51-e14060242e39
* Content: [Access a lab in Azure DevTest Labs - Azure DevTest Labs]

[2021-04-09 19:26] GiftA-MSFT commented on #73492
@davecatt thanks for your feedback, the PR will be deployed soon. Thanks.

[2021-04-09 19:38] TravisCragg-MSFT commented on #73363
@sschols Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-09 19:51] ascott18 opened #73550 "Example usage with ArmApiControl passes body incorrectly"
The example usage of ArmApiControl together with a Textbox passes the body to ArmApiControl as a string instead of an object as it is supposed to be. See https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/microsoft-solutions-armapicontrol for proper usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-04-09 19:59] svdHero commented on #72552
@tnorling Wow! Great ideas there. These should all go straight into the documentation. I am pretty sure they would be of great help to many people.
Thank you so much for all the passion and effort you're putting into helping Azure beginners like me. :+1:

[2021-04-09 20:00] ascott18 opened #73551 "Article title is Microsoft.Common.ArmApiControl, but control name is Microsoft.Solutions.ArmApiControl."
The title of this page is Microsoft.Common.ArmApiControl, but control name is `Microsoft.Solutions.ArmApiControl`. `Microsoft.Common.ArmApiControl` does not exist as far as I can tell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f3e122a-cd93-e5c3-a0b5-fd320dabce51
* Version Independent ID: f7cb13e7-40bd-bb27-08df-0

[2021-04-09 20:11] markingmyname commented on #36574
#please-close

[2021-04-09 20:11] #36574 closed

[2021-04-09 20:12] markingmyname commented on #41781
No action on this issue for over 6 months.

#please-close

[2021-04-09 20:12] #41781 closed

[2021-04-09 20:13] erickuhn19 commented on #73351
While Azure AD Verifiable Credentials are in preview there is no cost. There is a temporary requirement to have a P2 license https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-faq#what-are-the-licensing-requirements

[2021-04-09 20:14] omerzubair commented on #73344
Please add private endpoint to it
Also ensure that there is no IP added in the firewall.
Then you will not be able to expand collection/scale in the data explorer.

Cosmosdb Sql api data explorer does not suffer from this issue.

[2021-04-09 20:15] erickuhn19 commented on #73450
Please try going through the [Tutorial](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/enable-your-tenant-verifiable-credentials) which will walk you through customizing our Sample Node App so you can issue and verify the credentials you have made.

[2021-04-09 20:16] markingmyname commented on #43911
No responses for over 3 months.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

#please-close

[2021-04-09 20:17] #43911 closed

[2021-04-09 20:20] BharathNimmala-MSFT commented on #73551
@ascott18 Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR reflecting your feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however

[2021-04-09 20:20] #73551 closed

[2021-04-09 20:25] ascott18 commented on #73551
@BharathNimmala-MSFT I'm not seeing the PR you mentioned that you raised. Could you provide a link to that?

[2021-04-09 20:29] BharathNimmala-MSFT commented on #73551
@ascott18 It is an [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/153954) with in internal repo, not sure if you will be able to access it. Once its reviewed and approved it would be merged with the live doc. Hope this information helps

![image](https://user-images.githubusercontent.com/45180002/114237084-6dd72780-9937-11eb-85fa-b77ff46e2d35.png)

Please let me know if you have any que

[2021-04-09 20:30] mike-urnun-msft commented on #73268
@nitmatgeo That can certainly be done -- if you've already installed the [azure-functions-core-tools](https://www.npmjs.com/package/azure-functions-core-tools) on your local machine, just run `func new --language=powershell --template="Azure Event Grid trigger"` in command line OR create your [Functions App through VS Code](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-functi

[2021-04-09 20:33] ascott18 commented on #73551
@BharathNimmala-MSFT interesting, didn't realize that the actual updates to the docs were handled in a separate repo. Thanks for the info!

[2021-04-09 20:35] BharathNimmala-MSFT commented on #73551
@ascott18 To keep you informed we can raise it with in the existing repo as well, however we do use internal repo as needed. Hope that clarifies.

[2021-04-09 20:35] erickuhn19 commented on #73507
@damienbod try issuing a VC based on an [input type](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/credential-design#input-type-verifiable-credential) of VC or Self Attested Claim.

[2021-04-09 20:36] ascott18 commented on #73551
That's OK, I don't need to track the status of it. Thanks again!

[2021-04-09 20:37] kobulloc-MSFT commented on #73548
@RiditaNizam Thank you for pointing this out!  We'll get this corrected shortly.

[2021-04-09 20:40] kobulloc-MSFT commented on #73539
@RiditaNizam Thank you for bringing this to our attention!  We'll get the document updated shortly.

[2021-04-09 20:45] DerekHerman-MSFT commented on #73513
They are actually different.
First is for one blob. Second for many blobs.
When trying to upload one blob quickly, are you uploading blocks in parallel?
When trying to upload many blobs quickly, are you uploading blobs in parallel?

[2021-04-09 20:45] #73513 closed

[2021-04-09 20:50] BharathNimmala-MSFT commented on #73543
@bowlerma Thank you for your feedback, we will review it and get back to you at the earliest.

[2021-04-09 20:51] JamesTran-MSFT commented on #73547
@DavidPowMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-09 20:54] mmannion opened #73552 "Update role names in "Availability" section"
In the _Availability_ section, for _Required roles and permissions_, the text cites two roles:

- Subscription owner
- Policy contributor

I was unable to find either one when attempting to assign permissions on a Subscription's _Access Control (IAM)_ page. But, I did find two that appear to be their equivalents:

- Subscription owner > Owner
- Policy contributor > Resource Policy Contributor

I s

[2021-04-09 20:56] Oury-MSFT commented on #73462
@sivethe Do we need to make changes in the doc ?

![image](https://user-images.githubusercontent.com/78940872/114238991-4f266000-993a-11eb-8223-e6fd7e648048.png)

![image](https://user-images.githubusercontent.com/78940872/114239128-809f2b80-993a-11eb-987b-376638d38bc5.png)

[2021-04-09 20:57] SaiKishor-MSFT commented on #72157
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-09 20:57] #72157 closed

[2021-04-09 21:01] TheLinuxGuy commented on #69167
I don't believe that achieving IPv4/IPv6 dual stack towards a VM is possible.

Your documentation here states:
[code]
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-public-ip-address

I have created a standard SKU public IPv4/IPv6 "both" via portal.azure.com associated with the same resource group as my linux VM.

When I go to associate the new Public IPv6 it is impossible

[2021-04-09 21:04] BharathNimmala-MSFT commented on #73544
@Azeaz86 Thank you for creating this issue, however can you please help provide additional information on which specific Azure documentation you are referring and what is the specific feedback on the document ? that would help us to direct you accordingly.

[2021-04-09 21:07] Azeaz86 commented on #73544
I accidentally deleted the backup copy of my authenticator account, and now I cannot get the codes to access my accounts.

[2021-04-09 21:08] damienbod commented on #73507
Hi @erickuhn19 I want to issue a type of Verifiable credential as in the link, not a self attested claim.

Greetings Damien

[2021-04-09 21:21] damienbod commented on #73450
Hi @erickuhn19 Thanks for answering. I have used that tutorial and it works fine, if I am issuing credentials which uses claims direct from an id_token. This is not my problem.

I need to issue a Verifiable credential using data from my app. This would be the **input type: Verifiable credential** using your docs. No docs exists for this and could not find a way if doing this. No sample exists for

[2021-04-09 21:23] guarismo opened #73553 "Quickscript.py doesn't create token.pickle anymore"
Since January 5 2021, the quickstart.py script provided by Google started using JSON instead of Pickle to store the credentials.
I had to download the latest version from 2019 instead [https://github.com/googleworkspace/python-samples/raw/aacc00657392a7119808b989167130b664be5c27/admin_sdk/reports/quickstart.py](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-09 21:24] JamesTran-MSFT commented on #73552
@mmannion
Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-09 21:34] erickuhn19 commented on #73484
Our current implementation uses a pairwise DID approach which generates a new DID for each interaction. So the what you have described is expected behavior at the current time. In the future, our Authenticator users will have more control over which DID is used.

[2021-04-09 21:34] JamesTran-MSFT commented on #73553
@guarismo
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-04-09 21:38] sudivate opened #73554 "Kube Advisor repo is archived and doc needs to be updated for best practices"
[Enter feedback here]

https://github.com/Azure/kube-advisor
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd6a725f-02ee-4337-609d-bdb4adff3359
* Version Independent ID: 8b2116c8-5ca3-32ee-e187-87e665c999a0
* Content: [Operator best practices - Basic scheduler features in Azure Kubernetes Services (AKS) - Azure Kuberne

[2021-04-09 21:42] Anand-Moghe opened #73555 "Is there a roadmap available for enabling Azure AD B2C integration with API Management in Government?"
I was checking the roadmap for API Management [here](https://azure.microsoft.com/en-us/updates/?status=indevelopment&product=api-management).
It is not clear whether **AAD B2C** will be enabled in Azure Government cloud for API Management.
How do we check if it is in the roadmap consideration for API Management?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-04-09 21:47] stewartadam opened #73556 "Resource log schema missing for DPS (ported from #73473)"
Per request - moving feedback from #73473 to this page. The schema for DPS log and metrics should be better documented including their schema - presently it seems the page only details the log category types.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e996fac3-058a-24a4-6c7d-f46ca63ac51c
* Version Independent ID: 2

[2021-04-09 21:48] stewartadam commented on #73556
/cc @rboucher

[2021-04-09 21:48] stewartadam commented on #73473
Done!

[2021-04-09 21:57] chriswill commented on #73326
@GithubMirek I can see by looking at your profile that you're very familiar with SQL Server so you probably are very comfortable with aliasing like

`select t.ID
from Table t
`

but that's not a very familiar design approach for C# developers.

We prefer straight using statements, as in

[code]
etc.

[2021-04-09 21:59] rboucher commented on #73473
Thanks! Closing this one.
#please-close

[2021-04-09 21:59] #73473 closed

[2021-04-09 22:01] rboucher commented on #73556
Thanks for moving this @stewartadam. @xujing-ms.  Please contact me on internal email if you are confused about what's needed here.  I need a place to link to that lists the fields for the different resource logs you create. See https://docs.microsoft.com/en-us/azure/storage/blobs/monitor-blob-storage-reference#resource-logs-preview for an example.

[2021-04-09 22:02] rboucher commented on #73556
#assign:rboucher in addition to the author so I can keep track of the progress.

[2021-04-09 22:10] lgayhardt commented on #58679
Thank you @yves-chan

@thoo1 I hope Yves solution helped. We will update this thread if we find the original query. Closing this issue for now, let us know if you have any additional questions.

#please-close

[2021-04-09 22:10] #58679 closed

[2021-04-09 22:25] asergaz commented on #73521
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-09 23:03] #73492 closed

[2021-04-09 23:06] #73303 closed

[2021-04-09 23:25] think-create commented on #70605
Hello, I wanted to add to this.

If the SAML response provided here does not match what JIT provisioning is expecting:
https://developer.salesforce.com/docs/atlas.en-us.sso.meta/sso/sso_jit_requirements.htm

The user will also get:

[2021-04-09 23:28] rwike77 commented on #72721
I'm adding the workaround steps to the article, hopefully that will help others who run into this problem.

[2021-04-09 23:29] TravisCragg-MSFT commented on #73260
@cecilphillip Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mlearned [Confirmed Here in the 1.14 changelogs. ](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.14.md#deprecations)

[2021-04-09 23:35] BharathNimmala-MSFT commented on #73544
@Azeaz86 Thanks for your response, please be aware that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) repo is only to drive improvements with in Azure documentation. It would be great if you could also share the documentation link which are following through , that should help us to direct you accordingly.

[2021-04-09 23:41] TravisCragg-MSFT commented on #73266
@aravindyeduvaka After trying for a painful amount of time to get this working via a template, this is not possible and can only be done via the CLI. Let me follow up and see if I can give any information on a timeline for this being available via a template.

[2021-04-09 23:41] TravisCragg-MSFT commented on #73277
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-09 23:41] #73277 closed

[2021-04-09 23:42] BharathNimmala-MSFT commented on #73517
@ezYakaEagle442 Thank you for bringing this to our notice, we will review it further and get back to you at the earliest.

[2021-04-09 23:47] TravisCragg-MSFT commented on #73517
@ezYakaEagle442 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-09 23:52] BharathNimmala-MSFT commented on #73518
@npctecnologia Thank you for reaching out, can you please help clarify your specific query on the documentation which would help our team to further review and get an answer for you. Thanks

[2021-04-09 23:58] BharathNimmala-MSFT commented on #73545
@Azeaz86 Since we are already working through on the below GitHub thread for the same issue closing this out as duplicate thread. Thanks

https://github.com/MicrosoftDocs/azure-docs/issues/73544

[2021-04-09 23:58] #73545 closed

[2021-04-10 00:02] BharathNimmala-MSFT commented on #73529
@aressler38 Apologies for your experience , thanks for reaching out with your feedback. Our team will further review and get back to you at the earliest.

[2021-04-10 00:05] BharathNimmala-MSFT commented on #73534
@pragathidhanapal - Thank you for reaching out to us. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2021-04-10 00:09] rwike77 commented on #70737
@SannaWilson, have you seen this [sample app](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/2-WebApp-graph-user/2-3-Multi-Tenant/README.md#custom-token-validation-allowing-only-registered-tenants) (listed in the article)?  Looks like the sample is getting the tenant ID from the tid claim and checking to see if it's an authorized tenant.  Hope that

[2021-04-10 00:17] BharathNimmala-MSFT commented on #73550
@ascott18 Thanks a lot for your feedback, I have assigned this issue to our document author @tfitzmac to further review and update the document accordingly.

[2021-04-10 00:18] BharathNimmala-MSFT commented on #73555
@Anand-Moghe Thank you for reaching out with your query, our team will review and get back to you at the earliest.

[2021-04-10 00:41] TravisCragg-MSFT commented on #73538
@DougPetrole ExpressRoute is a way for connecting your on-premise environment directly with Azure, similar to a Site-to-Site VPN. It does provide dedicated bandwidth and on-premise users could have a better connection than over the public internet, but remote workers could have a worse connection.

Users should be able to connect via the public internet (if your Virtual Desktop is public facing) w

[2021-04-10 00:51] NavtejSaini-MSFT commented on #73537
@jrbirdmanFA We are check this and make the change if required.

[2021-04-10 01:21] TravisCragg-MSFT commented on #73554
@sudivate Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-10 01:28] TravisCragg-MSFT commented on #73540
@chenlrambus Make sure you are not using a [managed identity](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity), otherwise the $SP_ID will return the value "msi" and you will not be able to view these credentials this way, and you will not need to reset them.

Permission errors are typically displayed, so it is more likely that it has no output. Are you doing this in a PowerShell wi

[2021-04-10 03:42] stevevi commented on #73555
Hi @Anand-Moghe as explained in the article

https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure#api-management

Azure AD B2C integration is not currently available for API Management in Azure Government.  To find out when this might change, you can contact the identity product team directly or inquire with the Azure Government Technical Help DL (azuregovt

[2021-04-10 03:46] ankitvijay opened #73558 "Loading private certificate (pfx) from Linux container"
Hi team,
The code snippet to load a public certificate in a Linux app is mentioned on the page. However, the code snippet to load the private certificate is missing. Could you confirm if the below code would work?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbf6dd80-7e07-3e24-7aa8-d3f278f34588
* Version Inde

[2021-04-10 04:25] lgayhardt commented on #73413
Hi @bmedlin, Thank you for taking the time to bring this to our attention.

The initial issue from the blog post was addressed in the docs in January 2020:
[Wrong order for .NET Core pipeline configuration · MicrosoftDocs/azure-docs@f3611aa (github.com)](https://github.com/MicrosoftDocs/azure-docs/commit/f3611aadf22a59c97e4f3a2d170c6eb3364977f9#diff-45a35692253dec0ec2a327008029641fc4d1e27d9a55bf9f

[2021-04-10 04:25] #73413 closed

[2021-04-10 06:08] RohitMungi-MSFT commented on #73558
@ankitvijay Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-10 06:49] jflieben commented on #73508
@ssivas thanks, but that does not answer the part about managed identities or service principals. Or does that mean no license is required for those?

[2021-04-10 06:57] BLTTEST opened #73559 "Conflicting Statement about Conditional Access for Password Based SSO App"
Hi Teams,

I want to confirm is there a conflict between:

- Azure App password based SSO document: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/sso-options#password-based-sso

and

- Conditional Access document: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#other-applications

The first document points out "

[2021-04-10 07:08] simonzhaoms opened #73560 "How to install wheel files in a storage account?"
Hi, I followed [this article](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/apache-spark-manage-python-packages#storage-account) to put a wheel file under `abfss://<default_file_system>@<default_account_name>.dfs.core.windows.net/synapse/workspaces/<workspace_name>/sparkpools/<pool_name>/libraries/python/`.  Then I found the uploaded wheel file is not in the workspace package list

[2021-04-10 07:46] a2k97 opened #73561 "What about"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: a46313f6-ce23-85a7-19c3-21152a3cc401
* Version Independent ID: 6c09429c-4de0-3bbe-41bc-b0c41ed333bc
* Content: [Questions & answers about Microsoft Authenticator app - Azure AD](https://docs.microsoft.com/ar-sa/azure/active-directory/user-help/user-help-auth-app-faq)
* Con

[2021-04-10 07:48] lukedbarton opened #73562 "Link on page doesnt work"
https://www.microsoft.com/en-au/microsoft-365/blog/2015/03/23/office-2013-modern-authentication-public-preview-announced/

This link on this page doesnt work

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490

[2021-04-10 08:35] ssivas commented on #73508
@jflieben , Yes, no license is required for managed identities or service principals. Thanks.

[2021-04-10 09:51] chaisen2006 opened #73563 "Script - Section which creates the SSIDB DB"
Can you please let know which section of the poweshell script covers the below.
"Deployment settings
Create SSIS catalog (SSISDB) hosted by Azure SQL Database server/Managed Instance to store your projects/packages/environments/execution logs[Enter feedback here]"

Check and Uncheck this option using powershell?

As I already have a SSIS DB in place and want to un-check the above option in the scr

[2021-04-10 11:21] RohitMungi-MSFT commented on #73559
@BLTTEST Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-10 11:22] RohitMungi-MSFT commented on #73560
@simonzhaoms Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-10 11:23] RohitMungi-MSFT commented on #73561
@a2k97 Could you please provide more information about the issue or document you are referring to so we can address the same?

[2021-04-10 11:25] RohitMungi-MSFT commented on #73562
@lukedbarton Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-10 11:26] RohitMungi-MSFT commented on #73563
@chaisen2006 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-10 12:22] simonzhaoms commented on #73560
I have another question: Besides via Synapse Studio to upload wheel files as Workspace Packages, are there any other ways for uploading, say, REST API or Azure CLI? I don't find [any possible REST APIs](https://docs.microsoft.com/en-us/rest/api/synapse/)  can do this.

[2021-04-10 12:25] ssivas commented on #73559
@BLTTEST ,

Thanks for reaching out.

Yes, Conditional Access (including MFA) can be used with [password based SSO app](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-password-single-sign-on-non-gallery-applications). I just tested and found  working as expected.

Kindly allow us sometime, we will update above MS Doc. Once thanks for bringing this to our notice. Than

[2021-04-10 12:32] SjoerdWesterhof opened #73564 "When talking about processes the reservation in the following order, the Single subscription scope is called Single scope reservations"
When talking about processes the reservation in the following order, the Single subscription scope is called Single scope reservations. It this correct or an inconsistancy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a4a8f89-f1a0-0ac2-b0c7-24d7a7091ee5
* Version Independent ID: 7c83c499-f398-b70c-80ae-6e16ddb11cff

[2021-04-10 12:44] KonTheCat opened #73565 "confusing wording/explanation"
Hi. This section seems confusing, can you please explain or clarify. My understanding is that I should strive to have profiles in the same region as the VMs - so then the below should say that my session host VMs _and_ profile containers start in Central US and then both of them need to be replicated to West US, so that the path in West US that is configured in FSLogix can be used? Is that correct

[2021-04-10 13:08] Nishco commented on #73376
Thanks for message.
![Screenshot 2021-04-10 230321](https://user-images.githubusercontent.com/56907911/114270688-25ac2800-9a51-11eb-9fb7-a3715a388b5a.jpg)
 New-AzDatabricksWorkspace  with -Sku premium &  -PrepareEncryption run successfully without any error
following  code does not run successfully
Set-AzKeyVaultAccessPolicy
error:
Set-AzKeyVaultAccessPolicy : Cannot validate argument on parameter

[2021-04-10 13:44] mcarlson-nvidia commented on #31136
I got to this site because I was searching to see if AKA.ms was a legit site for a phishing expedition.  So it is not just an assumption on the user who first posted this.

[2021-04-10 13:49] acicali commented on #31136
This isn't *entirely* accurate though, is it? Since it's a redirection service, for it to be 100% safe it would have to vouch for all content it redirects to.

Even if only employees can add these redirects, that doesn't mean someone working at MS couldn't do something malicious, or even just by mistake. Or perhaps redirect to a domain that then expires and becomes the property of someone maliciou

[2021-04-10 17:03] AnuragSharma-MSFT commented on #73344
@omerzubair Thanks for replying back. I added the private end as well. Please check the screenshots below:

**Private Endpoint:**
![image](https://user-images.githubusercontent.com/66360845/114278224-56d62980-9a4c-11eb-9508-f3b09080b2b4.png)

**Data Explorer:**
![image](https://user-images.githubusercontent.com/66360845/114278256-8422d780-9a4c-11eb-8f56-6da1d99ddcf1.png)

It however takes a little

[2021-04-10 17:09] MikeDodaro commented on #73344
@yucwan Please review.

[2021-04-10 18:09] BharathNimmala-MSFT commented on #73565
@KonTheCat Thank you for reaching out with your query, our team will review it and get back to you at the earliest.

[2021-04-10 18:15] BharathNimmala-MSFT commented on #73564
@SjoerdWesterhof Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-04-10 18:18] SeryioGonzalez opened #73567 ".env section"
[Enter feedback here]
The section related to .env is not very clear. Please further explain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5e7b18b48
* Content: [Tutorial - Custom Python module tutorial using Azure IoT Edge](https:

[2021-04-10 18:29] federicorosso1993 commented on #14381
I think this bug is still there.
see this comment https://github.com/MicrosoftDocs/azure-docs/issues/11781#issuecomment-566158538

this is almost the same problem I get

I'm making a cloud save system for my game on Unity. I use an url like this

`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=myclientid&response_type=code&redirect_uri=http%3A%2F%2F" + localhost + "%3A" +

[2021-04-10 18:49] federicorosso1993 opened #73568 "client_secret required with PKCE not only for WebApp but also for SPA and Desktop app"
I think this bug
https://github.com/MicrosoftDocs/azure-docs/issues/14381
 is still there.
see this comment https://github.com/MicrosoftDocs/azure-docs/issues/11781#issuecomment-566158538

this is almost the same problem I get

I'm making a cloud save system for my game on Unity. I use an url like this

`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=myclientid&response_t

[2021-04-10 19:02] PsychoData commented on #31136
It is significantly safer than a random public link shortener, since
Microsoft security will be scanning the destinations, since the employees
will have to be held responsible for the things that they create, and
because it will be easily trackable who created what link with a Microsoft
employees job on the line if they were to make a  compromising forward.

On Sat, Apr 10, 2021, 9:50 AM acicali *

[2021-04-10 19:18] idontusenumbers commented on #31136
The problem is that, as a person who sees and might click on that link, there's no reason to believe it's actually a Microsoft link. No matter how much safety there is on Microsoft's servers and in their internal policies and procedures, I still won't click the link because as far as I know, it's going to a hacker's server. These links are definitively not microsoft links, the are aka.ms links. Th

[2021-04-10 19:28] PsychoData commented on #31136
It sounds like your problem is with DNS in general, and you should probably
take that up with IEEE.

Aka.ms is registered by Microsoft and operated by Microsoft. You should
trust links that are to the AKA.ms domain just as you would trust any link
that a Microsoft employee sends you. Period.

A separate issue is whether a person is competent or not to figure out if a
link is actually going to aka.

[2021-04-10 19:37] femsulu commented on #73555
thanks for the response, @stevevi.

@Anand-Moghe pls let us know if you have any followup questions.

[2021-04-10 19:38] femsulu commented on #73555
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-10 19:38] #73555 closed

[2021-04-10 19:43] idontusenumbers commented on #31136
As a typical user, how would I know that? 99.99% of users won't know how to determine that.

Why? I know microsoft.com takes me to Microsoft website, and I (a technology expert) can use built in browser tools to determine the certificate is good before clicking the link. Assuming aka.ms is wrongly identified to be potentially safe (it should NOT BE!!! It is a cliche example of a phishing attack do

[2021-04-10 19:46] PsychoData commented on #31136
You're just reiterating the same arguments that are still not something
that Microsoft needs to be responsible for. Microsoft does have security
training for things like phishing, but this domain - Azure docs- surely
isn't the place to talk about that. If you want to talk about that go find
the security documentation for phishing and talk about it there.

On Sat, Apr 10, 2021, 3:43 PM Charlie Haye

[2021-04-10 19:52] idontusenumbers commented on #31136
Who else but Microsoft is responsible for sending links for microsoft properties? It would behoove them to make sure they do not smell phishy.

[2021-04-10 20:45] gkathire opened #73569 "location info is confusing"
When I tried restoring the database , the information related with the location detail is confusing. I had to reach out to Azure support to understand this means data center location. It would be helpful if you can give some example like CentralUS etc, it will be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-04-10 20:46] holc-tkomp opened #73570 "Why is ClientApplicationID required?"
When connecting to Azure SQL Database using `Microsoft.Data.SqlClient.SqlConnection`, I do not need to provide such a property. SqlConnection seems to also acquire the token under the hood, so how does it determine what's the application id based solely on the connection string / what does it put as application id when it's not specified?

How to obtain the token not knowing the application id?

-

[2021-04-10 20:56] ankitvijay commented on #73558
HI @RohitMungi-MSFT, I'm finally able to figure it out. Raised a PR to fix the documentation
https://github.com/MicrosoftDocs/azure-docs/pull/73572

[2021-04-10 21:03] tnobile opened #73573 "api url and text response"
[Enter feedback here]
Instead for
/api/message, it should be /api/GetMessage.
response is not json, but plain text, so this will work, but the not the code in the page:

  (async function() {
      let text = await (await fetch(`/api/GetMessage`)).text();
      document.querySelector('#name').textContent = text;
    }())

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-04-10 21:26] holc-tkomp commented on #73570
Oh, I think SqlConnection always just use `"2fd908ad-0664-4344-b9be-cd3e8b574c38"` as ClientApplicationId. Is that correct?

https://github.com/dotnet/SqlClient/blob/a5b6522b0ed5860bf4c3022ebab954e8c839d4e7/src/Microsoft.Data.SqlClient/netfx/src/Microsoft/Data/SqlClient/TdsEnums.cs#L1123

[2021-04-10 21:56] omerzubair commented on #73344
@AnuragSharma-MSFT
Now Please create a collection and databases in it.
Then try expanding the collection and try scaling up/down.

[2021-04-10 21:57] omerzubair commented on #73344
Also make sure there is no IP added in the firewall blade

[2021-04-10 22:31] jennyxchengsea opened #73575 "Naming conversion for the VS code in this doc"
[Enter feedback here]
https://twitter.com/runtcpip/status/1381010132520337408
![image](https://user-images.githubusercontent.com/70815662/114286224-b4995000-9a11-11eb-873e-60180faadf6f.png)

Looks like the naming conventions for the static web app in VS code on this doc did not match the user experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-04-11 00:25] BharathNimmala-MSFT commented on #73567
@SeryioGonzalez Thank you for your feedback , our team will review it and get back to you.

[2021-04-11 00:29] MantvydasD commented on #13963
Oh, how pity the issue is closed! SMS works, if you don't need NPS server to send back any parameters back to VPN server. No need for parameters, when all those who use MFA fall into one type of MFA users.
But, if on VPN server you need to give different types of access, VPN server needs to receive a parameter from NPS server with a access type name. But as the acceess type name doesn't come from

[2021-04-11 00:31] BharathNimmala-MSFT commented on #73568
@federicorosso1993 Apologies for your experience , our team will further review your query and get back to you at the earliest.

Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) channel is for Azure documentation , can you please help confirm that you are referring to [this ](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow)docume

[2021-04-11 00:36] BharathNimmala-MSFT commented on #73569
@gkathire Thanks a lot for taking time to share the feedback and helping us improve our Azure documentation. Our team will review the feedback and update the document accordingly.

[2021-04-11 00:38] BharathNimmala-MSFT commented on #73570
@holc-tkomp Thank you for reaching out with your query , our team will review it and get back to you at the earliest.

[2021-04-11 00:41] BharathNimmala-MSFT commented on #73573
@tnobile Thank you for your query , our team will review it and get back to you at the earliest.

[2021-04-11 00:42] BharathNimmala-MSFT commented on #73575
@jennyxchengsea Thank you for your feedback, our team will review it and get back to you at the earliest.

[2021-04-11 01:30] #73561 closed

[2021-04-11 05:01] KalyanChanumolu-MSFT commented on #73570
@holc-tkomp Thank you for reaching out.
Yes, this is managed internally by SqlClient so you don't have to specify it again.
If you are interested, you can [parse the JWT token](https://jwt.ms/) and get more details.

[2021-04-11 07:00] federicorosso1993 commented on #73568
I'm using `login.microsoftonline.com` endpoint so the first one. It should be this:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

If this is not the right channel can you help me find the right way to correct this? I know for sure that the docs is wrong (it say that only web app require client_secret but if I use SPA and Desktop app and redirect to local

[2021-04-11 08:12] Catastrophe1 opened #73576 "Cloud Services (extended support) is a new Azure Resource Manager based deployment model for Azure Cloud Services product and is now generally available."
[Enter feedback here]

This is in conflict of the statement "Cloud Services doesn't support Resource Manager deployment model." in the page with Azure Cloud Services (extended support): https://docs.microsoft.com/en-us/azure/cloud-services-extended-support/overview
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebabac88

[2021-04-11 09:11] DishaAgarwal commented on #73385
The default answer that is set in the App Service would be returned by the Generate Answer API when no answer is found. But this answer is overridden in the Bot Code, where the default answer is replaced by a string defined in the code. Please find a similar issue here: DefaultAnswer - Cannot find it? · Issue #54185 · MicrosoftDocs/azure-docs · GitHub

[2021-04-11 12:28] manekinekko commented on #73573
@tnobile the docs also show the `GetMessage` configuration which defines a route alias called `message`, so calling `/api/message` should work:

[code]

[2021-04-11 13:29] eckartbindewald opened #73578 "Charged Hundreds of Dollar - very upsetting"
I tried learning about Azure. I was going through the AutoML tutorial - and I successfully ran the demo cases on this tutorial page.
Two months later while reviewing my credit card bill I was shocked to see that I have been charged more than a hundred dollar month after month since then! Apparently I forgot to switch off a virtual machine that I used for this tutorial. I am so upset! How can this

[2021-04-11 14:04] srjennings opened #73579 "Next steps results in 404"
The link [Extend your subnet to Azure using vendor solutions.](https://github.com/microsoft/Azure-LISP) results in a 404.

I am unable to find the link in the Microsoft organization nor can I find "LISP" in the MicrosoftDocs org.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c221d52e-1959-7c59-fbb4-2e7690d5ed03
* Vers

[2021-04-11 14:16] yaens opened #73580 "Change word in sentence for grammatical correctness"
In sentence "You can use one of the follow values for the relativePath" change follow to following, otherwise its grammatically incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78acfe06-c626-fd75-d3a4-13f7149ca40a
* Version Independent ID: 4d04da8a-df33-50ec-080b-8f983e38ecff
* Content: [Create a template spec

[2021-04-11 15:01] RohitMungi-MSFT commented on #73576
@Catastrophe1 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2021-04-11 15:08] BharathNimmala-MSFT commented on #73580
@yaens Thanks a lot for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR and once its reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if you have any further feedbac

[2021-04-11 15:08] #73580 closed

[2021-04-11 15:31] samiozturk commented on #72681
Is there a good way to add a default value without the user seeing an entry box?

[2021-04-11 15:58] bdarcuity opened #73582 "Migrate from Logic Apps (V1) to Preview (V2)"
Existing Logic Apps are not 1:1 code compatible with V2 Workflows.  Where is the Migration documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbdd9c30-1bc1-7af6-158d-f65ad23f45b7
* Version Independent ID: c8828014-4369-ead5-2d05-8c3e823fc93e
* Content: [Create Logic Apps Preview workflows in Visual Studio Co

[2021-04-11 16:20] codebeaulieu opened #73583 "Include which Nuget package to use in Step"
Please add which nuget package to install for Android to use Azure.Messaging.NotificationHubs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Send push notifications to Xamarin.Android apps using Azure Notifi

[2021-04-11 16:23] SHxKM opened #73584 "Azure Custom Providers: Defining Schemas"
Hi, I would like to offer a custom resource provider and associated custom resources that will be mapped to my own resources, so other people can manage my resources via ARM and the custom providers research.

From the guide and from the example JSON, it doesn't seem like one can / I haven't found a documentation on how to define a schema for the custom resource we create. In the [example JSON](ht

[2021-04-11 16:33] #73584 closed

[2021-04-11 17:11] kobulloc-MSFT commented on #73539
Under [Add a user to the Lab User role](https://docs.microsoft.com/en-us/azure/devtest-labs/tutorial-create-custom-lab#add-a-user-to-the-lab-user-role), on step 3c, the screenshot is out of date.  "Azure AD user, group, or service principal" is now "User, group, or service principal".

Documentation:

![image](https://user-images.githubusercontent.com/37556655/114311764-dd1e5a00-9aa4-11eb-81cc-93b

[2021-04-11 17:25] modi-pawan opened #73586 "ARM Template for Deploying Azure PostgreSQL with SSL Enforced"
Looking for "ARM Template for Deploying Azure PostgreSQL with SSL Enforced"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa87d84c-b0a3-61bd-9eee-068d056ae927
* Version Independent ID: 6f952f46-1050-a08a-29e4-28acf31ca403
* Content: [SSL/TLS - Azure Database for PostgreSQL - Single Server](https://docs.microsoft.com/e

[2021-04-11 17:59] BharathNimmala-MSFT commented on #73579
@srjennings Thanks a lot for bringing this to our notice, our team will review it and fix the document accordingly.

[2021-04-11 18:01] BharathNimmala-MSFT commented on #73582
@bdarcuity Thank you for reaching out with your query, our team will look into it and get back to you at the earliest.

[2021-04-11 18:05] BharathNimmala-MSFT commented on #73583
@codebeaulieu Thanks a lot for sharing your feedback on this, our team will review it and incorporate the feedback accordingly.

[2021-04-11 18:07] BharathNimmala-MSFT commented on #73586
@modi-pawan Thank you for your query, our team will review it and get back to you at the earliest.

[2021-04-11 18:19] rubanchandar03 commented on #62635
@asergaz  Hi I have the same trouble, is cleanig up and recreating all the components the only solution

[2021-04-11 18:37] HarshitaSingh-MSFT commented on #73072
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-11 18:37] #73072 closed

[2021-04-11 18:37] HarshitaSingh-MSFT commented on #73304
@simonyarde, does the above comment address your query?

[2021-04-11 18:42] HarshitaSingh-MSFT commented on #73504
@kelvin-ko, yes, first, you will have to [enable metrics collection](https://docs.microsoft.com/en-us/azure/virtual-network/kubernetes-network-policies#setup-for-azure-monitor), then you can see those insights in [Container insights or Grafana](https://docs.microsoft.com/en-us/azure/virtual-network/kubernetes-network-policies#visualization-options-for-azure-monitor).

Let me know if this answers y

[2021-04-11 19:49] AnuragSharma-MSFT commented on #73344
@omerzubair Thanks for providing more details. I created a database and container within it and was able to reproduce the issue. While accessing the data explorer there is an error message " **_Request originated from client IP xxx.xxx.xxx.xxx through public internet. This is blocked by your Cosmos DB account firewall settings._**" which looks correct to me as we created a private endpoint and sho

[2021-04-11 20:04] omerzubair commented on #73344
Yes that's correct. Please go ahead
Furthermore if you have CosmosDB Sql api you can get one step ahead but still get same error /warnings.

Granular RBAC doesn't exists i.e my clients can fiddle with firewall IP ranges and also can change data replication . Need more granular RBAC like we have on lots other PaaS resources.

[2021-04-11 20:08] AnuragSharma-MSFT commented on #73344
@SnehaGunda Could you please look into this and provide your inputs on the same?

[2021-04-11 20:13] JeremyCaney commented on #62347
@KalyanChanumolu-MSFT: This issue should _not_ be closed, as [the documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/storage-explorer) remains out of date. As @abatishchev has noted, that was the _sole_ purpose of this issue.

I just setup Cosmos DB in Azure Storage Explorer, as per the documentation, only to discover the deprecation notice. Fortunately, I already had Azure Storage Ex

[2021-04-11 20:39] TheLinuxGuy commented on #69167
I took matters into my owns and after several hours figured out a way to make this work.

Wrote a guide on getting this done in my blog: https://desantolo.com/2021/04/how-to-setup-dual-stack-ipv4-ipv6-azure-vm-without-a-load-balancer/

[2021-04-11 21:50] skynard commented on #72242
I need help getting the sample Azure project to run.  Getting errors when building in Xcode.
ld: can't open file, errno=13 file '/Users/davidmiller/Desktop/azure sample test/azure test 2 xcode/Libraries/libil2cpp.a' for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

Does the team Id need to be Microsoft Team in Xcode?

[2021-04-11 21:51] skynard commented on #72242
Instead of my Id

[2021-04-11 22:29] MNF opened #73588 "Refer to Policy documentation when describe “user flow”"
I  browsed to “[Prerequisites](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-domain?pivots=b2c-user-flow#prerequisites)” section:
“Create a user flow to enable users to sign up and sign in to your application.”
and decided, that the whole functionality is not applicable for custom policies.

Then I’ve found that I had to click button at the top, but it is not easy to discover,

[2021-04-12 00:13] YutongTie-MSFT commented on #73578
@eckartbindewald I am sorry this case happened. It's sure that you can get your refund if this happen in accidence. Please go ahead to create a ticket by https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/newsupportrequest and select billing and also the target subscription. Please add more details in this ticket according to your case. Thanks a lot.

[2021-04-12 01:00] arunkumarthiags commented on #73353
We are looking into this. Thanks for the feedback. For now, could you try this?

SELECT concat('ALTER TABLE ', TABLE_NAME, ' DROP FOREIGN KEY ', CONSTRAINT_NAME, ';')
FROM information_schema.key_column_usage
WHERE CONSTRAINT_SCHEMA = 'DatabaseName'
AND referenced_table_name IS NOT NULL;

Please substitute your DatabaseName with your DB/Schema.

[2021-04-12 01:28] BLTTEST commented on #73559
@ssivas

Thanks for coming back to me so promptly and the detailed explanation. Happy to see the Doc update in the future.

[2021-04-12 01:38] appelboom opened #73591 "Query fails due to table case"
Documentation states table should be "Data Collection Status" however query is case sensitive and should be lowecase c "Data collection Status"

_LogOperation
| where Operation == "Data Collection Status"
| where Detail contains "OverQuota"

_LogOperation
| where Operation == "Data collection Status"
| where Detail contains "OverQuota"

---
#### Document details

⚠ *Do not edit this section. It is

[2021-04-12 02:04] KrishnaG-MSFT commented on #73591
@appelboom Thanks for your comment! We will review and provide an update as appropriate.

[2021-04-12 02:04] eckartbindewald commented on #73578
Thank you for the kind words and helpful suggestion!
I did indeed create a support ticket to that effect.
Best regards,
Eckart Bindewald

________________________________
From: YutongTie-MSFT ***@***.***>
Sent: Sunday, April 11, 2021 8:13 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Bindewald, Eckart ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Charged Hundreds of

[2021-04-12 02:22] benjamincburns opened #73592 "What environment variables are set in a deployment script by default?"
The Deployment Scripts docs page mentions the `AZ_SCRIPTS_OUTPUT_PATH` env var. Are there other environment variables that are set by the Azure deployment script runtime that I can use in my scripts? Are there any environment variables that are reserved by the runtime that I shouldn't be using in my scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-04-12 02:23] BharathNimmala-MSFT commented on #73588
@MNF Thank you for reaching out with your query , our team will review it and get back to you at the earliest.

[2021-04-12 02:48] ram-msft commented on #73314
@willblenkhornjisc Thanks, If you are seeing the same model (iteration) gives different prediction results on the locally/raspi vs. when they do a quick test in the CV web portal. The [Compact models](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/select-domain#compact-domains) are most likely less performing than General model. The reason is that Compact model is

[2021-04-12 02:51] ram-msft commented on #73314
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-12 02:51] #73314 closed

[2021-04-12 03:12] ram-msft commented on #73432
@mattpampena We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-12 03:12] #73432 closed

[2021-04-12 03:17] Arnab-Developer opened #73593 "Host name problem in 'Quickstart: Use Azure Cache for Redis in .NET Framework' document"
Found a small issue in [Quickstart: Use Azure Cache for Redis in .NET Framework](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-how-to-use-azure-redis-cache#create-a-cache) document.

![image](https://user-images.githubusercontent.com/3396447/114335618-c7736800-9b6a-11eb-953a-82a80dd039fe.png)

It says 'Replace `cache-name` with your cache `host name`' but host name alre

[2021-04-12 03:29] CHEEKATLAPRADEEP-MSFT commented on #73593
@Arnab-Developer  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@yegu Could you please review the pull request and approve?

[2021-04-12 03:33] BharathNimmala-MSFT commented on #73195
@GrantErickson Apologies for your experience and we really appreciate your feedback and are working to bring consistency across Azure docs regarding community support. [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) is our first party community platform, however we thrive to help our customers where ever they reach us. List of support Azure Services on Microsoft Q&A, can be fo

[2021-04-12 03:33] #73195 closed

[2021-04-12 03:49] BharathNimmala-MSFT commented on #73467
@ThomasVandenbon Thanks again for bringing this to our notice , the [doc link](https://docs.microsoft.com/en-us/cli/azure/monitor/app-insights/component?view=azure-cli-latest#ext-application-insights-az-monitor-app-insights-component-create) has been fixed now. Hope this information helps.

At this point it appears that there's no further edits or updates needed to the documentation, other than wh

[2021-04-12 03:49] #73467 closed

[2021-04-12 04:13] SnehaAgrawal-MSFT commented on #73283
@TheGoodNEvil Since We didn't hear from you. We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2021-04-12 04:13] #73283 closed

[2021-04-12 04:14] pnarsi opened #73595 "Support for Azure Functions Premium plan"
Does Azure Defender for App Service support the Azure Functions Premium plan?

The support statement at the top says "All App Service plans are supported except Azure Functions on the consumption plan." However it is not clear to me if Azure Functions Premium is supported as I am not sure if "Azure Function Premium" considered to be a type of App Service plan.

---
#### Document Details

⚠ *Do not

[2021-04-12 04:15] SnehaAgrawal-MSFT commented on #73408
@samtsejerome Just checking in to see if you have chance to see above response. please let us know to help you better on this.

[2021-04-12 04:30] MayankBargali-MSFT commented on #73490
@iamsoorya  Just following up here. Hope my previous comment has helped you to resolve the issue.

[2021-04-12 04:38] PramodValavala-MSFT commented on #73268
@nitmatgeo Just following up here to see if the response above helps

In addition, if you are looking for testing it locally, [this section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=csharp%2Cbash#local-testing-with-viewer-web-app) of the doc should help.

If you can expose your local endpoint to the internet (using something like [ngrok](htt

[2021-04-12 04:48] #73446 closed

[2021-04-12 04:48] #73493 closed

[2021-04-12 04:57] YutongTie-MSFT commented on #73578
@eckartbindewald Please let us know if anything need more help for this case.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-04-12 04:57] #73578 closed

[2021-04-12 05:20] CHEEKATLAPRADEEP-MSFT commented on #73560
@simonzhaoms This video on [Azure Synapse Analytics - Spark Pools & Custom Python Wheels](http://www.youtube.com/watch?v=t4-2i1sPD4U&t=10m45s) show how to install custom Python wheels on Azure Synapse Analytics.

Unfortunately, you cannot upload libraries programmatically.

Hope this helps.

[2021-04-12 05:59] YutongTie-MSFT commented on #73385
Thanks for this.

@nerajput1607 Hello Neha, the same issue seems happen again, could you please check? I also reproduce the error - "default answer not works"

[2021-04-12 06:01] AnuragSharma-MSFT commented on #73511
@eijimoch Thanks for pointing it out. I see the contradiction in both the statements and assigning it to content author to evaluate and update the document as appropriate.

[2021-04-12 06:14] simonzhaoms commented on #73560
@CHEEKATLAPRADEEP-MSFT I tried, but it didn't work.

[2021-04-12 06:41] benjamincburns commented on #69541
@James-Hamil-MSFT @shashishailaj just pinging as there hasn't been any movement on this in quite some time and this is still an open issue for me.

[2021-04-12 06:44] KrishnaG-MSFT commented on #73244
Assigning @bwren for visibility, review, help provide insights and for document enhancement consideration if appropriate.

[2021-04-12 06:46] paulb2015 commented on #68612
Actually the document works, and appears to be correct. I got the same error as you, but for me, it was because of the following:

1) I hadn't added the firewall rule on both servers (0.0.0.0 - 255.255.255.0)
2) I didn't login as the user that I had created (geodrsetup) before running the query: alter database dbrep add secondary on server <servername> - I was trying to run this query as my AAD us

[2021-04-12 06:51] venkat1017 commented on #73366
https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/sql-managed-instance-paas-overview

[2021-04-12 06:53] KrishnaG-MSFT commented on #73354
@Klaas- Verified and updated the document as required. Thanks again!

[2021-04-12 06:53] #73354 closed

[2021-04-12 06:53] KrishnaG-MSFT commented on #73379
@jeanmarc Verified and updated the document as required. Thanks again!

[2021-04-12 06:53] #73379 closed

[2021-04-12 06:54] iamsoorya commented on #73490
Actially it didn't work.

On Mon, 12 Apr 2021, 05:30 MayankBargali-MSFT, ***@***.***>
wrote:

[2021-04-12 06:55] RomaRathi opened #73597 "How to set exp time for JWT token"
I'm using SPA and MSAL2.0 auth code flow Oauth2.0 and after the exp of the token the user is prompted with the login popup and after entering the credentials it is not authorized.
I want to extend the jwt token or access token expiry time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf3

[2021-04-12 06:57] RomaRathi commented on #73597
I'm using SPA and MSAL2.0 auth code flow Oauth2.0 and after the exp of the token the user is prompted with the login popup and after entering the credentials it is not authorized.
I want to extend the jwt token or access token expiry time.

Please help

[2021-04-12 07:01] femsulu commented on #73592
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-04-12 07:05] SumanthMarigowda commented on #73341
@MiguelMejiaDca Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If it's not directly related to the documentation.

[2021-04-12 07:05] KrishnaG-MSFT commented on #73584
@SHxKM Hope you have self resolved and hence closed the issue. Thanks for the update.

[2021-04-12 07:05] #73341 closed

[2021-04-12 07:09] bozgul opened #73599 "Link not working "Quickstart: Enable users and create a SQL endpoint""
[Enter feedback here]
![image](https://user-images.githubusercontent.com/79183421/114370893-982a1e80-9b9d-11eb-9e0f-a62eb4737250.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1095c135-0915-f6c8-8032-4d04354fd40a
* Version Independent ID: fe24dd29-de3f-a0de-26cf-2d7f0d4ad637
* Content: [What is Azure Databricks SQ

[2021-04-12 07:31] insankim opened #73601 "Need WARNING for Reimage on node when updating credential"
[Enter feedback here]
When we change service principal using az aks update-credentials command,
VMSS nodes get reimaged which can cause temporary service downtime.

Currently there is no mention of this behavior and we don't know whether this operation impacts on production or not.

az aks update-credentials \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --reset-service-pri

[2021-04-12 07:34] rockboyfor opened #73602 "Is it the typo adding one more `l` character in SuccessfullConnectionsPerSec of Server metric?"
Hi Colleague,

There is one spelling to add one more character `l` in SuccessfullConnectionsPerSec of Server metric section.
Is it typo or not?

Best Regards,
Edward Chen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33d46c28-4183-1ce1-72fb-5304a7052863
* Version Independent ID: ea34e5f4-1c56-8378-e675-673553a38f46
*

[2021-04-12 07:46] henrypi73 opened #73603 "Configuration settings not seen in Azure Portal"
HI There

You talk about "Under Configure, select Additional cloud-based MFA settings." but this is not the case anymore, this is not in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09045d65-afcc-3daf-0849-5f4f4be30ee5
* Version Independent ID: 2cf10217-b74e-af2a-d5dc-9ed62c52e488
* Content: [Azure AD Mul

[2021-04-12 07:47] m1ghtym0 commented on #72148
This problem has disappeared for me, I'll close the Issue.

[2021-04-12 07:47] #72148 closed

[2021-04-12 07:54] the-grayest commented on #72442
Thanks, clear!

[2021-04-12 07:54] #72442 closed

[2021-04-12 07:57] FrankSzendzielarz opened #73604 "Step 6 incorrect using statement"
Step 6 in the section on the Xamarin.Android client should use

`using WindowsAzure.Messaging.NotificationHubs;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent ID: 4f8e4309-cd06-f09f-00f0-d978b3d16777
* Content: [Send push notifications to Xamarin.Android apps

[2021-04-12 08:01] nkumars commented on #72681
@samiozturk, it just works when we return claim in _**After signing in with an identity provider**_ and if the same is returned in  **_Before creating the user_**, doesn't return those claims in token

Ofcourse, I can return default claim and I also know if the claim has no value doesn't return in token.

[2021-04-12 08:02] NicolasFloquet opened #73605 "Contradictory constraints on Internal LB IP adresses"
Under the "Specify an IP address" section, two sentences are contradictory:

-  the specified IP address must reside in the same subnet as the AKS cluster
- you shouldn't use an IP address in the range designated for the Kubernetes subnet

Is this a mistake or am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-04-12 08:55] SubhashVasarapu-MSFT commented on #73128
@jyotiprakash90, this abnormal behavior has been reported to the concerned team. I will be adding you to the conversation.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-04-12 08:55] #73128 closed

[2021-04-12 09:02] SnehaAgrawal-MSFT commented on #73414
@mattcowen Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-04-12 09:05] kahawai-sre commented on #72926
Thanks SaiKishor that helps. Is there a reference to that information in the docs that you can provide?

[2021-04-12 09:07] enriko-riba opened #73607 "Create a CA cluster issuer step fails"
the step "Create a CA cluster issuer" fails with "no endpoints available for service "cert-manager-webhook"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create ingress with automatic TLS - Azure Kubernetes S

[2021-04-12 09:17] enriko-riba commented on #73607
seems a K8S issue on my side

[2021-04-12 09:17] #73607 closed

[2021-04-12 09:18] CHEEKATLAPRADEEP-MSFT commented on #73599
@bozgul Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@mamccrea Could you please review the document and update appropriately?

![image](https://user-images.githubusercontent.com/79183421/114371518-30c09e80-9b9e-11eb-9ec3-29231a405c8a.png)

[2021-04-12 09:19] CHEEKATLAPRADEEP-MSFT commented on #73602
@rockboyfor Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/154070](https://github.com/MicrosoftDocs/azure-docs-pr/pull/154070)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2021-04-12 09:20] #73602 closed

[2021-04-12 09:27] SychevIgor opened #73608 "Add information about Classic retention versus Workbook. Screenshots from classic mode only"
Current UX looks like
![image](https://user-images.githubusercontent.com/578954/114372629-71aeb800-9b8a-11eb-9118-0f225307b532.png)
In a page described only "classic" mode that is no longer default. Please, actualize information/screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29a3caef-63e2-fdd9-dd00-c034d5f

[2021-04-12 09:38] SubhashVasarapu-MSFT commented on #73436
@RonnieQuan, I have tested this in my lab and found that this is not yet supported feature for now. As a work around I tried adding those VMSS instances to a standard load balancer and added that LB to APPGW backend with its PIP. Everything looks integrated well but haven't tested its functionality at natting level of instances across subscriptions. Please do give a try. Also, we recommend you pro

[2021-04-12 09:38] #73436 closed

[2021-04-12 09:49] SnehaAgrawal-MSFT commented on #73440
@yiliuTo Thanks again for the feedback! Could you please clarify on what are you trying to do to help you better on this.
Further As mentioned in the document that In App Service, app settings are variables passed as environment variables to the application code. For Linux apps and custom containers, App Service passes app settings to the container using the --env flag to set the environment varia

[2021-04-12 09:58] SychevIgor opened #73609 "Add information about Classic retention versus Workbook. Screenshots from classic mode only"
Current UX looks like
![image](https://user-images.githubusercontent.com/578954/114376941-cb18e600-9b8e-11eb-8f11-28a8de2b689d.png)

In a page described only "classic" mode that is no longer default. Please, actualize information/screenshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fc62065-afec-23f0-b6a5-30ca40

[2021-04-12 10:02] KrishnaG-MSFT commented on #73609
@SychevIgor Thanks for the feedback!
Assigning @NumberByColors for visibility, review and document enhancement consideration as appropriate.

[2021-04-12 10:02] KrishnaG-MSFT commented on #73608
@SychevIgor Thanks for the feedback!
Assigning @NumberByColors for visibility, review and document enhancement consideration as appropriate.

[2021-04-12 10:14] simonyarde commented on #73304
Hi @HarshitaSingh-MSFT. Since the feature is not supported, it would be helpful to show how to coordinate containers without error, otherwise the demo appears not to demonstrate anything useful.

[2021-04-12 10:23] MayankBargali-MSFT commented on #73223
@lothbrok2020 Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-04-12 10:23] #73223 closed

[2021-04-12 10:59] trailmax opened #73610 "AzCopy Sync between blobs only available via SAS signature"
Example to sync 2 blob storages suggests this:

[code]
But when actually trying this, I get error `Cannot perform sync due to error: the source of a Blob->Blob sync must either be public, or authorized with a SAS token`. Also documentation for [Sync](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-sync) says that it must be SAS signatures for Blob<=>Blob sync.

So the exam

[2021-04-12 11:05] SnehaAgrawal-MSFT commented on #73604
@FrankSzendzielarz Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-12 11:10] TheovanKraay commented on #73537
"Ted" was frequently attributed as a nickname for Mr Codd, and this is commonly known. I have no opinion on whether this should be expanded to his full name "Edgar F. Codd", or left as "Ted Codd". I think either are fine. But it should not be "Ed".

[2021-04-12 11:11] assaf-grth commented on #44746
Currently when trying to add a certificate through the secrets list, this message shows: "This feature has been deprecated. Click here to go to your list of certificates and import a new certificate."

Is there a plan to update the app gateway in accordance?

[2021-04-12 11:13] asergaz commented on #73334
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-12 11:13] #73334 closed

[2021-04-12 11:16] SubhashVasarapu-MSFT commented on #73460
@Andriy-dev, A single VNet can be linked to up to 16 ExpressRoute circuits. The FAQ page has been edited accordingly. It would take some time for the changes to get reflect over the doc.
Ref: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-linkvnet-portal-resource-manager

We are closing this issue for now. If there are further questions regarding this matter, please reply a

[2021-04-12 11:16] #73460 closed

[2021-04-12 11:38] gjmscc opened #73611 "Automated Publish - Removes Git Configuration"
The instructions for automated publish does not mention when deploying the ARM template to the git enabled "dev" data factory that said git configuration will be removed ( assume this is due to global parameters being included in the ARM template).

This does not occur if a user clicks Publish in the data factory UI which this article states should no longer be needed. It should therefore either d

[2021-04-12 12:08] erickuhn19 commented on #73507
Have you tried using the [Sample App](https://github.com/Azure-Samples/active-directory-verifiable-credentials) to issue your vc? In the Issuer folder, you can customize the 'const credential' to your own vc that you created in Azure Portal. Have you followed the [tutorial](https://docs.microsoft.com/en-us/azure/active-directory/verifiable-credentials/enable-your-tenant-verifiable-credentials) yet

[2021-04-12 12:11] erickuhn19 commented on #73450
Ok thanks for explaining. Yes, you are correct. I am working on documentation so you can pull claims directly from your own database. At this time, we only support input claims coming from id token, another vc or a self attested claim. In the near future we will be enabling the ability to pull claims from other locations.

[2021-04-12 12:31] derekschauland commented on #68612
I think it was the login thing... once I logged in as the new replication user the command completed successfully - thanks much @paulb2015

[2021-04-12 12:32] pattisd01 commented on #55313
I'm also seeing this behaviour. The 200 response isn't what I would expect. And it's not ideal for a client. Any updates or advice?
Is this likely to be addressed anytime soon?

[2021-04-12 12:40] MGoedtel commented on #73428
@dcbrown16 - Thanks for raising this issue and bringing this to our attention. This article was supposed to be deleted as part of the restructure/rewrite of the Change Tracking and Inventory content.  I'll bug this and we will delete the article this week.

[2021-04-12 12:41] #68612 closed

[2021-04-12 12:42] jrbirdmanFA commented on #73537
Then I’d make it Edgar.

From: Theo van Kraay ***@***.***>
Sent: Monday, April 12, 2021 7:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Diehl, Dave ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Wrong name (#73537)

"Ted" was frequently attributed as a nickname for Mr Codd, and this is commonly known. I have no opinion on whether this should be expanded to his ful

[2021-04-12 12:52] amanmcse commented on #73595
@pnarsi Thank you for your feedback . We will investigate and update the thread further.

[2021-04-12 12:58] amanmcse commented on #73597
@RomaRathi Thank you for your feedback . We will investigate and update the thread further.

[2021-04-12 13:04] amanmcse commented on #73597
@RomaRathi Access Token Lifetime is by default 1 hour and can be set to minimum 10 minutes and maximum 1 day.

Below is an example to create a policy to set Access token lifetime to 2 hours.
$policy = New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"AccessTokenLifetime":"02:00:00","MaxAgeSessionSingleFactor":"02:00:00"}}') -DisplayName "WebPolicyScenario" -IsOrganizationDefaul

[2021-04-12 13:04] #73597 closed

[2021-04-12 13:06] amanmcse commented on #73603
@henrypi73 Thank you for your feedback . We will investigate and update the thread further.

[2021-04-12 13:15] anraghun commented on #64292
@toddwhitehead It looks like it's been [added](https://docs.microsoft.com/en-us/azure/azure-arc/kubernetes/quickstart-connect-cluster#prerequisites).

[2021-04-12 13:32] sijucm opened #73613 "Azure functions to Service bus connection: Protocol and port not documented"
It would have been lovely if Microsoft could provide which protocol is used by Azure functions to connect to service bus. I suspect it is not 443 and it is 5671 (AMQP), but because it is not documented it is very difficult to debug connectivity issue. I'm sure it is different for each SDK/Language/OS in the typical Microsoft way of doing things, but I'm looking for NodeJS/Javascript and Linux OS w

[2021-04-12 13:56] jwoll opened #73614 "iOS devices aren't able to register when using SSO extension + cert-based auth"
When we deployed the SSO extension to devices, we noticed that devices that hadn't registered via Jamf Pro's Device Compliance feature, weren't able to register.

We pulled the logs from Authenticator and it seemed that something in Authenticator was preventing the devices from registering to AAD.

It also seems to have something to do with using cert-based authentication and the SSO extension.

H

[2021-04-12 14:07] garthoid opened #73615 "Boilerplate from ACR?"
A lot of entries in this document seem to refer to ACR. Was this copied from ACR and not updated?

For example, for section 4.8 "Encrypt sensitive information at rest"  is talks about "...all data in an Azure container registry is encrypted..."

What about persisted data in an ACI?

A simple internet search for ACI Persistent Storage finds: https://docs.microsoft.com/en-us/azure/container-instance

[2021-04-12 14:26] alkohli commented on #69671
@Gt3pccb Investigating. #in-progress

[2021-04-12 14:39] tfitzmac commented on #73543
@bowlerma - thanks for this feedback. I'll add that limitation to the article.

[2021-04-12 14:42] NavtejSaini-MSFT commented on #73366
@bonova This issue is related to the new feature in preview - https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview#service-tags-for-user-defined-routes-preview
Can you please check and provide guidance here.

[2021-04-12 14:53] #73543 closed

[2021-04-12 15:09] EmmaC57289 commented on #70216
@jeevansd  @JamesTran-MSFT Is there any update on this please?

[2021-04-12 15:22] NumberByColors commented on #73608
Hi, I haven't worked on this in years. Adding @acearun
I'll remove myself.

[2021-04-12 15:26] tfitzmac commented on #73576
The update should get published later today.
#please-close

[2021-04-12 15:26] #73576 closed

[2021-04-12 15:36] JamesTran-MSFT commented on #70216
@EmmaC57289
Thank you for following up on this!

Since there hasn't been any update, and if this is an urgent doc enhancement, I'd recommend following our [Microsoft Docs contributor guide](https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents) and creating a PR to update this doc. This way @jeevansd can just review and sign off as needed.

Thank you for your time and pati

[2021-04-12 15:38] himanshusinha-msft commented on #73611
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-04-12 15:38] Oury-MSFT commented on #73462
@felixtsem5 Microsoft does not host MongoDB engine.  Our engine is completely developed inhouse and shares no code/binaries with MongoDB.

[2021-04-12 15:41] valentinnreca commented on #66693
...still an issue;
"You are unable to add a verified publisher to this application. Please contact your administrator for assistance"

[2021-04-12 15:43] PeterCLu commented on #73185
https://github.com/MicrosoftDocs/azure-docs-pr/pull/153084

#please-close

[2021-04-12 15:43] #73185 closed

[2021-04-12 15:44] SamaraSoucy-MSFT commented on #73411
Since a PR has been created I'm going to close this thread.

[2021-04-12 15:44] #73411 closed

[2021-04-12 15:46] PeterCLu commented on #73212
Hi @levpreece, Amin has confirmed that the 70_driver_log.txt file is the correct file. Can you provide more information about the issue your experiencing? Can you double-check the log files on your end? Thanks!

[2021-04-12 15:48] #73425 closed

[2021-04-12 15:53] felixtsem5 commented on #73462
@Oury-MSFT Can we please update the doc to change

to

please?