[2019-11-18 11:26] saurabhsensharma commented on #40228
#please-close

[2019-11-18 11:26] #40228 closed

[2019-11-18 11:28] saurabhsensharma commented on #41572
This URLs and IPs are used to securely connect with the data and management plane of the Azure Backup service. Some of these URLs are used for authenticating machines with the Azure Backup service while others are used to send data to managed-backup storage. Please write to us at AskAzureBackupTeam@microsoft.com in case you require additional information.

[2019-11-18 11:28] saurabhsensharma commented on #41572
#please-close

[2019-11-18 11:28] #41572 closed

[2019-11-18 11:30] saurabhsensharma commented on #42785
#reassign:dcurwin

[2019-11-18 11:31] memildin commented on #39753
This screen has been updated and should be available in an upcoming release.
Thanks!
#please-close

[2019-11-18 11:31] #39753 closed

[2019-11-18 11:31] saurabhsensharma commented on #40229
Yes, compression performed by MARS on Azure VMs is the same as the one performed by MARS on on-prem Windows Server machines. We will update documentation to make this clear.

[2019-11-18 11:31] saurabhsensharma commented on #40229
#please-close

[2019-11-18 11:31] #40229 closed

[2019-11-18 11:39] faisch opened #43012 "SSTP P2S to Azure without Adminrights"
If you create a simple VPN-connection from the controlls menue using the vpn-address extracted from the VpnSettings.xml a user is able to connect without the need for any admin-rights. Looks also more professional since its allready embeded in win10 GUI.
Distribution in companies is as easy as just managing a rasphone.pbk -connectionentry.

This should be stated as an alternative way for establish

[2019-11-18 11:44] franzoir opened #43013 "Update deployment models for P2S to include AAD"
I can't find much information here about supported SKUs for AAD authenticated P2S VPN.
Should perhaps also mention/highlight if there's specific SKU requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Version Independent ID: af13a45f-3061-2f0e-7452-b52d700b4805
* Content:

[2019-11-18 11:51] bchris999 opened #43014 "Clarification on Office 365 licensing"
Is there anything to be aware of around Office 365 licensing with WVD?
Specifically from: https://docs.microsoft.com/en-us/office365/servicedescriptions/office-applications-service-description/office-applications-service-description
"8. Office 365 ProPlus is supported on user-dedicated virtual desktop infrastructure (VDI). Office 365 ProPlus only supports Remote Desktop Services (RDS) when purchas

[2019-11-18 12:01] memildin commented on #40156
Hi @pyoungberg, thanks for the request!

To do this, you'll need to use PowerShell or an MSI installation script and attach it to GPO logon scripts as explained here:
https://docs.microsoft.com/azure/azure-monitor/platform/agent-windows

Let us know if we can be of further assistance.

#please-close

[2019-11-18 12:01] #40156 closed

[2019-11-18 12:02] haymansfield opened #43015 "No need to specify create folder as a preceding step."
Following this tutorial I find that creating the input folder and uploading the emp.txt file is the same step in the portal. Separating caused some mild confusion.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f23bdf-28be-1c14-f786-82ce78c60cfa
* Version Independent ID: 522daede-91b2-9b09-17eb-791bd0dd9bce
* Content

[2019-11-18 12:06] jtuliani opened #43016 "Missing limits on VPNs"
Need to add limits on VPN tunnels (S2S and P2S)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azure subscription limits and quotas](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#vn

[2019-11-18 12:16] SadiqhAhmed-MSFT commented on #42917
@lonevvolf Can you share the screenshot of the portal highlighting the missing option?

[2019-11-18 12:19] jakaruna-MSFT commented on #42602
I submitted a pr to change the commands.  Changed will reflect in hours.

[2019-11-18 12:45] jmprieur commented on #42830
Things seem to have changed. Looking at it

[2019-11-18 12:46] OliCSADoerr opened #43017 "Be specific - connection to Sec. Center"
"To monitor your Azure Container Registry, connect it to Security Center." Please be specific and provide the details how this works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad7c05f1-f69c-c033-0409-39f5c8f03674
* Version Independent ID: ebcceb7b-0d9c-618c-9576-b3b1713fe1ef
* Content: [Container Security in Azure

[2019-11-18 12:48] olavt opened #43018 "CPP term should be better explained or not use abbreviation"
"Yes, as long as the GUID is present when the template is deployed, usage is tracked. Partners are required to have a profile in the CPP to register GUIDs used for the deployment outside of the Azure Marketplace."

The term CPP is not directly explained on the page (even if one could deduct that it means Cloud Product Performance) from a screenshot elsewhere on the page. I think one should avoid u

[2019-11-18 12:53] Ammu-amjath opened #43019 "Not getting an invite"
Hi,

Am working on the same for execution and for some reason am getting jammed on receiving an email invite while I try to get a data share invitation. I would really appreciate it if you could help me with the same.

<img width="957" alt="Screenshot (3697) (1)" src="https://user-images.githubusercontent.com/57902403/69053915-78d2a480-0a30-11ea-9111-76e0dcc62a57.png">
---
#### Document Details

⚠

[2019-11-18 12:58] SwathiDhanwada-MSFT commented on #43016
@jtuliani Thanks for feedback. We will review the document and update it accordingly.

[2019-11-18 13:00] #42912 closed

[2019-11-18 13:02] ManojReddy-MSFT commented on #43009
@sopelt AFAIK, Containers inside a storage account are treated differently from ARM resources. So, there is no other way ob obtaining the scope. You have to follow the syntax and add it to the resource ID of the storage account.

I will confirm this after verifying this internally.

[2019-11-18 13:07] PramodValavala-MSFT commented on #42845
@vavane-ms You can [`terminate` an orchestration](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-instance-management#terminate-instances) using either the [HTTP API](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-http-api) or the [Orchestration Client binding](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-

[2019-11-18 13:13] johnlnash commented on #42961
Thanks,

Done

https://feedback.azure.com/forums/258995-azure-backup/suggestions/39058756-more-snapshots-and-longer-non-hack-retention-tim

From: Vishnu Charan TJ <notifications@github.com>
Sent: Monday, November 18, 2019 4:19 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nash, John <jnash@kbhome.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs]

[2019-11-18 13:18] Nimleth opened #43020 "Unclear why MSI_Secret would help mitigate SSRF attacks"
Hi,

This page states: "MSI_SECRET - a header used to help mitigate server-side request forgery (SSRF) attacks. The value is rotated by the platform."

But as far as I can see MSI_SECRET is only used to get the bearer token, after that the token itself gives access to resources the MSI has been given access to. So how would this mitigate a SSRF attack considering that during a successful SSRF atta

[2019-11-18 13:24] Eiffelsturm opened #43021 "Needed administrator role for managing authentication methods in Azure AD isn't given"
Which administrator role in Azure AD is needed to modify the authentication method policies from section "Enable passwordless phone sign-in authentication methods" step 2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee6ac70d-5853-6a3a-0964-23b46910b4c4
* Version Independent ID: a5beda87-9845-8807-6221-7fdc64079587
*

[2019-11-18 13:25] karok2m opened #43022 "Invalid links to Helm documentation."
The following links are no longer pointing to the right pages after Helm docs have been upgraded for Helm v3:

* **Using TLS/SSL between Helm and Tiller** -> https://docs.helm.sh/using_helm/#using-ssl-between-helm-and-tiller
  Correct one for Helm v2 would be https://v2.helm.sh/docs/using_helm/#using-ssl-between-helm-and-tiller

* **Helm role-based access controls** -> https://docs.helm.sh/using_h

[2019-11-18 13:29] djrathbone commented on #42756
Hi Karishma,
You can fin on line 71 in the config.json code, it references the variable as isServicePrincipal, however in the basicScale.ps1 script on line 166 it references the variable as $isWVDServicePrincipal.

Hope that helps.

[2019-11-18 13:42] loeken commented on #22501
@Karishma-Tiwari-MSFT one can use the https://portal.azure.com/#blade/Microsoft_Azure_Storage/StorageExplorerBlade Storage explorer to break the lease and create a copy of the disk, attach that to another vm to solve the issues and then reattach it back to the original vm to get your vm working without having to delete/recreate any vm

[2019-11-18 13:46] pdarvasi opened #43023 "Data operations"
Is there a plan in the roadmap to support delegated resource management for "data" type operations also? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c2d942-cc8b-ea0e-5112-919d2f4b2593
* Version Independent ID: c0c2b12b-4326-f483-d086-9c3c4d37a230
* Content: [Cross-tenant management experiences - Azure Ligh

[2019-11-18 13:53] souravmishra-msft commented on #42781
@menezesedu, We are closing this thread for now as got no more updates. Feel free to reach out to us in case you would want to re-open this thread again.

[2019-11-18 13:53] #42781 closed

[2019-11-18 13:58] brettsam commented on #42792
These changes have been released. They were a part of the 3.0.13 nuget, which was moved to master back in August and released with anything > 2.0.12833. I've submitted a PR to clear this up: https://github.com/MicrosoftDocs/azure-docs/pull/43025

[2019-11-18 13:58] NavtejSaini-MSFT commented on #42974
@sladeedmonds Please share the ticket number while we check further regarding the issue.

[2019-11-18 13:58] sujitks commented on #40720
Hi @rolyon, I did see this article. I was trying to apply the deny assignment by using the blueprint deployment. You can provide resource manager template in the blueprint deployment which I was using to put deny assignment.
It looks like we cannot put deny assignment on a resource group by blueprint deployment (at least from portal). It only allows locking the resource group at the moment.
It wil

[2019-11-18 14:08] CyclopsHelpdesk commented on #38708
Also worth pointing out that you need to set the share (RBAC) permissions under IAM in the Azure web portal for the file share. Once you have done that follow the above instructions to map it using the storage account name and access key. Then you can set the NTFS permissions. Once the NTFS permissions have been set you can get rid of the credentials (from credential manager) and map it normally u

[2019-11-18 14:10] kspoojary opened #43026 "Event Grid Triggers are not working when Vnet Integration is enabled on Premium Plan"
Event Grid Triggers are not working when Vnet Integration is enabled on Premium Plan, Delivery attempt failed with 403 error, I am not sure which IP/service tag I should set in NSG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92671e7c-03e5-591d-7fe2-7c565220242a
* Version Independent ID: 99bdee93-1a4d-d10c-8d90-a58a8

[2019-11-18 14:15] mrisaac opened #43027 "Support for Premium File Shares"
Hi Service Team,

Working with a customer, they highlighted that this article is a bit confusing and does not reference any of the premium file share information, suggesting we add an additional section regarding creating premium file shares with Storage Explorer. Is this something that could be accomplished easily?

Thanks,

Isaac

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-11-18 14:19] shashishailaj commented on #42681
@Jason1666 Hope the above answers your query. the password protection logic would apply to all users because all the users are on the Domain controller and any password will be checked against both the on-prem AD password policy along with the one from Azure via Azure AD password protection proxy component and the Domain controller agent's password filter .  We will now close this issue. Should yo

[2019-11-18 14:19] #42681 closed

[2019-11-18 14:21] shashishailaj commented on #42594
@curtand This article would require multiple changes as mentioned above. Could you please help with the same?

[2019-11-18 14:21] gorgi commented on #42878
@a9fagu they do support it: https://blog.eldert.net/reference-key-vault-secret-latest-version/

@SnehaAgrawal-MSFT  adding this to the documentation is very much needed.

[2019-11-18 14:24] poortom1004 opened #43028 "Global Reader"
The Global Reader role needs to be added to the roles that are able to review sign-in activity.
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#global-reader-permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version

[2019-11-18 14:24] kelmarsec commented on #39870
+1 for copying the Microsoft Azure Active Directory Connect folder from my AD Connect Server (2016 std) to a local Windows 10 device and updating successfully.
The error throwing on 2016 is: Failed to remove inherited permissions on Sso computer account. A constraint violation occurred.

[2019-11-18 14:27] souravmishra-msft commented on #42803
@nnamedieh, I guess the table mentioned here should help.
[https://www.ready.noaa.gov/READYtime.php](url)
**Disclaimer:** This response contains a reference to a third-party World Wide Web site. Microsoft is providing this information as a convenience to you. Microsoft does not control these sites and has not tested any software or information found on these sites; therefore, Microsoft cannot make

[2019-11-18 14:27] #42803 closed

[2019-11-18 14:30] Jamico commented on #33632
How exactly is that done? I have same problem...

[2019-11-18 14:39] Vask006 commented on #42945
Now i am able to add storage account and change compatibility settings

[2019-11-18 14:39] #42945 closed

[2019-11-18 14:39] Vask006 commented on #42945
Now i am able to add storage account and change compatibility settings

[2019-11-18 14:49] buildbod opened #43029 "Azure Table Names"
If you follow the example to create a Knowledge Store https://docs.microsoft.com/en-us/azure/search/knowledge-store-create-rest then the Azure Table Names are hotelReviewsDocument, hotelReviewsKeyPhrases and hotelReviewsPages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb77e148-a7e4-7d5f-4243-e39154647f4b
* Version

[2019-11-18 14:50] franzoir opened #43030 "Support for Mac (OS X)?"
Asking since the documentation doesn't mention it, but is AAD auth supported for OS X yet?
I tried to do the normal procedure for certificate based authentication but chose "username" as authentication method instead. But that failed/doesn't prompt for MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e

[2019-11-18 14:54] shashishailaj commented on #42574
@Dagizmo Thank you for your insights . We have updated the document . It should be available in the next release cycle in the next 24-48 hours. We will now close this issue. Also , I would like to suggest that we love pull requests/commits from the community and so If you find typos like these in future , please do send us pull request and it will be reviewed and merged.

Thank you.

[2019-11-18 14:54] #42574 closed

[2019-11-18 14:59] adzamri opened #43032 "McasShadowItReporting incorrect"
HI, McasShadowItReporting can be connected by connecting Microsoft cloud app security and has a data connector

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf163f82-d5be-8b0a-e176-be3e85961eb6
* Version Independent ID: 39d5db21-18e8-a7c5-4408-407bf1905d73
* Content: [Connect data sources to Azure Sentinel](https://do

[2019-11-18 15:01] zhusulai commented on #42737
@msrini-MSFT, I am able to apply the rules. Apparently, for the outbound rules, the Source has to be `Any`. I had the Source set to `VirtualNetwork`.

[2019-11-18 15:03] zhusulai commented on #39840
I ran into the same issue. Also when creating outbound rules, the Source has to be specified to `Any`. I had the source set to `VirtualNetwork` and was prevented from attaching the NSG to the Subnet.

[2019-11-18 15:04] yoscbd opened #43033 "how can i retrieve a token after i get the token id?"
Hi all,
I would like to use the js sdk for embedding several reports analytics on my WordPress website so power bi pro users will be able to watch after they log in to their Microsoft account.
I want to have the same behavior / flow as we get when using the simple secure i-frame tag to embed reports:
1. User get to my web site2. Inside the reports display container \ div, user first have to sign i

[2019-11-18 15:05] stdedos commented on #38880
You have a `CRLF` handling issue. **\*Please\*** solve it ...

[2019-11-18 15:10] AjayKumar-MSFT commented on #42895
@anujsharrma, We will close this out, but if you feel you need more information please just let us know.

[2019-11-18 15:10] #42895 closed

[2019-11-18 15:11] BakkerJan opened #43034 "14-day period (Unified Multi-Factor Authentication registration)"
When I choose CA to activate this security defaults, and I follow the tutorial, will the 14-day period be activcated?
As far as I know, this is only enabled by enabling the baseline CA policy "end user protection", or by using Azure AD Identity protection.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a

[2019-11-18 15:12] AjayKumar-MSFT commented on #43010
@OffColour, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-18 15:18] yoscbd opened #43035 "What is the next step? how can i embed a report after i sign in the user and get the security token?"
Hi all,
I would like to use the js sdk for embedding several reports analytics on my WordPress website so power bi pro users will be able to watch after they log in to their Microsoft account.

I want to have the same behavior / flow as we get when using the simple secure i-frame tag to embed reports:
1. User get to my web site
2. Inside the reports display container \ div, user first have to sign

[2019-11-18 15:20] dcurwin commented on #42785
The document has been updated.

#please-close

[2019-11-18 15:20] #42785 closed

[2019-11-18 15:25] AjayKumar-MSFT commented on #43011
@soumya6541, Thanks for leveraging Azure docs feedback channel!  We are taking a look into this and will get back to you soon. Could you also share the document to which this feedback is applicable to?

[2019-11-18 15:27] AjayKumar-MSFT commented on #43012
@faisch, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-18 15:28] CarlRabeler commented on #42901
agreed - we have a work item to add clarity to this article @MashaMSFT

[2019-11-18 15:36] AjayKumar-MSFT commented on #43013
@franzoir, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-18 15:39] AjayKumar-MSFT commented on #43014
@bchris999, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-18 15:41] AjayKumar-MSFT commented on #43015
@haymansfield, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-18 15:43] giancarlos29 commented on #42950
hi, im sorry i did not menction the doc especifically.

https://docs.microsoft.com/en-us/azure/data-factory/connector-mongodb

Im using Azure Data Factory, trying to copy from Mongodb to Azure SQL Server.

[2019-11-18 15:45] diberry commented on #41885
@v-kydela - what concepts do you feel would help the customer - which diving into implementation details that may change?

[2019-11-18 15:45] erhopf commented on #42343
#please-close

[2019-11-18 15:45] #42343 closed

[2019-11-18 15:51] mamadou94Diop commented on #42962
Looking forward that Microsoft provides solution to that issue quickly

[2019-11-18 15:51] mikebranstein commented on #37206
Is there an update to this issue, @jakaruna-MSFT ? I too am experiencing this exact issue, where the Linux Diagnostic extension does not monitor the files I specify. All other portions of the agent are working and exporting metrics to JsonBlobs and Event Hubs.

[2019-11-18 15:53] aferrillo commented on #8793
The article mentions the possibility of having AD FS + PHS (Federated domain so PHS used as backup option) and still be able to configure Azure AD DS and integrate with HDInsight. Is it correct?

[2019-11-18 15:56] quantqtech commented on #42980
I have reviewed this post previously.  Both my office 365 and azure accounts are on the same tenant, so this does not apply - however I get the same error.

[2019-11-18 16:00] sam-north opened #43036 "AppService AppSettings isn't taking precendence over the pipeline released appsettings.json settings."
Hi,

We have deployed several apps in the past and are able to place secrets and settings in the portal.azure configuration section of appsettings and it usually overrides any key/value with the same name in the AppSettings section of our appsettings.json for our ASP.NET Core apps, but it seems that this isn't working correctly.  Any code relying on the overridden appsetting (provided in the porta

[2019-11-18 16:11] davemedvitz commented on #42941
I don't know what it is.  What I know is that I'm able to use it in the portal, but I can't find the MAG URL for cloud shell documented anywhere.

[2019-11-18 16:23] CyclopsHelpdesk opened #43038 "Zone Redundant Azure File Share Doesn't Work with Azure AD Credentials"
I had set RBAC correctly on the IAM part of a zone redundant Azure file share, however I couldn't map it from an Azure AD joined VM using the logged on Azure AD Credentials (Azure AD DS set up correctly). The storage account was set to be zone redundant.

I created another storage account, this time I set it to be LRS.
I then created a file share and set the RBAC credentials accordingly. I could t

[2019-11-18 16:42] cc-ansible commented on #42945
Confirmed working, thank you for fixing it promptly

[2019-11-18 16:43] migrande opened #43039 "Az CLI subnet delete command wrong"
The az cli command in the "Delete a subnet" section is wrong.  It is currently "az network vnet delete", but it should be "az network vnet subnet delete".

The link it points to is correct, however.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8332806-35c4-26e5-56e6-0286d728ad45
* Version Independent ID: ce76cee4-56

[2019-11-18 16:44] dgancho commented on #42945
Confirmed fixed, thank you!

[2019-11-18 16:48] mafis-hh commented on #42819
Hi @djpmsft,

yes I connected my ADF to my VNET ALDS using the managed identity authentication. Also "allow trusted Microsoft services" is active.
My Managed Identity has the "Storage Blob Data Contributor" role assigned.
I get the error already at linked service creation (on test connection).

Error:
`Connection failed
ADLS Gen2 operation failed for: Operation returned an invalid status code 'For

[2019-11-18 16:55] MicahMcKittrick-MSFT commented on #41667
@dzoech I have heard back from the Reliable Collections Product Team:

"The feature is GA on Windows and supported on all OS versions supported by Microsoft starting with windows server 2016. This feature is not supported on linux."

So it will work on the images in question :)

[2019-11-18 16:57] MicahMcKittrick-MSFT commented on #43011
@soumya6541 do you have automatic OS upgrades enabled? If not, that is the issue. You will need to update each of the images of the VMSS instances when you make a change.

Otherwise, enable automatic OS image updates and it will apply to all the instances automatically.

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade

[2019-11-18 16:58] ezheng2019 opened #43041 "Is WorkerService SDK still in Beta?"
Hi,

The link to the article is
https://docs.microsoft.com/en-us/azure/azure-monitor/app/console
The Service I am referring to is Azure Application Insights
Issue Description:
On top middle of the page there is a note indicate that there is a new beta Application Insights SDK called Microsoft.ApplicationInsights.WorkerService. But in other pages, I don't see anywhere that tells the SDK is still in

[2019-11-18 17:03] MicahMcKittrick-MSFT commented on #35335
@mlearned any update on this issue?

CC @MicrosoftDocs/aks-pm if anyone has any suggestions.

[2019-11-18 17:06] #43022 closed

[2019-11-18 17:06] KevinXTian opened #43042 "What are the difference between Parquet Primitive Type , Parquet Original Type (Deserialize), and Parquet Original Type (Serialize)?"
In the [Parquet format](https://docs.microsoft.com/en-us/azure/data-factory/supported-file-formats-and-compression-codecs#parquet-format) session, three concepts are mentioned about parquet type. What are the differences?

Taking the following description from [Schema and type mapping](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-schema-and-type-mapping#data-type-mapping), how

[2019-11-18 17:08] ColbyTresness commented on #41566
Not quite yet! Coming fairly soon though. No docs changes needed now, but follow https://github.com/Azure/azure-functions-nodejs-worker/issues/200 for more updates

[2019-11-18 17:12] zr-msft commented on #43022
Thank you for the feedback @karok2m!

I have updated the links in the doc and the changes will be available soon.

[2019-11-18 17:12] yashesvi commented on #41321
Yes, you can have multiple Databricks plans. The one expiring first is used first.

[2019-11-18 17:18] ggailey777 commented on #36859
Did you install version 3.0.x of [Microsoft.Azure.WebJobs.Extensions](https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions/)? This article is only supported for version 3.x of the WebJobs SDK.

[2019-11-18 17:25] darkhawk311 opened #43043 "AuthContextClassRef"
You may need to included this for this:

urn:federation:authentication:windows

We found we were sending this in our SAML trace, and we stopped getting SAML Assertion errors once we included this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee0d3d2c-71f4-9366-73a3-f0c910cf9073
* Version Independent ID: 953ee878-2afd

[2019-11-18 17:32] vavane-ms commented on #42845
But that won't give me a chance to handle cancellation nicely, it would just kill the function, no?

[2019-11-18 17:34] deepikabandhanadham commented on #42870
I emailed AzCommunity@Microsoft.com with the subject "Azure Data Factory; USGov Texas; Copy Activity : Longer execution times when Skip and log incompatible rows is enabled. "

[2019-11-18 17:35] Norrch2 opened #43044 "What to do regarding large customization"
Hello,

What would you recommend in the event that our localization is very large? For example, we currently support 13 languages and are currently having to provide translations for a country claim which alone is taking thousands of lines of code. Is there a way to point to a localization file for a specific language? What are some of MS best practices regarding large localization files?

---
###

[2019-11-18 17:36] jluk opened #43045 "AKS nodes per cluster is outdated"
AKS using a VM Availability Set is limited to 100 nodes

AKS using multiple node pools in a VM scale set can reach up to 800 nodes (100 nodes per node pool)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27aecc7b-f107-96d4-b044-ae026bca2727
* Content: [Azur

[2019-11-18 17:37] ggailey777 commented on #36458
@danielstocker Just so that I am clear on what you think will address the documentation issues related to this:

+ Remove the `WEBSITE_CONTENTSHARE` deployment setting from [here](https://docs.microsoft.com/azure/azure-functions/functions-infrastructure-as-code#windows).
+ Add a note [in the reference article](https://docs.microsoft.com/azure/azure-functions/functions-app-settings#website_contents

[2019-11-18 17:39] tboulliung commented on #41321
Great @yashesvi , thanks !

[2019-11-18 17:42] AlbertSugi commented on #34451
Hi! I am having the same issue here. I am trying to deploy my app for a couple of days now, tried numerous tutorial methods but to no avail. I tried Dan Taylor's tutorial https://www.youtube.com/watch?v=DPBspKl2epk&t=690s and Deployed according to his specific methods, but still has an error of:

Container goodnewsworkvs_0_129f6dbb didn't respond to HTTP pings on port: 8400, failing site start.

I

[2019-11-18 17:45] SaurabhSharma-MSFT commented on #43017
@OliCSADoerr Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 17:47] bwren commented on #42273
This is the delimiter for the custom log.  The regex is documented at https://docs.microsoft.com/en-us/azure/azure-monitor/platform/powershell-workspace-configuration#create-and-configure-a-log-analytics-workspace.  I know this kind of confusing, and this content will be getting cleaned up. For now, I'll at least add a link to that article.

[2019-11-18 17:47] bwren commented on #42273
#please-close

[2019-11-18 17:47] #42273 closed

[2019-11-18 17:47] mmacy commented on #42522
@fume Upon further investigation, we've found that this an issue with the underlying service.  The issue is being addressed, but I do not currently have an ETA for resolution.

For now, please use an alternate ID such as `CharacterSets`, and localize that. We recommend that you don't "repurpose" `CharacterClassesAll` as that is also a valid ID.

I'll request that this issue be closed as it is not

[2019-11-18 17:47] #42522 closed

[2019-11-18 17:52] himanshusinha-msft commented on #43042
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-18 18:01] cshea15-zz opened #43046 "Updated docs"
This has not been updated in a few years. Azure FrontDoor should be added to this document. Also Basic LB and Standard LB should be added not just Load Balancer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a65da150-4de7-a30b-ba22-3dd2e0ff1d09
* Version Independent ID: bfd6313c-276d-fb6e-2454-f990ea5097d6
* Content:

[2019-11-18 18:13] v-kydela commented on #41885
@diberry - It would help the customer to know that test KB's share an index whereas production KB's don't, and that affects confidence scores by affecting word frequencies. It would help customers to know that they can fix that particular problem by having only one KB in their resource, or by using a staging KB in its own production index for testing.

It's also important to let customers know tha

[2019-11-18 18:14] DeanCefola commented on #41451
yes I find the recent update to be clearer.
Thank you

[2019-11-18 18:14] #41451 closed

[2019-11-18 18:15] cyansprite commented on #42869
For me I had a VM already existing in the same group when I got that error, I deleted the group, made it again, recreated the VM, and it fixed. I think they don't let you change the ssh-keys and so that is the error you are seeing; however isn't the actual issue.

[2019-11-18 18:21] himanshusinha-msft commented on #42610
@Kamyar5353  : If these SFTP servers can be accessed publicly, you can use our cloud IR which is managed by ADF.If these servers only be private accessed, you must install SHIR so that we can read data from them.

We will go ahead and close the thread for now . If you feel appropriate you can always reopen the issue .

[2019-11-18 18:21] #42610 closed

[2019-11-18 18:29] Alberto-Vega-MSFT commented on #43038
@CyclopsHelpdesk Thank you for your reaching out. We try to reserve these issues for documentation feedback, Are following a tutorial? Is the tutorial broken/not working for you? If that is the case can you please share the URL?
If you would like to provide feedback for a document then please share the URL and please provide more detail on how we can make the document better. That way, we can pass

[2019-11-18 18:31] lgaud opened #43048 "ipython kernel install command will break other environments on the system"
Running this command in the 'Local Computer' section is **dangerous** as it will change the default kernel for all other environments on the system. Previously if I started Jupyter inside an environment, Jupyter would run using that environment, now everything points to the one I created for AzureML.

`ipython kernel install --user`

It should be switched to use a name:
[code]

---
#### Document D

[2019-11-18 18:32] himanshusinha-msft commented on #42834
@falmada : At this time I believe that if you only read the 4(b) it does point to which you had mentioned , but then 4(a) does talk about the start time .
At this time we are going ahead and closing this issue , if you feel appropriate you can always reopen this again .

[2019-11-18 18:32] #42834 closed

[2019-11-18 18:35] zateckar opened #43049 "Environment variables"
Hello,
What environment variables we can use?
For example, is HTTP_PROXY supported?
Thank you
Radim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bac4d3c-308d-b48d-575f-0d0894de3a83
* Version Independent ID: a1cc16fc-7c19-244b-afd5-116699bc7603
* Content: [Deploy a self-hosted Azure API Management gateway to Kubernet

[2019-11-18 18:37] Karishma-Tiwari-MSFT commented on #43022
Thanks @zr-msft :)

[2019-11-18 18:37] Alberto-Vega-MSFT commented on #43035
@yoscbd Thank you for your reaching out. We try to reserve these issues for documentation feedback, if you would like to provide feedback for a document would you please share the URL and provide more detail on how we can make the document better. That way, we can pass your feedback to the appropriate content author.
If this issue is not related with any documentation feedback you might want to cr

[2019-11-18 18:40] Alberto-Vega-MSFT commented on #43033
@yoscbd Thanks for the feedback! We try to reserve these issues for documentation feedback, if you would like to provide feedback for a document would you please share the URL and provide more detail on how we can make the document better. That way, we can pass your feedback to the appropriate content author.

If this issue is not related with any documentation feedback you might want to create a

[2019-11-18 18:41] tescales commented on #35491
Any updates on this documentation update, @rothja? AppGW limits appear pretty out-of-date, esp for v2.

[2019-11-18 18:52] MarileeTurscak-MSFT commented on #42916
I'm closing this out since we are continuing this discussion over email, but I will update this thread once we have the screenshots added.

[2019-11-18 18:52] #42916 closed

[2019-11-18 18:55] ggailey777 commented on #31973
@andriysavin you are essentially correct. The Blob input binding is basically getting passed the queue trigger itself, not the binding parameter. This is a special case for Blob storage that supports a key storage pattern: queue triggering of blob processing. I'll get this fixed ASAP.

[2019-11-18 18:55] yanivlavi commented on #42981
Blue area is the threshold non-alerting area. Blue dots are the non-alerting aggregated points. Red dots are the alerting anomalies. Red area is alerts that would have fired. This display changes based on consecutive settings.
@rboucher Can you help us with adding it to the docs?

[2019-11-18 19:00] gerhardcit opened #43050 "Code sample errors"
const blobServiceClient = await new BlobServiceClient.fromConnectionString(CONNECT_STR);
should be
const blobServiceClient = await BlobServiceClient.fromConnectionString(CONNECT_STR);

fromConnectionString is a static.
there are also lots of awaits where without Promises. Has this code been tested?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-18 19:02] AE-MS opened #43051 "Documentation for navigateToLoginRequestUrl option should include detail about why one would set it"
The documentation does an okay job of describing what this option does (although it really isn't clear what "default navigation to start page" means -- what's "start page?" what is "default navigation?") but it would be more helpful if it described _why_ one would set this option, not just what it does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-18 19:04] Grace-MacJones-MSFT commented on #43020
Hi @Nimleth, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-18 19:12] Adam-Smith-MSFT commented on #43050
@gerhardcit Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-18 19:13] AjayKumar-MSFT commented on #42739
@tedgoddard, Apologies for the delay! Yes. Your app can ran out of space on the Docker images drive. Deployments with newer and bigger docker images that have a little in common with previous images, would result in running out of space on the docker image folder on the instance. That’s why we recommend using Medium or Large instances in such cases, which have more space for the docker images fold

[2019-11-18 19:13] #42739 closed

[2019-11-18 19:14] Adam-Smith-MSFT commented on #43027
@mrisaac Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-18 19:15] Adam-Smith-MSFT commented on #42988
@bradschoonover Have you gotten a chance to view the previous comment ?

Thanks,
Adam

[2019-11-18 19:15] Adam-Smith-MSFT commented on #42944
@Vask006
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-18 19:15] #42944 closed

[2019-11-18 19:17] djpmsft commented on #42819
Sorry for the inconvenience, but glad this is resolved!

#please-close

[2019-11-18 19:17] #42819 closed

[2019-11-18 19:17] Adam-Smith-MSFT commented on #42941
Thanks for the feedback, Please submit your request via this portal: https://feedback.azure.com/forums/223579-azure-portal

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Thanks,
Adam

[2019-11-18 19:17] #42941 closed

[2019-11-18 19:18] Adam-Smith-MSFT commented on #42872
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-18 19:18] #42872 closed

[2019-11-18 19:19] FrankHu-MSFT commented on #43021
@Eiffelsturm Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 19:19] FrankHu-MSFT commented on #43028
@poortom1004 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 19:19] FrankHu-MSFT commented on #43034
@BakkerJan Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 19:19] FrankHu-MSFT commented on #43043
@darkhawk311 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 19:19] FrankHu-MSFT commented on #43044
@Norrch2 Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 19:22] Grace-MacJones-MSFT commented on #43036
Hi @sam-north, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-18 19:27] Alberto-Vega-MSFT commented on #43019
@Ammu-amjath Thank you for reaching out. We try to reserve these issues for documentation feedback, Are following a tutorial? Is the tutorial broken/not working for you? If that is the case can you please share the URL?
If you would like to provide feedback for a document then please share the URL and please provide more detail on how we can make the document better. That way, we can pass your fee

[2019-11-18 19:28] laurenhughes commented on #42697
@kogesaka Thanks for the feedback! The documentation has been updated to reflect that ASR is supported on Gen2 VMs.

#please-close

[2019-11-18 19:28] #42697 closed

[2019-11-18 19:28] Adam-Smith-MSFT commented on #42818
Hi there, Could you please post this question in the forums In Azure MSDN social or StackOverflow? It would have a higher visibility on forums since this is not an issue with the documentation itself.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-18 19:28] #42818 closed

[2019-11-18 19:29] kyleburnsdev commented on #42861
@mruptown, are you deploying to Linux or Windows App Service?

[2019-11-18 19:31] MHolzmannMS opened #43053 "Azure AD Connect Health - AAD Premium, or not???"
The "Azure AD Connect Health Agent Installation" (last updated 07/17/2017), states “Azure AD Connect Health is an Azure AD Premium feature and requires Azure AD Premium.” While the “What is Azure AD Connect?” article (last updated 02/25/2019), section “License requirements for using Azure AD Connect”, states “Using this feature is free and included in your Azure subscription,” which immediately fo

[2019-11-18 19:31] mhopkins-msft commented on #43050
@gerhardcit Thanks for the feedback! The code has been updated and tested. The updated topic will be published later today.

[2019-11-18 19:31] mhopkins-msft commented on #43050
#please-close

[2019-11-18 19:31] #43050 closed

[2019-11-18 19:33] tescales commented on #16481
@dkkapur any updates?

[2019-11-18 19:39] paramrsingh opened #43054 "Recommend explicit instructions for use of Storage container with sample files"
Description of using the Storage Container is accurate, but you will get "No valid blob" errors if you have sub-folders, which are created as Train and Test in the sample data by default. Recommend explicit example of how to setup files in the Storage container, screenshot would go a long way

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-18 19:48] Hasil-Sharma opened #43055 "Passing Keyword Arguments to pySpark Script"
I've a python spark script which runs as part of HDInsightSpark activity. My script takes certain keyword arguments and their values which need to be passed via ADF parameters.

Please help in figuring out how this can be done.

For instance:
My python spark script takes --tenant-id as one of the arguments which is passed to pipeline as one of the arguments.

[2019-11-18 19:51] ahmedelnably commented on #36888
@kulkarnisonia16 can you please help here

[2019-11-18 20:09] klaaslanghout commented on #42426
Hi @MikeInSwitzerland, this should be possible.  From what you describe, can you check if the index and error page is set correctly to point to the same SPA document in $web ?

[2019-11-18 20:11] codyconfer commented on #27024
I am still confused by the conflicting information. Can we at least get a reply to this thread on how to using a client factory with the new library? Or is one not needed?

[2019-11-18 20:12] tamram commented on #36825
@aloneguid - We've opted to restrict this page to Microsoft-only tools at this point, and removed all third-party tools. I am sorry that we can't feature this tool in our documentation, but providing third-party tools in the docs creates a maintenance problem for us.

[2019-11-18 20:12] tamram commented on #36825
#please-close

[2019-11-18 20:12] #36825 closed

[2019-11-18 20:13] laglergruener commented on #43030
Same question here.

[2019-11-18 20:15] bandersmsft commented on #42732
@o-l-a-v Hi Olav, according to the Cloudyn engineering team, yes, Cloudyn compliant. I’ll update the article to say so and add a link to https://docs.microsoft.com/en-us/partner-center/develop/enable-secure-app-model.
#please-close

[2019-11-18 20:15] #42732 closed

[2019-11-18 20:16] heymega commented on #27024
Check out Sean Feldmans answer here...

https://stackoverflow.com/questions/51500645/should-azure-servicebusconnection-be-singleton

Following this advice, I share the connection object as a singleton but use a transient scope for the topic and subscription client.

[2019-11-18 20:16] TVDKoni commented on #15515
Bing Visual Search API supports barcodes: https://azure.microsoft.com/en-us/services/cognitive-services/bing-visual-search/

[2019-11-18 20:17] SamaraSoucy-MSFT commented on #43041
@ezheng2019 Thank you for your question. I will investigate and get back with you shortly.

[2019-11-18 20:19] TravisCragg-MSFT commented on #41320
@AvatarRolon Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.e issue.

[2019-11-18 20:19] #41320 closed

[2019-11-18 20:19] TravisCragg-MSFT commented on #42491
@Biju-Joseph We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-18 20:19] #42491 closed

[2019-11-18 20:20] TravisCragg-MSFT commented on #42760
@geoano We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-18 20:20] #42760 closed

[2019-11-18 20:21] MikeInSwitzerland commented on #42426
Yup, both point at index.html  (which does exist).

On Mon, Nov 18, 2019 at 9:09 PM Klaas <notifications@github.com> wrote:

[2019-11-18 20:27] SamaraSoucy-MSFT commented on #43041
The package is out of beta as you can see on the Nuget Gallery page for it: https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService

I'm assigning this to the doc author to handle appropriately.

[2019-11-18 20:32] FrankHu-MSFT commented on #43053
@MHolzmannMS Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 20:39] YutongTie-MSFT commented on #43048
@lgaud
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@rastala
Hi Roope, could you please help check this concern of customer? Thanks a lot.

[2019-11-18 20:40] lukepuplett opened #43056 "Focus"
My scenario: Developer of 20 years adding "Login with Microsoft" to my ASP.NET Core website. I have experience in OAuth since 2011. I have a patent in web app authorization.

For Google login, I searched via Google and discovered a one page document telling me how to register my app, I obtained an application ID and a client ID and set my redirect URLs, I added the settings to my appsettings.json

[2019-11-18 20:40] wmengmsft commented on #42990
Hi @sujayvsarma , can you please elaborate which part of the documentation does not match?

[2019-11-18 20:40] wuerzelchen opened #43057 "--upn-or-object-id has been deprecated, use --id instead"
Within the command snippet: "az ad user show --upn-or-object-id user@contoso.com --query objectId -o tsv" it tells you that the parameter "--upn-or-object-id" is deprecated.

➜ az --version
azure-cli                         2.0.75 *
➜
command-modules-nspkg              2.0.3
core                              2.0.75 *
nspkg                              3.0.4
telemetry                          1.0.4

[2019-11-18 20:44] YutongTie-MSFT commented on #43054
@paramrsingh
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PatrickFarley
Hi Patrick, could you please check this document feedback and update the document if necessary? Thanks a lot.

[2019-11-18 20:45] normesta commented on #39869
Hi @mackrorysd - sorry for the confusion. We've updated the text to be a bit clearer.  I think the bullets in the doc were structured in a very disconnected way. That's been fixed. The main idea here is that you can't use one API to create / write a file, and then use the other to append to that file (For example: a log file). That said, if you use one API (For example: Gen2 REST API to create a f

[2019-11-18 20:50] SaurabhSharma-MSFT commented on #43032
@adzamri Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 20:52] Hasil-Sharma opened #43058 "Passing Keyword Arguments to pySpark Script"
I've a pyspark script which takes in certain keyword arguments such as --tenant-id, --app-id etc. Value of these arguments is passed on as parameters to my ADF pipeline. I'm trying pass on those values to my script and unable to do so.

Could you please help in understanding this can be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-11-18 20:52] ozhug commented on #42773
Yes I did this, and move on it was more of a letting you know so these code be added to the doco

thanks

Mark McAdam | Data Engineer
M +61 421 102 459<tel:+61%20421%20102%20459>

[Blackmores Group]<https://blackmoresgroup.com.au/>
From: ChiragMishra-MSFT <notifications@github.com>
Sent: Friday, 15 November 2019 5:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark McAdam <

[2019-11-18 20:53] svangeti opened #43059 "Is there a similar example in python for "Using the Microsoft.Azure.Services.AppAuthentication library for .NET""
Is there similar example for python as in .net

 without any secrets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities overview - Azure App Service](https://docs.microsoft.com/en-us/azure/app

[2019-11-18 20:53] MarileeTurscak-MSFT commented on #43056
@lukepuplett
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-18 20:54] normesta commented on #37690
Closing issue as multi-protocol access is now in GA. There is no sign-up form.

[2019-11-18 20:54] normesta commented on #37690
#please-close

[2019-11-18 20:54] #37690 closed

[2019-11-18 20:56] jmprieur commented on #43056
@MarileeTurscak-MSFT : I think that this one should be assigned to @TylerMSFT or @rwike77

[2019-11-18 21:04] Hasil-Sharma commented on #43055
#close

[2019-11-18 21:04] #43055 closed

[2019-11-18 21:06] paulbouwer commented on #42897
@stewartadam - thanks for picking up the error. **Are you up for submitting a PR?** The following file will have to be updated:
- articles\aks\includes\servicemesh\linkerd\install-client-binary-macos.md

[2019-11-18 21:13] SaurabhSharma-MSFT commented on #42825
@mghafoori I do not see any issue with your request but have you tried "Content-type": "application/x-www-form-urlencoded; charset=UTF-8" to check if it works.  Also, try to check if this works using Postman or fiddler.

[2019-11-18 21:14] MarileeTurscak-MSFT commented on #42979
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/96313

[2019-11-18 21:14] #42979 closed

[2019-11-18 21:14] stdistef opened #43060 "IPv6 in VNETs are now supported"
Update the FAQ in 2 places I saw quickly.
1) Do VNets support IPv6?
2) The size of a Subnet for IPv6 will be /64 (no smaller as far as I have seen)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-ae6d2b19f130
* Content: [Azure Virtual

[2019-11-18 21:20] SaurabhSharma-MSFT commented on #42554
@artisticcheese Based on my internal conversation with the product there seems to be a very small set of recommendations are not available in Workflow Automation, including the one you have mentioned here.
However, there is a plan to have complete and future-proof parity with all recommendations in ASC in future release but we do not have any exact ETA on the same.

[2019-11-18 21:22] SaurabhSharma-MSFT commented on #42946
@gaikovoi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-18 21:22] #42946 closed

[2019-11-18 21:23] MarileeTurscak-MSFT commented on #42616
@joaopmartinezn can you screenshot the part of the article you are referring to?

[2019-11-18 21:23] ekpgh opened #43061 "TOC title and article title are very different"
The article title is "Disaster recovery guidance..." but the title in the left sidebar table of contents is "Plan for high availability." The TOC should say something about disaster recovery, right? Maybe the focus of the article changed and the TOC was not updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 343e2c

[2019-11-18 21:24] MashaMSFT commented on #42901
Hi @TomaszOledzki , thank you for your feedback and contacting Microsoft! I have created an internal work item ([1648251](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1648251)) to track this work. We will proceed to close out this Git Issue for the time being, but please feel free to comment should you need anything further from our end.

Thanks and hope you have a wonderful res

[2019-11-18 21:24] #42901 closed

[2019-11-18 21:25] sarah026 opened #43062 "AAD Authentication"
Can you please update this page with the EventGrid AD authentication, what is "AAD Application ID or URI", do I need to create an app ID for the eventGrid to request tokens? How do I allow the eventGrid then to have the permissions to make that call to the AD app identity?

"AAD Authentication
By default Event Grid uses HTTPS query string parameters for WebHook authentication. If AAD authenticatio

[2019-11-18 21:26] zjalexander commented on #42936
@SaurabhSharma-MSFT This does not appear to be related to Azure Automation specifically.

[2019-11-18 21:27] MarileeTurscak-MSFT commented on #42804
Thanks! I made a pull request to update the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/96318

[2019-11-18 21:27] #42804 closed

[2019-11-18 21:32] mruptown commented on #42861
Hi Kyle,

Whatever the default is, as I'm not specifying it in my CLI command.
Ultimately, I think you're going to run into a heckuva lot of challenges
with this page, because you're asking the reader to generate the app
natively (thus exposing you to a myriad of local configuration issues),
then upload it manually.  For example, I'm generating the app on MacOS
locally, which I doubt has any suppo

[2019-11-18 21:34] gaikovoi commented on #42946
@saurabhsensharma Ok. I've got the information I needed.

[2019-11-18 21:38] lucidqdreams opened #43063 "Getting an error "URI must contain a hostname." from the DSC.log file"
The VM shows up in Azure in the Resource group, the installation log show installation succeeded.  Looking in the DSC.log seems to be getting this error on repeat.

[2019-11-18 13:33:39.530] [PID 6788] [TID 2952] [Pull Client] [ERROR] [a51d2c62-2013-483d-929d-2c90114050a0] [c:\git\desiredstateconfiguration\src\dsc\dsc_pullclient\dsc_pull_client.cpp:231] Failed to update assignments Error : URI mus

[2019-11-18 21:43] lucidqdreams commented on #43063
Here is the full log the is happening on repeat every 5 minutes

[2019-11-18 13:28:37.918] [PID 6788] [TID 2952] [TIMER] [INFO] [120e26c9-296d-4220-94bd-1b1f6a42a969] [Update] next trigger for 'dsc_refresh_timer' to run in 5 min.
[2019-11-18 13:29:26.493] [PID 6788] [TID 9288] [TIMER] [INFO] [28778f92-c51c-4adb-9892-bab277a566cd] [Start] timer trigger for 'Worker_Status'
[2019-11-18 13:29:26.494]

[2019-11-18 21:46] SaurabhSharma-MSFT commented on #42829
@JustenCs Please post this as a feedback https://feedback.azure.com/forums/169401-azure-active-directory. This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2019-11-18 21:47] MonikaReddy-MSFT commented on #42913
@vit-svoboda, We have updated the document and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-18 21:47] #42913 closed

[2019-11-18 21:49] BharathNimmala-MSFT commented on #41479
@JimBlizzard Apologies for the delay for getting onto this issue, looking into it . Will update the thread at the earliest.

[2019-11-18 21:49] Countryen commented on #22673
Hey, not wanting to reopen, but added a uservoice as I didn't find any concerning this issue:
https://feedback.azure.com/forums/223579-azure-portal/suggestions/39062950-change-azure-shortcuts-for-german-keyboards

[2019-11-18 21:49] stewartadam commented on #42897
Done :) #43064

[2019-11-18 21:49] stdistef opened #43065 "Are there more regions?"
I thought we had 54 Regions.  Is this only a subset?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-us/azure/networking/azure-network

[2019-11-18 21:52] MonikaReddy-MSFT commented on #43059
@svangeti , Thanks for reaching out to us. We will investigate it further and update you shortly.

[2019-11-18 21:53] MarileeTurscak-MSFT commented on #41533
I reached out to product team members to ask about this but still have not heard back. I'll confirm with you as soon as I have an answer.

[2019-11-18 21:55] banisadr commented on #43062
Sorry about that, slight miss-timing on the doc publish. Updated documentation with Azure AD information will go live in ~1 hour.

[2019-11-18 21:58] laurenhughes commented on #41552
@mkiernan Thanks for pointing this out! The doc has been updated and will be published within the next few hours.

#please-close

[2019-11-18 21:58] #41552 closed

[2019-11-18 22:01] yashesvi commented on #42984
@bandersmsft can you please update with new services?

[2019-11-18 22:04] kevinrosal opened #43066 "Will this also work for VM Scale Sets?"
i see that the vm scale set is being targeted but it fails when the automation occurs.

et-AutomationConnection : Connections asset not found. To create this Connections asset, navigate to the Assets blade and create a Connections asset named: AzureClassicRunAsConnection.At line:183 char:27+ ...     $connection = Get-AutomationConnection -Name $connectionAssetName+                       ~~~~~~~~~~

[2019-11-18 22:06] Karishma-Tiwari-MSFT commented on #42977
@microsoftdocs/aks-pm Can either of you please share your insights on this? Thanks :)

[2019-11-18 22:10] YoDaMa opened #43067 "No deployment ID in the integrated terminal."
There is a line in the documnetation for Debugging a module with the Io Edge runtime:

     You'll see the deployment successfully created with a deployment ID in the integrated terminal.

I didn't see any Deployment ID upon generation. Just the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86

[2019-11-18 22:17] Karishma-Tiwari-MSFT commented on #43057
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-18 22:22] danielstocker commented on #36458
Hi @ggailey777
Yes I think that'd be a good solution

[2019-11-18 22:30] benc-uk opened #43069 "aka.ms link isn't pointing anywhere"
The link https://aka.ms/armwhatifissues doesn't go anywhere, it just leads to microsoft.com
See https://docs.microsoft.com/en-us/azure/azure-resource-manager/template-deploy-what-if#next-steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0944bfc2-8ecb-ce0f-765a-d1ab66302480
* Version Independent ID: 4e1db8ad-3495-b1b

[2019-11-18 22:30] mike-urnun-msft commented on #43026
@kspoojary Thank you for your feedback! We will review and update as appropriate.

[2019-11-18 22:32] mike-urnun-msft commented on #43049
@zateckar Thank you for your feedback! We will review and update as appropriate.

[2019-11-18 22:37] crgarcia12 commented on #29762
There is a trick to do it:
You can use the Azure Resource API to get the connection string using MSI.
Example:
[code]

[2019-11-18 22:46] mhopkins-msft commented on #41845
@lynseyp I've added clarification to the article. It should be published later today. Thanks for your feedback!
#please-close

[2019-11-18 22:46] #41845 closed

[2019-11-18 22:46] philmea commented on #42841
@becz Hi, the hostname is discoverable in the Azure Portal, on the service details blade. Is there a specific scenario that would involve determining the IoT Hub address through reverse lookup?

[2019-11-18 22:50] cijothomas opened #43070 "Asp.net core 3.0"
The following statement is outdated as 3.0 support is rolled out.
ASP.NET Core 3.0 applications are not supported. Please follow Manual instrumentation via code for ASP.NET Core 3.0 apps.

https://github.com/microsoft/ApplicationInsights-Home/blob/master/app-insights-web-app-extensions-releasenotes.md#2823

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-11-18 22:52] MicrosoftGuyJFlo commented on #43034
Yes security defaults will trigger a 14 day grace period for registration after a user's first login and security defaults being enabled. After 14 days users will be required to register for MFA and will not be able to skip.

Conditional Access by itself without Azure Identity Protection does not allow for the 14 day grace period. Identity Protection includes the registration policy that allows re

[2019-11-18 22:54] MicrosoftGuyJFlo commented on #43010
Today this is an organization wide setting. Supported methods can be enabled for SSPR, MFA, or both. The product team is looking into supporting this in the future but no dates to share at this point.

[2019-11-18 22:54] MicrosoftGuyJFlo commented on #43010
#please-close

[2019-11-18 22:54] #43010 closed

[2019-11-18 23:00] palma21 commented on #42977
That is correct, that is outdated from when that role did not exist cc @mlearned @zr-msft for doc updates.

CC @andyzhangx

[2019-11-18 23:01] Alberto-Vega-MSFT commented on #43067
@YoDaMa Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-18 23:02] jamesalroy opened #43071 "broken link"
link at bottom on page , links to this page
-  Create an application gateway with an internal load balancer (ILB)
-  https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ilb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d68f16fb-a6ab-7303-1af6-8278ecd15026
* Version Independent ID: 0136ab8d-3

[2019-11-18 23:03] chino0913 opened #43072 "Please add Login error code 90135"
The Login error Code 90135 is not documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-mo

[2019-11-18 23:05] chino0913 opened #43073 "Please add Login error code 50199"
The Login error Code 50199 is not documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-mo

[2019-11-18 23:06] #42497 closed

[2019-11-18 23:06] dcbrown16 commented on #29625
Thanks, created PR to add info to the doc.

[2019-11-18 23:06] #29625 closed

[2019-11-18 23:07] Alberto-Vega-MSFT commented on #42497
Closing this issue since we never heard back from you. If you still need help please follow the instructions on my previous comment.

[2019-11-18 23:09] RA-Work-A opened #43075 "List the blobs in a container V12"
I'm going through the walk through on Azure Blob Storage V12.

The section Labeled List the blobs in a container has the following snippet of code:

`Console.WriteLine("Listing blobs...");

// List all blobs in the container
await foreach (BlobItem blobItem in containerClient.GetBlobsAsync())
{
    Console.WriteLine("\t" + blobItem.Name);
}`

The containerClient.GetBlobsAsync() doesn't appear to e

[2019-11-18 23:09] RA-Work-A commented on #43075
Source Material:

https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet?source=docs

[2019-11-18 23:14] Alberto-Vega-MSFT commented on #42795
https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/907

[2019-11-18 23:15] #42795 closed

[2019-11-18 23:18] Mike-Ubezzi-MSFT commented on #42823
@simon-michaud I am not seeing Threat Detection events as part of the available doagnostics logging that is captured: [Supported diagnostic logging for Azure SQL databases, and instance databases](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-metrics-diag-logging#supported-diagnostic-logging-for-azure-sql-databases-and-instance-databases)
Let me investigate a bit further to iden

[2019-11-18 23:19] aaronjedwards opened #43076 "Application Scopes Question"
I have a simple question that the documentation doesn't _quite_ answer.

Is an access token, returned as part of the [Authorization Code Flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow), valid for multiple resources, given those resources have been specified as scopes?

**For example:**
I have two Web APIs hosted on Azure, with corresponding App ID UR

[2019-11-18 23:20] Mike-Ubezzi-MSFT commented on #42823
@rmatchoro Can you provide any additional input?

[2019-11-18 23:21] osaier commented on #43004
Hi, thanks for the prompt response.
It's a Salesforce sandbox, and an Azure trial account.
The user has API access and "manage users" permissions (I thought I'd stick to the least privilege principle, but I'll test account with a System Administrator profile if you suggest so).

[2019-11-18 23:23] aaronjedwards opened #43077 "Question: Is an Access Token valid for multiple resources?"
I have a simple question that the documentation doesn't _quite_ answer.

Is an access token, returned as part of the [Authorization Code Flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow), valid for multiple resources, given those resources have been specified as scopes?

**For example:**
I have two Web APIs hosted on Azure, with corresponding App ID UR

[2019-11-18 23:24] aaronjedwards commented on #43076
Resubmitted with better context and under the right document in this issue:  https://github.com/MicrosoftDocs/azure-docs/issues/43077

[2019-11-18 23:24] #43076 closed

[2019-11-18 23:29] dialedin2014 commented on #42478
The new change looks great!

[2019-11-18 23:30] mvhbharath opened #43078 "UpsertItem causes PartitionKey extracted from document doesn't match the one specified in the header"
Hi Team,

I have a container in cosmos db with /id as partition key.  I am trying to update that item using UpsertItem by providing these options but this below error is thrown.  Can you please help me as I have spent so many hours trying to resolve this issue.

I have these options set in my code.
options = {'enableCrossPartitionQuery': True, 'partitionKey': pik.get_ptag() }

self.client.UpsertIt

[2019-11-18 23:41] kamranbashir opened #43080 "Configurable Token Lifetime policy is not working"
**Purpose is setup an inactive user's session timeout after 15 mins of inactivity.
We have two web apps running on local IIS (it should/must behave same in ms azure cloud)**

**No.1** MVC web application (here we need inactive user's timeout to be happen after 15 mins)
**No.2** MVC rest api

What we have to do create a new policy and assign to a Service principal object.

Use below mentioned steps

[2019-11-18 23:47] mhopkins-msft commented on #41972
@wkeithvan I have added version information to the article. Thank you again for your feedback. It should be published soon.
#please-close

[2019-11-18 23:47] #41972 closed

[2019-11-18 23:50] TravisCragg-MSFT commented on #43030
@franzoir Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-11-18 23:56] A100K opened #43081 "Sample template failing"
Deploy on Premium plan template is wrong. Error:
 { "Code": "Conflict", "Message": "The pricing tier 'EP1' is not allowed in this resource group. Use this link to learn more: http://go.microsoft.com/fwlink/?LinkId=825764", "Target": null, "Details": [ { "Message": "The pricing tier 'EP1' is not allowed in this resource group. Use this link to learn more: http://go.microsoft.com/fwlink/?LinkId=8257

[2019-11-18 23:58] sladeedmonds commented on #42936
Correct, it isn't an issue with Azure Automation; rather, it is an issue with Role Based Access Control.  Specifically, Built-In Roles.

[2019-11-18 23:59] whihathac commented on #41421
I see the exact problem on my machine -
![image](https://user-images.githubusercontent.com/7718462/69104178-5afb4480-0a1c-11ea-96d1-aa5e7e673c27.png)

[2019-11-18 23:59] A100K commented on #43081
Perhaps switch to :
"apiVersion": "2018-11-01",
        "name": "[parameters('hostingPlanName')]",
        "type": "Microsoft.Web/serverfarms",
        "location": "[parameters('location')]",
        "kind": "",
        "tags": {},
        "dependsOn": [],
        "properties": {
            "name": "[parameters('hostingPlanName')]",
            "workerSize": "[parameters('workerSize')]",

[2019-11-18 23:59] A100K commented on #43081
,
        "sku": {
            "Tier": "[parameters('sku')]",
            "Name": "[parameters('skuCode')]"
        }

[2019-11-19 00:00] TravisCragg-MSFT commented on #43046
@cshea15 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-19 00:01] Sahatcs opened #43082 "header of Dataframe"
how to make the first row of a BLOB file as header while creating data frame ? Can you please add that to this page ? It would be immensely helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d39e17-424d-1db6-f600-15f272bf3a7c
* Version Independent ID: 653ad346-6d87-d5fd-43dd-1498d218f145
* Content: [Azure Blob St

[2019-11-19 00:02] TravisCragg-MSFT commented on #43060
@stdistef Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-19 00:05] TravisCragg-MSFT commented on #43039
@migrande Thanks for the feedback! I have fixed the command, and the doc should reflect the changes within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-19 00:05] #43039 closed

[2019-11-19 00:17] DarrinEide commented on #41916
@timwoelfle, this issue has been resolved. Apologies for the delay!

[2019-11-19 00:21] TravisCragg-MSFT commented on #43065
@stdistef This doc only lists 37 regions, here are the regions that are not listed:

Australia Central 2 (same city as Australia Central)
Norway West (announced)
Norway East (announced)

Germany Central (same city as Germany West Central)
Germany Northeast

China - 4 regions

US DoD & US Gov - 6 regions

Please let me know if you have any additional questions.

[2019-11-19 00:35] Alberto-Vega-MSFT commented on #43055
@Hasil-Sharma It looks like you resolved your issue. Thanks for reaching out!

[2019-11-19 00:37] a30003939 commented on #26111
@venerablebed

You have to:

1. Change the password for the VM scale set and then re-imagine the VM
2. Add "log()" messages and re-deploy your custom devices
3. SSH into the VM, become root
4. Go to the "/app" directory
5. Re-define the log-level (PCS_LOG_LEVEL)
6. Re-start the service (start.sh)
7. You can monitor the logs via docker (docker-compose logs -f)
8. You will see logs in the following

[2019-11-19 00:39] a30003939 commented on #26111
https://github.com/Azure/device-simulation-dotnet/wiki/Simulation-Service-Developer-Reference-Guide was updated a few days ago with better instructions

[2019-11-19 00:42] mvhbharath commented on #43078
Issue Resolved.  My object had different field than what I was trying to update in dictionary. for example,
My container had "id" as the partition key.  But my dictionary was having it as "myid", hence it could not match.  Once I fixed it, the upsert worked fine.
def __init__(self, pid):
        self.myid = pid
        self.pw_ks = None

[2019-11-19 00:42] #43078 closed

[2019-11-19 00:43] femsulu commented on #43018
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-19 00:43] TravisCragg-MSFT commented on #43071
Fixed via #96360
@jamesalroy Thanks for the feedback! I have removed the redundant link, and the doc should reflect the changes within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-19 00:43] #43071 closed

[2019-11-19 00:45] femsulu commented on #43023
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-19 00:46] femsulu commented on #43045
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-19 00:49] femsulu commented on #43066
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-19 00:49] mghafoori commented on #42825
I tried all above with no luck.

[2019-11-19 00:49] #42825 closed

[2019-11-19 00:50] GiftA-MSFT commented on #42989
@kishan19 please refer to the following [document](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens) on how to request access token. Thanks.

[2019-11-19 00:51] mghafoori commented on #42825
We abandoned this method completely.

[2019-11-19 00:52] femsulu commented on #43069
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-19 00:55] GiftA-MSFT commented on #42545
@kishan19 response provided - https://github.com/MicrosoftDocs/azure-docs/issues/42989

[2019-11-19 01:00] FrankHu-MSFT commented on #43028
Hey @poortom1004  thanks for this information, we're going to go ahead and make this change, please let us know if you have anymore concerns in regards to this.

If there's no more concerns in regards to this issue, I will be closing this out by end of day tomorrow.

[2019-11-19 01:02] vanthoainguyen opened #43088 "Read operations are not visible in Read regions"
Hi, I followed this instruction but the reads seem to happen at the Write region
What i did:

- Add `&readPreference=secondaryPreferred&maxStalenessSeconds=60` to the `ReadOnly` connection string.
- In .NET code, here is how i get the collection:

[code]

But the cosmos metric dashboard seem to not show anything in Read region
![Nothing-in-read-region](https://i.imgur.com/05nujlL.png)

---
#### Do

[2019-11-19 01:08] bdschaap commented on #42981
Thanks that helps but in some cases I don't see the red area or the red dots.  In those cases I only see a blue line within a light blue area.  For instance, I have one where the light blue area is 0 on the low end and 9 at the high end.  The blue line is a fairly consistent value of 5.  The Threshold value that's listed below the chart is 0.4.  How should I interpret this chart?  Thanks!

[2019-11-19 01:08] FrankHu-MSFT commented on #43021
Hey @Eiffelsturm the role Auth Admin and Privelged auth admin can be used to modify the auth method policies : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#authentication-administrator-permissions

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#privileged-authentication-administrator

[2019-11-19 01:11] FrankHu-MSFT commented on #43051
@AE-MS Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-19 01:14] FrankHu-MSFT commented on #43051
Hey @AE-MS  in the doc it says :

- **navigateToLoginRequestUrl**: Optional. Ability to turn off default navigation to start page after login. Default is true. This is used only for redirect flows.
--

It's a boolean property that is used to determine if the navigate to login request uri should occur or not.

I think the why scenario would require covering far too many bases, and knowing what it d

[2019-11-19 01:15] Alberto-Vega-MSFT commented on #43080
@kamranbashir I'm sorry to hear that you are facing this issue. Would you please share the link to the document that you are following?
If this is not documentation feedback would you please create a question on the developer forums like StackOverflow and MSDN. Unlike here there is a developer community plus the engineering team that can help you.

[2019-11-19 01:17] TravisCragg-MSFT commented on #43012
@faisch Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-19 01:17] Alberto-Vega-MSFT commented on #43078
@mvhbharath I'm glad to hear that you resolved the issue.

[2019-11-19 01:21] jeevansd commented on #42976
@ksymes Azure AD creates a unique X509 certificate for the apps added from gallery. That means each instance of the app in customer tenant will have unique Federation Metadata XML file. So we can provide the steps in the doc to copy that and download the XML file and then upload in the application.

[2019-11-19 01:22] jeevansd commented on #42976
@chetansriv for tracking.
@v-viinde and @v-nagta Please review this change.

[2019-11-19 01:24] jeevansd commented on #42616
@v-viinde and @v-nagta Can you please update the doc? I agree that the flow is changed and we should update this in the doc.
@chetansriv for tracking.

[2019-11-19 01:25] TravisCragg-MSFT commented on #33632
@Jamico If your "AzureBastionSubnet" subnet has an NSG attached to it, you will need to [add an inbound rule](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic#create-security-rules) that allows port 443 using TCP from the service tag "internet"

[2019-11-19 01:28] TravisCragg-MSFT commented on #42920
@datafisk If you would like us to support this in the future, please [vote for & add any additional feedback Here](https://feedback.azure.com/forums/217313-networking/suggestions/35798188-support-global-vnet-peering-with-azure-virtual-wan).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discu

[2019-11-19 01:28] #42920 closed

[2019-11-19 01:30] Grace-MacJones-MSFT commented on #43029
Hi @buildbod, was there an issue with the table names in the docs? Trying to understand your comment. Thanks!

[2019-11-19 01:32] Jamico commented on #33632
I have no SNG attached

[2019-11-19 01:35] TravisCragg-MSFT commented on #33632
@Jamico Then port 443 is not blocked from reaching your Azure Bastion. If you are receiving the "connection closed because the target machine is taking too long to respond" error, then you should check the connectivity between your Azure Bastion and your VM.

If additional troubleshooting is needed, your best bet for assistance is via [Azure Networking's MSDN Forums](https://social.msdn.microsoft.

[2019-11-19 01:35] Grace-MacJones-MSFT commented on #42660
Hi @danobri,  are you still seeing this error? are you able to open a support ticket?  If no, you can email me at AzCommunity@microsoft.com and provide me with your SubscriptionID, and link to this thread. I can enable your subscription to be able to create one.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gla

[2019-11-19 01:35] #42660 closed

[2019-11-19 01:36] c0g1t8 opened #43089 "Create New Database Server Dialog has changed"
_Allow Azure services to access server_ option no longer appears.

![image](https://user-images.githubusercontent.com/23250332/69108397-5f7a2a00-0a29-11ea-9598-4d2727d56ac3.png)

That must be done in the **Networking** tab.

![image](https://user-images.githubusercontent.com/23250332/69108556-e0d1bc80-0a29-11ea-80d4-d425e9142d54.png)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-11-19 01:48] c0g1t8 commented on #43089
One more thing - _Add current client IP address_ needs to be set to _Yes_ or the user will be unable to complete **Query the database**.

[2019-11-19 01:59] mamccrea commented on #42938
@soham-bigdata - Thank you for this feedback. This is a known issue, and I am currently working on a fix.

[2019-11-19 02:14] NavtejSaini-MSFT commented on #43089
@c0g1t8 We are checking this and will get back to you.

[2019-11-19 02:15] Grace-MacJones-MSFT commented on #42856
@buildbod Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2019-11-19 02:15] #42856 closed

[2019-11-19 02:20] SumanthMarigowda-MSFT commented on #43075
@RA-Work-A Thanks for your question. We are checking on this and will respond to you soon.

[2019-11-19 02:26] mike-urnun-msft commented on #43081
@A100K Thank you for your feedback! We will review and update as appropriate.

[2019-11-19 02:29] KrishnaG-MSFT commented on #42943
@mvhbharath May i know the reason for re-opening this issue ?
If you have any feedback on any Azure documentation then please raise an issue in this azure-docs GitHub repo by mentioning the link / URL of the Azure documentation so that we can assist you better.

[2019-11-19 02:52] junsaw commented on #35411
Specify your cabernets secret name in the yaml configuration:

e.g:
apiVersion: v1
kind: Pod
metadata:
  name: private-reg
spec:
  containers:
  - name: private-reg-container
    image: <your-private-image>
  imagePullSecrets:
  - name: regcred

See reference URL:

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

[2019-11-19 02:54] junsaw commented on #35411
/\
                                                  |
Specify you container secret ---

[2019-11-19 03:01] femsulu commented on #42599
@qianw211  - any insights please?

[2019-11-19 03:23] femsulu commented on #42673
Thanks for your input, Vinyar. As this channel is reserved for documentation bugs, can you review and upvote the [existing feedback](https://feedback.azure.com/forums/216843-virtual-machines?query=error) on this topic? If these suggestions dont clearly articulate your recommendations then please feel free to [create a new suggestion ](https://feedback.azure.com/forums/216843-virtual-machines)direc

[2019-11-19 03:23] femsulu commented on #42673
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-19 03:23] #42673 closed

[2019-11-19 03:45] femsulu commented on #42677
@qianw211  - any insights please.?

[2019-11-19 03:50] edburns commented on #42896
It is in the first post:

Consider
https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/azure-applications/cpp-skus-tab

[2019-11-19 03:59] allenwux opened #43091 "is this bug fixed?"
To specify the max number of nodes to use, you would normally set node_count to the number of nodes. There is currently (04/04/2019) a bug that prevents this from working. As a workaround, use the amlcompute._cluster_max_node_count property of the run configuration. For example, run_config.amlcompute._cluster_max_node_count = 5.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-11-19 04:14] souravmishra-msft commented on #42880
@jdelforno, I believe the answer is no to this, but to get a clarity I am working with my backend to get a definitive answer on this.
Please allow me sometime and I will get back to you on this.

[2019-11-19 04:25] mamccrea commented on #42755
Thanks for the feedback, @mjdmst. I am updating the doc.

[2019-11-19 04:31] RohitMungi-MSFT commented on #43091
@allenwux Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-11-19 04:32] Ammu-amjath commented on #43019
Hi,

Thanks for your quick response, below is the reference link on which I am working on.

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/data-share/subscribe-to-data-share.md

Just look for the second pointer on pre-requisites.

Thanks in advance!

Cheers,
Amjath.

[2019-11-19 04:43] SnehaAgrawal-MSFT commented on #42878
@a9fagu & @gorgi Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-19 04:44] msrini-MSFT commented on #43013
@franzoir , It is supported in any SKU except Basic SKU.

[2019-11-19 04:52] CHEEKATLAPRADEEP-MSFT commented on #43061
@ekpgh  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-19 04:55] CHEEKATLAPRADEEP-MSFT commented on #42980
@davidiseminger Could you please look into this issue?

[2019-11-19 04:56] AjayKumar-MSFT commented on #43063
@lucidqdreams, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-19 04:58] AjayKumar-MSFT commented on #43070
@cijothomas, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-19 05:00] AjayKumar-MSFT commented on #43072
@chino0913, Thanks for the good feedback! We are taking a look into this and will get back to you soon.

[2019-11-19 05:03] AjayKumar-MSFT commented on #43073
@chino0913, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-19 05:04] markjbrown commented on #42850
Not sure about this monitor API. There is no way to get all throughput for a subscription or a Cosmos account. Throughput in Cosmos is set at the database and/or container level for those resources.

The documented way to get throughput for a container via REST API is here.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stabl

[2019-11-19 05:04] #42850 closed

[2019-11-19 05:05] AjayKumar-MSFT commented on #43077
@aaronjedwards, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-19 05:13] pvrk commented on #42961
#please-close

[2019-11-19 05:13] #42961 closed

[2019-11-19 05:14] pvrk commented on #42547
Thanks for your response @ctimon.
#please-close

[2019-11-19 05:14] #42547 closed

[2019-11-19 05:15] AjayKumar-MSFT commented on #43076
Aaron, thanks for leveraging the Azure docs feedback channel and updating the question for better context and for referencing the duplicate issue here. It really helps us help you better. Much appreciated.
Just as a side note, in future you can feel free to update ("Edit") the original question (GitHub/doc issue) with more context than creating a duplicate issue.

![image](https://user-images.gith

[2019-11-19 05:17] AjayKumar-MSFT commented on #43088
@vanthoainguyen, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-19 05:20] CHEEKATLAPRADEEP-MSFT commented on #43058
@Hasil-Sharma Could you please check out similar Github issue: [https://github.com/MicrosoftDocs/azure-docs/issues/8346](https://github.com/MicrosoftDocs/azure-docs/issues/8346).

Hope this helps.

[2019-11-19 05:25] PramodValavala-MSFT commented on #42845
@vavane-ms Yes. Also, as the note in the doc mentions

For a graceful shutdown, you could implement something similar to this [timeout sample](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-timers#usage-for-timeout) coupled with [external events](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-external-events).

[2019-11-19 05:29] #42845 closed

[2019-11-19 05:40] CHEEKATLAPRADEEP-MSFT commented on #43082
@Sahatcs You can make the first row of the BLOB file as header while creating data frame as follows:

**Without header:**

![image](https://user-images.githubusercontent.com/44426401/69119509-d8769180-0abc-11ea-877f-dda9de261e49.png)

**With header:**

![image](https://user-images.githubusercontent.com/44426401/69119536-f80dba00-0abc-11ea-86e6-cfb609112ac4.png)

Hope this helps.

[2019-11-19 05:50] jakaruna-MSFT commented on #42602
Changes are reflecting now. I am closing the issue now

[2019-11-19 05:50] #42602 closed

[2019-11-19 05:56] jakaruna-MSFT commented on #42612
@danielsollondon Please update the customer and then update the doc if needed.

[2019-11-19 06:07] stdistef commented on #43065
Thank you.
________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, November 18, 2019 7:21:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steve DiStefano <stdistef@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Are there more regions? (#43065)

@stdistef<https://nam06.safelinks.protection.

[2019-11-19 06:11] CHEEKATLAPRADEEP-MSFT commented on #43019
@Ammu-amjath This is expected error message "Pay load can't be empty" because you are missing to add **Response Body** while running the REST API to create invitations .

You need to add "**Response Body**" and then run the REST API.

![image](https://user-images.githubusercontent.com/44426401/69120974-0958c580-0ac1-11ea-8715-ec9c0daac77c.png)

**Output:**

![image](https://user-images.githubuserc

[2019-11-19 06:16] josem0287 commented on #42685
You can get around it by adding:

is_windows_image    = "true"

Inside the module mycompute { }

[2019-11-19 06:18] Merurino opened #43092 "Error retrieving data in the dashboard but working fine in the Analytics Blade."
So, I have a bunch of messages that will give me the Time spent on service bus.

Example, I log a trace like this: `SBTime 1031.6208` (this is in milliseconds).

And then I'm running this query:

[code]

In the analytics blade all works good, then if I add it to a dashboard, in the dashboard it will show "Error retrieving data", if I click in the Analytics Blade button it will open and show the in

[2019-11-19 06:20] BhargaviAnnadevara-MSFT commented on #43070
@cijothomas Thanks for the feedback. I've raised a PR with this change in the doc that's awaiting review.

@mrbullwinkle FYI.

[2019-11-19 06:24] ManojReddy-MSFT commented on #43004
@osaier I am afraid sandbox environments do not support Automatic Provisioning. This is documented in the doc
"If you are using a Salesforce.com trial account, then you will be unable to configure automated user provisioning. Trial accounts do not have the necessary API access enabled until they are purchased. You can get around this limitation by using a free developer account to complete this tu

[2019-11-19 06:28] soumya6541 commented on #43011
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#if-the-extensions-associated-with-an-existing-virtual-machine-scale-set-are-updated-are-existing-vms-affected
Though I upgraded each instance manually the extension changes are not picked by existing instances in vmss.
However reimage of instance is worked! I hope it need to be added in the docs too.

[2019-11-19 06:29] soumya6541 commented on #43011
Upgrading is not working in my case. Reimaging of instance got worked.

[2019-11-19 06:31] soumya6541 commented on #43011
Can I use reimaging of instances in production environment?

[2019-11-19 06:34] feroz-ahmmed commented on #42706
@DixitArora-MSFT Just following up again in case missed the previous communication.

[2019-11-19 06:37] DixitArora-MSFT commented on #42706
@feroz-ahmmed This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-11-19 06:39] MSSedusch commented on #41647
@rdeltcheva can you please have a look?

[2019-11-19 06:45] SnehaAgrawal-MSFT commented on #35357
@yunjchoi Thanks, We will now close this out.

[2019-11-19 06:45] #35357 closed

[2019-11-19 07:02] MSSedusch commented on #42313
adding @rdeltcheva
I would not recommend using burstable VMs for hosting iSCSI devices for production workload. For test purposes you can certainly use burstable VMs (B series)

[2019-11-19 07:15] cephalin commented on #42861
@kraigb Can you take a look at this one?

[2019-11-19 07:15] SnehaGunda commented on #36110
Apologies for the really long delay on this issue, I tested out the code sample by updating the devenv require statement and some other updates on the connection string format.

I am testing out the JavaScript region format so that I can refer the code within the doc instead of manually hardcoding them. Will make those updates after I have everything working,

We will now proceed to close this iss

[2019-11-19 07:15] #36110 closed

[2019-11-19 07:21] cforce commented on #7460
Why is this ticket close. There eis no solution at all, is there?

[2019-11-19 07:25] var9287 commented on #21382
Please fix this outdated document !!

[2019-11-19 07:42] ram-msft commented on #42874
@dargilco I've raised a #[PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/96385)with this change in the doc that's awaiting review.

[2019-11-19 07:54] delkos opened #43097 "Symbolic link not allowed or link target not accessible sometimes"
Hi everybody!

I have got a CentOS 7+ and a storage account in Azure - File Share:

`//<shared_name_Azure>/repositorio /mnt/repositorio cifs nofail,vers=3.0,credentials=/etc/smbcredentials/rgtest001diag.cred,dir_mode=0777,file_mode=0777,serverino,context="unconfined_u:object_r:httpd_sys_rw_content_t:s0"`

My website/Apache can write in Azure's storage account via the symbolic link, that is it can

[2019-11-19 08:12] franzoir commented on #43013
Ok. thats what I thought too, but I recieved a nasty error message on my VpnGw1 SKU. But after redeploying the GW it worked.

[2019-11-19 08:12] lonevvolf commented on #42917
Here you go:

![image](https://user-images.githubusercontent.com/383469/69128507-bbd25d80-0aac-11ea-958e-bc2b2bfb7462.png)

[2019-11-19 08:15] #43013 closed

[2019-11-19 08:16] rboucher commented on #42981
Happy to help with docs @yanivlavi .  I'll wait until the conclusion of this discussion to know what exactly to add.

[2019-11-19 08:18] amoldixit-Git opened #43098 "Issue while setting up the time_zone for Azure Database for MySQL server"
# Azure Database for MySQL server setting up time_zone help issue

1. I followed the steps in [this document](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-server-parameters-using-cli) to load the time_zone information by calling:
`CALL mysql.az_load_timezone();`

2. I also verified that the time_zone information is loaded using
`SELECT name FROM mysql.time_zone_name;`

3. After tha

[2019-11-19 08:25] CyclopsHelpdesk commented on #43038
Hi Alberto-Vega-MSFT

Yes - https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview.
It states that:

However it makes no mention that it (doesn't appear to be) isn't supported with a storage account that is zone redundant.

[2019-11-19 08:30] KetanChawda-MSFT commented on #43001
@nina-pashinina Can you please elaborate more on this issue. What exactly you are trying ? Are you getting this error when trying to deploying it through ARM template ?

[2019-11-19 08:35] juniwang opened #43099 "KV extension for windows doesn't work well if multiple MSI assigned"
Azure VM KV extension for windows doesn't work well if multiple MSI assigned. Below is more details.

In our case, multiple user identities assigned to VMSS, with different access defined respectively. This fails the KV extension for windows. The status found at `C:\Packages\Plugins\Microsoft.Azure.KeyVault.KeyVaultForWindows\1.0.921.6\Status`
[code]

And the logs found at `C:\WindowsAzure\Logs\Pl

[2019-11-19 08:37] PramodValavala-MSFT commented on #42686
@swagulkarni You can use [policy expressions](https://docs.microsoft.com/en-us/azure/api-management/api-management-policy-expressions) in every policy unless mentioned otherwise. In this case as well, something like this will work

[code]

[2019-11-19 08:43] brunovlucena commented on #23920
I have the same problem by now, terraform(0.12.6) and I didn't see any update in the article.

[2019-11-19 08:44] femsulu commented on #42837
@Datachick A PR has been susccessfully raised to resolve this. The changes should be live shortly. thanks again for catching this.
Cheers.

[2019-11-19 08:44] #42837 closed

[2019-11-19 08:44] femsulu commented on #42839
@corporateg A PR has been susccessfully raised to resolve this. The changes should be live shortly. thanks again for catching this.
Cheers.

[2019-11-19 08:44] #42839 closed

[2019-11-19 08:52] shane-sullivan opened #43100 "Will Azure Dedicated Host reach General Availability before Feb 15, 2020?"
My company does not utilise Preview services in production, I am sure others follow similar principles. If Azure Dedicated Host won't have reached GA then MS should consider postponing the retirement of the existing isolation. It is unreasonable to force customers to move to Preview services  for Production services. Just to remind you of the definition of Preview...

The key Microsoft disclaimers

[2019-11-19 08:56] Hasil-Sharma commented on #43058
Thanks for the response @CHEEKATLAPRADEEP-MSFT. The issue is similar though due to lack of a concrete example its challenging to grasp.

Lemme chalk out a minimal version of keyword argument example.

Following python script takes two keyword arguments `--num-range` and `--output-file`.

[code]

As part of my HDInsight Spark activity I've specified arguments as

[code]

and

[code]

Both the ways

[2019-11-19 08:58] #42686 closed

[2019-11-19 09:01] ManojReddy-MSFT commented on #42487
@nauxliu We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-11-19 09:01] #42487 closed

[2019-11-19 09:02] ManojReddy-MSFT commented on #41409
@FunkEinstein Thanks for the confirmation. I will get back to you regarding the new error.

[2019-11-19 09:17] buildbod commented on #43029
Hi @Grace-MacJones-MSFT the table names on the page are:

_hotelReviewsSsDocument, hotelReviewsSsKeyPhrases, and hotelReviewsSsPages_

yet the tables created in the example https://docs.microsoft.com/en-us/azure/search/knowledge-store-create-rest are:

_hotelReviewsDocument, hotelReviewsPages, hotelReviewsKeyPhrases, hotelReviewsSentiment, hotelReviewsInlineDocument, hotelReviewsInlinePages and ho

[2019-11-19 09:19] iamarno commented on #34451
Hi @AlbertSugi I think you shouldn't post your subscription ID here, but however. Let me point some things out.

1. Your App needs to respond to http requests on this port. For example: I tried to deploy a chat bot that's not listening on any port. Turns out you cannot run such an application on this platform unless you expose a port and respond to http requests on it (alive check from azure). Unl

[2019-11-19 09:22] #42884 closed

[2019-11-19 09:22] buildbod opened #43101 "Longitude, latitude etc. set to false in Index when should be true"
The Connect with Power BI example:

https://docs.microsoft.com/en-us/azure/search/knowledge-store-connect-power-bi

expects the index to include items like Longitude though the JSON provided in https://docs.microsoft.com/en-us/azure/search/knowledge-store-create-rest#create-an-azure-cognitive-search-index has each option set to false. As a result items like Longitude are not included in the Index.

[2019-11-19 09:29] kamranbashir commented on #43080
Here is well known azure Documentation
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

I am using for my B2C tenent. thanks

[2019-11-19 09:31] genlin commented on #41149
@glzbcrt I have summited a pull request to update the article. The following note will added into the article:

"For the public load balancer, the IP address of the Internet clients will be used for communication between the clients and the load balancer backend VMs. Make sure the IP address of the clients are allowed in the backend VM's network security group."

I will process to close this issue

[2019-11-19 09:31] #41149 closed

[2019-11-19 09:32] ChiragMishra-MSFT commented on #42870
@deepikabandhanadham Thanks for raising it. A support professional will soon get in touch to get the issue fixed.

I will close this issue now. Please feel free to still comment and tag me if you have any queries.

[2019-11-19 09:32] #42870 closed

[2019-11-19 09:32] jakaruna-MSFT commented on #42685
@josem0287 I will add that as a tip in that document.

[2019-11-19 09:33] genlin commented on #40956
@glteache A pull request has been submitted to update the article. I will process to close this issue. Feel free to reopen it if there is any additional comment about this issue.

#please-close

[2019-11-19 09:33] #40956 closed

[2019-11-19 09:33] AshokPeddakotla-MSFT commented on #42894
@vijayapotturu @ebseavey
Getting the same error message when trying this sample. I am reaching out internally on this issue and update as earliest.

[2019-11-19 09:35] ChiragMishra-MSFT commented on #42950
@giancarlos29 Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better su

[2019-11-19 09:35] #42950 closed

[2019-11-19 09:37] jochenvanwylick opened #43102 "Is it possible to perform the step 'Declare App Roles using ...' by CLI / PowerShell"
Is it possible to add the custom application role, described in this section: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#declare-app-roles-using-azure-portal, by automation ?

Given the fact that the API does not expose a POST/PATCH - I suspect the answer is no: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-r

[2019-11-19 09:38] amanmcse commented on #42904
@jtuliani The steps are documented here: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal#add-a-role-assignment. There is no separate procedure for assigning RBAC roles to a Managed Identity, which is why this doc doesn't include those instructions. I will check with content owner for adding this link under next action section.

I will proceed further with c

[2019-11-19 09:38] #42904 closed

[2019-11-19 09:41] jakaruna-MSFT commented on #42685
@josem0287 Submitted a PR to add that link to the script itself

[2019-11-19 09:42] jakaruna-MSFT commented on #42685
Got it from the sample here https://github.com/Azure/terraform-azurerm-compute#simple-usage

[2019-11-19 09:42] genlin commented on #42494
@lesterw1 Thanks for the suggestion. The information of the classical administrators are documented in

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/role-based-access-control/classic-administrators.md

This link is also included in the "Add or change Azure subscription administrators" article.
I will process to close this issue. Feel free to reopen it if there is any additional

[2019-11-19 09:42] PramodValavala-MSFT commented on #43049
@miaojiang Could you please share insights on this?

[2019-11-19 09:42] #42494 closed

[2019-11-19 09:43] jakaruna-MSFT commented on #42700
@athinanthny please add your comments

[2019-11-19 09:43] WhitWaldo opened #43103 "Invalid JSON"
The JSON value shared in the first example under the Prerequisites section has an invalid syntax. Line 6 at least requires a trailing comma and if this fabric setting is following the same structure as the others (e.g. name/parameters pairs), it should probably look more like the following:

{
  "name": "CentralSecretService",
  "parameters": [
    { "name": "IsEnabled", "value": "true"}
    { "na

[2019-11-19 09:48] #42685 closed

[2019-11-19 09:57] pramitib commented on #37945
There has been another change in this section. The Password Protection section has now been moved to Azure Active Directory > Security > Authentication Methods > Password Protection. May need a document update.

[2019-11-19 10:07] jakaruna-MSFT commented on #42700
@tkumark I didnt find a way in Azure cli or Azure powershell of sfctl to update the reverse proxy certificate in Azure service fabric cluster.

In the docs ARM template example is given.

@athinanthny Please add your comments

[2019-11-19 10:18] MiroslawOlszak commented on #40938
Hi All,

I have exactly the same problem with both "application/pdf" and "image/jpeg" - SDK 0.8.0-preview

`Stream fileStream;
  var modelid = new Guid(file.ModelId);
  var blob = await Azure.BlobClient.GetBlobReferenceFromServerAsync(new Uri(file.Url,UriKind.Absolute));
fileStream = await blob.OpenReadAsync(AccessCondition.GenerateEmptyCondition(), new BlobRequestOptions(), new OperationContext()

[2019-11-19 10:28] nfreear opened #43104 "Is it possible to use placeholders in custom language models?"
Hi,
I'm developing a custom language model to transcribe phone calls.

I'd like to provide examples of how the real speakers introduce things like their name, address, date of birth, health conditions and disabilities, but without using real personal data or fake data, which would presumably skew the model.

Is there a syntax for placeholders, for example ...?

 * " `My postcode is [__PLACEHOLDER_

[2019-11-19 10:40] KetanChawda-MSFT commented on #43001
@nina-pashinina I tried to repro at my side but I am not getting the error which you are getting. Could you please the share screenshots along with the steps to understand the what is different at your end.

[2019-11-19 10:43] AshokPeddakotla-MSFT commented on #42891
@jawache Device Streams needs you to deploy the IoT SDK on the device. If it's vendor owned and you can't deploy code in it then the answer is no.

Your scenario is very specific and it will depend on the device, OS, etc.

This channel (Github) is meant to cater to issues corresponding to docs and issues pertaining to them.
I would recommend you to create a thread on the forum - stack overflow(htt

[2019-11-19 10:43] #42891 closed

[2019-11-19 10:53] PramodValavala-MSFT commented on #42939
@olandese With either API version set, the trigger URLs seem to work fine for me. Are you seeing any error?

Also, I believe its best to stick to the API Version mentioned in the docs.

[2019-11-19 10:59] soumya6541 opened #43106 "MYSQL Version 8.0"
I could see currently MYSQL version 8.0 is in preview. When can I expect MYSQL version 8.0 in production?

[2019-11-19 11:03] BakkerJan commented on #43034
@MicrosoftGuyJFlo Thanks for the explanation. I was aware of this, but the sentence _**"Here are step-by-step guides on how you can use Conditional Access to configure ### equivalent policies"**_ can cause some confusion. There should be a note that you Identity Protection in order to get the 14 days grace period, right?

[2019-11-19 11:04] jjindrich opened #43107 "Helm installation"
Hello, when I install Helm tiller, is deployed on Windows node and fails. How to deploy correctly to be pointed to linux node ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independent ID: 42736112-f6db-d241-e89b-48fd2c35ceb7
* Content: [Manage an Azure Kubernetes Servic

[2019-11-19 11:09] AjayKumar-MSFT commented on #34451
@AlbertSugi, as @iamarno mentioned it is not recommended to post PII information (including subscription ID) on the public forum. Thanks, Arno!

[2019-11-19 11:10] nina-pashinina commented on #43001
To reproduce, click on Disable and then look at Trigger history.
![ClickOnDisableToUnsubscribe](https://user-images.githubusercontent.com/57696793/69141704-9867dc80-0ac5-11ea-819a-c85a9c21a4f9.PNG)

[2019-11-19 11:16] deepanjannag commented on #42379
I'm on VS Code 1.40.1 and facing the same problem.

[2019-11-19 11:34] haymansfield commented on #15452
Following the steps 1, 2 and 3 under App Registrations (preview) didn't work. What did work was navigating directly to the resource group and selecting the tenant from there.

[2019-11-19 11:40] jakaruna-MSFT commented on #42704
@cynthn I added the AKS service to the table and added a link in the end which points to "Creating AKS in Availability zones"
Please validate

[2019-11-19 11:41] #42704 closed

[2019-11-19 11:49] KetanChawda-MSFT commented on #43001
@ecfan Any thoughts here?

[2019-11-19 12:00] Larryngolog opened #43108 "Lacking information how to call the color detection"
Article should state that we should call the analyze api with "color" attribute for visualFeatures - for example: /vision/v2.1/analyze?visualFeatures=Color&language=en

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289104fd-c7c7-8479-99ca-1cc2f1ca684d
* Version Independent ID: 71aee6df-1d9f-d726-016d-1e8dcae5dbf8
* Con

[2019-11-19 12:11] VikasPullagura-MSFT commented on #43100
@shane-sullivan Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-19 12:15] VikasPullagura-MSFT commented on #43099
@juniwang Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-19 12:19] o-l-a-v commented on #42732
According Janosch Ulmer @ Microsoft in following [Yammer discussion](https://www.yammer.com/cloudpartnercommunity/#/Threads/show?threadId=413176514068480), if an app uses delegated permissions, it indicates that it uses app+user auth, and will have to comply with Secure Application model. Cloudyn uses delegated permissions.
![image](https://user-images.githubusercontent.com/6450056/69145899-f220d4

[2019-11-19 12:24] jakaruna-MSFT commented on #42791
@kev-in-shu I will try out in my test environment and let you know.

In the doc also, Its mentioned that if we follow the doc, Then reboots wont affect the New drive letter for Temp disk

[2019-11-19 12:26] jjindrich opened #43109 "GA custom resource group naming ?"
Hi, is there any plan to go GA with this feature ? aks  --node-resource-group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d501ff67-9208-8bcb-e8df-f09e9b16a802
* Version Independent ID: e3fc3851-ddc4-d26c-251d-6ae53d714081
* Content: [Frequently asked questions for Azure Kubernetes Service (AKS)](https://docs.microso

[2019-11-19 12:27] garybushey commented on #42425
The issue seems to have resolved itself as the checkboxes are showing up again. Thanks for your help.

[2019-11-19 12:27] #42425 closed

[2019-11-19 12:29] Miosso commented on #42379
I downgraded my VS code to 1.39.2 and the Azure Functions Plugin to 0.19.0 and it worked for me.

[2019-11-19 12:39] vishalsinghdev opened #43110 "restore point of time"
Can  we restore point of time in azure mysql database for every 5 mins ? If yes then how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f78e9a1-6b3a-b2ed-9a9b-5ad2cdde7ba1
* Version Independent ID: 556f00fc-bab7-8fe5-77f4-e625832ed462
* Content: [Backup and restore in Azure Database for MySQL](https://docs.microsoft.

[2019-11-19 12:44] VikasPullagura-MSFT commented on #43107
@jjindrich Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-19 12:44] jakaruna-MSFT commented on #42910
@pauloj95
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-19 12:45] #42715 closed

[2019-11-19 12:52] tdihp commented on #36682
This is indeed an issue as this makes autoscaler behavior unclear, and we are not able to refer to the official cluster autoscaler project reference.

[2019-11-19 12:52] jakaruna-MSFT commented on #42971
@yashar please add your comments

[2019-11-19 12:53] jakaruna-MSFT commented on #42966
@tkumark  Thanks for the feedback. I will check and update the doc as needed

[2019-11-19 12:54] VikasPullagura-MSFT commented on #43103
@WhitWaldo Thanks for the feedback! We are currently investigating and will get back on this.

[2019-11-19 12:55] andresyncier opened #43111 "Change SKU"
Hi all, any updates regarding SKU change? I have see this issue ( https://github.com/MicrosoftDocs/azure-docs/issues/12771 ), but its not clear to me if something have changed so far

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a619c0e071
* Version Independent ID: 7629191a-6b3b-fb22-8b70-fa8

[2019-11-19 12:56] jtuliani opened #43112 "Including DisplayNames doesn't always work"
These queries work:
 - az graph query -q "resources | where type =~ 'Microsoft.Compute/virtualMachines'" --include displayNames
 - Search-AzGraph -Query "resources | where type =~ 'Microsoft.Compute/virtualMachines'"

However, simply adding the option to include DisplayNames doesn't work. These commands (identical in all other respects) fail (tested via Cloud Shell):
 - az graph query -q "resource

[2019-11-19 12:57] edwinsummers commented on #38475
I ran into this again today and while troubleshooting found two more domains in addition to the one I listed originally. *.ugv.hypervrecoverymanager.windowsazure.us and *.ugt.hypervrecoverymanager.windowsazure.us. Looking back at [documents for ASR in Public cloud](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-about-networking) I realized that Microsoft recommends opening *.h

[2019-11-19 12:59] Fangkey commented on #6644
@nabhishek Your solution seems not work for me. And I replace trigger().scheduledTime by trigger().startTime at the same place, then it works well. There is no reason for the same kind of system variable have different result at the same position. It should be a bug.

It's a critical feature to get the scheduled time in pipeline.

[2019-11-19 13:01] DCtheGeek commented on #43112
#assign:DCtheGeek

[2019-11-19 13:01] DCtheGeek commented on #43112
@jtuliani Thanks for the question. I'm looking into this with the team and will get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' and #in-progress.

[2019-11-19 13:01] iljoong opened #43113 "How to install a FPGA driver on plain Standard_PBs VM"
It looks like __FPGA inference__ supports AKS or Azure Stack Edge (formerly ADE) only.

Is there a way to run it on notebook VMs (Standard_PBs SKU) like [this document](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-local-container-notebook-vm)? It looks like I need to install FPGA driver but I couldn't find a document regarding FPGA driver installation.

I tried to

[2019-11-19 13:04] tumluliu opened #43114 "How to update the load balancer sku from basic to standard?"
I tried to add an IP restriction on an AKS LB with
[code]
But got the error message:
[code]
What the message suggested "recreate cluster with standard load balancer" is completely unacceptable for us (as well as for most of the running aks clusters I believe). But I could not find how to change the SKU from basic to standard without disturbing the running aks. Could you help me with if this is doa

[2019-11-19 13:06] VikasPullagura-MSFT commented on #43109
@jjindrich As per the supplemental terms on Azure Previews [document](https://azure.microsoft.com/en-in/support/legal/preview-supplemental-terms/),
it states **Certain named Previews may also be subject to additional terms set forth below, if any. We may change or discontinue Previews at any time without notice. We also may choose not to release a Preview into "General Availability."**

I am addin

[2019-11-19 13:07] VikasPullagura-MSFT commented on #43109
@MicrosoftDocs/aks-pm Please add your comments

[2019-11-19 13:10] jtuliani commented on #43112
Thanks. The following PS output with $DebugPreference = "continue" might help:

PS Azure:\> Search-AzGraph -Query "resources | where type =~ 'Microsoft.Compute/virtualMachines'" -Include DisplayNamesDEBUG: >> MakePath([Az.ResourceGraph, Search-AzGraph])
DEBUG: << MakePath([Az.ResourceGraph, Search-AzGraph])
DEBUG: 1:09:08 PM - SearchAzureRmGraph begin processing with ParameterSet '__AllParameterSe

[2019-11-19 13:13] olileger opened #43115 "Typo on verifying security"
https://docs.microsoft.com/en-us/azure/migrate/how-to-set-up-appliance-hyper-v#verify-security
In that specific step you're asking to verify the security on the AzureMigrate.ova file however we're on the Hyper-V scenario thus we never have to download the OVA, we downloaded the VHD ;-)

Olivier

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-11-19 13:14] PramodValavala-MSFT commented on #43003
@wwinogrodzki Thanks for catching that! `HttpFunction` should actually be `HttpTrigger` as named in the [setup section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-test-a-function#setup).

We have worked up a PR to address this.

[2019-11-19 13:19] dmitriyteteruk opened #43116 "CMake Error at CMakeLists.txt:437 (add_subdirectory)"
UPD:
Tutorial on web-page is incorrect! Use Tutorial from Readme.md file in VSCode.

######
[code]

1. git clone the preview release of the Azure IoT Device C SDK to your app folder using the `public-preview` branch.
[code]

    NOTE: Or you can copy the source code of Azure IoT Device C SDK to your app folder if you already have a local copy.

1. Create a folder for your CMake build.
[code]

1. R

[2019-11-19 13:21] wukun2015 opened #43117 "How to support language auto detect ?"
Hello,

How can conversation or conversationTranscriber support language detection via class AutoDetectSourceLanguageConfig ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1d88ac1-d269-5f91-fb1f-8901589c6b02
* Version Independent ID: 3fa3ffe6-277a-547a-a434-7002c056b3b9
* Content: [Real time Conversation

[2019-11-19 13:26] lukepuplett commented on #43056
Hi, I'm back trying to get this working. I'm 4 hours in today.

I've just submitted some feedback on the Azure Portal for the UI where I configure my App ID. I note that the UI has no clear name, which is why I thought I was in the wrong place yesterday; it has grid icon with a 3D box in the corner.

Here's what I wrote.

A key problem is the identity crisis of your identity product. It seems to m

[2019-11-19 13:26] skish opened #43118 "nested variables function call"
is calling variables(variables('vbla')) allowed? in my case i got BadRequest during template deployment, calling parameters(variables('pbla')) works fine.

...
"variables" : {
"vars2vault": ["vm_pass","vm_login"],
"vm_login": "asdfasf",
"vm_pass": "[concat('R',uniqueString(resourceGroup().id, deployment().name, 'something'),'#%44')]"
    },
....
{
      "type": "Microsoft.KeyVault/vaults/secrets",

[2019-11-19 13:34] KrishnaG-MSFT commented on #43112
@DCtheGeek Added 'product-question' and 'in-progress' labels.

[2019-11-19 13:34] koushik-codesigma opened #43119 "Is there any library for SAML assertion in angular 6/7 ?"
How can we configure SAML based SSO in angular 6/7? Is there any library or javascript library exist?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee7-62bc-d427-4b1783a1fa0a
* Version Independent ID: 61e41303-0118-1179-fc50-121c54ed4f34
* Content: [SAML single sign-on - non-gallery applications - Microsoft

[2019-11-19 13:36] dbosak01 commented on #37847
Anyone find a fix for this yet?  I'm getting the same error in November 2019.

[2019-11-19 13:55] #43118 closed

[2019-11-19 13:58] tfitzmac commented on #42673
@vinyar - do you remember if you got the SkuNotAvailable error code? I am trying to track down where this error message is coming from.

[2019-11-19 14:26] jjindrich commented on #43109
I understand what is Preview about. I'm asking you if there is some continuity on this feature and when will be released.

[2019-11-19 14:34] VikasPullagura-MSFT commented on #43109
@jjindrich I have requested the PG team to comment on this.
Thanks.

[2019-11-19 14:35] code4clouds opened #43121 "Broken Link"
The link on the Trial (listing) for the sample app is broken: https://contoso.com/trial/saas-app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0ce426-a720-24d2-35e6-6c63f68e47a8
* Version Independent ID: e993bc40-5837-3b76-ea5a-fe07002d3c2c
* Content: [Create a new SaaS offer in the Commercial Marketplace](https://d

[2019-11-19 14:37] simon-michaud commented on #42823
Before I was able to see "Threat Detection" alerts generated for unusual access (IP/Location or user) to storage or AzureSql via this request:
`SecurityAlert | where ProviderName endswith "ThreatDetection"`

Now I still receive emails but they are not logged in the Log Analytics table anymore.  O do I need a specific Log Analytics TIer for that now ?

[2019-11-19 14:39] SadiqhAhmed-MSFT commented on #42896
@dan-wesley FYI, to review and update as required.

[2019-11-19 14:40] CeciAc opened #43122 "What could be the cause of the error “Unable to edit or replace deployment” ?"
@ksereda commented on [Sat Nov 16 2019](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/588)

Hi.
When I recreate my VM I got the following error:

Problem occurred during request to Azure services. Cloud provider details: Unable to edit or replace deployment 'VM-Name': previous deployment from '8/20/2019 6:20:33 AM' is still active (expiration time is '8/27/2019 5:17:41 AM'). Please see

[2019-11-19 14:40] esbeneickhardt commented on #37025
I am having the same issue. Private keys in Azure KeyVault lose their linebreaks when exported. This is not very convenient when using the keyvault on the agent machines, as the ssh will return "invalid format", and there is no way to fix the format as Azure prevents it.

The suggested fix, removes the line breaks, thus enhances the problem rather than fix it. What one needs to do, if not one a ho

[2019-11-19 14:44] SadiqhAhmed-MSFT commented on #42917
@lonevvolf Did you follow the steps to start discovery as show in the screenshot?
![image](https://user-images.githubusercontent.com/44458118/69156304-34670780-0b09-11ea-9c8c-ce20ca3915bc.png)

[2019-11-19 14:47] MonikaReddy-MSFT commented on #42861
@mruptown - Assigning it to Doc Author to further assist on this issue.

[2019-11-19 14:50] sarang-pitale-mpf commented on #41466
Hi Chirag,

I got to learn that the document is only mentioning the supported sink and not the supported sources. I tried with Blob source dataset of type 'DelimitedText' and it worked but it didn't work with Blob source dataset of type 'AzureBlob' and it gave me error 'Table option is not applicable for your source dataset. Please create a new source dataset.'
The documentation needs to address t

[2019-11-19 14:53] droessmj commented on #37578
Any update on this? I've tried to directly modify the original configmap, and that is simply overwritten sporadically. I've thus far been unable to figure out how to patch in the appropriate config for log enablement, but will continue to investigate.

[2019-11-19 14:54] Robotbae opened #43123 "Where do 'None of the above' questions go in QnA Active Learning? Can we access them somewhere?"
Just went through the QnA Active Learning code on github - works a treat. Based on the documentation, similar asked questions only get clustered as an 'active learning' suggestion on the Qna portal after 5 attempts when users have selected them with a variation of the question but what if the user has selected 'None of the above' from the 'Did you mean' options, where does it?

Can we access them?

[2019-11-19 14:54] SumanthMarigowda-MSFT commented on #42703
@khobragadenitin I'd recommend posting your question in https://azure.microsoft.com/en-in/support/community/  since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-19 14:55] lonevvolf commented on #42917
Yes, my server is listed below, but I intentionally did not include it in the screenshot.  That info message box always appears.  Regardless, I still do not have the third option.  Do you have access to this?  I cannot find it on any other site.

[2019-11-19 14:55] ChiragMishra-MSFT commented on #41466
@sarang-pitale-mpf Thank you for confirming that. I was waiting for confirmation from the Content team.

No worries @linda33wj  will review and update the doc as appropriate.

[2019-11-19 14:55] wwinogrodzki commented on #43003
Thank you! I’ll try later today.

Sent from my iPhone

[2019-11-19 15:05] droessmj commented on #37578
I seem to have made it work with the following patch, after pulling together a better understanding of the config patching process:
[code]

[2019-11-19 15:13] GiftA-MSFT commented on #43117
@wukun2015 thanks for reaching out. We will review your inquiry and get back to you shortly. Thanks.

[2019-11-19 15:15] GiftA-MSFT commented on #43108
@Larryngolog thanks for your feedback, we will review it and get back to you shortly.

[2019-11-19 15:17] MicahMcKittrick-MSFT commented on #43111
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-19 15:17] GiftA-MSFT commented on #43104
@nfreear thanks for reaching out, we will review your inquiry and get back to you shortly.

[2019-11-19 15:18] MicahMcKittrick-MSFT commented on #43114
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-19 15:18] MicahMcKittrick-MSFT commented on #43122
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-19 15:39] ccontino84 opened #43125 "typo in step2 of "Mount the Azure file share on-demand with mount""
"smbPath=$(echo $httpEndpoint | cut -c7-$(expr length $httpEndpoint))$fileShare" should be "smbPath=$(echo $httpEndpoint | cut -c7-$(expr length $httpEndpoint))$fileShareName" instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af47c05-12ce-1bc0-7086-4a2556f51e13
* Version Independent ID: 8ec694f1-3001-d97a-a6d2-fc

[2019-11-19 15:46] NavtejSaini-MSFT commented on #43089
@c0g1t8 We are trying to resolve this issue under the incident https://github.com/MicrosoftDocs/azure-docs/issues/41298
The doc authors etc. are already added to thread above. Please follow the above thread for more information. We are closing this as duplicate.

[2019-11-19 15:46] #43089 closed

[2019-11-19 15:47] merlinko637 opened #43126 "RankerType missing from SDK"
Hello, I was trying to use RankerType=QuestionsOnly, but this property is missing from the .NET SDK and I really do not understand why. This way to implement this, I have to create my own service which will be responsible for the POST request to GenerateAnswer api, am I correct?

When will this feature be added to the SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-11-19 15:48] NavtejSaini-MSFT commented on #41298
@rohitnayakmsft @Vanmsft Do we have an update regarding this? We received another thread for the same issue and we have for now closed it as duplicate after referencing it here.

[2019-11-19 15:49] kamranbashir commented on #42919
big issue is that, this page/documnetation does not work.

Create a new policy , user must reauthenticate case never happen it silently acqire a new session!!! very bizzare
New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{
"Version":1,
"AccessTokenLifetime":"00:15:15",
"MaxInactiveTime":"00:14:55",
"MaxAgeSingleFactor":"1.00:00:00",
"MaxAgeSessionSingleFactor":"00:59:00",
"MaxAgeSessionMul

[2019-11-19 15:50] AjayKumar-MSFT commented on #43092
@Merurino, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-19 15:51] #43003 closed

[2019-11-19 15:55] AjayKumar-MSFT commented on #43097
@delkos, Thanks for the question! We will take a look into this and get back, in the interim could you please share the Azure doc for which this feedback is applicable to?

[2019-11-19 15:56] NavtejSaini-MSFT commented on #42974
@sladeedmonds Please share the ticket number as this has happened to other users and reasons were different. Please share your ticket number to work on it further with the team.

[2019-11-19 15:56] joaopmartinezn commented on #42616
Hey team.
First thing that should be changed is the order of the steps. Step 5 should be the step 6 since the Tenant URL and Secret Token are provided after the user creates the provisioning app at Atlassian. The correction is related to the following section:
<img width="767" alt="Screen Shot 2019-11-19 at 12 48 23" src="https://user-images.githubusercontent.com/11038956/69162283-2d210900-0acb-11

[2019-11-19 15:57] ntspc1 opened #43127 "What does published mean?"
Could you explain more what changing the state from unpublished to published accomplishes?  For example, can subscription keys from an unpublished product be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c12f877-77a9-0593-a539-2b011f9f83cd
* Version Independent ID: 0d600bc9-7ec1-27f5-5d27-a5d22e2e8629
* Content

[2019-11-19 15:59] AjayKumar-MSFT commented on #43098
@amoldixit-Git, Thanks for posting this question! We will take a look into this and get back, in the interim, could you please share the Azure doc for which this feedback is applicable to?

[2019-11-19 16:01] AjayKumar-MSFT commented on #43101
@buildbod, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-19 16:03] AjayKumar-MSFT commented on #43102
@jochenvanwylick, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-19 16:05] jpushpanathan commented on #21315
I have the exact same issue, i have done
helm install stable/nginx-ingress --name nginx and it fails with error
Error: Get https://xxx..xxx.xxx/version?timeout=32s: dial tcp: i/o timeout

Earlier, I got this working by connecting to a different network and it worked.

I have hit the same issue again, can any one please explain why this happens?

[2019-11-19 16:16] CelesteDG commented on #43056
Thank you, @lukepuplett , for the feedback. There's feedback and action items here for documentation, branding & marketing, design, and feature implementation so I'm opening several work items (linked to this GitHub issue) to track these all and get them assigned and triaged by the area owners.

We'll be closing this issue for now and we'll respond back with updates as we work through the action i

[2019-11-19 16:16] #43056 closed

[2019-11-19 16:22] AjayKumar-MSFT commented on #43106
@soumya6541, Thanks for leveraging Azure docs feedback channel to post this question! Could you also please share the Azure doc for which this feedback is applicable to?

As mentioned in this document '[Supported Azure Database for MySQL server versions](https://docs.microsoft.com/azure/mysql/concepts-supported-versions#mysql-version-80)' - Yes, 'MySQL 8.0 is currently in preview', typically, soon

[2019-11-19 16:24] skalpin commented on #30508
I am seeing this issue as well. After deploying a new trigger to Azure Data Factory, I use powershell to get all of the triggers and start them one by one. We have frequently been seeing  "Resource cannot be updated during provisioning" errors.

Shouldn't provisioning be complete before New-AzResourceGroupDeployment finishes?

[2019-11-19 16:26] AjayKumar-MSFT commented on #43110
@vishalsinghdev, Thanks for leveraging Azure docs feedback channel to post this question.
We would check on this and get back to you soon, in the interim, could you please share the Azure doc for which this feedback is applicable to?

[2019-11-19 16:33] kamranbashir commented on #43080
Even tried "MaxInactiveTime":"00:10:00". full detail about policy is below mentioned.
After 17 mins inactive use'sr session , he user must reauthenticate case never happen!!!

If you read defination in below mentioned all lies, it never happen!!
**Refresh Token Max Inactive Time**
String: MaxInactiveTime

Affects: Refresh tokens

Summary: This policy controls how old a refresh token can be before

[2019-11-19 16:34] souravmishra-msft commented on #43077
@aaronjedwards, The **scope** parameter is used to manage permissions to protected resources. When an **access token** is requested, the client application needs to specify the desired permissions in the **scope** parameter of the request. Also, the **scope** parameter cannot be used to specify permissions for multiple resources.

I performed a test using the **Authorization Code Grant Flow** and

[2019-11-19 16:35] souravmishra-msft commented on #43073
@chino0913, Can you please share some more details around this Error Code, Like what steps got you this error and what does the description of this error states.

[2019-11-19 16:36] souravmishra-msft commented on #43072
@chino0913, Can you please share some more details around this Error Code, Like what steps got you this error and what does the description of this error states.

[2019-11-19 16:38] sladeedmonds commented on #42974
I sent it yesterday, here it is again:

119110724009901

Slade Edmonds
SMI
________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Tuesday, November 19, 2019 10:56:33 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Slade Edmonds <slade.edmonds@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Adding Azure

[2019-11-19 16:40] NavtejSaini-MSFT commented on #42974
@sladeedmonds Thank you!! We are checking this.

[2019-11-19 16:40] datadel-sd opened #43131 "Instruction Sequence"
Is it me or the second instance of SQL MI needs to be created after the gateways are connected ya? If both vnets from different regions are not connected, I don't think the secondary vnet will be able to see primary SQL MI and add is the secondary role no?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03a0dc36-e3d5-3a

[2019-11-19 16:44] sladeedmonds commented on #42974
Thanks so much. I appreciate it

Slade Edmonds
SMI
________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Tuesday, November 19, 2019 11:40:43 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Slade Edmonds <slade.edmonds@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Adding Azure AD Admin in US Governme

[2019-11-19 16:48] mattchenderson commented on #43059
I am not aware of any such library for Python. If that existed, I'd expect it to be a part of the [Azure SDK for Python](https://github.com/Azure/azure-sdk-for-python). Scanning their docs, I don't see anything now. It may be worth opening an issue against them.

For now, I'd rely on the REST protocol for the token service. There is a Python example there.

[2019-11-19 16:48] SamaraSoucy-MSFT commented on #42994
@markdebruijne I had a chat with the product team about your question. There will be a small discrepancy because there are some event types that aren't billed, but the method you are suggesting will give you a useful estimate of your average ingestion rate.

I'm going to go ahead and close this thread. If you have any more questions please tag me.

[2019-11-19 16:48] #42994 closed

[2019-11-19 16:50] jahav opened #43132 "Missing Entity Function upgrade information"
Page doesn't contain anything about entity functions and how to handle state migration of entity functions, it is only about orchestration functions.

I can guess that changing the serialized state of entity function will throw EntitySchedulerException "Failed to deserialize entity state" (https://github.com/Azure/azure-functions-durable-extension/blob/790e086b271205975ef3b01620e2aec3f826aab3/src/

[2019-11-19 16:52] silverl opened #43133 "What are the most minimal permissions required to execute queries?"
What are the minimal IAM permissions required for an AAD-authenticated user to use this tool?

At what resource level would I set permissions if I wish to allow a user access to the query tool for all databases beneath a given Azure SQL Server, but not allow that user to disturb any other settings at the Azure SQL Server or Database level?
In other words, is this a tool only for Administrators? Or

[2019-11-19 16:53] mbrennan376 commented on #16002
I have tried all the solutions above and Identity.Name is null, except for database dependency calls. Is there a requirement for what order the services are added to the container?

[2019-11-19 16:56] MartaFuentesLara commented on #28113
Good afternoon, I tried the solution https://stackoverflow.com/questions/55245447/azure-custom-soap-connector-soap-to-rest-with-logic-apps-error-on-date/ but it doesn't work for me.
My web service is on premise.
Any more ideas?
Thank you.

[2019-11-19 16:58] AlexJPawlak opened #43134 "Powershell samples?"
There are many examples for other languages. Azure Functions Powershell is GA now and samples would be welcome!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a1cefb3acf43
* Content: [Azure Table storage bindings for Azure Functions]

[2019-11-19 17:02] stracker-phil opened #43135 "Time period for flow count?"
"the Azure networking stack supports 250K total network flows with good performance" - this leaves me puzzling, which time frame my server has to generate those 250K flows, and how/when the count is reset.

Is a flow counted for one hour, 24 hours, 1 month, ... or is the count set to zero each midnight, on the first of a month, etc.?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-11-19 17:06] rothja commented on #43045
@jluk Thanks for the feedback. I manage this article, but I'm not the expert in the AKS space. @mlearned , I believe this is in your area? Could you please take a look at this feedback? Thank you! #reassign:mlearned

[2019-11-19 17:07] llscuba opened #43136 "How to add routes manually to the client?"
There multiple mentions on this article about adding routes manually to the client but there is no link or reference on how to do it. Are you referring to adding them to the xml file or to the local routes on the computer or ... Could you share some information or links on how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-19 17:07] SumanthMarigowda-MSFT commented on #42906
@mayankprayas Can you please provide us with the URL of the Azure Doc you are having issues with? We look forward to your reply.

[2019-11-19 17:11] olandese commented on #42939
What do you mean is working fine? did you try to call the trigger with the different api version?

[2019-11-19 17:16] GiftA-MSFT commented on #43126
@merlinko637 thanks for reaching out, we'll review your inquiry and get back to you shortly.

[2019-11-19 17:17] SwathiDhanwada-MSFT commented on #43016
@rothja Can you please review the document and update it accordingly?

[2019-11-19 17:22] nikoudel opened #43138 "Manual routing to a staging slot doesn't work"
&gt; When you explicitly set this value to 0% (shown in black text), your users can access the staging slot manually by using the x-ms-routing-name query parameter.

That's not what I'm observing. My staging slot has 0% traffic allocation but when I'm trying to call the app on the production URL with x-ms-routing-name pointing to the staging slot, the prod is called still.

My goal is to run some

[2019-11-19 17:36] ecfan commented on #43001
After trying the sample that @nina-pashinina provided, I first fixed these items, some which were edited to remove personal information, I assume:

* The **To** field in the Office 365 action: "@.com"
   ![image](https://user-images.githubusercontent.com/13206671/69170664-55027380-0aaf-11ea-90fb-bbe4c421b4da.png)

* The leading dots (.) in the webhook trigger's URI: "https://.azurewebsites.net/...

[2019-11-19 17:45] Luis-Palacios commented on #42428
@cblomart were you able to achieve this? I'm trying the same, use a certificate from azure key vault in a an azure app service on free/shared plan

[2019-11-19 17:45] rothja commented on #42617
@aralvar Thanks for this feedback, and I apologize for the delayed response. I manage this article, but I need to pull in a subject matter expert for LB that can look at this suggestion. @asudbring it seems like you're one of the content owners in the Load Balancer space. Can you please take a look at this suggestion? Thank you! #reassign:asudbring

[2019-11-19 17:48] rothja commented on #42516
@KosukeHosoda Thank you for your suggestion, and I apologize for the delay. I need to pull in an Application Gateway expert to take a look. @vhorne I think this is your area, correct? Can you please take a look at the suggestion for the limits article? Thank you!! #reassign:vhorne

[2019-11-19 17:54] MonikaReddy-MSFT commented on #43059
@svangeti , I hope that @mattchenderson has answered your question and I hope that resolves your issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-19 17:54] #43059 closed

[2019-11-19 17:56] Adam-Smith-MSFT commented on #43125
@ccontino84 Thank you for your contribution,
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-19 17:56] #43125 closed

[2019-11-19 17:56] Adam-Smith-MSFT commented on #42988
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-19 17:56] #42988 closed

[2019-11-19 17:57] marcelo-onfleeklabs opened #43139 "Error when trying to connect TSI with Power BI"
When I try the step 9 above, I get an error on Power BI:

Details: "Web.Contents failed to get contents from 'https://db4282e9-ec95-47db-9d8b-01c31d308e7b.env.timeseries.azure.com/timeseries/query?api-version=2018-11-01-preview&storeType=WarmStore' (404): Not Found".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83bec

[2019-11-19 18:02] mpchen commented on #40531
@ajlam so I tested this. Just enabling the diagnostics setting is not enough. I will have to change the settings in server parameters too. Specifically, I need to change "audit_log_enabled", "audit_log_events" in the server parameters to have Azure MySQL log connection and queries.

[2019-11-19 18:04] ajlam commented on #40531
@mpchen - that's correct. The server needs to be configured for logging before it can be piped to diagnostic logs. This is covered in the following documentation: https://docs.microsoft.com/en-us/azure/mysql/howto-configure-audit-logs-portal#set-up-diagnostic-logs

[2019-11-19 18:13] MicahMcKittrick-MSFT commented on #41667
@dzoech I will close this out as we have confirmed with PG. Let me know if you have further questions :)

[2019-11-19 18:13] #41667 closed

[2019-11-19 18:14] banisadr commented on #43062
Section added on using Azure AD which also links to the How To article: https://docs.microsoft.com/en-us/azure/event-grid/security-authentication#azure-ad

[2019-11-19 18:15] MonikaReddy-MSFT commented on #42903
@ipvalverde , Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-19 18:15] #42903 closed

[2019-11-19 18:16] MicahMcKittrick-MSFT commented on #43011
@soumya6541 for a production environment you should use upgrade in most cases. I have tested this multiple times and when I have Auto Upgrades enabled the Custom Script applies to all the instances.

From a doc perspective, it is correct.

I would suggest you reach out to Azure Support to dig in deeper as to what is not configured correctly in your environment. If you don't have the ability to ope

[2019-11-19 18:16] #43011 closed

[2019-11-19 18:16] Alberto-Vega-MSFT commented on #43118
Hi@skish I'm glad to see that you were able to resolve your issue. Please feel free to reach out if you have any feedback for the documentation :)

[2019-11-19 18:19] mpchen commented on #40531
Thanks for confirming this @ajlam. So the question is - can I use Azure Policy to update server parameters to enable logging? I have a policy to set up diagnostics settings and pipe the logs to log analytics workspace. But I will have to update server parameters separately. Wondering whether there is a way to use Azure Policy to do both? Maybe export the aliases for server parameters?

[2019-11-19 18:20] MicahMcKittrick-MSFT commented on #43111
You can find the docs on how to deploy with a standard load balancer here:

https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard

By default we now use the standard load balancer. However if you are looking to upgrade from Basic to Standard that is not possible and you need to rebuild the cluster

![image](https://user-images.githubusercontent.com/32313503/69174158-1cb26380-0ab6-11ea-

[2019-11-19 18:20] #43111 closed

[2019-11-19 18:21] larryclaman opened #43141 "CLI Version required?"
The current text reads "You can create an incremental snapshot with the Azure CLI, you will need the latest version of Azure CLI. "
Can the text be updated to specify the minimum version of the CLI required?  Using a term like "the latest version" is non-specific; it's related to a particular point-in-time, and it provides no guidance to an end-user as to if they need to upgrade cli versions or no

[2019-11-19 18:21] MicahMcKittrick-MSFT commented on #43114
@tumluliu By default we now use the standard load balancer. However if you are looking to upgrade from Basic to Standard that is not possible and you need to rebuild the cluster

![image](https://user-images.githubusercontent.com/32313503/69174158-1cb26380-0ab6-11ea-88fc-e1f80b4337f4.png)

You can leave feedback requesting this functionality here: https://feedback.azure.com/forums/914020-azure-kub

[2019-11-19 18:21] #43114 closed

[2019-11-19 18:23] larryclaman commented on #43141
also, I just looked at the release notes  https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#september-24-2019; it appears that the minimum version required is 2.0.74

[2019-11-19 18:26] MicahMcKittrick-MSFT commented on #43122
@ksereda we use this repo to identify documentation issues. Based on the error you are getting I am not sure what Azure Service you are using.

Azure Cloud Services?
Azure Virtual Machines?
App Services?

I would suggest you reach out to MSDN based on what Service you are using so our engineers can further assist.

https://social.msdn.microsoft.com/Forums/en-US/home

I will close this as there is

[2019-11-19 18:26] #43122 closed

[2019-11-19 18:27] PishPoshery opened #43142 "Context clean up?"
There seems to be some extraneous context on this page.  The title states the intended scope is private IP addressing, but step 2 has the user create a public IP which is never used.  It is referred to in step 4 description but not used in the associated CLI code.  Subsequent testing in the example shows no public address.  I propose step 2 and the addition public IP reference in step 4 be removed

[2019-11-19 18:34] mumian commented on #42609
@andyturn31 - thanks for the comment.  I have created a PR to address the issue - https://github.com/MicrosoftDocs/azure-docs-pr/pull/96451.

#please-close

[2019-11-19 18:34] #42609 closed

[2019-11-19 18:36] santhoshbomma9 opened #43143 "Azure Applications: Solution Template or Managed App"
https://docs.microsoft.com/en-us/azure/marketplace/marketplace-commercial-transaction-capabilities-and-considerations#requirements-for-specific-offer-types
1. This paragraph about Azure Applications: Solution Template or Managed App, only talks about Managed App and doesn't talk about Solution template.
2. However, if you configure a Managed App offering for ISV infrastructure charges,? how can yo

[2019-11-19 18:36] rolyon commented on #42931
Hi @kilasuit
I also included IDs in the top table:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
thanks

[2019-11-19 18:37] rolyon commented on #42931
#please-close

[2019-11-19 18:37] #42931 closed

[2019-11-19 18:38] MonikaReddy-MSFT commented on #43138
@nikoudel , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-19 18:42] jluk commented on #43109
@jjindrich thanks for the inquiry, yes we'll be moving this feature into GA. The current estimate is in ~4-6 weeks to bring in official CLI changes as well.

[2019-11-19 18:43] MicahMcKittrick-MSFT commented on #43141
@larryclaman thanks for the feedback. I will work today to get that added to the doc.

[2019-11-19 18:44] tijoytom commented on #43103
@WhitWaldo Thanks, you are right. The JSON is not well-formed.

[2019-11-19 18:45] mumian commented on #22731
@spottedmahn - thank you for the comment.  The information is covered in https://docs.microsoft.com/en-us/azure/azure-resource-manager/conditional-resource-deployment#runtime-functions.  Because the tutorials are covering common usages, I will leave it as is for now.

#please close

[2019-11-19 18:47] YutongTie-MSFT commented on #43113
@iljoong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-19 18:51] TravisCragg-MSFT commented on #43065
@stdistef We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-19 18:51] #43065 closed

[2019-11-19 18:56] CeciAc opened #43144 "AUFS-DKMS dependency failing on Raspberry 4 as AUFS kernel support has been dropped"
Hi team, I moved this from here: https://github.com/MicrosoftDocs/azure-docs.cs-cz/issues/481

@rheingold commented 3 days ago — with docs.microsoft.com
After trying to prototype this solution od RPi 4, I stumbled across AUFS-DKMS dependency failing for docker on Raspberry 4 as it seems that AUFS kernel support has been dropped (see here for example: https://www.raspberrypi.org/forums/viewtopic.ph

[2019-11-19 19:05] amenarde commented on #42700
@tkumark

The process to update RP certificate without ARM should be
1. Add certificate to VMSS [https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-add-application-certificate](https://docs.microsoft.com/en-us/azure/service-fabric/scripts/service-fabric-powershell-add-application-certificate)
2. Update setting in RP to point at new certificate [https://docs.mic

[2019-11-19 19:06] rthorn17 commented on #39543
@CHDAFNI-MSFT The bugs have been corrected but there is an outstanding issue where the Identity Team is trying to resolve some latency issues with the Data plane assignments.  There have been long delays from when the assignment is made until when the data plane acknowledges the action.

[2019-11-19 19:10] skish commented on #43118
Thanks, just not clear than secrets names could not contain underscores.
On 11/19/19 8:17 PM, Alberto Vega notifications-at-github.com
|github/Example Allow| wrote:

[2019-11-19 19:13] ratchetwrench opened #43145 "Show More Examples, Less JSON"
It would be great to see more that are not a bunch of JSON. Such as looping filtering and so on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc163f0-2883-6a20-fc06-f84715aa2912
* Version Independent ID: ccf25bc7-a643-71b0-0a0d-f51461689747
* Content: [Filter activity in Azure Data Factory - Azure Data Factory](http

[2019-11-19 19:17] rothja commented on #40486
@amberbhargava Hello. Do you know if there is a limit to the total number of subscriptions. We're not sure how to update the guidance in the article. @bandersmsft @tfitzmac FYI. Thanks!

[2019-11-19 19:18] JustenCs commented on #42829
@SaurabhSharma-MSFT Not sure why? To be clear, your interface already states this: "We'll map the fields and create the new application, but users won't be redirected to it until you say so."
I am just asking how to interact with that, presumably already existing, function?

[2019-11-19 19:19] SadiqhAhmed-MSFT commented on #42779
@qianw211 Any insights?

[2019-11-19 19:19] djpmsft commented on #43145
Hi @ratchetwrench,

Thanks for commenting! We agree and are working on updating the documentation.

Is there a specific example you want or can I close this issue?

[2019-11-19 19:21] SadiqhAhmed-MSFT commented on #42772
@qianw211 Any thoughts on this query?

[2019-11-19 19:24] WhitWaldo commented on #43103
@VikasPullagura-MSFT  @tijoytom  While you're making changes, I'd also suggest adding a note about ensuring that this isn't implemented except against v7 of the SF cluster version or higher as it'll prevent app registration in versions lower than that.

[2019-11-19 19:25] SadiqhAhmed-MSFT commented on #42713
@ChJenk Any insights?

[2019-11-19 19:32] mhopkins-msft commented on #43075
@RA-Work-A The code was tested with .NET Core v3.0. Are you able to try that?

[2019-11-19 19:32] jzuchora87 opened #43146 "Enforce Protection Mode"
In the doc it states, 'Enforce protection mode is disabled until further notice.' When will we have an update on this? It's not a useful feature unless we can actually enforce our controls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d5df7a3-8abc-026a-7bee-2861ba4a2e38
* Version Independent ID: 9c91b1ee-7874-a992-4

[2019-11-19 19:33] SaurabhSharma-MSFT commented on #42936
@zjalexander yes, you are right.. thanks for the correction.
@sladeedmonds I am trying to reach out internally to product team to further look into this.  I will update here as soon as I have an update.

[2019-11-19 19:39] cjlpowers opened #43147 "SLA for Zone Redundant VNet Gateway"
Does a Zone Redundant VNet Gateway improve the documented 99.95% SLA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c6b382-2861-f458-4ec5-846c7eb12924
* Version Independent ID: 4117fae1-0409-5f77-e4a9-7f83018706c7
* Content: [Create a zone-redundant virtual network gateway in Azure Availability Zones](https://docs.m

[2019-11-19 19:40] SaurabhSharma-MSFT commented on #43146
@jzuchora87 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-11-19 19:40] aaronjedwards commented on #43077
This is very helpful! Thank you for your quick response.

For anyone else in a similar scenario, I am developing an iOS app and need access to more than one resource, which is why I posed the question above. I've found an issue on the MSAL iOS github that gives me an idea of how to achieve what I want: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/774

[2019-11-19 19:40] #43077 closed

[2019-11-19 19:40] NavtejSaini-MSFT commented on #42974
@sladeedmonds You may have already received the resolution from Support team but reiterating it here:
This is a known “limitation” in Gov clouds for AAD portal.
We do not support granting read access to MI through Portal (uses Graph API). Customer needs to use PowerShell for that purpose.
Please follow the following page with instructions how to configure AAD auth on MI:
https://docs.microsoft.com

[2019-11-19 19:40] #42974 closed

[2019-11-19 19:41] Nickomang commented on #8017
@spottedmahn, thanks for the feedback. I've added a note in the docs that warns users about the override of DNS settings.

#please-close

[2019-11-19 19:41] #8017 closed

[2019-11-19 19:42] dennisknappe opened #43148 "Swapped parameteres in the sample script!"
In the sample scripts restore command, two parameteres are swapped

-TargetInstanceDatabaseName $TargetInstanceName `
-TargetInstanceName $TargetDatabaseName

Should have been:

-TargetInstanceDatabaseName $TargetDatabaseName
-TargetInstanceName $TargetInstanceName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 578ef41

[2019-11-19 19:42] bhans378 opened #43149 "--zones is incorrect. needs to change to --node-zones"
I am running azure-cli 2.0.62 with the ask-preview 0.4.18 extension.

 The references to --zones does not work.  These references need to be updated to --node-zones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 471c32a2-1f6a-88d1-7df4-80b8f6fbc4a4
* Version Independent ID: 10de5ee1-942d-e30f-5f0c-f163bd45904d
* Conte

[2019-11-19 19:42] Karishma-Tiwari-MSFT commented on #42756
Thanks for providing the details. I have created a PR with the update and changes will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-19 19:42] #42756 closed

[2019-11-19 19:45] SaurabhSharma-MSFT commented on #42554
@artisticcheese We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-19 19:45] #42554 closed

[2019-11-19 19:46] MicahMcKittrick-MSFT commented on #43149
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-19 19:48] njbuch opened #43150 "Instructions on Raspian Buster missing"
There is clear indicators pointing towards using Raspian Buster, so the new Raspberry Pi 4 with 4GB RAM can be used for IoTEdge. But the documentation is unclear around this. It seems to be unsupported, but still working for me - with a few workarounds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b8296d-c923-e990-

[2019-11-19 19:50] SaurabhSharma-MSFT commented on #42829
@JustenCs Sorry for the misunderstanding.  At which step you are getting this error.  Can you please provide a screenshot.

[2019-11-19 19:53] TravisCragg-MSFT commented on #42991
@danmyhre The DNS configuration should be inherited from the DNS settings on your Virtual Network, and I do not believe it is configurable in the client.

If you have made changes to the VNETs DNS after downloading the VPN client, you will need to re-download it.

Can you share more information about your DNS configuration and how your P2S needs to use it?

[2019-11-19 19:57] danmyhre commented on #42991
No changes made to vnet after client was setup
custom DNS server IP addresses configured on vnet pointing to VMs running DNS
VPN client need to route DNS queries to these servers in order to resolve internal names
This is the new VPN client, not the prior one that your download from the azure portal under the gateway P2S connections blade.

[2019-11-19 20:01] cblomart commented on #42428
All i could test righ know is load the certificate from keystore.
I will look with the @emadalsous if we can load the certificate from there.
Any pointers on how to load the certificate from that?

[2019-11-19 20:09] msrini-MSFT commented on #43147
@cjlpowers , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-11-19 20:11] amandasong commented on #42963
My mistake - it's Telugu, not Telegu.

[2019-11-19 20:13] NavtejSaini-MSFT commented on #43131
@datadel-sd We are checking this and will get back to you.

[2019-11-19 20:14] MashaMSFT commented on #43131
Hi @datadel-sd , thanks for contacting Microsoft! Actually, as long as the secondary managed instance is configured as the DNS Zone partner during creation and deployment, then that lays the necessary networking groundwork for the managed instance to act as the secondary. Since there is no actual communication between the two instances until the failover group is created, the gateways do not need

[2019-11-19 20:15] NavtejSaini-MSFT commented on #43133
@silverl We are checking this and will get back to you.

[2019-11-19 20:19] NavtejSaini-MSFT commented on #43148
@dennisknappe We are checking this and we will get back to you.

[2019-11-19 20:19] leifbro opened #43152 "This page is out of date and has been replaced by ..."
... https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject

Please remove it to avoid customer confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f55990e-6e66-1568-a4ba-308bc8fec852
* Version Independent ID: 66fd0a29-0db2-62e4-5285-2d19fab9680c
* Content: [

[2019-11-19 20:21] TravisCragg-MSFT commented on #41889
@jigarshah04 Unfortunately I cannot comment on any plans to increase the number of flows at this time. If you would like us to increase this limit in the future, please [leave your feedback at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).

For the performance of your application and how it handles flows, I would recommend testing your app with a

[2019-11-19 20:21] #41889 closed

[2019-11-19 20:24] sladeedmonds commented on #42974
As noted in the original issue raised here in this thread, and as noted in the ticket that you requested I send you the # for, we have run the PowerShell script and it correctly adds the Service Principal for the Managed Instance in to the Directory Readers role in our tenant.  We are also able to add the AAD admin to the Managed Instance after running the script.  However, we can't log in to the

[2019-11-19 20:25] blouwagie opened #43153 "Where are the instructions for Cloud Only AAD environment"
In the Azure portal, Dashboard &gt; Azure AD Domain Services &gt; mydomain we have the following instructions with one option to follow for cloud only account, which leads to this document, but this document nor linked documents contain information on how to configure has synchronisation for cloud only customers..

This is the text on our portal, and we are trying to make sure SLDAP passwords stay

[2019-11-19 20:25] TravisCragg-MSFT commented on #43135
@stracker-phil It refers to 250K flows that all exist at the same time.

Please let me know if you need any additional information.

[2019-11-19 20:26] spottedmahn commented on #8017
thanks @Nickomang!  any chance you link to the PR or commit?  thanks.

[2019-11-19 20:29] ab-mohamed commented on #42313
Thanks, @MSSedusch for your reply.

So if I understood your reply correctly, In production environments,  `B` series VMs may have insufficient bandwidth quota utilized by SBD disks.
Please correct me if I am mistaken. :)

Best regards,
Ab

[2019-11-19 20:31] NavtejSaini-MSFT commented on #42974
@sladeedmonds Your ticket number 119110724009901 is still open. I would advise you to raise your concern when the support personnel gets back to you. He is working with product team for MI for getting this checked. This will be the best way forward getting the fastest resolution.

[2019-11-19 20:34] jeffhollan commented on #40126
@JohnGalt1717 can you create or link a GitHub issue? I can’t repro the runtime blocking these - very possible the Azure platform is (specifically windows consumption). But if runtime causing issue would be a bug that should likely be tracked on azure/azure-functions-host with details of how to repro

[2019-11-19 20:34] TravisCragg-MSFT commented on #43136
@llscuba [Here is a good link that describes how to add a route](https://www.sysprobs.com/route-add-delete-on-windows-10-static-route) to your windows OS.

Please let me know if you need any additional information.

[2019-11-19 20:35] RA-Work-A commented on #43075
@mhopkins-msft Possibly, but not w/o discussion with my team. Is upgrading my major version the only way to try this piece of functionality? If not, will rolling back to v11 work w/ v2.1x?

[2019-11-19 20:35] TravisCragg-MSFT commented on #43142
@PishPoshery Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-19 20:36] AlbertSugi commented on #34451
Hi @iamarno  @AjayKumar-MSFT Thanks very much for the input, ill try that tonight and update on the result! Thanks again!

[2019-11-19 20:45] J-Fedor opened #43154 "Update host pool"
I don't see any of the other articles explaining how to update an existing host pool to use the new image.
No options appear to control it in the WVD management tool either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783

[2019-11-19 20:50] j03Martin commented on #16691
Can we get a status on this?

[2019-11-19 21:01] mike-urnun-msft commented on #43134
@AlexJPawlak Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-19 21:04] mike-urnun-msft commented on #43127
@ntspc1 Thank you for your feedback! We will review and get back to you with relevant info.

[2019-11-19 21:05] sethmanheim commented on #36391
@stevemaz Hello and thanks for the feedback -- we have a doc update in progress that should include this information. You just need to select "Production" from the Apple (APNS) configuration page on the portal.

[2019-11-19 21:05] sethmanheim commented on #36391
#please-close

[2019-11-19 21:05] #36391 closed

[2019-11-19 21:05] RyanHill-MSFT commented on #43138
Hi @nikoudel, I will try to replicate your issue but just to confirm, you can still access your slot directly from the DNS name correct? Also you see any errors in `D:\home\LogFiles\eventlog.xml`?

[2019-11-19 21:06] mike-urnun-msft commented on #43132
@jahav Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-11-19 21:06] mathieu-benoit commented on #12296
Hi @spelluru and @axisc, I just got the exact same question, could we update the Pricing page accordingly and making clearer regarding that statement please?
[code]
Thanks!

[2019-11-19 21:09] sethmanheim commented on #39834
@RazvanEmilR Please reopen if you are still experiencing the problem. We have also published an article detailing some of the iOS 13 changes: https://docs.microsoft.com/en-us/azure/notification-hubs/push-notification-updates-ios-13. And finally, we are working our way through all of the Notification Hubs tutorials to make sure they are up to date.

[2019-11-19 21:09] sethmanheim commented on #39834
#please-close

[2019-11-19 21:09] #39834 closed

[2019-11-19 21:10] cgillum commented on #43132
FYI @anthonychu

[2019-11-19 21:11] sethmanheim commented on #40317
@jmlumpkin Again, thank you. Some of the Notification Hubs tutorials are out of date due to Apple and Azure portal changes; we are working our way through them to make sure they are current.

[2019-11-19 21:11] sethmanheim commented on #40317
#please-close

[2019-11-19 21:11] #40317 closed

[2019-11-19 21:13] NavtejSaini-MSFT commented on #43148
@dennisknappe We have created pull request to correct this.
@jovanpop-msft @stevestein Please check PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/96482 and update

[2019-11-19 21:18] #43070 closed

[2019-11-19 21:18] Karishma-Tiwari-MSFT commented on #43154
Thanks for the question. We are currently investigating and will update you shortly.

[2019-11-19 21:19] MicrosoftGuyJFlo commented on #43034
How about I add a link to the Identity Protection policy there with a this requires Azure AD Premium P2 licensing note? https://docs.microsoft.com/azure/active-directory/identity-protection/howto-identity-protection-configure-mfa-policy

[2019-11-19 21:20] mrbullwinkle commented on #43041
Thanks again for reporting this. The doc has been updated internally, the change will go live between 3-4 PM today UTC-8.

[2019-11-19 21:20] mrbullwinkle commented on #43041
#please-close

[2019-11-19 21:20] #43041 closed

[2019-11-19 21:22] BakkerJan commented on #43034
That’ll do😁. thanks John!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: John Flores <notifications@github.com>
Sent: Tuesday, November 19, 2019 10:20:01 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jan Bakker <janopurk@live.nl>; State change <state_change@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 14-day period (Unified M

[2019-11-19 21:27] MarileeTurscak-MSFT commented on #42919
Hi @kamranbashir ,

As far as I am aware it is just the Configurable Token Lifetime policy. I'm assigning this issue to the content author to look into the doc bug you described.

Do you get any error message or does it just require the new authentication?

Please post this to Q&A too so we can help troubleshoot with you there. https://docs.microsoft.com/answers/questions/index.html

[2019-11-19 21:29] #43034 closed

[2019-11-19 21:30] KranthiPakala-MSFT commented on #43152
@leifbro Thanks for the feedback and bringing this to our attention. We have assigned the issue to the content author. They will evaluate and provide an update as appropriate.

[2019-11-19 21:31] KranthiPakala-MSFT commented on #43152
@mamccrea Could you please have a look at the feedback from @leifbro? - Thanks!

[2019-11-19 21:33] Alberto-Vega-MSFT commented on #43123
Hi @Robotbae Thanks for reaching out. I'm sorry but I have no context to your question. Could you please link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-11-19 21:35] JustenCs commented on #42829
Hi!
First, thanks for you attention in this.

There is no error, there just is no additional tool. if you look at this screenshot it says  We've detected on-premises settings for this relying party that can be migrated to a new Azure AD enterprise application. We'll map the fields and create the new application, but users won't be redirected to it until you say so.

this sounds like there should b

[2019-11-19 21:36] mhopkins-msft commented on #43075
@RA-Work-A This quickstart is specifically targeted at v12. I just tried it with .NET Core 2.1 and it worked fine for me.

[2019-11-19 21:37] Alberto-Vega-MSFT commented on #43119
Hi @koushik-codesigma Thanks for reaching out. I'm sorry but I have no context to your question. Could you please link the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.
If you have no feedback for a document but just need help, would you please post your question on the developer forums StackOverflow or MSDN where unlike here th

[2019-11-19 21:42] Luis-Palacios commented on #42428
@cblomart @cephalin @ryanborMSFT @emadalsous  this is what I tried:

1. Create the certificate on Azure Vault
2. Download certificate from Azure vault as pfx format
3. Put the certificate on a relative place in my repository
4. Load the certificate using the following code:
[code]
5. Run the application locally it works great
6. Upload application to azure web service free plan
7. Run the followin

[2019-11-19 21:46] aliflex opened #43156 "Missing Instruction Under "Configure Azure AD SSO" Step 4"
Under step 4 of "Configure Azure AD SSO" it is missing the "Reply URL (Assertion Consumer Service URL)"
Not sure what it should be. Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0ce-f27f-1ffd-7129-7bb4e37b07ff
* Version Independent ID: ec9f7c43-e967-d2e7-cde7-111c5897a798
* Content: [Tutorial: Azure

[2019-11-19 21:46] stevebus opened #43157 "'unauthorized' when using a Symmetric Key attestation"
I'm trying to test this using an individual symmetric key enrollment.  I created an individual symmetric key enrollment called 'mqtt-dps-test01'.  I then generated a SAS token using the 0ne00055500/registrations/mqtt-dps-test01 format (I changed a few random numbers in my scope id here and below to keep it private).  The SAS token looks like this:

SharedAccessSignature sr=0ne00055500%2Fregistrati

[2019-11-19 21:46] Luis-Palacios commented on #42428
nvm I found the sad unwanted answer to my question [here](https://github.com/dotnet/corefx/issues/40503#issuecomment-523987878)

😞

[2019-11-19 21:49] emadalsous commented on #42428
Hello Luis,

I encountered the same issue as you. I think the issue is not related to Azure Key Vault.

It's related to the fact that in order to load a certificate you need to have "WEBSITE_LOAD_USER_PROFILE" set to 1 which is not set on Azure App Service by default. So if i want to be more specific with the question. Is it possible to use "WEBSITE_LOAD_USER_PROFILE=1" on free/shared azure app se

[2019-11-19 21:51] aliflex opened #43158 "Repeated instructions under "Configure Azure AD SSO" Step 5"
Step 5 lists: On the Set up single sign-on with SAML page, in the SAML Signing Certificate section, find Certificate (Base64). Select Download to download the certificate and save it on your computer.

Step 5 b lists the exact same instruction. To download the cert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d507f0c

[2019-11-19 21:54] mamccrea commented on #43152
Thanks for the feedback, @leifbro. I have opened a PR to remove the doc. #please-close

[2019-11-19 21:54] #43152 closed

[2019-11-19 21:59] trevorbye commented on #42570
@rbochz28 the newest version of the SDK has been pushed to the studio environment. If you create a new VM there it will have the newest SDK version. Currently managing your own dependencies is not supported there, if you want to do that I would suggest using your own local env.

@YutongTie-MSFT #please-close

[2019-11-19 21:59] #42570 closed

[2019-11-19 21:59] tchristiani commented on #36905
This issue has been assigned to our backlog for correction/update.
#please-close

[2019-11-19 21:59] #36905 closed

[2019-11-19 21:59] mhopkins-msft commented on #43075
@RA-Work-A I may have figured it out. To run this with .NET Core v2.1, you need to add a **\<LangVersion\>Preview\</LangVersion\>** tag to your project file. Here is an example **PropertyGroup** from a .csproj file targeting .NET Core 2.1:
[code]

Let me know if that works.

 ~ _Mark_

[2019-11-19 22:02] ravi6456 opened #43159 "Illustration might be inaccurate"
Hi, I believe the illustration in the section : "Communicating by using the reverse proxy", should be updated.

I believe the node on left side should have : fabric:/app1/service1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31e0a1d2-789d-240f-be0b-892d43f80b66
* Version Independent ID: aac58453-4adc-5c04-8067-d7107d

[2019-11-19 22:02] ravi6456 commented on #43159
I mean it should be fabric:/app1/service3 instead of fabric:/app1/service1

[2019-11-19 22:04] llscuba commented on #43136
Thanks TravisCragg-MSFT, I tried that but didn't seem to work. This method would also be a bit cumbersome to deploy to multiple users/devices since there is not gateway on that VPN connection; in order to add the route you will have to route it using the interface and that could change per devices... I saw an option on the Profile.xml file that I thought could work.
<Route>  <Address>10.15.15.0</A

[2019-11-19 22:06] kulbirjandoria opened #43160 "Can we implement Azure AD and AD provisioning agent with workday simultaneously ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-11-19 22:07] llscuba commented on #43136
I tried to add this on the previous reply. I guess it didn't work because it is xml. let's see if it works now.
"<!Route>  <Address>10.15.15.0</Address>  <PrefixSize>24</PrefixSize>  </Route>"

[2019-11-19 22:09] RA-Work-A commented on #43075
@mhopkins-msft That doesn't work for me. I have taken the liberty of uploading a simple console app for you to review. [AzureStorageSample](https://github.com/RA-Work-A/AzureStorageSample)

[2019-11-19 22:09] Karishma-Tiwari-MSFT commented on #43159
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-19 22:13] RA-Work-A commented on #43075
Of Note, I'm also using VS 15.9.7

[2019-11-19 22:16] PeterCLu commented on #42873
Hi @joshheitzman-redcley-v-joheit-msft , thanks for reporting the issue.

The repo directory structure was updated. You can find the correct directory location here:
[https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/ml-frameworks/pytorch/deployment/train-hyperparameter-tune-deploy-with-pytorch](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use

[2019-11-19 22:16] ROSMITHJ-MSFT opened #43161 "Instructions"
Howdy!

Just had some feedback for step two under the "Emit the metric via the REST API" step.

We're supposed to use the azureRegion and the resourceID within the curl command (in addition to the access token) but I am unsure about where to find that information. Could you post instructions where to find the azureRegion and the resourceID, in addition to examples about what they look like? This w

[2019-11-19 22:17] MarileeTurscak-MSFT commented on #43158
@aliflex
Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-19 22:18] Karishma-Tiwari-MSFT commented on #19569
The behavior is still the same, as confirmed by the product team. This feature is on the roadmap, I will share details on the timeline as soon as I get an update.

[2019-11-19 22:19] MarileeTurscak-MSFT commented on #43158
@aliflex Good catch! I made a pull request to remove the first sentence since the instructions say the same thing in step b. https://github.com/MicrosoftDocs/azure-docs-pr/pull/96520

[2019-11-19 22:19] #43158 closed

[2019-11-19 22:20] PeterCLu commented on #42928
Hi @joshheitzman-redcley-v-joheit-msft , thanks for reporting the issue.

The repo directory structure was updated. You can find the correct directory location here:
[https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/ml-frameworks/tensorflow/deployment/train-hyperparameter-tune-deploy-with-tensorflow](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-

[2019-11-19 22:31] PeterCLu commented on #42873
#please-close

[2019-11-19 22:31] #42873 closed

[2019-11-19 22:31] PeterCLu commented on #42928
#please-close

[2019-11-19 22:31] #42928 closed

[2019-11-19 22:32] MarileeTurscak-MSFT commented on #42922
I've reached out to the product team to ask. I would think your SSO solution might get confused by this but I'm not certain. I suspect like you said that it works technically but might not be supported.

[2019-11-19 22:33] flbarros opened #43162 "Why the backup expires in 30 days?"
Is it possible to provide a better answer than "it is by design" as the reason for the backup expires? Without further information, that expiration doesn't make any sense.
Any plans to change it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34eef662-c35f-230b-de28-0dcee463d8bc
* Version Independent ID: 07206d86-8410-

[2019-11-19 22:35] MicahMcKittrick-MSFT commented on #43100
@ayshakeen can likely comment further on this.

[2019-11-19 22:41] osaier commented on #43004
I think Sandbox are ok, they are not trial accounts.
Ok the problem was on my side, looks like I was trying to assign a profile (a role in Azure Ad terminology) that's particular to a community.
Thanks!

[2019-11-19 22:41] #43004 closed

[2019-11-19 22:43] GiftA-MSFT commented on #43104
@nfreear we are not supporting this use case at this time. Thanks.

@erhopf can you please confirm?

[2019-11-19 22:50] GiftA-MSFT commented on #42989
@kishan19 please let us know if you have any more questions or concerns, otherwise, we'll proceed to close this thread. Thanks.

[2019-11-19 22:50] JnHs commented on #43023
Currently Azure Lighthouse does not support data actions. We will explore allowing this as part of future enhancements, but I don’t have any specific timeline or plan to share.

[2019-11-19 22:51] diberry commented on #42890
@xieofxie - I'm not entirely sure what you are asking. Can you please restate or expand? #in-progress

[2019-11-19 22:52] #43023 closed

[2019-11-19 22:52] kevinrosal opened #43163 "Auto Remediation"
Is it currently possible to do auto remediation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d433a1-4e81-e226-e835-639daa90dab4
* Version Independent ID: ab3aa1ad-f438-e2a1-5556-9f9b6269ba76
* Content: [Remediate non-compliant resources - Azure Policy](https://docs.microsoft.com/en-us/azure/governance/policy/how-t

[2019-11-19 22:54] mhopkins-msft commented on #43075
Hi @RA-Work-A,

Since I'm able to get the quickstart code running with .NET Core 2.1 it doesn't appear that this is a documentation issue. I recommend you post your question to the forums or contact support for further help. Here's a link to the support forums: https://azure.microsoft.com/en-us/support/community/

Thanks,
 ~ _Mark_

#please-close

[2019-11-19 22:54] #43075 closed

[2019-11-19 23:03] GiftA-MSFT commented on #43108
@Larryngolog we have a separate document which illustrates [how to call the computer vision api](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/vision-api-how-to-topics/howtocallvisionapi). However, I agree that including a reference would help provide clarity. We will update the document accordingly. Please let me know if you have anymore questions or concerns. Thanks a

[2019-11-19 23:05] DCtheGeek commented on #43163
#assign:DCtheGeek

[2019-11-19 23:06] tchristiani commented on #41679
These items have been added to the backlog for the Nuget team.
#please-close

[2019-11-19 23:06] #41679 closed

[2019-11-19 23:07] DCtheGeek commented on #43163
@kevinrosal Auto remediation isn't supported within Azure Policy today. However, you could create Azure Functions, Logic Apps, or Power Automate tasks to check it and trigger remediations on a schedule or by some other trigger. Of course, we'd recommend only doing that with fully tested and validated policy definitions and changes and on appropriate sized scopes.

@MicrosoftDocs/azure-cxp-triage P

[2019-11-19 23:07] #43163 closed

[2019-11-19 23:10] femsulu commented on #43115
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-19 23:11] #42977 closed

[2019-11-19 23:12] femsulu commented on #43121
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-19 23:12] diberry commented on #41885
Fix will be published in next 24 hours. #please-close

[2019-11-19 23:12] #41885 closed

[2019-11-19 23:12] zr-msft commented on #42977
Thank you for the feedback @giggio

I have updated the docs to incorporate this feedback and the changes should be live soon.

[2019-11-19 23:14] JimacoMS3 commented on #38552
#reassign JimacoMS3

[2019-11-19 23:14] KingdomOfEnds commented on #43139
@marcelo-onfleeklabs - Thank you for your feedback! I've tested the step and could not repeat the 404. I've reached out to the engineering team to further review this scenario. Any further information you feel is helpful and appropriate to resolving the issue is also appreciated.

@yeskarthik - Added you for verification and resolution. Thanks!

[2019-11-19 23:14] femsulu commented on #43143
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

adding @qianw211 since @yijenj doesn't resolve.

[2019-11-19 23:15] JimacoMS3 commented on #39559
#reassign JimaccoMS3

[2019-11-19 23:15] PRMerger9 commented on #39559
JimaccoMS3 is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-11-19 23:15] JimacoMS3 commented on #39559
#reassign JimacoMS3

[2019-11-19 23:17] femsulu commented on #43161
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-11-19 23:19] femsulu commented on #43163
added triage labels.

[2019-11-19 23:22] JimacoMS3 commented on #40189
#reassign JimacoMS3

[2019-11-19 23:23] JimacoMS3 commented on #40260
@reassign JimacoMS3

[2019-11-19 23:24] JimacoMS3 commented on #40260
#reassign JimacoMS3

[2019-11-19 23:24] JimacoMS3 commented on #41680
#reassign JimacoMS3

[2019-11-19 23:25] YutongTie-MSFT commented on #42963
@amandasong Hi Amanda, I have created the PR and waiting for the approval. If it makes sense, the change will be online soon. I will close this for now.  Thanks for the feedback again.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-19 23:25] #42963 closed

[2019-11-19 23:26] JimacoMS3 commented on #41905
#reassign JimacoMS3

[2019-11-19 23:37] pure-zero opened #43164 "Error running create command:"
Hi,

I have gotten through the initial set up fine, but when getting to creating my cluster I am getting the following error

Deployment failed. Correlation ID: 4786e482-d085-40fd-8711-dc9090da1f25. Code="InvalidTemplateDeployment" Message="The template deployment 'e9a37e68-3726-4569-8f54-78990248a592' is not valid according to the validation procedure. The tracking id is '90f41981-ecb4-40bf-b6fc-

[2019-11-19 23:42] Alberto-Vega-MSFT commented on #43150
@njbuch Thanks for the feedback. I am assigning to the content author to review. Raspbian Buster is supported as a Tier 2 OS. And there is an entry to make it Tier 1 here: please upvote it https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/38058556-raspbian-buster

[2019-11-19 23:42] normesta commented on #34568
@dcbrown - Thank you for sharing your perspective. This is a most definitely a concern we share. The REST API docs predate a lot of our conceptual content and because many things began only with REST, those content sets contain a lot of very useful information that we'd like to make more visible. Two things are happening. #1 - we are gradually moving over some of this content already. #2 - we will

[2019-11-19 23:43] normesta commented on #34568
#please-close

[2019-11-19 23:43] #34568 closed

[2019-11-19 23:43] Karishma-Tiwari-MSFT commented on #43164
Thanks for the question. We are currently investigating and will update you shortly.

[2019-11-19 23:43] normesta commented on #39869
#please-close

[2019-11-19 23:43] #39869 closed

[2019-11-19 23:46] normesta commented on #41957
Hi @DianeHadley - thank you for sharing your perspective. We've heard the request from others (mapping commands between versions - scenario support between versions etc.) We are working on an article and will publish this soon. Thank you.

[2019-11-19 23:46] normesta commented on #41957
#please-close

[2019-11-19 23:46] #41957 closed

[2019-11-19 23:48] Nickomang commented on #8445
@amang2205, thanks for the feedback, the doc has been updated with section titles that better reflect the content.
@allanalewis, Docker Volume Driver is now Generally Available.

#please-close

[2019-11-19 23:48] #8445 closed

[2019-11-19 23:50] Alberto-Vega-MSFT commented on #43160
Hi @kulbirjandoria Thanks for reaching out. Would you please provide the link to the tutorial or documentation page you were following? This way we can pass your feedback to the right content author.
If you are not trying to provide feedback and just need help with a specific issue. Please open a thread on StackOverflow or MSDN forums where unlike here there is a developer community + engineering

[2019-11-20 00:02] Alberto-Vega-MSFT commented on #43033
@yoscbd Did you have time to look into  my previous comment?

[2019-11-20 00:03] Alberto-Vega-MSFT commented on #43035
@yoscbd Did you have time to check my previous comment?

[2019-11-20 00:09] PatAltimore commented on #37796
AD portal changes for the article have been published.

#please-close

Thanks,
Pat

[2019-11-20 00:09] #37796 closed

[2019-11-20 00:11] PatAltimore commented on #40219
I added a section on how to get the API endpoint in the "Use API" article. The update has been published.

Pat

#please-close

[2019-11-20 00:11] #40219 closed

[2019-11-20 00:13] PatAltimore commented on #42221
I've added a task to the backlog. Hopefully, the links in my previous comment will help people trying to use the APIs. I'm going to request this issue be closed for now.

Thanks,
Pat

#please-close

[2019-11-20 00:13] #42221 closed

[2019-11-20 00:17] MikeRayMSFT commented on #42439
@MashaMSFT - Could you look at this?

[2019-11-20 00:20] MikeRayMSFT commented on #42421
@wchomak - what do you mean Deploying on SQL Server with SQL 2016?

The PowerShell step sets the cluster parameters.

[2019-11-20 00:21] Alberto-Vega-MSFT commented on #43116
@dmitriyteteruk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-20 00:21] MikeRayMSFT commented on #42421
@MashaMSFT

[2019-11-20 00:21] MikeRayMSFT commented on #41065
@MashaMSFT

[2019-11-20 00:26] TravisCragg-MSFT commented on #42215
@CasperJ We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-20 00:26] TravisCragg-MSFT commented on #42828
@mjannapureddy07 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-20 00:26] #42828 closed

[2019-11-20 00:26] FrankHu-MSFT commented on #43044
Hello @Norrch2 currently the best practice is :
_put the language section in a separate file entirely_

Currently the only practice is to have multiple files. In addition to that, there is a 500KB hard limit for the local files, so please note that.

If you're interested in this feature being implemented, I suggest filing this against the uservoice feedback forums here : https://feedback.azure.com

[2019-11-20 00:28] FrankHu-MSFT commented on #43053
@MHolzmannMS thank you for letting us know about this. We're currently going to look into this further to determine next steps in regards to this issue.

cc: @billmath

[2019-11-20 00:29] #43051 closed

[2019-11-20 00:29] #43021 closed

[2019-11-20 00:29] #43028 closed

[2019-11-20 00:30] wchomak commented on #42421
Finally figured it out. I had missed the second part of the powershell script for WFCS. Once I updated it came on-line.

Walter Chomak

On Nov 19, 2019, at 7:21 PM, Mike Ray <notifications@github.com> wrote:

﻿

@wchomak<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fwchomak&data=02%7C01%7CWalter.Chomak%40microsoft.com%7Cba4acdcd1fc04b62f6ab08d76d4f9207%7C72f988bf86

[2019-11-20 00:31] Alberto-Vega-MSFT commented on #43144
@rheingold This tutorial is not intended for Raspbian Buster, with that said Raspbian Buster is supported as a Tier 2 OS for IoT Edge so you might be able to make it work if you want to.

There is an IoT Edge User Voice request to make it Tier 1 OS here: please upvote it https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/38058556-raspbian-buster
And here it is a workaround
![image

[2019-11-20 00:32] Alberto-Vega-MSFT commented on #43144
Duplicate of https://github.com/microsoftdocs/azure-docs/issues/43150

[2019-11-20 00:43] MashaMSFT commented on #40637
Hi @giovannifl , thanks for contacting Microsoft! Yes, that is correct. Using Premium File Shares with SQL Server FCI is now supported on Windows Server 2012 and greater.

I hope that helps and please let us know if you have any further questions? Otherwise, we will proceed with closing out this Git Issue in a few business days.

Thanks and hope you have a wonderful rest of your day!
Masha from th

[2019-11-20 00:53] TravisCragg-MSFT commented on #43030
@franzoir @laglergruener Unfortunately this is not supported at this time. If you would like is to prioritize adding this in the future, please leave your feedback at [Azure Networking's feedback page](https://feedback.azure.com/forums/217313-networking).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly con

[2019-11-20 00:53] #43030 closed

[2019-11-20 00:58] assafi commented on #42972
Thanks for pointing this out. Seems the API console link in the documentation is wrong.
Here's the correct [link](https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics-v3-0-Preview-1/operations/Sentiment). We'll fix the docs shortly.

[2019-11-20 00:59] walsehgal commented on #30614
@danangwijaya750, you need to use your primary key. To get the primary key, you can follow the steps [here](https://docs.microsoft.com/en-us/azure/azure-maps/tutorial-search-location#get-the-primary-key-for-your-account).

[2019-11-20 01:02] Norrch2 commented on #43044
Hi @FrankHu-MSFT

So the only way I can see this happening is by chaining the files together. Is there a way to include additional files instead of chaining them together?

[2019-11-20 01:05] Alberto-Vega-MSFT commented on #43157
Hi @stevebus Thanks for trying IoT DPS! We try to reserve this issues for documentation feedback. Would you please create a question on the dev forums [StackOverflow](https://stackoverflow.com/questions/tagged/azure-iot-hub) or on [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureiothub) there unlike here there is a dev community that can help + engineering team. If

[2019-11-20 01:06] Mja101 commented on #43157
Hi Steve,

According to the Troubleshooting documentation, errorCode 401 signifies an unathorised access attempt:

401	The authorization token cannot be validated; for example, it is expired or does not apply to the request’s URI. This error code is also returned to devices as part of the TPM attestation flow.

Perhaps you did not generate the SAS token correctly?

[2019-11-20 01:12] MashaMSFT commented on #42439
Hi @paramda , thanks for bringing this to our attention! You're right, the load balancer is not a prerequisite, and should not be mentioned in this part of the article. And I'm sorry to hear this tutorial has been confusing - it was written before the AG process was simplified, and meant to get a customer from a starting point of 0.

Instead, I would recommend taking a look at the AG creation via

[2019-11-20 01:18] dargilco commented on #41728
@wilsonlapwong Do you still see this issue? The drop down selection next to "Cognitive service account:" should show all the Speech Cognitive Services Azure resources in your Azure account (it does not show the actual value of your speech key, just the name of the Azure resource). In your client application you need to provide the speech key (or a substitute token).