[2020-01-09 14:59] mmacy commented on #45320
@anis020 Thanks for calling this out, we're going to remove that line from the article. Both web and mobile apps can use OAuth or OIDC.

#reassign:mmacy

[2020-01-09 15:07] mmacy commented on #43340
Hi @Norrch2, we've published a list of B2C error codes here:

[Error codes: Azure Active Directory B2C](https://docs.microsoft.com/azure/active-directory-b2c/error-codes)

Scenario and remediation information for some of the more commonly hit errors is forthcoming, though no ETA at this time.

[2020-01-09 15:07] mmacy commented on #45121
Hi @MySecondLife, we've published a list of B2C error codes here:

[Error codes: Azure Active Directory B2C](https://docs.microsoft.com/azure/active-directory-b2c/error-codes)

Scenario and remediation information for some of the more commonly hit errors is forthcoming, though no ETA at this time.

[2020-01-09 15:09] #45320 closed

[2020-01-09 15:09] NavtejSaini-MSFT commented on #45699
@AndyBunning Please get back to us if you have any questions. If not we will close this thread by EOD.

[2020-01-09 15:12] john-dieter commented on #45817
Update: Even though I see this in the \log\.err file:
_'﻿powershell' is not recognized as an internal or external command,
operable program or batch file._
Powershell IS actually executing my script when I run it from the batch file like this:
powershell .\mapidrive.ps1
I also see errors from the batch file like _"dir is not recognized as an internal or external command"_ and _"cd is not recognize

[2020-01-09 15:15] stdistef commented on #45679
Thank you for asking that.   I saw that too.   But I was hoping it would be listed under this section too?
Service-specific schemas for resource logs
The schema for resource diagnostic logs varies depending on the resource and log category. This list shows all services that make available resource logs and links to the service and category-specific schema where available.
Service
Schema & Docs

St

[2020-01-09 15:19] NavtejSaini-MSFT commented on #45838
@sy-huss We are checking these issues with our author and see if the document can be enhanced.
@SnehaGunda  - Please check the feedback from user and see if we can further update the doc.

[2020-01-09 15:28] ata18 commented on #45580
@Karishma-Tiwari-MSFT  Unfortunately, none of the links you have shared answer my questions.
The first link you have shared talks about listing gallery resources across subscriptions. But, my question is - how to list all image versions including the replicas (which are in multiple locations)  under a single subscription.

My second question was about deleting the image versions not the source ima

[2020-01-09 15:33] trevor-schmidt commented on #45811
@DCtheGeek I really appreciate the quick response! It is very helpful to get rapid responses while the content is fresh in the mind.

[2020-01-09 15:37] mslot opened #45862 "Azure Function: RAM and CPU, pr host or pr plan"
When reading about consumption plan and how scaling works, it is hard to figure out if the 1.5 gb RAM is pr consumption plan, or pr function instance:

1. https://docs.microsoft.com/en-us/archive/blogs/amitagarwal/azure-function-apps-performance-considerations
2. https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#consumption-plan

does every instance of my function get 1.5 gb a

[2020-01-09 15:38] Sheeler opened #45863 "Links broken in left nav bar"
Under references in the left nav bar, the links for Python, Node.js, and Go are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.m

[2020-01-09 15:47] ingd opened #45864 "What is happen with the price when I change a reservation price?"
"You can change any reservation property such as size, region, quantity, and term with an exchange."

What this means about price? Do I have to pay one year for early reservation and this will plus with my new size? It is not clear to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f0af130-6b0a-0a7e-5fd9-e67810f66b

[2020-01-09 15:52] xiayonghu opened #45865 "For example, a 404 error (resource not found) can be retried because retrying it is not likely to result in success."
[Enter feedback here]Should you remove "not" in the sentence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006f09ba-2074-4d2e-05fc-9d43bbfb58c0
* Version Independent ID: 65c2703c-bef4-5244-9265-b0d5f8d810d6
* Content: [Design highly available applications using geo-redundant storage - Azure Storage](https://docs.micr

[2020-01-09 15:56] bajumar opened #45866 "Incorrect "Connect to Disks..." Step 2"
It states "In the Azure portal, go to General &gt; Device details", which is incorrect because you cannot navigate directly to the disk from the top-level Portal UI. You must navigate to your Data Box Disk Order. Search for it by navigating to General &gt; All resources, then select your Data Box Disk Order.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-01-09 15:58] KrishnaG-MSFT commented on #45679
@stdistef Thanks for the clarification. :+1:
Assigning @rboucher for visibility, review and document enhancement consideration to update 'Service-specific schemas for resource logs' section with Azure storage details.

[2020-01-09 16:01] pvanroos commented on #45821
Thx.  Sorry.  This article referenced a previous article which contains the package reference.  I failed to see that at first read.

[2020-01-09 16:01] #45821 closed

[2020-01-09 16:05] mslot commented on #45862
In this table https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#service-limits it says pr instance. So they don't share cpu and memory, but it is very well hidden :)

[2020-01-09 16:06] seankanderson opened #45867 "Loading origin host name disabled"
I have set all this up but I get keep getting InvalidQueryParameterValue  errors when accessing the site.

&lt;Error&gt;&lt;Code&gt;InvalidQueryParameterValue&lt;/Code&gt;&lt;Message&gt;Value for one of the query parameters specified in the request URI is invalid.
RequestId:59209aa8-4802-c7a46e000
Time:2020-01-09T15:36:44.6441127Z&lt;/Message&gt;&lt;QueryParameterName&gt;comp&lt;/QueryParameterNam

[2020-01-09 16:08] SubhashVasarapu-MSFT commented on #45601
@sarah026 , Appreciate your patience. The document was accurate and as said earlier, Azure adds additional default system routes for different Azure capabilities, but only if you enable the capabilities like peering. Depending on the capability, Azure adds optional default routes to either **specific subnets within the virtual network**, or to **all subnets within a virtual network**.
So, You will

[2020-01-09 16:08] #45601 closed

[2020-01-09 16:09] steve-hawkins commented on #17395
@MicahMcKittrick-MSFT there is now an option (still in preview) to control and delay even rebootless maintenance if you have the £££ for dedicated hosts, but I also wanted to share my experience.

We use Service Fabric across Availability Zones with multiple Node Types / Scale Sets.  One Scale Set in a single Zone experienced one of these rebootless memory-preserved maintenances, which turned out

[2020-01-09 16:12] SubhashVasarapu-MSFT commented on #45612
@MukundMurali-M , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-01-09 16:12] #45612 closed

[2020-01-09 16:14] Mike-tech opened #45868 "Publishing failed - When deploying Azure Function App V1 from Visual Studio"
Hello there

I have an Azure Function V1 whihc has SharePointPnPCoreOnline nuget library package. This package don't work on Azure Function higher than V1. The solution works fine when running it locally but when i try to deploy to Azure, it create the function then fails.

I understand by default it create App Service function as V2. So i manually change the version setting back to V1 in Function

[2020-01-09 16:15] mslot commented on #45862
I am blind. Sorry for wasting your time: https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#how-the-consumption-and-premium-plans-work "Each instance of the Functions host in the consumption plan is limited to 1.5 GB of memory and one CPU. An instance of the host is the entire function app, meaning all functions within a function app share resource within an instance and scale

[2020-01-09 16:18] CeciAc opened #45869 "Clarification on local settings structure"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/572

@mariomeyrelles commented 17 hours ago — with docs.microsoft.com
I think the documentation should make clearer that the configurations needed for IOptions&lt;T&gt; should only be placed inside Values section of local.settings.json.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-01-09 16:25] jslaybaugh commented on #42966
FWIW the issue was the subnet wasn't connected to the NSG. I remedied that by adding these lines after  the existing call to `New-AzVmss`:

[code]

[2020-01-09 16:29] gregfiske commented on #45104
Yes, it says *how* but it doesn't say what to change the debug mode *to*.

[2020-01-09 16:33] trevor-schmidt opened #45870 "How to use resource graph to query AAD"
I was wondering if there was a way to query AAD App Registrations and AAD Groups? I looked in the Azure Resource Graph but could not find the right resource type to query. I am trying to find all AAD groups with certain name criteria and also trying to find all App regisrations with name criteria.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-01-09 16:33] markjbrown commented on #45723
This is not the correct place for this issue. Can you please post this on Stack Overflow here?
https://stackoverflow.com/questions/tagged/azure-cosmosdb

Thanks.

[2020-01-09 16:39] DCtheGeek commented on #45870
#assign:DCtheGeek

[2020-01-09 16:39] NavtejSaini-MSFT commented on #45829
@VitalyMCT We have created the [PR ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100595)to correct the same. Changes will reflect once the PR is approved.

[2020-01-09 16:41] SumanthMarigowda-MSFT commented on #45865
@xiayonghu Thanks for your question. We are checking on this and will respond to you soon.

[2020-01-09 16:44] SumanthMarigowda-MSFT commented on #45630
@bridgkick Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

However can you share the output ?

[2020-01-09 16:44] JnHs commented on #45189
Hi @mhollismcgill - sorry for the delay in responding. This is expected - delegation of a subscription between two tenants across separate clouds is not supported. Let us know if you have further questions!

[2020-01-09 16:44] DCtheGeek commented on #45870
Thanks for the question @trevor-schmidt. The [Azure Resource Graph overview](https://docs.microsoft.com/azure/governance/resource-graph/overview#how-does-resource-graph-complement-azure-resource-manager) has the information on what resource types are supported. For AAD specifically, only **DomainServices** is currently supported (per [Complete mode deletion - Microsoft.AAD](https://docs.microsoft.

[2020-01-09 16:44] #45870 closed

[2020-01-09 16:45] SumanthMarigowda-MSFT commented on #45633
@vavison Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-01-09 16:45] marc-gmail-towersap opened #45872 "uh, if I don't want a simple non-persistent container?"
This does work, but not really real-world.  I am trying to create two containers, a node.js container and a mongodb container, where node.js can store data in mongodb.
but I can't seem to make it connect.
I have node.js code like
const url="mongodb://mongoadmin:password123@mongodb:27017";
const mongoOptions = {useNewUrlParser : true};

const state = {
    db: null
};

const connect = (cb) =&gt; {

[2020-01-09 16:51] DanieleG90 opened #45873 "FTP connector"
I saw the list of connectors that on-premises data gateway supports, but there isn't FTP, so is not possible to connect a logic app to a FTP server on premises?

[2020-01-09 16:55] Hbaele commented on #30109
Please confirm that only custom MFA is supported and not the full Azure MFA for AAD en B2B scenarios.

[2020-01-09 16:56] DanieleG90 opened #45874 "FTP connector"
I saw the list of connectors that on-premises data gateway supports, but there isn't FTP, so is not possible to connect a logic app to a FTP server on premises?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7892e678-a98f-73fa-7c54-1a8a921f35c7
* Version Independent ID: 064c9db9-5e18-7266-1740-ada24a2086a1
* Content: [

[2020-01-09 16:59] KrishnaG-MSFT commented on #45870
@DCtheGeek Thanks for the super quick response. :+1:

[2020-01-09 17:00] trevor-schmidt commented on #45870
@DCtheGeek Sounds good I have created an item. Thank you again for the quick response.

[2020-01-09 17:01] mhollismcgill commented on #45189
Thanks for confirming that this is expected behavior!  This issue can be closed now.

[2020-01-09 17:02] KrishnaG-MSFT commented on #45864
@ingd Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-09 17:02] liudr commented on #45761
Found it using web browser, root cert appear the same as azure-devices.net's.

[2020-01-09 17:02] #45761 closed

[2020-01-09 17:04] JnHs commented on #45189
Great! #please-close

[2020-01-09 17:04] #45189 closed

[2020-01-09 17:09] tescales commented on #45669
Thanks @mgreenegit, that looks like a solid example for passing configuration arguments to the Automation Account compilation job (which I had not found); however I'm interested in passing "run-time" configuration parameters to the DSC Extension directly... see sample code below:
DSC Config sample:

[code]

And here's the ARM template...
[code]

In the above sample, I want to be able to pass the v

[2020-01-09 17:15] MattHartz commented on #45500
@Karishma-Tiwari-MSFT Any updates?

[2020-01-09 17:17] nberdy commented on #43818
You would probably purchase an intermediate cert which you would use to generate device certs. You might be able to purchase device certs directly, but I think that depends on the CA.

[2020-01-09 17:18] MattHartz commented on #14130
@BigMorty I am unable to see "Service Fabric" as an option for Container Orchestrator Support. Only docker compose and "Kubernetes/Helm". Do you know if there is a configuration i am missing in my SF solution?

[2020-01-09 17:31] markjbrown commented on #45842
There is support for user management in our v3 SDK but we do not have the samples published in those API docs. Have you tried looking at the Permission object here?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.permission?view=azure-dotnet

We have added a work item to update these API docs. However you may get the samples you are looking for on our repo first. I've added a n

[2020-01-09 17:32] cyberswimmer opened #45875 "Need some branding and other changes on this page."
"Thales" (whom I work for) divested the nShield family of HSM's in 2019 to Entrust DataCard and the product "family" is now called "nCipher nShield" rather than Thales nShield.  You need to remove mention of "Thales" from this page. Detailed instructions are below:

This sentence:

There are two options for creating Azure Key Vaults. Both options use the Thales nShield family of Hardware Security

[2020-01-09 17:33] #45862 closed

[2020-01-09 17:35] cynthn commented on #17395
Yep, the feature is called "maintenance control" and it works on isolated VMs like dedicated hosts. Here is the "how to" for [PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-control-powershell?toc=/azure/virtual-machines/windows/toc.json&bc=/azure/virtual-machines/windows/breadcrumb/toc.json) and here is the [Overview](https://docs.microsoft.com/en-us/azure/virtual-

[2020-01-09 17:37] AndreiPanko opened #45877 "the "Url to app installation" field doesn't make sence for services. Please make it optional or update the documentation with workaround."
Could you please enhance description for the **URL to app installation** field from https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/create-new-business-central-offer#url-to-app-installation

Current:
URL to app installation
If you selected **Connect** above, provide the URL for your app installation here.

Suggestion:
URL to app installation
If you selected **Connect** abo

[2020-01-09 17:46] Mike-Ubezzi-MSFT commented on #45804
@marc-gmail-towersap Thank you for the update. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-09 17:46] #45804 closed

[2020-01-09 17:51] MarileeTurscak-MSFT commented on #45863
@Sheeler thanks! I'm assigning this to the author as I don't have write access to the side panel.

[2020-01-09 17:52] wasker commented on #45746
In our experiments SP with *only* "Azure Kubernetes Service Cluster User Role" or "Azure Kubernetes Service Cluster Cluster Role" fail to run "kubectl apply" commands. The problem doesn't occur if SP is in the Contributor role for the cluster.

[2020-01-09 17:55] MarileeTurscak-MSFT commented on #45851
@gamullen
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-09 17:56] MarileeTurscak-MSFT commented on #45852
@p-selivanov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-09 17:56] himanshusinha-msft commented on #45533
@sumitt18  : Thanks for the feedback .
@ShubhaVijayasarathy  : Can you please revisit the input from @sumitt18  and do the needful ?

[2020-01-09 17:56] SergeBerwert opened #45878 "Missing feature description for 'service.beta.kubernetes.io/azure-dns-label-name'"
After the last pod update, we experienced a problem with the dns lable: We discussed it here:

https://github.com/Azure/AKS/issues/1376

It seems that this feature 'service.beta.kubernetes.io/azure-dns-label-name' is not in the documentation yet.

and the second question would be is there now a way to automatically create the IP?
in the documentation it still says that you have to create your IP m

[2020-01-09 17:58] MarileeTurscak-MSFT commented on #45853
@Lukasz994
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-09 17:58] MarileeTurscak-MSFT commented on #45856
@cbrandon2
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-09 17:59] ssemyan opened #45879 "Screenshot in docs no longer matches current UI and Linux WebApps are not Docker based anymore"
The screenshot in the docs does not match the screen in the new UI and is confusing as it leads people to believe Linux based WebApps are container based.

The page: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-ssh-support has the following image:  https://docs.microsoft.com/en-us/azure/app-service/containers/media/app-service-linux-ssh-support/app-service-linux-

[2020-01-09 18:04] cephalin commented on #44875
@RyanHill-MSFT You made changes to the doc saying that the correct default is 300MB. Can you verify? @DashleenBhandari-MSFT says in this thread the correct default is 1GB. Which is it?

[2020-01-09 18:07] nikolami opened #45880 "Machine gets deleted and not re-created if running Linux"
I had a machine running Ubuntu 16.04, and got this error message after running the script:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eed234f-9a8d-4c1b-2368-fe4c8fbe8299
* Version Independent ID: 876980d5-e42c-b070-c0a6-73ed3f2c91d1
* Content: [Change a VMs availability set - Azure Windows Virtual Machines

[2020-01-09 18:08] Mike-Ubezzi-MSFT commented on #45577
@algattik Thank you for the additional detail. I have a pull request created to be reviewed by the content owner, to add a link from this document to the AAD examples document you provided. Once it has been approved and merged, it will be live.

[2020-01-09 18:17] cephalin commented on #44525
The fix for this issue should be published sometime today. #please-close

[2020-01-09 18:17] #44525 closed

[2020-01-09 18:20] AjayKumar-MSFT commented on #45634
You can obtain tokens for any additional APIs using an on-behalf-of flow. You may checkout the demonstrated (access a custom API and the Microsoft Graph API) approach in this [blog](https://blogs.msdn.microsoft.com/mihansen/2018/04/04/azure-active-directory-authentication-easy-auth-with-multiple-backend-apis/).

[2020-01-09 18:23] cephalin commented on #45536
@TechWatching Connection String allows you to use it in ASP.NET Core like you would in appsetting.json. A "MyDbConnection" connection string in your app service would override the following:

[code]

Connection strings in App Service are provided for convenience for .NET devs. You can just as well use app settings to pull your connection strings but with EF it's very convenient to use the standard

[2020-01-09 18:23] #45536 closed

[2020-01-09 18:26] Dilergore commented on #31188
I am experiencing the exact same issue. It was working before 17th of Nov (that was the last Sunday my pipeline was able to generate an image from the Marketplace 2016-Datacenter)

[2020-01-09 18:31] KrishnaG-MSFT commented on #45877
@AndreiPanko Thanks for the feedback.
Assigning content owner @ChJenk for visibility, review and document enhancement consideration.

[2020-01-09 18:31] tomkodet opened #45882 "Bulk Invite from the Portal is no longer working"
When I click on Bulk Invite from portal.azure.com, it no longer opens the blade to upload the csv file. It redirects to this page instead of opening the blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [T

[2020-01-09 18:36] tesych commented on #45683
@NathanKinney what tutorial exactly are you using? Also, what code that we provided in our tutorial is failing when used with 1.3 version of Sensor SDK? I do not see from your code snippets what may be failing and suggest to post questions about issues with your code on [Sensor SDK GitHub](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues)

[2020-01-09 18:37] ash2017 commented on #32445
That is correct. For event grid events, message enrichment can only be applied to device telemetry events. This is also mentioned in our docs.

[2020-01-09 18:38] rolyon commented on #44843
Hi @taromielnaz
Let me know if you have any additional feedback.
thanks

[2020-01-09 18:39] rolyon commented on #44843
#please-close

[2020-01-09 18:39] #44843 closed

[2020-01-09 18:39] BryanTrach-MSFT commented on #45879
@ssemyan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-09 18:40] SadiqhAhmed-MSFT commented on #45864
@yashesvi For insights.

[2020-01-09 18:43] heyaWorld commented on #34090
Hey,

What is the "null" means for timeToLive? Does it mean '0' or infinite?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.storage.queue.cloudqueue.addmessageasync?view=azure-dotnet-legacy#Microsoft_Azure_Storage_Queue_CloudQueue_AddMessageAsync_Microsoft_Azure_Storage_Queue_CloudQueueMessage_System_Nullable_System_TimeSpan__System_Nullable_System_TimeSpan__Microsoft_Azure_Storage_Q

[2020-01-09 18:54] fiveisprime opened #45883 "The Functions tutorial needs a few updates"
DevDiv has been running user studies for the Azure Functions extension in VS Code and most (if not all) of the users have landed on [this document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code).

We've seen these users all run into the same problems and I think we can help by changing a few things in this doc.

## 1. VS Code no longer needs to be r

[2020-01-09 18:59] HeidiSteen commented on #42934
The docs are published:  https://docs.microsoft.com/en-us/azure/search/preview-api-resetskills
Thanks again for bringing this content gap to our attention!

#please-close

[2020-01-09 18:59] #42934 closed

[2020-01-09 19:00] MrCNeale commented on #38594
@udderchaos did you find the cause of this?  I am seeing the same.
I can create delegations and offers in the customer subscription and see them from "Lighthouse/Manage Service Providers" there.
But when I log in to portal using the managing azure ad tenant then the lighthouse/customers section is empty....

[2020-01-09 19:01] CeciAc opened #45884 "Licences"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/670

The comment below was machine-translated

@CallMeByMyName commented 6 hours ago — with docs.microsoft.com
Hello,

The function requires Azure AD Preminum 1 or 2.

So says 1 and the console Azure says 2 ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-01-09 19:01] fkhan0429 opened #45885 "Hi, the core behavior of the provisioning service trying to update the manager field is explained here: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-app-provisioning#what-happens-during-provisioning"
Hi, the core behavior of the provisioning service trying to update the manager field is explained here: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-saas-app-provisioning#what-happens-during-provisioning

The Azure AD SCIM client implementation is built on top of the Azure AD user provisioning service, which follows this pattern of doing a round trip to link newly-creat

[2020-01-09 19:02] harsh-vm commented on #31188
@sanchetanparmar and @Dilergore,

This seems to be really an issue for most people. I wonder how it worked for me!

I had the image built just once as mentioned earlier by increasing the time out and the image was created with no further issues. What I hadn’t tried was creating VM with that image! Probably there might be an issue even there. I have currently moved on to 2019 core server from 2016

[2020-01-09 19:02] fkhan0429 commented on #45885
Accidentally hit the create issue button.. closing this

[2020-01-09 19:02] #45885 closed

[2020-01-09 19:03] fkhan0429 commented on #11784
Can any of you plz proivide the screenshot how does the attribute mapping looks like for updating manager email?

[2020-01-09 19:04] ctaggart opened #45886 "W3COperationCorrelationTelemetryInitializer is obsolete"
[code]

Is it correct to add it like this via F# code?
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bf57356-6cef-7a75-9dd9-8f4af8372372
* Version Independent ID: ed6ee0db-681b-01f7-2b58-a409e62da6cf
* Content: [Azure Application Insights telemetry correlation - Azure Monitor](https://docs.microsoft.com/en-us/

[2020-01-09 19:09] NathanKinney commented on #45683
The difficult part is that portion of documentation does not have any code referenced other than running the built in command to capture, which I attempted to run. I am met with the error code posted prior. I went under the hood to figure out if it was a small fix but still received the same error, from the small snipet prior.

k4arecorder.exe -l 5 %TEMP%\output.mkv is met with the the application

[2020-01-09 19:09] MicrosoftGuyJFlo commented on #45709
Baseline policies are going away. https://docs.microsoft.com/azure/active-directory/fundamentals/whats-new#replacement-of-baseline-policies-with-security-defaults

[2020-01-09 19:11] CeciAc opened #45887 "Details on Azure AD admin accounts supported"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/671

@bsocca commented 3 hours ago — with docs.microsoft.com
Hi,
For the O365 MFA & Security Default offers, could you detail what you mean exactly by Azure AD admin accounts ?
All users with an Azure AD role are included (Guest Inviter, Reports Reader, etc.) ? Does it work for custom role also ?
Could you co

[2020-01-09 19:15] AjayKumar-MSFT commented on #45682
@m14cus, Just to highlight, the Python extensions for App Service on Windows is deprecated in favor of a direct deployment to App Service on Linux. Kindly ensure you're using App Service for Linux rather than a Windows-based instance. Ensure that the Python module is correctly set requirement.txt and include below line of code as first line in requirements.txt file ' --find-links wheelhouse'

[2020-01-09 19:15] KranthiPakala-MSFT commented on #45860
@helloyesthisisdave Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-01-09 19:17] MicrosoftGuyJFlo commented on #45884
@CeciAc and @CallMeByMyName

Conditional Access requires Azure AD Premium P1 or Microsoft 365 Business licenses.

If you want to add risk based policies those require Azure AD Identity Protection which is a P2 feature.

[2020-01-09 19:19] KingdomOfEnds opened #45889 "Missing Links - 404"
Hi! Thank you for the great documentation and helpful code samples. I was reviewing a couple items listed above and noticed that the following links result in 404's:

1. https://github.com/Azure-Samples/ms-identity-java-desktop/tree/master/Call-MsGraph-WithUsernamePassword

    ![image](https://user-images.githubusercontent.com/43044425/72097769-f64cbf80-32d1-11ea-95c8-d1a4aa0f91e8.png)

1. https:

[2020-01-09 19:23] MicrosoftGuyJFlo commented on #45884
#please-close

[2020-01-09 19:23] #45884 closed

[2020-01-09 19:31] sudheer0503 opened #45890 "Is it possible to set the life cycle policy at blob level or use RegEx in prefix?"
It is unclear in this document whether it is possible to set the life cycle policy per blob. Is just setting prefix to container1/blob1.txt will assign the policy to a blob? Also, is it possible to give a regex in the prefix?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version

[2020-01-09 19:34] anis020 commented on #45318
@sourvamishra-msft @shashishailaj

The information provided above is completely irrelevant. The question was around multi-region and not multi-tenant.

[2020-01-09 19:36] pjboardman opened #45891 "What is meant by "category""
This section: https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#control-logging-level

Is "category" namespace/assembly or something else? What field does it correspond to in Log Analytics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09a09da-72ae-d5c0-fe25-69274054d302
* Version Independent ID: 6911e

[2020-01-09 19:37] wasker commented on #45746
Update: it looks like we were missing Reader role for the cluster. Reader + Cluster Admin/User work for us. Probably worth mentioning that in the documentation.

[2020-01-09 19:39] crisansou opened #45892 "Key Vault - Problem to set variable using Web Activity"
Hello,

I'm trying to follow the documentation steps, but I didn't found the "Integration runtime" parameter and cannot set the value of the variable. Can someone help me?

URL (Web Activity): [https://kv-adventure-works-tst.vault.azure.net/secrets/application-insights-key/c1b567890312343he52bdf07cb5fea5b?api-version=7.0](https://kv-adventure-works-tst.vault.azure.net/secrets/application-insights-

[2020-01-09 19:46] jlazlab commented on #45630
I also get an error when attempting to deploy via VS Code.  Portal works fine

Error: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature.

[2020-01-09 19:49] jlian opened #45893 "We should mention that if there's a proxy it's hard to make this sample work"
Like if the port is blocked by a corporate firewall. There's no easy workaround other than using a different networking environment like running the sample in an Azure VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Version Independent ID: 7c6b3210-d878-0347-27af-199c2c00daa9
*

[2020-01-09 19:51] taromielnaz commented on #44843
Following the steps I got this result:
Owner
***** Azure Subscription
Subscription
Subscription admins

[2020-01-09 19:53] AjayKumar-MSFT commented on #45705
@JeremyTCD, For creating a WebApp using Powershell use:
New-AzWebApp -ResourceGroupName "RGname" -Name "yoursitename" -Location "West US" -AppServicePlan "yourAppserviceplanname"

[Reference](https://docs.microsoft.com/powershell/module/az.websites/new-azwebapp?view=azps-3.3.0).  Also, checkout 'az webapp up' and 'az webapp create' difference in cmdlets in this [document](https://docs.microsoft.co

[2020-01-09 19:57] Mike-Ubezzi-MSFT commented on #41987
@polszewski I just stepped through this tutorial and can reach step 12 but unable to proceed as I used a Microsoft specific Azure Subscription, and because there are some many others who have likely created a SendGrid account, the quota has been reached (see image).

![Screenshot (578)](https://user-images.githubusercontent.com/37126106/72100123-e8e60400-32d6-11ea-95d5-5b27f8ccbd71.png)

In your s

[2020-01-09 20:07] davidsmatlak commented on #44360
#assign:davidsmatlak

[2020-01-09 20:08] himanshusinha-msft commented on #45854
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:08] SeanCLeavitt opened #45894 "Tutorial?"
Is there a hands on learning tutorial available for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206a4592-16ac-8ef7-7a33-508535c3ea50
* Version Independent ID: 24785e7d-1caf-dd48-dc26-e5d258d899b1
* Content: [Container workloads - Azure Batch - Azure Batch](https://docs.microsoft.com/en-us/azure/batch/batch-doc

[2020-01-09 20:10] himanshusinha-msft commented on #45872
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:13] himanshusinha-msft commented on #45857
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:16] himanshusinha-msft commented on #45859
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:17] joshua-alday opened #45895 "New cluster using Node Pools + Calico not allowing connections between nodes"
**Related Technology**: AKS
**Kubernetes Version**: 1.14.8
**Location**: SouthCentral US

**Details**
New cluster created using network plugin kubenet, VMSS node pools, and with enabled network policy, Calico, results in pods across nodes unable to connect. No network policy has been created yet. Here is the list of existing pods...
[code]

Using this log, the regsys is unable to connect to either

[2020-01-09 20:17] rcorral-ci opened #45896 "pfx files encrypted with AES256 are not supported."
This page should clearly indicate that Azure does not support AES256 and all pfx files should be encrypted with TrippleDES.

When importing a pfx file Azure will only give an error message of 'wrong password or invalid file' when trying to upload a pfx cert file encrypted with AES256

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-01-09 20:18] BharathNimmala-MSFT commented on #45891
@pjboardman Thank you for reaching out, we will look into the issue and get back to you at the earliest.

[2020-01-09 20:18] himanshusinha-msft commented on #45866
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:19] BharathNimmala-MSFT commented on #45886
@ctaggart Thank you for your query, we will look into it and get back to you at the earliest. Thanks

[2020-01-09 20:20] himanshusinha-msft commented on #45867
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:23] himanshusinha-msft commented on #45868
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-09 20:23] #45868 closed

[2020-01-09 20:24] himanshusinha-msft commented on #45869
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:26] himanshusinha-msft commented on #45873
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-09 20:28] marc-gmail-towersap opened #45897 "if I have a multi-container deploy, why do I only see the web container in azure portal?"
I have two containers, a mongodb container and a mongo-express container.  I run that az webapp create  with the multicontainer-config-file mongo.yaml (which has both containers).  It works (unlike if I swap the mongo-express container with my node.js container, that fails).  but anyhoo, I look in the azure portal, I only see the webapp container as an app service.  Is the app service acting as a

[2020-01-09 20:29] himanshusinha-msft commented on #45874
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:31] himanshusinha-msft commented on #45875
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:32] himanshusinha-msft commented on #45880
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:33] Mike-Ubezzi-MSFT commented on #41987
As a follow up, I created a Free Azure account to remove any internal Microsoft subscription limitation, and I was able to create the account. I was also able to verify my email address and access the SendGrid portal (https://app.sendgrid.com/)

[2020-01-09 20:37] himanshusinha-msft commented on #45882
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:39] himanshusinha-msft commented on #45883
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:40] himanshusinha-msft commented on #45887
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:41] himanshusinha-msft commented on #45889
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:42] himanshusinha-msft commented on #45890
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:44] himanshusinha-msft commented on #45892
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:45] himanshusinha-msft commented on #45893
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:46] rolyon commented on #45853
Hi @Lukasz994
Thanks for the feedback. The resource provider operations page should be mostly current. It was last updated at the beginning of December. What seems out of date?
To get latest list, you can use the following CLI command:
az provider operation list
https://docs.microsoft.com/en-us/cli/azure/provider/operation?view=azure-cli-latest#az-provider-operation-list
thanks

[2020-01-09 20:47] himanshusinha-msft commented on #45894
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:47] byroncollins commented on #44455
Thanks for the clarification.

Is it possible to scan existing images for an updated security assessment of vulnerabilities after building and pushing the image. We were looking for a solution that not only assessed new images for vulnerabilities but also existing images as vulnerabilities are discovered.

[2020-01-09 20:49] himanshusinha-msft commented on #45895
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-09 20:51] himanshusinha-msft commented on #45896
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:52] himanshusinha-msft commented on #45897
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-09 20:53] rolyon commented on #44843
Hi @taromielnaz
Based on your output, it appears that you have been assigned the Owner role on the subscription. This role gives you full access to the subscription.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#owner
thanks

[2020-01-09 20:56] joshua-alday commented on #45895
I'm not familiar with a public forum for technical issues on MSDN. Could you please link this?

[2020-01-09 20:58] KranthiPakala-MSFT commented on #45724
Hi there,
Just checking to see if you have got a chance to email the details requested. Please let us know here once the details are sent.

Thanks.

[2020-01-09 21:03] himanshusinha-msft commented on #45895
I think since your question is related to AKS , you need to post your question here
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices

[2020-01-09 21:05] chriswhitts opened #45900 "Incorrect links in section "Enable System Assigned Identity""
The following four links are supposed to explain HOW to enable system assigned identity for a Logic App.
* Azure portal
* Azure Resource Manager templates
* Azure PowerShell
* Azure CLI

The first two links DO show how within the same page (as it is possible to do it this way). But the second two (Powershell and CLI) are links to external pages showing how to enable RBAC on a resource for system a

[2020-01-09 21:06] taromielnaz commented on #44843
Thanks, so it can be considered as closed.

[2020-01-09 21:06] MicrosoftGuyJFlo commented on #45784
Yes I confirmed with the product group that security defaults are being enabled in newly created directories by default. Will be updating this doc soon with additional information.

[2020-01-09 21:06] MicrosoftGuyJFlo commented on #45784
#please-close

[2020-01-09 21:06] #45784 closed

[2020-01-09 21:08] mathieu-benoit commented on #45770
Yep, looks like those 2 changes need to be applied here too:
- https://github.com/MicrosoftDocs/azure-docs/commit/f45688ef332f7853bda72718be79c29f17a03a4e#diff-91033f59176b87940f372e047e800533
- https://github.com/MicrosoftDocs/azure-docs/commit/71ded9579835ee93637638f59ea3565c62cf87b0#diff-91033f59176b87940f372e047e800533

That's maybe the opportunity to upgrade to the `.0.12.0` version of the `c

[2020-01-09 21:09] MicrosoftGuyJFlo commented on #45814
@toddjohnson39 I cannot comment on any future plans. If this is something you feel should be added the best way to get that feedback to the product team is to open a product feedback item at the bottom of the page where it says "Send feedback about... This product". I can also forward this issue to them but adding a feedback request allows other customers to vote on the same request showing the le

[2020-01-09 21:11] MicrosoftGuyJFlo commented on #45814
#please-close

[2020-01-09 21:11] #45814 closed

[2020-01-09 21:12] moewill opened #45901 "Misspelling "PR""
[Enter feedback here]
Misspelling in this line ```# User Assigned Idntities ```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20f12c89-40e2-076e-6135-64773551e673
* Version Independent ID: c2d6ac4a-fad9-dbc1-d125-b267bcd2a566
* Content: [Tutorial - Create an Application Gateway ingress controller in Azure Kubernetes S

[2020-01-09 21:13] joshua-alday commented on #45895
Done, thank you.

[2020-01-09 21:13] #45895 closed

[2020-01-09 21:14] rbeauchamp opened #45902 "Duplicate IP address/Netmask listed for Central US"
Central US:
20.37.156.0/26,
20.37.156.0/26,
20.44.10.64/28

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP addresses - Azure Data Factory](https://docs.microsoft.com/en-us/azure/da

[2020-01-09 21:18] MicrosoftGuyJFlo commented on #45709
#please-close

[2020-01-09 21:18] #45709 closed

[2020-01-09 21:19] MicrosoftGuyJFlo commented on #40130
#please-close

[2020-01-09 21:19] #40130 closed

[2020-01-09 21:23] Karishma-Tiwari-MSFT commented on #45894
This article shows you how to create a pool of compute nodes that support running container tasks, and then run container tasks on the pool.
@SeanCLeavitt Can you please share what more details you would like to see in the document.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-09 21:23] MGoedtel commented on #43874
I've updated the article and it will be released at the next publishing cycle. I also confirmed with engineering all the details related to the behavior and use of this new SKU, and included those details in the article (along with updated template examples that I tested earlier).  #please-close.

[2020-01-09 21:23] #43874 closed

[2020-01-09 21:23] Adam-Smith-MSFT commented on #45791
@markmabe It should not take that long, unless if the content of the storage account is large in comparison with the other accounts, Do you happen to have a support plan for your account to open a ticket for further investigation ?
If not, Could you please reach to me via AZCommunity[AT]microsoft.com with a link to this Issue as well as your subscription ID and we can help get a support ticket ope

[2020-01-09 21:27] yzheng-msft commented on #45738
We will support append blob as a filter for delete rules.

[2020-01-09 21:30] SeanCLeavitt commented on #45894
If this article is a tutorial, could it be adopted into the normal "Tutorial" format that we see across all "docs" articles?  For example: https://docs.microsoft.com/en-us/azure/batch/tutorial-parallel-dotnet

[2020-01-09 21:33] danmyhre opened #45903 "Clarification Needed on GA Accounts"
Are you recommending that GA accounts are setup with an EXO mailbox with the following properties?
- MAPI/ActiveSync/POP/IMAP: Disabled
- Forwarding rule to send all email to non-administrator (day to day) account for the user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 826a3309-03a5-60b4-aa4c-63f385150455
* Version

[2020-01-09 21:39] #45692 closed

[2020-01-09 21:42] sdgilley commented on #45692
@oo2316oo - Thanks for the question.  I've updated the document to help clarify this.  The updated version should be online later today.

#please-close

[2020-01-09 21:44] Karishma-Tiwari-MSFT commented on #45894
Thank you @SeanCLeavitt.
Adding what you shared offline for the author 'Basically, I see this "Container workloads" document as being a combination of technical documentation and tutorial - what I'm asking for is a dedicated "Tutorial" article on how to do this end to end.'

[2020-01-09 21:51] davidsmatlak commented on #44360
@sujayt I'll review the document and update aliases with Az module cmdlet names. When I submit the PR I'll send you a request to review the changes.

[2020-01-09 21:53] StingyJack commented on #45897
@marc-gmail-towersap  - I think if you pick Container on the first page of the app service wizard, you will get a "Docker" page as the second page in the wizard where you can choose the options for multiple containers

[2020-01-09 21:57] mhopkins-msft commented on #45554
@FuntimeMS Thanks for the feedback! I have updated the document. It should be published later today.

#please-close

[2020-01-09 21:57] #45554 closed

[2020-01-09 21:59] mike-urnun-msft commented on #43203
Hi all - Sorry for the delay in response. I'll prioritize this issue and share my findings.

[2020-01-09 22:12] mike-urnun-msft commented on #45900
@chriswhitts Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-09 22:23] anavinahar commented on #45707
#assign:@asudbring

[2020-01-09 22:23] Karishma-Tiwari-MSFT commented on #45854
Sorry you ran into issues with it. I am not sure why you would be seeing issues with the file path. were you using Azure CLI to achieve this or Azure Powershell/command prompt? Let me know.
The document does mention that 'you could also use the contents of your SSH public key instead of specifying a path.'
Reference doc: https://docs.microsoft.com/en-us/cli/azure/vm/user?view=azure-cli-latest#exam

[2020-01-09 22:36] ScottAzure opened #45905 "Can we get the TOC updated to reflect that this is Nvidia specific content now that AMD specific content exists."
Can we update the title/string of the doc to be NVIDAO specific

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c5bc749-3f68-e230-37ff-f74ce72efb59
* Version Independent ID: 2a382803-e085-82e2-4139-be5c8b9e1a0d
* Content: [Azure N-series GPU driver setup for Windows - Azure Windows Virtual Machines](https://docs.micros

[2020-01-09 22:37] FrankHu-MSFT commented on #45716
@alvipeo i'm not sure I understand what you mean. I was explaining how the request correlates to the web apis. I wasn't discussing the token acquistion at all.

The user will only get the scopes that he has permissions to. Please take a thorough look at the documentation for more information : https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens

In additi

[2020-01-09 22:37] #45716 closed

[2020-01-09 22:40] hullflyer opened #45906 "Train fail - LUIS authoring resource need to be in same region as Command project?"
In Speech Studio it appears we have to Train before Test.  When I create a new project it will Train and Test OK before I make any changes.  If I even just change the DefaultResponse in the Completion Rule for the default FallbackCommand (or change anything else) there is an error "Train Application Failed" and it looks like the error might relate to creation of the LUIS resource.  I can't find a

[2020-01-09 22:42] markmabe commented on #45791
@adam-smith-msft The storage account was a new storage account and had no data in it, it was just created for testing to see how quickly Azure Security Center would enable ATP on it. We have MS case 120010724003942 open but the MS support engineer couldn't provide a firm answer on how long we should expect it to take for ATP to be enabled. The support engineer and cited a few things saying 8 hours

[2020-01-09 22:53] Karishma-Tiwari-MSFT commented on #45878
For your first request for doc update, I have assigned the issue to the content author to investigate further and update the document as appropriate.

For your second question,
The document referred above states that

Please refer to [this document](https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#plan-ip-addressing-for-your-cluster) for more details on IP addressing for AKS cluster.

[2020-01-09 22:53] #36888 closed

[2020-01-09 22:53] asinn826 commented on #44841
@LukeCarrier that's a good point, especially on the general content of the Azure docs. At least for the serial console docs I can see ways we can improve both readability and maintenance by consolidating some of the content in the Linux and Windows sections and reducing the emphasis on the OS split. I probably won't have time in the near term to get around to restructuring them, but I have this me

[2020-01-09 22:55] KingdomOfEnds opened #45907 "MSAL Migration Image"
Hi! Thanks for the great and very helpful documentation. I ran into the following after duplicating the code block above:

[code]

![differences](https://user-images.githubusercontent.com/43044425/72111642-4175cb00-32f0-11ea-8034-2470016738f2.png)

I'm also not sure, but I believe the second `catch` [clause requires an argument](https://docs.microsoft.com/dotnet/visual-basic/language-reference/sta

[2020-01-09 22:57] GiftA-MSFT commented on #45906
@hullflyer thanks for reaching out. We will review this issue and get back to you shortly.

[2020-01-09 23:04] JimacoMS3 commented on #42894
Hi @SunilMiracle

Thanks for the catch on the screenshot! I'll update that in a bit.

The good news is that V2 of the SDK GA'd over the holidays. I've updated this topic and the samples it runs to reflect the V2 SDK.

**Please note**: pay attention when you are in other python topics -- many have not been updated yet. This will happen over the next couple of weeks. In the interim check out the sam

[2020-01-09 23:04] JimacoMS3 commented on #42894
#please-close

[2020-01-09 23:04] #42894 closed

[2020-01-09 23:07] kgremban commented on #45535
Thanks for pointing this out, @ylashin. I'm looking into it.

[2020-01-09 23:26] Karishma-Tiwari-MSFT commented on #45735
@genlin Do you have any insights to share on this question?

[2020-01-09 23:37] MarileeTurscak-MSFT commented on #45889
@KingdomOfEnds thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100680

[2020-01-09 23:37] #45889 closed

[2020-01-09 23:43] JimacoMS3 commented on #44814
@jflynn129 FYI, the topic has now been updated for V2 service and device clients. Please check it out. At this time, we're still working on some of the other topics. In the meantime, please check out the [Python SDK](https://github.com/Azure/azure-iot-sdk-python) for more detail about functionality and samples.

-Jimaco

[2020-01-09 23:45] JimacoMS3 commented on #40260
Hi @jomalsan,

The V2 Python SDK GA'd last month and this topic and its samples have been updated to use the V2 clients. You should be able to use pip to install both without worrying about boost, etc.

**Please note**: pay attention when you are in other python topics -- many have not been updated yet. This will happen over the next couple of weeks. In the interim check out the samples published

[2020-01-09 23:46] JimacoMS3 commented on #40260
#please-close

[2020-01-09 23:46] #40260 closed

[2020-01-09 23:47] andreasmarx opened #45908 "Misssing info for DNS configuration"
Hi.
How can I configure DNS Servers for my P2S VPN Clients with Azure AD authentication? I cannot configure DNS Servers in vWAN as I can do it on a normal VNet.
Best regards
Andreas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14f2bf88-b3d3-0dc4-7258-614929d2ffc6
* Version Independent ID: 94a5a807-8690-08cb-ff81-a935

[2020-01-09 23:51] kgremban commented on #45535
@ylashin I recreated the scenario, and see what you mean about the messy logs with many errors because `During handling of the above exception, another exception occurred...`

I simplified the code within the except block to print `e` and `"No response from classification service"`, then stopped the classifier module to force the exception and got the following in the logs:

[code]

As you can see

[2020-01-09 23:55] KranthiPakala-MSFT commented on #45571
Hi @ankku, thanks for the feedback. We will definitely pass this info to the content author.

Regarding your error issue, I'm unable to reproduce the same error message since you have changed the procedure name.  It would be helpful if you can attach the screenshot of the exact error message.
But we were able to follow the tutorial and the pipeline executes as expected without any issues.

I would

[2020-01-09 23:55] #45571 closed

[2020-01-09 23:57] anzaman commented on #45908
That functionality does not exist for vWAN today but is on the road map.

[2020-01-09 23:59] danielsollondon commented on #44790
Hi, sorry for the delay, we have been doing further investigation with the Windows PG, we have found an issue when using Standard_D1_v2 and the Nov/Dev WinSvr 2016 images, which is mitigated by increasing the vm size to Standard_D2_v2, I am waiting for details on the solution. But I am not convinced this is your issue, I have tried to repro this issue a few times, but cannot get it to repro, but I

[2020-01-10 00:03] kgremban commented on #43440
@dgancho thanks for bringing this to our attention. Deepthi updated the sample notebooks yesterday. Would you like to test the scenario again to make sure that this fix resolved your issue?

[2020-01-10 00:04] robinsh commented on #44535
I'm confused about what you're looking for. You talk about CLI then change in mid-stream to discuss what looks like an Azure Resource Manager template? I don't know what those two things have to do with each other. Is this what you are trying to do: _create an event subscription of IOT Hub Event for a Function App using CLI _ ? Are you trying to use Event grid to subscribe to an IoT Hub event and

[2020-01-10 00:13] yashesvi commented on #45864
"The prorated reservation amount is refunded for the reservations that you trade-in. You're charged fully for the new purchase. The prorated reservation amount is the daily prorated residual value of the reservation being returned."

Does this not answer?

[2020-01-10 00:17] ylashin commented on #45535
@kgremban Thanks for the feedback, did not notice at the time of leaving my comment that response was also needed in the function return value 😄

IMHO, having `UnboundLocalError` errors in the logs is not cool or even allowing them to happen. So I suggest one of two options:

1. Rethrow the exception in `sendFrameForProcessing`  but this will force us to introduce another try/except section inside

[2020-01-10 00:19] devszr opened #45910 "Tracked Templates option missing in Partner Center"
Hi,

We don't seem to find "Tracked Templates" as an option in Partner Center's Cloud Product Performance page. Has it been removed ?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db44bc8f-a6d7-8651-165d-929230435633
* Version Independent ID: c7847825-9d79-419e-a177-aca5872f1431
* Content: [Azure partner and

[2020-01-10 00:20] normesta commented on #45630
Thanks @bridgkick - yes the latest version of the extension does enable the experience that you describe. The other way around (the experience that is currently documented) works as well. Thanks for the reminder of this other approach. We'll have to look at which approach is the easiest as far as tutorial content is concerned. That said, we'll drive some visibility into the latest experience (whic

[2020-01-10 00:25] tesych commented on #45683
@NathanKinney, can you please open the issue on [Sensor SDK GitHub](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues). We have the template there for bugs types issues that will guide you through the questions helping us to understand the issue.

[2020-01-10 00:27] Grace-MacJones-MSFT commented on #45714
Hello @jeremyklamer ,

Yes, upgrading from S1 tier to P1 tier would only take a couple of second. However, your reasoning is correct. Your app service plan is tied to a specific server rack(s) in the data center. S and P tiers are in the same pricing tier (Production) & racks thus making it possible to scale up. However, switching from a B1 to a P1v2 is currently not possible because the server ra

[2020-01-10 00:28] chwarr opened #45911 "AKS scale documentation missing Az PowerShell, Portal, API explination"
The documentation for AKS scaling doesn't explain how to perform a scale operation using either Az PowerShell, the Azure Portal, or the Azure AKS/resource API. It would be better if it talked about these other methods of manipulating Azure resources as well as the `az` command line tool.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-01-10 00:35] normesta commented on #45039
Thanks again for raising the concern. We will re-review this article to ensure that the content in it is up to date and accurate. Please do let us know if you find something specific on the page that is inaccurate and we will fix right away.

[2020-01-10 00:35] normesta commented on #45039
#please-close

[2020-01-10 00:35] #45039 closed

[2020-01-10 00:37] Karishma-Tiwari-MSFT commented on #45905
Just to confirm, are you referring to the title on this left side pane?
![image](https://user-images.githubusercontent.com/20851144/72116163-36c23280-32fe-11ea-96c5-f1cb158af549.png)

[2020-01-10 00:38] mathieu-benoit opened #45912 "Use the Kured Helm chart instead?"
It would be great to use the official Kured Helm chart instead of the `kubectl apply -f` command: https://hub.helm.sh/charts/stable/kured

Here is an example illustrating how to do this with Helm 3:
`helm install kured stable/kured --set nodeSelector."beta\.kubernetes\.io/os"=linux`

Without this, I found out 2 issues:
- Kured is not working for Windows nodes so we need to use a `nodeSelector`
- K

[2020-01-10 00:45] normesta commented on #44848
@ioamnesia thanks for reporting. The instructions have been updated. The change should appear live by tomorrow 11 AM. Thank you again.

[2020-01-10 00:45] normesta commented on #44848
#please-close

[2020-01-10 00:45] #44848 closed

[2020-01-10 00:46] Karishma-Tiwari-MSFT commented on #45905
As shared offline by the original poster,

[2020-01-10 00:46] anzaman commented on #45908
#please-close

[2020-01-10 00:46] #45908 closed

[2020-01-10 00:47] iainfoulds commented on #44830
If there's additional info you're looking for, @HoCGeek, please let us know. Otherwise, for now #please-close as there's no direct doc updates required.

[2020-01-10 00:47] #44830 closed

[2020-01-10 00:49] iainfoulds commented on #44348
Hi, @v-akhana. Can you provide a little more information as to what you're looking for here? I'm not sure what specific steps would be missing since Azure AD DS isn't generating a certificate unless it's self-signed, which as the tutorial, isn't really for production use.

[2020-01-10 00:55] Karishma-Tiwari-MSFT commented on #45912
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @zr-msft @mlearned

[2020-01-10 01:01] mvhbharath opened #45913 "mocking cosmos client in pytest"
I am trying to mock cosmos_client using pytest and there seems to be no documentation for this.  I am not able to use cosmos DB emulator as our environment does not support it. Here is what I am trying to do. How do I mock self.client.QueryItems in the below code.  It would be great to have a few examples of UpserItem.

def get_user_id(self, id):
query = {
                    "query": "SELECT * FR

[2020-01-10 01:01] MarileeTurscak-MSFT commented on #45887
I believe that it is referring to an actual Azure AD tenant admin, and not [other admin roles within Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles). In either case I don't think the roles you mentioned would apply. I'm assigning this to the content author, @iainfoulds , to clarify.

[2020-01-10 01:01] connor-beames opened #45914 "page filter being deprecated."
shopify has alerted us that the calls we are making to their api through this connector are deprecated. Page filters have been removed from all endpoints and we should update this to use cursor-based pagination instead. They mentioned we should update our app to versioo 2019-07 or later. https://help.shopify.com/en/api/guides/paginated-rest-results?utm_source=exacttarget&utm_medium=email&utm_campa

[2020-01-10 01:03] Mike-Crowley commented on #41233
@hdeanmurray I think your first question is addressed in the article above.

Your 2nd question about a break glass account won't work with Security Defaults. If you want to do that, you'll need to use non-free Conditional Access Policies instead of the Free Security Defaults, which is really just to bring the general population up to a minimum level of security - vs addressing all tenant best prac

[2020-01-10 01:07] dcbrown16 opened #45915 "Missing from ToC"
This article doesn't show anywhere in the Table of Contents, please make it discoverable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f895a4a7-ab8c-b63e-58b9-b5ecaebd7bc9
* Version Independent ID: 90dcb4e2-b017-93a5-15af-20e355ccefb4
* Content: [Manage Modules in Azure Automation](https://docs.microsoft.com/en-us/az

[2020-01-10 01:13] Skhorava commented on #43925
Hello Everyone,
Can anyone share the actual difference between baseline protection and security defaults.
Many thanks in advance!
SK

[2020-01-10 01:18] MarileeTurscak-MSFT commented on #45790
@MaranVerweij I agree that this should be changed as you need both an Azure subscription and an Azure AD Premium license for this. https://azure.microsoft.com/en-us/pricing/details/active-directory/

I made a pull request to update the documentation. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100706

[2020-01-10 01:18] #45790 closed

[2020-01-10 01:29] MarileeTurscak-MSFT commented on #45856
@cbrandon2 you need to have a subscription with resources in it in order for that setting to show on those resources. Do you have this there?

[2020-01-10 01:30] MarileeTurscak-MSFT commented on #45901
@moewill
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-10 01:34] MarileeTurscak-MSFT commented on #45901
Thanks! Just made a pull request to fix this. If you have already made a pull request, please include it in the comments and we will merge it for you. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100708

[2020-01-10 01:34] #45901 closed

[2020-01-10 01:50] nickbeagley2 commented on #43897
I just wanted to add that I was struggling with callbacks as it is currently documented here (and elsewhere) and it was only when i read this open issue that I managed to get a callback working with a body by following @bigdaveydave's example.

[2020-01-10 01:58] MicrosoftGuyJFlo commented on #43925
@Skhorava instead of multiple policies to enable its one toggle switch. Was blogged about today.

https://techcommunity.microsoft.com/t5/azure-active-directory-identity/introducing-security-defaults/ba-p/1061414

[2020-01-10 02:19] Karishma-Tiwari-MSFT commented on #44841
Thanks @asinn826
Thanks @LukeCarrier for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-10 02:19] #44841 closed

[2020-01-10 02:20] Karishma-Tiwari-MSFT commented on #45580
@ata18 Thanks for sharing an update. I am reaching out to the product team and will share an update as I hear back.

[2020-01-10 02:20] KrishnaG-MSFT commented on #45915
@dcbrown16 Thanks for the feedback. We might have to update href / reference in ToC document.
Assigning content owner @MGoedtel for visibility, review and document enhancement consideration.

[2020-01-10 02:22] TravisCragg-MSFT commented on #45789
@sugarjig  As the app is a multi-tenant app, you will have to have global administrator rights on the subscription. You can have someone with those rights run the command, or have your account granted the access.

[2020-01-10 02:24] KrishnaG-MSFT commented on #45910
@devszr Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-10 02:30] KrishnaG-MSFT commented on #45862
@mslot No problem. We are glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-01-10 02:39] neeleshray-msft commented on #45903
@danmyhre Thanks for your feedback. We will review and update as appropriate.

[2020-01-10 02:40] neeleshray-msft commented on #45907
@KingdomOfEnds Thanks for your feedback. We will review and update as appropriate.

[2020-01-10 02:47] jainlavish commented on #42825
I am also having the same issue, any update on this.

[2020-01-10 02:52] kogesaka commented on #44632
Some time has passed, but is there any progress?

[2020-01-10 02:55] skyizthelimit opened #45917 "Individual enrollment Using X509 device certificates"
We have device X509 certificate generated from our CA trust chain and the private key itself is stored in device TPM. We want to do individual enrollment of the device using X509 attestation using  Azure DPS API without using azure dps portal as we plan to automate the process to add many more devices later. Can we do individual enrollment of a device using device X509 certificate without uploadin

[2020-01-10 03:00] DixitArora-MSFT commented on #45675
@sharmamanish260979 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-10 03:00] #45675 closed

[2020-01-10 03:00] DixitArora-MSFT commented on #45645
@meethariprasad Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-10 03:00] #45645 closed

[2020-01-10 03:01] DixitArora-MSFT commented on #45772
@rashmiinamdar Just following up again in case missed the previous communication.

[2020-01-10 03:02] DixitArora-MSFT commented on #45913
Hi @mvhbharath Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-10 03:03] AshokPeddakotla-MSFT commented on #45893
@JimacoMS3 Assigning this issue to you. Please update doc as appropriate.

[2020-01-10 03:10] DixitArora-MSFT commented on #45902
Hi @rbeauchamp Thanks for your feedback. We will review and update as appropriate.

[2020-01-10 03:11] DixitArora-MSFT commented on #45911
Hi @chwarr Thanks for your feedback. We will review and update as appropriate.

[2020-01-10 03:12] DixitArora-MSFT commented on #45914
Hi @connor-beames Thanks for reaching out. We will review and update as appropriate.

[2020-01-10 03:28] imaculate commented on #19569
Subscribed, also interested in when pub/offer/sku will be queryable

[2020-01-10 03:30] #45626 closed

[2020-01-10 03:41] mvhbharath commented on #45913
When our environment does not support CosmosDB emulator we are not able to unit test the database operations.  We have to mock the database and there is no documentation here in https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-python-samples.

[2020-01-10 03:50] KalyanChanumolu-MSFT commented on #45842
Thanks @markjbrown

@alexmartinezm Please subscribe to the issue to get notified when the samples are available.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-10 03:50] #45842 closed

[2020-01-10 04:06] nabhishek commented on #45902
@rbeauchamp thanks for reporting this. I have checked in the changes containing the fix. https://github.com/MicrosoftDocs/azure-docs-pr/pull/100720

[2020-01-10 04:07] nabhishek commented on #45902
#Please-close

[2020-01-10 04:07] #45902 closed

[2020-01-10 04:21] ecfan commented on #45900
Thanks @chriswhitts! We've just merged a fix to remove the links.

@mike-urnun-msft: #please-close

[2020-01-10 04:21] #45900 closed

[2020-01-10 04:54] cybertron2600 opened #45921 "Azure CSP Docs Completely Broken"
Team,

The issue is critical for my company at this time due to migrations taking place.

All of the following such links are broken:
https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-overview

Anything Beyond /azure/cloud-solution-provider/ is redirecting to the Partner Portal.

Search Results with /azure/cloud-solution-provider/ links:
https://docs.microsoft.com/e

[2020-01-10 05:00] VikasPullagura-MSFT commented on #45605
@peledins Apologies for delayed response, I was checking internally with the product team on this.

Currently KeyVaultReferences do not support auto certificate rollover, so the answer for “Will Service Fabric deliver them immediately?” is NO.
You need an application upgrade after updating the manifest with the new versioned KeyVaultURL.
There are plans to support version less URL and hence auto-u

[2020-01-10 05:00] #45605 closed

[2020-01-10 05:27] andreasmarx commented on #45908
Thanks for the feedback. So, how do I configure DNS Servers for the new VPN Client azurevpnconfig.xml? I was not successfull trying to add something like this:

<clientconfig>
  <dnsservers>
    <dnsserver>
      10.10.2.4
    </dnsserver>
    <dnsserver>
      10.10.2.5
    </dnsserver>
  </dnsservers>
</clientconfig>

Please update the documentation how to do that.

Best regards
Andreas

[2020-01-10 05:29] BharathNimmala-MSFT commented on #45559
@gituser227 Thank you for your query and hope the above information helps to clarify the query. For now, will go ahead and close the issue however if you have any further question please tag us in your reply and will be happy to reopen the thread and continue the conversation. Thanks

[2020-01-10 05:29] #45559 closed

[2020-01-10 05:31] VikasPullagura-MSFT commented on #45796
@soheilade Using AKS is recommended, try using AKS and let us know if you run into any issues following the document.

We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2020-01-10 05:31] #45796 closed

[2020-01-10 05:35] #45082 closed

[2020-01-10 05:36] DashleenBhandari-MSFT commented on #45639
@msangapu-msft , Request you to please look into this document.

[2020-01-10 05:40] msrini-MSFT commented on #45776
@aarfe , Please tag me if you have any further questions.

[2020-01-10 05:40] #45776 closed

[2020-01-10 05:40] Naveenkhasyap opened #45922 "Issue with mentioning Blob SAS url"
the default url which we copy from the blob SAS won't work
Solution : As per this https://github.com/MicrosoftDocs/azure-docs/issues/32732 , by adding container name just before query params in the url  like below made it work. "yourblobname.blob.core.windows.net/&lt;name_of_your_container&gt;/?rest of the sas url"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-01-10 05:41] Galey801 commented on #45875
I'll revert to the Azure Key Vault team to find out what form of words they are happy with and then make the necessary changes.

[2020-01-10 05:54] rashmiinamdar commented on #45773
Code is not on GIthub. It's in Azure.

Below is the code that I am using -
#from azureml.core import run
#run = Run.get_context()
#run.register_model(model_name='{sklearn_mnist_model.pkl}')
#run.register(Run.get_context().experiment.workspace, #model_path='/mnt/azmnt/code/Users/rashmi.inamdar/Cloned_New_Model/tutorials/sklearn_mnist_model.pkl', model_name='sklearn_mnist_model.pkl', tags=None, prop

[2020-01-10 06:01] KrishnaG-MSFT commented on #45884
@MicrosoftGuyJFlo Thanks for the quick response. 👍

[2020-01-10 06:05] DixitArora-MSFT commented on #45917
Hi @skyizthelimit Thanks for reaching out. We will review and update as appropriate.

[2020-01-10 06:10] harryvinod2608 opened #45923 "Support for RADIUS Authentication"
Is RADIUS authentication supported for Device and User tunnels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 054e25ff-9daf-60ba-53e0-0be9ba862e94
* Version Independent ID: 4c6b0faf-bd4b-e6e4-4256-f1e5297222a6
* Content: [Configure an Always-On VPN tunnel - Azure VPN Gateway](https://docs.microsoft.com/en-us/azure/vpn

[2020-01-10 06:14] AjayKumar-MSFT commented on #45848
@mavusi, Kindly checkout this doc '[Send and receive push notifications with Azure Notification Hubs and Xamarin.Forms](https://docs.microsoft.com/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub)' and see if it helps your requirement.

[2020-01-10 06:17] BharathNimmala-MSFT commented on #45497
@Schenz Hope the above information helps to further isolate the issue. For now, will go ahead and close the issue. Please validate from your side if any further queries please feel free to tag us in your reply and will be more than happy to reopen the thread and continue the conversation. Thanks

[2020-01-10 06:17] #45497 closed

[2020-01-10 06:24] SadiqhAhmed-MSFT commented on #45769
@bandersmsft Could you please review this requirement and update as appropriat?

[2020-01-10 06:28] KrishnaG-MSFT commented on #45668
It looks like this is a test or spam. Closing the issue.

[2020-01-10 06:28] #45668 closed

[2020-01-10 06:34] msrini-MSFT commented on #45923
@harryvinod2608 , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-10 06:38] PramodValavala-MSFT commented on #45874
@DanieleG90 There is a [feature request](https://feedback.azure.com/forums/287593-logic-apps/suggestions/32222287-add-to-ftp-sftp-option-in-on-premises-data-gateway) for supporting this scenario which you could up vote for it to gain more traction.

While this is not supported, another way to setup access to on-premise data sources is by using an [Integration Service Environment](https://docs.micr

[2020-01-10 06:38] #45874 closed

[2020-01-10 06:42] Galey801 commented on #45875
Changes have been made and submitted via Pull Request https://github.com/MicrosoftDocs/azure-docs-pr/pull/100726

[2020-01-10 06:42] PramodValavala-MSFT commented on #45883
@fiveisprime Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2020-01-10 06:47] Galey801 commented on #45875
@SaurabhSharma-MSFT I cannot close the issue - forgot to link the issue to the commit so it will need to be closed manually

[2020-01-10 06:57] dcbrown16 opened #45925 "Marketplace images"
"Original H-series VMs feature 56 Gb/sec Mellanox FDR InfiniBand. To leverage the InfiniBand interface on H-series, customers must deploy using officially supported images specific to this VM type from the Azure Marketplace."
How do we find these images?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d9f65d0-2ef2-bc61

[2020-01-10 06:57] Dilergore commented on #31188
@harsh-vm My Packer pipeline looks like, that I use the Marketplace "2016-Datacenter" to create a Bronze image. Then I push it to a Shared Image Gallery, then I use it again in Packer during a second build (second pipeline) to create a Golden Image which I trigger right after the Bronze Pipeline.

If I use the Bronze Image from 17th of Nov, that builds okay as a Golden Image. I think there is a ne

[2020-01-10 07:03] dcbrown16 commented on #45925
Or is that just supposed to mean "you can't get InfiniBand if you upload your own image"?
Our customer is trying to deploy RHEL 7.7 on H16m.

[2020-01-10 07:39] vrvrvrvrvr opened #45926 "Qna Maker Multi-turn conversations don't work on teams or web (v2)"
Hi,

I'm trying to build a bot by using Microsoft QnA maker. I discovered the nice feature 'multi turn conversations' which give the opportunity to add follow-up response. I implemented this in my base and it works perfectly in the test emulator on https://www.qnamaker.ai/

But when I publish the bot on Azure, it works but multi turn conversations and follow-up responses don't work. Same question

[2020-01-10 08:02] VikasPullagura-MSFT commented on #45925
@dcbrown16 I am assigning the issue to the content author for checking on this query and adding comments.

[2020-01-10 08:03] VikasPullagura-MSFT commented on #45925
@vermagit Can you please look into this and add your comments.

[2020-01-10 08:12] g0pinath commented on #16721
The below has worked well for me. My requirement, I check for the pod status and if the pod has completed, then I delete the node. In my case I am running a very resource intensive script, and so each node exactly has only 1 pod running on it. After the pod is completed, the node then is deleted.
======================
Code snippet.
    Function DeleteNode($nodeName)
    {
        kubectl delete n

[2020-01-10 08:15] pratibhashenoy opened #45927 "Steps to expand OS disk using Azure Portal."
The current document only talks about steps to expand OS disk using Azure PowerShell, please include the steps to expand OS disk using Azure Portal as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c11bab28-a82a-29a1-84bf-fb3dfb9a5cb2
* Content: [Expa

[2020-01-10 08:17] DixitArora-MSFT commented on #45921
Hi @cybertron2600 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-10 08:18] older commented on #43807
It seem to be fixed in 99d0aa6

[2020-01-10 08:18] #43807 closed

[2020-01-10 08:22] jmprieur commented on #45907
@KingdomOfEnds thanks for your feedback
the code in this image is more to give a (simplified) idea of the migration. There are samples which have the right code

#please-close

[2020-01-10 08:22] #45907 closed

[2020-01-10 08:39] VikasPullagura-MSFT commented on #45927
@pratibhashenoy Thanks for the Feedback. I am assigning the issue to content author for this doc enhancement request.

[2020-01-10 08:41] VikasPullagura-MSFT commented on #45927
@kirpasingh Can you please check this doc enhancement request and add your comments on updating the document as applicable.

[2020-01-10 08:56] michalmlaka commented on #45724
Hi thanks, I will use support plan.

[2020-01-10 08:57] marcin-vt opened #45928 "Containers mounting vnet restricted shares fails (only sometimes)"
I am creating container instance with one container mounting file share. Container is assigned to subnet using network profile and file share storage account only allows traffic from this subnet. Container is designed to start once per hour. I noticed that from time to time container will not start - no error will be thrown. Container instance then has status Failed and container has previous stat

[2020-01-10 09:06] SnehaAgrawal-MSFT commented on #45766
@Ahmad-Al-Ali Thanks for bringing this to our attention. Your feedback has been shared with the content owner for an update as appropriate.

[2020-01-10 09:17] ChiragMishra-MSFT commented on #45914
@connor-beames Thanks for bringing this to our notice. I am assigning the issue to the content owner to update as appropriate.

[2020-01-10 09:18] ChiragMishra-MSFT commented on #45914
@linda33wj Can you please take a look at this?

[2020-01-10 09:20] ChiragMishra-MSFT commented on #45830
@hrasheed-msft Can you please take a look at this?

[2020-01-10 09:22] ChiragMishra-MSFT commented on #45759
@nehatiwari1994 We haven't heard from you in quite some time - Was your query resolved ?

[2020-01-10 09:26] msfe opened #45929 "Configure Cluster Tags after Creation"
In the Cluster Tags Section (https://docs.microsoft.com/en-us/azure/databricks/clusters/configure#cluster-tags) you state that "You can add custom tags when you create a cluster.". Is there any way to change these after creation time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b57bc7-a97e-947c-442f-7ffbf13aa6cb
*

[2020-01-10 09:36] marcin-vt commented on #45928
I was able to reproduce the issue with simplified example. I am attaching ARM template which created vnet, subnet, network profile and storage account with file share: [container_test.json.txt](https://github.com/MicrosoftDocs/azure-docs/files/4044771/container_test.json.txt)
I am deploying it with command line (az group deployment create -g resource-group t --template-file container_test.json)

T

[2020-01-10 09:44] #45764 closed

[2020-01-10 09:44] csamleong commented on #45764
Thanks for the clarification, it is much clearer to me now.

[2020-01-10 09:53] ab-mohamed commented on #42313
@MSSedusch: Than you for the confirmation and elaboration. :)

[2020-01-10 09:58] alexmartinezm commented on #45842
Hi @markjbrown,

The problem is that v3 is missing the method `ReadPermissionFeedAsync` which retrieves a permissions list. Is there any way to retrieve a list of permissions?

Thanks.

Àlex Martínez.

[2020-01-10 10:19] AshokPeddakotla-MSFT commented on #45075
Thanks for the PR.  Closing this issue now. Please let us know if anything else required and we would be glad to re-open.

[2020-01-10 10:19] #45075 closed

[2020-01-10 10:24] AshokPeddakotla-MSFT commented on #45022
@jlian Thanks for the [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100450).
@anhashia Suggested changes were added to the doc. Changes will go live the PR is merged. Closing this issue now. Please let us know if any update requires and we would be glad to re-open.

[2020-01-10 10:24] #45022 closed

[2020-01-10 10:24] RohitMungi-MSFT commented on #45922
@Naveenkhasyap Thanks for pointing this out. It looks like document already mentions this in this [section](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/curl-train-extract#train-a-form-recognizer-model) to use the container name in the URL.

[2020-01-10 10:29] ChiragMishra-MSFT commented on #45929
@msfe Yes you can change custom tags. To do so, you would do the following :

- go to clusters and select the cluster

- Hit edit as shown below :
![image](https://user-images.githubusercontent.com/43365826/72146217-004deb80-33c2-11ea-83b7-2b51ef884ff8.png)

- Expand "Advanced Options" and click on Tags. You will now see your custom tags appear as an editable input box as shown below :
![image](ht

[2020-01-10 10:30] RohitMungi-MSFT commented on #45926
@vrvrvrvrvr Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-01-10 10:30] pcardenasmoya commented on #43961
Same problem here... @EdAlexander, could you please provide further information regarding where did you find the additional "classic" policies list?

Thanks!

[2020-01-10 10:38] dtdono0 opened #45931 "Identity was not created initially, getting warning about overwriting existing data-factory"
We have several things in our existing ADF, but it was created without an identity.

I just tried to create the identity by running Set-AzDataFactoryV2 but am getting a warning about the data factory being overwritten.  I REALLY do not want to risk deleting the current one.  Is this Set-AzDataFactoryV2 safe to run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-01-10 10:41] Naveenkhasyap commented on #45922
@RohitMungi-MSFT yes document mentions it but from azure portal when I grant SAS the actual Blob url is missing the container name, since we will be granting SAS for whole blob not particular document within the container.
And during analyzing step we will be passing the form present within the container and this gives you perfect Blob SAS url along with container name but not the same when we do

[2020-01-10 10:45] AshokPeddakotla-MSFT commented on #45683
@tesych Thanks for looking into this issue.

@NathanKinney As suggested, please open an issue on [Sensor SDK GitHub](https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues) for further help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-10 10:45] #45683 closed

[2020-01-10 10:46] RohitMungi-MSFT commented on #45773
@rashmiinamdar Your step is using a path local to the notebook rather than the run's output path. Please include the path relevant that is accessible to the run and it should be able to register the model using `run.register_model(model_name='<model_name>', model_path='<model_path>')`

Here is a screen shot of the same from the azure portal for the relevant run after all the steps  are run in the

[2020-01-10 11:10] #42184 closed

[2020-01-10 11:11] msfe commented on #45929
That is perfect, thanks for the quick reply! And I guess it would be a good addition to the article if you can find an appropriate location.

[2020-01-10 11:11] #45929 closed

[2020-01-10 11:24] RohitMungi-MSFT commented on #45922
@Naveenkhasyap From azure portal and storage explorer the container name is added if SAS URL is created for container or the file. SAS signature can be created for the container and the file. Please see the screen shots below.

For Container:
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/46958063/72149388-0bf0e080-33c9-11ea-9706-fa1d837fc42c.png">

For File:
<img wid

[2020-01-10 11:25] RohitMungi-MSFT commented on #45753
@madiepev We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-10 11:25] #45753 closed

[2020-01-10 11:38] jakaruna-MSFT commented on #45678
@bnawijn Will you be able to use self managed agents

[2020-01-10 11:47] jeroenwo opened #45932 "Typo in example?"
https://docs.microsoft.com/en-gb/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door

The first example contains an underscore for frontend host C.
Bullet 4 shows the hosts that should be displayed, and instead the underscore is api.contoso.com.

I didn't understand what the underscore in the config was for, I expect it to be a typo?

---
#### Docume

[2020-01-10 11:48] MJR3552 commented on #43961
Same problem here ..., removed some old "classic" policies. Still have the problem that I am not able to acivate the new security standards.

[2020-01-10 11:50] sheridans commented on #43961
I have raised a call with Microsoft tech support yesterday regarding this, after going through and showing the initial ms tech guy what the issue was the issue was escalated, had a second MS tech take a look (shown the same thing as the first) and was instructed they would have to escalate the case again.

Currently awaiting MS to get back to me on this issue, obviously not something people are do

[2020-01-10 11:56] dooleydo opened #45933 "Clarification on when the IP is evaluated"
It appears that the IP is only evaluated at the time you hit login.microsoftonline.com.  If you split tunnel traffic so, for example, traffic to login.microsoftonline.com goes via your VPN and therefore a trusted location you will still be trusted when accessing resources directly (not via VPN).  It would be useful to know which endpoints (perhaps only login.microsoftonline.com) are involved in CA

[2020-01-10 12:01] Naveenkhasyap commented on #45922
@RohitMungi-MSFT not sure I am not getting that for containers strange. :thinking:

[2020-01-10 12:03] KrishnaG-MSFT commented on #45694
@kelsosharp Firstly, I have tried to reproduce the issue by following the steps provided in the referred document but ended up with no issues. To diagnose your issue in a better way, you would have to follow below steps.

1. Try to deploy in different location(s) and see if it still throws similar error or not.
2. After the validation is passed, try to download the ARM template and try to deploy t

[2020-01-10 12:03] #45694 closed

[2020-01-10 12:05] edfreeman opened #45935 ""Access denied" error in Storage Explorer in portal despite 'correct' permissions"
Hi everyone.

I have an ADLS Gen2 account. I have a colleague who needs to have access to that account and be able to view the data within the Azure Portal. I have followed the instructions from the documentation above: https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal#assign-the-reader-role-for-portal-access.

Namely, I have given my colleague "Reader" permission

[2020-01-10 12:05] jakaruna-MSFT commented on #45911
@chwarr Thanks for the feedback.
Most of the documents in AKS has azure cli only.  I will let the author to comment on this and update the doc if needed.

[2020-01-10 12:05] dooleydo commented on #45933
This is similar to https://github.com/MicrosoftDocs/azure-docs/issues/7059.  The point is that a split tunneled VPN client will effectively have two public IPs, so the key here is knowing which endpoints need to be hit by the trusted IP (VPN traffic) in order to pass CA.  Example - if you authenticate with your trusted IP then access apps, such as teams, with your untrusted public IP you will stil

[2020-01-10 12:11] aarfe commented on #45776
Thank you Karthik, I got it now, I had to re-read that sentence a few times :-)

[2020-01-10 12:12] #45652 closed

[2020-01-10 12:18] jakaruna-MSFT commented on #45746
@wasker Good to know that your issue is resolved.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-10 12:20] jakaruna-MSFT commented on #45591
@DavidArayaSanabria thanks for the info.

[2020-01-10 12:42] msrini-MSFT commented on #45932
@jeroenwo , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-10 12:51] ingd commented on #45864
@yashesvi, yes, yes. Perfect. I am sorry. It was my bad.

Thank you very much!

[2020-01-10 12:59] Milos-N opened #45936 "All documents on page do reffer to on-prem MFA solution"
Hello, all the attachments are related to no more supported on-prem MFA server solution. Could you please re-work them to use the current methods?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 801e24a9-1f47-871e-549c-e870f5de7069
* Version Independent ID: 11504b10-9773-28ac-fb30-fcd6d60c7dee
* Content: [Az

[2020-01-10 13:01] SadiqhAhmed-MSFT commented on #45864
@yashesvi Thanks for your help.

@ingd Closing this issue for now. Please don't hesitate to reply if you've any further questions that we can help with.

[2020-01-10 13:01] #45864 closed

[2020-01-10 13:08] karthick3d opened #45937 "Usage Details V2"
Hi,

I am not able to get the details of the Usage Details V2 from RESTful calls. (Usage Details Version 2 -
Get richer usage and purchase data. This file provides all usage, RI purchases, RI amortization.)

This is available through portal. Could you please provide the API url behind the scene or point me to the right documentation.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-01-10 13:10] azens1995 commented on #19401
Can anyone help me regarding the same issue using the custom html and custom policies. I have added the cors too, still I get the same error.

[2020-01-10 13:38] DixitArora-MSFT commented on #45928
Hi @marcin-vt Thanks for reaching out. We will review and update as appropriate.

[2020-01-10 13:39] DixitArora-MSFT commented on #45931
Hi @dtdono0 Thanks for reaching out. We will review and update as appropriate.

[2020-01-10 13:41] DixitArora-MSFT commented on #45933
Hi @dooleydo Thanks for reaching out. We will review and update as appropriate.

[2020-01-10 13:42] DixitArora-MSFT commented on #45935
Hi @edfreeman Thanks for reaching out. We will review and update as appropriate.

[2020-01-10 13:44] DixitArora-MSFT commented on #45936
Hi @Milos-N Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-10 14:00] Milos-N commented on #45936
Hello, sorry I missed the information. The affected URL is following: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-nps-vpn

[2020-01-10 14:18] cybertron2600 commented on #45921
Sure:

https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-overview

That documentation, along with anything /azure/cloud-solution-provider/ is missing.

[2020-01-10 14:21] KrishnaG-MSFT commented on #45885
@fkhan0429 Thanks for the update and clarification.

[2020-01-10 14:24] KrishnaG-MSFT commented on #45908
Tagging @anzaman for visibility, review and document enhancement consideration.

[2020-01-10 14:38] cloudsquadbr opened #45938 "[Question] Integration with Printers"
Is it possible to integrate with local printers if they're reachable by local network?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to Windows Virtual Desktop Windows 10 or 7 - Azure](https://docs.m

[2020-01-10 14:39] cdanieloliveira opened #45939 "[Question] User C drive using Remote Access Client"
How does local user C drive work on Remote Access client? If an application requires to export data into user's local computer, is it possible to do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 524e47b0-1295-7d07-0cbc-86e6daaa1358
* Version Independent ID: 1cb3a5d8-4f16-583c-ad85-325f7638a873
* Content: [Connect to

[2020-01-10 14:50] rbeauchamp commented on #45902
@nabhishek Thank you!

[2020-01-10 14:53] garddolau opened #45940 "Azure Bastion will not accept a £ sign in the users password"
Please can you confirm this an resolve as it could impact UK users who use this character in their password.

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d53c0bc-f5bb-0f6e-5fb7-fb775eab4f4a
* Version Independent ID: b8d3a089-c160-7681-2a06-c230c19143db
* Content: [Connect to a Windows VM using Azure Bastion]

[2020-01-10 14:54] NeilMeredith commented on #42934
@HeidiSteen Great, thank you for adding this documentation!

[2020-01-10 15:02] gsahlstrom opened #45941 "Sign-in page text is behind login"
We tried setting the sign-in page text, so that staff with problems logging in can get the info they need to contact our service desk. But the text is only displayed on the page that is displayed after successful entry of password, heading to the MFA approval. Which kind of defeats the purpose of having a generic text with simple contact details... if they remember the password, they tend to get i

[2020-01-10 15:04] bnawijn commented on #45678
@jakaruna-MSFT Yes we can use self managed agents (don't really want to thought ;)).

[2020-01-10 15:06] KrishnaG-MSFT commented on #45937
@karthick3d Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-10 15:08] mimergel opened #45942 "/hana/log caching be enabled without or with read caching?"
Hi, I think this sentence is incorrectly stated. Can you please review and correct? It should state "with read caching" instead "without".
Thanks
...
/hana/log - no caching - exception for M- and Mv2-Series where Write Accelerator should be enabled without read caching.
...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-01-10 15:34] crisansou commented on #45892
Hi,

In my case I used "Web Activity" directly on "Copy Activity" and it worked by setting "@activity('GetKey').output.value" to the "x-api-Key" parameter: https://imgur.com/eaQUInr

[2020-01-10 15:38] philippschaefer4 commented on #34940
Hello,
I have the same problem. I want  to programmatically update my webservice that was built with the visual designer. I would like to use the python SDK.
I am able to retrain and register the model from a jupyter notebook.

My problem is also that I get the same error for "service.update(models = [new_model])"

=> Error, both "models" and "inference_config" inputs must be provided in order to

[2020-01-10 15:40] adhishrajgupta commented on #35616
Thank you all! Noticed that error code 900382 is missing from aadsts error reference. Would it be helpful to add that to the aadsts error reference [here]([https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/develop/reference-aadsts-error-codes.md]).

[2020-01-10 15:42] msjuergent commented on #45942
The statement is correct:
•	For all VM Series we are recommending not to ‘read or write cache’ any log drives. This includes /hana/log/.
•	For M-Series (Mv1, Mv2), we are recommending using Write Accelerator for any log drives, including /hana/log. However, Write Accelerator needs to be used exclusively w/o any additional caching method like read caching.
Read caching simply does not make any sens

[2020-01-10 15:46] rfolkes commented on #44080
@aurokk  I'm trying to get your example to work, but I'm getting a "System.InvalidCastException: 'Unable to cast object of type 'MongoDB.Bson.BsonObjectId' to type 'MongoDB.Bson.BsonDocument'.'" when the change stream triggers. Any ideas why? (running the MongoDB.Driver 2.10.0)

[2020-01-10 15:50] StingyJack commented on #45897
I also would like to know how we are supposed to open a console connection to the containers.

[2020-01-10 16:03] dotnetgator opened #45946 "Value for DebugMode in the Metadata section needs to be specified"
There is a DebugMode key specified in the Metadata section, but no indication as to what value(s) could/should be set to enable the DebugMode. There is a reference to the "Returning error message" section that follows later in the article, but it makes no mention of the value for the setting.

Perhaps it would be best to include a Metadata section snippet in the "Returning error message" section t

[2020-01-10 16:04] #45699 closed

[2020-01-10 16:07] NavtejSaini-MSFT commented on #45723
@Peter-B- We are going ahead and closing this thread for now. Please get back to us if any other doc issue.

[2020-01-10 16:07] #45723 closed

[2020-01-10 16:30] esabban opened #45947 "Bringup information, resource attribution, what can be attributed?"
I've read in another page that attribution doesn't even initialize until you've reached $100 in monthly cloud spend, then it's 1 month from then that you'll see anything in the portal. I think this would go very well in the attribution documentation if true.

Also, it would be nice to get an idea how this works internally.

How does this apply to Azure resources such as AKS
Does it apply to anythi

[2020-01-10 16:36] stdistef opened #45948 "Networking: VPN GWs per Virtual Network seems wrong"
In the Networking section, there is a table.
The entry for "VPN GWs" is as follows and seems wrong.
Virtual network gateways (VPN Gateways) per virtual network:  	30

While it is true that all the VPN GWs support a max of "30 tunnels" (https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpngateways#gwsku), the fact is you can only have 1 Virtual Network GW of type VPN GW in a VNet

[2020-01-10 16:39] lucavice commented on #21382
I just spent a couple of hours trying to use the "tenantUserCount" report API, and the response contains only an empty value. These reporting APIs seem outdated and not working, and it not clear at all if there is any sort of alternative. Currently it does not seem possible to know the number of users in a B2C tenant via API or other means... Any update on this issue is greatly appreciated.

[2020-01-10 16:53] mimergel commented on #45942
Thanks Jürgen, understood.
I got confused by the picture which shows “read-only + write accelerator” on LUN 0
[cid:image003.png@01D5C7DE.D855B3A0]

From: Juergen Thomas <notifications@github.com>
Sent: Friday, January 10, 2020 4:42 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Michael Mergell <Michael.Mergell@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Mi

[2020-01-10 17:09] KrishnaG-MSFT commented on #45947
@esabban Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-10 17:10] maulik1shah opened #45949 "How to reference a schema definition in another schema in Cosmos DB?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-10 17:12] maulik1shah commented on #45949
I have a schema let's say Address.json and has address definition in X collection. I want to use it in Person.json in X collection and Visitor.json in Y collection. What should I put in the $ref for defining a property that uses address from Address.json?

[2020-01-10 17:20] Sprinton commented on #12826
Hello,

i'm afraid i'm following the same steps, i pass a different name other than the hosntame in my config.yaml to create the device certificates and still the error below occurs.
Appreciate your kind support.
using Stretch on Raspberrypi 3.

[code]

[2020-01-10 17:20] dotnetgator opened #45950 "Documentation fails to indicate HTTP Verb used based on SendClaimsIn value selection"
Difference values for the available SendClaimsIn Metadata selection result in the REST call being made with different HTTP verbs - QueryString makes a GET call, whereas Form makes a POST call. That should be indicated in the document (as well as the verbs used by other options.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-10 17:23] ChristianMontoya commented on #45731
@jakaruna-MSFT : Forwarded internally, to get the right folks involved.

[2020-01-10 17:28] KranthiPakala-MSFT commented on #45724
Thanks for the confirmation! Once a support ticket is created, please do share it here for tracking purpose.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thanks.

[2020-01-10 17:28] #45724 closed

[2020-01-10 17:29] Noirde commented on #45071
Regarding Keith post there's <NameID Format="urn:oasis:names:tc:SAML:2.0:nameid-format:persistent">ftOmbYBIMVgi3RWFQa2lLAqkmtzBAdZXJjrcQVo5KR0</NameID>.

I guess Keith is doing something quite similiar to me, but somehow against the v1 and not the v2. For testing I took the assertion I got back after successfully logging into SAP Cloud Platform via Azure AD. I transformed it into base64 via https:

[2020-01-10 17:31] empz opened #45951 "Need more documentation on how to setup a elastic pool as the target"
The documentation mentions the creation of a master credential to refresh the credentials of the target databases.

[code]
It's not clear what steps needs to be done on the the pool databases in order for this to work.

Can some clarify this and maybe add the required code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-01-10 17:33] szisti commented on #28317
Is there any update on this?
I can see 2 very simple solutions:

- add full $select support for oidc/userinfo endpoint
- add support for `sub` on the /me endpoint

Either of these would allow to get details of the users
the full point of having the sub, is that it ensures that it's the correct user
so if i have to implement another call to get *more* details of the user, where this validation is n

[2020-01-10 17:39] #45734 closed

[2020-01-10 17:40] vinod83k opened #45952 "FInal Disk encryption status data should be updated"
I got the following status, as volume disk was not provisioned according to the powershell script in demo.
OsVolumeEncrypted          : Encrypted
DataVolumesEncrypted       : NoDiskFound
OsVolumeEncryptionSettings : Microsoft.Azure.Management.Compute.Models.DiskEncryptionSettings
ProgressMessage            : Provisioning succeeded

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-01-10 17:48] tamram commented on #45935
#reassign: @tamram

[2020-01-10 17:52] HoCGeek commented on #44830
I would suggest that changing the line from " ...based on the total number of objects in your Active Directory Domain Services managed domain..." to "...based on the total number of objects in your **_Azure_** Active Directory Domain Services managed domain..." would certainly clear up some of the confusion.

Thanks,

Dan

[2020-01-10 17:55] HoCGeek commented on #44830
Oops, I forgot to reiterate my question about getting a count of the synchronized objects - is there a way to get  account from Azure AD DS of the number of objects that have been synced?  Is there a powershell module for AAD DS?

Thanks again,

Dan

[2020-01-10 17:58] steele82 opened #45954 "Prerequisites"
The Rescue VM does not have to be in the same resource group as the problem VM. Please remove this prerequiste.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d2cc5d2-62e6-7f79-eae8-28532c9e7a62
* Version Independent ID: 43470df8-a9fd-f9b7-45e2-a7616434e405
* Content: [Troubleshoot a problem Azure VM by using nested v

[2020-01-10 17:58] vinod83k commented on #45952
I got the following status after 1-> created a data disk, 2-> mounting it to os, 3-> running the encryption on vm.
OsVolumeEncrypted          : Encrypted
DataVolumesEncrypted       : Encrypted
OsVolumeEncryptionSettings : Microsoft.Azure.Management.Compute.Models.DiskEncryptionSettings
ProgressMessage            : Provisioning succeeded

[2020-01-10 18:00] patrickCode opened #45955 "Unable to create Linux Function Apps (Consumption plan) and Linux App Service Plans and in the same Resource Group"
I am unable to create an Azure Function App (hosted on Linux on a Consumption plan) in a Resource Group which already contains 2 App Services hosted on Linux. I am getting an Error (from the Azure portal) saying that the “Requested Feature is not available in the resource group”.
Are there any restrictions in having a dynamic and app service plan on Linux in the same RG?

This is the complete erro

[2020-01-10 18:06] Adam-Smith-MSFT commented on #45890
@sudheer0503 Regex is not supported, setting policies is linked to Prefixes rather than per blob, in your example, if any existing blobs meeting that prefix may also get the policy applied to them. Let me know if this helps.

[2020-01-10 18:07] PatrickFarley commented on #45486
Hi @ToddChitt ,
Which option in step 1 are you following?

[2020-01-10 18:08] PatrickFarley commented on #45783
@GiftA-MSFT This is a product issue; the training images should show up automatically when the connection is established

[2020-01-10 18:19] AjayKumar-MSFT commented on #45820
@marc-gmail-towersap, Thanks for leveraging Azure docs feedback channel!

Apologies for the delay! I was able to deploy the WebApp with the sample provided via CLI as outlined in the document.  What is the error message you receive? You may want to add the MongoDB container first in your yaml file and then add the node.js container afterwards.  Our code will try to start the containers in the orde

[2020-01-10 18:22] ToddChitt commented on #45486
I was trying to use an Azure Container Instance.
What image do I use? I selected HelloWorld because that was what the generic documentation mentioned and I had no other suggestions. How about a public IP port? URL? If there are required fields for creating my Container Instance, the instructions should contain specify answers to ALL of them, even if just to say, "It doesn't matter what you pick he

[2020-01-10 18:26] Karishma-Tiwari-MSFT commented on #45077
Thanks @athinanthny :)
@ajayvs Hope that helped answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-10 18:26] #45077 closed

[2020-01-10 18:27] Karishma-Tiwari-MSFT commented on #45591
@dbongard-cccu Is there an update? Let us know if that solution helped.

[2020-01-10 18:28] hpsin commented on #28317
Hey folks - a couple points on /me and /userinfo.

1. /me returns a set of data that is both beyond what userinfo is allowed to return per spec, and not in the correct format.  So we can't just proxy /userinfo to /me, which would be simplest.

2. The team working on getting /userinfo support for personal accounts (MSA) is still working to get the userinfo endpoint hooked up.  Once complete, it wil

[2020-01-10 18:30] MarileeTurscak-MSFT commented on #45950
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-10 18:30] dbongard-cccu commented on #45591
Yes, the issue was indeed caused by an extra container in the pod (leftover from when Azure dev spaces was turned on for the cluster). Getting rid of that allowed the HPA to calculate CPU use correctly.

Sorry for the delay in responding, and thank you all for your help!

[2020-01-10 18:30] Blackmist commented on #34940
Hi @philippschaefer4 Thanks for asking about this. Unfortunately, using the SDK to update a web service deployed with the designer is not a supported scenario at this time. I'll add a note to the documentation to call out this limitation.

[2020-01-10 18:30] GiftA-MSFT commented on #45906
@hullflyer Custom Commands (preview) projects are currently available in (West US 2 and North Europe) regions and Authoring resource is available in (Australia East, West Europe, and West US) regions. I don't think the resource location is the issue here. To test, I created my project in West US 2 and authoring resource in West US, created sample sentences (made changes as well), trained, and succ

[2020-01-10 18:33] Karishma-Tiwari-MSFT commented on #45591
Thank you for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-01-10 18:33] #45591 closed

[2020-01-10 18:35] mslot opened #45956 "Blog trigger and instance scale out"
When reading about the blob trigger and concurrency: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob?tabs=csharp#trigger---concurrency-and-memory-usage, i can't find any information on how the blob triggered is triggered _if_ the azure function host is scaled out. Will it trigger the blob trigger for:

1. each instance
2. only once

Consider this:

    public

[2020-01-10 18:35] allenh100 opened #45957 "Error when running the application"
I get the following error at startup whether I use the downloaded application or code everything from scratch.

Error:
com.microsoft.identity.client.exception.MsalClientException: Attempt to invoke virtual method boolean java.lang.Boolean.booleanValue() on a null object reference.

On receipt of this error, nothing in the UI is active usabale.

Debugging, the call to PublicClientApplication.create

[2020-01-10 18:35] tamram commented on #45935
@edfreeman - Thanks for your feedback. The preview Storage Explorer in the portal doesn't support using Azure AD credentials, so your colleague must have the Microsoft.Storage/storageAccounts/listkeys/action. I've updated the article to make this more clear.

[2020-01-10 18:38] lisaguthrie commented on #40931
#please-close

[2020-01-10 18:38] #40931 closed

[2020-01-10 18:39] tamram commented on #45935
@normesta - FYI only

[2020-01-10 18:41] ajlam commented on #34657
@ccompy - can you help take a look?

[2020-01-10 18:41] himanshusinha-msft commented on #45938
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 18:43] himanshusinha-msft commented on #45939
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 18:46] himanshusinha-msft commented on #45940
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 18:47] himanshusinha-msft commented on #45941
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 18:49] himanshusinha-msft commented on #45942
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 18:52] drajput commented on #44996
@asergaz  this issue is fixed in this PR: https://github.com/Azure-Samples/IoTEdgeAndMlSample/pull/50
@asherkariv  could you please confirm and close this issue.

[2020-01-10 18:52] #45942 closed

[2020-01-10 18:53] himanshusinha-msft commented on #45946
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 18:54] llscuba commented on #43136
@markebrennan I was able to add the routes by modifying the xml file. In addition to what they mention in the document I also added the routes in the TrafficFilter section of the xml file. I think that is the best way for multiple user's deployment since adding it after the connection is established isn't really a good option for an end user. But as I mentioned earlier, I'm still not able to commu

[2020-01-10 18:57] himanshusinha-msft commented on #45948
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-01-10 18:59] himanshusinha-msft commented on #45949
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-10 19:00] himanshusinha-msft commented on #45951
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 19:04] himanshusinha-msft commented on #45952
Thanks for the posting the issue . Can we ask you to please add more details on the issue here please  ?

[2020-01-10 19:06] himanshusinha-msft commented on #45954
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 19:08] FrankHu-MSFT commented on #45851
Hey @gamullen thanks for letting us know about this, I've gone ahead and made the change, please let us know if you have anymore concerns, otherwise I will be closing out this github issue by end of day today.

[2020-01-10 19:08] jwisener opened #45958 "Doesn't state where/how Replica Lag metric is at. How do you see this?"

[2020-01-10 19:08] FrankHu-MSFT commented on #45853
Hey @lukasz994 I was following up on this, could you please respond in regards to rolyon's response?

[2020-01-10 19:12] himanshusinha-msft commented on #45955
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-10 19:13] dotnetgator commented on #45946
Thank you - for the record, I tried a random word for the value, and I received the following error message:
"A required Metadata item with key "DebugMode" was found in the TechnicalProfile "CheckAccessCodeViaRESTCallChecker" in policy "B2C_1A_HelloCheckAccessCodeWithFunctions" of tenant "b2cexploration.onmicrosoft.com", but it was not of type boolean."

This pretty much suggests the value is expe

[2020-01-10 19:13] himanshusinha-msft commented on #45957
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 19:14] #45958 closed

[2020-01-10 19:14] jwisener commented on #45958
asdfsdf

[2020-01-10 19:17] palma21 commented on #45878
To automatically create the IP you just don't need to specify it. What is your use case? Is it just keeping the same DNS name? Same egress IP? same ingress IP?

Regarding the label add, it's a good addition. I believe @khowling is going to add it (is that correct?)

[2020-01-10 19:18] Sprinton commented on #12826
Hello,

i discovered the error below in the logs

running the command

` journalctl -u iotedge --no-pager --no-full`

[code]
i made sure that iotedge has access to where the certificates are, still the error occurs.

i also find the error below

[code]

[2020-01-10 19:18] sandeep8530 opened #45959 "I don't see Dynamic data masking blade in SQL data warehouse"
I could see Dynamic data masking blade in SQL Database but not in SQL Data warehouse. Could you provide more details regarding this.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b25f3a-5371-2a50-3bff-6caf1b78ad8c
* Version Independent ID: a0d6b2d0-047b-202b-1b5b-67b9ec7eeccd
* Content: [Dynamic data masking - Azure

[2020-01-10 19:19] cynthn commented on #45905
#please-close https://github.com/MicrosoftDocs/azure-docs-pr/pull/100770

[2020-01-10 19:19] #45905 closed

[2020-01-10 19:20] cynthn commented on #45826
@juyama Thanks for your feedback! The articles have been updated and should be live. Thanks again!

#please-close

[2020-01-10 19:20] #45826 closed

[2020-01-10 19:21] jeevansd commented on #43043
adding @chetansriv  and @arajpathak7 for visibility.

[2020-01-10 19:22] shants123 commented on #45818
Thanks for feedback @m60freeman . Its corrected now and will be live shortly.

[2020-01-10 19:24] Saleck3 commented on #44571
Hi @mike-urnun-msft! Sorry for the inconvenience but is there any place where I could see the issue and see it's updated status? I noted the same issue and I want to check for news in the matter...

[2020-01-10 19:25] himanshusinha-msft commented on #45956
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 19:25] mike-urnun-msft commented on #37457
The image is now updated to reflect current UI. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-10 19:25] #37457 closed

[2020-01-10 19:25] MicahMcKittrick-MSFT commented on #45493
I adjusted this to redirect to the GitHub repo where we keep the releases and old versions.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/100797

Once the PR merges the changes will go live after a few hours.

[2020-01-10 19:25] #45493 closed

[2020-01-10 19:26] himanshusinha-msft commented on #45959
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-10 19:28] cybertron2600 commented on #45921
Please let me know if there is anything further that I can explain. I understand this is where we help better the documentation, but I'm telling you guys, the documentation is Gone. Missing. No where to be found. Deleted. Inaccessible. Can you please tell me if the documentation has a new location? Or did someone delete it? Or did someone mess up the URL, etc?

[2020-01-10 19:31] himanshusinha-msft commented on #45873
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-01-10 19:31] #45873 closed

[2020-01-10 19:34] sugarjig commented on #45789
Thanks for the response. I'm still waiting to hear back from someone in my organization with those rights. In the meantime, can I suggest adding a sentence or two to that step in the tutorial? It might be helpful for someone else coming along in the future.

[2020-01-10 19:37] mike-urnun-msft commented on #44571
@Saleck3 Pls track this issue as I will look to update status here once I receive confirmation that the fix is rolled out. In the meantime, you may also use `$DevPortalHost` instead too.

cc: @miaojiang @VitaliyKurokhtin

[2020-01-10 19:38] hullflyer commented on #45906
thanks so much for checking it out.  I deleted all my old resources for
this and set up new ones today in the same regions I had yesterday,
following the same process I did yesterday (the Quickstart guide), and no
more 500 errors from the server.  There's no code I'm writing yet and I
tried to follow the Quickstart verbatim both times.   Maybe there was
something screwed up in my Azure environment

[2020-01-10 19:39] Mike-Ubezzi-MSFT commented on #45577
@orspod For awareness.

[2020-01-10 19:45] allenh100 commented on #45957
is there any mitigation's that i can attempt here?

i have noticed from the documentation that the "default" node under the authorities entry is not included in the generated configuration, but the documentation at https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration declares that "default" node is required.  I have added the node as detailed and tried both true and f

[2020-01-10 19:49] boreys opened #45961 "bug in Durable Function Javascript 2.0"
after upgrading to Durable function 2, for this line:

await client.startNew("HelloWorld", undefined, context.bindings.input);

It only work when input value is undefined, change it to some value like:

await client.startNew("HelloWorld", undefined, "some-data");

it will crash with exception:

Executed 'Functions.getData' (Failed, Id=cb8b6dbd-c52b-4200-b2f7-c7c33a709083)
[1/10/2020 7:33:59 PM] Sy

[2020-01-10 20:02] koolkarni commented on #45812
Looks like the error message is little confusing "Time series models are only supported in Preview environments." the word "preview" can mean preview window and/or PAYG (Preview)
 and when we click to learn more it should take us to "how to configure PAYG (Preview)"
 instead, it points to some settings related to "preview" window of TSI portal

[2020-01-10 20:19] GiftA-MSFT commented on #45906
@hullflyer glad it's working for you now. Yea, it was probably a glitch. Don't hesitate to reach out if you have any more issues. Thanks.

[2020-01-10 20:19] #45906 closed

[2020-01-10 20:29] hrasheed-msft commented on #45567
Sent a reminder to the author.

[2020-01-10 20:30] jvplopper opened #45962 "On-Prem Password Complexity GPO Guidance"
I'm curious what the recommendation is for "Password must meet complexity requirements" in the on-prem group policy.  Should we leave this enabled or disable it after Azure Password Protection has been implemented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd810b22-4e2a-5a66-db90-dd39b1b5c565
* Version Independent

[2020-01-10 20:32] jasonheywood opened #45963 "Step 4 needs to be updated."
The information in step 4 under "Configure Azure AD single sign-on" needs to be updated.

1. Please remove the "! Note" for #4 before 4a. The process is incorrect and the Service Provider metadata file link goes to an error page.
2. Please remove step 4a. The process is incorrect.
3. Please remove step 4b. The process is incorrect.
4. Please update step 4c. Change the text to:
  "Enter the Identif

[2020-01-10 20:35] Mike-Ubezzi-MSFT commented on #45958
@jwisener Did you get this resolved or have any additional questions? Please let me know if you need assistance and we can continue the dialoge.

[2020-01-10 20:37] GiftA-MSFT commented on #45711
@PanosPeriorellis can you please clarify this. Thanks.

[2020-01-10 20:47] vnvaditya opened #45964 "SQL to SQL with delta copy and change tracking technology"
Can we copy SQL to SQL with delta copy and change tracking technology ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48617a70-7754-75a5-927b-2ba76f7ca014
* Version Independent ID: bcc5675c-e8f1-d53f-a943-f3d7eb0331c6
* Content: [Incrementally copy data using Change Tracking - Azure Data Factory](https://docs.microsof

[2020-01-10 20:49] NavtejSaini-MSFT commented on #45959
@sandeep8530 Azure DW team adding a portal option is not in current plan and we do support DDM via T-SQL and PS.
Have attached our feedback link, where our customers can suggest features, they would like to see.  https://feedback.azure.com/forums/34192--general-feedback.

I will work on getting the document updated for avoiding confusion.

Please find below the T-SQL and PS options.

The Get-AzSql

[2020-01-10 20:50] NavtejSaini-MSFT commented on #45951
@eparizzi We are assigning this to our doc author for further review.
@jaredmoo Please check the feedback and respond accordingly.

[2020-01-10 20:52] jwisener commented on #45958
Yes. I got it.
Sorry couldn’t figure out how to delete this item

[2020-01-10 20:53] richardlalancetteyoui opened #45965 "This insane!"
Is this a fairly young product?
The setup and creation phase are insane here, as opposed to just a normal web service...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](ht

[2020-01-10 21:20] GiftA-MSFT commented on #45783
@PatrickFarley thanks for clarifying.

@irishun please ensure that all your documents are organized into folders/sub-folders based on common format, and that you provided the right connection source and folder path. The documents should automatically be available in the tag editors window.

If you are still unable to upload your documents, please reach out to [support](https://azure.microsoft.com/

[2020-01-10 21:20] #45783 closed

[2020-01-10 21:21] jeevansd commented on #45963
@chetansriv and @arajpathak7 for visibility.

[2020-01-10 21:25] v-joshuf opened #45966 "PowerShell options to configure Log Analytics"
I'm looking for a way to update the diagnostics setting to add or modify the Diagnostic Setting on a SQL MI database. We are using SQL MI and we are using Azure SQL Log Analytics (preview). Currently we can add the setting manually to provide our log analytics workspace and cold storage configuration, for automation or to deploy the solution at scale PowerShell would be desired. I found options to

[2020-01-10 21:27] Adam-Smith-MSFT commented on #45791
@markmabe I'll assign the case to the other for doc improvement, meanwhile, let me check If i can get a firm time frame answer on the issue you experienced on a new storage account

[2020-01-10 21:38] mx-iao opened #45967 "code for loading ExplanationDashboard needs to be updated"
The following code under the "Visualizations" section needs to be updated:
`from azureml.contrib.interpret.visualize import ExplanationDashboard
ExplanationDashboard(global_explanation, model, x_test)`

According to[ release notes](https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes#azure-machine-learning-sdk-for-python-v1076) from v1.0.76:
"Removed explana

[2020-01-10 21:48] netresults-scott commented on #43961
I've got a case open as well, much the same. Haven't made it very far - it looks like this may not be that widespread?

[2020-01-10 21:52] eric-camplin opened #45968 "Tutorial: Build an ASP.NET app in Azure with SQL Database - has several out of date steps"
Tutorial: Build an ASP.NET app in Azure with SQL Database -  it's a great Tutorial, hope it will be updated.

Environment: Windows 64 with Microsoft Visual Studio Enterprise 2019 Version 16.4.2

Issues with Steps and screenshots with my VS 2019 environment

1. Publish to Azure - after Pick a publish target
    1. "Create App Service" is slightly different new name (App Service - create new)
    2.

[2020-01-10 22:02] gottagetgit opened #45969 "Powershell on a CLI page"
This CLI page contains PowerShell in one spot.

Also, the example code contains &lt;variables&gt; that are left for us to fill in, but no working example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63f6d76a-2dba-5ae0-d1b5-549142608eb0
* Version Independent ID: 55017103-2801-a4f5-e435-984d3dade9b9
* Content: [Quicks

[2020-01-10 22:06] cynthn commented on #45725
@AnttiKiiski Thank you for the feedback! I've updated the docs and they should be live now.

#please-close

[2020-01-10 22:06] #45725 closed

[2020-01-10 22:31] femsulu commented on #45966
@v-joshuf  Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-01-10 22:36] bwren commented on #45123
#please-close

[2020-01-10 22:36] #45123 closed

[2020-01-10 22:38] chetansriv commented on #43289
Hello @jakobnotseth could you please provide screenshots of Cylance Admin portal so that we can add the correct guidance in the tutorial as advised by you. Or if you can provide and test account, then we can take all the information by ourselves. Thanks

[2020-01-10 22:38] MarileeTurscak-MSFT commented on #45882
As of 12/22/2019, the Bulk invite users (Preview) feature has been temporarily disabled. This should be resolved once it is re-enabled. CC: @msmimart

[2020-01-10 22:39] MarileeTurscak-MSFT commented on #45882
I'm closing this out for now but if you have further questions feel free to post to Q&A or tag me in the comments. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-01-10 22:39] #45882 closed

[2020-01-10 22:46] Tiano2017 commented on #43203
An answer is provided here: https://stackoverflow.microsoft.com/a/180868/15429

[2020-01-10 22:49] jeffwmiles opened #45970 "Cost Management through indirect reseller"
My company is a Microsoft CSP, through an indirect reseller in Canada, and I've been told by this indirect reseller that Azure Cost Management is only available to direct partners and their customers, and not for CSP through indirect reseller.

Can I get confirmation that this is accurate from Microsoft, and if so recommend this document be updated to describe the limitation.

---
#### Document De

[2020-01-10 22:51] rmmiles commented on #45040
What @bartvermeersch says is true. Using these PowerShell commands will set the "otherMails" attribute, which SSPR appears to read. However, the first time the user logs in - if SSPR "Require users to register when signing in" is enabled, they will still be prompted AND the pre-populated email address will NOT be listed for the user to update (which is what this article says). They can enter a new

[2020-01-10 22:54] chetansriv commented on #43341
Hello @sameera - Could you please confirm if the ACS URLs will always be one of the followings -

https://system.netSuite.com/saml2/acs
https://system.na1.netSuite.com/saml2/acs
https://system.na2.netSuite.com/saml2/acs
https://system.sandbox.netSuite.com/saml2/acs
https://system.na1.sandbox.netSuite.com/saml2/acs
https://system.na2.sandbox.netSuite.com/saml2/acs

Is this what you are suggesting t

[2020-01-10 22:56] vermagit commented on #45925
@dcbrown16 The quoted statement is probably better supported with " … customers _may_ deploy using …".
To clarify, as long as the VM OS image has the right drivers for InfiniBand, it'll work. This VM OS image: 1) may be directly from the marketplace as one of the supported images, 2) based on one of the supported marketplace images with customization and then shared in a storage account or SharedI

[2020-01-10 23:05] bwren commented on #44972
Updating article.  #please-close

[2020-01-10 23:05] #44972 closed

[2020-01-10 23:07] bwren commented on #44445
@MSNina123456  Sorry for delay with the holidays.  I checked with engineering team, and a mapped drive should work if it appears as local drive on the agent.  Did customer get errors trying to use a mapped drive?  I'm not clear on that from your question.

[2020-01-10 23:09] bwren commented on #45197
I'm going to go close this based on Noa's response.  #please-close

[2020-01-10 23:09] #45197 closed

[2020-01-10 23:25] CarlosOnline opened #45973 "kusto query commands for creating diagnostic logs have errors in them"
kusto query commands for creating diagnostic logs have errors in them.

Please run through all your commands and correct them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe49562-852d-db87-a190-8e6f267951fc
* Version Independent ID: f12ee22b-5444-4207-25ac-a707612569f6
* Content: [Tutorial: Ingest monitoring data i

[2020-01-10 23:31] bwren commented on #42272
I added a note to the article about using Get-AzOperationalInsightsDataSource to get the properties.  I created a work item to document the specific JSON, but I'm not sure when we'll be able to get that completed. Going to close this issue. #please-close

[2020-01-10 23:31] #42272 closed

[2020-01-10 23:34] bwren commented on #41776
I updated the article to clarify this. Forgot to close the issue.  #please-close

[2020-01-10 23:34] #41776 closed

[2020-01-10 23:54] KranthiPakala-MSFT commented on #45835
@YoshitakaTakada Thanks for the feedback! We have assigned the issue to the content author to review the feedback and update the document as appropriate.

[2020-01-11 00:12] samirs20 commented on #45882
When will this functionality be activated? It has been nearly 20 days since it was deactivated without any notice. How do we bulk invite users in the absence of this functionality?

[2020-01-11 00:16] himanshusinha-msft commented on #45965
@richardlalancetteyoui : The Azure function has been there for a while now and so I am not sure if it is that young . If you have any specific question on the document please do let us know and we will try to help .

[2020-01-11 00:18] himanshusinha-msft commented on #45961
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-11 00:19] himanshusinha-msft commented on #45962
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-01-11 00:19] davidsmatlak commented on #44360
I submitted the fix for this issue and when it merges, this issue will automatically close.

[2020-01-11 00:22] himanshusinha-msft commented on #45964
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-11 00:22] samirs20 opened #45975 "Bulk Invite disabled from Azure portal"
Bulk Invite functionality has been disabled since 22nd Dec. without any notice. When will this be activated again? We need to invite several users and there is no other sending bulk invites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-

[2020-01-11 00:24] himanshusinha-msft commented on #45967
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-11 00:25] YutongTie-MSFT commented on #45967
@himanshusinha-msft Thanks Himanshu.

[2020-01-11 00:26] himanshusinha-msft commented on #45968
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-11 00:31] himanshusinha-msft commented on #45969
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-01-11 00:32] DCtheGeek commented on #45969
#reassign:DCtheGeek

[2020-01-11 00:33] DCtheGeek commented on #45969
I started working on this and forgot to update the Issue.  I'll submit an update to this, thanks for pointing out the issue @gottagetgit.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2020-01-11 00:34] himanshusinha-msft commented on #45970
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2020-01-11 00:39] himanshusinha-msft commented on #45973
@CarlosOnline  : Thanks for the feedback , we are going to review the document . Just wanted to know if there is any particular part of the document which you think needs review , if yes please let us know more on that .

[2020-01-11 00:42] himanshusinha-msft commented on #45975
@samirs20  : We do respect your feedback ,  but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an upda

[2020-01-11 00:43] chetansriv commented on #33778
@jasonpnnl We have added this warning in our user provisioning article - https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-provisioning-tutorial

Please review.

Thanks - Chetan

#please-close

[2020-01-11 00:43] #33778 closed

[2020-01-11 00:45] chetansriv commented on #34138
@thomassimpson25 We have added this attribute and added the "/" as suggested, please review.

#please-close

[2020-01-11 00:45] #34138 closed

[2020-01-11 00:46] chetansriv commented on #37111
@jeevansd Article updated with OU attribute

#please-close

[2020-01-11 00:46] #37111 closed

[2020-01-11 00:49] FrankHu-MSFT commented on #45941
hey @gsahlstrom can you please provide some more clarification on how you set it up? Did you just follow the steps per the document?

If so, are you sure you're using AAD and not AAD B2C? And is there any other custom css/js/code that is in your custom branding that may be causing issues?

Could you also please provide a screenshot of the issue occurring. In addition to that, as these github issus

[2020-01-11 00:58] FrankHu-MSFT commented on #45950
Hey @dotnetgator thanks again for letting us know about this. We're going to look into this a bit further, although if you're sending a request with a body it should be most likely assumed that you're making a post call.

However, I do agree that adding which type of call should be made for each item would make it clearer and be beneficial for the document.

I'm going to go ahead and engage some m

[2020-01-11 00:58] djpmsft commented on #40696
Apologies for the delay in response. Where is the variable populated from and how is it being used? What is the input and desired output?

[2020-01-11 00:58] #45851 closed

[2020-01-11 00:59] djpmsft commented on #40696
If this issue is resolved, please let us know (and share your answer if you can!) so we can close this issue. Once again sorry for the delay in response

[2020-01-11 01:20] #43781 closed

[2020-01-11 01:23] kumarallamraju opened #45977 "Suggestion to provide a link to create an external virtual switch in Hyper-V manager"
[Enter feedback here]

It's a good idea to provide a link to create an External Switch that provides internet connectivity
https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/get-started/create-a-virtual-switch-for-hyper-v-virtual-machines

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b96edcb-267b-

[2020-01-11 01:46] anavinahar commented on #43168
This limitation no longer exists in documentation. Standard Load Balancer ensures control plane and data plane operations are zone redundant.

[2020-01-11 01:46] #43168 closed

[2020-01-11 02:19] shAFXr opened #45978 "Client App List"
The messaging is a bit confusing due to the guidance found within the Exchange repo which guides implementors to use Gmail or Ninework to utilize conditional access on the android platform (for on-prem mail users leveraging intune). Repo: https://docs.microsoft.com/en-us/intune/protect/conditional-access-exchange-create#support-for-mobile-devices
Can there be clarification as to where Gmail/Ninewo

[2020-01-11 02:27] DixitArora-MSFT commented on #45977
Hi @kumarallamraju Thanks for your feedback. We will review and update as appropriate.

[2020-01-11 02:29] DixitArora-MSFT commented on #45978
Hi @shAFXr Thanks for reaching out. We will review and update as appropriate.

[2020-01-11 02:43] saulcp95 opened #45979 "Small typo, "deloymentScope""
On the 6th step of this section: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-use-azure-pipelines#create-a-pipeline .

There's an small typo that says "deloymentScope", it should be of course "deploymentScope"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa682661-7e1c-e9d5

[2020-01-11 02:54] KrishnaG-MSFT commented on #45979
@saulcp95 Good observation. Thanks for the feedback. I will correct it and update you soon.

[2020-01-11 04:00] aschip opened #45980 "Update custom policies page for B2C to replace the outdated information"
On the  [Test the custom policy by using Run now ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom#test-the-custom-policy-by-using-run-now) part of the [**Customize the user interface of your application using a custom policy in Azure Active Directory B2C**](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-

[2020-01-11 04:03] aschip opened #45981 "Update the "Test the custom policy by using Run now" section."
In the "Test the custom policy by using Run now" section.
It specifies:
&gt; On the Azure AD B2C page, go to All policies.

There is no such thing on the portal anymore!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84aabaf3-e7da-3519-995c-72d36c537843
* Version Independent ID: b35afa8d-a02c-a77a-6831-2b3f6a6c1a7d
* C

[2020-01-11 04:05] aschip commented on #45981
Raised this one before I found out how to comment on a docs page 😂
https://github.com/MicrosoftDocs/azure-docs/issues/45980

[2020-01-11 08:46] samirs20 opened #45983 "Bulk Invite on Portal - when will it be reactivated?"
When will this functionality be activated? It has been nearly 20 days since it was deactivated without any notice. How do we bulk invite users in the absence of this functionality? Please can you activate it ASAP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent

[2020-01-11 08:54] samirs20 commented on #45975
Hi

I am referring to https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite <https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite>

[2020-01-11 10:10] AnttiKiiski opened #45984 "Typo, pagablob should be pageblob"
There is a typo in the parameters list:
"/blobtype:	This option specifies the type of blobs you want to import the data to. For block blobs, this is BlockBlob and for page blobs, it is PagaBlob."

Br,
Antti

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b51e3a8d-6204-ac1b-996f-4b855e431df8
* Version Independent ID: 7cc

[2020-01-11 10:22] AnttiKiiski opened #45985 "Typo, mixed drive letters."
In the instructions it is written:
"To import a file: In the following example, the data to copy resides in the C: drive. Your file MyFile1.txt is copied to the root of the MyAzureFileshare1"
but in the example command the drive is F:
"F:\MyFolder1\MyFile1.txt",

Br,
Antti

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-01-11 10:32] DixitArora-MSFT commented on #45980
Hi @aschip Thanks for reaching out. We will review and update as appropriate.

[2020-01-11 10:32] DixitArora-MSFT commented on #45981
Hi @aschip Thanks for reaching out. We will review and update as appropriate.

[2020-01-11 10:34] DixitArora-MSFT commented on #45983
Hi @samirs20 Thank you for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-11 10:35] DixitArora-MSFT commented on #45984
Hi @AnttiKiiski Thanks for your feedback. We will review and update as appropriate.

[2020-01-11 10:36] DixitArora-MSFT commented on #45985
Hi @AnttiKiiski Thanks for your feedback. We will review and update as appropriate.

[2020-01-11 11:49] juunas11 opened #45986 "Wrong Nuget package name mentioned for Functions v3"
The section https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#version-3x mentions the wrong Nuget package name.

&gt; Azure Functions 3.x and .NET requires the Microsoft.Sdk.NET.Functions extension be at least 3.0.0.

It should be `Microsoft.NET.Sdk.Functions`, it has Sdk and NET in reverse.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-01-11 12:28] ElectricLlama commented on #35449
@himanshusinha-msft It seems like this was identified as incorrect doco in August. Here's a more recent stackoverflow question from someone who is still being misled by it. https://stackoverflow.com/questions/59649463/data-factory-copy-to-temporary-table

[2020-01-11 12:52] jangelfdez opened #45987 "Latencies between AZs in the same region"
Hi!

would be possible to have a similar table with the latencies between different AZs in the same region? A lot of customers are interested in that reference numbers in order to design their solutions. Right now, the only option is to deploy several VMs and execute the text by yourself. Not a good experience and really time consuming.

Thanks!

---
#### Document Details

⚠ *Do not edit this sect

[2020-01-11 14:20] mathieu-benoit commented on #45912
PR #45988 is doing the implementation of this, ready for your review, thanks!

[2020-01-11 14:57] Sprinton opened #45990 "Transparent gateway certificates not found, operating in quick start mode."
-Using Azure IoT Edge.
-Document followed: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-connect-downstream-device.

i followed the guide regarding the preparation of the certification, however, when i check the logs using
`journalctl -u iotedge --no-pager --no-full`

i found the errors below

[code]
I made sure the user iotedge has proper access to the directory where the certificates re

[2020-01-11 15:22] jflieben commented on #45357
Yeah that helped, thanks @RyanHill-MSFT

[2020-01-11 15:52] JamesDLD commented on #22715
It's almost the same code and I had a call to a secret scope (key vault) to get the wks_id and secret and it works like a charm, I did write a quick article here for info : https://medium.com/faun/write-custom-logs-on-log-analytics-through-databricks-on-azure-68759dbeac55

[2020-01-11 15:55] DixitArora-MSFT commented on #45986
Hi @juunas11 Thanks for your feedback. We will review and update as appropriate.

[2020-01-11 15:56] DixitArora-MSFT commented on #45990
Hi @Sprinton Thanks for reaching out. We will review and update as appropriate.

[2020-01-11 15:58] DixitArora-MSFT commented on #45987
Hi @jangelfdez Thanks for your feedback. We will review and update as appropriate.

[2020-01-11 16:32] DCtheGeek commented on #45969
@gottagetgit The PR for this fix is now building.  When it's merged, this issue will automatically be closed. As a note, I was going to convert the subsequent REST API call (which uses ARMClient) to Azure CLI also, but think I found an issue.  I've reported it to the engineers and when it's fixed, I'll update that code snippet to use Azure CLI as well.  Thanks again for the feedback!

[2020-01-11 16:46] #45969 closed

[2020-01-11 17:22] AjayKumar-MSFT commented on #45634
We will now proceed to close this thread. If there are further questions regarding this matter, we will gladly continue the discussion.

[2020-01-11 17:22] #45634 closed

[2020-01-11 17:23] AjayKumar-MSFT commented on #45682
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-01-11 17:23] #45682 closed

[2020-01-11 17:23] AjayKumar-MSFT commented on #45705
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-01-11 17:23] #45705 closed

[2020-01-11 17:24] AjayKumar-MSFT commented on #45820
We will now proceed to close this thread. If there are further questions regarding this doc, we will gladly continue the discussion.

[2020-01-11 17:24] #45820 closed

[2020-01-11 17:25] AjayKumar-MSFT commented on #45848
@mavusi, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-01-11 17:25] #45848 closed

[2020-01-11 17:32] MicahMcKittrick-MSFT commented on #45167
Added this to the Tips and Tricks section. Once the PR merges the changes will go live after a few hours.

[2020-01-11 17:32] #45167 closed

[2020-01-11 17:37] MicahMcKittrick-MSFT commented on #44369
Thanks for the catch. I updated the doc. Once the PR merges the changes will go live after a few hours.

[2020-01-11 17:39] jgoyvaerts opened #45991 "App service VNet Integration doesn't work correctly when using a default TcpClient"
Situation:
- Setup an app service and a vm which you want to reach from the app service.
- Integrate everything with VNet integration
- Attempt to connect from the App service to the VM by using a default TcpClient
[code]

The TcpClient will default to a IPv6 socket (because the OS supports it), and an exception will occur:
**ExtendedSocketException: An attempt was made to access a socket in a way

[2020-01-11 17:40] MicahMcKittrick-MSFT commented on #44156
Thanks for the catch. I updated the doc. Once the PR merges the changes will go live after a few hours.

[2020-01-11 17:40] #44156 closed

[2020-01-11 17:46] MicahMcKittrick-MSFT commented on #43590
This is being addressed offline as we are determining the best place to add this plan information.

#please-close

[2020-01-11 17:46] #43590 closed

[2020-01-11 17:47] MicahMcKittrick-MSFT commented on #43201
Page was updated.

[2020-01-11 17:47] #43201 closed

[2020-01-11 17:52] MicahMcKittrick-MSFT commented on #42298
Yes it should be the Service Admins and co admins. I updated the doc :) Once the PR merges the changes will go live after a few hours.

[2020-01-11 17:52] #42298 closed

[2020-01-11 17:55] MicahMcKittrick-MSFT commented on #23017
At this point we opted to leave this doc as is. However I am currently reviewing all the sizing documentation and will add this feedback into my backlog

#please-close

[2020-01-11 17:55] #23017 closed

[2020-01-11 17:57] MicahMcKittrick-MSFT commented on #26254
I believe this was addressed. So I will close this out. if it is still an issue let me know and we can reopen.

[2020-01-11 17:57] #26254 closed

[2020-01-11 17:59] mavusi commented on #45848
Can you kindly provide me the link the the Xamarin version of this page?

[2020-01-11 18:11] MicahMcKittrick-MSFT commented on #24406
The doc is correct. 1 GPU = one-half K80 card. So essentially the numbers are cut in half of what is listed in the Nvidia Docs.

[2020-01-11 18:11] #24406 closed

[2020-01-11 18:17] MicahMcKittrick-MSFT commented on #24636
This is valid feedback. At this point in time I am going to leave the doc as is. That being said, I am working with the Engineering teams and authors to look deeper into the B series as we have a few open inquires around them. So I can add this to the discussion.

[2020-01-11 19:26] oribesser commented on #42222
It is actually missing also from 'Effective Routes' in the Azure portal, so it is not only a documentation issue.

[2020-01-11 20:18] ggailey777 commented on #45965
@richardlalancetteyoui I agree that this article can be somewhat overwhelming. I actually prefer [using Visual Studio Code](https://docs.microsoft.com/azure/azure-functions/functions-develop-vs-code) to locally create and publish Azure Functions projects. You may also have better success with [one of the quickstarts](https://docs.microsoft.com/azure/azure-functions/functions-create-first-azure-fun

[2020-01-11 20:51] abraunegg commented on #39665
@FrankHu-MSFT

This issue still presents itself when hosting the file on GitHub Pages:

![publisher-error](https://user-images.githubusercontent.com/4956234/72210458-110c7780-3510-11ea-8723-92f825f4c979.jpg)

As there is no control over the content-type used by GitHub Pages - what is the solution for this given the end user has no control over GitHub Pages and the content-type configured for files

[2020-01-11 21:56] susheelv12 commented on #45634
Please do not close this thread . Mu question is not Answered . Behalf of
flow will not work for SPA apps.

So you are recommending to have a backend to access multiple APIs. so
implicit flow to access multiple tokens from Front end is not possible?

On Sat, Jan 11, 2020 at 11:22 AM AjayKumar-MSFT <notifications@github.com>
wrote:

--
Susheel :)

[2020-01-11 22:40] syedhassaanahmed commented on #26701
@KalyanChanumolu-MSFT Thanks for mentioning my blog about writing to Cosmos DB using GraphFrames. The post has been migrated to a new location https://syedhassaanahmed.github.io/2018/10/28/writing-apache-spark-graphframes-to-azure-cosmos-db.html

[2020-01-11 22:53] richardlalancetteyoui commented on #45965
Ended up adding a dotnet core plugin to Rider and using that.
Went smooth.

[2020-01-11 22:53] #45965 closed

[2020-01-11 22:57] ggailey777 commented on #45965
@richardlalancetteyoui glad you found a tool that works for you.

[2020-01-11 23:06] oksankaa commented on #38603
@ChiragMishra-MSFT @ShubhaVijayasarathy any news on this topic? Run in the same issue and not able to run my function on linux host. The function depends on linux environment.

[2020-01-11 23:23] MarileeTurscak-MSFT commented on #45803
@qu0vad1s I don't believe that there is any existing documentation specifically covering this. I'm assigning this issue to the content author to look into. I've also created an internal work item to track this.

[2020-01-12 02:25] msftrubengu opened #45994 "Make clear Authenticate the client section"
Sample code missing call to static method Authenticate
[code]

Adding this piece of code, from the cognitive-services-dotnet-sdk-samples repo, makes it clear.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecae7b1e-c329-36b5-a034-55f84c8af361
* Version Independent ID: 038f38c3-d0d0-9a26-cdd8-e9bd1aef745b
* Conte

[2020-01-12 02:26] wwinogrodzki opened #45995 "This page needs update"
It is about a year and a half since publication. Now .net core 3 is supported for F#.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feb56d1a-4b15-05df-a896-d3f7b7c96210
* Version Independent ID: 31786b95-1a18-87dc-ec86-c1aa3d95358e
* Content: [Azure Functions F# developer reference](https://docs.microsoft.com/en-us/az

[2020-01-12 02:31] DixitArora-MSFT commented on #45995
Hi @wwinogrodzki Thanks for your feedback. We will review and update as appropriate.

[2020-01-12 02:32] DixitArora-MSFT commented on #45991
Hi @jgoyvaerts Thanks for reaching out. We will review and update as appropriate.

[2020-01-12 02:34] DixitArora-MSFT commented on #45994
Hi @msftrubengu Thanks for reaching out. We will review and update as appropriate.

[2020-01-12 03:16] miiichael commented on #44369
Oh. While I concede that no documentation is better than bad documentation, I'd like to point out that now you have no documentation for Debian users (of any version) at all.

[2020-01-12 04:48] KalyanChanumolu-MSFT commented on #26701
@syedhassaanahmed Thank you for letting me know. I have updated the link.
Great write up BTW

[2020-01-12 04:49] KalyanChanumolu-MSFT commented on #45690
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-12 04:49] #45690 closed

[2020-01-12 04:50] devszr opened #45996 "Azure Marketplace Managed Application"
Hi,

Do we need to set up a PAL for Managed Applications that are deployed through Azure Marketplace ?, or, is ACR automatically recognized for all the resources in the managed resource group where the application gets deployed?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64

[2020-01-12 05:10] davidsandbrand commented on #24636
I'm only really suggesting that one word be changed ('banked' be changed to 'earned'), this gets called valid, and then 11 months later this gets closed and ignored.

I'm disappointed @MicahMcKittrick-MSFT; I expected more from the Microsoft Azure Documentation team.

[2020-01-12 05:14] KalyanChanumolu-MSFT commented on #45913
@mvhbharath Please check the samples [here](https://github.com/Azure/azure-cosmos-python/blob/master/test/globaldb_mock_tests.py)

[2020-01-12 06:25] mike-urnun-msft commented on #29151
Thanks @brucelangston! Closing since the PR is already merged and the typo is corrected.

[2020-01-12 06:25] #29151 closed

[2020-01-12 06:37] msrini-MSFT commented on #45932
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/100896

[2020-01-12 06:53] #45932 closed

[2020-01-12 07:14] kiranpradeep opened #45997 "In section - Restrict the storage account to the virtual network"
The command `az storage account network-rule add --resource-group $resourceGroupName --account-name $storageAccountName --subnet $serviceEndpointSubnet` gives error message as *Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id(unique). For more information, see - https://aka.ms/storagenetworkruleset*.

Az CLI version 2.0.79

---
#### Document Details

⚠ *Do not edit

[2020-01-12 08:08] mike-urnun-msft commented on #43203
Thanks @Tiano2017!

The solution in the ARM template referenced above was making use of an old parameter signature for the [reference()](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource#reference) function towards the end in the `output` section of the template. I have created a [PR](https://github.com/Azure/azure-quickstart-templates/pull/7103) t

[2020-01-12 08:08] #43203 closed

[2020-01-12 08:22] orsharon7 commented on #12552
Hi,

I am having the same issue.
I have followed the thread and verified that in my Application Registration manifest the `accessTokenAcceptedVersion": 2`

In addition I have added the
`<openid-config url="https://login.microsoftonline.com/YOUR_AD_TENANT_ID/.well-known/openid-configuration" />`

Now my error is:

While the aud presented in the error is equal to the one i am getting after authentic

[2020-01-12 08:30] orsharon7 commented on #12552
**I have been using the seperator "-" which cause this issue. After deleting it everything resolved.**

[2020-01-12 09:08] sameeraman commented on #42060
I managed to get the Front Door working with a password-protected pfx as well. Key vault provides a text box to input the password during the import. Not too sure why a password-free pfx is recommended.

[2020-01-12 09:49] AnthonyBe opened #45998 "cURL and PowerShell"
Really wish there were cURL and PowerShell code examples as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 369bb9fc-f1ee-dfb3-9a6a-df35fb50cc70
* Version Independent ID: 74605aae-b7b0-f523-2b77-a83739db5e4b
* Content: [Quickstart: Synthesize speech into audio file - Speech service - Azure Cognitive Services](https

[2020-01-12 09:52] sameera commented on #43341
@chetansriv That is correct.
At the moment, the documentation lists a set of URLs as for example `https://<Account ID>.na1.NetSuite.com/saml2/acs`
This is also confusing as a NetSuite Admin may replace `<Account ID>` with their NetSuite account number.

[2020-01-12 10:18] jacqueskang commented on #45357
@RyanHill-MSFT,
The administrators property in ARM template only allows configuring database administrator. But what if we only want to grant an application db_datareader role to a database? I didn't find that possible with ARM template.

I'm able to achieve this with `CREATE USER [<azapp-managed-identity>] FROM EXTERNAL PROVIDER;`. But the problem is that we want to use DACPAC to automately deplo

[2020-01-12 11:51] satyasyamnn opened #45999 "VM Limits"
In quota limits, it is mentioned that 20 VM's/Region. Though by sending support request it can be changed. I wanted to understand why it is kept so low. In a typical enterprise scenario these limits are very less.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae844bb3-d0eb-4b74-b06f-bb405cf6b910
* Version Independent

[2020-01-12 12:39] DixitArora-MSFT commented on #45772
@rashmiinamdar Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-12 12:39] #45772 closed

[2020-01-12 12:40] DixitArora-MSFT commented on #45983
@samirs20 Just following up again in case missed the previous communication.

[2020-01-12 12:44] DixitArora-MSFT commented on #45996
Hi @devszr Thanks for reaching out. We will review and update as appropriate.

[2020-01-12 12:45] DixitArora-MSFT commented on #45997
Hi @kiranpradeep Thanks for reaching out. We will review and update as appropriate.

[2020-01-12 12:47] DixitArora-MSFT commented on #45998
Hi @AnthonyBe Thanks for your feedback. We will review and update as appropriate.

[2020-01-12 12:48] DixitArora-MSFT commented on #45999
Hi @satyasyamnn Thanks for your feedback. We will review and update as appropriate.

[2020-01-12 13:08] techsaau commented on #45538
Thanks @Karishma-Tiwari-MSFT for your response.

[2020-01-12 13:22] pbrit commented on #35411
@MicahMcKittrick-MSFT The issue can be easily reproduced on AKS 1.15.x. Could you please re-open it?

[2020-01-12 14:30] samirs20 commented on #45983
Hi

I am referring to this https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite <https://docs.microsoft.com/en-us/azure/active-directory/b2b/tutorial-bulk-invite>

[2020-01-12 14:31] rkttu opened #46000 "az extension add --name aks-preview still fails with checksum error"
As of January 12, 2020, at 11:30 pm KST, the error that occurred before still continues to appear. #37826

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6de70aec-9ebe-5655-6657-5c171de374b1
* Version Independent ID: c9eb35c8-8703-511b-987b-e2a441be2e47
* Content: [Preview - Create a Windows Server conta

[2020-01-12 15:21] bramvdklinkenberg commented on #46000
Same issue here on a hosted ubuntu azure devops agent:

    azure-cli                         2.0.77 *

    command-modules-nspkg              2.0.3
    core                              2.0.77 *
    nspkg                              3.0.4
    telemetry                          1.0.4

Added the debug flag and gives an error on this:
ERROR: cli.azure.cli.core.util : The checksum of the extension d

[2020-01-12 15:22] StingyJack opened #46001 "This needs a prerequisite list for the docker program versions."
for example docker-compose needs to be v 1.24 (version 1.8 doesnt work)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service](https://docs.microsoft.

[2020-01-12 15:30] jayasuryajeyakodi commented on #32126
Me being a newbie to service bus and Azure function did not know about MessageReceiver,MessageSender class, so adding those would definitely help. These are the only way to complete the message when autocomplete is set to false.

[2020-01-12 15:58] DixitArora-MSFT commented on #46000
Hi @rkttu Thanks for reaching out. We will review and update as appropriate.

[2020-01-12 15:59] DixitArora-MSFT commented on #46001
Hi @StingyJack Thanks for your feedback. We will review and update as appropriate.

[2020-01-12 16:15] CHDAFNI-MSFT opened #46002 "Back to the future? - Future date for last update"
![image](https://user-images.githubusercontent.com/28310425/72221885-b7667600-352c-11ea-846d-358e0fecd589.png)

Today is 1/12/2020 yet the document shows a future last update of 01/19/2020
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 249fb699-ca24-1c5d-dd7f-0bdc85c4b347
* Version Independent ID: c2e8661a-eaab-d204-8d8

[2020-01-12 16:20] CHDAFNI-MSFT opened #46003 "FedRamp High missing or mislabled"
With US regions now considered FedRamp High, consider adding a link/information on Blueprint for  FedRAMP High to this document or evaluate if FedRAMP Medium verbiage can be upgraded to High

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95beaa0a-a1ea-6b1f-eb17-f07e27894894
* Version Independent ID: 25d9ee0d-8261-fe14-

[2020-01-12 16:26] DCtheGeek commented on #46003
@CHDAFNI-MSFT Thanks for the suggestion. As you know, it's a little more complex than just "upgrading the verbiage" from Medium to High as FedRAMP High includes additional controls that FedRAMP Medium doesn't. The work to document the new blueprint sample is already in progress and will be published when it is completed (soon).  Thanks for the suggestion!

@MicrosoftDocs/azure-cxp-triage Please la

[2020-01-12 16:26] #46003 closed

[2020-01-12 16:37] DCtheGeek commented on #46002
Thanks @CHDAFNI-MSFT for pointing that out.  The date in the source is actually `01/20/2020`, so it looks like @jomolesk likely just transposed the digits for the day portion of the field since the last update was done on `01/02/2020`. Given the transposed date is only a week out, it'll be in the past soon enough!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-01-12 16:37] #46002 closed

[2020-01-12 16:39] oortizt opened #46004 "Removing a target database from a SqlShardMap in order to a scheduled job stop running in the removed target"
I have a ElasticJobAgent pointing to an ElasticJobDatabase, the ElasticJobDatabase use SqlShardMap to run jobs against all the databases that belong to that SqlShardMap, the problem is the following:

When I remove a database from the SqlShardMap the ElasticJobDatabase and Agent still running jobs on that removed target database.

My question is how to stop the ElasticDatabaseAgent and database to

[2020-01-12 16:49] kiranpradeep commented on #45997
Also please see that the "Create a private endpoint (preview)" section, just creates dns record set with out any actual dns entries. Is that intentional?

[2020-01-12 17:13] pjmartorell opened #46005 "SSH keys in Alpine"
In order to make the SSH demon work in Alpine you need to previously generate ssh keys, otherwise sshd raises an error stating keys are not found. This is an example code of the start-up script of the container in order to make SSH work:

# starting sshd process
sed -i "s/SSH_PORT/$SSH_PORT/g" /etc/ssh/sshd_config
ssh-keygen -A -q
/usr/sbin/sshd

---
#### Document Details

⚠ *Do not edit this sect

[2020-01-12 17:20] MicahMcKittrick-MSFT commented on #24636
That's fine we can keep it open. No ETA at the moment though on if/ when we will adjust. I am still working on having multiple conversations with different teams who own this products.

[2020-01-12 17:21] MicahMcKittrick-MSFT commented on #44369
I am working on that as well. Takes a few PRs to Adjust.

[2020-01-12 18:13] AdamGlass commented on #45878
Not happy about using this undocumented annotation in production.  If documentation isn't forthcoming along with some commitment that it's not just going to be broken by removing the 'beta', we will be forced to change our automation proactively.

[2020-01-12 18:54] ryanceleslie opened #46007 "Azure Storage Explorer asks to connect to Password Manager Service when it's already connected in openSUSE"
I followed the openSUSE Leap 15.1 Snap instructions for Azure Storage Explorer installation and the app asks to run the snap connect command to connect storage explorer to the password manager service on load every time, even though I ran the command prior to loading the app. I have since tried disconnecting the connection and reconnecting, also reinstalling Storage Explorer. The app always asks t

[2020-01-12 19:11] eveningit opened #46008 "Attach a disk to existing scale set not working"
I have followed the steps to attach a disk to existing scale set, but nothing appears within the VM in disk management. I have also tried to add a data disk in the GUI and everytime I save and navigate to another page in the portal the disk disappears. Do you know if this a bug or am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-01-12 19:20] tudormaz commented on #40696
I already provided my input and desired output. My variable is set via a "Set variable" activity. Is the rendering able to handle line breaks so it displays a multi-line text properly?

[2020-01-12 19:30] aaronralls opened #46009 "Who is the user?"
The following statement:
"With service-aided subnet configuration user is in full control of data (TDS) traffic while Managed Instance takes responsibility to ensure uninterrupted flow of management traffic in order to fulfill SLA."
Can we clarify this? Is there a service-aided subnet configuration user that is in control of the data traffic? Or is the service-aided subnet configuration managing t

[2020-01-12 20:25] akramwaseem opened #46010 "ARM template doesnt work with the above provided example"
What exaclty is : "type": "Microsoft.OperationsManagement/solutions",
and we are not calling it on any other resource and we are using Insights instead of operations
even if it depends upon still template doesnt work.
give me The resource 'Microsoft.OperationsManagement/solutions/XXXXXXXX' is not defined in the template
I dont see a way to install the solution for portal not template.

---
#### Do

[2020-01-12 20:48] dreamuth opened #46011 "Support for session enabled queue"
Please explain or add example on how to receive message from session enabled queues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae05c9ae-995f-def7-91fd-3210d4cd6178
* Version Independent ID: c6456f34-7074-28bb-e897-b32e9d04e5ad
* Content: [Use AMQP with Java Message Service API & Azure Service Bus](https://docs.mic

[2020-01-12 20:52] dotnetryan commented on #46007
I found another issues post on this same problem, https://github.com/microsoft/AzureStorageExplorer/issues/1887

None of the options discussed helped, and I don't see a "Microsoft_StorageExplorer" entry in kwallet.

[2020-01-12 21:19] richardbartley opened #46013 "Watch out for Slots"
If using WebJobs and Deployment Slots, it is critical to make use of the WEBJOBS_STOPPED = 1 configuration (make sure it is a Slot setting) otherwise you may find the WebJob running twice, potentially a previous version of your code than the one you just pushed.

I'd like to see some enhancement around this as it is not obvious.

---
#### Document details

⚠ *Do not edit this section. It is requir

[2020-01-12 21:48] omerzubair opened #46014 "Name Change required playbooks -> Workflow automation"
Hi MS,
I was performing a lab and found that the name is changed from PlayBooks to Workflow Automation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0c4309-ab07-68c4-89d9-c7c406f426ec
* Version Independent ID: 9145deb2-f921-1f7c-e35c-61a0ad7ac793
* Content: [Security Playbook in Azure Security Center](https://docs.

[2020-01-12 21:59] KrishnaG-MSFT commented on #46003
@DCtheGeek Thanks for the quick response. :+1:

[2020-01-12 22:04] KrishnaG-MSFT commented on #46010
@akramwaseem Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-12 22:09] RotateAt60MPH commented on #11450
This problem apparently _can_ be fixed (ref: https://github.com/Azure/iotedge/issues/584).  But there is no detail part from a functional description.  Maybe somebody could actually post some details...

[2020-01-12 22:57] akiller commented on #45822
No problem!

I'm not sure if someone has fixed this but I just logged in and I can now see the "Enable the built-in vulnerability assessment solution on virtual machines (powered by Qualys) (Preview)" entry so it looks like it's now working.

[2020-01-12 22:59] khowling commented on #45878
@palma21, yes #46015

[2020-01-12 23:24] pauloster opened #46016 "It appears there may be a step missing between steps 4 and 5 in the 'Restore a deleted database using the Azure portal'"
It appears there may be a step missing between steps 4 and 5 in the 'Restore a deleted database using the Azure portal'
Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1409aa7-d0e2-5493-6f81-43ad6d8d5b95
* Version Independent ID: 4b5f40f8-ad86-80dc-1989-423e1d74f675
* Content: [Restore a deleted data wa

[2020-01-12 23:25] AdamGrossTX commented on #22886
I know that this issue is closed, but I'm looking at this and trying to understand what the list of possible SystemLabels should/could be. The only one I see is the example in the dynamic groups doc. What are the other values? Also, I have AAD and Hybrid AD joined devices and they don't have any values in SystemLabel. What am I missing here?

[2020-01-13 00:20] SwathiDhanwada-MSFT commented on #45695
@navinjk I would suggest you to check out [this](https://docs.microsoft.com/en-us/azure/automation/automation-solution-vm-management#scenarios) document, where all the details of each runbook and scenarios where each of them can be used has been clearly explained.

We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-01-13 00:20] #45695 closed

[2020-01-13 01:21] MSNina123456 commented on #44445
@bwren  Thanks for update. we cannot add mapped drive in custom log as we cannot find it as local drive. below are testing in my bench:
1. created mapped drive, which will appear as Z:, add log as log1.txt
2. tried to find this mapped drive but cannot: only C: drive is found
DISKPART> list volume

  Volume ###  Ltr  Label        Fs     Type        Size     Status     Info
  ----------  ---  ------

[2020-01-13 01:50] neeleshray-msft commented on #46014
@omerzubair Thanks for your feedback. We will review and update as appropriate.

[2020-01-13 02:14] OzBob opened #46017 "Resolve past due balance, Status:Disabled missing Settle link"
The help and screen shots do not reflect the views I have in azure billing.

My subscription had the status 'disabled' and no there was no link to 'settle balance'.

I navigated around until I found this page:
https://portal.azure.com/#@{username}/resource/subscriptions/{subscriptionid}/overview
but it did not have a 'settle balance' button either.

Then after more than 60 seconds this message pop

[2020-01-13 02:23] OzBob commented on #46017
I've repeated the test,
https://s2.billing.ext.azure.com/api/Billing/Subscription/BillingStatus?api-version=2019-01-14
call happens after 10 to 28 seconds after the page load. First report of this page load above felt much longer than 30 seconds.
It takes 2 to  3 seconds to respond.

The 'settle balance' link is not present on the subscription overview page.

[2020-01-13 02:37] himanshusinha-msft commented on #46004
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2020-01-13 02:56] KrishnaG-MSFT commented on #46005
@pjmartorell Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 03:00] KrishnaG-MSFT commented on #46007
@dotnetryan Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 03:02] KrishnaG-MSFT commented on #46008
@eveningit Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 03:04] KrishnaG-MSFT commented on #46009
@aaronralls Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 03:11] KrishnaG-MSFT commented on #46017
@OzBob Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-13 03:14] KrishnaG-MSFT commented on #45846
@harelbr Thanks for the response.
@guptakapil Closing this issue for now. If there are further / any questions regarding this matter or feedback on the refrred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-01-13 03:14] #45846 closed

[2020-01-13 03:22] andrewatfornax opened #46018 "Transient Error Codes Not Documented"
We see the following transient errors from Azure SQL Databases which are not documented with their codes:

A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 0 - An existing connection was forcibly closed by the remote host.) An existing connection was forcibly closed by the remote host

A transport-

[2020-01-13 03:27] StingyJack opened #46019 "How do you control the containers?"
There doesnt seem to be a "restart the containers" ( like `rm -s -f`, `up -d`) button. If I restart the App Service it redownloads and re-extracts the containers again - which takes 5-10 minutes.

Since this is a common operation, i think the quickstart would be the right place to have the this kind of directions, but I dont see any kind of administration other than creation and nuclear option sty

[2020-01-13 03:30] SnehaAgrawal-MSFT commented on #46013
@richardbartley Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-13 03:37] tdihp opened #46021 "Add notification in rewrite example on the use of forward"
From:

       rewrite name substring &lt;domain to be rewritten&gt;.com default.svc.cluster.local
        forward .  /etc/resolv.conf # you can redirect this to a specific DNS server such as 10.0.0.10

To:

       rewrite name substring &lt;domain to be rewritten&gt;.com default.svc.cluster.local
        forward .  /etc/resolv.conf # you can redirect this to a specific DNS server such as 10.0.0.10

[2020-01-13 03:46] andrewatfornax commented on #46018
Looks like these may be found in source code here:

https://github.com/Azure/elastic-db-tools/blob/master/Src/ElasticScale.Client/ElasticScale.Common/TransientFaultHandling/Implementation/SqlDatabaseTransientErrorDetectionStrategy.cs

[2020-01-13 03:47] ketan-chawda-msft commented on #46011
@dreamuth Thank you for your feedback! We will review and provide an update as appropriate.

[2020-01-13 04:33] DixitArora-MSFT commented on #45762
@Oronis You can use the Force option which is mentioned in the doc. I am sure  it will suffice the purpose. Below is the screen shot.
![image](https://user-images.githubusercontent.com/46984568/72233180-af214000-35eb-11ea-8518-d7ca372da739.png)

For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2020-01-13 04:33] #45762 closed

[2020-01-13 04:36] DashleenBhandari-MSFT commented on #46019
@StingyJack , Thank you for raising the issue. I will investigate and update you.

[2020-01-13 04:45] SaurabhSharma-MSFT commented on #45736
@nmetayer87 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-13 04:45] #45736 closed

[2020-01-13 04:46] SnehaAgrawal-MSFT commented on #45777
@w0ut0 Thanks again for the feedback! Team is working on it and it will be published soon. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-13 04:46] #45777 closed

[2020-01-13 05:02] neeleshray-msft commented on #45775
@jantorelamoy We will be closing this thread now. Kindly let us know if you need further help.

[2020-01-13 05:02] #45775 closed

[2020-01-13 05:03] neeleshray-msft commented on #45843
@MicrosoftGuyJFlo Could this be verified and added to the document ?

[2020-01-13 05:04] jimmcslim opened #46024 ""A detailed description of the available fields, their types, and definitions in CloudEvents v0.1 is available here.""
The text quoted in this issues heading references v0.1, however the link is actually the now published v1.0 - the text should be updated to v1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd55e19-eb11-3b0f-c6e1-3710f712fd58
* Version Independent ID: f413f074-6a81-73fa-0674-f8bc98aeac1d
* Content: [Use Azure Event

[2020-01-13 05:04] DixitArora-MSFT commented on #46024
Hi @jimmcslim Thanks for your feedback. We will review and update as appropriate.

[2020-01-13 05:06] SaurabhSharma-MSFT commented on #45285
@albigi Thanks for your feedback !!  I have assigned this issue to content author to investigate and update the document as appropriate with the manifest file updates.  Also, for your automation feature request please post this as a feedback at [Uservoice](https://feedback.azure.com/forums/169401-azure-active-directory).

@rwike77 can you please look into this and update the documentation as requi

[2020-01-13 05:15] ram-msft commented on #45773
@rashmiinamdar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 05:15] #45773 closed

[2020-01-13 05:17] RohitMungi-MSFT commented on #45922
@Naveenkhasyap This may be a portal issue. We would recommend to report it from the Help+Support blade on azure portal so the appropriate team can help.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-01-13 05:17] #45922 closed

[2020-01-13 05:17] dtdono0 commented on #45931
Just to clarify, does overwriting an existing data factory to generate an Application Identity delete anything in the current data factory or does it just only update the data factory with the Application Identity and leaves everything else alone?

[2020-01-13 05:42] VikasPullagura-MSFT commented on #46001
@StingyJack Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-13 05:46] DixitArora-MSFT commented on #45921
@cybertron2600 Just checking if you have gone through this doc and see if it helps.

https://docs.microsoft.com/en-in/partner-center/csp-overview

[2020-01-13 05:56] VikasPullagura-MSFT commented on #46001
@mlearned Can you look into this doc enhancement feedback for adding the prerequisites.

[2020-01-13 06:01] VikasPullagura-MSFT commented on #45817
@john-dieter Thanks for responding back.

Since this channel is for driving improvements towards MS Docs, and your issue is not related directly to the doc I would recommend you to create a thread on the forums- [MSDN](https://social.msdn.microsoft.com/Forums/en-US/newthread) / Stackoverflow.
Once you post your issue on forums, it will have visibility across the community which is a better suited

[2020-01-13 06:01] #45817 closed

[2020-01-13 06:03] ketan-chawda-msft commented on #45859
@rabrahamOpti To get access to the API, developers must first subscribe to a product. When they subscribe, they get a subscription key which is sent as a part of request header that is good for any API in that product. `Ocp-Apim-Subscription-Key` is the request header sent for the subscription key of the product that is associated with this API.

Doc: https://docs.microsoft.com/en-us/azure/api-man

[2020-01-13 06:04] SumanthMarigowda-MSFT commented on #45697
@cthomasberg PR request has been raised.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 06:04] #45697 closed

[2020-01-13 06:04] ketan-chawda-msft commented on #45793
@spelluru can you share your thoughts here?

[2020-01-13 06:17] cybertron2600 commented on #45921
Thanks for showing me that, but no, unfortunately that is not the documentation and does not answer my questions for migrating a customer from PAYG to CSP.

What I'm referring to is here: This ENTIRE tree of documentation is just GONE.
![image](https://user-images.githubusercontent.com/45411996/72235850-524d6780-35a2-11ea-850f-b29040aa549b.png)

[2020-01-13 06:21] AjayKumar-MSFT commented on #45823
The 'WEBAPP_STORAGE_HOME' variable- is an alias used to reference the app service storage, so it works with that variable. Also, the App Service Storage has precreated LogFiles and site folders, with a wwwroot folder under the site.

[2020-01-13 06:21] cybertron2600 commented on #45921
Also, browse to this search page:

https://azure.microsoft.com/en-us/search/documentation/?q=Azure+CSP&products=

Not a single one of the links that search returns is accessible. They all take you directly back to the Partner Portal and nothing to do with Azure.

I really have no idea how else to explain what's going on here.

[2020-01-13 06:28] DixitArora-MSFT commented on #45921
@cybertron2600 I will discuss this internally and will update the next course of action you can take. Thanks again for the detailed explanation.

[2020-01-13 06:33] VikasPullagura-MSFT commented on #45999
@satyasyamnn As you mentioned that the 20 VM's per region is low for enterprise scenarios, I would recommend to give feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).

Just an FYI, VM Quota/Limits are imposed for below reasons:
- To ensure the availability of hardware for the scalability per subscription on appropriate regions.
- Quota limits also helps the administrators

[2020-01-13 06:33] VikasPullagura-MSFT commented on #45999
@cynthn Can you please add your comments on this feedback.

[2020-01-13 06:38] DixitArora-MSFT commented on #45986
@juunas11 R has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 06:38] #45986 closed

[2020-01-13 06:40] sunilmaram opened #46026 "While reset the password Azure B2C policy in signinNames collection is removing."
1. before password reset with**test12@gmail.com**
"signInNames": [
      {
        "type": "emailAddress",
        "value": "test12@gmail.com"
      } ,
      {
        "type": "emailAddress",
        "value": "test123@gmail.com"

    ]
  }
2.After Password rest the values in signinNames is
"signInNames": [
      {
        "type": "emailAddress",
        "value": "test12@gmail.com"
      }
    ]

[2020-01-13 06:40] CedricZhu opened #46027 "Azure RSS Feed queries"
One of our customers used the following feed url until last Dec 24th.

https://azure.microsoft.com/en-us/status/feed/?service=compute
https://azure.microsoft.com/en-us/status/feed/?service=networking
https://azure.microsoft.com/en-us/status/feed/?service=storage

Then, it stopped working.
Further worked on the issue, we found the official URL should be https://status.azure.com/en-us/status
There w

[2020-01-13 06:48] AshokPeddakotla-MSFT commented on #45833
@senthilnathans
Since this is not a documentation issue and this will require some deeper analysis.
Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan,  lease reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2020-01-13 06:52] AshokPeddakotla-MSFT commented on #45990
@Sprinton Since this is not a documentation issue and you have already created an issue in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/ea46ccd6-27ce-4eec-b724-b5cd1a5e6024/transparent-gateway-certificates-not-found-operating-in-quick-start-mode?forum=azureiothub), we will be helping from there and we will now proceed to close this thread. If there are further questions regarding th

[2020-01-13 06:52] #45990 closed

[2020-01-13 06:59] KranthiPakala-MSFT commented on #45844
@voronkovsergey We have assigned the issue to the content author. They will evaluate and provide an document as appropriate.

[2020-01-13 07:01] KranthiPakala-MSFT commented on #45860
@helloyesthisisdave Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-01-13 07:04] WhitWaldo opened #46028 "Minor casing typo in code sample"
Under the section titled "Backup Reliable Services", there exists a code sample where the first line contains:

new BackupDescription(backupOption.Incremental

The B of "backupOption" should be capitalized as in BackupOption as it's an enum provided by Service Fabric.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2afe

[2020-01-13 07:06] PramodValavala-MSFT commented on #45869
@mariomeyrelles [This doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#working-with-options-and-settings) links to the [app settings doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings) which further [links to the corresponding instructions](https://docs.microsoft.com/en-us/azure/azur

[2020-01-13 07:08] KranthiPakala-MSFT commented on #45892
@crisansou Thanks for sharing the details. Just wanted to confirm if you still need assistance regarding this?