[2020-12-14 19:42] dlepow commented on #67633
#assign dlepow

[2020-12-14 19:42] PRMerger16 commented on #67633
dlepow is already assigned.

[2020-12-14 19:43] binbrain opened #67653 "Different key types not explained in detail"
In the Index Access section it mentions using different types of keys. For example, "For end-user access, you can structure query requests to connect using a query key". The query key supposedly has READONLY. However, actually creating and using a query key isn't really obvious to me. If its in another part of the documentation I can't find it. It would nice to either elaborate on how to create an

[2020-12-14 19:44] pcty-msantos opened #67654 "Update to "Configure Paylocity SSO""
Please edit this section:
"To configure single sign-on on Paylocity side, you need to send the downloaded Federation Metadata XML and appropriate copied URLs from Azure portal to Paylocity support team. They set this setting to have the SAML SSO connection set properly on both sides."

Paylocity no longer requires the need for clients to download the metadata file and provide URLs from the Azure p

[2020-12-14 20:10] chetansriv commented on #66981
@chocky005 The article is fixed to clarify on the role setup, please review

#please-close

[2020-12-14 20:10] #66981 closed

[2020-12-14 20:12] KumudD commented on #67340
@gb5757870 Thanks for bringing this to our attention! The article has been updated.

#please-close

[2020-12-14 20:12] #67340 closed

[2020-12-14 20:17] HeidiSteen commented on #67653
@binbrain Thanks for the heads up! I'll add a link to the docs, but to unblock you right now, here are the steps: https://docs.microsoft.com/en-us/azure/search/search-security-api-keys

[2020-12-14 20:18] MarileeTurscak-MSFT commented on #67654
@pcty-msantos
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-14 20:23] cherylmc commented on #65806
After further discussion with the PMs, they decided that a doc update wasn't appropriate at this time. #please-close

[2020-12-14 20:23] #65806 closed

[2020-12-14 20:23] MarileeTurscak-MSFT commented on #67652
@msaranga
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-14 20:24] stivoberlin commented on #61420
you should fix your documentation in microsoft learn, instead to close this item.
Your microsoft learn documentation, states : "Select Next: Size and scale to view the capabilities of your hub, noting all the services we need are enabled. Open up Advanced Settings to see the number of partitions. You can leave all entries at their default settings. Or, for peace of mind, **you can change Pricing a

[2020-12-14 20:37] MashaMSFT commented on #65748
Hi @parasparekh , thanks again for contacting Microsoft! We have processed a change to add more clarity to the free DR replica in Azure section.

Thanks for providing your feedback and helping improve our docs! I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close

[2020-12-14 20:37] #65748 closed

[2020-12-14 20:38] MashaMSFT commented on #64789
Hi @parasparekh , thanks again for contacting Microsoft! We have processed a change to add more clarity to the free DR replica in Azure section.

Thanks for providing your feedback and helping improve our docs! I'll close out this Git Issue but please feel free to comment should you need anything further.

Thanks!
Masha from the SQL Docs team
#please-close

[2020-12-14 20:38] #64789 closed

[2020-12-14 20:40] MashaMSFT commented on #65887
Hi @rajgang, the change is now live :)

Thanks!
Masha from the SQL Docs team

[2020-12-14 20:43] jezell commented on #66693
Waiting 48 hours does not seem to work. We have been experiencing this issue for over a week and have been unable to add a verified publisher.

[2020-12-14 20:45] jezell commented on #62877
Also experiencing this issue for over a week now:

A verified publisher cannot be added to this application. Please contact your administrator for assistance. [XWxsCAOzCQCiW3ycHKPCFm]

[2020-12-14 20:48] RonnieQuan opened #67657 "Will I save cost when use bastion vnet peering feature?"
With this feature, since I don't need to create a bastion per vnet, one bastion host can be used by VMs from multiple vnets, will that save cost?

What's the pricing for bastion vnet peering feature?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e03fe8f3-cb91-cb10-8e72-5e6c6270f644
* Version Ind

[2020-12-14 20:54] BBrukner commented on #66693
Same experience as jezell. We have waited a week and have the same issue as we initially had "You are unable to add a verified publisher to this application. Please contact your administrator for assistance. [KJX/8gto677Fyq8JM7vFls]"

[2020-12-14 20:56] femsulu commented on #67649
@cijothomas , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-14 20:58] tamram commented on #40681
#reassign: lichunli-ms

[2020-12-14 20:58] PRMerger20 commented on #40681
lichunli-ms is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-12-14 20:59] DerekHerman-MSFT commented on #67466
@Talaria89 I was unable to reproduce this issue. I used wireshark and first uploaded a file like normal. I then tried both azcopy for files and for blobs, the data was not downloaded/uploaded from my PC and utilized the server-to-server APIs as expected. If you are seeing this happen on your PC please submit proof and file a bug [here](https://github.com/Azure/azure-storage-azcopy/issues).
Since t

[2020-12-14 20:59] #67466 closed

[2020-12-14 21:05] MashaMSFT commented on #67137
Hi @si-chan , thanks for contacting Microsoft! You are correct, the message that displays is a warning and not an error - it will not stop provisioning. I have updated the language on the page to reflect this.

Thanks again for reaching out and improving our docs! I'll close out this Git Issue but please feel free to comment should you need anything further.

I hope you have a wonderful rest of yo

[2020-12-14 21:05] #67137 closed

[2020-12-14 21:12] MarileeTurscak-MSFT commented on #67652
Thanks for this! I created a pull request to update the text to go to the dropdown so that this matches the UI. https://github.com/MicrosoftDocs/azure-docs-pr/pull/140924

As long as you have the right admin role (at least a User Admin or global admin) you should be able to select the option in the dropdown and see the download popup.
![image](https://user-images.githubusercontent.com/13383753/102

[2020-12-14 21:12] #67652 closed

[2020-12-14 21:21] MashaMSFT commented on #60223
Hi @JamesDLD , thanks for contacting Microsoft and my apologies for the delay in response! As you point out, Ultra Disks do support availability zones, however they must be placed in the same availability zone, which reduces the availability of the VM. As such, regardless of the chosen hardware availability solution, the availability of the failover cluster is always 99.9% when using Azure Shared

[2020-12-14 21:21] #60223 closed

[2020-12-14 21:25] JamesTran-MSFT commented on #66693
Hi all,

As of right now, this problem appears to be caused by a known issue that engineering is working to resolve. We don’t have a specific ETA yet, but are hoping to have one soon.

[2020-12-14 21:33] JamesTran-MSFT commented on #67325
@gkens
I received a response from our engineering teams and will post their update below.

**Update:**
They should have the ability to use all the methods defined within that tenant (resource or home). There isn't a restriction for Guest users. If they have issues, it is advisable to open a support case for detailed investigation.

------------

If you're still experiencing issues, can you please

[2020-12-14 21:33] #67325 closed

[2020-12-14 21:38] bargor-code commented on #67052
Hi Bailey,

I was thinking that it’s important to highlight the importance of the value provided here to align this with where you have highlighted.
[cid:image002.jpg@01D6D2BD.91F283D0]

From: Bailey Anderson <notifications@github.com>
Sent: Tuesday, 15 December 2020 2:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: bargor-code <andrew.phipps2@outlook.com>; Mention <mention@

[2020-12-14 21:42] netapp-juliec commented on #40681
pinging @lichunli-ms for an update.

[2020-12-14 21:43] b-juche commented on #40681
Pinging @lichunli-ms for an update about this product question.

[2020-12-14 21:47] MarileeTurscak-MSFT commented on #67654
Thanks! I made a pull request to update this.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/140929

@jeevansd please confirm

[2020-12-14 21:47] #67654 closed

[2020-12-14 21:48] alalani123 opened #67658 "Typo in date"
In December 2021, releases of SSMS prior to 18.6 will no longer authenticate through Azure Active Directory with MFA. I think December 2020 was meant here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcdbb998-f459-8ba7-30b1-da14cd789260
* Version Independent ID: b3e392dd-454a-230f-5ffa-ccb3084bfe09
* Content: [SSMS:

[2020-12-14 21:53] MarileeTurscak-MSFT commented on #67611
Based on the error it seems to be missing some packages and dependencies. Please create an issue on the piece of documentation where you would like to leave feedback and we will gladly help troubleshoot.

[2020-12-14 21:53] #67611 closed

[2020-12-14 22:01] duongau commented on #67503
@mbrashearnttglobalnet This is an expected behavior at the moment. You will need to have your subscription enrolled first before you can start using ExR Direct. The instructions can be found here for enrollment: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-erdirect-about#onboard-to-expressroute-direct. I will also put the enrollment instructions as a pre req in the How-to guide

[2020-12-14 22:03] duongau commented on #67503
#please-close

[2020-12-14 22:03] #67503 closed

[2020-12-14 22:10] jobeland opened #67659 "Scalability Targets for Premium Block blob storage accounts contains no actual targets"
The Scalability Targets for Premium Block Blob Storage accounts only mentions that is is designed for 'high transaction rates' and 'low latency storage'. What are the actual numbers supported: what is the supported transaction rate for a single blob and/or the entire storage account, and what latencies are to be expected? The similar page for Standard Storage accounts explicitly call out  numbers

[2020-12-14 22:32] MarileeTurscak-MSFT commented on #54680
@jeevansd can you please help clarify this?

[2020-12-14 22:33] Plasma commented on #19531
Unrelated to the documentation, but the Event Hubs SDK could (and IMO should) mitigate this by reverting their change of using ListBlobsAsync for finding checkpoint files, it’s so subtle and leads to complete failure of the processing service.

[2020-12-14 22:37] JamesTran-MSFT commented on #67489
@itishnitsa
Since Philippe answered your question,  I'll go ahead and close out this issue.

If you don't receive any updates on this thread within the next few weeks, or see the real limit reflected in our documentation, please feel free to tag me or @psignoret and we will be more then happy to continue working with you.

Thank you again for your time and patience throughout this issue!

[2020-12-14 22:37] #67489 closed

[2020-12-14 22:39] alfredorevilla opened #67660 "No mention about possible workaround related to the RDP file or Azure AD user local group membership"
A user could finally be able to login with Azure AD credentials using a modified RDP file and adding the Azure AD user to the "Remote desktop users" local group but none of these neither best suited workarounds are mentioned in the documentation.

- https://docs.microsoft.com/en-us/answers/questions/188811/ad-account-login-for-azure-data-science-vm.html?childToView=197390#comment-197390
- https://

[2020-12-14 22:45] mbrashearnttglobalnet commented on #67503
My subscription is already enrolled and I can use the Azure UI to provision express route cross connects.

Marc

From: Duong Au [mailto:notifications@github.com]
Sent: Monday, December 14, 2020 2:02 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Brashear, Marc <mbrashear@nttglobal.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Following inst

[2020-12-14 22:48] MarileeTurscak-MSFT commented on #67660
@alfredorevilla
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-14 22:50] mgblythe commented on #66588
@AtesSolutions - I added a sentence to that article about sending a message to close a request - will be live this afternoon. I'll update the info if there are feature changes.

@SwathiDhanwada-MSFT as FYI

[2020-12-14 23:04] BharathNimmala-MSFT commented on #67307
Thanks again @tfitzmac for helping review this feedback.

@hansmbakker My sincere apologies for delay in getting back to this thread. Thanks again for your feedback and doc-idea to improve our Azure documentation. I did had chance to discuss this with our document author @tfitzmac and we will have an internal work item to further review the feedback and see how and when,  we can enhance the docume

[2020-12-14 23:04] #67307 closed

[2020-12-14 23:06] GiftA-MSFT commented on #67576
@Blackbaud-ChristiSchneider you should be using the Bing Search V7 resource keys and endpoint. Endpoint should be "https://api.bing.microsoft.com/v7.0/SpellCheck/".

[2020-12-14 23:08] duongau commented on #67503
@mbrashearnttglobalnet I just wanted to make sure we're on the same page here because you're talking about cross-connect which is one of our connectivity model to a Cloud Exchange for ExpressRoute. While the commands you're trying to run are specifically for ExpressRoute Direct which requires our Product Group to enable the feature for you to create and run those commands.

I'm unable to run those

[2020-12-14 23:09] tfitzmac commented on #67307
@hansmbakker - you could add [template what-if](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-deploy-what-if?tabs=azure-powershell) to your pipeline as a way of verifying the what changes your template will make without actually deploying the template.

[2020-12-14 23:15] GiftA-MSFT commented on #67565
@panitaxx can you please clarify what the issue? `<say-as interpret-as="number">` isn't mentioned in this document.

[2020-12-14 23:51] James-Hamil-MSFT commented on #67084
Hi @HeinzLm , sorry for the delay.  I've done some research and it doesn't seem like this is possible unfortunately. I would recommend submitting a feature request [here](https://feedback.azure.com/forums/34192--general-feedback). Hope this helps.

Best,
James

[2020-12-14 23:51] #67084 closed

[2020-12-14 23:52] James-Hamil-MSFT commented on #67318
Hi @JeremyTBradshaw , I'm glad you figured it out! It looks on my end to be confirmed as well. Please reach out if you need any more assistance!

Best,
James

[2020-12-14 23:52] #67318 closed

[2020-12-14 23:53] #62118 closed

[2020-12-15 00:23] WinstonHoward-MSFT commented on #67486
Hi @juanandmsft ,

Yes you can follow the same procedure to place the page file in a custom letter without having D assigned to a disk. I just followed the steps myself for your use case and it works great. Closing product question. Have a good one.

[2020-12-15 00:23] #67486 closed

[2020-12-15 00:29] BryanTrach-MSFT commented on #67398
@drjayvee Thank you for bringing this to our attention. This appears to have been fixed in https://github.com/MicrosoftDocs/azure-docs-pr/commit/509391bdb985eb41cfe1b588f16c2ae7454ea392 and the change is now live.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen th

[2020-12-15 00:29] #67398 closed

[2020-12-15 00:30] JamesTran-MSFT commented on #67544
@agronholm,
Thank you for your time and patience throughout this issue! I've reached out to my team regarding this issue and will update as soon as possible.

[2020-12-15 00:32] hpsin commented on #67544
You haven't included a resource parameter, so AAD can't figure out what to give you an access token for.  Please note that you're making a request to the v1 endpoint, not the v2 endpoint, so the resource parameter is required, in place of scope.

[2020-12-15 00:35] BryanTrach-MSFT commented on #67392
@drjayvee Thank you for bringing this to our attention. We agree that this needs to be looked into further. Since this has the potential to impact others following the doc, we have assigned the issue to the doc author to have them review further.

@cephalin It appears that customer's are being instructed to create a PHP 7.3 app but laravel might not work on PHP 7.3. It [appears only 7.2 works curr

[2020-12-15 00:40] James-Hamil-MSFT commented on #64625
So sorry for the delay. Do you still require assistance?

[2020-12-15 00:51] #67614 closed

[2020-12-15 01:00] BryanTrach-MSFT commented on #67614
@ShinraCorpMixer Thank you for the heads up. We have gone ahead and submitted a change that should be public within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-15 01:03] #67499 closed

[2020-12-15 01:18] sdwheeler commented on #67490
The Guest Configuration resource module requires the following software:

- PowerShell 6.2 or later. If it isn't yet installed, follow these instructions.
- Azure PowerShell 1.5.0 or higher.

The `$IsMacOS` variable is an automatic variable in PowerShell 6 and higher. It does not exist in Windows PowerShell 5.1 and lower. You must be using PowerShell 5.1.

[2020-12-15 01:44] MonikaReddy-MSFT commented on #67555
@AndrewPHunter - Currently, PAT is the only way to currently authenticate to a repo, GitHub or ADO. I hope this information helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-15 01:44] #67555 closed

[2020-12-15 01:45] jeevansd commented on #54680
@montereyharris Yes, your understanding is correct here. In this case you need to open the port in your firewall so that users can use the URL to access the JIRA server and JIRA server also should able to receive the token from Azure AD endpoint and for that you need to open the inbound connection to Azure AD endpoint to receive the token.

[2020-12-15 01:46] MonikaReddy-MSFT commented on #67566
@fatinebennani - BYOL is not enabled for Azure Applications. In the table it states the same that  BYOL is for Azure container, not Azure application, and BYOL is supported for Azure container, and any plan created for Azure container are already free or BYOL. Hope this information helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are

[2020-12-15 01:46] #67566 closed

[2020-12-15 01:56] andrejpk opened #67666 "fromConnectionString doesn't use the new operator"
in "How to create a queue", this line:
[code]
should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4663227e-b796-6acb-db37-8459eb5fb420
* Version Independent ID: dc2373d5-07c2-aec9-def8-f6d8d8b3a443
* Content: [How to use Azure Queue storage from Node.js - Azure Storage](https://docs.microsoft.com/en-us/azu

[2020-12-15 01:56] jdelforno opened #67667 "This is a REST POST, where's the ARM template on its' own?"
This page shows a REST POST action, not a PowerShell execute with ARM Templates.

Rather confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3ecaa0a-27fa-b91d-a24a-39a2b7da0710
* Version Independent ID: 0a995856-b75f-b8d4-7d61-f930c600ff63
* Content: [Programmatically create Azure subscriptions with an Azure Res

[2020-12-15 01:58] wombling opened #67668 "Update references to SAP Cloud Platform rather than SAP HANA Cloud Platform"
Hi - in the documentation there are multiple references (especially in the diagrams) to SAP HANA Cloud Platform.

The solution hasn't been known as that for a few years now. Perhaps the documentation could be updated?

Thanks,

Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e64689-b302-894f-08b4-60e9a037afdb
*

[2020-12-15 01:58] Zhong-J commented on #67625
Hi @HarshitaSingh-MSFT , I would love to know how can I know whether the VM support NvLink?

[2020-12-15 02:02] wombling opened #67669 "Tip/Trick to be aware of when creating SSO between IAS/AAD"
Hi,

was following this guide the other day with a customer and we had an issue, which was caused by the customer creating an inactive signing certificate:

![image](https://user-images.githubusercontent.com/2967008/102158462-9e510c80-3ed5-11eb-9177-c0aa27141413.png)

The IAS used the inactive cert from the metadata rather than using the active one - which caused the SSO not to work. Was wondering

[2020-12-15 02:03] jeevansd commented on #67668
@v-hagamp Can you please get this fixed?

[2020-12-15 02:15] femsulu commented on #67667
@jdelforno, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-15 02:18] ramya-rao-a opened #67670 "The links under Reference node for Key Vault should point to overview pages for reference content, not reference docs for the mgmt plane package"
[The Reference node in the TOC on the left](https://docs.microsoft.com/en-us/azure/key-vault/general/overview) has nodes for API reference docs for various languages.
The ones for Java and Node.js takes you to the overview page for the service from where one can choose the package for which they want the reference docs.
But, the ones for [.Net](https://docs.microsoft.com/en-us/dotnet/api/overview/

[2020-12-15 02:22] ThomasWeiss opened #67671 "Is it possible to access the fields in the http response at arbitrary depth?"
`{YourWebEndpointName.FieldName}` works, but `{YourWebEndpointName.Field1.Field2}` doesn't seem to. Is this not supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77760c1a-55c1-8c92-55f8-55e4e486bc25
* Version Independent ID: 9da54731-fb5a-a0fa-2e3f-8a76f506317a
* Content: [Set up web endpoints (Preview) - Azure

[2020-12-15 02:30] dolauli opened #67672 "Should be (Get-AzResourceProvider -ProviderNamespace Microsoft.Batch).ResourceType instead of (Get-AzResourceProvider -ProviderNamespace Microsoft.Batch).ResourceTypes"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e0f4357-f70d-c3b7-5107-5dd4c1430efc
* Version Independent ID: 84c23960-2831-bc9f-7bbe-33e751a19ad2
* Content: [Resource providers and resource types - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/re

[2020-12-15 02:41] Jcardif opened #67673 "Region or SKU unavailable - Help + Support on azure portal does not have the problem type shown on this page"
This page shows the problem type to be **Unable to access my subscription or resource** but azure portal does not have this problem type, it only has **unable to access my subscription** which does not have any sub-problem type.

The docs are out of sync with the experience on azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-12-15 02:45] femsulu commented on #67646
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-15 02:48] femsulu commented on #67647
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-15 02:49] softchris commented on #67432
@HarshitaSingh-MSFT  @AlexandraKemperMS This is the code I'm trying to set up for reload of feature flags.. Am I doing it wrong? I wait 5-10 seconds and then reload the page.. Value does not seem to propagate (when app is run locally):

[code]

[2020-12-15 02:53] femsulu commented on #67672
Hi @dolauli,  Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-15 02:56] matthewkrieger opened #67674 "Clarification of concurrency section"
[Enter feedback here]

The [Concurrent Operations](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-standard-sdk#concurrent-operations) section states:

and then shows the following code sample:

[code]

The statement "The client schedules concurrent operations by performing asynchronous operations." suggested to me that scheduling concurre

[2020-12-15 03:05] AnuragSharma-MSFT commented on #67658
@alalani123 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-15 03:31] vipulsparsh commented on #67365
@yiliuTo The API permission you define are basically the static permissions and are used mostly in scenarios where an application is trying to get the token. As the application wont be able to ask for new asked permission, hence the predefined scopes mostly help this scenario.

For any  usual user consent flow, you have the capability to put in a scope dynamically and user will be prompted for con

[2020-12-15 03:36] vipulsparsh commented on #67587
@michevnew Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@curtand Can you have a look at this ?

[2020-12-15 04:00] AjayKumar-MSFT commented on #67536
Paul, We will close this thread for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-12-15 04:00] #67536 closed

[2020-12-15 04:06] HarshitaSingh-MSFT commented on #67657
Hello @RonnieQuan , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 04:09] HarshitaSingh-MSFT commented on #67659
Hello @jobeland , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 04:12] PramodValavala-MSFT commented on #67674
@matthewkrieger The docs aims to call out the `*Async` methods that run asynchronous operations. The sample here does use the `SendAsync` method of `QueueClient` (which is the inherent behavior) and the `await Task.WhenAll()` line is simply to highlight that the SDK returns `Task`s that can be awaited for if required.

[2020-12-15 04:13] HarshitaSingh-MSFT commented on #67666
Hello @andrejpk , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 04:15] HarshitaSingh-MSFT commented on #67668
Hello @wombling , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 04:19] HarshitaSingh-MSFT commented on #67669
Hello @wombling , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 04:22] HarshitaSingh-MSFT commented on #67670
Hello @ramya-rao-a , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 04:24] HarshitaSingh-MSFT commented on #67671
Hello @ThomasWeiss , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 04:27] HarshitaSingh-MSFT commented on #67673
Hello @Jcardif , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 04:51] CHEEKATLAPRADEEP-MSFT commented on #67514
@soheiokamoto Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/140983](https://github.com/MicrosoftDocs/azure-docs-pr/pull/140983)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions

[2020-12-15 04:51] #67514 closed

[2020-12-15 05:01] spatkar1012 commented on #6609
On Windows10, I had  "[Errno 13] Permission denied: "error while running following command.
az aks install-cli --install-location=./kubectl

The workaround was login to PowerShell as Administrator.
Solution:
1. Login to PowerShell as Administrator**

2. Run command
PS C:\Users\shail> az aks install-cli --install-location=./kubectl

Downloading client to "./kubectl" from "https://storage.googleapis

[2020-12-15 05:03] ashishanand7 opened #67676 "How to force BERT DNN featurisation in AutoML"
[Enter feedback here]

I have GPU compute and enabled deep learning but only see statistical featurisation in Models Tab ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8796f28c-1050-d80d-c1c7-ebb0e9fc665f
* Version Independent ID: b1f690ff-0f93-402a-2a98-15d3fb6aa0d4
* Content: [Featurization in AutoML experiments - A

[2020-12-15 05:47] SB-o-matic commented on #65835
Any help around this? We are working towards moving to prod and this is a major blocker.

[2020-12-15 05:53] GitaraniSharma-MSFT commented on #64332
@asudbring and @malopMSFT , could you please help with this issue and provide some insights?

[2020-12-15 05:57] VikasPullagura-MSFT commented on #67640
@htallur The billing is per second, as it is mentioned in the same document.

![image](https://user-images.githubusercontent.com/48944027/102176850-4bbd2380-3ec8-11eb-8c41-45e7cf711ebb.png)

However, the usage details are shown in hours. Billing per hour and it is reported back in hours.

Hope that clarifies.

[2020-12-15 06:03] wezfaas commented on #32883
Still encountering the exact same issue!
Not sure why this kind of thread is being closed with no valid solution, just redirecting to other issue doesn't solve it.

-> https://github.com/Azure/azure-cli/issues/9585
-> https://github.com/MicrosoftDocs/azure-docs/issues/32873
`"Thanks for that. I am following that issue as well so we can see what the CLI team can do :)"`
WTH!?

[2020-12-15 06:13] HarshitaSingh-MSFT commented on #67458
After circling back to the PG, I got a confirmation that you are right and the document needs to be updated. We are working internally on fixing this.

[2020-12-15 06:17] HarshitaSingh-MSFT commented on #67668
As @jeevansd said, and also I got a confirmation from him that you are right and the document needs to be updated. We are working internally on fixing this. Hence, I am assigning the issue to @v-hagamp without further ado.

[2020-12-15 06:25] CHEEKATLAPRADEEP-MSFT commented on #23045
@shellysolomonwang In the subscription overview, click Upgrade subscription button in the command bar. If you don't see the upgrade subscription button, click on the upgrade banner at the top of the page.

![image](https://user-images.githubusercontent.com/44426401/102178937-4c57b900-3ecc-11eb-90d8-a2c09d50910c.png)

Reference: [Upgrade your Azure free account or Azure for Students Starter account

[2020-12-15 06:29] rboucher commented on #56287
#please-close. This doc was just updated with latest information.

[2020-12-15 06:29] #56287 closed

[2020-12-15 06:30] rboucher commented on #47120
#please-close  This issue has been resolved.

[2020-12-15 06:30] #47120 closed

[2020-12-15 06:32] rboucher commented on #47451
#please-close  The doc has been updated with the latest descriptions.  If this is still a problem let us know. The Azure SQL Server product group was notified and has control of the descriptions in this document.

[2020-12-15 06:32] #47451 closed

[2020-12-15 06:36] rboucher commented on #53358
Just rehydrated the internal thread on this as it appears they still aren't fixed in the latest update.  Acknowledging that this is still a problem.

[2020-12-15 06:36] bestphd opened #67679 "Network throughput is not on the page as described. There's only Max NIC but no throughput"
Some pages have network throughput. But for B-series, the network throughput is not available.
https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-b-series-burstable

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7c054b7-422c-c3b0-fc8e-91314231ee0c
* Version Independent ID: 42825540-2137-92e3-08b0-0dbd84089e

[2020-12-15 06:39] rboucher commented on #53453
#please-close No response after a long period of time. The metric says BytesPerSecond in https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftwebsites so I'm not sure how else to answer.

[2020-12-15 06:39] #53453 closed

[2020-12-15 06:40] rboucher commented on #58382
updated. Was awhile ago, but didn't close this issue.  #please-close

[2020-12-15 06:40] #58382 closed

[2020-12-15 06:52] rwike77 commented on #54847
@BukeMan  The /.default scope is useful for migrating your apps from ADAL to MSAL.  If you're starting a new app with MSAL and the identity platform endpoint, you shouldn't use the /.default scope with the client.  Hope that helps. @hirsin FYI

[2020-12-15 07:07] lfrancfort commented on #64625
No that’s OK.

I understood that ‘Microsoft 365 apps’ are any Office 365/Microsoft 365 license.

Regards

Laurent

From: James Hamil <notifications@github.com>
Sent: mardi 15 décembre 2020 01:41
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: lfrancfort <l_francfort@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] What is "Microsoft 365 ap

[2020-12-15 07:14] jeetgarg opened #67680 "How to run this script at the VM level rather than vault"
I want to run the update manually at the VM level, how do i do that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c11ae82-7254-7494-1401-ce2c116eb1b6
* Version Independent ID: 6e45cb37-357e-14fc-5a98-82f03358985d
* Content: [Automatic update of the Mobility service in Azure Site Recovery - Azure Site Recovery](https

[2020-12-15 07:20] SadiqhAhmed-MSFT commented on #67680
@jeetgarg Thanks for the comment. Could you please elaborate your scenario requirement?

[2020-12-15 07:23] jeetgarg commented on #67680
Hi,

The script given here Automatic update of the Mobility service in Azure Site Recovery - Azure Site Recovery | Microsoft Docs<https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-autoupdate> runs at the vault level and I want to understand how would I be bale to run it at the VM level.

Regards,
Jeet

From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Tuesday, December 15,

[2020-12-15 07:30] michaelelleby opened #67681 "Az command example is not working"
`az aks get-upgrades --resource-group myResourceGroup --name myAKSCluster --output table` does not work, produces the error message `Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.`

Azure CLI version information
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-15 07:31] #67681 closed

[2020-12-15 07:31] michaelelleby commented on #67681
Documentation actually states this exact error message is expected.

[2020-12-15 07:31] SadiqhAhmed-MSFT commented on #67680
@jeetgarg Sorry for the confusion. I got your point, however, I wanted to check if you have a specific requirement why you want to run the script at VM level?

[2020-12-15 07:38] jeetgarg commented on #67680
Yes, I am working with a Customer who has the following scenario:

We are looking for your help with writing a PS script that would allow us upgrade the ASR agent on Azure protected VMs (A2A). We are not using the automated/built in upgrade functionality that ASR provides because our upgrade process is very tightly controlled (we have to schedule it for the exact time & date), so currently we use

[2020-12-15 07:41] wombling commented on #67669
My other thought is that this is a bug in the tooling from AAS and inactive signing certificates should not be included in the downloaded metadata. There isn't anything in the metadata that identifies them as inactive, so is quite confusing for any systems that are trying to interpret the metadata.

[2020-12-15 07:53] kvijaianand opened #67682 "Parameter & Pipeline variables naming rules"
This document is missing parameter and pipeline variable naming rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f81ce0-8915-2390-2c8e-53eb8a93180b
* Version Independent ID: 49fb5956-019b-0f5a-ebff-1ae19fe87c80
* Content: [Rules for naming Azure Data Factory entities - Azure Data Factory](https://docs.microsoft.

[2020-12-15 07:59] SubhashVasarapu-MSFT commented on #67679
@bestphd, referencing the similar ask here #58371 #52194. This has been in the backlog items.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-15 07:59] #67679 closed

[2020-12-15 08:09] jflieben opened #67684 "Answer does not match question"
Does MSIX app attach support self-signed certificates?
Using MSIX app attach over HTTP or HTTPs is currently not supported.

^^ this doesn't answer the question, and seems to be the answer to another question.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dc8c13a-2891-02e8-e4c5-b93e42f94121
* Version Independent ID:

[2020-12-15 08:10] asears commented on #66237
Yes that makes sense.  https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/common/storage-use-azurite.md is the page which could use a new set of pages for following:

1. How to setup Local Emulator for Storage (azurite) with https and Managed Identity DefaultCredential usage in a secure fashion, for local developers.
2. How to setup Local Emulator for Storage, with https and

[2020-12-15 08:24] JayaChatterjee-MSFT commented on #67366
@sandeep-ma Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-12-15 08:27] hksfho commented on #40210
Hi @tihomirbg. Have you fixed it? I am also facing this issue...

[2020-12-15 08:27] HarithaMaddi-MSFT commented on #67682
@kvijaianand - Thanks for your valuable feedback. I am moving it to content author to review.

@dcstwh - Can you please take a look?

[2020-12-15 08:59] amrutk123 commented on #15004
I am facing the issue while creating new virtual machine in azure.    msg :Error creating network interface - 403 Client Error: Forbidden for url: https://management.azure.com/.

Any idea ? Thanks

[2020-12-15 09:11] yiliuTo commented on #67365
Thanks!

[2020-12-15 09:15] captainmike opened #67685 "Missing details on how to use 'Azure Data Lake Storage query acceleration'"
The doc goes from:

[code]

to

[code]

However, it's not obvious where the `blob` object comes from. It would be really helpful to know how to obtain it and what type it is. I've also been unable to find any relevant sample code / project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a6c1f4-9152-0f5a-b546-6ba9e1e2

[2020-12-15 09:19] AquanPJCA commented on #66693
Any workaround for this in the meantime?

[2020-12-15 09:22] miqm opened #67687 "Adding information that cache-store is working only for 200 backend responses"
Please extend documentation regarding `<cache-store>` directive and provide information that this policy works only when downstream response indicates success (code 200).

I noticed some developers were adding extra conditions to check for response code while they are not necessary, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-12-15 09:31] joecarlyle opened #67688 "Possible Missing Detail"
Hi, thanks for this script etc, it works very well.

One flag however, on this page, it never mentions the fact that the script will ask you to shut down all domain joined VMs before executing the commit operation. Is this required? If so, could the docs be updated to include that step.

Similarly the docs mention using the first DC to get things back up and running, the script says to wait until

[2020-12-15 09:44] agronholm commented on #67544
I believe you are correct @hpsin. I will ensure that the path is correct and post confirmation here.

[2020-12-15 09:47] knutwannheden opened #67689 "Java example would be simpler when using azure-identity API"
The `com.azure:azure-identity` module makes it much easier to acquire an access token for a managed identity using `ManagedIdentityCredential`. I think it would make sense to update the Java example accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf35ebc-b14e-167f-9f73-c7df4d2b60b5
* Version Independent ID

[2020-12-15 09:55] tihomirbg commented on #40210
Hi, unfortunately not. You can not use this SAML response. After SSO you can use Auth Code Grant to retrieve access token.
The key is session cookie. When you logging user with SAML you generate a session cookie. After that when Graph API invokes an OAuth flow you use the session cookie to authenticate. Actually you need 2 apps in https://portal.azure.com/.
One enterprise app for SSO and one in Ap

[2020-12-15 10:11] AnuragSharma-MSFT commented on #67533
@npigit You are right in mentioning that the command would fail if replication is enabled on the instance. There is a current user voice where you can upvote this feature and product team can plan it based on their priorities.

https://feedback.azure.com/forums/217321-sql-database/suggestions/41115205-rename-a-database-on-azure-sql-managed-instance-th

Again apologies for inconvenience.

[2020-12-15 10:15] amanmcse commented on #67670
@ramya-rao-a Thank you for pointing this out. I have updated the TOS with correct links and sent for content author's approval. The change will reflect once it is approved.

[2020-12-15 10:20] markprins81 commented on #67637
After some digging, it turns out the maximum number of emails allowed weekly (in sendgrid settings) was exceeded.
It would be nice if the actual API result message was to be found somewhere, or shown, but for now all appears to be working again.

[2020-12-15 10:27] RohitMungi-MSFT commented on #67676
@ashishanand7 Are you referring to the Azure ML portal(ml.azure.com) models tab? This tab lists all models registered with your workspace.

[2020-12-15 10:27] binhnguyen1984 opened #67690 "The code configuration for web app calling web api does not work"
I follow the documentation and put the following configuration to have my web app call my web API, but it did not work:
services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)
          .AddMicrosoftIdentityWebApp(Configuration, "AzureAd")
            .EnableTokenAcquisitionToCallDownstreamApi(new string[]{"user.read" })
               .AddDownstreamWebApi("MyApi", Configuration.GetSect

[2020-12-15 10:31] shashishailaj commented on #67688
@joecarlyle Thank you for sharing your experience with the script . We will investigate on this and update further.

[2020-12-15 10:47] AshokPeddakotla-MSFT commented on #67431
@jigote  Below is the response received from our product team. Please check and update if that answers your query.

The description of the problem sounds like an issue with an older project using the NVidia Nano device. Specifically [this project - line 352](https://github.com/ebertrams/iotedge-iva-nano/blob/master/modules/IoTCentralBridge/src/services/module.ts). This was training material for a

[2020-12-15 10:54] deyanp opened #67691 "How to see list of allowed ip addresses in Azure Portal and Azure CLI?"
How can I see the list of already allowed api server ip addresses in Azure Portal?
How can I do that additionally using Azure CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8b-633f-6e1a-e642-0645ca92e129
* Content: [API server authorized IP range

[2020-12-15 10:56] sgdesmet opened #67692 "Sending claims in both body and header"
We were wondering if there is some way to send claims in both Header and Body, or if this is a planned feature?

Sometimes it is useful to send one or more claims in a header (such as a correlation id for tracking requests), but sending the other claims necessary for the request in headers as well may not make much sense, or lead to complications. For example, they would need to be Base64 encoded

[2020-12-15 11:05] jmprieur commented on #67690
Thanks @binhnguyen1984
you are right, this should be OpenIdConnectDefaults.AuthenticationScheme, not JwtBearerDefaults.AuthenticationScheme as it's a web app.
We'll fix this immediately

[2020-12-15 11:10] deyanp commented on #67691
Ok, found it (only Azure CLI seems to be possible):
az aks show ...

[2020-12-15 11:10] #67691 closed

[2020-12-15 11:12] lordpansar commented on #43248
This issue should be reopened. The problem still remains, I can't add a Linux function app in the same region (west europe) as my resource group. There's a reason why I would like my services to be in the same region, why should I have to spread them out across the globe?

[2020-12-15 11:16] alperc92 opened #67693 "Eventgrid endpoint-type does not accept servicebustopic but servicebusqueue"
As title says. You have stated in the code example for eventgrid topic handling with `--endpoint-type servicebustopic`, however `az eventgrid event-subscription create --endpoint-type` does not accept `servicebustopic` but only `servicebusqueue`, however, you can specify a topic as handler even though you do type `--endpoint-type servicebusqueue`.
---
#### Document Details

⚠ *Do not edit this sec

[2020-12-15 11:29] #67690 closed

[2020-12-15 11:29] agronholm commented on #67544
I no longer get an error once I added `/v2.0` to the path. Thank you!

[2020-12-15 11:29] #67544 closed

[2020-12-15 11:34] MaxTranced commented on #47182
Same question here! :-)

[2020-12-15 11:36] parameswar-mondal-fission opened #67694 "How do I successfully enable the diagnostic settings of windows virtual machine using Rest API?"
Method: PUT
HEADERS:
                 Authorization:Bearer {Access_token}
                 Content-Type:application/json

Request URI:  https://management.azure.com/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/virtualMachines/{VMName}/extensions/IaaSDiagnostics?api-version=2016-04-30-preview

Request Body:
const reqBody = {
            "id": "/subsc

[2020-12-15 11:38] SubhashVasarapu-MSFT commented on #66950
@pebarrer, Apologies for the delay in response. This has been tested locally and the NSG is added to the subnet without any error. These I/O rules should be enough to tag an NSG to a AzureBastionSubnet.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-15 11:38] #66950 closed

[2020-12-15 11:45] vijaytabhatt commented on #66986
@AshokPeddakotla-MSFT  where do i use that command?
Also is there no other way that i can find out chaind id on Azure  portal  , since metamask has made it compulsory

[2020-12-15 11:50] binhnguyen1984 commented on #67690
@jmprieur : Thank you very much. I now see that it is working with the fix.

[2020-12-15 11:51] oliviomouraoutsystems commented on #62877
Same here:
`A verified publisher cannot be added to this application. Please contact your administrator for assistance. [ppUQBIBP3d6UDcZ+4pOP5y]`

[2020-12-15 11:52] oliviomouraoutsystems commented on #66693
Same here:
`A verified publisher cannot be added to this application. Please contact your administrator for assistance. [ppUQBIBP3d6UDcZ+4pOP5y]`

[2020-12-15 11:59] JayaChatterjee-MSFT commented on #67617
@axisc Could you please look into this request?

[2020-12-15 11:59] aditrades commented on #66693
@JamesTran-MSFT Can Microsoft at least remove the requirement for MPN for opening applications?
2020 was already a weak year in terms of sales, now it's december (The strongest sales months) and this requirement is blocking us from selling to some strategic clients.

[2020-12-15 12:02] #67206 closed

[2020-12-15 12:08] shashishailaj commented on #67689
@souravmishra-msft Thank you for your feedback . We will investigate and update the thread.

[2020-12-15 12:10] cephalin commented on #67206
Added clarification to existing table based on current numbers from the portal. Note PremiumV2 shows that it supports up to 20 instances in the portal.

[2020-12-15 12:19] rayne-wiselman commented on #67680
Thanks for your feedback. I see you asked this question in the internal support alias which is the right place for this since it's not really a doc issue. Closing this issue #please-close

[2020-12-15 12:19] #67680 closed

[2020-12-15 12:20] binhnguyen1984 commented on #67690
@jmprieur : Now it seems impersonation does not work. I got the error when calling the downstream api:
MsalUiRequiredException: No account or login hint was passed to the AcquireTokenSilent call.
Microsoft.Identity.Client.AcquireTokenSilentParameterBuilder.Validate()

MicrosoftIdentityWebChallengeUserException: IDW10502: An MsalUiRequiredException was thrown due to a challenge for the user. See ht

[2020-12-15 12:28] ciphersbak opened #67696 "Typo in URL"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/oracle-cloud-infratstructure-console-provisioning-tutorial
The URL has infrastructure spelled incorrectly (as infratstructure).
This needs to be corrected.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bd22ad1-c4f8-fa9e-f4

[2020-12-15 12:34] vipulsparsh commented on #67441
@memildin Can you have a look at this ?

[2020-12-15 12:38] vipulsparsh commented on #67692
@sgdesmet Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-12-15 12:47] BE-Digital-Solutions-Bart opened #67697 "Multiple Power BI workspaces"
According to this documentation page, it's currently possible to link only a single Power BI workspace to an Azure Synapse Workspace.

* Is it planned on the Microsoft roadmap to remove this limitation? Could you provide an estimated timeline?

* Is there an alternative, e.g. by connecting to the data sources using a Power BI Data Gateway deployed in a vNet with private endpoints to the correspond

[2020-12-15 13:05] tfitzmac commented on #67672
@dolauli - I double-checked the command and the correct syntax is still ".ResourceTypes". Where are you seeing ".ResourceType" as the correct syntax?

[2020-12-15 13:06] tfitzmac commented on #67206
@cephalin - thanks!

[2020-12-15 13:17] aberrant80 opened #67699 "CannotLoadBeanClassException - HandlerMappingResourceNameFilter"
We're interested in giving Application Insights a test run, but encountering an issue that I couldn't find a solution for. My .ear deployment (to JBoss 8) will fail with the following exception:

I have configured a .json file containing the connectionString with an InstrumentationKey and an IngestionEndpoint.

I noticed that an applicationinsights.log was created:

I can even see that Application

[2020-12-15 13:20] MonikaReddy-MSFT commented on #67697
@BE-Digital-Solutions-Bart -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-12-15 13:24] gawkes1 opened #67700 "Diagnostic settings misbehaviour in Portal"
I'd like to add/set diagnostic settings for a Storage Account (v2).
According to "Creating a diagnostic setting" section after entering "[Diagnostic settings (preview)](https://docs.microsoft.com/en-us/azure/storage/blobs/monitor-blob-storage?tabs=azure-portal#creating-a-diagnostic-setting)" I should be able to see blob/table/file/queue and add settings to them.

In fact I don't see anything there

[2020-12-15 13:25] memildin commented on #67441
Hi @AjayKumar-MSFT,

There are no prices shown in this documentation. This sounds like a question for CxE or the PMs that own the feature.

As far as I can tell, there are no doc tasks here. I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2020-12-15 13:25] #67441 closed

[2020-12-15 13:28] jmprieur commented on #67690
@binhnguyen1984, this is expected. See https://aka.ms/ms-id-web/ca_incremental-consent
you need to add the `[AuthorizeForScopes(scopes=)]` attribute on the MVC controller, or action, or

In general, we recommand that you start by the ASP.NET Core templates to avoid falling in each single issue

[code]

See also https://github.com/AzureAD/microsoft-identity-web/wiki/web-app-template

[2020-12-15 13:34] troll-os commented on #43248
Did you try with the CLI ? I managed to create it with the CLI, I think there is something wrong at the portal level.

[2020-12-15 13:41] #67598 closed

[2020-12-15 13:48] shashishailaj commented on #67696
@ciphersbak Thank you for catching this. we will review and update it accordingly .

[2020-12-15 13:57] greendx commented on #67441
Why did you close this? I'd like to enable this feature but would like to know how it is billed before enabling it and I am unable to find the answer documented anywhere.

[2020-12-15 13:58] panitaxx commented on #67565
Hello,

Please refer to line 758 https://github.com/MicrosoftDocs/azure-docs/blob/574a6739933acd9952b103591ee20490e359a39d/articles/cognitive-services/Speech-Service/speech-synthesis-markup.md#L758

In the first column
[code]
both `cardinal` and `number` are given as a possible option for saying a number even though the example only says `cardinal`.

[2020-12-15 13:59] #67392 closed

[2020-12-15 14:00] cephalin commented on #67392
@drjayvee @BryanTrach-MSFT Thanks. I've made the fix and inserted a note in the source not to up-version the PHP version.

[2020-12-15 14:02] binhnguyen1984 commented on #67690
@jmprieur : As I mentioned in my question, I used this attribute but it did not help.

[2020-12-15 14:07] jmprieur commented on #67690
@binhnguyen1984 : .
- Which scope did you use on the attribute?
- where did you add this attribute?
- do you try to use scopes which require admin consent? or would you be in an organization where the tenant admin have prevented users from consenting?
-  do you want to share some code? what's the detail message of the MsalUiRequiredException (inner exception)?

Otherwise: do you want to try from a

[2020-12-15 14:09] m1o1 opened #67701 "Clarification on Azure RBAC for Azure AD integration"
These docs show how we can add Azure AD integration, but also how to integrate with Azure RBAC. It seems like only the latter one is in preview, so simple Azure AD integration is GA?

I assume with Azure AD integration, a cluster admin would create Roles/RoleBindings and ClusterRoles/ClusterRoleBindings for the various groups in the Azure AD with permissions that they have, but can we get an examp

[2020-12-15 14:10] fillip1983 opened #67702 "Changelog does not contain a complete list of the rules removed in Dec 2020"
The Changelog should be an accurate reflection of ALL rule changes, yet VA2030, for instance, is not listed even though it was removed in December.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c70d39c-5a4b-d272-9b68-509b69ddc1d6
* Version Independent ID: 7f736461-e13a-7516-8dea-f80f824d3c9a
* Content: [SQL Vulnerabi

[2020-12-15 14:19] eaarnoudse opened #67703 "Missing 'using' statement"
The following 'using' statement is missing in this code example:

using Microsoft.Rest.Serialization;

This is needed for using the SafeJsonConvert class.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ebc0c44-b401-1f1f-2ed5-7928918e49b4
* Version Independent ID: 52517770-de52-18b3-7bf6-078c18b7

[2020-12-15 14:24] AnuragSharma-MSFT commented on #67702
@fillip1983 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-15 14:35] xaviermignot opened #67704 "IoT Hub routing: wrong values in device lifecycle event types"
Hello,

I think the list of device lifecycle event types is incorrect in the following sentence:
_Yes, message routing can be used for telemetry data, report device twin changes, device lifecycle events (ex. when devices are created, deleted, **connected and disconnected** from IoT Hub), and digital twin change events._

From what I've tested the device lifecycle events from IoT Hub message routin

[2020-12-15 14:36] smereczynski opened #67705 "Analyze forms with a custom model part is misleading"
If we will train a model with labels, then "Analyze forms with a custom model" sample will not work properly due to: https://docs.microsoft.com/en-us/python/api/azure-ai-formrecognizer/azure.ai.formrecognizer.formfield?view=azure-python

"label_data
Contains the text, bounding box, and field elements for the field label. Note that this is not returned for forms analyzed by models trained with labe

[2020-12-15 14:46] HarshitaSingh-MSFT commented on #67684
Hello @jflieben , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 14:51] HarshitaSingh-MSFT commented on #67687
Hello @miqm , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 14:53] ukhan commented on #62164
@jasonnutter, great example, thank you.
BUT if _24 hours have passed_ since the last use of your sample Chromium extension and _the browser restarted_, then you will need _to re-enter the password_. It is about this problem that we are talking about here from the very beginning.

[2020-12-15 14:53] HarshitaSingh-MSFT commented on #67693
Hello @alperc92 , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 14:54] shashishailaj commented on #67696
@ciphersbak We have initiated a change request and this should be updated once the content team reviews it .

[2020-12-15 14:58] HarshitaSingh-MSFT commented on #67694
Hello @parameswar-mondal-fission , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 15:00] HarshitaSingh-MSFT commented on #67699
Hello @aberrant80 , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 15:02] AnthonyDelagarde opened #67706 "VyOS"
[Enter feedback here]The link for VyOS is giving a page not found on the Wiki of VyOS https://docs.vyos.io/en/latest/appendix/examples/azure-vpn-bgp.html We are seeing more and more people leverage this open source router . The link to the page is located here which covers all of our VPN configuration scenarios with Azure: https://docs.vyos.io/en/latest/configexamples/azure-vpn-bgp.html  Please up

[2020-12-15 15:03] BBrukner commented on #66693
@JamesTran-MSFT - echoing others in the chat, can the requirement for MPN be removed, at least until the feature is stable, to enable us to achieve business requirements dependent on this?
We have an open support case for over 1 week being moved to different teams, can you suggest the team to be assigned on this request to facilitate a workaround or permanent solution for this bug?
Case # 12012022

[2020-12-15 15:05] HarshitaSingh-MSFT commented on #67700
Hello @gawkes1 , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 15:07] HarshitaSingh-MSFT commented on #67701
Hello @m1o1 , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 15:10] HarshitaSingh-MSFT commented on #67703
Hello @eaarnoudse , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 15:11] SatishBoddu-MSFT commented on #67394
Hello @cveld @ramakrpr
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-12-15 15:11] #67394 closed

[2020-12-15 15:11] HarshitaSingh-MSFT commented on #67704
Hello @xaviermignot , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 15:13] HarshitaSingh-MSFT commented on #67705
Hello @smereczynski , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 15:14] HarshitaSingh-MSFT commented on #67706
Hello @AnthonyDelagarde , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-15 15:17] diberry opened #67707 "Port setting from static web app"
How do I tell the static web app service which port my app is running on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 350f3c75-18da-fb00-48a0-c1da1fb4a894
* Version Independent ID: d07bf94d-3523-9c5e-7eba-5774528d44ad
* Content: [Configure application settings for Azure Static Web Apps](https://docs.microsoft.com/en

[2020-12-15 15:21] eaarnoudse commented on #67703
Thanks 😊

Van: HarshitaSingh-MSFT <notifications@github.com>
Verzonden: dinsdag 15 december 2020 16:10
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: eaarnoudse <eaarnoudse@gmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/azure-docs] Missing 'using' statement (#67703)

Hello @eaarnoudse <https://github.com/eaarnoudse>  , thanks for the question! We

[2020-12-15 15:23] junojupiter67 opened #67708 "End-Of-Life Actions"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-12-15 15:26] NavtejSaini-MSFT commented on #67648
@StephenDenisEdwards This feedback is specifically for raising your concerns and issues with the documentation. Please help us understand the concern here to make this documentation better.

[2020-12-15 15:28] NavtejSaini-MSFT commented on #67591
@iwannabebot Please let us know if you have any further question.

[2020-12-15 15:28] kzbierski opened #67709 "Docs are not clear that just editing the Team description or Avatar would trigger naming policy."
Docs states that "It gets applied when a user creates a group and when group name or alias is edited for an existing group.". But it also is applied for existing teams when in Edit Team feature if the description/avatar are changed. That too triggers the Naming Policy as well. Even just clicking "Update" and not changing anything triggers it as well. That should be clearly defined not just "when g

[2020-12-15 15:28] NavtejSaini-MSFT commented on #67572
@azure2439 Please let us know if you have any further issue.

[2020-12-15 15:29] junojupiter67 commented on #67708
What are the steps to pass access to a person's digital domain, when she dies?  Especially, if their phone is unavailable.  The TOPT becomes a problem.

[2020-12-15 15:29] AndrewSmithRS opened #67710 "Log Analytics AzureActivity Table"
When sending Azure Activity to Log Analytics previously (around 6 months ago) various colums according to the schema were popualted.
However some columns are no longer populated such as Category, OperationName.

According to Microsoft support this is expected however Microsoft documentation and example queries provided for AzureSentinel on github still include these columns in the queries. Please

[2020-12-15 15:33] binhnguyen1984 commented on #67690
@jmprieur : I use the scope that is needed for accessing the downstream api. I put this attribute before the controller. And this scope does not require admin consent. The inner exception is "No account or login hint was passed to the AcquireTokenSilent call".
Here is the trace:
   at Microsoft.Identity.Client.AcquireTokenSilentParameterBuilder.Validate()
   at Microsoft.Identity.Client.AbstractAc

[2020-12-15 15:36] robinp-tw opened #67711 "Rebalance config advice sounds old"
The advice for

on the page says

But see https://cwiki.apache.org/confluence/display/KAFKA/KIP-62%3A+Allow+consumer+to+send+heartbeats+from+a+background+thread - the session timeout and the poll processing timeout were long separated. Now session timeout is just for heartbeats,  and the poll processing timeout (`max.poll.interval.ms`) is for the rebalance timeout.

If your consumer group takes to

[2020-12-15 15:38] jigote commented on #67431
I'm looking at the camera settings but seems there is no option to change the RTSP stream url, I will try to test with another camera. Thank you for the response.

[2020-12-15 15:38] #67431 closed

[2020-12-15 15:58] diberry opened #67713 "How does the storage resource know which port to forward?"
If the app is running on a random port, how does the storage account know which port to map requests to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage](https://docs.mi

[2020-12-15 16:07] baanders commented on #67052
Thanks @bargor-code for the reply! Unfortunately, the image on your message didn't come through. Could you try resending it?

[2020-12-15 16:15] jjindrich commented on #67073
@KrishnaG-MSFT any updates ?

[2020-12-15 16:24] devan10 opened #67715 "Azure Stack HCI?"
Does MABS support backup/restore of Virtual Machines on the new Azure Stack HCI OS?   If not, will this be coming?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f7582c-c2a6-87bb-d236-2066e727c90c
* Version Independent ID: 1cbc7ee7-2518-137a-f6d6-d1d62a1a1bc3
* Content: [MABS (Azure Backup Serve

[2020-12-15 16:30] DaveZimmermann commented on #67195
This one is much clearer:
https://docs.microsoft.com/en-gb/graph/tutorials/angular

[2020-12-15 16:38] JamesTran-MSFT commented on #67709
@kzbierski
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-15 16:39] shellysolomonwang commented on #23045
![image](https://user-images.githubusercontent.com/40692330/102244383-3b0dad00-3eca-11eb-931d-e0bb723f9552.png)

[2020-12-15 16:40] marinnedea opened #67718 "SELinux preventing MFA via SSH on RHEL based systems"
Following the instructions on the page, on a CentOS 7.5 box:

    ssh -l azureuser@contoso.onmicrosoft.com 10.11.123.456

You will get password prompted, instead of a link for https://microsoft.com/devicelogin and a code to use on that page.

This is because the SELinux on your CentOS/RHEL VM is blocking the access to some of the files (e.g. network sockets, useradd binaries, etc) which are needed

[2020-12-15 16:41] shellysolomonwang commented on #23045
There's no such thing as an upgrade button/banner whatsoever

[2020-12-15 16:43] shellysolomonwang commented on #23045
I can't find an upgrade button/banner https://github.com/MicrosoftDocs/azure-docs/issues/67482

[2020-12-15 16:52] digitalml commented on #12993
@btastic did you ever solve this? we are having the same issue!

[2020-12-15 16:53] timsander1 commented on #67648
#please-close

[2020-12-15 16:53] #67648 closed

[2020-12-15 17:00] #67633 closed

[2020-12-15 17:03] dlepow commented on #67633
@magnus-longva-bouvet - Thanks for pointing this out. The unit here is mega**bits** per sec and you're correct should use the lowercase 'b'. The linked PR corrects the error and the updated content will publish shortly. Cheers!
#please-close

[2020-12-15 17:11] AjayKumar-MSFT commented on #67681
Michael, Thanks for leveraging Azure docs feedback channel to raise this question. Glad it was figured out, much appreciate the update.

[2020-12-15 17:13] HeidiSteen commented on #67653
@binbrain  I added a link and the doc will be republished in a a few hours. Thanks for filing the issue!

#please-close

[2020-12-15 17:13] #67653 closed

[2020-12-15 17:15] BharathNimmala-MSFT commented on #67715
@devan10 Thank you for your query, we will review it and get back to you at the earliest.

[2020-12-15 17:24] AnthonyDelagarde commented on #67706
Thank you!!

[2020-12-15 17:29] HarshitaSingh-MSFT commented on #67707
Hello @diberry , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 17:32] HarshitaSingh-MSFT commented on #67710
Hello @AndrewSmithRS , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-15 17:34] BharathNimmala-MSFT commented on #67490
@sdwheeler Thanks a lot for helping on this thread.

@rwsanders Requesting you to please review the information shared by @sdwheeler and let us know if you need any further information. The base software requirements for Guest Configuration resource module has been documented [here](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/guest-configuration-create#base-requirements).

Hope

[2020-12-15 17:34] #67490 closed

[2020-12-15 17:38] Trubzzz opened #67720 "Feedback for QnA Maker Best Practices and General Questions Regarding Knowledgebase Utterance Generation"
The documentation I'm currently following: https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/best-practices?tabs=v1

I've been working with Microsoft products and Azure services throughout the year and was considering using QnA maker for a company's online FAQ (the FAQ currently stands at hundreds of questions, but I'm trying a sample of 25 to see how it behaves). I've be

[2020-12-15 17:41] AlexandraKemperMS commented on #67432
@softchris This looks good. I tried your code and it worked for me - but I had to use ChacheExpirationTime instead of CacheExpirationInterval. Even when I specified the most recent version of microsoft.extensions.configuration.azureappconfiguration and 2.2.0 of Microsoft.FeatureManagement.AspNetCore.
Could you double check that you are calling UseAzureAppConfiguration like in Step 5 in (the tutori

[2020-12-15 17:53] JamesTran-MSFT commented on #67546
@KoryKliner
This article states that it "lists the recommendations you might see in Azure Security Center. The recommendations shown in your environment depend on the resources you're protecting and your customized configuration."

I'll assign this issue to the author to investigate and update as needed.

Thank you for your inputs!

[2020-12-15 17:57] JamesTran-MSFT commented on #67709
@kzbierski
Thanks for your time and patience! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-12-15 18:03] Karishma-Tiwari-MSFT commented on #67691
Thanks for sharing the update.

[2020-12-15 18:09] AlexandraKemperMS commented on #67650
Hi @Lechus, thanks for the feedback. We are in the process of updating these docs.

[2020-12-15 18:11] BryanTrach-MSFT commented on #67573
@LukeChung No, there are not any additional charges to use local cache. Local cache is simply using the space on your App Service VM so there technically are no additional resources being used when turning on local cache, you're just using space that was already there.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We w

[2020-12-15 18:11] #67573 closed

[2020-12-15 18:13] WinstonHoward-MSFT commented on #67718
Thanks for the feedback, I'll take a look at the issue.

[2020-12-15 18:14] SatishBoddu-MSFT commented on #67310
Hello @fgheysels Thanks for the feedback on enhancing this document.
I have assigned the issue to the content author @shresha for further review and update the doc as appropriate.
Cc: @lyrana , @deepakpalled

[2020-12-15 18:14] nitinme commented on #60409
#gyto23 - Thanks again for your feedback and suggestions here. We are going to track this as a future work item and are adding it to our backlog.

#please-close

[2020-12-15 18:14] #60409 closed

[2020-12-15 18:17] nitinme commented on #60409
The internal work item is #1801906

[2020-12-15 18:19] #67580 closed

[2020-12-15 18:21] shellysolomonwang commented on #67482
![image](https://user-images.githubusercontent.com/40692330/102255697-68f9ee00-3ed8-11eb-887a-31b012f47ddd.png)

[2020-12-15 18:32] drwill-ms commented on #64993
I've triple checked for .NET. The correct connection string segment is `X509Cert=true;`

[2020-12-15 19:01] ThomasWeiss commented on #67484
@guy-microsoft Thanks for your feedback, the doc has been updated to clarify that the firewall may show inconsistent behavior during the 15-minute window.
#please-close

[2020-12-15 19:01] #67484 closed

[2020-12-15 19:11] aahill commented on #65976
Thanks for raising this question - I'm reaching out to the team for clarity and have added this tracking this as a work item.

Internal work item is #1801919

#please-close

[2020-12-15 19:11] #65976 closed

[2020-12-15 19:18] MikkelHegn commented on #66822
@peterpogorski - can you help?

[2020-12-15 19:20] soheiokamoto commented on #67514
Thanks a lot!

[2020-12-15 19:21] DerekHerman-MSFT commented on #67713
@diberry Can you clarify which portion of the documentation are you referring to? I don't see anywhere where it talks about port forwarding or ports in general in the document you opened this under.

[2020-12-15 19:36] Gergues opened #67723 "Invalid CIDR IP Range"
[Enter feedback here]

I think there might be some IP range error in the statement  by mid page under the warning section
/24 network has 256 IPs with
/26 network has 64 IPs

Addressformat | Differenceto last address | Mask | Addresses | Relativeto classA, B, C | Restrictionson a, b, c and d(0..255 unless noted) | Typical use
-- | -- | -- | -- | -- | -- | --

a.b.c.d/32 | +0.0.0.0 | 255.255.255.25

[2020-12-15 19:41] bdschaap opened #67724 "700 allowedRequestCount"
I received an ARM deployment error that returns 700: allowedRequestCount when deploying multiple AKS clusters in a short period of time.  However, I don't see anything listed in the docs for a AKS resource provider limit.  Can you confirm whether there is a limit for AKS and update the docs if there is one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-12-15 19:41] #52770 closed

[2020-12-15 19:51] SarveshPandey opened #67725 "Basic Difference between Azure SQL MI and Azure SQL VM"
Hi,

I need to understand when to use Azure SQL VM and when to use Azure SQL MI. I don't understand the need of SQL MI as all the thing and more then SQL MI features are available on Azure SQL VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc

[2020-12-15 20:08] jonwbstr commented on #61179
The support ticket I created related to this feedback is still open, and we've gone through a few engineers since August. Adding some more notes here for future reference :)

First, a different username is seen depending on who is logged in, because the user credential is user specific. The document has already been updated to clarify that.

The unresolved issue is that the foreign principal I am

[2020-12-15 20:09] jonwbstr opened #67726 "Spellcheck"
Found a typo in the following line

should be:
requires

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6924846-3993-db7f-92c2-96a069bda515
* Version Independent ID: b0ec25d1-8ea8-c0e4-304d-ab03692fa8e7
* Content: [Deploy content using FTP/S - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/deploy

[2020-12-15 20:15] Wtrapp commented on #66693
+1 same issue. Support is no help. Azure support says it's an Azure problem. Azure support says it's a MPN problem.

[2020-12-15 20:17] DerekHerman-MSFT commented on #67569
@nslindtner I am also seeing an error and able to reproduce the issue. Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-15 20:46] #67576 closed

[2020-12-15 20:57] GiftA-MSFT commented on #67565
@trevorbye can you please clarify in the documentation the difference between `cardinal `and `number`?

[2020-12-15 20:59] nslindtner commented on #67569
Thank you - Will the content created Update This issue in github ?

Nicolaj S. Lindtner
Mikia holding, m:nsl@mikiaholding.dk, w: www.mikiaholding.dk m: 31 42 56 26

[2020-12-15 21:21] tfitzmac commented on #67724
@bdschaap - thanks for this feedback. This article describes throttling for Azure Resource Manager and a few of the most common resource providers, but it does not cover all resource providers. I have added a link for information about AKS throttling. It will get published later today.

[2020-12-15 21:22] #67724 closed

[2020-12-15 21:22] qm13 commented on #56610
@AshokPeddakotla-MSFT please close this bug. We will not be providing the data.

[2020-12-15 21:23] jasonnutter commented on #62164
@ukhan Understood. I'm not sure if we have a better alternative at the moment, unfortunately.

[2020-12-15 21:23] qm13 commented on #61191
@SatishBoddu-MSFT Please close this as won't fix.

[2020-12-15 21:28] qm13 commented on #53383
@VikasPullagura-MSFT Please close bug.

[2020-12-15 21:49] tiago-sommer-damasceno opened #67727 "unit test name is example does not follow C# best practices guidelines"
The examples in the page do not follow the C# best practices for unit test naming:
- https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-best-practices#naming-your-tests

[code]
the method name should be something like:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b21

[2020-12-15 21:59] MarileeTurscak-MSFT commented on #67660
Thanks, I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/141069

[2020-12-15 21:59] #67660 closed

[2020-12-15 22:03] eximotae opened #67728 "Unexplained: "This setting doesn't support groups synchronized from on-premises.""
There is a message that popup when attempting to administrate the Self Service option for the enterprise application settings in Azure AD.  "This setting doesn't support groups synchronized from on-premises."  There isn't an explanation of what it means, or how to correct it.  Presently, every single group in  my organization triggers this errors message, and it isn't know how to create a group th

[2020-12-15 22:09] artsheiko opened #67729 "POST /refreshes - refresh ID problem"
It seems that POST /refreshes does not contain the Location header in the response including the refresh ID

The next is returned for a call to https://westeurope.asazure.windows.net/servers/<server name>/models/<model name>/refreshes :
{
    "statusCode": 200,
    "headers": {
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "x-ms-root-activity-id": "7e3aa5ec-85

[2020-12-15 22:18] bargor-code commented on #67052
The initial reference for the Topic Name (TOPIC DETAILS): The value used here must be the same value used later when creating the Event-Grid-Topic. If you can find the text below, I think a note saying to save this value for the Event-Grid-Topic name would suffice.

=========

Fill in the fields as follows (fields filled by default are not mentioned):

EVENT SUBSCRIPTION DETAILS > Name: Give a nam

[2020-12-15 22:21] msmimart commented on #53720
Thank you for this suggestion! This is is now being tracked via an internal work item for a future doc update.
#please-close

[2020-12-15 22:21] #53720 closed

[2020-12-15 22:22] zr-msft commented on #51596
Thank you @GuyPaddock for the feedback!

I have retested using the portal and am able to scale back from a failed state. Please follow up if you're continuing to see this issue.

#please-close

[2020-12-15 22:22] #51596 closed

[2020-12-15 22:25] joshuarmclean opened #67731 "single quotes break command prompt"
Minor detail but the page shows in the working examples single quotes but my windows 10 command prompt broke, with an error that was not understandable.
I used double quotes around the the URLs and it worked.

This was specifically in regards to the file share to file share copy, not sure if it is everywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-12-15 22:30] femsulu commented on #67708
re-opened to add triage tags.

[2020-12-15 22:30] #67708 closed

[2020-12-15 22:36] msmimart commented on #56756
Thanks again, your feedback and the reference to the related issue is much appreciated. The need for simpler walkthroughs is understood; we're tracking this feedback internally and doc revisions are in the works. #please-close

[2020-12-15 22:36] #56756 closed

[2020-12-15 22:39] JamesTran-MSFT commented on #67728
@eximotae
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-15 22:47] AndyWDev opened #67733 "Unable to"
I was unable to get this to work given the instructions provided.  I am wondering if there is an additional configuration step required.

I have the blob storage set up a vnet configured.  I have a windows 10 VM running connected to the same VNET.  I can access the storage through the portal on the VM and through storage explorer and can upload a test file to the storage.

When I try to run the mo

[2020-12-15 22:51] eximotae commented on #67728
Let me know if there is anything I can do to help, or any additional
information you need.

-Regards,

*Joshua I. White*

*_____________________________________________UofL Bioengineer M.ENG.
(Masters of Engineering)*

*Mobile 502-767-1722 <502-767-1722>*

*Certified Associate LabVIEW Engineer (CLAD)*
*Volunteer Work:*
*Director - **Graffiti Abatement Coalition of Louisville*
*Project Manager - 20

[2020-12-15 23:08] femsulu commented on #67725
@SarveshPandey Thanks for the question. We are actively investigating and will get back to you soon.

[2020-12-15 23:09] normesta commented on #67731
Hi @joshuarmclean. Yes, you'll have to use double quotes for Windows command prompt and single for PowerShell. Thanks for sharing your feedback. This is a known issue and we have a note at the top of the article.  Thx!

[2020-12-15 23:10] JamesTran-MSFT commented on #67728
@eximotae
Thank you for the quick response! I tested this out on my end (without on-prem groups) and found that only Microsoft 365 groups work with this feature.

These are the two groups I used:
![image](https://user-images.githubusercontent.com/36619112/102283245-e0367e80-3ee6-11eb-8384-4cf2371a9055.png)

As you can see, my "Security" group type, failed to update but my Microsoft 365 group didn'

[2020-12-15 23:19] GiftA-MSFT commented on #67720
@Trubzzz we'll review your feedback and get back to you shortly. Thanks.

[2020-12-15 23:27] ronarieke opened #67734 "Is it possible to do this without specifying the issuer in the validate-jwt policy?"
Hi, I went through this document setting up OAuth 2.0, but I wasn't able to set it up without including the issuer in the validate-jwt policy, so I'm wondering if that was left out, or if I did something wrong.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823eb96f-e5f1-0832-b175-0b31009be92f
* Version Indepen

[2020-12-15 23:33] JCDeist commented on #67667
Actually seconding this.

What's the point in listing in the menu that you can create via REST and then later down the list, having ARM template listed when the ARM template creates via REST API Endpoint?

[2020-12-15 23:33] toddwhitehead commented on #67617
I'd also be happy to help with and submit a PR if there isn't already anything being worked on.

From: JayaChatterjee-MSFT <notifications@github.com>
Sent: Tuesday, 15 December 2020 9:59 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Todd Whitehead <Todd.Whitehead@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Outdated example code

[2020-12-15 23:49] DerekHerman-MSFT commented on #67733
@ AndyWDev Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-15 23:56] kikofarad opened #67735 "Mistake in the demo pictures"
[I think there is a mistake in the screenshots , you converted the EastUS then you showed the WestUS that was converted am I right ?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f82bf404-1ced-f39f-9f5a-eace41f7f78d
* Version Independent ID: 624bc6be-b4e2-68c9-16b9-99af583b4b2f
* Content: [Install Azure Firewall in a

[2020-12-16 00:16] softchris commented on #67432
I can't use `CacheExpirationTime`, it says the property don't exist ( FeatureFlag options does not contain a definition for `CacheExpirationTime`  ). Here's my project file:

[code]

.NET Core version `5.0.100`

@AlexandraKemperMS

[2020-12-16 00:19] qm13 commented on #62116
@AshokPeddakotla-MSFT Please close as this is captured in AKDK GitHub bug #1414 https://github.com/microsoft/Azure-Kinect-Sensor-SDK/issues/1414

[2020-12-16 00:31] yingqunpku commented on #67620
The current version of Anomaly Detector only supports univariate. Would like to know what is your scenario @ShubhangiGoyal on multivariate a/d?

[2020-12-16 01:17] ramya-rao-a opened #67737 "Python API Reference docs for Service Bus are not linked to the right place"
The TOC on the left for the [Azure Service Bus Messaging documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/) has the `Reference` node which expands as below

![image](https://user-images.githubusercontent.com/16890566/102291616-5becf700-3ef8-11eb-90bd-8bcadc157f1b.png)

The `azure-servicebus` package links should be updated as below:
- The 0.50.0 version should use https:

[2020-12-16 01:28] mmaitre314 opened #67738 "Error DownloadItemFromBlobFailed running New-AzManagedApplicationDefinition"
When I run the code snippet to create the managed application definition it errors out with this:

[code]

This is likely because this line assumes a public blob which was not the case with my storage account:

[code]

Switching to a Blob URI with a SAS token fixed the issue in my case. Not sure if the SAS token expiration time will be an issue later on though.

[code]

---
#### Document Details

[2020-12-16 01:36] RyanHill-MSFT commented on #67726
Thanks for reporting this @jonwbstr. We have a pending PR to address it.

[2020-12-16 01:39] ramya-rao-a opened #67739 "Java API Reference docs for Service Bus are not linked to the right place"
The TOC on the left for the [Azure Service Bus Messaging documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/) has the `Reference` node which expands as below

![image](https://user-images.githubusercontent.com/16890566/102293485-103c4c80-3efc-11eb-8bee-8ecdc4e95cee.png)

The links to the API reference docs for the two Java packages should be updated as below:
- `azure-serv

[2020-12-16 01:44] femsulu commented on #67735
Hello @kikofarad , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-16 01:44] dolauli commented on #67672
Following is the command I run.

`PS C:\Users\xidi\src\autorest.powershell> (Get-AzResourceProvider -ProviderNamespace Microsoft.DesktopVirtualization).ResourceType

ResourceType                        Location                                  ApiVersion
------------                        --------                                  ----------
workspaces                          {East US, East US 2,

[2020-12-16 01:54] femsulu commented on #67711
Hello @robinp-tw, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-16 01:58] beret opened #67740 "Debian 10 "Buster" migration support status"
As Debian 10 "Buster" was released early 2019, and is available for direct deployment on Azure:
Is there a publishable timeline for when or if it will be supported for migration to Azure from other environments.

Even an explicit statement of yes/no support would be helpful in planning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-12-16 02:01] BharathNimmala-MSFT commented on #67740
@beret Thank you for reaching out to us and for your query, we will look into it and get back to you at the earliest.

[2020-12-16 02:27] CHEEKATLAPRADEEP-MSFT commented on #67729
@artsheiko  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-16 02:27] CHEEKATLAPRADEEP-MSFT commented on #67723
@Gergues  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-16 02:34] ChaitanyaNaykodi-MSFT commented on #67739
Hello @ramya-rao-a, Thank you for your feedback! We will update the document.

[2020-12-16 02:36] ChaitanyaNaykodi-MSFT commented on #67737
Hello @ramya-rao-a, Thank you for your feedback! We will update the document.

[2020-12-16 02:37] JimZhai commented on #67420
@felixtsem5 Thanks for the feedback. The article has been updated to match with the lastest UI.
@linda33wj We will now proceed to close this thread.

[2020-12-16 02:38] ChaitanyaNaykodi-MSFT commented on #67727
Hello @tiago-sommer-damasceno, Thank you for your feedback! We will review and update as appropriate.

[2020-12-16 02:41] #67366 closed

[2020-12-16 02:43] ChaitanyaNaykodi-MSFT commented on #67734
Hello @ronarieke, Thank you for your feedback! We will review and update as appropriate.

[2020-12-16 02:46] JimZhai commented on #67331
@eaarnoudse Thanks for the feedback. The article has been updated to match with the lastest UI.
@linda33wj We will now proceed to close this thread.

[2020-12-16 02:47] JimZhai commented on #67420
#please-close

[2020-12-16 02:47] #67420 closed

[2020-12-16 02:47] JimZhai commented on #67331
#please-close

[2020-12-16 02:47] #67331 closed

[2020-12-16 02:48] SatishBoddu-MSFT commented on #67595
Hello @QiMata We are looking into this. Thanks for the feedback!

[2020-12-16 02:53] VikasPullagura-MSFT commented on #67640
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-12-16 02:53] #67640 closed

[2020-12-16 02:56] ramya-rao-a opened #67741 "Java API Reference docs for Event Hubs are not linked to the right place"
The TOC on the left for the [Azure Event Hubs documentation](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about) has the `Reference` node which expands as below

![image](https://user-images.githubusercontent.com/16890566/102298965-f94f2780-3f06-11eb-9e8a-3b6ecb05a608.png)

The link for `azure-messaging-eventhubs (latest)` currently points to https://azuresdkdocs.blob.core.windows.

[2020-12-16 03:01] qliu95114 opened #67742 "Tips: when customer setup privatelink storage + Azure File Sync service"
If customer is using private link (storage plus Azure file sync servi)ce, customer will receive "Unable to list shared folder" when try to add Cloud Endpoint to SyncGroup

Cause, when list cloud endpoint, there is list call from user browser client, it will not work unless customer use Virtual Machine inside VNET , and open https://portal.azure.com to add Cloud Endpoint

Recommend add one sentence

[2020-12-16 03:37] leshaved opened #67744 "Wrong screen for Networking settings"
![image](https://user-images.githubusercontent.com/10625336/102301991-2d305880-3fac-11eb-8a1c-f9d5886829e8.png)

the Azure screen doesn't match the one in text. No Connectivity button
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81b
* Version Independent ID: 3bcd

[2020-12-16 03:56] VikasPullagura-MSFT commented on #67601
@assaf-grth
It is not recommended using Av1 VMs as its old generation.
Please check Av2 VMs, as they come with better price/performance.

I checked with internal team on end of support for the older generation models. Currently there is no timeline decided on this. Once this is decided it will be available on public documentation.

Hope this information is helpful.

[2020-12-16 04:08] AnuragSharma-MSFT commented on #67744
@leshaved Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-16 04:38] SatishBoddu-MSFT commented on #67595
Hello @QiMata
What is the output of the list when you run `apt list libssl*`
Did you try `sudo apt-get install libssl1.1` and what output do you see../

[2020-12-16 04:51] SatishBoddu-MSFT commented on #65265
As we are tracking this issue internally.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-12-16 04:51] #65265 closed

[2020-12-16 04:52] HarshitaSingh-MSFT commented on #67458
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-12-16 04:52] #67458 closed

[2020-12-16 04:56] CHEEKATLAPRADEEP-MSFT commented on #67741
@ramya-rao-a  Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-16 05:19] SwathiDhanwada-MSFT commented on #67738
@mmaitre314 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-16 05:25] HarithaMaddi-MSFT commented on #67618
@mamccrea - Can you please take a look and share your thoughts.

[2020-12-16 05:48] jasonhorner opened #67745 "Blob Event Triggers Don't Support Wildcards in the file path"
Blob event triggers don't support wildcards in the path name... this should be explicitly called out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory - Azure D

[2020-12-16 05:56] HarshitaSingh-MSFT commented on #67731
Hello @joshuarmclean , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 06:06] HarshitaSingh-MSFT commented on #67745
Hello @jasonhorner , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 06:10] amanmcse commented on #67637
@markprins81 Thank you for the confirmation.
#please-close

[2020-12-16 06:10] #67637 closed

[2020-12-16 06:14] #53383 closed

[2020-12-16 06:18] AshokPeddakotla-MSFT commented on #62116
@qm13 Thanks for the confirmation.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-16 06:18] #62116 closed

[2020-12-16 06:23] SatishBoddu-MSFT commented on #61191
Hello @Chenyaaang
We will now proceed to close this thread. Please do visit [Azure Kinect DK](https://feedback.azure.com/forums/920053-azure-kinect-dk) to submit feedback if you have any further requirements in the future.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-12-16 06:23] #61191 closed

[2020-12-16 06:48] AnuragSharma-MSFT commented on #67533
@npigit We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-16 06:48] #67533 closed

[2020-12-16 06:48] Vamshij11 opened #67746 "ZohoConnector Issue in Data Factory"
Hello All,

I Can not add zoho crm under linked managers in azure data factory using access and refresh token. Getting 401 error.
Please help me on this.

Thanks!!
![crm issue](https://user-images.githubusercontent.com/64818417/102314527-9d34e380-3f98-11eb-9916-877483da4a3f.png)

[2020-12-16 06:53] isaaccarrington commented on #40373
I see the issue is closed but giving feedback anyway. ARM templates are our contract with how we interface with Azure. In the absence of the schema this functionality is an incomplete contract in my view and the ARM template should be in preview.

[2020-12-16 07:02] eloggo opened #67747 "Is nodeport service on aks supported to publish to internet?"
[Enter feedback here]
The doc talk about k8s native service type, include nodeport, but i am confusing whether the nodeport is supported by aks to publish service to internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c75e8d5
* Version Independent ID: 064f4a10-bd74-f554-9550-781dd3e838

[2020-12-16 07:17] assaf-grth commented on #67601
Price differences between lower end of both generation are high - 13$ - 30$
I require a VM with half of the offered RAM, could there be a plan to include such offering in the future?

[2020-12-16 07:20] gb5757870 opened #67748 "Screenshot under "Send logs to Azure Monitor" is not current"
Screenshot under "Send logs to Azure Monitor" is not current

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Azure Active Directory logs to Azure Monitor logs](https://docs.microsoft.com/en-us/azure/act

[2020-12-16 07:49] karataliu opened #67749 "Can you confirm sastoken includes leading '?' or not?"
This image suggested sas token contains leading '?'
![a](https://docs.microsoft.com/en-us/azure/storage/common/media/storage-sas-overview/sas-storage-uri.png)

But when generating one SAS token on portal, it doesn't contains '?'.
Can you confirm which is correct?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 788014ae-d

[2020-12-16 08:08] rayne-wiselman commented on #67740
Thanks for your feedback! We don't have a publishable timeline on this.  We update the support matrix when OS support is added.

Closing since this isn't an issue with the doc.
#please-close

[2020-12-16 08:08] #67740 closed

[2020-12-16 08:23] dcurwin commented on #67632
#reassign:Debpriya1994

[2020-12-16 08:24] dcurwin commented on #67607
#reassign:Debpriya1994

[2020-12-16 08:24] dcurwin commented on #67715
#reassign:SujayJDesai

[2020-12-16 08:25] AnuragSharma-MSFT commented on #67702
@fillip1983 Thanks for pointing this out. I observed few other rules are not mentioned which are part of removed rules.

This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-16 08:27] urjitgokhale commented on #67387
Hi @James-Hamil-MSFT

1. My Azure app is configured with Application permissions. I need to access the resources as 'application' and not on behalf of.
2. The app is configured with both read and read+write permissions, since it needs to modify the resources as and when needed
3. I now want to support a usecase where I want the end user to authorize my app only for a subset of permissions (read on

[2020-12-16 08:32] CHEEKATLAPRADEEP-MSFT commented on #67746
@Vamshij11  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better-suited audience for such types of issues.

[2020-12-16 08:36] AnuragSharma-MSFT commented on #67744
@leshaved Could you please confirm if you are creating a new server or using an existing server while creating the Azure SQL Database. In case you are using the existing server, we would not be able to see the options as mentioned by you are the Azure SQL Server setting have already been defined while creating the server.

However, if we create a new server, we can see the network connectivity opt

[2020-12-16 09:02] alishchytovych opened #67750 "No units"
What are the measurement units of the package size, log file size parameters and so on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85090bbe-facd-f493-9817-b639df44f345
* Version Independent ID: 29832cb6-6676-147d-5d5f-fccbd55b2fba
* Content: [Azure VPN Gateway: Configure packet capture](https://docs.microsoft.com/e

[2020-12-16 09:04] blueghostuk opened #67751 "Default Client Type wording changed"
In the Azure portal the "Default Client Type" text is now "Allow Public Client Flows"

Text and image need updating to match

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0e2091-855e-c07b-c765-bc076ef0099a
* Version Independent ID: 897ef281-a5b5-ccb7-eceb-123c85581df5
* Content: [Register desktop apps that call web

[2020-12-16 09:40] pistolero38 commented on #46351
Hello,

any news about this issue ?

[2020-12-16 09:45] eaarnoudse commented on #67331
Many thanks 👍

Van: JimZhai <notifications@github.com>
Verzonden: woensdag 16 december 2020 03:46
Aan: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
CC: eaarnoudse <eaarnoudse@gmail.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [MicrosoftDocs/azure-docs] Create Dataset (#67331)

@eaarnoudse <https://github.com/eaarnoudse>  Thanks for the feedback. The article has been update

[2020-12-16 10:03] AjayKumar-MSFT commented on #67612
@melvincanafranca, I tried the same and it works fine on Azure Cloud Shell Bash
![image](https://user-images.githubusercontent.com/44606227/102332487-26a4df80-3fb2-11eb-97d9-1abaf40dfde8.png)

If you’re using Python 3.6 and you may use try with:
“source /antenv3.6/bin/activate”.

If you're still seeing this, kindly share a screenshot of the issue concealing any private details.
Apologies for the d

[2020-12-16 10:05] #56610 closed

[2020-12-16 10:27] e-saiz opened #67753 "This does not work for me "Access an Azure AD enabled cluster""
Hello

I would need more detail information as this steps does not work for me "Access an Azure AD enabled cluster"

I'm MS employee and support AKS  my alias is ezsaizri

I assigned the role user to my ms user that use to access azure
then I run kubectl get nodes   do the login in web page and got this error.

Error from server (Forbidden): nodes is forbidden: User "MS user" cannot list resource

[2020-12-16 10:45] pooran opened #67754 "Please add all possible errors and possible solutions"
A verified publisher cannot be added to this application. Please contact your administrator for assistance. [VFSMWUDu8KWgEx8CQ8Djg7]

I am admin of this Azure instance and same a/c is having MPN ID

Why am I still getting this error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f83478f0-0faa-2e10-37f2-819ad2351445
*

[2020-12-16 10:49] boris-tarasov-maersk opened #67755 "Processing of key/values on refresh"
Could someone suggest where to chip in to invoke custom logic on refresh.

Let me give you the reason for such a need.

App service allow this path structure with ":" separation.  We use it to have a more general config values that can be set to be more specific. Lets say we want to have a global values:
Global:CorporateColour ==xxxx

But lets say for some of branches we override this with followi

[2020-12-16 11:06] yutaro113 opened #67756 "Health Check Ping Interval Info wanted to be mentioned."
[Enter feedback here]
Regarding Health Check feature in this page, it would be more helpful to have information about ping interval.
It is mentioned that if ping failed 5 times to the instance, that instance is separated but no information about its interval.
Thank you very much!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-16 11:11] pooran commented on #67754
The MPN ID you provided (XXXXXX) does not exist, or you do not have access to it. Please provide a valid MPN ID and try again. [VFSMWUDu8KWgEx8CQ8Djg7]

A verified publisher cannot be added to this application. Please contact your administrator for assistance. [VtDMuVrKrDh71B4CpEGuzK]

You must use multi-factor authentication to proceed. Please ensure MFA is enforced for your account, and then sig

[2020-12-16 11:11] GitaraniSharma-MSFT commented on #67437
@JennyLJY , I discussed your query with the Azure Firewall Product Group team and they mentioned that the Azure Firewall uses various internal components to auto scale and load balance the traffic and they are all handled in the backend architecture. It is not published externally as backend logic may change in future depending upon the demand and requirement. All the features and functionalities

[2020-12-16 11:11] #67437 closed

[2020-12-16 11:14] pooran commented on #67754
I called up support, and couple of times we tried. Out of the blue MPN ID got accepted. Please update detailed steps of what is required when such errors come up.

You must use multi-factor authentication to proceed. Please ensure MFA is enforced for your account, and then sign in again using MFA. [VjpDekCBS9tULdQpOdAQQe]

 --- My Azure AD tenent was different one

The MPN ID you provided (XXXXXX)

[2020-12-16 11:14] #67754 closed

[2020-12-16 11:18] SwathiDhanwada-MSFT commented on #67756
@yutaro113 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-16 11:25] vivere-dally opened #67757 "Possible integration with Az Powershell Module"
Hello,

I was looking into a way of Azure Workbook Template deployment automation. I saw that for the moment it is only possible via Template/Parameter Files. We are used to the Az modules like Az.ApplicationInsights which provide CRUD functionalities over this resource type. Will this be available for Workbooks aswell? I looked into it and I didn't see any cmdlets for this, hope I'm not mistaken.

[2020-12-16 11:27] SubhashVasarapu-MSFT commented on #67750
@alishchytovych, Thanks for reaching out. We will investigate and update this thread.

[2020-12-16 11:33] SubhashVasarapu-MSFT commented on #67381
@marcelkmfst, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-16 11:33] #67381 closed

[2020-12-16 11:36] SubhashVasarapu-MSFT commented on #67415
@gb5757870, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-16 11:36] #67415 closed

[2020-12-16 11:41] GitaraniSharma-MSFT commented on #67657
@RonnieQuan , Will this feature save cost - Yes.
The pricing for Bastion Vnet peering is no different than Normal Bastion Service apart from the fact that it will also include Vnet peering cost. But it will definitely save the Bastion deployment cost which is per hour basis and consumes more cost than the data transfer cost.

Azure Bastion Vnet peering cost = Bastion deployment and data transfer p

[2020-12-16 11:41] #67657 closed

[2020-12-16 11:44] QiMata commented on #67595
libssl-dev/stable, stable 1. 1.1d-0+deb10u3 amd64
libssl-doc/stable, stable 1.1. 1d-0+deb10u3 all
libssl-ocaml-dev/stable 0.5.5-1 amd64
libssl-ocaml/stable 0.5.5-1 amd64
libssl-utils-clojure/stable 0.8.3-2 all
libssl1. 1/stable, stable, now 1.1.1d-0+deb10u3 amd64 [installed]

libssl1.1 is already the newest version (1.1.1d-0+deb10u3)

[2020-12-16 11:48] jokarl opened #67758 "Layered deployment not reapplied when base deployment changes"
I am using a base deployment which deploys a number of containers and configures routes on the edgeHub. Our edges have different types, and to solve that we use layers and target tags.

If I change the base deployment, the layered deployment is dropped and never reapplied, even though I can see it still targets devices:
![dropped_layer](https://user-images.githubusercontent.com/6864214/102344226-e

[2020-12-16 11:53] pooran commented on #67754
A verified publisher cannot be added to this application. Please contact your administrator for assistance. [VtDMuVrKrDh71B4CpEGuzK]

This one is really frustrating-- no idea how many times we have to try to get right :(

[2020-12-16 12:08] GitaraniSharma-MSFT commented on #67706
@AnthonyDelagarde , we have changed the VyOS article link per your request. The doc will be updated shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-12-16 12:08] #67706 closed

[2020-12-16 12:26] nixa333 opened #67759 "Front Door editor scroll issue"
When adding a lot of custom domains, the designer view doesn't scroll the content of the panel, but the whole view. Content overflows the parent container as visible in the image.
![front door scroll bug](https://user-images.githubusercontent.com/6515226/102348448-374d5980-3fa2-11eb-8ddf-48d917c9f5bc.jpg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-12-16 12:28] Sushgautam opened #67760 "Register One Device for two accounts"
Hi Everyone,

We have Required App Protection Policy in place in Our Organization where one Android/iOS device is not getting accessible by two accounts. Like, A user1 has Outlook/Company Portal installed in mobile device couldn't configure account user2 in Outlook of their mobile device. It asks to remove account user1 (already configured) or show "an error occured".
Please confirm if this is an

[2020-12-16 12:33] SwathiDhanwada-MSFT commented on #67694
@parameswar-mondal-fission Thanks for your  question.  When the extension installation failed , you might have noticed an error.  For example, in the below .gif, the error code is -110.  Similarly , can you check what error code have you got ? Based on the error code, you will be able to find the cause of extension failure.

To understand different error codes that you receive when installing exte

[2020-12-16 12:40] bananbe opened #67761 "Advance to next tutorial navigates to deprecated page"
Clicking button under section `Advance to next tutorial` navigates to old, deprecated page: [https://docs.microsoft.com/en-us/azure/api-management/api-management-customize-styles](url), but instead it should navigate to [https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal-customize](url)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-16 12:56] SwathiDhanwada-MSFT commented on #67757
@vivere-dally Thanks for your question.  One of the customer has provided a similar feedback to Azure PowerShell team which is being evaluated. For more information, refer this feature request https://github.com/Azure/azure-powershell/issues/12923. Kindly revert if you have further questions.

[2020-12-16 12:59] 1lomeno3 commented on #58227
Any plans to support ASR with DRBD?

[2020-12-16 13:04] VikasPullagura-MSFT commented on #67753
@e-saiz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-12-16 13:04] VikasPullagura-MSFT commented on #67753
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-12-16 13:13] gilroitto opened #67762 "Provide more details on how to "Export APIs from Azure API Management to the Power Platform"
The [article ](https://docs.microsoft.com/en-us/azure/api-management/export-api-power-platform) is very barebone and leaves out many tricky details.
- What happens if the API is behind authentication or without authentication?
- How do we provide a header "Ocp-Apim-Subscription-Key" for non-authenticated API?
- Where do you get the API-key to provide for an authenticated API?
- How to submit API r

[2020-12-16 13:21] gilroitto commented on #67762
Also it would worth emphasizing that the connector does not become a premium connector, which a [custom connector](https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/register-custom-api) is.

[2020-12-16 13:26] Debpriya1994 commented on #67632
Hello
Answering your 2 questions
Is there a way to access this storage and extract the snapshots for storing them my own storage account?
Ans - The instant restore snapshots are stored in customer storage account and not in azure backup storage account. Referance - https://docs.microsoft.com/en-us/azure/backup/backup-instant-restore-capability#whats-new-in-this-feature.
If I accidentally stop or d

[2020-12-16 13:26] Debpriya1994 commented on #67632
#please-close

[2020-12-16 13:26] #67632 closed

[2020-12-16 13:33] assaf-grth commented on #67632
Where can I see the definition of this storage account and access it?

[2020-12-16 13:43] Debpriya1994 commented on #67632
Its stored alongside disks. For managed VMs the snapshots cant be accessed individually.

[2020-12-16 13:46] assaf-grth commented on #67632
So there is no clear storage account I can access and or VHD files or any other page blobs?

[2020-12-16 13:47] Debpriya1994 commented on #67607
Azure backup  doesn’t support immutable storage and there isn’t a way  to enable transfer of backup data to it.

[2020-12-16 13:48] Debpriya1994 commented on #67632
Am afraid not as of now.

[2020-12-16 13:49] assaf-grth commented on #67607
Thanks for the clarification

[2020-12-16 13:49] #67607 closed

[2020-12-16 13:49] parameswar-mondal-fission commented on #67694
@SwathiDhanwada-MSFT Thank you so much for your response. I have checked the log, this is the error log:

**It's my request body:**
[code]
**If I'm passing any wrong XML file then please correct me.** Because error code "-3" tells that **"Cannot load the Diagnostics configuration file."**

**So what is wrong about my Request body parameters or configuration json/xml file?**

[2020-12-16 13:49] assaf-grth commented on #67632
Thanks for the clarification

[2020-12-16 13:50] parameswar-mondal-fission commented on #67694
@HarshitaSingh-MSFT Thank you so much.

[2020-12-16 14:08] tfitzmac commented on #67672
Not sure what is going on. I see the opposite results. If I use .ResourceType, I get no results but if I use .ResourceTypes I get the full results.

To check if it is a version issue, can you run:
Get-InstalledModule -Name Az -AllVersions | Select-Object -Property Name, Version

And:
$PSVersionTable.PSVersion

[2020-12-16 14:09] cephalin commented on #47303
This issue has been fixed in the docs. #please-close

[2020-12-16 14:09] #47303 closed

[2020-12-16 14:10] HarshitaSingh-MSFT commented on #67625
As the document mentions "Nvidia NVLink Interconnect: Not Supported", NvLink is not supported by NCv2-series VMs. Please let me know if this answers your question.

[2020-12-16 14:16] HarshitaSingh-MSFT commented on #67631
This is to inform you that the doc change is valid and I have made this change internally and it will be merged soon.

[2020-12-16 14:19] sopelt opened #67763 "Clarify provisioning and renewal process for App Service Managed Certificates"
The addition of App Service Managed Certificates is a welcome one. I would love additional information/documentation on the following details concerning the provisioning and renewal process:

 * Deployment via ARM
 * Deployment via Powershell (no first class support right now - only as a generic resource)
 * Deployment via az cli (no first class support right now - only as a generic resource?)
 *

[2020-12-16 14:20] MonikaReddy-MSFT commented on #67755
@boris-tarasov-maersk -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-16 14:21] MonikaReddy-MSFT commented on #67742
@qliu95114 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-16 14:35] spelluru commented on #67741
@ramya-rao-a - thank you. Fixed the links. The latest one also points to DOCS reference content now.
https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-readme?view=azure-java-stable

[2020-12-16 14:36] kennethgp opened #67765 "Bastion does not currently support SSH to AKS nodes"
Per this issue: https://github.com/Azure/AKS/issues/1854  Bastion is not supporting the default key exchange algorithm and per support case information is not in the plans for Bastion to implement this yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47be2fa0-5152-357d-35a8-74d037281d55
* Version Independent ID: b98

[2020-12-16 14:46] karthikeyan-murugan opened #67766 "Auto collection of logging done by logback is not happening."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea43b302-7793-3e32-189e-d2949d399f25
* Version Independent ID: 46ac34e0-f0ad-bc1c-a170-c64305e1af9b
* Content: [Configuration options - Azure Monitor Application Insights for Java - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/a

[2020-12-16 14:56] SatishBoddu-MSFT commented on #67595
Thank you!, I expected this output, as I too have the same experience. Let me check with my team.

[2020-12-16 14:57] HarshitaSingh-MSFT commented on #67747
Hello @eloggo , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-16 14:58] HarshitaSingh-MSFT commented on #67748
Hello @gb5757870 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 14:59] SumanthMarigowda-MSFT commented on #67526
@cpinotossi Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-16 15:01] HarshitaSingh-MSFT commented on #67749
Hello @karataliu , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 15:02] HarshitaSingh-MSFT commented on #67751
Hello @blueghostuk , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.
 

[2020-12-16 15:06] HarshitaSingh-MSFT commented on #67758
Hello @jokarl , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-16 15:09] HarshitaSingh-MSFT commented on #67759
Hello @nixa333, thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-16 15:09] RonnieQuan opened #67767 "Scope for Cosmos Service Managed Key"
Is the service managed key scoped to a specific Cosmos account or entire cosmos service?

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c068a1f-f3bf-0ea8-ffff-c5626f6da77a
* Version Independent ID: 3adef505-3bd5-a55b-9697-1febe37d0a6a
* Content: [Encryption at rest in Azure Cosmos DB

[2020-12-16 15:10] HarshitaSingh-MSFT commented on #67760
Hello @Sushgautam , thanks for the question! We are taking a look into this and will get back to you soon.

[2020-12-16 15:11] HarshitaSingh-MSFT commented on #67761
Hello @bananbe , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 15:13] HarshitaSingh-MSFT commented on #67762
Hello @gilroitto , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 15:16] emilguden opened #67768 "platform.linux_distribution is removed in Python 3.8"
Hi,

Trying to run the troubleshooter on a Ubuntu 20.04
NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.1 LTS"
VERSION_ID="20.04"

And getting the below error:
[code]
According to this [link](https://github.com/saltstack/salt/issues/37070)
platform.linux_distribution is removed from Python 3.8

I'm I missing something or do we need an update of

[2020-12-16 15:18] baanders commented on #66124
@maxstefaniv  Hello, are you still experiencing this issue? We'll be closing this issue in 7 days if it's been resolved or if there is no further information by then. (We can also reopen at any time if necessary.)

Thank you!

[2020-12-16 15:22] maxstefaniv commented on #66124
Hello, you answered my questions.
There is no problem if you close it.

Thankyou

Maksym Stefaniv
IoT Engineer / Data Engineer / Ingeniero Eléctrico

El mié., 16 dic. 2020 16:18, Bailey Anderson <notifications@github.com>
escribió:

[2020-12-16 15:26] kriti218 opened #67770 "Timeline for preview features (last access time and blob index tag)"
1. Can you please tell any tentative date for the features mentioned in title to be in GA. We need these for our scenarios.
2. When the blobs are moved between tiers will there be any change in blob path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a558a9e-10d0-ea34-8780-d9084f87f952
* Version Independent ID: 60dda

[2020-12-16 15:27] baanders commented on #66124
Thanks for the response! Sounds great!

#please-close

[2020-12-16 15:27] #66124 closed

[2020-12-16 15:28] hamzahamidi opened #67771 "Azure CosmosDB Emulator: Error Partition key path /ID is invalid for MongoDB API"
I have the below error when I try to create and a container using Azure CosmosDB Emulator while enabling
EnableMongoDbEndpoint:

![image](https://user-images.githubusercontent.com/22576950/102368365-0decf780-3fbb-11eb-8056-1558019602c7.png)

[2020-12-16 15:31] jmprieur commented on #67751
@ James-Hamil-MSFT: there is a PR already ... waiting for being reviewed.

[2020-12-16 15:33] SarveshPandey commented on #67725
Any Update on this?

[2020-12-16 15:37] whomanGHA commented on #67206
Thank you for updating the table - but PV2 supports up to 30 instances, not 20.

[2020-12-16 15:55] BE-Digital-Solutions-Bart commented on #67697
https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-faq#q-can-i-link-more-than-one-power-bi-workspace-to-a-single-azure-synapse-workspace
This FAQ page just contains one line that mentions the current limitation.

https://docs.microsoft.com/en-us/power-bi/connect-data/power-bi-data-sources
This documentation page that it's also possible to connect to many data sources using a Data Ga

[2020-12-16 16:04] joappleMSFT opened #67772 ""on behalf of" details missing?"
While setting up key vault for a workspace, I (mistakenly) added **both** the object ID and app ID of the workspace to the access role, and got this error:

`  20/12/16 03:46:05 ERROR TokenLibraryLinkedService: POST failed {"error":{"code":"Forbidden","message":"The policy requires the caller 'name=Microsoft.Synapse/workspaces;appid=<deleted>;oid=<deleted>;iss=https://sts.windows.net/<deleted>/' t

[2020-12-16 16:04] MonikaReddy-MSFT commented on #67650
@AlexandraKemperMS  - Thank you for providing your insights.
@Lechus - I hope @AlexandraKemperMS  has answered your question.
Thanks again for bringing this to our attention. We will be updating the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discus

[2020-12-16 16:04] #67650 closed

[2020-12-16 16:11] BharathNimmala-MSFT commented on #67766
@karthikeyan-murugan Thank you for reaching out and will review your scenario and get back to you at the earliest.

[2020-12-16 16:12] #67726 closed

[2020-12-16 16:22] cgoenka-az opened #67773 "Service Endpoint Name mistake"
Noticed the Microsoft.AzureActiveDirectory is tagged to Azure Data Lake Store Gen 1  Under Generally Available is that correct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f4a5-6059-488d-fd082915c675
* Version Independent ID: 7c2fb429-743c-aea0-f1d5-de6dc2e62e8e
* Content: [Azure virtual network service en

[2020-12-16 16:24] Frank-Henkes opened #67774 "Dead link"
[Under section Enable Service Map

    Enable the Service Map solution from the Azure Marketplace
The deeplink under "Azure Marketplace"
does not work]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2fa4879-da5a-e026-5cc6-fd0dcde1b69b
* Version Independent ID: b7d90e6e-4578-512b-d595-14ef46a78609
* Content: [Using Ser

[2020-12-16 16:28] amalbabu1 opened #67775 "ok"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3073612-d1f0-2979-045e-d8ab03e6b0fd
* Version Independent ID: e272f853-363c-b529-364f-ebb4c3f315fc
* Content: [Connect Raspberry Pi web simulator to Azure IoT Hub (Node.js)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-web-simu

[2020-12-16 16:33] NavtejSaini-MSFT commented on #67572
@azure2439 We are going ahead and closing this request for now. Please let us know if you have any other question.

[2020-12-16 16:33] #67572 closed

[2020-12-16 16:34] NavtejSaini-MSFT commented on #67591
@iwannabebot We are going ahead and closing this feedback. Please get back to us if you have any further question.

[2020-12-16 16:36] JamesTran-MSFT commented on #67772
@joappleMSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-16 16:46] DerekHerman-MSFT commented on #67731
@joshuarmclean Since this has already been addressed in the documentation I will close out this issue.

[2020-12-16 16:46] #67731 closed

[2020-12-16 16:47] #67591 closed

[2020-12-16 16:50] placidseven opened #67777 "Cannot convert the value of type "Microsoft.Azure.Commands.Profile.Models.PSAzureSubscription" to type "Microsoft.Azure.Commands.Common.Authentication.Abstractions.Core.IAzureContextContainer"."
$AzureContext = Get-AzSubscription -SubscriptionId $ServicePrincipalConnection.SubscriptionID

returns error when using in Start-AzAutomationRunbook

Start-AzAutomationRunbook : Cannot bind parameter 'DefaultProfile'. Cannot convert the
"XXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" value of type "Microsoft.Azure.Commands.Profile.Models.PSAzureSubscription" to
type "Microsoft.Azure.Commands.Common.Authenti

[2020-12-16 17:04] timsander1 commented on #66006
We have added a separate syntax section for each aggregate function.

[2020-12-16 17:04] timsander1 commented on #66006
#please-close

[2020-12-16 17:04] #66006 closed

[2020-12-16 17:07] DerekHerman-MSFT commented on #67749
@karataliu When I generate an account SAS token via the portal I see both the SAS token and Blob service SAS URL have the leading '?'. Since you are generating your SAS via the portal it should be correct. I would refer to [this page](https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas?redirectedfrom=MSDN#account-sas-uri-example) for more information on account SAS tokens.

[2020-12-16 17:09] prasenjitcloudgurua commented on #67213
@HarithaMaddi-MSFT - thanks! I will try today or tomorrow and will let you know.

[2020-12-16 17:19] DerekHerman-MSFT commented on #67742
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-16 17:34] RyanHill-MSFT commented on #53227
/cc @sethmanheim

[2020-12-16 17:38] #67517 closed

[2020-12-16 17:48] SaiKishor-MSFT commented on #67773
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate. Thank you!

[2020-12-16 17:51] SQLAdventurer opened #67781 "Update document please to list the three Synapse workspace endpoints"
This page is linked to from this page in portal Azure Synapse Workspace private endpoint connections
The three Synapse workspace endpoints SQL sqlOndemand and Dev are not listed in the document yet.

Private endpoint connection

Private endpoint uses a private IP address from within a virtual network to connect to an Azure service or your own private link service. Connections using private endpoin

[2020-12-16 17:58] SQLAdventurer commented on #67781
.sql.azuresynapse.net

[2020-12-16 18:01] azure2439 commented on #67572
@NavtejSaini-MSFT Sorry couldn't get back earlier, we will create a ticket with the support and pursue. We used an Account with Admin privileges to create the package/collection but still getting the same error.

[2020-12-16 18:08] juliakm commented on #67517
Thanks @martin389!

[2020-12-16 18:09] WinstonHoward-MSFT commented on #67765
@kennethgp , I've assigned this issue to the AKS Doc Author to take a look at adding a disclaimer to the doc. That being said once support for the newer exchange algorithm is added to Azure Bastion this doc will work as intended so there may be no need to add the disclaimer if Bastion is updated quickly.

[2020-12-16 18:22] prasenjitcloudgurua commented on #67213
Seems like we still have an issue for this alternate option. Initially, I resolved the issue bu using old set of azure management libraries. It worked fine but while updating the library and use of identity library, it is now showing "object has no attribute 'signed-session'". I found out that there is one adapter class I can use https://github.com/jongio/azidext/blob/master/python/azure_identity_

[2020-12-16 18:25] Minewiskan commented on #67729
#in-progress

[2020-12-16 18:31] TravisCragg-MSFT commented on #67390
@kausui Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-16 18:40] sumeetmittal commented on #67773
That's correct. For setting up Service Endpoints to ADLS Gen 1, you need to choose "Microsoft.AzureActiveDirectory". This is how ADLS SE was architected..

[2020-12-16 18:40] sumeetmittal commented on #67773
#close

[2020-12-16 18:40] cephalin commented on #44875
#please-close as it's already fixed in the content.

[2020-12-16 18:40] #44875 closed

[2020-12-16 18:41] SaiKishor-MSFT commented on #67781
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-16 18:41] TravisCragg-MSFT commented on #67414
@gb5757870 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-16 18:43] cgoenka-az commented on #67773
So will the endpoint work for both ADLS Gen1 and as well as AAD ?

[2020-12-16 18:44] sumeetmittal commented on #67773
No.. SE is only supported on ADLS Gen1.. AAD doesn't support SE functionality natively..

[2020-12-16 18:46] #67773 closed

[2020-12-16 18:47] KumudD commented on #67414
@gb5757870 Thanks for bringing this to our attention. All screenshots in this article have been updated.

#please-close

[2020-12-16 18:47] #67414 closed

[2020-12-16 18:52] AlexandraKemperMS commented on #67432
This has been resolved offline. app.UseAzureAppConfiguration(); was missing from the Configure() method in Startup.cs.
Please feel free to reach out with any other questions you have for App Configuration but raising another issue.
#please-close

[2020-12-16 18:52] #67432 closed

[2020-12-16 18:53] femsulu commented on #67011
@bwren  -  can you take a peek please?

[2020-12-16 18:55] RyanHill-MSFT commented on #67763
Thanks for the feedback @sopelt! I have assigned the issue to the content author to investigate further and update the document as appropriate.

With regards to GA timeframe, there isn't anything we can share at the moment.

[2020-12-16 19:00] MonikaReddy-MSFT commented on #67774
@Frank-Henkes -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-12-16 19:03] denniszielke opened #67784 "Permission assignment missing?"
My understanding is that the managed identity $IDENTITY_CLIENT_ID does need "Reader" permissions on the VMSS Resource group $NODE_GROUP.

Error message:
E1216 18:57:26.259725       1 main.go:73] failed list all vm, error: compute.VirtualMachinesClient#List: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="AuthorizationFail

[2020-12-16 19:05] MGoedtel commented on #67524
@makan0 and @KrishnaG-MSFT - Thanks for the feedback, and I plan on updating the doc to include alerting on a failed scheduled deployment and other relevant scenarios to help get customers started. This is something that has been in my backlog to work on actually.  In the meantime, you can create an alert rule that is using the following condition - Metric=**Total Update Deployment Runs**, Dimensi

[2020-12-16 19:05] #67524 closed

[2020-12-16 19:09] baanders commented on #67052
Thanks @bargor-code for the clarification! Now I see which [section](https://docs.microsoft.com/azure/digital-twins/tutorial-end-to-end#connect-the-iot-hub-to-the-azure-function) you mean.

The system topic here and the event grid topic later are actually two different parts of the solution, and the names **should not** have to match.

1. This system topic is used to subscribe the *ProcessHubToDTE

[2020-12-16 19:20] DerekHerman-MSFT commented on #67770
@kriti218 Unfortunately I do not have an ETA I can share for the GA release for these features. Once the features are made GA it will be announced on the [Azure updates page](https://azure.microsoft.com/en-us/updates/?category=storage).
Moving a blob between tiers does not affect the blob path or name.

[2020-12-16 19:20] #67770 closed

[2020-12-16 19:20] TravisCragg-MSFT commented on #67478
@NetForce1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-16 19:22] kobulloc-MSFT commented on #67172
@lisaguthrie Ignore - tool test.

[2020-12-16 19:23] mike-urnun-msft commented on #67313
Hi @SimonSimCity - Thank you for your feedback! We agree with you on how the description for the `connection` property can be rephrased to explicitly communicate that (a) connectionString is located in the `Shared access policies` blade of Even Hub, and (b) its value should be passed into an App Setting and (c) the name of this App Setting is what is referenced to the `connection` property. Were t

[2020-12-16 19:28] v-pethur opened #67787 "RI Permissions Copy feature during RI auto-renewal is not a property of Reservations, and thus will not copy over automatically, however documentation is misleading"
Hello, I am sharing feedback from a Japanese customer that the "Default renewal settings" section is misleading and wishes it to have further explanation on how the Permissions copy feature behaves during RI- auto renewal.

"By default, the renewal inherits all properties from the expiring reservation. A reservation renewal purchase has the same SKU, region, scope, billing subscription, term, and

[2020-12-16 19:34] chitturs opened #67789 "Clarify the use of requireInitialSync in ARM template"
I ran into this issue using that setting in ARM template with system managed identity. Good to document the response from the key vault team:

Extension Dependency Ordering
The Key Vault VM extension supports extension ordering if configured. By default the extension reports that it has succesfully started as soon as it has started polling. However, it can be configured to wait until it has succes

[2020-12-16 19:43] SaiKishor-MSFT commented on #21025
Test comment

[2020-12-16 19:43] TravisCragg-MSFT commented on #67491
@hctrr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-16 19:44] TravisCragg-MSFT commented on #67502
@trolleyboy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-16 19:49] vlad-kozlov opened #67791 "update documentation with adding sql.azuresynapse.net to DNS zones"
now database.windows.net DNS is shown for Synapse. To avoid confusion, should this be updated with sql.azuresynapse.net?
Thanks!
Vlad

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS

[2020-12-16 19:49] cephalin commented on #44168
Here's the belated answer: the observed behavior is the difference between Windows apps and Linux apps (which just includes the Docker logs), and are documented in https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#access-log-files.

#please-close.

[2020-12-16 19:49] #44168 closed

[2020-12-16 20:04] Ayanmullick opened #67792 "Azure Static Web Apps vs GitHub Pages"
Is there a feature comparison chart between Azure static webapps and GitHub pages and when one should use which?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67ef84a6-1076-d717-54da-4ed62b322c45
* Version Independent ID: 821a3bf1-9a2c-6b2d-8b2a-38fef8749a7a
* Content: [What is Azure Static Web Apps?](https://docs.mic

[2020-12-16 20:27] hagh opened #67793 "The dashboard add-on will be disabled by default for all new clusters created on Kubernetes 1.18 or greater."
I am wondering why this decision has been made? Kubernetes dashboard is very helpful to the purpose of viewing and debugging our services locally.
What is the workaround, and can you please update the page with instructions, if there is one?

Thank you,
Hossein

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-97

[2020-12-16 20:27] balag0 opened #67794 "Explicitly specify WEBSITE_RUN_FROM_PACKAGE=1 is not supported in Linux consumption functions"
In addition to mentioning WEBSITE_RUN_FROM_PACKAGE=1 is recommened for Windows function apps, we also need to specify this is not supported in Linux consumption sku.

![image](https://user-images.githubusercontent.com/28721598/102402580-d9b50f00-3f99-11eb-9097-e374d8ebbaf7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-16 20:28] chengyu-liu-cs commented on #67372
@RohitMungi-MSFT

I just did the experiments/tests. Here is summary. Please correct me if my understanding is wrong.

I create a SP for the Azure ML workspace by running these commands
`az login`
`az account set -s $SUB_ID`
`az ad sp create-for-rbac --sdk-auth --name $SP_NAME --scopes $WORKSPACE_RESOURCE`
`az role assignment create --assignee APP_ID --role Reader`
`az role assignment delete --assi

[2020-12-16 20:52] TravisCragg-MSFT commented on #67539
@oaas Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-12-16 21:15] 123andy commented on #56444
@KranthiPakala-MSFT - I'm having difficulties with this same issue in Synapse.  I have a string timestamp in the format:
2020-10-16T16:20:35.9080841+00:00
but I seem to be unable to transform it into a timestamp with microseconds.

[2020-12-16 21:18] saikovvuri commented on #61661
Hello @vandyrodrigues ,
We are in the same boat as you are , probably simpler scenario.  In order to proof this out,  we installed IR on our local machine which has outbound ports enabled and tried to register/connect to data factory in Azure gov cloud

- on powershell (administrator) session
  ran connect-azaccount -EnvironmentName AzureUSGovernment
  ran the RegistrationIntegrationRuntime.ps1 "a

[2020-12-16 21:19] davidlane-iteratec opened #67795 "Turn on managed identity for IoT Hub"
We want to automate the managed identity for the IoT Hub. We are using Terraform but would settle for the az cli (which can be automated in TF). What we do not want to use is ARM. I can't seem to find a way to setup a system assigned managed identiy for an IoTHub using the az cli. Have I missed something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-12-16 21:27] ltoddnelson opened #67796 "Typo in "Implement password hash synchronization with Azure AD Connect sync""
The command provided to implement "EnforceCloudPasswordPolicyForPasswordSyncedUsers" has a typo.  The command is NOT "Set-MsolDirSyncFeature"...

PS C:\> Get-MsolDirSyncFeature
Get-MsolDirSyncFeature : The term 'Get-MsolDirSyncFeature' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the pa

[2020-12-16 21:32] sean-keane25 opened #67797 "Microsoft.HDInsight clusters template reference is missing encryptionAtHost property"
The [template reference for Microsoft.HDInsight clusters ](https://docs.microsoft.com/en-us/azure/templates/microsoft.hdinsight/2018-06-01-preview/clusters)is missing the encryptionAtHost property.

[code]

[2020-12-16 22:02] stephenc01 opened #67798 "office-365-preview includes Identity Governance"
Hello, the office 365 includes "Azure AD Identity Governance - Entitlement Management" as part of the group and it cannot be excluded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b78894-32c2-6712-6699-f3c87d40b1d7
* Version Independent ID: dd791c15-d43b-b203-a93f-a8ec33c519b0
* Content: [Cloud apps or actions in C

[2020-12-16 22:08] jeevansd commented on #67696
@shashishailaj I have reviewed this and sign off on the other PR. Once that merged then can you please close this?

[2020-12-16 22:09] MarileeTurscak-MSFT commented on #67796
@ltoddnelson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-16 22:12] vlkuznet opened #67799 "Additional detail about health check frequency"
This document goes into quite a bit of depth on health check behaviour, but does not mention how frequently health check pings occur.

It seems like it's every-five-minutes, but I'd love to have some official documentation confirming.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2526d6f8-e90d-5ecc-dbca-14540fcad599
*

[2020-12-16 22:14] ggailey777 commented on #67794
Thanks @balag0!

[2020-12-16 22:46] artisticcheese opened #67801 "Private endpoints do not support incoming NSG rules"
Statement from this document below is incorrect since NSGs are not applicable to service endpoints per documentation (https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb6328aa-a54f-4936-1c35-ecf5c265d92d
* Version Independe

[2020-12-16 23:03] githubuser857 opened #67803 "How to create double MFA"
The document says:

How can I make this happen? If my user is invited to another tenant via B2B, I want them to be prompted with my tenant's MFA even if they will also be prompted for the inviting tenant's MFA (i.e. "double MFA"). I have not been able to achieve this. Azure AD completely ignores my Conditional Access policies, including those intended to apply to everything, when a user connects t

[2020-12-16 23:06] MarileeTurscak-MSFT commented on #67798
@stephenc01
Thanks for your feedback! I have assigned this to the author to look into.

[2020-12-16 23:12] NavtejSaini-MSFT commented on #67767
@RonnieQuan We are checking this and we will get back to you.

[2020-12-16 23:13] NavtejSaini-MSFT commented on #67801
@artisticcheese We are checking this and will get back to you.

[2020-12-16 23:16] bpalfaro commented on #39804
@SaurabhSharma-MSFT

I am revisiting this topic as I have the same issue with a migration from 1.3.21.0 to 1.5.45.0.  An MV.xml comparison between the old and new version show the discrepancy.  However, Azure AD Connect blade shows seamless SSO as Enabled.  There was no resolution from Neelesh in the link above.

![2020-12-16 17_14_15-MV xml - Text Compare - Beyond Compare](https://user-images.git

[2020-12-16 23:19] JamesTran-MSFT commented on #67728
@eximotae
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue?

[2020-12-16 23:26] MarileeTurscak-MSFT commented on #67796
Do you mean that "Get-MsolDirSyncFeature" needs to be "Get-MsolDirSyncFeatures"? Since your exception is around that and not around the "Set-MsolDirSyncFeature" command.

![image](https://user-images.githubusercontent.com/13383753/102418486-b185da00-3fb2-11eb-90de-df4dec6b9322.png)

[2020-12-16 23:35] b-juche commented on #40681
You can refer to [this page](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/considerations/storage-options) to understand the various Azure storage options and the scenario each option is best suited for.

[2020-12-16 23:35] MarileeTurscak-MSFT commented on #67796
Please make sure that you're using Get-MsolDirSyncFeatures and have the latest version of the module. Based on the output you posted that seems to be the issue.

If I'm missing anything feel free to tag me in the comments and I can reopen this.

[2020-12-16 23:35] #67796 closed

[2020-12-16 23:35] b-juche commented on #40681
#please-close

[2020-12-16 23:35] #40681 closed

[2020-12-16 23:38] SakethTubati commented on #38296
@rohitnayakmsft
Hello Rohit,

Regarding the statement mentioned above "you are correct in stating that this is "NOT a command to add custom DNS aliases from our own domain". For that check out Private DNS Zones feature under Azure Networking."
How about if we want to use just the custom Domain of ours in the SQL Server?
Is that an option?

PS: We just want to use Public Network to connect and not

[2020-12-16 23:40] jlian commented on #67795
Hi, you can use the "--set identity.type="SystemAssigned" in `iot hub update` to enable it, (and set it to None to disable it), but we dont' have a "enable-identity" type switch on create or update.

Does this work for you?

[2020-12-16 23:42] b-juche commented on #35824
Thanks for the question.  Per input from our team, NFSv4 ACLs is enabled by default on Azure NetApp Files. We'll add verbiage in the documentation to indicate this.

cc: @lichunli-ms,

[2020-12-16 23:45] b-juche commented on #35824
#please-close

[2020-12-16 23:45] #35824 closed

[2020-12-16 23:53] BharathNimmala-MSFT commented on #67768
@emilguden Thank you for reaching out to us, we will review your scenario and get back to you at the earliest.

[2020-12-16 23:54] ChaitanyaNaykodi-MSFT commented on #67522
Hello @sudharsan2020,  Thank you for your feedback! Just incase if it helps, you can refer to [these samples](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-samples) for additional information regarding other programming languages, you also have a look at the Reference section of the documentation.
<img src="https://user-images.githubusercontent.com/67453298/102420232-7f7

[2020-12-16 23:59] DerekHerman-MSFT commented on #67733
@AndyWDev I followed the steps of the article and did not face any issues. Based on the error you are receiving it might be a configuration issue on the storage account or an issue with your firewall or Network Security Group for the VM. Make sure that your firewall and NSG allows outgoing communication through ports 111 and 2048. The NFS 3.0 protocol uses these ports. You also might want to try w

[2020-12-17 00:12] KumudD commented on #47048
@mchudinov Thanks for bringing this to our attention. I have added the following text to the _Impact of subnet delegation on your subnet_ section - **cannot be used with a private endpoint if the subnet is delegated**.

We do not recommend using private endpoint with a delegated subnet.

#please-close

[2020-12-17 00:12] #47048 closed

[2020-12-17 00:15] WinstonHoward-MSFT commented on #67542
I've validated the feedback, I'm assigning this to the author to consider adding a bullet regarding adding the FQDN for cluster when creating a self-signed certificate.

[2020-12-17 00:18] kikawash opened #67804 "add UDR limitation in coexisting env"
In GW coexisting environment, UDR route which has "VirtualNetwork Gateway" as Nexthop becomes unavailable. This is UDR limitation.

Please add this in "Limits and limitations" on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115a55e9379f
* Version Independent ID: 2c032f28-ebd6-513e-4

[2020-12-17 00:28] nelroosevelt opened #67805 "Regional Vnet to peered Classical Vnet"
Please add that connecting a web app to ARM vnet using regional vnet integration to connect to a resource in a peered classic vnet in the same region is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938
* Con

[2020-12-17 00:33] WinstonHoward-MSFT commented on #67789
Thanks for the feedback, I've assigned this to the doc author to take a look at incorporating this feedback.

[2020-12-17 00:38] autodomme commented on #56756
Please *don't* close.

There are people tracking this, so that we know if/when/how we can make changes to the workarounds we put in place.

As an alternative, if you feel you *must* close it to hit your metrics, please provide a link to something we can follow along with to make our updates.

MSFT's mission is to empower people to achieve more. Closing a request for help without helping isn't empo

[2020-12-17 00:42] mmaitre314 opened #67806 "Doc missing info about handling of jitAccessPolicy in mainTemplate.json ARM template"
The doc mentions `jitAccessPolicy` as output of `CreateUiDefinition.json` but does not mention how to handle it in the `mainTemplate.json` ARM template. When trying to create a Managed App without that piece, the following error is hit:

![image](https://user-images.githubusercontent.com/8584604/102423290-9076b680-3fbd-11eb-9335-db15315dbada.png)

---
#### Document Details

⚠ *Do not edit this sec

[2020-12-17 00:42] ramya-rao-a opened #67807 "JavaScript API Reference docs for Service Bus are not linked to the right place"
The TOC on the left for the [Azure Service Bus Messaging documentation](https://docs.microsoft.com/en-us/azure/service-bus-messaging/) has the `Reference` node which expands as below

![image](https://user-images.githubusercontent.com/16890566/102423143-31b13d00-3fbd-11eb-9fd4-a2041436f5c7.png)

The links to the API reference docs for the two versions of the Service Bus packages should be updated

[2020-12-17 00:51] mmaitre314 commented on #67806
I tried adding `jitAccessPolicy` in the `mainTemplate.json` ARM template and now publishing the app fails:

[code]

[2020-12-17 00:58] #53466 closed

[2020-12-17 00:58] asergaz commented on #57381
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-17 00:58] #57381 closed

[2020-12-17 01:00] Grace-MacJones-MSFT commented on #67792
Hi @Ayanmullick, thanks for your feedback! As of right now, there isn't a comparison chart for those products on the public docs.

@craigshoemaker do you know if there is a piece of content like this in the works internally?

[2020-12-17 01:03] Grace-MacJones-MSFT commented on #67805
Hi @nelroosevelt, thanks for your feedback. We will look into this and update the doc as necessary.

[2020-12-17 01:22] kromerm commented on #66769
You will do code mapping like this through a Lookup transformation inside of an ADF data flow. The lookup will use a data source that is the acount-EntityMetadata.json file. Just read it in like a normal JSON source from storage, not as a CDM source.

[2020-12-17 01:31] AndyWDev commented on #67733
Hi @DerekHerman-MSFT
Thanks  for your reply, appreciated.

I don't have any NSG rules or firewall enabled (as far as I can see).  This is simple Azure Win 10 VM (10.0.19041 N/A Build 19041) connected to the storage account using a VNET. As mentioned I can ping the storage account and access it through the portal (on that machine).

Today I retried the mount command, when I use the one in the docum

[2020-12-17 01:38] femsulu commented on #67771
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 01:39] dolauli commented on #67672
PS C:\Users\xidi\src\autorest.powershell> Get-InstalledModule -Name Az -AllVersions | Select-Object -Property Name, Version

Name Version
---- -------
Az   3.8.0

PS C:\Users\xidi\src\autorest.powershell> $PSVersionTable.PSVersion

Major  Minor  Patch  PreReleaseLabel BuildLabel
-----  -----  -----  --------------- ----------
6      2      4

[2020-12-17 01:45] kromerm commented on #66866
In your first screenshot above, click "infer drifted column types" and you can add a list of all of the different date/time formats that meet your incoming data. You cannot read it as string in the ADF source if it is defined as date/time in Manifest or Model. The type of the incoming data is defined in your CDM schema.

[2020-12-17 01:47] femsulu commented on #67777
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 02:22] Karishma-Tiwari-MSFT commented on #67784
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-12-17 02:23] VikasPullagura-MSFT commented on #67601
@assaf-grth I would request you to provide this feature request as feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).

And regarding details on the older gen the information is available on the public documentation.

Also, product team wanted some more information on your workload considering inclination towards these Av1 VMs.
Can you please share more details.

[2020-12-17 02:42] melvincanafranca commented on #67612
Hi - I'm building the flask app locally using Visual Studio code with Git Bash and Python.

Error when doing the environment creation in Visual Studio Code using git bash
![image](https://user-images.githubusercontent.com/39720286/102436623-9e88ff00-3fde-11eb-93fa-598ae2bf74ac.png)
Azure CLI version
![image](https://user-images.githubusercontent.com/39720286/102436665-afd20b80-3fde-11eb-9d28-5554d

[2020-12-17 02:58] femsulu commented on #67775
Hello @amalbabu1  - looks like we are missing your issue above. can you please clarify how we can assist you?
Looking forward to your response.

[2020-12-17 03:03] femsulu commented on #67787
Hello @v-pethur  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-17 03:08] femsulu commented on #67797
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-17 03:14] femsulu commented on #67791
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-12-17 03:22] femsulu commented on #67799
Hi @vlkuznet, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-17 03:56] BharathNimmala-MSFT commented on #67806
@mmaitre314 Thank you for reaching out to us, we will review your query and get back to you at the earliest.

[2020-12-17 03:59] pvaillant opened #67809 "Typo in WithExtraScopesToConsent"
In the section header and in the example with WithExtraScopesToConsent there is a typo; both are missing plural s in Scopes.

SEE https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/ApiConfig/AcquireTokenInteractiveParameterBuilder.cs#L165

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-12-17 03:59] rishabv90 commented on #67601
Hey @assaf-grth, the key difference between Av1 and Av2 is the performance and HDD vs SSD storage offering. Av1 VMs today come under the "Previous Generation VM" category, their design is ~8 years old. Av2 on the other hand comes with a better price-to-performace. Hope this answers your concerns.

[2020-12-17 04:06] Vamshij11 commented on #67746
Okay..

[2020-12-17 04:06] #67746 closed

[2020-12-17 04:27] miniGweek opened #67810 "Selective Disk Backup option isn't available for VMs encrypted with Azure Disk Encryption"
Azure Backup - Selective disk backup and restore page mentions the limitation that VMs encrypted with ADE can't use Selective disk backup. This should be also mentioned/referenced in the ADE FAQ page.
https://docs.microsoft.com/en-us/azure/backup/selective-disk-backup-restore#limitations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-12-17 04:48] AshokPeddakotla-MSFT commented on #66986
@vijaytabhatt Using geth console you can connect to node then run the command.
Currently you cannot find this in the Azure portal.

[2020-12-17 04:50] kwiecek opened #67811 "Collect custom logs - wrong sample ARM template"
Extractions field is used twice in the example ARM Template for *Collect custom logs* (in line 83 and 101).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12af2ace-5cc0-27c4-15f1-10bbb19b5d4f
* Version Independent ID: 45d71d62-2b29-e358-1cc2-223a51f9d1d5
* Content: [Resource Manager template samples for Log Analytics w

[2020-12-17 04:53] ElanShudnow opened #67812 "VMs Connecting to Log Analytics Workspace"
The article doesn't mention whether the VMs themselves have to be tied to the same Log Analytics Workspace that the Automation Account is linked to.  In situations where there is an existing environment in somewhere like North Central US which is tied to a Log Analytics Workspace, you'd have to set up a new Log Analytics Workspace in a different Region, an Automation Account in a different region,

[2020-12-17 05:12] HarshitaSingh-MSFT commented on #67693
@alperc92 , could you please provide some more clarity on what is the ask here?

[2020-12-17 05:13] karataliu commented on #67749
@DerekHerman-MSFT  Thanks for taking a look.

On portal:
Shared access signature: This one has leading `?`
Blob-> Generate SAS: this one does not have leading `?`

On API:
This (listservicesas)[https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/listservicesas]'s return value does not have leading `?`.

It's even important to clarify I suppose, since there are mismatching cases.

[2020-12-17 05:22] WinstonHoward-MSFT commented on #67793
Hi @hagh ,

Kubernetes 1.18 doesn't have the dashboard add-on enabled by default because it represents an attack vector as it's not 100% secure. It invites poor RBAC practices and most users don't secure it with Active Directory/OAuth authentication.

It's completely removed in Kubernetes 1.19 and above for the same reason.

As for a workaround the same functionality is available in the Azure Port

[2020-12-17 05:22] #67793 closed

[2020-12-17 05:42] rachelxj-ms opened #67813 "Please add some description on cookie names when we enable Session Affinity"
We don't know what cookies will be generated when  we enable Session Affinity
Here is the reference I found that said when session affinity is turned on, two cookies ASLBSA and ASLBSACORS will appear when visiting the website
https://edi.wang/post/2020/10/20/load-balancing-my-blog-on-azure
Please add some document about ASLBSA and ASLBSACORS, what does ASLBSA stand for?

---
#### Document Details

[2020-12-17 05:48] SwathiDhanwada-MSFT commented on #67811
@kwiecek Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-17 06:09] psmanhas commented on #67810
@miniGweek Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-12-17 06:09] psmanhas commented on #67810
@msmbaldwin Can you please check and add your comments on this doc update request as applicable

[2020-12-17 06:13] WinstonHoward-MSFT commented on #67535
Hi mcurko,

If your unable to use the script provided in the doc I'd advise you to take a look at this stack post [here](https://stackoverflow.com/questions/40046916/how-to-grant-permission-to-user-on-certificate-private-key-using-powershell) to continue using PowerShell. But yes if you prefer you can use Certificate Manager because as long as the Service Fabric process, which runs under the Netwo

[2020-12-17 06:21] PramodValavala-MSFT commented on #67807
@ramya-rao-a Thanks for the feedback! We will review and update accordingly.

[2020-12-17 06:31] SubhashVasarapu-MSFT commented on #67813
@rachelxj-ms, Thanks for reaching out. We will investigate and update this thread.

[2020-12-17 06:37] #66866 closed

[2020-12-17 06:56] RohitMungi-MSFT commented on #67372
@chengyu-liu-cs Due to the current limitation with AKS deployments the process to acquire tokens from the deployed endpoint might be cumbersome and as mentioned it might not be feasible to share the details with your customer to get the tokens from the above methods.

A workaround or a secure way to solve the issue could be to expose an API from your application to share the token with your custom

[2020-12-17 07:20] SaiKishor-MSFT commented on #67804
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-12-17 07:25] assaf-grth commented on #67601
My requirement is to have a wordpress site at the minimal cost available
At AWS there is an offer of 5$ (https://aws.amazon.com/lightsail/pricing/) which is 6 times under the minimum price in Azure (A1 v2)

[2020-12-17 07:38] vidya2101 opened #67814 "Validation Exception Error"
I have the following issue while running autoML

---------------------------------------------------------------------------
ValidationException                       Traceback (most recent call last)
<ipython-input-24-f1a87b55c520> in <module>
----> 1 local_run = experiment.submit(automl_config, show_output = True)

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/azureml/_jupyter_common/_

[2020-12-17 07:39] femsulu commented on #67754
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.
@rwike77  - FYI

[2020-12-17 07:48] Sushgautam commented on #67760
Hi Harshita,

Appreciate your response. Furthermore, I found a discussion on this as below:
https://microsoftintune.uservoice.com/forums/291681/suggestions/31313071
I hope this would help in coming to conclusion faster whether this is an expected behavior or something has changed.

[2020-12-17 07:49] Sushgautam commented on #67760
Update:
Previous discussion forum was for two MDM Enabled different tenant accounts. This one is what we are facing right now:
https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/12515529-application-policies-should-support-multiple-ident

[2020-12-17 07:58] BharathNimmala-MSFT commented on #67589
@tmmueller Thanks again for reaching out and apologies for delay on getting back to this thread. Currently I have reached out to our Internal Product team to better understand this option in the UI , will keep you updated as I have further information. Later we will also see how we can enhance the document to include this information based on what i hear back.

Will keep you updated accordingly. T

[2020-12-17 08:00] mmaitre314 opened #67815 "Missing StackOverflow tag azure-managedapps"
The StackOverflow link under Resources points to a tag which does not exist, which prevents asking questions.

![image](https://user-images.githubusercontent.com/8584604/102459697-c9814c00-3ffa-11eb-81e2-cf4776b8a638.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1823c33d-0d6d-7cc3-15e2-721b8941f338
* Version Inde

[2020-12-17 08:06] HarshitaSingh-MSFT commented on #67635
@piotrgwiazda , currently, this feature is not out. But, do keep an eye on the updates, it will be out soon. Let me know if this answers your question.

[2020-12-17 08:07] BhargaviAnnadevara-MSFT commented on #67815
@mmaitre314 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-17 08:09] golfalot opened #67816 "Please can we have fully compatible .net Core 3.1 sample C# code (for windows)"
Looking for something that works as a copy and paste example, just as easily as it does for  .NET Framework.

Thanks
Tim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 692d8637-4033-767b-aa29-3859f301b7b8
* Version Independent ID: de143a26-3dd6-a513-6854-604e4f68c52f
* Content: [ActiveDirectoryInteractive connects to S

[2020-12-17 08:21] JBiasilloTM opened #67817 "PowerShell sample bug"
Hi, adding the `Post-LogAnalyticsData` function into an Azure Automation runbook produced an "Object reference not set to an instance of an object." when executing the `Invoke-WebRequest`.

Initialising `$TimeStampField = [DateTime]::UtcNow.ToString("r")` variable fixed this issue for me.

Suggest updating the Post-LogAnalyticsData Powershell sample.

Thanks John

---
#### Document Details

⚠ *Do

[2020-12-17 08:25] BhargaviAnnadevara-MSFT commented on #67817
@JBiasilloTM Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-17 08:52] ashishanand7 commented on #67676
I am referring to Automated ML function. I am doing text classification in Hindi language about which docs mention AutoML uses Multilingual BERT for featurisation when Deep Learning Checkbox is enabled and we use a GPU compute to train. However when the AutoML run is completed, I am not able to find even one model trained using BERT for featurisation, it's all tf-idf primarily.
I also tried using

[2020-12-17 08:53] SimonSimCity commented on #67313
Hi, @mike-urnun-msft

Well, you're again referencing the `Event Hub` here. It might be that the connection string is located on its blade called `Shared access policies` - but that doesn't help me in my case.

I'm not talking about the `Event Hub` here, but about the `IoT Hub`. If you can see it also in its blade `Shared access policies`, I expect you to use something else than the Azure portal, i

[2020-12-17 08:54] AnuragSharma-MSFT commented on #67816
@golfalot Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-12-17 08:58] rajaprad opened #67818 "Missing: Programmatic configuration for enabling Azure Service Alerts"
How to programmatically configure for Azure Service Alerts : Powershell / CLI / ARM Template - something please!!
Dealing with 50+(and growing) subscriptions in MSP is a pain to be thinking of doing this manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581d46fd-9672-0bc6-7152-39301c893fd4
* Version Independent

[2020-12-17 09:11] assaf-grth opened #67819 "Hybrid benefit when creating a new VM"
[This page](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing) describes how to create a VM with usage of hybrid benefit:

The way for updating existing VM still applies, but there is no such option in current new VM screen, is there an updated way of defining hybrid benefit on new VMs?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-12-17 09:14] vipulsparsh commented on #67803
@githubuser857 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-12-17 09:15] AnuragSharma-MSFT commented on #67744
@leshaved We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-17 09:15] vipulsparsh commented on #67809
@pvaillant Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-12-17 09:16] #67744 closed

[2020-12-17 09:16] vipulsparsh commented on #67809
@jmprieur  Can you have a look at this ?

[2020-12-17 09:21] emilguden commented on #67768
@BharathNimmala-MSFT Forgot to mention that Ubuntu 20.04.1 comes prepped with Python3.8.

[2020-12-17 09:44] SwathiDhanwada-MSFT commented on #67757
@vivere-dally As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-12-17 09:44] #67757 closed

[2020-12-17 10:12] alana257 opened #67820 "Azure Sentinel CEF/Syslog Sizing Guide"
Is there any way to give a sizing guide for the CEF/Syslog server? More around the messages per second limits per CPU/Memory/Disk Space.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d7305f14
* Version Independent ID: 000c1405-b54f-6668-daac-ac69c97d9601
* Content: [Connect CEF data to Azur

[2020-12-17 10:22] davidlane-iteratec commented on #67795
Hi I tried it on an existing IoT Hub but it didn't work:

[code]

[2020-12-17 10:22] liweinan0423 opened #67821 "Incorrect examples for exporting certificate chain"
For the export certificate example which is around [line#101](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/certificates/how-to-export-certificate.md#L101), it's not exporting the whole certificate chain but only exporting the first certificate with a private key from within the PFX container. Refer to the [.NET API Docs here](https://docs.microsoft.com/en-us/dotnet/ap

[2020-12-17 10:38] RohitMungi-MSFT commented on #67676
@ashishanand7 With respect to the application of BERT with AutoML for any other language other than english and german it uses [multilingual BERT model](https://github.com/google-research/bert/blob/master/multilingual.md).

Multilingual BERT support in AutoML was released with [AzureML Python SDK 1.7.0](https://docs.microsoft.com/en-us/azure/machine-learning/azure-machine-learning-release-notes#az

[2020-12-17 10:39] hwride opened #67824 "Remote build and Run From Package confusion"
On this page it states the following about publishing a function app:

On the [remote build](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#remote-build) page it states:

This seems to say once an app has been set to Run From Package then remote build is no longer performed. If the Azure Function Core Tools does a remote build and runs from package, how ca

[2020-12-17 10:49] amanmcse commented on #67803
@githubuser857 Double MFA triggers only when you switch from one tenant to another tenant or you access applications/resources hosted in different tenants and MFA is configured to be triggered in both tenants.

For instance, MFA is required while accessing Azure Portal in user's home tenant as well as guest tenant. When the user signs in to Azure Portal, and he gets connected to guest tenant's dir

[2020-12-17 10:51] JayaChatterjee-MSFT commented on #67519
@shashankkr are you talking about the service bus explorer or the explorer in the portal?

[2020-12-17 10:54] CHEEKATLAPRADEEP-MSFT commented on #67741
@ramya-rao-a  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-12-17 10:54] #67741 closed

[2020-12-17 10:56] AnuragSharma-MSFT commented on #67658
@alalani123 This is being assigned to the content author to evaluate and update as appropriate.

[2020-12-17 10:58] asergaz commented on #66557
@sandervandevelde thank you for your patience.

**From Product Group:**
"We are working nowadays on a new agent for Edge that will support the latest Edge version. It should be announced by end of January"

I will let @ElazarK enhance the doc based on this with a Note that new version support is coming :).

[2020-12-17 11:00] RohitMungi-MSFT commented on #67814
@vidya2101 Could you please let us know the appropriate document that you are following from azure docs to map the issue to the correct page? This forum is used to support issues related to Azure services documentation.

Based on the error mentioned above I believe you are trying to use Azure automl SDK and it seems to throw a dependency error with one of your package pyOpenSSL whose version is >=

[2020-12-17 11:01] AnuragSharma-MSFT commented on #67816
@golfalot Thanks for posting the query. Currently the GitHub forum is limited to queries related to document/articles only.

Please post this issue on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/ask.html) or [StackOverflow ](https://stackoverflow.com/questions/ask) for better visibility.

We’d be happy to answer this on the forums and walk you through whatever might be givin

[2020-12-17 11:14] hedmah commented on #55043
How was this solved in the end?

[2020-12-17 11:16] amanmcse commented on #67692
@sgdesmet As of now, the value of `SendClaimsIn` metadata can be either Header or Body but not both. There is no alternate way or workaround for this purpose.
For this feature, please post an Idea at our [Feedback Portal](https://feedback.azure.com).

[2020-12-17 11:16] #67692 closed

[2020-12-17 11:24] labanex opened #67825 "MFA AppPasswords"
[Enter feedback here]

The GUI has changed. If there are some tenants seeing this GUI, you may want to show both. Like for me, the App Passwords are showing at https://mysignins.microsoft.com/security-info which is actually much easier to use but users may not know how to get here.
Click on the photo or initials in the upper right.
Click on View Account.
Click on Security Info.
Click on the PLUS a

[2020-12-17 11:27] jmorcar opened #67826 "CSI preview but NFS is supported already since 9 October"
I have checked this Azure Update: https://azure.microsoft.com/es-es/updates/azure-files-premium-tier-is-now-available-in-more-regions-with-lrs-zrs-and-nfs-support/

Indicating NFS support , not preview, so CSI driver is not necessary in new AKS clusters for support NFS feature? What is the new documentation about this?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-12-17 11:45] SwathiDhanwada-MSFT commented on #67812
@ElanShudnow Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-17 11:46] SwathiDhanwada-MSFT commented on #67818
@rajaprad Thanks for your comment. We will review the issue and get back to you shortly.

[2020-12-17 11:50] shashankkr commented on #67519
Hi @JayaChatterjee-MSFT I am talking about explorer in the portal.

[2020-12-17 12:01] rmeichsner commented on #56192
Hi @odufresne, @damendo
Were you able to solve the Issue filed at Azure Portal? Do you remember the solution?

I also get a lot of these errors and found your issue by some investigation.

Logsdash assigns these 3 tags:
"tags":[
    "_jsonparsefailure",
    "_split_type_failure",
    "_dateparsefailure"
],

I suspect some azure settings are incorrect for the parsing rules.

Thanks a lot

[2020-12-17 12:02] JayaChatterjee-MSFT commented on #67519
@shashankkr In that case you may refer to the official documentation : https://azure.microsoft.com/en-in/updates/sesrvice-bus-explorer/
Seems that you can. Did you encounter any issues for the same?

[2020-12-17 12:12] psmanhas commented on #67819
@assaf-grth Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-12-17 12:23] Tig10 commented on #53425
Hi @clokk, yes I did thanks, although I set the environment variables **IotHubConnectionString** & **EventHubConsumerGroup** in the shell using `export key="value"` syntax. I will retry with a `launch.json` file after this post.

The **EventHubConsumerClient** is successfully created but when I request **localhost:3000** in browser, it shows **0 devices** and no data is displayed.

![azure](https:

[2020-12-17 12:32] jhotchkiss-uk commented on #13962
I have the same thing happening but with a well established Production Sub. But its _only happening for Resource Group level_ PIM role assignments. Basically all the email notifications that should go to "Admin" (a very vague description too BTW) seem to be going to everyone who could possibly elevate to that role as well. This doesnt happen for any other sub wide or AAD role activations through P

[2020-12-17 12:35] johnwargo commented on #6288
@femsulu I'm no longer at Microsoft, so please do not assign any items to @jwargo

[2020-12-17 12:51] DJTomos opened #67829 "Azure AD application proxy Connector placement while using passthrough"
Hi,

I'm looking for information that I though i'd find in the documentation of the connector placement. But unfortunately it isn't there.

For an NDES implementation I'm bound to use the proxy in passthrough mode.

Can someone tell me if the Azure AD application  proxy should still be placed in my internal network while using the passthrough functionality? I am a bit anxious to place it there ins

[2020-12-17 12:52] davidlane-iteratec commented on #67795
Ok I tried it with az cli 2.16.0 and it worked. I had already posted a comment on https://github.com/terraform-providers/terraform-provider-azurerm/issues/9139 . It would be good if the azurerm TF Provider supported this too.

[2020-12-17 13:26] lwsrbrts opened #67830 "group Managed Service Account usage SPN issue after registering "full" mode"
I've experienced this situation now on two separate occasions and thought it useful to bring to the attention of readers of this article.

Having built an AlwaysOn Availability Group manually within Azure using gMSAs for the database service (defined at install time, not after installation), if you register the VMs with _full management mode_, the SQL Server service restarts as expected, and in do

[2020-12-17 13:42] AshokPeddakotla-MSFT commented on #67704
You have mentioned,

And in the following page only the device identity creation and deletion is listed among event types.

Do you have a scenario to share if that is not working as expected?

![image](https://user-images.githubusercontent.com/44426435/102495038-9a6ee700-409b-11eb-87a8-0db3b903c560.png)

what endpoints are you using?

@kgremban Do you have any thoughts on this query? Did something

[2020-12-17 13:52] AshokPeddakotla-MSFT commented on #67795
Good to hear that it is working. Thanks for sharing the feedback link here. It will definitely help community to provide their insights and feedback as well.

[2020-12-17 13:53] davidlane-iteratec commented on #67795
I think it should be mentioned on the Documentation page:
https://docs.microsoft.com/en-us/azure/iot-hub/virtual-network-support#egress-connectivity-from-iot-hub-to-other-azure-resources

[2020-12-17 13:57] ElazarK commented on #66557
@sandervandevelde as per @asergaz 's comment, the issue is in the pipeline and the docs will be updated as soon as it becomes public.

[2020-12-17 13:57] ElazarK commented on #66557
#please-close

[2020-12-17 13:57] #66557 closed

[2020-12-17 14:15] xaviermignot commented on #67704
I have tested with Blob Storage and Event Hubs endpoints.

Basically I was using a .NET console app with the device SDK, sending D2C messages using a connection string of an already existing device. Starting and stopping the app several times did not result in any event in the Event Hub or any entry in the Blob Container.
But creating or removing devices from the IoT Hub did send events to both en

[2020-12-17 14:19] jyeblog opened #67831 "Customer VNet intergration or have some control over the Managed Network?"
When we create Azure Data Lake Storage Gen 2, we are required to turn on Firewall to protect data per CIS benchmark.

For other Azure Services in the same region to access the DL Gen2, we usually were able to get around by using:
1. Trusted Microsoft services
2. VNet integration and Storage Endpoint
3. White list outbound public IP address, this is been used for things like Data Factory self-hoste

[2020-12-17 14:20] motasem13 opened #67832 "App Service vs Azure cloud Service tag difference"
[Enter feedback here]

Following this dochttps://docs.microsoft.com/en-us/azure/azure-functions/ip-addresses?source=docs#inbound-ip-address-changes

We should whitelist the entire Azure Data Center outbound Ip if want to whitelist function app outbound communication.

it's kind of confusing why should we whitelist the Azure Cloud instead of the app service tag?
![image](https://user-images.githubu

[2020-12-17 14:27] eximotae commented on #67728
Still waiting for the admin to make changes to the group setting.  Any explanation fir the differences between the security group and 365 group, or what the error message means?

Regards,

Joshua White

Sent from my iPhone

[2020-12-17 14:29] cephalin commented on #62252
#please-close as this query is related to functions.

[2020-12-17 14:29] #62252 closed

[2020-12-17 14:35] githubuser857 commented on #67803
@amanmcse Thanks for the explanation. So there is no way to require MFA for my tenant's users when they access an application hosted in a tenant that I do not control? That seems like a gaping hole.

[2020-12-17 14:35] jmprieur commented on #67809
@vipulsparsh the .NET sample seems correct to me.
@pvaillant I don't understand what the issue is, could you please provide more details (this is a multi-library article, and there are slight differences?)

[2020-12-17 14:37] WizX20 opened #67834 "How can we automate deployment of an Azure B2C instance?"
# Azure documentation issue guidance

I've searched far and wide. But I am unable to find any information on how to automate the entire deployment and configuration process of an Azure B2C instance.

I can find links for [policies](https://docs.microsoft.com/en-us/azure/active-directory-b2c/deploy-custom-policies-devops), information about [Microsoft Graph operations](https://docs.microsoft.com/en

[2020-12-17 14:44] RazanM1995 opened #67835 "Add change for How to bypass a hybrid connection using a proxy"
I was looking for steps of how to bypass a hybrid connection using a proxy and i couldn't find any official documentation that states that.

When i have done some research i found this link:
https://social.msdn.microsoft.com/Forums/azure/en-US/388b266f-2d56-4b41-a6f8-321c77d2a94b/hybrid-connection-behind-proxy-server?forum=servbus

Can you please make this configuration available on the official d

[2020-12-17 14:56] pvaillant commented on #67809
@jmprieur on https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-desktop-acquire-token#withextrascopetoconsent the page refers to WithExtraScopeToConsent (singular Scope) in both the header and code example but it's actually WithExtraScopesToConsent (plural Scopes). I linked to the source code above as reference that shows the method has the extra s on Scope.

[2020-12-17 15:01] tksh164 commented on #61465
@stephbaron  Thanks and sorry late reply.

[2020-12-17 15:01] #61465 closed

[2020-12-17 15:01] jmprieur commented on #67809
Oh I see. Thanks for the update, @pvaillant
I got confused but the page where you raised the issue (Move desktop app calling web APIs to production - Microsoft identity platform)

@vipulsparsh : do you want to take care of adding an 's' ?

[2020-12-17 15:13] pvaillant commented on #67809
Sorry, that's probably my fault (opening the ticket on the wrong page). I originally copied the code in the example and it took a while (and several more tabs) to figure out why it wasn't working.

[2020-12-17 15:14] jmprieur commented on #67809
no worries, @pvaillant. Thanks for the heads-up!

[2020-12-17 15:23] SwathiDhanwada-MSFT commented on #67756
@yutaro113 Thanks for your feedback. A similar issue #67799  has been raised and the issue has been assigned to content author    for reviewing and updating the document accordingly. This issue will be closed and linked to the issue assigned to content author.

Kindly revert if you have further questions.

[2020-12-17 15:23] #67756 closed

[2020-12-17 15:24] ramakrpr opened #67836 "IOT Edge IoTEdgeAPIProxy error"
Any idea why I see the below error on the container logs for IoTEdgeAPIProxy, even though the connection tests seems working fine

[2020-12-17T14:58:03Z INFO api_proxy_module::signals::shutdown] SIGTERM received
[2020-12-17T14:58:03Z WARN api_proxy_module] Shutting down ngxing controller!
[2020-12-17T14:58:03Z WARN mqtt3::client] Shutting down...
[2020-12-17T14:58:03Z WARN api_proxy_module::monito

[2020-12-17 15:26] ramakrpr commented on #67836
Any idea why I see the below error on the container logs for IoTEdgeAPIProxy, even though the connection tests seems working fine

[2020-12-17T14:58:03Z INFO  api_proxy_module::signals::shutdown] SIGTERM received
[2020-12-17T14:58:03Z WARN  api_proxy_module] Shutting down ngxing controller!
[2020-12-17T14:58:03Z WARN  mqtt3::client] Shutting down...
[2020-12-17T14:58:03Z WARN  api_proxy_module::mo

[2020-12-17 15:34] MonikaReddy-MSFT commented on #67619
@dcbrown16 - Thanks again for bringing this to our attention. We have added this into our backlog and we will update the doc ASAP.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-12-17 15:34] #67619 closed

[2020-12-17 15:36] PramodValavala-MSFT commented on #67674
@matthewkrieger Just following up here... Hope my previous comment clears things up.

[2020-12-17 15:39] markmcdonagh-hpe opened #67837 "Lighthouse and customer tenants"
The following line may need some clarification.

_Once you have created the user with the necessary permissions as described above, the user can deploy policies that use remediation tasks within the customer tenant._

Is it not more correct to say _within the customers delegated subscriptions_ ? As the user will not have permissions to deploy policies to subscriptions within the customers tenant t

[2020-12-17 15:56] lidopaglia opened #67838 "Tutorial fails to build jekyll site"
Error is in the "Set up Ruby" step. The error is:

[code]

[code]

![Screen Shot 2020-12-17 at 10 36 33 AM](https://user-images.githubusercontent.com/1696777/102510864-1ba38b00-4056-11eb-9c2c-1a151e36027d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1532547-d8ef-bdea-4164-4f617a249eb5
* Version Independent ID:

[2020-12-17 15:57] dirkslab opened #67839 "Role Assignment fails with ARM template if principalId is of userAssignedIdentities"
Document Ref: https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template

Note:
This template is not idempotent unless the same roleNameGuid value is provided as a parameter for each deployment of the template. If no roleNameGuid is provided, by default a new GUID is generated on each deployment and subsequent deployments will fail with a Conflict: RoleAssignmentExi

[2020-12-17 16:03] garthoid opened #67841 "How are Database creds in Logic App connector protected"
" the Logic App Designer prompts you to create a connection by providing the necessary information"

If you create a connection to a SQL database using username and password, how is this protected in Azure connector? Where are these stored?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-1

[2020-12-17 16:07] garthoid opened #67842 "Logic App, Managed Identity, SQL connection"
By looking at different pieces of document I know:

- a logic app can have a managed identity (Logic App blade>identity)
- An Azure managed SQL db can have AuthN and AuthZ configured access by a Managed Identity.

What is not clear from the logic app and sql connector documentation if Logic Apps sql connector supports using a managed identity to an SQL db. Or what am I missing?

Thanks

---
#### D

[2020-12-17 16:15] tfitzmac commented on #67797
@sean-keane25 - thanks for this feedback. The reference content has been updated and that property is now included.

[2020-12-17 16:15] tfitzmac commented on #67797
#please-close

[2020-12-17 16:15] #67797 closed

[2020-12-17 16:23] golfalot commented on #67816
@AnuragSharma-MSFT I wish to argue that my enquiry is in fact related to the specific documentation page, in so far as there is a note on there stating:
`If you are using .NET Core, you will want to use the Microsoft.Data.SqlClient namespace. For more information, see the following blog.`

But this alone does not suffice to get fully up and running with .NET Core using Azure AD Multi-Factor Authen

[2020-12-17 16:25] surajmb commented on #65841
This has been updated. @jolauMSFT , please take a look at let us know if you have any concerns.
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-ssl-policy-overview

[2020-12-17 16:27] SnehaAgrawal-MSFT commented on #67835
@RazanM1995 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-12-17 16:28] mbiver opened #67844 "Typo in the command "bcdedit /store F: boot\bcd /set {default} safeboot minimal""
Hello, team.  I think there is a typo in this command "bcdedit /store F: boot\bcd /set {default} safeboot minimal"

I don't think there is supposed to be a space between "F:" and "boot\bcd"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a4b0b2-a7e4-c93c-4004-6890c7e1e77a
* Version Independent ID: 009aa346-f48b-2298-d

[2020-12-17 16:31] JamesTran-MSFT commented on #67821
@liweinan0423
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-17 16:33] JamesTran-MSFT commented on #67825
@labanex
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-17 16:39] oliviomouraoutsystems commented on #66693
Just tried again, it worked now, 48 hours after.

[2020-12-17 16:41] himanshusinha-msft commented on #67685
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-17 16:53] JamesTran-MSFT commented on #67820
@alana257
Thanks for your feedback! We will investigate and update as appropriate.

[2020-12-17 16:57] cephalin commented on #59204
#please-close

[2020-12-17 16:57] #59204 closed

[2020-12-17 17:10] #67480 closed

[2020-12-17 17:10] erichrockman opened #67847 "PowerShell Examples for output binding"
There should be examples added for PowerShell. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0710db32-eb75-fffb-ca4b-05b1ebf1bda9
* Version Independent ID: a3bb9285-597b-4b24-76bf-1e04673af8bc
* Content: [Azure Event Hubs output binding for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-function

[2020-12-17 17:12] BBrukner commented on #66693
@oliviomouraoutsystems  I wish I could say the same. We've been trying for 10 days and still same error. Glad it worked out for you.

@JamesTran-MSFT Any insight on the issue or ETA for a fix or workaround?

[2020-12-17 17:18] RyanHill-MSFT commented on #67838
Thanks for the fix @lidopaglia!.

@craigshoemaker please see PR

[2020-12-17 17:20] TyNev opened #67848 "Page doesn't explain what each of the categories actually means"
This page lists Direct CSPs, indirect CSP providers, approved LSPs, and AOS-G partners. It doesn't explain anywhere what the difference is between these categories, what it the purpose of each of the different programs, or why it's relevant. It seems like there is a lot of missing context in this article. My particular use case for this article is trying to understand the programs and which ones I

[2020-12-17 17:27] hrasheed-msft commented on #67480
@gregorysuarez I have reached out to the engineering team and they said that the functionality is still the same for 4.0.  I have updated the document to reflect the current HDInsight versions.

[2020-12-17 17:34] #58077 closed

[2020-12-17 17:45] mamccrea commented on #67618
Hi @yahanda. You can you your username and password to create an ASA job on Edge. It's the same as creating a cloud job. It's the username and password of your Azure account.

[2020-12-17 17:50] xtianus79 opened #67849 "Cold Start Azure Function Portal Information seems wrong"
This verbiage seems odd.

I think what this means when choosing the minimum number of instances in the portal is that the prewarmed instances will only be activated until after all of the Always Ready Instances are utilized up until the maximum number of instances that are allowed.

The greater than comment seems impossible.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-12-17 17:56] MustAl-Du opened #67850 "Missing details on including the 'Azure-Monitoring' package in the conda-dependency for the web service"
There is a missing section in the page. The 'ModelDataCollector' will not work in the web service unless the 'Azure-Monitoring' pip package is included in the conda dependency of the web service.

**Please, revise the current section:**
"
5. You can also enable Application Insights for service monitoring by changing this configuration:
---Python
---aks_config = AksWebservice.deploy_configuration(c

[2020-12-17 18:02] amirhosein13 opened #67851 "Hello World"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eccff5b5-9038-3871-57ad-913d5739c417
* Version Independent ID: 29139141-b9c1-1bf1-525c-38784cff23ac
* Content: [Quickstart: Create a custom voice assistant - Speech service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-s

[2020-12-17 18:04] kcheeeung opened #67852 "Typo in Tutorial code"
Why are there two '128' in the data-disk-sizes? I think it should be the following.
Suggested:
[code]

Currently:
[code]

https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/virtual-machines/linux/tutorial-manage-disks.md#L85

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab24f5b-50fd-37cc-e031-343011479

[2020-12-17 18:06] stevevi commented on #67848
Thanks, @TyNev for your feedback.

@todorgb can you please address?  Perhaps a short paragraph after each category title would suffice?

[2020-12-17 18:12] Karishma-Tiwari-MSFT commented on #67852
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-17 18:16] kcheeeung commented on #67852
I read the documents actually this is intended.
--data-disk-sizes-gb
Space-separated empty managed data disk sizes in GB to create.

[2020-12-17 18:16] #67852 closed

[2020-12-17 18:18] Karishma-Tiwari-MSFT commented on #67844
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-12-17 18:22] ChaitanyaNaykodi-MSFT commented on #67824
Hello @hwride,  Thank you for your feedback! We will review and update as appropriate.

[2020-12-17 18:28] ChaitanyaNaykodi-MSFT commented on #67832
Hello @motasem13,  Thank you for your feedback! We will review and update as appropriate.

[2020-12-17 18:31] ChaitanyaNaykodi-MSFT commented on #67847
Hello @erichrockman,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-12-17 18:34] ChaitanyaNaykodi-MSFT commented on #67841
Hello @garthoid, Thank you for your feedback! We will review and update as appropriate.