[2020-02-02 19:53] JasSuri commented on #45857
Ok, that error is an Azure AD error when making an authentication request to Azure AD from your application (application includes AAD B2C if using AAD federation).
You wouldn’t get an error from AAD unless AAD is the identity provider, in this case Twitter is the identity provider.

Since that would not be to do with this Twitter article, and the article is accurate, we will close this doc issue o

[2020-02-02 19:58] JasSuri commented on #47286
Please refer to the Note
This article applies to self-service password reset used in the context of the V1 Sign in user flow, which uses Local Account SignIn as the identity provider. If you need fully customizable password reset user flows invoked from your app, see this article.

It does not cover password reset when going via the Users menu in the Portal to change a users password using an Admi

[2020-02-02 20:19] ecfan commented on #47142
@PramodValavala-MSFT, best to ask the engineering team about this one. @ValRobb, can you help elaborate on how SSL works with the MQ connector? Thanks!

[2020-02-02 20:33] Pentao opened #47294 "App Passwords are auto-generated, I have apps that require higher complexity on passwords."
Hi Team,

Currently, App Passwords are auto generated 16 characters lowercase.

I have a customer with a third party application that is not accepting the App Password as it does not meet the password policy complexity the App requires (Uppercase, Lowercase, Numbers)

Is there a way to enforce a specific complexity for the generated App Passwords, if yes, could you please document it on this page?

[2020-02-02 21:31] Ayanmullick commented on #47097
@SnehaAgrawal-MSFT ,  This is a gap in the documentation. I don't have a feature-suggestion.

[2020-02-02 21:46] abymsft opened #47295 "Redis node @ AI-Agent.xml"
Is the Redis node supposed to be called "Jedis" in the AI-Agent.xml sample shared above ?

&lt;!-- capture Redis calls, default is true --&gt;
         &lt;Jedis enabled="true" /&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c71343d5-5b28-5066-ec28-fafc4023aba3
* Version Independent ID: f5aaafd0-8961-2e5f-90eb-92f

[2020-02-02 21:50] billyjim opened #47296 ""Az module script" instructions fail"
The instructions together with the script provided generated the following output:
PS D:\users\Bill\Google Drive\Visual Studio\source\repos\rsriwebappdeploy&gt; .\Deploy-AzTemplate.ps1 -ArtifactStagingDirectory . -Location centralus -TemplateFile WebSite.json -TemplateParametersFile WebSite.parameters.json
Using template file:  WebSite.json
Using parameter file: WebSite.parameters.json
Running a R

[2020-02-02 21:52] Ayanmullick commented on #47087
@NavtejSaini-MSFT , There must be a way to do this thru PowerShell, albeit thru Invoke-RestMethod etc. I see this as a documentation gap rather than a feature suggestion.

[2020-02-02 21:52] #47087 closed

[2020-02-02 22:16] abymsft opened #47297 "War deployment scenario, How to package the agent jar to land it in wwwroot?"
We are expected to create a file named AI-Agent.xml place it in resources folder along with agent jar. War packaging scenario these files end up in WEB-INF/classes/) . How can we deploy the agent jar (applicationinsights-agent-2.5.0.jar) to the wwwroot directory ?

end goal: get log4j to work with Azure Linux WebApp (via JAVA_OPTS Value: -javaagent:D:/home/site/wwwroot/applicationinsights-agent-2.

[2020-02-02 22:27] abymsft commented on #47297
I understand we can manually place the agen jar in the wwwroot  folder (via ftp) . what is the best practice to automate it ? or am I missing something here?

[2020-02-02 22:52] abymsft opened #47298 "Additional config (Spring Boot)"
While setting application configuration keys as
Key: JAVA_OPTS Value: -javaagent:D:/home/site/wwwroot/applicationinsights-agent-2.5.0.jar

Is it right to always have the agent pickup the jar from volume D: ?
I ask because the app logs give me an error of missing agent jar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-02 23:09] bhatir commented on #46839
Hi @DashleenBhandari-MSFT, Thanks, but this is what I started with and it
was gibing the same 500 error. I just tried it again to be sure and I still
get the same 500 error.

On Sun, Feb 2, 2020 at 4:15 AM DashleenBhandari-MSFT <
notifications@github.com> wrote:

--

Thanks,
Rahul Singh

[2020-02-02 23:17] sidesw1pe opened #47299 "Please reword this sentence"
Please reword the following sentence from the Additional Considerations section of this page because it is missing a word and sounds a bit odd.

"When upgrading to a different, upgrading the secondary database first is required."

For example, perhaps:

"When upgrading to a different edition, it is a requirement that the secondary database is upgraded first."

---
#### Document Details

⚠ *Do not

[2020-02-02 23:17] husamhilal commented on #46395
The Azure Portal has been updated for managing disks (attaching and attaching disks). This page need to be refreshed.

[2020-02-02 23:38] QuetzalcoatlRosso opened #47300 "Scoring function definition?"
What is the precise mathematical definition of the "search score" function alluded to in the first sentence of this article? E.g., once a scoring profile is given with corresponding fields and numerical weights (and boosts) attached to those fields, is the scoring function a weighted linear sum of these fields with weights = the given numerical weights?

---
#### Document Details

⚠ *Do not edit t

[2020-02-03 01:10] na2ko-ucym commented on #47234
Thank you for the the reply.
I'm not in a rush. I'm looking forward to hearing from you answer.

[2020-02-03 01:15] Mike-Ubezzi-MSFT commented on #47287
@dotnetgator Thank you for providing this level of detail and taking the time to file this issue. I have assigned this to the content team to evaluate and update as appropriate.

[2020-02-03 01:21] Mike-Ubezzi-MSFT commented on #47288
@GilShalit Thank you for bringing this to our attention. Would it be possible to provide the specific document link you are having an issue with? This is will help us with addressing this issue and answering your question.

[2020-02-03 01:28] Mike-Ubezzi-MSFT commented on #47289
@jj-moore Thank you for making us aware of this issue. I have assigned this to a service area engineer to evaluate and potentially update the document to help with moving past this issue.

[2020-02-03 01:32] Mike-Ubezzi-MSFT commented on #47290
@jj-moore Thank you for providing this level of detail and taking the time to file this issue. I am having a service area engineer investigate this further and make the necessary changes so that users can move past this issue.

[2020-02-03 01:36] Mike-Ubezzi-MSFT commented on #47291
@swieder Thank you for bringing this to our attention. We are investigating this scenario and will update the documentation as appropriate.

[2020-02-03 01:39] Mike-Ubezzi-MSFT commented on #47292
@nthewara Thank you for continuing to bring these documentation anomalies to our attention. I have assigned this to a service area engineer to evaluate and update the documentation as appropriate.

[2020-02-03 01:42] Mike-Ubezzi-MSFT commented on #47294
@Pentao Thank you for making us aware of this issue. I have assigned this to a service area specific engineer who will investigate this scenario and provide feedback.

[2020-02-03 01:49] Mike-Ubezzi-MSFT commented on #47295
@abymsft Thank you for making us aware of this issue. I have submitted a PR to be evaluated and approved by the content team, where a correction will be visible in the public facing version of the document within 24 hours.

[2020-02-03 01:50] Mike-Ubezzi-MSFT commented on #47295
@mrbullwinkle for awareness.

[2020-02-03 01:54] enihcam opened #47302 ""Your account has expired; please contact your system administrator""
I followed the instructions and ended with this error:

[code]

Any steps missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kubernetes Service (AKS) cluster nodes](https://docs.microsoft.

[2020-02-03 01:55] Mike-Ubezzi-MSFT commented on #47296
@billyjim Thank you for making us aware of this issue. I have assigned this to a service area engineer to investigate the issue and identify any corrective actions. This issue will be updated as appropriate.

[2020-02-03 01:58] Mike-Ubezzi-MSFT commented on #47297
@abymsft Thank you for your inquiry. This issue is being investigated by a service area engineer and will update you when accurate information is available.

[2020-02-03 01:58] chaseyangguang opened #47303 "only the public certification in the Isolated service plan can be saved into the LocalMachine"
Please correct the document, and specify that only the public certification in the Isolated service plan can be saved into the LocalMachine, since the private certificate cannot be saved into the localMachine, it is always in the CurrentUser. But the document just said the Isolated plan can save the certificate in the LocalMachine, this is confusing.

---
#### Document Details

⚠ *Do not edit this

[2020-02-03 02:00] Mike-Ubezzi-MSFT commented on #47298
@abymsft Thank you for your inquiry. This issue is being investigated by a service area engineer and will update you when accurate information is available.

[2020-02-03 02:36] VikasPullagura-MSFT commented on #47069
@pl-araw Hope the above provided information was helpful.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen the issue to continue the discussion.

[2020-02-03 02:36] #47069 closed

[2020-02-03 02:41] lucidqdreams commented on #46570
I have the pod installation with helm v3 and the pod identity has no problem updating the gateway to work with the standard Redirects and probes and everything else.  I also thought there was a manifest install without helm option?  I can share my script.  You cant quite run it end to end but if you run it in sections it works and get to the URL mapping result I see above

`#Azure Cloud Shell Bash

[2020-02-03 02:43] chrispadgettlivecom opened #47304 "Operation metadata"
The **Operation** item is missing in the metadata tables. Can you please add this given it's a required item?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ef1dd8e-af23-c899-9613-01e8d4a2b0a3
* Version Independent ID: 238b4ce3-4f2f-934f-2653-3cbd27e5ea2c
* Content: [Enable one-time password (OTP) verification - Azure

[2020-02-03 02:44] antgonmir commented on #47089
We are not getting any errors. The portal indicates that the reference to the Keyvault and secret has been set successfully. When the function runs, it gets the literal value: @Microsoft.KeyVault(SecretUri=......) and does not perform the substitution to get the actual secret value.

[2020-02-03 02:48] lucidqdreams commented on #46938
I can share my script.  You cant run it end to end but if you run it in sections it works and get to the URL mapping result I see above.  This screen shot shows the annotations and tags showing the APP gw is controlled my K8s

![image](https://user-images.githubusercontent.com/6086602/73621879-999ca600-45ec-11ea-987b-79c6675ce558.png)

[code]

[2020-02-03 02:52] swieder commented on #47291
Thanks Mike, I’m Microsoft (swieder@microsoft.com<mailto:swieder@microsoft.com>) too, at Ready in Seattle and doing some training on the Azure B2C and this app was the sample we were using.   My Lab using this was hanging as I set it up to use the Dynamic Provisioning and when the class proctor helped me, he stated that SAMLTOOLKIT didn’t do dynamic provisioning.

I have no insight one way or the

[2020-02-03 03:55] jamesbannan opened #47307 "Managed Service Identity for ACI in vNet"
The documentation states that:

However, if you deploy an ACI into a virtual network, and then go in to the Identity blade and enable a System-Assigned Managed Service Identity, then the identity is created and assigned as expected.

So, is the documentation out of date, or is this a preview feature for vNet-integrated ACI? Or, is it the fact that you can *assign* an MSI but you can't *use* the MS

[2020-02-03 03:58] NavtejSaini-MSFT commented on #47299
@sidesw1pe We are checking this and will get back to you.

[2020-02-03 04:07] mike-urnun-msft commented on #47209
Hey @mattruma - Just checking in to see if you had any further questions. Let me know if you're observing an issue that goes against what is described in this doc along with repro steps and we'd be happy to investigate further.

[2020-02-03 04:16] CHEEKATLAPRADEEP-MSFT commented on #47165
@laurentbastien  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-03 04:16] #47165 closed

[2020-02-03 04:16] CHEEKATLAPRADEEP-MSFT commented on #47114
@keunsoopark  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-03 04:16] #47114 closed

[2020-02-03 04:17] SnehaAgrawal-MSFT commented on #47303
@chaseyangguang  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-03 04:23] SnehaAgrawal-MSFT commented on #47097
@Ayanmullick Thanks for the clarification! I have shared the feedback with the content owner for further review.

[2020-02-03 04:33] amanmcse commented on #47300
@QuetzalcoatlRosso Thank you for your reaching out. We will investigate and update the thread further.

[2020-02-03 04:35] amanmcse commented on #47302
@enihcam Thank you for reaching out. We will investigate and update the thread further.

[2020-02-03 04:41] amanmcse commented on #47307
@jamesbannan Thank you for your feedback. We will investigate and update the thread further.

[2020-02-03 04:41] RohitMungi-MSFT commented on #47112
@nabeelgit We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-02-03 04:41] #47112 closed

[2020-02-03 04:45] PramodValavala-MSFT commented on #47062
@MikeWedderburn-Clarke Done!

@ecfan I am assigning this issue to you for further review and to update accordingly.

[2020-02-03 04:47] jusso-dev opened #47309 "9.6 - 9.9"
How does it determine 'if' Java, Python, PHP or .NET is being used as part of the Web App? Is it scanning the files deployed on the web app Kudu side and checking if any files match those runtime/languages?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d190566-16b9-996a-43ff-430fb225a4a0
* Version Independent ID: 350

[2020-02-03 04:47] kiazhi commented on #27745
Same issue. I tried deploying Windows Virtual Desktop and had the same issue with joining domain.

[2020-02-03 04:52] SumanthMarigowda-MSFT commented on #46944
@cananac  Apologies in delay in responding here!

 There are two places where a SAS expiry may be stored:
1)	In the SAS token itself. In this case, the expiry time is in the SAS URL as the se= query parameter. This may be observed in storage logs whenever the token is used. However, if the token is never used or if logging is disabled then there may be no record of the SAS expiry.
2)	In a stored a

[2020-02-03 04:52] #46944 closed

[2020-02-03 05:00] amanmcse commented on #47021
@dinesh71 Could you please explain the scenario from business perspective? Do you want this behavior for all cloud apps/specific cloud apps/specific 1st party app/specific 3rd party app?

[2020-02-03 05:00] AshokPeddakotla-MSFT commented on #47099
Glad to hear that your issue is resolved!

[2020-02-03 05:03] jakaruna-MSFT commented on #47201
I will close this out for now. If you need additional help please let me know and we can reopen and continue or open a new issue

[2020-02-03 05:03] #47201 closed

[2020-02-03 05:04] sscchh2001 opened #47310 "Will you have plan to onboard this extension for national clouds?"
Will you have plan to onboard this extension for national clouds? We tried it out in Mooncake but it just does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Provide Azure MFA capabilities using NPS

[2020-02-03 05:04] jakaruna-MSFT commented on #47302
is your cluster AAD enabled?

[2020-02-03 05:05] PramodValavala-MSFT commented on #47142
@ecfan Thanks! Looks like I can't assign the issue to @ValRobb, so will be assigning it to you in the interim.

[2020-02-03 05:06] amanmcse commented on #46988
@naiduv have you had a chance to check above parameter? If you are still facing any issues, I would suggest you to open a support ticket for this issue as we use this platform for documentation improvement purpose and the issue you are facing is configuration specific.

I am proceeding with closure of this thread now. feel free to tag me in your reply if you have any concerns.

[2020-02-03 05:06] #46988 closed

[2020-02-03 05:06] stevenluda opened #47311 "inout binding in python"
Is there a python example showing inout binding that enables reading and writing to the same blob?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage bindings for Azure Functions](https://docs.

[2020-02-03 05:07] souravmishra-msft commented on #47032
@AlexanderTodorovic, Thank you for sharing the update. I am looking into this and trying to work on the script. Allow me sometime and I will reach back to you with some more updates.

[2020-02-03 05:07] RohitMungi-MSFT commented on #47205
@DavidRayner Yes, timeout does not look like a valid parameter for this method. I tried to use the [API ](https://msr-apis.portal.azure-api.net/docs/services/academic-search-api/operations/565d9001ca73072048922d97)to make a call and it worked successfully without a timeout error.

![image](https://user-images.githubusercontent.com/46958063/73626941-baa6da80-4670-11ea-9c4c-64c41fae24eb.png)

Could

[2020-02-03 05:09] DashleenBhandari-MSFT commented on #46839
@bhatir , Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this thread, we would like to work closer with you on this matter. I will go ahead and close the issue here.

[2020-02-03 05:09] #46839 closed

[2020-02-03 05:09] SubhashVasarapu-MSFT commented on #46914
@Therealkrug , Appreciate your patience. As per the docs the maximum default limit for adding custom domains per endpoint in Azure CDN is 25. Here,
25 custom domains per endpoint
25 endpoints per profile
and max Network profiles limit is 25.
If you want to increase the limits then you need to open an online customer support request at no charge.
**Note :** Free Trial subscriptions aren't eligible

[2020-02-03 05:09] #46914 closed

[2020-02-03 05:21] jakaruna-MSFT commented on #47302
The password(and ssh keys) of the use `azureuser` expires after 30 days.

When was the cluster created?

[2020-02-03 05:22] jakaruna-MSFT commented on #47200
@moussaillon20 is there any update

[2020-02-03 05:24] VikasPullagura-MSFT commented on #47088
@michaelschmit Thanks for details provided. I am assigning this to content author for checking and updating the document  as applicable.

[2020-02-03 05:25] jakaruna-MSFT commented on #46595
@ondrejhlavacek ok.
Try this out.
I will close this out for now. If you need additional help please open a new issue

[2020-02-03 05:25] #46595 closed

[2020-02-03 05:25] jakaruna-MSFT commented on #46893
@rwalsh3711 is there any update

[2020-02-03 05:34] dinesh71 commented on #47021
Thanks @amanmcse, We need this behavior for  specific to one app which is registered in Azure AD.

[2020-02-03 05:38] philippn commented on #20737
I'm apparently experiencing the same problem after trying to delete an AKS cluster with the virtual-nodes addon enabled.

`az network profile delete` is failing with: Network profile %id is already in use with container nics %guids.

However, `az network nic list` does not show any related nics nor does `az container list` show any containers :astonished:

[2020-02-03 05:39] amanmcse commented on #47021
@dinesh71 Is it Microsoft App or 3rd party app and is it registered under App Registration or Enterprise Applications blade in Azure AD?

[2020-02-03 05:41] AshokPeddakotla-MSFT commented on #46641
@J-Corwin Did you get a chance to see the above reply. Do let us know if you have any other queries.

[2020-02-03 05:44] SumanthMarigowda-MSFT commented on #46952
@giridham Apologies for the delay! IN reponsding here

When exactly are you getting this error message, Please share the screen shot and  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further qu

[2020-02-03 05:44] #46952 closed

[2020-02-03 05:46] jakaruna-MSFT commented on #47302
possible workaround https://github.com/Azure/AKS/issues/1170#issuecomment-532168860

[2020-02-03 05:52] RohitMungi-MSFT commented on #47229
@adityaramgopal It looks like the document you are referring to is used by Bing Speech. Please note Speech Service and SDK replaced Bing Speech starting January 14, 2020. For information on switching to the Speech Service, see Migrating from [Bing Speech to the Speech Service](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech)

You can take a

[2020-02-03 05:59] lyrana commented on #47235
Hi @fgheysels, I created a new TSI PAYG environment and ingested this telemetry, essentially the same as above but with my deviceId, and I was able to see the time series instance in the explorer without having to create a type, I'm definitely curious to know what's going on in your environment...

`[
    {
        "deviceId": "c39c4eea-dde0-463a-a9fb-6e3186b6ca27",
        "timestamp": "2020-01-3

[2020-02-03 06:05] adityaramgopal commented on #47229
Ah ok, it wasn't clear the doc was for Bing Speech -- I am using the new Cognitive Services Speech library. Looking at the doc you linked the example shows `MaskedITN` to have all lower case. The doc also says:

The example in the linked doc shows it this way.
[code]

Which makes sense, however it doesn't line up with the recognition result I see with my code (shown in my earlier comment). So I wo

[2020-02-03 06:11] dinesh71 commented on #47021
It is a 3rd party app and is registered under App Registration

[2020-02-03 06:14] #47035 closed

[2020-02-03 06:14] jakaruna-MSFT commented on #47035
@senna8 Submitted the pr. Changes will reflect in the doc within few  hours

[2020-02-03 06:17] SwathiDhanwada-MSFT commented on #47309
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-03 06:19] DixitArora-MSFT commented on #47311
Hi @stevenluda Thanks for reaching out. We will review and update as appropriate.

[2020-02-03 06:26] RohitMungi-MSFT commented on #47237
@eedorenko I have created a note and submitted a PR for the author to review the suggestion.
@lostmygithubaccount Could you please review the PR [103071](https://github.com/MicrosoftDocs/azure-docs-pr/pull/103071)?

[2020-02-03 06:26] DavidRayner commented on #47205
A single call works, I'm trying to pull ~50,000 papers and get the error after 10 minutes or so, sleeping for a few seconds between each call.

[2020-02-03 06:29] RohitMungi-MSFT commented on #47229
@erhopf Could you please confirm if MaskedITN should display in lower case only? The speech service document does not mention any details but the linked Bing speech service [document ](https://github.com/MicrosoftDocs/azure-docs-pr/edit/master/articles/cognitive-services/Speech/concepts.md#masked-itn-form?description=%0A%0A-------%0Acc%3A%20%40erhopf%0AGitHub%20Issue:%20https://github.com/Microsof

[2020-02-03 06:31] amanmcse commented on #47193
@danone1985 Thank you for pointing this out. I am updating the document.

[2020-02-03 06:31] #47193 closed

[2020-02-03 06:32] ketan-chawda-msft commented on #47083
@tehtertot I deployed my Service bus triggered function from Azure DevOps repo and it seems working fine for me.

This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc and no doc update required at the moment,  I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibi

[2020-02-03 06:32] #47083 closed

[2020-02-03 06:40] tehtertot commented on #47083
In your code, did you use a custom object type as the input parameter, or a
string? Also, what version of Azure Functions are you using?

I will create a thread on StackOverflow. Thank you for your assistance.

On Sun, Feb 2, 2020 at 10:32 PM ketan-chawda-msft <notifications@github.com>
wrote:

[2020-02-03 06:44] JedenFalls commented on #20737
Hello, Everyone.
I had the same issue and me help below steps to remove aci subnet and vnet with trash container nic:
1st - find name of problem network pdofile by command  - > az network profile list --query [].name -o tsv
2nd - create resource by terraform -> resource "azurerm_network_profile" "example" with the same network profile name and problem subnet id.
3rd - after terraform successfully

[2020-02-03 06:48] AshokPeddakotla-MSFT commented on #46983
@freeknortier  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-03 06:48] #46983 closed

[2020-02-03 06:52] SwathiDhanwada-MSFT commented on #46935
@rboucher  Can you please review the comments and update the document accordingly?

[2020-02-03 06:57] jakaruna-MSFT commented on #47002
Looks like some issues while assigning the roles (roles are not assigned properley)

I will check and update you

[2020-02-03 07:02] brijrajsingh opened #47313 "Datalake Gen2 it says File size limit 5 TB"
the document says "No limits on account sizes or number of files. File size limited to 5TB." for Data lake gen 2, while Data lake gen2 landing page says "Your Data Lake Store can store trillions of files where a single file can be greater than a petabyte in size which is 200x larger than other cloud stores". How can both be true.

Data Lake Page: https://azure.microsoft.com/en-in/solutions/data-la

[2020-02-03 07:04] beritatscioplus opened #47314 "DAAG not on CRAN"
When installing the DAAG R package I get the following error:
[code]

CRAN tells me that this package have been archived on January 11, 2020. Please update the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f89940a-4eac-f1ff-99a7-8fcc47b70482
* Version Independent ID: 52be38c9-5450-42fc-b44f-1189b45b7838
* Conte

[2020-02-03 07:05] dcbrown16 commented on #46935
Thanks Swathi, we have done a little more testing and we're suspecting that the autoscale may actually be starting up instances, because every time we shut them down manually they get restarted. Independent verification from an SME would be much appreciated

[2020-02-03 07:10] beritatscioplus opened #47315 "azureml modul not installed"
I am running my first ever azure machine learning resource. When I was reading the azuremlsdk package I had to install miniconda as well. I am running the guide step by step
When I tried to setup the working environment I ran
[code]
I then try to install the azureml module like this
[code]
On anaconda.org I find an azureml module uploaded autumn 2018. However, I do not know how to get this into th

[2020-02-03 07:12] AshokPeddakotla-MSFT commented on #47009
@walsehgal  Thanks for updating the doc.
@apcsaba We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-03 07:12] #47009 closed

[2020-02-03 07:16] enihcam commented on #47302
Thank you @jakaruna-MSFT . Yes, the cluster was created few months ago. I'll take a look at the workaround.

[2020-02-03 07:17] AshokPeddakotla-MSFT commented on #46957
@Pitusiray I followed the steps suggested in the in the doc and seeing such errors.
Since this is not a documentation issue and this will require some deeper analysis.
Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan,
please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help g

[2020-02-03 07:32] amanmcse commented on #47310
@sscchh2001 Thank you for reaching out. We will investigate and update the thread further.

[2020-02-03 07:34] amanmcse commented on #47304
@ Thank you for your feedback. We will investigate and update the thread further.

[2020-02-03 07:46] lgayhardt commented on #46523
Hi @jonira

Thank you for your question.

In the data model overview documentation telemetry item represents a component of data, its definition depends on the type of telemetry.  The article links to 6 different types of telemetry; Request, Exception, Dependency, Trace, Event and Metric.

For example, in the introduction of the [request telemetry documentation](https://docs.microsoft.com/azure/az

[2020-02-03 07:46] lgayhardt commented on #46523
#please-close

[2020-02-03 07:46] #46523 closed

[2020-02-03 08:08] vishalaj1 opened #47317 "Azure Storage Sync"
Hi,

Is this an alternative to azure storage sync service for pusing files?

Thanks & Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content: [Transfer data to or from Azure Blob storage by using AzCopy

[2020-02-03 08:16] DixitArora-MSFT commented on #47169
@ryanspletzer Multi-region deployment in API Management is available only in the Premium tier of API Management, which enables API publishers to distribute a single Azure API management service across any number of supported Azure regions. This is not present in standard tier.

Also Multi-region deployment is not present in consumption tier.

More information in https://azure.microsoft.com/en-in/p

[2020-02-03 08:21] ketan-chawda-msft commented on #47254
@ggailey777 any thoughts here?

[2020-02-03 08:27] fberasategui commented on #47254
For the record, I couldn't get Azure Functions V2 nor V3 to work targetting .NET Framework. I have falled back to V1. I'm still interested to know if this is supported, and what are the steps I should perform to make it work.

[2020-02-03 08:54] kishan19 opened #47319 "Python Code"
Is there a python version for the conversation transcription yet? Is it there in the roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160b2cf3-d4c4-8033-d01f-c9e35df389cc
* Version Independent ID: bee5bbbe-9371-3a51-bbfc-4ad739865157
* Content: [Asynchronous Conversation Transcription (Preview) - Speech service

[2020-02-03 08:58] CliveW-MSFT opened #47320 "OS table needs an update"
Should Server 2019 be supported, as per https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/minimum-requirements ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525c1c48-3355-bc91-b8d0-6104c1f5f098
* Version Independent ID: 0d1c6361-aeac-b0c9-016d-38d21f483396
* Content: [Platfor

[2020-02-03 09:00] barisbikmaz commented on #47236
Here is the [link ](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#using-the-admin-consent-endpoint) to the section

[2020-02-03 09:01] VikasPullagura-MSFT commented on #47252
@MicrosoftDocs/aks-pm Please add your comments on this.

[2020-02-03 09:05] spmanjunath opened #47321 "Unable to create Initiative definition using the JSON example defined in this page (#initiatives)"
In the [Initiative example](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#initiatives) the policyDefinitions are referenced using the path `"policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/2a0e14a6-b0a6-4fab-991a-187a4f81c498",`, however creating Initiative definitions using this path (via. `New-AzPolicySetDefinition`) results in

[2020-02-03 09:13] unkn0wnvariable opened #47322 "Unclear that at least one excluded user is a requirement"
It should be made clear that step 5.b. is not optional, if you don't include at least one exclusion the instructions fail with the typically vague "Policy configuration not supported. Review the assignments and controls."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53b567e4-ba41-7042-f978-08fd33c4bb39
* Version Inde

[2020-02-03 09:20] VikasPullagura-MSFT commented on #47307
@dlepow Can you please check this and add your comments.

[2020-02-03 09:33] jakaruna-MSFT commented on #47002
@pplavetzki I hope you filled the values for the below variables in the file `terraform.tfvars`

All the values for the below variables are guids.

aks_service_principal_app_id = "xxxxxxxxxxxx"

aks_service_principal_client_secret = "xxxxxxxxxxxx"

aks_service_principal_object_id = "xxxxxxxxxxxx"

[2020-02-03 09:38] SubhashVasarapu-MSFT commented on #47189
@MatthewSteeples , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-03 09:38] #47189 closed

[2020-02-03 09:40] AjayKumar-MSFT commented on #47181
@arnoldtropo, Thanks for the feedback! Apologies for any inconvenience with this.
Typically, the docs would be refreshed on every doc refresh cycle and/or as and when new changes are pushed.

You may wish to know  that you could contribute on the doc update with a Pull Request (PR), so I would like to share the steps to raise a PR:

If you know the change that is needed in an article, we encourage

[2020-02-03 09:47] GilShalit commented on #47288
@Mike-Ubezzi-MSFT I am referring to the sample application that is created when adding a DevsOpps resource and selecting the .Net, ASP.Net Core options for the sample application.  This link describes the process: https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-aspnet-core.

To reiterate, the process in the document works as it should.  My point is that the sample applic

[2020-02-03 09:50] amanmcse commented on #47322
@unkn0wnvariable Thank you for your feedback. We will investigate and update the thread further.

[2020-02-03 09:55] jakaruna-MSFT commented on #47002
I tried it out. I didnt get any error.

[2020-02-03 10:09] CHEEKATLAPRADEEP-MSFT commented on #47313
@brijrajsingh  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-02-03 10:11] SubhashVasarapu-MSFT commented on #46926
@LucianFrango , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-03 10:11] #46926 closed

[2020-02-03 10:22] tiagodenoronha commented on #47147
Makes sense, didn't think of that solution!

Thanks! :)

[2020-02-03 10:22] #47147 closed

[2020-02-03 10:22] souravmishra-msft commented on #47029
@StefanIvemo, Seamless-SSO and Hybrid AAD Join are two totally separate scenarios trying to solve the same idea of providing SSO to the users. Hybrid AAD join is not dependent on Seamless-SSO feature. Infact once you get the machine Hybrid AAD joined, Azure AD issues them something called a PRT, that acts as the component responsible for Providing the SSO experience to the user. On the contrary, i

[2020-02-03 10:24] rohancragg opened #47323 "Broken link"
URL for `Assign App Service domain to Azure VM or Azure Storage`
should be: `https://azure.github.io/AppService/2017/07/31/Assign-App-Service-domain-to-Azure-VM-or-Azure-Storage.html`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9fda02a
* Version Independent ID: d45201fb-c603-b878-b7d2-19

[2020-02-03 10:25] msrini-MSFT commented on #47255
@jurajgh , I have tested it out by creating a CA policy by enforcing MFA for all devices.

Connected to P2S with global account and I am able to see the Sign-in logs for the connect attempt of Azure VPN. I got a prompt for MFA as well.

Your scenario needs deeper investigation as it seems to be more specific to your environment. I would suggest you to create a post in [Microsoft Q&A](https://docs.

[2020-02-03 10:25] #47255 closed

[2020-02-03 10:29] richardjgreen opened #47324 "Existing Partners Enrolling with Commercial Marketplace"
In the first note section that instructs you that you need to be a member of the Partner Network with an MPN ID, it talks about registering for the Partner Network to get an account, however, it does not tell you that if you have an existing registration you will need to separately enroll into the Commercial Marketplace program.

Would it be advisable to add a link to the documentation for this? T

[2020-02-03 10:30] jakaruna-MSFT commented on #47002
Couple of checks to identify the issue.
Give the below command
`az role assignment list --assignee replace-with-object-id-of-sp-used-by-aks  --all`
Note that you need to use object id. Not app id.
It should list 3 role assignments.

One of them should have a role definition name "Network Contributor" on the subnet used by kubernetes nodepool.

Try this out and let me know

[2020-02-03 10:31] ArindamRayMukherjee commented on #47140
Hi, I realized that my service connection from VSTS was not proper. After fixing that I am still stuck though.
That is because my pipeline task as detailed below tries to deploy to a resource group, the same group that it is actually trying to create.

Removing the **resourceGroupName: $(resourceGroupName)** line from above fails because it is a required clause

I did not find a pipeline task for

[2020-02-03 10:37] #47278 closed

[2020-02-03 10:38] b-navaneethakumar commented on #32609
@xurui203 , Even am experiencing the same , When am trying to re read the data it is not get reading . Even am using the EHCONF (initial positions) it is not working. Please let me know if any other property in EventHUB needs to be changed ? While setting up Eventhub

[2020-02-03 10:49] spitfire184 commented on #45707
@anavinahar I will review and get back to you.

[2020-02-03 10:56] nolavime commented on #47132
Hi @SteveColegrove ,

Thank you for raising this question regarding ITSM.

This is my answers:
1) From our Azure alert you can create incident, event or alert in the ITSM tool. You can see how in following link:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/itsmc-overview#create-itsm-work-items-from-azure-alerts
2) The sync of the template is done just when the connection establish

[2020-02-03 10:57] ArindamRayMukherjee commented on #47140
Silly me, I didn't realize that pipeline tasks create a resource group if they do not find one!

[2020-02-03 11:01] SnehaAgrawal-MSFT commented on #47028
@loopfish Since We didn’t hear back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-02-03 11:01] #47028 closed

[2020-02-03 11:10] loopfish commented on #47028
Thanks for the update

[2020-02-03 11:14] twem opened #47325 "Ubuntu 18"
Ubuntu 18 is not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure VM with Accelerated Networking using Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-acceler

[2020-02-03 11:20] ram-msft commented on #47319
@kishan19 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-03 11:20] SLdragon commented on #46942
Hi, ganesh-gawande, when you debug with your own input name, you can try to add your route to the deployment json file, then Visual Studio would parse the input name from the route settings.

[code]

[2020-02-03 11:21] ram-msft commented on #47315
@beritatscioplus Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-03 11:22] Ihavenowand opened #47326 "Dynamic column mapping"
Is it possible to use parameters within a parent pipeline to set column mapping (REST API -&gt; ADLS).

I'm trying to create a dynamic REST component for all future REST integrations.  I have parameterized all other elements of the CopyData action other than mapping.

Passing data from parameter as JSON Oject gets escaped between parent and child pipeline.  This somehow prevents child pipeline fro

[2020-02-03 11:22] ram-msft commented on #47314
@beritatscioplus Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-03 11:26] CHEEKATLAPRADEEP-MSFT commented on #47317
@vishalaj1  Thanks for the question! We are investigating and will update you shortly.

[2020-02-03 11:31] CHEEKATLAPRADEEP-MSFT commented on #47320
@CliveW-MSFT  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-03 11:32] KrishnaG-MSFT commented on #47145
@pballai I have tried to reproduce the issue but ended up without any errors.

![image](https://user-images.githubusercontent.com/45988031/73646399-59e2c680-469f-11ea-88c7-fad6b069509d.png)

![image](https://user-images.githubusercontent.com/45988031/73646434-6ff08700-469f-11ea-87fa-41d9256520f0.png)

![image](https://user-images.githubusercontent.com/45988031/73646458-7ed73980-469f-11ea-95bb-ea13

[2020-02-03 11:32] #47145 closed

[2020-02-03 11:33] AshokPeddakotla-MSFT commented on #45893
@wesmc7777 Is there any update on this issue? Appreciate if you can change the doc accordingly with more details.

[2020-02-03 11:35] KrishnaG-MSFT commented on #47140
@ArindamRayMukherjee Thanks for the regular updates on your findings and glad to know that you have self resolved your question(s). If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-03 11:40] AjayKumar-MSFT commented on #47323
@rohancragg, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-02-03 11:53] iAnyKey opened #47327 "Question: standalone use of vision PCB/relocated mic array"
Hi,

For my project I'm mostly interested on depth camera functionality and passive IR illumination mode. I expect to be strongly limited in avaiable space, where the Kinect DK will be mounted and would like to know if:
*  it is possible to use only the vision related part of Kinect DK (front PCB) including both cameras (which is quite small)
*  (or if not) it is possible to relocate/rearrange/mov

[2020-02-03 12:13] JipFransen opened #47328 "@activity("web").output.value). part of step 5 contains a parenthesis too many."
Should be @activity("web").output.value. Or possibly put the expression in double quotes "@activity("web").output.value".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a82e2777-1cc1-4156-2384-3174f5848b6a
* Version Independent ID: be845133-d2d9-7dc1-26a4-741d873b5c21
* Content: [Use Azure Key Vault secrets in pipeline

[2020-02-03 12:13] codemaker opened #47329 "What exactly this function do?"
Is this function is only for proxy? What if I want to use blob trigger in a function and send every message arrives at blob to virtual machine? (Assuming I have a windows service listening in Virtual machine in a VNET)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de4662c6-e943-b48f-6d19-8d0db28007b5
* Version Indepen

[2020-02-03 12:18] jakaruna-MSFT commented on #46908
Hi,
This looks like the permission issue only.
To solve this issue we need access to the live environment. We can get help from azure support.

If you have access to raise support issue, go ahead. Else send an email to with your subscription id and this thread id in the subject to AzCommunity@microsoft.com
I will enable a one time free support ticket to get this issue resolved.

Feel free to post

[2020-02-03 12:26] jonmikeli commented on #46744
Hi Zhou,

Regarding the service SAS, it worked. Thanks for noticing the point and for updating the documentation. Thank you too for the information related to phrase list and conversation transcription in fr-fr.

Jon

[2020-02-03 12:26] #46744 closed

[2020-02-03 12:36] yashwanth-yenugu opened #47330 "Unable to run user flow created by Setting up sign-in with a Salesforce SAML provider by using custom policies in Azure Active Directory B2C"
I've followed all steps mentioned in  [https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-salesforce-custom?tabs=applications](url).

When I'm trying to run the user flow, I got the following error message "_A custom policy can be run from here only if the policy or any of its parent custom policies has a relying party section. The relying party section also needs to hav

[2020-02-03 12:43] dav3thompson opened #47331 "Download link not working"
The code download link for this article is invalid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6487b334-141c-b795-332d-f4164e829e05
* Version Independent ID: aa9e7704-5e83-ad88-8c99-f0b8f9753446
* Content: [Using elastic database client library with Entity Framework - Azure SQL Database](https://docs.microsoft.com/e

[2020-02-03 12:44] KamilRosinski opened #47332 "com.azure.core.implementation.exception.MissingRequiredAnnotationException"
I was trying to transcribe the conversation using the code posted above and the `pollResponse` keeps printing

I've tried to debug it using IntelliJ. I put the brakepoint inside the lambda expression:
[code]

Using debugger I've evaluated the following expression:
`pollResponse.fetchResultOperation.arg$1.clientImpl.service`
which returned
`Method threw 'com.azure.core.implementation.exception.Miss

[2020-02-03 12:46] jakaruna-MSFT commented on #46871
Hi,
To solve this issue we need access to the live environment. We can get help from azure support.

If you have access to raise support issue, go ahead. Else send an email to with your subscription id and this thread id in the subject to AzCommunity@microsoft.com
I will enable a one time free support ticket to get this issue resolved.

Feel free to post the solution here once your issue is resolv

[2020-02-03 12:49] #46936 closed

[2020-02-03 12:55] NavtejSaini-MSFT commented on #47131
@stevestein Please check the feedback from the user and help regarding the same.

[2020-02-03 13:04] Schenz commented on #47065
there are no typos and replacement was made.

[2020-02-03 13:07] NavtejSaini-MSFT commented on #47034
@EugeneTargonski We have created the request to change. It will be available in a day or two.

[2020-02-03 13:08] nrajeshgoud commented on #31188
Same issue for me for "image_sku": "2016-Datacenter" from few days, but somehow it worked with couple to retry's. my "winrm_timeout": "10m"

[2020-02-03 13:14] NavtejSaini-MSFT commented on #47299
@sidesw1pe We have created a request https://github.com/MicrosoftDocs/azure-docs-pr/pull/103092 to correct this and once approved, it will take approx 24 hours to display the updated text.

[2020-02-03 13:59] gkocyigit opened #47333 "Subscription process is vaguely described"
The initiation of a subscription is well defined: after a user subscribes to the SaaS offer, all resources will be provisioned by ISV.
But when the subscription ends after one month what will happen? Do Azure initiates provisioning for an update? Or is ISV initiate it? Or is it automatically subscribes until suspending the subscription?
The process after the subscription is poorly described. Pleas

[2020-02-03 14:15] adelinaBalasa opened #47334 "Cannot save R script / create a new project"
Whenever I try to
a) load any existing R script in AML R Studio, or
b) create and save a new R Script, or
c) create a new project in my directory

 I get the error “ No Such File or Directory”.

<img width="188" alt="no such file or directory error AML R Studio" src="https://user-images.githubusercontent.com/16760424/73660168-90b0e080-468f-11ea-95ce-77398ec71129.png">

[2020-02-03 14:18] Srinivas-Potnuru opened #47335 ".net core 3.1 Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest does not exist"
As per our requirement we are trying to read some values from the HTTP request header to do that we have HTTP Trigger on the azure function. It works fine till .net core 2.1 and once i upgrade to .net core 3.1 started failing with the below exception

**Could not load type 'Microsoft.AspNetCore.Http.Internal.DefaultHttpRequest' from assembly 'Microsoft.AspNetCore.Http, Version=3.1.1.0**

This is g

[2020-02-03 14:19] rjosephp commented on #41400
I was able to set authorized IP ranges on my existing cluster with Azure CNI, and the restricted traffic was not my nodepools - --api-server-authorized-ip-ranges 0.0.0.0/32. After this, I lost all the ability to run kubectl on my cluster. Now, when I try to disable it using the command "az aks update -g MyResourceGroup -n MyManagedCluster --api-server-authorized-ip-ranges """, I get error  az aks

[2020-02-03 14:20] rjosephp commented on #41400
I was able to set authorized IP ranges on my existing cluster with Azure CNI, to restrict agentpool traffic "- --api-server-authorized-ip-ranges 0.0.0.0/32". After this, I lost the ability to run kubectl on my cluster. Now, when I try to disable it using the command "az aks update -g MyResourceGroup -n MyManagedCluster --api-server-authorized-ip-ranges """, I get error az aks update: error: argume

[2020-02-03 14:24] RagingSquirrel opened #47336 "Two office365 Accounts"
Hi!
My Surface Pro is registered at two AzureADs (each with Office365).
On the second AzureAD (which I only need for access to calendar items) my Surface was deleted by accident.
Now, I am not able to rejoin and also the IT Administration of the second AzureAD isn't able to rejoin. We tried the steps described in this page. But "dsregmd.exe" seams only to work for the first-registered AzureAD acco

[2020-02-03 14:25] NavtejSaini-MSFT commented on #47331
@dav3thompson Please check the following link to check the code samples.
https://github.com/Azure/elastic-db-tools/
@stevestein @anumjs Please confirm if we can edit the link to above.

[2020-02-03 14:26] dcnoren opened #47337 "Use of Arrays in -match"
Hello, the documentation states:

Supported values
The values used in an expression can consist of several types, including:

Strings
Boolean – true, false
Numbers
Arrays – number array, string array

However, when trying to use an array in -match similar to how the documentation describes array usage, I get an error.

(example of doc): user.department -in ["50001","50002"]

The error: "Dynamic me

[2020-02-03 14:28] dcnoren commented on #47337
NOTE: the rule did not paste properly into the issue, and italicized the text due to the formatting.

Here is the rule again, replacing the asterisk symbol with [asterisk]

user.userPrincipalName -match [".[asterisk]@domain1.com",".[asterisk]@domain2.com"]

[2020-02-03 14:30] Socolin opened #47338 "Document WHERE element IN ('id1', 'id2)"
There is no documentation about the `WHERE .... IN` but it seems to work.

1. Could you document this behavior ?
2. Could you document how to use this with query variables: Is there any way to do `WHERE ... IN @List` or like in classic SQL it should be like `WHERE ... IN (@variable1, @variable2)` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-02-03 14:47] shashankkr opened #47339 "Retry Policy"
Hello,
In the old service bus package, the retry policy can be configured as
var retryOperations = new azure.ExponentialRetryPolicyFilter();
var serviceBusService = azure.createServiceBusService().withFilter(retryOperations);

How can I apply a similar policy in the new package?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-03 14:48] yoelhor commented on #47304
Thanks for your feedback. I fixed this issue and created a pull request.

[2020-02-03 14:56] azure2439 commented on #46174
Hi, Any update on this? Still getting 40.80.186 IPs for North Central US location.
Thanks

[2020-02-03 15:04] yoelhor commented on #47270
@mmacy Under the "Create the Facebook key" we can mention that you need to create such a key only for a policies with social accounts. But for a policy with local account only, you can skip this step

[2020-02-03 15:08] olavt opened #47340 "changeFeed.InitializeAsync() in the sample code crashes when change feed is empty"
If you create a new storage account, enable the change feed and then run the supplied code it will crash on the await changeFeed.InitializeAsync() statement with the following stackdump:

Unhandled exception. System.AggregateException: One or more errors occurred. (The specified blob does not exist.)
 ---&gt; Microsoft.Azure.Storage.StorageException: The specified blob does not exist.
   at Micros

[2020-02-03 15:10] mvaneijken opened #47341 ""Reset Password" link missing when network is not available"
When booting the (physical) machine the "reset password" link is missing when the network is not available yet (network icon on the login screen is a worldglobe with a denied icon in it).

It's Windows 10 version 1903 with CTRL + ALT + DELETE enabled, connected to an ethernet LAN link without 802.1x.

When CTRL + ALT + DELETE is pressed after the network is present, the "reset password" icon is vi

[2020-02-03 15:15] rwike77 commented on #47281
@dpaulino , yes you're right.  I've actually got a lot of updates in progress that will de-emphasize the v1 and ADAL content.  Hopefully those changes will be ready in the next few days.  This specific ADAL page will continue to exist, but we'll definitely be pushing people towards the MSAL content.  Thanks for your comment.  #please-close

[2020-02-03 15:15] #47281 closed

[2020-02-03 15:17] olavt opened #47342 "changeFeed.CreateChangeFeedReaderAsync() crashes with Method not found"
I created a new storage account, enabled change feed, created a regular container and uploaded a file to the container.

When running the sample code, it crashes with the following trace:

 ---&gt; System.MissingMethodException: Method not found: 'System.Threading.Tasks.Task`1&lt;System.IO.Stream&gt; Microsoft.Azure.Storage.Blob.CloudBlob.OpenReadAsync(Boolean, Microsoft.Azure.Storage.AccessCondit

[2020-02-03 15:19] dotnetgator commented on #47270
Thank you @yoelhor . I cannot recommend enough the need to de-emphasize Facebook. I wouldn't suggest putting anything "under" Facebook - I would advise putting it above Facebook,. and possible resuscitating the deprecated HTML Blink tag to emphasize YOU DO NOT NEED FACEBOOK TO DO THIS.

However, in the long run I do not understand why there is such a strong desire to attach social IdP logins to th

[2020-02-03 15:20] #45062 closed

[2020-02-03 15:21] fgheysels commented on #47235
This is weird.  I've created my TSI instance via an ARM template, so maybe I am missing some property or misconfigured something ?  I'll soon re-try this with a TSI resource that I create via the portal.

Would it help if I send you the details of my TSI environment ?

[2020-02-03 15:21] AshokPeddakotla-MSFT commented on #47321
@spmanjunath Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-03 15:22] DixitArora-MSFT commented on #47339
Hi @shashankkr Thanks for reaching out. We will review and update as appropriate.

[2020-02-03 15:22] code-n-roll commented on #43602
Hi @MarileeTurscak-MSFT @MicrosoftGuyJFlo , could you provide updated docs with description how CBA can be integrated to Android app with a help of MSAL ? How it can be achieved via Broker feature ? How certificate can be applied via Azure portal ?

[2020-02-03 15:23] DixitArora-MSFT commented on #47329
Hi @codemaker Thanks for reaching out. We will review and update as appropriate.

[2020-02-03 15:25] rwalsh3711 commented on #46893
@jakaruna-MSFT it seems after I run the port-forward command, ctrl-c and then run the "az aks browse..." command it works!  Subsequent runs of the command also work.  Thank you for your help!

[2020-02-03 15:25] DixitArora-MSFT commented on #47335
Hi @Srinivas-Potnuru Thank you for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-02-03 15:29] rwike77 commented on #39037
@atkinchris, hopefully your issue has been addressed.  I'm closing this, feel free to re-open if you need to.  #please-close

[2020-02-03 15:29] #39037 closed

[2020-02-03 15:30] rwike77 commented on #37204
@activeNathan , hopefully this addressed your issue.  I'm closing this now, feel free to re-open if you need to.  #please-close

[2020-02-03 15:30] #37204 closed

[2020-02-03 15:31] #47275 closed

[2020-02-03 15:31] #46837 closed

[2020-02-03 15:32] rwike77 commented on #46781
@boachim, any additional info you could provide?  Thanks.

[2020-02-03 15:32] AshokPeddakotla-MSFT commented on #47324
@richardjgreen Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-03 15:32] abhiramani-iptiq commented on #43686
Hi Any update on helm 3?

[2020-02-03 15:36] CHEEKATLAPRADEEP-MSFT commented on #47334
@adelinaBalasa Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2020-02-03 15:39] #47287 closed

[2020-02-03 15:39] #47268 closed

[2020-02-03 15:40] #47266 closed

[2020-02-03 15:42] DCtheGeek commented on #47321
@spmanjunath Thanks for the feedback. The path in that initiative definition example is correct as those are built-in policy definitions being referenced. If it was a custom policy you were including, then you would need the fully qualified name. Note that there are two fully qualified formats, the one in your post for subscriptions and another for policies definitions saved at the Management Grou

[2020-02-03 15:44] sudolibre commented on #47225
@FrankHu-MSFT User flows are such a core concept in B2C I believe it implies they are supported unless called out in the documentation. Otherwise it's still fairly misleading to state "By using it, you can customize and control how customers sign up, sign in, and manage their profiles when they use your applications". The JS version of this library will not support all of those flows for a single

[2020-02-03 15:46] AshokPeddakotla-MSFT commented on #47325
@twem Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-03 15:49] AshokPeddakotla-MSFT commented on #47326
@Ihavenowand Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-03 15:50] AshokPeddakotla-MSFT commented on #47327
@iAnyKey Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-03 15:53] AshokPeddakotla-MSFT commented on #47328
@JipFransen Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-03 15:57] mattmsft commented on #47151
Hi dastewa,

Unfortunately, you cannot do this using field mappings. However, you can do this using json expressions in your query. See [https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-select#json-expressions](SELECT clause in Azure Cosmos DB) for more information

[2020-02-03 15:58] DCtheGeek commented on #47309
#reassign:DCtheGeek

[2020-02-03 15:59] DCtheGeek commented on #47309
@jusso-dev Thanks for the question! The CIS blueprint sample deploys a number of Azure Policy definitions through a single initiative. The names under each control should match the name of the policy definition, which you can locate through the Portal. As an example, the "Ensure that 'Python version' is the latest, if used as a part of the Function app" deploys [this policy definition](https://git

[2020-02-03 15:59] #47309 closed

[2020-02-03 16:01] #47321 closed

[2020-02-03 16:05] bigdatamoore opened #47343 "Issue installing Powershell Module"
When trying to install the preview storage module, I am getting an error:

PS C:\windows\system32&gt; Install-Module Az.Storage -Repository PSGallery -RequiredVersion '1.9.1-preview' –AllowPrerelease –AllowClobber –Force
Install-Module : Cannot process argument transformation on parameter 'RequiredVersion'. Cannot convert value "1.9.1-preview" to type "System.Version". Error: "Input string was not

[2020-02-03 16:07] DCtheGeek commented on #47264
#reassign:DCtheGeek

[2020-02-03 16:07] christoph-zenger-hcsg opened #47344 "text to speech REST API: silence at the end of generated audio"
We use the REST API for text to speech (https://westeurope.tts.speech.microsoft.com/cognitiveservices/v1). The generated speech contains silence at the end of the audio. This used to be about 800 ms, since recently (January) it appears to be less.

Is there anyway to control/predict the amount of silence that is generated at the end?

In our setting we record the customer's voice immediately after

[2020-02-03 16:07] mmacy commented on #47304
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/103093

#please-close

[2020-02-03 16:07] #47304 closed

[2020-02-03 16:07] DCtheGeek commented on #47264
@spmanjunath Thanks for the feedback! Since this appears to be an issue with the Azure PowerShell Az module for Azure Policy, can you open an issue in the **Azure/azure-powershell** repo: [New Issue - Azure PowerShell](https://github.com/Azure/azure-powershell/issues/new?assignees=&labels=triage&template=az-module-bug-report.md&title=). I'll also pass along this feedback to the PG so they are awar

[2020-02-03 16:07] #47264 closed

[2020-02-03 16:12] JipFransen commented on #47328
To add to this. The activity name needs to be in single quotes in stead of double, so @activity('web1').output.value. It cost me quite some time debugging...

[2020-02-03 16:18] DCtheGeek commented on #47258
#reassign:DCtheGeek

[2020-02-03 16:18] DCtheGeek commented on #47258
@spmanjunath Thanks for the question.  Yes, `New-AzPolicyAssignment` supports using a file the same way that `New-AzPolicyDefinition` does. On the `New-AzPolicyAssignment`cmdlet the parameter is **PolicyParameter**. If you look at the [reference page](https://docs.microsoft.com/en-us/powershell/module/az.resources/New-AzPolicyAssignment?view=azps-3.3.0#examples), example 4 shows the use you are lo

[2020-02-03 16:18] #47258 closed

[2020-02-03 16:23] FoundryFounder commented on #47012
It looks like you have found the code in question, updated appropriates, and close the item.
Please let me know if you need additional assistance.
Thanks!
John

From: souravmishra-msft <notifications@github.com>
Sent: Friday, January 31, 2020 1:05 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: John Huschka <John.Huschka@collaboration-foundry.com>; Mention <mention@noreply.gith

[2020-02-03 16:28] moussaillon20 commented on #47200
@jakaruna-MSFT sorry for the delay, I was a little bit busy.

In the above mentioned documentation, I just copy-paste this part in order to create a storage class:

[code]
And I ended with the aforementioned error.

[2020-02-03 16:29] markjbrown commented on #47338
Please assign to @timsander1

[2020-02-03 16:32] Adam-Smith-MSFT commented on #47342
Closing this issue since there's a duplicate issue.

[2020-02-03 16:32] #47342 closed

[2020-02-03 16:33] Adam-Smith-MSFT commented on #47340
@olavt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-03 16:34] arnoldtropo commented on #47181
While I appreciate the offer I don't get paid to keep MIcrosoft
documentation accurate and up to date.

Now if you would like to hire me to do so that's another matter entirely.

In the meantime I'm just letting you know that an awful lot of Self-Pace
and Microsoft Learn labs in the DevOps area are really out of date. The
Microsoft Official Cirriculum MOC courses are even more out of date. I just

[2020-02-03 16:37] erhopf commented on #47229
#reassing: @oscholz

[2020-02-03 16:42] msereda opened #47345 "Is there more to setting the content definition version than is mentioned on this page?"
When updating from selfasserted 1.1.0 to 2.0.0 (or even 1.2.0) I receive a validation error uploading my frameworkbase policy:
Validation failed: 1 validation error(s) found in policy "B2C_1A_{Corp}TRUSTFRAMEWORKBASE" of tenant "{MyTenant}.onmicrosoft.com".The element specified by id 'urn:com:microsoft:aad:b2c:elements:selfasserted:2.0.0' cannot be found in the element factory cache. Check that el

[2020-02-03 16:43] porrascarlos802018 opened #47346 "customers are reporting challenges being left in pending status"
the namespace cannot be deleted because a challenge was left in pending status
 therefore unable to delete namespace
issuing a delete of the name space from several places will timeout , attempting force will failed.
basically any action will hung or timeout .
172697289
120012124002495

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-02-03 16:44] NBnfork opened #47347 "Possible Update to Sign-in URL"
I had a client who was struggling to get their Azure tile to directly sign them into Lessonly. The current URL listed is for our standard sign-in page, but as part of all SSO setups we have another endpoint that redirects users directly to their Login URL (it's what we use to implement our SSO sign-in button). Once the client had updated the Sign-in URL to that redirect link it allowed them to use

[2020-02-03 16:46] shashishailaj commented on #47027
@andyjballgit Thank you for pointing this out . I have verified this on my test tenant internally and have submitted a review with the content authors. Once they have reviewed it , the changes will be updated on the article. We will now close this issue and the change will be live in the next release cycle in 24-48 hours once review is complete.

Thank you.

[2020-02-03 16:46] #47027 closed

[2020-02-03 16:49] Adam-Smith-MSFT commented on #47055
@kabirshaikh Could you please post this thread on either Stackoverflow or MSDN Forums to help you further since it doesn't pertain to the docs ?
Directory path file system is not supported yet in storage, all folders are considered a path, more explanation can be found here: https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata

We will no

[2020-02-03 16:49] #47055 closed

[2020-02-03 16:50] shashishailaj commented on #47008
@mybm3w We are investigating on this and will update this thread with our findings soon.

[2020-02-03 16:50] lyrana commented on #47235
@fgheysels It is best to submit a support ticket through the Azure portal, and I'll be on the look-out for it, please enter in as much information as you can--the ARM template used, the environment ID, the telemetry sent as well as what you observed etc. Just an FYI that once docs are updated you may see this issue get closed once the original topic for the thread is addressed.

[2020-02-03 16:52] kabirshaikh commented on #47055
I just want to clarify that my previous code that used the directory to list the blob items used to work. Was this changed recently? I can understand if I was doing something that I wasn't supposed to do, but why did this work at all previously?

[2020-02-03 16:56] timsander1 commented on #47338
Hi @Socolin, I think you are looking for this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-keywords#in

[2020-02-03 16:56] wjia7 opened #47348 "Is there a way to dissociate IP address from an Azure VM through SDK?"
is there a way to do this through existing python sdk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae47d5d-6f92-4a81-eb24-843b360b7aaa
* Version Independent ID: 0cedc411-cbc7-b877-4bad-a88b56a0e216
* Content: [Dissociate a public IP address from an Azure VM](https://docs.microsoft.com/en-us/azure/virtual-network/re

[2020-02-03 16:57] timsander1 commented on #47338
#please-close

[2020-02-03 16:57] #47338 closed

[2020-02-03 16:57] Adam-Smith-MSFT commented on #47055
Did you have directory services in for data lake storage enabled previously by any chance ?

[2020-02-03 17:04] LXBdev opened #47349 "Show user a message that they should check their inbox"
Hi,
our initial testing with this feature was very positive. However, we fear that some of our users may not fully understand that they are receiving an e-mail and have to check their inbox. The "default" verification mechanism shows a message like this:

(key: "ver_info_msg")

Is there a way to get a localized message to the user for this? Localization via the usual mechanisms would be great. I u

[2020-02-03 17:12] #47107 closed

[2020-02-03 17:14] #45818 closed

[2020-02-03 17:15] mimckitt commented on #46320
We cover some common errors in the Troubleshooting section

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/troubleshooting-shared-images

As new errors come up we can continue to update that page. If you don't see a specific error you are getting let us know and we can look into adding it.

[2020-02-03 17:15] #46320 closed

[2020-02-03 17:19] BhargaviAnnadevara-MSFT commented on #47253
@mchudinov Thanks for the question! Indeed, the same package [**Microsoft.Extensions.Configuration.AzureAppConfiguration**](https://www.nuget.org/packages/Microsoft.Extensions.Configuration.AzureAppConfiguration/) can be used with a .Net Core 3.1 application as well. What you see in the quickstart with the package name (_3.0.0-preview-xxx_) is the version number of the prerelease package.

Please

[2020-02-03 17:19] jluk commented on #47252
The only MSFT supported autoscaler is the addon, which must be enabled through the AKS API. This addon is based off of the open source CA K8s project. Today, only min/max configs are customizable, but we have this open issue to enable more of those configurations to be set by the user through the AKS API.

https://github.com/Azure/AKS/issues/1055

[2020-02-03 17:20] Nikhil-Vaish-ERC commented on #46224
I haven't received any update since a long time. Can someone please check if this issue is being worked upon

[2020-02-03 17:22] baanders commented on #47094
Author has been changed to @dominicbetts

[2020-02-03 17:23] jurajgh commented on #47255
@msrini-MSFT what correlation ID? the account does *NOT* get logged in the Sign-Ins blade, so how do I get the correlation ID?
thx for trying to reproduce - just for clarification - did you configure you CA policy so it applies to a particular app (Azure VPN), or all apps? as for the MFA prompt - could've been triggered in your test just by simply never being MFA'd in the browser window. could you

[2020-02-03 17:29] baanders commented on #47094
#reassign:dominicbetts

[2020-02-03 17:30] tfitzmac commented on #47238
@Air-Git - thanks for this feedback. I agree the Cloud Shell is usually the preferable way to run commands in tutorials. In this case, we ran into the problem of not being able to deploy a local template from the Cloud Shell. The only way to make Cloud Shell work would be to add steps for uploading the template to a storage account, which seemed like it would take people far from the original inte

[2020-02-03 17:30] zr-msft commented on #47215
Thank you for the feedback @klawrawkz

The steps in this quickstart are for Helm v3. In the prerequisites section, Helm 3 is called out as required:
https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-team-development#prerequisites

#please-close

[2020-02-03 17:30] #47215 closed

[2020-02-03 17:31] SumanthMarigowda-MSFT commented on #47110
@HMatsumura Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-02-03 17:32] Srinivas-Potnuru commented on #47335
Hi @DixitArora-MSFT
We have followed the below article to follow the process of azure function filters.

**(https://sailleshpawar.com/2019/06/15/do-you-know-azure-function-have-function-filters/)**

[2020-02-03 17:33] SumanthMarigowda-MSFT commented on #47179
@michaelhambe Thanks for the feedback!. Your feedback has been shared with the content owner for further review.

[2020-02-03 17:34] amberbhargava commented on #46431
@sujayvsarma - Apologies for the delay. Currently the spending limit details can't be retrieved through any APIs.

[2020-02-03 17:38] m60freeman commented on #45818
I don't see that anything has changed.

[2020-02-03 17:43] fawohlsc opened #47350 "Set-AzKeyVaultSecret & Get-AzKeyVaultSecret return error code 'Forbidden'"
Please add setting the key vault access policy after keyvault creation, i.e. Set-AzKeyVaultAccessPolicy -VaultName $keyVaultName -ServicePrincipalName $appId -PermissionsToSecrets Get,Set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88c5a5a-7172-3836-e882-7a08b69e9572
* Version Independent ID: 07c17d2d-ed23-4639-d69

[2020-02-03 17:44] JimacoMS3 commented on #45893
@AshokPeddakotla-MSFT I am working directly with @jlian on this. @wesmc7777 is working on other things :)

[2020-02-03 17:47] yashesvi commented on #47222
Reservation is effective immediately, as soon as purchase is completed.

[2020-02-03 17:48] GiftA-MSFT commented on #47344
@christoph-zenger-hcsg we will review your feedback and get back to you shortly. Thanks.

[2020-02-03 17:50] GiftA-MSFT commented on #47332
@KamilRosinski we will review your feedback and get back to you shortly. Thanks.

[2020-02-03 17:56] JasonWHowell commented on #47253
@mchudinov  Looks like the main question is now answered. If you need further assistance, please let us know. I'll close out the thread for now, assuming the last response was the right amount of detail. Thanks! Jason
#please-close

[2020-02-03 17:56] #47253 closed

[2020-02-03 18:03] MGoedtel commented on #47184
@ryanspletzer - An Automation Account is geo-replicated and is limited to a set of Azure regions at this time.  You can learn more information here -https://docs.microsoft.com/en-us/azure/automation/automation-managing-data#geo-replication-in-azure-automation.

[2020-02-03 18:05] dbatech99 commented on #46799
I have a question in the spirit of this thread. I have a source JSON file, I am  converting to a CSV file which has several "empty" place holder columns. How do I configure the mapping so that I don't get "Duplicate mapping column error"?
![image](https://user-images.githubusercontent.com/60621810/73678203-7e2dab80-467d-11ea-8631-1803234777d1.png)

[2020-02-03 18:06] JasonWHowell commented on #47222
@bdschaap Looks like the answer has been provided. I'll close out the issue for now, but let us know if you have continued related questions. Have a great day! ~Jason
#please-close

[2020-02-03 18:06] #47222 closed

[2020-02-03 18:07] KranthiPakala-MSFT commented on #45844
@voronkovsergey Apologizes for late reply. This is a limitation by design that ADLS Gen2 only support AD users from the same tenant. So a guest user cannot be added.

If you have any feedback regarding this, I would suggest you to please share it in [Storage User voice forum](https://feedback.azure.com/forums/217298-storage). Once posted please do share the feedback link here, as it would give an

[2020-02-03 18:07] #45844 closed

[2020-02-03 18:13] SaurabhSharma-MSFT commented on #47350
@fawohlsc Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-03 18:15] ermacia91 opened #47351 "Password Reset vs. Unlock in SSPR"
We need to make a distinction between the unlock process and password reset allowed in SSPR. Currently, Smart Lockout counters reset only after a full password reset. Account unlock will not work.

Please, update docs to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd48c27f10ea
*

[2020-02-03 18:17] kenieva commented on #47264
@spmanjunath In Powershell, there is a character limit of 64 because Name is setting the resourceID. However, in the portal resourceID is autogenerated so the Name you are setting is actually displayname (with no character limit).

[2020-02-03 18:17] BenWhite27 opened #47352 "C# SDK V3 Execute Stored Procedure example outdated."
The method signature appears to have changed
[code]

Note that the parameters argument is now of type `dynamic[]` so the `newItem` object would effectively need to be something like this.

[code]

It'd also be worth renaming the `newItem` variable to something like `payload` or `args`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-02-03 18:20] SaurabhSharma-MSFT commented on #47217
@garybushey I have received the information that this is still in private preview and it should be in public preview in the coming weeks.

[2020-02-03 18:21] rboucher commented on #46935
We should certainly take a look at this.  I'll contact you via email to talk about it Dillon.

[2020-02-03 18:25] zaalion opened #47353 "eight digits after the decimal point"
Hello, could you elaborate on "For the most accurate recognition results, have at least eight digits after the decimal point. "? The sample JSON have only 4 digits after thde decimal point.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 547ba3dd-dfae-72e0-fecb-79845e1ae84e
* Version Independent ID: e7a09b74-2d5

[2020-02-03 18:26] chomelchizo commented on #33480
I've done everything noted here and other locations to no avail, hoping that something would help in getting the reference syntax to work. As originally reported, all I get is the URL to the secret and not the value.

- The V3 function app trying to access a secret is using .netcore 3.1.

- I've restricted and unrestricted the kv's anonymous network access. While restricted, I've even included the

[2020-02-03 18:33] NavtejSaini-MSFT commented on #47352
@BenWhite27 We are checking this and we will get back to you

[2020-02-03 18:37] Mike-Ubezzi-MSFT commented on #47025
@sanchetanparmar We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-03 18:37] #47025 closed

[2020-02-03 18:39] Mike-Ubezzi-MSFT commented on #47171
@wilcobmsft We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-02-03 18:39] #47171 closed

[2020-02-03 18:43] xhinker commented on #45365
It would be good to see command/cli script along with the screenshot.
Event though the UI changed months/years later. The command should be still works.

Mouse click sequences are not user friendly, really.

Thank you for the following up.

From: Glenn Gailey <notifications@github.com>
Sent: Saturday, February 1, 2020 10:10 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: xhinke

[2020-02-03 18:44] Mike-Ubezzi-MSFT commented on #47197
@kirubha-webex Did the manual process help you get re-established with the Authenticator App with the chosen account?

[2020-02-03 18:48] spelluru commented on #37711
We have updated the article:
https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-add-artifact-repo#get-the-azure-repos-clone-url-and-personal-access-token

#please-close

[2020-02-03 18:48] #37711 closed

[2020-02-03 18:50] Karishma-Tiwari-MSFT commented on #47289
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-03 18:56] Karishma-Tiwari-MSFT commented on #47290
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-03 18:57] crow-ua commented on #47051
@ealsur Thanks for valuable information. Today I've re-ran my tests from scratch and all the consumers received the same number of document updates. I was doing only inserts and re-creating leases prior to running tests previously though, so maybe there is something else that skewed the results. Also I've did not manage to reproduce function error (the whole processing is just putting the whole re

[2020-02-03 19:03] louismagdaleno commented on #34922
Hi,

This is the mapping:
BundleId: This is the appName
AuthenticationMode: this is inferred from whether a certificate is provided or a token (providing both will result in a bad request)
TeamId: This is the appId
ApplicationMode: We determine Sandbox vs Production based on the endpoint provided.

Please let us know if there's any additional questions regarding composing ARM templates for Notific

[2020-02-03 19:03] Karishma-Tiwari-MSFT commented on #47346
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-03 19:05] GiftA-MSFT commented on #47353
@zaalion we will review your feedback and get back to you shortly. Thanks.

[2020-02-03 19:12] AjayKumar-MSFT commented on #47151
Dastewa, We will close this now, please let us know if you have any further questions!
Thanks Matt for the response!

[2020-02-03 19:12] #47151 closed

[2020-02-03 19:14] ealsur commented on #47051
If I understand correctly from:

This means you will use your own compute to run Change Feed Processor instead of Functions? Drawbacks really subjective, Functions uses the same Change Feed Processor, so the drawback is tied to billing and time. Using your own compute does give you a higher degree of customization at the expense of having to manage and maintain it.

I'm not sure where that ~2% RU

[2020-02-03 19:15] lisaweixu commented on #47229
MaskedITN should only contain all lower cased text. If it is not, it is bug.

[2020-02-03 19:18] yoelhor commented on #47349
The [Localization string IDs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-string-ids) contains the list of ID for the OTP error messages. Take a look at the bottom of the doc ("Verification display control error messages" section, which will be changed to "One time password technical profile" soon)

[2020-02-03 19:19] dastewa commented on #47151
Thanks @mattmsft and @AjayKumar-MSFT - appreciate the help and insight! Cheers.

[2020-02-03 19:19] Karishma-Tiwari-MSFT commented on #47178
I do not think it is possible.
Thanks very much for your feedback on this!
Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines/). This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for prioritization.

[2020-02-03 19:20] adityaramgopal commented on #47229
@lisaweixu Could this issue be changed to a bug? Because, as shown in my initial comment, `MaskedITN` seems to have an upper-case character

[2020-02-03 19:20] #47178 closed

[2020-02-03 19:20] Mike-Ubezzi-MSFT commented on #47295
@abymsft `Jedis` is potentially the correct value but I am going to have to verify this. As an example, please see: [Create a new java app](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-java-get-started#create-a-new-java-app).

[2020-02-03 19:21] yoelhor commented on #47345
The DataURI should be urn:com:microsoft:aad:b2c:elements:**contract**:selfasserted:2.0.0

[2020-02-03 19:25] Mike-Ubezzi-MSFT commented on #47243
@Lisiczka27 We will now proceed to close this thread. If there is a specific issue or recommendation with an article found in the Microsoft Docs repository, please detail the feedback or suggestion and we will be happy to take the appropriate action. Thank you, ~Mike

[2020-02-03 19:25] #47243 closed

[2020-02-03 19:26] #45857 closed

[2020-02-03 19:29] aahill commented on #47353
@zaalion thanks for the feedback. This refers to the X/Y coordinates that represent the ink strokes sent to the API. Sending more precise coordinates, (8 decimal places are recommended) improves the recognition results, particularly when there are a lot of strokes on the digital canvas.

[2020-02-03 19:30] LXBdev commented on #47349
@yoelhor thanks, I saw that. Unfortunately those are only error messages. Is there a way to show an info message to the user after OTP was sent without causing an error? Like I said, the equivalent of "ver_info_msg" in the current flow.

[2020-02-03 19:31] himanshusinha-msft commented on #46724
@deyanp : I see that somebody did respond to you on the SR on Jan 31st .
At this time we are going ahead and closing the issues . You can always reopen this is you think that's appropriate .

[2020-02-03 19:31] #46724 closed

[2020-02-03 19:33] yoelhor commented on #47330
In the last step of the document, you create a relying party policy. You can run only the relaying party policies. You cannot run a basic or extension policy.

[2020-02-03 19:44] AjayKumar-MSFT commented on #47181
Arnold, I understand this can be frustrating, sorry for all the trouble! Your feedback has already been shared & I really appreciate your comments & have assigned the issue to author for further review and to update the doc as appropriate. Thanks for bringing this to our attention!

We strive to make our Azure docs simple and easier to understand by demonstrating key concepts with step-step instru

[2020-02-03 19:46] mimckitt commented on #44790
We are working to identify the correct team to have this investigated. We will provide updates on this issue here as we have them.

In t

[2020-02-03 19:46] #47349 closed

[2020-02-03 19:49] #29988 closed

[2020-02-03 19:49] jwargo commented on #34922
We'll make a doc update to make this more clear.

[2020-02-03 19:52] crow-ua commented on #47051
Right, we may need for implementing complex errors processing. Despite transient errors like network problems we may have a whole class of data-bound issues since we are joining information from various sources. There is a case where data consumer would need to access some "previous" update (the one that was marked as successfully processed). I'm currently still investigating this, but off-the-cuf

[2020-02-03 19:53] SaurabhSharma-MSFT commented on #47347
@NBnfork Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-03 19:57] yushwang commented on #43344
@dcbrown16 - It was called out in the doc but not specific enough "VPN Gateways are migrated as part of VNet migration ...". I'll add a Notice box to highlight this point.

VPN gateways are part of virtual networks. The entire VNet and the resources in the VNet need to be migrated together. There is no migration for individual resources inside a virtual network.

[2020-02-03 20:05] adewaleo opened #47358 "Like Behavior"
Are like and not like case sensitive or case-insensitive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-fd99-a27ad948907b
* Version Independent ID: 89e28332-184e-ba84-df1f-e7698c5e0f7c
* Content: [Details of the policy definition structure - Azure Policy](https://docs.microsoft.com/en-us/azure/gover

[2020-02-03 20:05] Silencer0001 opened #47359 "Enable MFA per user license requirement"
Hi, I’ve been testing with enabling MFA per user and even without assigning a license (AAD P1, P2, O365 E3), I’m still able to configure it. And the user is also successfully prompted to register through MFA. By looking at this page, it’s still not clear to me if this specific license is required per user or per organisation. I assume it’s per user, but could this be confirmed please? And is it by

[2020-02-03 20:09] lisaguthrie commented on #47249
Hi @vikramdadwal - not sure I fully understand your questions? Are you asking about performance of the service, or about how the service performs data retrieval? Can you give me more details on the Key Vault implementation that you are talking about?

[2020-02-03 20:10] yoelhor commented on #47349
Got it. Thanks for letting me know, I'm currently looking into this issue with our engineerings and will keep you posted ASAP.

[2020-02-03 20:24] RyanHill-MSFT commented on #46785
Hi @loopfish, we'll look into cleaning up this workflow. For now, try these steps to remedy the issue.

1. Go to "Directory + subscription" and select all of your subscriptions, or the one subscriptions you would like to use
![global-subscription](https://user-images.githubusercontent.com/47189704/73687989-1f762b00-4699-11ea-9faa-d283f893bdc2.jpg)
2. Refresh the "Diagnostics Settings" blade
3. Con

[2020-02-03 20:25] rolyon commented on #47202
Hi @Vikasjx
Thanks for your interest in creating a video for this article. I'll check into this and get back to you.
thanks

[2020-02-03 20:31] lisaweixu commented on #47229
Please contact padma.

[2020-02-03 20:32] FoundryFounder opened #47360 "Certificates?"
So...the article above calls for me to use the certificate "C:\AAD\Securities\Certificates\sslcert.com.cer" in the application gateway, but the code in the AAD-Security repo is using the certificate "C:\Feroz\Securities\Certificates\contosowebstores.com.cer".
What am I supposed to do?  Create my own certificate?  How?
Perhaps others understand this article, but I do not.  Can you point me to other

[2020-02-03 20:36] dlepow commented on #47307
@jamesbannan - Thanks for reaching out. You're correct that you're able to assign a managed identity to a VNet-integrated container group. The assignment isn't blocked. However, as you suggested as one of the options, you can't currently use the identity for RBAC to other resources. Providing support for using managed identities in this scenario is on the product roadmap but I don't have more deta

[2020-02-03 20:39] yoelhor commented on #47272
During policy execution, such as sign-up or sign-in, Azure AD B2C policy exchanges claims with a variety of systems, both having the ability to send and receive claims in either direction. In each direction (App=>B2C, or B2C=>External IDP) you must specify the protocol name. Generally speaking **technical profiles are identical to each other**, while each one has its own set of configuration. The

[2020-02-03 20:45] ChristopherHouser commented on #47142
I assume this the issue with mis-matched cipher specs.  IBM MQ Server requires that you define the cipher spec to use with SSL.  SslStream in .NET does not allow the cipher spec order to be specified.  One option is to change the MQ Server configuration to match the first cipher spec in the suite we send in the SSL negotiation. If you try the connection, the MQ Server will log an event message ind

[2020-02-03 20:47] DCtheGeek commented on #47358
#assign:DCtheGeek

[2020-02-03 20:49] MarileeTurscak-MSFT commented on #47359
@Silencer0001
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-03 20:49] #33072 closed

[2020-02-03 20:52] DCtheGeek commented on #47358
@adewaleo Thanks for the question! All conditions other than **match** and **notMatch** that evaluate a _string_ are case-insensitive.  I'll clarify this detail in the doc.  When I submit the PR, this issue will automatically be closed.  Thanks for pointing this out!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-02-03 20:57] zhusulai commented on #44504
@jtuliani I ran into the exact same question and was able to find the answers from https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftsecurity and https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles. Owner, Contributor and Security Admin are the roles you are looking for.

[2020-02-03 21:05] #47358 closed

[2020-02-03 21:22] vikramdadwal commented on #47249
@lisaguthrie we are using app congratulations in Azure function. It usually taking 5 to 7 seconds to load all settings.. Now Azure function has one feature where the keyvault key url can be specified as config values and it will cache it. Check this link https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-azure-functions-and-app-service/

[2020-02-03 21:22] ecfan commented on #46826
@kevinlam1, did you have more comments after @radumg provided more details?

[2020-02-03 21:23] ecfan commented on #47279
@divyaswarnkar, please confirm? Thanks!

[2020-02-03 21:25] tanmayeekamath commented on #44420
Thanks for your feedback. Unfortunately, we don't support this scenario in Activity Log today.
I have added this to our backlog as a feature request. We will let you know on a timeline once we prioritize this against other work items.

[2020-02-03 21:28] ecfan commented on #43566
@divyaswarnkar, any ideas about the other questions that @ToMakeSense had?

_Meanwhile, I think the documentation for trackedProperties is too much general, for example:_

_* What about the restrict of the authoring the trackedProperties. I found triggerBody() and action() could be used, but variables() can't._

_* Is trackedProperties available for all actions? I found the trackedProperties is no

[2020-02-03 21:36] Silencer0001 opened #47361 "License requirements + consequence of not having a license when conditional access policy is targeted"
Currently it seems possible to create and apply conditional access policies if the tenant was licensed with 1 AAD P1 license for all users. I would like to see this documentation updated with the following information:
- Requirement of having a license for all users being targeted with a conditional access policy
- What would be the consequence of a user not having a license but targeted with a co

[2020-02-03 21:47] #47034 closed

[2020-02-03 21:59] jeevansd commented on #47347
@v-nagta and @v-pugoe Can you please retest this and make the article change?
CC: @chetansriv

[2020-02-03 22:00] NavtejSaini-MSFT commented on #47214
@anosov1960 We are not able to see the same for our subscriptions in Azure Portal. Please check and provide some guidance.
Please change the document if it has to be changed.
@nilopmsft We are assigning this to our doc author for further review.

[2020-02-03 22:04] nilopmsft commented on #47214
One possibility I am considering which I don't have the most realistic way of proving is that the metric is not populated if not assessed. Meaning if I have no charge for this due to my backups not exceeding my overall instance size, there is nothing there. I would hope that the counter is there with a $0 value but may not be the case. Not sure if that is worth reviewing or confirming.

[2020-02-03 22:07] tanmaygore opened #47365 "Cloud Services with Virtual Machines is not currently supported for migration and support will be coming soon."
Cloud Services with Virtual Machines is not currently supported for migration and support will be coming soon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6639a0-0876-89a9-1ad3-7bc0c6525b1f
* Version Independent ID: 2550fb37-013b-6a77-a5b2-e407190ed236
* Content: [Migrate classic resources to Azure Resource Manage

[2020-02-03 22:09] arduppal commented on #44894
@AshokPeddakotla-MSFT : Can you close this issue?

[2020-02-03 22:10] arduppal commented on #44636
@AshokPeddakotla-MSFT: If there is no further queries can we close this issue?

[2020-02-03 22:17] Grace-MacJones-MSFT commented on #47089
That's an odd behavior. We will need to do deeper investigation on this issue, if you have a support plan you may file a support ticket. If you don't, could you please send an email to azcommunity@microsoft.com with the below details, so that we can create a one-time-free support ticket for you to work closely on this matter.

Thread of this URL:
Subscription ID:
Subject : AttnGraceMacjones-MSFT

[2020-02-03 22:17] #47089 closed

[2020-02-03 22:18] Grayer123 opened #47367 "probably a minor typo in the "Apply tags from resource group" section"
I believe for this "When getting the tag value, use the tags.[tag-name] syntax instead of the tags.tag-name syntax, because some characters aren't parsed correctly in the dot notation.":
you probably want tags[tag-name] instead of tags.[tag-name] (wrong dot there)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6

[2020-02-03 22:19] scottluskcis opened #47368 "Custom policy is returned during signup but is not returned for any subsequent signin"
Following the steps on the page everything works exactly as expected whenever I do signup for a new user. I do see the loyaltyNumber custom policy being returned. However if I follow step 8 again but instead of signup of a new user I try to sign in with the account that was created the custom policy is not returned. Is there an additional step to get this to work for sign in?

---
#### Document De

[2020-02-03 22:19] MGoedtel commented on #47184
#please-close as the question has been answered.  If there is anything further, please feel free to update the thread.

[2020-02-03 22:19] #47184 closed

[2020-02-03 22:24] SaurabhSharma-MSFT commented on #47337
@dcnoren Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-03 22:25] SaurabhSharma-MSFT commented on #47360
@FoundryFounder Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-03 22:26] SaurabhSharma-MSFT commented on #47361
@Silencer0001 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-02-03 22:30] SaurabhSharma-MSFT commented on #47345
@yoelhor Thanks
@msereda Please let me know if you are unblocked.

[2020-02-03 22:36] asubmani commented on #43212
hello.. I am running into this issue as well..this is a bug as as per the FAQ for private link this should work. I have tried this with the portal and az cli and both fail.

According to this documentation:
https://docs.microsoft.com/en-us/azure/private-link/private-link-faq

Can Private Endpoint connect to Private Link service across Azure Active Directory Tenants?
**Yes**. Private endpoints can

[2020-02-03 22:42] TravisCragg-MSFT commented on #47348
@wjia7 I have not personally done this using the Python SDK, but the method should be the same no matter what tool you are using. To remove a Public IP from VM, you will need to disassociate the Public IP from the NIC that is attached to the VM.

The association is stored in the [Network Interface's IP Configuration](https://azuresdkdocs.blob.core.windows.net/$web/python/azure-mgmt-network/9.0.0/a

[2020-02-03 22:57] ajklotz opened #47369 "Disabling function in Azure Portal does not create AzureWebJobs.<functionName>.Disabled key in application settings"
I have a function app with several functions and when I go into the portal to disable a function, I do not see a `AzureWebJobs.<functionName>.Disabled` key in application settings.

When I try to use AzureCLI to disable a function, it _does_ create the key, but the function doesn't get disabled. So there appears to be some inconsistency in how the Enable/Disable button works in Azure Portal vs Azu

[2020-02-03 23:02] adewaleo commented on #47358
Hey thanks for the clarification!

[2020-02-03 23:03] SaurabhSharma-MSFT commented on #47143
@mikerodrick We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-03 23:03] #47143 closed

[2020-02-03 23:04] SaurabhSharma-MSFT commented on #46945
@PaulSells We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-03 23:04] #46945 closed

[2020-02-03 23:07] abharath27 opened #47370 "Encoding query as base 64"
Is it possible to encode the query in 'LinktoSearchResults' as base64 to reduce the size of the URL? We have a few queries in App Insights that kept getting bigger over time; and now the links to queries in our alerts are completely unusable.

When I try to share the query in App Insights using "Copy link to query" button, it creates a link with base64 encoding.

---
#### Document Details

⚠ *Do n

[2020-02-03 23:08] rayne-wiselman commented on #46900
Thanks for your feedback! I've updated the link. The change should show up later today.

#please-close

[2020-02-03 23:08] #46900 closed

[2020-02-03 23:10] BharathNimmala-MSFT commented on #47358
@DCtheGeek  Thank you for helping on this.

[2020-02-03 23:10] rayne-wiselman commented on #45977
Thanks for your feedback! I've added a link - https://docs.microsoft.com/en-us/azure/migrate/tutorial-assess-hyper-v#create-the-appliance-vm

#please-close

[2020-02-03 23:10] #45977 closed

[2020-02-03 23:11] rayne-wiselman commented on #43366
Thanks for your feedback. This is fixed.

#please-close

[2020-02-03 23:11] #43366 closed

[2020-02-03 23:12] sandeepraichura opened #47371 "Convert VMSS Instance Disks from Unmanaged to Managed ?"
It seems VMSS instances are not supported for converting from Unmanaged to managed disks, Please update the public with this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d544e55b-bac1-0e3c-a396-90a1b4f6e1aa
* Version Independent ID: 018208b2-7479-746d-2d12-a9e3c78036d7
* Content: [Convert a Windows virtua

[2020-02-03 23:13] rayne-wiselman commented on #43170
Thanks for your feedback! I've created an article with the migration reqs at https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-physical-migration

#please-close

[2020-02-03 23:13] #43170 closed

[2020-02-03 23:22] rayne-wiselman commented on #40629
Hi, can you let me know where you're seeing VMware references in this article that you think are confusing. I don't see those. Thx!

[2020-02-03 23:26] KranthiPakala-MSFT commented on #46955
@hagaic Apologies for the delay in response. The API does not support that parameter. But in the interim, it's possible to get all the refreshes in the last 30 days and then filter down to the one which started most recently by writing your own logic.

If you have any feedback regarding this, I would request you to please share your idea/suggestion in [Azure Analysis Services User voice](https://f

[2020-02-03 23:26] #46955 closed

[2020-02-03 23:34] tmurfet commented on #40629
This article shows you how to migrate physical or virtualized servers to Azure. The Azure Migrate Server Migration tool offers migration of physical and virtualized servers, using agent-based replication. Using this tool, you can migrate a wide range of machines to Azure:

  *   Migrate on-premises physical servers.
  *   Migrate VMs virtualized by platforms such as Xen, KVM.
  *   Migrate Hyper-V

[2020-02-03 23:34] Ayanmullick commented on #46825
Thanks @SteveL-MSFT , for confirming. The The potential bug with the Az.Compute module is being worked on thru 120012724002410.
@msrini-MSFT , Could you tell why is the sample config file is capable of configuring all settings on this page but not the boot diagnostics?

![image](https://user-images.githubusercontent.com/17693249/73700089-34f45080-46ab-11ea-8b7d-5cf52b4179a5.png)

[2020-02-03 23:38] v-akhana opened #47372 "About the description of the User Administrator"
The item of "User Administrator permissions" has the following description.
"Can manage all aspects of users and groups, including resetting passwords for limited admins."

However, except for the following restricted administrator roles, they are actually restricted and cannot reset their passwords.
- Directory reader
- Guest invites
- Help desk administrator
- Message center leader
- Report read

[2020-02-03 23:40] rayne-wiselman commented on #40629
I've sharpened up the text a bit, but the text is actually correct. You can use this flow for VMware VMs or Hyper-V VMs if you're unable to use the standard flow.

[2020-02-03 23:50] priyanka-gomatam opened #47373 "Please include conda 4.8.0 in the versions listed under the Known Issues section"
Please include conda 4.8.0 in the versions listed under the Known Issues section

We had the same issue with a customer and the suggested script in that section mitigates it for them as well. Please edit the Anaconda version to include 4.8.0 along with 4.7.11 amd 4.7.12. Her e is the ICM for reference: https://icm.ad.msft.net/imp/v3/incidents/details/173778588/home

---
#### Document Details

⚠ *D

[2020-02-03 23:55] rayne-wiselman commented on #46295
Thanks for your feedback! This is fixed and fix will show up later today.

#please-close

[2020-02-03 23:55] #46295 closed

[2020-02-03 23:57] rayne-wiselman commented on #42474
Thanks for your feedback. Assuming that domain services are available/extended to Azure, domain members and machine identity in the domain are retained.

[2020-02-04 00:00] YutongTie-MSFT commented on #47373
@priyanka-gomatam Thanks for reaching out to us, could you please provide the document you are referring to ? ^^

[2020-02-04 00:06] #47233 closed

[2020-02-04 00:10] Karishma-Tiwari-MSFT commented on #47000
@peterpogorski Do you have inputs on this issue? Thanks. :)

[2020-02-04 00:12] TylerMSFT commented on #44694
Hi @AmineSahal.  Can you clarify why you are looking for getaccount on PublicClientApplication? The doc refers to getaccount on IAuthenticationResult.
Regarding onAccountLoaded, are you having problems with it resolving in the [loadAccount](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android#loadaccount) snippet?

[2020-02-04 00:14] FrankHu-MSFT commented on #47244
@dhoegl the enterprise application is tied to an App Registration that has a reply URL configured. More information on this can be found here :

https://stackoverflow.com/questions/46923398/azure-ad-enterprise-applications-reply-url
https://stackoverflow.com/questions/54071385/difference-between-enterprise-application-and-app-registration-in-azure/54101853

Please let us know if you have anymore q

[2020-02-04 00:15] FrankHu-MSFT commented on #47133
@ld0614  thanks fro bringing this up, this is currently in the backlog and as such I will be closing out this github issue please let us know if you have anymore concerns,

[2020-02-04 00:18] rayne-wiselman commented on #42474
I added an entry to the article. Change should show up later today. Thanks for your feedback!

#please-close

[2020-02-04 00:18] #42474 closed

[2020-02-04 00:18] Ayanmullick commented on #42474
Thanks for confirming, @rayne-wiselman.

[2020-02-04 00:20] JimacoMS3 commented on #44709
@ChangeTheCode We recently published new troubleshooting topics for specific errros. The information appears here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-troubleshoot-error-400027-connectionforcefullyclosedonnewconnection . Please let us know if you think anything needs to be added.

@jlian Since content has been published, can we close this issue now?

[2020-02-04 00:23] FrankHu-MSFT commented on #47280
@dpaulino please take a look at the documentation here: https://docs.microsoft.com/en-us/rest/api/azure/devops/?view=azure-devops-rest-5.1#create-the-request

It's *subject to change* however per the current Devops REST API doc, it says to use ADAL, most likely as the Devops app is against the v1.0 endpoint.

Please let us know if you have anymore questions otherwise i will be closing this out by

[2020-02-04 00:23] Karishma-Tiwari-MSFT commented on #47365
@tanmaygore Thanks for sharing this information.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-04 00:28] GiftA-MSFT commented on #47158
@johnwildes thanks for your patience while we inquire on this information. Based on the information I've gathered, the DSVM is for general data analytics, data science, and AI/ML training and experimentation. However, many users use it for analyzing production data. Please let us know if there are specific challenges in your production environment so we can guide you further. Thanks.

[2020-02-04 00:30] georgeAccnt-GH opened #47374 "typo - missing "\" in "az role assignment create" example"
az role assignment create \
    --assignee MicrosoftAzureBatch \
    --role contributor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae009c5-411a-61fa-37c3-13ded76bb47c
* Version Independent ID: 3ff5319a-778c-d4af-a4bd-dc2b64c846ea
* Content: [Azure CLI Script Example - Create Batch account - user subscription](http

[2020-02-04 00:33] hruday94 commented on #47086
We face the same issue as well. The URL is changing to dev.azure.com by default when I use org.visualstudio.com in the github repo URL.

[2020-02-04 00:41] mimckitt commented on #47365
@Karishma-Tiwari-MSFT Tanmay is the PM for CS. He's opening the issue for reference so assigned it to him and myself :)

[2020-02-04 00:43] jimmcslim opened #47375 "Document that the table will be created if it doesn't exist, and can some from an app setting."
My testing of the `[Table]` output binding demonstrates:

1. If the table doesn't already exist, it will be created.
2. The table name can be drawn from an app setting if it is specified in the format `%NAME_OF_APP_SETTING%`. i.e. surrounded by percentage symbols.

It would be good if the documentation can be updated to reflect this for both the output and input (if true for input, I haven't teste

[2020-02-04 00:44] greglandrum opened #47376 "Using an environment.yml"
Hi,
I've tried to configure a project (https://notebooks.azure.com/greglandrum/projects/custom-environment) to use an environment.yml file, but it looks like that file is not used whenever I create a notebook.
Here's a notebook demonstrating that and showing that the .nb.log file doesn't exist either.

How can I use an environment.yml file and create a functioning (and reproducible) environment?

[2020-02-04 00:45] hruday94 commented on #47086
It kind of works for me now when i do this.
Open dev.azure.com on your browser and navigate to reach your repository. Then copy the url on the browser and try to add that in the link.

[2020-02-04 00:46] DixitArora-MSFT commented on #47375
Hi @jimmcslim Thanks for your feedback. We will review and update as appropriate.

[2020-02-04 00:47] DixitArora-MSFT commented on #47369
Hi @ajklotz Thanks for reaching out. We will review and update as appropriate.

[2020-02-04 00:48] jimmcslim opened #47377 "Document that `QueueName`, `TopicName`, `SubscriptionName` can be retrieved from app settings"
It appears that when using the C# attributes `[ServiceBus]` and `[ServiceBusTrigger]` the `QueueName`, `TopicName`, and `SubscriptionName` parameters can be retrieved from an app setting if they are surrounded in percentage symbols, e.g. `%QueueName_AppSetting%`.

If this is true and not just some freak occurrence I have observed locally, please document this behaviour.

---
#### Document Details

[2020-02-04 00:59] georgeAccnt-GH opened #47378 "Pool allocation in the user subscription mode via "az batch account create" is confusing"
Pool allocation in the user subscription mode via "az batch account create" is confusing.

 - There is no explicit flag/option for batch or user subscription mode
 - unclear why the key vault is needed
 - confusing/inconsistent behavior of "az batch account create" - it uses user subscription pools if called with a key vault, but batch allocation when called without a key vault.
 - unclear why poo

[2020-02-04 01:01] dpaulino commented on #47280
@FrankHu-MSFT According to this thread, those docs you sent will be updated for MSAL: https://github.com/MicrosoftDocs/azure-docs/issues/47281#issuecomment-581462389.

I assume MSAL will work, so I will try it out.

[2020-02-04 01:16] TylerMSFT commented on #43752
I have provided what I hope is some additional context that is helpful, and provided links for new terms to our glossary.
The changes will be live by possibly Tues (2/4/2020) but no later than Wed morning (2/5/2020)
#please-close

[2020-02-04 01:16] #43752 closed

[2020-02-04 01:18] ryanspletzer commented on #47169
Hi @DixitArora-MSFT , my question was specifically regarding zone redundancy within a *single* region. :) I'm aware of multi-region deployments, but I'm wondering about the underlying availability zone redundancy of an API Management resource in a single region (if there is any). Thanks!

[2020-02-04 01:20] ryanspletzer commented on #47184
Thanks!

[2020-02-04 01:21] Karishma-Tiwari-MSFT commented on #47371
Since this document is for Azure VMs and not VMSS, I do not think it needs to be updated. However, this information you shared will stay with the docs for others to reference.

[2020-02-04 01:33] Karishma-Tiwari-MSFT commented on #47374
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-04 01:33] itsjusth opened #47379 "Prompted to set up 2FA after successfully signing in with 2FA"
I successfully log in to my MS account (logging into Azure Portal) using a push notification to my MS authenticator app.  After approving on my mobile device, I get message:
More information required
Your organization needs more information to keep your account secure
Skip for now (8 days until this is required)

I don't know what will happen after the 14 days run out, but if I click next, it take

[2020-02-04 01:33] jlian commented on #44709
Yes, thanks for closing the loop on this as I forgot. #please-close

[2020-02-04 01:33] #44709 closed

[2020-02-04 01:40] neeleshray-msft commented on #46930
@eross-msft Could this be verified ?

[2020-02-04 01:42] TylerMSFT commented on #46979
I have addressed the missing step. Should be live by tomorrow evening (2/4/2020)

[2020-02-04 01:43] TylerMSFT commented on #46979
#please-close

[2020-02-04 01:43] #46979 closed

[2020-02-04 01:47] neeleshray-msft commented on #46998
@SquirrelAssassin We would need to troubleshoot this with you to find the rootcause. Suggest you to open a [Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/) if you have a support plan else send us an email on AzCommunity@microsoft.com for the same.

[2020-02-04 01:47] #46998 closed

[2020-02-04 01:48] macolso commented on #20737
@JedenFalls could you possibly share your Terraform file (with the PII obfuscated of course)?

[2020-02-04 01:49] MarileeTurscak-MSFT commented on #47351
@ermacia91
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 01:52] neeleshray-msft commented on #47007
@plangone22 As of today, this feature works only works for the same tenant for which the logs are collected. You can suggest your idea on the same in our [Azure Feedback Portal](https://feedback.azure.com/forums/169401-azure-active-directory).

[2020-02-04 01:52] #47007 closed

[2020-02-04 01:53] jamesbannan commented on #47307
Hi @dlepow - yes, that makes sense. Thanks for the clarification. Is there any public information about this feature on the product roadmap?

[2020-02-04 01:54] neeleshray-msft commented on #47071
@jeevansd Could the document be amended to include the same ?

[2020-02-04 01:54] dcbrown16 commented on #42472
@asudbring @YutongTie-MSFT I don't see a note yet about how to configure the Storage Firewall after enabling Private Link. #42760 reported that they tried changing it to Selected Networks with nothing enabled and it wasn't working for them. I poked around on the Teams I have access to (through MS support) and it seems like that should be the right approach. Unclear if "Trusted Azure services" chec

[2020-02-04 01:55] neeleshray-msft commented on #47186
@YamaguchiKei1 We will be closing this thread now. Let us know if you need further help.

[2020-02-04 01:55] #47186 closed

[2020-02-04 01:59] SumanGitHub commented on #22958
**Adding user to Windows server and add to Administrator group :**
**Solution ( PowerShell DSC) **

FIrstly : **Create credentials in Automation account form azure portal or suing any azure mdoule**
Home>Resource group><automationResourceGroup><yourAutomationaccountName> - Credentials
``
Configuration user_windows_user
{
    param
    (
    [Parameter()][string]$username,
    [Parameter()]$azurePa

[2020-02-04 02:03] priyanka-gomatam commented on #47373
Oops! Sorry: https://docs.microsoft.com/en-us/azure/hdinsight/spark/apache-spark-python-package-installation#known-issue

We had the same issue with a customer and the suggested script in that section mitigates it for them as well. Please edit the Anaconda version to include 4.8.0 along with 4.7.11 amd 4.7.12. Her e is the ICM for reference: https://icm.ad.msft.net/imp/v3/incidents/details/1737785

[2020-02-04 02:03] MarileeTurscak-MSFT commented on #47176
Hi @samcookies ,

Where do you have the NPS extension and the Azure MFA extension installed? Are there any policies in place on that machine? That message should not be causing the issue.

Have you ensured that the MFA is "Enforced" for those users in the cloud? Can you check in aka.ms/mfasetup?

[2020-02-04 02:06] Therealkrug commented on #46914
While i am asking questions.

We were planning and giving each of our clients a subdomain and adding that
domain to the Azure CDN which is connected to site hosted on Azure storage.

If we were to continue with this design, and have more than 25 clients,
lets says 1000, we have about ~100 now over a few years so I don't want to
over estimate.

Are you confirming that if we wanted to add more than

[2020-02-04 02:07] neeleshray-msft commented on #47292
@jeevansd Could the same be included in the document ?

[2020-02-04 02:12] azav commented on #47233
Awesome.  Thanks Frank!

[2020-02-04 02:38] AshokPeddakotla-MSFT commented on #46942
@ganesh-gawande Please check the above response and let us know if you have further questions.

[2020-02-04 02:40] MarileeTurscak-MSFT commented on #47336
@RagingSquirrel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 02:40] MarileeTurscak-MSFT commented on #47341
@mvaneijken
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 02:41] AshokPeddakotla-MSFT commented on #46957
@Pitusiray Please contact support as suggested above. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 02:41] #46957 closed

[2020-02-04 02:48] NaveenAkode-MSFT commented on #47333
Hey @gkocyigit, Thank you for providing the feedback on the document enhancement. I am assigning this to our Content Team to be evaluated and updated as appropriate.

[2020-02-04 02:51] CHEEKATLAPRADEEP-MSFT commented on #47367
@Grayer123  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 02:53] CHEEKATLAPRADEEP-MSFT commented on #47368
@scottluskcis  Thanks for the question! We are investigating and will update you shortly.

[2020-02-04 02:54] CHEEKATLAPRADEEP-MSFT commented on #47370
@abharath27  Thanks for the question! We are investigating and will update you shortly.

[2020-02-04 02:55] CHEEKATLAPRADEEP-MSFT commented on #47372
@v-akhana  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 02:56] CHEEKATLAPRADEEP-MSFT commented on #47379
@itsjusth  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2020-02-04 03:09] DixitArora-MSFT commented on #47169
@ryanspletzer I have assigned this to content author for further review and update as appropriate.

[2020-02-04 03:10] DixitArora-MSFT commented on #47377
Hi @jimmcslim Thanks for reaching out. We will review and update as appropriate.

[2020-02-04 03:13] elarrieux commented on #47274
This examples are not using the latest Azure SDK:

https://docs.microsoft.com/en-us/dotnet/api/azure.storage.queues?view=azure-dotnet

[2020-02-04 03:14] CHEEKATLAPRADEEP-MSFT commented on #47236
@barisbikmaz  Thanks for sharing the document. We are investigating and will update you shortly.

[2020-02-04 03:19] TravisCragg-MSFT commented on #46811
@Poolshark314 As was discussed in [#46142](https://github.com/MicrosoftDocs/azure-docs/issues/46142), There is not a native solution to do this from Azure, and you will need to use Dynamic DNS. I see that you have already enabled it on the VMs via GPO. I also assume you have already created the reverse lookup zone on the DNS Server.

To go forward, you will need to troubleshoot why your VMs are no

[2020-02-04 03:22] FrankHu-MSFT commented on #47280
@dpaulino thanks for pointing that out, it looks like the devops page will be updated accordingly, and it will be possible to use adal or msal. That being said I will be closing this out by end of day tomorrow. Please let us know if you have any other concerns.

[2020-02-04 03:30] CHEEKATLAPRADEEP-MSFT commented on #47343
@bigdatamoore The PowershellGet module on your machine seems to be outdated.

Please install the latest version first.

`install-Module PowerShellGet –Repository PSGallery –Force`

**Important:** Please do close and re open the powershell console to load the updated module.

Then try

`install-Module Az.Storage -Repository PSGallery -RequiredVersion 1.9.1-preview –AllowPrerelease –AllowClobber –Fo

[2020-02-04 03:37] Haritha-Nuthi commented on #47142
@ChristopherHouser :
This is the way we tried for SSL in logicapps.

Installed SSL certificate in a VM and IP address of the VM was whitelisted from MQ server side. Now we could able to connect to MQ server from VM using command prompt. Now we installed a gateway in the same VM and tried connecting to MQ using the Gateway from logicapps. But Logicapp fails with error - 'The server requires an SSL

[2020-02-04 03:49] ram-msft commented on #47376
@greglandrum Thanks for the question. We are investigating the issue and will update you shortly.

[2020-02-04 04:09] AshokPeddakotla-MSFT commented on #44636
Thanks Kelly for updating the doc.
@Mat-pa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 04:09] #44636 closed

[2020-02-04 04:10] AshokPeddakotla-MSFT commented on #44894
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 04:10] #44894 closed

[2020-02-04 04:18] SnehaAgrawal-MSFT commented on #47102
@jwisener Azure App Service Platform doesn’t support any kind of orchestration for multiple swap operations. You need to implement it using your choice of deployment.

The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) and upvote it. The product group monitors this site for feedback. This is the best way to ensure you a

[2020-02-04 04:18] #47102 closed

[2020-02-04 04:22] msereda commented on #47345
Thanks @yoelhor, didn't even notice the uri changed.  I've given it a try and was able to upload policies again.  Unfortunately I've run into a number of differences in css, layout and string presentation once moving to 2.0 so I've had to revert back (at least temporarily), but those are unrelated to the original question so I'll close this item.

[2020-02-04 04:22] #47345 closed

[2020-02-04 04:33] AshokPeddakotla-MSFT commented on #45893
@JimacoMS3 Thanks for an update.

[2020-02-04 04:45] gsxmax opened #47380 "Need more details about how to do any troubleshooting or where to look for issues"
-If we try to use the previous SP and secret, it will located in ~/.azure/aksServicePrincipal.json if we create the cluster by using "az aks create" command, could you please mentioned this as well in "https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-existing-service-principal-expiration" ?
-Could you please add this Error msg to Troubleshooting page, this means the SP is expir

[2020-02-04 04:47] ram-msft commented on #47204
@digipato Raised PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/103226 for the below source code update in section "Read printed and handwritten text" for Call the Recognize API .
![image](https://user-images.githubusercontent.com/49180516/73714445-e68c9380-4736-11ea-93aa-0357cf3d6cf2.png)

[2020-02-04 05:00] VikasPullagura-MSFT commented on #47378
@georgeAccnt-GH Thanks for the Feedback. I have assigned the issue to content author for checking and enhancing the document to clarify the confusion.

[2020-02-04 05:01] VikasPullagura-MSFT commented on #47378
@ju-shim Can you please look into this and add your comments.

[2020-02-04 05:05] Pariyat opened #47381 "No Manage Action Group found in Budget in my Azure portal"
[Enter feedback here]
When setting budget alert in my portal I cannot find Manage Action Group as shown in the documentation:

![image](https://user-images.githubusercontent.com/15192217/73715464-9a494f80-4746-11ea-97dd-6074a3b84e44.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5

[2020-02-04 05:13] SwathiDhanwada-MSFT commented on #47381
@bandersmsft  Can you please review and update the document accordingly?

[2020-02-04 05:15] AlexanderTodorovic commented on #47032
With  Save-Module MsOnline and then Import-Module -Name all works fine and
Connect-MsolService can be successfully invoked. Thank you!

[2020-02-04 05:15] #47032 closed

[2020-02-04 05:16] jakaruna-MSFT commented on #47302
ok.  By default the admin account expires in 30 days.

If you feel that expiry date cane be extended, Then raise a feedback here https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

Community can upvote this feedback and product teams look into this list to build their backlog.

[2020-02-04 05:16] jakaruna-MSFT commented on #47302
I will close this out for now. If you need additional help please open a new issue.

[2020-02-04 05:16] #47302 closed

[2020-02-04 05:22] ganesh-gawande commented on #46942
Hi,

I am trying as per above response and here are observations -

Here is how my solution structure

![image](https://user-images.githubusercontent.com/12989060/73715852-51d86480-473b-11ea-9334-dfd60593636f.png)

**Case 1:**
If I run the project IotEdgeModule1 - where the deployment json file is not present - then iotedgehubdev would start with input1 handler. Here is output of Visual studio con

[2020-02-04 05:24] jakaruna-MSFT commented on #47200
ok.  I tried that the same in my environment and it worked. When i created a PV., It created a random storage account on the same MC_* resource group.

We dont have an option to mention the resource group while creating the storage class. Reference is [here](https://kubernetes.io/docs/concepts/storage/storage-classes/#azure-file)

From the error you got, It seems like the secret is not created pro

[2020-02-04 05:24] jakaruna-MSFT commented on #47002
@pplavetzki is there any update

[2020-02-04 05:25] jakaruna-MSFT commented on #46908
I will close this out for now. Sent out a email as per the above comment and then we will work towards resolving the issue with Azure support's help.

[2020-02-04 05:25] #46908 closed

[2020-02-04 05:26] jakaruna-MSFT commented on #46871
I will close this out for now. Sent out a email as per the above comment and then we will work towards resolving the issue with Azure support's help.

[2020-02-04 05:26] #46871 closed

[2020-02-04 05:26] jakaruna-MSFT commented on #46893
Good to know that your issue is resolved.

If you face any new issues, open a new issue

[2020-02-04 05:26] #46893 closed

[2020-02-04 05:31] VikasPullagura-MSFT commented on #47380
@gsxmax Thanks for the Feedback. I have assigned the issue to content author for updating the document.

[2020-02-04 05:31] VikasPullagura-MSFT commented on #47380
@mlearned Can you please look into the doc update request and add your comments.

[2020-02-04 05:31] madhur02 opened #47382 "Getting Container image expired error."
fail: Microsoft.CloudAI.Containers.Http.CloudClient[0]
ocr_1  |       Failed to reach endpoint. Trying 9 more times.
ocr_1  | fail: Microsoft.CloudAI.Containers.Http.CloudClient[0]
ocr_1  |       Failed to reach endpoint. Trying 8 more times.
ocr_1  | fail: Microsoft.CloudAI.Containers.Http.CloudClient[0]..

This container image is expired. Please update to a new container image version.

I am usi

[2020-02-04 05:32] paulbouwer commented on #47088
@michaelschmit Good catch on the invalid NSG security rules 👍. There are a few things happening here.

From: [AKS | Concepts | Azure network security groups](https://docs.microsoft.com/en-us/azure/aks/concepts-security#azure-network-security-groups)

So, AKS will automatically update the NSG with the port and ip address of a Kubernetes Service of type LoadBalancer.

If you look at the [values.yaml

[2020-02-04 05:34] sujayvsarma commented on #46431
#feedback #azurecxp
Issue handling feedback: The team took an inordinately long time [15 days!] to respond to this question.

[2020-02-04 05:34] #46431 closed

[2020-02-04 05:36] isaacgonzalez77 commented on #46908
Ok thank you will do. I thought I followed the guide and gave correct permissions so I threw my hands up.

Thanks,
Isaac

[2020-02-04 05:40] DreamRivulet commented on #16481
@dkkapur  Is there any plan to allow ACI container to mount azure file share with options like AKS?
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid=1000
  - gid=1000
  - mfsymlinks
  - nobrl
  - cache=none

[2020-02-04 05:41] afield1235 opened #47383 "Missing instructions"
SAML User ID is Wdesk Username must be enabled under SAML Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95c8ba92-e2b3-b7f6-0084-d3116c5f683b
* Version Independent ID: 0a98cb7b-b8f2-781e-6317-fda644c65651
* Content: [Tutorial: Azure Active Directory integration with Wdesk](https://docs.microsoft.com/en-us/azu

[2020-02-04 05:42] RohitMungi-MSFT commented on #47205
@DavidRayner We can confirm that the timeout parameter is not supported for this method. Our team is working to fix the error message you received to an appropriate response.

Also, requesting 50k calls in a single call might consume many system resources at the backend so an alternative could be to:

- Reduce the amount of items requested per call and/or the cost of the operation (i.e. avoid cust

[2020-02-04 05:44] paulbouwer commented on #46443
@johnrkriter Thank you for raising visibility around this issue. It looks like this issue has been fixed and will be available in the next release of Istio.

I don't believe that these docs are the appropriate place to document current issues with Istio. It is a fast moving project and the links to the Istio GitHub repo should help most folks find answers to relevant Istio related issues.

If ther

[2020-02-04 05:50] paulbouwer commented on #42128
@kyanagimoto - I always tend to use the Azure CNI `--network-plugin azure` option, but I don't remember there if there were issues with `kubenet`.

Are you happy to close this issue?

[2020-02-04 05:55] PrometheusRising1 commented on #43535
Any further thoughts on the topic?

[2020-02-04 06:02] johnrkriter commented on #46443
@paulbouwer  I agree with your assessment. Based on your preferences, I see no reason this issue should remain open.

[2020-02-04 06:02] #46443 closed

[2020-02-04 06:02] pplavetzki commented on #47002
@jakaruna-MSFT I haven’t been able to troubleshoot. Hopefully tomorrow.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jakaruna-MSFT <notifications@github.com>
Sent: Monday, February 3, 2020 9:24:34 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Paul Plavetzki <paul@pareidolia.io>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2020-02-04 06:05] VikasPullagura-MSFT commented on #47088
@paulbouwer Thanks for providing the details.

[2020-02-04 06:06] DavidRayner commented on #47205
There's a limit of 1,000 per call. If I try 50 calls of 1000 papers each or 200 calls with 250 each then I still get the error - even if I wait for a few seconds between each call

[2020-02-04 06:10] mike-urnun-msft commented on #46905
@DanieleG90 Glad to see that things have worked out for your setup. I'd still be cautious about using parameters from an old connector as they might eventually get deprecated and lose support.

Since there aren't any changes required for this doc, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discuss

[2020-02-04 06:10] #46905 closed

[2020-02-04 06:11] KalyanChanumolu-MSFT commented on #47352
@BenWhite27 Thank you for the feedback.
This specific example demonstrates creating a single ToDo item and hence the use dynamic array is not shown.
You shouldn't run into any compilation errors though.

[2020-02-04 06:13] JedenFalls commented on #20737
first I found by command **az network profile list --query [].name -o tsv** name of phantom network profile(which I can't delete), e.g it was **aci-network-profile-my-container**

when I go to terrafom(because az cli doesn't have command to create network-profile separate from the container group) and done terraform apply for below resource:

     resource "azurerm_network_profile" "error-containe

[2020-02-04 06:18] CHEEKATLAPRADEEP-MSFT commented on #47382
@madhur02  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2020-02-04 06:20] SnehaAgrawal-MSFT commented on #47300
@QuetzalcoatlRosso Thanks for asking question! To elaborate on this search score is computed based on statistical properties of the data and the query. As mentioned in doc you can set [Interpolations.](https://docs.microsoft.com/en-us/azure/search/index-add-scoring-profiles#bkmk_interpolation) This will allow you to set the shape of the slope used for scoring.

[2020-02-04 06:25] SumanthMarigowda-MSFT commented on #47111
@bladerunner41 You may open a support ticket with our technical team for much detailed analysis of the issue: http://azure.microsoft.com/en-us/support/options/
If you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email toAzCommunity[at]Microsoft[dot]com referencin

[2020-02-04 06:33] nehaoberoi26 commented on #31372
do we have a way to import function app in apim via PowerShell now ?

[2020-02-04 06:38] paulbouwer commented on #47088
Another option is to patch the `istio.aks.yaml` contents in the [AKS Istio Install docs](https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux#install-istio-components).

So add `gateways.istio-ingressgateway.ports` under the `spec.values` section:

[code]

I still believe that the Istio install should not render the grafana port if `grafana.ingr

[2020-02-04 07:00] AshokPeddakotla-MSFT commented on #46512
@aros1697 Did you get a chance to see the above response? Do let us know if you have further questions.

[2020-02-04 07:00] AshokPeddakotla-MSFT commented on #46512
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 07:00] #46512 closed

[2020-02-04 07:05] jakaruna-MSFT commented on #44396
I will close this out for now. Please send an email like mentioned in the above comment.

[2020-02-04 07:05] #44396 closed

[2020-02-04 07:19] yashwanth-yenugu commented on #47330
I tried to run the relaying party policy, but I got the error which I mentioned above.

[2020-02-04 07:20] yashwanth-yenugu commented on #47330
I tried to run the relaying party policy, but I got the error which I mentioned above.

[2020-02-04 07:49] gsxmax opened #47385 "Docs need to be updated"
1. kubectl get clusterrolebindings default:privileged -o yaml will not working
2. We do not need to apply below manually, the place where this doc put it was misleading user.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  [...]
  name: default:privileged
  [...]
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: psp:privileged
subjects:
- apiG

[2020-02-04 07:58] johanburati opened #47386 "Support for RHEL 8 and Ubuntu 19"
Any ETA on when RHEL 8 / Ubuntu 19 will be supported by ADE ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 358673f9-fd9a-3357-bf50-4d9b7fbe6cc6
* Version Independent ID: a4978908-6539-17f7-8fb6-3d88cad7237c
* Content: [Enable Azure Disk Encryption for Linux VMs - Azure Linux Virtual Machines](https://docs.microsoft.c

[2020-02-04 08:14] andreas-wilm opened #47387 "Missing chmod: bad mode for /home/$USER/.ssh/authorized_keys"
Hello there,

regarding the key access (https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/setup-mpi#set-up-ssh-keys-for-mpi):

on most systems (depends on the umask), the newly created file `/home/$USER/.ssh/authorized_keys` will have world read permission. A login with key will then fail with the following (/var/log/secure on Ubuntu): `sshd[pid]: Authentication refused: bad ow

[2020-02-04 08:26] loopfish commented on #46785
@RyanHill-MSFT indeed that has worked for me. I did in fact have 'All Subscriptions' checked in the global subscription filter, but the route I took was via the 'App Services' blade, but I had only the relevant subscription in the filter drop-down at that stage.

[2020-02-04 08:35] jakaruna-MSFT commented on #47002
ok

[2020-02-04 08:40] JasSuri commented on #47368
It’s because you only run the REST API as part of the validation technical profile inside the LocalAccountSignUpWithLogonEmail technical profile. This technical profile is not run during sign in so the loyalty number claim does not appear in the token.

If you want to return the loyalty number at sign in, you’d add a validation technical profile to the sign in technical profile referencing the app

[2020-02-04 08:47] JasSuri commented on #47330
You cannot test SAML policies from the portal.

You need to use a test application such as your own or this: https://samltestsp.azurewebsites.net/SP

Article needs correcting.

[2020-02-04 08:49] CHEEKATLAPRADEEP-MSFT commented on #47182
@michaelhambe Since this feature is currently in preview.
Unfortunately, you cannot use Azure CLI to create a directory because the `az storage blob directory create` is not yet available using Azure CLI.

![image](https://user-images.githubusercontent.com/44426401/73727953-755dd800-4758-11ea-88f4-50762d734548.png)

I would request you to use **Azure CloudShell** to use this feature.

**Note:** `a

[2020-02-04 08:52] fgheysels commented on #47235
@lyrana: I will open a ticket shortly.

In the meantime, I've also deployed a TSI PAYG resource via the Azure Portal.  I can see the values 'out of the box', just like in your screenshot, but they're limited to `telemetry_value` and there's no distinction per tag, where this is the case with the GA version of TSI.   When I want to distinguish between fuel & heading in my example, I'll need to crea

[2020-02-04 08:53] CHEEKATLAPRADEEP-MSFT commented on #47182
@normesta `az storage blob directory create`  cmdlet is not available in Azure CLI.

I'm using latest Azure CLI version and "Storage-Preview" extension is already install.

![image](https://user-images.githubusercontent.com/44426401/73728606-a7bc0500-4759-11ea-8f96-fd6a8198d5fa.png)

Could you please look into this issue and update the document asap.

[2020-02-04 08:55] Ihavenowand commented on #47326
More information re this issue available here: https://social.msdn.microsoft.com/Forums/azure/en-US/41655737-cfab-4b97-a359-2626c96219b5/dynamic-mapping-in-copydata-activity-for-rest-api-gt-adls?forum=AzureDataFactory

[2020-02-04 09:04] SwathiDhanwada-MSFT commented on #46691
@bwren @rboucher @yanivlavi  Can you please provide your insights on this?

[2020-02-04 09:04] BenWhite27 commented on #47352
Hi @KalyanChanumolu-MSFT
I didn't get any compilation errors, but I did get runtime errors with something to the effect of "One or more of the parameters are incorrect".

[2020-02-04 09:05] jakaruna-MSFT commented on #46810
@kjanss ok got it. Thanks for the info.
While creating a cluster using terraform, Providing service principal is mandatory and in that case Azure wont add permissions on its own.

If we create a cluster using cli or via portal without providing a service principal, Then it creates a service principal and adds the required permissions for the MC_* cluster.

If you are creating the load balancer in

[2020-02-04 09:11] souravmishra-msft commented on #47029
Closing this thread for now

[2020-02-04 09:11] #47029 closed

[2020-02-04 09:12] typesafedev commented on #30541
We're still experiencing this "runtime does not start" issue on 1 of our 6 deployed FunctionApps. The workaround right now is to remove that block in host.json and restarting the FunctionApp.

[2020-02-04 09:16] KamilRosinski commented on #47332
Some debug info, where you can find the endpoint, my app was trying to connect to
![azure_01](https://user-images.githubusercontent.com/17875545/73730567-42571c80-4737-11ea-84cd-0c69abb13951.png)

[2020-02-04 09:26] anielii opened #47388 "TrustFrameworkPolicy_0.3.0.0.xsd is out of date"
Hi,

In the 'XML editing' section you suggest to validate policies againt TrustFrameworkPolicy_0.3.0.0.xsd. Unfortunately, the file is out of date. Could you please upload a new version of the file?

Best Regards,
Andrzej Nielipiński

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57132591-358a-b8c1-73ef-6d7512a38d32
*

[2020-02-04 09:33] SubhashVasarapu-MSFT commented on #47005
@dcbrown16 , Appreciate your patience. This type rule set can be used by someone if they want to set priorities on there inbound traffic.
![image](https://user-images.githubusercontent.com/44890829/73729626-63c9ff80-475b-11ea-82b9-8bc38675ef1a.png)
In the above mentioned rule set, 100 & 110 will allow traffic from loadbalancer and gateway manager and denies all other traffic as 4096 drops all. 650

[2020-02-04 09:36] jtuliani commented on #44504
Thank you @zhusulai

@FrankHu-MSFT please can we get the doc updated to capture this?

[2020-02-04 09:41] SwathiDhanwada-MSFT commented on #44546
@stevestein Can you please provide your insights on this issue?

[2020-02-04 09:42] VikasPullagura-MSFT commented on #47252
@jluk Thanks for providing the details.

[2020-02-04 09:43] VikasPullagura-MSFT commented on #47252
@ohorvath Hope the above provided information helped.
I will now close this issue. We will track this in the linked issue.

[2020-02-04 09:43] #47252 closed

[2020-02-04 09:49] SubhashVasarapu-MSFT commented on #46938
@lucidqdreams , How about checking you ASP.net app on your local machine. Could you please confirm whether you are able to host your app locally.

[2020-02-04 10:08] AshokPeddakotla-MSFT commented on #47094
@baanders Thanks for an update.
@dominicbetts Please review this and provide update the doc. It would be great if the meta data also be changed.

[2020-02-04 10:08] SumanthMarigowda-MSFT commented on #47079
@ololoru The PR request has been raised!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 10:08] #47079 closed

[2020-02-04 10:11] michaelhambe commented on #47182
Thank you.

Any idea when it will hit general release?

Mike

Michael Hambe
Data Scientist

The Weir Group PLC
1 Marden Street
Artarmon, NSW 2164
Australia

T +61 2 8081 7452
M +61 437 936 604
michael.hambe@mail.weir<mailto:michael.hambe@mail.weir>
global.weir
Twitter <http://twitter.com/weirgroup> | Facebook<http://www.facebook.com/WeirGroup> | YouTube<http://www.youtube.com/user/WeirMineralsDivi

[2020-02-04 10:15] AshokPeddakotla-MSFT commented on #46641
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-02-04 10:15] #46641 closed

[2020-02-04 10:16] SumanthMarigowda-MSFT commented on #47274
@samjones00  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-04 10:20] dedvds opened #47389 "Azure ML service pricing link is dead"
The link to the pricing details of azure ml service is broken:

https://azure.microsoft.com/en-us/pricing/details/machine-learning/

[2020-02-04 10:32] jakaruna-MSFT commented on #47387
@andreas-wilm Thanks for the feedback.

@Potapy4 raised a pull request to fix this issue.

[2020-02-04 10:37] CHEEKATLAPRADEEP-MSFT commented on #47383
@afield1235  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 10:38] CHEEKATLAPRADEEP-MSFT commented on #47385
@gsxmax  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 10:38] Lukasz994 opened #47391 "Get-User limited output"
Hey,
I've been trying to fetch all users from B2C using Azure AD Graph API but it seems I can only retrieve 100 users at a time. Is there a way to fetch all?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use

[2020-02-04 10:40] CHEEKATLAPRADEEP-MSFT commented on #47386
@johanburati  Thanks for the question! We are investigating and will update you shortly.

[2020-02-04 10:48] Lukasz994 commented on #47391
Never mind, I've actually answered my own question.
https://docs.microsoft.com/en-gb/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-supported-queries-filters-and-paging-options

[2020-02-04 10:49] #47391 closed

[2020-02-04 10:50] amanmcse commented on #47065
@Schenz By looking at this error, it is very difficult for me to figure out what is going wrong. I tried to repro the issue at my end but I didn't encountered any problem and was able to successfully create social and social&local accounts. I would suggest you to send an email at azcommunity[at]microsoft[dot]com and I will get one time free support ticket opened for you.
I am proceeding with closu

[2020-02-04 10:50] #47065 closed

[2020-02-04 10:56] Dmitry-Me opened #47393 "Jan 2020 Guest OS description probably comntains wrong update annotation"
Here https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases#january-2020-guest-os

There's this table row

    Rel 20-01 | 4530691 | Non-Security | 3.81 | Dec 10, 2019

and there's a link https://support.microsoft.com/kb/4530691 under "4530691". When I follow the link I get here: https://support.microsoft.com/en-us/help/4530691/windows-server-2012-update-kb45306

[2020-02-04 10:58] jakaruna-MSFT commented on #47387
@Potapy4 Thanks for your contribution

[2020-02-04 10:59] jakaruna-MSFT commented on #47387
@andreas-wilm
I will close this out for now. Once the document author approves the pull request, Changes will reflect on the document.

[2020-02-04 10:59] #47387 closed

[2020-02-04 11:05] devoto13 opened #47394 "The update does not seem to preserve all the parameters"
The page claims that:

But this does not seem to be the case. Running the command to update the image erased environment variables and port bindings, which existing container had.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df5263d2-e8da-ad3e-efcc-03c0a1088849
* Version Independent ID: bbb97f05-ca9a-1558-a95e-bca1fe

[2020-02-04 11:12] JasSuri commented on #47225
There is a way to get msal to change the authority and re-auth to a different policy. @jennyf19 did we have a newer js sample?

[2020-02-04 11:13] misterspeedy opened #47395 "Tutorial steps appear to 'leak' a resource."
If I follow the steps on this page, drop the namespace with `kubectl delete namespace ingress-basic `, then repeat the steps, I get

    Error: rendered manifests contain a resource that already exists. Unable to continue with install: existing resource conflict: kind: ClusterRole, namespace: , name: nginx-ingress

...at the `helm install nginx-ingress stable/nginx-ingress...` step.

This means th

[2020-02-04 11:13] #45533 closed

[2020-02-04 11:15] devoto13 commented on #38067
@dlepow Can you point me out where is this mentioned in the doc? As I don't seem to be able to find it.

I had to specify  `--memory 2` to overcome the error mentioned in the original issue, because existing container used 2 GB instead of default 1.5. Judging from this and https://github.com/MicrosoftDocs/azure-docs/issues/47394 it feels like none of the properties are re-used and all of them have

[2020-02-04 11:26] devoto13 commented on #47394
Here is a reproduction. I create a container using:

     az container create --resource-group my-group --name dummy --image nginx:stable --memory 2 --ports 80 443 --dns-name-label dummy

Now I can verify that it has ports and DNS label assigned correctly. Then I run a command to update the image:

    az container create --resource-group my-group --name dummy --image nginx:latest

It fails becaus

[2020-02-04 11:45] RohitMungi-MSFT commented on #47389
@dedvds Thanks for reporting. We are checking with our team to fix this.
You can use the Azure pricing [calculator ](https://azure.microsoft.com/en-in/pricing/calculator/) in the interim to check the pricing for all our services.

[2020-02-04 12:26] femsulu commented on #46975
Sorry for the delay, @cananac , AFAIK, configuration via portal / agent are the only available options. At this time, there's no API. If this is a feature you would like to see supported, we suggest sharing the feedback directly with the feature owner using this [link](https://feedback.azure.com/forums/913690-azure-monitor) so the community can review and upvote your suggestion.

[2020-02-04 12:27] femsulu commented on #46975
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-02-04 12:27] #46975 closed

[2020-02-04 12:29] TaekeK opened #47396 "Retrieve email via multi-tenant AAD federation"
The documentation is missing how to retrieve the email claim, so the email address can be stored in the B2C directory and for example account linking on email address / upn with multi-tenant AAD can be implemented.
With the v2.0 endpoint the email address is not provided by default, anymore. One must add API permission Microsoft Graph email to the multi-tenant app and expand the scope in the polic

[2020-02-04 12:32] bigdatamoore commented on #47343
Thanks. That worked.

[2020-02-04 12:32] #47343 closed

[2020-02-04 12:32] jakaruna-MSFT commented on #47394
@devoto13
You need to all the flags during update also.

If we leave some, Then container instances will be configured according to the latest command. ie erases the flags which are not there in the current command

I know that this will be difficult to maintain the all those flags in azure cli.

Suggested option is to create a ACI with yaml file.  You can also export a yaml out of the existing AC

[2020-02-04 12:36] jakaruna-MSFT commented on #47394
Yaml reference is [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml)

Doc to create a ACI using yaml is [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml)

[2020-02-04 12:38] jakaruna-MSFT commented on #47385
@gsxmax
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-04 12:38] scottluskcis commented on #47368
Thanks for the response @JasSuri , can you tell me which technical profile is the sign in technical profile I should use? I assume the steps would be the same as step 5 where the validation is added for **LocalAccountSignUpWithLogonEmail**.

[2020-02-04 12:40] devoto13 commented on #47394
Thanks for the reply @jakaruna-MSFT. This is what I have suspected. But in this case the documentation should be updated as currently it sounds like all the existing configurations are preserved:

I thinks this should be very clear that it will reset all unspecified configurations to their default values. I find "and leave the remaining properties unchanged" very confusing.

I would rather expect

[2020-02-04 12:49] jesperilsoenielsen commented on #44396
@jakaruna-MSFT Thank you for getting back to me. I have acted on your advice and sent an email to Azcommunity@microsoft.com.

[2020-02-04 12:53] amanmcse commented on #47322
@unkn0wnvariable Thank you for pointing this out. I am updating the instructions. This thread will automatically be closed during the merger.

[2020-02-04 12:54] fabmas opened #47397 "Groups to assign administrator roles in Azure AD"
Unfortunately the assertion "You can use groups to assign administrator roles in Azure AD" is false. For instance you can't assign the "Global Administrators" role to a Group in Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e434b86-3ce5-0e90-1ad0-b7f35f4c88df
* Version Independent ID: 66d94ffb-9140-4960-ccb

[2020-02-04 12:56] dotnetgator opened #47398 "Please add a section that describes and illustrates the use of data-preload"
The data-preload option was added in the 1.2 version of the page layout contract: https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#120

There has been some uncertainty expressed in a few places about its use, what it does/does-not do, and very few examples. It would be helpful to include a section in here (following "Custom HTML and CSS section? Or perhaps after the Get star

[2020-02-04 13:15] scottluskcis commented on #47368
I see in related articles that I should be able to enrich the claims. I'm wanting to do this for every login by calling a REST service just like the steps walk through for sign up. I'm not finding a good example yet that shows how to accomplish this for sign in

[2020-02-04 13:25] amanmcse commented on #47396
@TaekeK  Thank you for pointing this out. I will update the instructions in the document.

[2020-02-04 13:30] pulakkumar599 opened #47400 "Cannot find UWP in Visual Studio 2019 16.4.3 version. How to create a UWP project in visual studio 2019 16.4.3 version"
Cannot find UWP in Visual Studio 2019 16.4.3 version. How to create a UWP project in visual studio 2019 16.4.3 version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a67123-c21c-b7c0-4390-8e439acf9fb3
* Version Independent ID: 1553754f-2335-dffb-fad8-6ad8c71cac77
* Content: [Quickstart: Custom voice assistant, C# (UW

[2020-02-04 13:42] moussaillon20 commented on #47200
You are right the problem was due to the absence of a secret. Now it is working fine.
Thank you for your quick support.

[2020-02-04 13:46] DixitArora-MSFT commented on #47219
@andrewleader PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 13:48] #47219 closed

[2020-02-04 13:56] #47299 closed

[2020-02-04 13:57] NavtejSaini-MSFT commented on #47214
@nilopmsft Yes it is as we can add a note to the document if that is the case.
@anosov1960 Please review the document and provide feedback.

[2020-02-04 13:58] Dosh73 commented on #36323
Hi. I am receiving the same "Oops! We encountered an unexpected error while saving your data. Please try again later." error when verifying an account.

My email address contains an apostrophe.

[2020-02-04 14:02] rrg92 opened #47401 "Null Value"
the doc is not clear about null values. Expressions and template supports null values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b892ef5a-c427-2178-5c5f-013fa4f103d6
* Version Independent ID: a4d1351b-6a05-e978-f037-23723d13d7f9
* Content: [Template syntax and expressions - Azure Resource Manager](https://docs.mic

[2020-02-04 14:12] philipstreet-hiscox commented on #47062
According to Microsoft Support, the "Communication from Azure Traffic Manager" rule information is incorrect; it should be for port 454 instead of 443.

[2020-02-04 14:18] MavBoss86 opened #47402 "Security Defaults and Conditional Access coexistance"
I know that Security Defaults and Conditional Access cannot live together, but how can I enable conditional access only for few risky people and let the other users use the free policy belonged to the "security defaults"? For example: if I have 5 risky users that I want to protect with 5 P1 or P2 license and 200 normal users that can be protected with only the policy presents on the security defau

[2020-02-04 14:18] beniluul commented on #47074
Let me know if you need anything from me or have any more questions.

[2020-02-04 14:22] #47322 closed

[2020-02-04 14:25] hansmbakker opened #47403 "Unclear how to use caching with documented ARM template schema"
Caching is not covered in any of the documented api versions of the [front door ARM template schema](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2019-05-01/frontdoors).

Adding @tfitzmac since he is mentioned as author of the ARM template schema.

When exporting the template, it exports the caching configuration but that is using an undocumented API version (`2018-08-01`).

[2020-02-04 14:26] ctstone opened #47404 "Update table analyze result sample"
- remove `caption` field
- `header` should be `isHeader`
- `colIndex` should be `columnIndex`

Reference: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/FormRecognizer.json#L1119

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5fa2bcb-4ec

[2020-02-04 14:33] algattik opened #47405 "Clarify what are "cluster owners""
The role of a "cluster owner" is not documented at https://docs.microsoft.com/en-us/azure/databricks/administration-guide/access-control/cluster-acl .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e9dd357-6c96-72b0-5206-d0218f37b7f9
* Version Independent ID: 4c8be3aa-8fa7-79d9-154d-f0380b43b2b0
* Content: [Secrets -

[2020-02-04 14:35] th3ragex opened #47406 "Suggestion: Add description for debug python with IoT Edge Simulator"
The manual describing IoT Edge debugging possibility with VS-Code does not mention the option to debug python modules with the IoT Edge Simulator.

Chapter: "Debug in attach mode with IoT Edge Simulator (C#, Node.js, Java, Azure Functions)"
excludes python more or less explicitly.

Also 'https://github.com/Azure/iotedgedev' states:

Nonetheless, I managed to debug my python modules with the Simula

[2020-02-04 14:48] Lukasz994 commented on #44920
Is there any roadmap for this migration process? We'd like to move towards MS Graph in all of our B2C work but there is no documentation which could allow us to do so.

[2020-02-04 14:55] ctstone opened #47408 "Update JSON sample"
- `fieldName` is not a valid documentResult field.
- `elements` should be an array of strings, not objects.

Reference:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/FormRecognizer/preview/v2.0/FormRecognizer.json#L1251

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-04 14:57] JasSuri commented on #47368
@scottluskcis rather than think of this as a sign in or sign up concept, its more a generic concept and this article is an example which can be applied to any case. a [Validation Technical](https://docs.microsoft.com/en-us/azure/active-directory-b2c/validation-technical-profile) profile can be configured to execute (by its presence in the xml) when a user submits a selfAsserted technical profile.

[2020-02-04 15:07] bartlettdn opened #47409 "There is no extension field for office phone"
Our organization is deploying MFA where some users want to choose their office phone as the authentication method. When setting up, the extension field is missing but it is displayed in the first picture of this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49832968-44f0-ead6-995d-c01deebabd88
* Version Inde

[2020-02-04 15:12] garimpeirodouniverso commented on #43570
Hello @grayjeremy , did you accomplish the SSH connection with the App Service in a non-interactive way? If yes, how so?

From what I understand, `az webapp create-remote-connection` will show different ports each time, so did you have to parse the output in order to connect to SSH?

Thanks in advance!

[2020-02-04 15:18] SwathiDhanwada-MSFT commented on #47401
Thanks for your comment. We are actively looking into it and will get back to you shortly.

[2020-02-04 15:25] eross-msft commented on #46930
@Justin-Nash  This article isn't intended to address the administrator-related issues. You can find more information about the administrator side of authentication here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/.
With that being said, app passwords are only intended to support apps that don't yet use two-factor verification. As soon as you block legacy authentication,

[2020-02-04 15:27] eross-msft commented on #46930
@neeleshray-msft @Justin-Nash If you have further end-user related questions, this article has moved to another writer, @curtand who should be able to help you.

#please-close

[2020-02-04 15:27] #46930 closed

[2020-02-04 15:36] ChrisB9907 opened #47411 "Azure Active Directory Powershell isn't included in Microsoft Azure Management"
Hello,

After reading the article [Manage access to Azure management with Conditional Access](https://docs.microsoft.com/en-us/azure/role-based-access-control/conditional-access-azure-management) and testing with conditional access I believe there is either an error in the article or clarification is needed.

The part about Azure PowerShell being included when adding this cloud app in a Conditiona

[2020-02-04 16:01] mmacy commented on #44920
I'm working on this now, @Lukasz994. I am hesitant to provide a date as there are sometimes unforeseen circumstances that can cause a slip (and thus additional frustration), but this is my top priority at the moment. I do appreciate your patience!

[2020-02-04 16:05] peterbud opened #47413 "Does TTL deletion cost RU?"
There is a contradiction in the page:
* First it states that TTL deletion costs RU:

* Later document states that TTL deletion is free:

Could you pls maybe clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb9ccc0-c5d5-79aa-420d-1add5370b580
* Version Independent ID: ccd307b6-898c-1e21-1201-1257ae3f0979
* Conte

[2020-02-04 16:08] mmacy commented on #46761
@Norrch2 Have you had a chance to review the article that @JasSuri linked? If you're all set on this, I'll move to have the issue closed.

[2020-02-04 16:08] GiftA-MSFT commented on #47158
@johnwildes I'll proceed to close this thread, but let us know if you have any concerns. Thanks.

[2020-02-04 16:08] #47158 closed

[2020-02-04 16:10] GiftA-MSFT commented on #47158
@vijetajo please consider incorporating this feedback to enhance the document. Thanks.

[2020-02-04 16:10] ccg-ahagen opened #47415 "Missing package import"
To schedule a pipeline with this method we need to import the necessary packages.  This line should be added in the "Create a Schedule" section.

from azureml.pipeline.core.schedule import ScheduleRecurrence, Schedule

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0873373-90d0-b221-35be-8e243425cdbe
* Version Independ

[2020-02-04 16:10] ajklotz commented on #47369
Thank you @DixitArora-MSFT, please let me know if you need any more information.

[2020-02-04 16:13] CHEEKATLAPRADEEP-MSFT commented on #47388
@anielii  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 16:13] GiftA-MSFT commented on #47353
@zaalion please refer to the above response. We will now proceed to close this thread. Thanks.

[2020-02-04 16:13] #47353 closed

[2020-02-04 16:15] GiftA-MSFT commented on #47223
@erhopf can you please provide your input on this? Thanks.

[2020-02-04 16:16] SumanthMarigowda-MSFT commented on #47317
@vishalaj1 May I know what exactly are you trying to perform (Can you bit elaborate more on the issue)?

If you uploading file to Azure File you can use  Storage Explorer and Powershell https://azure.microsoft.com/en-in/features/storage-explorer/

[2020-02-04 16:17] michaelschmit commented on #47088
Thanks for the response Paul.

https://github.com/istio/istio/issues/20845

[2020-02-04 16:17] mbanck opened #47416 "Clarify private/public internet routing for vnets without private link"
The opening paragraph says "Azure Private Link essentially brings Azure services inside your private Virtual Network (VNet)". We are already using VNets, however, we also allow connection from the public internet. It is not clear from this page whether traffic from a Azure VM via VNet will be always be sure to go through the Azure backbone (even without Azure Private Link), or whether Azure Privat

[2020-02-04 16:19] CHEEKATLAPRADEEP-MSFT commented on #47400
@pulakkumar599  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communi

[2020-02-04 16:24] mmacy commented on #47270
@dotnetgator Thanks for your continued input, you've given some good food for thought on this. Just a note that this and some of your other recently raised issues needing larger edits might be sitting a bit until I have a chance to attend to them properly. Once I burn down my current queue of high-pri tasks, I can start digging into this and some of the others you've added/will add. Just wanted to

[2020-02-04 16:25] NavtejSaini-MSFT commented on #47413
@peterbud We are checking this and will get back to you.

[2020-02-04 16:27] mbanck opened #47417 "pg_prewarm and shared_load_libraries"
Azure Postgres does not expose the list of preloaded libraries (at least pg_stat_statements) to the user.

The pg_prewarm extension is in principle pretty useful in order to quickly regenerate caches after a server restart (which can happen anytime in a cloud environment). However, pg_prewarm needs to be preloaded (from v11 on) for this to be automatic, and this information is (as far as I can tel

[2020-02-04 16:29] RyanHill-MSFT commented on #45879
#please-close

[2020-02-04 16:29] #45879 closed

[2020-02-04 16:32] YutongTie-MSFT commented on #47271
@MatthewSteeples
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-02-04 16:32] #47271 closed

[2020-02-04 16:33] bartvermeersch opened #47418 "Info is limited to AADC sync, info on AADC Cloud provisioning is missing"
This page is not only visible in the section https://docs.microsoft.com/en-us/azure/active-directory/hybrid/ but also in https://docs.microsoft.com/en-us/azure/active-directory/cloud-provisioning/
This is confusing since it only discusses the attributes synced by "Azure AD Connect sync" (hybrid section), not "Azure AD Connect Cloud provisioning" (cloud provisioning section).

It is not clear which

[2020-02-04 16:34] dotnetgator commented on #47270
Absolutely understood @mmacy . Very happy to hear the content is helpful. Please let me know if I can offer any other assistance.

[2020-02-04 16:37] MaximeRastello opened #47419 "Security baselines are deprecated"
The section "If you have enabled a baseline policy, you should exclude your emergency access accounts." is inaccurate :
- Security baselines don't accept any exception, thus CA must be used for emergency accounts to be excluded (then it requires the appropriate licensing).
- Security Baselines are now deprecated and will be retired soon. The doc should be updated with new Security Defaults setting

[2020-02-04 16:40] tomconte commented on #46992
+1 same problem here. The documentation seems to imply that health probes/extensions are optional, but I am getting the error "Automatic OS Upgrade is not supported for this Virtual Machine Scale Set because a health probe or health extension was not specified."

[2020-02-04 16:41] lucidqdreams commented on #46938
The image (  - image: "mcr.microsoft.com/dotnet/core/samples:aspnetapp") works fine, as I showed in the first comment, simply by changing the service that is mounted to the root I can see the container running the default webpage.  All I change is the ingress template.

from this
[code]
https://test.mydomain.com/ --> maps to --> frontend:80   (works)
https://test.mydomain.com/app/ --> maps to -->

[2020-02-04 16:43] YutongTie-MSFT commented on #47415
@ccg-ahagen
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-04 16:46] PirateBread commented on #41374
The `load_balancer_profile` block now supports defining outbound IP addresses. Tested and confirmed working as of today.

[2020-02-04 16:48] PirateBread commented on #41374
It's available in Terraform now so I think it's reasonably safe to assume it's available in the native ARM Templates.

[2020-02-04 16:48] RyanHill-MSFT commented on #47323
#please-close

[2020-02-04 16:48] #47323 closed

[2020-02-04 16:54] pramilgawande commented on #40048
This has worked for me.
Thanks @roalexan

[2020-02-04 16:59] atg-dmayor commented on #42257
Might I recommend that attention is given to this link: https://docs.microsoft.com/en-us/microsoft-365/compliance/importing-pst-files-to-office-365#BKMK_NetworkUpload.  The instructions and the version of the AzCopy tool that are linked from these instructions do not align.  E.g. instructions say you should use /Source and /Dest parameters when in actuality you need to use the cp command.

[2020-02-04 17:03] #47213 closed

[2020-02-04 17:06] ggailey777 commented on #44958
@SychevIgor thanks for the heads-up!

[2020-02-04 17:12] ivanvpan opened #47420 "No infortmation about port configuration."
I think this article is missing an important bit. Your wordpress container is exposing port 8000, but the webapp serves on port 80. I do not see how following this document would make for a working webapp. Azure does not have an idea which port to serve. I might be wrong but following the instructions has not worked for me, I get an application error screen.

---
#### Document Details

⚠ *Do not e

[2020-02-04 17:23] a3diaz opened #47421 "How to fix domain duplication AAD without access to the another directory"
Recently we bought a domain a we would like to use it for our AAD, we can prove the property of that domain throughout a TXT record, however,  I getting an error indicating the domain is already verified in another directory and is needed to delete it first following [this steps](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain#verify-your-custom-domain-name),

[2020-02-04 17:26] Mike-Ubezzi-MSFT commented on #46987
@katie199 I have received some additional feedback from the product group. We'll update this issue when we have more information on the resolution, as this requires a fix to be deployed.

[2020-02-04 17:29] NavtejSaini-MSFT commented on #47416
@mbanck  We are checking this and will get back to you

[2020-02-04 17:30] aelmanaa opened #47422 "ARM documentation: please mention immutable properties"
Hi,

would it be possible to mention in ARM documentation which properties are not allowed to be updated? (so we don't spend time building ARM templates and then running into PropertyChangeNotAllowed issues)

example: https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-02-01/managedclusters

[2020-02-04 17:30] NavtejSaini-MSFT commented on #47417
@mbanck We are checking this and will get back to you.

[2020-02-04 17:32] CHEEKATLAPRADEEP-MSFT commented on #47393
@Dmitry-Me  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:34] CHEEKATLAPRADEEP-MSFT commented on #47395
@misterspeedy  Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:39] dlepow commented on #47282
@marckassay - Thanks for pointing out this issue! We'll review and plan a doc update in the near future.

[2020-02-04 17:43] dlepow commented on #47128
@jrebagliatti  - Thank you for pointing out this issue. I will make a doc update in the near future to mention the possibility of multiple VNets in the resource group.

[2020-02-04 17:43] rayne-wiselman commented on #40629
I think this is now fixed. I'm closing but feel free to reopen if you see any other issue. Thanks for your feedback to improve this article!

#please-close

[2020-02-04 17:43] #40629 closed

[2020-02-04 17:44] AshokPeddakotla-MSFT commented on #44809
We hope that answers your question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 17:44] #44809 closed

[2020-02-04 17:45] scottluskcis commented on #47368
Perfect, this is exactly what I needed. Thank you for your help @JasSuri appreciate it very much

[2020-02-04 17:46] marc-gmail-towersap commented on #47086
we must have a weird setup, I open dev.azure.com, it sends me to my play azure devops instance, not my company azure devops instance.  I delete it (it is my play one),  then go sign in, it creates a new play azure devops instance. and i am signed in as my company login (weird!)

[2020-02-04 17:46] FrankHu-MSFT commented on #47397
@fabmas Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:47] FrankHu-MSFT commented on #47402
@MavBoss86 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:47] FrankHu-MSFT commented on #47409
@bartlettdn Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:47] FrankHu-MSFT commented on #47411
@ChrisB9907 Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:47] FrankHu-MSFT commented on #47418
@bartvermeersch Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:47] FrankHu-MSFT commented on #47419
@MaximeRastello Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 17:48] AshokPeddakotla-MSFT commented on #45812
The documentation has been updated. Please refer and let us know if you have further questions.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-02-04 17:48] #45812 closed

[2020-02-04 17:48] marc-gmail-towersap commented on #47086
ok, now I can go to dev.azure.com/org so this might work!

[2020-02-04 17:49] dlepow commented on #47307
@jamesbannan - Sorry, I don't have specifics. This issue does appear on the Azure User Voice which product teams use to help prioritize service updates. Please feel free to upvote the [feature request](https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/36791416-msi-support-for-container-instances-inside-vnets)

[2020-02-04 17:49] amitkumarshukla commented on #47319
We don't have the python version of conversation transcription yet. We don't have any plans to add this in near future. If you have a business case, please reach to us and we can help you.

[2020-02-04 17:56] mimckitt commented on #44790
The Engineering team is aware of this issue and are working to identify the root cause of the problem. I do not have an ETA on when it will be resolved. That being said I am following up and based on the ETA we can update the documentation to use 2019 and add a note about Server 2016 or if the ETA is fairly short, we will provide it here and leave the doc as is.

In the meantime, if you are follow

[2020-02-04 18:03] rolyon commented on #44794
Hi @JDWNL
Let me know if you have any additional feedback. I plan to close this issue for now.
thanks

[2020-02-04 18:04] rolyon commented on #44794
#please-close

[2020-02-04 18:04] #44794 closed

[2020-02-04 18:05] Joel-Cripps opened #47423 "Verify SLB rule limits"
Under : /[azure-docs/blob/master/includes/azure-virtual-network-limits.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/azure-virtual-network-limits.md). Load balancing rules per resource are listed as 1500, which was the limit before. Now an error is generated saying the limit is 300. Can you verify these limits or indicate if there are separate limits dependent on the SKU etc

[2020-02-04 18:09] himanshusinha-msft commented on #47405
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-02-04 18:09] tesych commented on #47327
@iAnyKey, thank you for your question. It is not supported to take the device apart and we will no longer support it.

[2020-02-04 18:15] TomArcherMsft commented on #44332
This article is meant to be a starting point to show the basics of using Azure storage to save Terraform state. The plan is to add more articles in the future.

We’ll add to our documentation backlog your request to address more advanced scenarios in either a future version of this article or additional articles in a series on this subject.

Thanks for your feedback.

#please-close

[2020-02-04 18:15] #44332 closed

[2020-02-04 18:15] rajdhandus opened #47424 "Update the docs please"
"After registering the redirect URLs, under Advanced settings, select the options Access tokens and ID tokens and then save your changes." - Not accurate anymore in the recent UI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d09442-55a1-6ee5-8ac9-fd5e7ca06e87
* Version Independent ID: e7f2e287-8b0e-a75e-dc66-7dbd3c0

[2020-02-04 18:16] rayne-wiselman commented on #44197
I've updated this page with a table summarizing Azure permissions. The change should show up later today. Let me know if there's anything else.
#please-close

[2020-02-04 18:16] #44197 closed

[2020-02-04 18:32] YutongTie-MSFT commented on #47404
@ctstone
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-04 18:35] lobrien commented on #47415
Great feedback! Making the changes... @assign lobrien

[2020-02-04 18:36] andrewleader commented on #47219
@DixitArora-MSFT the property tables also need to be updated (that PR only updated the sample JSON, the rest of the doc needs to be updated)

[2020-02-04 18:36] YutongTie-MSFT commented on #47408
@ctstone
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-04 18:37] BryanTrach-MSFT commented on #47420
@ivanvpan Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-04 18:41] KrishnaG-MSFT commented on #47140
@ArindamRayMukherjee Closing this issue for now but If there are further questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-04 18:41] #47140 closed

[2020-02-04 18:44] RyanHill-MSFT commented on #46785
Sweet! Glad that worked for your @loopfish!

[2020-02-04 18:44] #46785 closed

[2020-02-04 18:49] GiftA-MSFT commented on #47223
@grahamehorner we have submitted a feature request based on your feedback, but we don't have an ETA on when it will be implemented. My recommendation would be to raise a uservoice on the [feedback forum](https://cognitive.uservoice.com/forums/912208-speech-service?category_id=336412) to request this feature so you and others can upvote and keep track of the request. Hope this helps. I will now pro

[2020-02-04 18:49] #47223 closed

[2020-02-04 18:51] TomArcherMsft commented on #47221
@porrascarlos802018 The article was rewritten approximately a month and tested. Is there a step that you find that still isn't working correctly?

As for the more advanced scenarios you mention, I'll add those to our documentation backlog.

I'm going to close this issue for now. If you can point out specific steps that are not working, I'll reopen this issue and investigate at that point. Thanks a

[2020-02-04 18:51] #47221 closed

[2020-02-04 18:52] QuetzalcoatlRosso commented on #47300
Hi thank you for the follow-up. These insights however don't answer my original question "What is the precise mathematical definition of the "search score" function alluded to in the first sentence of this article?". Could you supply an equation? If for some reason an equation is not possible to state here (understandable), could you point me to a Git repo that might be helpful? If that's also not

[2020-02-04 18:53] BjornBorjesson opened #47426 "Section - "Set the Redirect URI""
I needed to add  "-All $true" for the "Get-AzureADApplication" command. Otherwise I didn't had the command returned my application. Might be it returned more than it will enumerate by default.

&gt;&gt;  Get-AzureADApplication -All $true | where { $_.AppId -match $servicePrincipalCredentials.UserName } | Set-AzureADApplication -ReplyUrls $redirectUri

---
#### Document Details

⚠ *Do not edit this

[2020-02-04 18:54] SaurabhSharma-MSFT commented on #47360
@FoundryFounder Which repo you are talking about when you are saying "AAD-Security repo" ?
@TerryLanfear can you please help here.

[2020-02-04 18:54] MGoedtel commented on #46723
I will open a bug on this and reconcile this issue.  In addition, the steps to complete the configuration using CLI instead of POSH is here (https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli) and I noticed this in the AKS TOC while reviewing their article for configuring the AzAD application using POSH. #in-progress

[2020-02-04 18:56] MarileeTurscak-MSFT commented on #47176
This seems related to a conditional access policy or other setting that might be blocking MFA. What to try:

1. Ensure that you have disabled the setting for "Remember Multi-Factor Authentication." https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#remember-multi-factor-authentication

2. Go to Azure Active Directory > Security > Conditional Access. You ca

[2020-02-04 18:58] MarileeTurscak-MSFT commented on #47176
If you are still having issues, feel free to post to [Q&A ](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered)or send me an email (in my profile) so that we can further troubleshoot.

As this is a product question rather than a doc feedback, I'm closing this out here.

[2020-02-04 18:58] #47176 closed

[2020-02-04 19:12] ivanvpan commented on #47420
@BryanTrach-MSFT Actually I think I might close this. I found information elsewhere that said that port is autodetected, but there is a way to override it using a variable. I was able to get the app working by tweaking things in the portal (deployed via `az` command initially). I guess the only comment about this particular page is that my immediate question is "But how does it know the port!?", f

[2020-02-04 19:12] #47420 closed

[2020-02-04 19:12] ferlop84 opened #47428 "Hybrid AD Join Error"
Context: AAD Device Regstration
Scenario : Windows 10 v1709
Environment: Hybrid Azure AD (Domain Joined Device) - ADFS

Status
Device Registered: Yes
User Registered: No

Event Log IDs
--------------------------------------------------------
Log Name: Microsoft-Windows-AAD/Operational
Source:AAD
Event ID: 1098
Error: 0xCAA90014 Server WS-Trust response reported fault exception and it failed to get

[2020-02-04 19:14] mimckitt commented on #43344
thanks @yushwang

#please-close

[2020-02-04 19:14] #43344 closed

[2020-02-04 19:20] mwc360 opened #47429 "Self-Hosted IR Cluster - Dispatcher specs?"
Does the dispatcher node in the IR need more resources than one of the worker nodes? Its not clear to me from the documentation whether or not the individual worker nodes are sending data up to Azure or if they only feed data to Azure through the dispatcher node. Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785

[2020-02-04 19:21] MarileeTurscak-MSFT commented on #47388
@anielii I believe this is the latest version available, but I have passed your feedback along to the content author, @mmacy .

You can also make a feedback request in User Voice. https://feedback.azure.com/forums/169401-azure-active-directory/category/160596-b2c

[2020-02-04 19:27] mikerodrick commented on #47143
I understand the error and why I am receiving it. My point was that your documentation isn't clear. The documentation makes it seem you only need to run Login-AzAccount if you are using PowerShell locally.

"If you are running PowerShell locally, you also need to run Login-AzAccount to create a connection with Azure."

If you do not run Login-AzAccount first (in cloud shell) it will create the key

[2020-02-04 19:28] lisaguthrie commented on #47249
@vikramdadwal if I'm understanding correctly, your primary goal is to ensure that configuration is loaded quickly inside an Azure Function? As opposed to wanting to store configuration inside Key Vault?

App Config also caches configuration values, so they are loaded once at application startup, and then retrieved from cache for future calls. In the case of an Azure Function, you'll want to make s

[2020-02-04 19:29] himanshusinha-msft commented on #47125
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-02-04 19:30] SaurabhSharma-MSFT commented on #47350
@fawohlsc we have a similar issue reference [here](https://github.com/MicrosoftDocs/azure-docs/issues/47143) and I checking with internally if we can add more clarity in the documentation around the same.

[2020-02-04 19:31] SaurabhSharma-MSFT commented on #47143
@mikerodrick yes, I agree with you.

[2020-02-04 19:33] kevinlam1 commented on #47062
To clarify, if you have an external ISE the port is 443, but if you have an internal ISE then the port is 454. We will update the docs accordingly, sorry for the confusion.

[2020-02-04 19:34] MGoedtel commented on #46723
@adhodgson1 - The redirect URLs that we are referring to are highlighted in Step 3 [here](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-livedata-setup#client-registration-reconfiguration). I'll fix the note above it shortly. Thanks.

[2020-02-04 19:40] SaurabhSharma-MSFT commented on #47350
@msmbaldwin can you please help.

[2020-02-04 19:42] soninaren commented on #30541
@typesafedev would need more details about your app. Can you open an issue with all the required details on https://github.com/Azure/azure-functions-host

[2020-02-04 19:42] SaurabhSharma-MSFT commented on #47217
@garybushey We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-02-04 19:42] #47217 closed

[2020-02-04 19:44] steverlabs opened #47430 "Recommend Using Azure Bastion instead of a Jump VM"
Not a problem, but a suggestion. Why not use Azure Bastion instead of a jump server for this tutorial. I tested this and it works fine with the above configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac13cbf3-f230-7e85-d57d-cba3196a166c
* Version Independent ID: f4f0c94a-5a43-94e2-d8e5-19cf167c188a
* Conten

[2020-02-04 19:44] KranthiPakala-MSFT commented on #47240
@dagiro Thanks David for the PR.

@ross-p-smith Doc has been updated to reflect the changes/feedback reported in this issue. Here is the PR related to the fix: https://github.com/MicrosoftDocs/azure-docs-pr/pull/103130

Thanks much for pointing this out.

[2020-02-04 19:44] #47240 closed

[2020-02-04 19:45] robert4os opened #47431 "No explanation created with automl"
Hi,

I am using automl for 'forecast' with 'model_explainability'=True

The log states:
 'Current status: BestRunExplainModel. Best run model explanations started'

...however no explanations are created.

Thank you and best regards,
Robert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aec7bd5-0f42-7a2b-31bc-331fddc4

[2020-02-04 19:47] collinstevens commented on #39547
@gaikovoi are you able to provide the maximum number of IP Restrictions allowed?

[2020-02-04 19:48] MarileeTurscak-MSFT commented on #47398
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-02-04 19:55] MarileeTurscak-MSFT commented on #47421
@a3diaz please include the link to the article that you are following so that I can better assist.

[2020-02-04 19:55] grayjeremy commented on #43570
this fizzled due to human issues.  I never got a chance to figure out how to parse the output that had the port / password in it.

[2020-02-04 19:56] Karishma-Tiwari-MSFT commented on #47426
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-02-04 19:56] NavtejSaini-MSFT commented on #47413
@peterbud Please follow https://github.com/MicrosoftDocs/azure-docs/issues/42440 for more clarity on this. We will try to make the explanation clearer in the document it self.

[2020-02-04 19:59] rjnair commented on #43139
I'm seeing the same error - "Web.Contents failed to get contents from..." - a 404 Not Found, even with the warm store tiered PAYG TSI instance. Logged into the same account on Power BI Desktop and TSI, so not sure what's happening. Would appreciate assistance, and hope that this issue can be marked as "open" if necessary.

[2020-02-04 20:06] mihalko opened #47433 "Setting up two factor authentication with a work extension"
I am trying to setup two factor authentication using my work phone number but every time I try it fails. Others at work are not having a problem. The only difference is that my phone number has an extension and their's does not. How do I setup two factor authentication with a work phone number that has an extension, the kind where the recorded woman's voice says, "if you know your parties extensio

[2020-02-04 20:09] mlee3gsd opened #47434 "Event Hub is no longer under IoT in marketplace."
Event Hub is no longer under the IoT heading in marketplace.  Docs refer to it there. : Create a resource > Internet of Things > Event Hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a08f205e-f19b-50e4-657d-4e97bf0121c1
* Version Independent ID: 0547fcda-7866-6001-306f-908776fb8017
* Content: [Real-time fraud detec

[2020-02-04 20:12] Poolshark314 commented on #46811
@TravisCragg-MSFT We are using Dynamic DNS. It sends the record updates for the A records, but not the PTRs. If we actually configure the IP from within the Azure VM, the PTR records register dynamically, but I know that is against best practice to configure the networking from within the VM.

[2020-02-04 20:15] mmacy commented on #47388
@anielii This is indeed the most current version available. However, as you and others have noted in the following issues in the starter pack repository, it's missing some items that have been added since the initial release:

- https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack/issues/17
- https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack

[2020-02-04 20:15] #47388 closed

[2020-02-04 20:19] SaurabhSharma-MSFT commented on #46614
@tdefise sorry for the delay.  Here are details you are looking for :

1. For instance "Network traffic analysis", is it via the network extension to gather the WireData, is it trough the NSG Flow logs? Network Watcher's "Traffic Analytics" feature? or Microsoft which analysis the traffic without the need of the customer to implement something.

**_Security center uses ML model on IPFIX data recei

[2020-02-04 20:20] samcookies commented on #47176
1. Configured as per the recommendations.
2.  NO conditional access setup at all, all the polices are disabled.
3. Yes , it is setup to Enforced and working fine with O365 logins .

I don't think its the issue with MFA setup as I mentioned, it worked with the O365 logins, just not the RD Gateway. The only issue I can think of is, my NPS server not sending the auth request to the azure AD.
How can

[2020-02-04 20:29] ivratche opened #47435 "Content not up to date"
Is this article going to be updated soon. SAML token encryption is now possible. https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/howto-saml-token-encryption. What else may be missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5bc72fa-3fb1-8a98-d9a8-297f4e107bac
* Version Independent ID: c44f89

[2020-02-04 20:31] katie199 commented on #46987
Thank you. Do you have an ETA for the release? The only reason I am asking is because without the ability to send a list, implementing roles for a B2C app is close to impossible.

[2020-02-04 20:35] ticianaciminari opened #47436 "Code snippets are not shown on Chrome and Safari browsers in macOs #522"
@cagrimunyas commented 7 hours ago — with docs.microsoft.com
Starting with the Recognize a phrase section code snippets are not available, only shown as [!code-csharp] without revealing the actual code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f

[2020-02-04 20:37] ticianaciminari commented on #47436
Hi Team, could you please check the below issue from user?

Kind regards,

Microsoft DOCS Global Experience Team

[2020-02-04 20:39] erhopf commented on #47436
@ticianaminari - On a macOS machine, and all snippets in this guide are showing for me on Chrome and Safari.

[2020-02-04 20:51] RyanHill-MSFT commented on #47022
Thanks for the feedback @abhilashmk ! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-02-04 20:53] TravisCragg-MSFT commented on #47430
@steverlabs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-04 20:56] jonbeck7 commented on #29547
Try Vikas Bhatia and team