[2019-07-26 18:08] qianw211 commented on #35402
#please-close, here's the answer to your question:

There are two scenarios:

1.	Partner has migrated an account to PC

For all accounts that are migrated and activated from CPP to PC, the Partner Center system becomes the master of all accounts. That means that all account management would happen on Partner Center for those accounts and all those changes (user addition/deletion) would be synced b

[2019-07-26 18:08] #35402 closed

[2019-07-26 18:09] MarileeTurscak-MSFT commented on #35840
We will proceed to close this thread. If you think this needs to be re-opened feel free to tag me in the comments and I will gladly continue the discussion.

[2019-07-26 18:09] #35840 closed

[2019-07-26 18:10] MarileeTurscak-MSFT commented on #35660
I've added a work item for this but it would help to also leave this as a feedback request in user voice. I will update the thread when I hear back on the work item.

[2019-07-26 18:10] #35660 closed

[2019-07-26 18:12] #35112 closed

[2019-07-26 18:12] #35116 closed

[2019-07-26 18:13] FrankHu-MSFT commented on #35898
@mahoekst
The Github wikis for the MSAL and ADAL libraries have a bit more documentation about these subjects.

Per the .net msal logging wiki : https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging

I believe you have to implement your own file to save to and override/implement callbacks for the logging. I'll be sure to add the link to the github's wiki in the docume

[2019-07-26 18:14] MarileeTurscak-MSFT commented on #35934
@RobusXLR
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 18:14] MarileeTurscak-MSFT commented on #35953
@ChipClark
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-26 18:15] rboucher commented on #34749
@MrLokeshV  Can you clarify and let me know if the above solves your problem?

[2019-07-26 18:16] MicahMcKittrick-MSFT commented on #35320
PR submitted. Once it merges the changes will go live after a few hours.

[2019-07-26 18:16] #35320 closed

[2019-07-26 18:16] SnehaGunda commented on #35602
@CeciAc hope the link addresses this issue. We will close it if there aren't further questions.

#please-close

[2019-07-26 18:16] #35602 closed

[2019-07-26 18:17] FrankHu-MSFT commented on #35899
Hey @mahoekst thanks for your feedback again. The PII is per the GDPR standards which can be found here : https://ec.europa.eu/info/law/law-topic/data-protection_en

You're right though, we should have a document describing how the PII logging process works, and we'll look into that as soon as possible.

Thanks!

[2019-07-26 18:18] kromerm commented on #35923
Vnet support across ADF is on the roadmap. In the meantime, you can use a VM with self-hosted IR inside your VNET, then drop the data in a Blob or ADLS folder. Of course, that target folder cannot be in a Vnet for Data Flow to use it for now.

[2019-07-26 18:18] MicahMcKittrick-MSFT commented on #35333
At this point we have decided to leave the doc as is. However, your comment will remain on the doc so if others feel the same they can comment and we can always consider reopening and updating the doc.

[2019-07-26 18:18] #35333 closed

[2019-07-26 18:19] MicahMcKittrick-MSFT commented on #35367
@dcbrown16 I did confirm we have backlog items to address this. Hence, I will close this out. Thank you for the feedback :)

[2019-07-26 18:19] #35367 closed

[2019-07-26 18:20] MicahMcKittrick-MSFT commented on #35443
@vermagit we can continue this offline :) We have multiple backlog items to adjust the size docs that are in the works.

[2019-07-26 18:20] #35443 closed

[2019-07-26 18:24] kashimiz commented on #33965
@brandonh-msft: a `[!code-csharp[Main](~/<filepath>)]` block embeds the specified file in the document. `~/samples-durable-functions` is an [alias for the Durable Functions repo's master branch](https://github.com/MicrosoftDocs/azure-docs/blob/d886bdfb316c9890a800a46ecf067f3ce27aa235/.openpublishing.publish.config.json#L138), so

`[!code-csharp[Main](~/samples-durable-functions/samples/csx/E2_Back

[2019-07-26 18:24] hilari0n commented on #32438
I can live without the schema - I was just asking, if it exists, not stating, that it's something mandatory. :)
If you are curious, why I was asking, then:
The documentation is OK, and is definitely more important than a schema, but having something, that can be used for automated validation, helps. Most of Azure management API Json structures are covered by some schemas, so I was expecting that t

[2019-07-26 18:25] CeciAc opened #35955 "Wronk link in "Custom error pages""
@hugbro commented on [Thu Jul 25 2019](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/465)

As stated above, in section Custom Error Pages, the link that redirects for more information is wrong, redirecting for Rewrite HTTP Headers.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 68677bfe-232b-3f

[2019-07-26 18:26] bdcoder2 commented on #34521
D should NOT have been "automatically" selected as a temp drive (T or X would be more appropriate) -- why - because 98% of non-cloud based servers out there use D for data or other uses other than temp storage.   Those of us that have tried to "lift and shift" our servers (which have scripts that reference drive paths) to Azure have been killed by this "featured"!

Just a "real-world" opinion.

[E

[2019-07-26 18:32] brandonh-msft commented on #33965
Gotchya I'll do it that way instead, then.

[2019-07-26 18:35] yzheng-msft commented on #32438
@hilari0n thanks for the clarification. I think it is a valid request to publish schema and I will work with my API engineering team to work on that.

[2019-07-26 18:45] pollend opened #35956 ".htaccess"
The .htaccess example gets stuck in an infinite loop if used with laravel
[code]

[code]
the rewrite condition is need so it doesn't constantly get validated over and over again.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba00ed4-0fb2-ae6f-dec8-fc1e6a77c6e0
* Version Independent ID: 0b72e7cc-958d-378d-34b5-029c187

[2019-07-26 18:46] MicrosoftGuyJFlo commented on #30472
The product group responded and said user voice feedback drives their decision making. Voting it up there will help them to prioritize it.

[2019-07-26 18:46] MicrosoftGuyJFlo commented on #30472
#please-close

[2019-07-26 18:46] #30472 closed

[2019-07-26 18:49] candidson commented on #35923
Thanks for the response. I have an enterprise case, and the use of vnet firewall is enforced. I guess I will have to look at another ETL tool...

[2019-07-26 18:49] gmanvel opened #35957 "Misleading requirement to enable profiler for azure cloud services"
First point under [Enable Profiler for Azure Cloud Services](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-cloudservice?toc=/azure/azure-monitor/toc.json#enable-profiler-for-azure-cloud-services) states:

It is not clear what is required. My interpretation of this point was that if I have .NET 4.6.1 or later than that's sufficient.
I have an azure cloud service which has osFami

[2019-07-26 18:52] CeciAc commented on #35955
![imagen](https://user-images.githubusercontent.com/26746247/61974599-4b637600-afbd-11e9-82fa-3bc51b864e02.png)

[2019-07-26 18:57] ThairAbdalla opened #35958 "Wrong Parameter"
The Parameter -Locations gives the error Add-AzLogProfile : A parameter cannot be found that matches parameter name 'Locations'.

This worked, -Location instead of -Locations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da835d3f-1dd7-3cbe-abdc-9ba90e39afba
* Version Independent ID: 63ac42df-649e-9085-9186-872bccedd07

[2019-07-26 18:59] rimman commented on #35922
you can use RU calculator (https://cosmos.azure.com/capacitycalculator/) aka capacity planner

[2019-07-26 19:03] MicahMcKittrick-MSFT commented on #35942
@simeyla as per the doc, you can change the following:

Update reservation scope
Instance size flexibility
Ownership

Per the Reservation Scope, that applies to the following:

Scope | The reservation’s scope can cover one subscription or multiple subscriptions (shared scope). If you select:Single resource group scope — Applies the reservation discount to the matching resources in the selected res

[2019-07-26 19:05] MicahMcKittrick-MSFT commented on #35951
@vitalybibikov just to confirm, are you referring to this section?

https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli#create-azure-ad-client-component

Can you elaborate a bit more on the specific change you feel is needed to the doc?

[2019-07-26 19:10] artisticcheese commented on #32688
You can replicate between non supported regions via powershell. It's UI limitation not actually enforced on backend based on what I tried

[2019-07-26 19:15] mike-urnun-msft commented on #35240
@miaojiang could you share your thoughts on this matter?

[2019-07-26 19:19] microbmen commented on #34360
Not working for me either. I changed from TRUE, rebooted, FALSE, rebooted... etc.  not working.

[2019-07-26 19:21] mike-urnun-msft commented on #32504
Hi @jwallra - Apologies for the inconvenience that you've experienced with this thread and the long delay occurred here. Per yours and the OP's feedback, we'll proceed to make the necessary updates on this documentation.

[2019-07-26 19:26] robvet opened #35959 "azure aks create........ The password must contain at least 1 special character"
Following the sample from ==> https://docs.microsoft.com/en-us/azure/dev-spaces/quickstart-team-development

1) Here's my aks create command:
az aks create -g bikesharegroup -n bikesharecluster --location eastus --node-vm-size Standard_DS2_v2 --node-count 1 --disable-rbac --generate-ssh-keys

2) Here's the error:
The password must contain at least 1 special character. paramName: PasswordCredential

[2019-07-26 19:48] kobulloc-MSFT commented on #35957
@gmanvel Thank you for bringing this to our attention.  We will investigate this and get back to you shortly.

[2019-07-26 19:51] toddplu opened #35960 "Azure App Service Access Restrictions: how to allow azure services?"
Reference: https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions
Access restriction categories are only IP and VNET based. Are there any plans for 'tagged' access restrictions based on Azure services?

For example, attempting to deploy via Azure DevOps gives the following error:
`Error: Error Code: ERROR_COULD_NOT_CONNECT_TO_REMOTESVC
More Information: Could not connect to

[2019-07-26 19:51] brandonh-msft commented on #33965
looks like we were just missing one ref to an already-existing 'sample' file. Outside that, the csx snippets weren't refs so I added `Precompiled C#` ones to the same area. the `git push` is executing now #hugeRepo ;)

[2019-07-26 19:52] TravisCragg-MSFT commented on #21242
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 19:52] #21242 closed

[2019-07-26 20:07] carloxsf opened #35961 "Missing Storage Consumption by LTR"
I was asked how to know the Storage cost of LTR on a SQL Elastic Pool, so I came here and did not find any reference to it. Also, if is possible to know how to get alerts if the is any error with the LTR or DB Backups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b388152-5d9d-bfb9-1dd3-168b4877ac5a
* Version Indepen

[2019-07-26 20:10] dazinator opened #35962 "Per user feature flag?"
Hiw would one use this to allow individual users to toggle feature flags on / off for their own account? - similar to Microsoft Azure DevOps, once logged in, you can toggle individual preview features on for your own user account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d781aae8-fa5c-27a4-5d3d-64c60d008b4c
* Ver

[2019-07-26 20:15] alexandair commented on #35917
@DCtheGeek Yes, steps to uninstall the module would be consistent with the similar Azure CLI article where "az extension remove" uninstalls the extension.

[2019-07-26 20:20] omerzubair commented on #35565
@bwren thanks for the reply.
I noticed a random lag on tables from injestion to being able to search the new column.
 The initial new column lag is anywhere between 15 minutes to hours(s).
But i can confirm that new columns do appear if i pass on new ones later.

Thanks again.

[2019-07-26 20:20] #35565 closed

[2019-07-26 20:22] MarileeTurscak-MSFT commented on #35912
Hi @cesarmaneiro ,

Can you be more specific about your ask? Are you suggesting that the documentation should be updated?

[2019-07-26 20:32] ishasahni1 commented on #35792
@jaijitendra can you kindly elaborate more on your feedback. As I am bit confused with the statement:

Some elements in the doc are not in Russian, even though it should be in english,

Are you flagging that some strings are overlocalized in Russian? Or are you mentioning that you see some strings in en-us in Russian page. Will appreciate if you can elaborate and share a screenshot for the same.

[2019-07-26 20:39] cmeiklejohn commented on #13935
Is there any good way to debug this?  I'm waiting 15m and still no external IP....

[2019-07-26 20:40] qalandarov opened #35964 "Footnote issue"
Footnote (6) is not placed on a new line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale and hosting](https://docs.microsoft.com/en-us/azure/azure-functions/functions-scale#feedback)
* Co

[2019-07-26 20:42] TravisCragg-MSFT commented on #35940
@stuycks Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@KumudD it looks like several of the commands and the format of the commands have changed.

[2019-07-26 20:51] AMoghrabi commented on #32118
@piotrzaremba I'm trying to install a hybrid worker inside of a container as well. Did you find out why the `onboarding.py` script cannot be found?

[2019-07-26 20:56] TravisCragg-MSFT commented on #35955
@hugbro @CeciAc Thanks for the feedback! I have changed the link and text to the custom error pages doc in #83481, and the changes should reflect within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 20:56] #35955 closed

[2019-07-26 20:57] MicrosoftGuyJFlo commented on #32410
Covered in the link below. I will add an item to my backlog to update this doc with the information as well.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/overview#azure-ad-conditional-access-and-federated-authentication

[2019-07-26 20:57] MicrosoftGuyJFlo commented on #32410
#please-close

[2019-07-26 20:57] #32410 closed

[2019-07-26 21:06] markjbrown commented on #32328
Update. We are going to back port this to v2. Should be available by end of September or earlier.

Thanks.

[2019-07-26 21:10] nitinme commented on #28071
@MartinJaffer-MSFT Please assign this issue to @twooley

[2019-07-26 21:10] nitinme commented on #26869
@CHEEKATLAPRADEEP-MSFT Please assign this issue to @twooley

[2019-07-26 21:10] alkohli commented on #35865
@JetstreamRoySprowl  I reached out to the dev and unfortunately dkrdbe image rm is currently not enabled. If you want to remove unused images,  here is the command that should work for you:
dkrdbe image prune -a -f

Hopefully this helps. Please let me know if you need any further clarifications. Thanks!

[2019-07-26 21:11] MicrosoftGuyJFlo commented on #35903
Pinged the product group for feedback

[2019-07-26 21:11] nitinme commented on #11491
@vasivara-MSFT Please assign this issue to @twooley

[2019-07-26 21:11] MicrosoftGuyJFlo commented on #35203
still pending feedback from PG

[2019-07-26 21:12] MicrosoftGuyJFlo commented on #35032
Update to doc is pending approval from PG

[2019-07-26 21:14] MicrosoftGuyJFlo commented on #33432
Pending feedback from PG

[2019-07-26 21:20] JetstreamRoySprowl commented on #35865
It does solve my problem, thank you. I've already got issues open for the lack of documentation, so I'll close this one. Thanks!

[2019-07-26 21:20] #35865 closed

[2019-07-26 21:21] cordasfilip commented on #14973
@xurui203 Are there any quid lines on how to get all events from Azure Storage blob? From what I can see this is impossible without apache spark? Is there at least a way to do it with U-SQL and then push it to a query store like CosmosDB?

[2019-07-26 21:24] femsulu commented on #35958
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-26 21:28] MartinJaffer-MSFT commented on #35926
Hello @pes-kapacity and thank you for your inquiry.  I believe what you said is correct, however just to confirm my understanding, could you please share some screenshots or code?  Sharing this will aid in my attempt to reproduce and/or troubleshoot your issue.

[2019-07-26 21:29] jaijitendra commented on #35792
As you can see that some of the text is in Russian and it should be in english.
![image](https://user-images.githubusercontent.com/907483/61982460-a2fbe480-afb1-11e9-8857-f9e080f43645.png)

[2019-07-26 21:30] FrankHu-MSFT commented on #35934
@RobusXLR I'm following up on this the previous issue suggested that the name was wrong, but the one you downloaded is now correct. i.e. microsoft-identity-association.json is correct.

Did you replace the application id per step 1? https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-configure-publisher-domain#to-verify-a-new-domain-for-your-app

[2019-07-26 21:33] KranthiPakala-MSFT commented on #35701
@srini99mkl Thanks for reaching out. I tried this with the REST API and it works fine, I was able to create the sub directory.

At this time it does not look like you are referring to a document content, but to a specific scenario. If that's the case we request you to please post your question on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake) and other forums ([sta

[2019-07-26 21:33] FrankHu-MSFT commented on #35953
Hey @ChipClark the MSAL library for Angular can be found in the MSAL JS github repo : https://github.com/AzureAD/microsoft-authentication-library-for-js
https://github.com/AzureAD/microsoft-authentication-library-for-js/tree/dev/lib/msal-angularjs

This is currently just a wrapper for the javascript library so that it can be used in angular. It's also currently in preview.

For more information on

[2019-07-26 21:33] FrankHu-MSFT commented on #35769
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-26 21:34] FrankHu-MSFT commented on #35783
The changes have been made,
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-26 21:34] FrankHu-MSFT commented on #35848
The changes are currently being made, please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-26 21:34] KranthiPakala-MSFT commented on #35701
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen the issue and tag me in your reply. We will gladly continue the discussion.

[2019-07-26 21:34] #35701 closed

[2019-07-26 21:41] kylebarker715 opened #35967 "Text incorrect in App Access Portion of doc"
In 'App Access' portion of document the text states "The domain name in an External ASE looks like .&lt;asename&gt;.p.azurewebsites.net."

Text should say: "The domain name in an External ASE looks like &lt;appname&gt;.&lt;asename&gt;.p.azurewebsites.net."

&lt;appname&gt; is missing in current text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-07-26 21:42] benlemond opened #35968 "How to send basic "Event" Measurement IOT Central"
I am struggling to get "Event" type measurments into the IOT central app.  I have successfully gotten Telemetry, State, and Location working as far as measurements go.  However, when I call SendEventAsync() from my C# app and pass in my event ("shutdown"), I never see any updates for Event in my app.

What is the proper syntax for this type of event?

[2019-07-26 21:55] brunofeldman opened #35969 "TRUNCATE_TARGET_PARTITION"
That command is deprecated, on SQLDW Gen2 the correct sintax is TRUNCATE_TARGET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43f9b7ed-90e8-b928-edc5-166ef12582e7
* Version Independent ID: e64dbaaa-7066-be71-569f-1467d142eb94
* Content: [Azure SQL Data Warehouse Release Notes April 2018](https://docs.microsoft.com/en

[2019-07-26 21:57] cweining commented on #35957
OS Family 4 is sufficient if your application is running on .net framework 4.6.1. You have to create a custom startup action to install 4.6.1 on OS Family 4 though. OS Family 5 has 4.6.1 installed by default, so it works without a custom startup action. You need at least OS Family 4 and .net framework 4.6.1. If you are experiencing something different, then maybe something changed that we aren't a

[2019-07-26 22:15] MinghuaJiang commented on #35411
I'm able to access acr from aks if I do kubectl apply after following the guide, but if I do a kubectl set image to update the image, it returns unauthorized when acrpull like what was mentioned above.

[2019-07-26 22:16] MinghuaJiang commented on #35411
@MicahMcKittrick-MSFT any idea on it?

[2019-07-26 22:23] TravisCragg-MSFT commented on #35943
@PaulSells can you try this deployment again and see if you get the same error? This error points to an issue with the schema service, not with the template itself.

[2019-07-26 22:24] TravisCragg-MSFT commented on #35944
@gus1818 can you post a link to the doc you are referring to?

[2019-07-26 22:25] Alberto-Vega-MSFT commented on #35535
@Shri-Humrudha Closing this issue since this is not a doc issue and I haven't heard back from you.
 If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-26 22:25] #35535 closed

[2019-07-26 22:25] TravisCragg-MSFT commented on #35948
@kilmfer91 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-26 22:27] TravisCragg-MSFT commented on #35949
@loic-sharma Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-26 22:28] Alberto-Vega-MSFT commented on #35692
@kgremban would it be possible to add a link to an automated provisioning doc in the section:

[2019-07-26 22:28] TravisCragg-MSFT commented on #35950
@kumarallamraju Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-26 22:29] jeffwmiles opened #35970 "Recovery Plan steps after Test Failover cleanup"
Is it possible to have automatic steps that occur after Test Failover cleanup?
Use Case: we have a step during the recovery plan to add NSGs to our destination failover VNET (give a jump box RDP access to other subnets). We want to ensure those NSGs get removed after the Test Failover is completed (because they should not exist if an actual Failover were to occur).

Is there a way to accomplish th

[2019-07-26 22:32] MahdeeT commented on #35118
no network issue.

the strange thing is even the first command, throws an error. I mean this very first command:

$response = Invoke-WebRequest -Uri 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net' -Method GET -Headers @{Metadata="true"}

throws, "Invoke-WebRequest : Unable to connect to the remote server".

Anything I should che

[2019-07-26 22:38] mikebudzynski commented on #35199
@ToMakeSense Thank you for reporting this problem. I will close the Issue here and track the task in our project management tool.

Additionally, we are working on a new developer portal, which will replace the current offering: https://aka.ms/apimdocs/portal

#please-close

[2019-07-26 22:38] #35199 closed

[2019-07-26 22:39] bluehatgeek commented on #30365
I think it will be worth adding to run sysprep.exe /generelize instead of just sysprep.exe. Otherwise the image is unusable

[2019-07-26 22:46] MicahMcKittrick-MSFT commented on #35411
@sameer-kumar I am not seeing anything in this doc related to kubectl set image. Are you following another doc by chance?

[2019-07-26 22:55] robertjf commented on #35159
Really?  The documentation states this:

[code]

(yes, I know - the 2nd - 4th lines should be indented; but that's what the documentation actually says.)

[2019-07-26 22:59] MinghuaJiang commented on #35411
the doc itself doesn't include set image, I just do need to run the set image command to update image, and not sure why it doesn't work since my kubenetes cluster should already have access to pull acr.

[2019-07-26 23:02] osaid202 commented on #29294
So what would happen If I run 2019 datacenter on the WVD VM? When installing ''Windows Virtual Desktop Agent.'', it shows invalid token by default. The field is editable so I just put the long token and proceeded with the installation. installed the bootloader. This is what I get after trying to connect through the web client.
''Your computer can't connect to Remote Desktop Gateway server.''

This

[2019-07-26 23:09] mike-urnun-msft commented on #35964
Hi @qalandarov - Thank you for reporting this and helping us drive improvement towards MS Docs! I've created a PR that addresses this issue and the change should reflect within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-26 23:09] #35964 closed

[2019-07-26 23:15] MicahMcKittrick-MSFT commented on #35411
What is the command you are using? It should be something like

`kubectl set image deployment azure-vote-front azure-vote-front=<acrLoginServer>/azure-vote-front:v2`

[2019-07-26 23:15] alkohli commented on #35866
@JetstreamRoySprowl We have added the command for how to prune images - dkrdbe image prune -a -f - into the doc as well. The changes are merged and should go live over the weekend.
@SumanthMarigowda-MSFT This bug can be closed. Thanks!

[2019-07-26 23:22] SaurabhSharma-MSFT commented on #35594
@liroforum It could be extensions installed on chrome causing this.  Can you please check this on any other browser like firefox ?

[2019-07-26 23:24] jmandel opened #35971 "cluster-issuer.yaml should not have a namespace"
ClusterIssuer is cluster-wide, so the following line should be removed from cluster-issuer.yaml (it has no effect and is confusing for readers):

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Create a

[2019-07-26 23:26] MicahMcKittrick-MSFT commented on #35971
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-26 23:28] SaurabhSharma-MSFT commented on #35822
@alvipeo I just realized for B2C it is different and you need to check the CORS permissions using the [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-ui-customization-custom#configure-cors)

[2019-07-26 23:29] kobulloc-MSFT commented on #35962
@dazinator Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-26 23:35] xinyanmsft commented on #35159
@robertjf this is an issue with how DevSpaces CLI interprets the order of ignore rules - the current implementation puts the GitIgnore rule at the end, which means it overwrites what's defined in azds.yaml file's ignore section. I've opened an internal work item to address this issue, and I think the order should be GitIgnore first, dockerignore file second, azds.yaml's ignore section third. This

[2019-07-26 23:38] robertjf commented on #35159
sounds good; let me know how you get on :)

[2019-07-26 23:39] sebader opened #35973 "Getting access to blob name in output binding"
When I'm using something like the GUID generation for blob output bindings (https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#create-guids) how can I get access to the blob name within the function? Such as in this one:

    public static async Task<IActionResult> Run(
    [HttpTrigger(AuthorizationLevel.Function, "post")] HttpRequest req,
    [Blob("my

[2019-07-26 23:46] piotrzaremba commented on #32118
@amoghrabi sorry to say no.  They have yet to figure it out not sure what the issue is.

[2019-07-26 23:49] MinghuaJiang commented on #35411
@MicahMcKittrick-MSFT Yes, this is exactly the command I used. I just want to update the docker image being deployed from say v1 to v2, but it says unauthorized. The first deploy with kubectl apply works well for me.

[2019-07-26 23:50] Mike-Ubezzi-MSFT commented on #35755
@archmangler Yes, this functionality is now generally available: Azure Database for PostgreSQL Read Replica is now generally available ([link](https://azure.microsoft.com/en-us/updates/azure-database-for-postgresql-read-replica-is-now-generally-available/)) as of April 17, 2019. Please let us know if you have any additional questions. Please see this [link](https://azure.microsoft.com/en-us/update

[2019-07-26 23:50] #35755 closed

[2019-07-26 23:52] MicahMcKittrick-MSFT commented on #35411
@sameer-kumar try this doc to see if you can do all the steps

https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-app-update

If not, freel free to email me at AzCommunity@microsoft.com as well with your SubscriptionID and link to this thread and I can get you in contact with Technical Support.

[2019-07-26 23:58] MinghuaJiang commented on #35411
@MicahMcKittrick-MSFT that's exactly the doc I reference to.

[2019-07-27 00:00] MicahMcKittrick-MSFT commented on #35411
@sameer-kumar go ahead and shoot me that email with the details and we can get it sorted out :)

[2019-07-27 00:07] robinsh commented on #31362
@pierreca I think I've solved this problem. Here's the final PR. If you could take a look and make sure everything looks okay, I'd really appreciate it. OTW I'll sign off on it next week.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/83207

[2019-07-27 00:15] Rugved opened #35974 "Code for asp.net core is obsolete"
Updated object for custom properties in .net core 2.2 is telemetry.Context.GlobalProperties.Add("ClientID", telemetry.Context.Location.Ip;);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 730ff1f8-2aff-bedf-a026-1e52af3f2af8
* Version Independent ID: 6e1f9b29-76b9-f7fd-7474-47b38595115e
* Content: [Azure Application In

[2019-07-27 00:16] mtechdev commented on #35275
Remember to mention that "Billing Administrator" is a role in AAD, not an assignment in a subscription.  Context is always so, so important to those of us doing something for the First Time!

[2019-07-27 00:35] mike-urnun-msft commented on #35973
Hi @sebader - Thank you for your feedback! We will review and update as appropriate.

[2019-07-27 00:50] #35866 closed

[2019-07-27 01:15] chetansriv commented on #28356
@sandeepshivhare could you please confirm if this issue still persists?

[2019-07-27 01:30] Grace-MacJones-MSFT commented on #35624
I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-27 01:30] #35624 closed

[2019-07-27 02:05] igusme opened #35975 "Can B2B collaboration users login into Azure AD Windows 10 joined devices?"
Hi,

Can B2B collaboration users (Guest user who signs in with an account that's managed by another Azure AD directory) login into Azure AD Windows 10 joined devices?

Use case: Collaboration between an educational institution and a public library. Adding student Azure AD (AAD) accounts from the educational institution as AAD Guest accounts in the public library AAD tenant would allow students to

[2019-07-27 02:05] TravisCragg-MSFT commented on #35956
@pollend Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-27 02:07] TravisCragg-MSFT commented on #35961
@carloxsf Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-27 02:10] TravisCragg-MSFT commented on #35960
@toddplu Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-27 02:11] marckassay opened #35976 ""Create a web app with continuous deployment from GitHub" page is unclear"
1. Are the instructions on this webpage assuming that the code in the GitHub repo has been compiled and committed? If so, that should be mentioned since it isn't typical to have compiled source code checked-in.

2. The preceding sentence from this one: 'A connection with Azure has been created using the `az login` command.', is somewhat redundant and confusing. Why suggest to use the Azure CLI in

[2019-07-27 02:12] TravisCragg-MSFT commented on #35959
@robvet Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-27 02:20] marckassay opened #35977 ""Create a web app and deploy code from GitHub" page is unclear"
1. Are the instructions on this webpage assuming that the code in the GitHub repo has been compiled and committed? If so, that should be mentioned since it isn't typical to have compiled source code checked-in.

2. This sentence ("After the script sample has been run, the following command can be used to remove the resource group, web app, and all related resources.") is under 'Clean up deployment

[2019-07-27 02:41] marckassay commented on #32021
Ok. How does one get Azure AD graph permissions?

[2019-07-27 02:59] ishasahni1 commented on #35792
@jaijitendra thank you for sharing the screenshot. You are seeing this issue because you have selected the ru-ru language, so if you see your url also doesn't say en-us.

If you have enabled toggle feature you will see ribbon and UHF based on the language you have selected.

If you scroll all the way to bottom and in the left corner select the language and change it to en-us this issue will be res

[2019-07-27 03:02] dreftymac opened #35978 "Request documentation for python 3.7"
Python 2.7 is a deprecated version of python which will lose support soon. Can you please provide documentation for use with python 3.7? If not python 3.7 can you provide docs for any python 3.x version?

This code does not work with python 3.7 on my machine, and using python 2.7 is sketchy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-27 03:27] CHEEKATLAPRADEEP-MSFT commented on #35918
@raghava2804 Thanks for sharing the document.

@msrini-MSFT Could you please look into this issue?

[2019-07-27 03:30] CHEEKATLAPRADEEP-MSFT commented on #35849
@nssidhu  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-27 03:30] #35849 closed

[2019-07-27 03:35] CHEEKATLAPRADEEP-MSFT commented on #26869
@twooley Could you please fix this issue?

[2019-07-27 03:35] Karthiktandra commented on #29197
Hi @patriziobruno,

Thanks for the information, I will make the relevant changes.

[2019-07-27 03:37] CHEEKATLAPRADEEP-MSFT commented on #35967
@kylebarker715  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-27 03:38] CHEEKATLAPRADEEP-MSFT commented on #35968
@benlemond  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community m

[2019-07-27 03:40] CHEEKATLAPRADEEP-MSFT commented on #35969
@brunofeldman  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-07-27 03:41] CHEEKATLAPRADEEP-MSFT commented on #35970
@jeffwmiles  Thanks for the question! We are investigating and will update you shortly.

[2019-07-27 03:42] CHEEKATLAPRADEEP-MSFT commented on #35974
@Rugved  Thanks for the question! We are investigating and will update you shortly.

[2019-07-27 03:43] CHEEKATLAPRADEEP-MSFT commented on #35975
@igusme  Thanks for the question! We are investigating and will update you shortly.

[2019-07-27 03:45] CHEEKATLAPRADEEP-MSFT commented on #35976
@marckassay  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-27 03:47] CHEEKATLAPRADEEP-MSFT commented on #35977
@marckassay  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-27 03:48] CHEEKATLAPRADEEP-MSFT commented on #35978
@dreftymac  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-27 04:27] Exnav29 opened #35979 "New Twitter Process for creating an App"
I just went into Twitter and noted the new procedure.  Now you have to go to https://developer.twitter.com/en/apps/ and sign in using your Twitter account.  Once that is done you have to apply for a developer account.  The process is pretty straightforward.  Click Create an app.  If you do not have a developer account already (or if you have not created an app in a while) you will need to apply fo

[2019-07-27 05:03] ram-msft commented on #32586
@AngryVirginian We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-27 05:03] #32586 closed

[2019-07-27 07:41] msrini-MSFT commented on #35918
@raghava2804 , thank you for your feedback. Application Gateway V1 can be configured with Static Private IP and dynamic Public IP or Only Static Private IP or only dynamic IP , dynamic private IP and dynamic Public IP or only dynamic Private IP.

You cannot have static Public IP for V1, Other combination works.

I will make the PR and update the doc.

[2019-07-27 08:11] raghava2804 commented on #35918
Hi Karthik,

Thanks for the mail:) Your explanation was confusing to me:(  as the last
statement "Only dynamic private IP" is not also not true. If you remove
that phrase, everything else looks good. But dont mind.

In case of V1 SKU, except for static public IP, all other combinations
work. I tried with all the combinations and the portal was allowing dynamic
public IP with either static or dynam

[2019-07-27 09:01] gmanvel commented on #35957
@cweining I had exactly the same situation as you described - osFamily 4 & startup script that installs .NET 4.8. However, I still couldn't get profiler running, so I opened MS support ticket. Reply I got back:

The ticket is not yet resolved, so I'm not sure what is the root cause. But reply from MS support contact person indicates osFamily 5 or later is a _requirement_.

I'll send this ticket to

[2019-07-27 09:04] KrishnaG-MSFT commented on #35907
@platinumphil Thanks for the update. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-27 09:06] KrishnaG-MSFT commented on #35908
@Ballzer0 We see that this issue is closed. But If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-27 09:50] msrini-MSFT commented on #35918
@raghava2804 , When I mentioned only dynamic Private IP, you can create a V1 with a dynamic Private IP and no public IP associated with the Application Gateway.

![image](https://user-images.githubusercontent.com/47132998/61992897-02292a00-b082-11e9-9933-921b58a3c4a7.png)

[2019-07-27 10:32] dazinator commented on #35962
I'm guessing a filter that checks for current users `Claims` might be a nice way to solve this.

[2019-07-27 10:36] oshrih7145 opened #35981 "hello Is it possible to connect azure sentinel for multiple azure ad tenants, so we can control and audit a different directory, which is not under the tenanted generated by sentinel workspace ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-27 10:38] oshrih7145 opened #35982 "connect azure sentinel for multiple azure ad tenants"
hello
Is it possible to connect azure sentinel for multiple azure ad tenants, so we can control and audit a different directory, which is not under the tenanted generated by sentinel workspace ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f4fe06e-d692-c330-a651-d51fec279a6a
* Version Independent ID: ec4c836d-f1a4-e

[2019-07-27 10:42] oshrih7145 opened #35983 "connect azure sentinel for multiple azure ad tenants"
connect hello
Is it possible to connect azure sentinel for multiple azure ad tenants, so we can control and audit a different directory, which is not under the tenanted generated by sentinel workspace ?azure sentinel for multiple azure ad tenants

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf163f82-d5be-8b0a-e176-be

[2019-07-27 11:29] marcelodiiorio opened #35984 "Identity protection"
Why Identity Protection was removed from the index?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 795962ba-55a1-65f3-e7fe-4c5d968af8e5
* Version Independent ID: 4a0cf543-0959-42cc-55b8-bc40481dd591
* Content: [Deployment plans - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamenta

[2019-07-27 12:35] lipsius commented on #33801
Hello,

I have rerun the complete set-up with the MX Arduino device and now it just works fine.
The issue was indeed with the missing temperatureAlert application property.
However  have one more question : I do not see where I can change the alert value in the getstarted.ino file.
Cab you help me?

Kind regards,

Christophe

Van: CDM ICT
Verzonden: vrijdag 26 juli 2019 15:52
Aan: MicrosoftDocs/az

[2019-07-27 13:40] CHEEKATLAPRADEEP-MSFT commented on #35979
@Exnav29  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-27 13:41] CHEEKATLAPRADEEP-MSFT commented on #35981
@oshrih7145  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community

[2019-07-27 13:43] CHEEKATLAPRADEEP-MSFT commented on #35873
@marrichamsft  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-27 13:43] #35873 closed

[2019-07-27 13:46] CHEEKATLAPRADEEP-MSFT commented on #35983
@oshrih7145  Thanks for the question! We are investigating and will update you shortly.

@rkarlin Could you please look into this issue?

[2019-07-27 13:47] CHEEKATLAPRADEEP-MSFT commented on #35982
Duplicate of #35983

[2019-07-27 13:48] CHEEKATLAPRADEEP-MSFT commented on #35982
@oshrih7145 Since, you have opened multiple queries on same issue. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-27 13:48] #35982 closed

[2019-07-27 13:50] CHEEKATLAPRADEEP-MSFT commented on #35984
@marcelodiiorio  Thanks for the question! We are investigating and will update you shortly.

[2019-07-27 14:57] raghava2804 commented on #35918
Thanks for the clarification Karthik😀

Warm Regards,
Raghava.

On Sat, 27 Jul 2019, 15:20 KARTHIK SRINIVAS, <notifications@github.com>
wrote:

[2019-07-27 15:35] cweining commented on #35957
@gmanvel  When did you open the support ticket? I meet with support once a week to go over any open cases and I haven't seen that one. Maybe it is assigned to a different support team. It might be easier if you and I have a Teams chat so I can take a look at your service and see if I can figure out what is going wrong. If you want to do that, please send an email to serviceprofilerhelp@microsoft.c

[2019-07-27 15:41] marcelohsilva opened #35986 "Unable to create Azure QnA Maker service"
The pricing tier dropdown has no values on it. Hence, it's impossible to create a QnA Maker service in Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2431b5a7-e419-a331-b766-594294849502
* Version Independent ID: 92b9bdc0-348b-14c7-0f31-b5f06b252020
* Content: [Setup a QnA Maker service - QnA Maker - Azure Cogni

[2019-07-27 15:52] PingPongSet commented on #35922
Is there a better way to check remaining RU, and RU consumed over a period?

[2019-07-27 16:16] gmanvel commented on #35957
@cweining thank you for following up with this. I sent you an e-mail.

[2019-07-27 17:51] KrishnaG-MSFT commented on #27062
Looks like @javester's feedback was correct as [this](https://docs.microsoft.com/bs-latn-ba/azure/azure-monitor/insights/solutions-resources-searches-alerts?view=azurermps-6.8.1#schedule-resource) recently updated (i.e., updated on 2019-02-27) document states that savedSearches' schedule's property to specify whether alert is enabled when it's created is 'enabled' but not 'Active'.

As informed by

[2019-07-27 18:00] KrishnaG-MSFT commented on #35901
@henrywang08 This is just to confirm you that the required document changes are done.

[2019-07-27 18:37] AjayKumar-MSFT commented on #35734
@SteveMaz, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-27 18:37] #35734 closed

[2019-07-27 18:52] TravisCragg-MSFT commented on #35986
@marcelohsilva Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-27 19:15] AjayKumar-MSFT commented on #35068
if I understand your question correctly, you can broadcast a message to all connected clients, or you can broadcast it only to connected clients that have been authenticated to a given user.

[2019-07-27 20:35] l4zl0w opened #35987 "Typo in subnet script"
$vnet = Get-AzVirtualNetwork `
       -ResourceGroupName myResourceGroupAG `
       -Name myVNet

    $subnet=$vnet.Subnets[0]

Should be `$subnet=$vnet.Subnets[1]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5290e95-f047-a103-44b4-ade1cc258f5f
* Version Independent ID: fa834b2b-11cb-206a-1d77-1fa32b2ad9ae
* Conten

[2019-07-27 20:54] Dottn commented on #35660
I have left an issue at https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/38245540-pap-authentication-and-special-characters-in-passw

[2019-07-27 21:08] #35953 closed

[2019-07-27 21:09] #35691 closed

[2019-07-27 21:09] #35769 closed

[2019-07-27 21:09] #35783 closed

[2019-07-27 21:09] #35848 closed

[2019-07-27 22:21] ggailey777 commented on #19949
@ColbyTresness is msdeploy supposed to require you to stop the function app?

[2019-07-27 22:39] jimmytrivedi opened #35988 "Why does this whole code written on C language, what about Java/Android?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-27 22:42] jimmytrivedi commented on #35988
Why does all code is written in C? What about Java/Android?

[2019-07-27 22:56] rimman commented on #35922
@PingPongSet - the rate-limiting is done on a per-second basis. So every second, you are guaranteed the amount of RUs that you have provisioned.

So for every operation you can get the exact amount of RUs and then multiply it by how many of them are running concurrently (that second) - this will give you the total amount needed. You can subtract it from the total amount that is provisioned.

I kno

[2019-07-28 00:55] MarileeTurscak-MSFT commented on #35910
Hi @win2000b ,

Thanks for pointing this out! I appreciate you bringing this to our attention about the AADHealthTeam alias and the potential discrepancy in the article. I've reached out to the AAD Health Team to see what's going on with their Outlook group and also help with your question.  I'll update you as soon as I have a response.

[2019-07-28 01:46] PingPongSet commented on #35922
@rimman

I think it must be available on Azure system, which uses it to calculate the cost, But it is not available publicly now. I think if there is a smart way to get this easily.

I still do NOT understand how request unit/s (RU/s) works in relation to charges on the CRUD operations.

For example, when RU/S is 1000 RU/S, does it mean max of 1000 RU is allowed per second for CRUD. Any more RU at

[2019-07-28 02:27] mahoekst commented on #35898
The wiki page shows me HOW to implement logging, but it doesn't tell me what it actually can log? So what kind of information does MSAL logging provide with and without PII enabled? So a few examples might help clarify and convince me why this is useful. Currently I am forced to test it in my own app to figure out what it exactly can log with the different log levels. For example the last sample (

[2019-07-28 02:31] mahoekst opened #35990 "Typo in the sample code"
AuthenticationResult result = application.AcquireTokenInteractive(scopes)
                                             .ExecuteAsnc();

Should be
AuthenticationResult result = application.AcquireTokenInteractive(scopes)
                                             .ExecuteAsync();

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2019-07-28 02:33] mahoekst commented on #35990
Oh and the return type results in a compile error Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0029	Cannot implicitly convert type 'System.Threading.Tasks.Task<Microsoft.Identity.Client.AuthenticationResult>' to 'Microsoft.Identity.Client.AuthenticationResult'	MSALConsole	C:\Users\MatthijsHoekstra\source\repos\MSALConsole\MSALConsole\Program.cs	16	Active

[2019-07-28 03:24] tkumark opened #35991 "sample template does not have Service Fabric cross availability zone template"
Based on the link given for "Service Fabric cross availability zone template" the github repo https://github.com/Azure-Samples/service-fabric-cluster-templates does not seem to have template for service fabric with availability zone setup. It looks like the basic Service Fabric template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-07-28 03:30] CHEEKATLAPRADEEP-MSFT commented on #35988
@jimmytrivedi  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communit

[2019-07-28 03:34] CHEEKATLAPRADEEP-MSFT commented on #35990
@mahoekst  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-28 03:35] CHEEKATLAPRADEEP-MSFT commented on #35991
@tkumark  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-28 03:47] CHEEKATLAPRADEEP-MSFT commented on #35987
@l4zl0w  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-28 04:02] voonxx opened #35992 "Not able to install agent in aws instance hosting website- prerequisite check failed"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-28 04:04] tkumark commented on #35991
just found the https://github.com/Azure-Samples/service-fabric-cluster-templates/tree/master/15-VM-Windows-Cross-AZ-Secure

[2019-07-28 04:04] #35991 closed

[2019-07-28 04:18] benhatton-unsw-edu-au opened #35993 "v2 VNET Integration: Please qualify what is meant by support for production workloads"
Hi,
Regarding the new vNet integration: "This feature is in preview but, it is supported for Windows app production workloads "
What does "is supported" mean for this while it is still in preview?  Will SLAs apply?  Will we have confidence that breaking changes won't be rolled in without a managed migration process for customers?  Other risks that we should be conscious of?  Please add some additi

[2019-07-28 05:52] 962720900 opened #35994 "Import WSDL to create SOAP API, but encounter an error"
We encounter an issue when import WSDL to create a SOAP API, the error detail is shown below,
Parsing error(s): Cannot resolve referenced input message '{http://com.edicom.broker.adapter.services}executeTemplate'.

Could you please help on the issue?
Thanks in advance.

[2019-07-28 06:02] DashleenBhandari-MSFT commented on #35993
@benhatton-unsw-edu-au , Thanks for raising the issue. We will investigate and update you.

[2019-07-28 07:52] msrini-MSFT commented on #35918
PR : https://github.com/MicrosoftDocs/azure-docs-pr/pull/83532

Changes will be reflected shortly.

[2019-07-28 07:59] #35918 closed

[2019-07-28 08:12] msrini-MSFT commented on #35987
PR has been made.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/83533

Changes will be reflected shortly.

[2019-07-28 08:19] #35987 closed

[2019-07-28 08:38] msrini-MSFT commented on #32421
@anzaman , Can you take a look at this issue?

[2019-07-28 09:20] CHEEKATLAPRADEEP-MSFT commented on #35992
@voonxx  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community memb

[2019-07-28 09:21] CHEEKATLAPRADEEP-MSFT commented on #35994
@962720900  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community m

[2019-07-28 09:52] sandereek commented on #35657
Yes. I use many different subscriptions.

[2019-07-28 10:09] dcurwin commented on #35782
Thanks for your question and contribution to our docs community. Product feature timeline inquiries are best directed to the product management team:
https://feedback.azure.com/forums/258995-azure-backup-and-scdpm

[2019-07-28 10:09] dcurwin commented on #35782
#please-close

[2019-07-28 10:09] #35782 closed

[2019-07-28 10:20] sjbolinger opened #35995 "Cross Partition Query Error"
I've tried to run through this example a few times just to make sure I haven't missed a step.  I'm using Visual Studio for Mac and when I try to run the app, I get the following error:
-------
Cross partition query is required but disabled. Please set x-ms-documentdb-query-enablecrosspartition to true, specify x-ms-documentdb-partitionkey, or revise your query to avoid this exception.
ActivityId:

[2019-07-28 13:36] Shaked commented on #32421
@cherylmc @lawrencegripper @msrini-MSFT @anzaman

I have found the problem. I noticed the following error:

[code]

This happened because I was missing a package. I figured it out after checking [this post](https://wiki.strongswan.org/issues/2699). In order to have EAP_IDENTITY support, I had to run

`sudo apt install -y libcharon-extra-plugins`

After that, everything worked.

Thank you

[2019-07-28 14:11] CHEEKATLAPRADEEP-MSFT commented on #35995
@sjbolinger  Thanks for the question! We are investigating and will update you shortly.

[2019-07-28 14:13] colemickens opened #35997 "AU Central Link is broken"
&gt;To request whitelisting, go to: https://www.microsoft.com/en-au/central-regions-eligibility/

That link doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d150ace-bd6d-8111-79b5-0ce7cb76a378
* Version Independent ID: 13a828ae-ae92-9ea7-5f37-5a69eeeb87b7
* Content: [Azure Shared Image Gallery](https://doc

[2019-07-28 14:46] CHEEKATLAPRADEEP-MSFT commented on #35997
@colemickens  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-28 15:36] ChungEnYu opened #35998 "Couldn't receive messages while monitoring"
While "Start monitoring built-in event endpoint", it showed:
[IoTHubMonitor] Created partition receiver [0] for consumerGroup [$Default]
[IoTHubMonitor] Created partition receiver [1] for consumerGroup [$Default]

Yet non message shown, I've done every step of the tutorial with no error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-07-28 16:12] jakedurell opened #35999 "HTTP ERROR 500"
I am sure I followed the steps exactly. I can see the xxxx.azurewebsites.net url in the Azure dashboard when looking at the app. But I am getting this error:

This page isn’t working
xxxxxx.azurewebsites.net is currently unable to handle this request.
HTTP ERROR 500

I am seeking to use the nodejsv10 repo.

There configuration for the app references the .NET framework v 4.7, but I don't see an opt

[2019-07-28 16:39] rimman commented on #35922
I suggest we have a quick call next week and I will try to address your questions. It will be faster and more effective than electronically. Please send me a mail at rimman AT microsoft DOT com and we will find 15 min that work for both of us to connect. thanks.

[2019-07-28 16:41] jwisener opened #36000 "App service plan multiple projects"
there is no guidance on how to do multiple azure function app and deploying that against one app service plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ab62930-d35d-d6d3-8bb7-2ed6b34636bb
* Version Independent ID: 86725233-d4a5-a796-cd6e-c05c3675952b
* Content: [Continuously deliver function code updates by usin

[2019-07-28 16:43] jwisener opened #36001 "Multiple azure function projects"
there is no guidance on how to do multiple azure function app and deploying that against one app service plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Functions](https:/

[2019-07-28 18:04] jwisener opened #36003 "Multiple projects to different apps"
We use vs.net 2019, there is nothing here explaining how to deploy to multiple function apps within a service plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1ba8817-3e01-7e84-6c71-b98b131f2927
* Version Independent ID: a7703386-9e83-1075-72ef-f9e63f3dc4de
* Content: [Automate resource deployment for a function a

[2019-07-28 18:10] monsterrroll opened #36004 "Gen2 Managed Disk Does not boot up for Standard B4ms"
In HyperV, gen2 disk (vhdx) cannot be converted to vhd and use it,
So i prepared the vhdx for azure and finally i converted it to vhd with fixed size.
But when i create VM after converting to managed disk, it does not boot up.
I did the same for gen1 VM, it worked fine but it does not work for gen2 VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-07-28 18:50] clouditspace opened #36005 "small correction needed"
CLUSTER_RESOURCE_GROUP=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query nodeResourceGroup -o tsv)

Add $ at the beginning
$CLUSTER_RESOURCE_GROUP=$(az aks show --resource-group myResourceGroup --name myAKSCluster --query nodeResourceGroup -o tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-28 18:54] shashishailaj commented on #35622
@lXbalanque We have engaged the content authors to have this reviewed with engineering to see how best the details on the page can be updated for our customers.

[2019-07-28 18:57] shashishailaj commented on #35616
@rwike77 Could you please help get this error code updated on the page after reviewing with engineering?

[2019-07-28 19:14] shashishailaj commented on #35075
@towkneed For the handful of users which you have registered and they still show as enabled , we would suggest you to open a support ticket for the support to investigate more on this and help you further as it looks this may need more troubleshooting.

As for the Office 2019 question I am not sure if you are talking about standalone office 2019 bought through OEM partner or 2019 version of Office

[2019-07-28 19:14] #35075 closed

[2019-07-28 19:22] shashishailaj commented on #35337
@GitTune We are engaging the content author for reviewing this one

[2019-07-28 19:33] shashishailaj commented on #35299
@SwayTex Could you please help clarify if you are asking about the recommendation of using the  Azure VM linux syslog agent and no what kind of VM should be actually host it in out cloud infra  ?

[2019-07-28 21:34] jwisener commented on #22012
Expected unit of deployment. So I should be able to deploy multiple units right? To say an app service plan?

[2019-07-28 21:36] jwisener commented on #10579
So basically that means there is no support for app service plans?

[2019-07-28 22:03] ssbkang commented on #35932
Same issue here - as Azure Firewall application rule only supports HTTP/HTTPS/MSSQL, it is not possible to add TCP 22/9000 for `*.hcp.<location>.azmk8s.io` and `*.tun.<location>.azmk8s.io`

For `ntp.ubuntu.com`, probably we can leverage `nslookup` to grab the IP addresses.

[2019-07-29 00:15] KeiroKamioka0000 opened #36007 "Fix the visual please?"
https://docs.microsoft.com/en-us/azure/site-recovery/tutorial-dr-drill-azure#next-steps

I just see the button looking like text and just period.
Please consider to fix the HTML somehow please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d928a5ee-3c34-b56a-c797-d682e343c392
* Version Independent ID: 6a95c94b-85eb-3b

[2019-07-29 01:29] MicahMcKittrick-MSFT commented on #36004
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 01:32] MicahMcKittrick-MSFT commented on #36005
@clouditspace please provide us with the link to the doc you are referring to so we can better assist.

[2019-07-29 02:52] mike-urnun-msft commented on #34562
Hi @JamesFenton - Thank you for your suggestion. While `HttpRequestMessage` was being used widely with Functions v1, if you're on v2, our recommendation is to use `HttpRequest` instead. Moreover, in an effort to staying consistent with the way boilerplate HTTP functions are created with our tools (VS, VS Code, CLI, etc..) currently, we'll hold off from making this update on the said section for no

[2019-07-29 02:52] #34562 closed

[2019-07-29 02:56] AshokPeddakotla-MSFT commented on #35998
@ChungEnYu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 03:03] mgarf opened #36009 "Javascript Output (Service Bus) Vagueness"
The example gives no way to set label or session id which means trying to create an event causes the error:

The SessionId was not set on a message, and it cannot be sent to the entity. Entities that have session support enabled can only receive messages that have the SessionId set to a valid value

Any chance we can get the example updated with how to set these header values.

---
#### Document D

[2019-07-29 03:12] Zhang-lujia commented on #35934
Hi guys, I've came into the same problem with "Verification of publisher domain failed. The application was not found".
I've checked the applicationId in json file is corrent, and I can use curl to fetch the content hosted in the server. I can provide the file path and appId if necessary. Thanks.

[2019-07-29 03:17] kumarallamraju opened #36010 "Typo on the service fabric cluster capacity planning"
[Enter feedback here]

Should it be
The properties of each node type (size, primary, internet facing, number of VMs, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-3df5-5501b7dd9cf1
* Content: [Planning the Service Fabric cluster ca

[2019-07-29 03:35] ebrub opened #36011 "Link doesn't work"
[Enter feedback here]

In 'Datasets and datastores' section, the link doesn't work in here :
"For more examples using Datasets, see the **sample notebooks**."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e951c2-65b8-2bf2-5c67-f4b57fbab467
* Version Independent ID: e369876f-650d-c9f0-9f3b-d25c92e111cf
* Content: [Arc

[2019-07-29 03:41] RohitMungi-MSFT commented on #36011
@ebrub Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-29 03:53] pareshverma91 commented on #35652
I found the discrepancy in the first paragraph. The first line says that the default of 5 fault domains is for the regions with no zones.
![image](https://user-images.githubusercontent.com/1304396/62020919-7a0e6600-b1e2-11e9-9985-7281224c6e7a.png)

[2019-07-29 03:54] dmitry-lif commented on #34940
I would add something here -
There is NO way to introduce or update 'dependencies' set with AZ CLI.
My deployment is based on CLI, and I do not want to switch to Python SDK.
What shall I do?

[2019-07-29 04:02] WhitWaldo opened #36012 "Specifying placement constraints in ApplicationManifest.xml"
While this page indicates that one could specify placement constraints for a service in their ApplicationManifest.xml, it gives no examples. The list of manifest examples at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-manifest-examples fails to show how this would be done. The page speaking more descriptively about placement constraints at https://docs.microsoft.com/en-us/

[2019-07-29 04:14] CHEEKATLAPRADEEP-MSFT commented on #35999
@jakedurell  Thanks for the question! We are investigating and will update you shortly.

[2019-07-29 04:14] femsulu commented on #35172
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-29 04:14] #35172 closed

[2019-07-29 04:15] jwisener commented on #22594
Not sure how this is suppose to work with app service plans? I mean if I have two different .net projects I'm deploying as separate packages. how is can I have one function - app within the service app point one package while another is pointing at a different one? A bit confusing on how this is suppose to work with app service plans.

[2019-07-29 04:15] BhargaviAnnadevara-MSFT commented on #35745
@galla-devlop Just following up here to check if you have any update.

[2019-07-29 04:20] SwathiDhanwada-MSFT commented on #35809
We will now close this issue for now. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-07-29 04:20] #35809 closed

[2019-07-29 04:27] SwathiDhanwada-MSFT commented on #36007
Thanks for the feedback. We will fix the typo and update the document accordingly.

[2019-07-29 04:33] jakaruna-MSFT commented on #35433
@vinothinidharmaraj is there any update

[2019-07-29 04:34] jakaruna-MSFT commented on #35274
@pixelmosh
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-29 04:34] #35274 closed

[2019-07-29 04:35] KalyanChanumolu-MSFT commented on #35714
@chanmmn Thank you for clarifying. I see that the image needs to be updated.
We will let the author know so that this can be fixed in the next doc update.

[2019-07-29 04:35] jakaruna-MSFT commented on #35894
@j-re is there any update

[2019-07-29 04:35] KalyanChanumolu-MSFT commented on #35714
@sachinpMSFT The image under "Select Provisioned and Gen5." is missing the Tier selection and needs to be updated.

![image](https://user-images.githubusercontent.com/8835012/62022047-f22b5a80-b1e7-11e9-81f9-b1b9a36ff287.png)

I do not have access to update the image. Could you please make the changes.

[2019-07-29 04:35] #35714 closed

[2019-07-29 04:36] KalyanChanumolu-MSFT commented on #35720
@smithGit We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-29 04:36] #35720 closed

[2019-07-29 04:36] CHEEKATLAPRADEEP-MSFT commented on #35968
@benlemond  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-29 04:36] #35968 closed

[2019-07-29 04:37] CHEEKATLAPRADEEP-MSFT commented on #35981
@oshrih7145  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-29 04:37] #35981 closed

[2019-07-29 04:39] CHEEKATLAPRADEEP-MSFT commented on #35988
@jimmytrivedi  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-29 04:39] #35988 closed

[2019-07-29 04:39] CHEEKATLAPRADEEP-MSFT commented on #35992
@voonxx  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-29 04:39] #35992 closed

[2019-07-29 04:39] CHEEKATLAPRADEEP-MSFT commented on #35994
@962720900  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-29 04:39] #35994 closed

[2019-07-29 04:41] VikasPullagura-MSFT commented on #36010
@kumarallamraju Thanks for your feedback on the typo in document.
I have raised a PR and the document will reflect the changes once approved.

[2019-07-29 04:42] KalyanChanumolu-MSFT commented on #35725
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-29 04:44] KalyanChanumolu-MSFT commented on #35729
Thank you for the detailed feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-29 04:46] msrini-MSFT commented on #35820
@markarnolditpro , Please tag me if you have any further questions. I will close this issue for now.

[2019-07-29 04:46] #35820 closed

[2019-07-29 04:46] msrini-MSFT commented on #35796
@KeiroKamioka0000 , Please tag me if you have any further questions. I will close this issue for now.

[2019-07-29 04:46] #35796 closed

[2019-07-29 04:47] KalyanChanumolu-MSFT commented on #35855
@pwl-kdk I hope that answers your question. We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-29 04:47] #35855 closed

[2019-07-29 04:58] SwathiDhanwada-MSFT commented on #36009
@mgarf Thanks for reaching out. We are actively investigating and will get back to you shortly

[2019-07-29 05:07] jakaruna-MSFT commented on #35471
@Kjeanclaude
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-29 05:07] #35471 closed

[2019-07-29 05:31] ChiragMishra-MSFT commented on #35708
@joshnoe In the doc, it is assumed that it's understood that the same example can be modified to copy multiple tables.

Also, the intent is to show more than just copying data. The tutorial also talks about how to use the Output of Lookup activity in a subsequent Copy activity.

[2019-07-29 06:04] angoyal-msft commented on #35806
@MrLokeshV
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-29 06:04] #35806 closed

[2019-07-29 06:38] ChiragMishra-MSFT commented on #35816
@ivanignatiev Thanks for clarifying your ask. You can retrieve the managed identity application id of your Data Factory from the overview tab (as mentioned in [this doc](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-service-identity#retrieve-managed-identity)).

Once you have the managed identity, you can authorize access to Blob Storage by following [this doc](https://docs.micr

[2019-07-29 06:40] #35708 closed

[2019-07-29 06:43] ChiragMishra-MSFT commented on #35879
@Minewiskan Can you please take a look at this ?

[2019-07-29 06:47] aquibqureshi26 commented on #24114
This GitHub Issue is opened since 5 months and Misleading content is still present in public Doc.

[2019-07-29 06:53] AjayKumar-MSFT commented on #35557
@samjross, Thanks for sharing additional details, your feedback has been shared with the content owner (@mattchenderson) for further review.

[2019-07-29 06:56] venkatx5 opened #36013 "Broken link"
Under Connectivity provider locations section, the Airtel link goes to Non-exist page.
URL : https://www.airtel.in/creatingsmiles/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a00024b9-36f7-c9a8-4277-9360b0cd6163
* Version Independent ID: aa65d869-db72-c0d8-a7e1-75a4949b6bbc
* Content: [Connectivity providers and loc

[2019-07-29 06:56] PaulSells commented on #35943
@TravisCragg-MSFT I've tried redeploying today and I'm still seeing the same issue, I've also tried to deploy on an alternative Tenant/Subscription with the same result. Even the default template displays the same validation error, so would appear to be an issue with the schema service

[2019-07-29 07:02] angoyal-msft commented on #35804
@SogoGolf That's a great suggestion. I'll ask @tknandu the content author to check this feedback and update the document appropriately.

While for Javascript. Yes in the same page Azure Cosmos DB binding with Azure Functions, you can see there are options provided for binding using javascript. So you can use the same.

Hope this hels.

[2019-07-29 07:03] SumanthMarigowda-MSFT commented on #35728
@shankarsundaram Apologies for the delay! Link directs to the Minimum recommended versions with corresponding mount capabilities (SMB version 2.1 vs SMB version 3.0)

Since  Linux distribution supports SMB 3.0 with encryption uses 3.0. Here its shows what all version can use the SMB2.1 and SMB 3.0

We will now proceed to close this thread. If there are further questions regarding this matter, plea

[2019-07-29 07:03] #35728 closed

[2019-07-29 07:17] mrdfuse opened #36014 "In preview or not?"
Is this now still in preview or not? Both the documentation and the portal keep saying it is, but our contacts at Azure Premier say it's released in production?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db2d-bff9-cbcf-d522-966ed17ea27f
* Version Independent ID: 91e3eeb7-8602-9e26-21c3-1fa70d03a354
* Content: [

[2019-07-29 07:20] pes-kapacity commented on #35926
Hi @MartinJaffer-MSFT. Thank you for picking it up :)

Here's the code (Mapping were removed to keep things brief):

{
	"name": "CopyToBlob",
	"type": "Copy",
	"dependsOn": [
		{
			"activity": "Set LoadStart",
			"dependencyConditions": [
				"Succeeded"
			]
		}
	],
	"policy": {
		"timeout": "7.00:00:00",
		"retry": 0,
		"retryIntervalInSeconds": 30,
		"secureOutput": false,
		"secureInput": fal

[2019-07-29 07:33] SubhashVasarapu-MSFT commented on #36013
@venkatx5, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-29 07:37] SumanthMarigowda-MSFT commented on #35800
Azcopy will copy all the data (upload and download). when you start the process.
There won’t any issue with the consistency!.

AzCopy creates log and plan files for every job. You can use the logs to investigate and troubleshoot any potential problems.
The logs will contain the status of failure (UPLOADFAILED, COPYFAILED, and DOWNLOADFAILED), the full path, and the reason of the failure.
By defaul

[2019-07-29 07:39] SumanthMarigowda-MSFT commented on #35648
@nikesh-dev If you’re trying to download a directory, you can simply select the directory in Storage Explorer and click the Download button. The app will even use AzCopy if you turn the feature on from the top menu. For the SAS, as per the explanation above, since directories don’t technically exist, you’ll need to use a container SAS to download all blobs with a given prefix:

azcopy copy "https:

[2019-07-29 07:42] codalprashant commented on #21044
@kraigb  How can I run the "python manage.py migrate" command in case of django with webapps with code?

[2019-07-29 08:22] angoyal-msft commented on #35815
@alvipeo Could you please share the screenshot where you see failover and forced failover. As I can only see Forced failover. In the meanwhile I'll check with product team for more details on how to configure friendly failover.

![image](https://user-images.githubusercontent.com/43370663/62032722-02533200-b208-11e9-84a5-9181168783a0.png)

[2019-07-29 08:22] angoyal-msft commented on #35815
@anosov1960 could you please comment on what exactly friendly failover is and how can we configure the same.

[2019-07-29 08:24] vhmoura commented on #14565
Hi there,
I am having issues loading local.settings.json.
I created an azure function with VS 16.1.3 and I am doing DI like this:

[assembly: FunctionsStartup(typeof(XX.Di.Startup))]

namespace XX.Di
{
    public class Startup: FunctionsStartup
    {
        public override void Configure(IFunctionsHostBuilder builder)
        {
            var xx = System.Environment.GetEnvironmentVariable("WEBSI

[2019-07-29 08:35] Ballzer0 opened #36016 "could we get more documentation on Client Limitations"
it would be great if you described how a confidential client could redeem the access token. right now all i see is that it is a possibility.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d-ba3a-0078-d4b6-1e47fad5ea41
* Content: [Microsoft identity p

[2019-07-29 08:36] ChiragMishra-MSFT commented on #35375
@linda33wj Any update on this ?

[2019-07-29 08:36] jovabel commented on #35382
Thanks for clearing up. However it took me some time to find the solution that uses the IAsyncCollector.  For programmers starting with Azure, it would be nice if code examples in the official documentation match the latest standards / templates /....

[2019-07-29 08:47] jakaruna-MSFT commented on #36012
@WhitWaldo Thanks for the feedback.
I went through the document and found that its not having an example with ApplicationManifest.xml

I will assign this issue to the author to update it

Placement constraints are supported in `ApplicationManifest.xml`.
Please try as per the example provided below.
I have added placement constraint for the "VotingWeb" service.
[code]
Please try this way and let me

[2019-07-29 08:53] SubhashVasarapu-MSFT commented on #35298
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-29 08:53] #35298 closed

[2019-07-29 08:54] DixitArora-MSFT commented on #35935
@nathanwinder Complete information is already provided for the keys in Hyperlink 'authorization Keys' in the doc itself. I don't think there is a doc change required for this.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#authorization-keys

[2019-07-29 08:56] OlieVuur opened #36017 "Cannot train custom speech with utterances and pronunciation"
When I try to train a custom speech model I cannot use an utterances file and a pronunciation file together. I prepared both of these as text files and can train a model using 1 file at a time. I cannot however train with both. When following the instructions in #31337 the "Add pronunciations" option does not appear. Here is what I see:
![train_custom_data](https://user-images.githubusercontent.co

[2019-07-29 09:02] michaelrnz commented on #30680
Seeing the same behaviour here, going to raise this with support as well.

[2019-07-29 09:05] sergeyz7 commented on #35840
@MarileeTurscak-MSFT - I know exactly what this in reference to, as I have a fair amount of experience designing and implementing AAD CA. I do think this needs to be re-opened, and the description changed. 'Browser' in this condition means 'a client application that identifies itself as a browser', and not 'websites using the SAML, WS-Fed, etc.' at all!

[2019-07-29 09:08] KalyanChanumolu-MSFT commented on #35929
@iqsarv Thank you for reporting this. I was able to reproduce the issue with the SDK.
However while using storage explorer, I get the below error while trying to insert an entity

![image](https://user-images.githubusercontent.com/8835012/62035795-26b20d00-b20e-11e9-8acb-71ccb1234f93.png)

Id appears to be a reserved property name.

@wmengmsft Could you please confirm if this is true.

[2019-07-29 09:12] sergeyz7 commented on #35840
'websites using the SAML, WS-Federation, or OpenID Connect web SSO protocols. This also applies to any website or web service that has been registered as an OAuth confidential client. For example, the Office 365 SharePoint website' - this is clearly a description of the SERVICE side, not CLIENT side - and BOTH browsers AND 'rich' clients can connect to something that satisfies this description - i

[2019-07-29 09:13] dcurwin commented on #35144
Yes, it is a best practice to trigger an ad-hoc backup after changing the cache location. We will update the documentation to make that more clear.

[2019-07-29 09:13] dcurwin commented on #35144
#please-close

[2019-07-29 09:13] #35144 closed

[2019-07-29 09:21] dcurwin commented on #35140
@femsulu  Please assign to @saurabhsensharma

[2019-07-29 09:26] SnehaAgrawal-MSFT commented on #35817
@alvipeo Thanks again for asking question! Just to confirm if you are using Application Gateway.
You may refer to this doc: https://docs.microsoft.com/en-us/azure/application-gateway/how-application-gateway-works#modifications-to-the-request
Let me know if this helps.

[2019-07-29 09:27] kshitijrana commented on #23702
@MarileeTurscak-MSFT I registered an app on Azure AD with Microsoft Graph API. It's been a little over two weeks since a user accepted to the permission scopes. On trying to refresh the access token today, I got the following error:
"AADSTS70000: The user could not be authenticated as the grant is expired. The user must sign in again"
I was under the impression that the refresh token will not expi

[2019-07-29 09:42] iqsarv commented on #35929
I mentioned from Data explorer of the Cosmos Table API. You can try calling the Cosmos REST API directly with Postman or some other REST client tool.

I am guessing the storage explorer is using the .NET sdk

[2019-07-29 09:48] dcurwin commented on #35831
@femsulu Please leave @pvrk as the only assignee.

[2019-07-29 09:48] dcurwin commented on #35890
@femsulu Please leave @pvrk as the only assignee.

[2019-07-29 09:48] SubhashVasarapu-MSFT commented on #35925
@m4h3, Basic SKU does not support availability zone scenarios as mentioned in the document. The doc which you are referring to has some baffling statements regarding basic SKU. Already there are commits done on top this [document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-public-ip-address#create-a-public-ip-address).It will take some time to get reflected due to mergi

[2019-07-29 09:49] saurabhsensharma commented on #35140
@SirJewDanielBerg,
Really valuable feedback! We are sorry about the inconvenience this might have caused to you. You are right. The System State backup configuration warrants unmounting the disk with the CBSSB volume after stopping "cbengine" and further performing the steps as mentioned. We will get this updated on the doc ASAP. Also, thanks for sharing the additional feedback. The product does p

[2019-07-29 09:50] saurabhsensharma commented on #35140
#please-close

[2019-07-29 09:50] #35140 closed

[2019-07-29 10:01] SvetlanaDevOps commented on #25052
Please provide here information on how to set restriction rules in ARM Template

[2019-07-29 10:01] VaclavK opened #36019 "Contributor vs Reader role?"
This is silent re read-only access (equivalent to read-only keys). Is e.g. Reader role supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0b5a566-084c-d77f-9d78-3bfd72b01080
* Version Independent ID: b22f2729-2f31-a0cd-fc61-0ead183b0aab
* Content: [Integrate with Azure managed identities](https://docs.microsoft

[2019-07-29 10:01] SnehaAgrawal-MSFT commented on #35869
@Mitaric Thanks again for the Feedback!
According to the error mentioned by you "No backup configuration found. A configuration must be created.”
First you need to create backup then you may update. You may refer below link for creating backup of a Web App using Azure CLI Commands: https://docs.microsoft.com/en-us/cli/azure/webapp/config/backup?view=azure-cli-latest#az-webapp-config-backup-create

[2019-07-29 10:06] schefs commented on #32537
@anavinahar Please post the link here once available ! 👍

[2019-07-29 10:12] MMollyy opened #36020 "What does the TenantCreator role do (permissions wise)"
I have been looking on google, microsoft docs and in the portal, but this role does not exist??
https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles

I can see that after the Enterprise Application is created that adding a user to it automatically gives that user the TenantCreator role. But it's not a role that exists in documentation or in the dr

[2019-07-29 10:14] Sogup commented on #35727
"If you move a vault containing VM backup data, across subscriptions, you must move your VMs to the same subscription, and use the same target resource group to continue backups."
Is this not enough?

[2019-07-29 10:15] Sogup commented on #35727
#please-close

[2019-07-29 10:15] #35727 closed

[2019-07-29 10:45] seanmcdonnellblog opened #36021 "VMExtensionProvisioningError"
Getting the following error when attempting to pass in storageAccountKey as a parameter or variable. Currently the only way around this is to store the Storage key in the json template, which is less than ideal.

"VM has reported a failure when processing extension 'CustomScript'. Error message: \"Failed to download all specified files. Exiting. Error Message: The input is not a valid Base-64 stri

[2019-07-29 11:02] SadiqhAhmed-MSFT commented on #35746
@rothja Could you verify the limit change from the concerned team and update the doc?

[2019-07-29 11:13] ManojReddy-MSFT commented on #35990
@mahoekst Thanks for reporting this. Adding ".result" after the ExecuteAsync() fixes the issue. I have submitted a PR for this and it will be merged post approval from the author.

[2019-07-29 11:14] duichwer commented on #34834
Okay.
Now I had time to try it.
First, I think that I made one mistake by using the standard commands (`python3`, `pip3`).
I haven't scrolled so far down on the [docu page](https://docs.microsoft.com/en-us/azure/notebooks/configure-manage-azure-notebooks-projects#code-try-0).

Now I changed may install-dep.sh to the following content:
[code]
![grafik](https://user-images.githubusercontent.com/1685

[2019-07-29 11:26] BhargaviAnnadevara-MSFT commented on #35928
@SychevIgor I've raised a PR with the updated screenshots to match the new UX and awaiting sign-off. The changes should reflect soon post the merge. Thanks for bringing this to our attention!

[2019-07-29 11:27] RanjithPC opened #36023 "Not handling -5.59E-05 (How handle 1+E to number field)"
Hi,

I have an csv file it had some numeric field data,
sample data
Rowno       Name       USD
1                Ranjith      -5.59E-05
2                Kani          -0.00011316
3                vinu          0.0042846

copy functionality here row number  2 and 3 are inserted, but row number 1  is skipped but csv had -5.59E-05 (-0.00005592) exact value.

My concern is data factory not properly han

[2019-07-29 11:29] RanjithPC opened #36024 "How handle Scientific to numeric 1+E in csv file"
Hi,

I have an csv file it had some numeric field data,
sample data
Rowno Name USD
1 Ranjith -5.59E-05
2 Kani -0.00011316
3 vinu 0.0042846

copy functionality here row number 2 and 3 are inserted, but row number 1 is skipped but csv had -5.59E-05 (-0.00005592) exact value.

My concern is data factory not properly handling scientific to numeric conversion. Let me suggest right solution and your con

[2019-07-29 11:49] ManojReddy-MSFT commented on #35510
@jimt4593 Apologiues for the delayed response. For every application this property will be displayed in the portal.

You can build this on your own

Example:

https://myapps.microsoft.com/signin/<Application name>/<Application ID>

If you want tenant specific endpoint then you can use the below format

https://myapps.microsoft.com/<tenant name or verified domain name>/signin/<Application name>/<Ap

[2019-07-29 11:54] #35802 closed

[2019-07-29 12:02] AmanGarg-MSFT commented on #36021
@seanmcdonnellblog Thank you for your post. Please let us know in case you have any specific request as the issue details do not clarify much. If you have a specific request about some documentation, please provide the link for the document so that we can help you better.

[2019-07-29 12:03] AmanGarg-MSFT commented on #36023
@RanjithPC Thank you for your post. Please let us know in case you have any specific request as the issue details do not clarify much. If you have a specific request about some documentation, please provide the link for the document so that we can help you better.

[2019-07-29 12:04] AmanGarg-MSFT commented on #36024
Duplicate of #36023

[2019-07-29 12:08] jakaruna-MSFT commented on #35558
@theheatDK I checked with my team.
Currently no  notifications will be send other than the file creation which is happening inside the server.

We can achieve notification by various means. Easiest way is to deploy a daemon set which will check the files existence and notify if its there.

My team suggested a [Medium article](https://medium.com/@denniszielke/dashboard-and-notifications-on-aks-for-

[2019-07-29 12:08] jakaruna-MSFT commented on #35558
@theheatDK
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-29 12:11] aquibqureshi26 commented on #35727
"If you move a vault containing VM backup data, across subscriptions, you must move your VMs to the subscription, and use the same target resource group name as of primary resource group name to continue backups"

[2019-07-29 12:18] ivanignatiev commented on #35816
@ChiragMishra-MSFT  thank you for response ! We have tries proposed approach.

1. We have generated System Assigned Identity for Data Factory
2. We have assigned Owner role for this System Assigned Identity to Storage Account
3. We have used code from documentation https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#add-the-callback-method

Now we are getting the following e

[2019-07-29 12:33] RohitMungi-MSFT commented on #35637
@erammunawwar Here is a [document translator](https://github.com/MicrosoftTranslator/DocumentTranslator) repo that uses the translator API. We hope this helps you to translate the supported docs at once.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen

[2019-07-29 12:33] #35637 closed

[2019-07-29 12:36] nikesh-dev commented on #35648
Thanks @SumanthMarigowda-MSFT I will try this out.

[2019-07-29 12:40] RohitMungi-MSFT commented on #35896
@AlexanderTodorovic We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-29 12:41] #35896 closed

[2019-07-29 12:42] johncmerfeld commented on #29671
Has there been any movement on this? It's pretty jarring to just see one sentence claiming the product is accessible.

[2019-07-29 12:46] jakaruna-MSFT commented on #35904
@nit23uec  Did you had a chance to go through the below  document which speaks about dynamic file provisioning?

https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv

[2019-07-29 12:48] lommez commented on #31375
Sorry for the delay @ecfan . But this issue is not resolved for me.
I'm still waiting the inline code to have access to variables

[2019-07-29 12:50] bartvermeersch opened #36025 "Unable to recover from error after entering SAML config"
After entering the SAML configuration in https://samltoolkit.azurewebsites.net the page (https://samltoolkit.azurewebsites.net/SAMLSSOconfig) keeps returning an error. I'm unable to proceed with the configuration, view it or change it. I suspect I forgot to click the Upload file button for the XML federation file or the service is just down?
"
Error.
An error occurred while processing your request

[2019-07-29 12:56] alvipeo commented on #35815
here we go:
![failovers](https://inus.azureedge.net/pub/failover%20types.png)

Is this correct? At least I used plain Failover button for testing. But please state clearly in the docs which one is which!

[2019-07-29 12:59] alvipeo commented on #35817
Guys, I need TO FILTER OUT those requests. This is basically what I need https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door

But I don't use Front Door WAF, I just use a regular WAF.

[2019-07-29 13:00] #35950 closed

[2019-07-29 13:04] wukun2015 opened #36027 "End of recognition of whole Wave File Input"
Hello,

When i feed service with Wave file input in audio config, how can i know the recognition of the whole wave file content is done?

SpeechRecognizer.Recognized result event only indicates recognized result of partial content in wave, rather than end of whole wave file reco.

Thank you.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-07-29 13:06] SilicusShraddha opened #36028 "Java azure-function deployment bitbucket pipeline, gives NoSuchMethodException. How to resolve dependencies of another dependent project?"
I have two java projects. A java azure function, with another child maven project. This another project have other dependencies like, jackson-databind, apache etc. Using bitbucket pipeline, i am able to successfully deploy it on azure. But while running, it is not able to read dependencies of child dependent project. Though all my parent/child jars are fat jars, the pipeline artifacts lib folder u

[2019-07-29 13:08] vrishni commented on #35813
@ThomasRebel From the error I could see that directory for Hemlock not found. The sampleDataRoot  referenced from the root of the repo as shown below.
const sampleDataRoot = "Samples/customvision/images";
The Hemlock directory can be accessed using the following
const hemlockDir = `${sampleDataRoot}/Hemlock`;
Please refer the following code [sample](https://github.com/Azure-Samples/cognitive-servi

[2019-07-29 13:11] pagyP opened #36029 "Agentless Migration Port requirements - Clarification"
The table for Agentless Migration Port requirements states the appliance requires TCP 3389 outbound to upload replicated data to Azure.  Is it really 3389?  I would have expected it to be 443

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe8b3793-2277-68d5-e677-909e898baa9e
* Version Independent ID: 8fa072bf-23d8-9039

[2019-07-29 13:25] PaulSells commented on #35943
@TravisCragg-MSFT solved the issue, I was using the Deploy Custom template have switched to using PowerShell for the deployment and service provider now appears within Service Providers in the Azure Portal with the correct delegations. However not seeing the customer subscription listed in the My customers - Customers area? Thanks

[2019-07-29 13:29] Nicholas-I opened #36030 "Unable to complete Quickstart, "Cannot create device because its parent IoT Hub is not in the running state""
Hi, when I follow all instructions from "Quickstart: Find available rooms by using Azure Digital Twins", the following error occurs:

_Response Status: 400, BadRequest , {"error":{"code":"400.600.000.000","message":"Cannot create device because its parent IoT hub is not in the running state."}}_

My error seems very similar to this issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/24

[2019-07-29 13:39] SamaraSoucy-MSFT commented on #36019
@VaclavK Thanks for the question! We are investigating and will update you shortly.

[2019-07-29 13:43] clouditspace commented on #36005
Here it is: https://docs.microsoft.com/en-us/azure/aks/ssh#add-ssh-keys-to-regular-aks-clusters

[2019-07-29 13:46] tommparekh opened #36031 "require("Web3") in Truffle develop shell throwing error"
Hi, I am facing a challenge in connecting to my Azure BC node using Truffle (https://docs.microsoft.com/en-us/azure/blockchain/service/connect-truffle). Pre req has been installed successfully. When trying to execute require("Web3") in Truffle develop shell, getting error and hence unable to proceed from that point.

![image](https://user-images.githubusercontent.com/24255850/61973180-7b0c8100-afb

[2019-07-29 13:49] RyanHill-MSFT commented on #33656
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-29 13:49] #33656 closed

[2019-07-29 13:51] amandadebler opened #36032 "Role Assignments fail with normally-permissioned Terraform SP"
The role assignments fail when using a normally-permissioned (Contributor on Subscription) service principal for Terraform. As we would like to deploy as much as from CI/CD, we would need to find a workaround.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20f12c89-40e2-076e-6135-64773551e673
* Version Independent ID:

[2019-07-29 13:54] benlemond commented on #35968
@CHEEKATLAPRADEEP-MSFT I'm not quite understanding your first comment.  I don't need feedback on a document, as there is no document that you have (that I have seen) that details out the C# API (or any API) for communicating the aforementioned event to the IOT Central application.  That is why I am asking for help or for a reference.

[2019-07-29 14:14] m4h3 commented on #35925
Well, I did successfully create a Basic sku public ip address with a zone.

[2019-07-29 14:15] djimmo opened #36033 "Outdated method?"
The use of this method results in the following error:
 UnhandledPromiseRejectionWarning: TypeError: client.database(...).container(...).items.query(...).toArray is not a function

I have solved this by using fetchAll() instead of toArray()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c37e9125-19f4-ed9c-5b69-a42dfb6d

[2019-07-29 14:25] YutongTie-MSFT commented on #35661
@diberry Hi Dina, I tried to reproduce it but I can not. Could you please take a look and share your insight here?

@bluetrane  Hi Bluetrane, I am sorry I can not reproduce your issue. I have assigned this issue to our expert Dina to have a look.  Thank you for your understanding.

[2019-07-29 14:26] YutongTie-MSFT commented on #35750
@assafi Thank you Assafi. We are looking forward to the new update.

@edwin-dsw  I am closing it for now. Thank you for your feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-29 14:26] #35750 closed

[2019-07-29 14:27] RyanHill-MSFT commented on #35490
@mapoitras, when it comes to restoring domain binding, we do make the best effort to backup and restore those custom domains. So if you're seeing errors, try using the "Ignore Conflicting Host Names on Restore" option when restoring your web app. If the errors persist, please let us know so we can forward to the team.

In regards to backing up certs, the tool doesn't support that automatically. Th

[2019-07-29 14:27] angoyal-msft commented on #35815
@alvipeo Apologies for the misunderstanding and thanks for the valuable feedback.
Yes, your understanding seems correct. The friendly failover could be used to relocate the primary to the secondary region. In this there will be no data loss. While in forced failover there could be data loss.

Still I am discussing internally and would confirm the same.

Hope this helps.

[2019-07-29 14:29] diberry commented on #35661
#in-progress

[2019-07-29 14:36] Zingonead opened #36034 "Column Store index : Azure SQL Hyperscale should be included ?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-29 14:48] theheatDK commented on #35558
Thanks @jakaruna-MSFT,
Maybe somebody should update the documentation since it is currently wrong :-)
Regards Peter

[2019-07-29 14:49] thecpshah opened #36036 "How to import labels file in score.py"
I am currently applying `LabelEncoder` on two categorical features and then building a `Decision Tree` classifier.

How do I use saved class files in `score.py`

[code]

OR how do I encorporate `LabelEncoder` in `Pipeline`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89cb4f9c-34e0-b4df-f911-e083c420cee8
* Version Ind

[2019-07-29 14:54] aodugga opened #36037 "Scale Down on Storage not being Permitted is not clear enough"
Hi there, I work in the Azure Customer Experience Team and I picked up a case for a Cx who increased the storage on their postgreSQL DB to get more IOPs. They are worried now as they increased it to the max to get 6000IOPS on general tier and they cannot scale it down. Can the section under "Scale Resources" for "The storage size can only be increased" be highlighted in bold or even better moved i

[2019-07-29 14:54] ram-msft commented on #35704
@Teodelas We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-29 14:54] #35704 closed

[2019-07-29 15:06] MicahMcKittrick-MSFT commented on #36020
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 15:11] MicahMcKittrick-MSFT commented on #36032
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 15:14] pes-kapacity opened #36038 "Issue with delimiter when dealing with a connection-throttled SFTP server and big files"
Hi,

We seem to be encountering an extremely specific issue with delimited files, originating from an SFTP site. The delimiter is the '~' symbol. However, some rows in the source files contain a semicolon. When processing the files, sometimes they process successfully, while other times the following error is thrown:

{
    "errorCode": "2200",
    "message": "ErrorCode=UserErrorSourceDataContains

[2019-07-29 15:16] RyanHill-MSFT commented on #35665
@k7faq, the `--password` option was removed due to security concerns on accepting weak passwords. There is a current workaround which is `az ad sp credentials reset`. This will allow for backwards compatibility but it's usage is **strongly** discouraged due to the same concerns.

@Juliako, we should update the this documentation removing `--password` switch as it is no longer available.

[2019-07-29 15:30] ram-msft commented on #36027
@wukun2015 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-29 15:32] ram-msft commented on #36036
@thecpshah Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-29 15:40] seanmcdonnellblog commented on #36021
Hi AmangGarg, the issue is with the extension itself. When you attempt to use a parameter or variable for the storage key within the Custom Script Extension, it fails with the above message. However, if I add the key directly into the JSON script it works correctly?

[2019-07-29 15:51] StingyJack commented on #35936
The OS is Windows - the only supported OS for the tool in question.  For security's sake you installed a shortcut that can never work, and never be made to work.

If an attacker has physical access to the computer, you have already lost.

[2019-07-29 16:00] nit23uec commented on #35904
@jakaruna-MSFT yes, I know about dynamic volume provisioning. But my query is different. I want to know if dynamic volume mounting is supported?  Volume has already been provisioned here.

[2019-07-29 16:01] AmanGarg-MSFT commented on #36021
Can you please help me with the link of document that you are following to encounter the above issue?

[2019-07-29 16:11] theheatDK opened #36040 "PowerShell Az examples?"
Hi,
It would be nice with PowerShell examples. Any reason why you have chosen to only include Azure CLI examples?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0728f6aa-4933-e227-58c1-da28b3b6dd3f
* Version Independent ID: e8245931-ed83-cf3d-0c03-fcde025f41b6
* Content: [Create, view and manage Metric Al

[2019-07-29 16:12] Minewiskan commented on #35879
@nickbeagley2 -Thanks for letting us know. This happens quite a bit when another service changes their UI. This article has been updated.
#please-close

[2019-07-29 16:12] #35879 closed

[2019-07-29 16:12] Minewiskan commented on #35353
#please-close

[2019-07-29 16:12] #35353 closed

[2019-07-29 16:22] snehithm commented on #36040
Hi @theheatDK, thanks for the feedback. When the article was originally published, we didn't support PowerShell cmdlets. We will add this information soon.

[2019-07-29 16:24] craigktreasure commented on #32529
@MikeChemi This was fixed in a recent update to our samples where we removed the `global.json` file.

@Alberto-Vega-MSFT This can now be closed.

[2019-07-29 16:30] snehithm commented on #36040
In the meanwhile, we would recommend taking a look at [powershell cmdlet documentation](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrulev2) for examples.

[2019-07-29 16:33] iyerusad commented on #22594
Not particular related to App Service Plans - App Service Plans are just the compute unit ("VM"/container) of Web Apps.

Each **Web App** runs as its own instance within a **App Service Plan**, complete with unique settings/folders. You can host multiple Web Apps within a single App Service plan. Function Apps are essentially Web Apps.

Deploying as Run from Package means a particular Web App will

[2019-07-29 16:50] Adam-Smith-MSFT commented on #35936
@StingyJack I totally agree with you. Unfortunately since this medium is related to documentation, I'd recommend posting your feedback to the product team using Customer voice: https://feedback.azure.com/forums/217298-storage

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-29 16:50] #35936 closed

[2019-07-29 16:58] Accounted3 commented on #34065
@ManojReddy-MSFT
Hello,

We are in a federated domain and have hundreds of systems that are still 1709.  Is there a way to bulk remove these devices rather than manually going to Settings > Accounts > Access work or school > select the tenant > Disconnect?

What is the impact if we do not do this?  It is not at all clear what could happen.

Thank you

[2019-07-29 17:04] markgar commented on #34230
I'd like to amplify this request.  Naming limitations are limitations.  I don't see why they wouldn't be listed here.  For instance, another limitation that would be good to call out is Azure Storage Account names.  24 characters, no caps, no dashes.  But my suggestion is to gather naming restrictions for all services and put them here.

[2019-07-29 17:06] jwisener commented on #22594
Okay great thanks!

[2019-07-29 17:06] edu1409 opened #36042 "Update supported SO"
According Azure Service Fabric Team Blog, Windows Server 2019 is already supported:
https://blogs.msdn.microsoft.com/azureservicefabric/2019/04/08/azure-service-fabric-6-4-refresh-release-5/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3a68b32-7ba0-74a4-510f-87a66dc05015
* Version Independent ID: f3b1165c-d6cf-ab4c-

[2019-07-29 17:13] KranthiPakala-MSFT commented on #36038
@pes-kapacity Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-29 17:17] axelgMS opened #36044 "Add a note saying that CustomScriptExtension runs under LocalSystem account"
Hey there,
it's not uncommon that users are running scripts needing special permissions on the VM. Please note that CSE will run under LocalSystem account.
Might be a good idea to add a note to that page.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID

[2019-07-29 17:23] MisinformedDNA opened #36045 "Description of AZURE_FUNCTIONS_ENVIRONMENT is inaccurate"
The description says

&gt; When AZURE_FUNCTIONS_ENVIRONMENT isn't set, it defaults to Production.

This may be true in Azure, but it is not true for development in VS. It defaults to "Development".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18aa54fd-3aa1-37c5-925c-51a0195b1030
* Version Independent ID: 60198016-1ea

[2019-07-29 17:27] bwren commented on #35565
#please-close

[2019-07-29 17:27] bwren commented on #35242
#please-close

[2019-07-29 17:27] #35242 closed

[2019-07-29 17:33] mike-urnun-msft commented on #36028
Hi @SilicusShraddha - Thank you for your feedback! We will review and update as appropriate.

[2019-07-29 17:44] jrgithub commented on #20721
Has this been addressed? If so, does PowerShell Az include a module to Set  / Get encryption status per database? This is a critical need.

[2019-07-29 17:45] jeffpatt24 commented on #34448
Error 0x80c80205 and 0x8000ffff was added to the doc. The updated content should be published later today.

[2019-07-29 17:45] jeffpatt24 commented on #34448
#please-close

[2019-07-29 17:45] #34448 closed

[2019-07-29 17:46] rupeshprasad opened #36046 "Created a custom attribute of type datetime but it is storing value as string"
I created a custom attribute as dateTime and storing current date time in that fields. However when i check the type of that custom attribute it is showing as string.
Below is the attribute which i have defined in custom policy.

[code]

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29fb9816-df6a-6f60-35d0-c2a04732f295
* V

[2019-07-29 17:46] jeffpatt24 commented on #30481
Error 0x80c80243 was added to the doc. The updated content should be published later today.

[2019-07-29 17:47] jeffpatt24 commented on #30481
#please-close

[2019-07-29 17:47] #30481 closed

[2019-07-29 17:49] mamccrea commented on #35979
@Exnav29 - thank you! I will be updating this content today. I'm glad you found the process to apply for a developer account to be straight forward. Do you remember approximately how long it took for your account to be created?

[2019-07-29 17:49] Mike-Ubezzi-MSFT commented on #36033
@djimmo Thank you very much for your detailed feedback and providing the solution. I will have this addressed in the documentation. If you encounter any additional issues, please continue to use this process to highlight issues and product anomalies.

[2019-07-29 17:51] Mike-Ubezzi-MSFT commented on #36037
@aodugga Thank you very much for the detailed feedback. I will have this addressed in the documentation. Please continue to use this process to highlight issues with the documentation and we can make updates.

[2019-07-29 18:00] bwren commented on #35833
While it's not yet recognized by intellisense, partition is supported in Azure Monitor.  Try the following query.

let N = 10;                 // Number of query-partitions
range p from 1 to N step 1  //
| partition by p            // Run the sub-query partitioned
{
    Event
    | where hash(EventID, N) == toscalar(p) // Use toscalar() to fetch partition key value
    | summarize Count = count()

[2019-07-29 18:04] theheatDK commented on #36040
Thanks @snehithm

[2019-07-29 18:04] #36040 closed

[2019-07-29 18:07] msangapu-msft commented on #34584
#please-close

[2019-07-29 18:07] #34584 closed

[2019-07-29 18:08] msangapu-msft commented on #34490
#please-close

[2019-07-29 18:08] #34490 closed

[2019-07-29 18:08] msangapu-msft commented on #35090
#please-close

[2019-07-29 18:08] #35090 closed

[2019-07-29 18:09] kgremban commented on #35692
@Alberto-Vega-MSFT I'm looking into @ppavanm's question about whether DPS can be used to provision downstream devices

[2019-07-29 18:10] Mike-Ubezzi-MSFT commented on #36030
@Nicholas-I Thank you very much for bringing this to our attention. We are currently investigating and will identify a resolution when we have completed our research.

[2019-07-29 18:20] scottstout commented on #20572
I think the docs are still incorrect/unclear on this. You **can** change the address space to be smaller even if there is associated subnet . .  . as long as the subnet is not in the address space that goes away. I think the docs are unclear on this. For example:

Create VNET with
  Address Space:172.21.0.0/16
  Subnet:  172.21.0.0/24

Changed Address space from 172.21.0.0/16 to 172.21.0.0/18.

Do

[2019-07-29 18:27] mhunter77 opened #36049 "Please document the ports that AD Connect health agent could use if installed on an onpremise domain controller."
An Azure Rapid Response customer opened a case 119071222001469 in service desk.  He was looking for documentation on the ports that the Azure AD connect health agent would use when installed on a on-premise domain controller.

The customer was looking for documentation to provide to his networking and security team on why Azure AD Connect Health Agent (Microsoft.Identity.Health.Adds.InsightsServic

[2019-07-29 18:27] Mike-Ubezzi-MSFT commented on #36034
@Zingonead Thank you very much for the detailed feedback. Was there a specific document you were sourcing to initiate this feedback? Because the issue was created without being associated with a specific document, I took the liberty of choosing the best possible doc to file this issue under. If there is another document that you feel needs this verbiage added, please comment with the specific link

[2019-07-29 18:35] wmengmsft commented on #35929
On Cosmos DB Table API, "Id" is currently a reserved system property. Is it possible to choose another name for your property?

Please see this page for this and other discrepancies compared to Azure Storage Tables: https://docs.microsoft.com/en-us/azure/cosmos-db/faq#table

[2019-07-29 18:39] MarileeTurscak-MSFT commented on #36025
@bartvermeersch
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-29 18:40] BhargaviAnnadevara-MSFT commented on #35793
@Smoles Thanks for the interesting question!

From what I've gathered from our internal Teams, it turns out that we make sure that new IP addresses are added to this page _before_ the customer traffic is routed to them. There is no formalized wait time beyond that. While it typically took a few days in the past between the docs update and the new IP addresses becoming active, we’re striving to red

[2019-07-29 18:42] KranthiPakala-MSFT commented on #34717
@linda33wj Could you please have a look into the above ask from @karthiksubramanians?

[2019-07-29 18:43] garrmark opened #36051 "More info on the new EnforceUserServiceMetricCapacities please"
I saw one article about the new EnforceUserServiceMetricCapacities setting, but I can find any Microsoft documentation on it, like how to set the percent of resources used, etc.  Can you point me in the right direction?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Indepe

[2019-07-29 18:45] RajatUC opened #36052 "Copy pasted text from 'Pivot' section"
The following text appears under the "Unpivot Key" section:
"The Pivot Key is the column that ADF will pivot from row to column. By default, each unique value in the dataset for this field will pivot to a column. However, you can optionally enter the values from the dataset that you wish to pivot to column values."

The following text appears under the "Unpivoted Columns" section:
"Lastly, choose

[2019-07-29 18:46] SamaraSoucy-MSFT commented on #36019
The Reader role doesn't currently work with Managed Identities and Azure App Config to retrieve values. The Contributor role has full permissions on the account including write, edit and delete.

It is an extra step, but if you use Key Vault as an intermediary, you can put the read-only connection string into a Secret and have the [Managed Identity connect with Key Vault](https://docs.microsoft.co

[2019-07-29 18:51] MicahMcKittrick-MSFT commented on #36020
@MMollyy thanks for raising this issue. I took a look at our documentation and I too don't find anything related to TenantCreator. I can speculate what that entails but am not finding anything official.

This might just apply to Windows Virtual Desktop.

I am going to assign this issue to the Content Author to review and see if we can add some documentation around this role and the permissions it

[2019-07-29 18:51] MarileeTurscak-MSFT commented on #36016
@Ballzer0
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-29 18:52] haokanga opened #36053 "RDS MySQL tutorial contains steps for SQL server"
Please check if these steps relevant for RDS MySQL.

"Create an Azure Virtual Network (VNet) for Azure Database Migration Service by using the Azure Resource Manager deployment model, which provides site-to-site connectivity to your on-premises source servers by using either ExpressRoute or VPN. For more information about creating a VNet, see the Virtual Network Documentation, and especially the q

[2019-07-29 18:52] MarileeTurscak-MSFT commented on #36049
@mhunter77
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-29 18:53] FrankHu-MSFT commented on #36014
@mrdfuse Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-29 18:53] FrankHu-MSFT commented on #36046
@rupeshprasad Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-29 18:54] MicahMcKittrick-MSFT commented on #36005
@clouditspace we generally write these docs to utilize the Azure Cloud Shell. In that environment, you do not need to have the $ in front of the variable. So from a doc standpoint, it is correct.

The needed adjustments to run the commands in a local instance of Azure CLI will often require the $ symbol.

This can also be said for some of the PowerShell commands as well. Some need to be modified t

[2019-07-29 18:54] #36005 closed

[2019-07-29 18:55] MicahMcKittrick-MSFT commented on #36004
@monsterrroll what OS and region are you deploying to?

[2019-07-29 18:55] aliceku commented on #35795
See this section in the documentation above:
Guidelines for configuring the TDE Protector (asymmetric key)
Create your encryption key locally on a local HSM device. Ensure this is an asymmetric, RSA 2048 or RSA HSM 2048 key so it is storable in Azure Key Vault.

[2019-07-29 18:58] MicahMcKittrick-MSFT commented on #35971
@jmandel thanks for the feedback. We have heard before you do not need to specify the namespace as the cluster-issuer is cluster wide. That being said, we have opted to keep the namespace as per the suggestions from the AKS team.

So at this time, we prefer to leave the doc as it. However, your comment will remain on this doc so if others do come and feel it is confusing they can comment and we ca

[2019-07-29 18:58] #35971 closed

[2019-07-29 18:58] MicahMcKittrick-MSFT commented on #35951
@vitalybibikov I will close this for now. When ready, let me know and we can reopen and continue the discussion.

[2019-07-29 18:58] #35951 closed

[2019-07-29 18:59] MicahMcKittrick-MSFT commented on #35942
@simeyla I will close this for now. If you have further questions just let me know and we can always reopen and continue the conversation.

[2019-07-29 18:59] #35942 closed

[2019-07-29 19:00] MicrosoftGuyJFlo commented on #19780
added to backlog for update from pg

[2019-07-29 19:00] MicrosoftGuyJFlo commented on #19780
#please-close

[2019-07-29 19:00] #19780 closed

[2019-07-29 19:19] MicrosoftGuyJFlo commented on #27935
JAMF integration update added to backlog of docs updates.

[2019-07-29 19:19] MicrosoftGuyJFlo commented on #27935
#please-close

[2019-07-29 19:19] #27935 closed

[2019-07-29 19:24] jeevansd commented on #36025
@bartvermeersch I have verified that the app is working and I can able to login and see the SAML Configuration. For creating the SAML configuration uploading the file is must.
Can you please try again in the new browser InPrivate window and see how this goes?

[2019-07-29 19:25] MicrosoftGuyJFlo commented on #30456
Waiting on a response from the product group.

[2019-07-29 19:27] MicahMcKittrick-MSFT commented on #36051
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 19:28] MicahMcKittrick-MSFT commented on #36044
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC @cynthn

[2019-07-29 19:29] MicahMcKittrick-MSFT commented on #36042
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 19:41] AjayKumar-MSFT commented on #35880
@allenwux, As mentioned in the document '[Azure subscription and service limits, quotas, and constraints](https://docs.microsoft.com/azure/azure-subscription-service-limits)' - The maximum records returned for non-aggregated data is 5,000 and The maximum records for aggregated data is 500,000. Thanks for the feedback, it's much appreciated. Your feedback has been shared with the content owner (@Lu

[2019-07-29 19:42] cweining commented on #35957
@gmanvel I'm not sure what happened, but I don't see an email from you sent to serviceprofilerhelp@microsoft.com. Could you please try again?

[2019-07-29 19:46] wooters opened #36056 "batch transcription on root of dir tree?"
I have about 90k .wav files I need to run through batch asr. They are all stored in a blob and organized like so:

[code]
I'd like to be able to submit a _single_ batch transcription command that points to just the `root` dir. Then the system would recurse into all of the subdirs, and when it finds a `.wav` file, it schedules it for transcription. Is that possible?

---
#### Document Details

⚠ *D

[2019-07-29 19:51] AjayKumar-MSFT commented on #35967
@kylebarker715, Thanks for your valuable feedback! Since the document aims at providing steps or process for deploying an app in an ASE, it is mentioned that way. So, if the name of the ASE is appsvcenvdemo, the domain name is .appsvcenvdemo.p.azurewebsites.net and if you create an app named mytestapp, it's addressable at mytestapp.appsvcenvdemo.p.azurewebsites.net. Hope this helps!

[2019-07-29 19:51] vjc216 opened #36057 "Advanced Scheduling"
Is it possible to schedule a job, for example, every 5 minutes but only between the hours of 1 AM and 7 AM, daily.  Thank You.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and manage Azure SQL Elasti

[2019-07-29 19:53] leo4145 opened #36058 "parameter with empty string value not removed from backend request"
I have a proxy function that receives an incoming parameter and I'm setting it's value to an empty string as documented. However, the parameter is still included in the back-end request instead of being removed.

From the docs:
- backend.request.querystring.<ParameterName>: A query string parameter that can be set for the call to the back-end. Replace <ParameterName> with the name of the parameter

[2019-07-29 19:56] peledins opened #36059 "Might be good to also show how to update Properties to something else instead of setting it to @()"
OR at least a small comment of:

1. $kv = Get-AzKeyVault -VaultName myvault
    $kv # this outputs all properties of object, including accesspolicies.

2. '# $vault.properties.accesspolicies  can be updated with real applications/users/rights so that it does not need to be done after this whole activity.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2019-07-29 19:58] bwren commented on #35833
#please-close

[2019-07-29 19:58] #35833 closed

[2019-07-29 20:04] monotek commented on #23666
Could this help to incude the crds again?

https://github.com/helm/helm/pull/6092#discussion_r308320988

[2019-07-29 20:05] MicrosoftGuyJFlo commented on #30456
From the product group: The NPS Extension does not support server core since NPS does not support server code.

[2019-07-29 20:05] MicrosoftGuyJFlo commented on #30456
#please-close

[2019-07-29 20:05] #30456 closed

[2019-07-29 20:08] AjayKumar-MSFT commented on #35976
@marckassay, I have assigned the issue to the content author to review further and update the document as appropriate. Thanks for sharing your valuable feedback.

[2019-07-29 20:23] femsulu commented on #36040
added triage labels

[2019-07-29 20:25] jeevansd commented on #35874
@chetansriv and @v-viinde Can you please update this tutorial?

[2019-07-29 20:25] femsulu commented on #36029
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-29 20:27] MashaMSFT commented on #24229
Hi @SimonGivan , thanks again for notifying us of this! I went through the tutorial and was able to confirm that we provide steps to access the machine using windows authentication with the local system account, and not SQL authentication.

In this step here, we advise the customer to log into the machine using the local user account created when the VM was created.
![image](https://user-images.gi

[2019-07-29 20:28] jay98014 commented on #35881
Hi guys, sorry if I am crossing the streams here, but I verified Tony's scenario and will be updating the docs to address this shortly.

[2019-07-29 20:30] PatAltimore commented on #36031
@tommparekh

Try verifying the truffle version and prerequisites. Try the command "truffle version" at the shell / command prompt:

$ truffle version
Truffle v5.0.22 (core: 5.0.22)
Solidity - 0.5.0 (solc-js)
Node v10.16.0
Web3.js v1.0.0-beta.37

The Truffle version may be later but the other prerequisites should match the previous output.

Pat

[2019-07-29 20:42] Bfields11 opened #36060 "Fields Showing Blank"
When I run the commands for getting an export of Directly Assigned vs Groups Assigned. The command executes without error, but the two columns for AssignedDirectly and AssignedFromGroup are blank

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5905fd6-5899-f2c6-ff56-f90c4183b5f4
* Version Independent ID: d4ac0732-5985-

[2019-07-29 20:46] visokoo opened #36061 "Update fault domain count for China regions"
Can this [document](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/managed-disks-common-fault-domain-region-list.md) be updated to include the fault domain count for the China regions now that availability sets are supported (chinanorth2, chinaeast2, etc)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-07-29 20:51] JimacoMS3 commented on #31502
#reassign JimacoMS3

[2019-07-29 20:52] ggailey777 commented on #35860
Fix has been merged. #please-close

[2019-07-29 20:52] #35860 closed

[2019-07-29 20:54] ggailey777 commented on #34999
Brief description from @pragnagopa, which I will add to the article:

Set application setting FUNCTIONS_WORKER_PROCESS_COUNT to value between 1-10 to spawn multiple language worker processes. Function invocations will be evenly distributed among the language worker processes.
Note:
-	Language worker processes are spawned every 10secs until the count set by FUNCTIONS_WORKER_PROCESS_COUNT is reached

[2019-07-29 20:54] jaredmoo commented on #36057
No, sorry that is not available.

[2019-07-29 21:05] hrasheed-msft commented on #35640
@kailisupport The steps that you described were not included in the tutorial, because they were not needed using previous versions of HDInsight. But it seems that they might be required with 4.0. Could you provide the steps that you used to get it working so that we can update the document based on your experience?

[2019-07-29 21:05] chan71 opened #36062 "Duplicate paragraph"
Duplicate of "For continuation C and end E flow states, ..... " before the example and after the example. Remove the first paragraph.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855-1bff6c9ce380
* Content: [Introduction to flow loggin

[2019-07-29 21:05] JimacoMS3 commented on #31502
Hi @BretStateham,
Thanks for your feedback. Can you provide more details here? The command works fine for me as-is with the query set to "connectionString". If I set the query to "cs" nothing is returned.

Also, the hub name can be referenced using one of the following ways "-n", "--name", "--hub-name".  Any of these should work.

I'm using [Azure Cloud Shell](https://shell.azure.com/). Are you us

[2019-07-29 21:07] MicahMcKittrick-MSFT commented on #36042
@edu1409 Thanks for this find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-07-29 21:07] #36042 closed

[2019-07-29 21:10] MicahMcKittrick-MSFT commented on #36051
@garrmark valid point.

@athinanthny @peterpogorski @dkkapur would any of you know if we have any docs around this? I am not finding much online either.

[2019-07-29 21:11] MicahMcKittrick-MSFT commented on #35914
@Jothi3125 I will close this for now. If you need further assistance or have other questions just let me know and we can always reopen and continue the discussion.

[2019-07-29 21:11] #35914 closed

[2019-07-29 21:12] correnta1 commented on #35881
Great to hear and thank you.

From: Jay Simmons <notifications@github.com>
Sent: Monday, July 29, 2019 4:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Tony Correnti <Tony.Correnti@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Passfilt and existing processess (#35881)

Hi guys, sorry if I am crossing the streams here, but I ver

[2019-07-29 21:13] ThomasRebel commented on #35813
Hey vrishni,

Thanks for your help, now it uploads pictures.Sadly, a new error occurred:

UnhandledPromiseRejectionWarning: Error: Rate limit is exceeded. Try again
in 1 seconds.
    at new RestError
(C:\Users\thoma\node_modules\@azure\ms-rest-js\dist\msRest.node.js:1399:28)
    at
C:\Users\thoma\node_modules\@azure\ms-rest-js\dist\msRest.node.js:2494:37
    at process._tickCallback (internal/proc

[2019-07-29 21:18] gmanvel commented on #35957
@cweining done, sent an e-mail again also sent a message via Teams.

[2019-07-29 21:18] MicahMcKittrick-MSFT commented on #35652
@pareshverma91 thanks for that. I see where the statement can be confusing. Essentially, if you pick no availability zone the default fault domain is 5. However if you select an Availability Zone then the default fault domains would be 3. One per zone (1, 2, 3).

I have modified the doc.

# Choosing the right number of fault domains for virtual machine scale set
Virtual machine scale sets are crea

[2019-07-29 21:18] #35652 closed

[2019-07-29 21:21] mattgaspar opened #36064 "Error in example for "Copy a directory to another storage account""
In the example below, "/myBlobDirectory" should not be included in the destination path otherwise you end up with double "myBlobDirectory" folders

azcopy cp "https://mysourceaccount.blob.core.windows.net/mycontainer/myBlobDirectory?sv=2018-03-28&ss=bfqt&srt=sco&sp=rwdlacup&se=2019-07-04T05:30:08Z&st=2019-07-03T21:30:08Z&spr=https&sig=CAfhgnc9gdGktvB=ska7bAiqIddM845yiyFwdMH481QA8%3D" "https://myde

[2019-07-29 21:28] Sam-SFO opened #36065 "Typo"
The heading "Apply autoscale 'rules' to a scale set"  - this should read Apply 'Profile"  to a scale set

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a883d4f-426d-a3e1-7c90-d6657a569c42
* Version Independent ID: 5c595228-369b-458b-1e09-34c5bcf1b8a4
* Content: [Tutorial - Autoscale a scale set with Azure PowerShell](

[2019-07-29 21:32] KingdomOfEnds commented on #33004
@NeilMacMullen - I've gone ahead and pushed the updated document. Thanks!

[2019-07-29 21:33] v-labens opened #36066 "No clarification on what this is applicable for."
eg. can you use this in conjunction with D365 or just Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24c25353-cfb3-811c-a970-2a04678eff6e
* Version Independent ID: 145d404a-f7ed-17f6-79a6-0204ab7ee70b
* Content: [Create a dynamic group and check status - Azure Active Directory](https://docs.microsoft.com/en-us/a

[2019-07-29 21:34] jeevansd commented on #35432
@chetansriv and @v-viinde Can you please make these changes in the doc as suggested here?

[2019-07-29 21:39] jeevansd commented on #35206
@vvadymv If I understand the issue here Azure AD is doing the MFA but AWs is not able to know that Azure AD has done MFA. When Azure AD does the MFA along with the username and password authentication then Azure AD send that information in the SAML claim. Ideally AWS should be able to consume this information but I am not sure how AWS consume this information. Can you reach out to AWS team and tak

[2019-07-29 21:40] Sam-SFO opened #36067 "VM Type"
Based on this document , not clear :
1. Where are we defining the VM for the Scale Set
2. How does the VM get deployed/started

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a883d4f-426d-a3e1-7c90-d6657a569c42
* Version Independent ID: 5c595228-369b-458b-1e09-34c5bcf1b8a4
* Content: [Tutorial - Autoscale a scale set w

[2019-07-29 21:42] jeevansd commented on #34892
@chetansriv and @v-viinde Can you please add the Note here saying that you can update the NameIdetifier value in Azure AD based on your organization setup and this value has to match the user ID in the SABA cloud.

[2019-07-29 21:45] JimacoMS3 commented on #33950
#reassign JimacoMS3

[2019-07-29 21:46] Smoles commented on #35793
Yes this is helpful.

Thank you!

[2019-07-29 21:46] #35793 closed

[2019-07-29 21:46] ohwellwhatever commented on #32143
Any updates to share yet?

[2019-07-29 21:47] JimacoMS3 commented on #33950
As this step already does exist in the [Prerequisites](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#prerequisites) section, I'm closing this issue.

[2019-07-29 21:47] ajlam commented on #34657
@vsjvs - do you have the VNet (preview) enabled on your Web App?

[2019-07-29 21:47] JimacoMS3 commented on #33950
#please-close

[2019-07-29 21:47] #33950 closed

[2019-07-29 21:48] JimacoMS3 commented on #34226
#reassign JimacoMS3

[2019-07-29 21:49] jeevansd commented on #34688
@chetansriv and @v-viinde Please update this article with the note as discussed.

[2019-07-29 21:50] JimacoMS3 commented on #34226
Hi @majikthys -- thanks for your feedback! I've noticed the same. I'm currently working on updates to this topic and other how-to topics. I'll get back to you within the next day or two with a solution and will update the topic accordingly.

[2019-07-29 21:51] jeevansd commented on #34734
@chetansriv and @v-viinde Can you please get this note added here?

[2019-07-29 21:53] jeevansd commented on #34684
@chetansriv and @v-viinde Can you please check the history of this article? I think there was a section which called out saying that API access is needed.

[2019-07-29 21:56] jeevansd commented on #34374
@jnprakash We can see the SAML SSO option for this app when you add the application from the app gallery. Can you please make sure that your user have to have the Cloud App Administrator role in Azure AD. Then only you can able to add the application from the gallery and configure SSO for it.

[2019-07-29 21:58] jeevansd commented on #34210
@Chetansriv Lets discuss the changes in this article to call out.

[2019-07-29 21:59] jeevansd commented on #34138
@chetansriv can you please get this step added in this article?

[2019-07-29 22:00] jeevansd commented on #33946
@chetansriv and @v-viinde Can you please correct the pre-requisites here?

[2019-07-29 22:02] vsjvs commented on #34657
Hi @ajlam ,
Yes, the Web App is connected to the VNet with the VNet (preview) option.

[2019-07-29 22:03] jeevansd commented on #33936
@Chetansriv Let me check whether this bug is fixed or not.

[2019-07-29 22:05] Karishma-Tiwari-MSFT commented on #36065
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 22:06] jeevansd commented on #33936
@andikrueger  We have updated the step 6 to call out the WS-Fed endpoint. #2 was a bug in the system and that is also fixed now. So you should not have this issue any more.

[2019-07-29 22:06] jeevansd commented on #33936
#please-close

[2019-07-29 22:06] #33936 closed

[2019-07-29 22:07] Karishma-Tiwari-MSFT commented on #36067
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 22:14] Adam-Smith-MSFT commented on #36064
@mattgaspar Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-29 22:15] Mike-Ubezzi-MSFT commented on #35768
@dsshon Here is a link to view the script: https://github.com/microsoft/sql-server-samples/blob/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet/prepareSubnet.ps1
Please let us know if you have any additional questions.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-29 22:15] #35768 closed

[2019-07-29 22:20] FrankHu-MSFT commented on #36014
Hey @mrdfuse  could you please provide the support ticket # that you were working on? The docs should be correct, it looks like there must have been some sort of miscommunication at some level.

I can sync with support to clarify on what might have been the issue.

I apologize for the inconvenience,

[2019-07-29 22:21] FrankHu-MSFT commented on #35934
Hey @Zhang-lujia  it looks like this is happening for multiple people. We're currently looking into the issue and will get back to you a response as soon as possible.

Thanks,

[2019-07-29 22:29] MarileeTurscak-MSFT commented on #36049
@billmath

This came from a support case where a customer requested documentation that explains why the AD Connect Health Agent reaches out to other domain controllers and ports 1501 and 1502 to gather data for the agent. Do we have some text that can be added to the documentation for this?

[2019-07-29 22:30] marktab commented on #34532
@Ayanmullick  even easier:   I am not on a product team, so I have no insight to roadmaps.  Though what's nice these days is that many product teams share their roadmaps publicly, just go to the Microsoft website and look for "roadmap" and one will show if available

https://www.microsoft.com/en-us/search?q=roadmaps

[2019-07-29 22:31] jeffmartinxyz opened #36068 "Reference instructions for multi nodepool upgrade instructions"
Hi Team,

Since there are some difference in upgrading a "GA" cluster and one with the multinode pool preview feature, can we add a link to https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-node-pool that calls this out? Many customer come to this page thinking it includes upgrade instructions for the multinode pool scenario as well.

---
#### Document Details

⚠ *Do not

[2019-07-29 22:32] marktab commented on #34532
@ram-msft I am not on the PowerShell product team and do not have insight to roadmaps

I suggest to @Ayanmullick  to look at https://www.microsoft.com/en-us/search?q=roadmaps

[2019-07-29 22:32] marktab commented on #34532
@ram-msft you may close this ticket

[2019-07-29 22:32] FrankHu-MSFT commented on #36046
Hey @rupeshprasad can you try checking if your trustframeworkpolicy is correct? You should be able to find the datatypes in that file.

In addition to that, this vs code can help with determining if something is the correct data type or not.
https://github.com/azure-ad-b2c/vscode-extension

Per the trustframeowrkpolicy from the starter pack : https://github.com/Azure-Samples/active-directory-b2c-c

[2019-07-29 22:35] Mike-Ubezzi-MSFT commented on #35841
@rgherta Partition Key is required. I will have the documentation updated accordingly. There might be an effort already underway to have this document updated but please let me work with the content owner.

[2019-07-29 22:36] JimacoMS3 commented on #35024
@reassign JimacoMS3

[2019-07-29 22:37] FrankHu-MSFT commented on #35883
@peledins Thanks for providing your input, I'll go ahead and see if we can make some changes to the docs to be a little clearer and more correct.

[2019-07-29 22:37] JimacoMS3 commented on #35024
Hi @sebader -- thanks for the catch! And thanks for taking the time to report it. I'll make the change to the topic and let you know when it's published. Thanks again!

-Jimaco

[2019-07-29 22:37] dsshon commented on #35768
Thank you very much!

[2019-07-29 22:38] normesta commented on #12554
#reassign:JohnRusk

[2019-07-29 22:39] normesta commented on #13178
Thank you for the link suggestion. The content has been updated with a link to the most recent ABFS driver documentation.

[2019-07-29 22:40] normesta commented on #13178
#please-close

[2019-07-29 22:40] #13178 closed

[2019-07-29 22:40] FrankHu-MSFT commented on #35884
@peledins  you're right, we will look into adding this code and information. Thanks for your feedback again!

[2019-07-29 22:41] FrankHu-MSFT commented on #35886
@peledins Thanks again for the feedback, we're going to look into this one as well to see if we can put this into the docs.

[2019-07-29 22:41] FrankHu-MSFT commented on #35895
@TranBaVinhSon Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-29 22:45] Mike-Ubezzi-MSFT commented on #35841
@SnehaGunda The Examples section ([link](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-custom-commands#examples-3)) details the cmd to use to create an unsharded collection but it is my understanding and as the customer has pointed out, a partition key is now required for all collections.

[2019-07-29 22:51] Grace-MacJones-MSFT commented on #35949
Hi @loic-sharma I don't see this issue on my chrome or edge browser. Are you still seeing this issue? Can you try a different browser and let me know if it  blank when scrolling?

[2019-07-29 22:53] Mike-Ubezzi-MSFT commented on #35906
@archmangler This is great product feedback. Can you please create a User Voice entry ([link](https://feedback.azure.com/forums/597976-azure-database-for-postgresql?query=PG_HBA)) for this request. I am going to forward this on to the content owner as a doc-enhancement but there is also a product-enhancement that also needs to be detailed. Thank you!

[2019-07-29 22:58] MicahMcKittrick-MSFT commented on #32143
Assigned to @peterpogorski to look into this further or share an update.

[2019-07-29 22:59] MicahMcKittrick-MSFT commented on #36068
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-29 23:02] MicahMcKittrick-MSFT commented on #36068
@jeffmartinxyz appears we already have a link for that circumstance

![image](https://user-images.githubusercontent.com/32313503/62088439-3f282480-b21a-11e9-99b3-243db493133a.png)

since we already have this addressed I will close this out. If you have further suggestions just let me know :)

[2019-07-29 23:02] #36068 closed

[2019-07-29 23:05] ColbyTresness commented on #19949
No, the app shouldn't have to be stopped for MSdeploy to work.

[2019-07-29 23:06] MicahMcKittrick-MSFT commented on #35932
@patpicos @ssbkang thanks for the feedback on this. I am going to assign the issue to the content author to review and best determine how to handle this from a documentation standpoint.

[2019-07-29 23:11] ahuggins-nhs opened #36070 "Node and Python Storage Table SDK Links are Incorrect"
Both the Node.js and Python SDK links for Azure Storage Tables point to CosmosDB anstead of Azure Storage. This is VERY misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6be3b91-06bd-7afe-46e1-e98a96413d93
* Version Independent ID: 7957eb53-077d-d042-935f-8a6b3805eaeb
* Content: [Azure Table Storage support i

[2019-07-29 23:11] jeffmartinxyz commented on #36068
Didn't catch that! Thank you!

[2019-07-29 23:12] TravisCragg-MSFT commented on #35943
@PaulSells are you [able to see your service provider offer in the customer's tenant](https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#azure-portal-2)? If not, then there was likely an issue with the template deployment.

[2019-07-29 23:14] Alberto-Vega-MSFT commented on #35692
@kgremban Thank you for the help.

[2019-07-29 23:18] MicahMcKittrick-MSFT commented on #36068
No problem :)

[2019-07-29 23:19] Rodrigossz opened #36071 "Missed instructions"
To make it work, you need to install: pip install azure-functions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create an HTTP triggered function in Azure](https://docs.microsoft.com/en-us/azure/azure-functi

[2019-07-29 23:21] normesta commented on #36064
Thank you for reporting the bug. I've fixed this in the documentation. The fix should appear by tomorrow AM. Thx again!

[2019-07-29 23:21] normesta commented on #36064
#please-close

[2019-07-29 23:21] #36064 closed

[2019-07-29 23:23] Ayanmullick commented on #34532
@marktab , I understand you aren't from the PowerShell team. I couldn't locate the roadmap for the Azure Machine Learning PowerShell module in the link you shared. @ram-msft , could you engage the relevant owner, please.

[2019-07-29 23:25] KranthiPakala-MSFT commented on #36052
@RajatUC  Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate

[2019-07-29 23:36] KranthiPakala-MSFT commented on #36052
@RajatUC Could you please elaborate the ask?

[2019-07-29 23:46] nickforr commented on #19456
Why is this issue being closed when it's not been addressed?
'...working on a plan... isn't really dealing with the issue.

[2019-07-29 23:51] mike-urnun-msft commented on #36045
Hi @MisinformedDNA - Thank you for your feedback! We will review and update as appropriate.

[2019-07-29 23:56] mike-urnun-msft commented on #36058
Hi @leo4145 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-30 00:05] Kris-Patil commented on #35732
Hello @shashishailaj

Do you have any feedback for us?

Thanks.

[2019-07-30 00:09] will opened #36072 "Root CA for Hyperscale (Citus)"
The CA(1) referenced in the documentation(2) does not work for Hyperscale Citus
  1: https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem
  2: https://docs.microsoft.com/en-us/azure/postgresql/concepts-ssl-connection-security#applications-that-require-certificate-verification-for-ssl-connectivityDoes

[code]

After some digging, I found out that the real CA used for for hyperscale Citu

[2019-07-30 00:11] will commented on #36072
It also looks like the integration from the docs to github issues unnecessarily transforms `>` to html entities. My prompt looks like `~>` not `~gt;`.

[2019-07-30 00:14] stevestein commented on #33090
@MNF - thanks for raising this issue. The link text has been updated to match the target articles.

[2019-07-30 00:14] MicahMcKittrick-MSFT commented on #35681
@sasha-melamed we have opted to leave the document as is at this point in time. Your comment will remain so if others feel the same they can always reply and we can reconsider for the future.

[2019-07-30 00:14] #35681 closed

[2019-07-30 00:15] stevestein commented on #33090
#please-close

[2019-07-30 00:15] #33090 closed

[2019-07-30 00:15] MarileeTurscak-MSFT commented on #35984
Hi @marcelodiiorio ,

Can you clarify a bit? Where are you saying that it was removed?

[2019-07-30 00:17] will commented on #36072
The title of this page does include "single server" but it's the only thing that comes up when you search for ssl and postgres.

[2019-07-30 00:22] MicahMcKittrick-MSFT commented on #35003
@ytugarev I took a look deeper into this and it seems for some sections we are pulling similar examples across multiple docs. Which is why there is an Ubuntu option here. At this time we have opted to not update the doc. However your comment will remain on this doc and if others find it confusing they can let us know and we can always reconsider for the future.

[2019-07-30 00:22] #35003 closed

[2019-07-30 00:22] FrankHu-MSFT commented on #35934
@zhang-lujia are can you also share the whole error text? was there anymore text at the end of your error?

[2019-07-30 00:23] MarileeTurscak-MSFT commented on #35733
I believe it's only Windows Server Essentials 2019, though the prerequisites say Windows Server 2012 or later which may imply other versions.

I've reached out to someone on the product team to confirm and will update this thread when I have an answer.

@billmath  @RobdeJong  do you have this information?

[2019-07-30 00:23] MicahMcKittrick-MSFT commented on #35713
Thanks @genlin

I will close this for now. If you prefer to have it remain open instead of in your backlog let me know and I can reopen it.

[2019-07-30 00:23] #35713 closed

[2019-07-30 00:26] MicahMcKittrick-MSFT commented on #35581
@vdjundjenac I have corrected this document. Once the PR merges the changes will go live after a few hours :)

[2019-07-30 00:26] #35581 closed

[2019-07-30 00:27] #35834 closed

[2019-07-30 00:38] Alberto-Vega-MSFT commented on #35821
Since this is a React Application have you look into deploying one to Azure? https://code.visualstudio.com/docs/azure/deployment

[2019-07-30 00:44] Mike-Ubezzi-MSFT commented on #36033
The area being pointed out is the following:

A SQL query over JSON is performed.

`const querySpec = {
    query: "SELECT VALUE r.children FROM root r WHERE r.lastName = @lastName",
    parameters: [
        {
            name: "@lastName",
            value: "Andersen"
        }
    ]
};

const { result: results } = await client.database(databaseId).container(containerId).items.query(querySpec).

[2019-07-30 00:44] mgarf commented on #36009
Example code:

functions.json
[code]

        const message = {
            SessionId: sessionId,
            body: '{ "recordId": "' + recordId + '"}',
            label: `recievedEmail`,
        };
        context.bindings.outputSbQueue = message;

[2019-07-30 00:45] glaucia86 commented on #35634
I'll try to see something that I may help. I saw a same problem with another issue as well **[HERE](https://github.com/MicrosoftDocs/azure-docs/issues/35319)

It would be a same solution? Just saying...

cc: @areddish and @RohitMungi-MSFT

[2019-07-30 00:45] ivandretvic opened #36073 "Incorrect location of bullet point"
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#web-app-for-containers

Bullet point "Is not supported for use with Linux apps" should be put lower down under the section "This feature does not support:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e

[2019-07-30 00:46] JohnRusk commented on #12554
@SychevIgor V10 is GA (has been for a few months now - sorry we missed this thread here on the Product team)  There is no V9.  In the best tradition of naming stuff, we went straight from 8 to 10.  8 is the last of the .NET versions, and v10 is the first Go one.

@normesta I believe there's no further action to be taken here.  I think the final word on the original issue is as per Sercan's reply e

[2019-07-30 00:46] JohnRusk commented on #12554
#reassign:@normesta

[2019-07-30 00:47] robinsh commented on #29450
#please-close  @Alberto-Vega-MSFT

[2019-07-30 00:47] #29450 closed

[2019-07-30 00:48] robinsh commented on #29210
#please-close

[2019-07-30 00:48] #29210 closed

[2019-07-30 00:49] robinsh commented on #29205
#please-close

[2019-07-30 00:49] #29205 closed

[2019-07-30 00:52] Alberto-Vega-MSFT commented on #35931
@alexanderbikk Have you seen this repo? https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/master/provisioning/Samples/device/X509Sample

[2019-07-30 00:52] anosov1960 commented on #33781
There is no contradiction. Each secondary must have the same database name as the primary. The database names are unique within each SQL server. Therefore, within the same server you can only have a single secondary for the same primary. You can host the secondary in a pool but because pools cannot span servers, you can only have one per pool.

[2019-07-30 00:53] sspage opened #36074 "Unable to use ipRules properties"
I've attempted to use this exact sample under "Understanding the [*] alias" for detecting an IP address using "value" and for detecting an "Allow" condition using "action" and neither work.  I've tried the simplest form of this, but still can't get it to work.  It seems as though there is a problem with policy detecting this properly.   I would expect the below to result in me not being able to ad

[2019-07-30 00:54] rachel-msft commented on #36072
@will, Hyperscale (Citus) doesn't yet have a documentation page for SSL. More documentation will be added over the next few months.

[2019-07-30 01:02] granto9 opened #36075 "List of FQDNs under Ports for On-Premise-Data Gateway is out-of-date"
List of FQDNs are missing login.live.com,  aadcdn.msauth.net & dc.services.visualstudio.com.
Refer to https://docs.microsoft.com/en-us/data-integration/gateway/service-gateway-communication for more recent list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b6e437d-7325-8f97-7d23-27f82cb1113b
* Version Independent ID

[2019-07-30 01:03] anosov1960 commented on #32298
By default, RA-GRS I used. The ability to change the storage tier programmatically will be added soon. In the meantime, it can be done via a support call.

[2019-07-30 01:04] ricardoqg opened #36076 "Where is the documentation of the new Read API?"
The note say "The Recognize Text API is being deprecated in favor of the Read API", but where is the documentation of that new API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-df9b426e9009
* Content: [Recognize printed/handwritten

[2019-07-30 01:07] Mike-Ubezzi-MSFT commented on #36061
@visokoo Thank you very much for bringing this to our attention. I have added doc footer details for the published version of the document and will assign this to the content owner for review.

[2019-07-30 01:13] anavinahar commented on #32537
https://azure.microsoft.com/en-us/blog/vnet-peering-and-vpn-gateways/

[2019-07-30 01:14] Mike-Ubezzi-MSFT commented on #36076
@ricardoqg Thank you for bringing this to our attention. Can you provide the source document where the note provides this information? It will be very helpful in identifying where we need to address the documentation. Thank you!

[2019-07-30 01:15] stevestein commented on #32298
@lovelangy - thanks for raising this issue. I'm going to close this issue but feel free to reach out if needed.

Thanks!

#please-close

[2019-07-30 01:15] #32298 closed

[2019-07-30 01:17] jackiejaiau commented on #29302
Basically we have the same issue.

Web App 1 connects to Subnet 1
Web App 2 connects to Subnet 2

Now everything OK. Then we disconnect both Web App to both subnet.

Web App 2 connects to Subnet 1
Web App 1 connects to Subnet 2

When the time web app 2 connects to subnet 1, it failed due to Subnet 1 is already occupied by a previous app service plan.

It may take few hours and few days to release

[2019-07-30 01:18] Mike-Ubezzi-MSFT commented on #36076
@ricardoqg I found it. I will have this addressed. Thank you!

[2019-07-30 01:34] Exnav29 commented on #35979
Hi,

  It took seconds.  Once I confirmed my email address, the next screen told me that my account was created.

Johnathan

From: Mary McCready <notifications@github.com>
Sent: Monday, July 29, 2019 1:50 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Johnathan Lightfoot <Exnav29@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] New Twitt

[2019-07-30 01:42] femsulu commented on #36074
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-30 01:47] monsterrroll commented on #36004
Windows server 2019 standard 1809.
Southeast Asia.

[2019-07-30 01:48] monsterrroll commented on #36004
Sorry, it is windows server 2016 standard 1607. Southeast Asia.

[2019-07-30 01:53] will commented on #36072
Ok, I'll close this issue here and mention you on the visualstuido.com issue just to keep it all together, but feel free to ignore the other one if you're not the right person.

[2019-07-30 01:53] #36072 closed

[2019-07-30 01:55] loic-sharma commented on #35949
I can't reproduce this issue anymore either... Feel free to close this

[2019-07-30 02:27] dev-parihar opened #36077 "MFA Partnership with V-Key"
V-Key (https://www.v-key.com/) is a MFA solution working with Singapore Govt and few international banks in APAC. We would like to be Microsoft's MFA partner. How do I take this forward?

Below program from Microsoft Azure Active Directory is where we would like to partner:
Custom controls (preview)
Custom controls are a capability of the Azure Active Directory Premium P1 edition

---
#### Documen

[2019-07-30 02:45] BhargaviAnnadevara-MSFT commented on #35928
@SychevIgor The [Smart Detection docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/proactive-diagnostics) now reflect the current UX. Thanks again for bringing this to our attention!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation!

[2019-07-30 02:45] #35928 closed

[2019-07-30 03:33] AmanGarg-MSFT commented on #36017
@OlieVuur Thank you for the question! We are investigating this and will get back to you shortly.

[2019-07-30 03:41] AmanGarg-MSFT commented on #36053
@haokanga Thank you for the question! We are investigating this and will get back to you shortly.

[2019-07-30 03:46] ram-msft commented on #34532
@Ayanmullick Could you please send an email us at azcommunity[at]microsoft[dot]com will forward the request to the corresponding team and will work with you regarding this.

[2019-07-30 03:50] BhargaviAnnadevara-MSFT commented on #35745
@galla-devlop Given that the referenced Application Insights SDK for Android was deprecated more than 2.5 years ago, we would strongly recommend you to move over to using Visual Studio App Center for your reporting needs.

If you'd like to pursue the idea further, there are some helpful resources available to ease the movement and also cater to your requirement of reporting crashes for Android:

-

[2019-07-30 03:50] #35745 closed

[2019-07-30 03:52] mike-urnun-msft commented on #36071
Hi @Rodrigossz - Thank you for your feedback! Could you clarify the version of CLI you were using and the operating system you've tried it on? if CLI isn't up-to-date, could you upgrade and try again?

[2019-07-30 03:53] Ayanmullick commented on #34532
Hello All

I'm writing, as instructed, to communicate with the owner of the Azure
Machine learning PowerShell module to find out if the Microsoft -demoed
PowerShell cmdlets will be integrated into the Azure PowerShell Machine
learning module in the future.

Thanks in advance.

Best Regards

Ayan Mullick

On Mon, Jul 29, 2019 at 10:46 PM Ram <notifications@github.com> wrote:

[2019-07-30 04:04] msrini-MSFT commented on #36062
@chan71 , Thank you for your feedback. Will take a look and get back to your shortly.

[2019-07-30 04:22] SwathiDhanwada-MSFT commented on #36007
I have fixed the typo, and the change should reflect on the doc within 24 hours.We will now proceed to close this thread. If there are further questions regarding this matter,please reply and we will gladly continue the discussion.

[2019-07-30 04:22] #36007 closed

[2019-07-30 04:24] sjbolinger commented on #35995
I fixed the issue with two edits to the CosmostDBService.cs file:

var todoQuery = docClient.CreateDocumentQuery<ToDoItem>(
                UriFactory.CreateDocumentCollectionUri(databaseName, collectionName),
                new FeedOptions { MaxItemCount = -1**, EnableCrossPartitionQuery = true** })
                .Where(todo => todo.Completed == false)
                .AsDocumentQuery();

var

[2019-07-30 04:30] msrini-MSFT commented on #35817
@alvipeo , When you say, you are using regular WAF, is it"Application Gateway WAF" or any third party WAF?

[2019-07-30 04:34] SnehaAgrawal-MSFT commented on #35869
@Mitaric Kindly do let us know how that goes.

[2019-07-30 04:42] msrini-MSFT commented on #36062
PR : https://github.com/MicrosoftDocs/azure-docs-pr/pull/83709

Changes will be reflected shortly.

[2019-07-30 04:45] AshokPeddakotla-MSFT commented on #34909
@obrookstein  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-30 04:45] #34909 closed

[2019-07-30 04:49] RohitMungi-MSFT commented on #36056
@wooters Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-30 04:49] #36062 closed

[2019-07-30 04:55] SnehaAgrawal-MSFT commented on #36073
@ivandretvic Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-30 04:55] AmanGarg-MSFT commented on #36059
@peledins Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-30 05:00] AmanGarg-MSFT commented on #36057
@jaredmoo Thank you for the confirmation!

@vjc216 We will now close the issue . Should you have any query with specific document please open a new ticket providing the reference to the document and tag me on the same and we will help you further on the same.

[2019-07-30 05:00] #36057 closed

[2019-07-30 05:07] AmanGarg-MSFT commented on #36060
@Bfields11 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-30 05:08] AmanGarg-MSFT commented on #36066
@v-labens Thank you for the question! We are investigating this and will get back to you shortly.

[2019-07-30 05:10] AmanGarg-MSFT commented on #36070
@ahuggins-nhs Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-30 05:11] AmanGarg-MSFT commented on #36075
@granto9 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-30 05:21] AmanGarg-MSFT commented on #36077
@dev-parihar Thank you for the question! We are investigating this and will get back to you shortly.

[2019-07-30 05:22] TheChadR commented on #35090
Msangapu-msft, I think you mis-understood what I am after.
Im not after the code snippet to be changed.....

I merely asked if you could add a step (as per the diagram with yellow arrow) between steps 1 and 2 to merely state the following:
"Select either Bash or PowerShell (depending on what language you wish to use"

If you run through these steps with Cloud Shell yourself, you will see you get p

[2019-07-30 05:27] dastewa commented on #36009
While trying to send a message to the service bus from an async function, I noticed that using the return value as [mentioned](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#output---attributes) didn't work. However, I tried binding IAsyncCollector and using it's AddAsync method, and that worked. I'm wondering if this is intended behavior?

[2019-07-30 05:29] AjayKumar-MSFT commented on #34919
@theav8or, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and we will gladly continue the discussion.

[2019-07-30 05:29] #34919 closed

[2019-07-30 05:34] SumanthMarigowda-MSFT commented on #35648
@nikesh-dev  Sure!
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-30 05:34] #35648 closed

[2019-07-30 05:38] ToMakeSense commented on #33485
This issue of a part of Azure/azure-powershell/issues/9428

[2019-07-30 05:44] mike-urnun-msft commented on #36071
Hey @Rodrigossz

Just an FYI on the following discussion as the solution that doesn't require the manual running of `pip install azure-functions` is currently in the works: Azure/azure-functions-core-tools#1194

@asavaritayal could you advise if our Python doc above need to be updated to reflect this detail?

[2019-07-30 05:48] SumanthMarigowda-MSFT commented on #35800
@nicolaszhang We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-30 05:48] #35800 closed

[2019-07-30 05:52] bartvermeersch commented on #36025
@jeevansd I tried an inprivate window but as soon as I log on with the registered account, I get the error page and I am unable to complete the SAML configuration.

[2019-07-30 05:55] KranthiPakala-MSFT commented on #35861
@sureshsmmail Thanks for reaching out and bringing this to our notice. At this time it does not look like you are referring to a document content, but to a specific scenario. If that's the case we request you to please post your question in _[stackoverflow forum](https://stackoverflow.com/questions/tagged/azure-databricks)_, we have our engineers and others who are monitoring them and will be happ

[2019-07-30 05:59] SumanthMarigowda-MSFT commented on #19456
@nickforr Since we are working on it.  AzureDevops Release pipelines, I don't have an ETA on this yet,

[2019-07-30 06:00] schneuwlybe commented on #25052
In the Properties section of your ARM Template you can add the following:
"properties": {
        "ipSecurityRestrictions": [
          {
            "ipAddress": "100.10.101.0",
            "subnetMask": "255.255.255.0"
          },
          {
            "ipAddress": "100.10.100.0",
            "subnetMask": "255.255.255.0"
          }
        ]
}

[2019-07-30 06:05] DixitArora-MSFT commented on #35935
@nathanwinder Just following up again in case missed the previous communication.

[2019-07-30 06:07] DixitArora-MSFT commented on #36009
@craigshoemaker Any inputs in this ?

[2019-07-30 06:09] angoyal-msft commented on #35804
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-30 06:09] #35804 closed

[2019-07-30 06:12] mike-urnun-msft commented on #36045
Hi @MisinformedDNA - We're making an update to the statement to read as follows:

[2019-07-30 06:28] ishepherd opened #36082 "Minimum amount of requests?"
Can you hint, what is the "minimum amount of telemetry"?

I just created an app that has *one request per hour*, at the start of the hour. Is that enough for this Smart Detection to work, or do I need to configure alerts manually?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48a775a1-2b8d-6965-d11f-27483df69aeb
* Ver

[2019-07-30 06:44] mike-urnun-msft commented on #35686
@TsuyoshiUshio Could you clarify which specific region that you were deploying to?

[2019-07-30 06:45] Grace-MacJones-MSFT commented on #35949
We will now proceed to close this thread.

[2019-07-30 06:45] #35949 closed

[2019-07-30 06:47] AmanGarg-MSFT commented on #36082
@ishepherd There is no threshold for the amount of telemetry being sent to Application Insights. The smart detection will work with one request per hour. However, you would not have great insights initially as the number of requests would be too less to properly analyse the data.
Hope this helps!

[2019-07-30 06:52] RohitMungi-MSFT commented on #36056
@wooters In the current sample the SAS URI for single audio file can be used to transcribe. To transcribe multiple files the files of the blob needs to be listed and their SAS token needs to be generated and passed to create transcription from the client application. Since the blob service does not create SAS tokens for a folder you can use the SAS URI of the blob and provide required access to li

[2019-07-30 06:52] kobulloc-MSFT commented on #35859
@m-sterspace It appears that you can use UTF-8 (tested with English, Japanese, Chinese, and Hindi) and several special characters (see below) up to at least 100 characters (hopefully you aren't planning on using more than that).

The recommendation is to keep it simple as there may be unforeseen consequences to using longer names with special characters, however you can see below that tracking wil

[2019-07-30 06:58] marcelodiiorio commented on #35984
In the list of topics, right below Workday-driven, there was an “Identity Protection” link.

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Tuesday, July 30, 2019 2:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Marcelo di Iorio <Marcelo.diIorio@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Identity protection (#

[2019-07-30 07:02] kobulloc-MSFT commented on #35859
@m-sterspace We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-30 07:02] #35859 closed

[2019-07-30 07:08] SimonGivan commented on #24229
@MashaMSFT  The strange thing is this did not work for me, I could not login to SQL with the local admin account. To enable me to login with local admin I had to change SQL Authentication from Disable to Enable. Only when this was changed was I able to login with the local admin account.

<img width="701" alt="image" src="https://user-images.githubusercontent.com/24456627/62107983-c5874980-b2a0-11

[2019-07-30 07:17] ROHAN-TODEKAR opened #36084 "Not able to login as not getting code via sms"
I inserted my ID and password and was waiting for the SMS verification code.  But it has been around 2 hours and I still didnt get any code. kindly help me to login

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Conten

[2019-07-30 07:19] mrdfuse commented on #36014
We asked this via email to our Microsoft account manager, so I can't give a support ticket..
You confirm it's still in preview, OpenID Connect as well? Any idea when it will be GA? It's been in preview for a very long while now.

[2019-07-30 07:27] pes-kapacity commented on #36038
Thank you. I'd be happy to supply one of the files if that helps.

[2019-07-30 07:31] watahani opened #36085 "https://my.profile.microsoft.com doesn't work the tenant which does not enable preview feature"
https://myprofile.microsoft.com does not work in the tenant which does not enable preview feature.
It seems that It is better for set up MFA to use https://aka.ms/mfasetup instead of https://myprofile.microsoft.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-8670-fd0d-2524-01305ccff2a1
* Version Independen

[2019-07-30 07:32] ddeschepper opened #36086 "Link to docs about Filters is dead"
In the paragraph about filters, the link to the docs redirects to the github wiki main page from https://github.com/Azure/azure-webjobs-sdk/wiki/Function-Filters. The Function Filters docs are not available there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4500b14-64b4-4d1b-aae3-f0fd4dde85f2
* Version Independent

[2019-07-30 07:33] watahani commented on #36085
![image](https://user-images.githubusercontent.com/28978715/62109636-a4961700-b2e7-11e9-8fd1-f73986fb1d85.png)

if "User feature preview" disabled, user can not access https://myprofile.microsoft.com
![image](https://user-images.githubusercontent.com/28978715/62109687-c5f70300-b2e7-11e9-8723-8f7ec727c50f.png)

[2019-07-30 07:41] SvetlanaDevOps commented on #25052
@schneuwlybe Yes, I found out this, but I think it worth mentioning [in this article](https://docs.microsoft.com/en-gb/azure/app-service/app-service-ip-restrictions). And there is another issue: there are other properties of IP restriction which I can set using Azure portal, but apparently can't set using ARM template: action, tag, priority and name. As a result, all restrictions get the same prio

[2019-07-30 07:42] kjehanse opened #36087 "Error in documentation text"
There seems to be an error in the documentation text for the "[Prepare VMware VMs for assessment and migration to Azure with Azure Migrate" documentation.

The text says: "To prepare for VMware VM assessment, you need to verify **Hyper-V host** and VM settings, and verify settings for appliance deployment."

This should probably be changed from "Hyper-V host" to VMware host"?

---
#### Document De

[2019-07-30 07:44] peterschen opened #36088 "Note for workspace uniqueness should be placed for app"
In the paragraph _Identifying workspace resources_ there is a note for the first bullet about workspace uniqueness. Unless the process of creating a workspace no longer involves validation this is not correct and workspaces are unique globally. The note should rather be for the first bullet of the paragraph _Identifying an application_ as an Application Insights app does not have a global uniquene

[2019-07-30 07:51] AjayKumar-MSFT commented on #36086
@ddeschepper, Thanks for bringing this to our attention, we are taking a look into this and will get back to you soon.

[2019-07-30 07:59] benhatton-unsw-edu-au commented on #35993
Hi again, sorry I know this is not really the right place for this, but HOW do we get support for issues associated with new (regional) vnet integration?  I have raised a support ticket and only been given the answer to not use it.

[2019-07-30 08:04] IvoMerchiers opened #36089 "How can we clone from a private repository"
The article does not discuss private repositories. Is it possible to clone from this environment or is that feature not available.

Since we want to use this in a commercial setting, having access to a private repository is essential for us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8816a36-9dae-84da-cbc6-85780f0

[2019-07-30 08:05] pes-kapacity commented on #34997
Any progress on this? I encounter the same behavior; The source shows the schema with column headers as expected, but the names are replaced with Prop0, etc. when loading the schema for the mapping.

[2019-07-30 08:06] verboompj opened #36090 "Typo "Size Requirements" section"
"Standard_DS2_v2 has a cache size of 86 GiB, which is not large enough. The Standard_DS2_v2 has a cache size of 172 GiB, which is large enough."

// Last sentence should be:  Standard_DS3_v2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbb6311-d76f-aefc-2791-c04cd0635c71
* Version Independent ID: 9eda9815-6627-1354-

[2019-07-30 08:11] ManojReddy-MSFT commented on #36060
@Bfields11 In the script you are running, make sure to include the functions and you also have to pass the licensing SKU as the input. Can you confirm which SKU you are passing?

[2019-07-30 08:11] KaiWalter opened #36091 "Screenshot is outdated"
The screenshot shows the delegation screen for the old publisher portal. The experience has changed for the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841cb-5a8f-ca9a-ec92-d088f43e0401
* Version Independent ID: a56f0f32-4fb5-55b5-54d4-d26b39384316
* Content: [How to delegate user registration and p

[2019-07-30 08:19] ManojReddy-MSFT commented on #36077
@dev-parihar Can you send an email to Azcommunity@microsoft.com and include this issue. I will work with you to provide more details regarding this.

[2019-07-30 08:21] AshokPeddakotla-MSFT commented on #35998
@ChungEnYu Please check the [troubleshooting](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot) steps and see if it helps to identify the issue.

[2019-07-30 08:23] ram-msft commented on #35813
@ThomasRebel As the rate limit is exceeded, please update your pricing tier.

[2019-07-30 08:24] #35813 closed

[2019-07-30 08:26] KrishnaG-MSFT commented on #36088
@peterschen Thanks for the comment. We are actively investigating and will get back to you with an update.

[2019-07-30 08:26] Dottn commented on #35660
To comment on this:

Using the NPS server, we are authenticating against local AD, not AAD. AAD is only used as an mfa-provider. These restrictions does not apply for us other than in this one instance. Using ms-chap-v2, passwords with æ,ø, and å, as well as other non-ascii utf-8 characters, are accepted, but that removes code based mfa with Azure, which we'd like to avoid.

[2019-07-30 08:29] AshokPeddakotla-MSFT commented on #33068
@deepakpalled Please check this issue and provide your insights.

[2019-07-30 08:37] iamanuradha opened #36092 "Regarding pipeline parameter"
[Enter feedback here]
For a published Azure ML pipeline, how can I view its parameter information? I am looking for some azure command that gives me ml pipeline parameter without initiating a run.
I don't want to know the parameter value but the parameters the pipeline is composed of using the azure command line utility.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-07-30 08:49] pes-kapacity commented on #34997
It's actually even weirder than that. My source resides in our blob storage, in which we used to have a number of files. I moved those to an archive folder within the same folder, and left a single file in place. However, when using "Preview data", for some reason the source would end up showing data that didn't actually exist within that particular file.

I ended up creating a new folder, and cop

[2019-07-30 08:53] takekazuomi opened #36093 ""install the solution" link is broken"
broken
https://azuremarketplace.microsoft.com/marketplace/apps/Microsoft.KeyVaultAnalyticsOMS?tab=Overview

correct
https://azuremarketplace.microsoft.com/en-usrketplace/marketplace/apps/Microsoft.KeyVaultAnalyticsOMS?tab=Overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a89eef66-45f1-2bf3-f49d-cba309fd1256
* Ver

[2019-07-30 08:53] ManojReddy-MSFT commented on #36066
@v-labens This is the same as creating a group from Azure AD portal manually. All the scenarios, where an Azure AD group will work are possible with dynamic groups.

I am not clear on the ask. Can you elaborate a little bit more?

[2019-07-30 08:57] RohitMungi-MSFT commented on #35807
@sachinruk We will now proceed to close this thread as this is related to a notebook that is authored in [MachineLearningNotebooks ](https://github.com/Azure/MachineLearningNotebooks/issues)repo. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-30 08:58] #35807 closed

[2019-07-30 08:59] AjayKumar-MSFT commented on #26710
Arthur, We have made the requested changes and it would be published within 24 hrs. Thanks again for the question and the feedback!

[2019-07-30 08:59] #33004 closed

[2019-07-30 09:00] trieuduong1602 opened #36094 "[SQL Vulnerability Assessment] "Periodic recurring scans" not wokring"
Hi all,
When I am in settings of "Advanced Data Security", I saw "periodic recurring scan" which helps me have report for my database weekly. And it said that "Scan your database for vulnerabilities every 7 days. The first scan will be performed immediately. Subsequent scans will be performed every Sunday at approximately 12:00 AM UTC. To enable you must first set a storage account where scan resu

[2019-07-30 09:02] PramodValavala-MSFT commented on #36091
@KaiWalter Thanks for the feedback! We will review and update accordingly.

[2019-07-30 09:05] Adam-Driver opened #36095 "Group Nesting support"
Hi,

Would you be able to clarify the support statement around the use of nested groups when opting to enable the Combined Registration Portal for a pilot group? On the SSPR enablement page there is an explicit statement around support for group nesting:

https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-sspr-pilot#enable-self-service-password-reset

On this page howe

[2019-07-30 09:11] rayne-wiselman commented on #36029
Thanks for catching this typo! Fixed and should show up later today.

[2019-07-30 09:17] Adam-Driver opened #36096 "Enablement time and flow"
Hi,

Would you be able to clarify how long it takes for a user to be able to start to use the new registration process and the Security portal? In testing, when adding a user to the pilot group and doing a sync to Azure AD, I can see the user has the applicable memberships in AAD but the features take a significant amount of time to actually see the new registration process and security portal.

I

[2019-07-30 09:17] RohitMungi-MSFT commented on #36011
@Blackmist The alias link that fails is https://aka.ms/dataset-tutorial since it is referenced to a wrong source. The correct link should be the following:
https://github.com/Azure/MachineLearningNotebooks/tree/master/work-with-data/datasets
which needs to be updated on traffic manager. May Hu is the current owner who can help us update the alias(https://aka.ms/dataset-tutorial)

@ebrub Please use

[2019-07-30 09:18] SadiqhAhmed-MSFT commented on #35970
@jeffwmiles One way to do this is to add a manual step right at the end of the recovery plan. The manual step will stop the completion of the plan at the point where your VMs and associated resources (including the NSG you mentioned) are up and running in your destination Vnet. At this point, you can make sure your application has completed the test failover satisfactorily. Once this check is comp

[2019-07-30 09:23] rayne-wiselman commented on #35970
Also, take a look at https://gallery.technet.microsoft.com/scriptcenter/Add-Public-IP-and-NSG-to-a6bb8fee

[2019-07-30 09:24] rexhinvorpsi opened #36097 "Azure Domain Services join Azure VM with powershell"
[Enter feedback here]
There does'nt seem to be a clear tutorial on how to join AZ AD DS using powershell for windwows server core running only on cmd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038b3b50-317c-c0c1-cbee-c69f3f828f84
* Version Independent ID: 93810ce3-0817-c221-beb4-35de3f40d43e
* Content: [Azure Activ

[2019-07-30 09:35] VikasPullagura-MSFT commented on #36090
@verboompj Thanks for the feedback on the document. I have raised PR for updating the document. Changes will be reflected in the document once it is approved.

[2019-07-30 09:39] ram-msft commented on #36092
@iamanuradha Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-30 09:46] yoelhor commented on #36046
The underling data type should be **DateTime**. Please take a look on this policy. To run the policy, provide any valid email address and select date. After you run the policy you can check the extension attribute by running following Graph API query. Replace the  the application object ID, with your extension attribute app ID.

`https://graph.windows.net/myorganization/applications/<application-o

[2019-07-30 09:52] m4h3 commented on #35925
@SubhashVasarapu-MSFT, can you double check ? I did successfully create a Basic SKU public IP with a zone specified. It showed up in public IP properties.

[2019-07-30 09:56] yoelhor commented on #36014
OpenID Connect external identity provider is still in public preview. So, the AAD federation (which is based on OpenId Connect) is also in public preview. For production environment you may want to use [custom policy](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-get-started-custom) (in GA) with [AAD federation](https://docs.microsoft.com/en-us/azure/active-direc

[2019-07-30 09:57] ChiragMishra-MSFT commented on #35816
@ivanignatiev I am working internally with the team to get more info on this. Meanwhile, can you please have a look at [this blog](https://joonasw.net/view/azure-ad-authentication-with-azure-storage-and-managed-service-identity) that I found. I believe this might help resolving your issue.

[2019-07-30 10:10] AmanGarg-MSFT commented on #36094
@trieuduong1602 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-07-30 10:10] alvipeo commented on #35817
Application Gateway WAF

[2019-07-30 10:12] ManojReddy-MSFT commented on #35975
@igusme I am afraid this is not possible. Guest users are authenticated aginst thier home tenant and during the login process, a windows machine can only talk to one tenant.

I would recommed posting this as a feature request [here ](https://feedback.azure.com/forums/169401-azure-active-directory)so that the prioduct can consider it.

[2019-07-30 10:17] DanoThom commented on #29971
@Sethu2488 et al. Please re-open this.

@msrini-MSFT if this is the case, this would be extremely damning to an Azure service offering considering the prevalence of SignalR.

AFD seems to be a great service with decent adoption but this would probably be a deal breaker. Is there any plans on the internal roadmap to get SignalR/websockets implemented in Azure Front Door?

[2019-07-30 10:19] SumanthMarigowda-MSFT commented on #35868
@dpolivy
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-30 10:20] trieuduong1602 commented on #36094
new update: mail arrived at 4:40pm but I still do not accept this because its a "immediate" scanning

[2019-07-30 10:21] SumanthMarigowda-MSFT commented on #35852
@devan10 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-30 10:21] ManojReddy-MSFT commented on #34906
@mliudev Apologize for the delayed response. Some of the mappings can be found [here](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/claims). Is this what you are looking for?

[2019-07-30 10:21] msrini-MSFT commented on #29971
@DanoThom , I will check with the team internally for the ETA of this feature.

@sharad4u , Can you please comment here on the technical limitation on why AFD doesn't support web sockets?

[2019-07-30 10:22] SadiqhAhmed-MSFT commented on #35378
@t-leblanc Can you please provide the payload that you're attempting to enter in originally?

[2019-07-30 10:22] mrdfuse commented on #36014
Thanks Yoel, any idea when it will be GA?

[2019-07-30 10:24] KrishnaG-MSFT commented on #35836
@Bigd271 As we didn't get response from you and as it appears that there's no edits or updates needed for the documentation at this point so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-30 10:24] #35836 closed

[2019-07-30 10:27] shashishailaj commented on #35732
@Kris-Patil I tested this using a user in Azure AD Premium tenant and with a user in Azure AD free tenant. The Azure AD premium tenant provides this option on the portal itself.

![image](https://user-images.githubusercontent.com/532022/62118069-a9a09980-b2da-11e9-95f7-e111e3985c4a.png)

However the Azure AD free tenant does not provide this option as seen below.

![image](https://user-images.gith

[2019-07-30 10:27] #35732 closed

[2019-07-30 10:36] DixitArora-MSFT commented on #36003
@jwisener A function app on an App Service plan must have the serverFarmId property set to the resource ID of the plan created earlier.

"serverFarmId": "[resourceId('Microsoft.Web/serverfarms', variables('hostingPlanName'))]"

[2019-07-30 10:45] DixitArora-MSFT commented on #36000
@ahmedelnably Any inputs in this ?

[2019-07-30 10:46] DixitArora-MSFT commented on #36001
@ggailey777 Any inputs in this ?

[2019-07-30 10:49] shashishailaj commented on #35647
@martincoetzer  Could you please help provide clarification on this issue to the customer's query as above ?

[2019-07-30 11:00] dominicbetts commented on #35635
@wickste - thanks for pointing this out. I've updated the article and the changes should be visible shortly.

[2019-07-30 11:00] dominicbetts commented on #35635
#please-close

[2019-07-30 11:00] #35635 closed

[2019-07-30 11:03] shashishailaj commented on #35444
@maxxxie74 The feature is currently in preview and I believe your details require further detailed investigation. In some other cases we have found inconsistencies however this is a unique one where a sign-in log is generated for MFA despite the user not registered for MFA . Please send us an email at azcommunity[at]microsoft[dot]com and we will help you with alternative support options to trouble

[2019-07-30 11:03] #35444 closed

[2019-07-30 11:06] Zingonead commented on #36034
Good morning Mike,
The related documentation is https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features
As per the below screenshot, Azure SQL DB, the “Hyperscale tier” is not mentioned in the list of Column Store indexes compatibility:
[cid:image003.png@01D546CF.31A15950]

Hyperscale is a different pricing tier like “General Purpose tier” and “Business Critical” as below:
[cid:i

[2019-07-30 11:09] sergaz-msft commented on #36030
Hi @Nicholas-I can you let us know the exact step in the doc that leads you to the error message? Thanks!

[2019-07-30 11:15] Trinakriae commented on #35821
Thanks Alberto but before deploying the React App I need to know where the original WebUI is located in order to be replaced. When I originally deployed the solution to Azure I used the **Deploy To Azure** button located in the [GitHub](https://github.com/Azure/pcs-remote-monitoring-webui) for IOT Monitoring solution.

![Cattura](https://user-images.githubusercontent.com/13614477/62123515-5faeb800

[2019-07-30 11:15] SnehaAgrawal-MSFT commented on #35629
@kumarallamraju Thanks for bringing this to our attention. We will now proceed to close this thread

[2019-07-30 11:15] #35629 closed

[2019-07-30 11:18] XamarinTounsi opened #36099 "Microsoft.Azure.Mobile.Client.Files is no longer available in NuGet"
This packaged is referenced in multiple examples for file upload/download for mobile clients.

The project site: https://www.nuget.org/packages/Microsoft.Azure.Mobile.Client.Files/ mentions no reason for delisting or alternative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b01cf43e-ecf3-ce7a-f9b8-a54918d23601
* Vers

[2019-07-30 11:25] PramodValavala-MSFT commented on #36091
@KaiWalter Thanks for contributing to MS Docs! We have assigned the content author to review and approve your PR.

[2019-07-30 11:30] alexanderbikk commented on #35931
@Alberto-Vega-MSFT yes, I have seen. But as far as I understand this is the Device part. I'm using this example to simulate device provisioning to an existing group enrolment.
I asked about certificates in DPS.
According to this guide https://docs.microsoft.com/en-us/azure/iot-dps/how-to-verify-certificates
I have to do the following:
1. Upload the CA or Intermediate certificate to DPS
2. Get the

[2019-07-30 11:34] msrini-MSFT commented on #35817
@alvipeo , you can create a custom WAF rules in Application Gateway to deny traffic which matches the  header which matches the AFD probe request.

Here is the documentation for creating Custom WAF rules: https://docs.microsoft.com/en-us/azure/application-gateway/create-custom-waf-rules