[2022-01-05 01:30] GennadNY commented on #75475
@fgielow - docs are updated and I added your ts-dump method, thank you.
feel free to close

[2022-01-05 02:00] jlichwa commented on #85714
@scottstauffer-fc thank you, we have updated the documentation to explicitly specify that step. #please-close

[2022-01-05 02:00] #85714 closed

[2022-01-05 02:15] #81849 closed

[2022-01-05 02:16] ecfan commented on #81849
@jjadta: Thanks, an update will be published sometime on 01/05/2022.

[2022-01-05 02:24] dfberry commented on #38310
@ggailey777 This isn't in the doc yet, can I add something?

[2022-01-05 02:37] Shawnloveshorses161 opened #85988 "Requesting Better Map reporting Tool"
Wish to add the following features I listed on this forum!

https://docs.microsoft.com/en-us/answers/questions/683604/requeting-better-map-reporter.html

thanks,

Shawn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f500ecd9-a67b-7e51-753c-b2b165a3935a
* Version Independent ID: 1bcdc266-ebc3-899d-a443-46bc54103930
* Co

[2022-01-05 02:41] racchen commented on #85940
Hi @HeidiSteen @AjayKumar-MSFT , i see, thanks for your feedback.
From the document, we thought if query string is as below
_search = family resort & highlight = Description._ , then we can highlight only the phrase matched the full phrase(family resort, in this example) . As your decription, we still need to have "" to make it a single phrase.

Is it possible to add some comments to this docuemen

[2022-01-05 02:43] Ayanmullick commented on #84939
One needs to disable CORS and use the code below.

[code]

Although there could be a way to do this with `document.write()` without needing a function.

[2022-01-05 02:51] MonikaReddy-MSFT commented on #85980
@plus3it - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-05 02:52] MonikaReddy-MSFT commented on #85986
@stantoni-msft - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-05 03:08] HeidiSteen commented on #85940
@racchen yes, I see an opportunity for multiple improvements to this article.  I'll clarify the examples and circle back on this thread when the changes are live.

[2022-01-05 03:19] spelluru commented on #85514
@abhirockzz - could you please answer when you get a chance? Thanks!

[2022-01-05 03:27] shihuacao opened #85989 "Maximum Number of S2S Tunnels is confusing"
The two table in "About VPN Gateway configuration settings" is confusing.

For example, un table "Gateway SKUs by tunnel, connection, and throughput", it is mentioned the maximum number of S2S Tunnels is 100 for VpnGw4 and VpnGw5, but in "Gateway requirements" section, the maximum S2S connections for High Performance VPN Gateway is listed as 30. It is very confusing. If a more detailed description

[2022-01-05 03:40] microalps opened #85990 "Example Needs Updating To Match Recommendation"
Your example violates the recommended approach. First, you write in a "warning":

Then two lines later, you provide an example assigning a string to $settings and not a hashtable.

Additionally, your warning doesn't note that even as a HashTable, the types must match. We encountered a similar error as the warning attempts to avoid ("not a string") when setting "pollingIntervalInS" to 3600 instead

[2022-01-05 03:48] Atefeh2047 opened #85991 "Content of Azure IoT Hub to be corrected."
[Enter feedback here]

 The function of Azure IoT Hub seems need to be corrected as it is currently the repeat of Azure IoT Edge Runtime.

Regards and thanks,

Current content:
"Application services

Azure IoT Edge Runtime: Azure IoT Edge Runtime enables cloud workloads to be managed and deployed across edge compute appliances using the same tools and security posture as cloud native workloads. Fo

[2022-01-05 04:02] SnehaAgrawal-MSFT commented on #85976
@PratMoha Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-05 04:08] gary918 commented on #84957
@Blackmist @jhirono  Thanks for your replies!
I can understand the limitations that AML WS cannot directly build images when putting ACR behind the VNet. However, can the ACR be in a **different subnet** of the same VNet as the storage account and compute targets?

[2022-01-05 04:18] NK-debug opened #85992 "Very helpful"
Got an error in the Azure mobile app about not having the correct Resource Provider (microsoft.insights)
The link to this page helped me add that Resource and fix the error quickly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3de49c2-9b53-9076-a724-feff31dbc432
* Version Independent ID: 835198e7-3293-7c8f-1703-1f77

[2022-01-05 04:26] AshokPeddakotla-MSFT commented on #85984
@pilcherd  Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-05 04:27] AshokPeddakotla-MSFT commented on #85987
@dave-read Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-05 04:40] Sharmistha-Rai commented on #85946
@nubgamerz - thanks for bringing up the suggestion. We will add the recommended actions to our documentation to better enable the users.

[2022-01-05 04:44] AnuragSharma-MSFT commented on #85975
@philspokas Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-01-05 04:47] ecfan commented on #85091
Hi @AjayKumar-MSFT, thanks for the feedback. Apologies for the delayed response as I've been on vacation. We created a work item on the backlog to triage for a future sprint. For now, we'll close this thread.

@SamaraSoucy-MSFT: #please-close

[2022-01-05 04:47] #85091 closed

[2022-01-05 04:56] PramodValavala-MSFT commented on #85982
@vpetersen The [reference doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_node_default_version) has been updated to reflect this but I suppose this doc was missed. Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2022-01-05 04:58] ecfan commented on #85091
@AjayKumar-MSFT: Based on your screenshot, seems like you're working on a Standard-based logic app with a stateless workflow correct? To use the Event Grid connector, you need to first create a *stateful* workflow because managed operations aren't available for stateless workflows.

After you create the stateful workflow, in the designer, on the operations picker pane, make sure that you select th

[2022-01-05 04:59] JackStromberg commented on #84599
Hello @jensmora,

I created a new Application Gateway to a new VNet/Subnet and associated a NSG to the subnet.  In my outbound rules, I created the following rule, which does deny outbound connectivity to a specified address:
Name: DenyOutboundPort12345
Source: *
Source Port Range: *
Destination: 52.100.0.0/24
Service: Custom
Destination Port Ranges: 12345
Protocol: Any
Action: Deny
Priority: 500

[2022-01-05 04:59] #84599 closed

[2022-01-05 05:31] SwathiDhanwada-MSFT commented on #85992
@NK-debug Glad to know that the Azure docs have helped you to resolve your issue quickly. Thanks for letting us know.

@mumian FYI.

Please do let us know if there is any feedback to the documents. As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-01-05 05:31] #85992 closed

[2022-01-05 05:34] MayankBargali-MSFT commented on #85974
@monkeycoder99 Thank you for your feedback! We will review and update as appropriate.

[2022-01-05 05:46] AnuragSharma-MSFT commented on #85941
@ethanhou99 Thanks for responding back. Yes this feature is available in all Azure regions where Azure Database for MySQL - Single server supports General Purpose and Memory Optimized pricing tiers. Another doc for reference:

[Deny public access for Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/mysql/concepts-data-access-security-private-link#deny-public-access-for-azure-databa

[2022-01-05 06:05] AnuragSharma-MSFT commented on #85909
@mielniczekm These documents keep on evolving and updating as the new features are developed and available for specific services. I am tagging the content author for more details. @rmatchoro

[2022-01-05 06:06] Karishma-Tiwari-MSFT commented on #85990
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-05 06:08] GitaraniSharma-MSFT commented on #85989
@shihuacao , thank you for your feedback. We'll review this and get back to you shortly!

[2022-01-05 06:29] ethanhou99 commented on #85941
@AnuragSharma-MSFT Thank you sooo much for the detailed information, it is really helpful!

[2022-01-05 06:29] #85941 closed

[2022-01-05 06:32] imeya commented on #85837
thank you. It's very clear now:).

[2022-01-05 07:18] amanmcse commented on #85861
@Sabhagat-MS This is documented under the troubleshooting section. Please find my comments inline.
We either change the ADFS relying party trust Hash Algorithm to SHA1
[Option 2: Set the signature algorithm in AD FS](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs-saml?tabs=windows&pivots=b2c-custom-policy#option-2-set-the-signature-algorithm-in-ad-fs)
Or Add “ S

[2022-01-05 07:18] #85861 closed

[2022-01-05 07:24] ntrogh commented on #85554
@ToruMakabe We've added this to our backlog. I'll comment here when we have an update.

[2022-01-05 07:36] sandeep-jain opened #85993 "Wrong"
"From the Service Bus perspective, the message session state is an opaque binary object that can hold data of the size of one message, which is 256 KB for Service Bus Standard, and 100 MB for Service Bus Premium. The processing state relative to a session can be held inside the session state, or the session state can point to some storage location or database record that holds such information."

[2022-01-05 07:48] o-l-a-v opened #85994 "AAD least privilege overview - What about Microsoft Defender for Endpoint?"
Can't see anything about Microsoft Defender for Endpoint in the overview.

* https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task

Just for read only permissions for "Machine Inventory" in the "Microsoft Defender for Endpont" ([old portal](https://securitycenter.windows.com/machines), [new portal](https://security.microsoft.com/machines)), one would think that "Security R

[2022-01-05 08:10] o-l-a-v commented on #85994
"Security Operator" is not sufficient either. Is "Security Administrator" least privelege to be able to see machines?

Old portal:
https://securitycenter.windows.com/machines

New portal:
https://security.microsoft.com/machines

[2022-01-05 08:11] o-l-a-v commented on #85994
Oops, I hit the "close" button by mistake.

[2022-01-05 08:12] MayankBargali-MSFT commented on #85993
@sandeep-jain Service Bus Premium tier now supports 100 MB message size as documented [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-premium-messaging). The same was announced [here](https://techcommunity.microsoft.com/t5/messaging-on-azure-blog/azure-service-bus-premium-large-message-support-generally/ba-p/2900186).

[2022-01-05 08:30] stefan-schweiger commented on #51708
My solution for now is to specify `;SecretVersion=...` in the config, but this is a mayor pain point as you need to update this everytime you update your secret

[2022-01-05 08:39] GitaraniSharma-MSFT commented on #85926
@RonnieQuan , When an IP Group is created in a region, it is also mirrored to a paired region (via our resource provider). So, when a region becomes unavailable, an IP Group from the paired region will be referenced and be available i.e. the resource is built with high-availability. (This is confirmed by the Product group team).

You can see the statement "IP Groups are global and can be used acro

[2022-01-05 08:39] #85926 closed

[2022-01-05 08:42] AshokPeddakotla-MSFT commented on #85839
@im-subash Did you get a chance to see my response? Do send us an email if you don't have a support plan for further troubleshooting.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 08:42] #85839 closed

[2022-01-05 08:47] v-hagamp commented on #63489
Issue resolved.
#please-close

[2022-01-05 08:47] #63489 closed

[2022-01-05 08:47] AshokPeddakotla-MSFT commented on #85881
@AMelaku In which location your map is created? Could you share your  "interactiveSearch.html" without PII to check further?
Please ensure you copy the code from https://github.com/Azure-Samples/AzureMapsCodeSamples/blob/master/AzureMapsCodeSamples/Tutorials/interactiveSearch.html and replace the suggested values as per the documentation.

[2022-01-05 08:47] v-hagamp commented on #84432
#please-close

[2022-01-05 08:47] #84432 closed

[2022-01-05 08:48] GitaraniSharma-MSFT commented on #85927
@jasonzio , the section on this [doc](https://docs.microsoft.com/en-us/azure/load-balancer/instance-metadata-service-load-balancer#access-the-load-balancer-metadata-using-the-imds), where it says "For more information on how to access the load balancer metadata, see [Use the Azure Instance Metadata Service to access load balancer information](https://docs.microsoft.com/en-us/azure/load-balancer/ho

[2022-01-05 09:06] ntrogh commented on #85966
@pohorely we're currently using Apache JMeter version 5.4.1

/cc @kaumishra

[2022-01-05 09:06] AshokPeddakotla-MSFT commented on #85988
@Shawnloveshorses161 Thanks for sharing your valuable feedback. We are reviewing it and update you shortly.

[2022-01-05 09:25] GitaraniSharma-MSFT commented on #85938
@TimO2221 , unfortunately, this feedback did not include the linked page details and was created individually.
I searched for all the docs where myBastionHost and address prefix 10.1.1.0/24 are mentioned and I found the below docs:

https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-cli?tabs=option-1-create-load-balancer-standard
https://docs.microsoft.co

[2022-01-05 09:25] #85938 closed

[2022-01-05 09:27] shashishailaj commented on #85994
@o-l-a-v Thank you for your feedback and it is alright to reopen it :) . Thank you for sharing your findings. We will investigate and update the thread.

[2022-01-05 09:46] GitaraniSharma-MSFT commented on #85989
@shihuacao , the [first table](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#benchmark) has information about all the new VPN gateway SKUs and the [second table](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#requirements) has information about the legacy VPN gateway SKUs. I believe the 2nd table was added to cl

[2022-01-05 10:02] AnuragSingh-MSFT commented on #85875
@saimachi, There are some logs that you may refer:

**Minikube**: `minikube logs`
**Azure arc Data Service**: [Log files](https://docs.microsoft.com/en-us/azure/azure-arc/data/troubleshooting-get-logs#get-log-files)

You may also use `kubectl get datacontroller --namespace=<namespace>` to get the current status. I have observed that the "DeployingMonitoring" stage takes very long time.

Also, plea

[2022-01-05 10:02] AnuragSingh-MSFT commented on #85875
@saimachi, There are some logs that you may refer:
**Minikube**: `minikube logs`
**Azure arc Data Service**: [Log files](https://docs.microsoft.com/en-us/azure/azure-arc/data/troubleshooting-get-logs#get-log-files)

You may also use `kubectl get datacontroller --namespace=<namespace>` to get the current status. I have observed that the "DeployingMonitoring" stage takes very long time.

Also, pleas

[2022-01-05 10:19] amanmcse commented on #85863
@Sabhagat-MS I have updated the document and it is currently pending for the author to review. Changes will be merged after the review is completed and approved.

[2022-01-05 10:19] #85863 closed

[2022-01-05 10:32] v-hagamp commented on #85622
@JohnDelisle, Please contact SaaSApplicationIntegrations@service.microsoft.com and mention what are the changes you want to add into the document.

[2022-01-05 10:40] algattik opened #85996 "Wrong navigation tree position (under "SQL insights (preview)")"
This page should not be shown as a subpage of "SQL insights (preview)", since it's unrelated to that.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0526b200-ba5c-5427-35a8-1290d23bcada
* Version Independent ID: 4ca174bd-6fbb-7b74-8065-eaabdb10a699
* Content: [Azure Monitor FAQ - Azure Monitor](https://docs.microsoft.co

[2022-01-05 10:41] v-hagamp commented on #85429
#please-close

[2022-01-05 10:41] #85429 closed

[2022-01-05 10:42] AlphaBun commented on #85947
@RohitMungi-MSFT Thanks for the quick turn around. Yes the SSH are enabled. I am able to SSH into the private IP from within the private network. Its just the public IP that is blocked even with all the proper NSG enabled.

[2022-01-05 10:50] joaocpribeiro opened #85997 "Monitor, diagnose, and troubleshoot Azure Storage: ServicePoint is deprecated in netcore6"
In the section "Investigating client performance issues" the following code is suggested:
[code]
However in netcore6 ServicePoint is deprecated. [Documentation here](https://docs.microsoft.com/en-us/dotnet/core/compatibility/networking/6.0/webrequest-deprecated).

I don't know how to disable Nagle Algorithm in netcore6. Anyway, in my opinion, the documentation should not suggest deprecated code. I

[2022-01-05 10:57] Ericgre commented on #85976
Hello, when you configure a Web App with Private Endpoint the scm is also behind the Private Endpoint.
Your Visual Studio must be able to reach the scm Private Endpoint. (https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#dns )

[2022-01-05 11:04] PratMoha commented on #85976
@Ericgre,

Thank you for your response.

I tried deploying it with visual studio code, but not a success. I'm able to deploy the frontend application, for backend it gives 403 once the private endpoint is enabled.

Any configuration changes that is required on my side?

[2022-01-05 11:35] #85762 closed

[2022-01-05 11:38] dummy-andra opened #85998 "Update the documentation's steps by adding the MSI appId reader role over the diskEncryptionSets scope"
[Enter feedback here]

If you fallow the documentation  you will encounter the fallowing error message at pod creation if you will want to attach a volume to that pod in an AKS cluster that use MSI

Error:
PersistentVolume mount error: Unable to attach or mount volumes: timed out waiting for the condition

To mitigate this issue you must give the cluster MSI appId  Reader role over the diskEncrypt

[2022-01-05 11:46] Ericgre commented on #85976
As I said your vs code must be able to reach the Private Endpoint.  If you have a 403 error it means that you are trying to reach the private web app through the public IP. Verify the DNS resolution from your dev env and verify that you are in a subnet that can reach the Private Endpoint IP.

[2022-01-05 12:06] jasonzio commented on #85927
Yes, that addresses my issue, you can close this.

From: Gitarani Sharma ***@***.***>
Sent: Wednesday, January 5, 2022 12:49 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jason Zions ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Include example JSON results from IMDS for load balancer config (Issue #85927)

@jasonzio<https://nam06.safelinks.protection.outlook.com/?u

[2022-01-05 12:47] jorge-at123 commented on #83447
Hello @JamesTran-MSFT and @curtand!
This is important in determining whether we can use this feature in production as the document says it's in preview.

I would appreciate it if you guys could update here.

Thank you.

[2022-01-05 12:53] CHEEKATLAPRADEEP-MSFT commented on #85904
@Ramesh1020  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 12:53] #85904 closed

[2022-01-05 12:55] Ramesh1020 commented on #85904
https://stackoverflow.com/questions/70566360/odata-integration-run-time-failed-for-workplace-analytics-setupviva-insights

I had already raised the case but no response yet.

[2022-01-05 12:59] sarah026 opened #85999 "Impact of enabling a framework"
Hi
Can u please add whether or not enabling a framework will cause a policy to block a deployment or something? Or this merely a compliance check? I'm worried if enabling a framework will cause issues. Its not clear if all policies will be assumed as audit only.

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48

[2022-01-05 13:00] TimO2221 commented on #85938
[This page](https://docs.microsoft.com/en-us/azure/private-link/tutorial-private-endpoint-sql-portal) has the section.

`
In the IP Addresses tab, enter this information:

TABLE 2
Setting	Value
IPv4 address space	Enter 10.1.0.0/16
Under Subnet name, select the word default.

In Edit subnet, enter this information:

TABLE 3
Setting	Value
Subnet name	Enter mySubnet
Subnet address range	Enter 10.1.0.

[2022-01-05 13:23] GitaraniSharma-MSFT commented on #85927
@jasonzio , thank you for the confirmation.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-01-05 13:23] #85927 closed

[2022-01-05 13:25] yasirms commented on #66602
What I don't understand or is confusing to me is that when you create a new version of the certificate on Keyvault, do you need to change any configuration on your server(K8s Pod in-fact) to pick up new version of the certificate(assuming currently it is pulling certificate from Azure Keyvault)? Or you don't need to change anything on the server(or K8s pod)?

[2022-01-05 14:02] GitaraniSharma-MSFT commented on #85938
@TimO2221 , I tried this in my lab and it works just fine.

<img width="569" alt="image" src="https://user-images.githubusercontent.com/67630903/148229886-19b85674-d74f-49a0-a54a-bc46a737b82b.png">

<img width="452" alt="image" src="https://user-images.githubusercontent.com/67630903/148229954-00446378-e47f-49c6-880e-4576abc54389.png">

Could you try it again?

[2022-01-05 14:15] dbuschi opened #86000 "Powershell Script error."
When I execute (below the version c&p from the page):
`New-AzPurviewAccount -Name yourPurviewAccountName -ResourceGroupName myResourceGroup -Location eastus -IdentityType SystemAssigned -SkuCapacity 4 -SkuName Standard -PublicNetworkAccess`

I get an error that the parameter `-PublicNetworkAccess` is missing its value. When I remove that parameter, it works.

---
#### Document Details

⚠ *Do not e

[2022-01-05 14:31] dsmdavid opened #86002 "SAML2_PROVIDER should be Custom"
The instructions state to use 'AzureAD' as the saml2_provider (https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/snowflake-tutorial#configure-snowflake-sso step 6)
It should state 'Custom' instead.
Admitted values seem to be 'OKTA', 'ADFS', 'Custom' https://docs.snowflake.com/en/user-guide/admin-security-fed-auth-configure-snowflake.html

---
#### Document Details

⚠ *Do not edit t

[2022-01-05 14:32] felickz opened #86003 "Application Insights Agent for VMSS"
Following this Az Powershell based documentation for a VMSS in azure (which is still in 3yr preview?)

- [https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-vm-vmss-apps#manage-application-insights-agent-for-net-applications-on-azure-virtual-machine-scale-sets-using-powershell](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-vm-vmss-apps#manage-application-insights-agent

[2022-01-05 14:36] felickz commented on #86003
@KrishnaG-MSFT in case you have insight here?

[2022-01-05 14:57] TomTom0815 opened #86004 "extent example or documentation on how to create multiple actions"
The documentation describes the webPubSub binding with an example, by `context.bindings.actions = { "actionName": "sendToAll", ...`

The name of the webPubSub binding is "actions" - it's plural - this implies, it is able to hold multiple actions? (e.g. sending a message to a group, sending another message to a user, aso.)

Could you please extent this example or the documentation how to do this? S

[2022-01-05 14:59] romankiss opened #86005 "Multiple Long-running commands"
The document described a simple example for [Long-running commands](https://docs.microsoft.com/en-us/azure/iot-central/core/howto-use-commands#long-running-commands). It will be nice to add couple examples for response with a complex type and also for component command.

I have tried many examples, but the command response history didn't show the finally respond via the reported property:

1. The

[2022-01-05 15:25] JamesTran-MSFT commented on #86002
@dsmdavid
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-05 15:29] danhellem commented on #85124
@rido-min is correct. The customer still needs to write the code to retrieve the twin and desired props on re-connect.  See sample

https://github.com/Azure/azure-iot-sdk-node/blob/main/device/samples/javascript/simple_sample_device_twin.js

[2022-01-05 15:29] mumian commented on #85930
The article has been updated.

[2022-01-05 15:29] gitmadness commented on #61238
Same here

[2022-01-05 15:37] danhellem commented on #85124
@JimacoMS4 sorry for the delay. Not sure why I was not receiving any updates on this. I unassigned myself thinking I could re-assign back to you :(

[2022-01-05 15:40] martijn980 opened #86007 "Tutorials "Filter network traffic with a network security group using the Azure portal" and "Route network traffic with a route table using the Azure portal" don't work"
[Enter feedback here]
I tried the tutorials "Filter network traffic with a network security group using the Azure portal" and "Route network traffic with a route table using the Azure portal don't work". Both don't seem to work according to steps outlined in the tutorial.

In the "Route network traffic with a route table using the Azure portal don't work" it goes wrong in chapter "Turn on IP forwa

[2022-01-05 15:41] ShaikMaheer-MSFT commented on #86000
@dbuschi Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2022-01-05 15:48] ChaitanyaNaykodi-MSFT commented on #86007
Hello @martijn980
Thank you for your feedback! We will review and update as appropriate.

[2022-01-05 15:55] SamaraSoucy-MSFT commented on #85991
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-05 15:58] VitalyMCT opened #86008 "Minor UI change"
Regarding

The current/new blade name is "**Microsoft** Defender for Cloud".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff0899fe-800e-328a-1690-f0d911331837
* Content: [SQL vulnerability assessment - Azure SQL Database & SQL Managed Instance & Azure Syn

[2022-01-05 15:59] PriyankaRudramaina commented on #85719
@adrianakbari,

I haven't heard back from you on this. I am looking for more details on this request. As far as i see, the document link you mentioned doesn't have anything about Login commands.
Also This channel is for driving improvements towards Microsoft Docs, for any product related question/Issue I would recommend you to create a thread on the forums- Microsoft Q&A platform or Stack Overflow

[2022-01-05 16:02] SamaraSoucy-MSFT commented on #85999
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-05 16:07] jhealy opened #86009 "Preview feature for SFTP is now "SFTP support for Azure Blob Storage""
[Enter feedback here]

Preview feature for SFTP is now "SFTP support for Azure Blob Storage", not AllowSFTP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7d93704-cc4c-04a0-beb4-84983853cbb1
* Version Independent ID: c999a603-b02d-a56d-1bef-0cd4916b6a2b
* Content: [Connect to Azure Blob Storage using SFTP (preview)](

[2022-01-05 16:08] jonwbstr opened #86010 "Configure "Azure Activity" confusion"
Hello,

Step 3 of this section [Configure Azure Activity connector](https://docs.microsoft.com/en-us/azure/sentinel/data-connectors-reference#azure-activity) links to instructions for connecting azure windows Microsoft services. I don't think this is instructions for Azure Activity.

When configuring the Azure Activity connector, these are the instructions given, which suggest azure policy is the

[2022-01-05 16:14] BzSpi opened #86011 "Missing associated storage security considerations"
Hello,

Since Azure Functions require a storage account, we should have guidelines on how to secure it properly.
Questions I have about this when setting the storage firewall to "Deny" mode :
* Should I add the Function IPs to the firewall ?
* Should I allow "Azure Services" to bypass the firewall ?
* Are those 2 above options mandatory or just one of them is enough ?

Also, is it possible to use

[2022-01-05 16:15] ronortloff commented on #75403
Closing with no response from the person filing this.

[2022-01-05 16:15] ronortloff commented on #75403
#please-close

[2022-01-05 16:16] JamesTran-MSFT commented on #83447
@jorge-at123
Thank you for following up and I apologize for the delayed resolution.

After looking into this further - from our [What's new in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new) documentation, it links to the [Archive for What's new in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/wh

[2022-01-05 16:16] #83447 closed

[2022-01-05 16:18] AnuragSharma-MSFT commented on #86008
@VitalyMCT Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-05 16:23] MonikaReddy-MSFT commented on #86003
@felickz - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-05 16:31] PriyankaRudramaina commented on #85880
Hi @pathade90,

I checked with internal team, and here is what we have to say, Windows Multi-Session is not supported on premises - it will not activate against an on-premises KMS servers as it only supports with Azure KMS.
(That will change with Azure Stack HCI support in the future, however no on-premises option for Multi-session for now(other than Server OS' which would require RDS CALs) until

[2022-01-05 16:31] #85880 closed

[2022-01-05 16:34] romankiss commented on #84661
Hi @dominicbetts,
did you have a chance to look at the issue around the **enqueuedTime** property described in my previously comment ?

Thanks
Roman

[2022-01-05 16:39] PriyankaRudramaina commented on #85700
@CorinaMAC

PR has been initiated, the necessary changes will take place on the document, it will be updated soon. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 16:39] #85700 closed

[2022-01-05 16:44] whhender commented on #86000
@dbuschi - Yes, looks like the value has been left off.

For the purposes of this example, the value should be 'Enabled' and the command will look like this:
New-AzPurviewAccount -Name yourPurviewAccountName -ResourceGroupName myResourceGroup -Location eastus -IdentityType SystemAssigned -SkuCapacity 4 -SkuName Standard -PublicNetworkAccess Enabled

Allowed values are : Enabled , Disabled , NotSpe

[2022-01-05 16:53] JamesTran-MSFT commented on #86010
@jonwbstr
Thank you for following up with this!

When it comes to the [Azure Activity connector](https://docs.microsoft.com/en-us/azure/sentinel/data-connectors-reference#azure-activity), as you mentioned, the Azure Portal Connector page only shares instructions for how to enable this feature using the Azure Policy Assignment Wizard. However, since other connectors (for example [Azure DDoS Protect

[2022-01-05 17:00] #86000 closed

[2022-01-05 17:05] vthukral94 opened #86013 "The JS API for Speech Synthesizing has issues"
` const synthesizer = new sdk.SpeechSynthesizer(speechConfig, undefined);`
Passing undefined for audioConfig is supposed to not play audio from the default Speaker. But, that's not the case. This was tested on Chrome & Safari.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 064d7074-3ea4-21e4-60b4-b09976bbdf7e
* Version

[2022-01-05 17:10] geologyrocks opened #86014 "initialScopes variable in sample code declared outside of a method (disallowed in C#)"
The `initialScopes` variable assignment at the top of the linked page is in the wrong place - it's located outside of the `ConfigureServices` constructor, but it should be inside it.
[code]
should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f62034e-04a1-dcf2-0f1b-4c44904eb3dd
* Version Independent ID: 8

[2022-01-05 17:28] sean-keane25 opened #86015 "Errors return when deleting Enterprise apps"
When following the instructions in the Enterprise apps with no way to delete section errors are returned. I worked with Azure support and its normal for errors to occur. I recommend updating the documentation to indicate that errors like below being returned is not cause for concern, and is expected.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-01-05 17:43] jmprieur commented on #86014
@geologyrocks you are right

[2022-01-05 17:52] MonikaReddy-MSFT commented on #85996
@algattik - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-05 17:53] MonikaReddy-MSFT commented on #85065
@mronnlun  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update accordingly.

[2022-01-05 17:55] MonikaReddy-MSFT commented on #85471
@rbgigo - Thanks for sharing the solution that worked for you.

@tiwalter and @riptusk331 - Hope the above solutions works for you both.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 17:55] #85471 closed

[2022-01-05 17:58] jlichwa commented on #84872
@sujitks I have added similar note to this document to App Service documentation #please-close

[2022-01-05 17:58] MarileeTurscak-MSFT commented on #86015
@sean-keane25
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-05 17:58] #84872 closed

[2022-01-05 17:59] MonikaReddy-MSFT commented on #85670
@Erdemg - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 17:59] #85670 closed

[2022-01-05 18:00] dadrag opened #86016 "disregard"
[Enter feedback here]

disregard
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26925ef6-ef21-2c7a-3576-608e6b5fb9c8
* Version Independent ID: 4911e9f9-7299-f411-cd90-bcfe550bd17d
* Content: [Migrate Azure HDInsight 3.6 Hive workloads to HDInsight 4.0](https://docs.microsoft.com/en-us/azure/hdinsight/interactive-query/apach

[2022-01-05 18:07] MonikaReddy-MSFT commented on #85907
@m-yuka746 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 18:07] #85907 closed

[2022-01-05 18:12] MarileeTurscak-MSFT commented on #86014
@geologyrocks Thanks for pointing this out! I made a pull request to fix this and will leave it open for review by @jmprieur

https://github.com/MicrosoftDocs/azure-docs-pr/pull/184221

(@jmprieur , I didn't see your comment before I made the PR, but I have looped you into it.)

[2022-01-05 18:12] #86014 closed

[2022-01-05 18:12] HeidiSteen commented on #85940
@racchen Doc updates include more structure and detail around highlight behaviors. Those updates are live. Please see this section: https://docs.microsoft.com/en-us/azure/search/search-pagination-page-layout#hit-highlighting

I'll close this issue but if you have more feedback or concerns, please feel free to reopen it.

Thanks for your feedback and for filing the issue!

#please-close

[2022-01-05 18:12] #85940 closed

[2022-01-05 18:14] KarlErickson commented on #85707
#reassign:karlerickson

[2022-01-05 18:16] YutongTie-MSFT commented on #86013
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-05 18:19] DerekHerman-MSFT commented on #85997
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-05 18:19] sinePaul commented on #85401
@kof-f  Since I have only the read access to the container where is store the large file, I am creating a SAS token for the large file and then I store the token to an new container. The customizer will then download the larger file.
Thanks for for answer!

[2022-01-05 18:20] Shawnloveshorses161 commented on #85988
You're very welcome though I really prefer to be able to report Bing Map errors as Azure only shows TomTom issues. Prefer if it was in Windows Maps + Bing Maps online where you send feedback, there is a tracking link and also a dashboard to see all feedback sent. As well as status in one place. Also email updates when it is fixed;. Thank you

[2022-01-05 18:23] Shawnloveshorses161 commented on #85988
Also, I would like to point out that Bing Maps has a lot of duplicates or non-exist or permanently closed or stuff just randomly placed that make no sense. It's due to 3rd party sources, please make sure that you prioritize the City or Government databases of parks and businesses first. Then use other sources and fact-check every single one. Thank you, that is why I wish to have a feedback reporte

[2022-01-05 18:24] DerekHerman-MSFT commented on #86009
Thanks for reporting this. I have created a PR to update the documentation and it should go live later today.

[2022-01-05 18:24] #86009 closed

[2022-01-05 18:38] geologyrocks commented on #86014
No problem.  Happy to help!

[2022-01-05 18:39] #86016 closed

[2022-01-05 18:40] dadrag commented on #86016
disregard, wrong place

[2022-01-05 19:16] brianlehr commented on #85851
#assign-reviewer @brianlehr

[2022-01-05 19:16] PRMerger8 commented on #85851
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: brianlehr

[2022-01-05 19:25] MarileeTurscak-MSFT commented on #86015
Thank you! I made a pull request to add a note. https://github.com/MicrosoftDocs/azure-docs-pr/pull/184235

[2022-01-05 19:25] #86015 closed

[2022-01-05 19:26] camilohtaborda opened #86019 "Is possible to use this app with a MCA?"
Hi Team,

We have a MCA, I tried to connect this app using the billing profile Id but it doesn't update the information after set the credentials, just try to get and then it shows a message saying there's an error updating the information.

![imagen](https://user-images.githubusercontent.com/79111875/148276791-7aa732ee-3b69-4d43-997e-84b990a5bdc2.png)

Thanks for your support.

[2022-01-05 19:26] cburuzie commented on #85928
#reassign:thisisanniefang

[2022-01-05 19:28] cburuzie commented on #85851
#reassign:@brianlehr

[2022-01-05 19:29] jgross1031 opened #86020 "Web server logging with storage account firewall enabled in same region"
Hello,
  I think it would be helpful to let users know that for web server logging to the storage account in the same region requires that the firewall is not enabled. The workaround would be to have resources in a different region and whitelist outgoing IPs as shown here for Logic Apps. https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config?tabs=azure-portal#firewall-ip-co

[2022-01-05 19:30] RyanHill-MSFT commented on #86004
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-05 19:31] zr-msft commented on #84362
Thank you for the feedback.

I have updated the article to address the feedback and the changes should be available soon.

#please-close

[2022-01-05 19:31] #84362 closed

[2022-01-05 19:34] adrianakbari commented on #85718
try the first command for creating the container group:

PS C:\Users\Gebruiker> New-AzContainerGroup -ResourceGroupName azurelearn -name myContainer -image mcr.microsoft.com/windows/servercore/iis:nanoserver -Ostype Windows -Dnsnamelabel aci-demo-win
New-AzContainerGroup : Cannot process argument transformation on parameter 'ImageRegistryCredential'. Cannot convert value "mcr.microsoft.com/windows

[2022-01-05 19:34] tfitzmac commented on #85992
@NK-debug - thanks for letting us know. We have been working to improve the troubleshooting docs and glad to hear of anytime it helps.
@davidsmatlak

[2022-01-05 19:38] JimacoMS4 commented on #85124
@danhellen Thanks for the pointer. So are you saying:

- That the device app would need to subscribe to the `connect` event as in this sample: https://github.com/Azure/azure-iot-sdk-node/blob/main/device/samples/javascript/simple_sample_device.js?
- That the handler for this event would need to contain a call to `client.getTwin`?
- That there would otherwise be no notification events generated for

[2022-01-05 19:39] #85627 closed

[2022-01-05 19:45] LitKnd commented on #85406
Hi @deboergj ,

Thanks for submitting this feedback and letting us know it is unclear.

Our guidelines for acronyms are that we work to spell out the acronym on the first usage on the page, immediately followed with the acronym in parentheses.

We should handle this on the DTU Service Tier page that you've liked by writing "Database Transaction Unit (DTU)" in the first usage, and potentially [link

[2022-01-05 19:51] rido-min commented on #85124
that `connect` event is specific for node. I think we are talking about a high-level concept, that should be applicable to all languages.

The original blurb we are discussing here, is what I would expect to be implemented in the device SDK.

If this sounds reasonable, we should have a plan to update the samples and eventually the SDKs, and finally update the docs as we make progress.

[2022-01-05 19:57] Nicholak-MS commented on #85666
Hi @sherlock1982 I believe I have located some internal folks who can assist with your inquiry, but we need some details that we should communicate through email. Can I contact you at the email address associated with your GitHub account?

[2022-01-05 20:02] sherlock1982 commented on #85666
Yes absolutely

[2022-01-05 20:06] Nicholak-MS commented on #85666
great, please expect an email shortly.

[2022-01-05 20:10] ohadschn opened #86022 "LOWER and UPPER do not mention casing rules (culture info)"
The phrases _"converting lowercase character data to uppercase"_ and _"converting uppercase character data to lowercase"_ which currently serve to describe `UPPER` and `LOWER` respectively, are not well defined.

Different cultures have different casing rules, which is why the .NET equivalents accept a `CultureInfo` parameter, example: https://docs.microsoft.com/en-us/dotnet/api/system.string.toup

[2022-01-05 20:50] rbgigo commented on #85471
It worked until today pretty well, could deploy new builds multiple times. But today all of the sudden one container on creation kept hanging in the "repairing" even with the new approach. I followed up again with the support folks using the ticket I have opened last week

[2022-01-05 21:04] kabharati commented on #74398
@jwefers - Thanks for your patience. I reached out to our AD expert and here is the workaround. Could you please test this workaround.

Workaround:
#1

Please run CLI below to set Managed Identity as AAD Admin.

az resource create --id "/subscriptions/{subscription}/resourceGroups/{resource group}/providers/Microsoft.DBforPostgreSQL/servers/{server name}/administrators/activeDirectory" --propertie

[2022-01-05 21:38] JimacoMS4 commented on #85124
@rido-min Are you sure this support is limited to node.js? For example, here's a delegate for c# that handles connection change events: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.connectionstatuschangeshandler?view=azure-dotnet. And here's a sample about handling connection "events": https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.connecti

[2022-01-05 21:43] gopinathperumal opened #86023 "OS disk is not always same in Azure linux Vms"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-05 21:44] gopinathperumal commented on #86023
"On Azure Linux VMs, the temporary disk is /dev/sdb by default" is not true. Previously the text on this page was "On Linux virtual machines, the disk is typically /dev/sdb" which was correct. In some cases at boot the temporary and attached disks get mounted in a different order.

[2022-01-05 21:45] RyanHill-MSFT commented on #85901
Hi @akashperfect, I wanted to follow up with you on your question above.

[2022-01-05 21:46] libbro2006 opened #86024 "Why are passwordless methods showing in the AAL1 table?"
The table under "Permitted authenticator types" says "The following table contains those not covered in AAL2 and AAL3." but it contains the passwordless credentials (FIDO, WHFB) which meet higher AAL standards. It's confusing and conflicting, and I'm not even sure how to best edit it for a fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-01-05 21:46] offby1 opened #86025 "Don't hard-code PublishingProfileEndOfLifeDate in the example"
I was going through https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-custom-images, happily copying and pasting the example powershell snippets into the Cloud Shell.  However, https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-custom-images#create-an-image-version got me an error: `ErrorMessage: EndOfLifeDate must be set to a future date.`

I didn't un

[2022-01-05 21:49] gopinathperumal commented on #54055
is this fixed or closed without fixing? i am also facing the same issue.

[2022-01-05 22:02] SatishBoddu-MSFT commented on #59713
Hello @dominicbetts Could you please help in this matter!

[2022-01-05 22:04] ecfan commented on #83883
@sarabsandhu & @PramodValavala-MSFT: Thanks for the suggestions! Apologies as I've been on vacation. I've added a work item for this request to our backlog for triage and prioritization.

[2022-01-05 22:08] kabharati commented on #85607
This is now updated and preview tag has been removed. Closing the PR

[2022-01-05 22:08] kabharati commented on #85607
#please-close

[2022-01-05 22:14] rido-min commented on #85124
@JimacoMS4  yes, sorry for the confussion, my point is that syncronizing the device twin is independent from the connect event.

I think we should delete the note until we have an agreement from the SDK team to implement that behavior, first in the samples, and later in the SDK.

[2022-01-05 22:14] ecfan commented on #85936
@SvenAelterman Thanks! I've created a doc work item on the backlog for triage and prioritization.

[2022-01-05 22:17] JimacoMS4 commented on #85124
@rido-min SGTM. I'll yank the note. Thanks for your help here! :). I'm going to close this issue once we publish as this is for documentation feedback only. I assume you'll open issues against the appropriate SDKs or use some other way of tracking progress.

[2022-01-05 22:38] GeethaThatipatri-MSFT commented on #85607
Thanks @kabharati  for the update

[2022-01-05 22:39] Ravi-Kashyap commented on #29554
Hello,

Is this being considered or in progress?

Thanks!

[2022-01-05 22:40] SamaraSoucy-MSFT commented on #85998
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-05 22:41] cynthn commented on #86025
#assign cynthn

[2022-01-05 22:42] cynthn commented on #86025
@offby1 What a good catch! Sorry about that! In the short term I just changed the year to 2030. I'll create a work item to use the current date + 1 year or something similar.

Fix should go out later today or early tomorrow morning. Thanks again for brining it to my attention!

[2022-01-05 22:42] cynthn commented on #86025
#please-close

[2022-01-05 22:42] #86025 closed

[2022-01-05 23:19] rolyon commented on #85679
Hi @shekhar-jha
Thanks for your feedback. Since Azure roles are for Azure resources and not Azure AD resources, I won't be able to add a link to the Azure AD hub page. However, I did add a link to Azure built-in roles on the Azure AD built-in roles page:
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference

I will check to see if possible to add a link to the Azure R

[2022-01-05 23:20] rolyon commented on #85679
#please-close

[2022-01-05 23:20] #85679 closed

[2022-01-05 23:27] markingmyname commented on #74398
#please-close

[2022-01-05 23:27] #74398 closed

[2022-01-05 23:58] rolyon commented on #85285
Hi @dvasdekis
Thanks for your feedback. The PowerShell are CLI output does not produce the exact output you listed, but it does include those properties. Here is how you can list role definitions in PowerShell and CLI:
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions-list#azure-powershell
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definit

[2022-01-05 23:59] rolyon commented on #85285
Let us know if you have any additional feedback.
#please-close

[2022-01-05 23:59] #85285 closed

[2022-01-06 00:31] JimacoMS4 commented on #72866
@rido-min Can you please answer this question in the PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/183698/files#r779220215 ?

[2022-01-06 00:38] YanZhangADS opened #86027 "There is a duplicate section on "Create an Azure ML linked service""
The section "Create an Azure ML linked service" appear twice in the article. Please consider removing one of them.

[2022-01-06 01:05] SamaraSoucy-MSFT commented on #86011
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-06 01:10] JamesTran-MSFT commented on #86024
@libbro2006
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-06 01:39] nath-thomas opened #86030 "Incorrect python example in Text-to-speech quickstart guide"
Given the previous import statement the following example section:
`speech_config = SpeechConfig(subscription="<paste-your-speech-key-here>", region="<paste-your-speech-location/region-here>")`

Should actually read like:
`speech_config = speechsdk.SpeechConfig(subscription="<paste-your-speech-key-here>", region="<paste-your-speech-location/region-here>")`

---
#### Document details

⚠ *Do not edi

[2022-01-06 02:12] spelluru commented on #85317
Added a note in the article. The update will go live tomorrow at 10 AM PST. Thanks.

#please-close

[2022-01-06 02:12] #85317 closed

[2022-01-06 02:19] v-hakob opened #86031 "Unsupported backup type for database workloads"
The cx asked what is "Unsupported backup type for database workloads" under "Alert scenarios". Could you give us more descriptions or examples? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1a03d2b-9643-1b62-1cf9-9a222c7fded1
* Version Independent ID: 7604c853-7c72-553e-9c9c-34f53d991ae9
* Content: [Monito

[2022-01-06 02:30] spelluru commented on #85514
@HuaqiongWu - I have confirmed with the product team that the message retentions policies apply to these inner event hubs as well. Thanks.

#please-close

[2022-01-06 02:30] #85514 closed

[2022-01-06 02:59] spelluru commented on #85870
Thanks @jsquire

[The article](https://docs.microsoft.com/en-us/azure/event-hubs/authenticate-shared-access-signature#generating-a-signaturetoken-from-a-policy) also has a section with C#, Java, Python, and JavaScript examples.

I will remove the outdated code and add a link to the section for generating a SAS token.

[2022-01-06 03:17] dainomat opened #86032 "This link doesn't work"
This link doesn't work to view. Plz fix this

![image](https://user-images.githubusercontent.com/76713507/148322784-1e546def-e1a4-48fa-8116-ca42c4ae6bbd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6015786a-01a5-c01d-82bb-f375b5dc3a00
* Version Independent ID: 704bde40-76d9-e261-e0e0-ef7e5de6724b
* Content: [Use

[2022-01-06 03:27] JialinXin commented on #86004
Multiple actions are supported. See this [sample](https://github.com/Azure/azure-webpubsub/blob/main/samples/functions/js/simplechat/connected/index.js)

[code]

[2022-01-06 03:27] spelluru commented on #84320
@Christian-e-S - Sorry for the delay in responding to you. This forum is to submit feedback on the content of the article. For this type of query, please use [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-service-bus.html). Thanks.

[2022-01-06 03:27] spelluru commented on #84320
#please-close

[2022-01-06 03:27] #84320 closed

[2022-01-06 03:32] spelluru commented on #85870
The updated article will go live tomorrow at 10 AM PST. Thanks.

#please-close

[2022-01-06 03:32] #85870 closed

[2022-01-06 04:02] CHEEKATLAPRADEEP-MSFT commented on #86027
@YanZhangADS  Please help with the link to the document on which the above document feedback request is created.

[2022-01-06 04:03] CHEEKATLAPRADEEP-MSFT commented on #86032
@dainomat  Thanks for the feedback! We are investigating and will update you shortly.

[2022-01-06 04:09] ram-msft commented on #86030
@nath-thomas Thanks for the feedback! We will review and update accordingly.

[2022-01-06 04:16] JasonWHowell commented on #86032
It's probably because there are two tabs. I think that section is on the second tab ("Classic Azure Monitor experience").
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-oms-log-analytics-tutorial?tabs=previous#prerequisites-for-clusters-behind-a-firewall

[2022-01-06 04:18] ram-msft commented on #85956
Thanks for the feedback.
@jeffmend Could you please check on this  and help on the same.

[2022-01-06 04:21] Karishma-Tiwari-MSFT commented on #86023
Thanks for your feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-01-06 04:25] duongthuyvy1995 opened #86034 "How to access to API using OpenID Connect from another API"
Hello all,

I have one project web API using OAuth with OpenID Connect protocol.

`services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApp(Configuration.GetSection("AzureAd"), subscribeToOpenIdConnectMiddlewareDiagnosticsEvents: true)
                .EnableTokenAcquisitionToCallDownstreamApi(new string[] { "xxx-1321-427f-aa17-xxx/.default

[2022-01-06 04:27] AshokPeddakotla-MSFT commented on #86005
[@romankiss](https://github.com/romankiss) Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-01-06 04:32] JasonWHowell commented on #86032
Attempting a fix in https://github.com/MicrosoftDocs/azure-docs-pr/pull/184302

[2022-01-06 04:36] VikasPullagura-MSFT commented on #85884
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-06 04:36] #85884 closed

[2022-01-06 04:43] AshokPeddakotla-MSFT commented on #84832
@stevemunk Thanks for updating it.
@anthonychu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-06 04:44] #84657 closed

[2022-01-06 04:47] SadiqhAhmed-MSFT commented on #86031
@v-hakob Thank you for your feedback. We will review the content with doc owner and get back to you soon.

[2022-01-06 04:50] JamesTran-MSFT commented on #86034
@duongthuyvy1995
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-06 04:53] PatrickBrodeur commented on #62842
HI,

I am also experiencing the exact same issue after doing exclusion in the .xml file, recreating the connection successfully, but the routes stills appear and apply.  Any idea?

Thanks,
Patrick Brodeur

[2022-01-06 04:54] JamesTran-MSFT commented on #86002
@dsmdavid
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/148330195-94d8ac1d-4665-4b90-b09f-9b9807e553a0.png)
https://docs.snowflake.com/en/user-guide/admin-security-fed-auth-configure-snowflake.html

I will now close out this issue. Please a

[2022-01-06 04:54] #86002 closed

[2022-01-06 04:54] #86010 closed

[2022-01-06 04:55] PramodValavala-MSFT commented on #85837
@imeya Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-06 04:55] #85837 closed

[2022-01-06 04:55] SnehaAgrawal-MSFT commented on #86020
@jgross1031 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-06 05:06] SnehaAgrawal-MSFT commented on #85645
@strueder Since we didn't here back! We will close this out but if you feel you need more information please just let us know.

[2022-01-06 05:06] #85645 closed

[2022-01-06 05:08] AnuragSharma-MSFT commented on #86022
@ohadschn Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-06 05:34] RohitMungi-MSFT commented on #85947
@AlphaBun I think based on the recommendation, a bastion host can be used with public IP address instead of exposing your compute instance to public internet when they are deployed in a private network. I would recommend posting the query on enabling access with public IP on MS Q&A with [azure-virtual-networking](https://docs.microsoft.com/en-us/answers/topics/azure-virtual-network.html) tag as th

[2022-01-06 05:53] nickakitch commented on #66693
This is still an issue, I've been trying to connect my MPN ID for two weeks.

[2022-01-06 05:59] codeputer opened #86036 "I spent hours on this hidden gem of a mistake I made"
So working through this sample, I just hate copying and pasting commands, as I feel you don't really understand what they are doing, and also they don't map really well to the portal, where I think most initial work is done... I don't do much with CLI until I'm well into production scripts.

My issue is that in the attached screenshot, step 4 requires a far scroll right to really understand that t

[2022-01-06 06:11] loetters opened #86037 "What is the difference between PipelineData and OutputFileDatasetConfig"
Hey,

I have read your tutorial for using aml automl with machine learning pipline. Great thank you. For me it is not clear why you are using different objects to pass data between the different steps. For handing over data to Automl you use OutputFileDatasetConfig for all other steps you use PipelineData. What is the difference ? The Chapter before never spoke of PipelineData objects.

Thanks for

[2022-01-06 06:55] altho1 opened #86038 "Script error"
This part of your sample script is luckily not working

"az ad sp show --id $SP_ID --query password --output tsv"

You should advice to take note of the password like you do with the appId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c06ec64b-fd1c-892d-88cf-e1c8fa66473a
* Version Independent ID: 9a57446a-8ded-4ccd-11

[2022-01-06 06:59] AjayKumar-MSFT commented on #86016
dadrag,   No worries. Thanks for leveraging Azure docs feedback channel to raise this question and follow-up with an update.

[2022-01-06 07:20] pohorely commented on #85966
Thank you, Nick.

Will be possible to determine it in the future? For example through Azure CLI or read it from exported ARM template?

[2022-01-06 07:22] bolad0002 opened #86039 "Graph API Cmdlet type issue"
[Enter feedback here]
The document title is "Use Microsoft Graph API to make this a root domain", But it's Azure AD Graph API Cmdlet.
I heard the Azure AD Graph API will be out of service in June this year. Look forward to revising it to Microsoft Graph API Cmdlet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02c07bd

[2022-01-06 07:51] brianlehr commented on #85851
Hello @ataid - thanks for bringing this to our attention.  The documentation has been updated.

[2022-01-06 07:51] brianlehr commented on #85851
#please-close

[2022-01-06 07:51] #85851 closed

[2022-01-06 07:55] memildin commented on #79832
Hi @seanstark, thanks for the feedback and for taking the time to help us improve the docs.

This documentation page is going to get refreshed in the coming days, and we'll incorporate the information discussed here.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2022-01-06 07:55] #79832 closed

[2022-01-06 08:02] leorickzhao opened #86040 "Is it supported to use a custom domain name in the Azure Commercial environment and use that same domain name in the Azure China environment ?"
[Enter feedback here]
Hi, It is nice to see that it is supported to use a custom domain name in the Azure Commercial environment and use that same domain name in the Azure GCCH environment. Since Azure China is also a soveregin cloud like GCCH, and you do not mention Azure China in this update. I have tested it and it works. So can you help to confirm about that, thanks a lot.

---
#### Document D

[2022-01-06 08:23] MayankBargali-MSFT commented on #85993
@sandeep-jain Just following up here. Hope my previous comment clears things up.

[2022-01-06 08:41] mariekoorneef opened #86042 "Typo in section Test the custom host names"
Current:

should be
Open a browser and browse to `http://www.<your domain name>` and `http://<your domain name>`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f40788e0-33cd-2bd0-f2a0-4254123a714a
* Version Independent ID: c7fb7321-2873-6aaa-ab5d-57aeee075e90
* Content: [Tutorial - Create custom Azure DNS records for

[2022-01-06 08:45] ram-msft commented on #86037
@loetters Thanks for the question. We are investigating the issue and will update you shortly.

[2022-01-06 08:48] enkr1 opened #86043 "Unable to call `/oauth2/v2.0/token` even with the correct redirect/reply URL"
I am following this [document](https://docs.microsoft.com/en-us/graph/auth-v2-user) and currently stuck at 3rd step, [Get a token](https://docs.microsoft.com/en-us/graph/auth-v2-user#3-get-a-token):

I have no issue with the 2nd step, [Get authorization](https://docs.microsoft.com/en-us/graph/auth-v2-user#2-get-authorization) as I could sign in (from the browser) and it responded with the `code` f

[2022-01-06 08:49] karataliu commented on #80249
@Nickomang
`kubectl debug` is not related with `SSH`, it basically creates a pod and exec into it.
I'm proposing to replace `SSH` with `access node` here, as `SSH` indicates a [specific protocol](https://en.wikipedia.org/wiki/Secure_Shell)

[2022-01-06 08:50] mariekoorneef opened #86044 "FAQ What tools does Network Watcher provide does not mention the new Connection Monitor"
The above description refer to the Connection Monitor (classic) and the Network performance monitor.

Maybe the new and improved [Connection Monitor](https://docs.microsoft.com/en-us/azure/network-watcher/connection-monitor-overview) should be mentioned on the FAQ page (too)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-06 08:54] Sachin1O1 opened #86045 "Value for "key": "db.system" for sampling sql dependency ingestion in applicationInsight.json"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d239d5d-52fb-221f-2c96-6994da3f622c
* Version Independent ID: 8aebdb63-c252-61ef-39c5-bc940d62ba9a
* Content: [Sampling overrides (preview) - Azure Monitor Application Insights for Java - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-mo

[2022-01-06 09:52] sandeep-jain commented on #85993
Thanks for the info

[2022-01-06 09:52] #85993 closed

[2022-01-06 10:02] dominicbetts commented on #59713
Hi @rploeg - that solution has been retired. In the meantime, for a description of how you can use the following flow to visualize IoT data in a Power BI dashboard:

IoT Central -> Azure Data Explorer -> Power BI

See: https://docs.microsoft.com/en-us/azure/iot-central/core/howto-transform-data-internally

[2022-01-06 10:14] batamig commented on #85626
HI @nickselvaggio, I'm coming back to this to let you know about the known issues listed for solutions in the Microsoft Sentinel GitHub repo.

We're currently discussing which of these items to list in the documentation as well, if any. In the meantime, the private Azure Marketplace issue is indeed listed as a known issue.

Please see: https://github.com/Azure/Azure-Sentinel/blob/master/Solutions/

[2022-01-06 10:15] o-l-a-v commented on #23238
@priyamohanram | @SaurabhSharma-MSFT

Error 500121 is still not documented in:

* https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes

So why is this issue closed?

[2022-01-06 10:18] SubhashVasarapu-MSFT commented on #86042
@mariekoorneef , Thanks for reaching out. We will investigate and update this thread.

[2022-01-06 10:19] eavanvalkenburg opened #86049 "No mention of requirement that custom field has to exists or what happens if it doesn't."
I got a question from a partner that was using custom fields in the output, and they found that some messages didn't have the field they put in the pattern, resulting in repeated retries and eventually complete failure. So would be good to either specify that the pattern column cannot be Null or what happens if it is, maybe with some sample code of how to deal with it!

---
#### Document Details

[2022-01-06 10:26] denniszielke opened #86050 "Please clarify what is covered behind the AzureFrontDoor.FirstParty service tag"
A couple of service tags take a dependency on the AzureFrontDoor.FirstParty tag but there is no documentation what azure services are behind this service tag.
Can you document this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f

[2022-01-06 10:44] dominicbetts commented on #84661
Hi @romankiss - You say that your _enqueuedTime_ property is a _struct_ type - can you show me an example of what it looks like in your input message? Thanks!

[2022-01-06 10:51] bmiller264 opened #86055 "helm install is failing with time out error"
Following the steps of the article - results in a time out error:
**Error: INSTALLATION FAILED: failed pre-install: timed out waiting for the condition**

I've created a new aks cluster:  Helm Version 3.7.2, az version 2.23.0

--- followed the article and ran the following commands ---
[code]
**RESULTS IN the timeout error:**
**Error: INSTALLATION FAILED: failed pre-install: timed out waiting for

[2022-01-06 10:54] mohmdnofal opened #86056 "Fix typo in CLI command for enabling diagnostic settings doc"
Typo in:
az monitor diagnositc-settings create \
...

To "Fix":
az monitor diagnostic-settings create \
...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b14cca3-8b1b-4c6f-978a-bc03280f1c7b
* Version Independent ID: a0d085b4-f3ce-4af0-02c8-0689383b4bbd
* Content: [Quickstart - Set up a Log Analytics workspace in Azur

[2022-01-06 11:00] mohmdnofal commented on #86056
already submitted a PR
https://github.com/MicrosoftDocs/azure-docs/pull/86057

[2022-01-06 11:04] kaumishra commented on #85966
Hi @pohorely could you elaborate the scenario you have in mind? The solution may depend on that as we are still evaluating about how many versions to support and this may help.

[2022-01-06 11:10] helloyesthisisdave opened #86058 "Link for integrating data from Data Lake Storage Gen1 targets a page with no relevant info or examples"
The part of the documentation available at [this bookmark](https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-integrate-with-other-services#use-data-lake-storage-gen1-with-azure-synapse-analytics) suggests the loading data from Gen1 Data Lake Storage is possible via Synapse Analytics, specifically stating:

The link in that section takes you to a page on the COPY statement with

[2022-01-06 11:20] GitaraniSharma-MSFT commented on #86050
@denniszielke , thank you for your feedback. We'll review this and get back to you shortly!

[2022-01-06 11:21] GitaraniSharma-MSFT commented on #86044
@mariekoorneef , thank you for the feedback. We'll review this and get back to you shortly!

[2022-01-06 11:23] ShaikMaheer-MSFT commented on #86049
@eavanvalkenburg Thank you for sharing feedback. We are actively validating it. We will share updates shortly.

[2022-01-06 11:29] mcalnd70 commented on #86055
Same here too

[2022-01-06 11:42] bitmorse commented on #47918
Getting the same TimeoutError('Authorization timeout.') for ServiceBus

[2022-01-06 11:46] VigilanteWang opened #86061 "resourceId: refer to resources to be deployed in the template"
The resourceId "Returns the unique identifier of a resource". Can it returns the id of resources to be deployed in the template?

The following template is generated when creating a VM in portal(you can try it), all resource is set to be deployed in the same resource group, here is the snip.
As you can see the `nsgId` variables is assigned a resourceId value from a NSG that hasn't been deployed.

[2022-01-06 11:59] #84832 closed

[2022-01-06 12:00] AshokPeddakotla-MSFT commented on #85124
.

[2022-01-06 12:01] AshokPeddakotla-MSFT commented on #85175
.

[2022-01-06 12:45] DTronD opened #86062 "Addition right-menu entries for alphabetical list"
At the risk of being called lazy (again!), I'm requesting the addition of an alphabet index on the right menu below the "all functions - alphabetical list" similar to the one on the PowerApps function page:
https://docs.microsoft.com/en-us/powerapps/maker/canvas-apps/formula-reference

E.g.

A
B
C
D
E
...

I know it's not a critical thing, but it sure would save me (and thousands of others) time..

[2022-01-06 13:00] Shawnloveshorses161 commented on #85988
Hi,

I wish to inform you about this Open Source Catalog from City of Nanaimo,

You may use it to make sure the Address and busines are all up to date using their provided files.

https://www.nanaimo.ca/open-data-catalogue

https://www.nanaimo.ca/ortho/

https://catalogue.data.gov.bc.ca/

These two links will either provide options to use their imagery for the maps or the business/other uses.

Tha

[2022-01-06 13:25] zbrilhart opened #86064 "Regarding conflicting dlls with Azure Monitor"
[Many clients require the following dlls.

Microsoft.ApplicationInsights.dll
Microsoft.AspNet.TelemetryCorrelation.dll
System.Diagnostics.DiagnosticSource.dll

If there's a workaround (such as using built time AI) it would be good to put this in the doc.

If there is a plan to prevent the conflicts a link to the issue would be nice.
]

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-06 13:42] batamig commented on #85488
Hi @eriky,

Thanks for sending your comment into docs! We don't generally link out to third party sites for educating about generic technologies. I do understand the feedback though, and we'll take it back to the team to consider.

I'm going to close this issue for now, but feel free to continue commenting below as needed.
We appreciate your contribution to docs!

#please-close

[2022-01-06 13:42] #85488 closed

[2022-01-06 13:49] batamig commented on #81051
Hi @roflemin,
Thanks for writing into docs! We're going to take this back to the team to validate and update the docs as needed in a coming publish.

We always welcome your contributions to docs. I'm going to close this issue for now as it's in our backlog, but feel free to continue commenting if you have more feedback.
#please-close

[2022-01-06 13:49] #81051 closed

[2022-01-06 13:49] JamesTran-MSFT commented on #86039
@bolad0002
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-06 13:52] JamesTran-MSFT commented on #86040
@leorickzhao
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-06 13:53] JamesTran-MSFT commented on #86043
@enkr1
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-06 13:56] batamig commented on #83818
Hi @sadi354 - thanks for writing into docs!

I've added this into our backlog to validate and update as needed in a coming publish.
I'm closing this issue for now to prevent double-tracking, but please feel free to continue commenting below if you have additional feedback.

We appreciate your contribution to docs!
#please-close

[2022-01-06 13:56] #83818 closed

[2022-01-06 14:00] batamig commented on #85929
Hi - checking up on GitHub issues. @JamesTran-MSFT, if this change was merged, can this issue be closed? Thanks!

[2022-01-06 14:04] bmiller264 commented on #86055
Update ...  I've changed my script to set the full path for the ACR_URL - (adding azurecr.io to the name) and now the helm install completes without error:

**ACR_URL=my-acr.azurecr.io**

[2022-01-06 14:08] shashishailaj commented on #86019
@camilohtaborda Thank you for your query . We use github for documentation related feedback . Could you please share the documentation you followed and obtained this error ?

[2022-01-06 14:09] SnehaAgrawal-MSFT commented on #86036
@codeputer Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-06 14:15] shashishailaj commented on #85872
Sure @jmprieur . I will update the same.

[2022-01-06 14:26] bmiller264 commented on #86055
It's working now - with the change to the ACR_URL, mentioned in my previous reply.  I'm now getting the Ingress Controller Fake certificate instead of mine - but, I see that issue has already been reported.

[2022-01-06 14:26] #86055 closed

[2022-01-06 14:38] kabharati commented on #75475
#please-close

[2022-01-06 14:38] #75475 closed

[2022-01-06 14:50] mumian commented on #86061
@VigilanteWang, the resourceId function returns the unique id of a resource based on the information you provide, but it doesn't validate the existence of the resource.  You can try this example:

{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "storageAccountName": {
      "type": "string",

[2022-01-06 14:50] #86061 closed

[2022-01-06 14:57] romankiss commented on #84661
Hi @dominicbetts, thanks for your reply. The **enqueuedTime** property is created by IoT Central, it's not my property.

The following screen snippet shows an input message for _IoT Plug and Play mobile_ model, but it will be a part of every input message:

![image](https://user-images.githubusercontent.com/30365471/148402125-f5e41e2e-cc15-40ad-9c6e-8a5cc9f0f993.png)

Thanks
Roman

[2022-01-06 15:14] #85872 closed

[2022-01-06 15:14] shashishailaj commented on #85872
@jmprieur I have done the same. The change should go live in the next 24 hours. We will close this now.

[2022-01-06 15:15] toddfoust opened #86065 "Missing AppExceptions Table schema"
Hey team, looks like we are missing AppExceptions Table Schema from this article.

This article appears to tell users that the App Insights Classic table, "exceptions" will port to an LA workspace table named "AppSystemEvents", however if I track an exception to my App Insights resource that exception will show up in a table named "AppExceptions" instead. Do we just need to CTRL+H "AppSystemEvents

[2022-01-06 15:18] dominicbetts commented on #84661
Hi @romankiss - thanks for replying. I'm not sure what's happening here. When I try out your transformation with some sample data it works fine. Here's my transformation code that looks identical to yours:

[code]

I'm sending to a webhook destination - here's the result:

<img width="441" alt="image" src="https://user-images.githubusercontent.com/1454644/148405356-f70e65d1-97bb-4858-a0f3-b5b23dad

[2022-01-06 15:19] dominicbetts commented on #84661
@Sekhar-Kutikuppala - can you help out with this question?

[2022-01-06 15:24] MonikaReddy-MSFT commented on #85946
@nubgamerz -  We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-06 15:24] #85946 closed

[2022-01-06 15:32] #85929 closed

[2022-01-06 15:44] #86004 closed

[2022-01-06 15:58] MonikaReddy-MSFT commented on #86045
@sachin101 - Thank you for your question.
 Can you please share with us more info on the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-06 16:01] heinrich-ulbricht opened #86068 "az webapp deploy: parameter "path" should be "target-path""
`az webapp deploy .... --path ...` fails with "unrecognized arguments: --path" error

`az webapp deploy .... --target-path ...` does work

Seems like the target path paramter got renamed and the documentation has yet to be upated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce674e6-fcb7-a867-2a74-f28f6a1b0204
* Ver

[2022-01-06 16:05] hajekj commented on #85311
/fyi: @vipulsparsh

[2022-01-06 16:05] spelluru commented on #83652
@PramodValavala-MSFT - please close this issue when you get a chance. Thanks.

[2022-01-06 16:11] bmiller264 commented on #64792
This helped to resolve the Fake Certificate issue for me:
https://stackoverflow.com/a/67635486/9467806

Add the line:

`- --default-ssl-certificate=ingress-basic/aks-ingress-tls`

to the container args.

[2022-01-06 16:26] jmprieur commented on #85872
Thanks @shashishailaj

[2022-01-06 16:40] MartinJaffer-MSFT commented on #85973
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-01-06 16:40] #85973 closed

[2022-01-06 16:55] dominicbetts commented on #84661
@romankiss - glad to hear it's all working as expected now.

[2022-01-06 17:21] dejan-shuki opened #86069 "expand param error"
[Enter feedback here]
your sample for az vm run-command show contains –expand
1. w/o value of the parameter
2. with different Unocide char for -
3. it should probably be with -- instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04865202-8e09-967f-a7a7-b18ab6845b2e
* Version Independent ID: 73268057-c2f4-c7be-6149-

[2022-01-06 17:31] JackStromberg commented on #56264
Hello @hisaima, apologies for the slow response.  The Azure portal will leverage version-less certificates from keyvault now, ensuring that the latest certificate will be used if updated.

Appreciate you reaching out!
Jack
#please-close

[2022-01-06 17:32] #56264 closed

[2022-01-06 17:33] KranthiPakala-MSFT commented on #86058
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-01-06 17:38] JackStromberg commented on #55962
In addition to @surajmb's comment, we have additional documentation on the "pick host name from back-end target" option as well: https://docs.microsoft.com/azure/application-gateway/configuration-http-settings#pick-host-name-from-back-end-address

Going to close out as we have not heard back.

Thanks for reaching out!
Jack
#please-close

[2022-01-06 17:38] #55962 closed

[2022-01-06 17:43] JackStromberg commented on #55838
Thank you for reaching out!  Apologies for the slow response.

Going to close this one out as we have since addressed this in https://github.com/MicrosoftDocs/azure-docs/issues/79072.

Cheers!
Jack
#please-close

[2022-01-06 17:43] #55838 closed

[2022-01-06 17:45] v-steveadams commented on #67985
Thank you again, @zaalion, for your feedback! We made several changes to the article in response to your input and welcome you to take another look. We'll keep this issue open for a few more days in case you have any additional comments.

[2022-01-06 17:58] JackStromberg commented on #54933
Hello @joergrenn -- thanks for reaching out!  Apologies for the slow response.  We have published a document that provides a few billing scenarios for both v1 and v2 gateway skus.  You can find pricing scenarios for v2 specifically in this section: https://docs.microsoft.com/azure/application-gateway/understanding-pricing#v2-skus

This document clarifies throughput, Compute Units being billed as f

[2022-01-06 17:58] #54933 closed

[2022-01-06 18:07] joshd-emergent opened #86070 "Azure App Service Availability Zone SLA"
Does setting up an Azure App Service to be zone redundant impact the SLA?

It still notes 99.95% everywhere without note impact to this if zone redundancy is implemented.
https://azure.microsoft.com/en-us/support/legal/sla/app-service/v1_5/

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef86ae6-02f7-b8dd-5530-5

[2022-01-06 18:17] batamig commented on #85916
Hi @SabrinaKay! I've checked this with the team, and we don't have a recommended minimum, it just needs to be large enough for the OS to run. We'll consider adding something to clarify that, but I hope this answer helps in the meantime.

I'm going to close this issue for now, but feel free to continue commenting if you have more feedback.
Thanks for your contribution to docs!

#please-close

[2022-01-06 18:17] #85916 closed

[2022-01-06 18:20] valmark1 opened #86071 "2022 Support"
The documentation says Server 2019, but I went to download the sync agent and 2022 is available. Is 2022 supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Sync deployment](h

[2022-01-06 18:26] davetapley opened #86072 "az container exec with --os-type windows is not interactive"
Per https://github.com/Azure/azure-cli/issues/20827#issuecomment-1006824726 this example does not work:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 227e2c2f-2305-38fc-16db-1f9a760e4caf
* Version Independent ID: fc6d1fd0-3918-1822-751d-92f17b78952b
* Content: [Execute commands in running container instance - Azure Co

[2022-01-06 18:30] Jvasil opened #86073 "What is a "viral" azure AD account?"
Can someone please clarify what exactly an unmanaged "viral" account is in Azure AD as stated in this document article?
There are no accounts of type "viral" in Azure AD but this document states the following which needs to be fixed.
"Starting November 1, 2021, we'll begin rolling out a change to turn on the email one-time passcode feature for all existing tenants and enable it by default for new

[2022-01-06 18:39] zaalion commented on #67985
Thanks. It's more clear now.

[2022-01-06 18:54] eric-urban commented on #82035
Sorry for the delay. At this point there is no clear doc issue so if its still an issue please reach out for help via one of the options here: [Create an Azure support request](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options#create-an-azure-support-request)

[2022-01-06 18:54] eric-urban commented on #82035
#please-close

[2022-01-06 18:54] #82035 closed

[2022-01-06 19:00] SamaraSoucy-MSFT commented on #86038
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-06 19:11] RVAHaver01 opened #86075 "This page needs updating."
There have some changes to Azure AD that affect this page.  Specifically in the table for Password Policies the Password expiry indicates the default value is false meaning passwords by default will expire.  Today's default is all accounts are set to never expire.  Please have someone review and update this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-01-06 19:13] kobulloc-MSFT commented on #86069
@dejan-shuki Thank you for bringing this to our attention!  We are reviewing the command and will get back to you shortly.

[2022-01-06 19:18] Fleid commented on #86049
Hi @eavanvalkenburg, could you share the query you are using here (or a simplification of it that reproduces the issue)?
I could not reproduce the issue with something simple like, using `DeviceId` as a property:

[code]
I can see records with the empty property in the destination EH

[2022-01-06 19:19] Grace-MacJones-MSFT commented on #86070
Hi @joshd-emergent ,Thanks for the  question. We are currently investigating and will update you when we have accurate information to provide.

[2022-01-06 19:22] Grace-MacJones-MSFT commented on #86068
Hi @heinrich-ulbricht , Thanks for your feedback! We will review and update this doc accordingly.

[2022-01-06 19:45] OverengineeredNetwork commented on #82039
Happy new year @SwathiDhanwada-MSFT
Just checking in on this.

I still cannot dismiss some items.

[2022-01-06 19:48] JasonWHowell commented on #86032
#please-close I've updated the link

[2022-01-06 19:48] #86032 closed

[2022-01-06 19:55] ThomasVandenbon commented on #85058
@StefArroyo @SaurabhSharma-MSFT @GeethaThatipatri-MSFT
Any updates on this? It's been almost a month.

[2022-01-06 19:56] JamesTran-MSFT commented on #86075
@RVAHaver01
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-06 19:58] JamesTran-MSFT commented on #86073
@Jvasil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-06 20:04] jlichwa commented on #84964
Documentation updated, we provided link to log analytics. #please-close

[2022-01-06 20:04] #84964 closed

[2022-01-06 20:05] philnandreoli opened #86076 "Extra space in a Bash command"
Under the SAP application installation section, the first part where you navigate to the Azure_SAP_Automated_Deployment_folder there is an extra space:

current (if you run this command it will error because there is an extra space):
cd ~/Azure_ SAP_Automated_Deployment/WORKSPACES/SYSTEM/DEV-NOEU-SAP01-X00/

replace with this:
cd ~/Azure_SAP_Automated_Deployment/WORKSPACES/SYSTEM/DEV-NOEU-SAP01-X0

[2022-01-06 20:13] JamesTran-MSFT commented on #86073
@Jvasil
When it comes to the term "viral", it's associated with self-service sign-up, in which a user signs up for a cloud service and has an identity automatically created for them in Azure AD based on their email domain (i.e. yahoo.com, gmail, outlook, etc.).

The tenant that is created during the self-service sign-up is where the unmanaged ("viral") identity is created. The term unmanaged refer

[2022-01-06 20:13] #86073 closed

[2022-01-06 20:13] thetadweller opened #86077 "Delta Lake support described for SQL Pool. ATM only Serverless has it."
This page describes DELTA file support for SQL Pools, while one doesn't exists, at least in public preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f873d0f6-d930-d354-5da1-8fa698f77366
* Version Independent ID: 3feff33e-55c1-90a3-ba2f-c27a71a1316e
* Content: [Create and use external tables in Synapse SQL pool -

[2022-01-06 20:16] JamesTran-MSFT commented on #86034
@duongthuyvy1995
Thank you for your time and patience on this!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend leveraging our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you in troubleshooting this issue or finding potential w

[2022-01-06 20:16] #86034 closed

[2022-01-06 20:17] SamaraSoucy-MSFT commented on #86062
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-06 20:17] kobulloc-MSFT commented on #86072
@davetapley Thank you for bringing this to our attention.  We are reviewing the command and will get back to you shortly.

[2022-01-06 20:24] Grace-MacJones-MSFT commented on #85540
apologies for the delay. I have submitted a PR to fix the update this doc, the change will go-live in the public docs shortly.

[2022-01-06 20:24] #85540 closed

[2022-01-06 20:27] JamesTran-MSFT commented on #86039
@bolad0002
Thank you for pointing this out! I've assigned this issue to the author who will investigate and update as appropriate.
![image](https://user-images.githubusercontent.com/36619112/148446879-a6f8e5e3-91e6-4018-8d14-2df130bc9f93.png)
[
Request differences between Azure AD Graph and Microsoft Graph](https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-request-differences#basic-req

[2022-01-06 20:47] trask commented on #86045
@Sachin1O1 @MonikaReddy-MSFT I understand the request, and will update the docs 👍

[2022-01-06 20:51] seligj95 commented on #86070
@joshd-emergent - A zone redundant App Service has the same SLA as a standard App Service. The SLA is with respect to the underlying VMs that App Service runs on which is not affected. A zone redundant App Service will make your App Service more highly available in the sense that if a zone in the region you are using goes down, there will be another App Service in that region in a different zone t

[2022-01-06 21:10] #86045 closed

[2022-01-06 21:11] trask commented on #86045
@Sachin1O1 I have added a link in the doc to the `db.system` values: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#connection-level-attributes

It should be live in the next 24 hours.

[2022-01-06 21:19] saadsaiyed opened #86078 "Misplacement of words in 'Troubleshooting - Metric category is not supported'"
[When deploying a diagnostic setting, you receive an error message, similar to Metric category 'xxxx' is not supported. You may receive this error even though **a previous your** deployment succeeded.](https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/diagnostic-settings?tabs=CMD#metric-category-is-not-supported)

Suggestion: Change the sentence.

[code]

---
#### Document Details

⚠

[2022-01-06 21:48] himanshusinha-msft commented on #86077
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-06 21:49] JamesTran-MSFT commented on #86043
@enkr1
Thank you for your time and patience throughout this issue!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A for

[2022-01-06 21:49] #86043 closed

[2022-01-06 22:02] FallenHoot commented on #76001
Best course of action is to  open a support ticket to see if the backend magic has the SQL Server/Database backup before its deleted permanently.

[2022-01-06 22:02] #76001 closed

[2022-01-06 22:17] Alexu0626 opened #86080 "RequiredScope attribute doesn't have any effect"
According to this article you should be able to apply attribute like [RequiredScope("SomeScopeName")] to either controller level or action level to protect the API. But when I try it in my API, it doesn't seem to have any effect at all - regardless what scope name I use (I made sure I don't have the scope by that name in the token), I always get right in to the API actions that I supposed to fail.

[2022-01-06 22:28] McMatty commented on #84340
Status?

[2022-01-06 22:32] SpEcIaLiStJoKeR opened #86081 "From instructions to appyling instructions to program."
[Enter feedback here]
Instructions don't say anything about a resource name. It gets confusing while trying to follow instructions. Whenever you look at what you're trying to fill out and it's on the example. On mine resource name on example nothing, doesn't say anything about resource name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-01-06 22:51] kabharati commented on #70203
@tomconte - I spoke to our product team and they confirmed that the information is updated and latest template should work without any issues. Please try and reach me if you need any further assistance.

Closing the PR

[2022-01-06 22:51] kabharati commented on #70203
#Please-Close

[2022-01-06 22:51] #70203 closed

[2022-01-06 23:04] JamesTran-MSFT commented on #86080
@Alexu0626
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-06 23:12] jmprieur commented on #86080
@Alexu0626 is it in Azure functions?
Do you mind raising an issue with repro steps in the Microsoft.Identity..Web repo?
https://github.com/AzureAD/microsoft-identity-web/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBug%5D+

[2022-01-06 23:14] SamaraSoucy-MSFT commented on #86064
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-06 23:17] ThomasWeiss commented on #85415
@TomTom0815 thanks for clarifying!
#please-close

[2022-01-06 23:17] #85415 closed

[2022-01-06 23:24] kabharati commented on #75245
@hristokrastev - Thanks for your suggestion. SSL implementation for Azure PostgreSQL follows the same steps and i dont see any issue adding your example to official documentation and i will update it shortly.

Again, thanks for your contribution. Closing the PR.

[2022-01-06 23:24] kabharati commented on #75245
#please-close

[2022-01-06 23:24] #75245 closed

[2022-01-06 23:33] dazinator opened #86082 "What about certs linked from keyvault"
The doc talks about manually uploading another PFX to renew the cert. However what if you've selected a cert from keyvault instead. Suppose you just update the cert in keyvault.. (which adds a new version of it in keyvault) is it still necessary to edit the listener and select the cert again from keyvault in order for this latest cert to apply? Or is it the case that once you add the new version o

[2022-01-06 23:42] xtianus79 opened #86083 "Can you give more documentation like sample requests and error's that may occur"
[Enter feedback here]
I can't get this working and the documentation is pretty lacking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee70a007-1a76-7901-c91c-07ec01c6e48f
* Version Independent ID: 0f6424e1-d4cc-1eee-0914-b6d0957c376a
* Content: [How to send a Conversational Language Understanding job - Azure Cognitive

[2022-01-07 00:01] YutongTie-MSFT commented on #86083
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-07 00:01] DerekHerman-MSFT commented on #86071
Thanks for reporting this. The download page shows Server 2022 is supported. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-07 00:04] ryanbabel opened #86084 "Update CI/CD docs to use GitHubActions"
Update CI/CD docs to use GitHubActions rather than Azure Dev Ops

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e331af-2350-c9cc-1205-f17ae4d17eb0
* Version Independent ID: a69e5b1f-1195-b191-58a4-0caf73cceccc
* Content: [Deploy an app with CI and Azure Pipelines - Azure Service Fabric](https://docs.microsoft.com/en-

[2022-01-07 00:06] leorickzhao commented on #86040
Thank you.

[2022-01-07 00:08] kobulloc-MSFT commented on #86084
@ryanbabel Thank you for the feedback!  We are passing this along to the document author for review.

[2022-01-07 00:16] AlphaBun commented on #85947
@RohitMungi-MSFT alright will do. Thanks for your help!

[2022-01-07 00:38] v-hakob commented on #86031
Thank you for the prompt response and information!

[2022-01-07 02:13] enkr1 commented on #86043
I will leave my [stackoverflow link](https://stackoverflow.com/q/70604659/13677125) here just in case someone needs it.

[2022-01-07 03:14] alex-mandriko opened #86085 "Is enabling ADE still a best practice?"
Is enabling ADE on OS and Data Disks still a best practice considering the performance degradation and resource consumption compared to SSE?

According to this AWS security blog, the DM-crypt is intended to be used on instance stores. Should not the same logic apply to ADE?
Why would one consider encrypting OS and data disks with it?

https://aws.amazon.com/blogs/security/how-to-protect-data-at-re

[2022-01-07 03:25] ganga1980 commented on #72753
Hi, @deyanp , In case of container metrics, compared against the limits of the container. If there is no limit specified for the container, then metric will be compared against the capacity of the node where the container running since container can take up to the Node's capacity.  Best practice to define the limits on the containers.

[2022-01-07 03:33] GitaraniSharma-MSFT commented on #86082
@dazinator , thank you for your query. We'll review this and get back to you shortly!

[2022-01-07 03:40] AshokPeddakotla-MSFT commented on #85881
@AMelaku Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-01-07 03:40] #85881 closed

[2022-01-07 03:55] SamaraSoucy-MSFT commented on #86065
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-07 03:57] MayankBargali-MSFT commented on #86081
@SpEcIaLiStJoKeR Resource Name is the Name of your APIM instance. As the portal UI has changed the 'Name' property is now called 'Resource Name'.  I have assigned the issue to the content author to update the document as appropriate.

[2022-01-07 04:00] SpEcIaLiStJoKeR commented on #86081
I’m learning, I apologize for the inconvience

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Thursday, January 6, 2022 9:57 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] From instructions to appyling instructions to program. (Issue #86081)

@SpEcIaLiStJoKeR<https://github.com/SpEcIaLiStJoKeR> Resour

[2022-01-07 04:27] Karishma-Tiwari-MSFT commented on #86076
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-07 04:40] AshokPeddakotla-MSFT commented on #85891
@zaalion Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-01-07 04:40] #85891 closed

[2022-01-07 05:38] yichungyu opened #86087 "Azure Redis Nodejs quickstart document sample code does not work with node-redis v4"
Hi team,

I am currently working on a case where the cx are having issues with their node-redis code after upgrading to v4.0.1. It seems that node-redis introduced massive changes to createClient in the latest version. Below are the details from the customer:

Initially using:
var cacheConnection = redis.createClient(6380, process.env.REDISCACHEHOSTNAME,
        {auth_pass: process.env.REDISCACHEK

[2022-01-07 05:42] YuichiTorigoe commented on #84285
Hello @SumanthMarigowda ! Do you have any update for this task ?

[2022-01-07 05:48] Dilergore opened #86088 "Frontdoor preview documentation update"
Hello,

Some of the pages including this one have been copied from the non-preview Frontdoor docs which is misleading. You can compare to this one:
https://docs.microsoft.com/en-us/azure/frontdoor/concept-end-to-end-tls

For example the information under the "Backend TLS connection (Azure Front Door to backend)" section does not seem to apply to the Frontdoor preview.

---
#### Document Details

⚠

[2022-01-07 05:50] doggiehzhang opened #86089 "The property of stonith-action is missed"
The property of stonith-action is missed while in the test cluster section, there is test scenario covering the reboot action which is trigered by the stonith action configuration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a20453e6-5273-2119-69f7-85b5108a8f7d
* Version Independent ID: 4ac93e53-6969-4c8d-5b5c-0db47

[2022-01-07 06:16] SadiqhAhmed-MSFT commented on #86031
@v-hakob Closing this issue for now. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2022-01-07 06:16] #86031 closed

[2022-01-07 06:21] SwathiDhanwada-MSFT commented on #86078
@saadsaiyed Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-07 07:03] GitaraniSharma-MSFT commented on #86088
@Dilergore , thank you for your feedback. We'll review this and get back to you shortly!

[2022-01-07 07:28] vipulsparsh commented on #85994
@o-l-a-v  Thanks for reaching out, for MDE, you can go to the MDE portal directly and create a custom role which gives you capability to choose the permissions you want :

<img width="737" alt="image" src="https://user-images.githubusercontent.com/63580915/148507834-2f5158fd-3321-430e-a692-6befa787bd17.png">

<img width="1113" alt="image" src="https://user-images.githubusercontent.com/63580915/148

[2022-01-07 07:29] kobulloc-MSFT commented on #86069
@dejan-shuki You are correct!  We'll need to update the character to "--" to match the rest of the script sample.

https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest#az-vm-run-command-show-optional-parameters

As far as the value of the parameter, I believe `instanceView` is what we are looking for.  @cynthn, can you confirm this?  If so, I can get a PR out for the fix

[2022-01-07 07:30] o-l-a-v commented on #85994
Thanks, figured that out after creating this issue.

Thats not a AAD built in role though. So I still think this issue is valid.

[2022-01-07 07:31] vipulsparsh commented on #85994
@o-l-a-v  For AAD roles, you need to have the security admin role.

[2022-01-07 07:33] o-l-a-v commented on #85994
Yep. Would be great with a less privileged built in AAD role. Like "Security Reader". Until that happens, the docs should still mention what is currently the least privelege built in AAD role for MDE device inventory IMO.

[2022-01-07 07:35] fowl2 opened #86090 "Regional/Sovereign Cloud Availability/Consideration?"
The Azure AD Application Proxy documentation could be improved by adding some discussion of regions and sovereign clouds.

Is it a "[non regional](https://docs.microsoft.com/en-us/azure/availability-zones/glossary)" service like Azure AD proper?

Is it available in the sovereign clouds?

On the [Products available by region](https://azure.microsoft.com/en-us/global-infrastructure/services/?product

[2022-01-07 07:39] AnuragSingh-MSFT commented on #85875
.

[2022-01-07 07:39] jwefers commented on #74398
Thank you, will test next week :) cc @truptisatardekar

[2022-01-07 07:58] shashishailaj commented on #86085
@nif-nif Thank you for your feedback . We will investigate and update the thread.

[2022-01-07 07:59] pc185120 commented on #39634
Confirming this bug is still active as of JAN 7, 2022.

[2022-01-07 08:14] shashishailaj commented on #86090
@fowl2 Thank you for your feedback . We will engage the content team to review this request .

[2022-01-07 08:21] SQLSourabh commented on #66638
Change updated. Closing the PR.

[2022-01-07 08:23] Brubning commented on #85527
Hi @jmprieur @mmacy, I 100% agree that this is better fit for a how to article. What happens now this issue is closed? Does a new issue get added to the backlog? Otherwise this gets completely lost?  Thanks

[2022-01-07 08:26] holgjat opened #86091 "Misleading role descriptions for Virtual Machine Contributor and Disk Snapshot Contributor roles"
Hi Everyone,

The description of the RBAC role [Virtual Machine Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#virtual-machine-contributor) implies that anyone holding this role can create/manage snapshots:

However, there is no corresponding action associated with this role. Instead the role [Disk Snapshot Contributor](https://docs.microsoft.com/en-us

[2022-01-07 08:39] shashishailaj commented on #86019
@camilohtaborda Hope you are doing great . As we have not received any response on this from you we will be going ahead with closure of this issue for now. You can always post a thread for issues like this on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) where we have a vibrant community that can help you with your issues like this. Alternatively you can send an email on azc

[2022-01-07 08:39] #86019 closed

[2022-01-07 08:45] mcalnd70 commented on #86055
Still doesn't work for me - but on the verge of giving up with it to be honest

My helm --debug output slightly different to yours

[code]

[2022-01-07 09:11] xNiklasJern opened #86092 "Processing of data, EU."
(https://docs.microsoft.com/en-us/azure/purview/overview#in-region-data-residency)
Is this something that going to change with the EU data boundary work that Microsoft is doing? https://blogs.microsoft.com/eupolicy/2021/12/16/eu-data-boundary-for-the-microsoft-cloud-a-progress-report/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-01-07 09:12] Regenhardt commented on #31168
Or maybe a REST endpoint to recreate the container with new settings, mirroring the az cli?

[2022-01-07 09:23] SnehaAgrawal-MSFT commented on #85883
@JacobJones001 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-01-07 09:23] RohitMungi-MSFT commented on #85947
Thanks, We will now proceed to close this thread.

[2022-01-07 09:23] #85947 closed

[2022-01-07 09:27] SnehaAgrawal-MSFT commented on #85976
@PratMoha Just checking in if you have had a chance to see the previous response of @Ericgre.
Let us know if you have any other question on this.

[2022-01-07 09:41] MSFTandrelom opened #86093 "time-generated-field"
Documentation of the time-generated-field header should include two things:
1) A more clear explanation that time-generated-field header is NOT the actual time, but a reference to a field in the posted JSON
2) A remark that the field referenced CANNOT be named TimeGenerated (else it gets ignored by the API)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-01-07 09:42] metoule opened #86094 "What happened to the app service container blade in the Azure portal?"
Until a couple months ago, it was possible to configure an app service's container directly from the Azure portal: change the type of container, change the image, see the latest logs, etc.

That blade has now disappeared, and it's now impossible to change a webapp's image directly from the Azure portal, which is massively inconvenient. I use bicep files to update them, but I wonder why has that bl

[2022-01-07 09:45] CHEEKATLAPRADEEP-MSFT commented on #86027
@YanZhangADS  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-07 09:45] #86027 closed

[2022-01-07 10:03] #86036 closed

[2022-01-07 10:05] dgpoulet opened #86095 "Improve Explanation of Session Tokens Use Cases"
Could we add some additional documentation around situations where you might want to manually manage session tokens?

The docs here says: "To manage session tokens manually, get the session token from the response and set them per request."

But it doesn't explain why you might want to do that, or scenarios where this approach addresses particular use cases. Or if that is explained somewhere, it's

[2022-01-07 10:09] GitaraniSharma-MSFT commented on #86050
@denniszielke , as mentioned in the doc, AzureFrontDoor.FirstParty tag is used for Azure Front door.

<img width="409" alt="image" src="https://user-images.githubusercontent.com/67630903/148527661-ece06f7e-e367-4c3a-b526-532c0f837cd9.png">

**AzureFrontDoor.FirstParty** service tag is used to integrate Azure Front door internally with other Azure services.
**AzureFrontDoor.Backend** service tag is

[2022-01-07 10:11] alicain opened #86096 "Typo"
A typo on point 12. "Duration before reacceptance requires (days)"
"requires" should be "required".

This typo is repeated again a few lines further on.

Also the setting in the GUI is hyphenated : "re-acceptance".

This made the page harder to find with a search.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851

[2022-01-07 10:19] GitaraniSharma-MSFT commented on #86082
@dazinator , as explained [in this doc](https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#supported-certificates), after Application Gateway is configured to use Key Vault certificates, its instances retrieve the certificate from Key Vault and install them locally for TLS termination. The instances poll Key Vault at four-hour intervals to retrieve a renewed version of the

[2022-01-07 10:23] GitaraniSharma-MSFT commented on #86088
@Dilergore , We have assigned this to the content owner/author for review.

@duongau , could you please validate this feedback and update the doc accordingly?

[2022-01-07 10:25] GitaraniSharma-MSFT commented on #86044
@mariekoorneef , We have assigned this issue to the respective product owner for review.

@damendo , could you please review the suggestion and provide your inputs?

[2022-01-07 10:33] dominicbetts commented on #86005
Hi @romankiss - I'm talking with the product team about this to figure out if it's a bug and about the expected behavior if a command is invoked multiple times. I'll let you know as soon as I hear anything back.

[2022-01-07 10:41] panduz86 opened #86097 "Missing how to create the zip file if we do on our local computer"
Hello,

I write this feedback because I think it would be useful to explain how to create the zip file of the function, if we do this action from the local computer.

Searching on internet, I found this how-to https://social.msdn.microsoft.com/Forums/office/en-US/48eaf538-9389-446e-a7f1-59a6de99e6fa/how-to-create-zip-file-for-zip-deployment?forum=AzureFunctions

Thank you
Regards,
Paolo

---
####

[2022-01-07 10:42] eavanvalkenburg commented on #86049
Sorry, I didn't describe it correctly, the problem is with a _field_ that doesn't exist in a particular message, but does in another!

[2022-01-07 10:47] MarkusVi commented on #69009
This has been fixed.

#please-close

[2022-01-07 10:47] #69009 closed

[2022-01-07 11:09] Zjokke opened #86099 "Referencing deprecated WindowsAzure"
[Enter feedback here]
This page is referencing a deprecated package WindowsAzure.Storage.
Please update.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff7ae2f-4f02-7ed9-c2ed-a2715e407975
* Version Independent ID: 542016c1-3c25-f6af-cc83-0c5b6218e0ce
* Content: [Azure Blob storage trigger and bindings for Azure Functio

[2022-01-07 11:16] dazinator commented on #86082
@GitaraniSharma-MSFT thanks.

The other doc does explain the information I was looking for. I think the confusion comes because this document is about how to renew a certificate, but it doesn't touch on any of this. Perhaps you would consider adding something to this document that states if you are looking to renew a certificate linked from key vault - to read the document you have just linked. If

[2022-01-07 11:19] JerryMWeeks opened #86100 "Small detail for section 3, DSN types subdomain"
[Enter feedback here]
In the section you have the following text:

Azure recommends Godaddy for Domain and Godaddy recommends A type sub domain record as standard. [https://uk.godaddy.com/help/add-a-subdomain-4080](https://uk.godaddy.com/help/add-a-subdomain-4080)
Following your guide I tried cname type and it didn't apparently resolve overnight to my app service (I could see from [https://dnschec

[2022-01-07 11:30] JerryMWeeks commented on #85537
Thanks @GitaraniSharma-MSFT appreciated, I have a fairly urgent task of moving a bunch of MFA app services behind a single app gateway, as sub domains to the parent.
So one other addition please... if all the routed apps are sub domain, how do you set the default Application Gateway landing page which will also be MFA (I'm thinking of a simple one page with links to all the sub domains).
Applicati

[2022-01-07 11:30] gomateus opened #86101 "502 bad gateway error when accessing the link"
[Enter feedback here]
Hi team,

Seems we are getting 502 error on the following link:

repositories {
   maven {
      url "https://dl.bintray.com/microsoftazuremobile/SDK"
   }
}

https://docs.microsoft.com/en-us/azure/notification-hubs/android-sdk#add-azure-notification-hubs-libraries

Is this link necessary or can just be removed or replaced with another one?

Thanks in advance
---
#### Documen

[2022-01-07 11:42] AnuragSharma-MSFT commented on #86095
@dgpoulet Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-07 11:44] AnuragSharma-MSFT commented on #86087
@yichungyu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-07 11:49] romankiss commented on #86005
HI @dominicbetts, thanks Dominic, what about the issue related with updating a long-running (in-pending) command history by its reported property, which it will indicate, that the long-running command has been ended in the device direct method. Note, that this ending of the long-running command must work also for command with a no response required.

Thanks
Roman

[2022-01-07 11:51] lanicolas opened #86102 "Broken sentence"
This phrase seems to be missing a word:

"If you can't add all Azure Monitor resources to your AMPLS, you can still your Private Link to some resources, as explained in Control how Private Links apply to your networks. While useful, this approach is less recommended since it doesn't prevent data exfiltration"

you can still.... something seems to be missing here

---
#### Document Details

⚠ *Do n

[2022-01-07 12:15] dominicbetts commented on #86005
I'm checking but it looks like a bug. What I'm seeing is:

- If the long running command is defined in a simple model (no components), then using the property to indicate completion works, and you see the value from the property in the command history.

- If the long running command is defined in a component, then using the property to indicate completion doesn't work, and you don't see the value

[2022-01-07 12:23] gdubya opened #86103 "Synapse Pipelines Web Activity cannot reach sites when using Managed Virtual Network with data exfiltration protection?"
It appears as though the Web activity is unable to contact the management endpoint when the Synapse workspace is created using a Managed Virtual Network and data exfiltration protection. The first Web activity fails with an "unknown error".

This problem **does not** occur if i create the pipeline for a Synapse workspace that **does not** use a Managed Virtual Network with data exfiltration protec

[2022-01-07 12:37] gdubya commented on #86103
[Asked on StackOverflow](https://stackoverflow.com/questions/70621363/pause-resume-dedidcated-pools-using-synapse-pipelines-does-not-work-when-using)

[2022-01-07 12:45] sreenivasp opened #86104 "is linkid sent in proxy protocol unique across regions or not. If not is it unique within a region?"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-01-07 12:50] beckojr opened #86105 "Collection and Container mixed in throughput setting description"
The last paragraph of [Set throughput on a database](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#set-throughput-on-a-database) section, there is a reference to "collections" of a database. I believe you're talking about "containers" here. Since "collections" are specific to MongoDB. In the last sentence of the paragraph you're mentionning "containers"

---
#### Document Details

[2022-01-07 12:51] AndreasMWalter opened #86106 "Incorrect number of Probes in template reference"
Your JSON example templates reference "numberOfProbes": 1
I know I might be having OCD here, but all three JSON template boxes reference an incorrect number of probes. The minimum allowed value is 2.

Also the minimum value is not reflected in the Arm template reference (and no maximum given):
https://docs.microsoft.com/en-us/azure/templates/microsoft.network/loadbalancers?tabs=bicep#probeproperti

[2022-01-07 13:06] gdubya commented on #86103
There is a section of "known limitations" under "Create a workspace with data exfiltration protection enabled" that is perhaps relevant. This says:

I suppose this applies to pipelines too. If this is the case then I suggest adding a "known limitations" section to this "How to" page as wel.

[2022-01-07 13:13] AnuragSharma-MSFT commented on #86105
@beckojr Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-01-07 13:22] amx-matt-clark opened #86108 "WEBSITE_NODE_DEFAULT_VERSION set to ~X version"
[Enter feedback here]

I've recently been experiencing issues where the node version was set to a specific version (12.13.0), but randomly stopped being supported. As a result, I would suggest you update the documentation so that WEBSITE_NODE_DEFAULT_VERSION is set to a range (e.g. "~12" for version 12 of node).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-01-07 13:23] shashishailaj commented on #86096
@alicain Thank you for your feedback . We will investigate and update the thead.

[2022-01-07 13:27] shashishailaj commented on #86091
@shwetamathur7 Thank you for your feedback . We will investigate and update the thread.

[2022-01-07 13:33] romankiss commented on #86005
I have created a new instance with a simple test mode:
![image](https://user-images.githubusercontent.com/30365471/148548576-b8e0e7a4-4a6b-49eb-acf0-485e9e3c2c18.png)

The first part such as a status = 202 is working:
![image](https://user-images.githubusercontent.com/30365471/148549040-811929eb-b2f6-47dd-950a-2ec76baf7da6.png)

The following screen snipper shows a response payload for Get command

[2022-01-07 14:05] RyanHill-MSFT commented on #86108
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-07 14:10] ssivas commented on #85855
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

#Please-close

[2022-01-07 14:10] #85855 closed

[2022-01-07 14:27] IgnacioAlvarezArenas opened #86110 "NodeJS WEBSITE_NODE_DEFAULT_VERSION use of major version recommendation (~12,~14 ...)"
Recent updates have removed some of the 12 minor versions of NodeJS of the platform. For instance, 12.13.0 has been affected already in some regions. It would be a good idea to recommend in the documentation the use of ~12,~14 and similar in order to help users minimizing the risks as the setting WEBSITE_NODE_DEFAULT_VERSION can be pinned to minor versions and at least it would bring some awarenes

[2022-01-07 14:56] randowat123 opened #86111 "ManagementSubnet Public IP Address"
More clarification on the public IP address required for the AzureFirewallManagementSubnet would be nice.

Why is the IP required?
It can (should?) be used in Network, DNAT... rules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49421ed5-6252-b24f-2983-ae58cea26df2
* Version Independent ID: 0dd3e8b1-319c-1694-4cdd-bb0

[2022-01-07 15:09] MonikaReddy-MSFT commented on #85986
@stantoni-msft - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-07 15:09] #85986 closed

[2022-01-07 15:14] joataid opened #86112 "SNAT with Forced Tunneling"
This document should have more information about SNAT when Forced Tunneling is in place.

The text I'm posting below is from an [Azure Blog ](https://azure.microsoft.com/en-us/blog/azure-firewall-forced-tunneling-and-sql-fqdn-filtering-now-generally-available/) that talks about Forced Tunneling and it clarifies a lot the topic. I think this should be in the official document as it shows **1.** How

[2022-01-07 15:37] RyanHill-MSFT commented on #86102
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-07 15:41] ChaitanyaNaykodi-MSFT commented on #86106
Hello @AndreasMWalter
Thank you for your feedback! We will review and update as appropriate.

[2022-01-07 15:42] milope opened #86113 "Please add statement indicating Microsoft.Sql Service Endpoint is not applicable to non-primary regions of API Management"
In the forced tunnelling section, it states we can solve forced tunneling for Azure SQL using the Azure SQL service endpoint. At this time, this is true if the API Management service has a single location. However, if API Management has multiple locations, the Microsoft.Sql service endpoint will not apply to cross regional Azure SQL traffic. This means Azure SQL traffic from the non-main region wo

[2022-01-07 15:42] ChaitanyaNaykodi-MSFT commented on #86112
Hello @joataid
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-01-07 15:52] michsco opened #86114 "Documentation is unclear about how multiple matched routes are resolved"
![image](https://user-images.githubusercontent.com/15827689/148569196-8e144bcd-0cca-4bf5-9f50-6582506ba650.png)

The documentation doesn't clearly specify what happens when two routing rules are matched. Take the `foo.contoso.com` example in the table that matches routing rules A & B. Which one is actually used? How are the priorities for this set?

Looking in the portal, there doesn't appear to b

[2022-01-07 16:05] spelluru commented on #83652
#please-close

[2022-01-07 16:05] #83652 closed

[2022-01-07 16:09] carolrenna opened #86116 "Multiple issues with this tutorial"
I got errors when trying to run this tutorial:
1.  I had to modify the fetch options to specifiy no-cors - beccause I got this error:
Access to fetch at 'http:xxx' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response se

[2022-01-07 16:16] SwathiDhanwada-MSFT commented on #82039
Wish you a very happy new year @OverengineeredNetwork.

As mentioned in one of my previous comments , its difficult to troubleshoot the issue here, I would suggest you to raise a support ticket (https://azure.microsoft.com/en-us/support/create-ticket/) so that technical team can have troubleshooting session with you and identify the cause of the issue.

If in case, if you have no support plan , ki

[2022-01-07 16:16] denniszielke commented on #86050
@GitaraniSharma-MSFT several ServiceTags have a dependency on the FirstParty service tag. Customers need to know exactly what these "other" services are which are allowed by allowing the FirstParty service tag.

[2022-01-07 16:22] romankiss commented on #86005
Hi @dominicbetts, another issue in the command (standard and long-running) you can see, when anytime the device sent a command reported property, the IoT Central will delete the response property in the last command.
In other words, when the standard command has been processed and then the device will send the command reported property, we can lost the last history of that command.

IMHO, the comm

[2022-01-07 16:32] SaiKishor-MSFT commented on #86114
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-07 16:46] gregggreg opened #86117 "Arabic-Jordan voice IDs have a space in the listed ID which appears to be incorrect"
[Enter feedback here]

The listed voice IDs for the Arabic (Jordan) voices have spaces in them and don't seem to work. This appears to be a typo, although I couldn't get these voices to work with or without the space in the ID. Note how for these two voices there is a space between the name and "Neural" and no other voices in the list have this (e.g. "ar-JO-Sana Neural" instead of "ar-JO-SanaNeura

[2022-01-07 16:47] jd1984 opened #86118 "out of date info"
Hi,

The following text does not reflect the current user features:

**Disable the updated experience**
To disable the updated experience for your users, complete these steps:

1. Sign in to the Azure portal as a user administrator.
2. Go to Azure Active Directory > User settings > Manage settings for access panel preview features.
3. Under Users can use preview features for registering and managi

[2022-01-07 16:56] KrishnaG-MSFT commented on #84748
Assigning @bwren for visibility, review and to help provide insights.

[2022-01-07 16:59] JamesTran-MSFT commented on #86116
@carolrenna
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-01-07 17:00] KrishnaG-MSFT commented on #85085
Update: We normally don’t increase the limits on number of conditions in a policy definition. If you are hitting the limit, we would likely want to assess the goal of the policy definition. Happy to discuss more offline if needed and loop in appropriate program manager in the conversation. If needed, send an email at AzCommunity@microsoft.com

[2022-01-07 17:00] JamesTran-MSFT commented on #86118
@jd1984
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-07 17:00] SamaraSoucy-MSFT commented on #86089
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-07 17:20] KrishnaG-MSFT commented on #85663
Update: Thanks for the feedback. I have verified and updated the document next steps section as appropriate. The update should reflect live soon i.e., in less than 24 hours. Thanks again!

[2022-01-07 17:20] #85663 closed

[2022-01-07 17:23] ChaitanyaNaykodi-MSFT commented on #86111
Hello @jorge-at123
Thank you for your feedback! We will review and update as appropriate.

[2022-01-07 17:24] KarlErickson commented on #86056
@mohmdnofal thanks for the fix!
#please-close

[2022-01-07 17:24] #86056 closed

[2022-01-07 17:35] Fleid commented on #86049
That makes sense.

Are you using a wildcard (SELECT *) in your query? I'm asking because ASA handles schema row by row. And if a field is not projected (used explicitly in the query) then it's not part of the schema. In this case it's not that it's null, but that it doesn't exist.

I'll try to confirm the hypothesis.

[2022-01-07 17:46] gvanteylingen opened #86119 "Incorrect statement on User-defined routes (UDRs) and Network security groups (NSGs)"
This statement is no longer accurate for standard network feats and should be amended:
User-defined routes (UDRs) and Network security groups (NSGs) are not supported on delegated subnets for Azure NetApp Files.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef42711-43a2-c4ae-3d80-843002dd7059
*

[2022-01-07 18:26] duongau commented on #86114
@michsco The next subsection "Path matching" is what will determine which of the two routing rules with the same frontend host will use. If your path is foo.contoso.com then only routing rule A is used because when determining the path it doesn't have "/users/". If your path is foo.contoso.com/users/test then routing rule B will match. The first rule is a catch all so that your users would not get

[2022-01-07 18:33] kumarz commented on #67538
Can someone link me to the upgrade tool and guidance? V3 has been GA since July but I can't seem to find any official statements about the upgrade path or tool. @ccompy

[2022-01-07 18:37] aramase opened #86120 "`az aks update` instead of upgrade for `EnableOIDCIssuerPreview`"
Ref: https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#upgrade-an-aks-cluster-with-oidc-issuer

The cluster needs to be updated instead of upgraded to get the OIDC issuer URL.

Error when running `az aks upgrade` with `--enable-oidc-issuer`

[code]

Works fine when running `az aks update` with `--enable-oidc-issuer`

[code]

---
#### Document Details

⚠ *Do not edit this section. It

[2022-01-07 18:43] #86102 closed

[2022-01-07 18:48] JackStromberg commented on #54485
Hello @atrauzzi,

Thanks for reaching out! System assigned managed identities are not supported for Application Gateway, you must leverage User Managed Identities for the integration with key vault today.

Hope this helps!
Jack
#please-close

[2022-01-07 18:48] #54485 closed

[2022-01-07 18:51] Fleid commented on #86049
Here's my current setup:

- Input has 2 upstream sources. One of them has a `deviceType` field, the other hasn't
- Output is setup to use `deviceType` as custom property
- Query is passthrough

[code]

What I get is:

[code]

So the property is always here, but of course it's empty when the field is not present.

You will notice that this field has been "consumed" by the custom property. If you st

[2022-01-07 18:55] Grace-MacJones-MSFT commented on #86110
Hi @IgnacioAlvarezArenas ,
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc appropriate

[2022-01-07 18:56] ivapplyr commented on #39634
Hello Folks,

For those who are receiving this error message, it is per design. Please read documentation below to have access to the Public Preview of Private Link NSG & UDR :)

https://azure.microsoft.com/en-us/updates/private-link-nsg-support-extended-regional-availability/
https://azure.microsoft.com/en-us/updates/extended-regional-availability-for-private-link-udr-support/

[2022-01-07 18:57] ssivas commented on #72822
Sincere apologies for delayed response.

In this instance, Azure AD SCIM has an automated refresh mechanism and you don't need to do any additional configuration while setting up provisioning such as adding authorization URL. Please refer to below to learn more about SCIM user provisioning architecture.

https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision

[2022-01-07 18:59] ivapplyr commented on #39634
@tonyt73 would we be able to close this as there are multi thread of issues prior to 2021

[2022-01-07 19:01] mumian commented on #72541
@simonvane - I have created a PR to address the locking resource group issue, and provided a couple of examples.

#please-close

[2022-01-07 19:01] #72541 closed

[2022-01-07 19:01] Grace-MacJones-MSFT commented on #86094
Hi @metoule, thanks for bringing this to our attention . Can you please share with us the steps you took so we can repro this on our end and also share a screenshot of what you're currently seeing in the Azure portal?

[2022-01-07 19:01] zxue commented on #85197
We've update the doc based on the comment. Hope it helps.

https://docs.microsoft.com/en-us/azure/healthcare-apis/azure-api-for-fhir/configure-local-rbac

[2022-01-07 19:14] e-davidson opened #86121 "managed identity for containers limitations appear outdated"
The documentation states the following limitations

I've managed to authenticate my container deployed in a virtual network with managed identity against a keyvault and sql server.

Are those limitations still relevent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Indepe

[2022-01-07 19:16] metoule commented on #86094
In the past, the `Container settings` blade was available (screenshot taken from [your own docs](https://docs.microsoft.com/en-us/azure/devops/pipelines/apps/cd/deploy-docker-webapp?view=azure-devops&tabs=java%2Cyaml#faq)):

![image](https://user-images.githubusercontent.com/24547430/148594856-623a5bf0-7aa1-4054-905b-18382d42ecd0.png)

Now, the `Container settings` blade has disappeared:

![image]

[2022-01-07 19:20] alexdclark opened #86122 "AzureML-Workspace Terraform Timeout"
[Enter feedback here]

Creating a ML Workspace using Terraform and the example shown spends 30 minutes trying to create the workspace before failing. Please look into this issue.

- A sad Cloud Engineer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2f4f315-331d-0a18-977b-4202d233fb19
* Version Independent ID: ba1e6cd

[2022-01-07 19:31] #86122 closed

[2022-01-07 19:32] alexdclark commented on #86122
Must have been an Azure Outage. Working fine now :)

[2022-01-07 19:33] JackStromberg commented on #52421
Hello @habeebtc,

Appreciate you reaching out and apologies for the slow response.  Your observations are correct, TimeGenerated is when the log is created into Log Analytics and standard across the platform.  Here is more information on the TimeGenerated column: https://docs.microsoft.com/azure/azure-monitor/logs/log-standard-columns#timegenerated

timeStamp_t is specific to Application Gateway a

[2022-01-07 19:33] #52421 closed

[2022-01-07 19:34] SamaraSoucy-MSFT commented on #86092
Thanks for the question! We will review and get back to you shortly.

[2022-01-07 19:36] SamaraSoucy-MSFT commented on #86104
Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) a

[2022-01-07 19:40] omondiatieno commented on #85747
#184421

[2022-01-07 19:44] KranthiPakala-MSFT commented on #86103
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-01-07 19:47] Grace-MacJones-MSFT commented on #86101
Thanks for bringing this to our attention @gomateus .

@sethmanheim is there a way for us to update this link?

[2022-01-07 19:49] dlepow commented on #86113
@milope - Thanks for raising this issue. I can adjust the doc to point out that the SQL service endpoint is only needed in the primary region, in the case of a multi-region deployment (is that the correct way to put it?). Can you also please look at the other service endpoints listed there and let me know if there are additional exceptions like this? Thank you!

[2022-01-07 19:51] andrewrondeau-optirtc opened #86125 ""New-AzADServicePrincipal -ApplicationId "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037" -Role Contributor" doesn't work"
The command "New-AzADServicePrincipal -ApplicationId "ad0e1c7e-6d38-4ba4-9efd-0bc77ba9f037" -Role Contributor" doesn't work.

Do I need to install some kind of powershell module? That should probably be mentioned after the step where I install powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 105783bc-d51e-c19

[2022-01-07 19:51] Fleid commented on #86049
Oh and if you need to replace null by a default value, you can use [COALESCE](https://docs.microsoft.com/en-us/stream-analytics-query/coalesce-azure-stream-analytics?toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fstream-analytics%2Ftoc.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json):

[code]

[2022-01-07 19:54] nswitanek opened #86126 "AVA Deployment from Template failing"
Hi,

the quickstart and all the many AVA resources are a really inviting set of assets, good work!

However, the "easy button" resource provisioning has not worked for me after multiple tries.

I'm trying to deploy to East US 2.

1
The first deployment failed because of RoleAssignment conflict. The error message wasn't very clear, but it complained of a duplicated hash and requested a new Guid. I

[2022-01-07 19:56] milope commented on #86113
@dlepow  So far and at this time, it seems Azure SQL and AAD when combined with ADLS Gen1 are the only resources with call outs. ADLS Gen 1 doesn't apply to API Management, which would only leave Azure SQL from the API Management perspective. I can setup a repro, but past experiences with customers have led us to observe this behavior only with Azure SQL.

[2022-01-07 19:58] omondiatieno commented on #85747
@shekhar-jha, thank you for your feedback. I have addressed your feedback in PR: #184421
I Will proceed to close this issue.
Feel free to reopen it in case you still have more concerns.

[2022-01-07 19:58] omondiatieno commented on #85747
#close

[2022-01-07 20:09] dlepow commented on #86113
Thanks for the info - I'll update the doc
#assign @dlepow

[2022-01-07 20:14] YutongTie-MSFT commented on #86117
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-07 20:20] SamaraSoucy-MSFT commented on #85900
I have assigned the issue to the doc author to update appropriately.

[2022-01-07 20:21] SamaraSoucy-MSFT commented on #85955
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2022-01-07 20:21] SamaraSoucy-MSFT commented on #85957
Just checking in. Could you please provide the relevant documentation so we can route this question appropriately?

[2022-01-07 20:32] kobulloc-MSFT commented on #86121
@e-davidson Thank you for your question!  We've assigned this to the document author who should get back to you shortly.

[2022-01-07 20:34] sethmanheim commented on #86101
I don't know, I will need to consult the development team, unless you have already done that @Grace-MacJones-MSFT?

[2022-01-07 20:40] kobulloc-MSFT commented on #86120
@aramase Thank you for your feedback!  [az aks upgrade](https://docs.azure.cn/en-us/cli/ext/aks-preview/aks?view=azure-cli-latest#ext_aks_preview_az_aks_upgrade) will upgrade the Kubernetes cluster to a newer version while [az aks update](https://docs.azure.cn/en-us/cli/ext/aks-preview/aks?view=azure-cli-latest#ext_aks_preview_az_aks_update) will update the Kubernetes cluster properties.

@palma21

[2022-01-07 20:42] ChaitanyaNaykodi-MSFT commented on #85922
Hello @CodyBatt, apologies for the delayed response here. I have reached out to the team internally regarding this issue and will make an update here as soon as we get a response back. Thank you!

[2022-01-07 21:22] ChaitanyaNaykodi-MSFT commented on #86125
Hello @andrewrondeau-optirtc, the `Az.Resources` module contains the `New-AzADServicePrincipal` command. You can install this module by running `Install-Module -Name Az.Resources` command. Please let me know if you are still facing this issue and please include the error information in your response.

[2022-01-07 21:48] josere opened #86127 "Should I care about oom_per_second on system pools?"
When calculating the oom_per_second metric, should I care about system pools? Shouldn't that be Microsoft's job?

We probably want to filter out non user pools:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3265daef-8b67-9138-13a9-7c11dcb7115e
* Version Independent ID: 56e897f7-64b7-2eb5-75ac-d7d8240fb731
* Co

[2022-01-07 21:57] janetslei opened #86128 "device state section - is example wrong?"
In the section Device State (preview),

https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-conditions#device-state-preview

we are given an example for replacing this condition with Filter for devices condition. The example seems wrong, specifically this part:
"
 **All users accessing the Microsoft Azure Management cloud app excluding Filter for d

[2022-01-07 22:02] ssivas commented on #86128
@janetslei , Thank you for your query . We will investigate and update the thread.

[2022-01-07 22:13] DerekHerman-MSFT commented on #86119
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-07 22:39] JackStromberg commented on #51052
Hello @hisasima,

Thanks for reaching out and apologies for the delays.  Service Endpoints + Application Gateway + Key Vault are supported.  We have heavily updated the key vault + application gateway document since this was opened, so I hope the updated revisions are helpful.

Please reach out if you have any other questions.

Thanks!
Jack
#please-close

[2022-01-07 22:39] #51052 closed

[2022-01-07 22:53] ssivas commented on #86128
@janetslei , Yes are you right. I will work with content author @joflore to get this validated. Thanks.

This example would create a policy that only allows access to Microsoft Azure Management from devices that are either **hybrid Azure AD joined** or **devices marked as compliant**.

In case of **Include filtered devices in policy**:
<img width="470" alt="image" src="https://user-images.githubus

[2022-01-07 22:59] JackStromberg commented on #50636
Hello @mocleiri,

Appreciate you reaching out.  Backend health probes do not authenticate to the backend as you mentioned.  Some customers may configure the health probe to consider a 4XX response to be healthy, which would return back as a healthy backend.  The Backend health portal blade should call out what response code is observed from the backend and can help you tweak your health probes acc

[2022-01-07 22:59] #50636 closed

[2022-01-07 23:02] JamesTran-MSFT commented on #86118
@jd1984
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/148617527-e4665263-02cc-4002-b041-0bb03418293f.png)
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-registration-mfa-sspr-combined

I will now close out th

[2022-01-07 23:02] #86118 closed

[2022-01-07 23:04] JackStromberg commented on #85922
Closing this one out as it is a duplicate of issue https://github.com/MicrosoftDocs/azure-docs/issues/83923.  Both gateways observe the same pattern matches -- we will consolidate the tables.

#please-close

[2022-01-07 23:04] #85922 closed

[2022-01-07 23:05] ameltzerMSFT opened #86129 "MSAL token caching documentation is misleading as it has no information about cache serialization"
The documentation around token caching is not clear that the cache is only in memory (and even that has limitations; it's not global for the process). I spent a lot of time running in to a brick wall trying to understand why I couldn't get a token from the cache before finding other documentation that explained more about cache serialization. These things do not seem to be mentioned at all in the

[2022-01-07 23:11] dimitri-furman commented on #86127
Hi @josere, yes, generally speaking Microsoft owns memory troubleshooting for system pools. However, there are some scenarios where you may want to be aware that a system pool is out of memory. In some cases, solving the OOM will require customer action. For example, the SloHkPool system pool manages memory for In-Memory OLTP (Hekaton). If this pool runs out of memory, it likely means that the siz

[2022-01-07 23:12] naeisner commented on #85620
The ZRS Storage SKU is Zonally Redundant. In addition to zonal redundancy represented by the zones property, specific Azure RPs support other types of non-zonal redundancy. The storage RP is an example of a resource with a locally redundant SKU.

In the case of storage specifically, LRS storage has the capability to be pinned to a specific zone when the zones property is defined. This is an option

[2022-01-07 23:17] JackStromberg commented on #50632
Thank you for reaching out @Vikasjx.  Apologies for the slow response.

Application Gateway will support listening on a non-standard port (not 80 or 443) and proxy to a different.  For example, listen on 8080 and send to 80 on the backend or vice versa, listen on 80 and send to 8080 in the backend pool.  This option is configured via your associated HTTP Setting: https://docs.microsoft.com/azure/a

[2022-01-07 23:17] #50632 closed

[2022-01-07 23:33] KranthiPakala-MSFT commented on #86058
@normesta Could you please review the above feedback and help clarify the doc content. Thank you

[2022-01-07 23:37] ssivas commented on #86128
I apologize for the inconvenience. Allow me to test different circumstances, and I'll come back to you with my findings.

[2022-01-07 23:38] dlepow commented on #86081
@SpEcIaLiStJoKeR - Thank you for pointing out the inconsistency. I've created a work item to update the screenshot and description in this article to match the current portal GUI in an upcoming sprint. According to our process, I'll now proceed to close this issue, but feel free to reopen if you want to continue the discussion.
#please-close

[2022-01-07 23:38] #86081 closed

[2022-01-07 23:57] SamaraSoucy-MSFT commented on #86093
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-07 23:57] SamaraSoucy-MSFT commented on #86097
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-07 23:58] SamaraSoucy-MSFT commented on #86099
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-07 23:59] SamaraSoucy-MSFT commented on #86100
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-08 00:01] SamaraSoucy-MSFT commented on #86126
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-08 00:03] SamaraSoucy-MSFT commented on #86129
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-01-08 00:07] dlepow commented on #85769
@drmathias - Thanks for raising the issue. May I ask, at what scope are you trying to use the policy? Currently you can only use the policy at the Product scope, as documented in that article.

[2022-01-08 00:42] b-hchen commented on #86119
Updated as follows per discussion with Geert.  Posting next Monday (Jan. 10) –

* For Azure NetApp Files support of [User-defined routes](../virtual-network/virtual-networks-udr-overview.md#custom-routes) (UDRs) and Network security groups (NSGs), see [Constraints in Guidelines for Azure NetApp Files network planning](azure-netapp-files-network-topologies.md#constraints).
   To establish routing o

[2022-01-08 00:42] b-hchen commented on #86119
Change addressed via PR 184507.

#please-close

[2022-01-08 00:42] #86119 closed

[2022-01-08 00:58] OverengineeredNetwork commented on #82039
Ah. Whoops. You sure did. I’ll open a ticket and report back here @SwathiDhanwada-MSFT

[2022-01-08 02:52] sreenivasp commented on #86104
Thanks for getting back.
its for this https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview
we are trying to the link id sent in proxy protocol header as described in above page, is unique across regions or not?.. we have a multitenant service with many private link services in many regions. want to confirm if the link id is unique way to identify any tenant across many

[2022-01-08 03:12] chitturs opened #86135 "Unable to make the example with hostname work"
https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-expose-service-over-http-https#with-specified-hostname didn't work at all. But changing the Ingress resource following the example below worked. So, something needs to be fixed with this sample.

https://azure.github.io/application-gateway-kubernetes-ingress/tutorials/tutorial.e2e-ssl/ [Works fine]

---
#### Document Det

[2022-01-08 04:46] SnehaAgrawal-MSFT commented on #86135
@chitturs Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-08 05:01] qykpiz-qykpiz-jogqyc-4faQba-4faQba opened #86136 "Hhhb"

[2022-01-08 05:02] vipulsparsh commented on #85994
@o-l-a-v Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-01-08 06:12] SeaDude opened #86138 "Azure SQL Trigger for Python Functions or only C#?"
Hello,

After reading this doc, it's unclear to me whether the new Azure SQL Trigger bindings for Azure Functions are ONLY for C# or are also available for Python (and PowerShell, JavaScript, etc).

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99bd9dab-e42f-0329-c6b9-fa39d90677a6
* Version Independent ID: 3

[2022-01-08 06:14] SeaDude commented on #86138
Well...as soon as I navigated beyond the initial page, I see the other runtimes available!

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-azure-sql-input?tabs=csharp

Disregard ! :)

[2022-01-08 06:14] #86138 closed

[2022-01-08 10:07] Dilergore commented on #86088
I know that this might be a bit offtopic for this issue but I am very keen to understand (this is what I was originally looking for) whether it possible to do backend TLS connections with self-signed certs (for example for testing purposes). It seems to be an option with the GA Frontdoor to turn off cert verification (as part of the 'BackendPoolsSettings') but I was not able to find anything simil

[2022-01-08 12:07] asears opened #86139 "Azure Database Explorer should be called Azure Data Explorer"
The table of contents and filenames have the incorrect name.  Database Explorer should be Data Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2296e518-92e7-e2ee-f51e-4f4c24c91249
* Version Independent ID: 97fa1c50-b7a5-e3ae-2807-91b3720319df
* Content: [Azure Data Explorer output from Azure Stream Analytics (

[2022-01-08 13:39] drmathias commented on #85769
This occurs trying to set a policy on the Product.

[2022-01-08 13:46] AjayKumar-MSFT commented on #86138
SeaDude, No worries. Thanks for leveraging Azure docs feedback channel to raise this question and much appreciate the follow-up.

[2022-01-08 13:56] AjayKumar-MSFT commented on #85789
arjain18, vishalkalra, just to keep you posted. The issue is being investigated by our doc dev team. As soon as we have more updates, we will relay here. Thanks for reporting this issue.

[2022-01-08 16:01] eric-urban commented on #84434
#please-close

[2022-01-08 16:01] #84434 closed

[2022-01-08 16:08] SnehaAgrawal-MSFT commented on #86136
Closing this out.

[2022-01-08 16:08] #86136 closed

[2022-01-08 16:11] SnehaAgrawal-MSFT commented on #86139
@asears Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-08 16:18] Bloodday opened #86141 "The VM type dav4 says it supports Ephemeral OS, but the amount of cache is not specified"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6db9f5c3-21ed-49da-ae37-7e5d1bed1dce
* Version Independent ID: 49ce3600-c7fa-8cdc-1283-154e28b7e7a7
* Content: [Dav4 and Dasv4-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/dav4-dasv4-series)
* Content Source

[2022-01-08 16:19] mondragonsi opened #86142 "Hello Guys, is the cluster-config.csv output correct?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 344f6ca2-5d4b-f19e-0179-81928996a988
* Version Independent ID: 8196e27d-c55a-94ef-0a88-69f80f892c29
* Content: [Migrate availability group - Azure SQL](https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/virtual-machines/sql-server-avail

[2022-01-08 18:59] fdgit opened #86143 "Error in query - case sensitivity"
The example query returns no data because the Category in the where is case sensitive
It should be FrontdoorWebApplicationFirewallLog, not FrontDoorWebApplicationFirewallLog

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38eb998-6925-5ab2-ad2c-4367a7c22895
* Version Independent ID: 0e0590c0-42d5-c5a3-86b6-2d396a43cf19

[2022-01-08 19:32] chitturs commented on #86135
It is possible that I might have mixed up this sample and used apiVersion: networking.k8s.io/v1. If you find that the sample works, then please highlight the key difference with apiVersion for app gateway compared with what is in the kubernetes.io sample.

https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

[2022-01-08 22:21] v-krishnag commented on #83702
created pr to fix #please-close

[2022-01-08 22:21] #83702 closed

[2022-01-08 23:30] kobulloc-MSFT commented on #86141
@Bloodday There have been some recent changes to VM cache and there should be an official announcement at some point soon (@mamccrea, correct me if it's already out).  Some of the documentation on VM cache has been removed until the announcement is released.

[2022-01-08 23:54] eddypuck opened #86144 "Change a protected VM to a different Replication Policy"
Can the replication policy assigned to a protected VM be changed to a different policy after replication is enabled?  I see an question/answer for updating the replication policy, but I don't see anything about changing the VM to a different replication policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1b5526-ed

[2022-01-09 00:27] keithn opened #86145 "This documentation doesn't seem to work for SPA applications"
If I follow this, and test my workflow (in azure with Run Workflow)

I get invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value is a URI which matches a redirect URI registered for this client application.

I have registered the redirect_uri ( https://keithdevnz.b2clogin.com/keithdevnz.onmicrosoft.com/oauth2/authresp)   first in the SPA applic

[2022-01-09 01:54] kobulloc-MSFT commented on #86072
@davetapley Are you running a Linux container instance?  The quickstarts will usually have you create a Linux container in which case the "cmd.exe" example won't work.  This is the example with `ls`:

![image](https://user-images.githubusercontent.com/37556655/148666132-8e12cc13-4e1b-46f5-bbbb-57ec94c41c0a.png)

[2022-01-09 02:27] kobulloc-MSFT commented on #85718
@adrianakbari and @Karishma-Tiwari-MSFT, I'm running into the same issue.  It's the first command in the PowerShell example:

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-powershell#create-a-container

`New-AzContainerGroup -ResourceGroupName myResourceGroup -Name mycontainer -Image mcr.microsoft.com/windows/servercore/iis:nanoserver -OsType Windows -Dn

[2022-01-09 02:33] arjain18 commented on #85789
Thanks for sharing the update.

[2022-01-09 02:37] SamaraSoucy-MSFT commented on #86142
Thanks for the question! We will review and get back to you shortly.

[2022-01-09 02:37] SamaraSoucy-MSFT commented on #86143
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-09 02:38] SamaraSoucy-MSFT commented on #86145
Thanks for the feedback! We will review and get back to you shortly.

[2022-01-09 02:39] SamaraSoucy-MSFT commented on #86144
Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackover

[2022-01-09 02:50] cpdohert opened #86147 "Documentation omits any way of doing this other than az cli"
As several [stackoverflow questions](https://www.google.com/search?q=azure+app+service+acr+pull+error) attest, creating an Azure App Service with a custom container pulled from an ACR simply Does Not Work if you create the App Service using Bicep/ARM templates.

This document lays out a method for doing this using the Azure CLI.  It does not include any other way of implementing this feature using

[2022-01-09 03:27] davetapley commented on #86072
@kobulloc-MSFT no, `--os-type windows --image mcr.microsoft.com/windows/servercore:1809`.

I believe this is actually a regression, which I'm following up on https://github.com/Azure/azure-cli/issues/20827.

Ideally I'd like for https://github.com/Azure/azure-cli/issues/20827 to be fixed properly, but in the meantime these docs are misleading (because, as you said, `cmd.exe` doesn't make sense for

[2022-01-09 03:41] kobulloc-MSFT commented on #86072
@davetapley Ah, thank you for the link.  I'm seeing the same thing where it exits without feedback on Windows:

![image](https://user-images.githubusercontent.com/37556655/148668310-a0016fce-1d98-4826-9fcb-db1073790bd4.png)

The Activity Log does show the Exec Into a Container as successful though:

![image](https://user-images.githubusercontent.com/37556655/148668359-ff9f3fb8-b92c-4bc6-a40c-a1864

[2022-01-09 03:43] SubhashVasarapu-MSFT commented on #86042
@mariekoorneef , we appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-01-09 03:43] #86042 closed

[2022-01-09 03:46] kobulloc-MSFT commented on #86072
@davetapley I'll get clarification on whether or not this is really supported as stated in the CLI documentation and get this page updated accordingly.  Thank you for pointing this out!

[2022-01-09 06:32] Ayanmullick opened #86149 "PowerShell steps to AzAD login to Linux VM's"
Is there PowerShell documentation to log into Linux VM's using AzAD login? Specifically, what is the PowerShell equivalent of the command below.

[code]
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-linux#login-using-azure-ad-service-principal-to-ssh-into-the-linux-vm

I couldn't locate one in the Az.Compute module.
https://docs.microsoft.com/en-us/power

[2022-01-09 06:46] neolin-ms opened #86150 "About service and store credentials to keyvault"
Hi there,

I found that the password of a service principal can only be retrieved when it's created, as stated by the docs here created an [Azure service principal with the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#create-a-service-principal). So I think cannot use command to retrieve password "$(az ad sp show --id $SP_I

[2022-01-09 07:11] fekerr opened #86151 "First use impression"
[Enter feedback here]
Just a really quick initial impression after doing the quick start.

I'd like to be able to enable logging, for example, I have a macbook for work and I use iterm2 + tmux with logging to the macbook. (It reminds me of using Teraterm from Windows in a previous life.)

There are probably obvious ways to do this, but I've been away from "Windows" environment for a while, and I'm

[2022-01-09 08:35] SaiKishor-MSFT commented on #85743
@mscatyao Can you please look into this?

[2022-01-09 08:45] SaiKishor-MSFT commented on #85171
@anzaman Could you please help clarify this?

[2022-01-09 10:09] SaiKishor-MSFT commented on #86111
@magakman Can you help with this question?

[2022-01-09 10:11] hkusulja commented on #84432
I do not see, why is this closed, and documentation is not fixed / updated.

[2022-01-09 11:58] thepaulmacca commented on #85178
Any update on this?

[2022-01-09 13:07] SnehaAgrawal-MSFT commented on #86147
@cpdohert Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-09 13:08] SnehaAgrawal-MSFT commented on #86149
@Ayanmullick Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-09 13:10] SnehaAgrawal-MSFT commented on #86151
@fekerr Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-09 13:14] SnehaAgrawal-MSFT commented on #86150
@neolin-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-09 15:05] kiranpradeep commented on #79351
@SeanKilleen I can see the deprecation warning in the Azure portal - under VNet configuration of Azure Functions. But I could not find a document reference.

[2022-01-09 15:31] AnuragSharma-MSFT commented on #86008
@VitalyMCT Thanks for reporting this, we have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-01-09 17:08] gjongeneel opened #86160 "Template throws an error"
Hi,

This template fails during deployment because it is not able to deploy one or more solutions (e.g. ServerDiscovery). The actual Azure Migrate project is created, however.

"message": "Cannot modify resource with id '/subscriptions/xxx/resourceGroups/Migration/providers/Microsoft.Migrate/MigrateProjects/xxx' because the resource entity provisioning state is not terminal. Please wait for the pr

[2022-01-09 18:17] Rashair opened #86161 "`Incremental and dynamic` user consent"
Are `incremental` and `dynamic` used as a synonyms here? It's written in such a way that I am not sure if they are distinct types
of consents or the same one.
Additionally, this mslearn resource: https://docs.microsoft.com/en-us/learn/modules/explore-microsoft-identity-platform/4-permission-consent
describes **4** types of consents, specifying `incremental user consent` and `dynamic user consent`.

[2022-01-09 19:21] darrenjoycenz commented on #84964
The article is still only discussing using a Storage Account for storing the logs. There is no information on setup and configuration for Log Analytics.  There is a link to Keyvault Insights, but that does not have the information either.

Please reopen @jlichwa

[2022-01-09 20:29] mirekkukla opened #86162 "OAuth 2.0 client credentials flow doesn't indicate HTTP status code of error responses"
In the [Error Response](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#error-response-1) section of the "Microsoft identity platform and the OAuth 2.0 client credentials flow" page, it's not clear what HTTP status code is being returned:
* Is it a 400, as the [OAuth2 spec](https://www.oauth.com/oauth2-servers/access-tokens/access-token-response/)

[2022-01-09 20:48] PriyankaRudramaina commented on #85719
@adrianakbari,

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-01-09 20:48] #85719 closed

[2022-01-09 20:58] PriyankaRudramaina commented on #85935
Hello @mkleef,

Thank you for reporting this issue, i am checking with the internal teams about this currently. I will get back with an appropriate resolution.

[2022-01-09 21:00] PriyankaRudramaina commented on #85854
@michaeldevenney,
Awaiting your response to this issue you reported. Please share the detailed errors you are seeing when running the PS commands from https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip

[2022-01-09 21:10] JamesTran-MSFT commented on #86161
@Rashair
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-09 21:16] JamesTran-MSFT commented on #86162
@mirekkukla
Thanks for your feedback! We will investigate and update as appropriate.

[2022-01-09 21:45] dhangerkapil opened #86163 "Autofill from script is having different parameters than output folder"
Autofill from script is having different parameters that output. This blog says output folder but the autofill has inputtable and partitiontable as parameters. Please fix this problem.

<img width="737" alt="Screenshot 2022-01-09 164449" src="https://user-images.githubusercontent.com/16442213/148702199-1af4ee84-24fe-45a3-a378-4e1f4dca6d47.png">

---
#### Document Details

⚠ *Do not edit this secti

[2022-01-09 22:52] dbeswick-bupa commented on #82631
Hello,

The response from Microsoft here is a little disappointing, for me. If this information is useful to have in the docs (I believe it is) then it would be much better for the actual authors of the software to include the information in the docs, as they are the ones with the access to the implementation. Instead, the situation is that the information is not available and it must be tested fo

[2022-01-09 23:39] darrenjoycenz opened #86164 "No pricing information for query - Evaluating the legacy Per Node pricing tier"
Under "Evaluating the legacy Per Node pricing tier"

the query example for comparing pricing has a link to
https://azure.microsoft.com/en-us/pricing/details/monitor/
to gather details.
That link does not contain information on per-node or per-GB pricing, so the query cannot be utilised without this data.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-01-10 02:27] vishalt-verneek commented on #86013
@YutongTie-MSFT do you have any ETA for the fix or what else can be done in the meantime?

[2022-01-10 02:28] vthukral94 commented on #86013
@YutongTie-MSFT Do you have any updates on this?

[2022-01-10 02:47] haoxin opened #86165 "Use a public IP address assignment"
[Enter feedback here]

I'm trying 'Use a public IP address assignment' , but couldn't get it done. is there any special step needed. thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31718c09-8c87-c102-d326-c78e5ff018fd
* Version Independent ID: 1b15c261-9ea8-e23b-d6a1-b3131dd403b9
* Content: [Azure Virtual Deskto

[2022-01-10 03:41] SnehaAgrawal-MSFT commented on #86160
@gjongeneel Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-10 03:43] SnehaAgrawal-MSFT commented on #86163
@dhangerkapil Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-10 04:09] ram-msft commented on #86030
@nath-thomas Here is the link to QuickStart sample.
https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/python/text-to-speech/quickstart.py

I have assigned to content author to update the document.

@eric-urban Could you please update the document.

[2022-01-10 04:21] ram-msft commented on #86037
@loetters Thanks, There is a fundamental difference: PipelineData was intended to represent "transient" data from one step to the next one, while OutputDatasetConfig was intended for capturing the final state of a dataset (and hence why you see features like lineage, ADLS support, etc). PipelineData always outputs data in a folder structure like {run_id}\{output_name}. OutputDatasetConfig allows t

[2022-01-10 04:26] v-hagamp commented on #84432
@hkusulja, I updated the document by removing that **note** regarding non- Ascii characters..

[2022-01-10 04:37] AnnuKumari-MSFT commented on #86139
@asears Thanks for pointing out the issue, I've addressed this issue in PR:
[https://github.com/MicrosoftDocs/azure-docs-pr/pull/184553](url)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

@enkrumah Could you please review and approve the above PR .

[2022-01-10 05:12] SnehaAgrawal-MSFT commented on #85976
@PratMoha Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-01-10 05:12] #85976 closed

[2022-01-10 05:14] MayankBargali-MSFT commented on #85974
@monkeycoder99 I couldn't reproduce the issue at my end following the document. As per the error message I can see the error "Cannot connect to gateway". Can you please confirm if you are debugging your policies via self-hosted gateway on your APIM service?

[2022-01-10 05:17] SnehaAgrawal-MSFT commented on #85886
@John-HLC Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-01-10 05:42] anujvarma-original opened #86166 "You're versus Your"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac75d49-3e7a-a81f-5ccc-2033ae6cfe5a
* Version Independent ID: a5a3de1a-da47-96e5-93f0-2ee7e98b5aeb
* Content: [Onboard Azure Arc-enabled server to Microsoft Sentinel - Azure Arc](https://docs.microsoft.com/en-us/azure/azure-arc/servers/scenario-onboa

[2022-01-10 05:44] #86008 closed

[2022-01-10 05:51] AnuragSharma-MSFT commented on #86105
@beckojr A collection is a container of JSON documents and maps to a container in Azure Cosmos DB, hence you might find these 2 words interchangeably used sometimes across articles. However they would mean the same thing. You can read little more in below articles as well:

https://docs.microsoft.com/en-us/rest/api/cosmos-db/collections
https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-

[2022-01-10 06:05] SumanthMarigowda commented on #85937
@warrenb-cgi Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
I was able to repro the issue in my lab,
![image](https://user-images.githubusercontent.com/80444138/148724082-17951ab7-5207-4eb1-8ef5-439b35ad6149.png)
The New-AzStorageContext cmdlet creates an Azure Storage context. The default Authentication of a Storage Context is OAuth (Azure AD

[2022-01-10 06:05] #85937 closed

[2022-01-10 06:06] AnuragSharma-MSFT commented on #86022
@ohadschn Thanks for your patience. UPPER and LOWER are string functions in Azure Cosmos DB wrt the documents mentioned. These functions takes the argument in string form and returns back the string, which is kind of invariant culture where converting the string from lower to upper or vice versa would not have any effect with the culture. Let us say if we are working with dates, it would matter to

[2022-01-10 06:12] kiranpradeep opened #86167 "Usage of dual storage account for Azure function vnet integration- still needed?"
This article uses two separate storage account for Azure function vnet integration. At 24:50 minutes in this Youtube video [[link](https://youtu.be/x2fTgWkbhLY?t=1488)] by the Azure function team, the product team engineers confirm that that will very soon be not needed. That was in Mar/2020.

I assume in 2022, the need for dual storage account would have surely been removed. Could this article be

[2022-01-10 06:23] VikasPullagura-MSFT commented on #86151
@fekerr Can you please elaborate on this.
Are you looking for the documentation to be improved to include logging to the VM using the terminals in the mac?
Are you referring to be able to automate to the Azure VM via the mac terminals?

If it is about automating the login to the Azure VM from the mac terminals please check if the ssh keypair login works for the terminals you are using.
Ref : https

[2022-01-10 06:34] tevino opened #86169 "Need elaboration on the 30m downtime during a cluster certificate rotation"
A downtime of the whole cluster is nontrivial, could you please explain in detail about this 30m downtime?

1. Will it happen in the data plane, control plane, or both?
2. Will the data plane be recreated in a graceful way or not, at what pace?
3. Is there any way to control the process or do it gracefully? Best practices?

Many thanks!

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-01-10 06:45] VikasPullagura-MSFT commented on #86169
@tevino
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-01-10 06:45] VikasPullagura-MSFT commented on #86169
@zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2022-01-10 06:52] YutongTie-MSFT commented on #86013
@vthukral94  Hello Vishal, thanks for the feedback again and I will assign this to author to check on.

[2022-01-10 06:53] YutongTie-MSFT commented on #86083
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-10 07:10] olivermue commented on #81510
Just posted the question there: https://docs.microsoft.com/en-us/answers/questions/688965/maintenanceconfiguration-list-uses-camelcase-and-u.html

[2022-01-10 07:11] haoxin commented on #85100
Thanks a lot for pointing out Basic Public IP, I've done it with short-path settings.
But there is another issue - I can connect to the desktop through the Public IP, so the reverse-connection doesn't work in this scenario?

[2022-01-10 07:15] SaiKishor-MSFT commented on #82956
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-10 07:18] AshokPeddakotla-MSFT commented on #85988
@Shawnloveshorses161 Thanks for sharing the feedback. I see that your feedback is tracked here
https://docs.microsoft.com/en-us/answers/questions/683604/index.html by our product team. Please continue the discussion there to avoid duplicate efforts.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2022-01-10 07:18] #85988 closed

[2022-01-10 07:18] SnehaAgrawal-MSFT commented on #85159
@jmeijrink Thanks for updating the finding here.

[2022-01-10 07:31] #85717 closed

[2022-01-10 07:38] hkusulja commented on #84432
@v-hagamp ok, but what about other things that I wrote above?

[2022-01-10 07:39] AshokPeddakotla-MSFT commented on #85984
@pilcherd AFAK, IoT Edge 1.1 LTS is the last release channel that supports Windows containers. Starting with version 1.2, Windows containers are not supported.

Please refer to [Azure IoT Edge supported systems](https://docs.microsoft.com/en-us/azure/iot-edge/support?view=iotedge-2020-11#operating-systems) for more details.

Do let us know if you have any further queries.

[2022-01-10 07:53] maha-msft opened #86170 "Data Explorer Pools : Data Flow - Invalid token (empty value)"
Hi team,

I'm trying to integrate "Data Explorer Pools " in Synapse workspace especially through Mapping Data Flow. Where i can connect and read data from using linked service (Azure Data Explorer) using Datasets and spark notebooks. But not working in data flow, using as a source (**Integrated Dataset / Inline**).

`Error details
Error code : DFExecutorUserError
Activity ID : 1707222b-0dac-4997-a

[2022-01-10 08:03] ram-msft commented on #86037
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-10 08:03] #86037 closed

[2022-01-10 08:13] fekerr commented on #86151
I may have muddied the water by describing how I normally log CLI operations.

[2022-01-10 08:20] loetters commented on #86037
Hey Ram Thanks for your reply. If I understand you correct in theory I could use both Classes for sending Data between the pipline steps. Thanks !

[2022-01-10 08:39] jgarplind opened #86171 "Duplicate link"
This section:

Create a multi-tenant based logic app using an ARM template
Create a multi-tenant based logic app using the Azure CLI

Includes two links:
- Create a multi-tenant based logic app using an ARM template
- Create a multi-tenant based logic app using the Azure CLI

Both pointing to the same location despite being named very differently.

The latter link: "Create a multi-tenant based log

[2022-01-10 08:52] AnuragSharma-MSFT commented on #86087
@flang-msft, @yegu-ms  Could you please check on this request? Here the code sample provided in the document does not work well with node-redis v4, and it worked fine with older versions.

[2022-01-10 08:53] AnuragSharma-MSFT commented on #86127
@dimitri-furman Thank you for the detailed response on the issue.

@josere Please let us know if you have any further query.

[2022-01-10 09:10] CHEEKATLAPRADEEP-MSFT commented on #86170
@maha Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-01-10 09:15] maha-msft commented on #86170
Sure, Thanks

[2022-01-10 09:15] #86170 closed

[2022-01-10 09:19] sourabhkrishna opened #86172 "Servers support in OpenAPI v3 in APIM"
When can we expect support for servers in pathItem and Operations object of OpenAPI v3 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-8da1-dd3d-9d1c-8a21dabd44fe
* Content: [Restrictions and details of API formats support - Azure API Management](

[2022-01-10 09:20] saiKrish13 commented on #82956
Hi SaiKishor, I just checked the public doc and do not see the details that need to be added.

[2022-01-10 09:22] saiKrish13 commented on #82956
Hi SaiKishor,

I just checked the public doc and od not see the details updated. Please let me know if nay further details are required.

Regards,
Sai Krishna Bellala

From: SaiKishor-MSFT ***@***.***>
Sent: Monday, January 10, 2022 12:45 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Sai Krishna Bellala ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Path based rule p

[2022-01-10 09:34] Diogo-Feliciano commented on #85122
It has been a month. Is there an ETA for changes?

[2022-01-10 09:40] SwathiDhanwada-MSFT commented on #86164
@darrenjoycenz Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-10 09:51] joselitz123 commented on #85193
Hi, just like to check if there is any workaround on this? So that I can use the Resource expression in KQL?

[2022-01-10 09:53] sanindigital commented on #51464
I have the exact same problem which leads to very serious problems in my sign up process because all subsequent validation technical profiles are executed no matter if an error occured in the first one.
So it leads to displaying a correct error message to the user but creating a user account anyways.

Will this be fixed?
Is there any solution for me to work around this behaviour?

[2022-01-10 10:37] JerryMWeeks commented on #86100
Okay I have got it working - as promised an update, up to you to use or not!
Hopefully it might be useful - the key missing information on both the app service and in this guide (for a newbie like me) is that in Godaddy (probably all Domain reg sites) you don't add your subdomain as the full url, only as the sub part - in the example below only **test**
Say you have a domain on Godaddy
mysuperdoma

[2022-01-10 11:07] JerryMWeeks commented on #86100
I didn't realise, when I paint-shopped to "mysuperdomain.com" that the domain exists and is Microsoft Outlook - so it it might need a small update!

![image](https://user-images.githubusercontent.com/19207251/148756177-73ebe6df-38e0-42cb-9e30-74df86544e6c.png)

[2022-01-10 11:20] dominicbetts commented on #86005
Hi @sandeeppujar - I'm assigning this to you so you can respond to @romankiss directly. Thanks!

[2022-01-10 11:20] dominicbetts commented on #86005
#reaasign sandeeppujar

[2022-01-10 11:23] chriswatsonaus opened #86175 "Missing details for output schema"
The Liquid JsonToJson action allows a parameter to specify the output schema. Can you please document this option? I tried using a json schema as per the HTTP Trigger/ParseJson but it just gave me an error saying it wasn't expecting a string in the transformedContentSchema parameter.

Better still, provide a full reference to the schema definition for the Liquid action.

---
#### Document Details

[2022-01-10 11:26] jd1984 opened #86176 "Prerequisites & licenses"
Hello,

Please can you add any license requirements to use this feature?

There is nothing specifically mentioned in the Prerequisites, but https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection#license-requirements suggests MFA registration policy is an Azure AD Premium P2 feature?

What about the Authentication Methods Policy? Is that P1 or P2?

[2022-01-10 11:46] SaiKishor-MSFT commented on #82956
@saiKrish13 The following note has been added to explain the same:

For both the v1 and v2 SKUs, rules are processed in the order they are listed in the portal. The best practice when you create path rules is to have the least specific path (the ones with wildcards) at the end. If wildcards are on the top, then they take priority even if there is more specific match in subsequent path rules.

[2022-01-10 11:57] AdamSharif-MSFT opened #86177 "Issue with case of "cachingmode" for the StorageClass"
Hello team,

Please note that there is a typo in the case of the property **cachingMode** (documentation currently uses the case **cachingmode**) - this causes Ultra-Disk to fail to attach to the relevant worker node due to the following error (caching mode property seems to be ignored):

[code]

**Current documentation:**

[code]

**Correction:**

[code]

Thank you!

---
#### Document Details

⚠

[2022-01-10 12:09] AdamSharif-MSFT commented on #83535
Hi all,
I was able to reproduce the issue and there seems to be a discrepancy with the case of "cachingmode" within the storageClass - it should I believe be "**cachingMode**" instead.
Please can you try the below, and re-create the storageClass, PVC and pod?

[code]

[2022-01-10 12:09] mllipi opened #86178 "Include command to retrieve IP address range of the recursive DNS resolver used by user's machine"
[Enter feedback here]
Include command to retrieve IP address range of the recursive DNS resolver used by user's machine

nslookup -q=txt o-o.myaddr.l.google.com

It would be very helpful to have this command at the following session:

https://docs.microsoft.com/en-us/azure/traffic-manager/tutorial-traffic-manager-subnet-routing#add-traffic-manager-endpoints
"Subnet routing settings"

This will sav

[2022-01-10 12:09] AdamSharif-MSFT commented on #86177
Suspected related issue: https://github.com/MicrosoftDocs/azure-docs/issues/83535

[2022-01-10 12:22] saiKrish13 commented on #82956
Apart from that, we also wanted to give this in example and how change the order.
Azhar mentioned to skip some steps and remove images. Rest all needs to be added.

[2022-01-10 12:28] ohadschn commented on #86022
@AnuragSharma-MSFT thank you, that is helpful. Could you please update the docs with this information, ideally providing some more specific info on the casing rules (perhaps you could find the backend source code)?

[2022-01-10 12:59] GitaraniSharma-MSFT commented on #86178
@mllipi , thank you for your feedback. We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2022-01-10 13:14] jinyu1122 opened #86180 "No matching version found for @azure/communication-common@^1.0.0"
I'm follow this page：https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/access-tokens?pivots=programming-language-javascript
But it report "No matching version found for @azure/communication-common@^1.0.0" when I run "npm install @azure/communication-identity "

![image](https://user-images.githubusercontent.com/1931573/148771773-7eebe0fc-22ae-4713-98f0-dbba45d97f27.png)

--

[2022-01-10 13:18] GitaraniSharma-MSFT commented on #86050
@denniszielke , We have assigned this issue to the respective product owner for review.

@allegradomel , could you please provide your insights on this query?

[2022-01-10 13:22] PiotrPerak opened #86181 "host.json settings when updating to version 5.x+ of service bus extensions"
Information on updating service bus settings when updating to version of 5.x+ of service bus extensions are not clear.

I don't understand this part - https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#additional-settings-for-version-5x

It says "Additional settings" yet some of them seem to override settings mentioned on the same page, above.
My question is, whe

[2022-01-10 13:22] GitaraniSharma-MSFT commented on #86082
@dazinator , thank you for your suggestion. We have assigned this to the content owner/author for review.

@vhorne , could we add a link to this doc for renewal of certificates stored in keyvault?
https://docs.microsoft.com/en-us/azure/application-gateway/key-vault-certs#supported-certificates

[2022-01-10 13:27] ssivas commented on #86176
@jd1984 , Thank you for your query . We will investigate and update the thread.

[2022-01-10 13:27] MonikaReddy-MSFT commented on #86166
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-01-10 13:41] Lekao77 opened #86182 "What role/permission is needed to publish a dashboard?"
Having access as "Monitor Reader" in a subscription allow to create but not share a dasshboard. What permission is needed to publish a dashboard? The page explains in nicely how to share a dashboard but is not clear what is the least permission needed. Is it possble to share a dashboard without giving "Contributor" role in the subscription?

---
#### Document Details

⚠ *Do not edit this section.

[2022-01-10 13:49] jpzpj opened #86183 "Speech SDK for Unity package missing settings for ARM64"
[Enter feedback here]
Hi,
I noticed that the Unity package has a minor problem (anyway on my system), preventing the correct dll's to be placed on the target machine.
My target machine is a Hololens 2 (AMRM64). The Unity Speech SDK for Unity package has settings for each dll file according to its SDK and CPU. The ARM64 folder has Dll's that have no settings.

Greetings JP

---
#### Document Detail

[2022-01-10 14:08] shashishailaj commented on #86167
@kiranpradeep Thank you for your feedback . We will investigate and update the thread.

[2022-01-10 14:10] shashishailaj commented on #86171
@jgarplind Thank you for catching this . We will investigate and update the thread.

[2022-01-10 14:29] petrsvihlik commented on #86180
Hi @jinyu1122 ,
the package with this version is publicly available on npm - see [@azure/communication-identity/v/1.0.0](https://www.npmjs.com/package/@azure/communication-identity/v/1.0.0) and I just verified the `npm install @azure/communication-identity` command works fine so the problem is likely in your dev environment.

Can you please share the following information?
- the complete log (loca

[2022-01-10 14:54] #86125 closed

[2022-01-10 15:13] VikasPullagura-MSFT commented on #83535
As mentioned by @AdamSharif-MSFT the issue is fixed here #86177 .
Closing this thread now.

[2022-01-10 15:13] #83535 closed

[2022-01-10 15:15] #86177 closed

[2022-01-10 15:22] cephalin commented on #81912
#please-close

[2022-01-10 15:22] #81912 closed

[2022-01-10 15:26] VikasPullagura-MSFT commented on #86151
@fekerr Thanks for clarifying this.
Yes as of now, I see that copy paste to the Cloud Shell or key in the cli commands in the way to go when you follow this quick start document.

If you are using the same commands often, creating a shell script with few input parameters is an option where you can run that script passing the parameters to the script.

You can also use ARM templates to deploy Azure

[2022-01-10 15:26] VikasPullagura-MSFT commented on #86151
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-01-10 15:28] qykpiz-qykpiz-jogqyc-4faQba-4faQba commented on #86136
ggggg

[2022-01-10 15:31] memildin commented on #85329
Hi @cloudholger, thanks for the feedback and for taking the time to help us improve the docs.

I've added the note about 2022 in the relevant bullet and the updated page will go live in the coming 48hrs.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2022-01-10 15:31] #85329 closed

[2022-01-10 15:32] memildin commented on #85330
Hi @aitchj, thanks for the feedback.

Yes, it's the checkbox at 'Allow Microsoft Defender for Endpoint to access my data' as shown in the docs.

And yes, clearing this option stops deploying MDE to servers but doesn't offboard existing machines.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2022-01-10 15:32] #85330 closed

[2022-01-10 15:42] memildin commented on #85430
Hi @phduf, thanks for the questions and for taking the time to help us improve the docs.

Your questions in order:

- If I remove the MDE.Linux extension will this remove MDE from the server?
No. There's a new section on this page, **Remove Defender for Endpoint from a machine**, that explains the steps required to removed MDE from servers.

- Does the MDE.Linux extension configure the MDE on the

[2022-01-10 15:42] #85430 closed

[2022-01-10 15:46] memildin commented on #84784
Hi @MWL88, thanks for the feedback. This isn't a scenario we officially support.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

#please-close

[2022-01-10 15:46] #84784 closed

[2022-01-10 15:51] SwathiDhanwada-MSFT commented on #86182
@Lekao77 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-01-10 15:53] memildin commented on #85798
Hi @tspivakms, thanks for the update.

I've changed the doc and the revised page will go live within 24hrs.

#please-close

[2022-01-10 15:53] #85798 closed

[2022-01-10 16:00] dzsquared commented on #86138
thanks for dropping a note @seadude!  I'll make it more clear on the first page as well.

just as a heads up, we're working on the Python support as well: https://github.com/Azure/azure-functions-sql-extension/issues/172

[2022-01-10 16:10] gvanriper commented on #39711
This would be a nice feature to have especially when spinning up AKS. Any reason why this can't be a future feature? I see this issue was closed.

[2022-01-10 16:26] ewouds opened #86187 "storage account no longer asked via portal"
[Enter feedback here]

_Under Storage account, click Select a storage account, then select an existing storage account or create a new one...

Storage account is no longer asked during the creation of batch service.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd860b4-8c09-510a-34d9-6e3a7f4308d7
* Version Independent

[2022-01-10 16:32] MonikaReddy-MSFT commented on #85921
@ronarieke - Please note that we scope issues on this repo to feedback related to the docs.

If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2022-01-10 16:32] #85921 closed

[2022-01-10 16:37] jgross1031 opened #86188 "Legacy storage account"
Hello,
  It would be nice to list that legacy accounts can still be created through the portal and not just GPv2. The link is shown in the screenshot on the page, but no information is given on the page about it. In the note maybe it could point here, https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#legacy-storage-account-types, for further information on these accoun

[2022-01-10 16:40] MicrosoftGuyJFlo commented on #82130
ADFS supports instant join for non-persistent VDI.

[2022-01-10 16:44] blogero45 opened #86189 "Azure App Service = PaaS"
[Enter feedback here]
It would be beneficial to directly state, on the overview page, that this is a PaaS service. That is of key interest to customers and really helps Azure Sales.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53dd65b1-6f9d-9431-5850-9cee636aeabd
* Version Independent ID: 0012e819-bb2b-2955-d87b-d6f1

[2022-01-10 16:50] venugottemukkula opened #86190 "venugottemukkula"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*
[``](url)
* ID: ab75f449-661d-bd1e-3ebd-61e2384a911a
* Version Independent ID: e7c93a31-6076-26b8-a53d-d36df01ec6bc
* Content: [Azure Virtual Machine Agent Overview - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/

[2022-01-10 16:51] venugottemukkula commented on #86190
colse

[2022-01-10 16:58] jgross1031 opened #86191 "GPv1 storage account details"
Hello,
  I thought it would be good to link to https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#cache-storage where GPv1 uses are listed. Microsoft still recommends using GPv1 for site recovery cache accounts because of the lower transactional costs.

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-01-10 17:00] Chris1234567899 opened #86192 "Speech to Text API - names of web hook events?"
Using the batch transcription API it's apparently possible to create webhooks for some transcription events.
(https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateHook)

Unfortunately the docs are failing to state which events can be subscribed.
In the example there is mentioned "transcriptionCompletion", in some [stackoverflow ](https://stackoverflow.c

[2022-01-10 17:07] eddypuck commented on #86144
Sorry, I thought the comment was linked to the article I was reading.  Here is a link:  https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-common-questions#can-i-change-the-replication-policy-after-replication-is-enabled

This answers the question can the settings of the replication policy be changed.  I am asking if the policy assigned to a VM can be changed to another policy and

[2022-01-10 17:50] cynthn commented on #86151
@fekerr Just a quick note - you could open an editor in Cloud Shell and create a shell script, then run that from Cloud Shell. Cloud Shell runs on a Linux container, so you have access to editors and can save files there.

[2022-01-10 17:55] pilcherd commented on #85984
Will 1.2 ever support running on Windows via [IoT Edge for Linux on Windows](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-for-linux-on-windows?view=iotedge-2018-06&viewFallbackFrom=iotedge-2020-11)?