[2019-07-31 19:16] #36230 closed

[2019-07-31 19:17] tvanfosson commented on #34088
These are the steps that I had to change in order to get this to work:

   1. In step 1 *Register an application in Azure AD to represent the API*, after creating the application registration and noting it's application id, choose *Expose an API*.  Allow it to create an id for the API then add a scope named "Access.Apis" and allow users and admins to approve it. Add suitable descriptions for both

[2019-07-31 19:17] Grace-MacJones-MSFT commented on #36109
Hi @Hatzman91, I believe this is the updated sample: https://github.com/Azure/azure-webjobs-sdk/tree/dev/sample/SampleHost

[2019-07-31 19:22] MarileeTurscak-MSFT commented on #36232
I agree that it is somewhat repetitive. I made a pull request to remove the text: https://github.com/MicrosoftDocs/azure-docs-pr/pull/83934

Tagging @curtand for approval.

[2019-07-31 19:22] #36232 closed

[2019-07-31 19:25] cherylmc commented on #35014
Sure! I can take a doc bug against this. Thanks for bringing it to my attention.

[2019-07-31 19:26] asdlea commented on #34088
@mike-urnun-msft i'm sorry for the delay, I just forgot about this until @tvanfosson comment
I think he made it clear about what is outdated. It's probably just about putting a note about how one should add a scope prior to those steps.
Thank you!

[2019-07-31 19:27] robvet commented on #35959
All, thanks for the feedback. Understood the error message, but not why I was seeing it. Would have expected the Azure platform would automatically generate the service principal credentials. This is the behavior provisioning an AKS cluster in the portal. Found a link which suggests that this behavior is common to Msft FTEs do to AAD permissions.

[2019-07-31 19:28] robvet commented on #35959
Here' s the link ==> https://github.com/MicrosoftDocs/azure-docs/issues/27224

[2019-07-31 19:30] MarileeTurscak-MSFT commented on #36202
I'm going to close out this thread but if you continue to have trouble, feel free to shoot me an email at AzCommunity@microsoft.com and I will gladly help out.

[2019-07-31 19:30] #36202 closed

[2019-07-31 19:34] eparizzi commented on #14640
Please fix the documentation.....

[2019-07-31 19:38] pbburkhalter commented on #33099
@jeevansd the link that you posted is the exact same format as what is currently wrong in the documentation. You closed my other ticket and I'm happy to open a ticket with you guys but the documentation is wrong regardless.

[2019-07-31 19:40] #35742 closed

[2019-07-31 19:45] mike-urnun-msft commented on #34088
Thanks @tvanfosson!

@miaojiang already has an open PR in the works that'll address all the missing pieces on this doc.

[2019-07-31 19:45] NavtejSaini-MSFT commented on #36119
@mchudinov We tried to reproduce the error but were not able to do so and the query is working fine. Please see attached for further reference.
Please check the queries once more and if the problem persists, get back to us and we will look at the same.
![36119](https://user-images.githubusercontent.com/52257742/62242898-3403fe80-b3aa-11e9-8637-ab3e078891b5.JPG)

[2019-07-31 19:57] FrankHu-MSFT commented on #36235
Hey @DeanGross  can you clarify on what the issue is in regards to this?
Your suggesting to create a new page for role permissions & templates?

What is the issue with keeping it on the same page?

[2019-07-31 19:57] FrankHu-MSFT commented on #36228
@DeanGross thanks for providing your feedback again, I don't believe this is correct. As essentially any admin role is considered to be a high privileged role.

I'm looking into this and will make the changes to the docs accordingly. Thanks for the help!

[2019-07-31 20:05] Nicholas-I commented on #36030
I "fixed" the issue by deleting the code samples and all my Azure resources, and starting from scratch. My problem is fixed but unfortunately, I do not know why it would not provision the IoT Hub the first time.

[2019-07-31 20:14] juanii opened #36249 "Deployed built-in docker images are not the same as the ones referenced in GitHub/Docker Hub links"
Just created an App Service on Linux instance with a PHP 7.3 runtime stack and choosing the option to publish code. Opening an SSH console and inspecting the system I find it's not the same runtime as the ones referenced in the links to GitHub/Docker Hub above (first Q&A in Built-in images section). The actual deployed image seems to be outdated (PHP version is older, no MS-ODBC Driver for SQL Ser

[2019-07-31 20:17] femsulu commented on #36248
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 20:18] kulbirjandoria commented on #33099
In Azure, under Basic SAML Configuration using an identifier as http://www.workday.com , resolves the problem. So please correct this documentation.

This was confirmed by workday support team, Please find the response from Workday Support team as below:
"Invalid Audience in SAML token: URL should start with http://www.workday.com, or end with /tenantname/login-saml.htmld

Your 'Audience' in Azure

[2019-07-31 20:19] femsulu commented on #36234
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-31 20:21] femsulu commented on #36221
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-31 20:21] femsulu commented on #36209
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 20:26] jwargo commented on #36164
@fperreaultnv we refreshed the doc back in April and there were some warnings but it still worked. We’ve not yet implemented full FCM support, so the SDK uses GCM compatibility mode [Described in this blog post](https://azure.microsoft.com/en-us/blog/azure-notification-hubs-and-google-s-firebase-cloud-messaging-migration/).

I have someone looking at the doc tomorrow and will update as needed.

[2019-07-31 20:27] dan-wesley commented on #36221
I no longer work on this team so un-assigned myself

[2019-07-31 20:28] fperreaultnv commented on #36164
Thanks!

[2019-07-31 20:30] SaurabhSharma-MSFT commented on #36097
@rexhinvorpsi can you please help here if you know any documentation around the same or if the documentation can be updated with the PowerShell cmdlets for Azure VMs.

[2019-07-31 20:34] AdamGlass commented on #36223
Thats interesting.  When i do a similar query:
'az aks get-versions --location westus'

i get this output which leaves off the preview designations.

KubernetesVersion    Upgrades
-------------------  ------------------------
1.14.3               None available
1.14.1               1.14.3
1.13.7               1.14.1, 1.14.3
1.13.5               1.13.7, 1.14.1, 1.14.3
1.12.8               1.13.5, 1

[2019-07-31 20:38] Grace-MacJones-MSFT commented on #36128
Hi @ps-tb,  Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2019-07-31 20:44] SaurabhSharma-MSFT commented on #36162
@MarkusVi  I do not have visibility user assigned identity roadmap.  Can you please help if you have any public roadmap documentation around the same.

[2019-07-31 20:49] rajcheval commented on #34364
@hammer5280  I used fiddler to figure out what was going on. The documentation is indeed missing a required step. It turns for that for kudu console to work I had to create a host entry on my host file for ASE URL.   In addition to what is already mentioned in the documentation I had to point ILB IP to the ASE URL.  Once I did this Kudu console started working.

[2019-07-31 20:52] theheatDK commented on #36209
Thanks, @femsulu. All the information is here:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-access#workspace-permissions-and-scope
I think the ordering of the information is a bit strange and very confusing. Log analytic workspaces should be mentioned in this article and then you could link to the dedicated log analytics workspaces article further down.

[2019-07-31 20:55] MicahMcKittrick-MSFT commented on #36223
@AdamGlass it could be related to a versioning issue of CLI. When I run the commands in Azure Cloud Shell I get the preview options. But if I run on local CLI, I get the same output as you minus the 1.14 don't show up. And it seems my CLI is a bit outdated.

As per any doc updates, at this time we have discussed and decideded to leave the doc as is. However, you comment will remain on this page so

[2019-07-31 20:59] hrasheed-msft commented on #36218
@anssenfang1 Thanks for contacting us. This tutorial covers multiple functions using the Ambari REST API. Is there a particular task that you are trying with an ESP cluster and it does not work?

[2019-07-31 21:03] j-martens commented on #36138
@YutongTie-MSFT - I believe this is a product support issue instead of a documentation bug. Can we channel appropriately to offer the best help?
cc: @aashishb

[2019-07-31 21:06] PeterTurcan opened #36252 "Different USB behavior"
If I connect the MX chip directly to the computer, I see the window and can drag the .bin file over to it, and it updates. However, if I connect the usb to the docking station, the window does not appear, and I am not sure how to access the device. However, I was able to provision the MX chip connected to the docking station, and get telemetry data, but not sure why the  behavior is different with

[2019-07-31 21:07] pmullins-ewn opened #36253 "Windows Project Configuration docs out of date"
Hi there, I was using this document to familiarize myself with push notifications on Windows phones, and I ran into an issue with the documentation.

On step number 6 under the subheader "Register your Windows app for push notifications with Windows Notification Service (WNS)", when navigating to the link specified by "Live Services site", I was given an error, telling me that the application no l

[2019-07-31 21:14] kaptep opened #36254 "Default RHEL update behavior is incorrect."
Just turned up a new RHEL 7.4 VM PAYGO and ran sudo yum update. This only updated the packages for 7.4. In this doc it specifically calls out that it should upgrade me to 7.6 not keep me on 7.4.

DOC SECTION BELOW

--------------------------------------
The default behavior of RHUI is to upgrade your RHEL VM to the latest minor version when you run sudo yum update.

For example, if you provision a

[2019-07-31 21:18] SaurabhSharma-MSFT commented on #36229
@sln007 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-31 21:19] MarileeTurscak-MSFT commented on #36049
If we need to update this doc, my suggestion is a line like, "The Azure AD Connect Health Agent may contact other domain controllers and reach out to lower ports that use 1501 and 1502. This is in order to monitor connectivity, CPU, and data consistency."

[2019-07-31 21:20] roygara commented on #34521
@johnthcall Keeping you updated: I reached out to the team when you confirmed that a few weeks ago and they've got some ideas they want to try out. I've yet to hear back anything else, though. I'll update here when that changes.

[2019-07-31 21:20] KranthiPakala-MSFT commented on #36129
@SaurabhRaoot I have checked with the internal team and confirmed that we don’t need to worry about retry policy when running with processor host. Host will set the underlying clients to default policy and that will always be sufficient for error handling. Besides, host API doesn’t provide a way to set a custom policy.

I have also passed the feedback to have the document updated about the retry p

[2019-07-31 21:22] KranthiPakala-MSFT commented on #36137
@Exnav29 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-07-31 21:22] #36137 closed

[2019-07-31 21:28] MicahMcKittrick-MSFT commented on #36145
@enlightenalpha I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-31 21:36] Karishma-Tiwari-MSFT commented on #36254
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-31 21:44] Grace-MacJones-MSFT commented on #36249
Hi @juanii, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-07-31 21:46] Grace-MacJones-MSFT commented on #36253
Hi @pmullins-ewn, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-07-31 21:48] jonmikeli opened #36255 "Question-Twin.Properties.Desired change notification raised when Twin.Tags are updated"
Hi,

I have noticed that whenever a Twin.Tag is updated, a Twin.Properties.Desired change notification is raised (and Twin.Properties.Desired version is increased even though the property remains unchanged).
Is this the normal behavior?

I would expect that if Tags are changed, no event related to Twin.Properties.Desired would be raised (and Twin.Properties.Desired version should not be updated ei

[2019-07-31 21:48] KranthiPakala-MSFT commented on #36132
@jeffjwu Thanks for the feedback. Your ask looks similar to an existing GitHub issue which one of my teammate is working on #35449. Please have a look at it and do let us know if you have any further query.

[2019-07-31 22:00] diberry commented on #33335
This is fixed, #please-close

[2019-07-31 22:00] #33335 closed

[2019-07-31 22:00] mike-urnun-msft commented on #36247
Hi @noelbundick - Thank you for your feedback! We will review and update as appropriate.

[2019-07-31 22:01] SeaDude opened #36257 "How to get satellite images for specific lat/long?"
I feel like this API call is missing lat/long attributes. How do I determine where on earth zoom level 14, x 10, y 12 is? How can I add a pin to the satellite image?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e829b4-ffb5-9a4c-5cb4-980636e195e0
* Version Independent ID: d0ba3e05-4a72-51d0-8ae1-ae0a8ecca

[2019-07-31 22:03] anandhms commented on #36184
@VikasPullagura-MSFT : I have updated the PR to include an updated index.md page with Performance Diagnostics items in a new hierarchy. Please take a look.

As far as the other items on this page, you may want to follow-up with @JarrettRenshaw

[2019-07-31 22:05] SaurabhRaoot commented on #36129
Thanks much Kranthi

[2019-07-31 22:21] lunar87 opened #36258 "incorrect information on installing solutions"
The above instructions do not work for installing solutions, you should direct to the the marketplace: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/category/management-tools?page=1&subcategories=management-solutions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2902958-bbda-b892-6da7-1b8ed598c6bb
* V

[2019-07-31 22:25] westandy-dcp opened #36259 "Example with Sequelize?"
I appreciate this page!  However, in production, I hope no one is using embedded SQL.  Is there any chance of some Sequelize examples for NodeJS?  Please and thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e34a99e-1b7a-3018-f645-3800a4d307bc
* Version Independent ID: cf58cfc4-c118-e377-962d-32b9dac4e80d
* Co

[2019-07-31 22:28] KranthiPakala-MSFT commented on #36219
@tonyStann Please have a look at the below stackoverflow thread which might be helpful.

- [_Azure Data Factory - How to handle nested Array inside JSON data to import to Blob Storage_](https://stackoverflow.com/questions/56221434/azure-data-factory-how-to-handle-nested-array-inside-json-data-to-import-to-bl)

[2019-07-31 22:30] Grace-MacJones-MSFT commented on #35227
Hi @Jerwangsample, apologies for the delay in response. Yes, this works for existing DB. You need to go to your Azure SQL Database and get a copy of the connection string.  Then go to your **Application Settings**, Click on  the **Connection Strings** blade and either create a new connection string (and paste it in from the first step) or update the existing connection string. Be sure to update th

[2019-07-31 22:30] #35227 closed

[2019-07-31 22:31] KranthiPakala-MSFT commented on #36129
@SaurabhRaoot We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. . We will gladly continue the discussion.

[2019-07-31 22:31] #36129 closed

[2019-07-31 22:42] terziyski opened #36260 "bash shell formatted commands"
It would be impossible for one using MS Windows Azure CLI CMD to execute these commands because of the BASH syntax:

[code]

and these two as well:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2deae96-4c5e-8396-519c-9ab7e09baacd
* Version Independent ID: a90b199e-623a-86ba-26e2-4ee71fae6e25
* Content: [Confi

[2019-07-31 22:52] msaburnley commented on #35984
#please-close

[2019-07-31 22:52] #35984 closed

[2019-07-31 22:59] MarileeTurscak-MSFT commented on #35910
Thanks for sharing this! At what point does it say to contact AADHealthTeam?

I'm sharing your other questions with the product team.

[2019-07-31 23:05] TravisCragg-MSFT commented on #8412
@tocorobo If you would like us to change how you can configure SSL, or add any additional features, please [leave your feedback at Azure Networking's Azure Feedback page](https://feedback.azure.com/forums/217313-networking).

[2019-07-31 23:05] PatAltimore commented on #36031
Hi @sahil839, your truffle-config.js should look something like this:

var defaultnode = "https://myblockchainmember.blockchain.azure.com:3200/MyAcCeSsKeY";
var Web3 = require("web3");

module.exports = {
  networks: {
    defaultnode: {
      provider: new Web3.providers.HttpProvider(defaultnode),
      network_id: "*"
    }
  }
}

Note the variable defaultnode is set to your blockchain member en

[2019-07-31 23:06] TravisCragg-MSFT commented on #35689
@markarnolditpro We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-31 23:06] #35689 closed

[2019-07-31 23:06] femsulu commented on #36258
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-31 23:06] TravisCragg-MSFT commented on #35706
@ryanmajidi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-31 23:06] #35706 closed

[2019-07-31 23:07] TravisCragg-MSFT commented on #35788
@markarnolditpro We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-31 23:07] #35788 closed

[2019-07-31 23:08] vladvino commented on #36205
@mike-urnun-msft see PR above. This issue is closed.

[2019-07-31 23:09] PatAltimore commented on #36031
Hi @tommparekh & @sahil839, The community submitted PR with the update has been merged. You should see it live now. I've got some minor fixes coming that will probably be merged tomorrow.

Pat

[2019-07-31 23:11] JimacoMS3 commented on #34226
Here's a version with the callback.

[code]

[2019-07-31 23:14] ashishsinghbhu opened #36261 "Incompatibility with Nuget for .Net core"
The .NetCore library Microsoft.Azure.ServiceBus.dll 3.4.0 references Microsoft.Azure.Services.AppAuthentication.dll version 1.0.1.  This AppAuthentication nuget is using deprecated MSI behavior and will cause failure.  The fix is to upgrade Microsoft.Azure.Services.AppAuthentication to 1.0.3. Apparently the next release of Microsoft.Azure.ServiceBus will have a fix for this.

---
#### Document Det

[2019-07-31 23:17] cherylmc commented on #35014
I've updated the screenshots and this will publish tomorrow. Thanks again! #please-close

[2019-07-31 23:17] #35014 closed

[2019-07-31 23:28] FindingNamo opened #36262 "Missing information about LoggerFactory in "Add Application Insights logging provider" section"
In the "Add Application Insights logging provider" section, there is a mention of "Put the LoggerFactory object in a using block to ensure that log output is flushed when the host exits" but no where else on the page is a LoggerFactory mentionned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7c

[2019-07-31 23:29] FrankHu-MSFT commented on #36014
Hey @mrdfuse

Please let us know if there are anymore questions within the scope of this git issue.

Thanks!
- Frank

[2019-07-31 23:31] tonyStann commented on #36219
@KranthiPakala-MSFT Thanks for working on the issue,
1. The answer in the stack overflow used JSON file as an input so he got options to select file format settings of JSON. I am using REST as Source and Datalake v2 as a sink.
2. The original question in the thread, he wants to use schema mapping to the sink. However, in this article, it mentioned to skip structure (schema) in the dataset and copy

[2019-07-31 23:32] PatAltimore commented on #35473
Hi @dlebu ,

There are issues with the transaction script. Others had the same issue with sending transactions. We decided to rewrite this tutorial. The update should go live 8/1.

Thanks,
Pat

[2019-07-31 23:33] FrankHu-MSFT commented on #35934
@Zhang-lujia
I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks, - Frank

Also, as this seems to be a reoccurring issue, I can enable a onetime free support ticket for issues related to this publisher domain registration cannot connect to domain issue.

if you're still experiencing this issue, @RobusXLR
Please send an email to AzCommuni

[2019-07-31 23:36] FrankHu-MSFT commented on #36189
@a-christiaens Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-31 23:38] KranthiPakala-MSFT commented on #36219
@tonyStann Thanks for providing additional detailed info. I will keep posted once we hear back a response from the internal team.

[2019-07-31 23:45] KranthiPakala-MSFT commented on #36219
@tonyStann Just wanted to confirm if the **Sample REST output** you have provided is the actual REST API output or the output stored in Blob? Would it be possible to share both - I mean the actual API output with complete array and the incomplete output stored in Blob?

[2019-07-31 23:45] takekazuomi commented on #25356
@markdebruijne
The links below have a short description.

https://github.com/projectkudu/kudu/wiki/Configurable-settings#ensure-update-site-and-update-siteconfig-to-take-effect-synchronously

In the case of recycle too, I think that synchronization is necessary by default.

@mattchenderson @Grace-MacJones-MSFT
I want more detailed explanation.

[2019-07-31 23:50] jeffjwu commented on #35449
I've been trying to accomplish the same, but have pinned the underlying issue due to scoping. The global temp table, while available to all users, persists only as long as the original session remains open.  (See [`this link`](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql?view=sql-server-2017#temporary-tables) for temp table scoping.) The main points are:

- A loc

[2019-07-31 23:51] rachel-msft commented on #36226
This is completed https://github.com/MicrosoftDocs/azure-docs-pr/pull/83947

@Mike-Ubezzi-MSFT, I had created and merged the change before I saw your commit

[2019-07-31 23:54] viskri-msft opened #36263 "Can you provide the swagger generated for this script, please?"
What does the swagger for this script look like?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e267fb-efa2-dab5-aa83-4a4addc39ee8
* Version Independent ID: e1d506d0-c6bf-47ed-a12c-7bb50416c865
* Content: [How and where to deploy models - Azure Machine Learning service](https://docs.microsoft.com/en-us/azure/machine-

[2019-07-31 23:54] JimacoMS3 commented on #27931
@liydu @cartesiosson -- is it safe to say this issue is resolved then? Can we close this issue?

[2019-07-31 23:55] JimacoMS3 commented on #27931
@assign JimacoMS3

[2019-07-31 23:56] jeffjwu commented on #36132
Thanks! I'm putting my further comments on the linked item given that there appears to be some discussion there already.

[2019-07-31 23:56] #36132 closed

[2019-07-31 23:56] JimacoMS3 commented on #27931
#reassign JimacoMS3

[2019-08-01 00:00] mike-urnun-msft commented on #36205
Yup, thanks @vladvino! I was just adding the required fields & labels as part of regular triaging.

[2019-08-01 00:02] xtofs opened #36264 "typo in sample new ModuleClient.CreateFromEnvironmentAsync"
it states `ModuleClient client = new ModuleClient.CreateFromEnvironmentAsync(`
but should probably be `ModuleClient client = ModuleClient.CreateFromEnvironmentAsync(`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d909-88f82c647cb8
* Cont

[2019-08-01 00:02] Mike-Ubezzi-MSFT commented on #36226
Can you please close out the PR that was created and linked to this GitHub Issue (#83954). Thanks!

[2019-08-01 00:03] TurtleBeach opened #36265 "Link to .NET (Services) SDK is wrong"
In the "References" section on the left side of this page 9https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-twin-getstarted), the link to .NET (Services) goes to the same page as the link to .NET (Devices) - and the documentation is only for the C# Device SDK (everything is in the 'Microsoft.Azure.Devices' Namespace). I expected to find Services documentation in a 'Microsoft.Az

[2019-08-01 00:03] Mike-Ubezzi-MSFT commented on #36226
@aodugga This has been completed.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-08-01 00:08] mike-urnun-msft commented on #36261
@ashishsinghbhu Thank you for your feedback! We will review and update as appropriate.

[2019-08-01 00:15] mjpearse commented on #27056
I'm also curious about this, I see Ian raised the question a while ago.  Is any clarification available?

[2019-08-01 00:25] himanshusinha-msft commented on #35449
@patrickgalbraith : I did revisited my pipeline and I was able to repro the issue . I have reached out to the internal team and we will update you once we hear from them .

@jeffjwu : We agree with all the inputs , while reproing the issue we did followed one of the many scenarios which you have mentioned . As mentioned before we have escalated the issue and will update the thread once we hear bac

[2019-08-01 00:26] patrickgalbraith commented on #35449
@himanshusinha-msft Thanks for the update.

@jeffjwu Great overview of the issue. At the very least the documentation needs to be updated since what is being recommended is not possible.

This is exactly why I am trying to do this with temp tables. This becomes important when you have millions of records to insert (something which ADF should handle).

[2019-08-01 00:31] Alberto-Vega-MSFT commented on #36265
@TurtleBeach Thanks for reaching out!  I clicked on the links and one takes me to two different pages one is Microsoft.Azure.Devices for (Services) and the second one to Microsoft.Azure.Devices.Client (for client applications running on the IoT device).

In contrast if I click on Java(Service )  it takes me to com.microsoft.azure.sdk.iot.service but comparing the two pages I see the same functiona

[2019-08-01 00:31] Karishma-Tiwari-MSFT commented on #36032
@amandadebler Can you please elaborate on your scenario and share the step in the doc where you are seeing issue? This will help us reproduce the issue and assist you better.

[2019-08-01 00:36] Alberto-Vega-MSFT commented on #35538
@Shri-Humrudha please see the PR where the sample application has been modified.

[2019-08-01 00:44] SanAlex opened #36266 "Partner Admin link documentation is not up to date - new cmdlet names"
There is documentation available on https://docs.microsoft.com/en-us/azure/billing/billing-partner-admin-link-started

there is a new version of AzureRM.ManagementPartner  0.1.4
that has new cmdlet names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067

[2019-08-01 00:46] SanAlex opened #36267 "cmdlet names are not up to date"
There is a new version of AzureRM.ManagementPartner 0.1.4
that has new cmdlet names.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content: [Link an Azure account to a partner ID](https://docs.microsoft.com/en-us/azur

[2019-08-01 00:47] FrankHu-MSFT commented on #36059
@peledins can you actually clarify what you mean in regards to 2.?

 _$vault.properties.accesspolicies can be updated with real applications/users/rights so that it does not need to be done after this whole activity._

Are you suggesting showing how to update the access policies at this point in time?

[2019-08-01 00:49] festivus commented on #36124
@NavtejSaini-MSFT Yes, that answers my question. I don't want to be part of the private preview right now.

[2019-08-01 00:49] #36124 closed

[2019-08-01 00:51] Alberto-Vega-MSFT commented on #36264
Hi @xtofs Thanks for the feedback! Would you please provide more detail about why it should be changed?

[2019-08-01 00:51] peledins commented on #36059
I am suggesting that at place of initializing the variable to empty array, you could at least add a comment saying “Rights can be updated directly in to this array”.
There is some positive effect out of this: there is no interruption where the vault is unfunctional due to no accesspolicies (whereas running set-accesspolicies later on gives a time where vault has 0 access policies and is not functi

[2019-08-01 00:56] FrankHu-MSFT commented on #35898
We're currently looking into this and will update the docs accordingly, thanks again for your feedback and we will add these in as soon as possible.

[2019-08-01 01:05] tony-gutierrez opened #36268 "Linux workers not allowed."
When trying to create a linux app service in an new resource group it constantly says: "Linux workers are not available in resource group xxxxxx. Use this link to learn more https://go.microsoft.com/fwlink/?linkid=831180" yet this page provides no real information on the error.

All I see is:
"App Service on Linux is only supported with Free, Basic, Standard, and Premium app service plans and does

[2019-08-01 01:12] tony-gutierrez commented on #36268
It turns out that the error has nothing to do with the resource group.

The web app creation wizard picked "P1V2" by default, but it continued to give the "Linux workers are not available in resource group xxxxxx." error until I changed the size to "S1".

The error message is very misleading and needs to be updated.

[2019-08-01 01:16] FrankHu-MSFT commented on #36059
I see, okay thanks for that! We're currently looking into this issue, as we have made a note of this issue, I will go ahead and close this issue out by end of day tomorrow. Please let us know if you'd like to keep this open further.

[2019-08-01 01:17] tonyStann commented on #36219
The output I provided is the actual REST API output and I am providing
another POST request data below
*Output from REST connector:*
[
  {
    "totalPages": 1,
    "firstPage": true,
    "lastPage": true,
    "numberOfElements": 12,
    "number": 0,
    "totalElements": 12,
    "columns": {
      "dimension": {
        "id": "variables/lasttouchchannel",
        "type": "string"
      },
      "co

[2019-08-01 01:19] FrankHu-MSFT commented on #35886
Hey @peledins this issue seems to be resolved now as the Note at the top says :

Azure storage integration with Azure Active Directory (Azure AD) is now in preview.

Is this sufficient for the doc change now? We are currently adding the another bullet point to the first note saying :
AAD access to storage account does not work for table access.

Please let us know if there are any other issues wit

[2019-08-01 01:26] FrankHu-MSFT commented on #35895
@TranBaVinhSon I'm following up on this issue, can you please respond in regards to the previous replies on this thread? Thanks, - Frank Hu

[2019-08-01 01:28] aaazzz commented on #35371
@ManojReddy-MSFT

The errors I encountered were not directly related to Azure, but were related to input validation in my front-end applications. (in previous versions, my application is implemented input validation because client secrets was encoded base64 so the new client secret could not be entered.)

I have removed the input validation of client secrets from my front-end application, so there

[2019-08-01 01:32] FrankHu-MSFT commented on #36161
You're right the SAS should follow the guidelines of  the .net storage account authorization information per : https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

And thus the only way to do this is to generate the SAS key yourself or utilize the generate-sas functionality in keyvault. We'll go ahead and add

[2019-08-01 01:45] NagaCSC opened #36269 "add when user may not see NGC pre-requisite check"
[Enter feedback here]
Please add you may not see NGC pre-requisite check details in dsregcmd /status. if the user already successfully configured NGC credentials

For example
===================
+----------------------------------------------------------------------+
| User State                                                           |
+----------------------------------------------------------

[2019-08-01 01:52] lelopez-io commented on #35437
@veyalla I can work around it using device methods just fine. However, I think the reported state of the device (connected/disconnected) is not being reported correctly (when using x.509) at the moment so I may submit that. But thanks for the help I appreciate it.

@kgremban Yes, that note makes it clear enough thanks 🙌. It's nice to have that info upfront before going down the rabbit hole.

[2019-08-01 02:03] shashankkr opened #36270 "Output function key / Add new key"
ARM Template: How can I output the function key after the deployment? How can I add a new function key through the template deployment?

I have tried the following and nothing seems to work:

  "outputs": {
    "functionKey": {
      "type": "string",
      "value": "[listSecrets(variables('resourceId'), variables('apiVersion')).key]"
    }
  }

or
"value": "[reference(concat(resourceId('Microsoft

[2019-08-01 02:07] Alberto-Vega-MSFT commented on #36257
@SeaDude you might want to look into this doc  https://docs.microsoft.com/en-us/azure/azure-maps/map-add-pin

[2019-08-01 02:11] Alberto-Vega-MSFT commented on #36255
@jonmikeli Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 02:13] Alberto-Vega-MSFT commented on #36252
@PeterTurcan Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 02:14] KrishnaG-MSFT commented on #36246
@vboyev-MSFT Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If that's the case we request you to please post your question on MSDN and other forums, we have our engineers and others who are monitoring them and will be happy to help.
If you have a document which you are following and if you think it needs an update,

[2019-08-01 02:17] Alberto-Vega-MSFT commented on #36244
The update to fix this should go live tomorrow please see comment here : https://github.com/MicrosoftDocs/azure-docs/issues/35473#issuecomment-517060190

[2019-08-01 02:20] ssarwa commented on #36268
For me, it doesn't work for New Resource group on any app service plan.

I tried to create different skus in different locations but still getting the same error

[2019-08-01 02:37] AvanadeAndrej opened #36271 "Typo"
Type in the list at the end.

You want to scale the app independently from the other apps the existing plan.

should be

You want to scale the app independently from the other apps in the existing plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a9696e-10fd-a74e-4957-0d7ed9ef5a0f
* Version Independent ID: dad3cbd

[2019-08-01 02:37] KrishnaG-MSFT commented on #36241
@kylebrandt Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-01 02:40] KrishnaG-MSFT commented on #36117
@jefffanjoy Changed the document as required. Thanks.

[2019-08-01 02:40] #36117 closed

[2019-08-01 02:45] GitHubber17 commented on #31100
@thomasddn &nbsp;Hi Thomas, I apologize for the delayed response. I've been out of the office. I didn't close this request manually. I merged a connected request from the author (@mmacy) in another repository. When that request was merged, your request was automatically closed by the system.

[2019-08-01 02:47] KrishnaG-MSFT commented on #36088
Assigning @MGoedtel for visibility and document enhancement consideration.

[2019-08-01 02:49] peledins commented on #35886
1.  It might be great to match CLI and powershell information. Maybe refactor out common parts.
  2.

  *   Azure storage integration with Azure Active Directory (Azure AD) is now in preview.
Is it still in preview? The linked page does not talk about being in preview.

  1.  “AAD access to storage account does not work for table access.”
This is great.

Thanks,
Peteris

From: Frank Hu <notificati

[2019-08-01 03:05] Alberto-Vega-MSFT commented on #36140
Hi @DeveloperBeginner did you see my previous comment?

[2019-08-01 03:07] mrbullwinkle commented on #35974
#please-close

[2019-08-01 03:07] #35974 closed

[2019-08-01 03:10] sahil839 commented on #36031
@PatAltimore I tried using a new project directory and followed the steps as given in updated docs but the same error still persisits
[code]
Do I need to do something related to ethereum account first ?

[2019-08-01 03:14] MoRMongol opened #36272 "Country not showing on the "Country or Region" list"
I wanted to create a new Tenant because my current one with the "onmicrosoft.com" is too long to be used for Azure AD Domain Services. The max length is 15 characters. I'm wondering if that threshold could be increased to like 20 or else I have to create a new tenant with a shorter name. So I went that route to see if I could make a new one, but my country "Mongolia" is not showing on the list. Al

[2019-08-01 03:28] SnehaAgrawal-MSFT commented on #36224
@liben-y Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 03:30] MoRMongol opened #36273 "Permission is NOT working on File share"
I work for a company that provides Cloud Infrastructure Services. Recently, a customer wanted a service that is sort of like "Dropbox" or "OneDrive" to replace their Exavault account which is too costly for them right now. I suggested the File share from Azure Files which was way simpler and easier solution, but the permission is not functioning. They want to share folders with their customers to

[2019-08-01 03:31] SnehaAgrawal-MSFT commented on #36271
@AvanadeAndrej Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 03:33] YutongTie-MSFT commented on #36138
@j-martens Yes, I believe this is not a document issue as well. I will offer the customer support ticket for help.

@raghunaik2009  Hi, could you please create a support ticket for solving your issue if you have a support plan under your Azure subscription account? If not, please send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread? We can offer you

[2019-08-01 03:42] KrishnaG-MSFT commented on #36241
Assigning @bwren for visibility and document enhancement considerations.

[2019-08-01 03:42] gbagate commented on #34648
This documentation does use Azure VM with DHCP on the NIC.  I cannot tell you why your cluster resource was made as a "Distributed Server Name".
Can you please try creating it with PS and see:
New-Cluster -Name <FailoverCluster-Name> -Node ("<node1>","<node2>") –StaticAddress <n.n.n.n> -NoStorage
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sq

[2019-08-01 03:43] neilhuiz opened #36274 "Creating a Windows AKS cluster w/ an ARM template"
I've spent the last couple days trying to get a Windows AKS cluster set up using an ARM template. I've succeeded in creating a cluster with only one Linux node pool. When I include both a Linux and a Windows node pool profile, though, the node pools are created in the portal, the node pool resource group is created, however, the VMSS objects are never created.

My current workaround is to create a

[2019-08-01 03:44] Zhang-lujia commented on #35934
@FrankHu-MSFT the error text are "Verification of publisher domain failed. The application was not found. If the application was just created, wait a few minutes and refresh the page. [eZJ1g]"

[2019-08-01 03:56] AlexanderTodorovic commented on #36115
Thank you.

[2019-08-01 03:56] #36115 closed

[2019-08-01 04:00] Alberto-Vega-MSFT commented on #35821
@Trinakriae I found a duplicate issue on the document https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-customize
please see the [solution provided](https://github.com/MicrosoftDocs/azure-docs/issues/16843)

[2019-08-01 04:03] KalyanChanumolu-MSFT commented on #36070
@ahuggins-nhs Thank you for the feedback.
I agree that there is a confusion here, let me try and clarify the same.

The SDK's for Azure Storage tables and Cosmos DB Table API are unified so that customers can start with Table storage and move to Cosmos Table API with "no code changes" when their applications evolve and demand premium capabilities like Turnkey global distribution, Dedicated through

[2019-08-01 04:06] VAsHachiRoku opened #36275 "Requirements missing bullet point"
It should include a bullet point that states Device is Intune Managed or a Provision Package deployment. First glace it makes it seem like only Azure AD joined is required, but you can be Azure AD Join and not Intune enrolled. However, for this public preview Intune is a requirement to make it easier to test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-08-01 04:20] KalyanChanumolu-MSFT commented on #36259
Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-08-01 04:39] RohitMungi-MSFT commented on #36263
@viskri-msft Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-01 04:39] AjayKumar-MSFT commented on #36262
@FindingNamo, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon.

[2019-08-01 04:50] xtofs commented on #36264
for one, it is a static (factory) method on ModuleClient
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.moduleclient.createfromenvironmentasync?view=azure-dotnet.
secondly, you have to deal with the fact that it is async.

[2019-08-01 04:52] msrini-MSFT commented on #36201
@tkumark , Do you have any update in this issue?

[2019-08-01 04:53] SwathiDhanwada-MSFT commented on #36267
@SanAlex Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 04:54] SumanthMarigowda-MSFT commented on #36273
@MoRMongol Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-01 04:55] SumanthMarigowda-MSFT commented on #36260
@terziyski Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-01 05:00] AjayKumar-MSFT commented on #36242
@eversonamancio, Thanks for leveraging Azure docs feedback channel and sharing the code, could you please let us know the Azure doc that this feedback is applicable to?

[2019-08-01 05:06] AjayKumar-MSFT commented on #36245
@1VIP, Thanks for leveraging Azure docs feedback channel! It looks like you missed submitting the feedback content. Could you please share the Azure docs for which you wish to provide a feedback and provide more details on your scenario/issue so we can better assist you.

[2019-08-01 05:12] AjayKumar-MSFT commented on #35977
@marckassay,We will close this out, but if you feel you need more information please just let us know we would be more than happy to continue the discussion.

[2019-08-01 05:12] #35977 closed

[2019-08-01 05:28] DashleenBhandari-MSFT commented on #35993
@benhatton-unsw-edu-au , We will go ahead and close this issue. Feel free to re-open the issue if you have further queries.

[2019-08-01 05:28] #35993 closed

[2019-08-01 05:36] MoRMongol commented on #36273
Thanks for your quick response, I hope you can find an answer for me and my customer.

[2019-08-01 05:50] ToMakeSense commented on #36222
@MicahMcKittrick-MSFT Thanks for your rely, just want to help improve Azure to be better.

[2019-08-01 06:03] tkumark commented on #36201
Thanks this helps it would be better if it was documented in the article also

[2019-08-01 06:07] khandelwalbrijesh commented on #36199
We will update the doc soon.

[2019-08-01 06:19] miababii opened #36278 "Broken link"
Link for GTM is not working anymore. Also, I think the sign in link should point to the Partner Center, since now this portal is the starting point when becoming a publisher.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 467c5737-af04-369d-b2a0-eaae886ad1d0
* Version Independent ID: f65e4274-4bef-cbbf-a437-f2a14dd2d28

[2019-08-01 06:46] nhvu1988 commented on #35934
I also got the same error text but the last [suffix] string is different. This is on mine

"Verification of publisher domain failed. The application was not found. If the application was just created, wait a few minutes and refresh the page. [feRDf]"

[2019-08-01 06:59] lipsius commented on #33801
Hello Jimaco,

You are the best ! Thanks for having provided me with that solution.
I have one last final question : when building a dashboard how can we link some sensors to some people?
I mean the company can see all devices but the customer should only be able to see his devices.

Many thanks,

Christophe

Van: Jimaco Brannian <notifications@github.com>
Verzonden: woensdag 31 juli 2019 20:11
Aa

[2019-08-01 07:07] SimonGivan commented on #24229
Hi @MashaMSFT Yes that is correct.

[2019-08-01 07:18] IvoMerchiers opened #36279 "Audit trail section could use references"
The section about 'Capture an end to end audit trail of the ML lifecycle' lacks some references.
In particular the following list discusses three features/services without any links:

&gt;- Azure ML Datasets help you track and version data.
&gt;- Azure ML Run History manages the code, data and compute used to train a model.
&gt;- The Azure ML Model Registry captures all of the metadata associated

[2019-08-01 07:18] aosyatnik commented on #36111
Hello @julianparismorgan . I'll try to answer your questions...

Yes, you are right. I've started with [this tutorial](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-android) first. It's android tutorial. It worked good. After that, I've switched to hololens tutorials and used the same codebase. But I assume this is not so bad since "main" idea of these tutori

[2019-08-01 07:21] DashleenBhandari-MSFT commented on #36268
@tony-gutierrez , @ssarwa , There is a current limitation in regards to not mixing Windows and Linux apps in the same resource group as well.
https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro#limitations
So you're only option at the moment is to create a new resource group for linux resources

[2019-08-01 07:24] SadiqhAhmed-MSFT commented on #36278
@miababii Thanks for bringing this to our attention. This issue is being assigned to the content author to review and update as appropriate.

@qianw211 FYI.

[2019-08-01 07:25] AjayKumar-MSFT commented on #35557
@samjross, We have been discussing on this internally. Adding new content would be forthcoming and tracked internally but there is no ETA on that as of now. Thanks for your valuable feedback.

[2019-08-01 07:25] SadiqhAhmed-MSFT commented on #36266
@SanAlex Thanks for bringing this to our attention. This issue is being assigned to the content author to review and update as appropriate.

@dhirajgandhi FYI.

[2019-08-01 07:25] mazikHyd opened #36280 "While sampling data, no data was received from '1' partition, while testing an input for a blob."
Hi Team,
I am trying to integrate application Insight with power BI using stream analytics.
followed the steps mentioned in the below link:
[https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-stream-analytics.]

unable to resolve the issue related to data sampling for an input , I Have tried with all possibilities for the path pattern as well and mentioned the date in yyyy-mm-dd forma

[2019-08-01 07:28] KranthiPakala-MSFT commented on #36218
@anssenfang1 To provide a better assistance on your query, could you please share additional information about the details requested by @hrasheed-msft ?

[2019-08-01 07:28] jhlosin commented on #28080
I also found the same. I would like to know the idea behind this restriction.

[2019-08-01 07:32] AjayKumar-MSFT commented on #33842
@HeidiSteen, Requesting your comments.

[2019-08-01 07:51] rafa-pizzi opened #36281 "Its not clear if auto-grow is only defined at creation time"
Hi,
I'm wondering if this setting can be later changed when the server is up, or if this is only set during creation time.
The documentation is not very specific about it. I also could not find any details on `az postgres server configuration` that could change this later one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-08-01 07:56] rexhinvorpsi commented on #36097
Hi again ,
I am really sorry because i am really new in the AKS Azure env and can't follow the documentation. I just wanted to domain join the Azure Vm with the azure active directory , i know there is a deployment file but that isn't working so i decided to do it myself via powershell.
Thank you very much in advance
Best Regards
Rexhin

[2019-08-01 07:56] LeeHyeongWon commented on #36268
I was in the same situation just now.
But it worked well after the sku size upgrade.
And the resource group was also split.
Good luck

[2019-08-01 08:04] tariqjaber opened #36282 "Users and Groups Roles"
Hello,
It is mentioned in the article:
"When assigning a user to ServiceNow, you must select a valid user role. The "Default Access" role does not work for provisioning."

Can you please update the doc or guide how to create or import the roles into Azure AD from ServiceNow? is it by updating the manifest? if so, then what are the steps?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-08-01 08:07] tbkobberoe opened #36283 "No documentation on Upload/Download feature in Azure Cloud Shell"
I can't find any documentation on the Upload/Download feature. The fact that you can only upload 1 file at the time, despite the GUI giving you the possibility of choosing more than 1 file might be important to mention

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ccf23ec-8d85-84fb-2c46-61a414d466ef
* Version Indepen

[2019-08-01 08:12] anssenfang1 commented on #36218
Hi,

If a cluster is domain joined, any difference to call the curl command?

Thanks

Anssen

From: KranthiPakala-MSFT <notifications@github.com>
Sent: Thursday, August 1, 2019 3:29 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anssen Fang <Anssen.Fang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Is it applicable to ESP cluster

[2019-08-01 08:15] JohnRambo90 commented on #19568
Hi I'm quite not sure if a message routing is configured. I will double check that.
-> Also with latest dependencies it is not working.

[2019-08-01 08:21] Sethu2488 commented on #36216
Thank you for the input. The reason why we are using self - hosted IR, as per the internal security policy there are few restrictions in place for accessing the blob storage. For this reason, we have set up a self - hosted IR.
As you mentioned that the data travels to the IR first, then to the Data Lake, so will there be any additional cost involved for using self - hosted IR.

[2019-08-01 08:28] mrdfuse commented on #36014
@FrankHu-MSFT nope, thanks for the info!

[2019-08-01 08:28] #36014 closed

[2019-08-01 08:31] edberwick commented on #36217
Hi,

I understand but I get the followoing error with the scrit as written,...

[image: image.png]

On Wed, 31 Jul 2019 at 18:25, suvasara <notifications@github.com> wrote:

--
Ed Berwick
07709495776

[2019-08-01 08:32] chrisdoofer opened #36286 "Clarity around self-signed certs"
Hi !

Within our documentation we state the following:

o	Creates an Azure AD application with a self-signed certificate, creates a service principal account for the application in Azure AD, and assigns the Contributor role for the account in your current subscription. You can change this setting to Owner or any other role. For more information, see Role-based access control in Azure Automation.

[2019-08-01 08:35] angoyal-msft commented on #36281
@rafa-pizzi Thanks for the valuable feedback. I'll assign this issue to the content author for updating the document appropriately.

[2019-08-01 08:45] msrini-MSFT commented on #36201
@tkumark , thank you for your feedback. The one which you asked for is documented here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-stream-log-store#how-do-i-query-the-data-from-a-log-analytics-workspace

[2019-08-01 08:45] #36201 closed

[2019-08-01 08:59] obrookstein commented on #33665
Hey @KingdomOfEnds ,

This one is left open. I understand that there's currently no way to do so?

Also - let me please add to that - how about C2D messages? How can we achieve that with DT?

Thanks,

[2019-08-01 09:01] KrishnaG-MSFT commented on #36286
@chrisdoofer Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-01 09:02] RonakThakkar opened #36287 "Diagram and Content might needs to be updated to reflect latest network security enhancements"
Hi,

I think diagram and content might need to be updated to reflect the latest network security changes as mentioned in the announcement.

https://azure.microsoft.com/en-us/updates/managed-instance-enhances-security-with-network-traffic-containment-within-azure-cloud/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2

[2019-08-01 09:02] kishan19 commented on #22385
Seriously, this is such a pain to install on a raspberry Pi. Failing on Python 3.5 with error Undefined symbol ZNK5boost6python7objects....cant even debug those.

[2019-08-01 09:05] KrishnaG-MSFT commented on #36280
@mazikHyd Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-01 09:09] ssjaronx4 opened #36288 "Please add details of the storage operations used by the commands"
Would it be possible to add (either to this page or another page) details of the storage operations used by each command?Without knowing what operation types are used by each command its difficult to predict the costs accurately.

For example, I assume that the sync command used the GetBlobProperties command to get the properties of the BLOBs for comparison to the source. I assume that comes under

[2019-08-01 09:11] KrishnaG-MSFT commented on #36283
@tbkobberoe Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-01 09:17] thecpshah commented on #36036
Any update on this?

[2019-08-01 09:20] angoyal-msft commented on #36287
@RonakThakkar  Thanks for the valuable feedback. I'll assign this issue to the content author for updating the document appropriately.

[2019-08-01 09:27] RohitMungi-MSFT commented on #36279
@IvoMerchiers Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-08-01 09:35] paoloricciuti commented on #36215
Sorry i was talking about [this article!](articles/azure-monitor/learn/tutorial-archive-data.md)

[2019-08-01 09:36] pennyhindle commented on #24474
I am getting similar errors as above, after installing knife-azure v 1.9.0

Is there a newer version I should be using?

![image](https://user-images.githubusercontent.com/45859311/62282678-dc1bd500-b447-11e9-9fa3-726edcbbb1c0.png)

[2019-08-01 09:39] Zingonead commented on #36034
Good morning Mike,

The documentation concerned is "https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features".

In the latter link the “Hyperscale tier” is not mentioned in the list of Column Store indexes compatibility.

Hyperscale is a different vCores pricing tier like “General Purpose tier” and “Business Critical”.

I created an Azure SQL Hyperscale 2vCores, created table with

[2019-08-01 09:41] SwathiDhanwada-MSFT commented on #36267
[Azure Powershell Az module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.5.0) is the intended Powershell module for interacting with Azure. For more  information between the Azure Az and AzureRM, kindly refer [this](https://docs.microsoft.com/en-us/powershell/azure/migrate-az-1.0.0?view=azps-2.5.0) document.

As the Azure Az module is intended Powershell mod

[2019-08-01 09:41] #36267 closed

[2019-08-01 09:42] hf-kklein opened #36289 "Section "Trigger - C# example": Example is not compiling, because `EventData.Body` has Type `ArraySegment<byte>`"
Instead of
[code]
you have to use
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b24ff8d-a59e-01e0-205d-ac777f06bb7a
* Version Independent ID: f2106a8a-28fe-ebdf-525e-1d93013778fa
* Content: [Azure Event Hubs bindings for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings

[2019-08-01 09:43] MWielen commented on #26707
Hi,

I want to set recurrence schedule to 1st of month starting at 03:00 AM
When I try to save the following JSON only monthDays is saved but hours and minutes is lost when saving.

"triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 1,
                    "schedule": {
                        "minutes"

[2019-08-01 09:43] sakaldeepyadav opened #36290 "Associate your Microsoft Partner Network (MPN) ID with Azure Lighthouse"
It has mentioned _"You can associate your Microsoft Partner Network (MPN) ID with your onboarded subscriptions to track your impact across customer engagements."_

But there are no resources to guide how to put MPN ID for entire tenants while onboarding the customers/tenants using Lighthouse.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-01 09:43] SadiqhAhmed-MSFT commented on #36188
@mayurigupta13 Could you please review this request and update the document if needed?

[2019-08-01 09:45] SadiqhAhmed-MSFT commented on #35970
@jeffwmiles We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 09:45] #35970 closed

[2019-08-01 09:46] tdihp opened #36291 "Egress traffic scenario"
We found that when using multiple node pools, only the first nodepool is configured in loadbalancer, thus the [static egress IP](https://docs.microsoft.com/en-us/azure/aks/egress) article doesn't apply.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c420b2c-e868-9a6a-49fb-913f2cd007ef
* Version Independent ID: 5c543e0

[2019-08-01 09:56] AmanGarg-MSFT commented on #36269
@NagaCSC Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-08-01 09:57] AmanGarg-MSFT commented on #36270
@shashankkr Thank you for the question! We are investigating this and will get back to you shortly.

[2019-08-01 09:58] ToMakeSense opened #36292 "Inaccurate template regarding the access control configuration"
The tempalte in [Restrict IP ranges in Azure Resource Manager template](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#restrict-ip-ranges-in-azure-resource-manager-template) section is inaccurate, I checked it via [Azure Resource Explorer](https://portal.azure.com/#blade/HubsExtension/ArmExplorerBlade). Taking "Only other Logic Apps" as an exmaple, It should be t

[2019-08-01 09:59] AmanGarg-MSFT commented on #36272
@MoRMongol Thank you for the question! We are investigating this and will get back to you shortly.

[2019-08-01 10:00] AmanGarg-MSFT commented on #36021
We will now close the issue . Should you have any query with specific document please open a new ticket providing the reference to the document and tag me on the same and we will help you further on the same.

[2019-08-01 10:00] #36021 closed

[2019-08-01 10:04] DeveloperBeginner commented on #36140
Is there no way to get it working currently?

[2019-08-01 10:04] IanKemp opened #36293 "Azure Functions: unable to find reference page for function.json file"
There is a page documenting the `host.json` file at https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json but I cannot find a similar reference for the corresponding `function.json` file. The closest page is https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference but it is nowhere near as detailed as the one for `host.json`.

This page: https://github.com/Az

[2019-08-01 10:05] squasta opened #36294 "There is a simple way to schedule a pickup"
I followed this documentation to schedule a pickup in Europe
"Step 3 - If you are returning the device in Europe with DHL, request for pickup from DHL by visiting their website and specifying the airway bill number.
Step 4..."
It is really complicated to find the right page especially if DHL Express Web site is in local language. I spend more than 15 minutes to find the right URL.
And there is a e

[2019-08-01 10:07] SuperSing opened #36295 "Downtime for Managed Instance"
Hi, Scaling up/down of a Managed instance can take upto 2 hours. How much downtime can we expect and at which stage of the process? Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de2297ea-5eaa-8f20-fc5a-4fa4c8d92fde
* Version Independent ID: c42a2970-32af-381b-6746-a82953b7dece
* Content: [Azure SQL Database S

[2019-08-01 10:08] MarkFeetham-LessAnnoyingIT commented on #35004
You cannot create a provisioning package with the requirements given at the top of this doc. Requirements need to have added
a) Windows Configuration Designer required for creating a provisioning package
b) Windows Designer needs to be installed on Windows 10 1903 or later.
Without these - wont work.

[2019-08-01 10:15] tony-gutierrez commented on #36268
@DashleenBhandari-MSFT did you even read the issue? It happens when when you tell the wizard to create a NEW EMPTY resource group.

[2019-08-01 10:17] ToMakeSense commented on #36292
Aother thing is the "Export template" blade can't re-generate the section regarding "accessControl", it will better if it could as powerful as [Azure Resource Explorer](https://portal.azure.com/#blade/HubsExtension/ArmExplorerBlade)

Besides, the release notes in "Release notes" has not been updated for a long time. if it is no longer updated, it is better to remove it(I suddenly have an idea , Cr

[2019-08-01 10:17] xNiklasJern opened #36296 "Device restrictions"
On Device settings you are able to set the amount of devices a user can enroll, this can also be set via Intune &gt; device enrollment &gt; enrollment restrictions. Whats differs these two? and what trumps the other?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8119688-e88d-2916-3dcf-bf777a5fc80c
* Version Independe

[2019-08-01 10:22] ram-msft commented on #36036
@thecpshah Could you please create a support ticket if you have a support plan under your Azure subscription account? If not, please feel free to send us an email at Azcommunity@microsoft.com with your Azure subscription ID and URL of this thread. We will help you to enable one. Thank you.

[2019-08-01 10:30] umutge commented on #35013
Apologies for late response.
With regards to @FrankHu-MSFT question about what is not working;
Email in 7th step (Your access to [access package] expires in X day(s)) is not firing.

[2019-08-01 10:36] rayne-wiselman commented on #36194
@SadiqhAhmed-MSFT - please assign to me

Thanks for your feedback! You can follow the latest updates on https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-whats-new

[2019-08-01 10:37] babusalamkorad opened #36297 "Do we have a mobile apps to connect from andriod and Ios"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-08-01 10:40] ChungEnYu commented on #35998
I found out that I miss installing one of the extension, now there's no problem. Thanks for your advises!

[2019-08-01 10:40] #35998 closed

[2019-08-01 10:43] danielDMP opened #36298 "Sample Size"
What is a sample size?
What does sample size of 4 mean? (4 bytes, 4kb, something else?)
Please give a more descriptive explanation of sample size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e3cc5d9-df26-b935-9e59-c31c9ad8573b
* Version Independent ID: a06afd84-585a-fae2-ead4-c53f85f0dffb
* Content: [Backends and b

[2019-08-01 10:57] wukun2015 commented on #36027
Any update, please?

[2019-08-01 10:59] Sam-SFO opened #36299 "AZCopy from OnPrem"
"You can use the AzCopy copy command to upload files and directories from your local computer."   It is Not clear where is the local computer - is it on Azure or can it be On Prem also?

AzCopy documentation states "can use to copy data to, from, or between storage accounts." So how is "Local Computer" figuring in?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-08-01 10:59] ManojReddy-MSFT commented on #35371
@aaazzz Thanks for the sharing the detailed information. I am glad you were able to get past this

[2019-08-01 10:59] #35371 closed

[2019-08-01 10:59] yevhen-miro opened #36300 "Sample script to stop and restart triggers and clean up"
I am trying to deploy this clean up script in the DevOps and getting following error message:
"The term 'Get-AzDataFactoryV2Trigger' is not recognized as the name of a cmdlet, function, script file, or operable program."

I would expect, that the DevOps agent machines already have all necessary PS libraries.
Did I miss something in the script or in my dev ops configuration?

Thanks for you help

-

[2019-08-01 11:01] ManojReddy-MSFT commented on #36077
@dev-parihar  I am closing this issue as we are discussing this over email.

[2019-08-01 11:01] #36077 closed

[2019-08-01 11:01] sunnynazar commented on #36210
I have found the culprit for this issue , which is the encryption extension.
This extension is somehow unmouting the disk becuase of which other extensions get into failed state and as soon it does that i get disconnected from the machine and i am unable to login.

I tried to debug encryption extension but its hard to understand why it's doing like that.
I have been using the same code for windows

[2019-08-01 11:07] ManojReddy-MSFT commented on #36066
@v-labens Can you send me the steps or the doc which talks about how to  to connect a office 365 group to dynamics team ?
I  would like to test this in my lab and escalate this to the product team accordingly.

[2019-08-01 11:10] ChiragMishra-MSFT commented on #36300
@yevhen-miro Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-08-01 11:12] win2000b commented on #35910
It says at the bottom
If you have any feedback, please post it to the Azure Active Directory Feedback Forums or contact us for any questions.

links in the email are:
Azure Active Directory Feedback Forums =  https://azure.microsoft.com/email/?destination=https%3A//feedback.azure.com/forums/169401-azure-active-directory/category/165591-azure-ad-connect-health&p=bT1jYzlkODM0MC05ZjM2LTQ1YzYtOWUzOS0y

[2019-08-01 11:13] ChiragMishra-MSFT commented on #36300
@yevhen-miro As mentioned in the doc - To install the latest version of Azure PowerShell, see [Install Azure PowerShell on Windows with PowerShellGet](https://docs.microsoft.com/powershell/azure/install-az-ps).

[2019-08-01 11:14] ManojReddy-MSFT commented on #35547
@Girishvtm I was not able to find much about this. My testing with the syntax provided by  Joe worked as expected. This is probably because i have small number of users in my lab.

I will try to test this more over the weekend and will get back to you on Monday.

[2019-08-01 11:14] win2000b commented on #35910
![ADFS](https://user-images.githubusercontent.com/22396470/62289179-f2c92880-b455-11e9-8787-1fb7a645a29c.jpg)

Attached an image of the email

[2019-08-01 11:16] jeevansd commented on #33099
@v-viinde and @v-nagta Can you please correct the Identifier value in this doc as stated above? I think this got changed in some other updates.

[2019-08-01 11:18] ManojReddy-MSFT commented on #35370
@Statowfiq We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-08-01 11:18] #35370 closed

[2019-08-01 11:20] AjayKumar-MSFT commented on #34979
@DeepGit01, Thanks for sharing your valuable feedback for doc improvements, I would encourage you to share the feedback on the same doc (https://docs.microsoft.com/en-us/azure/app-service/environment/create-ilb-ase#dns-configuration) for visibility.

[2019-08-01 11:24] jeevansd commented on #36282
@v-viinde and @v-nagta Can you please add this note in the doc?

[2019-08-01 11:25] jeevansd commented on #36282
@chetansriv For tracking.

[2019-08-01 11:30] chainhead opened #36301 "Clarity - Service Endpoint for MySQL exists or not?"
Under *Terminology and description*, *Virtual Network Service Endpoint*, there is,

&gt; It is important to note when applying the Microsoft.Sql service tag to a VNet service endpoint it will configure service endpoint traffic for all Azure SQL Database, Azure Database for MySQL and Azure Database for PostgreSQL servers on the subnet.

Then, under *C. Cannot yet have Azure Database for MySQL on a

[2019-08-01 11:31] chainhead opened #36302 "Clarity - Service Endpoint for MySQL exists or not?"
Under *Terminology and description*, *Virtual Network Service Endpoint*, there is,

&gt; It is important to note when applying the Microsoft.Sql service tag to a VNet service endpoint it will configure service endpoint traffic for all Azure SQL Database, Azure Database for MySQL and Azure Database for PostgreSQL servers on the subnet.

Then, under *C. Cannot yet have Azure Database for MySQL on a

[2019-08-01 11:37] skonchada opened #36303 "Is this step necessary if I use managed Azure API for FHIR instead of the FHIR server?"
Sorry this article is a bit confusing, I am trying to follow the steps in tutorial "Access FHIR API with Postman" and there are several attributes are needed for getting access token. Seems I need to go these registration but at the same time one of the closed comments you say this is needed only for FHIR server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-08-01 11:38] SumanthMarigowda-MSFT commented on #35999
@jakedurell Firstly apologies for the delay!
As you know 500 is something an unknown error and hence processing any actions which keep throwing 500 even after the retry. Can you retry and let me know the status

[2019-08-01 11:39] SumanthMarigowda-MSFT commented on #36299
@Sam-SFO Thanks for your question. We are checking on this and will respond to you soon.

[2019-08-01 11:40] skonchada opened #36304 "In the scope section do I need to add similar to "patient$*.read" for every FHIR resource?"
Assuming this step is necessary (please see my other question) do I need to add scope for every FHIR resource? such as Patient, Claim, Questionnaire etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5988a84f-de28-e2e4-f14b-c162bf71a380
* Version Independent ID: e4f18f1a-8fdb-a68c-36a4-5030f911aecd
* Content: [Registe

[2019-08-01 11:46] jeevansd commented on #34684
@v-viinde This is good. Lets close this.

[2019-08-01 11:46] jeevansd commented on #34684
#please-close

[2019-08-01 11:46] #34684 closed

[2019-08-01 11:51] KeithTemplin commented on #21170
I would agree with @gjustice that it is too vague.  Do we allow to the Public IP of the Application gateway or the entire AG subnet?  Examples of this configuration would help to lock down but allow proper monitoring.

[2019-08-01 11:51] MWielen opened #36306 "Azure LogicApp recurrence schedule first of month specific time not saved to JSON file"
Hi,

I want to set recurrence schedule to 1st of month starting at 03:00 AM
When I try to save the following JSON only monthDays is saved but hours and minutes is lost when saving.

"triggers": {
"Recurrence": {
"recurrence": {
"frequency": "Month",
"interval": 1,
"schedule": {
"minutes":[0],
"hours":[3],
"monthDays": [
1
]
},
"startTime": "2019-08-01T03:00:00Z",
"timeZone": "UTC"
},
"type": "Recu

[2019-08-01 11:54] sachindedhia commented on #35192
@KranthiPakala-MSFT , I'm not sure how did you resolved this. We are still having issues. I've attached screenshot of our linked service and dataset. The linked service sometimes connect or gives an error but dataset is always give us the same error.  please could you check this for us.

Not sure if we are missing some component on the integration runtime machine?

including @whitmla.

![DataSet E

[2019-08-01 11:59] KeithTemplin opened #36307 "NSG and Public IP"
need info on locking down the NSG / WAF when using a public IP.  Which service tags / source / destinations need to be explicitly defined before the deny all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a592c5-5d16-e44d-d6c7-5d0b2c0833c4
* Version Independent ID: dd9d601c-5d4b-f1bc-01df-7e1d6b57d0da
* Content: [He

[2019-08-01 12:02] msrini-MSFT commented on #36298
@danielDMP , Here sample size is the number of probes sent backend pool is to be considered for the backend health evaluation.

It is the not the size in terms of bytes or Kilo-Bytes.

If you select your sample size as number 4 and you select 2 as successful samples, and the probe interval is 30 seconds, then AFD will look for first 4 samples for the period of 4*30=120 seconds, and check if there

[2019-08-01 12:07] #36298 closed

[2019-08-01 12:07] theheatDK opened #36308 "Can this be done via PowerShell?"
Hi,
Is it possible to integrate activity logs with log analytics via PowerShell?

Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Azure Active Directory logs to Azure Monitor logs](https:/

[2019-08-01 12:11] msrini-MSFT commented on #36307
@KeithTemplin , Detailed explanation of adding an NSG to an Application Gateway in V1 or V2 SKU is explained here in this documentation: https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#prerequisites

If you have any further questions, please let me know.

[2019-08-01 12:15] theheatDK commented on #13417
I don't think there is a general way for Tenant logs. As far as I could google it is not even possible for AAD:
https://david-obrien.net/2018/12/azure-ad-api-logs-flaws

[2019-08-01 12:16] tkumark opened #36309 "How do I query data once data is sent to Application insights"
I do not see any information how to query data in Application Insights once data is sent to Application insights. I do not seem to see any data in Application Insights
Below is what I have configured
"WadCfg": {
                  "DiagnosticMonitorConfiguration": {
                    "overallQuotaInMB": "50000",
                    "sinks": "applicationInsights",
                    "EtwProviders

[2019-08-01 12:24] rajrao opened #36310 "MySql with up whitelist"
Hi, is MySQL running on Amazon with IP whitelist considered similar to a db that is not publicly accessible and so needs a self hosted run time? Would be nice if this page could clarify this often used scenario. And if it's not, it would be good to get the IP range that one should whitelist in MySql to allow adf access.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-08-01 12:33] PedroPerezElastic opened #36311 "Region availability"
Hi folks,

I have just checked and I was able to deploy a zone resilient gateway pair in EastUS2, whilst this region is not listed here: https://docs.microsoft.com/en-us/azure/vpn-gateway/about-zone-redundant-vnet-gateways#what-regions-are-available-for-me-to-use-the-new-skus

I hope that means they're now available everywhere! :)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-08-01 12:38] davidjrh opened #36312 "SSL bindings"
I have moved today two Azure Web Apps with certificates between different subscriptions without having to delete the bindings of the 3rd party SSL certificates. Is that needed anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 951364cb-7f88-a6c3-86e4-7615372ca9a8
* Version Independent ID: 30482823-65e9-3e19-b18f-7

[2019-08-01 12:42] aodugga commented on #36226
Hi Mike,

Thanks for the update. I’m sure this is a silly question but I’m only here a year in MS so please forgive my ignorance 😊
Where do I see the changes submitted? If I check the document, it looks the same as before.

Kind Regards/Cordialement,
Aoife
[cxplogo]
[A picture containing clipart  Description automatically generated]

From: Mike Ubezzi <notifications@github.com>
Sent: Thursday 1 Au

[2019-08-01 12:43] rabbboudi opened #36313 "Azure App Service Isolated reservation billing not clear"
[Enter feedback here]
Can we have more details about the billing ? how is it cost efficient (ex. percentage of savings for each instance size) ? I couldn't find it in the Azure calculator
Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb1c7712-7798-3505-4545-b44cd9870034
* Version Independent ID: 49bd2e58-0d17

[2019-08-01 12:45] sachindedhia opened #36314 "Data Factory v2 Web Table connection - Linked to the issue -35192"
Please refer to this issue https://github.com/MicrosoftDocs/azure-docs/issues/35192

The solution hasn't worked as per the resolution provided.

@KranthiPakala-MSFT  , I'm not sure how did you resolved this. We are still having issues. I've attached screenshot of our linked service and dataset. The linked service sometimes connect or gives an error but dataset is always give us the same error. ple

[2019-08-01 12:46] msrini-MSFT commented on #36311
@PedroPerezElastic , Thank you for your feedback. I will take a look and get back to you shortly.

[2019-08-01 12:47] ahuggins-nhs commented on #36070
@KalyanChanumolu-MSFT That is a garbage answer.

The response should not be "Let me clarify here in this issue as a comment". It should be "OH!! The documentation is confusing! LET ME UPDATE THE DOCUMENTATION TO CLARIFY SO THAT WE NEVER HAVE THIS ISSUE AGAIN."

Are you looking for me to update the documentation with a pull request? What's the pipeline here so that this never happens again?

[2019-08-01 12:49] mwdjwan opened #36315 "Azure IT Service Management Connector - Automation FAIL"
We want to deploy this solution in an automated way. whilst this is easy to do with the ITSM component and join it to log anallytics the following steps aren't documented.

1. creating a new connection from ITSM to servicenow. there is NO documentation on how to accomplish this through automation.

2. need to trigger a "sync" from the ITSM solution. if this is not done then we are forced to wait f

[2019-08-01 12:53] msrini-MSFT commented on #36311
@PedroPerezElastic , I just validated, and there are few more regions which started supporting Zone redundant gateways. I will collect all the regions and edit the documentation accordingly.

[2019-08-01 13:02] ChiragMishra-MSFT commented on #36310
@rajrao Thanks for the question. We are investigating into the issue and will update you soon.

[2019-08-01 13:08] PramodValavala-MSFT commented on #36289
@hf-kklein Thanks for catching that! We will review and update accordingly.

[2019-08-01 13:09] ognyandim opened #36316 "Azure Funx docs say : "There is no supported API for programmatically obtaining function keys.", but there is."
[Just one line above this heading](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook#api-key-authorization) the docs say :

but [here](https://markheath.net/post/managing-azure-function-keys) there is a way to achieve it.

Is it described as _not supported_ because this way of obtaining the keys is not supported by Microsoft and is hidden for the general public

[2019-08-01 13:18] giovannifl opened #36317 "Option to backup DBs in a different place"
It's written that "If you delete an Azure SQL Database server instance, all its databases are also deleted and cannot be recovered. There is currently no support for restoring a deleted server."

So basically this mean that databases backups are stored within the Azure SQL DB server instance. Correct ?
Would not be possible to also backup DBs on something different (i.e. Azure Storage) so that in

[2019-08-01 13:23] lukepuplett opened #36318 "Please discuss checkpointing"
Can you talk about how the job stream processor stores the offset and what would happen if the offset could not be stored for some reason but processing had already occurred. Would the event be reprocessed again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8228116-e7ad-aa9f-5247-55344f11977a
* Version Independent I

[2019-08-01 13:26] gldraphael opened #36319 "The default value for PunctuationMode is not mentioned"
The default value for PunctuationMode is not mentioned in the table here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription#configuration-properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3

[2019-08-01 13:31] rothja commented on #36248
@tiagocostapt I think Cephas might be the best person to investigate which SLA is accurate. @cephalin  could you take a look at this app service SLA issue? #assign:@cephalin. Thanks!

[2019-08-01 13:31] PRMerger14 commented on #36248
cephalin. is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-08-01 13:31] rothja commented on #36248
#assign:cephalin

[2019-08-01 13:33] lossenfort opened #36320 "NOT ABLE TO LOGIN to Outlook 365?!!"
NOT ABLE TO LOGIN NO CODE OR PHONE CALL IS SENT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-6917638804c5
* Content: [Troubleshoot two-step verification - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-direct

[2019-08-01 13:40] NavtejSaini-MSFT commented on #36053
@haokanga At this point we are going ahead and closing this issue. Thanks again for the feedback and we wish you will keep providing the same.

[2019-08-01 13:40] #36053 closed

[2019-08-01 13:44] #22771 closed

[2019-08-01 13:44] pgenova commented on #17426
10 months and you can't change a picture???

[2019-08-01 13:50] CeciAc opened #36321 "リンク修正希望"
@KeiroKamioka0000 commented on [Wed Jul 31 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2708)

冒頭の[ Azure アプリケーションのディザスター リカバリーと高可用性]のテキストに記載されているURLがデッドリンクになっています。
修正お願いします。

Translation:
The URL described in the text [Disaster recovery and high availability of Azure application] at the beginning is dead link.
Please fix it.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.micro

[2019-08-01 13:54] yevhen-miro commented on #36300
@ChiragMishra-MSFT thanks for a quick reply.
I followed the recommendation and tried to install modules within my PS Task in DevOps, but it seems that the current AZ Module release is still buggy. It did not work with the latest one, so I changed it to 2.4.0 and could go 2 lines further...but still the script, that was posted could not be deployed.
![image](https://user-images.githubusercontent.co

[2019-08-01 14:03] NavtejSaini-MSFT commented on #36295
@SuperSing Thanks for your the question. We will work and respond to you regarding the same.

[2019-08-01 14:05] NavtejSaini-MSFT commented on #36301
@chainhead Thanks for the feedback and we will check this and get back to you regarding the same.

[2019-08-01 14:06] #36091 closed

[2019-08-01 14:07] PedroPerezElastic commented on #36311
@msrini-MSFT , thanks a lot!

[2019-08-01 14:07] NavtejSaini-MSFT commented on #36317
@giovannifl Thanks for your query. We are looking into this and will get back to you regarding the same.

[2019-08-01 14:11] NavtejSaini-MSFT commented on #36302
@chainhead We are closing this issue as this is the duplicate of the issue:
Clarity - Service Endpoint for MySQL exists or not? #36301
We will be working on above issue and please redirect all your questions and comments to issue 36301

[2019-08-01 14:11] #36302 closed

[2019-08-01 14:18] johnwildes commented on #28793
@MicahMcKittrick-MSFT , @cynthn any thoughts?

[2019-08-01 14:18] Karishma-Tiwari-MSFT commented on #28080
@jhlosin The product team member has answered this in this comment : https://github.com/MicrosoftDocs/azure-docs/issues/28080#issuecomment-494822274

Please post this as a product feedback [here](https://windowsvirtualdesktop.uservoice.com/forums/921118-general). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback"

[2019-08-01 14:18] #28080 closed

[2019-08-01 14:18] johnwildes commented on #29620
@gsilva5, @SubhashVasarapu-MSFT Any progress?

[2019-08-01 14:19] johnwildes commented on #31198
@femsulu , @sujayt any update you can provide?

[2019-08-01 14:20] olileger opened #36322 "Please clarify On-premise access & Kubenet"
Hello

The documentation is stating : "On-premises access using VPN or Express Route : Works when initiated by pod (when using Kubenet)".
Coud you please clarify why it won't work when traffic is initiated from on-premise ? I believe it will depends of the type of K8s Service used and should work properly if using NodePort, am I wrong ?

Olivier

---
#### Document Details

⚠ *Do not edit this sect

[2019-08-01 14:22] Karishma-Tiwari-MSFT commented on #36274
Thanks for the question. We are currently investigating and will update you shortly.

[2019-08-01 14:23] johnwildes commented on #31198
Confirmed that issues still exist in this document referencing CMDLETS that don't exist.  Document hasn't been updated since 11/2018

[2019-08-01 14:25] andrewgill-draysontechnologies opened #36323 "You can also get the error "Oops! We encountered an unexpected error while saving your data. Please try again later.""
You can also get the error "Oops! We encountered an unexpected error while saving your data. Please try again later." There appears to be no recourse to fix this, and help directs to this page which does not mention this error.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ffaa109-a657-db74-2a16-a59b481a0894
* Versio

[2019-08-01 14:32] awarberg opened #36324 "Service resolves on local development but not on the App Service (multiple FunctionsStartup classes)"
I am working with an issue where I can register and resolve a service without issue on my local development environment, but the same service cannot be resolved when it is executed in the real App Service ("Unable to resolve service xxx").

For historical reasons the solution contains multiple projects (assemblies) each with a subset of the HttpTriggers and TimerTriggers that make up the solution.

[2019-08-01 14:36] giovannifl commented on #21458
Hi,
I'm experiencing the same issue.
In my case, my region is UK South.
Any update ?

Thanks in advance

Giovanni

[2019-08-01 14:39] CeciAc commented on #36321
こんにちは、@KeiroKamioka0000
 ご協力に深く感謝いたします。お寄せいただいたフィードバックは、オリジナルのドキュメントに関係しています。
 そのため、この問題を英語版のリポジトリに移行します。この問題の状態については、こちら https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2708 を確認してください。
 記事の品質向上にご協力いただき誠にありがとうございました。
敬具 ,
Microsoft DOCS International Team

[2019-08-01 14:56] MicahMcKittrick-MSFT commented on #36322
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 15:01] pbburkhalter commented on #33099
@kulbirjandoria This is also incorrect. That is a problem in the documentation but not what this original issue was opened for.

[2019-08-01 15:03] benjamin-goldman commented on #8390
so im running into an issue with this.  i just read through this thread and found a TON of false information.

For instance:
@tfitzmac
"Microsoft.web/certificates is the resource type for 3rd party certificates."

not always true:  if you have an app service certificate wildcard and assign a cname and name to an app service - you get a resource of this type that is ABSOLUTELY a microsoft resource

[2019-08-01 15:03] benjamin-goldman commented on #8390
i resolved my issue - so im not going to go bonkers with this.

[2019-08-01 15:09] sav169 opened #36325 "User Profiles Sync from Azure AD to Sharepoint 2016 on prem"
Hi, I have followed this document and successfully implemented Azure AD Authentication for SharePoint 2016 on prem and enabled MFA. Its working fine, however the user profile sync for these profiles does not work as I cant create a sync connection inside the on-prem User profile service application for Azure AD. Can you point me to any document which allows us to achieve this.

---
#### Document D

[2019-08-01 15:10] nhoj01 commented on #31348
What's the work around for android phones????

[2019-08-01 15:15] danvalero commented on #29664
Hi @ShenaGunda, I have the same opinion that @mjrousos. The document says that "Azure Cosmos containers have a minimum throughput of 400 request units per second (RU/s)" but the mínimum for a container is 100 RU/s. This shuold be made clear in this document.

[2019-08-01 15:17] #36099 closed

[2019-08-01 15:17] RyanHill-MSFT commented on #36099
@XamarinTounsi the only reference I found to Microsoft.Azure.Mobile.Client.Files was in the [handle errors](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-how-to-use-client-library#errors) section. Since that section is more about handling errors and not uploading files, the use of it is not relevant to this doc.

@elamalani could provide additional details; ho

[2019-08-01 15:20] danvalero opened #36326 "What is the throughput that's allocated to a partition?"
The document mention that "Requests to the same partition key can't exceed the throughput that's allocated to a partition" I understand that 100 RU7s is the minimum for a container, but I can not find anything about the throughput allocated to a partition.
I think, here you mean "Requests to the same partition key can't exceed the throughput that's allocated to a container"

---
#### Document Deta

[2019-08-01 15:21] nhoj01 opened #36327 "switching phone on adroid"
I use the authenticator app on Android, mfa is required for my work, we use office products so I want with a Microsoft solution.

I'm not getting a new phone (another android) and need to move the app over, how do I do this? Why is there a method for doing for ios and nothing for android? I'm missing something right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-08-01 15:21] JosephCason opened #36328 "Encryption page for ADLS Gen 2 is missing"
There doesn't appear to be an equivalent page for talking about the details for encryption for ADLS Gen2 as Gen 1
https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-encryption

Can we assume the same information applies for ADLS Gen 2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41611e5e-da21-39f

[2019-08-01 15:25] danvalero commented on #34930
Hi,
What should be done in the case I want to change the value for the partition KEey for a document ? Should I delete the original document and insert a new one? From the issued described by @StefanSchoof it seems that replacing the document is not enough?

[2019-08-01 15:26] nathananderson94 opened #36329 ""Select Training Data" page only allows me to select one dataset for training"
I have uploaded about 15 datasets to Custom Speech, intending to train a model on all of them. The documentation says "From the Select training data page, choose one OR MULTIPLE audio + human-labeled transcription datasets that you'd like to use for training", however that page only allows one radio button to be selected at a time, so I can only train on one dataset per model.

---
#### Document D

[2019-08-01 15:26] ManojReddy-MSFT commented on #36296
@xNiklasJern, In order to enroll a device to Intune, Azure AD registration, is the first step. You can just have devices registered to Azure as well.  If you cross the limit set from the Azure portal you will not be able to enroll the device to Intune as well. So, the setting in Azure AD should be higher than the setting in Intune.

[2019-08-01 15:29] eversonamancio commented on #36242
Hi Ajay,

This feedback is applicable to the following doc:

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/itsmc-service-manager-script

Thanks

Everson

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: AjayKumar-MSFT <notifications@github.com>
Sent: Thursday, August 1, 2019 2:00:37 AM
To: MicrosoftDocs/azure-docs

[2019-08-01 15:31] Martony78 commented on #26598
OK thank you for your reply.
You should tell your MS fellow Taehee Lee to remove the blog post posted last january, it is kind of confusing and made me and my client secops team lose time.
https://blogs.technet.microsoft.com/taehee/2019/01/24/workplace-join-device-registration-to-azure-ad-for-local-domain-joined-windows-7-and-2012/

[2019-08-01 15:32] esung22 commented on #36328
Including some folks on the ADLS Gen2 team.

From: JosephCason <notifications@github.com>
Sent: Thursday, August 1, 2019 8:22 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ellick Sung <elsung@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Encryption page for ADLS Gen 2 is missing (#36328)

There doesn't appear to be an equivalent page

[2019-08-01 15:55] NavtejSaini-MSFT commented on #36301
@chainhead As the article mentions "A virtual network rule for your Azure Database for MySQL server is a subnet " and "Azure Database for MySQL service is not yet among the services that can be assigned directly to a subnet"
These lines explain that Azure DB for MySQL right now cannot be part of any subnet directly so the access to your Virtual Network subnet has to be given using the Virtual Netw

[2019-08-01 16:01] shashankkr opened #36330 "Output topic level authorization key"
How can we output a topic level authorization key?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4249cca5-05cd-cf9e-10f9-b9ed6b20e99b
* Version Independent ID: fbe43e70-d4ba-0b14-1649-2a913c104a61
* Content: [Create a Service Bus authorization rule using Azure Resource Manager template](https://docs.microsoft.com/en-u

[2019-08-01 16:01] MashaMSFT commented on #24229
Hi @SimonGivan, thanks for the clarification! I'm not really sure how that's the case, as that account should have been given access to the SQL Server when the SQL Server VM was created. Do you still have access to the machine? If so, would you mind zipping up all of your error logs and emailing them to me? My email is masha.thomas@microsoft.com.

Thanks!

[2019-08-01 16:01] JnHs commented on #36290
Hi @sakaldeepyadav - This association is not done as part of the onboarding process described here. Info about how to do this is in the linked topic - https://docs.microsoft.com/en-us/azure/billing/billing-partner-admin-link-started (and note that if you onboard a customer by publishing a managed services offer as described at https://docs.microsoft.com/en-us/azure/lighthouse/how-to/publish-manage

[2019-08-01 16:02] shashankkr commented on #36270
Thank you @AmanGarg-MSFT

[2019-08-01 16:07] hansenms commented on #36303
It may be confusing because the answer is that it depends. You don't absolutely need to create a resource application registration for your service unless you are using SMART on FHIR, in which case, the SMART on FHIR spec requires that the Audience is the same as the FHIR server URL.

So if you are using the managed service, you can support some use cases without a dedicated resource application r

[2019-08-01 16:08] chainhead opened #36331 "User name format does not work with ProxySQL"
Our current set-up on AWS uses ProxySQL (https://proxysql.com/) in front of a MySQL on AWS RDS. Refer https://github.com/chainhead/mysql-demo for an example. However, on Azure, the following command does not work:
`mysql -h 127.0.0.1 -P6032 -u dbuser@server -p` It returns an error as `'dbuser'@'server'@'localhost'` not having access.

Note that, the host and port point to the ProxySQL server that

[2019-08-01 16:10] #36271 closed

[2019-08-01 16:11] tchristiani commented on #24842
unable to reproduce issue
#please-close

[2019-08-01 16:11] #24842 closed

[2019-08-01 16:12] tchristiani commented on #22901
Sample has been updated to address this issue.
#please-close

[2019-08-01 16:12] #22901 closed

[2019-08-01 16:12] hackhnaton1994 commented on #10962
Fuck You

[2019-08-01 16:13] hackhnaton1994 commented on #10962
bug alll AES ALERT TO AZURE AES platfrom

[2019-08-01 16:13] robhardman opened #36333 "Is it supported on Windows 10 1903?"
According to the table at the top of the page, specifically footnote (1), Windows 10 1903 is not supported for file share mounting. Please update article to reflect recent releases of Win10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-

[2019-08-01 16:15] hackhnaton1994 commented on #10962
Warning There Work Spam Owner AES platform remove it

[2019-08-01 16:15] TeeMakk commented on #35483
Hello Karishma/Content Author,

Please is there any update on the concern I raised regarding the ratio of Standard_B12ms, Standard_B16ms and Standard_B20ms based on this document for B-series high memory. Please this is urgent!

[2019-08-01 16:16] valuator18 opened #36334 "Where is the documentation for arguments?"
I followed a link to #azcopy-parameters and it took me to this page but the section is apparently gone. I'm trying to copy files from an Azure DevOps pipeline to an Azure Blob. It says certain arguments are added by default, such as /Y, /Z, V, etc. but no explanation as to what those arguments do and I cannot find documentation for this anywhere.

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-01 16:17] rimman commented on #36326
The throughput provisioned is implicitly divided among the partitions for a container. That's why choosing a good partition key is important to saturate the provisioned throughput and get the best performance and scalability. A good partition key is expected to have the following characteristics:

1. The data distribution is reasonably even across all the keys, i.e., you don’t want to have a selec

[2019-08-01 16:19] v-labens commented on #36066
Hello,

I was told that if it’s not listed here it probably isn’t possible, but it doesn’t say this directly:
https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Foffice365%2Fadmin%2Fcreate-groups%2Foffice-365-groups%3Fview%3Do365-worldwide&data=02%7C01%7CCurtis.Love%40microsoft.com%7C1aeab161492948e8450a08d710700c63%7C72f988bf86f141af91ab2d7cd011db47%7C1%

[2019-08-01 16:20] rimman commented on #29664
@danvalero It is covered here: https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#comparison-of-models but we will add a sentence on this in this doc as well. Thanks.

[2019-08-01 16:21] esung22 commented on #36328
Here is the ADLS Gen2 security document<https://docs.microsoft.com/en-us/azure/storage/common/storage-security-guide?toc=%2fazure%2fstorage%2fblobs%2ftoc.json> which includes encryption.  Thanks!

Stephen

From: Ellick Sung <elsung@microsoft.com>
Sent: Thursday, August 1, 2019 8:33 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; S

[2019-08-01 16:24] YutongTie-MSFT commented on #36319
@gldraphael
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 16:25] YutongTie-MSFT commented on #36329
@nathananderson94
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 16:35] arsenvlad commented on #25007
@JasonWHowell is there now a doc that describes the more complex scenario?

[2019-08-01 16:39] ggailey777 commented on #32855
@DeChrist I've confirmed that WebJobs isn't dependent on the Azure Scheduler service, and have removed the confusing outdated reference.

[2019-08-01 16:42] iainfoulds commented on #36097
I'm a little unsure what you're trying to do, @rexhinvorpsi. The AKS VM nodes aren't necessarily going to pass through any domain-joined benefits to the containers they run. There's also limited actions that you can perform on those VM nodes in a supported manner - https://docs.microsoft.com/en-us/azure/aks/support-policies

Windows Server containers themselves that run on the AKS nodes could also

[2019-08-01 16:58] ggailey777 commented on #32855
Fix has been merged in the private repo #please-close

[2019-08-01 16:58] #32855 closed

[2019-08-01 16:58] bijopunnoose opened #36335 "Issue when running unit tests"
Hi,
I am getting the below error when running storage_account_name_unit_test.go
←[1m←[31mError: ←[0m←[0m←[1m"name" may only contain alphanumeric characters, dash, underscores, parentheses and periods←[0m
my main.tf is  as below,
variable "website_name" {
  description = "testingterratest"
}

module "staticwebpage" {
  source       = "../../../"
  location     = "West US"
  website_name = "${var.we

[2019-08-01 16:58] Mike-Ubezzi-MSFT commented on #36207
@ExarKun1983 This appears to be a authentication issue:

`//SQL Data Warehouse related settings
val dwDatabase = "adbtutorial"
val dwServer = "adbtutorial.database.windows.net"
val dwUser = ""
val dwPass = ""
val dwJdbcPort = "1433"
val dwJdbcExtraOptions = "encrypt=true;trustServerCertificate=true;hostNameInCertificate=.database.windows.net;loginTimeout=30;"`

[2019-08-01 16:58] tsarna opened #36336 "ACU number for DC series?"
No ACU numbers are listed for DC series.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe301d91-d416-fd08-af13-f84b12cee7cd
* Version Independent ID: b668960b-4524-6d97-9ddf-af8beb5ef8ad
* Content: [Azure Linux VM sizes - General purpose](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-general#dc-s

[2019-08-01 16:58] WhitWaldo commented on #36012
Hello @jakaruna-MSFT - nope, your example works as expected. Thank you!

[2019-08-01 17:03] tiagocostapt commented on #36248
@rothja Thanks
@cephalin If you need some help or input, please reach out to me.

[2019-08-01 17:03] bijopunnoose commented on #36335
Also I have set the terratest version to 0.12 using Gopkg.toml

[2019-08-01 17:03] danvalero commented on #36326
Thanks for the responde, but just to make sure I understand i present an extreme case

If a have 1000 logical partitions, I need to provision at least 1000 RU/s to the collection, and each partition gets 1 RU/s. is that right?

[2019-08-01 17:06] ethzeus commented on #36031
@sahil839 definitely try using npm install truffle@5.0.5 . Would be really helpful if you share your truffle project too, you can have issues in your contract, migrations or truffle-config.js .. Also you may be not using your Azure Blockchain Member account..  But first try that truffle version and don't forget to require('web3') instead of 'Web3'.

[2019-08-01 17:11] sergaz-msft commented on #36030
Hi @Nicholas-I glad that you are now unblocked! We will pass your feedback to product group and keep track for similar behaviors. The quickstart should work at first tentative with no issues.

+ @alinamstanciu for visibility.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wi

[2019-08-01 17:11] #36030 closed

[2019-08-01 17:12] KranthiPakala-MSFT commented on #36318
@lukepuplett Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-08-01 17:15] msrini-MSFT commented on #36311
@PedroPerezElastic , Here is the list of regions which supports Zone Redundant gateways:

East US
East US 2
West US 2
Central US
Southeast Asia
Japan East
North Europe
UK South
West Europe
France central

Will update the documentation.

[2019-08-01 17:16] Adam-Smith-MSFT commented on #36288
@ssjaronx4 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-01 17:18] theheatDK opened #36337 "How does this compare to the existing two metric agents?"
Hi,
Currently, we have the Windows Diagnostic Extension (WAD) and the InfluxData Telegraf Agent for Linux VMs as described here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-platform-metrics#sources-of-azure-monitor-metrics

Is Azure Monitor for VMs meant to replace them? If not when do you use what?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-08-01 17:19] Adam-Smith-MSFT commented on #36333
@robhardman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-01 17:20] Adam-Smith-MSFT commented on #36334
@valuator18 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-01 17:22] msrini-MSFT commented on #36311
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/84035

Changes will be reflected shortly.

[2019-08-01 17:25] RyanHill-MSFT commented on #35830
@swasifali I wanted to follow up to see if there was any update.

[2019-08-01 17:25] rachel-msft commented on #36226
@aodugga, my apologies. I mixed up the two GitHub issues you created with regards to storage scale down. I will update correctly.

[2019-08-01 17:25] RyanHill-MSFT commented on #35490
@mapoitras I wanted to follow up with you to see if there was any update.

[2019-08-01 17:26] stevebus commented on #34302
Hey @drewf7.  Sorry for the delay..  I tried this today and couldn't reproduce the issue.  I used 'device_ca_1' as my Device CA name (when I generated the cert) and I used "sdb_edge_01"  (sdb are my initials) in the hostname parameter of config.yaml.     I then tried to connect to IoT Edge with the following openssl command (after adding sdb_edge_01 to my /etc/hosts file so it would resolve):

ope

[2019-08-01 17:27] MisinformedDNA commented on #36045
I just created a new Function app in VS and if I add the variable to local.settings.json

[code]

And run locally, then I get the error

How do I set `AZURE_FUNCTIONS_ENVIRONMENT` when testing in VS?

[2019-08-01 17:30] Alberto-Vega-MSFT commented on #35821
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 17:30] #35821 closed

[2019-08-01 17:31] ggailey777 commented on #36270
We don't have these documented yet, but you can find some helpful info here: https://github.com/Azure/azure-functions-host/issues/3994

[2019-08-01 17:33] TiloGit commented on #28117
MFA via conditional access policy is now a requirement for certain MS business partners.
https://docs.microsoft.com/en-us/partner-center/partner-security-requirements
but we need app passwords for various apps. which channel can we escalate this?

[2019-08-01 17:34] mddheeraj commented on #11383
@ng-marcus I have tried what you have recommended to call Graph API and Get the tokens. But it did not work.
Any other way?

[2019-08-01 17:34] AjayKumar-MSFT commented on #36242
@eversonamancio, Thanks for sharing the doc details, we would take a look at this query (review the script) and get back to you shortly. In the interim, could you please just let us know if you're experiencing any specific issue with the existing script available in the document.

[2019-08-01 17:34] MicahMcKittrick-MSFT commented on #28793
@cynthn I know we have had some issues with SIG. Would this be related?

[2019-08-01 17:35] TiloGit opened #36338 "no app password with this?"
how can we generate app password with this?
check also here:  https://github.com/MicrosoftDocs/azure-docs/issues/28117#issuecomment-477362703

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53ea4e70-2931-8691-e9cc-13c72b514d9c
* Version Independent ID: c1aa4a8f-16b2-79ac-edb1-8a87f51a3f7b
* Content: [Conditional Access

[2019-08-01 17:36] kristopherjturner opened #36339 "Parameter DestinationPath not valid for new-guestconfigurationpolicy and new-guestconfiguraitonpackage"
On the insturctions above for running new-guestconfigurationpolcy and new-guestconfigurationpackage the parameter "DestinationPath" is no longer valid.  I am using module version 1.16.0.0.  Just in case it is on my end.  It looks like the parameter is now "Path".  I will request a change and if this is the case it can be approved?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-08-01 17:36] Karishma-Tiwari-MSFT commented on #36158
Just FYI for all that are seeing this issue, the product team member mentioned [here](https://github.com/Azure/azure-cli/issues/9189#issuecomment-517277084) that the aks-preview extension only works with Python 3. The recommendation is to use Cloudshell or Python 3.

[2019-08-01 17:38] Karishma-Tiwari-MSFT commented on #35483
@yashesvi Can you please share your insights on the ratio of Standard_B12ms, Standard_B16ms and Standard_B20ms . Thanks. :)

[2019-08-01 17:39] Karishma-Tiwari-MSFT commented on #36336
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 17:39] rimman commented on #34930
Updating partition key of a document is not supported scenario. Instead customer can read document , delete document and create new document with updated partition key. I hope this helps. Thanks.

[2019-08-01 17:41] #36311 closed

[2019-08-01 17:44] YutongTie-MSFT commented on #36027
@ram-msft Hi Ram, do you have any update for this thread? Thank you.

[2019-08-01 17:44] theheatDK opened #36340 "Windows Diagnostic Extension?"
Hi,
Windows Diagnostic Extension is mentioned but as far as I can figure out it can not send data to Azure Monitor. On this page:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/extensions-diagnostics
It is mentioned that that data can be sent to an Azure Storage account or an Azure Event Hub.
Am I missing something?
Regards Peter

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-01 17:45] SanDeo-MSFT commented on #35903
@lightupdifire Thanks for your feedback. We do not enable WS-Trust Windows endpoints on the proxy i.e. extranet when you use Azure AD Connect to configure Hybrid Azure AD join. Are you using any other tools besides Azure AD Connect?

[2019-08-01 17:51] KrishnaG-MSFT commented on #36309
@tkumark Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-01 17:53] djpmsft commented on #35314
There is no way currently to get the error from an inner activity of an Execute Pipeline activity via the Execute Pipeline Activity's output. This would have to be a feature request. Possible workarounds include:
1. Store error message of activity in child pipeline in storage. Fetch error message in parent pipeline using LookupActivity.
2. 	Add WebActivity call to GET /pipelineruns/{pipelineRunID}

[2019-08-01 17:53] djpmsft commented on #35314
#please-close

[2019-08-01 17:53] #35314 closed

[2019-08-01 17:54] DCtheGeek commented on #36339
#assign:DCtheGeek

[2019-08-01 17:54] KrishnaG-MSFT commented on #36312
@davidjrh Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-01 17:55] DCtheGeek commented on #36339
@kristopherjturner Thanks for the feedback.  I also see you've corrected this in PR #36341, which I'll approve now.  Thanks!

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug'.  #please-close

[2019-08-01 17:55] #36339 closed

[2019-08-01 17:55] DCtheGeek commented on #36339
cc / @mgreenegit

[2019-08-01 17:58] rimman commented on #36326
You should not be concerned with the number of partitions and how RUs are allocated to them if you follow the best practices above. You can start with 400RUs (as the min entry).

There are two concepts to clarify:

- Logical partitions are controlled by the user – and are bounded by 10GB today. These are represented as partition keys – and users are instructed to choose a partition key that (1) di

[2019-08-01 18:02] YutongTie-MSFT commented on #35986
@marcelohsilva Hi, I am going to close this thread. Please tell me if you have any question.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-08-01 18:02] #35986 closed

[2019-08-01 18:02] KranthiPakala-MSFT commented on #36314
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a51b3335-6434-a98a-28b1-75f8e14aa9cd
* Version Independent ID: 6fd36a6f-71a5-4adb-c8e5-da18b43cc176
* Content: [Copy data from Web Table using Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/connector-web-table)
* Content Source: [articles/data-facto

[2019-08-01 18:04] JasonWHowell commented on #25007
@arsenvlad Let's check with @orspod since I'm no longer on this project.

[2019-08-01 18:05] KranthiPakala-MSFT commented on #36314
@sachindedhia Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-08-01 18:05] PatAltimore commented on #36031
@sahil839 I'm a bit at a loss why you can't connect. I tried to recreate the issue thinking it might be a version issue but couldn't reproduce it on a couple of machines. Is it possible the 3200 port is being blocked somewhere?

Pat

[2019-08-01 18:07] larryms commented on #36158
Another comment:  I took a look at [Azure/azure-cli#9189], which looks like it's a different issue:  that issue is about the comment crashing when the cli is calling python2.

My issue #36158 is separate, it's about the documentation showing ip address ranges (e,g, 172.0.0.10/16 ) which aren't being accepted by the aks-preview extension.  My PR to the documentation replaces these with ranges which

[2019-08-01 18:10] sahil839 commented on #36031
I do not think so that it has happened because of this. I checked ports using `sudo lsof -i -P -n `.

[2019-08-01 18:10] Alberto-Vega-MSFT commented on #36321
@KeiroKamioka0000  thanks for reporting this!
I see that the link is:  https://docs.microsoft.com/en-us/previous-versions/azure/dn251004(v=azure.100)

Where there is a note that is retired.

 I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-08-01 18:13] sahil839 commented on #36031
I have just followed the docs. My project has no contracts as of now. It just has a config file which is as per the docs.
BTW I will also try it on some other machine and let you know.
Thanks for the help.

[2019-08-01 18:14] mjcarrabine opened #36343 "What is the Correct Use of Set-AzJitNetworkAccessPolicy to Set Policy for Multiple VMs?"
**Following these steps to set [JIT VM access via PowerShell](https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time#jit-vm-access-via-powershell) has the expected result for VMNAME:**
[code]
Calling `Get-AzJitNetworkAccessPolicy` returns
[code]
**However, following the same steps a second time for VMNAMEB overwrites the first policy for VMNAME:**
[code]
Calling `Get-A

[2019-08-01 18:16] NavtejSaini-MSFT commented on #36317
@giovannifl There is a definitely a way to restore the DB's even if the DB server is deleted. Going to divide the answer into two parts depending on the type of Azure SQL

1) Single and pooled DB's -
You need to configure Long Term Backup(LTR). You will recreate the SQL server instance with the same name and same region but, during the database creation process, select restore from backup. You sho

[2019-08-01 18:21] NavtejSaini-MSFT commented on #36331
@chainhead Thanks for the question. We are looking into this and will get back to you regarding this.

[2019-08-01 18:23] Grace-MacJones-MSFT commented on #21458
Hi @giovannifl, when did you start experiencing this issue?

[2019-08-01 18:27] SubhashVasarapu-MSFT commented on #35925
@m4h3, Any update on screenshot?

[2019-08-01 18:28] Alberto-Vega-MSFT commented on #19568
@JohnRambo90 Node version?

[2019-08-01 18:29] JimacoMS3 commented on #34226
Hi @majikthys,

This issue you reported has now been fixed in the topic:  https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-node-node-c2d#receive-messages-in-the-simulated-device-app,

Please note that, as it states in the topic, you do not need to call the `client.complete()` method if you are using MQTT transport.

Thanks again for your feedback! Please let me know in the next couple of day

[2019-08-01 18:30] Alberto-Vega-MSFT commented on #31502
@BretStateham Since we haven't heard back from you we will be closing this issue for now.
 If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 18:30] #31502 closed

[2019-08-01 18:34] tommparekh commented on #36031
@PatAltimore, thanks. I followed the updated steps and its working fine now. Thank you for your assistance.

[2019-08-01 18:34] MarileeTurscak-MSFT commented on #36275
@VAsHachiRoku
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 18:37] Alberto-Vega-MSFT commented on #22385
@kishan19 I'm sorry about the issue. These tutorials and samples are having a major overhaul coming soon. Adding @dominicbetts for awareness.

[2019-08-01 18:39] MarileeTurscak-MSFT commented on #36338
@TiloGit
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 18:39] giovannifl commented on #21458
Hi Grace,
The first time that I've experienced this issue was last June and I was able to fix it enabling Microsoft.Web  Service Endpoint on the subnet where the target VM was hosted.
Today I've already tried to enable the Microsoft.Web Service Endpoint but the error persist

[2019-08-01 18:40] femsulu commented on #36340
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-08-01 18:40] MarileeTurscak-MSFT commented on #36327
@nhoj01
Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 18:43] femsulu commented on #36313
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.
@yashesvi - is this a question you can assist with ?

[2019-08-01 18:43] Grace-MacJones-MSFT commented on #21458
@giovannifl okay please send us an email at azcommunity@microsoft.com with your subscription ID and the URL of this forum post.

[2019-08-01 18:47] giovannifl commented on #21458
Thanks Grace.
I'll do immediately
I've also opened a ticket with Azure support 3 hours ago butt nobody has yet reached me

[2019-08-01 18:51] mike-urnun-msft commented on #36292
Hi @ToMakeSense - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-08-01 18:52] MartinJaffer-MSFT commented on #35926
Hi Peter, @pes-kapacity .  When you send an email to Github, the picture are stripped out, replaced by their names.  Could you please go to GitHub in your browser and insert your pictures that way?

[2019-08-01 18:53] SanDeo-MSFT commented on #31078
@lightupdifire
The key thing to remember when you are doing a controlled validation for hybrid Azure AD join is to skip SCP configuration using Azure AD Connect. So if you are using AD FS, then you need to configure the required AD FS claims. We recommend you use Azure AD Connect to configure AD FS claims. So when using it, make sure you skip SCP configuration. This way it does not get written in

[2019-08-01 18:53] mike-urnun-msft commented on #36306
Hi @MWielen - Thank you for your feedback! Since this channel is driving improvements towards MS Docs, were you following specific documentation that your feedback is applicable to? If so, could you provide us with its URL?

[2019-08-01 18:55] mike-urnun-msft commented on #36316
Hi @ognyandim - Thank you for your feedback! We will review and update as appropriate.

[2019-08-01 18:55] dgowdy commented on #28117
I have the same issue @TiloGit referred to above with regards to being a CSP partner. How can we resolve this?

[2019-08-01 18:55] giovannifl commented on #36317
Perfect thanks
This item can be closed.
Thanks very much

[2019-08-01 18:56] mike-urnun-msft commented on #36293
Hi @IanKemp - Thank you for your feedback! We will review and update as appropriate.

[2019-08-01 18:57] SubhashVasarapu-MSFT commented on #36217
@edberwick, I believe that the attached image was broken. Could you please reattach it?

[2019-08-01 18:58] mike-urnun-msft commented on #36324
Hi @awarberg - Thank you for your feedback! We will review and update as appropriate.

[2019-08-01 18:59] mike-urnun-msft commented on #36330
Hi @shashankkr - Thank you for your feedback! We will review and update as appropriate.

[2019-08-01 18:59] TiloGit commented on #28117
tip if you have licence (like E3) you can enable here:
https://account.activedirectory.windowsazure.com/UserManagement/MultifactorVerification.aspx?culture=en-US&BrandContextID=O365

After MFA is enabled there you can set app password.

[2019-08-01 19:03] dlepow commented on #35871
@darzu - Thanks for your feedback, which echoes feedback we've heard from other customers (for example, issue https://github.com/MicrosoftDocs/azure-docs/issues/34614). We have a documentation work item to address this in the near future.  In the meantime, please take a look at the container group/instance properties configurable in the [Resource Manager template](https://docs.microsoft.com/en-us/

[2019-08-01 19:09] mahoekst opened #36346 "The JavaScript sample doesn't work, gives error TypeError: this.logger.verbose is not a function"
This one works:

function loggerCallback(logLevel, message, containsPii) {
    console.log(message);
}
var msalConfig = {
    auth: {
        …
    },
    system: {
        logger: new Msal.Logger(loggerCallback,{
            level: Msal.LogLevel.Verbose,
            piiLoggingEnabled: false,
            correlationId: '1234'
        })
    }
};

---
#### Document Details

⚠ *Do not edit this sect

[2019-08-01 19:11] alwaysautomateit commented on #28117
Unfortunately, this doesn't work when MFA through conditional access is enabled. The moment the CA policy is in place the App Password page is gone.

[2019-08-01 19:14] FrankHu-MSFT commented on #36343
@mjcarrabine Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 19:15] FrankHu-MSFT commented on #36325
@sav169 Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 19:15] shashankkr commented on #36270
Hi @ggailey777 Thank you for your response.
This worked for me:   "value": "[listkeys(concat(variables('functionAppId'), '/host/default'), '2018-11-01').functionKeys.default]"
I am new in developing ARM templates. How can I make a call to the function rest api  from within a template to add a new key? Or is it something I have to do in a powershell script?
Thanks again for helping me out.

[2019-08-01 19:15] FrankHu-MSFT commented on #36323
@andrewgill-draysontechnologies Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 19:15] FrankHu-MSFT commented on #36320
@lossenfort Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 19:16] FrankHu-MSFT commented on #36308
@theheatDK Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 19:17] FrankHu-MSFT commented on #36189
@a-christiaens As there hasn't been a response in a while, I will be closing out this git issue now, please reopen this git issue if you have anymore concerns. Thanks

[2019-08-01 19:17] #36189 closed

[2019-08-01 19:18] FrankHu-MSFT commented on #35934
Hello, if you are experiencing this issue, please email
Please send an email to AzCommunity[at]microsoft[dot]com with a reference to this thread and also your Azure Subscription GUID.

I will enable a one-time free support ticket for issues related to this.

That being said I will be closing out this issue now as the git doc issues are meant for issues with the docs.

Thanks!

[2019-08-01 19:18] #35934 closed

[2019-08-01 19:18] iLikeAzureSQL opened #36347 "Purge bad blocks?"
Sometime when an operation is failed it leaves bad blocks on blob storage and the consequence copies will fail on same block (same filename), what's the best way to fixe this issue? I verified if I rename the same file then azopy will successfully copy the file from local to blob, but will fail if keep the original file name!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-08-01 19:19] iLikeAzureSQL commented on #36347
Here is the example of the error:
The transfer failed: The remote server returned an error: (400) Bad Request.
The specified blob or block content is invalid.

[2019-08-01 19:19] stevenwhitej opened #36348 "Incorrect design for usage of WAF custom rules on Front Door"
The design described in this project is not accurate:  https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/frontdoor/waf-front-door-configure-ip-restriction.md

Any IPs matched by a Front Door WAF custom rule, with the action set to Allow will cause the matched traffic to bypass the WAF.  So, while the traffic will not be dropped due to not being from the expected network, it will not

[2019-08-01 19:19] FrankHu-MSFT commented on #35898
Thanks for your feedback again, once the MSAL wiki has been updated our docs will update accordingly. Please follow the issue on the MSAL .net github for further updates.

If you have anymore questions please reopen this github issue.

Thanks @mahoekst

[2019-08-01 19:19] #35898 closed

[2019-08-01 19:21] FrankHu-MSFT commented on #35895
@TranBaVinhSon As there hasn't been a response in a while, I will be closing out this git issue now, please reopen this git issue if you have anymore concerns. Thanks

[2019-08-01 19:21] #35895 closed

[2019-08-01 19:21] mjcarrabine commented on #36343
**It looks as if setting the -Name parameter sets the JIT policies for both VMs, but it doesn't appear to be documented anywhere if this is compatible with how Azure Security Center behaves.**

**Following the steps and setting `-Name VMNAME` appears to work:**
[code]
Calling `Get-AzJitNetworkAccessPolicy` returns
[code]
**Following the same steps a second time for VMNAMEB and setting `-Name VMNAM

[2019-08-01 19:22] TiloGit commented on #28117
here is what I did:

1. Enable in Azure '''Baseline policy: Require MFA for admins (Preview)'''

1. Now apps like Android phone didn't work, no app password page

1. got to link to enable "regular" MFA and now the app password page was available.

Just got my phone (Android back alive)

[2019-08-01 19:24] NavtejSaini-MSFT commented on #36295
@SuperSing Please convey from which tier to which tier are you trying to move and which region your DB's are located to look further into this issue.

[2019-08-01 19:29] TiloGit commented on #28117
another tip, if you Office 365 account is old you might need to enable **Enable modern authentication in Exchange Online**

https://docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/enable-or-disable-modern-authentication-in-exchange-online

[2019-08-01 19:30] KranthiPakala-MSFT commented on #36328
@JosephCason Please refer to the doc shared by @esung22 and do let us know if you have any further query.

https://docs.microsoft.com/en-us/azure/storage/common/storage-security-guide?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

[2019-08-01 19:31] FrankHu-MSFT commented on #36346
@mahoekst Thanks for your feedback! We will investigate and update as appropriate.

[2019-08-01 19:31] NavtejSaini-MSFT commented on #36331
@chainhead The Connectivity in Azure for MySQL works differently from AWS. MySQL works with proxy by default, so would need to add each public IP and publish it in MySQL Server for any allowed IP to access the service which means public IP would need to be white listed under the MySQL server’s Firewall rules

Additionally you can check this document for MySql connectivity architecture:
https://doc

[2019-08-01 19:31] alwaysautomateit commented on #28117
No juice for me. I can disable / enable / enforce MFA through the old portal, the App Password page is not available. The part that triggered this for me was not the CA rule, but the Azure Idenitity Protection MFA registration policy.

It's rather frustrating, especially now with the new CSP requirement.

[2019-08-01 19:34] MartinJaffer-MSFT commented on #36216
I have some good news, using self-hosted runtime _may_ cost less.
Excerpt from [pricing details](https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/)
![image](https://user-images.githubusercontent.com/46612670/62321201-f4dfb700-b456-11e9-9ffb-0523c3edc5f4.png)
For the orchestration, self-hosted is 50% more exponsive, **but** the execution cost is much less.  The Data moov

[2019-08-01 19:34] #36216 closed

[2019-08-01 19:34] NavtejSaini-MSFT commented on #36317
@giovannifl Thanks for the confirmation. We will be going ahead and closing this issue.

[2019-08-01 19:34] #36317 closed

[2019-08-01 19:34] m4h3 commented on #35925
So the portal public ip "wizard" doesn't allow you to define a zone with a basic SKU public IP.
However, you can deploy it with a template:
`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "String"
        },
        "location": {
            "type": "Strin

[2019-08-01 19:36] m4h3 commented on #35925
![basic_ip_sku](https://user-images.githubusercontent.com/11173566/62322041-71e54d80-b4a4-11e9-8ffe-aa3527be4ec7.png)

[2019-08-01 19:38] m4h3 commented on #35925
This was just a quick example, but you can have a fully defined basic sku public ip in a specific AZ, and it is perfectly working.
The thing I don't know is that does it really honor being zonal.

[2019-08-01 19:40] esung22 commented on #36328
Can you please remove my alias from this document, I am not on the ADLS team anymore.

Stephen Wu provided the document, including him.

From: KranthiPakala-MSFT <notifications@github.com>
Sent: Thursday, August 1, 2019 12:31 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ellick Sung <elsung@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure

[2019-08-01 19:42] yashesvi commented on #36313
The discount applies only to the Isolated Stamp fee and not to the instances. (I1, I2, I3).
![image](https://user-images.githubusercontent.com/19310189/62322368-cdd6b480-b459-11e9-9ae3-b5affe69fd5c.png)

[2019-08-01 19:46] MGoedtel commented on #36088
I reviewed the PR with Christoph's suggested change to the article and approved it.  #please-close since this isn't a doc issue per se, but a recommended edit to realign the important note.  Thanks Christoph for your input!

[2019-08-01 19:46] #36088 closed

[2019-08-01 19:53] perkops opened #36350 "Update the Global Device Endpoint and ID Scope"
Open DeKitDPS.ino -&gt; Should be DevKitDPS.ino

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d1d61a-9a93-7979-d562-21c6b712c22e
* Version Independent ID: e485312b-15fd-b681-fd6c-855651ffd751
* Content: [How to use Azure IoT Hub Device Provisioning Service auto-provisioning to register the MXChip IoT DevKit with IoT

[2019-08-01 19:57] meesam5 commented on #23543
Has this been updated? If yes, what is the link? Also, I would like to know if there is what is the alternative solution to force traffic from Azure PaaS to the on-prem application through ExpressRoute.  ASEs are extremely expensive for what they provide. Why Microsoft force you onto an ASE for PaaS internal?

[2019-08-01 20:19] j-martens commented on #36263
is this a duplicate of this: https://github.com/MicrosoftDocs/azure-docs/issues/35253

[2019-08-01 20:24] ajlam commented on #25361
My apologies for the delay. The new certificate should be rolled out.

[2019-08-01 20:24] yevster opened #36351 "Custom domain steps do not match options and nomenclature in Portal"
From the section "Use the Azure portal to set a custom domain name"

Several problems:
1. On Basic and Consumption tiers, the option is labeled "Custom Domains", not "Custom Domains and SSL".

2. For the Basic tier, there is no "Proxy" option available, only "Gateway". A customer I was working with ran into this discrepancy and at first thought they had to use the Premium SKU, whereas the gateway

[2019-08-01 20:38] thargy opened #36353 "SSL/TLS Support"
When developing against AzureAD HTTPS endpoints are required, although the `values.yaml` implies that TLS support is available via `kubernetes.io/tls-acme`, there are no examples of how to set it up properly and trying to follow online articles doesn't help.  Is there any chance the tool can be expanded to set this up automatically, or can we get a tutorial?

---
#### Document Details

⚠ *Do not e

[2019-08-01 20:44] MarileeTurscak-MSFT commented on #35910
User experience of device registration service working externally should not be impacted by disabling WS-Trust Windows transport endpoints (/adfs/services/trust/2005/windowstransport and /adfs/services/trust/13/windowstransport) from extranet.

[2019-08-01 20:47] himanshusinha-msft commented on #35449
@patrickgalbraith  @jeffjwu  .

The global table is active when the connection is active , once the connection is lost SQL drops the ## table. You can test it against SSMS directly.
“New Query” -> Run “createtemptable” -> Close Query & “New Query”  ->  Run “createtemptable”  It always success in SSMS.
That is by design. . We won’t keep connection between 2 activities.
If you use a real table inste

[2019-08-01 20:59] PatrickLang opened #36354 "Can you show how to set up tiller in a restricted namespace, instead of kube-system?"
This assumes all users will be using one Tiller instance residing in `kube-system` namespace. If you want to set up a boundary between namespaces, then you need to create a `Role`, `ServiceAccount`, and `RoleBinding` within that restricted namespace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c

[2019-08-01 21:03] cynthn commented on #36061
@visokoo Thanks for the feedback! I'm working with engineering to get the topic updated with the correct fault domain counts for those regions. Thanks!

[2019-08-01 21:07] cynthn commented on #15575
#pri2

[2019-08-01 21:09] karyjac opened #36355 "Add disclaimer about preview features in FAQ"
in this part of the document: https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group
Can we have a note that specified that using preview features is intended for testing purposes, gather feedback and identify bugs and should not be used in production?

like the "important" and "caution" messages in this doc:
https://docs.microsoft.com/en-us/azure/

[2019-08-01 21:22] Karishma-Tiwari-MSFT commented on #36032
@amandadebler Did you get a chance to take a look at the reply, it would be helpful if you can provide us more context.

[2019-08-01 21:24] ppavanm commented on #35692
Hi @kgremban, as you said I am trying to provisioning downstream device with regular DPS steps.  When I try to use device pfx file with password 1234 for registering the device, I get an exception saying "The specified network password is not correct".

[2019-08-01 21:26] viskri-msft commented on #36263
Not really, that ticket is asking for how to discover the swagger and an example to use the swagger_uri, I am asking for the whole swagger.json file for the discussed example to be posted in the tutorial.

[2019-08-01 21:32] Karishma-Tiwari-MSFT commented on #36067
@Sam-SFO
1. [This document](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-create-and-manage-powershell#understand-vm-instance-images) covers the details on defining VMs for the scale set.
2. [This document](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/tutorial-create-and-manage-powershell#start-vm-instances-in-a-scale-set) covers the information on

[2019-08-01 21:32] #36067 closed

[2019-08-01 21:34] whaakman opened #36357 "Change history on moved resources"
Change history worked on a specific resource (microsoft.web/sites), after moving the resource to another resource group it no longer works (I'm guessing because the resourceID changed. New changes on the resource within the new Resource Group do work. If I'm interpreting this correctly, I detect resource moves through the Change History API's (the move is logged in the Acitivity Log though).

Rega

[2019-08-01 21:41] KingdomOfEnds commented on #33665
Hi @obrookstein - Yes, that's correct the IoT Hub device files are not exposed during the Preview. Typically, you can modify those through the Portal (as well as submit C2D messages directly through the Portal or Programmatically). I know the engineering team's hard at work preparing for the future and I'm happy to notify you _when and if_ those features become available.

[2019-08-01 21:48] JimacoMS3 commented on #33801
Hi Christophe,

Thanks! It's been great working with you too. I'm not sure how to answer your question wrt controlling access to individual devices. As this is a documentation repo it's probably not the best forum for this type of question.

@AshokPeddakotla-MSFT Can you point @lipsius to the right forum to help him answer the following question?

"I have one last final question : when building a

[2019-08-01 21:48] tony-921 opened #36359 "Missing "Documents" at step "Add sample data" step"
[Enter feedback here]

I don't see the "Document". I see only "Items" and "Settings" under "Items" collection.

![image](https://user-images.githubusercontent.com/18693392/62329591-3da16b00-b46b-11e9-9864-38c8f3688a09.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 995ff127-8028-8118-701e-53f07f3a7fc5
* Version Ind

[2019-08-01 21:59] vladvino commented on #36351
Good catch @yevster, thank you. Edits are in https://github.com/MicrosoftDocs/azure-docs-pr/pull/84076. #please-close

[2019-08-01 21:59] #36351 closed

[2019-08-01 22:05] KranthiPakala-MSFT commented on #36314
@sachindedhia Here are my Linked service and dataset Json payload:

Dataset:

{
"name": "WebTable1",
"properties": {
"linkedServiceName": {
"referenceName": "WebTableLinkedService",
"type": "LinkedServiceReference"
},
"annotations": [],
"type": "WebTable",
"schema": [],
"typeProperties": {
"index": 0,
"path": "econ/currentdata/dbsearch?program=RESCONST&startYear=1959&endYear=2019&categories=APERMI

[2019-08-01 22:07] RyanHill-MSFT commented on #35830
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 22:07] #35830 closed

[2019-08-01 22:08] RyanHill-MSFT commented on #35490
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 22:08] #35490 closed

[2019-08-01 22:13] KingdomOfEnds commented on #36133
Hi @xelossan - Thank you for your great question! First things first, you'll absolutely want to upgrade your firmware to the latest spec regardless. Many vendors supply important security updates along with new features.

To answer the question regarding format interoperability:

Presently, messages that are submitted to ADT must conform to the Message entity specified in the Azure IOT SDK. Specif

[2019-08-01 22:18] Mike-Ubezzi-MSFT commented on #36207
@ExarKun1983 In looking at this tutorial, it is broken up into smaller sections and the case might be that that this section has not been completed: Load data into Azure SQL Data Warehouse ([link](https://docs.microsoft.com/en-Us/azure/azure-databricks/databricks-extract-load-sql-data-warehouse#load-data-into-azure-sql-data-warehouse)).

If you have completed this section and are still receiving t

[2019-08-01 22:31] mchudinov commented on #36119
Thank you for the help! It works fine (again). You are right.
I do not know what was the problem. Anyway it works and ticket can be closed.

[2019-08-01 22:31] #36119 closed

[2019-08-01 22:35] Karishma-Tiwari-MSFT commented on #36355
@karyjac Thanks for providing the feedback. All the preview features have important and caution messages in their specific docs. The general understanding of the 'Preview' feature is that they are not intended for production.
We will definitely consider changing the doc as we get similar feedback from other users. Your comment will stay her on the FAQ doc, if there are further comments by other us

[2019-08-01 22:35] #36355 closed

[2019-08-01 22:35] MarileeTurscak-MSFT commented on #35910
Hi @win2000b ,

The correct alias should be askaadconnecthealth@microsoft.com.

Please reach out to Binil at binilk@microsoft.com , the engineer for that team. He says that he cannot see the alias in the alert message and would very much like to do a screen share with you to get this fixed.

[2019-08-01 22:43] jeevansd commented on #33099
@pbburkhalter What the other issue you are referring to?

[2019-08-01 22:47] cweining commented on #35957
I just merged a change to update the language on this page to better explain the prerequisites. I've also talk to Manvel via teams and we are working to resolve his issue. #please-close

[2019-08-01 22:47] #35957 closed

[2019-08-01 22:54] Grace-MacJones-MSFT commented on #36109
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-01 22:54] #36109 closed

[2019-08-01 22:54] SaurabhSharma-MSFT commented on #36084
@ROHAN-TODEKAR We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-01 22:54] #36084 closed

[2019-08-01 22:56] MarileeTurscak-MSFT commented on #36327
@eross-msft are we missing documentation for doing this with Android, or is there no way to do this with Android?

I'm not sure whether this should be a product feedback or doc feedback.

[2019-08-01 22:56] Adam-Smith-MSFT commented on #36347
@iLikeAzureSQL Renaming the blob would fix the issue as a workaround, Let me check internally to see if there is an automatic process and will get back to you as soon as i head back.

[2019-08-01 23:00] MarileeTurscak-MSFT commented on #35910
Looks like he was able to reproduce this and create an item to fix this bug. Thanks so much for reporting it!

We will proceed to close this thread and update the comments when the fix is in.

[2019-08-01 23:00] #35910 closed

[2019-08-01 23:13] FrankHu-MSFT commented on #35886
Sure, could you create a new git issue for each update you'd like to make?

@peledins Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day today. Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-01 23:17] #35886 closed

[2019-08-01 23:19] FrankHu-MSFT commented on #36059
Hey, similar to this git issue : https://github.com/MicrosoftDocs/azure-docs/issues/35886

Please file a new git issue if you have anymore concerns. I'll go ahead and close this issue out as the doc change is currently in progress.

Please reopen it if you have any concerns.

[2019-08-01 23:19] #36059 closed

[2019-08-01 23:25] Alberto-Vega-MSFT commented on #36350
@perkops Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-01 23:28] Alberto-Vega-MSFT commented on #27931
@cartesiosson Was your issue resolved?

[2019-08-01 23:34] mungale opened #36363 "Doesn't work deployment in cloud with free trial"
This page has a link to get a free subscription to test the service fabric deployment in Azure however free account is not working from VS or even directly in the portal. According to MS support, with the free account, you don't meet the minimum criteria required for creating a virtual machine. Please add note accordingly on this page.

In VS you get the following error during publish -
"System.Ap

[2019-08-01 23:41] jeevansd commented on #36325
@kaevans Can you please provide some guidance here?

[2019-08-01 23:41] FrankHu-MSFT commented on #32583
Hello, just following up on this @BPtLNfxZWo  we are currently still pending a response and are still looking into this issue. I know it's been nearly 2 months since this issue has been filed and apologize for how long it's taking.

[2019-08-01 23:41] jeevansd commented on #36325
@chetansriv for tracking.

[2019-08-01 23:42] chainhead commented on #36331
Long-winded sentence - not clear!

I did define a user in MySQL as `'demo1'@'%'` (close to what is shown here https://docs.microsoft.com/en-us/azure/mysql/howto-create-users). The firewall for MySQL is set to take connections in the range of `10.0.0.0` to `10.0.0.255` because I have added a `Microsoft.Sql` service end-point. The addition of a service end-point works despite the end-point being nam

[2019-08-01 23:43] eross-msft commented on #36327
@MarileeTurscak-MSFT  We currently don't offer an Android solution; however, this is very actively being worked on and should be released sometime in the near future, though I have no specific date as this moment.

[2019-08-01 23:46] FrankHu-MSFT commented on #36269
Hey @NagaCSC  thanks for letting us know about this information, and are currently updating this doc per your feedback. As the update is currently in progress I will be closing out this issue accordingly.

Please let us know if there are anymore questions within the scope of this git issue.

Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-01 23:46] #36269 closed

[2019-08-01 23:47] patrickgalbraith commented on #35449
I have raised this as a suggestion for Azure here https://feedback.azure.com/forums/270578-data-factory/suggestions/38287108-persist-global-temporary-tables-between-activities

For anyone reading this that might want his feature please upvote that suggestion.

[2019-08-01 23:50] noelbundick opened #36364 "Missing details on Consumption tier"
There's mention of the Consumption tier on the feature availability page, and mentions scattered throughout the docs, but there's no explanation of how scaling works in the Consumption tier.

Clearly there are no manual units involved, but it's unclear what (if anything) I need to do to scale to maintain consistent good performance, especially during traffic spikes, etc.

---
#### Document Details

[2019-08-01 23:52] Karishma-Tiwari-MSFT commented on #36363
Thank you for the feedback. Can you please provide the support request number so that I can take a look at the details and will update the document as needed.

[2019-08-02 00:00] Karishma-Tiwari-MSFT commented on #36336
@tsarna We have an [open issue](https://github.com/MicrosoftDocs/azure-docs/issues/29547) for the same. I will try to get the update on this on the older issue and close this one. Please follow the other thread for updates. Thanks.

[2019-08-02 00:01] #36336 closed

[2019-08-02 00:03] FrankHu-MSFT commented on #36272
Hey @MoRMongol thanks for letting us know about this issue.

To clarify it sounds like you have two issues :
1. I wanted to create a new Tenant because my current one with the "onmicrosoft.com" is too long to be used for Azure AD Domain Services. The max length is 15 characters. I'm wondering if that threshold could be increased to like 20 or else I have to create a new tenant with a shorter name.

[2019-08-02 00:03] mikebudzynski commented on #36364
@noelbundick Your Consumption tier instance will scale automatically, based on your traffic - just like Azure Functions do. You cannot control the scaling.

Thanks for pointing this out, we will update the docs to reflect this.

#please-close

[2019-08-02 00:03] #36364 closed

[2019-08-02 00:04] Karishma-Tiwari-MSFT commented on #29547
@jonbeck7 Is there an update on this issue? Can you please share the ACU numbers if you are aware, I can update the document with that information. Thanks :)

[2019-08-02 00:09] FrankHu-MSFT commented on #36308
Hey @theheatDK  currently this is not documented in either of our azure powershell reference docs :
https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-2.5.0
https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/get-azurermlogprofile?view=azurermps-6.13.0

Let me look into this a little further and let you know if it's possible or not.

Thanks for letting us know how

[2019-08-02 00:09] FrankHu-MSFT commented on #36323
Hey @andrewgill-draysontechnologies  thanks for letting us know about this. Could you provide a screen shot of this issue occurring?

[2019-08-02 00:12] slapheadted commented on #24804
Hello @hpsin ...I wondered if you might be able to confirm if I am hitting the same error message (`System.FormatException: Invalid Input. Length of original grant`) that was seen above? I'm getting exactly the same error message: `AADSTS90023 Request is malformed or invalid.`.

If you can check this for me what info would you need from myself?

Thanks,

[2019-08-02 00:13] SharmainePopov opened #36366 "More Detail for using the automatic cert renewal script"
These scripts would be so useful. I am not Global Admin on our corporate AAD.  So I cannot use the setup script. I would like to install the cert update script manually, but the instructions contained seem to be out of date, or I'm just confused. But I can't follow step 3 of Update-AutomationRunAsCredential.ps1 which says "
    3. Select the application and click Settings button -&gt; Required Per

[2019-08-02 00:15] bachoang opened #36367 "No documentation on proper format for wsfed sign in and sign out request"
Please document Azure AD's WSFed protocol.  What is the sign in and sign out endpoint and the proper format for request body in each flow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7f943d8-4739-3678-79e3-4880a73d567b
* Version Independent ID: 82481a91-f3f0-5765-332c-92b63b7eda6e
* Content: [Azure AD Federation Met

[2019-08-02 00:18] Kris-Patil commented on #35732
Thanks, @shashishailaj

Our accounts have AD Premium L1 licenses and we do see the option to have additional local administrators. Does this work only if the device is joined **after** having selected the "additional local administrators"?

Thanks, @FrankHu-MSFT

We will investigate some more and then provide a feedback for you to work on if required. Appreciate your response.

Thanks all.

[2019-08-02 00:20] Karishma-Tiwari-MSFT commented on #36152
@cap273 Please refer to this document on [FSLogix profile containers and Azure files](https://docs.microsoft.com/en-us/azure/virtual-desktop/fslogix-containers-azure-files) and let me know if you have any questions.

[2019-08-02 00:32] elenay93 opened #36368 "how about NET framework?"
how to implement the key vault in my Net Framework app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e2cd41-2a63-d083-22e0-cf5f75fb4b07
* Version Independent ID: e82a144d-f425-d6ed-9f7d-bd4b5f395e45
* Content: [Tutorial - Use Azure Key Vault with an Azure web app in .NET](https://docs.microsoft.com/en-us/azure/key-

[2019-08-02 00:39] mungale commented on #36363
I had chat with support - here is conversation ID for the chat - Rr7yUE8EHAWBvKi81b6pq0U661gAraj3

Actually, the service fabric cluster requires a minimum of 2 nodes with 4 core or greater each. Whereas the diagram in the article has VM size 1 core 3.5 GB.

[2019-08-02 01:04] KrishnaG-MSFT commented on #36366
@SharmainePopov Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-02 01:06] rimman commented on #36326
#please-close

[2019-08-02 01:06] #36326 closed

[2019-08-02 01:07] rimman commented on #35922
#please-close

[2019-08-02 01:07] #35922 closed

[2019-08-02 01:13] KrishnaG-MSFT commented on #36335
@bijopunnoose Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-02 01:18] KrishnaG-MSFT commented on #36290
@JnHs Thanks for the quick response.😊

[2019-08-02 01:26] FrankHu-MSFT commented on #36346
You're right, I am currently updating this article now. Thanks for letting us know about this!

@mahoekst Please let us know if there are anymore questions within the scope of this git issue.

If not, I will be closing out this git issue by end of day tomorrow as we're currently making the change in the document.

Please reopen this git issue if you have anymore concerns. Thanks

[2019-08-02 01:26] KrishnaG-MSFT commented on #36315
@mwdjwan Thanks for reaching out to us, but at this time it does not look like you are referring to a document. Please provide us the document link to take some action.

[2019-08-02 01:43] julianparismorgan commented on #36111
Thanks for the detail. A few more questions / notes:
- We don't support the emulator, so you won't be able to test in that Unity emulation window in your image.
- For the DLLNotFoundException, were you still able to deploy to your HoloLens from Visual Studio? If so, what happens if you clear your Unity build window and build again from Unity?
- In the log, we can see "recommendedForCreate: 2.20000

[2019-08-02 01:46] KrishnaG-MSFT commented on #36357
@whaakman Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-02 02:01] VladimirAkopyan commented on #35235
Apologies about this, found it now. The pencil was off the edge of my screen

[2019-08-02 02:11] Alberto-Vega-MSFT commented on #36140
If your proposed fix works:
1. Open an issue so the SDK team acknowledges the bug and also you can express that you want to create a Pull Request with the fix (if you want to)
2. You can create a fork of the repo and fix that line of code
3. (If interested in contributing) Create a Pull Request against the SDK repo  referencing the issue number you opened

I guess in the meantime while your Pull R

[2019-08-02 02:23] kobulloc-MSFT commented on #36353
@thargy Thank you for bringing this to our attention.  I'm assigning this to the document author so they can update the documentation accordingly.

[2019-08-02 02:39] tysonn commented on #7141
It looks like @asinn826 has made updates to respond to this request, so I'm closing the issue as resolved.

[2019-08-02 02:39] #7141 closed

[2019-08-02 02:59] sandeepiiit commented on #31219
@KetanChawda-MSFT Is it still true that "Premium plan scales and bills like the Consumption plan, *without keeping a buffer of instances*". In one of the sections above it says:
"Additional instances continue to buffer out and warm immediately in preparation for the next scale operation."
https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#pre-warmed-instances

[2019-08-02 03:01] Alberto-Vega-MSFT commented on #36154
@PingPongSet I found this sample application in the SDK repository https://github.com/Azure-Samples/azure-iot-samples-csharp/tree/master/provisioning/Samples/device/SymmetricKeySample

[2019-08-02 03:14] Alberto-Vega-MSFT commented on #35931
I don't think the SDK can do that. Would you please open an issue on the SDK repo? I will reach out internally.

[2019-08-02 03:23] softveda opened #36372 "Make the Table of Contents panel on the left collapsible"
Please make the Table of Contents panel on the left collapsible. This is not feedback specific to this page but all of docs in general. I read on small laptop screen and would like to get more screen space and reduce clutter when reading the main content. Just a small left arrow & keyboard shortcut (e.g. [ in confluence) to collapse and hide this panel should do. Same for the bookmarks panel on th

[2019-08-02 03:38] MoRMongol commented on #36272
Hi @FrankHu-MSFT,
Thanks a lot for reaching out. I do have to clarify my request:

1. I am trying to setup an AAD tenant, but WITH the "onmicrosoft.com". For example, my tenant name is "morethanfifteencharacter.onmicrosoft.com". When I try to use Azure AD Domain services, it's complaining that the prefix is too long, which is apart from the "onmicrosoft.com" part. The screenshot below shows you wh

[2019-08-02 03:46] SnehaAgrawal-MSFT commented on #36175
Thanks for bringing this to our attention. The product team is aware of the issue and fix will be soon. Will keep you posted on this. Since, this is not document related We will close this out.
Thanks again for raising this issue.

[2019-08-02 03:46] #36175 closed

[2019-08-02 03:52] SnehaAgrawal-MSFT commented on #36178
@poctob Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-08-02 03:57] dhruv-balakrishnan commented on #25742
@PramodValavala-MSFT

Is the only way to resolve this to regenerate secrets until they don't contain characters? I'm currently facing this issue when trying to create a client. I've generated so many secrets I have to wait for five minutes to cool down. I had it working fine before but now I have a string of failures.

Are there any specific encoding formats that Microsoft recommends that we can u

[2019-08-02 03:57] femsulu commented on #36221
@dan-wesley any idea who would be the best contact to assist with this?

[2019-08-02 04:09] SnehaAgrawal-MSFT commented on #36372
@softveda Thanks for the feedback! We are investigating and will update you shortly.

[2019-08-02 04:24] Alberto-Vega-MSFT commented on #36265
Hi @TurtleBeach were you able to look into the links more closely to see if they were useful?

[2019-08-02 04:25] Alberto-Vega-MSFT commented on #35538
@Shri-Humrudha Can you please confirm that your feedback has been addressed?

[2019-08-02 04:26] Alberto-Vega-MSFT commented on #36257
Hi @SeaDude was my previous suggestion helpful?

[2019-08-02 04:29] Alberto-Vega-MSFT commented on #36244
Hi @PatAltimore can you confirm that the rewrite of this doc is going live? https://github.com/MicrosoftDocs/azure-docs/issues/35473#issuecomment-517060190

[2019-08-02 04:34] femsulu commented on #36122
Hi @mdid4d , can you please elaborate on your issue? Is this a support request or is there an issue with the document you would like us to assist with. If this is a support issue, please raise a support ticket using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you don't have a support plan, send mail to AzCommunity@microsoft.com

[2019-08-02 04:34] AshokPeddakotla-MSFT commented on #34226
@majikthys We hope your query is addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-02 04:34] #34226 closed

[2019-08-02 04:35] KranthiPakala-MSFT commented on #36219
@tonyStann Thanks for sharing the output. Would it be possible to share the pipeline JSON payload?

[2019-08-02 04:38] femsulu commented on #36123
following up with @derek1ee offline on script status. please stay tuned.

[2019-08-02 04:38] Alberto-Vega-MSFT commented on #36264
Thanks you for the clarification @xtofs

[2019-08-02 04:42] mike-urnun-msft commented on #36071
@Rodrigossz Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-08-02 04:42] #36071 closed

[2019-08-02 04:45] tonyStann commented on #36219
@KranthiPakala-MSFT Below is my Pipeline JSON:
{
    "name": "ZZ_Copy",
    "properties": {
        "description": "test for REST",
        "activities": [
            {
                "name": "ZZ_CopySource",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,

[2019-08-02 04:47] femsulu commented on #36136
@tfitzmac can you pls assist with updating the graphic hosted under ./media/resource-group-overview/consistent-management-layer.png?

[2019-08-02 04:48] AshokPeddakotla-MSFT commented on #36294
@squasta Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-08-02 04:52] srpomeroy opened #36375 "Swagger Endpoint Doc"
Following the link to the swagger doc results in a 403 forbidden. https://consumption.azure.com/swagger/ui/index
Is this not openly accessible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ed7b604-d89f-1d59-87d6-d32e29eb6245
* Version Independent ID: 0113a6ce-3f69-73ce-b063-c07b52348f92
* Content: [Azure Billing Ent

[2019-08-02 04:53] femsulu commented on #36150
@rayne-wiselman & @dcurwin  - can you please review the doc-update request?

[2019-08-02 04:56] srpomeroy commented on #28697
Experiencing the same problem. Is there documentation around which roles are required to access the EA billing APIs?
This page(https://docs.microsoft.com/en-us/azure/billing/billing-understand-ea-roles) does a good job explaining what is accessible by what role, but it would be nice to have a simple breakdown of what permissions are required to access each api.

[2019-08-02 04:59] hansenms commented on #36304
The FHIR server does not enforce or check scopes, so in principle you don't need any. You may want to use them in your application to control access, but the FHIR server does not enforce scopes.

[2019-08-02 04:59] SnehaAgrawal-MSFT commented on #36224
@liben-y Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-08-02 05:04] KranthiPakala-MSFT commented on #36219
@tonyStann Thanks much for sharing the details. We are looking into this, will get as soon as we have an update.

[2019-08-02 05:06] femsulu commented on #36209
You are correct, [log analytics access modes](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-access#access-modes) will help you define RBAC for your workspace.

Good idea to link on this page. Will raise this with the content owner to see if it is feasible.
Thanks again for your feedback. @MGoedtel  - FYI

We will now close this issue. If there are further questions regarding

[2019-08-02 05:06] #36209 closed

[2019-08-02 05:07] AjayKumar-MSFT commented on #36297
@babusalamkorad, Thanks for leveraging Azure docs feedback channel to raise this query! To better assist you, could you please provide more details on your scenario/requirement. To get you started,
whether you're building native iOS, Android, and Windows apps or cross-platform Xamarin or Cordova (PhoneGap) apps, you can take advantage of App Service by using native SDKs and we have docs describing

[2019-08-02 05:09] RohitMungi-MSFT commented on #36056
@wooters We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-02 05:09] #36056 closed

[2019-08-02 05:10] SubhashVasarapu-MSFT commented on #36348
@stevenwhitej, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-08-02 05:11] femsulu commented on #36210
Thanks for the update @sunnynazar
I would recommend redirecting this to the support channel since this channel is dedicated to Documentation issues. Please engage support using these steps.
If you do not have a support plan, send mail to AzCommunity@microsoft.com. include your subscription ID and a link to this thread for context and we will gladly assist you with engaging support.

We will now cl

[2019-08-02 05:11] #36210 closed

[2019-08-02 05:15] AjayKumar-MSFT commented on #36245
@1VIP, Just checking to see if you need assistance with this query? Please do share more details on the issue to better assist you.

[2019-08-02 05:44] SumanthMarigowda-MSFT commented on #36163
@peledins The Azure Tables service is now managed by the CosmosDB team. Please offer this suggestion there: https://feedback.azure.com/forums/263030-azure-cosmos-db  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-08-02 05:44] #36163 closed

[2019-08-02 05:51] msrini-MSFT commented on #36307
@KeithTemplin , Do you have any update for me?

[2019-08-02 05:52] sato-sato-fixer commented on #35634
I also got the same error.
It is the same error to try [this](https://github.com/MicrosoftDocs/azure-docs/issues/35319).

[2019-08-02 05:54] femsulu commented on #36258
adding @bwren to review the do-enhancement request.

[2019-08-02 05:58] femsulu commented on #36313
@rabbboudi  - hope the above answers your question.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-08-02 05:58] #36313 closed

[2019-08-02 05:58] ManojReddy-MSFT commented on #36368
@elanay93 You can find the Nuget package for Key vault [here](https://www.nuget.org/packages/Microsoft.Azure.Management.KeyVault.Fluent). This works with  .NET Framework as well.

You can also find a bunch of samples using .NET SDK [here](https://azure.microsoft.com/en-us/resources/samples/?service=key-vault&sort=0&platform=dotnet).

[2019-08-02 06:20] sandeepiiit opened #36377 "Do health probe requests to backends count towards the price?"
Health prove requests to back ends can be pretty overwhelming because being probed by all Point-Of-Presence servers. Do these count towards the price?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35a0b39-ab2f-ba8a-0907-e0f3a6b69135
* Version Independent ID: 0e6c8267-a911-9c6b-0522-3ec96753b3ef
* Content: [Azure Fron

[2019-08-02 06:29] sandeepiiit opened #36378 "Does a HTTP to HTTPS redirect routing rule count towards price?"
As per the pricing [page] (https://azure.microsoft.com/en-us/pricing/details/frontdoor/), each routing rule costs about $0.03 per hour (~$27 per month). Because HTTP to HTTPS routing is configured as a routing rule, that should get counted for the price calculations. I just wanted to confirm if my understanding is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-08-02 06:31] lightupdifire commented on #35903
@SanDeo-MSFT ,
I have opened another issue "https://github.com/MicrosoftDocs/azure-docs/issues/35900"
We don't use any tools, we only run AD Connect for Hybrid Azure AD Join,
Look at the Manual Configuration please, there is also note that this should be enabled for proxy,
So I think it is enabling by the wizard too.

[2019-08-02 06:39] msrini-MSFT commented on #36377
@sandeepiiit , yes it does count towards pricing.

As far as the backend is concerned, any request coming its way is billed. If you are using Web App and you are pointing the probe to the default page which has the image, you will be billed high as there are lot of POP servers which sends probe request every 30 seconds by default.

You can try to create a sample page for probe which only responds

[2019-08-02 06:45] msrini-MSFT commented on #36378
@sandeepiiit , Yes, your understanding is correct.

Let me know if you have any further questions.

[2019-08-02 06:48] jakaruna-MSFT commented on #36179
@dlepow do you have any idea why `cloudfoundry/cnb:bionic` is missing from the cached list.

Is the cached list for azure tasks same as ACI images cached list?

Please add your comments

[2019-08-02 06:49] sandeepiiit commented on #36377
Thanks for the explanation and suggestions to reduce the data size.

However, this sounds a little bit conflicting from what is mentioned on the [pricing page](https://azure.microsoft.com/en-us/pricing/details/frontdoor/):

I am assuming client means something external to Azure Infrastructure. For example, a user's browser. Is that true? If yes, then the data transfer rates shouldn't apply to heal

[2019-08-02 06:50] jakaruna-MSFT commented on #35997
@axayjo Please replace the correct url.

[2019-08-02 06:56] #36378 closed

[2019-08-02 07:02] rexhinvorpsi commented on #36097
Thank you for the great explanation . I see, i am trying to enable gsma in the AKS cluster via feature gates and referred to this article https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/ , given that the AKS service didn't support feature gates , i used the open source aks-engine to enable feature gates and deploy the cluster. Now the part fo creating the GSMA Service accou

[2019-08-02 07:04] SanDeo-MSFT commented on #35903
@lightupdifire
We are updating docs to make it clear that WS-Trust Windows endpoints i.e. windowstransport must only be enabled as intranet facing only and must NOT be enabled on the extranet i.e. web proxy. Like I said before, Azure AD Connect does not enable the WS-Trust Windows endpoints on the proxy. Additionally, we do not recommend customers to use manual configuration steps, instead we have

[2019-08-02 07:06] nishant-jain-94 commented on #9942
Even I am not able to see the nodes in the cluster page.

[2019-08-02 07:19] AjayKumar-MSFT commented on #36086
@ddeschepper, In v3 the Filters feature is currently marked Obsolete due to the reasons outlined on the GitHub issue page below. Requesting you to track the Functions Filters status here: https://github.com/Azure/azure-webjobs-sdk/issues/1284

[2019-08-02 07:25] subhankars commented on #30551
We have got the error "Invalid Sftp credential provided for 'SshPublicKey' authentication type" of which Test Connection was failing. This is similar to GitHub issue https://github.com/MicrosoftDocs/azure-docs/issues/30467. To solve this we have replaced ´ to '

[2019-08-02 07:31] pes-kapacity commented on #35926
Hi Martin,

I just tried editing the earlier post. The links to the images seem to work for me. I hope you can see them, too. If not, please let me know.

Thank you.

Best,

Peter

[2019-08-02 07:34] AshokPeddakotla-MSFT commented on #33801
@lipsius At this time three built-in roles are available for use in IoT Central. Assign roles to users when they are granted access to IoT Central applications.

- Application Administrator

Users in the Administrator role have access to all functionality in a Azure IoT Central application.

- Application Builder

Users in the Application Builder role can do everything in a Azure IoT Central appli

[2019-08-02 07:34] #33801 closed

[2019-08-02 07:38] alexanderbikk commented on #35931
Hi @Alberto-Vega-MSFT
Thanks for the answer.

I investigated issues in c# SDK repo and found similar question
https://github.com/Azure/azure-iot-sdk-csharp/issues/363

Looks like for security reasons if I want to upload my root certificate to DPS and verify it I must use the REST API or Azure CLI tool. At least for now. But as far as I understand this is security concept won't be changed in neares

[2019-08-02 07:40] msrini-MSFT commented on #36377
@sandeepiiit , I was answering about the billing at the backend (Web App) because of the AFD probes.

Yes, you are right, health probes from AFD is not billed with data transfers.

Let me know if you have any further questions.

[2019-08-02 07:41] SadiqhAhmed-MSFT commented on #36375
@srpomeroy Thanks for the comment! It does look like the link - https://consumption.azure.com/swagger/ui/index is not openly accessible. When I tried it prompts for credentials and I clicked on cancel and it let me in. FYI. Billing Enterprise API official documentation is here - https://docs.microsoft.com/en-us/azure/billing/billing-enterprise-api

Let me know if you've any additional questions th

[2019-08-02 07:47] rahulraj40 opened #36379 "User administrator or Global Administrator account"
Which administrator role required for enabling this policy? We tried with User Admin Role, it is not working and we enabled it with Global Admin in our test tenant for testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fb85a8-d842-f101-909e-86751922da43
* Version Independent ID: 0c99b5ef-753e-1085-a682-c55ea4059

[2019-08-02 07:55] jakaruna-MSFT commented on #35904
@nit23uec I got the information from the internal team.
There is not limit for the number of azure files to be mounted on a VM.
But mounting 30K file shares to a pod is not at a good practice.
Pod will start only after all the volumes are mounted.

You can open a MSDN thread here (https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureContainerServices) with your use case. The community wi

[2019-08-02 07:56] Pancat007 opened #36380 "Getting error when publishing to Azure"
source link:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-windows-containers-custom-fonts

I configure as the article said,
docker.file:
[code]

and i configure the registry, and it pops up an error:

2019/8/2 15:21:49
System.AggregateException: One or more errors occurred. ---> System.Exception: Build failed. Check the Output window for more details.
   --- End of i

[2019-08-02 07:56] #36377 closed

[2019-08-02 07:56] jakaruna-MSFT commented on #35904
As this issue dont need any doc update, I am closing this issue.
Please post question in the MSDN forums if that question is not related to document updates.
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-08-02 07:56] #35904 closed

[2019-08-02 08:01] KalyanChanumolu-MSFT commented on #36359
@tony-921 Thank you for letting us know.
The user interface is continuously evolving and seems to have changed after the documentation was published.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-08-02 08:02] jakaruna-MSFT commented on #36012
@WhitWaldo I have assigned this issue to the author to add this snippet (xml format) to the doc.

@athinanthny  Please investigate and update the doc as required.

[2019-08-02 08:03] peppekerstens commented on #15575
Any update? Issue is almost a year old, Microsoft sells AvailibilityZone actively as 'improved availability' but no word on maintenance.... We need to know to provide guidance to our customers and in our designs.

[2019-08-02 08:04] ahmadkaispe opened #36381 "LogicApp RecId for Dynamics 365 CRM"
Hi,

I am trying to connect Business integration with Microsoft Dynamic 365 CRM, however I am giving the RecId for Dynamics 365 CRM for everything in a given form.

![issue](https://user-images.githubusercontent.com/49945167/62353947-32ab1100-b525-11e9-9065-0c5cd53407b7.png)

Is there any option to generalize the process in a production environment?

Regards

---
#### Document Details

⚠ *Do not e

[2019-08-02 08:12] rahulraj40 opened #36382 "Compliance across workloads"
1.
Exchange Admin Center: Policy doesn't reflect automatically, Getting below error
"A prefix or suffix required by your organization is missing from one or more of the following: group name, alias, email address. The suggested group name is 'Prefix_[Group name]_Suffix'. Please add the missing information and try again"
Do we need to manually add Prefix and suffix? Prefix used -Grp and suffix as '

[2019-08-02 08:16] ram-msft commented on #36027
@wukun2015 I could n't see the SpeechRecognizer Completed event available in the SDK, Could you please raise an issue in the following [link ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues). But ResultReasons.RecognizedSpeech Indicates the speech result contains final text that has been recognized. Speech Recognition is now complete for this phrase. If your audio >15s Batch

[2019-08-02 08:24] RohitMungi-MSFT commented on #36263
@viskri-msft The document link can be retrieved using the swagger_uri property from the service that is deployed.

![image](https://user-images.githubusercontent.com/46958063/62355375-810fde00-b52c-11e9-832a-4f51804bb56c.png)

[2019-08-02 08:31] RohitMungi-MSFT commented on #36279
@jpe316 Could you please check if the requested content can be added to the documentation for reference?

[2019-08-02 08:33] ShirleyWangMSFT commented on #35375
@ChiragMishra-MSFT please re-assign this to @djpmsft

[2019-08-02 08:34] vishalaj1 opened #36383 "Subnet- Disabled in Selection"
Hi,

We have a subnet with mask /27 with one managed instance. Still when I try to create new SQLMI on the same subnet my subnet is disabled in selection box.

Regards,
Vishal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b9fa4c5-9ea3-7494-3b5a-fee6bccc9e0e
* Version Independent ID: 4493877b-f253-3451-a034-2a485b72bc

[2019-08-02 08:38] rahulraj40 opened #36384 "Compliance across workloads"
1.
Exchange Admin Center: Getting below error
"A prefix or suffix required by your organization is missing from one or more of the following group name, alias, email address. The suggested group name is 'Grp_Test_IT'. Please add the missing information and try again."
Do we need to add prefix and suffix details manually in the group name, they are not populating automatically?
2.
Microsoft 365 Adm

[2019-08-02 08:40] ManojReddy-MSFT commented on #35547
@girishvtm I tested today with OR operator in my lab. I was able to use it more than 10 times. I used it 30+ times and it worked for me. Can you send the error you receive when you use it more than 10 times?

[2019-08-02 08:46] dearandyxu commented on #30532
addressed by fixing it in product.  #please-close

[2019-08-02 08:46] #30532 closed

[2019-08-02 08:50] julie-ng commented on #36110
Another thought is that we should really be open sourcing these quickstarts, etc. and using CI/CD to automate code example validation.

[2019-08-02 08:51] imeya opened #36385 "The alert rule does not fire for File capacity"
I use azure monitor to create an alert rule for azure file share capacity.

For resource type, I select "Storage services", then select resource of my auzre file(like storage_name/file).

And in the condition, I select a file share, set Threshold value to 7M(7340032 bytes).  So the condition is "File capacity is greater than 7340032 bytes"

Then I fill in my email address.

I also select Yes for "

[2019-08-02 08:52] Dmitry-Me opened #36386 "July 2019 guest OS patches list appears to have a broken link"
This section https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-msrc-releases#july-2019-guest-os (for July 2019 image) contains the following line:

Rel 19-07 | 4506621 | Windows Security | 2.88, 3.75, 4.68 | July 9, 2019

The link under the KB number is https://support.microsoft.com/kb/4506621 which when it's followed redirects to https://support.microsoft.com/af-za/help

[2019-08-02 08:52] bijopunnoose commented on #36335
Hi Krishna,
Sorry to chase but is there an ETA on this? We are trying to do a POC and I would like to start working on these ASAP. Thanks.

[2019-08-02 08:58] HeineLysemose opened #36387 "Passwordless and MFA Trusted IPs"
When logging on to services from trusted IPs, I get notifications send to my Authenticator app but the website just sign me, as expected, without my need to validate the notification/number send.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-

[2019-08-02 09:06] HeineLysemose opened #36388 "Passwordless on mobile apps"
Will it, in the future, be possible to go passwordless when signing in into apps on mobile apps (Outlook, Word, Excel etc.). When I authenticate from iOS, through the Authenticator app, I need to enter my password and approve MFA challenge.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe29

[2019-08-02 09:08] KrishnaG-MSFT commented on #36283
Hi @tbkobberoe, Perhaps I am missing something but with given information and AFAIK we can upload multiple files at a time. If you are referring to upload / download file(s) using Cloud Shell then [this](https://docs.microsoft.com/en-us/azure/cloud-shell/using-the-shell-window#upload-and-download-files) is the document related to it. If you are referring to upload / download file(s) using Portal s

[2019-08-02 09:16] leonbravo commented on #10197
Parameters is a tab in Azure Dataset definition but there is not a single mention here on how to use them or modify the Dataset behaviour

[2019-08-02 09:16] rajb865 opened #36389 "Build docker image failed"
Hi,

I am following this guide [Tutorial: Develop IoT Edge modules for Windows devices](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows). I am trying it on Windows 10 VM (Microsoft Windows [Version 10.0.17763.615]). When I am at this step [Build and push your solution](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows#build-and-push-your-solu

[2019-08-02 09:27] angoyal-msft commented on #36383
@vishalaj1 Thanks for the feedback. Could you please confirm if the size of subnet was given while initial deployment or is it modified after deployment. Because as per the below screenshot mentioned in the [document](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet), you can not modify the subnet size.

![image](https://user-images.githubuser

[2019-08-02 09:27] KalyanChanumolu-MSFT commented on #36070
@ahuggins-nhs Thank you for the strong feedback.
This is infant documented but on the Cosmos DB Table API [page](https://docs.microsoft.com/en-us/azure/cosmos-db/table-introduction). However i understand that there is a scope for enhancement.

I am referencing an open [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/27135) where the matter is already being worked upon by the content tea

[2019-08-02 09:27] #36070 closed

[2019-08-02 09:30] KalyanChanumolu-MSFT commented on #36070
@rimman @SnehaGunda for awareness

[2019-08-02 09:31] tbkobberoe commented on #36283
Hi there.
Yes, I'm talking about the Upload/Download feature in Azure Cloud Shell. And no, I cannot upload more than 1 file. Using MS Edge Dev if I select more than 1 file a dialogue box appears in the lower right corner telling me that the first file upload is completed, but nothing on the remaining files. If I use Chrome I also get a dialogue box but it says the upload fails. The documentation y

[2019-08-02 09:37] mayurigupta13 commented on #36188
@Rajeswari-Mamilla to look into this please. Please assign it to her.

[2019-08-02 09:41] linruhui commented on #31879
Can anyone help answer this question?

Do we have any plan to add these limitation of TCP connections in https://azure.microsoft.com/en-us/pricing/details/app-service/windows/ or azure portal when we choose the pricing tier for app service plan?

[2019-08-02 09:43] vinayakshenoy91 commented on #28451
The script like "mkdir test" works for me where it creates folder inside the VM. However, iam not able to invoke a .sh file that is present in the VM. Tried doing  the below, but no luck. Any help is appreciated.
`$body = @{
     'commandId' = 'RunShellScript'
     'script' = @('sh /home/azureuser/test.sh')
}`

[2019-08-02 09:43] damendo commented on #29446
@TravisCragg-MSFT since the note has been added, can this issue be closed out.

[2019-08-02 09:45] SadiqhAhmed-MSFT commented on #36188
@mayurigupta13 Thanks for redirecting.

@Rajeswari-Mamilla FYI.

[2019-08-02 09:56] KrishnaG-MSFT commented on #36283
@tbkobberoe Nice find! I could reproduce this issue (i.e, able to upload only first file) on browsers like Chrome, Mozilla, etc. but not on MS Edge! I believe it's more browser level functionality difference. Assigning to author @jluk for review, visibility and document enhancement considerations.

[2019-08-02 10:05] simonness commented on #35843
Got to the bottom of this with a lot of help from this [blog](https://medium.com/the-new-control-plane/getting-the-scopes-and-audiences-correct-when-calling-an-api-in-azure-ad-b2c-fe4fb14a10d8).

I registered a Web API application in the AD B2C Blade, giving it an App ID URI `https://{ad-b2c-id}.onmicrosoft.com/api` and ensuring the published scope `user_impersonation` existed.  I granted the Web

[2019-08-02 10:21] KrishnaG-MSFT commented on #36335
@bijopunnoose No problem! In fact, apologize for the inconvenience or confusion caused if any! IMO this issue would be related to fundamental and mandatory naming convention standards to be followed or to be exposed in the document. This issue is being assigned to author @TomArcherMsft for deeper and better insights. As it is being assigned to author so ETA would be based on priority on their spac

[2019-08-02 10:33] kogesaka opened #36390 "SLES Update Management Dashboard does not display hotfixes based on classification"
Hi,

In SUSE Linux Enterprise Server (SLES) 12 SP4 for SAP Applications environment, I manage updates in cooperation with Update Management.

As a result of scanning that are missing updates, it was confirmed that “Critical” and “Security” are not displayed.
Is this behavior correct?

![SLES_Update-Management](https://user-images.githubusercontent.com/15773157/62364351-2e4e1a80-b55c-11e9-93f0-7451

[2019-08-02 10:34] jakaruna-MSFT commented on #36183
@dpatrickx Expanders cant be configured in AKS now.
It chooses the platform defaults.

Please share if you have a use case when the default one is not helping. So that i can share with the team.

[2019-08-02 10:35] SteveMaz opened #36391 "Changes required for production app"
Can you add some notes to the documentation to explain where changes must be made for a production app available through the app store?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45afd17d-e909-ccd9-01c3-f746bdf406a2
* Version Independent ID: d2c8cc69-5a37-4c73-d48b-9c058cf4595e
* Content: [Push notifications to Xam

[2019-08-02 10:38] PramodValavala-MSFT commented on #36289
@hf-kklein I wasn't able to reproduce the same compile error and can confirm that the code does work as expected.

For reference, I have tried it with version `3.0.3` of the `Microsoft.Azure.WebJobs.Extensions.EventHubs` library.

[2019-08-02 10:47] ExarKun1983 commented on #36207
Hi Mike,
 I didn't paste values for dwUser and dwPass here but I pass it in my code. Apparently the problem was not with the DW connection itself but with the previous steps.
In the tutorial there is:
`dbutils.fs.cp("file:///tmp/small_radio_json.json", "abfss://" + fileSystemName + "@" + storageAccount + ".dfs.core.windows.net/")`

and it should be
`dbutils.fs.cp("file:///tmp/small_radio_json.json

[2019-08-02 10:48] jakaruna-MSFT commented on #36354
@PatrickLang Thanks for the feedback.
I hope you want the document to be enhanced with your asks.
In document, we like to give a use case which is easy to follow for most users.
I will let the author decide.

@zr-msft please validate the asks

[2019-08-02 11:05] hf-kklein commented on #36289
I'm using `3.0.6`.

[2019-08-02 11:10] SimonGivan commented on #24229
Hi @MashaMSFT Unfortunately I don't. When I was faced with the access issue and identifed the problem I blew away the VMs and recreated them with SQL Authentication Enabled. Then I was able to login with the local account and grant the network account the appropriate settings to enable me to continue with the guide.

[2019-08-02 11:10] KrishnaG-MSFT commented on #36286
@chrisdoofer AFAIK this is independent of environment (prod / dev / test). In general in some cases the self signed certificates that are generated at the customer's end are not recommended in higher environments for various security reasons but in this case self signed certificates are generated at Azure end which should be fine to go with and also (as you might already know) this self signed cer

[2019-08-02 11:13] KrishnaG-MSFT commented on #36385
@imeya Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-02 11:14] KrishnaG-MSFT commented on #36390
@kogesaka Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-02 11:17] KrishnaG-MSFT commented on #36351
@vladvino Thanks for the quick response. 👍

[2019-08-02 11:19] LukasNespor opened #36392 "Send email activity"
Few days back "Send Email (V3)" preview mark was removed. Since then previous "Send Email" disappeared from the list of available actions. Problem of V3 action is that you have to specify HTML content with WYSIWYG which is completely unusable.

There is no option to edit HTML directly (edit it in JSON is extremely unfriendly because it has to be on one line).

Also it is impossible to create dynam

[2019-08-02 11:20] KrishnaG-MSFT commented on #36364
@mikebudzynski Thanks for the quick response. 👍

[2019-08-02 11:57] plankytronixx opened #36393 "I think (hope) there's a typo on the page"
You have this sentence on this page:
"for example, limit VM locations to US West Region on the group "Production". This policy will inherit **onto both EA subscriptions** under that management group".

From the diagram associated with that text, I THINK you mean "for example, limit VM locations to US West Region on the group "Production". This policy will inherit **onto the 5 EA subscriptions** un

[2019-08-02 12:00] StannieV commented on #29892
Here the script for 4.8:

`REM Set the value of netfx to install appropriate .NET Framework.
REM ***** To install .NET 4.5.2 set the variable netfx to "NDP452" *****
REM ***** To install .NET 4.6 set the variable netfx to "NDP46" *****
REM ***** To install .NET 4.6.1 set the variable netfx to "NDP461" ***** https://go.microsoft.com/fwlink/?LinkId=671729
REM ***** To install .NET 4.6.2 set the vari

[2019-08-02 12:00] eivinskr opened #36394 "TelemetryConfigration.Active deprecated"
TelemetryConfigration.Active is deprecated with ApplicationInsights SDK 2.11-beta1 as described [here](https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152), so the first example under [using config file](
https://docs.microsoft.com/en-us/azure/azure-monitor/app/console#using-config-file)
 should maybe reflect that?

Could be done similar to how TelemetryProcessorChainBuilder is des

[2019-08-02 12:03] win2000b commented on #36194
How soon after an update comes out should the details be published? Update 39 is still not showing.

[2019-08-02 12:10] andrewatfornax opened #36395 "API Definiton Doesn't Match"
Details on this page are inconsistent with https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-04-16/scheduledqueryrules - e.g. options defined here that are not in the API definition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf2c0c6-fa14-66f1-1f84-92f22a3b2bb6
* Version Independent ID: b1d4

[2019-08-02 12:16] janitorr commented on #30814
I would still be needing this documentation, I was able to inject whole IConfiguration to my service but Options would be far better approach.

I also tried the example above but the settings object seems to be null every time, where is the actual setting supposed to be, I tried many different ways of putting it in local.settings.json but no luck yet.

Big thanks for any possible help.

[2019-08-02 12:17] smoms opened #36397 "Edge to IoT Hub/Cloud configuration port"
Hi, if i run Edge in private network and keep a connection to IoT Hub (Cloud) for configuration only (twin updates, DevOps push..) and none device-to-cloud messages what protocol and port(s) do i need to open in inbound/outbound? I assume Edge uses by default also for configuration AMQP, right? If so, if not possible to open the AMQP port how can i configure Edge to use AMQP over Websocket? thanks

[2019-08-02 12:19] KrishnaG-MSFT commented on #36395
@andrewatfornax Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-08-02 12:58] SuperSing commented on #36295
Using Gen5 and trying to scale up & down between  4 Vcores , 8 Vcores & 16 Vcores. Region is West Europe. Scaling will be done using both portal and powershell.

[2019-08-02 12:59] pbiasotti opened #36398 "Migration to single partition doesn't seem to work"
The steps described in "Migrate to single partition collections by using the .NET SDK" are for increasing the RUs and not for moving to unlimited partitioned collections, If we tried to set the RUs over 10k the snippet shown will through an exception (limit is 10k). I understand that this scaling in place from fixed to unlimited is not supported.

---
#### Document Details

⚠ *Do not edit this sec

[2019-08-02 13:09] m4h3 commented on #35925
any update ?

[2019-08-02 13:09] Johannes-Vink opened #36399 ".net 3.5 install fails"
SSIS IR custom .net 3.5 installation fails. Example and files gotten from https://docs.microsoft.com/en-us/azure/data-factory/how-to-configure-azure-ssis-ir-custom-setup. Installation fails in stderror.out with the following content:
Install-WindowsFeature : The request to add or remove features on the
specified server failed.
Installation of one or more roles, role services, or features failed.
T

[2019-08-02 13:09] j-martens commented on #36263
Retrieve the schema JSON document after deploying the service using  [the swagger_uri property](https://docs.microsoft.com/python/api/azureml-core/azureml.core.webservice.local.localwebservice?view=azure-ml-py#swagger-uri).

[2019-08-02 13:13] jwargo commented on #36391
@SteveMaz I don't understand the context of this, what types of changes?