[2018-09-06 18:16] vasivara-MSFT commented on #14280
@Anded I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:16] Adam-Smith-MSFT commented on #14595
@marykayb Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:17] vasivara-MSFT commented on #14410
@vanLeeuwen1 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:18] femsulu commented on #14584
@aseeralmeem شكرا على تعليقك. لا افهم طلبك. يرجى توضيح ما تحتاجه وسنكون سعداء بمساعدتك..

[2018-09-06 18:19] chetansriv commented on #8409
@tmaeller Thanks for the confirmation. We are working on first two points however not very sure about the third point. As per my understanding, we have two apps in gallery - Virtual Office and Account Manager and this tutorial talks about configuring Virtual office. So, I am assuming that if you have new platform which is replacing Account Manager, we may need another tutorial for the same. Also,

[2018-09-06 18:26] cephalin commented on #11061
@forester123 The doc has been updated according to the suggestion. Thank you!

#please-close

[2018-09-06 18:28] jurjenoskam commented on #14179
@iainfoulds Clear, thanks for the elaborate reply!

[2018-09-06 18:31] femsulu commented on #14586
@diptisheth thanks for the comment. Is your question refereeing to a specific Azure documentation? If yes please share the doc. If this is simply a request for CRON support then I recommend posting your question on StackOverflow. I did a quick online search which revealed the following [CRON tutorial](https://www.pantz.org/software/cron/croninfo.html). Please review this to see if it helps answer

[2018-09-06 18:31] #14586 closed

[2018-09-06 18:37] femsulu commented on #14588
@rsedano , @rsedano  thanks for your comments. We are actively investigating and will get back to you shortly.

@jimdial twe have 2 reports of breaking change to the runbook referenced in [this article](https://docs.microsoft.com/en-nz/azure/network-watcher/network-watcher-monitor-with-azure-automation?view=powershell-3.0)
@georgewallace  - Fyi

[2018-09-06 18:40] vasivara-MSFT commented on #14465
@otykier Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:42] femsulu commented on #14592
@Aaron-Yue Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-06 18:43] TravisCragg-MSFT commented on #14576
@easkerov Thanks for the feedback! These NICs are not being associated with public IPs, they are being associated with the public LB.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:43] TravisCragg-MSFT commented on #14579
@Devilblessed Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:44] femsulu commented on #14603
@farabisameer Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-06 18:44] TravisCragg-MSFT commented on #14601
@jtuliani Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 18:47] femsulu commented on #14534
@ecfan can you please review this doc-enhancement request?

[2018-09-06 18:48] curtand commented on #14455
Hi @IgorRogDevPro
In the first sentence you cite above, beginning "Users with this role have all of the read-only permissions of the Security reader role, plus the ability to manage configuration for...", I removed PIM. The rest seems correct. I'll update when this is published, and close.
@MarileeTurscak-MSFT

[2018-09-06 18:49] roygara commented on #14365
This has been incorporated and merged, it should be live by EoD today.

Thank you both for pointing this out. :)

#sign-off

[2018-09-06 18:49] femsulu commented on #14388
@ATGardner valid feedback. We will review internally for future consideration. Thanks again. We will now close this request.
@tfitzmac  - FYI

[2018-09-06 18:49] #14388 closed

[2018-09-06 18:50] roygara commented on #14153
@brandonh-msft this has been integrated, thank you again for bringing this to our attention.

#please-close

[2018-09-06 18:50] curtand commented on #13370
Hi @gtimread
I updated the article to mention Teams administration for that role, and linked to the existing article on licensing. When it publishes I will comment and close.
@MohitGargMSFT

[2018-09-06 18:51] cjh15hub opened #14616 "Create Credential Error"
In reference to
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-restore-from-backup-tutorial

When following these steps, I got as far as uploading the backup file, but when I connected to the Azure Database and ran the Create Credential command, I got an error telling me that the command is not supported on this version of SQL Server. What should I do next?

---

[2018-09-06 18:52] #14416 closed

[2018-09-06 18:55] cyamasaki8 opened #14617 "Can provisioning ExpressRoute Circuit be done entirely on the Azure Portal?"
It would be nice to know at the top of this page whether there is an update or option now to do this configuration completely thorugh Azure Resource Manager Web portal and completely bypass PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23d4f079-654e-2053-4654-115a55e9379f
* Version Independent ID: 2c032f28

[2018-09-06 18:57] wesleykirkland opened #14619 "Append has an extra )"
Append([userPrincipalName], ".test")) should be Append([userPrincipalName], ".test") Notice the removal of a ')'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8685339-06af-5bb1-64da-80c16878b0bf
* Version Independent ID: 1ee0d812-00de-90cc-f5e2-d53e3b610bf0
* Content: [Writing Expressions for Attribute Mappings in Az

[2018-09-06 19:02] brandonh-msft commented on #14153
@roygara is it live? unfortunately I can't readily see a commit related to this issue (could be linked via commit comment, fyi) and am not seeing anything in the docs that calls this out for blobs (I see something for files though not sure if that's new). Commit history on the md file called out by automated creation of this Issue doesn't allude to anything new in this regard, either.

[2018-09-06 19:16] pisees opened #14620 "When to use IoT Edge or Azure IoT Protocol Gateway"
Hi,

Can you share guidance on when to use which? Thanks,

https://github.com/Azure/azure-iot-protocol-gateway

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ebfe95-4ec9-e071-bc89-67ea25905d37
* Version Independent ID: 819f9aff-e1eb-6e05-fcd2-4daa4e7165eb
* Content: [Use Azure IoT Edge devices as gateways](https://do

[2018-09-06 19:17] cgillum commented on #9201
I'll create a PR shortly which adds this.

[2018-09-06 19:18] femsulu commented on #14612
@agvardha Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-06 19:26] cgillum commented on #9147
Hi @MicahMcKittrick-MSFT, can you please close this issue?

[2018-09-06 19:28] jeffwmiles commented on #11164
As an addendum/update - the answer is yes; I request an increase of SKU DS, which I have 0/10. It has increased to 0/20, and my Total Regional vCPU has also increased to 8/20.

[2018-09-06 19:29] tfitzmac commented on #14388
@ATGardner - I want to add a little explanation. I understand the confusion because you are seeing two processes. There is the Managed Application process, and the general portal process.

The notification is a general feature of the portal. The portal shows the notification any time I upload a file to my storage account. It doesn't know how I am planning to use the new file, so it just displays t

[2018-09-06 19:30] #9147 closed

[2018-09-06 19:33] Kazzan opened #14621 "Delete User which is Member of Dynamic Group"
What are correct steps to delete user which is a member of Dynamic Group? Office 365 Admin Portal does not allow deleting such user. Azure AD allows to delete but does not set the same steps as Office 365 (like assign OneDrive permissions). There should be something like, change the membership to "-and -not (user.userPrincipalName -eq "user@domain.com")" I mean.

---
#### Document Details

⚠ *Do n

[2018-09-06 19:40] MicahMcKittrick-MSFT commented on #14245
@eugen-nw I ran through this doc and although I did not see the exact same issues as you did the entire process itself was not super fluent. I am assuming this is because the doc was published in 2017 and since then their have been mulitple updates in the SDKs.

I was able to get the debugger to work but not very smoothly.

@vturecek would you be able to run through this doc and see if we can add

[2018-09-06 19:45] jasonfare opened #14622 "Retreive your domain name steps are incorrect"
It states above to go to Azure Active Directory and then properties to retrieve the domain name.  There is no domain name field showing there. The only items displayed are the Name, Country/region, location, notification language, global admin can manage azure subscriptions and management groups, directory id, technical contact, global privacy contact, and privacy statement URL. Additionally, the

[2018-09-06 19:47] MicahMcKittrick-MSFT commented on #14607
@timmyreilly If you create a function app and choose not to use application insights then you would be use the default logging. In the case you want to use Application insights then it is suggested you just use app insights instead of the built in logging solution.

So you should really just be using one or the other. But for production workload you should be using application insights.

It does n

[2018-09-06 19:50] topgenorth commented on #14606
Thanks for  reporting this, this is a bit confusing to me as well.  I think this confusion the result of this sentence in the Android Push Notification tutorial:

To clarify:  There are two types of message that can be published by FCM:  a _notification_ or a _data payload_ (I'll ignore the data payload for now). If the app is running, then the `NotificationHandler` will process the message. In th

[2018-09-06 19:50] jasonfare commented on #14622
section 3.b under Create a New App registration has a type o.  should read:  Application Type instead of As Type

[2018-09-06 19:52] KumudD commented on #14576
@easkerov The test scenario documented in  - [Create a public Load Balancer Standard with zonal Public IP address frontend using Azure CLI](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-standard-public-zonal-cli) is accurate. For the virtual machine NICs, use of public IP addresses is optional. You can also use a private IP address for the NICs instead.

#please-close

[2018-09-06 19:56] Karishma-Tiwari-MSFT commented on #14573
@bingosummer Yes, your data will be moved to the disk you selected, in this case from premium SSD to standard HDD. This happens behind the scenes when you change the account type of managed disk and click on save. i.e instantly.

[2018-09-06 19:56] HaripraghashSubramaniam commented on #14570
What happens when we specify a value of "default"?

On Thu, Sep 6, 2018 at 7:12 PM VairavanS-MSFT <notifications@github.com>
wrote:

--
Sent from Android

[2018-09-06 19:59] Anmolgan81 commented on #14416
Sure you can close it, if I have to look for other options rather then so be it. Seems like Microsoft is no help for us in such kind of things. Never mind we will research on this.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: femsulu-MSFT <notifications@github.com>
Sent: Friday, September 7, 2018 12:22:55 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; M

[2018-09-06 20:05] SaurabhSharma-MSFT commented on #14488
@Shreelekha19 Please refer to [Claims mapping in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-claims-mapping#claims-mapping-policy-assignment)  to customize the claims in a token.  This document has steps to add two claims EmployeeID and TenantCountry in the token for any application.

[2018-09-06 20:07] jnprakash commented on #14357
Windows 2016

On Wed, Sep 5, 2018 at 7:02 PM TravisCragg-MSFT <notifications@github.com>
wrote:

--
Thanks and Regards
Jay

[2018-09-06 20:11] hpcre commented on #14472
I was referring to cloud services, not Windows vm specifically.
I don't know how else to explain. I'm simply stating the any vm created on
Azure can be resized anytime.

On Wed, 5 Sep 2018, 21:53 Karishma Tiwari - MSFT, <notifications@github.com>
wrote:

[2018-09-06 20:18] vasivara-MSFT commented on #14570
@HaripraghashSubramaniam When you specify the value as "transactional" which is the default value, it will accept that value.

[2018-09-06 20:20] MicahMcKittrick-MSFT commented on #14611
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-06 20:26] glynastill commented on #13780
I'm using Debian Stretch/9 following the guide here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ansible-install-configure

[2018-09-06 20:31] enetics-eugene commented on #14605
Hi @MohitGargMSFT,

A change to the documentation to make this situation clearer will not deal with the underlying security problem: Microsoft is referring to currently un-registered domains in documentation, which could be bought and made to serve any arbitrary content to future users. Historically, domains used in documentation are registered by the company using them, or otherwise reserved to p

[2018-09-06 20:35] SaurabhSharma-MSFT commented on #14498
@andrewdialpad As per the Open ID Specification it is not recommended to rely on using preferred_username as for a given End-User for the uniqueness of the user as it may change over time.  Please refer to [Claim Stability and Uniqueness](https://openid.net/specs/openid-connect-core-1_0.html#ClaimStability).

[2018-09-06 20:45] necevil commented on #14611
Thanks Micah!
You can see some more details of other people (albeit not on Azure) having the same issues over here on the cert-manager github:
https://github.com/jetstack/cert-manager/issues/491

[2018-09-06 20:57] TravisCragg-MSFT commented on #9197
@SimonLuckenuik We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 20:57] #9197 closed

[2018-09-06 21:06] Shreelekha19 commented on #14488
Okay I will try to look into Claims mapping in AAD and if I have any questions I will update. Thank You !

[2018-09-06 21:06] Mike-Ubezzi-MSFT commented on #14616
@cjh15hub Thank you very much for your inquiry to find a resolution to your issue. Have you deployed an Azure SQL Database instance or have you deployed an instance of Azure SQL Database Managed Instance? The Managed Instance option is under Private Preview, where you need to be 'approved' to participate in the preview period. If you do not recall going through this approval process, you are most

[2018-09-06 21:10] MohitGargMSFT commented on #14621
@Kazzan Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-06 21:12] TravisCragg-MSFT commented on #13911
@dcbrown16 the AzureLoadBalancer service tag just allows the 168.63.129.16 IP Address, not the .25 Address.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-06 21:12] #13911 closed

[2018-09-06 21:18] TravisCragg-MSFT commented on #14473
@dmc-tech ADFS does have some AAD Components, and the Tenant ID [is retrieved using the example Here](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-create-service-principals#create-service-principal-for-ad-fs).

[code]

[2018-09-06 21:18] ryanwawr commented on #14577
I just went through the setup for most of the identity providers less than a month ago, and it definitely used to refer to the `https://login.microsoftonline.com/te/{tenant}.onmicrosoft.com/oauth2/authresp` url as the one that should be included in the OAuth Redirect URLs list, whereas the currently listed URL does not work for me. Guessing the page was updated in anticipation of the b2clogin.com

[2018-09-06 21:30] tamram commented on #13146
@vemund - Thanks for calling this out. I've made the change, and it should go live shortly.

#please-close

[2018-09-06 21:35] jason-j-MSFT commented on #14463
@Minewiskan a customer has discovered a prerequisite which may block the installation of a data gateway, could you take a look?

[2018-09-06 21:36] MohitGargMSFT commented on #14619
@wesleykirkland Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-06 21:38] MohitGargMSFT commented on #14609
@Shreelekha19 Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-06 21:38] ryanwawr opened #14624 "Specify that Callback URL must be lowercase"
Previous versions of the documentation specified that the Callback URL entered in the app must be entirely lowercase, even if the policy name or tenant include uppercase characters. This should probably be added back to this page, as it still seems to be true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 383fed5d-cba

[2018-09-06 21:40] faceoffers28 commented on #14606
@topgenorth Thanks for the quick response. I've checked the system tray and the message/notification is not there. I've been working on and off, over the past couple of moths, to try and get this working. I've also read lots of forum posts regarding this issue. From what I can tell, this has been addressed and fixed in a recent update to Firebase messaging, regardless of the device manufacturer. A

[2018-09-06 21:41] koumghar commented on #13596
I ran through all of it. No issues for me. And I set the iso image before I went into settings to disable 'secure boot'.

[2018-09-06 21:43] topgenorth commented on #14606
You could try the preview version of the Xamarin.Firebase.Message NuGet package, that  might fix your problem.

Another thing you could try is to create a foreground service that will keep the app running and hence able to use the `NotificationHandler` to respond to the FCM notifications. That won't 100% fix the problem, but might make for a temporary stop-gap (depending on the requirements of you

[2018-09-06 21:44] ryanwawr opened #14625 "Listed Callback URL seems to be incorrect"
1. The b2clogin.com feature is still in public preview, so I don't think the Callback URL listed on this page will work in production environments. At the very least, the page should provide the `https://login.microsoftonline.com/te/{tenant}/{policyName}/oauth1/authresp` Callback URL that is required when using login.microsoftonline.com as the domain and provide the b2clogin.com URL with a note in

[2018-09-06 21:47] poulinjulien commented on #14202
@Karishma-Tiwari-MSFT, @MicahMcKittrick-MSFT

[2018-09-06 21:55] TravisCragg-MSFT commented on #14539
@blueelvis the example given in the doc works fine with 6.8.1. to troubleshoot why your particular log does not work, I would recommend posting your question to the [Azure Networking MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetwork).

I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 21:56] femsulu commented on #11061
@forester123 We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 21:56] #11061 closed

[2018-09-06 21:56] femsulu commented on #13146
@vemund We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 21:56] #13146 closed

[2018-09-06 21:58] smflorentino opened #14626 "AzurePoweShell syntax for subscription scope is wrong"
See https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-powershell#create-a-role-assignment-for-an-application-at-a-subscription-scope

The syntax for scope is wrong. It is &lt;subscription id&gt; but should be /subscriptions/&lt;subscription id&gt;

The syntax is:
New-AzureRmRoleAssignment -ObjectId &lt;application id&gt; -RoleDefinitionName &lt;role name&gt; -Scope

[2018-09-06 22:01] femsulu commented on #14072
@ljliu2k We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 22:01] tamram commented on #13097
@Sambsamb - Thanks for your feedback! Hopefully the script that @fhryo-msft pointed you to will do what you need. Please let us know if you have any further questions.

#please-close

[2018-09-06 22:02] femsulu commented on #14108
@TerryDiederich We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 22:02] #14108 closed

[2018-09-06 22:02] SenthuranSivananthan opened #14627 "Differentiate aad-server-app-id and aad-client-app-id"
Under the section Deploy Cluster, we should use 2 different values (guids) for:

--aad-server-app-id
--aad-client-app-id

So that it's clear how these 2 settings are used in the cluster.  The cli command looks ambiguous right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95155e6c8
* Ver

[2018-09-06 22:03] femsulu commented on #14153
@brandonh-msft We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 22:03] #14153 closed

[2018-09-06 22:03] femsulu commented on #14179
@jurjenoskam We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 22:03] #14179 closed

[2018-09-06 22:04] femsulu commented on #14365
@Adam-Smith-MSFT We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 22:04] #14365 closed

[2018-09-06 22:06] jason-j-MSFT commented on #14477
@yodobrin I am able to create the Azure File Storage with the syntax as stated in the documentation.  Are you seeing an error?

We are closing this issue for now but we can reopen it if you can point out a problem with the procedure in the documentation.

[2018-09-06 22:06] #14477 closed

[2018-09-06 22:09] Mike-Ubezzi-MSFT commented on #14197
@imhashir We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-06 22:09] #14197 closed

[2018-09-06 22:10] mahaboob commented on #13780
@glynastill  I am getting this issue in CentOS.

[2018-09-06 22:14] jason-j-MSFT commented on #14478
@clark0820 could you explain in more detail the issue you are seeing?

[2018-09-06 22:14] SaurabhSharma-MSFT commented on #14468
@minhaj-dell  I am not able to understand what exactly you mean by WAP page ? Web Application Proxy is used to provide access to applications outside of the corporate network.  It works like this -
1. User tries to access the application using the web-browser.
2. The application delegates authentication to Azure Active Directory (AAD)
3.  AAD redirects the client to the identity provider (In this

[2018-09-06 22:16] daviburg opened #14629 "Format of user name for local machine account"
The filesystem connector swagger describes the username format as domain\username. It is also possible to connect with local machine user if the filesystem folder is on the same machine as the on-premises data gateway. In such scenario the user name format is simply machine\username. E.g.: MyServer\Daviburg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-09-06 22:26] ATGardner commented on #14388
It does indeed help me understand why there is this discrepancy between the two URLs. I did not realize these are two separate and distinct processes.
Maybe in that case, the simplest solution would be just to include this information in the Microsoft.Common.FileUpload documentation - to let future users know that the URL they see in the notification will not be usable by them, but the ARM templat

[2018-09-06 22:29] MohitGargMSFT commented on #14609
@Shreelekha19 Please note that as mentioned in the document that 'The Refresh Token Max Inactive Time property must be set to a lower value than the Single-Factor Token Max Age and the Multi-Factor Refresh Token Max Age properties.' So if you the right way of doing it is as below - {"Version":1,"MaxInactiveTime":"00:15:00","MaxAgeSessionSingleFactor":"00:30:00","MaxA
geSessionMultiFactor":"00:30:0

[2018-09-06 22:30] Karishma-Tiwari-MSFT commented on #14593
@balukambala Can you please confirm which doc is correct in regards to supported OS for Azure DSC Extension for Linux?
1.  Looks like the OS that are shared as exception in this [document ](https://github.com/Azure/azure-linux-extensions/tree/master/DSC#4-supported-linux-distributions)are shown as supported [in the readme file of GitHub repo for DSCForLinuxExtension](https://github.com/Azure/azure

[2018-09-06 22:36] Karishma-Tiwari-MSFT commented on #14578
@ggailey777 Thank you for sharing the recent changes with the customer. I will assign this issue as doc-enhancement to you. If you already have another task open to update the doc for latest announcement, let me know, I will close this one. :)

[2018-09-06 22:38] sethmanheim commented on #14193
@SenthuranSivananthan Thank you for the feedback. This snippet isn't meant to be syntactically complete, as a learning tool it's best to follow the link to the complete code. #please-close

[2018-09-06 22:45] Karishma-Tiwari-MSFT commented on #14202
@amat27 I saw that you were helping out customer on this issue on [MSDN thread](https://social.microsoft.com/Forums/en-US/2bee621c-f3d9-41a3-a89f-7c5ddfc6f784/quotinput-string-was-not-in-a-correct-formatquot-error?forum=windowshpcdevs). Can you please share your expert insights and help answer customer's additional questions on the same?

[2018-09-06 22:53] TravisCragg-MSFT commented on #14617
@cyamasaki8 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-06 22:55] Karishma-Tiwari-MSFT commented on #14627
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-06 23:00] MohitGargMSFT commented on #14619
@wesleykirkland Thanks for reporting! I have made the necessary change in the document and submitted the pull request.

[2018-09-06 23:06] iainfoulds commented on #14611
Sorry you ran into issues, @necevil.

Yes, in general it's always to run the latest version of Helm and Tiller pod. I've created a PR to make this call out and link to the Helm upgrade docs.

#in-progress

[2018-09-06 23:08] jeevansd commented on #8409
@tmaeller Please note that 8x8 Account Manager is the Password SSO app in our gallery where as 8x8 Virtual Office is the federated SAML app. So do you want us to merge both of them in one or do you want us to enable the federation in the Account Manager app also? I am not sure about the action here.

[2018-09-06 23:11] iainfoulds commented on #14627
Sorry you ran into issues, @SenthuranSivananthan.

I've create a PR to update the command example to match the server app ID and client app ID shown in the portal screenshots and the text call-outs. This should make it clearer when providing your own values.

#in-progress

[2018-09-06 23:16] femsulu commented on #14206
thanks for clarifying @MarkIannucci . Give me some time to followup. will update soon.

[2018-09-06 23:17] SenthuranSivananthan commented on #14627
Awesome.  Thank you.

[2018-09-06 23:17] CarlRabeler commented on #9080
Sent follow-up mail to PM

[2018-09-06 23:18] CarlRabeler commented on #9080
@Mike-Ubezzi-MSFT please assign to jovanpop-msft

[2018-09-06 23:29] kobulloc-MSFT commented on #14375
@Tulkis We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-09-06 23:29] #14375 closed

[2018-09-06 23:30] #14627 closed

[2018-09-06 23:30] #14619 closed

[2018-09-06 23:33] yudomsft commented on #14256
Hi Jelle,

I am the engineer responsible for the back-end components of the update blade.

It is safe to delete old updates from the storage account after they have been installed. You can do this manually if you would like. In addition, a feature was added in version 1807 that checks for old update packages periodically and deletes them. This may take up to two weeks after an update has been inst

[2018-09-06 23:35] v-maroge commented on #14317
@Karishma-Tiwari-MSFT Thanks for the info. That was all I wanted to know, you can close the case.

[2018-09-06 23:41] femsulu commented on #14521
@scarbon We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-06 23:41] #14521 closed

[2018-09-06 23:41] cameronattard commented on #14500
The roles are definitely mapped correctly to the IDP and unfortunately restarting the provisioning did not resolve the issue.

[2018-09-06 23:42] Karishma-Tiwari-MSFT commented on #14317
@v-maroge We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-06 23:42] #14317 closed

[2018-09-06 23:50] MohitGargMSFT commented on #14621
@Kazzan Please check on this document - [Dynamic membership rules for groups in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership) to check on supported properties and operators.

[2018-09-06 23:56] jeevansd commented on #14500
@cameronattard Can you please try the checkbox of clear current state and restart synchronization box which will completely restart the Sync service?

[2018-09-06 23:57] femsulu commented on #14626
@smflorentino Thanks for bringing this to our attention. We are actively investigating and will update soon.

[2018-09-07 00:01] MohitGargMSFT commented on #14622
@jasonfare Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-07 00:04] MohitGargMSFT commented on #14624
@ryanwawr Thanks for your feedback! We will investigate and update soon on it.

[2018-09-07 00:08] MohitGargMSFT commented on #14625
@ryanwawr Thanks for reporting! I have assigned the issue to the content author to investigate and update as appropriate.

[2018-09-07 00:21] jamesbannan opened #14630 "Code samples URL is broken"
The link to the "Code samples" document (https://azure.microsoft.com/resources/samples/?service=cdn) is broken. It doesn't result in a 404, but rather a page with a .NET runtime error.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38ede72f-b8be-6455-36b8-e891451f42a0
* Version Independent ID: f97e246c-4076-c4bb-e1df-3

[2018-09-07 00:23] cbeech1980 opened #14631 "Embedding the script"
I'm struggling to execute the custom script extension on CentOS 7.5. When I add script within settings (so it's properties.settings.script) I receive;

VM has reported a failure when processing extension 'Microsoft.Azure.Extension'. Error message: \"Enable failed: failed to get configuration: json
validation error: invalid public settings JSON: script: Additional property script is not allowed.

.

[2018-09-07 00:31] MohitGargMSFT commented on #14605
@enetics-eugene Sure, we will check on it.

@mahesh-unnikrishnan Please note that this issue is assigned to you. Please check on it and make necessary required modifications.

[2018-09-07 00:33] dksimpson commented on #14630
@jamesbannan Thanks for your comment! Can you clarify which link is failing? I don't see a code samples link in this article (https://docs.microsoft.com/en-gb/azure/cdn/cdn-create-a-storage-account-with-cdn).

[2018-09-07 00:35] jamesbannan commented on #14630
It was in the menu under Samples --> Code Samples. However I just tried it again a couple of minutes ago and the link worked. So, I'm not sure what was going on, but it seems to be resolved.

[2018-09-07 00:35] #14630 closed

[2018-09-07 00:36] bingosummer commented on #14573
@Karishma-Tiwari-MSFT Thanks. So, when I click on save, Azure Portal instantly tells me that the account type is changed. At that moment, have the data been moved completely? Are the disk ready to use?

[2018-09-07 00:43] cameronattard commented on #14500
By clear current state do you mean the 'Restore default mappings' box?

[2018-09-07 00:51] femsulu commented on #13097
@Sambsamb We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 00:51] #13097 closed

[2018-09-07 00:54] adrianrbezzina commented on #14531
Having the same issue:

In the Logs for ACR I keep getting this error: 'Get build source upload url location.'

This seems to have only started happening since the outage that occurred in South Central US data center early in the week.

Here is a extract of the log:
"authorization": {
        "action": "Microsoft.ContainerRegistry/registries/getBuildSourceUploadUrl/action"
},.......
"properties":

[2018-09-07 00:55] #14072 closed

[2018-09-07 00:56] femsulu commented on #14193
@SenthuranSivananthan We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 00:56] #14193 closed

[2018-09-07 00:59] tamram commented on #14395
@Forrin - I've passed this on to the App Service team, as it appears to be a product issue rather than an  documentation issue. I'm going to close this issue, but when I learn more, I will provide an update here. Thanks for your feedback!

#please-close

[2018-09-07 00:59] femsulu commented on #14576
@easkerov We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 01:00] tamram commented on #14301
#please-close

[2018-09-07 01:04] tamram commented on #14389
#please-close

[2018-09-07 01:05] tamram commented on #14185
#please-close

[2018-09-07 01:05] femsulu commented on #14599
@markgar Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-07 01:09] tamram commented on #14156
@the-chad-at-ms - Thanks for your feedback. I have updated the article and it will go live shortly.

#please-close

[2018-09-07 01:10] TravisCragg-MSFT commented on #14630
@jamesbannan glad the issue is resolved!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 01:19] TravisCragg-MSFT commented on #14357
Instructions can be [found Here that work for Server 2016](https://social.technet.microsoft.com/Forums/office/en-US/a4e5c780-7920-49e0-908f-aee0987ad41b/how-to-install-microsoft-loopback-adapter-on-windows-10), use the instructions in the "Answer" area.

[2018-09-07 01:19] KumudD commented on #14576
@easkerov Thanks for clarifying the issue noted in the document.  In the Create NICs step - the three NICs are created for the three test VMs and are associated to the Public IP address of the load balancer.  I will clarify this in the document. Thanks for bringing it to our attention! Let me know if you have any further questions.

[2018-09-07 01:29] ronnieharper commented on #13845
You have to make them owner at the subscription level.  They will then get owner at the resource level and the Advanced Settings will be available.  At least, that's how I did it even though it's too much.  For Readiness, at least, those settings would be handy for Readers so they can generate a report on queued machines, although after some time we have stopped doing that.

[2018-09-07 01:30] Karishma-Tiwari-MSFT commented on #14472
@hpcre Thanks for your reply and clarification about cloud services doc. I updated the issue with the right document. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-07 01:30] Mike-EEE commented on #14389
@tamram Ah, I apologize if the ask is not apparent (it's sort of hidden in my last message), but the request is to update the documentation with some scenario-based examples for this new service.  Ideally, this would be one example using CDN and then another without it.

Or is the ask clear and that's your way of saying to buzz off? 😂

[2018-09-07 01:31] ishepherd opened #14632 "'By default, the DocumentClientException with status code 429 is returned after a cumulative wait time of 30 seconds'"
'By default' - Is this default changeable?
We would like to set time-based limits on retry rather than count-based limits (using a cancellation token). In some cases we want longer than 30 seconds.
cc @gmar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID: 809

[2018-09-07 01:36] Karishma-Tiwari-MSFT commented on #14631
Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-07 01:38] ishepherd commented on #14632
Sorry - RTFM'd and see it now

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.documents.client.connectionpolicy.retryoptions?view=azure-dotnet#Microsoft_Azure_Documents_Client_ConnectionPolicy_RetryOptions

[2018-09-07 01:38] #14632 closed

[2018-09-07 01:39] cbeech1980 commented on #14631
Thanks - I have it working with the script being stored in a storage
account, but I like the idea of having the script embedded in the template!

On 6 September 2018 at 21:36, Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2018-09-07 01:52] BryanTrach-MSFT commented on #14629
@daviburg Thank you for sharing this great item of information. We have assigned this to the doc author for them to review the feedback further and take action as necessary.

[2018-09-07 02:36] options opened #14634 "korean version of this page"
I would like to upload some feedback of Korean version of this page. but it was not allowed. I couldn't add any of feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82ee9751-961d-7109-63d6-813b1862c632
* Version Independent ID: 583d1b2f-9c1a-3580-9d14-37bb551eaf44
* Content: [Compare Flow, Logic Apps, Functions,

[2018-09-07 02:40] gldraphael commented on #13271
@jason-j-MSFT any update on this?

[2018-09-07 02:42] amat27 commented on #14202
@poulinjulien
1. We'll suggest you use ARM template. But both ways should work.
2. It means you'll go through different pages (ARM template pages vs market place pages).
3. As long as your head node is not also a compute node, no.
4. Just to check if the cert is in client machine's Cert:\CurrentUser\Root.
5. Yes. HPC Cluster Manager cannot connect to a remote Azure cluster. Use Job Manager instead

[2018-09-07 03:10] tamram commented on #14389
@Mike-EEE - No, I would not say that. (-;

@MichaelHauss - Can you address the request for additional examples?

[2018-09-07 03:26] andschwa opened #14635 "Version 10.3 is no longer supported"
[code]

As of 9/6/18. Trying 10.5 also failed. Just `--version 10` succeeded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c8d482-9904-74ad-b0ad-5a8fc188510d
* Version Independent ID: be1ac595-a36f-ad23-4507-e4bdcfc5ad33
* Content: [Supported versions in Azure Database for PostgreSQL](https://docs.microsoft.com/en-

[2018-09-07 03:33] wasabii opened #14637 "Fine Grained Roles"
Is there a way to grant permissions to specific users to conduct specific operations? I need a user which is capable of adding and removing and updating services within one application only. Basically, the application needs to be able to update itself. But not other applications. It doesn't deserve to be a cluster admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-09-07 03:38] AnilKongariMSFT commented on #14385
@prabh-62, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 03:38] #14385 closed

[2018-09-07 03:51] Alberto-Vega-MSFT commented on #14187
@Bnjmn83 `Aug 29 12:57:52 ben-Virtual-Machine45 iotedged[30841]: 2018-08-29T10:57:52Z [INFO] - No change to configuration file detected.` I agree with @kgremban  It seems like the daemon is not picking up your config file changes. Would you please follow this steps if you haven't yet: [Give IoT Edge acces to the TPM](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-auto-provision-simulated-d

[2018-09-07 04:12] femsulu commented on #14156
@the-chad-at-ms We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 04:12] #14156 closed

[2018-09-07 04:13] femsulu commented on #14185
@jdpearce We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 04:13] #14185 closed

[2018-09-07 04:13] femsulu commented on #14301
@SheridanLGrant We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 04:13] #14301 closed

[2018-09-07 04:14] femsulu commented on #14395
@Forrin We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-07 04:14] #14395 closed

[2018-09-07 04:28] dimachernov commented on #14515
@MohitGargMSFT  thanks, but is it how it was designed to be? Guest users owning security groups can manage them only if they have one of the directory admin roles?

In my B2B scenario, I have a number of external organisations working with SharePoint Online in my tenant. I want to assign access to some of the sites via security groups and let appointed users in external organization to manage acce

[2018-09-07 04:28] KeiroKamioka0000 opened #14638 "How to test/check the replicated data on secondary region?"
Hello, sorry if I post to the wrong place.
I believe it will be helpful to add the fact or faq regarding about the way to check the replicated data to make sure.

https://blogs.msdn.microsoft.com/azureedu/2018/05/30/how-can-you-test-ra-grs-redundancy/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf36d7c-e840-2e12-07

[2018-09-07 04:32] IdiotLeon commented on #11848
@mike-urnun-msft
What you told worked!
Thanks

[2018-09-07 04:58] suyogjainvrts commented on #14574
Thanks for the clarification.
One more question, If I keep my data in Hot for supposedly 1 hour, will I be billed for whole day or just that 1 hour?

[2018-09-07 05:09] meieda opened #14639 "High Availability consideration"
Let me recommend two updates.
1. High availability configuration
  The figure and explanation here is different from reference architecture.
  In reference architecture, NFS is on different host from ASCS.
  in addition, the figures show DBMS, ASCS, and AP are in different Availability Set but not clearly saying the requirement.
  I would say that Separation to 3 layer in each availability set and

[2018-09-07 05:44] msvijayn commented on #14571
Custom JSON payload is only applicable to [log alerts](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log) as stated in the doc:
![image](https://user-images.githubusercontent.com/33087919/45200525-dc8b0a80-b28e-11e8-914c-594571b6d4db.png)

To understand the various alert types in Azure Monitor, please see this article: https://docs.microsoft.com/en-us/azu

[2018-09-07 05:48] msvijayn commented on #14392
@cconrado Are you referring to the [Alert State from our new preview functionality](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-unified-alerts#create-an-alert-rule)? If yes, the API interface for the same will be made public soon. If you want early access I suggest reaching out to other of the [article ](https://docs.microsoft.com/en-us/azure/monitoring-an

[2018-09-07 05:48] msvijayn commented on #14392
#please-close

[2018-09-07 05:58] rolyon commented on #14626
Hi @smflorentino
Thanks for noticing this. I will update.
#in-progress

[2018-09-07 06:04] Jan-Olof commented on #14331
@Mike-Ubezzi-MSFT You have answered my questions about the EdgeHub. Thanks a lot!

It did make me wonder about how this works with the EdgeAgent however. It communicates with the IoT Hub when you start IoT Edge, using AMQP. Can it still do this when only port 443 is open? I.e. use AMQP-WebSock.

[2018-09-07 06:05] maskodnv opened #14640 "error: value SqlDBQuery is not a member of org.apache.spark.sql.hive.HiveContext"
When running sqlContext.SqlDBQuery(config) I get
error: value SqlDBQuery is not a member of org.apache.spark.sql.hive.HiveContext
All other examples are running OK. Is documentation updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a43d656-dbdf-ae04-f88d-488aa1dc78c5
* Version Independent ID: 155c9eb2-92df-1619-

[2018-09-07 06:07] maskodnv commented on #14640
PS. Git documentation is describing different command: sqlContext.azurePushdownQuery(config) but it's still not working.

[2018-09-07 06:35] Kazzan commented on #14621
@MohitGargMSFT Hi, as I stated above, it can be done with changing dynamic group rules to exclude the user from group. But this example should be listed here or in help when admin try delete the user. If you try delete such user, in Office 365 Admin Center you end with error and you are not pointed to solution of this.

[2018-09-07 06:46] developersenakim commented on #14424
downloaded : azure-iot-pcs-remote-monitoring-dotnet
and the subfolders related
working. close plz

[2018-09-07 06:53] PatrickPan2012 opened #14641 "Response of Face - Identify"
According to the document https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395239, the response is a json object that contains a json array. However, when I use java to invoke the api, the response is a json array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-09-07 07:42] laoki opened #14642 "Separate disks vs storage spaces"
Rothja,

You wrote that using separate disks would probably give similar performance.
If you're using disk stripping, isn't this supposed to always give higher iops because of the pool of disks?

Can you get any more information about this regarding performance?

I have a client that I've recommended then to use a separate disk just for log files.
Today, I have discovered that they have a storage

[2018-09-07 07:43] kyliel commented on #13780
@glynastill, we reproduced the issue on Debian. Are you using Debian VM as your Ansible host on Azure? We are trying to narrow down the issue. Stay tuned.

[2018-09-07 07:44] kyliel commented on #13780
@mahaboob, we cannot reproduce the issue on CentOS 7.4. Which CentOS version are you using? And are you using CentOS VM on Azure or your local machine? Need more information to help us troubleshoot it.

[2018-09-07 08:12] DenysM84 commented on #14598
I use:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-with-a-local-cluster

[2018-09-07 08:20] glynastill commented on #13780
@kyliel Thanks very much; correct yes I'm using a Debian VM in Azure as the ansible host.

[2018-09-07 08:21] astaykov opened #14643 "Missing required permission for the app registration!"
Hello dear team,

this article fails to explain the reader the very important requirement for the application registration with Azure AD. Namely, the application must register "required api access" to "Windows Azure Service Management" with the delegated permission "Access Azure Service Mamagement API as organisational user (preview)". This required API Access is well shown on the consent screen d

[2018-09-07 09:00] IgorRogDevPro commented on #14455
Hello,

Thanks for a prompt reaction!

Regards,
________________________________________
*Igor Rog*
DevOps | Dev-Pro.net
Phone: +1 (310) 362-0206
Mobile: +380 (50) 777-5810
Skype: dev-pro.igor.rog

On Thu, Sep 6, 2018 at 9:48 PM Curtis Love <notifications@github.com> wrote:

[2018-09-07 09:15] alexcarterUoE opened #14644 "References out of date schema"
e. In the User name attribute textbox, type http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress.
that URL is no longer valid  what Username attribute shoudl be used.
Screenshots are for an old version of TOPdesk and may need refreshed.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df0abe42-a367-64ae-91f

[2018-09-07 09:25] thedering opened #14645 "Pricing "Units" unclear"
The pricing calculator shows the fields units x days. I couldn't find any documentation on what a "unit" represents. Does it represent an Instance, a Repo or something completely different?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6fd3-2cca-0387-5c0d9b19906c
* Version Independent ID: 3b1ddae9-b0c3-78ff-1

[2018-09-07 09:30] Rajani-Janaki-Ram commented on #13671
if you are not using auto updates, you will get a pop up inside the vault in the replicated items page notifying that updates are available and you can click on it to download the latest version on to the VM.

The updates using SCCM is something we see on-premises as an ask and not yet with Azure to Azure since ther eis alreayd the automatic update feature ; )

[2018-09-07 09:43] Mike-Ubezzi-MSFT commented on #14331
@sergaz-msft Can you assist with the last question?

[2018-09-07 09:43] nigelHRBOT opened #14646 "We need more information about how to use this with Microsoft Azures Bot Framework."
Hi,

The above steps are great up until the last step.

How do we connect an Azure bot to our knowledge bases via the traffic manager? To access the knowledge bases in QnA Maker service, you require a knowledge base Id, an endpoint key and a endpoint host which is the traffic manager endpoint. This allows an azure bot to connect to a QnA Maker service. However, in this case, the traffic manager wi

[2018-09-07 09:49] egiray opened #14647 "No notificaitonhub example with javascript without templates"
Hi, there is no example showing how to send push notifications using bindings with javascript language. I have to install azure from npm to send push notifications. I wish I could do it with bindings.

[2018-09-07 10:15] femsulu commented on #14610
@marekr
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-07 10:19] femsulu commented on #14620
@pisees Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-07 10:33] epnasis commented on #14602
Thank you. Yes, I followed exactly these docs. To be clear - I never get following prompt:

"To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FJX327AXD to authenticate. Press ENTER when ready."

Instead password prompt is shown after some delay and  log entry ("CURL: Failed to call...") as per description.

Looking forward to your investigation re

[2018-09-07 11:14] magicheron opened #14649 "Additional Data Lake permissions needed"
For some applications (aka. Azure Databricks) you need to set up permissions to first / root level folder for your Azure AD App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4e5070f-4944-8b25-a6ce-86a11a631df3
* Version Independent ID: 4e34792e-0382-ed4e-b70d-c1e84536c9ef
* Content: [Service-to-service authenticatio

[2018-09-07 11:40] tstone84 opened #14650 "SSRS Replaced with PowerBI?"
Am I correct in reading this as the replacement for SSRS in Azure is to use PowerBI?  We have a need to have tabular style, multi-page, printable/exportable reports, which SSRS can do rather well.  It doesn't seem that PowerBI fits that bill.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e03

[2018-09-07 11:51] OffColour opened #14651 "Shared pool"
Doesn't cover how to configure multiple sites using the same pool which is much more likely a scenario than a pool per site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83424970-5018-be40-b5d1-d5719b45759f
* Version Independent ID: 126008c4-7ffb-7116-06e3-192fd855ce36
* Content: [Create an application gateway that ho

[2018-09-07 11:51] ognyandim commented on #13792
@antondelsink can you check if you have installed 2.**2**.0-preview package instead of 2.**0**.0-preview?

I have installed by mistake the latest version which is 2.2.0 in which there is no BaseUri property on IFaceClient, but when I rolled back to 2.0.0-preview it worked.

[2018-09-07 12:00] hartmutbehrens commented on #14331
@Jan-Olof it's not clear from the documentation, but the behaviour of the edgeAgent is as you asked. In that case, the edgeAgent first tries AMQP and if that does not work, it attempts AMQP-over-websockets.

Below is a short snippet from our log showing that this happens.

One more thing to be aware of for corporate setups: iotedge is currently not http(s) proxy aware, so communication between the

[2018-09-07 12:07] DenysM84 commented on #14598
Resolve

[2018-09-07 12:14] hartmutbehrens commented on #14331
And perhaps just to be explicit about it, if you want the communication for the edgeHub to use port 443, then you have to remove all the other port bindings (5671, 8883) from the edgeHub create options under Azure Portal -> IoT Hub -> Iot Edge -> <Your Edge Device> -> Set Modules -> Configure Advanced Runtime Settings.

Otherwise the edgeHub fails to start up properly (at least this is what we cur

[2018-09-07 12:19] antondelsink commented on #13792
thanks @ognyandim, yes that was the difference!

[2018-09-07 12:19] #13792 closed

[2018-09-07 12:27] jdogg89 commented on #14571
@msvijayn Custom JSON payloads are missing for Administrative type alerts. This is really unfortunate as I'd love to send custom json payloads based on the alert, for example, sending specific data from someone viewing my storage keys. Please fix this and add this feature.

[2018-09-07 12:28] bwren commented on #14580
#in-progress

[2018-09-07 12:49] topgenorth commented on #14606
I'll research this a bit more, but my first instinct is that, if your messages are being sent as a _data payload_, then you'll need to use a foreground service.

[2018-09-07 13:28] sidkipper opened #14654 "File Share Quota monitoring"
Is it possible to monitor the quota usage of a File Share - don't seem to be able to find an appropriate metric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88da5d5-2f28-00fc-d8c3-7414dbbac91a
* Version Independent ID: 10bef6bc-b450-c805-cd6c-cf4958b2d99f
* Content: [How to monitor an Azure Storage account](https://

[2018-09-07 13:30] bwren commented on #14514
Thanks, this is a simple typo to a link in a later section of the same article.  Fixed.

[2018-09-07 13:30] bwren commented on #14514
#please-close

[2018-09-07 13:44] minhaj-dell commented on #14468
@SaurabhSharma-MSFT Thanx that was useful.  However, I am trying to understand how an organization can support Smartcard for logging into windows.  The scenario you described clarifies my misconception which was  actually based on captured traffic that someone on the internet had shared.  However what about logging into windows?  When the user is off prem how does this work with Smartcard?  It see

[2018-09-07 13:50] Jan-Olof commented on #14331
@hartmutbehrens Thanks a lot for your info. This is very valuable to us and will save us a lot of work!

[2018-09-07 13:51] #14414 closed

[2018-09-07 13:53] stdistef opened #14655 "Volume Mount Encryption Support"
The page doesn't talk about the capability to encrypt a Volume Mount in AKS.   Is this supported?   How can keys be recovered in the case of a DR or cluster rebuild?  Can the new Master node be told about the Managed Disk volume and have access to its original encryption keys?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-09-07 14:07] n1ge1m commented on #13962
any update on this, I have the same query - which Admins get notified when Global Admin is activated via PIM??

[2018-09-07 14:17] freekwillem92 commented on #8922
@ChristianWolf42 Any update on this?
Can't think of a reason why this should be a premium service bus?

[2018-09-07 14:33] mehdipanjwani commented on #14571
Appreciate if you could please update the documentation. Nowhere it says the word "only" as you mentioned in your comment. Also when creating App Insights Availability alerts and Classic Alerts, there is webhook URL which only accepts URL and it doesn't accepts custom json payload. If this is not supported, please mention this clearly in the documentation. The documentation is clearly missing key

[2018-09-07 14:38] YutongTie-MSFT commented on #14646
@nigelHRBOT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-response, can you please take a look of it and update the document as necessary? Thanks a lot!

[2018-09-07 14:41] YutongTie-MSFT commented on #14641
@PatrickPan2012 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi Steven, this is a doc-bug, can you please check it and also update the document as necessary? Thanks a lot!

[2018-09-07 14:46] orting opened #14658 "Using Bing image search API for machine learning"
The doc suggests
"Rather than manually downloading images from Bing Image Search, it is much easier to instead use the Cognitive Services Bing Image Search API which returns a set of image URLs given a query string."

According to the "Use and display requirements" listed here
https://docs.microsoft.com/en-gb/azure/cognitive-services/bing-image-search/useanddisplayrequirements
It is not allowed to

[2018-09-07 15:13] mmacy commented on #14531
@paulmackinnon-adv365 and @adrianrbezzina In which regions are your registries?

FYI @SteveLas @sajayantony we have two reports of `'Get build source upload url location.' - 'Status: Failed'` for ACR Build.

[2018-09-07 15:14] YutongTie-MSFT commented on #14592
@Aaron-Yue Hi, you can set positioning of the recognition as the document : https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/translator-speech/reference.md#final-result

@Jann-Skotdal Hi Jann, do you have any idea about what a customer should do if customer doesn't know which is the last one? Can we end websocket connecetion by a silence for around 1s? Thanks a l

[2018-09-07 15:15] sajayantony commented on #14531
Is this still the case? The SCUS outage has been resolved.

[2018-09-07 15:23] allanalewis opened #14659 "Correction - Linux on ASE (Isolated tier) is in preview mode and not supported for production workloads at this time"
Under the Limitations section, the statement "Linux on ASE (Isolated tier) is in preview mode and not supported for production workloads at this time" needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
*

[2018-09-07 15:31] reliason opened #14660 "Defining ApplicationIntent with External Data Sources"
is there anyway to point external tables explicitly to the read-only replica in Azure using ApplicationIntent=ReadOnly or similar within the external data source?

I am concerned that the read only replica of the database will continue to refer to the Read-Write replica when it refers to it's external tables, thereby defeating our attempt to off load those queries to the read-only replica.

---
##

[2018-09-07 15:59] Mike-Ubezzi-MSFT commented on #14632
@ishepherd Thank you for posting the resolution to your question. If there are additional questions, please feel free to reopen this and we can continue the discussion.

[2018-09-07 16:12] cjh15hub commented on #14616
Thank you Mike. Yes I see that I was following a tutorial for the wrong version, I think. Although I don't know where to go from here. I wanted to move a backup of an old database to Azure so that a colleague can move a subset of the data to Data Lake. Is there a guide for migrating/ restoring a database to Azure so that I can connect services to it?
![databasecreationsteps](https://user-images.gi

[2018-09-07 16:13] Karishma-Tiwari-MSFT commented on #14655
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-07 16:14] Karishma-Tiwari-MSFT commented on #14637
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-07 16:16] Karishma-Tiwari-MSFT commented on #14645
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-07 16:30] Adam-Smith-MSFT commented on #14638
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 16:34] CoyoteCloud46 opened #14662 "Can this be done when the sub id's are in different AAD tenants?"
I am trying to copy a VM from subscription A that resides in tenant A to a subscription B in tenant B. everything works like a dream till the last az disk create command. it brings back this error below (Note have added **** for data protection)

The client has permission to perform action 'Microsoft.Compute/disks/beginGetAccess/action' on scope '/subscriptions/1dafcb4b-************/resourceGroups

[2018-09-07 16:35] #14598 closed

[2018-09-07 16:42] MicahMcKittrick-MSFT commented on #14634
@tysonn can you help direct this one?

[2018-09-07 16:45] MicahMcKittrick-MSFT commented on #14662
Thanks for the feedback! We are investigating and will update you shortly.

[2018-09-07 16:45] Shreelekha19 commented on #14609
Thank you Mohit.
I will check this scenario , however the reauthentication happens by asking for credentials,  can we silently reauthenticate after session expires .. so that user can continue using application without disruption ? and how to do it ?

[2018-09-07 16:48] mattbriggs commented on #14256
#please-close

[2018-09-07 16:51] bjthomson opened #14663 "Squiggly line in config"
Added the keyvault to an existing asp.net (webforms) project. In web.config, I now have
&lt;configBuilders&gt;
    &lt;builders&gt;
    &lt;add name="Secrets" userSecretsId=  the userSecretsId has squiggly underline, and I'm told its not allowed.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ead83747-c629-e979-f0c5-5e

[2018-09-07 16:55] Mike-Ubezzi-MSFT commented on #14635
@andschwa Thanks for the feedback! Can you verify the server version as `10.3` is deployed? Or does the server version reflect `10.0`. Thank you.

[2018-09-07 16:55] Alberto-Vega-MSFT commented on #14424
@developersenakim Thanks now we are closing this thread.

[2018-09-07 16:55] #14424 closed

[2018-09-07 16:56] jason-j-MSFT commented on #14541
@linda33wj is this something that can be added to the documentation yet?

[2018-09-07 16:57] Karishma-Tiwari-MSFT commented on #14639
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-07 16:57] faceoffers28 commented on #14606
Thanks! This messy Stack Overflow thread perfectly encapsulates the problem. https://stackoverflow.com/questions/37711082/how-to-handle-notification-when-app-in-background-in-firebase/37845174#37845174 The good news is that Azure Notification Hub is sending the messages as data payloads. Is this the default behavior or is this just how I'm using it? One guys says that if the app is in a killed sta

[2018-09-07 16:59] Mike-Ubezzi-MSFT commented on #14640
@maskodnv Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 17:00] akoval-jsp opened #14665 "Issues with nodes autoscaling"
I use AKS autoscaling of nodes and have an issue with it. I created AKS cluster, ran bash script to generate the permissions for cluster autoscaler to run in cluster, then the script outputted details in the form of a secret, copied and pasted the secret to YAML code and ran it. Then I ran deployment configuration with the following cpu requests/limits policy:
resources:
  requests:
     cpu: 250m

[2018-09-07 17:02] Mike-Ubezzi-MSFT commented on #14640
Issue is with the Run DML or DDL query in [Azure SQL Database or SQL Server Scala example](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-spark-connector#run-dml-or-ddl-query-in-azure-sql-database-or-sql-server):

![screenshot 273](https://user-images.githubusercontent.com/37126106/45232656-10613280-b285-11e8-833e-d84cf62e6d3b.png)

[2018-09-07 17:03] MicahMcKittrick-MSFT commented on #14662
Closing as discussed offline. Will continue offline :)

[2018-09-07 17:07] #14576 closed

[2018-09-07 17:07] jason-j-MSFT commented on #14610
@ShubhaVijayasarathy we have a feedback for an documentation enhancement here, could you take a look?

[2018-09-07 17:08] YutongTie-MSFT commented on #14514
@githitesh
We will now proceed to close this thread. If there are further questions regarding this matter, please respond and @YutongTie-MSFT. We will gladly continue the discussion.

[2018-09-07 17:08] #14514 closed

[2018-09-07 17:08] Karishma-Tiwari-MSFT commented on #14573
@bingosummer Yes, the data is ready to use.

[2018-09-07 17:09] YutongTie-MSFT commented on #14392
@cconrado
We will now proceed to close this thread. If there are further questions regarding this matter, please respond and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-07 17:09] #14392 closed

[2018-09-07 17:12] Mike-Ubezzi-MSFT commented on #14650
@tstone84 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-07 17:13] Mike-Ubezzi-MSFT commented on #14660
@reliason Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-07 17:13] vasivara-MSFT commented on #14649
@magicheron Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 17:14] chrish619 commented on #14575
:derp: Forgot to link in the original documentation..

https://docs.microsoft.com/en-us/azure/app-service/web-sites-staged-publishing#custom-warm-up-before-swap

[2018-09-07 17:18] chrish619 opened #14667 "Need further documentation for Slot Swap / AppInitialization / WarmUp cycles"
Should probably look into integrating / adding some of the following issues / gotchas for slot warmup when using AppInitilization module

https://ruslany.net/2017/11/most-common-deployment-slot-swap-failures-and-how-to-fix-them/

(Note: I'm not the original author, but have found this valuable since it seemed this was the only place this information was available)

---
#### Document Details

⚠ *Do

[2018-09-07 17:19] chrish619 commented on #14575
Closed issue - opened issues directly from feedback button #14667

[2018-09-07 17:19] #14575 closed

[2018-09-07 17:26] #14626 closed

[2018-09-07 17:29] MicahMcKittrick-MSFT commented on #14665
@akoval-jsp closing as duplicate of your first issue #14391

[2018-09-07 17:31] MicahMcKittrick-MSFT commented on #14561
@badalk I am closing this and lets work on #14391

Issues all appear to be related and we are working offline with the product teams to get it resolved.

[2018-09-07 17:31] #14561 closed

[2018-09-07 17:31] Adam-Smith-MSFT commented on #14654
@sidkipper Thank you for the valuable feedback,we are investigating the issue.

[2018-09-07 17:32] MicahMcKittrick-MSFT commented on #14451
@login21  I am closing this and lets work on #14391

Issues all appear to be related and we are working offline with the product teams to get it resolved.

[2018-09-07 17:32] #14451 closed

[2018-09-07 17:34] TravisCragg-MSFT commented on #14256
@JelleKruithof We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 17:34] #14256 closed

[2018-09-07 17:35] vasivara-MSFT commented on #14570
@HaripraghashSubramaniam We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-07 17:35] #14570 closed

[2018-09-07 17:35] vasivara-MSFT commented on #14569
@VitorX We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-07 17:35] #14569 closed

[2018-09-07 17:35] MicahMcKittrick-MSFT commented on #14391
@akoval-jsp, @login21, @badalk

We can all work together on this single issue as everyones issue appears to be related.

I am working offline to get this resolved. Will update when I have more.

CC @iainfoulds @sauryadas @slack @seanmck

[2018-09-07 17:35] Grace-MacJones-MSFT commented on #14667
Hi @chrish619, Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 17:40] MicahMcKittrick-MSFT commented on #14590
@paulmackinnon-adv365 I will close this for now. If you have additional questions let me know and we can reopen and continue.

[2018-09-07 17:40] YutongTie-MSFT commented on #14507
@jasonwangnanjing Thanks for your response, we are currently investigating and will update you shortly.

[2018-09-07 17:40] #14590 closed

[2018-09-07 17:43] MicahMcKittrick-MSFT commented on #14607
@timmyreilly I will close this for now.

Feel free to ping me offline if you have additional questions.

[2018-09-07 17:43] #14607 closed

[2018-09-07 17:45] imhashir commented on #14197
Thanks @Mike-Ubezzi-MSFT
I tried with the script method and it worked. With script method, I followed all steps but wasn't able to get Admin access to Blockchain Workbench app dashboard. Turned out I had to assign myself as owner of that app. After that, it worked fine.
Thanks again for pointing out the script method.

[2018-09-07 17:49] Grace-MacJones-MSFT commented on #14659
Hi @allanalewis, Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-07 17:49] femsulu commented on #14643
@astaykov thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-09-07 17:56] #14659 closed

[2018-09-07 17:57] YutongTie-MSFT commented on #14642
@laoki Thanks for your feedback, can you please provide which document you are referring to so that we can look into it?

[2018-09-07 17:59] YutongTie-MSFT commented on #14647
@egiray Hi, thanks for your feedback, can you please share which document you are referring to so that we can look into it?

[2018-09-07 18:00] topgenorth commented on #14606
AFAICT, the biggest difference between a notification and a data payload is the size of a message (2K vs 4K), and for one the JSON is a `message` and the other is `data`.

Still looking into this (i.e. trying this out on my own), but one thing that might be relevant is this: It seems that some implementations of Android won't handle Push Notifications properly.  In theory, when app is killed and a

[2018-09-07 18:05] TravisCragg-MSFT commented on #14651
@OffColour Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 18:05] mmacy commented on #14531
@paulmackinnon-adv365 @adrianrbezzina What are the names of your registries? This will help us debug your issues.

[2018-09-07 18:05] Karishma-Tiwari-MSFT commented on #14316
@rocifier Thanks for sharing the information here. Please update this thread when you find the solution for your problem.

[2018-09-07 18:05] Karishma-Tiwari-MSFT commented on #14351
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-07 18:05] #14351 closed

[2018-09-07 18:06] Karishma-Tiwari-MSFT commented on #14573
@bingosummer We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-07 18:06] #14573 closed

[2018-09-07 18:13] Karishma-Tiwari-MSFT commented on #14602
@epnasis Thanks for sharing the information. This is a known issue and product team is working on this. I am trying to get the ETA on this and will share with you once I have the update.
Also wanted to share that

[2018-09-07 18:14] TomArcher commented on #12362
@iakko I know you ran into this problem long ago, but I wanted to verify that the link I provided addresses the issue.

[2018-09-07 18:19] MicahMcKittrick-MSFT commented on #14637
@wasabii are you running Service Fabric on premise or in Azure?

[2018-09-07 18:26] SnehaGunda commented on #13868
@simeyla apologies for delay in getting back to you. Thanks for your feedback on the pricing, we are working on improving our Pricing model and the RUs offered. Please expect to see some announcements and doc updates in by end of this month.

[2018-09-07 18:27] SnehaGunda commented on #13868
#please-close

[2018-09-07 18:32] TomArcher commented on #12999
I've updated the article with two changes: the vm_size value (the previous value is no longer valid), and the version value (so that the latest non-beta version of the provider is used).

https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-tf-and-aks

Please let me know if these two fixes solves the Issue.

[2018-09-07 18:34] mikaelsnavy opened #14670 "Audit / SQLSecurityAuditEvents: Currently unavailable??"
Hello!

I'm now seeing Audit and SQLSecurityAuditEvents: as log options inside "Monitor - Diagnostics settings -&gt; Diagnostics settings" in the Azure portal. Are these still unavailable even though the options are there?

Thanks!
Mikael

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57944e9d-0efa-3503-9fe8-46c91119ec

[2018-09-07 18:35] mikaelsnavy commented on #14670
Here is a screenshot. 😄
![2018-09-07 11_34_30-diagnostics settings - microsoft azure](https://user-images.githubusercontent.com/753437/45236894-0e51a080-b292-11e8-8b1a-f2d198edddcf.png)

[2018-09-07 18:39] SnehaGunda commented on #14306
@joshnoe sorry about the delay in responding, when you open the new collection blade, the default option is to choose unlimited storage capacity and partition key is required for this setting. you should change the storage capacity to fixed and you aren't prompted to enter any partition key. Docs ask you to choose fixed partition key.

![image](https://user-images.githubusercontent.com/14284405/45

[2018-09-07 18:39] SnehaGunda commented on #14306
#please-close

[2018-09-07 18:45] YutongTie-MSFT commented on #14658
@orting Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@swhite-msft @PatrickBue Hi, those two documents are confused for the customer, can you please check it and update it as necessary? Thanks!

[2018-09-07 18:45] tfitzmac commented on #14323
I am not seeing a swagger file for a new version. The ones I see are at [https://github.com/Azure/azure-rest-api-specs/tree/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights)

Does anyone know where the new version is loca

[2018-09-07 18:52] simeyla commented on #13868
@SnehaGunda Great to hear :-) I'd love to see some kind of entry-level offering so I can play with it and see if it is a fit for us.

[2018-09-07 18:52] #13868 closed

[2018-09-07 18:52] gstream1 opened #14671 "No BatchCount available in Python SDK"
There is no batch_count argument available for the ForEachActivity() in the Python sdk. Looks like it just automatically defaults to 16 parallel copies at a time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633f2967-1c61-51de-5787-a6ca7ac5bdae
* Version Independent ID: d2862926-36d8-4e84-0c93-afdef9e373e2
* Content:

[2018-09-07 19:02] kushagraagarwal19 commented on #12301
Thank you 👍

[2018-09-07 19:06] SnehaGunda commented on #13837
@guerrieroi , thanks for your response, I din't had a chance to test it in details but I see the issue you are pointing, if the result is count of the elevation size, it may give all equal bubbles. Can you please try using a different visualization like a clustered column or bar chart an let us know if you can visualize the data as expected?

[2018-09-07 19:07] iyerss commented on #14054
Please reopen this issue so that Demitrius can confirm the question above.

[2018-09-07 19:07] SaurabhSharma-MSFT commented on #14608
@butchmarshall Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-07 19:13] iakko commented on #12362
Tom, thanks a lot for the response. I have zero time to test it in the next couple of day, I'll try to give it a try next week. Sorry about this.

[2018-09-07 19:17] femsulu commented on #14054
@iyerss unable to resolve & assign to Demitrius in GitHub. Do yo have his GitHub alias so I can add him to the conversation?

[2018-09-07 19:19] iyerss commented on #14054
Not sure if he has a Github alias. @Demitrius<mailto:Demitrius.Nelon@microsoft.com>, can you please confirm?

From: femsulu-MSFT <notifications@github.com>
Sent: Friday, September 7, 2018 12:18 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Sabeshan Iyer <sasrin@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Feedback (#14054)

@iye

[2018-09-07 19:26] iyerss commented on #14054
Yes, I've shared this question with him by email as well.

[2018-09-07 19:27] cherylmc commented on #14617
@charwen

[2018-09-07 19:27] BryanTrach-MSFT commented on #14659
@allanalewis Thank you for brining this to our attention. We have updated the doc to reflect Linux on ASE now being GA. The changes should be reflected  publicly within 24 hours.

[2018-09-07 19:30] tfitzmac commented on #14407
@Mike-EEE - An important factor is whether you want streaming data or discrete event data. The blog post you linked to sounds like a streaming scenario. It correctly points out that Event Grid won't work because there is no guarantee on event ordering. The [Event Hubs and Event Grid integration](https://docs.microsoft.com/en-us/azure/event-grid/event-grid-event-hubs-integration) article shows how

[2018-09-07 19:34] cenkersoy opened #14675 "Initial release"
Hi, the note "at the initial release of integrated systems. we will support etc etc" makes it sound like the product is not G.A. yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e033d4a6-3152-6b73-aa78-bc17a57ee761
* Version Independent ID: 38371ea2-87a8-a8a6-5ca4-577ef9fe1509
* Content: [General datacenter integrat

[2018-09-07 19:34] tfitzmac commented on #14407
One additional point - I am adding a link to the article that compares messaging services. That article covers most of these considerations.

[2018-09-07 19:34] TomArcher commented on #12362
@iakko Not a problem at all! We value the feedback.

[2018-09-07 19:38] stewartadam commented on #14643
To make this more discoverable by search engines for users trying to troubleshoot why the documented steps currently fail -- without it this permission, users will receive an error message about lack of consent and/or the following error:
[code]

[2018-09-07 19:39] MicahMcKittrick-MSFT commented on #14645
@thedering the unit represents the container instance.

So 1 Unit = 1 Container Registry.

I will close this for now but if you have additional questions just let me know :)

[2018-09-07 19:39] #14645 closed

[2018-09-07 19:40] sergaz-msft commented on #14254
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 19:41] sergaz-msft commented on #14407
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @tfitzmac  in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 19:41] #14407 closed

[2018-09-07 19:43] sergaz-msft commented on #14423
@developersenakim did you have the time to test it running Visual Studio Code in Administrative mode? Let us know if it worked?

Thank you!

[2018-09-07 19:45] sergaz-msft commented on #14454
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 19:45] #14454 closed

[2018-09-07 19:46] sergaz-msft commented on #14482
Hello @sulmar let us know if you tried the suggestion above and what was the result?
Thank you!

[2018-09-07 19:52] christiankuhtz commented on #14495
the log analytics diagnostic logs article refers to public basic lb only.  standard lb, public and internal, send multi-dimensional metrics to azure monitor.  You can consume these downstream through anything that can be integrated with azure monitor.  The articles are intentionally separate.

[2018-09-07 19:55] MicahMcKittrick-MSFT commented on #14391
**UPDATE**

For anyone having issues getting an external IP address that issue appears to have been resolved. I tested it using Azure Cloud Shell and on prem CLI

[code]

The scaling issue appears to still be present.

[code]
[code]
[code]

Will continue to update as I get more information.

[2018-09-07 19:55] KumudD commented on #14495
#please-close

[2018-09-07 19:57] MichaelHauss commented on #14389
As I commented above, we will work toward publishing a pricing sample in the doc. This won't happen today, but I absolutely plan to do it.

[2018-09-07 20:02] akoval-jsp commented on #14665
@MicahMcKittrick-MSFT Thanks for your response. This issue is about nodes autoscalling and my previous issue related to pods autscalling. During load tests nodes don't scale up/down and sometimes disappear from cluster.

[2018-09-07 20:04] mattbriggs commented on #14234
@migolfi I added a short note reflecting that it isn't the global Azure Kubernetes service using in the Azure Resource Manager template. Thanks for your comment! #please-close

[2018-09-07 20:05] badalk commented on #14391
is there anything specific that is done to resolve static ip issue? It was working for me sometimes and sometimes it goes in pending state. Is it same issue with nginx controller load balancer external ip? If i need to fix it, do i need to re-create my cluster?

[2018-09-07 20:05] MicahMcKittrick-MSFT commented on #14429
@BharathRahulDS I see there are a few ways to initiate Chaos. How are you invoking this mode?

[2018-09-07 20:07] cherylmc commented on #14617
@cyamasaki8  - yes, you can do this entirely in the portal. I'll add a note to the article. We don't yet have an article with the portal steps, but we do have plans for one in the queue.

[2018-09-07 20:07] cherylmc commented on #14617
#please-close

[2018-09-07 20:08] MicahMcKittrick-MSFT commented on #14665
@akoval-jsp got it. Thanks for clarifying. I will take a look.

[2018-09-07 20:11] Mike-Ubezzi-MSFT commented on #14670
@mikaelsnavy Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-07 20:15] dekimsey opened #14676 "OpenID Connect Metadata issuer != iss of JWT token"
Using the recommended metadata urls for a single-tenant, `https://login.microsoftonline.com/...guid.../v2.0/.well-known/openid-configuration` return an Issuer such as `https://login.microsoftonline.com/...guid.../v2.0`. But when the actual JWT token is issued, the `iss` field is `https://sts.windows.net/...guid.../`.
At least on my read of the [spec](0) that's invalid. The library, [coreos/go-oidc

[2018-09-07 20:26] PatAltimore commented on #14453
@waqasahmedch I'm not 100% sure but you may want to change the resource to the client id:

For example:

POST https://login.microsoftonline.com/SCTHBC.onmicrosoft.com/oauth2/token HTTP/1.1
Host: login.microsoftonline.com
Content-Length: 192

resource=1135b7f7-ccfb-4a36-8bd1-aa70ec7cef05&
client_id=1135b7f7-ccfb-4a36-8bd1-aa70ec7cef05&
client_secret=<your client secret>&
grant_type=client_credentia

[2018-09-07 20:26] MicahMcKittrick-MSFT commented on #14507
@jasonwangnanjing which WAF are you deploying? We have quite a few options in the portal

[2018-09-07 20:30] vhorne commented on #14282
@tedsluis The backend listeners are configured for the backend pools. Backend refers to the servers in the Azure VNet side of the application gateway.

[2018-09-07 20:48] akoval-jsp commented on #14665
@MicahMcKittrick-MSFT Great thanks!

[2018-09-07 20:52] vhorne commented on #14651
@OffColour thanks for the content suggestion. I created a work item for our backlog for future consideration.
#please-close

[2018-09-07 20:54] MicahMcKittrick-MSFT commented on #14655
@stdistef it is not supported out of the box.

There is a work around mentioned on the AKS GitHub page though

https://github.com/Azure/AKS/issues/282

[2018-09-07 20:54] TravisCragg-MSFT commented on #14651
@OffColour We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 20:54] #14651 closed

[2018-09-07 21:00] adrianrbezzina commented on #14531
Looks like it’s fixed itself. All good now thanks.

For completeness the registry name was acrdev01

[2018-09-07 21:02] vhorne commented on #13241
Added this content idea to our backlog.
#please-close

[2018-09-07 21:03] SaurabhSharma-MSFT commented on #14468
@minhaj-dell  Logging into windows is different from the current concept of AD.  It is based on the local user account available on the computer which can include a domain joined user if your computer is joined to a domain.  Smart Card is used to authenticate your identity when you need to join to your corporate network from outside the premises.

[2018-09-07 21:05] MicahMcKittrick-MSFT commented on #14531
Thanks for the update @adrianrbezzina

@paulmackinnon-adv365 what about yours?

[2018-09-07 21:13] MicahMcKittrick-MSFT commented on #14665
@akoval-jsp to confirm, if your cluster RBAC enabled?

[2018-09-07 21:41] TravisCragg-MSFT commented on #13241
@roy-satadru We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-07 21:41] #13241 closed

[2018-09-07 21:44] MicahMcKittrick-MSFT commented on #14665
@akoval-jsp in addition to my above question, do you also see issues with manually scaling? Or is it just the autoscaler

[2018-09-07 21:51] colinweiner opened #14678 "Missing the -Virtualization switch"
Missing the  -Virtualization switch is missing from the ASRDeploymentPlanner.exe -Operation GetThroughput example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c69ab88d-6c40-e615-962d-db13f3b9755b
* Version Independent ID: 2ce1794a-0f8f-b500-b294-792ea4708737
* Content: [Azure Site Recovery deployment planner for VMw

[2018-09-07 21:55] andrepodnozov opened #14679 "Error: "Environment variables not found: , PCS_TELEMETRY_STORAGE_TYPE""
I followed instructions on this page, and when I run "docker-compose up", i see the following error in the output:

telemetry_1         | [WebService.58954a47-63ae-4343-8f2b-6f03b6479dd4][2018-09-07 03:05:54Z][ERROR][ConfigData:ProcessMandatoryPlaceholders] Environment variables not found, {"varsNotFound":", PCS_TELEMETRY_STORAGE_TYPE"}
telemetry_1         |
telemetry_1         | Unhandled Excepti

[2018-09-07 21:56] SaurabhSharma-MSFT commented on #14488
@Shreelekha19 Please check the document [Customizing claims issued in the SAML token for enterprise applications in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-claims-customization).

1. Please check for 'telephonenumber'.
3. Yes as you can have custom Claims for a specific application in the tenant

[2018-09-07 21:58] stdistef commented on #14655
Thanks, but issue 629 says we can not encrypt AKS agent node VMs ... so how would this work.... https://github.com/Azure/AKS/issues/629#issuecomment-419157510

I also got this from Brandon today...

[Image]

Get Outlook for Android<https://aka.ms/ghei36>

From: Micah <notifications@github.com>
Sent: Friday, September 7, 2018 8:54:34 PM
To: MicrosoftDocs/azure-docs
Cc: Steve DiStefano; Mention
Subj

[2018-09-07 22:00] andschwa commented on #14635
@Mike-Ubezzi-MSFT psql reports version `10.5`, but `az postgres show` just says `10`.

[2018-09-07 22:02] Mike-Ubezzi-MSFT commented on #14635
@andschwa Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 22:02] msangapu commented on #9737
#please-close

[2018-09-07 22:03] akoval-jsp commented on #14665
I used the following command to create the AKS cluster:
$ az aks create --resource-group "$RESOURCE_GROUP" --name "$AKS_CLUSTER_NAME" --node-vm-size "$NODE_VM_SIZE" --node-count "$NODE_COUNT" --kubernetes-version "$KUBERNETES_VERSION" --generate-ssh-keys
Yes, it's RBAC enabled. When i tried to specify --enable-rbac argument, I've got the following output: "Argument 'enable_rbac' has been deprecate

[2018-09-07 22:07] MichaelHallak commented on #14541
Thanks folks; I'm looking forward to hearing what you come up with.

[2018-09-07 22:09] Mike-Ubezzi-MSFT commented on #14635
@rachel-msft There was a minor upgrade from 10.3 to 10.5, so an update needs to be made to the 'Supported Versions' doc now that 10.5 is the server version.

![screenshot 276](https://user-images.githubusercontent.com/37126106/45245092-a9a53e80-b2af-11e8-8a80-b6bcb7bef00e.png)

[2018-09-07 22:19] kgremban commented on #11502
@danieljsmarda Following up to see if you've had time to retest and determine whether this issue is resolved or needs more support.

[2018-09-07 22:27] kgremban commented on #12643
@timwieman I spoke to the product team this week about updating the module docs, and the conclusion that we came to is that there are enough changes, including the one that you listed with this issue, that we need a larger overhaul instead of small fixes. I'll keep you updated as we make these changes.

[2018-09-07 22:28] kgremban commented on #12863
@bhall7718 Was the code sample that you got in the offline conversation a resolution to this issue? If so, I can look into incorporating that in documentation.

[2018-09-07 22:30] iyerss commented on #14054
I have used ‘Suirtimed’ in the past as my github alias.

From: Sabeshan Iyer
Sent: Friday, September 7, 2018 12:19 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Demitrius Nelon <Demitrius.Nelon@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] Feedback (#14054)

Not sure if he has a

[2018-09-07 22:30] Minewiskan commented on #14463
@mpoeckl Good suggestion. I added a line item. Now that it's live, I'm not happy with how it reads. I'll make an additional change that will show up on Monday. But, I think we can close this one out. Really appreciate your contribution!
#please-close

[2018-09-07 22:33] olena-microsoft commented on #14548
They should see the option to enable backup, unless they're not connected to a network. Can you ensure the user is connected to the network? If the user is still not seeing the option to enable backup, please send us logs (go to Help->Send logs).

[2018-09-07 22:35] mike-urnun-msft commented on #12494
Hey @dsajanice We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-07 22:35] #12494 closed

[2018-09-07 22:36] #14463 closed

[2018-09-07 22:37] bhall7718 commented on #12863
@kgremban I'll include you in my email confirmation with the the dev team directly. We can also ask if there were any extra steps they had to take.

[2018-09-07 22:47] faceoffers28 commented on #14606
It's working now! I added <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> to my AndroidManifest.xml in order to give the Auto Start permission to the app. I then did a Debug Build, but it didn't work. I then signed the APK, uploaded to App Center and installed a signed package on my test device. That didn't work either. I then read the posts you sent. I went to Setting

[2018-09-07 22:50] timmyreilly commented on #14607
For documentation sake, its hard to discern what's being said in the two paragraphs linked above. Are we losing an important connection? What does the AzureWebJobsDashboard setting do? and how do I "make sure that no existing functions in the same function app use it for storage or triggers or bindings" ?

Just aiming for clarity.

[2018-09-07 22:53] tmaeller commented on #8409
@jeevansd @chetansriv I can see both apps available in Azure / Enterprise applications, but the link "Read how to configure password single sign-on apps" provided there for configuring the Account Manager app points to a general Azure SSO config page.

The Virtual Office configuration is specifically for users of VOD to log in, and the other (which I wasn't aware of) would be used to log in to Acc

[2018-09-07 22:56] rolyon commented on #13962
Hi @slynickel and @n1ge1m
Admin email notifications are sent to Privileged Role Administrators and Security Administrators. Some emails are sent to the end user who has the privileged role. I'm checking with the team about emails to users.
thanks

[2018-09-07 23:11] andschwa commented on #14635
@Mike-Ubezzi-MSFT Well the example code even updated for `--version=10.5` also didn't work; I had to leave off the minor part.

[2018-09-07 23:16] Karishma-Tiwari-MSFT commented on #14639
@meieda Thanks for sharing the feedback. We definitely want to make our docs clearer and easier to understand. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-07 23:18] rachelagy commented on #14635
@andschwa  Hi. My apologies, that line of code should read "--version 10". We don't specify minor versions during create. "--version 10" will create the minor version that has most recently been updated on our platform. Also, as new minor versions come out, your server will be updated to be on that new version (so it has all the corresponding security and bug fixes that Postgres has published)

I

[2018-09-07 23:18] curtand commented on #13370
Hi @gtimread
My updates per your request are live now at https://docs.microsoft.com/azure/active-directory/users-groups-roles/directory-assign-admin-roles. I mention Teams administration for that role, and linked to the existing article on licensing.

@MohitGargMSFT
#please-close

[2018-09-07 23:26] David-Engel commented on #13835
@Mike-Ubezzi-MSFT The go sample code has been updated. Can you close this issue? Thanks!

[2018-09-07 23:27] Mike-Ubezzi-MSFT commented on #13835
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-07 23:27] #13835 closed

[2018-09-07 23:29] jason-j-MSFT commented on #14478
@clark0820 we are closing this issue for now.  If you could clarify the issue you are seeing we can reopen the issue.

[2018-09-07 23:29] #14478 closed

[2018-09-07 23:32] MarileeTurscak-MSFT commented on #14676
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-07 23:34] MarileeTurscak-MSFT commented on #14644
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-07 23:38] jeevansd commented on #14644
@chetansriv and @v-viinde Can you please retest this app and refresh the tutorial?

[2018-09-07 23:44] jeevansd commented on #8409
@tmaeller Yes, for Password SSO apps there is no app specific documentation but there is a common documentation available for them.

The Virtual Office is SAML integration and this is why we have tutorial for it. Can you confirm that Account Manager also support SAML integration? Same or different?

[2018-09-07 23:45] rachel-msft commented on #14635
@andschwa Hi. The CLI create code should read "--version 10". We don't specify minor versions during create. "--version 10" will create the minor version of PG10 that has most recently been updated on our platform. Also, as new minor versions come out, your server will be updated to be on that new version (so it has all the corresponding security and bug fixes that Postgres has published).

You ca

[2018-09-07 23:46] swhite-msft commented on #14658
@orting - Sent question to PM and legal for review. Will let you know when I hear back. Thanks

[2018-09-07 23:48] cdaniel96 commented on #14135
Guys?

[2018-09-07 23:51] Adam-Smith-MSFT commented on #14678
@colinweiner Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-07 23:52] MicahMcKittrick-MSFT commented on #14655
@stdistef correct so it is not supported. That was a work around that was suggested if you wanted to attempt it. But it is not something we official support. So it would be a "try at your own risk" kind of scenario until it is officially integrated into the product. It could have other repercussions so I wouldn't suggest using it in a PROD environment. But for testing and trying it out there is no

[2018-09-08 00:09] andschwa commented on #14635
@rachel-msft Oh I understand now; in this case 10 == 9.6 in that they're both major versions. I read that example and assumed I needed to specify 10.x, since 9.x was specified. Just a little confusing. Thanks!

[2018-09-08 00:09] #14635 closed

[2018-09-08 00:54] femsulu commented on #14663
@bjthomson Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-08 01:03] femsulu commented on #9120
@sebader We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:03] #9120 closed

[2018-09-08 01:07] femsulu commented on #9737
@demichalk We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:07] #9737 closed

[2018-09-08 01:08] femsulu commented on #13370
@gtimread We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:08] #13370 closed

[2018-09-08 01:10] femsulu commented on #14234
@migolfi We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:10] #14234 closed

[2018-09-08 01:11] femsulu commented on #14306
@joshnoe We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:11] #14306 closed

[2018-09-08 01:12] femsulu commented on #14389
@Mike-EEE We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:12] #14389 closed

[2018-09-08 01:13] femsulu commented on #14455
@IgorRogDevPro We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-08 01:14] #14455 closed

[2018-09-08 02:26] jasonwangnanjing commented on #14507
Hi，
we are using application gateway.The one we have is with pulic ip 51.145.156.157

[2018-09-08 04:08] agvardha commented on #14612
@TravisCragg-MSFT  Just to confirm I was not doing something wrong. I restarted the whole stack one full round created a new admin tenant VM and still I don't see any difference. All my experiment shows it is indeed fully broken. I am always afraid I might have goofed up so have done all due diligence I could think off. If you get it work please send me all the steps without skipping any step plea

[2018-09-08 04:58] boboPD opened #14683 "Interesting word play :)"
I found this line in the section outlining the properties of each node type:
"and auto-scaling cannot *automagically* add virtual machine scale sets."

Was that intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-3df5-5501b7dd9cf1

[2018-09-08 07:57] akoval-jsp commented on #14665
In addition to previous output after manual autoscalling there was no more new node after running previous command:
$ az aks scale --name "$AKS_CLUSTER_NAME" --resource-group "$RESOURCE_GROUP" --node-count 2
$ kubectl get nodes
Every 2.0s: kubectl get nodes                           Sat Sep  8 07:52:48 2018

NAME                       STATUS    ROLES     AGE       VERSION
aks-nodepool1-41316942-1

[2018-09-08 08:01] vhe1 opened #14684 "Session life cycle"
Hi!
I would like to see a bit more on the life cycle of a session in the message broker. The problem I have is that on the one hand, you write:

On the other hand, there is:

So, if I use sessions for implementing a call/return pattern, in an application running for ten years, that SessionBrowser thing will return billions of (now empty) sessions beause every session ever opened will still be ther

[2018-09-08 08:55] huajunzhao opened #14685 "Typo"
[Enter feedback here]

Typo of "input" in this sentence" (without waiting for user inpu first).", missing 't'
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0691af42-2f83-8068-d09f-115beb18cfa9
* Version Independent ID: e154edf7-a9e6-d05c-b5fc-b74e6c8c754c
* Content: [How to use wait and non-wait actions with a Conversa

[2018-09-08 09:15] epnasis commented on #14602
@Karishma thank you for update! Can you please also check if there work around for this known issue?

[2018-09-08 09:39] sulmar commented on #14482
I have latest firmware. I was able to run on the basis:
https://www.hackster.io/jeremy-lindsay/programming-the-az3166-azure-devkit-a1e53a

I installed devkit_install_win_1.3.7.56 and it started working. Maybe I skipped a step before.

[2018-09-08 10:44] Injac commented on #14582
I want to extend this issue by stating problems (that just may be minor) and why the documentation should be updated:

First I have a question for @ChristianBeier => How did you type in the dynamic parameters in the same way, they are displayed within the documentation, to parse dynamically the content of the message coming from Event Grid, to be written into Cosmos DB? To illustrate what I mean,

[2018-09-08 12:32] girishgouda commented on #14578
I am using Microsoft.NET.Sdk.Functions 1.0.19 and also changed the web hook URL for Azure event subscription but it does not work . The issue i get is esvalidation

[2018-09-08 13:40] TomArcher commented on #13786
@nunix

I just tested this using Azure Cloud Shell, and here are my findings:

**Manually providing the credentials**
As you stated, I had to paste the credentials for **both** the "terraform plan" and "terraform apply".

**ARM* envars
It appears that the ARM* envvars don't impact the command.

**TF_VAR* envvars**
If I set the TF_VAR* envvars, this solves the issue of having to paste the values in

[2018-09-08 13:57] SenthuranSivananthan commented on #8504
I've got http app routing turned on through the addon property.  Can you try:

                "addonProfiles": {
                    "httpApplicationRouting": {
                        "enabled": true
                    }
                }

[2018-09-08 15:06] MarkIannucci commented on #14206
With your comment above, I clicked through the warning and I gave that approach a shot, but unfortunately it did not work.  I received this error page:

![image](https://user-images.githubusercontent.com/16762974/45255556-45cd5500-b345-11e8-876e-5e55c96f9935.png)

The text of the error is:

    It appears that you have already used your MSDN benefit for a Microsoft Azure subscription.
    Each MSD

[2018-09-08 15:07] PatrickBue commented on #14658
Thanks for checking with legal. Please also check if for research purposes using the Bing Image Search would be ok.

[2018-09-08 15:15] gopinath678 opened #14686 "ADL: Start Local Run Service Error on Mac"
Unable to local run / debug on mac
Please provide a way to do this on non-windows environments as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabad06f-2fc2-509a-06e1-f971beadbe8a
* Version Independent ID: 170903bf-8747-1893-4980-f95bb8f349b2
* Content: [Run U-SQL and debug locally in Azure Data Lake Tools for

[2018-09-08 15:28] cocallaw opened #14687 "Powershell and CLI examples assume Key Vault and VM are located in the same RG"
Both the Powershell and CLI example commands are written in a manner that assumes that the Key Vault is located in the same resource group as the VM. The value/parameter "MySecureRG" works for constructing the Key Vault ID and URL values, however if the VM and KV do not live in the same RG the command will fail when running " Set-AzureRmVmssDiskEncryptionExtension" or "az vm encryption enable".

T

[2018-09-08 16:49] MicahMcKittrick-MSFT commented on #14671
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:50] MicahMcKittrick-MSFT commented on #14675
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:51] MicahMcKittrick-MSFT commented on #14679
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:52] MicahMcKittrick-MSFT commented on #14684
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:52] MicahMcKittrick-MSFT commented on #14687
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-08 16:53] MicahMcKittrick-MSFT commented on #14686
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:53] MicahMcKittrick-MSFT commented on #14683
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:54] MicahMcKittrick-MSFT commented on #14685
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 16:57] EVMartinez opened #14688 "Change Update-ServiceFabricApplication –Name parameter"
Hello Team

In the section https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-application-groups#limiting-the-maximum-number-of-nodes the command Update-ServiceFabricApplication –Name fabric:/AppName –MaximumNodes 5 is not correct. Please change the -Name parameter for -ApplicationName.

Regards.

---
#### Document Details

⚠ *Do not edit this section. It

[2018-09-08 17:35] jeffgilb commented on #14675
Good catch @cenkersoy . I'll get this updated ASAP.

[2018-09-08 18:28] YutongTie-MSFT commented on #14688
@EVMartinez Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 19:52] badalk opened #14689 "Error: could not find tiller"
My cluster is RBAC enabled. I created a static IP and installing nginx using Helm as instructed above using this command

helm install stable/nginx-ingress --namespace kube-system --set controller.service.loadBalancerIP="&lt;Static IP Address&gt;"

I am getting an error: "Error: could not find tiller"

Regards
Badal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-09-08 20:11] TechWatching commented on #13588
Thanks for the update @ghogen :). Much clearer now.
I will close the issue then. Just a quick question : on my machine the code uses my micrososft account to connect to the Azure Key Vault, what do I have to do if I want to deploy this code on another machine or on Azure. Do I have to have to register my application to the azure active directory where my key vault lives ?

[2018-09-08 20:36] markgar opened #14690 "Delete Custom Log"
How would I delete this custom log created by the Data collector API afterwords?  Would be nice to include that information here.  "Demo Example" in this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1295e1b3-5aed-3aee-4331-8b81e7a7e544
* Version Independent ID: 3c00a5ee-7093-1e8b-9004-8fed3f82960e
* Content:

[2018-09-08 20:52] simbacat007 opened #14691 "could not get past 2nd step"
I could not get past the second step, kept saying" bash: website: No such file or directory".  Went  through several times.  Waste of time!!!!!!!!!  I already had an Azure account and was using it that was the only difference from the tutorial.
So disappointed and wasted my account time on tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-09-08 21:47] makcedward opened #14693 "Creating python 3.6 virtual environment"
Default python versions are py27 and py35.

Any way to add py36 as well into DSVM (CentOS)? Tried to create new conda env but keeping throwing "dead kernel" error when starting the kernel in Jupyter Notebook. Does there any thing follow-up tasks need to be execute in order to use python 3.6 kernel?

[2018-09-08 22:09] laoki commented on #14642
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-performance

[2018-09-08 22:18] xied75 opened #14694 "azcopy on Linux, install is not as easy as potato."
Per the section at the beginning:

I was trying to install azcopy following the simple 3 lines instruction, into a Ubuntu 16.04 container, it seems too much was assumed to be around, in order to get azcopy installed and able to work:

[code]
These commands need to be run before your 3 lines.

p.s. Why not package the azcopy binary into a single standalone executable with corert toolchain?

---
###

[2018-09-08 22:32] cubikca opened #14696 "Include P2S Address Space for VNet-to-VNet Connections?"
"The difference between the connection types is the way the local network gateway is configured. When you create a VNet-to-VNet connection, you do not see the local network gateway address space."

While this may be simpler, the address space for the connected VNet does not include the P2S address space. Is this by design? It prevents a VNet-Integrated Web App from using DNS servers in a different

[2018-09-08 22:37] mike-urnun-msft commented on #14251
Hi @peterbecker Thank you for reporting this issue and contributing towards the improvements of documentations. We have corrected this issue and the change will reflect after our next merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-08 22:37] #14251 closed

[2018-09-08 22:43] mike-urnun-msft commented on #14283
@scottrudy Thank you for your valuable feedback! We have assigned this issue to the author to review further and take the right course of action.

[2018-09-08 22:45] YutongTie-MSFT commented on #14689
@badalk Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 22:48] YutongTie-MSFT commented on #14690
@markgar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-08 23:00] YutongTie-MSFT commented on #14691
@simbacat007 Sorry for your experience, I have assigned the author to update the document properly.

@ggailey777 Hi, this is a document response, can you please take a look and update the document as necessary? Thanks a lot!

[2018-09-08 23:04] g0pinath opened #14697 "Works like a charm..few suggestions."
I am new to ARM so maybe it took a while for me to figure this one out.

The JSON code given here can be used for existing machine and new deployments, and I was testing new deployments and copied this under /virtualmachines resource.
It didnt like the type as "extensions" instead of "Microsoft.Compute/virtualMachines/extensions"
2. The github example that shows the URI actually exposes the script

[2018-09-08 23:06] g0pinath commented on #14697
sorry I mean it LIKED "extensions" and NOT "Microsoft.Compute/virtualMachines/extensions" when this is a resource of VM resource itself.

[2018-09-09 00:00] femsulu commented on #14693
@makcedward thanks for the comment. Is your question related to any specific Azure doc? If yes, please share the link.

[2018-09-09 00:12] femsulu commented on #14697
@g0pinath thanks for the feedback. We will review and get back to you soon.

[2018-09-09 00:15] femsulu commented on #14696
@cubikca thanks for the comment. We are actively investigating and will get back to you soon.

[2018-09-09 00:36] femsulu commented on #14206
@MarkIannucci please send mail to AzCommunity@microsoft.com and include your subscription ID so we can continue the investigation. Sorry for the inconvenience.

[2018-09-09 00:38] femsulu commented on #14397
assigning to @tfitzmac to revise the Azure CLI cmds

[2018-09-09 00:51] femsulu commented on #14479
@paulmackinnon-adv365 Apologies this issue is unresolved. Since this is a break-fix issue, let's redirect this conversation to AzCommunity@microsoft.com. I will be able to investigate further and engage internal support if needed. Please add the link tot his GitHub issue for context.

[2018-09-09 00:52] #14479 closed

[2018-09-09 00:57] femsulu commented on #14584
@aseeralmeem سنغلق الآن هذه القضية. إذا كان هناك المزيد من الأسئلة حول هذا الموضوع ، يرجى الرد علىfemsulu وسنستمر بسرور في المناقشة.

[2018-09-09 00:57] #14584 closed

[2018-09-09 01:52] badalk opened #14698 "Not at all working"
Have spent last 3 days. Faced so many issues to get Ingress and TLS working on RBAC enabled AKS. This document has a pre-requisite of having Helm and looks like it is not getting installed properly (specifically the tiller server).
It is also so confusing to re-deploy nginx ingress controller (though it gets provisioned as part of default azure kubernetes service) using static ip.
Is this even ent

[2018-09-09 02:15] jordanmills opened #14699 "No mention of the other MPs for other environments"
You know, even a blurb about having to find an updated management pack, let alone linking to it in this doc, would have saved me several hours of troubleshooting this week.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4096fac2-6f38-0e29-45a7-5eedc9abbd30
* Version Independent ID: 49e53671-fc49-3614-f7d7-0071ebbdc73d

[2018-09-09 02:28] YutongTie-MSFT commented on #14685
@huajunzhao Hi, I have fixed it. You should see the change shortly. Thanks for the feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-09 02:28] #14685 closed

[2018-09-09 03:24] jordanmills opened #14700 "No MSI again?"
Is it too much to ask for a method of deployment native to the OS so this can be efficiently deployed and updated on a few thousand servers at once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b462a919-2014-9aa3-5fba-6568cb2c6cfe
* Version Independent ID: 3417842d-423f-7d97-b25f-877e42234dca
* Content: [Configure Se

[2018-09-09 04:00] MicahMcKittrick-MSFT commented on #14698
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 05:50] curtisho1 commented on #14197
I tried the script and I encountered this error

Creating the Service Principal for Azure Blockchain Workbench
Failure: Failure to create service principal . Existing

[2018-09-09 06:32] nuanuser opened #14701 "Set-AzureRmDataFactoryV2Trigger -DefinitionFile alternative?"
Set-AzureRmDataFactoryV2Trigger -ResourceGroupName $ResourceGroupName -DataFactoryName $DataFactoryName -Name "MyTrigger" -DefinitionFile "C:\ADFv2QuickStartPSH\MyTrigger.json"

Is there a way I can just pass the Json string with parameter instead of reading from explicit definition file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-09-09 06:44] n1cho1as opened #14702 "You're missing x-functions-key header for postman if using Function Keys and HTTP POST."
If using postman and sending a post request you need to add the header x-functions-key and give it the value of the URL ?code parameter.  These are the Function Keys found in the Manage settings for the function in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version

[2018-09-09 07:56] FabioMariano72 opened #14703 "IP restrictions with traffic manager"
Hi team,
I am trying to setup my traffic manager configured in NE, for 2 web app hosted in NE and WE. Traffic manager is always reporting degraded status. I also tried to add in the NE web app the list of IP of Azure North Europe, but I didn't work. Any suggestion ?

Thanks
Fabio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-09-09 08:04] mike-urnun-msft commented on #14261
Hey @tsahi Sorry for delay in response and thanks again for reporting this! I'll be looking into this tomorrow. Did the recommended syntax for initializing work for ya?

[2018-09-09 09:19] tim-yan opened #14704 "Content inconsistency"
The structure of "SQL Database(PaaS)" in the first picture titled with "What is a SQL Database Managed Instance?" is inconsistent with article "What is the Azure SQL Database service?". Link: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-technical-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-09-09 12:39] nunix commented on #13786
thanks a lot for the detailed feedback and glad it helps.
This can be closed from my point of view.

[2018-09-09 13:30] TomArcher commented on #13786
@nunix I'm glad we were able to get this fixed! The updated article should go live ~10:00am Monday morning (PST)
@MicahMcKittrick-MSFT #please-close

[2018-09-09 13:32] romankiss opened #14706 "Dead-lettering delay for 300 seconds"
This document didn't described behavior of the storing a dead-letter event message to the dead-letter endpoint. Currently, there is a delay time 300 seconds, when the dead-letter message is available in the container.

I have made some test with a multiple failed event messages generated in the 10 seconds period (6 times with a 10 seconds period fired on the custom topic).

I have expected after 3

[2018-09-09 15:43] MicahMcKittrick-MSFT commented on #14702
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 15:43] #13786 closed

[2018-09-09 15:47] topgenorth commented on #14606
Glad that we managed to get this to  for you.  I'm not sure about the process to get these apps white listed, but I will pass this on to the Xamarin.Android team.

[2018-09-09 16:49] YutongTie-MSFT commented on #14699
@jordanmills Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 16:50] YutongTie-MSFT commented on #14701
@nuanuser Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 16:51] YutongTie-MSFT commented on #14704
@tim-yan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 16:52] YutongTie-MSFT commented on #14706
@romankiss Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 16:52] YutongTie-MSFT commented on #14700
@jordanmills Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 16:53] YutongTie-MSFT commented on #14703
@FabioMariano72 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-09 17:23] markgar opened #14707 "Collectd performance data"
I think the title of this article (in the menu bar to the left) has a typo maybe?  The title in the actual article is "Collect performance data."  The menu has "Collectd performance data."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f36baa52-ce5b-95a3-522f-abc8600024f7
* Version Independent ID: f30640f0-7cd0-c7ba-b6

[2018-09-09 17:31] prasthak commented on #9080
@jovanpop-msft , valid questions by Frank. Can you reply on that pleasE?

[2018-09-09 17:45] DharitaChokshi commented on #14594
@sergaz-msft I don’t think you need to add anything to your documentation. It was I who missed those lines probably because I was coding my simulator in Java taking the reference of your C# code.

I have one more question. It would be great if you could help me with it.
My Service Bus queue is receiving telemetry of 2 different objects. For Object1 is have to send mail to MailId1 and for Object2 j

[2018-09-09 17:58] Prashanthlkv commented on #6288
Android Azure notification hub SDK is not working in Android Pie. Below are the SDK details: mavel url: "http://dl.bintray.com/microsoftazuremobile/SDK" dependencies: compile 'com.microsoft.azure:notification-hubs-android-sdk:0.4@aar' compile 'com.microsoft.azure:azure-notifications-handler:1.0.1@aar'

Steps to reproduce: 1. Receive GCM/FCM token 2. Create instance of NotificationHub 3. Call metho

[2018-09-09 18:06] Prashanthlkv commented on #8899
Android Azure notification hub SDK is not working in Android Pie. Below are the SDK details: mavel url: "http://dl.bintray.com/microsoftazuremobile/SDK" dependencies: compile 'com.microsoft.azure:notification-hubs-android-sdk:0.4@aar' compile 'com.microsoft.azure:azure-notifications-handler:1.0.1@aar'

Steps to reproduce: 1. Receive GCM/FCM token 2. Create instance of NotificationHub 3. Call metho

[2018-09-09 18:08] Prashanthlkv commented on #8899
The SDK uses AndroidHttpClient for network operations, this API is deprecated in Android 6 and removed completely in Android 9. Could you guys please update the SDK with the fix?

[2018-09-09 18:09] Prashanthlkv commented on #6288
The SDK uses AndroidHttpClient for network operations, this API is deprecated in Android 6 and removed completely in Android 9. Could you guys please update the SDK with the fix?

[2018-09-09 19:08] iamthehousedog opened #14708 "pipelinerunid - provide a link"
pipelinerunid is referenced in all examples for powershell as a required param - might be nice to have a complete solution that references how it's gotten.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf124c4c-3ba1-57ed-3679-8539f2a311fc
* Version Independent ID: 4b32b092-c4ad-74aa-58d3-75449d87d306
* Content: [Progr

[2018-09-09 19:09] ed7257 commented on #14165
hi guys, any updates on this?

________________________________
From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Saturday, September 1, 2018 2:18:09 PM
To: MicrosoftDocs/azure-docs
Cc: ed7257; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Renewals (#14165)

@rothja<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Frothja&data=02%7C01%7C%7Cdfe0c9248d6b428

[2018-09-09 19:18] faceoffers28 commented on #14606
Very interesting! I removed the `RECEIVE_BOOT_COMPLETE` permission and did a Debug Build. I closed the app out of Debug (connected to Visual Studio) by swiping it off the screen. I then sent a Notification and it did not display. I then re-opened the app (not being debugged by Visual Studio) and closed it by swiping it off the screen, sent a Notification and it worked. So, it had nothing to with t

[2018-09-09 19:18] #14606 closed

[2018-09-09 20:28] elops opened #14710 "Can't deploy policy via API"
I'm trying to create policy via API as explained here. Using the embedded iframe where one can HTTP PUT, define request JSON  for policy etc.

I set following:
scope =&gt; "subscription/my-subscription-id" or "/subscription/my-subscription-id"
policyAssignmentName =&gt; test

I copy / pasted example to request body.
When attempt to "RUN" to create this policy I get
HTTP 400

with response JSON
[co

[2018-09-09 22:12] SaurabhSharma-MSFT commented on #14488
@Shreelekha19 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-09 22:12] #14488 closed

[2018-09-09 22:13] SaurabhSharma-MSFT commented on #14498
@andrewdialpad We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-09 22:13] #14498 closed

[2018-09-09 22:16] WhippsP opened #14711 "Disabled should be Suppressed under Single sign on (SSO) configuration"
Disabled is not valid when uploading policy - You will receive the following error;

The 'Scope' attribute is
invalid - The value 'Disabled' is invalid according to its datatype

This should be Suppressed

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41bd32ec-e292-6b66-881a-55813b2f5885
* Version Independent ID: a7766

[2018-09-09 23:49] Asvaldrz commented on #13718
@Mike-Ubezzi-MSFT I'm sorry i can't see where that option is on the
"AzureHub>MyWebApp>Application Settings" page.
Am i looking in the wrong place or do i need to add this as a new setting name?
Btw i selected a Windows WebApp

[2018-09-09 23:54] MGoedtel commented on #14699
@jordanmills - Can you please be more specific about what your issue is?  If it is related to the changes with the Azure API and the new Operations Manager MP released for 2012 R2+ with the new OMS management pack to connect a new MG with your workspace or reconfigure an existing, this is called out in a note in the article under the prerequisites section with links to the MP for the specific vers

[2018-09-10 00:02] Asvaldrz commented on #13718
Yep that was it. I had to add the new setting and value to "AzureHub>MyWebApp>Application Settings>ApplicationSettings"

[2018-09-10 00:05] Mike-Ubezzi-MSFT commented on #13718
@Asvaldrz In this section of the instructions ([Configure the web app to read data from your IoT hub](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps#configure-the-web-app-to-read-data-from-your-iot-hub)), you add your `Azure.IoT.IoTHub.ConnectionString` and `Azure.IoT.IoTHub.ConsumerGroup` property values. You also have another value `WEBSITE_NODE_DEFAUL

[2018-09-10 00:28] MGoedtel commented on #13845
@dcbrown16 - Ronnie Harper is correct that the user needs to be granted owner at the subscription level for the workspace resource.  I will bug this and update the documentation, and also confirm with engineering there isn't a lesser privilege available to assign in this case.  #please-close as I am tracking this internally and will update documentation tomorrow to specify the perms required to co

[2018-09-10 00:30] dcbrown16 commented on #13845
Ok thank you @MGoedtel. I am following up internally as well (I'm on the Pro Direct team) and will loop you in.

[2018-09-10 00:30] #13845 closed

[2018-09-10 00:34] dcbrown16 commented on #13845
Although for posterity I should restate that the Advanced Settings menu is available for Contributor role, not just Owner (the key role is apparently not included in the NotActions for Contributor). And I didn't test fully but I'm pretty sure you can limit the scope to at least the resource group if not the workspace itself, so there shouldn't be any need to apply it at subscription level.

[2018-09-10 00:39] MGoedtel commented on #13845
@dcbrown16 - So that's curious because I just retested it and I have an account that is Contributor at the resource group level with the workspace and Advanced Settings wasn't available for that account until I granted it owner rights at the subscription level. Let me revisit that.

[2018-09-10 01:13] YutongTie-MSFT commented on #14711
@WhippsP Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 01:26] YutongTie-MSFT commented on #14710
@elops Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 01:29] YutongTie-MSFT commented on #14708
@iamthehousedog Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 01:30] YutongTie-MSFT commented on #14707
@markgar Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 01:32] stevestein commented on #12373
@jaszymas - can you take a look at this? Thanks.

[2018-09-10 02:01] KeiroKamioka0000 opened #14712 "Installing/Enable the Linux Diagnostic Extension to Linux VMSS"
Is it possible to install/enable the Linux Diagnostic Extension to the VMSS?
If possible how to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f315d40
* Content: [Azure Compute - Linux Diagnostic Extension](https://docs.m

[2018-09-10 02:08] TomArcher commented on #13806
@johannesnormannjensen Your question can be addressed in two parts:

**Fetching project version from maven**
- You can store the project version in an environment variable and then tag the Docker image with the environment variable. For more information on building, tagging, and pushing docker image with Maven, see the following article: https://www.dontpanicblog.co.uk/2016/07/08/building-tagging-

[2018-09-10 02:12] dcbrown16 opened #14713 "Link error"
The last link ("follow the failover instructions") points to an obsolete header link and should hit run-a-failover-to-the-secondary-region instead.
I tried to edit the page but got denied with a 405, please update when you have a chance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9814de5d-d6e2-463d-f4b9-dffa577daec

[2018-09-10 02:41] femsulu commented on #14206
@MarkIannucci we've received your mail to the AzCommunity and will continue the investigation from there. Closing this GitHub issue.

[2018-09-10 02:41] #14206 closed

[2018-09-10 02:55] femsulu commented on #14700
@jordanmills The Azure engineering team's happy to receive valuable feedback and have established a customer-facing channel for this very purpose. We strongly recommend posting your feedback [HERE](https://feedback.azure.com/forums/905242-update-management) for deeper review

[2018-09-10 02:58] #14700 closed

[2018-09-10 02:59] Aaron-Yue commented on #14592
@YutongTie-MSFT Hi, thank you for your help. I still have a problem. I can get the position of the result, but because the position I get is not equal to the last offset of the voice I have sent, so the voice after the position maybe is still an utterance, or silence, or some noise. If there is a unique end flag for all results, that is best!

[2018-09-10 03:27] dabdirb commented on #13431
Neither this doc nor sample code show what the new API is :(

[2018-09-10 04:09] Karishma-Tiwari-MSFT commented on #14712
Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-10 04:17] hei9gag commented on #14327
I checked the key and the service region and it works now. Thanks for the help and sorry for any inconvenience caused.

[2018-09-10 04:17] #14327 closed

[2018-09-10 05:08] msilinda commented on #13663
I was told by a Microsoft program manager that we should be able to automate a marketplace enterprise application installation and configuration using JSON and REST API. Any example code or documentation for this?

[2018-09-10 05:29] cbrooksmsft commented on #13931
thank you for raising the issue.  I have merged the fix - should be live tomorrow.

[2018-09-10 05:36] YvonneArnoldus opened #14716 "CPU quota reached."
Hi.

I have tried to restore a VM (OS disc) this way but my CPU quota was reached. So I asked for a quota extension, but the VM the backup was made from was on a VM that is not available any more. So the quota team asked me to use another type of VM. How do I do that? Because is not something I can choose.

So maybe If you request this as Azure you should write a guide about how to do this.

---
#

[2018-09-10 05:47] agrebenyuk opened #14717 "error Identifier .. is not a top level resource - when calling validateMoveResources?api-version=2018-02-01"
Hi there ,

Azure API 2018-02-01

I was trying to call validation method of azure API which checks possibility of moving resources to a different subscription but I get http error 400

`{"error":{"code":"ResourceNotTopLevel","message":"Identifier '/subscriptions/subscriptionId/resourceGroups/RGName/providers/microsoft.cdn/profiles/CDNResourceName/endpoints/endpointName' is not a top level resource

[2018-09-10 05:58] msvijayn commented on #14571
@mehdipanjwani - Please see[ Azure alert creation article](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-usage#create-an-alert-rule-with-the-azure-portal), it is clearly mentioned:

![image](https://user-images.githubusercontent.com/33087919/45278846-7ef3f980-b4ec-11e8-9eaa-573b0701e8fb.png)

[2018-09-10 06:02] Prashanthlkv opened #14718 "Android Azure notification hub SDK is not working in Android Pie"
Android Azure notification hub SDK is not working in Android Pie.
Below are the SDK details:
**Mavel url**: "http://dl.bintray.com/microsoftazuremobile/SDK"
**Dependencies:**
compile 'com.microsoft.azure:notification-hubs-android-sdk:0.4@aar'
compile 'com.microsoft.azure:azure-notifications-handler:1.0.1@aar'

**Steps to reproduce:**
1. Receive GCM/FCM token
2. Create instance of NotificationHub
3

[2018-09-10 06:02] msvijayn commented on #14571
@jdogg89 - Thank you for your feedback. Azure alerts team is always eager to hear your requests and work upon them. Suggest providing the input via [Product Feedback page ](https://feedback.azure.com/forums/602299-azure-alert-management)instead; so that we can gauge demand and keep everyone interested informed on the dev plan.

[2018-09-10 06:05] gauravagarwal28 opened #14719 "Provide pseudocodes for other supported languages too."
The documentation on the tutorials should provide pseudocodes for other supported languages too so that one can easily and quickly explore the API's hands on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c424cd61-2f44-8a10-bce8-5a18fb1279f3
* Version Independent ID: 62824def-6ec5-0b0e-d909-88f82c647cb8
* Content: [Un

[2018-09-10 06:08] msvijayn commented on #14571
#please-close

[2018-09-10 06:08] Prashanthlkv opened #14720 "Android Azure notification hub SDK is not working in Android Pie"
Android Azure notification hub SDK is not working in Android Pie.
Below are the SDK details:
**Mavel url**: "http://dl.bintray.com/microsoftazuremobile/SDK"
**Dependencies:**
compile 'com.microsoft.azure:notification-hubs-android-sdk:0.4@aar'
compile 'com.microsoft.azure:azure-notifications-handler:1.0.1@aar'

**Steps to reproduce:**
1. Receive GCM/FCM token
2. Create instance of NotificationHub
3

[2018-09-10 06:11] slavizh opened #14721 "Image does not look good in dark mode"
The image does not look good in dark mode. Specifically the titles under the diagram are black which are not visualized very well in dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e793474-fdf3-7a9f-239e-564d4bd626fb
* Version Independent ID: b1b87255-8d6a-c711-7ea9-a35aee5ecd9e
* Content: [Overview of func

[2018-09-10 06:49] aquibqureshi26 opened #14722 "In Backup limits there is no condition mentioned for 2"
Team,
In the Backup limitation, when we see "Size of individual data disk attached to an Azure virtual machine for backup" it is mentioned as 4 TB but there is a mark of 2. Where is that condition mentioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea-f83892f4c23d
* Version Independent ID: 27

[2018-09-10 06:54] genlin commented on #14445
@KeiroKamioka0000 Thanks for submitting the issue. There is no option to download the files that you uploaded.  The files you uploaded will be visible for support engineers. So you may ask them for help,

#please-close

[2018-09-10 07:14] nickbrown1968 opened #14723 "Prerequisites for Configuration Server only"
What are the prerequisites for a Configuration Server only deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a699efb-c78c-2dc6-2d0d-6ffc0a2918ce
* Version Independent ID: 36a048d5-71b5-ce1d-75d7-bd5182f4386b
* Content: [Deploy the configuration server for VMware disaster recovery with Azure Site Recovery](htt

[2018-09-10 07:15] vladislav-mitev commented on #14341
Not sure what you mean, because e.g. the three system properties (EventProcessedUtcTime, PartitionId, EventEnqueuedUtcTime) are not documented at all. Furthermore, from the current documentation there is no hint that a single message contains multiple events. That eventually breaks your parser.

[2018-09-10 07:59] BernieWhite opened #14725 "Accelerated networking support"
Accelerated networking is not supported in the table above, but this page (https://docs.microsoft.com/en-us/azure/site-recovery/azure-vm-disaster-recovery-with-accelerated-networking) implies that the failover VM will also have accelerated networking enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85

[2018-09-10 08:35] pinyuko opened #14726 "Azure in Open?"
Does "Monetary commitment" or "Monetary credit" equal to "Azure in Open"?
Not sure whether Azure Resource Usage & RateCard API are supported for Azure in Open.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a56e729-7981-9a51-9c5c-00ea13a8d888
* Version Independent ID: 01fb14e5-e8a4-49e0-5908-b6069566a8de
* Content: [A

[2018-09-10 08:38] frenkan commented on #12999
Updating the provider version and changing the vm size did the trick for me. Thanks @TomArcher!

[2018-09-10 08:41] johannesnormannjensen commented on #13806
Thank you @TomArcher and @BryanTrach-MSFT

I will look into this asap.

[2018-09-10 09:11] alwayzoverdozed commented on #14639
I don't no what's going on but thanks aLot u guys

[2018-09-10 09:11] kazshi opened #14727 "how to install Linux Azure Diagnostics extension"
Do we need to install Linux Azure Diagnostics extension to custom image, or is it possible to install the extension using template like described in the following link?
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-template#add-the-azure-diagnostics-extension-to-the-vm-resource-definition

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2018-09-10 09:15] tjcdw commented on #14588
Facing the same problem.

[2018-09-10 09:29] clark0820 opened #14728 "Error "2312""
I followed this article. I am getting error. I saw previous comment that "@" is missing from root container; however, I do have that in my script "lines = spark.read.text("wasbs://adftutorial@<myaccount-Clark>.blob.core.windows.net/spark/inputfiles/minecraftstory.txt").rdd.map(lambda r: r[0])"

{
    "errorCode": "2312",
    "message": "Spark job failed, batch id:10",
    "failureType": "UserError

[2018-09-10 09:42] paulmackinnon-adv365 commented on #14531
I destroyed my test environment, I will have to recreate it and let you know how I get on.

[2018-09-10 09:50] danimir commented on #14670
@mikaelsnavy

- For the SQLSecurityAuditEvents log to flow to Log Analytics, you need to have the [ATP](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-threat-detection) enabled on your databases, in addition to selecting "SQLSecurityAudiEvents" log in Diagnostic settings.
- Similarly, for Audit log to flow to Log Analytics, enable  [Auditing](https://docs.microsoft.com/en-us/azur

[2018-09-10 09:52] simonsabin commented on #6855
What should the link be?

[2018-09-10 09:57] paulmackinnon-adv365 commented on #14531
I have the same error:

[code]

[2018-09-10 10:04] sergaz-msft commented on #14594
Hello @DharitaChokshi thanks for confirming! I can think on the following article where we provide a tutorial to integrate IoTHub with Event Grid and LogicApp, though I am not sure if that is what you are searching for?

[Send email notifications about Azure IoT Hub events using Logic Apps](https://docs.microsoft.com/en-us/azure/event-grid/publish-iot-hub-events-to-logic-apps)

If you are followin

[2018-09-10 10:04] #14594 closed

[2018-09-10 10:06] sergaz-msft commented on #14706
@romankiss thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 10:06] CarolineVanDuin opened #14729 "Step 7 of Microsoft account application is incorrect"
In step 7 under Create a Microsoft account application

I had to use
https://login.microsoftonline.com/te/{tenant}.onmicrosoft.com/oauth2/authresp
instead of
https://{tenant}.b2clogin.com/te/{tenant}.onmicrosoft.com/oauth2/authresp

For the connection to work properly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245

[2018-09-10 10:51] luisaxeko commented on #12606
Can we do that by using ARM Template?

[2018-09-10 10:52] luisaxeko opened #14730 "How can we do that using ARM Template"
Hi,
How can we do that using ARM Template?

[2018-09-10 11:09] ymouse91 opened #14731 "One line missing from your example code"
Last line is missing from your example here. If you want to see the original image the last line should be:
plt.show()

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd31cc0-0bff-8bb0-f848-d048eb0bf53e
* Version Independent ID: 639d27af-330f-2377-72ed-47e2b913c1d9
* Content: [Quickstart: Analyze a local image - REST,

[2018-09-10 11:20] ymouse91 opened #14732 "Code corrections needed"
You are missing this line in order to display the original image:
plt.show()
Also json module needs to be imported:
import json

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6bff9ba-84d1-69ea-d2a6-7b1fb271cae7
* Version Independent ID: 857ef2c2-3a91-e648-abd3-536705c9f9f5
* Content: [Quickstart: Use a domain model -

[2018-09-10 11:24] Sethu2488 opened #14733 "General Availability - Cluster Auto-Scaling"
Could you say when cluster autoscaling will be available in GA..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301b44e3-4be7-6364-01b4-c2a55ff9b14a
* Version Independent ID: 62569967-65c6-ece6-2d1e-689a73dd59ca
* Content: [Kubernetes on Azure - Cluster Autoscaler](https://docs.microsoft.com/en-us/azure/aks/autoscaler)

[2018-09-10 11:34] chris31389 commented on #13195
Has there been any movement on this? @Adam-Smith-MSFT

[2018-09-10 12:45] 1konna opened #14734 ""list" instead of "show""
Instead of having this az storage account show --resource-group &lt;ResourceGroupName&gt;  (which didn't work for me), you can use
 az storage account list --resource-group &lt;ResourceGroupName&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b496ab7-8658-ba5a-676d-db7879670639
* Version Independent ID: 2d8fda5e-37

[2018-09-10 12:46] parth115 opened #14735 "Registration link is broken"
The app registration link https://microsoft.sharepoint.com/teams/apponboarding/Apps does not let you sign in anymore.
Neither with an O365 account nor with outlook.com account.

Correlation ID: 155b8d9e-20da-0000-a6df-f639402475c2
Date and Time: 9/10/2018 5:46:07 AM
URL: https://microsoft.sharepoint.com/teams/apponboarding/Apps
User: parth@parthbuch.onmicrosoft.com
Issue Type: User not in director

[2018-09-10 12:53] femsulu commented on #14722
@aquibqureshi26 Thanks for the comment. Your feedback has been shared with the content owner for further review.

[2018-09-10 12:54] femsulu commented on #14726
@pinyuko Thanks for the Comment. We are actively investigating and will get back to you soon.

[2018-09-10 12:57] femsulu commented on #14713
@dcbrown16 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-10 13:20] windson opened #14737 "Showing Info or Not Secure instead of secured."
I successfully configured SSL using the steps here https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site
But I see the Info icon in the url box instead on Green Colored Lock icon with Secure Text.
I also enabled 'HTTPS only' option to On in SSL settings section.
What can I do to see Green Colored Lock with Secure instead of info icon in grey
When I checked the followin

[2018-09-10 13:27] #14734 closed

[2018-09-10 13:47] markfennell commented on #12477
Error message indicates that @trigger().scheduledTime is invalid. Please advise if documentation is incorrect.

"errorCode": "InvalidTemplate",
"message": "The expression 'formatDateTime(trigger().scheduledTime)' cannot be evaluated because property 'scheduledTime' doesn't exist, available properties are 'name, outputs, startTime, endTime, trackingId, clientTrackingId, status'."

Thank you.
mf

[2018-09-10 13:56] DCtheGeek commented on #14710
@elops Thanks for the feedback!  I believe the error is because you didn't update the JSON body for the PolicyAssignment with your subscriptionId.  In the JSON example, update `"policyDefinitionId": "/subscriptions/<subscriptionId>/providers/Microsoft.Authorization/policyDefinitions/allowed-custom-images",` replacing **\<subscriptionId\>** with your subscription.  If this is the issue, I'll update

[2018-09-10 14:04] eifinger opened #14739 "Include Support for Ubuntu Core"
Do you plan to support Ubuntu Core OS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b0c7e11b-3741-15f6-58e7-8529d492af47
* Content: [Azure IoT Edge Platform Support](https://docs.microsoft.com/en-us/azure/iot-edge/support#operating-systems)
* Content Sour

[2018-09-10 14:13] fernandoBRS commented on #14384
Thanks @jingjing-z ! 👍

[2018-09-10 14:13] #14384 closed

[2018-09-10 14:13] jwiese-ms opened #14740 "Mock Response steps are incorrect"
The Mock Response UI is different.  I no longer get a form and only get a Code option, which also doesn't seem to work.  When I click "+ Mock Response" it inserts XML into the code but it isn't in the right spot and it won't same no matter what I try.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-db

[2018-09-10 14:17] jwiese-ms commented on #14740
Upon further digging, the Mock XML entry should be placed in the Inbound section and the values should be "OK" and "application/json" for the fields, then it works.

[2018-09-10 14:26] tloewenpapst opened #14741 "can't load file using Basic authentication"
Hi,
I tried multiple times to create a pipeline using a http connection with basic authentication. The connection is tested successfully but when using the preview button an error message is shown instead of the data. (Error message from Server in the data preview window that I'm not authorized).

Best regards
Thomas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-09-10 14:29] elops commented on #14710
@DCtheGeek I've tried that as well. It simply does not work.

per documentation at
https://docs.microsoft.com/en-us/rest/api/resources/policyassignments/create

I use REST  interface provided on the page above (by clicking green "Try It" button)

Form which opens up has 3 form groups
* Parameters
 scope :  `/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx`
 policyAssignmentName : `test`
* Heade

[2018-09-10 14:38] eross-msft commented on #14564
@zer0sum  It looks like Android has removed the app and the product team is looking into it. However, with that being said, we're in the process of moving away from our standalone apps like My Apps, towards the Managed Browser (https://play.google.com/store/apps/details?id=com.microsoft.intune.mam.managedbrowser). You can see more info about the Managed Browser here: https://docs.microsoft.com/en-

[2018-09-10 14:39] georgewallace commented on #14588
As this is causing issues in the portal as well, it is safe to say this is not an Azure Automation issue. I have reached out to the product group to see if we have an answer,

[2018-09-10 14:39] DCtheGeek commented on #14710
@elops I tested the example this morning before responding to validate it was working and it did for me.  I see your `policyDefinitionId` is set to **ResourceNaming** in your Assignment JSON.  Did you also change the name when you created the definition?  If you straight used the code in the example, the name would be **allowed-custom-images**.  If you open a new browser tab to [Azure Cloud Shell]

[2018-09-10 14:44] georgewallace commented on #14587
@brgsstm In regards to troubleshooting VM's in the not assessed state, the troubleshooting would begin on the VM.  If it is not reporting it's patch assessment you would need to look at the VM.. I would look into to ensure you have network connectivity… I will add this as a backlog item to add information about troubleshooting not assessed issues.

[2018-09-10 14:46] markfennell commented on #12477
My apologies. I was using the trigger().scheduledTime in the pipeline, not in the trigger.
mf

[2018-09-10 14:48] mariojvargas commented on #14190
I'm also interested in seeing documentation on implementing the CI/CD process that @bdforbes described, as I have a similar scenario. We target multiple environments (dev, QA and production), each having a separate branch (production = master). We want to be able to pull artifacts from the correct environment but the only option in the documentation that I've seen for setting up the CD pipeline is

[2018-09-10 14:53] cowinr opened #14743 "Java example"
I cannot find any examples of how to do this in Java. Is there an equivalent to Microsoft.Azure.Services.AppAuthentication in a Java library?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure Azure SQL Da

[2018-09-10 14:59] chrislangston opened #14744 "How do you specify $WRKDIR or $CERTDIR?"
In the "Installation on the gateway" section,it states "Copy the following files from $WRKDIR anywhere on your Edge device, we'll refer to that as $CERTDIR. If you generated the certificates on your Edge device skip this step."

I followed the steps to generate all the Certs on the Iot Edge Gateway device.

Do I need to export a $WRKDIR or $CERTDIR environment variable?  When I edit the config.yam

[2018-09-10 15:08] gtimread commented on #13370
Hi @curtand  thanks for updating the docs. Much appreciated!

[2018-09-10 15:36] Mike-Ubezzi-MSFT commented on #13930
@SnehaGunda Can you assist with this?

[2018-09-10 15:37] Mike-Ubezzi-MSFT commented on #14331
@Jan-Olof We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-10 15:37] #14331 closed

[2018-09-10 15:42] MicahMcKittrick-MSFT commented on #14733
Thanks for the question. We are investigating and will update you shortly.

[2018-09-10 15:43] manchejs0 commented on #13957
@dominicbetts @femsulu  hey, sorry for the delayed response.  I would like to get back to this.  @iammatthe2 suggested that I did not have a storage container associated with my hub, but as far as I am aware I had a storage account and a blob container associated prior to attempting the tutorial.

[2018-09-10 15:53] tmaeller commented on #8409
It should.

http://www.get8x8.com/8x8WebHelp/8x8Account_Manager/Default.htm#2SetupPhoneSystem/SSO.htm

_SAML and Google Federated Single Sign-On
Customers with identity management systems like Okta, OneLogin, Ping Identity, and Microsoft ADFS require their employees to authenticate to 8x8 apps using their company ID instead of an 8x8 username and password. In this release, we support SAML 2.0 & Go

[2018-09-10 15:53] noellelacharite commented on #14603
@farabisameer thanks for the feedback on this. I have filed a bug with the docs team and asked them to add the link.
thanks!

[2018-09-10 15:56] noellelacharite commented on #14486
I will investigate how to submit a ticket to the azure portal team to resolve this. Will update.

[2018-09-10 15:57] FieldMarshallVague opened #14746 "Getting 'HTTP Error 502.5 - Process Failure' running this example."
I'm getting the above error when the project is published.  The status of the service says 'Your app is healthy' when I use the 'web app down' link in the diagnostics.

Running 'dotnet .\keyvault.blahblah..dll' in the app service console results in this:

I followed the documentation exactly and everything up to this point works as expected.  However, the published project gives this error every t

[2018-09-10 16:11] Karishma-Tiwari-MSFT commented on #14727
Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-10 16:13] SamirFarhat opened #14747 "Assign RBAC Role to a management group"
Hi,
There is no documentation of how to assign RBAC role to a management group. I know how to do it via PS, but i don't know the provider ?
For Subscription it's : /subscriptions/SubName
For a management group, what is it /managementgroups/mgname ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-b5

[2018-09-10 16:15] LisandroSu opened #14748 "It does not mention Web Apps on Linux in document of "Enable logs", Although the "App Service on Linux Documentation" tree of link display the link of "Enable logs"."
@mekamata commented on [Mon Sep 10 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/700)

It does not mention about Web Apps on Linux in document of "[Enable logs](https://docs.microsoft.com/en-us/azure/app-service/web-sites-enable-diagnostic-log?toc=%2fazure%2fapp-service%2fcontainers%2ftoc.json)", Although the "[App Service on Linux Documentation](https://docs.microsoft.com/en-us/a

[2018-09-10 16:17] manchejs0 commented on #13957
actually, I think it had something to do with the node installation.   Disregard my earlier post, we can keep this closed.

[2018-09-10 16:26] jimdial commented on #14464
@jtuliani I've removed the instructions about installing the agent, or a Network Watcher, as the portal does both for you.  The change will publish later today.  Thanks. #please-close

[2018-09-10 16:27] yzheng-msft commented on #11915
#please-close

[2018-09-10 16:28] yzheng-msft commented on #11401
#please-close

[2018-09-10 16:28] yzheng-msft commented on #10263
#please-close

[2018-09-10 16:30] jimdial commented on #14537
#in-process

[2018-09-10 16:30] jimdial commented on #14088
#in-process

[2018-09-10 16:30] jimdial commented on #14237
#in-process

[2018-09-10 16:31] Mike-Ubezzi-MSFT commented on #14411
@AjitBhosale Yes, the `BulkImportAsync` is a batch import and works with a Retry mechanism based upon the RU established for the Cosmos DB instance you are using:

Based upon this behavior, there is a Bulk import response object definition that details the total number of documents commited in each batch: `NumberOfDocumentsImported (long)`

I think you are wishing for a custom behavior, in that yo

[2018-09-10 16:31] arunmenon opened #14749 "Context on how to use partition key when use adding Vertex using Gremlin"
Context on how to use partition key when use adding Vertex using Gremlin. I am having trouble figuring out how to do this . Can someone throw some pointers in this regard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0374b015-1139-9df8-6c96-a8657a088748
* Version Independent ID: 2e18d44d-de3c-eee5-7932-0a5a967e9b17
*

[2018-09-10 16:32] Minewiskan commented on #14463
Added second bullet item for signed in user account needing Log on as service privileges.

[2018-09-10 16:36] MicahMcKittrick-MSFT commented on #14721
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-10 16:37] malopMSFT commented on #14088
Inbound health probe use the port 80, for NSG a default security rule with all ports covers this configuration.

[2018-09-10 16:38] MicahMcKittrick-MSFT commented on #14391
@akoval-jsp the default allcocation method for the load balancer IP should be set to dynamic. Hence, the steps to provide your own static IP that you can then assign to any LB or service.

[2018-09-10 16:40] MSSedusch commented on #14639
1. I added a new bullet point. Should be live soon.
Each layer (for example DBMS, ASCS, Application Servers) must use a dedicated Availability Set.

2. Premium Disk is not required for production workload. We supported Standard Storage when there was no Premium Storage and we cannot just desupport it when there might be customer using it.

[2018-09-10 16:40] MicahMcKittrick-MSFT commented on #14429
@BharathRahulDS I will close this for now. When ready let me know and we can reopen and continue.

[2018-09-10 16:40] #14429 closed

[2018-09-10 16:41] minhaj-dell commented on #14559
@SaurabhSharma-MSFT Adding a bit more detail. If I was to write a service/daemon that ran on my client machine on-site within my domain and connected with my server in cloud to request some resource/call an API,  would it be possible for the daemon to acquire a token, from AAD, on behalf of the user logged into the client that could be validated by my server in cloud in order provide me the desire

[2018-09-10 16:41] MicahMcKittrick-MSFT commented on #14637
@wasabii any update on this?

[2018-09-10 16:42] eross-msft commented on #14564
#please-close  Content updated to remove the Google play information and to update the Managed Browser text. Changes will go live today.

[2018-09-10 16:42] MicahMcKittrick-MSFT commented on #14655
@stdistef if this is something you would like to see offically supported you can leave your feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) so the product teams and see it and consider adding that functionality.

I will close for now but if you have follow up questions let me know and we can reopen and continue.

[2018-09-10 16:42] #14655 closed

[2018-09-10 16:45] MicahMcKittrick-MSFT commented on #14683
@boboPD yes. This is stating that each scale set instance can have up to 100 nodes. If you some reason you needed more you would need an additional scale set. And the auto scaling feature cannot add a brand new scale set. Rather it can only add more nodes to an existing scale set.

I wlll close for now but if you have follow up questions let me know and we can reopen and continue. Alternatively yo

[2018-09-10 16:45] #14683 closed

[2018-09-10 16:48] arunmenon commented on #14749
g.addV('<vertex_label>').property('id','<id-key-value>').property('/<partition-key-name>','<partition-key-value>')

[2018-09-10 16:49] MicahMcKittrick-MSFT commented on #14688
@EVMartinez thanks for pointing this out. I have fixed the doc.

Once the PR merges this issue will close and the changes will go live in a few hours.

[2018-09-10 16:51] MicahMcKittrick-MSFT commented on #14689
@badalk this is directly related to #14698

I will close this one and we can work off a single issue.

[2018-09-10 16:51] #14689 closed

[2018-09-10 16:53] MicahMcKittrick-MSFT commented on #14733
@sakthivetrivel can you share any information on this?

[2018-09-10 16:56] mikaelsnavy commented on #14670
Thanks for the response @danimir! I've enabled Auditing on my Azure SQL database and server and I can see the audit events through the Azure SQL Database UI. I've also enabled "Send to Log Analytics" for "Audit" inside "Monitor - Diagnostics settings" for both my database and master for my Azure SQL database.

I'm still having trouble custom querying the telemetry out of Log Analytics. Running "se

[2018-09-10 16:58] msilinda opened #14750 "How to automate the addition and configuration of an Azure Marketplace enterprise application (not custom)"
This is a great article thank you. We need a way to automate the addition of Azure Marketplace enterprise applications using PowerShell (preferred) or JSON.  Can you include templates or examples of how to automate existing published SaaS Azure Marketplace application to Azure Enterprise Applications please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-09-10 17:00] MicahMcKittrick-MSFT commented on #14733
@iainfoulds would you know who owns this service?

The author appears out of date.

CC @jpconnock and @tysonn for the author awareness.

[2018-09-10 17:00] YutongTie-MSFT commented on #14731
This issue is duplicate with #14732 , I will close this one.

[2018-09-10 17:00] #14731 closed

[2018-09-10 17:05] MicahMcKittrick-MSFT commented on #14391
@akoval-jsp, @login21, @badalk

The issue with external IP and Static IP appear to be resolved. I will close this out for now.

@akoval-jsp I will continue to work with you on your other issue #14665

@badalk I will continue to work with you on your other issue #14698

[2018-09-10 17:05] #14391 closed

[2018-09-10 17:08] Najib314 opened #14751 "Terms of use and onedrive"
If terms of use work perfectly when i first logon in the portal or in Teams, I never see the terms of use if i first logon in OneDrive.

I tried on a Windows client, Android, and Iphone.

Is this behaviour normal ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 618ca851-56c8-5ba1-35de-a7b8e7af8aa2
* Version Independent

[2018-09-10 17:11] kobulloc-MSFT commented on #14740
@jwiese-ms Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-10 17:15] jayantacs commented on #14749
@arunmenon : The syntax is g.addV('<vertex_label>').property('id','<id-key-value>').property('<partition-key-name>','<partition-key-value>')

The leading "/" is not needed.

The partition key is not a meta property for vertices. If you are using an unlimited graph, we need to know the partition key while creating a vertex to determine its logical/physical placement.

[2018-09-10 17:16] #14464 closed

[2018-09-10 17:16] jgallucci32 opened #14752 "Add references to security documentation"
Recommend adding references to the following URLs to provide reference documentation for security accreditation of Azure Stack.

PCI-DSS and the CSA-CCM documents for Azure Stack
https://servicetrust.microsoft.com/ViewPage/TrustDocuments

DoD and NIST documents for Azure Stack
https://servicetrust.microsoft.com/ViewPage/Blueprint

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-09-10 17:19] msilinda opened #14753 "Need examples of how to automate the Azure part of these instructions using PowerShell"
We need examples of how to AUTOMATE the Azure portion of adding and configuring the Amazon Web Services (AWS) marketplace app into AAD Enterprise Application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tu

[2018-09-10 17:19] andrewdialpad commented on #14498
Hi Saurabh,

Thanks for the explanation. I do have one further question on this though.

The spec indicates that these usernames/emails may be re-used for different users at different points of time, which I understand. However I wanted to confirm that it's not possible for more than one user to have the same email or preferred_username at a given point in time.

In the OpenID spec, it looks like

[2018-09-10 17:19] ajamess commented on #14750
Hi @msilinda - we're working on the capability to automate adding applications through an API, but it's not yet fully available. Please send a note to luleon@microsoft.com who is working on this and would love to talk with you about any requirements you might have. You can also check out our docs on configuring single sign-on through our portal experiences as a starting point here: https://docs.mi

[2018-09-10 17:20] MicahMcKittrick-MSFT commented on #14531
@paulmackinnon-adv365 do you get the same error if you try another region?

[2018-09-10 17:20] ajamess commented on #14750
#please-close

[2018-09-10 17:21] #14688 closed

[2018-09-10 17:29] droidkfx opened #14756 "Old Content"
This content is out of date with current library implementation. Please update this documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dd3492a-d52b-d231-d647-cb73328c9df1
* Version Independent ID: e5d3d05f-1c8c-22f4-288d-6642288dbd4e
* Content: [How to use Azure Service Bus topics with Java](https://docs.mi

[2018-09-10 17:29] SaurabhSharma-MSFT commented on #11686
@girgen I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2018-09-10 17:29] #13962 closed

[2018-09-10 17:33] andreminelli opened #14757 "Missing memory metrics from Microsoft.Compute/virtualMachines"
We have CPU, disk and network, but nothing about memory!! :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by resource type](https://docs.microsoft.com/en-us/azure/monitoring-

[2018-09-10 17:37] Karishma-Tiwari-MSFT commented on #14727
@kazshi Here is the document on how to [install Linux Diagnostics Extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux).
You will find more information on [Azure Linux Extensions](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/features-linux) in this doc.

[2018-09-10 17:41] avidiyal opened #14758 "Error: Command failed with exit code 14"
I followed the tutorial in here https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module

But it fails when dowloading the C# module not sure why? I did add the proxy settings too.

I tried to follow the tutorial for python too https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module

I get the same error Error: Command failed with exit code :121

Please advice on how t

[2018-09-10 17:45] avidiyal commented on #14758
I followed the tutorial in here https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module

But it fails when dowloading the C# module not sure why? I did add the proxy settings too.

I tried to follow the tutorial for python too https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-python-module

I get the same error Error: Command failed with exit code :121

Please advice on how t

[2018-09-10 17:47] MicahMcKittrick-MSFT commented on #14507
@jasonwangnanjing we don't have any offical out there yet for configuring an App gateway with AKS.

I found this tutioral you should be able to follow:
https://rinormaloku.com/prohibiting-direct-access-microservices-aks/

Can you try it out and let me know if it helps?

CC @iainfoulds to see if we have this doc idea in the backlog already or if we should create it.

[2018-09-10 17:49] vasivara-MSFT commented on #14728
@clark0820 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-10 17:50] vasivara-MSFT commented on #14741
@tloewenpapst Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-10 17:53] cjmather opened #14759 "Ubuntu sed command is wrong"
sudo sed -i 's/# AutoUpdate.Enabled=n/AutoUpdate.Enabled=y/g' /etc/waagent.conf

It changes 'n' to 'y' but leaves the option commented out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e86655f9-6d0b-106b-7b88-edbd20ee4544
* Version Independent ID: cf60b900-6f8a-4b28-a86b-39daadd876f5
* Content: [Update the Azure Linu

[2018-09-10 17:53] iainfoulds commented on #14507
The engineering team is currently working on an ingress controller that allows AKS to use App Gateway. This is tentatively due to publicly become available in preview within the next week or two. Docs are also scheduled to be released accordingly.

[2018-09-10 17:56] danimir commented on #14670
@mikaelsnavy Your Log Analytics query to show categories available needs to be
`AzureDiagnostics | distinct Category`
If there are no categories available, please open a support ticket from within the Azure Portal as from hereafter this becomes a support issue versus product/documentation question. Thanks!

[2018-09-10 17:56] kazshi commented on #14727
@Karishma-Tiwari-MSFT I read the document on how to [install Linux Diagnostics Extension](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux), but I'd like to know if it's possible to install the extension using template and how to do if it's possible. Thanks.

[2018-09-10 17:57] prashanthyv commented on #14746
Hi @FieldMarshallVague ,

Is this error when you deploy to Azure?

[2018-09-10 18:01] rothja commented on #14722
@aquibqureshi26 Thanks for the question. I believe that @markgalioto would be the right person to answer this question. @femsulu Could you assign this to Mark for followup (unless Mark suggests another owner). Thank you!

[2018-09-10 18:04] mikaelsnavy commented on #14670
Thank you! I appreciate it. If I learn anything different than what the docs say, I'll bring the knowledge back to this space. 😀👍🏽

Thanks so much!
Mikael

[2018-09-10 18:04] #14670 closed

[2018-09-10 18:06] Mike-Ubezzi-MSFT commented on #14450
@tkumark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-10 18:06] #14450 closed

[2018-09-10 18:09] rothja commented on #14165
@ed7257  So sorry for the delay. I spoke with my licensing contact, and she provided some additional details. First of all, I am not a licensing expert, so I would recommend getting official answers from the guide [here](https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdownload.microsoft.com%2Fdownload%2F7%2F8%2FC%2F78CDF005-97C1-4129-926B-CE4A6FE92CF5%2FSQL_Server_2017_Licensing_g

[2018-09-10 18:11] rothja commented on #14126
@declandata Your wording is excellent. Sorry for the delay in responding. Would you like to make this change on the page (with the Edit button) and get your GitHub account credited with a contribution? Or would you like me to do it for you? Thank you!

[2018-09-10 18:13] Mike-Ubezzi-MSFT commented on #14483
@davidekarasek This functionality is being delivered through a 3rd party. They can be reached at dx@sendgrid.com. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-10 18:13] #14483 closed

[2018-09-10 18:13] rothja commented on #12236
@spottedmahn After looking at the article again, there are even more services in the list than when we first made this format. I believe the right hand side of H2s would just be too long to change this. It is not ideal, I know. Thanks for the suggestion, but I don't see a better way to do this right now. Also, sorry for the delay in getting a final decision back to you!

#please-close

[2018-09-10 18:17] MarileeTurscak-MSFT commented on #14751
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-10 18:17] ajamess commented on #14750
I responded, #please-close this issue.

[2018-09-10 18:27] makcedward commented on #14693
@femila
I cannot find any Azure doc talking about installing different python kernel.

[2018-09-10 18:28] jeevansd commented on #14753
@msilinda This is something which we are working on. But we should come out with it by early next year. Can you please add this item on User voice https://feedback.azure.com/forums/169401-azure-active-directory and then other people also can vote it as needed.

[2018-09-10 18:28] femila commented on #14693
@femsulu I was tagged by mistake?

[2018-09-10 18:28] jeevansd commented on #14753
#please-close

[2018-09-10 18:30] YutongTie-MSFT commented on #14732
@ymouse91 Hi, thanks for your feedback.
plt.show() displays the figure (and enters the mainloop of whatever gui backend you're using).
![image](https://user-images.githubusercontent.com/38084098/45316725-b6fb3c80-b4ec-11e8-935e-960c74a07125.png)

plt.imshow() draws an image on the current figure (creating a figure is there isn't a current figure).
![image](https://user-images.githubusercontent.com

[2018-09-10 18:30] #14753 closed

[2018-09-10 18:33] mikebudzynski commented on #12606
Yes, with the api version 2018-06-01-preview

[2018-09-10 18:35] BryanTrach-MSFT commented on #14703
@FabioMariano72 By default, ATM hits the root of your site. Does your site have some type of authentication? If so, the health probe check will fail. You will need to add a basic page to your web app that is outside the web app's authentication. You will then need to update the ATM profile 'path' under the configuration blade to ping the new unauthenticated site's page.

Second item to check... If

[2018-09-10 18:36] Adam-Smith-MSFT commented on #14716
@YvonneArnoldus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 18:37] Adam-Smith-MSFT commented on #14723
@nickbrown1968 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 18:37] Mike-Ubezzi-MSFT commented on #14506
@dcbrown16 Please find the following REST API documentation for SQL API: [Azure Cosmos DB: REST API Reference](https://docs.microsoft.com/en-us/rest/api/cosmos-db/). The MongoDB API for Cosmos DB does not have the same REST API functionality as SQL API.

**MongoDB API specific docs:**
[Introduction to Azure Cosmos DB: MongoDB API](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-introducti

[2018-09-10 18:37] MarileeTurscak-MSFT commented on #14735
I tested and the link works fine for me. You just need to make sure you have the proper permissions and are added in the AAD.

[2018-09-10 18:38] Adam-Smith-MSFT commented on #14725
@BernieWhite Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 18:40] Karishma-Tiwari-MSFT commented on #14720
@Prashanthlkv Thanks for bringing this to our attention. We will close this issue as it is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/14718
We will address this issue in #14718

[2018-09-10 18:40] #14720 closed

[2018-09-10 18:41] fhryo-msft commented on #13145
@Sambsamb i believe this issue has been addressed. The GetPageRanges() exception is being addressed in other thread. Hence to close this thread.

[2018-09-10 18:45] Karishma-Tiwari-MSFT commented on #14717
@agrebenyuk Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-10 18:45] fhryo-msft commented on #13145
Fixes #13145

[2018-09-10 18:45] Karishma-Tiwari-MSFT commented on #14730
@luisaxeko Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-10 18:49] Karishma-Tiwari-MSFT commented on #14748
@LisandroSu Thanks for your question. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-10 18:53] Karishma-Tiwari-MSFT commented on #14758
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181d5562-f8d7-9c59-85ea-09efbe397f3e
* Version Independent ID: dbedd952-a050-286e-c951-4529ec8e87b8
* Content: [Azure IoT Edge C# tutorial](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module)
* Content Source: [articles/iot-edge/tutorial-csharp-module.md

[2018-09-10 18:53] jeevansd commented on #14735
@parth115 Please follow the escalation process for your access issue and then we can help you.
Thanks.

[2018-09-10 18:53] fhryo-msft commented on #13145
#please-close

[2018-09-10 18:56] jeevansd commented on #14735
@MarileeTurscak-MSFT Vendors and customer should request access and if they are getting errors then please let them follow the escalation process mentioned in the doc.

[2018-09-10 18:57] Karishma-Tiwari-MSFT commented on #14758
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 19:09] smflorentino opened #14760 "How do user-initiated VMSS operations behave on a silver or gold cluster?"
If I try to reboot or reimage all VMSS VMs at once from the Azure Portal, does the operation happen UD by UD or all at once (which would kill the cluster)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 658de695-0927-175f-0419-dcf7b6bece9d
* Version Independent ID: 8166322c-774b-9434-3df5-5501b7dd9cf1
* Content: [Plann

[2018-09-10 19:25] aljo-microsoft opened #14761 "Retrieve PEM file & add password back using Az CLI"
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-manage-with-cli2#adding-a-key-secret-or-certificate-to-the-key-vault

Nor

https://blogs.technet.microsoft.com/kv/2016/09/26/get-started-with-azure-key-vault-certificates/

Provides how to retrieve a certificate created by az cli back from keyvault.

#Process to create one:
defaultPolicy = az keyvault certificate get-default-policy

## Bro

[2018-09-10 19:27] Karishma-Tiwari-MSFT commented on #14759
@cjmather Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 19:28] Karishma-Tiwari-MSFT commented on #14719
@gauravagarwal28 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-10 19:29] Karishma-Tiwari-MSFT commented on #14739
@eifinger Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-10 19:32] Karishma-Tiwari-MSFT commented on #14744
@chrislangston Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-10 19:48] upoppe opened #14762 "Filters against partition keys"
This article gives a good insight into querying documents in partitioned containers. I'd like to learn more about how filters behave that query against partition keys, but don't work with '='. Examples:
SELECT * FROM c WHERE c.city IN ("Seattle", "Atlanta")
SELECT * FROM c WHERE STARTSWITH(c.city, "S")
SELECT * FROM c WHERE c.city &gt; "Atlanta" AND city &lt; "Seattle"

---
#### Document Details

[2018-09-10 20:00] aljo-microsoft commented on #14761
+1

## Download Process for entire file, and NOT just public portion:

az keyvault secret download --file <mySecretCert.pem> --encoding base64 --name <Cert Name> --vault-name <Vault Name>

which can be converted to proper format using openssl:
openssl pkcs12 -in <mySecretCert.pem> -out <mycert.pem> -nodes

[2018-09-10 20:15] tsahi commented on #14261
yes, I think I stopped getting this when I changed the syntax to the recommendation. I'll have to check again when I'm back in office on Wednesday.

[2018-09-10 20:16] BryanTrach-MSFT commented on #14737
@windson Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 20:16] msilinda commented on #14753
Thank you for the fast reply and estimate. I had already added it to Feedback, but for others seeing it here is where you can vote https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35180650-install-and-configure-azure-marketplace-enterprise

[2018-09-10 20:16] zadixon opened #14763 "4.7.2 web installer link pointing to random other locations"
I was trying to download 4.7.2 using the included link (http://go.microsoft.com/fwlink/?LinkId=863262). Instead, I was linked to other pages seemingly at random. The other pages included:
https://creativecommons.org/licenses/
https://marsv2bootstrap.azureedge.net/marsv2/marsbootstrap.js
A download of Microsoft_Office_16.16.18081201_Installer.pkg
A download of VSCode-darwin-stable.zip

Eventually,

[2018-09-10 20:26] MicahMcKittrick-MSFT commented on #14760
Thanks for the question! We are investigating and will update you shortly.

[2018-09-10 20:27] MicahMcKittrick-MSFT commented on #14763
Thanks for the feedback! We are investigating and will update you shortly.

[2018-09-10 20:35] BryanTrach-MSFT commented on #14743
@cowinr I am not aware of any Java samples internally or externally that we can share with you. As a result, I have assigned this to the doc author to see if this is something they would consider developing and adding to the doc.

[2018-09-10 20:47] BryanTrach-MSFT commented on #14737
@windson Assuming that you have properly added a binding for the site and not just uploaded your cert to your site, it's likely that you may need to take action in your code in order to use the secure protocols.

To ensure that your site is properly configured, can you please [follow these steps to create a dummy site](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posti

[2018-09-10 20:51] TravisCragg-MSFT commented on #14696
@cubikca This is by design. If you would like your Web App to be able to use DNS servers in a different VNET, you can use an [App Service Environment.](https://docs.microsoft.com/en-us/azure/app-service/environment/intro). If you would like us to change this functionality, please [leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

[2018-09-10 20:54] MarileeTurscak-MSFT commented on #14735
Thanks, @jeavans

[2018-09-10 20:55] MarileeTurscak-MSFT commented on #14735
Thanks, @jeevansd . @parth115 , please send an email to SaaSApplicationIntegrations@service.microsoft.com  about your issue and they will gladly help.

[2018-09-10 20:55] agrebenyuk commented on #14717
Hi @Karishma-Tiwari-MSFT  ,
I've been following these two:
https://docs.microsoft.com/en-us/rest/api/resources/resources/validatemoveresources
and
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources

[2018-09-10 20:55] MarileeTurscak-MSFT commented on #14735
Closing for now as this is outside of the scope of the doc comments.

[2018-09-10 20:55] #14735 closed

[2018-09-10 20:56] marknettle opened #14764 "Azure Analysis Services, Power BI"
It would be useful to include information on how to connect services such as Azure Analysis Services and Power BI to a SQL managed instance. I believe this is by installing an "on-premise" data gateway - probably on a virtual machine in the same VNet as the managed instance, rather than actually on-premise. https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-gateway

---
###

[2018-09-10 20:56] Mike-Ubezzi-MSFT commented on #14520
@ChiefWiggum Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate but, I did want to clarify if the additional detail is to be added to the [SDK Usage Recommendations](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips#sdk-usage) page (2. Use a singleton Azure Cosmos DB client for the lifetime of your application) or to the t

[2018-09-10 20:56] Shreelekha19 commented on #14609
Hi @MohitGargMSFT .
We worked on policy setting you recommended :
{"Version":1,"MaxInactiveTime":"00:15:00","MaxAgeSessionSingleFactor":"00:30:00","MaxA
 geSessionMultiFactor":"00:30:00"}}')

It did NOT signed me out after 30 mins. I was able to access application for 1 HOUR and after an hour it signed me out even though I was actively working.

Per our understanding , as there was no time limit s

[2018-09-10 21:01] vasivara-MSFT commented on #14728
after @, it needs your storage account name. Your Spark.read.text() function is missing your storage account name after @. Please enter your storage account name and try again

[2018-09-10 21:03] MicahMcKittrick-MSFT commented on #14733
@Sethu2488 we are attempting to have this feature ready for GA at the end of October. This timeline could change as if it is not a definitive date. But that is what the product team is aiming for. Once it does, all documentation will be updated to reflect that.

I will close for now but if you have more questions just let me know.

[2018-09-10 21:03] #14733 closed

[2018-09-10 21:04] Karishma-Tiwari-MSFT commented on #14602
@epnasis I will let you know as soon as I have the update from the product team.

[2018-09-10 21:05] MicahMcKittrick-MSFT commented on #14665
@akoval-jsp we are working with the product team on this issue offline.

@sauryadas will respond further on this as soon as he can.

[2018-09-10 21:06] Mike-Ubezzi-MSFT commented on #14704
@tim-yan Azure SQL Database is a term that covers three possible deployment options. The document( [What is the Azure SQL Database service](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-technical-overview)) is describing the three deployment options:
- Single Database
- Elastic Pools
- Managed Instance

The document ([What is a Managed Instance (preview)?](https://docs.microsoft

[2018-09-10 21:06] tolandmike commented on #7651
#please-close

[2018-09-10 21:11] MicahMcKittrick-MSFT commented on #14760
@smflorentino if you reboot the entire scale set or re-image all at once it will occur to all the instances in the scale set. To avoid that, you can re-image or reboot a single instance of the scale set at a time.

I will close this out for now. If you have additional questions let me know. You can also ping me offline as you are an FTE.

[2018-09-10 21:11] #14760 closed

[2018-09-10 21:11] TravisCragg-MSFT commented on #14405
@Vincent0818 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-10 21:11] #14405 closed

[2018-09-10 21:12] TravisCragg-MSFT commented on #14357
@jnprakash We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-10 21:12] #14357 closed

[2018-09-10 21:12] TravisCragg-MSFT commented on #14509
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-10 21:12] #14509 closed

[2018-09-10 21:13] YutongTie-MSFT commented on #11456
@deguhath Hi, I want to check if there any update for this issue? Thanks a lot!

[2018-09-10 21:15] YutongTie-MSFT commented on #11095
@nstulasi Hi, I want to check if there any update for this issue? Thanks a lot!

[2018-09-10 21:16] YutongTie-MSFT commented on #11141
@PanosPeriorellis Hi, I want to check if there any update for this issue? Thanks a lot!

[2018-09-10 21:17] YutongTie-MSFT commented on #11501
@areddish Hi, I want to check if there any update for this issue? Thanks a lot!

[2018-09-10 21:17] YutongTie-MSFT commented on #11301
@noellelacharite Hi, I want to check if there any update for this issue? Thanks a lot!

[2018-09-10 21:19] YutongTie-MSFT commented on #11540
@tsahi Please refer to https://github.com/Microsoft/BotBuilder-CognitiveServices/issues/129 for more details of this issue.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-10 21:19] #11540 closed

[2018-09-10 21:35] CarlRabeler commented on #7698
See Configure a point-to-site connection to connect to an Azure SQL Database Managed Instance from on-premises computer https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-p2s

[2018-09-10 21:36] CarlRabeler commented on #7698
#please-close

[2018-09-10 21:37] bellowman opened #14765 "Cannot get Azure Data Factory Analytics to Show the Views"
Hello, I did the steps outlined in the video and in this article, but I cannot get Azure Data Factory Analytics to work.

- In Monitor, I turn on diagnostics for a data factory and send its log analytics to a new workspace (tried on the default workspace as well)
- I install Azure Data Factory Analytics from Azure Marketplace and set the workspace to the newly created workspace with standard prici

[2018-09-10 21:40] CarlRabeler commented on #8085
#please-close in light of no communication from customer since requested on 5/4

[2018-09-10 21:40] Karishma-Tiwari-MSFT commented on #14761
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95afe5ad-9c89-a239-b786-24d953de93de
* Version Independent ID: 72ce0b3f-c45d-9032-0cfa-5b0b45a8f06c
* Content: [Manage Azure Key Vault using CLI](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-manage-with-cli2#adding-a-key-secret-or-certificate-to-the-key-vault)

[2018-09-10 21:44] Karishma-Tiwari-MSFT commented on #14761
@aljo-microsoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 21:46] Mike-Ubezzi-MSFT commented on #14642
@laoki Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 21:46] YutongTie-MSFT commented on #12667
@LuisCabrer Hi, I want to check if there any update for this issue? Thanks a lot!

[2018-09-10 21:46] marknettle opened #14766 "Multiple Subscriptions"
Whilst it is possible to connect multiple AS Servers to the one gateway, they must all be in the same subscription as the gateway resource. Documentation should mention this

It would be even better if I could either create multiple gateway resources for the same on-prem gateway, or connect to a gateway resource in another subscription, but that's a product issue, not documentation.

---
#### Docu

[2018-09-10 21:47] KumudD commented on #14342
#in-progress

[2018-09-10 21:47] YutongTie-MSFT commented on #12203
@kwanlowe Hi, this issue has been fixed. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-10 21:47] #12203 closed

[2018-09-10 21:48] Karishma-Tiwari-MSFT commented on #14752
@jgallucci32 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-10 21:51] Karishma-Tiwari-MSFT commented on #14747
@SamirFarhat Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 21:52] Karishma-Tiwari-MSFT commented on #14757
@andreminelli Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 21:56] Karishma-Tiwari-MSFT commented on #14756
@droidkfx Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-10 21:58] Mike-Ubezzi-MSFT commented on #14650
@tstone84 There are two (PaaS) options. One is the PowerBI option and the other is [Azure Analysis Services](https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-overview).

Please let me know if you have additional questions. Regards, ~Mike

[2018-09-10 22:00] MicahMcKittrick-MSFT commented on #14698
@badalk when you are following these docs are you using the Azure Cloud shell or a local version of CLI?

[2018-09-10 22:00] sergaz-msft commented on #14423
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-10 22:00] #14423 closed

[2018-09-10 22:01] sergaz-msft commented on #14453
@waqasahmedch let us know if you have further questions or this issue can now be closed? Thank you!

[2018-09-10 22:01] sergaz-msft commented on #14528
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-10 22:01] #14528 closed

[2018-09-10 22:02] Karishma-Tiwari-MSFT commented on #14697
@g0pinath Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-10 22:02] sergaz-msft commented on #14535
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-10 22:02] #14535 closed

[2018-09-10 22:03] Karishma-Tiwari-MSFT commented on #14316
@rocifier Any update on this?

[2018-09-10 22:04] sergaz-msft commented on #14599
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-10 22:07] marcelo-salvatori commented on #13958
Hi, Yang.

This is pretty much a linux thing.

In Azure the OS disk is "sda", while "sdb" is the temporary disk reserved for Azure (like the D:\ drive in windows server).

"sdc" is the only available option, because it is the only option left. But explaining you a little bit about the name of this disk:
- sd stands for SCSI
- c is the order of the disk ( a is first disk, b second and so on)
- sdc

[2018-09-10 22:07] Karishma-Tiwari-MSFT commented on #14717
@agrebenyuk Thanks for sharing the docs. We are currently investigating and will update you shortly.

[2018-09-10 22:12] markgalioto commented on #5959
@achal1012 , Thank you for your feedback. Try looking at the information in this GitHub Issue: https://github.com/Azure/azure-powershell/issues/5759, and see if you're able to fix your problem. If you aren't, you should open a new GitHub Issue, as this issue is closed and not as easy to track.