[2020-10-30 00:11] ChaitanyaNaykodi-MSFT commented on #64960
Hello @rhendrie, function app requires [VNet inegration](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#regional-vnet-integration) in order to access Private Endpoints. Additionally you can also go through this documentation here regarding [how to connect to private endpoints using function app](https://techcommunity.microsoft.com/t5/apps-on-azure/connect-to-priva

[2020-10-30 00:11] #64960 closed

[2020-10-30 00:13] ChaitanyaNaykodi-MSFT commented on #65239
Hello @AkioNuernberger,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-30 00:20] SatishBoddu-MSFT commented on #65258
@johngallardo Thanks for your feedback.
I have assigned the issue to the content author for further review.

[2020-10-30 00:29] ChaitanyaNaykodi-MSFT commented on #65240
Hello @majkelllo, Thank you for your feedback! We will review and update as appropriate.

[2020-10-30 00:31] ChaitanyaNaykodi-MSFT commented on #65251
Hello @calloncampbell, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-30 00:34] SatishBoddu-MSFT commented on #65265
Hello @xiafu-msft Thanks for posting the feedback over here!

Could you please attach more error logs if you are using version **2017-04-17**.
Or is this a general question on checking if this version works?

So that we understand the issue better.

[2020-10-30 00:46] genlin commented on #59812
v-sashig Thanks for the suggestion, I will contact you offline for the issue.

#please-close

[2020-10-30 00:46] #59812 closed

[2020-10-30 00:47] billspat opened #65266 "App WebService page on webhooks needs an overview"
While the doc is clear on this page how to turn on CI/CD and get a web hook url, there is no link to an overview page of how it actually is used with ACR.  The ACR page https://docs.microsoft.com/en-us/azure/container-registry/container-registry-webhook also discusses how to turn them on, but there is no overview page about how these actually work together.   What does the webhook do?   I'm using

[2020-10-30 02:05] RonnieQuan opened #65270 "Calrify Configure Redis Cache in VNET vs Private Endpoint Redis Cache"
Hi,

Can you please help me to understand these two product features?
When Redis cache is secured with vnet, the client connects to the cache instance privately.
Then if I connect to private endpoint redis cache, the client also connect to the cache instance privately, but the cache instance does not run in our private vnet, it runs in Azure fabric instead?

So we would just need one of these two

[2020-10-30 02:11] #65126 closed

[2020-10-30 02:11] BharathNimmala-MSFT commented on #65249
@AzureAndre  Thank you for sharing your feedback, I have assigned this issue to our document author @rayne-wiselman to further review and update at the earliest.

[2020-10-30 02:18] BharathNimmala-MSFT commented on #64782
@bablushaikh Apologies for delay in responding back to you. Sorry to hear that you are still facing the issue.

[Azure docs repo](https://github.com/MicrosoftDocs/azure-docs/issues) is focused to improve the documentation and the issue you are facing doesn't correlate to the document listed in this thread, that's the reason closed it.

Thank you for circling back and happy to continue the conversa

[2020-10-30 02:38] juyamagu opened #65271 "Some MSEE devices don't show their ARP entry"
Although it's expected that MSEEs always show their ARP entry (i.e. Mac Address and IP address on MSEE side) in the documentation, however, some MSEE devices don't, even if they are configured correctly and L2 connectivity between PEs have been established.

This behavior may confuse customers and it should be included in the documentation.

---
#### Document Details

⚠ *Do not edit this section.

[2020-10-30 03:02] AnuragSharma-MSFT commented on #65270
@RonnieQuan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-30 03:12] ecfan commented on #48311
Update to be published tomorrow.

@DixitArora-MSFT: #please-close

[2020-10-30 03:12] #48311 closed

[2020-10-30 03:23] CHEEKATLAPRADEEP-MSFT commented on #65256
@jbloombi  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-10-30 03:23] ecfan commented on #65144
#assign @ecfan

[2020-10-30 03:25] PRMerger12 commented on #65144
ecfan is already assigned.

[2020-10-30 03:32] twright-msft commented on #63736
@femsulu - It is here.  /cc: @MikeRayMSFT

[2020-10-30 03:46] TravisCragg-MSFT commented on #64940
@SQLtattoo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-30 03:46] #64940 closed

[2020-10-30 03:48] gsxmax opened #65272 "Nodepool limit could exceed 100 nodes"
Per test, nodepool could exceed 100 nodes limit by scaling from the VMSS nodepool level directly. And AKS could recognize these nodes properly, I could see one nodepool count reached 200 . Could you please confirm what should be the maximum size of a nodepool and cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-10-30 04:04] paulbouwer commented on #64991
@Subhraj07 - can you share your AKS version and attach the `istio.aks.yaml` file that you used?

[GitHub - File attachments on issues and pull requests](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests)

/cc @MonikaReddy-MSFT

[2020-10-30 04:09] lyrana commented on #64915
@xiaoyang-connyun it's been such a pleasure to assist you, and yes there is an opportunity to improve the docs to address this question. I don't have a timeline right now for when this particular doc update will go out--it's in our backlog though. I will keep this GitHub issue open and link it to the backlog item.

Currently no, there is no custom routing filter feature for what goes into warm sto

[2020-10-30 04:48] SnehaAgrawal-MSFT commented on #65237
@adamfoneil Glad to know the issue resolved! Let us know if you further question on this

[2020-10-30 04:50] VikasPullagura-MSFT commented on #65250
@patrick-stephens
Thanks for the feedback! We are currently checking and will update the document as appropriate.

[2020-10-30 04:51] SnehaAgrawal-MSFT commented on #65266
@billspat Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-30 04:53] JAK1047 opened #65274 "Additional Prompt with WVD MFA"
Although it's not mentioned in the document when the session is timed out via conditional access we're finding users have to authenticate again on the WVD Client as expected, but also also have to accept the device management option every time as well.

![Eg_lb1eWsAMuSFT](https://user-images.githubusercontent.com/29665481/97661090-d0073480-1a49-11eb-9766-8acdbdf81d7d.png)

Is this expected behavio

[2020-10-30 04:54] VikasPullagura-MSFT commented on #65264
@clarenceb
Thanks for the feedback! We will update the document.

[2020-10-30 05:05] YutongTie-MSFT commented on #48240
@imshreya
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-30 05:05] #48240 closed

[2020-10-30 05:16] CHEEKATLAPRADEEP-MSFT commented on #64825
@chinwobble  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-30 05:16] #64825 closed

[2020-10-30 05:17] AhmedAlZabidi commented on #48438
If I re-run all the failed activities in a loop activity and succeeded execution,
why still I have failed in the loop activity?
All inner activities are succeeded the loop activity should be succeeded also.

[2020-10-30 05:26] HarithaMaddi-MSFT commented on #65241
@NonlinearMusings - Thanks for your valuable inputs. We are looking into it and get back to you with details soon.

[2020-10-30 05:36] trs80 opened #65275 "Is SSPR available for Azure AD Free? Conflicting documentation"
This page says SSPR isn't available for Azure AD Free cloud users, but https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr says it is " In the Free tier, SSPR only works for cloud users in Azure AD." and other people say from personal experience it's worked for them. Which is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-10-30 05:40] MayankBargali-MSFT commented on #64963
@khairulizwar7 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-30 05:40] #64963 closed

[2020-10-30 05:41] shashishailaj commented on #65275
@trs80 Thank you for your query . We will investigate and update the thread.

[2020-10-30 05:45] KrishnaG-MSFT commented on #65247
@mapoitras Thanks for the comment
Assigning content owner @yashesvi for visibility, review and document enhancement consideration.

[2020-10-30 05:48] Svijay-msft commented on #64976
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-10-30 05:48] Svijay-msft commented on #64948
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-10-30 06:02] #64976 closed

[2020-10-30 06:02] #64948 closed

[2020-10-30 06:03] vishranti5 opened #65276 "Access denied due to missing subscription key while same api in one of chrome tab it is working fine but in another chrome tab it is not. APIM Azure"
My api is working fine with subscription key and returns response but when same api i hit in another tab ( same api in two chrome tab) it throws 401 error saying access denied and missing subscripton key while in one of tab it is working fine but in another tab it is not.
any idea?

[2020-10-30 06:05] Adebeer commented on #47982
Please add the below to the documentation when using docker image. This wasn't obvious to me as all the port mappings seem to imply that all apis are by default enabled. Also, enabling MongoDB API is undocumented - even in https://hub.docker.com/r/microsoft/azure-cosmosdb-emulator/

When creating docker image, to enable support for other API endpoints, you need to include these parameters (not sur

[2020-10-30 06:20] psmanhas commented on #65272
@gsxmax Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-10-30 06:22] doctorRush commented on #65218
Values provided for authorization endpoint and token endpoint.
Kindly Check the Post URL
POST <tenant-name>.onmicrosoft.com/<policy-name>/oauth2/v2.0/token HTTP/1.1
Host: <tenant-name>.b2clogin.com
Content-Type: application/x-www-form-urlencoded

grant_type=authorization_code
&client_id=<application-ID>
&scope=https://<tenant-name>.onmicrosoft.com/api/read
&code=eyJraWQiOiJjcGltY29yZV8wOTI1MjAxNSI

[2020-10-30 06:28] harikalyank commented on #45303
I tried with Fsv_2 series still its support Mellanox X-3.Could you please help is there any series really supports X-4 or latest

[2020-10-30 06:43] longbct commented on #63930
@snangaj the link is still wrong and back to the same page.
Could you please let us know the correct url for "Tutorial: Integrate with an iOS app using Swift".

https://github.com/Azure/azure-notificationhubs-ios

[2020-10-30 07:00] nikhilno1 commented on #45303
In my experience, X-3 or X-4 gets assigned randomly which can change during VM restart.
If you add multiple interfaces, you may get X-4.

[2020-10-30 07:13] juyamagu opened #65277 "P2S VPN and S2S VPN support not only CloudServices/VMs but also Virtual networks"
Now the documentation describes the supported Azure services on P2S/S2S VPN is Cloud Services and Azure VMs.

![image](https://user-images.githubusercontent.com/52237425/97670784-52373d80-1aca-11eb-9fe9-b8a243844d34.png)

However, users can access from on-prem to either Private Endpoint or Application Gateway via VPN Gateway. This may put the wrong interpretation on the user's mind.

---
#### Docu

[2020-10-30 07:14] #65276 closed

[2020-10-30 07:18] SubhashVasarapu-MSFT commented on #65277
@juyamagu, Thanks for reaching out. We will investigate and update this thread.

[2020-10-30 07:22] ChaitanyaNaykodi-MSFT commented on #65158
Since we have not heard back from you we will now proceed to close this thread. It will be very helpful if you could submit the feedback on the respective document. You can find the feedback link at the bottom of the page as shown below. Thank you!
<img src="https://user-images.githubusercontent.com/67453298/97671292-2e7de400-1a45-11eb-954a-1fd731890a1d.png" width="480">

[2020-10-30 07:22] #65158 closed

[2020-10-30 07:25] VikasPullagura-MSFT commented on #65274
@JAK1047
Thanks for your Question! We are currently investigating and will get back on this.

[2020-10-30 07:26] VikasPullagura-MSFT commented on #65271
@juyamagu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-10-30 07:26] VikasPullagura-MSFT commented on #65271
@duongau
Can you please check and add your comments on this doc update request as applicable.

[2020-10-30 07:33] Lahiru89 opened #65278 "Is the retain IP address example correct?"
In the example, when they enable replication shouldn't it be replicated to **Recovery Network**? Because Recovery Network is the VNet which mirrors their on-prem network.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a69c921d-0f42-7b6c-88ef-e82ff2e2453b
* Version Independent ID: 9f8b73b2-fa6a-cb9c-d22e-67ec625ce3d7
*

[2020-10-30 07:52] vipulsparsh commented on #65201
@jwm2409 Azure AD B2B allows the social accounts to redeem the invitation and create a Microsoft account using that social Identity. Translation : You can use that gmail account of yours to create a Microsoft account and then use B2B.

Gmail emails Identity can be used to create Microsoft accounts. The redemption link should help you create a Microsoft account as well for the gmail account you pro

[2020-10-30 08:13] boachim opened #65279 "AADSTS7000114 is missing"
AADSTS7000114: Application {appid} is not  allowed to make application on-behalf-of calls.
This error code is missing from this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a826ee6f-f457-7109-9f77-67c57977d4e7
* Version Independent ID: 11766f27-492e-a579-dced-8a42528cbb47
* Content: [Azure AD authentication & a

[2020-10-30 08:14] amanmcse commented on #65194
@Raymoncorrea I just checked the status of AzureADSSO by running Get-AzureADSSOStatus cmdlet and found it enabled by default. My current setup is "Federation with ADFS" and "Enable Single Sign on" checkbox is not selected.

![image](https://user-images.githubusercontent.com/33834131/97675057-9ae3fc00-1ab4-11eb-989f-6c98be99b971.png)

[2020-10-30 08:20] RubenDelange commented on #65143
@RyanHill-MSFT - you've got mail ;-)

[2020-10-30 08:23] priyankark opened #65280 "Service Fabric installation link may be broken"
When hitting the link [Install the Microsoft Azure Service Fabric SDK and Tools](https://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-VS2015) and opening the installer, this is what I get:

![image](https://user-images.githubusercontent.com/18360329/97676735-121a8f80-1ab7-11eb-9fd0-bffa52c7a38c.png)

My apologies if I have missed somethi

[2020-10-30 08:30] JesvinJoseph commented on #65061
Thank you @xitia for analyzing the query and confirming the multiple input registration. So is the traces throttle warning because of the 3 input registration? Is there some way to eleminate the warning by changing the query structure? If not, and if everything as expected, then we can close this ticket.

Thank you very much for your support 👍

[2020-10-30 08:31] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - Using table parameters, the upsert operation is feasible without using any staging tables and do not have any performance challenges. Attached is the JSON of the working pipeline for the same, please let us know for more queries on the same.
[copyactivityJSON.txt](https://github.com/MicrosoftDocs/azure-docs/files/5463861/copyactivityJSON.txt)

[2020-10-30 08:35] HarithaMaddi-MSFT commented on #65241
@NonlinearMusings - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/135997

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-10-30 08:36] majkelllo commented on #65240
Hey guys,

It seems that it was not a bug with AD B2C but it is some kind of a bug with Chrome ( and Angular ).

Why do I think this way ?
1) It didn't happen on Edge
2) I changed the code that navigates to your page to be executed with slight timeout and then it worked
i.e. This is not working:
![image](https://user-images.githubusercontent.com/25318041/97677861-382e3880-1a93-11eb-88d8-941b5ad0f8

[2020-10-30 08:40] VikasPullagura-MSFT commented on #65280
@priyankark Thanks for brining this up. I am also getting the same error. I will check with the product team and get back.

[2020-10-30 08:40] VikasPullagura-MSFT commented on #65280
@peterpogorski Can you please add your comments on this error.

[2020-10-30 08:47] bablushaikh commented on #64782
I can't give you the subscription details and can you redirect this ticket to product team or any concerned team?

[2020-10-30 09:03] jfellien opened #65284 "Outdated Doumentation"
Bullet 7 under "Configure Azure ADB2C" is outdated. It describes the legacy way. In the new portal the _key_ tab is replaces with _Certificates & secrets_ under _Manage_ in _App registrations_. It confuses me always when I try to follow doumentations and find that kind of mingle in descriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-10-30 09:14] AMBarodzich opened #65285 "Login Confluence via Azure ID Page not found"
Hello,

After choosing the Login with Azure AD (Confluence) button I get the below page not found but, if I then cut/paste the exact same link I clicked on to start this whole process the page comes up fine (third screenshot).

![Screenshot_123](https://user-images.githubusercontent.com/18680115/97682309-26579000-1aa9-11eb-8e68-6691210151ec.png)
![Screenshot_124](https://user-images.githubusercont

[2020-10-30 09:15] harikalyank commented on #45303
after adding multiple interfaces I have got X-4M.
Thank you !!

[2020-10-30 09:22] levalencia opened #65286 "Screenshots outdated"
There is no way to get the connection strings from the Quickstart blade anymore, it shows to download sample app, but no connection strings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05af42e7-9d86-b794-e133-efbd46665b9c
* Version Independent ID: 0af5eead-7620-ea77-efad-c9ec595fae4f
* Content: [Connect a MongoDB app

[2020-10-30 09:46] AjayKumar-MSFT commented on #65276
@vishranti5, Thanks for leveraging Azure docs feedback channel to raise this question. I notice that you have closed this thread, so I presume the issue is resolved.  Kindly let us know if it's not the case (and you need more assistance on this topic), and also do share the Azure doc for which this feedback is applicable to.

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feed

[2020-10-30 09:49] AjayKumar-MSFT commented on #65261
Darrell,  Thanks for leveraging Azure docs feedback channel to raise this question and follow-up with an update. Much appreciated.

[2020-10-30 09:50] #65210 closed

[2020-10-30 09:52] haymansfield commented on #55851
Hi, yes thanks for the response, I managed to make this to work using the process I laid out.

[2020-10-30 09:55] AnuragSharma-MSFT commented on #65286
@levalencia Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-30 10:22] adamfoneil commented on #65237
Issue's not resolved, I just came up with workaround. I have some ideas that I'm testing however.

[2020-10-30 10:35] adamfoneil commented on #65237
Okay, yeah I figured out what I was doing wrong. I had a custom config setup delegate in my Program Main where I failed to call `AddEnvironmentVariables()` as the last step. I had modularized my config across a couple .json files (in order to keep sensitive connection string out of repo history). I've had this practice for a while, and I like it, but if you don't call `AddEnvironmentVariables()` t

[2020-10-30 10:35] #65237 closed

[2020-10-30 10:39] Chingleberry opened #65287 "Confirming MPN ID Association"
Good Morning!

I wondered if you could advise where in the Azure portal we (as the partner) or the customer can confirm PAL association is in place?
Cheers,
Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Independent ID: 9c067eb4-54cb-e141-d82f-e136ff3c671e
* Content:

[2020-10-30 10:44] AnuragSharma-MSFT commented on #65079
@gdalsnes Please let us know if above details helps.

[2020-10-30 11:00] gunjob commented on #27942
I still get "Add-RdsAccount: One or more errors occurred. (An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.)" When using Powershell 7.0.3, if I use Powershell 5.1 all is well.

[2020-10-30 11:13] vipulsparsh commented on #65279
@boachim Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@rwike77  Can you look into this ?

[2020-10-30 11:19] TestUser0811 commented on #64982
@WinstonHoward-MSFT,
The above configureation you have mentioned has to be done on

[2020-10-30 11:19] #64982 closed

[2020-10-30 11:21] AnuragSharma-MSFT commented on #65176
@chirangaalwis Enforcing to use the SSL does not necessarily need to provide the certificate. There are multiple modes to use SSL. If we select 'Require and Verify CA' then it become mandatory to provide the certificate. However, if we select other options then we might not need to provide the certificate.

Also as per the [article](https://docs.microsoft.com/en-us/azure/mysql/concepts-ssl-connect

[2020-10-30 11:27] VikasPullagura-MSFT commented on #65250
@patrick-stephens The table is showing up properly for me. Can you please share a screenshot and also try in a different browser if that helps.

[2020-10-30 11:32] SubhashVasarapu-MSFT commented on #64986
@kikawash, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-30 11:32] #64986 closed

[2020-10-30 11:35] patrick-stephens commented on #65250
You are correct, it is indeed showing ok now. It definitely was not yesterday on the same browser but possibly an interrupted download issue or something, although the text after it was fine. It looked like the raw markdown text for a table rather than rendered.

[2020-10-30 11:35] #65250 closed

[2020-10-30 11:42] AnuragSharma-MSFT commented on #65286
@levalencia I created a Azure Cosmos MongoDB API in West US region and was able to see the connection string as mentioned in the article.
![image](https://user-images.githubusercontent.com/66360845/97701152-f624e700-1ad2-11eb-80b1-c4ec7e3a9b70.png)

Could you please tell us the region name you are facing this issue in, and also screenshot if possible?

[2020-10-30 11:52] levalencia commented on #65286
Hello

West-Europe
![image](https://user-images.githubusercontent.com/6962857/97702155-cf54b980-1aae-11eb-9cb8-6e7860c4c7ee.png)

[2020-10-30 11:56] femsulu commented on #63736
thanks @twright-msft
@MikeRayMSFT  - can you share the new link so i can generate a PR or has a PR been raised for this change?

[2020-10-30 12:11] nigaur opened #65289 "SharePoint"
Please add the scenario if the web app is a SharePoint 2019 on-premise app (which does not support Open ID Connect token)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1333d705-7d3a-2d99-f37b-0ef96edad9b0
* Version Independent ID: c299b8e4-9e28-309e-0b75-d925aa9f4fee
* Content: [Application types for Microsoft identit

[2020-10-30 12:31] #65064 closed

[2020-10-30 12:31] JayaChatterjee-MSFT commented on #65064
@KaiWalter Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-30 12:38] chi3f100 opened #65290 "The screenshots don't seem to be accurate"
Hi Team,

The screenshots for 17a, step c and 17b, step c aren't accurate.  The screenshots should show the following:
**17a, step c** - the UUID mapping in the screenshot should be user.mail
**17b, step c** - the emailaddress claim should be mapped to user.userprincipalname

Thanks,
Derrick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-10-30 12:40] MonikaReddy-MSFT commented on #65285
@AMBarodzich -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-30 12:52] larryclaman opened #65291 "ASEv2 Zone deployment -- clarification?"
Two clarification questions about this page:
1. If you do *not* do the steps on this page (eg you deploy an ASE with an ILB through the portal), is the ASE deployed across multiple zones?  If not, what redundancy does it have?  Are the scale units deployed instead across multiple availability sets / fault domains / update domains?

2. Where the document says " If you pin your ILB ASE to a specific

[2020-10-30 12:58] DeanGross opened #65292 "Please simplify/consolidate the guidance"
[Enter feedback here]

The page is called a "Four step checklist" and at the bottom of the page there is a link to a 5 step checklist". Can these be consolidated? I keep finding different checklists which provide very similar items. It would be great if there was a consolidate listing/catalog of the checklists
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-10-30 13:06] chirangaalwis commented on #65176
@AnuragSharma-MSFT thanks for the above information. But I didn't encounter any options which allows users to enforce 'Require and Verify CA' on the server side in the Azure Portal. I only came across the option to enforce SSL. But as we have discussed, this does not always require us to provide the certificate.

How can we achieve the above? Do we have a guide which provides the necessary instruc

[2020-10-30 13:31] GiftA-MSFT commented on #65135
@aahill specifying 'api_version=TextAnalyticsApiVersion.V3_0' results in the following error "NameError: name 'TextAnalyticsApiVersion' is not defined". Can you please review and update doc accordingly? Thanks.

[2020-10-30 13:32] Subhraj07 commented on #64991
Hi @paulbouwer

my aks version is: 1.17.13

istio.aks.yaml:
apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  namespace: istio-system
  name: istio-control-plane
spec:
  # Use the default profile as the base
  # More details at: https://istio.io/docs/setup/additional-setup/config-profiles/
  profile: default
  # Enable the addons that we will want to use
  addonComponents:

[2020-10-30 13:34] KrishnaG-MSFT commented on #65278
@Lahiru89 Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-30 14:05] nielsophey opened #65294 "Add the Information that the Licencies must be assigned to the user as well..."
It would clarify the statement with the licenses if we would add the sentence that all user which perform one of the actions in the list need also to have a license assign and not only the sentence there must be enough licenses in the directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61f24489-ccff-4636-2c46-af7

[2020-10-30 14:12] tomgeene opened #65295 "Wrong url for token service in sample code"
In the sample call code for acquiring a MR token the address for the GET request should be:

https://sts.region.mixedreality.azure.com/Accounts/...

instead of:

https://sts.mixedreality.azure.com/Accounts/...

Took me a long time to figure that one out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d43bc57-798b-d3a4

[2020-10-30 14:13] devlinse commented on #65206
thank you

[2020-10-30 14:17] taromielnaz commented on #65180
I mean the document says scale related resources. But there is no clear guide to help user understand what are the related resources? why do we need to scale them as well? Is it necessary to do that?

Eli

[2020-10-30 14:28] xiaoyang-connyun commented on #64915
@lyrana So currently we have around 30 gateways, where each gateway sends data points from couple of hundreds to a thousand. Some of them are overlapping some are not. I think it is like that because it is still at the early stage, and the customer tries to get as much as data from the machine. The data scientist probably together with the domain expert will analyze the data to understand what dat

[2020-10-30 14:31] GitaraniSharma-MSFT commented on #65216
@frankthing , As mentioned [here](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https#option-1-default-use-a-certificate-managed-by-front-door), when you use a certificate managed by Azure Front Door, the HTTPS feature can be turned on with just a few clicks. Azure Front Door completely handles certificate management tasks such as procurement and renewal. After you enab

[2020-10-30 14:36] curib commented on #65270
Hi @RonnieQuan, thanks for reaching out! Correct, you only need to use one or the other because they accomplish the same thing. You can't configure both at the same time for one cache instance. This document goes over the advantages and limitations of the two: https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-network-isolation

[2020-10-30 15:06] Aurel-Bruno opened #65296 "VM Generation support"
Hello I see on this page : https://docs.microsoft.com/en-us/azure/confidential-computing/virtual-machine-solutions

To provide Intel Software Guard Extension (Intel SGX) support on confidential compute instances, all deployments need to be run on Generation 2 images. Azure confidential computing supports workloads running on Ubuntu 18.04 Gen 2, Ubuntu 16.04 Gen 2, Windows Server 2019 gen2, and Win

[2020-10-30 15:08] baanders commented on #65258
Thank you @johngallardo for the additional detail!

I've added the information you provided to the article in PR [#136025](https://github.com/MicrosoftDocs/azure-docs-pr/pull/136025).

Since the info to add seems fairly clear based on your description, I'll have Git automatically close this issue when the resolution PR is merged. However, please feel free to review and reach back out with addition

[2020-10-30 15:11] #65258 closed

[2020-10-30 15:15] frankthing commented on #65216
Hi and thanks! What I mean is that, if there is an scenario where for example there are signs of compromised keys, and the ssl certificate needs to be replaced and the old one invalidated.  When we use self maanged certificates, we have routines on how to perform this, but in a case where we use frontdoor-managed certificates and we do not manage them on our own, how would this look like?
Just tri

[2020-10-30 15:16] shashishailaj commented on #65008
@MicrosoftGuyJFlo Could you please help review this one ?

[2020-10-30 15:18] khaosdoctor commented on #51728
Updated and corrected, thanks @timdeluxe for the issue :)

I think this can be closed @Karishma-Tiwari-MSFT

[2020-10-30 15:24] Chai-NED opened #65297 "VLAN ID for primary and secondary links"
Could you clarify this statement?

"A valid VLAN ID to establish this peering on. Ensure that no other peering in the circuit uses the same VLAN ID. **Both Primary and Secondary links you must use the same VLAN ID**."

There is only one box to specify the VLAN ID in the portal. Why is the statement necessary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-10-30 15:27] shashishailaj commented on #65007
@kenwith Could you please help on this one ?

[2020-10-30 15:34] JamesTran-MSFT commented on #65294
@nielsophey
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-30 15:35] JamesTran-MSFT commented on #65290
@chi3f100
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-30 15:42] #65039 closed

[2020-10-30 15:45] emuench commented on #65124
This topic now includes a Get Support section that describes how to submit a ticket for help with these issues. #please-close

[2020-10-30 15:45] #65124 closed

[2020-10-30 15:46] bmitchell287 commented on #65002
@dgpoulet - Thanks you for raising the issue here.

@MikeDodaro - Mike would you please investigate and follow-up internally with the assigned sample owner?

[2020-10-30 15:48] vhorne commented on #65161
@Candelit, Thanks. all the app gateway articles got updated except this script file.

-OsDiskCreateOption FromImage parameter added to the script.

#please-close

[2020-10-30 15:48] #65161 closed

[2020-10-30 15:50] Candelit commented on #65161
Thanks a lot!

[2020-10-30 15:53] mcpfe opened #65299 "Translate text Azure Gov URL"
According to the documentation on this page to get a translator url - *.cognitiveservices.azure.us should replace the commercial URL but then it points to "See Translator documentation"  Which has NOTHING about the URL to get the translate service.  I was able to figure out that "api.cognitive.microsofttranslator.com/translate?api-version=3.0&to=<langcode>" from the commercial cloud would end up b

[2020-10-30 15:54] MarileeTurscak-MSFT commented on #65289
@nigaur
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-30 15:56] HarshitaSingh-MSFT commented on #65002
Assigning this issue to Mike Dodaro to further investigate this issue with the PG.

[2020-10-30 15:57] msmimart commented on #63710
@johnthompson365 thanks so much for pointing this out - you're right, it's not clear that the script is included in the Connectors download. I've added a clarification that should publish shortly.

[2020-10-30 16:03] sethmanheim commented on #63930
@longbct Sorry for the delay, not sure what happened here @SnehaAgrawal-MSFT. I have submitted a new PR to fix the link -- it now points to the next tutorial. We don't have a current Swift tutorial but are considering developing one.

[2020-10-30 16:07] JamesTran-MSFT commented on #65215
@sorenek
For Step 1, are you able to provide any screenshots of what you're seeing, along with any error messages?
Have you also followed the [Abandoning the ADSync service account encryption key](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-serviceacct-pass#abandoning-the-adsync-service-account-encryption-key) portion of this doc?

If you have any othe

[2020-10-30 16:13] MarileeTurscak-MSFT commented on #65292
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-30 16:14] jyama4ta opened #65300 "adVM is not clearly"
In 'Get the Storage Account access key' section, it is noted to select a VM under adVM. However, the 'adVM' does not come out until then. So I'm confused what is meaning...
Also, when we create a host pool with 'Pooled' as Host pool type, these VMs don't have public IPs. So we cannot connect the VM under hostpool without bastion hosts.

Could you please consider to explain more details about the s

[2020-10-30 16:15] JamesTran-MSFT commented on #65238
@PaulTzl
Thank you for your patience.

Reading through the docs, it looks like the description of each account is provided and they're used to access your on-prem AD forest during directory sync.

![image](https://user-images.githubusercontent.com/36619112/97729417-f485ff80-1a8f-11eb-9e98-a2ce9463cecd.png)

I hope this helps, if you have any other questions please let me know.
Thank you for your t

[2020-10-30 16:27] JamesTran-MSFT commented on #65254
@logansoft-net
Walking through the documentation, the "Add assignments" button should be at the top of the page.
![image](https://user-images.githubusercontent.com/36619112/97731221-1aac9f00-1a92-11eb-8045-0837dcc8f70d.png)

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-30 16:29] stevevi commented on #65299
Scroll up to see the column title above See Translator API docs.  It says Azure Public.  This is why this link has nothing to do with Azure Gov.

The Azure Gov Translator API endpoint (*.cognitiveservices.azure.us) was provided by the product team.  Based on your comments, it appears you are recommending that Translator API endpoint for Azure Gov be replaced with:

api.cognitive.microsofttranslato

[2020-10-30 16:44] danroth27 commented on #65129
@anthonychu This is an unfortunate side effect of having routes.json in the *wwwroot* folder. I think the location of *routes.json* should be reconsidered. Why is it not just another config file at the root of the app?

[2020-10-30 16:56] artisticcheese opened #65301 "Need ARM templates documented as well"
Currently all areas around working with Azure Migrate centers around UI based setup. There is no documentation to create project via ARM templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c08a6ab-bff4-aacd-a39f-ad86485ab535
* Version Independent ID: 2af1f15e-ce33-c843-8f02-32bf0c8e261c
* Content: [Create and ma

[2020-10-30 16:59] martincoetzer commented on #65292
The 5 steps security doc and 4 step foundation doc have difference purposes. The one is for securing your environment and the other one is for establishing the an identity infrastructure. There are overlap but the outcomes are different. #please-close

[2020-10-30 16:59] #65292 closed

[2020-10-30 17:06] J0F3 opened #65302 "Update the guide to use current Az module (instead of AzureRM)"
This page should urgently updated to Az PowerShell Module. The AzureRM module is quite long time ago replaced by the Az Module.
Furthermore is ADAL actually also outdated and MSAL should be used by now:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet#update-to-msalnet-now

And last but not least the second script works only with Windows PowerShell (5) and not with the current c

[2020-10-30 18:00] shashishailaj commented on #65056
@MINDoSOFT you are correct . We are getting the supportability for the same checked. there are situations when some attributes are present but modifying them is not supported. We are trying to get this verified from the product group . and will update the same once we have more details.

[2020-10-30 18:06] SadiqhAhmed-MSFT commented on #65278
@Lahiru89 Refer to Bharath Sivaraman's response here - https://social.msdn.microsoft.com/Forums/en-US/85e57dd8-ee04-48d6-b54a-4e0d52fd3fb0/set-protected-vms-static-ip-address-using-powershell?forum=hypervrecovmgr

Hope that answers your question!

[2020-10-30 18:11] PaulTzl commented on #65238
Thanks for your response. But as you say, the accounts are for accessing on-prem AD DS. So why is the doc saying Azure AD DS? Azure AD DS is the cloud version of AD DS https://docs.microsoft.com/en-us/azure/active-directory-domain-services/overview

[2020-10-30 18:12] JayaChatterjee-MSFT commented on #64918
@MatsAnd Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-30 18:12] #64918 closed

[2020-10-30 18:18] shashishailaj commented on #64362
@matthewjlevy We have requested the information related to this from the PG and will update once we get an update from their side.

[2020-10-30 18:20] shashishailaj commented on #64415
@ermacia91 Thank you for sharing the detailed document . We have taken this up internally and an internal work item is being created to address this issue. We will be going ahead with a complete rewrite of the document after verification. We will now close this issue and the document rewrite will be handled internally.

[2020-10-30 18:26] btardif commented on #64661
This is fixed by #135966

[2020-10-30 18:26] monpinoliad opened #65305 "Step 4 configuration"
It seems that NetSuite hasn't fully migrated into account-specific domain for SAML SSO Step 4. It should be changed to https://system.netsuite.com/saml2/acs and remove the Instances. Also, we can directly pertain that they can able to see their AssertionConsumerService by checking their NetSuite Service Provider metadata https://system.na0.netsuite.com/saml2/sp.xml

[Enter feedback here]

---
####

[2020-10-30 18:26] btardif commented on #64661
@AjayKumar-MSFT this is fixed and issue can be closed

[2020-10-30 18:27] psmanhas commented on #64985
@davo123456
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-30 18:27] #64985 closed

[2020-10-30 18:36] JamesTran-MSFT commented on #65305
@monpinoliad
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-30 18:36] #64415 closed

[2020-10-30 18:37] angelicafaber opened #65307 "Retention"
How long are the results of an access review available for?

According to https://github.com/MicrosoftDocs/azure-docs/issues/54720 looks like they are currently available indefinitely, however that may not be the case in the future. We are planning to begin using this in production, so we need to know if that changes. Will all current users of access reviews be notified when the retention changes?

[2020-10-30 18:39] shashishailaj commented on #65218
@doctorRush In this case the representation of the API calls is done in the way described below.
![image](https://user-images.githubusercontent.com/532022/97734517-487bfd00-1aff-11eb-8654-3d6de780a81c.png)

However if you check the HTTP debug trace using any other tool as well, you should see that the token endpoint for the entire POST call becomes .  **https://[tenant-name].b2clogin.com/[tenant-n

[2020-10-30 18:39] #65218 closed

[2020-10-30 19:02] kkern13 commented on #64369
I am no longer the owner of this document as I am no longer on the team. Please, forward these requests from now on to Nick Kramer (nicholak).

[2020-10-30 19:03] kkern13 commented on #65147
I am no longer the owner of this document as I am no longer on the team. Please, forward these requests from now on to Nick Kramer (nicholak).

[2020-10-30 19:05] Tig10 commented on #53425
Had same issue, while following the [tutorial](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps) locally on Windows:

Error:
`Environment variable IotHubConnectionString must be specified.`

Referred to [Run locally](https://github.com/Azure-Samples/web-apps-node-iot-hub-data-visualization#run-locally) instructions but there is no launch.json in repo. I cr

[2020-10-30 19:17] Lahiru89 commented on #65278
I'm asking about below example specifically.

https://docs.microsoft.com/en-us/azure/site-recovery/concepts-on-premises-to-azure-networking#failover-example

In above example, when enabling replication Woodgrove Bank should replicate to **Recovery Network** instead of **Azure Network**. Because, Recovery Network has the same IP range as on-prem (192.168.1.0/24) and they need to retain same IP as o

[2020-10-30 19:26] c0g1t8 commented on #65129
@anthonychu @danroth27

Actually, I like this idea a lot. There is already a provision for this - https://docs.microsoft.com/en-us/azure/static-web-apps/github-actions-workflow#route-file-location.  I didn't notice this before.  Defaulting to the location specified by the _app_location_ property would solve this problem.

So in the interim, changing the GitHub action instead of changing _service-w

[2020-10-30 19:29] joeljanke opened #65308 "Page Says Feature Is Preview...Has Been Announced On Yammer as GA"
This page still refers to this as a Preview feature.  On Yammer it was announced as being in GA (https://www.yammer.com/azureadvisors/#/threads/show?threadId=924551419158528).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597c9b5f-f41f-400c-f4da-8bc8159d366a
* Version Independent ID: 5b993db0-eb4c-11ce-83a2-3c577be2ee

[2020-10-30 19:35] JamesTran-MSFT commented on #65145
Thank you for your patience!
I made a pull request to add this one. https://github.com/MicrosoftDocs/azure-docs-pr/pull/136083

CC @kkern to review and approve

[2020-10-30 19:35] #65145 closed

[2020-10-30 19:40] JamesTran-MSFT commented on #65147
Thank you for your patience!
I made a pull request to add this one. https://github.com/MicrosoftDocs/azure-docs-pr/pull/136085

[2020-10-30 19:40] #65147 closed

[2020-10-30 19:43] swapnild2111 commented on #63455
Sorry for late reply.
Terraform import looks case sensitive.
So for example, if I use word `publicipprefixes` instead of `publicIPPrefixes` in terraform import ... it imports resource with most of the missing information - which is of course of no use.

[2020-10-30 19:46] mingshen-ms commented on #64877
@keithcharlie, thank you for your feedback.  The current document Integrate your Microsoft commercial marketplace offer with Azure Active Directory was created as a summary for AAD integration requirement across offer types.  However, you're correct that only SaaS offer requires AAD integration currently, it would make sense to remove this article and re-state it when additional offer types introd

[2020-10-30 19:47] mingshen-ms commented on #64877
#please-close

[2020-10-30 19:47] #64877 closed

[2020-10-30 20:02] JayaChatterjee-MSFT commented on #65284
@jfellien Thank you for your feedback! We will review and update as appropriate.

[2020-10-30 20:25] xitia commented on #65061
@JesvinJoseph thanks, nope, the warning is not due to multiple inputs registration. We made some changes to how we trigger certain warnings. please ignore those verbose message, unless you see any error/critical messages showing up, or as I mentioned previously, any abnormal value showing up in the metrics. please feel free to open customer ticket/git issue if you have any other question. thanks!

[2020-10-30 20:39] DerekHerman-MSFT commented on #65308
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-30 21:02] BharathNimmala-MSFT commented on #64943
@BMichaelJ Thanks again for bringing this to our notice, currently we do see that the [documentation ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/action-groups-create-resource-manager-template) does call out below information to describe the 2 templates .

`First, we describe how to create a Resource Manager template for an action group where the action definitions are hard-code

[2020-10-30 21:03] #64943 closed

[2020-10-30 21:14] rwike77 commented on #65279
@boachim, thanks for mentioning this.  I just updated the article, changes should publish soon.  #please-close

[2020-10-30 21:14] #65279 closed

[2020-10-30 21:16] RyanHill-MSFT commented on #65143
@RubenDelange there's a step missing which I've added in an upcoming PR. Update your Package.appxmanifest with the Application Identity from the WNS portal.

[2020-10-30 21:17] weinong opened #65316 "[AKS] Azure RBAC doesn't work with AAD tenant different from Azure Subscription's tenant"
Regarding this page
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/manage-azure-rbac.md

Since Azure RBAC doesn't work with AAD tenant different from Azure Subscription's tenant, we should clearly document this limitation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42afd8de-b697-100c-98c7-ae8e6

[2020-10-30 21:18] weinong commented on #65316
related to https://github.com/Azure/AKS/issues/1895

[2020-10-30 21:19] maburlik commented on #65280
We no longer ship the VS2015 tools. Thank you for pointing out this documentation error. The link should be removed.

[2020-10-30 21:21] himanshusinha-msft commented on #65159
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-10-30 21:26] seanbecker15 opened #65317 "withAITracking parameters out of date"
It looks like this version of `withAITracking` is out of date - there is a mismatch in parameters between this and https://github.com/Azure-Samples/application-insights-react-demo/tree/master/src (which looks like the latest version)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dff1e826-0fac-07ef-7dc4-af24f045f349
*

[2020-10-30 21:27] lyrana commented on #64915
@xiaoyang-connyun I see, thanks for this info.

[2020-10-30 21:44] roygara commented on #65308
Thanks for reaching out, we've gone ahead and made updates to both soft delete articles. They'll be live later today.

Accordingly, I'll close this out:

#please-close

[2020-10-30 21:44] #65308 closed

[2020-10-30 21:45] ChaitanyaNaykodi-MSFT commented on #65287
Hello @Chingleberry, Thank you for your feedback! We will review and update as appropriate.

[2020-10-30 21:52] #65143 closed

[2020-10-30 21:55] RyanHill-MSFT commented on #65291
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-30 22:02] tiny-dancer commented on #60553
For those looking for nix friendly quick win:

[code]

[2020-10-30 22:04] JamesTran-MSFT commented on #65307
@angelicafaber
Thank you for the question!

The solution was provided 5 months ago, so the information should still be current that there is no set duration and the data is available indefinitely. However, I've assigned this issue to ajburnle, the author who provided the answer to 54720, to investigate and update as soon as possible.

If you have any other questions, please let us know.
Thank you

[2020-10-30 22:13] alexweininger opened #65318 "Tutorial steps are incorrect in 'Publish a Jekyll site to Azure Static Web Apps' page"
![image](https://user-images.githubusercontent.com/12476526/97760931-bb26b180-1ada-11eb-9cf7-64b5aeb0dae6.png)

If this step is followed exactly, then the resulting YAML file is invalid. Since the text should be inserted after the entire YAML block.

[code]

The YAML should look like this:
[code]

But users end up with this (invalid):

[code]

---
#### Document Details

⚠ *Do not edit this section

[2020-10-30 22:21] bytemech opened #65319 "How is this page auto generated?"
Hello!

I've been wondering, how is it possible to autogenerate this page when it doesn't seem possible to retrieve a list of _potentially available metrics by resource type_ but only retrieve _available metrics on deployed resources_ via the Azure Metrics REST API?

Cheers,
BG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-30 22:23] KarlErickson commented on #37494
Topic has been updated. #please-close

[2020-10-30 22:23] #37494 closed

[2020-10-30 22:27] JesvinJoseph commented on #65061
@xitia Thank you very much for the support and the clarifications. Closing this ticket. 👍

[2020-10-30 22:27] #65061 closed

[2020-10-30 22:40] MonikaReddy-MSFT commented on #65285
@AMBarodzich -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-30 22:41] viroopax opened #65320 "does MATILLION ETL and data loader work with Azure Databricks ?"
Request for clarity :- does MATILLION ETL and data loader work with Azure Databricks , I don’t see them listed on your partners site for Ingestion Network ? Please help respond to this important customer question on the use of Databricks Spark ML and Delta lake with matillion just like you do with InfoWorks and SyncSort.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-10-30 22:54] TomArcherMsft commented on #53320
@KrishnaG-MSFT If this is not a doc bug - it doesn't appear to be - can we get it moved to an appropriate repo and #please-close it here. Thanks.

[2020-10-30 22:54] #53320 closed

[2020-10-30 23:03] MarileeTurscak-MSFT commented on #65316
@weinong
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-30 23:07] WinstonHoward-MSFT commented on #65136
Hi @kieronlanning ,

Thanks for your patience. The example you have provided above would allow you to pull certificate information from the /Certificates/Certificate section, is it not loading the data?

[2020-10-30 23:07] brianlehr commented on #63455
Why is Terraform import set to be case-sensitive, I guess is my question.

[2020-10-30 23:15] chitturs opened #65322 "Note down the GetCurrentDirectory() behavior for Refresh Applications debug mode"
This cost me some time debugging since the local VS 2019 app behavior is different from the same app deployed on the cluster.

The root cause is discussed below:

===

While debugging the application with ‘Refresh Application’ debug mode, the application will be deployed to local cluster with symbolic link to services’ source location, hence the GetCurrentDirector() points you to the source locati

[2020-10-30 23:33] JamesTran-MSFT commented on #65238
@PaulTzl
Thank you for the quick response!
I reached out to my team regarding this issue and it looks like this might've been a typo and should be just AD DS and not Azure AD DS.

I'll assign this issue to the author to confirm and update the documentation as needed.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-30 23:47] BharathNimmala-MSFT commented on #65301
@artisticcheese Thanks a lot for sharing your feedback , assigning this issue to our document author @rayne-wiselman to further evaluate the feedback and see if we need to have a backlog item to create the documentation.

[2020-10-31 00:08] NavtejSaini-MSFT commented on #65302
@J0F3 We are checking this and will get back to you.

[2020-10-31 00:14] rolyon commented on #64742
Hi @artsheiko
Thanks for the screenshots. I've made this change to the doc. It should appear on Monday.
Let me know if you have any additional feedback.
thanks

[2020-10-31 00:14] rolyon commented on #64742
#please-close

[2020-10-31 00:14] #64742 closed

[2020-10-31 00:26] Karishma-Tiwari-MSFT commented on #65300
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-31 00:53] Karishma-Tiwari-MSFT commented on #65296
@ju-shim The document says

But later in the doc, it is mentioned that

[2020-10-31 00:53] anthonychu commented on #65129
Hello @c0g1t8 🙂

Yep that's the way to do it right now. We are considering automatically searching for the config file and copying it to the publish artifacts.

[2020-10-31 00:59] BharathNimmala-MSFT commented on #65227
@InformTechPro Thanks again for bringing this to our notice. I have raised a PR to update the document based on the feedback it will be merged to the live document in next 24-48hrs.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be hap

[2020-10-31 00:59] #65227 closed

[2020-10-31 01:06] BharathNimmala-MSFT commented on #65317
@seanbecker15 Thanks a lot for bringing this to our notice , we will review it and update the document accordingly.

[2020-10-31 01:07] BharathNimmala-MSFT commented on #65319
@bytemech Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-31 01:12] Karishma-Tiwari-MSFT commented on #64930
Can you please share the error you are seeing when running the command?
Also, which CLI version are you using? Please try with the latest version (2.3.0 or later) and let me know.

There is a known issue that could be related to this:
https://github.com/Azure/AKS/issues/1819
https://github.com/Azure/azure-cli/issues/12594

[2020-10-31 01:13] afield1235 opened #65325 "Error with enabling Provisioning: Disabled by Administrator"
Hello,
When I am going to enable provisioning, I am prompted to sign into Box.com, I sign in as the Box Administrator but I get an error Message: Disabled by Administrator.

I recall a few years ago, we needed to disable a specific setting in Box: **Disable unpublished apps by default.**

The problem is this blanket allows any unpublished app to be used. If this setting is still required to be dis

[2020-10-31 01:14] Karishma-Tiwari-MSFT commented on #64728
Aplologize for the delay on this. I am working with the internal teams to help resolve your issue. I will close this issue and will answer/track both in https://github.com/MicrosoftDocs/azure-docs/issues/64695 since they are related.

[2020-10-31 01:14] #64728 closed

[2020-10-31 01:17] BharathNimmala-MSFT commented on #65033
@jslamartina I did hear back from our team and it has been called out that its an issue on how its spelled in the config and they have a work item to fix it. We really appreciate you taking time and bringing this to our notice.

However for the time being if you want to use please continue to use on how its called out in the documentation currently.
The work item above is to fix the spelling and t

[2020-10-31 01:17] #65033 closed

[2020-10-31 01:22] chez-charlie commented on #65256
Updated doc. pending merging and deployment; #please-close

[2020-10-31 01:22] #65256 closed

[2020-10-31 01:26] BharathNimmala-MSFT commented on #64782
@bablushaikh Thank you for circling back, if you have the support plan , request you to please create a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) and the concerned team will look into it.

If you don't have a support plan, given the current scenario we can help provide you a one time support if we get your subscription details so that you can work with our support

[2020-10-31 01:29] chez-charlie commented on #65256
#resolve

[2020-10-31 02:09] milesyuhas commented on #64013
[test comment]

[2020-10-31 02:11] ChaitanyaNaykodi-MSFT commented on #65295
Hello @tomgeene, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-31 02:13] ChaitanyaNaykodi-MSFT commented on #65297
Hello @Chai-NED,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 02:18] ChaitanyaNaykodi-MSFT commented on #65318
Hello @alexweininger, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-31 02:28] srusru commented on #33157
@oising  as you mentioned"  You can open the keyvault to all networks, bind the SSL Cert with a managed identity to your listeners and then firewall the keyvault (or lock it to a vnet.) Appgw will continue to work with the cached ssl cert."

Does az cli support this feature? can we create http listener in App gateway with ssl cert (pulling it from key vault certs) using az cli? If so can you pleas

[2020-10-31 03:19] paulbouwer commented on #64991
@Subhraj07 - I was able to successfully install Istio 1.7.3 onto a 1.17.13 AKS cluster using your `istio.aks.yaml` file and version `1.18.1` of kubectl.

Please can you provide the following:
- script that shows how you created your AKS cluster
- version of your kubectl
- output of `kubectl api-versions | grep install.istio.io`
- output of `kubectl get crd istiooperators.install.istio.io`
- output

[2020-10-31 03:20] palma21 commented on #65316
Limitation is there now
#please-close

[2020-10-31 03:20] #65316 closed

[2020-10-31 03:20] drdamour opened #65326 "mention ef core support"
Anyone who is doing LINQ to Cosmos probably wants to know that there is an option to use EF Core as well, think it should be mentioned with a link over to https://docs.microsoft.com/en-us/ef/core/providers/cosmos/?tabs=dotnet-core-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af26f57-f473-916a-bd4d-0918ef9eefcd
*

[2020-10-31 03:27] RonnieQuan opened #65327 "Question About Zone Redundancy, Zonal Gateway SKU"
1) What are the difference between these three skus? so each one ties to a zone?
ErGw1AZ
ErGw2AZ
ErGw3AZ

2) When create zone redundancy gateway, the gateway is deployed across multiple zones, which SKU we should use?
ErGw1AZ or ErGw2AZ or ErGw3Az?

3) When create zonal gateway, does it mean ErGw1AZ sku goes to AZ1, ErGw2AZ sku toes to AZ2, ErGw3AZ goes to AZ3?

4) Does zone redundancy gateway req

[2020-10-31 04:34] brandonmartinez commented on #65039
@SnehaAgrawal-MSFT thank you for making the change!

Question: is the way you updated the content the standard way to call out preview features? If so, I'd be more than happy to make a PR in the future if I come across this again.

Thanks again!

[2020-10-31 04:52] heaths opened #65328 "CMK encryption not available with Cognitive Search free SKU"
No where in this article is it mentioned that CMK encryption is not available for the free Search SKU. It does a good job at listing out other requirements like cert, key, and secret required permissions. Mentioning that this is only available on basic? and above would be helpful.

I found this out by trying it against a free SKU and the server responded with an error that CMK is not available wit

[2020-10-31 07:41] JayaChatterjee-MSFT commented on #65325
@afield1235 Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 07:53] JayaChatterjee-MSFT commented on #65322
@chitturs Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 07:54] JayaChatterjee-MSFT commented on #65320
@viroopax  Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 07:56] JayaChatterjee-MSFT commented on #65326
@drdamour Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 08:01] JayaChatterjee-MSFT commented on #65327
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 08:02] JayaChatterjee-MSFT commented on #65328
@heaths  Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 08:32] ningweinw opened #65330 "Multiple routes for the same message"
Hi, can a message be matched with multiple routes and hence be routed to multiple endpoints? Or, will a message only be sent to the endpoint for the matched route with the highest priority? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad3731a8-f0df-f1a1-d1a1-e89a769a0908
* Version Independent ID: 50a5190e-eafa

[2020-10-31 08:40] AnuragSharma-MSFT commented on #65079
@gdalsnes We will now proceed to close this thread because of lack of response. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-31 08:40] #65079 closed

[2020-10-31 08:45] AnuragSharma-MSFT commented on #65286
@levalencia Thanks for providing the information.

The article which is mentioned in issue is very specific to **_Azure Cosmos DB MongoDB API_**. If we create the account of it, we would be able to see the connection string in Quick Start blade as mentioned in the document.

The account that you are creating is **_Azure Cosmos DB SQL API_**, which is little different in terms of Quick Start blade.

[2020-10-31 09:45] ShadowXVII opened #65332 "It's the DNS record creation that isn't supported via Portal, not the Front Door configuration"
This sentence (on the Front Door article) suggests that it's Front Door that has the limitation of having to use Azure PowerShell. When in-fact adding *.domain.com works fine via the Portal.

Adding the wildcard record *.domain.com via **Azure DNS** is in-fact the part that doesn't work via the Azure Portal.

The warning should be more clear to explain which component it is that isn't supported.

[2020-10-31 09:54] savjani commented on #65176
@chirangaalwis - Let me attempt to clarify. First to enable SSL, SSL needs to be enabled on MySQL server side. You would enable it on server side from Azure portal which is the option you are referring to. A certificate viz (https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem) (soon to be changed to https://cacerts.digicert.com/DigiCertGlobalRootG2.crt.pem) is used on the server side

[2020-10-31 09:58] gdalsnes commented on #65079
No, you completely misunderstand my point.

[2020-10-31 10:01] gdalsnes commented on #65079
For lexical order to work (range search) all times must have same format and length. As my example show, the times are shorter if they have seconds resolution.

[2020-10-31 10:04] gdalsnes commented on #65079
So at least with cosmosdb sdk v2 and newtonsoft default datetime format, this does not always produce the recomendee fixed lenght format yyyy-MM-ddTHH:mm:ss.fffffffZ

[2020-10-31 10:44] gdalsnes commented on #65079
It is probably related to this https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1468
This seems to be for v3 SDK and System.Text.Json, so the problem is both in SDK v2 and v3 and with both Newtonsoft json and System.Text.Json, so clearly this should have been fixed inside CosmosDB itself (uniform and fixed length datetime format).

Having documentation telling this is a piece of cake and wil

[2020-10-31 12:30] kieronlanning commented on #65136
@WinstonHoward-MSFT No, it fails saying that it's an invalid XPath.

[2020-10-31 13:14] SubhashVasarapu-MSFT commented on #65332
@ShadowXVII, Thanks for reaching out. We will investigate and update this thread.

[2020-10-31 13:22] levalencia commented on #65286
thank you for the clarification

[2020-10-31 13:22] #65286 closed

[2020-10-31 13:29] SubhashVasarapu-MSFT commented on #65297
@Chai-NED, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-31 13:29] #65297 closed

[2020-10-31 14:03] giatule opened #65334 "Enable the AGIC add-on Issue <error: endpoints "default-http-backend" not found>"
[Enter feedback here]
I follow the instruction without error, but it not work. There not any automation update from AKS to Application gateway.
I tried to describe the ingress that the error status **<error: endpoints "default-http-backend" not found>**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-84

[2020-10-31 14:41] JayaChatterjee-MSFT commented on #65330
@ningweinw Thank you for the question. We will review and get back to you.

[2020-10-31 14:43] JayaChatterjee-MSFT commented on #65334
@giatule Thank you for the question. We will review and get back to you.

[2020-10-31 14:47] yetanothermark opened #65335 "Missing word towards the end of the sentence"
Add the word **steps** at the end of this sentence:
To use SSH keys from a Linux or macOS client, see the quick.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys to connect to Linux VMs - Azure Vir

[2020-10-31 15:02] BhargaviAnnadevara-MSFT commented on #65335
@yetanothermark Thanks for bringing this to our attention! We shall update the docs appropriately.

[2020-10-31 15:31] #65335 closed

[2020-10-31 15:32] BhargaviAnnadevara-MSFT commented on #65335
@yetanothermark Thanks again for catching that error in the docs. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-10-31 16:06] andy-andykingit opened #65337 "Versions no longer required"
I believe the versions are no longer a requirement so this part of the doc is no longer valid?

https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references#reference-syntax

_Versions are currently required. When rotating secrets, you will need to update the version in your application configuration. For example, a complete reference would look like the following:_

---
###

[2020-10-31 16:48] Ayanmullick opened #65338 "PowerShell steps to create free App Service Managed Certificate"
Is there documentation on how one could create a free App Service Managed Certificate thru PowerShell? The steps aren't included in the script on the page.

https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#powershell

@PramodValavala-MSFT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee8

[2020-10-31 17:26] dkvaravo opened #65339 "Model object naming issue in the first Python cell"
[Enter feedback here]

[code]
The model is initialized as `reg_model` but later `fit` is called on an object `reg`, presumably this should be `reg_model`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8ff963-c433-280f-e4ea-19082ae9017d
* Version Independent ID: 8c4e82f2-40e5-6481-c80b-d6201ad312b2
* Content: [Conver

[2020-10-31 17:38] ChaitanyaNaykodi-MSFT commented on #65337
Hello @andy-andykingit,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 17:44] ChaitanyaNaykodi-MSFT commented on #65338
Hello @Ayanmullick, Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 17:46] ChaitanyaNaykodi-MSFT commented on #65339
Hello @dkvaravo, Thank you for your feedback! We will review and update as appropriate.

[2020-10-31 18:34] chirangaalwis commented on #65176
@savjani thanks a bunch for the clarification. I will try this out and get back, if required.

[2020-10-31 21:01] saimachi opened #65341 "Registering Azure Synapse SQL Pool in Datastore"
Hello,

I am currently trying to create an Azure Machine Learning datastore in the portal. However, when I chose **Azure SQL database** as my **Datastore type**, and I provided my Azure subscription, I am unable to choose my Azure Synapse SQL pool from the **Server name / database name** dropdown. My SQL pool is on and is present in the same resource group as my Machine Learning service. I tried t

[2020-10-31 21:19] kokaloki commented on #23045
This still issue still persists. I have a pay as you go account and this it wont allow me to create a cluster

[2020-10-31 22:52] abatishchev opened #65342 "PowerShell command to read secret from Key Vault only works in PS Core"
Namely this command

[code]
doesn't work in Windows PowerShell, only in PowerShell Core.

[The documentation](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.security/convertfrom-securestring?view=powershell-6#syntax) for `ConvertFrom-SecureString` doesn't list parameter `AsPlainText` either.

Searching for "Core" on the original page yields no results, means there are no m

[2020-11-01 00:31] ChaitanyaNaykodi-MSFT commented on #65341
Hello @saimachi, Thank you for your feedback! We will review and update as appropriate.

[2020-11-01 00:32] ChaitanyaNaykodi-MSFT commented on #65342
Hello @abatishchev, Thank you for your feedback! We will review and update as appropriate.

[2020-11-01 07:07] GermanEZI opened #65344 "Confused by use of Confidential Client Application"
I'm writing a Desktop application, and will be calling MS Graph.   From several pieces of documentation, the recommendation is that I use a "Public Client" to acquire an access token since a Desktop App cannot store a secret securely.

However, the example provided uses the Confidential Client.  Is this just an oversight?   Do you have samples using a Public Client that calls MS Graph?

---
#### D

[2020-11-01 07:12] CreativeAmbiguity opened #65345 "How can you set-up emergency access accounts when Security Defaults are enabled?"
It would be good to explain how can you create emergency access accounts when 365 Security Defaults are enabled on this pages, or if not possible then explain how to recover a Global Admin account when the MFA device is inaccessible.  It's important because Security Defaults are aimed at smaller businesses who may have a limited number, or perhaps only one, Global Admin.

Longer term it would be u

[2020-11-01 09:58] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - I will proceed with closing the issue now. Please feel free to post for further queries.

[2020-11-01 09:59] jmprieur commented on #65344
@GermanEZI : this is not an oversight. This example features a daemon application (that is an application that gets tokens on behalf of itself, not of a user). Therefore it's a confidential client application.

In your case the quickstart you want to use is https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-windows-desktop or https://docs.microsoft.com/en-us/azure/active

[2020-11-01 10:23] nivohavi opened #65347 "Failed to create CosmosDB via ARM template"
Hi,

Having issues deploying CosmosDB via arm template:

`"code": "BadRequest",
  "message": "Unable to parse request payload. \r\nActivityId: 563f6837-ec7b-4971-93ad-86e52e358499, Microsoft.Azure.Documents.Common/2.11.0"`

**Parameter file:**
[code]

**Template:**

[code]

[2020-11-01 12:18] fratschi opened #65348 "fatal: git-http-push failed"
This tutorial does not work.

The last step to push the PHP code
**git push azure master**

Produces this error

XML error: not well-formed (invalid token)
error: no DAV locking support on https://XXXX@XXXX-app.scm.azurewebsites.net/XXXX-app.git/
fatal: git-http-push failed
error: failed to push some refs to 'https://XXXX-deploy@XXXX-app.scm.azurewebsites.net/XXX-app.git'

Hint: on a non-linux mac

[2020-11-01 12:30] fratschi opened #65349 "Bug in linux version"
This creates a windows based app service
az appservice plan create --name myAppServicePlan --resource-group myResourceGroup --sku FREE

for linux is must be this

az appservice plan create --name myAppServicePlan --resource-group myResourceGroup --sku FREE --is-linux

But then, the step
git push azure master will fail!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-11-01 12:58] peternann commented on #63546
Did this get fixed @trevorbye?
I'm not sure what your process is but the page still uses the % in examples, without ever mentioning the % functionality.

[2020-11-01 13:18] JayaChatterjee-MSFT commented on #65345
@CreativeAmbiguity Thank you for your feedback! We will review and update as appropriate.

[2020-11-01 13:31] MarkPhillips00763 opened #65350 "Mr"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae3dbcad-9d0d-c32d-7b02-2a3ffe291b2e
* Version Independent ID: 4f716e15-73a2-71a0-53ba-801b6097c479
* Content: [Azure Active Directory passwordless sign-in (preview)](https://docs.microsoft.com/en-gb/azure/active-directory/authentication/concept-authe

[2020-11-01 13:32] MarkPhillips00763 opened #65351 "Mr"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-11-01 13:32] MarkPhillips00763 opened #65352 "Mr"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-11-01 14:09] BhargaviAnnadevara-MSFT commented on #65351
Duplicate of #65352

[2020-11-01 14:09] #65351 closed

[2020-11-01 14:10] BhargaviAnnadevara-MSFT commented on #65352
@MarkPhillips00763 Thanks for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-11-01 14:33] Anmolgan81 commented on #65204
Hi @HarithaMaddi-MSFT  we are trying that option on over side, I wanted to get your attention on this link https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-multiple-tables-portal#create-data-types-and-additional-stored-procedures-in-your-database

This says that if inserts are more then 100 items then we should follow the staging table approach in that case this docume

[2020-11-01 16:10] AMBarodzich commented on #65285
@MonikaReddy-MSFT Thanks for your answer.
For example, a page - https://confluence.wolterskluwer.io/display/GPTH/Ovid+CCM+Emulation
It's not for only one user/page.

[2020-11-01 16:38] ChaitanyaNaykodi-MSFT commented on #65347
Hello @nivohavi , Thank you for reaching out. Can you please provide a link to the document referred? So that I can redirect this issue to the specific team. Thank you!

[2020-11-01 16:39] ChaitanyaNaykodi-MSFT commented on #65348
Hello @Thank you for your feedback! We will review and update as appropriate.

[2020-11-01 16:42] ChaitanyaNaykodi-MSFT commented on #65349
Hello @fratschi, Thank you for your feedback! We will review and update as appropriate.

[2020-11-01 16:46] ChaitanyaNaykodi-MSFT commented on #65350
Hello @MarkPhillips00763, Thank you for reaching out! Can you please elaborate more on the issue faced?

[2020-11-01 17:21] mortyobnoxious commented on #56168
@MaximeRastello Hi, how is it being a racist?
https://twitter.com/emrahsamdan/status/1322613752525692931

[2020-11-01 19:14] jjadta opened #65354 "Endpoint reference"
As someone who is new to ADT, endpoints, routes, topics, and subscriptions, I found this line in this page confusing:

"Next, create an Azure Digital Twins endpoint pointing to your event grid topic. Use the command below, filling in the placeholder fields as necessary:"

The CLI reference for: az dt endpoint create eventgrid found here
https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/dt/e

[2020-11-01 21:08] Raymoncorrea commented on #65194
I have the same settings, the result of Get-AzureADSSOStatus shows it is not enabled.

PS C:\Program Files\Microsoft Azure Active Directory Connect> Get-AzureADSSOStatus | ConvertFrom-Json
Enable       : False
Exists       : True
Domains      : {xx.xx.xx.xx}
IsSuccessful : True
ErrorMessage :

[2020-11-02 00:25] mpchen opened #65355 "Register resource provider at management group scope?"
According to https://docs.microsoft.com/en-us/rest/api/resources/providers/registeratmanagementgroupscope,
we can register a resource provider at management group scope.

Could you pls. explain what it means? Does it mean all subscriptions under the management group will have the resource provider registered?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-11-02 00:50] MasayukiOzawa opened #65356 "Shared Metadata Table Collation Settings"
https://docs.microsoft.com/en-us/azure/synapse-analytics/metadata/table#share-spark-tables
In this document, the collation is Latin1_General_CP1_CI_AS_UTF8

https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-storage-files-spark-tables#apache-spark-data-types-to-sql-data-types-mapping

But this document says Latin1_General_100_BIN2_UTF8

In practice, this is also set to Latin1_Gen

[2020-11-02 01:11] oising opened #65357 "Consider noting that Runtime Scale Monitoring is only available with Elastic Premium plans"
In order to enable Runtime Scale Monitoring, the plan has to be an Elastic Premium functions plan, specifically. This should be stated on the page. The option doesn't appear for any other sort of Premium plan (of which there are several.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc0b34e2-0eb8-fe89-300c-67e6c212ed

[2020-11-02 01:24] ChaitanyaNaykodi-MSFT commented on #65354
Hello @jjadta, Thank you for your feedback! We will review and update as appropriate.

[2020-11-02 01:25] jwm2409 commented on #65201
@vipulsparsh Thanks for the feedback, it is much appreciated! Unfortunately it leaves me puzzled, moreover since the first sentence of the MS article says 'By setting up federation with Google, you can allow invited users to sign in to your shared apps and resources with their own Gmail accounts, **without having to create Microsoft accounts.**'

[2020-11-02 01:30] ChaitanyaNaykodi-MSFT commented on #65111
Hello @adamfoneil, glad you were able to find a solution, the information required is documented [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#local-settings-file). I will now proceed to close this issue, please tag me in your reply if there are any additional concerns. Thanks you!

[2020-11-02 01:30] #65111 closed

[2020-11-02 01:38] BharathNimmala-MSFT commented on #65355
@mpchen Thank you for your query, we will look into and get back to you at the earliest.

[2020-11-02 02:56] JFolberth opened #65359 "Update Troubleshooting Wording"
Please consider rephrasing or evaluating the steps if an automanaged virtual machine is in a "failed" status.

I am currently troubleshooting such an issue and current the documentation states:

However when troubleshooting there is no entry of a deployment attempt at the Resource Group the VM is in.  Instead upon checking the Activity Log there is a "Create or Update Configuration Profile Assignm

[2020-11-02 03:01] VikasPullagura-MSFT commented on #65359
@JFolberth
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-02 03:01] VikasPullagura-MSFT commented on #65359
@deanwe
Can you please check and add your comments on this doc update request as applicable.

[2020-11-02 03:27] CHEEKATLAPRADEEP-MSFT commented on #23045
@kokaloki You can leverage single node cluster for testing.

A Single Node cluster is a cluster consisting of a Spark driver and no Spark workers. Such clusters support Spark jobs and all Spark data sources, including Delta Lake. In contrast, Standard clusters require at least one Spark worker to run Spark jobs.

Reference: https://docs.microsoft.com/en-us/azure/databricks/clusters/single-node

Ho

[2020-11-02 03:31] HarithaMaddi-MSFT commented on #65356
@MasayukiOzawa - Thanks for sharing he valuable inputs. I am looking into it and will get back to you shortly.

[2020-11-02 04:05] HarithaMaddi-MSFT commented on #65357
@oising - Thanks for your valuable inputs. We are looking into it and will update you shortly.

[2020-11-02 04:09] JasonWHowell commented on #65176
@chirangaalwis we'll close out the issue since a resolution has been provided. Please let us know if further assistance is needed. Thanks! Jason #please-close

[2020-11-02 04:09] AnuragSharma-MSFT commented on #65176
@savjani Thanks for providing the detailed information.

@chirangaalwis We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-11-02 04:09] #65176 closed

[2020-11-02 05:13] NickEales opened #65361 "CA with "Terms Of Use" doesn't work with Connect-AzAccount -Credential"
Hi - Can we get this page modified to state that the "Terms of Use" Conditional Access options can only be accepted when authenticating with an Interactive option?

i.e. - This fails:
PS C:\> Connect-AzAccount -Tenant XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX -Credential $(Get-Credential -Message " Connect-AzAccount" -user $myUser)
Connect-AzAccount : AADSTS50158: External security challenge not satisf

[2020-11-02 05:13] kunasinh commented on #65202
Hi @linda33wj,

Can you please check and let me know your thoughts/inputs.

Thanks,
Kunal

[2020-11-02 05:22] cvraman commented on #52706
Is there a way I can specify the batch size while consuming azure functions with service bus trigger ? The documentation is missing. Currently my method signature is like below:
![image](https://user-images.githubusercontent.com/1260953/97832656-5d23e500-1cf9-11eb-9bdf-6282eddf84b2.png)

Host JSON is like below:
![image](https://user-images.githubusercontent.com/1260953/97832699-775dc300-1cf9-11eb

[2020-11-02 05:23] TestUser0811 opened #65362 "Collecting performance counters in code for ASP.NET Core Web Applications"
Referring the [link](https://docs.microsoft.com/en-us/azure/azure-monitor/app/performance-counters#collecting-performance-counters-in-code-for-aspnet-core-web-applications) & got confused.

Whether, the below link is required to collect standard performance counters like CPU/Memory (or) the below line is required ONLY if I'm interested in collection "\Page Faults/sec" counter. Please clarify.

  m

[2020-11-02 05:27] Vikram1988 commented on #65023
@JustinGrote  thanks for highlighting the need for RBAC permissions. We are working on validating the RBAC permissions required for different operations on Azure Migrate and will be updating the same in docs in a few weeks. I reviewed the permissions you have defined, I just wanted to check what operations were you planning to execute-by that I mean, which of the following:
1. Creating Azure Migra

[2020-11-02 05:27] chetansriv commented on #56090
Instructions are added for roles. Closing the issue now.

#please-close

[2020-11-02 05:27] #56090 closed

[2020-11-02 05:34] chetansriv commented on #58368
We have updated the article as suggested.

#please-close

[2020-11-02 05:34] #58368 closed

[2020-11-02 05:36] chetansriv commented on #59233
We have updated the screenshots.

#please-close

[2020-11-02 05:36] #59233 closed

[2020-11-02 05:40] kshke opened #65363 "example.hosts https://docs.microsoft.com/en-us/azure/aks/coredns-custom#hosts-plugin"
[Enter feedback here]

I thinks we should remove  **# example.hosts must be a file**, because in AKS we can't use file to manage coredns

apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom # this is the name of the configmap you can overwrite with your changes
  namespace: kube-system
data:
    test.override: | # you may select any name here, but it must end with the .override file ex

[2020-11-02 05:40] chetansriv commented on #61912
We have made the suggested changes, closing the issue.

#please-close

[2020-11-02 05:40] #61912 closed

[2020-11-02 05:41] chetansriv commented on #61989
We have made the changes as suggested, closing the issue now.

#please-close

[2020-11-02 05:41] #61989 closed

[2020-11-02 06:02] cvraman commented on #51311
Is there an update on this ?

[2020-11-02 06:05] shashishailaj commented on #65361
@NickEales Thank you for your inputs. We will have this reviewed and update the thread.

[2020-11-02 06:11] CHEEKATLAPRADEEP-MSFT commented on #65000
@simondmorias  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-02 06:15] sonya6688 opened #65364 "Could we get 95% measure of the network latency? and the max network latency?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 311b6efb-2d93-6130-96a9-867fad56bd52
* Version Independent ID: a17faabf-04c6-c3da-9a37-a86b0d00cbfd
* Content: [Azure network round-trip latency statistics](https://docs.microsoft.com/en-us/azure/networking/azure-network-latency)
* Content Source: [ar

[2020-11-02 06:28] CHEEKATLAPRADEEP-MSFT commented on #65320
@viroopax Currently, Matillion ETL is not supported as partner data integrations.

Matillion ETL for Databricks Delta Lake is coming soon.

We don't have any specific ETA, we will update you once it is available.

**Reference:** https://www.matillion.com/resources/blog/matillion-and-databricks-partner-to-address-rising-demand-for-lakehouse-architecture

Does MATILLION ETL and data loader work with

[2020-11-02 06:29] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - Thanks for posting the query. I am moving it to content author for more details on the same.

@yexu - I was able to pass more than 100 items using table variable. Can you please share more details on the below lines from the [document](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-multiple-tables-portal#create-data-types-and-additional-stored-procedure

[2020-11-02 06:30] v-hagamp commented on #58906
The issue was resolved as suggested, am closing this issue now.
#please-close

[2020-11-02 06:30] #58906 closed

[2020-11-02 06:48] akshaymatmicrosoft opened #65365 "Typo correction required under section "Blob storage APIs""
Under section "**Blob storage APIs**", there's a typo. Word **both** should be **blob**.

**Change this**
You cannot use **both** API and Data Lake Storage APIs to write to the same instance of a file.

**To this**
You cannot use **blob** API and Data Lake Storage APIs to write to the same instance of a file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-11-02 06:49] akshaymatmicrosoft commented on #65365
#sign-off

[2020-11-02 06:59] adrian-saracila opened #65366 "PartitionOnTime option is missing in documentation"
Hello,

The Copy activity from SAP also includes 'On time' as partition option, which is not documented.
Please add it in the partitionOption section of the documentation, among the rest (None, PartitionOnInt , PartitionOnCalendarYear, PartitionOnCalendarMonth, PartitionOnCalendarDate).
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-11-02 07:00] GitaraniSharma-MSFT commented on #65364
@sonya6688 , thank you for your feedback. Could you please clarify if you are looking to get information on the maximum network latency or round-trip times between Azure regions (similar to the avg latency described in the article)?

[2020-11-02 07:21] #65365 closed

[2020-11-02 07:21] VikasPullagura-MSFT commented on #65365
@akshaymatmicrosoft Thanks for pointing this out. Doc is updated and changes will go live soon.

[2020-11-02 07:26] dulanjal commented on #65176
Can we enable mTLS with the MySQL server? That's the key requirement of the original post. @JasonWHowell @savjani

[2020-11-02 07:27] souravmishra-msft commented on #65073
Hello @rukasakurai, thank you for reaching out. Based on the pre-req point you shared "_An application that supports SSO and that was already preconfigured and added to the Azure AD gallery. Most apps can use Azure AD for SSO. The apps in the Azure AD gallery are preconfigured. If your app isn't listed or is a custom-developed app, you can still use it with Azure AD. Check out the tutorials and ot

[2020-11-02 07:27] SnehaAgrawal-MSFT commented on #65092
@IgnacioAlvarezArenas Thanks again for the valuable feedback! I have created PR for this as discussed internally. Once its validated it will be merged. Thanks again will now move towards closing this. Let us know if you have further question.

[2020-11-02 07:27] #65092 closed

[2020-11-02 07:30] HarithaMaddi-MSFT commented on #65366
@adrian-saracila - Thanks for your valuable inputs. I am looking into it and will update you shortly.

[2020-11-02 07:30] Anmolgan81 commented on #65204
@HarithaMaddi-MSFT thanks for opening this thread again, all I am saying is if that is the case we are able to pass more then 100 records to insert and update, then the document should be edited.

[2020-11-02 07:32] HarithaMaddi-MSFT commented on #65204
@Anmolgan81 - Thanks for the response. Yes, I got the point. I wanted to understand the reason behind this from content author and also to know if I am missing anything. If the understanding is confirmed by Author, I will raise PR to modify the document accordingly.

[2020-11-02 07:39] SnehaAgrawal-MSFT commented on #65129
@c0g1t8 Just checking if you have chance to see above response of @anthonychu Let us know if you have further question on this.

[2020-11-02 07:45] rboucher commented on #65319
I answered this in email. Uses the Resource Manager API (ARM). See public script example below. Then we pull out what isn't supported/valid yet. Prerelease service metrics are also in the API.

There is no way to get the exportable information from this API that I know of. That's from internal systems.

https://github.com/robotechredmond/Azure-PowerShell-Snippets/blob/master/Azure%20Monitor%20-%20

[2020-11-02 08:05] mcurko opened #65367 "Problem with the code"
Do we need to create the project "Alphabet.Processing" or "Processing" in step 4 ?
Because if we create a project named "Alphabet.Processing" in step 4 and then use Service Name="Processing" and ServiceTypeName="ProcessingType" in step 5, no service will be deployed! Easy to test and verify. Please revise the described steps!

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-11-02 08:42] yiliuTo opened #65368 "How can access tokens contain the "roles" claim"
I am using the OAuth 2.0 auth code grant flow to acquire access tokens, and I hope the token could have `roles` claim as described in the doc, which should be `populated with the roles the user was assigned to on the target application` for `user tokens`.

I have configured my application in Azure Portal in which the `appRole` property in the manifest is as below, and I assigned one role to a logi

[2020-11-02 08:45] mcurko opened #65369 "The example doesn't work"
From step 8 onwards the code won't compile since it needs procedures not included in the article. You have to get them from GitHub. So the article is not complete and is pretty much useless.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 553c01c6-2e91-cf8e-d658-9669f4c91fd4
* Version Independent ID: 05e7540a-969b-1f45-

[2020-11-02 08:56] AnoopAsokanEaton opened #65370 "Can we use Elastic Premium azure functions as traffic manager endpoint?"

[2020-11-02 09:08] malantin opened #65371 "Step in Line 292 is not clear"
Line 292 "Invoke `GraphTopologySet` again. The returned status code is 200. This code indicates that an existing topology was successfully updated."

It is not clear what the payload for this step is supposed to be. The same payload as before? Or is it possible that this is supposed to be `GraphTopologyList` with just the API Version as the payload?

---
#### Document Details

⚠ *Do not edit this

[2020-11-02 09:08] mcurko opened #65372 "Error"
In the step 17, the description doesn't even match the screenshot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 553c01c6-2e91-cf8e-d658-9669f4c91fd4
* Version Independent ID: 05e7540a-969b-1f45-2193-4a2d721a32b6
* Content: [Partitioning Service Fabric services - Azure Service Fabric](https://docs.microsoft.com/en-us/

[2020-11-02 09:10] SnehaAgrawal-MSFT commented on #65180
@taromielnaz Thanks for reply! To elaborate on this this may vary and depends on the Azure services you are using.
As mentioned in the document for example if you are using Azure SQL Database or Azure Storage, you need to scale up these resources separately by seeing the documentation for specific resource type as these resources aren't managed by the App Service plan.
on your ask of need and nece

[2020-11-02 09:15] SnehaAgrawal-MSFT commented on #65371
@n01d Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-02 09:21] EdwardALockhart commented on #44062
I finally got a reply about this on the forums. Here is the response that I got. I hope this helps.

https://docs.microsoft.com/en-us/answers/questions/127842/azureml-and-powerbi-compatible-endpoint.html

[2020-11-02 09:23] #65319 closed

[2020-11-02 09:26] #65241 closed

[2020-11-02 09:32] vflorusso opened #65373 ".env file location is incorrect"
In section
https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/continuous-video-recording-tutorial#set-up-your-development-environment

in step 6. the text should be fixed to
Copy the contents from the ~/clouddrive/lva-sample/edge-deployment/.env file. The text should look like:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-11-02 09:34] AMBarodzich commented on #65285
Hello @MonikaReddy-MSFT
New message from one of my user:
![Screenshot_127](https://user-images.githubusercontent.com/18680115/97852370-b2ff8980-1d07-11eb-9b8e-5c5baa58ef10.png)

[2020-11-02 09:36] HarithaMaddi-MSFT commented on #65356
@MasayukiOzawa - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#136193

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-11-02 09:38] mcurko opened #65374 "Clarification needed"
From the article:

"If the service is a Secondary service, only those listeners marked as ListenOnSecondary = true are opened. Having listeners that are open on secondaries is less common."

"Secondary replicas can perform read-only validation, report generation, data mining, or other read-only jobs."

Shouldn't secondary replicas have their listeners opened in order to be able to perform some rea

[2020-11-02 09:42] SumanthMarigowda-MSFT commented on #64763
@ warrencybervr  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
The CLI sample script looks fines, If you are still facing any issue, please let me know with the screen shot we are happy to assist you We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2020-11-02 09:42] #64763 closed

[2020-11-02 09:51] VikasPullagura-MSFT commented on #65374
@mcurko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-02 09:51] VikasPullagura-MSFT commented on #65374
@masnider
Can you please check and add your comments on this doc update request as applicable.

[2020-11-02 09:57] VikasPullagura-MSFT commented on #65367
@mcurko

Thanks for providing Feedback and helping improve the Microsoft Documentation.

I see below Feedbacks provided by you for the same document, I am linking them here and assigned all of them to content author to check and update the document as appropriate.

#65369

#65372

[2020-11-02 09:57] VikasPullagura-MSFT commented on #65367
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-11-02 09:59] VikasPullagura-MSFT commented on #65369
@mcurko

Thanks for providing Feedback and helping improve the Microsoft Documentation.

I see below Feedbacks provided by you for the same document, I am linking them and assigned all of them to content author to check and update the document as appropriate.

#65367

[2020-11-02 10:00] VikasPullagura-MSFT commented on #65372
@mcurko

Thanks for providing Feedback and helping improve the Microsoft Documentation.

I see below Feedbacks provided by you for the same document, I am linking them and assigned all of them to content author to check and update the document as appropriate.

#65367

#65369

[2020-11-02 10:02] VikasPullagura-MSFT commented on #65372
@erikadoyle
Can you please check and add your comments on this doc update request as applicable.

[2020-11-02 10:25] HarithaMaddi-MSFT commented on #65370
@AnoopAsokanEaton - Please help with the link of document which is related to the question.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could provide their

[2020-11-02 10:25] psmanhas commented on #65363
@kshke Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-02 10:26] psmanhas commented on #65363
@jnoller Can you please check and add your comments on this doc update request as applicable

[2020-11-02 10:36] #64661 closed

[2020-11-02 10:41] tiagonmas opened #65375 "Link to Azure Cloud Shell goes into login loop"
Step 1. of "Set up Azure resources" has a link to "Go to [Azure Cloud Shell](https://shell.azure.com/)". If you follow the link you are faced with a infinite login loop. In order to open the cloud shell you need to go to azure Portal http://portal.azure.com and click on the Shell icon. The shell works inside the portal, not as a direct link.

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-02 10:46] GitaraniSharma-MSFT commented on #65216
@frankthing , thank you for the update. As I mentioned earlier, for the Front Door managed certificate option, the certificates are autorotated by Front Door and are taken care of in the backend in case of any issues. However, let me reach out to the backend team to see if they can provide some more insights on same.

[2020-11-02 10:48] Mahesh-MSFT opened #65377 "Azure vWAN Integration"
This documentation is proposing to use hub and spoke networking topology.

Can following additional information be provided?

1. Can AVS use ER Gateways of Azure Virtual WAN (vWAN)?
1. Can transit connectivity be established between on-premise and AVS via Azure vWAN over ER Global Reach?
1. Can 2 AVS instances in 2 different Azure regions connect with each other using Azure vWAN hub to hub connect

[2020-11-02 10:49] vflorusso commented on #65373
apparently this applies to both these Tutorials
https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/continuous-video-recording-tutorial
https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/event-based-video-recording-tutorial

[2020-11-02 10:49] VikasPullagura-MSFT commented on #65373
@vflorusso Thanks for pointing this out. We will update the documents.

[2020-11-02 10:53] VikasPullagura-MSFT opened #65378 ".env file location is incorrect"
In section

https://docs.microsoft.com/en-us/azure/media-services/live-video-analytics-edge/event-based-video-recording-tutorial#set-up-your-development-environment

in step 6. the text should be fixed to
Copy the contents from the ~/clouddrive/lva-sample/edge-deployment/.env file. The text should look like:

Based on feedback from

https://github.com/MicrosoftDocs/azure-docs/issues/65373
---
####

[2020-11-02 10:55] tiagonmas opened #65379 "Prerequisites for AMQP port - outbound"
In the Prerequisites it says "Make sure the network that your development machine is connected to permits Advanced Message Queueing Protocol (AMQP) over port 5671. This setup enables Azure IoT Tools to communicate with Azure IoT Hub."

It is not clear that this is outbound traffic. Being outbound, most of the times you don't have to do anything since it is already open. That would not be the case

[2020-11-02 10:56] tiagonmas opened #65380 "Why is the script creating a premium streaming endpoint?"
The setup script creates a Premium Streaming Endpoint "Updating the Media Services account to use one Premium streaming endpoint". For the sake of what we're doing, there is no need to use a Premium endpoint. Why Premium ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c6611e1-23a3-48b0-d7e9-b7034bc3be9e
* Version Ind

[2020-11-02 10:59] tiagonmas opened #65381 "List resources that setup script creates"
In Set up Azure resources, there is a script that creates several resources. Would be great to have a list of the resources that are created and what they are used for. That would provide a better understandign of what we're doing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c6611e1-23a3-48b0-d7e9-b7034bc3be9e
* Ve

[2020-11-02 11:07] vipulsparsh commented on #65368
@yiliuTo Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-11-02 11:08] vipulsparsh commented on #65361
@NickEales Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@MicrosoftGuyJFlo  Can you have a look at this ?

[2020-11-02 11:20] HarithaMaddi-MSFT commented on #65362
@TestUser0811 - Thanks for your question. We are looking into it and will update you on the details.

[2020-11-02 11:21] AjayKumar-MSFT commented on #64971
@brucedkyle, Thanks for your positive feedback and suggestions for doc improvements, it's highly appreciated. Your feedback has been shared with the content owner (@Ericgre) for further review and update the document as appropriate (to add additional clarity if required in the next refresh cycle).

[2020-11-02 11:29] tiagonmas opened #65383 "More info on step 7 - Connection string"
in step 7 “When an input box appears, enter your IoT Hub connection string." more information is needed on where to add the connection string. Should be clear that is at the top of VS code.

"In Cloud Shell, you can get the connection string from ~/clouddrive/lva-sample/appsettings.json."
Should also be made more clear where to get the connection string from. Guide people on how to get there. Same

[2020-11-02 11:32] tiagonmas opened #65384 "Resource setup script uses deprecated commands"
The [Live Video Analytics resources setup script ](https://github.com/Azure/live-video-analytics/tree/master/edge/setup) uses some deprecated commands as shown on the output shell. check image.

![deprecated](https://user-images.githubusercontent.com/42462/97863595-2355dd00-1cff-11eb-84b9-84a2c4ea07de.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-11-02 11:35] mumian commented on #65095
@chuckthompsonprofisee - Have you tested your script in westcentralus?  I am not sure I understand your question about retentionInterval.  retentionInverval is what you set in the deployment script resource.  See https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#clean-up-deployment-script-resources.

[2020-11-02 11:36] tiagonmas opened #65385 "Information is unnecessary and misleading"
In "By using the steps for invoking GraphTopologyList, you can invoke GraphTopologySet to set a graph topology. "
it confuses the user. Mentioning GraphTopologyList is misleading. Don't mention the previous method. Just say "like we did before you can invoke...".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c6611e1-

[2020-11-02 11:39] tiagonmas opened #65386 "No endpoint exists in step "Start Monitoring Built-in Event Monitoring.”"
In Observe Results – When we click “Start Monitoring Built-in Event Monitoring.” It is asking for an Endpoint. There is a missing step of Picking a Endpoint. You need to go to Endpoints and pick the right endpoint for the monitoring to start working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c6611e1-23a3-48b0-d7e

[2020-11-02 11:41] mumian commented on #63672
@Kapkan-Lesion - let us know if you still need help with this question.

[2020-11-02 12:05] BloodBaz opened #65387 "Code block requires improvement and errors fixed"
First code block code is shoddy.

1. It has a static method calling a non-static method (`AcquireByDeviceCodeAsync`).
2. The method `AcquireByDeviceCodeAsync` references `scopes` which I presume should be `Scopes` (C# is case sensitive!)
3. The exceptions should at least rethrow so that users can copy and paste the code to get started.
4. The code could also do with some `using` references so it's

[2020-11-02 12:07] VikasPullagura-MSFT commented on #65377
@Mahesh-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-02 12:07] VikasPullagura-MSFT commented on #65377
@shortpatti
Can you please check and add your comments on this doc update request as applicable.

[2020-11-02 12:08] SubhashVasarapu-MSFT commented on #65053
@dcbrown16, Appreciate your patience. Yes, TXT record with the "asuid" host and the App's verification ID is required even in case of Azure DNS hosted domain.

[2020-11-02 12:13] kamil-mrzyglod commented on #40373
I'd also add more thing here - in the examples there are additional values in the WebTest body like timeout or request ID. What is their relation to the `Timeout` property of Azure `microsoft.insights/webtests` resource and `Id` of the WebTest?

[2020-11-02 12:36] KalyanChanumolu-MSFT commented on #64998
Assigning the issue to Mark for next steps

[2020-11-02 13:07] yvesrosius opened #65389 "Client requirements not documented in "Requirements""
Only Azure AD joined Windows 10 devices are currently supported. Mac OS or standalone Windows 10 devices are not supported. Please add a supported client devices section under "Requirements".

See also lower in the article under "Unauthorized client"
https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#unauthorized-client

---
#### Document Details

⚠ *

[2020-11-02 13:17] AshokPeddakotla-MSFT commented on #65169
@rowenwu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-02 13:19] theBlueclouds commented on #33533
Connect-AzAccount also fails hence no way to switch subscription on cloud shell. https://github.com/Azure/azure-powershell/issues/13340

[2020-11-02 13:28] psmanhas commented on #65322
@chitturs Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-11-02 13:28] psmanhas commented on #65322
@MikkelHegn Can you please check and add your comments on this doc update request as applicable

[2020-11-02 13:38] MikkelHegn commented on #65322
@peterpogorski to assist

[2020-11-02 13:56] NavtejSaini-MSFT commented on #65302
@GithubMirek Please check the feedback from the user and please help to enhance the document.

[2020-11-02 14:14] mcurko opened #65390 "Warning"
_In this simple code, we're just calling Task.Delay passing 100 milliseconds each time._

I don't see such code here.

Also it'd be good to create a separate article with a complete example of schema versioning using 2-step upgrade!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a0f00a-b627-ff52-6d82-318069ef54d7
* V

[2020-11-02 14:21] MonikaReddy-MSFT commented on #64991
@Subhraj07 - Can you please provide the above details as requested.

[2020-11-02 14:32] rgg-amahajan opened #65391 "this feature is not working at all for existing triggers updated to use local time zone (and with start dates before DS changes)"
I updated my existing triggers to use my local timezone (Indiana East), and set the trigger times to be in Indiana (East). Saved and made 300% sure that the changes are published (ensured it said "no new changes to publish" after publishing for the first time 🤷 ) -- even then, my triggers kicked off an hour earlier this morning. And under trigger runs, the time is not what I set in the trigger, it

[2020-11-02 14:40] mmacy commented on #55761
@Tarvinder91 Thanks again for your patience, and apologies again for the delay in our response. Since 10 days have passed without clarification of your question, we'll now move to close out this issue. If you still have questions, however, you can let us know by opening a new issue (preferred) or commenting here with an @-mention to `paulgarn` and I, `mmacy`. #please-close

[2020-11-02 14:40] #55761 closed

[2020-11-02 14:43] si-chan opened #65392 "Licensing implications of UserType = Guest"
I understand that if the UserType is Guest, then the External Identity pricing applies.
If not, then the normal Azure AD pricing applies.
Can this be explicitly confirmed in the documentation please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d

[2020-11-02 14:44] balintbako opened #65393 "Support for version 10.4 and 10.5"
Hi,

Is there an ETA for supporting MariaDB version 10.4 and 10.5?

Regards,
 Balint

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5e4798-d1ea-e82b-0459-2e268387152d
* Version Independent ID: 1bb7d77d-0b97-3190-ea91-9a10a014eefc
* Content: [Supported versions - Azure Database for MariaDB](https://docs.microsoft.com/

[2020-11-02 14:44] Blackbaud-ChrisBlythe commented on #63988
@femsulu Can we switch this back to "awaiting-product-team-response"?

[2020-11-02 14:55] hurtn opened #65394 "TDE protector is not set at server level for Synapse Analytics (formerly SQLDW)"
Hello, I don't believe the statement about the TDE protector being set at the server level is correct for Synapse Analytics. In the portal it states "To enable encryption, go to each database" at server level

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44a0e0d-f0a8-fe91-8ae5-a901e103f89e
* Version Independent ID: 8

[2020-11-02 14:56] alistairl opened #65395 "Automation Account Variable Encryption Recommendation in Azure Security Center"
Having enabled the VM Start / Stop solution in Log Analytics / Automation and deployed it successfully, Security Center issues recommendations for each of the variables as a "High" issue saying that they should be encrypted (See https://docs.microsoft.com/en-us/azure/security-center/recommendations-reference#recs-computeapp)

What I don't know is if I recreate each of the 17 variables myself (vari

[2020-11-02 15:07] saachigopal commented on #64990
This dockerfile formatting is out of date and will be updated soon.

[2020-11-02 15:34] hypdeb opened #65398 "Missing Steps on PostgreSQL Backup"
Document does not explain how to grant the correct db permissions to the backup database role/user. After painfully going through the word documents that supplement this page, I finally managed to have the `postgres` database backed up. But what about other databases ? Do I have to go through all of this every time a new database is created ?

---
#### Document Details

⚠ *Do not edit this section

[2020-11-02 15:35] asampson68 opened #65399 "Variable error?"
At the start of this tutorial a variable for the Resource Group is created called $resourceGroup, which seems to be correctly referenced several times throughout the code, however, in the "Test failover" section at the very end, the original $resourceGroup variable is referenced to verify the replication role, but then when failover is invoked a new variable called **$myresourcegroupname** is call

[2020-11-02 15:36] JFolberth commented on #65195
Thanks @VikasPullagura-MSFT !

@macolso I'm really more interested if technically the addition of the diagnostic block for Log Analytics requires a delete and rebuild of the container.  I think it might but looking for technical confirmation and if so then would ask the documentation be updated to reflect that.

[2020-11-02 15:37] Karishma-Tiwari-MSFT commented on #51728
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-02 15:37] #51728 closed

[2020-11-02 15:37] ericsampson commented on #52706
@cvraman , I believe that `MaxMessageCount` is just that - the `Max` batch size that will be returned. There are a number of reasons why you might not be getting the full batch size every time, that's not unexpected. Sometimes you can tune various SB SDK params to increase the fill % in your situation.

[2020-11-02 15:37] dcurwin commented on #65398
#reassign:sachdevaswati

[2020-11-02 15:45] chuckthompsonprofisee commented on #65095
yes the fix did work.  Regarding the rententioninterval.  our script, we use to set it to 30D and when using that setting, we not get this error.  {
    "error": {
        "code": "DeploymentScriptUnsupportedPropertyValue",
        "message": "The script retention interval is not supported. Allowed range: 1 to 26 hours. Please refer to https://aka.ms/DeploymentScriptsTroubleshoot for more deployme

[2020-11-02 15:47] JeremyTBradshaw opened #65400 "Also happens in Microsoft Endpoint Manager site."
FYI, this annoying alert/error also occurs in the Endpoint Manager site (i.e. Intune).  There are lots of customers who have Intune but no Azure subscriptions.  Since Intune is no longer to be managed via the Azure Portal, it seems like a good idea to get this alert out of the Endpoint Manager site.  Or, continue to let people manage into through the Azure Portal if you'll continue to harass them

[2020-11-02 15:48] HarithaMaddi-MSFT commented on #65366
@adrian-saracila - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#136210

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-11-02 16:00] shashishailaj commented on #64286
@sarah026 No the Digicert Global root CA cert will not change. The current CA certificates means the certificates that chain up to the CA "Baltimore CyberTrust Root" .

Let me provide you more context on this. During TLS/SSL transactions a certificate exchange takes place between the server side and the client side. During this exchange , the certificate are checked up to the top of the chain from

[2020-11-02 16:00] #64286 closed

[2020-11-02 16:02] SruthiJeelugula opened #65401 "Reporting / API to validate Azure AD Application Verified Publisher Data?"
From  Nov 2020 end-users will no longer be able to grant consent to most newly registered multi-tenant apps without verified publishers. Is there any sort of reporting or API that lets customers validate existing OAuth consents with applications that may NOT currently be verified publishers, both from a cleanup and ongoing perspective?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-02 16:05] shashishailaj commented on #64369
#reassign:nicholak-ms

[2020-11-02 16:09] samgladstone commented on #47982
In case anyone else comes across this issue and to add to the above, the MongoDB 3.6 Endpoint can be enabled with this param:

`-e AZURE_COSMOS_EMULATOR_MONGODB_COMPUTE_ENDPOINT=true`

A couple of extra things to note on it;

1. The person I spoke to when submitting my feedback said:

2. You can't enable both the 3.2 & 3.6 endpoints at the same time (I'm not sure about other endpoints)

3. When en

[2020-11-02 16:14] RyanDurkin opened #65403 "Invalid Azure CLI Code"
The Azure CLI code in the section "Create a key vault to store your keys" is invalid.

The --key-permissions parameters should not be comma separated.

This is what they are at the moment:
[code]

They should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddcad97f-02c6-4307-7ed8-85ba7ae23ecc
* Version Indep

[2020-11-02 16:16] ChrisSommers opened #65404 "Can't de-assign PIP in NIC config"
I have a VM which is being replicated from UK South to UK West. It had been configured with a Public IP on failover but now this is not required. However, I am unable to remove it from the failover configuration - it's greyed out. As the PIP object itself has been deleted, I believe this will actually cause a failover to fail.

Why cannot I configure the VM to not now use a PIP on failover? Do I h

[2020-11-02 16:17] jamesdfrost commented on #62926
This doesn't seem to be fixed yet, and I can't see a PR. Is it possible to follow up on this, as its a great tutorial which I'm worried some folk will struggle with otherwise.

[2020-11-02 16:18] Mahesh-MSFT opened #65405 "Internal Azure Load Balancer with AVS?"
Can Azure Internal Load Balancer be used for AVS VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd20d6-7b1d-73f1-f580-d9207e10c5fb
* Version Independent ID: 610d9d1a-dbea-0289-01ca-c84f2b30d1ef
* Content: [Frequently asked questions - Azure VMware Solution](https://docs.microsoft.com/en-us/azure/azure-vmware/faq

[2020-11-02 16:21] SadiqhAhmed-MSFT commented on #65404
@ChrisSommers Thanks for the question. Could you please share the screenshot by highlighting the issue please?

[2020-11-02 16:25] shortpatti commented on #65405
#assign @shortpatti

[2020-11-02 16:25] shortpatti commented on #65405
Hi @Mahesh-MSFT, Azure LB only support Azure IaaS VMs

[2020-11-02 16:25] SadiqhAhmed-MSFT commented on #65398
@hypdeb Thanks for the feedback. We will have this reviewed by the content owner and update as appropriate.

@sachdevaswati FYI

[2020-11-02 16:29] mijacobs commented on #52299
@juliakm, can you take a look?

[2020-11-02 16:31] CaitlinV39 commented on #64870
@theGOTOguy Please let us know if there are any additional questions otherwise I think this issue can be closed.

[2020-11-02 16:35] JustinGrote commented on #65023
@Vikram1988 Thank you and I appreciate your diligence in assisting with this additional documentation. I believe that list of operations looks correct, basically everything required to execute an assessment and migration/optimization of VMs both on premise and in Azure. I look forward to it!

[2020-11-02 16:39] Mahesh-MSFT commented on #65405
thanks @shortpatti. I believe ALB support for IP based backend pools [is in preview](https://docs.microsoft.com/en-us/azure/load-balancer/backend-pool-management#configure-backend-pool-by-ip-address-and-virtual-network) already.

Can AVS VMs be used as backend pool with their IPs for Azure LB - specifically - *Internal* Azure LB with this preview?

[2020-11-02 16:43] hypdeb commented on #65398
I would also like to apologize if my tone is a bit 'annoyed', I just had a very bad time trying to set this up :D
I should also add that I wasted some time because the ClientID and ApplicationId are used interchangeably in the Word documents. To my knowledge they are not the same.

[2020-11-02 16:46] booyaa opened #65406 "How do you renew a free certificate?"
Heading: Create a free certificate (Preview)

There are no further instructions about how to manage or maintain these free certificates. The App Service Certificates service is just for certificates that have been bought.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2ee874-df45-1de2-1b30-1fd75c7fd709
* Version Inde

[2020-11-02 16:50] JamesTran-MSFT commented on #65387
@BloodBaz
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 16:52] MarileeTurscak-MSFT commented on #65389
@yvesrosius
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 16:55] BhargaviAnnadevara-MSFT commented on #65352
@MarkPhillips00763 Any update here?

[2020-11-02 16:58] silverl commented on #40132
Checking in @TravisCragg-MSFT

[2020-11-02 17:03] MonikaReddy-MSFT commented on #65285
@AMBarodzich - Thank you for providing the info. It looks like you have an issue with the product itself and this feedback is not related to the docs improvement. In this forum, we focus on improving the docs and feedback related to docs only.

Do you mind posting your question on [Microsoft QnA ](https://docs.microsoft.com/en-us/answers/index.html) as our engineers and community are actively work

[2020-11-02 17:03] #65285 closed

[2020-11-02 17:15] sebansal commented on #64538
Updated doc #please-close

[2020-11-02 17:15] #64538 closed

[2020-11-02 17:17] c0g1t8 commented on #65129
@SnehaAgrawal-MSFT

I did see the message from @anthonychu and followed through on it.  I did the following:
- moved _routes.json_ to the client folder - _app_location_
- changed _GitHub Action_ by adding _routes_location_ pointed to the same location as the _app_location_

The option to install the PWA appeared. IMO - A note should be added to the documentation to cover this scenario.

**Note:**

[2020-11-02 17:17] #65129 closed

[2020-11-02 17:20] juliakm commented on #62743
@danielkon96 Thanks for flagging this. We've removed the note.

[2020-11-02 17:23] juliakm commented on #52299
Thanks @simonaco. The newest version of the doc focuses on using a publish profile.

[2020-11-02 17:24] juliakm commented on #63087
@nakazax @AjayKumar Thanks for flagging this. The latest version of the [article](https://docs.microsoft.com/en-us/azure/app-service/deploy-container-github-action?tabs=publish-profile) uses webapp-deploy v2.

[2020-11-02 17:25] rohitnayakmsft commented on #51983
This needs to be redirected to networking team #please-close

[2020-11-02 17:25] #51983 closed

[2020-11-02 17:25] #63087 closed

[2020-11-02 17:26] #52299 closed

[2020-11-02 17:26] rohitnayakmsft commented on #55679
Please reassign to GEO DR team #please-close

[2020-11-02 17:26] #55679 closed

[2020-11-02 17:26] #62743 closed

[2020-11-02 17:26] rohitnayakmsft commented on #58695
#please-close

[2020-11-02 17:26] #58695 closed

[2020-11-02 17:29] rohitnayakmsft commented on #59897
@VanMSFT  please add a link to the ER docs at the end of this line On-premises via ExpressRoute

[2020-11-02 17:30] Karishma-Tiwari-MSFT commented on #64695
@mcurko I got the information from the product team there is a known issue related to this. I would need more information from you to confirm that you are experiencing the same.
Can you please share the following via email to AzCommunity@microsoft.com with Subject 'Attn: Karishma' :-
1. Subscription Id
2. resource id of the cluster and the region
3. Please also share if you have the correlation id

[2020-11-02 17:31] johnayoub opened #65407 "Is publishing to Private Endpoint enabled Event Grids supported?"
Will publishing work with an Event Grid that has Private Endpoint enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 581df4e3-3d93-8265-c6a5-8de0389ceeb6
* Version Independent ID: 58482e43-7122-a416-6601-4c889122ee41
* Content: [Durable Functions publishing to Azure Event Grid (preview)](https://docs.microsoft.com

[2020-11-02 17:32] rohitnayakmsft commented on #62077
Sounds good @VanMSFT  could you please update the doc with the above changes when you get a chance?

[2020-11-02 17:33] Karishma-Tiwari-MSFT commented on #65390
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-02 17:34] VanMSFT commented on #62077
#assign:VanMSFT

[2020-11-02 17:35] rohitnayakmsft commented on #62114
@marcosgm Thank you for your feedback. SQL DB is not currently in a position to have Trusted Microsoft services model like Storage. Currently we only have a high level Allow Azure Services Y/N to allow all traffic from within Azure (including that for specific services). We are currently focused on private link scenarios and have no immediate plan to change the experience as it stands today with r

[2020-11-02 17:35] rohitnayakmsft commented on #62114
#please-close

[2020-11-02 17:35] #62114 closed

[2020-11-02 17:36] VanMSFT commented on #59897
#assign:VanMSFT

[2020-11-02 17:37] rohitnayakmsft commented on #63643
@Roblarson Thanks for the feedback. @NavtejSaini-MSFT  I donot have the original diagrams that were used to create this page. Will try to find them and update. #please-close for now

[2020-11-02 17:37] #63643 closed

[2020-11-02 17:38] craigktreasure commented on #65295
Thanks for reporting the issue. We obviously missed this in our last big update. I'll get a fix out soon.

[2020-11-02 17:38] AMBarodzich commented on #65285
Hello @MonikaReddy-MSFT
Thanks for the answer. I appreciate it.

[2020-11-02 17:39] rohitnayakmsft commented on #64573
@NavtejSaini-MSFT  support case is the way to go here #please-close

[2020-11-02 17:39] #64573 closed

[2020-11-02 17:40] Marwaabouawad opened #65409 "Adding the below question to Frequently asked questions (FAQ) in Azure App Service Local Cache overview product documentation"
**Issue:**

Customer was experiencing app service slowness after enabling local cache and he was getting sometimes 5xx error messages.

As a mitigation, he did a scaling trick and the issue got resolved. He was able to see the same errors in the diagnostics after scaling. Hence, He was wondering if there is a way to reset local cache logs and get a fresh one after doing a scaling trick?

So I am r

[2020-11-02 17:54] JamesTran-MSFT commented on #65392
@si-chan
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 17:56] JamesTran-MSFT commented on #65215
@sorenek
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? Since I haven't heard from you in a few days, I'll go ahead and close this issue at the end of the day, pending a response from your end.

If you still require assistance on this issue after closure, please feel free to tag me and I'd be more then happy to re-open this issue and con

[2020-11-02 17:56] JamesTran-MSFT commented on #65254
@logansoft-net
I just wanted to check in and see if you had any other questions or if you were able to resolve this issue? Since I haven't heard from you in a few days, I'll go ahead and close this issue at the end of the day, pending a response from your end.

If you still require assistance on this issue after closure, please feel free to tag me and I'd be more then happy to re-open this issue a

[2020-11-02 17:57] SnehaAgrawal-MSFT commented on #65409
@Marwaabouawad Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-02 17:58] SnehaAgrawal-MSFT commented on #65406
@booyaa Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-02 18:04] ChaitanyaNaykodi-MSFT commented on #65347
Hello @nivohavi, can you please let us know if you referred to any of the templates in this [document ](https://docs.microsoft.com/en-us/azure/cosmos-db/templates-samples-sql), it will help us in troubleshooting the issue faced. Thank you!

[2020-11-02 18:09] VanMSFT commented on #65403
Thanks @RyanDurkin! I'm fixing this and the doc should be updated later today. We appreciate your help in catching this!

[2020-11-02 18:15] MartinJaffer-MSFT commented on #65153
@levistormgeo  I have forwarded your query/feedback to the product group.

To help your feature ask gain traction, I recommend submitting/upvoting it in the [feedback forum](https://feedback.azure.com/forums/270578-azure-data-factory), and linking the issue here so it gains visibility.

[2020-11-02 18:16] NavtejSaini-MSFT commented on #65394
@hurtn We are checking this and will get back to you.

[2020-11-02 18:18] BryanTrach-MSFT commented on #65375
@tiagonmas Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-02 18:21] gomiero commented on #35528
Yes, I agree about the stretch of the pixels on a Mercator projection, and the <ins>code</ins> at that document is correct.

My point, at the time when I opened this issue, was only that the table's values were incorrect.

And sure they was incorrect, since the table was fixed with the values I mentioned on the issue, at commit: [53b76605af057a362436ce932b75001058559bb6](https://github.com/microso

[2020-11-02 18:28] SaurabhSharma-MSFT commented on #65391
@rgg-amahajan Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 18:34] ChaitanyaNaykodi-MSFT commented on #65010
Hello @bverhoeve, yes currently you will have to pass the `context` object around if you want to do add trace output log. Dependency injection is currently supported for [.NET function apps](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#ilogger-and-iloggerfactory). Additionally you can also do [custom logging](https://docs.microsoft.com/en-us/azure/az

[2020-11-02 18:34] #65010 closed

[2020-11-02 18:35] MartinJaffer-MSFT commented on #65149
Thank you for your feedback @hariAtCba . This has been assigned to the content owner, @mssaperla , and will be updated as appropriate.

[2020-11-02 18:37] chez-charlie commented on #65391
@rgg-amahajan  please use Eastern Time Zone, which observes daylight saving, instead. Indiana (East) is a legacy time zone, back in early 2000s, when some counties in Indiana does not observe daylight saving

[2020-11-02 18:38] chez-charlie commented on #65391
#please-close

[2020-11-02 18:38] #65391 closed

[2020-11-02 18:39] shortpatti commented on #65405
@Mahesh-MSFT, IN theory yes, but it has not tested it.

[2020-11-02 18:41] TylerLeonhardt opened #65412 "Publishing to Azure says it needs Azure CLI but that's not true"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=macos%2Ccsharp%2Cbash#publish

^ This says "You must have the Azure CLI installed locally to be able to publish to Azure from Core Tools." However, you can also have Azure PowerShell installed and that will work as well.

We should update this doc so that we don't show favoritism to one tool over the other.

cc @dcaro

[2020-11-02 18:42] rayne-wiselman commented on #65023
@JustinGrote Hey, I'm going to close this for now. We'll update info across articles in line with the PG timeline. Thanks for your feedback on our docs. Always appreciated!

[2020-11-02 18:51] veteixei opened #65413 "Apply a per-URI policy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e00000b-acb1-de7a-c5b0-272270297a12
* Version Independent ID: e1d57940-ebb9-f8f4-de7e-a08a619f2557
* Content: [Configure per-site WAF policies using PowerShell - Azure Web Application Firewall](https://docs.microsoft.com/en-us/azure/web-application-f

[2020-11-02 18:52] JustinGrote commented on #65023
@rayne-wiselman is their timeline published anywhere? That should be referenced and then this can be closed, otherwise this issue should remain open until the docs are updated.

[2020-11-02 18:53] kenwith commented on #65007
@JosephFicara - thank you for taking the time to provide feedback and make the docs better. I know it takes time to provide the feedback when you notice something that needs to be updated and I appreciate it. I have updated the article and reference a quickstart I recently created on deleting an app. It should be live shortly.

#please-close

[2020-11-02 18:53] #65007 closed

[2020-11-02 18:54] JasonWHowell commented on #65170
If there is a specific question, please let us know.
Если есть конкретный вопрос, дайте нам знать.
#please-close

[2020-11-02 18:54] #65170 closed

[2020-11-02 18:55] craigktreasure commented on #65295
@ChaitanyaNaykodi-MSFT I've merged a fix for this. This issue can now be close. Thanks!

[2020-11-02 18:56] rgg-amahajan commented on #65391
@SaurabhSharma-MSFT thanks! @chez-charlie thank you. I will try it now and let you know -- it would help to as well clarify this in the description that appears underneath, when you select Indiana (East) from the timezone drop down. It just says this timezone observes daylight savings, and it is same as that of Eastern Time (US & Canada). So would be good to have this clarity there.

[2020-11-02 18:59] rayne-wiselman commented on #65023
@justinGrote. I've opened an internal task and will track the doc work there. That internal issue will close when the docs are updated. These public issues track whether the documentation is currently accurate, which it is. The docs should be updated  in line with the timeline Vikram described above.

[2020-11-02 19:05] #65023 closed

[2020-11-02 19:12] henbox opened #65415 "Add compute benchmark scores for Dav4 and Dasv4-series VMs"
The Dav4 and Dasv4-series VMs were released earlier in 2020, but have not been added to the table of compute benchmarks. Could these be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b285b7-df83-7949-4589-0323d9bd2f6e
* Version Independent ID: 96840643-9f73-624a-606e-c17195aed16c
* Content: [Compute benchmark

[2020-11-02 19:20] ChaitanyaNaykodi-MSFT commented on #65295
Thank you @craigktreasure.

[2020-11-02 19:20] #65295 closed

[2020-11-02 19:25] xiafu-msft commented on #65265
Hi @SatishBoddu-MSFT
Thanks for your reply! Users said they cannot send request using 2017-04-17 while they can use '2019-07-07'
https://github.com/Azure/azure-sdk-for-python/issues/13985

[2020-11-02 19:29] rwkt opened #65416 "Azure AD Domain Services - does it include SSPR?"
If I use "Azure AD Domain Services" (not an on-premise directory) what license do users need for "reset with on-prem writeback"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 650b028a-16b9-f560-a2aa-8613d85ffce6
* Version Independent ID: 0e2c2f6b-65bd-4dc8-1a45-956d20bf8a9b
* Content: [License self-service password re

[2020-11-02 19:33] asudbring commented on #63540
Assigning to PM for review

#reassign:@anavinahar

[2020-11-02 19:35] miloshb opened #65417 "Improve grammar and punctuation for increased comprehension"
The statement (beginning of anchor #create-subscriptions-using-arm-templates):
"You must have an owner, contributor, or Azure subscription creator role on an invoice section or owner or contributor role on a billing profile or a billing account to create subscriptions."

uses the word "or" 4 times, and it becomes very quickly very confusing how many options there are for the various permissions an

[2020-11-02 19:46] radumg commented on #46826
Thank you @ecfan 🙌 !

[2020-11-02 19:52] chitturs opened #65418 "Add an example that works in a straightforward manner"
The various examples given are VERY HARD to use since the json payload gets incorrectly formatted. There is a blurb which indicates that but it doesn't tell how to fix it. After spending many hours tinkering with this, the simplest way seems to be to add the json payload to a file and then call az.

The command below takes a file path and is the simplest way.

az vmss extension set --name "KeyVaul

[2020-11-02 20:04] MarileeTurscak-MSFT commented on #65416
@rwkt
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 20:07] mumian commented on #65095
To support OBO, the new max is 25 hours (PT25H).  I will update the articles.

[2020-11-02 20:10] kaptajnen commented on #41933
I was looking for this in the python SDK as well. Any updates on when/if this will be implemented?

[2020-11-02 20:11] PeterCLu commented on #63850
@jamesbannan, thanks for your patience. Our product team would like to reach out directly to figure out your use case and settings to get to the bottom of this before we move forward with product or doc changes. Could you reach out to me at peterlu@microsoft.com?

Also, if you could provide a screenshot of the exact error you were seeing, that would be very helpful.

Thanks so much!

[2020-11-02 20:13] ChaitanyaNaykodi-MSFT commented on #65412
Hello @TylerLeonhardt,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-02 20:16] ChaitanyaNaykodi-MSFT commented on #65407
Hello @johnayoub, Thank you for your feedback! We will review and update as appropriate.

[2020-11-02 20:16] memildin commented on #64320
Hi @Torxsmind, thanks for the feedback and for taking the time to help us improve the docs.

What is the problem you're trying to solve?

The specific permissions required for JIT are documented in [What permissions are needed to configure and use JIT?](https://docs.microsoft.com/en-us/azure/security-center/just-in-time-explained#what-permissions-are-needed-to-configure-and-use-jit)

What special

[2020-11-02 20:16] bgribaudo commented on #52706
Thank you, @jeffhollan, for the update! Looking forward to this! Any rough sense on timeline?

[2020-11-02 20:19] BijanSafai opened #65422 "Multiple syntax errors in template"
Parameter certificatePermissions is spelled certificatesPermissions when used.

The line "certificates": [parameters('certificatesPermissions')] is missing quotations around the value.

Final closing bracket is missing at end of file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2b7f3c4-f1c8-bef4-6b96-c33595705d29
*

[2020-11-02 20:21] MarileeTurscak-MSFT commented on #65422
@BijanSafai
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 20:25] spelluru commented on #61898
Updated. Thank you.

#please-close

[2020-11-02 20:25] #61898 closed

[2020-11-02 20:29] MarileeTurscak-MSFT commented on #65422
Thank you, you are correct! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/136289

[2020-11-02 20:29] #65422 closed

[2020-11-02 20:32] memildin commented on #65206
Hi @devlinse, this page is available as a Markdown file (from the top right corner, select **Edit**).
You can probably use that and an online converter to get what you're looking for.
Alternatively, you can copy each table and paste them into Excel. I just tried it with the Alerts for Azure network layer table and it worked perfectly.
Please let me know if either of those methods work for you.

[2020-11-02 20:43] iloving opened #65423 "Page doesn't match actual UI"
This page describes going to Security and Privacy.  I do not see this option.  I have Settings and Privacy.  I have tried clicking every available option and app passwords are not available anywhere.  These instructions appear to be woefully out of date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee

[2020-11-02 20:43] shizn opened #65424 "Not sure about admin name and password policy during az postgres up"
Learned that there are some requirements of postgres username and password from the failure of `az postgres up` command.
Later I found the requirements are specifically mentioned here on this page - https://docs.microsoft.com/en-us/azure/postgresql/quickstart-create-server-database-portal#create-an-azure-database-for-postgresql-server
It would be great if you can put the details inside this tutori

[2020-11-02 20:47] MarileeTurscak-MSFT commented on #65401
@SruthiJeelugula
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-02 20:53] PeterCLu commented on #65255
#assign:@sdgilley

Can you take a look?

[2020-11-02 21:10] suva180 opened #65425 "How to define a label for empty label for successful login for azure Dashboard"
[ I want to create a chart in dashboard for successful login. When I use kusco query, Query returns value for invalid username or account lock out.  It returns empty value in 'resultDescription' and '0' in ReturnType for successful login.
![image](https://user-images.githubusercontent.com/73725846/97919036-58b8f580-1d14-11eb-8b1c-e98de662909e.png) When I create a chart ( ex. pie chart)  for succes

[2020-11-02 21:22] kaylakirzinger commented on #63315
I am still waiting on a response with this and am still having the same issue. The portal is redirecting to https://ams-dev-scus-core.developer.azure-api.net/signup-oauth#provider=Aad&token={token}. I have not configured that anywhere that I can find and I don't have a page called "signup-oauth" in my portal. This is a stop work for me in terms of the developer portal and I could really use some a

[2020-11-02 21:31] shortpatti commented on #65405
#please-close

Engineering is discussing

[2020-11-02 21:31] #65405 closed

[2020-11-02 21:34] shortpatti commented on #65377
Thanks @Mahesh-MSFT, I'll track down the answers to your questions.

[2020-11-02 21:46] ChaitanyaNaykodi-MSFT commented on #63315
Hello @kaylakirzinger, my sincere apologies. From the 2nd screenshot shot above under manage -> authentication in "Implicit Grant" you have selected both `Access tokens` and `ID tokens`, but in the tutorial on Step 17 its mentioned only `ID tokens` should be selected, can you please tell me why you have selected both?

[2020-11-02 21:49] kaylakirzinger commented on #63315
Because I am treating my portal like a SPA. I tried unchecking Access tokens and it didn't make a difference, the issue is still occurring.

[2020-11-02 21:59] sfilipi opened #65426 "The last example seems incomplete, has un-matching curly braces"
The last example seems incomplete, has un-matching curly braces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [How to use batch transcription - Speech service - Azure Cognitive Services](https://docs.microsof

[2020-11-02 22:02] ChaitanyaNaykodi-MSFT commented on #63315
Thank you for the quick response @kaylakirzinger, in order to troubleshoot the exact issue I think we will need to have a closer look at the issue faced. Can you please send an email to "AzCommunity[at]Microsoft[dot]com" so that I can enable a one-time free support ticket for you. Please include below mentioned details in your email.
Subject: Attn: Chaitanya
In email body please include your [Subs

[2020-11-02 22:10] NHaiby commented on #61690
New and enhanced table extraction will be available shortly.

#please-close

[2020-11-02 22:10] #61690 closed

[2020-11-02 22:10] danabrash commented on #52975
I am also blocked from deploying the agent.  For me I do not get the azcmagent.exe installed at all.

The msi throws 1603 error and rolls back.  log attached.
[installationlog.txt](https://github.com/MicrosoftDocs/azure-docs/files/5478319/installationlog.txt)

Any help appreciated

[2020-11-02 22:11] JamesTran-MSFT commented on #65423
@iloving
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-02 22:31] mpchen opened #65427 "Add exemptions.json in the policy structure?"
I am wondering whether it makes sense to add exemption json files under the same policy structure so we have policy definition, assignments, and exemptions all in the same place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6b34e-7ed0-5ecd-6cf4-192e7393663c
* Version Independent ID: cb186c12-22a3-5ac4-667c-b1d07ab

[2020-11-02 22:40] BryanTrach-MSFT commented on #65379
@tiagonmas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-02 22:42] BryanTrach-MSFT commented on #65380
@tiagonmas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-02 22:49] lengau opened #65428 "App passwords documentation out of date."
This documentation is out of date. Both business-related methods have had the settings rearranged so the options stated in the steps no longer exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef84a2d
* Version Independent ID: e66f96b3-5b88-9304-1ec0-9e3bb8a2cfbe
* Content: [How to manag

[2020-11-02 23:01] DCtheGeek commented on #65427
#assign:DCtheGeek

[2020-11-02 23:02] DCtheGeek commented on #65427
@mpchen Thanks for the feedback and that's a great question.  I'll check with the PM and see if exemption files should be added to the standard recommended structure.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-11-02 23:09] BryanTrach-MSFT commented on #65381
@tiagonmas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-02 23:10] BryanTrach-MSFT commented on #65383
@tiagonmas Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-02 23:14] Vaibhav-Agar commented on #64214
Hi @juho-hanhimaki,
Yes, we do have plans of rolling the feature out in North Europe in the near future.

[2020-11-02 23:23] dcaro commented on #65412
cc @mikefrobbins

[2020-11-02 23:29] TylerLeonhardt commented on #65412
The quick start also mentions Azure CLI... even though PowerShell is an option for the actual Function App.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-azure-function-azure-cli?tabs=bash%2Cbrowser&pivots=programming-language-powershell

[2020-11-02 23:38] kenieva commented on #65427
@mpchen At the moment, exemptions are not supported in our Azure Pipelines nor Github Action integrations. This change is coming down the pipeline soon. Once it is released, then we will update the documentation. Thanks!

[2020-11-02 23:41] NavtejSaini-MSFT commented on #65393
@balintbako We are checking this with our Doc author.
@ajlam Please confirm the timeline or plan for the support.

[2020-11-02 23:42] NavtejSaini-MSFT commented on #65399
@asampson68 We are checking this and will get back to you.

[2020-11-02 23:43] DCtheGeek commented on #65427
@mpchen With @kenieva's clarification, I'll close this issue for now.  I still have it on my list for when that support is added, so it will get doc'ed in the future.  Thanks for the question and suggestion!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-11-02 23:43] #65427 closed

[2020-11-02 23:44] yoshir6 commented on #20348
(removed)

@tom-blake You need to use the properties:

[code]
Your example is using the older property names (vnetResourceId & isSwift) which applies to the vnetconnections object.

I had success using @ScottHolden s method, though it would be nice if MSFT got around to actually documenting the API for this.

[2020-11-02 23:46] mikefrobbins commented on #65412
Content to update the quick start: MicrosoftDocs/azure-docs-pr#114064

@ggailey777, Let me know if you need assistance updating these docs.

[2020-11-02 23:52] ChaitanyaNaykodi-MSFT commented on #64703
Hello @BassFaceIV,  after having a discussion within the team I have updated the document. The "Microsoft-", "EventGrid-" and "System-" are the reserved prefixes. Event domain and topic names which start with these prefixes  will throw the "400" error as mentioned in the document. Thank you once again for the feedback provided, please tag me in your reply if there are any additional concerns.

[2020-11-02 23:59] Karishma-Tiwari-MSFT commented on #65415
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 00:02] Karishma-Tiwari-MSFT commented on #65418
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-03 00:30] davidkydd opened #65430 "Mentions manually configuring routeTable without mentioned setting outboundType"
Document mentions custom routeTable configuration and includes several CLI samples for cluster creation, none of which include any mention of the setting "--outboundType userDefinedRouting" (as described here https://docs.microsoft.com/en-us/azure/aks/egress-outboundtype). This is setting customers up for trouble, as they should follow the "egress-outboundType" doc and set the UDR flag when creati

[2020-11-03 00:53] cynthn commented on #65415
@henbox Thanks for the feedback! We don't have benchmark scores for these sizes yet. As soon as we have them, we will get the information added into the topic.

#please-close

@DavidBerg-MSFT

[2020-11-03 00:53] #65415 closed

[2020-11-03 00:55] BharathNimmala-MSFT commented on #65386
@tiagonmas Thanks a lot for bringing this to our notice, our team will review the feedback and update the document accordingly.

[2020-11-03 00:57] BharathNimmala-MSFT commented on #65384
@tiagonmas Thanks a lot for bringing this to our notice, our team will review the query and get back to you at the earliest.

[2020-11-03 00:59] BharathNimmala-MSFT commented on #65385
@tiagonmas Thanks a lot for bringing this to our notice, our team will review the feedback and update the document accordingly.

[2020-11-03 01:08] BharathNimmala-MSFT commented on #65417
@miloshb Thanks a lot for sharing your feedback and helping us improve our Azure documentation. We will take this feedback to our document author and see how we can improve this.

[2020-11-03 01:09] BharathNimmala-MSFT commented on #65425
@suva180 Thanks for your query, we will look into this and get back to you at the earliest.

[2020-11-03 01:11] BharathNimmala-MSFT commented on #65400
@JeremyTBradshaw Thank you for your feedback, our team will review the feedback and circle back at the earliest.

[2020-11-03 01:13] BharathNimmala-MSFT commented on #65395
@alistairl Thank you for your query, our team will review and get back to you at the earliest.

[2020-11-03 01:16] HeidiSteen commented on #65328
@heaths Docs are updated per this PR:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/136266  Thanks for filing the issue!  Changes should be live in the 11/03 a.m. publish.

#please-close

[2020-11-03 01:16] #65328 closed

[2020-11-03 01:17] SeaGT opened #65431 "Incorrect information"
[Enter feedback here]
Hi,
Your doc states that I can go into Billing-> Invoices and if an Invoice is past due, I will see a blue Pay Now option. That is incorrect, I'm an Admin and I'm trying to pay past due invoices and there is no way to pay them using a CC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b4e8220-2dd

[2020-11-03 01:49] simonezzzz opened #65432 "Certificate subject name validation can be added in to "Troubleshooting common routing issues" page"
Recently we have seen many of customers encounter 503 issue because the  "Certificate subject name validation" is in enabled state while the backend host name is IP address, which may cause health check fail.
Here is the doc for explaining this: https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#why-is-https-traffic-to-my-backend-failing

But customers may not pay attention to above l

[2020-11-03 01:50] BharathNimmala-MSFT commented on #65068
@TestUser0811 My sincere apologies for delay in getting back to this thread. I am further requesting our document author @lgayhardt to further review the thread and share any pointers they might have regarding the issue you use and update the document as needed.

[2020-11-03 01:52] rjweyers-luma commented on #38069
Just thought I would leave my two cents here in case anyone comes across the same problem.

In my particular case the API I was integrating was returning a HTTP status 301 redirect to include a trailing slash in the URL.
It would seem that the web activity in Azure Data Factory does not currently support following redirects, meanwhile Postman and other tools and libraries usually follow redirects

[2020-11-03 01:53] Grace-MacJones-MSFT commented on #65378
@VikasPullagura-MSFT  Thanks for submitting a PR  to fix this bug.

[2020-11-03 02:02] Subhraj07 commented on #64991
Hi @paulbouwer

Thanks for your input.

I have attached the screenshot of the above details:
![Screenshot from 2020-11-03 07-30-59](https://user-images.githubusercontent.com/14942913/97938163-b433c380-1da6-11eb-9e4a-76866ed2033e.png)

[2020-11-03 02:37] dooriya commented on #65203
Hi @ChaitanyaNaykodi-MSFT My current support plan doesn't allow me to create a technical support. Is there any other way that I can connect to the support/dev team from Power Apps or API Management team through an MS internal channel?

[2020-11-03 02:46] femsulu commented on #65166
Hi @chuckthompsonprofisee , sorry for the delayed response.
AFAIk , the use-case for ArmApiControl is speicfic to Azure Resource Manager API operations only. Adding @tfitzmac to confirm.
Follow [these steps](https://docs.microsoft.com/en-us/graph/use-the-api) to call MS Graph API.
You will need to create and register your app to use MS Graph API.
![image](https://user-images.githubusercontent.com/

[2020-11-03 02:47] femsulu commented on #65166
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-03 02:47] #65166 closed

[2020-11-03 02:50] femsulu commented on #65018
@lgayhardt , can you please review the requested doc changes above and help update pls?

[2020-11-03 03:30] CHDAFNI-MSFT opened #65433 "Add verbiage for VM size restrictions on disk utilization & bandwidth"
The size of a VM (that supports premium disk) also has a disk performance limitation. The article does not state whether the VM size can inhibit or otherwise throttle overall disk performance capability. I'm assuming regardless of the disk performance tier, the VM size will still have a performance ceiling that the new disk performance tiers cannot override.

Please consider adding a bullet to the

[2020-11-03 03:49] BryanTrach-MSFT commented on #65413
@veteixei Can you please provide us with a little more information? We have assigned your feedback to an engineer but it would help to have a little more context.

Thank you and we look forward to your reply.

[2020-11-03 03:58] VikasPullagura-MSFT commented on #65430
@davidkydd
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-03 03:58] VikasPullagura-MSFT commented on #65430
@zr-msft @mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-11-03 03:59] VikasPullagura-MSFT commented on #65433
@CHDAFNI-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-03 03:59] VikasPullagura-MSFT commented on #65433
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-11-03 04:01] BharathNimmala-MSFT commented on #65130
@jtuliani Thanks again for your feedback, I have raised a PR to include the VM creation as pre-requisite. Once its reviewed and approved it will be merged with the live document.

 Hope the above information helps. At this point it appears that there's no further edits or updates needed to the documentation, other than what is already listed. We will go ahead and close this issue, however if you h

[2020-11-03 04:01] #65130 closed

[2020-11-03 04:04] VikasPullagura-MSFT commented on #65432
@simonezzzz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-03 04:04] VikasPullagura-MSFT commented on #65432
@duongau
Can you please check and add your comments on this doc update request as applicable.

[2020-11-03 04:06] VikasPullagura-MSFT commented on #65428
@lengau
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-03 04:06] VikasPullagura-MSFT commented on #65428
@curtand
Can you please check and add your comments on this doc update request as applicable.

[2020-11-03 04:08] rrajan82 opened #65434 "Please include a note the section 'SAML signing certificate' stating that XML data returned using App Federation Metadata Url 'https://login.microsoftonline.com/<Directory ID>/federationmetadata/2007-06/federationmetadata.xml?appid=<Application ID>' contains Byte Order Marker"
We recently worked on a case wherein the customer was parsing XML data rendered through the URL 'https://login.microsoftonline.com/{tenant-id}/federationmetadata/2007-06/federationmetadata.xml?appid={app-id}' in AWS.

AWS was unable to parse the XML data due to a nonprintable ASCII character that is ï»¿ before the actual XML tags.

We opened a request with the product engineering team for the issu

[2020-11-03 04:11] shashishailaj commented on #65076
@VMrenato We have discussed with the internal content team and they have an internal work item related to this. So we will be closing this as of now. As the SQL related information as suggested needs to be verified by the engineering , it would take time but the feedback is surely in consideration at this point and we will work internally to get this added to the document as per our discussion wit

[2020-11-03 04:11] #65076 closed

[2020-11-03 04:14] TravisCragg-MSFT commented on #65086
@bhankam We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-03 04:14] #65086 closed

[2020-11-03 04:14] shashishailaj commented on #65206
@devlinse Hope the information provided by Melvyn above helped. Please try to copy the markdown or directly copy paste from portal to Microsoft Excel and that should work . We will now close this issue. Should you have any further queries , please tag us to your reply and we will be happy to help further.

Thank you .

[2020-11-03 04:14] #65206 closed

[2020-11-03 04:23] shashishailaj commented on #65434
@rrajan82 Thank you for your detailed feedback. We will investigate this and update the thread.

[2020-11-03 04:32] AnuragSharma-MSFT commented on #65270
@curib Thanks for providing the information

@RonnieQuan We will close the thread now. Please let us know if you have any other queries and we can gladly continue our discussion.

[2020-11-03 04:32] #65270 closed

[2020-11-03 04:36] hariAtCba opened #65435 "Need to add "enableNoPublicIp" as true in the properties, clearly says not to"
This is misleading: "Add the parameter **(not as a property)** to one of the following templates" - it is meant to go under the "properties" attribute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958bd4e0-a052-a55e-7a37-1cbcdbf2dbbe
* Version Independent ID: 1b74b0d1-c984-4fd0-899f-72ae6437c286
* Content: [Secure clu

[2020-11-03 04:37] SnehaAgrawal-MSFT commented on #65424
@shizn Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-03 04:50] SubhashVasarapu-MSFT commented on #65053
@dcbrown16, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-03 04:50] #65053 closed

[2020-11-03 04:53] #65264 closed

[2020-11-03 04:54] ram-msft commented on #65426
@sfilipi Thanks for the feedback! We will review and update accordingly.

[2020-11-03 05:11] rasavant-ms opened #65437 "Event Hub details incorrect on stream-monitoring-data-event-hubs page"
The document mentions the following which is incorrect:
"The number of partitions allows you to parallelize consumption across many consumers. A single partition can support up to 20MBps or approximately 20,000 messages per second."

The maximum throughput of 20MBps or 20,000 messages per second (whichever occurs first) is supported by an entire Event Hub and is distributed among the total number

[2020-11-03 05:44] SwathiDhanwada-MSFT commented on #65437
Thanks for your feedback @rasavant-ms.

Assigning to content author @bwren for review and document enhancement.

[2020-11-03 05:53] adriannasui commented on #36178
Does this 64 character limitation also apply to Function Apps on Linux?
If so, it is impossible to set standard configuration for Azure functions, as they exceed 64 chars:

AzureFunctionsJobHost__extensions__durableTask__extendedSessionIdleTimeoutInSeconds
AzureFunctionsJobHost__extensions__durableTask__maxConcurrentActivityFunctions
etc.

[2020-11-03 06:18] HarithaMaddi-MSFT commented on #65435
@hariAtCba - Thanks for posting the inputs. Below is sample ARM template section and "not as a property" refers to not property under "**properties**" attribute and it should be added as parameter inside it.

It appears clear from the documentation, please suggest if you think otherwise.

`{
            'type': 'Microsoft.Databricks/workspaces',
            'apiVersion': '2018-04-01',

[2020-11-03 06:43] ravishankerb opened #65445 "License needs"
I undestand that to cofigure conditional terms and conitions, we need P1/P2 license
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/terms-of-use

But does every user accessing any app configured with this Terms and conditions policy need a P1/P2 license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-11-03 06:48] HarithaMaddi-MSFT commented on #65370
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - Q&A or stack overflow.
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread and post it's link here and tag me. I will now proceed to close this issue. Feel free to comment

[2020-11-03 06:48] #65370 closed

[2020-11-03 06:53] vipulsparsh commented on #65201
@jwm2409 While investing more on this does show that if you setup the Google as your IDP by using https://docs.microsoft.com/en-gb/azure/active-directory/external-identities/google-federation correctly  the redemption process DOES NOT ask to create a Microsoft account and should use accounts.google.com to authenticate the user.

However, [if any user is invited via sharepoint and One drive there m

[2020-11-03 06:55] SadiqhAhmed-MSFT commented on #65431
@SeaGT Thanks for the comment. We will review this information with the content author and get back to you with an update shortly.

[2020-11-03 06:57] SadiqhAhmed-MSFT commented on #65174
@joefunk We will now proceed to close this issue. If you have any further questions in this matter, feel free to tag us in your reply and we will gladly continue the discussion.

[2020-11-03 06:57] #65174 closed

[2020-11-03 06:59] BassFaceIV commented on #64703
@ChaitanyaNaykodi-MSFT so is the fact that I've been unable to create a domain called "test" a bug that needs to be reported to the Azure team? Likewise, should my ability to create a "Microsoft" and "System" domain be reported as bugs as well?

[2020-11-03 07:10] jwm2409 commented on #65201
@vipulsparsh Thank you again for your response. Based on your first response I started experimenting with the guest user in Azure AD (since i eventually realized that is what you tried to make clear) to see if it makes a difference and indeed, it works now. I first create the guest user after which i sent the invite from the SharePoint site.

My observation, the user gets an invite to connect to t

[2020-11-03 07:16] #65366 closed

[2020-11-03 07:18] vipulsparsh commented on #65201
@jwm2409 Thats because the Sharepoint sharing works in a different way, might be streamed lined in future. If you share a site from sharepoint, recipients will be prompted to sign in with :
A Microsoft account
A work or school account in Azure AD from another organization

And since by that time we dont have any guest user created in AAD, it asks the end user who is getting the invite to create a

[2020-11-03 07:22] Anmolgan81 commented on #65204
I want to call out that the concept of stored procedure will not work in our case since we have multiple tables with more than 1 million records with at least 20-30 columns in each table, in the case of stored procedure it scans all the source and destination columns and then transfers the updated deleted and inserted records hence in our case benchmark for single table pipeline run is 2mins and i

[2020-11-03 07:24] #64214 closed

[2020-11-03 07:25] #65356 closed

[2020-11-03 07:33] ChrisSommers commented on #65404
You can see here that the PIP is greyed out and cannot be changed to 'None':

![image](https://user-images.githubusercontent.com/35919259/97959247-dc232700-1da6-11eb-9e28-7ad098a80557.png)

[2020-11-03 07:38] ChrisSommers commented on #65404
I'm also seeing the following message. Unsurprising as the PIP has indeed been deleted:

![image](https://user-images.githubusercontent.com/35919259/97959571-89963a80-1da7-11eb-80dd-8d294d13a03b.png)

[2020-11-03 07:53] qmutz opened #65447 "EOF end of FIELD []"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a9eeb5e-cbe9-8343-3db0-13fb148ebb1a
* Version Independent ID: 684bb876-38ee-4ad6-2653-40ee84383cd5
* Content: [Import container images - Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-ima

[2020-11-03 07:55] RubenDelange commented on #65143
@RyanHill-MSFT thank you for this update. This indeed fixes my problem, many thanks!

Maybe you can also modify the last screenshot in the document so that it actually shows the "The Notification was successfully sent to the Push Notification System" message instead of the error message?

Anyway, I'm no longer blocked!

[2020-11-03 08:05] psmanhas commented on #65447
@qmutz Can you help me understand your query in detail so I can help you out further on this?

[2020-11-03 08:07] gherik opened #65448 "Review your time range setting"
Brian,
Please review your time range setting in both examples,

Event
| where TimeGenerated < ago(1hr)
| where EventID == 4625

should be (larger then 1 hour ago)

Event
| where TimeGenerated > ago(1hr)
| where EventID == 4625

Regards,
Erik Luth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10638ad5-51c2-679d-2ac0-35

[2020-11-03 08:15] HarithaMaddi-MSFT opened #65449 "Maximum length of a parameter in data factory to be added to documentation"
Hi Team,

Customer would like to know the maximum length of a parameter in Azure data factory which is again referred as parameter in ARM template and hence raising this issue to add this information to the below document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Ind

[2020-11-03 08:16] HarithaMaddi-MSFT commented on #65449
@tfitzmac - Hi Tom, can you please help take a look at the ask above and share your thoughts.

[2020-11-03 08:16] amanmcse commented on #65194
@Raymoncorrea Have you confirmed if it was not set to false manually? This step is required if we manually reset the feature as documented here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/tshoot-connect-sso#manual-reset-of-the-feature
I verified a new deployment with another tenant and it is enabled by default. Feel free to tag me in your reply if you have any further question.

[2020-11-03 08:16] #65194 closed

[2020-11-03 08:55] Klaas- opened #65450 "Include how to handle HANA Upgrades"
Hi,
we have recently upgraded our hana instances to 2.00.052.00 . After this the backups stopped working. We had to rerun the pre-req script. Here I noticed that the sap internal role is no longer needed and a new dependency was added to the backup admin role.

Your FAQ should include guidance on how to handle HANA upgrades and maybe you should consider announcing changes like the drop of the sap

[2020-11-03 08:56] dcurwin commented on #65450
#reassign:pvrk

[2020-11-03 09:02] Klaas- commented on #58365
#65450 removal of the dependency of the sap internal role was not announced on the feed ...

[2020-11-03 09:03] PatrikHanssonIntersolia opened #65451 "Add Firewall setting for tracking file changes."
I believe this should mention that the "Firewall Settings must be Allow All Networks " on the storage account.
https://docs.microsoft.com/en-us/azure/automation/change-tracking/manage-change-tracking#track-file-contents

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53fc5d6e-e0cf-7b56-c3b3-6f7aa7d58b37
* Version Indepe

[2020-11-03 09:07] pvrk commented on #65450
@klaas:We just released this version and planning an Azure Update in Nov 2nd week (along with few other improvements). We do have steps to handle migration but I realized we don't have one for patches. Will add that soon.

Thanks for continued feedback. Appreciate that.

[2020-11-03 09:08] pvrk commented on #58365
@Klaas- : Yes, we just released this version and an Azure update is on the way.

[2020-11-03 09:12] SwathiDhanwada-MSFT commented on #65448
@gherik Thanks for your feedback. We will review the issue and get back to you shortly.

[2020-11-03 09:16] sumitsar opened #65452 "Machine Learning Services(Formerly R Services) in Preview in Managed Instance"
The page shows that ML services is not supported on Managed Instance but it's in supported in Azure SQL Database. This seems incorrect.
ML Services is now in preview on SQL MI https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/machine-learning-services-overview

ML Services is out of support from Azure SQL DB now.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit thi

[2020-11-03 09:24] SwathiDhanwada-MSFT commented on #65451
@PatrikHanssonIntersolia Thanks for your comment. We will review the issue and get back to you shortly.

[2020-11-03 09:36] SwathiDhanwada-MSFT commented on #64994
@MSEvanhi Can you please provide your inputs on this issue ?

[2020-11-03 09:37] GitaraniSharma-MSFT commented on #64756
@manu4rhyme , below is the update from the backend team:

This is a known issue that we’ve also identified with the ARM template creation.

Right now, the following workout may work (depending on your setup for automating):
-	Create Frontdoor and Rules Engine Config FIRST, without having Front door reference the Rules Engine config
-	THEN, make another ARM template call, on the same Frontdoor, but

[2020-11-03 09:38] AnuragSharma-MSFT commented on #65326
@drdamour Thanks for the feedback. This is being assigned to content author to review and update as appropriate.

[2020-11-03 09:38] slebodat opened #65453 "Apply rule button disabled"
Hi there,

I'd like to disable finding CVE-2019-18276 for as long as it's not patchable. However, when I try to create such rule (CVEs value CVE-2019-18276 & 'Non-patchable' checkbox checked), I cannot select subscription (the checkbox seems to be disabled) and 'Apply rule' button is disabled as well.

Am I missing something? is there anyonther way to create such rule? do you have any template?

-

[2020-11-03 09:38] danrich0 opened #65454 "PhoneFactorProtocolProvider : newPhoneNumberEntered is always false"
On using Web.TPEngine.Providers.PhoneFactorProtocolProvider the output claim newPhoneNumberEntered is always false?

The orchestration step 6 in this sample (https://github.com/azure-ad-b2c/samples/blob/master/policies/mfa-email-or-phone/policy/SignUpOrSignin.xml) is only checking claim newPhoneNumberEntered exists and not that the value is True?

On running orchestration step 5 (PhoneFactor-Input

[2020-11-03 09:41] DGuest44 opened #65455 "Type of Administrator required"
The use of an OATH hardware token can be a great option.  Many people would like to make sure that this can be assigned by an administrator using the least privilege principle.  The document describes that an administrator can perform the task but not which Azure AD Role is required.  I believe at present this is Global Admin (rather than authentication admin) I think this would be good to state e

[2020-11-03 09:44] AnuragSharma-MSFT commented on #65452
@sumitsar Thank you for the feedback. We are actively investigating and will get back at the earliest.

[2020-11-03 09:50] yanxiaodi opened #65456 "Incorrect PowerShell script in Docs"
I just found that in this page: [Tutorial: Upload image data in the cloud with Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-upload-process-images?tabs=dotnet), all the PowerShell scripts are the same with Azure CLI. Is it correct? For example:
![image](https://user-images.githubusercontent.com/3395915/97970730-dc630700-1e26-11eb-8b19-3b33853ba6a1.png)

Thanks.

---
#

[2020-11-03 09:54] souravmishra-msft commented on #65073
Closing this thread as received no more updates on this.

[2020-11-03 09:54] #65073 closed

[2020-11-03 10:06] savjani commented on #65393
Hi @balintbako - Could you please send an email to Ask Azure DB for MariaDB <AskAzureDBforMariaDB@service.microsoft.com>. I would love to talk to you and learn more about your use cases for MariaDB 10.4 and 10.5

[2020-11-03 10:25] sgdesmet opened #65458 "Support of JWE for id_token_hint"
Does `id_token_hint` also support encrypted JWTs (JWE), or only signed JWTs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b815329f-05ec-33b3-7af0-21c2a9dc05b5
* Version Independent ID: d983fad1-839c-7389-8636-7c6126876c02
* Content: [Define an ID token hint technical profile in a custom policy - Azure AD B2C](https:/

[2020-11-03 10:32] SadiqhAhmed-MSFT commented on #65278
@Lahiru89 The step #3 refers to creation of vNet to vNet connectivity. So, you need to create a recovery network (with on-premises IP range) that should have vNet peering enabled with Azure network. Please refer to infrastructure view before & after failover for details.

[2020-11-03 10:50] msft-jaiverma commented on #52920
In case you enable - "isAssignableToRole",  you can not change the membership type to dynamic as this feature only supports 'Assigned' membership type. Please refer here - https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept

[2020-11-03 11:16] mail2hjain commented on #65226
Thanks for taking this up @SatishBoddu-MSFT
May I know when to expect an update on this? Thanks.

[2020-11-03 11:28] AshokPeddakotla-MSFT commented on #65150
I have assigned the issue to the content author @kgremban  to evaluate and update  the doc as appropriate.

[2020-11-03 11:43] manu4rhyme commented on #64756
Thanks @GitaraniSharma-MSFT for clarifying
Yes, the same workaround is suggested in the stack overflow question too, and am currently using that

Though, it's kind of hacky, almost doubles the deployment time etc. and I'm glad to know that the backend team is already working on it.

[2020-11-03 12:05] JayaChatterjee-MSFT commented on #65144
@lukipro Thanks for reporting this item! Document has been updated and published. We appreciate the feedback!
Just to reconfirm, this error is thrown by your logic app when you are verifying the value of "xms_mirid" as condition to further proceed?

[2020-11-03 12:47] lukipro commented on #65144
Thanks for picking this up.

The error is shown in the Portal in the `Logic App`/`Settings`/`Authorization` blade. Just try to use `Add custom claim` and specify a claim value longer than 80 characters.

[2020-11-03 12:53] JayaChatterjee-MSFT commented on #65284
@WillEastbury Could you please take a look into this?

[2020-11-03 13:00] Arithmomaniac opened #65461 "Redundant continuationToken guidance in Blob enumeration"
The "Manage how many results are returned" section of this page talks about how you need to "check the value of the continuation token to determine whether it is null", and the code samples also handle this check manually.

While this is true in the underlying REST calls, it appears that `AsPages` already does the continuation checking/looping, meaning that the consuming code doesn't have to do it

[2020-11-03 13:18] ChrisSommers opened #65462 "Using WAG/WAF and regional VNet integration at the same time"
I have a web app which needs outbound connectivity to an on-premises database (tcp1433) over an ExpressRoute. The inbound connections come from the Internet but not directly - I want to place a WAG/WAF in front of the web app to give me layer 7 protection.
Do I have to use an ASE for the web app or can I use 'regional vnet integration' for the database connection at the same time as using the WAG/

[2020-11-03 13:26] GitaraniSharma-MSFT commented on #64756
Sure, thank you @manu4rhyme .

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-11-03 13:26] #64756 closed

[2020-11-03 13:31] shashishailaj commented on #65445
@ravishankerb Thank you for your query. We will investigate and update the thread.

[2020-11-03 13:32] shashishailaj commented on #65453
@slebodat Thank you for your feedback  We will investigate and update the thread.

[2020-11-03 13:33] shashishailaj commented on #65454
@danrich0 Thank you for your feedback . We will investigate and update the thread.

[2020-11-03 13:35] shashishailaj commented on #65455
@DGuest44 Thank you for your inputs. We will have this suggestion reviewed and update this thread.

[2020-11-03 13:36] shashishailaj commented on #65458
@sgdesmet Thank you for your inputs. We will have this suggestion reviewed and update this thread.

[2020-11-03 13:39] shashishailaj commented on #65456
@yanxiaodi Thank you for pointing this out. We will investigate and update the thread.

[2020-11-03 14:08] rmiguelac opened #65463 "Wrong redirect at AD Hybrid doc for IdFix"
Prepare your on-premises data topic has **IdFix** link which does not redirect to correct page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisites and hardware](https://docs.microso

[2020-11-03 14:22] Vincent0818 opened #65464 "Unable to remove VMSS from Appgw via CLI"
Hey

i m trying to remove vmss from appgw BE, somehow it failed on portal. it throwed some errors indicated that below error.

**"Deployment to resource group 'VVnetRM1' failed.
Additional details from the underlying API that might be helpful: At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage detai

[2020-11-03 14:23] aperally opened #65466 "Add link to ARM version of the scaling tool"
This article states it's for the classic WVD, it would be great if you could add a link to the ARM version of the same.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd423d2-dba9-a2ef-5222-aeed7a064393
* Version Independent ID: c07a6696-37fd-f026-c872-6c243dc45dcb
* Content: [Scale session hosts Azure Automati

[2020-11-03 14:29] fbuser1 opened #65467 "UpdateSyncSchema.ps1"
Hi everyone, I'm trying to run script from this page: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-sql/database/scripts/update-sync-schema-in-sync-group.md

UpdateSyncSchema.ps1 is obsolete (last edit Jan 10, 2018) and it use custom object what impossible to find like "New-Object "System.Collections.Generic.List[AzureSqlSyncGroupSchemaTableModel]" even if you try to adapt

[2020-11-03 14:39] #65054 closed

[2020-11-03 14:48] SnehaAgrawal-MSFT commented on #65180
@taromielnaz Since we didn't here back from you. We will now close this out but if you feel you need more information please just let us know.

[2020-11-03 14:48] #65180 closed

[2020-11-03 14:51] SnehaAgrawal-MSFT commented on #65266
@billspat Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-03 14:57] chuckthompsonprofisee commented on #65166
Thanks, I have read that on the graph api, but how do you call it from in the createuidefinition.json portion of the arm template?

[2020-11-03 15:07] realrubberduckdev commented on #44538
In case this is helpful to others, I hit this because of a silly mistake. The `id` is case sensitive and in my query, I had used `Id`. Hopefully, it saves you some time if you have done the same mistake :-)

[2020-11-03 15:16] tfitzmac commented on #65253
@davidsmatlak - do you know the answers for these questions?

[2020-11-03 15:29] rvvincelli commented on #36458
No matter what this spontaneous slots swap is very scary, anyway as we need to create both of these `WEBSITE_` variables we are filling in ARM the latter ourselves too as per definition [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentshare). The webapp configuration diagonostic tool on the portal shows no error anymore.

[2020-11-03 15:29] cephalin commented on #64690
Looks like it's already updated. #please-close

[2020-11-03 15:29] #64690 closed

[2020-11-03 15:31] #65069 closed

[2020-11-03 15:34] timvanderweijde commented on #64856
I have the same issue with version 2.13 & 2.14

[2020-11-03 15:34] timvanderweijde commented on #64856
@EvilSmiff  any update on this matter?

[2020-11-03 15:36] janossch opened #65468 "How to get the size of the request body"
Hi everyone!

Are there any other possibility to reliably get the size of the request body in API management policies?

Content-Length is omitted when Transfer-Encoding is present. [rfc7230#section-3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2)
This can happen when you are sending data in the body which size is unknown beforehand. [rfc7230#section-4.1](https://tools.ietf.org/html/rfc723

[2020-11-03 15:42] npalmiusfutr opened #65469 "Are there 160 sockets per VM?"
The section [My node application is making excessive outbound calls](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-nodejs-best-practices-and-troubleshoot-guide#my-node-application-is-making-excessive-outbound-calls) states that

I am assuming that this is to stay within the available SNAT ports for each host. However, the [Troubleshooting intermittent outbound connection error

[2020-11-03 15:44] shashishailaj commented on #65069
@oleborne The document has been updated . The changes would go live in the next 48 hours.

Thank you.

[2020-11-03 15:51] kamilzzz opened #65470 "Highly available VPN Gateway multiple Azure regions"
In order to achieve highly available solution we are deploying our services to two Azure regions and using front door/traffic manager to failover client connections to a secondary region if a region or application services are down.

We have bidirectional communication to/from onpremise network (onpremise services calling our app and our app calling onpremise services).

I'm not sure if it's possi

[2020-11-03 15:58] SatishBoddu-MSFT commented on #65226
@mail2hjain We are checking on this please stay tuned.

[2020-11-03 16:03] zerolagtime opened #65471 "Bandwidth Sums, Container Build Minutes are Missing"
The pricing calculator has a dedicated section that charges $0.11 (US Gov VA) per GB transferred per month over 5GB.  That limitation is not indicated on this page.
Also not on this page are Container Build which in the preview default to 100 minutes per month.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe5a2a3-6f

[2020-11-03 16:06] JamesTran-MSFT commented on #65463
@rmiguelac
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-03 16:06] mikeelliottuk opened #65472 "Purge script for Linux agent is not a valid .sh file"
Hi,  I attempted to carry out the instructions published at https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-linux-troubleshoot#purge-and-re-install-the-linux-agent.  The purge_omsagent.sh file contains html rather than shell script.

Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de16fd2-54aa-

[2020-11-03 16:06] mromp-swc opened #65473 "Computer Account Password Expiration"
Is this statement correct?

"For computer accounts, there is a default password expiration age set in AD at 30 days."

While computers change their passwords by default every 30 days, I did not think there was actually a default expiration period enforced by AD.

https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/jj852252(v=ws.11)#default-values

It i

[2020-11-03 16:12] markjbrown commented on #64658
PR for this has been merged to correct this.. Thanks for reporting.

#please-close

[2020-11-03 16:12] #64658 closed

[2020-11-03 16:13] meeldurb opened #65475 "Types cannot be changed when NaNs are in column"
[Enter feedback here]

When i want to change my Date columns to a DateType, it cannot be done.
There are alot of null values here, but also date values. I would assign the column as that type, but not possible.

Attached an image of the portal
![image](https://user-images.githubusercontent.com/23190761/98011082-b7a36b00-1df7-11eb-8848-cb1b6456bcc7.png)

---
#### Document Details

⚠ *Do not edit th

[2020-11-03 16:15] mikeelliottuk commented on #65472
**update.

The wget command seems to be pulling down the actual github web page itself rather than the bash script.  Am I doing something wrong?

[2020-11-03 16:19] mromp-swc commented on #65473
I realized that article contradicts my statement, but there are others contradicting it. So the default behavior is still not clear.

[https://techcommunity.microsoft.com/t5/ask-the-directory-services-team/machine-account-password-process/ba-p/396026](url)

[https://adsecurity.org/?p=280](url)

[2020-11-03 16:24] Chai-NED opened #65476 "GA or Preview?"
Hi - This is a GA feature per https://azure.microsoft.com/en-us/updates/ga-policy-addon-for-azure-kubernetes-service/, right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d98d35-46d2-eb6f-6a0b-21df4d6438a8
* Version Independent ID: 1a7a0c68-fa1c-d457-2be9-a919d4a5e64f
* Content: [Learn Azure Policy for Kubernetes -

[2020-11-03 16:33] BharathNimmala-MSFT commented on #65472
@mikeelliottuk Thank you for reaching out to us , we will review your query and get back to you at the earliest.

[2020-11-03 16:36] LCI-MattJ opened #65477 "Clever SSO setup instructions are out of date"
New link is https://schools.clever.com/instant-login/settings and the screenshots need to be updated.
New path to SSO setup is https://schools.clever.com > Menu > Portal > SSO Settings

[https://ibb.co/2dhy451](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4671de-22be-bbf3-3af5-29d8c958a91a
* Version Independen

[2020-11-03 16:39] saturnreturn commented on #30464
I agree, this is a bug - we should be able to release a SAML claim with this name one way or another

[2020-11-03 16:45] DCtheGeek commented on #65476
#reassign:DCtheGeek

[2020-11-03 16:48] DCtheGeek commented on #65476
@Chai-NED Thanks for the question. This article covers the Azure Policy Add-on for AKS, Arc enabled Kubernetes, and AKS Engine. Of those, the Add-on for AKS has been GA'd.  The Add-on for both Arc enabled Kubernetes and AKS Engine is still in Preview.  The headers for installing the add-on on AKS Engine and Arc enabled Kubernetes still have `(preview)` in them to denote this status. Hope that clea

[2020-11-03 16:48] #65476 closed

[2020-11-03 16:48] darkoa-msft opened #65478 "Manual scaling in with Silver durability is not covered"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-scale-in-out#manually-remove-vms-from-a-node-typevirtual-machine-scale-set

The section mentions Bronze durability and manual cleanup.
But it never mentions the fact that if you have Silver and scale in to less than 5 nodes, the manual cleanup is also required - do not expect Service Fabric to do it for you.

Change to in

[2020-11-03 16:48] asergaz commented on #64993
Hello @yahanda can you please confirm if the same happens when using another language?

Thanks!

[2020-11-03 16:52] Chireven opened #65479 "Sample Code makes this overly complicated and doesn't work"
Just a heads up -- I'm an experienced admin and I've had nothing but problems following this page.  I have services in azure that have private endpoints and I'm trying to utilize these instructions to create the DNS server in azure to forward my on-prem requests to so they can traverse our expressroute connection.

There is a dependency with powershellget that isn't met.  Unless you've upgraded it

[2020-11-03 16:52] rolyon commented on #63173
Hi @jackfrancis
Thanks for the feedback. Sorry I missed this issue. I added some text to the docs to indicate that the apiVersion must be 2018-09-01-preview or later.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-template#new-service-principal
thanks

[2020-11-03 16:53] rolyon commented on #63173
Let us know if you have any additional feedback.
thanks

[2020-11-03 16:53] rolyon commented on #63173
#please-close

[2020-11-03 16:53] #63173 closed

[2020-11-03 16:55] mikeelliottuk commented on #65472
Looks like the published URL in the page is incorrect.  If I try to access the raw URL using https://raw.githubusercontent.com/microsoft/OMS-Agent-for-Linux/master/tools/purge_omsagent.sh then the file downloads successfully.

[2020-11-03 16:56] #65215 closed

[2020-11-03 16:56] #65254 closed

[2020-11-03 16:59] MGoedtel commented on #52975
Looping in @rpsqrd and @edyoung to get eyes on this thread. Upon review of the installation log shared by danabrash, in his case the install failed trying to start the GCExtension service, and as a result, the install was rolled back.

[2020-11-03 17:04] saikovvuri opened #65480 "AVS pricing is outdated"
[Enter feedback here]

The pricing data is outdated and not in sync with what shows up on the pricing calculator
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74225bec-9380-d088-b4f8-0626bf633bde
* Version Independent ID: 5fa3257c-0b64-da18-1373-c4651c6c998d
* Content: [Create an AVS assessment with Azure Migrate Serve

[2020-11-03 17:07] Anmolgan81 commented on #65204
@HarithaMaddi-MSFT do you have any information on the how to perform delete operations or add the syntax for that in the existing procedure so that procedure can take care of update delete and insert as well.

[2020-11-03 17:08] shashishailaj commented on #65445
@ravishankerb Conditional access is a Premium feature and any user using any premium feature needs to be licensed with at least Azure AD premium P1 . So , yes every users needs to have this license. It would work regardless but you will not be compliant . It is similar to driving a car without a driving license. If your users are from different tenant or external identities then for every 5 extern

[2020-11-03 17:08] #65445 closed

[2020-11-03 17:20] AlexandraKemperMS commented on #64797
@matthew-wiemer The change has been made and can be found [here](https://docs.microsoft.com/azure/azure-app-configuration/use-feature-flags-dotnet-core). Thank you for your feedback. We will now proceed to close this thread as resolved, but if there are any further changes regarding the documentation, please tag me/jimmy in your reply and we will be happy to continue the conversation.

[2020-11-03 17:23] rpsqrd commented on #52975
Can those affected confirm a few details for us:
1. Are these machines running in Azure or on-prem? (There are known installation issues on Azure VMs)
2. Is (or has) an older version of our agent installed on this machine?