[2019-01-16 20:26] vhorne commented on #17084
@ecaron Fix should be live in about 2 weeks.

[2019-01-16 20:26] MicahMcKittrick-MSFT commented on #22605
@ccassagnol I have ran through this doc before and although it does have you create a new Keyvault I have accomplished it using the same keyvault with a new cert.

@aljo-microsoft could you comment further on this?

[2019-01-16 20:34] femsulu commented on #22599
@cconrado Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2019-01-16 20:35] MicahMcKittrick-MSFT commented on #22614
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-16 20:38] femsulu commented on #22585
@michaelspinks Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-16 20:44] erhopf commented on #22601
Hi @TitusA, I've got your code working. There was an issue with indentation in the file you sent over. Here's the working code:

[code]

[2019-01-16 20:50] TitusA commented on #22601
Hi,

Thanks, it is working now.

Best regards,
Titus

From: erhopf <notifications@github.com>
Sent: Wednesday, January 16, 2019 22:44
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Titus Aries <tiarie@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] AttributeError: 'TextToSpeech' object has no attribute 'get_token' (#22601)

Hi @TitusA<

[2019-01-16 20:50] anirudhcavale commented on #22585
Sorry this is a typo it should say "Select an app name like MyTestScaleWebApp. Create a new resource group 'myResourceGroup' **or** place it into **a** resource group of your choosing.

[2019-01-16 20:51] erhopf commented on #22601
#please-close

[2019-01-16 20:52] #22601 closed

[2019-01-16 20:54] MicahMcKittrick-MSFT commented on #22539
@tshinkle thanks for the clarity.

I have ran through the doc but I am not seeing any issues. So the underlying problem is likely with some dependencies installed on your machine.

Open up visual studio -> Tools -> Get Tools & Features

Check to make sure you have Azure Development, ASP.NET and Web Development installed

![image](https://user-images.githubusercontent.com/32313503/51277861-b8061400

[2019-01-16 20:56] KumudD commented on #19224
@forester123 Thanks for bringing this to our attention! Terminology is now made consistent within this article.
#please-close

[2019-01-16 20:57] MicahMcKittrick-MSFT commented on #22614
@rjmiller-revint we are referring to the durability characteristics of you cluster located here:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity#the-durability-characteristics-of-the-cluster

![image](https://user-images.githubusercontent.com/32313503/51278033-4b3f4980-198e-11e9-92d4-1daa9528042b.png)

[2019-01-16 20:57] Mike-Ubezzi-MSFT commented on #21797
@prashanthmadi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-16 20:57] #21797 closed

[2019-01-16 21:03] SteveBurkettNZ opened #22624 "Provisioning/incremental sync frequency"
What's the frequency that the incremental synchronisation runs at?  In the 'Automate user provisioning and deprovisioning to SaaS applications with Azure Active Directory' doc page it states 'The provisioning service will continue to run back-to-back incremental syncs indefinitely, at intervals defined **in the tutorial specific to each application**, until...'  but it doesn't look like that info

[2019-01-16 21:06] TravisCragg-MSFT commented on #22589
@TheOtherBillGates Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-16 21:06] smoms opened #22625 "Service communication restrictions clarification"
Hi, what is clear to me is if service communicates with http AND point-to-point only pattern?! How can a publish/subscriber pattern be natively implemented in SF between a service caller and one or many service(s) receiver? Or, what if service invocations e.g. service-A to service-B should be transparently intercepted by a service-X for e.g. logging service? Do i need to deploy my own messaging-bu

[2019-01-16 21:07] TravisCragg-MSFT commented on #22591
@TheOtherBillGates Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-16 21:07] MarileeTurscak-MSFT commented on #22409
Hi @kellykwak , the alias is still in use but Jeevan, who gives access, has been traveling so responses have been a bit delayed. I have reached out to him and he will get back to you shortly.

[2019-01-16 21:07] #22409 closed

[2019-01-16 21:08] tshinkle commented on #22539
Yes, I have this installed, please see the following:

[image: image.png]

I installed the 2017 version.

But I believe I may be having some kind of issue with VS 2017.

I'm trying to follow the most basic NuGet usage instructions found at the
link:
https://docs.microsoft.com/en-us/nuget/quickstart/install-and-use-a-package-in-visual-studio

[image: image.png]

What does the following warning mean

[2019-01-16 21:09] ecfan commented on #21680
@brandonh-msft, we're working on getting this page update. Will let you know when published. Thanks!

[2019-01-16 21:09] MarileeTurscak-MSFT commented on #22409
If you still have issues after a day or so feel free to reach out to me directly at AzCommunity@microsoft.com

[2019-01-16 21:10] kellykwak commented on #22409
@MarileeTurscak-MSFT<https://github.com/MarileeTurscak-MSFT>

Thank you. I will reach out to you if I don’t hear anything.

Kelly

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Wednesday, January 16, 2019 2:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kelly Kwak <kkwak@brightidea.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-

[2019-01-16 21:10] femsulu commented on #22576
@michaelspinks Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-16 21:13] femsulu commented on #22585
@anirudhcavale  I will create a PR to fix this if you haven't already.

[2019-01-16 21:14] rothja commented on #18086
@KeiroKamioka0000 , sorry that was a mistake.

@YutongTie-MSFT or @femsulu, could one of you assign this issue to @roygara  and unassign me? Thank you!

[2019-01-16 21:15] femsulu commented on #22575
@michaelspinks Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-16 21:16] Mike-Ubezzi-MSFT commented on #22384
@rolanddb This is being investigated by the product group. Thank you for your patience.

[2019-01-16 21:17] femsulu commented on #22573
@kaareschmidtalso Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-16 21:18] kevinmkane opened #22626 "Link to download TMT is wrong"
Above, "Download the Threat Modeling Tool" links to https://aka.ms/tmtpreview which redirects to this very page. I expect you want this link to actually be https://aka.ms/threatmodelingtool which is the click-to-download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60c188c4-9aee-f131-f9c4-2582fcc2db6e
* Version Inde

[2019-01-16 21:18] #22552 closed

[2019-01-16 21:21] MarileeTurscak-MSFT commented on #22510
@PaulTown this seems to be mentioned in Table 3. If you think that this is not covered fully please create a new issue, leave a description in the comments, or open a pull request and we will update the document accordingly.

[2019-01-16 21:21] #22510 closed

[2019-01-16 21:21] vhorne commented on #22613
@jtuliani
Thanks. The limits were recently changed and this article was missed for an update. The number has been updated to 100.

[2019-01-16 21:22] backwardsDave1 commented on #22537
@Karishma-Tiwari-MSFT
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     5.7.0      AzureRM

[2019-01-16 21:32] johndowns commented on #21911
Hi @shashishailaj, thanks but I'm not sure this has helped.

I tried executing the following PowerShell script between steps 3 and 4 from the issue description above:

[code]

When I tried to execute this I got a 'Forbidden' response back.

I also tried to execute `Get-AzureADServicePrincipalOwner -ObjectId $clientServicePrincipalObjectId` and it returns back null.

My guess is that this is happen

[2019-01-16 21:32] TravisCragg-MSFT commented on #19224
@forester123 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:32] #19224 closed

[2019-01-16 21:34] TravisCragg-MSFT commented on #21648
@liamfoneill The limit has been recently raised to 100 sites per application gateway.

[2019-01-16 21:34] johndowns commented on #21911
Also @shashishailaj, I'd love to reopen this issue but unfortunately I can't as I don't have permission to do so. Perhaps you can do this?

[2019-01-16 21:35] #6871 closed

[2019-01-16 21:35] #11589 closed

[2019-01-16 21:35] #16255 closed

[2019-01-16 21:35] TravisCragg-MSFT commented on #17637
@SeaJaredCode We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:35] #17637 closed

[2019-01-16 21:36] TravisCragg-MSFT commented on #18959
@fsimonazzi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:36] #18959 closed

[2019-01-16 21:36] TravisCragg-MSFT commented on #21142
@automationbk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:36] #21142 closed

[2019-01-16 21:37] TravisCragg-MSFT commented on #21198
@SalimGangji We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:37] #21198 closed

[2019-01-16 21:37] TravisCragg-MSFT commented on #21733
@julielerman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:37] #21733 closed

[2019-01-16 21:39] femsulu commented on #22094
@cconrado quick update on this. worked with one of our automation SMEs to test this out.
created an Update Deployment targeting to non-azure machines.. As mentioned in the docs, Computer name is not a dimension you can split by.  But the deployment runs do show deployments that target non-azure vms.
![image](https://user-images.githubusercontent.com/34327711/51280235-03bbbc00-1994-11e9-91d9-ce4549

[2019-01-16 21:39] femsulu commented on #22094
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-16 21:39] #22094 closed

[2019-01-16 21:41] MicahMcKittrick-MSFT commented on #22625
Thanks for the question! We are investigating and will update you shortly.

[2019-01-16 21:41] suhuruli commented on #11396
@git-heath and @radderz, I discussed this with some folks and tried it out on my own and worked through Visual Studio. Therefore, we can in fact connect to the cluster running in a container from Visual Studio. The issue was with the documentation which will get updated very shortly.

[2019-01-16 21:42] TravisCragg-MSFT commented on #21913
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:42] #21913 closed

[2019-01-16 21:43] TravisCragg-MSFT commented on #22332
@ankush8064 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 21:43] #22332 closed

[2019-01-16 21:43] MarileeTurscak-MSFT commented on #22626
@kevinmkane
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-16 21:50] MarileeTurscak-MSFT commented on #22626
@kevinmkane thanks for catching this! I've created a pull request for review by @jegeib

https://github.com/MicrosoftDocs/azure-docs-pr/pull/63266

Changes generally go live in ~24 hours.

[2019-01-16 21:50] #22626 closed

[2019-01-16 21:51] liamfoneill commented on #21648
Hi Travis,

That is good to know. Thank you!
________________________________
From: TravisCragg-MSFT <notifications@github.com>
Sent: Wednesday, January 16, 2019 9:34:43 PM
To: MicrosoftDocs/azure-docs
Cc: liamfoneill; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Multiple Site Hosting Limit Per Instance or Per Application Gateway (#21648)

@liamfoneill<https://github.com/liamfoneill> The limit

[2019-01-16 21:52] Karishma-Tiwari-MSFT commented on #22311
@theheatDK Can you please help me understand, when you say 'ManagedBy' is empty, do you mean "Owner VM" field is empty?

This is what I see when I go to the disk with kubernetes-dynamic-pvc name in the Azure portal.
Here in the screenshot below, you can see the owner. If the owner is empty and state is not 'attached' , the disk is likely to be orpahaned.

![image](https://user-images.githubusercon

[2019-01-16 21:53] sl33kr opened #22627 "Update documentation for user authorisation support."
As of Kubernetes Dashboard 1.7 [user authentication/authorization is supported](https://github.com/kubernetes/dashboard/wiki/Access-control).

We are running AKS with Kube 1.11 with integration with AzureAD and I can confirm that [Authorization Header](https://github.com/kubernetes/dashboard/wiki/Access-control#authorization-header) works as expected. We are running with the default minimal permis

[2019-01-16 21:54] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 In the FedRAMP Security Controls Baseline .xlsx spreadsheet (referenced above), there are High, Moderate, and Low (tabs) control specification as per the FedRAMP program. You will need to look through this spreadsheet to ensure your customer's requirements are met. As for the other controls, the Security Assessment Framework .pdf document has additional items, however, they are more at

[2019-01-16 21:54] MarileeTurscak-MSFT commented on #22540
Which Nuget packages are you using?

To use the code as is presented in the guidance, you'll need to restore Version 3.1.0 of Microsoft.Owin.Security.OpenIdConnect, Microsoft.Owin.Security.Cookies and Microsoft.Owin.Host.SystemWeb and NOT the latest version which is 4.0.0.

The commands to run are:

[code]

[2019-01-16 21:55] TravisCragg-MSFT commented on #20844
@christophkarner you will need to get a list of tenants, then list subscriptions for reach tenant. You can use the [Get-AzureRMSubscription](https://docs.microsoft.com/en-us/powershell/module/azurerm.profile/get-azurermsubscription?view=azurermps-6.13.0) command to list the subscription for a tenant.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-16 21:55] davidobrien1985 commented on #21741
Awesome, thanks @vhorne !

[2019-01-16 21:55] #21741 closed

[2019-01-16 22:02] MicahMcKittrick-MSFT commented on #22625
@smoms can you elaborate on your ask? You have quite a few questions so I am having a hard time following.

What portion of the doc are you looking for clarification on?

[2019-01-16 22:03] TravisCragg-MSFT commented on #19712
@runes83 my apologies, it looks like they removed that feedback page. If you would like for us to add a CA, please [post a new piece of feedback Here](https://feedback.azure.com/forums/217313-networking).

[2019-01-16 22:04] mihammer opened #22628 "Marketplace VM is failing to deploy"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-01-16 22:05] mihammer commented on #22628
I tied to deploy this twice from the market place and it has failed.
I used the East US as the location.

Here is the log if interested:
{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\

[2019-01-16 22:06] MarileeTurscak-MSFT commented on #22626
Looks like this link might be better. Please confirm @jegeib https://www.microsoft.com/en-us/download/details.aspx?id=49168

[2019-01-16 22:07] TravisCragg-MSFT commented on #22491
@blueelvis I am unsure, but it is likely that this is how it is recorded, and they give all available information in these records.

[2019-01-16 22:09] smoms commented on #22625
@MicahMcKittrick-MSFT it is architecture question. In microservices architectures there is normally a messaging system to implement publish/subscriber patterns (one to many). How can i have the same in SF? From what i understand services in SF communicate between each other through point-to-point (e.g. through HTTP). I hope it is clear now.

[2019-01-16 22:09] sl33kr commented on #22627
Ok it works but the process isn't ideal.

You can get the token from one of two places. Every time you attempt to access the dashboard, when starting the port forward using
[code]
It re-authenticates with the API server and generates a temporary config file at a location like
[code]

You can get the access token from this file and pass it as a header `Authorization: Bearer <access token here>`.

A

[2019-01-16 22:11] MicahMcKittrick-MSFT commented on #22627
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-16 22:13] jeevansd commented on #22409
@kellykwak We have sent the invitation to you so that you can join this portal. Please let us know how this goes.

[2019-01-16 22:18] parakhj commented on #21125
Unable to offer a timeframe - the work will begin at least after 3-4 months

[2019-01-16 22:18] theheatDK commented on #22311
Thanks @Karishma-Tiwari-MSFT,

Yes, I use the script from the link you mention at the bottom. It checks for disks where ManagedBy -eq $null. I am just a bit worried that we already have that many orphaned pvc disks. Nobody knows why they are there. If everything goes well we will create 100+ clusters and we will end up with a big mess.
As you say some of them might be unattached for a reason, whil

[2019-01-16 22:19] jeevansd commented on #20886
@tariqjaber For SCIM we have Cloud Sync Service and we do not provide the IP ranges for our SCIM endpoint. But we have filed this as a  feature request to the team so that we can add them in the original Office 365 doc as mentioned above.

[2019-01-16 22:20] jalohse commented on #22409
@jeevansd Could you also respond to the email I sent to that account? It was from jhair@smartfile.com.

[2019-01-16 22:21] cmukhtmu commented on #11481
Your code for EventProcessorSample is missing "}" at the end. I added that in my code but still getting the error:

Exception in thread "main" java.lang.Error: Unresolved compilation problem:
	Syntax error, insert "}" to complete ClassBody

Any clue what might be wrong?

[2019-01-16 22:23] YutongTie-MSFT commented on #22608
Thanks for your quick action Dina!

[2019-01-16 22:32] jeevansd commented on #22409
@jalohse Done. Please check your email for the invitation.

[2019-01-16 22:32] jeevansd commented on #22409
#please-close

[2019-01-16 22:35] TravisCragg-MSFT commented on #21025
@glevanon We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 22:35] #21025 closed

[2019-01-16 22:36] TravisCragg-MSFT commented on #22085
@ganeshmedhekar We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-16 22:36] #22085 closed

[2019-01-16 22:43] aashishb commented on #21186
Thanks for the feedback! I can add it to our backlog but at this point there are no immediate plans to support this feature. As I have mentioned in my earlier comment you can download image from ACR and deploy to Azure App Service.

[2019-01-16 22:50] BryanTrach-MSFT commented on #21849
@nitind I apologize for the confusing message. Our internal tool did not carry over the message that I posted.

Thank you for your response. We hope that if others run into similar issues, your guidance is helpful.

[2019-01-16 22:54] Adam-Smith-MSFT commented on #22604
@mdtusz I was actually able to find it but only after typing : Azure Storage in the field: Select an API.
Let me know if this works for you as well.

Thanks,

[2019-01-16 22:54] grayzu commented on #21732
Hey @rajnemani,

According to [this doc](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview), it looks like you cannot mix LB SKUs.

*Relavent paragraph:*

MarkG

[2019-01-16 22:54] jegeib commented on #22626
@MarileeTurscak-MSFT  The one you put in the PR is correct.

The MSDN Blog for this product was shutoff, and we're scrambling to update documentation. There are alot of updates in PR 63148.

[2019-01-16 22:58] almertes opened #22629 ""All Cloud Apps" limitations need documentation"
Support advised to creating a Cond. Access policy using the option for "All Cloud Apps" is ill-advised as we could be blocking a backend service that another allowed service or app is dependent upon.  Our scenario involved Office, and if blocking all then it may block "MS Graph" which could impact other services unintentionally.
1. I can find NO documentation on this to verify the information prov

[2019-01-16 22:58] barbosatek commented on #22520
@ronortloff it's a bit misleading... so are you saying that it's possible to run more than one xlargerc query at a time? even though it allocates 70% of memory?

[2019-01-16 23:00] BharathNimmala-MSFT commented on #22617
@D43m0n Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-01-16 23:01] BharathNimmala-MSFT commented on #22615
@D43m0n Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-01-16 23:04] grayzu commented on #20862
@jpetitte,

Thanks for the detailed configuration information and updates as you made progress!

It sounds to me like you have your example fully functional at this, point. Is that correct?

As far as the documentation goes, we will definitely put together a more complete example of using Terraform to deploy AKS using RBAC because as you have found a deployment really requires much more than the a

[2019-01-16 23:09] Mike-Ubezzi-MSFT commented on #22619
@JasonWHowell Test, test, testing! This is working as designed. Please let me know if you have any questions or concerns. Thanks, Mike

[2019-01-16 23:11] aljo-microsoft commented on #22605
@ccassagnol
Please let me know where you see "Pull the cert" in our documentation?

All of our documentation shows SF recommendation for deploying certificates to your Azure VMSS is to use the ARM VMSS OS profile Secret properties to deploy.

E.G:

[code]

should be in your template, and you should be invoking:

[code]
Ref:
https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-sec

[2019-01-16 23:14] mdtusz commented on #22604
Nope - otherwise I wouldn't have opened an issue hah!

Do I need to enable API access somewhere in the storage account? I've followed the directions as presented and can see many other API options, but no storage option.

[2019-01-16 23:17] jtuliani commented on #22613
Super, thanks for clarifying

[2019-01-16 23:18] Adam-Smith-MSFT commented on #22604
Would you be able to share a screenshot? When you **type Azure Storage** in the field, does the Azure storage appear under the APIs ? It's not listed by default, it only appeared to me after typing it.

[2019-01-16 23:18] axisc commented on #22529
@quantumtunneling - it would really depend on which tier of Service Bus (Standard v/s Premium) and if Premium - then what is the Messaging units that were provisioned.

The choice between Storage Queues and Service Bus is made based on the use-case. The right tool for the right job :)

[2019-01-16 23:21] julieMSFT commented on #22038
@KeiroKamioka0000 Hello, have you looked at this document, [https://docs.microsoft.com/en-us/sql/t-sql/queries/explain-transact-sql?view=aps-pdw-2016-au7](url)? Please let me know if this helps answer your question or if you are looking for something different.

[2019-01-16 23:32] Grace-MacJones-MSFT commented on #22612
HI @quantumtunneling, here's a [blog](https://blogs.msdn.microsoft.com/david_burgs_blog/2018/07/11/powershell-script-to-restart-role-instances-for-webapp/) that provides a powershell cmdlets for restarting an instance. Please let us know if you run into an issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2019-01-16 23:32] #22612 closed

[2019-01-16 23:34] mdtusz commented on #22604
Ah - seems to show up only when you fully enter `Azure Storage` and hit enter.

The UI doesn't make it very clear that you can search for more API's than are displayed in the initially shown list - might be useful for there to be a "show more" or autosuggestions while typing in the search box.

Thanks!

[2019-01-16 23:34] quantumtunneling commented on #22612
Thank you so much for the quick and detailed response Grace, much appreciated!

[2019-01-16 23:44] Mike-Ubezzi-MSFT commented on #16997
I have escalated to the Product Group with regard to each of your individual comments @bernardo5304 @zxshinxz @gerhardcit @Peter-B- @lferrao. I am looking to have feedback shortly.

[2019-01-16 23:44] Adam-Smith-MSFT commented on #22604
@mdtusz  I totally agree :) the auto search should be enabled as well, I'll bring it up to the portal team & storage team to take a look at it since it's not intuitive.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-16 23:44] #22604 closed

[2019-01-16 23:56] SaurabhSharma-MSFT commented on #22597
@ediazrod have you tried looking into the [Audit activity reports in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-audit-logs)

[2019-01-16 23:58] TravisCragg-MSFT commented on #22628
@mihammer what type of resource were you trying to deploy? If you were following Azure documentation, can you post a link to that doc?

[2019-01-17 00:00] tfitzmac commented on #22536
@KeiroKamioka0000 - here is another possibility

Get-AzureRmLog -ResourceGroupName test1 | Format-table EventTimeStamp, Caller, @{n='Operation'; e={$_.OperationName.value}}, @{n='Status'; e={$_.Status.value}}

[2019-01-17 00:05] JasonWHowell commented on #22619
@Mike-Ubezzi-MSFT I am submitting this manually. Looks like the right label got assigned, even though it was a manual issue due to the tags. That's what I needed to test.

Can you please test by assigning to Ornat, and we will request closure.

[2019-01-17 00:09] dcbrown16 commented on #15188
@Placid7 as stated in the doc, when you go through the steps it offers to move related resources.
If you have a particular document suggestion or question please open a new thread so it can be addressed properly.

[2019-01-17 00:09] beneuto commented on #22216
Yes, this is frustrating as you can't find it in AAD Enterprise Apps when searching by name or Object ID, only by Application ID.

[2019-01-17 00:09] SnehaGunda commented on #21854
#please-close

[2019-01-17 00:10] ronortloff commented on #22520
Hi, with how concurrency slots are allocated in whole numbers (rounded down to avoid overbooking), combined with the available concurrency slots per service level, there are some cases where you can run more than the minimum values.  For example, on DW1000c, with 40 concurrency slots available and largerc allocating 8 concurrency slots per request, you can run 5 concurrent queries.  40 available c

[2019-01-17 00:15] dlepow commented on #22437
@phil-lgr - Thanks for your question. I think what you're asking for is similar to the "autopurge" policy that the engineering team is currently designing? Feedback is welcome at https://github.com/AzureCR/specs/issues/1. Does this spec cover the scenarios you have in mind?

[2019-01-17 00:16] sndinh opened #22631 "Using vi to create azure-vote.yaml does not work"
Tutorial states to use vi or Nano to create/edit 'azure-vote.yaml' file - This does not work.  Please remove it from Tutorial.  Using the native Text Editor ( using the double curly link  { } ) does work.  Please update Tutorial to refer reader to native Text Editor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7f

[2019-01-17 00:20] sndinh opened #22633 "Tutorial should include "az account set --subscription" prior to "az aks get-credentials""
I was having problem getting  "az aks get-credential" command to work.  Jeff M pointed out that reader should perform "az account set --subscription  &lt;subscriptionID&gt;  first,,,, which did solve my issue.  Please add this command as a requisite prior to "az get-credentials"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-01-17 00:21] krissebesta commented on #22540
Hello, thanks for YOUR feedback!  I was able to troubleshoot the issue so I no longer need help.  We had a reference to an old version of Microsoft.VisualStudio.TeamSystem.Data.UnitTesting in our project.  You've got a nice... cat.  ;-)  Cheers!

[2019-01-17 00:31] HarshdeepGupta opened #22634 "Lack of clarification on Configure App Insights SDK, looks like the step is broken"
I was following this tutorial, and for some reason, and after the step 3 of the configure App Insights SDK, my application just fails to run. I repack my node webapp, and deploy it using the zipUI. After that, my webapp just fails to load. I have tried by including/excluding node_modules folder, but both ways don't seem to work. Also, the step 4, "restart your app" is a bit unclear, as I redeploye

[2019-01-17 00:32] Mike-Ubezzi-MSFT commented on #22619
@orspod Assigned @JasonWHowell.

[2019-01-17 00:40] jpetitte commented on #20862
Hey @grayzu

I actually ended up not using terraform because of the struggles (maybe it's just me). For the next project, I'm going back to terraform again with fresh eyes, and it seems to be helping. However, I haven't fully implemented it yet, so we'll see how it goes when I get there.

A full example for deploying AKS with RBAC using active directory via terraform would be awesome.

Also, respo

[2019-01-17 00:41] hisasima commented on #20985
Hi @cherylmc
I ran Set-AzureRmVirtualNetworkGateway by powershell and then I found following message.
"Vpn client protocol OpenVPN is not supported for basic Sku gateway"

I've already confirmed the GW (Basic) was configured with only SSTP.

VpnClientConfiguration : {
                           "VpnClientProtocols": [
                             "SSTP"
                           ],

[2019-01-17 00:48] jpetitte commented on #22502
@PramodValavala-MSFT

Yeah, that's what I was afraid of when I read through the details of the context object. I'm not trying to upend the world here, but what were the reasons for not providing at least augmented versions of the standard node req/res? Most npm libraries that deal with http requests or responses rely on those, so various folks in the community have attempted to make some shims tha

[2019-01-17 00:49] mayurpuli commented on #11969
Hello: We understand that as per /etc/rhsm/rhsm.conf, yum accesses repository from subscription.rhsm.redhat.com which is hosted in Internet. We would like to understand whether this connection is via open internet or through Azure internal network.
Our primary concern is that to disable direct internet access from Azure servers (outbound).

[2019-01-17 00:50] mike-urnun-msft commented on #22621
Hi @jcbrooks92 Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 00:53] JasonWHowell commented on #22619
@orspod please see if you can access and follow this item, locate it in [this query](https://github.com/MicrosoftDocs/azure-docs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Adata-explorer%2Fsvc). Once we validate the workflow, you can type `#please-close` in this discussion to tell CXP team that they can close it out on our behalf.

[2019-01-17 00:56] mayurpuli opened #22636 "RHSM Internet Access"
Hello: We understand that as per /etc/rhsm/rhsm.conf, yum accesses repository from subscription.rhsm.redhat.com which is hosted in Internet. We would like to understand whether this connection is via open internet or through Azure internal network.
Our primary concern is that to disable direct internet access from Azure servers (outbound).

[2019-01-17 01:02] Karishma-Tiwari-MSFT commented on #22633
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-17 01:04] Karishma-Tiwari-MSFT commented on #22631
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 01:05] SnehaGunda commented on #19607
@dylanwind apologies for the really long delay on this, the instructions in the doc ask you to create a non-partitioned graph. I.e with fixed storage capacity. With that option, I just testes and all the queries are working fine.

If you have a partition key, you should define a partition key strategy as described in the following doc http://tinkerpop.apache.org/docs/current/reference/  and then y

[2019-01-17 01:06] rboucher commented on #19070
This updated did get out.  #please-close

[2019-01-17 01:06] BorisB2015 commented on #11969
@mayurpuli - this is a closed issue thread - please open a new one if necessary. RHEL PAYG images in Azure do not use rhsm config unless you explicitly subscribe your machine to it. If so, the connection will go outside of Azure network. Connection to Azure RHUI is within Azure network but goes over public IPs.

[2019-01-17 01:06] Karishma-Tiwari-MSFT commented on #21985
@woutervanranst Please share the doc-improvement suggestions when you are ready and please tag me in a comment to reopen the issue and we will gladly continue the discussion.

[2019-01-17 01:06] #21985 closed

[2019-01-17 01:08] rboucher commented on #22599
@cconrado.  Can you put in the exact blog link you are referring to?  Is it this one? https://azure.microsoft.com/en-us/blog/azure-data-explorer-plugin-for-grafana-dashboards/

[2019-01-17 01:09] Karishma-Tiwari-MSFT commented on #22537
@backwardsDave1 Thanks for the update. Can you please retry with the latest version and share the result.

[2019-01-17 01:10] MarileeTurscak-MSFT commented on #22624
@SteveBurkettNZ
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-17 01:13] MarileeTurscak-MSFT commented on #22629
@almertes
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-17 01:13] imeya opened #22637 "Does the period or frequency can be more than 48 hours?"
In the azure portal, when I create an alert, I see that the max time for period is 48 hours, and 24 hours for frequency. Can we change this? If I want set the period to 72 hours, is it possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf2c0c6-fa14-66f1-1f84-92f22a3b2bb6
* Version Independent ID: b1d4ef1c-fa18-7

[2019-01-17 01:18] MeltdownZA opened #22638 ".NET Core example for web apps not hosted in Azure"
Can we have an example for .NET core on how to access KeyVault for .NET core apps not hosted in Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315e6bfa-53fd-2ee1-bbda-64204283c6a2
* Version Independent ID: cc17a1df-33ce-e6ba-bad9-052010244bff
* Content: [Service-to-service authentication to Azure Key Vault using

[2019-01-17 01:21] konabuta commented on #21406
thanks you for your help @kgremban  @sergaz-msft , please close this issue.

[2019-01-17 01:32] SaurabhSharma-MSFT commented on #22624
@SteveBurkettNZ We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-17 01:32] #22624 closed

[2019-01-17 01:36] SongKeTong opened #22639 "Is there a length limit for a single process?"
I used speech to text api.
When I send a long audio data to server, it just return only a part result of audio data.
Is there a length limit for a single process?
Or you can try the follow audio data.
This is a Chinese speech.

[cn.zip](https://github.com/MicrosoftDocs/azure-docs/files/2766815/cn.zip)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-17 01:39] SongKeTong opened #22640 "How many times "speech.pharse" will the service return?"
If I send one audio data to speech-to-text service.
It has many sentences,How many times "speech.pharse" will the service return?
One sentence with one "speech.pharse"? Or One request return one "speech.pharse"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7afa0942-ffc5-3f56-0b43-b33ab44ddfa0
* Version Independent ID

[2019-01-17 01:40] rimman commented on #16997
We are actively working on improving agg. fwk and post-GA will remove this limit. Thanks.

[2019-01-17 01:46] phil-lgr commented on #22437
Yes. Thanks!

On Wed, Jan 16, 2019 at 7:15 PM Dan Lepow <notifications@github.com<mailto:notifications@github.com>> wrote:

@phil-lgr<https://github.com/phil-lgr> - Thanks for your question. I think what you're asking for is similar to the "autopurge" policy that the engineering team is currently designing? Feedback is welcome at AzureCR/specs#1<https://github.com/AzureCR/specs/issues/1>. Does thi

[2019-01-17 01:49] SaurabhSharma-MSFT commented on #22487
@jzuchora87 Yes, Azure Key vault can be managed by Azure Automation. Reference - [Managing Azure Key Vault using Azure Automation](https://docs.microsoft.com/en-us/azure/key-vault/automation-manage-key-vault). have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-17 01:57] jzuchora87 commented on #22487
Yeah that article doesn’t mention anything about service endpoints. Won’t they block traffic if it’s not coming from the virtual network?

Thank you,
Joe Zuchora

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, January 16, 2019 8:49 PM
To: MicrosoftDocs/azure-docs
Cc: Joe Zuchora; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Azure Automation

[2019-01-17 02:11] Gan-Lu opened #22641 "What's the pricing policy for this feature?"
Wanted to find out what would be the cost to enable this but I can't find an obvious answer. Also tried pricing calculator but no luck.  The most relevant sentence I found in this article is "These replicas are provisioned with the same compute size as the read-write replica used by the regular database connections." Does that mean the replica priced at 100 percent of primary database prices? If y

[2019-01-17 02:20] redwoz opened #22642 "outdated information"
[https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-sql-server-vm-considerations](url)

I believe that Azure Stack supports Managed Disks since update 1808 [https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-update-1808](url), how/if they are actually applicable to performance best-practises for this article would need to be evaluated.

---
#### Document Details

⚠ *Do

[2019-01-17 02:45] backwardsDave1 commented on #22537
It works now after upgrading.
Thanks for your help.

[2019-01-17 02:45] CHEEKATLAPRADEEP-MSFT commented on #22610
@chrisahardie Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-17 02:52] CHEEKATLAPRADEEP-MSFT commented on #21854
@WieserSoftware We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-17 02:52] #21854 closed

[2019-01-17 02:56] rizwaans opened #22644 "run an action in a workflow for xx hours and do something after the time elapsed"
Can someone help me understand if I can have a recurrence timer to set the time to run an action for some xx hours and do something after the set time is elapsed ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9106dab-3f70-7388-1be0-da02b5728827
* Version Independent ID: 13613736-0637-a17c-f5b4-a1476e294032
* Content

[2019-01-17 02:58] phonglnk commented on #22581
@jason-j-MSFT Thank you for your reply. Hope to have solution / fix very soon. It's very critical and important for whom is applying CICD process.

For further details, AzureRM module in PowerShell would NOT recognize 'AzureFunction' linked service type, and 'AzureFunctionActivity' activity type in ADFv2.

Ref screenshot for deployed pipeline with 'AzureFunctionActivity' via PowerShell.
![capture]

[2019-01-17 02:59] CHEEKATLAPRADEEP-MSFT commented on #22326
@andyhush-athena We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-17 02:59] #22326 closed

[2019-01-17 03:00] annathan opened #22645 "Migrate to Azure"
In Migrate to Azure step 5 it states "stops replication for the AWS VM". I believe this should read "on-prem VM" and has been inadvertantly copied from the AWS workflow.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a3829f2-aa5b-37e9-f188-211529fe741e
* Version Independent ID: 3955f9e4-eb90-8aae-37e8-bbf1215334e7
* C

[2019-01-17 03:01] CHEEKATLAPRADEEP-MSFT commented on #22363
@VitorX  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-17 03:01] #22363 closed

[2019-01-17 03:03] beth-panx commented on #17233
Followed the sample and got 401 unauthorized... Somehow MSI_Endpoint and MSI_Secret are not populated by checking Kudu. Not sure what went wrong.

[2019-01-17 03:07] CHEEKATLAPRADEEP-MSFT commented on #22058
@ronortloff   The statement in the document looking bit confusing. Could you please clarify on the above statement?

[2019-01-17 03:08] BryanTrach-MSFT commented on #22205
@nheinbaugh I am not aware of the ability to do this through Azure SignalR.

If you are using an Azure Web App have you considered checking the web server logs to see if you can see the IP addresses of your SignalR service making requests?

[2019-01-17 03:11] imeya opened #22646 "Does timestamp support in workflow runbook?"
Try to add a timestamp in the output message, code like below:

filter timestamp {"$(Get-Date -Format G): $_"}
Write-Output "hello world" | timestamp

but error occurs: The 'timestamp' activity is not supported in a workflow pipeline.

This code runs well in local, so does the timestamp support in powershell workflow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-01-17 03:11] CHEEKATLAPRADEEP-MSFT commented on #22641
@Gan-Lu Thank you for your interest in Azure products and services. We are investigating and will update you shortly.

[2019-01-17 03:15] femsulu commented on #22637
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-17 03:34] LazarusX commented on #22479
Does restarting the IoT Edge runtime help? See https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot#cant-get-the-iot-edge-daemon-logs-on-windows

[2019-01-17 03:52] imeya opened #22647 "Does powershell workflow runbook support filter function?"
I want to write a filter function in the workflow runbook, code like below:

filter timestamp {"$(Get-Date -Format G): $_"}
Write-Output "hello world" | timestamp

but it seams does not work, and throw an error: The 'timestamp' activity is not supported in a workflow pipeline.
so does workflow runbook support filter function?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-01-17 03:57] CHEEKATLAPRADEEP-MSFT commented on #22641
@Gan-Lu Azure SQL Database read scale-out support in the **Premium** and **Business Critical** service tiers.
To know the pricing in Azure pricing calculator, select “**Service tier**” as “**Business Critical**”.

**From the same document:**

Read Scale-Out allows you to load balance Azure SQL Database read-only workloads using the capacity of one read-only replica.

Each database in the **Premium

[2019-01-17 04:11] dem108 opened #22648 "Adding how to set logging level to DEBUG"
`get_model_path()` failed for me, not copying the model to cache. The error messaged advised me to set the logging level to DEBUG to investigate more, but it would be good if we can clarify how we can do this in the documentation. (Maybe some other useful link?)

For example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-01-17 04:19] prara06 opened #22649 "additional tags queries samples required"
can you have documentation updated for below queries.
1. how to query  resource group or resource that do not have specific tag / tag+value and. store results in csv format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc003943-8bc8-10ac-e633-5640cff3c397
* Version Independent ID: f8826361-f601-acf9-3e3d-c96579c02093

[2019-01-17 04:29] jennabourgeois opened #22650 "Spelling Error"
Maximum page length attribute is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 178aaaa0-cd80-43d6-3781-5ced561e7d53
* Version Independent ID: 0c403890-a632-6812-93e0-06e576396d2f
* Content: [Text split cognitive search skill - Azure Search](https://docs.microsoft.com/en-us/azure/search/cognitive-search-ski

[2019-01-17 04:29] jennabourgeois opened #22651 "Spelling Error"
The left hand navigation for this item is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4832b0a0-b579-b74a-5dbb-417cf1439ff1
* Version Independent ID: 243e3fce-89c9-dc64-cc0a-e7cbb808674d
* Content: [Entity Recognition cognitive search skill - Azure Search](https://docs.microsoft.com/en-us/azure/search/cog

[2019-01-17 04:38] ecfan commented on #20475
@coltonf93, apologies for the delay, we're working on addressing this doc issue.

[2019-01-17 04:41] arpitvw commented on #22574
https://docs.microsoft.com/en-us/azure/machine-learning/service/tutorial-data-prep
https://docs.microsoft.com/en-us/azure/machine-learning/service/quickstart-create-workspace-with-python

in local its running fine when i am importing the azureml.core module
but when i am doing same in azure notebook i am getting error

[2019-01-17 04:59] cconrado commented on #22094
thanks @femsulu

[2019-01-17 05:00] CHEEKATLAPRADEEP-MSFT commented on #22650
@jennabourgeois Thank you for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

@LuisCabrer Could you please update the document with right spelling?

![image](https://user-images.githubusercontent.com/44426401/51296544-a3d01e80-1a42-11e9-882c-02c32ce947dd.png)

[2019-01-17 05:00] KetanChawda-MSFT commented on #22466
@JohnReeson In `Eclipse` the Terminate button on Console is to terminate JVM and has no influence on the external tool `func.exe` launched using mvn plugin.

You can check the workarounds mentioned in the [SO](https://stackoverflow.com/questions/54183387/how-to-stop-an-azure-function-running-locally-my-windows-10-environment) post.

you can also open an issue with [Azure Function Maven Plugin repo

[2019-01-17 05:01] cconrado commented on #19070
@rboucher whats the link?

[2019-01-17 05:02] CHEEKATLAPRADEEP-MSFT commented on #22650
Duplicate of #22651

[2019-01-17 05:03] cconrado commented on #22599
@rboucher i believe its referring to the same. but its this link https://azure.microsoft.com/en-us/blog/azure-monitor-logs-in-grafana-now-in-public-preview/

was trying to see whats changed in public preview as the plug in as been out for a bit

[2019-01-17 05:06] shashishailaj commented on #22638
@MeltdownZA Thank you for your request. WE will investigate the best course of action and update this thread.

[2019-01-17 05:08] CHEEKATLAPRADEEP-MSFT commented on #22651
@jennabourgeois  Thank you for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

@LuisCabrer Could you please update the document with right spelling?

![image](https://user-images.githubusercontent.com/44426401/51296808-b6972300-1a43-11e9-9f9d-dd8584977bdc.png)

[2019-01-17 05:09] KetanChawda-MSFT commented on #22570
@boltlol I have assigned the issue to the content author to review an take a right course of action on this.

[2019-01-17 05:20] AjayKumar-MSFT commented on #22177
@JulioCGC, We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 05:20] #22177 closed

[2019-01-17 05:40] sjyang18 opened #22652 "This document is out of date. Need to be revisited and updated."
As for https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-example?toc=%2fazure%2fevent-grid%2ftoc.json#connect-the-function-and-namespace-via-event-grid section, there is no 'Event Grid' icon on the left side of Azure portal and it is not clear how to input the value for Subscriber Endpoint.

As for https://docs.microsoft.com/en-us/azure/service-bus-

[2019-01-17 05:46] msvijayn commented on #22637
Max time period is limited to 48 hours and frequency to 24 hours; you can't exceed either.
This is done to prevent abuse of Azure Monitor by miscreants pushing queries fetching large swaths of data and breaking analytics performance for everyone.

[2019-01-17 05:47] AjayKumar-MSFT commented on #22650
@LuisCabrer, We have raised a PR #63311 for fixing the typo error, requesting you to help merge.

[2019-01-17 05:52] kudlatiger opened #22653 "No extension method "GetBytes()""
The "EventData" which is used in version 1.x is using "Microsoft.ServiceBus.Messaging"  but in  version 2.x it uses from "Microsoft.Azure.EventHubs".  and below code fails.

 public static void Run([IoTHubTrigger("messages/events", Connection = "EventHub")]EventData message, ILogger log)
        {
            log.LogInformation($"C# IoT Hub trigger function processed a message: {Encoding.UTF8.GetS

[2019-01-17 05:54] neeleshray commented on #21861
@thommck  Thank You for the suggestion. We will check and update on the same.
@MarkusVi  Could this be linked/included in the document ?

[2019-01-17 05:55] neeleshray commented on #22195
@brthurr  We would check on the same and update soon.
@MarkusVi  As per our repro, we agree with the customer. Could this be included in the document ?

[2019-01-17 05:57] neeleshray commented on #22310
We would proceed to close this issue now. Kindly re-open if you need further assistance.

[2019-01-17 05:57] #22310 closed

[2019-01-17 05:58] neeleshray commented on #22317
Let us know if that helps.

[2019-01-17 05:58] neeleshray commented on #22313
We will now proceed to close the issue. kindly re-open if you need further assistance.

[2019-01-17 05:58] #22313 closed

[2019-01-17 05:58] yoyogin commented on #22468
Yes. Thank you!

[2019-01-17 05:58] #22468 closed

[2019-01-17 06:12] neeleshray commented on #22609
`mscrl.microsoft.com:80`, `crl.microsoft.com:80`, `ocsp.msocsp.com:80`, and `www.microsoft.com:80` should be whitelisted.

If Web Proxy Auto-Discovery (WPAD) is enabled in your on-premises environment, Authentication Agents automatically attempt to locate and use a web proxy server on the network.

If you don't have WPAD in your environment, you can add proxy information (as shown below) to allow

[2019-01-17 06:17] djaus2 commented on #22479
@LazarusX Haven't tried that yet. But I have found that doing a complete uninstall then reinstall of containers on my device then redeploy works.  [Have developed and published some scripts on GitHub for that.] (https://github.com/djaus2/AzureIoT-CoreUtils)

[2019-01-17 06:17] jcbrooks92 commented on #10870
#please-close

[2019-01-17 06:30] SadiqhAhmed-MSFT commented on #22645
@annathan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 06:30] #22645 closed

[2019-01-17 06:50] psaleh opened #22660 "Storage limits for managed instance - business critical"
The documentation mentions a 1TB limit for SQL manged instance business critical, but the azure pricing calculator allows up to 8Tb. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dff594a-77ba-dca2-e3ae-f3a7bf0c3e1d
* Version Independent ID: b496ce1e-c8e6-8fe4-d41d-6f57606f5034
* Content: [Azure

[2019-01-17 06:53] TravisCragg-MSFT commented on #22639
@SongKeTong can you post a link to the Azure Documentation you are referring to?

[2019-01-17 06:53] TravisCragg-MSFT commented on #22640
@SongKeTong Can you post a link to the Azure Documentation you are referring to?

[2019-01-17 06:54] TravisCragg-MSFT commented on #22636
@mayurpuli Can you post a link to the Azure Documentation you are referring to?

[2019-01-17 06:55] TravisCragg-MSFT commented on #22642
@redwoz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-17 07:01] dcbrown16 opened #22662 "Missing word?"
".align files give users an option to Custom Translator’s sentence breaking and alignment process..."
Should this say "...to *skip* Custom Translator's sentence breaking..."?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2720a828-7dd7-7cf1-2469-9e0315f2350c
* Version Independent ID: 0f0664e7-d293-5419-ddbb-3c62b8a7fa6

[2019-01-17 07:06] ecfan commented on #21763
@slugerrist, thanks for your request! We created a work item to address and will prioritize relative to ongoing work.

@PramodValavala-MSFT, #please-close, thanks!

[2019-01-17 07:08] SadiqhAhmed-MSFT commented on #22647
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-17 07:20] Anmolgan81 commented on #21565
Hi @Mike-Ubezzi-MSFT we are looking for controls details on FedRAMP High and FedRAMP Medium, we are not sure what controls are related to Azure SQL Managed Instance, as of now we need some details about different controls that are related to various azure sql managed instance security services like, SQL Auditing, Data Masking, Transparent Data Encryption, Azure AD Authentication, Azure AD Logins,

[2019-01-17 07:20] bremnes commented on #22179
Thanks for the feedback @miaojiang. We want to use this functionality and would prefer it to not be removed. Can you expand on why it will be removed and re-added later on? Bugs, performance issues, availability concerns, etc?

[2019-01-17 07:22] miaojiang commented on #22179
@bremnes we need to address performance issues before making it available.

[2019-01-17 07:33] KetanChawda-MSFT commented on #22466
@JohnReeson Thank for the update. we can now proceed to close this thread. If there are further questions regarding this matter or in case the document need to be updated, please tag me in your reply. I will gladly continue the discussion and we will reopen the issue.

[2019-01-17 07:34] #22466 closed

[2019-01-17 07:41] shashishailaj commented on #22172
@matthias-scharl Thank you for your feedback . At this point we are closing the issue as per the above clarification provided . In case you have any further queries, feel free to let us know and we can continue the conversation.

[2019-01-17 07:41] #22172 closed

[2019-01-17 07:48] kiranmahto opened #22663 "simple and detailed customized result in python"
you have mentioned here of Detailed output format and simple output in C# is it available for python .
so we can see our result as simple only result.text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5049c5-bf3f-46fa-fbcd-5178e130bb4c
* Version Independent ID: 3c481a07-5a2c-0429-7bb6-bf5d92654905
* Content: [Releas

[2019-01-17 07:49] kanthael commented on #22476
And just to add some more context here....

In our company of 100'000+ users, we are heavily invested in Office 365 and currently do not have any G-Suite licenses/agreement in place. The only reason we are setting up SSO and user Provisioning is for Google Cloud Identity to have SSO and other features when using Google Cloud Platform and Google Analytics 360.

What I do not want to happen is that

[2019-01-17 07:54] MSSedusch commented on #21888
Since this is a guide about how to set up Pacemaker for SAP, I just wanted to mention that CentOS is not supported by SAP.

[2019-01-17 08:04] ixevix opened #22665 "Self signed certificate generation fails"
Fails when trying to run from azure powershell and local powershell that is logged into azure

$certificate = New-SelfSignedCertificate -certstorelocation cert:\localmachine\my -dnsname "*.internal-contoso.com","*.scm.internal-contoso.com"
New-SelfSignedCertificate : The term 'New-SelfSignedCertificate' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check th

[2019-01-17 08:09] quantumtunneling commented on #22529
Hey Ashish,

Right, Im sure it depends on a lot of variables, but if I run the same load test against both Azure Queues and Service bus, what kind of results would we expect? Azure Queues have a maximum limit of 2,000 1KB requests per second for example. We are running into this limit, and Im curious how service bus might perform in these same circumstances. Thanks

Get Outlook for Android<https:/

[2019-01-17 08:19] metoule opened #22666 "SendGrid binding on async function?"
In C#, an async function can't have `ref`, `in`, or `out` parameters. All the example show here are for synchronous methods with an `out` parameter. How can I write the same thing with an async function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67219504-786d-cb28-da42-e36e227a1c8a
* Version Independent ID: 9faa45

[2019-01-17 08:33] MarkusVi commented on #22629
HI @almertes, just to add-on to @neeleshray's comment - the issue is not per se the **All cloud apps** option but the combination of **All cloud apps** with certain settings. For example, **All cloud apps** + **All users** + **Block access** is obviously not a good idea. You can also find information about this scenario [here](https://docs.microsoft.com/en-us/azure/active-directory/conditional-acc

[2019-01-17 08:33] paulajohnsoncgi commented on #22370
That's great, thanks.

[2019-01-17 08:38] YASWANTHM-MSFT commented on #22538
@akosibananaman , Sorry for the delayed response, did you try the example commands mentioned [here ](https://askubuntu.com/questions/907953/how-can-i-recursively-list-md5sum-of-all-the-files-in-a-directory-and-its-subdir?rq=1)to get the list of MD5 checksum recursively for folders and its  subdirectories?

[2019-01-17 08:43] jtheisen opened #22668 "Thoroughly confused by what Azure SignalR Service is"
I know what SignalR is, which is what's again explained on this very page. What Azure SignalR Service is on top of that, however, is still not clear to me at all and this about-page doesn't go into it. Naively I would assume it to be something like Azure App Services with more concurrent connections, but apparently it's something else entirely.

SignalR works with a (.NET) server-side component ca

[2019-01-17 08:44] femsulu commented on #22530
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-01-17 08:44] #22530 closed

[2019-01-17 08:46] femsulu commented on #22602
@chi-ltd  any updates please?

[2019-01-17 08:46] kazshi opened #22669 "Microsoft Azure region tag"
I thought that Microsoft Azure region tag ('Japan East' for example) needs to be added if we use Azure services (Azure Monitor for example) but looks like it's not necessary from the description of 2nd and 3rd paragraph in "Support for BGP communities" section. I'd like to make sure the Microsoft Azure region tag doesn't need to be added if we use Azure services - is it correct?

---
#### Document

[2019-01-17 08:50] pregress opened #22671 "Download service fabric runtime package fails with end of file error."
Using the `.\DownloadServiceFabricRuntimePackage.ps1` we get the following exception _Received an unexpected EOF or 0 bytes from the transport stream._

Stacktrace:
[code]

The server has internet access and downloading the file via https://go.microsoft.com/fwlink/?linkid=839354 also returns: Failed - File incomplete

This link has the same problem: https://download.microsoft.com/download/B/0/B/B0

[2019-01-17 08:56] imeya opened #22672 "How to upload a single file to azure blob using multi-threads?"
I have a large file(such as large.txt),  I want to upload file chunks in multiple threads simultaneously, is it possible? can you give me some guides? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Qu

[2019-01-17 09:07] PramodValavala-MSFT commented on #21763
@ecfan Thanks!

@slugerrist We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 09:07] #21763 closed

[2019-01-17 09:12] imeya opened #22673 "How to use Keyboard Shortcut on azure portal to search on german keyboard?"
The Azure Portal has a search field on a **resource group** pane. The placeholder says I can access this with Ctrl + /.

![shortcut-de](https://user-images.githubusercontent.com/25738099/51307632-2aa0ed80-1a7b-11e9-8765-f5ebf98a1db4.JPG)

On the german keyboard layout the / can print with shift + 7. but does not take effect if use Ctrl + shift + 7.

Which keys do I need to press to get to the sear

[2019-01-17 09:14] chi-ltd commented on #22602
![2019_01_17_09_13_41_itadmindr_connected_dameware_mini_remote_control_1_](https://user-images.githubusercontent.com/43997657/51307702-41722080-1a38-11e9-93a2-00607ef13b6b.jpg)

[2019-01-17 09:18] KetanChawda-MSFT commented on #22653
@kudlatiger Thank you for providing the feedback. We will review and provide an update on this.

[2019-01-17 09:19] Danrawlings-msft commented on #22100
Followed up with content owners and it's now published at https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#policy.

Closing Issue

[2019-01-17 09:19] #22100 closed

[2019-01-17 09:20] tomasfalt opened #22674 "How do you create trigger run parameters with the ADF GUI?"
I can't find any documentation about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89177180-caeb-e2e1-5614-60719f593672
* Version Independent ID: a3352be5-2343-ae87-38d0-32312a62d2b1
* Content: [Create schedule triggers in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-sche

[2019-01-17 09:21] KetanChawda-MSFT commented on #22652
@sjyang18 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-17 09:22] angoyal-msft commented on #22660
Hi @psaleh,

Thanks for your feedback. But 1TB in document signifies 1 Tera Bytes while in the azure pricing calculator it is 8Tb which means 8 Tera Bits which is equivalent to 1 Tera Bytes. So both of them are correct.

I hope this clearifies your confusion. Please let us know if you still have any doubts.

Regards
Anurag Goyal

[2019-01-17 09:33] sffamily commented on #20988
The group id is used more than REST API, so the limitation got carried over. Product team will review this case and to see whether there is a possibility to remove the restriction. Meanwhile please submit it as a user issue at our GitHub repo: https://github.com/Azure/azure-signalr/issues , so we can better track it.

[2019-01-17 09:35] ChiragMishra-MSFT commented on #22648
@dem108 Thanks for the feedback. We are actively investigating the issue and will update you shortly.

[2019-01-17 09:37] ChiragMishra-MSFT commented on #22663
@kiranmahto Thanks for your feedback. I am assigning your concern to the content owner to provide more clarity.

@wolfma61 Can you please take a look at this.

[2019-01-17 09:41] YASWANTHM-MSFT commented on #22672
@imeya, There are several ways to upload large files in a fastest way to Azure storage blob. I would recommend you to try the suggestions given by SME’s [here ](https://stackoverflow.com/questions/14892957/best-way-to-upload-a-blob-with-a-huge-size-in-gbs-to-azure-in-the-fastest-time)and [here](https://stackoverflow.com/questions/2084897/send-file-in-chunks-using-multithreading). Hope this helps y

[2019-01-17 09:41] akosibananaman commented on #22538
Hi @YASWANTHM-MSFT. Indeed. Like I've said, I managed to resolve the issue using the same link you've just provided. I'm just asking now about how to use the --check-md5 switch for azcopy. Because if you refer to my command:

_azcopy --source https://someazurecontainer.blob.core.windows.net/folder/folder_uploaded/ --destination /folder/to/be/downloaded --source-key "gibberish source key" --recursi

[2019-01-17 09:47] SadiqhAhmed-MSFT commented on #22603
@brentblawat It depends on the type of subscription you have. If you've an Enterprise Agreement subscription, there is a quarterly (most of the time) invoice generated.

[2019-01-17 09:50] Gan-Lu commented on #22641
@CHEEKATLAPRADEEP-MSFT  That helps. It seems like that if we are not using this, we are not utilizing some of the capacity that we are paying for. Thus if we want to get a better utilization, we can separate some read-only workloads out.

[2019-01-17 09:58] YASWANTHM-MSFT commented on #22370
@paulajohnsoncgi , We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-17 09:58] #22370 closed

[2019-01-17 09:58] wolfma61 commented on #22663
Did you set the OutputFormat attribute in the SpeechConfig to OutputFormat.Detailed?

https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-speech/azure.cognitiveservices.speech.speechconfig?view=azure-python

[2019-01-17 10:15] maganvill opened #22675 "Scaling down doesn't seem to drain nodes (and pods)"
My container application handles the SIGTERM signal, logs to console and takes some time to shut down gracefully.

When scaling down the nodes with `az aks scale`, pods on the node shutting down are not receiving a SIGTERM signal i.e. it seems like the node is not drained. Shutdown is immediate and the pods with there logs are gone.

I can verify this by manually draining a node with `kubectl drai

[2019-01-17 10:17] kiranmahto commented on #22663
yes , got an error __init__() got an unexpected keyword argument 'Format'

On Thu, Jan 17, 2019 at 3:28 PM Wolfgang Manousek <notifications@github.com>
wrote:

[2019-01-17 10:19] AjayKumar-MSFT commented on #22665
@ixevix, Thank you for posting your question!
On which Windows OS version are you attempting to the invoke these cmdlets? Ensure that all the appropriate [PKI modules](https://docs.microsoft.com/en-us/powershell/module/pkiclient/new-selfsignedcertificate?view=win10-ps) are installed on the computer.
Also, try and execute the cmds in the elevated mode (PowerShell > Right click ‘Run as Administrator

[2019-01-17 10:19] maganvill opened #22676 "Scaling down doesn't seem to drain nodes (and pods)"
My container application handles the SIGTERM signal, logs to console and takes some time to shut down gracefully.

When scaling down the nodes with `az aks scale`, pods on the node shutting down are not receiving a SIGTERM signal i.e. it seems like the node is not drained. Shutdown is immediate and the pods with there logs are gone.

I can verify this by manually draining a node with `kubectl drai

[2019-01-17 10:19] #22675 closed

[2019-01-17 10:20] maganvill commented on #22675
Messed up the reference to source. New issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/22676)

[2019-01-17 10:22] ixevix commented on #22665
I have tried, Achlinux PowerShell 6.1, Azure portal PowerShell, and Windows 10. All of them tell me that it's not found. What is the command to install this pkiclient module?

[2019-01-17 10:41] radhagpt opened #22677 "ARM powershell deployment"
How to deploy ARM template from powershell without providing any parameter value if default value is provided in the template itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2b41c13-30df-6b01-ae01-5c9858db859f
* Version Independent ID: 82d0b5b7-b1ad-d925-f7ba-a24b976b87de
* Content: [Deploy templates using Powe

[2019-01-17 10:48] shashishailaj commented on #21784
There should be a endpoint in the application to accept SAML

[2019-01-17 10:58] PramodValavala-MSFT commented on #22502
@jpetitte Since this query is more on an implementation detail, I believe it would be best to open a feature request on [UserVoice](https://feedback.azure.com/forums/355860-azure-functions?query=nodejs%20req) and/or an issue on the [NodeJS Worker](https://github.com/Azure/azure-functions-nodejs-worker) repo for a more insightful discussion.

[2019-01-17 10:58] PramodValavala-MSFT commented on #22571
@vicenteherrera I hope my previous comment helps. Since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 10:58] #22571 closed

[2019-01-17 11:00] PramodValavala-MSFT commented on #22621
@jcbrooks92 Thanks for the feedback! That's a great ask. We have worked up a PR for adding links not just for Functions but for Logic Apps and Automation as well. The changes should be live soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 11:00] #22621 closed

[2019-01-17 11:06] PramodValavala-MSFT commented on #22586
@hjgraca Hope the previous comment helps

@solankisamir Thanks for the insight! I believe having a note of this under the [`Before you begin`](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-integrate-internal-vnet-appgateway#a-namebefore-you-begin-a-before-you-begin) section would help for future readers of this doc.
Would you like me to work up a PR for this?

[2019-01-17 11:08] mvaneijken opened #22678 "NameIDPolicy Format is not optional"
When using a SAML 2.0 Custom App SSO, Azure AD always sends the NameID format attribute (default "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress"). This is not optional, although I think it should be optional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62bb99a4-4092-0202-48bf-4e61ee424faf
* Version Independ

[2019-01-17 11:10] wolfma61 commented on #22663
For example, take the quickstart sample from https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstart-python#quickstart-code

change the code to:
[code]
and with the following line output the complete json of the result
[code]

I get the following output form a simple recognition:
[code]

hope this helps
Wolfgang

[2019-01-17 11:14] pcolmer commented on #21977
I've now heard back from Support and this is what they say:

"This is our product limitation that we cannot sync two Microsoft account simultaneously with all devices. So if you want the sync status to be intact on all devices then you will have to use only one Microsoft account on all devices".

In other words, even though I'm signing in to my device with my Microsoft account, the *moment* a scho

[2019-01-17 11:16] slugerrist commented on #21763
@ecfan , @mike-urnun-msft , @PramodValavala-MSFT  - Thanks guys, waiting eagerly to see the content published.

[2019-01-17 11:18] neeleshray commented on #22678
@mvaneijken  Thanks for your feedback! We will investigate and update soon on it.

[2019-01-17 11:30] CodingSpiderFox commented on #22175
@sergaz-msft

I just finished reading the IoT Reference Architecture document which was helpful for other concerns. Thanks a lot for pointing me to that document :)

What I learned is that it might be possible to use an Azure Function to push the data to my relational DB (MySQL or PgSQL or maybe also a NoSQL DB later on, see page 29 in the IoT Reference Architecture document), or like you proposed

[2019-01-17 12:11] ChiragMishra-MSFT commented on #22674
@tomasfalt Thanks for the feedback. We are actively investigating into the issue and will update you soon.

[2019-01-17 12:11] KetanChawda-MSFT commented on #22666
@metoule Thanks for posting your question. You can refer below blog for your reference:

[Azure Functions v2 C# Script Async sample with SendGrid](https://blogs.technet.microsoft.com/livedevopsinjapan/2017/12/04/azure-functions-v2-async-sample-with-sendgrid/)

[2019-01-17 12:13] Obiwan72 commented on #18888
Yes, with category in lower-case it works. Thx!

[2019-01-17 12:14] ixevix commented on #22665
I will try to Upgrade to 1809 and see if it fixes the problem.

[2019-01-17 12:19] oussamachelly commented on #22444
Hello @YutongTie-MSFT ,

I verified the points you mentioned by doing the following. In step 10 (i.e. Import Data Wizard), I chose the 'Web URL via HTTP" option and pasted the link. The URL is correct and the data is successfully imported. Hence:
- The SAS URI provided for Azure Blob Storage for read does not contain an error.
- The time window for the SAS has not expired.
- The Web URL via HTTP c

[2019-01-17 12:22] livshitsa opened #22680 "use of Blob metadata property in rule filter"
will GA version support using Blob metadata  as part of rule filter, in addition to prefixMatch (which is based on Blob name) ? We want to add metadata property as 'inactive': true, but do not want to keep the name of the blob unchanged. rule will then fire when prefix matches and metadata 'inactive' is true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-01-17 12:45] AjayKumar-MSFT commented on #22665
You may run Update-Module which downloads and installs the newest version of specified modules from an online gallery to the local computer.
If you haven’t done this already so, just to isolate you could also try to execute the cmds on a different Windows 10 machine.

[2019-01-17 12:45] KetanChawda-MSFT commented on #22564
@shantanuchaudhary24 Since there isn't any specific action to be driven for the scope of documentation, we will now proceed to close this thread for. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-17 12:45] #22564 closed

[2019-01-17 12:46] KetanChawda-MSFT commented on #22562
@Runamok81 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 12:46] #22562 closed

[2019-01-17 12:47] KetanChawda-MSFT commented on #22594
@iyerusad I have assigned this issue to content author to review and take right course of action on it.

[2019-01-17 12:53] Vivekmis opened #22682 "NIC Secondary IP not showing in the replication VM"
in my env one vm is running with one NIC and 2 IP address, and in the target machine its showing only the NIC primary IP not Secondary  IP, is this limitation or it will pick the second IP time of failover?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1b5526-edb7-fa2f-a6f4-de75c5fd39a3
* Version Independent ID: d18

[2019-01-17 12:59] AndyCW opened #22683 "Update node Get Intent code sample to print out intents array properly"
In the code sample, the output from the call is displayed thus:
                console.log(`Query: ${data.query}`);
                console.log(`Top Intent: ${data.topScoringIntent.intent}`);
                console.log('Intents:');
                console.log(data.intents);

The last line here does not put out anything helpful - just the default toString output of the array, for example: Array(3

[2019-01-17 13:03] metoule commented on #22666
Thanks for this blog post. I've also seen this [stack overflow answer](https://stackoverflow.com/a/52743742/2698119) that explain that I can use `IAsyncCollector<SendGridMessage>`.

I've opened this issue so that both those methods are added to the official Azure function documentation :)

[2019-01-17 13:08] AmanGarg-MSFT commented on #22634
@HarshdeepGupta Following the documentation, I was able to [Create a Node.js web app in Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs#create-a-project-zip-file) and then I was able to [Start Monitoring my Node.js Web Application](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/nodejs-quick-start#feedback).

Can you confirm if your app was w

[2019-01-17 13:14] ixevix commented on #22665
What I found out these are cmdlets are included in the Windows SDK which was released for build 1809.
https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk

[2019-01-17 13:28] blueelvis opened #22684 "What is the difference between Event Grid Schema & Cloud Event Schema?"
While creating a topic for Event Grid from the Azure Portal, I get the choice of selecting between `Event Grid Schema` & `Cloud Event Schema` under `Event Schema`. What is the difference between both of them? I don't see any documentation on that as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc1

[2019-01-17 13:31] PramodValavala-MSFT commented on #21699
@michaelsoliman-com Sorry for not getting back sooner. You are right about the version of the core tools module. Thanks for catching this!

The `core` dist-tag was relevant when Functions v2 was still in development but is not really needed anymore since its in GA. You can see [here](https://www.npmjs.com/package/azure-functions-core-tools?activeTab=versions) that the `core` dist-tag just points t

[2019-01-17 13:32] seesharpdev opened #22685 "Cannot create an API with the same prefix as part of a different version set"
Can't seem to be able to create a revision of my API:
Cannot create an API with the same prefix as part of a different version set
Any hints for troubleshooting?
Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803fb9a7-5896-f4b0-9144-af5f87f3b1d4
* Version Independent ID: aeb99370-0ff3-bf47-1b69-e8710fe454e0
* Co

[2019-01-17 13:36] suddenelfilio commented on #20493
well there is no v 5.9 in the release notes either.

[2019-01-17 13:37] Rupaliss opened #22686 "DS14v2 RAM value correction"
In the cost conscious table, the first VM of DS14v2 is showing as 128 GB
RAM, when its 112 GB as per the Pricing calculator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98b3d8f3-4639-aa5f-d0ca-9a41170dd0cf
* Version Independent ID: 3ce38d97-3717-9e25-2082-f6597cc6e387
* Content: [SAP HANA infrastructure configuratio

[2019-01-17 13:50] jdobrzen commented on #20737
@MicahMcKittrick-MSFT  Where you guys able to resolve this. I have the same scenario. I am unable to delete the VNet and do not see any NIC instances or auto generated RG's. Thanks again!

[2019-01-17 13:54] rikhily commented on #21049
What's the status of this query? Can the plugin be installed on applications not installed on a Windows OS machines?

Also, I would like to know if the plugin support will be extended to JIRA 7.12.0? The systems requirements says that it is currently supported until 7.8 and nothing after that. Please advise.

Thank You!

[2019-01-17 13:59] jtuliani opened #22688 "No Default Probe on v2 gateways?"
From my experiments, it seems there is no default health probe when using a v2 App Gateway SKU (I was using the WAF v2 SKU).

This is a huge difference in behaviour between the v1 and v2 SKUs. Yet it is not documented here, nor is it mentioned on the Overview doc page (https://docs.microsoft.com/en-us/azure/application-gateway/overview) where the v2 SKU is described, nor on the Autoscaling and zon

[2019-01-17 14:01] psaleh commented on #22660
Hi thanks for the response but I don't think that is correct. I'm pretty sue that the calculator is working in bytes rather than bits.

[2019-01-17 14:06] SumanthMarigowda-MSFT commented on #22680
@livshitsa Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-17 14:07] smoms commented on #22625
I would like to make a concrete example. Assuming I **only** have stateful services. I need to expose them through Kafka. Would I be able to call them from a Kafka clients? Can the Kafka client query the naming service by service name and partition then address the specific service?

[2019-01-17 14:17] jeanluc33 commented on #22386
Sure, what about the required .Net Framework version?

[2019-01-17 14:41] jaweekes opened #22690 "Old article"
Has there been any improvements to Clone an App?  This is still listing it as Preview, even though it has been out for 3 years...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf14087-1765-4636-805c-6faec03d8a9b
* Version Independent ID: 4a6b910d-403e-997a-b010-0942e8ef624c
* Content: [Clone app with PowerShell - Azu

[2019-01-17 14:42] DanielYnformed opened #22691 "No support for Azure Data Lake Storage Gen2"
Hello, I'm wondering whether you are working on support for the latest data storage variant, namely Data Lake Storage Gen2. I'm considering using it, but connecting via Python does not seem possible yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15591874-317e-ce4c-0dff-20d06b625e40
* Version Independent ID: be7fed

[2019-01-17 14:48] Tasboo opened #22692 "Random left square bracket"
There is a rogue left square bracket in the text "layer provided by [Azure Service Bus"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f13b336-c1c1-598e-4a49-ecc3afeba00c
* Version Independent ID: a4ab2658-00d9-0297-5c11-52ca4ebf1bc1
* Content: [Notification Hubs - Enterprise Push Architecture](https://docs.microsoft.

[2019-01-17 14:50] KbLev opened #22693 "Custom AzureAD Roles?"
It would be good to specify if it is possible to create custom AzureAD roles, and how to create them. (I'm aware it's possible to create Roles in Azure, but not sure if that works with AzureAD? https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles )

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-17 14:51] peterlanoie opened #22694 "Typo"
"create a role with the minimum permssion" should be "...permission"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70505efb-d7ac-0dbc-6b57-2ce6a2a78ef2
* Version Independent ID: 0d5a06ac-190e-78d2-c031-ca9d5c09347f
* Content: [Key Vault secret with Azure Resource Manager template](https://docs.microsoft.com/en-us/azur

[2019-01-17 14:56] Norrch2 commented on #22317
NeeleshRay-MSFT,

There is still some confusion. Per the documentation, I am understanding that I have to create a custom layout html page and link or embed the javascript to it. But according to the documentation for custom layout, it also indicates that javascript is not supported.

Please advise? If javascript can be included in the actual custom XML can you demonstrate that?
__________________

[2019-01-17 15:00] peterlanoie commented on #22694
I'm going to try my hand at a proper PR edit (first time contributor). Will update the issue accordingly.

[2019-01-17 15:00] dneu opened #22695 "Minor typo"
Under Optimistic Concurrency Control, it says "When two concurrent operations attempting...". It should say "are attempting."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a1f8fb-77e3-acac-eb1e-05571fc4e018
* Version Independent ID: 4bd2399c-7298-848d-e04d-88b74b132dde
* Content: [Database transactions and optimisti

[2019-01-17 15:04] diberry commented on #22683
@AndyCW Good catch. Thank you for reporting this. #in-progress

[2019-01-17 15:16] peterlanoie commented on #22694
Closing issue; contributed edit in PR #22696.

[2019-01-17 15:17] jpetitte commented on #22502
@PramodValavala-MSFT no problem, can do

[2019-01-17 15:23] ecfan commented on #20475
@coltonf93, I've heard from the product team that when the Binary Transport setting is selected, data is transferred in binary. Otherwise, data is transferred as text. We'll update the docs to clarify the setting's purpose and when to use.

If you continue running into issues with corrupted files, please report this problem so the product team can further investigate?

To contact the Connectors su

[2019-01-17 15:26] kudlatiger opened #22697 "IoTHubTrigger is not supported?"
I do not see template for IoTHubTrigger. Is it coming soon ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first function in Azure using Visual Studio Code](https://docs.microsoft.com/en-us/azure

[2019-01-17 15:31] ronortloff commented on #22058
During the creation of your Azure SQL DW instance, when you create a new server, you are required to provide a "Server admin login" and password.  That "Server admin login" is the Service Administrator referred to in the documentation.  It's resouce class cannot change.  The provisioning process, in this case, is both the creation of a SQL DW database AND the creation of a new server.

[2019-01-17 15:33] haydenhancock opened #22698 "Unable to retrieve child resources."
I am using Microsoft Azure Storage Explorer, Version 1.6.2 and I receive, "Unable to retrieve child resources" when attempting to expand a Cosmos DB account. What's interesting is that it shows the correct top-level Cosmos DB Account, however, it's not expandable as shown in this documentation. This seems to be the case for ALL Cosmos DB-related accounts in Azure Storage Explorer. This has been ha

[2019-01-17 15:39] pregress commented on #22671
Can be closed, seem to be blocked by corporate network / virus scanner.

[2019-01-17 15:39] #22671 closed

[2019-01-17 15:43] MGoedtel commented on #22579
@michaelspinks - Thanks for bringing this to our attention.  I've bugged this and will address it as soon as I possibly can.  #please-close

[2019-01-17 15:47] MGoedtel commented on #21891
@cconrado - Valid feedback and I've added this suggestion to a task I have already that is intended on updating documentation on how to manage upgrading the agent.  I don't have an ETA at this time due to other priorities I have to deliver presently.  #please-close

[2019-01-17 15:49] athershareef opened #22699 "How to get the current write region and update it?"
Hi Team,

I was wondering how to get the write region and update it at runtime from the source code. PS: We use java SDK. Any leads will be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1555e87b-459c-1f2b-1591-46730e141189
* Version Independent ID: d48e5b51-745c-8ee2-e3e1-ccca4c5426b4
* Content: [Learn ho

[2019-01-17 16:01] johndowns opened #22700 "Executing the New-AzureAdServiceAppRoleAssignment step returns a Forbidden error"
When I follow the instructions in the section *Grant your VM access to the Azure AD Graph API*, I get the following error:

[code]

It appears to grant the access, though, since subsequent requests return the Bad Request response mentioned in the article, and calls to `Get-AzureADServiceAppRoleAssignment -ObjectId $GraphServicePrincipal.ObjectId` show the permission was assigned.

Is this a known

[2019-01-17 16:07] vhorne commented on #21153
#please-close

[2019-01-17 16:11] sl31pn1r commented on #22494
Hi guys, yest it works. I have just tested it and was able to set it up without any issues. I was using an Ubuntu 18.04 VM. My Windows 10 build where the WSL (Ubuntu) was running is: 17134.523.

[2019-01-17 16:14] faceoffers28 commented on #14039
@chengyiyu0724 Check this out. There is a lot of detail. https://github.com/MicrosoftDocs/azure-docs/issues/14606#issuecomment-419724847 Hope this helps!

[2019-01-17 16:17] jgodha opened #22701 "Web App does not show any graphs."
Instructions around uploading a web app to the local git repository are confusing. It talks about creating Deployment Credentials. App Credentials within that are already defaulted. Not sure if need to create User Credentials. Instructions say that create those with "null" as a user without any explanation as to why.
In the end, I don't see any data/graphs in my web app. There are no logs to see w

[2019-01-17 16:18] jgodha commented on #22701
BTW, I don't see any option to turn Web sockets on.

[2019-01-17 16:23] YASWANTHM-MSFT commented on #22691
@DanielYnformed , You may leave your feedback here:  [https://feedback.azure.com/forums/327234-data-lake ](url)

All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure. For more information you can refer the blog [here ](https://docs.microsoft.com/en-us/python/api/overview/azure/data-lake-store?view=azure-python)t

[2019-01-17 16:33] fcobo95 opened #22703 "Sharding rename"
Hello,
Wanted to know what happens if I rename one of my shard? Will this break the sharding? Or what should I consider when renaming a shard?
Thanks in advanced!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81ff289-74ca-7cae-8acf-fa672574cfc7
* Version Independent ID: a1c09f41-ce0e-5dc7-b592-3e0faafe10e2
* Content:

[2019-01-17 16:36] #22703 closed

[2019-01-17 16:37] PramodValavala-MSFT commented on #22502
@jpetitte Thanks! Do share the links here for reference and the benefit of others with the same thought.

Since there is no doc update required for now, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 16:37] #22502 closed

[2019-01-17 16:40] Alberto-Vega-MSFT commented on #22121
@estebanpv I escalated the issue with the sample code and we will be tracking it internally. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-17 16:40] #22121 closed

[2019-01-17 16:47] cconrado commented on #21891
@MGoedtel thanks for that 👍

[2019-01-17 16:48] #21891 closed

[2019-01-17 16:52] rquintino opened #22704 "some guidance for realistic scenarios that go above a single *8KB* file?"
Agree having small samples is great for some learning and experimentation, but it's strange how difficult it is to find some guidance on proper tutorials for handling medium/large workloads with these platforms. Not saying that belongs to this tutorial, but should be available somewhere!? What's the best/advised way of ingesting large or huge number of files, transform, and upload to sql dw, extra

[2019-01-17 17:01] SnehaGunda commented on #22035
@imeya we will close this issue now, let us know if you have further questions.

#please-close

[2019-01-17 17:04] mike-urnun-msft commented on #22684
Hi @blueelvis Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 17:07] mike-urnun-msft commented on #22697
Hi @kudlatiger Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 17:08] augur11 opened #22705 "Reactive to new banned passwords"
It appears there is no ability to have the service/algorithm process existing passwords upon updating/receiving a new banned password.  Is this functionality planned?

For example, user Joe has a password that's perfectly acceptable.  The password is compromised somewhere on the web and you add it to your list of banned passwords.  Joe doesn't get notification that his password is no longer accept

[2019-01-17 17:09] mike-urnun-msft commented on #22685
Hi @seesharpdev Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 17:10] banisadr commented on #22684
Hi @blueelvis CloudEvents is an open standard being collaborated on by Microsoft as well as a number of other companies to improve interoperability. You can find more on it and using CloudEvents with Event Grid in our documentation here: https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema

[2019-01-17 17:11] wouterhund opened #22706 "Unable to login using Google Federation with Google Apps for Business accounts"
We are trying to set up user federation with our Google Apps for Business account. We've followed the steps in this documentation, then once we invite a guest user using their email and then try to login with an email account @ourgoogleorg.com it seems Azure does not realize this email address is part of our Google Domain.

How can we set up User Federation with Google Apps for Business using a cu

[2019-01-17 17:12] MicahMcKittrick-MSFT commented on #22676
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 17:12] MicahMcKittrick-MSFT commented on #22686
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 17:17] MatthewSteeples commented on #22668
It's effectively 2 things. The primary use is that it's where your clients connect to (rather than your webserver). This may mean you need fewer web servers, or you can use Serverless systems instead. The second functionality that it offers is a "backplane".

Basically, your clients connect to it, and when your server wants to send anything it also connects to it to send the message. I'm not sure

[2019-01-17 17:17] codybushnell opened #22707 "Getting all datastores syntax error."
datastores = ws.datastores()
for name, ds in datastores.items(),
    print(name, ds.datastore_type)

Needs a colon instead of comma in line 2.

and ws.datastores shouldn't be called. should just be ws.datastores

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd91721f-4a86-30cb-5e37-147c7319f0e6
* Version Independent ID

[2019-01-17 17:19] Minewiskan commented on #8628
@furmangg - Thanks Greg. We haven't had any asks to doc this in detail. Thanks for covering it in your post though.
#please-close

[2019-01-17 17:32] #22437 closed

[2019-01-17 17:34] #10870 closed

[2019-01-17 17:35] #19070 closed

[2019-01-17 17:36] Mike-Ubezzi-MSFT commented on #22699
@athershareef Thank you for your interest in Azure cloud services. This is a great question. In SQL Server there is a concept of Application Intent, where you can direct client connection to specific Read-Only or Read-Write replicas. Are you asking to be able to query for the current write region and then make an update, or would you prefer to have this automagically happen? I am investigating wha

[2019-01-17 17:41] oyuskeseliev opened #22709 "Switching to Prod Let`s Encrypt"
The documentation is missing that when switching to Prod you need to change "server: https://acme-staging-v02.api.letsencrypt.org/directory" in cluster-issuer.yaml to https://acme-v02.api.letsencrypt.org/directory. Later in the article there is misleading mention that you need to switch all staging to prod.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-01-17 17:42] Mike-Ubezzi-MSFT commented on #22698
@haydenhancock Thank you for briging this to our attention. This is potentially a bug and want to know if you have an [Azure support plan](https://azure.microsoft.com/en-us/support/plans/)? If you don't I can have an incident ticket created to have this investigated but, first let me investigate what the expect behavior is. Thank you.

[2019-01-17 17:45] TravisCragg-MSFT commented on #22640
@SongKeTong Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-17 17:46] Mike-Ubezzi-MSFT commented on #22703
@fcobo95 Did you get an answer to your question? I see you closed this but want to ensure you have the information you were seeking. If you have the answer, providing it here will help others who are seeking the same information. Thank you!

[2019-01-17 17:48] TravisCragg-MSFT commented on #22675
closing as duplicate of #22676

[2019-01-17 17:48] fcobo95 commented on #22703
Hi,

I did not receive an answer, but I think I missworded my issue.

The real question is: I am getting an error from the Elastic Database
Client Library when attempting to rename an Azure SQL Server that contains
sharded databases.

Do you know a possible solution or a known issue for this?

Regards,
Fernando

On Thu, Jan 17, 2019, 11:46 AM Mike Ubezzi <notifications@github.com> wrote:

--

Cord

[2019-01-17 17:51] patpicos opened #22710 "list* functions"
please provide full list of list functions such as listCallBackURL

listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('LogicAppName')), '/triggers/request'), '2016-06-01').value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85bba21f-ef02-381c-48bd-0ced44cc513f
* Version Independent ID: c56b631

[2019-01-17 17:51] haydenhancock commented on #22698
How do I go about checking to see if I have the support plan? What I've noticed that this might be related to a specific Office 365 account (Microsoft Azure Enterprise). I was able to expand a Cosmos DB Account in another account that has a MSDN license (Visual Studio Enterprise) assigned to it.

[2019-01-17 17:51] zhouwangzw commented on #22640
The number of speech.phrase is very dependent on the audio length, silence in audio, recognition mode, and also the model for recognition. There is no single rule for that. After you send all audio and the last end-of-audio message, you will receive Speech.EndDetected and Turn.End message, which indicate that all phrases have been recognized and returned. In each Speech.Phrase message there is als

[2019-01-17 17:53] Kevin-Manson opened #22711 "Adding resolution virtual network in different Resource group"
Unclear in the docs but can you let another resource group vnet resolve the private subnet.
az network dns zone update --name test.contoso..com --resource-group resourcegroup1 --resolution-vnets vnetinotherresourcegroup
Operation failed with status: 'Bad Request'. Details: Virtual network resource not found for '/subscriptions/&lt;ID&gt;/resourceGroups/resourcegroup1/providers/Microsoft.Network/vi

[2019-01-17 17:54] msalvadores commented on #15252
I have been trying a few setups with NSGs and it works when I allow outbound traffic to the service tags AzureCloud and ActiveDirectory and deny all the other internet outbound traffic.

Of course the service tag AzureCloud is way too permissive and it would be great to have documentation that says what is the right way to go about this.

Maybe adding ActiveDirectory as service endpoint in the sub

[2019-01-17 17:54] zhouwangzw commented on #22639
Yes. Speech REST API only supports up to 15seconds audio. You can use SpeechSDK https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/  which does not have audio length limitation.

[2019-01-17 18:04] cherylmc commented on #20985
Thanks for confirming! I'll make the update today.

[2019-01-17 18:08] arae090 opened #22712 "Extract private key from AzureAD-generated SAML Signing Certificate"
Is there a way to export the certificate WITH the private key? Right now, only the public cert can be exported. I would like to reuse the same SAML Signing Certificate that AzureAD generates for multiple SSO connections.
Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431fee33-ba1b-2d89-0fb5-64c49eecfbd0
* Ve

[2019-01-17 18:08] vhorne commented on #22613
#please-close

[2019-01-17 18:14] mmulhearn commented on #22382
I realized I wasn't using the latest so I updated to 2.2.1 and OpenAsync is also not found on DocumentClient in that version, either.

[2019-01-17 18:14] MicahMcKittrick-MSFT commented on #21983
@washraf

@suchiagicha is looking into this further. She will update when she has more information.

[2019-01-17 18:15] MicahMcKittrick-MSFT commented on #22539
@tshinkle I will close this out as there is no action needed on the doc.

If you post the problem on one of the forums I shared above feel free to share the link with me so I can follow up as well.

[2019-01-17 18:15] #22539 closed

[2019-01-17 18:16] kgremban commented on #21403
@veyalla Can you take a look at this issue?

[2019-01-17 18:16] MicahMcKittrick-MSFT commented on #22614
@rjmiller-revint I will close this for now. If you have additional questions just let me know and we can always reopen and continue the discussion.

[2019-01-17 18:16] #22614 closed

[2019-01-17 18:17] cherylmc commented on #18552
#please-close

[2019-01-17 18:18] MicahMcKittrick-MSFT commented on #22625
@smoms thanks for the clarification.

@aljo-microsoft could you comment further on this?

[2019-01-17 18:22] MarileeTurscak-MSFT commented on #22540
@krissebesta glad you were able to resolve this! Thanks for following up, and thanks for the compliment on my cat Misa :)

[2019-01-17 18:22] #22540 closed

[2019-01-17 18:31] bwren commented on #22413
All workspaces should be available in the Azure portal at Monitor/Logs.  I'm not sure if the external portal is having issues, but it should still be available. If it's not, this wouldn't be a docs issue, need to follow up with engineering team.

[2019-01-17 18:31] oyuskeseliev commented on #22709
I will propse a change by pull request tomorrow.

[2019-01-17 18:33] kgremban commented on #22108
@DaveEM I tracked down the people who created the SQL server container for Windows, and they've told me that they don't support Windows-based containers in production scenarios right now. So I'll be taking the Windows containers out of this article until they can expand their supported scenarios and produce an updated container image.

Thanks for bringing this to our attention.

[2019-01-17 18:34] SnehaGunda commented on #22382
@mmulhearn thanks for clarifying, the doc uses DocumentClient where as the example in reference doc uses IDocumentClient interface to initialize the client object, can you verify if this works?

using (IDocumentClient client = new DocumentClient(new Uri("service endpoint"), "auth key"))
  {
      await client.OpenAsync();
  }

[2019-01-17 18:35] MicahMcKittrick-MSFT commented on #20737
@jdobrzen if I remember correctly there was something the engineering team had to do on the backend to release the resources.

Feel free to email me with the requested information I mentioned in the above comment and we can get you in touch with support as well.

[2019-01-17 18:37] ecfan commented on #20475
@coltonf93, we've created a work item for addressing this issue and are adding this text to the doc where the screenshot with the property appears:

"By default, this connector transfers files in text format. To transfer files in binary format, for example, where and when encoding is used, select **Binary Transport**."

The update should appear sometime later today or tomorrow. Thanks again for yo

[2019-01-17 18:37] tejasavora commented on #8610
Can I use this feature to have unique DEK and AEK/KEK per user? Meaning, we are using same storage account to store details of various customers - can we use this feature so that we will have different DEK and AEK/KEK per customer on same storage account?

[2019-01-17 18:38] Ayanmullick commented on #22413
Thanks @bwren, for the update.  [https://portal.loganalytics.io/demo#/discover](https://portal.loganalytics.io/demo#/discover)  is accessible. However, [https://portal.loganalytics.io](https://portal.loganalytics.io) is not. I thought they changed the link or something.

[2019-01-17 18:41] SnehaGunda commented on #22695
@dneu Thanks for pointing out the issue, we encourage public contributions :-)  would you be interested in submitting the fix? it's pretty easy, just click on the edit button on the right hand corner of this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/database-transactions-optimistic-concurrency make the changes and submit a PR, you will be added as a contributor to the doc.

Let me know

[2019-01-17 18:41] Mike-Ubezzi-MSFT commented on #22698
@haydenhancock Go to the Help & Support blade within the Azure Portal and see if you can file a ticket. On another note, do you see (Preview) next to your Cosmos DB instance:

![screenshot 160](https://user-images.githubusercontent.com/37126106/51340672-62d90980-1a44-11e9-8393-4e46d744ab72.png)

[2019-01-17 18:41] Karishma-Tiwari-MSFT commented on #21867
@cgros I got the confirmation from the product team that this is not supported. You will need to manually add tags to new nodes that are added.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-17 18:41] #21867 closed

[2019-01-17 18:44] BakerLabs commented on #22133
Sorry, got busy on support cases.   I’ll tag you when I get time to update.

Don Baker
Azure Cloud Engineering (ACE)
Azure CXP Team

Office   +1 (703) 673 7857
Working Hours: Mon-FRI 8-4 PM EST

If you need immediate attention for an ongoing case while I am out of the office,
please send a separate email with case ID to acebackup@microsoft.com.
A team member will take action to help you. 

From: K

[2019-01-17 18:44] Anmolgan81 commented on #21565
@Mike-Ubezzi-MSFT are the High, Medium Compliance information for Azure sql database and managed instance are the same as you have stated in above posts

"All of our ring 0 production services in the public cloud (which include Azure SQL DB and Azure SQL DB Managed Instance) are FedRAMP compliant at the FedRAMP medium (moderate) level. See attached."

Is that written anywhere for azure public azur

[2019-01-17 18:46] MicahMcKittrick-MSFT commented on #22709
Thanks @oyuskeseliev

@iainfoulds can you take a look? seems we suggest to replace staging with production but that issuer url does not work. The one @oyuskeseliev mentions does

[2019-01-17 18:46] mmulhearn commented on #22382
@SnehaGunda No, that does not work.

The issue seems to be a two-fold:

1. IDocumentClient does not implement IDisposable, so that example code does not work
2. OpenAsync() appears to be a method on DocumentClient, not IDocumentClient.  I did find DocumentClient.OpenAsync(), but not IDocumentClient.OpenAsync().

[2019-01-17 18:47] jeanluc33 opened #22713 "Incompatible with Windows Server 2012 R2"
This line does not work on Windows Server 2012 R2.  New-SelfSignedCertificate does not accept parameters for -NotBefore and Not-After.

$Cert = New-SelfSignedCertificate -DnsName $DNSName -CertStoreLocation "cert:\$StoreLocation\My" -NotBefore $CertBeginDate -NotAfter $CertExpiryDate -KeySpec Signature

This results in the error:
New-SelfSignedCertificate : A parameter cannot be found that matches

[2019-01-17 18:49] AlexFiala opened #22714 "ACU? When did ACU replace cores in the Azure Portal"
MSFT: xxxxxx@microsoft.com

ACU appears to have recently replaced core in compute performance descriptions for the various app service tiers.  When did this happen and why?  And where can we see an accurate performance comparison between ACU and core for app service?  This exists for VMs, but that chart is ambiguous when applied to app services.

Edited: Removed PII with 'x'.

---
#### Document De

[2019-01-17 18:50] jwargo commented on #22692
@Tasboo thanks for that, I've fixed it as part of a docs update I'm working on. it should be fixed soon.

[2019-01-17 18:50] oyuskeseliev commented on #22709
Sorry I just saw the note in Install cert-manager topic.... I've did not see it initially. I will close the issue.

[2019-01-17 18:50] #22709 closed

[2019-01-17 18:51] TravisCragg-MSFT commented on #22677
@radhagpt You can put the value directly in the template instead of specifying it as a variable. You can check [Here for more information and guidance on templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-authoring-templates), and you can also go to [resources.azure.com](resources.azure.com) to view your Azure Resources as they currently are. Resources.azure.co

[2019-01-17 18:53] laurenhughes commented on #22331
@Walkeras, thanks for the feedback! I've created a work item for your suggestion. When the article is updated in the near future, Python examples will be added.

#please-close

[2019-01-17 18:53] femsulu commented on #22646
@imeya we noticed you closed this issue. just wanted to followup to understand why it was closed.

[2019-01-17 18:53] #22646 closed

[2019-01-17 18:55] yuemlu commented on #17187
@remiminnebo We are working to extend the support to on-prem scenarios. Stay tuned for updates.

[2019-01-17 18:55] TravisCragg-MSFT commented on #22669
@kazshi these routes are automatically advertised to you for each ExpressRoute Circuit, and do not need to be added manually. If you have multiple Circuits attached, you will have multiple paths advertising the same value. You can specify which path should be chosen using this value.

[2019-01-17 18:58] YutongTie-MSFT commented on #22707
@codybushnell
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 19:01] wooters opened #22715 "Converting python 2 sample code to python 3"
I think the python 2 example code can be converted to python 3 with just a few minor tweaks: change two lines in the function `build_signature()`, and then change the two `print` statements to `print()` functions. The two changes needed in the `build_signature()` function are:

[code]
and
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-17 19:02] femsulu commented on #22673
@imeya Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-17 19:02] #21375 closed

[2019-01-17 19:03] femsulu commented on #22682
@Vivekmis Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-17 19:04] DiegoRamirez-MSFT commented on #22470
hello @sahilpnckr123 just checking if you may have any comments on this post

[2019-01-17 19:06] femsulu commented on #22694
@peterlanoie Thanks for fixing the typo. We appreciate the contribution.

[2019-01-17 19:06] #22694 closed

[2019-01-17 19:08] femsulu commented on #22710
@patpicos Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-17 19:10] TravisCragg-MSFT commented on #22688
@jtuliani Thanks for the feedback. I will reproduce this behavior and follow up with more info.

[2019-01-17 19:11] Mike-Ubezzi-MSFT commented on #21565
@Anmolgan81 Azure SQL services in public cloud comply with the Moderate Baseline controls.

[2019-01-17 19:11] j-martens commented on #21581
@MoiMoiDG
Hello! Sorry for the delay.
Did you see this example?
https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/training-with-deep-learning/train-hyperparameter-tune-deploy-with-pytorch
This includes image classification with transfer learning.

[2019-01-17 19:14] iainfoulds commented on #22633
Sorry you ran into issues, @sndinh. That's the first time this has come up, and not typically something you'd need to do unless you have multiple subscriptions. Usually you'd already have a defined subscription set, or would have needed to do so for previous commands. If this is a more common request that comes up, we can add it, but to minimize complexity in the quickstart, it's not something we'

[2019-01-17 19:15] Anmolgan81 commented on #21565
@Mike-Ubezzi-MSFT Thanks for the information.

[2019-01-17 19:16] ritheran opened #22716 "SSL Update Process"
Hi,

Could you go over the process to update the SSL certificate associated with a cluster following expiration? Do we need to redeploy the service? Would we need to account for downtime?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d00728b-7e0d-c586-8a37-c2f5dbc8b115
* Version Independent ID: 7aa5d565-40a8-7b7c-4e9

[2019-01-17 19:17] SaurabhSharma-MSFT commented on #22706
@wouterhund Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-17 19:18] rizwaans commented on #22644
@TravisCragg-MSFT
https://docs.microsoft.com/en-us/azure/connectors/connectors-native-recurrence

[2019-01-17 19:18] SaurabhSharma-MSFT commented on #22705
@augur11 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-17 19:19] SaurabhSharma-MSFT commented on #22700
@johndowns Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-17 19:20] iainfoulds commented on #22676
With cluster autoscaler, scaling down does cordon and drain the nodes. I thought that manually scaling down should perform the same steps, but adding @sauryadas on this product question.

[2019-01-17 19:22] TravisCragg-MSFT commented on #22644
@rizwaans Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-17 19:32] djhallxyz opened #22717 ""roles" Claim"
I've been working through this topic for several weeks now and I am NOT an expert but I do not see the "roles" claim in the access_token. For me it exists in the initial id_token.

I am using the MSALObj javascript library to interact with Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08

[2019-01-17 19:32] MicahMcKittrick-MSFT commented on #22709
@oyuskeseliev ah okay. Thanks for clarifying and closing it out :) If you have any other feedback just let us know.

[2019-01-17 19:33] cherylmc commented on #20985
Update has been merged and is awaiting publishing. #please-close

[2019-01-17 19:34] MicahMcKittrick-MSFT commented on #22676
Thanks @iainfoulds that is a good point. I have seen it drain the nodes when using autoscaler but seems the manual scaling just removes them. Depending on the behavior expectation I can always modify the doc. Will wait to see what @sauryadas has to say.

[2019-01-17 19:39] aahill commented on #11186
Thanks for opening this, and apologies on the delay. These changes have been merged into the documentation. #please-close

[2019-01-17 19:41] msavino659 opened #22718 "Works but Done checkbox does not allow edits on Index page but is allowed on Create form."
I am not sure if this is the same issue as wcswanson raised and cephalin answered, but I would like to understand why the checkbox is available on both Index and Create pages, but functions only on Create.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c8

[2019-01-17 19:47] anzaman commented on #20874
What is the client address pool for the point-to-site gateway?

[2019-01-17 19:49] kirpasingh commented on #22082
Thank you @DiegoRamirez-MSFT.
@algattik Thank you for your input! I think that the update you suggested requires either a pointer to a doc describing the process (i.e. increasing disk size via portal) or updating current doc with some screenshots. If you know of an existing doc, it could be referenced else someone from the doc team might need to update this doc appropriately.

[2019-01-17 19:54] ttilton commented on #21040
@MarileeTurscak-MSFT Any update on this?

[2019-01-17 19:54] KallDrexx opened #22719 "TopicClient Concurrency"
&gt; Service Bus client objects, such as QueueClient or MessageSender, are created through a MessagingFactory object, which also provides internal management of connections. It is recommended that you do not close messaging factories or queue, topic, and subscription clients after you send a message, and then re-create them when you send the next message. Closing a messaging factory deletes the co

[2019-01-17 19:56] jryousefi commented on #22181
I found this https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-webjobs-sdk#webjobs-sdk-3x.

[2019-01-17 19:59] TravisCragg-MSFT commented on #22711
@Kevin-Manson To allow resolution to a Private DNS Zone in a different VNET, you will have to connect the 2 Virtual Networks together.

For the Error you are getting above, it is not able to find a Virtual Network with name "vnetinotherresourcegroup" in Resource Group  "resourcegroup1" in Subscription "<ID>"

[2019-01-17 20:00] akshay8082 opened #22721 "Any idea how can we implement authentication with AD with Java application."
I have created a Azure Function app with Java and Spring boot.
Right now Authorization level for all functions is Anonymous(No Key is required).
Created a project now thinking how can I secure it.
Would really appreciate if you can provide psuedo code for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e656bde5-b5d8

[2019-01-17 20:05] aljo-microsoft commented on #22605
@ccassagnol
I've added this note to those docs:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/63380
https://github.com/MicrosoftDocs/azure-docs-pr/pull/63381

@MicahMcKittrick-MSFT and @Karishma-Tiwari-MSFT
#please-close

[2019-01-17 20:05] aahill commented on #19670
Thanks for opening this PR, hopefully MikeDodaro's response helps out. If not, feel free to reopen it if needed. #please-close

[2019-01-17 20:05] akshay8082 opened #22722 "Not able to call functions using Post Man"
Created a Function which accepts String and in return just uppercase it.
calling function via &gt;&gt;&gt; http://localhost:7071/api/uppercase/ok. Getting below thing on the console
--------------------------------------------------------------
info: Microsoft.AspNetCore.Hosting.Internal.WebHost[2]
      Request finished in 0.3337ms 404

If I dont pass or pass "ok" as query parameter then in the c

[2019-01-17 20:09] jryousefi commented on #22181
also this: https://github.com/Azure/azure-webjobs-sdk/issues/1871

[2019-01-17 20:10] Karishma-Tiwari-MSFT commented on #22133
Thanks @BakerLabs :)

[2019-01-17 20:12] diberry commented on #22683
@AndyCW This has been fixed in both the Node.js quickstarts. Thank you for reporting it. #please-close

[2019-01-17 20:16] athershareef commented on #22699
Thanks for your response. I prefer it to happen automatically. Let me know if it's happening automatically or do we need to do it manually. Also, it will be great to find out the response time when the requests are going to various regions. Can you provide me with any details on how to query for the current write region for monitoring purposes?

[2019-01-17 20:18] #20475 closed

[2019-01-17 20:18] Karishma-Tiwari-MSFT commented on #15252
@deosandeep @yyanev Can either of you please share your insights and suggest how can we help our customers on this issue. Thanks :)

[2019-01-17 20:20] #22331 closed

[2019-01-17 20:21] ggailey777 commented on #22368
@joeruder sorry for the inconvenience, we are updating this article for v3.x of the WebJobs SDK this week. In the meantime, you can see an example of how to configure the host [here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/sample/SampleHost/Program.cs#L18).

[2019-01-17 20:22] ggailey777 commented on #15499
Sorry for the inconvenience, we are updating this article for v3.x of the WebJobs SDK this week. In the meantime, you can see an example of how to configure the host [here](https://github.com/Azure/azure-webjobs-sdk/blob/dev/sample/SampleHost/Program.cs#L18).

[2019-01-17 20:23] ggailey777 commented on #22181
@hillmarcus sorry for the inconvenience, we are updating this article for v3.x of the WebJobs SDK this week.

[2019-01-17 20:23] #22633 closed

[2019-01-17 20:24] marmightygood opened #22723 "Is this still accurate?"
The picture at paragraph 5 of "https://docs.microsoft.com/en-us/azure/data-factory/tutorial-bulk-copy-portal#create-the-pipeline-iterateandcopysqltables" seems to no longer reflect the actual categories, but more importantly the Sink tab at paragraph 7e doesn't look like the actual interface, and it appears that this way of configuring the sink might not be possible anymore? The sink tab currently

[2019-01-17 20:24] stsulliv opened #22724 "Limits of <permitted tenant list>"
Is there a limit on number of tenants or characters that are permitted in the <permitted tenant list>?

Thank You,
Stephen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Manage access to cloud apps by restric

[2019-01-17 20:24] Karishma-Tiwari-MSFT commented on #22605
@ccassagnol Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-17 20:24] #22605 closed

[2019-01-17 20:25] stsulliv commented on #22724
'permitted tenant list'?

[2019-01-17 20:26] mike-urnun-msft commented on #22179
@bremnes We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-17 20:26] #22179 closed

[2019-01-17 20:28] hillmarcus commented on #22181
@ggailey777 Thanks for the update. I'll be eagerly awaiting the updated documentation. In the meantime I've just downgraded to version 2.X since I could find plenty of documentation on that.

I'm sorry if I came across a bit terse in my earlier comment.

[2019-01-17 20:36] jdanton opened #22725 "PowerShell Issues"
I'm trying to add this feature as part of an automated deploy process and the inline PowerShell is failing.

I found this issue, and have updated AzureRM, but I'm still getting errors.

https://github.com/Azure/azure-powershell/issues/6833

Any advice or deeper sample code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-01-17 20:40] anzaman commented on #20874
We assign a /32 IP to the client, If you look at the output of IPconfig on the client, you will see the subnet mask of 255.255.255.255. Since it's a host IP (/32), x.x.x.0 works like any other IP.

[2019-01-17 20:41] Tiberriver256 commented on #22494
Thanks guys sorry for the trouble seems to be working for me now as well. May have been a network thing.

[2019-01-17 20:41] #22494 closed

[2019-01-17 20:56] YutongTie-MSFT commented on #22716
@ritheran
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-17 21:01] jay98014 commented on #22705
Hi @augur11,

Correct, Azure AD Password Protection does not try to analyze existing passwords.  That is basically impossible because Active Directory does not persist the original clear text password to begin with.  Otherwise, standard security practice advises to change passwords on a regular basis in order to protect against breached\weak passwords, and this is true even when AADPP is deployed.

[2019-01-17 21:01] nealmcb commented on #21823
Thanks.  But odd. Why is the Python example hidden below "SQL" on the menu? And why is there an "SQL" example in parallel to the Node and Java examples under "Multi-modal APIs"?

Can you put more cross links or provide more visibility for the variety of language examples provided in all those quickstarts? Often people find them from a stackoverflow link or the like, not by searching thru your whol

[2019-01-17 21:06] augur11 commented on #22705
@jay98014 I thought there were ways utilizing this, for example https://www.knowbe4.com/breached-password-test

If it's outside the scope of the application I completely understand.

Also, regarding "regular" password changes, it seems the security world is starting to get away from this (NIST 800-63-3).

I guess the use case seems solid, especially in the world of MFA/not changing passwords, but

[2019-01-17 21:08] LuisCabrer commented on #22651
@HeidiSteen , can you take care of this?

[2019-01-17 21:11] dneu commented on #22695
Thanks, I've done that here:

https://github.com/MicrosoftDocs/azure-docs/pull/22726

[2019-01-17 21:11] #22695 closed

[2019-01-17 21:12] diberry commented on #22196
@tristian2 You had the bot working locally then deployed back to Azure? Or you changed the code on Azure and then it doesn't work in the test in chat window?

[2019-01-17 21:13] HeidiSteen commented on #22651
Yes, on my open PR  https://github.com/MicrosoftDocs/azure-docs-pr/pull/63361

[2019-01-17 21:19] moojjoo commented on #21784
Can you provide a link to how to develop the endpoint?

[2019-01-17 21:23] LuisCabrer commented on #22651
Thanks @HeidiSteen  !

[2019-01-17 21:31] jay98014 commented on #22705
I do not know any specific design details about the product that you linked to.  My comments below are not meant to criticize any other product (just to be clear).

One approach to this problem is to hash all banned passwords, then compare those hashes directly against the existing password hashes that are stored on any given user account in AD.  On the upside, this does provide some ability to ch

[2019-01-17 21:33] mike-urnun-msft commented on #22719
Hi @KallDrexx Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 21:33] Teodelas opened #22728 "Azure Backup has diagnostic logging"
Azure Backup has diagnostic logging:
https://docs.microsoft.com/en-us/azure/backup/backup-azure-log-analytics-data-model

Edit: Added doc footer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b901fad-f1ef-dda1-a852-3f386a611055
* Version Independent ID: 0eef85b1-5638-bab3-ad22-b3d5da520df3
* Content: [Log Analytics d

[2019-01-17 21:34] mike-urnun-msft commented on #22722
Hi @akshay8082 Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 21:36] yeahsicy opened #22729 "Twilio bindings cannot work in functions rather than Queue trigger one"
# Issue:
Twilio bindings cannot work in functions rather than Queue trigger one.

# Expected:
Compiled successfully and able to send SMS using Twilio bindings in Azure functions, not just Queue trigger one.

# Actual:
Getting Function compilation error Microsoft.CodeAnalysis.Scripting.CompilationErrorException : Script compilation failed. at async Microsoft.Azure.WebJobs.Script.Description.DotNetF

[2019-01-17 21:37] mike-urnun-msft commented on #22721
Hi @akshay8082 Thank you for your feedback! We will review and update as appropriate.

[2019-01-17 21:41] BryanTrach-MSFT commented on #22205
@nheinbaugh Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-01-17 21:41] #22205 closed

[2019-01-17 21:41] MicrosoftGuyJFlo commented on #22705
Azure AD Identity Protection can also be used to assist in detecting compromised accounts as it will compute a risk score for individuals based on their habits and can require a password change or block the user depending on configuration by the admin. https://docs.microsoft.com/azure/active-directory/identity-protection/

[2019-01-17 21:43] TravisCragg-MSFT commented on #21823
@nealmcb I have reopened the issue!

[2019-01-17 21:56] Mike-Ubezzi-MSFT commented on #22698
@haydenhancock The support ticket is best, and it does sound like you have a support plan. I can enable a one-time incident ticket to address this but if you already have a support plan, please engage that resource to have it created.

[2019-01-17 21:57] diberry commented on #22196
@chriseteka Please find and use the KUDU console to install restify in the D:\home\site\wwwroot> via "npm install restify". Feel free to use the D:\home\LogFiles\Application> to track down issues.

[2019-01-17 22:03] jason-j-MSFT commented on #22704
@rquintino
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 22:04] jason-j-MSFT commented on #22723
@marmightygood
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 22:06] Mike-Ubezzi-MSFT commented on #22699
@athershareef Please take a look at the following Multi-Homing functionality: [Configure clients for multi-homing](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-database-account#configure-clients-for-multi-homing). Designing the client to use the desired write region is manually coded and is manually established via the Portal or via Azure CLI.

[2019-01-17 22:10] Mike-Ubezzi-MSFT commented on #22699
Additionally, please make an entry in the [Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) to request the functionality for programmatically checking for current write region via the SDK.

[2019-01-17 22:11] mike-urnun-msft commented on #22697
@kudlatiger Could you clarify if you're asking the template within VS Code?

[2019-01-17 22:11] artmasa opened #22731 "Dependent resources on conditional resources fail"
having a template looking like this fails to deploy:
[code]

This assumes the `isProduction` variable returns true or false.
This template fails to deploy because the host name binding resource depends on the ssl certificate and even when both's deployment depends on the same condition the dependsOn of the binding still evaluates and breaks because the certificate is not present.

I think since th

[2019-01-17 22:13] Karishma-Tiwari-MSFT commented on #22686
@juergent E64v3 (443 GiB) also looks different than on [the pricing page](https://azure.microsoft.com/en-us/pricing/details/virtual-machines/sles-sap/) (432 GiB)
Can you please confirm and update the doc as appropriate. Thanks.

@Rupaliss Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-01-17 22:14] MarileeTurscak-MSFT commented on #22693
@KbLev
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-17 22:16] mike-urnun-msft commented on #22685
@seesharpdev To clarify, are you not able to create a new _**revision**_ with the same prefix?

[2019-01-17 22:16] daveba commented on #22465
@dcbrown16 @SaurabhSharma-MSFT speaking with the engineering team, as of now it's not officially supported so it's not on the page.  As services come online, we will update the page accordingly.  We only list services on that page that have some form of official support at this time.  #please-close

[2019-01-17 22:23] kevinvngo commented on #7170
Yes 2TB for the next 7 days and then 1TB moving forward (assuming no another deltas happen to the data warehouse)

[2019-01-17 22:33] jasonfare opened #22732 "Delete Soft-Deleted KeyVault"
Hello!

Could you add a section or update the area where purging key vaults is discussed and explain that Remove-AzureRmKeyVault -VaultName ContosoVault -InRemovedState -Location westus only works on already soft-deleted KeyVaults and that it actually permanently removes a soft deleted KV? This article isn't really clear that this is what happens or that it is the method for removing a soft delete

[2019-01-17 22:35] ggailey777 commented on #22181
@hillmarcis I agree that we have provided a very poor experience for SDK v3.x, which is very different thanks to .NET Core.

[2019-01-17 22:40] MarileeTurscak-MSFT commented on #22693
Hi @KbLev , you can create custom roles in Azure and they will be stored in Azure AD, as the document you referenced states.

[2019-01-17 22:41] MarileeTurscak-MSFT commented on #22693
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-01-17 22:41] #22693 closed

[2019-01-17 22:42] BharathNimmala-MSFT commented on #22617
@D43m0n Thanks for sharing the feedback, our document author is already working on this to reflect the new UI changes of the product. Assigning this to the author to confirm once that is updated. Thank you

[2019-01-17 22:43] BharathNimmala-MSFT commented on #22615
@D43m0n Thanks for sharing the feedback, our document author is already working on this to reflect the new UI changes of the product. Assigning this to the author to confirm once that is updated. Thank you

[2019-01-17 22:45] DCtheGeek commented on #22506
@ihfootlockerdev If you have other questions or issues with the docs, please feel free to open a new issue.  Thanks for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-01-17 22:46] cheezewhizze opened #22734 "Enabling firewall blocks Azure SQL"
It does not appear that it is possible to use Azure SQL to access a storage account (eg, via an External Data Source) if the firewall is on. Azure SQL is apparently not a "Trusted Azure Service"?  Above states that it works with SQL Data Warehouse, but it apparently does not work with Azure SQL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-17 22:49] #22506 closed

[2019-01-17 22:50] milazzom opened #22735 "Description for Azure Private Peering should be more explicit"
I have customers that take the reference to cloud services (PaaS) to mean Azure SQL, Azure Storage, and other multi-tenant services are available over private peering.  After discussions with them, I clarified what "cloud services (PaaS)" refers to, and it is very apparent that any Azure newcomers are thrown off by this.  I would recommend adding a line indicating accessing our public-facing servi

[2019-01-17 22:58] faceoffers28 opened #22736 "How do I use my existing domain name with an Ubuntu VM???"
I need to add an SSL key to my Ubuntu VM. Since SSL works off the domain name, how do I make my Ubuntu VM use myapp.mydomainname.com instead of myapp.centralus.cloudapp.azure.com? The domain name is hosted at another provider and contains all kinds of records. I can't move it. I can easily do this with Azure App Services, so this is a big concern with VMs. Thanks!

---
#### Document Details

⚠ *Do

[2019-01-17 23:01] diberry commented on #22608
@PeggyWiltz This change is live in the doc. #please-close

[2019-01-17 23:02] BryanTrach-MSFT commented on #22216
@rohan51 You will need to locate the application ID by navigating to Azure Active Directory>Enterprise Applications.

If you have multiple enterprise apps and you are not sure which one is associated with your app, navigate to the Authentication/ Authorization blade of your web app to see what AAD app is in use with your web app.

We will now proceed to close this thread. If there are further ques

[2019-01-17 23:02] #22216 closed

[2019-01-17 23:07] DCtheGeek commented on #16496
@ms662412 Not sure which "PS provided to generate the Bearer token" you are talking about. I'd recommend trying the POST through [ARMClient](https://github.com/projectkudu/ARMClient) which does login for you. If that also doesn't work, please open as a new Issue so we can try and address. If it's a problem with the instructions, however, then I'd like to figure that out so we can clear up any conf

[2019-01-17 23:12] diberry commented on #22080
@lesterw1 Thank you for reporting back. I'm updating the doc for clarity. #please-close

[2019-01-17 23:16] aryapankaj2018 commented on #16665
Can we have an update on this article please, Some of the in-built roles which have Microsoft.Support/* actions permission, still cant create the tickets.

In my case, i have a billing reader role at the Root Management group level and still get permissions issues.

If i assign the in-built role of suport request contributor, it works fine. But i can't find a reference saying that Support request

[2019-01-17 23:32] beneuto commented on #22216
@BryanTrach-MSFT, I believe rohan51 was enquiring about MSI (System Assigned Identity).   MSI applications cannot be search on by name or even browsed in AAD.   They can also not be found by searching on Object ID which is problematic as that is what is provided by the Identity blade.   The only way I have found to determine the Application ID is to make a HTTP call to the app and then capture the

[2019-01-17 23:35] SaurabhSharma-MSFT commented on #22465
@daveba Thanks
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-01-17 23:35] #22465 closed

[2019-01-17 23:36] MicahMcKittrick-MSFT commented on #22736
@faceoffers28 you would just have to setup the correct CName or A record to correlate to either the VMs public IP address or the DNS name assigned by Azure.

So if for example you have a custom domain from GoDaddy you would login to their site and setup the record so yourdomain.com points to the Azure VMs IP or DNS name. The process is essentially the same as you would do for a web app.

[2019-01-17 23:45] Alberto-Vega-MSFT commented on #22701
@jgodha !itThanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-17 23:46] jameshowe opened #22738 "Add search capabilities step does not work as showPopup is not yet defined"
Looks like some code used for "Add interactive data" has been accidentally left in the "Create a new map" section:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc23125-006f-d643-9548-ea6d7bc2de60
* Version Independent ID: 77704958-c3b6-d6aa-4f2b-d3794ae6df9c
* Content: [Search with Azure Maps](https://docs.m

[2019-01-17 23:57] sauryadas commented on #22676
In both cases nodes are drained .. although draining might fail ..

Thanks
Saurya
________________________________
From: Micah <notifications@github.com>
Sent: Thursday, January 17, 2019 11:34:18 AM
To: MicrosoftDocs/azure-docs
Cc: Saurya Das; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Scaling down doesn't seem to drain nodes (and pods) (#22676)

Thanks @iainfoulds<https://nam06.safelinks.pro

[2019-01-18 00:01] gbowerman opened #22740 "Repeated words on App Services overview page"
On the [App Service overview](https://docs.microsoft.com/azure/app-service/overview) page, 1st paragraph "App Service on" is repeated twice:
For Linux-based environments, see **App Service on** App Service on Linux.

[2019-01-18 00:06] SaurabhSharma-MSFT commented on #22678
@mvaneijken According to [SAML 2.0 Specification Core (3.4.1.1 Element NameIDPolicy)](http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf) this attribute is optional.

Are you using any existing custom app or downloaded it from Github?

[2019-01-18 00:08] kazshi commented on #22058
@ronortloff Thank you for the explanation. That makes sense. I've been confusing since I thought the "Server admin login" is different from the "Service Administrator" since I don't see it from the document.
It would be great if you could put it in the document.  Thanks.

[2019-01-18 00:08] #22058 closed

[2019-01-18 00:09] kbdavis07 opened #22741 "Option 2: Use your own Certicate is no longer available."
![image](https://user-images.githubusercontent.com/5434970/51357166-98edac00-1a8b-11e9-9b1b-b813a390fed2.png)

In Portal just have:

![image](https://user-images.githubusercontent.com/5434970/51357212-cf2b2b80-1a8b-11e9-8b8c-667010fbcf9e.png)

Use to have options to select your own SSL cert.

![image](https://user-images.githubusercontent.com/5434970/51357225-e1a56500-1a8b-11e9-9cf3-05a153ec033f.p

[2019-01-18 00:12] HueVang opened #22742 "WindowsAmd64 and WindowsX86 missing from OpenVPN (SSL) option"
If the user selects only "OpenVPN (SSL)" as their P2S Tunnel Type, the "WindowsAmd64" and "WindowsX86" files are not included in the VPN client configuration files. There is a separate doc that describes how to configure OpenVPN client, but the information regarding the missing files should still be displayed on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-18 00:13] SaurabhSharma-MSFT commented on #22713
@jeanluc33 Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 00:18] rbrayb opened #22743 "Should note elements must be first"
&lt;SingleSignOn Scope="Tenant" KeepAliveInDays="7" /&gt;
    &lt;SessionExpiryType&gt;Absolute&lt;/SessionExpiryType&gt;
    &lt;SessionExpiryInSeconds&gt;1200&lt;/SessionExpiryInSeconds&gt;

need to be the first elements in  &lt;UserJourneyBehaviors&gt; (as per https://docs.microsoft.com/en-us/azure/active-directory-b2c/relyingparty).

Otherwise you get the error:

The element 'UserJourneyBehavi

[2019-01-18 00:44] veyalla commented on #21403
I used the following create options for Edge Hub and they was :

[code]

[2019-01-18 00:52] imeya commented on #22646
@femsulu I can figure it out by using inlineScript block. thanks.

[2019-01-18 00:52] mdgattuso commented on #22741
Hi,

Enabling HTTPS with your own certificate is a feature only available for Standard Microsoft profiles.
![image](https://user-images.githubusercontent.com/40070656/51358448-20312480-1a78-11e9-95d9-65cd8e79bb3b.png)

It looks like you're using Standard Verizon. If you'd like to use your own SSL certificate please re-create your profile as a Standard Microsoft profile.

[2019-01-18 00:54] cherylmc commented on #6261
I've updated the article. It is due to publish tomorrow. Thanks for bringing this to our attention, @dcbrown16

[2019-01-18 00:54] cherylmc commented on #6261
#please-close

[2019-01-18 00:59] walsehgal commented on #22738
@jameshowe, thanks for pointing it out. The issue has been resolved.

[2019-01-18 01:06] dcbrown16 commented on #6261
Thanks @cherylmc  :)

[2019-01-18 01:06] #6261 closed

[2019-01-18 01:07] Karishma-Tiwari-MSFT commented on #22501
You cannot detach the OS disk while the VM is still available. You can delete the VM and then you can use the OS disk to create another VM.

Although data disks can be attached and detached even while the VM is running, the OS disk cannot be detached unless the VM resource is deleted. The lease continues to associate the OS disk to a VM even when that VM is in a stopped and deallocated state.

Can

[2019-01-18 01:10] kbdavis07 commented on #22741
Hi Maxwell,

So the pricing plan details are wrong then?

![image](https://user-images.githubusercontent.com/5434970/51359012-c2aad100-1a93-11e9-99c1-fedab2112b56.png)

It says that custom HTTPS is available with Verizon.

Wanted it for the Dynamic Delivery as it seems both are the same price right now.

[2019-01-18 01:11] mayurpuli commented on #20317
On similar lines ...
One of my other customer's has also been asking about how to enable IDS/IPS on Azure Cloud Services (PAAS)? Any ideas

[2019-01-18 01:22] SongKeTong commented on #22639
okey, I know, Thank you!

[2019-01-18 01:32] mdgattuso commented on #22741
Hi,

Custom domain HTTPS is currently available with Verizon only via the CDN managed certificate. Bring your own certificate for Verizon profiles is in development, and will become available in the near future (targeting late February).

Thanks,
Max

[2019-01-18 01:34] femsulu commented on #20850
@AdamSharif-MSFT, I just tested and it looks like this issue is fixed. Can you confirm the same?
![image](https://user-images.githubusercontent.com/34327711/51359818-2de9a880-1a7e-11e9-8fae-106d394085a2.png)

[2019-01-18 01:57] femsulu commented on #22715
@wooters Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-18 02:07] kbdavis07 commented on #22741
Hi Max,

Thanks for the info.

[2019-01-18 02:30] femsulu commented on #22725
@jdanton Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-01-18 02:31] ecfan commented on #21683
@brandonh-msft, I asked the team about this item, and they confirm that the schema limits and solution also applies to maps. I created a work item to address and have an update in progress, which should go live tomorrow or Monday. Thanks!

@mike-urnun-msft, #please-close

[2019-01-18 02:47] jdanton commented on #22725
Let me know if you want to do a quick call do see repro

[2019-01-18 02:54] spelluru commented on #22617
@D43m0n
@CeciAc - Yes. "Usage Policy" has been removed from the dashboard. You are right. This has been translated to the number of VM's that are available in the lab.

I have updated all the tutorial articles with updated steps and screenshots. The content is already live in English. The localized content should be live in 2 weeks.

[2019-01-18 02:56] spelluru commented on #22615
@D43m0n
@CeciAc - Yes. "Usage Policy" has been removed from the dashboard. You are right. This has been translated to the number of VM's that are available in the lab.

The UI in general has changed since the articles were updated last time.

I have updated all the tutorial articles with updated steps and screenshots. The content is already live in English. The localized content should be live in

[2019-01-18 03:01] chengyiyu0724 commented on #14039
@faceoffers28 Thank u for quickly response. Actually I read #14606 (comment) yesterday and found out solution. That article is very helpful to clarify problem, I think everyone has same problem must read.

[2019-01-18 03:16] mrbullwinkle commented on #22194
@jefflomax thanks again for the additional details, in regard to Id, OuterId, and ParsedStack all three of those parameters are optional and you can find the [description of those fields here](https://github.com/Microsoft/ApplicationInsights-Home/blob/master/EndpointSpecs/Schemas/Docs/ExceptionData.md). I pinged the SDK engineering team and one of the engineers suggested that of those parameters t

[2019-01-18 03:17] kazshi opened #22747 "Restore in different subscription"
Looks like it's not possible to restore in different subscription although it's not described (since my customer tried to do but got an error) - it would be great if it's described in this page (or/and the following page).
How To Restore a Server in Azure Database for MySQL | Microsoft Docs
https://docs.microsoft.com/en-us/azure/mysql/howto-restore-server-portal

and Are there any ways to restore

[2019-01-18 03:39] awysza opened #22748 "RBAC for Virtual machine serial console for Linux"
Feature: Virtual machine serial console for Linux
Link to doc article: https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/serial-console-linux
Issue: the customer needs exact role (RBAC) that grants this feature (VM Serial Console). The article says:
"To enable or disable the serial console for a subscription, you must have write permissions to the subscription. These permissi

[2019-01-18 03:52] badalk opened #22749 "Repository namespaces and isoloation"
Can you elaborate on what kind of isolation does namespaces provide?
Secondly, can I secure a namespace with some kind of RBAC? so that it is multi-tenant and one team does not interfere with images for another team / project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 868e4408-f5af-9e55-ca11-fa008f221d08
* Version

[2019-01-18 03:53] kudlatiger commented on #22697
Yes, I am looking for "IoT Hub Template" in Visual Code

Requirement: I wish to create azure function (version 2 ) using visual studio code. I am basically trying to capture all the messages/events on the IoT Hub and then write function code to forward these messages to "CosmosDb" by making some changes to the messages

[2019-01-18 04:34] CHEEKATLAPRADEEP-MSFT commented on #22035
@imeya We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-18 04:34] #22035 closed

[2019-01-18 04:40] SaurabhSharma-MSFT commented on #22717
@djhallxyz Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 04:57] shashishailaj commented on #22063
When the key woudl roll over , the kid value would also change. You can use either https://login.microsoftonline.com/common/discovery/keys  or tenant speceifc URLs for verifying v1 and v2 tokens using kid value in the token.

https://login.microsoftonline.com/<Tenant Name>.onmicrosoft.com/discovery/v2.0/keys
https://login.microsoftonline.com/<Tenant Name>.onmicrosoft.com/discovery/keys

Hope the i

[2019-01-18 04:57] #22063 closed

[2019-01-18 05:13] msvijayn commented on #22398
@jrinehart76 - You can find details on creating log alerts for Log Analytics through ARM in this article: [https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions-resources-searches-alerts#alerts](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/solutions-resources-searches-alerts#alerts )

The said article or functionality is not being retired. Disclaimer/Note in the

[2019-01-18 05:13] msvijayn commented on #22398
#please-close

[2019-01-18 05:17] AjayKumar-MSFT commented on #22714
@AlexFiala, Thanks for the question! We are checking on this and will update you shortly.

[2019-01-18 05:34] AjayKumar-MSFT commented on #22740
@gbowerman, Thanks for bringing this to our attention. We are taking a look into this and will get back to you shortly.

[2019-01-18 05:38] neeleshray commented on #22732
@jasonfare Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 05:38] neeleshray commented on #22743
@rbrayb Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 05:56] TravisCragg-MSFT commented on #22748
@awysza Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-18 05:57] TravisCragg-MSFT commented on #22729
@yeahsicy can you post a link to the doc article you are referring to?

[2019-01-18 05:59] TravisCragg-MSFT commented on #22728
@Teodelas Thanks for the feedback. If you are referring to a doc that states otherwise, can you please post a link to that doc?

[2019-01-18 06:00] CHEEKATLAPRADEEP-MSFT commented on #22651
@jennabourgeois The spelling is fixed.
![image](https://user-images.githubusercontent.com/44426401/51368218-7653a580-1b14-11e9-925a-846dff4e5192.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-18 06:00] #22651 closed

[2019-01-18 06:00] yeahsicy commented on #22729
@TravisCragg-MSFT Sure. Here we go:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-twilio

[2019-01-18 06:00] TravisCragg-MSFT commented on #22742
@HueVang Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-18 06:01] TravisCragg-MSFT commented on #22735
@milazzom Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-01-18 06:04] CHEEKATLAPRADEEP-MSFT commented on #22650
@jennabourgeois The spelling is fixed.
![image](https://user-images.githubusercontent.com/44426401/51368318-f11cc080-1b14-11e9-9ca8-14017af0f532.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-01-18 06:04] #22650 closed

[2019-01-18 06:04] TravisCragg-MSFT commented on #22741
@kbdavis07 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 06:04] #22741 closed

[2019-01-18 06:05] TravisCragg-MSFT commented on #22734
@cheezewhizze Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-18 06:13] TravisCragg-MSFT commented on #22738
@jameshowe We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 06:13] #22738 closed

[2019-01-18 06:18] TravisCragg-MSFT commented on #22729
@yeahsicy Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-01-18 06:21] nmikuni opened #22750 "Add CNG Key Isolation Service to Services which is neccessary"
I heard that CNG Key Isolation Service is neccessary for Windows Azure Agent.
Please add it to following list.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/prepare-for-upload-vhd-image#check-the-windows-services

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b9c0d7a-bbf5-eccc-f2ca-a825bf42c

[2019-01-18 06:30] kazshi commented on #22669
@TravisCragg-MSFT Thanks for your clarification!

[2019-01-18 06:30] #22669 closed

[2019-01-18 06:37] PramodValavala-MSFT commented on #22721
@akshay8082 Azure Functions can be protected with a few clicks using Azure AD and even a few social identity providers if required.

[Here](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad) is the doc that explains this in detail.

[2019-01-18 06:37] A141864 commented on #11060
@sryabkov
There is another option that works... create two ingress controllers on the same IP:

[code]

[2019-01-18 06:41] CHEEKATLAPRADEEP-MSFT commented on #21269
#63423

[2019-01-18 06:43] PramodValavala-MSFT commented on #22722
@akshay8082 Could you share your code as well if possible?

[2019-01-18 06:45] GauravLad12 commented on #20012
Is it possible to update the throughput of Cosmos databse from 400 to 800, using the powershell or any Cosmos REST-API

[2019-01-18 07:01] SkyTechGit opened #22756 "SSL SANs Certificate Information"
Can you provide more feedback on the trusted CA SSL (and SANs) needed on the domain controller for Azure AD Connect without AD FS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06faa428-c7b6-ca5c-271e-3f98d9536d4f
* Version Independent ID: 63adb39a-c4fa-92bb-480d-59bee8e2dc24
* Content: [Azure AD Connect: Prerequisite

[2019-01-18 07:03] ivanignatiev opened #22760 "AzCopy Asynchronous data transfer between two Azure Stacks"
Hello,

Does scenario of asynchronous data transfer  between two different appliances of Azure Stacks is supported?

Thank you !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3a78588-520c-9787-dadc-7ae66cfa2ed4
* Version Independent ID: 1e191327-255f-7754-0f27-82201b22382c
* Content: [Tools for Azure Stack storage](h

[2019-01-18 07:07] ronakmob opened #22763 "Android: GCM to FCM Document"
Hi,

I have seen that Microsoft has provided certain dependency to add Notifications in our application.

Document: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started

I feel like above document has been deprecated.
What I have done?

1) I followed GCM to FCM Android doc.
2) Our notification service is working fine when I dir

[2019-01-18 07:14] ericcwk opened #22765 "About the frequency on the alert rules"
Hi all,

How can we create alert rules with specific time interval let say 5 mins and per 5 mins checking

Regards
Eric Chan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2bd9d0-af11-d684-051b-7ac8e611cca9
* Version Independent ID: f83d6e85-4d52-6b7f-a79e-f3ed3f3d0a95
* Content: [Create a metric alert with a Resourc

[2019-01-18 07:18] dominicbetts commented on #22175
Hi @CodingSpiderFox

To clarify a couple of points relating to IoT Hub messaging:

- A device can send sensor telemtry to an IoT hub using MQTT, AMQP, or HTTP. Access is granted by a device-scoped token.
- A backend service can read from the default endpoint in an IoT hub using the AMQP protocol only (see https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-endpoints). Access is granted

[2019-01-18 07:20] ixevix commented on #22665
Weirdly I got it done from another Windows 10 1803 installation...

[2019-01-18 07:42] Grace-MacJones-MSFT commented on #22106
@codebeaulieu thanks for your patience. It looks like there was an update made for Xamarin and the update was completed. There’s a thread talking about the SDK update: https://github.com/xamarin/XamarinComponents/issues/480 Double check to make sure you are using the latest version of everything.

We will now proceed to close this thread. If there are further questions regarding this matter, pleas

[2019-01-18 07:42] #22106 closed

[2019-01-18 07:43] pesetskyps opened #22770 "What will cause the update of the Root/Intermediate certificate?"
Should we revoke the devices after root certificate expiration and reenter new certificate based on the new root certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4229389d-0ea1-9f7b-db38-049ab3beecc1
* Version Independent ID: 2d979405-e7cc-a522-d736-2fa563a777ff
* Content: [Concepts of Azure IoT Hub X.509 sec

[2019-01-18 08:05] KrishnaG-MSFT commented on #22725
@jdanton After updating AzureRM module, I did a quick round of repro to enable sending diagnostics logs to a Log Analytics workspace using the PowerShell cmdlet Set-AzureRmDiagnosticSetting and could not see any issue.

<img width="633" alt="capture3" src="https://user-images.githubusercontent.com/45988031/51371761-16173080-1b21-11e9-9744-26c82b1d0a66.PNG">

<img width="947" alt="capture1" src="ht

[2019-01-18 08:10] arnabganguly opened #22771 "Question on Storage cost table"
The documentation states , Storage bill for 3 additional regions - East US, North Europe, and East Asia --&gt; 3 * 1 TB  . How it this calculation possible ? Should it not be (n+1)*storage . When are maintaining 3 additional copies of data in addition to the original , we have total of 4 total copies and hence storage should be 4 * 1 TB

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-01-18 08:20] Grace-MacJones-MSFT commented on #22490
Hi @itorian , yes ASP.NET is supported. An alternative you can try is [Azure Service Bus](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview) depending on the type of scenario you are trying to achieve.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the di

[2019-01-18 08:20] #22490 closed

[2019-01-18 08:21] CHEEKATLAPRADEEP-MSFT commented on #22771
@arnabganguly Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2019-01-18 08:32] neeleshray commented on #22706
Has the custom domain been added to the tenant ?
Ref: [Add Custom Domain to the Azure AD Tenant](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain)

[2019-01-18 08:35] maganvill commented on #22676
I verified again to be super sure.

Pods running on the node taken down when performing `az aks scale` are immediate deleted and it's not possible to retrieve logs from them. So I can't see if the SIGTERM is sent. But when draining manually I see the pods receiving SIGTERM and waiting to complete (minutes).

Are you sure you are not just cording the node marking it as unschedulable and evicting th

[2019-01-18 08:39] iamdravenman opened #22773 "Broken Link"
The second point under "Service Tags" contains a broken link. The anchor here - "Virtual IP address of the host (168.63.129.16)" - contains an extra "#", which promptly leads to nowhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e

[2019-01-18 08:55] jtheisen commented on #22668
@BryanTrach-MSFT @MatthewSteeples

If the hub is on my webserver and the clients don't connect to my webserver but this Azure SignlarR Service, that just means the Azure SignalR service is delegating the traffic to my webserver. Like a proxy. How can that possibly help scalability?

That would make sense and would be very useful, but then there's no hub, which is unexpected for something called Si

[2019-01-18 09:03] ddobric opened #22774 "Strange limitation"
Documentation notes following:

"There is a current limitation in regards to not mixing Windows and Linux apps in the same resource group as well."

Note, that Linux and Windows containers can be mixed in the resource group if you use two plans (Linux and Windows) on different locations.

Btw. this limitation does not make really sense and it would be good to fix it in the future.

---
#### Docume

[2019-01-18 09:10] sffamily commented on #22668
The SignalR Service supports Hubs, and bi-directional communication. You can simply think it as co-located App Server and SignalR Hubs are separated into different servers, and each is independently scaled. More details can be found at SignalR Service Internals: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-internals

[2019-01-18 09:12] #22683 closed

[2019-01-18 09:15] sffamily commented on #22490
ASP.NET support code samples can be found at https://github.com/aspnet/AzureSignalR-samples

[2019-01-18 09:29] imeya opened #22775 "How to use c# code to enable Event capture in event hub for Azure Data Lake Storage?"
I am trying to create an EventHub with capture capability enabled. I am using EventHubManagementClient from Microsoft.Azure.Management.EventHub.

Azure portal allows to choose from two Capture Providers like Storage Account and Data Lake Storage.

So can I use the c# code to enable capture providers for Data Lake Storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-01-18 09:30] raja4014 opened #22776 "Local Testing"
How to test the access token with Visual Studio during debugging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Secure SQL Database connection with managed identity - Azure App Service](https://docs.microsof

[2019-01-18 09:32] jtheisen commented on #22668
@sffamily That document's useful, I overlooked it so far. So "scaling" in this context refers to connections rather than traffic - that makes sense, but it's really non-obvious.

So in the "serverless" approach there's no hub and clients can connect without a persistent of some server being a requirement, correct?

[2019-01-18 09:38] jakaruna-MSFT commented on #22750
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-18 09:38] jakaruna-MSFT commented on #22750
@cynthn Please provide your inputs

[2019-01-18 09:46] ashuthinks opened #22777 "How can i send data into AVRO serialize format?"
Hi
I want to simulate data to IoTHub device but my input is json and i want to serialize this json into AVRO format how can i achieve this?

Currently we have developed our own mvc application for simualtion but it will be great if we can use this same SaaS project to do same.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-01-18 09:48] saifuddin123 opened #22778 "B2C user migration from UPN to Local account"
Hi,
I am working on migrating our application to use B2C local account with username. Currently the application is using UPN as login (username@domainname.microsoft.com). How can i do it? I tried using B2CGraphAPI updateuser as mentioned in below link. It give error, but no details of error.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotn

[2019-01-18 09:49] AjayKumar-MSFT commented on #22665
@ixevix, If you were able to generate the certificate fine as per the document on another Windows 10 machine, then evidently there is some issue on your original (OS Build 17134.471) Windows 10 machine which needs to be remedied.

As a side a note, on the problematic Windows 10 machine, you may update all the required modules /or consider uninstalling and re-installing the PowerShell modules, inst

[2019-01-18 09:59] SubhashVasarapu-MSFT commented on #22773
@iamdravenman Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-18 10:02] AjayKumar-MSFT commented on #22763
@ronakmob, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-01-18 10:09] nils-a opened #22779 "Please Document "liquid" more"
As of #6826 there is some tooling available - please add some documentation about liquid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b0e1-6ae3-cf1039cc1c7b
* Version Independent ID: 2ce45d89-18b7-8465-8ab7-bef9b544a474
* Content: [Convert JSON data with Liquid transforms - Azure Logic Apps](https://doc

[2019-01-18 10:11] bally-singh opened #22780 "Please clarify these settings"
Hi Team,

What are the best practices around these policies?

Are you saying for corporate MDM devices that we should explicitly disable the above, to ensure that Enterprise State works?

Or is this a page advising that if I enable Enterprise State roaming that the settings will no longer work?

i.e. I have no of the above settings configured today what do I do?

---
#### Document Details

⚠ *Do n

[2019-01-18 10:13] sryabkov commented on #11060
@A141864 👍 thx

[2019-01-18 10:19] wendlandreas opened #22781 "Weekdays have to start with Upper case when editing JSON schedule in ADF GUI"
Just noticed an issue while following the JSON examples provided. I edited the schedule object in the JSON file via the ADF GUI using e.g. {"hours":[17], "weekDays":["saturday"]}.
Apparently the week days have to start with upper case, otherwise they are not recognized in the visual editor, i.e. {"hours":[17], "weekDays":["Saturday"]}.
Not sure if this is a bug or expected behavior, would be great

[2019-01-18 10:24] RamakrishnanRamar opened #22782 "Refresh tokens for authentication on Web application,"
How can we use refresh tokens for authentication, Kindly update us,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable token lifetimes in Azure Active Directory](https://docs.microsoft.com/en-us/azur

[2019-01-18 10:34] djaus2 commented on #22479
This can be closed now, thx

[2019-01-18 10:39] djaus2 opened #22783 "How to shutdown an IoTEdge device?"
I have my CSharpModule running on a MinnowBoardMax with OS Win 10 IoT-Core.
If I shut the device down, when I bring it back up the modules, apart from EdgeAgent fail to start.
Is there a correct way to shut such a device down and to bring it back up?

     iotedge list
    NAME             STATUS           DESCRIPTION                         CONFIG
    CSharpModule     failed           Failed (322

[2019-01-18 10:48] cowinr commented on #22227
The update to `Az` was straightforward IIRC. Mostly just find-and-replace, however the check for `$azureResourcesModule.Version.Major -ge 5` needs to be removed along with the unsupported plain-text password option for `New-AzADApplication`.

[2019-01-18 10:50] RamakrishnanRamar opened #22784 "Unable to invalidate the Asp.Net cookies instantly,"
We are using Azure AD open Id connect authentication, that is working fine. For log out purpose,  We added single sign out and log out the both application and azure portal using below code.

 // Sign a user out of both AAD and the Application

        public void SignOut()

        {

            HttpContext.GetOwinContext().Authentication.SignOut(

                new AuthenticationProperties {

[2019-01-18 10:52] jakaruna-MSFT commented on #22749
Thanks for the question! We are investigating and will update you shortly.

[2019-01-18 10:54] djaus2 commented on #22783
I find I have to completely remove the Edge and then reinstate it:
    [192.168.0.26]: PS C:\iotedge> iotedge list
    NAME             STATUS           DESCRIPTION      CONFIG
    edgeAgent        running          Up 30 seconds    mcr.microsoft.com/azureiotedge-agent:1.0
    tempSensor       running          Up 3 minutes     mcr.microsoft.com/azureiotedge-simulated-temperature-sensor:1.0
    edge

[2019-01-18 11:32] ChiragMishra-MSFT commented on #22648
@dem108 Have you tried running the python code mentioned in the troubleshooting doc in the container shell ?

@hning86 Can you please take a look at this ?

[2019-01-18 11:37] nils-a commented on #22779
Probably a simple link to https://shopify.github.io/liquid/ would have shortened my search a lot :-)

[2019-01-18 11:43] ChiragMishra-MSFT commented on #22781
@wendlandreas Thanks for the feedback. I am assigning the issue to the content author to have a look at this.

@sharonlo101 Can you please take a look at this and update the doc as appropriate ?

[2019-01-18 11:52] sergaz-msft commented on #22777
Thanks for the feedback @ashuthinks . I am not sure if your question is related with the doc where you submitted this issue at. Can you explain a little more on how what you are trying to achieve related with this doc?

Also please take a look here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-query-avro-data

Thanks!

[2019-01-18 11:52] FlippieCoetser opened #22785 "Missing syntax in documentation to bind to query parameter when using HTTP Trigger"
The binding syntax for query parameters is not documented.

**Given**
`http://&lt;yourapp&gt;.azurewebsites.net/api/&lt;funcname&gt;?parameter=value`

**Then**
`{query.parameter}` provides access to the `value` of `parameter`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version

[2019-01-18 11:55] AjayKumar-MSFT commented on #22774
@ddobric, Thanks for the feedback! Yes, it’s a current limitation as mentioned in the documentation on mixing Windows and Linux Apps.
I have relayed this feedback to our product team on this ask and if you wish you could always leave your feedback on Uservoice - All of the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building

[2019-01-18 12:01] sergaz-msft commented on #22770
Tahnks for the great question @pesetskyps .
You are correct. If the root certificante expires you will need to revoke the device ones.

Mongoose OS has an interesting solution for that. Take a look at the Internet of Thins Show - https://channel9.msdn.com/Shows/Internet-of-Things-Show/Update-Mongoose-OS-with-Automatic-Device-Management-in-Azure-IoT-Hub

Other good readings:
https://docs.microsoft.

[2019-01-18 12:08] cowinr opened #22787 "Incorrect Service Bus Sku in example?"
The article mentions that "Virtual Networks are supported only in Premium tier Service Bus namespaces." yet the ARM template example creates a Service Bus namespace with Sku `"name": "Standard"`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e147f10f-d686-829a-bc46-62de76b7ca01
* Version Independent ID: 7a0ad19d-d13e-

[2019-01-18 12:22] dem108 commented on #22648
Yes, I did try the troubleshooting doc and eventually solved my specific `get_model_path` problem, but it would be still good if we can add more details on how to set the logging level as advised in the error message. The current documentation just describes the potential problem, but not suggesting what to do in such case.

[2019-01-18 12:23] wouterhund commented on #22706
Hi @neeleshray, we've tried with and without.

When this domain is configured as a Custom Domain we can no longer invite these users as Guest Users: `This user cannot be invited as a guest user because they are in a verified domain of this tenant.`

When adding the user as a regular User they get a password, become an Azure AD member, and do not use Google federation.

When we do not have our doma

[2019-01-18 12:52] Osbserver commented on #21040
@ttilton From https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/36479119-allow-conversion-of-ad-synced-accounts-to-in-clou

Rob de Jong (Azure AD IAM) comentado  ·  18 de enero de 2019 01:44  ·
Hi folks -

I’m happy to get back to you with good news: based on customer response we decided to revert the bug fix that caused the issue you were seeing and this should now be fi

[2019-01-18 12:57] shashishailaj commented on #22224
As per this [article](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow) The optional parameter response_mode specifies the method that should be used to send the resulting token back to your app. This parameter defaults to "query" for an access token, but "fragment" if the request includes an id_token. Please modify the URL to the following and check if

[2019-01-18 12:57] #22224 closed

[2019-01-18 13:03] Osbserver commented on #21040
I have checked it and it's working fine: restored users are now "In cloud"
@MarileeTurscak-MSFT Thanks a lot for your help.

[2019-01-18 13:17] VanpouckeBen opened #22789 "CORS: Azure function - HTTP triggers on Raspberry pi 3 in a docker container"
I have Azure functions V2 running on my raspberry pi 3 in a docker container. I can access the functions via the ip-address of the pi in the network. My problem is that I can't access it from my website because of CORS.

If my Functions where running in the cloud, I could easily add CORS. Does anyone know how I could fix this on the raspberry pi? Update docker file or change files?

---
#### Docum

[2019-01-18 13:22] msjuergent commented on #22686
PR    https://github.com/MicrosoftDocs/azure-docs-pr/pull/63437 is on its way with correcting the data

[2019-01-18 13:32] shashishailaj commented on #22784
@RamakrishnanRamar Thank you for your query. We will investigate and update this thread accordingly.

[2019-01-18 13:33] ChiragMishra-MSFT commented on #22775
@imeya You can receive events from Azure Event Hubs using C# by following this doc :

[Receive events from Azure Event Hubs ](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-dotnet-framework-getstarted-receive-eph)

You can modify the connection string as appropriate.

[2019-01-18 13:34] msjuergent commented on #22686
PR merged automatically and closed. Will be published in the next release

[2019-01-18 13:35] shashishailaj commented on #22782
@RamakrishnanRamar Thank you for your query. We will investigate and update this thread further .

[2019-01-18 13:36] ChiragMishra-MSFT commented on #22648
@dem108 Good to know that your problem was solved and thanks for the feedback. I have assigned the issue to the content owner to take a look and update the doc as appropriate.

[2019-01-18 13:37] shashishailaj commented on #22780
@bally-singh Thank you for your query. We will investigate and update this thread further accordingly.

[2019-01-18 13:38] msjuergent commented on #22686
PR with corrections got pushed and merged and should release with the next release. Thanks for catching this.

Thanks  Juergen

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent: Thursday, January 17, 2019 2:15 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Juergen Thomas <Juergen.Thomas@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/

[2019-01-18 13:38] shashishailaj commented on #22756
@SkyTechGit Thank you for your query. We will investigate and update this thread further accordingly.

[2019-01-18 13:46] mkredpoint opened #22790 "please document error code 650057"
Hi, I'm receiving an error code that is not listed above. Could you add information around error code 650057 please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the A

[2019-01-18 14:02] j-martens commented on #8903
@YutongTie-MSFT #please-close

[2019-01-18 14:04] j-martens commented on #9406
@YutongTie-MSFT  #please-close

[2019-01-18 14:05] j-martens commented on #20338
@strategywise - a fix was checked in December. If all looks good, let's  #please-close

[2019-01-18 14:07] j-martens commented on #8534
@YutongTie-MSFT - This functionality has been deprecated in October 2018.  #please-close

[2019-01-18 14:14] j-martens commented on #21581
#please-close

[2019-01-18 14:16] strategywise commented on #20338
@j-martens Sorry this is the company account that I rarely jump on. Closing now.

[2019-01-18 14:16] #20338 closed

[2019-01-18 14:23] amiraBN opened #22791 "Linux machine for testing firewall"

[2019-01-18 14:37] MarekLani commented on #22477
I have overlooked this API. It is great to have possibility to define custom types. Thank you very much for the guidance @KingdomOfEnds .

[2019-01-18 14:37] Andre-Nascimento-MSFT commented on #22777
This page looks helpful:
https://www.michael-noll.com/blog/2013/03/17/reading-and-writing-avro-files-from-the-command-line/

The specific command you're looking for:
`$ java -jar ~/avro-tools-1.7.4.jar fromjson --schema-file myFile.avsc myFile.json > myFile.avro`

[2019-01-18 15:19] Teodelas commented on #22728
Hi.  Sorry, I thought maybe the pull request referenced the document where this was created from.  Here it is:https://docs.microsoft.com/en-us/azure/azure-monitor/platform/tutorial-dashboards
- This is fantastic doc and would be even better if it covered all the services.  I saw a couple of other pull requests on the doc site as well for other services missing.

[2019-01-18 15:20] amiraBN commented on #22791
issue resolved, please ignore the request

[2019-01-18 15:26] thompler opened #22792 "Synchronization frequency"
What is the synchronization frequency for cloud only user accounts? Is there any way to adjust the frequency or force a synchronization?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40de8209-c5b3-684c-05a7-1fb0082ae0f3
* Version Independent ID: c28d51c8-65a8-68d6-2c2d-6b02a3fc9474
* Content: [Azure Active Directory D

[2019-01-18 15:36] stsulliv commented on #22724
Document: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/tenant-restrictions

[2019-01-18 15:38] BharathNimmala-MSFT commented on #22615
Thank you Sreedhar.

@D43m0n/@CeciAc - We are going to close this thread but if there are any questions in future regarding the documentation, please let us know. Thank you.

[2019-01-18 15:38] #22615 closed

[2019-01-18 15:39] BharathNimmala-MSFT commented on #22617
Thank you Sreedhar.

@D43m0n/@CeciAc - We are going to close this thread but if there are any questions in future regarding the documentation, please let us know. Thank you.

[2019-01-18 15:39] #22617 closed

[2019-01-18 15:41] sergaz-msft commented on #22175
Hi @CodingSpiderFox ,

See https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-protocol-guide

the qpid.proton.Reactor class is used to retrieve the AMQP messages. Would it be correct, in order to retrieve all messages continuously, to set a very large timeout? Or will the IoT hub disconnect the backend service client after a certain timeout?
Would a message which is bein

[2019-01-18 15:43] sergaz-msft commented on #22479
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 15:43] #22479 closed

[2019-01-18 15:49] tonito787 commented on #20093
Hi!

Any updates on this issue? I have the same problem.

VNET Integrated PaaS ---(Peering)---> VNET with VM in the same subscription.

I can get this to work in 1 VNET 2 different subnets, but not 2 separate VNETS that are peered.

[2019-01-18 15:49] MoiMoiDG commented on #21581
Hi @j-martens,

Thanks you for the reply.
I have had a (quick) look at the linked example. It seems helpful for me and worth trying.
With respect to the tutorials I linked above, I do miss (at first sight)
- the case where SVM (Support Vector Machine) is attached to CNN, and
- the possibility to quickly change the pretrained model, e.g. ResNet50 instead of ResNet18.

Did I overlook anything? Are t

[2019-01-18 15:50] sergaz-msft commented on #22477
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-01-18 15:50] #22477 closed

[2019-01-18 15:57] javiermicrosoft opened #22793 "Log Analytics query are using old query language"
The Log Analytics query shown are using the old query language, should be updated to KQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa2f48e-a8f8-fb03-753b-9e3b76075b96
* Version Independent ID: 2554dcd1-27a2-3a32-4097-b17dd261a1ad
* Content: [Integrate security solutions in Azure Security Center](https://docs.micr

[2019-01-18 16:02] rgamage opened #22794 "Missing guidance on Dimensions"
For a given event that supports dimensions, some guidance would be nice on how to configure these.  The series of checkboxes (parent and child for a particular dimension), along with the checkbox to the right under a "Select" column, are extremely confusing to me.  The Select* column has an asterisk, with no note anywhere explaining the asterisk, and the text above that says anything unselected wi

[2019-01-18 16:05] 0xJHarrison opened #22795 "Possible Confusing in Configure your RADIUS client section"
The numbered list for Domain Joined machine, LDAP-Bind or RADIUS could be clearer as some environments have multiple variants (e.g may follow the Domain Joined step and then try the RADIUS steps as both are in the environment)
Sections would be clearer if not all in the same numbered list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-01-18 16:36] ggirard07 opened #22796 "Unable to login with `az acr login` while using RBAC with roles specific to ACR"
The current documentation currently states

But when I configure RBAC for a user or a group with role `AcrPull`, login does not work as user seems to not be authorized for the resource.

Only role I found that seems to be compatible with `az acr login` is `Reader`. But I just don't understand the purpose for `AcrPull` in that case which seems useless to me...

---
#### Document Details

⚠ *Do not

[2019-01-18 16:39] MarileeTurscak-MSFT commented on #21040
Great news everyone - based on your feedback the product team decided to revert the bug fix that caused the issue (see above comment).

Thanks for your persistent feedback and efforts to get this issue resolved.

We will now proceed to close this thread.

[2019-01-18 16:39] #21040 closed

[2019-01-18 16:48] mumian commented on #22731
@artmasa Please contact Microsoft support or use the MSDN Azure forum for specific user issues.  I would check whether the certificate resource has been created successfully from the Azure portal. You can find more information about this error at https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-not-found-errors.

[2019-01-18 16:52] hning86 commented on #20990
i have submitted a PR to fix this.

[2019-01-18 17:08] vhorne commented on #22791
#please-close

[2019-01-18 17:13] cynthn commented on #22750
@jakaruna-MSFT can you reassign this issue to the content author, @glimoli ? Thanks!

[2019-01-18 17:18] carbo-will commented on #20356
Thank you!

[2019-01-18 17:21] JorgeZapatero opened #22797 "final static String CLIENT_ID does not exist in MainActivity.java"
Step 3.3 states (in MainActivity.java) "Replace the line starting with final static String CLIENT_ID with ..."

In the starter project referenced in Step 2, the Client ID is set in app &gt; res &gt; raw &gt; auth_config.json with the tag "client_id"

auth_config.json in referenced in line 60 of MainActivity.java:
sampleApp = new PublicClientApplication(
                    this.getApplicationConte

[2019-01-18 17:27] Karishma-Tiwari-MSFT commented on #22686
@Rupaliss Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-01-18 17:27] #22686 closed

[2019-01-18 17:30] MicahMcKittrick-MSFT commented on #22796
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-18 17:33] MicahMcKittrick-MSFT commented on #22225
@wp1107 any update?

[2019-01-18 17:34] mike-urnun-msft commented on #22779
Hi @nils-a There is a link to liquid language template doc in the first paragraph:

![image](https://user-images.githubusercontent.com/36717703/51403092-3b497600-1b04-11e9-9549-b1cf3e1d5608.png)

Do you have a suggestion on making it more discoverable?

[2019-01-18 17:36] mike-urnun-msft commented on #22785
Hi @FlippieCoetser Thank you for your feedback! We will review and update as appropriate.

[2019-01-18 17:39] mike-urnun-msft commented on #22789
Hi @VanpouckeBen Thank you for your feedback! We will review and update as appropriate.

[2019-01-18 17:41] artmasa commented on #22731
@mumian, thanks for your response.
I have updated the issue. After investigating further I found out that the problem is not the dependency on the certificate resource, but the reference to it.
I think it would be nice if references inside a conditional object can be evaluated after the check on condition. In my case both resources should not be created when condition `isProduction` returns false;

[2019-01-18 17:47] JorgeZapatero commented on #22797
This page is relevant for explaining the sampleApp object: https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/Configuring-your-app

[2019-01-18 17:53] MicahMcKittrick-MSFT commented on #22736
@faceoffers28 I will close for now. If you have further questions just let us know and we can always reopen and continue the discussion.

[2019-01-18 17:53] #22736 closed

[2019-01-18 17:54] csteelatgburg commented on #5872
Thanks for this writeup @jeremyhagan. I have found that machines which already have a userCertificate attribute sometimes need to be removed from the domain and then added again before they will perform the Hybrid join successfully. The userCertificate does not seem to change as part of the process, so I'm not entirely sure what is happening. Have you experienced that?

[2019-01-18 18:00] Alberto-Vega-MSFT commented on #22783
@djaus2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-01-18 18:01] MarileeTurscak-MSFT commented on #22778
@saifuddin123
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 18:04] romankiss opened #22798 "Using the MQTT protocol directly to Device and multiple Modules"
This document is not up to date related to the Module identities. Today, we can create under each device identity up to 20 module identities - https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-module-twins

As that document stated, each module identity has own independent connection to the IoT Hub. In other words, for example, if the _Device1_ has two modules such as _ModuleA_ and _M

[2019-01-18 18:04] PramodValavala-MSFT commented on #22586
@hjgraca Just following up here... Does @solankisamir's comment help?

[2019-01-18 18:05] PramodValavala-MSFT commented on #22653
@kudlatiger Just following up here... Could you confirm if my previous comment resolves your issue?

[2019-01-18 18:09] MicahMcKittrick-MSFT commented on #22676
Thanks @maganvill

@sauryadas how would you suggest we move forward on this? I believe it calls for further investigation. I can file a bug if needed.

[2019-01-18 18:10] j-martens commented on #20990
Thank you for your report.

#please-close

[2019-01-18 18:11] MicahMcKittrick-MSFT commented on #22796
@ggirard07 looking at the description of the roles it seems acr pull does not give access to the registry. Only the ability to pull images. So it would be expected they cannot login to the registry itself.

[2019-01-18 18:14] j-martens commented on #8693
Hello,
Thank you so much for your report. [This functionality was deprecated in September 2018](https://docs.microsoft.com/azure/machine-learning/service/overview-what-happened-to-workbench).

#please-close

[2019-01-18 18:14] j-martens commented on #8785
@tedway Will we get support for AVX2?

[2019-01-18 18:16] hrasheed-msft commented on #22507
@ChiragMishra-MSFT thanks for providing that solution for the customer. @sac8m As mentioned, the On-demand HDInsight feature of Azure Data Factory currently requires a Service Principal Id. This is a limitation of Azure Data Factory and not of HDInsight, which does support [cluster creation using managed service identities](https://azure.microsoft.com/en-us/blog/azure-hdinsight-integration-with-da

[2019-01-18 18:16] j-martens commented on #8946
@YutongTie-MSFT  please assign to Carlos Medina. Thank you.

[2019-01-18 18:17] j-martens commented on #9445
Hello,
Thank you so much for your report. [This functionality was deprecated in September 2018](https://docs.microsoft.com/azure/machine-learning/service/overview-what-happened-to-workbench).

#please-close

[2019-01-18 18:18] kazshi opened #22799 "any ways to bind the renewed certificate automatically?"
"The renewed certificate is not automatically bound to your app, whether you renewed it manually or it renewed automatically."
Does it mean that there's no way to bind the renewed certificate automatically? or Are here any ways to do (by scripting or something)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d

[2019-01-18 18:19] j-martens commented on #9510
@YutongTie-MSFT  . Please assign to @ericlicoding the new PM for this service. Thank you.

[2019-01-18 18:20] j-martens commented on #11456
@YutongTie-MSFT - please assign to Carlos Medina, the PM for this area now.

[2019-01-18 18:22] cherylmc commented on #22742
Hi- I've added a link to OpenVPN, which is currently in Preview.

[2019-01-18 18:22] cherylmc commented on #22742
#please-close

[2019-01-18 18:22] j-martens commented on #13048
Hello,
Thank you so much for your report. [This functionality was deprecated in September 2018](https://docs.microsoft.com/azure/machine-learning/service/overview-what-happened-to-workbench).

The new article on this topic is here: https://docs.microsoft.com/azure/machine-learning/service/how-to-secure-web-service?branch=master

#please-close

[2019-01-18 18:23] CarlRabeler commented on #22641
@MashaMSFT for awareness and evaluation re: docs improvements

[2019-01-18 18:24] CarlRabeler commented on #22660
@psaleh - I will investigate

[2019-01-18 18:25] MarileeTurscak-MSFT commented on #22792
@thompler
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 18:30] CarlRabeler commented on #22508
Working on getting this doc updated @srdan-bozovic-msft

[2019-01-18 18:31] MashaMSFT commented on #22171
Hi @ChrisKirkUltima , thanks again for letting us know about this! The fix should be live. As such, I will proceed with closing out this Git Issue but please let us know if you need further assistance.  Thanks! #please-close

[2019-01-18 18:31] codebeaulieu commented on #22106
Hi Grace, I am on all latest tooling now. I'm attempting to update a clients applciation from PCL to .NetStandard. I'll likley revisit this discussion next week when I am working on that project again.

[2019-01-18 18:32] MarileeTurscak-MSFT commented on #22795
@0xJHarrison
Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 18:34] j-martens commented on #16731
Thanks! #please-close

[2019-01-18 18:34] fgervais commented on #22796
But can we pull without login?

[2019-01-18 18:35] j-martens commented on #17760
That article is no longer available. Thanks for your report.
#please-close

[2019-01-18 18:36] MashaMSFT commented on #20541
Hi @jamesapicken , thanks for bringing this to our attention! We had a bug preventing registering self-deployed SQL VMs. However, a fix for this issue has been released. At this point, you should be able to register your SQL VM even if it's self deployed. The only requirement to register custom VHDs with the SQL RP is to have the SQL IaaS extension installed. As this issue has been resolved, I wil

[2019-01-18 18:37] SaurabhSharma-MSFT commented on #22790
@mkredpoint Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-01-18 18:38] SaurabhSharma-MSFT commented on #22793
@javiermicrosoft Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 18:38] SaurabhSharma-MSFT commented on #22797
@JorgeZapatero Thanks for your feedback! We will investigate and update as appropriate.

[2019-01-18 18:39] ajlam commented on #22747
@kazshi - restoring directly to a different subscription is not supported. You can consider restoring the server within the same subscription and then move the server to a different subscription. More information about moving resources from to a different subscription can be found [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources#move-resources).

[2019-01-18 18:39] MicahMcKittrick-MSFT commented on #22796
@ggirard07 fair point...

Looking closer at your error, it seems the registry is not being found.

Do you have multiple subscriptions by chance? Are you setting a default before running the ACR login command?

[2019-01-18 18:49] ggirard07 commented on #22796
@MicahMcKittrick-MSFT only one subscription here.
`acr azr list` return the repository with `Reader` role set but does not return repository with only `AcrPull`.

[2019-01-18 18:50] jonwbstr opened #22801 "Mention that SendGrid offers a free 25,000messages/month plan"
I would have signed up for this a lot sooner the article had mentioned that!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version Independent ID: 99f0a52f-8df4-f8d4-3d4e-778fea2a389f
* Content: [Troubleshoot outbound SMTP connectivity in Azure](https://docs.microsoft.com/en-us/a

[2019-01-18 18:58] mike-urnun-msft commented on #22684
@blueelvis We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.