[2019-04-16 00:05] aljo-microsoft commented on #29427
@hukun01
@MicahMcKittrick-MSFT is correct, your defined health policy, generate events as designed when your declared thresholds are violated; If this was a violation during an Application Upgrade, then for that operation deployment, you could use 'MaxPercentUnhealthyDeployedApplications' to change the health policy for the duration of that operation.

https://docs.microsoft.com/azure/service-fabr

[2019-04-16 00:08] Karishma-Tiwari-MSFT commented on #29183
@ajinkyaSurve Thank you for your patience and providing the details.
I think your issue could be similar to [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/28077), you will need to create NSG with port 80/3389 open depending on Windows/linux VM.
Please refer to this doc section: [Allow traffic to application](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-

[2019-04-16 00:09] Karishma-Tiwari-MSFT commented on #29349
@jtuliani
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-16 00:10] Alberto-Vega-MSFT commented on #29347
@KingdomOfEnds I assigned the issue to you since you are resolving it.

[2019-04-16 00:10] TravisCragg-MSFT commented on #22856
You will still add the address via IP, you would use the internal IP instead of the Public IP. If you add an internal IP of something in a different VNET, it needs to be peered or s2s VPN joined so that the app gateway can send traffic.

[2019-04-16 00:11] aljo-microsoft commented on #29404
@maulik-modi
Standalone for SF is supported for windows:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server

SF Source Code:
https://github.com/Microsoft/service-fabric

@MicahMcKittrick-MSFT
#please-close

[2019-04-16 00:13] TravisCragg-MSFT commented on #29335
@AidanTfL Have you been able to reproduce this issue, or is it a specific issue with one of your Virtual Networks?

[2019-04-16 00:15] KingdomOfEnds commented on #29347
@Alberto-Vega-MSFT - Thank you - PR is submitted, waiting to hear from the owner's of that repo!

[2019-04-16 00:23] #29404 closed

[2019-04-16 00:23] #29427 closed

[2019-04-16 00:28] palma21 commented on #29153
Correct:
Today the UPN (aka user@domain.com) only works when using the user's tenant (domain.com) since otherwise, for guest users, they won't have UPN.

For users within the tenant (domain.com) it will look before on the UPN, we are making it fallback to objectID so that it works on all scenarios, so for users within the tenant please use UPN.

[2019-04-16 00:32] Karishma-Tiwari-MSFT commented on #29351
I found an old post on the same issue: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/3bba3ce8-63a9-4fb5-90f5-2d6d1a047ed6/error-message-when-creating-a-new-vm-using-a-vhd-in-arm?forum=WAVirtualMachinesforWindows
Can you please check if the resolution provided there is helpful and let me know. Thanks.

[2019-04-16 00:32] Alberto-Vega-MSFT commented on #29053
@mysaggar Are you still blocked? Did you reach out to create the support ticket?

[2019-04-16 00:36] LoganZhao commented on #26191
any update on this please?

[2019-04-16 01:03] Karishma-Tiwari-MSFT commented on #29446
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 01:16] Alberto-Vega-MSFT commented on #29210
@ravinsp From https://azure.microsoft.com/en-us/pricing/details/iot-hub/ "The maximum message size for messages sent from a device to the cloud is 256 KB. These messages are metered in 4 KB blocks for the paid tiers so for instance if the device sends a 16 KB message via the paid tiers it will be billed as 4 messages. The messages sent by devices connected via the free edition are metered in 0.5 K

[2019-04-16 01:22] Alberto-Vega-MSFT commented on #29450
@mingdee Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-16 01:27] Alberto-Vega-MSFT commented on #28187
@Exlsunshine were you able to find the info you needed?

[2019-04-16 01:29] femsulu commented on #23888
@rolandkru, were you able to get this working using the TemplateParameterFile as @snehithm suggested?
To investigate the error w/ TemplateParameterObject, please open a support ticket using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request). If you do not have a support plan, please send mail to AzCommunity@microsoft.com and we will gladl

[2019-04-16 01:29] #23888 closed

[2019-04-16 01:32] #26359 closed

[2019-04-16 01:33] mrbullwinkle commented on #27167
@MicrosoftDocs/azure-cxp-triage please assign this to @lgayhardt and close out this GitHub Issue. This doc has now been retired as it is no longer relevant.

#please-close

[2019-04-16 01:37] kazshi opened #29459 "ASE on VNet is not supported?"
My customer tried to select (pull) a registered image in ACR on VNet from App Service Environment, but "Loading..." status appears on the Image dropdown listbox on the portal and registered images are not listed. I think that's because of the 2nd bullet limitation in the Preview Limitations, correct? And I would like to know any plans of supporting for other Azure services.  Thanks.

---
#### Docu

[2019-04-16 02:07] femsulu commented on #27167
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-16 02:07] #27167 closed

[2019-04-16 02:15] mingdee commented on #29450
Also, can you comment on how "Jobs device operations (update twin, **invoke direct method**)" of 50 per sec for S2 tier for example related to this Direct Method throttling limit?

[2019-04-16 02:15] bwren commented on #26896
Thanks.  This article is part of a major restructure of the log and metric articles.  It may even get consolidated into other articles.  I'll definitely note this point though for when we go through this one.  Thanks!

[2019-04-16 02:15] bwren commented on #26896
#please-close

[2019-04-16 02:19] YASWANTHM-MSFT commented on #29451
@MS-Santi, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-16 02:19] BhargaviAnnadevara-MSFT commented on #29373
@phawxby As answered in Microsoft/ApplicationInsights-Home#299:

and our Official [docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview#whats-the-overhead) about the overhead of using App Insights:

We've had similar questions in the past around detailing the best practices for implementing Application Insights, and [this](https://social.msdn.microsoft.com/Forums/en

[2019-04-16 02:22] YASWANTHM-MSFT commented on #29452
@tiny-dancer, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-16 02:27] femsulu commented on #26896
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-16 02:27] #26896 closed

[2019-04-16 02:37] dcbrown16 opened #29460 "Estimate of data size"
I want to check two points.
First, are both of these logs rotated daily, that is updated throughout the day and then a new file is started on the next day?
Second, do you have a rough estimate of how large the files would be? i.e. a sample log file with 100 connections is 10 KB or whatever (and if the application and network rule logs are different sizes, please give that estimate as well).
Thanks

[2019-04-16 03:13] saifuddin123 commented on #28974
Hi @sergaz-msft
Attached the details asked for. The downstream device program is running on same machine.

[28974.pptx](https://github.com/MicrosoftDocs/azure-docs/files/3082882/28974.pptx)

[2019-04-16 03:30] YASWANTHM-MSFT commented on #29456
@Mark7even, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 03:31] KalyanChanumolu-MSFT commented on #29345
@DrewGoldsberry We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-16 03:31] #29345 closed

[2019-04-16 03:46] ManojReddy-MSFT commented on #29456
@Mark7even The DC agent service running on a DC will never communicate to the internet. It will only communicate to the Proxy agent running a domain joined server machine which will communicate with Azure over internet.

So you do not have to expose DC to the internet and you should always install proxy agent on a different server other than DC.

This is actually mentioned in the doc:

1. "Domain

[2019-04-16 03:46] #28828 closed

[2019-04-16 03:47] ManojReddy-MSFT commented on #29112
@mprentice22153 You are welcome. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-16 03:47] #29112 closed

[2019-04-16 03:48] ManojReddy-MSFT commented on #29344
@limjiananI understand. I have updated the doc accordingly. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-16 03:48] #29344 closed

[2019-04-16 03:57] KetanChawda-MSFT commented on #29204
Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 03:57] #29204 closed

[2019-04-16 04:02] brandonavant commented on #9187
The documentation on this page doesn't mention an Authority field, which is required when adding an Identity Provider here in 2019.

[2019-04-16 04:08] githubavi commented on #29415
Hi Marilee, the link you shared it only talks about Azure Active directory service and not Azure Active Directory P2. I have found it is not available for Azure Germany as per this link,
https://docs.microsoft.com/en-us/azure/germany/germany-services
Can you give us exact Azure region names in Europe which support AD P2 licensing?

[2019-04-16 04:16] russ138 opened #29463 "Cloud Service SNAT port limits"
We have a Cloud Service with approximately 16 instances spread out over 6 roles (1 web, 5 BG). We buffer 100 lines of logs and then send to Log Analytics. This causes about 3000 TCP connections to the same IP (based on netstat results). (Note, we use C# and TCP connection handling is done at a lower level). Azure tech support swears we only have 16 SNAT ports available for use and the documentatio

[2019-04-16 04:22] yashesvi commented on #7882
@bandersmsft Can we add point#5 and graphic that shows following:
For hour 5, instance 1 runs for 0.5 and reserved instance hours is 2. In this case, call out that 1.5 hours of reserved hours is lot and does not carry over to hour 6..

[2019-04-16 04:27] RohitMungi-MSFT commented on #26700
Thanks @diberry. @xvercruysse The documentation is now updated to the correct pre-built entities that are available in the portal. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 04:27] yashesvi commented on #20938
@MicahMcKittrick-MSFT Capacity is not reserved. Reserved instances don't provide a capacity assurance or guarantee and doesnt physically reserve the specified capacity in the data center. If a user who has reserved instance with capacity priority experiences a deployment failure due to capacity issues, it causes a high severity issue at our end and we try to provide additional capacity to mitigate

[2019-04-16 04:28] #26700 closed

[2019-04-16 04:28] yashesvi commented on #13050
Provided clarification on the thread. https://github.com/MicrosoftDocs/azure-docs/issues/20938#issuecomment-448375027

[2019-04-16 04:29] yashesvi commented on #13050
#please-close

[2019-04-16 04:29] yashesvi commented on #20938
#please-close

[2019-04-16 04:31] YASWANTHM-MSFT commented on #29412
@jacsir11, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 04:31] #29412 closed

[2019-04-16 04:32] #21868 closed

[2019-04-16 04:37] YASWANTHM-MSFT commented on #29459
@kazshi, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 04:38] ravinsp commented on #29210
Thank you! This is excellent piece of information which I have missed. (I think it should get included with this article as well in addition to the Pricing faq)
However, I'm curious to know whether a single small messages gets counted as a 4KB block as well. For example, if my message is 1 KB, will it get counted as a single 4KB message or can I fit [4 X 1KB] messages in the 4KB block calculation?

[2019-04-16 04:45] YASWANTHM-MSFT commented on #29460
@dcbrown16, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 04:46] YASWANTHM-MSFT commented on #29463
@russ138, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 04:46] ravinsp commented on #29205
Thank you! So it means I have to carefully pad IoTHub calls with proper time intervals from my side, so I don't get throttled. Furthermore, based on the calculation block size given in the pricing page, the number of operations may be even lower if my update operation is bigger than 0.5 KB. I think this article should clearly mention this information (maybe at least a link to the pricing faq secti

[2019-04-16 04:48] Mahons commented on #29407
Hi,

It's the Performance, Logs and Alerts service.

Best,

Stephen

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Deep Kapur <notifications@github.com>
Sent: Monday, April 15, 2019 11:59:41 PM
To: MicrosoftDocs/azure-docs
Cc: Stephen Mahon; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Performance Logs and Alerts Service (#29407)

What is the PFA service

[2019-04-16 04:48] neeleshray commented on #29453
@Tyler-Angell
Thank you for your query. We will have this investigated and update further.

[2019-04-16 04:52] jakaruna-MSFT commented on #28941
@ninarn Please tag the new PM in this issue.

[2019-04-16 04:53] jakaruna-MSFT commented on #29296
@paulbouwer Since you have a workitem to migrate this article to the new version if Istio, I think we can close this issue now. Please provide your comments.

[2019-04-16 04:54] neeleshray commented on #28264
@curtand
Curtis, kindly have a check on this as we are seeing similar results on our end as well.

[2019-04-16 04:55] jakaruna-MSFT commented on #29064
@motanv @aljo-microsoft Please validate this PR.

[2019-04-16 04:55] Karishma-Tiwari-MSFT commented on #29153
@droessmj Does that help answer your question? Let us know.

[2019-04-16 04:59] neeleshray commented on #27226
@mschrisran
Apologies for the delay.
We are not able to see the errors on our end. Kindly create a Azure AD Forum thread or send us an email with this thread link to AzCommunity(at)microsoft.com

We are closing this thread for now.

[2019-04-16 04:59] #27226 closed

[2019-04-16 05:01] ashitabh commented on #11928
Now when Parquet is supported in Azure Data Factory V2 , its no more one of thousands formats out there. Microsoft must adopt to changes and support Parquet as data dource. Is MS scared of Java programming ?

[2019-04-16 05:02] SnehaGunda commented on #28461
Sorry about the delay in getting back, great conversations on this thread. After you enable "Allow access from Azure portal", Azure Cosmos DB account will be accessible from Azure datacenter IP range. This allows services like Search, Data factory, Stream analytics whose IP addresses can't be fixed - to talk to Cosmos DB account.

To your point I don't think currently you can allow a specific serv

[2019-04-16 05:36] ManojReddy-MSFT commented on #29387
@watahani Refresh tokens do not have the expiry time which is present in access tokens. Azure AD keeps a track of when was the last time a refresh token is issued and if it crosses 90 days , Azure AD will ask for authentication.

Hope this clarifies.

[2019-04-16 05:55] mike-urnun-msft commented on #29355
Hello @ptuton Thanks again for reporting this issue and helping us drive an improvement towards MS Docs! We have updated doc and the changes should reflect within 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-16 05:57] #29355 closed

[2019-04-16 05:58] mysaggar commented on #29053
no the issue isn't resolved yet
I have created the support ticket and have been in communication with the support too.

[2019-04-16 05:58] neeleshray commented on #29035
@jeevansd
Jeevan, in the mentioned document for **Configuring Single Sign-On** section, **Steps 7 & 8** would need to be removed as multiple URLs can now be updated on the portal directly.

Please find the screenshot from our repro:
![Sansan Application](https://user-images.githubusercontent.com/31060822/56185265-b4d8fd80-603a-11e9-97e5-e5b6fa48ebff.JPG)

[2019-04-16 05:59] maulik-modi opened #29465 "Product question: Feature differences between standalone cluster and Azure cluster?"
hi team,

With reference to [this link](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-for-windows-server), could you please add link that states difference between running Service Fabric in Standalone environment vs running on Azure?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-16 06:09] neeleshray commented on #28738
@jnprakash and @marc-fom
As of today, we still have the options for the User to consent to the applications and the User being able to add the applications. If there are any changes on the roadmap, the same would be updated in the document/blogs.

![Enterprise Applications](https://user-images.githubusercontent.com/31060822/56186169-2e252000-603c-11e9-931c-f2bef0a1ecbd.JPG)

We are closing this th

[2019-04-16 06:09] #28738 closed

[2019-04-16 06:12] paulbouwer commented on #29296
@jakaruna-MSFT agreed - #please-close

[2019-04-16 06:15] DixitArora-MSFT commented on #29292
@kashimiz There is already a work item for this and If I am not wrong, workaround is also there. So do we still need an doc change ?

[2019-04-16 06:15] oscarkim007 commented on #28817
Hello.
same problem
error Message -> Get-AzRecoveryServicesVaultSettingsFile : Parameter set cannot be resolved using the specified named parameters.

[2019-04-16 06:18] DixitArora-MSFT commented on #29142
@ShBansal22 It would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) so that Product team can track it better. For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 06:18] #29142 closed

[2019-04-16 06:19] DixitArora-MSFT commented on #29265
@MJZawacki Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 06:19] #29265 closed

[2019-04-16 06:20] bertrandpons commented on #29172
@MartinJaffer-MSFT Sorry for replying only now. Regarding the entry point, I want to keep Azure DevOps as the way to deploy ARM templates.

About the issue with active triggers, I think it is not related because I deployed to an empty ADF environment (without triggers) and I got the same error.

Many thanks for your support

[2019-04-16 06:25] msrini-MSFT commented on #29356
@JozoSlejko , If you enable "Configure virtual network access settings" then the peer address space will be added to the Virtual Network tag. This can be useful in the scenarios where can add the Virtual Network tag  in NSGs instead of specifying the peer address space as well. It helps you to simplify your management operations when comes to adding NSG.

[2019-04-16 06:27] #29316 closed

[2019-04-16 06:32] devlead commented on #29405
I had a second customer send a direct link to
[reclaim unused allocated space](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-file-space-management#reclaim-unused-allocated-space) and they didn't scroll up but instead did an alter table.

I just think you need to add a link/note to that segment at this section, as they took the wording _"particulary helpful"_ as an recommendation

[2019-04-16 06:33] shabirjan opened #29466 "Unable to See Trace Logs"
So I am working on Asp.net Core 2.1 Web API App. And I have Enabled Application Insights on my Project as well. And in my Program.cs this is automatically added.
[code]
And this is my appsetting.json logging information
[code]
And I am using ILogger to log Information, Error messages like this in every method.
`_logger.LogInformation("outgoing request: {RequestName}", nameof(GetPermissions));`
`_l

[2019-04-16 06:39] msrini-MSFT commented on #29299
@markarnolditpro , This isn’t supported and usually CDNs or reverse proxies do not work this way.You can deploy their app in US regions only and so the database, app compute etc. can all stay in US. AFD only acts as a reverse proxy and doesn’t store any content in POPs other than the request processing.

[2019-04-16 06:44] msrini-MSFT commented on #29460
@dcbrown16 , We use GitHub issues as a channel for feedback about the Azure documentation. If your issue was closed and you still have questions, there may be other venues that are appropriate:

For questions about the product itself (issues with the product-question label), post your question to the forums. Since you are internal, you can work with PG and if you feel that the documentation can be

[2019-04-16 06:44] #29460 closed

[2019-04-16 06:56] wilsonchua20 commented on #29398
hi for follow up

[2019-04-16 06:56] kick23 commented on #29400
when can i expect am update here

[2019-04-16 07:00] cowinr commented on #29435
Perfect, thanks for the clarification.

On Mon, 15 Apr 2019 at 22:55, Adam-Smith-MSFT <notifications@github.com>
wrote:

[2019-04-16 07:07] cbrooksmsft commented on #19081
add the subnet of the managed instance to the storage firewall VNET rules.

[2019-04-16 07:07] cijothomas commented on #29466
@shabirjan
You need to explicitily enable ilogger capture by doing this in program.cs
.ConfigureLogging(
            builder =>
            {
                builder.AddApplicationInsights();
            }

2.7.0-beta3 onwards- this will be done automatically for you. You can either update to this version and check that logs are captured.

[2019-04-16 07:07] cbrooksmsft commented on #19081
#please-close

[2019-04-16 07:10] shabirjan commented on #29466
@cijothomas So do i have to remove this ` .UseApplicationInsights()` and use

[2019-04-16 07:10] keaaa commented on #28567
Why do you close issues that is in progress? How will we then know when this is fixed?

We also had a support ticket in azure for the same issue, which was closed - azure support said we should follow this issue for updates.

[2019-04-16 07:12] cbrooksmsft commented on #19164
see guidance here:  https://docs.microsoft.com/en-us/azure/search/search-indexer-troubleshooting

[2019-04-16 07:12] cbrooksmsft commented on #19164
#please-close

[2019-04-16 07:13] cijothomas commented on #29466
In 2.6.1 - both. .UseApplicationInsights() enables APM - Reuqest, Dependency collection etc. ConfigureLogging +builder.AddApplicationInsights() to capture Ilogger.

in 2.7.0-beta3 - calling .UseApplicationInsights() alone is sufficient as it enables ilogger capture as well.

Sorry if this is not clear from docs.:(

[2019-04-16 07:17] SnehaAgrawal-MSFT commented on #29397
@christianarg Thanks again for the question! Suppose there is Production slot (default one) running on w3wp.exe (p1) and Staging slot running on w3wp.exe (p2). And production code is C1 and App Settings is A1 and Staging code is C2 and App Settings is A2.
Now if new code is deployed to staging slot is C3.

And we select ‘normal’ Swap. Then in this case both w3wp.exe (p1 and p2) may restart*. Produ

[2019-04-16 07:21] madhanan commented on #29164
@himanshusinha : I have tried in other bash shell provided by GIT installation in windows.
Still i am facing the same error. I don't suppose it to be an error in CURL.

My ADLS is encrypted using BYOK, may be something is missing.

My Command in GIT Bash Terminal:
[code]
output :

[code]

Since i am using output redirector, technically it should print the output in saved files.
But i am getting th

[2019-04-16 07:28] forester123 opened #29467 "Link issue"
The link [Introducing Text Analytics](https://blogs.technet.microsoft.com/machinelearning/2015/04/08/introducing-text-analytics-in-the-azure-ml-marketplace/) shows page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6c6d2d-b1f8-86ed-4383-b3b4606d8046
* Version Independent ID: b58189d7-aaec-3487-a1c0-452726f

[2019-04-16 07:28] alo360 opened #29468 "Clarify document sql-database-elastic-query-getting-started.md"
[Database-scoped master key and credentials
](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-elastic-query-getting-started.md#create-an-elastic-query-database)
This is not clear about:
[code]
"username" and "password" should be the same as login information used in step 6 of ?? I could not find step 6 in anywhere? And password of **master key** and **dat

[2019-04-16 07:40] shabirjan commented on #29466
Awesome It just worked :) Thank you so much for your help 👍

[2019-04-16 07:40] #29466 closed

[2019-04-16 07:50] githubavi opened #29469 "Can I switch configuration between HTTP/2 and HTTP 1.1"
Is there any configuration option where I can switch between HTTP 1.1 or 2? I can see that option in App Service, Application Gateway. But I can not see it in FrontDoor resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d975e3d1-caac-4fd5-bcce-bf58d5b13a06
* Version Independent ID: 3f7b3c0f-d974-96e2-689f-391aea1

[2019-04-16 07:50] TomasHubelbauer opened #29470 "Set up GitHub Releases"
Hello. I'd like to propose this repository sets up GitHub releases for each time a change goes live or whathever frequency you guys deploy merged PRs with. This would allow people to select the "Watch Releases" watch option on GitHub which I personally use very often. It's a good way to stay on top of changes in the product without having to subscribe to _all_ the action, issues, PRs etc. If you d

[2019-04-16 07:56] RohitMungi-MSFT commented on #29467
@forester123 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-16 08:19] RohitMungi-MSFT commented on #29398
@wilsonchua20 The audio file should be of the following format.

![image](https://user-images.githubusercontent.com/46958063/56184683-a0940100-6038-11e9-8cf8-ac7d857a03da.png)

I have tried verification API after enrolling my voice with a phrase and then it rejected other users when they tried the same.

Other User's voice:
![image](https://user-images.githubusercontent.com/46958063/56192189-80ba0

[2019-04-16 08:20] DashleenBhandari-MSFT commented on #29353
@aszalacinski , Please follow the steps mentioned [here](https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-deliver-keys-and-licenses) to apply DRM protection to the audio files while they stream. Please let me know if this helps.

[2019-04-16 08:21] JozoSlejko commented on #29356
@msrini-MSFT That should be in theory yes. I opened this case to present that in my tests this isn't the only thing that happens when using this setting. Using Hub vNet Gateway as a UDR next hop for peered spoke vNets with allow-all NSG rules, doesn't work unless you enable this setting. I've referenced the MS article with details on setting this up. Can I get a confirmation on this? Thanks.

[2019-04-16 08:23] ChiragMishra-MSFT commented on #29394
@bertrandpons In the case you shared, the Execute SSIS activity is executed only once all the "Handling" activities are completed (which means the same as you interpreted - it's equivalent to a Logical AND).

On the other hand, waitOnCompletion Defines whether an execute pipeline activity execution waits for the dependent pipeline execution to finish. By default it's set to false.

Ideally, you sh

[2019-04-16 08:30] seantleonard opened #29471 "Sample Code not aligned with Set redirect URLs to b2clogin.com"
The Configure the Sample section references a sample project which has not been updated to reflect the redirect URL referenced at https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin

https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/48#issue-398075346 has been open for a few months no with no acknowledgement. Are there plans to address this? Tha

[2019-04-16 08:38] RohitMungi-MSFT commented on #29413
@hansmbakker QnA Maker depends on language analyzers in Azure search for providing results. Special re-ranking features are available for En-* languages that enable better relevance.

While the Azure Search capabilities are on par for supported languages, QnA Maker has an additional **ranker** that sits above the Azure search results. In this ranker model, we use some special semantic and word-bas

[2019-04-16 08:41] jakaruna-MSFT commented on #29296
@sasachan
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-16 08:41] #29296 closed

[2019-04-16 08:42] jakaruna-MSFT commented on #29190
@carlfm01 Irrespective of Load balancer or public ip per instance, It should work after re imaging.  Anyway i will test once again and let you know.

[2019-04-16 08:49] DixitArora-MSFT commented on #29451
@MS-Santi I have created the PR which will address this . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-04-16 08:50] jakaruna-MSFT commented on #29465
@maulik-modi Thanks for your feedback. I have assigned this issue to the author to investigate further and update the document as needed.

[2019-04-16 08:51] orgads commented on #28399
Hi,

Thank you for the reply, but unfortunately it doesn't work.

I see that in [SpeechRecognizer.ts](https://github.com/Microsoft/cognitive-services-speech-sdk-js/blob/master/src/sdk/SpeechRecognizer.ts#L212) there is hardcoded Conversation. Setting this property doesn't override it.

I didn't mention it, but I need it for continuous async recognition.

[2019-04-16 08:51] SnehaAgrawal-MSFT commented on #29337
@SheldonHage Thanks a lot for the feedback! We will work internally on improving the doc. I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-16 08:52] milleniumfish opened #29472 "Grating access on storage container level only"
I have following scenario to implement: The enterprise consists of thousands of organizations. Each needs a Records Collection (currently e.g. Google Team Drives, SharePoint Site Collections etc.) to store archived documents. Each collection has owners and i completely separated from other collections - i.e. you need to be granted permissions to even see files withing a particular connection.

I i

[2019-04-16 09:01] MangeshDange commented on #22856
@TravisCragg-MSFT: Thanks!!

[2019-04-16 09:01] zhpyuk commented on #29425
Seems to be working now, the issue was with the base64 encoding.

[2019-04-16 09:01] benzzon opened #29473 "Error "Authentication scheme Bearer is not supported"."
I tried the example of creating a folder "mytempdir", but could not get "https://&lt;yourstorename&gt;.azuredatalakestore.net" to work, and switched it to "https://&lt;yourstorename&gt;.file.core.windows.net".
When using "https://&lt;yourstorename&gt;.file.core.windows.net" i got another error "Unversioned authenticated access is not allowed."
It seems using header-option "x-ms-version: 2018-11-09

[2019-04-16 09:01] #29425 closed

[2019-04-16 09:02] RohitMungi-MSFT commented on #29467
@aahill The document referred in the link is now disabled or removed from MSDN blog. Could you please help to correct it or use the appropriate link for introduction to text analytics.

[2019-04-16 09:20] CHEEKATLAPRADEEP-MSFT commented on #29473
@benzzon Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of i

[2019-04-16 09:31] 229223951 opened #29474 "The demo of Windows SDK for Speaker Recognition API not available"
Hi, I'm try to run the Speaker Identification SDK sample，but seems one of project is missing:

repro steps:
1. down load code from https://github.com/Microsoft/Cognitive-SpeakerRecognition-Windows
2. open Cognitive-SpeakerRecognition-Windows-master\Identification\SPIDIdentificationAPI-WPF-Samples.sln

Expected: open and run the project succeed
Actual: SampleUserControlLibray is missing so fail to

[2019-04-16 09:35] PramodValavala-MSFT commented on #29269
@afnw35342 You can get the ARM template while creating many resources for reference by clicking the `Automation Options` link

![image](https://user-images.githubusercontent.com/43602528/56197368-502b9c00-6056-11e9-8440-3ba669d3b6d5.png)

Here is the template that was generated for me
[code]

For PowerShell, I tried the `Set-AzDiagnosticSetting` cmdlet as stated in [its doc](https://docs.microsoft

[2019-04-16 09:36] nhnhutthy opened #29475 "I can translate html document by ruby on rails"
with common content the Microsoft Translator worked But content exist html tag can not work.

[2019-04-16 09:37] rayne-wiselman commented on #28760
@corporateg Thanks for your feedback. Fixed in article. Change merged, should publish later today.
#please-close

[2019-04-16 09:38] rayne-wiselman commented on #29444
@bradyhouser Thanks for the fix! I updated the article. Should show up in publish later today.

#please-close

[2019-04-16 09:38] PirateBread commented on #24858
Does anyone know how to tweak the log-out timer for Jira AD Integration?

Currently users are being prompted numerous times per day and having to go through MFA constantly.

We want a login to last at least 8 hours before re-prompting.

[2019-04-16 09:38] rayne-wiselman commented on #29280
@Coldry Thanks for your feedback. Made the fix in the article. Should show up later today.
#please-close

[2019-04-16 09:39] rayne-wiselman commented on #29203
@antonsw Thanks for the fix! Made the change. It should show up later today.
#please-close

[2019-04-16 09:41] rayne-wiselman commented on #28901
@DMoonesinghe Thanks for your feedback. I updated to the article to state that VMware VMs and physical replicated data is on managed disks, and VMs are created on failover.
Change should publish later today.
#please-close

[2019-04-16 09:42] wilsonchua20 commented on #29398
Yes, it does reject other users, but it will also accept other users. cause we tried different person enrolling, and for some users, they would accept other users. is it correct if we pass byte[] for the audio file (our audio file follows the format above)

[2019-04-16 09:45] vishnubraj opened #29476 "Azure IKEv2 fragmentation issue"
When azure IKEV2 gateway receives the fragmented UDP packets in out of sequence, it drops the packets. Its expecting us to send the packets in sequence. This is not possible in many scenarios, please fix this bug also please point me to any document which mentions this limitation. Please find the attachment
![Screenshot 2019-04-16 at 3 14 41 PM](https://user-images.githubusercontent.com/11851188/5

[2019-04-16 09:45] MohitDhingra-MSFT commented on #29240
Hi @starforce,

Could you please check application permissions of service principal, it seems like your service principal has not set the appropriate application permissions.

Below is the screenshot of permission:

![image](https://user-images.githubusercontent.com/47346772/56198903-6e46cb80-6059-11e9-80b4-430316e6446c.png)

I have tried it and able to get the scp value in token. Below is the scr

[2019-04-16 09:45] 229223951 commented on #29474
Sorry, It's ok when I Clone with HTTPS instead of download zip

[2019-04-16 09:45] #29474 closed

[2019-04-16 09:47] vishnubraj opened #29477 "Azure IKEv2 fragmentation issue"
When Azure IKEv2 gateway receives the UDP fragmented packet, it expects it to be in Sequence, if it is out of sequence azure IKEv2 drops it, This is  a problem, and we will not be able to send large UDP packets, Please find the attachment. Please fix this .
![Screenshot 2019-04-16 at 3 14 41 PM](https://user-images.githubusercontent.com/11851188/56199537-b9ada980-605a-11e9-8fa9-690fffc7f8c0.png)

[2019-04-16 09:48] #29477 closed

[2019-04-16 09:51] rajb865 opened #29478 "Custom Java Module backoff with exit code 1"
Hi,

I have 64 bit ubuntu 18.04 machine. I have installed azure IoT Edge runtime using [Install the Azure IoT Edge runtime on Linux (x64)](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux). I have written custom java module using the link [Tutorial: Develop a Java IoT Edge module and deploy to your simulated device](https://docs.microsoft.com/en-us/azure/iot-edge/tutor

[2019-04-16 09:52] #29138 closed

[2019-04-16 09:57] theheatDK opened #29479 "Is this article only for Windows VMs or also Linux?"
Hi,
Sysprep is mentioned. Does this mean that the article is only valid for Windows VMs or also for Linux?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version Independent ID: 1949dddb-5278-5271-4934-d3ace2758bf1
* Content: [Tutorial - Create custom VM images with

[2019-04-16 09:59] theheatDK commented on #17581
Hi,
This issue was raised in October. The document has still not been updated with information about agents. I would be nice to know if this is an issue or not? :-)
Regards Peter

[2019-04-16 09:59] SadiqhAhmed-MSFT commented on #29203
@antonsw We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 09:59] #29203 closed

[2019-04-16 10:01] #29280 closed

[2019-04-16 10:01] SadiqhAhmed-MSFT commented on #29280
@Coldry We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 10:02] SadiqhAhmed-MSFT commented on #29324
@barracud We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 10:02] #29324 closed

[2019-04-16 10:03] jim2mul commented on #22685
I also have the same issue.

[2019-04-16 10:03] gbs916 opened #29480 "Missing SKUPartNumber + Add Friendly Name retrievable through Powershell"
Hello,

Related MS doc : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference

I have several missing SKU Part number :

[MissingSKU.txt](https://github.com/MicrosoftDocs/azure-docs/files/3084394/MissingSKU.txt)

Another point, it would be really great if you could add a "FriendlyName" attribute when doing a license search via Powershell (Get-

[2019-04-16 10:05] YASWANTHM-MSFT commented on #29472
@milleniumfish, Please help with the link of document on which above document feedback request is created. In case your query in not related to document content, open a new forum thread in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get help

[2019-04-16 10:05] SumanthMarigowda-MSFT commented on #29472
@milleniumfish To understand the issue better, could you please provide more details on the issue you are experiencing? Do point any specific step or **document** section that you’re unable to follow? Also, kindly do share a screenshot of the issue after concealing any private details. Looking forward to your reply.

[2019-04-16 10:11] #29475 closed

[2019-04-16 10:11] deivit78 commented on #22901
Testing the python script:
Connected to pydev debugger (build 191.6605.12)
Traceback (most recent call last):
  File "/home/dave/programas/pycharm-2019.1.1/helpers/pydev/pydevd.py", line 1741, in <module>
    main()
  File "/home/dave/programas/pycharm-2019.1.1/helpers/pydev/pydevd.py", line 1735, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "/home/dave/programas

[2019-04-16 10:19] KalyanChanumolu-MSFT commented on #29468
@alo360 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-04-16 10:20] VidyaSalimath commented on #25519
Hello,
Have raised one more request with other Subscription ID to enable ADF v2 data flow preview.Please enable it asap,thanks in advance!

[2019-04-16 10:24] KalyanChanumolu-MSFT commented on #29468
@MladjoA The reference to step 6 in [Download and run the sample app](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-elastic-scale-get-started.md#download-and-run-the-sample-app) seems to be invalid.

[2019-04-16 10:30] MladjoA commented on #29468
@KalyanChanumolu-MSFT , I am not owning nor familiar with this article.

[2019-04-16 10:33] MladjoA commented on #29468
I was referring to the link for Step 6 from @KalyanChanumolu-MSFT's comment

[2019-04-16 10:57] Layla-P commented on #29418
The tutorial isn't clear on how to execute this with Azure table storage though.  My table doesn't have a connection string - it only has a URL. So it falls down on more or lest the first bit of code where we use the `CreateStorageAccountFromConnectionString() ` method.

[2019-04-16 11:01] MarwanNour commented on #29219
I fixed the problem. I was checking if the queue is empty by using if(queue_service.get_messages('taskqueue') == []) which was causing it to change the visibility of the message. Instead I just wrote the Dequeue function and in the main code wrote:
x = Dequeue()
if x is not None:
      #do stuff

Thank You for the help

[2019-04-16 11:08] Layla-P commented on #29418
Now I know that I need to go into the Azure Storage itself (not the tables), find access keys and grab the connection string from there. This is not clear in the tutorial and could be a real blocker to a user.

[2019-04-16 11:09] deivit78 commented on #22901
I don't know if the problem is:
from swagger_client.models.model import Model  # noqa: F401,E501
class Model(object):

It seems ambiguous.

[2019-04-16 11:10] codepossible opened #29481 "Enhancement request on documentation - Uninstall Instructions"
It would be great, if we had uninstall instructions as well for isito, to complete the documentation loop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6
* Content: [Install Istio in Azure Kubernetes Service (AKS)](https

[2019-04-16 11:29] NeilPetersen commented on #29433
+1

[2019-04-16 11:36] ShBansal22 commented on #29142
Raised : #1196 Host.json file is giving warnings for configurable settings of Durable Functions

[2019-04-16 11:52] msrini-MSFT commented on #29469
@githubavi , There is no such switch in AFD as of now. By default AFD supports HTTP 2.0 and it is backward compatible as well.

Let me know if you have any questions.

[2019-04-16 11:53] jakaruna-MSFT commented on #29479
This document is for Windows only.
For Linux, https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-custom-images refer to this document

[2019-04-16 11:57] KalyanChanumolu-MSFT commented on #29468
@anumjs Could you please check this issue.
Looks like the document was modified to remove Step 6

[2019-04-16 11:57] yigitgursoy opened #29482 "Port reuse"
Connection pooling information is missing. EventHubClient doesn't have an Open() method or a property to check the connection status.

If you have multiple entity paths and multiple connection strings, other than using a static instance for each connection string you don't have many options.

But what happens if you don't ever close the connection to reuse ports? Would it cause any problems?

---

[2019-04-16 11:57] jakaruna-MSFT commented on #29481
@codepossible
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-16 12:02] msrini-MSFT commented on #29356
@JozoSlejko , In the NSG there are 3 default rules. With the lowest priority as to deny all the traffic and on top of that we do have as allow VNET. If you haven't specified the above mentioned switch the peered VNET address space will not be added and hence you need to explicitly allow the traffic to get this working.

Does that answer your question?

[2019-04-16 12:10] jakaruna-MSFT commented on #28593
@solomson .2 GB of RAM is very less for a java application. Memeory requirement for JVM wont vary a lot when we compare with different images.

You can look at setting the java heap memory size for the containers. Some users faces issues with that setting in containers.

I will close this issue for not since we dont have anything to update in the document regarding this.
If you need additional hel

[2019-04-16 12:10] #28593 closed

[2019-04-16 12:11] sergaz-msft commented on #28974
Thanks @saifuddin123 .
Can you change the certificates path to use "\\" instead of "/" ? Like described [here](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway#install-certificates-on-the-gateway)

[code]

Thank you!

[2019-04-16 12:13] jakaruna-MSFT commented on #28690
@m-raman Setting up in the resource group level is recommended because it has the complete set of options.

[2019-04-16 12:13] sergaz-msft commented on #25848
Thanks for confirming @SQLDataSide !
@RKislu can you please open a new issue and reference this one there for follow-up?
Thanks!

[2019-04-16 12:14] theheatDK commented on #29479
Thanks @jakaruna-MSFT. I did not notice that the URL has windows in it :-/

[2019-04-16 12:14] #29479 closed

[2019-04-16 12:16] benzzon commented on #29473
Ok, thanks i will try to make a post on the forum.

[2019-04-16 12:18] jakaruna-MSFT commented on #29000
@Deepudev13 Please submit a feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). Also post the feedback url here so that it will help the community to upvote. Product teams picks the items from the feedback's provided in the above link.
I will also take up this issue and report it to the product team.

I will close this issue for now. If you need additional help, Please ment

[2019-04-16 12:18] #29000 closed

[2019-04-16 12:26] MGoedtel commented on #28678
So I was reminded when I spoke with the OpsMgr PG something I lost sight of.  When the Linux server is monitored by OpsMgr, the workflows are running on the management server it reports to and collects the data from the Linux agent (log and performance data for example).  When the management group is integrated with Azure Monitor, the data configured for collection from the workspace is run on the

[2019-04-16 12:31] JozoSlejko commented on #29356
@msrini-MSFT I guess I haven't been clear enough. I'm well aware of the default NSG rules and the remote address range injection in VirtualNetwork tag when using "Allow virtual network access" on the peering.

I am stating that this isn't the way it works in a real example, so either the article is wrong or there is a problem with the peering.

Let me explain it.
All assigned NSGs have Allow Any-t

[2019-04-16 12:37] Ibnajjar commented on #28678
Thanks Matt for the response on this, however there is no way to configure data collection for Linux machines, because from SCOM you can only add "Windows" Computers to the list of managed machines that will send out the data to Azure (Linux machines are not included in the filtered class).  if you may point me to how we configure the data for collection for Linux because this is not exactly clear

[2019-04-16 12:38] mikenewman1 commented on #22206
Did anything change?
Actually the reason it failed is that I was editing the pron file in emacs and I have it set up to convert tabs to four spaces....

[2019-04-16 12:38] #22206 closed

[2019-04-16 12:42] rodolfowitsch opened #29484 "REST examples do not work"
The REST examples to create jobs return the error message "ErrorCode:GenericBadRequest;BadRequest".

The reason is the wrong job types "scheduleDirectMethod" and "scheduleTwinUpdate". They do not exist.

It should be "scheduleDeviceMethod" and "scheduleUpdateTwin".

In addition, the "scheduleUpdateTwin" requires an "etag" match.

Here's an example for a payload to update device twin properties: (P

[2019-04-16 12:46] msvijayn commented on #29443
The voluntary migration tool is available, for more details see: [https://aka.ms/alerts-migration-tutorial](https://aka.ms/alerts-migration-tutorial)
Need to update doc with links to the said article - will do it next PR.

[2019-04-16 12:50] msrini-MSFT commented on #29356
@JozoSlejko , Thank you for your detailed information. Also from where are you testing the connectivity?

From the Spoke VM to the VM in Hub?

I can do a repro and get back to you.

[2019-04-16 12:56] khrome83 commented on #24522
@KalyanChanumolu-MSFT - This does not appear to work, and still returns a 404.

[code]
## The ID is in the Database
<img width="996" alt="Screen Shot 2019-04-16 at 7 54 16 AM" src="https://user-images.githubusercontent.com/1844739/56211133-e0e58600-601c-11e9-9b3c-4430b9a633d9.png">

## The Partition Key is Correct
<img width="426" alt="Screen Shot 2019-04-16 at 7 53 59 AM" src="https://user-images

[2019-04-16 12:58] JozoSlejko commented on #29356
There are two spoke vNets and one hub vNet, I'm testing from the spoke VM to the other spoke VM. Thank you.

[2019-04-16 12:59] khrome83 commented on #24522
@KalyanChanumolu-MSFT, @ChiragMishra-MSFT - the TypeScript definition for `.delete()` says it takes options, specifically a partionKey.

[code]

Has the same output as above.

[2019-04-16 13:02] droessmj commented on #29153
@Karishma-Tiwari-MSFT I believe this helps. To restate the above, if we're using a user within our tenant we would be expected to specify UPN. If we're granting permissions to a user outside our tenant but still within AAD, we would specify ObjectId. For groups, we continue to use ObjectId.

If all that is true, then it sounds like the only item outstanding is a minor documentation amendment. Than

[2019-04-16 13:04] msrini-MSFT commented on #29356
@JozoSlejko , VNET peering doesnot support Transit. Means if you have A connected to B and B connected to C, then connection from A to C will not work by default.

It is mentioned in FAQ:

If I peer VNetA to VNetB and I peer VNetB to VNetC, does that mean VNetA and VNetC are peered?
No. Transitive peering is not supported. You must peer VNetA and VNetC for this to take place.

https://docs.microso

[2019-04-16 13:06] AidanTfL commented on #29335
I believe the issue occurred due to a bug in Azure, where the App Service and App Service Plan hadn't been 100% deleted.

This issue is a known issue with the 'New VNET Integration (Preview)' feature to the App Service Engineer team.

By making a support request within the portal, we were able to get this fixed within our subscriptions.

If anyone has a similar issue, you can raise a support reque

[2019-04-16 13:06] #29335 closed

[2019-04-16 13:07] YASWANTHM-MSFT commented on #29480
@gbs916, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 13:11] YASWANTHM-MSFT commented on #29471
@seantleonard, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 13:12] msrini-MSFT commented on #29476
@vishnubraj , Thank you for reaching out.

We are aware of this issue. Here is the Public Documentation on the recommended practices with setting up MTU on your device.

Doc: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-tcpip-performance-tuning

Will raise this to the Product Group and once we get an update will update the documentation.

[2019-04-16 13:12] #29476 closed

[2019-04-16 13:14] JozoSlejko commented on #29356
@msrini-MSFT This isn't transitive peering, it is using a hub vNet Gateway as a next hop in the UDR. The subject of this issue is "Service chaining with vNet Gateway" and the article has a whole [section ](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview#service-chaining) on it. There's also additional [article ](https://docs.microsoft.com/en-us/azure/archite

[2019-04-16 13:16] Neckross opened #29485 "device.deviceCategory (unusable)"
device.deviceCategory -eq "ANYTHING" does not work. Regardless if you have a value defined for the device Category under Intune blade&gt;devices&gt;Selected device&gt;properties&gt;Device Category... if you try creating an Azure Dynamic device group with that query will never work... need support around to filter devices

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-04-16 13:17] gpj1 opened #29486 "StoredProcs, Trigger and UDF for MongoAPI"
Just want to know that why StoredProcs, Trigger and UDFs are supported in SQL API only. Or is it something will be supported in future for other APIs like MongoAPI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5603f3c9-bd73-8433-fc2a-a53f8bdeec90
* Version Independent ID: f14a674c-a6f0-f591-07a2-bfdcd1195291
* Conten

[2019-04-16 13:20] Neckross commented on #29433
There are values available within an ADJ and HDJ to be filtered. I can filter them in Get-MsolDevice or in the Azure Portal too, but an Azure dynamic device group doesn't have an available attribute to filter them, there are two values that can be used to filter but none of them are available for Azure DDG:

ADJ>
DeviceTrustType: Azure AD Joined
DirSyncEnabled: $null
HDJ>
DeviceTrustType: Domain J

[2019-04-16 13:22] mgrabarz opened #29487 "Document doesn't mention that ACR now supports MSI authentication"
It seems ACR is able to authenticate services with MSI. More details here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e

[2019-04-16 13:25] AshokPeddakotla-MSFT commented on #29379
@kgremban Please have a look at this.

[2019-04-16 13:25] rayne-wiselman commented on #28568
@ctahok Thanks for your feedback! Doc is fixed and the fix should show up later today.

#please-close

[2019-04-16 13:26] cwester72 opened #29488 "Desktop App breaks trust relationship"
When I add a new user to access remote desktops and they log in via the desktop app it breaks the security trust relationship between that machine and the domain. This ONLY happens if logging into the desktop app first. If they log into the web client, then the desktop app, everything is okay but if they do the Desktop app first it breaks.

---
#### Document Details

⚠ *Do not edit this section. I

[2019-04-16 13:28] SubhashVasarapu-MSFT commented on #29125
@aquibqureshi26 , We have assigned this issue to the author for updating the document accordingly.

[2019-04-16 13:28] Blackmist commented on #29283
@cbtham Thanks for reporting this problem. Are you using a custom image by setting the image_config.base_image? The reason I ask is that you mention flask, which is included in the default images. I want to make sure I understand which workflow is being used before I bring this up with the developers.

[2019-04-16 13:30] msrini-MSFT commented on #29356
@JozoSlejko , If you need to communicate from Spoke VM1 to Spoke2 VM1 then whay do you need to force the traffic via UDR to the gateway.

It is working because when you enable that option, it is considering the entire range of Address space as one address and hence you are able to communicate.

If you still need more clarification, drop an email to AzCommunity@microsoft.com and we can have a call

[2019-04-16 13:38] JozoSlejko commented on #29356
@msrini-MSFT Excuse me mister, are you trolling me here? First, you don't have a clue what I'm talking about so stop embarrassing yourself. Second, you didn't gave a near remote answer to this issue and frankly I think you need more clarification. Please assign this issue to a more knowledgeable person. Thank you.

[2019-04-16 13:38] JvDrunen commented on #28546
Thanks. Solved.

[2019-04-16 13:38] #28546 closed

[2019-04-16 13:41] msrini-MSFT commented on #29356
@JozoSlejko , I need more clarification and it would be better if we can discuss over a call? Can you drop an email to AzCommunity@microsoft.com so I can set up a call?

[2019-04-16 13:57] ElanShudnow opened #29490 "Compression conflicting statement"
Compression section says, "Backups are compressed to reduce the required storage space."  Then it says,  "However, storing the data without compression allows for faster restoration, should you need that recovery point."

Those two statements contradict each other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b084d94

[2019-04-16 14:03] FernandoHidalgoSWBI opened #29491 "How to set up a unique key?"
The text explains everything about Unique Keys except how to set them up!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf261de8-a6fa-9497-ffff-106550e2a537
* Version Independent ID: ee0468ba-1b3b-6ba4-d9f6-c60da3e7c486
* Content: [Use unique keys in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/un

[2019-04-16 14:04] eshudnow opened #29492 "Some more detail on Instant Recovery vs Non-Instant Recovery"
The article explains well that Instant Recovery keeps the snapshot around for 2 days (default) so if you need to do a restore and the snapshot is there, it's much quicker.  However, it would be nice to understand what happens in the process when the snapshot is copied to the Vault and how the data is extracted from the snapshot and organized in the vault before the snapshot is deleted in cases whe

[2019-04-16 14:13] msrini-MSFT commented on #29163
@simonua , Thank you for your feedback. Will convey the same to the PG to get it added.

[2019-04-16 14:13] kilasuit commented on #20725
@cynthn a raw file should be more than enough if context around this is added to the document

[2019-04-16 14:28] YASWANTHM-MSFT commented on #29470
@TomasHubelbauer, Please help with the link of document on which above document feedback request is created.In case your query in not related to document content, open a new forum thread in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get hel

[2019-04-16 14:31] TomasHubelbauer commented on #29470
This is obviously not related to any one specific document. MSDN and SO are poor suggestions to use instead as I am providing a suggesting specific to this GitHub repository.

This is the best place to provide this suggestion even though it is not related to the documentation content.

[2019-04-16 14:38] YASWANTHM-MSFT commented on #29478
@rajb865, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 14:41] RyanHill-MSFT commented on #29302
@DOMZE, I went through steps outlined above. I created a vnet/subnet and was able to assign it to the app service. Now, a vnet I had configured with a gateway and associated public ip I was not able to assign to the app service due to the associated public ip. That is a separate issue which I don't believe addresses your question. If it does, please let me know. I also didn't run into any issues d

[2019-04-16 14:42] jomolesk commented on #25826
This has been addressed, #please-close.

[2019-04-16 14:47] imenbm commented on #12206
Hello,i've tried this code and everything work perfectly,
the problem is when i want to send a message ,i get an "exception" : Connection Status changed to disable:the reason is client_close
Can you help me plz

[2019-04-16 14:53] langstonj opened #29495 "Examples of events initiating an automatic fail over would be helpful"
"...any outage that impacts one or several of the databases in the group results in automatic fail over.  ..."  I personally would find examples of specific outages that would cause the initiation of an automatic fail over for the group to be very helpful in the internal messaging I have to do within my organization.  Since moving to Azure SQL Database, but prior to the introduction of Fail Over G

[2019-04-16 14:55] AgSync-Aaron opened #29496 "Update for Windows 10 1809"
I was not able to get this running on windows 10 1809

Running `Install-WindowsFeature -Name Hyper-V -IncludeManagementTools` resulted in the error `Install-WindowsFeature : The term 'Install-WindowsFeature' is not recognized as the name of a cmdlet, function, script file, or operable program.`

When attempting to create a new cluster I get this...
[code]

---
#### Document Details

⚠ *Do not edit

[2019-04-16 15:01] DOMZE commented on #29302
Hi @RyanHill-MSFT ,

Thanks for testing.

To actually reproduce the problem:
Create a vNet call it vNetTest with a subnet (/27) call it subnetA. Associate it to a web app call it webAppA
Create another app service plan with another web app call it webAppB

Try to associate vNetTest/subnetA to webAppB

You will get the error above

[2019-04-16 15:04] HeidiSteen commented on #28878
@ctstone  Hi Chris, I don't see "ka" as a language code.  There is "kn" for Kannada, and "ko" for Korean, but no "ka".

[2019-04-16 15:06] hansmbakker commented on #28461
I did not see any requirement like that in [the video where @ccompy presented](https://azure.microsoft.com/en-us/resources/videos/ignite-2018-what-is-new-in-azure-app-service-networking/). So I assumed:
- @Mike-Ubezzi-MSFT no extra firewall rule with private ip addresses from the VNet is needed (you select the VNet subnet that is allowed to access e.g. cosmosdb in the cosmosdb firewall settings, s

[2019-04-16 15:06] HeidiSteen commented on #28878
I forgot to add, if this unblocks you, could you close the issue??

[2019-04-16 15:13] ctstone commented on #28878
Hi @HeidiSteen, it looks like this was already fixed in a recent PR #27759. Closing this issue.

[2019-04-16 15:13] #28878 closed

[2019-04-16 15:17] bitsofinfo opened #29497 "coredns "hosts plugin" support"
Please clarify if the "hosts" plugin in coredns is supported and provide an example on this page for configmaps

https://github.com/coredns/coredns/tree/master/plugin/hosts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f95537e-770a-739c-0175-4447a995f8b2
* Version Independent ID: 6c9a1132-05af-70f1-5a2b-8dad56de9cc3

[2019-04-16 15:20] garyericson commented on #7130
@YutongTie-MSFT - Thanks for helping @myusrn directly.
@myusrn - You can also post questions like these in the [Azure Machine Learning Forum ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService).

#please-close

[2019-04-16 15:27] Mike-Ubezzi-MSFT commented on #29405
@oslake The `Reclaim unused allocated space` section is a candidate for a note or additional text indicating the performance hit. I can add this if there is a specific edit you wish to be made.

[2019-04-16 15:27] giusbi opened #29498 "Convert Parameter to number"
According to the documentation **Expressions and functions in Azure Data Factory**

`"@pipeline().parameters.myNumber"` should return a number, but when I execute the following expression on a query on ADF

`'@{ addminutes(pipeline().parameters.StartTime, -"@pipeline().parameters.Minutes" )}'`

I get: The expression is not valid: the value '-' at position '59' cannot be converted to number

Notice

[2019-04-16 15:28] cwester72 opened #29499 "Add additional VM's"
How can I add additional VM's after creation to support the pool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6d8a2
* Content: [Create a Windows Virtual Desktop Preview host pool with Azure Marketplace  - Azure](https://doc

[2019-04-16 15:30] Karishma-Tiwari-MSFT commented on #29477
@vishnubraj I see that you closed the issue, are you still seeing any issue or is it resolved?

[2019-04-16 15:30] cwester72 opened #29500 "Microphone"
Audio settings carry over except the microphone. Says no devices available, but my headset works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7a8e997-f5c8-eaa8-b713-068650dd6b22
* Version Independent ID: ef57850d-1fc4-bc6a-827c-2934c31f50c9
* Content: [Windows Virtual Desktop Preview environment - Azure](https://do

[2019-04-16 15:31] Karishma-Tiwari-MSFT commented on #29475
@nhnhutthy I see that you closed the issue. Are you still seeing the issue or it got resolved?
Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-16 15:33] Karishma-Tiwari-MSFT commented on #29442
@FAHADSUST Any update?

[2019-04-16 15:34] Karishma-Tiwari-MSFT commented on #29474
Thanks for the update.

[2019-04-16 15:37] starforce commented on #29240
@MohitDhingra-MSFT @MarileeTurscak-MSFT

Thank you for your response but this solution is for apps created at the Azure AD level. My Apps are created at the Azure B2C Level and don't have the Permission screen like Azure AD

<img width="1303" alt="Azure AD B2C Registered Apps" src="https://user-images.githubusercontent.com/4247353/56223558-fd44eb00-603b-11e9-8fba-1f8c0528a72f.png">

[2019-04-16 15:42] MicahMcKittrick-MSFT commented on #28567
@axelgMS @feiskyer where can users follow this bug? Is there a GitHub link we can follow? I dont think it makes sense to keep an issue open on this specific doc as there is not an actual doc problem but a product issue.

[2019-04-16 15:45] barracud commented on #29324
@SadiqhAhmed-MSFT Any official documentation on **Azure Migrate - Server Migration**?

[2019-04-16 15:46] Rajani-Janaki-Ram commented on #23055
There's no actionable feedback I can see here?

[2019-04-16 15:46] Rajani-Janaki-Ram commented on #23055
please share more insight into what you are looking for? @SumanthMarigowda-MSFT - please close if there is no more info available.

[2019-04-16 15:46] Karishma-Tiwari-MSFT commented on #29153
Thanks @droessmj for sharing the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-16 15:46] #29153 closed

[2019-04-16 15:47] jamesapicken opened #29503 "Copy-keys.ps1 Fails"
I run the script, select a subscription, ResourceGroup, VM, Target location and the target key vaults, click Select button and then I get the following error in powershell.

Exception: Method invocation failed because [Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext] does not contain a method named 'AcquireToken'.
At: $AuthResult = $AuthContext.AcquireToken($ArmResource, $Cli

[2019-04-16 15:47] Rajani-Janaki-Ram commented on #22606
The automation account  created for the first time @jontreynes

[2019-04-16 15:48] Karishma-Tiwari-MSFT commented on #17581
@roiyz-msft @cynthn Can you please help with confirming on this one. Thanks :)

[2019-04-16 15:48] Rajani-Janaki-Ram commented on #22606
@femsulu , please close in case of no further queries.

[2019-04-16 15:49] MicahMcKittrick-MSFT commented on #29496
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 15:49] Mike-Ubezzi-MSFT commented on #29495
@langstonj Thank you very much for providing this detailed feedback. I am forwarding this on to the content team to review and update accordingly. @CarlRabeler for awareness.

[2019-04-16 15:50] MicahMcKittrick-MSFT commented on #29497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 15:50] Rajani-Janaki-Ram commented on #22018
Then example gives has it, we will explicitly add these. changes are being checked in., @femsulu ,please close.

[2019-04-16 15:50] MicahMcKittrick-MSFT commented on #29500
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 15:51] MicahMcKittrick-MSFT commented on #29499
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 15:51] MicahMcKittrick-MSFT commented on #29488
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 15:52] MicahMcKittrick-MSFT commented on #29488
#29500
#29499
#29488

[2019-04-16 15:52] MicahMcKittrick-MSFT commented on #29499
#29500
#29499
#29488

[2019-04-16 15:52] MicahMcKittrick-MSFT commented on #29500
#29500
#29499
#29488

[2019-04-16 15:56] Mike-Ubezzi-MSFT commented on #29491
@FernandoHidalgoSWBI Thank you very much for your interest in Azure cloud services. In looking through this overview documentation, the last section (bottom of page) goes into how to [define a unique key](https://docs.microsoft.com/en-us/azure/cosmos-db/unique-keys#define-a-unique-key). There is one important caveat. The unique key definition must be implemented when the collection is created.

Is

[2019-04-16 16:00] hsbsandrecv opened #29508 "TrustedIPs (Service Settings) x Conditional Access"
By reading this doc, it was not clear to me what´s the interation between the Trusted IPs on Service Settings page and Condicional Access. For instance, If there is a Condional Access rule for a specific group defining that MFA is Required, and that group is connecting from a Trusted IP. What setting will apply the Conditional Access that required MFA, or the TrustedIP that says that MFA is not ne

[2019-04-16 16:01] Mike-Ubezzi-MSFT commented on #29486
@gpj1 Thank you for taking the time to inquire about this functionality. I am investigating and will update this issue when I have accurate information.

[2019-04-16 16:02] rimman commented on #29491
@FernandoHidalgoSWBI  thank you for your feedback! We will add a "how-to" article on unique key creation - with code samples, etc. This task has been already assigned internally and we should have this article out by next week. In the meantime, please feel free to use this https://dibranmulder.github.io/2018/07/03/Unique-keys-in-Azure-Cosmos-DB/ as an example,

We can close this github issue. Plea

[2019-04-16 16:03] Brian-Elliott commented on #21307
Can you edit these values by using the "Set-AzVMDiagnosticsExtension" command if you can't do it through the UI? What's the workaround here if this has been stagnant for over 4 months?

[2019-04-16 16:13] hsbsandrecv opened #29509 "Caching Rules"
I would like to clarify some points about the Caching Rules:
1) How long it going to take effect after we create a New Caching Rule?

2) Is there any precedence rule in terms of Caching Rules?
    a) if there is a User Caching Rule of 600 sec and an Application Caching Rule of 60 sec?
If a Application fits the settings for the Caching rule and the User also matches with the User Caching , which ca

[2019-04-16 16:15] Mike-Ubezzi-MSFT commented on #29491
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-16 16:15] #29491 closed

[2019-04-16 16:25] #13050 closed

[2019-04-16 16:25] #18463 closed

[2019-04-16 16:26] #19081 closed

[2019-04-16 16:26] #19164 closed

[2019-04-16 16:26] #19456 closed

[2019-04-16 16:26] shashishailaj commented on #29140
@Bally-Kahlon The Guest users listed as "Microsoft Account" are someone with an email address which were invited and have been present in the directory by virtue of being a Microsoft account (liveID) when they redeemed the invitation to join/contribute to your directory . Anyone who shows up as "External Azure Active Directory" is a user who is already present in another Azure AD and have used Off

[2019-04-16 16:26] #29140 closed

[2019-04-16 16:27] #20770 closed

[2019-04-16 16:27] #20852 closed

[2019-04-16 16:28] #24000 closed

[2019-04-16 16:29] #25798 closed

[2019-04-16 16:29] #25826 closed

[2019-04-16 16:30] #26859 closed

[2019-04-16 16:30] #27763 closed

[2019-04-16 16:30] #27963 closed

[2019-04-16 16:30] #27965 closed

[2019-04-16 16:30] #28493 closed

[2019-04-16 16:31] #28568 closed

[2019-04-16 16:31] #28751 closed

[2019-04-16 16:31] #28760 closed

[2019-04-16 16:31] #28901 closed

[2019-04-16 16:31] #29444 closed

[2019-04-16 16:37] Charmendar opened #29510 "Can we enable Key Vault Diagnostic Log though ARM or CLI?"
Can we enable Key Vault Diagnostic Log using ARM or CLI?

[2019-04-16 16:38] ggailey777 commented on #22274
@KetanChawda-MSFT Can you please assign to @ColbyTresness who is working on updates to this article.

[2019-04-16 16:39] ggailey777 commented on #14560
Please assign to @craigshoemaker.

[2019-04-16 16:42] Charmendar opened #29511 "Is It possible to enable Diagnostic Log for Key Vault using ARM or CLI?"
We would like to enforce diagnostic setting for KeyVault during resource creation and use policy to deny if diagnostic setting is not there, is this archivable if we use ARM to create the Key Vault?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42e52c78-8986-28fc-f9f0-db87d95fce8c
* Version Independent ID: 977f3fac-53

[2019-04-16 16:43] RohitMungi-MSFT commented on #29398
@wilsochua20 It is interesting the API detected other users voice in some of your cases. I would recommend to raise an issue through support in Azure portal for the resource you are using so it can be checked in detail by an engineer for your scenarios.

In case of using byte[], I think you can take a look at the samples in API documentation page for code samples with C# which use the same.

[2019-04-16 16:45] MicahMcKittrick-MSFT commented on #29496
@dkkapur I don't see 1809 listed in the supported OS's but I assume it would be supported. Is it?

CC @aljo-microsoft

[2019-04-16 16:47] MicahMcKittrick-MSFT commented on #29488
@cwester72 I have not noticed this behavior before.

@Heidilohr what is the best route to have this issue investigated?

[2019-04-16 16:48] Heidilohr commented on #29488
@MicahMcKittrick-MSFT I'm going to forward this along to the dev team so they can look into this further.

[2019-04-16 16:51] SadiqhAhmed-MSFT commented on #29324
@barracud I'm not sure. But you can fill the form by visiting the above site and someone from our product group will connect with you to understand your scenario and help accordingly.

[2019-04-16 16:51] Adam-Smith-MSFT commented on #21602
@mdgattuso Would you be able to help with this issue ?

Thanks,
Adam

[2019-04-16 16:54] Alberto-Vega-MSFT commented on #29484
@rodolfowitsch Thanks for your valuable feedback. I see what you are saying in the section[ Jobs Properties](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-jobs#jobs-properties).  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-16 16:56] Karishma-Tiwari-MSFT commented on #29510
@Charmendar
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-16 16:57] rayne-wiselman commented on #29324
@barracud Site Recovery can't currently do this. Re Azure Migrate - server migration, we'll be releasing documentation when it's released. Thanks!

[2019-04-16 16:58] Karishma-Tiwari-MSFT commented on #29498
@giusbi
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist. Also, please elaborate more on your question so that we can better assist.

[2019-04-16 16:58] Charmendar commented on #29510
Thanks for the quick feedback, I also noticed I did not successfully attach the link, will close this one.

[2019-04-16 16:58] #29510 closed

[2019-04-16 17:00] damienestewart opened #29512 "Child Resources"
Just a quick question since I think I missed a direct answer to this - but when do we need to fully qualify the name of a child resource? For example, for the resource with the type property "Microsoft.ApiManagement/service", can the child resource type property be just "products" or must it be fully qualified to be "type": "Microsoft.ApiManagement/service/products"?

---
#### Document Details

⚠

[2019-04-16 17:03] MicahMcKittrick-MSFT commented on #29500
@cwester72 see the following question asked in Tech Communities where we officially support WDP

https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/No-Microphone-and-Camera-redirection-support-in-WVD-clients/m-p/391355#M142

[2019-04-16 17:03] #29500 closed

[2019-04-16 17:04] hpsin commented on #6410
#please-close - this has been documented.  Thanks Paul!

[2019-04-16 17:04] MicahMcKittrick-MSFT commented on #29499
@Heidilohr I do not find any documentation on adding additional VMs after you create the host pool. I searched Tech Communities as well but didnt find any posts. Do we have any docs on this?

[2019-04-16 17:13] cap273 opened #29513 "Inconsistency in what the issuer URL is"
This page currently contains the following under the section "Issuer":

"This is set to https://sts.windows.net/&lt;TenantIDGUID&gt;/where &lt;TenantIDGUID&gt; is the Tenant ID of the Azure AD tenant.

&lt;Issuer&gt;https://login.microsoftonline.com/82869000-6ad1-48f0-8171-272ed18796e9/&lt;/Issuer&gt;"

So is the issuer URL on the domain login.microsoftonline.com or on sts.windows.net?

---
#### D

[2019-04-16 17:13] Sambsamb opened #29514 "Need the rest of the wildcards and operators that can be used with Azure Policies"
Need details on wildcards used for Azure polcies as shown on https://docs.microsoft.com/en-us/azure/governance/policy/samples/enforce-like-pattern

For example, the article refers to
'field': 'name', 'match': 'contoso??????'

and

'field': 'name', 'match': 'contoso-???-##'

so I take it the question marks and pound signs are some wild cards. I need the rest of this syntax and the available operato

[2019-04-16 17:18] DCtheGeek commented on #29514
@Sambsamb Thanks for the question!  That information is in the policy definition structure document, specifically in the [Conditions](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#conditions) portion.  `*` works with **like** and **notLike**, while `#`, `?`, and `.` work with **match**, **notMatch**, **matchInsensitively**, and **notMatchInsensitively**.  If you

[2019-04-16 17:18] himanshusinha-msft commented on #29482
@yigitgursoy : Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-16 17:19] cwester72 commented on #29488
We're you able to replicate this issue? Maybe I should try a re-deploy?

Thanks!
Craig

[2019-04-16 17:21] Alberto-Vega-MSFT commented on #29422
@Gamecock Since you resolved your issue we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-16 17:21] #29422 closed

[2019-04-16 17:26] sonpeppers opened #29516 "Lock locks both create and update"
This feature is awesome! We can use it immediately by locking a tag each time we create one.

One improvement would be to separate "writeEnabled" into "updateEnabled" and "createEnabled" because there's no way to specify the default behavior of an image to allow create tag but not update tag; our team wants to allow devs to create new tags but not modify them in case they get picked up after the t

[2019-04-16 17:31] sonpeppers opened #29517 "update command does not show updated value on initial response"
Example:

Suppose my image is writeEnabled:false. If I submit a command like

az acr repository update --name &lt;myreg&gt; --repository &lt;myimage&gt; --write-enabled true

on success, the response _may_ still have --write-enabled false instead of the --write-enabled true. After submitting the corresponding show command right after, I get the correct result (assuming the update command had succe

[2019-04-16 17:33] lucas95123 opened #29518 "minimal run for early termination policy to take effect?"
Hi I notice that the early termination policy won't start stopping runs unless certain number of runs has been run, for example, if I queue a HyperDrive run with total 4 runs, those will all run till the end even if I specify eval_interval = 1 and delay = 0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c2fcdc-a4d7-2

[2019-04-16 17:35] iLikeAzureSQL opened #29519 "How to Schedule Trigger with Parameter input"
Trying to schedule a triiger for this example but it looks like there is no place for input parameters in scheduled triggers. Please comment in this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284de931176d
* Version Independent ID: 4002e018-4320-c978-061d-080d89761c8e
* Content: [Incremental

[2019-04-16 17:37] swatig007 commented on #29518
Hi,
 Can you please let me know how many Max concurrent runs you were using? The first set of concurrent runs will usually run through completion, because we wouldn't have a previous best run for comparison.

-Swati.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kuan Lu <notifications@github.com>
Sent: Tuesday, April 16, 2019 10:33:39 AM
To: MicrosoftDocs/azure

[2019-04-16 17:38] SaurabhSharma-MSFT commented on #29167
@ptansey We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-16 17:38] #29167 closed

[2019-04-16 17:38] rolyon commented on #29396
Hi @lightdrive
When this role is ready, we'll add it to the page.
thanks

[2019-04-16 17:42] tchristiani commented on #19640
The engineering team has responded that there is no C++ sample available and there are no plans to provide one at this time.

#please-close

[2019-04-16 17:43] tchristiani commented on #21892
This is not a supported platform and this issue has been moved to support.

#please-close

[2019-04-16 17:44] anumjs commented on #29468
@KalyanChanumolu-MSFT when I modified the linked doc, I only see steps till 5. Could you please email me the link to the version that contains step 6 so I can figure out what the issue is. I don't own the original doc so I can't tell right away. It could just be a typo as the username and password step is 2.

[2019-04-16 17:46] grayjeremy opened #29520 "Permissions for az role assignment create"
The "Configure ACR Authentication" section has a command "az role assignment create ..." that requires the permission "Microsoft.Authorization/roleAssignments/write".  This permission, to my knowledge, only exists for owners of the subscription/resource group/resource.  Can we add a callout in this section to make sure the user executing the command has the "Microsoft.Authorization/roleAssignments

[2019-04-16 17:47] johnwildes opened #29521 "Updating the root management group name"
The document states that you can update the Tenant Root Group display name, but doesn't go into how.  I've got a fresh subscription and AAD tenant.  I'm logged in as the Global Administrator and I am unable to update this display name from Tenant Root Group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1527b80e-5270-

[2019-04-16 17:52] tchristiani commented on #24930
This has been added to the backlog. #please-close

[2019-04-16 17:53] tchristiani commented on #24283
#please-close

[2019-04-16 17:54] bertrandpons opened #29522 "Hard coded tenantId and objectId in exported ARM template from Resource Group"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-quickstart-create-templates-use-the-portal

How do you deal with ARM templates when you have hard coded tenantId and objectId in them?

Let's say I have web apps, sql databases, key vault, storage, services bus, ... with managed identities, theses ids are therefore

[2019-04-16 17:56] Karishma-Tiwari-MSFT commented on #29305
@huzzeytech Did that help? Let me know.
@roiyz-msft Did you get a chance to take a look at this issue? Thanks.

[2019-04-16 17:58] MarileeTurscak-MSFT commented on #29209
Thanks, @csnarain

I made a pull request for review by @CelesteDG

https://github.com/MicrosoftDocs/azure-docs-pr/pull/73315

[2019-04-16 17:58] #29209 closed

[2019-04-16 17:59] aleazofeifam opened #29524 "Script is no longer supported, the doc. needs to be updated"
# Azure documentation issue guidance

The script button in the AAD blade for the sign in and the audit logs is no longer there, the doc. needs to be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1558e7c0-eaaf-d081-30c3-5c13e0876071
* Version Independent ID: 1106c01b-1e4c-5b04-be84-432f99ec4d8f
* Content: [Sign

[2019-04-16 18:01] MicahMcKittrick-MSFT commented on #29488
@cwester72 I have not replicated the behavior. If you're willing to try a re-deploy I would be curious if you are able to reproduce it.

[2019-04-16 18:02] RyanHill-MSFT commented on #29302
Hi @DOMZE thanks for your provided steps. You can always use the Vnet Integration blade to disconnect application from the vnet and then reassoicate vnet to a different webapp. So I do believe the doc is correct. However, in the portal, you shouldn't be able to select the vnet if it's associated to an app service. I'll send this feedback to the appropiate team.

Thanks and regards,

Ryan

[2019-04-16 18:04] Karishma-Tiwari-MSFT commented on #29517
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 18:08] Karishma-Tiwari-MSFT commented on #29520
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-16 18:08] bandersmsft commented on #7882
@yashevsi Sure, please e-mail me the screenshot that you want me to add.

[2019-04-16 18:12] andrewchungxam opened #29525 "For anybody running into the following issue: ImportError: No module named azure.cognitiveservices.vision.customvision.training"
Here's how I got around the issue:
https://github.com/Azure-Samples/custom-vision-move-project/issues/2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b244d131-ba7c-30e5-7dbb-9edd22df3957
* Version Independent ID: 6932d029-8313-e4f7-1983-5ec25e1ad0b9
* Content: [Move a limited trial project to Azure](https://docs.micro

[2019-04-16 18:17] daveberm opened #29526 "Using a Local Storage Space with Availability Groups"
The guidance on this page is excellent, however it doesn't address a very common configuration that often gets people into trouble. What we really need is some guidance on configuring a local Storage Space that will work when the SQL Server Instances are part of an Availability Group.

Joey D' Antoni blogged about it here https://joeydantoni.com/2018/05/03/a-problem-with-storage-spaces-failover-cl

[2019-04-16 18:21] SnehaGunda commented on #28461
I got a confirmation from cosmos DB team that "we can't currently allow a specific service to access cosmos DB when using VNet" It's a limitation from the networking end, if the networking team enables the feature Cosmos DB can support it.

@Mike-Ubezzi-MSFT do you want to redirect this issue to the App service category?

[2019-04-16 18:22] Karishma-Tiwari-MSFT commented on #29516
@sonpeppers Thank you for the feedback. It helps to make our products and services better.
Please post your feedback [here](https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/35014600-tag-locking). This allows you to get direct feedback on your request from engineering, and will also allow other customers to vote it up for prioritization.

[2019-04-16 18:29] DOMZE commented on #29302
Hi @RyanHill-MSFT
yes what I meant by my statement is that once a subnet is associated to a web app, the subnet is thus associated to the app service it belongs to and you cannot add other web apps from other app services to it, thus it's a 1 to 1 association.

Thank you

[2019-04-16 18:32] hitesh1907nayyar commented on #29284
Presently have 2 nodes from 1. The problem is one of the pod is pending state and caused an error: cluster-autoscaler pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 in backoff after failed scale-up

[2019-04-16 18:35] #29451 closed

[2019-04-16 18:43] MarileeTurscak-MSFT commented on #29480
Hi @gbs916 ,

This is good feedback. The best way to add this as a feature request is to post in User Voice where the product team can respond to it directly and add it to their backlog. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-04-16 18:43] #29480 closed

[2019-04-16 18:46] YutongTie-MSFT commented on #29311
@RohitMungi-MSFT  Thank you for the response Rohit.

@nicojdejong
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-16 18:46] #29311 closed

[2019-04-16 19:01] MicahMcKittrick-MSFT commented on #29526
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 19:02] diberry commented on #29230
@BeMor81 - please remove the keyPhrase prebuilt entity from the app, then mark the custom entity, then add keyPhrase back to the app. Did you import the app or did you continue from a previous tutorial?

[2019-04-16 19:03] msebolt commented on #5480
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-16 19:03] #5480 closed

[2019-04-16 19:07] carlfm01 commented on #29190
Thanks, I've tried again from scratch and getting the same, can't login. Remeber: with unmanaged disk. I can login if I use managed disks.

[2019-04-16 19:07] Karishma-Tiwari-MSFT commented on #29524
@aleazofeifam
Thanks for the feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-16 19:07] shashishailaj commented on #29270
Generally in case of any STS , it has a key pair which is generated the private key is used by the STS service and the public key is used by the application/user to validate the tokens given out by the STS service. The corresponding key from the key pair needs to be used to validate the token as the one which was used to generate it . During token generation the private key is the one which is use

[2019-04-16 19:10] Karishma-Tiwari-MSFT commented on #29522
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 19:11] Advanium commented on #27830
For developers new to these docs, AAD and MSAL are abbreviations / acronyms they can't relate to. If possible, please make a first use of the entire term before using the abbreviations. I had trouble finding out what MSAL stands for.

[2019-04-16 19:14] SubhashVasarapu-MSFT commented on #29118
@lovelangy , This seems to be the similar [issue](https://stackoverflow.com/questions/41194682/azure-reservedipaddress-cloud-service-without-an-endpoint) as addressed here. Please have a look at this and for any further queries please reach out to us.

[2019-04-16 19:20] Mike-Ubezzi-MSFT commented on #28461
This appears to be a product enhancement and not necessarily a documentation issue. The ask is to limit or narrow the scope of the "Allow access to Azure services" configuration to the point of a specific service or a specific service instance. I highly suggest that everyone reading this thread go to the Azure Networking uservoice and provide feedback on this specific suggestion: [Access restricti

[2019-04-16 19:20] #28461 closed

[2019-04-16 19:27] aleazofeifam commented on #29524
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins#filter-sign-in-activities
If you check on top of **filter sign-in activities** it will have a screenshot including the "script button"m which it shouldnt because that doesnt exist anymore

[2019-04-16 19:28] aleazofeifam commented on #29524
@Karishma-Tiwari-MSFT

[2019-04-16 19:31] normesta commented on #23300
@JorgeCupiV - At what scope did you attempt to assign the Storage Blob Data Contributor role to your service principal? Did you do this in the context of the storage account? When you went to the "Add role assignment" page in the context of your storage account, are you saying that in the "Role" drop-down list, the Storage Blob Data Contributor" role did not appear? Thank you.

[2019-04-16 19:31] MicahMcKittrick-MSFT commented on #29526
@daveberm thanks for this. I am not sure if this is something that is already in the backlog or suggested to do.

I will assign to the content authors to review and see if any doc enhancements can be made to cover such a scenario.

CC @MikeRayMSFT

[2019-04-16 19:34] joseq-terawe opened #29529 "Azure Infrastructure Backup"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-16 19:37] SaurabhSharma-MSFT commented on #29235
@ckarras I am checking internally with the product team and provide you updates once I hear back.  Thanks for your patience.

[2019-04-16 19:37] MSSedusch commented on #20571
sorry for the delay. I set up an NFS cluster and an ASCS cluster today using our documentation. I was able to configure a Filesystem resource in the ASCS cluster with fstype=nfs4. Can you check again? If the pacemaker resource is not able to start, please have a look at /var/log/messages to get more details on the error.

[2019-04-16 19:40] SaurabhSharma-MSFT commented on #27028
@SamBlakeC Thanks for your patience. This has been identified as a product bug but unfortunately at this point we will have to wait and see when its gets prioritized.

[2019-04-16 19:41] normesta commented on #15440
Hello - Thank you for reporting the issue. These instructions have been updated to use the new Azure PowerShell Az module and no longer include the specific version number in the command. Pls. open another issue if you still experience issues with the new Az module. Thank you.

[2019-04-16 19:42] normesta commented on #15440
#please-close

[2019-04-16 19:44] MashaMSFT commented on #29526
Hi @davebern, thanks for bringing this to our attention! I'm investigating this. Thanks!

[2019-04-16 19:50] SaurabhSharma-MSFT commented on #29416
@DrewSummers Can you please share the error screenshot ?

[2019-04-16 20:09] msebolt commented on #5434
Samples tested and seem to be working.  Please be sure to target Windows and use the sample projects created from https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-windows-store-dotnet-get-started.

If there is a specific use-case that fails, please provide additional details in the comments below.

[2019-04-16 20:09] #5434 closed

[2019-04-16 20:13] ninarn commented on #28941
They are not yet on GitHub. I am working with them to get someone from the team to take over this issue.

[2019-04-16 20:21] MartinJaffer-MSFT commented on #29172
@bertrandpons  According to the [troubleshooting guide](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-common-deployment-errors), if you get the LinkedAuthorizationFailed error message, you should "Check if your account belongs to the same tenant as the resource group you're deploying to."
The error message reads like a permissions issue.  Check roles and typos.
I f

[2019-04-16 20:21] #29172 closed

[2019-04-16 20:24] SaurabhSharma-MSFT commented on #29144
@squasta Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-04-16 20:26] MartinJaffer-MSFT commented on #29231
This document shows how to change the publish branch.
https://docs.microsoft.com/en-us/azure/data-factory/author-visually#configure-publishing-settings

[2019-04-16 20:26] #29231 closed

[2019-04-16 20:28] SaurabhSharma-MSFT commented on #29417
@adsifi Please post this as a product feedback [here](https://feedback.azure.com/forums/34192--general-feedback). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2019-04-16 20:35] CeciAc commented on #7722
@SaurabhSharma-MSFT is there any update on this?

[2019-04-16 20:41] SubhashVasarapu-MSFT commented on #29195
@DMoonesinghe , VNet peering is a non-transitive relationship between two VNets. If you require spokes to connect to each other, consider adding a separate peering connection between those spokes.
However, if you have several spokes that need to connect with each other, you will run out of possible peering connections very quickly due to the[ limitation on number of VNets peerings per VNet](https:

[2019-04-16 20:43] jeevansd commented on #28753
#please-close

[2019-04-16 20:48] rustamm commented on #28849
@MicahMcKittrick-MSFT, I cloned the repo and tried to run SetupApplications.ps1. I get these errors:
New-Object : Cannot find type [Microsoft.IdentityModel.Clients.ActiveDirectory.PlatformParameters]: verify that the assembly containing this type is loaded.
At C:\src\Azure-PowerShell-Snippets\MicrosoftAzureServiceFabric-AADHelpers\AADTool\Common.ps1:32 char:27
+ ... arameters = New-Object Microsof

[2019-04-16 20:52] CeciAc commented on #17364
@amanarneja @SyntaxC4 is there any update on this one?

[2019-04-16 20:56] mumian commented on #29522
@bertrandpons - the export function is quite limited. It has to be done manually now.

#please-close

[2019-04-16 21:03] thorpebt opened #29531 "Does ASA not support Data Lake V2 as an output?"
I see Data Lake Gen1 as an option, but not Gen2. Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2896ae0e-a559-64c7-1782-14ef1c83f509
* Version Independent ID: fdc01b78-9222-6231-f85e-68defe4eafa9
* Content: [Understand outputs from Azure Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-ana

[2019-04-16 21:08] russ138 commented on #29463
Correction:  Azure support swore we only had 64 SNAT ports (not 16).

[2019-04-16 21:16] CeciAc commented on #17432
@ghogen The user reports a redundant tag inside an example code
Please, check if this is a valid fix.

@SaurabhSharma-MSFT @YutongTie-MSFT

[2019-04-16 21:18] #9419 closed

[2019-04-16 21:23] ketaanhshah opened #29532 "How to deploy this Java web-app in Production?"
Hey All,
How do we deploy an Java based web-app and controllers to Azure in PRODUCTION or other environemnts? I know FTP way of deploying the Java web-apps but in Production I dont think it is write for admins to follow steps? Any AZ CLI commands or Powershell commandds for doing the Java deployments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-16 21:24] omerzubair commented on #26975
Thanks , I see the same issue. I will ignore it.

[2019-04-16 21:26] himanshusinha-msft commented on #29217
@bertrandpons : We are assuming that you are getting the below error while running
`Remove-AzureRmDataFactoryV2Pipeline`

_Remove-AzureRmDataFactoryV2Pipeline : HTTP Status Code: BadRequest
Error Code: BadRequest
Error Message: The document cannot be deleted since it is referenced XXXX_

At this time it appears that we do not have a cmdlet which can show the dependency among the pipelines . We sug

[2019-04-16 21:26] #29217 closed

[2019-04-16 21:27] rboucher commented on #5530
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.

#please-close

[2019-04-16 21:28] rboucher commented on #6434
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.

#please-close

[2019-04-16 21:33] Am018 commented on #14207
Was the timeout issue resolved as well? I am facing the exact problem. I skipped the step of running docker. Not sure if that is causing the issue.

[2019-04-16 21:37] arluca commented on #28414
@asubmani : Thanks for reaching out. For authenticating to Azure Resource Manager, both `https://management.azure.com/` and `https://management.core.windows.net/` work. The forward-slash is required in both options.

[2019-04-16 21:38] rboucher commented on #9448
Sorry for the late reply.  We know we have a problem in this area with the docs.  We are in the process of reformatting them to clear up these issues.

The links 404 because they are internal PRs, not accessible to the public.  You can see the changes in the history of the article however.

The configuration settings to send to eventhub are via the Azure Diagnostics extensions are outlined in http

[2019-04-16 21:39] SaurabhSharma-MSFT commented on #7722
@cherylmc Can you please help here.

[2019-04-16 21:39] Karishma-Tiwari-MSFT commented on #29524
@aleazofeifam Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-16 21:40] rboucher commented on #12354
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.

#please-close

[2019-04-16 21:40] rboucher commented on #14456
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers.
Due to the volume of issues in our queue, our policy is to close issues that have been inactive for the last 90 days. We hope to continue hearing from you.
Thank you.

#please-close

[2019-04-16 21:44] Karishma-Tiwari-MSFT commented on #29522
@bertrandpons Hope that helped answer your question.
Please post this as a product feedback. We have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-16 21:44] #29522 closed

[2019-04-16 21:48] Jann-Skotdal commented on #23949
@hemokwang: Custom Translator is not available in Word, however you can use Microsoft's Document Translator to translate Word documents. Document Translator can be used with Custom Translator. See more information at https://github.com/MicrosoftTranslator/DocumentTranslator/releases

[2019-04-16 21:49] msebolt commented on #5530
The issue occurs when the Azure subscription hasn't been set.  If you use the 'Set-AzContext' command, before running 'Add-AzureRmMetricAlertRule', the issue should resolve.

[2019-04-16 21:49] #5530 closed

[2019-04-16 21:50] Karishma-Tiwari-MSFT commented on #29532
@ketaanhshah
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-16 21:51] YutongTie-MSFT commented on #29525
@andrewchungxam
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 21:56] rohinkoul commented on #21242
@SubhashVasarapu-MSFT please assign this issue to me

[2019-04-16 21:57] rohinkoul commented on #19779
@TravisCragg-MSFT  please assign this issue to me

[2019-04-16 21:58] msebolt commented on #5561
The article now acknowledges this race condition with a noted explanation.

[2019-04-16 21:58] #5561 closed

[2019-04-16 21:59] femsulu commented on #29443
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-16 21:59] #29443 closed

[2019-04-16 22:00] ifflanb opened #29533 "Advanced Filter Not Working"
The -AdvancedFilter option on the New-AzEventGridSubscription cmdlet does not seem to work anymore. Has it been removed?
I get this error message: "A parameter cannot be found that matches parameter name 'AdvancedFilter'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f3bb8be-4dce-4bb2-cf49-9f43982af478
* Version Inde

[2019-04-16 22:01] KeiroKamioka0000 commented on #23055
Hi, this post was made for the client's question made in this Jan.
The problem are already solved with deliver the document of URL I've post.

I meant to request to add the [Azure to Azure] for [Delete a Site Recovery Vault]

Please close this if necessary.

[2019-04-16 22:01] #23055 closed

[2019-04-16 22:03] #22606 closed

[2019-04-16 22:16] Alberto-Vega-MSFT commented on #29359
Hi @sique976 we will be closing this issue for now. If you have any questions after you go over the tutorial again, please feel free to open a new issue.

[2019-04-16 22:16] #29359 closed

[2019-04-16 22:24] Mike-Ubezzi-MSFT commented on #29239
@shmahanta Really not exactly sure what you are attempting to do. You can use Managed Identities in Azure App Service and Azure Functions. [PowerShell Modules](https://devblogs.microsoft.com/powershell/using-powershell-modules-in-azure-functions/) can be used in Azure Functions. Using Managed Identities directly in Elastic Job does not make sense. Please consider using the Azure SQL Database [User

[2019-04-16 22:24] #29239 closed

[2019-04-16 22:31] Mike-Ubezzi-MSFT commented on #29297
@Anmolgan81 Change Data Capture is intended for a small subset of tables. Not an entire database:

([About Change Data Capture (SQL Server)](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-2017))

A good example of a data consumer that is targeted by this technology is an extraction, transformation, and loading (ETL) appl

[2019-04-16 22:31] #29297 closed

[2019-04-16 22:32] ghogen commented on #17432
Thanks, I have a fix in the pipeline for this.

[2019-04-16 22:32] Mike-Ubezzi-MSFT commented on #29307
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-16 22:32] #29307 closed

[2019-04-16 22:34] CarlRabeler commented on #29495
@masha for awareness and follow-up as needed

[2019-04-16 22:35] MartinJaffer-MSFT commented on #29519
Hello @iLikeAzureSQL  and thank you for your question.  We will review the document and get back to you shortly.

[2019-04-16 22:40] SaltyDH commented on #28805
Has anyone had any success implementing this? If you've managed to get it working we'd love to at least have someone acknowledge that it *can* work before investing further time on this. In my two attempts to implement this, I *am* able to use the documented steps to configure the new preview integration but I hit access issues. In my case the Azure SQL connection returns a connection error becaus

[2019-04-16 22:41] Karishma-Tiwari-MSFT commented on #29361
From my understanding, the NSG has to be directly applied to a scale set. Please refer to the following docs for steps on how to apply NSG to a virtual machine scale set:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-create-vmss#allow-traffic-to-application

https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#nsg--asgs

[2019-04-16 22:42] MartinJaffer-MSFT commented on #29473
@benzzon once you have created your forum post, please post a link to it here.

[2019-04-16 22:42] #29473 closed

[2019-04-16 22:43] Karishma-Tiwari-MSFT commented on #29351
@barracud Did that help? let me know.

[2019-04-16 22:44] phawxby commented on #29373
All very interesting, thank you.

I feel like the additional information should be distilled and added to the docs page added above. Currently it's a series of disparate posts in different places which isn't obvious.

[2019-04-16 22:47] himanshusinha-msft commented on #29358
@sique976 : Since we have not heard back from you on this  , we are going ahead and closing the issue.

[2019-04-16 22:47] #29358 closed

[2019-04-16 22:48] MarileeTurscak-MSFT commented on #29487
@mgrabarz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 22:50] ianc911 opened #29534 "Edit 'Prerequisites' section for this article"
Looks like this article was modified using the one for RDP gateway as a template. Please modify the 'Prerequisites' section which currently reads: "before you can integrate MFA with the Remote Desktop Gateway".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf322e2b-b09c-2a09-2b0d-27de43075953
* Version Independent ID:

[2019-04-16 22:52] MartinJaffer-MSFT commented on #29519
If there is a parameter in the pipeline you are scheduling a trigger for, the "Finish" button will be replaced by a "Next" button.  Clicking "Next" will take you to the parameters section.

![image](https://user-images.githubusercontent.com/46612670/56249005-fc718080-605e-11e9-81b3-f45602d401f2.png)
![image](https://user-images.githubusercontent.com/46612670/56249069-43f80c80-605f-11e9-91d4-f48f6c

[2019-04-16 22:53] MarileeTurscak-MSFT commented on #29485
@Neckross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 22:55] femsulu commented on #29521
@johnwildes Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-16 22:56] CarlRabeler commented on #29189
@Mike-Ubezzi-MSFT please assign to @VanMSFT

[2019-04-16 22:59] MarileeTurscak-MSFT commented on #29534
@ianc911
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 23:00] mahesh2000 opened #29535 "delete endpoint & create new one for IoT Hub free tier"
[Enter feedback here]

Please add a line that as the free tier allows only one endpoint, it can be changed by first deleting the existing one (which appears to be possibly only via the shell) and then creating a new one, say for service bus, via the portal. an example would be something like:

az iot hub routing-endpoint delete --hub-name <iothubname> --endpoint-name <storageendpointname>

---
###

[2019-04-16 23:05] MarileeTurscak-MSFT commented on #29513
@cap273
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 23:05] MarileeTurscak-MSFT commented on #29509
@hsbsandrecv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 23:06] MarileeTurscak-MSFT commented on #29509
@hsbsandrecv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 23:07] MarileeTurscak-MSFT commented on #29508
@hsbsandrecv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 23:08] MarileeTurscak-MSFT commented on #29511
@Charmendar
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-16 23:08] ianc911 commented on #29534
Same for the 'Install the NPS Extension' section: "Do not install the NPS extension on your Remote Desktop server"

[2019-04-16 23:13] femsulu commented on #29512
@damienestewart Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 23:16] Karishma-Tiwari-MSFT commented on #29492
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 23:17] Karishma-Tiwari-MSFT commented on #29490
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-16 23:21] femsulu commented on #29503
@jamesapicken Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-16 23:24] femsulu commented on #29492
adding @Sogup to review the request to expand on documentation.

[2019-04-16 23:28] jfoliveira opened #29536 "What's Azure AWS BYOIP equivalent service? Docs aren't clear."
Hi,

As AWS BYOIP is not yet available in my region I am searching Azure docs trying to find an equivalent service that could help me on transferring my own ASN (Autonomous System Number) to the Azure Cloud.

**- [ ] The relevant Azure service or technology.**
Azure ExpressRoute or any AWS BYOIP equivalent

**- [ ] A link to the published documentation article that you have feedback about.**
This

[2019-04-16 23:31] rboy1 commented on #23166
2 weeks to go....

[2019-04-16 23:44] DMoonesinghe commented on #29195
Subash!

I know you are copying word for word from the document to answer me. But
what you copied is exactly where little bit more clarification is needed.
[image: image.png]
If Hub VNet is the only one that has peerings to Spoke1 and Spoke2.  If
there isn't a NVA on the Spoke then it is correct to say, that in that
configuration there is no transitive path for traffic from Spoke 1 to Spoke
2. But

[2019-04-16 23:45] jackbond opened #29537 "Spatial example"
This is an article about the Gremlin API on top of Cosmos. It states Cosmos "is a natural fit" for spatial problems. How exactly do you do spatial queries using Gremlin?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8584b48f-a94a-04b9-b754-7e77974053c2
* Version Independent ID: cab88f8b-b622-5568-64c3-ccae1922b206
* C

[2019-04-16 23:47] femsulu commented on #29490
@eshudnow Happy to help but need some additional clarification...

From my understanding, the paragraph on  [compression ](https://docs.microsoft.com/en-us/azure/backup/backup-introduction-to-azure-backup#compression) could be clearer but I don't believe there's a conflict and here's why:

The **first sentence** implies that you can conserve storage space if the backed up data is compressed. The s

[2019-04-16 23:48] boon-tang opened #29538 "ADF v2 GetMetadata Activity was able to inspect inside ZIP files"
Hi there,

What happened to the ADF V2 GetMetadata activity to inspect inside ZIP files, as documented in the following blog in Dec-2018 (look for "ZipMetadata" halfway down the post):  https://www.blue-granite.com/blog/using-azure-data-factory-v2-activities-dynamic-content-to-direct-your-files

For data lineage purposes, instead of simple step to retrieve the original filenames inside the ZIP fil

[2019-04-16 23:52] paulbouwer commented on #29481
@codepossible - I am working on updates to these documents for Istio 1.1.x and uninstall instructions are being included as part of the updates. This is something that was on the backlog - thank you for raising visibility again.

/cc @jakaruna-MSFT

[2019-04-16 23:53] #29364 closed

[2019-04-16 23:56] eshudnow commented on #29490
Makes sense.  This implies that there is the ability to store backups in the Recovery Services Vault without compression.  I did a bit of searching online and couldn't find anything on storing backups uncompressed in the Recovery Services vault to allow for faster restoration.

[2019-04-17 00:03] MarileeTurscak-MSFT commented on #29148
Hi @nicolgit ,

Looks like they took your feedback and updated the doc as it is listed there now.

[2019-04-17 00:04] MarileeTurscak-MSFT commented on #29148
We will now proceed to close this thread. If you have further questions feel free to tag me or @curtand in the comments and we will gladly continue the discussion.

[2019-04-17 00:04] #29148 closed

[2019-04-17 00:09] paulbouwer commented on #29481
In the interim, here is how you can remove Istio:

Istio 1.0.x
[code]

Istio 1.1.x
[code]

[2019-04-17 00:09] ChristianMontoya commented on #29290
@Jeroen-H : It looks like there are no session hosts in your host pool. Did you already end up running the Azure Marketplace or GitHub ARM template to create/provision a host pool with virtual machines?

[2019-04-17 00:13] HJToland3 commented on #19807
#please-close

[2019-04-17 00:31] Karishma-Tiwari-MSFT commented on #29529
@joseq-terawe Please provide us with the link to the documentation you are referring to so we can better assist. Also, can you please elaborate on what issue are you seeing with the doc.

[2019-04-17 00:32] bespinfw commented on #29206
@angoyal-msft  thank you for your info, but that explains things on the REST API layer. I opend this thread within Azure SQL DataWarehouse docs context, where I have to use the abstraction Data Warehouse team developed (SCOPED CREDENTIAL + EXTERNAL DATA SOURCE).

I got it to work with the Storage Account Keys, but not with the AAD authentication (which should be also possible for ADLS Gen2).

So I

[2019-04-17 00:53] mike-urnun-msft commented on #29533
Hi @ifflanb Thank you for your feedback! We will review and update as appropriate.

[2019-04-17 01:26] KieranMcCormick2 opened #29541 "Spelling mistake under "Start the test client and perform a failover""
"same" is spelt "some" in the sentence
"In case of MAC OS X, you need to copy the myactorsvcTestClient folder into the some location inside the container by running the following additional commands."

This is under the section "Start the test client and perform a failover"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-04-17 01:29] wahyuen opened #29543 "4 Hour Scale Down Time"
Is this a recent 'feature' that has been added? Documentation wise it seems to only have been made a mention about a month ago. We previously had dynamically scaling logic where we would programatically adjust the RU settings for CosmosDB which are now only recently failing due to this error. Is this intended?

Given the above statement, this makes it extremely hard for customers to be able to con

[2019-04-17 01:45] Mike-Ubezzi-MSFT commented on #19807
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-17 01:45] #19807 closed

[2019-04-17 02:35] DixitArora-MSFT commented on #29292
@kashimiz Following up again in case missed the previous communication.

[2019-04-17 02:43] mike-urnun-msft commented on #29541
Hi @KieranMcCormick2 Thank you for reporting this issue! We will review and make any necessary changes.

[2019-04-17 02:47] DashleenBhandari-MSFT commented on #29353
@aszalacinski , I will go ahead with the closure of this issue. Feel free to re-open the issue if you have further queries.

[2019-04-17 02:47] #29353 closed

[2019-04-17 02:50] VanMSFT commented on #29189
Thanks @RobBarat for bringing this issue to our attention. I have fixed the FAQ. TDE is supported for Hyperscale. We really appreciate your contribution!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/73499
#please-close

[2019-04-17 02:57] #29189 closed

[2019-04-17 03:08] OzBob opened #29544 "Singleton Attribute vs Kudu setting.job singleton property"
When there is a
https://docs.microsoft.com/en-au/azure/app-service/webjobs-sdk-how-to#singleton-attribute
and a
https://github.com/projectkudu/kudu/blob/060be3b6722eb0cdf3b37ae77175d7b885783e78/Kudu.Contracts/Jobs/JobSettingsKeys.cs#L5 (as discussed here: https://blogs.msdn.microsoft.com/waws/2014/05/19/how-to-run-a-continuous-webjob-as-a-singleton/)

Which one wins if they are both set?
 or
Which

[2019-04-17 03:24] saifuddin123 commented on #28974
Have made the change and restarted the edge runtime. still i see the same issue.

[2019-04-17 03:34] KalyanChanumolu-MSFT commented on #29537
@jackbond Please have a look at this [Github sample](https://github.com/anthonychu/cosmosdb-gremlin-flights) for a practical use case and code that demostrates the SDK capabilities.

Do let us know if you have further questions.

[2019-04-17 03:35] loic-sharma commented on #27135
This is rather frustrating. I'm all for suggesting CosmosDB, but replacing Azure Table Storage's documentation is too far.

[2019-04-17 03:35] mudbob opened #29545 "Section: Set up time zone redirection"
The instructions for Time Zone Redirection states to go to a folder in GPO Editor with Horizon View - this is a VMware VDI thing - and not on a brand new WVD Domain setup.  Probably needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0

[2019-04-17 03:39] mudbob commented on #29545
Did you mean to put this? Computer Configuration > Policies > Administrative Templates > Windows Components > Remote Desktop Services > Remote Desktop Session Host > Device and Resource Redirection.

Enable the setting Allow time zone redirection.

[2019-04-17 03:45] YASWANTHM-MSFT commented on #29531
@thorpebt, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-17 03:47] aqiank commented on #19640
Got it. Thanks!

[2019-04-17 03:47] #19640 closed

[2019-04-17 03:49] YASWANTHM-MSFT commented on #29535
@mahesh2000, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-17 03:49] ManojReddy-MSFT commented on #28963
@JonesMikael I have assigned this to the author to validate this with the engineering team and consider updating the doc accordingly.

[2019-04-17 03:50] ManojReddy-MSFT commented on #29456
@Mark7even I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2019-04-17 03:51] ManojReddy-MSFT commented on #29255
@naesevol We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-04-17 03:51] #29255 closed

[2019-04-17 03:51] vishnubraj commented on #29477
its a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/29476 hence closed it

[2019-04-17 03:51] SnehaAgrawal-MSFT commented on #29544
@OzBob Thanks for the question! We are investigating and will update you shortly.

[2019-04-17 03:52] ManojReddy-MSFT commented on #28833
@biste5 Can you please confirm if you are still facing the same issue ?

[2019-04-17 03:56] wilsonchua20 commented on #29398
can i get a one time technical support for this, since i dont have support plan yet..

[2019-04-17 03:59] Mike-Ubezzi-MSFT commented on #29206
@bespinfw Please take a look at the following: [Creating a database scoped credential for PolyBase Connectivity to Azure Data Lake Store](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-scoped-credential-transact-sql?view=sql-server-2017#c-creating-a-database-scoped-credential-for-polybase-connectivity-to-azure-data-lake-store).

WITH
    IDENTITY = '<client_id>@\<OAuth_2.0_T

[2019-04-17 04:01] ChiragMishra-MSFT commented on #29538
@boon-tang Thanks for bringing this to our notice. We are currenttly investigating into it and will update you shortly.

[2019-04-17 04:03] mamccrea commented on #29531
Hi @thorpebt - Azure Stream Analytics does not currently support writing to ADLS Gen2, but we are working on it. I do not have a timeline, but I will be sure to update this page when it becomes available.

[2019-04-17 04:14] Jinksi opened #29546 "Low priority VMSS parameter for Ansible"
Is there a way to create low-priority instances using Ansible, including eviction policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081665b8-eea4-c461-d119-c6a557107006
* Version Independent ID: ee0c35bb-14e3-ced6-0189-c344de43288e
* Content: [Create virtual machine scale sets in Azure using Ansible](https://doc

[2019-04-17 04:21] densto88 opened #29547 "ACU not listed for DC Series"
I'm trying to put together a solid comparison of the Dv2 and DC series VM's, one thing I don't see mentioned in the DC section is the ACU range, am I missing it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content:

[2019-04-17 04:31] DixitArora-MSFT commented on #29533
@spelluru I believe it is not been there now. You can reference this from [doc](
New-AzEventGridSubscription).  Could you confirm on this ?

[2019-04-17 04:40] jakaruna-MSFT commented on #29354
@loomlike is there any update

[2019-04-17 04:40] jakaruna-MSFT commented on #29287
@hitesh1907nayyar is there any update?

[2019-04-17 04:47] msrini-MSFT commented on #29268
@barracud , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-04-17 04:47] #29268 closed

[2019-04-17 04:48] msrini-MSFT commented on #29299
@markarnolditpro , I will go ahead and close this issue. If you have any further questions, please tag me.

[2019-04-17 04:48] #29299 closed

[2019-04-17 04:48] msrini-MSFT commented on #29469
@githubavi , Do you have any update for me?

[2019-04-17 04:48] jakaruna-MSFT commented on #29284
@hitesh1907nayyar Please see this [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#i-have-a-couple-of-pending-pods-but-there-was-no-scale-up).

Also post the events from the pod which is in the pending state.
`kubectl describe pod <pod in pending state>`

[2019-04-17 04:49] CHEEKATLAPRADEEP-MSFT commented on #29531
@thorpebt We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-17 04:49] #29531 closed

[2019-04-17 04:50] jakaruna-MSFT commented on #29350
@barracud i hope you downloaded the files from the link you shared and the created a VM in Hyper V.
Then extracted the VHD out of the Hyper V and trying to upload to Azure.
Is my assumption right?

[2019-04-17 04:50] mundayn commented on #29195
This page has a bit more information, and has a lab which I'm just running through now to understand this further: https://docs.microsoft.com/en-us/azure/architecture/reference-architectures/hybrid-networking/hub-spoke#deploy-the-solution

[2019-04-17 04:51] jakaruna-MSFT commented on #29459
@kazshi I reached out to the internal teams. I will post an update here once i have some information.

[2019-04-17 04:52] gbs916 commented on #29480
Hello @MarileeTurscak-MSFT,
Thank you for answer. I'll open a post for that.
 And regarding missing SKU in the following tech docs : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference ? Is it possible to update it ?

[2019-04-17 04:53] jakaruna-MSFT commented on #29284
Also try setting up the maximum node limit for your cluster from 3 to 6 and check if the autoscaler triggers the new node Creation

[2019-04-17 04:54] RohitMungi-MSFT commented on #29398
Sure, We can help you with a one time support request. Please send us an email with this GIT issue URL and subscription ID to Azcommunity[at]microsoft[dot]com

[2019-04-17 05:02] CHEEKATLAPRADEEP-MSFT commented on #25519
@kromerm Could you please help @VidyaSalimath to enable ADF data flow option on other subscription?

[2019-04-17 05:03] shashishailaj commented on #29106
@rrperkin Could you please use an account which was created within the B2C tenant itself and is not referenced from other tenant . I tested this with an account locally created within the B2C tenant and having provided it global admin rights to it and I am able to run the cmdlet without any issue.

![image](https://user-images.githubusercontent.com/532022/56262088-fe891d00-60fa-11e9-8fc3-deeb778ef

[2019-04-17 05:03] #29106 closed

[2019-04-17 05:03] rajb865 commented on #29478
I am providing the module code below

`package com.edgemodule;

import com.microsoft.azure.sdk.iot.device.*;
import com.microsoft.azure.sdk.iot.device.transport.IotHubConnectionStatus;
import java.io.StringReader;
import java.util.concurrent.atomic.AtomicLong;
import java.util.HashMap;
import java.util.Map;

import javax.json.Json;
import javax.json.JsonObject;
import javax.json.JsonReader;

impor

[2019-04-17 05:08] #28753 closed

[2019-04-17 05:10] CHEEKATLAPRADEEP-MSFT commented on #25298
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-17 05:10] #25298 closed

[2019-04-17 05:10] bdelamotte83 opened #29548 "This doesn't seem to work. Issue with attribute exchange."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-17 05:10] bdelamotte83 commented on #29548
Error on DocuSign login page - The response assertion is missing a required attribute

[2019-04-17 05:11] BhargaviAnnadevara-MSFT commented on #29373
@phawxby I totally understand the ask. Thanks a lot for your feedback! I will work with our Content Teams to get this addressed.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-17 05:11] #29373 closed

[2019-04-17 05:12] bdelamotte83 opened #29549 "This doesn't seem to work"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-17 05:12] bdelamotte83 commented on #29549
Issue on DocuSign web page - The response assertion is missing a required attribute

[2019-04-17 05:16] kazshi commented on #29459
@jakaruna-MSFT Thanks for your update. Here's my questions:
1) ASE on VNet is not supported due the limitation and there's no way to deploy container for the environment (the current UI shows "loading..." status is very confusing).
2) The limitations would be cleared once the feature is in GA?

[2019-04-17 05:19] msrini-MSFT commented on #29536
@jfoliveira , Unfortunately, you will not be able to Bring your Own IP to Azure as of now.

Here is the feedback link: https://feedback.azure.com/forums/217313-networking/suggestions/4127175-bring-your-own-public-ip-address-space-and-interne

Also you can use Azure Public Prefixes where you can buy a bunch of Azure IPs and use them in Azure.

Here is the Doc: https://docs.microsoft.com/en-us/azure

[2019-04-17 05:20] AshokPeddakotla-MSFT commented on #25894
PR has been created to update document. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-17 05:20] #25894 closed

[2019-04-17 05:24] SunnyDeng commented on #8582
HI @femsulu, this is localizability or globalization issue that localization team doesn't own. Could you assign to the product team?

[2019-04-17 05:28] jakaruna-MSFT commented on #29546
Thanks for the question! We are investigating and will update you shortly.

[2019-04-17 05:30] AshokPeddakotla-MSFT commented on #24443
@StefanSchoof Hope your query is addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-17 05:30] #24443 closed

[2019-04-17 05:30] YASWANTHM-MSFT commented on #29547
@densto88 , Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get help on

[2019-04-17 05:32] densto88 commented on #29547
Ah sorry, that was dumb of me, the link to the page I'm referring to is here:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#dc-series

[2019-04-17 05:34] AshokPeddakotla-MSFT commented on #27912
@kartben Please check this and update the documentation as earliest.

[2019-04-17 05:37] sammeel opened #29550 "Broken link in "Before you begin""
The link behind the text "Application Gateway v2 SKU" is incorrect. It has the character "&gt;" at the end. If the character is removed, the link works.
Current link: https://docs.microsoft.com/azure/application-gateway/tutorial-autoscale-ps&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e83f232-bd7f-e2d3-1ff7-b40

[2019-04-17 05:41] AshokPeddakotla-MSFT commented on #26171
@holgerbrandl I suggest you, create a feedback item on [UserVoice](https://feedback.azure.com/forums/321918-azure-iot) forum and upvote for this feature.
All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We will now proceed to close this thread. If there are further questions regarding this matter, please co

[2019-04-17 05:41] #26171 closed

[2019-04-17 05:54] benzzon commented on #29473
Link to forum-post; [https://social.msdn.microsoft.com/Forums/en-US/9b060412-7751-4a60-bd77-bfdda7c30ff9/cannot-list-folder-contents-in-data-lake-using-webhdfs-server-failed-to-authenticate-the-request?forum=AzureDataLake]

[2019-04-17 05:57] KrishnaG-MSFT commented on #29254
@mpchen Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please reply and we will gladly continue the discussion.

[2019-04-17 05:57] #29254 closed

[2019-04-17 06:04] kogesaka opened #29551 "About the Outbound IP address range used by the Functions App"
Thank you for always providing useful information.

The "Data center outbound IP addresses" section states that when adding a whitelist, need to download Json files from the following site, and need to search Json fragments.

- Download Azure IP Ranges and Service Tags – Public Cloud from Official Microsoft Download Center
  https://www.microsoft.com/en-us/download/details.aspx?id=56519

Which fra

[2019-04-17 06:07] kdawg1406 commented on #27135
IMHO:  this close to an adoption blocker.  Microsoft is spending LOTS of money to attract new business.

When the docs are hard to be successful with (without deep technical understanding of Azure) this blocks or hinders adoption.

Spend the resources and make the docs simple for a person trying to on-board to be successful.

A single NOTE at the top, referencing Cosmos-db is acceptable and make s

[2019-04-17 06:09] msrini-MSFT commented on #29550
@sammeel , Thank you for your feedback. I did a PR and fixed the broken link. It will reflect shortly.

[2019-04-17 06:09] #29550 closed

[2019-04-17 06:23] DiegoRamirez-MSFT commented on #29470
@TomasHubelbauer thanks for reaching out, I understand the need behind your request however this repo is meant for providing feedback on Azure documents, it does not sound at this point that this is the intention that you have, if you can help us elaborate a little bit about what kind of releases you are talking about we may be able to point you into the right direction

[2019-04-17 06:24] DixitArora-MSFT commented on #29551
Hi @kogesaka Thank you for your feedback! We will review and update as appropriate.

[2019-04-17 06:28] thiruma0203 opened #29552 "Misleading steps: Reset local Windows password for Azure VM offline"
[Enter feedback here]
This documentation has below step.

Add the following lines the scripts.ini file you created:

This direction leads users creating scripts.ini in "\Windows\System32\GroupPolicy\Machine\Scripts\Startup", which is wrong place.

Direction should be like below.

Add the following lines the scripts.ini file you created:

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-04-17 06:30] YASWANTHM-MSFT commented on #29549
@bdelamotte83 , Please help with the link of document on which above document feedback request is created.In case your query in not related to document content, open a new forum thread in [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)forum or [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory) as it could be better place to get help

[2019-04-17 06:36] Sogup commented on #29492
All the users are upgraded to Instant restore now. For complete guidance on how Azure backup works and how the data is transferred from snapshot to the vault, refer https://docs.microsoft.com/en-us/azure/backup/backup-architecture

[2019-04-17 06:36] Sogup commented on #29492
#close

[2019-04-17 06:38] YASWANTHM-MSFT commented on #29548
@bdelamotte83, This is duplicate of the following original issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/29549) and you can track the issue on the same.

[2019-04-17 06:38] #29548 closed

[2019-04-17 06:40] #29492 closed

[2019-04-17 06:43] hansmbakker commented on #28461
@Mike-Ubezzi-MSFT thank you for the elaborate answer.

Yes, that is exactly what I want, and I am already using the New VNet Integration (please see my repro steps in the opening post). I tried setting it up just as @ccompy presented, but it does not work as expected.

@NateB2 has the same issue in #28805.

I understand that it is still in preview, but how can we collaborate best to raise this iss

[2019-04-17 06:44] femsulu commented on #29490
@rayne-wiselman  - can you please confirm?

[2019-04-17 06:46] KalyanChanumolu-MSFT commented on #29543
@wahyuen Thank you for the detailed feedback. We are actively investigating and will get back to you soon. 

[2019-04-17 06:46] YASWANTHM-MSFT commented on #29197
@rajmusuku, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-17 06:48] PramodValavala-MSFT commented on #29269
@afnw35342 Turned out that the PowerShell and CLI commands are indeed working.

After running the command, you should be able to confirm the settings in the Log Analytics Workspace under Azure Resources.

![image](https://user-images.githubusercontent.com/43602528/56266821-c558a900-610a-11e9-94a1-83677afee3e0.png)

It takes some time for the same to reflect under `Logic App > Diagnostic Settings`

[2019-04-17 06:51] ChiragMishra-MSFT commented on #29394
@bertrandpons Does the above response answers your question ?

[2019-04-17 06:54] shashishailaj commented on #29368
@tariqjaber
I understand you are talking about changing the details from within the connector properties as below.
![image](https://user-images.githubusercontent.com/532022/56265135-5bd69b80-6106-11e9-9c8f-e54223c5d394.png)

However the information is mentioned in the [linked OU filtering page](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-configure-filtering#s

[2019-04-17 06:54] #29368 closed

[2019-04-17 06:54] shashishailaj commented on #29367
@tariqjaber
We do recommend the AD connect wizard as the primary method for making the changes. The details in the section [OU based filtering](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-configure-filtering#organizational-unitbased-filtering) already state the same.

![image](https://user-images.githubusercontent.com/532022/56266702-7874d280-610a-11e9-91fd-6

[2019-04-17 06:54] #29367 closed

[2019-04-17 07:00] MoonKing123 opened #29553 "nodejs upload file to blob get error: Request path contains unescaped characters"
I want to use nodejs to upload a file with a Chinese name to the blob, according to the documentation (https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-nodejs-v10) ,but get Error: Request path contains unescaped characters,

try to encode the uri and get the error:
&lt;Error&gt;&lt;Code&gt;AuthenticationFailed&lt;/Code&gt;&lt;Message&gt;Server failed to authenticate th

[2019-04-17 07:01] shashishailaj commented on #29375
@smoms MSAL is a library to facilitate token retrieval . Ideally if Signature tampering is done , the application back-end would fail to validate the token as it would not match the same signature with which the Azure AD STS system had signed it . Hence any such attack would not be feasible. Hope the information provided above by @navyasric helped as well. We will close this issue by end of day .

[2019-04-17 07:04] biste5 commented on #28833
I still face the issue from multiple machines in the same network. From some other machines, different network, I can see the content of the link correctly

[2019-04-17 07:11] Mark7even opened #29554 "AzCopy Move?"
Is there or will there be an AzCopy /mov or copy then delete flag? The idea is to actually move and then delete the subsequent data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15911160-5ba2-fb0a-0b24-16b3857e20ce
* Version Independent ID: d925bc9f-f825-2f82-168c-6c30d716b9ce
* Content: [Copy or move data to Azure S

[2019-04-17 07:15] Mark7even commented on #29456
Yes that answers my question properly. Thank you for the assist.

[2019-04-17 07:15] #29456 closed

[2019-04-17 07:17] stefano-detoni opened #29555 "Please provide clearer instructions"
Please, in this documentation page, stress more the fact that @triggerBody().folderPath @triggerBody().fileName must be used in the configuration page of the trigger (click Next in the triggering event details page to see the trigger params page), and NOT as Default Values or values for the Pipeline parameters, otherwise they won't work. The trigger won't even fire with expressions like @trigger()

[2019-04-17 07:25] SumanthMarigowda-MSFT commented on #29554
@Mark7even Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-17 07:41] NateB2 commented on #28461
FWIW, on Monday, I had a phone/remote desktop sharing session with a support engineer on the App Service team, and he appeared to indicate that what we're trying to do should be possible with the new Vnet integration preview.  At the end of the conversation, after I showed him what we had set up, he said he was going to reproduce it on his side and confer with the team to see what's going on.

[2019-04-17 07:42] githubavi commented on #29469
Thanks Karthik. You can close this now.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: KARTHIK SRINIVAS <notifications@github.com>
Sent: Wednesday, April 17, 2019 10:19:07 AM
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Can I switch configuration between HTTP/2 and HTTP 1.1 (#29469)

@githubavi<https://nam

[2019-04-17 07:52] bertrandpons commented on #29394
@ChiragMishra-MSFT Thank you for your reply and solution. I did not get time so far to test your solution. I will keep you updated as soon as I do it.

[2019-04-17 07:57] #29469 closed

[2019-04-17 07:58] MohitDhingra-MSFT commented on #29240
Hi @starforce,

Please check the below steps to set up the permissions in **Azure AD B2C**.

Go to Azure AD B2C--> Identity Experience Framework - Applications. Register an application as web app/web api. Mention the Reply URL and App ID URI. Below is the screenshot.

![image](https://user-images.githubusercontent.com/47346772/56270238-4fa50b00-6113-11e9-9998-b23364c275c8.png)

Then go to "**Publi

[2019-04-17 07:58] #29240 closed

[2019-04-17 07:59] zeeshan-ks opened #29557 "The archive entry was compressed using an unsupported compression method"
I exported my LUIS app in gz format for container installation. LUIS no more has option to download GZIP extension. So after I run the container with gz app and call endpoint. I get following exception:
[code]

Could you please suggest what should be done to solve this?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc1

[2019-04-17 08:02] ChiragMishra-MSFT commented on #29555
@stefano-detoni Thanks for the feedback. We are investigating into the issue and will update as appropriate.

[2019-04-17 08:03] MarekLani opened #29558 "Service Fabric Mesh Applications are described by the Resource Model and can be deployed to any environment where Service Fabric runs."
There is conflict between stated info. There is paragraph stating following:
Service Fabric Mesh Application: Service Fabric Mesh Applications are described by the Resource Model (YAML and JSON resource files) and can be deployed to any environment where Service Fabric runs.

However later in the text (in support matrix) it is stated that Service Fabric Mesh Application described by the Resource M

[2019-04-17 08:19] RohitMungi-MSFT commented on #29557
@zeeshan-ks Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-17 08:23] ChiragMishra-MSFT commented on #29538
@boon-tang The argument "childItems" is available in the getMetadata activity only in case the target is a folder. It doesn't appear for zip files. Hence there's no way as of now to use a getMetadata activity to get the contents of a zip file.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory/). All the feedback you share, is c

[2019-04-17 08:23] #29538 closed

[2019-04-17 08:24] ChiragMishra-MSFT commented on #29555
@stefano-detoni I am assigning the issue to the content owner to have a look and update.

@sharonlo101 Can you please take a look at this and update as appropriate?

[2019-04-17 08:27] TomasHubelbauer commented on #29470
GitHub Releases :-) It says so in the title… This is a GitHub repository and I have a suggestion about _it_, not its content. Clearly I am not providing feedback about the documentation whose source is kept in this repository, but a GitHub repository is more than that. If there was a typo in the name of this repository, would you want me to report that in MSDN forums? Or on Stack Overflow? Jon Ske

[2019-04-17 08:34] bertrandpons commented on #29522
@mumian @Karishma-Tiwari-MSFT Thank you for your replies. Do you know if some improvements are planned for this kind of use case?

I will give a feedback.

[2019-04-17 08:40] rayne-wiselman commented on #23902
@femsulu This article is moving and the change should be made in the new location. I'll take offline

[2019-04-17 08:42] RohitMungi-MSFT commented on #29557
@zeeshan-ks I did a quick test of my exported app and seems to be working fine. Did you extract or change your exported .gz file before running docker command?

![image](https://user-images.githubusercontent.com/46958063/56273614-afeb7b00-611a-11e9-98d7-e6402988ccc0.png)

Also, are you using the latest LUIS container?

[2019-04-17 08:42] YASWANTHM-MSFT commented on #29403
@gitathrun, Since,We haven't heard back from you.we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-17 08:42] #29403 closed

[2019-04-17 08:50] RohitMungi-MSFT commented on #29557
@zeeshan-ks I hit the same error now for a GET call. Could you please report the same through LUIS portal from support -> General Inquiry through User Voice ?

@AmirGeorge @diberry  FYI, I think there is an issue with exported file while running it with container.

[2019-04-17 08:54] AshokPeddakotla-MSFT commented on #27912
@kartben Sorry for the confusion! I was referring to the author to check and update the documenatation.

[2019-04-17 08:54] #23902 closed

[2019-04-17 08:59] YASWANTHM-MSFT commented on #29553
@MoonKing123, Thanks for your question. We are checking on this and will respond to you soon.

[2019-04-17 09:01] dbsanfte commented on #28209
Thanks @SubhashVasarapu-MSFT.

I would suggest that SNI certificates should not break the HTTPS probing. It's not necessary that the certificate be in any way validated, but the probes should still be functional.

[2019-04-17 09:07] tjgruber commented on #22886
Still an huge issue.
Trying to automate adding systemLabels to devices via API at large scale, and this is a show stopper.

[2019-04-17 09:09] zeeshan-ks commented on #29557
@RohitMungi-MSFT Thanks for quick response Rohit. Will gladly report to LUIS.

[2019-04-17 09:11] SubhashVasarapu-MSFT commented on #29195
@DMoonesinghe , Agreeing with all your valuable points mentioned above and adding a simple note here for making this context much simpler for better understanding and to avoid further confusions. We will also assign this issue to author for making changes to the document accordingly to make it a reader friendly document.
Coming to the context, VNet peering is Non-Transitive. In order to implement

[2019-04-17 09:15] aaronhughesdelt opened #29560 "missing system variable like @activity"
there are missing system variables from this, including the activity / dataset etc
would be good to have a more updated list of all system variables that can be used within ADF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-7382-bf5573a25

[2019-04-17 09:21] SadiqhAhmed-MSFT commented on #29282
@Coldry Hope the previous post by Mayuri answered your question. We will close this issue for now. If you've any concerns with regards to this issue, feel free to reopen the issue to continue the discussion.

[2019-04-17 09:21] #29282 closed

[2019-04-17 09:22] Ibnajjar commented on #28993
This only works for the old DLL version, but after the last update, you will need to copy the 3 DLL files Microsoft.IdentityModel.Clients.ActiveDirectory.dll, Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms.dll, Newtonsoft.Json
a.	from C:\Program Files\Microsoft System Center\Operations Manager\Server\Health Service State
b.	to C:\Program Files\Microsoft System Center\Operations Manag

[2019-04-17 09:34] asgang commented on #26708
corrected it to 52.231.198.185"

[2019-04-17 09:58] AshokPeddakotla-MSFT commented on #29535
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-17 10:16] testad opened #29562 "Please clarify "might have an impact""
Does the statement "This feature might have an impact on federated domains relying on the old domain level Home Realm Discovery" only refer to organisations that are instructing their users to sign-in with something like "a@constoso.com" to let the SSO deal with the rest? If there are other implications that require action, we need to know this well in advance before this change hits tenants that

[2019-04-17 10:18] SadiqhAhmed-MSFT commented on #29281
@Coldry We are closing this issue for now. Reach out to us with more details if you need further help on this issue.

[2019-04-17 10:18] #29281 closed

[2019-04-17 10:21] sugatmankar commented on #21638
https://social.msdn.microsoft.com/Forums/en-US/bc6b7bfc-8274-4a8c-a7c9-e10ddc8ea3fe/how-to-call-c-method-in-dll-from-runbook-in-azure-automation?forum=azureautomation

Assuming you have a "HelloWorld.dll", the first step is to add it to a Zip file.
Within your Azure Automation account, click on: Assets > Modules
At the top of the Modules blade, click on "Add a module".  Another blade will appear,

[2019-04-17 10:27] SadiqhAhmed-MSFT commented on #29060
@urieshed Since this is a technical issue and requires more details as described in the previous post for further investigation I'm closing this for now. If you really need further help in this matter, please continue by sending email to the alias with details.

[2019-04-17 10:27] #29060 closed

[2019-04-17 10:27] rayne-wiselman commented on #24219
@smflorentino I've added what's missing. Should publish later today. thx
#please-close

[2019-04-17 10:28] abhiroop-goyal commented on #19572
@cloudwidth The deployment planner does not provide an out-of-the-box functionality to exclude certain disks. One suggestion which I can give is that you can remove the disks that need to be excluded from a file with the name of **VMDetailList.xml**, which would be present in the folder where all Profiling data is stored. Please do create a backup of this file before performing any modifications.

[2019-04-17 10:36] jakaruna-MSFT commented on #29547
@densto88  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-17 10:55] yokofms opened #29563 "Azure Table Storage as AAS data source requires On-Premises Data Gateway"
[Enter feedback here]
Please put a note that Azure Table Storage requires On-Premises Gateway.

revised Suggestions :
From
1 - Tabular 1400 and higher models only.
To
1 - Tabular 1400 and higher models only.  Need On-Premises Gateway

Detail :
Without On-premises gateway installed and enabled, Deploying and processing Azure Analysis Services database with Azure Table Storage data source fails with

[2019-04-17 11:00] bencorley opened #29564 "Please add this Link in this page as this tutorial is not complete"
https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Getting-started-with-Windows-Virtual-Desktop/ba-p/391054

You have way more details and steps in this article, thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 970202b7-165f-18df-e928-c47c45a18755
* Version Independent ID: d5393b62-4211-72f5-fc7a-363f68f6

[2019-04-17 11:09] CHEEKATLAPRADEEP-MSFT commented on #29563
Thanks for the question! We are investigating and will update you shortly.

[2019-04-17 11:18] watahani commented on #29387
@ManojReddy-MSFT
Thank you for your comment.
I'm interested in how to work refresh token. When modern client access with valid refresh token, does Azure update last time ?

Anyway, almost customers are not interested in technical topic. It is important to describe what is happen when users use refresh token. This document does not show Azure does not require authentication if client access every 9

[2019-04-17 11:19] KrishnaG-MSFT commented on #29400
@kick23, I have tested the [Scheduled Query Rules - Update REST API](https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules/update#enabled) as you have shared that as the content article and I don't see any issue running that REST API. Please check below screenshots for the same in which the first one illustrates [Scheduled Query Rules - Get REST API](https://docs.microsoft.com/en-u

[2019-04-17 11:29] kick23 commented on #29400
Thanks  for the info @KrishnaG-MSFT , have you tried alerts that are created via log analytics ? i am also enable or disable with application alerts FYI please attached link i am able disable alert marked on green but not working on red https://ibb.co/0tPVC5x

[2019-04-17 11:30] kick23 commented on #29400
script i am using for that

Enable-LogAnalyticsAlertRule
{
    param(
        [Parameter(Position=0,mandatory=$true)]
        [string] $Rulename,
        [Parameter(Position=1,mandatory=$true)]
        [string] $ResourceGroupName)

        $headers = Get-AccessTokenFromContext
        $cur_sub = (Get-AzureRmContext).Subscription.Id
        $ruleUri = "https://management.azure.com/subscriptions/$cu

[2019-04-17 11:32] kick23 commented on #29400
Also is there any possibilities with the current script i am able to enable/ disable 1 alert at a time, how can i enable/disable all alerts in 1 resource group at a time by triggering a runbook

[2019-04-17 11:34] kromerm commented on #25519
We whitelist Azure Subscriptions for ADF Data Flows 2x/week. Use this form to request access: http://aka.ms/dataflowpreview

If your request requires immediate attention, please send the subscription ID to this email address requesting whitelisting: adfdataflowext at microsoft.

[2019-04-17 11:41] khan-tariq opened #29565 "Audio & video option in Azure Windows 10 Virtual Desktop"
Can any one help me as to how two WVD users will connect using Audio & video option by Microsoft teams or Skype for business.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdad1b23-8c75-cd08-41cc-6313fc7016bd
* Version Independent ID: f7979a0f-a1be-100f-33b5-01627c45f783
* Content: [Prepare and customize a master VHD

[2019-04-17 11:45] MeghaGupta1008 commented on #25107
Hi Team,

I tried to implement the same solution but getting the error below :

{
    "errorCode": "InvalidTemplate",
    "message": "The expression 'activity('LookupOldWaterMarkActivity').output?.firstRow.WatermarkValue' cannot be evaluated because property 'WatermarkValue' cannot be selected.",
    "failureType": "UserError",
    "target": "IncrementalCopyActivity"
}

ALso, in lookup : LookupOld

[2019-04-17 11:57] okieselbach commented on #22886
Hi,
I don't think this property can be set by customers. MS does not allow it, it is read only or protected by permissions. But I had all permissions I could get. I used the value "M365Managed" from the example here: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership and got more details....

systemLabels | any string matching the Intune device pro

[2019-04-17 12:00] MeghaGupta1008 commented on #25107
Hi Team,

I tried to implement the same solution but getting the error below :

{
    "errorCode": "InvalidTemplate",
    "message": "The expression 'activity('LookupOldWaterMarkActivity').output?.firstRow.WatermarkValue' cannot be evaluated because property 'WatermarkValue' cannot be selected.",
    "failureType": "UserError",
    "target": "IncrementalCopyActivity"
}

ALso, in lookup : LookupOld

[2019-04-17 12:01] MeghaGupta1008 commented on #25107
Hi Team,

I tried to implement the same solution but getting the error below :

{
    "errorCode": "InvalidTemplate",
    "message": "The expression 'activity('LookupOldWaterMarkActivity').output?.firstRow.WatermarkValue' cannot be evaluated because property 'WatermarkValue' cannot be selected.",
    "failureType": "UserError",
    "target": "IncrementalCopyActivity"
}

ALso, in lookup : LookupOld

[2019-04-17 12:04] jakaruna-MSFT commented on #29564
@bencorley
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-17 12:05] jakaruna-MSFT commented on #29558
@MarekLani
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-17 12:07] maxilampert opened #29566 "How is the rotation of the service principal key handled?"
Hi,

is there any guideline or command to rotate the service principal key for the server application secret, there is 'az aks update-credentials' but as far as I understand it this is only for the key rotation for the Azure Resource Manager API access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-

[2019-04-17 12:10] jakaruna-MSFT commented on #29552
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 12:11] jakaruna-MSFT commented on #29545
Thanks for the question! We are investigating and will update you shortly.

[2019-04-17 12:14] ToddChitt commented on #25107
Hello @MephaGupta1008:
I have this working now and have used the pattern over and over with great success. My pattern is a little different from theirs. If you can follow along the description, it works like this:
A Lookup activity that has the following query: SELECT * FROM dbo.SyncTableList WHERE IsActive = 1
Uncheck "First Row Only" on Settings tab.
This table is always in the DESTINATION datab

[2019-04-17 12:14] ChiragMishra-MSFT commented on #29560
@aaronhughesdelt Thanks for bringing this to our notice. I am assigning the issue to the content owner to review and update as appropriate.

@sharonlo101 Can you please take a look at this one and do the needful?

[2019-04-17 12:19] mudbob commented on #29545
Thanks.  Also, setting the redirect time zone in default GPO does not seem to affect WVD.

Thanks,

Clay

Clay Ostlund – CCIE # 45770
Business Development Manager
Direct: 320.529.1010<tel:320.529.1010> | clayo@marconet.com<mailto:clayo@marconet.com>
Main:  320.259.3000<tel:320.259.3000> | video: clayo@marconet.com<mailto:clayo@marconet.com> |
4510 Heatherwood Road, St. Cloud, MN 56301<x-apple-data

[2019-04-17 12:21] jpdmostwanted opened #29567 "How to use strictFilters 'none' while using generateAnswer post method"
I have been trying to use the strictFilters as `none` in the JSON body as mentioned in the document under section **GenerateAnswer request configuration** . I am not able to find any suitable method yet.

My request JSON is like
`{
    "question": "yes",
    "top": "10",
    "isTest":true,
    "strictFilters": "none"
 }`

and

in the response I am getting

 `{
    "error": {
        "code": "BadAr

[2019-04-17 12:22] ArchieCoder opened #29568 "No C# sample"
It's the bare minimum that you are providing examples in curl, but it would be even more useful to provide C# samples especially now that v2 api is deprecated. For a faster turn around for devs, providing samples would be a plus.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1648784c-c385-4120-a2a6-3414a0d752e1
* Vers

[2019-04-17 12:40] Cpcrook commented on #27365
@PatrickFarley  Any update on this?  Seems like a pretty glaring oversight that could have been solved by a unit test.

Trying this implementation for OCRing since your [documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/concept-recognizing-text#read-api) says the RecognizeText API is going to be deprecated in favor of the Read API, which is seemingly broken u

[2019-04-17 12:45] jwargo commented on #14917
@spelluru can you please take a look at this?

[2019-04-17 12:46] jwargo commented on #16563
#please-close

[2019-04-17 12:47] mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh opened #29569 "Missing SkuPartNumbers (for example ATP_enterprise & Win_Def_ATP)"
Get-AzureADSubscribedSku | where {$_.appliesto -eq "user"} | select skupartnumber

SkuPartNumber
-------------
VISIOCLIENT
STREAM
EMSPREMIUM
FLOW_P1
FLOW_P2
ENTERPRISEPREMIUM
POWERAPPS_INDIVIDUAL_USER
EXCHANGE_ANALYTICS
POWER_BI_PRO
DYN365_AI_SERVICE_INSIGHTS
POWERFLOW_P1
EQUIVIO_ANALYTICS
ENTERPRISEPACK
DESKLESSPACK
FLOW_FREE
MCOEV
MCOPSTN1
PROJECTPREMIUM
RIGHTSMANAGEMENT
Win10_VDA_E3
FORMS_PRO
P

[2019-04-17 12:47] jwargo commented on #16649
@kirthiroyadu The docs are getting a complete refresh for FCM. The Android tutorials and samples are being updated and tested. #please-close

[2019-04-17 12:48] jwargo commented on #17315
@spelluru can you take a look at this one?

[2019-04-17 12:49] jwargo commented on #19473
@BlueYetii I updated the doc last week, you should be good to go. #please-close

[2019-04-17 12:52] jwargo commented on #19669
The C# examples are at https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-aspnet-cross-platform-notification.

[2019-04-17 12:58] Anmolgan81 commented on #26857
I have established a S2S vpn connection B/w Azure and AWS, My VMs can talk to EC2 Instances and vice versa, thing is whenever I am trying to setup online migration from AWS Postgres to Azure Postgresql database, I am getting a connection timeout on the source which is AWS, I dont know what IP needs to be whitelisted since I have direct connectivity for AWS to Azure, can someone help me on this, I

[2019-04-17 13:00] grayjeremy opened #29570 "kubectl get hpa"
the "kubectl get hpa" code snippet contains the command and the output, so when you press the copy button...it puts to much on the clipboard.  How about we separate it like we did in the "Manually scale AKS nodes" section of this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e

[2019-04-17 13:01] jwargo commented on #29380
@spelluru can you please take a look at this?

[2019-04-17 13:09] sergaz-msft commented on #28974
Thank you for trying it @saifuddin123 .
This will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt and reference this issue in the description? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

[2019-04-17 13:09] #28974 closed

[2019-04-17 13:14] Jtayta opened #29571 "Missing a or the?"
SQL Database automatically creates database backups that are kept between 7 and 35 days, and uses Azure read-access geo-redundant storage (RA-GRS) to ensure that they preserved *even if data center* is unavailable.
Azure good. Azure make backup ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-5

[2019-04-17 13:25] RyanHill-MSFT commented on #29302
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-17 13:27] haveyoumetcp opened #29572 "Screenshots are outdated and there is not "Test Run""
Many of the screenshots for ADF are outdated.  And there is also no "Test Run" button, there is now a debug button.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfca5371-dc58-f362-b38e-66d8bceb186b
* Version Independent ID: 84f1ec2c-8cb9-33e8-72d2-4012bf3ba2ef
* Content: [How to schedule Azure-SSIS Integration Runtim

[2019-04-17 13:31] RyanHill-MSFT commented on #29302
@AidanTfL sorry for this inconvenience. I'll dig and see what I can find out.

[2019-04-17 13:34] bwren commented on #7617
Sorry for the delay, but this fix is done and going out today.  Most obvious solution was to indicate collection frequency varies for that solution and link to the other article.

[2019-04-17 13:34] bwren commented on #7617
#please-close

[2019-04-17 13:35] tjgruber commented on #22886
@okieselbach

Yes, I had the same result with Graph API when I changed the value of systemLabel to an integer.

Any reason we cannot add system labels? Any plans to change this?

[2019-04-17 13:38] KrishnaG-MSFT commented on #29400
@kick23, Answer to your first question is, yes I have tried alert that are created via log analytics also. Answer to your second question is, I don't think there is direct REST API to update (enable / disable) log search rule i.e., to update scheduled query rules. May be you are in the right path of creating a script for your requirement to update (enabling / disabling) log search rule i.e., to up

[2019-04-17 13:41] JeremyTBradshaw opened #29573 "Step "Connect to Azure AD" - have to enter password twice (if MFA-enabled) - why?"
Hello,

I came to the article actually to report the issue, but then noticed the text

So I guess I'm wondering why is this?  With the Azure AD PowerShell modules (both v1 and v2), the Exchange Online PowerShell module, and other modules which use the ADAL libraries, if you put your credentials in during step 1, you don't have to put your password in again during step 2.  So somehow the AAD Connec

[2019-04-17 13:43] jwargo commented on #16461
@JPSiller the Engineering team is looking at this and yes we will make docs updates for this. It is my understanding that the permissions must be removed, but checking with people smarter than me (on this topic).

[2019-04-17 13:49] MGoedtel commented on #28678
@Ibnajjar - Ah, gotcha.  I've reached out to the PG to get clarity on this because this isn't a scenario that I've personally tested after taking over the docs for the agents.  The one statement I did find in our docs was vague related to this scenario, which bothers me.  In the meantime, I'm also setting this up in my lab to test/validate.

[2019-04-17 13:56] AmirGeorge commented on #29557
@zeeshan-ks can you clarify more what you mean by "LUIS no more has option to download GZIP extension"? The functionality to package apps from the portal is still there so if there is any issue you are facing with it, please describe it.

Regarding the error you are facing, are you sure the response of the packaging API call you did was successful? If not, the API will return a JSON error response

[2019-04-17 13:59] nicolgit opened #29574 "missing LSApplicationQueriesSchemes part"
please add:

LSApplicationQueriesSchemes
ADAL uses –canOpenURL: to check if the broker is installed on the device. In iOS 9, Apple locked down what schemes an application can query for. You will need to add “msauth” to the LSApplicationQueriesSchemes section of your info.plist file.
&lt;key&gt;LSApplicationQueriesSchemes&lt;/key&gt;
&lt;array&gt;
     &lt;string&gt;msauth&lt;/string&gt;
&lt;/array

[2019-04-17 14:20] RMStoica-zivver opened #29575 "Some slight changes required"
Please see
https://docs.zivver.com/en/manuals/sso/microsoft-azure-active-directory.html
ZIVVER can now digest the link to the metadata XML file, no need to contact support anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66c65ecc-cd3a-3477-c493-54036dda3424
* Version Independent ID: ddaa2ec2-01af-8eb5-42a8-bff251

[2019-04-17 14:26] diberry commented on #29557
@RohitMungi-MSFT Can you please provide your file to Amir so he can investigate?

[2019-04-17 14:33] AidanTfL commented on #27962
@nelfer
Bumping @Grace-MacJones-MSFT question regarding additional capabilities of the AppServiceAuthSession cookie. My initial concern is as this cookie is stored locally, couldn't it be edited to become another user?
-----------------

Our app service incorporates a Visual Studio ASP.NET Core React project. We have our ASP.NET back end API's as a controller, and our React front end combined in t

[2019-04-17 14:40] KalyanChanumolu-MSFT commented on #29571
@Jtayta Thanks for pointing this, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update.
We love taking contributions from the community. 
 

[2019-04-17 14:49] #29571 closed

[2019-04-17 14:52] AlexBevan commented on #20171
Just to echo @aavdberg we are having the same issue, used last week without issue but not today, so looks like it may be more widely spread.

[2019-04-17 14:53] tfitzmac commented on #29512
@damienestewart - if the child resource is defined in the resources [ ] section of the parent resource, then you just use "products" for the resource type. However, if you define the child resource outside of the parent resource, then you use the full resource type.

I hope that answers your question. I'll look at this article to see if it can be clarified about how child resources work.

[2019-04-17 14:53] jaffadog opened #29577 ""Remember Multi-Factor Authentication" does not work for guest accounts"
When i enable "Remember Multi-Factor Authentication", i get the "don't ask again for X days" prompt  when i login as a "member", but not when i login as a "guest". why not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f

[2019-04-17 15:02] martgras opened #29578 "secureString in Outputs"
[Enter feedback here]
In the outputs section it is stated

---
However for variables of type securestring  the output will be masked and can't be use as an input for another deployment .   Instead of passing secure information between deployments  reference to that secret  should be used
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-04-17 15:10] RohitMungi-MSFT commented on #29413
@Hansmbakker If you do not have any more questions we will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-17 15:11] RohitMungi-MSFT commented on #29398
@wilsonchua20 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-17 15:11] #29398 closed

[2019-04-17 15:18] AidanTfL commented on #29302
I believe the issue occurred due to a bug in Azure, where the App Service and App Service Plan hadn't been 100% deleted.

This issue is a known issue with the 'New VNET Integration (Preview)' feature to the App Service Engineering team.

By making a support request within the portal, we were able to get this fixed within our subscriptions.

If anyone has a similar issue, you can raise a support re

[2019-04-17 15:19] JasonWHowell commented on #29288
@Anmolgan81 we haven't heard back in a while. I'm assuming you got it to work, or maybe haven't had a chance to take a look. Please let us know if you need further assistance. We'll stand down for now.
#please-close

[2019-04-17 15:21] shashishailaj commented on #29431
@goncalvesj We are testing this scenario in our labs and will update the thread accordingly.

[2019-04-17 15:23] MGoedtel commented on #20652
@davejdyer - I'll take a look at this later today and confirm if I can replicate this issue.  Thanks.

[2019-04-17 15:26] shashishailaj commented on #29562
@testad Thank you for your query . We will have this investigated and update the thread accordingly.

[2019-04-17 15:29] shashishailaj commented on #29569
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh Thank you for your feedback. We will engage the author on this to further update the documentation with relevant and missing SKU part numbers.  Thank you for your contribution.

[2019-04-17 15:30] shashishailaj commented on #29569
@ajayanti1 Could you please review this request and update the documentation accordingly.

[2019-04-17 15:31] LarsKemmann opened #29579 "Run Now fails - token cannot be decoded"
When I get to the Run Now steps, jwt.ms shows this error when presented with my JWT:

&gt; index.js:22 Uncaught InvalidTokenError {message: "Invalid token specified: Unexpected token  in JSON at position 0"}

Everything else seems to be working, according to the audit log in B2C. Help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-04-17 15:32] shashishailaj commented on #29575
@RMStoica-zivver Thank you for your feedback . We will have this reviewed and updated accordingly.

[2019-04-17 15:33] shashishailaj commented on #29574
@nicolgit Thank you for your contribution. We will have this reviewed and updated accordingly.

[2019-04-17 15:33] jinzejian opened #29580 "Does "AzureCloud" IP range include all Azure IPs and tag like "Storage", "AppService"?"
1. Does "AzureCloud" tag includes all Azure resources' public IP? If not, does it overlap (or include) with other tag such as "AppService"?
2. What tag should Azure FrontDoor IPs belong to?
3. Given a specific Azure IP, how can we identify which tag it belongs to?

I'm asking this because our customer thought whitelisting "AzureCloud" would whitelist all Azure IPs, but got problem that certain ser

[2019-04-17 15:33] LarsKemmann commented on #29579
Oh, and by default it doesn't even decode the token as it's just in the `?code=` query parameter. I have to copy-paste it into the "Enter token below" input.

[2019-04-17 15:34] shashishailaj commented on #29573
@JeremyTBradshaw Thank you for your feedback . We will investigate and update this thread further.

[2019-04-17 15:34] joseq-terawe commented on #29529
On your Link:
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-backup-enable-backup-powershell

Under the section **Enable backup on 1901 and beyond using certificate**, it seems like there is a mismatch on the path location and the name of the cert file. after creating the cert, it is then exported to the directory called "certs" on the C: drive. Then when running the final line of

[2019-04-17 15:37] Mike-Ubezzi-MSFT commented on #26857
Take your AWS Postgres FQDN and from a command line, type: nslookup <FQDN AWS Postgres> and you should get a public IP address. Do this both for your Azure and AWS Postgres instances and add the respective values in each firewall.

An example of performing a `nslookup` on microsoft.com:

![Screenshot (410)](https://user-images.githubusercontent.com/37126106/56300436-d0034600-60ea-11e9-8bf4-0eea927

[2019-04-17 15:38] shashishailaj commented on #29577
@jaffadog Thank you for your feedback . We will investigate and update further.

[2019-04-17 15:42] ojasp commented on #18737
This workaround doesn't work. I had a NSG with inbound/outbound in place & then created an application gateway v2. Then I tried to attach the NSG to the gateway that the AGv2 is running on but the validation fails with the folowing error:
Failed to save network security group for subnet 'gateway_subnet_v2'. Error: Network security group XX/XX/XX-NSG blocks outgoing internet traffic on subnet XXX/s

[2019-04-17 15:51] apan64 opened #29582 "Page does not match with currently available CustomVisionPredictionClient"
Current CustomVisionPredictionClient as available through pip (checked pip as most recent version and attempted update of custom vision package) is v2.0, this appears to be for methods available on 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9957cb6-3fc1-b7ae-db20-f90b6a833faf
* Version Independent ID: 90421a02

[2019-04-17 15:53] apan64 commented on #29582
To specify, the base_url field of the prediction client currently is:
('base_url', '{Endpoint}/customvision/v2.0/Prediction')
Attempts to update through pip still leave the base_url referencing the 2.0 endpoint

[2019-04-17 15:53] apan64 commented on #29582
Additionally only predict_image functions are available, none of the detect_image or classify_image functions

[2019-04-17 15:55] Neckross commented on #29485
UPDATE:
neither of these attributes that I have tested work, none of them provide the correct output after defining the query:
device.deviceCategory -eq "ADJ"
domainName -eq "domain.com"

I tried using the suggested Graph available attributes (dirSyncEnabled & registeredOwners) but none of them work:
device.dirSyncEnabled -eq $null
device.registeredOwners -contains "*domain.com"

[2019-04-17 16:05] jeevansd commented on #24858
@max-allan-surevine @scootafire @arnrist I have an update for you.
We have completed the development for the JIRA 8.0 and now testing it. Planning to take this out by next week.

[2019-04-17 16:07] goncalvesj commented on #29431
@shashishailaj I figured what the problem was. On the setup of the identity provider you need to add the "profile" scope. As soon a I changed that the missing claim was passed on the id token from the external Azure AD.

![image](https://user-images.githubusercontent.com/13003889/56302965-d5847e80-6132-11e9-9f48-177fce974831.png)

[2019-04-17 16:11] YutongTie-MSFT commented on #29568
@ArchieCoder
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 16:19] smoms commented on #29375
@shashishailaj @navyasric thanks. Your statements are bit in contrast with rules. ID_Token is target to client-app NOT to backend. As such client-app MUST validate the ID_token. Are you sure MSAL is not doing that?
https://auth0.com/docs/tokens/guides/id-token/validate-id-token#verify-the-signature
https://auth0.com/docs/tokens/id-token

[2019-04-17 16:21] RohitMungi-MSFT commented on #29557
@zeeshan-ks Did you overwrite your existing exported file with a new one before seeing this error? I downloaded the export file using [curl](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-container-howto#export-trained-apps-package-from-api) without overwriting any existing files and used it to run the container. Now, I am able to get a response without any errors.

It is most

[2019-04-17 16:21] TomoharuMisawa opened #29583 "supported by windows integrated authentication?"
[フィードバックをこちらに入力してください]
supported by windows integrated authentication?
it's login Method etc.
https://outlook.office.com/owa/domainName

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d200ae83-c846-5051-9391-028ec2d3c1f4
* Version Independent ID: 6b32387f-ee24-8fe0-bd39-a338205ab6a0
* Content: [Username lookup during sign-in authentication - Azure Act

[2019-04-17 16:21] aleazofeifam opened #29584 "Script button no longer exist"
Script is no longer available, the pictures in this document needs to be updated.
Also there was no public announcement of the change

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 378b87c1-ae6d-6b16-57b9-5f312583b8bd
* Version Independent ID: bdf6b43b-ac28-f1ac-e53b-d99f22d0754c
* Content: [Audit activity reports in t

[2019-04-17 16:27] schitzoid-embolism opened #29585 "Windows Virtual Desktop Connection Issue - No such member"
Can anyone help me with this?  I have Windows Virtual Desktop set up and working for one user but when I add a second user 'admin' two, it fails to connect.

Here is my error:
![image](https://user-images.githubusercontent.com/49727323/56304012-0c5b9400-6135-11e9-93e9-450f083dd250.png)

The user is added to the Desktop Application Group group and as far as I can tell everything is set up the same

[2019-04-17 16:30] CHEEKATLAPRADEEP-MSFT commented on #29572
@haveyoumetcp Thanks for bringing this to our attention.  I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-04-17 16:35] msebolt commented on #5643
@RobertClark  Please try using the sample JSON listed in step 1 (as opposed to the parameters template).

Sample has been tested and seems to be working fine.  Please comment below if there are issues.

[2019-04-17 16:35] #5643 closed

[2019-04-17 16:37] #5900 closed

[2019-04-17 16:39] sideeksh commented on #18679
As can be seen in the Deployment prerequisites section of this article, we are only referring to "An on-premises SQL Server deployment, running a supported SQL Server version."

[2019-04-17 16:45] realJasonEKnight opened #29586 "Limits in Conceptual diagram of storage hierarchy"
The limits should be denoted in the diagram:
Instead of NetApp Account x, it should be NetApp Account 10, since their is a limit to 10 NetApp Accounts per subscription.
Instead of Capacity Pool n, it should be Capacity Pool 25, since their is a limit of 25 Capacity Pools per NetApp Account.
See Resource limits for Azure NetApp Files...under Next Steps.

---
#### Document Details

⚠ *Do not edit th

[2019-04-17 16:47] sideeksh commented on #18400
@Ayanmullick. Can you elaborate on what you mean by 'reprotect Protected Items'? After a DR drill, you can re-protect your VMs by enabling replication. You do not need to failover again.

[2019-04-17 16:49] theonewolf commented on #28822
We have gotten it to work sometimes with CentOS, we noticed it transiently.

Maybe older versions (7.5?) of CentOS will work?

[2019-04-17 16:49] yehoshuadimarsky opened #29587 "Polybase loading Parquet file error: class java.lang.Long cannot be cast to class parquet.io.api.Binary"
See here for full details https://stackoverflow.com/q/55730926/6067848, but basically I have a dead-simple Parquet file in Azure Blob and I when I follow the steps above to load it via PolyBase and T-SQL, I get a conversion error for any numeric data: class java.lang.Long cannot be cast to class parquet.io.api.Binary. While it might be a problem with the file, the file works with other tools, so i

[2019-04-17 17:01] ianc911 opened #29590 "Typo in Powershell script name"
In the section titled "Configure certificates for use with the NPS extension by using a PowerShell script", the powershell script mentioned in step 3 is written as .\AzureMfsNpsExtnConfigSetup.ps1. Should be .\AzureMfaNpsExtnConfigSetup.ps1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf322e2b-b09c-2a09-2b0d-27de430

[2019-04-17 17:01] marktab commented on #28754
@tomwwagstaff-product I recommend Azure Data Factory:  keep tuned this year for product updates to Studio, and study how Azure ML Service works today

[2019-04-17 17:02] marktab commented on #28754
@YutongTie-MSFT  we may close

[2019-04-17 17:03] marktab commented on #29093
#sign-off

[2019-04-17 17:08] Grace-MacJones-MSFT commented on #16563
We will now proceed to close this thread.

[2019-04-17 17:08] #16563 closed

[2019-04-17 17:09] MarileeTurscak-MSFT commented on #29590
@ianc911
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-17 17:10] Karishma-Tiwari-MSFT commented on #29442
@FAHADSUST We will now close this issue. Please come back whenever you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:10] #29442 closed

[2019-04-17 17:12] Karishma-Tiwari-MSFT commented on #29570
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-17 17:13] MarileeTurscak-MSFT commented on #29579
@LarsKemmann
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-17 17:14] MarileeTurscak-MSFT commented on #29584
@aleazofeifam
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-17 17:14] #29288 closed

[2019-04-17 17:15] MarileeTurscak-MSFT commented on #29583
@TomoharuMisawa
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-17 17:15] thoaingan opened #29591 "Log Search Alert - Passing Log Search query results in HTTP Request body"
We have Log Search alerts set up and would like to utilize Logic Apps to take further actions when these alerts are fired. We followed the instructions listed in the first section (Activity Log Alert), and the trigger is fired correctly. However, we'd like to pass the query results of the Log Search alert to Logic App. How can we accomplish that?

---
#### Document Details

⚠ *Do not edit this sec

[2019-04-17 17:17] mganeshphani opened #29592 "Any instructions on how to do ILB?"
In case I don't want the external public IP.. how do I do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b5d00d-529b-a8be-47bf-773c967f0e72
* Version Independent ID: 0cf044ef-b26f-a8fa-213f-1e3fffaf53d6
* Content: [Install Istio in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/istio

[2019-04-17 17:18] himanshusinha-msft commented on #29482
@yigitgursoy : We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-04-17 17:18] Karishma-Tiwari-MSFT commented on #29565
@khan-tariq Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-17 17:19] Karishma-Tiwari-MSFT commented on #29567
@jpdmostwanted Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-17 17:20] MarileeTurscak-MSFT commented on #29590
@ianc911 thanks for catching this! I have made a pull request here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/73549

In the future feel free to make your own pull request when you find these sorts of small fixes.

[2019-04-17 17:20] #29590 closed

[2019-04-17 17:21] Karishma-Tiwari-MSFT commented on #29586
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-17 17:24] MarkMcGee1 commented on #5638
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 17:24] #5638 closed

[2019-04-17 17:29] henryphillipsid opened #29595 "Inccorect cmdlet"
I think the get-azureaddirectorysetting cmdlet to show specific properties existing value should be more like
Get-MsolCompanyInformation | select UsersPermissionToCreateGroupsEnabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5fbd-6470-5d29bf512fd2
* Version Independent ID: 4f70ed16-6a1c-c0be-3c5e-d56

[2019-04-17 17:29] MarkMcGee1 commented on #5931
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-17 17:31] #5931 closed

[2019-04-17 17:37] Karishma-Tiwari-MSFT commented on #12354
@whytoe
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:37] #12354 closed

[2019-04-17 17:37] #14456 closed

[2019-04-17 17:37] #15440 closed

[2019-04-17 17:38] #16649 closed

[2019-04-17 17:38] xom-pschiess opened #29596 "Still sends as SAML 2.0"
Is there an additional step that is missing? When using this SAML 1.1 template, there is still an error from the application "A SecurityTokenHandler is not registered to read security token ('Assertion', 'urn:oasis:names:tc:SAML:2.0:assertion'). The expectation is that this would be sending a SAML 1.1 assertion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-04-17 17:38] #17471 closed

[2019-04-17 17:38] #19473 closed

[2019-04-17 17:39] #21892 closed

[2019-04-17 17:39] #24219 closed

[2019-04-17 17:39] #24283 closed

[2019-04-17 17:40] #24930 closed

[2019-04-17 17:40] jeevansd commented on #24858
@PirateBread  Please use this solution for now https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

[2019-04-17 17:41] MicahMcKittrick-MSFT commented on #29566
Thanks for the question! We are investigating and will update you shortly.

[2019-04-17 17:41] ianc911 commented on #29590
Thanks. Not sure how to make a pull req. Your link gets a 404…

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Wednesday, April 17, 2019 10:21 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ian Campbell <Ian.Campbell@moore.org>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Typo in Powershell script name (#29590)

@ianc911<https://

[2019-04-17 17:42] Karishma-Tiwari-MSFT commented on #28975
@rloutlaw  @iainfoulds  @v-kents  @navalev Did any one of you get a chance to take a look at this customer's question?

[2019-04-17 17:43] Karishma-Tiwari-MSFT commented on #29183
The content team is working on making sure we have this information in all related docs. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:43] #29183 closed

[2019-04-17 17:44] Karishma-Tiwari-MSFT commented on #29305
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:44] #29305 closed

[2019-04-17 17:44] Karishma-Tiwari-MSFT commented on #29351
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:44] #29351 closed

[2019-04-17 17:44] Karishma-Tiwari-MSFT commented on #29361
@eshudnow
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:44] #29361 closed

[2019-04-17 17:45] MicahMcKittrick-MSFT commented on #29541
@KieranMcCormick2 thanks for pointing this out! I have corrected the doc. Once the PR merges the changes will go live in a few hours

[2019-04-17 17:45] #29541 closed

[2019-04-17 17:45] Karishma-Tiwari-MSFT commented on #29436
@jakaruna-MSFT @cynthn Can you please share your insights whether this behavior is expected? Thanks. :)

[2019-04-17 17:46] Karishma-Tiwari-MSFT commented on #29498
@giusbi Any update?

[2019-04-17 17:46] Karishma-Tiwari-MSFT commented on #29516
@sonpeppers
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-17 17:46] #29516 closed

[2019-04-17 17:46] henryphillipsid commented on #29595
In fact after reading some of the other articles I think it needs to be clearly stated that the azureadpreview module is needed but to also uninstall-module azuread as allowclobber is not enough, nor is just uninstalling azureadpreview and installing again for the latest version

[2019-04-17 17:47] Karishma-Tiwari-MSFT commented on #29532
@ketaanhshah Any update? Please provide the doc details.

[2019-04-17 17:48] seantleonard opened #29597 "Azure AD Graph API vs. Microsoft Graph"
Per https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/ , the Azure AD Graph API is no longer updated regularly and we are directed to use the Microsoft Graph. Can this doc be updated to include those endpoints to call (graph.microsoft.com), if available, as well as use the b2clogin.com login URL?
If no new endpoints are available yet, please update with appropria

[2019-04-17 17:49] KieranMcCormick2 commented on #29541
Wow! Super cool, thanks so much. Great tutorials btw. Really enjoying learning about Service Fabric!

I cant believe how fast you guys turned this ticket around. Great work!

[2019-04-17 17:51] ketaanhshah commented on #29532
Hey Karishma, I was referring to this document/article and was thinking if their was a way if a sample AZ CLI script can be documented for Java deployments https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-java

[2019-04-17 17:52] jpdmostwanted commented on #29567
Hi there, I am referring this link [https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/metadata-generateanswer-usage](url)