[2021-07-14 01:35] #78288 closed

[2021-07-14 01:53] JoeyCjj opened #78315 "need to update in the article that our geography is out-of-date."
Our geography uses an old static database to map IP addresses, and we need to mention in the article that our geography is out-of-date.

Select a report category for analytics data, such as Timeline, Geography, and so on.->need to mention the geography is not accurate.

Available operations return report records by API, geography, API operations, product, request, subscription, time, or user.-> ne

[2021-07-14 02:00] SnehaGunda commented on #78118
@hellojxg thanks for pointing out, it should be range index on strings, I fixed the doc in thee the above PR. Changes will be live tomorrow. We will close this issue now.

#please-close

[2021-07-14 02:00] #78118 closed

[2021-07-14 03:05] hammadrauf opened #78318 "Is there a Certificate Store for Hybrid Connections that use SSL?"
Is there a Certificate Store for Hybrid Connections that use SSL Certifcates? My Azure Web App Hybrid Connection to my private network is ok on tcpping, but the .Net-Core Application fails to connect. I suspect that it could be a Certificate issue. Maybe the SSL Signer (ZeroSSL) is not in the Accepted Signers in the Certificate Store.

Exception Detail:

Exception Details:

SocketException: An att

[2021-07-14 03:07] hammadrauf commented on #78318
The Application works okay on my Local computer but fails in Azure. The Error is given below:

NpgsqlException: Exception while connecting
Npgsql.NpgsqlConnector.ConnectAsync(NpgsqlTimeout timeout, CancellationToken cancellationToken)
Npgsql.NpgsqlConnector.RawOpen(NpgsqlTimeout timeout, bool async, CancellationToken cancellationToken)
Npgsql.NpgsqlConnector.Open(NpgsqlTimeout timeout, bool async,

[2021-07-14 03:52] SnehaAgrawal-MSFT commented on #78318
@SnehaAgrawal-MSFT Thank you for your feedback! We will review and update as appropriate.

[2021-07-14 04:59] AnuragSharma-MSFT commented on #78045
@langstonj Yes currently this is available only in West Central IS region and will be supported in West Europe and Brazil South very soon.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-07-14 05:00] ShaikMaheer-MSFT commented on #78109
@hyoshioka0128  We will update the Databricks 1.9 work item so that it now reads "Azure Resource Manager". The Databricks baseline is in the process of being heavily revised, so this change will go live when the whole article is refreshed.

Thank you!

[2021-07-14 05:00] #78109 closed

[2021-07-14 05:05] SnehaAgrawal-MSFT commented on #78052
@DavidJFowler Thanks for reaching here. As its mentioned in the document that [here](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-file-based#configuration-file-reference) that following exhausts possible configuration options within the file.
Check this document link for more details: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provide

[2021-07-14 05:19] OwenPendrighElliott opened #78320 "Mix of 'Master' and 'Main' in 'Build an ASP.NET Core and Azure SQL Database app in Azure App Service'"
Overall this was a great tutorial though I noticed some discrepancies in naming of branches.

The section 'Push to Azure from Git' specifies branch `master` in the git command however the example output below references branch `main`. Additionally, the section 'Publish changes to Azure' uses branch `main` (and thus fails).

I understand from #73228 that branches are currently being renamed to `mai

[2021-07-14 05:43] MayankBargali-MSFT commented on #78315
@JoeyCjj Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-07-14 05:45] poonkodi123 opened #78321 "How to use Core/SQL API with React and Azure Cosmos DB?"
Is any option to use Core/SQl api with react and CosmosBD?

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-mongodb-react

I have refered this document i'm not able to find way to connect Core/SQl api with react and CosmosBD. Please help me any way to connect Core/SQl api with react and CosmosBD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-07-14 05:49] akashperfect opened #78322 "The link to Processing data from IoT Hub with Azure Functions does not work"
[Enter feedback here]
The following link as shown in image below
![image](https://user-images.githubusercontent.com/2953096/125569649-74363ccb-24b9-49ac-b4f4-1cb230d11cc3.png)
Takes to https://docs.microsoft.com/en-us/samples/azure-samples/functions-js-iot-hub-processing/processing-data-from-iot-hub-with-azure-functions/

![image](https://user-images.githubusercontent.com/2953096/125569708-f46de6b

[2021-07-14 06:11] saurabh-teck commented on #78272
Hi @KranthiPakala-MSFT - My data is already coming in Eventhub from IOT device, so I am not sending the data to EventHub I am only using the reading part. Basically, I am not using Twitter4j libraries.

[2021-07-14 06:17] HarshitaSingh-MSFT commented on #78053
@pwmusic, just checking in to see if you got a chance to see above response.

[2021-07-14 06:21] #78045 closed

[2021-07-14 06:24] SatishBoddu-MSFT commented on #78322
Hello @akashperfect
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 06:24] HarshitaSingh-MSFT commented on #78133
@mateinavidad, since this issue is created on the AAD doc and not B2C doc, I would suggest you to create an issue in B2C doc if you see any discrepancy there. Let me know if you have further questions and if this issue is good to be closed.

[2021-07-14 06:35] AshokPeddakotla-MSFT commented on #78321
@poonkodi123 Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2021-07-14 06:41] azhar2005 commented on #78209
Document is updated - should reflect in some time.

[2021-07-14 06:43] rarandiv opened #78323 "Need to update the doc. Don't have any options or buttons as Save Money."
Need to update the doc. Don't have any options or buttons as **Save Money**. instead, there we have **Apply**

![image](https://user-images.githubusercontent.com/72970021/125575255-020ceb37-798b-4bbb-9121-3929b4aef458.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00f3b642-1d0d-363b-ed6e-a52dd93090e6
* Version Ind

[2021-07-14 06:45] GitaraniSharma-MSFT commented on #78209
@alexchen2016 , the doc has been updated and it will reflect shortly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-07-14 06:45] #78209 closed

[2021-07-14 06:51] PramodValavala-MSFT commented on #78073
@xuwenjian1995 I would assume your certificate is for setting up SSL with your custom domain. If that is the case, then you would have to configure that along with your [custom domain](https://docs.microsoft.com/en-us/azure/api-management/configure-custom-domain).

[2021-07-14 07:05] poonkodi123 commented on #78321
@AshokPeddakotla-MSFT this is link I have referred

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-mongodb-react

[2021-07-14 07:08] AjayKumar-MSFT commented on #78320
@OwenPendrighElliott, Thanks for bringing this to our attention.
Yes, as Robin Shahan (one of our author), we are working on renaming all of repositories from `master` to `main`.

Kindly see [this doc ](https://github.com/github/renaming#new-repositories-use-main-as-the-default-branch-name)- " 'main' is the most popular replacement for master that we're seeing across GitHub. Many communities, both

[2021-07-14 07:10] QuiteNewbieButImproving commented on #78283
Sure.
Bicep resources can be conditonnaly deployed as stated in:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/conditional-resource-deployment#deploy-condition
I think it would be interesting to mention in "Bicep modules" documentation, that Bicep modules can **also** be conditionally deployed (using same syntax used for resources)...

[2021-07-14 07:17] mateinavidad commented on #78133
@HarshitaSingh-MSFT i closed the issue, i will find the b2c documentation and make an extra request there. Thank you all for the clarifications.

[2021-07-14 07:17] #78133 closed

[2021-07-14 07:20] tuxnam opened #78324 "Azure ATP does not exists anymore"
The page mentions Azure Advanced Threat Protection for AAD, however this product is now called Defender for Identity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6eed2e9-9f84-ef2f-82c5-82a933b45609
* Version Independent ID: 9f40abab-94ae-3f76-16e4-8917ea30e8ed
* Content: [Azure security baseline for Cost Management]

[2021-07-14 07:21] PramodValavala-MSFT commented on #78019
@PhaedrusM42 Thanks for catching this! Sorry I couldn't get back on this sooner.

I do observe the same and seems like this is due to the changes in the structure of the [quickstart repo](https://github.com/Azure/azure-quickstart-templates). The same steps for the azure stack quickstarts works as expected.

I believe it would be best to open an issue on the quickstarts repo itself for a more insig

[2021-07-14 07:37] SadiqhAhmed-MSFT commented on #78324
@tuxnam Thanks for the feedback. We will look into this and get back with an update.

[2021-07-14 07:46] pwmusic commented on #78053
Good morning.

Many thanks for getting back to me about this.

The issue occurs on myaru.sharepoint.com when I assign the SharePoint
Administrator role to myself.

The account I use to do this is ***@***.***

I can say with certainty that I never get this issue when I assign the
Application Administrator role to my account: this almost always takes
effect instantaneously.

Please let me know if yo

[2021-07-14 07:59] pnl0ep7f opened #78325 "Microsoft.Insights/scheduledQueryRules - Unable to set Custom Json Payload through ARM Template"
Hi,
I am trying to create a custom log search alert. Through the portal when I create the alert it gives me an option to specify the custom Json payload.  However with the ARM template API version 2021-02-01-preview I am not able to set the custom json. I have also specified customProperties field under the actions object in my ARM template. Still no luck.

[code]
The documentation also does not g

[2021-07-14 08:04] #77113 closed

[2021-07-14 08:12] sidprasher opened #78326 "Regarding Disk Encryption or TDE"
In the encryption section, it is mentioned that the use of managed disks provide encryption of the data at rest at the file system level. There is also a choice of additional infrastructure level encryption.

How does the use of TDE fit in on a Azure VM implementation? Is there any guidance available on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-07-14 08:29] Swenzzon commented on #78284
Hi!
I am following
https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-how-to-enable-replication-ade-vms
But the first part I can´t do since we are using RBAC.

[2021-07-14 08:44] lgayhardt commented on #78253
Thank you for the feedback and sorry this doc hasn't been updated in a while. I have created an [ internal work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1858841) to update the documentation and added it to our backlog. When the work is completed we will update this thread.

Thank you
#please-close

[2021-07-14 08:44] #78253 closed

[2021-07-14 08:53] IanKemp opened #78327 ""Polling" section is confusing"
I'm not sure why that section is there or what it's trying to tell me. Is it an explanation of how the blob trigger works? A suggestion of how to implement blob handling? Some clarity would be useful.

The "Warning" message below that is also confusing. In addition to what? And why should I care about storage logs (implementation detail) when I'm implementing a blob trigger?

Finally, if blob trig

[2021-07-14 09:02] xuwenjian1995 commented on #78073
Hi @PramodValavala-MSFT,

Thanks for your response. I am not configuing the custom domain for my APIM. I would appreciate if you could let me know if both CA and client certificates required for securing backend or APIs.

[2021-07-14 09:06] joaomoreno commented on #55648
@Mike-Ubezzi-MSFT @TravisCragg-MSFT Can we get some clarification here?

[2021-07-14 09:14] AnuragSharma-MSFT commented on #78247
@SnehaGunda Actually this issue is related to translation of docs to respective languages and it seems the translation is not working fine for Japan region.

@CeciAc Could you please help us with this translation/localization issue? Or else If you could point to anyone who can help with the same.

[2021-07-14 09:26] SadiqhAhmed-MSFT commented on #78324
@msmbaldwin FYI!

[2021-07-14 09:41] bfrankMS opened #78329 "Missing the option to specify the location or region?"
[Enter feedback here]
either not documented or not available?
My VM size selector tested in the "Create UI Definition Sandbox" uses the location() reference function
Let's say you want to deploy VMs in multiple regions and want a vm size selector to reflect this - how can I do this?
If we could have an option on how to set the selector region it would be easy.

thx.
Bernhard

---
#### Document Det

[2021-07-14 09:53] SnehaAgrawal-MSFT commented on #78084
@MW-b0t Thanks again for the feedback! I have assigned the issue to the content author for further and update the document as appropriate.

[2021-07-14 10:02] GitaraniSharma-MSFT commented on #78090
@tomcam , We have assigned this to the content owner/author to add a link for Resource Manager deployment model.

@cherylmc , could you please add a link to Resource manager deployment model (https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/deployment-models) in the below note mentioned in the doc:

![image](https://user-images.githubusercontent.com/67630903/125603553-bd164

[2021-07-14 10:12] Kroppinator opened #78331 "IDP initiated SAML SSO - how to set it up for Salesforce"
Hi,
we've been using the Salesforce app from the gallery for SSO from Azure AD to Salesforce. There seems to be a limitation in that it only supports SP initiated SSO. IdP initiated SSO does not work. Can you confirm this limitation?

Do you have a tutorial that explains how to do a SAML2 federated SSO setup that would also support IdP initiated SSO? Is there a way how this can be setup for any pr

[2021-07-14 10:21] GitaraniSharma-MSFT commented on #78178
@qhaitoNNV , We have assigned this to the content owner/author for review.

@cherylmc , could you please update the Bastion docs with the new Tier availability as below:

![image](https://user-images.githubusercontent.com/67630903/125606242-418698ed-1d87-4c3f-8f5e-b3c24745e59c.png)

[2021-07-14 10:37] PramodValavala-MSFT commented on #78073
@xuwenjian1995 Both would be required based on the scenario. Another way of looking at my previous comment would be

- Securing Backend
    - Upload client certificates using the `Certificates` tab which you can use when authenticating to the backend
    - If the backend uses an SSL Certificate from a Custom CA, upload the CA Certificate for it
- Securing APIs
   - Upload client certificates using

[2021-07-14 10:42] gary918 opened #78332 "Why use 'Start-Sleep -s 15' ?"
In the sample code shared in https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#script, why we need to use 'Start-Sleep -s 15' when stopping/deleting/starting the triggers? Can we not 'sleep' or use 'Start-Sleep -s 5' instead?

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-07-14 10:43] MayankBargali-MSFT commented on #77186
Thanks @davidmrdavid for the update.

@waltervos As the issue has been fixed in the SDK as you can track the same [here ](https://github.com/Azure/azure-functions-durable-python/issues/305)l. I will go ahead and close this issue as there is no doc updated needed as confirmed by @davidmrdavid

Feel free to get back to us if you have any queries or concerns.

[2021-07-14 10:43] #77186 closed

[2021-07-14 10:57] th3w4y commented on #76401
@MonikaReddy-MSFT any update on the topic?

[2021-07-14 11:13] PramodValavala-MSFT commented on #78327
@IanKemp Thanks for the feedback! The section is intended to explain the inner workings of the trigger since it's important to understand the general purpose storage account requirement and later understand the number of operations executing on your storage account.

The Event Grid trigger is the best alternative except the fact that its not straightforward like the blob trigger. This is infact ch

[2021-07-14 11:30] yelevin commented on #53456
This page has been thoroughly edited, so I'm closing this issue.

[2021-07-14 11:30] yelevin commented on #53456
#please-close

[2021-07-14 11:30] #53456 closed

[2021-07-14 11:45] leescottt commented on #78288
Thank you

From: Sneha Gunda ***@***.***>
Sent: Tuesday, July 13, 2021 8:16 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Lee Taylor ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Bad link identified in page (#78288)

@leescottt<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fleescottt&data=04%7C01%7CLee.Taylor%40microsoft.com%7C7e23f54

[2021-07-14 11:51] msiegenthaler opened #78333 "Doc: Resetting AKS Credentials causes node restarts"
Please mention that a reset of the credential will cause a restart of all nodes, that came a bit unexpected to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b842222-f6ac-5266-227f-7e400610e07b
* Version Independent ID: 429cd3bf-2691-f633-2e0d-e70e5d8d0e03
* Content: [Reset the credentials for a cluster - Azure Ku

[2021-07-14 11:58] AdamCoulterOz opened #78334 "Timers in Durable Functions - Released Workers Clarification"
In this article, the following indicates to me that functions will not run (releasing the worker) while a durable timer is pending (in anything from seconds to days or weeks in the future):

This conflicts with the DotNet library method `IDurableOrchestrationContext.CreateTimer` remarks (from the below):

Seemingly indicating that the worker will stay running for the potential weeks while waiting

[2021-07-14 12:23] elenalash commented on #61446
same for me, it doesn't work and asks for client_secret.
Interestingly it works well in the console app sample but when I move it to an app (literally copy/pasting, same credentials) it gives me this error.

[2021-07-14 12:30] SrijitBose-MSFT commented on #78333
@msiegenthaler , Thank you for your feedback.

This document mentions "When you reset your cluster credentials on an AKS cluster that uses Azure Virtual Machine Scale Sets, a **[node image upgrade](https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade)** is performed to update your nodes with the new credential information."

The upgrade operation sequence mentioned [here](https://docs.mic

[2021-07-14 12:44] AnuragSharma-MSFT commented on #78323
@rarandiv Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-14 12:45] jwaltireland opened #78335 "mapping to nist 800-53 R4 controls"
[I'm](url) trying to create a spreadsheet for use with our fed clients for ato.
i'm trying to map the actual nist controls to the azure blueprint/policy initiative controls, but i'm a little confused on some of them.

ex)  ID: NIST SP 800-53 R4 AC-2 Ownership: Shared

the page shows a number of policy (effects) like:  Deprecated accounts should be removed from your subscription and
Microsoft Manag

[2021-07-14 12:46] HarshitaSingh-MSFT commented on #78283
As mentioned in the article:

![image](https://user-images.githubusercontent.com/25202671/125623649-e061a6e7-e5fe-44c4-b6d7-2870a2ae9dab.png)

You can pass in a parameter value that indicates whether a resource(which can be any resource) is deployed. We cannot mention about various features specifically for all resource pages. It will be redundant information. Pls let me know if this answers your

[2021-07-14 12:56] DCtheGeek commented on #78335
@jwaltireland Thanks for the question. I'm going to tag one of the PMs who own this space to take a look and provide you an answer.  cc/ @jomolesk

#assign:jomolesk
#label:"product-question"
#label:"assigned-to-author"
#label:"triaged"
#label:"in-progress"

[2021-07-14 12:57] tricksterisback opened #78336 "cli command to enable agent on ARC is incorrect"
The example command for enabling this agent on ARC machines is incorrect

Instead of this:

az connectedmachine machine-extension create --name AzureMonitorWindowsAgent --publisher Microsoft.Azure.Monitor --ids <vmresourceid>

It should be this:

az connectedmachine extension create --name AzureMonitorWindowsAgent --publisher Microsoft.Azure.Monitor --ids

refer example here:
https://docs.microsof

[2021-07-14 13:02] HarshitaSingh-MSFT commented on #78325
Hello @pnl0ep7f , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-14 13:04] HarshitaSingh-MSFT commented on #78329
Hello @bfrankMS , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-14 13:09] MGoedtel commented on #77941
Recently changes were made to ARM that had impacted this, and I noticed last week the ARM template was updated by the ARM docs team related to the template files.  I'm going to test the updated template now to determine if the issue has been resolved and if not, will investigate.  #in-progress

[2021-07-14 13:13] pitawatn opened #78338 "There should be a tutorial for adding sign-in with Microsoft to a .NET Core web app"
Currently there are "[Quickstart](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v2-aspnet-webapp)" and "[Tutorial](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-asp-webapp)" for adding sign-in with Microsoft to ASP.NET web app where I think the tutorial one provides great detail of how to implement the sign-in with the identity platform. H

[2021-07-14 13:17] RohitMungi-MSFT commented on #78254
Ok, I am not sure if ClientWebSocket option supports enabling timestamps because the container support is designed via the [SDK ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-container-faq?tabs=stt#what-api-protocols-are-supported--rest-or-ws-)using WS.

Maybe, opening an [issue ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues)on the SDK pa

[2021-07-14 13:22] JustinGrote opened #78339 "Add "assignedBy" to common metadata"
"assignedBy" is a common metadata that denotes the owner and is exposed in the Azure Portal. It should be shown in the common metadata list.

![image](https://user-images.githubusercontent.com/15258962/125629301-9a14ed42-fc59-4286-86d2-73bac819e81e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9762f1b7-0e3a-d58f-

[2021-07-14 13:26] MGoedtel commented on #77941
@lanicolas - I just tested the updated ARM template and it deployed successfully - including creation of the sample runbooks, the LA workspace, and linking the workspace to the Automation account. Please verify you are now able to create the AA account with the sample templates successfully into your subscription.  I'm going to close this PR as a result of my testing/findings and if you are still

[2021-07-14 13:26] #77941 closed

[2021-07-14 13:34] DCtheGeek commented on #78339
@JustinGrote Thanks for the feedback.  Let me confirm with the PM we want it listed and I'll get back to you.

#assign:DCtheGeek
#label:"doc-enhancement"
#label:"assigned-to-author"
#label:"triaged"
#label:"in-progress"

[2021-07-14 13:35] robertfletcher-cds commented on #78297
@KranthiPakala-MSFT the document that I've used as reference for adding appRoles is https://docs.microsoft.com/en-gb/azure/active-directory/develop/active-directory-enterprise-app-role-management
this is where I obtained the example PATCH request but the screen shot does not show the full request body payload so I've assumed that what I have is correct, (though the error would suggest I haven't!)

[2021-07-14 13:39] jomolesk commented on #78335
@jwaltireland The Microsoft Managed Controls describe how Microsoft has implemented a control when the implementation responsibility is either Microsoft or shared between Microsoft and customers. The other policies listed on this page align to the NIST controls under each heading where they appear. You may find it easier to parse the initiative JSON file itself, which is available here: https://gi

[2021-07-14 13:46] AshokPeddakotla-MSFT commented on #78326
@sidprasher Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 13:49] KranthiPakala-MSFT commented on #78297
Thanks for the additional clarification @robertfletcher-cds. I have assigned this issue to relevant team who can assist better.

@MarileeTurscak-MSFT - Could you please have a look at this feedback? - Thanks

[2021-07-14 13:51] jwaltireland commented on #78335
ok.  this helps.  thanks!

[2021-07-14 13:53] KranthiPakala-MSFT commented on #78284
Hi @Swenzzon, thanks for sharing additional info and posting your query in Microsoft Q&A forum which is better suited for such queries. Once of our engineers or MVP's will assist you soon in Microsoft Q&A.

As this is being tracked on Microsoft Q&A forum I will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We w

[2021-07-14 13:53] #78284 closed

[2021-07-14 13:54] jomolesk commented on #78335
As I believe I've answered your question, I'm going to close this issue. Please feel free to continue the discussion or create new issues for other Docs concerns. #please-close

[2021-07-14 13:54] #78335 closed

[2021-07-14 13:55] shivanigoyal0705 commented on #45251
I am running into same issue, any update on the issue?
Does anyone found any workaround meanwhile?

[2021-07-14 13:58] KranthiPakala-MSFT commented on #78272
Hi @SAURABH-MS

Thanks for your response and leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [

[2021-07-14 13:58] #78272 closed

[2021-07-14 14:04] priyankareddy20 opened #78342 "In the article, it says, OATH Haardware and software tokens are only supported for MFA but not SSPR, I installed google authenticator (softwrae token)and I did reset my password leveraging SSPR.Also in the password reset page, i see mobile app or hardware token is supported.Kindly check and confirm if we can leverage OATH software code and hardware token for SSPR reset"
![SSPRMETHODS](https://user-images.githubusercontent.com/64882717/125635513-c1e2c138-f12d-4c1c-82f6-e2c0aa8e5b28.JPG)
![SSPRmethods2](https://user-images.githubusercontent.com/64882717/125635532-f3b6f21f-9f0d-4fbf-aab8-0662da30531a.JPG)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec

[2021-07-14 14:24] SaurabhSharma-MSFT commented on #78277
@mikemowgli No, you can also use AAD authentication as mentioned in the document over [here](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#initialize-the-sdk-with-azure-ad).

Thanks
Saurabh

[2021-07-14 14:27] mmulhearn opened #78343 "SignalR scaling documentation does not warn of scaling IP changes"
While the scaling documentation does warn of IP changes when changing tiers (up scaling), there is no warning the IP address may change if you scale out (add units).  We had this happen today and it greatly impacted our production environment as a lot of our consumers white-list IPs.  There should be a warning this could happen.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-07-14 14:36] BradLeeHines-ST opened #78344 "Error on Code for Delete Queue"
To delete a queue and all the messages contained in it, call the delete_queue method.

Python

Copy
print("Deleting queue: " + queue_client.queue_name)
**queue_client.delete_queue()**

I think that azure has to know which queue to Delete. I think the bolded line of code should be **queue_client.delete_queue(q_name)**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-07-14 14:40] SnehaGunda commented on #78143
@leeframpton The binary was removed for some reason. We are figuring out the options to republish a new pre-compiled binary to a new location. In the meantime, you can locally compile it. I removed the doc link until we have a new location.

[2021-07-14 14:40] SnehaGunda commented on #78143
#please-close

[2021-07-14 14:40] #78143 closed

[2021-07-14 14:45] msmimart commented on #62558
Update: The pricing for SMS/Phone-based multi-factor authentication attempts is now included on the pricing page: https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/. Thanks again for your feedback!

[2021-07-14 14:46] mikemowgli commented on #78277
Perfect, thank you!

[2021-07-14 14:46] #78277 closed

[2021-07-14 14:48] tommyhlw commented on #56270
@mastercard-rob  @ropstah
I read the documentation several times ... however I can't find the solution what is needed to test User Flow with **App registration** rather then **Applications (Legacy)**
My goal is to allow **Accounts in any identity provider or organizational directory (for authenticating users with user flows)** for login via Microsoft. The only way seems to create an app within **A

[2021-07-14 15:14] jlengrand opened #78345 "azure-functions-core-tools is required for the CLI but not mentioned in the doc"
Hey there,

Minor comment, but in this specific page, https://github.com/Azure/azure-functions-core-tools is not mentioned as prerequisite (though it is mentioned in the page).

Trying to run `swa` without having it installed fails with

[code]

Installing, restarting an shell and running swa again fixes the issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-07-14 15:15] #74922 closed

[2021-07-14 15:19] DCtheGeek commented on #78339
@JustinGrote Upon review with the PM, we realized this comment should have been about the "Policy assignment structure" page and not this "Policy definition page".  `assignedBy` is added by the Azure portal during creation of a policy assignment, but isn't common metadata for a policy definition.  If you look at [Details of the policy assignment structure](https://docs.microsoft.com/azure/governan

[2021-07-14 15:19] #78339 closed

[2021-07-14 15:23] artisticcheese opened #78346 "All advisor recommendations shall have detailed explanation what triggered advisory"
Advisor recommendations are pretty vague in order for tech to fix the problem. Example is `Add Azure Monitor to your virtual machine (VM) labeled as production`. The explanation for it states

[code]
Questions:
1. What defines 'labeled as production`. How did Advisor figure out what is production and what is not
2.  What is Azure Monitor for VMs means? Does it mean Azure Monitor Agent? Log Analyti

[2021-07-14 15:24] JustinGrote commented on #78339
@DCtheGeek You're right, I should have referenced assignment and not structure, thank you, this is not an issue now.

[2021-07-14 15:25] BharathNimmala-MSFT commented on #78336
@tricksterisback Thank you for bringing this to our notice, we will review it further and update the document accordingly.

[2021-07-14 15:40] LijuV-MSFT opened #78348 "Steps on how to actually import/export managed disks"
The steps on how to create the disk accesses and private endpoints are clear, but not how to use the endpoint to actually import/export the disks.

Is it using Disk Export under settings?

  _You can generate a time bound Shared Access Signature (SAS) URI for unattached managed disks and snapshots for exporting the data to other region for regional expansion, disaster recovery and to read the data

[2021-07-14 15:47] Sonnenbach opened #78349 "Categorize reservations so customers can see which categories can be exchanged with each other"
Hi,

while the reservation categories provide a great overview they are missing some details. My customer is asking which categories can be exchanged with each other. While reservations normally can only be exchanged within a category (SQL for SQL, Cosmos for Cosmos, Storage for Storage), there are exceptions (e.g. AVS to VMs or Azure dedicated). Could you publish a list on this or the exchange pa

[2021-07-14 15:57] SatishBoddu-MSFT commented on #78331
@Kroppinator
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 15:57] SatishBoddu-MSFT commented on #78332
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 15:58] SatishBoddu-MSFT commented on #78334
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 16:00] SatishBoddu-MSFT commented on #78338
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 16:00] asears opened #78350 "Release annotation example uses az cli rather than Powershell"
In the example here:

[code]

Instead of using Az cli, can Invoke-WebRequest or Invoke-Restmethod be used?
This is not pure Powershell as it depends on az cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1eec15-6783-f8a2-81c0-ffa9d1b40dc2
* Version Independent ID: ab875981-7b0d-95be-dc5b-91f87acbe477
* Content: [R

[2021-07-14 16:00] mikben commented on #73998
Thanks for bringing this to our attention. The document has been updated to reflect the above correction. #please-close

[2021-07-14 16:00] #73998 closed

[2021-07-14 16:01] SatishBoddu-MSFT commented on #78342
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 16:03] SatishBoddu-MSFT commented on #78343
Hello @mmulhearn Sorry for the inconvenience caused in this matter.

Our SME will investigate this issue and get back soon. Thank you!

[2021-07-14 16:03] KrishnaG-MSFT commented on #78234
@JohnHKoh Thanks for the feedback.
We will assign this issue to document author or owner @lazinnat for visibility, review and document enhancement consideration as appropriate so that the function package reference is updated correctly.

[2021-07-14 16:04] ssivas opened #78351 "CopyKeys script no longer work when Azure Key Vault using Azure RBAC permission model"
["CopyKeys" script](https://aka.ms/ade-asr-copy-keys-code) no longer work when Azure Key Vault using [Azure RBAC permission model](https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli) instead [Access policy model](https://docs.microsoft.com/en-us/azure/key-vault/general/assign-access-policy-portal) .

Looking at CopyKeys script, it completely relay on `set-AzKeyVault

[2021-07-14 16:05] SatishBoddu-MSFT commented on #78344
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 16:21] SatishBoddu-MSFT commented on #78345
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 16:34] gidziu opened #78352 "it makes no sense at all"
This really makes no sense that you should delete data before dropping a table. If anything the opposite should be the best practice, meaning if you want to drop the object then drop it rather than cleaning  it up first. In my opinion it just show how badly this product is built.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-14 16:36] lpmac opened #78353 "ADF V2 Error:"code":"BadRequest","message":null,"target":"pipeline//runid/XXXX","details":null,"error":null}"
I have created a pipeline in ADF V2 that is copying data from an Odata connector source to a Azure SQL DB sink, the dataset source and sink are dynamic so it iterates through the multiple entities (tables) from the Odata source and copies them over to the corresponding tables in SQL. I've tested the copy activity independently and that works when iterating through the dynamic datasets but when I i

[2021-07-14 16:38] bkwdesign opened #78354 "'Publish' page UX must've changed - thus there are obsolete references to 'three dots' and 'Hosting'"
In several places it says "3 dots above hosting" but my Publish page UX does not feature the label "Hosting" anywhere.
I believe this is referring me to a right hand region labeled "Actions"

Microsoft Visual Studio Enterprise 2019
Version 16.8.6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7c

[2021-07-14 16:56] tamram commented on #78017
@javester - Thanks for your feedback. There are some nuances to object replication with immutable storage that are not currently documented. We'll be updating the doc to address those in the near future. I'll circle back here once that's done.

[2021-07-14 17:01] johnpbaldwin opened #78355 "Identify error messages that indicate need to import SSL certs"
Following the steps on this page were clear and successfully resolved the issue.

However, identifying error messages that indicate a need to perform the SSL import steps would help clarify when those steps will be helpful. These is the error I received that led me to the page:

**Error code:**
SELF_SIGNED_CERT_IN_CHAIN

**Error Reason:**
self signed certificate in certificate chain

---
#### Docu

[2021-07-14 17:08] RyanHill-MSFT commented on #78354
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-07-14 17:22] AnuragSharma-MSFT commented on #78205
@ArtiomLK Thanks for your patience. delegation flag is optional flag that we can provide. In the example shown we are creating the subnet and towards the end of script we are using the same subnet to create managed instance. Please refer to below article for more details on the same:

https://docs.microsoft.com/en-us/cli/azure/network/vnet/subnet?view=azure-cli-latest#az_network_vnet_subnet_create

[2021-07-14 17:27] #78041 closed

[2021-07-14 17:29] MartinJaffer-MSFT commented on #78352
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-07-14 17:35] WyattBest opened #78357 "No mention of networking considerations on this page?"
This page should include a warning that Azure Automation Runbooks execute from random IP addresses anywhere in an Azure datacenter. This would save time for many clients who start exploring Azure Automation for SQL management and then realize that it cannot be acceptably secured.

Good summary: https://feedback.azure.com/forums/246290-automation/suggestions/40096852-assign-dedicated-ip-address-es-

[2021-07-14 17:38] robinsh commented on #77316
#please-close

[2021-07-14 17:38] #77316 closed

[2021-07-14 17:51] babakbiglari-py opened #78359 "Your total snapshot size exceeds the limit of 953.67431640625 MB."
Hi Everyone
I am helping a partner with this error( total snapshot size exceeds the limit of 9.5367431640625 MB.) and appreciate your guidance.

I have read above explanation and it is not solving the problem. Here is the partner setup :

Main Project Folder( PytorchTransferLearning) - Includes the following:

PytorchTrain.py ( This has the script to load the dataset from datastore and setup the t

[2021-07-14 17:53] babakbiglari-py commented on #78359
Are there any guidance about .amlignore file? How do we create this file?

[2021-07-14 18:01] JamesTran-MSFT commented on #78304
@kelsosharp
Thank you for pointing this out!

Based off my understanding, it looks like the "GraphBeta" section of the JSON is simply just referring to the [Microsoft Graph beta endpoint](https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-beta) while the `AddDownstreamWebApi("MyApi"` should be the [name of your API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.we

[2021-07-14 18:04] JamesTran-MSFT commented on #78338
@pitawatn
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-14 18:10] gabesmsft commented on #78169
Tweaks to make the AAD part clearer will be great. Even though the mentioned section is about custom OIDC providers, it is still causing confusion for users because those .auth endpoints are applicable to other preconfigured providers (Google, Facebook, etc) and although users could extrapolate the correct endpoints for AAD from the linked AAD EasyAuth doc, the endpoints aren't called out explicit

[2021-07-14 18:15] balbarka opened #78361 "Radio button not found in admin console"
Not able to find radio button in admin-console, is there some other pre-req required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51dda0c3-fc3d-c5a6-7850-cbba1e8241ca
* Version Independent ID: a52dd05c-67dc-a3bb-4f04-5ad2df9ea99f
* Content: [Manage orchestration of multiple tasks with Azure Databricks jobs - Azure D

[2021-07-14 18:19] SurajSPujari opened #78362 "Minute doc correction"
[Enter feedback here]
Minute correction on this page.

Depth-first load balancing allows you to saturate a session host with user sessions in a host pool. Once the first **session** reaches its session limit threshold, the load balancer directs any new user connections to the next session host in the host pool until it reaches its limit, and so on.

Depth-first load balancing allows you to saturat

[2021-07-14 18:22] SaurabhSharma-MSFT commented on #78353
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><a target="_blank" class="user-mention" data-hovercard-type="user" data-octo-click="hovercard-link-click" data-octo-dimensions="link_type:self" data-hovercard-url

[2021-07-14 18:29] msmbaldwin commented on #75878
@CorgiDev, I clicked every link under "Authenticate and create a client" (as well as a dozen more in the article), and got no 404s. Maybe we were having server issues the day you experienced this, or perhaps some redirects were not yet in place.  In any case, we appreciate the feedback. #please-close

[2021-07-14 18:29] #75878 closed

[2021-07-14 18:31] JohnPoetzinger opened #78363 "add managed hsm private link dns info"
Please add the private link DNS information for azure managed HSM to the matrix "privatelink.managedhsm.azure.net"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a88af182-32aa-a8f3-359d-b92ae1cfb8c7
* Version Independent ID: 01ce07fc-4bc2-def5-9ecd-a80330ad9488
* Content: [Azure Private Endpoint DNS configuration](http

[2021-07-14 18:31] msmbaldwin commented on #76891
Hi, @DaveSimioneTS. We removed the "Identity Management" section entirely.  Thank you for the feedback -- we appreciate it! #please-close

[2021-07-14 18:31] #76891 closed

[2021-07-14 18:45] abhiramani-iptiq opened #78364 "How to disable pod identity once enable on Azure CNI Cluster"
we have enabled pod-identity using this command

az aks update -g $MY_RESOURCE_GROUP -n $MY_CLUSTER --enable-pod-identity --network-plugin azure

how to disable it?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 249a570b-90ba-4a11-446

[2021-07-14 18:47] ROSMITHJ-MSFT opened #78365 "Request for example tests and for issue definition/mitigations"
Howdy Team,

I hope you're well! I wanted to reach out and ask:

1. Could you include more details could be given for configuring Connection Monitor tests (perhaps an example for each of the three types of tests)?
2. Could you include a list of potential issues observed and how to go about mitigating them?

I'm trying to configure various tests (HTTP/TCP/ICMP) between VMs in the same VNet and all

[2021-07-14 18:57] rboucher commented on #35322
Brian agrees.  #please-close

[2021-07-14 18:57] #35322 closed

[2021-07-14 19:13] MicrosoftGuyJFlo commented on #78204
We do not comment on future facing dates in Documentation. #please-close

[2021-07-14 19:13] #78204 closed

[2021-07-14 19:15] duongau commented on #77930
@AndrevdG Thank you for bringing this to our attention. I updated the documentation to reflect the new validation email address.

#please-close

[2021-07-14 19:15] #77930 closed

[2021-07-14 19:16] BharathNimmala-MSFT commented on #78346
@artisticcheese Thank you for reaching out with your query, assigned this issue to our document author to further review the queries. Thanks

[2021-07-14 19:19] WyattBest opened #78366 "Circular hyperlinks when trying to install Log Analytics Agent via Azure Arc"
Some people (like myself) arrive at this page from https://docs.microsoft.com/en-us/azure/automation/automation-windows-hrw-install and attempt to connect a server to Azure Arc for the first time. After installing the Connected Machine Agent, the next step in the Hybrid Worker docs is to make sure Log Analytics Agent is installed.

This will place the user in a loop:
https://docs.microsoft.com/en-

[2021-07-14 19:22] WyattBest commented on #78366
I did find the correct answer (Server resource in portal> Extension > Add) on a third-party blog, but it seems that the documentation could mention this.

[2021-07-14 19:41] gcontrabass commented on #51845
Is there any intent to address this issue?

[2021-07-14 19:42] Karishma-Tiwari-MSFT commented on #78083
I reached out to the product team, here is what they shared:

1- One of the ways to use DIND uses docker sockets, no docker, no docker sockets. The other way theoretically works but we still don't recommend it.
2- This is out of scope for our team, please post the question on the buildx repo.
The azure product/recommendation for this is ACR tasks.
But if your question is about cache image layers,

[2021-07-14 19:43] curtand commented on #48386
Hi @justinopperman

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created an internal work item to incorpora

[2021-07-14 19:43] #48386 closed

[2021-07-14 19:50] dlepow commented on #78315
@JoeyCjj - Thanks for the comment. Can you please provide a little more detail about why the geography isn't accurate? Was there a specific example where the information provided wasn't what you expected? Thanks!

[2021-07-14 19:50] wjpigott opened #78367 "Continuous Export - update referring to breaking changes if used with Storage Accounts and Stream Analytics jobs"
[Please add a "Note:" section under Continuous Export section stating that after migrating the the new workspace-based workspace Continuous Export will be removed.  If data was being utilized from Continuous Export to a Azure Storage Account migrating to the newer Diagnostics Settings export option will break existing implementations as the schema and folder structure has changed.  As an example t

[2021-07-14 19:53] Karishma-Tiwari-MSFT commented on #78362
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2021-07-14 19:53] #78362 closed

[2021-07-14 19:56] MartinJaffer-MSFT commented on #78142
Hello @jyeblog .

The scope should be kept as
`Scope="http://sharepoint/content/sitecollection/web"`

We tried with your settings, and it worked.  We did however get that error message when making mistake in the Linked Service Site url.
The Linked Service Site url should be `https://mySite.sharepoint.com/`  not `https://mySite.sharepoint.com/lists`

![sharepoint](https://user-images.githubusercont

[2021-07-14 20:02] curtand commented on #52008
Hi @CeciAc
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created an internal work item to incorporate your s

[2021-07-14 20:02] #52008 closed

[2021-07-14 20:03] curtand commented on #49024
Hi @jdelforno
Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created an internal work item to incorporate you

[2021-07-14 20:03] #49024 closed

[2021-07-14 20:04] rolyon commented on #57958
Hi @vivere-dally
Thanks for your feedback. We apologize for the delayed response. We've provided this feedback to the team. We are closing this issue for now, but feel free to comment here as necessary.
thanks

[2021-07-14 20:04] rolyon commented on #57958
#please-close

[2021-07-14 20:04] #57958 closed

[2021-07-14 20:06] JamesTran-MSFT commented on #78331
@Kroppinator
Thank you for you for your time and patience throughout this issue!

Based off our documentation, single sign-on (SSO) integration with Salesforce only supports SP initiated SSO. When it comes to a tutorial or additional documentation for SAML2.0 federated SSO, I was able to find a doc which might help.

[Use a SAML 2.0 Identity Provider (IdP) for Single Sign On](https://docs.microsof

[2021-07-14 20:06] MicrosoftGuyJFlo commented on #77676
Email out to PG for feedback.

[2021-07-14 20:07] rolyon commented on #57485
Hi @StevenBalnis
Thanks for your feedback. We apologize for the delayed response. We've provided this feedback to the team. We are closing this issue for now, but feel free to comment here as necessary.
thanks

[2021-07-14 20:08] rolyon commented on #57485
#please-close

[2021-07-14 20:08] #57485 closed

[2021-07-14 20:08] curtand commented on #56199
Hi @BrettNoake
Thanks for your contribution!!! This article has been updated to reflect this behavior. #please-close

[2021-07-14 20:08] #56199 closed

[2021-07-14 20:12] lpmac commented on #78353
https://docs.microsoft.com/en-us/answers/questions/302845/getting-error-3434code3434badrequest3434message34n.html

Thread above where someone else discussing the same error code.

https://docs.microsoft.com/en-us/azure/data-factory/data-factory-troubleshoot-guide#connector-and-copy-activity

There is advice in the document above states a bad request error message is due to a issue with the json pa

[2021-07-14 20:14] rolyon commented on #52335
Hi @ChrisB9907
Thanks for your feedback. We apologize for the delayed response. We've provided this feedback to the team. We are closing this issue for now, but feel free to comment here as necessary.
thanks

[2021-07-14 20:14] MicrosoftGuyJFlo commented on #77676
Response from the Product Group: It was supported since 2016, so AAD Connect version is not relevant. #please-close

[2021-07-14 20:14] #77676 closed

[2021-07-14 20:15] rolyon commented on #52335
#please-close

[2021-07-14 20:15] #52335 closed

[2021-07-14 20:15] curtand commented on #51184
Hi @soeirodefaria
Thanks for your contribution! It looks like you have an answer, but I'm bringing this to the PIM PM team for inclusion in the docs. I have opened a work item to track this. We are closing this issue for now, but feel free to comment here as necessary.

#please-close

[2021-07-14 20:15] #51184 closed

[2021-07-14 20:19] barclayn commented on #77897
@vurhanau thank you for your submission. Did you first follow the grant access steps at the beginning of the article?

[2021-07-14 20:25] curtand commented on #47874
Hi @uowdaniel

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created an internal work item to incorporate yo

[2021-07-14 20:25] #47874 closed

[2021-07-14 20:46] curtand commented on #56387
Hi @chadmcox
Thanks for your contribution! This is being fixed in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/163699

#please-close

[2021-07-14 20:46] #56387 closed

[2021-07-14 20:51] curtand commented on #56419
Hi @davebirr

Thanks for your dedication to our documentation! Unfortunately, at this time we have been unable to resolve your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so I have created an internal work item to incorporate you

[2021-07-14 20:51] #56419 closed

[2021-07-14 21:03] dlepow commented on #78210
@runemy - Thanks for the feedback. I'm gathering more information and plan a doc update in the near future.

[2021-07-14 21:05] mbukovich opened #78369 "Unclear information about Permissions in On-Behalf-Of Flow Documentation"
Hi All,

In the process of helping one of our customers with a Support Request, I found the documentation on this page to be a bit unclear regarding permissions for the upstream API application registration.

Usually when authenticating an Application using client credentials, we need to assign and consent to **application** permissions. However, in this particular scenario, the permissions assign

[2021-07-14 21:16] jasonfritts opened #78370 "B2C Audit and Signin logs Not Supported?"
Per this doc callout

![image](https://user-images.githubusercontent.com/38323403/125694048-12558a3a-f1b9-4006-95d5-30dabb91f7d5.png)

"Azure AD B2C audit and sign-in activity logs are currently unsupported".  I think this is out of date as there is a corresponding doc under B2C that says it is supported see:  https://docs.microsoft.com/en-us/azure/active-directory-b2c/azure-monitor

Can we some c

[2021-07-14 21:22] JamesTran-MSFT commented on #78369
@mbukovich
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-14 21:24] JamesTran-MSFT commented on #78370
@jasonfritts
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-14 21:28] jspaith opened #78371 "Clarify __t:c applies on writable properties also for patches"
The guidance [here](https://docs.microsoft.com/en-us/azure/iot-pnp/concepts-convention#sample-multiple-components-writable-property) is good.

I think it could be even clearer about the fact that even on a PATCH/update initiated by service side, that this marker needs to be included.

For a possible way to capture this (I'm included first line in original) - my wordsmithing needs cleaning up since

[2021-07-14 21:32] MartinJaffer-MSFT commented on #78352
Thank you for your feedback. This has been assigned to the content owner, @mssaperla , and will be updated as appropriate.

[2021-07-14 21:33] MartinJaffer-MSFT commented on #78352
I believe this is because metadata management and data management are separate.  This allows you to drop a table without dropping its underlying data if you so choose.

[2021-07-14 21:37] hpsin commented on #78369
Thanks! Yep, the client credentials flow is a different flow, specifically rooted in application-only permissions.  Using client secrets/assertions doesn't make it an application-only flow.  The authorization code flow is another example of clients sometimes needing to provide their identities while acting in a delegated fashion for a user.

Critically, we do need to call out that you can't OBO an

[2021-07-14 21:38] BharathNimmala-MSFT commented on #77753
@david-tap Apologies again for delay on this. Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to incorporate the feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead

[2021-07-14 21:38] #77753 closed

[2021-07-14 21:40] weyCC81 commented on #76063
How can i send a screenshot when it‘s not there where it should be? Please connect with your college at microsoft for clarification or just add it in the documentation as a limitation.
#please-open

[2021-07-14 22:05] YutongTie-MSFT commented on #78359
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 22:05] BharathNimmala-MSFT commented on #78350
@asears Thank you for sharing your feedback, we will review it and update the document accordingly.

[2021-07-14 22:07] jyama4ta opened #78372 "Is this page still available for VMSS?"
I understand that we need to update using by kured for VMAS nodes in the past. However, if the nodes are updated by kured, the update does not apply a new vmss instance. I think it is better to upgrade node image.
If my understanding is correct, could you please add notes that this page is for VMAS nodes?

_Azure Kubernetes Service (AKS) node image upgrade
https://docs.microsoft.com/en-us/azure/ak

[2021-07-14 22:08] SatishBoddu-MSFT commented on #78322
Hello @wesmc7777 Could you please help in linking the right URL for **Processing data from IoT Hub with Azure Functions**.

[2021-07-14 22:10] BharathNimmala-MSFT commented on #78349
@Sonnenbach Thank you for reaching out us with your query, our team will review it and get back to you at the earliest.

[2021-07-14 22:12] scseely opened #78373 "Examples have bugs on azure/azure-resource-manager/managed-applications/microsoft-solutions-armapicontrol"
** Edited-- upon better testing, discovered that the second item is correct.

The first example in this document is wrong.

The detailed example shows:

`"path": "<subid>/resourceGroup/<resourceGroupName>/providers/Microsoft.Network/expressRouteCircuits/<routecircuitName>/?api-version=2020-05-01"`

The right version is:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-07-14 22:18] SatishBoddu-MSFT commented on #78348
@LijuV-MSFT
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-14 22:27] SatishBoddu-MSFT commented on #78351
Hello @ssivas Thanks for the feedback!

Our SME will review the issue and will get back to you.

[2021-07-14 22:27] BharathNimmala-MSFT commented on #78373
@scseely Thanks a lot for bringing this to our notice, we will review the feedback and the update the document accordingly.

[2021-07-14 22:28] jspaith commented on #78371
I'm going to close this for now since I don't know if this is actually good feedback/writeup.  i'll reopen if it is.

[2021-07-14 22:28] #78371 closed

[2021-07-14 22:29] SatishBoddu-MSFT commented on #78355
@johnpbaldwin
I have assigned the issue to the content author for further review.

[2021-07-14 22:30] SatishBoddu-MSFT commented on #78357
@WyattBest
I have assigned the issue to the content author for further review.

[2021-07-14 22:35] BharathNimmala-MSFT commented on #78366
@WyattBest Apologies for the experience. Thanks a lot for bringing this to our notice. Our team will review your feedback and update the document accordingly.

[2021-07-14 22:43] SatishBoddu-MSFT commented on #78361
@balbarka
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 22:48] mbukovich commented on #78369
@hpsin
That's a good point.

When I imagine the customer perspective, I can see them missing the detail that delegated permissions are required for the upstream API even though that is implied. Many customers who utilize this documentation are not authentication experts and may not pick up on the implications of user-principal authentication.

I think it will be beneficial to the customer if both

[2021-07-14 22:49] SatishBoddu-MSFT commented on #78363
@JohnPoetzinger
I have assigned the issue to the content author for further review.

[2021-07-14 22:50] SatishBoddu-MSFT commented on #78364
@abhiramani-iptiq
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 22:51] SatishBoddu-MSFT commented on #78365
Hello @ROSMITHJ-MSFT
I have assigned the issue to the content author for further review.

[2021-07-14 22:53] agressini commented on #31128
Hi there's still a problem:

https://aadap-portcheck.connectorporttest.msappproxy.net/ not working.

[2021-07-14 22:54] SatishBoddu-MSFT commented on #78372
Hello @jyama4ta Thanks for the feedback!

I have assigned the issue to the content author for further review.

[2021-07-14 22:55] SatishBoddu-MSFT commented on #78372
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-14 23:03] BharathNimmala-MSFT commented on #78367
@wjpigott Thanks a lot for sharing your feedback, we will review it and update the document accordingly.

[2021-07-14 23:10] TravisCragg-MSFT commented on #55648
@joaomoreno Thanks for bumping this, the original owner is no longer on the team. I have reassigned this issue to the correct owner.

[2021-07-14 23:15] Es-ci opened #78375 "bash script does not work as intended"
script does not work when enable_delete flag is set to true. it appears that it is not including the digest in the delete request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb1b3438-58e2-cd26-3b5e-1a1717fe182f
* Version Independent ID: ad41d0b4-39b1-7e24-836e-ff12d5016623
* Content: [Delete image resources - Azure

[2021-07-14 23:34] miketheitguy opened #78376 "Azure Government Documentation"
The application name for Azure Government is: Azure Government Cloud Management API.

This should be called out in the doc :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6262808-898e-6196-de6c-d76f649f20fa
* Version Independent ID: 2075ceab-b773-db35-a79d-7044e839bc17
* Content: [Conditional Access - Require MFA fo

[2021-07-14 23:41] JamesTran-MSFT commented on #78376
@miketheitguy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-14 23:42] SteveIves opened #78377 "Is there a WORKING example of this anywhere?"
The sample code on this page does not build, and does not appear to match published APIs. Is there a working version anywhere?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1077504-89c8-f04c-8c47-3c8f339ca63d
* Version Independent ID: 6a456ec6-b2f9-0815-f052-cbeaccb05f02
* Content: [Quickstart:

[2021-07-14 23:58] dlepow commented on #74829
More information about the kubelet managed identity used for access to ACR was added here:
https://docs.microsoft.com/azure/aks/cluster-container-registry-integration?tabs=azure-cli#configure-acr-integration-for-existing-aks-clusters

I will now proceed to close this issue. If you have further feedback, feel free to reopen this issue, or post a question to [Microsoft Q&A](https://docs.microsoft.co

[2021-07-14 23:58] #74829 closed

[2021-07-15 00:02] LoadLibrary commented on #75328
@SeadnaS please verify if the `Include prerelease` checkbox is selected within the NuGet UI in Visual Studio. Here is the URL from the NuGet feed: https://www.nuget.org/packages/Azure.Communication.Calling

Thanks for your feedback. We do have in our roadmap developing a drop to be used by Unity, unfortunately there is no firm timeline for it at this moment.

[2021-07-15 00:13] dlepow commented on #58569
@bussemac - Apologies for the delay responding to your issue. The article has been updated with steps to use the App Registration workflow in Azure AD B2C. Thanks for your feedback!
#please-close

[2021-07-15 00:13] #58569 closed

[2021-07-15 00:21] tfitzmac commented on #78266
@QuiteNewbieButImproving - thanks for your feedback. I have confirmed that the documented syntax works. You might be seeing the error if you are using an older version of Azure CLI. It looks like the [parsing of parameters](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?toc=%2Fcli%2Fazure%2Ftoc.json&bc=%2Fcli%2Fazure%2Fbreadcrumb%2Ftoc.json&view=azure-cli-latest&tabs=azure-cli#

[2021-07-15 00:28] v-hakob opened #78378 "Could you please clarify our understanding about this doc?"
The FAQ section says enabling the customer managed keys does not incur an additional charge, but it also says "When using customer-managed keys, Request Units consumed by your database operations see an increase to reflect the additional processing required to perform encryption and decryption of your data".

Customer understood there are no initial charges but they wonder if there are any charges

[2021-07-15 00:33] tfitzmac commented on #78283
@QuiteNewbieButImproving - thanks for the suggestion. I agree that adding conditional deployment for modules is an important clarification. I will add it.

[2021-07-15 00:56] MartinJaffer-MSFT commented on #77361
Last I spoke , I was told "very soon".  I'll ask what the status is now.

The failed pipelines is a separate metric, and already available.

[2021-07-15 00:57] ThomasWeiss commented on #78378
@v-hakob When using customer-managed keys, the RUs consumed by your database operations see a slight increase. So an operation that used to charge 2.5 RUs may charge 2.8 RUs instead for example. In provisioned throughput mode, this doesn't have any direct cost impact because you pay for the throughput that you've provisioned, not for the RUs consumed - and this increase in RUs doesn't necessarily

[2021-07-15 01:01] grillba opened #78379 "Agent is called DependencyAgentLinux not DependencyAgentForLinux"
Agent is called DependencyAgentLinux not DependencyAgentForLinux

refer output from "az vm extension image list"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe664fa2-7a2b-54c4-ebdb-8f73abfe90ac
* Version Independent ID: 6f0e4f7f-715d-e886-96f8-ab96a269a58e
* Content: [Troubleshoot VM insights - Azure Monitor](https:

[2021-07-15 01:23] frankliclin commented on #28845
Thank you @ems75.  I appreciate you update.

[2021-07-15 01:24] tullydwyer opened #78380 "Specify in the documentation that the FQDN that is assigned when you create a private endpoint is globally unique"
Hi there,

Are we able to specify in the documentation that the FQDN that is assigned when you create a private endpoint is globally unique? I contacted MS support and they advised to me that it is globally unique per private endpoint. However I could not find this documented anywhere, and he failed to show me where this is documented anywhere.

I know that it is easily assumed, however we need to

[2021-07-15 01:43] kromerm commented on #76738
fixed and publishing this week

[2021-07-15 01:44] kromerm commented on #76738
#please-close

[2021-07-15 01:44] #76738 closed

[2021-07-15 01:48] wesmc7777 commented on #78322
Looks like the sample repo has been deleted. I'm trying to find out why. I think we could just use this link instead..

[Azure IoT Hub bindings for Azure Functions](https://docs.microsoft.com/azure/azure-functions/functions-bindings-event-iot)

[2021-07-15 01:49] wesmc7777 commented on #78322
I'll update the doc with that link

[2021-07-15 01:59] JoeyCjj commented on #78315
Yes, here are the detailed images for your reference:

1. In our APIM Analytics, when we clicked "Geography" tab, the country is shown as USA.
![a](https://user-images.githubusercontent.com/31751592/125715440-92dcd139-f45a-4f6e-8aab-a8718efafce4.jpg)

2. When we checked the "Requests" tab, we could see all the request information like IP address and service region.
![a](https://user-images.githubu

[2021-07-15 02:07] SnehaGunda commented on #71924
@ericpopivker thanks for your feedback, I submitted a PR above to update the doc. It will be reviewed and published by end of this week. We will now close this issue.

#please-close

[2021-07-15 02:07] #71924 closed

[2021-07-15 02:08] SnehaGunda commented on #72267
@felixtsem5 thanks for your feedback, I submitted a PR above to update the doc. It will be reviewed and published by end of this week. We will now close this issue.

#please-close

[2021-07-15 02:08] #72267 closed

[2021-07-15 02:14] ryoji-kawamura commented on #77649
@jeevansd @GitaraniSharma-MSFT @CelesteDG

The google apps page is also not localized in the logout URL section, so I would like to have the same.
https://docs.microsoft.com/ja-jp/azure/active-directory/saas-apps/google-apps-tutorial
![image](https://user-images.githubusercontent.com/12743140/125717013-c483586b-5a2c-43c0-8179-cff2dca21c69.png)

[2021-07-15 02:20] BharathNimmala-MSFT commented on #78379
@grillba Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, however if

[2021-07-15 02:20] #78379 closed

[2021-07-15 02:39] BharathNimmala-MSFT commented on #78060
@mstair My sincere apologies for delay in getting on this thread. Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document to reflect the feedback. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what

[2021-07-15 02:39] #78060 closed

[2021-07-15 02:40] amsliu commented on #74598
@merill Thank you for your feedback! I have incorporated this update to the documentation under "Create an access review of Azure AD roles in PIM - Azure AD". You can view this change in this pull request: MicrosoftDocs/azure-docs-pr#165639. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2021-07-15 02:40] #74598 closed

[2021-07-15 02:57] ghost opened #78381 "External IP in document doesn't match the ip in screenshot."
[Enter feedback here]

External IP(100.x.y.z/24) in document doesn't match the ip (10.100.x.y/24) in screenshot. The ip in screenshot makes more sense.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1130e194-0e0f-d7e9-1f5f-2101a173f9ff
* Version Independent ID: 1f8e045c-4c83-f414-08aa-d68352e6abec
* Content: [Configure

[2021-07-15 03:51] Restry commented on #78068
ok thanks

[2021-07-15 03:54] ssivas commented on #78351
Thanks @SatishBoddu-MSFT , Here is similar issue from Microsoft Q&A : https://docs.microsoft.com/en-us/answers/questions/475322/index.html .

[2021-07-15 03:56] hyoshioka0128 opened #78383 "[LOC]Not Translated (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/cosmos-db/create-graph-gremlin-console"
![create-graph-gremlin-console_j](https://user-images.githubusercontent.com/40815708/125726626-976c89f7-bfa6-4afd-bb26-c31a6f0e15dd.png)

en-us:"https://docs.microsoft.com/en-us/azure/cosmos-db/create-graph-gremlin-console"
![create-graph-gremlin-console_e](https://user-images.githubusercontent.com/40815708/12572

[2021-07-15 04:02] hyoshioka0128 opened #78384 "[LOC]Not Translated (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/cosmos-db/create-cosmosdb-resources-portal"
![create-cosmosdb-resources-portal_j](https://user-images.githubusercontent.com/40815708/125727059-e24e390f-cd9b-4f6f-975c-603fc095a1b5.png)

en-us:"https://docs.microsoft.com/en-us/azure/cosmos-db/create-cosmosdb-resources-portal"
![create-cosmosdb-resources-portal_e](https://user-images.githubusercontent.co

[2021-07-15 04:05] v-hakob commented on #78378
@ThomasWeiss , thank you for the quick response and explanation.

[2021-07-15 04:11] #78052 closed

[2021-07-15 04:15] SrijitBose-MSFT commented on #78375
@Es-ci , thank you for your feedback. We are currently investigating this.

[2021-07-15 04:37] chazguerrero opened #78385 "Code Examples of how to support this"
I get you can connect from the CLI but how does that help with C#, Java, JavaScript, Python, GoLang... etc

Would love to have example projects or configuration in Azure AD for any of it. Following these docs trying to get a token i get a scope error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f87e092b-c331-8bc9-90

[2021-07-15 04:50] BharathNimmala-MSFT commented on #78336
@tricksterisback Thanks again for bringing this to our notice and helping us improve our Azure documentation. I have raised a PR to update the document. Once the PR is reviewed and approved , changes would go live.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed above. We will go ahead and close this issue for now, how

[2021-07-15 04:50] #78336 closed

[2021-07-15 05:00] wangmiaowei commented on #78211
Thanks for your reply.The page link :"https://docs.microsoft.com/en-us/azure/kinect-dk/record-file-format" When I try to extract depth image from .mkv file, I found the maximum value is greater than 10000. Since the maximum depth range of Azure Kinect is about 2~4 meter. I do not what meaning of that unit value refers to ?

[2021-07-15 05:14] tacharyagithub opened #78387 "Syntax for multiple Partition keys"
If there are two partition keys on a table how the syntax will be ? it was easy because there was only one partitionkey. In case there are more like year and month as two partition keys then what will be the syntax?

spark.sql(s"""
     |MERGE INTO $targetTableName
     |USING $updatesTableName
     |ON $targetTableName.par IN (1,0) AND $targetTableName.id = $updatesTableName.id
     |WHEN MATCHED

[2021-07-15 05:14] SrijitBose-MSFT commented on #78375
@Es-ci we were unable to reproduce this behavior. Can you please share the Azure CLI version by running `az version`? Also can you please confirm that with `ENABLE_DELETE=false` the script  lists all manifest digests in a repository older than a specified timestamp, in ascending order?

[2021-07-15 05:21] pohorely opened #78388 "CosmosDB RBAC - disable account keys"
Hello Microsoft,

I have two questions, regarding CosmosDB RBAC configuration.

1) [The page](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#disable-local-auth) is mentioning ARM property `disableLocalAuth` in resource type `Microsoft.DocumentDB/databaseAccounts`, but **it is missing in [the ARM definition/documentation page](https://docs.microsoft.com/en-us/azure/templates/mic

[2021-07-15 05:30] GitaraniSharma-MSFT commented on #78380
@tullydwyer , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-15 05:36] GitaraniSharma-MSFT commented on #78381
@henryxu69 , thank you for your feedback. We have assigned this to the content owner/author for correction.

@yushwang , could you please correct the External IP address spaces in the screenshots provided in the below 2 sections as they do not match the doc:

Step 2 under [Create NAT rules](https://docs.microsoft.com/en-ca/azure/vpn-gateway/nat-howto#part-2-create-nat-rules)

![image](https://user

[2021-07-15 05:41] MayankBargali-MSFT commented on #77776
@scott-alvis  Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-15 05:41] #77776 closed

[2021-07-15 05:51] AnuragSharma-MSFT commented on #78388
@pohorely Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-15 06:06] RohitMungi-MSFT commented on #78377
@Stevelves Could you please provide an error message seen while following the documentation?
These samples should also be available on github [here ](https://github.com/Azure/azure-sdk-for-net/tree/main/sdk/formrecognizer/Azure.AI.FormRecognizer/samples)for reference.

[2021-07-15 06:29] AnuragSharma-MSFT commented on #78244
@daemel Could you please check below articles that has same details:

[Configure Azure RBAC for FHIR](https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/configure-azure-rbac)

[Access Azure API for FHIR with Postman](https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/access-fhir-postman-tutorial)

[2021-07-15 06:56] SteveIves commented on #78377
I worked through the GitHub examples, started out with like 50 compile errors. Figured out most of them, now I’m down to 1, which has me beat!

You should have someone work through the tutorial, copying and pasting the code. It doesn’t work! Bit sorry, I don’t have time to diagnose the problems for you!

Steve Ives

________________________________
From: RohitMungi-MSFT ***@***.***>
Sent: Wednesda

[2021-07-15 07:00] Herman5006 opened #78390 "what is Azure commercial cloud?"
[Enter feedback here]
In page https://docs.microsoft.com/en-us/azure/automation/how-to/private-link-security, it mentions that:
 "Private Link support with Azure Automation is available only in Azure Commercial and Azure US Government clouds."

What is the Azure Commercial cloud? Is this same with Azure public Cloud?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-07-15 07:02] ssivas commented on #77984
Hello @gaurav1264 , I am working with product team to get more insight. Kindly allow us sometime, will let you know as soon as have an update form team. Thank you for your time and patience.

[2021-07-15 07:04] Herman5006 opened #78391 "Does Microsoft Peering support "Azure Portal"?"
[Enter feedback here]
We want to secure traffic when connection to Azure portal. Currently when connecting to Azure Portal, traffic will go through internet.

We want to whether we can connect to Azure portal through express route with Microsoft Peering? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cdb32c0-6

[2021-07-15 07:23] RohitMungi-MSFT commented on #78377
@SteveIves I agree with you on this. There seems to be lot of duplicates in the snippets and changes in the method names too. Apologies for the same.

@laujan Could we fix the document with correct snippets and steps to avoid the compilation issues?

[2021-07-15 07:34] Swenzzon commented on #78284
Hi @KranthiPakala-MSFT

The same problem in this case
https://github.com/MicrosoftDocs/azure-docs/issues/78351

[2021-07-15 07:39] ShaikMaheer-MSFT commented on #78387
@tacharyagithub Thank you for providing feedback. We are actively validating it. We will get back soon.

[2021-07-15 07:40] orenzi-tr opened #78392 "DNS configuration to your ASE, Windows DC don't support @ value for A Record"
When setting up DNS resolving for my ASEv3, I get an error when trying to set up an A record with a value of `@` based on the instruction in the [DNS configuration to your ASE](https://docs.microsoft.com/en-us/azure/app-service/environment/networking#dns-configuration-to-your-ase)

See the error below, does my DC have to be at a specific version to be able to set up a record like this?

I'm using

[2021-07-15 08:23] GitaraniSharma-MSFT commented on #78391
@Herman5006 , thank you for your query. We'll investigate this and get back to you shortly!

[2021-07-15 08:28] SnehaAgrawal-MSFT commented on #78392
@orenzi-tr Thank you for your feedback! We will review and update as appropriate.

[2021-07-15 08:36] Sodaine commented on #33618
Is this method documented and why I can't use it?
![image](https://user-images.githubusercontent.com/31346926/125756830-d4f15d28-439c-45fa-91cc-111becc4322c.png)

[2021-07-15 08:46] mahia127 opened #78394 "Firewall Premium SKU is not supported in Secure Hub deployments"
Firewall Premium can be selected within the Secure Hub deployment via Azure Firewall Manager, so it is supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bef38298-89c0-6c77-fb9d-7bf6bd5dc030
* Version Independent ID: 335d7b03-3e6f-61b6-fe19-19441c1b6b36
* Content: [Azure Firewall Premium Preview features](https:/

[2021-07-15 08:47] mahia127 commented on #78394
![image](https://user-images.githubusercontent.com/16119919/125758603-b4cbef3b-1b8e-4297-ae7d-6ec19d8e8457.png)
This should be supported and therefore the "important" window should be changed

[2021-07-15 08:57] GitaraniSharma-MSFT commented on #78380
@tullydwyer , could you please provide the support request number for your conversation to validate the information on our end?

[2021-07-15 09:27] jmprieur commented on #78338
@JamesTran-MSFT, @SatishBoddu-MSFT : I propose we assign this one to @mmacy who has a plan to get the tutorials from the incremental samples.
Meanwhile, @pitawatn, you have a great incremental sample in GitHub. The readme explain the code as well. See https://docs.microsoft.com/azure/active-directory/develop/sample-v2-code#web-applications

[2021-07-15 09:28] jmprieur commented on #78338
#please-assign @mmacy

[2021-07-15 09:34] ram-msft commented on #78197
Bing search has migrated from cognitive services and you need to use the REST API with your resource credentials to hit the search API. All quickstarts are available [here ](https://docs.microsoft.com/en-us/bing/search-apis/bing-news-search/quickstarts/quickstarts) with the correct endpoint https://api.bing.microsoft.com/v7.0/news/search and keys.

[2021-07-15 09:38] AnuragSharma-MSFT commented on #78323
@rarandiv We have the Save Money option for vCore-Based Purchasing Model as shown in below screenshot. However it is not available on DTU-Based Purchasing model.

![image](https://user-images.githubusercontent.com/66360845/125766307-bb54c3ec-6e38-4ce0-8943-da60617685fd.png)

[2021-07-15 10:04] pitawatn opened #78396 "Custom role JSON snippets can't be used in JSON editor when adding custom role"
All custom role JSON snippets shown in this documentation can't be pasted directly into JSON editor when adding a new custom role. It shows `Malformed JSON` error when clicking 'Save' on the JSON editor. Looks like the JSON format is wrong/outdated.

The correct custom role JSON format is described in this [documentation](https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-role

[2021-07-15 10:10] rarandiv commented on #78323
@AnuragSharma-MSFT , Thanks for checking. Yes, but it seems it does not mention correctly in the doc the way we have in the portal?

[2021-07-15 10:14] GitaraniSharma-MSFT commented on #78394
@mahia127 , thank you for your feedback. We'll review this and get back to you shortly!

[2021-07-15 10:20] Shak97 commented on #78254
Got it working using the SDK, turns out I just needed to delete the obj folder, project is configured on .NET Framework 4.8, Thanks for your prompt response :)

[2021-07-15 10:20] #78254 closed

[2021-07-15 10:57] HarshitaSingh-MSFT commented on #78283
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-15 10:57] #78283 closed

[2021-07-15 11:06] wladinho31 opened #78398 "Do we still need to download certificate for MySQL?"
Hello,

I have tested MySQL SSL connection, and it seems that providing a certificate mentioned in the [official documentation](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl) is not needed anymore.
I have successfully connected to MySQL in Azure using MySQL Workbench and CLI without using any certificate provided in these tools.

Can you confirm this?

---
#### Document Details

[2021-07-15 11:15] AnuragSharma-MSFT commented on #78396
@pitawatn Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-15 11:23] KalyanChanumolu-MSFT commented on #78383
@hyoshioka0128 Thank you for taking the time to let us know.
We are checking this internally and do the needful.

@CeciAc Could you please help here?

[2021-07-15 11:24] KalyanChanumolu-MSFT commented on #78384
@hyoshioka0128 Thank you for taking the time to let us know.
We are checking this internally and will do the needful.

@CeciAc Could you please help here?

[2021-07-15 11:25] AnuragSharma-MSFT commented on #78385
@chazguerrero Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-15 11:34] camaosos commented on #47926
I'm having the same problem using the ManyModels solution. is there a solution for this problem?

[2021-07-15 11:37] lpmac commented on #78353
https://stackoverflow.com/questions/68393067/adf-v2-pipeline-debugging-error-codebadrequest-messagenull-targetpi

[2021-07-15 11:37] #78353 closed

[2021-07-15 11:37] PramodValavala-MSFT commented on #78073
@xuwenjian1995 Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Do note that this repository is primarily for addressing doc related feedbac

[2021-07-15 11:37] #78073 closed

[2021-07-15 11:47] kshitishsahoo opened #78399 "PAL Association SLA"
Can you please mention that this process would take four (4) weeks to reflect in reports for the Partners in Partner Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c18aa685-4ce8-dfca-9d66-e2b72362c368
* Version Independent ID: 6bf01896-11a1-8429-f59a-6476a4aee745
* Content: [Link your partner ID to track your i

[2021-07-15 11:53] HarshitaSingh-MSFT commented on #78399
Hello @kshitishsahoo , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-07-15 11:55] HarshitaSingh-MSFT commented on #78390
Hello @Herman5006, thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-15 12:01] shwetanka1902 opened #78400 "Doesn't solve any problem"
[Enter feedback here]
This page does not help in any way. Microsoft is throwing exceptions when following these examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19609d01-2128-d7ec-6ee1-7c9b3e86cb35
* Version Independent ID: 0a5ce83e-b17f-9d1c-786e-50ef3958c203
* Content: [Get a token in a web app that calls web

[2021-07-15 12:05] Es-ci commented on #78375
[code]
running with flag set to false works and outputs as described

when I switch the flag to true

it gives me a warning and then an error about the requested data not existing

[code]

I am able to run the command manually
`az acr repository delete --name repositoryname --image imagename@sha256:b247e8bdab3aa309b94d08207aa655942702b98783a7c8c9be1f9e13******** --yes`

[2021-07-15 12:20] QuiteNewbieButImproving commented on #78266
Hi Tom, thanks for the feedback. I agree with you, BUT...
I just verified I am using Azure CLI 2.26.0 which is more recent than the mentioned change in parsing parameters.

I noticed there is a difference when entering inline parameters directly on command line, or through a PowerShell variable (considering roles of and escaping quote:' and double-quote:")...

For example, in my case:
<code>$DestR

[2021-07-15 12:37] jmprieur commented on #78400
@shwetanka1902 : for which language? for Java?

[2021-07-15 12:44] chucksnow opened #78402 "Out-of-date documentation"
The properties of an Azure Active Directory B2B collaboration user have changed but the documentation was not updated.

The "Source" property was replaced with "Issuer".

Under "Invitation accepted" there is now an option "(manage)" that opens a new blade "Manage invitations" where an admin can resend an invite and/or reset the invitation status.

Some guest accounts now have a "Manage B2B collabo

[2021-07-15 12:54] SteveColegrove opened #78403 "Az Policy for Az Backup policies"
One of the recommendations is to propagate a backup policy across multiple vaults using Azure Policy.  I'm struggling with creating such a custom policy.  Are there any examples of a deployIfNotExists policy for Azure Backup policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88eb23b4-5aaa-f95e-6f73-4a89553cea58
*

[2021-07-15 13:01] ram-msft commented on #78197
@jamesarogersiii  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-15 13:01] #78197 closed

[2021-07-15 13:04] MGoedtel commented on #78390
@Herman5006 - Yes, Azure Commercial Cloud is the public, non-government version of Azure. That is one way we commonly refer to the public/global cloud in our documentation when the distinction needs to be made.

I'm going to proceed with closing this issue as it isn't directly related to an actual documentation issue. I hope this helps clear things up for you.  #please-close.

[2021-07-15 13:04] #78390 closed

[2021-07-15 13:19] AquilaSands opened #78405 "AllowInsecureAuthInProduction is recommended to be set to true"
Under the section 'Configure the RESTful API technical profile' it states

The recommended setting should be `false`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e32e9a4-3b2f-dafb-605e-d87350a7d58d
* Version Independent ID: 872b2c4c-7762-4ef8-29c5-29011da165a2
* Content: [Add API connectors to user flows (preview)]

[2021-07-15 13:42] fredobas opened #78406 "error in docs Quickstart: Create a server-level firewall rule using the Azure portal"
At point 4. of the guide, in the text box Important, you have to modify the ON to NO.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b404ba7-af5a-bb77-4cd4-c0123490e0ed
* Version Independent ID: d0430276-271c-4e57-ffdc-6b8a923b1dad
* Content: [Create a server-level firewall rule - Azure SQL Database](https://docs.micr

[2021-07-15 13:51] larlew opened #78407 "Provide details on configuring the DevOps Azure File Copy"
Please provide more details (screenshot) on how to configure the Azure File Copy.  I have a React app.  Im having trouble locating the source for the file copy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c820ae7-4107-902c-7458-a7cfe17e6bc1
* Version Independent ID: 631e0cbe-d72e-76bb-cb6f-05b42490f03b
* Content: [

[2021-07-15 13:54] sfia-andreidaniel commented on #39665
Same here, problem still persists.

[2021-07-15 14:07] AnuragSharma-MSFT commented on #78406
@fredobas Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-15 14:07] AnuragSharma-MSFT commented on #78398
@wladinho31 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-15 14:10] AnuragSharma-MSFT commented on #78205
@ArtiomLK Awaiting your response on this.

[2021-07-15 14:12] danimir commented on #78205
@AnuragSharma-MSFT I cannot respond to this as I am wrongly assigned as an owner of this article. Please reach out to Uros Milovanovic. Thanks.

[2021-07-15 14:12] psmanhas commented on #76797
@denishol Apologies for all the delay in response and all the inconvenience caused because of the issue. I did the repro as per mentioned by you in the verbatim and you are absolutely correct that the Linux Extension in Portal show as **AzureNetworkWatcherExtension**
![image](https://user-images.githubusercontent.com/35990743/125801992-f7ad373b-dbba-40e1-a899-85cce594fcf0.png)

Here catch is that

[2021-07-15 14:12] #76797 closed

[2021-07-15 14:28] erwin314 opened #78408 "missing requirement for App Registration verification"
The requirements are missing an important point:
_Both the App Registration and the user performing verification must be from the list of associated tenants of the MPN. (see MPN tenant management page at https://partner.microsoft.com/dashboard/account/v3/tenantmanagement)_

Reasoning:
It is technically possible to invite a user from AAD-1 to AAD-2 and make this user Global Administrator in both. B

[2021-07-15 14:30] #74472 closed

[2021-07-15 14:30] savjani commented on #78398
Did you use verify-ca in the connection string. Can you please share your connection string, removing the server names and identifiable details

[2021-07-15 14:33] MonikaReddy-MSFT commented on #77888
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-07-15 14:33] #77888 closed

[2021-07-15 14:34] MonikaReddy-MSFT commented on #78138
@dlepow - Thank you for providing your insights.
@matt-palermo-optum  - I hope @dlepow has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-15 14:34] #78138 closed

[2021-07-15 14:35] MonikaReddy-MSFT commented on #78186
@aakashrami - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-07-15 14:35] #78186 closed

[2021-07-15 15:14] tyler555g commented on #77633
[code]

[2021-07-15 15:17] tyler555g commented on #77633
I think a compromise similar to what I have done above shows both types and provides clarity for those trying to understand the correct pattern. Thoughts @davidmrdavid , @cgillum , @ConnorMcMahon ?

[2021-07-15 15:28] #78241 closed

[2021-07-15 15:37] splitfinity opened #78412 "Unclear as to where the custom model will reside"
Would love to give this a bash. How would the custom ML Model be productionised?
Will it require a DataBricks instance to be always on? Or can the model be packaged for use within a container?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e853baf-d5bc-9761-e77b-35fe2d179d8b
* Version Independent ID: e6d74ced-7424-883

[2021-07-15 15:47] philmea commented on #24431
#please-close

[2021-07-15 15:47] #24431 closed

[2021-07-15 15:49] SatishBoddu-MSFT commented on #78402
@chucksnow
I have assigned the issue to the content author for further review.

[2021-07-15 15:51] SatishBoddu-MSFT commented on #78403
@SteveColegrove
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-15 15:54] WyattBest commented on #78366
Thanks! I later found the proper instructions further down the page, in https://docs.microsoft.com/en-us/azure/automation/automation-windows-hrw-install#manual-deployment. I just never got that far because I was trying to satisfy the prerequisites.

[2021-07-15 16:14] Luismvm commented on #57579
What if the origin isn't available at all for some mysterious reason?

![image](https://user-images.githubusercontent.com/29466233/125821724-025b30c1-7585-4d3b-afe5-22d140039266.png)

[2021-07-15 16:15] PaulARoy commented on #47611
I implemented it myself with a custom .auth endpoint.
I tried the preview but there was no way to get the name from it.

[2021-07-15 16:30] bandersmsft commented on #78349
@Sonnenbach I agree that adding a table or list of VM types/categories that are exchangeable with each other is a good idea to add to the docs. I'll close this issue and follow up with you and the reservations PM in email.

#please-close

[2021-07-15 16:30] #78349 closed

[2021-07-15 16:36] HeidiHanZhang commented on #77737
@marki555 TTS is back for Switzerland North. Sorry for the inconvenience caused. Please have a try and let us know if you still encounter any issues. Thanks.

[2021-07-15 16:37] JamesTran-MSFT commented on #78405
@AquilaSands
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-15 16:38] jimmy-isaac opened #78413 "Link title misleading"
The following page:
     https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-data-explorer
has the following content
--------------
Tip

For a walkthrough of Azure Data Explorer connector, see Copy data to/from Azure Data Explorer using Azure Data Factory and Bulk copy from a database to Azure Data Explorer.
----------
However, there is no page for Copy data **from** Azure Data Exp

[2021-07-15 16:40] JamesTran-MSFT commented on #78408
@erwin314
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-15 16:57] tfitzmac commented on #78266
@QuiteNewbieButImproving - thanks for that info. I have added an example that shows using a variable for parameters. It should get published later today.
#please-close

[2021-07-15 16:57] #78266 closed

[2021-07-15 17:15] laujan commented on #78377
Hi @SteveIves. Thank you for your feedback. Which programming language were you using? Thanks again!

[2021-07-15 17:21] dlepow commented on #78315
@JoeyCjj - Thanks for details, this might be more of a product issue but I'll follow up to see if we want to note this in some way in the documentation.

[2021-07-15 17:27] CelesteDG commented on #77649
Hi @ryoji-kawamura - Thank you for the feedback and for your patience. We're following up with our localization team and will update this thread once we have more information to share.

[2021-07-15 17:28] himanshusinha-msft commented on #78413
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-07-15 17:35] jlichwa commented on #77070
Closing with no response from customer. @mvzink please free to reopen when there are more questions #please-close

[2021-07-15 17:35] #77070 closed

[2021-07-15 17:39] jlichwa commented on #77571
Thank you, I have updated the typo. In this tutorial we are using Cloud Shell with PowerShell syntax as explained in Prerequisites. Commands based on platform will vary and you will need to use one appropriate to your environment. #please-close

[2021-07-15 17:39] #77571 closed

[2021-07-15 17:40] Vipin-Sharma commented on #77625
This way I can see my Java API and DB calls, along with the time taken. Not at all useful.

I want to see which method in java has taken how much time, if possible I would like to see even operating system level API details along with time that has taken. @MS-jgol  @BharathNimmala-MSFT @GitaraniSharma-MSFT

Right now Java based function app is a black box, with no way to get information on what is

[2021-07-15 17:43] gcontrabass opened #78414 "How to produce Azure maps displays as shown within the tutorial?"
My team has been working through the tutorial that I believe you contributed – Implement IoT Spatial Analytics.

In  the tutorial there are a few maps that show the geofence, the route, and points outside the geofence:
![image](https://user-images.githubusercontent.com/33297043/125833150-2915ef0c-30b0-4240-a91b-0125233cbaf1.png)

![image](https://user-images.githubusercontent.com/33297043/12583319

[2021-07-15 17:47] felickz commented on #63908
Plural command "KeyS" was deprecated ([see ](https://github.com/Azure/azure-powershell/issues/9412)) Get-AzOperationalInsightsWorkspaceSharedKeys but still getting this WARNING on ["Key" command](https://docs.microsoft.com/en-us/powershell/module/az.operationalinsights/get-azoperationalinsightsworkspacesharedkey?view=azps-6.2.1):

[code]

returns:

[2021-07-15 17:48] cynthn commented on #77448
@DavidVivash Sorry it has taken so long for me to respond!

For new deployments, if there is a full regional outage and the SSH key resource is in the affected region, it won’t be accessible until the outage is resolved. For a single zone outage, the public key should be available.

A copy of the public key is transferred to VM when it is created. So for just accessing the VM using the key, the ke

[2021-07-15 17:48] #77448 closed

[2021-07-15 17:49] jlichwa commented on #77064
@Lucas-MSFT this tutorial is just showing most common scenario with MSI for Key Vault. If you are looking for complete documentation to the product https://azure.github.io/secrets-store-csi-driver-provider-azure/configurations/identity-access-modes/service-principal-mode/ #please-close

[2021-07-15 17:49] #77064 closed

[2021-07-15 17:53] jlichwa commented on #77542
@wvdd007 this product is open source any questions as mentioned on the top should be directed to their github : https://github.com/kubernetes-sigs/secrets-store-csi-driver #please-close

[2021-07-15 17:53] #77542 closed

[2021-07-15 17:56] jlichwa commented on #76477
@HimanshuZinzuwadia it seems like issue with AKS connection. Please contact their team to help troubleshoot: https://github.com/kubernetes-sigs/secrets-store-csi-driver #please-close

[2021-07-15 17:56] #76477 closed

[2021-07-15 17:58] asudbring commented on #77451
Batch is added to the table of supported services in availability page.

#please-close

[2021-07-15 17:58] #77451 closed

[2021-07-15 18:00] asudbring commented on #77482
Sending to PM for review.

#please-assign:@ivapplyr

[2021-07-15 18:02] jlichwa commented on #77082
@erik-anderson it will depends on Azure services implementation, you need to reach out to that services to see how it is using certificates stored in Key Vault. We have no control and it really depends on the scenario - non-exportable is proffered option.
Key Vault itself it has both private and public key stored. #please-close

[2021-07-15 18:02] #77082 closed

[2021-07-15 18:05] SatishBoddu-MSFT commented on #78348
hello @LijuV-MSFT

Please have a look at the below document, I hope this document helps with your initial query.

[Upload a VHD to Azure or copy a managed disk to another region - Azure PowerShell](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-upload-vhd-to-managed-disk-powershell)

[2021-07-15 18:05] arun-rangarajan opened #78415 "How to import Azure batch extensions"
Not sure where `batch` comes from in the following statement:

[code]

How does one import modules from the package `azure-batch-extensions`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02d04118-4576-2e79-0dd0-cafa4085be56
* Version Independent ID: 974a2f3d-c19d-85c8-3a43-28cc7276da0d
* Content: [Submit a large numb

[2021-07-15 18:05] asudbring commented on #77451
Will update table.

#reassign:@asudbring

[2021-07-15 18:08] lobrien commented on #75768
I'm going to ask to #please-close this, as the YAML-based specification for pipelines is changing and improving in the current weeks. We are preparing docs for that.

[2021-07-15 18:08] #75768 closed

[2021-07-15 18:09] jlichwa commented on #77685
@VIPULKAM it seems like you did not setup environment variable with your key vault name as explained here:
https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python#set-environment-variables

Also this tutorial is running within Azure CLI logged to Azure to retrieve the token, not in Visual Studio.
For more information about authentication using Azure Identity you can find here:

[2021-07-15 18:09] #77685 closed

[2021-07-15 18:10] asudbring commented on #77052
Listed in the SKUs table that V2 only supported.

#please-close

[2021-07-15 18:10] #77052 closed

[2021-07-15 18:14] matuhinal opened #78418 "connect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cf29e05-1e64-cbaf-c774-79d7fb4acf5b
* Version Independent ID: 523e8db2-6428-6a51-b536-c3d531560aee
* Content: [Change your credit card for Azure](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/change-credit-card)
* Content Sour

[2021-07-15 18:16] asudbring commented on #77124
Azure Backup and Azure Storage are already listed in the DNS table on the page referenced.

#please-close

[2021-07-15 18:18] SteveIves commented on #78377
C# and .NET Core 3.1

All I did was copy and paste all the code from the sample, tried to build it, and it did not build. I managed to resolve most of the issues, I suspect that some of the API's have changed since the article was written; that's one of the MOST frustrating things about .NET Core, API's change SO MUCH that as soon as you publish an example, things start to change.

All I know is,

[2021-07-15 18:19] asudbring commented on #77124
#please-open
Got this one confused with another one.  Added it to table.

[2021-07-15 18:20] thisisbrianstewart commented on #78388
Just ran into this as well, ARM returns an error when that property is sent.

[2021-07-15 18:21] asudbring commented on #74883
Will update graphic.

[2021-07-15 18:24] asudbring commented on #75134
Document updated.

#please-close

[2021-07-15 18:24] #75134 closed

[2021-07-15 18:25] SAURABH-MS commented on #78272
Update : Issue got solved by using com.microsoft.azure:azure-eventhubs-spark_2.12:2.3.17 instead of the older version mentioned in the doc.

[2021-07-15 18:25] asudbring commented on #75435
Sending to PM for review

#reassign:@ivapplyr

[2021-07-15 18:26] MGoedtel commented on #76922
@YusakuIto-yui - I followed-up on this and confirmed that the team who translates the content to other languages has updated and released the note in the article.  I apologize for the delay, but there is a process and workflow that handles managing this and sometimes it takes longer than expected. Since the issue is resolved, I'm going to proceed with closing this issue.  Thank you for bringing th

[2021-07-15 18:26] #76922 closed

[2021-07-15 18:26] asudbring commented on #75467
Sending to PM for review

#reassign:@ivapplyr

[2021-07-15 18:27] asudbring commented on #75931
Sending to PM for review

#reassign:@ivapplyr

[2021-07-15 18:28] asudbring commented on #75993
I will take a look at this one.

#reassign:@asudbring

[2021-07-15 18:28] karlochacon opened #78420 "Issue when creating cluster - https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker#cluster-installation"
hey guys

we are having issues configuring this cluster node01 and node02 we are following these steps

- Cluster installation
- Create Azure Fence agent STONITH device
- Pacemaker configuration for Azure scheduled events
- Suse 15 for SAP SP2

and this is the error
[code]

the guide we are following

https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-sus

[2021-07-15 18:29] HarshitaSingh-MSFT commented on #78325
Do the examples in this PR help?: https://github.com/Azure/azure-rest-api-specs/pull/13275/files

[2021-07-15 18:29] asudbring commented on #76203
#please-close

[2021-07-15 18:29] #76203 closed

[2021-07-15 18:32] asudbring commented on #76361
Assigning to PM for review

#reassign:@ivapplyr

[2021-07-15 18:33] asudbring commented on #73884
Sending to PM for review

#reassign:@ivapplyr

[2021-07-15 18:35] asudbring commented on #74764
Will update table
#assign:@asudbring

[2021-07-15 18:36] asudbring commented on #69403
#please-close

[2021-07-15 18:36] #69403 closed

[2021-07-15 18:37] asudbring commented on #69711
Will update graphic

[2021-07-15 18:40] asudbring commented on #72116
Sending to PM for review

#assign:@ivapplyr

[2021-07-15 18:41] asudbring commented on #72739
Sending to PM for review and information to add:

#reassign:@ivapplyr

[2021-07-15 18:41] tfitzmac commented on #78283
This update will get published later today.

[2021-07-15 18:42] lobrien commented on #75540
Documentation-wise, I'm going to ask to #please-close this. The way that pipelines are specified is undergoing significant changes and improvements in a forthcoming public preview. We have docs in preparation for that release and they address the issue of parallel execution.

[2021-07-15 18:42] #75540 closed

[2021-07-15 18:43] asudbring commented on #59695
Hi @mmisztal1980
The quickstart is meant to be a prescriptive steps to do one thing without options.  It's up to the individual service owners to include that information in their individual articles for their service on how to deploy the different options.

#please-close

[2021-07-15 18:43] #59695 closed

[2021-07-15 18:44] MGoedtel commented on #73229
@PKPublicCode - Thanks for bringing this to our attention.  The article is out-of-date with the Az cmdlet and I'll file a work item now to have the article updated. Item 17 should specify you select the parameter set - **ServicePrincipalWithSubscriptionId**. We will see if we can get this updated in the July sprint, otherwise it will be completed in our August sprint.

Closing this issue as I've c

[2021-07-15 18:44] #73229 closed

[2021-07-15 18:44] asudbring commented on #60688
Sending to PM for review:

#reassign:@ivapplyr

[2021-07-15 18:46] asudbring commented on #61906
Adding PM for review:

 ##assign:@ivapplyr

[2021-07-15 18:47] asudbring commented on #63176
Adding PM for review

#assign:@ivapplyr

[2021-07-15 18:48] asudbring commented on #64332
Adding PM for review

#assign:@ivapplyr

[2021-07-15 18:50] asudbring commented on #64867
Adding PM for review

#assign:@ivapplyr

[2021-07-15 18:51] asudbring commented on #65091
Sending to PM for review

#assign:@ivapplyr

[2021-07-15 18:51] jlichwa commented on #76354
@jmwai it seems like it is a problem with your environment. You can try to reinstall packages
examples:
https://github.com/Azure/azure-cli/issues/11274
https://gitmemory.com/issue/Azure/azure-sdk-for-python/8497/551170157

[2021-07-15 18:53] asudbring commented on #66353
Fixing graphic

[2021-07-15 18:53] asudbring commented on #66642
#please-close

[2021-07-15 18:53] #66642 closed

[2021-07-15 18:54] tfitzmac commented on #78329
@bfrankMS - Currently, there is no way to use the size selector for creating multiple VMs in different regions. You would have to consider dividing your template. You could [request this new feature](https://feedback.azure.com/forums/281804-azure-resource-manager).
#please-close

[2021-07-15 18:54] #78329 closed

[2021-07-15 18:54] asudbring commented on #67781
Will update document

#reassign:@asudbring

[2021-07-15 18:55] asudbring commented on #67923
Document updated
#please-close

[2021-07-15 18:55] #67923 closed

[2021-07-15 18:58] asudbring commented on #39634
Sending to PM for review

#assign:@ivapplyr

[2021-07-15 18:59] asudbring commented on #48264
adding PM for review

#assign:@ivapplyr

[2021-07-15 19:00] asudbring commented on #49473
#please-close

[2021-07-15 19:00] #49473 closed

[2021-07-15 19:01] WShelt0n opened #78422 "Azure application doesn't support provisioning"
It appears that the Azure Enterprise Application for Netsuite SSO no longer supports automatic provisioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e5ca67-5719-9aa3-e294-6cefa40b2c87
* Version Independent ID: 5241e38f-05f2-a2ba-7483-629418968ab3
* Content: [Tutorial: Azure Active Directory single sign-on (SSO

[2021-07-15 19:02] asudbring commented on #51661
The limitation is listed in the availability table:
https://docs.microsoft.com/en-us/azure/private-link/availability

The limitations section is for limitations of the private link service not the resources it supports.  It's up to the individual service owners to mention in their docs what they support.

#please-close

[2021-07-15 19:02] #51661 closed

[2021-07-15 19:03] asudbring commented on #52568
RBAC perms listed here:
https://docs.microsoft.com/en-us/azure/private-link/rbac-permissions

#please-close

[2021-07-15 19:03] #52568 closed

[2021-07-15 19:04] femsulu commented on #77995
Hello @MS-jgol  - please review this doc-enhancement request when time permits.

[2021-07-15 19:04] asudbring commented on #53157
#please-close

[2021-07-15 19:04] #53157 closed

[2021-07-15 19:05] asudbring commented on #54061
#please-close

[2021-07-15 19:05] #54061 closed

[2021-07-15 19:06] asudbring commented on #55694
#please-close

[2021-07-15 19:06] #55694 closed

[2021-07-15 19:07] asudbring commented on #56115
#please-close

[2021-07-15 19:07] #56115 closed

[2021-07-15 19:08] asudbring commented on #56956
#please-close

[2021-07-15 19:08] #56956 closed

[2021-07-15 19:08] jaydeepn commented on #78114
@pnarsi Thanks for your feedback.

We were in the process of updating the specific documentation and have made it simpler for understanding. Your suggestion was something in line with the updates we had planned to make. The new documentation has been published.

Do share any additional feedback if you have. Thanks!

[2021-07-15 19:09] asudbring commented on #57271
Adding PM for review:

#assign:@ivapplyr

[2021-07-15 19:09] asudbring commented on #58110
#please-close

[2021-07-15 19:09] #58110 closed

[2021-07-15 19:14] tfitzmac commented on #78112
@oaas - thanks for this feedback. I have added some additional information about how to update tags for resources that don't currently support portal updates. It looks like there is an existing [feature request](https://feedback.azure.com/forums/217313-networking/suggestions/42971664-allow-tags-to-be-updated-added-deleted) that is similar to your request. You might want to add your scenario to the

[2021-07-15 19:14] #78112 closed

[2021-07-15 19:16] andresu13 commented on #46663
This other Azure Site Recovery document specifies that "Azure Site Recovery allows you to use Azure Private Link private endpoints to replicate your on-premises machines". See below:

https://docs.microsoft.com/en-us/azure/site-recovery/hybrid-how-to-enable-replication-private-endpoints

Therefore, this document should be updated to clarify that replication over VPN is supported now as long as pri

[2021-07-15 19:19] andresu13 opened #78424 "Update document to specify that replication over VPN is supported via Private Endpoint"
There are multiple places in the Azure Site Recovery documentation specifying that replication over VPN is NOT supported including this article.

However, if you look at this other Azure Site Recovery document, it clearly specifies that "Azure Site Recovery allows you to use Azure Private Link private endpoints to replicate your on-premises machines". See below:

https://docs.microsoft.com/en-us/a

[2021-07-15 19:24] femsulu commented on #78366
Thanks for the update @WyattBest. Don't hesitate to ping if you have any followup questions.

[2021-07-15 19:24] #78366 closed

[2021-07-15 19:26] ArtiomLK commented on #78205
Hi @AnuragSharma-MSFT

Maybe it's only me but if I run this script to create an SQLMI, it creates the SQLMI successfully:

[code]

However, if I remove the `--delegations Microsoft.Sql/managedInstances` from the snet, I get the following error:

←[91mManaged Instance deployment failed as provided subnet '/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/rg-testapp-prod/providers/M

[2021-07-15 19:27] AquilaSands opened #78425 "AllowInsecureAuthInProduction is recommended to be set to true"
Under the section 'Configure the RESTful API technical profile' it states

AllowInsecureAuthInProduction. In a production environment, make sure to set this metadata to true

The recommended setting should be false.

This is the same as #78405 but on a different page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 781f

[2021-07-15 19:37] mihammer opened #78427 "AD Universal groups required when adding permissions by Group"
Hi,

I just had a case where the customer's users could not access the share after giving their group permission to do so.

The root cause turned out to be the AD group type was "local domain".  Once this was changed to type "Universal", it worked fine.

There was no mention of this requirement.

In addition, it allowed the user to assign the "local domain" group without error.

Please update this

[2021-07-15 19:40] KranthiPakala-MSFT commented on #78361
Hi @balbarka Thanks for reaching out. Were you not able to see below settings in your Workspace?

![image](https://user-images.githubusercontent.com/50185738/125847497-a1066ab2-6434-43fc-8922-777fc18c763b.png)

If you don't see it, I would recommend to give a try clearing your browser cache.

Let us know how it goes.

Thanks

[2021-07-15 19:43] baanders commented on #77381
Following up with the latest status. This week we've started looking at this item and thinking about how we'll frame the scenario for the docs. I'll continue to update when we have something more concrete to share!

[2021-07-15 19:55] JamesTran-MSFT commented on #78063
@beowulf79
Thank you for your time and patience throughout this issue.

When it comes to getting the roles claim after adding your service principal to a group, are you able to share the token you received? Or were you able to reproduce this within your environment?

[2021-07-15 19:56] andrewbrownmsft commented on #77875
Hi. To start with, have you reviewed the information at this link? It may help:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-implicit-grant-flow

We do specifically recommend using the Microsoft Authentication Libraries (MSAL) for this purpose.

[2021-07-15 19:56] davidsmatlak commented on #46663
@Harsha-CS you're listed as the author of the [document](https://docs.microsoft.com/en-us/azure/site-recovery/hybrid-how-to-enable-replication-private-endpoints). Please review the request to update the article.

[2021-07-15 19:59] Karishma-Tiwari-MSFT commented on #78083
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2021-07-15 20:01] ivapplyr commented on #48264
@jbarrancos Can you elaborate on what the limitation above is exactly ? A destination VM is not needed for the Private Endpoint for a connection to be established.

[2021-07-15 20:05] ThomasWeiss commented on #78388
@pohorely
1. Our apologies for the discrepancies across the documentation. The ARM docs get updated at a different frequency and we'll make sure that the `disableLocalAuth` property gets added.
2. `disableKeyBasedMetadataWriteAccess` prevents you from issuing any kind of management (aka metadata) operation when using the primary key. `disableLocalAuth` prevents the usage of the primary key altoget

[2021-07-15 20:05] ThomasWeiss commented on #78388
@thisisbrianstewart What's the API type of the Cosmos DB account you tried that on?

[2021-07-15 20:07] JamesTran-MSFT commented on #78370
@jasonfritts
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-15 20:07] #78370 closed

[2021-07-15 20:15] ivapplyr commented on #60688
Hey @AmanSextus We have extended documentation for Private Link in the Hub and Spoke topology [here](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/private-link-and-dns-integration-at-scale#private-link-and-dns-integration-in-hub-and-spoke-network-architectures) however, would you be able to elaborate on your issue ?

[2021-07-15 20:34] gireeshp opened #78430 ""Integration Runtime" is listed in "Top level concepts" heading, but not explained anywhere in the page"
Under the "Top level concepts" heading of this page [here](https://docs.microsoft.com/en-us/azure/data-factory/introduction#top-level-concepts), one key concept "Integration Runtime" is listed. But this concept is not discussed anywhere in the page after that. All other concepts are explained, except this one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-07-15 20:34] bandersmsft commented on #78187
https://github.com/MicrosoftDocs/azure-docs-pr/pull/165750

[2021-07-15 20:38] jbarrancos commented on #48264
This issue is resolves. Didn’t directly notice it when > year no updates

[2021-07-15 20:38] #48264 closed

[2021-07-15 20:41] KranthiPakala-MSFT commented on #78430
Hi @gireeshp -
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-07-15 20:43] bandersmsft commented on #78187
@anurag4516 Hi there. Sorry you ran into this issue. You’re absolutely right, the situation you ran into can occur and it should have been documented appropriately. I’ve updated the following articles to describe the situation.

You might qualify for a refund request. Please open a [billing support request]( https://go.microsoft.com/fwlink/?linkid=2083458) to submit your request.

The articles upd

[2021-07-15 20:43] #78187 closed

[2021-07-15 20:45] MartinJaffer-MSFT commented on #78413
Hello @jimmy-isaac  and thank you for bringing this issue to our attention.  I agree the link title is slightly misleading, in that it implies the article would have both from and to Data Explorer.

Fortunately, the process of pulling from Data Explorer is similar enough we can re-use almost all of the existing steps.
The first major difference, is instead of selecting Amazon S3 for the source, se

[2021-07-15 20:45] bandersmsft commented on #78418
@matuhinal Hi there. Do you have an issue with the article at https://docs.microsoft.com/azure/cost-management-billing/manage/change-credit-card?

[2021-07-15 20:49] MartinJaffer-MSFT commented on #78413
@jianleishen  There are two ways to resolve this issue, I would like your input on which to take:
- alter the link text `Copy data to/from Azure Data Explorer` => `Copy data into Azure Data Explorer`
- create / add new scenario for which Data Explorer is the source in a copy activity

[2021-07-15 20:50] MartinJaffer-MSFT commented on #78142
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-15 20:50] #78142 closed

[2021-07-15 20:54] hbalaci opened #78432 "Diagram from Data workflow section implications"
These comments are relative to the diagram with this URL
https://docs.microsoft.com/en-us/azure/machine-learning/media/concept-data/data-concept-diagram.svg

Placing the "Azure storage service" inside of the "Azure machine Learning bounding box"  it would appear to imply that only the Azure Machin Learning storage account can be used as datastore.

I am suggesting that a more descriptive approach

[2021-07-15 20:54] yobyot opened #78433 "Please fix grammar and syntax"
This page is rife with poor and incorrect grammar.

Examples:

- "An ExpressRoute circuit provides private connectivity to Microsoft backbone network." Should be "An ExpressRoute circuit provides private connectivity to **_the_** Microsoft backbone network."
- The next bullet point also drops the indefinite article in "Microsoft network".
- But, just in case we think the author is going to drop al

[2021-07-15 20:58] WyattBest commented on #78366
@femsulu, I would argue that the doc could be improved. It says, "Prerequisites: Before you start, make sure that you have the following," then lists Log Analytics Agent as one of the prerequisites. However, the only way to find install instructions for Log Analytics Agent is to ignore the "before you start" instruction and continue on.

A change like the following would tell users that we should

[2021-07-15 20:58] KranthiPakala-MSFT commented on #78430
Hi @gireeshp -  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please let us know if there is something else that we can help you with.

[2021-07-15 20:59] jms1voalte commented on #40682
The documentation has the *name* of the option, however the description "Space-separated scopes where the policy assignment does not apply" isn't very helpful.

Can we have an *example* which shows how this option should be used?

Specifically, if I need to add an entry to a policy's `notScopes` array, do I need to specify `--not-scopes` with a string containing *all of the current entries* with t

[2021-07-15 21:00] #78430 closed

[2021-07-15 21:02] JamesTran-MSFT commented on #78376
@miketheitguy
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-15 21:02] #78376 closed

[2021-07-15 21:05] MartinJaffer-MSFT commented on #78332
Hello @gary918 .  I took a look at the script.  Each of the sleeps is inside a loop to poll trigger status.

I do not see any immediate reason changing from 15 seconds to 5 seconds would break the script.

I suspect 15 seconds was chosen to reduce the amount of traffic on the service when thousands of customers are all using this script.  It could also have to do with cadence (update-rate) of some

[2021-07-15 21:07] JamesTran-MSFT commented on #78425
@AquilaSands
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-15 21:08] VanMSFT commented on #76176
Hey @rohitnayakmsft - Following up on this.

[2021-07-15 21:13] thisisbrianstewart commented on #78388
Tried Microsoft.DocumentDB/databaseAccounts@2021-04-15 and Microsoft.DocumentDB/databaseAccounts@2021-04-01-preview.

Interestingly, Microsoft.DocumentDB/databaseAccounts@2021-04-15 just started working.  Bicep does still throw a warning though:

Warning BCP037: The property "disableLocalAuth" is not allowed on objects of type "DatabaseAccountCreateUpdateProperties". Permissible properties include

[2021-07-15 21:13] SatishBoddu-MSFT commented on #78412
@splitfinity
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-15 21:17] JamesTran-MSFT commented on #78425
@AquilaSands
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-15 21:17] #78425 closed

[2021-07-15 21:17] JamesTran-MSFT commented on #78405
@AquilaSands
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-15 21:17] #78405 closed

[2021-07-15 21:21] JamesTran-MSFT commented on #78422
@WShelt0n
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-15 21:23] himanshusinha-msft commented on #78293
@islamtg : can you please help me with what MAG stands for ? I understand GCC stand for Government Community Cloud .

[2021-07-15 21:24] JamesTran-MSFT commented on #78408
@erwin314
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-07-15 21:24] #78408 closed

[2021-07-15 21:30] ecfan commented on #78019
@PhaedrusM42 and @PramodValavala-MSFT: Thanks for raising this issue! I'm working on updating the doc with the correct template information and also with updates for Visual Studio 2019.

However, because the template has a problem creating the missing files, please try opening an issue in the quickstart repo here:

https://github.com/Azure/azure-quickstart-templates/issues

[2021-07-15 21:31] davidmrdavid commented on #77633
Thank you for the proposal, @tyler555g!

Is there a reason why you included the `set_custom_status` APIs in the snippet? I'm trying to understand if that's meant to communicate something about the pattern. In general, I would prefer to use only the `call_activity` APIs as that would keep it simpler and easier to parse.

I personally like the following compromise:

[code]

That being said, as I men

[2021-07-15 21:35] markrad opened #78435 "Invalid subca.conf"
Line 23 in the file subca.conf is missing the value for default_days.

[code]

As a side note, the first command in Step 6 should read :
[code]

Since it will be executed from the subca directory if one follows the instructions exactly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6eb332d6-f80d-cef9-1f3a-50a3438d557c

[2021-07-15 21:45] lgayhardt commented on #74672
@IdanZel sorry for the delay. You are right both are serialized the same way and there is no practical difference between them. There used to be plans to change GlobalProperties but right now it's looking unlikely that it will happen any time soon if at all.

Adding @cijothomas to answer any additional questions or further clarification.

[2021-07-15 21:56] #74672 closed

[2021-07-15 21:58] rootsmusic opened #78436 "sign-in catch 22"
Since this doc is to troubleshoot Azure subscription sign-in issues, its section to "[contact us for help](https://docs.microsoft.com/en-US/azure/cost-management-billing/manage/troubleshoot-sign-in-issue#contact-us-for-help)" shouldn't link to a sign-in.  I'm reading this doc because I can't sign-in to Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-07-15 22:02] femsulu commented on #78366
Good point, @WyattBest  - adding content owner @MGoedtel to review the suggested changes.

[2021-07-15 22:16] WyattBest commented on #30464
One more person here to complain about the need for http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn. The SIS software I work with will require a change from the vendor to stop requiring the UPN claim.

It's fine that we can't edit it; the problem is that it's not present in the response.

[2021-07-15 22:23] HeidiSteen commented on #78223
@joeljanke  The doc update is live:  https://docs.microsoft.com/en-us/azure/search/search-security-rbac?tabs=rbac-ga

Additional doc updates are underway, but the built-in role definitions are now published, and the above doc has some portal instructions to get you started.

I'll close this issue, but feel free to re-open it if your issue isn't addressed.

#please-close

[2021-07-15 22:23] #78223 closed

[2021-07-15 22:38] SatishBoddu-MSFT commented on #78414
Hello @gcontrabass

Please let us know the exact Tutorial or the document to which you have referred to?

[2021-07-15 22:41] SatishBoddu-MSFT commented on #78415
@arun-rangarajan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-15 22:41] ConnorMcMahon commented on #77633
I'm not opposed to explicitly having the second example, separated by an explanation along the lines of:

"Because we are scheduling these activities sequentially, we can utilize the return value of any of these functions in any subsequent activity executions."

My only other critique would be that I feel that when you pass sequential results to each other like you do in that example, generally yo

[2021-07-15 22:42] davidmrdavid commented on #77633
That works for me!

[2021-07-15 22:43] davidmrdavid commented on #77633
Just returning `result3` works for me

[2021-07-15 22:44] joeljanke commented on #78223
Thanks Heidi!

On another related note, I have notice that to actually see the list of indexes in the Azure Portal control plane you must have the Microsoft.Search/searchServices/listAdminKeys/action permission.   None of the read roles...Reader, Search Index Data Reader...have this permission and as such they cannot even see the search indexes that exist in the Azure Portal.   We are combatting t

[2021-07-15 22:47] SatishBoddu-MSFT commented on #78420
@karlochacon
I have assigned the issue to the content author for further review.

[2021-07-15 22:51] SatishBoddu-MSFT commented on #78424
@andresu13
I have assigned the issue to the content author for further review.

[2021-07-15 22:55] SatishBoddu-MSFT commented on #78427
Hello @mihammer
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-15 22:59] SatishBoddu-MSFT commented on #78432
@hbalaci
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-15 23:00] SatishBoddu-MSFT commented on #78433
@yobyot
I have assigned the issue to the content author for further review.

[2021-07-15 23:03] SatishBoddu-MSFT commented on #78435
I have assigned the issue to the content author for further review.

[2021-07-15 23:05] SatishBoddu-MSFT commented on #78436
@rootsmusic Sorry for the inconvenience caused.

I have assigned the issue to the content author for further review.

[2021-07-15 23:26] sam1310 commented on #30680
@aollivierre thanks, this worked!

[2021-07-15 23:53] estebanreyl commented on #78375
@Es-ci  I tried to replicate the above issue using the same azure cli version from an az cli docker container as well  but was not able to do so. I succeeded at deleting images with the mentioned bash script on my test registry with no issues.

That said I was able to follow up from the provided logs and noted in your case the api being called on delete has an extra %0D at the end of the digest wh

[2021-07-16 00:14] jeevansd commented on #30464
@rosdi and @saturnreturn Sorry for chiming in late here. This is a part of the restricted claim and you cannot get it like this in the claims. The way to achieve this is open the app in App Registration and choose the optional claims there and select SAML and then choose UPN from the list. This way you can get the claim in the token.

Please test this and let me know how this goes. This should unb

[2021-07-16 00:15] jeevansd commented on #30464
@todayppp @Jacobbrixus @mtakmddk and @ArttuArstila Please see my comment above.

[2021-07-16 00:54] RonnieQuan opened #78438 "Number of virtual networks per ExpressRoute circuit"
Can you please confirm if the limit is hard limit or not, can enterprise customer request to increase the limit?

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f49a06-90b1-cbe1-3853-2c38277b79f8
* Version Independent ID: 02ff6f6c-3ef6-b48f-060d-b290419e0aba
* Content: [Azure subscripti

[2021-07-16 00:58] maotsuk opened #78439 "add "warning" or "notification" message saying "we reccomend to use ZZ code when allowing a specific country code""
[Enter feedback here]
we had some critical false positive issues repeatedly where cutomer set Geo match filter "only allow specifc country code" and ISP updated its IPv6 address prefix. As the result some clients who are using those updating IPv6 range will be blocked for a while. To avoid this, we have ZZ country code but this docs statement is very weak so some of the customers still may expect

[2021-07-16 01:27] #78200 closed

[2021-07-16 01:36] robotrapta opened #78440 "Disk speeds are deceptive and wrong"
This doc page lists disk speeds in "MB/s" which most everybody will interpret as "megabytes per second" when in fact the numbers are for megabits per second (usually written "mbps") which is a factor of 8 smaller.  This page is not only technically inaccurate, but feels like slimy deceptive marketing.  I turned on a P40 disk thinking I would get 250 megabytes per second of throughput, and in fact

[2021-07-16 01:57] artificial-jamesirei commented on #78104
@jastenze Bump for visibility

[2021-07-16 02:21] ecfan commented on #76864
I created a doc work item in the engineering team's backlog. I'm closing this thread for now, but I'm also tagging Rama for awareness.

#assign @rarayudu

@mike-urnun-msft: #please-close

[2021-07-16 02:21] #76864 closed

[2021-07-16 02:22] PRMerger8 commented on #76864
rarayudu is already assigned.

[2021-07-16 02:24] MonikaReddy-MSFT commented on #78407
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-16 02:46] sharadkeshari opened #78443 "Azure files redundancy statement related issue"
[Enter feedback here]
one place it is written that the azure files don't support RA-GRS and RA-GZRS
but at the other place, it has been included in the support for RA-GRS and RA-GZRS

![image](https://user-images.githubusercontent.com/25315243/125883766-8bee6c6d-c9fa-4bf2-bf33-dbe0386396d1.png)

![image](https://user-images.githubusercontent.com/25315243/125883818-942aee90-1e50-4288-8883-7a548a2d2

[2021-07-16 02:49] ecfan commented on #78019
Created this issue in the quickstart template repo:

https://github.com/Azure/azure-quickstart-templates/issues/11639

[2021-07-16 02:53] GuyPaddock opened #78444 "Missing description of "appleKeyId""
The JSON payload includes `appleKeyId` but the documentation above it does not describe this value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cc94537-730f-5188-f68d-70a07497ecb6
* Version Independent ID: 15aba9bb-6b15-c61a-aaff-48f26db84d70
* Content: [Set up sign-up and sign-in with an Apple ID - Azure AD B2C](h

[2021-07-16 02:57] ecfan commented on #78019
Doc updates should go live on 07/16/2021 after 11 AM Pacific Time. Closing this issue for now.

@PramodValavala-MSFT: #please-close

[2021-07-16 02:57] #78019 closed

[2021-07-16 03:21] hyoshioka0128 opened #78445 "[LOC]Not Translated (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/cosmos-db/create-sql-api-nodejs"
![create-sql-api-nodejs_j](https://user-images.githubusercontent.com/40815708/125886647-a65041f8-c95f-4e6d-a10b-834916ce1e81.png)

en-us:"https://docs.microsoft.com/en-us/azure/cosmos-db/create-sql-api-nodejs"
![create-sql-api-nodejs_e](https://user-images.githubusercontent.com/40815708/125886658-b290f836-74d1-4a27-8d2c

[2021-07-16 03:30] BharathNimmala-MSFT commented on #78367
@wjpigott Thanks again for bringing this to our notice, assigning this issue to our document author @lgayhardt to further review and update the document as needed.

[2021-07-16 03:31] samadara-msft opened #78446 "Update the steps to verify the list of virtual machines impacted due to planned maintenance."
The steps to check for a list of virtual machines that are impacted/scheduled for maintenance using Azure portal is not updated while the portal experience changed. So the steps here https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications-portal are outdated. Please update this public facing documentation.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-07-16 03:38] asudbring commented on #76709
Updated table
#please-close

[2021-07-16 03:38] #76709 closed

[2021-07-16 03:38] G0PINATH-WW opened #78447 "Managed identity is generally available, please remove "Preview""
https://docs.microsoft.com/en-us/azure/automation/automation-security-overview - says MI is in preview.

I checked in portal and there is no preview warning when I enabled this feature.

https://azure.microsoft.com/en-au/updates/azure-automation-system-assigned-managed-identities/  -- for reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-07-16 03:39] asudbring commented on #75993
Updated table.
#please-close

[2021-07-16 03:39] #75993 closed

[2021-07-16 03:42] asudbring commented on #74764
Table was updated.
#please-close

[2021-07-16 03:42] #74764 closed

[2021-07-16 03:56] ShaikMaheer-MSFT commented on #78387
@tacharyagithub Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2021-07-16 04:09] GuyPaddock opened #78448 "Allowing ScriptExecution for a UserJourney Has Undocumented Side-effect of Turning off Tag Filtering"
It is my understanding that if a `UserJourney` does not include the following snippet in its definition, the default is that JavaScript is disabled (per the support article):
[code]

That behavior is expected.

What is not expected is that when JavaScript is disabled, only a subset of HTML tags are preserved from the template. For example, in our footer we have a `<small>` tag around the copyright

[2021-07-16 04:15] asudbring commented on #77004
Sending to PM to verify the URL's that will need to be added.  Not sure based on the different china URL's available and how it would correspond with the normal URLs

#assign:@ivapplyr

[2021-07-16 04:37] psmanhas commented on #78446
@samadara-msft Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-16 04:37] psmanhas commented on #78446
@shants123 Can you please check and add your comments on this doc update request as applicable

[2021-07-16 04:38] lgayhardt commented on #78367
Hi Jeff @wjpigott ,

Do we need to mention that continuous export will be removed when we already mention that it's not supported in workspace-based in the pre req section?

Also this is mainly about customers not be able to use Stream Analytics after migrating? Or is there other scenarios this affects?

For now I'm going to put a note in the pre-req section that tells users that migrating will br

[2021-07-16 04:38] #78367 closed

[2021-07-16 04:41] blackchoey opened #78450 "Providing suggestions on output secrets in ARM template"
Can you provide some best practices on outputting secrets in ARM template? I want to output secrets in ARM template but this seems have some security issues. Not sure whether I shouldn't do so, or there's anything like secure string available in output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d12b3d-3e05-efaf-

[2021-07-16 04:49] ssivas commented on #77984
Hello @gaurav1264 ,

Our Product group still working with vendor on this plan to GA some of these connectors. we don’t have the first dates of GA release at this time but once I have I will communicate with you.  Thanks!

Archiving for now : #please-close

[2021-07-16 04:49] #77984 closed

[2021-07-16 05:10] DXPetti opened #78451 "Note on project name"
There should be notes/warning when instructing users to enter a name for the Project that it must be a unique name that has never been previously used in the tenacy. The reuse of a since deleted Project will cause any assessment data to become inaccessible via Azure Migrate portal blades.

This has been confirmed by the Product Group (happy to provide support case ID)

The same note/warming should

[2021-07-16 05:13] AnuragSharma-MSFT commented on #78244
@daemel Awaiting your response on this.

[2021-07-16 05:16] AnuragSharma-MSFT commented on #78398
@wladinho31 Could you please provide the information asked by @savjani to look more into the issue?

[2021-07-16 05:17] gaurav1264 commented on #77984
Thanks @ssabat, One more query - Where to raise feature/ bug request in regards to this connector?

[2021-07-16 05:20] aamorale opened #78452 "Include Storage Account Firewall limitation"
Please include to this article this known limitation related to serial console when boot diagnostics is enabled with a Storage Account that has Firewall enable.

A "Forbidden" response was encountered when accessing this VM's boot diagnostic storage account.

Ensure that boot diagnostics doesn't have an account firewall. An accessible boot diagnostic storage account is necessary for the serial con

[2021-07-16 05:23] SrijitBose-MSFT commented on #78333
@msiegenthaler is there any update on this situation?

[2021-07-16 05:24] greghoyle opened #78453 "Outbound communication only between Azure AD Connect and Azure AD?"
Is there really bi-directional communication between Azure AD and Azure AD Connect?  Doesn't AD Connect poll Azure AD and retrieve any pending actions coming from Azure AD, kind of like opening a Service Bus; not Azure AD connecting to AD Connect to ask it to perform action/s?

So that arrow in the digram between AD Connect and Azure AD should surely only point to the right? (and the text on table

[2021-07-16 05:27] BharathNimmala-MSFT commented on #78447
@G0PINATH-WW Thank you for bringing this to our notice , we will review and update the document accordingly.

[2021-07-16 05:45] SrijitBose-MSFT commented on #78452
@aamorale , Thank you for your feedback. We have shared this with the content author.

[2021-07-16 05:55] #77865 closed

[2021-07-16 05:56] HarshitaSingh-MSFT commented on #77865
I am waiting on the PR review, once it is reviewed, it shall be available.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-16 06:00] HarshitaSingh-MSFT commented on #78325
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-16 06:25] JoeyCjj commented on #78315
Thanks for your information. Look forward to hearing from you.

[2021-07-16 06:36] sowmya3434 opened #78455 "The template language function 'div' expects its first parameter to be an integer or a decimal number"
I just starting to learn the azure logic app. I try to run the tutorial step by step on azure.com. https://docs.microsoft.com/en-us/azure/logic-apps/tutorial-build-schedule-recurring-logic-app-workflow#create-a-variable-to-store-travel-time I get an error when I create a variable. InvalidTemplate. Unable to process template language expressions in action 'Initialize_variable' inputs at line '1' an

[2021-07-16 06:52] msiegenthaler commented on #78333
makes sense, it's actually there :)

Thanks a a lot!

[2021-07-16 06:52] #78333 closed

[2021-07-16 06:54] ibalasenthil opened #78456 "has exited with code 7147"
![image](https://user-images.githubusercontent.com/14132445/125905095-e2caeacc-2b72-4647-90b2-d5ce15ad883f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f541a9f9-4be2-9537-5f94-bbfa02cf72ca
* Version Independent ID: c44b249f-243f-6a2d-fd34-9a8497102076
* Content: [Diagnose common code package errors by using Serv

[2021-07-16 06:55] Sharmistha-Rai commented on #78299
For both the ports, 443 and 9443 (or whatever equivalent user has set for 9443), inbound traffic should be allowed on the configuration server.

We will make sure that this info is added to the doc.

[2021-07-16 06:58] SadiqhAhmed-MSFT commented on #78451
@DXPetti Thanks for bringing this to our attention. This issue is assigned to the content owner for review and will be updated as needed.

@vineetvikram FYI

[2021-07-16 07:00] gaurav1264 commented on #77984
@ssabat Is there a possibility you see where vendor can never make GA release for this provisioning connector? This is very crucial for us to decide on Azure AD integration with Atlassian cloud.

[2021-07-16 07:13] shashishailaj commented on #78444
@GuyPaddock Thank you for your query. We will investigate and update the thread.

[2021-07-16 07:13] pnl0ep7f commented on #78325
Hello Harshita!

The examples given in the link use webHookProperties field inside actions. However in the MS documentation it is customProperties. Can you please confirm which one should I use.
![image](https://user-images.githubusercontent.com/66358388/125907300-ea9c99f8-0d9a-4329-b2e5-0af49d1677f6.png)

Also can you give an example on how to se the custom Json payload
[code]

[2021-07-16 07:13] vineetvikram commented on #78451
Hi @DXPetti

Please assign it to Pankaj Sharma from the product team.

[2021-07-16 07:14] shashishailaj commented on #78448
@GuyPaddock Thank you for your query. We will investigate and update the thread.

[2021-07-16 07:15] shashishailaj commented on #78453
@greghoyle Thank you for your feedback . We will investigate and update the thread.

[2021-07-16 07:25] SadiqhAhmed-MSFT commented on #78451
@vineetvikram Thanks for the reply. Could you please share Pankaj's GitHub ID?

[2021-07-16 07:32] GitaraniSharma-MSFT commented on #78439
@maotsuk , thank you for your feedback. We have assigned this to the content owner/author for review.

[2021-07-16 07:52] SnehaAgrawal-MSFT commented on #78318
@hammadrauf  Thanks for asking question! It seems Hybrid Connection are in a dis-connected state. As there is invalid Configuration detected - Hybrid Connection is using a HostName that is resolving to a public IP Address.

It is recommended to use a DNS name that doesn't resolve to a public IP Address. If it does, then the connections won't go through Hybrid Connections! The primary reason that c

[2021-07-16 08:08] JYOTHIRMAISURI commented on #78299
Thanks for the review and confirmation, @Sharmistha-Rai.

@saadatahmed - thank you for the inputs.  We will update the relevant docs and keep you posted.

[2021-07-16 08:21] wladinho31 commented on #78398
Hello @savjani,

I have tested from the MySQL Workbench as well as using MySQL client on the Linux VM.
For the MySQL Workbench, I have followed the [procedure from docs](https://docs.microsoft.com/en-us/azure/mysql/howto-configure-ssl#connecting-to-server-using-mysql-workbench-over-ssl), except adding a certificate.

For testing from MySQL client on Linux VM, I have using the following command:

`

[2021-07-16 08:26] #78322 closed

[2021-07-16 08:49] jacqueskang opened #78459 "An IoT Edge device can be configured as downstream/child device of IoT Central transparent gateway?"
Could be clarified whether an IoT **Edge** device can be configured as downstream/child device of another IoT Edge device that behaves as a transparent gateway in IoT Central?

This is possible for IoT Hub. I assumed it was possible too for IoT Central but somehow I'm blocked (edgeAgent module in downstream device receives empty desired property).

I cannot find any clarification or example showin

[2021-07-16 08:49] aidanfinn opened #78460 "Missing Firewall Rule For Commercial Cloud"
A deployment of virtual machines for the pool will fail if you do not also add HTTPS outbound to wvdportalstorageblob.blob.core.windows.net. The DSC execution will fail without access to that URI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406f8b6d-6471-c983-c102-9d60a57964cd
* Version Independent ID: 98fa8587-36e1

[2021-07-16 08:55] KrishnaG-MSFT commented on #78438
@RonnieQuan Thanks for your comment! We will review and provide an update as appropriate.

[2021-07-16 09:14] rakshi00 opened #78461 "No Password reset permissions for Authentication and Privileged Authentication Admin"
Authentication and Privileged Authentication Admin roles do not have the role permission "microsoft.directory/users/password/update" according to their role descriptions in AAD.
Furthermore, the following is stated: "set or reset non-password credentials for all users". Therefore, the table in "Password reset permissions" seems incorrect as the above two roles are included which should not be able

[2021-07-16 09:19] psmanhas commented on #78460
@aidanfinn Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-07-16 09:19] psmanhas commented on #78460
@Heidilohr Can you please check and add your comments on this doc update request as applicable

[2021-07-16 09:22] psmanhas commented on #78456
@ibalasenthil Thank you for your query!!!

Can you help me understand what exactly is your ask here so I can help you further on this since as per reference article the error Indicates that Service Fabric gracefully shut down the process or container by sending it a Ctrl+C signal. Do you need more info on same or it is a different ask?

Thanks

[2021-07-16 09:23] jmprieur opened #78462 "Please update this tutorial to use Microsoft.Identity.Web's capability (injected GraphServiceClient, and IDownstreamWebAPI)"
This tutorial, although not wrong, doesn't present things as simply as they should. See for the ways to call a web API: https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-web-app-call-api-call-api?tabs=aspnetcore

Please update to present a simpler story!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-07-16 09:32] GitaraniSharma-MSFT commented on #78278
@jeremypope-valpak , We have assigned this issue to the respective product owner for review.

@rloutlaw , could you please provide your insights on this query?

[2021-07-16 09:35] jmprieur commented on #78400
@shwetanka1902 : can you please provide exact repro steps?

[2021-07-16 09:43] antondelsink commented on #69505
I found this thread while looking for a similar use case: assigning 'Storage Table Data Contributor' Role to an AAD B2C User on an Azure Storage Table. Unfortunately this is not supported according to this post:
https://stackoverflow.com/questions/67852674/give-azure-table-storage-access-to-azure-ad-b2c-users

[2021-07-16 10:18] dmytro-hlushchenko-rft commented on #20971
Same question from me.  It`s required for me to perform testing, but there`s no information anywhere

[2021-07-16 10:19] aidanfinn opened #78463 "UIR for AVD agent upgrade is missing"
The required URI for the AVD agent upgrade is missing. This results in the pool machines being unavailable when they are deployed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 406f8b6d-6471-c983-c102-9d60a57964cd
* Version Independent ID: 98fa8587-36e1-690c-12c5-b865955ada0b
* Content: [Azure Virtual Desktop required

[2021-07-16 10:24] AshokPeddakotla-MSFT commented on #78440
@robotrapta Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 10:26] AshokPeddakotla-MSFT commented on #78443
@sharadkeshari Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 10:30] KalyanChanumolu-MSFT commented on #78445
@hyoshioka0128 Thank you for taking the time to let us know.
We are checking this internally and will do the needful.

@CeciAc Could you please help here?

[2021-07-16 10:30] AshokPeddakotla-MSFT commented on #78459
@jacqueskang Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 10:50] Thorium opened #78464 "ARM-template with multiple cnameRecords to Azure internal resource?"
I'm trying to deploy ARM-template with multiple cnameRecords to Azure internal resource (traffic manager)

It responses as an error:

[code]

What does that mean?
The documentation is not mentioning that adding a DNS-resource locks something?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92a80546-cf00-b9d7-9f83-ab805a

[2021-07-16 10:50] RohitMungi-MSFT commented on #78377
@SteveIves I have tried the complete quickstart and based on the current version of the API's I think I got it working. I hope the attached file could help you run the same in your solution.
[program.txt](https://github.com/MicrosoftDocs/azure-docs/files/6830081/program.txt)

The placeholders for the endpoint, key, the training data container and a form URL for prediction needs to be added to run

[2021-07-16 11:26] dmytro-hlushchenko-rft opened #78465 "Specify payload for triggers"
Please consider re-open https://github.com/MicrosoftDocs/azure-docs/issues/20971 issue as it was not resolved, yet still actual. Initial author provided all the information on what's wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f538a557-7e88-e077-6a6f-6fb14d89dbf6
* Version Independent ID: 84a1693b-2795-c865-3

[2021-07-16 11:27] GitaraniSharma-MSFT commented on #78464
@Thorium , thank you for your query. We'll review this and get back to you shortly!

[2021-07-16 11:58] sandervandevelde opened #78466 "Newer version of IoT Explorer available"
The current version of the IoT Explorer is Version 0.14.4 (see https://github.com/Azure/azure-iot-explorer/releases)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ff1b435-afa4-fb94-926a-d21917c80463
* Version Independent ID: 5a3f36fc-170e-5409-7c29-d71df06f1f8e
* Content: [IoT Plug and Play current release](https://d

[2021-07-16 12:18] serjdag opened #78467 "This page does not provide correct instruction how to set parameters and configure audit"
There is only a link to pgaudit documentation and information that pgaudit can be only configured globally.
pgaudit documentation says that Settings may be modified only by a superuser. Azure does not provide access to azure_superuser role, only azure_pg_admin membership is available.
Running commands like 'set pgaudit.log = 'write';' or 'ALTER SYSTEM set pgaudit.log = 'write';'  or 'SET pgaudit.l

[2021-07-16 12:27] cephalin commented on #78320
#reassign:cephalin

[2021-07-16 12:37] sandervandevelde opened #78468 "Add information about 'known issue' and possible workarounds"
A note is available on this page:

    Disable any existing IoT Hub routes. There's a known issue with using an IoT hub with routing configured. Temporarily disable any routing endpoints. When your IoT hub is connected to Time Series Insights, you can enable routing endpoints again.

Which issue is this? Is these a link available? Or is it already fixed?

How can I work around this in an actual so

[2021-07-16 12:46] philip-reed opened #78469 "Url to Documentation on Actions is sending people to Filters"
In the Section on Actions:
The section has a link to `uses a SQL-like expression`, but the link goes to documentation on filters instead of actions
https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters#actions

Current link goes to:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-sql-filter

But it should go to:
https://docs.microsoft.com/en-

[2021-07-16 12:50] sandervandevelde opened #78470 "Consider IoT PnP module support for IoTHub Time Series ID"
In this Azure IoT Plug and Play documentation regarding [TSI](https://docs.microsoft.com/en-us/azure/iot-pnp/tutorial-configure-tsi) it is recommended to add this 'composite key that consists of iothub-connection-device-id and dt-subject'.

This is due to 'your Time Series ID is immutable, Microsoft recommends enabling this option in case you need it in the future.'.

I came across this by acciden

[2021-07-16 12:53] AshokPeddakotla-MSFT commented on #78468
@sandervandevelde I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-16 12:53] wjpigott commented on #78367
Good morning Lauryn,

I think it depends on the wording of what Microsoft typically would say "not-supported". Coming from the customer perspective if I would say Windows 7 isnt supported, they will still use it until they decide to make a change a the system is still working, but knowing it really isn't supported.

When I see the word "removed" I know I would be in trouble and need to act fast to

[2021-07-16 13:03] Ravi-Kashyap opened #78471 "clarification about "same IDs, which are provided during the onboarding." statement"
[Enter feedback here]

The onboarding or ANF pinning forms doesn't ask for GID - in the below document what ID are we talking about which was provided during onboarding?

[A] Create the SAP HANA group and user manually. The IDs for group sapsys and user hn1adm must be set to the same IDs, which are **provided during the onboarding**. (In this example, the IDs are set to 1001.) If the IDs aren't se

[2021-07-16 13:07] HarshitaSingh-MSFT commented on #78450
Hello @blackchoey , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-16 13:07] AshokPeddakotla-MSFT commented on #78466
@sandervandevelde Thanks for raising the issue. PR has been created to update the doc with 0.14.x version. Changes will be updated once it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-16 13:15] islamtg commented on #78293
MAG = Microsoft Azure Government.

[2021-07-16 13:19] AnuragSharma-MSFT commented on #78205
@ArtiomLK I received the same error while trying to repro this issue. Thanks for pointing it out. I am assigning this to content author to review and update appropriately.

[2021-07-16 13:22] AnuragSharma-MSFT commented on #78467
@serjdag Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-07-16 13:24] MGoedtel commented on #78447
@G0PINATH-WW - Support for managed identity is not generally available at this time for the Automation service. The documentation is correct, it is in public preview. I will share this with the Automation PM, but because the documentation is not incorrect, I'm going to proceed with closing this issue.  #please-close

Thanks

[2021-07-16 13:24] #78447 closed

[2021-07-16 13:29] hammadrauf commented on #78318
Thanks for the reply. I am not sure how can I use DNS name for this computer as it is in my home. Also if the remote computer is a Linux box then there is no HCM agent for Linux.

Thanks for looking into this.

[2021-07-16 13:38] islamtg commented on #78293
also for clearification I am following this article - https://docs.microsoft.com/en-us/azure/data-factory/connector-sharepoint-online-list#prerequisites

[2021-07-16 13:39] RyanHill-MSFT commented on #78211
@xthexder, would happen to have any idea on @wangmiaowei's question?

[2021-07-16 13:49] cindyweng opened #78473 "Unknown compute type: AmlCompute"
When using the following command:

`az ml compute create --name cpu-cluster2 --type AmlCompute --min-instances 0 --max-instances 5`

I get the following error:

Unknown compute type: AmlCompute

I've bypassed this issue by manually creating the compute cluster on the Azure portal, but can't seem to do with via az cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-07-16 13:50] cindyweng opened #78474 "https://pipelinedata.blob.core.windows.net/sampledata/mnist does not exist"
This blob does not exist, and therefore the curl request that is supposed to trigger a batch score doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f24ec969-b354-a6ee-fde3-0b7e478a7827
* Version Independent ID: 316e0373-e365-3e42-0529-850c06030b2b
* Content: [Use batch endpoints for batch scoring - Azure Ma

[2021-07-16 13:56] cindyweng commented on #78473
The correct syntax should be `amlcompute`.

[2021-07-16 14:13] asudbring commented on #77124
@da5is
The azure backup documentation specifies that when using a private endpoint, you don't have to add anything to an allow list for things to work. The section you link to is for allowing azure URLs for the service and doesn't refer to the private endpoint.
https://docs.microsoft.com/en-us/azure/backup/private-endpoints#recommended-and-supported-scenarios

The private endpoint for azure backup

[2021-07-16 14:13] #77124 closed

[2021-07-16 14:18] #78466 closed

[2021-07-16 14:22] OWinfreyATL commented on #69183
Hey @lrandall-gillsch we are able to confirm that whether or not custom branding can be used depends entirely on the app but we do know for sure it works on the Multi-Factor Authentication (MFA) setup page, the Self-service Password Reset (SSPR) setup page, and the sign in page. Whether it works on others would depend on testing with the specific application.

[2021-07-16 14:29] OWinfreyATL commented on #69183
#please-close

[2021-07-16 14:29] #69183 closed

[2021-07-16 14:31] markgar opened #78475 "Looking for this documentation source code in the repository"
The content source of this page is listed as being in the directory "databricks" but I don't see that in the source tree.

Can someone point me to the source code for this specific page in the source tree?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independent ID: aace

[2021-07-16 14:37] WyattBest commented on #30464
@jeevansd I'm using WS-Federation, so perhaps a different scenario than everyone else.

I tried adding upn for ID, Token, and SAML under Token Configuration > Add optional claim. Unfortunately, http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn is still not present in the WS-Federation response. Other claims that I add under Enterprise Apps > Single sign on > SAML are present.

[2021-07-16 14:40] KranthiPakala-MSFT commented on #78475
Hi @markgar
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-16 14:49] AshokPeddakotla-MSFT commented on #77475
@Christian-e-S As suggested, please open a support ticket.  If you do not have a support plan, feel free to send an email to azcommunity[at]microsoft[dot]com with above mentioned information.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-07-16 14:49] #77475 closed

[2021-07-16 14:51] daemel commented on #78244
This link https://docs.microsoft.com/en-us/azure/healthcare-apis/fhir/configure-azure-rbac#assign-roles / step needs to be added to the instructions for people to complete setup and gain access without getting a 403 error

[2021-07-16 14:54] mickeydelsman opened #78476 "Not able to create multi-resource alerts using custom metrics in a custom metric namespace"
Hi, I would like to know if it's possible to create multi-resource alerts in Azure Monitor using a custom metric namespace. I've created an ARM template to deploy a multi-resource alert using a YAML pipeline, there were no issues with the pipeline, however when I checked the deployments in my resource group I noticed it failed with below error message.

Error message:

`{"code":"DeploymentFailed",

[2021-07-16 14:56] riqueps opened #78477 "ASR - CentOS 8.3 unsupported kernel"
Hello there, I'm trying to protect a vmware vm centos 8.3, but I'm getting unsupported kernel error.
The current kernel is 4.18.0-240 and I didn't find anywhere centos compatible kernel versions.
Mobility service is being installed in auto mode.
Configuration Server version: 9.42.1.0
Agent version: 5.1.6784.0

Thanks in advanced

[2021-07-16 15:01] SatishBoddu-MSFT commented on #78470
Hello @sandervandevelde Thanks for the feedback!.

I have assigned the issue to the content author for further review.

[2021-07-16 15:03] SatishBoddu-MSFT commented on #78455
@sowmya3434
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 15:04] SatishBoddu-MSFT commented on #78461
@rakshi00
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 15:05] SatishBoddu-MSFT commented on #78462
@jmprieur
I have assigned the issue to the content author for further review.

[2021-07-16 15:08] asudbring commented on #75020
Updated wording.
#please-close

[2021-07-16 15:08] #75020 closed

[2021-07-16 15:13] savjani commented on #78398
Hi @wladinho31 - You have server side encrypted connections enabled which doesnt require you to download or configure certificates. What that means is the data coming from server will be encrypted but if you would like to verify the certificate authority to ensure there is no man in the middle attack, you will need to download the certificate, connect your client application with settings --ssl_mo

[2021-07-16 15:15] SatishBoddu-MSFT commented on #78463
@aidanfinn
I have assigned the issue to the content author for further review.

[2021-07-16 15:17] savjani commented on #78070
Hi @MonikaReddy-MSFT - Can you please help close this thread

[2021-07-16 15:27] wladinho31 commented on #78398
Thanks for the explanation, but I think that still needs to be better explained in the documentation.
Primarily because the parameter **--ssl_mode=verify_ca** is not mentioned anywhere in this documentation.

Regards,

[2021-07-16 15:30] SatishBoddu-MSFT commented on #78465
Hello @dmytro-hlushchenko-rft Thanks for reaching out to us!.

As the referenced issue is very old, I kindly request you to provide the error details from your side on this issue, so that our SME and team would investigate the issue and get back to you soon.

Please add more details to this new issue!

[2021-07-16 15:39] SatishBoddu-MSFT commented on #78469
@philip-reed
I have assigned the issue to the content author for further review.

[2021-07-16 15:41] arcpan commented on #78070
Please go ahead and close this ticket. Appreciate the help.

[2021-07-16 15:41] #78070 closed

[2021-07-16 15:42] SatishBoddu-MSFT commented on #78471
@Ravi-Kashyap
I have assigned the issue to the content author for further review.

[2021-07-16 15:48] scout208 opened #78478 "Power BI Solution for Azure IoT Central using the latest data export"
It would be really great to see an example of using Power BI with Azure IoT Central using the latest data export since that seems to be the recommended way of exporting data according to the application. Are there any insights on when the updated guidance will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-07-16 15:56] danhellem commented on #61446
@elenalash what do you mean when you say you moved it to an app? What kind of app did you move it to?

[2021-07-16 15:57] HarshitaSingh-MSFT commented on #78476
Hello @mickeydelsman , thanks for the question! We are taking a look into this and will get back to you soon.

[2021-07-16 16:02] GiftA-MSFT commented on #78473
@cindyweng we'll review your feedback and get back to you shortly. Thanks.

[2021-07-16 16:03] GiftA-MSFT commented on #78474
@cindyweng we'll review your feedback and get back to you shortly. Thanks.

[2021-07-16 16:03] MonikaReddy-MSFT commented on #78477
@riqueps - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-16 16:12] JimacoMS4 commented on #68477
#reassign JimacoMS4

[2021-07-16 16:13] JimacoMS4 commented on #62639
#reassign JimacoMS4

[2021-07-16 16:14] JimacoMS4 commented on #59289
#reassign JimacoMS4

[2021-07-16 16:16] JimacoMS4 commented on #45415
#reassign JimacoMS4

[2021-07-16 16:17] albecker1 commented on #78440
Hi @robotrapta,

Our units are described correctly as Megabytes per seconds. Can you please let me know how you tested the performance including the VM you attached the disk to?

[2021-07-16 16:21] JimacoMS4 commented on #60607
@robinsh -- it looks like this topic has been removed from the documentation.

[2021-07-16 16:25] mimckitt commented on #76116
AV Sets and AV Zones are two different concepts. If you in a single data center, you would use AV sets but if you want to span your VMs across multiple datacenters in a region, then you would use AV Zones.

Closing as no doc update is needed. If you have further questions feel free to let me know.

#please-close

[2021-07-16 16:25] #76116 closed

[2021-07-16 16:26] mimckitt commented on #76274
We are currently working on improving the sizing docs to ensure consistency across all sizes specifically in the areas you mentioned. We appreciate the feedback and I have routed it to the appropriate team.

#please-close

[2021-07-16 16:26] #76274 closed

[2021-07-16 16:26] JimacoMS4 commented on #61431
Hi @Xyroid -- Thanks again for your help identifying this issue. As I stated above, the topic has been updated. I'm closing this issue. Please feel free to @comment me here or open another issue if you think the problem needs to be addressed further. Thanks again!

Jimaco

[2021-07-16 16:27] JimacoMS4 commented on #61431
#please-close

[2021-07-16 16:27] #61431 closed

[2021-07-16 16:28] mimckitt commented on #77331
Fixed. Updates will be live by EOD.

#please-close

[2021-07-16 16:28] #77331 closed

[2021-07-16 16:32] mimckitt commented on #71589
Max Temp Storage -- Defines the local temp disk (resource disk) IO throttles.

Max cached and temp storage -- Defines the throttle for both the temp disk (resource disk) and the dedicated cache (used for data disks, and OS disk).

Max uncached disk -- Defines the throttles applied to data disks when they are accessing storage cluster (i.e. uncached).

Max data disk -- Defines the maximum performan

[2021-07-16 16:32] #71589 closed

[2021-07-16 16:32] asudbring commented on #69233
Updated doc.
#please-close

[2021-07-16 16:32] #69233 closed

[2021-07-16 16:37] mimckitt commented on #74831
Can you confirm it is not related to this bug we mention in the doc?

![image](https://user-images.githubusercontent.com/32313503/125980510-bee7eb43-84a1-49b2-8471-84482aeefb4f.png)

[2021-07-16 16:45] ChaitanyaNaykodi-MSFT commented on #78334
Hello @cgillum, could please share some insights on this issue. Thank you!

[2021-07-16 16:45] v-gpettibone commented on #78435
Both issues fixed. Will show in next build. Please resolve

[2021-07-16 16:52] asudbring commented on #67781
Updated table in article
#please-close

[2021-07-16 16:52] #67781 closed

[2021-07-16 16:58] robinsh commented on #60607
Device Streams have been deprecated. So let's close this issue, and the overview for Device streams as well.

[2021-07-16 16:58] robinsh commented on #60607
#please-close

[2021-07-16 16:58] #60607 closed

[2021-07-16 16:58] ErikMogensen commented on #77082
Thanks for answering. Just one question: Does certificates with non-exportable private key have a private key or have they been stored without the private key?

[2021-07-16 17:02] clu005 opened #78480 "Need update For VS 2019/2022"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00ffee66-b500-c82d-2d8d-ed1c256f9454
* Version Independent ID: 38d8c137-72c5-b81d-faf5-33dd3ddc5def
* Content: [Build your first data factory (Visual Studio) - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/v1/data-factory-bui

[2021-07-16 17:04] cgillum commented on #78334
I think the wording in the .NET API docs needs to be changed because the use of "alive" is misleading. An unexpired timer will not keep anything actively in memory (which I think is a common interpretation of "alive"). Rather, an unexpired timer will keep the orchestration from transitioning from a "Running" state to a "Completed" state. Durable timers never keep anything alive or in memory.

Woul

[2021-07-16 17:06] annerajb opened #78481 "Create B2C tenant steps changed."
This section seems to be out of date.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant

I tried searching for the create b2c tenant in the azure portal and it never showed up.
I ended up getting there by clicking `Tenants` and `clicking create new tenant ` and selecting `B2C` tenant in the dropdown.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-07-16 17:12] savjani commented on #78398
Thanks @wladinho31 - thats a good feedback. We will improve our documentation to accommodate this feedback.

[2021-07-16 17:27] SamaraSoucy-MSFT commented on #78261
I have assigned the issue to the doc author to update appropriately.

[2021-07-16 17:29] SatishBoddu-MSFT commented on #78478
@scout208 Thanks for the feedback!
I have assigned the issue to the content author for further review.

[2021-07-16 17:31] ChaitanyaNaykodi-MSFT commented on #78334
Thank you for the quick response @cgillum. I have created a feedback item above on our SDK repo.
Hello @AdamCoulterOz, hope this helps in clarifying the issue faced. Please let us know if there are any additional concerns. Thank you!

[2021-07-16 17:33] aaavang commented on #56453
I have also run into this issue.  I spent a couple hours trying to triage the issue, which ended up not actually being an issue.  Once I deployed the custom probe, the backend health became green and I was able to send traffic through.

This is an extremely frustrating error message because it doesn't help you figure out what's going on.  For example, you could include what Host header was used an

[2021-07-16 17:34] jrmoulckers opened #78482 "Data rule managed identities disabling user-assigned managed identities"
[Enter feedback here]
I noticed the important note that states "There is currently a known issue where if the data collection rule creates a managed identity on a virtual machine that already has a user-assigned managed identity, the user-assigned identity is disabled."

Is this still the case, or has this issue been resolved recently? This is a potential blocker for services that are dependent on

[2021-07-16 17:40] dracan commented on #64660
@v-albemi Can I ask why this has been closed? I'm currently having to store ACR username and password in appservice configuration, even though my app service has MSI enabled. Has this now been fixed? Would be great if it has, and I can remove those creds from config!

[2021-07-16 17:44] JamesTran-MSFT commented on #78481
@annerajb
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-16 17:48] JamesTran-MSFT commented on #78412
@splitfinity
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-07-16 17:51] jimmy-isaac commented on #78413
Thanks for the prompt reply. What I need is the latter:
**create / add new scenario for which Data Explorer is the source in a copy activity**
What I really need is whether there is anything specific to Data Explorer as the source. I am having problems copying over a json which has an embedded JSON, which is transferring over as a string instead of a JSON when CosmosDB is the sink,

[2021-07-16 17:52] #78473 closed

[2021-07-16 17:53] sdgilley opened #78483 "Don't know where Private Link Center is!"
I reached this page from an error message in the Azure ML studio UI.  The first thing I have to do is "Go to Private Link Center".  But I don't know where that is.  Please add a URL, or whatever instructions are needed to start the troubleshooting documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-07-16 17:54] GiftA-MSFT commented on #78473
@cindyweng thanks for your feedback. Document will be updated shortly.

[2021-07-16 17:57] deepakkumarsharma2007 commented on #61446
I fixed mine when moved from redirect uri to SPA.

https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-spa-implicit-to-auth-code

Switch redirect URIs to SPA platform

If you'd like to continue using your existing app registration for your
applications, use the Azure portal to update the registration's redirect
URIs to the SPA platform. Doing so enables the authorization code f

[2021-07-16 18:08] jlichwa commented on #77082
@ErikMogensen  In key vault regardless if it is exportable or not we always store private key - otherwise certificate will be useless.
I believe your question is about download, if key is not exportable you will not be able to download certificate with private key

[2021-07-16 18:30] himanshusinha-msft commented on #78293
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .
@jianleishen : Can you please here ?

[2021-07-16 18:31] KranthiPakala-MSFT commented on #78480
@clu005
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-07-16 18:31] KranthiPakala-MSFT commented on #78480
@jonburchel - Could you please review the above enhancement feedback ? - Thanks

[2021-07-16 18:41] #70924 closed

[2021-07-16 18:46] JamesTran-MSFT commented on #78331
@Kroppinator
Thank you for your time and patience throughout this issue!

I reached out to my team and the author of this doc, and it looks like the only documentation we have right now is what I provided. We've also passed this info along to our engineering team so they can prioritize implementing this or similar features.

[2021-07-16 18:46] #78331 closed

[2021-07-16 18:51] JamesTran-MSFT commented on #78481
@annerajb
Can you share what step(s) needs to be changed or which one you found out of date?
- Reading through the documentation I was able to follow it and find the "Create a new Azure AD B2C Tenant" option.

![image](https://user-images.githubusercontent.com/36619112/125995271-485a410f-16f5-4630-b8d7-be847afc67ce.png)

If you have any other questions, please let me know.
Thank you for your time

[2021-07-16 18:56] KranthiPakala-MSFT commented on #78361
Hi @balbarka

We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-16 18:56] #78361 closed

[2021-07-16 19:12] v-albemi commented on #64660
@dracan

We looked further into this PR. What happened was that the commit in this PR entitled "enable managed identity and CI/CD MicrosoftDocs/azure-docs-pr#165843" was also in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/165843, so when PR 165843 was properly merged, this PR was automatically merged.

This scenario can happen when you create a working branch from another working branch

[2021-07-16 19:24] Jarlotee commented on #64660
@v-albemi this isnt a PR its an issue based on a missing feature

[2021-07-16 19:29] mimckitt commented on #73071
I can confirm the script is not working as intended. I tried to modify it a bit but it is still hanging. I am working with the VMSS and extensions team to see what the issue is so we can get this fixed.

[2021-07-16 19:30] MartinJaffer-MSFT commented on #78413
@jimmy-isaac  so you are able to connect to Data Explorer as a source, but the real problem is when the data is something like:
[code]
So you have a string-encapsulated JSON inside the normal outer form.  I don't think this is specific to Data Explorer.  I have seen the like elsewhere.
Have I got the right idea?

[2021-07-16 19:40] ssivas commented on #77938
Hi @hanslai ,

Thanks for reaching out.

How did you create your application, from "App registration" or  from "Enterprise Application" blade ?

With Azure active directory free subscription you can setup Single sign-on (SSO) with SaaS application ( It doesn't require premier license [Here is Azure AD pricing comparison](https://www.microsoft.com/en-us/security/business/identity-access-management/

[2021-07-16 19:40] #77938 closed

[2021-07-16 19:54] dracan commented on #64660
@v-albemi Sorry, I'm quite confused by your reply (easily done ;)). As @Jarlotee said, this isn't a PR, it's an issue. I also didn't raise this issue, I'm just subscribing to it, as I'm also waiting for this functionality to work as expected. So has this issue been closed by mistake then?

[2021-07-16 20:08] timrhaynes opened #78485 "Documentation errors"
Step 10 should warn the user that the Return URL must be entirely in lowercase, or Apple will complain about "invalid redirect url".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cc94537-730f-5188-f68d-70a07497ecb6
* Version Independent ID: 15aba9bb-6b15-c61a-aaff-48f26db84d70
* Content: [Set up sign-up and sign-in w

[2021-07-16 20:11] AnuragSharma-MSFT commented on #78244
@daemel Thanks for replying back. This is being assigned to the content author to evaluate and update as appropriate.

[2021-07-16 20:13] AnuragSharma-MSFT commented on #78323
@rarandiv Yes the doc talks about basic tier as well. I am assigning this to content author to evaluate and update as appropriate.

[2021-07-16 20:27] SaiKishor-MSFT commented on #78483
@sdgilley

Here are the steps to go to the private link center page:

Go to the Dashboard search box and type private link and click on it:
<img width="984" alt="private link" src="https://user-images.githubusercontent.com/68254272/126004796-7f004419-8b91-4e40-951b-e6992bd1be01.png">

That should take you to the privatelink page:
<img width="602" alt="2021-07-16 13_26_21-Private Link Center - Micr

[2021-07-16 20:44] JamesTran-MSFT commented on #78485
@timrhaynes
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-16 20:48] bandersmsft commented on #78436
@rootmusic Yes, you're right. Having a link to the open a support request in the Azure portal doesn't help much when you can't sign in. Here's the update I made to the article, which should help you:

- If you have questions or need help but can't sign into the Azure portal, [create a support request](https://support.microsoft.com/oas/?prid=15470).
- If you still have problems, you can try the [Az

[2021-07-16 20:48] #78436 closed

[2021-07-16 21:21] briancr-ms commented on #77381
Hi @stewartadam, we've been discussing your suggestion for an additional article about extending ontologies. Before we write one, I wanted to make sure I understood the scenario you're asking about.

Are you asking about a scenario where there is an existing relationship between two interfaces and you want to extend the target of the relationship with an additional interface and have the relations

[2021-07-16 21:30] v-albemi commented on #64660
@dracon

I was me who was confused. I see now that the issue was associated with a PR.

This is my understanding:
The PR was merged, which closed the issue. That's how GitHub is intended to work.

The issue was closed by design. If the issue isn't resolved, you can create a new issue or a PR.

Sorry for confusion.

[2021-07-16 21:46] SatishBoddu-MSFT commented on #78482
Hello @jrmoulckers
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 22:12] dlepow commented on #78315
Added note to article "Geography values are approximate based on IP address mapping." based on current feature implementation.
I'll proceed to close this issue now. Thanks again for your feedback to help improve this documentation.
#please-close

[2021-07-16 22:12] #78315 closed

[2021-07-16 22:30] stewartadam commented on #77381
Thanks for confirming! That accurately describes the scenario  I'm thinking about.

The line of thought came when reading about the existing industry models that can be leveraged as a starting point, but I was hoping to better document how users would then augment or extend that baseline while maintaining the relationships described in the baseline.

So using the example above - space and agent wo

[2021-07-16 22:36] RyanHill-MSFT commented on #78225
Yes, it is @bmedlin. This doc is instructions for creating an app service in your ASE. You need to [create ASEv3](https://portal.azure.com/#create/Microsoft.AppServiceEnvironmentCreation) first and then you will see it in the drop down.

If you have any further questions, feel free to reopen this issue and tag us in your reply.

[2021-07-16 22:36] #78225 closed

[2021-07-16 22:40] nickgmicrosoft commented on #78133
Hi @mateinavidad , please [file a support ticket](https://docs.microsoft.com/en-us/azure/active-directory-b2c/support-options) for the Azure AD B2C service and ask to be escalated directly to the product group and to tag "Edwin Gomez" on the ticket. We can enable your tenant to start listening for this id token implicit flow tag.

Any other customers who see this and want this behavior, please fol

[2021-07-16 22:41] jimmy-isaac commented on #78413
Yes, almost. The embedded item in the source is a JSON, not a JSON string.
{
  "dataA": 5,
  "dataB": "foo",
  "dataC": { 'innerJSONdata':{'X':2, 'Y':[1,2,3]}}
}

The output comes as:
{
  "dataA": 5,
  "dataB": "foo",
  "dataC": "{ 'innerJSONdata':{'X':2, 'Y':[1,2,3]}}"
}
with the inner quotes escaped.
Another example of output :
 "Prop1": "01:00:00",
    "NestedJson1": "{}",
    "NestedJson2": "{

[2021-07-16 22:43] hpsin commented on #77244
#please-close for aged out issues.

[2021-07-16 22:43] #77244 closed

[2021-07-16 23:04] bobleujr opened #78487 "Front Door redirects wildcard domain instead of forward intermittently"
Posted on Q&A Forum instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42cb8651-4d1d-4031-ad64-93fc7a2c0c6c
* Version Independent ID: d2f0f0f6-378b-d3e9-b5de-59ab8ac71c72
* Content: [Troubleshoot Azure Front Door configuration problems](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-troubleshoot-routin

[2021-07-16 23:14] bobleujr commented on #70729
@kalyanmit  I am having the exact same problem. Did you get to a conclusion?

[2021-07-16 23:21] #78487 closed

[2021-07-16 23:32] jamesongithub commented on #69949
Is there an update on this documentation?

What does non-zonal mean:
1) If you don't specify a zone you get a random zone.
2) You get a regional resource -- deployed in all zones?
3) It's possible to deploy a resource with no zone somehow? Meaning there are hardware that is not associated with any particular zone? (a "4th zone")?

[2021-07-16 23:35] apeguy opened #78488 "Confusion on the step 3 -- > "3. Copy the JWT, open jwt.ms and validate the domain is correct.""
"3. Copy the JWT, open jwt.ms and validate the domain is correct."

what JWT? What token? What value?
how and where this referred jwt  needs to be used with jwt.ms ???

i think this step needs more clarification please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c3fee62-d380-c103-c965-c07aa1366f7b
* Version Indepen

[2021-07-16 23:47] kgremban commented on #78188
Hi @RotateAt60MPH, there's not full parity of debugging options for VS Code across the different languages.

The steps in [Debug a module with the IoT Edge runtime](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-vs-code-develop-module?view=iotedge-2020-11#debug-a-module-with-the-iot-edge-runtime) should work for C/C++ but the other two debug options support only the languages specifically

[2021-07-16 23:50] JamesTran-MSFT commented on #78488
@apeguy
Thanks for your feedback! We will investigate and update as appropriate.

[2021-07-17 00:02] JamesTran-MSFT commented on #78488
@apeguy
Thank you for pointing this out!

When it comes to copying the JWT, you should be copying the whole `linked_did value` as shown in the screenshot:
![image](https://user-images.githubusercontent.com/36619112/126018768-1858519c-46be-407f-b9cb-c542115315e6.png)

Once you have the value (JWT) copied, you can navigate to `https://www.jwt.ms/`, paste the JWT, and verify the domain is correct.
![

[2021-07-17 00:02] #78488 closed

[2021-07-17 00:06] hasandogu commented on #20737
This is giving us

`BadRequestError: Network profile ...vk-c4b98b20d03efaa88fc2e1be48a3f4f1b61e8b18f611e80986276441e7636a1d... is already in use with container nics 5f174c69-61f6-480a-bea3-1b3d117378e8_eth0,dc1225a9-2ec6-4a24-81b1-855166d657ac_eth0; cannot update or delete`

And we can't seem to find these nics anywhere. Is this something that ACI team should fix in the back-end?

[2021-07-17 00:12] andrerpena commented on #68962
I agree it's misleading. They wanted to say `unlimited` on the number of databases even though it's useless without containers

[2021-07-17 00:21] ashokerram opened #78489 "latest samples URL is not correct"
The samples link on this page is not correct. It just has a part of URL and not full URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94440863-21fb-8ed0-ea59-a9be7308b039
* Version Independent ID: b422fda1-49d7-b199-e944-18943ef68d36
* Content: [Azure Service Bus messaging samples overview - Azure Service Bus](https

[2021-07-17 00:22] GiftA-MSFT commented on #78474
@tracychms can you please provide an accurate blob path based on above feedback? Thanks!

[2021-07-17 02:00] js-mode commented on #20737
Best to open a support ticket and have the ACI team resolve it from the back-end.  The fix (running the az cli or powershell commands above) does not work 100% of the time, but ACI team should be able to get this resolved for you.

[2021-07-17 02:19] carlosporter opened #78491 ""az ssh vm" doesn't work when the virtual machine doesn't have a public IP address."
There is bug report for this issue, please check the link below for details.

https://github.com/Azure/azure-cli-extensions/issues/3501

While "az ssh vm --ip X.X.X.X " supports  both private and public IP addresses, when the virtual machine has only a private IP the extension won't be able to connect to the virtual machine.

Quote:
" The ssh extension has no way to automatically reach / tunnel to

[2021-07-17 02:49] asudbring commented on #66353
Updated graphic.

#please-close

[2021-07-17 02:49] #66353 closed

[2021-07-17 03:12] AshokPeddakotla-MSFT commented on #78489
@ashokerram Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-17 03:18] asudbring commented on #71118
Updated table

#sign-off

[2021-07-17 03:19] #71118 closed

[2021-07-17 03:19] asudbring commented on #69711
Updated graphic

#please-close

[2021-07-17 03:19] #69711 closed

[2021-07-17 03:20] asudbring commented on #74883
Updated table

#please-close

[2021-07-17 03:20] #74883 closed

[2021-07-17 04:39] Vipin-Sharma opened #78494 "Command `func azure functionapp logstream` can't find function app"
Command to stream logs doesn't work, tried it after az login. This is windows based function app and as per this docs it should stream logs.

Command:
func azure functionapp logstream fappname

Console Output:
Retrieving Function App...
Can't find app with name "fappname"

fappname is my function app name, I am not giving resource group subscription id anywhere can it cause trouble?
My default sub

[2021-07-17 05:04] AmitavaHazra opened #78495 "How can we control "SignUpSignInPolicyId" in authentication scheme."
Reference:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-web-application-options

How can we control    "SignUpSignInPolicyId" in authentication scheme.

Requirement -
If we click one button then it should redirect us to one sign up sign in policy. and if we click on another button on application then it should take us to another sign up sign in policy. Basicall

[2021-07-17 06:03] hyoshioka0128 opened #78496 "[LOC]Not Translated (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/azure/cosmos-db/create-cassandra-java-v4"
![create-cassandra-java-v4_j](https://user-images.githubusercontent.com/40815708/126027515-cb5107a6-a658-4181-b6ab-adc9f749d95d.png)

en-us:"https://docs.microsoft.com/en-us/azure/cosmos-db/create-cassandra-java-v4"
![create-cassandra-java-v4_e](https://user-images.githubusercontent.com/40815708/126027513-31ab2e0f-65

[2021-07-17 06:23] SatishBoddu-MSFT commented on #78414
Hello @gcontrabass
I have assigned the issue to the content author for further review.

[2021-07-17 06:34] SatishBoddu-MSFT commented on #78066
Related: https://stackoverflow.com/questions/68302999/azure-iot-device-streams-https-proxy-support

[2021-07-17 07:07] SatishBoddu-MSFT commented on #78491
Hello @carlosporter
Do you have an official document that you have referred for this issue?

[2021-07-17 07:09] SatishBoddu-MSFT commented on #78494
Hello @Vipin-Sharma
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-17 07:13] SatishBoddu-MSFT commented on #78495
Hello @AmitavaHazra
Thanks for the feedback! We are currently investigating and will update you shortly.