[2019-04-12 16:21] krishnasingh1818 opened #29319 "AccessToken not supported in .net core 2.1"
Above doc says not supported in 2.1 but this url says it does
https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnection.accesstoken?view=netframework-4.7.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470

[2019-04-12 16:27] fixx220 opened #29320 "Access token likely to expire when changing time zone from PST"
Hi folks,

When deploying the OVA it'll have the time zone set to PST.  A check during the deployment will advise of the time being too far out considering the time zone.  This is likely because the time is correct (VMware tools pulling time from NTP server on ESXi host).  Correcting the time zone will have an impact when finalizing the deployment as the access token will have potentially expired.

[2019-04-12 16:28] apwestgarth commented on #29244
@Grace-MacJones-MSFT and @cephalin  can you point me to the PR please as I still see "To deploy .NET Core apps, use a parent image based on the Windows Server Nano 1809 Long-Term Servicing Channel (LTSC) release" listed?

[2019-04-12 16:31] CelesteDG commented on #29253
Thank you, @frankhu1234 - The library is not deprecated, but we've got the wrong link in the doc. I'm updating it now, but it should point here: https://cocoapods.org/pods/ADAL

Thank you.

[2019-04-12 16:34] barbkess commented on #24510
@shashishailaj  : Please assign to @CelesteDG

[2019-04-12 16:36] ash2017 commented on #14582
We have updated the document with information on partition key, while creating the collection and in logic apps. Updated doc: https://docs.microsoft.com/azure/iot-hub/iot-hub-how-to-order-connection-state-events.
This issue can be closed.

[2019-04-12 16:36] frankhu1234 commented on #29253
The cocoapod in the sample is using:

_source 'https://github.com/CocoaPods/Specs.git'
link_with ['QuickStart']
xcodeproj 'QuickStart'

pod 'ADALiOS'_

ADAL iOS was deprecated a long time ago.

To clarify ADAL Obj C is different from ADAL iOS.
https://github.com/AzureAD/azure-activedirectory-library-for-objc

That being said, it looks like the github is pointing to the right repo, however the dire

[2019-04-12 16:42] shmahanta commented on #29239
@Mike-Ubezzi-MSFT Thanks. Our DB is already registered for AAD.
I think I would need an Azure app ID for the elastic job to be able to give access to other resources easily. But I'm not sure if elastic jobs can be related to an Azure app:

https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal

+ @johnpaulkee who had helped with another spec for elast

[2019-04-12 16:46] rachel-msft commented on #20758
We expect to have the fix rolled out in June.

[2019-04-12 16:49] Adam-Smith-MSFT commented on #29130
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-12 16:49] #29130 closed

[2019-04-12 16:49] Adam-Smith-MSFT commented on #29219
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-12 16:49] #29219 closed

[2019-04-12 16:51] CelesteDG commented on #29293
Hello @christerengman - Thank you for your question. We are in the process of pushing out a doc update for the application manifest. You are correct that displayName is name. We'll be noting this in the updated version.

[2019-04-12 16:55] #14582 closed

[2019-04-12 16:57] j-martens commented on #29093
@MarkArranz thanks for reporting, we've removed the link to the dead blog. #please-close

[2019-04-12 17:00] SaurabhSharma-MSFT commented on #29088
@cap273 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-12 17:00] #29088 closed

[2019-04-12 17:03] stevencl opened #29321 "The environment variable for MacOS doesn't work"
For MacOS the instructions say to create the environment variable STORAGE_CONNECTION_STRING. But this doesn't work. When running the code, an error message appears indicating that the code is expecting the environment variable storageconnectionstring

After adding the env variable storageconnectionstring, the code works.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-04-12 17:08] MartinJaffer-MSFT commented on #29037
@rahulunlimited  @antgonmir  Did I answer your question, or did I misunderstand?

[2019-04-12 17:11] MartinJaffer-MSFT commented on #29246
@JasonWHowell Thank you, I was about to start a conversation with the editor.  I wasn't sure of your policies.

[2019-04-12 17:16] bachoang opened #29322 "Please document the ROPC flow for V1 endpoint"
https://blogs.msdn.microsoft.com/wushuai/2016/09/25/resource-owner-password-credentials-grant-in-azure-ad-oauth/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4ddd-1099-1c86-885aa42a566f
* Version Independent ID: 190585ca-8337-0644-2182-75b77f53c175
* Content: [Use Microsoft identity platform to sign in users

[2019-04-12 17:20] YutongTie-MSFT commented on #29093
@MarkArranz
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-12 17:20] #29093 closed

[2019-04-12 17:22] YutongTie-MSFT commented on #11312
@jtlz2 @vashish76 @Lindahe0707 @oninross Hi guys, thank you for your feedback. Could you please open a new ticket if you are still suffering from this issue? The original post is too old. Sorry for all inconvenience and thank you for your post here again.

[2019-04-12 17:24] YutongTie-MSFT commented on #7130
@myusrn Could you please send an email to me at Azcommunity@microsoft.com? We would like to work with you if you are still suffering from this issue. Thank you.

[2019-04-12 17:26] Alberto-Vega-MSFT commented on #29053
@mysaggar Follow the instructions on my previous post so you can get help.  Also I have assigned the issue to the content author to evaluate and update this document as appropriate.

[2019-04-12 17:26] YutongTie-MSFT commented on #28891
@Godase Hi Akshay, thank you for your response. Could you please send us an email at azcommunity@microsoft.com? We will take care of this issue. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-12 17:26] #28891 closed

[2019-04-12 17:28] YutongTie-MSFT commented on #29024
@PatrickFarley Hi Patrick, could you please check this issue and update the document with the latest version? Thank you a lot.

[2019-04-12 17:29] solutionsmonkey commented on #20758
@rachel-msft, thanks for an ETA but June is an awful long time out. This worked before and looks like a bug was introduced into this change. I have several customers who are using automation with Terraform and Kubernetes which this will not work well. I know this occurs only on the Basic server, but going up defeats the purpose of cost optimization. Also, these are migrations from AWS to Azure so

[2019-04-12 17:35] PatrickFarley commented on #29024
Hi @mattferderer , I will update the docs to use version 4.0, but why do you say this version doesn't include the Face SDK?

[2019-04-12 17:38] BryanTrach-MSFT commented on #29319
@krishnasingh1818 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@cephalin It appears there might have been an update since the original note was placed.

[2019-04-12 17:39] BryanTrach-MSFT commented on #29300
@mchudinov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-12 17:39] itguysocal opened #29323 "Please add a note that "unknown areas" includes all IPv6 IP ranges"
Please consider adding a sentence to this section here: "Include unknown areas - Some IP addresses are not mapped to a specific country. This option allows you to choose if these IP addresses should be included in the named location. Use this setting when the policy using the named location should apply to unknown locations."
So that it includes the following:
"Please note that IPv6 addresses are

[2019-04-12 17:40] BryanTrach-MSFT commented on #29301
@mchudinov Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-12 17:41] YutongTie-MSFT commented on #29311
@nicojdejong
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-12 17:45] barracud opened #29324 "Migrating Powered Off VMs from VMware to Azure"
We have a number of VMs on VMware that have been POWERED OFF (and we are not allowed to power them on).  Management wants us to migrate these "powered off" VMs from VMware to our Azure subscription.

Is it possible to use Azure Site Recovery to migrate these "powered off" VMs from VMware to Azure?

If so, please outline the steps involved.

Thank you!!

---
#### Document Details

⚠ *Do not edit th

[2019-04-12 17:50] mattferderer commented on #29024
Hi @PatrickFarley. I installed Microsoft.Azure.CognitiveServices.Vision version 4 from NuGet but it didn't include any the Face directives. It seems to have ComputerVision & ComputerVision.Models. I'm not sure where else I read it, but it appears that the Face directives were removed in Version 3. It seems the appropriate way to do this according to the docs is to use the HTTP rest API & not the S

[2019-04-12 17:53] HJToland3 commented on #29297
@Anmolgan81, yes, you need to add primary keys to those tables.

[2019-04-12 17:54] Anmolgan81 commented on #29297
So enabling cdc for those tables will not work here?

Regards
Anmol Ganju

________________________________
From: H. James Toland III <notifications@github.com>
Sent: Friday, April 12, 2019 11:23:28 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Do LOB Tables do not need primary key for Online Migrations? (#29297)

@Anmolgan81<https://github.com/An

[2019-04-12 17:55] adrianwells opened #29325 "Correct steps"
Steps are outdated, for example Step 1 and 2 have different navigation steps, please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2064767f-5304-275a-df9b-e74199b53408
* Version Independent ID: 57dcf6b8-7125-1e0b-c446-34a0a1366a92
* Content: [Tutorial - Stream Azure Active Directory logs to an Azure event hub

[2019-04-12 17:57] msrini-MSFT commented on #29163
@simonua , Endpoints are child resource of profiles so they need to be in the same Resource Group. Your ask is not possible now. You can provide feedback on User voice.

[2019-04-12 17:57] #29163 closed

[2019-04-12 18:00] Karishma-Tiwari-MSFT commented on #29294
@ChristianMontoya Can you please share your insights on this. Thanks :)

[2019-04-12 18:05] msrini-MSFT commented on #29316
@qJake , Thank you for your feedback. By default, if you haven't configured hostname, TM will send the hostname with its probing IP address. If you add Web App then the probe would fail, and hence you need to configure custom header with host:*.azurewebsites.com .

Hope that answer's your question.

[2019-04-12 18:05] calirave commented on #28332
Can I add IP address restrictions to Active Sync policy? We have an on-prem mobile device management solution which we will use to configure email on mobile devices and will use MDM (via active sync) to deliver emails. Can we allow only our MDM solution (via IP address) to talk to ActiveSync and block others?

[2019-04-12 18:09] SnehaAgrawal-MSFT commented on #29258
@nelfer Thanks again for the question! After you are authenticated you would have a bearer token or ID token which can be given to the client and you can use that token to request access to any resource within your application whichever is secured by Azure AD.
Also follow below links might be helpful :
https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to
 https://do

[2019-04-12 18:10] kevinvngo commented on #12479
PolyBase is used by Azure DataBricks under the covers

[2019-04-12 18:10] kevinvngo commented on #12479
#please-close

[2019-04-12 18:11] mattbriggs commented on #28119
updated. #sign-off

[2019-04-12 18:17] Grace-MacJones-MSFT commented on #28796
The doc has been updated. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 18:17] #28796 closed

[2019-04-12 18:18] DaanJJansen commented on #28293
had the same problem when using python 3.7 (32 bit), confirmed that it works when switching to python 3.6 (64 bit)

[2019-04-12 18:23] #28554 closed

[2019-04-12 18:24] #28558 closed

[2019-04-12 18:25] PatrickFarley commented on #29024
@mattferderer , The tutorial page in question is for the Azure Face API and uses Microsoft.Azure.CognitiveServices.Vision.Face, not Microsoft.Azure.CognitiveServices.Vision. These are two different services. I will find out if face was removed from Computer Vision, but the above tutorial for Face should work as-is

[2019-04-12 18:26] kevinvngo commented on #13172
Thank you for the feedback. For this information, please review our Overview section along with the following article describing how SQL Data Warehouse fits in the overall Azure analytics solution. https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-overview-what-is

[2019-04-12 18:26] kevinvngo commented on #13172
#please-close

[2019-04-12 18:28] robinsh commented on #14582
Just a note: I also updated all of the screens and the tutorial itself.

[2019-04-12 18:29] eriawan commented on #29244
@Grace-MacJones-MSFT  I have checked the doc about this issue, and the current article isn't yet updated and I could not see any PR related to this documentation. Is this still waiting to update?

CMIIW, I have gone thru the history and commits, I could not see any PR or commit related to this issue at all.

[2019-04-12 18:29] #29120 closed

[2019-04-12 18:32] apwestgarth commented on #29244
@eriawan I have submitted a new PR as I couldn't see @Grace-MacJones-MSFT's PR either.  This has been signed off on our internal repo and should be published by 4PM Pacific this afternoon.

Thanks for highlighting the error.

[2019-04-12 18:32] mike-urnun-msft commented on #29312
Hi @dscpinheiro Thank you for your feedback! We will review and update as appropriate.

[2019-04-12 18:32] mattferderer commented on #29024
My apologies. I missed it when searching due to the "include prerelease" checkbox not being checked. I see it now & it works just fine.

[2019-04-12 18:32] #29024 closed

[2019-04-12 18:33] reddy-sucharit commented on #28742
Followers of this request, kindly Vote for [this](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/35324563-support-for-transactions-via-mongo-4-0-api):

https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/35324563-support-for-transactions-via-mongo-4-0-api

Current Status of [this](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/35324563-s

[2019-04-12 18:33] #28742 closed

[2019-04-12 18:37] Grace-MacJones-MSFT commented on #29244
@eriawan I started creating one last night not sure if it went through. However, I can see the PR @apwestgarth created to update the doc. Thanks again for bringing this error to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 18:37] #29244 closed

[2019-04-12 18:38] rohinkoul commented on #25823
@SubhashVasarapu-MSFT  This is not an Azure issue. Windows server team would be the right team to comment on this. Please reassign or close.

[2019-04-12 18:41] Jann-Skotdal commented on #29223
@kamilbednarz : V3 only detects languages supported for translation or transliteration. We are updating the documentation to clarify.

[2019-04-12 18:51] femsulu commented on #29320
@fixx220 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-12 18:53] femsulu commented on #29310
@Placid7 Thanks for the Comment. We are actively investigating and will get back to you soon.
@sachdevaswati can you please take a look at this issue?

[2019-04-12 18:56] #21114 closed

[2019-04-12 19:07] hintbw opened #29331 "The import VM script is no longer located at the link provided in this page"
The import script is no longer very findable in the repo and the link to that script is broken. Is this still a supportable method?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2496f94a-7c5d-636b-2458-05200514b0fc
* Version Independent ID: 78efebec-ccef-7eac-d7bc-9bbfe72279ec
* Content: [Import virtual machines from

[2019-04-12 19:07] ThomasWeiss commented on #29213
@robin-parker The TTL feature requires indexing to be active, so either of these will fail indeed:
- Settings the indexing mode to `None` while TTL is activated
- Activating TTL while the indexing mode is set to `None`.

To use TTL for a collection used as pure key-value pair, you can use the following policy:
[code]

Thanks a lot for pointing that out, I'm updating the docs accordingly!

#please-

[2019-04-12 19:13] arunkp89 opened #29332 "Please update this KB with correct Ubuntu version"
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-multiple-ip-addresses-portal#linux-ubuntu

Can you please update this KB for Ubuntu section, saying the process is valid for Ubuntu 14/16. Ubuntu18 is using netplan to manage Network Interfaces as opposed to /etc/network/interfaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-12 19:14] SadiqhAhmed-MSFT commented on #29281
@Coldry Please share the screenshot for us to help you further.

[2019-04-12 19:16] ChristianMontoya commented on #29294
@jespernohr : Currently, Windows 7 is not supported yet in the preview but is targetted to be supported very soon. At the moment, only Windows Server 2016 and Windows 10 Enterprise multi-session are supported.

I see how there can be some confusion with it being listed in the value props, but we are working on it!

[2019-04-12 19:25] wamota commented on #24228
I'm opening a bug to clarify the message on the Deployment Worksheet.  The support for FQDN value on the Time Server field will be enabled as each OEM completes their support for FQDN NTP, as of now none of them do so I understand the confusion and we will address this messaging issue on the next release.

[2019-04-12 19:29] cynthn commented on #20855
#please-close @lonevvolf Thank you for the feedback! I'm going to close this issue for now. I have a work item to create Linux specific docs in this space. Thanks again!

[2019-04-12 19:29] SadiqhAhmed-MSFT commented on #29282
@Rajani-Janaki-Ram and @mayurigupta13 Could you please share your insights on the above query?

[2019-04-12 19:30] YutongTie-MSFT commented on #29223
@kamilbednarz We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@Jann-Skotdal Thank you Jann.

[2019-04-12 19:30] #29223 closed

[2019-04-12 19:34] SaurabhSharma-MSFT commented on #29167
@ptansey Can you please open a [Azure Support Ticket](https://aka.ms/azsupt) so that a Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know.

[2019-04-12 19:36] rolyon commented on #28160
Hi @admintgal
I checked with the team and Management Type values basically have the following meanings:
Direct - The resource is being directly managed
Inherit - A parent resource (such as a management group) is already being directly managed
Does this help? I'm not sure if I'm answering your question.
thanks

[2019-04-12 19:37] wamota commented on #27146
I'm working on this documentation regarding these and other cmdlets for Azure Stack, we should have this documentation available online soon... thanks for your feedback!!!

[2019-04-12 19:41] Mike-Ubezzi-MSFT commented on #28461
Adding additional reference information that is a key detail I missed earlier:

I am assuming this is the case for PaaS services as well, like Azure SQL Database and Cosmos DB?

@hansmbakker I see in the Stack Overflow thread (with regard to the screen captures) that you have disabled the "Allow access to Azure services" (which is the desired state) but I don't see any of the private IP ranges in

[2019-04-12 19:45] SeanCLeavitt opened #29333 "What is the smallest interval that can be set?"
I see that the "smallest allowed interval is five minutes" when setting the Schedule property on the "Create Indexer" documentation [https://docs.microsoft.com/en-us/rest/api/searchservice/Create-Indexer#schedule].  Could you please formally include that Indexer Limit on this page in the table above?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-04-12 20:00] AidanTfL commented on #29302
Hi everyone,

We are unable to add VNET integration to our new App Service and App Service plan, as the subnet is already occupied by a previous app service plan it was integrated with, that we've since deleted.

We've submitted a Support Request to Microsoft, but as the VNET Integration feature is still in preview, we're wondering if anyone else has experienced similar issues?

Additional steps w

[2019-04-12 20:00] spelluru commented on #29331
Please see the script here:
https://github.com/Azure/azure-devtestlab/tree/master/samples/DevTestLabs/Scripts/ImportVirtualMachines

I will fix the article to point to the right location.

[2019-04-12 20:04] yroymsft opened #29334 "Incomplete steps"
The az aks create command give this error and will be good to have that explained in this documentation
An RSA key file or key value must be supplied to SSH Key Value. You can use --generate-ssh-keys to let CLI generate one for you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a25fcb8-b87e-76dd-9f0c-9d1b7aa31469
* Ve

[2019-04-12 20:04] Mike-Ubezzi-MSFT commented on #28461
@SaltyDH The [feedback item](Web App should use private IP in a VNet with Service Endpoints) you are referring to pertains to App Services and not App Service Environments. App Services is a clustered architecture and is serviced through a Gateway via a public IP only. Based upon this and my question in the previous comment, when you enable service endpoints for a PaaS service such as App Service,

[2019-04-12 20:06] AidanTfL opened #29335 "Unable to connect a Subnet (that has previously been connected to a deleted App Service and App Service Plan) to a newly created App Service using VNET Integration (Preview)"
**Azure Technology:**  App Service (on Windows) - New VNET Integration (Preview)
**Published Documentation Article:** https://docs.microsoft.com/en-gb/azure/app-service/web-sites-integrate-with-vnet#new-vnet-integration

**Feedback:**
Hi everyone,

We are unable to add VNET integration to our new App Service and App Service plan, as the subnet is already occupied by a previous app service plan it

[2019-04-12 20:09] wamota commented on #26062
Documentation has been updated to clarify the static routing requirements and should be available online soon.

[2019-04-12 20:11] TomBertie commented on #29108
Can you please provide an update that works with the current version of the module shanitza@microsoft.com
Otherwise the article is more wasteful that helpful.
Many thanks in advance

[2019-04-12 20:16] Mike-Ubezzi-MSFT commented on #13172
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-12 20:16] #13172 closed

[2019-04-12 20:20] TomBertie commented on #28084
@femsulu : How can this can't be closed, because there is no solution?

[2019-04-12 20:34] SadiqhAhmed-MSFT commented on #29016
@BijsT The doc has two parts –

To enable the protection on encrypted VMs (encrypted using BEK and KEK), you must give the Azure Backup service permission to read keys and secrets from the key vault.
PowerShellCopy
Set-AzKeyVaultAccessPolicy -VaultName "KeyVaultName" -ResourceGroupName "RGNameOfKeyVault" -PermissionsToKeys backup,get,list -PermissionsToSecrets get,list -ServicePrincipalName 262044

[2019-04-12 20:36] SheldonHage opened #29337 "Would like to see this without using the Azure CLI"
The CLI fails to show the connection between the code and Azure connected services.  This would be beneficial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00961883-36eb-f736-b906-73d4c35e69b0
* Version Independent ID: 3a2fd493-9682-eedf-fad1-571b9391cd46
* Content: [Build .NET Core app with SQL Database - Azure App

[2019-04-12 20:36] TravisCragg-MSFT commented on #29110
@cogran If there is a specific dependence with NSG Flow Logs, please let me know and I can move this issue over to a flow log doc.

[2019-04-12 20:37] qJake commented on #29316
Yes @msrini-MSFT, thank you! Can this be added to the documentation? I think this is really valuable info!

[2019-04-12 20:38] NateB2 commented on #28461
@Mike-Ubezzi-MSFT If you look at the slide from the video I posted and/or listen to the talk, it looks like the new vnet integration **does not** require setting up a gateway (unless it's doing it behind the scenes) and a point-to-site connection for app services.  The talk appeared to be about regular app services, not ASEs. The old VNET integration did require a gateway and a point-to-site VPN c

[2019-04-12 20:39] SadiqhAhmed-MSFT commented on #29324
@barracud Thanks for the question! We will check on this requirement and get back to you soon.

[2019-04-12 20:42] cgillum commented on #29142
@jeffhollan Do you know where Visual Studio gets its host.json schema from, and how that gets updated?

[2019-04-12 20:47] Dikkekip commented on #29108
I did a fair deal of trying to import the missing Microsoft.IdentityModel.Clients.ActiveDirectory
Dll in the script. Witch is available through nuget. Did not work at all. Wasting a lot of time.
In the end I unistalled Az and used the AzureRM module where this dll is build in. And used the script from before January instead. Working like a charm. Please fix the script above.

[2019-04-12 20:50] CloudCrusader commented on #26602
same problem here, would like some assistance

[2019-04-12 20:51] MarileeTurscak-MSFT commented on #29318
@twimmers
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 20:51] MarileeTurscak-MSFT commented on #29322
@bachoang
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 20:52] MarileeTurscak-MSFT commented on #29325
@adrianwells
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 20:52] TobiMason commented on #29314
To be honest, I do not see that in the Before you begin section of this chapter....
It just states that you have a AKS cluster deployed and a kubectl connection established.
I agree with the information about "adding the executable to the path". But this is being mentioned as well after the kubectl has been installed using the az aks command.

[2019-04-12 20:52] MarileeTurscak-MSFT commented on #29323
@itguysocal
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-12 20:55] AidanTfL commented on #29335
This issue belongs here: https://github.com/MicrosoftDocs/azure-docs/issues?q=%2237ff1d0f-ed8e-5e4d-1f4c-1b9f6cffb938%22+is%3Aopen

[2019-04-12 21:00] SnehaGunda commented on #28398
Update: Had a chat with Dong and he is going to submit some changes to the doc that captures how to use continuation token with Top.

[2019-04-12 21:00] MicrosoftGuyJFlo commented on #29323
I actually have an update from the product team that was sent last night that will include this. Working on getting it published soon.

[2019-04-12 21:09] barracud commented on #29324
Thanks @SadiqhAhmed-MSFT.  This is quite URGENT.

Is it possible to use Azure Site Recovery to migrate these "powered off" VMs from VMware to Azure?

If so, please outline the steps involved.

Thank you!!

[2019-04-12 21:22] sethmanheim commented on #20214
@mzbowe Sorry for the late response. However, the article says to use the values that are listed previously in the network configuration table. Is this incorrect?

[2019-04-12 21:22] chetansriv commented on #19936
It should be fixed by now.
#please-close

[2019-04-12 21:23] sethmanheim commented on #22043
@walidshaari We are closing this issue now, but if you still require assistance, please open a new one. Thank you! #please-close

[2019-04-12 21:24] Sara-Nicolini commented on #26379
@BryanTrach-MSFT, please help assign issue to @DavidPrio.
@SunnyDeng, FYI.

[2019-04-12 21:24] tfitzmac commented on #26602
@pijemcolu and @CloudCrusader - the service principal is not displayed in the list until you specifically type it in to the search box. Have you tried that?

Also, I just want to make sure we are referring to the same scenario. Are you trying to deploy an Azure Managed Application? If you are just trying to deploy templates that get a secret from a Key Vault, you don't need to grant access to this

[2019-04-12 21:25] sethmanheim commented on #25606
@BjornAnd Very sorry for the slow response. As we are now on 1903, is this still an issue? If so, can you please open a new GitHub issue, and I will make sure the engineering team sees it? Thank you! #please-close

[2019-04-12 21:25] NateB2 commented on #28461
@hansmbakker I'm slowly working my way through to Azure support.  We go through a CSP, so there are extra hoops to jump through.

[2019-04-12 21:26] Sara-Nicolini commented on #16444
@femsulu, please help assign localization issue to @DavidPrio.
@SunnyDeng, FYI.

[2019-04-12 21:26] sumeetmittal commented on #24826
@colinweiner The provisioning link takes you to the Provisioning paragraph in the same document.

[2019-04-12 21:27] sumeetmittal commented on #24826
#please-close

[2019-04-12 21:27] sethmanheim commented on #25869
@ooteniya Thank you for pointing this out and sorry for the slow response. I will make sure to add this info to this article. Thanks again for your contribution! #please-close

[2019-04-12 21:29] sethmanheim commented on #26474
@alexsmithMSFT Thank you for pointing this out and sorry for the slow response, I will be sure to get it fixed. Since you're internal to Microsoft, for future reference you can just email me directly. :-) Thanks again. #please-close

[2019-04-12 21:29] Sara-Nicolini commented on #13808
@conceptdev, @BryanTrach-MSFT, please help reassign issue accordingly. This is not a loc issue. We don't have write access to reassign this internally.
@SunnyDeng, FYI.

[2019-04-12 21:31] TravisCragg-MSFT commented on #28119
@NeilBird We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 21:31] #28119 closed

[2019-04-12 21:33] Sara-Nicolini commented on #13380
@genlin, @mike-urnun-msft, please reassign this issue internally (we don't have write access to do so in the EN_US repo). This is a request to change content at source. We cannot customize the content in the target. The customer is asking to add a note in the original content to show that this feature is not available in China.

@SunnyDeng FYI.

[2019-04-12 21:35] sumeetmittal commented on #21907
#please-close

[2019-04-12 21:35] TravisCragg-MSFT commented on #22043
@walidshaari We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 21:35] #22043 closed

[2019-04-12 21:36] Sara-Nicolini commented on #9419
@SunnyDeng, please look into this. We cannot customize localized content. I am not clear why this would apply to Japanese only. It appears to me to be a change at source.

[2019-04-12 21:37] zr-msft commented on #21850
@Karishma-Tiwari-MSFT can your remove me as an assignee?

[2019-04-12 21:37] aljo-microsoft commented on #29211
#please-close

[2019-04-12 21:37] TravisCragg-MSFT commented on #25606
@sethmanheim I would like to keep this one active. The networking differences post 1901 are not clearly documented and are still causing issues.,

[2019-04-12 21:38] TravisCragg-MSFT commented on #25869
@ooteniya We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 21:38] #25869 closed

[2019-04-12 21:38] Sara-Nicolini commented on #8582
@DavidPrio, @CeciAc, please update the status of this issue.
@SunnyDeng FYI.,

[2019-04-12 21:38] TravisCragg-MSFT commented on #26474
@alexsmithMSFT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 21:38] #26474 closed

[2019-04-12 21:38] TravisCragg-MSFT commented on #21907
@ivanignatiev We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-12 21:38] #21907 closed

[2019-04-12 21:39] haroldwongms commented on #8942
The documentation has been updated to address this already.

[2019-04-12 21:40] haroldwongms commented on #9424
I will be more clear with the examples and instructions in the next update of the documentation.

[2019-04-12 21:42] rahulunlimited commented on #29037
Actually I wanted to check about the CLI version rather than PowerShell so that I can integrate with rest of the script.

Sent from my iPad

[2019-04-12 21:42] haroldwongms commented on #13308
These issues were addressed in the latest master branch that deploys 3.11

[2019-04-12 21:43] haroldwongms commented on #27457
OSBA will be supported in Managed OpenShift using the customer Admin role.  I will work on opening a PR to the OSBA repo to correct the readme.

[2019-04-12 21:48] SaltyDH commented on #28461
Thanks Mike, I'm very keen to find a solution for app services, switching to app service environments is so cost prohibitive it's not a reasonable solution. While I understand this might be difficult technically to deliver, I'm confused as it seems there is work in this direction and we're trying to seek clarification on this.

[2019-04-12 21:48] aljo-microsoft commented on #25098
@wasabii
https://docs.microsoft.com/azure/service-fabric/service-fabric-dnsservice#setting-the-dns-name-for-your-service

E.G. For stateful services just use named partitions with DNS Service. For stateless, make named application instances for each named service you'd like a distinct record for.

@MicahMcKittrick-MSFT
#please-close

[2019-04-12 21:49] Karishma-Tiwari-MSFT commented on #25098
@wasabii We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-12 21:49] #25098 closed

[2019-04-12 21:57] Alberto-Vega-MSFT commented on #29205
@ravinsp  I am assigning the issue to the document author @robinsh to help answer your question and also evaluate the possibility of adding clarity to this doc. Maybe an example calculation would be useful.

[2019-04-12 21:58] aljo-microsoft commented on #28967
@Karishma-Tiwari-MSFT
You provided reference to the correct doc for connecting to a secure cluster. #please-close

[2019-04-12 22:00] Karishma-Tiwari-MSFT commented on #27152
@jpconnock  As issues open for more than 90 days will be closed on Monday, assigning it back so this can be added to the backlog. The F-series is supported by cloud services, this doc needs to be updated with that information.

[2019-04-12 22:03] kobulloc-MSFT commented on #29331
@hintbw Thank you again for bringing this to our attention.  We'll get this updated as quickly as possible.

[2019-04-12 22:03] SaurabhSharma-MSFT commented on #29235
@ckarras There is no such role like Graph Administrator credentials which you can apply to a user.  The first option requires a B2C administrator sign-in to perform calls to Graph API.  Please refer to [GitHub Sample](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi) to call a web API from a web app in Azure AD B2C.  I also suggest you please open a new MSDN forum pos

[2019-04-12 22:04] Karishma-Tiwari-MSFT commented on #18813
These section needs to be updated with new content and screenshots:
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-how-to-configure-portal#reconfigure-your-cscfg
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-how-to-configure-portal#monitoring
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-how-to-configure-portal#change-a-cloud-serv

[2019-04-12 22:05] kobulloc-MSFT commented on #29334
@yroymsft Thank you very much for bringing this to our attention!  We'll review this and get back to you shortly.

[2019-04-12 22:15] JasonWHowell commented on #28775
#please-close

[2019-04-12 22:20] hintbw commented on #29331
You bet - thanks for the info and the link to the updated script!

[2019-04-12 22:26] ksekimoto opened #29342 "The script doesn't seem to check "Global Admin" right"
Created an installation user account with "User" right of their tenant directory (without Global Admin). Then executed the validation script on the following url.

https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-validate-identity

 The script output was OK.
 I think that this script doesn't check "Global Admin" right.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-04-12 22:28] robin-parker commented on #29213
Thanks for the quick response, this is now working just fine.

[2019-04-12 22:28] #29213 closed

[2019-04-12 22:39] apwestgarth commented on #12730
#please-close

[2019-04-12 22:41] rachel-msft commented on #20758
@solutionsmonkey I think you may be referring to something else. There isn't any question of basic servers here. Can you email AskAzureDBforPostgreSQL@service.microsoft.com so we can discuss?

[2019-04-12 22:48] conceptdev commented on #13808
There were some updates to this doc just a few days after the issue, which may have addressed the customer's concern. If problems persist we will see them in new issues.

#please-close

[2019-04-12 22:51] HJToland3 commented on #19807
@Anmolgan81  - The blog posting "Automating migration of SQL to Azure SQL DB using the Azure Database Migration PowerShell module" has been updated and is currently available here: https://techcommunity.microsoft.com/t5/Microsoft-Data-Migration/Automating-migration-of-SQL-to-Azure-SQL-DB-using-the-Azure/ba-p/375711

[2019-04-12 22:57] curtand commented on #18991
#please-close

[2019-04-12 23:01] curtand commented on #19009
I have taken a backlog item for this issue.

#please-close

[2019-04-12 23:02] cjgronlund commented on #8924
@gumaflux Great catch! Thank you for the feedback.

Fix should be published in 72 hours.

[2019-04-12 23:02] cjgronlund commented on #8924
#in-progress
#please-close

[2019-04-12 23:05] curtand commented on #19073
I have a backlog item opened for more detailed information on systemLabels. Thanks for your patience!

#please close

[2019-04-12 23:08] gtrevi opened #29343 "You do not have permission to view this directory or page"
I succesfully deployed the hello-world application *as is*, downloaded from the git repo linked above (the deploy page says "Deployment successful.").
When I attempt to browse the app, the page displays "You do not have permission to view this directory or page".
URL: https://gthello.azurewebsites.net/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-04-12 23:10] curtand commented on #19398
I'm taking a backlog item to follow up on dynamic groups that don't update in multiple Azure ADs. Thanks for your patience.

#please-close

[2019-04-12 23:15] MarileeTurscak-MSFT commented on #29074
@sirdank I am looking into this with the product team. In the meantime, if you would like to open a free support case to look into your specific issue, you can send your subscription ID to AzCommunity@microsoft.com and I will open one for you.

[2019-04-12 23:20] Adam-Smith-MSFT commented on #29321
@stevencl Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-12 23:24] MarileeTurscak-MSFT commented on #29156
@ruijarimba I agree. I am awaiting a response from the product team about this.

[2019-04-12 23:28] curtand commented on #20481
I've taken a backlog item for this issue. Thanks for your patience. I feel your pain.

#please-close

[2019-04-12 23:29] MarileeTurscak-MSFT commented on #29157
@dashap please post this to User Voice as product feedback and we will reply there as that is the correct channel for this. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-04-12 23:29] #29157 closed

[2019-04-12 23:32] femsulu commented on #29266
@kick23 since this channel is reserved for documentation questions, we strongly recommend posting your question in either the [Azure Automation](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azureautomation) or [Log Analytics](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights) technical forum where one of our capable engineers or community users can provide the

[2019-04-12 23:32] #29266 closed

[2019-04-12 23:37] femsulu commented on #28976
thanks @blueelvis.  Please send mail to AzCommunity@microsoft.com, include a link to this thread for context and we will work offline to get you in contact with a SME on the Authorization team.

@nkiest please note the PR #29277 for review and approval.

Closing this Issue in GitHub

[2019-04-12 23:37] #28976 closed

[2019-04-12 23:43] kashimiz commented on #19097
The fix for this issue has been released. #please-close

[2019-04-12 23:47] MartinJaffer-MSFT commented on #29172
@bertrandpons  Azure DevOps has a different entry point than the portal.  Can you try without using DevOps and let me know if you still get the same issue?

[2019-04-12 23:52] Karishma-Tiwari-MSFT commented on #28967
@xinzouMicrosoft We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-12 23:52] #28967 closed

[2019-04-12 23:53] himanshusinha-msft commented on #29335
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-12 23:54] Mike-Ubezzi-MSFT commented on #28971
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-12 23:54] #28971 closed

[2019-04-12 23:57] Mike-Ubezzi-MSFT commented on #28981
@vidyanambiar11 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-12 23:57] #28981 closed

[2019-04-13 00:01] femsulu commented on #28993
@dcarati & @ashmeada sorry for the issue.  The feature owner has already been notified. This requires further investigation. Please send mail to AzCommunity@microsoft.com including your subscription IDs and a link to this thread (for context) and we will be able to assist further.

Closing this issue in GitHub for now and looking forward to your mail. We will circle back with an update on this GH

[2019-04-13 00:01] #28993 closed

[2019-04-13 00:03] femsulu commented on #23888
@snehithm  any update please?

[2019-04-13 00:10] femsulu commented on #29085
@Jnchi, is this still an issue? there's usual a day lag before you start seeing any logs. if this is still an issue, please send mail to AzCommunity@microsoft.com and include your Azure subscription ID and the subscription type and we will be able to connect you to the Sentinel feature owners for further investigation

[2019-04-13 00:10] limjianan opened #29344 "Refer to this."
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/best-practices#does-conditional-access-work-with-exchange-activesync

Yes, i know that activesync works, but I also aware that it only able to use on condition such as trusted device. other condition that not mention such as IP based and etc will not work.

Also, i read some where in blog says it will take up to 24 hours to

[2019-04-13 00:11] #29085 closed

[2019-04-13 00:11] Mike-Ubezzi-MSFT commented on #29239
The solution is [Managed Service Identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) and Azure SQL Database does support this functionality, as does Azure Key Vault. You create the identity and add that identity to each service you desire access to. This blog is the best I could find:

[Azure SQL authentication with a Managed Service Ide

[2019-04-13 00:13] #28894 closed

[2019-04-13 00:14] femsulu commented on #28675
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-13 00:14] #28675 closed

[2019-04-13 00:16] HJToland3 commented on #21319
@J-E-C, thank you for the additional feedback. I am passing this along to Raj Pochiraju and the Dev team for consideration.

[2019-04-13 00:21] femsulu commented on #29108
I've reached out to Shanitza@microsoft.com to update the script.

[2019-04-13 00:23] Mike-Ubezzi-MSFT commented on #21319
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-13 00:23] #21319 closed

[2019-04-13 00:32] roygara commented on #24701
@msLinuxNinja Sorry for the delayed response but thank you for reaching out. We won't be adding that into the article at this time but, I have taken an item for my backlog to evaluate whether or not we would like to do so later.

Again, we really do appreciate you reaching out.

#please-close

[2019-04-13 00:40] roygara commented on #28086
@msLinuxNinja thanks for reaching out, we appreciate it.

That does make sense to me. I'm going to confirm with the product team that it is always /dev/sdb and if so then I'll add that note.

[2019-04-13 00:44] DrewGoldsberry opened #29345 "Where are the connection strings??"
The only reason we come here is to snag the format for the connection strings. It really isnt that helpful to just say we support AAD. Tell me how i can use it please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55747c48-5caa-3234-f978-a667aed13352
* Version Independent ID: c18a4db6-71e3-a539-1e7f-2f49662f4bbc
* Con

[2019-04-13 00:46] sulaimanthatesa opened #29346 "GitHub"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-04-13 00:51] #20855 closed

[2019-04-13 00:52] KingdomOfEnds opened #29347 "File Paths in Example"
Hi! I was just going through this article's code sample and think some of the dependency paths are a bit off. For instance, the main HTML file lives here [tsiclient/pages/tutorial/index.html](https://github.com/Microsoft/tsiclient/blob/tutorial/pages/tutorial/index.html). However, the `dist` folder is actually generated in the `tsiclient` root directory of the `tutorial` branch. As such the stylin

[2019-04-13 00:55] #12730 closed

[2019-04-13 00:55] #13308 closed

[2019-04-13 00:57] Karishma-Tiwari-MSFT commented on #29294
@jespernohr We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-13 00:57] #29294 closed

[2019-04-13 01:16] chetansriv commented on #26214
#please-close

[2019-04-13 01:28] BryanTrach-MSFT commented on #13808
@LisandroSu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-13 01:28] #13808 closed

[2019-04-13 01:29] BryanTrach-MSFT commented on #13808
@yourera We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-13 01:36] wasabii commented on #25098
I don't believe my question was answered. The reply does not explain the format of the SRV records, nor why only one SRV record is resolved for a service running on multiple nodes.

[2019-04-13 01:47] femsulu commented on #29099
@the-blesss thanks for the valuable feedback.  There's a plan to improve Log Analytics support for custom logs. Would be great if you can share the above feedback directly with the feature owners using [this link ](https://feedback.azure.com/forums/267889-log-analytics?query=custom) which will allow our user community to upvote and comment on the feedback.. Better yet, you are welcome to review th

[2019-04-13 01:47] #29099 closed

[2019-04-13 01:57] femsulu commented on #29171
My question is, are you asking that we update documentation to highlight there are certain characters that are unsupported. Or you are looking for help in debugging the issue you encountered after following the steps. If there are documentaiton issues with the steps or a bug in the steps then this is the right channel.
if you are lookinf for technical assitance with your issue then your issue is b

[2019-04-13 02:01] femsulu commented on #29233
@qianw211 can you confirm the above pls?

[2019-04-13 02:17] JasonWHowell commented on #29288
@Anmolgan81 How did you deploy it? Using the Azure portal?

Did you already opt into the preview by sharing your subscription details in email to hdiautoscalepm@microsoft.com?

Thanks, Jason

[2019-04-13 03:05] paulgarn commented on #6410
We've just released a feature to issue on premises group names as group or role claims to public preview  Please see the following doc. https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims.

Be aware that you need to be running an up-to date version of AD Connect (> 1.2.70  December 2018) to sync the group attributes necessary to generate the claims.

Note

[2019-04-13 04:56] KetanChawda-MSFT commented on #29332
@arunkp89 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 04:58] KetanChawda-MSFT commented on #29333
@SeanCLeavitt Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 04:59] KetanChawda-MSFT commented on #29337
@SheldonHage Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 05:02] dinobud commented on #20336
We are having this very problem, however we all have Microsoft 365 Business licenses. Please advise or should I contact support?

[2019-04-13 05:03] KetanChawda-MSFT commented on #29342
@ksekimoto Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 05:05] KetanChawda-MSFT commented on #29343
@gtrevi Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 05:06] KetanChawda-MSFT commented on #29344
@limjianan Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 05:09] KetanChawda-MSFT commented on #29345
@DrewGoldsberry Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 05:15] KetanChawda-MSFT commented on #29347
@KingdomOfEnds Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 05:18] KetanChawda-MSFT commented on #29346
@sulaimanthatesa Can you please share the link of the document on which you want to submit feedback so that we can assign this issue to the correct team to help you.

[2019-04-13 05:34] KetanChawda-MSFT commented on #29312
@cgillum Any thoughts here?

[2019-04-13 05:36] paulgarn commented on #8702
Hi everyone,
The issue here is that the user.mail attribute in the UI returns the users Office365 or on premises synced email address, whereas the User profile UI shows, and allows you to edit, the alternate email address.   That's the one used for password reset etc.   At the moment it's not available as a source for claims.  The same goes for the manager attribute.    Work is in our backlog to m

[2019-04-13 05:41] paulgarn commented on #8702
@macslui With regard to your question about group and role claims.  Please see the document https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims.  Note that this doc will likely be moving, so if the link isn't working search for Configure group claims for applications with Azure Active Directory

[2019-04-13 05:41] bradselw commented on #28625
Has anyone gotten this sample to work with the new packages?

[2019-04-13 05:42] bradselw commented on #28625
Having difficulty locating the package with the CloudStorageAccount type...

[2019-04-13 06:25] RKislu commented on #25848
@sergaz-msft I did, but it did not resolve the issue.

[2019-04-13 06:38] mimig1 commented on #19714
#please-close No additional information from user to validate issue.

[2019-04-13 07:06] chwilfing commented on #6410
We've tested the feature and it works! We can configure and see groupnames in the claim.

Great work thank you!

[2019-04-13 07:35] msrini-MSFT commented on #29316
@KumudD , can you make this documented ?

[2019-04-13 07:49] pijemcolu commented on #26602
@tfitzmac I was just deploying ARM templates that got secrets from keyvault. Didn't see docs say anything about Azure Managed Application scenario.

In the end I've figured I didn't need to add the contributor access to **Appliance resource Provider**.

[2019-04-13 07:52] TomBertie commented on #29108
I think I've got it working with AcquireTokenAsync by changing RESTAPI-Auth to:
`Function RESTAPI-Auth {

$global:SubscriptionID = $Subscription.Subscription.Id
# Set Resource URI to Azure Service Management API
$resourceAppIdURIARM=$ARMResource
# Authenticate and Acquire Token
# Create Authentication Context tied to Azure AD Tenant
$authContext = New-Object "Microsoft.IdentityModel.Clients.Active

[2019-04-13 07:57] msrini-MSFT commented on #29268
@barracud , I haven't used that image which you have mentioned. I had a Server 2016 VHD in one of my storage account. I used that to test this command.

How does your test go with 64 GB sized VHD?

[2019-04-13 09:40] nabhishek commented on #29222
@pedromartins4 thanks for your contribution. I have updated the doc to make it more clear. https://github.com/MicrosoftDocs/azure-docs-pr/pull/73056

[2019-04-13 09:40] nabhishek commented on #29222
#please-close

[2019-04-13 10:30] jtuliani opened #29349 "Please clarify script timeout"
Does the script time out? After how long? And is this configurable? These are very natural questions and they really need to be answered by this page.

Thank you for listening!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40aaccb8-19ba-168f-f5bf-65f1f5331541
* Version Independent ID: 6cdfd166-633a-50a3-2b45-cde0e991e

[2019-04-13 10:59] barracud commented on #29268
@msrini-MSFT The Test went HORRIBLY!

After 11 hours of uploading the 64 GB sized VHD via the Azure Portal, it died at 90%!  There is no option to resume/recover upload either!

VERY HORRIBLE EXPERIENCE.

@msrini-MSFT Since you did not test with the Windows Server 2003 R2 EE VHD from (https://www.microsoft.com/en-us/download/details.aspx?id=19727), can you PLEASE RE-TEST your steps by using this V

[2019-04-13 11:25] barracud commented on #29267
Tested again with `Add-AzVhd` and it just fails horribly!

Looks like this [problem](https://github.com/Azure/azure-powershell/issues/4980) has never been addressed properly from more than 2+ years ago!!!  Can the team escalate it and get it fixed?

[2019-04-13 11:27] barracud commented on #29324
Any feedback? @SadiqhAhmed-MSFT

[2019-04-13 11:38] barracud opened #29350 "Your instruction failed with the official Windows Server 2003 R2 EE VHD"
These step-by-step instructions failed during our tests!

Can the author of this article please re-test his/her step-by-step instructions using the official **Windows Server 2003 R2 EE VHD** from https://www.microsoft.com/en-us/download/details.aspx?id=19727?

Go all the way from preparing the VHD to getting it running on Azure as a Windows 2003 VM.  Let us know if it works for you.

Your steps di

[2019-04-13 11:58] JozoSlejko commented on #26274
@brentblawat Could you provide more info on the second issue you mentioned, not supporting NVAs? Thanks.

[2019-04-13 12:42] aquibqureshi26 commented on #29125
Hi Team,

Did you get chance to check and update?

Thanks

[2019-04-13 12:46] #29136 closed

[2019-04-13 12:53] aquibqureshi26 commented on #26106
Hi Team,

Did you get chance to check with SQL HA team?

Regards,
Aquib Qureshi

[2019-04-13 12:55] aquibqureshi26 commented on #24115
This isn't possible, we cannot create another circuit in South India and use the same peering location of Mumbai. there would be another Link from customer place to South.

[2019-04-13 12:55] #24115 closed

[2019-04-13 14:25] barracud opened #29351 "New-AzVM error! How to resolve?"
Following your step-by-step instructions, we got to this:

`New-AzVM -ResourceGroupName $destinationResourceGroup -Location $location -VM $vm`

After a long while, we got this error.  How to resolve?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ca47ab5-b553-c0e1-5736-cf4d9081d139
* Version Independent ID: bb

[2019-04-13 16:00] aszalacinski opened #29353 "Will this work as an audio only player?"
I have several audio files I want to provide and need to apply DRM protection on them while they stream. Will this player suffice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29324688-d2e7-71ad-7ada-ab561d97fb23
* Version Independent ID: a06a4949-870d-07d4-2ac4-8f54727b53bf
* Content: [Playback with Azure Media Play

[2019-04-13 16:02] KetanChawda-MSFT commented on #29349
@jtuliani Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 16:05] KetanChawda-MSFT commented on #29350
@barracud Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 16:07] KetanChawda-MSFT commented on #29351
@barracud Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 16:19] cmmdesai commented on #24728
Updated the section to call out that it excludes 200000
#please-close

[2019-04-13 16:31] KetanChawda-MSFT commented on #29353
@aszalacinski Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 16:37] #24701 closed

[2019-04-13 16:37] #19398 closed

[2019-04-13 16:54] loomlike opened #29354 "Typo in the Ubuntu cuda installation instruction"
in the:
`sudo apt-key adv --fetch-keys https:  ...`
https does not work. should be **http**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e03790a-1bf9-146d-704b-6816d475064b
* Version Independent ID: ad5f6be7-e089-161f-306c-39d10e7ab0a0
* Content: [Azure N-series GPU driver setup for Linux](https://docs.microsoft.com

[2019-04-13 16:57] KetanChawda-MSFT commented on #29354
@loomlike Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-13 17:05] kevinvngo commented on #14867
For compressed files which requires manual splitting, it is suggested for each file to have at least 512MB for each file for Azure Storage BLOB and 256MB on Azure Data Lake Storage for maximum parallelism. We will add this to the doc.

[2019-04-13 17:05] kevinvngo commented on #14867
#please-close

[2019-04-13 17:44] AnirudhKrishan commented on #11112
@LucianFrango   - Is there any update re this issue?

[2019-04-13 18:08] ptuton opened #29355 "Reference '-g myResourceGroup' should be changed to '-g $resourceGroupName'"
A reference '-g myResourceGroup' should be changed to '-g $resourceGroupName' in section 'Configure the function app' for Node.js V10 SDK to allow for copy-and-paste to succeed (for when the resource name isn't 'myResourceGroup').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Ver

[2019-04-13 18:41] JozoSlejko opened #29356 "Service chaining with vNet Gateway"
Looking at the service chaining topic. It states that we can use UDRs with next hop NVAs or vNet GWs to enable transitive routing in hub and spoke topologies. In the hub and spoke network topology referenced article there is a section explaining what needs to be done on the peering side of things when using vNet GW as next hop:

You can also configure spokes to use the hub VNet gateway to communic

[2019-04-13 18:47] Peter-B- commented on #29246
@JasonWHowell

Thanks a lot for the prompt reply and help.

[2019-04-13 18:47] #29246 closed

[2019-04-13 18:54] imartinez2 opened #29357 "Typo on Poweshell cmdlets"
Hi, all the powershell cmdlet had typo, for example Get-AzureApplicationGateway the correct is Get-AzureRmApplicationGateway and the parameter -Name is missing too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a80bcd8-9cbc-67bf-91fa-223a368c9625
* Version Independent ID: 9863b074-c499-d2fd-992f-d8c346e8fc7d
* Content

[2019-04-13 19:01] mike-urnun-msft commented on #29355
Hi @ptuton Thank you for your feedback! We will review and update as appropriate.

[2019-04-13 19:30] sique976 opened #29358 "Sorry."
I was wondering if you whom tryied to help me out ones about no carousel issue that I was in... I am missing you and can´t find you on github... I´ll try the tutorial again. Would you contact me??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69

[2019-04-13 19:36] sique976 commented on #29358
Hey... just found you on the close tab. Shame on me.

[2019-04-13 19:37] sique976 opened #29359 "Hey..."
Well I found you Mike...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Use Azure Event Grid to automate resizing uploaded images](https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-bl

[2019-04-13 20:10] parker-andy opened #29360 "Include screenshots"
I don't follow where to click.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46d0432d-8bdf-ae6a-000c-4da12913b759
* Version Independent ID: e2d101bc-6821-4131-96ac-f6d7333124dd
* Content: [Deploy templates using the portal in Azure Stack](https://docs.microsoft.com/en-us/azure/azure-stack/user/azure-stack-deploy-templ

[2019-04-13 20:48] carlfm01 commented on #29190
Reviewing that you mention load balancer, I'm not using it, I'm using public ip per instance. And yes, I'm doing the reimage of the VM after changing the password. Thanks.

[2019-04-13 21:08] eshudnow opened #29361 "Load Balancer NAT NSG Clarification"
The page mentions the following, "Standard SKU also requires that the scale set has a Network Security Group associated with it.'  Can this be clarified to mention whether NSG at the subnet level that the VMSS VMs will be on satisfies the requirement or if the NSG has to be applied directly to VMSS.  And if the latter, how do we assign NSG to VMSS.

---
#### Document Details

⚠ *Do not edit this s

[2019-04-13 21:37] SQLDataSide commented on #25848
The issue have been solved "S1" Scale Tier is missing from the documentation.

[2019-04-13 21:38] #25848 closed

[2019-04-13 21:43] #12479 closed

[2019-04-13 22:30] XabiBeltza opened #29362 "SAML session age limit"
Hello.
It would be useful to note to people that you have to modify the value 'SAML session age limit' on the SAML Building Block options (https://help.blackboard.com/Learn/Administrator/SaaS/Authentication/Implement_Authentication/SAML_Authentication_Provider_Type).
By default, it is set at 60 minutes. This makes any SSO ticket fail if older than 60 minutes. It seems to get the value from the ref

[2019-04-13 23:13] ManfredLange commented on #28625
Yes, Microsoft did a pretty bad job with the transitioning from the old packages to the new packages. At some point there was no officially released nuget package targeting .NET Standard. In particular the support for table storage was bad or even non-existent. LINQ support for Azure Storage Table has been removed for the time being.

Perhaps the following info gets you started in a good direction

[2019-04-13 23:49] antonecg opened #29363 "{ "statusCode": 404, "message": "Resource not found" }"
I've followed the directions exactly, and I receive a resource not found message. I'm using the API key from the overview tab, but I can't even connect in my browser.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6c661-3889-e5bf-0b33-d84eff80e8a3
* Version Independent ID: 7b185544-3127-394d-c621-4eaa9088cd4a
* Cont

[2019-04-13 23:53] cgillum commented on #29312
The `PurgeInstanceHistoryAsync` API only purges the specified orchestration history and not the history of sub-orchestrations. Please feel free to open this as a feature request here: https://github.com/Azure/azure-functions-durable-extension/issues

[2019-04-14 00:59] peddabavisriram opened #29364 "unable to enable the logs on ATM, i am using azure power shell AZ module"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 060d171a-aeae-f291-ff7e-3642dbc9e2ba
* Version Independent ID: 0f1e37e8-3468-51c5-1e9c-fb60f0fb3149
* Content: [Enable diagnostic logging in Azure Traffic Manager](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-diagnostic-logs)

[2019-04-14 01:03] peddabavisriram commented on #29364
need this storage id as to retrieve the logs/enable the logs and this is the place where i see the ATM diagnostic logs are stored, may i know what exact logs are stored in the atm logs.

Set-AzDiagnosticSetting -ResourceId <TrafficManagerprofileResourceId> -StorageAccountId <storageAccountId> -Enabled $true

https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-diagnostic-logs#ena

[2019-04-14 01:08] peddabavisriram commented on #29364
i can get this i think

[2019-04-14 01:16] peddabavisriram commented on #29364
![image](https://user-images.githubusercontent.com/38474089/56087060-49afe100-5e18-11e9-9e2e-187b1e326e08.png)

[2019-04-14 01:17] peddabavisriram commented on #29364
unable to enable the logs on ATM, i am using azure power shell AZ instead of azureRM module.

[2019-04-14 03:44] himanshusinha-msft commented on #29356
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 03:46] himanshusinha-msft commented on #29364
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 03:48] himanshusinha-msft commented on #29363
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 03:50] himanshusinha-msft commented on #29362
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 03:51] himanshusinha-msft commented on #29361
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 03:53] himanshusinha-msft commented on #29360
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 03:58] himanshusinha-msft commented on #29359
@sique976 : Can you please elaborate in detail as to what is the issue with the document which you are trying to report ?

[2019-04-14 04:02] himanshusinha-msft commented on #29358
@sique976 : I am assuming that you found the guy you were looking for , if that's the case please do reply back and I will go ahead & close this issue .

[2019-04-14 04:05] himanshusinha-msft commented on #29357
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-04-14 07:06] kobulloc-MSFT commented on #29331
@hintbw The link in question has been updated.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-04-14 07:06] #29331 closed

[2019-04-14 07:35] tariqjaber opened #29367 "Configure OUs using AD Connect wizard only."
Hello team,
please update this part: "Organizational unit–based filtering" to ensure the modification is done through AD Connect wizard only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faed3c33-d05e-7a05-1327-27a79325f677
* Version Independent ID: 151a61e3-ea34-7716-bbc8-66177f768b7b
* Content: [Azure AD Connect sy

[2019-04-14 07:38] tariqjaber opened #29368 "Domain and OU filtering"
Hello team,
please update this part: "Domain and OU filtering" to ensure the modification is done through AD Connect wizard only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-ccc9-f7f8-1486e71dea62
* Version Independent ID: 8e578d88-8bcb-a229-95f6-10b760d6f563
* Content: [Azure AD Connect: Custom instal

[2019-04-14 07:45] andersgidlund commented on #27773
@stavrosmitchell yes, we used AADDS (Azure AD Domain Services) and got it to work.
Have you done as I wrote in my answer?

https://github.com/MicrosoftDocs/azure-docs/issues/27773#issuecomment-476862108

[2019-04-14 08:27] boeboe commented on #27563
Could we have access to the VNet name using the exported elements from azurerm_kubernetes_cluster? I would like to avoid used brittle local-exec statement.

[2019-04-14 09:18] hitesh1907nayyar commented on #29284
Hi Ketna,

Please find the link. I created custer with azure using vmms as mentioned in the link:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-autoscale-overview

[2019-04-14 10:16] cephalin commented on #11104
@JohnGalt1717 This is now documented at https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-dotnetcore. #please-close

[2019-04-14 10:19] cephalin commented on #19968
@spike008t This information is now published at https://docs.microsoft.com/en-us/azure/app-service/containers/configure-language-php. If you observe it in a non-PHP app, please let us know. Thanks. #please-close

[2019-04-14 10:24] cephalin commented on #28964
@jVincentl Thanks for your feedback. I've changed the instructions to now use cloud shell instead. #please-close

[2019-04-14 10:27] cephalin commented on #29343
@gtrevi The downloaded zip file doesn't work as is. You need to follow the steps in the article to unzip and then zip again without including the top-level directory.

[2019-04-14 11:09] cbailiss opened #29369 "Messages in Storage queues are *typically* first-in-first-out"
This page states that "Messages in Storage queues are *typically* first-in-first-out".
One example is given where messages can arrive out of order.  Are there other possible causes/scenarios?
Ignoring the visibility-timeout scenario, is it expected that FIFO would be maintained under the following scenarios?
Scenario 1:
High volume, i.e. when there is a very large number of messages in the queue (

[2019-04-14 11:41] Saidevm commented on #25366
I have question regarding statement: "Changing the access tier: Changing the account access tier from cool to hot incurs a charge equal to reading all the data existing in the storage account. However, changing the account access tier from hot to cool incurs a charge equal to writing all the data into the cool tier ".

Question: This section talks about price for changing the tier for storage acco

[2019-04-14 13:45] phawxby opened #29373 "Multiple Instances"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/troubleshoot-faq#should-i-use-single-or-multiple-application-insights-resources

This doesn't make it clear if this applies to regions too. Although we should segment by tier and independent applications should separate instances be used per region? Our application is split across numerous regions, would having application insights only in U

[2019-04-14 14:23] gtrevi commented on #29343
@cephalin correct, that is exactly what I did.

[2019-04-14 15:14] kasunsjc opened #29374 "Error: apiVersion "config.istio.io/v1alpha2" in istio/charts/mixer/templates/config.yaml is not available"
Hi Guys,

Running below command as mentioned in the documentation. But getting below error

helm install install/kubernetes/helm/istio --name istio --namespace istio-system \
  --set global.controlPlaneSecurityEnabled=true \
  --set grafana.enabled=true \
  --set tracing.enabled=true \
  --set kali.enabled=true

**Error**
Error: apiVersion "config.istio.io/v1alpha2" in istio/charts/mixer/templates

[2019-04-14 15:20] kasunsjc commented on #29374
Helm Version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

[2019-04-14 15:32] KetanChawda-MSFT commented on #29367
@tariqjaber Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-14 15:33] KetanChawda-MSFT commented on #29368
@tariqjaber Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-14 15:35] KetanChawda-MSFT commented on #29369
@cbailiss Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-14 15:37] KetanChawda-MSFT commented on #29373
@phawxby Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-14 15:37] smoms opened #29375 "Clarification on ID Token validation meaning"
When you write "This token is known as the ID token and contains basic information about the user, such as the user display name. If you plan to use any data provided by this token for any purposes, you need to make sure this token is validated by your backend server to guarantee that the token was issued to a valid user for your application." just to make sure this is meant to use more logic  on

[2019-04-14 15:38] cbailiss commented on #29369
@KetanChawda-MSFT
Thanks.
This question is about **Azure Storage** queues - **not** Service Bus (I see you have added a Service Bus label).

[2019-04-14 15:38] KetanChawda-MSFT commented on #29374
@kasunsjc Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-14 15:39] KetanChawda-MSFT commented on #29375
@smoms Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-14 15:45] KetanChawda-MSFT commented on #29369
@cbailiss Thank for confirmation. Added the storage label as well. The labels are added based on the documentation.

@SumanthMarigowda-MSFT can you please help here on storage query.

[2019-04-14 16:21] mhgurau opened #29379 "grammar error"
Hi,

I believe you've got a grammar error second sentence in above--"Configuring your IoT software, deploy it to devices via standard containers, and monitoring it all from the cloud."  It ought to be either present tense (configure, deploy and monitor) or -ing versions throughout.  I think present tense is stronger.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-04-14 16:59] dscpinheiro commented on #29312
I'll do that.
Thanks @cgillum

[2019-04-14 16:59] #29312 closed

[2019-04-14 17:32] SeanCLeavitt opened #29380 "Pre-Req Step"
Ensure the reader has "Get notifications from apps and other senders" turned to "On" under their Windows Settings, otherwise, they won't see this Toast notification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1ff5-8689-8415-fe1630795123
* Conte

[2019-04-14 19:18] mgladi commented on #28909
At the moment the logs need to be forwarded to the agent in the standard syslog format.
We're planning to add more robust support for CEF collection down the road which would address your issue.

In the meantime, please check the rsyslog configuration file on the agent VM:
/etc/rsyslog.conf
And make sure that the following lines are uncommented so that the server listens on port 514:
$ModLoad imud

[2019-04-14 19:40] mayurigupta13 commented on #29282
10.0.0.0/24 is a typo. You need to enter the actual address space. I have updated the document. It should be refreshed in a few hours. Also, the deployment model is to be selected before the 'Create Virtual Network' screen.

[2019-04-14 19:44] mayurigupta13 commented on #29320
Adding @Rajeswari-Mamilla for the doc enhancement.

[2019-04-14 19:48] chrizy opened #29382 "Unit Testing"
Is there any option for .net unit testing, e.g. an in memory emulator (not the installed one)? Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3367ba0b-a5f8-d503-1d7e-b2f41a04294c
* Version Independent ID: f8688357-2c37-c478-10d8-2c97a6ee754a
* Content: [Quickstart: Build an ASP.NET web app with Azure Cosmos DB u

[2019-04-14 19:54] mayurigupta13 commented on #18181
It is a typo. I have corrected it. It should be refreshed in a few hours.

[2019-04-14 20:20] mayurigupta13 commented on #19075
Added this requirement in the Note of Generate report section.

[2019-04-14 20:20] Karishma-Tiwari-MSFT commented on #28552
@ramankumarlive @cynthn Let me know if this needs to be assigned to some one else.

[2019-04-14 20:21] Karishma-Tiwari-MSFT commented on #14867
@Molotch We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-14 20:21] #14867 closed

[2019-04-14 20:23] Karishma-Tiwari-MSFT commented on #29153
@iainfoulds Can you please share your insights, are you aware of this being a regression issue or missing from the doc. Thanks. :)

[2019-04-14 20:24] Karishma-Tiwari-MSFT commented on #29273
@JamesBewley
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-14 20:27] mayurigupta13 commented on #28902
Recovery Services Vault only provides you a management portal for protected instances. The replication data is stored in Azure storage. Azure Site Recovery recommends and stores this data in Azure Managed Disks by default.

[2019-04-14 20:30] mardahl commented on #8454
Also one just gets this error everyday when the schedule runs:
Failed to backup in-app database. Skipping in-app database backup

Annoying, and confusing to most I suspect!

[2019-04-14 20:36] Karishma-Tiwari-MSFT commented on #29305
@huzzeytech This article may be helpful: https://techcommunity.microsoft.com/t5/ITOps-Talk-Blog/How-to-Run-scripts-on-Azure-Virtual-Machines-with-the-Run/ba-p/292446
@roiyz-msft Do you have any suggestions to better achieve this? Thanks. :)

[2019-04-14 20:39] mayurigupta13 commented on #19584
I have updated the link.

[2019-04-14 20:54] Karishma-Tiwari-MSFT commented on #29183
@ajinkyaSurve Can you please provide more details like what steps are you following and is there any error you are seeing.

[2019-04-14 21:26] #29323 closed

[2019-04-14 22:42] cbrooksmsft commented on #22400
yes - use the same resource id in all environments.

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-storage

[2019-04-14 22:43] cbrooksmsft commented on #22400
#please-close

[2019-04-14 23:00] paulbouwer commented on #29296
@sasachan - thanks for the report.

This is the new behaviour for Istio 1.1.x - `istioctl create` has been deprecated and will be removed in Istio 1.2.x.

The azure docs are currently targeting Istio 1.0.x - we are in the process of updating them for Istio 1.1.x.
/cc @jakaruna-MSFT

[2019-04-14 23:11] paulbouwer commented on #29374
@kasunsjc - it appears from your error message that the Istio CRDs have not been installed correctly by Helm. The subsequent Istio components being installed by Helm depend on these, hence your error.

I noticed that you were using Helm `2.9.1`. The documentation specifies that you should be using at least Helm `2.10.0`. There were some known issues with the versions of Helm prior to `2.10.0`. Upd

[2019-04-14 23:20] ElanShudnow opened #29384 "EA Budgets"
There's the following comment, "The examples in this tutorial walk you through creating and editing a budget for an Azure Enterprise Agreement (EA) subscription."  But then just below it mentions, "However, you cannot create budgets for EA billing accounts."  These two pieces of information contradict each other.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-04-14 23:43] paulbouwer commented on #21106
I think the query has been resolved with a number of answers here. We should consider adding this knowledge to a section in the docs looking specifically at ingress control with Istio.

/cc @MicahMcKittrick-MSFT #please-close

[2019-04-14 23:45] LeeHyeongWon opened #29385 "iotedge offline questions."
I'm sorry. I closed it by mistake.

https://github.com/MicrosoftDocs/azure-docs/issues/28693
↑ this is my last questions.

[2019-04-15 00:06] kazshi commented on #25823
@rohinkoul I'm not sure if the destination page Windows team owns should be updated - they have already stated they no longer update the content, and my point is that the link in this content page is pointing the old content. I will close this if you think that's expected.  Thanks.

[2019-04-15 00:51] #18181 closed

[2019-04-15 00:55] ajayanti1 commented on #17439
#please-close

[2019-04-15 00:59] ajayanti1 commented on #24781
@Microsoft Docs/azure-cxp-triage - The table is updated with friendly names. Please close.
#please-close

[2019-04-15 01:14] SeaDude opened #29386 "Dead link: Azure Maps Data Upload"
Hello,
As always, thank you very much for the great docs!

- Found a dead link: `https://docs.microsoft.com/en-us/rest/api/maps/data/upload`

- Looks like it should be: `https://docs.microsoft.com/en-us/rest/api/maps/data/uploadpreview`

- Linked from here: `https://docs.microsoft.com/en-us/rest/api/maps/spatial/getgeofencepreview`

- And here: `https://docs.microsoft.com/en-us/rest/api/maps/spati

[2019-04-15 01:48] KetanChawda-MSFT commented on #29379
@mhgurau Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-15 01:50] KetanChawda-MSFT commented on #29380
@SeanCLeavitt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-15 01:53] KetanChawda-MSFT commented on #29382
@chrizy Thank you for your feedback! We will review and provide an update as appropriate.

[2019-04-15 01:55] KetanChawda-MSFT commented on #29384
@eshudnow Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-04-15 01:57] SumanthMarigowda-MSFT commented on #29131
@wukun2015 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-15 02:00] simonua commented on #29163
@msrini-MSFT. thank you for explaining this, Karthik. Rather than just closing out this issue, could this also be reflected in the documentation as well, please?

[2019-04-15 02:05] watahani opened #29387 "not enough to describe "Modern Authentication Client normally prompt every 90 days""
In my understand modern authentication clients update thair refresh token when they get access token if refresh token valid.
This document make users misunderstanding that clients always prompt every 90 days.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 5

[2019-04-15 02:21] Grace-MacJones-MSFT commented on #28649
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-15 02:21] #28649 closed

[2019-04-15 03:02] KalyanChanumolu-MSFT commented on #29119
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-04-15 03:02] #29119 closed

[2019-04-15 03:04] kasunsjc commented on #29374
Thanks resolve it after updating

[2019-04-15 03:04] #29374 closed

[2019-04-15 03:05] lukemcnz opened #29388 "SAML SSO"
What does this mean? It doesn't make any sense.

"Customer have to upload any certificate in the Tableau Server SAML SSO configuration and it will get ignored in the SSO flow. If you need help configuring SAML on Tableau Server then please refer to this article Configure SAML."

Its not true that anything can be used, you need to use a CRT file with RSA key file. This statement is confusing and ma

[2019-04-15 03:09] sique976 commented on #29359
I will do the tutorial again and than I´ll tell you. OK!
________________________________
De: himanshusinha-msft <notifications@github.com>
Enviado: domingo, 14 de abril de 2019 00:58
Para: MicrosoftDocs/azure-docs
Cc: San; Mention
Assunto: Re: [MicrosoftDocs/azure-docs] Hey... (#29359)

@sique976<https://github.com/sique976> : Can you please elaborate in detail as to what is the issue with the do

[2019-04-15 03:21] KalyanChanumolu-MSFT commented on #29345
@DrewGoldsberry  Thank you for the feedback.
This is documented in the configure features section [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#using-an-azure-ad-identity-to-connect-from-a-client-application).

A reference to the above link is already provided on this page in the [Next Steps](https://docs.microsoft.com/en-us/azure/sql-database

[2019-04-15 03:23] DashleenBhandari-MSFT commented on #28823
@wahyuen I will go ahead with the closure of the issue. If you need further assistance, please feel free to reopen the issue.

[2019-04-15 03:23] #28823 closed

[2019-04-15 04:03] SnehaAgrawal-MSFT commented on #29258
@nelfer Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-04-15 04:03] #29258 closed

[2019-04-15 04:08] SnehaAgrawal-MSFT commented on #29343
@gtrevi We will close this out but if you feel you need more information please just let us know.

[2019-04-15 04:14] RohitMungi-MSFT commented on #29185
@garyericson  Thanks for your response. @arashaga We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 04:14] #29185 closed

[2019-04-15 04:17] PramodValavala-MSFT commented on #29369
@cbailiss The fact is more about FIFO _guarantee_ in the event of failures. Both storage and service bus queues add failed messages to the end of the queue (as if its a newly added message), so the order is not maintained.

**_But_** Service Bus _guarantees_ FIFO through the use of [message sessions](https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions) as stated in the do

[2019-04-15 04:25] jakaruna-MSFT commented on #29211
@Kajaaa
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-15 04:25] #29211 closed

[2019-04-15 04:26] #28775 closed

[2019-04-15 04:28] jakaruna-MSFT commented on #28393
@mshahat You need to have a custom domain created in with the Domian registration providers. Then create a azure DNS with the same domain name and delegate the requests  to Azure DNS.

Once that is done, You can use the external dns to create and delete entries in that Azure DNS.

I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-15 04:28] #28393 closed

[2019-04-15 04:28] neeleshray commented on #28251
@timpeteren
Apologies for the delay. We have also been able to see the same on our end.
@davidmu1
David, could this be corrected ?

[2019-04-15 04:30] jakaruna-MSFT commented on #29129
@mandarsj
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-04-15 04:30] #29129 closed

[2019-04-15 04:30] #21106 closed

[2019-04-15 04:32] AshokPeddakotla-MSFT commented on #29386
@SeaDude Thanks for the feedback and reporting the issue.
Can you please share the documentation link that you are referring to?

[2019-04-15 04:34] AshokPeddakotla-MSFT commented on #29385
Closing this. Will continue the discussion on https://github.com/MicrosoftDocs/azure-docs/issues/28693.

[2019-04-15 04:34] #29385 closed

[2019-04-15 04:42] neeleshray commented on #29388
@lukemcnz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-15 04:42] JinsengIT commented on #22489
I'm seeing the same error message.  I'm using version 1.7.0a and I'm not using AZCopy.

[2019-04-15 04:43] KetanChawda-MSFT commented on #29346
@sulaimanthatesa did you get a chance to look into the previous post. Can you please share the link of the document on which you want to submit feedback so that we can assign this issue to the correct team to help you.

[2019-04-15 04:45] YASWANTHM-MSFT commented on #29387
@watahani, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 04:45] KetanChawda-MSFT commented on #29204
@wahyuen As this is repo is meant for the documentation feedback, I would recommend you to open this issue on Azure Function GitHub Repo for better clarity.

Please note that Elastic Premium Plan Functions are currently in preview.

[2019-04-15 04:48] jakaruna-MSFT commented on #29354
@loomlike I tried that command now. Looks like that worked. Can you share the error message if possible.

But it didn't list the key though in `apt-key list`

[2019-04-15 04:50] jakaruna-MSFT commented on #29290
@Heidilohr Please take care of this issue

[2019-04-15 04:54] neeleshray commented on #28814
@jeevansd
Jeevan, Could you kindly have a look into this and also if AWS any certified documentation on the same ?

[2019-04-15 05:02] jakaruna-MSFT commented on #29267
Thanks for reporting. We will escalate this issue with the internal teams.

[2019-04-15 05:19] RohitMungi-MSFT commented on #29311
@nicojdejong Yes, your understanding is correct. All the similar user queries generate suggestions for any QnA ID. If count for any cluster is 5 or more then suggestions are shown in Active Learning. You can take a look at this [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/25638) for more information.

[2019-04-15 05:21] ManojReddy-MSFT commented on #29344
@limjianan You are correct, Exchange online has limitations regarding other conditions. This is explained in detail [here](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/conditional-access-for-exo-and-spo#exchange-activesync).

Generally the policy gets applied immediately. The cookies obtained from legacy authentication for EXO are valid up to 24 hours. So a client whi

[2019-04-15 05:24] abshamsft commented on #25079
#please-close

[2019-04-15 05:26] ManojReddy-MSFT commented on #28833
@biste5 Sorry for the delay. I was checking with the backend team to see if they are pushing any changes and according to them no changes have been made.

I have tested this with multiple devices and the link is working as expected. Can you try from a different machine and let me know if it's still not working ?

[2019-04-15 05:29] abshamsft commented on #24475
@GauravLad12 you can also use the portal to delete any header. Please see this article https://docs.microsoft.com/en-us/azure/application-gateway/rewrite-http-headers-portal.
#please-close

[2019-04-15 05:32] KalyanChanumolu-MSFT commented on #29189
@RobBarat Thank you for bringing this to our notice.
This is being assigned to the content author to evaluate and update as appropriate. 

@CarlRabeler I provisioned a Hyperscale database today and TDE was turned on by default.
Also tried scaling from Standard Tier to Hyperscale and TDE was intact.

[2019-04-15 05:39] YASWANTHM-MSFT commented on #29252
@aszalacinski, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 05:39] cbailiss commented on #29369
Thank you @PramodValavala-MSFT - that is useful information.
One follow-up question - you say:

To what extent is the order lost when there are multiple consumers?  If there is a single consumer on a queue that contains 1000 messages, then a second consumer connects, is it possible that a newly added message would go straight to consumer B whilst consumer A still has a backlog of 1000 messages to

[2019-04-15 05:41] abshamsft commented on #15920
@vinynigam from the NPM team to help with this

[2019-04-15 05:47] KrishnaG-MSFT commented on #29254
@mpchen Both [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage) and [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/collect-activity-logs) articles explains default retention period's based on pricing tier(s), steps to change the retention period, etc.

[2019-04-15 05:47] ManojReddy-MSFT commented on #28959
@harshal1982 I have assigned this to the author to validate and provide more information in the doc.

@davidmu1 Could you please get this reviewed with the help of engineering team and update the article as needed ?

[2019-04-15 05:48] ManojReddy-MSFT commented on #27293
@billmath Can you please get this validate from the engineering team and update the doc as needed ?

[2019-04-15 05:50] vinynigam commented on #18596
This has been corrected #please-close

[2019-04-15 05:53] vinynigam commented on #18596
#please-close

[2019-04-15 05:54] YASWANTHM-MSFT commented on #29197
@rajmusuku , The easiest way to allow your service account to connect is to [enable user access to Enterprise apps](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-add-azure-ad-app#controls). From your [Admin portal](https://portal.office.com/AdminPortal), go to Admin Centers > Azure AD > Users and Groups > [User Settings](https://aad.portal.azure.com/#blade/Microsoft

[2019-04-15 05:58] SnehaAgrawal-MSFT commented on #29337
@SheldonHage Thanks again for the feedback. Followed the steps and its working fine for us. Could you elaborate on what Azure services you trying to connect? You could try using Hybrid connection/VNet.
Also double check  your Azure CLI is installed properly.
Reference https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest
 On first launch Cloud Shell prompts to create a

[2019-04-15 06:03] ManojReddy-MSFT commented on #29112
@mprentice22153 You do not have to uninstall AADC if you want to move from PHS to PTA. You can follow the steps listed in this [doc
](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-pta-quick-start#step-2-enable-the-feature)"select the Change user sign-in task on Azure AD Connect, and then select Next. Then select Pass-through Authentication as the sign-in method. On

[2019-04-15 06:04] PramodValavala-MSFT commented on #29369
@cbailiss Always from the front unless you are setting [Prefetch](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements#prefetching) or using [ReceiveBatch](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-performance-improvements#prefetching-and-receivebatch).

Yes. Service Bus queues are similar too except that they optionally o

[2019-04-15 06:05] limjianan commented on #29344
yes, I mean the document needs to be updated so users know about these in
this document rather than found out by read the other piece of
documentation somewhere else.

On Mon, Apr 15, 2019 at 3:22 PM K N Manoj Reddy <notifications@github.com>
wrote:

[2019-04-15 06:14] cbailiss commented on #29369
Thank you, that makes sense and is all very useful information.
It might be useful to request some of this information is added into the docs page, to expand on what "typically" means in a bit more detail.  "Typically" followed by one example (as the current page is written) is a bit ambiguous.
A statement like the following provides a more clarity:
Storage queues are always read from the front of

[2019-04-15 06:14] #29369 closed

[2019-04-15 06:16] wahyuen commented on #29204
Linking for reference

[https://github.com/Azure/Azure-Functions/issues/1195](https://github.com/Azure/Azure-Functions/issues/1195)

[2019-04-15 06:17] ManojReddy-MSFT commented on #29255
@naesevol The password complexity completely depends upon the source of the user identity you are using. So the policies applied at the time of password reset for the users are the only policies being validated.

AFAIK , we do not perform any password complexity checks while obtaining the token in ROPC flow.

[2019-04-15 06:24] #25079 closed

[2019-04-15 06:27] PramodValavala-MSFT commented on #29369
@cbailiss Glad we could help! I believe these details are scattered around the Service Bus docs and this doc is probably assuming key workings are understood.

@axisc Thoughts?

[2019-04-15 06:37] vinynigam commented on #15920
@CHDAFNI-MSFT Office 365 DOD URLs are being updated for Azure Gov. I will update the doc with GCC High endpoints.
@prara06 Network Performance Monitor does not recommend any thresholds for O365 and Dynamics 365 URLs. I will update the doc for examples .

[2019-04-15 06:42] ManojReddy-MSFT commented on #28828
@AndyEdmonds Thanks for reporting this. I have updated the doc accordingly and it will be published shortly.

[2019-04-15 06:42] RohitMungi-MSFT commented on #29283
@aashishb @j-martens Can we update the [prerequisites-for-deployment](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#prerequisites-for-deployment) documentation section with details of modules that need to be installed?

[2019-04-15 06:53] msrini-MSFT commented on #29163
@simonua , Thank you for your feedback. Your ask of creating CDN endpoints in a different Resource Group is explicit as you don't get an option to choose RG while creating it via Portal or PoswerShell or CLI.

Adding such things in documentation will only create confusion.

[2019-04-15 06:54] angoyal-msft commented on #29206
@bespinfw Thanks for the detailed explanation. Could you please refer this [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/45be0931-379d-4252-9d20-164261cc64c5/error-while-calling-adls-gen-2-rest-api-to-create-file?forum=AzureDataLake#c7496b26-9df7-464b-92bd-8ee0d9c1fe8f), In this complete detail of creating the credential for ADLS Gen 2 is given step by step.

Please let us know you

[2019-04-15 06:56] mayurigupta13 commented on #18065
@johnwildes Can you please share the cmd line query that you ran along with the original and changed path of the file?

[2019-04-15 06:58] AnuragMehrotra commented on #11389
Made changes to the content, will be published soon.

[2019-04-15 06:59] myusrn commented on #7130
I sent email to azcommunity@microsoft.com address as requested above.  This issue still repros for me with the links I provided above but never heard in this issues exchange if clicking any of those links repros the issue for you.

[2019-04-15 07:47] bertrandpons opened #29394 "Asking for precision"
Hello,

Question on the basis of this documentation: https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities

Let's say I have the following pipeline:
![image](https://user-images.githubusercontent.com/26971151/56115084-e1b9e180-5f62-11e9-9e36-39c95a556881.png)

Is the depency of "Execute SSIS" on the five pipelines ensured with a logical AND? It seems that there is a wei

[2019-04-15 07:50] KalyanChanumolu-MSFT commented on #29382
@chrizy There is no out of the box in memory emulator as such.
Any specific reason why you do not prefer the installed emulator?

[2019-04-15 07:59] kamilbednarz commented on #29223
@Jann-Skotdal
Thanks for the clarification.

[2019-04-15 08:06] stevejmorgan opened #29395 "Unclear whether this page applies Azure SQL DB Managed Instance"
Hi
This refers to Azure SQL DB but doesn't make it clear whether this includes Managed Instance. It would Be useful to have the usual "applies to..." list under the page title.
Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1ad-e183-a048-d72

[2019-04-15 08:16] Rajeswari-Mamilla commented on #25152
Document has been updated. Thanks for the feedback
#please-close

[2019-04-15 08:22] DixitArora-MSFT commented on #29142
@jeffhollan Just following up again in case you missed the previous communication from Chris.

[2019-04-15 08:23] DixitArora-MSFT commented on #29265
@MJZawacki Just following up here... Hope my previous comment helps.

[2019-04-15 08:27] jakaruna-MSFT commented on #29284
@hitesh1907nayyar How many nodes you have now in the cluster now?
Can you post the output of `kubectl get nodes -o wide`

This [link](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler) points to the AKS cluster Autoscaler document.

[2019-04-15 08:31] Rajeswari-Mamilla commented on #16168
The process remains same for any of the chosen methods. Downloaded OVF template should be used to set up the configuration server through "Deploy OVF Template" option. I will add a mention on Web UI. Thanks for the feedback
#please-close

[2019-04-15 08:39] jakaruna-MSFT commented on #29287
#29284 relates issue

[2019-04-15 08:42] jakaruna-MSFT commented on #29287
@hitesh1907nayyar I suggest you to go through this [link](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node) which describes the possible reasons for a pod to not get evicted.

Please check if any one of your pod falls in that criteria. That link is available in the document under [this](https://docs.microsoft.com/

[2019-04-15 08:44] lightdrive opened #29396 "Missing Role - SQL Managed Instance Contributor"
I don't see the role SQL Managed Instance Contributor listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Independent ID: f1a5bf89-9e54-aede-3a9a-70788a95927b
* Content: [Built-in roles for Azure resources](https://docs.microsoft.com/en-us/azure/role-based-access-contro

[2019-04-15 08:49] jakaruna-MSFT commented on #28822
Its working fine in ubuntu. I am still debugging in Centos. I will post the updates if i find something.

[2019-04-15 08:55] lightdrive commented on #29396
Close this, I'll have a go at writing the docs on GitHub myself.

[2019-04-15 08:55] angoyal-msft commented on #29395
@stevejmorgan Thanks for your feedback. I believe this is a common concept. So this should be applicable to all SQL databases, Managed Instances etc.

Anyhow to give you more clarity on this I am assigning this issue to content author.
 @jovanpop-msft Could you please comment on this.

[2019-04-15 08:59] YASWANTHM-MSFT commented on #29396
@lightdrive, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 09:00] YASWANTHM-MSFT commented on #29394
@bertrandpons, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 09:02] jakaruna-MSFT commented on #29350
@barracud Is there any specific reason for using Windows server 2003. Support for that server ended in 2015 itself.

[2019-04-15 09:05] sergaz-msft commented on #28974
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 09:09] christianarg opened #29397 "Please clarify swap source and target, which one will be recicled. Specially on the "normal" swap section."
The "normal" swap section should be clarified.

Currently states "Usually, the target is the production slot". But the image shows exactly the oposite. Also is very critical which one should be target and source, something like this:

Applies the configuration elements of the target slot to the source slot, including the slot-specific connection strings and app settings.
Restarts the worker proces

[2019-04-15 09:17] wilsonchua20 opened #29398 "Wrong recognition"
Hi, do you recommend a way of speaking or recording the audio, since we tried testing the speaker verification api, it is accepting another's person voice(acceptance rate:normal) which not supposed to be..and its very hard to get an acceptance rate of high..are there plans to make the confidence level into percentage? thank you.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-04-15 09:18] YASWANTHM-MSFT commented on #29397
@christianarg, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 09:35] deivit78 commented on #22901
Whenever I am told to use azure with something other than .NET it doesn't work or causes a lot of problems.
I think that when you publish an API, you should have examples and documentation.
I don't understand how a company like Microsoft leaves aside the rest of the world that has to use languages like python, even more in the field of data science.

[2019-04-15 09:37] ishepherd commented on #7237
Any updates @MichaelHauss? Thanks!

[2019-04-15 09:41] PanosPeriorellis commented on #22901
There are details of a Python sample being uploaded today. We are also uploading related documentation on how to automatically generate client libraries using our Swagger docs.

[2019-04-15 09:48] RohitMungi-MSFT commented on #29398
@wilsonchua20 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-04-15 09:49] deivit78 commented on #22901
There is no example or documentation to see how you can make a request of more than 5 seconds.
Reading the code is complicated, (because there is nothing else), it is very difficult to understand how to use well the rest of the SDK to do, something that in my opinion, is normal. I do not think that in a call service the conversations last 5 seconds only

[2019-04-15 09:51] JakubHolovsky commented on #28649
@Grace-MacJones-MSFT Hello Grace, I can confirm that my issue has been resolved. Thanks for helping me out

[2019-04-15 09:52] ashmeada commented on #28993
Just to add so it may help others, this is the fix. Use the latest MP available (for me it was 1801) and then follow the DLL fix in this thread https://techcommunity.microsoft.com/t5/System-Center-Blog/File-Not-Found-Exception-while-configuring-Log-Analytics/ba-p/351991 if you get a json error copy the named file to same directory as DLL fix. Hope this helps anyone with same issue.

[2019-04-15 09:58] koraven commented on #28250
I had the same troubles with docs and wrote to support. I asked to show me some examples based on headers.
**Case:**
WAF blocks request because User-Agent is 'Arachni'. I want to pass these requests.

**Example:**
curl -v -A "Arachni/v1.5.1" "http://--.northeurope.cloudapp.azure.com/"
HTTP/1.1 403 ModSecurity Action

rule exclusions:
**Request header name --> Equals --> User-Agent**
curl -v -A "Ar

[2019-04-15 09:58] Neilpang commented on #20479
@dlstucki
I'm creating an AzureListener, the connection is established sucessfully, but when I send Websocket Ping to azure relay server,  the control connection is disconnected by the server.

Am I doing something wrong ?

I also debugged with the official azure relay sample:
https://github.com/Azure/azure-relay/tree/master/samples/hybrid-connections/dotnet/simple-websocket/Server

After the conn

[2019-04-15 10:00] neeleshray commented on #29388
@jeevansd
Could you clarify which certificate would be needed for the Tableau Server configuration ?

[2019-04-15 10:02] SadiqhAhmed-MSFT commented on #29324
@barracud Sorry for the delay! This can be done with Azure Migrate - Server Migration (Preview). Please submit request via aka.ms/migratefuture.

[2019-04-15 10:04] kick23 opened #29400 "Disabling loganalytics alerts (Disable-LogAnalyticsAlertRule)"
Hey team,

When disabling loganalytics alerts from power shell getting below error

Enable-LogAnalyticsAlertRule : {"error":{"code":"PatchResourceNotFound","message":"The resource 'https://management.azu
re.com/subscriptions/4776c051-f4ef-4a30-8ce7-c9fb99ff0fc5/resourcegroups/devopstestrg-a/providers/microsoft.insights/sc
heduledQueryRules/memoryutilization?api-version=2018-04-16' was not found wh

[2019-04-15 10:05] kick23 commented on #29400
![image](https://user-images.githubusercontent.com/22592718/56124352-18f4b680-5f94-11e9-965e-d2baeddd521c.png)

[2019-04-15 10:08] SadiqhAhmed-MSFT commented on #29285
@ChrisSommers Could you please provide more background on the issue that you're experiencing. This seems to be a technical issue which requires more information and attention from the right audience. I suggest posting your query in the [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuremanagement) with more details.

Closing this issue for now. If you've any concern

[2019-04-15 10:08] #29285 closed

[2019-04-15 10:12] neeleshray commented on #29095
Yes, Azure Security Center needs certain traffic data to provide recommendations. You can also refer to the "_Conclusion_" section of Michael Teske's [blog here](https://www.petri.com/getting-started-with-azure-adaptive-network-hardening).

[2019-04-15 10:12] #29095 closed

[2019-04-15 10:12] chiners68 opened #29401 "Active Directory Permissions - Not clear"
Extended rights is a bullet pointed item, is this actually a setting or are you as I think just pointing out to apply to root of AD or a Specific OU?

Also you do not specify the permissions as being listed under Descendant User Object.

not being accurate here will cause confusion to end users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-04-15 10:14] YASWANTHM-MSFT commented on #29400
@kick23, Can you please share the link to the document which you are referring so that we can assign it to the correct team.

[2019-04-15 10:18] SadiqhAhmed-MSFT commented on #29203
@rayne-wiselman Could you please review this request and update as appropriate?

[2019-04-15 10:21] sachdevaswati commented on #29310
Thank you for pointing out, we are fixing it.

[2019-04-15 10:24] SadiqhAhmed-MSFT commented on #29060
@urieshed We need publisher name and offer ID to investigate this issue further. Please share these details @AzCommunity[at]Microsoft[dot]com with a subject line "ATTN SAD" Not getting any leads #29060.

[2019-04-15 10:27] chiners68 commented on #29401
Ignore this, you have the instructions and correct information on how to implement this, Olny issue is its below highlighted boxes so it dosent look as if the instructions are their unless you scroll further. maybe lay this out slightly different.

[2019-04-15 10:30] Masahigo commented on #28250
@koraven Thanks for sharing! So the exclusion lists are basically for white listing http header fields and request params with no extra control over the content.. Sounds to me like it's better idea to disable individual WAF rules than to allow too loose control over those.

[2019-04-15 10:37] SubhashVasarapu-MSFT commented on #29298
@squasta , Thanks for our feedback.The changes were made accordingly and takes some time to get reflected.

[2019-04-15 10:42] kick23 commented on #29400
https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules/update

[2019-04-15 10:43] AlexJamesHaines opened #29402 "Incorrect URL"
In the 'Note' section, there is a missing / from https:/aka.ms/ssprsetup . It should correctly read https://aka.ms/ssprsetup .

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12802c79-252a-3284-d0dc-e805a9516ae7
* Version Independent ID: 89652951-8794-7124-e684-273b3f501e1f
* Content: [Get started with combined registra

[2019-04-15 10:43] YASWANTHM-MSFT commented on #29401
@Chiners68, Thanks for the valuable feedback! Your feedback has been shared with the content owner for further review.

[2019-04-15 10:43] koraven commented on #28250
I don't agree that disabling rules is better. WAF just doesn't analyze header/param you specified. The rest of request will be analyzed.
There is good case in documentation

So you just ignore these tokens. Or for example you have GET parameter which triggers WAF. You can just add it to exclusions. If you disable a rule it will be applied to whole request. Exclusions work for header/parameter only

[2019-04-15 10:44] #29016 closed

[2019-04-15 10:44] SadiqhAhmed-MSFT commented on #29016
@BijsT We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 10:48] neeleshray commented on #28961
@cogit2
You can use the command like `Get-AzureADDirectoryRole | Where { $_.DisplayName -eq "Company Administrator" }`
But together with the next set of command it would not work.

[2019-04-15 10:48] #28961 closed

[2019-04-15 10:50] YASWANTHM-MSFT commented on #29400
@kick23, Thank you for the details. We will review and provide an update as appropriate.

[2019-04-15 10:59] SadiqhAhmed-MSFT commented on #29280
@rayne-wiselman I'm able to reproduce the issue. "In the Azure portal, click +Create a resource, and search the Marketplace for Recovery services." No results were found. However, if you search "Recovery" you get a drop down "Backup and Site Recovery (OMS),". Please review and make necessary updates.

[2019-04-15 11:06] v-pugoe commented on #28753
@SaurabhSharma-MSFT Fixed the issue and submitted the PR

[2019-04-15 11:06] gitathrun opened #29403 "Any other serialization support other than JSON?"
With REST + JSON as the basic, it is a good start. But I am wandering:
Is there any future roadmap supporting for serialization such as
- Microsoft Bond
- Apache Thrift
- Protocol Buffer

And framework support at back-end such as:
- gRPC
- zeroMQ
etc.

Since most of the time, the machine learning models are hide behind some other services or works together with other models, with internal communic

[2019-04-15 11:08] YASWANTHM-MSFT commented on #29402
@AlexJamesHaines, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-15 11:10] YASWANTHM-MSFT commented on #29403
@gitathrun, Can you please share the link to the document which you are referring so that we can assign it to the correct team.

[2019-04-15 11:38] msrini-MSFT commented on #29268
@barracud , The command is not dependent on the OS image that you are uploading. The only constraint is that the image needs to have a .vhd extension.

I have testing the same command with another image and it does works fine. If that specific image is not working, I would suggest you to make sure when you use this command, the source has the image with .vhd not .vhdx. If you have issue post that

[2019-04-15 11:53] maulik-modi opened #29404 "Documentation clarification: Standalone clusters are not supported in Linux"
[Enter feedback here]
With reference to https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started-linux, I would request to clarify below points in documentation page:

1. What is supported use of Standalone clusters? Does it require separate license?
2. What one would have to do if they want to setup Linux based Standalone cluster?

---
#### Document Details

⚠ *Do not edit

[2019-04-15 11:57] SheldonHage commented on #29337
Hello and a serious thank you for following up!!  This is a genuinely noted and appreciated experience for me.  I’ve been a developer for 30 years on and off as my career wanders into enterprise architecture and such.  I mention this because here is m my point: the procedure works as to describe it but for someone who has not touched Visual Studio for about 3-4 years and now going back into coding

[2019-04-15 11:57] Masahigo commented on #28250
Well, here is one example I tried.

Application is making requests to following kind of url:

/WebResource.axd?d=x2nkrMJGXkMELz33nwnakBtj8_wwSb6SD2q3v6EXOnEehzSF5WulAH5VQWl1XV_235TYl9te0oW9jcos8nz_Yp1qxLQWEO3cE0E8Lo1q_R41&t=636849238732623132

Added exclusion rules for the params:

$exclusion1 = New-AzApplicationGatewayFirewallExclusionConfig -Variable "RequestArgNames" -Operator "Equals" -Selecto

[2019-04-15 12:08] Jask2002 commented on #25910
Any update here. It has been 2 months

[2019-04-15 12:12] sirdank commented on #29074
@MarileeTurscak-MSFT Thank you. I sent an email.

[2019-04-15 12:13] devlead opened #29405 "Clarify impact of AUTOSHRINK"
Customer just sent me a direct link to "Reclaim unused allocated space" ( https://docs.microsoft.com/en-us/azure/sql-database/sql-database-file-space-management#reclaim-unused-allocated-space ) and I got asked if it had any drawback, which my on prem SQL knowledge screamed it has :) But reading that section it wasn't totally apparent.

I think there should be added an disclaimer about performance

[2019-04-15 12:17] jakaruna-MSFT commented on #29256
@marcosgm I am assigning this issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 12:19] ChrisatCC opened #29406 "Can be caused by problem with device registration, fixed with dsregcmd.exe leave"
Hi, I found a couple of machines were showing this error consistently - turned out there was a problem with their Hybrid Azure AD domain join, and if I ran (as administrator) the following command: dsregcmd.exe /leave, then rebooted, the problem went away - please add as a potential troubleshooting step?

Inspired by https://docs.microsoft.com/en-us/azure/active-directory/devices/faq#q-i-deleted-m

[2019-04-15 12:23] Lycrosa commented on #29158
Just wanting to say that article hasn't been updated yet.

[2019-04-15 12:26] chrizy commented on #29382
Its just harder to setup a CI system, and use things like the Live unit test feature.

[2019-04-15 12:37] Mahons opened #29407 "Performance Logs and Alerts Service"
Hi,

Just to note, I tried to install a Cluster in one of our hardened environments... The installation failed due to the PFA service being disabled on the SF nodes. Perhaps, you can update the documentation to include the PFA as a required service.

Best,

Stephen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3a68b3

[2019-04-15 12:40] Jnchi commented on #29171
Clearly you don't seem to understand the purpose of Github Issues. Here are a few resources for you so that you are better equipped for the next time:

--https://github.com/MicrosoftDocs/azure-docs/blob/master/CONTRIBUTING.md#reporting-bugs-and-suggesting-enhancements

Note: In case you missed it, this is the proper way for **Reporting Bugs**.

--https://guides.github.com/features/issues

Note: Ag

[2019-04-15 12:40] #29171 closed

[2019-04-15 12:47] tamram commented on #19720
@queryquandary - Thanks for your feedback. Please see the following conversation about thread safety:

https://github.com/Azure/azure-storage-net/issues/732

I apologize for the fact that this is not better documented, and will pass your feedback on to improve our reference.

[2019-04-15 12:47] tamram commented on #19720
#please-close

[2019-04-15 12:50] tamram commented on #12246
@SteveBurkettNZ @jitendra-25 - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 12:51] femsulu commented on #29171
The way you framed your initial question was confusing which is why I asked you to clarify. I am very familiar with the process. All i asked was for you to clarify your question. Feel free to reach out directly via AzCommunity@microsoft.com if you would like to discuss this further.

[2019-04-15 12:52] tamram commented on #14875
@RahnL @CheetahChrome - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 12:54] tamram commented on #15750
@fkwiatek - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 12:58] tamram commented on #15958
@dcbrown16 - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:00] tamram commented on #16338
@imeya  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:02] tamram commented on #17000
@msfcolombo  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:03] tamram commented on #17001
@irab  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:09] gldraphael opened #29409 "The page must document that the output asset must already exist before submitting a job"
https://github.com/Azure-Samples/media-services-v3-dotnet-tutorials/blob/71b80865068768184e2bee8fea2ebef593f21f60/AMSV3Tutorials/UploadEncodeAndStreamFiles/Program.cs#L216-L236

Submitting a job without creating an asset returns a `BadRequest` with content:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62cb819

[2019-04-15 13:10] tamram commented on #17502
@ironicLemon - I hope you were able to resolve this issue. If not, please use the [Azure Storage forum](https://social.msdn.microsoft.com/Forums/azure/home?forum=windowsazuredata) to request further support.

#please-close

[2019-04-15 13:12] tamram commented on #17750
@reicher001  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:13] tamram commented on #17833
@mmyk  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:15] tamram commented on #18117
@MrJinx @raghukrishnamoorthy  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:18] tamram commented on #18159
@barborico  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:20] tamram commented on #18426
@jasonshave @dburriss  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:24] AggressiveWaffle commented on #27365
I have the same problem is there a fix for this ? Or do i just use the http client

[2019-04-15 13:27] tamram commented on #18936
@SychevIgor - Thanks for your feedback. I have passed this on to the Azure Storage engineering team.

#please-close

[2019-04-15 13:29] tamram commented on #19085
@simonua  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:32] tamram commented on #19261
@mercurjl  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:36] Anmolgan81 commented on #24546
Have this been documented?

[2019-04-15 13:36] tamram commented on #19455
@ddobric @mforrer85  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:38] jacsir11 opened #29412 "Link is not a good link"
Home realm discovery during sign-in for Microsoft 365 services has the following broken link attached https://blogs.azure.net/updates/Admin/Blogs/29/Posts/3170.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d200ae83-c846-5051-9391-028ec2d3c1f4
* Version Independent ID: 6b32387f-ee24-8fe0-bd39-a338205ab6a0
* Content: [

[2019-04-15 13:45] tamram commented on #21188
@alexandair  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:46] tamram commented on #21410
@smithGit  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:47] hansmbakker opened #29413 "Is metadata Editorial:chitchat required always or only in mixed KBs?"
The documentation says:

I'm building a bot using Enterprise Bot Template. There, chitchat is added as a separate KB. In my understanding, rankers only have the scope of a KB, so I assume there it would not make a difference.

Could you please explain this behavior better, and in general, could you please document the ranking and scoring rules of QnA Maker better?

Is it possible to configure or t

[2019-04-15 13:48] tamram commented on #21570
@seekingtheoptimal  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:49] bertrandpons commented on #29394
Maybe an idea: would the setting "Wait on completion" solve this behavior ?

[2019-04-15 13:50] tamram commented on #21578
@PaulTouzel-kcom -  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 13:50] RyanHill-MSFT commented on #29302
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-15 14:00] YASWANTHM-MSFT commented on #29413
@hansmbakker, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 14:01] MangeshDange commented on #22856
@TravisCragg-MSFT: Thanks for the clarification. Can you please look into the this doc mentioning about the VNET peering requirement for APP G/w communication within and Outside VNET.

https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-application-gateway-communicate-with-instances-outside-of-the-virtual-network-it-is-in-or-outside-of-the-subscription-it-is-in

[2019-04-15 14:01] tamram commented on #21602
@danbord @awickham10 @bjthomson @smithsson68 @Djiit - Thanks for your feedback. We'll investigate this further and update the article as needed.

#please-close

[2019-04-15 14:02] githubavi opened #29415 "Need information on Active Directory Premium P2 Availability Regions list"
Hi, I would like to know Active Directory Premium P2 Availability Regions list other than Azure Germany. As I have searched in Internet, I can not find this information. Can you provide the details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ffe08e-ff22-9358-cc9a-883c28df8bcb
* Version Independent ID: 0f00035d-2a

[2019-04-15 14:03] YASWANTHM-MSFT commented on #29412
@jacsir11 , Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-15 14:04] tamram commented on #21628
@danbord  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 14:06] YASWANTHM-MSFT commented on #29415
@githubavi, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 14:10] YASWANTHM-MSFT commented on #21578
@paultotozel-kcom, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 14:10] #21578 closed

[2019-04-15 14:11] tamram commented on #21821
@rahulunlimited  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 14:13] YASWANTHM-MSFT commented on #29404
@maulik-modi, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 14:16] YASWANTHM-MSFT commented on #29405
@devlead, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 14:17] tamram commented on #21820
@haveyoumetcp  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 14:19] YASWANTHM-MSFT commented on #29409
@gldraphael, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 14:21] YASWANTHM-MSFT commented on #29407
@Mahons, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-04-15 14:26] YASWANTHM-MSFT commented on #29406
@ChrisatCC, Thanks for the valuable feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 14:28] jnoller commented on #29158
Correct

[2019-04-15 14:33] eross-msft commented on #29406
I am not the correct writer for this. Adding @MicrosoftGuyJFlo
@YASWANTHM-MSFT please assign this item to him.

[2019-04-15 14:33] maulik-modi commented on #29404
@YASWANTHM-MSFT and @dkkapur, Similar discussion thread is going on [here](https://github.com/Microsoft/service-fabric/issues/149)

[2019-04-15 14:41] stevestein commented on #28740
@chanmmn , @Mike-Ubezzi-MSFT - [The article](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-jobs-service-installation
) will be removed soon. It's a bit confusing, but this article is for an older version of jobs. At the top it has a big note that the feature is being deprecated:
![image](https://user-images.githubusercontent.com/9388190/56141208-3b191500-5f51-11e9-8c0b-d

[2019-04-15 14:41] DrewSummers opened #29416 "Sign-in Error 135011 "Other""
Any guidance on why a computer that regularly has successful user sign-in event would create an error code 135011?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Sign-in activity report error codes in the Azu

[2019-04-15 14:46] tfitzmac commented on #28180
#please-close

[2019-04-15 14:50] tamram commented on #21469
@jlee-vi  - Thanks for your feedback. We have this work in our backlog and will address it soon.

#please-close

[2019-04-15 15:03] adsifi opened #29417 "Need to be an Azure AD GLobal Administrator or Security Administrator ?"
Why do we need to be an Azure AD global admin or security administrator to connect Security Center to Sentinel ? This is a big constraint in organisations where Azure AD is managed by a different team than the ones who operate and consume Azure services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939fe044-5317-8afe-

[2019-04-15 15:06] Layla-P opened #29418 "Link to `how to` is incorrect"
`Getting Started with Azure Table Storage in .NET` this links to documentation on how to Get Started with Cosmos DB table storage (https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet). This is not the same as Azure table storage which is in a Blob. The article does have a note about it covering table storage as well but the examples seem to be very specific to Cosmos DB.

[2019-04-15 15:13] CeciAc commented on #16444
Hi @KeiroKamioka0000
Thank you for your feedback.
 
We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/ja-jp/azure/role-based-access-control/quickstart-assign-role-user-portal

We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback.

Kind regards,
Micr

[2019-04-15 15:21] CeciAc commented on #26379
Issue moved to [MicrosoftDocs/azure-docs.de-de #285](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/285) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-15 15:22] qianw211 commented on #29233
@justimorris Hi Justin, here's the answer to your question:

Channel | Standard Contract | Custom T&Cs
-- | -- | --
Customer Led (web stores) | Yes | Yes
Partner Led (csp) | No* | Yes
Field Led (quote center)* | N/A | N/A

*coming in the future

[2019-04-15 15:22] CeciAc commented on #26379
Hello, @paule96

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/azure-docs.de-de/issues/285

Kind regards,
Microsoft DOCS International Team

@BryanTrach-MSFT #p

[2019-04-15 15:25] #29233 closed

[2019-04-15 15:31] SubhashVasarapu-MSFT commented on #29298
@squasta , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-15 15:31] #29298 closed

[2019-04-15 15:39] DanoThom commented on #17948
Hi @sergaz-msft - I can't seem find how to programmatically associate an IoT Hub with a storage account using the Azure CLI 2.0. I've googled for ages and explored the available docs, repos, powershell RM scripts and the azure-cli-iot-ext IoT Hub extension to no avail. Is this functionality coming to the extension or is it even on the roadmap? Thanks.

[2019-04-15 15:41] simonua commented on #29163
@msrini-MSFT, whether that creates confusion is a very subjective assessment by you. My ask was whether it was possible to reside in different RGs since that wasn't clear based on the documentation. I'm more interested in having that limitation be explained in an FAQ section like other Azure Docs documentation than actually providing that capability.

[2019-04-15 15:42] Mike-Ubezzi-MSFT commented on #29418
@Layla-P Thank you for making us aware of this issue. We will investigate and update the document as appropriate.

[2019-04-15 15:42] Karishma-Tiwari-MSFT commented on #29417
Thanks for the question. We are currently investigating and will update you shortly.

[2019-04-15 15:43] Karishma-Tiwari-MSFT commented on #29346
@sulaimanthatesa We will now close this issue. Please come back when you are ready and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 15:43] #29346 closed

[2019-04-15 15:47] MicahMcKittrick-MSFT commented on #29404
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 15:48] aaronjones1 commented on #28834
I would like to know this as well.

[2019-04-15 15:48] MicahMcKittrick-MSFT commented on #29407
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 16:10] Gamecock opened #29422 "Unable to restart iotedge"
When running this command as the last step in disabling process identification.
`sudo systemctl restart iotedge`
I get the error message.
sudo: unable to resolve host EdgeVM

I have tried restarting the VM as indicated here: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/edc7e97e-e570-4f28-996a-61901a3fa78b/sudo-unable-to-resolve-host-in-ubuntu-1404?forum=WAVirtualMachinesforWindows
This

[2019-04-15 16:23] CeciAc opened #29424 "This page includes environment specific explanations"
@rioriost commented on [Mon Apr 15 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2469)

"C:" is a drive letter for Windows. And it's described in 'bash' quotation. It means the description works on Windows only. Could you add the descriptions for other platforms such as macOS / Linux?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 99

[2019-04-15 16:24] CeciAc commented on #29424
Hi team,
I'm moving this here since the user is requesting additional documentation

best regards

[2019-04-15 16:25] tamram commented on #20853
@sirkubax - Thanks for your feedback. Perhaps I am misunderstanding what you are looking for, but all AzCopy command-line options are documented [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy#azcopy-parameters).

Also, as with most command-line tools, you can type `AzCopy /?` to get a list of command-line options.

You can use the /XN and /XO parameters to copy bas

[2019-04-15 16:32] zhpyuk opened #29425 "I get the following error. AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application."
I followed the steps in https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy. When launching url from the SMART on FHIR app launcher. I get the following error. AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-04-15 16:34] shashishailaj commented on #28731
When we create a Azure AD Domain Services it requires two IPs and requests to setup a subnet during initial setup. At that point you may need to select a virtual subnet and you can decide which subnet you would like to use . You can choose a subnet with large number of free IP addresses . You would be able to join the machines to the AAD domain services instances as well.

As per CIDR calculations

[2019-04-15 16:34] #28731 closed

[2019-04-15 16:36] ajinkyaSurve commented on #29183
I have followed the exact steps that have been mentioned in this document as well deploying VMSS using a Template Deployment, below is my template:

https://github.com/MicrosoftLearning/20535-ArchitectingMicrosoftAzureSolutions/blob/master/Allfiles/Mod03/Labfiles/Starter/vmss.json

I am getting the standard error of Remote Desktop can't connect to the remote computer for 3 reasons.

[2019-04-15 16:39] #29222 closed

[2019-04-15 16:43] beckybertram opened #29426 "Not Possible to Assign Licenses to External Users in Admin Center Preview"
It looks to me like it's no longer possible to assign licenses to external users in the new admin center Preview. The documentation will need to be updated accordingly when the new M365 admin center rolls out to GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ab5696-ee53-9104-95e8-9a55d3ec26c9
* Version Independen

[2019-04-15 16:44] georgewallace commented on #29186
@gunnarcms Thanks for reaching out. The quickstart needs to be updated.  I have submitted a pull request to correct this issue.  Once the pull request has been merged it will automatically close this issue.

[2019-04-15 16:44] beckybertram commented on #29426
Oops! Sorry! Left this feedback on the wrong page. Please disregard.

[2019-04-15 16:46] beckybertram commented on #29426
Sorry. Left feedback on wrong page.

[2019-04-15 16:49] navyasric commented on #29375
@smoms MSAL.js library is a client library which just returns the tokens. It does not perform the validation of the tokens. Your backend will need to validate the tokens.

[2019-04-15 16:50] #29186 closed

[2019-04-15 16:54] Grace-MacJones-MSFT commented on #19968
Thanks @cephalin. We will now proceed to close this thread.

[2019-04-15 17:00] hukun01 opened #29427 "How do we handle monitoring metrics when a VMSS node is updating?"
Hi,

We have a cluster with 5 nodes, when auto-upgrade runs, 1 node will be updating, and our cluster reports error via Microsoft-ServiceFabric-Monitoring-Health provider, saying "20% (1/5) nodes are unhealthy".
Since our cluster tolerates 0% of unhealthy, our cluster reports error from the LogClusterHealthState metrics.
As a result, every time when auto-upgrade runs, our cluster would be in error

[2019-04-15 17:04] zhpyuk commented on #29425
I followed the steps in https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy. When launching url from the SMART on FHIR app launcher. I get the following error. AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application.

[2019-04-15 17:05] tamram commented on #20852
Addressed in https://github.com/MicrosoftDocs/azure-docs/issues/20853.

#please-close

[2019-04-15 17:09] hrasheed-msft commented on #29288
Hi @Anmolgan81 I'll assume that your subscription has been whitelisted for the feature, otherwise I don't think you'd be able to see the option to enable it. However, we are not able to provide more support for this issue as we don't have access to the Azure portal telemetry. Please email the address mentioned (hdiautoscalepm@microsoft.com) or create a support ticket for assistance with your issue

[2019-04-15 17:15] shashishailaj commented on #28747
@anwer007  @vikaskumawat80 My apologies for the delayed reply .  I checked internally with support and at this point it is not possible . In CSP a customer tenant is the first thing that is created and it serves as the identity store of the customer/company. It is based on the idea that a company could have one single tenant and any associated azure assets can be created within subscriptions assoc

[2019-04-15 17:15] #28747 closed

[2019-04-15 17:15] ThirstyAdmin commented on #25298
Thank you very much @MisiekBest :)

[2019-04-15 17:18] smoms commented on #29375
@navyasric thanks. But my question is more subtle. Does MSAL validate (at least) the signature of the token? Of if i send it a signature-tampered-with token then for MSAL is still ok?
Beside that i understand that further validations need to be done in the backend.

[2019-04-15 17:18] ckarras commented on #29235
Hi @SaurabhSharma,

I tried modifying the GitHub sample you referenced to obtain a token for Graph API using Azure AD B2C. First, I modified the sample's configuration to make it work with my AD B2C tenant, then I did the following changes to try to obtain a token for AD Graph API instead of tokens for my application's scopes:

Startup.Auth.cs, OnAuthorizationCodeReceived:
[code]
Startup.Auth.cs,

[2019-04-15 17:22] taromielnaz opened #29428 "Wrong Link"
When you click on Rapid7 documentation link you get the alert telling that this document is for Version 1.1 which is no longer officially supported . Maybe you should update the link .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da20ded6-a387-fac7-795d-ebf02f0d35d3
* Version Independent ID: 67d85a3c-97a7-d997-705c-d

[2019-04-15 17:22] himanshusinha-msft commented on #29084
@arda-liberty : Since we have not heard back from you , we are going ahead and closing the ticket . You can always re-open the issue if you think appropriate .

[2019-04-15 17:22] #29084 closed

[2019-04-15 17:23] himanshusinha-msft commented on #29086
@andrealibero  Since we have not heard back from you , we are going ahead and closing the ticket . You can always re-open the issue if you think appropriate .

[2019-04-15 17:23] #29086 closed

[2019-04-15 17:31] himanshusinha-msft commented on #29226
@swathiAMD : Since we have not heard back from you on this we are going ahead and closing this issue . If you feel appropriate you can always re-open the issue .

[2019-04-15 17:31] #29226 closed

[2019-04-15 17:34] solidcloudio opened #29429 "Mixing CmdLets"
The Powershell you are using above mized AZ and ARM cmdlets...  Import-AzureKeyVaultCertificate is in Azure.RM.KeyVault.  To run the Az Modules you have to uninstall the RM ones..

So, this all works until you hit Import-AzureKeyVaultCertificate

Import-AzureKeyVaultCertificate : The term 'Import-AzureKeyVaultCertificate' is not recognized as the name of a cmdlet, function, script file, or operabl

[2019-04-15 17:37] DeanGross opened #29430 "PowerShell Module"
Please update the sample scripts to use the Azure AD module, the preview module is no longer needed to run these cmdlets, see https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgrouplifecyclepolicy?view=azureadps-2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee217532-6b64-61f7-d965-bc95d9198cd

[2019-04-15 17:38] cbrooksmsft commented on #19456
We are working on a plan to enable "tag" or "alias" definitions to allow these kinds of ranges to be defined by the service.  not ETA yet.

[2019-04-15 17:38] vikaskumawat80 commented on #28747
Thanks @shashishailaj

[2019-04-15 17:40] cbrooksmsft commented on #19456
#please-close

[2019-04-15 17:41] navyasric commented on #29375
@smoms - MSAL.js does not validate the token(even signature). It does perform state and nonce match checks to mitigate the risks.

[2019-04-15 17:44] gtrevi commented on #29343
@SnehaAgrawal-MSFT why are you closing this without a solution?

[2019-04-15 17:46] rolyon commented on #18583
@MicrosoftDocs/azure-cxp-triage
#please-close

[2019-04-15 17:48] goncalvesj opened #29431 "Error getting Azure AD claims"
Hi,
After following this tutorial and trying to run the user flow using Azure AD login I keep getting this error:
AADB2C: A claim with id 'UserId' was not found, which is required by ClaimsTransformation 'CreateAlternativeSecurityId' with id 'CreateAlternativeSecurityId' in policy 'B2C_1_test_v2' of tenant 'xxx.onmicrosoft.com'.

I believe everything is set up properly in the Azure AD and Azure B2

[2019-04-15 17:48] #18583 closed

[2019-04-15 17:49] MartinJaffer-MSFT commented on #29172
@bertrandpons  any updates or new information?

[2019-04-15 17:49] McGarvJ opened #29432 "Viewing future ADF schedule"
I would like to be able to view the future schedule for my Azure Data Factory V2 environment. For example, I want to know what jobs will run tomorrow or next Monday. Ideally I would also like to know the estimated run time for these jobs. This capability is often referred to as Forecasting in other job scheduler tools.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-04-15 17:50] MicahMcKittrick-MSFT commented on #29429
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 17:51] MicahMcKittrick-MSFT commented on #29427
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-15 17:52] Karishma-Tiwari-MSFT commented on #29425
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-15 17:53] DCtheGeek commented on #29135
@DavidR91 As Resource Graph is still in preview, this value is still being tweaked and tested at different levels. When Resource Graph goes GA, we'll update the throttle details. Thanks for the question and I'll close this issue for now. I'll try to remember to link to / update this issue when the content is published so that you get notified.

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-15 17:54] cynthn commented on #28861
@elamje Thanks for the feedback! We are currently working on a redesign for the VM sizes pages which will include updates to make the docs more consistent between size families. Since this is an ongoing project, I'm going to add this feedback to the project and close this issue for now. Thanks again!

#please-close

[2019-04-15 17:55] #28861 closed

[2019-04-15 17:57] tchristiani commented on #6880
@femsulu please unassign @anrothMSFT and assign this issue to @PatrickFarley

[2019-04-15 17:58] tfosmark commented on #5774
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-15 17:58] #5774 closed

[2019-04-15 17:59] tchristiani commented on #28042
This has been added to our backlog. #please-close

[2019-04-15 17:59] MicahMcKittrick-MSFT commented on #28975
@Anmolgan81 if that is the case then you would want to deploy a new elastic search instance to Azure. Then, from AWS, you will want to either download the data on prem then upload it to Azure or move the data from the storage blob in AWS to a blob in Azure.

As mentioned above there is not a direct migration path for this. So it will include manual setup of a new elastic search and manually moving

[2019-04-15 18:02] tfosmark commented on #5810
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-15 18:02] #5810 closed

[2019-04-15 18:03] tfosmark commented on #6037
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-15 18:03] #6037 closed

[2019-04-15 18:03] msmimart commented on #27965
@ITGUYHPH Thanks for pointing this out. I've filed a work item and currently have updates in progress to address this feedback. I'll close this issue now but will comment back when the updates are published. Thanks again! #please-close

[2019-04-15 18:03] MicahMcKittrick-MSFT commented on #29087
@litvinolek I am working on getting this answered offline. Will update once I have more.

[2019-04-15 18:03] Neckross opened #29433 "support missing for ADJ + HDJ devices"
how to properly group Azure Domain Joined devices and Hybrid Azure Domain Joined devices??... there is no available support for this request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d494
* Content: [Dynamic automatic g

[2019-04-15 18:03] msmimart commented on #27963
Duplicate of Issue 27965 #please-close

[2019-04-15 18:03] tfosmark commented on #5750
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-15 18:03] #5750 closed

[2019-04-15 18:04] tfosmark commented on #6558
Thank you for taking the time to share your product and documentation feedback with us. Your input is valued because it helps us create the right documentation for our customers. Due to the volume of issues in our queue, we are closing open issues older than 90 days. We hope to continue hearing from you. Thank you.

[2019-04-15 18:04] #6558 closed

[2019-04-15 18:04] Anmolgan81 commented on #28975
@MicahMcKittrick-MSFT Agreed, can you tell me what is the process of moving the indexes from AWS Elastic Search 2.3 to Azure Elastic Search? I just want to understand the process of manually moving the indexes, at this point of time that is the thing which is still unclear to me.

@vikaskumawat80

[2019-04-15 18:05] bandersmsft commented on #29384
@eshudnow I'll work to clarify this.
#in-process

[2019-04-15 18:06] TravisCragg-MSFT commented on #24475
@SamirFarhat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 18:06] #24475 closed

[2019-04-15 18:08] MicahMcKittrick-MSFT commented on #28975
@rloutlaw @iainfoulds @v-kents @navalev as you are all listed as contributors to this doc might any of you be able to elaborate more on this? I am not overly familiar with the inner working of Elastic Search

[2019-04-15 18:09] MV10 commented on #5774
So closing a valid issue is somehow better than leaving it open until somebody fixes it? This is exactly why I don't bother reporting Visual Studio bugs any more.

[2019-04-15 18:10] #29135 closed

[2019-04-15 18:12] Gamecock commented on #29422
Creating a new VM per the quick-start resolved.

[2019-04-15 18:14] tchristiani commented on #25798
This is not a docs issue. This is an ACOM issue. #please-close here and reopen with the ACOM portal.

[2019-04-15 18:15] YutongTie-MSFT commented on #28042
@angie4u
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-15 18:15] #28042 closed

[2019-04-15 18:16] tchristiani commented on #24006
@YutongTie-MSFT will you please reassign to @PatrickFarley ? thank you

[2019-04-15 18:16] mjcarrabine opened #29434 "Update Management or Automated Patching for SQL Server VM?"
Hello,

Which of these is recommended for a SQL Server VM running in Azure:
  1. Azure Automation Update Management or
  2. SQL Server Configuration --&gt; Automated Patching

Do these features do the same thing? Are there benefits to using one over the other?

I would lean toward Azure Automation Update Management because it can be used for other VMs. If that is the case, do I just disable SQL Se

[2019-04-15 18:18] cowinr opened #29435 "Clearer statements required for Blob-level tiering"
I may be missing something but I'm struggling to make sense of three related statements from this article regarding blob-level tiering:

1. Blob-level tiering allows you to change the tier of your data at the object level using a single operation called Set Blob Tier. You can easily change the access tier of a blob among the hot, cool, or archive tiers as usage patterns change...
2. Archive storag

[2019-04-15 18:18] YutongTie-MSFT commented on #24006
@tchristiani No problem.

[2019-04-15 18:19] TravisCragg-MSFT commented on #17000
@msfcolombo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 18:19] #17000 closed

[2019-04-15 18:19] TravisCragg-MSFT commented on #17001
@irab We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 18:19] #17001 closed

[2019-04-15 18:22] rolyon commented on #28438
The CDN team will work on this to add descriptions.
thanks

[2019-04-15 18:26] Icandui8 opened #29436 "When creating a new Azure VM from custom VM image, the built-in admin account is renamed from what it was in the original VM (localadmin) to Administrator"
It appears the issue occurs/is related to, since the admin username given in the new Azure VM (from image) is the same as the existing username in VM image earlier created by customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b4784
* Version Independent ID: 4c30cc9b-fa80-b174-8cdb-c

[2019-04-15 18:27] rohinkoul commented on #29316
This is already documented at https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#what-host-header-do-endpoint-health-checks-use

[2019-04-15 18:29] KumudD commented on #29316
#please-close

[2019-04-15 18:32] aavdberg commented on #20171
Getting the following error:

he authenticity of host 'xx.xxx.xxx.xxx (xx.xxx.xxx.xxx)' can't be established.
ECDSA key fingerprint is SHA256:BA+bC05bkMZNBRWUxL11Lu/whfLAi/oozQaKZZx5nHA.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added 'xx.xxx.xxx.xxx' (ECDSA) to the list of known hosts.
someuser@somedomain.com@xx.xxx.xxx.xxx: Permission denied (publickey,keybo

[2019-04-15 18:34] rachoksh commented on #18004
If this is true please request documentation be updated - ASR no longer allows on-boarding new customers for on-prem VMWARE to VMWARE recovery scenario.

[2019-04-15 18:38] ptansey commented on #29167
We have a meeting scheduled with a Technet/Azure technician through our E5 subscription, I'll try that route first. Thank you for the reply @SaurabhSharma-MSFT  :)

[2019-04-15 18:43] JPSiller commented on #16461
There is no Register() method in the Microsoft.Azure.NotificationHubs packages. The class is NotificationHubClient and it contains a CreateRegistration/CreateUpdateRegistration but this guide doesn't cover how to use it.

Apart from this, according to the official Google migration guide from GCM to FCM you should remove certain permissions from the manifest since they can cause duplicate notificat

[2019-04-15 18:46] Juliako commented on #27763
Hi,
We would like to let you know that Azure Media Services v2 is our “legacy” API now and we are not actively building new features or functionality on that path. All of our investments are focused on the v3 API which is an ARM based API and a more consistent and performant development model aligned with all other Azure services.  We strongly encourage you to migrate to Media Services v3 API to g

[2019-04-15 18:46] Juliako commented on #27763
#please-close

[2019-04-15 18:48] tamram commented on #28493
@seshenoy - Thanks for pointing this error out to us. I'm updating the doc to note that managed identities are enabled for blobs and queues.

[2019-04-15 18:49] julesman101 opened #29440 "Enabling Auditing - More clarity needed"
Q1 : There is reference to "Server Blob Auditing" throughout this page. Does this refer to enabling auditing where the Audit Log Destination = Azure Storage" ?  (The UI shows no reference to "Server Blob Auditing")
Q2 : This docpage says : "If server blob auditing is enabled, it always applies to the database. The database will be audited, regardless of the database auditing settings."  Does this

[2019-04-15 18:50] FAHADSUST opened #29442 "NotificationsManager.handleNotifications is blocking UI thread in Low bandwidth"
In android this methods NotificationsManager.handleNotifications(this, Constants.SenderId, MyHandler.class); are causing a 20s UI block while running in low bandwidth. You can easily generate it. Please help me to find out a solution. It's urgent. Thanks.

[2019-04-15 18:51] mrbullwinkle commented on #25999
The updates to this doc are now live. @MicrosoftDocs/azure-cxp-triage #please-close

[2019-04-15 18:54] Juliako commented on #26859
Hi,
We would like to let you know that Azure Media Services v2 is our “legacy” API now and we are not actively building new features or functionality on that path. All of our investments are focused on the v3 API which is an ARM based API and a more consistent and performant development model aligned with all other Azure services.  We strongly encourage you to migrate to Media Services v3 API to g

[2019-04-15 18:54] Juliako commented on #26859
#please-close

[2019-04-15 18:55] JPSiller commented on #16461
***Update:
NotificationHub is a different class from a different namespace.
My second question is still valid though. Should we add the permissions in the manifest? Or remove them per this guide:
https://developers.google.com/cloud-messaging/android/android-migrate-fcm?utm_source=gcm-deprecation-last-round-msa&utm_medium=email#update-server-endpoints

[2019-04-15 19:00] Juliako commented on #22955
The example links just show the format of links, they don't point to the actual content.

Also, we would like to let you know that Azure Media Services v2 is our “legacy” API now and we are not actively building new features or functionality on that path. All of our investments are focused on the v3 API which is an ARM based API and a more consistent and performant development model aligned with a

[2019-04-15 19:01] Juliako commented on #20770
We would like to let you know that Azure Media Services v2 is our “legacy” API now and we are not actively building new features or functionality on that path. All of our investments are focused on the v3 API which is an ARM based API and a more consistent and performant development model aligned with all other Azure services. We strongly encourage you to migrate to Media Services v3 API to get ac

[2019-04-15 19:02] Juliako commented on #20770
#please-close

[2019-04-15 19:03] curtand commented on #29412
Hi @jacsir11
Thanks for the catch! I fixed the link, and it will publish today.

@YASWANTHM-MSFT
#please-close

[2019-04-15 19:03] Juliako commented on #20605
You can find node.js examples here: https://github.com/Azure-Samples/media-services-v3-node-tutorials/tree/master/AMSv3Samples

[2019-04-15 19:03] Juliako commented on #20605
#please-close

[2019-04-15 19:04] rohinkoul commented on #25823
#please-close

[2019-04-15 19:05] Mike-Ubezzi-MSFT commented on #29405
@devlead Want to pointout the following section of the documentation with regard to [shrinking data files](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-file-space-management#shrinking-data-files).

So, I think it is adequately documented unless there is another reference that may need updating. Please let us know if there is an additional update needed. Thank you.

[2019-04-15 19:06] Juliako commented on #14467
Hi,
We would like to let you know that Azure Media Services v2 is our “legacy” API now and we are not actively building new features or functionality on that path. All of our investments are focused on the v3 API which is an ARM based API and a more consistent and performant development model aligned with all other Azure services.  We strongly encourage you to migrate to Media Services v3 API to g

[2019-04-15 19:06] Juliako commented on #14467
#please-close

[2019-04-15 19:07] YutongTie-MSFT commented on #25999
@imeya
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-15 19:07] #25999 closed

[2019-04-15 19:07] #21188 closed

[2019-04-15 19:11] Juliako commented on #20071
Hi,
We would like to let you know that Azure Media Services v2 is our “legacy” API now and we are not actively building new features or functionality on that path. All of our investments are focused on the v3 API which is an ARM based API and a more consistent and performant development model aligned with all other Azure services.  We strongly encourage you to migrate to Media Services v3 API to g

[2019-04-15 19:11] #19085 closed

[2019-04-15 19:11] #18159 closed

[2019-04-15 19:11] Juliako commented on #20071
#please-close

[2019-04-15 19:11] #26214 closed

[2019-04-15 19:11] #28850 closed

[2019-04-15 19:11] #8924 closed

[2019-04-15 19:13] Juliako commented on #18463
#please-close

[2019-04-15 19:14] maliksahil commented on #19455
@ddobric Currently we do not have Angular + implicit flow examples. There is an unofficial version that you can use without support/warranty https://github.com/maliksahil/AngularAzureADAuthLib

Your other two choices are currently to
1. Either wrap AngularJS inside Angular and use this https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-angularjs-spa or
2. Use a NodeJS eq

[2019-04-15 19:18] MarileeTurscak-MSFT commented on #29425
@zhpyuk

 The reply URL in your code needs to match what you have in your application config, registration, and SMART on FHIR proxy. You need to use the combined Reply URL.

Can you post what you have configured in these places?

[2019-04-15 19:19] Karishma-Tiwari-MSFT commented on #29442
@FAHADSUST  Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-15 19:19] #11104 closed

[2019-04-15 19:19] #12246 closed

[2019-04-15 19:20] #14875 closed

[2019-04-15 19:20] #15750 closed

[2019-04-15 19:20] #15958 closed

[2019-04-15 19:21] Karishma-Tiwari-MSFT commented on #16168
@mikavuokko We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:21] #16168 closed

[2019-04-15 19:21] #16338 closed

[2019-04-15 19:21] MarwanNour commented on #29219
Hello Sir, I am printing the values before concatenating and I am getting None sometimes although I am adding elements to the queue. What I'm doing is performing a while(True) loop that dequeues elements and prints them every few seconds if there are elements in the queue, if there aren't any elements in the queue it will print for instance "Empty Queue" and wait for a few seconds and go back agai

[2019-04-15 19:21] JohnGalt1717 commented on #11104
Looks good! That will help a lot of people!

[2019-04-15 19:21] Mike-Ubezzi-MSFT commented on #29424
The document needs updates on a couple of points:

- Enhance the tutorial to include Git Bash instructions for other O/S platforms.

- Address the current instructions to ensure the tutorial completes successfully, as I am finding that the `md` command does not complete successfully but `mkdir` does.

![Screenshot (394)](https://user-images.githubusercontent.com/37126106/56159241-0620b880-5f79-11e

[2019-04-15 19:21] #16444 closed

[2019-04-15 19:22] mmckechney opened #29443 "Migration tools"
The notes reference "Microsoft Azure Monitor will provide tools for customers to automatically migrate their classic alert rules on to the new platform soon." Do you have an ETA on these tools?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9718a085-110e-cfae-c737-8074f75e11b8
* Version Independent ID: c010f299-a2ce-86

[2019-04-15 19:22] Karishma-Tiwari-MSFT commented on #17439
@d-mariano
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:22] #17439 closed

[2019-04-15 19:22] #17502 closed

[2019-04-15 19:22] #17750 closed

[2019-04-15 19:22] #17833 closed

[2019-04-15 19:23] #18117 closed

[2019-04-15 19:23] Karishma-Tiwari-MSFT commented on #18187
@mosharafMS
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:23] #18187 closed

[2019-04-15 19:23] #18426 closed

[2019-04-15 19:23] #18596 closed

[2019-04-15 19:23] #18936 closed

[2019-04-15 19:23] #14467 closed

[2019-04-15 19:24] #18991 closed

[2019-04-15 19:24] #19009 closed

[2019-04-15 19:24] Karishma-Tiwari-MSFT commented on #19009
@ganlbarone
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:25] Karishma-Tiwari-MSFT commented on #19097
@lbrillhart
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:25] #19097 closed

[2019-04-15 19:25] Karishma-Tiwari-MSFT commented on #19455
@ddobric
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:25] #19455 closed

[2019-04-15 19:26] Karishma-Tiwari-MSFT commented on #19714
@mcurko  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:26] #19714 closed

[2019-04-15 19:26] Karishma-Tiwari-MSFT commented on #19720
@queryquandary  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:26] #19720 closed

[2019-04-15 19:26] Karishma-Tiwari-MSFT commented on #19936
@dougcain
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:26] #19936 closed

[2019-04-15 19:28] Karishma-Tiwari-MSFT commented on #20481
@r-milne
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:28] #20481 closed

[2019-04-15 19:28] #20853 closed

[2019-04-15 19:29] #21410 closed

[2019-04-15 19:29] #21469 closed

[2019-04-15 19:29] #21570 closed

[2019-04-15 19:29] #21628 closed

[2019-04-15 19:29] #21820 closed

[2019-04-15 19:29] #21821 closed

[2019-04-15 19:30] Karishma-Tiwari-MSFT commented on #22400
@Phydeauxman We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:30] #22400 closed

[2019-04-15 19:31] Karishma-Tiwari-MSFT commented on #22492
@woutervanranst We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:31] #22492 closed

[2019-04-15 19:31] #23583 closed

[2019-04-15 19:31] Karishma-Tiwari-MSFT commented on #24728
@Wicaeed
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:31] #24728 closed

[2019-04-15 19:32] sirkubax commented on #20853
Hi,
True, closing the ticket, sorry forget to do it earlier
ATM I use a
`yes -n | azcopy [options]`
+
`--exclude-older` and `--exclude-newer `

Please note the Linux client docs is not so cool (no Parameters section)
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-linux?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#only-copy-data-that-doesnt-exist-in-the-destination

Initially

[2019-04-15 19:33] #26379 closed

[2019-04-15 19:34] #28964 closed

[2019-04-15 19:34] Karishma-Tiwari-MSFT commented on #28180
@kye
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:34] #28180 closed

[2019-04-15 19:34] #28139 closed

[2019-04-15 19:35] Karishma-Tiwari-MSFT commented on #25443
@JJussi
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:35] #25443 closed

[2019-04-15 19:35] Karishma-Tiwari-MSFT commented on #25152
@mjpagan
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:35] #25152 closed

[2019-04-15 19:35] Karishma-Tiwari-MSFT commented on #24826
@colinweiner
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:35] #24826 closed

[2019-04-15 19:35] tamram commented on #28493
#please-close

[2019-04-15 19:36] Karishma-Tiwari-MSFT commented on #24781
@blacktee
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-04-15 19:36] #24781 closed

[2019-04-15 19:36] bradyhouser opened #29444 "Uninstall on Linux"
When I performed the uninstall I needed to type "./uninstall.sh -Y"  Just typing in "uninstall.sh -Y" gave me an error that the Command Was Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa1c21c1-893f-de10-9ba3-8e5b71336e82
* Version Independent ID: cb4e2d9f-86fc-0376-f0f2-5253d380865d
* Content: [Set up dis

[2019-04-15 19:42] awickham10 commented on #21602
Why did you close the issue if it hasn't been resolved?

[2019-04-15 19:43] Mike-Ubezzi-MSFT commented on #29418
@wmengmsft Can you provide feedback on this? In the [Next Steps](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-overview#next-steps) section, the bullet item [Getting Started with Azure Table Storage in .NET](https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet) links to a Cosmos DB Table API tutorial and not a Table Storage tutorial. Should this be the

[2019-04-15 19:51] Juliako commented on #24000
Hi, it looks like the info you are asking about is described in the [Developer Guide](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-developer-guide).
Please let us know if you think we are still missing something.
For now i will close the issue.
thank you

[2019-04-15 19:51] Juliako commented on #24000
#please-close

[2019-04-15 19:54] wmengmsft commented on #29418
The link is correct. Azure Storage Table and Cosmos DB Table have compatible APIs. The same SDK can be used for both, and the documentation in the target link indeed provides instructions and samples for both cases.
One thing we can fix is the link text itself, so that it indicates the target provides instructions for both Cosmos DB and Azure Storage Table. For example, we can use the target page

[2019-04-15 19:58] MarileeTurscak-MSFT commented on #29415
@githubavi As far as I know P2 is available in every region where Azure AD is available apart from China.

These regions are listed here:
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=active-directory&regions=all

Non-regional | South Africa North | South Africa West | East Asia | Southeast Asia | Australia Central | Australia Central 2 | Australia East | Australia Sou

[2019-04-15 19:59] MarileeTurscak-MSFT commented on #29415
CC: @githubavi

We will now proceed to close this thread. If you have further questions feel free to tag me or @githubavi in the comments and we will gladly continue the discussion.

[2019-04-15 19:59] #29415 closed

[2019-04-15 20:01] SaurabhSharma-MSFT commented on #29433
@Neckross Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-15 20:02] SaurabhSharma-MSFT commented on #29416
@DrewSummers Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-15 20:05] SaurabhSharma-MSFT commented on #29426
@beckybertram Not a problem.  Can we close this issue then ?

[2019-04-15 20:06] MarileeTurscak-MSFT commented on #29074
Thanks @sirdank .  I have enabled you for technical support. Since this is in preview I believe it should work but I am confirming your scenario with the product team and will update the thread accordingly.

[2019-04-15 20:06] #29074 closed

[2019-04-15 20:09] SaurabhSharma-MSFT commented on #29428
@taromielnaz Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-15 20:10] ccompy commented on #23401
Recommended size should be a /24 to support future growth.  The number of IPs in the subnet provide the upper bound on how large you can scale and it cannot be changed after ASE creation.

[2019-04-15 20:14] beckybertram commented on #29426
Yes

________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Monday, April 15, 2019 3:05:17 PM
To: MicrosoftDocs/azure-docs
Cc: Becky Bertram; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Not Possible to Assign Licenses to External Users in Admin Center Preview (#29426)

@beckybertram<https://github.com/beckybertram> Not a problem. Can we close this issue then

[2019-04-15 20:16] SaurabhSharma-MSFT commented on #29426
@beckybertram Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-04-15 20:16] #29426 closed

[2019-04-15 20:18] Karishma-Tiwari-MSFT commented on #29436
@Icandui8 Thanks for the feedback. Are you suggesting any changes in this FAQ doc or want to confirm on this? Please let me know.

[2019-04-15 20:24] cogran opened #29446 "Prerequisites for Enabling NSG Flow Logs"
As NSG Flow Logs are not currently part of the Microsoft/Azure Trusted Services, Allow All Networks must be selected to allow logging to the storage account. Can this prerequisite be added to either this page or Configure NSG Flow Logs pages? Otherwise logs will generate but be blocked by the storage account firewall. Alerts in the portal are not generated and takes quite a bit of digging to figur

[2019-04-15 20:29] SaurabhSharma-MSFT commented on #29430
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-15 20:30] SaurabhSharma-MSFT commented on #29431
@goncalvesj Thanks for your feedback! We will investigate and update as appropriate.

[2019-04-15 20:35] MicahMcKittrick-MSFT commented on #29427
@hukun01 does this cause your cluster to break? Or does it come out of error state once the upgrades are completed?

[2019-04-15 20:43] Alberto-Vega-MSFT commented on #29422
@Gamecock I am sorry to hear that you were having issues with this. I am glad that you were able to resolve.

[2019-04-15 20:43] femsulu commented on #29434
@mjcarrabine Thanks for the Comment. We are actively investigating and will get back to you soon.

@zjalexander any input on this please?

[2019-04-15 20:44] MarileeTurscak-MSFT commented on #29275
Yes, your summary is accurate.

The id_token is a JSON Web Token (JWT) that contains user profile attributes represented in the form of claims. The ID Token is consumed by the application and used to get user information like the user's name, email, and so forth, typically used for UI display.

The Access Token is a credential that can be used by an application to access an API.

Another way to th

[2019-04-15 20:44] SaurabhSharma-MSFT commented on #29428
@taromielnaz The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-04-15 20:44] #29428 closed

[2019-04-15 20:44] MarileeTurscak-MSFT commented on #29275
Hope this helps!

We will now proceed to close this thread but if you have further questions, feel free to tag me or @CelesteDG in the comments and we will gladly continue the discussion.

[2019-04-15 20:44] #29275 closed

[2019-04-15 20:46] MarileeTurscak-MSFT commented on #29362
Thanks, @XabiBeltza

I have passed your feedback along to @jeevansd

[2019-04-15 20:54] MartinJaffer-MSFT commented on #29231
![alt text](https://wtv3.blob.core.windows.net/media/gitbranchfact.png?sv=2018-03-28&sr=b&sig=h%2B9BCbWvkGqAVQyX0R88XuCJl6i3cg9k%2FdLg9nhs1aE%3D&st=2019-04-15T20%3A48%3A47Z&se=2022-04-15T20%3A53%3A47Z&sp=rw "gitbranchfact.PNG")

Is this what you are looking for?

[2019-04-15 21:03] Karishma-Tiwari-MSFT commented on #29153
@iainfoulds I found [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/28105) where the doc [changes](https://github.com/MicrosoftDocs/azure-docs-pr/commit/a1939f14d1d381f5308b1b4417e719238b58a5d7) were made to change the name from user's email address to object id in rbac-aad-user.yaml file. You mentioned that there was a known problem which was fixed.
Can you please take a look at t

[2019-04-15 21:06] MartinJaffer-MSFT commented on #29172
@bertrandpons

https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#update-active-triggers

[2019-04-15 21:13] MartinJaffer-MSFT commented on #29231
Looks like you might have to remove the Git from repository settings, then add it back in, @fmms .
The Git Repository settings are in the Overview screen.
![image](https://user-images.githubusercontent.com/46612670/56165738-97e3f200-5f88-11e9-9d8a-45bce8d5aed2.png)

[2019-04-15 21:14] TravisCragg-MSFT commented on #29357
@imartinez2 This doc is designed for the [classic deployment model](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-model). You can change the drop down at the top to be "Azure Resource Manager PowerShell" if you would like the ARM Instructions.

Also, There is a n[ew version of Azure Resource Manager Powershell called the Az Module](https://docs.microsoft

[2019-04-15 21:14] #29357 closed

[2019-04-15 21:23] tchristiani commented on #27606
This is part of our backlog. #please-close

[2019-04-15 21:23] joseluisrodriguezdetorres commented on #6886
Hello guys, thanks for your help. No update since 2018.08.08?
I have come to the same issue. @xelossan workaround still works, but I guess azure IoT device provissioning service.enrollments should accept standard certificates? Or I maybe I don´t understand it correctly.

Thanks again,
JLR

[2019-04-15 21:23] YutongTie-MSFT commented on #27606
@ckarras
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-04-15 21:23] #27606 closed

[2019-04-15 21:24] vhorne commented on #29357
@imartinez2
This is a deprecated article that was removed from the TOC, but not deleted out of the docset. This article has now been deleted.
#please-close

[2019-04-15 21:26] hukun01 commented on #29427
It doesn't cause the cluster to break, but the cluster reporting errors will trigger our monitors to file incidents to ourselves. We have got quite a few such fake alerts, would like to get rid of them.

[2019-04-15 21:29] hansenms commented on #29425
@zhpyuk , yes, you need to have the correct reply URL configured for your client application in Azure AD. Please see https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy#configure-reply-url for details.

[2019-04-15 21:29] Mike-Ubezzi-MSFT commented on #29440
@julesman101 Thank you very much for taking the time to bring this issue to our attention. We are investigating and will update this issue when we have accurate information.

[2019-04-15 21:31] TravisCragg-MSFT commented on #29360
@parker-andy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

If you need to do this immediately, could you tell me where exactly you are having the issue?

[2019-04-15 21:32] wickste opened #29449 "C# code snippets don't compile with current SDK"
- the ContainerConfiguration ctor doesn't take List&lt;string&gt;
- the VirtualMachineConfiguration ctor doesn't take ContainerConfiguration
- the StartTask ctor takes parameter "commandLine" (not "CommandLine")

I am using Microsoft.Azure.Batch SDK v10.1.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206a4592-16ac-8

[2019-04-15 21:34] diberry commented on #26700
@RohitMungi-MSFT This is fixed. Please close this issue.

[2019-04-15 21:36] TravisCragg-MSFT commented on #28438
@rich-davies We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-04-15 21:36] #28438 closed

[2019-04-15 21:38] yyanev commented on #20171
Can you provide some more information like the Linux distro and version? Are you trying to login with the device flow or with a SSH key?
The login with a SSH key is no longer allowed for AAD users. Otherwise someone can login, install a key and after that will be able to bypass all RBAC checks.

From: Andre van den Berg <notifications@github.com>
Sent: Monday, April 15, 2019 11:33 AM
To: Microsoft

[2019-04-15 21:40] tchristiani commented on #22206
#please-close

[2019-04-15 21:42] KingdomOfEnds commented on #29347
@KetanChawda-MSFT - I went ahead and submitted a [PR](https://github.com/Microsoft/tsiclient/pull/83) for the issue. I also realized that the link I had above was missing the `l` in `html` (though the text label appeared correctly). _That's_ also been corrected :) Thanks!

[2019-04-15 21:43] mingdee opened #29450 "Direct Methods Quota and Message Size"
The doc said the Direct Methods quota is 160KB/sec/unit for 4KB "throttling meter size". My message is always less than 128 bytes. Does this mean I can send 160/0.125 = 1280 msg/sec/unit or 160/4 = 40msg/sec/unit? I don't understand what is throttling meter size mean in this context? If you can provide some examples to illustrate the formula that will be great.

---
#### Document Details

⚠ *Do no

[2019-04-15 21:48] mprentice22153 commented on #29112
Thank you for the clarification.

[2019-04-15 21:49] tchristiani commented on #21868
The KES pages are being moved to MS Research. #please-close

[2019-04-15 21:54] Karishma-Tiwari-MSFT commented on #29450
@mingdee
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-04-15 21:55] Adam-Smith-MSFT commented on #29435
@cowinr Sorry for the confusion, your input is correct, I'll assign the issue to the author as a doc enhancement.
**Clarification:**
The following link which compares the Access tiers per storage account types mentions that Access tiers are supported in blob Storage accounts and GPV2: https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview  (on the table)

However, the [Set

[2019-04-15 21:59] shmahanta commented on #29239
Thanks Mike, however, these steps are for an Azure web app. An elastic job is not listed in the supported services for Managed identities:
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities
Is there any clear guideline specific to elastic jobs? Am I missing some part, such as a capability to encapsulate the elastic job in

[2019-04-15 22:05] Karishma-Tiwari-MSFT commented on #29449
@wickste Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-04-15 22:15] iainfoulds commented on #29273
Sorry you ran into issues.

This is getting beyond the scope of the doc, and isn't really AKS-specific. Let's Encrypt uses different environments to control how certificates are issued. The prod environment is rate-limited, which is why in these docs we use the staging environment. A domain is used as Let's Encrypt uses domain-based verification on the certificates so if you only provide an IP add

[2019-04-15 22:18] iainfoulds commented on #29153
There was an issue when the user existed in a different tenant, so the objectId can't be used. The workaround was to specify the e-mail instead.

@palma21 to comment on the behavior experienced here as to why that doesn't appear to work correctly.

[2019-04-15 22:30] femsulu commented on #29444
@bradyhouser Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-04-15 22:31] ddigdo001 commented on #19576
I'm seeing the same issue where the metrics for the ASE are empty, showing 0 load.  What was the resolution of this reported issue?

[2019-04-15 22:34] femsulu commented on #29443
@mmckechney Thanks for the Comment. We are actively investigating and will get back to you soon.
@msvijayn any input on timelines?

[2019-04-15 22:40] JamesBewley commented on #29273
Hi,

I have experience using letsencrypt in other environments and understand
the domain validation process but there doesn’t appear to be any requests
happening and nothing reaching letsencrypt so not a problem there.

There are definitely gaps between this document and what is required for a
production environment.

Instruction for example on the significance of labelling an ip address with
an a

[2019-04-15 22:41] #20605 closed

[2019-04-15 22:41] Adam-Smith-MSFT commented on #21602
@awickham10 I just re-opened the case, i'll provide some feedback to the CDN team to update the documentation as appropriate.

[2019-04-15 22:42] MS-Santi opened #29451 "Missing word under Topics"
*It reads:
As long as you have access the resource, you can subscribe to its events.
*Should be:
As long as you have access TO the resource, you can subscribe to its events.
or
As long as you CAN access the resource, you can subscribe to its events.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 260729d3-4d69-4396-d0c3

[2019-04-15 22:43] kobulloc-MSFT commented on #29334
@yroymsft You are correct.  These steps are complete for PowerShell, however running this on the Cloud Shell I run into the same error you are seeing.  I'll assign this to the author so they can update the documentation accordingly.  Thank you for pointing this out!

![image](https://user-images.githubusercontent.com/37556655/56170089-1f376280-5f95-11e9-9b9b-1d4070ff2590.png)

[2019-04-15 22:49] #20071 closed

[2019-04-15 22:59] dkkapur commented on #29407
What is the PFA service?

[2019-04-15 22:59] MicahMcKittrick-MSFT commented on #29427
@hukun01 fair point. Let me do some digging and see what I find.

[2019-04-15 23:00] Mike-Ubezzi-MSFT commented on #29440
@julesman101 In looking into this, the tutorial walks you through defining [Server-level versus Database-level audit policies](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auditing#subheading-8) and configuring the destination for the related audit data to either an Azure Storage account, an Azure Log Analytics workspace, or an Azure Event Hub instance.
In the case of the speci

[2019-04-15 23:01] femsulu commented on #26567
@mayurigupta13 any update on this please?

[2019-04-15 23:03] tiny-dancer opened #29452 "Best practices"
This page is missing the best practices content from the V1 page where I believe the content is applicable to both

https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-permissions-and-consent#best-practices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac43307-75d4-cb6f-e561-0dd9008f28c6
* Version Inde

[2019-04-15 23:05] Tyler-Angell opened #29453 "Missing Azure Resource Manager Template"
How do I assign an Managed Identity RBAC Role to another resource like Storage? Only half of the Managed Identity setup seems to be documented for ARM Templates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d026e28c-2ee9-868d-5236-17f463aa9df1
* Version Independent ID: 1f180228-e0e3-a2df-8ff5-1210988aed3b
* Content:

[2019-04-15 23:07] MicahMcKittrick-MSFT commented on #29427
@hukun01 so the only way I can see you avoiding this alert is as you mentioned to configure your cluster health alerts to 20% instead of 0%. On the upside, this should fix the errors you are seeing but on the downside if a node goes down for any other reason and it is under that 20% threshold you would not be informed.

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-health-in

[2019-04-15 23:12] mingdee commented on #29450
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling

[2019-04-15 23:26] Mike-Ubezzi-MSFT commented on #29440
@julesman101 YOu need to generate some audit activity. If you set a server-level or database-level default policy and access the SQL instance via SSMS or the Query editor, you will populate the tablespace and your query will not receive a syntax error:

Just after creating a server-level audit policy and attempting to access the Log Analytics log data:

![Screenshot (398)](https://user-images.gith

[2019-04-15 23:27] Karishma-Tiwari-MSFT commented on #29450
@mingdee Thanks for sharing the document link. I have updated the issue with doc details.
We are currently investigating and will update you shortly.

[2019-04-15 23:30] femsulu commented on #28678
@MGoedtel looking forward to your confirmation.
@Ibnajjar does this answer your question?

[2019-04-15 23:31] Mike-Ubezzi-MSFT commented on #29440
And after waiting for audit event data, you can see the query return log activity:

![Screenshot (400)](https://user-images.githubusercontent.com/37126106/56171888-e77fe900-5f9b-11e9-84cd-bd94700094a1.png)

[2019-04-15 23:31] #29440 closed

[2019-04-15 23:31] Karishma-Tiwari-MSFT commented on #29432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-04-15 23:32] eriawan commented on #29244
@Grace-MacJones-MSFT @apwestgarth

Thanks for the update!
One more thing, the link on this bullet point is still incorrect:

![image](https://user-images.githubusercontent.com/8773147/56156959-f5297480-5f83-11e9-96d4-239faf3ad734.png)

It should point to the doc of Windows Server 2019 LTSC.
I have submitted a PR to fix this: #29455

Please review and thanks in advance!

[2019-04-15 23:33] femsulu commented on #28909
@smultani  We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-15 23:33] #28909 closed

[2019-04-15 23:37] fmms commented on #29231
@MartinJaffer-MSFT no that is not what I am looking for. This is the branch were the .json files of pipelines / flows / datasets are stored when I press "save all". However, i want to change the name of the adf_publish branch, that is used when i press "publish".

[2019-04-15 23:45] snehithm commented on #26359
Hi @ctaggart, thanks for the feedback. I'm tracking this in our product backlog and we will work on getting this added to the docs. We will close this issue now.

[2019-04-15 23:49] Mark7even opened #29456 "Verification on Design"
It is not stated if domain controllers do have internet access, if both Azure AD Password Protection Proxy agent and the Azure AD password protection DC agent can be installed on the same domain controller.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53684ada-fb90-0497-30d2-8c8c5d3a39ec
* Version Independent ID: f6b

[2019-04-15 23:49] femsulu commented on #29108
Thanks for the update, @TomBertie.
Just FYI - Shanitza@microsoft.com confirmed this is an issue they are looking into and will provide an updated fix in the coming weeks.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion..

[2019-04-15 23:49] #29108 closed

[2019-04-15 23:54] femsulu commented on #29310
@sachdevaswati , thanks for the update. Please respond once the fix is live.
@Placid7 thanks again for catching this.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-04-15 23:54] #29310 closed

[2019-04-15 23:56] #25823 closed

[2019-04-15 23:58] LeeHyeongWon commented on #28693
@kgremban Please reply.