[2022-04-27 13:26] ocolon-tfa opened #92106 "Azure NFS File share mounting is not mentioned in the limitations"
Hello, it seem NFS file share mounting is not supported (or is not working, smb does though) in app service but is not mentioned in the limitations. Please add to the limitations if this is indeed the case. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independ

[2022-04-27 13:34] vjc216 commented on #91851
That's what I thought, thanks for confirming.  That would mean the documentation needs to be updated.  But it begs the additional questions I posted.  What then would be the recommendation to restore a database to point in time?  Restoring has to be done with a new name and assumed rename but that is not possible with an MI.  Is the solution to delete the failover group?  Can we guarantee the fail

[2022-04-27 13:40] dimitri-furman commented on #92087
Hi @ahrib - could you please elaborate on where exactly you see 250 GB as the maximum? Note that for S0-S2 databases, maximum storage is indeed 250 GB, as [documented](https://docs.microsoft.com/azure/azure-sql/database/resource-limits-dtu-single-databases?view=azuresql#standard-service-tier) on the same page. For the rest of Standard databases, maximum storage is 1 TB.

[2022-04-27 13:43] antgonz opened #92107 "Set-AzVmSecurityType : The term 'Set-AzVmSecurityType' is not recognized as the name of a cmdlet, function, script file, or operable program."
Hello team,

As per the public document the command to set the Security Type is:

$vm = Set-AzVmSecurityType -VM $vm `
   -SecurityType "TrustedLaunch"

However, I could not find that command on any module or even on the PortalShell (AzPS). Could you please check whether the right command is Set-AzVmSecurityProfile -VM  $vm  -SecurityType  "TrustedLaunch" and modify our public documentation if so?

[2022-04-27 13:45] SreejaBhattacharya-MSFT commented on #92102
Hello @J227668 , thanks for reaching out. We will look into this and provide an update.

[2022-04-27 13:55] antgonz commented on #92107
Hello,

Confirmed with Ajay, documentation is wrong, also this one: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/virtual-machines/trusted-launch-portal.md

Best regards,
Antonio González
Partner Technical Advisor                             Office: +34 913919640
Microsoft Azure Technical Support          ***@***.******@***.***>
Customer Service and Support                  Workin

[2022-04-27 13:59] SnehaAgrawal-MSFT commented on #92106
@ocolon-tfa Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-27 14:05] safari137 commented on #92103
I have a feeling this has something to do with the namespace migration from Microsoft.Web to Microsoft.App

I was able to uninstall the extension:
`az extension remove --name containerapp`

then install this older extension:
` az extension add  --source https://workerappscliextension.blob.core.windows.net/azure-cli-extension/containerapp-0.2.4-py2.py3-none-any.whl`

The command executed, but I got

[2022-04-27 14:06] ikadentkxs commented on #88403
@srikns is correct that by adding the blob_sas_token it will work.

[code]

[2022-04-27 14:37] cristiandatum opened #92112 "error in C# function IoTHubtoTwins.cs"
I believe there are at least 2 errors in the C# function IoTHubtoTwins.cs:

1. public async void Run([EventGridTrigger] EventGridEvent eventGridEvent, ILogger log) should be changed to:
public async **Task** Run([EventGridTrigger] EventGridEvent eventGridEvent, ILogger log) should be changed to:

2. var cred = new ManagedIdentityCredential("https://digitaltwins.azure.net");
This site is no longer

[2022-04-27 14:53] asergaz commented on #92112
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-27 15:03] kimjamia opened #92115 "How to trigger a Service Bus triggered function locally?"
Under the heading [_Non-HTTP triggered functions_](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cwindows%2Ccsharp%2Cportal%2Cbash#non-http-triggered-functions) there's guidance how to call a non-HTTP triggered function locally but what is not explained anywhere is what to set as the connection string of the Service Bus when running the function locally.

I kn

[2022-04-27 15:14] MarileeTurscak-MSFT commented on #92100
@andrewconnell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-27 15:21] tfitzmac commented on #92061
@ajdvoynos - thanks for this feedback. I'll change the casing.

@MonikaReddy-MSFT - I have confirmed the schema uses all lowercase for securestring.

[2022-04-27 15:28] chambomusic opened #92116 "iifNull() 3rd example STILL looks wrong"
Previous issue:  https://github.com/MicrosoftDocs/azure-docs/issues/52012

If `iifNull()` indeed "...is equivalent to coalesce"....

Then the 3rd example should return 'azure' rather than 'factory'

`iifNull('azure', 'data', 'factory') -> 'factory'`

Previous explanation (https://github.com/MicrosoftDocs/azure-docs/issues/52012#issuecomment-614361864) sates that `iifNull()` does not act like coale

[2022-04-27 15:36] markingmyname commented on #90546
Thank you, @madsd.

@kabharati can we help investigate this, please?

thank you.

[2022-04-27 15:46] markingmyname commented on #90546
#assign @GennadNY

[2022-04-27 15:54] xtcw255 opened #92117 "Article itself is fine but you really need to support what you are saying"
Like most well managed businesses we operate a principal of least privilege as is encouraged in this article. What we tend to find in practice though is that somewhere along the way poor design by Microsoft prevents at least some element of this in reality. As a recent example, we are purchasing some licenses on CSP for the Visual Studio product. The activation details are supplied as a CD key on

[2022-04-27 15:56] mokabiru commented on #92098
@ishepherd - Thanks for the feedback. This table needs an update to highlight that Database Migration Service supports both online and offline. Tagging @MashaMSFT and @rwestMSFT to address the content change.

[2022-04-27 16:12] noxx5489 opened #92120 "Please clarify what 1-4 GPU workers means in documentation"
in https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas#azure-machine-learning-compute

We received confirmation that all 8 GPUs are used despite checking earlier with the product group (and documentation ?) that its limited to 4 GPUs.

What is meant here by 1-4 GPU workers then?

Please advise
Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-04-27 16:17] MarileeTurscak-MSFT commented on #92117
@xtcw255
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-27 16:18] tengwenxuan opened #92121 "what 1-4 GPU process/worker limitation means in AzureML doc"
Can you please clarify what exactly the following 1-4 GPU process/worker limitation means?

https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/machine-learning/how-to-manage-quotas.md?plain=1#L90-L91
GPU MPI processes per node	1-4
GPU workers per node	1-4

It would be a very surprising limitation if we can’t fully use a 8-GPU node (e.g NDv2) in AML
Thank you

---
#### Document Details

[2022-04-27 16:22] 6107psira opened #92122 "IM 6 is missing from document"
[Enter feedback here]

IM 6 items is missing from document
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ac0ee57-3659-5a0d-0d4a-f14634958923
* Version Independent ID: cec66afe-b110-977d-e3bf-d17ab146647b
* Content: [Azure security baseline for Azure Functions](https://docs.microsoft.com/en-us/security/benchmark/azure/

[2022-04-27 16:45] emarana opened #92123 "Missing checks in page"
If I'm right, there are missing several checks in this doc.

Lot of _"_This check determines..._"_  but they aren't.

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 045e6cd9-fcd2-1d75-0852-5177ec7d0197
* Version Independent ID: 897d553a-8005-a755-316e-87dbe957a4bd
* Content: [Troubleshooting Linux update agent

[2022-04-27 16:45] joibarr opened #92124 "unsupported 3rd party credential providers for AAD PRT"
I have confirmed with Ravi Vennapusa (ravenn@microsoft.com), that We don't support 3rd party credential providers for AAD PRT.

I have seen customers that integrate a third party solution, and afterwards we need to tell them it is not support.

Can we add to the documentation this information? It will let know the customer in advance that unsupported scenario of third party solutions when logging

[2022-04-27 16:59] josch83 commented on #86803
We experience the same misbehaviour with the OpenID Connect provider. Without the availability of the claims in the API, the whole authentication functionality is not usable for us and we have to implement this specifically.

[2022-04-27 17:06] RichardD2 opened #92127 "Powershell version support?"
The `Install-Module` command does not work in Powershell 5:

After removing the offending parameter:

current version of PowerShellGet. Get the latest version of the PowerShellGet module to install this module,
'Az.ApplicationMonitor'.

The `Enable-ApplicationInsightsMonitoring` command does not work in Powershell 7:

So which version of Powershell are we supposed to use to execute these commands?

[2022-04-27 17:26] GiftA-MSFT commented on #92120
@noxx5489 we'll review your feedback and get back to you shortly. Thanks.

[2022-04-27 17:26] dsouzaarun commented on #92078
As of 4/27 at 6:00 AM UTC, we completed all the actions necessary to add back the removed operations. The Azure-docs will be refreshed to reflect the correct set of operations shortly.

RoleAssignments to Service Bus should work as expected ( prior to the regression ) as of 4/27 at 6:00 AM UTC.

As part of our investigation of this issue, we found out that the impact of publishing an incomplete se

[2022-04-27 17:27] dsouzaarun commented on #92078
Get-AzProviderOperation -OperationSearchString Microsoft.ServiceBus/*  provides the complete list of operations now.  And the docs will be updated shortly to reflect this.

[2022-04-27 17:44] #91404 closed

[2022-04-27 17:45] JnHs commented on #92082
Hi @quintonanderson-zetaris - thank you for taking the time to report this issue! We are in the process of updating the documentation and repo. I'll reply back and close this issue once those changes are live.

[2022-04-27 17:53] ssivas commented on #91744
@Noldiani , Thanks for your feedback.

As of today, the only option to perform this activity is through the Azure portal for individual users. However, our product team plans to support this feature of exposing App password management (such as remove App password) of per user MFA via PowerShell/Graph, however we do not have an ETA on this feature request. If you have any questions, feel free to re

[2022-04-27 17:53] #91744 closed

[2022-04-27 17:53] SadiqhAhmed-MSFT commented on #91955
@TarekNabeel Checking into see if the previous response helped answer your question. Please feel free to reply if required further assistance in this matter.

[2022-04-27 18:09] miodragstn opened #92129 "Wrong MS Graph URL in the example?"
I don't think **/v1.0/me/messages** enpoint is valid for client credentials flow. It is used for delegated access. Shouldn' it be **/v1.0/users/{tenantID}/messages**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d32f55ac-acbc-292b-d1b7-ffdd257b11e1
* Version Independent ID: ae2a266c-051b-7307-93fd-74bc521c93bf
* Cont

[2022-04-27 18:12] karlkuhnhausen commented on #46219
This item is still confusing. The documentation states:

_You can also deploy the Shared Address space reserved in RFC 6598, which is treated as Private IP Address space in Azure:

100.64.0.0 - 100.127.255.255 (100.64/10 prefix)_

But the Azure Portal gives a warning message for VNET address space:

The entered address ranges '100.100.0.0/15' may not work correctly. It is recommended to use addres

[2022-04-27 18:12] RyanHill-MSFT commented on #92093
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-27 18:20] ssivas commented on #92026
Hi @RodrigoTavaresIT,

Thanks for reaching out.

 The setting **Users may join devices to Azure AD** from [device settings blade from Azure portal](https://portal.azure.com/#blade/Microsoft_AAD_Devices/DevicesMenuBlade/DeviceSettings/menuId/), which enables you to select the users who can register their devices as Azure AD joined devices. The default is set to **All** but you can select specific u

[2022-04-27 18:20] #92026 closed

[2022-04-27 18:20] tcsougan opened #92130 "Private Link is not supported for the Custom Host origin type"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/frontdoor/private-link#limitations
 As limitation, I think it should be good to add that the Private Link is not supported for the "Custom Host" origin type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4fda9db-3e28-e2d9-c1f1-c5af1210251f
* Version Indepe

[2022-04-27 18:30] mike-urnun-msft commented on #92122
Thank you for your feedback! We will review and update as appropriate.

[2022-04-27 18:38] mamccrea commented on #91799
The only toolkit installed by the driver is the CUDA toolkit, so the container toolkit would need to be installed separately.

[2022-04-27 18:43] tkent commented on #92078
Closing this issue, since it's fixed now.

[2022-04-27 18:43] #92078 closed

[2022-04-27 18:56] #83116 closed

[2022-04-27 18:58] MarileeTurscak-MSFT commented on #92129
@miodragstn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-27 18:58] ChaitanyaNaykodi-MSFT commented on #92130
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-27 19:00] MarileeTurscak-MSFT commented on #92124
@joibarr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-27 19:23] duongau commented on #92130
Hello @tcsougan, the Custom Host origin type is used when you're using an ILB as an origin. Please see how on how that works: https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer.

[2022-04-27 19:23] MarileeTurscak-MSFT commented on #92129
I am testing in my lab and made a pull request to update the guide. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196342

@nickludwig

[2022-04-27 19:25] meenasaravanan02 commented on #66892
Hi @mcurko, please see the resolution above.
#Please-close this issue

[2022-04-27 19:25] #66892 closed

[2022-04-27 19:33] timlt commented on #91540
Adding @liydu for info on MXchip.

Hi, thanks for your interest in Microsoft documentation and Azure IoT.  This issue relates to Arduino Board Manager but not to our quickstart guide on connecting MXchip to Azure IoT.

#label: product-question

[2022-04-27 19:36] MarileeTurscak-MSFT commented on #92124
Hi @joibarr,

This guide here has a note that says,

So it sounds like they are supported but only if they support the WS-Trust protocol. Are you saying that this is no longer the case?

[2022-04-27 19:48] grminch commented on #84929
Fixed in PR #196346.

#please-close

[2022-04-27 19:48] #84929 closed

[2022-04-27 19:59] MarileeTurscak-MSFT commented on #92049
@bheddens thanks for this confirmation. I made a pull request to remove the just-in-time information from the documentation.

@jeevansd please confirm. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196348

[2022-04-27 19:59] #92049 closed

[2022-04-27 20:07] PrometheusRising1 opened #92132 "Please remove Kaspersky"
In light of current events it is my opinion that Kaspersky should be removed from this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e5b99d-64f9-5c7b-84da-283b53743495
* Version Independent ID: fb1fc857-59ee-da62-4863-9b7a8c12dede
* Content: [Security recommendations for virtual machines in Azure - Azure Vi

[2022-04-27 20:20] gsethgit commented on #92058
Azure storage mounts for App service are accessible via code. I have few samples mentioned here https://techcommunity.microsoft.com/t5/apps-on-azure-blog/scenarios-and-samples-for-mounting-azure-storage-as-a-local/ba-p/2898095  Although the samples are for App service Linux and App service windows code they should help you develop for Windows code as well

You can also refer to https://docs.micros

[2022-04-27 20:22] tcsougan commented on #92130
Thank you @duongau !

[2022-04-27 20:22] #92130 closed

[2022-04-27 20:40] MarileeTurscak-MSFT commented on #92100
It might be a product limitation, but I've reached out to the product group to confirm.

[2022-04-27 20:40] DerekHerman-MSFT commented on #92052
I have created a PR to resolve this issue. Changes will go live once reviewed and approved. Thanks for your help.

[2022-04-27 20:40] #92052 closed

[2022-04-27 20:45] IngridAtMicrosoft commented on #77546
#please-close

[2022-04-27 20:45] #77546 closed

[2022-04-27 20:54] IngridAtMicrosoft commented on #85796
This has been corrected. Thanks!

#please-close

[2022-04-27 20:54] #85796 closed

[2022-04-27 20:56] jemag opened #92135 "Provide minimal permissions"
Current article mentions creating a service principal with the following permissions:
`az ad sp create-for-rbac --role Contributor --scopes /subscriptions/{subscriptionID} -o json`
Contributor on the whole subscription being pretty intense.

Although it is just an example, it would still makes sense to provide only the minimum required permissions necessary, since it doesn't add complexity to the

[2022-04-27 20:59] MarileeTurscak-MSFT commented on #91549
The validation error message does need to have the required attributes that are listed (version, status, and userMessage).

You can also use Graph API to list audit logs and sign-ins.

https://docs.microsoft.com/en-us/azure/active-directory-b2c/view-audit-logs
 https://docs.microsoft.com/en-us/graph/api/directoryaudit-list?view=graph-rest-1.0&tabs=http
https://docs.microsoft.com/en-us/graph/api/si

[2022-04-27 20:59] #91549 closed

[2022-04-27 21:03] meenasaravanan02 commented on #68120
Hi @mcurko, "The sample code includes coverage for exceptions, which can be seen in the catches. The Fault message you received refers to a chaos action, not a runtime exception"

#please-close this issue

[2022-04-27 21:03] #68120 closed

[2022-04-27 21:03] IngridAtMicrosoft commented on #86639
Addressed. #please-close

[2022-04-27 21:03] #86639 closed

[2022-04-27 21:10] jackchenwork commented on #92013
The zip file from Vmware is called VMware-vix-disklib-6.7.0-8535999.x86_64.zip.

When you extract it, it has files :

2022-04-27  05:08 PM    <DIR>          .
2022-04-27  05:08 PM    <DIR>          ..
2022-04-27  05:08 PM    <DIR>          bin
2022-04-27  05:08 PM    <DIR>          doc
2022-04-27  05:08 PM            65,194 EULA.rtf
2022-04-27  05:08 PM    <DIR>          include
2022-04-27  05:08

[2022-04-27 21:18] IngridAtMicrosoft commented on #82473
Hello @Kellybnd, please see this page in our documentation.
https://docs.microsoft.com/en-us/azure/media-services/latest/security-private-link-concept#private-endpoints-azure-storage-and-media-services

#please-close

[2022-04-27 21:18] #82473 closed

[2022-04-27 21:19] IngridAtMicrosoft commented on #80268
Hello @Anaig. Please see this page in our documentation.

https://docs.microsoft.com/en-us/azure/media-services/latest/security-private-link-concept#private-endpoints-azure-storage-and-media-services

#please-close

[2022-04-27 21:19] #80268 closed

[2022-04-27 21:25] ashishmgofficial opened #92137 "Documentation on how to maintain purview connection for new CICD method in ADF to promote to higher environments"

[2022-04-27 21:27] joibarr commented on #92124
Hello @MarileeTurscak-MSFT
This is not related to an Identity Provider, this is related to third party credential provider.
A third party credential provider is a middleware app that validate the user credentials. Normally we use username + password or we can use Windows Hello For Business as a credential method, this are Microsoft First Party apps, therefore they are supported.
But there are othe

[2022-04-27 21:59] tfitzmac commented on #92061
I have submitted an update. It will probably get published tomorrow.

#please-close

[2022-04-27 21:59] #92061 closed

[2022-04-27 22:13] efdake opened #92138 "Recommendation under the Conditional Access portion of the article:"
If the **Linux VM Sign-in** application is missing from being able to exclude from Conditional Access, please try the following steps to remediate the issue:

Double check to make sure the application is not in the tenant by going to **Enterprise Applications**, removing the filters to see all applications, and search for "VM". If you do not see **Azure Linux VM Sign-in** as a result, the service

[2022-04-27 22:14] efdake opened #92139 "Recommendation under the Conditional Access portion of the article:"
If the **Windows VM Sign-in** application is missing from being able to exclude from Conditional Access, please try the following steps to remediate the issue:

Double check to make sure the application is not in the tenant by going to **Enterprise Applications**, removing the filters to see all applications, and search for "VM". If you do not see **Azure Windows VM Sign-in** as a result, the serv

[2022-04-27 22:21] MACEL94 commented on #79578
Up

[2022-04-27 22:22] MACEL94 commented on #79578
Up @vipulsparsh

[2022-04-27 22:26] DerekHerman-MSFT commented on #92132
Thanks for the feedback!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-27 22:31] MarileeTurscak-MSFT commented on #92138
@efdake
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-27 22:32] MarileeTurscak-MSFT commented on #92139
@efdake
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-27 22:39] claudiacharro opened #92140 "PT-BR Translation Mistake"
[Enter feedback here]

In the PT-BR Version the category T5 | Reservations - Exchange is translated as T5 | Reservas – câmbio.  I would like to confirm if the original meaning in English means that you has changed instance reservations, because the T5 category In Portuguese means that you had currency exchange changes. Could you confirm, please, if the T5 category means that some credits allowed d

[2022-04-27 22:56] raghulmsft opened #92141 "Confusing documentation"
I've been reading the intro paragraph atleast six times and I am still not following what it does. Could we revisit it please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b20ff19-2e1e-941c-2dfc-ea5456b081ef
* Version Independent ID: 6958b886-122d-0fce-3f77-d0c74944fb0e
* Content: [Enable host-based encryption on Az

[2022-04-27 23:01] ahrib commented on #92087
Thank you for investigating. Apologies, this was an error on my part & the documentation is accurate - I misread the page.

[2022-04-27 23:01] #92087 closed

[2022-04-27 23:20] ElanShudnow opened #92142 "WAF Tuning for Application Gateway"
I like this document.  But looking at the Application Gateway, there's no document on Application Gateway WAF Tuning.  My request is can we please get a Tuning doc for Application Gateway?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d38eb998-6925-5ab2-ad2c-4367a7c22895
* Version Independent ID: 0e0590c0-42d5-c5a3-86

[2022-04-27 23:30] KranthiPakala-MSFT commented on #92032
Hi @yikeren1022 Yes, `` is required when you enable `Lineage extraction` for scanning your SQL.

For more clarification, please refer to this Microsoft Q&A thread - https://docs.microsoft.com/en-us/answers/questions/826983/unable-to-get-azure-purview-lineage-extraction-wor.html

Hope this helps.

Thank you

[2022-04-27 23:34] mike-urnun-msft commented on #92103
Thank you for your feedback! We will review and update as appropriate.

[2022-04-27 23:41] rajeshsetlem commented on #87243
Hi @LifeRyuto, Thanks for reaching out. The second statement that mentions REST API and TSQL is the correct one. Will update the doc (https://docs.microsoft.com/en-us/azure/azure-sql/database/active-geo-replication-overview) to avoid confusion.

[2022-04-27 23:42] bsaxbergMS opened #92143 "Updated Script to handle the default option of delete OS disk on VM Delete."
[Enter feedback here]
# Set variables
    $resourceGroup = "WinRG"
    $vmName = "WinAVTest3"
    $newAvailSetName = "testAVSet"
	$snapshotName = "MySnapShot1"

# Get the details of the VM to be moved to the Availability Set
    $originalVM = Get-AzVM -ResourceGroupName $resourceGroup -Name $vmName

# Create new availability set if it does not exist
    $availSet = Get-AzAvailabilitySet `
       -

[2022-04-28 00:04] kromerm commented on #89954
@please-close

[2022-04-28 00:04] kromerm commented on #89954
#please-close

[2022-04-28 00:04] #89954 closed

[2022-04-28 00:05] kromerm commented on #91840
#please-close

[2022-04-28 00:05] #91840 closed

[2022-04-28 00:25] dshimogawa commented on #91830
@shashishailaj

Please allow me to send you a gentle reminder.
I want your reply by the end of next week.

I'm afraid you are busy, but we look forward to your reply.

Thank you.

Best regards,
Daishi

[2022-04-28 00:26] dshimogawa commented on #91786
@JamesTran-MSFT

Please allow me to send you a gentle reminder.
I want your reply by the end of next week.

I'm afraid you are busy, but we look forward to your reply.

Thank you.

Best regards,
Daishi

[2022-04-28 01:06] yikeren1022 commented on #92032
Hi @Kranthi ***@***.***>

Thank you so much for your confirm.
I understand db_owner is the necessary role for extracting lineage for SQL db, however, cx noticed the Japanese version, it says we need to grant proper role such as db_owner,
So they are a bit confused that db_owner might not be the necessary role.
Do we need to make a statement here that db_owner is required?

From: Kranthi Pakala ***

[2022-04-28 01:13] spelluru commented on #92051
@pemaxim - Sorry for the inconvenience. I just confirmed with the product team that the Azure Resource Manager manifest was reverted due to a bug. It will be back again as soon as the bug is fixed. Thanks.

[2022-04-28 01:39] rwestMSFT commented on #92098
This issue will auto-close as soon as the internal fix is merged.

[2022-04-28 02:23] J227668 commented on #91803
Hi @bandersmsft - That is a great question. This would be in relation to an enterprise customer leveraging an Enterprise agreement.

[2022-04-28 02:29] ChaitanyaNaykodi-MSFT commented on #92142
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-28 02:50] MayankBargali-MSFT commented on #92051
Linking to the initial issue where product team has shared the details.
MicrosoftDocs/azure-docs#92078

[2022-04-28 03:09] jusso-dev opened #92144 "Trove link is defunct due to being retired"
As per this link here - https://www.microsoft.com/en-us/garage/profiles/trove/ - Microsoft Trove is now retired, therefore this link in the reference page - https://docs.microsoft.com/en-us/azure/cognitive-services/Custom-Vision-Service/quickstarts/image-classification?tabs=visual-studio&pivots=programming-language-python#upload-and-tag-images - is no longer relevant.
---
#### Document Details

⚠

[2022-04-28 03:38] Morgwee commented on #92085
Yep this works now, thanks!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Wednesday, 27 April 2022 8:04 pm
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Link to interactiveSearch.html page is broken (Issue #92085)

@Morgwee<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2

[2022-04-28 03:39] ShuheiUda opened #92145 "Please add column "Can use with UDR?""
Could you please add column for UDR? (like "Can use with Azure Firewall?")

It seems that following Tags can't use with UDR now.

- AzurePlatformDNS
- AzurePlatformMDS
- AzurePlatformLKM
- Internet
- VirtualNetwork
- AzureLoadBalancer

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
*

[2022-04-28 03:46] CHEEKATLAPRADEEP-MSFT commented on #92116
@chambomusic  Thanks for the feedback! We are investigating and will update you shortly.

[2022-04-28 03:55] jamesyao-msft opened #92146 "test 1"
just for test

[2022-04-28 03:55] jamesyao-msft commented on #92146
#please-close

[2022-04-28 03:55] #92146 closed

[2022-04-28 03:59] CHEEKATLAPRADEEP-MSFT commented on #92137
@ashishmgofficial  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-28 04:02] OzBob opened #92147 "Add App Service provider access policy needs AZ CLI code"
https://docs.microsoft.com/en-au/azure/app-service/configure-ssl-certificate?tabs=apex%2Cportal#authorize-app-service-to-read-from-the-vault
does mention that it is required to create an Access Policy in the KeyVault, and the details on how are contained in the linked resource:  https://docs.microsoft.com/en-us/azure/key-vault/general/assign-access-policy?tabs=azure-portal

The error
"The service

[2022-04-28 04:11] SwathiDhanwada-MSFT commented on #91892
Assigning to content author @SnehaSudhirG   for review.

[2022-04-28 04:34] GitaraniSharma-MSFT commented on #92145
@ShuheiUda , thank you for your feedback. We have assigned this to the content owner/author for review.

@allegradomel , could you please review the suggestion and provide your inputs?

[2022-04-28 04:35] SwathiDhanwada-MSFT commented on #92127
@RichardD2 Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-28 04:36] SwathiDhanwada-MSFT commented on #92123
@emarana Thanks for your comment. We will review the issue and get back to you shortly.

[2022-04-28 04:49] SreejaBhattacharya-MSFT commented on #92135
Hello @jemag , thanks for pointing that out. You are correct, users/customers can provide least privileged role according to their use case.

[2022-04-28 04:50] aabiryukov commented on #92099
Related issue in ingress-nginx:  https://github.com/kubernetes/ingress-nginx/issues/8513

[2022-04-28 04:58] ssivas commented on #91830
@dshimogawa , I am still testing few scenarios on this thread, will update you with my findings. Kindly allow me sometime , I should be able to update you by next week. Thanks.

[2022-04-28 05:10] Muxxx commented on #39944
Hi everyone, I know I am necro-ing an issue from quite some time ago here. This is more for anyone searching for support on this. The article in question is misleading in general, as it implies you need to login to the Domain Controller itself to create a central store. At no point have you ever needed to login to the Domain Controller to create a central store - you could do this via the SYSVOL s

[2022-04-28 05:22] ram-msft commented on #92144
@jusso-dev Thanks for the question. We are investigating the issue and will update you shortly.

[2022-04-28 05:31] SreejaBhattacharya-MSFT commented on #92143
Hello @bsaxbergMS , thanks for sharing this with us.
@cynthn , should we add this to our documentation to handle the default option of delete OS disk on VM Delete?

[2022-04-28 05:39] SreejaBhattacharya-MSFT commented on #92141
Thanks @raghulmsft for reaching out. I have assigned this to the doc-author who will look into it and review the documentation.

[2022-04-28 05:43] SadiqhAhmed-MSFT commented on #92140
@claudiacharro Thank you for your post. We will review the content and update as appropriate.

@bandersmsft FYI

[2022-04-28 06:14] drakebb opened #92149 "Please if you could fix the part that might cause confusion"
[Enter feedback here]
Customer has pointed out that the documentation didn't specify the requirement for accessing the app, which could potentially cause users to think only after user assignment under enterprise application, can then users access this app. However, after our testing, users can access this application once it's properly configured in app registration and consented. Also, any users

[2022-04-28 06:15] lolittle opened #92150 "Azure File Share with Premium ZRS in East Asia Region"
Hi Team,

    Azure File Service with Premium ZRS is not available in East Asia, please help to change the the document in the following link to avoid mis-understanding to Azure users, many thanks.

https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy#premium-file-share-accounts

Kevin Lo
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-04-28 06:31] maxensvandaalen opened #92151 "Add mention that artifacts contain PrePostDeploymentScript.ps1"
I had to find out by accident that the artifacts generated already contain a pre- and post deployment script for the triggers. I really do appreciate this feature, but it wasn't mentioned anywhere. A small note would have stopped me from adding them myself and finding out that wasn't necessary later on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-04-28 07:12] jamweb2019 opened #92152 "Custom DNS on Azure SQL MI is not possible"
This article is not accurate. Ticket 2203030030000408 with Support confirmed that it is not doable. Not by CNAME, or other methods at the moment. Hope in the future things will change.
Note: it took us and the support 20 days to figure this fact. (I'm not blaming support, they are great BTW)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-04-28 07:14] shwetamathur7 commented on #92023
@lightupdifire In case the reference document does not work for you, please send us an email on azcommunity [at] microsoft [dot] com referencing this issue with a subject line "ATTN:shweta" and we will help you with alternative support options on this.

[2022-04-28 07:14] MaxMelcher opened #92153 "Standard Networking Feature"
Could the page please be extended with the limits in regards to standard networking features? Especially the new limits in regards to IPs in peered VNETs is a question I received several times by customers.

Thank you!
Max

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39dc-80b5-3df2a180a5e9
* Version Ind

[2022-04-28 07:19] rockboyfor opened #92154 "Confirm whether we should update the blob_sas_token as empty to match Azure Open Data Storage."
Hi guys,

When we run the Spark SQL job with following blob sas token.
**blob_sas_token = r"?st=2019-02-26T02%3A34%3A32Z&se=2119-02-27T02%3A34%3A00Z&sp=rl&sv=2018-03-28&sr=c&sig=XlJVWA7fMXCSxCKqJm8psMOh0W4h7cSYO28coRqF2fs%3D"**
There is one error message in log console:
![image](https://user-images.githubusercontent.com/4704301/165697108-9c8c73ce-f013-4be4-81e2-272bc99efaf9.png)

After we replace

[2022-04-28 07:22] horihiro opened #92155 "The hostname of `Client-directed sign-in` example for Container Apps"
In the example of request in [`Client-directed sign-in`](https://docs.microsoft.com/en-us/azure/container-apps/authentication#client-directed-sign-in) section, the hostname is a sub domain of `azurewebsites.net` which is means App Service.

![image](https://user-images.githubusercontent.com/4566555/165698931-c0e5607b-4f42-4e24-bfb0-38a118e77f93.png)

---
#### Document Details

⚠ *Do not edit this

[2022-04-28 07:36] ffrankozz opened #92158 "if we have more than one component"
az containerapp env dapr-component set \
    --name $CONTAINERAPPS_ENVIRONMENT --resource-group $RESOURCE_GROUP \
    --dapr-component-name statestore \
    --yaml statestore.yaml

In the dapr-component-set creation command given above, how would we define if we have more than one component, which is usually the case. One after the other with different component names and  its yaml file just below

[2022-04-28 07:45] racchen opened #92159 "REST endpoin api-version"
In the [document](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Cdotnet#rest-endpoint-reference), it mentioned the api-version can be used is 2019-08-01 or later.

_api-version | Query | The version of the token API to be used. Use "2019-08-01" or later._

Where can we get the full version list? I checked the document [here](https://docs.microsoft.com/en

[2022-04-28 07:46] schiffne commented on #90672
@JamesTran-MSFT
I like to open this topic again, as I think it is fundamental in order to create a dynamic device group based on extension. So far you can only use extension attributes in Conditional Access policies. We need to have it also for the creation of dynamic groups. Can you please let us know if this is coming anywhere soon?

Thanks
Marco

[2022-04-28 07:53] RodrigoTavaresIT commented on #92026
Thank very much you for your answer. I'll take this as an official answer on my MD-101 exam. Good job.

[2022-04-28 08:29] Benly-walter commented on #92099
Hi @PriyankaRudramaina Please look into the comments on the related issue mentioned above.
The helm deployment of the basic setup in below document did not work in my case.
https://docs.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-cli

[2022-04-28 08:39] jmalarcon commented on #92058
Hi @gsethgit :

Thanks for the useful links. The problem is that, just reading the document @daedam mentions, is not totally clear where the mounted volume is located. I mean, yes, it mentions `/mounts/test` but it took me a while to see that the `/`was referring to the root of the local disk not to the root of the web server (in Windows, paths use backslashes and disk letters). Therefore, my firs

[2022-04-28 08:43] PixelRobots opened #92161 "Commands are wrong if using preview cli"
This document does not work if you are using the latest azure cli preview extension.

This is due to the new preview feature that lets you snapshot the whole cluster. To snapshot a node pool you now need to use az aks nodepool snapshot command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba2a49af-10d0-9f2a-92b4-564f

[2022-04-28 08:45] CHEEKATLAPRADEEP-MSFT commented on #91888
@spelluru Can you please share insights on the above ask?

[2022-04-28 08:49] Jaffacakes82 commented on #91989
Thanks @madsd - is there a separate issue tracking this bug anywhere?

[2022-04-28 08:53] aabiryukov commented on #92099
I confirm, the documentation is outdated and leads to unreachable External IP with ingress nginx.
The problem is solved by using latest ingress-nginx helm chart 4.1.0 and adding externalTrafficPolicy=Local.

helm upgrade --install nginx-ingress ingress-nginx/ingress-nginx \
    --**version 4.1.0** \\
    --namespace ingress-basic --create-namespace \\
    --**set controller.service.externalTraffic

[2022-04-28 08:54] Gryzor opened #92162 "Dead Links"
This Page: https://docs.microsoft.com/en-us/azure/communication-services/concepts/ui-library/ui-library-overview?pivots=platform-mobile

Has two links to iOS and Android "issues" respectively; both links point to:

iOS: https://github.com/Azure/communication-ui-toolkit-ios-pr/wiki/Known-Issues
Android: https://github.com/Azure/communication-ui-toolkit-android-pr/wiki/Known-Issues

Both links are 4

[2022-04-28 08:56] GitaraniSharma-MSFT commented on #92149
@drakebb , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-04-28 08:58] vicancy commented on #92036
@ArchangelSDY

[2022-04-28 09:05] ArchangelSDY commented on #92036
Private endpoint is a network feature provided by network resource provider. Azure SignalR Service team doesn't have such knowledge to maintain a list of supported regions on SignalR docs.

From SignalR perspective, we support Private Endpoint in every region where SignalR is available.

[2022-04-28 09:47] SnehaAgrawal-MSFT commented on #92147
@OzBob Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 09:48] SnehaAgrawal-MSFT commented on #92162
@Gryzor Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 09:58] henrymbuguakiarie commented on #91554
#reassign: @henrymbuguakiarie

[2022-04-28 10:04] SumanthMarigowda commented on #92153
@MaxMelcher Thanks for the question! We are investigating and will update you shortly.

[2022-04-28 10:05] ShaikMaheer-MSFT commented on #52012
@chambomusic Thanks for pointing this. Yes as you said example in below link is incorrect. I will be creating PR for this now. Thank you.
https://docs.microsoft.com/en-us/azure/data-factory/data-flow-expressions-usage#iifnull
![image](https://user-images.githubusercontent.com/84302758/165729174-f4c8c39e-20fe-41cc-acb3-4b48eb0d4ef7.png)

[2022-04-28 10:06] #52012 closed

[2022-04-28 10:07] jyama4ta opened #92165 "[Update Request] please add new VM series."
Some of new VM series are not shown in the list. (e.g. Dv5, Ev5)
Could you please update the list includes these newer series?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568a0854-5b9e-0d79-642f-2775271d0521
* Version Independent ID: 876df17a-3a80-8e2d-bb70-c6810df7fd18
* Content: [Overview of the Azure Compute Unit

[2022-04-28 10:08] Gryzor commented on #92162
No problem! Do you know of off the to of your head what the Android link would be?

[2022-04-28 10:08] ShaikMaheer-MSFT commented on #92116
@chambomusic I tested iifnull() 3rd example, as you mentioned its incorrectly showing output. I created PR for same.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196418
![image](https://user-images.githubusercontent.com/84302758/165729790-400e5c7c-d8f9-4153-b4ac-13ab4eb8fae5.png)

[2022-04-28 10:19] ShaikMaheer-MSFT commented on #92116
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196418 PR merged successfully. Soon we will see changes reflected. Thank you.

[2022-04-28 10:19] #92116 closed

[2022-04-28 10:19] #91903 closed

[2022-04-28 10:27] Gill-Bates opened #92167 "DomainJoinExtension does not support Server Selection"
Hey there,

I would like to use the AzureVM Extension "DomainJoinExtension" to Join a Computer with a specific Domain-Controller.

https://docs.microsoft.com/en-us/azure/active-directory-domain-services/join-windows-vm-template#azure-resource-manager-template-overview

[code]

The corresponding cmdlet `Add-Computer `supports the `-Server` Option. But I missing this Option within the Extension.

ht

[2022-04-28 10:47] nisarkhan916 opened #92169 "Unable to import any Knowledge base via the custom question answering Import API"
The Question Answering Projects - [Import](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/questionanswering/question-answering-projects/import#format) is not uploading the file instead giving **Response Code: 202** and when checked for the import [status](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/questionanswering/question-answering-projects/get-import-status#code-tr

[2022-04-28 10:56] GeethaThatipatri-MSFT commented on #92152
Hi @jamweb2019 Thanks for your findings,We will investigate and update as appropriat

[2022-04-28 11:06] jpalo opened #92170 "App domain requirements changed on Google end"
Nowadays the "OAuth consent screen" requires you to type in Application home page, privacy link, as well as developer contact information. It would be crucial to understand what to type into those.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9d9c00-1382-c578-6b0d-7b5f9d63eebd
* Version Independent ID: ce817a72-ca0

[2022-04-28 11:15] andyoll commented on #36222
this does really need fixing - pls provide an update on ETA.
its very inconvenient having to work around this problem in IAC tooling.

[2022-04-28 11:21] Briwalkr commented on #91903
True, but what the example lacks is the syntax for constructing a multi-valued array. I was recently working on a project that required a multi-valued array, and I was getting errors that what I was submitting wasn't formed correctly. I believe a link to the page was in the error message, but this page was of no use since it didn't provide an example of what syntax ADF is expecting for a multi-val

[2022-04-28 11:23] #85739 closed

[2022-04-28 11:25] SnehaAgrawal-MSFT commented on #92159
@racchen Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 11:36] TarekNabeel commented on #91955
@SadiqhAhmed-MSFT many thanks for clarification and support.

[2022-04-28 11:39] SadiqhAhmed-MSFT commented on #91955
@TarekNabeel Closing this issue for now. Please ping with questions if need further assistance.

[2022-04-28 11:39] #91955 closed

[2022-04-28 11:50] ClausGra opened #92172 "Event Viewer path incomplete"
Hi,

under https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#troubleshoot-deployment-issues, sub point 4, the given Event Viewer path within the note is incomplete.

`User Device Registration\Admin` -> `Event Viewer (local)\Applications and Services Logs\Windows\Microsoft\User Device Registration\Admin`

This minor change would help to find those log

[2022-04-28 12:05] EGBL opened #92174 "Update content to use Connection Monitor as Network Performance Monitor will be retired"
Please update content to use Connection Monitor as Network Performance Monitor will be retired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 459c24c5-2d50-f119-5a74-4519bfd55fe4
* Version Independent ID: d085cee9-cd2a-f503-38af-9fdadfa9fdb1
* Content: [About Network Monitoring in Azure Monitor logs](https://docs.micr

[2022-04-28 12:19] PriyankaRudramaina commented on #92165
Hello @jyama4ta,

Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 12:20] PriyankaRudramaina commented on #92161
Hello @PixelRobots,

Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 12:27] kengaderdus commented on #91504
Closing due to inactivity #please-close

[2022-04-28 12:27] #91504 closed

[2022-04-28 12:41] GianlucaVagnoni commented on #40210
Any update on this thread?

[2022-04-28 13:28] HimanginiSisodia opened #92175 "The Deployment Script used to install and apply the CEF collector causes changes to Selinux Context , hence causing rsyslog service failing to start"
Hello,

This document needs to be edited for good customer experience as after following this many customers have reported below issue.

**Issue:**

- Whenever the Deployment Script ,as mentioned in this MS public document,  is used to install and apply  the CEF collector on Linux machine , specifically **Redhat-Centos** ,the **rsyslog service fails to start** .

- PFB screenshots:

**#systemctl s

[2022-04-28 13:31] MayankBargali-MSFT commented on #91896
@drazen-relias @jan-mrm @KaranbirSingh7 Apology for the inconvenience due to this issue. I have updated more details on [this thread](https://docs.microsoft.com/en-us/answers/questions/826377/add-aad-groups-to-api-management.html) and will keep you posted once the issue is fixed.

GitHub Issue is mainly for the doc enhancement issue and for any other troubleshooting/how to/error/exception you can

[2022-04-28 13:37] RyanHill-MSFT commented on #92151
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 13:39] RyanHill-MSFT commented on #92154
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 13:42] ram-msft commented on #91950
@priyankar Thanks, Please add to the following samples github repo.

https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/js

[2022-04-28 13:46] MayankBargali-MSFT commented on #91896
@drazen-relias @jan-mrm @KaranbirSingh7 In case if you need immediate fix then please comment post the comment on [Microsoft Q&A post here](https://docs.microsoft.com/en-us/answers/questions/826377/add-aad-groups-to-api-management.html) so I can initiate the private comment and you can share the APIM instance details only to **my private comment** so I can reach out to my team to mitigate the issu

[2022-04-28 13:49] KaranbirSingh7 commented on #91896
Thanks @MayankBargali-MSFT, I responded to your comment on [Microsoft Q&A post here](https://docs.microsoft.com/en-us/answers/questions/826377/add-aad-groups-to-api-management.html)

[2022-04-28 13:50] madsd commented on #91989
The issue tracking is internal for this issue, but if you want to know when a specific region is resolved, I am happy to relay that on this thread. Just let me know the region. Currently we expect the global rollout to be done within a month.

[2022-04-28 13:52] RohitMungi-MSFT commented on #92169
@nisarkhan916 I think zip is not a valid [format ](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/questionanswering/question-answering-projects/import#format)for the import API. Could you try excel, tsv or json format file that is passed as fileURI?

[code]
Alternatively, if you try to upload the same file via import from the studio does it still work?
If you have used the correct for

[2022-04-28 13:58] feitke opened #92177 "Is there multiple region support for this?"
Can you use this approach if you have a requirement for multiple region support?  Or do you need to use the load balancer approach described at https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-multiple-regions?view=azuresql?

It looks like you need to use the load balancer approach due to the requirement for different subnets within th

[2022-04-28 13:59] RyanHill-MSFT commented on #92158
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-28 14:03] timwarner-msft commented on #85060
I can confirm we're working on a flowchart visualization that explains how Azure Policy rule evaluations work. No word on publication date at this time, however. Thanks for the feedback! -Tim

[2022-04-28 14:03] timwarner-msft commented on #85060
#please-close

[2022-04-28 14:03] #85060 closed

[2022-04-28 14:11] marxxxx opened #92178 "Tutorial "Autoscale your AKS pods using Application Gateway Metrics (Beta)" contains lots of mistakes"
1. This command contains a duplicate "kubectl apply -f" command
`kubectl apply -f kubectl apply -f https://raw.githubusercontent.com/Azure/azure-k8s-metrics-adapter/master/deploy/adapter.yaml -n custom-metrics`

2. Executing this deployment ends up with an error message:

the namespace from the provided object "kube-system" does not match the namespace "custom-metrics". You must pass '--namespace=

[2022-04-28 14:15] nastacio commented on #81475
After spending considerable time troubleshooting this while hitting similar symptoms, I turned on the `--debug` flag and came to the following conclusion on why @SrijitBose-MSFT suggestion in [this comment](https://github.com/MicrosoftDocs/azure-docs/issues/81475#issuecomment-929893191) may not have worked.

When using `az aro create` **without** the `--client-id` and `--client-secret` parameters,

[2022-04-28 14:27] AjayKumar-MSFT commented on #91963
Azure Web PubSub tile missing from hub page #74787

[2022-04-28 14:27] derekschauland opened #92179 "What about ExternalTrafficPolicy"
In trying to work through this scenario, placing an Nginx load balancer on an AKS cluster behind an Azure internal load balancer, I encountered an issue getting traffic to land on the Nginx side.

The issue, as it turns out is that any node the traffic would be routed to from the ILB had an instance of Nginx running on it. Configuiring the Nginx controller as a daemonset likely should have gotten

[2022-04-28 14:30] AjayKumar-MSFT commented on #91958
@asw101, Requesting you to review the feedback and see if a note/clarity on default registry is required. Thanks!

[2022-04-28 14:40] nastacio commented on #55378
I believe the problem here is that the service principal (client-id) does not have the "Directory.Read.All" permission, as [explained here](https://github.com/MicrosoftDocs/azure-docs/issues/81475#issuecomment-1112261208).

[2022-04-28 14:41] Jaffacakes82 commented on #91989
Ah ok cool, no problem. We're interested in South Central US at the moment!

Thanks 😃

[2022-04-28 14:48] alexandrejobin commented on #87177
Oh ok! When I was reading "Do not enable read/write caching on disks...", I was reading "Do not enable read **and/or** write caching on disks...".

[2022-04-28 14:56] MGodfrey50 opened #92180 "ExR Site to site with vWAN"
Can you add a section discussing vWAN use for site-to-site transit between ExpressRoute - would be nice to have it either added as a 'restriction' "vWAN doesn't support transit between ExR circuits" , or an explantion on how to accomplish this (ie GR is required, or a solution without Global Reach).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-04-28 15:01] bsaxbergMS commented on #92143
It would not hurt as another example or as a catch just in case.  I have not figured out how to change the setting from the portal on the VM OS Disk to turn the auto delete off.  Seems to be the only way at this time is REST API and I have not figured out how to do that.  This might be a simpler way around it by capturing the OS disk as a snapshot before removing the VM.

Thank you,

Brian Saxberg

[2022-04-28 15:06] CarlosAugustoDeSouzaJunior opened #92181 "Auto Provisioning"
Hi Guys,

Is it possible have a deep dive about what policy and how are being by  the autoprovisioning, I 've tried narrow up for the one used to deploy  the MDE agent without assign  the "[Preview]: Deploy Microsoft Defender for Endpoint agent" initiative manually by  only enabling the Autoprovisioing trought the Defender for Coud Portal. I cannot see the policy deployment anywhere, but I can see

[2022-04-28 15:10] kengaderdus commented on #91908
@skrabbe001

Thank you for your feedback. Although the sample contains more code than what's discussed in the article, we've tested it and it works as expected. You need to follow the instructions in the article. We'll close this issue. #please close.

[2022-04-28 15:11] #91908 closed

[2022-04-28 15:13] kengaderdus commented on #91895
@skrabbe001

We've resolved this issue. Please note that this GitHub issue may be closed automatically before the changes go live.

[2022-04-28 15:13] kengaderdus commented on #91904
@skrabbe001

We've resolved this issue. Please note that this GitHub issue may be closed automatically before the changes go live.

[2022-04-28 15:32] timwarner-msft commented on #85723
#reassign:timwarner-msft

[2022-04-28 15:33] timwarner-msft commented on #87649
#reassign:timwarner-msft

[2022-04-28 15:34] timwarner-msft commented on #86509
#reassign:timwarner-msft

[2022-04-28 15:34] timwarner-msft commented on #85323
#reassign:timwarner-msft

[2022-04-28 15:34] timwarner-msft commented on #84405
#reassign:timwarner-msft

[2022-04-28 15:35] timwarner-msft commented on #84224
#reassign:timwarner-msft

[2022-04-28 15:35] timwarner-msft commented on #84042
#reassign:timwarner-msft

[2022-04-28 15:35] timwarner-msft commented on #83755
#reassign:timwarner-msft

[2022-04-28 15:37] timwarner-msft commented on #68153
#reassign:timwarner-msft

[2022-04-28 15:37] timwarner-msft commented on #60694
#reassign:timwarner-msft

[2022-04-28 15:37] timwarner-msft commented on #53417
#reassign:timwarner-msft

[2022-04-28 15:40] MarileeTurscak-MSFT commented on #92172
@ClausGra
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-28 15:47] bwren commented on #91980
Thanks, this isn't a doc issue, but I'll pass on to engineering team.

#please-close

[2022-04-28 15:49] mmacy commented on #88617
#label:"doc-bug"

[2022-04-28 15:50] bwren commented on #91872
It should mention AMA. We'd still recommend those others, but the fact is that AMA can collect security events. I'll add AMA to that note. Thanks.

#please-close

[2022-04-28 15:50] #91872 closed

[2022-04-28 16:02] MarileeTurscak-MSFT commented on #92170
@jpalo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-28 16:08] TylerDurham opened #92182 "Need to update to support UBUNTU 22.04 (jammy jellyfish)"
Ubunut 22.04 (jammy jellyfish) has been released. These instructions and the MSFT  package repo don't support 22.04 yet.

I am testing by changing "jammy" to "focal" in dotnetdev.list to see if this is a viable workaround in the meantime.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df39

[2022-04-28 16:24] Mike-Crowley commented on #88920
@marcgoff  I just installed the latest version (2.1.1.0) of AAD Connect and found the tool in the same spot:

C:\Program Files\Microsoft Azure AD Sync\Bin\csexport.exe

[2022-04-28 16:26] Mike-Crowley opened #92183 "The CSAnalyzer code block does not properly parse group objects."
The CSAnalyzer code block does not work properly parse group objects. Columns are mostly null for these users despite the data being present in the xml. The code should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be523268-53e3-43f1-21ce-c1e7d5210a9c
* Version Independent ID: 04b16d87-3a21-aee0-2233-b65f0

[2022-04-28 16:32] ChaitanyaNaykodi-MSFT commented on #92178
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-28 16:32] bwren commented on #91655
@MSNina123456 I can follow up with engineering team. Have you verified that this was changed to 500?

[2022-04-28 16:33] bwren commented on #91492
#please-close

[2022-04-28 16:33] SreejaBhattacharya-MSFT commented on #92071
Hi @mimckitt , do we have any list available that can be shared which correlates the acronyms with the full region name?

[2022-04-28 16:35] mimckitt commented on #92071
@jason934  where are they getting this list from?

[2022-04-28 16:35] ChaitanyaNaykodi-MSFT commented on #92180
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-28 16:35] rameshmo1967 opened #92184 "Hi very interessting but in most case customer want migrate internal app to Azure and customer want use internal adress. Tarffic Manager work with public adress. how we can use this best pratics in this scenario?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 597c9929-2462-e22c-7a1a-4388eb455cdb
* Version Independent ID: 597c9929-2462-e22c-7a1a-4388eb455cdb
* Content: [Auto-failover groups overview & best practices - Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/managed-insta

[2022-04-28 16:41] bluefooted commented on #87177
Yeah it is a bit confusing! There are three cache settings you can see in the Portal - Read-only, Read/write, and None. We wanted to match the language in the Portal, but out of context I can see how the difference in punctuation would be confusing!

[2022-04-28 16:42] MarileeTurscak-MSFT commented on #92167
@Gill-Bates
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-28 16:43] Mike-Crowley opened #92185 "Does "Delete" also remove syncronization rules created by the AAD Connect Configuration Wizard"
This page suggests that we can remove a forest from the synchronization server by using the miisclient.exe however it is not clear how this impacts synchronization rules created by the AAD Connect Config Wizard. Do we need to go into the rules editor to remove those manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-04-28 16:47] mimckitt commented on #92071
Got it. Thanks! I am not sure it is something that fits in our product docs as I can see it easily and quickly becoming out of date. That said, I will engage with the Regions team to get there take and see what they want to do. Will update this issue when I have more information.

[2022-04-28 16:57] KranthiPakala-MSFT commented on #92032
@yikeren1022 Got your point. Let me double check with content author and the product team on how we can improve the content. Thanks for highlighting this.

[2022-04-28 17:00] the-cory-smith commented on #87019
Hi Marilee,

Just checking to see if there's been movement on this.  When opening the link I get a 404 error for the pull request.

Very Respectfully,

Cory Smith
Sr. Customer Engineer
Office: (720) 528-1653
***@***.******@***.***>
[Microsoft]

From: Marilee Turscak - MSFT ***@***.***>
Sent: Wednesday, January 26, 2022 5:01 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Cory Smith ***@***.***>;

[2022-04-28 17:06] MarileeTurscak-MSFT commented on #92124
Thanks for the context, @joibarr

I made a pull request to add a note about this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196486

But feel free to make your own PR if you think more needs to be added.

The Github issues are intended for the external community and not really for FTEs, so it's encouraged to create the PR directly and email the author for these types of changes.

[2022-04-28 17:06] #92124 closed

[2022-04-28 17:07] PrometheusRising1 opened #92186 "Serverless still requires a logical server"
From experimentation in Azure, it appears that even "serverless" SQL Databases require a logical "server" - could you please clarify this in the article, as it is very confusing to be forced to pick (or create) a "server" (or specify one in PowerShell) when the tier is called "serverless".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-04-28 17:17] PriyankaRudramaina commented on #92177
Hello @feitke,

Thank you for your feedback. We will investigate and update the thread further.

[2022-04-28 17:24] MarileeTurscak-MSFT commented on #92172
Thanks @ClausGra!

I made a pull request to add the path. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196488

[2022-04-28 17:24] #92172 closed

[2022-04-28 17:28] #92098 closed

[2022-04-28 17:32] #91895 closed

[2022-04-28 17:32] #91904 closed

[2022-04-28 17:36] #91813 closed

[2022-04-28 17:37] erik-ha-msft commented on #91813
Thank you for the feedback.

We've updated the article to address your feedback and the changes should be available soon.

#please-close

[2022-04-28 17:44] b-hchen commented on #92153
@b-ahibbard to please obtain input from content SMEs

[2022-04-28 17:45] natecouto opened #92187 "Access to SQL Managed Instance from Data Factory Managed VNET is in Public preview?"
I noticed that SQL Managed Instance is shown as Public preview on this page. Although it is not mentioned what's the current feature state in this tutorial: https://docs.microsoft.com/en-us/azure/data-factory/tutorial-managed-virtual-network-sql-managed-instance

![image](https://user-images.githubusercontent.com/48843337/165814673-d4b82977-857e-48e0-aaf1-5ed653ebe693.png)

In specific pages, I co

[2022-04-28 17:47] MarileeTurscak-MSFT commented on #92181
@CarlosAugustoDeSouzaJunior
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-28 17:48] InformTechPro opened #92188 "None cached (physical disk) vs cached metrics"
Hello,

"Data Disk IOPS Consumed Percentage" and "OS Disk IOPS Consumed Percentage" can stay very low (<1%) even when "Data Disk Read Operations/Sec" spike. I suspect that "Data Disk IOPS Consumed Percentage" and "OS Disk IOPS Consumed Percentage" takes in consideration cache or available burst IOPs when calculating available IOPs. Having additional information on how the metric is calculated woul

[2022-04-28 17:54] PriyankaRudramaina commented on #92165
Hello @jyama4ta,

We are aware the ACU numbers are missing for these new v5 series. We are currently reevaluating how we calculate Azure Compute Units weights for our Virtual machine performance benchmarks to account for updates in processor architecture from our CPU providers. Hence, at this time we are omitting the ACU numbers while we reevaluate.

#please-close

[2022-04-28 17:54] #92165 closed

[2022-04-28 18:00] duongau commented on #92180
Hello @MGodfrey50, please see the following two articles which covers the topic you're inquiring about. Virtual WAN overview:  https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-about#transit-er and https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-expressroute-portal#connectcircuit. In order for transit routing between circuits to work, you would still need to configure G

[2022-04-28 18:05] ju-shim commented on #89326
Actually, I realize @Yunus-MSFT is internal, so we should really close this issue and your team should look into this elsewhere. Thank you!

[2022-04-28 18:07] prajster opened #92189 "az extension AKS-preview does not exist"
Please update the documentation. what is the new name of the extension.? when i run -> az extension list-avaialble (there are no extensions for aks)

C:\Users\admin>az extension add --name aks-preview
No matching extensions for 'aks-preview'. Use --debug for more information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-04-28 18:07] SaiKishor-MSFT commented on #92188
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2022-04-28 18:09] javester opened #92190 "when cmk vault key is rotated, storage doesn't pick it up in a timely manner"
Documentation implies that when storage account is to set to 'use latest version' of key, it would update the key used immediately if the key is rotated in the vault, however this isn't the case.   Apparently there is a daily job where storage checks for a new key only once per day.  If user disables old key and creates new key, storage will fail as it doesn't update to new key right away.

Sugges

[2022-04-28 18:10] prajster opened #92191 "Stop or Start not in the az aks command list, am i missing an extension.?"
Start and Stop are not included in the Az AKS commands list

C:\Users\admin>az aks stop --name xxxx-xxxx-xxxxx  --resource-group xxxxx-xxxxx-xxxx

az aks: 'stop' is not in the 'az aks' command group. See 'az aks --help'.

'az aks --help' doesnt have start or stop in the list.

Group
    az aks : Manage Azure Kubernetes Services.

Commands:
    browse            : Show the dashboard for a Kubernete

[2022-04-28 18:16] timwarner-msft commented on #85723
reassign:@mijacobs

[2022-04-28 18:48] mike-urnun-msft commented on #92182
Hello @TylerDurham - Thank you for your feedback. The build for the new Ubuntu version is yet to become available. For more updates, please engage the existing issue on the same matter on the Azure Functions Core Tools repo: https://github.com/Azure/azure-functions-core-tools/issues/3037

Since this channel is more for driving improvements toward MS Docs and we didn't determine any changes to this

[2022-04-28 18:48] #92182 closed

[2022-04-28 18:51] meenasaravanan02 commented on #78985
Hi @dastewa,
Reverse Proxy has a limit of 16KB for headers and it does not support changing the threshold to a larger size.
The issue is resolved in a PR. Here is the PR link - https://github.com/MicrosoftDocs/azure-docs-pr/pull/196496
#Please-close this issue

[2022-04-28 18:51] #78985 closed

[2022-04-28 18:58] mike-urnun-msft commented on #91909
Hello @drosenba - Thank you for your feedback. Linking appears to be correct since the SKUs under App Service plans have a dedicated _fixed_ amount of compute, memory, and storage resources as opposed to a Consumption SKU, for example.

We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion

[2022-04-28 18:59] MarileeTurscak-MSFT commented on #92175
Hi @HimanginiSisodia ,

I have assigned your feedback to the content author. As you are a Microsoft FTE though, I would highly recommend either creating a PR for the changes yourself in a private repository, or emailing the author to work through these changes.

The Github issues are public and intended for use by external users rather than internal employees.

[2022-04-28 19:07] MarileeTurscak-MSFT commented on #92185
@Mike-Crowley
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-28 19:25] ChaitanyaNaykodi-MSFT commented on #91907
Hello @oradcliffe, I have made a PR to address this issue and it is currently under Doc Author's review. I will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-04-28 19:25] #91907 closed

[2022-04-28 19:35] GeethaThatipatri-MSFT commented on #92184
Hi @rameshmo1967 Thanks for reaching out,At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-28 19:44] Oury-MSFT commented on #92186
@PrometheusRising1 Thank you for your feedback. We are reviewing this question and will get back shortly.

[2022-04-28 19:51] angelicafaber opened #92192 "Instructions don't seem accurate"
[Enter feedback here]

I am trying to follow the steps under "Enable the controller in AWS", however they don't seem accurate.

Step 3 says "select Create Configuration." but I already have a configuration, shouldn't I be selecting to edit the configuration? And if so, looks like it's the "Member Account Role" that needs to be modified? I am guessing, since that's where I see EnableController set

[2022-04-28 19:54] chintalavr opened #92193 "helm init no longer available in new versions"
[Enter feedback here]
I am following documentation at https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-install-new#install-helm to install AGIC on AKS and not recognizing helm init command as it is no longer supported in latest versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 958126

[2022-04-28 20:00] MarileeTurscak-MSFT commented on #92170
Thanks @jpalo! I made a pull request to update the instructions to match the new UI. https://github.com/MicrosoftDocs/azure-docs-pr/pull/196510

[2022-04-28 20:00] #92170 closed

[2022-04-28 20:01] daedam commented on #92058
Thank you both for your comments and for the useful links, @gsethgit! It looks like @jmalarcon tried all the same things I did. I also tried using debug console in the Kudu tools to attempt to make symbolic links to the /mounts/test folder, but both `mklink` (in CMD) and `New-Item -ItemType SymbolicLink` (in PowerShell) fail because of lack of admin privileges. (I hoped to see if the same were pos

[2022-04-28 20:07] BulldogCTISolutions opened #92194 "How do I log into my Azure MySql database?"
Hi,

On this page, how do I get from Step 5 to Step 6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06120534-a931-b394-ed95-9235b9372c00
* Version Independent ID: 377e7fc8-12ce-fd1b-66c8-0b4018f4dcfa
* Content: [Quickstart - Integrate with Azure Database for MySQL](https://docs.microsoft.com/en-us/azure/spring-cloud/

[2022-04-28 20:08] fanshaoshan opened #92195 "Failed to run sample locally, ModuleNotFoundError"
Follow the tutorial and got the error below immediately when trying to run locally

`

Requirement already satisfied: azure-functions in c:\users\shfan\workspace\dftest1\.venv\lib\site-packages (from -r requirements.txt (line 5)) (1.11.0)
Requirement already satisfied: azure-functions-durable in c:\users\shfan\workspace\dftest1\.venv\lib\site-packages (from -r requirements.txt (line 6)) (1.1.3)
Re

[2022-04-28 20:10] fanshaoshan opened #92196 "Failed to run sample locally, ModuleNotFoundError"
Follow the tutorial and got the error below immediately when trying to run locally

`

Executing task: .venv\Scripts\python -m pip install -r requirements.txt <

Requirement already satisfied: azure-functions in c:\users\shfan\workspace\dftest1.venv\lib\site-packages (from -r requirements.txt (line 5)) (1.11.0)
Requirement already satisfied: azure-functions-durable in c:\users\shfan\workspace\dfte

[2022-04-28 20:10] Karishma-Tiwari-MSFT commented on #92189
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-28 20:10] fanshaoshan commented on #92195
Created with wrong format

[2022-04-28 20:10] #92195 closed

[2022-04-28 20:15] KarlErickson commented on #92194
#assign:@v-kevinmic3

[2022-04-28 20:15] selectstarfromsql opened #92197 "install SQL server on Azure VM"
[Enter feedback here]
we build a few VMs on Azure, how to install the SQL servers on them? we don't want to copy the SQL media from the on-prem. can we get the SQL media from the marketplace?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 120d1b9b-71c3-b1ce-a5d7-5d975f5adfe5
* Version Independent ID: 120d1b9b-71c3-b1ce-

[2022-04-28 20:22] KarlErickson commented on #92194
#label:doc-bug

[2022-04-28 20:24] MarileeTurscak-MSFT commented on #92192
@angelicafaber
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-28 20:34] stevemunk commented on #91770
@kvogli Thank you for taking the time to report this feature request. You are correct that it is not currently possible, and I agree that it would be helpful. I've reported this to the development team and requested that this add this functionality.

[2022-04-28 20:37] SatishBoddu-MSFT commented on #91770
Hello @kvogli Thanks for reaching out on this topic.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-04-28 20:37] #91770 closed

[2022-04-28 20:44] SnehaGunda commented on #88272
Made some changes in the above PR that address this issue. Changes will go live by end of the day. Closing this issue now.

#please-close

[2022-04-28 20:44] #88272 closed

[2022-04-28 20:47] si-chan opened #92198 "Disk layout for multiple SQL instances on single server"
Please clarify best practices for storage layout when a server hosts multiple SQL Server instances.
Many on-prem SQL installations have many SQL instances on the same box - 16 was "traditionally" the limit.
Since the recommended layout uses at least 3 drives per instance (data, log, tempdb) if each instance has its own set of drives, then even the largest VM size in Azure can only host up to 10 SQ

[2022-04-28 20:48] BulldogCTISolutions opened #92199 "Access denied for user trying to use sample from docs."
Hi, noob here,

using this command in a Bash Azure Cloud Shell:  mysql -h mydemoserver.mysql.database.azure.com -u myadmin@mydemoserver -p

I keep getting
ERROR 1045 (28000): Access denied for user 'myadmin'@'104.42.70.56' (using password: YES)

I thought it might be a firewall setting for mysql and added the 104 address.  I restarted mysql.  I still get the error.

I don't understand where/how it

[2022-04-28 20:57] BulldogCTISolutions commented on #92199
Nevermind.  added the -p[password] option.  connected.  Maybe it just took a minute for the firewall setting to work.

[2022-04-28 20:57] #92199 closed

[2022-04-28 20:59] BulldogCTISolutions commented on #92194
LOL, thanks @KarlErickson .  I found out an option to use the Azure Cloud Shell has the 'mysql' command built-in.  I had to add the -p[password] when connecting.  All good now.

[2022-04-28 20:59] mbakals1 commented on #86756
Hello, is there an update on this? We are looking to redeploy our clusters and upgrade node sizes, but we need Ephemeral support. We are looking at the Ddsv5-series as well.

[2022-04-28 21:17] ThomasWeiss commented on #91921
We appreciate your patience while we're still investigating this.

[2022-04-28 21:23] GeethaThatipatri-MSFT commented on #92184
HI @MladjoA Can you please provide your inputs on this

[2022-04-28 21:35] MarileeTurscak-MSFT commented on #92167
There is an example [here ](https://github.com/Azure/azure-powershell/issues/1316)with parameters you can use:

[code]

There is also an example [here](https://4sysops.com/archives/join-an-azure-vm-to-azure-active-directory-domain-services/).

If you have a specific piece of feedback on the document feel free to leave it here for us to look into, but as this seems to be more of a product question

[2022-04-28 21:35] #92167 closed

[2022-04-28 21:50] kvogli commented on #91770
Thank you both for taking the time and effort to review the request and also for passing it further! Hopefully we can have that functionality available in the future.

[2022-04-28 22:00] bandersmsft commented on #92140
@claudiacharro I'ved updated the source doc article subtely to say _Exchange adjustment for Azure reservation_.

The updated EN-US article will get refreshed live later tonight. The localized PT-BR version (and all other localized version of the article) will get updated from the automatic localization schedule. Most likely in 1 to 2 weeks.

#please-close

[2022-04-28 22:00] #92140 closed

[2022-04-28 22:08] #86201 closed

[2022-04-28 22:11] stevemunk commented on #78414
#please-close. No response from customer on question posted on 12/16/21.

[2022-04-28 22:11] #78414 closed

[2022-04-28 22:12] stevemunk commented on #63056
#please-close

[2022-04-28 22:12] #63056 closed

[2022-04-28 22:15] meenasaravanan02 commented on #91258
Hi @FredrikDahlberg, Added recommendation to the doc.  This issue is resolved in a PR.  Here is the link to the PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/196522

#Please-close this issue

[2022-04-28 22:15] #91258 closed

[2022-04-28 22:30] bandersmsft commented on #91944
https://github.com/MicrosoftDocs/azure-docs-pr/pull/196534

[2022-04-28 22:31] bandersmsft commented on #91944
@chrisweis Thanks for letting us know about this issue. I've updated the article with the correct steps. The updated article will get refreshed live later tonight.
#please-close

[2022-04-28 22:31] #91944 closed

[2022-04-28 22:33] gapra-msft commented on #29137
#please-close

[2022-04-28 22:33] #29137 closed

[2022-04-28 22:35] gapra-msft commented on #30679
Add a section to the microsoft docs - Persisting. Content is below

https://github.com/Azure/azure-storage-fuse/wiki/2.-Configuring-and-Running#persisting

[2022-04-28 22:36] gapra-msft commented on #89367
#please-close as this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/30679

[2022-04-28 22:36] #89367 closed

[2022-04-28 22:38] gapra-msft commented on #44030
#reassign: @gapra-msft

[2022-04-28 22:41] mike-urnun-msft commented on #92196
Thank you for your feedback! We will review and update as appropriate.

[2022-04-28 22:43] gapra-msft commented on #31006
Link to https://github.com/Azure/azure-storage-fuse#valid-authentication-setups for all valid auth scenarios

[2022-04-28 22:45] gapra-msft commented on #56859
Unify to ~/fuse_connection.cfg everywhere

Remove sudo from this section's bash  https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux#mount

[2022-04-28 22:46] gapra-msft commented on #70295
#please-close as this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/56859

[2022-04-28 22:46] #70295 closed

[2022-04-28 22:47] gapra-msft commented on #82709
On a SUSE distribution

sudo zypper install blobfuse

Add the above to https://docs.microsoft.com/en-us/azure/storage/blobs/storage-how-to-mount-container-linux#install-blobfuse

[2022-04-28 22:50] normesta commented on #91880
Hi @dcbrown16 - that information appears here [Accessing logs in a storage account](https://docs.microsoft.com/en-us/azure/storage/blobs/monitor-blob-storage?tabs=azure-portal#accessing-logs-in-a-storage-account) in the main conceptual overview for monitoring. This specific article is more of a reference as to the specific metrics and log entries. Thx!

#please-close

[2022-04-28 22:50] #91880 closed

[2022-04-28 22:57] tasherif-msft commented on #56859
unify to /path/to/fuse_connection.cfg rather than ~/fuse_connection.cfg

[2022-04-28 22:58] Oury-MSFT commented on #92186
@PrometheusRising1 To clarify, a server in SQL Database is logical container that does not bear any relationship to the amount of physical resources allocated to serverless or provisioned compute databases within it.  The physical resources for databases (or elastic pools) are managed directly at the level of the database (or elastic pool).”

[2022-04-28 23:00] normesta commented on #91545
Hi @diberry I believe that you might be referring to "page blobs" which the dev guide doesn't target. Tags added on upload for block blob are totally supported as far as I can tell. In fact, as you've already reviewed, we have a code example in the upload guide that uploads with tags. If that scenario were truly unreliable, then that code snippet should be removed and not prescribe that approach.

[2022-04-28 23:00] #91545 closed

[2022-04-28 23:06] ChaitanyaNaykodi-MSFT commented on #92174
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-28 23:07] ChaitanyaNaykodi-MSFT commented on #92193
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-04-28 23:10] JnHs commented on #92082
The repo and doc have now been updated to address this issue. Thanks again @quintonanderson-zetaris for sharing this feedback and helping us to improve these resources! I'll go ahead and close this issue now, but please let us know if you have additional feedback.
#please-close

[2022-04-28 23:10] #92082 closed

[2022-04-28 23:23] DerekHerman-MSFT commented on #92179
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-28 23:25] mbender-ms commented on #77083
@allegradomel Would you like me to update this in the docs?

[2022-04-28 23:27] mbender-ms commented on #77083
#reassign: @mbender-ms

[2022-04-28 23:30] Oury-MSFT commented on #91851
@MladjoA Please customer feedback and question above. Could you please bring some clarity on the ask and let us know if we can update the doc.

[2022-04-28 23:30] mbender-ms commented on #77108
#reassign: @mbender-ms

[2022-04-28 23:32] PrometheusRising1 commented on #92186
Understood, but it is not clear from the article.

[2022-04-28 23:40] mbender-ms commented on #77083
Updated Doc.
#Please-close

[2022-04-28 23:40] #77083 closed

[2022-04-28 23:46] baanders commented on #92112
Hi @cristiandatum, thank you for your comments!

1. The function signature in the code sample (with `void`) matches the EventGridTrigger samples from Azure Functions documentation (see [Azure Event Grid trigger for Azure Functions](https://docs.microsoft.com/azure/azure-functions/functions-bindings-event-grid-trigger?tabs=in-process%2Cextensionv3&pivots=programming-language-csharp)), so we follow

[2022-04-28 23:49] baanders commented on #92112
#please-close

[2022-04-28 23:49] #92112 closed

[2022-04-29 00:14] RamzMS opened #92200 "Security Admin Role cannot manage options"
Security Admin Role cannot manage options under the External Collaboration Settings as the article mention.
https://docs.microsoft.com/en-us/azure/active-directory/external-identities/external-collaboration-settings-configure#configure-settings-in-the-portal

Tried creating a new user, assigning the Sec Admin Role and open a incognito browser and login with that user, when went to the External Col

[2022-04-29 00:23] rwike77 commented on #90034
@jberry777 Haven't seen any additional info.  I'm also curious how you ended up on the [Troubleshooting common authentication errors](https://docs.microsoft.com/azure/marketplace/cloud-partner-portal-api-troubleshooting-authentication-errors#unauthorized-error) article and how the Marketplace submissions APIs would be using a service principal. A lot of users come to the Create a SP in the portal

[2022-04-29 00:23] #90034 closed

[2022-04-29 00:28] kobulloc-MSFT commented on #92198
@si-chan Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-04-29 00:57] kobulloc-MSFT commented on #92191
@prajster Thank you for the feedback!  We are reviewing the command list and will get back to you shortly.

[2022-04-29 01:48] yankeecharlie opened #92201 "Add expected behavior into document"
[Enter feedback here]
**Requirements for Key Vault firewall** should mention `User's public IP needs to be temporarily added into Key Vault's firewall before setting up Key Vault certificate`, otherwise user will not be able to list the Key Vault in Azure Portal when they try to select certificate in step 6 of **Add a key vault certificate**

The reason behind this logic is that, when user select

[2022-04-29 01:56] xiongyu0523 opened #92202 "no EventGrid message route"
I don't see there is a message routing to Event Grid when I create an event subscription in iothub, and message route does not support EventGrid type of routing, this below document correct?

When you subscribe to telemetry events via Event Grid, **IoT Hub creates a default message route to send data source type device messages to Event Grid**. For more information about message routing, see [IoT

[2022-04-29 02:18] BharathNimmala-MSFT opened #92204 "Broken Link of Azure Confidential ledger Demo"
<<Based on customer feedback on MVP DL creating this issue, below is snippet of the customer feedback >>

Hi Microsoft,

There’s a broken link on the document “Microsoft Azure confidential ledger (preview)”

URL: [https://docs.microsoft.com/en-us/azure/confidential-ledger/overview](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fconfidential-l

[2022-04-29 02:23] mmulich opened #92207 "Listed available extensions don't match actual available"
The list of `allowedValues` in the following command doesn't correspond with the [list provided in the documentation](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-extensions#postgres-13-extensions).

[code]

Likewise, the Portal interface shows similar:

<img width="566" alt="Screen Shot 2022-04-28 at 19 14 38" src="https://user-images.githubusercontent.com/168470/165

[2022-04-29 03:03] rockboyfor opened #92208 "Clarify the internal mechanism of **Spot instance** in Azure China Databricks environment."
Hi guys,

Could you please help to clarify how the **Spot instance** feature is enable in Azure China Databricks environment?

When we tick the checkbox of **Spot instance** during creating cluster, we can review the cluster instance will be really terminated after certain idle time we configure.

Actually, The Spot instance is not available on **Azure China cloud** among portal, PowerShell, and C

[2022-04-29 03:04] MartinJaffer-MSFT commented on #92151
Thanks for bringing this to our attention.  TBH I did the same thing.

[2022-04-29 03:06] MartinJaffer-MSFT commented on #92151
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

@nabhishek since the pre/post publish script for triggers is now part of the artifacts, do you still want to keep it in the docs?

[2022-04-29 03:12] SumanthMarigowda commented on #92064
@asherk-kxs Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-29 03:22] CHEEKATLAPRADEEP-MSFT commented on #92208
@rockboyfor  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-29 03:31] karataliu opened #92209 "Type in doc"
[code]
->
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9a87845-c472-5a0c-fdcc-9cb69e3178b7
* Version Independent ID: 3a557f81-e240-ca74-7d48-eaf25e27c42c
* Content: [Scopes for v1.0 apps (MSAL)](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-v1-app-scopes)
* Content Source: [articles/act

[2022-04-29 03:48] gysiedebruyn opened #92210 "DS-1: Conduct threat modeling - Incomplete details"
Under the heading: DS-1: Conduct threat modeling, there are incomplete details in the Security Principle section:

<img width="870" alt="Screen Shot 2022-04-29 at 13 42 21" src="https://user-images.githubusercontent.com/11188742/165882376-835c21bf-89f9-4d0e-9600-3acf3e6f7779.png">

The reader expects a list aspects to include in the threat model where the red arrow is pointing.

---
#### Document

[2022-04-29 04:34] pnarsi opened #92211 "Recommend"
A minor inconsistency in the documentation. In the commonly used alerts table the row for **Throttled search queries percentage (metric alert)** has the alert condition "greater than or equal to 20%" but in the description it mentions 10%. They both should be 10% (or alternatively they both should be 20%)

![image](https://user-images.githubusercontent.com/7891408/165885501-c4ba7986-9a5a-40b9-b39a

[2022-04-29 04:37] ShaikMaheer-MSFT commented on #92187
@natecouto Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-04-29 05:13] SumanthMarigowda commented on #92190
@javester Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-29 05:22] SnehaAgrawal-MSFT commented on #92211
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-29 05:36] AnuragSharma-MSFT commented on #92207
@mmulich Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-04-29 05:47] elvischau opened #92212 "ASC auto renew"
Please clarify what is the meaning of the following note

"Beginning September 23 2021, App Service certificates require domain verification during renew or rekey if you haven't verified domain in the last 395 days. The new certificate order remains in "pending issuance" during renew or rekey until you complete the domain verification."

my ssl certifiate requires a yearly domain verification, and

[2022-04-29 06:18] MayankBargali-MSFT commented on #92051
@pemaxim We will go ahead and close this issue. As github issue are mainly for the doc enhancement issue. For any troubleshooting/error/exception you can always reach out to us in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow ](https://stackoverflow.com/)platform.

[2022-04-29 06:18] #92051 closed

[2022-04-29 06:46] Vikram1988 commented on #92013
@jackchenwork please find the screenshot below where i added the contents of the unzipped folder as is to the desired location and my VDDK check went through:
![image](https://user-images.githubusercontent.com/50093810/165896564-c799beff-1f08-499f-9161-fb95c1d42793.png)

[2022-04-29 06:53] MSNina123456 commented on #91655
Yes, it should 500, kindly help on it

[2022-04-29 06:58] OzBob commented on #76138
@MattNewbill wild card is not supported on azure cors. i had to write custom cors logic to make my .net webapp to work.

[2022-04-29 07:03] pnarsi opened #92213 "Cognitive Service with Firewall"
The documentation mentions that "For connections, a search service connects over the **internal network** to a Cognitive Search resource that's co-located in the same physical region". Would this connection over the **internal network** still work if the Cognitive Search resource is configured to block all public access and require all ingress via private endpoint or do we need to whitelist a rang

[2022-04-29 07:03] AshokPeddakotla-MSFT commented on #92202
@xiongyu0523 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-29 07:05] BzSpi commented on #86011
Hi @ggailey777 @SamaraSoucy-MSFT any news on this ?

[2022-04-29 07:14] AjayKumar-MSFT commented on #92213
@pnarsi, Thanks for the question! We are taking a look into this and will get back to you soon.

[2022-04-29 07:14] Venkateshdodda-MSFT commented on #92159
@racchen, could you please confirm whether you are looking for Api version list related to specific resource provider resource type `Microsoft.web/sites/config' or 'Microsoft.web/sites'.

For your reference, If you want to pull the list of Api Version related to `Microsoft.Web/sites` you  use the below PowerShell cmdlet.

`((Get-AzResourceProvider -ProviderNamespace Microsoft.web).ResourceTypes|Wh

[2022-04-29 07:15] cristiandatum commented on #92112
Thank you - please close.

[2022-04-29 07:28] OzBob commented on #79733
Hi @sasinaola
I looked at 'tls/ssl settings (Preview)' but it was missing the options available in 'tls/ssl settings'.
I successfully added the binding and will now wait for the old certificate to expire to check the new certificate is automatically chosen on the 22nd of May 2022

[2022-04-29 07:50] SnehaAgrawal-MSFT commented on #92075
@brbar99 Thanks for asking question! Could you please elaborate your query or share any findings on this, As its mentioned in the document That "setting connection strings in App Service are like setting them in <connectionStrings> in Web.config, but the values you set in App Service override the ones in Web.config. "

[2022-04-29 07:54] azzzy commented on #14452
@femsulu, this issue is quite old, but I still can't find a corresponding method in the Graph API
Is there a way to get or set the authentication info already?

[2022-04-29 08:10] marxxxx commented on #92178
Following the [linked GitHub Repository](https://github.com/Azure/azure-k8s-metrics-adapter) it seems the whole approach is deprecated and the tutorial should be updated to use [Azure Monitor Scaler](https://keda.sh/docs/2.6/scalers/azure-monitor/)

[2022-04-29 08:16] MayankBargali-MSFT commented on #92201
@yankeecharlie Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-29 08:20] v-kevinmic3 commented on #92194
Resolved with PR #196574

[2022-04-29 08:21] ghoul652 commented on #92201
Jenny metaverse and all NFTS need to be updated and paid for their sticky
hand issues!!! Ridge article file scan locker crossing!! k5 Montero and
Amarco are waiting wayside with kisis turtle 21 and metahills, we don't
like getting flipped by bill jd.com or a1c.

On Fri, Apr 29, 2022, 03:16 MayankBargali-MSFT ***@***.***>
wrote:

[2022-04-29 08:30] NicoleWang11 opened #92218 "i find that"telephonenumber" is a valid value for user source in claim mapping policy but not listed on the documentation"
I find that i can add {"Source": "user","ID": "telephonenumber","JwtClaimType": "Business_Phone"} when i create a  claim mapping policy. and the value of "telephonenumber" in user's property is "business phone" when using MS Graph api get user. But "telephonenumber" hasn't listed on "Table 3: Valid ID values per source" in our documentation  [https://docs.microsoft.com/en-us/azure/active-directory

[2022-04-29 08:37] maxensvandaalen commented on #92151
Thanks! Much appreciated

[2022-04-29 08:49] MayankBargali-MSFT commented on #91788
@tjohnson1010 The **interval** property is capped between 5 and 45 seconds as documented [here](The interval is capped between 5 and 45 seconds.) whereas the **maximumInterval** property can max PT1D as documented in the description [here](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-exception-handling#change-retry-policy).
Interval and maximumInterval are two different properties

[2022-04-29 08:49] #91788 closed

[2022-04-29 08:52] racchen commented on #92159
@Venkateshdodda-MSFT
Thanks for checking. I tested the command `curl -H "X-IDENTITY-HEADER:$IDENTITY_HEADER" "$IDENTITY_ENDPOINT?resource=https://database.windows.net/&api-version=2019-08-01"` in my env. If i used any of the versions listed out, it returned error. That's also why we are confused what are correct api versions to use.

<img width="606" alt="image" src="https://user-images.githubuser

[2022-04-29 09:07] yoelhor commented on #90010
The HTTP header is `x-forwarded-host`. There is another one `x-forwarded-for` that contains both the original and the proxy IPs. For example:

[code]

**Important**, using proxy other than the AFD is not officially supported. You should validate that everything works correctly with your Azure AD B2C user flows, or custom policies. For example check that the requests from your proxy are not throttl

[2022-04-29 09:09] myc2h6o opened #92219 "IoTHub IP Filter Rule Allowed Character Set is Wrong"
Hi, I'm using IotHub IP Filter Rule and '/' and '\\' is not allowed in API or Portal, but it's allowed in the document https://docs.microsoft.com/azure/iot-hub/iot-hub-ip-filtering#add-or-edit-an-ip-filter-rule
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfbae0f2-ccb7-5ccb-f58a-61bce5d2bc90
* Version Independ

[2022-04-29 09:09] MartinWickman commented on #90225
@mike-urnun-msft did you see my question above? I don't feel this issue is quite resolved yet.

[2022-04-29 09:15] antgonz commented on #40481
Hello, in case someone finds this useful:

**Powershell comands and operators can be case sensiteve or not.**
For example this one is not case sensitive: _Get-AzComputeResourceSku "germanywestcentral"_

But the operator _Contains_ is case sensitive:
_Get-AzComputeResourceSku | where {$_.Locations.Contains("germanywestcentral")}_  will not show the same outcome than _Get-AzComputeResourceSku | wher

[2022-04-29 09:17] dstretch opened #92220 "Comments in code don't make clear that using PublicClientApplication.OperatingSystemAccount will use the currently logged in user"
The page notes the following in a comment:

"... or use PublicClientApplication.OperatingSystemAccount for the default OS account"

This makes it sound like it will be using a low-level SYSTEM account or similar, and not that it'll use the currently logged in user.  I spent a while looking at other blogs and examples trying to figure out how to use the current user before I realised this.  If this

[2022-04-29 09:21] AnuragSharma-MSFT commented on #92199
@BulldogCTISolutions Glad it worked out for you. Please feel free to let us know if you face any issue related to this topic and we can look further into it.

[2022-04-29 09:41] hunyhabib commented on #13214
Facing same issue, as mentioned by @rokeno its mentioned in documentation that both options are valid but in real scenacrion when Completed is used as mode it throws BadRequest

[2022-04-29 10:07] amanmcse commented on #91954
@KonTheCat I've updated the document. The changes will be reflected once the change is approved and merged by the author.

[2022-04-29 10:07] #91954 closed

[2022-04-29 11:36] shashishailaj commented on #92204
@BharathNimmala-MSFT
Thank you for your feedback . We will investigate and update the thread.

[2022-04-29 11:40] shashishailaj commented on #92200
@RamzMS
Thank you for your feedback . We will investigate and update the thread.

[2022-04-29 11:55] SnehaAgrawal-MSFT commented on #92106
@ocolon-tfa Thanks again, You may check this related document on this : https://docs.microsoft.com/en-us/azure/storage/files/storage-files-how-to-mount-nfs-shares

Also, https://docs.microsoft.com/en-us/azure/storage/files/files-nfs-protocol

[2022-04-29 12:04] perentorio opened #92222 "Document describe of constraints"
It would be good to document the command to describe a separate constraint:

kubectl describe {constraint kind} {constraint name}

and how to get the constraint kind.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d98d35-46d2-eb6f-6a0b-21df4d6438a8
* Version Independent ID: 1a7a0c68-fa1c-d457-2be9-a919d4a5e64f
* Conte

[2022-04-29 12:20] shashishailaj commented on #92204
We are checking with the content team however the Ignite 2020 session is uploaded to youtube in multiple parts. the current content is linked to the https://youtu.be/3ZI-B6sM53k?t=736 . We will verify this with the content team and update the thread.

[2022-04-29 12:30] seesharprun commented on #91936
@SogoGolf,

Thanks for opening this issue and asking for further clarification. I did some research, including talking to SMEs and validating with a code sample locally, and have found that the change feed will always send the full document whether the update is triggered via a full or partial change to the document.

I've put an update to this doc with that information in play and it should go li

[2022-04-29 12:38] AjayKumar-MSFT commented on #92195
fanshaoshan,  Thanks for leveraging Azure docs feedback channel to raise this question. No worries, much appreciate the follow-up.

[2022-04-29 13:04] AjayKumar-MSFT commented on #91970
@racchen, We have raised a PR on this, once the PR is reviewed and signed-off, the doc would reflect the published changes.  Also, as we'd discussed on this offline. We will close this thread for now.

[2022-04-29 13:04] #91970 closed

[2022-04-29 13:12] DeanGross opened #92224 "Incomplete Sentence"
in the Plan Recovery Scenarios, the last sentence, ". User Communications", is not complete and does not make sense. Please make the appropriate corrections
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f132318f-8670-fd0d-2524-01305ccff2a1
* Version Independent ID: 0849b4a9-ff14-1d61-47f2-a2daecf3cde9
* Content: [Deplo

[2022-04-29 14:04] owingruters opened #92225 "Can't choose "Azure CDN" value "Policy For" in WAF policy resource. Only Frontdoor and App Gateway are available"
Hi,

This page described that I should be able to choose Azure CDN in the "Policy For" dropdown, but that dropdown is only filles with Frontdoor and Application Gateway. According to and also earlier experience it should be available: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/web-application-firewall/cdn/waf-cdn-create-portal.md
I though maybe it is only available in a certain

[2022-04-29 14:22] RyanHill-MSFT commented on #83557
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-29 14:26] shashishailaj commented on #92210
@gysiedebruyn Thank you for your feedback . We will investigate and update the thread.

[2022-04-29 14:28] shashishailaj commented on #92220
@dstretch
Thank you for your feedback . We will investigate and update the thread.

[2022-04-29 14:30] shashishailaj commented on #92224
@DeanGross
Thank you for your feedback . We will investigate and update the thread.

[2022-04-29 14:31] shashishailaj commented on #92224
@mtillman Could you please review this request ?

[2022-04-29 14:31] ChristopherGLewis opened #92227 "Can we add the appropriate PowerShell commands?"
[Enter feedback here]

[code]

Pretty simple.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d99071a-e459-5bfe-f2c3-f9b444b8eea0
* Version Independent ID: 3008acf4-41f6-e5dc-8212-a73386b11b85
* Content: [Configure data retention and archive in Azure Monitor Logs (Preview) - Azure Monitor](https://docs.microsoft.com/en

[2022-04-29 14:43] jdivis opened #92228 "Patch Document Example Doesn't Seem to Be Patching the Document?"
What is meant by this section here?

---------

An example target JSON document:

`{
  "/": 9,
  "~1": 10
}`

A JSON Patch document:

`[{ "op": "test", "path": "/~01", "value": 10 }]`

The resulting JSON document:

`{
  "/": 9,
  "~1": 10
}`

---------

I see:

original document

patch request body

same original document

Should the patch request be changing the value of the ~1 field?

Something

[2022-04-29 14:46] #92054 closed

[2022-04-29 14:48] MonikaReddy-MSFT commented on #92016
@Leonardo-Ferreira - It does take up to 7th digit into consideration.
Hope that helps.

At this moment, since there is no doc update required, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-29 14:48] #92016 closed

[2022-04-29 15:00] SurfEzBum opened #92229 "More clarity around Function and C# runtime support for retries"
Creating this post on behalf of @thorkellm w/ Elephant Insurance.

Thor had recently brought up to the Azure sales team the fact that this documentation doesn't clearly define what Azure Function runtime or C# runtime supports retries.  In his testing, he found that retries didn't appear to work in the latest Function runtime w/ C# 6 (I was able to confirm that attribute-based retries didn't appea

[2022-04-29 15:02] b-ahibbard commented on #92153
@MaxMelcher - thanks for your request. Limits for standard networking features are are documented [here](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-network-topologies#constraints). I've update the Resource limits page to point to this table as well.

#please-close

[2022-04-29 15:02] #92153 closed

[2022-04-29 15:44] Grace-MacJones-MSFT commented on #91962
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-04-29 15:44] #91962 closed

[2022-04-29 15:58] MattNewbill commented on #76138
@OzBob  thanks for the reply! I ended up doing it in terraform by adding all of the subdomains, which is really inconvenient but... oh well

[2022-04-29 16:09] sajeetharan commented on #91715
Currently this is not supported , we will track this and provide an update once it is available.

[2022-04-29 16:10] AshokPeddakotla-MSFT commented on #92092
@kudlatiger DPS can reprovision clients: [Azure IoT Hub Device Provisioning Service - Device concepts | Microsoft Docs](https://docs.microsoft.com/en-us/azure/iot-dps/concepts-device-reprovision)

[Azure IoT Device Provisioning Service (DPS) TLS support | Microsoft Docs](https://docs.microsoft.com/en-us/azure/iot-dps/tls-support)

[2022-04-29 16:11] ChrisOwczarek opened #92230 "Logic App Contributor role does not allow workflows to be edited"
It should be clear that "Logic App Contributor" role does not provide sufficient permissions to be able to edit a workflow in the Azure Portal. It is also necessary to add "Web App Contributor" role. Without this, the user can only view the workflow (designer and code views) but not change them.

Ideally, whatever permission it is in the "Web App Contributor" role that gives edit access should be

[2022-04-29 16:30] ChrisOwczarek commented on #52844
This has been fixed. I used to use uuid() to generate a new guid during each deployment which would result with the workbook being deleted and recreated. You should no longer need to use a new guid for each deployment. I'm using Terraform v1.1.9 and AzureRM provider v2.89.0 (I'm sure it was fixed way before though).

[2022-04-29 16:39] AshokPeddakotla-MSFT commented on #92088
@ubergeekNZ I am unable to reproduce the issue. Could you please share the complete error logs?

[2022-04-29 16:42] mtillman commented on #92224
#reassign @billmath

Not sure who this should be assigned to, so sending to Bill to determine. Also, please set author values as necessary.

[2022-04-29 16:42] mwwhited commented on #83901
I'm gonna risk blue badges threating to ban be again and point out how stupid of a problem this is.   Microsoft... get back to being a great tool company.  Us having to hack around your crap is a silly waste of time.

[2022-04-29 16:48] PatAltimore commented on #91078
Hi @Matt-Mustard,

Thanks for the detailed information. I'm working on an update to this article clarifying the configuration and adding troubleshooting. It should be published in the next week or so.

I was able to reproduce the issue you mentioned at the end of the conversation. For a lot of configuration apply issues, you can remove the edgeAgent container by running `sudo docker rm -f edgeAgen

[2022-04-29 16:48] #91078 closed

[2022-04-29 16:48] ChaitanyaNaykodi-MSFT commented on #92225
Thank you for your feedback! We will review and update as appropriate.

[2022-04-29 16:56] stevevi commented on #90424
After discussing with the product team, added the following endpoints for Data Explorer when querying Azure Monitor:

Azure Public: adx.monitor.azure.com
Azure Government: adx.monitor.azure.us

[2022-04-29 16:57] #90424 closed

[2022-04-29 17:20] v-asymes commented on #91856
on case: error was provided:
Please provide the ID of the failed Site Recovery job. - 310132;

Please additional details about the issue. - Error ID

310132

Error Message

Virtual machine 'WMJUMPSERVER' cannot be re-protected from Azure to on-premises.

Possible causes

The mobility agent on the machine 'WMJUMPSERVER' is not yet registered with Azure Site Recovery services after failover to Azure

[2022-04-29 17:21] Leonardo-Ferreira commented on #92016
@MonikaReddy-MSFT although it's not required per-se, the simple fact that im here taking the time to open this ticket and etc should make such small change worthy... I mean, if I'm looking for this info, some other people might be also, and, why keep this only to ourselves?

[2022-04-29 17:21] Leonardo-Ferreira commented on #92016
and perhaps that are more details even here... like: is the 8th digit ignored or rounded up/down?

[2022-04-29 17:29] seesharprun commented on #91936
The new changes are now live here: [azure/cosmos-db/partial-document-update#change-feed](https://docs.microsoft.com/en-us/azure/cosmos-db/partial-document-update#change-feed).

#please-close

[2022-04-29 17:29] #91936 closed

[2022-04-29 17:55] MarileeTurscak-MSFT commented on #92185
Yes, deleting a connector from the Synchronizations Service Manager will also delete all the sync rules associated with it. One of our engineers just made a pull request to add this to the documentation.

Hope this helps!

[2022-04-29 17:55] #92185 closed

[2022-04-29 18:01] HeidiSteen commented on #92213
@pnarsi, yes that's correct, the search service will connect over the Microsoft backbone network to a Cognitive Services resource in the same region (data center).  The firewall protections are for requests that originate over an HTTP connection.

This article describes the network traffic patterns involving Cognitive Search:   https://docs.microsoft.com/en-us/azure/search/search-security-overview

[2022-04-29 18:05] awithy opened #92234 "Mention How to Use Static IPs in Other Resource Groups"
This page could benefit from an explanation and example of how to use a static IP in a resource group that is not the node-managed one.

This can be done with the following additional override to the ingress-nginx Helm install:

    --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-resource-group"=$static_ips_resource_group  \

---
#### Document Details

⚠ *Do

[2022-04-29 18:06] kaarthis commented on #92161
The Nodepool snapshot commands has changed in the recent CLI preview version.

New Azure CLI (preview) commands for node pool snapshot are as follows -

az aks nodepool snapshot create -g <rg> -n <snapshot-name> --nodepool-id <id> --aks-custom-headers --location --tags 

az aks nodepool snapshot list 

az aks nodepool snapshot list -g <rg> 

az aks nodepool snapshot delete -g <rg> -n <snapshot-nam

[2022-04-29 18:07] kaarthis commented on #92161
https://docs.microsoft.com/en-us/azure/aks/node-pool-snapshot we are going to update this document to reflect the preview experience.

[2022-04-29 18:13] PixelRobots commented on #92161
Thanks. Will you also be creating the docs for the cluster snapshot?

[2022-04-29 18:16] PatAltimore commented on #91469
Hi @radezheng,

Thanks for the feedback. I made the fix to the CLI parameter for all az iot hub device-identity create commands in the article. The change will be published soon.

Thanks,
Pat
#please-close

[2022-04-29 18:16] #91469 closed

[2022-04-29 18:16] kobulloc-MSFT commented on #92197
@selectstarfromsql, if you need any assistance with setting up your VMs you can reach out to experts on Microsoft Q&A:
https://docs.microsoft.com/en-us/answers/topics/25349/azure-sql-virtual-machines.html

With nothing to update from a documentation standpoint we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your rep

[2022-04-29 18:16] #92197 closed

[2022-04-29 18:28] alexandrejobin commented on #87177
Maybe we should read "Do not **use the value** 'read/write' caching on disks that contain SQL Server data or log files".

[2022-04-29 19:00] meenasaravanan02 commented on #85133
Hi @rmc515, @Justinha's edits addresses this issue. #Please-close this issue

[2022-04-29 19:00] #85133 closed

[2022-04-29 19:02] bluefooted commented on #87177
Oh that's a thought, how about this:
Do not set caching to 'read/write' on disks that contain SQL Server data or log files.

[2022-04-29 19:02] Deepudev13 opened #92235 "How to Azure Load Balancer Health Prob to monitor health and repair VMSS"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8c26a4-8b44-6254-3446-bb9df24550ea
* Version Independent ID: a559b176-f581-38ab-92e7-a597d8c42f51
* Content: [Use Application Health extension with Azure virtual machine scale sets - Azure Virtual Machine Scale Sets](https://docs.microsoft.com/en-us

[2022-04-29 19:08] bluefooted commented on #92198
These recommendations are the same as on-prem, we have always recommended separating log, data, and tempdb because of the different I/O patterns these files generate. It's up to you whether you want to separate the instances across different drives or co-mingle files.

[2022-04-29 19:39] MarileeTurscak-MSFT commented on #92230
@ChrisOwczarek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-04-29 19:50] johncrim commented on #39361
The workaround (adding an empty `ApplicationInsights.config` file) did not work for me in VS 2022. Adding the following to the .csproj file of the project being debugged

[code]

is the only thing that has worked to get App Insights data to show up from the debugger.

[2022-04-29 19:51] johncrim commented on #39361
This SO post shows others having the same problem and what has worked:

https://stackoverflow.com/questions/54772078/application-insights-from-last-debug-session/72063038#72063038

[2022-04-29 20:12] #92213 closed

[2022-04-29 20:18] yanp2k opened #92236 "sample of undelete versioned blob doesn't compile"
V12 example of undeleting versioned blobs doesn't "just work" for starters I don't think pageable blobItems can go directly into blobItems.OrderByDescending, getting the URI is also an exercise left for the user, what's most efficient,? GetBlobClient?

Maybe it's my novice eyes that can't grock this stuff, but reminds me of college textbooks where samples don't compile.

---
#### Document Details

[2022-04-29 20:19] HeidiSteen commented on #92211
@pnsarsi I updated the alert table descriptions to say a "user-specified threshold" instead of a static value like 10 or 20%.  Previously, the portal might have had a default (I'm assuming so given the explicit values), but it's now clearly open-ended.

I'm closing this issue because I think it's resolved, but if you disagree or have more input, please feel free to reopen it. thanks!

#please-clos

[2022-04-29 20:19] #92211 closed

[2022-04-29 20:21] mbender-ms commented on #77108
Updating Image in PR #196660
#Please-Close

[2022-04-29 20:21] #77108 closed

[2022-04-29 20:25] himanshusinha-msft commented on #91988
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-29 20:27] alexandrejobin commented on #87177
That's good with me! I think it will be clearer that way.

[2022-04-29 20:27] jlichwa commented on #88477
@FabianGonzalez-MSFT  We have added Note to documentation and working on more comprehensive solution:
https://docs.microsoft.com/en-us/azure/key-vault/keys/about-keys-details#symmetric-key-algorithms-managed-hsm-only

[2022-04-29 20:27] jlichwa commented on #88477
#please-close

[2022-04-29 20:27] #88477 closed

[2022-04-29 20:29] jlichwa commented on #92045
@EyeVanF thank you. We have updated document

[2022-04-29 20:29] rajeshsetlem commented on #92177
Yes, multi subnet approach can be used for multi region scenario as well. Please check below video for more details around multiple region scenario
https://www.youtube.com/watch?v=8jWntyzBkXU

[2022-04-29 20:30] jlichwa commented on #92045
#please-close

[2022-04-29 20:30] #92045 closed

[2022-04-29 20:34] jlichwa commented on #91438
@dejan-shuki in our documentation it is saying AppId:
https://docs.microsoft.com/en-us/azure/key-vault/general/manage-with-cli2#authorizing-an-application-to-use-a-key-or-secret

Can you elaborate what you expect documentation to say?

[2022-04-29 20:41] discombobulater opened #92237 "Documentation is stale with missing and broken dependencies"
Multiple issues with documentation:
 - The templates use InstallIIS.zip to deploy the web service, but that path no longer exists
 - The template validation fails with message:
     "The template resource '_artifactsLocation' at line '65' and column '35' is not valid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1759a

[2022-04-29 21:13] mbender-ms commented on #92145
#reassign-reviewer: @mbender-ms

[2022-04-29 21:13] mbender-ms commented on #91787
#reassign-reviewer: @mbender-ms

[2022-04-29 21:13] mbender-ms commented on #89508
#reassign-reviewer: @mbender-ms

[2022-04-29 21:15] mbender-ms commented on #86050
#reassign-reviewer: @mbender-ms

[2022-04-29 21:15] mbender-ms commented on #75899
#reassign-reviewer: @mbender-ms

[2022-04-29 21:15] mbender-ms commented on #77005
#reassign-reviewer: @mbender-ms

[2022-04-29 21:16] mbender-ms commented on #78689
#reassign-reviewer: @mbender-ms

[2022-04-29 21:16] mbender-ms commented on #79927
#reassign-reviewer: @mbender-ms

[2022-04-29 21:18] mbender-ms commented on #42222
#reassign-reviewer: @mbender-ms

[2022-04-29 21:18] dlepow commented on #90265
@bmay-cloudwallcapital - Since we haven't heard back about this issue, I'll proceed to close it for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.
#please-close

[2022-04-29 21:18] #90265 closed

[2022-04-29 21:19] mbender-ms commented on #73011
#reassign-reviewer: @mbender-ms

[2022-04-29 21:19] mbender-ms commented on #73363
#reassign-reviewer: @mbender-ms

[2022-04-29 21:19] MartinBouchery opened #92238 "Dedicated SQL pools default rights"
Hello,

Is this correct?

"Dedicated SQL pools: Synapse Administrators have full access to data in dedicated SQL pools, and the ability to grant access to other users."

It does not work for me even though I'm a Synapse administrator. Only the SQL AD Admin can do that (for a fresh new pool), right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-04-29 21:20] mbender-ms commented on #74304
#reassign-reviewer: @mbender-ms

[2022-04-29 21:21] ajdabrowski opened #92239 "Comment regarding the "System default" template CSV file"
I have a comment regarding the CSV file for the "System default" template as downloaded using the Purview Governance Portal, and described in "Import terms into the glossary" > "To import terms, follow these steps" > "3. Download the csv template and use it to enter your terms you would like to add...."  of this documentation.

The second row in the downloaded CSV includes instructions for enterin

[2022-04-29 21:29] kgremban commented on #92219
@myc2h6o Thanks for bringing this to our attention. I've created a pull request to remove those characters from the list, and will have github automatically close this issue as resolve once that change is merged.

[2022-04-29 21:33] dlepow commented on #30970
Apologies for delay responding to this issue. I've created a work item to update the policy reference with the missing attribute in an upcoming doc sprint. According to our usual process, I'll proceed to close the issue for now. If you have further information or wish to continue the discussion, please feel free to contact us again. Thanks!
#please-close

[2022-04-29 21:33] #30970 closed

[2022-04-29 21:33] discombobulater commented on #92237
Actually this error does not occur using the examples, it was only when I copied the template locally that it started being problematic.  Closing this

[2022-04-29 21:33] #92237 closed

[2022-04-29 21:42] mmacy commented on #92209
@shashishailaj Any time something is outright _incorrect_ and prevents someone from accomplishing their goal, that's an _accuracy_ problem and should be considered a **doc-bug**.

Please reserve **doc-enhancement** tags for clarity issues, where the content in the article is _technically_ accurate but isn't clear enough to enable a customer to accomplish their goal.

#label:"doc-bug"

[2022-04-29 21:42] mmacy commented on #92209
#remove-label:"doc-enhancement"

[2022-04-29 21:50] mbender-ms commented on #78689
@AndreasMWalter Sorry for the delay on this. 172.16.0.0/12 is now in service as a default route and the docs have been updated.

#81475

[2022-04-29 21:50] #78689 closed

[2022-04-29 21:51] #92219 closed

[2022-04-29 21:52] mbender-ms commented on #42222
172.16.0.0/12 has been confirmed as a default route. Thanks for the help @ckittel!
Doc has been updated.
#please-close

[2022-04-29 21:52] #42222 closed

[2022-04-29 21:57] DerekHerman-MSFT commented on #92234
Thanks for the feedback!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-29 22:02] dlepow commented on #38004
Apologies for the long delay responding to this issue, and apologies for the out of date information. Yes, some of the cmdlet references in this sample need to be updated. For an example of how to accomplish this configuration, please see the discussion in https://github.com/MicrosoftDocs/azure-docs/issues/27411.

I have created a work item to review/update/deprecate the PowerShell samples as need

[2022-04-29 22:03] #38004 closed

[2022-04-29 22:21] kobulloc-MSFT commented on #92237
@discombobulater Thank you for the update!

[2022-04-29 22:32] ThomasWeiss commented on #91921
We clarified that public network access isn't necessarily required but allowing trusted Microsoft services should be set otherwise. We've updated the documentation accordingly, thanks for your feedback and contribution!
#please-close

[2022-04-29 22:32] #91921 closed

[2022-04-29 22:33] dlepow commented on #49343
The internal cache is a Redis cache. As noted in the article: "Built-in cache is volatile and is shared by all units in the same region in the same API Management service." We have additional requests to provide more information about the internal cache, and will address those in an upcoming doc sprint. According to our usual process, I'll proceed to close the issue for now. If you have further fe

[2022-04-29 22:33] #49343 closed

[2022-04-29 22:34] GeethaThatipatri-MSFT commented on #91960
I'm assigning this to the author for the feedback review.

[2022-04-29 22:36] davidsmatlak commented on #69411
I submitted the fix for this issue and after it's approved and merged, this issue will automatically close.

[2022-04-29 22:45] ajonno commented on #91936
Great stuff thank you

[2022-04-29 23:41] mbukovich opened #92241 "Link pointing to the wrong documentation page"
The link to the Microsoft Graph documentation indicated in the following screenshot links to the incorrect documentation page:
![image](https://user-images.githubusercontent.com/35708097/166081070-8f4ddf5e-12f3-4f38-89da-d04013f1ae18.png)

It links to the MSGraph-only open and schema extension properties. It should link here instead:
https://docs.microsoft.com/en-us/graph/api/resources/extensionpr

[2022-04-30 00:34] kobulloc-MSFT commented on #92235
@Deepudev13 Thank you for your feedback!  We are reviewing this and will get back to you shortly.

[2022-04-30 01:51] felixtsem5 opened #92242 "--snapshot-id does not seem to work"
When I followed the steps on the page, I am getting an error when trying to add a nodepool to an existing AKS cluster using the snapshot. I tried this on Azure Cloud Shell as well as on my local machine. az-cli version is 2.36.0 in both places.

[code]

I am getting a similar error message when trying to create a cluster using the **az aks create** command with the **--snapshot-id** parameter.

--

[2022-04-30 01:51] RyanHill-MSFT commented on #92222
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-04-30 01:57] RyanHill-MSFT commented on #92227
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-30 02:00] RyanHill-MSFT commented on #92229
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-30 02:58] Catastrophe1 opened #92243 ""Consumption Function app scaling behavior contradicts in different documentations""
[Enter feedback here]
The line "Function apps in a given plan are all scaled together, so any issues with scaling can affect all apps in the plan." contradicts another article discussing the scaling behavior of function apps in the same consumption plan.

In the article: https://docs.microsoft.com/en-us/azure/azure-functions/event-driven-scaling
There is a sentence saying "Function apps that share

[2022-04-30 03:34] shashishailaj commented on #92209
@mmacy Thank you for the feedback . I will take care of this going forward.

[2022-04-30 06:30] xiaoyongzhu commented on #91284
Any updates?

[2022-04-30 06:40] sy-huss opened #92245 "Sample code does not work"
The sample code rune to line:

`ImageAnalysis results = await client.AnalyzeImageAsync(imageUrl, visualFeatures: features);`

A 400 Bad request is sent back.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c3f61e-62bf-459d-af2d-8e2ecb391000
* Version Independent ID: eebaaba4-2f87-7ccd-d29e-353d7b47d29b
* Content: [Quic

[2022-04-30 08:38] YutongTie-MSFT commented on #92245
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-30 08:52] SumanthMarigowda commented on #92236
@yanp2k
Thanks for the question! We are investigating and will update you shortly.

[2022-04-30 08:52] SumanthMarigowda commented on #92238
@MartinBouchery Thanks for the question! We are investigating and will update you shortly.

[2022-04-30 08:53] SumanthMarigowda commented on #92239
@ajdabrowski Thanks for the question! We are investigating and will update you shortly.

[2022-04-30 08:56] SumanthMarigowda commented on #92241
@mbukovich Thanks for the question! We are investigating and will update you shortly.

[2022-04-30 08:58] SumanthMarigowda commented on #92242
@felixtsem5 Thanks for the question! We are investigating and will update you shortly.

[2022-04-30 08:58] SumanthMarigowda commented on #92243
@Catastrophe1 Thanks for the question! We are investigating and will update you shortly.

[2022-04-30 09:19] SumanthMarigowda commented on #92011
@oumukoro
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up the

[2022-04-30 09:19] #92011 closed

[2022-04-30 09:20] SumanthMarigowda commented on #92038
@oschakravarthi Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If the issue is not directly related to the documentation. We'll fo

[2022-04-30 09:20] #92038 closed

[2022-04-30 09:21] SumanthMarigowda commented on #92044
@Shoplift3020
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ If the issue is not directly related to the documentation. We'll foll

[2022-04-30 09:21] #92044 closed

[2022-04-30 10:00] shashishailaj commented on #91284
@maertendMSFT Could you please provide an update on this ?

[2022-04-30 12:28] bmay-cloudwallcapital commented on #90265
Thanks @dlepow for the response - I agree you can close.  I tried this multiple ways with the docs and couldn't get it to work.  That said we have decided to moved away from APIM for now, most notably because of the time, cost, and complexity to spin it up for a VNet.

If we decide to come back to it I may try to engage again.  I still feel a good simple Bicep example would help others.

[2022-04-30 13:56] vladiliescu opened #92246 "Instructions invalid for creating online endpoints with CLI v2"
I'm unable to create an online endpoint with CLI v2 and the referenced `blue-deployment.yml`. I get the following error:

[code]

Looking at the [schema](https://azuremlschemas.azureedge.net/latest/managedOnlineEndpoint.schema.json) I can't find most of the schema fields mentioned in this article (`code_configuration`, `instance_count`, etc). They're not recognized in VS Code either, most likely b

[2022-04-30 14:09] #92246 closed

[2022-04-30 15:42] askmeegs opened #92249 "[AKS / Azure SQL] Misformatted markdown link"
Hello! Seems there's a misformatted / raw markdown link at the bottom of this page --

[code]

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bcc6011-3106-e7fc-ff36-02bd9dcce057
* Version Independent ID: 0b5ab39e-cacb-fb6a-0924-cc77028f391e
* Content: [Connect to Azure Kubernetes Service - Azure Database for M

[2022-04-30 17:42] aspnet4you opened #92251 "Purview error when scanning Azure File"
I setup Purview with private endpoint as documented at the link below. All setup seems to be working with private Endpoints for account, portal and injestion. Also, setup a Self Hosted Runtime.
https://docs.microsoft.com/en-us/azure/purview/concept-best-practices-network#option-2-use-private-endpoints

Now, I am trying to run a Purview Scan from self managed runtime to Azure File and it is consist

[2022-04-30 17:45] rantonov commented on #90087
Yes, there was a mixup in the back end of AAD with my credentials.  Microsoft support helped me fix it.  Thanks!

[2022-04-30 17:45] aspnet4you commented on #91843
@MarileeTurscak-MSFT,
Thanks for the information. I am following up with Microsoft directly with a case opened through my company channel.

[2022-04-30 17:49] NSouth opened #92252 "Article says that Azure Logic Apps can only run in the cloud, which is no longer true"
In the section "Compare Azure Functions and Azure Logic Apps," it says that the execution context for logic apps is "only in the cloud." However, it looks like Logic Apps can now run ["on Functions, App Service, Kubernetes, Docker and any cloud."](https://azure.microsoft.com/en-us/updates/logic-apps-updated-with-new-hosting-options-improved-performance-and-developer-workflows/) Can you confirm? If

[2022-04-30 19:56] waltheed commented on #92043
Thanks for your reply. In my case the user is a member of the db_owner database role, and it does not work... Is there anything else needed?

[2022-04-30 21:53] rolyon commented on #87408
Hi @p-s-p
Thanks for your feedback. We've created an internal work item for the team to review. We are closing this issue for now, but let us know if you have any additional comments.
thanks

[2022-04-30 21:53] rolyon commented on #87408
#please-close

[2022-04-30 21:53] #87408 closed

[2022-04-30 22:33] lifelinedaboi opened #92255 "context santee"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc19c543-3efb-08a2-55a0-fd8b9b35db7e
* Version Independent ID: 4704812b-44bb-831a-04a3-8c5a2ae5cf8b
* Content: [JSON claims transformation examples for custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/json-tr

[2022-04-30 22:39] mbender-ms commented on #74460
#assign-reviewer: @mbender-ms

[2022-04-30 22:39] PRMerger18 commented on #74460
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: mbender-ms

[2022-04-30 22:40] mbender-ms commented on #74460
Docs are up to date.
#please-close

[2022-04-30 22:40] #74460 closed

[2022-04-30 22:45] mbender-ms commented on #73722
#Please-close

[2022-04-30 22:45] #73722 closed

[2022-04-30 22:49] mbender-ms commented on #73579
Link is fixed.

#please-close

[2022-04-30 22:49] #73579 closed

[2022-04-30 22:57] GeethaThatipatri-MSFT commented on #92249
Hi @askmeegs Thanks for your findings,We will investigate and update as appropriate

[2022-04-30 23:30] jackchenwork commented on #92013
OK I retried it, somehow it worked this time. may there was some other issue caused the verify failure. please close this issue.

[2022-05-01 01:37] ghoul652 commented on #73579
Thank you!!!

On Sat, Apr 30, 2022, 17:50 PRMerger16 ***@***.***> wrote:

[2022-05-01 01:48] ghoul652 commented on #73579
Please close Ren and npm as whale. Signedandsealed [uJenny token](www.telepathic.xyz) @PRMerger16

[2022-05-01 02:23] aspnet4you commented on #92251
Spelling corrections

[2022-05-01 02:32] HHK01 opened #92257 "You are managing the session tokens are manually -> Doesn't make sense"
[Enter feedback here]
"You are managing the session tokens are manually."
This phrase doesn't make sense.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1413ddf0-ff78-8993-ce06-c3f832190bec
* Version Independent ID: 13ea390a-034c-8ce6-4bb7-85dd9bf60376
* Content: [How to convert session token formats in .NET SDK - Azur

[2022-05-01 07:02] shashishailaj commented on #92251
@aspnet4you
Thank you for your feedback . We will investigate and update the thread.

[2022-05-01 07:03] shashishailaj commented on #92252
@NSouth
Thank you for your feedback . We will investigate and update the thread.

[2022-05-01 07:05] YutongTie-MSFT commented on #92246
If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-05-01 07:05] shashishailaj commented on #92255
@lifelinedaboi
Thank you for your feedback . It would be great if you could provide some details about your feedback so that we can help you better. We hope to hear from you and help you with your query .

Thank you .

[2022-05-01 07:06] shashishailaj commented on #92257
@HHK01
Thank you for your feedback . We will investigate and update the thread.

[2022-05-01 07:55] #69411 closed

[2022-05-01 08:32] #92177 closed

[2022-05-01 09:33] marcelloformica opened #92260 "Create rules for local Windows firewall corresponding to LB probe ports"
You may want to mention that, before the failover, if the SQL Server nodes have Windows Firewall activated, it is necessary to create firewall rules for all the LB probe ports that are specified in the cluster-config.csv file.  Otherwise, after the failover, the LB will not pass anything to the SQL Server VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-05-01 10:24] JosefPihrt opened #92262 "Delivery property PartitionKey can be both static and dynamic"
Hi,

This is a follow-up to #91975. Both issues that were reported there are applicable here.

1) Delivery property PartitionKey should be changed that it can be both static and dynamic.

2) There is a typo "ParitionKey" on a page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5cda3db-a547-6bbc-1a2a-34ccefa20176
* Ve

[2022-05-01 10:27] AnuragSharma-MSFT commented on #92090
@bubbletroubles Thank you for reporting this. This is being assigned to the content author to evaluate and update as appropriate.

[2022-05-01 11:47] quintonanderson-zetaris commented on #92082
Thanks. I am not sure where the best place to ask this question is, but I will ask here and then move the content if required. I recognize that the GitOps feature is still in preview, however it is important to me that I can provision configs. Do you have any idea when I would be able to provision configs via an ARM template?

[2022-05-01 14:38] SuttyHoo opened #92263 "Publishing confusion"
Hi

When trying to publish following content on this page (and also https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-delivery-improvements) which describes the new workflow (recommended for CI/CD), the ADF Publish task succeeds (green in DevOps), however ARMTemplate folder is not actually generated and populated with the built ADF ARM templates as the logs suggest.

It lo

[2022-05-01 15:03] shashishailaj commented on #92260
@marcelloformica
Thank you for your feedback . We will investigate and update the thread.

[2022-05-01 15:06] shashishailaj commented on #92262
@JosefPihrt
Thank you for your feedback . We will investigate and update the thread.

[2022-05-01 16:26] shashishailaj commented on #90924
@TedHoward We reviewed this and have requested some changes to the document .

1. We have requested to update the Port number to 3000 in the article. it seemed a typo where port 5000 is mentioned.
2. The Bash is mentioned on the code snippet section however , I agree we can make it more clear by adding the information in the prerequisites and we will take this offline with the content team.
3. The

[2022-05-01 16:26] #90924 closed

[2022-05-01 16:33] TheNightmareX commented on #47130
I'm desiring the support! As a student wanting to deploy my toy project to show to my friends, App Service + SQLite seems to be the best free choice for me...

[2022-05-01 16:59] shashishailaj commented on #89916
The article does describe the [events around certificate lifetime events in this section](https://docs.microsoft.com/en-us/azure/key-vault/certificates/overview-renew-certificate#steps-to-set-certificate-notifications) as following .

The notifications are sent if a certificate's policy is set to auto renewal .

- Before certificate renewal
- After certificate renewal, stating if the certificate w

[2022-05-01 16:59] #89916 closed

[2022-05-01 17:00] shashishailaj commented on #91405
We are working on this internally with product group and will be updating the article as per internal discussion.

[2022-05-01 17:00] #91405 closed

[2022-05-01 17:12] shashishailaj commented on #91025
This page was designed to lit all the possible actions per service. Generally a reader would end up on this page mostly after knowing about the related Azure service and then searching for actions available for creating custom roles related to that service. From that perspective , I think the document does its part and any details about the operation can be further understood by going throgh servi

[2022-05-01 17:33] shashishailaj commented on #91827
We have requested a change on this document for the note causing confusion. The change is as following.

The original intention of the note was to make sure that the reader does not miss the scope to which the role is being applied which is the subscription in this case. Once the content team reviews the same it will be updated to the current document .

Thank you.

[2022-05-01 17:33] #91827 closed

[2022-05-01 17:40] damarce135 opened #92266 "Cluster permissions missing critical details"
https://docs.microsoft.com/en-us/azure/azure-monitor/logs/logs-dedicated-clusters#management
In section "Management" where it says:

_All operations on the cluster level require the Microsoft.OperationalInsights/clusters/write action permission on the cluster._

This is not accurate since, for example, when linking the workspace to the cluster, you also need LinkedServices permissions. So, even th

[2022-05-01 17:42] shashishailaj commented on #92053
The default permissions for all users as listed in the article [Azure AD default user permissions](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/users-default-permissions#compare-member-and-guest-default-permissions).  It clearly defines the user enumeration for all members of the directory.

The portal level setting to disable portal UI access for restricting users to make

[2022-05-01 17:42] #92053 closed

[2022-05-01 19:02] ErikEJ opened #92269 "Table of configuration properties via UI is missing"
Reference to table of configuration options, but it is missing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd70fac-5d7c-7637-8385-f3f4af3ba0ad
* Version Independent ID: 15d95fc5-f08e-a26c-ce06-8ead78474661
* Content: [Mount Azure Storage as a local share - Azure App Service](https://docs.microsoft.com/en-us/azure/a

[2022-05-01 19:23] RyanHill-MSFT commented on #92263
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-01 19:25] RyanHill-MSFT commented on #92266
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-01 19:27] RyanHill-MSFT commented on #92269
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-01 19:50] shashishailaj commented on #91172
You would see this error when you try to use the WPJ removal tool on a windows 10/11 machine which is Azure AD Hybrid join rather than Azure AD registered . This error is normal in such scenarios. In case that is not the scenario and you get this error on a Azure AD registered device then please capture the following information and open a support ticket with Microsoft and we will help you further

[2022-05-01 19:50] #91172 closed

[2022-05-01 19:56] shashishailaj commented on #91438
The principal name here refers to appId of the service principal (spn) . As explained by Jack above we do mention that appID is the value in the document which is to be used against --spn.

<img width="488" alt="image" src="https://user-images.githubusercontent.com/532022/166162389-49454958-a30a-4170-bd5d-9d733be9dc0a.png">

Hope this clarifies your query . Let us know in case you have any further

[2022-05-01 19:56] #91438 closed

[2022-05-01 20:58] GabrielM173 opened #92270 "Migrate classic WVD automatically in Europe or outside US"
Hello, when will we be able to migrate classic WVD environments to ARM outside the US?
Why isn't this feature available everywhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5aabbc75-d9b6-7d66-a8ab-4df438a2b60b
* Version Independent ID: 528c7a73-43c4-8f00-c463-6d3d52a094bb
* Content: [Migrate manually from Azure V

[2022-05-01 21:10] ggailey777 commented on #88161
@MayankBargali-MSFT we may need to open an issue against the Core Tools if it doesn't do the right thing wrt .NET versions.

[2022-05-01 21:57] illgitthat opened #92271 "LUIS Tutorial: Import app from JSON action missing"
The page gives these suggestions

Sign into the [LUIS portal](https://www.luis.ai/).
Select [My Apps](https://www.luis.ai/applications).
On the My Apps page, select + New app for conversation.
Select Import as JSON.

When I select + New App I do not have an option for import as JSON.

![image](https://user-images.githubusercontent.com/2256474/166166176-6b2fe1f1-b9c7-43de-b52e-cdfa5d39156b.png)

--

[2022-05-01 21:58] illgitthat commented on #92271
Specific link: https://docs.microsoft.com/en-us/azure/cognitive-services/luis/get-started-get-model-rest-apis?pivots=programming-language-python#create-pizza-app

[2022-05-01 22:47] AverageCakeSlice commented on #11755
Just to add to this in 2022. I have some endpoints that work fine, but others that break as described. For example `users/me` and `users/{userId}` work just fine, but `orders/me` and `orders/{orderId}` do not. There doesn't really seem to be a rhyme or reason as to why it breaks.

[2022-05-01 23:44] tamram commented on #82709
@saimsh-msft - the page has been updated.

#please-close

[2022-05-01 23:44] #82709 closed

[2022-05-01 23:45] tamram commented on #56859
@wmpauli - Thanks for your feedback, the article has been updated.

#please-close

[2022-05-01 23:45] #56859 closed

[2022-05-01 23:46] tamram commented on #31006
@lenisha - Thanks for your feedback. We've added a link to the appropriate page.

#please-close

[2022-05-01 23:46] #31006 closed

[2022-05-01 23:47] tamram commented on #30679
T@msLinuxNinja - Thanks for your feedback. The article has been updated to point to the appropriate place.

[2022-05-01 23:47] tamram commented on #30679
#please-close

[2022-05-01 23:47] #30679 closed

[2022-05-02 00:03] ChaitanyaNaykodi-MSFT commented on #91178
Hello @alecjames, apologies for the delayed response here. I was not able to reproduce this issue I was able to add the private endpoint to my web-app. The issue might be due to the Web app SKU selected.

![image](https://user-images.githubusercontent.com/67453298/166170065-8c502a94-1a11-4ce6-b05c-f84e61923aeb.png)

As we did not determine any documentation update here, we will now proceed to clos

[2022-05-02 00:03] #91178 closed

[2022-05-02 00:17] aspnet4you commented on #92251
Same issue with scanning AWS S3. I have the proper IAM role with policy and Purview can read the metadata validated by Test Connection. Unfortunately, S3 scan always fails without much details in the error message!

Also, it takes way long time to scan Kilobytes and Megabytes of S3 buckets. Is Purview is really ready for prime time?

[2022-05-02 00:34] ChaitanyaNaykodi-MSFT commented on #90892
Hello @fei0x, Apologies for the delayed response here. I got a response back from the team, unfortunately the team does not have any recommendations, however you can use Microsoft Certificate Service if they are using Active Directory.
It will be helpful if you could create a feedback item for this request on our [feedback portal](https://feedback.azure.com/d365community). Thank you!

[2022-05-02 00:34] #90892 closed

[2022-05-02 00:50] ChaitanyaNaykodi-MSFT commented on #91071
Hello @soelchma, apologies for the delayed response here. It is recommended to use [Azure Internet Analyzer](https://docs.microsoft.com/en-us/azure/internet-analyzer/internet-analyzer-overview) to calculate latency. To use Internet Analyzer, set up an Internet Analyzer resource in the Microsoft Azure portal and install the small JavaScript client in your application. The client measures the latenc

[2022-05-02 00:50] #91071 closed

[2022-05-02 01:32] ChaitanyaNaykodi-MSFT commented on #90914
Hello @ASDrew94, apologies for the delayed response here. I was able to reproduce this issue and had reported it to the product team, they have let me know that this is not a known issue. As this issue will be handled from the product side first, I will now proceed to close this thread. Please tag me in your response if you have any questions. Thank you!

[2022-05-02 01:32] #90914 closed

[2022-05-02 01:50] rachelxj-ms opened #92275 "We miss private DNS zone "privatelink.azurestaticapps.net" for Static web app"
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#azure-services-dns-zone-configuration

We miss private DNS zone "privatelink.azurestaticapps.net" for Static web app, please add it accordingly.

![image](https://user-images.githubusercontent.com/66855967/166175452-699e2d57-e36c-4e27-8075-7e047d8ee2d0.png)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-05-02 02:11] Givary commented on #92210
@gysiedebruyn Thank you for sharing this issue, let me investigate and revert back.

[2022-05-02 02:15] Givary commented on #91173
@triggersbroom apologies for the delayed update, working with the team to update the above mentioned post.

[2022-05-02 02:15] #91173 closed

[2022-05-02 02:17] Givary commented on #91691
@J227668 apologies for the delayed update, working with the team internally and reviewing the same and will be updated in next few weeks.

[2022-05-02 02:17] #91691 closed

[2022-05-02 02:36] SnehaAgrawal-MSFT commented on #92075
@brbar99 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-05-02 02:36] #92075 closed

[2022-05-02 02:37] SnehaAgrawal-MSFT commented on #92106
@ocolon-tfa Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-05-02 02:37] #92106 closed

[2022-05-02 03:13] Karishma-Tiwari-MSFT commented on #92270
Thanks for the question. We are currently investigating and will update you shortly.

[2022-05-02 04:27] kutluo commented on #89910
Any updates for the investigation and official documentation that can be shared here?

[2022-05-02 04:27] narendrnb opened #92277 ".net Sample app not working"
[Enter feedback here]
I have followed the documentation to create the sample app using the .net and while clicking on the Get Credential i am getting the below error on the debug console.

"error":{"code":"invalid_aad_access_token","message":"No acceptable roles were found in access token, required roles are [\"VerifiableCredential.Create.All\"]."}}

---
#### Document Details

⚠ *Do not edit this

[2022-05-02 05:12] ShaikMaheer-MSFT commented on #92093
@Jejiang Could you please validate customer feedback and update query as appropriate? Thank you.

[2022-05-02 05:15] E-RELevant opened #92278 "'Virtual Machine Contributor' role assignment does not work using CLI"
`az role assignment create --role "Virtual Machine Contributor" --assignee "$IDENTITY_CLIENT_ID" --scope $NODES_RESOURCE_ID` returns
[code]
even if a day or more has passed since the creation of the identity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c187c0-27f1-11c9-41af-6c65ca36e77e
* Version Independent ID: 2

[2022-05-02 05:15] abatishchev opened #92279 "Azure Functions local development doc uses old .NET/VS"
The article mentions .NET 5 and Visual Studio 2019. Both are very old and the next versions were released few years ago.

Is it the article that is outdated or it's the the technology the article is about is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad301acd-cfb9-5413-b882-e20e22632215
* Version Independent ID: f

[2022-05-02 05:19] ShaikMaheer-MSFT commented on #92187
@lrtoyou1223 Could you please validate customer feedback and see if below document can be enhanced to add Note selection to highlight it as Preview.
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-managed-virtual-network-sql-managed-instance

![image](https://user-images.githubusercontent.com/84302758/166187513-5dcdd22f-95e8-4344-9758-d84987627136.png)

[2022-05-02 05:28] SreejaBhattacharya-MSFT commented on #92102
Hi @J227668 , yes I believe so. It is specified in the documentation.
_Managing Azure Virtual Desktop session hosts using Intune is currently supported in the Azure Public and Azure Government clouds._
_[Microsoft Endpoint Configuration Manager and Microsoft Intune licenses](https://microsoft.com/microsoft-365/enterprise-mobility-security/compare-plans-and-pricing) are included with most Microsoft

[2022-05-02 05:29] SreejaBhattacharya-MSFT commented on #92102
Please let me know if you have questions.

[2022-05-02 05:39] RohitMungi-MSFT commented on #92271
@illgitthat The option is available when you click on the drop down next to the **New app**, Please see screen shot below:

![image](https://user-images.githubusercontent.com/46958063/166189236-84ea2174-1a65-434f-96b5-57929bd58d40.png)

[2022-05-02 06:03] Venkateshdodda-MSFT commented on #92159
@racchen I have tested this in my environment. If you use the Api Version other than '2019-08-01' we are not able to get the access token.
@cephalin Request you share your insight on this.

[2022-05-02 06:43] pnarsi opened #92282 "How to use Managed Identity for Authentication instead of Connection Key"
The documentation on this [page ](https://docs.microsoft.com/en-us/azure/search/search-howto-managed-identities-data-sources?tabs=portal-sys%2Cportal-user#supported-scenarios) mentions that we can use a Managed Identity for Search Service to Knowledge Store integration and links to this page. However as far as I can tell on this page there is no mention of how to configure the integration to use a

[2022-05-02 06:49] pnarsi commented on #92213
@HeidiSteen thanks for the quick response! Update looks good.

On an unrelated I wish more services had this internal traffic concept that allowed PaaS to PaaS connectivity without requiring the firewall on the destination PaaS service allowing all public traffic or whitelisting random IP address ranges.

[2022-05-02 06:51] pnarsi commented on #92211
@HeidiSteen - all good, the update makes sense.

[2022-05-02 07:24] pstapf commented on #92277
I'm facing the same error, double-checked permissions and other setting, but they are like documented

[2022-05-02 07:46] sonusathyadas opened #92284 "Container image step is missing"
Where it is mentioned , which docker image need to be used

[2022-05-02 08:10] shashishailaj commented on #92277
@mallutv  @pstapf  I am checking this internally and will keep you both updated on the same.

Thank you .

[2022-05-02 08:16] AnuragSharma-MSFT commented on #92207
@mmulich Thanks for your patience. Could you please highlight which values are inconsistent? Documentation shows 8 accepted values.

[2022-05-02 08:21] AnuragSharma-MSFT commented on #92257
@HHK01  Thanks for reporting this issue. We have made the changes through a PR which could take few days to go live.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-05-02 08:35] sicil1ano opened #92285 "Invalid Azure CLI command to register SQL Resource Provider"
Hi.
Under "Register with SQL RP" paragraph, there're 3 different ways to register SQL Resource Provider.
Using the provided Azure CLI command (`az provider register --namespace Microsoft.SqlVirtualMac`) , I'm getting this error:

![image](https://user-images.githubusercontent.com/2143694/166206873-31467c49-c7ee-4230-ad04-ad972577d9cf.png)

Apparently the `Microsoft.SqlVirtualMac` resource provider

[2022-05-02 08:38] yossi-y commented on #92266
Thanks for your feedback.

Although the needed permissions are mentioned under [Link workspaces](https://docs.microsoft.com/azure/azure-monitor/logs/logs-dedicated-clusters#link-a-workspace-to-a-cluster), you are correct that it's not reflected properly in [Management ](https://docs.microsoft.com/azure/azure-monitor/logs/logs-dedicated-clusters#management) paragraph and clarification was submitted

[2022-05-02 08:39] GitaraniSharma-MSFT commented on #92275
@rachelxj-ms , thank you for your feedback. This is already being worked on in GitHub issue #https://github.com/MicrosoftDocs/azure-docs/issues/91695 and will be updated soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-05-02 08:39] #92275 closed

[2022-05-02 08:53] guywi-ms commented on #92227
#assign-reviewer: @adiBiran

[2022-05-02 08:53] PRMerger7 commented on #92227
The following reviewer(s) could not be added because they aren't a valid GitHub ID, aren't a valid collaborator on this repo, or are the author of the PR: adibiran

[2022-05-02 09:17] AshokPeddakotla-MSFT commented on #92092
@kudlatiger Did you get a chance to see my suggestions? Do let us know if that helps.

Also, We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement.

Hence, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/

[2022-05-02 09:17] #92092 closed

[2022-05-02 10:26] Buchvardt opened #92286 "docUrl in def analyse_generaæ_documents() is slightly wrong - for me at least"
The url should be:
"https://github.com/Azure-Samples/cognitive-services-REST-api-samples/blob/master/curl/form-recognizer/sample-layout.pdf"

Not this:
"https://raw.githubusercontent.com/Azure-Samples/cognitive-services-REST-api-samples/master/curl/form-recognizer/sample-layout.pdf"

This works for me.
---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.micr

[2022-05-02 10:33] CHEEKATLAPRADEEP-MSFT commented on #92137
@ashishmgofficial  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-02 10:33] #92137 closed

[2022-05-02 10:34] CHEEKATLAPRADEEP-MSFT commented on #92208
@rockboyfor  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-02 10:34] #92208 closed

[2022-05-02 10:37] Venkateshdodda-MSFT commented on #92279
@abatishchev Thank you for your valuable feedback.

Assigning to content author @ggailey777 for review and document enhancement.

[2022-05-02 10:39] CHEEKATLAPRADEEP-MSFT commented on #92251
@aspnet4you  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-05-02 10:39] #92251 closed

[2022-05-02 10:44] CHEEKATLAPRADEEP-MSFT commented on #92239
@ajdabrowski Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-02 10:48] Sharmistha-Rai commented on #91856
Ack - checking with the team.

[2022-05-02 10:49] Buchvardt commented on #92286
Oh -- dissregard this. I tried to see the .pdf in the browser.

[2022-05-02 11:56] subodhpatil opened #92290 "No clear mapping between Plan1/Plan2 of MDS and MDE"
[Enter feedback here]
The document says, 'Integrated license for Microsoft Defender for Endpoint - Microsoft Defender for Servers includes [Microsoft Defender for Endpoint](https://www.microsoft.com/microsoft-365/security/endpoint-defender).'. However, it does not clearly tell if  Microsoft Defender for Servers Plan1 includes Microsoft Defender for Endpoint only Plan1 or Plan2. Or if there is 1:1

[2022-05-02 12:05] msftnadavbh commented on #84655
Hi @mscatyao, any update?

[2022-05-02 12:05] msftnadavbh commented on #85508
Hi @cherylmc, is there any update on this?

[2022-05-02 12:10] sanjeebSubedi opened #92291 "How to mount azure fileshare when using AKS to host azure functions with KEDA?"
I cannot find any option to mount azure fileshare to the deployment file when I deploy azure functions to kubernetes cluster.

[2022-05-02 12:33] GeethaThatipatri-MSFT commented on #92285
HI @sicil1ano Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-02 12:38] RyanHill-MSFT commented on #92278
The creation of the identity is instantaneous. Since you're getting a message that the principal doesn't exist, I would verify your CLI command with either the `--debug` or `--verbose` command(s). You can also check the identity in the Azure portal and add the role that way.

If you're still running into issues, let us know down below.

[2022-05-02 12:44] seesharprun commented on #84495
Thank you for reporting this issue @sy-huss! I will take a look at the article and make a few changes to fill the gaps you mentioned.

[2022-05-02 12:48] shashishailaj commented on #92277
@mallutv  @pstapf
I tried to check this sample and it is working for me. In your case the error is seen because the service principal for the . I would suggest you to setup the service principal for the verifiable credentials service with the instructions below. This information on how to setup the service principal is somehow missing in the page and we are working internally to update it .

## Se

[2022-05-02 12:49] RyanHill-MSFT commented on #92282
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-02 12:53] J227668 commented on #92102
Can you please indicate in the blog that this is currently available in Azure Public and Azure Government? We have some partners and customers asking about this feature and having a reference to point back to would be helpful. Thank you.

[2022-05-02 13:39] pstapf commented on #92277
Hello,
your solution is working for me, I now get beyond that error and a QR code is generated.

Thanks for quick help.

[2022-05-02 13:51] illgitthat commented on #92271
Sorry about that!

[2022-05-02 13:51] #92271 closed

[2022-05-02 14:01] amtwo opened #92292 "Spellcheck issue with image"
The image in the Overview section contains a "red squiggle" underline under the word "vCore":

![image](https://user-images.githubusercontent.com/9381581/166245584-a6121b9e-09ed-490e-8b77-07ffcaf1cd4d.png)

There's nothing functionally wrong--just kind of silly & embarrassing that the underline is there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-05-02 14:06] caimez opened #92293 "Issue with creating/deleting NSG to secure Application Gateway V2 (only private frontend IP)"
Hi,
I have tried to create the NSG as specified on the Application Gateway FAQ.
However, it is not possible to delete the NSG, and it fails with the following error:

`Network security group blocks incoming internet traffic on ports 65200 - 65535 to subnet associated with Application Gateway. This is not permitted for Application Gateways that have V2 Sku.`

I followed the exact steps on the page,

[2022-05-02 14:08] GeethaThatipatri-MSFT commented on #92292
Hi @amtwo Thanks for your findings,We will look into it and update as appropriate

[2022-05-02 14:18] #92286 closed

[2022-05-02 14:19] GeethaThatipatri-MSFT commented on #92292
I'm assigning this to the author for the feedback review and correction.

[2022-05-02 14:22] RohitMungi-MSFT commented on #92169
@nisarkhan916 We hope the above clarification helped, Passing the supported format in the URI parameter and file URI should import the KB. We will now proceed to close this thread.

[2022-05-02 14:22] #92169 closed

[2022-05-02 14:24] seesharprun commented on #82654
@markjbrown @abinav2307, is there an update on the status of this work?

[2022-05-02 14:25] seesharprun commented on #86022
@ohadschn, thanks for this feedback. Work is being done now to update the two relevant articles.

[2022-05-02 14:34] seesharprun commented on #82654
#assign:seesharprun

[2022-05-02 14:34] seesharprun commented on #86022
#reassign:seesharprun

[2022-05-02 14:34] seesharprun commented on #88906
@pveliz, thanks for the heads up! A change is now in flight.

#reassign:seesharprun

[2022-05-02 14:34] seesharprun commented on #84495
#reassign:seesharprun

[2022-05-02 14:38] thermionic opened #92294 ""Block" or "Grant""
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-policy-approved-app-or-app-protection#block-exchange-activesync-on-all-devices

"This policy will block all Exchange ActiveSync clients using basic authentication from connecting to Exchange Online."
"8. Under Access controls > Grant, select Grant access.
     a Select Require app protection poli

[2022-05-02 14:39] sfiguemsft commented on #89910
@kutluo To support "224-27.126.211.10.in-addr.arpa ", you can create a private  zone 126.211.10.in-addr.arpa and add the necessary CNAME records. (don’t need NS records).

However, this means that you will need to own the IP address for the entire 10.211.126/24 subnet instead of the intended 10.211.126.224/27.

[2022-05-02 14:46] seesharprun commented on #88208
Thanks @HolisticDeveloper for reporting this change. It looks like this issue crops-up in multiple articles, so I will work on a fix and get it deployed ASAP.

#reassign:seesharprun

[2022-05-02 14:48] MarileeTurscak-MSFT commented on #92294
@thermionic
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-02 14:59] moushumig opened #92295 "Correction required to statement made on connectivity to address public MEC with AT&T scenario"
[Enter feedback here]
In Azure public MEC with AT&T this statement is not true - "Because Azure public MEC sites are connected to the telecommunications network, accessing resources deployed in it over the internet isn't allowed." We need to remove this statement from the documentation page. This is confusing customers. Agreed with public MEC PM team to remove this statement.

AT&T tested and prov

[2022-05-02 15:02] mitchcr opened #92296 "Add more detailed description"
Hello all,

There is people without Linux knowledge following this guide and believing this is the correct way to mount any disks, so they're asking why after following this steps they cannot access to the information inside the disk.  Is there possible to explain that if they create this partition they will lose the information, or explain how to follow the doc in case they only want to mount an

[2022-05-02 15:07] SJokubauskaite commented on #92022
It would be great, if you could check, if this code functions on SQL MI:

EXECUTE sp_execute_external_script @language = N'R'
, @script = N'
library(prophet)

history <- data.frame(ds = seq(as.Date("2015-01-01"), as.Date("2016-01-01"), by = "d"),
                      y = sin(1:366/200) + rnorm(366)/10)
m <- prophet(history)
'

[2022-05-02 15:10] kobulloc-MSFT commented on #92296
@mitchcr Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-05-02 15:11] spixy opened #92297 "Getting Cosmos DB connection string"
In point **3 - Get Cosmos DB connection string**:
- `Connection String` menu item is now named `Keys`
- **PRIMARY CONNECTION STRING** starts with `AccountEndpoint=...` which throws `System.ArgumentException: Connection string parsing error` when passed as first parameter into `TableClient`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-05-02 15:16] LitKnd commented on #92292
Hi @amtwo ,

Thanks for getting in touch. I've emailed the team to see what is the best option to correct this problem.

Cheers,
Kendra Little from the Database Docs Team

[2022-05-02 15:28] #92293 closed

[2022-05-02 15:29] caimez commented on #92293
Sorry, I now understand the issue, my mistake, was trying to delete the NSG, without deleting the AGW first. Sorry again for any disturbance.

[2022-05-02 15:29] MarileeTurscak-MSFT commented on #92290
@subodhpatil
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-02 15:36] MSFTjarredM opened #92298 "Azure Gov Regions"
Azure Gov region availability should be listed/update here as well if possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a77d114-fd9e-0198-4bf2-fbd60c6a1251
* Version Independent ID: 8a77d114-fd9e-0198-4bf2-fbd60c6a1251
* Content: [vCore purchasing model - Azure SQL Database](https://docs.microsoft.com/en-Us/azu

[2022-05-02 15:36] seesharprun commented on #90947
@StevenTCramer, thanks for reporting this gap in our documentation! I'm working with the product team now to fill this gap by providing documentation for Windows users that doesn't assume you want to use the Windows container image.

#reassign:seesharprun

[2022-05-02 15:38] seesharprun commented on #85784
#assign:seesharprun

[2022-05-02 15:39] seesharprun commented on #85784
Thanks @brasky for your feedback! It looks like this was addressed in the latest version of the doc with a Note at the top of the document:

https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd

#please-close

[2022-05-02 15:39] #85784 closed

[2022-05-02 15:39] GeethaThatipatri-MSFT commented on #92297
Hi @spixy Thanks for reaching out, We will Investigate and update you shortly.

[2022-05-02 15:41] inknochen opened #92299 "The different options for P2S VPN aren't matching the image"
The 1st line in the picture is Windows only SSTP... that's OK, the 2nd line appears to be Open VPN that can have all the OS, including Windows, if that's the case, then 2nd is wrong as it also shows it as IKEv2 in the tunnel. And last IKEv2 should be only MAC but it shows some other options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-05-02 15:42] DavidCBerry13 commented on #92297
@GeethaThatipatri-MSFT  - Can you assign this to me.  Pretty sure something might have changed in portal, I'll take a look this afternoon and work on getting the article updated

[2022-05-02 15:48] GeethaThatipatri-MSFT commented on #92297
Sure @DavidCBerry13

[2022-05-02 15:51] ussvgr opened #92300 "Docs about SQL Database are no longer displayed in Japanese"
I noticed that Japanese was displayed two weeks ago, but today it is only displayed in English.

Google's cache page in April 16th was displayed in Japanese.
![image](https://user-images.githubusercontent.com/29699751/166264330-587a0cf5-586a-4d62-b503-f0f47326cf7e.png)

Why isn't it displayed in Japanese?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-05-02 15:55] #91985 closed

[2022-05-02 15:56] htalluri9 opened #92301 "Invalid capability EnableMongoRoleBasedAccessControl - MSFT closed issue with - "works for me, don't care about users""
az cosmosdb update -n cs-dev-01 -g rg-dev-01 --capabilities EnableMongoRoleBasedAccessControl
The behavior of this command has been altered by the following extension: cosmosdb-preview
(BadRequest) Invalid capability EnableMongoRoleBasedAccessControl.
ActivityId: bc490814-ca2f-11ec-98d2-00155d814e38, Microsoft.Azure.Documents.Common/2.14.0
Code: BadRequest
Message: Invalid capability EnableMongoRo

[2022-05-02 16:01] GeethaThatipatri-MSFT commented on #92300
Hi, @ussvgr Thanks for your findings,We will investigate and update as appropriate

[2022-05-02 16:01] CapDataAV opened #92302 "Azure Files AAD Preview - Service Principal Update Commands"
Good Morning Microsoft Team!

I was using the procedure in this document to update the service principal password for the first time, the following line didn't produce any results:

`$servicePrincipal = Get-AzureADServicePrincipal | Where-Object {$_.AppId -eq $($application.AppId)}`

After a little digging, I found that I needed to add the -All $true in order for my Service Principal to appear.

`

[2022-05-02 16:03] SatishBoddu-MSFT commented on #92284
Hello @sonusathyadas Could you please let us know which document are you referring to?

[2022-05-02 16:04] ThomasErvik opened #92303 ""No HTTP resource was found" when using moreLikeThis with POST requests."
We get the following message when using moreLikeThis with a POST request.
"No HTTP resource was found that matches the request URI 'https://xxxxx.search.windows.net/indexes('indexname')/docs?api-version=2021-04-30-Preview&search'."
body:
`{
	"moreLikeThis": "88390",
	"searchFields": "content, title, summary",
	"select":"documentId, contentLink, title, name, url, ingress, ingressImageUrl"
}`

If we

[2022-05-02 16:07] YutongTie-MSFT commented on #92121
Hello @SimranArora904

Could you please double confirma and add more details regarding to this? Appreciate the help!

[2022-05-02 16:30] newpowera opened #92304 "Service Fabric 9.0's new supported .NET runtime GA should be .NET 6"
The supported .NET runtime of Service Fabric should be .NET 6 (GA) according to the release notes: https://github.com/microsoft/service-fabric/blob/master/release_notes/Service_Fabric_ReleaseNotes_90.md#:~:text=Feature-,%5BGeneral%20Availability%5D%20Support%20for%20.NET%206.0,-Brief%20Description%3A%20Support

It says ".NET 5 (GA)" for Service Fabric 9.0 still, seems like a typo.

---
#### Docume

[2022-05-02 16:32] ts-cbuehrle opened #92305 "Where is the Java example?"
There is .Net but no Java example. Do the Java clients support this and if so what version?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b7d98f8-d73d-d5f7-8ae8-9f5e413e2961
* Version Independent ID: 27098ddc-0ebc-70d1-3b85-de239cc69358
* Content: [Configure Transport Layer Security (TLS) for a Service Bus client app

[2022-05-02 16:36] martincoetzer commented on #89930
Thank you for your suggestion. I added the link #please-close

[2022-05-02 16:36] #89930 closed

[2022-05-02 16:37] JasonHershey opened #92309 "Figures 4 and 5 appear to be the same"
The 2 figures referenced under Option 3 should be different but they appear to be the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64c50ed1-29bd-6ec8-7c57-60a6a76d36be
* Version Independent ID: ed403a70-b955-347d-72e6-c875e88ccef7
* Content: [Use Azure API Management with Microservices Deployed in Azure Kuberne

[2022-05-02 16:39] micahl commented on #88253
@lucarv we run E2E tests in an automated pipeline on arm64 and amd64-based devices using a release of Ubuntu Server targeted at those HW architectures.  The installable packages for those OS versions + HW architecture combinations are subsequently published to packages.microsoft.com.  This is why they are marked as Tier 1.  We do not include Ubuntu on arm32 in our automated test pipeline and so we

[2022-05-02 16:42] Niglb opened #92310 "Troubleshooting"
Hi there,

On the PowerShell script to validate connectivity to STUN servers - I have run this on many environments, with the same errors codes, but have different results with RDP Shortpath successful sessions.

I believe we may need some guidance on what the errors mean, and how to move forward. As an example, 'Local NAT does not reuse SNAT ports...' and 'Unable to send data, check if InterNetwo

[2022-05-02 16:56] SatishBoddu-MSFT commented on #92291
Hello @sanjeebSubedi What is the actual document you are referring to?

[2022-05-02 16:59] tkent commented on #92078
@MayankBargali-MSFT I noticed this was labeled as a production question. Do you see this a question? I would have expected [product-bug](https://github.com/MicrosoftDocs/azure-docs/labels/).

[2022-05-02 17:02] ssivas commented on #92218
@NicoleWang11, Thanks for bringing to our notice.

Yes, even I was able to get this `telephonenumber` attribute from ID token as user's source id through custom policy, below screenshot for your reference from my test. I will work with content author to get added and meanwhile I close this thread. Feel free to tag me if you have any questions. once again thanks for bringing to our notice.

Example

[2022-05-02 17:03] ChaitanyaNaykodi-MSFT commented on #92299
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-05-02 17:03] WilliamDAssafMSFT commented on #92298
Thanks @MSFTjarredM, will review the regions list with the product group. Do you have any references/links to specific hardware generations and specific Gov regions that should be added?

[2022-05-02 17:04] #92218 closed

[2022-05-02 17:05] andreguerra1 opened #92314 "Application Subnet address space outside Virtual Network range"
In this guide, the Azure CLI command to create the aks cluster uses the parameter --appgw-subnet-cidr "10.2.0.0/16" that is outside of the default VNET address for managed VNETs 10.224.0.0/12.

The default VNET address for managed VNETs changed from from 10.0.0.0/8 to 10.224.0.0/12. You can check it out here https://github.com/Azure/AKS/releases/tag/2022-02-24.

I suggest changing the parameter --

[2022-05-02 17:09] MSFTjarredM commented on #92298
I do not - that was the issue when I viewed the page.  The customer was asking for documentation around gov regions that had FSv2 and M series machines (they are in the Azure Database Essentials workshop), but we couldn't find a publicly-facing document quickly with that info.

From: William Assaf MSFT ***@***.***>
Sent: Monday, May 2, 2022 1:04 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Jar

[2022-05-02 17:14] Karishma-Tiwari-MSFT commented on #92304
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-02 17:18] sanjeebSubedi commented on #92291
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/azure-functions/functions-kubernetes-keda.md I am referring to this one. I used to mount azure fileshare on azure functions and access my files from functions, now I have to migrate to using keda due to resource limits. I want to mount the fileshare onto the pod when deployment is created.

[2022-05-02 17:19] Karishma-Tiwari-MSFT commented on #92302
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-02 17:20] chrislehr opened #92315 "On premises script code block broken"
This code in Step 1 errors out - and doesn't produce immutable IDs

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/migrate-okta-sync-provisioning-to-azure-active-directory

#mass-validation-methods-for-objectguid

Get-ADUser -Filter * -Properties objectGUID | Select-Object
UserPrincipalName, Name, objectGUID, @{Name = 'ImmutableID';
Expression = {
[system.convert\]::ToBase64St

[2022-05-02 17:36] KranthiPakala-MSFT commented on #92032
Hi @athenads  - Could you please help review above feedback from cx and update the content accordingly. Thank you

[2022-05-02 17:37] chrislehr commented on #92315
The fixed code is below:

Get-ADUser -Filter * -Properties objectGUID | Select-Object UserPrincipalName, Name, objectGUID, @{Name = 'ImmutableID';Expression={[system.convert]::ToBase64String(([GUID]($_.ObjectGUID)).tobytearray())}} | export-csv C:\Temp\OnPremIDs.csv

[2022-05-02 17:41] gnu-lorien commented on #61852
It seems as if the error codes listed here never made it onto the document referenced. To this day https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-troubleshoot does not have error codes 1, 16, or 17 documented. The original source link is no longer valid, so I'm not sure if documentation for these error codes was ever added. The most recent version of the source of this document does not

[2022-05-02 17:43] mrdenny opened #92316 "Screenshot is out of date"
The screenshot needs to be updated. It doesn't match the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186c0697-792a-a913-1baa-0af86f7ef6de
* Version Independent ID: 330e7927-57fd-75e2-26b1-05bd2e8f30c1
* Content: [Create an Azure AD tenant for P2S VPN connections: Azure AD authentication - Azure VPN Gateway](

[2022-05-02 17:44] WilliamDAssafMSFT commented on #92298
Ok, Thanks @MSFTjarredM. Will confirm with the product group.

#please-close

[2022-05-02 17:44] #92298 closed

[2022-05-02 17:47] seesharprun commented on #84495
This article has been updated with a couple of blurbs to indicate when code should be in the **main** function or the **try/catch** block.

Thanks again for the feedback!

#please-close

[2022-05-02 17:49] seesharprun commented on #86022
The documentation has been updated. Thank you again for your feedback.

#please-close

[2022-05-02 17:49] #86022 closed

[2022-05-02 17:50] spottedmahn opened #92317 "empty roadmap"
the [roadmap link](https://azure.microsoft.com/en-us/updates/?category=security-identity) here:
![image](https://user-images.githubusercontent.com/14079228/166298382-6099a188-79a3-4f6f-9e9c-83c80bd0978f.png)

takes us here: https://azure.microsoft.com/en-us/updates/?category=security-identity

but the page is empty, is that right? 🤔

![image](https://user-images.githubusercontent.com/14079228/1662

[2022-05-02 17:50] seesharprun commented on #88208
This article has been updated with a new "create new account" set of instructions reflecting the changes in the portal. Thanks for your contribution!

#please-close

[2022-05-02 17:50] #88208 closed

[2022-05-02 18:01] brbar99 commented on #92075
Sorry, missed the notification for this.

So, back in 2020 it was confirmed that if you set the connection string for entity framework in the portal it was **required** that you have a dummy connection string in your web.config for the app to use.  This wasn't required for any other type of connection string and this requirement isn't documented anywhere other than a 2014 blog post.

[2022-05-02 18:13] JamesBirdsall commented on #91888
The service doesn't have a version. We have added features over time and newer versions of the SDK add support for those features, but previously existing functionality is not modified and is accessed by older and newer versions in the same way. That said, we always recommend using the most recent version. 3.x and older are all deprecated in favor of 5.x and are no longer being enhanced.

[2022-05-02 18:14] MonikaReddy-MSFT commented on #92266
@yossi-y - Thanks for providing your insights and raising the PR.
@damarce135 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-02 18:14] #92266 closed

[2022-05-02 18:19] chrislehr commented on #92315
I see the update, however, only the $User.ObjectGUID to $_.ObjectGUID was addressed.

There are multiple extra back slashes (\), and there is a missing end curly bracket (})

[2022-05-02 18:20] MarileeTurscak-MSFT commented on #92317
@spottedmahn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-02 18:21] mrkeiths opened #92318 "Documentation implies ROPC supports private clients"
Hello,

The following documentation clearly states that ROPC does **not** support confidential clients:

https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-ropc-policy?tabs=app-reg-ga&pivots=b2c-user-flow#ropc-flow-notes
![image](https://user-images.githubusercontent.com/34779464/166298037-0f7fe10b-2a59-43e0-bcdb-6ab7618950e0.png)

However the information on this page implies there ex

[2022-05-02 18:27] fanshaoshan commented on #92196
It turns out related to how python been installed, azure function core tools have issue to compatible with python installed directly from MS Store. Installing python using downloaded MSI solved this problem.

[2022-05-02 18:29] fanshaoshan commented on #92196
Close this issue as this is not particularly related to durable function.  Issue https://github.com/Azure/azure-functions-core-tools/issues/3042 been opened to azure function core tools to track this.

[2022-05-02 18:29] #92196 closed

[2022-05-02 18:31] ChaitanyaNaykodi-MSFT commented on #92225
Hello @owingruters, this is an expected behavior, as of now you can create WAF for Azure CDN via [Az CLI command ](https://docs.microsoft.com/en-us/cli/azure/cdn/waf/policy?view=azure-cli-latest#az-cdn-waf-policy-set) as shown below.
![image](https://user-images.githubusercontent.com/67453298/166304322-1363bbfe-c6bd-4d29-a5e8-6eac3f8d4af5.png)

An official announcement regarding this feature will

[2022-05-02 18:31] #92225 closed

[2022-05-02 18:49] gcerik opened #92321 "Access other azure resources in databricks with credential passthrough"
The documentation explains how to access Data lake storage but it would be good to have some details on how other types of resources can be accessed such as SQL Server, MS Graph or Office APIs. We are looking to do passthrough authentication for SharePoint and we cannot find any resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-05-02 18:50] technologyconsulting opened #92322 "Sneaky... not sure if it was intentional or not?"
Hi,

In exercise 1 we create a resource group in centralus and deploy a blank arm template. At the end of the exercise we are asked to delete the resource group.

In exercise 2 we deploy a storage account via an arm template and as a side note we are asked to create a resource group. Naturally most people will run the same code from exercise 1. If they do they will get hit with errors when deployi

[2022-05-02 18:56] JamesTran-MSFT commented on #91209
@v-frmoya
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-05-02 18:56] #91209 closed

[2022-05-02 18:57] seesharprun commented on #88718
Thanks @julealgon for your feedback! This issue occurs on multiple pages so we are going to work on a fix and get that in flight shortly.

#reassign:seesharprun

[2022-05-02 18:59] JamesTran-MSFT commented on #92318
@mrkeiths
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-05-02 19:01] MonikaReddy-MSFT commented on #92322
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-05-02 19:09] AbbyMSFT commented on #88728
@SenorRagequit: We now recommend using Azure Managed Grafana (Preview) for its ease of deployment and out of the box integration with Azure Monitor. As a fully managed service, Azure Managed Grafana lets you deploy Grafana without having to deal with setup. The service provides high availability, SLA guarantees and automatic software updates.

We hope this new functionality will help address the i

[2022-05-02 19:09] #88728 closed

[2022-05-02 19:11] JamesTran-MSFT commented on #92007
@aberns4
Thank you for following up on this and I apologize for the delayed response!

Since the [company branding documentation](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customize-branding) is used for adding your organization's logo and custom color schemes to the Azure Active Directory (Azure AD) sign-in pages. I'd recommend looking into our [Customize the user exper

[2022-05-02 19:11] #92007 closed

[2022-05-02 19:21] JamesTran-MSFT commented on #90672
@schiffne
Thank you for following up on this!

Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

When it comes to the ability

[2022-05-02 19:23] b-hchen commented on #91994
@[elfcounsel](https://github.com/elfcounsel) -  It appears that there's no agreed-upon numbers to document yet. Let's use the email thread I started for further discussion.

[2022-05-02 19:23] b-hchen commented on #91994
#please-close

[2022-05-02 19:23] #91994 closed

[2022-05-02 19:30] JamesTran-MSFT commented on #91786
@dshimogawa
Thank you for following up on this and I apologize for the delayed response!

Based off our documentation, I have a similar understanding where Tenant B should be able to access Tenant A without an Azure AD P1 License. However, users of Tenant B would still need to comply with the CA policy and satisfy MFA per Tenant A.

Since this issue is assigned to the author to clarify and work wi

[2022-05-02 19:30] GeethaThatipatri-MSFT commented on #92039
@jdanton Changes have been updated in the document, you will see the changes in 24 hours, thanks again for your feedback in improving our documentation.
We will proceed to close this issue now.

[2022-05-02 19:30] #92039 closed

[2022-05-02 19:30] MarileeTurscak-MSFT commented on #92290
Hi @subodhpatil ,

The product team replied that there is no exact 1:1 mapping so it doesn't include either plan specifically, but instead Microsoft Defender for Servers Plan 1 includes the listed features:

Deploys Microsoft Defender for Endpoint to your servers and provides these capabilities:

Hope this helps! Looping in @bmansheim as well.

[2022-05-02 19:32] johndeu commented on #76078
We had to remove the code/embed tab on the hosted demo player site due to a security issue with an underlying Javascript library that was not upgradeable.  For now, we recommend that customers that need to use AMP in production should host a version on their own, or use any other Open Source player that supports HLS or DASH.  Options include Shaka, Dash.js, video.js, hls.js, and lots of commercial

[2022-05-02 19:42] subodhpatil commented on #92290
Thank you.
But with this document is difficult to find what exactly we get as part of Plan2 under feature ‘Threat detections: OS level, network layer, control plane’ ?

Also is Fileless attack detection included as part of Plan1 or plan2 ?

Thanks,
Subodh

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Marilee Turscak - ***@***.***>
Sent: Monday, May 2, 2022 9:31

[2022-05-02 19:45] tehmichael opened #92324 "Security Defaults documentation isn't clear which MFA service settings it uses"
Hello MS Docs maintenance team!

After going through a recent move from Security Defaults to Conditional Access enforced Multi Factor Authentication for all users, we found that our users weren't familiar with being challenged for MFA since Security Defaults might not ask for an MFA token again for the lifetime of the user account or until a new browser/device is introduced.  This is all because w

[2022-05-02 19:45] johndeu commented on #75056
The Video.js team closed it, but We are actively working on a fix for browser based AES-128 Clear Key encryption support this semester and will update this once that feature is completed.  Client should not need to fix this, as we can resolve it on the service side.

[2022-05-02 19:46] IngridAtMicrosoft commented on #76078
#please-close

[2022-05-02 19:46] #76078 closed

[2022-05-02 19:47] IngridAtMicrosoft commented on #74763
Hello @EO2875. Thank you for your feedback. Our development team is reviewing the issue.

[2022-05-02 19:58] johndeu commented on #75056
I removed the link to the issue for now.

[2022-05-02 19:59] timwarner-msft commented on #88133
Hi @becnichelesmith. I'll update the document either today or tomorrow. Thanks for raising this issue! Kindest regards, Tim

[2022-05-02 20:21] sweql commented on #65507
Yes, problem solved! Check your database name for any dashes '-'.

Had the exact same problem and it turned out to be caused by the existance of a dashes '-' in the name of the SQL Server database. Replaced the dashes with underscores '_' and things started working.

I can see in the original thread creator's post that the database name is "metastore-2", (containing a dash).

[2022-05-02 20:22] JefTek opened #92325 "Update Content to use MS Graph API and MS Graph SDK PowerShell Module vs AAD Graph/ADAL"
This page should be removed as it is using the AAD Graph API and ADAL example, and we should update to using the MS Graph API:

Reference using the MS Graph SDK Module App-Only authentication which is documented here:
https://docs.microsoft.com/en-us/powershell/microsoftgraph/app-only?view=graph-powershell-beta&tabs=azure-portal

The Report APIs are in the MS Graph documentation and now include Po

[2022-05-02 20:23] mike-urnun-msft commented on #92017
Hello @MarkusMeyer13 - Thanks again for your feedback! The script is working as expected and I confirmed that it adds the `Directory.Read.All` permission as described in this doc. The issue you encountered originates from a recent regression described in: https://docs.microsoft.com/en-us/answers/questions/826377/add-aad-groups-to-api-management.html and the fix should already be rolling out as of

[2022-05-02 20:23] #92017 closed

[2022-05-02 20:27] RoseHJM commented on #49061
#reassign: @RoseHJM

[2022-05-02 20:28] RoseHJM commented on #54665
#reassign: @RoseHJM

[2022-05-02 20:28] RoseHJM commented on #61612
#reassign: @RoseHJM

[2022-05-02 20:34] MarileeTurscak-MSFT commented on #92325
@JefTek
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-02 20:35] timwarner-msft commented on #88133
#please-close

[2022-05-02 20:35] #88133 closed

[2022-05-02 20:39] RoseHJM commented on #54665
@cocowalla
Thank you so much for your question. I'm sorry you've had to wait so long for a response. These pages have been updated in the meantime (April 2022), which I believe resolves the issue.

We will now proceed to close the issue. Thank you.

#please-close

[2022-05-02 20:39] #54665 closed

[2022-05-02 20:42] MarileeTurscak-MSFT commented on #92324
@tehmichael
Thanks for your feedback! We will investigate and update as appropriate.

[2022-05-02 20:44] anthfuller opened #92327 "Date is backward on the page"
[The date is backwards on this page: https://docs.microsoft.com/en-gb/azure/key-vault/keys/how-to-configure-key-rotation

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b38ff8ef-9f1e-5356-3471-491f91324926
* Version Independent ID: 533ac67c-50f4-78c9-c0b8-15cafffcb0b8
* Content: [Configure key auto-rotation in Azure Key

[2022-05-02 20:44] anthfuller commented on #92327
The date the MS Doc was published is backward, unless that is a new format?

[2022-05-02 20:47] petertuton opened #92328 "Change "on-premise" to "on-premises""
Change use of "on-premise" to "on-premises". See [here](https://andrewschoen.medium.com/software-people-of-the-world-stop-saying-on-premise-you-sound-dumb-56692dae871d) for an explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-08

[2022-05-02 20:51] mike-urnun-msft commented on #92305
Thank you for your feedback! We will review and update as appropriate.

[2022-05-02 21:00] ecfan commented on #86175
#assign:@KentWeareMSFT

[2022-05-02 21:00] PRMerger-2 commented on #86175
The following users don't have valid GitHub IDs, or are not collaborators on this repo: kentwearemsft

[2022-05-02 21:00] PRMerger12 commented on #86175
The following users don't have valid GitHub IDs, or are not collaborators on this repo: kentwearemsft

[2022-05-02 21:01] #90485 closed

[2022-05-02 21:02] #92309 closed

[2022-05-02 21:02] ecfan commented on #90485
@Neutrino-Sunset: A doc update will follow later today. Thanks for finding this issue!

[2022-05-02 21:09] erik-ha-msft commented on #92234
Thank you for the feedback.

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2022-05-02 21:09] #92234 closed

[2022-05-02 21:18] dodge1350-frp opened #92332 "Hybrid Worker Certificate Installation"
Reviewing the .\Export-RunAsCertificateToHybridWorker, it is not clear as to how it would identify the hybrid worker where the certificate is to be installed.  Given that is the case, it makes me hesitate to run the script since I do not know where it is going to try to install the certificate.  Plus, what if you have multiple hybrid workers?  Wouldn't you want to run this against each one so they

[2022-05-02 21:21] Keboo opened #92333 "Update example command to use correct variable name"
Under the `Run a sample application` [header](https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#run-a-sample-application). The Note suggest using the command `echo $IDENTITY_NAME`, however the variable created and used i the rest of the doc is `$POD_IDENTITY_NAME`. Suggest updating the example command to be `echo $POD_IDENTITY_NAME`.
`

---
#### Document Details

⚠ *Do not edit