[2020-06-04 00:24] MarileeTurscak-MSFT commented on #56068
@AmitavaHazra ,

You can add the customized piece under Azure Active Directory > branding.

![image](https://user-images.githubusercontent.com/13383753/83701500-a8a55c00-a5be-11ea-94c6-89d1c49e02c7.png)

From the FAQ:

Q: What parts of the password reset experience get branded when I set the organizational branding items in my directory's configure tab?

A: The password reset portal shows your org

[2020-06-04 00:24] #56068 closed

[2020-06-04 00:34] tardisdev opened #56334 "Clarity around the "appRoleAssignment" Target Attribute"
The documentation does not cover what key is used when defining/using the "appRoleAssignment" attribute:

Get-AzureADUserAppRoleAssignment returns three potential fields:
- ObjectID - objectID of the user or group assigned the role in the enterprise app.
- ResourceDisplayName - the name of the enterprise app.
- PrincipleDisplayName - the user or group name assigned role in the enterprise app.

Whi

[2020-06-04 00:41] bestcoder opened #56335 "Incorrect result described in step 9 of Create a sign-up and sign-in user flow topic"
[Enter feedback here]

Step 9 of the Create a sign-up and sign-in user flow topic states that, "A prefix of B2C_1 is automatically appended to the name." The prefix is actually **prepended** to the name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827

[2020-06-04 00:49] MGoedtel commented on #56137
@bajmming - Thanks for bringing this to our attention.  It should be Southeast Asia.  I've already responded to @kiazhi, who opened a PR for this to correct the region.  #in-progress.

[2020-06-04 00:50] MGoedtel commented on #56095
I reviewed the PR yesterday AM and approved.  Thanks for brining this to our attention and #please-close since this issue has now been resolved.

[2020-06-04 00:50] #56095 closed

[2020-06-04 00:50] asudbring commented on #41700
@dcasati can you clarify what you are asking?  The link to the article on creating a policy for public IP is in the next steps section

[2020-06-04 00:50] Mike-Ubezzi-MSFT commented on #56316
@CharmanderJieniJieni Thank you for bringing this to our attention. I have been attempting to retrace the information you provided and I am not seeing this notification, neither in the documentation nor in the portal itself. Is it possible for you to provide a link to this or take a screen capture as to where are you seeing this? I appreciate it...

[2020-06-04 00:52] bajmming commented on #56137
Thanks that's good to know :)

[2020-06-04 00:53] alexvy86 commented on #56128
@tamram I was using the latest version of the Azure CLI, through the official docker image. I tried again next day with the same image, and this time it worked. It seems like maybe there's some period of time right after creating a storage account, when it might not be possible to do a failover? (Even if the Last Sync Time has a value). I just realized I didn't mention it before, but this was a br

[2020-06-04 00:56] neeleshray-msft commented on #53940
@eduardohl @ArvindHarinder1
Apologies for the delayed response.
We have confirmation that the document has been updated with the current IPs needed.

We will be closing this thread now. Please reopen and Tag myself if you need further help.

[2020-06-04 00:56] #53940 closed

[2020-06-04 01:00] robinsh commented on #55619
The article with the overview of the bulk management that used to say you have to use a standard hub that was fixed is here:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-bulk-identity-mgmt
Let us know if you have any other questions. Thanks for bringing this to our attention, I'm sure it probably confused other people as well.
#sign-off

[2020-06-04 01:00] MGoedtel commented on #55073
@jtuliani - I see what you are taking about, specifically with the section Work with multiple subscriptions and the details supporting that section don't appear to be accurate (e.g. - the runbook uses the AzContext parameter.  This is wrong, its using the Get-AzContext cmdlet and assigning the results to $context variable.).  I'm bugging this and will see if I can fix in this sprint or will have t

[2020-06-04 01:00] jaysterp commented on #56067
Hi @pnarsi, can you please elaborate on your use case? Just want to make sure we have all the info before we go into workarounds.

[2020-06-04 01:00] #55073 closed

[2020-06-04 01:01] neeleshray-msft commented on #54483
@jlichwa
Apologies for the delayed response.
Yes, with MSIs Security Group would not work as it is a limitation at this time.

We will be closing this thread now. Please reopen and tag myself if you need further help.

[2020-06-04 01:01] #54483 closed

[2020-06-04 01:10] jaysterp commented on #56067
@pnarsi thanks for the feedback on the "trusted services" documentation with ACR. The "Registry encryption using customer-managed keys" scenario can use a registry system-assigned identity to  fetch secrets from a key vault that is behind a firewall. We can update the document to outline the transfer scenario here as well. @dlepow @sajayantony

[2020-06-04 01:13] MarileeTurscak-MSFT commented on #56135
@sachamicrosoft  it is unclear which article you are referring to.

I did make a pull request to add to the bing image search quickstart. https://github.com/MicrosoftDocs/azure-docs-pr/pull/117668

If you think more is required you can feel free to make a pull request to the document or create a new issue referencing the document.

[2020-06-04 01:13] #56135 closed

[2020-06-04 01:14] MarileeTurscak-MSFT commented on #56287
@BzSpi
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 01:16] Mike-Ubezzi-MSFT commented on #56333
@chwarr Thank you for taking the time to make us aware of such a minor detail. It is greatly appreciated. This has been corrected and will be published in the next 24hrs.

[2020-06-04 01:16] Mike-Ubezzi-MSFT commented on #56333
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-04 01:16] #56333 closed

[2020-06-04 01:18] MarileeTurscak-MSFT commented on #56306
@reconluke
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 01:19] RyanHill-MSFT commented on #56312
Thanks for the feedback @simondmorias! We are currently investigating and will update you shortly.

[2020-06-04 01:30] MGoedtel commented on #56148
@dcbrown16 - Thanks for raising this.  This is a recent change to Azure RPs and I'll be updating/rewriting this article in our next sprint, because it also includes storage accounts and sending via Event Hub.  #please-close

[2020-06-04 01:30] #56148 closed

[2020-06-04 01:31] javester opened #56337 ""FileShareQuota" metric no longer working"
Get-AzMetric -MetricName "FileShareQuota" -etc

Get-AzMetric : Exception type: ErrorResponseException, Message: Microsoft.Azure.Management.Monitor.Models.ErrorResponseException: Operation returned an invalid status code 'BadRequest'
   at Microsoft.Azure.Management.Monitor.MetricsOperations.<ListWithHttpMessagesAsync>d__5.MoveNext()

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-06-04 01:41] CharmanderJieniJieni commented on #56304
Thanks Mike, I looked further, the problem is not related to
ingest variable, if you only  put one row in the command you should be able
to replicate the issue

Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline `
     -ResourceGroupName $rgname `
     -ServerName $serverName `
     -DatabaseName $databasename `
     -RuleId "VA2108" `
     -BaselineResult @( 'Principal1' , 'db_ddladmin', 'SQL_U

[2020-06-04 01:42] femsulu commented on #55814
Sorry for the delay @crisansou. Try putting "Hello world test"  on it's own line in the script.
Here's the related [content](https://docs.microsoft.com/en-us/azure/automation/automation-runbook-output-and-messages#use-the-output-stream) for your reference.

![image](https://user-images.githubusercontent.com/34327711/83705502-fa9faf00-a5c9-11ea-99c2-64447f327a41.png)

[2020-06-04 01:43] GiftA-MSFT commented on #56172
@mlda065 this seems to be an issue with package version 0.6.0. As a workaround please try installing version 0.5.0. You can track updates [here](https://github.com/Azure/azure-sdk-for-python/issues/11656).
`pip install azure-cognitiveservices-vision-computervision==0.5.0`

[2020-06-04 01:43] #56172 closed

[2020-06-04 01:43] femsulu commented on #55814
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-04 01:43] #55814 closed

[2020-06-04 01:45] rriley99 opened #56339 "More examples of Escape Characters"
Is there away to escape characters such as [ or single/double quotes? The example for "@@" does not explain if this is only the case for @.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functi

[2020-06-04 01:48] Hazhzeng commented on #55884
Thanks @rbudzko for looking into the issue. You assumption is exactly correct. We do require AzureWebJobsStorage point to an existing storage account to generate the SCM_RUN_FROM_PACKAGE placeholder.

[2020-06-04 01:49] Hazhzeng commented on #55884
Hi @SeaDude, are you still seeing the issue, in our first party support tools (e.g. Portal, Azure CLI), they should create a function app with AzureWebJobsStorage app setting in it. If you don't mind, please share the tools you use for creating the function app. Thanks.

[2020-06-04 02:03] b-juche commented on #48373
Didn't get a response.  Closing this issue for now.  Please reopen if needed.

#please-close

[2020-06-04 02:03] #48373 closed

[2020-06-04 02:06] SwathiDhanwada-MSFT commented on #56308
@SquirrelAssassin  Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-04 02:07] sushruth opened #56340 "Allow customization of the auto-generated subdomain name"
[Enter feedback here]

Please allow us to customize the auto-generated subdomain name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 190b1ed3-0712-2f19-4e8f-a2a8519d136e
* Version Independent ID: b02adbf4-d2a8-6c84-e70a-ff59fb3cbb7b
* Content: [Setup a custom domain in Azure Static Web Apps](https://docs.microsoft.com

[2020-06-04 02:07] dpapkin commented on #51057
Hello, what is the status of updating this article? I am teaching Azure courses and the Cloud Editor is important to know.Using nano can paste hidden characters from Windows web page code that is copied and pasted. I know everyone is busy but this is important for students to know who are taking Azure classes. Thank you.

[2020-06-04 02:16] BharathNimmala-MSFT commented on #56337
@javester Thank you for bringing this to our notice, we will look into it and update the document accordingly.

[2020-06-04 02:21] andrepodnozov commented on #55619
Thanks! Looks like the fix hasn't propagated to the doc page yet. Do you know when I'll be able to see the change in the docs?

[2020-06-04 02:34] KranthiPakala-MSFT commented on #56329
HI @grayluck Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-06-04 02:47] deborahc commented on #56158
There is no impact to consistency when using autoscale. @SnehaGunda - can you help out with a doc update?

[2020-06-04 02:56] elvirk opened #56343 "Create Resour Group - Template issue"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb47179-04d1-7d43-23e0-6203a2bf9d6e
* Version Independent ID: b84265b8-2c7d-6b0a-7f9f-b6332e4368db
* Content: [Deploy resources to subscription - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-t

[2020-06-04 02:57] kamaljit-1991 commented on #55839
@Mike-Ubezzi-MSFT in the documentation it's written that azure supports primary key but it's not letting it drop it, so this feature is partial and there is no mention of this in documentation. So in a way it is related to documentation too. `But I just wanted to know is there any issue got created anywhere else to track this ??` Because one of our projects got blocked because of this and we won't

[2020-06-04 03:00] elvirk commented on #56343
I'm trying to create Resource Group using ARM template and following "Create Resource Group" section on this page. So I created Json file:
{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "rgName": {
      "type": "Practice-RG"
    },
    "rgLocation": {
      "type": "East US"
    }

[2020-06-04 03:04] vipulsparsh commented on #55589
@ThijsLecomte  Let me know if you have any further questions. I will closing this thread if I don't get any response from you. we will re-open it once you have added a new comment.

[2020-06-04 03:06] vipulsparsh commented on #55879
@bsocca Let us know if you have any further questions, we will be glad to help. Also we will be closing this thread, feel free to comment if you need any clarification.

[2020-06-04 03:07] SwathiDhanwada-MSFT commented on #56343
@elvirk  Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-04 03:08] vipulsparsh commented on #56071
@omarmallat Let us know if you have any further question. We will be closing this thread, so please comment if you need further assistance.

[2020-06-04 03:11] Mike-Ubezzi-MSFT commented on #55839
@kamaljit-1991 Opening a support request is the process a customer would use to track this issue as I had suggested to @jagarg. I do have an email to the product group to raise this as a product-bug. If you open a support request, you are directly engaged with support and provided a timeline.  The internal tracking reference is the following: https://msazure.visualstudio.com/One/_workitems/edit/73

[2020-06-04 03:37] mike-urnun-msft commented on #55884
@SeaDude Since this channel is for driving improvements towards MS Docs and we didn't determine any changes for this documentation upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-04 03:37] #55884 closed

[2020-06-04 03:39] CharmanderJieniJieni commented on #56316
Hi Mike,

Never-mind, I found the according ARM template to do this. can be closed

[2020-06-04 03:39] #56316 closed

[2020-06-04 03:43] neeleshray-msft commented on #54835
@Staubi999
Apologies for the delayed response.

When you invite a User to the Tenant, they are by design default added as Guest User.

However, you can customize the invites using Azure AD B2B Collaboration APIs.
Example:
`"invitedUserDisplayName": "Henry"
"invitedUserEmailAddress": "henry@contoso.com"
"inviteRedirectUrl": "https://myapps.microsoft.com/"
"sendInvitationMessage": true
"customizedMe

[2020-06-04 03:44] neeleshray-msft commented on #55571
@iainfoulds Please look into the same

[2020-06-04 03:46] pnarsi commented on #56067
@jaysterp  - I am part of a Cloud standardization team working on reviewing various Azure PaaS services (including ACR) against the corporate Cloud Security standards for my company. As part of this exercise I am investigating the various ACR features that the various projects may want to utilize so that it can be included in our Cloud Standards as an endorsed pattern (assuming it meets our securi

[2020-06-04 03:48] Mike-Ubezzi-MSFT commented on #56316
@CharmanderJieniJieni Thank you for the update.

[2020-06-04 04:06] neeleshray-msft commented on #56053
@curtand Please check on the same

[2020-06-04 04:16] RTTrickster opened #56345 "API permissions for external AAD Groups"
The API permissions defined under the section 'https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#add-an-external-azure-ad-group' does not work as written.

If you follow instructions as written, then attempt to add an AAD Group in API Manager, you will get the error message 'Unable to fetch AAD groups from Microsoft Graph.'

If you add the API permission 'Azure Active

[2020-06-04 04:20] SwathiDhanwada-MSFT commented on #56343
@elvirk You can use below template to deploy the resource group.

`{
    "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "rgName": {
            "defaultValue": "Practice-RG",
            "type" : "string"
        },
        "rgLocation": {
             "defaultValue": "EastUS",

[2020-06-04 04:21] VikasPullagura-MSFT commented on #55818
@vikancha-MSFT Thanks for updating the document.

@mbiver I will now proceed to close this issue. As you are part of the email conversation, please feel free to continue the conversation on email if there are any further questions on this.

[2020-06-04 04:21] #55818 closed

[2020-06-04 04:26] VikasPullagura-MSFT commented on #56218
@vikaskumawat80 Any update on the issue?

[2020-06-04 04:26] VikasPullagura-MSFT commented on #56124
@sakthi-vetrivel Thanks for sharing the details.

[2020-06-04 04:40] Mike-Ubezzi-MSFT commented on #56304
@CharmanderJieniJieni

Yes, this is reproducible. The correct course of action would be to file an issue against the [Azure Docs PowerShell](https://github.com/MicrosoftDocs/azure-docs-powershell/issues) repository and reference this issue along with the PowerShell cmdlet ([Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline](https://docs.microsoft.com/en-us/powershell/module/az.sql/Set-azSqlData

[2020-06-04 04:43] SaurabhSharma-MSFT commented on #55478
@davida1992 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-04 04:43] #55478 closed

[2020-06-04 04:48] vipulsparsh commented on #56234
@lleonr202 This is a preview feature and might have variation in results when you use What if tool.
As a workaround can you try using the Named Preview with any of the other older named location under the trusted location to see if your new policy get applied.

This will most probably get corrected when the new named location goes GA.

[2020-06-04 04:51] jordanbean1 opened #56347 "Nested ARM template parameters not supported"
The example for pulling secrets from a KeyVault at deployment time using a nested ARM template doesn't work because nested ARM template parameters are not supported.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/key-vault-parameter?tabs=azure-cli#reference-secrets-with-dynamic-id

This has been an open UserVoice issue for a long time.

https://feedback.azure.com/forums/2

[2020-06-04 05:07] SwathiDhanwada-MSFT commented on #56308
@SquirrelAssassin That's a valuable feedback. Currently , this functionality of one node to be used across multiple automation accounts is not supported. However, I also would recommend you to navigate [here](https://feedback.azure.com/forums/246290-automation/suggestions/33608410-utilize-the-same-automation-hybrid-runbook-workers) and share your feedback or suggestions directly with the responsib

[2020-06-04 05:24] mumami commented on #49637
@sujayvsarma If you are looking at retail rates then i would suggest querying this API
https://prices.azure.com/api/retail/prices
Please let me know if you have any questions on this.
I will work with the team responsible for RateCardAPI and make sure it's updated

[2020-06-04 05:25] Dev-ML11 commented on #56048
I have come across a few services where their prices aren't matching, here are few scenarios that I have encountered.
1. App Service with below configurations in both Pricing Calculator and Rate Card API is varying in case of SSL Connections:  
![AppService](https://user-images.githubusercontent.com/34642467/83717997-beb02c80-a651-11ea-9a85-f9689304216e.PNG)

Rate Card API Data from SSL Connection

[2020-06-04 05:28] sujayvsarma commented on #49637
@mumami - Where do I find documentation about this? Or is this one of the undocumented things in Azure?

[2020-06-04 05:29] AlexanderSaad opened #56348 "Invite gmail.com users"
Hi,
There is nothing mentioned about Gmail users or other users without Microsoft Accounts or Azure AD accounts.
I tried sharing an access package by adding Gmail.com in the connected organisations, but when a Gmail user signs in, they do not see any packages listed in the view.
Could you please add more information about the behaviour and if this is a supported scenario?
Thank you.

---
#### Docu

[2020-06-04 05:31] mumami commented on #49637
@sujayvsarma Thanks for the quick response. I'm gave you a private preview version of the API that is slated to go live in Aug. I'm also working on a public preview version of the API coming up in July and will have documentation along with it.  If there are specific questions on the API, please do let me know.
Also, please do let me know your use case so that i can answer your questions in a bett

[2020-06-04 05:42] sujayvsarma commented on #49637
Ah. Thank you. This is very useful yes. I need the following to be possible via this API [if possible]:

1. Query only specific currency.

2. Query only specific SKU

3. Limit 1 & 2 by specific region.

So, if I can send you a GET/POST body with:

[code]

While at it, I see from the data returned currently, it is hard to map the values to something we "already know". It would be great if the API's

[2020-06-04 05:55] reddyeshwar17 commented on #56253
I am following the microsoft docuemts available here

https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows

Create sample project by following the above link and published successfully. But the IotEdgeModule1 is never running. And if I check this on edge device  I can see this error

=>iotedge logs IotEdgeKickModule1

module runtime error occurred
caused by: Could not get l

[2020-06-04 06:05] VikasPullagura-MSFT commented on #56124
@FY0323
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-04 06:05] #56124 closed

[2020-06-04 06:07] VikasPullagura-MSFT commented on #56327
@VidyaKukke
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-04 06:07] VikasPullagura-MSFT commented on #56327
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-06-04 06:08] abhisheksopra commented on #56266
Asked here:
https://docs.microsoft.com/en-us/answers/questions/31904/how-to-use-dynamic-values-in-pagination-rule-azure.html

[2020-06-04 06:21] Sharmistha-Rai commented on #22018
The documentation to include variable value for both failback and failover has been updated.

[2020-06-04 06:28] VikasPullagura-MSFT commented on #56007
@rrg92 Apologies in delayed response.

16x500 means 500 IOPS per disk up to 16 disks.

It’s documented as 16x500 and NOT as 8000 because
(a) If you have less than 16 disks you only get 500 for each disk.
(b) The IOPS have to be evenly distributed (you can’t do 250 IOPS on one and 750 IOPS on another).

I have shared your feedback on the doc enhancement with the doc authors and team is looking into

[2020-06-04 06:45] luisjmlky commented on #55010
Perfect, thx @MartinJaffer-MSFT
________________________________
De: MartinJaffer-MSFT <notifications@github.com>
Enviado: jueves, 4 de junio de 2020 0:37
Para: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: luisjmlky <luisjmlky@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [MicrosoftDocs/azure-docs] Error reviewing in the portal the InputDataset (#55010)

@luisjmlky

[2020-06-04 06:55] atcaoyufei opened #56349 "Need admin approval"
![](https://cdn.jsdelivr.net/gh/IMGRU/IMG/2020/06/04/5ed8995b2e178.png)

![](https://cdn.jsdelivr.net/gh/IMGRU/IMG/2020/06/04/5ed89a04c703a.png)

![](https://ae01.alicdn.com/kf/H93f5d701fcaf43ea82abf38e2a1e236fv.jpg)

[2020-06-04 06:56] bsocca commented on #55879
Hi @VipulSparshMSFT,

Thanks for your feedback.
Following the same steps as you :

   - Go to https://mysignins.microsoft.com/security-info
   - Select Add Method -->  *I do not have the Alternate Phone option
   available*

[image: image.png]

I use the combined security information registration experience : do you
have it in your lab ?
I notice that in another Azure AD tenant where this combined

[2020-06-04 07:01] fgheysels opened #56350 "Authenticate via MSAL to TSI instead using ADAL"
The documentation contains an example which shows how TimeSeriesInsights (preview) can be queried.
The sample uses ADAL to retrieve the access token.   I wonder if it would be possible to also provide an example on how to use MSAL to retrieve the access token for querying TSI.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-04 07:03] #56350 closed

[2020-06-04 07:04] fgheysels opened #56351 "Authenticate to TSI (payg) via MSAL instead of ADAL"
The documentation contains an example which shows how TimeSeriesInsights (preview) can be queried.
The sample uses ADAL to retrieve the access token.   I wonder if it would be possible to also provide an example on how to use MSAL to retrieve the access token for querying TSI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-04 07:05] Benjiiim commented on #52028
Any news on this one?

[2020-06-04 07:08] PhilipAnthonyMurray commented on #56169
Thanks @JamesTran-MSFT for the information.

I can see that the article talks around generating SAS tokens but does not talk about if these tokens are regenerated. As per the normal SAS token mechanism an expiry day is applied to the SAS token at which time it becomes unusable.

As far as the Storage Account access key rotation is concerned having this surfaced within Key Vault would "close the lo

[2020-06-04 07:12] bsocca commented on #56208
Hi @MicrosoftGuyJFlo ,

Thanks for your answer, make sense.
IMHO a valuable information would be a decision tree with different uses cases possible, with which option to handle interactive user authentication is applicable (Sign In Frequency / Persistent browser session), depending on type of devices (Registered / Join / Nothing), type of client (Browser based / Modern Auth compatible), target app

[2020-06-04 07:13] AndresPineros commented on #19184
If you associate a public IP to a NIC, you'll magically have internet access. This means there's no concept of private and public subnets in Azure. In AWS the difference between a private and a public subnet is the routing rule that sends all non-internal traffic to an internet gateway. This means in Azure every subnet is a public subnet because VMs have the potential to use a public IP anytime by

[2020-06-04 07:14] vipulsparsh commented on #55879
@bsocca Yes, I have enabled the combined registration. See below :
![image](https://user-images.githubusercontent.com/63580915/83725931-646a9800-a660-11ea-8351-f650f3356293.png)

When I dont have added anything, I see these options :
![image](https://user-images.githubusercontent.com/63580915/83725817-31280900-a660-11ea-962f-9991c143a9e3.png)

You should be getting these options even when you have

[2020-06-04 07:19] bsocca commented on #55879
Ok @vipulsparsh I will do that.
Thank you

[2020-06-04 07:19] #55879 closed

[2020-06-04 07:20] vipulsparsh commented on #56090
@jeevansd  Can you look into this ? Thanks.

[2020-06-04 07:20] amanmcse commented on #56056
@RonnieQuan Closing the thread now. Feel free to tag me in your reply if you have any question.

[2020-06-04 07:20] #56056 closed

[2020-06-04 07:23] kimlundjohansen commented on #55862
Thanks. I can also add that my additional findings revel that:

1. The Azure Data Factory deployment task needs a leading and trailing bracket in the trigger json properties because it strips them away if present.

So the current output:

"PackData_NY_properties_PackDataSync_NY_parameters_tableList": { "value": [ { "SourceTableName": "[[data].[HourByHour]", "TableName": "[[NY].[HourByHour]", "Wate

[2020-06-04 07:25] vipulsparsh commented on #56330
@verbedr Thanks for reaching out. We will investigate and update on this.

[2020-06-04 07:26] ignaciofls opened #56352 ""Update the TLS/SSL certificate" extended details needed"
In Update the TLS/SSL certificate section some key information is missed about renewal cycles and what is expected to change:

Based on conversation with devs we could create more clarity with "If certificate is still valid and you update it 70 days before expiration, renew operation with not change anything. But if your certificate is going to expire within 70 days, renew will laydown the renewed

[2020-06-04 07:32] vipulsparsh commented on #56317
@steele6599 Thanks for reaching out, we will investigate and update

[2020-06-04 07:33] vipulsparsh commented on #56348
@AlexanderSaad Thanks for reaching out, we will investigate and update.

[2020-06-04 07:36] vipulsparsh commented on #56322
@iaasazure  Thanks for reaching out, we will investigate and update you.

[2020-06-04 07:37] TravisCragg-MSFT commented on #55881
@Herman5006 I have updated the docs with this info, and they should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-04 07:37] #55881 closed

[2020-06-04 07:38] vipulsparsh commented on #56335
@bestcoder Thanks for highlighting that to us. We will investigate and update accordingly.

[2020-06-04 07:49] TravisCragg-MSFT commented on #55928
@hisasima The SNAT is not dynamic, it happens as discussed in the doc with basic load balancers, and is static.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-04 07:49] #55928 closed

[2020-06-04 08:01] jschwellnus92 opened #56353 "Property Copy Not Working"
Hi Folks!

I have used a property copy before with no issues however today am struggling with it. As far as I can tell I am doing everything correctly. The error I am receiving is:

Here is the template and parameter file for reproduction:
[parameters.repro.txt](https://github.com/MicrosoftDocs/azure-docs/files/4728447/parameters.repro.txt)
[template.repro.txt](https://github.com/MicrosoftDocs/azu

[2020-06-04 08:02] RohitMungi-MSFT commented on #56352
@ignaciofls Thanks for the inputs. @aashishb Can this information be reviewed and added to the documentation for SSL/TLS section?

[2020-06-04 08:13] bhushang19 commented on #44425
Documentation is hugely confusing when it comes to configuring the SSL with back-end specially when using the self signed certificates with V2 tier. @oising has done a fantastic job of explaining it here on this thread and hope MS makes the documentation clear with instructions to get this working.

Tried all the steps mentioned by @oising as below

- generated self signed wildcard domain certific

[2020-06-04 08:16] RohitMungi-MSFT commented on #56252
@Blackmist Can this be reviewed and added to your backlog for an update? The SDK for azureml.monitoring says it will be retiring soon but the page is old too. Can the image be updated to use the app insights instead?

[2020-06-04 08:23] anandmrya opened #56355 "What is size of local disk in Azure Databricks?"
[Enter feedback here]
As mentioned in docs to perform random writes first write to local disk then copy to dbfs mount location.
But I want to know what is the size of local disk is it size of driver node or is it combined size of driver + worker node or it is different altogether?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-06-04 08:25] neeleshray-msft commented on #56322
@MicrosoftGuyJFlo Please confirm on the same

[2020-06-04 08:32] TomGeske commented on #50983
I just made a PR in our docs to include a refrence for secret rotation. Should be published soon.

[2020-06-04 08:36] JessAtrust commented on #55580
VikasPullagura-MSFT
Thank you for your update.
Do you have information about WVD Linux SDK available?

[2020-06-04 08:39] evertonmc commented on #53738
@lfittl-msft and @NavtejSaini-MSFT. Sorry for the delay. Finally got the chance to test this, without success.
`psql: error: could not connect to server: FATAL:  password authentication failed for user "zzz@yyy"`

[2020-06-04 08:47] smoms commented on #42866
this is quite bad not to have in the doc. We've lost 3 days!!

[2020-06-04 08:48] nkumars opened #56356 "B2C Custom Policy: Invalid child element 'SingleSignOn', 'SessionExpiryType'"
From the RelyingParty document I tried to follow everything with an additional set of elements that customize our login session time.

Here is my sample policy code I added:
[code]
Unfortunately this is throwing me the below exception:

Are these really available for usage?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-04 08:48] vipulsparsh commented on #56334
@tardisdev  Thanks for reaching out. We will investigate and update on this.

[2020-06-04 08:49] harisubramaniam1 commented on #56158
@deborahc and @NavtejSaini-MSFT Thanks for confirming

[2020-06-04 08:55] femsulu commented on #22018
#please-close

[2020-06-04 08:55] #22018 closed

[2020-06-04 08:58] nkumars opened #56357 "B2C Custom Policy: Logging complete error details into Application Insights"
Please explain the way to configure our custom policies logging complete error details in the User Journey. I could only see below error even after setting from the document.
![image](https://user-images.githubusercontent.com/7982858/83736509-5b34f780-a66f-11ea-8a38-228d455d7da9.png)

The same is seen in Application insights too.
![image](https://user-images.githubusercontent.com/7982858/83736672-

[2020-06-04 09:06] memildin commented on #56179
Thanks for this feedback, @priyankareddy20
I've fixed the table and the change will be live within 2 days.
#please-close

[2020-06-04 09:06] #56179 closed

[2020-06-04 09:09] AjayKumar-MSFT commented on #56340
@sushruth,  This is a good feedback. Thanks for taking time to share your valuable feedback!

By default, for any Azure resource/services you provision by design a predefined sub domain name relevant to that specific service name is appended.
For example, as in the case of Azure WebApps -  ‘. azurewebsites.net’ domain name is added and there was [similar feedback](https://feedback.azure.com/forums

[2020-06-04 09:17] TomGeske commented on #53073
We are currently working on enabling user assigned MI for control plane MI. It will allow you creating an MI to setup appropriate permissions ahead of cluster creation. Once done you can use that MI during az aks create.

Roadmap item can be found [here](https://github.com/Azure/AKS/issues/1591).

[2020-06-04 09:18] souravmishra-msft commented on #56021
@simo-92, Thank you for reaching out. To clarify things and to make sure I understand the scenario correctly I am re-iterating the main points:

- Front end application is developed in AngularJS
- Front end application calls a backend WebAPI developed using ASP .net core.
- The frontend app and backend API, is registered in AAD and the backend API is also exposed as an API in AAD.
- The backend AP

[2020-06-04 09:18] VikasPullagura-MSFT commented on #55580
@JessAtrust I don't have any insights on the ETA.

[2020-06-04 09:20] kennethvs opened #56358 "Missing translation between Risks and Risk levels"
[Enter feedback here]
I can't seem to find any information about how risks are classified in risk levels, f.e.

Sign in from unfamiliar location is risk level medium
Users with leaked credentials is risk medium high
etc..

If this is documented, then at least a link to that documentation page would be handy.

/Kenneth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-04 09:24] Jonathan-Nuttall opened #56359 "Requires Azure AD paid subscription or trial there of"
This document does not specify that the Azure AD needs to be a paid subscription or trial of the paid subscription. This simply does not work with the free Azure AD subscription.

It would be **very nice** to have this included for free especially for the educational establishments for whom the paid Azure AD Subscription is typically outside of there means.

especially given the current pandemic,

[2020-06-04 09:26] Gerould commented on #54757
Hi @SumanthMarigowda-MSFT,
As you said the pull request has been initiated but how do we know when it's solved?
I have checked the Get started with AzCopy document (https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10) but the commands of the section "Authenticate a service principal" -> "Using a certificate" are not updated. I have tried to add the parameter --application-

[2020-06-04 09:29] femsulu commented on #47948
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-06-04 09:29] #47948 closed

[2020-06-04 09:31] souravmishra-msft commented on #56092
@Dustefan, Thank you for bringing this to us. We have created a pull request for this ask and have added a Note in the doc. you can expect the new changes to be visible, once the PR gets approved.
Also note that this thread would auto-close once the PR gets approved.

[2020-06-04 09:33] manish-95 opened #56360 "Setting the Connection property for QueueTrigger from Azure App Configuration"
I'm using the Azure App Configuration to obtain all configuration values. However, the QueueTrigger Connection property looks in the App Settings of the Function App. Is there a way to obtain the value of Connection property, from the Azure App Configuration, and not have it look in the function App Settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-06-04 09:34] sushruth commented on #56340
I think that answer was a bit confusing. I will take it up in the static-web-apps repo. Thanks.

[2020-06-04 09:34] #56340 closed

[2020-06-04 09:40] souravmishra-msft commented on #56034
@HoussemDellai, Unfortunately CLI support for adding Guest users by sending them invitations is yet not available. the only supported cli cmdlets for users are the following:

![image](https://user-images.githubusercontent.com/54057592/83741088-5ecb7d00-a675-11ea-8598-3b851c8d327d.png)

You can find more details here:
https://docs.microsoft.com/en-us/cli/azure/ad/user?view=azure-cli-latest#az-ad-u

[2020-06-04 09:52] SwathiDhanwada-MSFT commented on #56353
@jschwellnus92 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-04 09:53] #55589 closed

[2020-06-04 09:57] vipulsparsh commented on #56358
@kennethvs Thanks for reaching out. We will look into this and get back to you.

[2020-06-04 10:01] techsaau commented on #47738
@jonathanclarke They told me that its an open issue  #1178 at their end which will be fixed in newer version of Kubernetes

[2020-06-04 10:11] VikasPullagura-MSFT commented on #56331
@nikoskip
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-04 10:21] SubhashVasarapu-MSFT commented on #56310
@ezYakaEagle442 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-04 10:23] hiscjo01 opened #56362 "Azure Kubernetes missing from Naming Rules and Best Practice"
Page does not include any references to the Azure Kubernetes Service.
It is also excluded from the naming and tagging best practice article:

https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/naming-and-tagging

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c

[2020-06-04 10:24] SubhashVasarapu-MSFT commented on #56318
@ibrahimalihc ,  We are looking into this query and will update you as soon as possible.

[2020-06-04 10:24] amergey commented on #50063
Is it something that can be enabled at Publisher/Offer/Plan level ? I cannot find anything related to this in partner portal

[2020-06-04 10:26] SubhashVasarapu-MSFT commented on #56323
@milesfrain , We are looking into this query and will update you as soon as possible.

[2020-06-04 10:29] #56071 closed

[2020-06-04 10:30] SubhashVasarapu-MSFT commented on #56339
@rriley99 , We are looking into this query and will update you as soon as possible.

[2020-06-04 10:35] dcurwin commented on #54213
Thanks for your comment. We've added the step to the special configurations section as well.

#please-close

[2020-06-04 10:35] #54213 closed

[2020-06-04 10:36] SubhashVasarapu-MSFT commented on #56332
@eshupps , We are looking into this query and will update you as soon as possible.

[2020-06-04 10:44] CondeVinci opened #56363 "Article typo"
Procedure - Initial Steps
Step 6 & 7 are the exact same steps

Select the resource group where you want to move your key vault
Select the resource group where you want to move your key vault

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c0970b2-3ec4-2222-0080-0fcb1249c5e6
* Version Independent ID: 1d3c2a12-d0ce-7839-

[2020-06-04 10:50] evertonmc commented on #53738
I managed to login by using the role name as user `role-name@db-name`
e.g.
`CREATE ROLE "test-devs" WITH LOGIN PASSWORD 'groupOID' IN ROLE azure_ad_user;`

then with a PGPASSWORD from a member of this `groupOID`
`psql "host=test-pg.postgres.database.azure.com port=5432 dbname=postgres user=test-devs@test-pg sslmode=require"`

[2020-06-04 10:52] SychevIgor opened #56364 "Video on a page require significant renewal"
Video was recorded about 4+ years ago, when portal was in a preview.
UX, navigation had changed so dramatically, that it's almost impossible to recognize that it's the same cloud.
Please, update this video with latest features review and positioning of elastic pool in a current azure storage portfolio (SQL ServerLess, VCore model, MySQL and etc)
![image](https://user-images.githubusercontent.com/5

[2020-06-04 11:05] HWouters commented on #55059
@matjanos I have experienced the same issue. It seems the claims requested by a refresh token are never updated. Notice it's not only the case with claims requested by rest api, but also with build in claims like displayname. If you change the displayname in ad, it won't update the name claim in your idtoken. When you display the name of the signed in user in your application it will always show t

[2020-06-04 11:08] alvipeo opened #56365 "There's no such thing as "Accounts in any organizational directory (Any Azure AD directory - Multitenant) and personal Microsoft accounts (e.g. Skype, Xbox)""
There are 3 options exactly now:

 - Accounts in this organizational directory only
 - Accounts in any organizational directory (Any Azure AD directory – Multitenant)
 - Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2C

So which one should be selected? Please specify exactly.

Or even better = NUMBER THIS LIST and just use numbers!

---

[2020-06-04 11:10] hofmannma opened #56366 "76sapha-gen2 missing in marketplace"
76sapha-gen2 is missing in marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98dae3fd-1714-918b-1c03-7cc25bf5acf9
* Version Independent ID: c958b3df-9826-e187-d276-d56b8d09ddec
* Content: [Red Hat Enterprise Linux images in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat

[2020-06-04 11:12] souravmishra-msft commented on #56363
@CondeVinci, Thank you for pointing this out. We are looking into this and will update the doc accordingly.

[2020-06-04 11:13] souravmishra-msft commented on #56365
@alvipeo, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-06-04 11:19] souravmishra-msft commented on #56092
@MicrosoftGuyJFlo, It would be great if you can check this thread out and update it accordingly.

[2020-06-04 11:22] stspinu commented on #56272
this is the link that I was using -> https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftclassicstoragestorageaccountsfileservices

Will FileShareQuota be modified to FileShareCapacityQuota ?

Thanks!

[2020-06-04 11:28] alvipeo commented on #56365
Also, please add the following:

"If you use b2clogin.com endpoint your Redirect URI must follow same pattern: https://<tenant>.b2clogin.com/<your-tenant-ID>/oauth2/authresp".

[2020-06-04 11:38] SychevIgor opened #56367 "It's no longer in "limited preview""
Job Agent is not in a "limited preview" anymore.
https://docs.microsoft.com/en-us/azure/azure-sql/database/saas-tenancy-schema-management#elastic-jobs-limited-preview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147615a4-3444-cd43-15b2-24b532493753
* Version Independent ID: 4279c5f3-631c-473d-a469-1da782d1bcf5
* Cont

[2020-06-04 11:40] ThijsLecomte commented on #55589
Hi @vipulsparsh
IT machines with the MachineGuid indeed.
![image](https://user-images.githubusercontent.com/42153270/83752450-dcd55700-a668-11ea-99f2-c72a345ee3e4.png)

But it doesn't match with any Intune/AAD Device ID
![image](https://user-images.githubusercontent.com/42153270/83752497-eeb6fa00-a668-11ea-938a-07d3b4a36842.png)

[2020-06-04 11:44] BenWhite27 opened #56368 "OneDrive Files on Demand"
FSLogix Profile containers should mention that OneDrive files on demand is only supported when the VolumeType setting is set to "vhdx"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75645943-4897-bc27-18da-c88c35446411
* Version Independent ID: 6e56fa5f-22fe-44b3-d333-1fbcdb69e808
* Content: [Windows Virtual Desktop FS

[2020-06-04 11:47] crisansou commented on #55814
Hello,

Now it's working again, has Microsoft fixed the problem?

![image](https://user-images.githubusercontent.com/29444086/83752935-c23ab800-a63f-11ea-93fe-5a076fbd3aa4.png)

![image](https://user-images.githubusercontent.com/29444086/83752972-cff03d80-a63f-11ea-90f4-614ffb5d92d4.png)

Best regards,
Cristina

[2020-06-04 11:57] vipulsparsh commented on #55589
@ThijsLecomte  I believe this would need more deeper investigation. Can you raise a support ticket with us and investigate it there.

[2020-06-04 11:58] SwathiDhanwada-MSFT commented on #56362
@hiscjo01 Thanks for your feedback. Assigning the issue to content author @tfitzmac  for doc enhancement.

[2020-06-04 11:58] SwathiDhanwada-MSFT opened #56369 "Include advanced queries"
As mentioned in [this](https://azure.microsoft.com/en-us/blog/root-cause-analysis-with-in-query-machine-learning-in-application-insights-analytics/) blog post, kindly include the advanced kusto queries in the document for reference.

![image](https://user-images.githubusercontent.com/48976275/83753617-4022b180-a688-11ea-9ac0-31f0f4f2a4dd.png)

---
#### Document Details

⚠ *Do not edit this section

[2020-06-04 12:03] SwathiDhanwada-MSFT commented on #56369
Assigning to content author @vgorbenko for doc enhancement.

[2020-06-04 12:08] bohleadam opened #56370 "Clarification on site vs vCenter"
The first paragraph of this article highlights that HCX Advanced is limited to "Three sites" That should state "Three vCenters" for HCX Advanced as stated here

https://assets.contentstack.io/v3/assets/blt58b49a8a0e43b5ff/blt1c9c6bbe1cd2297d/5e156387f5916f4381bca953/Licensingguide.pdf

It's important to make the distinction between sites and vCenters as one physical site could have multiple vCente

[2020-06-04 12:14] ThijsLecomte commented on #55589
I have ceated a case @vipulsparsh , any way I can share the support ticket with you in a private message so that you can share the insights you have already found here?

[2020-06-04 12:14] YassineSOUABNI opened #56371 "For more clarity, please replace "domain joined" by more precise "hybrid Azure AD Joined""
[Enter feedback here]

For more clarity, please replace "domain joined" by more precise "hybrid Azure AD Joined" inside this sentence : "When a cloud proxy is in place, a policy that is used to require a domain joined device can be used, or the inside corpnet claim from AD FS."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-04 12:15] YassineSOUABNI commented on #56371
As the "labeling" inside the Conditional Access has changed since months/over year to reflect "Hybrid Azure AD Joined".

[2020-06-04 12:17] jschwellnus92 commented on #56353
Hi @SwathiDhanwada-MSFT it appears I have wasted your time and made a simple typo of 'intput' instead of 'input'. I spent an embarrassing amount of time trying to get this to work. Please accept my apologies.

[2020-06-04 12:17] #56353 closed

[2020-06-04 12:19] saikumarellendula opened #56372 "Data validation functions availbility"
[Enter feedback here]
HI,

Could you let us know are there any datatype validations functions like isInteger(),IsDate(Format),isDouble etc.. in ADF. Please provide a workaround if possible

Thanks,
Saikumar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fef9ea1-5a72-4212-da99-54d2cdd81d37
* Version Independent ID: 48f

[2020-06-04 12:22] SwathiDhanwada-MSFT commented on #56353
Its fine @jschwellnus92 . Always glad to assist you.

[2020-06-04 12:22] pascaldewild opened #56373 "The form is closed?"
[Enter feedback here]
The link to the whitelist form is closed? Is there something wrong in the link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 239bd058-aaf2-e8d8-9073-abd6e90ae803
* Version Independent ID: 42a61480-d284-0189-4548-383a3833f930
* Content: [Register for Azure NetApp Files](https://docs.microsoft.com

[2020-06-04 12:23] nkumars opened #56374 "Cusom B2C Policy: SAML Signed request sample"
Thanks for the beautiful documentation explaining every single step setting up a SAML custom policy in our tenant. It did work to me as expected. But I see there is a gap making the requests and responses more secured by signing them. I couldn't find any document explaining how can I sign a SAML request that B2C policy can validate and further continue with Signin process.

While your sample highl

[2020-06-04 12:28] jagarg commented on #55839
@Mike-Ubezzi-MSFT
Can you please share the email id to the product group?

[2020-06-04 12:38] weltkante commented on #13958
WTF? Its still impossible to figure out the right drive names following the current docs. I recently had selected an additional drive because the ones that came with the VMs normally are not large enough and it took me **several hours** to figure out how to mount it.

### Thats not acceptable for something people are paying for.

For what its worth, you can use `sudo fdisk -l` to get drive sizes a

[2020-06-04 12:41] CHEEKATLAPRADEEP-MSFT commented on #56355
@anandmrya Thanks for the question! We are investigating and will update you shortly.

[2020-06-04 12:43] nkumars opened #56376 "Calling AppInsights-SignInRequest should be in order="2""
In the below code from [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/analytics-with-application-insights#add-the-technical-profiles-as-orchestration-steps) link, the **Order** value should be set to **2** and not **1**. Could you please check and update the document?

 &lt;OrchestrationStep Order="1" Type="ClaimsExchange"&gt;
 &lt;ClaimsExchanges&gt;
     &lt;ClaimsExchange Id

[2020-06-04 12:54] SquirrelAssassin commented on #56308
I think I figured it out.  Though I do get 3 items that return back (you can see the name of the items in the if -ne sections) that show up no where in mcas at all.

#get initial string
$count = 0
$array=@()
$body = @{
    'skip'=$count
    'filters' = @{"tag"=@{"eq"=@("None")}}
    'entityType'="service"
    'performAsyncTotal'="false"
}
$response = Invoke-MCASRestMethod -Credential $mcasCred -Pa

[2020-06-04 12:54] knuthalvor opened #56377 "Scope of saved queries"
Hi,
As far as I can understand, the saved queries are saved on a specific scope, e.g. the resource that the query is saved on. When I save a query that I've made and run from a specific Log Analytics Workspace, this is not available from the Logs page directly under Azure Monitor - not even if I select the correct scope for the query. Is this correct? Could this be a bit more elaborated in the doc

[2020-06-04 12:54] vinod83k commented on #55608
Considering the following co-ordinates and parameters to get the satellite imagery:
Latitude = -12.07685064;
Longitude = 26.41362781;
defaultZoom = 17;
tileSize = 256;

Following is the code to calculate the tileX and tileY.
	int tileX, tileY;
	var pixelXY = AzureMaps.TileMath.PositionToGlobalPixel(new double[] { Longitude, Latitude }, defaultZoom, tileSize);
	AzureMaps.TileMath.GlobalPixelToTileX

[2020-06-04 12:55] SquirrelAssassin commented on #56308
the key is that not all items are return ... including tags which you have to instead provide the filter.

[2020-06-04 12:57] Blackmist commented on #56252
Thanks for the feedback @mkrdip ! I've created a work item in our internal DevOps to track this. We're in the middle of some other doc work currently, so this probably won't be updated immediately.

[2020-06-04 13:00] plzm opened #56378 "Expand on auditing existing resources, and on effects"
I'd suggest adding a few pieces of important info to the effects doc.

1. Lifecycle of creating a new policy assignment and seeing results for existing resources. Much of the policy docs focus on creating a policy, THEN creating or updating resources. More detail is needed on what happens after an assignment is created until existing resources are evaluated; for example, I have seen an assignment'

[2020-06-04 13:09] vipulsparsh commented on #55990
@ivratche  We checking this internally and would need some more time. We will update the thread accordingly.

[2020-06-04 13:09] MonikaReddy-MSFT commented on #56150
@juunas11 , You can't use email RG Roles, but you can only use Subscription roles.
However, for each detector you can add specific email destination(instead or in addition to the default destinations).

I hope this information helps.

Since there is no doc updates, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2020-06-04 13:09] #56150 closed

[2020-06-04 13:11] Ann-KristinFK commented on #40107
Would be greate to know how this can be resolved as we are getting it too now.

[2020-06-04 13:19] NavtejSaini-MSFT commented on #56367
@SychevIgor We are checking this and will get back to you.

[2020-06-04 13:19] AmitavaHazra opened #56379 "Smart lockout feasibility with ADFS authentication method in Azure AD connect."
We have ADFS authentication method in Azure AD connect. In that case can implement Azure smart lock out functionality to configure account threshold and all in Azure for our on prem user.

Reference:
 https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-smart-lockout

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-06-04 13:20] NavtejSaini-MSFT commented on #56364
@SychevIgor We are checking this and we will get back to you.

[2020-06-04 13:25] dicedpeppa commented on #40107
Not been able to start a debug session after multiple attempts, clearing browser cache and restarting computer :(

[2020-06-04 13:30] AjayKumar-MSFT commented on #56340
@sushruth, Apologies if it was confusing for you. As of today , you cannot customize the auto-generated subdomain name. Sure, thanks for the follow-up and update.

[2020-06-04 13:34] SwathiDhanwada-MSFT commented on #56308
@SquirrelAssassin Glad to see that you have resolved the issue yourself. But I am bit confused between the question you have posted and  PowerShell code. Were you looking for something else?

[2020-06-04 13:35] sticklepy commented on #50634
This shouldn't have been closed without updating the main documentation - I've just lost several hours trying to troubleshoot when all I needed to do was change the RDP app I was using :(

Please update https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows to save others from struggling :)

[2020-06-04 13:44] rajeshr6r commented on #42228
Hi, Is this fixed . I'm using version 12.1.1 and still face the error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'QueueServiceClient'

[2020-06-04 13:47] DCtheGeek commented on #56378
#assign:DCtheGeek

[2020-06-04 13:49] AjayKumar-MSFT commented on #56350
@fgheysels,  Thanks for leveraging Azure docs feedback channel to raise this question.
We notice that you have closed this issue, please let us know if you need any further assistance on this topic.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. Thanks again for taking time to share your feedback.

[2020-06-04 13:54] AjayKumar-MSFT commented on #56349
@atcaoyufei, Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to and also describe more details about your scenario?

[2020-06-04 13:55] bh56 opened #56381 "What AD Object can I get the source from a powershell commandlet?"
[Enter feedback here]
What AD Object can I get the source from a powershell commandlet?
I can get it from the UI/Portal, but not from Get-AzureADUser as I would expect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6eb6697-4ace-adb6-c922-df8a9a485283
* Version Independent ID: fd4ce34d-d55e-92af-d71a-625210ad3a63
* Co

[2020-06-04 13:59] SwathiDhanwada-MSFT commented on #56347
@jordanbean1 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-04 14:00] SwathiDhanwada-MSFT commented on #56377
@knuthalvor Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-04 14:01] ram-msft commented on #53000
@huaigulin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-04 14:01] #53000 closed

[2020-06-04 14:01] VikasPullagura-MSFT commented on #56248
@pnarsi I confirmed with internal team on this.
Currently Tasks only supports using personal access token to access AzureDevOps.

I would recommend you post this feature request [here](https://feedback.azure.com/forums/903958-azure-container-registry).

Hope the provided information address your query.

We will now close this issue. If there are further questions regarding this, please tag me in a

[2020-06-04 14:01] #56248 closed

[2020-06-04 14:04] madiepev commented on #40107
Enabling Data Flow Debug actually requires Spark clusters to be created in the back-end. When I had issues with enabling debug, it was because there was an outage of clusters in my region. Creating a ADF in a different region then fixed the problem. It could also be that there is another problem with the creation of the Spark clusters, for example: availability in a region or for your subscription

[2020-06-04 14:05] JamesTran-MSFT commented on #56371
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 14:06] johnstaveley opened #56382 "Step through does not work"
Going through the tutorial fails with the error message

Validation failed. Required information is missing or not valid.

You have set RDP port(s) open to the internet.  This is only recommended for testing.  If you want to change this setting, go back to Basics tab.

It seems you need to set up a vnet and I cannot reuse the one I have already for some reason. This requires some explanation or at

[2020-06-04 14:08] DCtheGeek commented on #56378
@plzm Thanks for the feedback!

1. We cover some of the lifecycle in [Policy as Code workflow](https://docs.microsoft.com/azure/governance/policy/concepts/policy-as-code) and [evaluate the impact of a new policy](https://docs.microsoft.com/azure/governance/policy/concepts/evaluate-impact). Trigger details (when resources get evaluates) is in [Evaluation triggers](https://docs.microsoft.com/azure/g

[2020-06-04 14:11] VikasPullagura-MSFT commented on #56331
@nikoskip Thanks for pointing this out.

If you see the Load balancer Frontend IP config on the Azure Portal then you will see 2 Public IP's associated. As you mentioned the Traffic is still routed through the default PIP, yes it is by design.

When using multiple front end IP for standard Loadbalancer, the document has to call out about this SNAT behavior.

Team is working on updating this [docum

[2020-06-04 14:21] pawarv opened #56383 "DatalakeRESTException: HTTP error: ConnectionError(MaxRetryError("HTTPSConnectionPool(host='tcusdatalake.azuredatalakestore.net.azuredatalakestore.net', port=443): Max retries exceeded with url:"
Using python sdk.

The exception is occurred after max tries. The file exist in the datalake.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a236500-e18a-cfd4-ad38-8cb1d149f49f
* Version Independent ID: b6639581-6175-f913-7a45-52d1e551f779
* Content: [Python: Filesystem operations on Azure Data Lake Storage Gen1](https

[2020-06-04 14:25] tukan17 opened #56384 "WAF - 980xxx rules"
Hello,

I have question regarding rules description.

As part of the investigation, we came across several blockages according to the 980xxx rules
 However, these rules are outside the OWASP rulebase
https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-crs-rulegroups-rules?tabs=owasp30
resp. It is not possible to disable / configure within the configuration.

What

[2020-06-04 14:29] elvirk commented on #56343
Thank you that worked.

[2020-06-04 14:29] #56343 closed

[2020-06-04 14:35] AshokPeddakotla-MSFT commented on #56351
@fgheysels Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-04 14:36] plzm commented on #56378
Thanks for the quick response @DCtheGeek

Re 0/0, thanks and understood. Providing easier ability to drill down into "Why" would be helpful. It can be time-consuming to try to understand why even the simplest definition with type=Microsoft.Sql/servers and audit scoped to a RG can take 30 or however many minutes to kick off. Understand now there is PS/cli support for kicking off the eval - it would

[2020-06-04 14:36] #56378 closed

[2020-06-04 14:36] Blackmist commented on #56352
Thanks @ignaciofls ! This information will be added to the document and published later today.

[2020-06-04 14:38] rrg92 commented on #56007
@vikancha-MSFT thanks so much your reply! I appreciate you!

[2020-06-04 14:41] curtstate commented on #56205
I understand now that you need all the proxies and the' azds-route-as' header to be properly propagated through your stack in order for devspaces to route correctly now.

However, this should still be clearer in the documentation.

[2020-06-04 14:43] senval3024 commented on #31900
Hi @SaurabhSharma-MSFT Is there any update on this?

[2020-06-04 15:17] SumanthMarigowda-MSFT commented on #53299
@BasHamer  We would like to work closer on this issue!I would recommend you to contact support, so If you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email to AzCommunity[at]Microsoft[dot]com referencing this thread as well as your subscription ID. Please mentio

[2020-06-04 15:21] guestdj opened #56386 "Example use of AssertStringClaimsAreEqual twice in a page"
Hi

I have a scenario where I need to validate whether a email address field matches the confirm email field. I am using the AssertStringClaimsAreEqual string claims transformation and it displays my custom error message that is decalred in my meta tag UserMessageIfClaimsTransformationStringsAreNotEqual on my SelfAssertedAttributeProvider when emails do not match

This works great however I also n

[2020-06-04 15:29] DixitArora-MSFT commented on #56360
Hi @manish-95 Thanks for reaching out. We will review and update as appropriate.

[2020-06-04 15:35] chadmcox opened #56387 "wrong verbiage"
[Enter feedback here]
In the require multifactor portion for activation it says you need to go into the assignment tab, it should show this instead.

To require multi-factor authentication before activation, check the Require Multi-Factor Authentication on activation box in the Activation tab of Edit role setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-06-04 15:40] BasHamer commented on #53299
errr... I assume this is an automated message selling a service.

I worked around this issue, posted my workaround on the 28th of April. I would still recommend that the documentation is updated so that following the steps in the documentation generates the results described in the documentation. I believe that is why you assigned it to the other person on the 28th of April.

Whether you do or don

[2020-06-04 15:45] twastvedt opened #56388 "RoleInstance empty string overwritten by computer name"
A code comment in the "Override storage of computer name" section says "set custom role name here, you can pass an empty string if needed." If an empty string (or null) is assigned to RoleInstance here, it is subsequently overwritten with the computer name. Not sure if this is a bug in the documentation or the code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-06-04 15:49] ashitasharma opened #56390 "Update article for updated metrics"
There us no metrics like "FileShareQuota" it is "File share capacity Quota". Please update the segment:

![image](https://user-images.githubusercontent.com/36759919/83778808-d1098500-a6a8-11ea-8305-c0b80faa3fca.png)

Metrics we have:

![image](https://user-images.githubusercontent.com/36759919/83779011-07df9b00-a6a9-11ea-9a4c-a6ec1aed64b0.png)

---
#### Document Details

⚠ *Do not edit this sectio

[2020-06-04 15:54] sauryadas commented on #53073
@VikasPullagura-MSFT i don't have permissions to assign owners ... i can only remove myself

cc @TomGeske

[2020-06-04 15:54] #56137 closed

[2020-06-04 15:59] gtpc-spendleton opened #56391 "Need NIC limits"
Very detailed on compute,memory and storage, but I need to know how many NICs a SKU can support.  I can't keep finding out on the last leg of a deployment that the SKU I selected can't support 3 NICs.  This information is listed on the previous generation of VMs, but not on the new ones.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-06-04 16:01] aurokk commented on #54507
Hello! Any updates on this?:)

[2020-06-04 16:01] #54631 closed

[2020-06-04 16:05] roygara commented on #51279
@Vincentm29 Sorry - we've been going back and forth with the product team on this for a while. They've settled on MB as the correct unit now. So that doc is correct, we've already updated the other documents to match it, as well.

I'll go ahead and close this out now, accordingly.

Thanks for reaching out and helping to improve our docs, we appreciate it!

#please-close

[2020-06-04 16:05] #51279 closed

[2020-06-04 16:07] JamesTran-MSFT commented on #56376
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 16:10] JamesTran-MSFT commented on #56387
@chadmcox
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 16:10] GermanMontanez opened #56392 "Error found"
[Enter feedback here]
ip route add default via 10.0.0.1 dev eth2 table custom
That part dosnt work, you only have one interface.
It shows this error: Cannot find device "eth2"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b4d2d7-88a3-c493-68f9-39c89fbbcf96
* Version Independent ID: 6dff4842-197d-9e60-3c80-b34cc6aaab

[2020-06-04 16:12] roygara commented on #45721
Article now contains fileHost=$(echo $smbPath | tr -d "/")

Thanks for reaching out and making us aware of this, we appreciate it! :)

#please-close

[2020-06-04 16:21] roygara commented on #50663
@eakarat1141 Sorry for the delayed response, we have added a diagram [here](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview#ad-ds). We've also revamped the AD DS authentication documentation [experience](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable), which should clarify how things work substan

[2020-06-04 16:22] #50663 closed

[2020-06-04 16:22] tamram commented on #53299
@BasHamer - The documentation is correct as written. And I am unable to reproduce your issue.

However, I did find this SO issue, reporting the same problem:

https://stackoverflow.com/questions/61397786/network-rules-of-storage-account-blocking-container-creation

The fact that you were able to "work around" this error by using the account key instead of `--auth-mode login` suggests that perhaps

[2020-06-04 16:24] robinsh commented on #55619
It should have gone out in this morning’s publish at 9 PDT. Can you see it yet?

From: Andre Podnozov <notifications@github.com>
Sent: Wednesday, June 3, 2020 7:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Robin Shahan <Robin.Shahan@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Confusion regarding Basic tier (#55619)

Thanks! L

[2020-06-04 16:35] KranthiPakala-MSFT commented on #56383
Hi @pawarv, Thanks for reaching out. Were you trying to connect to the ADLS Gen1 or ADLS Gen2 storage account with Python SDK code?

To better assist on your query, could you please elaborate more on your requirement?

[2020-06-04 16:39] vipulsparsh commented on #55990
@ivratche : Can you help us with the following information ? :
1) Which token in your scenario is supposed to pull Client_ID claim ? Access or ID token ?
2) What config changes have you done in manifest file for the app ?
3) Can you attach few screenshots to show above.

[2020-06-04 16:39] JimacoMS3 commented on #55765
#reassign JimacoMS3

[2020-06-04 16:43] dlepow commented on #55653
@hansmbakker - Thanks for providing the details. I am sharing with engineering partners.

[2020-06-04 16:46] mamccrea commented on #55554
I have updated the image. Please allow a few hours for the changes to go live.

#please-close

[2020-06-04 16:46] #55554 closed

[2020-06-04 16:49] VikasPullagura-MSFT commented on #56294
@saurabhvartak1982 I just tried reproducing the issue and I am not getting any error as you mentioned on the issue. I followed the tutorial without passing --node-count 1 parameter and I don't see any errors.

I tried the tutorial in Azure Cloud Shell. Below are commands for reference. Can you please try once and check if you are still seeing the issue.

[code]

[2020-06-04 16:50] VikasPullagura-MSFT commented on #56294
@saurabhvartak1982 This does not need a doc update as I am not able to reproduce the issue.

[2020-06-04 16:50] #53806 closed

[2020-06-04 16:50] craigshoemaker commented on #43842
Since it seems like Brett's feedback has helped bring resolution, I am going to #please-close this issue.

[2020-06-04 16:50] #43842 closed

[2020-06-04 16:55] hansmbakker commented on #55653
Thank you!

[2020-06-04 16:59] dlepow commented on #52053
@davidzwa - Because this issue is addressed in existing docs and recent versions of the Azure CLI, we'll now proceed to close this thread as resolved. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.
#please-close

[2020-06-04 16:59] #52053 closed

[2020-06-04 17:00] dlepow commented on #56183
#assign @dlepow

[2020-06-04 17:08] bandersmsft commented on #56019
@jaymichaud You're right. The images didn't quite sync. We've udpated the diagrams with https://github.com/MicrosoftDocs/azure-docs-pr/pull/117729
#please-close

[2020-06-04 17:08] #56019 closed

[2020-06-04 17:10] MonikaReddy-MSFT commented on #56388
@twastvedt ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-04 17:11] mslot commented on #45304
I still don't quite feel that I have an answer for this. I feel like the docs say it is good to have a proxy in front, but you say there already is a proxy.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.1#when-to-use-kestrel-with-a-reverse-proxy it says

and

Especially the last one I think is important. I want to be sure I follow best practices. I ca

[2020-06-04 17:14] memildin commented on #56081
@SaurabhSharma-MSFT @abhishakemitra and @MarileeTurscak-MSFT  - I'm looking into this with the product team and will report back ASAP.

[2020-06-04 17:16] csvdarius opened #56395 "Tumbling Window Triggers become unusable following multiple failed start attempts"
We have discovered **Tumbling Window Triggers become unusable following multiple failed trigger start attempts** following calls to: [Remove-AzDataFactoryV2TriggerSubscription](https://docs.microsoft.com/en-us/powershell/module/az.datafactory/remove-azdatafactoryv2triggersubscription?view=azps-4.2.0) and [Add-AzDataFactoryV2TriggerSubscription](https://docs.microsoft.com/en-us/powershell/module/az

[2020-06-04 17:17] KumudD commented on #49321
@dcbrown16 This is fixed. Thanks for your patience.

#please-close

[2020-06-04 17:17] #49321 closed

[2020-06-04 17:20] Mike-Ubezzi-MSFT commented on #56304
Issue has been created against the PowerShell repository directly per: https://github.com/MicrosoftDocs/azure-docs-powershell/issues/1421

[2020-06-04 17:20] KumudD commented on #34813
@hisasima Thanks for your feedback. Added link to a Service tag usage tutorial as follows: For an example on how to use the Storage service tag to restrict network access, see [Restrict network access to PaaS resources](https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-restrict-network-access-to-resources).

#please-close

[2020-06-04 17:20] #34813 closed

[2020-06-04 17:23] ojintoad opened #56396 "Api documentation for CurrentBillingFeatures and other AppInsights configurable options is wild"
1. The arm template on this documentation page includes a number of parameter which are not even used in the arm template. These include:

* retentionInDays
* ImmediatePurgeDataOn30Days

2. Most of this arm data doesn't seem to be visible in the resource explorer which is unusual

3. https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/allversions doesn't seem to list the type micro

[2020-06-04 17:26] Mike-Ubezzi-MSFT commented on #56304
We will now proceed to close this thread as the issue has been created in the PowerShell repository specifically. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-04 17:26] #56304 closed

[2020-06-04 17:26] SaurabhSharma-MSFT commented on #56356
@nkumars Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 17:34] mike-urnun-msft commented on #56345
@RTTrickster Thank you for your feedback! We will review and update as appropriate.

[2020-06-04 17:39] BharathNimmala-MSFT commented on #56390
@ashitasharma Thank you for bringing this to our notice, assigning this issue to our document author @rboucher to further look into the feedback and update the document accordingly.

[2020-06-04 17:39] bandersmsft commented on #56112
@bashscr Hi there. Cost Management support for classic CSP isn't currently available. Cost Managment does support CSP subscriptions that are part of the Azure Plan.

Does that fully address your question?

[2020-06-04 17:41] cynthn commented on #13958
Yes, this doc needs an update. I'm also going to drop these links in here in the meantime, in case they are helpful:

https://github.com/canonical/cloud-init/blob/master/udev/66-azure-ephemeral.rules
https://github.com/Azure/WALinuxAgent/blob/master/config/66-azure-storage.rules

[2020-06-04 17:43] SubhashVasarapu-MSFT commented on #56087
@microkost , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-04 17:43] #56087 closed

[2020-06-04 17:45] SubhashVasarapu-MSFT commented on #56027
@sgssiva , Appreciate your patience. The doc has been edited accordingly and it will take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-04 17:45] #56027 closed

[2020-06-04 17:46] SaurabhSharma-MSFT commented on #56154
@da1rren I will check on this internally with the product team and get back to you.

[2020-06-04 17:47] vinod83k opened #56397 "Public IP address creation step is missing for VM myVmMgmt"
[Enter feedback here]
As per NSG for VM myVmMgmt, we have allowed RDP 3389 port, but it cannot be accessed until we create and assign a public ip to this VM. This step seems to be missing from the documentation. Please correct if I am wrong. Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7294d2f2-a192-92dc-d7a

[2020-06-04 17:50] SamaraSoucy-MSFT commented on #56396
Thanks for the question! We will review and get back to you shortly.

[2020-06-04 17:51] BryanAdvisicon opened #56398 "Personal vs Pooled"
I cannot find any clear answer why I would use a Personal WVD instead of a Pooled WVD.  I would greatly appreciate if someone couldd explain it, or point me in the right direction.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4aca2613-94aa-ea90-099f-625879914c4e
* Version Independent ID: 6b4fcb8e-5d64-826f-04fd-20753

[2020-06-04 17:52] jaysterp commented on #56067
@pnarsi based on your outlined scenario, we recommend using the ACR's [Import Image](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images) feature. This offering moves your images cross-tenant without leveraging key vault or storage. Therefore, you will not face firewall restrictions from those resources. Thanks!

[2020-06-04 17:54] BasHamer commented on #53299
Awesome, I was not aware from the initial response that this was an issue on my side. Thanks for the info.
here is my setup:
* Please note that I hid some stuff, the email does have a capital letter in it, so I made sure to repeat that. I also blanked out Id's nothing else. I can provide the Id's if needed, I did check that the email was the same and the same capitalization.

PS C:\Users\xxx> az a

[2020-06-04 17:56] SnehaAgrawal-MSFT commented on #56089
@JanNepras Just checking if you have chance to see previous message.

[2020-06-04 17:57] SnehaAgrawal-MSFT commented on #56063
@oadrian2 Just checking if you have chance to see previous message.

[2020-06-04 18:05] JamesTran-MSFT commented on #56359
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 18:09] SaurabhSharma-MSFT commented on #56374
@nkumars Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-04 18:09] SubhashVasarapu-MSFT commented on #55838
@michaelthyregod , The issue has been assigned to the respective content author for updating the doc accordingly.

[2020-06-04 18:10] bandersmsft commented on #54547
@sporter83 The team is working on publishing a new template to support the latest Budget API, so we don't plan to update the template that's currently published. To unblock you until then, here's some info that will help with tags. The tags in the filter is an object where the keys are the tag names that point to an array of filter values, like below. You can specify them in your parameters file.

[2020-06-04 18:10] mchudinov opened #56399 "Add please a sample code for functions v3"
[Enter feedback here]
Could you please add a sample code for functions v3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c396b396-6738-2f14-f288-3f6eadee57c3
* Version Independent ID: e534e854-ee08-302c-9b58-d1dfd432af66
* Content: [Azure Application Insights - Azure Functions Supported Features - Azure Monitor](https

[2020-06-04 18:11] MartinLaplante opened #56400 "Update the language codes"
The Klingon language codes are incorrect. It should be "tlh-Latn" for Klingon with the Latin alphabet and "tlh-Piqd" for pIqaD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3452c464-0135-aaab-5e96-a88f3144e378
* Version Independent ID: 3816f475-bf5f-b5b4-9458-5cc70e93d55e
* Content: [Language support - Translator - A

[2020-06-04 18:14] SubhashVasarapu-MSFT commented on #55630
@hisasima , This issue has been assigned to the respective content author for updating the document accordingly.

[2020-06-04 18:15] SubhashVasarapu-MSFT commented on #55626
@LengZai , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-04 18:15] #55626 closed

[2020-06-04 18:17] SubhashVasarapu-MSFT commented on #55620
@awentzel , Appreciate your patience. This issue has been assigned to the respective content author for updating the document accordingly.

[2020-06-04 18:27] Jann-Skotdal commented on #56400
@MartinLaplante - Thanks for pointing this out. We will update the documentation.

[2020-06-04 18:31] rvunen opened #56401 "Delete Manage Disks"
Hi

The Azure pricing calculator shows the monthly price of a managed P series disks. It is not clear when you delete a Managed Disk in the P series you will be charged for the month or for the time you used it. Thanks for making that clear in the FAQ pages.

Cheers
Roger

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-04 18:39] craigshoemaker commented on #55532
I am going to #please-close this issue for now since it's be a week. Please feel free to reopen if you have further documentation questions.

[2020-06-04 18:39] rbrundritt commented on #55608
Attached is a fairly complex code sample I put together for a customer a while back. It takes in a GeoJSON file and style information defined in a JSON file and then generates a static map image of just about any size (massive images will likely run into memory issues).
[
[AzureMapsRenderingService.zip](https://github.com/MicrosoftDocs/azure-docs/files/4732076/AzureMapsRenderingService.zip)
](url)

[2020-06-04 18:39] #55532 closed

[2020-06-04 18:45] kgremban commented on #55166
@rgamage I reworded the prerequisite a bit to say "Have the root CA certificate file that was used to generate the device CA certificate in [Configure an IoT Edge device to act as a transparent gateway] available on your downstream device" because you may not have created a new root CA certificate in the process of that article. I also added a section about the root CA certificate and the device C

[2020-06-04 18:47] #56170 closed

[2020-06-04 18:47] SaurabhSharma-MSFT commented on #56357
@nkumars Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 18:48] kgremban commented on #55156
@rgamage I added a new section to this article, Set Up the Device CA Certificate, that talks about the certificates you need on your gateway device and why. These changes are live now. Please take a look and let me know if those updates resolve this issue.

[2020-06-04 18:49] asergaz commented on #56253
@reddyeshwar17 did you make customizations to this tutorial? You are using a different module name than what's asked on this doc "IotEdgeKickModule1" it should be "IotEdgeModule1". If you customized any other steps let me know.

Check this [Troubleshoot your IoT Edge device](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot).

Specifically, try this:
- iotedge restart <container name>
-

[2020-06-04 18:49] GiftA-MSFT commented on #56170
@EdPrice-MSFT thanks for your feedback. Document has been updated accordingly.

[2020-06-04 18:50] kgremban commented on #55109
@rgamage I made several changes to this article in response to our conversation. I removed the example name, and instead used a placeholder tag in the commands. I also updated the paragraphs that talk about not using the device hostname or device ID to reference the specific command instead of saying vaguely "those scripts".

Please take a look and let me know if these updates resolve the issue, o

[2020-06-04 18:53] JoshuaPartlow commented on #56094
Excellent, glad things are working for you now. If you have further problems, feel free to open another issues.

Repo admins #please-close

[2020-06-04 18:53] #56094 closed

[2020-06-04 18:54] bandersmsft commented on #55207
@jonwbstr Added emphasis to the article, and clarified in the introduction with https://github.com/MicrosoftDocs/azure-docs-pr/pull/117755. Thanks.

#please-close

[2020-06-04 18:54] #55207 closed

[2020-06-04 18:56] marcosvidolin opened #56402 "Implicit Grant Flow"
Hi guys,

I followed the documentation to configure B2C login to my SPA but I noticed that I need to check "Access tokens" and "ID tokens" to enable the "Implicit grant flow" at my application.
The example uses MSAL.js 1.

Tks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 370e4c33-91b6-eafb-1ced-0a079449d982
* Version

[2020-06-04 18:56] #55890 closed

[2020-06-04 19:03] craigshoemaker commented on #55476
I updated the doc to include some more detail regarding the behavior of the `close_pull_request_job` section #please-close

[2020-06-04 19:03] #55476 closed

[2020-06-04 19:04] #54596 closed

[2020-06-04 19:10] Ann-KristinFK commented on #40107
Thanks for sharing your solution @madiepev. We got a message this evening that there was an outage in our region. Problem solved when this was fixed.

[2020-06-04 19:18] SaurabhSharma-MSFT commented on #56214
@TechWatching Great to hear.  Both cmdlets are almost same, only difference is Get-AzureADMSApplication internally uses Microsoft Graph to pull the required information.

[2020-06-04 19:21] JanNepras commented on #56089
@SnehaAgrawal-MSFT Thank you.

[2020-06-04 19:21] MarileeTurscak-MSFT commented on #56386
@guestdj
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 19:24] chadmcox opened #56403 "To To in steps"
[Enter feedback here]
Under Admin consent requests (Preview), set Users can request admin consent to apps they are unable to consent **to to** Yes.

should just be one **to**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6e93be2-bad4-bae7-91bc-d4122dad86fd
* Version Independent ID: caf48884-743b-8f83-58a0-a92c3940fbb

[2020-06-04 19:33] tamram commented on #53299
@BasHamer - When you run `az role assignment list` with your user ID, you should be getting back something that looks like this:

![data-access-role](https://user-images.githubusercontent.com/1189479/83801498-3b093680-a677-11ea-823c-b39ab1c8bbc1.png)

If you don't see the **Storage Blob Data Contributor** role, then you won't be able to create the container. Did you try the instructions that I ref

[2020-06-04 19:36] MarileeTurscak-MSFT commented on #56403
@chadmcox thanks! Fixing this now.

[2020-06-04 19:38] MarileeTurscak-MSFT commented on #56403
Looks like it's not actually a typo. It's saying to set the setting titled "Users can request admin consent to apps they are unable to consent to" to yes.

So it's two separate "to" instances.

Closing this out.

[2020-06-04 19:39] MarileeTurscak-MSFT commented on #56403
Checking the title in the portal first to confirm that it's the correct one.

[2020-06-04 19:39] MarileeTurscak-MSFT commented on #56403
![image](https://user-images.githubusercontent.com/13383753/83802928-79dfc200-a660-11ea-99ec-9bf8c2fd5138.png)

Yes, that's the name of the setting.

[2020-06-04 19:39] #56403 closed

[2020-06-04 19:45] SaurabhSharma-MSFT commented on #56356
@nkumars I am able to follow the document and load the policy file with out any issues.
![image](https://user-images.githubusercontent.com/38112130/83803310-333e9780-a661-11ea-92d2-852a1b52181b.png)

[2020-06-04 19:45] artemuwka commented on #56128
Thanks for sharing, @alexvy86! I've checked with the dev team and there doesn't seem to be any restrictions on the failover execution as long as LastSyncTime is present on the account. I'm assuming you tried this around 6/1, so we're unlikely to review the logs at this point (although I'll ask the team) - would you by any chance be able to try this on another account and see if the issue can be re

[2020-06-04 19:52] andresu13 opened #56405 "ASC Standard for Resource Group?"
This document states the following:

"Pricing tier: free or standard pricing selection, which determine which Security Center features are available for resources in scope (can be specified for subscriptions, resource groups and workspaces)."

How can I specify the pricing tier to a single resource group? When I go to the "Pricing and Settings" page inside ASC I am only allowed to change the prici

[2020-06-04 19:53] CeciAc opened #56406 "How to register Integration runtime node via dmgcmd with Proxy?"
@eXXL commented on [Thu Jun 04 2020](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/677)

I want to automate the registration of a Self-Hosted Integration Runtime Node at a Data Factory using the command dmgcmd as described in the linked article.

I have to set a proxy. How can I achieve this? Is there a parameter to set a custom proxy? Or do I have to select System Proxy and modify the

[2020-06-04 19:53] SaurabhSharma-MSFT commented on #56293
@dsabsay No, it is not like that.  The document and the image is correct as when assign contributor access at subscription level the same level of permissions flows down to the resource groups under it and image and the description depicts the same.

[2020-06-04 19:58] craigshoemaker commented on #37481
This article was updated a while back with details to address @macux's questions. #please-close

[2020-06-04 19:58] #37481 closed

[2020-06-04 20:03] VladimirKhvostov opened #56407 "SetupServiceFabric.sh does not work on Ubuntu 18.04 (Bionic)"
Documentation says that Ubuntu 18.04 is supported but SetupServiceFabric.sh only works on Ubuntu 16.04 (Xenial)

https://github.com/microsoft/service-fabric-scripts-and-templates/blob/1efff5352207582f662a12d64dcc81b194177690/scripts/SetupServiceFabric/SetupServiceFabric.sh#L24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-04 20:04] MartinJaffer-MSFT commented on #56339
Hello @rriley99  and thank you for your question.  I assume you are asking about escaping in pipeline expressions.  Escaping in Data Flows may be slightly different.
[code]
When you want to enter a line break, do not type in "\n".  Press enter, or copy-paste the whitespace characters from a text editor.

Is there a specific place or character you need help escaping?

[2020-06-04 20:16] tesych commented on #55418
@djesko1 , it should work with AMD processors.

[2020-06-04 20:18] andresu13 opened #56408 "Prevention and Detection sections?"
The document mentions a "Prevention section" and a "Detection section".

I have not been able to find any of those "sections" anywhere in ASC.

Is that outdated information? Has those sections been renamed to something else?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10c4b9ab-975f-4050-65fa-2d510ac93fbb
*

[2020-06-04 20:19] TechWatching commented on #56214
Okay good to know. Can I use this script in an Azure Powershell task (azure pipeline) ? It would allow me to use my azure service connection to run it and set the preauthorized applications from my pipeline.

[2020-06-04 20:21] NavtejSaini-MSFT commented on #56224
@vikaskumawat80 Please let us know if you need any further information regarding the same.

[2020-06-04 20:27] MartinJaffer-MSFT commented on #55010
@luisjmlky I have great news!  The fix is easy.  The problem was caused by using an old version of the powershell module.  Here is how to fix:

1. run `Update-Module Az.DataFactory`
2. Close the powershell window
3. Start a fresh, new powershell session.
4. Try the `Set-AzDataFactoryV2` step again.  Overwrite the previous (bad) dataset.

[2020-06-04 20:35] marcosvidolin opened #56410 "Login with e-mail or username"
Can I create a Local account to allow users to login with username or e-mail?
For example, a user can chose log in using your mail or username.
It seems the Local Account just allows me to configure one of these options but I want to allow users to chose to login with e-mail or username.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-06-04 20:36] JimacoMS3 commented on #55765
Hi @michuny25 -- thanks for your feedback. I think there are two issues you're reporting here. The first is about the documentation. The second is about the exception returned by the .NET Device Client SDK.

- In the documentation, we already do explicitly state that arrays are not supported in the topic you referenced. Go to the [Tags and properties format](https://docs.microsoft.com/azure/iot-hu

[2020-06-04 20:58] RyanHill-MSFT commented on #56312
Hi @simondmorias, I see that your issue has been resolved and that you were finally able to sync your cert between your app service and key vault. If I've misunderstood, please let me know.

Considering the resolve, I'll assign this issue to the content author so they can investigate further and provide clarification on ensuring the well-known service principal is granted access  as pointed out in

[2020-06-04 20:59] kgremban commented on #54907
@nelsonmorais Thank you for pointing this out. I'll add a note to inform our customers of the upcoming change.

Since this is a straightforward update to the docs, I'll have GitHub automatically close this issue when the pull request containing the changes is merged. If you have any follow-up questions or comments, feel free to post here again and we can reopen the issue if necessary.

Thanks agai

[2020-06-04 21:00] NavtejSaini-MSFT commented on #56158
@deborahc I have raised the PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/117776 for adding the information. Please review.

[2020-06-04 21:06] NavtejSaini-MSFT commented on #56364
@SychevIgor We are assigning this to our author for more insight
@oslake Please check if this video can be replaced or augmented with more information.

[2020-06-04 21:09] nmishr opened #56411 "instructions refer to private link rather than private endpoint"
[Enter feedback here]

under https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-portal#create-a-private-endpoint:

steps 1 and 2 refer to private link center...  shouldn't it refer to private endpoint ?

--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d16533ae-5e19-5769-4c29-581152f8c30c
* Version

[2020-06-04 21:17] JnHs commented on #55975
Hi @jtuliani - thank you for sending this feedback! The API is designed to show the tenantID, and without more info it's hard to tell why that is not happening correctly in this particular case. Please open a support request in the Azure portal - for Issue type, choose Technical, select a subscription, then select Lighthouse (under Monitoring & Management), and we can look into this further. I'm g

[2020-06-04 21:17] #55975 closed

[2020-06-04 21:18] MarileeTurscak-MSFT commented on #56408
Hi @andresu13,

I just tested in my tenant and saw the same thing. It looks like the equivalent might be the security alerts with "detected by" section, and the color-coded severity graph.

[2020-06-04 21:21] MarileeTurscak-MSFT commented on #56408
Assigning this to the author to look into.

[2020-06-04 21:21] alexvy86 commented on #56128
@artemuwka just tried with a new storage account and it failed the same way. The storage account is in South Central US, btw. For the previous one I already had created a File Share when I tried the failover, but this one is completely empty; right after creation succeeded, I tried to do the failover. And trying to do it in the portal gives me the same error about Last Sync Time.
![image](https://

[2020-06-04 21:29] #54907 closed

[2020-06-04 21:36] mhopkins-msft commented on #47044
@antopolskiy, good idea. I've added links. Updates should be published later today.

[2020-06-04 21:37] MarileeTurscak-MSFT commented on #56366
@hofmannma
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 21:38] webash commented on #55281
what was the PR number? I haven't seen any changes to the live page yet

[2020-06-04 21:42] RyanHill-MSFT commented on #54764
@dzajda, can you email me at _AzCommunity[at]microsoft[dot]com_ ATTN Ryan including your subscription id so we can take a closer look.

[2020-06-04 21:47] dlepow commented on #56183
@yejiyang Thanks for your question. The configuration to use a certificate from a CA should be very similar, once you've obtained the certificate:
* In the nginx.conf, enter paths to your own certificate and key, instead of setting up a self-signed cert.
[code]
*  In the ACI deployment YAML, provide base64-encoded values for your cert and key:
[code]

Does this help?

[2020-06-04 21:49] JamesTran-MSFT commented on #56387
@chadmcox

I was able to look into your issue and will post my findings below.

**Change Requested:**
To require multi-factor authentication before activation, check the Require Multi-Factor Authentication on activation box in the **Activation** tab of Edit role setting.

Current Doc:
To require multi-factor authentication before activation, check the Require Multi-Factor Authentication on activat

[2020-06-04 21:53] ariso353 opened #56412 "Return caller value out of date or incorrect"
In the Powershell example output, the Caller shows it returns a user friendly identifier of `Caller                  : alain@example.com` but it is returning `ObjectType.ID`, which is a GUID regardless of the type.

This is the third example in the document:
`Get-AzLog -StartTime (Get-Date).AddDays(-2) | Where-Object {$_.Authorization.Action -like 'Microsoft.Authorization/roleAssignments/*'} | For

[2020-06-04 21:58] mhopkins-msft commented on #55809
#assign:xyh1

[2020-06-04 22:36] tfitzmac commented on #56347
@jordanbean1 - thanks for this feedback. I redeployed the template that passes a key vault secret dynamically, and it worked correctly. I can't tell from the User Voice item what functionality it is referring to. An expression scope feature was added which perhaps fixed the original issue. You can use parameter and variables in the nested template. Here is a simple template that shows the inline p

[2020-06-04 22:38] xyh1 commented on #55809
You must use version 12.5.0-dev.20200422.2.

Higher versions do not support it in preview. This is a preview package and not released to the official .NET release yet.

In the NuGet Package Manager, Find the Azure.Storage.Blobs package, and install version 12.5.0-dev.20200422.2
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-index-how-to?tabs=net

[2020-06-04 22:39] xyh1 commented on #55912
This is on our backlog and will consider it based on customer demand.

In the meantime, we are focused on GA improvements.

[2020-06-04 22:41] mhopkins-msft commented on #55809
I don’t see that version available through the Visual Studio interface:

[cid:image001.png@01D63A86.A52592A0]

~ Mark (he/him<https://www.mypronouns.org/he-him>)

From: Xin Huang <notifications@github.com>
Sent: Thursday, June 4, 2020 3:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mark Hopkins (REDMOND) <mhopkins@microsoft.com>; Assign <assign@noreply.github.com>
Subject:

[2020-06-04 22:43] tfitzmac commented on #56362
@hiscjo01 - the resource provider namespace for AKS is Microsoft.ContainerService. Within it is a resource type called managedClusters which I believe is the resource type for AKS. Is that what you were looking for?

I'll add a link to the article that maps [resource providers to services](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-services-resource-providers).

[2020-06-04 22:46] Jann-Skotdal commented on #56400
@MartinLaplante - The documentation is now updated. Thanks again for pointing this out.

#please-close

[2020-06-04 22:47] #56400 closed

[2020-06-04 22:47] laurenhughes commented on #53073
#please-close

[2020-06-04 22:47] #53073 closed

[2020-06-04 22:51] laurenhughes commented on #53988
@TomGeske Thank you for the additional context, I've added more info to the system and user assigned identities portions of the doc.

#please-close

[2020-06-04 22:51] #53988 closed

[2020-06-04 22:54] MicrosoftGuyJFlo commented on #56092
Azure AD is licensed per user as is mentioned in the licensing page linked to from the topic.

[2020-06-04 22:54] MicrosoftGuyJFlo commented on #56092
#please-close

[2020-06-04 22:54] #56092 closed

[2020-06-04 22:56] xyh1 commented on #55809
![image](https://user-images.githubusercontent.com/2829937/83817971-f97a8a80-a67a-11ea-9f5d-98c28a672c38.png)

You can also install via the command line in visual studio

Make sure you change the package source per https://docs.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#package-sources

[2020-06-04 22:58] hiscjo01 commented on #56362
@tfitzmac - That is exactly what I was looking for.
Thank you for the quick response - much appreciated

[2020-06-04 22:58] #56362 closed

[2020-06-04 22:59] johnjordan-msft opened #56413 "Global Reader and Bridge Settings"
Hello,

It appears that in the documentation around the Limitations of the Global Reader role you note several limitations for the Teams Admin Center, but don't include the limitation for 'Bridge Settings' under 'Conference bridges'.

I've found that as a Global Reader this setting is grayed out and unable to be accessed.

![image](https://user-images.githubusercontent.com/43277996/83818443-01dbc1

[2020-06-04 23:01] BasHamer commented on #53299
yeah curious, I see the user in az account list (there is only one) but it does not exist at all in az role assignment list. I wonder if part of my account is not set up right :/

The account is from Dec 1 2018 and started as an azure free account. Maybe it is time to create a new account and start fresh :/

I tried the commands below and that failed.

PS C:\Users\xxx> az role assignment create --

[2020-06-04 23:04] KranthiPakala-MSFT commented on #56060
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you.

[2020-06-04 23:04] #56060 closed

[2020-06-04 23:04] #56309 closed

[2020-06-04 23:06] #56158 closed

[2020-06-04 23:06] KranthiPakala-MSFT commented on #56263
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-04 23:06] #56263 closed

[2020-06-04 23:06] SnehaGunda commented on #56158
@NavtejSaini-MSFT Thank you, the doc update looks good. I signed off on the PR.

[2020-06-04 23:15] mhopkins-msft commented on #55809
Also, the Install-Package command does not have a -Version parameter. It only has -MinimumVersion and -MaximumVersion. However, neither of those work to find that specific version.

~ Mark (he/him<https://www.mypronouns.org/he-him>)

From: Mark Hopkins (REDMOND)
Sent: Thursday, June 4, 2020 3:42 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.

[2020-06-04 23:19] nprieto95 opened #56414 "copyIndex not working as described"
I followed this document exactly but I'm not getting the expected results.

I have a template which looks like this:

[code]

After attempting deployment, this is what I'm getting:

`The template function 'copyIndex' is not expected at this location. The function can only be used in a resource with copy specified.`

Full error as seen in the portal:

![image](https://user-images.githubusercontent.

[2020-06-04 23:20] itguysocal opened #56415 "Limitations?"
Can you please add a section on the limitations that users will experience (if any) for Alternate ID? Previously there were limitations when using Alternate ID, and this article does not make it clear whether this new preview feature resolves this issues.
Examples include Office ProPlus and OneDrive require registry keys, issues with Autodiscover, Intune and others.
https://docs.microsoft.com/en-u

[2020-06-04 23:24] xyh1 commented on #55809
@mhopkins-msft, I see the -Version parameter and was able to use it

https://docs.microsoft.com/en-us/nuget/reference/ps-reference/ps-ref-install-package

![image](https://user-images.githubusercontent.com/2829937/83819873-e5855780-a67f-11ea-991e-9f16a7ee4549.png)

[2020-06-04 23:29] mamccrea commented on #54982
I will now proceed to close this thread, as python UDFs are not supported. Please re-open this issue if you have any additional questions.

#please-close

[2020-06-04 23:29] #54982 closed

[2020-06-04 23:39] JamesTran-MSFT commented on #56415
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 23:44] iainfoulds commented on #56359
Thanks for the feedback, @Jonathan-Nuttall

I've added specific mention of a free trial of Azure AD Premium 2 or higher being needed. This doc update should go live tomorrow. There's already a link to the SSPR licensing needs that outlines this - https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-licensing

For expanding the education SKUs to provide SSPR writeback

[2020-06-04 23:45] MarileeTurscak-MSFT commented on #56368
@BenWhite27
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-04 23:46] mamccrea commented on #51173
Hi @pearcec - I apologize for the delay. You are correct, this step is no longer possible. I am updating the article.

If you have any additional questions, please reopen this issue.

#please-close

[2020-06-04 23:46] #51173 closed

[2020-06-04 23:48] #56359 closed

[2020-06-04 23:48] MicrosoftGuyJFlo commented on #56208
We have an update in progress that shows the flowchart decision process for this. When it publishes this will close the issue out.

[2020-06-04 23:49] NavtejSaini-MSFT commented on #56364
@SychevIgor We will be working with our doc authors to review the video and/or come up with a new one. For now we have removed the link for the same from document using PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/117808. Changes will reflect in next 24 hours.

Thanks for your feedback and we will be closing this thread for now as our authors check this further internally.

[2020-06-04 23:49] LengZai commented on #55626
Hi @SubhashVasarapu-MSFT
Yes thanks but What i would like to mention is that you don't need to create 2 Routing Rules to perform HTTP to HTTPS redirection anymore. You only use 1 Routing Rule combined with Rules Engine.
So you don't pay for an additional Routing Rules to perform HTTP to HTTPS redirection.
The [doc mentioned](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-redire

[2020-06-04 23:49] JamesTran-MSFT commented on #56169
@PhilipAnthonyMurray
Thank you for the detailed response. I'm glad to see that you were able to create a completed solution using Azure Automation runbooks.

Thank you for your time and patience throughout this issue, I'll go ahead and close this thread. If you would like to continue the discussion feel free to reach out on Microsoft Q&A or create a new issue.

[2020-06-04 23:49] #56169 closed

[2020-06-04 23:51] iainfoulds commented on #56415
Thanks for the feedback, @itguysocal

Those limitations were when using ADFS, and are noted as why some companies hadn't adopted alternate ID and create that mismatch:

Using email as an alternate login ID for Azure AD is focused on the Azure AD sign-in experience at this time during preview. I'll update the doc if the product team can provide any specific limitations for other workloads and servi

[2020-06-04 23:53] mamccrea commented on #53428
#please-close

[2020-06-04 23:56] NavtejSaini-MSFT commented on #56367
@SychevIgor We have created PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/117810 for correcting this and once approved the updates will be visible in 24 hours.

[2020-06-04 23:57] mamccrea commented on #24462
I will now proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-06-04 23:57] #24462 closed

[2020-06-04 23:59] iainfoulds commented on #56275
Thanks for the feedback, @miked1313

I've reached out to the engineering team to confirm if we need to update the list of in-use SMS short code numbers. If the amount of short codes in use has greatly expanded, it may not be viable to continue publishing.

Is there a specific reason for wanting to validate them - if the amount of short codes in was in the order of 10-20 possible numbers, would you

[2020-06-04 23:59] MarileeTurscak-MSFT commented on #56069
Hi @AmitavaHazra ,

It depends on the policy. You can use Password Protection to configure banned password lists in Azure AD, and the on-premises passwords will then be checked against those lists. You can use these for both cloud and on-premises password protection.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-configure-custom-password-protection

https://docs.m

[2020-06-05 00:00] MarileeTurscak-MSFT commented on #56069
Hope this helps! If you have further questions feel free to ask in [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered) as this is more of a product question than a document issue.

[2020-06-05 00:00] #56069 closed

[2020-06-05 00:00] Karishma-Tiwari-MSFT commented on #56391
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-05 00:01] Karishma-Tiwari-MSFT commented on #56382
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-05 00:04] Karishma-Tiwari-MSFT commented on #56401
Thank you for providing the feedback. Glad to know that you found it helpful.
Thanks to our author @roygara

We will now close this issue. If there are further questions, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-05 00:04] #56401 closed

[2020-06-05 00:06] Karishma-Tiwari-MSFT commented on #56407
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-05 00:10] iainfoulds commented on #55571
Thanks for the feedback, @mikewaretena

I'm working with the product team to update this article as there's also potential confusion around the underlying Office 365 SKU rename.

#in-progress

[2020-06-05 00:18] Karishma-Tiwari-MSFT commented on #55869
Azure RedHat Openshift lifecycle and architecture is explained here:
https://docs.openshift.com/aro/4/architecture/architecture.html#architecture-overview-image_architecture

Hope that helps.

[2020-06-05 00:23] Ritzo90 opened #56416 "Example states it works with Azure Oauth but does not specify the version v1 or v2"
The example appears to be for Azure Oauth v1, please update or clarify, only difference was the example body commented out applies to Oauth v2 but states its to connect to ouath providers except Azure. This is incorrect as the commented line applies to Azure Oauth v2.

First feedback please be nice :)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-06-05 00:25] Karishma-Tiwari-MSFT commented on #55766
I saw that you got the answer for the question here from the product team member: https://stackoverflow.com/questions/62045081/is-it-possible-to-update-the-assigned-azure-dsc-configuration-to-a-vm-via-arm-te

![image](https://user-images.githubusercontent.com/20851144/83823195-2b461e00-a688-11ea-804b-5def2951601e.png)

We will now close this issue. If there are further questions regarding this mat

[2020-06-05 00:25] #55766 closed

[2020-06-05 00:27] SnehaGunda commented on #56297
@cmenzi I don't think Etcd API currently has change feed support. As Mike mentioned, please signup for the preview to learn more.

[2020-06-05 00:28] SnehaGunda commented on #56297
#please-close

[2020-06-05 00:28] #56297 closed

[2020-06-05 00:38] alan-hu opened #56417 "Please provide an API or APIs for these lists of products"
Instead of list them in a static way, could you please provide an API so we can utilize this info in our own automation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifie

[2020-06-05 00:42] MarileeTurscak-MSFT commented on #56370
@bohleadam
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 00:53] SnehaGunda commented on #55922
@itsyashpal I added a clarifying statement and linked to the how-to choose the throughput mode doc for more details.

We will now close this issue.

#please-close

[2020-06-05 00:53] #55922 closed

[2020-06-05 01:02] miked1313 commented on #56275
Hi @iainfoulds - Yes to either verify the sender, to tell users what numbers they may need to unblock, or sometimes our team has had to troubleshoot SMS delivery with wireless or telecom carriers.  So we need a document like this that tells us what all the possible sender’s SMS short codes are.  Hopefully Microsoft can continue to update this if engineering adds new SMS short code numbers.  Thank

[2020-06-05 01:10] pnarsi commented on #56067
Thanks @jaysterp. I am okay to close this thread.

[2020-06-05 01:10] #56067 closed

[2020-06-05 01:12] davebirr opened #56419 "Update for Microsoft 365 Business Premium"
M365 Business Premium now includes Azure AD P1.  So that should also include AAD_PREMIUM (41781fb2-bc02-4b7c-bd55-b576c07bb09d)

Here is the full list for Microsoft 365 Business Premium:

ServicePlanId                        TargetClass ServiceType                   ServicePlan
-------------                        ----------- -----------                   -----------
41781fb2-bc02-4b7c-bd55-b576c0

[2020-06-05 01:13] #56364 closed

[2020-06-05 01:14] #56367 closed

[2020-06-05 01:16] SnehaGunda commented on #55938
@tamusjroyce Yes Bulk support is available directly with the .Net V3 SDK. The doc you are referring to has a note at the beginning that states the instructions are applicable for V2 SDK only. See this page for V3 SDK: https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-sql-api-dotnet-bulk-import, it's also linked from the note.

_"This bulk executor library described in this article is maint

[2020-06-05 01:21] SnehaGunda commented on #55938
We will now close this issue.

#please-close

[2020-06-05 01:21] #55938 closed

[2020-06-05 01:34] mhopkins-msft commented on #55809
#please-close

[2020-06-05 01:34] #55809 closed

[2020-06-05 01:35] SnehaGunda commented on #54507
@aurokk I am checking with our team for examples.

[2020-06-05 01:36] mhopkins-msft commented on #55912
#please-close

[2020-06-05 01:36] #55912 closed

[2020-06-05 01:43] BharathNimmala-MSFT commented on #56414
@nprieto95 Thank you for your question, we will look into it and get back to you at the earliest.

[2020-06-05 01:44] mhopkins-msft commented on #42228
Hi @rajeshr6r

Please run the `pip freeze` command to make sure you are using azure-storage-queue version 12 or later. QueueServiceClient is definitely part of version 12.

Please see the quickstart for v12 here: [Quickstart: Azure Queue storage client library v12 for Python](https://docs.microsoft.com/azure/storage/queues/storage-quickstart-queues-python).

Thanks,
 ~ *Mark*

[2020-06-05 01:56] SnehaGunda commented on #54537
@hannesne Thanks for pointing out the issue, I submitted a PR to update the doc. The changes will be live tomorrow. I will close this issue now.

#please-close

[2020-06-05 01:56] #54537 closed

[2020-06-05 02:03] JimmyLS commented on #54714
Hi Team,

Any update? I can see the version is still not updated.

[2020-06-05 02:07] kazshi opened #56420 "annotation for "tempdb_" and "sqlserver_process_" metrics is not valid for Hyperscale"
- "sqlserver_process_" metrics have the following annotation 1, but looks like the metrics are NOT available for databases using the vCore purchasing model with Hyperscale 2 vCores and higher
- "tempdb_" metrics have the following annotation 2, but looks like the "tempdb_" metrics are available for Hyperscale databases.

1 This metric is available for databases using the vCore purchasing model wit

[2020-06-05 02:16] kazshi opened #56421 "annotation for "sqlserver_process_" metrics is not valid for General Purpose Serverless 1 vCore"
"sqlserver_process_" metrics have the following annotation 1, but looks like the metrics are available for databases using the "General Purpose Serverless 1 vCore"

1 This metric is available for databases using the vCore purchasing model with 2 vCores and higher, or 200 DTU and higher for DTU-based purchasing models.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-05 02:17] rabbit721 opened #56422 "The resource type 'accounts' could not be found in the namespace 'Microsoft.DataLakeAnalytics' for api version '2019-11-01-preview'. The supported api-versions are '2015-10-01-preview,2016-11-01'.'"
Hi I am trying to create a linked service for Azure Data Lake Analytics in the portal for Azure Data Factory. I am not sure about how to resolve this error. Thanks!

[2020-06-05 02:19] TravisCragg-MSFT commented on #56392
@GermanMontanez This process creates multiple ipconfigurations attached to a single NIC. Each ipconfiguration will show in the OS as a new interface, and this doc has instructions to add them and initialize them.

Judging by the command you gave, you are using the 'Linux (Redhat, Centos, and others)' instructions. Did you see the note at the bottom to replace the 'eth2' parameter with the name of

[2020-06-05 02:27] TravisCragg-MSFT commented on #56397
@vinod83k Thanks for the feedback! There was a recent change that causes a public IP to not be attached to a VM by default in the portal, I am unsure if this change is intended.

I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-05 02:28] rabbit721 opened #56423 "Failed to connect to ADLA account 'xxx' with error 'The resource type 'accounts' could not be found in the namespace 'Microsoft.DataLakeAnalytics' for api version '2019-11-01-preview'. The supported api-versions are '2015-10-01-preview,2016-11-01'.'"
Failure to create linked service for Azure Data Lake Analytics on Azure Data Factory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263da9e8-8bdc-864d-435c-25bf3c34e34c
* Version Independent ID: d01cafe1-3f9d-cd48-da8f-1e066507ab30
* Content: [Transform data using U-SQL script - Azure Data Factory](https://docs.microso

[2020-06-05 02:38] TravisCragg-MSFT commented on #56411
@nmishr This is correct, the Private Link Center is where both Private Links and Private Endpoints are configured.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-05 02:38] #56411 closed

[2020-06-05 02:43] anavinahar commented on #47836
#reassign: @brianlehr

[2020-06-05 02:45] rajeshr6r commented on #42228
Hello Mark,

Thanks . It solved the problem . I'm surprised why the previous pip install
that I fired from VS Code virtual environment indeed pulled a lower version
2.1.x something . I upgraded it to 12.x

*Rajesh R *

*India : + 91 9819-937-639 *
*rajesh.r6r@gmail.com* <rajesh.r6r@gmail.com>

On Fri, Jun 5, 2020 at 7:15 AM Mark Hopkins <notifications@github.com>
wrote:

[2020-06-05 02:46] rachelxj commented on #56144
I think this confusion is caused by the out of dated sample codes. I create an issue to track this. https://github.com/Azure/azure-service-bus/issues/364

[2020-06-05 02:51] anavinahar commented on #55431
Is there a way to re-open an issue? @SubhashVasarapu-MSFT

[2020-06-05 03:14] andrepodnozov commented on #55619
I confirm the fix. Thanks again!

[2020-06-05 03:25] artieroggeband opened #56429 "not supported sp used"
At the end just before the statistics sproc, this statement is shown which uses a system stored procedure that is not supported,

EXEC sp_spaceused N'wwi.fact_Sale';

instead use

DBCC PDW_SHOWSPACEUSED('wwi.fact_Sale');

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d26e70c3-2769-5b47-2bda-8a4a7f0239d0
* Version Indep

[2020-06-05 03:29] artieroggeband commented on #56429
So in fact it is, just ignore

[2020-06-05 03:29] #56429 closed

[2020-06-05 03:32] AmitavaHazra commented on #56069
@MarileeTurscak-MSFT ,
If you use Password Hash Synchronization you can sync password complexity and password expiration policies from on-premises to the cloud
- If I have ADFS authentication method selected in Azure AD connect then will it is applied same ? I mean on prem policy ?
- If I understood correctly though we have different set of default policy in Azure AD but for on prem account on pre

[2020-06-05 04:08] james-hilliard-3 opened #56430 "Incorrect Regions in Service Limits"
In your Important message about limits you call out specific regions. One of those regions is listed as US Government Central. That region does not exist. You either mean US Gov Iowa or perhaps all US Gov regions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8f9b79-678b-7a3e-0642-8ae7bd8a790b
* Version Independent

[2020-06-05 04:26] AmitavaHazra opened #56431 "Password expiry notification for ADFS authentication method for on prem user"
Password expiry notification (When users are notified of password expiration)

We have Azure AD connect with ADFS authentication method. Then for on prem user how "Password expiry notification (When users are notified of password expiration)" settings will be applicable.

As per this document it is said that the above policy will not be applicable for on prem user synchronized with azure ad.

http

[2020-06-05 04:29] BhargaviAnnadevara-MSFT commented on #56399
@mchudinov Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-05 04:37] Soichi-Fukasawa opened #56432 "`--name` is wrong. `--account-name ` is right."
[code]

This code occur following error.

[code]

Therefore, you should change `--name`  to `--account-name `.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6225e2-f996-0240-ec57-bb601e0e490d
* Version Independent ID: 02e61a77-e74d-a9ef-cccc-d59e8e26f8b9
* Content: [Secure access to application data - Azure

[2020-06-05 04:49] skvnoida opened #56433 "@Microsoft.KeyVault(...) not being replaced with secret value in vault"
Azure Function APP's managed identity is not able to access Key Vault's secret via configuration -> Application settings which have Key vault Reference using @Microsoft.KeyVault(SecretUri=....) even though Azure Function APP's managed identity added successfully in Key Vault access policies.

In Key Vault's Networking, we have set up the Allow access from as "Private endpoint and selected networks

[2020-06-05 04:50] SwathiDhanwada-MSFT commented on #56420
@kazshi Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-05 04:51] SwathiDhanwada-MSFT commented on #56421
@kazshi Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-06-05 04:52] algattik opened #56434 "Parameters for a JAR job both in Job Create and Run Submit"
The doc should explain what happens if you specify parameters for a JAR job both in the "parameters" attribute of the Job Create operation, and in the "jar_params" attribute of the Run Submit operation for the job. Which takes precedence?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94757e87-8be2-3279-4a7e-51fbbaf7d6

[2020-06-05 05:00] bazazar opened #56435 "Service tag for MDATP"
Can a service tag please be created for MDATP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-46f7-454801d8f865
* Version Independent ID: 4a8b0a32-bf57-7544-c60d-6b7f250c4477
* Content: [Azure service tags overview](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview)
* Conten

[2020-06-05 05:07] #56433 closed

[2020-06-05 05:08] skvnoida commented on #56433
I added the outbound IP and then it started working.

[2020-06-05 05:22] SubhashVasarapu-MSFT commented on #56379
@AmitavaHazra , We are looking into this query and will update you as soon as possible.

[2020-06-05 05:24] SubhashVasarapu-MSFT commented on #56381
@bh56 , We are looking into this query and will update you as soon as possible.

[2020-06-05 05:27] SubhashVasarapu-MSFT commented on #56373
@pascaldewild ,  We are looking into this query and will update you as soon as possible.

[2020-06-05 05:28] SubhashVasarapu-MSFT commented on #56384
@tukan17 , We are looking into this query and will update you as soon as possible.

[2020-06-05 05:29] SubhashVasarapu-MSFT commented on #56435
@bazazar , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2020-06-05 05:33] SnehaAgrawal-MSFT commented on #56089
@JanNepras We will now close this out but if you feel you need more information please just let us know.

[2020-06-05 05:33] #56089 closed

[2020-06-05 05:37] SubhashVasarapu-MSFT commented on #56395
@csvdarius , Could you please provide with the doc you were referring to for better insights?

[2020-06-05 05:40] VikasPullagura-MSFT commented on #56398
@BryanAdvisicon
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-05 05:42] VikasPullagura-MSFT commented on #56398
@stgeorgi @RoopChevuri Can you please add your comments on this.

[2020-06-05 05:45] UnsnappedKhan8 commented on #56398
Its because ur using me as a tool

On Fri, Jun 5, 2020, 1:43 AM VikasPullagura-MSFT <notifications@github.com>
wrote:

[2020-06-05 05:46] vipulsparsh commented on #56405
@andresu13 Thanks for reaching out. We will investigate and get back to you on this.

[2020-06-05 05:47] vipulsparsh commented on #56402
@marcosvidolin Thanks for reaching out. We will investigate and update this thread.

[2020-06-05 05:47] jeevansd commented on #56090
@jgmicallef Thanks for reaching out. Let me reach out to Meraki team and confirm the role. Then we can add this role directly in the gallery app so that customers dont have to add them manually.

[2020-06-05 05:48] VikasPullagura-MSFT commented on #56294
@saurabhvartak1982 Please let me know if you are still seeing issue.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-05 05:48] #56294 closed

[2020-06-05 05:48] jeevansd commented on #56090
@chetansriv can you please confirm this role value with Meraki team?

[2020-06-05 05:48] UnsnappedKhan8 commented on #56398
Why do yall continue to do this stuff knowing your invading my privacy your probably in this with enrique silva

[2020-06-05 05:49] VikasPullagura-MSFT commented on #56218
@vikaskumawat80
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-05 05:49] #56218 closed

[2020-06-05 05:51] UnsnappedKhan8 commented on #56294
Probably because i made my own thing and its just collecting info but
doesnt want to pay me microsoft

On Fri, Jun 5, 2020, 1:48 AM VikasPullagura-MSFT <notifications@github.com>
wrote:

[2020-06-05 05:52] UnsnappedKhan8 commented on #56294
So im the bug huh thats messed up considering im doing alot of work

[2020-06-05 05:53] UnsnappedKhan8 commented on #56090
I saved all the roles and made my own

On Fri, Jun 5, 2020, 1:48 AM Jeevan Desarda <notifications@github.com>
wrote:

[2020-06-05 05:54] UnsnappedKhan8 commented on #56090
Its like yall want me to end myself or something cause alls ur doing is fking me over and acting like im the error when alls i need is help but yall are to greedy

[2020-06-05 05:56] UnsnappedKhan8 commented on #56402
Why wont anyone just help the person whos writing the system

On Fri, Jun 5, 2020, 1:48 AM VipulSparshMSFT <notifications@github.com>
wrote:

[2020-06-05 05:58] UnsnappedKhan8 commented on #56405
Idk ig im doin something over here

On Fri, Jun 5, 2020, 1:46 AM VipulSparshMSFT <notifications@github.com>
wrote:

[2020-06-05 06:02] SubhashVasarapu-MSFT commented on #56406
@CeciAc , Thanks for reaching out. We will investigate and update this thread.

[2020-06-05 06:02] ChiragMishra-MSFT commented on #56406
@eXXL Once you setup your Node registration using dmgcmd, you can set the proxy by making changes to the "diahost.exe.config" file. If you select the Use system proxy option for the HTTP proxy, the self-hosted Integration Runtime uses the proxy settings in "diahost.exe.config" and "diawp.exe.config". If no proxy is specified for these files, the self-hosted Integration Runtime connects directly to

[2020-06-05 06:04] almondj opened #56437 "fromFile does not exist"
In using this sample, fromFile resolves to not existing. Closest in documentation is related to wav files: https://docs.microsoft.com/en-us/javascript/api/microsoft-cognitiveservices-speech-sdk/audioconfig?view=azure-node-latest#fromwavfileinput-file-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a421fddc-eebd-2ff2-62

[2020-06-05 06:05] SubhashVasarapu-MSFT commented on #56410
@marcosvidolin , Thanks for reaching out. We will investigate and update this thread.

[2020-06-05 06:07] saikumarellendula opened #56438 "regarding parameters of parameters"
[Enter feedback here]
Hi ,

we have below 2 pipeline parameters for a generic pipeline.

bus_dt: 20200604
Filename: abc.{bus_dt}.dat ( which is dependent on other parameter bus_dt)

could you please let us know how can we achieve this in Azure data factory ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40982a5b-890f-

[2020-06-05 06:17] souravmishra-msft commented on #56021
@simo-92, We are closing this thread for now since no response on this. Do update us if you would like to get this thread re-opened so that we can help you with that and help you further with your queries.

[2020-06-05 06:17] #56021 closed

[2020-06-05 06:18] VikasPullagura-MSFT commented on #56368
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-06-05 06:18] souravmishra-msft commented on #56034
@HoussemDellai, Closing this thread for now since no response on this. But feel free to reach out to us in case of any further queries around this thread, so that we can help you re-open this thread and help you further with your queries.

[2020-06-05 06:18] #56034 closed

[2020-06-05 06:19] KalyanChanumolu-MSFT commented on #56430
@james-hilliard-3 Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-06-05 06:19] saikumarellendula commented on #56372
Hi Kranthi,

Thank you for the response. could you please let me know is there a way to get the schema of source/target from a file during runtime.

if possible can we have a call to discuss on this. Thank you in advance!!

Thanks & Regards,
Saikumar

[2020-06-05 06:22] vipulsparsh commented on #56419
@davebirr Thanks for reaching out. We will investigate this and update accordingly.

[2020-06-05 06:24] vipulsparsh commented on #56413
@johnjordan-msft  Thanks for reaching out. We will investigate and update this accordingly.

[2020-06-05 06:25] saikumarellendula opened #56440 "runtime schema reading from file"
[Enter feedback here]

Hi ,

We want to develop some generic pipelines in our project .

we would like to know is there any way to read the schema of source/sink at runtime from a file( in blob).

This would help us in avoiding creation of lot of pipelines and improve the developer productivity.

This feature also helps the adoption of ADF across more companies

let us know if we can have a call t

[2020-06-05 06:26] vipulsparsh commented on #56417
@alan-hu  Thanks for reaching out. We will investigate and update accordingly.

[2020-06-05 06:28] vipulsparsh commented on #56234
@lleonr202 Let us know if you have any further question on this. I will be closing this thread, if you have any follow-up questions, please tag me while commenting.

[2020-06-05 06:30] gsxmax opened #56441 "The system pod will not be deployed on the new added system node pool automatically"
From the document, it states System node pools serve the primary purpose of hosting critical system pods such as CoreDNS and tunnelfront, but actually after adding a new system nodepool, the tunnelfront pod will still running on the existing nodepool even we changed the existing one to user mode.

Additionally, there is not much difference between system nodepool and user nodepool, all application

[2020-06-05 06:31] souravmishra-msft commented on #56242
@lifan0127, Thank you for reaching out. This happens as a part of the new security feature pushed which monitors the permissions being requested for consent in each tenant. It is expected that this will happen to some apps, if they meet our criteria. This is documented as one of the "**unexpected consent errors**" here: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/applicatio

[2020-06-05 06:31] TomGeske commented on #50983
#please-close

[2020-06-05 06:31] #50983 closed

[2020-06-05 06:37] souravmishra-msft commented on #56330
@rwike77, It would be grea tif you can take a look at this and update the doc accordingly.

[2020-06-05 06:38] RohitMungi-MSFT commented on #56045
@rhalaly As discussed it would be great if you can raise a support request from Azure portal to lookup this request detail by an authorized engineer and advise what is wrong in this setup.
We can update any findings in this issue for the interest of the community or correcting any setup steps in the document that are incorrect. Please let me know if this works for you so we can go ahead and close

[2020-06-05 06:39] souravmishra-msft commented on #56419
@kkern13, Can you please take a look at this and update the doc accordingly.

[2020-06-05 06:54] JeryLu2020 opened #56442 "Invalid object name 'dbo.Todoes'."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-6337-3940a5259101
* Content: [Tutorial: ASP.NET app with Azure SQL Database - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutor

[2020-06-05 06:55] JeryLu2020 opened #56443 "Invalid object name 'dbo.Todoes'."
[Enter feedback here]

![image](https://user-images.githubusercontent.com/25541463/83846082-9bae7700-a73c-11ea-8904-13575b4645e0.png)

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72d855c6-51fd-a1da-5c44-8b44658c0211
* Version Independent ID: 15c87b07-e89e-2b0c-6337-3940a5259101
* Content: [Tutorial: ASP.NET app with Azur

[2020-06-05 06:56] dicedpeppa commented on #40107
thank you for your feedback @madiepev . Much appreciated

[2020-06-05 06:58] RohitMungi-MSFT commented on #56352
@Blackmist Thanks for adding this. @ignaciofls Thanks for your inputs and we will go ahead and close this issue.

[2020-06-05 06:58] #56352 closed

[2020-06-05 07:18] saikumarellendula opened #56444 "Reading Milliseconds/Microseconds/Nanoseconds of timestamp datatype"
[Enter feedback here]
Hi,
we are getting the timestamp data as below example in a delimited file
Data: 20200406 22:13:56.746

projection is defined in the source with datatype as timestamp and format as "yyyyMMdd HH:mm:ss.SSS" as specified in documentation

but the dataflow is not reading the  milliseconds and giving till seconds as "20200406 22:13:56"

So, please provide a way to read the millise

[2020-06-05 07:25] BharathNimmala-MSFT commented on #55974
@soeirodefaria Apologies for delayed response. Looping in our Product PM for further help.

@anuragdalmia Can you please help on this thread ? thanks

[2020-06-05 07:26] ChiragMishra-MSFT commented on #56423
@rabbit721 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-06-05 07:27] ChiragMishra-MSFT commented on #56434
@algattik Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2020-06-05 07:29] saikumarellendula opened #56445 "custom failing a dataflow & custom error messages"
[Enter feedback here]
Hi,

In azure data factory,

1) we have a scenario of failing the dataflow if there are zero records in a file.

using the aggregate transformation, we are able to derive the number of records in the file,but we done see a way to fail the dataflow like using functions like abort() etc.,

2) also, we would like show failure reason with custom error message like " file has zero

[2020-06-05 07:30] ChiragMishra-MSFT commented on #56445
@saikumarellendula Thanks for reaching out to us. We are working on your ask and will update you shortly.

[2020-06-05 07:33] ChiragMishra-MSFT commented on #56422
@rabbit721 Closing this issue as duplicate of : https://github.com/MicrosoftDocs/azure-docs/issues/56423

[2020-06-05 07:33] #56422 closed

[2020-06-05 07:35] JeryLu2020 commented on #56443
This document is fucked up, please fix it ASAP!

[2020-06-05 07:37] ChiragMishra-MSFT commented on #56438
@saikumarellendula You can use a set variable activity to assign the dependent variable as something similar to :

`@concat('abc.' , variables('bus_dt'), '.dat')`

Hope this helps.

[2020-06-05 07:40] saikumarellendula commented on #56438
we have many parameters like this and this are dynamic in nature.

is there any other way instead of using the set variable activity?

[2020-06-05 07:46] ChiragMishra-MSFT commented on #56438
@saikumarellendula Unfortunately as of today, I dont't think there's another way to bind two variables.

I would recommend you to provide feedback at the [feedback forum](https://feedback.azure.com/forums/270578-data-factory). All the feedback you share, is closely monitored by the Data Factory Product team and implemented in future releases.

Also, Regarding service general availability, I would

[2020-06-05 07:49] justinormont opened #56446 "Missing closing bracket on JS CustomVision API example"
Code example is missing `; )};` to close the lambda:

[code]

It may also be missing code following this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6c3f20-25a4-bc19-0cb6-377eff01b00e
* Version Independent ID: 02d76c7b-cffa-c94f-2298-ba7e506d4f79
* Content: [Quickstart: Create image classification with Custom Vis

[2020-06-05 07:53] cadumi opened #56447 "GA update no Telemetry. Docu to be updated"
Hello team,

WindowsAzureTelemetryService.exe - WindowsAzureTelemetryService service - used for guest agent telemetry - Note that starting with version 2.7.41491.971, the Telemetry component is included into the RDAgent service - so you might not see this service in recent versions.

Please update documentation accordingly or add this information, as it is confusing for customers.
Regards,
Carmina

[2020-06-05 08:02] amanmcse commented on #56402
@marcosvidolin Thank you for pointing this out. I have updated the document and the changes will reflect once the merger is completed.

[2020-06-05 08:02] #56402 closed

[2020-06-05 08:03] BharathNimmala-MSFT commented on #55900
@lucidqdreams Apologies for your experience , can you please share your account information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your Subscription details and a link to this thread so we can verify and direct the request accordingly .  We'll continue to investigate this with you directly and will update the thread with any findings that ma

[2020-06-05 08:03] #55900 closed

[2020-06-05 08:11] CHEEKATLAPRADEEP-MSFT commented on #56434
@algattik Understand the difference between parameters and jar_params.

![image](https://user-images.githubusercontent.com/44426401/83852190-0eb1f080-a731-11ea-98b5-151283410b34.png)

For example, assuming the JAR is uploaded to DBFS, you can run SparkPi by setting the following parameters.

[code]

**Note:** . Only one of jar_params, python_params, or notebook_params should be specified in the ru

[2020-06-05 08:21] amanmcse commented on #56231
Updated https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-rest-api-intro with this informaiton.

[2020-06-05 08:21] #56231 closed

[2020-06-05 08:23] #56423 closed

[2020-06-05 08:28] amanmcse commented on #56232
@nakkeerann In Azure portal, you can find the resource application under Azure AD > Enterprise Applications, as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/83854588-8d5c5d00-a734-11ea-8f3b-00d2473d9494.png)

[2020-06-05 08:37] UnsnappedKhan8 commented on #56232
Im guessing that im the only one decrypting this here

On Fri, Jun 5, 2020, 4:28 AM AmanpreetSingh-MSFT <notifications@github.com>
wrote:

[2020-06-05 08:40] UnsnappedKhan8 commented on #56232
It didnt work

[2020-06-05 08:42] UnsnappedKhan8 commented on #56232
Man im the only one who put that out there fr

[2020-06-05 08:42] UnsnappedKhan8 commented on #56232
Im the only one who put that out there fr

On Fri, Jun 5, 2020, 4:37 AM Michael K Zromkoski <mishields3616@gmail.com>
wrote:

[2020-06-05 08:43] pvdwerf commented on #47255
I have excactly the same issue, is there a solution or a workaround?

[2020-06-05 08:45] UnsnappedKhan8 commented on #56423
Srry people but i had to

On Fri, Jun 5, 2020, 4:24 AM CHEEKATLAPRADEEP-MSFT <notifications@github.com>
wrote:

[2020-06-05 08:48] ram-msft commented on #56077
@damochiz Thanks for the details. Once you have configured the application insights using python SDK and azure machine learning studio you will be able to see the requests data in Performance-> View in Logs.

![image](https://user-images.githubusercontent.com/49180516/83856611-753a0d00-a737-11ea-9037-31c5d7d4996a.png)

[2020-06-05 08:56] rhalaly commented on #56045
Ok. I will open a ticket in Azure and close this issue. I will open a new one if there will be more findings. Thanks

[2020-06-05 08:56] #56045 closed

[2020-06-05 08:59] SnehaAgrawal-MSFT commented on #56442
@JeryLu2020  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-05 08:59] naverpark opened #56448 "application gateway custom error page for 504?"
Can i specify custom error page for "504 Gateway Time-out" ?
If it's not possible at the moment, do you have any plan or road map to do this?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712f
* Content: [Create Azur

[2020-06-05 09:02] RohitMungi-MSFT commented on #56437
@almondj Yes, this is incorrect and needs to be updated. The updated sample from github [repo](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/js/browser/index.html) uses fromWavFileInput()
@trevorbye  @BrianMouncer can you update the javascript sample in the documentation to use the correct  method?

[2020-06-05 09:05] SnehaAgrawal-MSFT commented on #56442
@JeryLu2020 Closing it here Since its duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/56443

[2020-06-05 09:05] #56442 closed

[2020-06-05 09:05] SnehaAgrawal-MSFT commented on #56443
@JeryLu2020  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-06-05 09:15] omarmallat commented on #56071
Sorry for the late response... emails notifications about your reply are not coming properly into my mailbox. anyway, when I checked the event viewer, I noticed different responses:
1. when I connect to VPN, I got a request to approve MFA and I reject it , or I ignore it without response, I got connected to VPN, and the event viewer is: _NPS Extension for Azure MFA:  CID: 7b629c83-1537-4dd6-8da2-d

[2020-06-05 09:20] vipulsparsh commented on #56334
@msmimart Can you look into this ?

[2020-06-05 09:21] #56234 closed

[2020-06-05 09:22] souravmishra-msft commented on #56381
@bh56, I am not able to understand which object are you trying to retrieve. Can you please mention the requirement so that its easier for us to comment and help.

[2020-06-05 09:23] damochiz commented on #56077
@ram-msft Thank you for quick response. But I already know that I can see the logs from the request table. What I want you to confirm is that I can't see Input and Prediction data in customDimensions from the traces table, as shown in the image.

[2020-06-05 09:32] vipulsparsh commented on #55990
@ivratche We checked this, seems you have to use other parameter such as App_Id which has the same value as client_ID . App_Id can be passed in tokens.
Few of the restricted Claims are available as optional claims which you can use. Client_Id is not one of them and that is why it cannot be used.

[Here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claim

[2020-06-05 09:40] NandoCal commented on #55110
Can you also remove all references to AzureRM? They don't appear to be relevant anymore.

[2020-06-05 09:41] RohitMungi-MSFT commented on #56446
@justinormont Thanks for pointing this out. I think the snippet is showing a part of the function as this is continued further to create tags, this is probably indicating that this is a typo. The complete sample [here](https://github.com/Azure-Samples/cognitive-services-node-sdk-samples/blob/master/Samples/customvision/customVisionImgClassify.js) shows the complete view of the function and should

[2020-06-05 09:44] vipulsparsh commented on #56412
@ariso353 Thanks for reaching out to us. We will investigate and get back to you.
@rolyon Can you look into this and update the document as needed.

[2020-06-05 09:48] vipulsparsh commented on #56431
@AmitavaHazra Thanks for reaching out. We will investigate and update this thread.

[2020-06-05 09:59] ms-ishiyam opened #56449 "About Appservice certificate"
I know we can use AppService certificate with KeyVault Integration of Application Gateway so I want the document about how to use AppService certificate with KeyVault Integration. But I can not find such document. I think many user want such document. I hope you add such information in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-06-05 10:00] SumanthMarigowda-MSFT commented on #56432
@Soichi-Fukasawa Thanks for your question. We are checking on this and will respond to you soon.

[2020-06-05 10:02] SumanthMarigowda-MSFT commented on #55914
@Ayanmullick Clarifying question about you email to storage: Subscription tenant migration procedure for CMK-encrypted storage account
Have you created new access policies in key vault?
Are you looking for this -AssignIdentity cmdlet?

$storageAccount = Set-AzStorageAccount -ResourceGroupName <resource_group> `
    -Name <storage-account> `
    -AssignIdentity

[Use PowerShell to configure custome

[2020-06-05 10:02] VikasPullagura-MSFT commented on #56007
Hope the provided information is helpful. The document will be updated soon.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-05 10:02] #56007 closed

[2020-06-05 10:03] SumanthMarigowda-MSFT commented on #56033
@Davidswinkels We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-05 10:03] #56033 closed

[2020-06-05 10:16] UnsnappedKhan8 opened #56450 "Heyo"
Heyo

_Originally posted by @UnsnappedKhan8 in https://github.com/MicrosoftDocs/azure-docs/pull/55677#issuecomment-639387751_

[2020-06-05 10:17] saikumarellendula opened #56451 "detailed log"
[Enter feedback here]
Hi,

one of the Azure data factory pipeline failed with this error. where can we find the more detailed information in which rows of the source file we have issues.

{"message":"at Source 'source1': Column 'int_col has incompatible types( Found: StringType, Required: IntegerType). Details:at Source 'source1': Column 'int_col has incompatible types( Found: StringType, Required

[2020-06-05 10:20] SubhashVasarapu-MSFT commented on #56448
@naverpark , Appreciate your patience. I see there is already a[ feature request](https://feedback.azure.com/forums/217313-networking/suggestions/40009945-custom-error-page-for-504-error) submitted on similar ask. Please take a few minutes to submit your idea in the one of the forums available on here or vote up an idea submitted by another Azure customer. All of the feedback you share in these fo

[2020-06-05 10:33] justinormont commented on #56446
@RohitMungi-MSFT : The sample is also out of date; I logged a seperate issue -  https://github.com/Azure-Samples/cognitive-services-node-sdk-samples/issues/42.

I think the [docs site](https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/quickstarts/image-classification?pivots=programming-language-javascript) is referencing the current version.

[2020-06-05 10:36] frehnejc commented on #48902
I sent a message to azcommunity@microsoft.com  but no-one seems to respond.

[2020-06-05 10:41] sakaldeepyadav opened #56452 "Duplicate entry for "To find the occurrence of an error across all users""
Below section has repeated twice:

**To find the occurrence of an error across all users:**
_WVDErrors
| where ServiceError =="false"
| summarize usercount = count(UserName) by CodeSymbolic
| sort by usercount desc
| render barchart_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fbeb2fb-b956-ebb4-1d0b-fb32c5ecccd0
*

[2020-06-05 10:53] bhushang19 opened #56453 "Custom health probe always returning same error message"
This is w.r.t. https://github.com/MicrosoftDocs/azure-docs/issues/44425#issuecomment-638686634
Trying to configure the end to end SSL using App gateway v2, however the custom health probe seem to be returning same message every-time i.e. _The Common Name (CN) of the backend certificate does not match the host header entered in the health probe configuration. Either change the probe configuration o

[2020-06-05 11:01] helloyesthisisdave opened #56454 "Please add the actual details of what permissions are required to add a user"
Please add the actual permissions required to submit U-SQL jobs rather then just stating "Use the Wizard."  Being told to run a black box is not actually useful in knowing what is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a99913e8-6da8-cb09-4472-8f92f8a1be70
* Version Independent ID: cbd7ead3-b2c4-f299-3

[2020-06-05 11:12] mkcloudworks opened #56455 "Managed disks query can pull ASR(disk replication) disks as well."
[Enter feedback here]
`# Set deleteUnattachedDisks=1 if you want to delete unattached Managed Disks
# Set deleteUnattachedDisks=0 if you want to see the Id of the unattached Managed Disks
$deleteUnattachedDisks=0
$managedDisks = Get-AzDisk
foreach ($md in $managedDisks) {
    # ManagedBy property stores the Id of the VM to which Managed Disk is attached to
    # If ManagedBy property is $null then

[2020-06-05 11:20] CHEEKATLAPRADEEP-MSFT commented on #56451
@saikumarellendula Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums -[Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-06-05 11:20] #56451 closed

[2020-06-05 11:37] MariaVrabie opened #56457 "Custom Trancription (preview) - email from link not valid anymore"
[Hello - the Custom Transcription Feature Crew link points to an email that is no more valid. Could we fix this?
link here:https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/conversation-transcription#language-support]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a8e3c8-0dc9-3dba-3f03-236ca88e

[2020-06-05 11:38] AmitavaHazra opened #56458 "Unexpected behavior for tesing SSPR registration from myapps portal"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-sspr

After enabling combined registration and SSPR for a user we tried to test.
Settings: Require users to register when signing in?

When we access https://aka.ms/ssprsetup it will redirect us to add authentication method.
If we access portal.azure.com we are also having expected redirection to add authenticat

[2020-06-05 11:43] CHEEKATLAPRADEEP-MSFT commented on #56454
@helloyesthisisdave

**On Azure Data Lake Storage Gen1:**  If a user or a security group needs to submit jobs, they also need permission on the store account like (Owner or contributor).

The **Owner** and **Contributor** role provide access to a variety of administration functions on the data lake account. For users who will interact with data in the data lake but still need to view account manag

[2020-06-05 11:49] CHEEKATLAPRADEEP-MSFT commented on #56440
@saikumarellendula  While I understand your concern we are not always able able to document answers for questions of this nature.  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html)
Once you post your issue on forums, it will have visibility across the

[2020-06-05 11:49] #56440 closed

[2020-06-05 11:52] CHEEKATLAPRADEEP-MSFT commented on #56444
@saikumarellendula  Thanks for the question! We are investigating and will update you shortly.

[2020-06-05 11:54] CHEEKATLAPRADEEP-MSFT commented on #56450
Closing this issue as duplicate of : #55677

[2020-06-05 11:55] #56450 closed

[2020-06-05 11:56] sergevm commented on #48902
@frehnejc I created a support request in the Azure portal, and this was fixed by support soon after. Did not have to send a mail.

[2020-06-05 12:27] jurajgh commented on #47255
nope, still not working..
@msrini-MSFT any update, please? as you can see from my response, there's no correlation ID to post in Microsoft Q&A, since the records don't appear in the Sign-ins panel.

[2020-06-05 12:32] Blackmist commented on #56077
Hi @damochiz , thanks for reporting this problem. I'll check with engineering and see if there's any missing steps or info from the document.

[2020-06-05 12:34] bh56 commented on #56381
I would like to be able to query via powershell commandlet.  I do not see the "source" field in the Get-AzureADUser object.  In this document it references that it is in a user properties.  But I'm not clear where I can get this attribute from.
![image](https://user-images.githubusercontent.com/9595141/83876572-b235dd80-a6fe-11ea-9fa9-0d7bcd5ac72c.png)

[2020-06-05 12:51] DixitArora-MSFT commented on #56086
@wjohnson2250 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-05 12:51] #56086 closed

[2020-06-05 12:52] DixitArora-MSFT commented on #56078
@michaelwardyit Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-05 12:52] #56078 closed

[2020-06-05 13:07] tfitzmac commented on #56414
@nprieto95 - are you using Azure CLI, PowerShell, or REST to deploy the template? What version? I tested the template you provided and it worked for me (other than a small change of using the parameter for storage name instead of a variable).

[2020-06-05 13:16] soportedba opened #56459 "redirect_server_host"
[Enter feedback here]
Please include information about getting the replication server IP (Azure database for MySQL) to include in the master site (on-premisse) firewall rules by executing:

show variables like "redirect_server_host";

at Azure database for MySQL.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-05 13:17] tulippadi commented on #47255
I too have this issue. Followed [this tutorial](https://docs.microsoft.com/en-gb/azure/active-directory/authentication/tutorial-enable-azure-mfa#next-steps) step by step, double checked everything, but the conditional access policy is simply ignored.

[2020-06-05 13:32] mumian commented on #55852
@jtuliani - I have updated the article.  Let me know if it helps.

[2020-06-05 13:36] ZachEdwards7 opened #56460 "Update blurb to include IPv6 support for Conditional Access"
This is no longer true - Conditional Access named locations now work with IPv6 as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID: 518b727f-79e8-b5c2-bcb3-ff4de3444c6f
* Content: [Configure Azure Multi-Factor Authentication - Azure Active Directory](http

[2020-06-05 13:39] VikasPullagura-MSFT commented on #56441
@gsxmax
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-05 13:41] VikasPullagura-MSFT commented on #56441
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-06-05 13:44] VikasPullagura-MSFT commented on #56447
@cadumi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-05 13:44] VikasPullagura-MSFT commented on #56447
@genlin
Can you please check and add your comments on this doc update request as applicable.

[2020-06-05 13:45] jodiecunningham opened #56461 "Pair table mentions retired datacenter US Gov Iowa."
The Azure US Gov Iowa region was retired Apr 30, 2020, but is still listed in the pair table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business continuity & disaster recovery using Azure Paired R

[2020-06-05 13:50] benc-uk opened #56462 "Call Graph API - get id_token and access_token"
In the case of authenticating with AAD, would it be possible to expose to the app the id_token and access_token of the signed in user? Maybe in HTTP headers as is done with App Service Auth

We're creating an app that is going to call the Graph API, and for that we need an access_token

The fallback option of course is to use MSAL and do our own authentication in code - but would be better if we c

[2020-06-05 13:54] JanNepras commented on #56089
@SnehaAgrawal-MSFT I don't understand. We didn't solve anything and close the issue. What is the point of this issue anyway?

[2020-06-05 13:55] VikasPullagura-MSFT commented on #56455
@mkcloudworks
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-05 13:55] VikasPullagura-MSFT commented on #56455
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-06-05 14:11] andresu13 opened #56463 "Start investigation?"
I don't see an "Start Investigation" button in the Security Alerts page.

Has this changed in the portal? Does this document need to be updated and fixed?

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec6ce7ac-2f4e-ff78-4077-6eeae5a608f4
* Version Independent ID: 9f2bc496-a947-ee04-f105

[2020-06-05 14:19] polak34 opened #56464 "autosuggest api bing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6951a8c-8005-6ee6-02c5-2a671377e9df
* Version Independent ID: 10a9c3dc-a0ed-8af4-1959-ca4d7b9afb03
* Content: [Define Custom Autosuggest suggestions - Bing Custom Search - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-ser

[2020-06-05 14:19] VikasPullagura-MSFT commented on #56452
@sakaldeepyadav Thanks for pointing this out.
I have updated the document and changes will go live soon.

[2020-06-05 14:25] SwathiDhanwada-MSFT commented on #56308
@SquirrelAssassin Just following to check if you need further assistance related to your issue.

[2020-06-05 14:28] VikasPullagura-MSFT commented on #56183
@yejiyang Any update on this?
Hope the provided information is helpful. If you have any further questions please let us know.

[2020-06-05 14:31] sammym1982 commented on #44883
@yugangw-msft @Karishma-Tiwari-MSFT  we had the same question when reading the document at [https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos) looking at which it sounded Store Helm Chart is in preview. But reading through above conversation it sounds like if I am using He

[2020-06-05 14:32] wjohnson2250 commented on #56086
I replied to your last email on 01/06/2020, 14:44. I got no response.

On 05/06/2020 13:51, DixitArora-MSFT wrote:

[2020-06-05 14:32] wjohnson2250 commented on #56086
I replied to your last email on 01/06/2020, 14:44. I got no response.

On 05/06/2020 13:51, DixitArora-MSFT wrote:

[2020-06-05 14:40] michaelwardyit commented on #56078
Sorry, I missed that email. Yes, I have gone through the links and they don't help.

[2020-06-05 14:43] michaelwardyit commented on #56078
![SliderBackground](https://user-images.githubusercontent.com/4920116/83889797-bad5f480-a78e-11ea-914d-deb2899db4e7.jpg)

[2020-06-05 14:45] DanielSimonWe commented on #55822
@amanmcse
Currently we are building up a single page application (SPA) in Angular 9 using msal.js and azure/msal-angular libs.
We are trying to authenticate with a UI flow for signUp/SignIn. It seems the userflow can only be testet when there is a application registration as platform 'web'. Its not working with platform 'spa'. (see above screenshot)
It also occures that we cannot access the authen

[2020-06-05 14:47] crystalgeek opened #56465 "Create an Azure Application Insights instance - Screenshots and Steps Outdated"
Create an Azure Application Insights instance Section
Screenshot and steps outdated
Steps detail to select an application type of general which is no longer an option (defaults to type of web)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c26c1996-853e-9a55-5802-8c4095d545b9
* Version Independent ID: 437f5553-6914-c0e

[2020-06-05 14:47] VikasPullagura-MSFT commented on #56331
@nikoskip I checked with internal team on this.

On Standard LB to add more egress IP's you can check [this](https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#scale-the-number-of-managed-public-ips) Scale the number of managed public IP.
Also, you can even define your own public IP on an existing cluster as per this [doc](https://docs.microsoft.com/en-us/azure/aks/load-balancer-sta

[2020-06-05 14:52] SaurabhSharma-MSFT commented on #56463
@andresu13 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-05 14:53] SaurabhSharma-MSFT commented on #56460
@ZachEdwards7 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-05 15:01] gxtaillon commented on #23238
This has been happening for a while now and all mfa authentications fail for the first one-time password, waiting 30sec and getting another one always works.

[2020-06-05 15:02] SaurabhSharma-MSFT commented on #56214
@TechWatching I haven't tried in Azure pipeline but if PowerShell task is capable of running any Powershell script, then this should work.

[2020-06-05 15:15] NavtejSaini-MSFT commented on #56224
@vikaskumawat80 We are going ahead and closing this thread for now. Please get back to us if you have any further questions.

[2020-06-05 15:15] #56224 closed

[2020-06-05 15:18] taromielnaz opened #56466 "Which version of TLS"
Hello,
Which version of TLS does Azure use for data in tansit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-defab17b572b
* Version Independent ID: 9855d796-3469-8be5-c9a7-75516d9b8856
* Content: [Azure encryption overview](https://docs.microsoft.com/en-us/azure/security/fundamentals/encryption

[2020-06-05 15:25] tfurstms opened #56467 "Clarify + contrast Azure Service Endpoints and Azure Private Link"
Hello - At a high-level, Azure Private Link Vs Azure Service Endpoints sound similar but they have some specific differences of when to use each.

On this page can you provide a link to the Azure Private Link FAQ which has a section called **_What is the difference between a Service Endpoints and a Private Endpoints?_**  The link is:
 https://docs.microsoft.com/en-us/azure/private-link/private-lin

[2020-06-05 15:26] efonsecab opened #56468 "Delegate endpoint not receiving subscription name"
The video about delegation has productid and userid parameters inverted when computing the hash.
The delegate endpoint does not recive the value the user typed for the subscription name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca841cb-5a8f-ca9a-ec92-d088f43e0401
* Version Independent ID: a56f0f32-4fb5-55b5-54d4-

[2020-06-05 15:27] NavtejSaini-MSFT commented on #56459
@soportedba We are checking this and we will get back to you.

[2020-06-05 15:34] artemuwka commented on #56128
Appreciate the follow-up, @alexvy86! I came to learn yesterday night that we currently have an ongoing issue with account failover wherein it can only be initiated once LastSyncTime is more than 4 hours after account creation time or after the time the account was converted to (RA-)GRS. E.g. if the account was created at 1 pm, then the LST should be 5 pm in order for the failover to work. We're wo

[2020-06-05 15:35] MarileeTurscak-MSFT commented on #56416
@Ritzo90
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 15:41] fabio770 opened #56469 "More examples on how to register and execute Stored Procedures using multiple SDK"
I found very interesting that the documentation shows how to register and execute Stored Procedures using multiple SDK. But there is only one example for each SDK. I think it would be interesting to have more examples for each language, specially for the .NET SDK V3 because I didn't find any examples elsewhere that could help me with that.

Thank you very much.

---
#### Document Details

⚠ *Do no

[2020-06-05 15:45] saikumarellendula opened #56470 "precision and scale as parameters to toDecimal() Function"
[Enter feedback here]
Hi,

providing the precision and scale as parameters to toDecimal() function in Azure data factory is giving "Should be integer literal error". please provide a way to resolve this issue.

Thanks,
Saikumar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fef9ea1-5a72-4212-da99-54d2cdd81d37
* Versio

[2020-06-05 15:47] GiftA-MSFT commented on #56457
@MariaVrabie we will review your feedback and get back to you shortly. Thanks.

[2020-06-05 15:48] alexvy86 commented on #56128
Oh, that's good to know because I just converted the first account back to GRS with the intention of falling back to the original primary region haha. I'll check on it in 4 hours then, thanks! Once you get an ETA, depending on how long it is it might be worth adding that note to the documentation, I think.

[2020-06-05 15:49] gs-repo commented on #56303
Hi Pat,

Thank you following up. I'm evaluating this solution for clients versus creating all components from scratch via script. Please let me know once you have clarification.

Thanks,

GURINDER SINGH MANN

604-700-5513

www.blubyte.io<https://blubyte.io/>

________________________________
From: Pat Altimore <notifications@github.com>
Sent: June 4, 2020 7:42 AM
To: MicrosoftDocs/azure-docs <azur

[2020-06-05 15:52] GiftA-MSFT commented on #56464
@polak34 can you please clarify your feedback? Thanks.

[2020-06-05 15:59] mamccrea commented on #54850
I will now proceed to close this issue. If you have any additional questions, please reopen the issue.

#please-close

[2020-06-05 15:59] #54850 closed

[2020-06-05 16:06] CelticCoder opened #56473 "Postman download link pointing at google play store??"
The link for PostMan is going to the google play store???? surely it should be going here, I thought it was rather strange

I would suggest this:
https://www.postman.com/downloads/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c8e934-6639-88c5-08c1-31c90531854e
* Version Independent ID: 440b6cf2-692c-9a2c-558b-22326

[2020-06-05 16:11] dverbiest1 opened #56475 "Sap Netweaver metadata xml no longer accepted"
[Enter feedback here]
recently the upload of metadata xml fails for SAP Netweaver.  The error is The Blade extension/Microsoft_AAD_IAM/Blade/SamlBlade failed to supply all the required parameters.  The missing the required parameter(s): 'signOnUrl'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccaf7a87-3d5a-521e-5fd3-

[2020-06-05 16:12] elvirk opened #56476 "Question about RDG collection sessions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61df48bb-a963-b1f0-8f64-b55d0bd6904c
* Version Independent ID: 677de59f-a222-8905-11c0-a3ac619d8b56
* Content: [Integrate RDG with Azure MFA NPS extension - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentication

[2020-06-05 16:23] AshokPeddakotla-MSFT commented on #54478
@anastasia-ms Thanks for updating the doc. Please check and let us know if you have any further queries/feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-05 16:23] #54478 closed

[2020-06-05 16:23] sirtwist opened #56478 "Clarify impact of SharePoint/OneDrive domain restrictions on AAD guest restrictions"
"This list works independently from OneDrive for Business and SharePoint Online allow/block lists. If you want to restrict individual file sharing in SharePoint Online, you need to set up an allow or deny list for OneDrive for Business and SharePoint Online. For more information, see Restricted domains sharing in SharePoint Online and OneDrive for Business."

In my opinion, this needs additional d

[2020-06-05 16:25] DonPetry-EY opened #56479 "Server 2019?"
The overview page (https://docs.microsoft.com/en-us/azure/active-directory/devices/) states that Azure AD Join supports "Server 2019 (not core)".  However, this page only mentions Windows 10.

Please add Server 2019 here -- or fix the Overview page to make it more clear if Server 2019 supports Azure AD Join.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-06-05 16:26] #56452 closed

[2020-06-05 16:27] AshokPeddakotla-MSFT commented on #55619
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-05 16:27] #55619 closed

[2020-06-05 16:29] mamccrea commented on #55915
I will now proceed to close this thread. If you have any additional questions, please reopen the issue.

#please-close

[2020-06-05 16:29] #55915 closed

[2020-06-05 16:32] DonPetry-EY opened #56480 "AAD Authentication Methods Supported?"
Curious which AAD authentication topologies are supported with this to understand which scenarios this supports.

Can you please clarify if this feature requires the AAD Tenant to have the user's password hash?
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-phs

And, does it support pass-thru authentication?
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-

[2020-06-05 16:34] mamccrea commented on #56028
Thanks, @dimitri-b! I have updated the doc. The changes will go live next week.

#please-close

[2020-06-05 16:34] #56028 closed

[2020-06-05 16:35] wt-bryan opened #56481 "Link to Docker Swarm broken"
I think you are looking either looking for this:
https://docs.docker.com/get-started/swarm-deploy/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b876f15f-5cad-5764-891d-ff8184f3d8ca
* Version Independent ID: 7831214a-7ed5-30ae-d3c0-d0474a90f56c
* Content: [Managed container registries - Azure Container Registry](https

[2020-06-05 16:36] wbsmolen commented on #34451
+1 this is an issue. My workload is jekyll site that listens on 4000. My dockerfile is exposing 4000, setting the LISTEN_PORT env var to 4000, and serving on 4000.

App Service config settings for both WEBSITES_PORT and PORT only toggle the host mapping. **There doesn't appear to be any way to specify the container port binding in a single container deployment on App Service.**

[2020-06-05 16:39] w0ut0 opened #56482 "What are the supported log types "AppServiceIPSecAuditLogs", "ScanLogs" and "AppServicePlatformLogs""
In the diagnostics log settings of my App Service (running containers on Linux if that matters), I can choose 3 additional log types next to the 6 log types mentioned in this documentation.

Can we add documentation about the following log types:

- AppServiceIPSecAuditLogs
- ScanLogs
- AppServicePlatformLogs

![image](https://user-images.githubusercontent.com/20435853/83902005-ef7c8880-a75b-11ea-

[2020-06-05 16:40] bandersmsft commented on #55488
@LRomandine You're quite right. The link was missing. Thanks for catching that oversight. Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/117852.

BTW, your GH profile picture is pretty cool.

[2020-06-05 16:49] mamccrea commented on #56289
Hi @arunravimv - where are you seeing this in the doc?

[2020-06-05 16:50] #56476 closed

[2020-06-05 16:53] abatishchev opened #56483 "Article doesn't distinguish between different Government clouds"
This articles uses a generic term "Azure Government"to talk about US Government Cloud (correct me if I'm wrong) but nowhere clarifies that fact. Searching for Germany or China on the page yields nothing. As an engineer working with all 3, I find this article pretty confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-05 16:55] kvsrkrishnan opened #56484 "Add-RdsAppGroupUser : The specified UserPrincipalName is already assigned to a RemoteApp AppGroup in the specified HostPool."
I have a problem when assigning a user to both Desktop App Group and RemoteApp app group in same hostpool: **Can you clarify if this is expected? or if the restriction is still in place?**

Add-RdsAppGroupUser : The specified UserPrincipalName is already assigned to a RemoteApp AppGroup in the specified HostPool.

The documentation says: "[...] To publish resources to users, you must assign them t

[2020-06-05 16:56] mamccrea commented on #56329
Thanks @grayluck. I have updated the doc. The changes will go live next week.

#please-close

[2020-06-05 16:56] #56329 closed

[2020-06-05 16:59] bandersmsft commented on #55488
#please-close

[2020-06-05 16:59] #55488 closed

[2020-06-05 17:04] SadiqhAhmed-MSFT commented on #56207
@Snozzberries It is mentioned in the link you've shared under the section "Prepare an account for Mobility service installation"

Prepare the account as follows:

Prepare a domain or local account with permissions to install on the VM.

Let me know if you are referring to a different section or highlight the section where this info needs to be added.

[2020-06-05 17:06] tcare opened #56485 "Broken MD link in Azure Monitor Private Storage page"
Azure Private Link md reference is broken under 'Next Steps'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b10fbb77-ab84-dcc5-78c2-11ef2bfe1c9a
* Version Independent ID: d0c2d448-ad8f-3428-a085-7b4f66282a10
* Content: [Customer-owned storage accounts for log ingestion - Azure Monitor](https://docs.microsoft.com/en-us/

[2020-06-05 17:10] grayluck commented on #56329
Thank you for help!

[2020-06-05 17:11] jdocampo opened #56486 "Set ACLs on all items in a file system, script failure"
I don't know if it's related to my version of powershell, but I found a bug in the script under "Set ACLs on all items in a file system":
How to reproduce the problem: Execute the script in a folder where there is only one empty subfolder. It will skip setting the permissions on the empty subfolder. E.g.

| folder1/
|---| subfolder1/

The scripts uses the following condition:
`if($items.Length -le

[2020-06-05 17:13] MartinJaffer-MSFT commented on #56470
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-05 17:19] iainfoulds commented on #56460
Thanks for the feedback, @ZachEdwards7

I've created a PR to update the doc, although IPv6 support is only available in the named locations preview interface. This doc update should publish later today.

[2020-06-05 17:20] csvdarius commented on #56395
@SubhashVasarapu-MSFT I provided detailed links to all documentation within my initial post.  Please re-read my post.

[2020-06-05 17:26] MarileeTurscak-MSFT commented on #56478
@sirtwist
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 17:26] MartinJaffer-MSFT commented on #56093
Thank you for your feedback. This has been assigned to the content owner, @linda33wj  and will be updated as appropriate.

[2020-06-05 17:30] vinod83k commented on #55608
@rbrundritt , Thanks for all your help. I have finally being able to render map using leaflet js. The other solutions did not worked for me.
Meanwhile, I was just trying to figure out as how we can get the best optimal zoom level based on the location co-ordinates available to render on map. Do you have any reference for this ?

[2020-06-05 17:34] CharmanderJieniJieni opened #56488 "Set-AzSqlDatabaseSensitivityClassification not working"
[Enter feedback here]

I am referring to [this page](https://docs.microsoft.com/en-us/powershell/module/az.sql/set-azsqldatabasesensitivityclassification?view=azps-4.2.0)

First I am retrieving all recommandations

[code]

It is returning a list of recommendation like this
[code]
Then I looped through the list of labels and accept the recommendation using Set-AzSqlDatabaseSensitivityClassification

[2020-06-05 17:37] JamesTran-MSFT commented on #56479
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 17:38] JamesTran-MSFT commented on #56466
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 17:40] himanshusinha-msft commented on #55862
@kimlundjohansen  . Just heard back from the ADF team and they are still working on finding more on this . As per them  the reason of why we are generating the extra [ in the arm template is because [ARM template expressions](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-expressions) start with [, so we need to escape them

[2020-06-05 17:40] RyanHill-MSFT commented on #56482
Thanks for the feedback @w0ut0! We are currently investigating and will update you shortly.

[2020-06-05 17:42] djpmsft commented on #55862
Hey @kimlundjohansen ,

This is actually an expected behavior to [escape a bracket in ARM](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-expressions#escape-characters). ADF utilizes it in a variety of places including table names. Any time a property has '[]' in it, you must have two open brackets for the ARM template to work properly

[2020-06-05 17:48] iainfoulds commented on #53830
Thansk for the feedback, @basseldamra, and sorry for the delay.

Private IP address ranges can only be used when using MFA Server. For cloud-based Azure Multi-Factor Authentication, you can must specify public IP address range. Conditional Access also no longer supports the use of private IP address ranges in named locations. I've created a PR to update the doc to clarify. This doc update should p

[2020-06-05 17:49] kimlundjohansen commented on #55862
It might be expected but it breaks the pipeline functionality. We have discovered that we need to alter the two files in order to make everything work.

A deployment step before the ARM Template deployment with this logic will fix the issue.

$armtemplate = Get-Content ./ARMTemplateForFactory.json -Raw
$armtemplate -replace '("(?:SourceTableName|TableName)": "\[\[[^\]]*\]\.\[[^\]]*\])(?!\])', '$1]

[2020-06-05 17:50] roygara commented on #56455
@mkcloudworks Thanks for the feedback, I've contacted the script author and made them aware, so they can update it as they determine appropriate.

[2020-06-05 17:57] #53830 closed

[2020-06-05 18:02] Hasil-Sharma commented on #56226
@SubhashVasarapu-MSFT any updates ? 😄

[2020-06-05 18:07] SaurabhSharma-MSFT commented on #56475
@dverbiest1 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-06-05 18:08] Blackmist commented on #56077
@damochiz I've mailed engineering and am waiting on a response. While I had some spare time, I deployed to ACI and enabled logging to App Insights. What I'm seeing for that deployment is a customDimensions that has the _container ID_ and _response value_. The response value seems to be the prediction that's returned, but there's no input logged.

Anyway, I've confirmed that the experience is diffe

[2020-06-05 18:10] mhopkins-msft commented on #42228
@rajeshr6r good to hear! Have a great weekend.

[2020-06-05 18:26] pag08007 opened #56492 "Stream Analytics job Function - Deploy AKS container (swagger.json not found)"
I have just recently deployed an TensorFlow Model to an AML AKS Cluster and am now trying to pass data through to it via Stream Analytics.

The problem that I am having is that when I try and create an Azure ML Service in Stream Analytics I get the the following error when I enter my scoring URI: **Your deployment does not have an associated swagger.json**

This error occurs regardless of whether

[2020-06-05 18:30] SaurabhSharma-MSFT commented on #54649
@84618315 can you please share the affected policy files on azcommunity[at]microsoft[dot].com with this Github issue link.

[2020-06-05 18:36] atsatrom opened #56494 "The contents of this page don't align with"
The contents of this page do not align with the title of this document in the left-hand navigation section. It says this page should describe the process to migrate from DTU to Vcore, but it instead describes network connectivity things. I believe this is the page the link should be pointing to: https://docs.microsoft.com/en-us/azure/azure-sql/database/migrate-dtu-to-vcore

Thanks for reviewing!

[2020-06-05 18:45] dlepow commented on #55877
@jouniheikniemi - Thanks for the question. The actions that are allowed by the built-in roles are documented [here](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles). I found I needed to assign a SP at least the Contributor role for listCredentials. (Reader is not sufficient because the `*/reader` action does not display secrets.)

You could create a [custom role](https://

[2020-06-05 18:45] valluriraj opened #56495 "Primary key is highlighted instead of connection string"
[Enter feedback here]
step:  In the Shared access policies pane, click the iothubowner policy, and write down the Connection string of your IoT hub.

image highlights primary key instead of connection string.
![image](https://user-images.githubusercontent.com/9427789/83912037-0605ee00-a722-11ea-94eb-36698bb8de39.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-06-05 18:46] programify opened #56496 "IMAGE SHOWING WEB PAGE AT 192.168.0.1."
[Enter feedback here]

THE IMAGE SHOWING WEB PAGE AT 192.168.0.1 IS WRONG.

YOU WILL NOT SEE ANY FIELD THAT LETS YOU ENTER THE DEVICE CONNECTION STRING.

AS A RESULT YOU WILL NOT CONNECT TO AZURE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independent ID: f01afd66-d093

[2020-06-05 18:51] cavillue opened #56497 "Wrong link - AVS 2.0"
The "On-premises interconnectivity" has this sentence:
"The tutorial for creating a private cloud provides you with the procedures for requesting and using the key and ID."
whit the link to the "tutorial for creating a private cloud", but that tutorial doesn't have any information about the mentioned procedure.
Actually, I can't find that information anywhere in the AVS 2.0 documentation.
We are m

[2020-06-05 18:55] KranthiPakala-MSFT commented on #56166
@algattik We have assigned the issue to the content author to further evaluate and update the document as appropriate.

Thanks for bringing this to our notice.

[2020-06-05 18:55] rachel-msft commented on #49531
Thank you for reaching out and for your feedback. We expect to have Postgres 12 available by end of this year. We encourage you to use [the feedback page](https://feedback.azure.com/forums/597976-azure-database-for-postgresql) to add your support to items you're interested in. That will also allow you to receive direct notifications of announcements for that feature.

[2020-06-05 18:55] rachel-msft commented on #49531
#please-cloe

[2020-06-05 18:56] rachel-msft commented on #49531
#please-close

[2020-06-05 18:56] #49531 closed

[2020-06-05 18:57] SubhashVasarapu-MSFT commented on #56041
@cox-antohi , Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-05 18:57] #56041 closed

[2020-06-05 19:02] cherylmc commented on #52362
Investigating.

[2020-06-05 19:04] SubhashVasarapu-MSFT commented on #56039
@cox-antohi , Appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-06-05 19:04] #56039 closed

[2020-06-05 19:06] NavtejSaini-MSFT commented on #56494
@atsatrom We are checking this and will get back to you.

[2020-06-05 19:08] NavtejSaini-MSFT commented on #56488
@CharmanderJieniJieni We are checking this and will get back to you.

[2020-06-05 19:12] jperl opened #56499 "How to get ip address of request"
Product: Azure Functions Javascript

How can we get the client IP address of a request?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure Functions](https://docs.microsof

[2020-06-05 19:16] cmmdesai commented on #56317
This is a known gap in the current lifecycle flow of new hires. The “Workday to Azure AD User Provisioning” does not support updating authentication contact info.

While we don’t have an out of the box solution to enable this, here is what I’d recommend:
1)	The AuthMethods API are now available and you can invoke them through Microsoft Graph
2)	Using APIs, you can build a PowerShell script or Powe

[2020-06-05 19:16] #56317 closed

[2020-06-05 19:25] MartinJaffer-MSFT commented on #56339
I will now proceed to close this issue.  Please let me know if you need any more help, and we can re-open the issue.

[2020-06-05 19:25] #56339 closed

[2020-06-05 19:25] MartinJaffer-MSFT commented on #55010
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-06-05 19:25] #55010 closed

[2020-06-05 19:36] SnehaGunda commented on #54186
@stephanebachelier , @andresferreira Currently only 3.2 version works with MongoDB compass, the 3.6 server version doesn't yet support it. I updated the note in the doc to clarify in the above PR.

Adding support is under works, we will have an update in a month or so. We will now close this issue.

#please-close

[2020-06-05 19:36] #54186 closed

[2020-06-05 19:39] vikaskumawat80 commented on #56218
We tried Azure VPN is not working. If I try to access from the VNET, it works but not on over VPN.

[2020-06-05 19:40] BharathNimmala-MSFT commented on #56485
@tcare Thank you for bringing this to out notice, we will look into it and fix the document.

[2020-06-05 19:40] vikaskumawat80 commented on #56224
No, it's not working even in the above link it is using Private IP.

[2020-06-05 19:46] SaurabhSharma-MSFT commented on #56214
@TechWatching We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-05 19:46] #56214 closed

[2020-06-05 19:46] SaurabhSharma-MSFT commented on #56293
@dsabsay We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-05 19:46] #56293 closed

[2020-06-05 19:53] BharathNimmala-MSFT commented on #56485
@tcare Thanks again for bringing this to our notice, i have raised a PR which will be reviewed and merged to the main repo and reflect the fix on the document in next 24-48 business hours.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will

[2020-06-05 19:53] #56485 closed

[2020-06-05 20:00] SnehaGunda commented on #53921
@Mike-Ubezzi-MSFT I see Bharath is no longer on the Cosmos DB team, I updated the do metadata. I don't know who owns this area but assign this issue to me.

[2020-06-05 20:00] SnehaGunda commented on #53721
@Mike-Ubezzi-MSFT I see Bharath is no longer on the Cosmos DB team, I updated the do metadata. I don't know who owns this area but assign this issue to me.

[2020-06-05 20:04] ajlam commented on #56459
@soportedba - generally, we do not recommend setting up replication by using the Azure DB for MySQL's underlying physical address (found through redirect_server_host). This is because if you change the vCores of the server or the server itself performs a failover, the physical address will be changed.

If you are trying to understand what IP address to whitelist on your master (on-prem), please us

[2020-06-05 20:07] BDunTG opened #56500 "Addition of configuring Databricks to use a proxy"
Many organizations for all outbound, internet-bound traffic to use a proxy server. Can Databricks be configured (either with environment variables or init scripts) to use a proxy? Can just pip install, R, Maven be specifically configured that they use a proxy when connecting with external repositories but no other outbound traffic use a proxy?

It would be very useful functionality to be able to r

[2020-06-05 20:07] tonystevens opened #56501 "Need screenshots"
These instructions are very confusing. Screenshot(s) would help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bac6db2d-bff9-cbcf-d522-966ed17ea27f
* Version Independent ID: 91e3eeb7-8602-9e26-21c3-1fa70d03a354
* Content: [Set up sign-in for an Azure AD organization - Azure AD B2C](https://docs.microsoft.com/en-us/azu

[2020-06-05 20:09] SnehaGunda commented on #53205
@KalyanChanumolu-MSFT can you please assign this to @LuisBosquez

[2020-06-05 20:10] KranthiPakala-MSFT commented on #56372
Hi @saikumarellendula , thanks for your response.

I'm afraid that it is not possible in ADF at this time. May be you can submit a feature request in ADF user voice forum: https://feedback.azure.com/forums/270578-azure-data-factory.

Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums for future queries - [Microsoft Q&A ](https://docs.m

[2020-06-05 20:10] #56372 closed

[2020-06-05 20:16] ghost opened #56502 "Wrong information on Service remoting in C# with Reliable Services"
The document states `The Microsoft.ServiceFabric.Services.Remoting.Runtime namespace contains the extension method CreateServiceRemotingInstanceListeners for both stateless and stateful services that can be used to create a remoting listener by using the default remoting transport protocol.` which is not true.

It also does not explain how to communicate with service remoting when service proxying

[2020-06-05 20:24] chadmcox commented on #56387
So there are two,  one is when you want to activate the other is when you have already been authorized.

Sent from my iPhone

On Jun 4, 2020, at 2:49 PM, James Tran - MSFT <notifications@github.com> wrote:

﻿

Closed #56387<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-docs%2Fissues%2F56387&data=02%7C01%7C%7C8b73ef737b0f4af46d4608d808d12ce7%7C

[2020-06-05 20:24] CeciAc opened #56503 "pip install azure-storage command is deprecated"
@demetrioi commented on [Fri Jun 05 2020](https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/609)

The command pip install azure-storage is deprecated

" Starting with v0.37.0, the 'azure-storage' meta-package is deprecated and cannot be installed anymore.
    Please install the service specific packages prefixed by `azure` needed for your application.

    The complete list of available pac

[2020-06-05 20:29] JamesTran-MSFT commented on #56501
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-05 20:33] ehaslett opened #56505 "Missing leading ."
Step 2, part 4, the command

\psping.exe kms.core.windows.net:1688

is missing a leading dot '.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ea8024-c99f-0efe-f663-cc58348a3721
* Version Independent ID: 85c8727b-915b-c920-76cd-6123844d20ad
* Content: [Troubleshoot Windows virtual machine activation problems in Azur