[2022-02-10 15:00] DeepFriedBeer opened #87830 "Add cdnverify example"
The page discusses using the cdnverify method to add a domain name to a CDN endpoint prior to launch, but it is not entirely clear what is required.  Adding an example CNAME record would be extremely helpful.  Maybe I missed it, but I don't see anywhere that discusses that cdnverify should be on BOTH parts of the CNAME record.  That is something that apparently has to be puzzled out.

So an exampl

[2022-02-10 15:19] CMehlstaeubler opened #87831 "Wrong title / instruction"
This guide is outlining how to deploy a statically rendered nuxt.js application, not the server-rendered version like described in the title. It seems that the default command npm run build, which by default builds the dynamic version is reassigned to nuxt generate, which is used to generate the static site, as per the documentation: https://nuxtjs.org/docs/get-started/commands

It would be great

[2022-02-10 15:23] BrinksHomeKHenseler opened #87832 "Please validate the IDP-initiated URLs are correct"
In the "Configure Azure AD SSO" section, on Step 5, I entered my Region-specific URL into the Sign-on URL configuration. When I try to perform an IDP-initiated test of the Mimecast app from the My Apps portal, I am NOT redirected to the application sign on page. I land on the https://protect-eu.mimecast.com/connectivity?status=false URL with the following error:
"Sorry, we're having trouble loggin

[2022-02-10 15:58] j5awry opened #87833 "Ingestion API link is broken on submission-api-onboarding page"
Ingestion API link is broken. Link points to:

https://apidocs.microsoft.com/services/partneringestion/

This appears to be blocked or unavailable. I get: `DNS_PROBE_FINISHED_NXDOMAIN`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03ff2597-abf0-84d3-6aa0-911435713431
* Version Independent ID: a51b13b2-a374-9b35-06bc-dd

[2022-02-10 16:02] fareschakchouk opened #87835 "Endpoints Issue"
This script is good if you don't have private endpoints.
In case of private endpoints, you'll have NIC attached to them appear as results or error when deletion.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939e640f-6505-774f-68d9-697a596f14fb
* Version Independent ID: 887d307d-5c87-c9fa-3a95-91ccc1aa9260
* Content: [

[2022-02-10 16:07] venkatmexico commented on #63464
Hi @5eba5tian00

Can you help in this task?

[2022-02-10 16:12] shashishailaj commented on #87800
@davokr You are correct I also tried creating it and it failed to show any Vnets in the list . I will update you with more findings. since this feature is in preview , it may be an issue from the backend. Let me check and get back to you .

[2022-02-10 16:51] samadara-msft opened #87837 "Patch orchestration mode/options can be set using Azure Portal when a VM is created"
Please add the steps to enable/disable patch orchestration modes/options when a VM is created using Azure Portal. Management options can be configured and are available under Management tab of deploying a new VM using Azure portal. https://docs.microsoft.com/en-us/azure/virtual-machines/automatic-vm-guest-patching?WT.mc_id=modinfra-8949-thmaure#enable-automatic-vm-guest-patching

---
#### Document

[2022-02-10 16:51] ChaitanyaNaykodi-MSFT commented on #87830
Hello @DeepFriedBeer
Thank you for your feedback! We will review and update as appropriate.

[2022-02-10 17:25] cpinotossi opened #87841 "Azure migration tool update"
The current data migration tool seems broken.
But there has been a fix, which has been provided via a branch of the original github repo:
https://github.com/Azure/azure-documentdb-datamigrationtool/issues/89

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62015e5a-287b-20c7-6e27-db1334ad1e64
* Version Independent ID: c7

[2022-02-10 17:28] thisisanniefang commented on #86106
@AndreasMWalter Apologies for the late reply! This is an issue that affects the API and Portal. We recommended using 1 due to the issue for the time being, as to not cause confusion with the actual behavior.

[2022-02-10 17:47] baanders commented on #87141
Hi @rido-min, we've determined this to be an internal issue that only exists in the Microsoft tenant. As this shouldn't affect public doc users, I'm going to close this public issue and reach out to you separately through internal channels.

#please-close

[2022-02-10 17:48] MrCordeiro opened #87842 "Outdated instructions"
The following instructions are not applicable:

[code]

By right-clicking "Experiments", only the option "Creat Job" exists. This in turn creates an yml file. After which I have no idea on how to proceed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8b44e8-87c3-66be-5e41-3a1bda9cb586
* Version Independent ID: fa974

[2022-02-10 17:48] Shahyads opened #87843 "which authentication methods will satisfy the sign-in frequency policy?"
I enabled Azure AD conditional access policy on my Azure DevOps Organization
There are several authentication methods for Azure DevOps Services Basic/PAT/etc.
I'm going to write a script for my on-premise log management system in order to invoke a REST API to fetch the audit logs from Azure DevOps frequently.
It is going to use PAT to be authenticated by Azure DevOps Services.
**I couldn't underst

[2022-02-10 17:51] GonzaloMurillo commented on #73128
It is unclear whether from the portal.azure.com, if you enable "Accelerated networking", or if after disabling accelerated networking and re-enabling it, the machine needs to be deallocated (stopped from the portal).
Can you please clarify if it is required or not?

[2022-02-10 17:52] JamesTran-MSFT commented on #87843
@Shahyads
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-10 18:06] alexxa opened #87844 "missing info on 7.9 and 8.4 releases of RHEL for SAP on '(RHEL) images available in Azure' doc page"
RHEL for SAP 7.9 and 8.4 images are available on the Azure marketplace, and console, but the document [1] doesn't have them mentioned.

[1] https://docs.microsoft.com/en-gb/azure/virtual-machines/workloads/redhat/redhat-imagelist

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98dae3fd-1714-918b-1c03-7cc25bf5acf9
* Vers

[2022-02-10 18:07] GiftA-MSFT commented on #87541
@SarveshPandey it seems you're not providing the correct file path. Please refer to this [document ](https://docs.microsoft.com/en-us/azure/machine-learning/component-reference/import-data#how-to-configure-import-data)for more details.

[2022-02-10 18:07] #87541 closed

[2022-02-10 18:08] tanmayjog opened #87845 "What is the syntax to add a pause/break between text?"
What is the syntax to add a pause/break between texts?

I ran the below command in AZ CLI
I tried below, but it did not work. What is the correct syntax?
spx synthesize --text "Enjoy using the Speech CLI {{pause=5000}} Checking if pause works" --speakers

Essentially, I need an alternative to how it's configured in UI

![image](https://user-images.githubusercontent.com/53108095/153468984-3cb8e21e-

[2022-02-10 18:13] himanshusinha-msft commented on #87829
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-02-10 18:25] KranthiPakala-MSFT commented on #87820
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-02-10 18:52] MonikaReddy-MSFT commented on #87390
@dbjdbj - I'm going to assign this to the document author so they can update the review and update accordingly.

[2022-02-10 18:53] MonikaReddy-MSFT commented on #87431
@msshinaida - Thanks for reaching out, I have reached out to Product team and will get back to you as soon as I heard back from them.

[2022-02-10 18:58] #87559 closed

[2022-02-10 19:12] GiftA-MSFT commented on #87845
@tanmayjog we'll review your feedback and get back to you shortly. Thanks.

[2022-02-10 19:20] RobG-MSFT opened #87847 "Update to Restrictions area. Seems to be bad wording for minimum supported client OS version."
Would recommend that the below sentence be changed under the section "Supported scenarios and restrictions"

Only supported on clients running on OS versions newer than Windows 7 or Windows Server 2008 R2.

This seems like it might be better to say what is the minimum supported OS version is instead of saying Newer than a certain OS version.  When reading through the information on the screen it m

[2022-02-10 19:21] #87820 closed

[2022-02-10 19:26] mmacy commented on #87179
@kmb385 We do have similar prior art here that we might leverage and/or expand to support custom web APIs and surface it in the identity platform docs:

- [Use Postman with the Microsoft Graph API](https://docs.microsoft.com/en-us/graph/use-postman)

I've added this work to our backlog (Microsoft-internal):

ID | Title
-- | --
[1765243 ](https://identitydivision.visualstudio.com/Technical%20Conten

[2022-02-10 19:35] KranthiPakala-MSFT commented on #87437
We will now proceed to close this thread. Please do share the forum link once it is posted.

Thank you

[2022-02-10 19:35] #87437 closed

[2022-02-10 19:36] KranthiPakala-MSFT commented on #87550
We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2022-02-10 19:44] KranthiPakala-MSFT commented on #87631
@sidramadoss Could you please help clarify on the above customer ask? Thank you

[2022-02-10 19:55] KranthiPakala-MSFT commented on #87818
Hi @jianleishen , @jonburchel - Could you please review the above feedback reported and update the doc as needed.

[2022-02-10 19:55] franklesniak opened #87849 "Missing NetworkAccessTrafficLogs Category Definition"
This page does not explain the Azure AD log category "NetworkAccessTrafficLogs." Would you mind adding it to this page for reference? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1eb6343-c4d6-6b06-f2eb-1c9435f997f3
* Version Independent ID: 7413b72d-8305-eb0f-3876-2fcb013c5196
* Content: [Stream Azure Active

[2022-02-10 20:04] SaiKishor-MSFT commented on #87474
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-10 20:06] KranthiPakala-MSFT commented on #87808
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-02-10 20:06] #87808 closed

[2022-02-10 20:06] SaiKishor-MSFT commented on #87589
@cherylmc Can you please look into this?

[2022-02-10 20:07] #87588 closed

[2022-02-10 20:10] #87801 closed

[2022-02-10 20:17] jileary23 opened #87850 "Partnered with BreakingPoint Cloud"
I plan to use BreakingPoint Cloud in MS Learn content for Azure DDoS protection - Do you have the Terms or Use (TOU) and permissions for the site before I link it to additional content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad68687a-d309-25e2-dc73-3f25961dd666
* Version Independent ID: 0322ed0a-5fe4-7d28-5104-

[2022-02-10 20:21] JamesTran-MSFT commented on #87849
@franklesniak
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-10 20:57] whhender commented on #86824
@rabbyn - Thanks again for this feedback. I am including a note on the page that should mark that lake databases are not currently supported. You should see that surfaced by tomorrow at the latest.

As to the Azure Purview Customer Feedback-- not all upcoming features are tracked there, as the page tracks direct feedback from users. One of the best ways to follow major updates for Azure products i

[2022-02-10 20:58] whhender commented on #86824
#please-close

[2022-02-10 20:58] #86824 closed

[2022-02-10 21:11] HartD92 opened #87851 "Sample Command error"
The sample code for deploying zipped applications has escape slashes incorrectly added:
mkdir C:\\myapp && powershell.exe -Command \"Expand-Archive -Path myapp -DestinationPath C:\\myapp\"
when it should be
mkdir C:\myapp && powershell.exe -Command "Expand-Archive -Path myapps -DestionationPath C:\myapp"

these slashes cause the command param to be treated as an echo by the cmd interpreter rather

[2022-02-10 21:30] MonikaReddy-MSFT commented on #87824
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-10 21:31] davidmrdavid commented on #86251
Sorry for my late reply here. Just for clarity, the `Context` object referenced in this doc does not seem Durable Functions-specific, so I personally can't provide a diagnosis of it. Glad to hear this issue was resolved though

[2022-02-10 21:55] dlepow commented on #81857
Closing, since it appears this doc update is published
#please-close

[2022-02-10 21:55] #81857 closed

[2022-02-10 22:17] yowl opened #87855 "How to use the label tool for repeating tables"
Hi,

Can you add a section when labeling tables about best practice when the document contains repeating tables.  See this picture.  It can be thought of as a table of tables, where each inner table has an optional header and footer.  I've tried to train a custom model for this using individual table sections, table1, table2, table3 etc., but it has low confidence and often interleaves the recogni

[2022-02-10 22:23] #87826 closed

[2022-02-10 22:41] kobulloc-MSFT commented on #87822
@mike-westaway Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-10 22:48] kobulloc-MSFT commented on #87837
@samadara-msft Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-10 22:56] EldertGrootenboer commented on #84844
@tkent For now we will close this issue, but I will come back and update here once we have more information around this.

#please-close

[2022-02-10 22:56] PRMerger10 commented on #84844
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2022-02-10 22:57] EldertGrootenboer commented on #84844
@tkent For now we will close this issue, but I will come back and update here once we have more information around this.

#please-close

[2022-02-10 22:57] #84844 closed

[2022-02-10 23:00] bwren commented on #86164
#assign: GuyWi

[2022-02-10 23:01] PRMerger4 commented on #86164
The following users don't have valid GitHub IDs, or are not collaborators on this repo: guywi

[2022-02-10 23:10] kobulloc-MSFT commented on #87844
@alexxa Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-10 23:12] kobulloc-MSFT commented on #87851
@HartD92 Thank you for bringing this to our attention!  We are reviewing the sample code and will get back to you shortly.

[2022-02-10 23:22] SaiKishor-MSFT commented on #87850
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-10 23:30] Karishma-Tiwari-MSFT commented on #87831
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-10 23:30] Karishma-Tiwari-MSFT commented on #87855
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-10 23:52] nabhishek commented on #77740
#Please-close

[2022-02-10 23:52] #77740 closed

[2022-02-11 00:08] rolyon commented on #87560
Hi @dferraiolo
Thanks for your feedback. We updated the Helpdesk Administrator description. Hopefully it is a little more clear.
https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#helpdesk-administrator
Let us know if you have any additional feedback.
thanks

[2022-02-11 00:08] rolyon commented on #87560
#please-close

[2022-02-11 00:14] rolyon commented on #75627
Hi @weyCC81
Thanks for your feedback. We talked to the team and updated the known issues section. We added an item about accessing Rules, Organization, or Public Folders in the new Exchange admin center.
https://docs.microsoft.com/en-us/azure/active-directory/roles/groups-concept#known-issues
Let us know if you have any additional feedback.
thanks

[2022-02-11 00:14] #75627 closed

[2022-02-11 00:15] rolyon commented on #87560
#please-close

[2022-02-11 00:19] bmtorres opened #87868 "Unable to register cross-tenant"
Hi,

I'm trying to register my CDX PBI tenant and it's not working. Maybe it's a missing detail in the documentation. I'm using the section "Create a cross-tenant Service Principal".

To start, in step 8. Create a cross-tenant Service Principal, I wasn't able to create an app registration via PowerShell. As a workaround, I created via Portal. In order to make the step 8D work, I had to perform an

[2022-02-11 00:46] dlepow commented on #86768
The REST API examples have been updated to use API version 2021-08-01, and some scenario details were clarified.
Thank you again @skeeler for raising the issue.
#please-close

[2022-02-11 00:46] #86768 closed

[2022-02-11 00:50] brad-lucas opened #87869 "Unclear relationship between Lighthouse-managed AAD tenants and Microsoft Customer Agreements for Azure"
The topology for the [Tenant management architecture](https://docs.microsoft.com/en-us/azure/lighthouse/concepts/enterprise#tenant-management-architecture) makes a lot of sense and could prove incredibly powerful; however, there seems to be an assumption baked into the architecture that all tenants involved are mature (or at least have their own MCAs).

![](https://docs.microsoft.com/en-us/azure/l

[2022-02-11 00:51] ElectricLlama commented on #87790
Perhaps the sentence could be "This integrates with the solution outlined in the CI/CD doc with some minor manual steps required"

[2022-02-11 00:53] jrett commented on #67166
@clairernovotny @codaamok @gmichaud
Guys, I'm also now trying to setup my azure devops pipeline with EV Code Signing and have chosen DigiCert to provide the certificate. I've been pulling my hair out for days now just trying to figure out how to create a CSR from my Managed HSM, which DigiCert needs for me to buy an EV Code Signing Certificate.

I also have no idea how I would get that certificate

[2022-02-11 00:53] ShuningTong commented on #87454
ok, thank you!

[2022-02-11 00:53] #87454 closed

[2022-02-11 00:59] volupheles commented on #70572
I've read

How? I've read this in multiple places, but there is no documentation on how to apply securityEnabled=TRUE  to a M365 group.

[2022-02-11 01:14] elafnit commented on #67166
This is the right place to ask these questions Jaan. I feel your pain. That was me when I started this thread over a year ago. I am assuming you read through this entire thread and still not any closer to answering the question. I would be very happy to see an official documented "How-To" for this subject, both for using MS provided HSM and DigiCert provided HSM.

[2022-02-11 01:19] PlottingPanthera opened #87870 "Hypelink to New-AzGalleryImageDefinition cmdlet directs to incorrect cmdlet page"
Hi all,

Just wanted to let you know the hyperlink for the cmdlet "New-AZGalleryImageDefinition", is linked incorrectly to the wrong cmdlet page.

"Image definitions create a logical grouping for images. When making your image definition, make sure is has all of the correct information. If you generalized the source for the image (using Sysprep for Windows, or waagent -deprovision for Linux) then

[2022-02-11 01:41] PlottingPanthera opened #87872 "Code suggestion - use splat and define variables in the example for better use."
Attempting to use the following code currently posted on this page results in an error. Not for
`$gallery` not being defined per se. It just displays a blank output. The command does not take. Here's something that accomplishes the same thing you're doing here and seems to work well. Please review:

[code]

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-02-11 01:48] jasonhumsft opened #87873 "Suggest to have specific how to guide regarding how to enable analytical store for accounts with customer-managed keys enabled"
For this FAQ question "Is it possible to use customer-managed keys in conjunction with the Azure Cosmos DB [analytical store](https://docs.microsoft.com/en-us/azure/cosmos-db/analytical-store-introduction)?" (https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#is-it-possible-to-use-customer-managed-keys-in-conjunction-with-the-azure-cosmos-db-analytical-store), suggest to have a spec

[2022-02-11 02:06] SadiqhAhmed-MSFT commented on #87626
@TelmoC76 Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with

[2022-02-11 02:08] SumanthMarigowda commented on #87518
@rmanandhar-janison Firstly, apologies for the delay in responding here  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discu

[2022-02-11 02:08] #87518 closed

[2022-02-11 02:09] MicrosoftGuyJFlo commented on #87671
Sounds like the policy either didn't apply or the user failed the access control (MFA/password reset)

I would look at the sign-ins report and check for any failures. https://docs.microsoft.com/azure/active-directory/conditional-access/troubleshoot-conditional-access#azure-ad-sign-in-events

If that doesn't help track down the issues, then I would open a support case to troubleshoot further.

[2022-02-11 02:09] MicrosoftGuyJFlo commented on #87671
#please-close

[2022-02-11 02:09] #87671 closed

[2022-02-11 02:16] oneday24 opened #87874 "There is a SignalR-Client-Swift key in Github which can support SignalR on iOS platform but it is not official and production one. Do we have any plan to make it official just like JAVA or net platform?"
There is a SignalR-Client-Swift key in Github which can support SignalR on iOS platform but it is not official and production one. Do we have any plan to make it official just like JAVA or net platform?

[2022-02-11 02:23] ericjiang20 opened #87875 "When you run create login loginin with password ='xxxxx', SID = 0x000, the Azure sql db return error, Specified SID is invalid for this version of SQL Server"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f1726-f5b5-e504-33c4-8ceefa5b02f7
* Version Independent ID: baf2eb27-05bf-8d85-2a34-2f6c0ef739b1
* Content: [Copy a database - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/database-copy?tabs=azure-powershell)
* Cont

[2022-02-11 03:03] PlottingPanthera commented on #87870
@VikasPullagura-MSFT - thanks for getting back with me so quickly!

Yes, it definitely directs (does not redirect) to "New-AzGalleryImageVersion" instead of "New-AzGalleryImageDefinition:
![image](https://user-images.githubusercontent.com/28235612/153531124-9b58396f-5d63-47fe-b429-57515fcf6cb4.png)

I'm not doing anything special, and I don't have any settings besides the default. This also happen

[2022-02-11 03:32] burakalver opened #87876 "16.04 is not supported anymore"
The tutorial needs to be updated with newer version of Ubuntu. Either the ImageReference or the node_agent_sku_id is causing an error when creating a pool. Updating to 20.04 worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206a4592-16ac-8ef7-7a33-508535c3ea50
* Version Independent ID: 24785e7d-1caf-dd48-dc26-e5d2

[2022-02-11 04:02] SnehaAgrawal-MSFT commented on #87485
@blogcraft Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-11 04:05] #87236 closed

[2022-02-11 04:34] AnuragSharma-MSFT commented on #87873
@jasonhumsft Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-11 04:35] AnuragSharma-MSFT commented on #87875
@ericjiang20 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-11 04:37] AnuragSharma-MSFT commented on #87688
@questsin We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-11 04:37] #87688 closed

[2022-02-11 04:48] KrishnaG-MSFT commented on #87561
@g7crservice-sajid-f This issue is assigned to referred Azure document content owner @mingshen-ms.

@mingshen-ms Is there any update on this issue?

[2022-02-11 04:51] PriyankaRudramaina commented on #87876
Hello @burakalver,

Thank you for bringing this to our attention. Your feedback is under review, we shall update you shortly.

[2022-02-11 04:52] KrishnaG-MSFT commented on #87729
@yossi-y Thanks for the super quick response.

@brucelangston Did you get chance to check the above @yossi-y's comment? Do you find it clearer now?

[2022-02-11 05:01] KrishnaG-MSFT commented on #87687
@Stel-TG I have updated the document. The change should go live in some time i.e., in less than 24 hours.

[2022-02-11 05:01] #87687 closed

[2022-02-11 06:01] shift202 commented on #81961
Add a sample code to import user packages

[2022-02-11 06:05] SumanthMarigowda commented on #87847
@RobG-MSFT Thanks for the question! We are investigating and will update you shortly.

[2022-02-11 06:30] bmuller4 opened #87879 "Set-AzVMRunCommand example has a missing and a wrong parameter"
The powershell "Execute a script with the VM" example has two problems:

1. The 'Name' parameter is invalid. The correct parameter name is 'RunCommandName'
2. The mandatory parameter 'location' is missing from the example. The example will fail to run without specifying this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-11 06:45] SwathiDhanwada-MSFT commented on #87869
@brad-lucas Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-11 06:59] dominikhoefling opened #87880 "Auto-deploy LA agent for Azure Arc"
[Enter feedback here]
Defender for Cloud's auto-deploy tools **for deploying the Log Analytics agent don't support machines running Azure Arc**. When you've connected your machines using Azure Arc, use the relevant Defender for Cloud recommendation to deploy the agent and benefit from the full range of protections offered by Defender for Cloud:

The Log Analytics Agent for auto-deploy feature for

[2022-02-11 07:11] Ayanmullick commented on #78623
After upgrading to Az.Network version 4.14.0 and registering for the feature I was able to specify a name for the NIC of the private endpoint.

[code]

[code]

[2022-02-11 07:11] #78623 closed

[2022-02-11 07:18] AnnuKumari-MSFT commented on #87868
@bmtorres
Thanks for your question! We will investigate and update as appropriate.

[2022-02-11 07:23] rachelxj-ms opened #87881 "We have allowed to create ASE when create web app, please audit the document accordingly."
From the document [here](https://docs.microsoft.com/en-us/azure/app-service/environment/using#create-an-app), it says “For Region, select a pre-existing App Service Environment v3. You can't make a new one when you're creating your app.”

We actually allow to create new ASE when we create web app. set Region: East US, create new ASP, select Isolated, you'll have an option at the bottom to create A

[2022-02-11 07:27] AjayKumar-MSFT commented on #87881
@rachelxj-ms, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-11 07:48] badsector-82 opened #87882 "Which tools are needed for a migration?"
Hello,
I can't find anywhere written if we need first to discover and assess the on-prem machines that are to be migrated or we can straightforward migrate them. If it's the latter, please accent on that we don't need Discovery&Assessment. This is more important as we can't delete a Discovery&Assessment appliance, that we obviously don't need, from the resource group.
[Enter feedback here]

---
##

[2022-02-11 07:50] v-hagamp commented on #87579
@jotafabio , We are updating the document with right contact.
#please-close

[2022-02-11 08:03] badsector-82 opened #87883 "Test migration misconception"
Hello,

In the info about "Test Migration" you have written "The test migration operation is non-disruptive". This is not true. I have a site-to-site VPN and tried a test migration. This changed the DNS record of that machine on my domain controllers with the new IP from the azure virtual network of the temporary test virtual machine. I had to manually change this back to the on-prem IP so people

[2022-02-11 08:31] bastbu opened #87884 "Clarify whether the only one connection per credential or per identity can be established to IoT Hub"
The documentation about `ConnectionForcefullyClosedOnNewConnection` mentions that only one connection per *credential* can be established to IoT Hub.

Later in the docs, it is implied that only one connection per *identity* is allowed.

When trying this, it became apparent that using different credentials from the same identity to IoT Hub does not ensure that we can have multiple connections open

[2022-02-11 08:33] SwathiDhanwada-MSFT commented on #87574
@GitHubUser1339  Have you got chance to look into the previous comment by mumian ? Do revert if you have further questions.

[2022-02-11 08:44] Sachin1O1 commented on #87563
Thanks for the quick updates @trask :)

[2022-02-11 08:47] srakrn opened #87888 "Documents marked as not applying to Azure Synapse Analytics when actually it should"
I found that the document [Copy new and changed files by LastModifiedDate with Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/solution-template-copy-new-files-lastmodifieddate) indicated that it applies to only Azure Data Factory and not Azure Synapse.

![image](https://user-images.githubusercontent.com/3682634/153561481-3833808e-4aca-4b48-a9cb-e57fcb6c39bd.png)

I believe

[2022-02-11 08:52] cpinotossi commented on #87841
https://docs.microsoft.com/en-us/azure/cosmos-db/table/table-import

[2022-02-11 09:18] SadiqhAhmed-MSFT commented on #87883
@badsector-82 Sorry for the painful experience. We will look into this and get back to you soon.

[2022-02-11 09:37] badsector-82 opened #87893 "Install on Windows procedure"
It's not written that the manual renaming, extracting and installation through commands is not mandatory. Simply double clicking the installer works perfect.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f3d7cc0-ecf8-a48f-3c6e-8e18c7787c41
* Version Independent ID: 31b358bd-1ee6-a058-8590-802941

[2022-02-11 09:40] purijatin opened #87894 "`synapseutils` is missing on this page"
[Enter feedback here]

`synapseutils` is missing on this page. It should be added as Synapse includes it in its runtime

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d04f52b2-6225-3f26-cf16-0fbb9671ead2
* Version Independent ID: 45a04e29-843c-448a-dacb-c4f9610d1249
* Content: [Azure Synapse Runtime for Apache Spark 3.

[2022-02-11 09:55] guyrleech opened #87895 "All Resources section no longer exists"
The templates web page referenced is now a different format and there is no "All Releases" option for storage accounts - the API versions are accessed through a drop down list in the right pane, not the navigation pane, and I assume "All Resources" is now "Latest" in that drop down

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-02-11 10:34] slavizh commented on #80168
Here is example. You will need to document what properties what values they have depending on alert rule configuration.

[code]

[2022-02-11 10:34] code-ab opened #87897 "Firewall/proxy requirements not upto date"
Could we please get a list of all urls and ports that are required for successful installation and usage for Log Analytics Agent.
This [link](https://docs.microsoft.com/en-us/azure/azure-monitor/agents/log-analytics-agent#firewall-requirements) doesn't list the github and other urls requirements for installation or troubleshooting.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-02-11 10:44] ctahok commented on #87826
Thanks Brian,

There are so little resources on how to configure say security logs of vm
to be fed to Events Hub which my huge customer requires yesterday. All the
articles are old and commands changed etc. So we are in dire situation, any
help would be appreciated.
Regards, Ilkin

On Thu, Feb 10, 2022 at 10:23 PM Brian Wren ***@***.***>
wrote:

[2022-02-11 10:44] chriselleman-msft opened #87898 "Update Azure Firewall Standard Known Issue about ICMP"
The first known issue under Azure Firewall Standard (https://docs.microsoft.com/en-us/azure/firewall/overview#azure-firewall-standard-1) "Network filtering rules for non-TCP/UDP protocols (for example ICMP) don't work for Internet bound traffic" should include an additional line under Mitigation to say "Azure Firewall Premium does not suffer from this".

---
#### Document Details

⚠ *Do not edit t

[2022-02-11 10:47] jeevanbalanmanoj opened #87899 "Link to MSAL JS iframe pop up github doc missing"
I am a PM in IDNA, this [section ](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-third-party-cookies-spas#a-note-on-iframe-apps) will be more clear if we have a link to the detailed MSAL JS iframe usage doc[here](https://github.com/AzureAD/microsoft-authentication-library-for-js/blob/dev/lib/msal-browser/docs/iframe-usage.md)
 feel free to ping me if more details are ne

[2022-02-11 11:23] chjort opened #87900 "Mistake in REST API endpoint"
In this [section](workspaces/MLWorkspace/MyWorkspace/FirstExperiment/runs/1/) there is the following table:
![Capture](https://user-images.githubusercontent.com/9061122/153583087-16bd0258-43e2-42f6-9c78-95bd7a0cadfb.PNG)

and the following row contains a mistake that should be changed from.
<html>
<body>

provider-resource-path/ | workspaces/MLWorkspace/MyWorkspace/FirstExperiment/runs/1/
-- | --

[2022-02-11 11:56] athosar50 opened #87903 "Need cluster info CSV file details"
Hi Team,

1) In 6th step of Reconfigure cluster section, file name mentioned is ClusterConfig.csv. is it mistake or we need to create another file with this name. Because in all other above steps everywhere filename is mentioned as Cluster-Config.csv.

2) In very first line of article "always on" is mentioned where page is for fail over cluster and these are two different concept with respect to S

[2022-02-11 12:12] Antyteza commented on #87827
@ram-msft  I believe I managed top found the solution; the endpoint should be just like in the document, but the details passed to the response = client.recognize_pii_entities()

In this particular case:

[code]

It would be great to add it somewhere as I was unable to find it in the related documents. Best!

[2022-02-11 12:17] niolmstead opened #87904 "Screenshot under MultiFactor authentication needs to be updated"
The Approve sign in Prompt in the browser still shows the 'Tap the number' prompt vs the updated "enter the number" prompt that users experience which is causing confusion.

 New experience shown in attached screenshot.
![sign in request](https://user-images.githubusercontent.com/31769159/153590119-cb7b7b64-2251-4c8c-a0a1-87f14ff61810.png)

---
#### Document Details

⚠ *Do not edit this section. I

[2022-02-11 12:27] gpaulissen opened #87905 "The example does not work due to ingress problems."
When you do

$ kubectl describe ingress you will see that there is an error.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4a217cd-8949-e9b8-d8c5-a0f864b10237
* Version Independent ID: e38769a3-04f6-c695-da48-8d0598a06bb9
* Content: [Tutorial: Enable the Ingress Controller add-on for a new AKS

[2022-02-11 13:05] gmichaud commented on #67166
@jrett I took screenshots along the way and wrote down a lot of notes throughout the process, in case I get hit by a bus and someone else in the company needs to do the process again. We were successful and everything is working now. I am away from my computer but promise I will get back to you and share all this information with you 👍

[2022-02-11 13:16] bwren commented on #86164
#reassign: @guywi-ms

[2022-02-11 13:26] bwren commented on #85809
#reassign: @guywi-ms

[2022-02-11 13:31] bwren commented on #84973
#reassign: @guywi-ms

[2022-02-11 13:39] bwren commented on #83759
Thanks for this suggestion. We're in the middle of some significant changes to the AMA/DCR content and will be focusing on it even more in a couple of weeks. I'll take these suggestions when we make those updates.

#please-close

[2022-02-11 13:39] #83759 closed

[2022-02-11 13:42] GLComputing commented on #48872
@philippkahr Thanks for posting this thread. I have the same error in a new set-up with on-premises VMs (not just the AD DNS servers) and this saved me the time in tracking it down.

[2022-02-11 13:43] ram-msft commented on #87900
@chjort Thanks for the feedback! We will review and update accordingly.

[2022-02-11 13:45] bwren commented on #85996
Thanks. This is an error in our TOC link. Should go straight to SQL insights section of the FAQ. I'll fix.

#please-close

[2022-02-11 13:45] #85996 closed

[2022-02-11 13:47] johnmreynolds opened #87906 "Doesn't cover clusters stuck in the pending state"
Or any information on how to debug that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ef2241-baad-ac50-e286-d6ca821d1b68
* Version Independent ID: 1cfbf166-86ab-4b5b-cacd-c6ee57c0bf11
* Content: [Cluster failed to launch - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/kb/clusters/cluster-faile

[2022-02-11 13:48] maondrej opened #87907 "Incorrect information (AVD - Azure AD Join)"
Dear All,

 this page requires review and update. It's very difficult to get common understanding about AD requirements as most of AVD / AD related pages don't reflect improvements announced here:

https://techcommunity.microsoft.com/t5/azure-virtual-desktop-blog/announcing-public-preview-of-fslogix-profiles-for-azure-ad/ba-p/3019855

Thank you in advance.
Regards
Martin

---
#### Document Details

[2022-02-11 14:15] andydkelly-ig commented on #67166
Please see attached the notes we made when we implemented this. Working for a bunch of products and has been pretty bulletproof. Note AzureSignTool may have changed since this doc and the docs for that tool will point you in the right direction. This whole thread was invaluable for us at the time so thanks again to everyone 👍
[EV+Code+Signing.pdf](https://github.com/MicrosoftDocs/azure-docs/files/

[2022-02-11 14:17] nayef-yassin commented on #87407
@j-dahl7 Thank you for your feedback! We'll add this to our backlog for a future update. The reason we do not currently display a cost example is the highly variable nature of these logs. For example, some fields for firewall data sources could be 100 characters strings of information up to 2000+. This is what we’re talking about as it could change the ‘size’ of the file for billing purposes, and

[2022-02-11 14:29] Seneral commented on #34167
There, I fixed it for you.
Wasn't that hard now was it
![image](https://user-images.githubusercontent.com/12800840/153609548-2fc0e295-2959-4bc6-ad52-e4f80e56ba05.png)

[2022-02-11 14:40] BrodaNoel commented on #34167
Please change the @2022 for @1962
Thanks.

[2022-02-11 14:47] byronwjones opened #87910 "Copying Binary Data from Blob to DB"
Thank you for this well-prepared article.  This shows how to transfer textual data, but how would you go about copying binary data to a database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe64944-749a-68bd-36a3-011dd8e33fa9
* Version Independent ID: 217573e5-46ee-b9a7-821f-ffb1a8228abb
* Content: [Copy data from

[2022-02-11 14:52] whhender commented on #87578
@HenriHeijltjes  - I have spoken with the developers to confirm behavior and will be updating the documentation to include this note:

You can also assign your service principal permission to any sub-collections, instead of the root collection. However, all APIs will be scoped to that collection (and sub-collections that inherit permissions), and users trying to call the API for another collection

[2022-02-11 14:52] whhender commented on #87578
#please-close

[2022-02-11 14:52] #87578 closed

[2022-02-11 15:04] jkavanagh58 opened #87911 "Null Values"
[Enter feedback here]
The data returned from `Get-AzureADDevice` includes lots of null values. The one that I would like to ask about is the Null values in the ApproximateLastLogonTimeStamp. When querying for old devices the results will normally include rows where the approximatelastlogontimestamp is null. Should these be ignored?

Still working on refining/fixing the query:
`[DateTime]$oneYearAg

[2022-02-11 15:04] mumian commented on #87895
@guyrleech - thank you for your comments.  I will update the article today.

#please-close

[2022-02-11 15:13] hemanthmatam commented on #87810
If I use the Existing template  URL  ,it is working :
https://raw.githubusercontent.com/azure/azvmimagebuilder/master/quickquickstarts/1a_Creating_a_Custom_Win_Image_on_Existing_VNET/existingVNETWindows.json
---------------------------------------------------------------------------
If I use my own Json File getting the above error

https://raw.githubusercontent.com/hemanthmatam/HemuAIB/main/Win10

[2022-02-11 15:15] gmichaud commented on #67166
Please see attached our notes as well. Agree with @andydkelly-ig this whole thread was invaluable for us -- there's not a lot of documentation online on this topic and a lot of the people we dealt with at certificate authority companies were totally clueless on this process. Hope that will help others!
[EV Code Signing with Azure KeyVault and Azure Pipelines.pdf](https://github.com/MicrosoftDocs/a

[2022-02-11 15:20] D-Jeffrey commented on #87625
This is Excellent.  That works and fills in our understanding.  It was a long running command but it worked.  Please update the documents with this information, it is needed.

[2022-02-11 15:27] shashishailaj commented on #87911
@jkavanagh58 Thank you for your inputs . We will investigate and update the thread.

[2022-02-11 15:29] yull1860 opened #87913 "update python sample code for Purge instance history"
The python sample code using  **purge_instance_history_by** is not correct , org line commented and see bold words for update .

[Enter feedback here]

import azure.functions as func
import azure.durable_functions as df
from azure.durable_functions.models.DurableOrchestrationStatus import OrchestrationRuntimeStatus
from datetime import datetime, timedelta

async def main(req: func.HttpRequest, sta

[2022-02-11 15:30] shashishailaj commented on #87899
@jeevanbalanmanoj Thank you for your inputs . We will investigate and update the thread.

[2022-02-11 15:35] shashishailaj commented on #87874
@oneday24 Thank you for your query . We use azure-docs repository to take feedback on azure documentation . I just wanted to check if you have any specific documentation which you can share and we can help further on this. Please let us know if the SignalR-Client-Swift repository is part of the documentation and we will try to find more information on this.

Thank you.

[2022-02-11 15:38] shashishailaj commented on #87872
@PlottingPanthera Thank you so much for sharing your inputs . We will investigate and update the thread.

[2022-02-11 15:44] MsGabsta commented on #79974
@ManasaDevadas, I am currently investigating this.

[2022-02-11 15:44] MsGabsta commented on #80008
@sachip-msft, we are still discussing this internally.

[2022-02-11 15:48] gnbowes opened #87915 "Bitlocker Enabled"
<html>
<body>

BitLocker | Not supported. | BitLocker must be disabled before you enable replication for a machine.
-- | -- | --

</body>
</html>

The statement above can be interpreted two ways:
1) Bitlocker should be disabled and stay disabled
2) Bitlocker should be disabled and once replication is enabled, you can enable it again.

Need clarity on the above statement.

---
#### Document Details

[2022-02-11 15:49] kobulloc-MSFT commented on #87879
@bmuller4 Thank you for bringing this to our attention!  We are reviewing the script and will get back to you shortly.

[2022-02-11 16:03] SquirrelAssassin opened #87916 "Get-AzureADServiceAppRoleAssignedTo"
Get-AzureADServiceAppRoleAssignedTo only returns what its assigned to ... how can I review the permissions the app actually has?

Example:
DeletionTimestamp    :
ObjectId             : GeVasdfasdfasdfasdfasdfasdfQTJK55555KB8Gc
ObjectType           : AppRoleAssignment
CreationTimestamp    : 1/28/2022 3:34:20 PM
Id                   : 5555a72e-5555-5555-b1b1-555567478655
PrincipalDisplayName : test-

[2022-02-11 16:03] kobulloc-MSFT commented on #87903
@athosar50 Thank you for bringing this to our attention.  My initial thought is that it's the same file and this is just a typo but we'll reach out to the doc author to confirm.

First reference of `Cluster-Config.csv` is step 2:
https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/virtual-machines/sql-server-failover-cluster-instance-to-sql-on-azure-vm#prepare-source-machines

First/

[2022-02-11 16:08] kobulloc-MSFT commented on #87907
@maondrej Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-11 16:13] kobulloc-MSFT commented on #87810
@hemanthmatam Thank you!  This is next up on my list to review.

[2022-02-11 16:37] wayneme75 opened #87917 "Kubeconfig file reference is not helpful"
In the Quickstart under prereqs, this line is not helpful: A kubeconfig file and context pointing to your cluster.
For a beginner walking through the Quickstart, I don't know where to go, how to update this, or what the format should look like. It would be useful to have a step-by-step or example of what this should look like.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-02-11 16:42] MonikaReddy-MSFT commented on #87893
@badsector-82 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-11 16:42] #87893 closed

[2022-02-11 16:49] Karishma-Tiwari-MSFT commented on #87888
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-11 16:49] psierak opened #87918 "Examples were misleading"
[Enter feedback here]

It would have been more helpful if the code_challenge and code_verifier were explained better.

You can get the authorization code using the provided code_challenge in the example. Though, when you are trying to get an access token. It says "The same code_verifier that was used to obtain the authorization_code." for explanation. It is worded that you would use the same code_

[2022-02-11 16:52] Karishma-Tiwari-MSFT commented on #87894
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-11 17:08] ChaitanyaNaykodi-MSFT commented on #87754
Since we have not heard back from you, we will now proceed to close this issue out. If you are still facing any issues, I request you to please create a new issue with the required details above. Thank you!

[2022-02-11 17:08] #87754 closed

[2022-02-11 17:08] ChaitanyaNaykodi-MSFT commented on #87747
Since we have not heard back from you, we will now proceed to close this issue out. If you are still facing any issues, I request you to please create a new issue with the required details mentioned above. Thank you!

[2022-02-11 17:08] #87747 closed

[2022-02-11 17:14] MrCordeiro opened #87920 "Unable to use private Python packages when using Docker and ParallelRunStep"
I'm following the documentation and setting my environment with the `--extra-index-url` pip option as we as setting the connections with the `workspace.set_connection` method. Like so:
[code]

However, when I run my experiment, I get an EOF error because the image ignores the Personal Access Token I've created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-02-11 17:15] billwert opened #87921 "Managed Identity for App Service indicates Linux Consumption only supports older endpoint"
The note in this document specifies that Linux Consumption plans require using the 2017-09-01 endpoint version. Based on information we've received from @Hamster-Huey, it looks like this is outdated information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID

[2022-02-11 17:22] ChaitanyaNaykodi-MSFT commented on #87898
Hello @chriselleman-msft
Thank you for your feedback! We will review and update as appropriate.

[2022-02-11 17:30] Seneral commented on #34167
You'd think so, but for microsoft it's always 1962, even in 2022, forever living in a world ignorant of scams
Maybe they are just ahead of us, outright visionaries, and show us an alternate world, where website design will regress to this sorry state without the presence of scams

[2022-02-11 17:32] JamesTran-MSFT commented on #67166
@gmichaud, @andydkelly-ig, @elafnit
Thank you all so much for your continued collaboration throughout this issue. I created a separate issue to hopefully spread the information, so others facing this same issue can easily reference the Q&A thread or this thread.

**Q&A Thread:**
https://docs.microsoft.com/en-us/answers/questions/732422/index.html

I've also passed this info to our AKV engineering

[2022-02-11 17:34] Seneral commented on #34167
@shashishailaj

I assume that turned up nothing? Maybe reopen this issue if you are serious about this.
While this issue is now nothing more than a joke after not being taken seriously by microsoft for so long, the core issue is severe and NEEDS to be addressed.

[2022-02-11 17:35] JamesTran-MSFT commented on #87918
@psierak
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-11 17:38] purijatin commented on #87894
Well, it's a small thing. As it's obvious that the lib would be present. But nonetheless. It brings clarity.

It helped me, as I then knew the reference to fetch in my local sbt project. And to import from: https://mvnrepository.com/artifact/com.microsoft.azure.synapse/synapseutils_2.12/1.4

In its absence, I had to guess the jar name and then search it in mvn repo

[2022-02-11 17:39] AnnuKumari-MSFT commented on #87868
@chanuengg
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-02-11 17:58] kheiman61 opened #87924 "Example does not work - reboots continuously with kernel panic"
Rebooting...
ets Jun  8 2016 00:22:57

rst:0xc (SW_CPU_RESET),boot:0x1b (SPI_FAST_FLASH_BOOT)
configsip: 0, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0030,len:6604
ho 0 tail 12 room 4
load:0x40078000,len:14780
load:0x40080400,len:3792
entry 0x40080694
[1B][0;32mI (29) boot: ESP-IDF v4.4 2nd stage bootloader[1B][0m
[1B][0;32m

[2022-02-11 17:59] MarileeTurscak-MSFT commented on #87738
I have assigned this to the content author @msmimart . It looks like the text may need to be updated to include more than just Powershell.

[2022-02-11 18:15] JimacoMS4 commented on #82929
Hi @Infinitism - we do now support this with the latest public preview refresh of [Device Update for IoT Hub](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/). The feature is called **Multi-Step Ordered Execution** and you can read about it [here](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-multi-step-updates). If you have further questions about this,

[2022-02-11 18:19] bibliogato1 commented on #34167
I mean, yes, it needs to be fixed and it's wildly unprofessional and alarming, but I will one day miss the joy updates to this thread give me. So much humor! Great figurative language! Solidarity! Commiseration!

[2022-02-11 18:25] SaiKishor-MSFT commented on #87905
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-11 18:25] danewalton commented on #87924
Hi @kheiman61
[Please make sure you're using the 4.3 version of the IDF on Windows or 4.4 on Linux](https://github.com/Azure-Samples/iot-middleware-freertos-samples/tree/main/demos/projects/ESPRESSIF/esp32#what-you-need). We have an issue [here on the samples repo] which details a similar kernel panic situation. The newer versions of the IDF seem to break this sample.

[2022-02-11 18:26] KranthiPakala-MSFT commented on #87906
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-11 18:33] KrishnaG-MSFT commented on #87917
@wayneme75 Thanks for the feedback.
Assigning to @JnHs for visibility, review and document enhancement consideration as appropriate.

[2022-02-11 18:37] cynthn commented on #87879
#reassign @ju-shim Can you take a look at this?

[2022-02-11 18:48] KranthiPakala-MSFT commented on #87910
Thanks for reaching out @byronwjones !

Binary format is supported only for the following connectors: [Amazon S3](https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-simple-storage-service), [Amazon S3 Compatible Storage](https://docs.microsoft.com/en-us/azure/data-factory/connector-amazon-s3-compatible-storage), [Azure Blob](https://docs.microsoft.com/en-us/azure/data-factory/con

[2022-02-11 18:56] Rashair opened #87925 "[Event Grid] Delivery timeout - 30 or 60 seconds?"
In *Retry schedule* section:

In *Batching behavior* section:

The latter one is also mentioned here: https://docs.microsoft.com/en-us/azure/event-grid/edge/delivery-output-batching#:~:text=Event%20Grid%20has%20support%20to,be%20turned%20on%20per%2Dsubscription.

Is the default delivery timeout different for batch delivery?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-02-11 18:56] slynickel opened #87926 "Document `NetworkAccessTrafficLogs` as an option and what that diagnostic setting controls"
There is a new diagnostic settings available in Azure Active Directory called `NetworkAccessTrafficLogs` as far as I an tell there is no documentation on what this settings enables. It should be documented here with a blurb similar to the others like `NonInteractiveUserSignInLogs` or `UserRiskEvents`. The screenshot in that document is also missing a few of the other available diagnostics.

![imag

[2022-02-11 18:57] AminAvan opened #87927 "Azure SQL Ledger database implementing Error"
Hi everyone,

I set up a SQL database enabled ledger, but at the creation phase I encountered the error "does not have permission to perform action 'Microsoft.Authorization/roleAssignments/write'"?!

In addition, is the Ledger still available only in a specific locations?

Thanks

[2022-02-11 19:09] Cristigeo opened #87928 "Issue with cli commands used to create a vnet and add two vms to it"
The page specifies that:

I fail to see the link between the created VNet (_myVNet_) and the two VMs. I was expecting that the `az vm create` commands would include the `--vnet-name` and `--subnet` params. I'm not sure the provided azure cli commands, in their current form, are successfully demonstrating the scenario described at the beginning.

---
#### Document Details

⚠ *Do not edit this secti

[2022-02-11 19:10] tigormanmsft opened #87929 "Section named "Recovery" should be moved lower on page and renamed, section named "Restore the entire VM" moved upwards"
There are two sections of this page which demonstrate recovering all or part of a VM from Azure Backup using the Recovery Services Vault.  The way these two sections are presented appears to emphasize an extremely complex procedure for a niche use-case appear to be the general procedure, and the general procedure appear somehow subordinate or less prioritized, and it is causing concern for custome

[2022-02-11 19:12] akania commented on #85688
This is an internal issue inside of the ACS Calling SDK - these requests are sending internal metrics to ACS infrastructure and shouldn't have any impact on the overall user experience - if you see that SDK is not able to start/join/accept call due to multiple 403 also for other domains, please reopen this issue.

[2022-02-11 19:17] cynthn commented on #87870
@PlottingPanthera and @VikasPullagura-MSFT It looks like the link was coded incorrectly (it went to image verison and not image definition). I fixed it in a pull request in the private repo: https://github.com/MicrosoftDocs/azure-docs/pull/87930

Thanks for catching this!

#reassign cynthn

[2022-02-11 19:19] AjayKumar-MSFT commented on #87673
liutang,  Region pair for US Gov Texas* is US Gov Arizona*.  | Regions are paired for _cross-region replication_.
As mentioned in the same doc -[Cross-region replication in Azure | Microsoft Docs](https://docs.microsoft.com/azure/availability-zones/cross-region-replication-azure#azure-cross-region-replication-pairings-for-all-geographies)
<img width="380" alt="image" src="https://user-images.githu

[2022-02-11 19:19] ChaitanyaNaykodi-MSFT commented on #87928
Hello @Cristigeo
Thank you for your feedback! We will review and update as appropriate.

[2022-02-11 19:26] DeanGross opened #87931 "Update terminology"
The Tier 0 terminology has been retired, see https://docs.microsoft.com/en-us/security/compass/privileged-access-access-model#evolution-from-the-legacy-ad-tier-model. Please update this documentation to incorporate the new protection architecture terminology.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d513d77-4a6d

[2022-02-11 19:30] YutongTie-MSFT commented on #87920
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-11 19:31] liutang commented on #87673
Two lines down, I see pairing between Texas and Virginia too.  If the target region for Texas is Arizona, then for completeness, you should add a new row with these column values: Source - US Gov Texas, Destination - US Gov Arizona.

[2022-02-11 19:32] jason-barringer opened #87932 "Does anyone even try to go through this QuickStart at all? How many times do you need to declare Connection? A lot of problems here."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11d0f376-ce05-b7a6-8e31-d5a1bc0a0488
* Version Independent ID: 28844087-a4e9-e95c-9583-3ea9c7b47a83
* Content: [Quickstart: Use Azure Cache for Redis in .NET Core](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-dotnet-core-quicksta

[2022-02-11 19:33] KranthiPakala-MSFT commented on #87888
@srakrn Thanks for the feedback and bringing this to our attention. I was able to verify the feedback and reached out to Product team to check if we can make changes to the doc or if there a specific reason to stick it to ADF only.

I will keep you posted as soon as we hear back from the team.

@dearandyxu, @jonburchel - FYI

[2022-02-11 19:40] kobulloc-MSFT commented on #87810
@hemanthmatam I'm running into an error with the `New-AzVirtualNetworkSubnetConfig` command.  I'm assigning this to the document author for further review.

![image](https://user-images.githubusercontent.com/37556655/153658499-f36dcc0f-2e2a-48f4-99c0-7f490fba9b4c.png)

[2022-02-11 19:43] noahmpauls opened #87933 "Include `app.AddAuthentication()` in Microsoft Identity Protected API code configuration"
Code configuration for the Protected API scenario is missing a single key line of code. Without `app.UseAuthentication()`, the protected API will always return `401 Unauthorized` even upon receiving a valid token.

Below is an ASP.NET Core project in .NET Core 6 with the missing line added:

[code]

See [this StackOverflow question](https://stackoverflow.com/questions/71014300/getting-401-from-cus

[2022-02-11 19:48] jmprieur commented on #87933
@[noahmpauls](https://github.com/noahmpauls) thanks for raising this

yes, indeed, we need to add:
- code to show the Configure part in the doc for ASP.NET Core 3.1 / 5.
- a new tabbed conceptual for ASP.NET Core on .NET 6.0

[2022-02-11 19:51] ChaitanyaNaykodi-MSFT commented on #87661
Hello @jwilliams45-aug, I could replicate the issue faced here. After following the tutorial, I was successfully able to fetch the public IP address as shown below.

<img width="292" alt="image" src="https://user-images.githubusercontent.com/67453298/153658137-5f21b2f8-6fc9-41cc-a8c8-0d6f60ca555f.png">

Below might be possible troubleshooting steps you can try.

1. As per the [Prerequisite section

[2022-02-11 19:51] #87661 closed

[2022-02-11 19:54] ChaitanyaNaykodi-MSFT opened #87934 "Typo in the documentation"
There is a typo in the documentation as shown below.

<img width="604" alt="image" src="https://user-images.githubusercontent.com/67453298/153660375-32c02194-b662-472b-a98c-28662f01e004.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a03427-b70e-ab8e-1977-bac5066dbc96
* Version Independent ID: bcb8091d-0c21-d462

[2022-02-11 19:55] ChaitanyaNaykodi-MSFT commented on #87934
I will submit a PR shortly to address these issues.

[2022-02-11 19:56] #87884 closed

[2022-02-11 19:58] jlian commented on #87884
Thanks for contributing @bastbu ! The fix is merged and should go live today. We really appreciate the community helping to bring more clarity for everyone.

[2022-02-11 19:58] DavidCBerry13 commented on #82874
We've recently rewritten this quickstart from the ground up, so the sentence referenced in this issue is no longer in the quickstart.  For that reason, I think we can close this issue.

#please-close

[2022-02-11 19:58] #82874 closed

[2022-02-11 20:01] PlottingPanthera commented on #87870
@cynthn Awesome! Thank you (both) again for taking care of this and giving this attention! Really appreciate it!

[2022-02-11 20:01] kobulloc-MSFT commented on #87929
@tigormanmsft Thank you for the feedback!  We've assigned this to the document author for further review.

[2022-02-11 20:02] tejaswikolli-web commented on #81128
#please-close

[2022-02-11 20:02] #81128 closed

[2022-02-11 20:03] tejaswikolli-web commented on #81684
#please-close

[2022-02-11 20:03] #81684 closed

[2022-02-11 20:08] PlottingPanthera commented on #87872
@shashishailaj Thank you so much for the attention to this! I might also add - should probably be a note here to ensure that if there is a need to specify the 'Generation' of the imageDefinition, then the parameter `-HyperVGeneration` would need to be specified.

With these settings as it currently stands (in both examples), it will build the definition with the default generation (V1).

I've also

[2022-02-11 20:25] yowl opened #87936 "The Label type option for date and time could be clearer"
What I mean is
![image](https://user-images.githubusercontent.com/2720041/153664915-542bd844-8da0-4c44-9061-2bcf4438fd9b.png)

date: Does date just refer to a day of a month, or does it, or can it, include a time of day.

time: Is this a time of the day (00:00 to 24:00) or is it an elapsed time, e.g. is 99:99 valid here meaning 99 hours and 99 minutes?

Thanks

---
#### Document Details

⚠ *Do not

[2022-02-11 20:32] felixtsem5 opened #87937 "Suggestion - looking for integration guidance between APIM and Azure Front Door"
A major Azure customer currently using APIM is looking for guidance on using Azure Front Door instead of Application Gateway. I figured that this is probably not an uncommon ask. If customer info can help expedite this, please private message me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-44c2-bd07-4c74-9d

[2022-02-11 20:33] jackchenwork opened #87938 "The IP lists for US East seems to be far from complete"
[Enter feedback here]

I am testing a split tunnel connection and found there are more IPs used in US East.

For example:

![image](https://user-images.githubusercontent.com/28953194/153665999-d0353c2b-e44f-4510-8145-844be9064480.png)

nslookup b2fb3f44e518.tr13672.eastus1-a.worker.database.windows.net

Non-authoritative answer:
Name:    tr13672.eastus1-a.worker.database.windows.net
Address:  40.7

[2022-02-11 20:33] kobulloc-MSFT commented on #87897
@code-ab Thank you for your feedback!  We have assigned this to the document author for further review.

[2022-02-11 20:42] Fleid commented on #87654
Thanks for the feedback!
The fix is in a PR.

[2022-02-11 20:46] rajeshkhanikar opened #87939 "Azure Automation - cannot select pre-script if requires parameters"
If I select a pre-script that requires parameters (mandatory or optional) for an update management deployment, the OK button is greyed out, and I cannot save the deployment.

I have tried adding a sample script from the gallery (e.g., "Update Management - Run Script Locally") but I still cannot save the deployment.

Here is another user-facing the [same issue](https://docs.microsoft.com/en-us/answ

[2022-02-11 20:47] Fleid commented on #87631
Discussion is taken offline.
I'll leave the issue open until we clarify the ask and can update the doc accordingly.

[2022-02-11 20:49] Fleid commented on #87654
PR is completed, the doc should be updated shortly.
Thanks again @yang-jiayi, highly appreciated!

#please-close

[2022-02-11 20:49] #87654 closed

[2022-02-11 20:50] BharathNimmala-MSFT commented on #87882
@badsector-82 Thank you for reaching out to us with your query, our team will review it and get back to you at the earliest.

[2022-02-11 20:50] GeethaThatipatri-MSFT commented on #87932
Hi @jason-barringer Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-11 21:18] JamesTran-MSFT commented on #87931
@DeanGross
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-11 21:19] Swiftwork commented on #67407
To lend some support to this, we are looking at the exact same scenario. Where the "before user creation" API connector is called validating the user attributes and creating an entry in the local user table returning the newly created userId. However, as userId isn't a field we are expecting users to enter data into we aren't exposing it as a user attribute, only as an application claim.

[2022-02-11 21:19] RyanHill-MSFT commented on #87921
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-11 21:22] robertspears opened #87940 "Updated instructions"
Hello, in reviewing the documentation it appears there are new changes to the Verizon Premium rules engine 4.0 that aren't listed here.  For example, when creating a new rule it is required to use "80" followed by the account hex ID, then the actual CDN name as the rule's "source".  Hoping it is possible to update this doc with an example of HTTP-to-HTTPS redirect rule?

---
#### Document Details

[2022-02-11 21:23] JamesTran-MSFT commented on #87933
@noahmpauls
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-11 21:29] AaronMaxwell commented on #87390
We recommend migrating to workspace-based app insights, and then configure app insights to route the data as needed.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/convert-classic-resource

There is a fair amount of scoping required to provide you with a quality response. Please open a help ticket if this information is not what you were looking for.

https://azure.microsoft.com/en-us/s

[2022-02-11 21:30] AaronMaxwell commented on #87390
#please-close

[2022-02-11 21:30] #87390 closed

[2022-02-11 21:30] mvisosky commented on #86587
Bump.  Hoping this can be addressed somehow in the documentation?

[2022-02-11 21:31] IT-RD opened #87941 "Command update?"
![image](https://user-images.githubusercontent.com/99511604/153672852-5f1770ba-954f-4ad0-8f50-28a959909904.png)

I believe the second command should be **Get**-AzProviderFeature, not **Register**-AzProviderFeature again.

Also the line in between doesn't really make sense grammatically, may just need to remove the second "take".
"It may take a few minutes for registration to **take** complete. "

[2022-02-11 21:34] romanzdk opened #87943 "Power BI API - table of content, structure"
Power BI API documentation is very unfriendly and illegible.

E.g. https://docs.microsoft.com/en-us/rest/api/power-bi/datasets

Table of content of "In this article" contains only "Required scopes" which does not make much sense nor it is useful. The same applies for all other APIs, not only Datasets.

[2022-02-11 21:35] AaronMaxwell commented on #83613
Timestamps should be unique.

Although internal.data.id's are unique, they cannot be used for sequencing.

[2022-02-11 21:35] AaronMaxwell commented on #83613
#please-close

[2022-02-11 21:35] #83613 closed

[2022-02-11 21:49] JamesTran-MSFT commented on #87843
@Shahyads
Thanks for your feedback! I've assigned this issue to the author who will investigate and update the documentation as appropriate to clarify which kind of authentications are counted.

As for your question - `I couldn't understand if this frequent PAT authentication satisfies the sign-in frequency policy`. Since this isn't directly related to improving our docs, I'd recommend reaching ou

[2022-02-11 21:53] sanchh opened #87944 "Minimum permissions for access to blob data"
As per the article, to access blob data in Azure portal user must have the following roles
1. Storage Blob Data Contributor
2. Reader

Would it not be better to list the minimum set of permissions here i.e.
1. Storage Blob Data Reader
2. Reader

This will be the minimum set to access data. Storage blob data contributor role allows to modify and delete data as well and so is a little more than just

[2022-02-11 22:05] SaiKishor-MSFT commented on #87905
@gpaulissen Can you post the exact command and response here?

[2022-02-11 22:05] ozzy92 opened #87945 "Where do I view alerts definitions?"
[Enter feedback here]
"there is a separate user interface to make it easier to view and set up alerts on resource health notifications."

I configured an alert following these instructions.  I can't find it!  Are there instructions on how to find your alert definitions?  Sure isn't obvious in this UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-02-11 22:07] SaiKishor-MSFT commented on #87850
@aletheatoh  Can yo uplease look into this?

[2022-02-11 22:12] x509cert opened #87946 "FIPS 140-2 compliant or validated?"
I know it sounds like I am splitting hairs, but it's an important distinction. Is the implementation of AES FIPS 140-2 validated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f02334b9-49aa-8d7e-a36d-19ac5052aaf6
* Version Independent ID: b3916472-3673-29d1-7227-7385ac4468c3
* Content: [Enable infrastructure encryptio

[2022-02-11 22:16] ThomasWeiss commented on #87873
@jasonhumsft This FAQ question you're referring to actually shows [this link](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#using-managed-identity) to another section describing the same steps you've mentioned.

[2022-02-11 23:26] johnem-msft opened #87947 "Trusted Launch Security Setting currently blocks installation of Hyper-V role on applicable VM Sizes"
Issue:
When attempting to enable the Nested Hyper-V role in Windows Server (2016-22) on VM Size: Standard D16s v3 (or an applicable size supporting Nested Hyper-V) -AND- security settings: “Trusted Launch” are enabled when creating the VM; The Hyper-V Role is unable to be installed and the following error is received: "Hyper cannot be installed because virtualization support is not enabled in the

[2022-02-11 23:27] dazinator opened #87948 "SCSI PR Commands?"
I am new to Azure Shared Disks.
I'm trying to create one and mount it to multiple VM's.
This document all makes perfect sense and is easy to follow until you get to the section titled "supported scsi pr commands".
This section lists a bunch of commands but with absolutely no indication as to where they are meant to be issued or how.
I know I may sound very stupid, but perhaps its assumed that the

[2022-02-11 23:38] cynthn commented on #87947
@johnem-msft The overview for Trusted Launch (https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch) currently lists these limitations:
The following features are not supported:

Azure Site Recovery
Azure Compute Gallery (formerly known as Shared Image Gallery)
Ephemeral OS disk
Shared disk
Ultra disk
Managed image
Azure Dedicated Host
**Nested Virtualization**

Were you looking f

[2022-02-11 23:56] cynthn commented on #87872
@PlottingPanthera Yeah, I thought the -HyperVGeneration had been added to all the examples, but it sounds like we missed some. Thanks for the heads-up! I'll double-check themand get it added. Thanks again!

[2022-02-12 00:32] HenryLGatesFoundation opened #87949 "Some examples to determine if Azure Databricks IP access list feature is enabled appear to be incorrect"
Hello,

The Bash example in the documentation provides the following to help customers check to see if their Databricks Workspace has the IP access list feature enabled:

###########
curl -X -n \
 https://[DATABRICKS-INSTANCE]/api/2.0/workspace-conf?keys=enableIpAccessLists
###########

However, this example omits both an authentication parameter, and an appropriate HTTP Verb.  When I add an authe

[2022-02-12 00:47] mike-urnun-msft commented on #87482
Hello @cpdohert - Thanks again for your feedback! I have communicated your concerns internally to the Container Apps team.

Since this repo is more for driving improvements towards MS Docs and we didn't determine any immediate changes to this particular documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please

[2022-02-12 00:47] mike-urnun-msft commented on #87484
Hello @cpdohert - Thanks again for your feedback! I have communicated your concerns internally to the Container Apps team.

Since this repo is more for driving improvements towards MS Docs and we didn't determine any immediate changes to this particular documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please

[2022-02-12 00:47] #87484 closed

[2022-02-12 00:53] mike-urnun-msft commented on #87502
Hello @gaspardleon - Thanks again for reporting this issue and helping us drive improvements towards MS Docs! I have created a PR that updates the step and the changes should be live within the next 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-12 01:14] mike-urnun-msft commented on #87584
Hi @Arash-Sabet - I hope my previous comment helped.

Since we didn't determine any changes to this documentation upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-12 01:14] #87584 closed

[2022-02-12 01:24] Karishma-Tiwari-MSFT commented on #87913
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-12 01:26] Karishma-Tiwari-MSFT commented on #87915
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-12 01:29] SadiqhAhmed-MSFT commented on #87915
@gnbowes I've responded to a similar question here - https://docs.microsoft.com/en-us/answers/questions/576537/asr-replication-for-a-vm-with-a-bitlocker-disks.html

Hope that clarifies!

[2022-02-12 01:30] SadiqhAhmed-MSFT commented on #87811
Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-02-12 01:42] SadiqhAhmed-MSFT commented on #87626
@TelmoC76 We haven't heard back from you. Please reply if you have any questions in this matter and we will gladly continue the discussion.

[2022-02-12 01:42] #87626 closed

[2022-02-12 01:48] MushyMiddle opened #87954 "This article needs work"
This article is barely helpful.  If I hadn't set up SAML on a bunch of other services, I'd be lost.

First, things are out of sequence, and it's not clear at each step whether you're seeing Atlassian's site, or Azure AD.

Next, the terminology for the items that need to be populated doesn't match the current UI on either side - it's close, but no cigar.

Several examples show blank text boxes.  Wh

[2022-02-12 02:06] ABCodeMonkey opened #87955 "Typo in doc?"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/43352436/153692179-0aa76dbe-750b-4c00-abfe-a1328c5eb88f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1459e25b-de1f-b7ae-72d1-610005ce9db3
* Version Independent ID: 06fa7c50-5640-e93b-44eb-8adef1c4e808
* Content: [Azure Front Door Standard/

[2022-02-12 02:15] #87943 closed

[2022-02-12 04:53] StingyJack opened #87957 "This article talks about versions and revisions as if one of the two magically avoids breaking changes and the other is risky"
Neither avoids breaking changes from being made available to users, and neither is more risky than the other. All of the editorializing regarding these should be removed from this doc.

Also this doc (and the product) promotes the idea that when new code changes are deployed to an environment, it does not constitute a new version of the program. Logically that cannot be true, because it is not the

[2022-02-12 05:49] ram-msft commented on #87925
@Rashair Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 05:51] ram-msft commented on #87927
@AminAvan Thanks for the question. Can you please share with us the URL of the document that you are trying to assign to the team.

[2022-02-12 05:53] ram-msft commented on #87936
@yowl Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 06:10] ram-msft commented on #87937
@felixtsem5 Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 06:11] ram-msft commented on #87940
@robertspears Thanks for the feedback! We will review and update accordingly.

[2022-02-12 06:17] ram-msft commented on #87944
@sanchh Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 06:18] ram-msft commented on #87945
@ozzy92 Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 06:19] ram-msft commented on #87946
@x509cert Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 06:23] ram-msft commented on #87949
@HenryLGatesFoundation Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-12 06:24] ram-msft commented on #87954
@MushyMiddle Thanks for the feedback! We will review and update accordingly.

[2022-02-12 06:27] ram-msft commented on #87955
@ABCodeMonkey Thanks for the feedback! We will review and update accordingly.

[2022-02-12 06:28] ram-msft commented on #87957
@StingyJack Thanks for the feedback! We will review and update accordingly.

[2022-02-12 07:10] #87876 closed

[2022-02-12 07:12] PriyankaRudramaina commented on #87876
Hello @burakalver,
I have updated this note in the document for now after consulting with the content author of this document. These will be updated in future updates that are done periodically for this doc.
_**Note: Ubuntu server version used in the example is for illustration purposes. Feel free to change the node_agent_sku_id to the version you are using.**_

![image](https://user-images.github

[2022-02-12 07:15] rwike77 commented on #86915
We had some internal discussion, you're right.  iat is required right now.  I added it to the list of claims in [this article](https://docs.microsoft.com/azure/active-directory/develop/active-directory-certificate-credentials) and added a few links to it from other workload identity federation articles.  Thanks for bringing this issue up.  I'm closing this now, feel free to reopen if necessary.  #

[2022-02-12 07:15] #86915 closed

[2022-02-12 07:15] PriyankaRudramaina commented on #87872
@cynthn - As you are already checking on this, i am assigning you this thread.

[2022-02-12 12:16] rpilot commented on #87811
This is exactly where the confusion comes from. ASR doesn't have "migrate" option. It can do failover and failback. So for the Azure Migrate documentation it is OK to write that migrate is one-time operation. However for ASR there are cases where customer want to move VM to Azure, but if later there will be a need to move back to on-prem it could be done.

[2022-02-12 13:13] KuiMing opened #87960 "The statements of Face detection in zh-tw is inappropriate"
The traditional Chinese version of the following statements are inappropriate:

1. Exposure
    - Origin in en-us: Exposure. The exposure of the face in the image.
    - Origin in zh-tw: 公開。 影像中臉部的曝光。
    - Better translation: 曝光。影像中臉部的曝光程度。

2. Facial hair

    - Origin in en-us: Facial hair. The estimated facial hair presence and the length for the given face.
    - Origin in zh-tw: 臉部表情。預估的臉部線顯

[2022-02-12 13:24] kaushikCanada commented on #11741
I am facing the ame issue. can you palese tell me what to o

[2022-02-12 13:56] cveld opened #87961 "Why is a signature required?"
Can you add some explanation why this signature approach is required? Why can't the log analytics workspace key just be included directly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae-7034e51241d9
* Content: [Azure Monitor HTTP Dat

[2022-02-12 13:58] cveld commented on #71833
Can you explain what this decision making entails? What are still your current blockers before it can go GA?
@KrishnaG-MSFT

[2022-02-12 14:00] cveld opened #87962 "AAD access token example"
Instead of using a signature for authorization, would it be possible to include an AAD access token for an identity with a particular Azure RBAC permission on the log analytics workspace? Ideally we shouldn't be using resource keys anywhere anymore.

Related is a desire for managed identity examples: #71989

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2022-02-12 16:02] AminAvan commented on #87927
Dear @ram-msft,
Thanks for your kind response
I do not want to assign the document to the team, I wanted to setup a SQL Ledger Database in Azure. However, I encounter the mentioned error as I enabled the "Ledger" feature in "Security" tab.
The issue was solved by giving the proper permission to me by admin.
Thanks for your time
Best Regards,
Amin

[2022-02-12 16:04] #87927 closed

[2022-02-12 16:43] WeihanLi opened #87964 "Is there a sample for the lip sync"
How could we know how to move the lip according to the generated voice viseme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a828b42-9517-1ff8-c98c-1c245a07d340
* Version Independent ID: d4962c85-a80c-eaab-90c4-8c8a6a1fb8e7
* Content: [How to get facial pose events for lip-sync - Azure Cognitive Services](https://doc

[2022-02-12 16:45] isthistechsupport opened #87965 "Typos in commands"
Hi,

While trying to follow the steps in this page, every time I copy and paste the `az postgresql [...]` commands, I get the following error in the PS terminal:

[code]

It's self explanatory but inconvenient to do, could it be changed in the page itself?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7aa8d90e

[2022-02-12 17:10] jye-aviatrix opened #87966 "An example would go a long way"
I've read and re-read the description many times but cannot comprehend what it's talking about.

After watched this video, start at 00:31:05: https://www.youtube.com/watch?v=wJvmXM81tEI

It appears to mean:

Load Balancer Public IP is: PubIP1, listening on port 80
Backend Pool Server Private IP is: PrivIP6, listening on port 8080

When incoming traffic hits load balancer, then send to backend pool

[2022-02-12 17:18] CedricSteenbeke opened #87967 "Device mapping no longer working"
It seems the sample device map provided in this tutorial is no longer valid.
When I used the provided one all my messages don't get past the initial ingest phase. they are not being normalized. (verified in the metrics screen)
I've adapted the device map to the below using the IoMT connector Data Mapper tool and this works.
Using the below map and the FHIR map provided the messages are successfull

[2022-02-12 17:25] doroodgar opened #87968 "<canvas>OffscreenCanvas.transferToImageBitmap()"
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas

[2022-02-12 17:33] Karishma-Tiwari-MSFT commented on #87960
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-12 17:34] Karishma-Tiwari-MSFT commented on #87961
Thanks for the question. We are currently investigating and will update you shortly.

[2022-02-12 17:36] doroodgar opened #87969 "Docs"
https://hacks.mozilla.org/category/docs/

[2022-02-12 17:37] Karishma-Tiwari-MSFT commented on #87965
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-12 17:47] doroodgar opened #87970 "معرفی “Shadow Palette Generator” برای ایجاد سایه های شاداب و واقعی در CSS، باید از چندین لایه و رنگ استفاده کنیم. با این حال، چگونه می توانیم به همه پارامترها برسیم؟ من ابزاری ساخته ام که به شما کمک می کند. ادامه مطلب"
https://www.joshwcomeau.com/css/introducing-shadow-palette-generator/

[2022-02-12 17:48] doroodgar opened #87971 ""Shadow Palette Generator""
https://joshwcomeau.com/shadow-palette/

[2022-02-12 21:05] samadara-msft opened #87973 "Samples commands needed to disable automatic VM guest patching"
Need sample PowerShell/CLI/ARM template examples for disabling automatic VM guest patching for new VM deployment scenario. We only have samples for enabling automatic VM guest patching for new VM deployment scenario.
https://docs.microsoft.com/en-us/azure/virtual-machines/automatic-vm-guest-patching#enable-automatic-vm-guest-patching

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-02-12 21:12] itsamk opened #87974 "Creating Ingress Controller fails with given instructions"
**When the following commands are run -**

`
  helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
  ACR_URL=<REGISTRY_URL>

  helm install nginx-ingress ingress-nginx/ingress-nginx \
      --version 4.0.13 \
      --namespace ingress-basic --create-namespace \
      --set controller.replicaCount=2 \
      --set controller.nodeSelector."kubernetes\.io/os"=linux \
      --set con

[2022-02-12 22:35] itsamk commented on #87974
There were no releases listed when running 'helm list'.
I deleted my AKS cluster and followed the instructions again. When running the 'helm install nginx...' command, it now throws the following error -

[2022-02-12 23:28] itsamk commented on #87974
Had to redeploy a third time because I forgot attaching the ACR to AKS the second time. The commands ran but the EXTERNAL_IP of the load balancer is stuck at pending.

[2022-02-12 23:46] patpishiva commented on #87974
You can see the details why the external IP is pending in the description of the service: kubectl describe svc <servicename>

[2022-02-13 00:02] dutchmark888 opened #87975 "Sub domain"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61590171-058a-bd67-e9c1-7b60dd0351da
* Version Independent ID: 0ce24aba-4f3b-cbc9-d020-bedc8f535a6b
* Content: [Resolve network security group alerts in Azure AD DS](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/alert-nsg)
*

[2022-02-13 00:13] questsin opened #87977 "Transaction support"
Top of page says "designed to support transactions" then lower down it says transactions are not supported :(

[2022-02-13 02:00] KrishnaG-MSFT commented on #87968
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 02:01] KrishnaG-MSFT commented on #87969
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 02:02] KrishnaG-MSFT commented on #87970
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 02:02] Karishma-Tiwari-MSFT commented on #87971
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-02-13 02:06] Karishma-Tiwari-MSFT commented on #87966
Thanks for the question. We are currently investigating and will update you shortly.

[2022-02-13 02:07] Karishma-Tiwari-MSFT commented on #87977
Thanks for your feedback. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-02-13 02:11] Karishma-Tiwari-MSFT commented on #87967
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-13 03:32] simonburbery opened #87980 "Typo in 2nd policy"
[Enter feedback here]
Hi, the second policy example says "require MFA **OR** compliant device"... then after selecting those controls we are told to "Ensure Require all the selected controls is selected.".  This would require MFA **AND** compliant device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ab8873e-3b18-fad

[2022-02-13 03:56] mikem-MS opened #87981 "Eternal orchestrations in PowerShell"
The article does not provide reference for PowerShell.  Are eternal orchestrations available for PowerShell in the same manner?  Perhaps the status and when this may be envisaged should be noted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa40ad5-ef98-4fa0-f071-65b804a6c617
* Version Independent ID: 948676b8-6319-

[2022-02-13 07:22] ram-msft commented on #87973
@samadara-msft Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-13 09:39] doroodgar opened #87983 "با باز کردن https://developer.mozilla.org/en-US/search-index.json"
https://developer.mozilla.org/en-US/search-index.json

[2022-02-13 09:39] #87983 closed

[2022-02-13 09:41] doroodgar opened #87984 "مجازی سازی-مستندسازی"
https://github-com.translate.goog/MicrosoftDocs/Virtualization-Documentation?_x_tr_sl=auto&_x_tr_tl=fa&_x_tr_hl=fa-IR

[2022-02-13 10:03] #87407 closed

[2022-02-13 10:36] doroodgar opened #87985 "مدیریت اعلان‌های ایمیل محدودیت مصرف و هزینه"
قرار دادن کلمات کلیدی مانند "React" یا "AWS" در رزومه و پروفایل های رسانه های اجتماعی شما را مورد توجه قرار می دهد، اما لزوماً به این معنی نیست که شما را به جایی که می خواهید برسید.

[2022-02-13 10:38] doroodgar commented on #87985
# **🏃‍♂️🏃‍♂️🏃‍♂️🏃‍♂️🧎🧎**🧍🧍🧍🧍‍♂️🧍‍♂️🏃‍♀️🏃🕺💃[]()🏊‍♂️🏊‍♂️🏊‍♂️🏊‍♂️@🚣🚣🚣🚣🚣🚣~~🧚‍♂️🧚‍♂️🧚‍♂️~~****

[2022-02-13 10:51] doroodgar opened #87986 "برجسته‌سازی سبک‌دار ۲۰۲۲/۲/۱۳"
https://thenai-org.translate.goog/about/staff/?_x_tr_sl=auto&_x_tr_tl=fa&_x_tr_hl=fa

[2022-02-13 11:29] KrishnaG-MSFT commented on #87983
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 11:31] KrishnaG-MSFT commented on #87984
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 11:32] KrishnaG-MSFT commented on #87985
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 11:33] KrishnaG-MSFT commented on #87986
@doroodgar [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fe

[2022-02-13 13:10] SenorRagequit opened #87987 "AKS - Asymmetric routing, always back to the first Azure Firewall IP?"
Hey, I'm currently setting up AKS behind an Azure FW and after some debugging with a problem I had, I don't really understand the solution.
I'm tackling this problem: https://docs.microsoft.com/en-us/azure/firewall/integrate-lb#fix-the-routing-issue
As a picture:
https://i.imgur.com/Es1sjIS.png

I added a new IP to my azure firewall (So it got 2 IPs now) which should **only** be used for AKS.
So I

[2022-02-13 13:28] schnorea opened #87988 "Needs to be brought up to the same point as the current IoT Central web UI"
Needs to be brought up to the same point as the current IoT Central web UI
Additionally some kind of differentiation between a device created through IoT Hub and IoT Central should be made.  Very confusioning.  A decision tree as to which of these to use would also be appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-02-13 13:46] take-4c opened #87990 "Enabling azure functions slots also resets keys for a function app with AzureWebJobsSecretStorageType = Files?"
Hi Team,

This page says the following in "Limitations" section.
    - Swapping a slot resets keys for apps that have an AzureWebJobsSecretStorageType app setting equal to files.

If an function app has an AzureWebJobsSecretStorageType app setting equal to files, it seems that not only swapping a slot but also enabling azure functions slots resets keys for the function app as following.

<img widt

[2022-02-13 14:12] ronking-zhu opened #87991 "Missing storage-class arguments"
[Enter feedback here]
In the "Create the Azure Arc data controller" part, 1st example, when we need to create the data controller using az, we need to specify the storage class name with the --storage-class <storage class name>.
I've configured according this doc, then the controldb pod and the controller pod will show as pending. then describe pod and describe pvc, it will shows not able to find

[2022-02-13 15:24] Ratnavo opened #87993 "Please choose simple words to explain. Avoid any mistakes while writing the documentation."
There are many moments of this document of HA with reference to backend instances, the explanations are not clear. This will create confusion for readers as to what the document is trying to say. Points are not clear as simple as that. For example, refer to the limitation of HA and check the last point with respect to NVA. The whole statement is so long and so confusing. My mind goes "what are you

[2022-02-13 16:16] mfthomps opened #87994 "Cannot use a VHD file in an Azure storage account to create a managed disk with a different subscription"
This answer is wrong:

The Azure CLI gives this error when attempting this operation:

Try it yourself (first create a labtainerResources group):
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f329597-345e-2f0c-2db3-26b1277ef428
* Version Independent ID: e184dc65-2103-8629-c857-a4873744a54e
* Content: [Frequent

[2022-02-13 16:25] KrishnaG-MSFT commented on #87991
@ronking-zhu Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-13 16:25] PriyankaRudramaina commented on #87760
Hello @ElanShudnow,

I am validating the feedback with the content author. I will keep you updated.

[2022-02-13 16:34] PriyankaRudramaina commented on #87633
@LeonSpark.

This is to keep you updated that I am still waiting for the internal team's response here. Kindly please be patient with us while I get back with more details.

[2022-02-13 16:50] waded opened #87995 "Typo: "the ability query the data on the blockchain""
Maybe a "to" is all that's needed here, but I had to read this "Trusted off-chain storage for blockchain" section three times to understand, so edit for clarity might be in order too.

Update: I used the "This page" feedback button to create this issue, and didn't realize link to the documentation wasn't included with the new issue automatically. The link to the documentation containing the typo i

[2022-02-13 17:22] PriyankaRudramaina commented on #85935
Hello @mkleef,

When you resume working on this and have any further issues to discuss, feel free to tag me or @macolso here and we will be happy to help.

[2022-02-13 17:22] #85935 closed

[2022-02-13 18:03] hobozero opened #87996 "Copy Suggestion"
There is a typo in the [Server-Side Projection](https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-design-patterns#server-side-projection) section

appears to have been intended to read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbd87ab1-9a5b-4d23-05ce-d9d5f5bb74a0
* Version Independent ID: 0bf2b20

[2022-02-13 18:06] #87799 closed

[2022-02-13 18:20] hobozero opened #87997 "Copy Suggestion"
There's a typo in [Partitioning ]( https://docs.microsoft.com/en-us/azure/storage/blobs/storage-performance-checklist#partitioning) section:

should probably be

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cca4823-69a3-0b1a-059a-3a0605ed74ce
* Version Independent ID: 8e8299f1-e618-f1d1-bed2-0e3f4e05829e
* Content: [

[2022-02-13 18:25] Karishma-Tiwari-MSFT commented on #87980
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-13 18:28] Karishma-Tiwari-MSFT commented on #87981
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-13 18:31] Karishma-Tiwari-MSFT commented on #87987
Thanks for the question. We are currently investigating and will update you shortly.

[2022-02-13 18:32] Karishma-Tiwari-MSFT commented on #87988
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-13 18:36] Karishma-Tiwari-MSFT commented on #87993
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-13 18:38] Karishma-Tiwari-MSFT commented on #87994
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-13 20:28] ivratche opened #87998 "Risk detections above do not match the list under riskeventtype from MS Graph"
According to the article above there are 18 risk detections, but according to the riskeventtype property under MS graph there are less (see below). Can someone explain the discrepancy?

unlikelyTravel, anonymizedIPAddress, maliciousIPAddress, unfamiliarFeatures, malwareInfectedIPAddress, suspiciousIPAddress, leakedCredentials, investigationsThreatIntelligence, generic,adminConfirmedUserCompromised

[2022-02-13 20:31] AbbyMSFT commented on #72753
#please-close

[2022-02-13 20:31] #72753 closed

[2022-02-13 21:53] PurpleLightBlue opened #87999 "Good doc but heavy on the acronyms for the uninitiated."
[Enter feedback here]
Just a small bit of feedback, this page is very useful but as someone new to Azure AD and infrastructure management I find myself flipping to Google a lot to look up the acronyms used in the doc. If the doc could be altered to give the full name of something first followed by the acronym in brackets that would be great, so as an example 'British Broadcasting Corporation (BBC)

[2022-02-13 22:12] mo-badreldin commented on #22070
If someone still searching for a solution who to block creation of resource groups without tags. This policy rule below worked for me. I tested it using the portal

The conditions in the anyOf explained:
First condition block resource groups being created while creating another resource.
Second condition block directly creating resource groups without a tag

"policyRule": {
      "if": {
        "

[2022-02-13 22:17] mo-badreldin commented on #67382
If someone still searching for a solution who to block creation of resource groups without tags. This policy rule below worked for me. I tested it using the portal

The conditions in the anyOf explained:
First condition block resource groups being created while creating another resource.
Second condition block directly creating resource groups without a tag

"policyRule": {
"if": {
"allOf": [
{
"f

[2022-02-13 23:49] ChaitanyaNaykodi-MSFT commented on #87995
Hello @waded, Thank you for your feedback. Can you please provide the link for the documentation for which the feedback is intended?

[2022-02-13 23:58] #87934 closed

[2022-02-14 00:42] waded commented on #87995
@ChaitanyaNaykodi-MSFT I've updated the issue to include the URL.

[2022-02-14 03:01] RaymonZh opened #88000 "Does Edv5,Edsv5's accelerate networking must be enabled?(document says required)"
Hi Edv5,Edsv5 document's editor:

I saw accelerated networking is "required" in Edv5,Edsv5 size's document.
which means accelerated networking should be enabled in this series?
![image](https://user-images.githubusercontent.com/97945576/153792562-bfa0e716-636d-450c-a8e5-99df38dd3236.png)

However, when I checked Edv4,Edsv4's document I found accelerated networking is "supported".
![image](https://

[2022-02-14 03:30] shashishailaj commented on #87999
@PurpleLightBlue Thank you for your feedback . We will engage with the content team and see how best we can improve on this article.

[2022-02-14 03:32] shashishailaj commented on #87998
@ivratche Thank you for your inputs. We will investigate and update the thread.

[2022-02-14 03:34] shashishailaj commented on #87996
@hobozero Thank you for catching this . We will review this and update the thread.

[2022-02-14 03:34] shashishailaj commented on #87997
@hobozero Thank you for catching this . We will review this and update the thread.

[2022-02-14 03:48] shashishailaj commented on #87996
@hobozero We have updated the document and it will be live once the pull request is reviewed and approved by the team.

[2022-02-14 03:55] #87996 closed

[2022-02-14 03:56] shashishailaj commented on #87997
@hobozero We have fixed this issue on our side and the changes should reflect in the next 24-48 hours as per global convergence.

Thank you.

[2022-02-14 03:56] #87997 closed

[2022-02-14 04:03] SnehaAgrawal-MSFT commented on #87708
@evgeshka-ol Thanks for bringing this to our attention. The PR has been raised once verified by author, will be visible in doc.

We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-14 04:03] #87708 closed

[2022-02-14 04:16] PriyankaRudramaina commented on #88000
Hello @RaymonZh,
Thanks for the question! We are investigating and will update you shortly.

[2022-02-14 04:18] RaymonZh commented on #88000
@PriyankaRudramaina Thanks a lot!

[2022-02-14 04:21] VikasPullagura-MSFT commented on #87973
@mimckitt Can you please check and add your comments on this.

[2022-02-14 04:22] MayankBargali-MSFT commented on #87590
@Tiberriver256 Thanks for your response. I have assigned this to @ggailey777 to further investigate and update the document as appropriate.

[2022-02-14 04:36] SwathiDhanwada-MSFT commented on #87574
@GitHubUser1339 As we haven't heard from you, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-14 04:36] #87574 closed

[2022-02-14 04:37] SwathiDhanwada-MSFT commented on #87714
@alexs77  Thanks for the feedback! I have fixed the referenced change, and the change should reflect  once the content author approves it .We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-02-14 04:37] #87714 closed

[2022-02-14 05:20] MayankBargali-MSFT commented on #87592
@Ozzian Can you please confirm if you have followed [Assign permission to a security principal to publish events](https://docs.microsoft.com/en-us/azure/event-grid/authenticate-with-active-directory#assign-permission-to-a-security-principal-to-publish-events) step? As per the active directory error, it doesn't have the required permission. Therefore it through the error to provide the [admin conse

[2022-02-14 05:20] #87592 closed

[2022-02-14 05:33] MughundhanRaveendran-MSFT commented on #87717
@josejohny3 , Are you seeing this behavior consistently? If it is consistent, please provide the screenshot of the app settings. Could be a transient issue if it occurred only once.

[2022-02-14 05:35] SnehaAgrawal-MSFT commented on #87680
@plaberge Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-14 05:38] ShaikMaheer-MSFT commented on #87790
@ElectricLlama "Include in ARM Template" Option will include global parameters in to ARM template. ARM templates will be in adf_publish branch(not in collaboration branch). Hence global parameters will not be saved to collaboration branch.  As per document In case of automatic publishing or Azure Purview connection, do not use Include global parameters method.

@joshuha-msft - Could you please rev

[2022-02-14 05:47] SadiqhAhmed-MSFT commented on #87915
@gnbowes Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-02-14 06:10] irons opened #88002 "This cloud-init "hello-world" specifies a VM image version without cloud-init support"
I landed on this page while trying to troubleshoot [Azure cloud-init failures under Debian](https://github.com/MicrosoftDocs/azure-docs/issues/82500). I worked through these instructions to prove to myself that cloud-init could work at all, but the resulting VM showed no evidence of modification, so I opened a support case (2202130010000221).

The support engineer observed that cloud-init is [not

[2022-02-14 06:12] AnuragSingh-MSFT commented on #87945
@ozzy92, the last
Learn more about [how to manage activity log rules](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-activity-log#view-and-manage-in-the-azure-portal)

In short, all the Alert rules that you create for anything are available in the Azure portal under **Monitor** > **Alerts.** Then select **Alert rules** as shown below:

![image](https://user-images.githubusercon

[2022-02-14 06:12] AnuragSingh-MSFT commented on #87945
@ozzy92, the last
Learn more about [how to manage activity log rules](https://docs.microsoft.com/en-us/azure/azure-monitor/alerts/alerts-activity-log#view-and-manage-in-the-azure-portal)

In short, all the Alert rules that you create for anything are available in the Azure portal under **Monitor** > **Alerts.** Then select **Alert rules** as shown below:

![image](https://user-images.githubusercon

[2022-02-14 06:18] AnuragSingh-MSFT commented on #87961
@cveld, thank you for bringing it to our attention.

I am assigning it to the content team for review and update, as required.
@bwren, can you please review this question and share your insights. Thank you

[2022-02-14 06:27] VikasPullagura-MSFT commented on #88002
@irons Thanks for sharing these details. We will check and update the document accordingly.

[2022-02-14 06:28] VikasPullagura-MSFT commented on #88002
@cynthn Can you please check and add your comments on this doc update request.

[2022-02-14 06:31] GitaraniSharma-MSFT commented on #87993
@Ratnavo , We have assigned this to the content owner/author for review.

@asudbring , could we please improve the documentation as requested?

[2022-02-14 06:34] MayankBargali-MSFT commented on #87925
@Rashair Yes, the default delivery timeout is different. In the case of batching it is 60 sec and in the case of a single message, it is 30 sec. By default, the batch is not enabled as you can see the Max events per batch as 1 in the Azure portal. Once you change this value to higher than one the batch will be enabled. As mentioned in the document your subscriber should handle those many events wi

[2022-02-14 06:48] SumanthMarigowda commented on #87944
@sanchh  This article lists the Azure built-in roles and description

https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regardi

[2022-02-14 06:48] #87944 closed

[2022-02-14 07:10] jasonhumsft commented on #87873
Hi @ThomasWeiss Thanks, as you can see [this link](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk#using-managed-identity) indeed contains some steps for managed identity, however it still misses some key steps for adding access policies.
I understand almost all steps can be found in https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk, however for this specific topi

[2022-02-14 07:16] hopitas commented on #62635
I know this is closed, but I stumbled on this and checked the ProcessDTRoutedData function error message:

*** Error in retrieving parent:404:There is no digital twin instance that exists with the ID devices%2Fthermostat67. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query. Status: 404 (Not Found) ErrorCode:

[2022-02-14 07:33] lightupdifire opened #88003 "Enable expiration for these Microsoft 365 groups"
Hello,

Would be great to add more information to this document for the "Selected" option,
What kind of Selected supported, can it be a group with groups? If the group is possible, can we use Dynamic group in Selected? Can it be a Security group only or it should be mail-security-enabled? are there any limits on the amount of members per group?

---
#### Document Details

⚠ *Do not edit this secti

[2022-02-14 07:43] AjayKumar-MSFT commented on #87881
rachelxj-ms,
Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-02-14 07:57] a2425rdl opened #88004 "Google admob"

[2022-02-14 08:03] ozala opened #88005 "Spelling mistake"
Please correct the Finnish language spelling mistake (Finish=>Finnish) in supported languages. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a0fae11-69de-77c0-5635-1031b82a26ac
* Version Independent ID: 8ed41b92-ec7d-dc20-19df-dde1f748e3a8
* Content: [What is Azure Video Analyzer for Media (formerly Video Ind

[2022-02-14 08:04] a2425rdl commented on #88004
https://user-images.githubusercontent.com/93048087/153824007-46320376-8308-4428-9007-738c3d0720d1.mp4
[]()https://youtu.be/YnKt6w34I40

[2022-02-14 08:23] madsd commented on #87881
@rachelxj-ms This functionality was recently added to the portal. I added a change to reflect this in docs. Should be out later today. Thanks.

[2022-02-14 08:29] GitaraniSharma-MSFT commented on #87966
@jye-aviatrix , yes, your understanding is correct and it is explained in detailed in the below doc:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-multivip-overview

This detailed article is also referred in the current doc that you have tagged:
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-floating-ip#floating-ip
<img width="456" alt="image" src="https://

[2022-02-14 08:31] Freia3 opened #88006 "Access ADLS Gen2 using a SAS token provider with a mount point"
Hi,

Question about this doc: Will it be possible in the future to access ADLS Gen2 using a SAS token through a mount point? Here they only mention direct access.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78deecc1-fcdd-4ce1-e5ee-e45da03fcd6a
* Version Independent ID: b09b7ff6-f3bc-d780-4238-075ee4efabfb

[2022-02-14 08:35] faustinopalma opened #88007 "paragraph on firewall logs (action description) not clear"
It is not clear which are the available values from the following text:
"_Available values are Blocked and Allowed (for custom rules), Matched (when a rule matches a part of the request), and Detected and Blocked (these are both for mandatory rules, depending on if the WAF is in detection or prevention mode)._"

It seems that the available values are: 1. "blocked", 2. "allowed", 3. "matched", 4. "

[2022-02-14 08:46] shridharrathi opened #88008 "Can you please expand or provide examples on how to read the extension attribute using graph api? Or could you please point me the direction where I can find more about it?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c29c26fd-dad6-8435-0694-ba82c784818a
* Version Independent ID: fab7c0ac-b35b-83f5-5a1e-c8a6ce26dc8b
* Content: [Define custom attributes in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-custom-attrib

[2022-02-14 09:14] SnehaAgrawal-MSFT commented on #88005
@ozala Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-14 09:37] lindacmsheard opened #88009 "sampledata location broken"
[Enter feedback here]

sampledata at
[code]
is not usable as described in the page

Specifically, the suggested command:
[code]
fails with the note:
[code]

It may have something to do with the fact tht the operation does not list the files?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f24ec969-b354-a6ee-fde3-0b7e478

[2022-02-14 10:05] herman1vdb commented on #49166
Azure feedback idea ("Under Review" with 72 votes at time of writing):
[Support PIM for service principals](https://feedback.azure.com/d365community/idea/19899aef-c625-ec11-b6e6-000d3a4f0789)

[2022-02-14 10:20] AbbyMSFT commented on #85809
#assign: @shemers
@shemers , Can you clarify this contradiction please? Do we need to make a change in the documentation?
Thanks,
Abby

[2022-02-14 10:21] PRMerger-2 commented on #85809
Users shemers are already assigned.

[2022-02-14 10:23] AbbyMSFT commented on #85809
#assign: @AbbyMSFT

[2022-02-14 10:59] SvenWasmer-MSFT opened #88011 "Correction / Missing "of""
[Enter feedback here]
Missing "of" -> "Series of events" instead of "Series event"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c657416445
* Content: [Compare Azure messaging services - Azure Event Grid](https://docs.microsoft.c

[2022-02-14 11:13] pjmlp opened #88012 "Language support for Azure Cloud shell isn't up to date."
The languages as listed on the Cloud Shell documentation are much more recent than those listed on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fb3b37-8ba1-579c-ceb4-329c283f107a
* Version Independent ID: 0ead5f4c-63a0-d782-0a89-b5d612596d89
* Content: [Azure Cloud Shell features](https://docs.microsoft.c

[2022-02-14 11:14] SadiqhAhmed-MSFT commented on #87882
@badsector-82 Azure Migrate helps you to **discover**, **assess**, and **migrate** on-premises servers, apps, and data to the Microsoft Azure cloud.

![image](https://user-images.githubusercontent.com/44458118/153853433-cc5f1d1b-8584-4732-b74e-d3813e8445a4.png)

Source: https://docs.microsoft.com/en-us/azure/migrate/common-questions-appliance

![image](https://user-images.githubusercontent.com/444

[2022-02-14 11:16] AbbyMSFT commented on #85809
@ErnieBot, You are correct. Thank you. I am closing the issue.
#please-close

[2022-02-14 11:16] #85809 closed

[2022-02-14 11:17] PramodValavala-MSFT commented on #87913
@yull1860 the first line is intended as such since the idea is to delete all instances older than 30 days. So, the oldest date possible to 30 days ago, are the instances we are deleting. Also, since the function is `async` and we don't really need to do anything with the result, returning the async operation should be OK I believe (unless my understanding of python async is wrong :))

[2022-02-14 11:32] KrishnaG-MSFT commented on #88004
@a2425rdl [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the fee

[2022-02-14 11:34] ioapan opened #88013 "Option not available in the portal"
In the 'Move Management Group' section, step 4 - "At the top of the page, select Add management group" is something I can't find on the portal. There is rather a 'Create' option.

It would be useful to add a screenshot or update the steps accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d78cf71-d050-1d54-60

[2022-02-14 11:35] KrishnaG-MSFT commented on #88012
@pjmlp Thanks for the feedback.
Assigning to @maertendMSFT for visibility, review and document enhancement consideration as appropriate.

[2022-02-14 11:40] ioapan opened #88014 "Question: Move existing RGs into new MG possible?"
Hi, I am looking for documentation about the following scenario, but I can't fin any; maybe this is something to add in this page?

1. I enabled Management Groups in an existing AD Tenant
2. All existing Resource Groups are listed automatically under the Root Management Group (as expected)
3. I create a new (child) Management Group
3. I am looking for a way to move these Resource Groups under the

[2022-02-14 11:45] ShaikMaheer-MSFT commented on #88006
@Freia3 Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-02-14 11:46] #87813 closed

[2022-02-14 11:46] #87815 closed

[2022-02-14 11:48] KrishnaG-MSFT commented on #87729
@brucelangston As we didn't hear back from you so I will be closing this issue for now. If there is any feedback with regards to the referred Azure document please let us know so we can continue the discussion. Thanks.

[2022-02-14 11:48] #87729 closed

[2022-02-14 11:53] GitaraniSharma-MSFT commented on #88007
@faustinopalma , thank you for your feedback. We'll review this and get back to you shortly!

[2022-02-14 11:55] AbbyMSFT commented on #39297
#assign: @yairgil

[2022-02-14 12:03] AbbyMSFT commented on #81393
#reassign: @harelbr.
@harelbr - can you answer this customer question or  direct us to the correct resource?
Thanks,
Abby

[2022-02-14 12:03] PRMerger7 commented on #81393
The following users don't have valid GitHub IDs, or are not collaborators on this repo: harelbr.

[2022-02-14 12:10] harelbr commented on #81393
#reassign: @ofirmanor
Assigning to Ofir to help address this.

[2022-02-14 12:17] Freia3 commented on #88006
Hi @ShaikMaheer-MSFT

Thank you for your comment. Could you at least add a line in the document then that it's not supporter?

[2022-02-14 12:34] michelefa1988 commented on #47220
I have the same issue. Does it take hours for this frontdoor to appear in the dropdown list on the DNS ZONE? I have created 2 frontdoors this morning and neither of them showed up.

[2022-02-14 12:35] SwathiDhanwada-MSFT commented on #87593
@Kellyjjrusk From the error you have provided, I assume you have set the automation account to private and trying to deploy extension-based hybrid worker. Below are the steps I have followed to enable extension-based hybrid worker group for automation account with private access enabled.

1. [Create a virtual network along with the subnet](https://docs.microsoft.com/en-us/azure/virtual-network/qui

[2022-02-14 12:37] SwathiDhanwada-MSFT commented on #87593
Assigning to content author @SGSneha for doc-enhancement.

[2022-02-14 12:40] SwathiDhanwada-MSFT commented on #87649
Assigning to content author @georgewallace for inputs.

[2022-02-14 12:46] SwathiDhanwada-MSFT commented on #88013
@ioapan Thanks for your feedback.

Assigning to content author @rthorn17 for review.

[2022-02-14 12:47] ilyessafi007 commented on #87641
I have the same problem can you please help with above inquiry? Thanks. @mrbullwinkle

[2022-02-14 12:48] ram-msft commented on #88009
@lindacmsheard Thanks for the feedback! We will review and update accordingly.

[2022-02-14 12:50] SadiqhAhmed-MSFT commented on #87811
Although Site Recovery makes a great BCDR service, it was also used for migration purposes, let’s say you want to migrate to Microsoft Azure. Migration scenario’s include from physical server to Azure, Hyper-V to Azure and VMware to Azure.

However, Microsoft recommends using Azure Migrate over Azure Site Recovery for migration scenarios.

Agree with your point " ASR there are cases where customer

[2022-02-14 12:51] ram-msft commented on #88009
@tracych Can you please check on the below link.

pipelinedata.blob.core.windows.net/sampledata/mnist

[2022-02-14 12:57] SwathiDhanwada-MSFT commented on #88014
@ioapan  Azure provides four levels of management scope i.e., Management Groups -> Subscriptions -> Resource Groups -> Resources.

So you can move subscriptions from one management group to another management group or you can move resource groups from one subscription to another subscription.

So I assume, you are trying to move your subscription from Tenant Root Group to the management group you

[2022-02-14 12:57] AbbyMSFT commented on #21354
Since Networking Analytics is deprecated, I am going to close this issue. I will send an email to the relevant parties to continue the conversation.
Thanks!
#please-close

[2022-02-14 13:13] ram-msft commented on #87722
@PatrickFarley Could you please update the document with the updated code.

[2022-02-14 13:15] SwathiDhanwada-MSFT commented on #87817
@midhun-mohan Thanks for your feedback. I have raised issue with the respective team to update the diagnostic api. For your reference, here is [the link](https://github.com/Azure/azure-rest-api-specs/issues/17841).

For the property name change, I would recommend you to navigate [here](https://feedback.azure.com/d365community/forum/aa68334e-1925-ec11-b6e6-000d3a4f09d0) and share your feedback or s

[2022-02-14 13:15] #87817 closed

[2022-02-14 13:16] SwathiDhanwada-MSFT commented on #88014
Yes @ioapan. When you move subscription one MG to another, the resource groups will also be moved along with subscription.

[2022-02-14 13:24] prteotia opened #88017 "Not working as per Content limits section"
Hi Team,

The content limit section on this page says that ,it support translation of document having size <= 40 MB.
I am trying to translate a pdf which is 10MB. The translation process runs around 30 minutes and in the last it gives me internal server error. It does not give me clear explanation about the error why document translation is failing.

Today ,I splitted the same pdf to two pdfs each

[2022-02-14 13:26] #87791 closed

[2022-02-14 13:54] AgentK88 opened #88018 "xfce4-session needs to be created"
Unless I've missed something, this process doesn't work unless an xfce4-session is created.

`echo xfce4-session >~/.xsession`

If correct, please can the documentation be updated to include the above code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d893-5832-7656b91dbec8
* Version Independent ID: 218

[2022-02-14 14:08] Toshinobu-Suzuki opened #88019 "how to validation by Azure Media Service v3 API Java"
[Enter feedback here]
I want to know that how to validate user uploaded file by Standard Encoder formats and codecs in Azure Media Service v3 API Java.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34e1fe98-63f0-b743-5df5-dc0db6e13c8e
* Version Independent ID: f85b13e1-30be-183f-5df4-98b36ebc7fa9
* Content: [Standard

[2022-02-14 14:16] OlivierFaust opened #88021 "obsolete additional consideration?"
Hi,

I was reading section "additional considerations" and more particlarly the following point:

"
When you use the [az aks create](https://docs.microsoft.com/en-us/cli/azure/aks#az_aks_create) command to generate the service principal automatically, the service principal credentials are written to the file ~/.azure/aksServicePrincipal.json on the machine used to run the command.
"

Unless I miss

[2022-02-14 14:19] charlejc commented on #87183
@MughundhanRaveendran-MSFT  - Sorry, I got distracted and started using api calls and signal r to work around the non-working cosmos db trigger. My solution mostly works, but it would be a lot more convenient if I could have a single signal r message sent out to connected web clients when a cosmos db document in a collection was updated.

Here's the error as seen in the devops build pipeline:
Run

[2022-02-14 14:21] charlejc commented on #87183
@MughundhanRaveendran-MSFT - Can you reopen this issue?

[2022-02-14 14:37] j-dahl7 commented on #87407
Thank you so much @nayef-yassin this was super helpful!

[2022-02-14 14:40] tamram commented on #87944
@sanchh - Thanks for your feedback. I understand what you're asking, but the text describes the **Storage Blob Data Contributor** role as an example only:

To access blob data in the Azure portal with Azure AD credentials, a user must have the following role assignments:

- A data access role, such as Storage Blob Data Contributor
- The Azure Resource Manager Reader role

I've updated it to the fo

[2022-02-14 14:43] Jaykob commented on #42581
Landed here because I was trying to build Open3D on my Azure ML compute.
I can't build it because of the fact that symlinks are still not supported.
Are you planning to support this or do we have to live forever without symlinks? 🤔

[2022-02-14 14:48] AdelaManea opened #88022 "Assigning 'group' as 'user' in ACLs in ADLS gen2 will not give permission to the members in the group for that path"
Hello team,

I am an Azure CSS support engineer.

Would it be possible to add a comment in this doc, or possibly this one: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control, that assigning a **group** programmatically with ACL type **user** will not work (i.e. a group to be assigned as "u:OID" even though the OID is for a group) in ADLS Gen2 Storage Accounts - l

[2022-02-14 14:52] gnbowes commented on #87915
The link clarifies; however, can we clarify it in documentation?  It's ambiguous.  Just say it's not supported or it is, but with caveats?

[2022-02-14 15:05] shashishailaj commented on #88003
@lightupdifire Thank you for your feedback . We will investigate and update the thread.

[2022-02-14 15:14] simonziegler opened #88024 "Missing link"
Hi, there's a missing "click here" link for the new authentication methods experience at](https://docs.microsoft.com/en-us/azure/active-directory-b2c/multi-factor-[authentication?pivots=b2c-user-flow#delete-totp-authenticator-app-enrollment-using-the-azure-portal).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2df1f7

[2022-02-14 15:18] tcsougan commented on #81945
We can use this as DNS forwarder: https://azure.microsoft.com/en-us/resources/templates/dns-forwarder/

[2022-02-14 15:29] louis-li opened #88026 "172.17.x.x network address should be avoid."
[Enter feedback here]

In creating virtual network section, this article used 172.17.x.x which conflicts with default Docker bridge address and will cause error later setting up inference cluster. The error can be worked around but in general 172.17 should be avoided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1232

[2022-02-14 15:40] itsamk commented on #87974
Thanks for the suggestion. I was following [this](https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip?tabs=azure-cli#test-the-ingress-configuration) page and turned out my DNS_LABEL was not in the required format. The deployment was successful.

[2022-02-14 15:40] #87974 closed

[2022-02-14 15:41] GeethaThatipatri-MSFT commented on #87932
Hi, @jason-barringer can you please share with us what issue you are facing.

[2022-02-14 15:44] JamesTran-MSFT commented on #88024
@simonziegler
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-14 15:44] AnuragSharma-MSFT commented on #87723
@sunilgure Thanks for your patience. In the same document there is a link that takes us to SQL managed instance resource limits where these details are mentioned along with the regional support details.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/66360845/153896559-a00277e9-41d1-4cc3-927b-b0c7c3559735.png">

Please let us know if this helps your query.

[2022-02-14 15:49] kellyjjrusk commented on #87593
Thank you, I will test accordingly once I complete a sprint.

[2022-02-14 15:50] vbrennydossa opened #88027 "Outdated screenshot: OS values in the capture are not representing the actual current values"
On the [Screenshot](https://docs.microsoft.com/en-us/azure/active-directory/devices/media/device-management-azure-portal/all-devices-azure-portal.png) that shows the blade listing the devices, under the column 'OS', several values are listed as 'Windows Server [...]'.
This does not reflect the reality anymore, as the AD Connect Default sync rule no. 143 ('In from AD - Computer Join'), now has a tr

[2022-02-14 15:54] RyanHill-MSFT commented on #88019
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-14 16:09] lucabovo commented on #85498
I'm interested on UDP ingress too.
Any updates on this request?

Thanks a lot!

[2022-02-14 16:10] SaiKishor-MSFT commented on #87905
@gpaulissen Any update?

[2022-02-14 16:11] MicrosoftGuyJFlo commented on #87843
This is more a question for Azure DevOps and how they work with Conditional Access. Here are a couple docs that provide more guidance.

https://docs.microsoft.com/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate?view=azure-devops&tabs=Windows#use-a-pat-in-your-code

https://docs.microsoft.com/azure/devops/organizations/accounts/change-application-access-policies?view=

[2022-02-14 16:11] #87843 closed

[2022-02-14 16:16] ChaitanyaNaykodi-MSFT commented on #87995
Hello @waded, Thank you for providing the URL. We will review and update as appropriate.

[2022-02-14 16:19] Sharmistha-Rai commented on #87915
Ack - will update this in our documentation.

[2022-02-14 16:21] SadiqhAhmed-MSFT commented on #87756
@kovacspro Please refer to this section - https://docs.microsoft.com/en-us/azure/backup/backup-sql-server-database-azure-vms#create-a-backup-policy

In pointer 8, the following thing is already mentioned.

If the recovery model of the database changes from Full to Simple, log backups will be paused within 24 hours of the change in the recovery model. Similarly, if the recovery model changes from S

[2022-02-14 16:22] mocelj opened #88028 "ACU values not yet posted for latest Intel Ice Lake processors Ev5 / Dv5"
[Enter feedback here]

Hi azure-docs team, the latest Intel Ice Lake processors have GA-ed for a while. However, the ACU corresponding to the new SKU's have not been published yet.

Could you please share the plans when the ACU values for the new Ice Lake processors will be published?

Thanks, Darko
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-02-14 16:23] gomateus opened #88029 "Subscription limits state 12 on the text, but 16 on the the table for Basic and S1"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#subscription-limits

Subscription limits state 12 on the text, but 16 on the the table for Basic and S1, can you please correct the text? It's a bit confusing for customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2022-02-14 16:26] shawnweisfeld opened #88030 "Why tell me about the cloud shell?"
This article tells me how to use the portal, however it starts off with all this information about starting the cloud shell. I dont see us using the cloud shell anywhere. Can the cloud shell part be removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930afeda-ea55-4e46-6dd0-25da38eae788
* Version Independent ID: 2c

[2022-02-14 16:29] azure1123 opened #88031 "Enable Pricing Tier for Custom Log Analytics Workspaces"
Shouldn't the question ["How can I use my existing Log Analytics workspace?"](https://docs.microsoft.com/en-us/azure/defender-for-cloud/faq-data-collection-agents#how-can-i-use-my-existing-log-analytics-workspace-) have an additional step regarding enabling the pricing tier in the workspace level?

**Additional explanation:**
When you're using Default Workspace for MDC, "SecurityCenterFree" and "S

[2022-02-14 16:36] JamesTran-MSFT commented on #88027
@vbrennydossa
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-14 16:44] vbrennydossa opened #88032 "AWS China limitation not clear on 'Known Issues'"
Hi,

as a start, Chinese endpoints are not supported on this application. The PG has confirmed this blocker but said they were not evaluating this as a feature in the near future.

Under the [Known issues](https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/amazon-web-service-tutorial#known-issues) section, it is mentioned that the app "can be used only to connect to AWS public cloud

[2022-02-14 16:56] kobulloc-MSFT commented on #88028
@mocelj Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-14 16:58] kobulloc-MSFT commented on #88021
@OlivierFaust Thank you for bringing this to our attention!  We've assigned this to the document author for further review.

[2022-02-14 16:59] AnuragSharma-MSFT commented on #87875
@ericjiang20 Thanks for your patience. Can you please confirm if you are running the step 3 for getting the SID and then using the same in step 4?

[2022-02-14 17:00] kobulloc-MSFT commented on #88018
@AgentK88 Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-02-14 17:07] vikancha-MSFT commented on #87633
We do not support non-graphics workloads on NVv4 with AMD GPUs. There is no action to take from the product side,

[2022-02-14 17:17] #87611 closed

[2022-02-14 17:37] eharley94 opened #88033 "Issues with JIRA SAML SSO add-on redirect from mobile & some mac devices"
Hi,

I'm not sure if this is the right place to report this issue, so please provide where I can log this if not appropriate.

We are using the "Microsoft Azure Active Directory single sign-on for JIRA"

Version: 1.0.14
Jira Version: 8.20.1

From mobile devices users are directed to the incorrect URL every time they sign in.
User navigates to https://ourJiraUrl.com/jira but after sign in they are

[2022-02-14 17:50] tejas-ts opened #88034 "Availability zones for existing VMs"
Issue: adding availability zones for existing VMs without losing any data.
What are the possible ways for recreating VMs without losing data. We are using terraform to create infrastructure

[2022-02-14 17:50] mikem-MS opened #88035 "Transparency on SQLAdvancedThreatProtectionTraffic extended event session"
Customer is is seeing SQLAdvancedThreatProtectionTraffic extended event via SSMS and would like this to be documented.  Would this be possible

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84969b1b-b82c-ddc5-5716-e22a2a37d505
* Version Independent ID: 24a33dfd-bb0d-e228-aaf9-44802b625aa8
* Content: [Advanced Threat Pr

[2022-02-14 18:00] JamesTran-MSFT commented on #87916
@SquirrelAssassin
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/produ

[2022-02-14 18:00] #87916 closed

[2022-02-14 18:07] jeevansd commented on #88033
Thanks for letting us know the issue. I am filing this as a bug and will get resolved soon.

[2022-02-14 18:13] tracychms commented on #88009
The sample data exists, you can find one sample below: https://pipelinedata.blob.core.windows.net/sampledata/mnist/0.png

please share cli debug info for further investigation, just adding '--debug' in your cli command.

[2022-02-14 18:15] #87980 closed

[2022-02-14 18:23] JLambEJG opened #88037 "Win 10 Multisession product activation"
[Enter feedback here]
Our Win 10 Multisession AVDs are displaying an "Activate Windows - Go to Settings to activate Windows" watermark for all users, on all hosts. Please explain in the FAQ how to handle Windows Product Activation for Multisession Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f267d00-6800-2b

[2022-02-14 18:24] sudarshan-lightmatter opened #88038 "fefwefewfewfwefew"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9615c579-305d-2482-7eaf-2d120c75e8d5
* Version Independent ID: 064f4a10-bd74-f554-9550-781dd3e838cb
* Content: [Concepts - Networking in Azure Kubernetes Services (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/concepts-ne

[2022-02-14 18:28] byronwjones opened #88039 "ShareClient Instantiation Strategy"
In a 'real-world' application, what is the suggested instantiation pattern for the ShareClient object?  Should this be a singleton that is available globally or across multiple web requests, like HttpClient?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eff27d7-f909-fc99-14f6-ad572629907f
* Version Independent ID: 57

[2022-02-14 18:29] JamesTran-MSFT commented on #88024
@simonziegler
Thank you for your post!

Step 7 under the [Delete TOTP section](https://docs.microsoft.com/en-us/azure/active-directory-b2c/multi-factor-authentication?pivots=b2c-user-flow#delete-totp-authenticator-app-enrollment-using-the-azure-portal) isn't linked to anything. The "Click here" mention is referring to the option within the Azure Portal.

![image](https://user-images.githubusercont

[2022-02-14 18:29] #88024 closed

[2022-02-14 18:31] GiftA-MSFT commented on #88017
@prteotia we'll review your feedback and get back to you shortly. Thanks.

[2022-02-14 18:33] JamesTran-MSFT commented on #88030
@shawnweisfeld
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-14 18:33] #88030 closed

[2022-02-14 18:51] Justinha commented on #86176
@jd1984 Thanks for the feedback! The topic is updated. I don't think combined registration is required for the registration campaign.

[2022-02-14 18:57] ChaitanyaNaykodi-MSFT commented on #88038
Hello @sudarshan-lightmatter, can you please elaborate more on the issue faced?

[2022-02-14 19:02] lindacmsheard commented on #88009
Thanks for picking this up.
A bit more info:
[code]
I can run the following commands successfully: ✔️ ✔️
[code]

I can also find the managed batch endpoint in the azure portal and `successfully invoke a batch job` from the portal GUI ✔️ , using a manually registered subset of the images.

So the issue lies with the cli, and I have now tried all three options: ❌ ❌ ❌
[code]

Below is the first comma

[2022-02-14 19:03] ChaitanyaNaykodi-MSFT commented on #88034
Hello @tejas-ts, Thank you for reaching out. We primarily monitor this channel for any doc enhancements or documentation bugs.
As your question is related to product usage I will recommend to you to create a thread on our [Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/index.html) instead where our community members will help resolve your issue. Hope this helps. We will now proce

[2022-02-14 19:03] #88034 closed

[2022-02-14 19:05] ChaitanyaNaykodi-MSFT commented on #88031
Hello @randomat123
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-14 19:48] ymopurpg opened #88044 "Pandas: read_excel using Azure Key Vault"
How can one use the secret from the Azure Key Vault when reading an excel file using pandas? It is definitely not a good practice to enter the secret values in the notebook of Azure Databricks. Please let me know if there is a way to do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c50943a-33fd-82b2-e969-be6d240

[2022-02-14 19:55] YutongTie-MSFT commented on #87842
@MrCordeiro Sorry I think you are not providing feedback for the document you linked: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-parallel-run-step

I am not able to find anything related to your issue. Please let me know if I missed anything. Thanks.

[2022-02-14 20:08] Karishma-Tiwari-MSFT commented on #87971
Is there an update? Let us know.

[2022-02-14 20:09] Karishma-Tiwari-MSFT commented on #87977
This azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the feedback related to it.

[2022-02-14 20:09] m-chau opened #88045 "Using Import Update REST API link leads to 404."
[Import Update REST API](https://docs.microsoft.com/en-us/rest/api/deviceupdate/updates/import-update) listed in the document is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18be1f13-0035-dd20-a00d-cbcdc1d98bb3
* Version Independent ID: de52a2e0-756c-a877-0d0d-c98f7ab68367
* Content: [Add an update to Device

[2022-02-14 20:11] Karishma-Tiwari-MSFT commented on #87724
More details obtained offline from the original poster of this GitHub issue:
"The expected result when using remove-azvm cmdlet is to delete the VM but keep the OS disk untouched but recently an update were done on the cmdlet behavior, which make to delete the VM and the OS disk together without any warning or confirmation message about the data in the OS disk which is risky"

Thanks for the feedb

[2022-02-14 20:17] Karishma-Tiwari-MSFT commented on #87841
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-14 20:28] m-chau opened #88046 "The instruction and images provided in the tutorial is too generic to be helpful."
It is not clear what should user do with the .swu files downloaded from the tutorial packages because either the instructions or images provided in the tutorial specify any helpful information. Adding one or two more sentences, or even update the screenshots can provide more clarity on tutorial. Ambiguous tutorial instructions are not useful to someone who did not have any ADU experience.

---
###

[2022-02-14 20:45] ioapan opened #88047 "Can't find the Management Group settings link"
I can't find this on the Azure portal:

"2. On the root management group, select details next to the name of the management group."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b4501a-071e-0893-6626-9a85c8f29816
* Version Independent ID: 46723d38-5048-6514-3972-fcb8d02ed8cd
* Content: [How to protect your resource

[2022-02-14 20:46] homotechsual opened #88048 "Remember MFA"
Please clarify the "remember MFA" settings and whether these actually apply given this change https://docs.microsoft.com/en-us/answers/questions/340205/for-how-long-i-can-keep-using-the-refresh-token.html#:~:text=For%20Refresh%20tokens%20it%27s%20the%20MaxInactiveTime%20which%20is,refresh%20and%20session%20token%20configuration%20in%20existing%20policies.

---
#### Document Details

⚠ *Do not edit

[2022-02-14 21:08] andrewbrownmsft commented on #88045
Thank you so much for reporting this! We just pushed a PR to fix this issue; it should be live on the web within the next 12-24 hours.

In the meantime, the correct link is: https://docs.microsoft.com/rest/api/deviceupdate/2020-09-01/updates

[2022-02-14 21:11] Oury-MSFT commented on #87728
@mike-westaway Could you please clarify what the ask is?

[2022-02-14 21:11] elliotchaim opened #88049 "No mention of how to use docker to build isolated dotnet 6 functions v4"
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create Azure Functions on Linux using a custom image](https://docs.microsoft.com/en-gb/azure/azure-functions/functions-create-function-linux-custom-image?tabs=in-

[2022-02-14 21:21] JamesTran-MSFT commented on #88048
@homotechsual
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-14 21:24] geraldwolff opened #88050 "Tutorial Video"
A few changes in the portal for resource locations need to be updated in the video
1) Batch account is no longer showing in the Storage account Blades
2) The Create batch account page is different (more modern)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d35e3d8-a644-dfb6-a16a-93679276c079
* Version Independent ID:

[2022-02-14 21:34] JamesTran-MSFT commented on #88048
@homotechsual
The MFA service settings, specifically `remember multi-factor authentication on trusted device` will still work.

The remember multi-factor authentication feature lets users bypass subsequent verifications for a specified number of days, after they've successfully signed into a device by using MFA. The feature `sets a persistent cookie on the browser` when a user selects the **Don't

[2022-02-14 21:34] #88048 closed

[2022-02-14 21:55] brucelangston opened #88051 "What does "This" refer to?"
The referenced article mentions that some issues exist for "User-defined Inbound TCP rules." Namely that they are stateless, rather than stateful, due to platform limitations.

The they article list three things that result from this limitation (I added numbers.)"...due to current platform limitations, user-defined rules that affect inbound TCP flows are implemented in a stateless fashion. Due to

[2022-02-14 22:03] kobulloc-MSFT commented on #88050
@geraldwolff Thank you for the feedback!  For clarification, which video are you referring to?  I'm not seeing anything in the documentation this issue was opened against:
https://docs.microsoft.com/en-us/azure/batch/tutorial-parallel-dotnet

[2022-02-14 22:07] yang-jiayi commented on #87654
Hi @Fleid ,

I have reviewed the reflected SQL code. The problem is still there.
The **Azure SQL Database** tag is fine.

[code]
That's correct.

**Azure Synapse Analytics**, on the other hand, has a problem.

[code]

Why do I have to write _ADMINISTER DATABASE BULK OPERATIONS_ twice?

I think the following is correct, what do you think?
[code]

Please check again.

[2022-02-14 22:07] denrea commented on #54665
Closed per @j-martens

[2022-02-14 22:08] denrea commented on #49061
Closed per @j-martens

[2022-02-14 22:09] denrea commented on #14568
Closed per @j-martens

[2022-02-14 22:11] Oury-MSFT commented on #87995
@waded Thank you for your feedback. We have raised a PR to update the doc. Changes should be live in 24 to 48 hours. Thank you for helping us improve our documentation.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/188528

[2022-02-14 22:11] #87995 closed

[2022-02-14 22:12] Grace-MacJones-MSFT commented on #88029
Hi @gomateus,
Thanks for bringing this to our attention. We will update the doc shortly.

[2022-02-14 22:18] Grace-MacJones-MSFT commented on #88029
+ @HeidiSteen can you please clarify which number is the correct limit? Thanks

[2022-02-14 22:18] DerekHerman-MSFT commented on #88022
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-14 22:18] ChaitanyaNaykodi-MSFT commented on #88051
Hello @brucelangston
Thank you for your feedback! We will review and update as appropriate.

[2022-02-14 22:20] Oury-MSFT commented on #88035
@mikem-MS Thank you for your feedback. Could you please share a screen shot of page customer is seeing that? Is it the same as the below screen shot?
![image](https://user-images.githubusercontent.com/78940872/153956166-b974dcc4-c60c-4124-8095-1b27d850c8ba.png)

[2022-02-14 22:27] JimacoMS4 commented on #86425
#assign @khilscher

[2022-02-14 22:28] JimacoMS4 commented on #86425
#unassign @rajeevmv

[2022-02-14 22:33] ganganarayanan commented on #11741
@ddove to track this item

[2022-02-14 22:37] #82087 closed

[2022-02-14 22:43] HeidiSteen commented on #88029
@gomateus I'll change the docs to say 16 of each instead of 12.  Thanks for pointing out the issue. I agree it's confusing as written.

[2022-02-14 22:45] MicrosoftGuyJFlo commented on #87980
#reassign:@MicrosoftGuyJFlo

[2022-02-14 22:53] mikem-MS commented on #88035
No, they are using SQL Server Management Studio and seeing the following related footprints.

***@***.***

***@***.***

From: Oury-MSFT ***@***.***>
Sent: 14 February 2022 22:21
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mike Mutukwa ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Transparency on SQLAdvancedThreatProtectionTraffic extended event session (Issue #88035)

[2022-02-14 23:02] HeidiSteen commented on #88029
The change has been submitted. Docs will be updated in the 4:00 a.m. publish PST.   I'll close this issue now, but if you disagree with the fix, feel free to reopen it.

#please-close

[2022-02-14 23:02] #88029 closed

[2022-02-14 23:35] SaurabhSharma-MSFT commented on #88011
@SvenWasmer-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-14 23:41] kobulloc-MSFT commented on #87851
@cynthn I may be missing important context for escaping the quotes in these commands (and having to escape characters for GitHub comments makes this a bit more confusing) but I believe removing the escaped quotes is what we are looking for.  If this is correct, I can get a PR out to address this.

![image](https://user-images.githubusercontent.com/37556655/153965390-7df6bbca-527e-41a3-8727-815280f

[2022-02-14 23:55] #87728 closed

[2022-02-14 23:56] nibaccam commented on #42581
@Jaykob Currently support for symlinks is not on the roadmap for AzureML.
Feel free to leverage our feedback button in the top right hand corner of the [Azure Machine Learning studio UI](https://ml.azure.com/) to post a feature request for symlink support.

![c7c5bef1-34f1-48e2-acc6-13374397ee4f](https://user-images.githubusercontent.com/47647819/153966596-6330b64a-23d1-424d-9d8e-642ced980c60.jpg)

[2022-02-15 00:08] ChaitanyaNaykodi-MSFT commented on #87830
Hello @DeepFriedBeer
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-15 00:11] #87870 closed

[2022-02-15 00:16] cynthn commented on #87851
@kobulloc-MSFT If you've tested it and it works, I'm fine with making the change :)

[2022-02-15 00:18] sudarshan-lightmatter commented on #88038
Please ignore. It was added by mistake.

[2022-02-15 00:18] kobulloc-MSFT commented on #87941
@IT-RD Thank you again for bringing this to our attention!  It does appear that `Get-AzProviderFeature` was intended here:
https://docs.microsoft.com/en-us/powershell/module/az.resources/get-azproviderfeature?view=azps-7.2.0

[2022-02-15 00:37] JimacoMS4 commented on #48777
Hi @bastienmenis ,

Thanks very much for your feedback! We've updated the topic to include information about setting the message headers to use message routing. Please have a look, https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#sending-device-to-cloud-messages. (It's the last bullet point'). I'll leave this open for a few more days in case you have additional feedback.

Thanks

[2022-02-15 00:43] #88038 closed

[2022-02-15 01:07] alexanderperlis opened #88056 "False implication that IMAP/SMTP/POP use only legacy authentication"
From the section **Blocking legacy authentication**:

The last statement is wrong and misleads the reader into thinking IMAP/SMTP/POP are unsafe and cannot be used with modern auth; in fact, IMAP/SMTP/POP have a SASL layer for authentication, and modern auth is one of the supported SASL methods. Microsoft itself is a co-author of RFC7628 that added that support, and [Microsoft's own IMAP server su

[2022-02-15 01:11] timlt commented on #87924
We've pushed an update to the doc to indicate also that for Windows, ESP-IDF v4.3 is required.

[2022-02-15 01:13] himanshusinha-msft commented on #87829
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-02-15 01:14] timlt commented on #87924
#assign: timlt

[2022-02-15 01:14] preethamrajk opened #88057 "Event Grid permissions required for consumers"
I have multiple queries.

- Under this link, it is not clear as to who needs the EventSubscription/write permission.
https://docs.microsoft.com/en-us/azure/data-factory/how-to-create-custom-event-trigger#role-based-access-control

  Please clarify if it is the ADF which needs the permission?

- We would like for multiple products listening to/consuming a common event grid's events. There will also

[2022-02-15 01:15] timlt commented on #87924
#label: assigned-to-author
#label:  doc-bug

[2022-02-15 01:17] timlt commented on #87924
#label:  "doc-bug"

[2022-02-15 01:18] timlt commented on #87924
@kheiman61 thanks for reporting the issue.  It's resolved if you specifically install ESP-IDF 4.3 for Windows, and we've pushed an update to the doc that publishes in the morning, to indicate that version requirement.

#please-close

[2022-02-15 01:18] #87924 closed

[2022-02-15 01:22] SatishBoddu-MSFT commented on #88046
@m-chau
I have assigned the issue to the content author for further review.

[2022-02-15 01:51] ecfan commented on #82087
@jfrosty: The doc updates should be live by 02/15/2022 before 11 AM Pacific Time.

[2022-02-15 02:00] MonikaReddy-MSFT commented on #88047
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-15 02:34] RaymonZh commented on #88000
Hello @PriyankaRudramaina
How is it progressing? May some features can not be normally used if I create Edv5,Edsv5's VM which disabled accelerate networking?
I succeed to created E2dv5 without accelerate networking and seems no events happened,

[2022-02-15 02:46] KranthiPakala-MSFT commented on #88044
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-02-15 02:56] NickEales opened #88058 "This page doesn't clarify key points"
We have customers asking us why some types of operations are allowed through the storage firewall (e.g. Azure portal can see properties of storage account / list containers / some APIs like "GetBlobServiceProperties")...

While we can answer these - it would be a lot easier if it was documented on this page already. Is it possible that it could be?

Thanks
---
#### Document Details

⚠ *Do not edit

[2022-02-15 03:53] SubhashVasarapu-MSFT commented on #73128
@GonzaloMurillo, there is no need to deallocate the virtual machine while enabling/disabling the "Accelerated Networking". But, for Ds2_v2 size it still needs the VM in stop state to enable "AN" on its nic. Also,
**SS:**
![image](https://user-images.githubusercontent.com/44890829/153989679-2b75cf92-911f-4d80-8e53-402577435af8.png)

[2022-02-15 03:54] nhannt97 opened #88059 "Getting serverCallId with @azure/communication-calling 1.3.2 version"
[Enter feedback here]

For getting 'serverCallId' function
`callAgent.on('callsUpdated', (e: { added: Call[]; removed: Call[] }): void => {
    e.added.forEach((addedCall) => {
        addedCall.on('stateChanged', (): void => {
            if (addedCall.state === 'Connected') {
                addedCall.info.getServerCallId().then(result => {
                    dispatch(setServerCallId(result));

[2022-02-15 04:12] ravibak opened #88060 "Conditional Access based MFA for AAD Joined AVD Hosts"
[Enter feedback here]

We only support Windows Hello For Business based strong authentication when the connecting device is joined to the same AAD/Hybrid AAD tenant as AAD Joined AVD Hosts.
https://docs.microsoft.com/en-us/azure/virtual-desktop/deploy-azure-ad-joined-vm#connect-using-the-windows-desktop-client

In that context, information in the following section doesn't clearly articulate the fa

[2022-02-15 04:21] MughundhanRaveendran-MSFT commented on #87981
@mikem-MS , Eternal orchestrations are not available in Powershell yet. However, it's in our roadmap and will be released in the upcoming months. We don't have an ETA as of now. I hope this helps. I will close this issue, feel free to reopen if you have any further queries

[2022-02-15 04:21] #87981 closed

[2022-02-15 04:42] amanmcse commented on #88060
@ravibak Thank you for your feedback. We will investigate and update the thread further.

[2022-02-15 04:43] amanmcse commented on #88056
@alexanderperlis Thank you for your feedback. We will investigate and update the thread further.

[2022-02-15 04:46] sagarkul opened #88062 "Applied AI | Form Recognizer Studio - The Custom Model project could not be found. 404 Error after Custom model project creation"
Creating a new project using the custom model option and getting an error saying "The Custom Model project could not be found."
It was working till last month.
Create API is successful
https://formrecognizer.appliedai.azure.com/custom-model/projects
but when trying to load with project id URL it returns 404.

![image](https://user-images.githubusercontent.com/9719341/153994414-adf856c9-ece6-4b96-b

[2022-02-15 04:46] YutongTie-MSFT commented on #87842
We will now proceed to close this thread. If you can link this issue to the right document, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-02-15 04:46] #87842 closed

[2022-02-15 04:53] pitawatn opened #88063 "Azure AD authentication on Azure IoT Hub for Python SDK?"
I'm looking for a way to write backend API (which will host on Azure App Service) using Python to connect to Azure IoT Hub to visualize live telemetry from IoT devices.

Since [Azure IoT Hub Service SDK](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-sdks) is available for .NET, Java, Node and Python, there should also be samples for Python (and Node) as well. However, this docume

[2022-02-15 05:11] AjayKumar-MSFT commented on #88059
nhannt97, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-15 05:35] VikasPullagura-MSFT commented on #88037
@JLambEJG
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-15 05:35] VikasPullagura-MSFT commented on #88037
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-02-15 05:37] VikasPullagura-MSFT commented on #88039
@byronwjones
Thanks for your Question! We are currently investigating and will get back on this.

[2022-02-15 05:38] VikasPullagura-MSFT commented on #88058
@NickEales
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-15 05:38] VikasPullagura-MSFT commented on #88058
@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-02-15 05:45] VikasPullagura-MSFT commented on #88049
@elliotchaim
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-15 05:45] VikasPullagura-MSFT commented on #88049
@ggailey777
Can you please check and add your comments on this doc update request as applicable.

[2022-02-15 05:49] VikasPullagura-MSFT commented on #88057
@preethamrajk
Thanks for your Question! We are currently investigating and will get back on this.

[2022-02-15 05:52] VikasPullagura-MSFT commented on #88063
@pitawatn
Thanks for your Question! We are currently investigating and will get back on this.

[2022-02-15 05:54] VikasPullagura-MSFT commented on #88062
@sagarkul
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2022-02-15 06:09] sagarkul commented on #88062
It's about applied-ai-services form-recognizer
https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/

[2022-02-15 06:15] MayankBargali-MSFT commented on #87614
@j-dahl7 Thanks for your feedback. The `service name` refers to your `APIM instance name` and `api ID` refers to the `Unique name` of the api that you have created on your APIM instance.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-15 06:15] nhannt97 commented on #88059
@AjayKumar-MSFT Thanks!

[2022-02-15 06:16] MayankBargali-MSFT commented on #87925
@Rashair Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-15 06:16] #87925 closed

[2022-02-15 06:18] VikasPullagura-MSFT commented on #87037
@millanie
The document is updated now, changes are live. Closing this issue now.

![image](https://user-images.githubusercontent.com/48944027/154003711-887b5198-febc-44e7-ad9a-a1127ebb3b15.png)

[2022-02-15 06:18] #87037 closed

[2022-02-15 06:35] josejohny3 commented on #87717
Hi,

I have opened a ticket with azure for this same issue. Can you guys work together for it.

TrackingID#2202090060003321

Thanks
Jose

[2022-02-15 06:38] ShaikMaheer-MSFT commented on #88006
@Freia3 Thank you for helping to scope the ask as per docs feedback.

@mssaperla Could you please validate customer feedback for adding details of SAS token support for mount point in documentation and update document as appropriate? Thank you.

[2022-02-15 06:45] MacShack opened #88064 "Not clear about supported language pairs"
In non of the articles I see a reference that the custom translator only supports translation from or to English. I have to read [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/unsupported-language-deployments) to infer that this is the case without knowing when other language pairs will be reintroduced. I would think that this information is

[2022-02-15 06:50] SadiqhAhmed-MSFT commented on #87915
@gnbowes Thanks once again for sharing your valuable feedback.

@Sharmistha-Rai Thank you for taking up doc-enhancement request.

We will now proceed to close this thread.

[2022-02-15 06:50] #87915 closed

[2022-02-15 06:52] SubhashVasarapu-MSFT commented on #87955
@ABCodeMonkey, we appreciate your feedback. The doc has been edited accordingly and it would take some time for the changes to get reflected over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-02-15 06:52] #87955 closed

[2022-02-15 06:54] SadiqhAhmed-MSFT commented on #87756
@kovacspro Glad to help. :)

We will now close this issue.

[2022-02-15 06:54] #87756 closed

[2022-02-15 06:55] SubhashVasarapu-MSFT commented on #86475
@Bgoswamicontact, I trust you are doing great! Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2022-02-15 06:55] #86475 closed

[2022-02-15 06:57] MughundhanRaveendran-MSFT commented on #87717
@josejohny3 , Thanks for the update. Since you have opened a support ticket, I will close this github issue. I will follow up with the support team internally

[2022-02-15 06:57] #87717 closed

[2022-02-15 06:57] SubhashVasarapu-MSFT commented on #87556
@BrianAndersen78, Apologies for the inconvenience caused. We will work on updating the document accordingly.

[2022-02-15 07:00] MayankBargali-MSFT commented on #87990
### [@take-4c](https://github.com/take-4c) Thanks for reaching out. I have reached out to my team for the clarification and expected behavior.

[2022-02-15 07:00] yamyamyuo commented on #71298
I have met the same issue.

Please check your key vault. Does your key vault based on Role Base Access Control? If it is, you can edit the IAM to add your purview account a "Key Vault Secrets User" role.

Otherwise, if your key vault was based on policy, add a policy to your purview account. Go to "Access policy" tab to create a new access policy to allow your purview account to read the secrets.

[2022-02-15 07:20] Givary commented on #87809
@Bob-Bradley  Thanks for bringing this to our notice and changes have been updated.
#Please-close

[2022-02-15 07:20] #87809 closed

[2022-02-15 07:50] badsector-82 commented on #87883
Thanks! In my case it wasn't particularly painful since it was really easy to troubleshoot. But anyway it would be good to mention in the documentation that test migration can go wrong. The guide you are pointing is for agentless migration of VMware machines. I'm doing agent based migration of physical machines and I clicked to submit feedback for "This page" on the bottom of the page. Does that c

[2022-02-15 07:59] rpilot commented on #87811
Thanks, Sadikh!

[2022-02-15 07:59] #87811 closed

[2022-02-15 07:59] AnuragSharma-MSFT commented on #87723
@sunilgure Awaiting your response on this.

[2022-02-15 08:00] #87816 closed

[2022-02-15 08:20] #87968 closed

[2022-02-15 08:20] #87969 closed

[2022-02-15 08:20] badsector-82 commented on #87882
Thanks, things are clearer than they were in the beginning. Still I'm stuck with an "Azure Migrate appliance" that I can't remove. Maybe it's a good idea to include this in the "Overview > About Azure Migrate" section, that we don't need two separate appliances but just the "replication" one. Also it's confusing why the "discovery & assessment appliance" sometimes is called "Azure Migrate applianc

[2022-02-15 08:20] #87970 closed

[2022-02-15 08:30] doroodgar opened #88067 "1p ra"
https://github.com/Azure-Samples/azure-iot-samples-python/blob/master/iot-hub/Quickstarts/read-d2c-messages/read_device_to_cloud_messages_sync.py

[2022-02-15 08:31] GavinJin88 opened #88068 "priorities on path-based rule for wildcards and "specific match""
[Enter feedback here]

I found that the logic isn't correct.
When I configured path-based rule with wildcards on the top and more specific path at the bottom, then actual requests to https://www.contoso.com/ to Backend No.1, and https://www.contoso.com/upload backend No.2

https://www.contoso.com/ ->path based rule:  /* >goes to backendpool No.1
https://www.contoso.com/upload ->path based rule:  /

[2022-02-15 08:42] xzf0587 opened #88069 "The code of receive events does not work"
[Enter feedback here]
I followed the doc to send and receive event from EventHubs.
It works fine for the send code snippet.
However, the receive code snippet has no response at all. If receives the event sent by send code snippet, there will be received log in output.
Compared with the [ts demo](https://github.com/Azure/azure-sdk-for-js/blob/main/sdk/eventhub/event-hubs/samples/v5/typescript/src/r

[2022-02-15 08:42] Lynchie435 commented on #86344
Can also confirm I am also having this issue - is there any update on this being fixed?

[2022-02-15 09:01] junghyeon-ryu opened #88070 "Correct misleading phrases about using prefix filter"
[Enter feedback here]

In the Example: Send email alerts phase, there is a misleading phrases about using prefix filter.

There is an example like this '/datadriftID/runs/' here, but it seems that the value that should be actually used should be marked as 'datadrift/{data.DataDriftId}/run/{data.RunId}' instead of '/datadriftID/runs/ is used'

Please check above and share any thoughts, thank you!

[2022-02-15 09:01] junghyeon-ryu commented on #88070
And if we can add more information about how/where we can get the datadriftID, that would be gracefully appreciated.

[2022-02-15 09:02] MayankBargali-MSFT commented on #87667
@CRidge The document does call out [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-sql-rule-action#arguments).

Your rule should have the action as below :
`SET sys.Label = sys.Label + 'MyPostFix'`

To retrieve any system value you need to use sys.<property_name> as mentioned in the document.

Hope the above helps and clears things up. We will now proceed

[2022-02-15 09:02] SarveshPandey opened #88071 ""Maximum amount of memory given to a sandbox is 400" does Azure Runbook can process on 4000 MB of data?"
"Maximum amount of memory given to a sandbox is 400" does Azure Runbook can process on 4000 MB of data?

We have 900TB of data to be process. Are calculating Storage size and Tier in Azure Storage account. We are getting data by running ADF which includes Azure Runbook, Databricsk and other services and make report in Power BI.

Error - "Pipeline gets failed when ever Run Book tries to process ver

[2022-02-15 09:07] SwathiDhanwada-MSFT commented on #88071
@SarveshPandey Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-15 09:21] MrCordeiro commented on #87842
This is the URL: https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/machine-learning/how-to-debug-visual-studio-code.md#debug-experiment-locally

This is a print of the instructions I mentioned.
![image](https://user-images.githubusercontent.com/20598571/154030588-a8898bac-c8dc-4c10-bb0f-050f2ca32e5f.png)

This is a print of the actual prompts that the AzumeML VSCode extension show:

!

[2022-02-15 09:23] jgezelscorp opened #88072 "Ultra disk IOPS example error?"
[[Enter feedback here]]
(https://docs.microsoft.com/en-us/azure/virtual-machines/disks-types#ultra-disk-iops)

Ultra disk IOPS
Ultra disks support IOPS limits of 300 IOPS/GiB, up to a maximum of 160,000 IOPS per disk. To achieve the target IOPS for the disk, ensure that the selected disk IOPS are less than the VM IOPS limit.

The current maximum limit for IOPS for a single VM in generally availabl

[2022-02-15 09:23] shwetamathur7 commented on #88008
@shridharrathi If you use the GET call **https://graph.microsoft.com/v1.0/users/{user-id}**, it will only return a subset of the properties for the given user, which does not include the extension properties. In order to get the extension properties, you need to specify the extension attribute name using the $select parameter, as mentioned below:
 **https://graph.microsoft.com/v1.0/users/{user-id}

[2022-02-15 09:36] DBJDBJ opened #88073 "Can we have the curl example please?"
Windows curl, that is. From cmd.exe, please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 657b5b68-4c41-841a-1110-67b9c2049e39
* Version Independent ID: 2237ca0e-c552-7ee8-97ae-7034e51241d9
* Content: [Azure Monitor HTTP Data Collector API - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/dat

[2022-02-15 09:49] Rydzzu opened #88074 "Mistake in api management documentation (Making the requests)"
On this page: https://docs.microsoft.com/en-us/azure/api-management/api-management-sample-send-request there is a mistake in paragraph ' Making the requests'.

Instead of: @($'https://accounting.acme.com/salesdata?from={(string)context.Variables['fromDate']}&to={(string)context.Variables['fromDate']}')'

it should be: @($'https://accounting.acme.com/salesdata?from={(string)context.Variables['fromD

[2022-02-15 09:52] DP-Miller opened #88075 "AVS Run command (preview)"
[Enter feedback here]

Hi,

When running a command, and checking its output I was checking the Activity log. What could be possibly more intuitive is a screen snip of the Packages screen, with a red box highlighting the 'Run Execution Status', then text stating check the 'Run Execution panel' as shown..
Not an issue, I just missed it. Maybe I just need more coffee.  Thanks,

---
#### Document Deta

[2022-02-15 09:56] antonGritsenko opened #88077 "Limitation: App Service Private Endpoint pulling images to ACR with private Endpoint"
Hello

Can you please add critical limitation for the Private Endpoint (quote from the MSFT Support):

As of ticket #2202090050001358

PS To be honest, this limitation is very stupid and disappointed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-

[2022-02-15 10:21] RubenVerschuere opened #88078 "Change WEBJOB_STOPPED to WEBJOBS_STOPPED"
To start or stop the webjobs the setting is WEBJOB**S**_STOPPED, not WEBJOB_STOPPED.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24523dbf-010f-b844-5ff0-88192eac8849
* Version Independent ID: d7ef5962-d94c-96d0-bf08-1efffc6d402b
* Content: [Run background tasks with WebJobs - Azure App Service](https://docs.microsof

[2022-02-15 10:28] VikasPullagura-MSFT commented on #88075
@DP-Miller
Thanks for the feedback! We are currently investigating and will get back on this.

[2022-02-15 10:39] doroodgar opened #88080 "Enterprise Advertising & Analytics Solutions - Google Marketing Platform"
"پلتفرم بازاریابی گوگل این رشد را تسهیل می کند."
 https://marketingplatform.google.com/about/enterprise/#:~:text=%D9%BE%D9%84%D8%AA%D9%81%D8%B1%D9%85%20%D8%A8%D8%A7%D8%B2%D8%A7%D8%B1%DB%8C%D8%A7%D8%A8%DB%8C%20%DA%AF%D9%88%DA%AF%D9%84%20%D8%A7%DB%8C%D9%86%20%D8%B1%D8%B4%D8%AF%20%D8%B1%D8%A7%20%D8%AA%D8%B3%D9%87%DB%8C%D9%84%20%D9%85%DB%8C%20%DA%A9%D9%86%D8%AF.

[2022-02-15 10:39] graviaDaemon opened #88081 "MSAL Tutorial depricated code"
I've been trying to follow the tutorial [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-auth-code) and came across depricated functions. Both in the section that explains how to make the `authPopup.js`  and the `authRedirect.js` files in the `signOut()` function.

The part where the function gives the example `myMSALObj.logout(logoutRequest)` my editor

[2022-02-15 10:53] RubenVerschuere commented on #88078
PR: #88082

[2022-02-15 10:58] SnehaAgrawal-MSFT commented on #87710
@simoviljakainen Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-15 11:09] graviaDaemon opened #88084 "MSAL Tutorial type errors"
Within the function `seeProfile()` and `readMail()` on the section written for `authPopup.js` and `authRedirect.js` there is a call to the function `getTokenPopup()` or `getTokenRedirect()` with a `.then()` clause.
Within said clause, there is a function call to `callMSGraph()` Here come the parameters that give me the typeError:

`response` is of type: `void | msal.AuthenticaionResult` so there i

[2022-02-15 11:19] RohitMungi-MSFT commented on #88070
@junghyeon-ryu Thanks for spotting this.
@cjgronlund The screen shots in this [section ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-event-grid#examples)needs to be updated as per the [guidance ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-event-grid#filter--subscribe-to-events)in the events format specified.  Could you please help to check the same an

[2022-02-15 11:23] ShaikMaheer-MSFT commented on #88069
@xzf0587 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-15 11:34] angusrw commented on #87816
@AnuragSharma-MSFT I'm still confused, are you saying I need to paste all of the functions I need from there into my stored procedure when I'm writing it? Having done that, I still get the following error:
`Encountered exception while executing Javascript. Exception = TypeError: Object doesn't support property or method 'patch'`
When trying to do `collection.patchDocuments` in the stored procedure

[2022-02-15 11:34] #88011 closed

[2022-02-15 11:49] RohitMungi-MSFT commented on #88064
@MacShack Yes, the language pairs that are currently supported are to/from English. The roadmap for future [language support](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/custom-translator/release-notes) is not published in the documentation externally. We would request our content author @laujan to consider adding this as a note on the landing page for better understanding

[2022-02-15 11:53] AshokPeddakotla-MSFT commented on #87683
@AsanFaraj  I'm unable to reproduce the issue.  Are you able to create events for other Azure services?

I understand that you are using same location for all resources.

The system topic creation will also fails if you have set up Azure policies in such a way that the Event Grid service can't create it. For example, you may have a policy that allows creation of only certain types of resources (fo

[2022-02-15 12:16] andoius opened #88086 "Enable chaos target and capabilities JSON incomplete"
The JSON section shown under "Enable chaos target and capabilities"  item (1) is incomplete and does not fit in with the context of item (2) **--body @target.json**
as such it is not possible to work through the example shown

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d31160e-c77b-86bb-4e9e-c5700c1cffa8
* Version

[2022-02-15 12:30] okand opened #88087 "How do I actually do anything with the custom details I've added to my alert?"
Preferably I'd like them to just appear together with the entity mappings. For example: Together with user and security group entity mappings I would like to at a glance see which reason they've given for requesting a permission through PIM instead of having to dive down in the security alert inside log analytics and look at what is in the ExtendedProperties > Custom Details key.

---
#### Documen

[2022-02-15 12:30] MacShack commented on #88064
@RohitMungi-MSFT thank you for your response and suggested resolution for now. I hope other language pairs will soon be added.

[2022-02-15 12:36] shwetamathur7 commented on #88084
@graviaDaemon Thank you for your query . We will investigate and update the thread.

[2022-02-15 12:39] shwetamathur7 commented on #88081
@graviaDaemon Thank you for your query . We will investigate and update the thread.

[2022-02-15 12:48] diegoalb opened #88088 ""Reactivate device" section need to be updated"
Hey Team,

I noticed the Reactivate device section mentions a procedure and screenshot that are not up to date (https://docs.microsoft.com/en-us/azure/databox-online/azure-stack-edge-reset-reactivate-device#reactivate-device)

It doesn´t take into consideration the new experience with the Azure Edge Hardware Center and for this reactivation, the customers just need to create the management resourc

[2022-02-15 13:05] shashishailaj commented on #88080
@doroodgar Hope ou are doing great . We use azure-docs repository for feedback on Microsoft Azure documentation , Could you please let us know which document your issue is related to ? Also if you can provide more details we will be able to help you better.

[2022-02-15 13:08] shashishailaj commented on #88067
@doroodgar Hope you are doing great . We use azure-docs repository for feedback on Microsoft Azure documentation , you have posted a link to a sample repo ? Could you please provide more details so that  we will be able to help you better.

[2022-02-15 13:09] shashishailaj commented on #88087
@okand Thank you for your feedback . We will investigate and update the thread.

[2022-02-15 13:10] SumanthMarigowda commented on #88088
@diegoalb Thanks for the question! We are investigating and will update you shortly.

[2022-02-15 13:11] shashishailaj commented on #88086
@andoius Thank you for your feedback . We will get this reviewed and updated as needed.

[2022-02-15 13:26] Ericgre commented on #88077
Hello, strange behavior, PE of web app is done at the front end level, consumption of backing services like KV or ACR is done at the worker level through vnet integration.
I just tested and it works very well (Web App with PE, pulling container from ACR with PE). (I used the region North Central US)
Did you followed this article: https://azure.github.io/AppService/2021/07/03/Linux-container-from-A

[2022-02-15 13:35] AnuragSharma-MSFT commented on #87875
@ericjiang20 Awaiting your response on this.

[2022-02-15 13:45] ericjiang20 commented on #87875
Yes, I do run step 3 for getting the SID from the source server.  While I use the SID on the destination server, I get this error.

Thanks,
Eric
________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: Tuesday, February 15, 2022 8:35 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: ericjiang20 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] When you ru

[2022-02-15 13:53] huberchrigu opened #88090 "Where to set the encoding for my custom REST API"
I do not find any information about how the response messages from my custom REST API are handled. We have special characters (like in German and French) and I need somehow to set UTF-8 encoding such that error messages are displayed correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dff7a38-a459-4eb9-22fe-d225

[2022-02-15 14:11] dscaravaggi commented on #74476
HDInsight 4.0 has been rolled out but Spark 3.0.0 in preview
https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/hdinsight/hdinsight-40-component-versioning.md

in the meanwhile Spark landed on 3.2.1 GA
I'm a bit confused on MS strategy on Spark BigData, the official Spark ODBC Driver seems abbandoned since 2020,
but DataBricks platform is suggested and Simba ODBC Driver are embedded an

[2022-02-15 14:17] PriyankaRudramaina commented on #88000
Hello @RaymonZh,

Thanks for sharing more insights into this. I am waiting on the content author to confirm if that is a typo and if that can be changed to support from required for the specific series.
Allow me some more time, I will update you back.

[2022-02-15 14:22] brucelangston commented on #88051
Another thing: the sentence that starts with "It is vital to monitor..." causes many problems, among them, buried subject, redundancy and context confusion. see https://ezinearticles.com/?Starting-Sentences-With-It&id=735283

[2022-02-15 15:01] sakkuntyo opened #88093 "The documentation for Japan contains an error in the note about the fastest frequency of issuing Metric Alerts."
The note on the fastest frequency of metric alert rules is now 10 minutes for the ja-jp language, and 5 minutes for the en-us language. In fact, 5 minutes is more correct, and en-us seems to be the most up-to-date information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73e74d3e-7e13-646e-d07c-9409a2e38cc4
* Version

[2022-02-15 15:04] MicrosoftGuyJFlo commented on #88056
#reassign:@MicrosoftGuyJFlo

Yes, there are caveats to legacy authentication. Security defaults is an on/off method of improving security in an organization and not as nuanced as Conditional Access.

There is a deeper article that talks about more of the nuances of legacy protocols and how to identify their use in the Conditional Access docs https://docs.microsoft.com/azure/active-directory/condit

[2022-02-15 15:04] #88056 closed

[2022-02-15 15:07] GeethaThatipatri-MSFT commented on #87932
Hi, @jason-barringer We haven't heard back from you. Just wanted to check.

[2022-02-15 15:13] SumanthMarigowda commented on #87333
@randomat123 Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused
Yes, HBE works with SSE with double encryption as well We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

I'd recommend posting your question

[2022-02-15 15:13] #87333 closed

[2022-02-15 15:18] TobiasAT opened #88094 "Combined registration enabled by default for all tenants"
Based on the Azure AD release notes combined registration should be enabled for all tenants in 2022, see the note: https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new#tenant-enablement-of-combined-security-information-registration-for-azure-active-directory

 I'm unsure, is this updated configuration now already in place for all tenants, or only planned for an undetermin

[2022-02-15 15:23] SumanthMarigowda commented on #87946
@x509cert Apologies for the delay response! Your feedback has been shared with the content owner for further review.

[2022-02-15 15:24] guyrleech opened #88095 "Maximum file sizes should be in GB not Gb"
Gb is gigabit, GB is gigabyte where the latter is 8 times the former and what I think is meant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0acd1ed-ec87-d322-0477-43fc7033b49b
* Version Independent ID: a6b58f46-4e69-91e1-2911-0173008f871a
* Content: [Plan a solution template for an Azure application offer](https://

[2022-02-15 15:27] SumanthMarigowda commented on #88088
@diegoalb Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-15 15:28] gourav445 opened #88096 "Information is outdated and needs to be corrected"
[Enter feedback here]

The document states that the only supported method for VMWare HCX is through Expressroute. This is not correct.
HCX is supported over VPN or SD-WAN
https://docs.vmware.com/en/VMware-HCX/4.2/hcx-user-guide/GUID-8128EB85-4E3F-4E0C-A32C-4F9B15DACC6D.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-02-15 15:31] MonikaReddy-MSFT commented on #88093
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-15 15:34] #88095 closed

[2022-02-15 15:34] j-dahl7 commented on #87614
Thank you so much! This helps a lot.

[2022-02-15 15:37] thegrahamking opened #88097 "How to specify Azurite command line options for Azure Functions or ASP.NET projects"
Isn't very helpful

It would be helpful if it was documented how to specify Azurite command line options (e.g. blob/queue/table listening port, certificate (HTTPS), oauth etc) for projects which start Azurite automatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* Version In

[2022-02-15 15:38] JamesTran-MSFT commented on #88090
@huberchrigu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-15 15:38] JamesTran-MSFT commented on #88094
@TobiasAT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-15 15:50] davehcdn opened #88099 "Register CDN Example command is outdated"
The command for registering the CDN identity in the AAD is wrong:
1) There is no "-Role Contributor" part of the command anymore.  The command will not complete.
2) Additionally, this section of the tutorial seems to be copy/paste from the Azure Front Door documentation but missing some details.  That other documentation https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-htt

[2022-02-15 15:51] ImAbhishekTomar commented on #87716
Can anyone help on this?

[2022-02-15 15:53] davehcdn opened #88100 "Register Azure Front door commands example are broken"
The Section of the documentation regarding registering the front door with AAD and the keyvault has commands that no longer work or are outdated.
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https#register-azure-front-door

Neither of the Powershell nor the CLI commands are completely up to date and will not execute in their current forms.

---
#### Document Details

⚠

[2022-02-15 15:57] FrankCarius commented on #55171
Small additional Information  I found the Link https://go.microsoft.com/fwlink/?LinkID=843463  in an Eventlog message.
Source: Microsoft AAD Application Proxy
EventID 11025
Maybe someone should remote that link from the code also or point the link-URL to a better target

[2022-02-15 15:59] pierrel opened #88101 "Incorrect subnet config IPAddressPrefix"
I couldn’t make this tutorial work for me. I continued to get the error “Subnet [subnet name] is not valid for virtual network.” After looking at [this tutorial](https://docs.microsoft.com/en-us/azure/virtual-network/scripts/virtual-network-powershell-sample-multi-tier-application) it seemed like the IP addresses for the two subnet config was not correct and should have been “10.0.1.0/24”.

---
##

[2022-02-15 16:03] jpdfr-msft opened #88102 "What is the object size limits for encryption"
What are the limits in term of object size for encryption/decryption api, and signing api per transaction with:
- Azure Key Vault hosted keys
- Managed HSM hosted keys

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4617f3a-f1ec-41e3-71c2-11e32f6f1f28
* Version Independent ID: 4e11b140-e9a4-7bb2-1519-f00ced95e4

[2022-02-15 16:06] Baryczka opened #88103 "proxyadresses attribute as SAML claim mentioned but not usable"
I'm looking for a way to send values of attribute `proxyadresses` with SAML claim to my application(SSO integration). In the `Claim transformations` chapter of this document page `user.proxyaddresses` multivalue attribute is mentioned but I cannot find the option to select it (is not autocompleted) in `Enterprise application> My app test >SAML-based Sign-on >Attributes & Claims` configuration, nei

[2022-02-15 16:09] GitaraniSharma-MSFT commented on #87966
@jye-aviatrix , I'm following up on my previous comment. Kindly let us know if you need further assistance on this issue.

[2022-02-15 16:13] jpdfr-msft opened #88104 "PrivateLink resolution and On premise DNS Forwarder"
In the "Important" note the statement is to not only forward the privatelink.* but the global public zone to the Azure DNS Forwarder VM:

Can you provide more information to justify this requirement as it creates a strong dependency for global service resolution between on premise and the Azure public services, which is not a good dns practice ?

Thanks
---
#### Document Details

⚠ *Do not edit th

[2022-02-15 16:22] rvuppuluri-MSFT commented on #87300
@efrain-valdez

You need to use ‘mS-DS-ConsistencyGUID’ as sourceAnchor attribute. Post version 1.1.553.0 of AAD Connect, Azure AD defaults to ms-DS-ConsistencyGUID as sourceAnchor for user objects and ObjectGUID for other objects.

Having said that, if you have a single forest then it really shouldn’t impact whether they use ObjectGUID or mS-DS-ConsistencyGUID’. It is just best practice to use th

[2022-02-15 16:27] MarcoL-4wardPRO opened #88106 "Both RootCA and SubCA public certificates need to be imported into AzureAD"
Please integrate the current documentation with a more detailed information related to which CA certificates need to be imported in to Azure AD, because we have experienced an issue.
Let me explain better, if you have a classic two-tier PKI (RootCA + SubCA), in order to have CBA to work well you have to import both public key certificates (Root + Sub) into the Azure AD trustedRoot CA store.
Both o

[2022-02-15 16:27] GiftA-MSFT opened #88107 "What are the new "Build Mode" options in Form Recognizer?"
This document is missing information on "Build Mode" which seems to be a new feature in Custom Model Portal. [Link to original post](https://docs.microsoft.com/en-us/answers/questions/734621/what-are-the-new-34build-mode34-options-in-form-re.html?childToView=736534#answer-736534).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-02-15 16:36] tjkumar commented on #39112
I am getting the same error while trying to create the Vnet Integration for app service with Vnet ,
'Delegations of subnet cannot be changed from [] to Microsoft.Web/serverFarms because it is being used by the resource providers/Microsoft.Network/networkInterfaces/

does this means i can't delegate the service to subnet which is already having resources in it

[2022-02-15 16:39] slynickel commented on #87926
Looks like another two categories were added between when I posted this and now. `RiskyServicePrincipals` and `ServicePrincipalRiskEvents`.

![image](https://user-images.githubusercontent.com/26190757/154107290-d9895404-b59d-4cc9-b6bf-5bc0e73114cf.png)