[2022-06-27 20:44] #94335 closed

[2022-06-27 20:46] cebundy commented on #94899
#assign:cebundy

[2022-06-27 20:50] GanesaperumalAlagarsamy commented on #87405
Is this done? Can you please provide the steps for adding Request Body when request method is POST or PUT?

[2022-06-27 21:01] cebundy commented on #94899
@coolhome Thank you for your input.  Our articles currently use Azure CLI commands in the PowerShell tabs since there were no PowerShell cmdlets for Container Apps.    When we used a mix of PowerShell cmdlets and CLI commands, customers found it confusing.  Now that the Container Apps module is available for PowerShell,  we will be transitioning to PowerShell cmdlets in our article where possible.

[2022-06-27 21:01] #94899 closed

[2022-06-27 21:03] carlosgdelvalle commented on #34167
I've brought cake and some drinks: 🎂 🥤🥤🥤🥤
🥳🥳🥳🥳🥳

[2022-06-27 21:06] cebundy commented on #94697
@glennsc Thank you for your input.   We have updated the article.  I hope this clears up any confusion.  If not, please feel free to reopen this issue.
#please-close

[2022-06-27 21:06] #94697 closed

[2022-06-27 21:12] cebundy commented on #94685
#assign:cebundy

[2022-06-27 21:24] davidcwhitney opened #94954 "no underscores allowed in input/output "table" names"
[Enter feedback here]
The portal allows inputs/outputs of the streaming job to be created using hyphens.  However, when I tested the SQL query it failed at the location of the first hyphen.  The matrix on the Learn page is correct in recommending a name with no hyphen but it does not alert users to the fact the job will fail when one is present.
Thanks.
<html>
<body>

Setting | Suggested value | D

[2022-06-27 21:40] #93762 closed

[2022-06-27 21:42] ChaitanyaNaykodi-MSFT commented on #93762
Hello @BzSpi, apologies for the delayed response here. I have updated the documentation and the change will go live soon.

[2022-06-27 22:05] MNF opened #94955 "RequireEncryption mode (v11 only)"
It is a bit confusing , what  (v11 only) means.
Does it mean that RequireEncryption is deprecated and will not be used after v11?
Or that it is a new functionality that is available starting from V11 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86453250-5bb5-c375-d392-4fa366ddbe43
* Version Independent ID: fd87a3a3

[2022-06-27 22:10] cebundy commented on #93102
@mvark  Thank you for your helpful suggestions!  We have updated some of the documents in the Architecture Center.  At this time, we do not plan to add Service Fabric as a comparable service.
#please-close

[2022-06-27 22:25] spelluru commented on #94608
Added notes in two places. In the list at the top and in a separate sub section in [Caveats](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-migrate-standard-premium#rbac-settings).

#please-close

[2022-06-27 22:25] #94608 closed

[2022-06-27 22:37] PatAltimore commented on #94947
Added to backlog.

#please-close

[2022-06-27 22:50] cebundy commented on #93558
You will see the doc update soon.
#please-close

[2022-06-27 23:05] himachida opened #94958 "Japanese Translation: Set the policyId field to default so that Azure Storage will define the policy ID."
[Enter feedback here]

In English,
Set the policyId field to default so that Azure Storage will define the policy ID.

In Japanese,
Azure Storage でポリシー ID が定義されるように、policyId フィールドを既定値に設定します。

It sounds like Set the policy field to the default value.

This should be
Azure Storage でポリシー ID が定義されるように、policyId フィールドに default を設定します。

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-06-27 23:05] cebundy commented on #85642
@onionhammer Thank you for your suggestion. Could you tell me what resources you would prefer that we add to the templates?

[2022-06-27 23:05] cebundy commented on #85642
#assign:cebundy

[2022-06-27 23:07] mikaelweave commented on #94778
Hi @gravlindon, can you provide some more details about the issue you are experiencing? We don't support R4B in our managed service (yet), so would like to hear more about the issue.

[2022-06-27 23:15] cebundy commented on #93791
@spottedmahn  We really appreciate your input, it helps us improve our customer experience.   We have an internal work item to incorporate your suggestions. We are closing this issue for now, but feel free to comment here as necessary. #please-close

[2022-06-27 23:15] #93791 closed

[2022-06-27 23:36] cebundy commented on #92887
@horihiro Thank you for your feedback.  We are using a sidecar pattern.  Please see: https://docs.microsoft.com/en-us/azure/architecture/patterns/sidecar#solution
#please-close

[2022-06-27 23:36] #92887 closed

[2022-06-27 23:51] ChaitanyaNaykodi-MSFT commented on #94699
Hello @gavin-wickens, apologies for the delayed response here.

The two zones are randomly selected, determining which exact zones the gateway was deployed to is currently not supported.

Hope this helps! We will now proceed to close this issue out. Please tag me in your response if you have any additional questions Thank you!

[2022-06-27 23:51] #94699 closed

[2022-06-27 23:54] srajtiwari opened #94960 "Wrong link to virtual machine documentation"
The Link in the section below points to _how to create a virtual network_ and not _how to create a virtual machine_.
"[Create a virtual machine (VM)](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal) within the virtual network above. Ensure that this VM has the following specifications:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-06-27 23:57] James-Hamil-MSFT commented on #94264
Hi @xtianus79 , did reconfiguring the HTML not change anything?

[2022-06-28 00:05] #82637 closed

[2022-06-28 00:10] #94960 closed

[2022-06-28 00:10] ChaitanyaNaykodi-MSFT commented on #94960
Hello @srajtiwari, I have updated the link and it is now pointing at the correct section https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-portal#create-virtual-machines
Thank you!

[2022-06-28 00:12] ggailey777 commented on #93743
The article has been updated. Please open a new issue if you see any other issues with this article. #please-close

[2022-06-28 00:12] #93743 closed

[2022-06-28 00:13] ggailey777 commented on #94495
The article has been updated. Please open a new issue if you see any other issues with this article. #please-close

[2022-06-28 00:13] #94495 closed

[2022-06-28 00:44] ggailey777 commented on #94213
The article has been updated. Please open a new issue if you see any other issues with this article. #please-close

[2022-06-28 00:44] #94213 closed

[2022-06-28 00:45] ggailey777 commented on #94294
The article has been updated. Please open a new issue if you see any other issues with this article. #please-close

[2022-06-28 00:45] #94294 closed

[2022-06-28 00:45] ggailey777 commented on #93547
The article has been updated. Please open a new issue if you see any other issues with this article. #please-close

[2022-06-28 00:45] #93547 closed

[2022-06-28 01:06] georgeOsdDev opened #94964 "Update doc for App Service Linux PHP 8 configuration"
App Service's PHP8 blessed image is using Nginx instead of Apache
https://azureossd.github.io/2021/09/02/php-8-rewrite-rule/index.html

So below description was little bit old, please update description in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99cd-9e32-ae48-2605831aee02
* Version Independe

[2022-06-28 01:46] KrishnaG-MSFT commented on #94938
@Borgquite Thanks for your comment! We will review and provide an update as appropriate.

[2022-06-28 01:47] onionhammer commented on #85642
@cebundy the link is about using arm and bicep to create an environment, then it immediately uses the cli to create a storage account

[2022-06-28 02:45] MarileeTurscak-MSFT commented on #94767
Hi @Gigabytez, could you please provide more detail around this?

[2022-06-28 02:55] jlian opened #94968 "Wildcard seems to be unsupported even for "signInAudience": "AzureADMyOrg""
In the [article](https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#restrictions-on-wildcards-in-redirect-uris) it says

I tried doing this and I would get an error "Error detail: Invalid value specified for property 'replyUrlsWithType' of resource 'Application'. "

![image](https://user-images.githubusercontent.com/2320572/176082375-1433c3a7-d22d-4c8a-957d-986407f8b88b.png)

[2022-06-28 02:55] LingYi-Wu commented on #94729
Hello Team,

Thanks for help.
I see below update:
EA credit expires when the EA enrollment ends for all programs except the EU program.

But it didn't mention about EA credit coverage end date. This is specially for customer who purchases Annually Prepaid.
Could you refer to below and add this part to document?
Commercial Licensing Terms (microsoft.com)<https://www.microsoft.com/licensing/terms/pr

[2022-06-28 03:00] #94825 closed

[2022-06-28 03:07] RyanHill-MSFT commented on #94964
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-28 03:14] #93950 closed

[2022-06-28 03:15] PrasantHub opened #94969 "Data factory integration runtime share with service principals"
Currently I have created a ternary datafactory to have only SHIR. I have given permission to Dev, UAT and Prod ADFs to access this SHIR. I am using CICD pipeline to deploy the changes to multiple environments. While deploying I am getting error as below.

UnauthorizedIntegrationRuntimeAccess: Access denied. Unable to access shared integration runtime Please check whether this resource has been gra

[2022-06-28 03:26] JAK1047 opened #94970 "Removed support for ADAL leaves these commands outdated"
With the removed support for ADAL in favor of MSAL this month the AzureAD module is no longer considered supported, with instructions from Microsoft to move to the Microsoft.Graph module. However the Delete Device Graph endpoint does not currently support Application permissions meaning it cannot be automated with modern authentication options:

https://techcommunity.microsoft.com/t5/microsoft-365

[2022-06-28 03:42] AshokPeddakotla-MSFT commented on #94969
@PrasantHub Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2022-06-28 03:44] shwetamathur7 commented on #94968
@jlian Thanks for your feedback. Could you please specify what value you are passing in redirect URI?

[2022-06-28 03:46] shwetamathur7 commented on #94970
@JAK1047 Thanks for your feedback. We will investigate and update the thread.

[2022-06-28 03:58] AshokPeddakotla-MSFT commented on #94903
@demaford Please help with the link of document on which above document feedback request is created. We try to reserve these issues for feedback directly related to the tutorials: like if there are errors that block tutorial completion or if there are updates/changes required, suggestions for improvement, etc. If this is not the case I would suggest you, open an issue with your question on  Micros

[2022-06-28 03:58] PrasantHub commented on #94969
Sorry the category may be wrong. It is not related to a  document feedback. Rather seeking help on an issue.

[2022-06-28 04:01] pnarsi commented on #93419
@Oury-MSFT @sunilagarwal - I understand the PostgresSQL Firewall side of things in terms of specifying the source IP of our corporate network in the PostgreSQL Firewall. However in a scenario where the client is going to access PostgreSQL via the internet there will be a need to configure both a destination IP and port number in the corporate firewall to allow a client to access Azure PostgreSQL.

[2022-06-28 04:10] mike-urnun-msft commented on #94945
Thank you for your feedback! We will review and update as appropriate.

[2022-06-28 04:20] angryAnt7 opened #94971 "how to redirect after sso(SAML)"
how to redirect after sso (SAML)

I read the document below and completed SSO login from my IDP to M365.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp

When I log in to M365 SSO from my IDP, I go to that page (https://www.office.com/?auth=2&home=1)

Is there any way to go to the page I want? I want to go to the Outlook page (https://outlook.office.com/m

[2022-06-28 04:21] SwathiDhanwada-MSFT commented on #94437
@dalehhirt Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc  once approved by content author .We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-06-28 04:21] #94437 closed

[2022-06-28 04:22] #94890 closed

[2022-06-28 04:24] kspoojary commented on #94851
@HeidiSteen  My requirement is to connect to search service from my local machine not from VM, for my local development testing purpose I need to access the search service but it is not working as public access is denied. We tried to connect to azure vpn, but still we are not able to connect to the search service from local machine.

In Azure VPN point to site configuration we are adding additiona

[2022-06-28 04:28] VikasPullagura-MSFT commented on #94943
@IamJeffG
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-06-28 04:28] VikasPullagura-MSFT commented on #94943
@prkannap
Can you please check and add your comments on this doc update request as applicable.

[2022-06-28 04:29] SwathiDhanwada-MSFT commented on #94950
@fgheysels Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-28 04:39] ShaikMaheer-MSFT commented on #94946
@KyferEz Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-28 04:40] ShaikMaheer-MSFT commented on #94948
@Robert-Lauriston-at-Striim Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-28 05:09] v-amallick commented on #94672
@makamiya - Thanks for bringing this to our notice. We have informed the localization division to update the JSON file name. This will be updated soon.

[2022-06-28 05:44] hylinux commented on #94923
thanks for your help

[2022-06-28 05:52] hits-leaven opened #94973 "Can I use a specific (myown) FQDN for my resource using the customDnsConfigs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-06-28 05:54] hits-leaven commented on #94973
I have a postgressql single server resource created and have a private endpoint associated (created) - I would though like to have a custom DNS FQDN rather than a resource name FQDN - documentation suggested it should be possible - i.e. does not say it is a readonly property ... would like to clarify if this is possible or not

Thanks in advance

[2022-06-28 06:30] ShaikMaheer-MSFT commented on #94954
@davidcwhitney Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-28 06:45] francisx1222 opened #94975 "Plan to improve this document"
[Enter feedback here]
We have a concern about the ASE DNS Setting.
Refer to this page, the document requests us to create a appserviceenvironment.net zone.
But there is no a centralized page to summarize all the zones of ASE.

Compare to below link, take private endpoint for an example, it is quite clear for each function of zone.
[https://docs.microsoft.com/en-us/azure/private-link/private-endpoi

[2022-06-28 06:57] shubhanshu02 opened #94976 "Inconsistent Limits for the Custom Logs API"
Under the section "Script returns error code 429", the following limits are mentioned for the API.

API limits have been exceeded. The limits are currently set to 500MB of data/minute for both compressed and uncompressed data, as well as 300,000 requests/minute. Retry after the duration listed in the Retry-After header in the response.

While on the Azure Monitor service limits [page](https://docs

[2022-06-28 07:08] SreejaBhattacharya-MSFT commented on #94596
#please-close

[2022-06-28 07:08] #94596 closed

[2022-06-28 07:09] SreejaBhattacharya-MSFT commented on #94590
Thanks @tomvcassidy

[2022-06-28 07:25] darkyben opened #94977 "This page is not listed in the sidemenu"
This page is not listed in the sidemenu `Ressources > Release notes > Platform > June 2022`
![image](https://user-images.githubusercontent.com/1877973/176118682-21c56e9a-1d24-4659-9507-b90089632e27.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f5b2b5-b69d-e49f-c2a8-f17a2c6adec6
* Version Independent ID: 01f5b2b

[2022-06-28 08:45] CHEEKATLAPRADEEP-MSFT commented on #94977
@darkyben Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-28 09:03] jeffreydahan opened #94980 "Issue with az aks create --vnet-subnet-id argument"
[Enter feedback here]

I am using bash on windows (fully updated/upgraded) and get stuck on the following command while building an aks cluster which points to a pre-created vnet/subnet.  I get the error (I replaced my subscription with xxxxxxx):

$ az aks create -n $aksClusterName -g $resourceGroupName --load-balancer-sku standard --enable-private-cluster --node-count 1 --network-plugin kubenet -

[2022-06-28 09:24] AnuragSingh-MSFT commented on #94880
@jayinoz99, Please note the links are for different settings/data retention.

[Link 1](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy#how-long-is-the-data-kept) is for retention period detail of [Log Analytics workspace](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/quick-create-workspace?tabs=azure-portal), where Azure Monitor stores the logs.

[Link 2

[2022-06-28 09:34] alwaysharsha opened #94981 "Has extra "`" in Content section or title"
There is an extra "`" after Tutorial
* Content: [Tutorial`:` Use managed identity to access Azure Resource Manager - Windows - Azure AD - Microsoft Entra]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767c7b6-16b1-c687-6190-9c7eb2776826
* Version Independent ID: d4f9ccd2-6673-31bc-f72b-cbf061b942d8
* Content: [Tutori

[2022-06-28 09:40] AnuragSingh-MSFT commented on #94841
@konrad-jamrozik, thank you for this question. I am assigning it to our content team for further review.

@guywi-ms, can you please review this question and share your insights.

[2022-06-28 10:13] Venkateshdodda-MSFT commented on #94975
@francisx1222 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2022-06-28 10:14] CHEEKATLAPRADEEP-MSFT commented on #94969
@PrasantHub  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-06-28 10:14] #94969 closed

[2022-06-28 10:14] Venkateshdodda-MSFT commented on #94975
@madsd Can you please check and add your comments on this doc update request as applicable.

[2022-06-28 10:15] CHEEKATLAPRADEEP-MSFT commented on #94948
@Robert-Lauriston-at-Striim Could you please confirm,, if you have create any SQL pool?

[2022-06-28 10:19] ms-ishiyam opened #94983 "Azure Firewall deny VM's default traffic"
When we use Azure VM (Win/Linux) with Azure Firewall, some traffic from Azure VM are denied by Azure Firewall. If there are some guidance for default traffic of Azure VM, it is very helpful for many customers. I hope you add the information to FAQ of Azure Firewall documents. I think many customers submit SR because of this information.

For example, there are some traffic like below from Azure VM

[2022-06-28 10:22] ms-ishiyam commented on #94983
I forget the precondition. Next Hop of default route is Azure Firewall so PaaS traffic goes through Azure Firewall.

[2022-06-28 10:23] tectonia opened #94984 "AML: Tutorial: Train your first machine learning model (part 2 of 3) exception in script"
After following the tutorial up until creating the control script: run-pytorch.py, I don't get the output required. I get this error in std_log.txt:

![image](https://user-images.githubusercontent.com/61530975/176156313-54a3e083-8910-4548-ae2a-a27be1c15f83.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23f9d033-90

[2022-06-28 10:30] AshokPeddakotla-MSFT commented on #94955
@MNF Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-28 10:31] AshokPeddakotla-MSFT commented on #94958
@himachida Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-28 10:40] #94759 closed

[2022-06-28 10:46] MughundhanRaveendran-MSFT commented on #94907
@jgwinner , The network injection means vnet integration in this context. I understand that the term "network injection" is confusing while creating the function in the portal. I will work with the concerned team to change the content.

[2022-06-28 10:50] Loule-Corro commented on #94855
just tried on East US, same error....

[2022-06-28 10:52] aurel-LX opened #94985 "Typo in CosmosDB video"
There is a typo in the video explaining how to properly define the partition key (second 40). Should be "right" instead of "write"

![image](https://user-images.githubusercontent.com/89967645/176161803-bf9517d2-c048-4ca8-a55a-89726d58ad91.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52f6d2e-f852-45ce-c205-ee403

[2022-06-28 10:53] PriyankaRudramaina commented on #94980
Hello @jeffreydahan,

I am not able to reproduce the error at my end. I followed the document and tried creating the cluster by running the cli from local. Can you use Azure cli instead and see if you hit the same error?

This is not a document issue, this channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you create a thread on the forums

[2022-06-28 10:53] #94980 closed

[2022-06-28 10:58] MisiekBest opened #94986 "Script activity internal timeout in Azure Synapse"
Hi guys!
I come back to you with feedback after a long diagnosis with Azure support about very strange behavior in ADF Script Activity running on Azure Synapse.
In my opinion and my colleagues from the company (Elitmind), this SHOULD be placed somewhere in the docs, as a note or warning. The Synapse product team described this behavior as 'undocumented'. I'm not sure if they will come to you with

[2022-06-28 11:02] AnuragSingh-MSFT commented on #94866
@LucioBenzor, I just checked using 2 different accounts (one with Azure Subscription and another without Azure Subscription) and I was able to access the Demo environment without any issue using this link, as available in tutorial - [Log Analytics demo environment](https://portal.azure.com/#blade/Microsoft_Azure_Monitoring_Logs/DemoLogsBlade)

Can you please check again and see if you are able to

[2022-06-28 11:12] AjayKumar-MSFT commented on #94593
take-4c, the document reflects the published changes. Thanks again taking time to share your value feedback to improve Azure docs.

[2022-06-28 11:12] #94593 closed

[2022-06-28 11:36] Oppedijk opened #94988 "Scope applies to existing roles as well"
Please mention that if you add a Global Admin (or any other role) this will limit this person to only the scope (based on our experience 28/06/2022)

With a wrong dynamic query, you can lock everyone out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11702e8d-98ba-b314-13cf-4c27963dcafd
* Version Independent ID: 9d2cb

[2022-06-28 11:44] erwynNL opened #94989 "Mention of Premium tier should be removed"
This document still mentions the Premium tier of Event Grid, which didn't GA and there are currently no plans to reintroduce it I heard. So this reference should be removed from this section [https://docs.microsoft.com/en-us/azure/event-grid/network-security#pricing-and-quotas](https://docs.microsoft.com/en-us/azure/event-grid/network-security#pricing-and-quotas).

---
#### Document Details

⚠ *Do

[2022-06-28 11:51] take-4c commented on #94593
@AjayKumar-MSFT -san,
Thank you! :)

[2022-06-28 11:58] GitaraniSharma-MSFT commented on #94983
@ms-ishiyam , thank you for your feedback. We'll review this and get back to you shortly!

[2022-06-28 12:22] #94887 closed

[2022-06-28 12:23] GitaraniSharma-MSFT commented on #94887
@PatrickBorkowicz , we have successfully updated the doc and it will reflect shortly.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-06-28 12:28] cjoergensen opened #94992 "Azure Service Bus - FAQ - Firewall ports"
The documentation states that only port 5671 needs to be opened for the AMQP protocol.

However the AMQP guide states that 5671 and **5672** need to be opened: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-protocol-guide#amqp-outbound-port-requirements

This is backed by this: https://docs.particular.net/transports/upgrades/asb-10toasbs-1#infrastructure-differences

[2022-06-28 12:41] DeanGross opened #94993 "Unhelpful link"
The link to the security logging video just points to general purpose page, it would be more helpful if it pointed to a page with relevant videos.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c9d466-1830-ebaf-066f-8b53b57b6917
* Version Independent ID: 414715c5-d5f7-823a-3869-d8eb08448dbd
* Content: [Azure security

[2022-06-28 13:12] lucavice opened #94995 "Domain verification by asuid"
Based on discussion [here](https://github.com/MicrosoftDocs/azure-docs/issues/57334), it looks like `awverify` is not used anymore, while `asuid` is the correct TXT validation key. This page mentions `awverify`, which is probably incorrect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02a446d2-d1d3-6ac0-e7a7-15e4e7d4b

[2022-06-28 13:19] Givary commented on #94981
@alwaysharsha Updated the changes to the article, will be reflected in couple of days.

[2022-06-28 13:19] #94981 closed

[2022-06-28 13:32] gravlindon commented on #94778
it looks like the $export outage was not related to r4b as i had orignally heard

[2022-06-28 13:47] kabharati commented on #86881
@AwdotiaRomanowna - The following clarification is provided in the documentation and i also added a note to the documentation to separate replication and admin users. This will be available by EOD.

If the replication user is other than the server administration user (who created the server), make sure that you assign azure_pg_admin and replication privileges to the user. Alternatively, you can gr

[2022-06-28 13:47] kabharati commented on #86881
#Please-close

[2022-06-28 13:47] #86881 closed

[2022-06-28 13:48] snobu opened #94999 "Subnet length for bring-your-own-subnet Container Apps"
Under [`Create the environment`](https://docs.microsoft.com/en-us/azure/container-apps/vnet-custom?tabs=bash&pivots=azure-portal#create-an-environment) there's a Note stating -

[code]

We should probably make this a bit more imperative and also explain what could go wrong if a /24 is selected instead (e.g. revisions may get stuck in 'Provisioning' state and never complete due to lack of IP space)

[2022-06-28 13:59] ericd-mst-github commented on #94855
Thank you for the clarification. I will check with our product team and keep you posted.

[2022-06-28 14:13] SinthuCy commented on #90415
Still Raising the same issues there, I think this glitch not fixed yet

[2022-06-28 14:22] kabharati commented on #92797
#please-close

[2022-06-28 14:22] #92797 closed

[2022-06-28 14:27] JamesTran-MSFT commented on #94971
@angryAnt7
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-28 14:28] JamesTran-MSFT commented on #94988
@Oppedijk
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-28 14:38] shivakumarky commented on #9731
i think this is addressed in this link: https://stackoverflow.com/questions/45509231/remove-custom-domain-host-from-app-service-via-powershell/45513832#45513832

You just need to use the same variable to add additional host name rather than inputting through different variable which may have data type issue.

[2022-06-28 14:45] ethanhou-MSFT opened #95002 "How to define the guest configuration non-compliant reason in DSC"
Hi,

Our team will develop bunch of guest configuration policies for the ISV to monitor the compliance status of Azure Virtual Machines. We used DSC Script resource to check the settings of the VMs, however, in the Guest Assignment the non-compliance reason doesn't make sense to the users. Could you please tell me how to define the non-compliance reason in the DSC script or in the Guest Configurat

[2022-06-28 14:56] madsd commented on #94319
Thank you for reporting it Bill. The doc update has been published.

#please-close

[2022-06-28 14:57] kabharati commented on #89993
The docs states that "This role does not have full superuser permissions." and it means that it has some permissions like nobypassrls. Hope this helps. Let me know if you need anything else i will go ahead and close this,.

[2022-06-28 15:00] HariKrishnaRajoli-MT opened #95005 ""Omnisharp Json Rpc exception" While debugging the Azure Functions PowerShell language HTTP Trigger"
Created the Azure Function PowerShell Http Trigger in the VS Code.
Running the function is successful but debugger is not hitting and throwing the exception of `Omnisharp Json Rpc`.

Attaching the SO Thread: https://stackoverflow.com/q/72634272/16630138
And Raised ticket in Generic Tags like [Omnisharp-vscode](https://github.com/OmniSharp/omnisharp-vscode/issues/5279) and [azure-functions-core-too

[2022-06-28 15:02] jb185t opened #95006 "Need example on how the parameter definition is used during deployment"
Hi;

I'd like to in this document, how the template definition file is being used during deployment. Where should I define the parameter values that will replace the default value. How the file is related with pipeline variable and variable group in release pipeline? An example covering from parameter definition to actual replacement would be helpful a lot.

Thanks,

Joonbum Byun

[Enter feedback

[2022-06-28 15:05] kabharati commented on #89993
#please-open

[2022-06-28 15:08] kabharati commented on #89993
Adding clarification : Single Server does not have full super user permissions but it does have some permissions that allows you to run the command successfully.

[2022-06-28 15:09] kabharati commented on #89993
#please-close

[2022-06-28 15:09] #89993 closed

[2022-06-28 15:12] kabharati commented on #94404
Documentation is updated. Closing this now.

[2022-06-28 15:12] kabharati commented on #94404
#please-close

[2022-06-28 15:12] #94404 closed

[2022-06-28 15:16] HeidiSteen commented on #94851
@kspoojary  Here's a recent thread on Stack Overflow with a similar question:  https://stackoverflow.com/questions/72631683/connect-to-azure-search-service-using-azure-vpn-client

I don't think we have a doc issue here, as I believe the docs are correct.  I'm going to close this issue accordingly, but if you have a suggestion for the docs, please feel free to reopen.  Thanks for posting.

#please-

[2022-06-28 15:16] #94851 closed

[2022-06-28 15:17] akhudairymicrosoft opened #95007 "Need to add note on Eventhub supported tiers for this feature"
For WAD on windows VMs the Eventhub need to be at least of Standard Tier. If it is on Basic tier it will not work.

This is related to cases we had from customers, please reach out to me on Teams akhudairy for more details if needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46949091-eb35-bada-dede-0aaaf7cc432c
*

[2022-06-28 15:22] Borgquite opened #95008 "Script will not show status due to missing EndTime and Exception"
This script:

`$CompilationJob = Start-AzAutomationDscCompilationJob -ResourceGroupName 'MyResourceGroup' -AutomationAccountName 'MyAutomationAccount' -ConfigurationName 'SampleConfig'

while($null -eq $CompilationJob.EndTime -and $null -eq $CompilationJob.Exception)
{
    $CompilationJob = $CompilationJob | Get-AzAutomationDscCompilationJob
    Start-Sleep -Seconds 3
}

$CompilationJob | Get-AzAu

[2022-06-28 15:22] lucabovo commented on #85498
Hi all, any news about this feature?
Is support for UDP in Container Apps in roadmap?
Thanks a lot

[2022-06-28 15:40] madsd commented on #91245
@stutommi Hi Tommi, thank you for reporting this. With programmatically, do you mean CLI? CLI can only work in the context of one subscription, and part of the CLI command is verifying that the service endpoint is correctly configured on the subnet. If the subnet is in another subscription, you can specify the --ignore-missing-endpoint, which should allow you to add a subnet from another subscript

[2022-06-28 15:41] bandersmsft commented on #94813
https://github.com/MicrosoftDocs/azure-docs-pr/pull/203105

@Chris-Wright-MS Per our offline discussion, retitled the article **Link a partner ID to your account that’s used to manage customers**

#sign-off

[2022-06-28 15:41] t3mi opened #95009 "Misleading export of metrics for Microsoft.App/containerapps"
ContainerApps doesn't export metrics via diagnostic settings while docs mention it should.
https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftappcontainerapps

The error is
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f496941-f125-1671-5de7-66438e68043f
* Version Indepe

[2022-06-28 15:41] #94813 closed

[2022-06-28 15:45] madsd commented on #94975
@francisx1222 can you elaborate on what you mean by centralized page. Is it a page in the documentation or ?

DNS for ASE can be used very much like private link. You can have one zone per ASE or one zone for multiple ASEs, or you can specify the DNS records in your custom DNS. Ultimately, you could also just use hosts files or hostname override in App Gateway, and you would not even need a DNS re

[2022-06-28 15:57] JimacoMS4 commented on #94680
Hi @frozen-oranges - I've reached out to the product team for clarification on this property. I should hear back soon and will pass along their answer. Thanks for your patience.

-Jimaco

[2022-06-28 16:19] bwren commented on #94918
#reassign:GuyWi

[2022-06-28 16:19] PRMerger4 commented on #94918
The following users don't have valid GitHub IDs, or are not collaborators on this repo: guywi

[2022-06-28 16:21] bwren commented on #94918
#reassign:@guywi

[2022-06-28 16:21] PRMerger9 commented on #94918
The following users don't have valid GitHub IDs, or are not collaborators on this repo: guywi

[2022-06-28 16:28] #94278 closed

[2022-06-28 16:33] bwren commented on #94918
#reassign: guywi-ms

[2022-06-28 16:33] anujb-msft opened #95012 "Run vs Add Code Quickstart Identity Code"
In this section:

https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/access-tokens?pivots=programming-language-javascript#set-up-the-app-framework

Step 1 indicates the developer should, "In the project directory, run the following code:"

Should only have one step that directs the developer to:

"Create a file named issue-access-token.js in the project directory and add the

[2022-06-28 16:34] andyjballgit commented on #94819
++ send me a message if you want details / case number / real life impact of this confustion

[2022-06-28 16:40] tamram commented on #92915
#reassign: @khdownie

[2022-06-28 16:41] boris-tarasov-maersk opened #95013 "taks hub name in multistage setup for function apps"
After adding staging environment staging environment shows following warning:

`Microsoft.Azure.WebJobs.Extensions.DurableTask: Task Hub name must be specified in host.json when using slots. Specified name must not equal the default HubName (apsazewdadmiralstacksfunctions).See documentation on Task Hubs for information on how to set this: https://docs.microsoft.com/azure/azure-functions/durable/du

[2022-06-28 16:49] johnsharp1975 commented on #93552
I ran into this problem a few minutes ago. It would seem that the problem is the bit you're looking for is now disabled by default. You have to turn it on and then you'll see the server key.

https://documentation.onesignal.com/docs/generate-a-google-server-api-key

[2022-06-28 16:50] mattneerincx opened #95014 "Missing Stop-azsqlelasticpoolactivity in list of possible operations for managing elastic pools"
[Enter feedback here]
Missing a link to stop-azsqlelasticpoolactivity (see https://docs.microsoft.com/en-us/powershell/module/az.sql/stop-azsqlelasticpoolactivity?view=azps-8.0.0) in this document (I see Get but not Stop)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41293ab-2af9-c6c8-0a15-9690460d1449
* Version Inde

[2022-06-28 16:53] jlian commented on #94968
I'm trying to do `https://static-string-*.centralus.1.azurestaticapps.net/.auth/login/aad/callback` - for Azure Static Web App's pull request preview environment feature, specifically the [pull request kind](https://docs.microsoft.com/en-us/azure/static-web-apps/review-publish-pull-requests#review-changes)

[2022-06-28 17:16] seanralexander opened #95016 "Azure AD identities belonging to the same Azure AD tenant"
[code]

Can the below scenario be clarified:

- I have a Tenant A
- I invite a Guest User from Tenant B into Tenant A
- I assign the Data Plane RBAC Role for Contributor for this User

**Can I assign Data Plane RBAC Roles to this Guest User?**

**If yes:**
- Ok, Great.

**If no:**

- Is there a work around, such as adding that user to a Group?

I'm getting mixed results.

Testing:

[code]

The res

[2022-06-28 17:21] #90330 closed

[2022-06-28 17:22] #94261 closed

[2022-06-28 17:22] stutommi commented on #91245
Hi @madsd and thanks for asking! Some time has passed and I'm not 100% sure what was the exact context, but by programmically I was either referring to Terraform or bicep, most likely to bicep.

[2022-06-28 17:25] Fojonx opened #95017 "Update code examples to reflect MSAL over ADAL library use"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 004c9f09-ba18-c5ff-43bc-b44d9e0ee809
* Version Independent ID: b3c686a6-8ab3-8480-293b-a6f0100e06d0
* Content: [Authentication - Microsoft Threat Modeling Tool - Azure](https://docs.microsoft.com/en-us/azure/security/develop/threat-modeling-tool-authe

[2022-06-28 17:29] Karishma-Tiwari-MSFT commented on #94758
@[jpwalters1](https://github.com/jpwalters1) Thanks for the confirmation.

I reached to the product team and they confirmed that the availability announcement of DCasv5/ECasv5 in East US region is in the roadmap in the next couple of months.

They would like to hear more from you about your usage and feedback of Azure confidential VM (CVM). Do you mind sharing more on your requirements and plans o

[2022-06-28 17:30] cvviswa7 opened #95018 "Scale being limited to 16 in Databricks DECIMAL SQL Notebook."
[Enter feedback here]
Scale being limited to 16 in Databricks DECIMAL SQL Notebook. Even though we create a table with columns having the scale and precision to be 38,38; after inserting the data into it as below, we see that the scale is limited to 16 in the notebook, and precision is being rounded off. This only happens with DBR 7.5 and below.

%sql
/*insert data: expected output should be with

[2022-06-28 17:35] cgillum commented on #95013
@boris-tarasov-maersk thanks for the feedback. I've created a PR in the private Azure documentation repo which will add more information about deployment slots in the task hubs article you referenced.

To answer your question: each staging slot behaves like a separate function app. Each staging slot therefore must be configured with a unique task hub name. We ask that you use explicit names and no

[2022-06-28 17:47] b-ahibbard commented on #94908
@VikasPullagura-MSFT - Thanks for your comment. The corresponding ANF page has been updated
#please-close

[2022-06-28 18:01] #95013 closed

[2022-06-28 18:06] TheUniquePaulSmith opened #95021 "Missing details surrounding Task Scheduler task workplace join being disabled"
If dsregcmd fails, the Task Scheduler service for Workplace Join seems to get disabled [reference](https://social.technet.microsoft.com/Forums/en-US/2d1be103-dac8-462f-9c5b-fba23e33b0b9/automaticdevicejoin-task-is-getting-disabled-automatically?forum=microsoftintuneprod).

**What if anything re-enables it if the source problem is fixed?** The scheduled task needs to be re-enabled for dsregcmd and

[2022-06-28 18:15] ericd-mst-github commented on #94855
Hello,

I apologize for the confusion earlier. I have verified with our product team and the fix has currently deployed to Canary and West Central US. For the overall global deployment, we are still expecting by end of week.

Please let us know if there are still issues when deploying to Canary and West Central US.

[2022-06-28 18:16] jenniehubbardDB commented on #94531
Thank you for reporting this. We will get this fixed!

[2022-06-28 18:21] whhender commented on #94946
@KyferEz - Thanks for the feedback! I'll add that information here as well.

Sources that require Java to be installed on an SHIR machine also have this listed as a prerequisite on their source page.

Was there any source in particular you were using that you needed this information for but were unable to find it here?

[2022-06-28 18:29] timoklimmer opened #95022 "--default-action parameter not recognized"
I am trying to set the default network access rule to Deny via Azure CLI as described in the article. When running the command, it says that the --default-action parameter is an unrecognized argument. How can I by default deny network access using the CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46701fde-2216-84

[2022-06-28 18:31] JamesTran-MSFT commented on #95017
@Fojonx
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-28 18:41] mike-urnun-msft commented on #94989
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-28 18:43] mike-urnun-msft commented on #94992
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-28 18:45] KyferEz commented on #94946
This was Parquet format. The primary trouble is that when researching why
my Schema was not showing in Purview, using terms purview parquet in
Google. Also the source page, which I didn't know to look for, was never a
result option nor was it linked on either of the 2 pages that did come up.
Also neither of those pages mentioned Java though they did mention other
caveats that occur when scanning p

[2022-06-28 18:51] KranthiPakala-MSFT commented on #94986
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

Hi @nabhishek - Could you please have a look at the above feedback from customer and help enhance the document as needed. Thank you

@jonburchel - FYI

[2022-06-28 18:52] KranthiPakala-MSFT commented on #95006
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-28 19:01] ChaitanyaNaykodi-MSFT commented on #94976
Thank you for your feedback! We will review and update as appropriate.

[2022-06-28 19:02] AndrewDownumMentis opened #95025 "Incorrect example for retry calculation"
[Enter feedback here]
delay = retryAfter.Date.Value.Offset; doesn’t seem right. Isn’t that going to just be the timezone offset of the current clock (-7h for us)?  You would want (retryAfter.Date.Value – DateTimeOffset.Now).TotalMilliseconds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a551d57-4985-a00a-1b40-21b06a6

[2022-06-28 19:12] himanshusinha-msft commented on #94740
Since we have not heard back from you , I am going ahead and closing this issue now .If can always open the issue if you want to.

[2022-06-28 19:12] #94740 closed

[2022-06-28 19:16] whhender commented on #94946
@KyferEz -

Genuinely, this is really helpful. Thank you!
I've added a note to the supported source types page that mentions Java is needed when using the SHIR and Parquet files.

That will go out this afternoon. I'll also make a note to do a parquet review to see how else we can clarify/improve our documentation for parquet requirements.

I'm also working on an overhaul of the FAQ page, and I'll

[2022-06-28 19:18] whhender commented on #94946
Reach out anytime!

Since I've updated this document, I'll close out this issue, but know that I'll still be looking into our design. Thanks for the feedback!

#please-close

[2022-06-28 19:25] mansohrstrom opened #95027 "Azure Table on Azure Automation"
Hi,

We're trying to perform Azure Table data operations from Azure Automation. Currently using Powershell 7.1 and have installed module AzTable. The following works:

[code]

But when trying a data operation such as

[code]

We end up with exceptions such as

MethodInvocationException: C:\ModulesV2\User\AzTable\AzureRmStorageTableCoreHelper.psm1:266
Line |
 266 |  …      return ($Table.Execute([M

[2022-06-28 19:44] ss-proc opened #95028 "secretRef is invalid"
This is incorrect and it does NOT work:
[code]
It must be all lowercase `secretref:` per https://docs.microsoft.com/en-us/cli/azure/containerapp?view=azure-cli-latest&preserve-view=true#az-containerapp-create-optional-parameters=
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 735a0e03-0632-feb7-8787-e62118809072

[2022-06-28 19:47] atikmapari commented on #94992
Hi @mike-urnun-msft - I am not author of this article, I believe article author @axisc will be able to assist you.

[2022-06-28 19:55] safari137 opened #95029 "Dapr version release"
Is there any expected cadence of Dapr releases?

For example, Dapr 1.7.4 is available, but Azure Container Apps uses 1.7.3.  Dapr 1.8.0 (estimated to be released very soon) offers many fixes and the resiliency feature.  How long will it take for that to become available in ACR?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-06-28 19:56] jerfcero opened #95030 "IoTHub high availability zones"
[Enter feedback here]

Hello, the high availability zones in the documentation are correct. for the iot hub East US2 does not have high availability?

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr
https://azure.microsoft.com/en-us/global-infrastructure/services/?products=iot-hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-06-28 20:06] boris-tarasov-maersk commented on #95013
Thanks for quick response. Looking forward learning more about it.

I wonder if it is OK to ask a follow up question here. If all staging slots and main slot should act as a separate apps do that means that by using different hub names, we will separate "state" of the app for durable functions?
I would imagine that this could impact testing. There is no requirement to have a separate backend datab

[2022-06-28 20:11] ss-proc opened #95031 "SecretRef is incorrect"
In the docs is incorrect and it does NOT work:
[code]

It must be all lowercase `secretref:` per https://docs.microsoft.com/en-us/cli/azure/containerapp?view=azure-cli-latest&preserve-view=true#az-containerapp-create-optional-parameters=
[code]

TL;DR: Replace **secretRef:** with **secretref:**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-28 20:14] boris-tarasov-maersk commented on #95013
@cgillum
could you give me a hint on how to use Azure app Configuration blade,  Application Settings to specify Hub name per slot.
![image](https://user-images.githubusercontent.com/75432520/176276315-d9e2d507-7cf4-4878-bd03-a514a9190573.png)

[2022-06-28 20:14] cgillum commented on #95013
Yes, this would result in completely separate state. The idea is that you could use your staging slot for test data and your production slot for real, production data.

Yes, this is correct.

You can go either way. App Settings are recommended from an ops perspective mainly because it allows you to take advantage of things like [slot-sticky settings](https://docs.microsoft.com/azure/azure-function

[2022-06-28 20:16] mrbullwinkle commented on #85956
Closing this issue out as it has been addressed.

[2022-06-28 20:16] mrbullwinkle commented on #85956
#please-close

[2022-06-28 20:16] #85956 closed

[2022-06-28 20:16] cgillum commented on #95013
Take a look at this deployment slot documentation, which I linked to in my previous response (https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#create-a-deployment-setting). This will show you how to create a slot-specific app setting.

![image](https://user-images.githubusercontent.com/2704139/176276766-e0326105-e3d0-48b3-b8da-38cc5d61c404.png)

[2022-06-28 20:18] RyanHill-MSFT commented on #94995
Thanks for the point this out, we'll update that doc to reflect this.

[2022-06-28 20:23] boris-tarasov-maersk commented on #95013
My question was not about how to setup slot setting but rather what is "Name" value that is accepted as valid key for hubname.

[2022-06-28 20:24] mrbullwinkle commented on #93323
@jeffmend, I am going to close out this issue, as the general policy for GitHub Issues against the docs repo is to try to limit creation to customers since we track SLA's around issue response/resolution and for MSFT internal update requests to when possible be tracked in Azure DevOps. I realize this reduces visibility to customers, but it currently remains the preferred method.

[2022-06-28 20:24] mrbullwinkle commented on #93323
#please-close

[2022-06-28 20:24] #93323 closed

[2022-06-28 20:24] hits-leaven commented on #94973
The page link https://docs.microsoft.com/en-us/azure/templates/microsoft.network/privateendpoints?tabs=json#customdnsconfigpropertiesformat

[2022-06-28 20:29] tejaswikolli-web commented on #94548
Made changes to the doc.

[2022-06-28 20:30] tejaswikolli-web commented on #94548
#please-close

[2022-06-28 20:30] #94548 closed

[2022-06-28 20:30] tejaswikolli-web commented on #94548
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-skus

[2022-06-28 20:30] Blackmist commented on #93697
The image in this article has now been updated. Thanks again for reporting it @StefanCronjaeger !

#please-close

[2022-06-28 20:30] #93697 closed

[2022-06-28 20:34] hhunter-ms commented on #95029
Hi @safari137 - We are working on a clear cadence for releases. In the meantime, we're planning to make Dapr 1.8 available in Container Apps soon. I will add this to our backlog and will update the documentation accordingly!

[2022-06-28 20:37] #94995 closed

[2022-06-28 20:44] WilliamDAssafMSFT commented on #70720
#reassign:williamdassafmsft

Good input @aodugga. We'll close this issue now and address in the docs in the future as appropriate. We'll contact you if we need further information. Thanks again for this feedback, your suggestions help improve our documentation.

#please-close

[2022-06-28 20:44] PRMerger4 commented on #70720
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2022-06-28 21:07] ThomasWeiss commented on #95016
@seanralexander I'm afraid this won't work as the AAD token for the guest user is still issued by tenant B, and the first thing we do is to check whether the token issuing authority and the Cosmos DB tenant match. And for this reason, using a group won't work either.
Feel free to log this ask on our [request tracking page](https://feedback.azure.com/d365community/forum/3002b3be-0d25-ec11-b6e6-000d

[2022-06-28 21:09] seanralexander commented on #95016
@ThomasWeiss Thank you! I will use have them use a service principal.

[2022-06-28 21:10] cgillum commented on #95013
@boris-tarasov-maersk you can use any name. Just be sure that the name matches the expression in host.json. For example, `TASK_HUB_NAME` is a perfectly good name for the app setting. In host.json, you could then set the `hubName` property to `%TASK_HUB_NAME%`.

[2022-06-28 21:14] ggailey777 commented on #93917
I verified that `npm run build` is working and I've merged @mike-urnun-msft's fix. Sorry for the delay here.

[2022-06-28 21:16] #95016 closed

[2022-06-28 21:22] ggailey777 commented on #94858
Thanks @adgustaf it looks like we missed a bit of content that should have been included for Go/Rust. The linked PR fixes this.

[2022-06-28 21:28] ggailey777 commented on #94216
You can't yet create a C# function app that runs in isolated process in the Azure portal. You must instead use something like [the Azure CLI](https://docs.microsoft.com/azure/azure-functions/create-first-function-cli-csharp?tabs=azure-cli%2Cisolated-process#create-supporting-azure-resources-for-your-function). [Visual Studio Code](https://docs.microsoft.com/azure/azure-functions/create-first-funct

[2022-06-28 21:30] #94216 closed

[2022-06-28 21:30] ChaitanyaNaykodi-MSFT commented on #94999
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-28 21:31] mike-urnun-msft commented on #94992
@spelluru - can you help with this one?

[2022-06-28 21:31] #94858 closed

[2022-06-28 22:29] robertiansweetman commented on #93937
I think I may have stumbled onto the root cause of my frustration which (if true) is a shocking oversight given that I have probably made > 80 attempts to get this option (using a User assigned managed identity and a remote backend) to work.

[See this issue](https://github.com/hashicorp/terraform-provider-azurerm/issues/16501) which strongly suggests that it's actually impossible to authenticate

[2022-06-28 22:45] cwatson-cat commented on #94050
This was fixed by @pritamso 15 days ago.
Thanks for reporting the issue @dneto82!

[2022-06-28 22:45] #94050 closed

[2022-06-28 23:16] JasonWHowell commented on #91912
#please-close

[2022-06-28 23:16] #91912 closed

[2022-06-28 23:17] JasonWHowell commented on #86304
#please-close

[2022-06-28 23:17] #86304 closed

[2022-06-28 23:17] JasonWHowell commented on #77473
#please-close

[2022-06-28 23:17] #77473 closed

[2022-06-28 23:22] JasonWHowell commented on #93307
@brucenelson6655 yes showing an Amazon video in Microsoft Docs was a mistake, and has been removed. Thanks for pointing it out.
CC: @JennieHubbard
#please-close

[2022-06-28 23:22] #93307 closed

[2022-06-28 23:27] JasonWHowell commented on #94977
@b-cgronlund This is a TOC issue that is an easy fix.

[2022-06-28 23:35] bwren commented on #93889
I'm creating a work item for that. We're most likely going to move the ARM samples for diagnostic settings to our monitoring articles for the different services. It's difficult to add more than few sample ones here.

#please-close

[2022-06-28 23:35] #93889 closed

[2022-06-28 23:36] mike-urnun-msft commented on #94677
Hello @shubhanshu02 - There's no upper limit for the `maxEventBatchSize` setting and it's specific to a single invocation only. For scaling behavior and fine-tuning, please review the following comments which may be insightful:

- https://github.com/Azure/azure-sdk-for-net/issues/28634#issuecomment-1128907009
- https://github.com/Azure/azure-functions-host/issues/8395#issuecomment-1156913555

Sinc

[2022-06-28 23:36] #94677 closed

[2022-06-28 23:42] mike-urnun-msft commented on #94687
Hello @LucidoKeith - Could you try out the following and open a new thread on MS Q&A instead if the problem persists?

- https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-backend-health-troubleshooting#backend-certificate-invalid-common-name-cn

Since this repo is for driving improvements towards MS Docs & we didn't determine any changes to this documentation upon revi

[2022-06-28 23:42] #94687 closed

[2022-06-28 23:48] cebundy commented on #94598
@spadeki It appears that the first issue may be a cli issue.  Please feel free to open a product issue at https://github.com/microsoft/azure-container-apps.
Your second issue seems to be due to the differences between your app and the example provided in the article.  I am investigating this issue and will get back to you.

[2022-06-28 23:52] mike-urnun-msft commented on #94770
Hello @centraal-f - This doc seems to have undergone a restructure, and the Next Steps section at the bottom has the following:

As such, the client app registration and its corresponding steps are now in separate documentation: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2

Since we didn't determine any changes to this documentation upon reviewing this feedback

[2022-06-28 23:52] #94770 closed

[2022-06-28 23:58] mike-urnun-msft commented on #94849
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-06-28 23:58] #94849 closed

[2022-06-29 00:22] danielithomas opened #95036 "Feedback items"
Hi Team,

Some feedback items:
1. Steps need to be updated for .Net 6
2. Suggest a link to the corresponding AzureAD guide (and visa versa)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cf702a6-5194-45a9-efdf-2bb3aa88e13c
* Version Independent ID: ada38a95-c2de-3486-bd77-ab691dba3888
* Content: [Enable authentication

[2022-06-29 00:24] kobulloc-MSFT commented on #94808
@rifaterdemsahin Thank you again for reaching out to us!  I've made a recommendation to update the documentation and this conversation will be visible for anyone else who may have the same question.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-29 00:24] #94808 closed

[2022-06-29 00:33] Vignesh-Microsoft opened #95037 "Please add cacerts to the list."
[Enter feedback here]

Please add cacerts to the https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes#will-this-change-affect-me section as per the redis cache documentation, since this needs to be trusted as well.

https://techcommunity.microsoft.com/t5/azure-developer-community-blog/azure-cache-for-redis-tls-upcoming-migration-to-digicert-global/ba-p/3171086
---
#

[2022-06-29 00:37] mundayn opened #95038 "Expand on: Threat detections: OS level, network layer, control plane"
Hi,

According to the table, Defender for Servers Plan 2 has "Threat detections: OS level, network layer, control plane", but Defender for Servers Plan 1 does not.

Can this section being expanded upon please? I'm slightly confused on what this means.

Are we saying that Plan 1 does not include OS level threat protection?

If I go to Environment Settings > Defender Plans > Servers > Change Plan

W

[2022-06-29 00:38] #94758 closed

[2022-06-29 01:04] AshokPeddakotla-MSFT commented on #95030
@jerfcero Thanks for the feedback! Adding author and MSE @kgremban to evaluate and update the doc as appropriate.

[2022-06-29 01:25] JasonWHowell commented on #56828
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://portal.azure.com/?#b

[2022-06-29 01:25] #56828 closed

[2022-06-29 01:25] JasonWHowell commented on #94717
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question: https://portal.azure.com/?#b

[2022-06-29 01:25] #94717 closed

[2022-06-29 01:31] JasonWHowell commented on #69933
#please-close

[2022-06-29 01:31] #69933 closed

[2022-06-29 01:36] JasonWHowell commented on #54564
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:

For community support:
- Mi

[2022-06-29 01:36] #54564 closed

[2022-06-29 01:37] JasonWHowell commented on #69202
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:

For community support:
- Mi

[2022-06-29 01:37] #69202 closed

[2022-06-29 01:44] JasonWHowell commented on #73520
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. Though the scope of our feedback channel here on GitHub covers specific documentation fixes, we can help redirect you to the right support channel to get an answer to your question:

There are some developments

[2022-06-29 01:44] #73520 closed

[2022-06-29 01:46] JasonWHowell commented on #82590
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response.

There are some recent developments for how to add permissions programmatically:

https://docs.microsoft.com/azure/databricks/dev-tools/terraform/
https://docs.microsoft.com/azure/databricks/dev-tools/api/lates

[2022-06-29 01:46] JasonWHowell commented on #82590
#please-close

[2022-06-29 01:46] #82590 closed

[2022-06-29 01:48] JasonWHowell commented on #78352
The page now includes information that explains the rationale behind the practice:

Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine

[2022-06-29 01:48] #78352 closed

[2022-06-29 01:50] JasonWHowell commented on #93694
More specifically, for Azure Databricks community support:
- Microsoft Q&A https://docs.microsoft.com/en-us/answers/questions/topics/single/25409.html
- Stack Overflow https://stackoverflow.com/questions/tagged/azure-databricks

For technical support:
- https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade/

[2022-06-29 01:53] JasonWHowell commented on #70881
@leifbro this connector is still missing in the Azure docs. Its listed in the overview page here, but no details
https://docs.microsoft.com/en-us/azure/databricks/integrations/

[2022-06-29 01:58] JasonWHowell commented on #68630
I see a few examples now for Java/Python/Scala, so hoping that this gap was resolved over the past year.

For example: https://docs.microsoft.com/azure/databricks/dev-tools/databricks-connect#java

#please-close

[2022-06-29 01:58] #68630 closed

[2022-06-29 02:34] AnuragSharma-MSFT commented on #95014
@mattneerincx Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-06-29 02:44] AshokPeddakotla-MSFT commented on #95002
@ethanhou-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-29 02:45] AshokPeddakotla-MSFT commented on #95007
@akhudairymicrosoft Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-29 02:46] AshokPeddakotla-MSFT commented on #95008
@Borgquite Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-29 02:57] arvindshmicrosoft commented on #95014
@AnuragSharma-MSFT, @mattneerincx is part of our team (MS Internal). I will own this feedback and work with him to figure out the right change(s).

[2022-06-29 03:55] shwetamathur7 commented on #95036
@danielithomas Thanks for your feedback. We will investigate and update the thread.

[2022-06-29 03:55] ramuvr commented on #94579
We have a hub and spoke as per the caf aligned [reference architecture](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/landing-zone/) so the spokes are existing vNets.
The PrivateEndpoint subnet and subnet where function is vnet integrated are on the same existing vNet. There is an NSG on the subnet where function is integrated, but has tcp/443 open all across. There is also

[2022-06-29 03:58] akezyt opened #95039 "The document indicated (or at least seemed to indicate) that downloading from target VM to local computer is not supported. However, when we tried to download, we could download files. Maybe documentation needs update?"
The document indicated (or at least seemed to indicate) that downloading from target VM to local computer is not supported. However, when we tried to download with the following command, we could download files. Maybe it is a new feature and documentation needs update?

`scp -r -P <LocalMachinePort>  <username>@127.0.0.1:<target VM file path> <local machine file path>`

**Section of document indic

[2022-06-29 04:01] AjayKumar-MSFT commented on #95012
@anujb-msft,  Thanks for the feedback! We have raised a PR and shared the feedback with the author for a review.

[2022-06-29 04:31] KrishnaG-MSFT commented on #95009
@t3mi Thanks for your comment! We will review and provide an update as appropriate.

[2022-06-29 04:38] AshokPeddakotla-MSFT commented on #95031
@ss-proc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-29 04:42] pnarsi opened #95040 "SSIS-IR to ADF Management via Private Endpoint"
Is the outbound route from SSIS-IR to ADF Management supported to route via the ADF private endpoint (assuming one is enabled for out ADF instance). It is not clear from this page or the [ADF private endpoint page](https://docs.microsoft.com/en-us/azure/data-factory/data-factory-private-link#secure-communication-between-customer-networks-and-data-factory) if this traffic from SSIS-IR to ADF Manage

[2022-06-29 04:52] #94879 closed

[2022-06-29 04:56] Ananda-Gedela commented on #94914
@AshokPeddakotla-MSFT @shashishailaj- Any ET when can we get this info?

[2022-06-29 05:07] swinarko commented on #95040
Only traffic from self-hosted IR (SHIR) is routed through ADF private endpoint, but not outbound traffic from SSIS IR for now, so we'll consider supporting it in the future.

[2022-06-29 06:10] Ananda-Gedela opened #95043 "Is Azure AD Module versions will or willn't be supported after deprecation?"
As mentioned in this
https://techcommunity.microsoft.com/t5/microsoft-entra-azure-ad-blog/azure-ad-change-management-simplified/ba-p/2967456
Azure Ad module is going to be deprecated, this means all the versions of azure module aren't supported or there would be no updates on the Azure AD module but we can still use the older version?

[2022-06-29 06:44] ajomathew opened #95044 "Deploy global parameters using PowerShell - With PublicnetworkAccess Flag"
The script has to be modified to apply PublicNetworkAccess flag of ADF.
When running this script against an ADF with publicnetwork access restricted - in my case via policy - the script fails. I have modified the script as shown below to work in my environment.

Set-AzDataFactoryV2 -InputObject $dataFactory -Force `-PublicNetworkAccess $dataFactory.PublicNetworkAccess`

[code]

---
#### Document D

[2022-06-29 06:45] AshokPeddakotla-MSFT commented on #95028
It's a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/95031
Hence closing this issue.

[2022-06-29 06:45] #95028 closed

[2022-06-29 06:48] kobulloc-MSFT commented on #94874
@tnewton1 While there doesn't appear to be a way to update the delete option parameters outside of the initial settings with [`az vm create`](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create) (nothing is listed in the other `az vm` commands like `az vm delete` or `az vm update`), you are able to create a backup and swap the OS disk using Azure CLI:

- [Change the OS

[2022-06-29 06:54] shwetamathur7 commented on #94809
Closing the thread as there is no response from customer. If you have any queries, feel free to tag me. I will reopen the issue to discuss further.

[2022-06-29 06:54] #94809 closed

[2022-06-29 06:55] mmoser-adrianv opened #95045 "Custom Authorisation with Graph API"
Is there already an example that works with Microsoft Graph API? There are a lot of case where AAD might be intimidating for the end user. Using Graph API I feel will be better for the end user as they are already familiar with the authorisation screen from using office.com. I was trying to figure out if I can do the approach using the custom approach but I am getting confused as to what I should

[2022-06-29 07:31] SumanthMarigowda commented on #95027
@mansohrstrom Thanks for your question. We are checking on this and will respond to you soon.

[2022-06-29 07:42] Qianfulong opened #95048 "Checkbox described in documentatio not visible any longer"
**Connect to Microsoft 365 Defender** --> Bullet point number 3: "To avoid duplication of incidents, it is recommended to mark the check box labeled Turn off all Microsoft incident creation rules for these products." obviously is not up-to-date, since the checkbox cannot be found in the product any longer.

![image](https://user-images.githubusercontent.com/6871003/176380410-79f30b8a-ea6d-4ca3-9b8

[2022-06-29 08:14] ajomathew commented on #94912
@tw3lveparsecs

https://github.com/MicrosoftDocs/azure-docs/issues/95044
Kindly checkout above link. This is how I got the script to work with private endpoint.

[2022-06-29 08:14] boris-tarasov-maersk commented on #95013
@cgillum
Thanks for the hint.

If I add host.json with reference to let's say %TASK_HUB_NAME%.
Does that mean I have to define TASK_HUB_NAME for production slot as well?

We do have a lot of apps already running so I wish to make it backwards compatible.

Can you confirm that, for production slot name of the app is used by stripping all characters except alphanumerical
so, if I want to make it bac

[2022-06-29 08:15] lenwebel opened #95050 "Authentication scheme Bearer is not supported in this version - Please include the API version we should be using."
## Missing instructions.
I was using this page to try and set a Bearer token for `https://storage.azure.com` resource through APIM for a managed identity and was receiving the following error
`Authentication scheme Bearer is not supported in this version.`

## Sections affected
[Use managed identity and set header manually](https://docs.microsoft.com/en-au/azure/api-management/api-management-authe

[2022-06-29 08:43] joergrenn opened #95052 "Licensing for Users with separate Admin Accounts"
﻿﻿In the section "Licenses you must have" you first write "Employees" and then "Users".
﻿﻿In our tenant admins have separate Admin and User accounts for separation of concerns. And I think a lot of other customers have that too.
﻿﻿Can you please give a clear statement if licensing is per "Employee" aka per human or per User Account?
﻿﻿Is it OK or not, if one person has more than one user account i

[2022-06-29 09:00] AnuragSharma-MSFT commented on #95014
@arvindshmicrosoft Thanks for letting me know, I have changed the ownership of the issue.

[2022-06-29 09:04] shashishailaj commented on #95052
@joergrenn Thank you for your inputs . We will investigate and update the thread.

[2022-06-29 09:06] zephoon opened #95053 "Azure Function App"
[Enter feedback here]
Does the Azure Function App still support the Azure Repos as a version control tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID: 1c375649-94d6-863a-203b-cb5ed5e4044e
* Content: [Continuous deployment for Azure Functions](https://doc

[2022-06-29 09:14] HariKrishna598 opened #95054 "Published .NET 6 Isolated Azure Function Project to .NET 6 Function App but showing the .NET 5 related message in Function Menu of Azure Function App Portal"
When I created the Azure Function App which is .NET 6 Isolated version both in local (VS 2022) and Azure Portal and published the same but showing .NET 5 related message in the Functions Menu.
Message:

[code]

Steps to reproduce:

1. Created .NET 6 Isolated Azure Functions HTTP Trigger in Visual Studio (default code in HTTP Trigger)
2. Build and Published to .NET 6 Azure Function App created in t

[2022-06-29 09:17] ShaikMaheer-MSFT commented on #95044
@ajomathew Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-29 09:18] shashishailaj commented on #94914
@Ananda-Gedela We are trying to check internally however cannot provide an ETA on this at this point . The Graph powershell cmdlets do not have exact parity in all cases. Hence we are checking this and will update our findings by this week .

[2022-06-29 09:27] chrizl opened #95055 "az ad app create --password no longer works"
Running the supplied powershell script in the Azure Cloud Shell throws an error at this line:
  $clientId = az ad app create --password $AADAppClientSecret --end-date "$AADAppClientSecretExpiration" --display-name $AADAppDisplayName --identifier-uris $AADAppIdentifierUri --query "appId" -o tsv

Because the --password parameter is no longer supported

---
#### Document Details

⚠ *Do not edit this

[2022-06-29 09:28] adibiton opened #95056 "Missing resource group flag in arm deployment command"
The instructions for deploying arm template from the cli are missing the -g flag (resource group):
az deployment group create \
  --name storageRG \
  --template-file "c:\Templates\storage.json"

should be:

az deployment group create \
  --name storageRG \
  -g templateSpecRG \
  --template-file "c:\Templates\storage.json"

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-06-29 09:46] colhountech opened #95057 "remove-the-user_impersonation-scope"
https://docs.microsoft.com/en-us/azure/healthcare-apis/register-application-cli-rest#remove-the-user_impersonation-scope

In my portal, this no longer shows a default scope defined by this Endpoint, so this section may now be obsolete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b38cbb3-a70a-4869-2f37-ca2c9ca7e3d8

[2022-06-29 09:50] sormita opened #95058 "How to choose premium plan when hosting Azure Function in AKS?"
The use case in our project requires the Azure Function to run for a very long time, in this article it is not clear how to select Premium plan when deploying the function in AKS so that it does not timeout. Please help understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Ve

[2022-06-29 09:53] #94866 closed

[2022-06-29 10:11] joergrenn opened #95059 "Assign eligibility for privileged access group to group members"
When doing an eligible assignment for a PAG I can select users and also security groups.
What happens when I select another security group to be eligible?

<img width="1014" alt="image" src="https://user-images.githubusercontent.com/62641471/176410984-29e94312-317b-4b42-8a31-76d93b169334.png">
What I would like to achieve is to make individual members of a security group eligible for the PAG (to u

[2022-06-29 10:23] madsd commented on #91245
Hi @stutommi - sorry for the long delay in answering. Not very deep in Terraform, but it should work with bicep/ARM, where you just specify the subnet resource id in the ipSecurityRestrictions property using the vnetSubnetResourceId instead of ipAddress. If you later recall the full context, or have further questions feel free to reopen the issue or open a new issue - you can just at-mention me fo

[2022-06-29 10:23] #91245 closed

[2022-06-29 10:25] shessane commented on #92179
externalTrafficPolicy=Local seems to be mandatory for AKS >1.22 and ingress-nginx/ingress-nginx >4.1.3.

References : kubernetes/ingress-nginx#8501 and Azure/AKS#2903

[2022-06-29 10:59] petrsvihlik commented on #95012
@AjayKumar-MSFT what's the related PR's ID/link please?

[2022-06-29 11:17] raffaeler opened #95060 ".NET not supported by OpenAI?"
I expected to see at least C# since GitHub CoPilot does support it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25c15e01-3578-c4ae-afbc-32c7172173d0
* Version Independent ID: 0d20fad8-0e13-2d85-64e5-31861fabdcdd
* Content: [Azure OpenAI Engines - Azure OpenAI](https://docs.microsoft.com/en-us/azure/cognitive-service

[2022-06-29 11:36] Logan-V opened #95061 "Unable to add multiple subscriptions in the alert processing rule"
Hi,

We have gone through the Alert processing rule and would like to apply it on our Azure environment. We have around 15+ subscriptions and not able to add all subscriptions in single policy. Can someone guide me how to do the same. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 529411e8-efc3-73e3-14f4-d00

[2022-06-29 11:42] fRanK45jPm commented on #94565
Hello, any updates on this please?

[2022-06-29 11:48] #95027 closed

[2022-06-29 11:51] SumanthMarigowda commented on #94871
@brenmelo22 I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-06-29 11:51] #94871 closed

[2022-06-29 11:58] AshokPeddakotla-MSFT commented on #95037
@VigneshB-AzurePaaS Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-29 12:02] AshokPeddakotla-MSFT commented on #95038
@mundayn Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-29 12:10] mansohrstrom commented on #95027
Makes sense. Opened here: https://docs.microsoft.com/en-us/answers/questions/907927/azure-table-on-azure-automation.html

[2022-06-29 12:11] AshokPeddakotla-MSFT commented on #95043
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the ask, it seems like generic query and not a doc feedback.

Hence, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverf

[2022-06-29 12:39] painkillerpk commented on #94884
Hi @mike-urnun-msft
Can you please help me with the issue?

[2022-06-29 12:42] Ananda-Gedela commented on #95043
@AshokPeddakotla-MSFT Thanks, had raised this on Microsoft forum https://docs.microsoft.com/en-us/answers/questions/907976/is-azure-ad-module-versions-will-or-willn39t-be-su.html

[2022-06-29 12:44] #95043 closed

[2022-06-29 12:56] RohitMungi-MSFT commented on #95055
@chrizl Thanks for spotting this. Yes, this parameter is not supported now as per [reference](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-create). You can create the app without this parameter and try to create a new secret from portal after the app is created to be copied in the .env file in the next document to [launch the immersive reader](https://docs.micr

[2022-06-29 13:10] ahmed-shah0906 opened #95062 "Please add steps to disable default profiling for container app service on Azure portal if possible"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31d8edaa-caac-7361-56fb-eb412e2dcc7c
* Version Independent ID: f341239f-f871-c37a-412c-ede76279692a
* Content: [Profile Azure Containers with Application Insights Profiler - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/profiler/

[2022-06-29 13:19] Shoplift3020 opened #95063 "Make this work"
https://github.com/Shoplift3020/Shoplift3020/blob/main/.github/workflows/azure.yml#L24

[2022-06-29 13:32] #94939 closed

[2022-06-29 13:36] ElazarK commented on #95038
#reassign:bmansheim

[2022-06-29 13:37] AnuragSharma-MSFT commented on #95057
@colhountech Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-06-29 13:42] boris-tarasov-maersk opened #95065 "how to define hub name using Application Settings in Azure portal"
Is there a possibility to define hub name using Application Settings of Azure function app?

Here is what I did:

Application settings

[code]
host.json file

[code]

but staging slot still reports that hub name is not defined

Can someone suggest how to define hub name using app settings or point out what I am doing wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2022-06-29 14:01] bluenote10 opened #95068 "Azure functions CLI tutorial incomplete: missing a pip install?"
Following the Azure function CLI tutorial literally results in an `ModuleNotFoundError: No module named 'azure.functions'` in the [Run the function locally]()https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#run-the-function-locally) step.

It looks like it is missing the obvious `pip install azure-functions` at the end of the v

[2022-06-29 14:13] #94891 closed

[2022-06-29 14:27] SwathiDhanwada-MSFT commented on #95062
@ahmed-shah0906 Thanks for your feedback.

Assigning to content author @hhunter-ms  for review.

[2022-06-29 14:27] shashishailaj commented on #95063
@Shoplift3020 Thank you for opening a new issue on the azure-docs repo. We use this repo for collecting feedback on azure documentation. I understand you are creating a yaml file . Could you please provide more info on the azure documentation you followed and we will see how we can help you further ?

[2022-06-29 14:49] EmFl commented on #21504
@yairt1974 Sorry to barge in more than 2 years later but it looks like that transparent proxy is still in place today as testing open ports via telnet still give a connected status on 80 and 443 where curl calls are failing.
Do you know if this new implementation is tracked somewhere so that we can follow progress ? Or is there a documentation which explicitly mentions this "limitation" so that I

[2022-06-29 14:58] JamesTran-MSFT commented on #95059
@joergrenn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-29 15:22] #95029 closed

[2022-06-29 15:23] tamram commented on #94955
#reassign: @tamram

[2022-06-29 15:24] spelluru commented on #94992
https://github.com/MicrosoftDocs/azure-docs/pull/94998 is merged now. Thanks.

The updated article will go live in a couple of hours.

#please-close

[2022-06-29 15:31] mcat97 opened #95069 "Zylo Documentation for Azure AD SSO has incorrect information."
The details for what should go into "Identity Provider Issuer" is incorrect and should not be:
`d. In the Identity Provider Issuer textbox, paste the Entity ID value which you have copied from the Azure portal.`

Instead it should be:
`d. In the Identity Provider Issuer textbox, paste the Application ID value which you have copied from the Azure overview portal.`

Please update this ASAP, as users

[2022-06-29 15:44] #94884 closed

[2022-06-29 15:49] JamesTran-MSFT commented on #95069
@mcat97
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-29 16:08] mikaelweave commented on #94778
Got it - thanks for the update @gravlindon. Are you still having the issue? If not, can we close this issue? 😃

[2022-06-29 16:19] YutongTie-MSFT commented on #94811
Thanks for the feedback again, I will reach out the content author to make the change.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-06-29 16:19] #94811 closed

[2022-06-29 16:36] christianb7 opened #95070 "Policy Violation error code"
In the "Server Busy exception" section of the document, I see that there is a point

"If produce request's delay exceeds request timeout, Event Hubs returns Policy Violation error code" I am not able to understand what this is saying. Are you able to expand on the explanation please?  Is it also reffering to a kafka setting such as [delivery.timeout.ms](https://docs.confluent.io/platform/current/i

[2022-06-29 16:42] utsavkale1 opened #95071 "Poral Screens needs to be updated in "Azure portal steps" Section for firewall and networking"
[In the Azure portal steps section I can see the portal view (UI) is old in screenshots for Azure SQL Server level firewall setup and v-net integration. The new section name under security is category is networking and not the Firewalls and virtual networks]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd7329ad-a69f-

[2022-06-29 16:42] mike-urnun-msft commented on #95050
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 16:44] mike-urnun-msft commented on #95053
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 16:46] mike-urnun-msft commented on #95054
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 16:48] kwickramasekara opened #95072 "Incorrect variable name"
Section: [AFD Rule set supported variables](https://docs.microsoft.com/en-us/azure/frontdoor/rule-set-server-variables#supported-variables) > `url_path`

Incorrect context: `uri_path` value will be `/article.aspx`

Corrected context: `url_path` value will be `/article.aspx`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-06-29 16:50] ChaitanyaNaykodi-MSFT commented on #95039
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-29 16:55] utsavkale opened #95073 "Portal Screens needs to be updated in "Azure portal steps" Section for firewall and networking"
In the Azure portal steps section I can see the portal view (UI) is old in screenshots for Azure SQL Server level firewall setup and v-net integration. The new section name under security is category is networking and not the Firewalls and virtual networks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fb04913-fc1b-30

[2022-06-29 16:55] VidyaKukke commented on #94989
@Roberto Cervantes ***@***.***>, @Javier ***@***.***>, @Sreedhar ***@***.***>

Needed help to resolve this. Thanks!

From: Mike Urnun ***@***.***>
Sent: Tuesday, June 28, 2022 11:42 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Vidya Kukke ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Mention of Premium tier should be removed (Issue #94989)

Thank you for your feedba

[2022-06-29 16:56] #95071 closed

[2022-06-29 16:56] utsavkale1 commented on #95071
Duplicate

[2022-06-29 17:13] PriyankaRudramaina commented on #94588
@marceloscharan,

I have discussed this with concerned team, the product is aware of some of those missing entries and are working towards it. Please note this list is auto-generated.

Thanks again for surfacing this document issue. We value your feedback.

[2022-06-29 17:13] #94588 closed

[2022-06-29 17:21] MarileeTurscak-MSFT commented on #94767
Hi @Gigabytez , please create a new issue detailing the issue with the cmdlets on Windows Server 2012 R2, and we will gladly assist you.

[2022-06-29 17:21] #94767 closed

[2022-06-29 17:30] shashankbarsin commented on #94737
The doc has now been updated to include instructions on manually creating service account token

[2022-06-29 17:35] #94455 closed

[2022-06-29 17:36] nickludwig commented on #93819
Closing as per above message

[2022-06-29 17:36] nickludwig commented on #93819
#please-close

[2022-06-29 17:36] #93819 closed

[2022-06-29 17:41] duongau commented on #95072
#reassign:duongau

[2022-06-29 17:42] duongau commented on #95072
Hello @kwickramasekara, thank you for catching that typo. I made a request to get that changed and it should reflect later today. Thank you! #please-close

PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/203323

[2022-06-29 17:49] ge-gao opened #95078 "Private link from gateway to AKS"
There is actually one more option, which we’re using – the gateway sits in own vnet before aks vnet, which has private subnets only. All API requests must go through the gateway and be forwarded to aks backend via private link. Each aks service can expose itself via a k8s LoadBalancer resource type, which is supported by aks annotation OOTB. With this approach, the apim and aks networks are loosel

[2022-06-29 17:51] Dekard opened #95079 "Add section regarding PCI/Network compliance testing - false positives"
For Network Considerations - Support gets many cases regarding Compliance scanners that only scan at the Network layer and will fail due to the TLS 1.0, 1.1 showing at the Network layer - I understand this is vaguely written out in this section but can we make a specific call out here that it is expected that a Compliance scanner at the network layer should show these TLS versions as it's at the p

[2022-06-29 18:01] PriyankaRudramaina commented on #94281
@saurabhvartak1982

Thanks for the feedback! I have reviewed this and yes, you don’t need the extension since this feature is GA, you need the latest version of the CLI.

@zr-msft,
Can we get this detailed in the document if there are any upcoming updates being done?

[2022-06-29 18:01] #94281 closed

[2022-06-29 18:15] adamkimsft opened #95080 "Table says pkce but sample uses client credentials"
[Enter feedback here]

Desktop -> .NET ->

• [Call Microsoft Graph with daemon console](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/tree/master/1-Call-MSGraph)
• [Call web API with daemon console](https://github.com/Azure-Samples/active-directory-dotnetcore-daemon-v2/blob/master/2-Call-OwnApi/README.md)

says Auth flow it uses is Authorization code with PKCE but both sam

[2022-06-29 18:22] mmacy commented on #95080
@adamkimsft Good spot. Those samples are also in the wrong table - they should be in the [Service / Daemon](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#service--daemon) table.

Will fix - thanks!

#reassign:mmacy
#label:usability-accuracy

[2022-06-29 18:22] PRMerger19 commented on #95080
Are you trying to add/remove a custom label? The syntax for that is `#label:"your label"`.

[2022-06-29 18:27] PriyankaRudramaina commented on #93623
@E-RELevant,

I have tested this command and it works for me.
This is not a document issue, this channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you create a thread on the forums- MSDN / Stack Overflow

You could also create a support case with azure technical support team to investigate this issue. If you don't have the ability to open

[2022-06-29 18:27] #93623 closed

[2022-06-29 18:33] bkuliqi opened #95081 "Unable to deploy AKS with Proxy feature using Terraform"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-06-29 18:45] bkuliqi commented on #95081
Issue: Terraform throws an error when deploying AKS with Proxy configuration

Error: creating Cluster: (Managed Cluster Name "" / Resource Group ""): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="HTTPProxyTrustedCAPEMDecodeFailure" Message="failed to decode HTTPProxyConfig.TrustedCA to PEM after base64 decoding."
│
│   with

[2022-06-29 18:46] coolhome opened #95083 "`.md` typo?"
`Review the [Key Vault security overview](https://docs.microsoft.com/en-us/azure/key-vault/general/security-features) .md)`

![image](https://user-images.githubusercontent.com/700740/176512593-8976c4f0-7efb-4e65-b389-3495b90b02bb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ca8b0a3-4a48-1516-0fd9-da790a4ea716
*

[2022-06-29 18:55] happy-prince-153 opened #95085 "Databricks Azure Synapse connector fails to capture exception in preActions/PostActions"
We are trying to make use of the preActions and postActions options of Databricks Azure Synapse connector which fails to catch exception.

Following code is expected to fail -

[code]

We are using a DBR 10.4 LTS high concurrency cluster.

Screenshot for reference -
![image](https://user-images.githubusercontent.com/108428626/176514025-ff883b75-ad7b-477e-8baa-ba7a9d9f9dac.png)

Please review and l

[2022-06-29 18:55] #93328 closed

[2022-06-29 19:00] scottstout commented on #94548
The portal UI (during creation) also says "During preview, availability zone enablement can not be changed."

[2022-06-29 19:07] PriyankaRudramaina commented on #93320
@carmencrincoli,

The PS reference has been added to the document

$TOKEN = ([System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String((kubectl get secret demo-user-secret -o jsonpath='{$.data.token}'))))

![image](https://user-images.githubusercontent.com/95755055/176516466-9e5a9ffe-4a14-4dda-89ab-9afdf40e7763.png)

[2022-06-29 19:09] E-RELevant commented on #93623
Thank you, @PriyankaRudramaina.
As I am unable to create a technical support ticket, what steps can I take to check this issue?

[2022-06-29 19:15] ChaitanyaNaykodi-MSFT commented on #94868
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-29 19:32] #94989 closed

[2022-06-29 20:06] ChaitanyaNaykodi-MSFT commented on #89505
Hello @KyleLJohnson, apologies for the delayed response here. The documentation has been updated with the requested content. We will now proceed to close this issue out. Thank you for the feedback.

[2022-06-29 20:06] #89505 closed

[2022-06-29 20:12] ChaitanyaNaykodi-MSFT commented on #95045
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 20:13] ChaitanyaNaykodi-MSFT commented on #95048
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-29 20:25] KranthiPakala-MSFT commented on #95070
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-06-29 20:27] KranthiPakala-MSFT commented on #95085
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-06-29 20:33] #71618 closed

[2022-06-29 20:43] tamram commented on #94955
@MNF - RequireEncryption mode is available only for version 11.x and earlier of the Blob Storage SDK. Version 11.x and all previous versions are deprecated. We recommend updating your applications to version 12.x.

We'll soon be updating this article to remove the version 11.x examples. Recently there was a security vulnerability discovered in client-side encryption (read more [here](https://techc

[2022-06-29 20:50] #94971 closed

[2022-06-29 20:51] ChrisRomp opened #95091 "Misspelling of "appliance""
The word `appliance` is misspelled as `applicance` in the purple "Note" section regarding traffic routing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [Connect to a virtual network using Azure API Managemen

[2022-06-29 20:52] JamesTran-MSFT commented on #95059
@joergrenn
Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) b

[2022-06-29 20:54] JamesTran-MSFT commented on #95025
@AndrewDownumMentis

[2022-06-29 21:03] Dekard commented on #95079
Specifically information similar to the TSG we are using.

Azure Storage is a multi-tenant service with a commitment to backwards compatibility. We provide strong controls for storage accounts to opt-in to TLS 1.2 enforcement, which does not support legacy cipher suites such as TLS_RSA_WITH_3DES_EDE_CBC_SHA.

While we encourage all applications to enable TLS 1.2 enforcement, there are a large numb

[2022-06-29 21:04] dzsquared commented on #94297
#please-close

[2022-06-29 21:04] #94297 closed

[2022-06-29 21:07] vmhenard opened #95092 "Monitored Object Contributor not listed"
Hello,

The Monitoring Object Contributor role (56be40e24db14ccf93c37e44c597135b) mentioned in https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-windows-client is not listed documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99581afb-7950-6daa-7227-055d04446b7e
* Version Indep

[2022-06-29 21:32] spelluru commented on #95070
@kasun04 - could you please review and respond when you get a chance? Thanks!

[2022-06-29 21:34] JamesTran-MSFT commented on #95092
@vmhenard
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-29 21:59] dzsquared commented on #93581
Apologies for the delay on this one, I've got a PR out now to add a note about this to the docs.

To reduce the SQL injection risk in these bindings the parameters used in the bindings are used as SqlClient parameters - https://github.com/Azure/azure-functions-sql-extension/blob/a093996b9c0badcb7d37597bbd2f3ec0aec1f9c8/src/SqlBindingUtilities.cs#L59.

[2022-06-29 22:04] ChaitanyaNaykodi-MSFT commented on #95058
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 22:09] ChaitanyaNaykodi-MSFT commented on #95065
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 22:21] mike-urnun-msft commented on #95078
Thank you for your feedback! We will review and update as appropriate.

[2022-06-29 22:30] xtianus79 commented on #94264
@James-Hamil-MSFT no it just reverts it back to the container order.

[2022-06-29 22:31] rolyon commented on #94988
Hi @Oppedijk
Thanks for your feedback. I sent it to the team. They weren't completely sure about your comment.
Can you be more specific about the steps you followed and the issue you ran into so that they can try to reproduce?
thanks

[2022-06-29 22:45] #93457 closed

[2022-06-29 22:53] arifgani commented on #94382
changes done
#please-close

[2022-06-29 22:53] #94382 closed

[2022-06-29 22:54] rosemcc opened #95095 "Instructions to create Front Door resource are out of date"
The [Add Azure Front Door](https://docs.microsoft.com/en-us/azure/static-web-apps/front-door-manual#add-azure-front-door) section is a bit out of date with the portal UI. Might be better to link to the [quickstart](https://docs.microsoft.com/en-us/azure/frontdoor/create-front-door-portal) in the Front Door docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-06-29 22:57] tamram commented on #95079
#reassign: @jimmart-dev

[2022-06-29 23:24] JasonWHowell commented on #69314
#assign-label:please-close

[2022-06-29 23:25] JasonWHowell commented on #69314
#label:"please-close"

[2022-06-30 00:08] cherylmc commented on #63484
#please-close

[2022-06-30 00:08] #63484 closed

[2022-06-30 00:21] gigabit-jack opened #95096 "CompareClaims 'ignoreCase' is type string, not boolean"
In the section [CompareClaims](https://docs.microsoft.com/en-us/azure/active-directory-b2c/string-transformations#compareclaims), the table incorrectly states that "ignoreCase" is a type of boolean. If you try that you get 500 error.

Switch it to string like every other instance where "ignoreCase" is used and the error goes away.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-06-30 00:29] pnarsi commented on #95040
Okay thanks - probably worth adding this information to the page as well?

[2022-06-30 01:10] tamram commented on #94955
#please-close

[2022-06-30 01:10] #94955 closed

[2022-06-30 01:12] larsbuch opened #95100 "Reservation should also mention premiumv3 not only isolated"
Reservation should also mention premiumv3 not only isolated

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: 165c2d28-7339-690e-0f98-338654a93273
* Version Independent ID: b4e4a007-dc04-cc99-7932-0a192bcb8f85
* Content: [Save for Azure App Service with reserved capacity](https://docs.microsoft.com/da-dk/azu

[2022-06-30 01:15] MarileeTurscak-MSFT commented on #95096
@gigabit-jack
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-30 01:16] MarileeTurscak-MSFT commented on #95096
Thanks! I made a pull request to make the table and the sample match the rest of the article with the DataType as string.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/203421

CC @kengaderdus

[2022-06-30 01:16] #95096 closed

[2022-06-30 01:41] norman-v opened #95101 "Not seeing the documented built-in roles"
Im trying to provide data plane access to cosmos db for a managed identity (synapse).

I'm not seeing the following built-in roles documented on this page: Cosmos DB Built-in Data Reader, Cosmos DB Built-in Data Contributor

I do see some control plane permissions: Cosmos DB Account Reader Role, Cosmos DB Operator, etc - none of which, as I have tried, provides the data access to make the connecti

[2022-06-30 01:58] YoshikaSuzuki opened #95102 "Please update japanese page"
Please reflect the following corrections on the Japanese page as well. We have received multiple inquiries from Japanese customers.
https://github.com/MicrosoftDocs/azure-docs/issues/94140#issuecomment-1157164146

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent I

[2022-06-30 02:25] cro27 commented on #94891
#sign-off

[2022-06-30 02:28] bkuliqi commented on #95081
Ok, thanks @ChaitanyaNaykodi-MSFT.

[2022-06-30 02:45] shwetamathur7 commented on #95102
@YoshikaSuzuki Thanks for your feedback. We will investigate and update the thread.

[2022-06-30 03:24] siwibowo opened #95104 "Azure built-in Policy for Backup"
My customer is using Azure Policy built-in policy: Configure backup on virtual machines with a given tag to an existing recovery services vault in the same location.
They are using "Windows-10 Enterprise" image from Azure (choosing from portal). The policy does not pick up the VM with designated tag. They created support request and support engineer suggested to delete filter on ImageOfferType. Th

[2022-06-30 03:25] PriyankaRudramaina commented on #93623
@E-RELevant,

You can send an email with your Subscription ID and link to this thread to AzCommunity@microsoft.com with subject line as "ATTN: Priyanka". I can then enable your subscription for one-time free support.

[2022-06-30 03:27] francisx1222 commented on #94975
@madsd

Thank you for your reply.

It is confusing for us to add a DNS ZONE that is not belong to our own control.
That is why we need a webpage to explain all ASE realteive ZONE are belong to Microsoft Azure.

Thank you
Francis Chang

[2022-06-30 03:43] sormita commented on #95058
Can you please provide a comprehensive answer in this issue as well? We need it for architecture design in our project.

[2022-06-30 03:47] ConnorXuHe opened #95106 "Feedback about problem"
[Enter feedback here]

Run the following command to grant yourself the Storage Blob Data Owner on the storage account. This level of access will allow you to perform both read and write operations in 3D Scenes Studio. The command contains placeholders for the email associated with your Azure account and the ID of your storage account that you copied in the previous step.

az role assignment create

[2022-06-30 03:58] whhender commented on #92239
@ajdabrowski -

This is confirmed!

The word 'comma' is incorrect in the UI, but the symbol shown ; is correct. Semicolon ‘;’ is used to separate value for the importing csv file.

We are working on updating this experience in general so you'll see more changes in future. In the meantime-- thanks for your feedback! Genuinely, it's very much appreciated.

Since we have confirmation and will be upda

[2022-06-30 03:58] whhender commented on #92239
#please-close

[2022-06-30 03:58] #92239 closed

[2022-06-30 04:16] AjayKumar-MSFT commented on #95095
@rosemcc,  Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-30 04:42] SwathiDhanwada-MSFT commented on #95104
@siwibowo Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-30 04:58] AshokPeddakotla-MSFT commented on #95071
@utsavkale1 Thanks for raising the issue. I see that you have closed as duplicate. Do Let us know if you have any further queries or feedback.

[2022-06-30 04:59] #94931 closed

[2022-06-30 05:38] AshokPeddakotla-MSFT commented on #95106
@ConnorXuHe Could you please share more details on the problem you are seeing? What is the exact error message?

[2022-06-30 05:41] kobulloc-MSFT commented on #94874
@tnewton1 If you would like to explore more CLI options for your script, please reach out to us on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html)!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-06-30 05:41] #94874 closed

[2022-06-30 06:18] GeethaThatipatri-MSFT commented on #95101
Hi @norman-v Thanks for your findings,We will investigate and update as appropriate

[2022-06-30 06:29] AnuragSingh-MSFT commented on #94819
@andyjballgit, additional details for Rule Limit has been added and it should start reflecting after the next publish.

Regarding your query for "total size of rules within a single Rule Collection Group", I have reached out for clarification and will update you as soon as I have some additional information. Apologies for the inconvenience.

[2022-06-30 06:44] aviita opened #95108 "Document validation state meaning on front door custom domains"
There is no hint anywhere in front door docs on what the *Validation State* means and especially what does this *Failed* state mean.

![image](https://user-images.githubusercontent.com/661722/176609182-7b7d6592-5fa3-48cd-bde7-95aafcbd60fd.png)

There seems to be [another issue with bicep](https://github.com/Azure/bicep/issues/7340) getting the custom domain mappings kept as we are using custom dom

[2022-06-30 06:49] KrishnaG-MSFT commented on #94878
@mimachniak We have verified and updated the document as required. Thanks.

[2022-06-30 06:49] #94878 closed

[2022-06-30 06:50] bmansheim commented on #95038
Hi @mundayn . I'm checking with the PMs and I'll get back to you.

[2022-06-30 06:50] AnuragSingh-MSFT commented on #94880
@jayinoz99, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-06-30 06:50] #94880 closed

[2022-06-30 06:54] joergrenn commented on #95059
Hello @JamesTran-MSFT
the docs are supposed to describe the feature, right?
I my opinion the description is missing if its possible to assign eligibility for membership of a PAG to a group and what happens if you do that.
If its not possible or doesn't work thats also a statement.

[2022-06-30 06:58] madsd commented on #94975
Taken offline #please-close

[2022-06-30 06:58] #94975 closed

[2022-06-30 07:05] Oppedijk commented on #94988
Start with a user (in Department A) with several permanent Global Roles:
* User Admin
* Exchange Admin

Create Administrative unit
* Add all users of Department A (including admin)
* Add admin as eligible Teams Admin

Observe that now the admin cannot perform any actions on Global Level anymore (e.g. modify exchange distribution list)

Delete the Administrative unit

Observe that the user is no lo

[2022-06-30 07:20] andyjballgit commented on #94819
thx again for your dilligence on this, much appreciated.  I was just reviewing below doc in light of recent events , and notice it actually mentions Ports as a multiplier -  ie unique source IPs * Unique Dest Ips * Ports ?!

Do not exceed 10k network rules, and make sure you use IP Groups. When creating network rules, remember that for each rule, Azure actually multiples **Ports** x IP Addresses,

[2022-06-30 07:24] crgarcia12 opened #95109 "Where is the Microsoft Azure SDK"
My browser tricked me - please close the case

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure Storage Emulator for development and testing (deprecated)](https://docs.microsoft.com/en-us/azure/sto

[2022-06-30 07:25] #95109 closed

[2022-06-30 07:30] jayinoz99 commented on #94880
Thanks very much for looking in to this, much appreciated
    On Thursday, 30 June 2022 at 07:50:59 BST, Anurag Singh ***@***.***> wrote:

@jayinoz99, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

—
Reply to this email direc

[2022-06-30 07:30] richard-artes opened #95110 "small English mistake"
"3. If the needed, update the value of URL expires in"

This is not English. Maybe "If required" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4daf704c-11bc-45d4-2172-79df07d3c853
* Version Independent ID: 8ef4acac-d2f4-332d-73ba-dbbbeaa04e65
* Content: [Download a Linux VHD from Azure - Azure Virtual Machines](http

[2022-06-30 07:49] #95012 closed

[2022-06-30 08:08] kamilzzz commented on #90819
Still not available.
I think this issue should be reopened.

[2022-06-30 08:20] LeMaciek opened #95111 "Update to recommended yaml approach"
Please update instructions and code to use yaml pipelines (deployment jobs, as this is the equivalent for releases.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b2d75a-07c4-75b6-32d3-6e7dd78683f7
* Version Independent ID: 57d29c39-e05f-b95d-de80-d81686935fc0
* Content: [Continuous integration and delivery pre- and

[2022-06-30 08:21] tanves opened #95112 "Command no longer supported for validating current OAuth settings"
Command "Get-CsOAuthConfiguration" provided in one of the steps for checking the current settings is coming back with an error:

Get-CsOAuthConfiguration : This cmdlet is no longer supported, please consult public documentation
At line:1 char:1
+ Get-CsOAuthConfiguration
+ ~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (:) [Write-Error], WriteErrorException
    + FullyQualifi

[2022-06-30 08:22] LeMaciek opened #95113 "Update to recommended yaml version"
Please update instructions and code to use yaml pipelines (deployment jobs, as this is the equivalent for releases.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d185ba52-7285-4ba3-abd8-06a76ee8f6dc
* Version Independent ID: 6cbe707a-5031-2b63-e950-ea5456d58bb4
* Content: [Automate continuous integration - Azure Data

[2022-06-30 08:26] kamilzzz opened #95114 "Managed certificate renewal for apex domain"
I would like to confirm that Azure Front Door will correctly renew managed certificate for apex domain, when Azure DNS is used and alias record is pointing to Front Door endpoint.

Documentation says:

This specifically mention CNAME record. Do it work with ALIAS record? As this is the only way to map apex/root domain to AFD.

My concern is, that even Azure Portal in my AFD's domains, in the DNS S

[2022-06-30 08:28] #95110 closed

[2022-06-30 08:35] saminnes opened #95115 "Enterprise requirement for replica sets (i.e. regional redundancy)"
Regarding Replica sets, the statement is as follows:

**The default SKU for a managed domain is the Enterprise SKU, which supports multiple replica sets. To create additional replica sets if you changed to the Standard SKU, [upgrade the managed domain](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/change-sku) to Enterprise or Premium.**

This is confusing, and seems to be

[2022-06-30 08:38] ConnorXuHe commented on #95106
------------------&nbsp;Original&nbsp;------------------
From: ***@***.***&gt;;
Send time:&nbsp;Thursday, Jun 30, 2022 1:38 PM
***@***.***&gt;;
***@***.***&gt;; ***@***.***&gt;;
Subject: &nbsp;Re: [MicrosoftDocs/azure-docs] Feedback about problem (Issue #95106)

@ConnorXuHe Could you please share more details on the problem you are seeing? What is the exact error message?

—
Reply to this email di

[2022-06-30 08:40] saminnes commented on #95115
Sorry there was a mistake in my previous comment, the Skus Standard/Enterprise/Premium are the correct skus, not basic

[2022-06-30 09:11] ezYakaEagle442 opened #95119 "Renaming plan with Azure Spring Apps"
at [https://docs.microsoft.com/en-us/azure/spring-cloud/quickstart-deploy-infrastructure-vnet-bicep?tabs=azure-spring-apps-standard#prerequisites](https://docs.microsoft.com/en-us/azure/spring-cloud/quickstart-deploy-infrastructure-vnet-bicep?tabs=azure-spring-apps-standard#prerequisites) the snippet below should updated accordingly with the new service name Azure Spring Apps:
[code]

also in the

[2022-06-30 09:14] CHEEKATLAPRADEEP-MSFT commented on #95111
@LeMaciek  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-30 09:15] CHEEKATLAPRADEEP-MSFT commented on #95113
Duplicate of #95111

[2022-06-30 09:15] #95113 closed

[2022-06-30 09:18] SwathiDhanwada-MSFT commented on #95100
@larsbuch Can you please elaborate on what you mean by reservations should also mention Premium V3 instances ? I see the article has information documented about it.

[2022-06-30 09:30] maxmanus96 opened #95120 "Invalid Billing Endpoint URI."
Hello,

We requested MS container usage for Speech to text. Container already downloaded. We have the Speech service API as well with the billing endpoint URI however we can't run the container. I also created cognitive services and used that API to run the container but had no luck.

AVX2 supported on the VM.

I setup container referencing [here](https://docs.microsoft.com/en-us/azure/cognitive-s

[2022-06-30 09:52] SreejaBhattacharya-MSFT commented on #94590
I have updated the document with the necessary command changes. Closing out this issue. Thanks.

[2022-06-30 10:07] bobe999 opened #95121 "Out-of-date documents"
The latest documents on this site are from 2018. Do you have more recent versions with the latest features?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf932d2b-85bc-5ce6-3126-541ecaafae54
* Version Independent ID: d76cf077-e72a-acf0-e60d-05580a636245
* Content: [Solutions and Training for Azur

[2022-06-30 10:11] hits-leaven commented on #94973
Hi guys - any thoughts /updates re my query ???

[2022-06-30 10:20] cawighton commented on #90819
See:
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-how-to-onboard-apex-domain?pivots=front-door-standard-premium

Follow step by step, especially when validating  domains

[2022-06-30 10:48] AnuragSingh-MSFT commented on #95002
@ethanhou-MSFT, The error as mentioned in the screenshot is related to running the get script as:
`Cannot find Path "HKEY_LOCAL_MACHINE\..."`

Note that at this point, the **compliance state** is not defined (_neither compliant nor non-compliant_). In this example, the Test script failed to get the compliance state hence it could not be identified. I would suggest using `try{} catch{}` blocks in t

[2022-06-30 10:54] Jas0n0ss opened #95122 "azure arc-enabled sqlmi instance password and user login failure"
- My environment:
All container image are use tag: `v1.8.0_2022-06-14`
[code]

- issue:

1. when I use the `username` and `password` to connect to sqlmi instance, it will failed
[code]
3. I have doubts as well, when I use `Powershel` and `linux command` to encode `username` and `password` it show different encoded results, which one we can use for `password` and `username`?
[code]
[code]

---
####

[2022-06-30 10:54] SreejaBhattacharya-MSFT commented on #94258
@ameetkonnur I am not able to repro this issue at my end.
I am not able to reproduce the error at my end. Can you use Azure cli instead and see if you are facing the same error?

This is not a document issue, this channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you create a thread on the forums- [Microsoft Q&A platform](https://docs.mic

[2022-06-30 10:54] #94258 closed

[2022-06-30 11:00] davidgeary commented on #93239
Also, the next step after creating the firewall is updating it, but doesn't specify any parameters to be updated, so appears to be a redundant step:
[code]
Presumably there's something missing here, but there's no information about what it may be.

[2022-06-30 11:24] kevin-george-ul commented on #87405
Unfortunately, the issue has been closed without really updating documentation.

I will save you a lot of time, to let you know that if you need to make a POST and use the response BODY, that's not possible.

You can upvote this feedback/bug/Idea
https://feedback.azure.com/d365community/idea/188df145-1cd2-ec11-a81b-6045bd7ac9f9

[2022-06-30 11:56] shwetamathur7 commented on #94968
@jlian Wildcards are allowed in redirect URI to sign in with work or school accounts. A wildcard ‘*’ should represents a valid tokens sequence and jointed by specific flag ‘.’ or ‘/’.

Belows examples are accepted as valid URLs:
https://static-string-/*centralus.1.azurestaticapps.net/.auth/login/aad/callback
https://static-string-/.*/centralus.1.azurestaticapps.net/.auth/login/aad/callback

[2022-06-30 12:02] ntrogh commented on #92827
@skeeler we've updated the docs to mention the deprecation warning and point to OIDC instructions. The updates should be published later today. Thanks a lot for your feedback!

[2022-06-30 12:03] #92827 closed

[2022-06-30 12:05] ExpendaBubble opened #95123 "Missing LXP ISO link"
Missing: Windows 10, version 2004 or later 06C 2022 LXP ISO
As documented here: https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/language-packs-known-issue?view=windows-10#adding-local-experience-packs-lxps-in-windows-10-version-2004-and-later-versions-known-issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-06-30 12:09] kamilzzz commented on #90819
@cawighton you're right. That works from the AFD side. However, from the Azure DNS side, Front Door Standard/Premium profiles aren't listed.

[2022-06-30 12:20] MartinDemberger opened #95124 "What's the current way to install the Fabric SDK now that WebPI is retired?"
On the page there is a hint that WebPI will be retired tomorrow. But there is no way described to install it after 7/1/2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independent ID: bb904115-2166-6871-6347-0941dbb32d2a
* Content: [Set up a Windows development environ

[2022-06-30 12:21] SwathiDhanwada-MSFT commented on #95007
@akhudairymicrosoft Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-06-30 12:23] SwathiDhanwada-MSFT commented on #95008
@Borgquite Thanks for your feedback.

Assigning to content author @SnehaSudhirG  for review.

[2022-06-30 12:32] SreejaBhattacharya-MSFT commented on #95123
@ExpendaBubble Thanks for the feedback. We will review this and update the document accordingly.

[2022-06-30 12:59] giacomelli commented on #37274
For those who are trying the blob storage solution, you need to put the below block **at the beginning** of `ConfigureServices`:
[code]

[2022-06-30 13:00] eyankzz opened #95126 "Error invoking az command to set the default ACR"
C:\Users\---->az config set defaults.acr=<registry-name>
az: 'config' is not in the 'az' command group. See 'az --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview

The most similar choice to 'config' is:
        configure

C:\Us

[2022-06-30 13:04] eyankzz opened #95127 "Error while logging into the ACR"
Error while logging into the ACR created after following the tutorial. Currently stuck at this point, kindly help.
In case this tutorial is outdated one, kindly guide me to the latest tutorial on this topic.

C:\Users\---->az acr login --name <registry-name>
An error occurred: DOCKER_COMMAND_ERROR
error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.40/containers/json: open //./pipe/

[2022-06-30 13:11] RohitMungi-MSFT commented on #95120
@maxmanus96 Is your request to use the container approved? If the request is not approved, you will not be able to run the container. Please refer the details in this section for more information.

If your request is approved then please ensure your billing endpoint is of following format along with the key as copied from azure portal.

`https://<resource_name>.cognitiveservices.azure.com/`

Ex. r

[2022-06-30 13:27] maxmanus96 commented on #95120
Hello,

Thank you very much. I was giving Billing={Endpoint} format. True format is Billing=Endpoint without {}.  Same for API Key too.

[2022-06-30 13:36] jamesmcroft opened #95130 "Links are broken for Azure App Service Bicep samples"
The links to the GitHub repo for the Azure App Service Bicep samples do not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e67354d-2cc4-69a7-ae0d-5ba62dd99fc3
* Version Independent ID: cd003e39-1359-e3a0-c7c8-ebf21c0f50c2
* Content: [Bicep samples - Azure App Service](https://docs.microsoft.com/en-us/azure/app-s

[2022-06-30 13:48] VikasPullagura-MSFT commented on #94081
@tysonfms Thanks for sharing the details.

[2022-06-30 13:48] VikasPullagura-MSFT commented on #94081
@DanielHRio
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-06-30 13:48] #94081 closed

[2022-06-30 14:23] ubamrein opened #95133 "SubjectConfirmationData Recipient always uses default"
After long hours of browsing, I could not find any reference to how one can specify the `Recipient` of the `SubjectConfirmationData` within the Saml-Assertion generated.

Our use case involves transforming a JWT-Bearer Token from Azure to a valid SAML-Assertion, which we can use to retrieve an access-token on an SAP endpoint. Since the corresponding App-Registration is used for multiple different

[2022-06-30 14:31] xuwenjian1995 opened #95134 "Azure policy to deby PAYGS license and allow BYOL license from marketplace"
Hello team,

We have a requirement to use Azure policy to deny VM creation with PAYGS license from marketplace but allow VM creation with BYOL license.

By filtering the VM resources from the marketplace on the Azure Portal, we created BYOL and PAYGS virtual machine separately:
![image](https://user-images.githubusercontent.com/40651495/176702516-6d603d1a-bde4-4f29-8613-2850dfe468f6.png)

We downl

[2022-06-30 14:31] ltjones129 opened #95135 "The monitor signin - audit log query does not work. Very poorly written"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fff5de5d-9a97-73ff-4694-79027720b5c3
* Version Independent ID: 566a8387-bbdd-8e35-13cc-f2d891bd5608
* Content: [Manage emergency access admin accounts - Azure AD - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/roles/security

[2022-06-30 14:37] msmbaldwin commented on #94817
#please-close

[2022-06-30 15:20] seligj95 commented on #95130
Thanks for catching this. It looks like the bicep repo was removed and the team merged the bicep samples with the ARM quickstart samples.

[2022-06-30 15:22] MarileeTurscak-MSFT commented on #95115
@saminnes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-30 15:27] JamesTran-MSFT commented on #95121
@bobe999
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-30 15:29] JamesTran-MSFT commented on #95135
@ltjones129
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-30 15:34] JamesTran-MSFT commented on #95059
@joergrenn
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-30 15:49] anner-emed opened #95136 "What's the email one time pass codes are sent from?"
The page does not list where are emails for one time passcodes sent from.
Can this be added to the FAQ at the bottom?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83f1378d-b047-11d1-a138-5c52a3fee6ba
* Version Independent ID: 57c51f57-90ad-e0f9-1e6b-3262f94de02c
* Content: [One-time passcode authentication for B2B gu

[2022-06-30 16:03] GeethaThatipatri-MSFT commented on #95126
Hi @eyankzz Thanks for reaching out, We will Investigate and update you shortly.

[2022-06-30 16:05] GeethaThatipatri-MSFT commented on #95127
HI @eyankzz Thanks for your findings,We will investigate and update as appropriate

[2022-06-30 16:09] MarileeTurscak-MSFT commented on #95136
@anner-emed
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-30 16:09] KranthiPakala-MSFT commented on #95085
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Please do share the forum link once the issue is posted. Thank you

[2022-06-30 16:09] #95085 closed

[2022-06-30 16:32] #89413 closed

[2022-06-30 16:34] #95081 closed

[2022-06-30 16:36] ChaitanyaNaykodi-MSFT commented on #95108
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-30 16:38] GanesaperumalAlagarsamy commented on #87405
Hi Kevin, thanks for your reply.. But my ask is little different.. I want to pass a json to the External call transformation activity as input body content. Each row will have different value. how do I achieve it?

[2022-06-30 16:39] mike-urnun-msft commented on #95119
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-30 16:43] seligj95 commented on #95130
This change has been merged. Please close if there is no further action or questions. Thanks!

[2022-06-30 16:45] joleito opened #95139 "Missing requirement to enable Resource Guard."
Hello team,

I've been working on a case where the user reported that he was unable to configure Resource Guard.
Following this procedure, when he reached the section called "Select operations to protect using Resource Guard", that page was in blank. He tried to skip that part and simply clicking "Review + Create", but it didn't allow him to do that either.
He was getting the following error messa

[2022-06-30 16:46] ChaitanyaNaykodi-MSFT commented on #95122
Hello @Jas0nOss , Thank you for your feedback. Can you please provide a link for the Azure documentation referred in this case? We primarily monitor this channel for documentation bugs/enhancements if your question is related to product implementation/bug I kindly request you to raise this issue on our [Microsoft Q&A platform](https://docs.microsoft.com/en-us/answers/index.html). Thank you!

[2022-06-30 16:50] dlepow commented on #80784
@soafara - Apologies for the delay responding to your feedback. Your points are well taken and I've noted them for the next update of this content, which we'll schedule for the near future. According to our usual process, I'll now proceed to close the issue. If you have further feedback and want to continue the discussion, feel free to tag me and I'll reopen the issue. Thanks for getting in contac

[2022-06-30 16:50] #80784 closed

[2022-06-30 17:08] camillek-db commented on #94531
This is fixed! Thanks for reporting, Steven!

[2022-06-30 17:09] camillek-db commented on #94531
#please-close

[2022-06-30 17:09] PRMerger12 commented on #94531
Invalid command: '#please-close'. Only Microsoft employees can use this command.

[2022-06-30 17:11] KarlErickson commented on #95119
Hi @ezYakaEagle442 - thanks for the feedback! We're doing the rename in multiple phases due to resourcing constraints and other complications. We've added notes to the top of most affected articles to help make this transition clearer. The issues that you point out should be fixed sometime in the next few months.

[2022-06-30 17:18] dlepow commented on #56986
@cwiederspan - Thanks for this suggestions (and apologies for slow response). The article you mention is due for a refresh and I've noted your points which I think would be good to include when we do that. I've schedule work for a future doc sprint. Accordingly, I'll close this issue. Thanks again!

#please-close

[2022-06-30 17:18] #56986 closed

[2022-06-30 17:27] ChaitanyaNaykodi-MSFT commented on #95114
Hello @kamilzzz, As [documented here](https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-configure-https-custom-domain#certificate-renewal-and-changing-certificate-types)  Azure-managed certificates are automatically rotated when your custom domain uses a CNAME record that points to an Azure Front Door standard or premium endpoint.

Hope this answers your question. Thank you!

[2022-06-30 18:08] StenPetrov opened #95141 "How does one build the zip file to deploy?"
When I try to deploy from VSCode I see "Starting deployment..." and then "Creating zip package...", but that zip package is nowhere to be found.
So many links that never end in this doc page, the actionable info gets buried in them somewhere.

I want to build the zip file. I don't want to jump to doc pages where I don't see the relationship with AzF (what is Kudo?) and dig there.

---
#### Documen

[2022-06-30 18:40] SwathiDhanwada-MSFT commented on #95139
@joleito Thanks for your comment. We will review the issue and get back to you shortly.

[2022-06-30 18:42] SwathiDhanwada-MSFT commented on #93202
@timwarner-msft  Can you please provide your insights on this issue?

[2022-06-30 19:27] AnneFx opened #95144 "Authenticatin without a smart phone - desktop only"
[Enter feedback here]
I don't understand how authentication works.  I only use a cell phone for phone calls, text, and my bluetooth hearing aids - I do not believe internet is safe on smart phones.

I want a 2FA method that uses my web email (desktop only) and/or hardware key.  Do you offer anything like that?  Can an authentication method intercede and use a hardware key to provide authentication

[2022-06-30 19:29] sdecker commented on #76174
Is there any update on this issue? Here is another MS documentation explaining the issue [Attach a data disk to a Linux VM - Azure Virtual Machines | Microsoft Docs](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/attach-disk-portal).

 It is also highly recommended that the UUID (Universally Unique Identifier) is used in /etc/fstab to refer to the drive rather than just the device n

[2022-06-30 19:30] shashishailaj commented on #95063
@Shoplift3020 As we have not heard from you , We will be closing this issue on our side. If you have any issue that is not actively related to azure documentation , please post on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) where we have many community experts who can help with your queries.

[2022-06-30 19:30] SreejaBhattacharya-MSFT commented on #95124
Hello @MartinDemberger , please refer to this blog post [https://www.microsoft.com/web/downloads/platform.aspx](https://www.microsoft.com/web/downloads/platform.aspx).

[2022-06-30 19:35] rolyon commented on #95092
I don't see the Monitored Object Contributor role in the list Azure RBAC built-in roles:
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles

@shayoniseth do you have additional information about the Monitored Object Contributor role that is referenced in this article?
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/azure-monitor-agent-windows-client

thanks

[2022-06-30 19:36] rolyon commented on #95092
#reassign: @shayoniseth

[2022-06-30 19:37] shashishailaj commented on #95102
@Nicholak-MS Could you please help getting the Japanese version of this page updated. Here is the page. https://github.com/MicrosoftDocs/azure-docs.ja-jp/blob/master/articles/active-directory/enterprise-users/licensing-service-plan-reference.md

In case we need to track this internally , please do let us know.

[2022-06-30 19:41] cwatson-cat commented on #94575
@dcaddick Yes that's correct. Per @nayef-yassin, it means you are making use of the free benefits with $0 charges.

You can export your usage data to see how many GBs you've ingested on the zero-dollar meter: https://docs.microsoft.com/en-us/azure/azure-monitor/usage-estimated-costs#view-data-allocation-benefits

[2022-06-30 19:44] IPvPho commented on #39634
When trying to disable the Private Link Service POlicies via Az CLI, we are now getting this error: "however, it does not have permission to perform action 'Microsoft.Network/routeTables/join/action' on the linked scope(s)"

[2022-06-30 19:45] Nicholak-MS commented on #95102
I have created a pull request to have the two rows removed from the dependent service plan section for Dynamics.

https://github.com/MicrosoftDocs/azure-docs.ja-jp/pull/6788

| DYN365_ENTERPRISE_CUSTOMER_SERVICE | 99340b49-fb81-4b1e-976b-8f2ae8e9394f |
| DYN365_ENTERPRISE_P1  | d56f3deb-50d8-465a-bedb-f079817ccac1 |

[2022-06-30 20:07] JamesTran-MSFT commented on #95144
@AnneFx
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-30 20:13] weltonrodrigo opened #95145 "azure-api.net is missing from domain list on DNS forwarding docs"
Per doc https://docs.microsoft.com/en-us/azure/api-management/private-endpoint, private links for Api Management uses domain
azure-api.net, but this domain is not on the list on the documentation about dns forwarding for private links: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns

Api Management developer portal is at <name>.developer.azure-api.net
Api Management gatewa

[2022-06-30 20:14] weltonrodrigo opened #95146 "azure-api.net is missing from private link dns forwarding docs"
Per doc https://docs.microsoft.com/en-us/azure/api-management/private-endpoint, private links for Api Management uses domain
azure-api.net, but this domain is not on the list on the documentation about dns forwarding for private links: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns

Api Management developer portal is at <name>.developer.azure-api.net
Api Management gatewa

[2022-06-30 20:22] waleed-mir opened #95148 "the steps on this page need updating"
The portal has changed and the steps on this page require an update. (Step 5 onwards)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ef6223-ad6b-4f74-e43a-da331ef2e7a3
* Version Independent ID: 28e62309-14f3-b446-6a93-141e9a27b001
* Content: [Tutorial: Deploy Bastion using manual settings: Azure

[2022-06-30 20:29] davidsmatlak commented on #90408
#reassign:davidsmatlak

[2022-06-30 20:43] asudbring commented on #39634
@IPvPho Can you provide more information on the steps and environment when getting this error?  Is this a new deployment of private endpoint to an existing subnet with the policies applied?  Are there any permissions or policies deployed in your environment that would prevent your account from updating route tables?  Can you provide the full error you are receiving and possibly a screenshot?

Than

[2022-06-30 20:55] James-Hamil-MSFT commented on #95083
Hi @coolhome , we fixed it! Thanks for letting us know.

Best,
James

[2022-06-30 20:55] #95083 closed

[2022-06-30 21:13] ChaitanyaNaykodi-MSFT commented on #95148
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-30 21:14] ChaitanyaNaykodi-MSFT commented on #95146
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-06-30 21:16] MarileeTurscak-MSFT commented on #95136
Thanks! I made a pull request to add this information. Based on my experience the initial invitation comes from invites@microsoft.com (**Microsoft Invitations on behalf of Contoso**). Then the OTP code comes from account-security-noreply@accountprotection.microsoft.com (**Contoso (via Microsoft)**).

https://github.com/MicrosoftDocs/azure-docs-pr/pull/203533

CC @msmimart

[2022-06-30 21:16] #95136 closed

[2022-06-30 21:21] kamilzzz commented on #95114
For the subdomains where CNAME records are allowed by the DNS spec this is ok.
But I'm wondering about apex domain where instead of CNAME records ALIAS (CNAME flattening) records must be used, technically CNAME isn't used then.

[2022-06-30 21:25] #90057 closed

[2022-06-30 21:29] dlepow commented on #54605
@pebarrer -  Apologies for the delay responding to your feedback. Your points are well taken and I've noted them for the next update of this content, which we'll schedule for the near future. According to our usual process, I'll now proceed to close the issue. If you have further feedback and want to continue the discussion, feel free to tag me and I'll reopen the issue. Thanks for getting in cont

[2022-06-30 21:30] dlepow commented on #54605
#please-close

[2022-06-30 21:30] #54605 closed

[2022-06-30 22:05] ChaitanyaNaykodi-MSFT opened #95150 "Typo in Note Section"
![image](https://user-images.githubusercontent.com/67453298/176786752-f98170de-3725-4c9a-bfc8-15b39a4e395d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4ea585e-6ab4-38b6-0b75-6b53ae438d7d
* Version Independent ID: 21dbf063-9b96-9936-8daa-79a3cb831198
* Content: [About NAT (Network Address Translation) on VPN Ga

[2022-06-30 22:10] davidsmatlak commented on #37958
Created a task to notify the product team about this issue. As noted in [previous comment](https://github.com/MicrosoftDocs/azure-docs/issues/37958#issuecomment-526086336) this is a resource issue. When there's a product update, the documentation will also be updated. Closing the issue.

[2022-06-30 22:11] #37958 closed

[2022-06-30 22:19] mike-urnun-msft commented on #95141
Hello @StenPetrov - Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you make a new post on the [MS Q&A channel](https://docs.microsoft.com/en-us/answers/index.html) instead for your question?

[2022-06-30 22:23] #95150 closed

[2022-06-30 22:27] davidmrdavid commented on #94616
Hi @darkstar360:

Sorry for the delay, it's been a busy week :) . I think I found the root cause here, although I don't fully understand it. In short, it appears that this error is reproducible with a "real" storage account, and not with the emulator; that's why I did not catch this before.

In short - it would appear that, in Python, datetime.min corresponds to literally "the year zero, at time z

[2022-06-30 22:37] PatAltimore commented on #80847
Thanks for the feedback. We added the importance of matching the Windows versions for both the modules and host in the documentation. I'm closing this issue. Feel free to reopen to continue the discussion if needed.

#please-close

[2022-06-30 22:37] #80847 closed

[2022-06-30 22:54] arefinsami opened #95153 "Add-AzTableRow throws error: The specified resource does not exist"
Hi,
I have installed Az module.
Get-Module -ListAvailable Az* shows
[code]
Then, following this to get the cloud table.
$ctx = New-AzStorageContext -StorageAccountName "MyStorageAccount" -UseConnectedAccount
$t1 = (Get-AzStorageTable -Name "MyTable" -Context $ctx).CloudTable

But, then Add-AzTableRow shows the following error-

Add-AzTableRow -table $t1 -partitionKey "PK1" -rowKey ("CA") -property

[2022-06-30 23:13] dcaddick commented on #94575
Hi Catherine,

How does that make any logical sense?
Please can you explain this in more detail - this statement by itself just
makes no sense to me at all?

How can in understand the actual “value” of the free benefit that Microsoft
has provided as a rebate or benefit when the value is zero?

This appears to me as MS has provided $0 value?

Example:
Surely if the monthly bill should have been $12

[2022-06-30 23:24] pradorodriguez opened #95155 "Clarify some points"
This website mentions the MQTT Broker as one of IoT Edge runtime messages options (https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-runtime?view=iotedge-2020-11#using-the-mqtt-broker)

But in the following link it is mentioned that the "IoT Edge MQTT broker" will not be moving to GA: https://docs.microsoft.com/en-us/azure/iot-edge/module-development?view=iotedge-2020-11#receive-messages-on

[2022-06-30 23:36] tapasya27 opened #95156 "Different name used while creating a cluster than rest of the code"
The code to create a cluster uses the name "myManagedCluster", however the documentation refers the cluster to as "myAKSCluster" and the following code lines are also based on that the name "myAKSCluster". Due to this the following code lines do not run.
![image](https://user-images.githubusercontent.com/45207318/176794950-fd7983d0-5e59-4537-944d-05ec8d295b07.png)

---
#### Document Details

⚠ *Do

[2022-06-30 23:41] rolyon commented on #94175
Hi @NickDorak
Thanks for your feedback. We made some doc updates that will be published tomorrow.
Let us know if you have any additional feedback.
thanks

[2022-06-30 23:41] rolyon commented on #94175
#please-close

[2022-06-30 23:41] #94175 closed

[2022-06-30 23:54] PatAltimore commented on #95155
Hi @pradorodriguez,

The MQTT broker information will be updated when the 1.3 documentation is released.

Thanks,
Pat
#please-close

[2022-06-30 23:54] #95155 closed

[2022-07-01 00:16] johndowns commented on #90199
Further to this, we've now made several updates to the page to address the questions @gsuttie raised, including the resource deletion behaviour.

#please-close

[2022-07-01 00:16] #90199 closed

[2022-07-01 00:23] JasonWHowell commented on #94531
#please-close

[2022-07-01 00:23] #94531 closed

[2022-07-01 00:26] kobulloc-MSFT commented on #95156
@tapasya27 Thank you for bringing this to our attention!  We are reviewing the documentation and will get back to you shortly.

[2022-07-01 00:27] #94934 closed

[2022-07-01 00:33] lotaezhao opened #95158 "App Service balancing not working with per app scaling enabled and numberOfWorkers = 1"
This page does a bad job of explaining per app scaling. According to the article it implies that if I enable per app scaling on the ASP and then set the numberOfWorkers = 1 that it will automatically balance the apps across the available ASP instances. In my testing I have shown that this is NOT the case.

I have enabled per app scaling and scaled the ASP to 2 instances. I have 12 apps running on

[2022-07-01 00:54] RyanHill-MSFT commented on #95158
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-01 01:29] rolyon commented on #93655
Hi @chetan-goenka-by
We checked with the team and they indicated that it was removed because it wasn't being used.
Let us know if you have any additional feedback.
thanks

[2022-07-01 01:29] rolyon commented on #93655
#please-close

[2022-07-01 01:29] #93655 closed

[2022-07-01 01:35] insankim opened #95159 "Need explanation for Global in selectable region list"
[Enter feedback here]
We have "Global" region along with other specific regions in the list while creating an alert rule.
Customers may have misunderstanding of Global and think checking only Global would allow them to get all service notifications across all regions.

We need clear explanation for Global and guide to choose Select All in order to get alerts across all regions.
From my understandi

[2022-07-01 01:36] Jas0nOss commented on #95122
Hello @ChaitanyaNaykodi-MSFT , Please find the link here:
https://docs.microsoft.com/en-us/azure/azure-arc/data/create-sql-managed-instance-using-kubernetes-native-tools#customizing-the-login-and-password

[2022-07-01 01:57] JoeDeng1 commented on #94923
Thanks @AshokPeddakotla-MSFT. Please keep us update if any progress.

[2022-07-01 02:06] sweigand opened #95160 "Azure Database for PostgreSQL - Single Server EOL?"
Seeing as the latest version of PostgreSQL supported on Azure Database for PostgreSQL - Single Server is version 11, and version 11 is EOL 2023 November 9, what is the future of Azure Database for PostgreSQL - Single Server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6972782-1c0e-8e89-137e-ccf3b0bf6bd9
* Version I

[2022-07-01 02:13] mandico opened #95161 "Create Application Gateway --priority is mandatory"
The command below fails to execute:
`az network application-gateway create -n myApplicationGateway -l canadacentral -g myResourceGroup --sku Standard_v2 --public-ip-address myPublicIp --vnet-name myVnet --subnet mySubnet`

It is necessary to include the --priority property.
`az network application-gateway create -n myApplicationGateway -l canadacentral -g myResourceGroup --sku Standard_v2 --public

[2022-07-01 03:10] munir94 opened #95163 "NODE|12-lts i snot valid"
![image](https://user-images.githubusercontent.com/39366930/176815963-6559b1e0-4691-48d1-9ba3-b3b9d25f80e6.png)

the valid list is here

![image](https://user-images.githubusercontent.com/39366930/176816025-0424d8a7-f2de-40ba-aea2-94334ff945d1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cdb7930-0ada-090c-7f95-

[2022-07-01 04:21] AgnesLi666 opened #95164 "The important information regarding traffic through NVA and firewall must be SNATed is wrong"
[Enter feedback here]
Hi team,

Good day!

I found out a wrong delivered information in our current page.

There is an important information in this page regarding "If network rules are used, or an NVA is used instead of Azure Firewall, SNAT must be configured for traffic destined to private endpoints." However, this is not the real story. Private endpoint traffic from PaaS to VM can always go bac

[2022-07-01 04:24] AnuragSharma-MSFT commented on #95160
@sweigand Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-07-01 04:35] AshokPeddakotla-MSFT commented on #95109
Thanks for the confirmation

[2022-07-01 04:46] ShaikMaheer-MSFT commented on #94901
@hiladg If I understand correctly, you mean to say you are using databricks workspace and you are not able to see SQL editor there. Please correct me if I am wrong.

Kindly check below image to understand how to navigate to databricks SQL editor. Please note your databricks workspace should be premium plan.
![adbSQL](https://user-images.githubusercontent.com/84302758/176825122-a3bec5e0-4491-4461-8

[2022-07-01 04:50] mochsner opened #95165 "Page / Bulk Import Does not Work..."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277a5d8f-7fce-bf5d-1ebd-2061e9ac8a69
* Version Independent ID: 02d2bc44-dc9f-a23a-9c60-facf7e0c1a41
* Content: [Bulk create users in the Azure Active Directory portal - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/enterpris

[2022-07-01 04:54] ryanxiaoms opened #95166 "Does Open Service Mesh support Windows Container?"
I tried running it with Windows Container and got error as below. I guess it might not support Windows Container. However, I couldn't find any information regarding Windows Container Support from this document.

Error creating: Internal error occurred: failed calling webhook
  "osm-inject.k8s.io": received invalid webhook response: expected
  response.uid="50cc3ac7-2f16-4e60-9efe-edd71e82b448", go

[2022-07-01 04:59] Venkateshdodda-MSFT commented on #95163
@munir94 Thank you for your feedback! We will review and update as appropriate

[2022-07-01 05:07] RohitMungi-MSFT commented on #95120
It is most likely an issue with the memory allocated to the container. You can print the debug logs on the console by adding the following parameter to your command.
`Logging:Console:LogLevel:Default=Debug`

If it fails with memory allocation you can change the memory in the run command to `6g` or ensure more memory is allocated to your docker service.

<img width="433" alt="image" src="https://us

[2022-07-01 05:33] taizawa512 opened #95167 "The content in "Prerequisites" section seems to be incorrect."
Is the method **for the site owner role** to Grant SharePoint Online site permission to the application correct? The page currently says:

[code]

**Work Done:**
I tried to grant SharePoint Online site permission to the application by the site owner role and above XML but I have failed test connection to the SharePoint Site URL.
[Error Message]
[code]

When I tried to grant SharePoint Online site

[2022-07-01 05:37] shwetamathur7 commented on #95165
@mochsner Thanks for your feedback. We will investigate and update the thread.

[2022-07-01 05:40] shwetamathur7 commented on #95165
@mochsner Could you please confirm what error you are getting while creating bulk users?

[2022-07-01 05:59] kobulloc-MSFT commented on #95156
@tapasya27 Thank you for pointing this out!  I'll get a PR out to address this.

![image](https://user-images.githubusercontent.com/37556655/176832960-fdd3bac0-0b91-4e6e-a974-8999e77161eb.png)

![image](https://user-images.githubusercontent.com/37556655/176833269-64e96fa5-5e70-4fae-aca0-3ef32f4d9a52.png)

[2022-07-01 06:22] PriyankaRudramaina commented on #95166
@ryanxiaoms,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-01 06:27] dantecit0 commented on #94724
Hello @sumeetmittal as I sent by teams, the issue is not at LB level, the NAT of the PL is sending reset to both parties in the communication, so it's at PLS NAT level. It's just documenting the behavior. Let me know if you need further evidence, have a case still open that shows this.

[2022-07-01 06:55] MartinDemberger commented on #95124
You mean that you won't update the documentation on https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/service-fabric/service-fabric-get-started.md?

I assume you have another ticket wo track this change. Are you able to give me a link so I can follow it and update our onboarding documentation.

[2022-07-01 07:00] AnuragSharma-MSFT commented on #94913
@amritav Thanks for your patience. Yes as per the description of the text it looks async is by default however it is mentioned explicitly as well. I am assigning this to content author for more details.

[2022-07-01 07:03] #95163 closed

[2022-07-01 07:22] GitaraniSharma-MSFT commented on #95161
@mandico , thank you for your feedback. This feedback is already open and assigned to author for update in GitHub issue # https://github.com/MicrosoftDocs/azure-docs/issues/94424. It will be updated soon.

We are closing this issue as duplicate for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-07-01 07:22] #95161 closed

[2022-07-01 07:26] GitaraniSharma-MSFT commented on #95164
@AgnesLi666 , thank you for the feedback. We have assigned this to the content owner/author for review.

@asudbring , could you please tag or assign this to the respective PM for further review?

[2022-07-01 08:15] archeon1004 opened #95170 "Conditional Access policies for federated (hybrid) tenant does not work"
Dears,

In this article there is a statement that when using AD FS the on-premises CA are bypassed using fido keys. But we see the same also for cloud conditional access policies. Can you verify this and if that would be confirmed update the document to contain disclaimer that cloud CA polices also can be bypassed when using AD FS

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-07-01 08:48] ethanhou-MSFT commented on #95002
Hi @AnuragSingh-MSFT ,

Thanks for your detailed reply!

Yes, add a try catch is a good idea, at the same time, I also changed another cmdlet that's less likely occur errors:

[code]
However, the non-compliant reason is just printing out the whole DSC script:
![image](https://user-images.githubusercontent.com/101076600/176851356-2a6a9d85-7d61-4b88-b30a-1d2a361cd9be.png)

The desired non-compliant

[2022-07-01 09:11] Jorrit05 opened #95172 "Much clearer code flow guide in the databricks documentation"
Hi,

I found a very clear guide on how to test and try out the authorization code flow in the Databricks documentation:
https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token#get-an-azure-ad-access-token

I would suggest making a similar clear guide for the actual OAuth 2.0 authorization code flow documentation or at least linking above page as a specific example.

[2022-07-01 09:12] BjornVanDoorn commented on #95172
Agreed, this would make documentation clear.

[2022-07-01 09:36] Yunus-MSFT commented on #89392
@mscatyao , can you please let me know if we have any update on this?

[2022-07-01 09:59] AshokPeddakotla-MSFT commented on #95153
@arefinsami Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-01 10:05] AnuragSingh-MSFT commented on #94835
@darkoa-msft, thank you for bringing it to our attention. I am checking it further with the team and will take further action based on it.

[2022-07-01 10:25] JazzerConn opened #95173 "Tutorial: Configure SAP Analytics Cloud for automatic user provisioning"
[Enter feedback here]
This tutorial contains a link to an actual SAP IPS internal test system: https://ips-xlnk9v890j.dispatcher.us1.hana.ondemand.com/ > embedded with text 'SAP Identity Provisioning admin console' in step 2.
Some SAP customers are getting confused by this and looking for access to this system... the customer should be using their own IPS here. Some tickets have been opened in SAP

[2022-07-01 10:28] AnuragSharma-MSFT commented on #94910
@AuWiMo Thanks for your patience. I tried it by creating a new Cosmos Account and the sections are loaded within seconds. Not sure if it was some other issue. Could you please once again try it and let me know if you still have the same issue?

[2022-07-01 10:57] AshokPeddakotla-MSFT commented on #94903
@demaford This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. After reviewing the ask, it seems like generic query and not a doc feedback.

Hence, we request you to please reach out in forums like [Microsoft Q&A](https://docs.microsoft.com/answers/index.html) or [Stackoverflow](https://stackoverflow.com/questions). We have our engineers

[2022-07-01 10:57] #94903 closed

[2022-07-01 10:59] AshokPeddakotla-MSFT commented on #95106
@ConnorXuHe Not able to see the proper response. Could you please reply directly on the GitHub?

[2022-07-01 11:16] AnuragSingh-MSFT commented on #95002
@ethanhou-MSFT, thank you for the reply. I am not sure about how to set it at this point. Please give me some time while I check on it. I will get back to you as soon as I get this information.

[2022-07-01 11:32] malotiabe opened #95175 "Misinformation regarding SAS token"
[Enter feedback here]
The document mentions SAS token for the storage container, and it states the container needs to be public. a public container doesn't need a SAS token to access it. This confusing to the user.

I checked with Nupur Shukla from the software engineer team, and she informed me that the documentation is missing

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-07-01 11:45] verschaevesiebe opened #95176 "New LoadJsonContent() function documentation"
Hi Team,

The functions docs page is missing the information around the new LoadJsonContent() function.
Are there any character limits ? We're currently using this one as a workaround for the LoadTextContent limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f57035-1294-47a4-5750-1bd513c2bf03
* Version Indepe

[2022-07-01 11:48] AnuragSingh-MSFT commented on #94976
@shubhanshu02, thank you for bringing it to our attention. I have submitted a request for it to be corrected which is under review.

[2022-07-01 11:56] rboucher commented on #94071
Understood @jikuja.  Yes.  I know this is a problem and we are working on it. We don't have full documentation on what table name or the fields that it maps to.  Partially helpful- you can tell if it goes to AzureDiagnostics or other tables by looking at the namespace for the service in the Azure Monitor Logs table reference.  You can see the Resource Log specific tables by the naming.  https://do

[2022-07-01 12:24] ezYakaEagle442 commented on #95119
The Resource Provider also has not been renamed whereas the CLI extension has been renamed :
[code]

[2022-07-01 12:32] ldab opened #95177 "Configuration file not present"
"Then, create a certificate using the root CA configuration file **(shown below)** or the subordinate CA configuration file and the CSR."

Configuration file not present

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0308fed1-2c82-f02f-2745-931dc16fc538
* Version Independent ID: 6be62d35-1075-8719-996e-d02bc1b7281d
* C

[2022-07-01 12:35] ezYakaEagle442 commented on #95119
also the GitHub Action is still named Azure Spring Cloud, see [https://github.com/marketplace/actions/azure-spring-cloud](https://github.com/marketplace/actions/azure-spring-cloud)

[2022-07-01 12:35] ldab commented on #95177
not trivial, but under `For more information, see [Using OpenSSL to Create Test Certificates](https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-openssl).`

[2022-07-01 12:35] #95177 closed

[2022-07-01 12:57] Blackmist commented on #38921
@abdullahaydan Trevor is no longer at Microsoft.

There is currently no documented way to get the confidence score. Note that this github repo is only for feedback on documentation. It is not for feature requests.

If you'd like to request the ability to get the confidence score, please use https://feedback.azure.com/forums/257792-machine-learning.

[2022-07-01 13:50] zojovano opened #95179 "Is Private AKS supported?"
It is not clear from the documentation whether private AKS clusters (cluster with Management API available only through the private IP) supported as a target.
The document doesn't say that it is not supported so my understanding would be that it is therefore supported but my guess is that it is not supported.
Could you please clarify and ideally update the document?

---
#### Document Details

⚠ *

[2022-07-01 14:14] MonikaReddy-MSFT commented on #95159
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-07-01 14:18] mochsner commented on #95165
@shwetamathur7 sure, so the documentation said that there should be error messages available. You would think that means the error is useful, but nope.

Docs: `If there are errors, you can download and view the results file on the Bulk operation results page. The file contains the reason for each error. The file submission must match the provided template and include the exact column names.`

But,

[2022-07-01 14:25] GitaraniSharma-MSFT commented on #94983
@ms-ishiyam , We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-07-01 15:05] shashishailaj commented on #95102
Thank you @Nicholak-MS . @YoshikaSuzuki The japanese document should be updated once the above pull request is approved and will be live globally after that . We will be closing this thread now. Thank you for your inputs and patience with us.

[2022-07-01 15:09] eadwin-wtw opened #95185 "Bicep template please!"
This is very useful but would be even better with a bicep template option!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61234740-d92b-cda0-a897-e3c588316726
* Version Independent ID: a8302644-fe87-51bc-be07-f33f62dab542
* Content: [Configure a private endpoint - Azure Machine Learning](https://docs.microsoft.com/en-u

[2022-07-01 15:48] doug-fish opened #95187 "Unexpected repo for images"
It's surprising to me that the section "Import the images used by the Helm chart into your ACR" suggests using k8s.gcr.io as a source registry for ingress-nginx images. The helm chart creates references to registry.k8s.io, like this:

          image: "registry.k8s.io/ingress-nginx/controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f8"

          image: "registr

[2022-07-01 16:36] #95156 closed

[2022-07-01 16:46] KranthiPakala-MSFT commented on #95175
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-01 16:52] KranthiPakala-MSFT commented on #95167
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-01 16:54] KranthiPakala-MSFT commented on #95167
@jianleishen , @jonburchel - Could you please review the above feedback from customer and help clarify the document content?

Looks like the pre-requisites section was updated recently which is a bit confusing.

FYI - @Clare-Zheng82

Here is the PR that made changes to earlier content - https://github.com/MicrosoftDocs/azure-docs/commit/708d61e752841ff32412f728ea118a7f450083ad

Thank you

[2022-07-01 17:08] PriyankaRudramaina commented on #95187
Hello @doug-fish,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-01 17:09] PriyankaRudramaina commented on #95187
@erik-ha-msft,

Could you review this and share your inputs here?

[2022-07-01 17:51] #94832 closed

[2022-07-01 17:53] MarileeTurscak-MSFT commented on #95172
Thank you! I made a pull request to add a reference to the example at the beginning of the article.

I'll leave this open for review by @davidmu1 https://github.com/MicrosoftDocs/azure-docs-pr/pull/203634

[2022-07-01 17:53] #95172 closed

[2022-07-01 17:56] DeanGross opened #95189 "Incorrect instructions"
Step 2 tells us to use the "Scope Dropdown", I am not seeing this on my screen. Please update the instructions to accurately describe the UX

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7760b63d-e8bd-bdc1-4411-f2febe387f66
* Version Independent ID: 4c9549d3-791e-a563-8ef3-fa2f3487622c
* Content: [Onboard a Microsoft

[2022-07-01 18:14] nayef-yassin commented on #94575
@dcaddick Thanks for reaching out. The view you are referring to simply shows the meters that have been used. In this case, you're seeing a meter with a billing rate equal to $0. The presence of this meter in the view you are referring to simply indicates that you were eligible and have used a free (or zero-rated) meter.

The [link Catherine shared](https://docs.microsoft.com/en-us/azure/azure-mon

[2022-07-01 18:16] MarileeTurscak-MSFT commented on #95170
@archeon1004
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-01 18:20] DeanGross opened #95190 "Confusing instructions"
The instructions state that "you must have permissions on the subscription" when in reality, the service principal for the CIEM app needs the permissions. Please clarify this and add instructions for granting the app permissions to a subscription.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7760b63d-e8bd-bdc1-4411-f2

[2022-07-01 18:37] whurlston opened #95192 "MariaDB file size limitation needs to be in the limits page"
The paragraph below about the 1TB limit on the innodb_file_per_table section in
[MicrosoftDocs/azure-docs/blob/main/articles/mariadb/concepts-server-parameters.md#innodb_file_per_table](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/mariadb/concepts-server-parameters.md#innodb_file_per_table) REALLY needs to be moved to [MicrosoftDocs/azure-docs/blob/main/articles/mariadb/concepts-

[2022-07-01 19:06] kobulloc-MSFT commented on #95134
@xuwenjian1995 This is a good question (well written with great screenshots) that covers several areas so I'm going to do my best to answer within the context of the documentation but you may be better served by asking this on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-policy.html).

For Windows (as this is Windows documentation), the Hybrid Benefit (BYOL) is signified d

[2022-07-01 19:18] MarileeTurscak-MSFT commented on #95170
My understanding is that for for non-Microsoft 365 applications which use AD FS for authentication, Azure AD Conditional Access policies will not be applied and you will need to set up access control policies within AD FS.

I made a pull request to add this information but will leave it open for confirmation from @Gargi-Sinha. https://github.com/MicrosoftDocs/azure-docs-pr/pull/203645

[2022-07-01 19:18] #95170 closed

[2022-07-01 19:30] YutongTie-MSFT commented on #95185
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-07-01 19:36] twimmers commented on #95173
I've updated the doc to remove this link, thanks for the feedback!

[2022-07-01 19:39] kgremban commented on #95030
@jerfcero There are several layers of high availability discussed in the document that you linked to. While intra-region high availability is supported in all regions, I've confirmed that we currently do not support Availability Zones for IoT Hub in the East US 2 region. The current list in https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#availability-zones is correct. We'll update the

[2022-07-01 20:13] ChaitanyaNaykodi-MSFT commented on #95179
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-01 20:13] davidsmatlak commented on #62701
#reassign:davidsmatlak

[2022-07-01 20:18] ChaitanyaNaykodi-MSFT commented on #95122
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-01 20:21] ggailey777 commented on #94934
Thanks @pnwguy!

[2022-07-01 20:38] JazzerConn commented on #95173
No problem. I'm working in SAP product support  so thought it best to mention it!!!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Tom Wimmers ***@***.***>
Sent: Friday, July 1, 2022 8:36:50 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: JazzerConn ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Tutorial: Configure SAP Analytics

[2022-07-01 20:47] verschaevesiebe commented on #95176
Hi @mumian,

Interesting! How does it resolve the 4MB limit ? Are the loaded json's included as separate module / deployment template ?
I'm interested how it's being handled.

Thanks.

[2022-07-01 20:52] jb185t opened #95195 "Can't find out where are the deployed artfacts are stored for targeted workspace"
Hi;

The release pipeline with Synapse workspace deployment task was executed without error but I can't find out where to check the deployed artifacts are for targeted workspace. This manual says to configure targeted workspace name while configuring the task but where are those deployed artifacts are in git repo ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It

[2022-07-01 20:53] AaronMaxwell commented on #94738
Thanks for your dedication to our documentation. The sample code was somewhat recently reviewed.

Please see https://opentelemetry.io/docs/instrumentation/js/getting-started/ mentioned in the "Get Started" section of the article to make sure you have the development environment ready.

Although this question is beyond the technical scope of our feedback channel here on GitHub, which covers specifi

[2022-07-01 20:53] #94738 closed

[2022-07-01 21:16] JamesTran-MSFT commented on #95135
@ltjones129
Thank you for your time and patience!

- Can you share what issue you're specifically running in to?
- Are you receiving any error messages that you can share?

Any additional information or screenshots would be greatly appreciated.
Thank you!

[2022-07-01 21:27] JamesTran-MSFT commented on #95144
@AnneFx
Please see the below table for our currently available [authentication methods](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks#available-verification-methods):
![image](https://user-images.githubusercontent.com/36619112/176969242-dc2bea89-b9a7-4335-90b6-d72b0668a4fe.png)
For more info - [Authentication method strength and security](https://doc

[2022-07-01 21:27] #95144 closed

[2022-07-01 21:29] #89734 closed

[2022-07-01 22:17] dnethi commented on #95122
You probably have some extra line break or space which might be returning different encoded values.. have you verified this?

[2022-07-01 22:51] JimacoMS4 commented on #71797
Hi @Suizi11 -- Thanks for your feedback! We've just published an update that, hopefully, will address your concerns. Please have a look here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-non-telemetry-event-schema. Let me know if you have any further questions/suggestions. I'll leave the issue open for a week or so if you want to respond.

Thanks again for your help in improving our docu

[2022-07-01 23:01] flang-msft commented on #87721
@vlad610 Thanks so much for your feedback and commitment to the documentation. Sorry to take so long to get back to you but the change was made in the documentation. Also, for future reference, this page will be update in the next month to update the screenshots and address some of the other changes needed as a result.

![image](https://user-images.githubusercontent.com/82607691/176976093-7c4749d0

[2022-07-02 00:37] AshokPeddakotla-MSFT commented on #95189
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 00:39] AshokPeddakotla-MSFT commented on #95190
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 00:42] AshokPeddakotla-MSFT commented on #95192
@whurlston Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 00:47] ChaitanyaNaykodi-MSFT commented on #95195
Thank you for your feedback! We will review and update as appropriate.

[2022-07-02 01:30] konrad-jamrozik opened #95196 "Page on dashboarding Log Analytics doesn't mention https://dataexplorer.azure.com/dashboards/"
As in subject. I am using https://dataexplorer.azure.com/dashboards/ but this page:
[Create and share dashboards of Azure Log Analytics data - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/visualize/tutorial-logs-dashboards)

doesn't mention its existence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-02 01:49] arifgani commented on #92733
Updates done
#please-close

[2022-07-02 01:49] #92733 closed

[2022-07-02 01:54] chrismarlin opened #95197 "It is possible to provide an example supporting RBAC enable AKV and storage accounts?"
Regarding the '_Give your user account permission to managed storage accounts_' section is there an equivalent option for an RBAC enabled AKV and storage account?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b568009-2a35-c627-cfa0-ff5cbfde027e
* Version Independent ID: 07fc2d02-be89-1170-3b37-9e65808d5d89
*

[2022-07-02 01:59] konrad-jamrozik opened #95198 "The page "Log Analytics workspace data export in Azure Monitor" doesn't mention the export method of using ADF with REST API"
The page on the now obsolete [Application Insights Continuous Export](https://docs.microsoft.com/en-us/azure/azure-monitor/app/export-telemetry) mentions the [Log Analytics workspace REST API](https://docs.microsoft.com/en-us/azure/azure-monitor/logs/api/overview) which can be used together with [Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/) pipeline to export the data.

[2022-07-02 02:22] ChaitanyaNaykodi-MSFT commented on #94942
Hello @sesmailjee,
I was not able to reproduce this issue, for me the deployment went through successfully. This might be a temporary issue on your end.

![image](https://user-images.githubusercontent.com/67453298/176983058-28a155e4-5658-4ff0-8693-4f0aeb2c54c1.png)

 We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-07-02 02:22] #94942 closed

[2022-07-02 02:38] Jas0nOss commented on #95122
Thank you for review the issue. I have two questions here:

- Base on docs, both bash and powershell encode results, should be work, but they are two different output values, if we use same decode algorithm, the decode result should be same, the fact is they are not.  Which one should we use in [`sqlmi.yaml`](https://raw.githubusercontent.com/microsoft/azure_arc/main/arc_data_services/deploy/yaml/

[2022-07-02 02:49] LifeRyuto opened #95200 "Filter condition might be changed to find delete operation of mysql flexible server"
If you delete your `resource group` which holded your mysql flexible server accidentally, when you specify the filter below, you cannot find the delete operation log for the flexible server. It leads to confusion when you are in a hurry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d6b1bf7-ecd3-6629-2bf1-c83d12e4314

[2022-07-02 03:45] Jas0n0ss opened #95201 "openshift deploy arc-eanbled sqlmi state always been creating"
## **openshift deploy arc-eanbled sqlmi state always been creating**
### **environment description:**
[code]
### **issue description:**
official docs here :
https://docs.microsoft.com/en-us/azure/azure-arc/data/create-sql-managed-instance-using-kubernetes-native-tools#create-a-yaml-file
when I use doc template to create sqlmi instance, don't define `replicas`, it's state will always be creating, w

[2022-07-02 08:21] TonySh127-ms opened #95202 "what is "ED, Local, or Cross Account""
[Enter feedback here]
May I know what is "ED, Local, or Cross Account" account?

![image](https://user-images.githubusercontent.com/68043042/176992859-27d5a9bb-2f8d-41bb-b3b8-384d447de63d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2450c7b2-9941-377f-2f40-38a86ad46def
* Version Independent ID: 7116ae6d-1f82-556

[2022-07-02 08:26] TonySh127-ms opened #95203 "what is "Viewer, Controller, or Administrator" Permission?"
May I know what is "Viewer, Controller, or Administrator" Permission?

![image](https://user-images.githubusercontent.com/68043042/176992935-18ed2b51-ea50-491f-9427-3f40eb69c0f1.png)

On the onboarding document, I only can find the permission. AAD Global administrator, reader, contributor, AWS master/administrator and GCP project owner.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-07-02 08:32] TonySh127-ms opened #95204 "Permissions Management GA license requirement"
Could you please explain more detail of GA version license requirement?

![image](https://user-images.githubusercontent.com/68043042/176993078-c2c1c435-67cf-41e6-b8c7-22bc7b1a6ce9.png)

We seem to required the license now.
![image](https://user-images.githubusercontent.com/68043042/176993118-82d69ef5-e9a8-4ef8-b8bd-53b8e84458bf.png)

![image](https://user-images.githubusercontent.com/68043042/1769

[2022-07-02 12:51] skandupmanyu opened #95205 "Very ambiguous and ill-framed message for VSCode connectivity with Synapse"
[Enter feedback here]

The documentation says:
**Not supported submit interactive Synapse PySpark queries to Spark pool anymore**
For Synapse Pyspark interactive, since its dependency will not be maintained anymore by other team, this will not be maintained anymore as well. If you trying to use Synapse Pyspark interactive, please switch to use [Azure Synapse Analytics](https://ms.web.azuresynapse.

[2022-07-02 14:04] AshokPeddakotla-MSFT commented on #95196
@konrad-jamrozik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:05] AshokPeddakotla-MSFT commented on #95197
@chrismarlin Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-02 14:07] AshokPeddakotla-MSFT commented on #95198
@konrad-jamrozik Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:11] AshokPeddakotla-MSFT commented on #95200
@LifeRyuto Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-02 14:15] AshokPeddakotla-MSFT commented on #95201
@Jas0nOss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:17] AshokPeddakotla-MSFT commented on #95202
@TonySh127-ms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:18] AshokPeddakotla-MSFT commented on #95203
@TonySh127-ms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:20] AshokPeddakotla-MSFT commented on #95204
@TonySh127-ms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:22] AshokPeddakotla-MSFT commented on #95205
@skandupmanyu Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-02 14:54] vinothrao opened #95207 "Advantage of adding CDN to web app"
It will be helpful if there is an explanation for advantages of adding CDN to the web app.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45034e70-188d-f7f8-d1da-bc72c2f95d7c
* Version Independent ID: 34c58d57-87ef-51ea-a04a-03b36073460f
* Content: [Tutorial - Add Azure CDN to an Azure App Service

[2022-07-02 15:14] enigmaturing commented on #14123
@jantielens I spent some time wondering why it was not working and your post helped me. Tanks for taking your time to comment your solution after having comming accross with it.

[2022-07-02 15:18] kowei opened #95208 "installation on mixed nodepool with linux and windows under kuebernets version: 1.22.6"
[Enter feedback here]
If you have mixed nodepool with linux and windows, the process will hang in "startupapicheck" job.  The job without nodeSlection specified may jump to windows nodepool.

add following lines to script:

# repo
CERT_MANAGER_IMAGE_CTL=jetstack/cert-manager-ctl
#import to acr
az acr import --name $REGISTRY_NAME --source $CERT_MANAGER_REGISTRY/$CERT_MANAGER_IMAGE_CTL:$CERT_MANAGER

[2022-07-02 15:23] ChaitanyaNaykodi-MSFT commented on #95207
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-02 15:25] ChaitanyaNaykodi-MSFT commented on #95208
Thank you for your feedback! We will review and update as appropriate.

[2022-07-02 17:30] Mewjaden opened #95209 "1inch"

[2022-07-02 20:10] mike-urnun-msft commented on #95005
@HariKrishnaRajoli-MT Since this repo is more for driving improvements towards MS Docs, it'd be better to track this issue via microsoft/vscode-azurefunctions#3223

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-02 20:10] #95005 closed

[2022-07-02 21:54] pizzaz93 commented on #85702
Currently links to https://www.sap.com/dmc/exp/2014-09-02-hana-hardware/enEN/#/solutions?filters=v:deCertified;ve:24;iaas;v:125;v:105;v:99;v:120 and seems to be fixed

[2022-07-02 22:51] dustuu opened #95211 "Twitter Instructions are outdated"
Twitter has changed their application registration process significantly, including OAuth config. The instructions on this page are no longer accurate and need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a857a8-ee6c-509b-75aa-f13147a4412b
* Version Independent ID: a94230d1-5c21-673c-3d92-b6fbd8c1dc2

[2022-07-02 22:52] dustuu opened #95212 "Azure Static Web Apps login instructions for Twitter are no longer accurate"
Twitter has updated their developer portal and changed the flow significantly. TWITTER_CONSUMER_KEY and TWITTER_CONSUMER_SECRET should also no longer be used. These instructions should be updated to reflect the new process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 623901d6-2ff5-930f-a597-50aadc08b00b
* Version In

[2022-07-03 00:05] ChaitanyaNaykodi-MSFT commented on #95209
@Mewjaden Not sure if any feedback was intended in this issue?

[2022-07-03 02:22] ChaitanyaNaykodi-MSFT commented on #95211
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-03 02:23] ChaitanyaNaykodi-MSFT commented on #95212
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-07-03 02:29] Marusyk opened #95213 "Cannot resolve symbol wpsReq"
`wpsReq` should be replaces by `wpsContext` in the code https://docs.microsoft.com/en-us/azure/azure-web-pubsub/reference-functions-bindings?tabs=csharp#example---webpubsubcontext

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c4c897d-50cd-34e9-c2e7-7ca235090b8c
* Version Independent ID: 65d9edff-959a-e5d7-1164-947261

[2022-07-03 05:28] DamienOConnell commented on #52606
Occurred just now, error was:

`Location 'West Europe' is not accepting creation of new Windows Azure SQL Database servers at this time`

East Asia, East US 2 regions deployed OK.  I was also following the tutorial.

[2022-07-03 06:32] #94976 closed

[2022-07-03 08:05] ChaitanyaNaykodi-MSFT commented on #95213
Thank you for your feedback! We will review and update as appropriate.

[2022-07-03 08:13] ssisjoost commented on #52606
If you already have around 40 (west europe) SQL servers in your Azure Subscription then you probably reached the max. You could add an Azure Support ticket and ask them to increase the Server Count Quota for SQL DB.

[2022-07-03 09:41] LoopGlitch26 opened #95214 "Update Preview as Public Preview"
**Feedback:**
The images used in the documentation depict `private preview`, which can be now updated to `public preview`.

![](https://docs.microsoft.com/en-gb/azure/azure-monitor/autoscale/media/autoscale-predictive/custom-autoscale-2.png)

Cost optimization aspects of this feature, if any, can also be mentioned in the documentation.

---
#### Document details

⚠ *Do not edit this section. It is

[2022-07-03 10:01] KrishnaG-MSFT commented on #95214
@LoopGlitch26 Thanks for the feedback.
Assigning this to @EdB-MSFT for visibility, review and document enhancement consideration as appropriate.

[2022-07-03 11:02] wj109s5 opened #95216 "Page No longer Correct / Needs updated"
Page No longer Correct / Needs updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd3afb20-4404-d9df-79e6-dde3c6ac6759
* Version Independent ID: 0eac06e5-8280-4009-f06d-3feff1049e45
* Content: [Use the portal to enable Remote Desktop for a Role](https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-r

[2022-07-03 13:57] AshokPeddakotla-MSFT commented on #95216
@wj109s5 Thanks for the feedback! Do you have any specific feedback related to this and wanted to change?
If yes, please share detailed feedback so we can update the doc accordingly.

I have also assigned this issue to the author @hirenshah1 for further assistance and to update the doc.

[2022-07-03 14:47] kobulloc-MSFT commented on #95134
@xuwenjian1995 Please reach out on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-policy.html) if you still need assistance.  We are going to close this thread as resolved but if there are any further questions regarding this documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-07-03 14:47] #95134 closed

[2022-07-03 15:18] PingPongSet opened #95217 "[Question] What is pre-seeding?"
Sorry, please could anyone explain What pre-seeding is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs.microsoft.com/en-us/azure/storage/file-sync/file-sync-deployment-gui

[2022-07-03 15:36] Danny-Chaudhry opened #95219 "DOES NOT WORK"
Does not Work. Entered All the information followed the example, could not even get past the sign in page. got a http 500 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8027df4-5e60-69aa-1c0a-249053cb6e72
* Version Independent ID: c4ca0cff-b1b2-3690-00b9-af6c81d838b9
* Content: [Quickstart: Sign in users in web

[2022-07-03 15:53] AshokPeddakotla-MSFT commented on #95217
@PingPongSet Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-03 16:00] AshokPeddakotla-MSFT commented on #95219
@Danny-Chaudhry Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-07-03 16:22] #95209 closed

[2022-07-03 18:12] hirenshah1 commented on #95216
@wj109s5 please share detailed feedback so we can update the doc accordingly.

[2022-07-03 18:45] AjayKumar-MSFT commented on #95045
mmoser-adrianv, after the initial review, your feedback has been shared with the content owner for further review. Thanks for taking time to share your feedback!

[2022-07-03 18:55] DeanGross opened #95220 "Unclear directions -"
In step 1, it states "In Azure, open the Access control (IAM) page)", There are many IAM pages in Azure, where are we supposed to do this, in every subscription? or somewhere else.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27d22282-ec71-7fd7-52f8-15d5916cc04a
* Version Independent ID: d33c760e-71bb-c2e9-e65c-c7daf7

[2022-07-03 22:31] xtianus79 opened #95221 "when doing the ask on this page https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#get-a-token it gives this error AADB2C99005: The request contains an invalid scope parameter which includes an illegal character ','."
[code]

when following the above instructions I receive the following error. This page doesn't help
[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54adceb-9510-aeb5-0c61-c0d052459cda
* Version Independent ID: 0ff6b6b2-2802-9534-8963-796b9c4a2a76
* Content: [Web sign in with OpenID Connect - Azure Active

[2022-07-04 01:50] Jer0meM0rr0w opened #95222 "Incoherent Sentence?"
The following text does not convey a complete thought.

_If the authentication type for a connected organization is Azure AD, then all users with an account in any verified domain of that Azure AD directory will sign into their directory, and then can request access to access packages that allow that connected organization._

All users can request access to access packages that allow that connecte

[2022-07-04 01:53] AshokPeddakotla-MSFT commented on #95220
@DeanGross Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-04 02:14] pnarsi opened #95223 "Content copied across from AKS"
I am confused by this page. The title says "Securing a custom VNET in Azure Container Apps" but the content has a lot of references to AKS. Is the content on this page (in terms of required Inbound and Outbound riles) relevant for Azure Container Apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef81bdd7-f089-0876-d

[2022-07-04 02:26] Starr79 commented on #95223
I have no clue what's going on

On Sun, Jul 3, 2022, 10:15 PM pnarsi ***@***.***> wrote:

[2022-07-04 02:48] Givary commented on #95222
@Jer0meM0rr0w Thanks for your feedback, let me investigate and revert back.

[2022-07-04 02:51] Givary commented on #95221
@xtianus79 Thanks for your feedback, let me investigate and revert back.

[2022-07-04 02:52] Starr79 commented on #95221
I can't even log on again.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Givary ***@***.***>
Sent: Sunday, July 3, 2022 10:51:49 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] when doing the ask on this page https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#get-a-tok

[2022-07-04 02:54] johnbaro opened #95224 "Docs incorrectly state B2C is OIDC compliant"
Under the section [Compatibility](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview#compatibility), the docs specifically state the following in relation to OIDC 1.0 compliance:

However, reading through the spec it states:

Looking at an example domain [b2ctest9pulumi.b2clogin.com](https://b2ctest9pulumi.b2clogin.com/tfp/1b380119-2f96-4cc9-a78e-74f72c6833ee/b2c_1a_signup

[2022-07-04 02:54] rwallerms commented on #95055
Fixed with this PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/203673#issuecomment-1173026632

[2022-07-04 03:01] shwetamathur7 commented on #95224
@johnbaro Thanks for your feedback. We will investigate and update the thread.

[2022-07-04 03:27] ZHIXIN-SUN opened #95225 "Please help to update the Document and add the VM cache size in the sheet of the New Series VM size"
[Enter feedback here]

could you please help add the VM cache size in the sheet for the new added size VM". Since, in the previous VM series, there has a VM cache size.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3a25abf-5705-00bc-e619-d91a6de86df5
* Version Independent ID: a4cf7710-8d9c-9157-a9b8-0d14198af7df
* Con

[2022-07-04 03:34] VikasPullagura-MSFT commented on #95225
@ZHIXIN-SUN
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-07-04 03:34] PriyankaRudramaina commented on #95225
@ZHIXIN-SUN,

Thank you for your feedback. We will investigate and update the thread further.

[2022-07-04 03:34] VikasPullagura-MSFT commented on #95225
@andysports8
Can you please check and add your comments on this doc update request as applicable.

[2022-07-04 03:42] ZHIXIN-SUN commented on #95225
If there is any unclear, you can take it below as a reference.
![image](https://user-images.githubusercontent.com/58249056/177077583-725ecd22-a13a-4659-8eed-d3accfec51f4.png)

In EASv4-series, there was a cache size. But in Ebdsv5-series, there is none for this.

[2022-07-04 04:00] CHEEKATLAPRADEEP-MSFT commented on #94184
@Kunwilshire @MyraMa When you create an Event Hub Namespace, you need to set the configuration to **TLS Version 1.0**. Then you can follow the tutorial and connect TecloGenerator app to your Event Hub.

![image](https://user-images.githubusercontent.com/79183421/177079082-5ff5df33-2be7-45b7-a719-052142757790.png)

Before `TLS Version 2.0` , I was experiencing the same issue, when I changed the sec

[2022-07-04 04:00] #94184 closed

[2022-07-04 04:00] CHEEKATLAPRADEEP-MSFT commented on #94602
@MyraMa When you create an Event Hub Namespace, you need to set the configuration to **TLS Version 1.0**. Then you can follow the tutorial and connect TecloGenerator app to your Event Hub.

![image](https://user-images.githubusercontent.com/79183421/177079082-5ff5df33-2be7-45b7-a719-052142757790.png)

Before `TLS Version 2.0` , I was experiencing the same issue, when I changed the security configu

[2022-07-04 04:00] CHEEKATLAPRADEEP-MSFT commented on #94740
@sriiraj  When you create an Event Hub Namespace, you need to set the configuration to **TLS Version 1.0**. Then you can follow the tutorial and connect TecloGenerator app to your Event Hub.

![image](https://user-images.githubusercontent.com/79183421/177079082-5ff5df33-2be7-45b7-a719-052142757790.png)

Before `TLS Version 2.0` , I was experiencing the same issue, when I changed the security confi

[2022-07-04 04:03] venuvinod4477 opened #95226 "Can you please let me know if it was appropriate to give option EnforceCloudPasswordPolicyForPasswordSyncedUsers is user sign-in wizard itself or is it part of Azure Cloud and needs to be managed there itself."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537d-81fc-ccc9-f7f8-1486e71dea62
* Version Independent ID: 8e578d88-8bcb-a229-95f6-10b760d6f563
* Content: [Customize an installation of Azure Active Directory Connect - Microsoft Entra](https://docs.microsoft.com/en-us/azure/active-directory/hybr