[2019-07-23 07:53] CHEEKATLAPRADEEP-MSFT commented on #35646
@joesamraj  Thanks for the question! We are investigating and will update you shortly.

[2019-07-23 07:53] Kh05Y opened #35649 "Missing decommissioned and newer gateway IP for some regions"
Hello,
According to "Azure SQL Database traffic migration to newer Gateways", the below regions will be impacted on September 1, 2019. However there are no new nor decommissioned gateway IP. Is there any delay for these regions?
West Europe
East Asia
West US

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-

[2019-07-23 07:55] iqfy-kyle commented on #18815
Would be really helpful to see this documentation - the above workaround doesn't seem to work for me

[2019-07-23 07:58] cowinr commented on #32759
Sorry I missed your reply, but I think you're wrong. The screenshot shows Actions to take when the user is not authenticated. E.g. 'Log in with Google', 'Log in with Microsoft Account'. However the text underneath the screenshot describes a different set of options, e.g. 'Allow only authenticated requests', 'Allow all requests, but validate authenticated requests'.

[2019-07-23 08:03] chris31389 commented on #35493
@mike-urnun-msft Hi, have you managed to have a look at this request?

[2019-07-23 08:04] MahdeeT commented on #35118
Sorry for delay. Yes I can connect normally to y keyvault using the CMD let specific to key vaults, but using MIS, I can't.

[2019-07-23 08:06] lpozo16 opened #35650 "Inadecuate documentation"
Hi,
I tried this example and it not works. In addition, the example doesn't show the basic use case for a configuration service: getting by a http request the configuration (json/yaml/properties) stored, like ocurrs with Spring Cloud Config. In addition, I can't figure out how to run that use case based on http request.

Equally, there are several repositories/sources that are not listed in this p

[2019-07-23 08:09] benoithamet opened #35651 "Could you please ensure this page is up to date"
Hi there
this page is definitively not up to date; I'm using SCCM to deploy software and it seems there has been agent update since April (for AD DS) and May (for AD FS) as SCCM software center is requesting to install the corresponding agent (3.1.56)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5efdb8-5e17-6502-8e

[2019-07-23 08:14] OffColour commented on #28045
@msrini-MSFT @amitsriva
Any update on this? I don't want to spend time setting up and testing another v2 if this is still an issue.

[2019-07-23 08:15] wolfma61 commented on #35596
Windows 7 is not a supported platform by the SDK

[2019-07-23 08:22] rayne-wiselman commented on #35502
taking this offline by email. #please-close

[2019-07-23 08:22] #35502 closed

[2019-07-23 08:25] shadySirhan commented on #35303
Thanks for your help!

Just to make sure I understand, there is no plans to support 4.7.2 for osFamily=5 right?

Thanks,
Shady

[2019-07-23 08:29] CHEEKATLAPRADEEP-MSFT commented on #35568
Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - MSDN or stack overflow.
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread and post it's link here and tag me. I will now proceed to close this issue. Feel free to comment

[2019-07-23 08:29] #35568 closed

[2019-07-23 08:37] jjindrich commented on #35009
I checked docs again, steps for Windows sink are missing. Please update docs

[2019-07-23 08:47] pareshverma91 opened #35652 "Default value of FD is 5 for vmss created without zones in a region with zones."
Current documentation says that "Virtual machine scale sets are created with five fault domains by default in Azure regions with no zones". But for my vmss that I created without any zones in East US 2, I have fault domain set as 5. I verified that by trying to do a vmss put with platformFaultDomainCount set as 1, and the put fails with error that the fault domain count can't be updated.

---
####

[2019-07-23 08:53] Girishvtm commented on #35547
Update:
Query $filteredUsers = Get-AzureADUser -All $true | Where-Object {$_.extension_06501212d87642ddbcfa35ff22cc0db3_extensionAttribute12 -in "SH0232","SE0001"} took long time to complete, but the output is null(please refer the screen shot).
![powershellResult2](https://user-images.githubusercontent.com/52320284/61697640-53b97800-ad55-11e9-88d4-1d458c7f6df3.png)

[2019-07-23 08:54] jakaruna-MSFT commented on #35561
@genlin I have assigned this issue to you to investigate and update the doc as required.

[2019-07-23 08:54] jakaruna-MSFT commented on #35560
@mries is there any update

[2019-07-23 08:55] jakaruna-MSFT commented on #35530
@trelak
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-07-23 08:55] #35530 closed

[2019-07-23 08:57] jakaruna-MSFT commented on #35435
@vinothinidharmaraj I will close this issue since the resolution is given.
You have opened one more issue here #35433 as the follow up question. We will track the follow up question there.

[2019-07-23 08:57] #35435 closed

[2019-07-23 08:58] #35106 closed

[2019-07-23 09:01] benbelow commented on #35395
@DixitArora-MSFT I'm talking specifically about an example of a timeout longer than 24 hours.

To add a 24 hour timeout, from that example I would have assumed:

"24:00:00" but this will in fact set a 24 day timeout.

The correct syntax for days is "1.00:00:00"

I think that just a reference to Timespan would be enough for people to cross-reference with the timespan documentation - without it it's

[2019-07-23 09:04] vishalaj1 commented on #34443
@ChiragMishra-MSFT

Hi,

Any update on this?

Regards,
Vishal

[2019-07-23 09:09] CHEEKATLAPRADEEP-MSFT commented on #35622
@IXbaalque Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 09:11] alijaafar99 commented on #13064
I have found a way to permanently remove the soft-deleted blobs. first you have to disable the soft-deleted option after that you can select the Blob Containers via Microsoft Azure Storage Explorer then you choose Active and deleted blobs then you first have to undelete the deleted blobs and then remove it again then it is permanently deleted

[2019-07-23 09:11] CHEEKATLAPRADEEP-MSFT commented on #35639
!@wucj Thanks for the question! We are investigating and will update you shortly.

[2019-07-23 09:15] ChiragMishra-MSFT commented on #34443
@vishalaj1 It looks like its expected behavior to see files only(and not subfolders) when you filter using modifiedTime.

@linda33wj To provide more information.

[2019-07-23 09:23] hbagarich commented on #35586
I have come across the same issue while deploying the AKS cluster using ARM template.
Is it important which account tries to run ARM template? What are the permissions in AD required to deploy AKS cluster?

[2019-07-23 09:41] assofohdz opened #35654 "Exclude users gone ?"
Hi
We have a few service principals that we need to exclude before enabling this policy, how do we do that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c08f708d-bd04-a587-65c5-78a5f02adebc
* Version Independent ID: 7c277e69-3e43-8542-03db-2d4a23dd5442
* Content: [Baseline policy End user protection (preview) - Azur

[2019-07-23 09:41] ram-msft commented on #35379
@thecpshah We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 09:41] #35379 closed

[2019-07-23 09:45] rudolfdobias commented on #35586
My role is Global Administrator.
I tried everything ten times, even with your default values. It always waits for ~5 minutes and then fails.

After couple of hours I tried to assign Owner role over my whole subscription to AzureContainerService (represented as objectId "yyy" in posted error) and then it worked. The service clearly did not have rights to contribute to the MC_*resource_group which i

[2019-07-23 09:52] assofohdz commented on #35654
I just read in the FAQ that this is by design

[2019-07-23 09:52] #35654 closed

[2019-07-23 09:54] sheighes commented on #29913
@YutongTie-MSFT Am I missing something too? I couldn't get this sample file to work either but the reply does not give an answer.

[2019-07-23 09:56] DixitArora-MSFT commented on #35395
@benbelow  I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 09:56] #35395 closed

[2019-07-23 10:02] SadiqhAhmed-MSFT commented on #35475
@momoegg Any details you could provide would help us assist you better on this issue.

[2019-07-23 10:03] SadiqhAhmed-MSFT commented on #34592
@dhirajgandhi Thanks for confirming.

@MartijnElfers We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 10:03] #34592 closed

[2019-07-23 10:08] MohitVerma-MSFT commented on #34005
@guptamayank0912 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 10:08] #34005 closed

[2019-07-23 10:20] Rajeswari-Mamilla commented on #35475
@momoegg Checksum for 9.26 OVA template is dc4953d7975e3e85c9e23cdbb01ebeda

[2019-07-23 10:22] RohitMungi-MSFT commented on #35633
@zhenyufu market codes that are supported are the ones documented in this [page](https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-spell-check-api-v7-reference#market-codes). The language support page lists all supported languages along with which the mkt code needs to be set in the query parameter of your request if language is other than en-US.

[2019-07-23 10:23] tal1dick opened #35656 "MSI support for on-demand HDInsight cluster"
It would make sense to add the ability to trigger on-demand HDInsight clusters using the MSI of the data factory instead of a service principal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc24ebe8-5309-3143-ae92-41b6a5150cf6
* Version Independent ID: d0e667a5-9160-73ce-2d29-156915b60a83
* Content: [Tutorial: Create

[2019-07-23 10:24] Jaffacakes82 commented on #29197
What did you do with your organisation admin to resolve this?

[2019-07-23 10:25] RohitMungi-MSFT commented on #35644
@neville-nazerane Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-23 10:27] SadiqhAhmed-MSFT commented on #28955
@pvrk Thanks for your time.

@andrewatfornax We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 10:27] #28955 closed

[2019-07-23 10:27] sandereek opened #35657 "This script errors out on the last line"
New-AzDisk : Resource group 'rg_tools' could not be found.
ErrorCode: ResourceGroupNotFound
ErrorMessage: Resource group 'rg_tools' could not be found.
ErrorTarget:
StatusCode: 404
ReasonPhrase: Not Found
OperationID : 65d6edc3-da3d-41bf-9f8d-2b72cb278481
At line:17 char:1
+ New-AzDisk -Disk $diskConfig -DiskName $managedDiskName -ResourceGrou ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-07-23 10:29] PramodValavala-MSFT commented on #35469
@IanKemp I've tried the same command that @KetanChawda-MSFT has tried and can confirm that it works. Also, I'm using func version `2.7.1158` for reference.

Also, could you share the logs that you see from the running `func start` command?

[2019-07-23 10:30] wolfma61 commented on #35644
thank you - we will fix this with the next release/update of the samples

[2019-07-23 10:39] AjayKumar-MSFT commented on #34919
@theav8or, Just checking if the suggestions posted above helps or you need further assistance on this issue.

[2019-07-23 10:40] CHEEKATLAPRADEEP-MSFT commented on #35656
@tal1dick **Note:** On-demand HDInsight feature of Azure Data Factory currently requires a Service Principal Id. This is a limitation of Azure Data Factory and not of HDInsight, which does support cluster creation using managed service identities.

For more details, refer “[Azure Services that support managed identities for Azure Resources](https://docs.microsoft.com/en-us/azure/active-directory/m

[2019-07-23 10:44] SadiqhAhmed-MSFT commented on #35570
@tfitzmac Thanks for sharing the update.

@codlocker We will now close this thread. Feel free to reach out to us if you've any further questions in this matter.

[2019-07-23 10:44] #35570 closed

[2019-07-23 10:49] CHEEKATLAPRADEEP-MSFT commented on #35642
Please help with the link of document on which above document feedback request is created.
In case your query in not related to document content, open a new forum thread in [MSDN](https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1556081703&rver=6.7.6640.0&wp=MBI_SSL&wreply=https:%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread%3Fprof%3Drequired%26stoAI%3D10&id=254354) or [Sta

[2019-07-23 10:50] SychevIgor opened #35658 "Update information about AzCopy default installation directory to address v10"
If shortly, azcopy v10 it's just a binary that can be downloaded and run from any location.
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10
please, either add information that this folder is default for azcope-someoldversion or rewrite this statement to address azcopy v10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-07-23 10:50] SychevIgor commented on #35658
![image](https://user-images.githubusercontent.com/578954/61706465-d7249a80-ad50-11e9-9de8-3a996c12fc48.png)

[2019-07-23 10:52] IanKemp commented on #35469
Azure Functions Core Tools (2.7.1434 Commit hash: eac7c2888f315da0f2b51831b47f134330b501fd)
Function Runtime Version: 2.0.12555.0

I am not using `func start` but simply Debug > Start from within VS2017. I assume the logs you're asking for are from the `func.exe` console window that appears when I do that, if not please advise.

---
PowerShell invocation:

[code]

func.exe output:

[code]

---
Pow

[2019-07-23 11:08] CHEEKATLAPRADEEP-MSFT commented on #35649
@Kh05Y  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-23 11:10] #35563 closed

[2019-07-23 11:17] dcurwin commented on #35205
@SadiqhAhmed-MSFT  - Please have @sachdevaswati be the only person assigned to this issue. Thanks.

[2019-07-23 11:17] dcurwin commented on #35251
@SadiqhAhmed-MSFT - Please have @sachdevaswati be the only person assigned to this issue. Thanks.

[2019-07-23 11:18] dcurwin commented on #33223
@SwathiDhanwada-MSFT  Please have @pvrk be the only assignee on this issue. Thanks.

[2019-07-23 11:19] dcurwin commented on #35256
@SwathiDhanwada-MSFT  Please have @GeethalakshmiG  be the only assignee on this issue. Thanks.

[2019-07-23 11:30] Dottn opened #35660 "PAP authentication and special characters"
We want to keep PAP so code based MFA still works.
We are experiencing an issue where users with certain special characters in their passwords are being denied access.
My research shows that this is most likely due to a limitation in NPS, where the deciphered password is treated as ASCII and not UTF-8, misrepresenting characters such as £, Æ, Ø, and Å.

If ms-chap-v2 had supported SMS or code auth

[2019-07-23 11:36] Dottn commented on #35660
These authentication errors show as generic `NPS Extension for Azure MFA:
NPS Extension for Azure MFA only performs Secondary Auth for Radius requests in AccessAccept State. Request received for User username with response state AccessReject, ignoring request.` errors in NPS server logs, as the password is "wrong" due to charset limitations.

[2019-07-23 11:40] SnehaAgrawal-MSFT commented on #29343
@gtrevi Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-23 11:58] buildbod commented on #35202
Actually I think you can close this one as I am now struggling to reproduce it. Sorry for wasting time. I was using Edge at the time.

________________________________
From: Peter Turcan <notifications@github.com>
Sent: 22 July 2019 21:23
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Denton, Simon A <Simon.Denton@mottmac.com>; Mention <mention@noreply.github.com>
Subject: Re: [M

[2019-07-23 11:59] unkn0wnvariable commented on #35143
Log Analytics workspace names have to be unique across the whole of azure, rather than just the current subscription/tenant, so doing something like adding a random number to the end of the name will resolve this problem. For example, if I put the name as testLogAnalyticsWorkspaceName68163 then that is accepted and the workspace will deploy OK. The error returned could really do with making that c

[2019-07-23 12:13] wolfma61 commented on #24842
is your issue still that you can't compile it with x64 and complains about 'anyCPU'

this issue I can't reproduce. I can create a web api project in VS, add the speech nuget project, change compilation to x64 in the configuration manager, and compile

[2019-07-23 12:29] jgratka commented on #14765
I just got same issue, i can't see data on AzureDataFactoryAnalytics(OMSName) and i don't see any data when i'm quering for them.

[2019-07-23 12:31] bluetrane opened #35661 "personName entity not being recognized in LUIS portal and unable to manually label it"
I have created 10+ utterances in the console for an intent I'm working on. My goal is to recognize the name of a doctor when someone asks for it. When using phrases like "I'm looking for a doctor named John Smith" the name is automatically labeled with the prebuilt personName entity. However, any other phrase that does not have the word "called" or "named" in it does not pick up the personName ent

[2019-07-23 12:36] PramodValavala-MSFT commented on #35469
@IanKemp You need to pass a body as well with a payload formatted as mentioned earlier

[code]

[2019-07-23 12:39] don4of4 commented on #35624
@Grace-MacJones-MSFT Did you mean to tag me?  I think you were going for @DonFrazier?

[2019-07-23 12:41] jiwen-wu commented on #35596
Thank you for the update.

Kevin Wu

From: Wolfgang Manousek <notifications@github.com>
Sent: July 23, 2019 4:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kevin Wu <KWu@peo.on.ca>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] When tried in my windows 7 with visual studio professional 7, got the following error: The procedure entry point Cre

[2019-07-23 12:46] jszanto commented on #35411
For now I am not having any issues, however the bug in which you get an unauthorized response whenever your image doesn't exist is kind of annoying. It makes debugging things quite difficult.

[2019-07-23 12:46] PramodValavala-MSFT commented on #35382
@jovabel Just following up here... Hope my previous comment clears things up.

[2019-07-23 12:47] StefanSchoof commented on #23361
@jpetitte In terraform you can get the primary_web_endpoint with the storage account data source https://www.terraform.io/docs/providers/azurerm/d/storage_account.html#primary_web_endpoint

[2019-07-23 12:48] wennemer commented on #35589
Problem solved!
Recompiling and manual copying to destination folder

[2019-07-23 12:48] #35589 closed

[2019-07-23 13:03] OffColour commented on #28045
I just tested it. Still doesn't work. Can this be passed to the product team please?
If ignore_invalid_headers remains turned on in v2 then we can't migrate away from v1

[2019-07-23 13:04] marrichamsft commented on #35519
It was one of the steps from here and had some extra stuff like creating a few directories:

https://review.docs.microsoft.com/en-us/azure/iot-pnp/quickstart-create-pnp-device

The one you linked is much clearer although the CMAKE section could use the same treatment as the section below (which is really well done with complete paths and a screenshot with the directory shown).
____________________

[2019-07-23 13:06] sgdesmet opened #35662 "Missing metadata values OIC Provider"
Based on some trial-and-error it seems we can use following metadata parameter to the the access token authentication method to `client_secret_basic` from the default `client_secret_post`:

[code]

Could this and other 'hidden' parameters be added to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb

[2019-07-23 13:10] hammer5280 commented on #34364
Any update on Kudu/SCM access and the dns wildcard entry working as described?  We are looking to cut down on DNS overhead and are hopeful that dns wildcard entry "*" will allow for dns resolution for hosted apps on the ILB-ASE.

[2019-07-23 13:13] SogoGolf commented on #33589
Same as @bojingo. I came here expecting that info in docs. Look forward to seeing this updated.

[2019-07-23 13:22] garybushey opened #35663 "Error creating registration definition"
I get "The PrincipalId '3kl47fff-5655-4779-b726-2cf02b05c7c4' must be a valid Guid." when I run the ARM Template.  Any ideas what could be the issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b3d055aefb03
* Content: [Onboard a c

[2019-07-23 13:24] joelbloch opened #35664 "broken link for DeployZipUI ?"
I created a web app, and tried to access https://&lt;webappname&gt;.scm..azurewebsites.net/ZipDeployUI as indicated, but I got a 404 error.
Is this method of dowloading zip file deprecated?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce674e6-fcb7-a867-2a74-f28f6a1b0204
* Version Independent ID: 461fc0b5-ac32-54b8-c

[2019-07-23 13:30] vhorne commented on #30279
A work item for this has been created in the backlog.
#please-close

[2019-07-23 13:30] #30279 closed

[2019-07-23 13:32] CHEEKATLAPRADEEP-MSFT commented on #35647
@pmeuser  Thanks for the question! We are investigating and will update you shortly.

[2019-07-23 13:34] CHEEKATLAPRADEEP-MSFT commented on #35648
@nikesh-dev  Thanks for the question! We are investigating and will update you shortly.

[2019-07-23 13:37] CHEEKATLAPRADEEP-MSFT commented on #35650
@ Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 13:40] CHEEKATLAPRADEEP-MSFT commented on #35651
@benoithamet  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-23 13:42] CHEEKATLAPRADEEP-MSFT commented on #35652
@pareshverma91  Thanks for the question! We are investigating and will update you shortly.

[2019-07-23 13:43] msimecek commented on #35625
Yes, works now 👍

[2019-07-23 13:43] k7faq opened #35665 "Password not allowed?"
I am greatly confused by the documentation on this page. Each time I execute the following (as noted in this document as an "example") `az ad sp create-for-rbac --name &lt;appName&gt; --password &lt;strong password&gt;` ... I am greeted with

[code]

Furthermore, I am even more confused as to the absence of the `--password` option in the help:

[code]

Could someone please help me understand how t

[2019-07-23 13:48] MGoedtel commented on #35636
@daveRendon - I see it and am fixing it now.  Updated article will go live later today.  Thanks! #please-close

[2019-07-23 13:48] #35636 closed

[2019-07-23 13:50] jraristi opened #35666 "Further Information about Scaling Out"
We are using Azure SignalR with a C# Hub which will be deployed in Kubernetes.

One big question that we are not able to answer after reading the documentation is, how does it really scales-out concerning the Hub instances?

All the documentation we have seen as examples, only show one Hub instance implementation.

Does Azure SignalR works as a Load Balancer between the instances?

---
#### Docume

[2019-07-23 13:56] MysticRyuujin opened #35667 "MSCloudIdUtils should not be in this tutorial"
`Install MSCloudIdUtils`

First, this is not an official module. It appears to have no source code control as the project page leads to a random employee/person's personal GitHub.

Second, that module is old, has bugs, and adds unnecessary complexity. There are far less complex ways to acquire a token from a certificate.

`https://twitter.com/mysticryuujin/status/1153499433193136129`

---
#### Doc

[2019-07-23 14:02] mingdee commented on #29450
I got a different answer from the Azure support that if I send 128 bytes per message, I could send 1280 calls per second for a throttling limit of 160KB/s/unit. So which one is right? And btw 40 calls/s for 128 bytes is awfully small.

Got it, thx.

[2019-07-23 14:07] #32329 closed

[2019-07-23 14:13] gabrielanimas commented on #35439
How does it need to be configured in web apps?  I already make a custom domain and added it to my DNS:
traffic.mydomain.com CNAME mywebapp.trafficmanager.net.

However, I'm not given an option to add that as a custom domain in my app service

[2019-07-23 14:20] jnxxx opened #35668 "IP address space on subnet is fixed /64"
Currently when I enable IPv6 on a subnet, it will accept only a /64 address space.
Is this by design, or just limitation in preview?

Although IPv6 allows for many IPs, it seems to be an awful lot IPs to waste for example in an small application subnet etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747960d4-d025-3

[2019-07-23 14:27] tal1dick opened #35669 "MSI support for on-demand HDInsight cluster"
It would make sense to add the ability to trigger on-demand HDInsight clusters using the MSI of the data factory instead of a service principal.

[2019-07-23 14:31] NavtejSaini-MSFT commented on #35264
@abbasalialoc The Document has been updated and incident has been closed.

[2019-07-23 14:37] CeciAc opened #35670 "Issue regarding subscribing to feed"
@StephanElst commented on [Tue Jul 23 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/465)

When clicking the button  subscribe to subscribe to a feed the application reports an error. This error reads: Something went wrong.
This issue pops up several times online, but without an adequate answer.
found that the application checks the certificate store. If the user deletes the non-re

[2019-07-23 14:38] CeciAc commented on #35670
Hi team
I'm not sure if this goes here, it looks like an functionality issue

[2019-07-23 14:40] CHEEKATLAPRADEEP-MSFT commented on #35669
Duplicate of #35656

[2019-07-23 14:48] StephanElst commented on #35670
We found the problem to be related to a certificate that is a long numerical string and  it's issuer is ms-organisation-acces. Deleting this fixes the issue.

[2019-07-23 14:49] SumanthMarigowda-MSFT commented on #35266
@nasantia We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 14:49] #35266 closed

[2019-07-23 14:51] sujayt commented on #35358
You do not need the VHD uri and RecoveryAzureStorageAccountID for managed disk VM scenario. Please follow the specific steps in the below section of the article.

https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-powershell#replicate-azure-virtual-machine

Sample disk config below (already mentioned in the article)
$OSDiskReplicationConfig = New-AzRecoveryServicesAsrAzureToAzureD

[2019-07-23 14:54] prajster commented on #35358
It may not be needed, but the last command fails as these two values are empty. 

Sent from Yahoo Mail for iPhone

On Tuesday, July 23, 2019, 8:21 PM, sujayt <notifications@github.com> wrote:

You do not need the VHD uri and RecoveryAzureStorageAccountID for managed disk VM scenario. Please follow the specific steps in the below section of the article.

https://docs.microsoft.com/en-us/azure/site-

[2019-07-23 14:58] SumanthMarigowda-MSFT commented on #35377
@Jayesh040
 AzCopy on Linux. AzCopy is a command line data transfer utility designed to move large amounts of data to and from Azure Storage with optimal performance. It is designed to handle transient failures with automatic retries, as well as to provide a resume option for failed transfers. This general availability release includes new and enhanced features, as well as performance improvements

[2019-07-23 15:00] KrishnaG-MSFT commented on #35582
@janus-christensen Closing this issue as we have updated the document as required.

[2019-07-23 15:00] #35582 closed

[2019-07-23 15:09] g-kannan opened #35671 "AG Creation with Existing Domain Controller-GUI"
Would it be possible to fetch Domain & VNET details from an existing VM(Domain Controller) in the GUI template itself? Added a screenshot for your reference. The PowerShell way seems to take considerable amount of time to setup with an existing DC.

Also not sure if everyone uses this template because most Customers already have an DC setup and post which they host\migrate SQL Server VM
![AG_Confi

[2019-07-23 15:28] mordaskyt opened #35672 "These options are grayed out in the Azure panel"
The options shown for custom smart lockout cannot be changed in the screen shown, all are grayed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c7b90ca-a2b1-9cd8-9769-cd48c27f10ea
* Version Independent ID: b8c29389-c435-b2f0-4186-1e9c47ab4f3e
* Content: [Preventing brute-force attacks using Azure AD smart lockout

[2019-07-23 15:29] Alberto-Vega-MSFT commented on #35539
@Potapy4 Thanks for your contribution!

[2019-07-23 15:32] jhakulin commented on #35466
For conversation transcription, it is recommended to use ROOBO dev kit or Azure Kinect DK.
See conversation transcriber samples under Speech Devices SDK samples for bot of those (Android, Windows and Linux)
https://github.com/Azure-Samples/Cognitive-Services-Speech-Devices-SDK/tree/master/Samples

@Weatwagon, how did you created voice signatures ? how about 8-channel audio ? Could you share those

[2019-07-23 15:37] Grace-MacJones-MSFT commented on #35624
sorry about the mixup @don4of4 . I wanted to tag @DonFrazier

[2019-07-23 15:38] mamccrea commented on #35605
There was regression in Scala 2.11.12. The regression affected runtime 5.3 and 5.4, but should have been fixed in 5.5. @xieb0001 , did you happen to test 5.2?

[2019-07-23 15:39] Grace-MacJones-MSFT commented on #35664
Hi @joelbloch, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 15:48] Grace-MacJones-MSFT commented on #35666
Hi @jraristi, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-07-23 15:48] RohitMungi-MSFT commented on #35634
@areddish We can confirm that this issue occurs with the latest version of the [package](https://www.npmjs.com/package/azure-cognitiveservices-customvision-training/v/3.0.0). Does the recent [migration](https://github.com/Azure/azure-sdk-for-js/blob/master/documentation/Migration.md) of nodejs packages to JS packages causing the issue?

[2019-07-23 15:50] sjatnieks commented on #30811
Hi,

I'm using Postman to try to call the Analyze API and I'm getting the same error message (Resource Not Found).  I've double checked my model ID and the subscription key and they are accurate.  I can call the other APIs (Get Models, Get Model, etc) without any problem.  I suspect it might have something to do with the file I am trying to include in the body (posting as binary data).  Are there

[2019-07-23 15:51] jluk commented on #35112
@sauryadas can you please look into this China specific issue?

[2019-07-23 15:55] jluk commented on #35116
@dpatrickx you are correct, we now support a cluster autoscaler setting per node pool. We are in the process of fixing/refactoring all the docs for this and can add in more of the details.

You are able to select specific scale operations per nodepool now, these will abide by min/max pods per nodepool as long as it has been enabled for it. When using multiple nodepools you'll need to specify which

[2019-07-23 15:57] antstanley opened #35673 "Documentation not reflective of the @azure/cosmos v3 API's"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-23 15:58] artisticcheese opened #35674 "Are join queries are supported in Azure Resource Graph?"
Why for tying IP address to Virtual machine it was required to use CLI and intermediate file instead of joining Network Interfaces table with publicIPaddresses directly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6215348-a08e-86bc-a329-295a233b880e
* Version Independent ID: e69d4508-fda7-1f35-fa71-af4eba4098f2
* C

[2019-07-23 15:58] #35673 closed

[2019-07-23 15:58] DonFrazier commented on #35624
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-microsoft
On this page, the bullet below has a My Applications link that sends you
[cid:image001.png@01D54134.60AA8370]

to

[cid:image002.png@01D54134.60AA8370]

Don.Frazier@xbox.com<mailto:Don.Frazier@xbox.com> | 425.421.6916<http://aka.ms/donfr> | Deut 8:18<https://www.biblegateway.com/passage/?search=deuterono

[2019-07-23 15:59] YutongTie-MSFT commented on #35661
@bluetrane Thank you for your feedback, we will investigate and get back to you soon.

[2019-07-23 16:00] sujayt commented on #35358
Were you able to construct Disk config for managed disk using "New-AzRecoveryServicesAsrAzureToAzureDiskReplicationConfig" and pass that as input to New-ASRReplicationProtectedItem cmdlet for -AzureToAzureDiskReplicationConfiguration parameter?

[2019-07-23 16:07] iainfoulds commented on #35409
Okay, but *what* specifically are you trying to do and where are you running into problems? This example in the doc simply shows using LDP.exe, but the reality is that you'd probably have a web application that needs the certificate applied and trusted. So trying to show examples for the different scenarios, web servers, application languages, etc. is tough to cover all those common scenarios.

I

[2019-07-23 16:09] Heidilohr commented on #35471
Hi, @Kjeanclaude. I'm currently asking the product team about this. I'll get back to you when I have an answer for your question. Thank you for your patience.

[2019-07-23 16:10] chrisgreen500 commented on #30019
I can vouch for this issue. It has just cost me a day, trying to figure out why when I'm trying to decrypt the application parameter it was not able to find the certificate. The following error was showing in the log:

EXCEPTION: System.Fabric.FabricException: An error occurred during this operation.  Please check the trace logs for more details. ---> System.Runtime.InteropServices.COMException: C

[2019-07-23 16:11] MicahMcKittrick-MSFT commented on #35303
@shadySirhan no plans at the moment to have it pre-installed. You can still install manually if you need it though.

[2019-07-23 16:17] antstanley opened #35676 "Documentation does not reflect the NodeJS @azure/cosmos v3 SDK"
Some of the API's for the @azure/cosmos sdk have changed between v2 and v3.

Notably in the queryIterator class, which no longer supports .toArray(), which is used all over the documentation.

The documentation says the following methods are public methods of the class `queryIterator`

current()
executeNext()
forEach()
getAsyncIterator()
hasMoreResults()  
nextItem()
reset()
toArray()

but inspect

[2019-07-23 16:18] Alberto-Vega-MSFT commented on #35533
@Shri-Humrudha it seems like you were trying to share an image? It is not rendered correctly

[2019-07-23 16:19] Karishma-Tiwari-MSFT commented on #35657
Thanks for the question! We are currently investigating and will update you shortly.

[2019-07-23 16:22] Karishma-Tiwari-MSFT commented on #35671
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-23 16:22] blouwagie opened #35677 "available now?"
When you say "new role available now" please add the date instead of now, as this article will exist beyond "now"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad8e93b0-2d8b-68c0-62ee-be44831b1557
* Version Independent ID: b55939f9-e552-9818-80b7-535601d4bc7b
* Content: [How to manage stale devices in Azure AD](https:

[2019-07-23 16:26] sandereek commented on #35657
Hi, I found out that the script works in CloudShell, but not in PowerShell.

[2019-07-23 16:30] SnehaAgrawal-MSFT commented on #35478
@mohamed-shehata-m Thanks for the clarification. Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue, we would like to work closer with you on this matter.
Since we will work with you offline, we will now proceed to close this thread.

[2019-07-23 16:30] #35478 closed

[2019-07-23 16:38] Ellenprater opened #35678 "ARP tables can be viewed in the portal"
ARP tables are now viewable in the portal. You do not have to run powershell to get this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd9af8e0-c536-5a28-8815-02d2e36b28c1
* Version Independent ID: de354dad-94c4-b91b-b712-bad104bbf90f
* Content: [Get ARP tables - Troubleshooting - ExpressRoute: Azure](htt

[2019-07-23 16:41] Karishma-Tiwari-MSFT commented on #35657
Please check if you have the latest Azure CLI version installed in Azure powershell.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-07-23 16:43] sandereek commented on #35657
Hi, we were using PowerShell Core 6 when we got the error message.

[2019-07-23 16:45] Karishma-Tiwari-MSFT commented on #35657
You can check the Azure cli version by running the command: az --version

[2019-07-23 16:46] cherylmc commented on #34605
Hi! I'll take this as a doc bug and update. Thanks for calling it out!

[2019-07-23 16:46] cherylmc commented on #34605
#please-close

[2019-07-23 16:46] #34605 closed

[2019-07-23 16:49] sandereek commented on #35657
Hi, we were not using Azure cli. Not installed on the system. We used PowerShell Core 6 which gave an error and later Azure  CloudShell and there it worked.

[2019-07-23 16:51] MrRitt commented on #33641
Can the wording be updated to reflect what's on the other page?

From:
Maximum number of VMs (includes peered VNets) that can connect to a volume

To:
The number of IPs in use in a VNet with Azure NetApp Files (including peered VNets) cannot exceed
https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-network-topologies#considerations

VMs can have multiple IPs bound to a sp

[2019-07-23 16:58] ntap512 commented on #33641
@MrRitt good catch, we'll get it updated.

[2019-07-23 17:01] zhenyufu commented on #35633
Is `mkt=pt-PT` supported ? It's not listed under market codes here: https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-spell-check-api-v7-reference#market-codes
But it's listed under supported languages

[2019-07-23 17:01] normesta commented on #34113
Thank you for reporting this. I fixed this link and the content will show the fix in our next refresh (afternoon).

Thx again!

[2019-07-23 17:02] Grace-MacJones-MSFT commented on #35665
Hi @k7faq, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2019-07-23 17:03] cherylmc commented on #34605
This has been updated and will publish shortly. #please-close

[2019-07-23 17:04] MicahMcKittrick-MSFT commented on #35009
@cynthn do you know who I can assign this to? Appears the author of this doc and the Linux ones are not part of the azure-docs repo

[2019-07-23 17:05] MicahMcKittrick-MSFT commented on #35411
I am not seeing any issues at this time.

For anyone that is, feel free to reach out to me via AzCommunity@Microsoft.com and provide me with your Azure SubscriptionID and link to this issue. I can then enable you for a free support request to have this looked into further.

[2019-07-23 17:05] #35411 closed

[2019-07-23 17:05] sachdevaswati commented on #35251
the sentence is in context of SQL 2008 and 2008 R2 only which is in preview. The whole bullet point is as follows:

Specifically for SQL 2008 and 2008 R2, add registry key to enable server registration. This step will be not be required when the feature is generally available.

[2019-07-23 17:06] YutongTie-MSFT commented on #35625
@kmansel We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 17:06] #35625 closed

[2019-07-23 17:07] toryb opened #35679 "No instructions to update Program.Main() to call BasicSamples.RunSamples()"
This article is missing the necessary instructions to make sure Program.Main() creates and calls BasicSamples.RunSamples(). Following these instructions simply results in  "Hello World!" being displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef1295f9-eab5-8918-ab99-3a20b8723805
* Version Independent ID: 0e551c

[2019-07-23 17:07] sachdevaswati commented on #35205
Not supported yet, will be available shortly.

[2019-07-23 17:07] robinsh commented on #33973
@cocowalla The article has been updated with this info as well as more about throttling. Let me know if your questions have been answered and we can close this.

[2019-07-23 17:09] toryb opened #35680 "Common.cs instructions are not complete"
This article does not include the necessary using statements to make the Common class compile. Please show the entire class file, or update the class file before adding the two static methods.

Required:
using Microsoft.Azure.Cosmos.Table;
using System;
using System.Threading.Tasks;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-07-23 17:09] robinsh commented on #29450
The answer I provided came straight from the product team. I would really on that being the right answer.

If you additional questions, please let us know. If we don't hear anything in a few days, we will close this issue. (It can always be reopened.)

[2019-07-23 17:09] sauryadas commented on #35112
I will follow up with the Shanghai team but it looks like this a cli regression and should be filed in the Az CLI [repo](https://github.com/Azure/azure-cli/issues)

[2019-07-23 17:10] sasha-melamed opened #35681 "The OS disks are affected if they are Ephemeral -- needs to be corrected"
Deallocating the VM releases any dynamic IP addresses assigned to the VM. The OS and data disks are not affected. -- only if this is not Ephemeral OS Disk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c823b1f-688f-e1b9-1590-92d12c28b138
* Version Independent ID: ac483660-9046-51b6-b678-4e6f5cd15e74
* Content: [Use Po

[2019-07-23 17:13] MicahMcKittrick-MSFT commented on #35586
@rudolfdobias the only thing I can really think of is if the command in the doc did not work as expected

az role assignment create --assignee <appId> --scope $VNET_ID --role Contributor

I have ran through this doc a couple of times now and don't get an error. That being said, I have done other AKS related items so it's possible my permissions were already configured correctly.

I am also followi

[2019-07-23 17:13] #35586 closed

[2019-07-23 17:15] kmansel commented on #35625
Awesome.  Working now for me as well through .netcore on macOS.  Thank you for the quick resolution.  👍

[2019-07-23 17:16] georgewallace commented on #35009
@johnkemnetz, Can you assist or have someone that can assist. It looks like the Windows doc does not have parity with the [Linux version](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/diagnostics-linux#protected-settings).

[2019-07-23 17:20] MicahMcKittrick-MSFT commented on #35652
@pareshverma91 not sure the issue you are trying to convey. In the doc, we specify that the default is 5

![image](https://user-images.githubusercontent.com/32313503/61732787-425f7400-ad33-11e9-82e5-c5a2f01cd8c4.png)

You cannot modify the fault domain count after a VMSS has already been provisioned.

[2019-07-23 17:24] robinsh commented on #10995
Hi @iAmBipinPaul Thanks for your feedback. I talked to the PM who owns the Raspberry Pi web simulator. He said they have no plans at this time to add support for C#.

[2019-07-23 17:25] rohitnayakmsft commented on #35649
I have updated the docs and submitted the PR. Please close this item out for me since I am unable to do so.

Rohit Nayak
Sr. Program Manager – SQL Db Security Team

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Tuesday, July 23, 2019 4:09 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Rohit Nayak <Rohit.Nayak@microsoft.com>; Assign <assign@noreply.github.com>
Su

[2019-07-23 17:29] AshokPeddakotla-MSFT commented on #34866
@viv-liu Could you please check this issue and update the doc if needed.

[2019-07-23 17:34] AshokPeddakotla-MSFT commented on #34875
@kgremban Could you check this issue and update the doc?

[2019-07-23 17:34] MicahMcKittrick-MSFT commented on #35094
@tkumark there should be a counter called Process\% Processor Time which should get you the data you need. However I see that in your example it appears you have that counter in use already and it's not working.

To have this looked into further, I would suggest you open a technical support ticket to have it looked into. If you don't have the ability to open a technical support ticket, you can ema

[2019-07-23 17:34] #35094 closed

[2019-07-23 17:34] joshnoe opened #35682 "Step 18 Error"
The "Copy Data" Activity is now located under "Move & Transform" instead of "Data Flow".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d97ae7-50da-d422-1332-1493c8515b78
* Version Independent ID: a67bb70b-b9de-e726-12a1-50c7c377f13d
* Content: [Incrementally copy a table by using Azure Data Factory](https://docs.mic

[2019-07-23 17:37] PingPongSet commented on #35531
@shashishailaj

Just to check any update on this?

[2019-07-23 17:38] spelluru commented on #32433
@mike-urnun-msft - Yes. It needs an update. I updated the tutorials after I took over the content set. Here is the 1st WCF tutorial.
https://docs.microsoft.com/en-us/azure/service-bus-relay/service-bus-dotnet-hybrid-app-using-service-bus-relay#create-a-namespace.

I will review and update this article soon. Thanks.

[2019-07-23 17:45] MicahMcKittrick-MSFT commented on #35681
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 17:46] SaurabhSharma-MSFT commented on #35667
@MysticRyuujin Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-07-23 17:47] xieb0001 commented on #35605
i've tried 5.5 and 5.2, neither of the version works. All got the same error

On Tue, Jul 23, 2019 at 8:39 AM Mary McCready <notifications@github.com>
wrote:

[2019-07-23 17:48] joshnoe commented on #31094
I don't think this is fixed? Two issues:
1. It explicitly states to check instead of uncheck
2. There's a small spelling mistake: "Fist row only". Not a big deal, but makes it harder to search for in this huge article :)

[2019-07-23 17:50] ahyerman commented on #33966
@yiikou you should be able to retrieve the estimator through `automl_eclipse_2_0_xgboost.steps[-1][1]` or as @marabout2015 mentioned through named steps `automl_eclipse_2_0_xgboost.named_steps["XGBoostClassifier"]`

The code would look like this:
[code]

[2019-07-23 17:55] PatrickFarley commented on #30811
@githubavi , is the scenario still broken for cURL?

[2019-07-23 17:59] Adam-Smith-MSFT commented on #35658
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-23 18:01] SaurabhSharma-MSFT commented on #35654
@assofohdz Sure. If there are any further questions, please feel free to open a new GitHub issue.

[2019-07-23 18:02] FrankHu-MSFT commented on #35677
@blouwagie Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 18:02] FrankHu-MSFT commented on #35672
@mordaskyt Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 18:02] FrankHu-MSFT commented on #35662
@sgdesmet Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 18:02] FrankHu-MSFT commented on #35660
@Dottn Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 18:05] KranthiPakala-MSFT commented on #35314
@RanjithPC Thanks much for reporting the issue. We have assigned the issue to the content author. They will evaluate and update as appropriate.

[2019-07-23 18:07] #35306 closed

[2019-07-23 18:07] SaurabhSharma-MSFT commented on #35306
@vpatel55 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-23 18:13] artisticcheese opened #35684 "Azure Resource Graph missing some properties of VM objects"
Please see screenshots below where storageprofile for VM is missing value for property called `diskSizeGB`
![image](https://user-images.githubusercontent.com/13176884/61736425-b148c700-ad4b-11e9-86ac-864421e7c233.png)
![image](https://user-images.githubusercontent.com/13176884/61736491-d0dfef80-ad4b-11e9-8fa9-d4031f5b0661.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-23 18:14] satiekue opened #35685 "Github link doesn't work."
Link to github should be https://github.com/microsoft/immersive-reader-sdk/tree/master/samples/advanced-csharp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c033bdd-5d95-61c5-3e60-1642d77e2689
* Version Independent ID: b65b0fd2-8e52-1ba2-c68b-24fe18bcfb5a
* Content: [Tutorial: Launch the Immersive Reader using Node.

[2019-07-23 18:15] sauryadas commented on #35317
From a feature standpoint we require group memberships to span across AAD roles , security groups and distribution groups or simply put groupmembershipclaims : All .. groupmembershipclaims: securityGroups is NOT supported at this time.

[2019-07-23 18:16] iAmBipinPaul commented on #10995
Okay @robinsh!
Thank you for the information!

[2019-07-23 18:20] yzheng-msft commented on #21080
@automationbk Not sure why this question is posted here. But I believe if you try it now, it should work. We have made a lot of process on the module over the past half year.

[2019-07-23 18:21] yzheng-msft commented on #32438
@hilari0n We don't publish the schema. Do you find the documentation here not sufficient?

[2019-07-23 18:21] pumplu commented on #33839
Hi,
The scenario you need to enable is to allow users with AAD account to purchase your SaaS solution from Microsoft Marketplace using AAD account. This will allow Microsoft to properly prepare the billing for the customers. For SaaS application access, allowing users with AAD account to log in enables seamless in product experience for the customer. You can have your own authentication system at

[2019-07-23 18:22] TsuyoshiUshio opened #35686 "Azure Sample doesn't work for Consumption plan"
https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-app-create-dynamic/azuredeploy.json

The template you reference doesn't work now. The root cause is serverfarms is not requesd any more. It might work if you remove serverfarms section since the Consumption Plan is now default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-07-23 18:27] KranthiPakala-MSFT commented on #35682
@joshnoe Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update as appropriate.

[2019-07-23 18:29] msaburnley commented on #34853
Hey @AceMcFlop
I've updated the content and onboarding instructions are now documented. Thanks for your feedback.

[2019-07-23 18:30] Karishma-Tiwari-MSFT commented on #35670
@StephanElst Can you please share where in the doc do you see Subscribe button? If it's not the document referred above, can you please share which doc are you following? Thanks. :)

[2019-07-23 18:39] MicahMcKittrick-MSFT commented on #35317
Thanks @sauryadas

@nromyn I will go ahead and close this. If you have further questions just let us know and we can always reopen and continue the discussion.

[2019-07-23 18:39] #35317 closed

[2019-07-23 18:45] KranthiPakala-MSFT commented on #31094
@joshnoe Thanks for the feedback and pointing this out.

1. _It explicitly states to check instead of uncheck_ - According to the initial issue reported by @Mholsen, the content author @dearandyxu has updated the document to reflect the changes.
Issue reported:  "_When creating the table in step 12, you need to tick off 'First row only'.
The accompanying picture shows 'First row only' as unticked.

[2019-07-23 18:45] himanshusinha-msft commented on #35449
@patrickgalbraith : We need to understand that when we create a global temp table ( its accessible to all the session  ) , but it gets created in the tempdb and not in the regular DB  . So you need to have the required permission on the on the tempdb to read that , but if you try to read the table from a store proc it will work fine .

We are going ahead and closing this issues for now , you can a

[2019-07-23 18:46] AjayKumar-MSFT commented on #35472
You may try to install them via the custom deployment script, take a look at this doc for more details on the topic -https://github.com/projectkudu/kudu/wiki/Custom-Deployment-Script. Also, [Kudu REST APIs](https://github.com/projectkudu/kudu/wiki/REST-API) work on both Windows and Linux automation agents when the target is a Web App on Windows, Web App on Linux (built-in source), or Function App.

[2019-07-23 18:50] sonydogg commented on #27791
I had the same problem until I realized I was following the tutorial documentation exactly. In the service principle creation and role assignment step, the guide gives you a command to create the role assignment for the previously created service principle. The command reuses a variable $mytenantname, which in the previous command was the AzureAD tenant. But in the content of the new-rdsrolleassig

[2019-07-23 18:51] ecfan commented on #31375
#please-close

[2019-07-23 18:51] #31375 closed

[2019-07-23 19:03] msaburnley commented on #34853
#please-close

[2019-07-23 19:03] #34853 closed

[2019-07-23 19:05] markarnolditpro opened #35689 "Is Azure DNS 'required' for apex domains?"
Does this imply that in order to map my @ apex domain to AFD I will have to use Azure DNS?  While I would love to do so, my company controls the DNS zone on internal servers so this isn't an option for me.  Without ability to map the @ apex domain AFD won't work for us.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02

[2019-07-23 19:05] KranthiPakala-MSFT commented on #31094
@joshnoe The PR to fix the typo has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-07-23 19:05] #31094 closed

[2019-07-23 19:09] YutongTie-MSFT commented on #35685
@satiekue
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 19:10] KranthiPakala-MSFT commented on #35682
@joshnoe Yes, I agree with you. The document need an update, even the image has to be changed. Appreciate for taking time and reporting this issue.

We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-07-23 19:11] KranthiPakala-MSFT commented on #35682
@dearandyxu Looks like the document needs to be updated. Could you please take a look into the feedback from @joshnoe?

[2019-07-23 19:16] ecfan commented on #35532
@ewillman, the settings are now back in the portal. :)

[2019-07-23 19:20] mahoekst opened #35690 "Code is not working"
There are 2 issues on this page.

Claim roleClaim = ClaimsPrincipal.Current.FindFirst("roles"); fails if there is no roles claim. This should probably be changed to firstordefault or something to make sure if continues if there are no roles in the claim

and string oid = ClaimsPrincipal.Current.FindFirst("oid"); should be string oid = ClaimsPrincipal.Current.FindFirst("oid").toString();

---
####

[2019-07-23 19:22] Karishma-Tiwari-MSFT commented on #35657
Did you follow the prerequisite of installing the Azure PowerShell module using the instructions found in the [Azure PowerShell guide](https://docs.microsoft.com/en-us/powershell/azure/overview?view=azps-2.4.0)
If not installed already, please try and let me know.

[2019-07-23 19:27] mahoekst commented on #35690
I guess I am mixing asp.net and asp.net core, perhaps clarify or show both pieces of code

[2019-07-23 19:33] Erikre commented on #25113
@bandersmsft - Please review.

[2019-07-23 19:34] Erikre commented on #21126
@bandersmsft - Please review.

[2019-07-23 19:34] Erikre commented on #19918
@bandersmsft - Please review.

[2019-07-23 19:35] Erikre commented on #16738
@bandersmsft - Please review.

[2019-07-23 19:36] PeterTurcan commented on #35202
No problem. Re-open if you do get it back.

[2019-07-23 19:41] gabriel-animas commented on #35439
SOLUTION:

GoDaddy was not pointed to our azure name servers yet.  Once we did that and configured our domain through AZURE DNS and pointed our domain (example.com) to example.trafficmanager.net, everything worked.

I guess, since we added our custom domain names to each application, it was expecting the request to come from our domain name example.com, and not example.trafficmanager.net.

[2019-07-23 19:41] #35439 closed

[2019-07-23 19:43] neilcarden opened #35691 "Office Delve"
Delve isn't listed as either an approved client app, or a policy protected client app, so we're struggling to get this configured on our BYOD devices when the conditional access policy requires either approved or policy protected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Ver

[2019-07-23 19:43] TravisCragg-MSFT commented on #35439
@gabriel-animas Thanks for following up with the solution, I am glad you were able to resolve the issue.

[2019-07-23 19:44] ppavanm opened #35692 "Device Provisioning using DPS"
I saw that this tutorial is showing steps for manual device provisioning but is automatic device provisioning using Azure IoT Hub DPS supported? If yes, is it documented somewhere?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3512ec24-1146-0dc8-4529-80d4770e1ec2
* Version Independent ID: 8abd57ee-a785-4d47-c0e5-6ac71

[2019-07-23 19:47] SaurabhSharma-MSFT commented on #35590
@ad0m You can have to follow the steps as mentioned the document and then you can restart the Azure AD Sync Service as mentioned in the last section of the document - [Start the Synchronization Service](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-change-serviceacct-pass#start-the-synchronization-service).

[2019-07-23 19:47] soumya-batra commented on #34940
Any update on this?

[2019-07-23 19:50] marktab commented on #34771
@YutongTie-MSFT we are removing the information, but @garyericson has been our coach on how to best complete that removal

[2019-07-23 19:55] marktab commented on #34532
@Ayanmullick  Github is not a help support forum

Please direct your questions to this forum  https://social.technet.microsoft.com/forums/windows/en-us/home?forum=winserverpowershell

@ram-msft you may close this ticket

[2019-07-23 19:59] ColbyTresness commented on #35620
This should be assigned to @ahmedelnably

[2019-07-23 20:08] msmimart commented on #30269
#please-close

[2019-07-23 20:08] #30269 closed

[2019-07-23 20:08] MicahMcKittrick-MSFT commented on #34859
@dmarlow we did hear back on this from the Cloud Services product team. When you create a Cloud Service, blank or with a deployment, we create an internal storage account associated to that Cloud Service. When you upload the certs, they are uploaded and encrypted to that internal storage account.

There is no way for you see this storage account. This account also does not show up to our internal

[2019-07-23 20:17] #33966 closed

[2019-07-23 20:22] MicahMcKittrick-MSFT commented on #35681
@sasha-melamed that is true. However we have a separate article for the temp drive

https://blogs.msdn.microsoft.com/mast/2013/12/06/understanding-the-temporary-drive-on-windows-azure-virtual-machines/

Regardless, I will assign to the content author to review and see if we want to add additional details.

[2019-07-23 20:24] DCtheGeek commented on #35684
@artisticcheese I see `diskSizeDB` in Resource Graph Explorer on the VMs I have access to.  Since this isn't a docs issue, but appears to be a support issue instead, please open a ticket with [Azure support](https://azure.microsoft.com/support/options/).  I'll also forward this to the engineers to make them aware.  Thanks for the feedback!

#assign:DCtheGeek

@MicrosoftDocs/azure-cxp-triage Please

[2019-07-23 20:24] #35684 closed

[2019-07-23 20:24] DCtheGeek commented on #35684
#assign:DCtheGeek

[2019-07-23 20:26] b-juche commented on #33566
Thanks, Will (@ntap512).

The [SMB section ](https://docs.microsoft.com/azure/azure-netapp-files/azure-netapp-files-faqs#smb-faqs) of the FAQ article has been updated accordingly.

#please-close Issue 33566.

[2019-07-23 20:26] #33566 closed

[2019-07-23 20:28] DCtheGeek commented on #35674
#assign:DCtheGeek

[2019-07-23 20:29] b-juche commented on #33723
Thanks, Will (@ntap512).

The [SMB section](https://docs.microsoft.com/en-us/azure/azure-netapp-files/azure-netapp-files-faqs#smb-faqs) of the FAQ article has been updated accordingly.

#please-close Issue 33737.

[2019-07-23 20:29] #33723 closed

[2019-07-23 20:32] DCtheGeek commented on #35674
@artisticcheese The article is intended to show how to take information from one query and then use it in another.  This may be useful to those doing multiple steps of querying and stitching things together.  You are correct that the `join` operation from Kusto would make this a single step operation, but Azure Resource Graph doesn't support `join` today. If you have a use case for this, please op

[2019-07-23 20:32] #35674 closed

[2019-07-23 20:33] TravisCragg-MSFT commented on #35663
@garybushey Verify that you copied the correct GUID, and make sure that you are adding a subscription from a different tenant.

[2019-07-23 20:34] MGoedtel commented on #35429
#please-close

[2019-07-23 20:39] northtyphoon opened #35694 "Code snippet is wrong"
&gt;// Upload text to the blob.
&gt; blob.UploadTextAsync(string.Format("This is a blob named {0}", blob.Name));

The above code is missing `await`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3dc128b-0ee5-1344-0034-2fce6960daa4
* Version Independent ID: b2499482-1101-4937-7f34-ad7b9fd9fdc4
* Content: [Authorize acc

[2019-07-23 20:44] garybushey commented on #35663
I did double check the tenantID and it is correct.

Gary A. Bushey
garybushey@gmail.com

On Tue, Jul 23, 2019 at 4:34 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-07-23 20:49] TravisCragg-MSFT commented on #35663
@garybushey The Tenant ID and Principal ID [are different](https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#create-an-azure-resource-manager-template), and it looks like the Principal ID is the one that caused the error. Have you double checked the Principal ID?

[2019-07-23 20:53] spelluru commented on #32433
I am deleting this article and added a redirection to the tutorial:
https://docs.microsoft.com/en-us/azure/service-bus-relay/service-bus-relay-tutorial

[2019-07-23 21:02] b-juche commented on #33641
Thank you @MrRitt and @ntap512.

cc: @lichunli-ms

Changing:
Maximum number of VMs (includes peered VNets) that can connect to a volume    1000
To:
Maximum number of IPs in use in a VNet (including peered VNets) with Azure NetApp Files    1000

Change made through PR 83065.

#please-close 33641.

[2019-07-23 21:02] #33641 closed

[2019-07-23 21:04] StephanElst commented on #35670
I think i either misinterpreted the button on the page or something, but this is feedback regarding the windows virtual desktop preview app for windows 10. Downloadable from this location: https://docs.microsoft.com/en-gb/azure/virtual-desktop/connect-windows-7-and-10

To be sure the subscribe button is in the client.
If this is the wrong place for the feedback can you redirect me to the proper ch

[2019-07-23 21:04] TiagoBrenck opened #35695 "Wrong method name documented"
This document it is mentioning a method called `.WithSignedAssertion()` but this method doesn't exist. I believe it is supposed to be `.WithClientAssertion()`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc3f2cc1-73e4-8d32-bd46-30a84e28f710
* Version Independent ID: 4ccd0fa0-91de-4c53-6a63-3175a433a0df
* Content: [C

[2019-07-23 21:05] xSilverboltx opened #35696 "az aks upgrade and az aks nodepool upgrade"
It would appear that the doc states to run az aks nodepool upgrade which upgrades the vmss node pool but not the managed plane for the cluster.

you still need to run az aks upgrade to update the managed plane of the cluster.

the document doesn't state anything about this. Also if you try to upgrade the nodepool 1 major version past the managed control plane it errors out with an invalid naming c

[2019-07-23 21:07] MarileeTurscak-MSFT commented on #35695
@TiagoBrenck
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 21:10] MarileeTurscak-MSFT commented on #35695
@TiagoBrenck .WithSignedAssertion() should have been added to MSAL 4.1.0 three weeks ago. Are you using the latest version?

Here are the release notes: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases

[2019-07-23 21:10] jwisener opened #35698 "Architecture diagrams"
Do you not have any architecture diagrams that Illustrate, topics subscriptions? We would like to know how brokers interact with the topic queue as well as subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb26ad-3f91-13f4-5827-9dd398412f9d
* Version Independent ID: 1e3dc2ac-1d5e-3da1-7d51-91d36bda14f2
* C

[2019-07-23 21:12] TiagoBrenck commented on #35695
The release was wrong as well. Bodgan has just updated it. =]

[2019-07-23 21:14] karthiksubramanians commented on #34717
Are there any updates to this? @KranthiPakala-MSFT @linda33wj

[2019-07-23 21:16] DCtheGeek commented on #35527
@artisticcheese Thanks for the question!  I'm looking into it with the team and will get back to you shortly.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-07-23 21:19] MarileeTurscak-MSFT commented on #35695
@TiagoBrenck good catch! I created a pull request to fix this https://github.com/MicrosoftDocs/azure-docs-pr/pull/83068

In the future you can feel to make your own PR by editing the doc for these types of changes.

[2019-07-23 21:19] #35695 closed

[2019-07-23 21:19] #35539 closed

[2019-07-23 21:24] dannradkov opened #35700 "Managed disks are only available for LRS and cannot be migrated to ZRS."
That is supported now , right ? If i create a MD i can specify which zone it can reside in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b2f8dc6-6b57-e404-c8e3-a3325a192a2d
* Version Independent ID: 4e43aa22-1b6f-d73e-6f35-bb8e0fc8d29b
* Content: [Build highly available Azure Storage applications on zone-redundant s

[2019-07-23 21:25] TiagoBrenck commented on #35695
Ok, thanks.

[2019-07-23 21:26] qianw211 commented on #33839
#please-close  It seems that question has been answered.

[2019-07-23 21:26] #33839 closed

[2019-07-23 21:27] srini99mkl opened #35701 "Creating a sub-directory in DataLake Store Gen2 using PUT command"
# Azure documentation issue guidance
PUT - command to sub-directory in Data Lake store gen2 filesystem
Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue
PUT command cannot create a sub-directory

I am using Python to create a sub-directory

[2019-07-23 21:27] dmarlow commented on #34859
That's how I imagined it worked, just needed the confirmation. Thanks for digging deep on this one!

[2019-07-23 21:27] #34859 closed

[2019-07-23 21:28] SamaraSoucy-MSFT commented on #35650
@lpozo16 Could you share the specific error you are getting with the Quickstart? If you could post the stack trace that would be extremely helpful in finding the issue.

I'd also appreciate it if you could confirm your goals with going beyond the Quickstart code. Are you trying to retrieve values from Azure App Config directly without using Cloud Config?

[2019-07-23 21:37] femsulu commented on #35402
@JiayueHu can you please review this please?

[2019-07-23 21:38] jtuliani commented on #35251
Sorry, I'm none the wiser. It says 'when the feature is generally available'. But it is completely unclear what 'the feature' refers to. And it is completely unclear what is going to be GA, given that there is no reference to 'preview' anywhere in the page.

[2019-07-23 21:40] robinsh commented on #35139
@xiongyu0523 Hi. I took at look at the MQTT article you're looking at. If I create an outline of the headers, it looks like this:
Communicate with your IoT hub using the MQTT protocol
    Connecting to IoT Hub
    Using the device SDKs
       Migrating a device app from AMQP to MQTT
    Using the MQTT protocol directly (as a device)
        For Azure IoT tools: (not indented)
        For Device Ex

[2019-07-23 21:40] robinsh commented on #35139
#reassign:robinsh

[2019-07-23 21:41] MarileeTurscak-MSFT commented on #35415
Hi @ayprof ,

Thanks for reporting this. Spaces are currently not supported in the URL, though I definitely understand why these would be needed in your situation. There are two things we can do.

1. I suggest for you to report this on User Voice so that the product team can respond to this as a feature request directly. We don't really handle feature requests on Github but we can create work item

[2019-07-23 21:49] cherylmc commented on #35300
I've updated and am waiting for this to publish. The specs have changed for this, so you'll notice it's 20 Gbps for all regions, not just a few.

[2019-07-23 21:50] cherylmc commented on #35300
#please-close

[2019-07-23 21:50] #35300 closed

[2019-07-23 21:55] #35618 closed

[2019-07-23 21:57] TravisCragg-MSFT commented on #35668
@jnxxx This is currently a limitation for preview, I am unsure if this is going to be permanent. If you would like us to change this limit in the future, please [leave your feedback at feedback.azure.com](https://feedback.azure.com/forums/217313-networking).

To update the docs with the current limitations for IPv6, I have assigned the issue to the content author to evaluate and update as appropri

[2019-07-23 21:59] TravisCragg-MSFT commented on #35678
@Ellenprater Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-23 21:59] MicahMcKittrick-MSFT commented on #35434
Worked with @Icandui8 offline :)

To answer for everyone else, yes you can stack the licenees to cover a 32 core machine. This is explained in the FAQ

https://azure.microsoft.com/en-us/pricing/hybrid-benefit/

[2019-07-23 21:59] #35434 closed

[2019-07-23 22:03] TravisCragg-MSFT commented on #35689
@markarnolditpro this does not require to use Azure DNS, but you must use a DNS provider that supports CNAME flattening or DNS Chasing which limits the providers that you can use. If your internal servers cannot support this, then it might not work for you.

If you would like us to change this in the future, please [leave your feedback at the Networking area of feedback.azure.com](https://feedback

[2019-07-23 22:04] femsulu commented on #35403
@ashleywb Are you still experiencing this issue? can you confirm you've followed the instructions on the prerequisite page as stated [here](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-orig/cloud-partner-portal-api-prerequisites)?
![image](https://user-images.githubusercontent.com/34327711/61750731-f32d3980-ad5a-11e9-9a60-5d4b80f4af48.png)

[2019-07-23 22:12] femsulu commented on #35403
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-23 22:12] #35403 closed

[2019-07-23 22:13] Alberto-Vega-MSFT commented on #35473
Hi @shreya6491 was Pat's suggestion useful?

[2019-07-23 22:17] Alberto-Vega-MSFT commented on #35437
@lelopez-io If you created a feedback item please feel free to share the link here. So others coming across this issue will go and upvote it.

[2019-07-23 22:18] iLikeAzureSQL opened #35703 "Filer on String values"
How should we do a string filter ?
neither of these works! (item().LoadType is a filed from my table from DB that I load on a lookup before the filter operation.

@equals(string(item().LoadType),string('F'))
@equals(item().LoadType,'F')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc163f0-2883-6a20-fc06-f84715aa2912

[2019-07-23 22:18] MarileeTurscak-MSFT commented on #35485
Hi @Jackson-Miller ,

I tested on my own tenant and that seems correct. I have reached out to the product team to confirm and will update this thread when I hear back.

[2019-07-23 22:22] Ayanmullick commented on #34532
@marktab , I am seeking roadmap clarity , not help; since Microsoft-demoed cmdlets were missing in the documentation.

[2019-07-23 22:24] Teodelas opened #35704 "Code samples don't work"
The code sample here, https://github.com/Microsoft/Cognitive-Samples-VideoFrameAnalysis/, does not work and is using old Cognitive Services client libraries.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2ca9302-d59a-5bc1-1686-18ddcc1c9d25
* Version Independent ID: 7253f0d3-00ba-22dc-78bc-7fbcfca7d8b9
* Content: [Exa

[2019-07-23 22:36] mike-urnun-msft commented on #35686
Hi @TsuyoshiUshio - Thank you for your feedback! We will review and update as appropriate.

[2019-07-23 22:38] ryanmajidi opened #35706 "404 - Page not found - New VM - Availability Options"
**Submitted to [site feedback](https://github.com/MicrosoftDocs/feedback/issues/1731) by @bgalanis**

Link to article:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/regions-and-availability

Problem:
404 - Page not found

[2019-07-23 22:39] ajaypamarthy opened #35707 "can you please provide azure cli and ARM template example for appgateway v2 version"
I followed the above step to create user-managed identity , keyvault and assign get policy on keyvault and I referred the user-managed identity resource Id in ARM template, but when I validating the template it is falling and it is giving the following error
'UserAssigned' Identity with 'get' access policy to the referenced KeyVault. Please provide so by using top level 'Identity' property on appl

[2019-07-23 22:43] joshnoe opened #35708 "LookupOldWaterMarkActivity doesn't account for TableName"
The `watermarktable` table contains a `TableName` column, implying that this can keep track of multiple tables. However, the `LookupOldWaterMarkActivity` Activity doesn't take this into account, so if multiple tables were used, the wrong watermark value would be retrieved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-07-23 22:45] FrankHu-MSFT commented on #35677
Thanks for letting us know @blouwagie  we're currently looking into this and will update the doc accordingly. I apologize for the poor documentation reading experience. We're looking to improve it every/anyway we can. We'll go ahead and remove that wording.

[2019-07-23 22:46] FrankHu-MSFT commented on #35662
Hey @sgdesmet  I understand the difficulty and issues with trying to implement and work with the technical profiles I'm going to go ahead and forward this information back to our product team. And also see if I can add all the parameters in our docs. Thanks for your feedback, and I apologize for the inconveniences this has caused you.

[2019-07-23 22:51] Alberto-Vega-MSFT commented on #34107
@bastiankayser Since this issue has been addressed. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-23 22:51] #34107 closed

[2019-07-23 22:59] jon49 opened #35709 "Caching Rules for "Cache every unique URL" has unexpected results from description"
The following caching rule doesn't specify all behavior correctly:

This makes one believe that the two following URLs will both be cached:

[code]

But what actually happens is that the former is redirected with a `302` to the origin blob storage and the latter is actually cached by the CDN. Seems like a bug to me. But at least the unexpected behavior should be in the docs.

---
#### Document Det

[2019-07-23 23:03] mdgattuso commented on #35709
Hi,

Which provider are you seeing this behavior with? We will take a look once we have that info.

Thanks,
Max

[2019-07-23 23:06] Karishma-Tiwari-MSFT commented on #35696
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-23 23:06] KranthiPakala-MSFT commented on #35703
@iLikeAzureSQL Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2019-07-23 23:09] FrankHu-MSFT commented on #35691
@neilcarden Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-23 23:14] Adam-Smith-MSFT commented on #35700
@dannradkov Thank you for the valuable feedback, You can choose the type of redundancy GRS or LRS, Does this answer your question ?

[2019-07-23 23:21] FrankHu-MSFT commented on #35691
Hey @neilcarden can you clarify the issue here

it sounds like you have a conditional access policy for your BYODs and cannot setup Office Delve because you can't approve the app?

That is per this article https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/app-based-conditional-access

And because it's not in the list, you cannot add it to as an approved app to access your

[2019-07-23 23:22] sjatnieks commented on #30811
Hello again!
My apologies, but I had a misconfiguration in Postman that was messing up the call.  I fixed it and now the call to Analyze is working as expected!  Sorry for the false alarm - sometimes it just takes that second pair of eyes to notice the problem.
Thanks!
Steven Jatnieks

[2019-07-23 23:22] Adam-Smith-MSFT commented on #35694
@northtyphoon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-23 23:27] jon49 commented on #35709
Hi,

I'm might have jumped the gun on this. I'm going to look at what is going on a little closer. If I did I'll close this as soon as I figure it out.

Thanks for the quick response.

[2019-07-23 23:30] RWu-MS opened #35710 "Typo: geogrpahyV2"
"geogrpahyV2" should be "geographyV2", right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c20727e-06cc-1942-2cb6-10644788e862
* Version Independent ID: 6d558803-bece-7d1b-7ba1-af85fb92fa4d
* Content: [Contextual data with roles - Language Understanding - Azure Cognitive Services](https://docs.microsoft.com/en-us/az

[2019-07-23 23:33] Alberto-Vega-MSFT commented on #35692
@ppavanm Thanks for reaching out, this guide shows how to do things in the portal but below also shows the same operation through a scripts, you could pick one version like bash  and put the pieces together to create your automated DPS.

[2019-07-23 23:34] MarileeTurscak-MSFT commented on #35695
@TiagoBrenck Really? Even public customers should have permissions for this. You might not have merge permissions but should be able to edit the doc at the top right and make the initial PR.

[2019-07-23 23:35] lenadroid commented on #35605
I am updating the doc to target the newer Databricks runtime version 5.2 and it works for me. My docs PR should be merged soon and you should be able to see the updated instructions.

[2019-07-23 23:37] TravisCragg-MSFT commented on #35706
@ryanmajidi I believe the doc has moved, Is this what you are looking for?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/manage-availability

[2019-07-23 23:37] TiagoBrenck commented on #35695
Sorry my bad, I do have permissions to open PRs.

Thanks and sorry for the confusion.

[2019-07-23 23:41] KingdomOfEnds commented on #34909
Hi @obrookstein - Great question! It is possible to do all of the following in a single API query:

1. Call back all child nodes of parent space.
2. Call back all child nodes exhibiting two specific properties (having those properties and specific values for them).
3. Call back all child nodes exhibiting a specific property below a threshold.

Starting with the following Spaces:

[code]

- To brin

[2019-07-23 23:42] Alberto-Vega-MSFT commented on #35139
Thanks @xiongyu0523 I reopened the issue for @robinsh since she is working on it

[2019-07-23 23:46] jon49 commented on #35709
It looks like the image resizer I am using returns a 302 and then the CDN respects the 302 and does not cache the new url returned image.

So, it looks like it is on my side.

[2019-07-23 23:46] #35709 closed

[2019-07-23 23:47] TravisCragg-MSFT commented on #35701
@srini99mkl can you link the doc you are following to get this error?

[2019-07-23 23:49] dcbrown16 opened #35712 "Opposite direction"
Is it possible to copy data from Blob Storage to S3 using AzCopy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7440c0c4-3fd0-cf6e-bdd2-5e7f4eeedbef
* Version Independent ID: 49c0fd0d-d705-7649-8a4d-c016abb0848a
* Content: [Transfer data to Azure Storage from Amazon S3 buckets by using AzCopy v10](https://docs.microso

[2019-07-23 23:54] #31100 closed

[2019-07-23 23:57] Karishma-Tiwari-MSFT commented on #35670
Thanks for sharing the document link. I have updated it.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-23 23:57] jwisener commented on #15705
Are there any architecture diagrams that show how the pump and brokers work? Or any documentation that explains this better?

[2019-07-23 23:59] Shri-Humrudha commented on #35533
I cleaned up the solution and closed all applications using the device, it worked.

[2019-07-23 23:59] #35533 closed

[2019-07-24 00:05] TravisCragg-MSFT commented on #35676
@antstanley Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-24 00:05] #10995 closed

[2019-07-24 00:05] TravisCragg-MSFT commented on #35679
@toryb Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-24 00:06] TravisCragg-MSFT commented on #35680
@toryb Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-24 00:10] TravisCragg-MSFT commented on #35707
@ajaypamarthy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-24 00:11] TravisCragg-MSFT commented on #35709
@jon49 I am glad you were able to find the issue, thanks for following up!

[2019-07-24 00:21] rafamarrara opened #35713 "Use swap disk instead of deleting VM"
I believe we need to update this document, as it is still asking to delete the VM to be able to get the disk. Now that we have snapshot and disk swap I believe we can avoid this step

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd2c4bf-8218-ddfe-37a7-c72e5c71ee70
* Version Independent ID: c46a0bbf-99b8-c095-4565-662

[2019-07-24 00:26] robinsh commented on #35139
I finished the PR; I'll sign off on it, and then @xiongyu0523 can take a look at it.

[2019-07-24 00:35] 810123 commented on #35173
No , thanks @msrini-MSFT

[2019-07-24 00:38] MicahMcKittrick-MSFT commented on #35713
thanks @rafamarrara

@genlin is technically the author of these troubleshooting docs so I will assign to him. However I suggest pinging Alberto and Gabby offline as they also played a large part in creating the content and can help update it.

[2019-07-24 00:41] chanmmn opened #35714 "Compute + storage: Select Configure database and for this - image outdated"
This image under the point
-Compute + storage: Select Configure database and for this quickstart, select vCore-based purchasing options
Should be like below.
https://1drv.ms/u/s!AlUZkNIm6J4hhQiQrkw1n40nI8FY?e=sDWomu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3da2d20f-0457-b8af-2f72-84741e8cb81b
* Version Independen

[2019-07-24 00:43] #35649 closed

[2019-07-24 00:44] #35620 closed

[2019-07-24 00:52] kumarallamraju opened #35715 "File path is incorrectly shown"
[Enter feedback here]

Do you mean to say Because the default file system for HDInsight is in Azure Storage, /example/data/data.txt is actually in Azure Storage.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff38f601-fc42-c866-1970-227245e45e39
* Version Independent ID: b68bce57-059d-08bd-59c7-316f318c20ea
* Content: [

[2019-07-24 01:18] RanjithPC commented on #35314
Thanks a lot

[2019-07-24 01:44] jmprieur commented on #35695
Thanks @TiagoBrenck for reporting, and @MarileeTurscak-MSFT for opening the PR.

[2019-07-24 01:48] conork123 commented on #35563
@tysonn - I don't believe this should have been closed.
@msrini-MSFT - Is there any further update??

[2019-07-24 01:53] mike-urnun-msft commented on #32433
@MikeBarker-MSFT @spelluru Let me know if we should proceed to close this issue then.

[2019-07-24 02:29] cogran opened #35718 "P2S Configuration with Gateway Transit over VNET Global Peering"
There is very little for P2S configuration and Gateway Transit aside from the most basic configuration. With the launch of Azure VNET Global Peering in April 2019, this now appears to be a supported configuration but it is unclear based on this documentation.

Can we get an explicit yay or nay on whether this is officially supported?
I was able confirm a working P2S configuration with global VNET

[2019-07-24 02:29] KeiroKamioka0000 opened #35719 "About delete support"
Please consider to add about currently, deleting the experiment within the work space isn't supported to here or FAQ document as Warning.

『How to delete a single experiment in azure ML service?』
https://social.msdn.microsoft.com/Forums/en-US/6b6b7771-b775-4c25-b021-9ee517cdbb75/how-to-delete-a-single-experiment-in-azure-ml-service?forum=AzureMachineLearningService

『Deleting experiments』
https://

[2019-07-24 02:32] PramodValavala-MSFT commented on #35698
@jwisener Thanks for the feedback! We have assigned this issue to the content author to review and update accordingly.

[2019-07-24 02:33] smithGit opened #35720 "Azure Cosmos Demonstration"
I tried the Cosmos Free Account demonstration, with the project to be downloaded, built (how?  VS 2017 did not build) and run.  I think that, in general, MS tries to make their demo's far too comprehensive and dependent on a bunch of MS infrastructure.  Why not at least have the option of starting minimal: Cosmos Hello World! that requires zero infrastructure?  Very impressed with Azure overall ca

[2019-07-24 02:40] jeffrey008 opened #35721 "Connect to an Azure Cosmos DB account code outdated"
It should be
client = new CosmosClient({endpoint, key});
instead of
client = new CosmosClient({ endpoint: endpoint, auth: { masterKey: masterKey } });

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26d4605e390f
* Version Independent ID: bccb7915-dca2-7f10-9ccc-33fdf26baf65
* Content: [Node.js tu

[2019-07-24 02:40] kazshi opened #35722 "max storage size S3 supports"
"...S3 supports a max size of 500 GB..." in "Additional considerations when changing service tier or rescaling compute size" 3rd bullet, but S3 max size is 1TB according to the following Pricing page. Which is correct?

Pricing – Azure SQL Database Single Database | Microsoft Azure
https://azure.microsoft.com/en-us/pricing/details/sql-database/single/

---
#### Document Details

⚠ *Do not edit thi

[2019-07-24 03:03] kazshi opened #35723 "Any considerations for a case of Gateway type is ExpressRoute?"
My customer has the scenario on this page but they have Gateway type is ExpressRoute for Resource Manager VNet (that's only the difference). There's no any information about the case of Gateway type is ExpressRoute, are there any considerations for the case of Gateway type is ExpressRoute?  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-07-24 03:40] KranthiPakala-MSFT commented on #35703
@iLikeAzureSQL I was able to use the below expression and  it worked. Could you please check your 'Items' expression in Filter Activity settings.

Items : @activity('Lookup1').output.value
Condition: @equals(item().Name,'John')

![image](https://user-images.githubusercontent.com/50185738/61763083-f3dcc480-ad88-11e9-9d19-62e7d2ddd7ec.png)

Here is the output of my Lookup1 Acitivity (which will be t

[2019-07-24 03:40] mijo89joseph commented on #35477
Any updates on this?

[2019-07-24 03:53] jeffrey008 opened #35724 "Property 'toArray' does not exist on type 'QueryIterator<any>'."
Seems that you changed toArray() to fetchAll() in this PR
https://github.com/Azure/azure-cosmos-js/commit/c9eb0d67810de08a383d23113b4ce3e3e6bb6272
Is the docs outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40462fee-eb9e-5874-35b8-26d4605e390f
* Version Independent ID: bccb7915-dca2-7f10-9ccc-33fdf26baf65
* Co

[2019-07-24 04:14] CHEEKATLAPRADEEP-MSFT commented on #35690
@mahoekst  Thanks for the question! We are investigating and will update you shortly.

[2019-07-24 04:19] archmangler opened #35725 "Why only Portal sEtup? What about Az cli, powershell, ARM template ?"
To properly automate this configuration, portal setup is not adequate. Please provide instructions on other Azure mechanisms for configuring this feature:

a) ARM templates
b) Azure CLI
c) powershell
d) API
e) terraform

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa4c6e7b-4429-31fe-eb49-74b83ad7ea03
* Version Indepe

[2019-07-24 04:25] CHEEKATLAPRADEEP-MSFT commented on #35708
@joshnoe  Thanks for the question! We are investigating and will update you shortly.

[2019-07-24 04:26] algattik opened #35726 "ADLS Gen2 is not in preview anymore"
The word (preview) should be removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca94e03-5f05-6703-1672-8062f31c0780
* Version Independent ID: a6a8d9e9-9aac-c0ed-c474-34cbd0609584
* Content: [Use the Azure portal to manage Azure AD access rights to blob and queue data with RBAC - Azure Storage](https://docs.microso

[2019-07-24 04:27] CHEEKATLAPRADEEP-MSFT commented on #35669
@tal1dick  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-24 04:27] #35669 closed

[2019-07-24 04:28] CHEEKATLAPRADEEP-MSFT commented on #35656
@tal1dick  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-24 04:28] #35656 closed

[2019-07-24 04:30] CHEEKATLAPRADEEP-MSFT commented on #35645
@cseifert1  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-07-24 04:30] #35645 closed

[2019-07-24 04:34] AshokPeddakotla-MSFT commented on #34430
@forester123 Could you check the above suggestions and see if it helps? Do let us know if you have further questions.

[2019-07-24 04:34] NehaOberoi92 commented on #26312
I have used IP Restrcition in app service and given APIM ip address in that. Although App service are no longer accessible but when I import api app in APIM using Open api swagger url , it gives error that url is not accessible as it is not available publically.

[2019-07-24 04:37] CHEEKATLAPRADEEP-MSFT commented on #35714
@chanmmn  Please help with the link of document on which above document feedback request is created.

[2019-07-24 04:40] msrini-MSFT commented on #35723
@kazshi , Thank you for posting your question here. You want to connect classic VNET to ARM VNET and you have Express Route in ARM VNET. Is my understanding correct?

[2019-07-24 04:40] SubhashVasarapu-MSFT commented on #35718
@cogran, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-24 04:42] CHEEKATLAPRADEEP-MSFT commented on #35522
@taroarai  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-24 04:42] #35522 closed

[2019-07-24 04:45] SwathiDhanwada-MSFT commented on #35574
@vgorbenko  We have reproduced the issue by adding fileshare name to the drop down of the property 'File Share', however no data is being populated.  Can you please provide your insights on this?

![image](https://user-images.githubusercontent.com/48976275/61765723-e4e32a00-adfb-11e9-81ac-0dbc0b1bdc9d.png)

[2019-07-24 04:52] kazshi commented on #35723
@msrini-MSFT Yes, that's correct.

[2019-07-24 04:54] RohitMungi-MSFT commented on #35710
@RWu-MS Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-24 04:54] ram-msft commented on #35704
@Teodelas Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-24 04:56] RohitMungi-MSFT commented on #35719
@KeiroKamioka0000 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-07-24 04:56] KalyanChanumolu-MSFT commented on #35725
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-07-24 05:01] KalyanChanumolu-MSFT commented on #35721
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-07-24 05:01] linruhui commented on #31879
Can anyone share current progress or any conclusions on this thread? Two months have passed and we still get no conclusion yet.

[2019-07-24 05:02] KalyanChanumolu-MSFT commented on #35722
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-07-24 05:03] KalyanChanumolu-MSFT commented on #35724
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-07-24 05:06] KalyanChanumolu-MSFT commented on #35673
Duplicate of [#35676](https://github.com/MicrosoftDocs/azure-docs/issues/35676)

[2019-07-24 05:06] msrini-MSFT commented on #35723
@kazshi , You can still create VPN gateway on both the VNET and connect.

In case of Express route, you need to link the circuit which you are using to the Classic VNET. But linking new circuit for Classic VNET is deprecated.

You have 2 options,

- Create a Site to Site between ARM and Classic VNET

- If the VNETs are in the same region, create a VNET peering between ARM and Classic VNET.

Let me

[2019-07-24 05:09] SadiqhAhmed-MSFT commented on #35205
@sachdevaswati Thanks for the update!

@woodrum We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-24 05:09] #35205 closed

[2019-07-24 05:10] KalyanChanumolu-MSFT commented on #35720
Thank you for the detailed feedback and interest is Cosmos DB.
We are actively investigating and will get back to you soon.

[2019-07-24 05:11] KrishnaG-MSFT commented on #35509
@pulsarviki At this point it appears that there's no edits or updates needed for the documentation. Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-07-24 05:11] #35509 closed

[2019-07-24 05:13] CHEEKATLAPRADEEP-MSFT commented on #35454
@kogesaka Yes, you are correct. There is no restriction on amount of data you can store in a Data Lake Storage Gen2.
**Note:** Azure Data Lake Storage Gen2 able to store and serve many exabytes of data.

[2019-07-24 05:14] #35454 closed

[2019-07-24 05:14] BharathNimmala-MSFT commented on #35480
@MatthewSteeples Closing this issue for now, please revert back if you need any additional information.
Please tag me in your reply and happy to take the conversation forward. Thank you.

[2019-07-24 05:14] #35480 closed

[2019-07-24 05:17] SumanthMarigowda-MSFT commented on #35726
@algattik Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-24 05:18] SumanthMarigowda-MSFT commented on #35712
@dcbrown16 Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-24 05:22] sivarajp commented on #18412
Is this issue fixed?. I am not able to connect to any of the internal service.

Also my nameservers are
cat /etc/resolv.conf
nameserver 168.63.129.16
search axjceduvv3cu3bujbxol4zsxnb.bx.internal.cloudapp.net

[2019-07-24 05:23] PramodValavala-MSFT commented on #26312
@NehaOberoi92 That is expected since the APIM Portal UI makes a request to fetch the OpenAPI Spec from the browser. For that to work, you would have to add your IP (the public IP of the computer you are using) to the IP restrictions of the App Service for it to work.

[2019-07-24 05:26] aquibqureshi26 opened #35727 "I used the move feature between subscription and my backup stopped happening"
After opening the ticket with Microsoft Support we troubleshooted and found that the target RG should be of Same Name as of Source then only backup will happen.
Can you please include this in the documentation as i migrated to another RG with different name but backup seems to be stopped

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-07-24 05:26] jakaruna-MSFT commented on #35560
@mries Did you got a chance to go through the suggestions?

[2019-07-24 05:26] AshokPeddakotla-MSFT commented on #35533
Glad to hear that your issue is resolved!

[2019-07-24 05:27] shankarsundaram opened #35728 "(see Understand SMB client requirements for more information)"
Link is not working!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d60d83f-0094-6c5e-e105-712c24bf1acc
* Version Independent ID: 594af294-fd5d-a8c7-d456-6d753b7b62f8
* Content: [Use Azure Files with Linux](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-linux#feedback)
* Content Source:

[2019-07-24 05:40] NehaOberoi92 commented on #26312
Actually I was using a powershell script from octopus server, I think in
that case I need to add public ip of that server in which powershell script
is running

On Wed, 24 Jul 2019, 10:54 am Pramod Valavala, <notifications@github.com>
wrote:

[2019-07-24 05:44] Rajeswari-Mamilla commented on #35475
#please-close

[2019-07-24 05:44] #35475 closed

[2019-07-24 05:47] mrajib74 commented on #29986
Hi,
How do we handle incremental load using  Azure data factory? Is there any way to get  watermark in the source  so that we can store this in  azure storage ? We will use this watermark value in subsequent run.

[2019-07-24 06:11] Cyber-Cloud-Consulting opened #35729 "Ports and Protocols"
Hello,

It is very likely the IaaS VM on-premises or in a VNet with NSG will require an appropriate Firewall ACL's.
Is it simply TCP 1433 in the clear from the SQL Server VM?

Can you please provide the list of ports and protocols and also if TLS 1.2 needs to be explicitly enabled on the SQL Server VM OR will the Azure SQL DB determine the highest level of TLS be required to negotiate and connect?

[2019-07-24 06:12] CHEEKATLAPRADEEP-MSFT commented on #35715
@kumarallamraju Thanks for pointing out the issue, I updated the doc to clarify. the changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2019-07-24 06:12] #35715 closed

[2019-07-24 06:19] KalyanChanumolu-MSFT commented on #35725
@archmangler The instructions for doing this from the CLI are provided [here](https://docs.microsoft.com/en-us/azure/postgresql/howto-read-replicas-cli)

The REST API documentation is [here](https://docs.microsoft.com/en-us/rest/api/postgresql/)

Tagging @rachel-msft, the content owner to review the feedback and update the documentation as appropriate.

[2019-07-24 06:24] mgwilliam commented on #35110
"We will gladly continue the discussion and we will reopen the issue."

[2019-07-24 06:27] obrookstein commented on #34909
Hey @KingdomOfEnds,

Thanks for the detailed answer - that's exactly what I was looking for. Only tow things I'm missing are -
1. Does this work for Custom PropertyKeys using the exact same syntax? i.e. "&$filter=propertyKeyName eq value"?
2. Where can I find documentation with all operators? not-equal, larger than etc.

Thanks,

[2019-07-24 06:40] genlin commented on #34825
@d-h-morrison The pull request has been summited to update the article. Meantime, I will process to close this PR. Feel free to reopen it if there is any additional comment or feedback,

#please-close

[2019-07-24 06:40] #34825 closed

[2019-07-24 06:40] cassm199 commented on #35466
@jhakulin by any chance have you ever encounter the userID being $ref$? Kindly note that this doesn't always happen.

[2019-07-24 06:42] genlin commented on #35121
@kempd We have updated the article. Thanks for helping to improve the article. I will process to close this issue. Feel free to reopen it if there is any feedback or comment about this matter.

#please-close

[2019-07-24 06:42] #35121 closed

[2019-07-24 06:46] IanKemp commented on #35469
So the following works:

[code]

The thing that was tripping me up was that you guys were telling me to specify an input, **but my function takes no input because it is timer-triggered**.

I think it would be worthwhile to add that case to the docs.

[2019-07-24 06:49] SwathiDhanwada-MSFT commented on #35584
@ld0614 AFAIK, its not possible to move from "All available and future machines" back to specific machines in update management.
@bobbytreed  Can you please provide your insights on the same?

[2019-07-24 06:51] rimman commented on #35720
@smithGit have you tried Try Cosmos DB for Free? No Azure subscription, no credit card required, completely free and you can renew it any number of times https://azure.microsoft.com/en-us/try/cosmosdb/

If this doesn't address your questions, please send it to us at AskCosmosDB@microsoft.com and we will help. Thanks!

[2019-07-24 06:53] mike-urnun-msft commented on #35585
@vladromAzure Thank you for confirming. At this time, Visual Studio Code extension for Azure Logic Apps doesn't provide a direct feature for adding and modifying API Connections. Although you can easily create your connections on Portal, or with either [Powershell or ARM template](https://social.msdn.microsoft.com/Forums/en-US/b24e44da-d400-43dd-a947-1c3d5a316aca/create-api-connection-for-logic-ap

[2019-07-24 06:59] shankarsundaram commented on #35728
hyperlink under the documentation to see Understand SMB client requirements for more information is not working

[2019-07-24 07:00] ggailey777 commented on #35686
@mattchenderson can you take a look at this? Thanks!

[2019-07-24 07:02] KalyanChanumolu-MSFT commented on #35722
@kazshi Thank you for pointing this issue. I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-07-24 07:06] #35722 closed

[2019-07-24 07:06] Kris-Patil opened #35732 "Device local administrators"
# Device local administrator
Following the steps given at https://docs.microsoft.com/en-us/azure/active-directory/devices/assign-local-admin#manage-the-device-administrator-role does not seem to work with our AD joined devices. The "Device Administrator" is not able to run tasks (eg. cmd) as an administrator.

At stackoverflow (https://stackoverflow.com/questions/53601965/additional-local-administ

[2019-07-24 07:13] RohitMungi-MSFT commented on #35633
@zhenyufu pt-PT does not seem to be supported at this point. pt-BR is the only supported market code for PT. You can request for support of the same at out [user voice](https://cognitive.uservoice.com/forums/598195-bing-spell-check) forum where the product team will review and add it as a feature in future releases of bing spell check.

[2019-07-24 07:45] Karthiktandra commented on #29197
Can you please help me with the issue. Can I know what you have done with your Org's Admin to resolve this @YASWANTHM-MSFT

[2019-07-24 07:47] ingo-aware opened #35733 "Supported Windows Server version"
Release notes for version 1.1.880.0 say Azure AD Connect now supports Windows Server Essentials 2019 specifically. But how about other editions of Windows Server 2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Con

[2019-07-24 07:49] AjayKumar-MSFT commented on #35641
@rofangaci, Just checking if the above response helped or you need further assistance.

[2019-07-24 07:49] gajo357 commented on #35472
If I install them via the script, will they be preserved/reinstalled when the service is restarted? Or when a new instance of the service is created by the scaling mechanism?
I tried to put the "apt-get install" command in the same line of application's "Start command", but that didn't work.

[2019-07-24 07:55] mike-urnun-msft commented on #32523
@JustinGrote Apologies for the long delay in response. While there isn't such a test mode, there is, however, a way for you to mock data from HTTP and non-HTTP connections. [Passing test data to a function section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#passing-test-data-to-a-function) in Core Tools Development documentation discusses this scenario more elaborat

[2019-07-24 07:55] #32523 closed

[2019-07-24 08:09] NehaOberoi92 commented on #26312
@PramodValavala-MSFT : I tried the same, gave public ip of my computer, I am able to access swagger url on chrome, but when I try on azure portal it is still showing that url is not publically accessible.

[2019-07-24 08:09] SadiqhAhmed-MSFT commented on #35727
@aquibqureshi26 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-24 08:09] SadiqhAhmed-MSFT commented on #35727
@Sogup FYI.

[2019-07-24 08:15] SteveMaz opened #35734 "Gradle files and Android Studio"
Step 5 in the Android section 'Enable Firebase Cloud Messaging (FCM)' of this walk through could do with more explanation of how to open a Xamarin Forms project in Android Studio and gradle files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f503e37-b16e-c92c-8668-313428451053
* Version Independent ID: edc66d3e-bf88

[2019-07-24 08:30] KetanChawda-MSFT commented on #35469
@IanKemp Thank you for the confirmation. I am glad to know that it worked.I have mentioned that on my [comment](https://github.com/MicrosoftDocs/azure-docs/issues/35469#issuecomment-513791284).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-24 08:30] #35469 closed

[2019-07-24 08:34] KetanChawda-MSFT commented on #35542
@StingyJack As per the [comment on the PR](https://github.com/MicrosoftDocs/azure-docs/pull/35587#issuecomment-514174044) , We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-24 08:34] #35542 closed

[2019-07-24 08:54] Kjeanclaude commented on #35471
OK, thank you @Heidilohr!
I am patient. Indeed, for the France preview (December 2017- March 2018) they provided a particular subscription for all the testers, that does not require VISA Card and other information.

[2019-07-24 08:56] shankarsundaram opened #35736 "Do you still support TLS 1.0 and TLS 1.1?"
Do you still support TLS 1.0 and TLS 1.1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d6c9dfa-cb51-8e98-ce3e-68cfeb50c9dd
* Version Independent ID: 5364e068-0237-bbfd-e8a3-cb83ed210585
* Content: [Enable secure TLS for Azure Storage client](https://docs.microsoft.com/en-us/azure/storage/common/storage-security-tls)

[2019-07-24 08:57] thomasddn commented on #31100
@GitHubber17 Can you please explain why you closed this issue? Are my findings wrong or is it something else, because I don't see any change on the related page.

[2019-07-24 08:59] PramodValavala-MSFT commented on #35578
@ToMakeSense Yes. The portal generates code using the `outputs` function too.

We are assigning this issue to the content author for further review and to update the docs accordingly.

[2019-07-24 08:59] chanmmn commented on #35714
Sorry for missing the link. Here you go:
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started?WT.mc_id=gallery

[2019-07-24 09:03] KrishnaG-MSFT commented on #35591
Assigning this issue to the content author @bwren to evaluate and update as appropriate.

[2019-07-24 09:07] KalyanChanumolu-MSFT commented on #35680
@toryb Thank you for pointing out the issue and helping us improve the documentation.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.
We will proceed to close this issue now.

[2019-07-24 09:07] #35680 closed

[2019-07-24 09:07] KalyanChanumolu-MSFT commented on #35679
@toryb Thank you for pointing out the issue and helping us improve the documentation.
I have updated the doc accordingly. The changes should be live EOD or tomorrow.
We will proceed to close this issue now.

[2019-07-24 09:07] #35679 closed

[2019-07-24 09:08] momoegg commented on #35475
Yes, I was talking about the replication server OVA template checksum.
Thanks a lot!

Sent from my iPhone

[2019-07-24 09:10] ram-msft commented on #35569
@mattmazzola Thanks for your feedback.
@diberry In the following [add-the-kb-model-definition](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/quickstarts/create-new-kb-nodejs#add-the-kb-model-definition) link the mentioned "urls" are broken in model definition. Could you please fix/update the broken "urls". These "urls" are used in other places as well i.e., C#, Python etc..

[2019-07-24 09:13] AkoleStatoil commented on #34443
I had the same issue with SFTP dataset.

@ChiragMishra-MSFT, if this behaviour is expected, it seems that documentation is out of date then. I could not find any references to it behaving like that.

[2019-07-24 09:13] Karthiktandra opened #35738 "Luis Login Issue"
I Have issue in login to www.Luis.ai.com.  I am getting the following the error. Can anyone suggest how to resolve it.

 "Application needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it"

[2019-07-24 09:15] tejado commented on #35315
FYI: I created PR https://github.com/MicrosoftDocs/azure-docs/pull/35737 for this.

[2019-07-24 09:15] ASamykin opened #35739 "typo in [jobs].[jobs_executions]"
Correct name is [jobs].[job_executions]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 386f5b1f-e835-0a3b-8e3f-302a6bf5670e
* Version Independent ID: 2470305f-0366-36ba-5365-adba61dd02b2
* Content: [Create and manage Azure SQL Elastic Database Jobs using Transact-SQL (T-SQL)](https://docs.microsoft.com/en-us/azure/sql-

[2019-07-24 09:16] massoudo opened #35740 "Broken links"
There are some broken links in this article:
Knowledge Base Article 1909114 has been removed by SAP.
'How to enable auto Start of HANA Database' (freehanatutorials.com) does not exists.
'the rest-api specs' (github.com) does not exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09846614-261a-dd02-b92a-4ea65bd06bd1

[2019-07-24 09:18] CHEEKATLAPRADEEP-MSFT commented on #35738
@Karthiktandra  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum communi

[2019-07-24 09:19] MSSedusch commented on #35740
@rdeltcheva can you please have a look?

[2019-07-24 09:28] CHEEKATLAPRADEEP-MSFT commented on #35714
@chanmmn  Thanks for sharing the document. We will investigate and update as appropriate.

[2019-07-24 09:30] KrishnaG-MSFT commented on #35630
Hi @dcbrown16, As by default, Resource Manager creates the resources in parallel so AFAIK the answer to your question is Yes all your resources are processed in parallel.
Assigning @tfitzmac to confirm and provide his insights if any.

[2019-07-24 09:30] Karthiktandra commented on #35738
@CHEEKATLAPRADEEP thanks for the reply

I have referred to the below URL.

https://github.com/MicrosoftDocs/azure-docs/issues/29197

[2019-07-24 09:30] psallis commented on #35478
@SnehaAgrawal-MSFT could I please be updated with the outcome?

[2019-07-24 09:31] ManojReddy-MSFT commented on #25880
@NicolasDWolfwood No updates yet regarding this. Product group is still working on this.

[2019-07-24 09:32] Karthiktandra commented on #35738
@CHEEKATLAPRADEEP-MSFT

I want to know what all the changes I have to do  to resolve the issue. What changes I need to ask my admin to do?

Thanks.

[2019-07-24 09:33] sgdesmet commented on #35662
Hello @FrankHu-MSFT no problem and thank you!

[2019-07-24 09:37] sandereek commented on #35657
Yes we did. First we used "Azure PowerShell on your system" which gave us the error. Later we used "To run in your browser with Azure Cloud Shell" which was successful.

[2019-07-24 09:37] CHEEKATLAPRADEEP-MSFT commented on #35738
@RohitMungi-MSFT Could you please look into this issue?

[2019-07-24 09:42] CHEEKATLAPRADEEP-MSFT commented on #35728
@shankarsundaram  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 09:43] RohitMungi-MSFT commented on #35738
@Karthiktandra Is there any LUIS documentation that you are following for this azure docs issue? Based on your issue description the luis portal is https://www.luis.ai/ and you need to login with the same live account that you used in azure portal to create a LUIS resource to access the applications created in LUIS.

[2019-07-24 09:43] CHEEKATLAPRADEEP-MSFT commented on #35729
@Cyber-Cloud-Consulting  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 09:47] Karthiktandra commented on #35738
@RohitMungi-MSFT

https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-app

[2019-07-24 09:50] Karthiktandra commented on #35738
@RohitMungi-MSFT

I have enabled the Users can consent to apps accessing company data on their behalf

 Admin Centers > Azure AD > Users and Groups > User Settings > "Users can consent to apps accessing company data on their behalf"- Yes

[2019-07-24 09:57] pi3k14 commented on #35081
Service Fabric Tools component must be installed in Visual Studio (2017/2019), from the Visual Studio Installer.

[2019-07-24 09:58] Karthiktandra commented on #35738
![Luis](https://user-images.githubusercontent.com/50691417/61784599-a06d8380-ae27-11e9-964a-cc0c2515a2f0.jpg)

Please find the screenshot of error

[2019-07-24 10:01] yphuangms opened #35741 "Is there any guideline for DCM versioning?"
If add one more interface, should I change the capability model ID with a different name, or just increase the version? User will need to know this to well manage the capability models and interfaces.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b823a4ee-1a38-c575-6fc7-4bedf64e1edc
* Version Independent ID: 7

[2019-07-24 10:04] KalyanChanumolu-MSFT commented on #35714
@chanmmn Thank you for taking the time to submit feedback and making our documentation better.

For the example in context, the database being created is on a "Serverless" Compute tier which is available only in the "Gen5" compute generation. The image correctly shows the same.

Do let us know if you have further questions.

[2019-07-24 10:04] SadiqhAhmed-MSFT commented on #35378
@t-leblanc To clarify – you are entering a sample JSON payload into the tool and it still is not working? Can you paste in the payloads your are using? An example payload that should work is below:

{
“Notification",
"data":
{
"SubscriptionName":"CCM - Microsoft Azure Enterprise- 1",
"SubscriptionId":"<GUID>",
"SpendingAmount":"100",
"BudgetStartDate":"6/1/2018",
"Budget":"50",
"Unit":"USD",
"Budg

[2019-07-24 10:06] Karthiktandra commented on #35738
@RohitMungi-MSFT

Can you please let me know what changes I need to do as a Admin.

[2019-07-24 10:11] wolfma61 commented on #35644
as I said - we will fix this with the next release/update of the samples
there is nothing we needs to get done in the docs. not a doc issue.

[2019-07-24 10:18] RohitMungi-MSFT commented on #35738
I think you need to login with the admin account and provide consent so that your AD Enterprise applications shows admin consent and users within that AD should then be able to login. Here is a screen shot of the page that will show up after choosing the admin option.

![image](https://user-images.githubusercontent.com/46958063/61785820-1b379e00-ae2a-11e9-8b6b-0c63a0cfedf2.png)

After providing co

[2019-07-24 10:21] sergaz-msft commented on #35473
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-24 10:21] #35473 closed

[2019-07-24 10:28] RohitMungi-MSFT commented on #35571
@VioYuan Currently this feature does not exist and we have forwarded this feedback to our product team. You can also raise a user voice request [here](https://feedback.azure.com/forums/257792-machine-learning) so the the community can vote and provide their feedback, the product team then checks this feedback and implements the feature in future releases.

[2019-07-24 10:30] cocowalla commented on #33973
@robinsh I find this to be much clearer now, thanks!

[2019-07-24 10:30] #33973 closed

[2019-07-24 10:31] viettranquoc commented on #20344
This script is for window machine only. Dont use it with linux machine

[2019-07-24 10:33] aquibqureshi26 commented on #32319
Hi Anirudh,

I need to confirm if your team was working on the diagnostics extension which will be triggering Windows Guest OS metrics in Azure Monitor using Custom metrics Data Sink?

I've registered the server and enabled Managed Idetity. But i cannot see any new namespace when i go to Azure Monitor metrics blade. I can only see the default host metrics and no new namespace.

![image](https://us

[2019-07-24 10:34] moseleycj opened #35742 "Updated documentation"
Is there a more up-to-date version of this document anywhere? The steps above do not work with the current App Registrations UI or Microsoft Graph API permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3efb0913-3c25-caf7-306b-c1ddd78439fe
* Version Independent ID: b262e742-c371-ffb9-108b-67f2f5bbc297
* Content

[2019-07-24 10:34] SteveMaz commented on #35734
This page https://docs.microsoft.com/en-us/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub explains how to do this for a Xamarin Forms project without using Android Studio or gradle files.

[2019-07-24 10:35] srihari-sridharan opened #35743 "Remove squiggly lines"
Kindly remove the squiggly lines in this image https://docs.microsoft.com/en-us/azure/sql-database/media/sql-database-service-tiers/pricing-model.png - the word vCore is indicated as a spelling error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e179690c-627c-d305-3c00-13d6b5b70c5b
* Version Independent ID: bdc0ea47-

[2019-07-24 10:39] KalyanChanumolu-MSFT commented on #35739
@ASamykin You are right. Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow.
In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-07-24 10:41] galla-devlop opened #35745 "Android app Crash reports are not reflected in Azure application insights dashboard?"
Currently am using "com.microsoft.azure:applicationinsights-android:1.0-beta.8" version for unhand-led crash reports. But reports are not reflected in dashboard. I refereed below link for setup/integrating: https://github.com/microsoft/ApplicationInsights-Android#2

Since, SDK in version 1.0-beta.9 on words SDK is officially deprecated. But i am using 1.0-beta.8 version.So it should work for me ri

[2019-07-24 10:47] Vojkan-Cvijovic opened #35746 "Update azure-resource-groups-limits.md"
Maximum number of tags for each resource or resource group has been increased to 50 from 15.
Documentation was updated in [this commit ](https://github.com/MicrosoftDocs/azure-docs/commit/b143fdb7000172ecf26c3e35681f3eecbfaeca03#diff-323c3f4172fc59e32347b2246a354d76)
Documentation from [azure-resource-groups-limits.md](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/azure-resource

[2019-07-24 10:47] RohitMungi-MSFT commented on #35637
@erammunawwar The following [example ](https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-translate?tabs=curl#translate-content-with-markup-and-decide-whats-translated)works for textType=html. Here is a screen shot of the same when executed from postman.

![image](https://user-images.githubusercontent.com/46958063/61787890-6eabeb00-ae2e-11e9-8a4a-3567b7ee254a.png)

[2019-07-24 10:50] viroos commented on #35586
@MicahMcKittrick-MSFT  I have exactly the same issue. I use Terraform for AKS deployment and during `terraform apply` I get following error:

[code]

[2019-07-24 10:50] dhananjaypatkar opened #35748 "Update required for supporting spark 2.4"
Azure Technology / Service : Spark HDInsight

Document Link:
https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-using-spark-query-hbase

Needs update as below
HDInsight supports spark 2.4 but spark hbase connector https://github.com/hortonworks-spark/shc is not  yet released with spark 2.4 support. Any guideline on building shc master and deploying it on hdinsight spark cluster will be hel

[2019-07-24 11:02] chanmmn commented on #35714
It is not the same what in this link https://docs.microsoft.com/en-us/azure/sql-database/sql-database-single-database-get-started?WT.mc_id=gallery.
You have Basic, Standard, and Preminum.
What is in this picture https://1drv.ms/u/s!AlUZkNIm6J4hhQiQrkw1n40nI8FY?e=sDWomu, I have General Purpose, Hyperscale, and Business Critial.

[2019-07-24 11:02] Karthiktandra commented on #35738
@RohitMungi-MSFT

Thanks Rohit, I will try this and let you know the result.

[2019-07-24 11:10] StingyJack commented on #35081
@pi3k14 - can you share a screenshot of the option in the installer?

[2019-07-24 11:10] mkannan22 commented on #27791
Unfortunately this was tested as well without success. Hoping for some kind of update on Microsoft's end at this point.

[2019-07-24 11:14] pi3k14 commented on #35081
![sft](https://user-images.githubusercontent.com/2109325/61789420-f258de00-ae14-11e9-8737-f60112171350.png)

[2019-07-24 11:15] KalyanChanumolu-MSFT commented on #35743
Thank you for the feedback.
We will take this into account in the next doc update.
We will proceed to close this issue now.

[2019-07-24 11:15] #35743 closed

[2019-07-24 11:19] ManojReddy-MSFT commented on #35518
@rkarlin Can you confirm if the hyperlink should point to another doc which talks about how to integrate  CEF logs?

[2019-07-24 11:20] ManojReddy-MSFT commented on #34998
@jbagh We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-07-24 11:20] #34998 closed

[2019-07-24 11:23] ManojReddy-MSFT commented on #35364
@Ayanmullick Sorry for the delayed response. I am trying to confirm if this is by design and it is taking longer than expected to get the confirmation regarding this. I will let you know as soon as I have an update

[2019-07-24 11:24] CHEEKATLAPRADEEP-MSFT commented on #35748
@dhananjaypatkar  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-07-24 11:30] CHEEKATLAPRADEEP-MSFT commented on #35746
@Vojkan-Cvijovic  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 11:31] CHEEKATLAPRADEEP-MSFT commented on #35732
@Kris-Patil  Thanks for the question! We are investigating and will update you shortly.

[2019-07-24 11:31] ManojReddy-MSFT commented on #34119
@rohancragg Thanks for the suggestion. I am sorry for the time it has taken to get back to you regarding this issue. I updated the Power BI App name and other services match AFAIK.

[2019-07-24 11:32] CHEEKATLAPRADEEP-MSFT commented on #35733
@ingo-aware  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 11:35] CHEEKATLAPRADEEP-MSFT commented on #35734
@SteveMaz  Thanks for the question! We are investigating and will update you shortly.

[2019-07-24 11:36] CHEEKATLAPRADEEP-MSFT commented on #35736
@shankarsundaram  Thanks for the question! We are investigating and will update you shortly.

[2019-07-24 11:38] SadiqhAhmed-MSFT commented on #35746
@rothja FYI.

[2019-07-24 11:41] prajster commented on #35358
I’m using the Azure arm module. But yes the disk config is created but as part of the config the vhd uri and id are available, the values for which is empty. Hence the next command fails with the error, there cannot be empty values.

Sent from Yahoo Mail for iPhone

On Tuesday, July 23, 2019, 9:30 PM, sujayt <notifications@github.com> wrote:

Were you able to construct Disk config for managed disk

[2019-07-24 11:42] #34119 closed

[2019-07-24 11:52] rohancragg commented on #34119
What did you update? I see no commits relating to this...

[2019-07-24 11:55] edwin-dsw opened #35750 "Documentation about language detection not up to date"
Documentation about Language detection via the .NET SDK is not up to date:
https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/quickstarts/csharp#perform-language-detection

The latest (and currently only) stable release of Microsoft.Azure.CognitiveServices.Language.TextAnalytics (3.0.0) requires "countryHint" as a parameter in the constructor of LanguageInput.

---
#### Docum

[2019-07-24 12:03] ManojReddy-MSFT commented on #34119
@rohancragg I have updated the change in the private repository and it will be published within 24 - 48 hours.

[2019-07-24 12:13] garybushey commented on #35663
That was the problem.  I didn't fully understand the instructions and
thought the values listed in the parameters file that was shown in the
documentation didn't need to be changed.  Thanks for your help.

Gary A. Bushey
garybushey@gmail.com

On Tue, Jul 23, 2019 at 4:50 PM TravisCragg-MSFT <notifications@github.com>
wrote:

[2019-07-24 12:13] alvm opened #35751 "The page refers LinkedIn instead of Twitter"
"Upload the extension file for verification" section (https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-custom-setup-twitter-idp#upload-the-extension-file-for-verification) refers to LinkedIn instead of Twitter.

"... Azure AD B2C knows how to communicate with your LinkedIn account" should be changed to "... Azure AD B2C knows how to communicate with your Twitter acc

[2019-07-24 12:21] SirJewDanielBerg commented on #35140
Well, here's what transpired in the end: I had to copy the Scratch folder to the new location by copying the contents of the folder only, if I attempt to copy the whole Scratch folder from the previous folder level up, as in, the Scratch folder itself, it then bloats up to 500 GB in size, which is what the mounted .vhd size is, despite the .vhd file in it being only 25 GB in size. Since the articl

[2019-07-24 12:28] prajster commented on #35358
AzureRm* module

Sent from Yahoo Mail for iPhone

On Wednesday, July 24, 2019, 5:11 PM, Prajwal Shetty <prajwal_shtty@yahoo.com> wrote:

I’m using the Azure arm module. But yes the disk config is created but as part of the config the vhd uri and id are available, the values for which is empty. Hence the next command fails with the error, there cannot be empty values.

Sent from Yahoo Mail for iPho

[2019-07-24 12:37] bwren commented on #35591
@KrishnaG-MSFT should be assigned to @MGoedtel

[2019-07-24 12:45] eddynaka commented on #29343
@gtrevi, i got the same error when i didn't have any file published:
![image](https://user-images.githubusercontent.com/16199012/61794385-7a2fef80-adf7-11e9-9dbe-f682be7dcd69.png)

Drag the zip file to the zipdeployui space and it will automatically decompress and publish it
![image](https://user-images.githubusercontent.com/16199012/61794471-a3508000-adf7-11e9-8fac-abe358c7e55a.png)

[2019-07-24 12:47] pvvdurgaprasad opened #35753 "Storage account inaccessible"
Common issues that block a Functions access to a storage account are:
The storage account firewall is enabled and function app is provisioned in consumption plan. This is expected behavior as per product design.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75028922-3176-8802-9f85-62c92c381784
* Version Independent ID

[2019-07-24 12:53] bwren commented on #34965
The behavior hasn't changed, and my test is still running as expected.  Suggest we treat this as a support issue.

[2019-07-24 12:54] pjirsa opened #35754 "Need additional fields"
It would be great if the app registration list also displayed who created the app and if the app is MSI or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 576bf585-3203-731a-a8aa-597ae80b927b
* Version Independent ID: 49969685-794a-29fe-94e8-3f50a668d141
* Content: [App registrations in the Azure portal training gu

[2019-07-24 12:57] StingyJack commented on #35081
Thanks, that workload was definitely selected yet VS didn't find the service fabric tooling.

The manual installation instructions on the referenced content page are still missing a step or two.

[2019-07-24 13:02] archmangler opened #35755 "Is Read Rep[lica Still in Preview?"
Some questions on maturity of postgresql read replica:

- Is Azure PostgreSQL Single Server Read-Replica still in preview?
- When will cross-region replication be out of preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8660100-8879-6519-3db2-14039a3c5a17
* Version Independent ID: 64c84402-86e5-ae99-a6b5-8de8d83

[2019-07-24 13:04] AjayKumar-MSFT commented on #35472
Thanks for sharing more details.
Just to clarify, as mentioned in this[ blog](https://blogs.msdn.microsoft.com/waws/2017/09/08/things-you-should-know-web-apps-and-linux/)- you can SSH into your app container and install components. However, when your site is restarted, anything that you install will be gone. Why is that? That's the way Docker works. When your site starts, we run your Docker image

[2019-07-24 13:06] mmacy commented on #31100
@thomasddn Hi Thomas, the new version of the article should be live shortly after the 10AM PST publish this morning. The PR referenced above was merged after the last publish of the day yesterday. And, thanks for the issue, this one was indeed broken!

[2019-07-24 13:07] stuart-melrose opened #35756 "Application Administrator role permissions"
After applying the Application Administrator role to a service principal the docs lead me to believe i would be able to manage all aspects of other enterprise applications, application registrations, and application proxy settings which sounds like you should have the ability to fully create and manage new service principals.

However a service principal with this admin role applied still can't cr

[2019-07-24 13:09] bwren commented on #35545
Select-AzureAzSubscription doesn't exist.  The script did used to use Select-AzureSubscription but as noted at the top of the article, it was updated to use new cmdlets from the new Az module.

[2019-07-24 13:09] bwren commented on #35545
#please-close

[2019-07-24 13:09] #35545 closed

[2019-07-24 13:14] jolestar commented on #30469
I was running into same error using same scenario

[2019-07-24 13:17] bwren commented on #35523
Verifying with engineering team.

[2019-07-24 13:18] aszalacinski commented on #31322
This appears to no longer be an issue.

[2019-07-24 13:18] #31322 closed

[2019-07-24 13:19] aszalacinski commented on #31327
I believe this has solely to do with attempting to use the msal library in a VUE js SPA application and is more to do with how to properly architect a loginredirect solution within such a solution. Working as expected.

[2019-07-24 13:19] #31327 closed

[2019-07-24 13:19] bwren commented on #35523
#in-progress

[2019-07-24 13:20] CHEEKATLAPRADEEP-MSFT commented on #35745
@galla-devlop  Thanks for the question! We are investigating and will update you shortly.

[2019-07-24 13:23] CHEEKATLAPRADEEP-MSFT commented on #35756
@stuart-melrose  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum commun

[2019-07-24 13:24] aszalacinski commented on #31154
@ManojReddy-MSFT your last statement is incorrect. Looking at the msal.js wiki I linked to that spells out the Configuration options, STEP 3 in the tutorial does not align. b2cScopes and webapi are NOT part of the auth configuration object. I have been using this library and those values are not needed.

[2019-07-24 13:25] srini99mkl commented on #35701
https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/create

[2019-07-24 13:27] MGoedtel commented on #35591
I've updated the image and submitted PR.  Thanks for bringing this to our attention.  #please-close.

[2019-07-24 13:27] #35591 closed

[2019-07-24 13:28] bwren commented on #35489
Thanks, I'm working on content related to that now so will include that in the updates.  #in-progress

[2019-07-24 13:33] bwren commented on #35242
Checking with engineering team.  #in-progress

[2019-07-24 13:33] stuart-melrose commented on #35756
@CHEEKATLAPRADEEP-MSFT i think this is probably more of a technical question now i've done some more research into it. Closing this ticket off as have opened elsewhere, thanks for the reply

[2019-07-24 13:33] #35756 closed

[2019-07-24 13:39] Girishvtm commented on #35547
@JoeDavies-MSFT  and @ManojReddy-MSFT , any help on the issue.

Since we couldn't find the solution for IN operator issue, we have wrote for loop to build a query as below. Please let us know if you have any better solution.

Thanks in advance.

$EmpjobCodes=@("SH0232","SE0001","SM0049","SM0067","SH0301","SM0028","SM0010","SM0157","SM0158","SH0298","SM0055","SM0094","SH0306","SM0154","SH0080","SH0

[2019-07-24 13:42] bwren commented on #35172
Forwarding to engineering team.  #in-progress

[2019-07-24 13:44] #35472 closed

[2019-07-24 13:44] bwren commented on #34604
Fic published.  #please-close

[2019-07-24 13:44] #34604 closed

[2019-07-24 13:45] bwren commented on #34603
Fix published.  #please-close

[2019-07-24 13:45] #34603 closed

[2019-07-24 13:47] ram-msft commented on #35644
@neville-nazerane We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-24 13:47] #35644 closed

[2019-07-24 13:51] dominicbetts commented on #35741
Contacting off-line
#please-close

[2019-07-24 13:51] #35741 closed

[2019-07-24 14:01] phoenixfangor commented on #29343
This step should definitely be added to that tutorial.
________________________________
From: Eddy Nakamura <notifications@github.com>
Sent: Wednesday, July 24, 2019 7:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: phoenixfangor <borg7_of_9@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] You do not have permission to view this dire

[2019-07-24 14:07] eddynaka commented on #29343
@phoenixfangor , it's in the part: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-nodejs#deploy-zip-file

[2019-07-24 14:12] MGoedtel commented on #35575
I've modified the statement and the change should be reflected later this morning.  #please-close.

[2019-07-24 14:12] #35575 closed

[2019-07-24 14:19] Coldpawz opened #35759 "Powershell commands using AzureRM module rather than Az module"
The Powershell commands use the older AzureRM module, and not the newer Az module - any chance the Az module cmdlets could be included in the page?
https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#enable-accelerated-networking-on-existing-vms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-24 14:20] spelluru commented on #32433
@mike-urnun-msft - Yes. I have done the above step (deleted the outdated tutorial and added a redirection).

#please-close

[2019-07-24 14:20] #32433 closed

[2019-07-24 14:20] shashishailaj commented on #32474
#reassign:monhaber

[2019-07-24 14:43] ecfan commented on #35585
Hi @vladromAzure,

Currently, the best way to add and edit connections is by using Visual Studio to download your logic app from the Azure portal and open the logic app's .json file. These steps automatically create a parameterized Azure Resource Manager template that includes the resource definitions for your logic app, connections, and other dependencies .

 For more information, see [Overview:

[2019-07-24 14:45] maxilampert opened #35761 "Does the resource-centric mode also work for Custom Logs or the Data Collector API if the _ResourceId filed is provided"
The docs don't state whether Custom Logs and the Data Collector API with an attached _ResourceId field work with the resource-centric mode or not, because in the note box the service is not mentioned. Please clarify if these services are supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c62e3725-b0dc-5ce5-c049-

[2019-07-24 14:49] msjuergent commented on #35740
I will look into it today.

Cheers  Juergen

From: Sebastian Max Dusch <notifications@github.com>
Sent: Wednesday, July 24, 2019 2:21 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Juergen Thomas <Juergen.Thomas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Broken links (#35740)

@rdeltcheva<https://nam06.safelinks.protection.outl

[2019-07-24 14:59] bgalanis commented on #35706
Yes thank you!!

.\vgalanis

On 24 Jul 2019, at 02:37, TravisCragg-MSFT <notifications@github.com<mailto:notifications@github.com>> wrote:

@ryanmajidi<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fryanmajidi&data=02%7C01%7C%7C53668fb93e5147a49b3208d70fc6c4b5%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636995218681481767&sdata=C0VSJkmLlRTu8jUO9CtuE2QM2Q%2FFYY7UO1m

[2019-07-24 14:59] MGoedtel commented on #34473
@medavamshi - Committed bytes is not the only option for measuring memory utilization for Windows, and that counter only shows committed virtual memory used by processes.  Memory\Available MBytes shows how much physical memory is remaining that the system and processes can use.  If you would like to learn more, check out the following Blog by one of our PFE's discussing this in greater detail - ht

[2019-07-24 15:03] spelluru commented on #34044
@CeciAc - sorry. I can't reproduce the issue. If I could get more information on the error, I may be able to research more.

#please-close

[2019-07-24 15:03] #34044 closed

[2019-07-24 15:12] CeciAc opened #35763 "Typo"
@caronicolas commented on [Wed Jul 24 2019](https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/538)

There's a typo on the last line of the Clean up resources, it's write " azure-front-front " but it must be " azure-vote-front "

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 65f634bf-2280-a093

[2019-07-24 15:13] CeciAc commented on #35763
Hi team,
I moved this here because the reported typo is present in the en-us page
best

[2019-07-24 15:14] towkneed commented on #35075
It seems to be working for most users, however we have a handful of users who have registered and their status still shows "Enabled".   But since this is not interfering with anything (yet . . .) it is a lesser concern.

We are having a separate issue now, however.  Users who have registered successfully and were using Office 2019 find that their Office installations are not showing up after a reb

[2019-07-24 15:20] #35739 closed

[2019-07-24 15:21] KalyanChanumolu-MSFT commented on #35743
@stevestein for awareness

[2019-07-24 15:28] chriscardwell-iq commented on #21125
hi, what's the status on this?

[2019-07-24 15:32] kulbirjandoria commented on #33099
Is there any update on it?

[2019-07-24 15:42] sirdank opened #35765 "Redundant link"
Under next steps, it says "To scale elastic pools, see Scaling elastic pools" only the link points to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954fdc5f-1572-c6a5-eb19-22e890b1174f
* Version Independent ID: b5776cca-f233-4c34-a649-9a61324a2edd
* Content: [Manage multiple SQL databases with elastic pools

[2019-07-24 15:43] Manimi-Chart opened #35766 "Send the SAMLResponse in the POST data of the request."
I am trying to get this setup with Expensify but it is failing.  Their support is claiming that Azure AD is not sending the SAMLResponse in the POST data of the request.  I do not see any options to change this functionality.  Do you send it in the POST data?  If not then how do I configure it to do so?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-07-24 15:43] bwren commented on #35222
Easy enough to add, so I went ahead and did it.  Should publish today.

[2019-07-24 15:44] bwren commented on #35222
#please-close

[2019-07-24 15:44] #35222 closed

[2019-07-24 15:47] bwren commented on #34496
We don't really maintain this article much anymore since the O365 onboarding primarily moved to Sentinel, but this is a pretty straightforward fix to make.  #in-progress

[2019-07-24 15:50] #35751 closed

[2019-07-24 15:55] hrasheed-msft commented on #35748
@dhananjaypatkar Thanks for reaching out to us. The purpose of this document was only to help users get started with the features of querying using the Spark-HBase connector. And the Spark-HBase connector is a Hortonworks product which we do not offer support for. You may be able to get additional support through Hortonworks channels, such as: https://community.hortonworks.com/index.html

[2019-07-24 15:56] hrasheed-msft commented on #35748
#please-close

[2019-07-24 15:56] #35748 closed

[2019-07-24 16:13] sebcruz opened #35767 "3202 errorCode and "Time out to retry" Message combination not found in documentation"
I received this errorCode and Message combination in Azure Data Factory but it is not present in the documentation for some reason.  Could you please add this and any other errorCode/Message pairs to have a complete accounting?  I received the error when running a pipeline that runs a series of Databricks Notebooks.  I don't know if the root of the problem was a Databricks or potentially the Azure

[2019-07-24 16:21] RohitMungi-MSFT commented on #35738
@Karthiktandra We will now proceed to close this issue as this looks like a process issue rather than a documentation issue. Please work with your admin to login to LUIS initially and provide the consent, this should help other users login.

[2019-07-24 16:21] #35738 closed

[2019-07-24 16:23] tfitzmac commented on #35630
@bmoore-msft - do you know if there a limit on the number of resources deployed in parallel? As in, if 800 resources are deployed through a template are they all deployed in parallel?

[2019-07-24 16:24] AshokPeddakotla-MSFT commented on #35635
@viv-liu Could you please check this feedback and update the doc as appropriate?

[2019-07-24 16:27] dsshon opened #35768 "View script in https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet'"
Is it possible to see the prepareSubnet.ps1  script in https://raw.githubusercontent.com/Microsoft/sql-server-samples/master/samples/manage/azure-sql-db-managed-instance/prepare-subnet'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103e-17c60041a545
* Version Independent ID: fa53a263-a15a-2449-207a-

[2019-07-24 16:37] bmoore-msft commented on #35630
No ARM limit for deploying in parallel

[2019-07-24 16:37] bennope opened #35769 "Bug in Create a Windows Server AD User Scriptlet"
in $Identity CN is wrong.
CN=amccray not ammccray

$Name = "amccray"
$Password = "Pass1w0rd"
$Identity = "CN=ammccray,CN=Users,DC=contoso,DC=com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d414782-ca68-6008-2e3d-063b2e965be1
* Version Independent ID: 2471d59d-0a3e-43a0-4d7e-9bb09dc7bc2d
* Content: [Tutorial: Feder

[2019-07-24 16:41] richardbolt commented on #20171
Is there any way to disable the newer behavior of disallowing ssh key login?
We preferred the original way of being able to setup an ssh key after an initial login.

Not being able to do this means our use case as a jump box to connect to Azure managed MySQL instances via an SSH tunnel doesn't work and we end up with less security as we have to whitelist on the DB firewalls our office IPs. The ori

[2019-07-24 16:51] cynthn commented on #20171
#reassign @SanDeo-MSFT

[2019-07-24 16:53] iainfoulds commented on #35349
Thanks for the suggestion, @noendscripting. I've created a backlog work item to provide a doc update, which should be completed by the end of August.

#in-progress

[2019-07-24 17:04] TamirAl opened #35770 "404 Error on Daxko/CSI link"
https://customers.microsoft.com/story/csi-used-azure-to-accelerate-its-development-cycle-and-to-enhance-its-customer-services presents a 404 page with the following message "The customer story you are looking for is no longer available."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 954fdc5f-1572-c6a5-eb19-22e890b1174

[2019-07-24 17:06] scemobileapps opened #35771 "Minor typo"
"Launch" instead of "lunch" ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-67f5-de507bede1bc
* Content: [Advanced Threat Protection for Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-advanced-threat-prote

[2019-07-24 17:11] MashaMSFT commented on #24229
Hi @SimonGivan, thanks for bringing this to our attention! Let me look into this :) Thanks!

[2019-07-24 17:12] rioriost opened #35773 "Why these documents don't explain how to store JSON?"
Why these documents don't explain how to store JSON as a result of API to any DBs such as Orcas (PostgreSQL JSON), CosmosDB (MongoDB) and so on?
It'll be convenient for the users and it'll be more utilization of Azure solutions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2f10213-7762-b5e3-5de5-91f0add23463
* Versi

[2019-07-24 17:15] msrini-MSFT commented on #35759
@Coldpawz , Thank you for your feedback. Will validate and make changes accordingly.

[2019-07-24 17:18] yyanev commented on #20171
This is the way the AAD login currently works:

  1.  The PAM module executes a device code flow. At the end we have the user access token. The token is locked down to be able only to call CheckMyAccess endpoint.
  2.  The PAM module calls CheckMyAccess to see if the user has rights to access this VM and also adjusts the membership to the aad_admins group.

If the user is allowed to install keys,

[2019-07-24 17:22] ggailey777 commented on #35624
@DonFrazier sadly, the email response didn't correctly render the images.

[2019-07-24 17:31] bebattis commented on #29145
Just tested this as well, documentation should include more information on the storage permissions as these are not currently listed in the portal.

[2019-07-24 17:33] robinsh commented on #26176
#reassign:philmea Phil, any ideas how we should really handle this? Should we rewrite it, provide a working sample, or do something entirely?

[2019-07-24 17:36] DonFrazier commented on #35624
Page with issue:
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-microsoft

Bullet #2 link My Applications destination
https://go.microsoft.com/fwlink/p/?LinkId=262039

After signin and redirects finish (why is a different question I won't pursue here) the destination is https://apps.dev.microsoft.com/?mkt=en-us&referrer=https%3a%2f%2fdocs.microsoft.com%2f#/app

[2019-07-24 17:54] MicahMcKittrick-MSFT commented on #35572
@axelgMS I will assign to the content author to review and look into adding that note.

[2019-07-24 17:54] MicahMcKittrick-MSFT commented on #35652
@pareshverma91 I will close this out for now. If you have further comments let me know and we can always reopen and continue the discussion.

[2019-07-24 17:55] KranthiPakala-MSFT commented on #35767
@sebcruz Thanks for the feedback and bringing this to our notice. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-07-24 17:55] KranthiPakala-MSFT commented on #35767
@nabhishek Could you please have a look at this?

[2019-07-24 17:57] toolboc opened #35777 "Confusing instructions for creation of MessageBody C"
In Step 4 of [Update the Module with Custom Code](https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-create-iot-edge-module#update-the-module-with-custom-code) , the user is instructed to "Add the MessageBody class" and is then instructed to paste in code for a class named `FileEvent`.  This is a bit confusing, perhaps it could be worded a bit differently?

---
#### Document Detai

[2019-07-24 17:58] toolboc opened #35778 "Confusing instructions for creation of MessageBody Class"
In Step 4 of [Update the Module with Custom Code](https://docs.microsoft.com/en-us/azure/databox-online/data-box-edge-create-iot-edge-module#update-the-module-with-custom-code) , the user is instructed to "Add the MessageBody class" and is then instructed to paste in code for a class named `FileEvent`.  This is a bit confusing, perhaps it could be worded a bit differently?

---
#### Document Detai

[2019-07-24 17:58] CeciAc opened #35779 "Publish symbols - type of symbols"
@yahorsi commented on [Wed Jul 24 2019](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/403)

Publish symbols section should include what type of symbols supported/should be used to make snapshot debugger woek correctly. Today there are several options available when building with symbols support, like pdb-only, portable, embeeded, full...

---
#### Сведения о документе

⚠ *Не вносите пра

[2019-07-24 18:00] jdsmith99 opened #35780 "Could you publish the configuration files for Exports (esp TensorFlow)?"
I'd like to use the exported model w/OpenCV DNN. On edge devices, the OpenCV DNN is much faster and less processor intensive than the tensorflow lib. The OpenCV DNN works with TensorFlow models from other trainers, and I *think* it'll work with the Azure Custom Vision models, but they need some tweaks. This repo: https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API has a converter

[2019-07-24 18:02] CeciAc commented on #35779
Hi team
I moved this here because the contributor is asking for aditional information
best

[2019-07-24 18:05] revodavid opened #35781 "Misleading title"
The title of this article, and the "Quickstarts / Query / R" entry in the index, suggests that this article shows how to access Azure SQL Database from R, but it does not. It should be titled "Microsoft ML Service (R)" instead.

A separate article showing how to connect to Azure SQL database from the R command line, titled R, would be welcome.

---
#### Document Details

⚠ *Do not edit this sectio

[2019-07-24 18:15] igomat opened #35782 "Weekly, monthly retention - when?"
When will be available other than Daily Backup retention in Backup Policy for Azure File Shares? We need weekly, monthly. yearly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c0f8e6-5a57-58aa-ecd6-2bf83809c44d
* Version Independent ID: ee8b8f60-bffd-e6ec-5f21-bfd3208fc511
* Content: [Back up Azure File Shares](http

[2019-07-24 18:15] adunteman commented on #32752
@DeanGross I am planning to create a Microsoft Flow in our production Flow instance to add new Office 365 groups to the policy. There isn't a "when a new Office 365 group is created" trigger, so we're going to have to get creative on how to build the flow; however we will be leveraging the PowerShell commands above as a part of the solution.

[2019-07-24 18:16] YutongTie-MSFT commented on #35781
@revodavid Thank you for your feedback. We will investigate it and get back to you soon.

[2019-07-24 18:17] tchristiani commented on #35710
#please-close

[2019-07-24 18:17] #35710 closed

[2019-07-24 18:18] YutongTie-MSFT commented on #35773
@rioriost
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-24 18:20] YutongTie-MSFT commented on #35750
@raymondl Hi, could you please take a look of this issue?  Thank you.

@edwin-dsw
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-24 18:24] FrankHu-MSFT commented on #35769
@bennope Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 18:26] YutongTie-MSFT commented on #35553
@rajatb94 Thank you Rajat,  I will update the document.

[2019-07-24 18:26] FrankHu-MSFT commented on #35766
@Manimi-Chart Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 18:26] anirudhcavale commented on #32319
@aquibqureshi26 in which region is your VM? And, even if the azure.vm.diagnostics namespace was not appearing you should still see a "Guest (Classic)" namespace.
My team doesn't directly work on the diagnostics extension, but a sister team does.

[2019-07-24 18:27] tchristiani commented on #35596
#please-close

[2019-07-24 18:27] #35596 closed

[2019-07-24 18:28] cephalin commented on #31879
@linruhui Sorry still tracking down the numbers for free and shared tiers. However you can see the numbers for the other tiers at https://msdn.microsoft.com/en-us/magazine/mt793270.aspx (Look up "Network Port Capacity for Outbound Network Calls") which match the numbers you quoted.

[2019-07-24 18:29] arowswell opened #35783 "Screenshot of "Authentication Methods" of Users account in Azure AD, but no details about them"
Why do you have a screenshot of the "Authentication Methods" on this page with no details as to what they do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51eadd8e-b820-be21-9cb3-b52f334fb94d
* Version Independent ID: fe358aa5-5bb6-b8f0-8ab7-ef181dc8af42
* Content: [Admins manage users and devices - Azure MFA - Azure

[2019-07-24 18:32] FrankHu-MSFT commented on #35742
@moseleycj Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 18:35] FrankHu-MSFT commented on #35783
@arowswell Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 18:36] aquibqureshi26 commented on #32319
Hi, I replied to your post because you mentioned about Data sink and VM metrics would be available through portal and I related that with diagnostic extension which is currently rolled out in preview which will send windows guest metrics to Azure monitor data sink.

In the diagnostic article they mentioned that a new name space would be highlighted once you click on namespaces.

[2019-07-24 18:40] tchristiani commented on #29567
#please-close

[2019-07-24 18:40] #29567 closed

[2019-07-24 18:41] anirudhcavale commented on #32319
@aquibqureshi26 that is correct. But since the data sink is still in preview, it will only work on VMs in some regions. Hence I asked which region the VM is in.

[2019-07-24 18:45] aquibqureshi26 commented on #32319
ok, My VM is in EastUS region. And do we need some cmdlet to enable data sink on Azure Monitor?

[2019-07-24 18:48] tchristiani commented on #7662
Academic Knowledge is a lab. This is not a Preview or GA service and is not supported.
#please-close

[2019-07-24 18:48] #7662 closed

[2019-07-24 18:49] markarnolditpro commented on #35689
Thanks Travis.  Confirmed that we're using UltraDNS that supports DNS flattening.  Do you have any guidance for configuring DNS flattening in this scenario?  Is it just a matter of using Aliases to point to the front door profile?

[2019-07-24 18:51] MarileeTurscak-MSFT commented on #35754
@pjirsa
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-24 18:57] KingdomOfEnds commented on #34909
@obrookstein - Glad to help. Ah, let' see:

1. I think this is one of the most helpful documents to see a list of all [supported syntax operators](https://docs.microsoft.com/en-us/azure/search/search-query-odata-comparison-operators). While it applies to Azure Search, it provides a complete list of all OData comparison operators that are available. Those operators can be used in any DT queries as

[2019-07-24 18:57] SaurabhSharma-MSFT commented on #35594
@liroforum Yes, I think you need to cache the token.  You can look into this [sample](https://github.com/Azure-Samples/ms-identity-aspnet-webapp-openidconnect/blob/63e503d8d9be6abf6f3dc30573d2b5f3a3ffe790/WebApp/Controllers/HomeController.cs#L63)  for the implementation details if this helps.

[2019-07-24 18:59] TravisCragg-MSFT commented on #35663
@garybushey We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-24 18:59] #35663 closed

[2019-07-24 19:03] Mike-Ubezzi-MSFT commented on #35456
@dcbrown16 Although the title of the document indicates it applies to multi-factor AAD, the document attempts to discuss all the methods listed in the SSMS Authentication type drop-down list and does not make it very clear. Thank you for bringing this to or attention. I am going to assign this to the content author to be addressed.

[2019-07-24 19:06] Mike-Ubezzi-MSFT commented on #35456
@GithubMirek This doc needs an update to make it more clear to the reader. @CarlRabeler for awareness.

[2019-07-24 19:07] thomasiverson commented on #33999
I am experiencing the same issue.  No MI,  When I delete using the documented process, portal confirms successful deletion but detail activity returns the following...

Operation name: Delete Azure SQL Virtual Cluster
Time stamp: Wed Jul 24 2019 14:00:49 GMT-0500 (Central Daylight Time)
Error code: ResourceOperationFailure
Message: The resource operation completed with terminal provisioning state

[2019-07-24 19:09] obrookstein commented on #34909
Thanks,

Yes - I also found that the graph api uses the same syntax.

So, if the syntax for propertyKeys is different, can I do that -
PropertyKey=AreaInSqMeters&propertyValue=30&PropertyKey=Temperature&propertyValue=25?

Does the API takes into consideration the order of the parameters and “bind” the value to the right property? usually the order of the parameters doesn’t affect the call. Also, u

[2019-07-24 19:11] Sharmilinag commented on #24686
I am still having the same error although i followed all the previous steps mentioned above .

[2019-07-24 19:11] dsmeltz opened #35785 "Undefined variables in ASP.Net Core code"
In the Configure code:
OidcConstants isn't defined - it also isn't available in the MSAL package
scopes is undefined.
scopesRequestedByMsalNet is undefined.

In the BuildConfidentialClientApplication code:
azureAdOptions is undefined
UserTokenCacheProvider is undefined (It prefixed with 'this.', so I'm assuming it should be defined in the Startup class)

---
#### Document Details

⚠ *Do not edit t

[2019-07-24 19:13] TravisCragg-MSFT commented on #35689
@markarnolditpro Unfortunately I do not believe we have any guidance on this, but configuring an alias should be all that you need.

If you are having issues getting this to work, please let me know and we can look into this further.

[2019-07-24 19:26] CeciAc opened #35787 "SnapshotsCollector"
@yahorsi commented on [Wed Jul 24 2019](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/405)

Article should mention how to configure SnapshotsCollector and include several varialns of the ApplicationInsights.config file. There are small samples but from the article it is hard to understand how the final document should look like. What is the real/final document structure.

PLS move to th

[2019-07-24 19:28] CeciAc commented on #35787
Hi team,
I moved this here because on behalf the contributor
best regards

[2019-07-24 19:35] fhryo-msft commented on #34611
Please find answers as below. Thanks.

1. Is there an equivalent package available in the v10 version of Storage JavaSDK ?

2. Is there a REST API equivalent for the same ?

3. What is the best way to read the diagnostics/analytics logs apart from directly reading from reading from $logs (which is a very tedious) and using storage analytics API.

4. Will storage analytics API (https://github.com/a

[2019-07-24 19:36] AjayKumar-MSFT commented on #35557
@samjross, Yes, this document only aims at providing steps on how to configure Azure App Service to use Google as an authentication provider. From your server code, the provider-specific tokens are injected into the request header, so you can easily access them. Typically, from your client code (such as a mobile app or in-browser JavaScript), send an HTTP GET request to /.auth/me. This document ht

[2019-07-24 19:38] TravisCragg-MSFT commented on #35768
@dsshon can you post a link to the doc you are following? also, the GitHub link you posted is not working.

[2019-07-24 19:40] markarnolditpro opened #35788 "Creating SSL certification"
I currently have a custom domain and custom SSL cert on an App Service.  I'm getting ready to move this behind AFD.  For the SSL certs, is it possible to leave the existing certs in their existing key vault and pull from there with not other changes?  Do I need to create a new cert with certification requests and the like?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-07-24 19:45] YutongTie-MSFT commented on #35780
@jdsmith99 Hi J, tons of thank you for your feedback. I would highly recommend you to post your feedback to the User Voice forum so that the engineering team can review it and put it on the road map ^^ https://cognitive.uservoice.com/forums/598141-custom-vision-service

[2019-07-24 19:51] rezasherafat commented on #33108
@yatish123, today, each device belongs to exactly one IoT hub.

With that in mind, I'd like to understand what do you have in mind to achieve with "sharding"?

[2019-07-24 19:56] diberry commented on #24806
#in-progress

[2019-07-24 19:57] diberry commented on #34381
Without further information, there is nothing to do here. #please-close

[2019-07-24 19:57] #34381 closed

[2019-07-24 19:58] diberry commented on #35643
@cahann @hazemelh This is a service issue. Can you please look at it?

[2019-07-24 20:00] YutongTie-MSFT commented on #35719
@garyericson Hi Gary, could you please take a look of this feedback? Thank you.

[2019-07-24 20:01] diberry commented on #8247
This is by design. The bot framework will not call the QnA Maker service to determine the default answer. This is a current/known issue. You must add the code in the bot framework and it does **not** have to match the default answer that exists in QnA Maker service.

#please-close

[2019-07-24 20:01] #8247 closed

[2019-07-24 20:03] diberry commented on #30336
As @rokulka stated, the KBId currently exists in the customDimensions only. You must extract the value out to use it. The top query on that doc page has been corrected.

#please-close

[2019-07-24 20:03] #30336 closed

[2019-07-24 20:07] diberry commented on #32586
This is a service issue as they manage the swagger file.

[2019-07-24 20:07] MarileeTurscak-MSFT commented on #35754
Hi @pjirsa ,

This is good feedback! Please post this to [User Voice ](https://feedback.azure.com/forums/169401-azure-active-directory)so someone from the product group can directly reply.

I will also make a request for this internally. @archieag would you be able to create a work item on your end?

[2019-07-24 20:08] diberry commented on #33335
#in-progress

[2019-07-24 20:10] diberry commented on #35569
#in-progress

[2019-07-24 20:13] ecfan commented on #35578
Hi @ToMakeSense and @PramodValavala-MSFT,

Can you please provide the specific steps that produced this token? I'm having trouble reproducing the same result:

![image](https://user-images.githubusercontent.com/13206671/61825146-91310a80-ae14-11e9-9b1a-b212e786c8ac.png)

Thanks!

[2019-07-24 20:14] assafi commented on #35750
The c'tor parameter has a default value so you do not have to specify it if you do not want to. That said, in v3.0.0 of the SDK the parameter order is such that you have to use the parameter names to do that:

[code]

We have just released v4.0.0 of the SDK today that addresses a few issues, including fixing the parameter order so you won't have to do that going forward. The package should be push

[2019-07-24 20:17] mattmazzola commented on #35569
They mentioned the broken url but what about the `path` variable? It would be nice if there is a link to full code for the tutorial because I think there was a missing step to reassign the `path`.

[2019-07-24 20:17] BharathNimmala-MSFT commented on #35787
Thank you @yahorsi , @CeciAc for sharing the feedback. Assigning this to @mrbullwinkle for next steps. Thanks

[2019-07-24 20:19] BharathNimmala-MSFT commented on #35779
Thank you @yahorsi , @CeciAc for sharing the feedback. Assigning this to @mrbullwinkle for next steps. Thanks

[2019-07-24 20:19] CarlRabeler commented on #35456
Please assign to @VanMSFT

[2019-07-24 20:22] diberry commented on #35569
@mattmazzola - this is the [file](https://github.com/Azure-Samples/cognitive-services-qnamaker-nodejs/blob/master/documentation-samples/quickstarts/create-knowledge-base/create-new-knowledge-base.js).

[2019-07-24 20:23] yushwang commented on #35718
@anzaman to help

[2019-07-24 20:24] MarileeTurscak-MSFT commented on #35751
Looks like this was resolved internally.

[2019-07-24 20:28] dustindonahue commented on #34729
Hi, is there an ETA on having this complete?

[2019-07-24 20:30] femsulu commented on #35782
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-24 20:31] femsulu commented on #35761
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-07-24 20:32] qianw211 commented on #34729
Hi @dustindonahue, I'm looking into this right now... will let you know when it's ready for review! Thanks!

[2019-07-24 20:36] mike-urnun-msft commented on #35753
Hi @pvvdurgaprasad - Thank you for sharing feedback and this insight! Surely, it'll benefit & help others visiting this thread seeking clarity on that scenario. Although I believe this documentation does cover it with: "_The storage account firewall is enabled and not configured to allow traffic to and from Functions._"

[2019-07-24 20:38] mattmazzola commented on #35569
Yea, is this file linked in the tutorial some where? If not, I think it should be so developers have full context.

The snippets are split and missing the connection between the two.  It's especially confusing to rely and global variable named `path` which is shadowed by local variable `path`.  It's easier to have a url for kb creation and a url for operation status checking which are distinct.

T

[2019-07-24 20:40] mike-urnun-msft commented on #35240
@eragonriddle Thanks again for your feedback! Blob storage is used as an underlying utility service for many Azure products and services. If you'd like certain features to be made available that would enable you to manage this data better, please consider submitting a feature request at [Azure Uservoice](https://feedback.azure.com/forums/248703-api-management).

Since this channel is driving impro

[2019-07-24 20:41] #35240 closed

[2019-07-24 20:41] anzaman commented on #35718
The vnet peering needs to be created before the VPN client/profile is downloaded otherwise the profile will not have routes to the peered vnets. There is no need to reset the gateway.

[2019-07-24 20:46] Adam-Smith-MSFT commented on #35771
@Potapy4  Thank you for you contribution, it will go through once it's validated by the author :) ,
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-24 20:46] #35771 closed

[2019-07-24 20:47] mattmazzola commented on #35569
Also, are you certain this line: `path = service + result.operation` is correct?
https://github.com/Azure-Samples/cognitive-services-qnamaker-nodejs/blob/master/documentation-samples/quickstarts/create-knowledge-base/create-new-knowledge-base.js#L146

Based on tutorial the `result` is this object:
[code]

There is no `operation` property. The url should be:
`https://${host}${service}/operations/${

[2019-07-24 20:50] SaurabhSharma-MSFT commented on #35672
@mordaskyt As mentioned in the document this feature requires Azure AD Basic or higher licenses for your users.  Do you have the required license ?

[2019-07-24 20:50] archieag commented on #35754
Thank you @pjirsa! As @MarileeTurscak-MSFT mentioned, posting this on User Voice will help amplify the feedback.

[2019-07-24 20:51] MarileeTurscak-MSFT commented on #35415
Hi @ayprof ,

I made an item to include this as feedback. Please post to user voice as that is the proper channel for product feedbacks.

[2019-07-24 20:56] yegu-ms commented on #35613
@satis Thanks for your suggestion! We're tracking this request [here](https://github.com/Azure/AppConfiguration/issues/119) for the next round of docs update.

[2019-07-24 20:56] yegu-ms commented on #35613
#please-close

[2019-07-24 20:56] #35613 closed

[2019-07-24 20:58] axisc commented on #35698
@jwisener
Does [this](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-messaging-overview#topics) help?

closing this issue for now, please reopen if required.

#please-close

[2019-07-24 20:58] #35698 closed

[2019-07-24 21:01] axisc commented on #33122
I've approved the changes and these will be merged soon.

#please-close

[2019-07-24 21:01] #33122 closed

[2019-07-24 21:03] axisc commented on #30451
the new one is specific to the service.

Please review [this](https://docs.microsoft.com/en-us/azure/notification-hubs/#samples) for notification hubs SDK.

#please-close

[2019-07-24 21:03] #30451 closed

[2019-07-24 21:03] KranthiPakala-MSFT commented on #35605
@lenadroid Thank you for submitting the PR. :)

[2019-07-24 21:05] KranthiPakala-MSFT commented on #35605
@xieb0001 The PR for the doc updates has been merged. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-07-24 21:05] #35605 closed

[2019-07-24 21:06] axisc commented on #28420
the max hop count used to be 3 but was increased to 4.

@spelluru - can you update the value?

[2019-07-24 21:09] #35415 closed

[2019-07-24 21:11] Weatwagon commented on #35466
@jhakulin I created the voice signature file with Audacity and use the example script located here
[https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-use-conversation-transcription-service](url) which produced the voice signature

I created the 8-channel audio also using Audacity. I tried transcribing the audio using same example giving on the previous link. Attached

[2019-07-24 21:11] mike-urnun-msft commented on #35217
Hi @lepakm - Since this channel is for driving improvements towards MS Docs, could you open a thread on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurelogicapps)? Sounds like a pretty straight forward scenario where you just want a JSON payload in-transit to a variable which then can be an output of your workflow?

[2019-07-24 21:18] mike-urnun-msft commented on #35585
Hey @vladromAzure - Just following up to see if the answers above help. Let us know if you have any further questions and we'd be happy to assist, otherwise, we'll proceed to close this issue.

[2019-07-24 21:23] MarileeTurscak-MSFT commented on #35485
This seems to be the case. And the prerequisites here say so:
https://docs.microsoft.com/es-es/azure/////security/azure-ad-passwordless#getting-started

I created a PR to add this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/83189

[2019-07-24 21:23] #35485 closed

[2019-07-24 21:29] Adam-Smith-MSFT commented on #35778
@toolboc Thank you for the valuable feedback,we are investigating the issue.

[2019-07-24 21:30] SnehaGunda commented on #35602
Distinct and other keywords are documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-keywords#distinct

[2019-07-24 21:30] roygara commented on #14298
@SlavikCA @leonid-r-ich We apologize for the delayed response. We've since updated the doc to no longer use /mnt as the mount point. That should resolve this issue.

Accordingly, I'll be closing this issue out.

Please let us know if you're encountering any further problems regarding this, or if you have any questions regarding this. Please feel free to comment/re-open this issue.

#please-close

[2019-07-24 21:30] #14298 closed

[2019-07-24 21:31] Adam-Smith-MSFT commented on #35777
@toolboc I marked this feedback as duplicate, and re-assigned the previous for doc-enhancement. Thanks again for you valuable feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-24 21:31] #35777 closed

[2019-07-24 21:32] Adam-Smith-MSFT commented on #35700
@dannradkov Was the above comment helpful to your question ?

Thanks,

[2019-07-24 21:33] spelluru commented on #28420
@axisc - sure. I have added the description and the default value (4). Submitting a PR. Thanks!

[2019-07-24 21:36] roygara commented on #17139
@SychevIgor Thanks for bringing this to our attention, we apologize for the delay. I've checked the doc and verified that it has been updated so that preview is no longer in the screenshots. Accordingly, I'll be closing this issue out.

#please-close

[2019-07-24 21:36] #17139 closed

[2019-07-24 21:37] KranthiPakala-MSFT commented on #35646
@joesamraj Thanks for the feedback and bringing this to our notice. It is a great idea to have an explanation for Data Stores which don't have support in UI. We have passed the feedback to the Product team. I have responded to the [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/785f27e3-d852-41d1-985b-f8b2a2aa2a90/parameterized-linked-service-for-mongodb-connection?forum=AzureDataFact

[2019-07-24 21:40] dsshon commented on #35768
@TravisCragg-MSFT The link is https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-configure-vnet-subnet  Look in the "Validate and modify an existing virtual network" section

[2019-07-24 21:41] skilmartin commented on #35732
I would love to know the answer to this as well.  It works when using net localgroup administrators /add but it is not possible to run on all machines.

[2019-07-24 21:43] TravisCragg-MSFT commented on #35768
@dsshon Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-24 21:46] gjdonkers opened #35791 "Add an App Service"
Is there a way to add app services to an application gateway trough the Azure CLI? I’ve found the —server with to set the target of a rule but it doesn’t accept the App Service url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d47b2e-8fa4-fe3f-5be9-9fae3a51a775
* Version Independent ID: a61e0895-cd0d-ef7e-b64f-2c1e

[2019-07-24 21:48] #35672 closed

[2019-07-24 21:50] tony-gutierrez commented on #30451
That link has nothing to do with node. It seems ridiculous to have to use both the old and new sdk in order to use notification hubs and service bus.

[2019-07-24 21:52] mike-urnun-msft commented on #35406
@ChanEilFhios I've gone through the steps on my Mac but it's certainly possible with the specific version you're running on given [this issue](https://github.com/Azure/azure-functions-core-tools/issues/1447) on Functions host repo. Could you upgrade to [the newer version](https://github.com/Azure/azure-functions-core-tools/issues/1447#issuecomment-513061068) and try again?

Since this channel is f

[2019-07-24 21:52] #35406 closed

[2019-07-24 21:55] mordaskyt commented on #35672
My organization has Azure AD for Office 365, which it would seem does not qualify to take advantage of this feature.

[2019-07-24 21:58] KranthiPakala-MSFT commented on #35703
@iLikeAzureSQL Just checking to see if the above comment was helpful. And, if you have any further query do let us know.

[2019-07-24 22:00] vladromAzure commented on #35585
Thank you guys, I think it will work for me

Kind regards,
Vlad

________________________________
From: Mike Urnun <notifications@github.com>
Sent: Wednesday, July 24, 2019 11:19:00 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vladromAzure <vladrom@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to add connections? (#35585)

Hey

[2019-07-24 22:03] YutongTie-MSFT commented on #35781
@garyericson  Hi Gary, could we make a change for the title? Thank you.

[2019-07-24 22:05] ChristianMontoya commented on #35471
@Kjeanclaude : In general, you must have a valid (commercial) Azure subscription and Azure AD tenant to test out the service. Also, to get started, you will need to be a Global Admin of that Azure AD tenant.

I'm not exactly sure of the question, but if you're able to meet those, then you test the service now, as it is in preview.

[2019-07-24 22:08] JimacoMS3 commented on #33801
Hi Christophe -- just checking back to see whether you've had a chance to look at this.

Best,

Jimaco

[2019-07-24 22:14] hrasheed-msft commented on #35404
@mohakevin Have you testing the same procedure on and HDInsight 3.6 cluster to eliminate any other issues that might be occurring?

[2019-07-24 22:16] jaijitendra opened #35792 "Some elements in the doc are not in Russian, even though it should be in english,"
Some elements in the doc  are in Russian, even though it should be in english,

---
#### Детаљи документа

⚠ *Не уређујте ову секцију. Она је неопходна за повезивање проблема слиједом docs.microsoft.com ➟ GitHub.*

* ID: 6f6c8fe3-d9a3-f11b-cfe7-f0f67f44b0d5
* Version Independent ID: c160ab4e-332d-ee3a-bd51-715698d8f90c
* Content: [Query data in Azure Monitor using Azure Data Explorer (Preview)](ht

[2019-07-24 22:18] spelluru commented on #28420
Updated.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues#moving-messages-to-the-dlq

#please-close

[2019-07-24 22:18] #28420 closed

[2019-07-24 22:20] hrasheed-msft commented on #35640
@kailisupport What version did you use to when creating the on-demand Hive cluster in the ADF linked service?

[2019-07-24 22:21] diberry commented on #35643
@ram-msft Please assign to @tellarin.

[2019-07-24 22:26] anirudhcavale commented on #32319
No, as long as you have the MSI on the VM, and you enable the data sink that should be all. @aquibqureshi26 is there an email you can be reached at?

[2019-07-24 22:28] mohakevin commented on #35404
@hrasheed-msft No, we haven't tested with HDI 3.6.
However, the .jars should change because the target version of hive is not the same (at least, i suppose that..)

[2019-07-24 22:29] FrankHu-MSFT commented on #35691
Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day friday. Please reopen this git issue if you have anymore concerns. Thanks

[2019-07-24 22:30] FrankHu-MSFT commented on #35769
Hey @bennope  thanks for letting us know about this. We're currently look into this and will make the change accordingly. We appreciate the feed back and giving us the chance to fix our issues.

[2019-07-24 22:31] Smoles opened #35793 "When Are IP Address Changes Effective?"
First off thank you very much for providing us with a way to be notified about IP Address changes. This has been helpful. Is there any way you could clarify how quickly after a change has been published we should expect that change to be implemented by the Application Insights service?

For example, if we get a notification about a new IP address being added, should we expect that new IP address t

[2019-07-24 22:33] FrankHu-MSFT commented on #35783
Hey @arowswell  can you clarify by screenshot of authentication methods?

Are you referring to this picture?
![image](https://user-images.githubusercontent.com/6366013/61833139-415c3e80-ae28-11e9-9cc8-27f75bdec9db.png)

And by auth methods you're referring to the contact info section?
phone, alt phone, email, and alt-email?

[2019-07-24 22:34] FrankHu-MSFT commented on #35742
Thanks for letting us know about this issue, we're still looking into this but will let you know as soon as possible once we have an update on this. Unfortunately, updating an entire doc might take some time, but we're looking to make these changes as soon as possible. Thanks for bringing this to our attention!

[2019-07-24 22:36] Alberto-Vega-MSFT commented on #35519
@marrichamsft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-24 22:44] FrankHu-MSFT commented on #35441
@marcusclayton

I've gotten some feedback in regards to this it looks like the issue is that FIDO is not supported for remote sessions.

So if you want to see the sign-in with security key, you have to be on 1903+ and disable enhanced session (enhanced session uses RDP protocol).

Also USB pass-through is not tested on VMs, so support is "best effort".

Please let us know if there are anymore ques

[2019-07-24 22:47] TravisCragg-MSFT commented on #35788
@markarnolditpro I do not think that any additional configurations are needed, and you[ should be able to follow the steps as outlined here](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain-https#option-2-use-your-own-certificate).

@SaurabhSharma-MSFT do you know of any restrictions from they key vault side?

[2019-07-24 22:51] mries commented on #35560
Hi @jakaruna-MSFT<mailto:notifications@github.com>...  I am on currently on vacation.  This problem is not my own but a customer of mine.  I am in the Azure Linux Escalation Group.

The only error  that has been provided to me is the 404 running the install.sh.  apparently it is looking for rhel 7.6 packages in the repo however the latest it has is 7.5.

Is that expected?

Thanks,
Mries

Get Outlo

[2019-07-24 23:00] MarkAtAgilliance commented on #26203
Hope this helps.  What we do is have a separate repo with all our code that is common to many factories.

So, if you are using Azure Devops, then add a repo inside the project that contains your ADF repo(s).  Include that repo as an asset in the devops release pipeline just like you do with adf_publish today (we use an alias "common" for this asset).  Then you can reference that code in your pipel

[2019-07-24 23:05] arowswell commented on #35783
That's the picture.

I was hoping we could get a description of what "Require re-register MFA" does as well as the other buttons.

[2019-07-24 23:05] TravisCragg-MSFT commented on #35791
@gjdonkers Make sure that you are adding your app service via the FQDN, which means you should not have http:// or https:// in the name. For Example:

`az network application-gateway address-pool create -g RGname --gateway-name AGname -n Poolname --servers appname.azurewebsites.net`

[2019-07-24 23:07] TravisCragg-MSFT commented on #35294
@hkusulja Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-24 23:09] MarkAtAgilliance commented on #29172
(hope this helps) - check in dev ops that your agent service has credentials to access your tenant (usually via a service principal - if you are running your own agent, then perhaps via an MSI account).  If you can deploy other opbjects, assume this is ok.  then...

Check your target subscription has eventgrid resource provider enabled.

Make sure those credentials have access to create/modify eve

[2019-07-24 23:09] dcbrown16 commented on #35630
Awesome, thanks all! I'll let @tfitzmac decide to close or add that info to the doc.

[2019-07-24 23:10] mmacy commented on #35742
Hi @moseleycj, I'd like to get a bit more info from you on this issue, if possible.

1. On the app registrations, it is still a similar process, but instead of selecting *App registrations*, you select **App registrations (Legacy)**. I'll get this updated in the doc, but want to check: is there something else about the process that isn't working for you?

    ![image](https://user-images.githubuse

[2019-07-24 23:11] MarkAtAgilliance opened #35794 "Function apps don't handle CI/CD"
Just a note that function apps do not parameterize their key values in the ARM template so hard to deploy to multiple environments.  Not sure what the plan is but today, this makes a mess of CICD because there is no easy way to override the functionAppUrl or the functionKey values in the ARM template.  Maybe add a caution box in the doc above until this is fixed.

---
#### Document Details

⚠ *Do

[2019-07-24 23:11] JimacoMS3 commented on #24579
Hi @inesk-vt  thanks again for your feedback, as I stated previously, the topic has been updated and should be current with the portal. At this time I am going to close this issue. If you discover later that the problem still exists, please open another GitHub issue and link this one. Thanks again - Jimaco

[2019-07-24 23:11] JimacoMS3 commented on #24579
#please-close

[2019-07-24 23:11] #24579 closed

[2019-07-24 23:20] Grace-MacJones-MSFT commented on #35624
Thanks for the additional details @DonFrazier ! I repo your process and I had the same experience. I will go ahead and create a pr to update the link.

[2019-07-24 23:37] TravisCragg-MSFT commented on #35436
@stevenwhitej Are you also having issues with the [health probes on your Front Door](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-health-probes), or just your app insights & reporting?

For the questions regarding app insights, your best bet is to open a separate issue on that page asking for the IP addresses that the requests come from.

[2019-07-24 23:46] FrankHu-MSFT commented on #35783
I see, okay we'll look into adding these items into the document. Thanks for putting in your feedback, we'll try to make these docs as crystal clear as possible,

[2019-07-24 23:47] roygara commented on #17311
@patpicos Thanks for reaching out, we apologize for the delayed response. This article has been updated with AAD DS support. Accordingly, I'm closing out this issue.

#please-close

[2019-07-24 23:47] #17311 closed

[2019-07-24 23:49] cogran commented on #35718
And if the VNG existed and was previously in production, all that *should* be needed is the updated P2S client, correct?

And this scenario is now officially supported? I previously saw that P2S with gateway transit could work but was not officially supported.

[2019-07-25 00:19] kuzhao opened #35795 "Doc about allowed key size/type from KeyVault?"
One of my customer fed back to me that he got following error when setting TDE protector via AzPwShell:
The key vault provided 'https://kvathlifeuataz2krzt2k.vault.azure.net/keys/MSSQLKey2/a155d1c60e74438bba1f215324aa5b04' on  server 'sdb-thlife-uat-az2-sql001' uses unsupported Key Size or Key Type. The supported RSA Key Size is 2048 and Key Type is RSA or RSA-HSM.

Do we possibly have any info on

[2019-07-25 00:25] KeiroKamioka0000 commented on #27569
any update?

[2019-07-25 00:26] KeiroKamioka0000 opened #35796 "What will happen if the listener number got more than 40?"
My customer would like to know more specific reason why the 40 is prefered.
What will happen if the listener number got more than 40?

Application Gateway limits
https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#application-gateway-limits

1 In case of WAF-enabled SKUs, we recommend that you limit the number of resources to 40 for optimal performance.

---
#### Document Deta

[2019-07-25 00:32] Alberto-Vega-MSFT commented on #35692
@ppavanm Just wanted to make sure that I understood your question correctly and also wanted to add that Yes you can use [DPS](https://docs.microsoft.com/en-us/azure/iot-dps/) to provision millions of devices in a secure and scalable manner with no human intervention

[2019-07-25 00:43] TravisCragg-MSFT commented on #35755
@archmangler Thanks for the feedback. We are actively investigating and will get back to you soon.

[2019-07-25 01:15] kailisupport commented on #35640
I believed it was 4.0 (should be the newest). Just make adjustments to the document in case anyone who is new to the HDInsight platform is unable to figure the source of the "table not found error" in a reasonable amount of time.

[2019-07-25 01:33] SinZ163 opened #35797 "oauth ropc v2 example is inconsistent"
In the example, it shows using client_id with no tenant_id, while the table of parameters uses tenant_id, but not client_id.

In addition, the postman collection shows it using client_secret in addition to client_id which isn't present at all in this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3eac288-4dd

[2019-07-25 02:06] smudireddy commented on #35448
[iOS_App_ADAL_2_7_12_Error_AADSTS900384.txt](https://github.com/MicrosoftDocs/azure-docs/files/3429407/iOS_App_ADAL_2_7_12_Error_AADSTS900384.txt)

[2019-07-25 02:06] smudireddy commented on #35448
Application Manifest

[MaaS360-SSO-App.txt](https://github.com/MicrosoftDocs/azure-docs/files/3429410/MaaS360-SSO-App.txt)

[2019-07-25 02:13] aahill commented on #35110
While I can’t reopen the issue (I don’t have the perms), I’ve forwarded this info to the further product team. I’m hoping to get a response to this, either as a bug report or otherwise.

[2019-07-25 02:25] smudireddy commented on #35448
@ManojReddy-MSFT ,

What is the description of this error code AADSTS900384 ?

[2019-07-25 02:39] Alberto-Vega-MSFT commented on #35535
@Shri-Humrudha were you able to overcome this issue?

[2019-07-25 02:42] ericjiang18 opened #35799 "Custom Vision CoreML Export for Object Detection"
After I completed the object detection model and export the model, what kind of format are the inputs and outputs are in? Is there any API or prebuild swift code/model that supports custom vision coreML inputs and outputs.

[2019-07-25 02:47] Alberto-Vega-MSFT commented on #35535
@Shri-Humrudha Can you confirm that your PC meets the Body Tracking requirements
https://docs.microsoft.com/en-us/azure/Kinect-dk/system-requirements#body-tracking-host-pc-hardware-requirements

[2019-07-25 02:51] ArcherAZ commented on #33680
Hi, please refer to the swagger API here for automating the process in your program: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/swagger-documentation

[2019-07-25 02:53] BharathNimmala-MSFT commented on #35793
@Smoles - Thank you for your question, we are looking into this and will get back to you shortly.

[2019-07-25 03:09] ArcherAZ commented on #35396
Thanks so much for the valuable feedback! Yes, we will soon support more flexible formats pipeline and improve the training experience. Also we are considering adding explicit error messages when task fails. Thanks again for letting us know

[2019-07-25 03:17] kobulloc-MSFT commented on #35159
@robertjf I'll follow up with the document author to see if we can get this resolved for you, but do feel free to add additional tracking as we investigate this (and thank you again for bringing this to our attention).

[2019-07-25 03:19] nicolaszhang opened #35800 "What's data consistency promise provided by AzCopy?"
What's data consistency promise provided by AzCopy? For example, all data copied should be correct, no partial data copied, etc. Any document mentioned about this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b646ce05-8744-6bd6-89d2-d830d27955e2
* Version Independent ID: 1c2226e5-be43-2d8e-a791-78570378b988
* Content

[2019-07-25 03:40] SnehaAgrawal-MSFT commented on #31166
@Syamala2604 We will close this out but if you feel you need more information please just let us know.

[2019-07-25 03:40] #31166 closed