[2020-06-22 16:43] JamesTran-MSFT commented on #56903
@oeicramirez
I'll be re-opening your issue on GitHub since it's easier for @jeevansd to track. Jeevan will continue to work with our engineering teams and update as needed.

Thank you for your time!

[2020-06-22 16:48] briandunnington commented on #36458
Thanks @ehamai - for # 2 when you say 'set to something other than empty, 0, or 1' - is that correct? arent 0 and 1 opposites? (We have ours set to 1 and we assumed that meant yes/true (*do* run from package) as documented here: https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package)

[2020-06-22 16:50] OwainWin commented on #36458
Hi Elliott, many thanks for the extremely swift reply.

So just to clarify:
When deploying from an ARM template to the Consumption plan and using a deployment slot but No zip/package

-          I should define both WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE on both the Production and Staging slot.

-          I should NOT define WEBSITE_CONTENTSHARE as a deployment slot set

[2020-06-22 16:54] DCtheGeek commented on #57261
Thanks for the clarification @parulbansal2009.

@ceejoyce As this is a product question and not a docs issue and I believe Parul has answered it, I'm going to close this issue. Thanks!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-06-22 16:54] #57261 closed

[2020-06-22 17:03] Karishma-Tiwari-MSFT commented on #52463
@zr-msft Do you know who would be the right person to help update the doc? Thanks :)

[2020-06-22 17:05] Karishma-Tiwari-MSFT commented on #57502
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-22 17:05] calvinschulte opened #57607 "GPU-accelerated frame encoding isn't supported on NVv4 SKUs"
Per a case I opened with Support (ID# 120061124006212) after being unable to make the accelerated frame encoding work on an NVv4as_v4, this feature isn't supported. Specifying supported SKUs or specifying unsupported SKUs should be done in that section of this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d3

[2020-06-22 17:06] #38066 closed

[2020-06-22 17:07] erikadoyle commented on #38066
This tutorial series requires a Windows dev box specifically--sorry that wasn't noted as a prereq. I've added that now.

Also filed a workitem to provide a separate ASP.NET Linux tutorial--good point about that! #please-close

[2020-06-22 17:08] iliassk opened #57608 "Single Logout URL is never called by Azure AD B2C"
Is the Single Logout/Sign-out still only available for custom policies as per the current docs?

- If it is, would you please direct me to the docs I need to follow to implement it? Possibly other than these: https://docs.microsoft.com/fr-fr/azure/active-directory-b2c/session-behavior-custom-policy#configure-the-token-issuer because it doesn't really show us what we need to add to our custom polic

[2020-06-22 17:11] ecfan commented on #57603
Hi @elkadeem, thanks for reporting this issue. You can use any other RSS feed URL that you want and follow the general quickstart steps. We'll fix the doc issue ASAP.

[2020-06-22 17:18] SaurabhSharma-MSFT commented on #57242
@toanduong-bbv I also facing similar issue and assigned this issue to content author to investigate and update the document as appropriate.
![image](https://user-images.githubusercontent.com/38112130/85316478-acb3f380-b471-11ea-9ffe-3ae7a7751624.png)

[2020-06-22 17:21] ShaneBala-keyvault commented on #54725
Updated the document with links to CLI and Powershell commands that are easier to access.
PR Submitted, changes will be public within 48 hours

[2020-06-22 17:21] ShaneBala-keyvault commented on #54725
#please-close

[2020-06-22 17:21] #54725 closed

[2020-06-22 17:22] himanshusinha-msft commented on #57605
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-06-22 17:25] SnehaGunda commented on #54507
@aurokk

This user voice item was mistakenly marked as completed but we’re not quite complete with these options (startAtOperationTime / startAfter).

Currently, only `resumeAfte`r is complete. The Sample is available here, https://github.com/Azure-Samples/azure-cosmos-db-mongodb-java-changestream/tree/master. I can get it added to the doc.

`startAtOperationTime` and `startAfter` will be availabl

[2020-06-22 17:25] himanshusinha-msft commented on #57577
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-06-22 17:27] dsindona commented on #57356
@SwiftDavid where exactly are you encountering this problem /entering the VAT number? Is is related to the article in this issue (creating a SaaS offer) or when you are configuring your Partner Center account. Can you please grab a screenshot of the problem? It would be helpful. Thanks

[2020-06-22 17:27] himanshusinha-msft commented on #57556
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-06-22 17:28] bandersmsft commented on #57439
@bizinbarefeet What kind of Azure account do you currently have? is it a free or student account?

[2020-06-22 17:28] ehamai commented on #36458
@briandunnington - Yeah sorry it's confusing.
- 0 means disabled
- 1 means run from a local zip but for that to work properly, you need to also have WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE defined by the first statement.

[2020-06-22 17:30] mike-urnun-msft commented on #57581
@CatchSandeepVaid Thank you for your feedback! We will review and update as appropriate.

[2020-06-22 17:31] Mike-Ubezzi-MSFT commented on #57191
@cesarswarowsky We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-22 17:31] #57191 closed

[2020-06-22 17:37] ehamai commented on #36458
@OwainWin - Sorry I'm confused by your question.  You asked if you should and should not include WEBSITE_CONTENTSHARE.

I believe you should have WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE defined on both the production and staging slot.

[2020-06-22 17:38] SatishBoddu-MSFT commented on #57560
@V-Guru Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-22 17:38] MartinJaffer-MSFT commented on #57249
Thank you for your feedback @mathiasbl . This has been assigned to the content owner, @djpmsft  and will be updated as appropriate.

[2020-06-22 17:40] briandunnington commented on #36458
Thanks @ehamai - so back to the original question of this thread: what is the guidance for setting WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE in an ARM template that works for initial and subsequent deployments? For the Premium plan (not 100% sure about Consumption plan but believe it is the same), here is the matrix of what works/doesn't work:

- if you deploy a new resourc

[2020-06-22 17:44] ShaneBala-keyvault commented on #53832
Added Vault Operations Reference to show all key vault operations (access policies) and what operations are allowed. Cannot enumerate in the doc itself, pointing to REST reference to make sure it is continuously up to date.

PR Submitted, changes will be public in 48 hrs.

[2020-06-22 17:44] ShaneBala-keyvault commented on #53832
#please-close

[2020-06-22 17:44] #53832 closed

[2020-06-22 17:45] SnehaGunda commented on #54507
We will now close this issue.

#please-close

[2020-06-22 17:45] #54507 closed

[2020-06-22 17:47] SnehaGunda commented on #53921
@souvik-ausnet Hope the above response helps. We will now close this issue. If you need further help please feel free to create a new issue.

#please-close

[2020-06-22 17:47] #53921 closed

[2020-06-22 17:53] jeevansd commented on #56903
@oeicramirez We have already notes this as a bug in our system. There is one more customer who reported us the issue. The team is working on the fix and we will let you know once the fix is ready.

[2020-06-22 17:54] SnehaGunda commented on #57290
I don't see a doc update for this issue so closing it.

#please-close

[2020-06-22 17:54] #57290 closed

[2020-06-22 17:56] bizinbarefeet commented on #57439
Neither - its a paid S1 Teir

[2020-06-22 17:56] epomatti opened #57611 "App Service auto-scale - Service Bus queue active messages definition"
When auto-scaling based on a Service Bus queue I can't find a definition for:

- Messages processed
- Active messages processed

What does "active" mean and what in contrast is "not active". Does active means messages waiting to be processed in the queue ("unprocessed"), and messages processed means messages that were removed from the queue? Would be easier to remove the "processed" from the secon

[2020-06-22 17:59] SumanthMarigowda-MSFT commented on #57236
@irs-sesc1 It will be available in  ETA is Q3/Q4 this year.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 17:59] #57236 closed

[2020-06-22 18:03] c016smith opened #57612 "Multiple azuread policies HomeRealmDiscovery vs. ActivityBasedTimeoutPolicy"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-use-email-signin

I do have an 'ActivityBasedTimeoutPolicy' (ABTP) in my tenant marked as default, so will this new policy for HomeRealmDiscovery (HRD) break that in any way? Can they both be 'isOrganizationDefault' since they're different types?

Since I already have an existing AzureAD policy (ABTP) marke

[2020-06-22 18:05] awentzel commented on #57455
Thanks @TravisCragg-MSFT @BryanTrach-MSFT I'd recommend updating this documentation.

Because it says "and then" inferring that middleware is also required.  When it can be achieved with one or the other.  This was my major point of confusion.

Thanks,

[2020-06-22 18:12] Ericgre commented on #57545
I can't see your screenshoots, could you please, send me the nslookup answer from your test machine ?

[2020-06-22 18:13] SwathiDhanwada-MSFT commented on #57323
@skeeler Yes, seems the default settings are not populated. Thanks for your valuable feedback.
@bwren Can you please review this request and update the document accordingly?

[2020-06-22 18:13] DerekHerman-MSFT commented on #57446
@abmis-mi The connection string format can be found in [this section](https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#configure-a-connection-string-for-an-azure-storage-accountl) of the article you linked. Please see, [Use Azure Key Vault to manage your access keys](https://docs.microsoft.com/en-us/azure/storage/common/storage-account-keys-manage?toc=%2Faz

[2020-06-22 18:21] Magneto888 commented on #49766
If you want to download EDB to PST Converter then, I will help you. Recently, I have found a new article that can provide complete of top EDB file to PST converter tool. This is the best utility to convert exchange EDB mailboxes data into PST file.

Read full info: [https://www.listyour5.com/best-edb-to-pst-converter/](https://www.listyour5.com/best-edb-to-pst-converter/)

[2020-06-22 18:23] MonikaReddy-MSFT commented on #57272
@Ettores88 -  Thanks again for bringing this to our attention.

I think the provided sample is accurate and We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-22 18:23] #57272 closed

[2020-06-22 18:33] SnehaGunda commented on #57344
@irgnosis the instructions to change at the database and container level are available here. Currently, for all APIs, you can only use the Azure portal to do these operations:

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-provision-autoscale-throughput?tabs=api-async#enable-autoscale-on-existing-database-or-container

[2020-06-22 18:34] SnehaGunda commented on #57344
We will close this issue now.

#please-close

[2020-06-22 18:34] #57344 closed

[2020-06-22 18:34] Cloudmersive opened #57613 "This documentation page is not helpful"
- It does not say what running this command will do - what metrics will be collected?
- When enabling at the server level, how do we actually configure what performance counters, etc. are collected?
- How does this module get run?  Does it launch a new process?  If so what is this process called
- Does installing this require a server reboot?
- If we want to collect SQL Server Performance Counters

[2020-06-22 18:37] SnehaGunda commented on #57437
The script specifically to create a database and collection for Azure Cosmos DB's API for MongoDB is here: https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/powershell/mongodb/ps-mongodb-create?toc=/powershell/module/toc.json

We will close this issue now.

#please-close

[2020-06-22 18:37] #57437 closed

[2020-06-22 18:39] VitalyMCT opened #57615 "On-prem and other Git Repos"
Is there any way at all to integrate ADF v2 with either on-prem or non-Azure DevOps / non-GitHub Git repost? If so, how to do it? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7309c102-934f-e073-823d-684804e38ff9
* Version Independent ID: 2035c3ea-1e64-4f1b-0194-c1b407812e28
* Content: [Source control - Azure

[2020-06-22 18:44] VikasPullagura-MSFT commented on #57155
@bathizte Thanks for sharing the info.
I reached out to internal team on this and they requested to open a support case so that they can have a look at your cluster.

If you don't have the ability to open a technical support ticket, you can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and [link](https://github.com/MicrosoftDocs/azure-d

[2020-06-22 18:45] VikasPullagura-MSFT commented on #57155
We will now proceed to close this thread. As recommended open a support case to get this issue looked by Support Engineer.

[2020-06-22 18:45] #57155 closed

[2020-06-22 18:49] VitalyMCT opened #57616 "Conventions & rules for additional object types"
It's been about 2.5 years since this article was last updated. Can you please update it to cover the following:

1. Triggers
2. Activities
3. Mapping data flows
4. Wrangling data flows
5. Any other object types that are yet to be covered

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f81ce0-8915-2390-2c8e-53

[2020-06-22 18:50] #57604 closed

[2020-06-22 18:51] Mike-Ubezzi-MSFT commented on #57410
@MikhailTymchukFT For the first item, yes. For the second item, you are correct. When you deploy an Azure Synapse Workspace it is provisioned with an Azure Data Lake (Storage) account. This is the `SQL on-demand` storage that is associated with the workspace:

![Screenshot (68)](https://user-images.githubusercontent.com/37126106/85324064-ff93a800-b47d-11ea-9d0a-3704bb0ae746.png)

After this servic

[2020-06-22 18:59] shashishailaj commented on #57573
@kajencik Thank you so much for pointing out to the new URL . We have initiated a pull request and it will be updated in the next release cycle in 24-48 hours. We will close the issue for now. Should you have any further queries on this, please feel free to tag me to your reply .

Thank you.

[2020-06-22 19:00] SnehaGunda commented on #57389
@JohnnyGuy The names in the table map to what's in the Azure portal, it's a container for SQL API.

![image](https://user-images.githubusercontent.com/14284405/84948767-08146900-b0a1-11ea-9bae-0c5ae46eb4a2.png)

Instead of saying"For SQL API, a container maps to a Container" I will update the doc to "For SQL API, the resource is called a container.

[2020-06-22 19:00] lisaguthrie commented on #57559
@jjindrich - it's referring to the "Feature management" blade on the Azure portal.

[2020-06-22 19:00] SnehaGunda commented on #57389
We will now close this issue.

#please-close

[2020-06-22 19:00] #57389 closed

[2020-06-22 19:00] flyingUnderTheRadar opened #57617 "Partial text"
"When you enable read access to the secondary region, your data is available to be read if the primary region becomes unavailable."

Won't it be better to instead say that the data in the secondary region is always available to be read irrespective of the status of the primary region ? That is what differentiates a RA - XXX from XXX based on my understanding.

More than happy to create a PR to rec

[2020-06-22 19:05] #57573 closed

[2020-06-22 19:09] MikhailTymchukFT commented on #57410
@Mike-Ubezzi-MSFT Thank you again, this is very useful information!

"I see" was a metaphor - I found 3 different kind of storage in different non-overlapping places of documentation (because these are different products). This is why I couldn’t sort them out so long.

It would be great to make a cross-reference links to a short general article which describes the difference between each storage t

[2020-06-22 19:09] #57410 closed

[2020-06-22 19:10] awentzel commented on #36141
@SvetlanaDevOps Please consider re-opening this Issue to update the documentation to be accurate.

[2020-06-22 19:11] shashishailaj commented on #56992
@alac0m We have requested for an answer on this from the backend team and will update once we have it .

[2020-06-22 19:11] roygara commented on #48956
@Digiroka Sorry for the delayed response but thanks for bringing these to our attention.

We've gone ahead and corrected both issues, I've changed the script to just use the OrganizationalUnitDistinguishedName parameter by default. Since that seemed optimal.

The changes will be live later today, accordingly, I'll close this out.

Thanks for helping us improve our docs, we greatly appreciate it!

[2020-06-22 19:11] #48956 closed

[2020-06-22 19:16] tfitzmac commented on #57597
It looks like this limit is listed in both the Key Vault section and the Networking section. Key Vault seems to have it right.

[2020-06-22 19:23] mscatyao commented on #43686
Hey @VipinAgarwal - AGIC only supports AppGW v2 SKUs (Standard_v2 and WAF_v2) beyond version 0.10.0. If you're using a version past 0.10.0 with an AppGW v1 SKU (Standard or WAF), then AGIC won't work.

[2020-06-22 19:23] shashishailaj commented on #57327
@knightpfhor We have initiated a pull request for updating the link . The current .Net SDK for Key vault Link is https://docs.microsoft.com/en-us/dotnet/api/overview/azure/security.keyvault.keys-readme?view=azure-dotnet . The changes will reflect after review from the content team in 24-48 hours. We will close the issue once the changes are merged to the documentation.

Should you have any query a

[2020-06-22 19:28] tamram commented on #57617
@flyingUnderTheRadar - We do say this in the article:

The secondary region is always available for read access after you enable RA-GRS or RA-GZRS, so that you can test your application in advance to make sure that it will properly read from the secondary in the event of an outage.

It's in the section titled [Design your applications for read access to the secondary](https://docs.microsoft.com/az

[2020-06-22 19:32] tfitzmac commented on #57477
@cloudruler - thanks for this feedback. I see that reusing the word "redeploy" creates this confusion. The link itself goes to an article that describes the scenario of the first paragraph. I'll change that word to "rollback" to differentiate the cases.

[2020-06-22 19:34] shashishailaj commented on #51346
@josephka3 @ccarls-cloudfit The information about the incident IDs is not actually available currently in the Log analytics workspace. The entry in SecurityAlert table is just a placeholder. This information is currently accessible only using an API as has been mentioned in the URL https://azsec.azurewebsites.net/2020/03/18/quick-look-at-new-azure-sentinel-incident-api/  .

This is being worked up

[2020-06-22 19:34] #51346 closed

[2020-06-22 19:37] yegu-ms commented on #57390
@replogle thank you for your suggestion! We've add this to our backlog of work items.

#please-close

[2020-06-22 19:37] #57390 closed

[2020-06-22 19:37] bandersmsft commented on #57439
@bizinbarefeet Did you upgrade your current account from a free or student account? Sorry for all the  questions here, but the intent of the article is describe how to upgrade from a free or student account to a paid Azure account.

[2020-06-22 19:38] blaiseAI opened #57619 "I am unable to see live metrics, and request but it shows within Visual Studio 2019"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225a3185-819c-9723-70cb-78cd95c9506f
* Version Independent ID: 6f818cb1-5c1e-22a0-dbb5-cb065d880775
* Content: [Set up web app analytics for ASP.NET with Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/

[2020-06-22 19:40] bandersmsft commented on #57439
@bizinbarefeet If you're trying to enable MFA for your account, check out https://docs.microsoft.com/azure/active-directory/authentication/concept-mfa-howitworks

[2020-06-22 19:42] #57477 closed

[2020-06-22 19:42] dlepow commented on #57266
@SteveDMurphy - Thanks for pointing out this issue. We'll update the document soon with current information. Cheers

[2020-06-22 19:45] tfitzmac commented on #57492
@v-vrusse - if there is a storage account in Azure that already uses the name you provided, you get this error. Are you trying to redeploy a storage account that you had deployed earlier? If so, the problem may be that you have specified a different location or resource group for the storage account.

[2020-06-22 19:46] pawarbi commented on #51690
Thanks

[2020-06-22 19:49] dlepow commented on #57266
#assign dlepow

[2020-06-22 19:53] arsnyder16 opened #57621 "Purge a specific front end"
Is it possible to purge content from a front end

Based on the front door example if i have  `images.contoso.com` and `videos.contoso.com` and i want to purge just `images.contoso.com`

Is that possible?
Based on the docs it all seems to be relative paths.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a

[2020-06-22 20:00] brianburtoninmar opened #57622 "Broken tutorial"
None of the references in Resource Explorer match what I can see in the Azure Portal.  The resource explorer does not have the buttons for readonly/readwrite and I can't see any way to "drill down to config/settings" on the left.  This stopped me cold and I learned very little from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-06-22 20:03] MartinJaffer-MSFT commented on #57577
Thank you for bringing this to our attention @algattik .

You are correct.  64 is the theoretical maximum, but in practice the maximum is less.  Some addresses are reserved (see [here for details](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#are-there-any-restrictions-on-using-ip-addresses-within-these-subnets)).

Thank you for raising awareness in issue Azure/AzureD

[2020-06-22 20:08] v-vrusse commented on #57492
@tfitzmac Yes the storage container already exists in this case.  I'm attempting to run the `incremental` deployment which I would expect it to verify that it exists and move on to the next thing rather than throwing the error.

After diving deeper into Azure, it seems like the storage account is somehow currently in a different location than what has always been specified in the Release Pipeline.

[2020-06-22 20:10] shashishailaj commented on #57325
@mandiaya As we have not received any response for you , We are closing this issue. Should you have any further queries please tag me to your reply and we will be happy to help .

[2020-06-22 20:10] #57325 closed

[2020-06-22 20:12] yaegashi commented on #38660
I got the same error with [go-autorest](https://github.com/Azure/go-autorest) for https://management.azure.com/subscriptions/XXXXXXXX/providers/Microsoft.Consumption/usageDetails?&api-version=2019-10-01:

[code]

I didn't provide any billing periods in the request.  And how can I provide UsageStart and UsageEnd dates for usagedetails?

[2020-06-22 20:13] rboucher commented on #57611
@shilpasharmaAM . Can you provide some help here?

[2020-06-22 20:13] shashishailaj commented on #57526
@curtand Could you please help review this as this document would need some editing ?

[2020-06-22 20:15] kgremban commented on #57448
@fzoccara created a pull request to update the article: https://github.com/MicrosoftDocs/azure-docs/pull/57450

Thanks again for your contribution to our docs, Francesco. I'm going to close this issue now as resolved.

#please-close

[2020-06-22 20:15] #57448 closed

[2020-06-22 20:17] shashishailaj commented on #57520
@falrnacn Hope you are well. In order to help you further , we would require more information as asked. Please let us know about the documentation you were following and we will help you further. In case we do not receive any further reply we will close this issue by EOD tomorrow.

[2020-06-22 20:24] ShaneBala-keyvault commented on #54724
Added section in Azure logging document (linked in this document) for an Azure CLI tutorial.

PR submitted, changes will be publicly visible within 48 hrs.

Resolving issue

[2020-06-22 20:24] ShaneBala-keyvault commented on #54724
#please-close

[2020-06-22 20:24] #54724 closed

[2020-06-22 20:26] Mike-Ubezzi-MSFT commented on #57207
@RonnieQuan

As per the note in the document with regard to checking connectivity using SSMS ([link](https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#check-connectivity-using-sql-server-management-studio-ssms)):

Any request to your database instance would be the original FQDN + 1433 and based upon any routing requirement, that FQDN is routed to the private endpo

[2020-06-22 20:27] #51392 closed

[2020-06-22 20:29] yaegashi commented on #38660
It worked with the following query: `$filter=properties/usageStart eq '2020-06-01' and properties/usageEnd eq '2020-06-30'` as seen in https://github.com/Azure/azure-sdk-for-go/issues/2399#issuecomment-467212692

https://management.azure.com/subscriptions/XXXXXXXX/providers/Microsoft.Consumption/usageDetails?%24expand=properties%2FadditionalInfo%2Cproperties%2FmeterDetails&%24filter=properties%2Fu

[2020-06-22 20:30] BharathNimmala-MSFT commented on #57596
@Potapy4 Thank you for your contribution in improving our documentation.

@squasta Thanks again for bringing this to our notice. @Potapy4  has raised a PR to update the document, once its reviewed and approved the change will be merged to the main Repo later in the week.

At this point it appears that there's no further edits or updates needed to the documentation, other than listed above. We will

[2020-06-22 20:30] #57596 closed

[2020-06-22 20:37] arsnyder16 opened #57624 "Backend endpoint to storage account secondary read access"
I have a storage account that is RA-GRS that is used to serve static content.

I would like to configure a front door backend pool to use the primary storage account as priority 1 and then for high availability use the secondary as priority 2.

For now is the recommended approach to create a 2 backends in the pool one as type 'Storage' and the other as type 'Custom Host' and manually configure the

[2020-06-22 20:38] BharathNimmala-MSFT commented on #57585
@sanjeevgaut Thank you for reaching out to us. Please note that this channel (the[ Azure Docs ](https://github.com/MicrosoftDocs/azure-docs)repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-22 20:44] curtand commented on #57526
This was a publishing system bug and not due to anything any of our users did, @Kentcomp
Is was fixed today and is all fine now.

Thanks for your contribution!

@shashishailaj
#please-close

[2020-06-22 20:44] #57526 closed

[2020-06-22 20:44] YYZRichard opened #57625 "Outdated screen shots"
This article contains outdated screenshots.
4. Under **Policies**, select **User flows (policies)**, and then select **New user flow**.

The option **User flows** doesn't exist in the new UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64957b2-62c1-a751-5a18-3f30e2926104
* Version Independent ID: dae827dc-ff96-a1dd

[2020-06-22 20:45] DavidSchrag opened #57626 "RegEdit instructions confusing"
The instructions guide you to "Navigate to HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Teams." On a freshly installed WVD host pool using the Gallery image for Win 10 Enterprise + M365 Apps, this key may not exist. I had to add the Teams key within HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\ before adding the DWORD value. Only then would the per-machine install of Teams succeed.

---
#### Document Details

⚠

[2020-06-22 20:52] Mike-Ubezzi-MSFT commented on #57207
@RonnieQuan As for the Power BI issue with certificate FQDN mismatch, if the Power BI solution is part of a VNET and private link is leveraged, there are a couple options:

Connecting from an Azure VM in Peered Virtual Network ([link](https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview#connecting-from-an-azure-vm-in-peered-virtual-network))
Connecting from an Azure

[2020-06-22 20:52] jeevansd commented on #57325
@mandiaya Have you installed the newer version of the plugin?

[2020-06-22 20:52] jeevansd commented on #57325
#please-open

[2020-06-22 21:03] Raregine opened #57627 "Classifier Module Failing for ARM Build"
Classifier module stays in failed state after deploying to my device (raspberrypi 4) and the logs give the following error:

Traceback (most recent call last):
  File "app.py", line 10, in <module>
    from PIL import Image
  File "/usr/local/lib/python3.7/site-packages/PIL/Image.py", line 93, in <module>
    from . import _imaging as core
ImportError: libxcb.so.1: cannot open shared object file:

[2020-06-22 21:06] v-vrusse commented on #57492
heh... looks like I was experiencing an off by one typo in the name =/

Going to close this now.

[2020-06-22 21:06] #57492 closed

[2020-06-22 21:21] mikelor opened #57629 "Log Blob Storage for WestUS2 Contains 2 Entrie,s one for WestUS and one for WestUS2. Why not just WestUS2?"
The Log Blob Storage for WestUS2 has two entries, while all other regions only have one. Is this a typo? Should it really have a WestUS hostname in addition to a WestUS2 hostname? Or was this a copy error from above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a44cbeaf-af2c-ef7e-b411-24556279d898
* Version Independe

[2020-06-22 21:32] MicrosoftGuyJFlo commented on #57102
We dont comment on roadmap items or dates in docs.

[2020-06-22 21:32] MicrosoftGuyJFlo commented on #57102
#please-close

[2020-06-22 21:32] #57102 closed

[2020-06-22 21:37] jasonphillipsofkroger opened #57630 "Does does scm.azurewebsites.net get forwarded to privatelink.azurewebsites.net or does another zone need to be created"
[Enter feedback here]
I noticed the private endpoint for example with Azure websites is linked to two fqdn

[appname].azurewebsites.net
[appname].scm.azurewebsites.net

Does the scm forward to the privatelink.azurewebsites.net zone or does another another zone "scm.privatelink.azurewebsites.net" need to be created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-06-22 21:43] bradcavanagh-unity3d opened #57631 "Requires updating for .NET Core 3.1"
The .NET Core instructions on this page involve reference to internal libraries and functions (such as HttpRequest), which are no longer available under .NET Core 3.1. As such, they need updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c

[2020-06-22 21:48] himanshusinha-msft commented on #57365
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-06-22 22:05] craiglandis opened #57633 "publisher wrong in extension schema section, Microsoft.RecoveryServices should be Microsoft.Azure.RecoveryServices"
The publisher is wrong in extension schema section, **Microsoft.RecoveryServices** should be **Microsoft.Azure.RecoveryServices**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53cf7c9c-480d-241e-a894-50179cf7d488
* Version Independent ID: 90ed5485-f439-fd52-a7ff-6e8de8145b84
* Content: [VM Snapshot Windows extension f

[2020-06-22 22:06] seanbelling commented on #38595
Is there any documentation the states that service principal auth tokens are unable to be used above the subscription scope? This github issue is the only mention of it I've been able to find anywhere

[2020-06-22 22:14] roygara commented on #42843
@JohnLBevan Sorry for the delay. After going back and forth with the product team, we've decided to replace these instructions in their entirety. They now describe how to get a script out of the Azure portal, and should work better since it is more customized for each storage account.

Because of this, I'll go ahead and close this issue out. Please feel free to open another issue if you experience

[2020-06-22 22:14] #42843 closed

[2020-06-22 22:15] roygara commented on #43275
@tonholis After going back and forth with the product team, we've decided to replace these instructions in their entirety. They now describe how to get a script out of the Azure portal. This script should work better since it is more customized for each storage account.

Because of this, I'll go ahead and close this issue out. Please feel free to open another issue if you experience any problems.

[2020-06-22 22:15] #43275 closed

[2020-06-22 22:16] roygara commented on #45061
After going back and forth with the product team, we've decided to replace these instructions in their entirety. They now describe how to get a script out of the Azure portal, and should work better since it is more customized for each storage account.

Because of this, I'll go ahead and close this issue out. Please feel free to open another issue if you experience any problems.

#please-close

[2020-06-22 22:16] #45061 closed

[2020-06-22 22:21] roygara commented on #31302
@shampton-myabt sorry for the delayed response, I've been going back and forth with the product team for a while. We've decided to replace these instructions in their entirety. They now describe how to get a script out of the Azure portal, and should work better since it is more customized for each storage account.

Because of this, I'll go ahead and close this issue out. Please feel free to open

[2020-06-22 22:21] #31302 closed

[2020-06-22 22:22] Mike-Ubezzi-MSFT commented on #57307
@helplessJ Thank you for this additional detail. This issue awaits an update with regard to the root cause but, in the meantime, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-22 22:22] #57307 closed

[2020-06-22 22:23] roygara commented on #11486
@muthuTheerthan

We've been going back and forth with the product team for a while and have decided to replace these instructions in their entirety. They now describe how to get a script out of the Azure portal, and should work better since it is more customized for each storage account.

Because of this, I'll go ahead and close this issue out. Please feel free to open another issue if you experie

[2020-06-22 22:23] #11486 closed

[2020-06-22 22:25] roygara commented on #29896
@Variour Sorry for the delayed response. I took a look, seems that the document has already been updated to reflect this. Thanks for pointing this out though, we always appreciate help improving our docs! :)

#please-close

[2020-06-22 22:25] #29896 closed

[2020-06-22 22:26] SwiftDavid commented on #57356
It is in my Partner Centre Account

On Mon, Jun 22, 2020 at 6:28 PM Dana Sindona <notifications@github.com>
wrote:

[2020-06-22 22:27] dcbrown16 commented on #57326
@tjvishnu can we change the sentence that I quoted to have it refer to Cross-Region Restore, or at least make it clear that CRR is the feature which uses RA-GRS? It will cause misunderstandings if the doc uses a term that customers can't see in the Portal.

[2020-06-22 22:48] erhopf commented on #57449
@crisansou - We're looking into this for you now and will get back to you as soon as we have an answer.

[2020-06-22 23:00] VitalyMCT opened #57635 "Typo fix"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba305426-75e4-9ccd-0806-8766fe33af72
* Version Independent ID: 98a9a604-90fe-f26a-11a4-bd1065dc2331
* Content: [Encrypt Azure Data Factory with customer-managed key - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/quickstart-enable-customer-managed-

[2020-06-22 23:05] v-hakob commented on #57427
Thank you @SwathiDhanwada-MSFT for the response. Noted.

[2020-06-22 23:18] rdeltcheva commented on #57057
There are two tested and documented two scenarios to offer  highly available "NFS server" for SAP ASCS/SCS workloads on RHEL:  GlysterFS (https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-glusterfs) and  NFS on top of ANF ( https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-rhel-netapp-files ).  DRBD cluste

[2020-06-22 23:20] kobulloc-MSFT commented on #57619
@blaiseAI Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-22 23:21] kobulloc-MSFT commented on #57613
@Cloudmersive Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-06-22 23:33] KranthiPakala-MSFT commented on #57488
@VitalyMCT  The [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/119748) for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update.

Thank you

[2020-06-22 23:33] #57488 closed

[2020-06-22 23:38] KranthiPakala-MSFT commented on #57556
Hi @joelw, Thanks for reaching out.
Since this channel is for driving improvements towards MS Docs and the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across th

[2020-06-22 23:38] #57556 closed

[2020-06-22 23:47] ggailey777 commented on #56300
Please track the Ubuntu 20 support issue here: https://github.com/Azure/azure-functions-core-tools/issues/1991 In the meantime, I'll update the other lower Ubuntu versions in that article. Thanks!

[2020-06-22 23:48] bebattis opened #57640 "Superscript change"
Hey Matt,
Sent an email to you, but the "2" on line 28 should be re-superscripted, had a bit of confusion on whether there was a new region coming. 😄
Cheers,
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8f86bd0-7555-9be2-1015-76e3ab88062f
* Version Independent ID: 1d310402-fadf-d602-048a-b2e16bd86a7e
* Content: [Supp

[2020-06-23 00:02] rohitsaigal opened #57641 "Restrictions on redirect URLs - max number specified may be incorrect"
"[Restrictions on redirect URLs](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/azure-ad-endpoint-comparison#restrictions-on-redirect-urls)" section on this page has a statement

`You can have only 20 reply URLs for a particular application - this limit applies across all app types that the registration supports (single-page application (SPA), native client, web app, and servi

[2020-06-23 00:11] thoo1 opened #57642 "Application Insights source map with Azure blob only uses root folder"
According to this: https://docs.microsoft.com/en-us/azure/azure-monitor/app/source-map-support#push-your-source-maps-to-your-blob-container it says we should not add sourcemaps in a subfolder to the storage account but put them in the root folder

I was wondering if it is on the roadmap to support atleast, telling the application insights UI, which folder in blob to look for the sourcemaps

The sc

[2020-06-23 00:11] mike-urnun-msft commented on #57294
@RonnieQuan Since we haven't heard back, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-23 00:11] #57294 closed

[2020-06-23 00:11] BharathNimmala-MSFT commented on #57583
@feksai Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-23 00:21] JamesTran-MSFT commented on #57625
@YYZRichard
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-23 00:22] JamesTran-MSFT commented on #57641
@rohitsaigal
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-23 00:23] ggailey777 commented on #56300
Please continue to track Ubuntu support in the [product repo](https://github.com/Azure/azure-functions-core-tools/issues/1991). #please-close

[2020-06-23 00:23] #56300 closed

[2020-06-23 00:25] mairaw opened #57643 "Add some screenshots to make it easier to understand where to go to purge the cache"
I found the answer in one closed issue but it would have been helpful if this article would show where in the portal you'd click to purge the cache. It would save people a lot of time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a80-1344-07a9e0063951
* Version Independent ID: c0cff4d9-d7fd-7b25-52da-9

[2020-06-23 00:27] MarileeTurscak-MSFT commented on #57599
@Kentcomp
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-23 00:34] MarileeTurscak-MSFT commented on #57599
Hi @Kentcomp ,

You can make a feature request to add this capability by going to [User Voice](https://feedback.azure.com/).  Right now you can download the records of existing roles or use an ARM template to save and redeploy the permissions but I do not believe there's a recovery option if you have not done those things.

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles

[2020-06-23 00:34] #57599 closed

[2020-06-23 00:38] saf-itpro commented on #37847
I was getting the same exact error while using this [Microsoft Graph Official Tutorial](https://docs.microsoft.com/en-us/graph/tutorials/uwp). After deleting the previous `App Registration` and re-creating the new one exactly as explained in [step 2](https://docs.microsoft.com/en-us/graph/tutorials/uwp?tutorial-step=2) of the tutorial, I was able to login. If I recall correctly, I had used `Accoun

[2020-06-23 00:45] Karishma-Tiwari-MSFT commented on #57399
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-23 00:48] BharathNimmala-MSFT commented on #57590
@richard-artes Thank you for bringing this to our notice, our team will further look into and get back to you at the earliest.

[2020-06-23 00:49] BharathNimmala-MSFT commented on #57601
@T-Benny  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-23 00:50] Karishma-Tiwari-MSFT commented on #57404
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-23 00:52] BharathNimmala-MSFT commented on #57640
@bebattis Thank you for reaching out to us. Assigning this issue to @MGoedtel ti further look into the feedback.

[2020-06-23 00:55] MarileeTurscak-MSFT commented on #57170
I can't find documentation of this error, but I reached out to some of my contacts for confirmation about your question and more information about that error.

@jeevansd - do you know the answer to this as well?

[2020-06-23 00:56] mike-urnun-msft commented on #57181
Hello @nastassiar - Definitely possible with both, here's the Powershell cmdlet: [Add-AzApiManagementApiToProduct](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/add-azapimanagementapitoproduct?view=azps-4.2.0)

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-23 00:56] #57181 closed

[2020-06-23 01:06] Karishma-Tiwari-MSFT commented on #57407
Thanks for bringing this to our attention. I have shared this feedback with the portal team internally and will share an update when this is fixed.

[2020-06-23 01:08] Karishma-Tiwari-MSFT commented on #57444
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-23 01:11] BharathNimmala-MSFT commented on #57630
@jasonphillipsofkroger Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-23 01:13] BhargaviAnnadevara-MSFT commented on #57642
@thoo1 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-23 01:16] kiwibayer opened #57644 "add SQL Resource Provider to post migration steps"
Can we please add a post migration step to add the SQL Resource Provider for IaaS migrations ...

https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/sql-vm-resource-provider-register?tabs=azure-cli%2Cbash

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a310e70-bf4a-ebc2-4128-ee756e2de196
* Versio

[2020-06-23 01:39] markwolff commented on #57642
Hi @thoo1 uploading source maps to subfolders as you've described should work as expected. The documentation reflects the original state of the feature, and the feature has since been updated to support scenarios exactly like yours.

I'll update the documentation to match the true behavior -- thanks for the report!

[2020-06-23 01:57] RyanHill-MSFT commented on #36141
@TravisCragg-MSFT, @msrini-MSFT can you assist @awentzel?

[2020-06-23 01:58] #36141 closed

[2020-06-23 02:03] kobulloc-MSFT commented on #57619
@blaiseAI If you aren't seeing Live Metrics data (and only local telemetry), check your server firewall.  There are ports that need to be opened for Live Metrics Stream:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#outgoing-ports

[2020-06-23 02:11] tinytortoise-dev commented on #57430
@RohitMungi-MSFT Would you share the exact document which mentions about the difference between a common cognitive service and an individual resource type, and the reason why a user cannot use translator API through the common congnitive service, if you don't mind. It would be also highly appreciated if you tell me how to create an individual resource because I'm not a master yoda of Azure service

[2020-06-23 02:28] Mike-Ubezzi-MSFT commented on #57207
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-23 02:28] #57207 closed

[2020-06-23 02:30] g0pinath-metricon commented on #57416
https://docs.microsoft.com/en-us/azure/automation/automation-windows-hrw-install

[2020-06-23 02:31] TravisCragg-MSFT commented on #57177
@timvanderweijde The 2nd sentence was changed to specify that this setting is on the HTTP settings - "You can apply this setting to all members of a back-end pool by enabling connection draining on the HTTP setting"

[2020-06-23 02:32] TravisCragg-MSFT commented on #57528
@tusharmathur08 Thanks for the feedback! I have changed this to state the proper services, and the docs should reflect this change within 24 hours .

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-23 02:32] #57528 closed

[2020-06-23 02:35] TravisCragg-MSFT commented on #56965
@shooker I am not able to find the 'move' option in the portal. can you post a screenshot of the resource and how you are moving it?

[2020-06-23 02:39] TravisCragg-MSFT commented on #57500
@vhorne Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-23 02:51] sayanghosh123 opened #57648 "CentOS marketplace images"
The CentOS Azure marketplace images do not seem to support this feature. The docs say CentOS is supported. We tried with both 7.7 and 8.1. Any reason for this and way to make it work?

![image](https://user-images.githubusercontent.com/11399751/85355508-186c8e00-b550-11ea-876b-fdc9af2af38e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-06-23 02:55] Druffl3 commented on #57220
Thank you @anastasia-ms and @AshokPeddakotla-MSFT .

[2020-06-23 02:59] TravisCragg-MSFT commented on #57513
@kewalaka Thanks for the feedback! Public IPs are created with SKU 'basic' by default, it is necessary to specify the SKU. I have updated the script in the doc to specify the standard SKU, and the doc will update this change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the disc

[2020-06-23 02:59] #57513 closed

[2020-06-23 03:06] TravisCragg-MSFT commented on #57583
@feksai I am able to see VNET topology without issue in the portal, and receive no errors when using PowerShell & CLI. If you would like to investigate this further, your best bet is to create a support request. If you do not have a support plan, please let me know.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will

[2020-06-23 03:06] #57583 closed

[2020-06-23 03:07] TravisCragg-MSFT commented on #57590
@cherylmc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-23 03:09] TravisCragg-MSFT commented on #57621
@arsnyder16 This should be possible, and [the process is outlined Here](https://docs.microsoft.com/en-us/azure/cdn/cdn-purge-endpoint#walkthrough). You can purge both by endpoint and URL.

[2020-06-23 03:11] BharathNimmala-MSFT commented on #57607
@calvinschulte Thank you for your feedback, our team will further look into it and get back to you at the earliest

[2020-06-23 03:12] ram-msft commented on #57322
@koheikawata Thanks for the feedback. I have assign to the content author to review the content for the below command.

[code]

[2020-06-23 03:14] Monendra opened #57649 "Kindly provide a way for the user to access the linux VM via browser which is the end result expected after all this. The documentation lacks on this info and online also there is not much help. Please refer AWS for help as it is very easy to do so over there."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 814b92ed-f712-53c8-644b-d3be513a4d06
* Version Independent ID: 79d8998f-1b47-40ec-e975-8eeda383b0cf
* Content: [Quickstart - Create a Linux VM in the Azure portal - Azure Linux Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2020-06-23 03:15] AshokPeddakotla-MSFT commented on #57627
@Raregine Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-23 03:25] RyanHill-MSFT commented on #56482
Hi @w0ut0 we still have to finalize some things but I can share with you the following:

- AppServiceIPSecAuditLogs will be to log requests made to an app if there were any IP Rules created. For example, if I created an IP rule to only allow access from a certain IP range, and there was a request made to the app from an IP outside of the range allowed, it will let me know what the IP of the reques

[2020-06-23 03:25] TravisCragg-MSFT commented on #57624
@arsnyder16 Thanks for the feedback. Your understanding is correct on the way to set this up. If you would like us to add this as a default / integrate this process in the platform, please leave your feedback [here at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking?).

We will now proceed to close this thread. If there are further questions regarding

[2020-06-23 03:25] #57624 closed

[2020-06-23 03:25] RyanHill-MSFT commented on #57543
Hi @ctolkien have a look at this [comment](https://github.com/MicrosoftDocs/azure-docs/issues/56482#issuecomment-647884844).

[2020-06-23 03:26] TravisCragg-MSFT commented on #57643
@mairaw Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-23 03:26] kiwi-cam opened #57650 "Deploying on-premises Azure Active Directory Password Protection with Multiple Tenants"
Is it possible to deploy on-premises Azure Active Directory Password Protection in a "Multiple Tenant"/"Each object only once in an Azure AD tenant" topology like the one listed [here](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-topologies#each-object-only-once-in-an-azure-ad-tenant)?

It's not listed as a limitation but when installing the Azure AD Password Protect

[2020-06-23 03:33] TravisCragg-MSFT commented on #57630
@jasonphillipsofkroger can you give an example of where the 'scm' comes from?[ I am not able to find this in the web app example](https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-webapp-portal).  If that URL needs to be routable for your app to function, then it might be necessary to create the 2nd zone.

[2020-06-23 03:46] KSVarun commented on #56909
@AshokPeddakotla-MSFT can you please check with the issue [https://github.com/microsoftgraph/msgraph-sdk-java-auth/issues/32](url) I tried every possible scenarios but still getting the same OrganizationFromTenantGuidNotFound error.

[2020-06-23 04:00] viveksubha opened #57651 "Cannot Get access tokens"
I registered the app per documentation and still get the following error.
Also the flow shows as disabled on the portal.
{
    "error": "unauthorized_client",
    "error_description": "AADB2C90248: Resource owner flow can only be used by applications created through the B2C admin portal.\r\nCorrelation ID: c1d795a0-aa86-4e6e-bcfa-bf6ecc95a0cd\r\nTimestamp: 2020-06-23 03:53:38Z\r\n"
}

[2020-06-23 04:03] viveksubha commented on #57651
Sorry MFA is showing as disabled, thats a user error
Still no access token.

[2020-06-23 04:04] kedaryarlapati opened #57652 "does AZCopy encrypt the files during the transfer"
Does AZCopy encrypt the files during the transfer if we are using it to copy a file from On-Prem to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bdc29f-175d-09b9-771d-cd84dbffbb49
* Version Independent ID: f5fe11b9-8224-aa19-602d-bcc3ed7c9452
* Content: [azcopy copy](https://docs.microsoft.com/en-us/azure/st

[2020-06-23 04:11] AjayKumar-MSFT commented on #57119
@tonesandtones, Your understanding is correct. Yes, we have planned work to make these settings slot sticky by default. As you mentioned, those networking features (with *) are currently swapped during a slot swap operation, a future planned App Service feature release will mean those networking features will no longer be slot swapped.
Thanks for taking time to share your feedback.

[2020-06-23 04:11] #57119 closed

[2020-06-23 04:19] RohitMungi-MSFT commented on #57430
Sure, a common resource is used to consolidate the billing. Here are some [details ](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-apis-create-account?tabs=multiservice%2Cwindows)about single and multi service resources.

This documentation or quickstart uses a single resource so the steps mentioned are using those endpoints.

[2020-06-23 04:22] BharathNimmala-MSFT commented on #57651
@viveksubha Thank you for reaching out to us. Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-06-23 04:22] SwathiDhanwada-MSFT commented on #57427
@v-hakob We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-23 04:22] #57427 closed

[2020-06-23 04:30] sanjeevgaut commented on #57585
hi
i have been refering https://github.com/Azure-Samples/cognitive-services-dotnet-sdk-samples/blob/master/CustomVision/ImageClassification/Program.cs and https://docs.microsoft.com/en-us/azure/cognitive-services/Custom-Vision-Service/quickstarts/image-classification?pivots=programming-language-csharp

[2020-06-23 04:33] VikasPullagura-MSFT commented on #57633
@craiglandis
Thanks for your Question! We are currently investigating and will get back on this.

[2020-06-23 04:35] VikasPullagura-MSFT commented on #57626
@DavidSchrag
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-23 04:36] BharathNimmala-MSFT commented on #57585
@sanjeevgaut Thank you for sharing the document link. I have assigned the issue to our teammate who would be further looking into the issue and respond back to you at the earliest.

[2020-06-23 04:36] VikasPullagura-MSFT commented on #57626
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-06-23 04:36] khandelwalbrijesh commented on #56132
@starforce, Thanks for trying out Backup restore!!
From the error code you see on SFX, it seems that it is failing because certificate, that you are using to encrypt secrets with, is invalid. Please share the Service fabric logs of time window when you tried creating the backup policy.
Could you also see if certificate is not expired and valid to be used?

[2020-06-23 04:40] BharathNimmala-MSFT commented on #57635
@VitalyMCT  Thanks again for bringing this to our notice. I have raised a PR to correct the typo, it would be merged in the main repo later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and c

[2020-06-23 04:40] #57635 closed

[2020-06-23 04:43] JamesTran-MSFT commented on #57608
@iliassk
Thanks for your question! We will investigate and update as appropriate.

[2020-06-23 04:50] SnehaAgrawal-MSFT commented on #57622
@brianburtoninmar Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-23 04:52] VikasPullagura-MSFT commented on #57648
@sayanghosh123 Thanks for your Query.
I have reached to internal team on this for a similar ask on CentOS 7.7 and team is working on explicitly adding the support from UI.

However, you can try to install the extension, it should work.

Linking old issue #[50685](https://github.com/MicrosoftDocs/azure-docs/issues/50685#issuecomment-616958003) for reference.

[2020-06-23 04:52] VikasPullagura-MSFT commented on #57648
@iainfoulds Please add your comments.

[2020-06-23 04:57] cindywu commented on #53436
I ran into the same issue. Any updates?

[2020-06-23 04:58] sayanghosh123 commented on #57648
Thanks @VikasPullagura-MSFT - appreciated. Can you please confirm if this support extends to

- CentOS 8.2
- CentOS 7.8
- CentOS 6.10

as well? Many thanks.

[2020-06-23 05:00] BharathNimmala-MSFT commented on #57612
@c016smith Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-23 05:02] BharathNimmala-MSFT commented on #57615
@VitalyMCT  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-23 05:02] rolyon commented on #57586
Hi @ezYakaEagle442
Thanks for the feedback. I'll check with the team about this role.

[2020-06-23 05:03] rolyon commented on #57587
Hi @ezYakaEagle442
Thanks for the feedback. I'll check with the team about this role.

[2020-06-23 05:11] BharathNimmala-MSFT commented on #57616
@VitalyMCT Thank you for your feedback, our team will look into it and get back to you at the earliest.

[2020-06-23 05:12] AjayKumar-MSFT commented on #57197
@Pluc15,  Thanks again for great feedback on this. By default, all response codes are valid.  Protocol settings- Https Only remains with the slot. As mentioned in the documentation [section](https://docs.microsoft.com/azure/app-service/deploy-staging-slots#troubleshoot-swaps) - During custom warm-up, the HTTP requests are made internally (without going through the external URL). They can fail with

[2020-06-23 05:19] AjayKumar-MSFT commented on #57206
Goran, Hope the above response clarifies. But, if you still have questions, please let us know we will close this issue for now.

[2020-06-23 05:19] #57206 closed

[2020-06-23 05:21] AjayKumar-MSFT commented on #57053
@pnarsi, Your feedback has been shared with the content owner for further review. Thanks for taking time to share your valuable feedback.

[2020-06-23 05:31] harendra-prasad1 commented on #32782
Azure Storage account failover is now generally available

https://azure.microsoft.com/en-in/updates/azure-storage-account-failover-ga/

[2020-06-23 05:46] shashishailaj commented on #57650
@kiwi-cam thank you for your feedback . We will investigate and update the thread.

[2020-06-23 05:47] shashishailaj commented on #57652
@kedaryarlapati Thank you for your feedback . We will investigate and update the thread.

[2020-06-23 05:52] nilsga opened #57654 "Clarify what "require outbound connectivity to Azure" means"
Regarding what network connectivity is required by the self-hosted gateway, the docs says:

What does this in fact mean? What services does it require to access? Is it just the ip of the API management instance, or is it "all of azure"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20dccd8b-f67a-8728-3bb3-f46a0ffdfd40

[2020-06-23 06:00] ChiragMishra-MSFT commented on #57280
@VitalyMCT, I will now proceed to close this issue. Feel free to still comment and tag me if you have any queries.

Stay Safe!

[2020-06-23 06:00] #57280 closed

[2020-06-23 06:12] mike-urnun-msft commented on #57631
@bradcavanagh-unity3d Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-06-23 06:14] BharathNimmala-MSFT commented on #57172
@arunmariappan Apologies for delayed response on this. I am seeing the UI which has been documented, however i have reached out to our Internal team to better understand this behavior. Will keep you updated accordingly. Thank you

[2020-06-23 06:14] codely4 commented on #54443
Hi, well I have tried to use the above properties

but I am getting validation errors
![image](https://user-images.githubusercontent.com/66923484/85367362-c3218400-b531-11ea-978c-8e0836c7b3ee.png)

when using secretName the pod failed having the following message
![image](https://user-images.githubusercontent.com/66923484/85367457-f2d08c00-b531-11ea-84ec-63d088df1fc2.png)

any suggestion?

[2020-06-23 06:15] MrAzureAD commented on #57569
When the correct keytype "X509CertAndPassword" is used, the activation works.

[2020-06-23 06:15] #57569 closed

[2020-06-23 06:16] MrAzureAD commented on #56589
Actually, I have to correct myself:
I used Graph and the upload does not complain using "AsymmetricX509Cert".
However, it only works when type "X509CertAndPassword" is used.

This is really severe - please correct the docs soon!

[2020-06-23 06:23] OwainWin commented on #36458
Hi Elliott

What I meant to say for the second point was that the WEBSITE_CONTENTSHARE should be define as an application setting but it should not be made a Deployment slot setting.
So it should not have the tick as below:

[cid:image001.png@01D6492F.389B7110]

From: Elliott Hamai <notifications@github.com>
Sent: 22 June 2020 18:38
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc:

[2020-06-23 06:23] SwathiDhanwada-MSFT commented on #57312
@megatc101 Thanks for the information. I am not sure whether you have checked [this document ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-manage#upgrading-agent)which articulates the information about updating the agent and also configuring the proxy settings.

To set configuration settings for multiple servers, I would suggest you to take advantage of Azure Automation DSC

[2020-06-23 06:30] amanmcse commented on #57512
Closing the issue as we didn't hear back from you.

[2020-06-23 06:30] #57512 closed

[2020-06-23 06:30] SwathiDhanwada-MSFT commented on #54475
@tfitzmac Can you please review the issue and update document accordingly?

[2020-06-23 06:34] jjindrich commented on #57559
@lisaguthrie Are there any plans to have it really "Dedicated" UI for business users ?

[2020-06-23 06:39] timvanderweijde commented on #57177
@TravisCragg-MSFT  I now understand what's happening.

I was looking at the Nl-nl pages (and translated to english I guess). It's not updated in that page.
(Globalization is nice, isn't it ;-))

https://docs.microsoft.com/nl-nl/azure/application-gateway/configuration-overview#connection-draining

[2020-06-23 06:43] ChiragMishra-MSFT commented on #57629
@mikelor Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-06-23 06:45] amanmcse commented on #57498
@MrHinsh Closing the thread as all links are working. Feel free to tag me if you are facing the issue.

[2020-06-23 06:45] #57498 closed

[2020-06-23 07:03] BhargaviAnnadevara-MSFT commented on #57554
@ajafry Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-23 07:07] KrishnaG-MSFT commented on #57343
At this point it appears that there's no edits or updates needed for the documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-06-23 07:07] #57343 closed

[2020-06-23 07:12] JuneZhao opened #57657 "AVS on HSM"
[Enter feedback here]
In the doc, it was mentioned that an HSM was utilized to protect keys for AVS.
vSAN datastores use data-at-rest encryption by default. The encryption solution is KMS-based and supports vCenter operations for key management. Keys are stored encrypted, wrapped by an HSM-based Azure Key Vault master key.

Does this mean  below HSM hardware will be used for each AVS deployment? W

[2020-06-23 07:21] BharathNimmala-MSFT commented on #57148
@bertrandpons Apologies for delayed response on this. General guidance for enabling or disabling ARR Affinity for Azure App Service is to Improve performance of your stateless app by turning Affinity Cookie off, stateful apps should keep this setting on for compatibility. [Learn more](https://azure.github.io/AppService/2016/05/16/Disable-Session-affinity-cookie-(ARR-cookie)-for-Azure-web-apps.html

[2020-06-23 07:21] #57148 closed

[2020-06-23 07:25] JimmyLS commented on #54714
Hi Team,

I has been 18 days without any update here! Could you please check with the team and let us know when the article can be updated?

[2020-06-23 07:26] jmprieur commented on #51392
@derisen
In MSAL.NET there is a Claims property on the MsalUiRequiredException.

[2020-06-23 07:32] BharathNimmala-MSFT commented on #57172
@arunmariappan Thanks again for your feedback on this and bringing this to our attention. Post validation with our internal team it has been called out that our team is currently running A/B testing for a new UI for action groups , that's the reason you see the new UI and the documentation is still referencing the existing UI. Currently the tentative plan is to release the new UI around early Augu

[2020-06-23 07:32] #57172 closed

[2020-06-23 07:42] vohuythao opened #57658 "There is no button to add Resource Health Alert"
Hello,

I saw no button to add Resource Health Alert in Azure Portal

Please help to review the document

![image](https://user-images.githubusercontent.com/14121587/85374873-a13ef600-b55f-11ea-8baa-731d32ac4bed.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eba058f-aab1-e970-6a74-738ca9a13f03
* Version Independe

[2020-06-23 07:44] VikasPullagura-MSFT commented on #57057
@rdeltcheva Thanks for sharing the details.

[2020-06-23 07:44] VikasPullagura-MSFT commented on #57057
@jay0604
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-23 07:44] #57057 closed

[2020-06-23 07:46] amanmcse commented on #57519
This feature will be available in new future. As of now to view provisioning logs, the required roles has to be assigned directory wide. The owner of the enterprise application can't access the provisioning logs.. They can only make configuration changes.

Who can access the data?
- Users in the Security Administrator, Security Reader, Report Reader, Application Administrator, and Cloud Applicatio

[2020-06-23 07:46] #57519 closed

[2020-06-23 07:48] VikasPullagura-MSFT commented on #57310
@kprpg

We will now close this issue.
Please tag me in your comment once you are able to share the requested details, I will reopen this issue and we will continue the discussion.

[2020-06-23 07:48] #57310 closed

[2020-06-23 07:49] VikasPullagura-MSFT commented on #57317
@danielsollondon Can you please check and add your comments.

[2020-06-23 07:53] VikasPullagura-MSFT commented on #57561
@msjuergent Thanks for updating the doc for fixing the link.

[2020-06-23 07:54] VikasPullagura-MSFT commented on #57561
@win2000b The doc is updated now, I am proceeding to close this issue.

Hope the provided information is helpful.

If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-23 07:54] #57561 closed

[2020-06-23 07:54] VikasPullagura-MSFT commented on #57575
@Tim-Hodge
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-06-23 07:54] #57575 closed

[2020-06-23 07:56] shashishailaj commented on #57520
@falrnacn We will be closing this issue now. But you can always tag me to your reply with details about the document you were referring to and we will reopen this. alternatively you can always use the feedback section and select this page to open a new issue referencing that page automatically.

![image](https://user-images.githubusercontent.com/532022/85376171-02150100-b555-11ea-9575-b288eea49fd2

[2020-06-23 08:00] Tim-Hodge commented on #57575
Hi @VikasPullagura-MSFT - having reviewed the linked issue I think you therefore need to remove `namespace: ingress-basic` from the hello-world-ingress-static definition within hello-world-ingress.yaml, as that is inconsistent.

[2020-06-23 08:01] lisaguthrie commented on #57559
@jjindrich - not at this time.

[2020-06-23 08:13] #57642 closed

[2020-06-23 08:14] BhargaviAnnadevara-MSFT commented on #57642
@markwolff Thanks for the inputs and updates.

@thoo1 Thanks for the feedback. I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-06-23 08:24] prakash1097 opened #57659 "Databricks Job duration is not availablein the "DatabricksJobs" table."
hi,

I enabled Diagnostics settings for azure databricks.
It doesn't have job run duration in "DatabricksJobs" table in azure log analytics.

[2020-06-23 08:37] amanmcse commented on #57571
@MrAzureAD  Adding "#" and followed by a unique number is required only when there are multiple instances of Amazon Web Services (AWS) enterprise application added to the same Azure AD tenant.

The reason is **Identifier (Entity ID)** should be unique for every Enterprise Application. You cannot use "https://signin.aws.amazon.com/saml" as identifier in multiple instances of Amazon Web Services (AW

[2020-06-23 08:37] #57571 closed

[2020-06-23 08:43] krishnava11 commented on #28457
Hi @anirudhcavale ,

Could you please pass on the steps to get the Custom Metrics from Monitor REST API ?

Below are the details

**Virtual Machine Type** - Windows
**Diagnostic Settings** - Enabled
**Azure Monitor Data Sink** - Yes
**Rest API** - https://management.azure.com/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/testingwvm/providers/Microsoft.Compute/virtualMachines/te

[2020-06-23 08:49] nyxstar666 commented on #53222
Any update on this?

[2020-06-23 08:52] bizinbarefeet commented on #57439
Yes, probably.  I think it was an old BizSpark account. You may count these in your 'free' category as it had a free monthly allowance.

[2020-06-23 09:00] #57529 closed

[2020-06-23 09:25] Raregine commented on #57627
fixed this by adding libxcb1 to the first RUN line of the docker file ie:

RUN apt update && apt install -y libjpeg62-turbo libopenjp2-7 libtiff5 libatlas-base-dev libxcb1

[2020-06-23 09:26] kggayo opened #57662 "Using Service Fabric Explorer - missing Enable/Update Application Backup menu"
Hi,

In section: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-backuprestoreservice-quickstart-azurecluster#using-service-fabric-explorer-1
In step 1. Select an application and go to action. Click Enable/Update Application Backup.

I can't see the menu for Enable/Update application backup in stateful services. I've already created a backup policy.
I tried it on my local clus

[2020-06-23 09:36] kggayo commented on #57662
I got it now. You need to enable advanced mode.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-visualizing-your-cluster#backup-and-restore

[2020-06-23 09:36] #57662 closed

[2020-06-23 09:38] linda33wj commented on #56747
@ElectricLlama good to know it works for you. The feature was released shortly before the doc is updated, and seems you posted this question at the same time as the doc went live. Sorry for the trouble earlier.
In your example, the parentcustomeridtype is kinda a virtual/sub field for parentcustomerid, ADF doesn't really write to such fields, nor retrieve such fields when importing schema. And Dyn

[2020-06-23 09:38] #56747 closed

[2020-06-23 09:40] linda33wj commented on #46799
Thanks all for the feedback. This article has been refreshed to explain more on how copy activity map columns and data type. Hope this helps.

#please-close

[2020-06-23 09:41] #46799 closed

[2020-06-23 09:46] jflieben commented on #53726
The documentation still shows the wrong api-version parameter. I can confirm both 2018-11-30 and 2017-09-01 do work.

[2020-06-23 10:10] starforce commented on #56132
Where would I find the service fabric logs? Also, the cert that I used to view my Cluster from service fabric explorer is that not the same certificate to encrypt secrets? I have it on my local computer. It doesnt expire until 7/24/2020

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Brijesh Khandelwal <notifications@github.com>
Sent: Tuesday, June 23, 2020

[2020-06-23 10:19] jorgecarleitao opened #57663 "How to use an access token to azure ContainerClient in Python"
I have an access token that I retrieved from OAuth2 against azure,

[code]

How can I use this token on the `ContainerClient`?

[code]

This yields an error, and I can't think of another way to pass the token :/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02de0bf-09d7-a7fc-1b4a-213426e96b2d
* Version Independent ID

[2020-06-23 10:20] amjadaljunaidi opened #57664 "remove the limitation part "cannot convert as existing cluster to enable the Uptime SLA.""
Regarding the new release from AKS https://github.com/Azure/AKS/releases/tag/2020-06-08  It is now supported to upgrade clusters from Free to Paid

request: could you please remove the first line of limitation "cannot convert as existing cluster to enable the Uptime SLA."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-23 10:22] ChiragMishra-MSFT commented on #57659
@prakash1097 This channel is for driving improvements towards MS Docs, Since this issue is not related directly to the doc,  I would recommend you to create a thread on the forums- [Microsoft Q and A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html) / [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-factory). Once you post your issue on forums, it will

[2020-06-23 10:22] #57659 closed

[2020-06-23 10:43] g0pinath-metricon opened #57665 "PS equivalent for portal steps"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/automation/automation-hrw-run-runbooks#use-runbook-authentication-with-run-as-account
Is there a Powershell equivalent for executing the above step.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a21ca143-2f33-5cea-94a8-ace7e9de5f9c
* Version Independent ID:

[2020-06-23 10:48] falrnacn opened #57666 "Update to reflect new AD B2C Portal changes"
The options described in the articles are relevant to the legacy page on AD B2C. Please update the article to reflect the new options. For e.g the 'Applications' tab in legacy is replaced by 'App registrations' in the new portal page. The sub options are way different than the legacy.

[2020-06-23 10:49] falrnacn opened #57667 "Update article to reflect non legacy options"
The options described in the articles are relevant to the legacy page on AD B2C. Please update the article to reflect the new options. For e.g the 'Applications' tab in legacy is replaced by 'App registrations' in the new portal page. The sub options are way different than the legacy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-06-23 10:53] craigshoemaker commented on #57240
@ranandLandmark - in what way are you saying that `app_artifact_location` is wrong?

The example YAML code in this article are just for example purposes and the explanation of the property reads like this:

We list the appropriate form for Angular apps in the [Configure front-end frameworks](https://docs.microsoft.com/azure/static-web-apps/front-end-frameworks#configuration) page.

I am going to #

[2020-06-23 10:53] #57240 closed

[2020-06-23 10:58] saikumaru commented on #57531
@Mike-Ubezzi-MSFT  please can you assist?

It would be helpful if you can help to outline the process better because it is a kind of blocker if we have to move CosmosDb data around using ADF.

[2020-06-23 11:13] RohitMungi-MSFT commented on #57585
@sanjeevgaut It looks like the message indicates that the custom vision resource might have been moved from Azure portal i.e a resource can be either moved to a different resource group or a subscription as seen below:

![image](https://user-images.githubusercontent.com/46958063/85397027-73ae7880-b570-11ea-965d-04eae4e4ba2b.png)

If this is the case the iteration needs to be unpublished and publis

[2020-06-23 11:17] cg6 opened #57668 "Autoscaling - Memory Management - Cache reclamation"
"Cache utilization is considered low when the total size of the most recently used cache entries falls below a threshold for a period of time."

Can you please explain what "total size of the most recently used cache entries" means?
What is the threshold?
What is the period of time?

Memory Management for Azure SQL Serverless directly affects costs incurred. Can you please provide details of the m

[2020-06-23 11:23] SumanthMarigowda-MSFT commented on #57574
@the-grayest - This statement applies to all types of blobs - block, append, and page.

Why do you think it should only apply to page blobs?

[2020-06-23 11:24] SumanthMarigowda-MSFT commented on #57576
@akingscote Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-23 11:34] guderkar commented on #16473
You can run Azure Container Instances from Data Factory.
- option one: Use WebHook Activity and Http triggered Logic App to orchestrate ACI and then POST to DataFactory callBackUri.
- option two: Use Azure Functions to run the ACI. I've made python based FunctionApp with tutorial on how to run it https://github.com/guderkar/ACIProxy

[2020-06-23 11:38] KrishnaG-MSFT commented on #57665
@g0pinath-metricon As per [this](https://docs.microsoft.com/en-us/powershell/module/az.automation/?view=azps-4.2.0) document reference, currently we don't have an Az PowerShell cmdlet to update hybrid runbook worker group so I recommend you to raise feedback in [this](https://feedback.azure.com/forums/246290-automation) UserVoice / feedback forum or upvote [this](https://feedback.azure.com/forums/

[2020-06-23 11:39] J0F3 opened #57669 "Log Analytics workspace"
Can you please elaborate what the appropriate RBAC access would be. What are the minimum required RBAC permission in the source Subscription and in the Subscription where the Log Analytics workspace resides?
It would be great if you can extend the documentation with these information as it would help a lot implementing while maintain the "least privileges" principle.

thx!

---
#### Document Detai

[2020-06-23 11:43] VikasPullagura-MSFT commented on #57664
@amjadaljunaidi
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-06-23 11:43] mattruma opened #57670 "App Settings Life Cycle"
It is my assumption that App Settings are loaded on Start of the App Service, including Azure Functions.

App Settings can then be refreshed for the App Service on a Restart.

Right or wrong, is it possible How App Settings work should be called out in the docs? Maybe here or some other place?

If it already exists somewhere, please point me in the right direction. 😊
---
#### Document Details

⚠ *

[2020-06-23 11:48] cqueern opened #57672 "punctuation error: missing apostrophe"
This string:

should likely read:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aad82713-d562-5778-fbf8-035e24f9c470
* Version Independent ID: 6370cca0-c78e-4738-ba67-8fb14594b0f2
* Content: [What is password hash synchronization with Azure AD?](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/whatis-phs

[2020-06-23 11:52] chandra9787 opened #57673 "Pre/Post Deployment script - Script does not Starts the Trigger post deployment"
**The Pre/Post deployment works fine, it Stops the Trigger as Expected but once down**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure Data Factory - Azure Data Fac

[2020-06-23 11:56] motim6026 opened #57674 "ARM template complete mode with condition 'false' not delete resource"
Hi

I use the ARM template to deploy 2 Vnets in RG.
I have a condition to specify the number of Vnets to deploy
So if the "numberOfVnets" parameter equals 2, the ARM should deploy 2 Vnet and if not, the ARM will only need to deploy one Vnet.
It works fine,
But when I try to delete the second Vnet (Afetr I deploy 2 Vnet successfully)
The vnet is not deleted only if I remove the second vnet from the

[2020-06-23 12:18] SwathiDhanwada-MSFT commented on #57247
@deivyd321 Thanks for your feedback. As you already know, the mentioned functionality is currently not available.  I would recommend you to traverse to the same feedback commented by you and clicking the vote button to raise visibility and priority on this. So that, the responsible Azure feature team , can triage on the feedback and add the request to their backlog.

As there are no further docume

[2020-06-23 12:18] #57247 closed

[2020-06-23 12:25] shafiyal commented on #55285
I have found this link
[https://www.danielemaggio.eu/iot/iot-edge-rest-api/]
I have tried the PUT api they are specifying using the SAS token generating in azure portal
But i am getting
[code]
can someone help me in solving this issue

[2020-06-23 12:30] #57226 closed

[2020-06-23 12:34] memildin commented on #57595
Thanks for the feedback.
The instructions for disabling policies are here: https://docs.microsoft.com/en-us/azure/security-center/tutorial-security-policy#disable-security-policies
The full list of policies is here: https://docs.microsoft.com/en-us/azure/security-center/security-center-policy-definitions

Hopefully, that will help you solve this issue.

Thanks again! I'm closing this as an open is

[2020-06-23 12:34] #57595 closed

[2020-06-23 12:46] Smurfffje opened #57675 "The docker webhook is not working"
I updated my docker image with a new tag, but the webhook is not firing and updating my Azure Function

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a91aa275ec4e
* Content: [Create Azure Functions on Linux using a custom image](http

[2020-06-23 12:55] paulpach commented on #39322
why was this closed? the reply had nothing to do with the question.

The question was about mounting docker.sock so that the container can run docker commands,  the reply was about mounting volumes

[2020-06-23 12:55] feitzi commented on #32552
Any updates?
We have the problem that we can't build our images on base image **-windowsservercore-ltsc2019 because it has not up to date root certs.

[2020-06-23 12:57] VikasPullagura-MSFT commented on #57649
@Monendra Thanks for posting your Feedback.

You can try Azure Bastion for in browser experience for SSH to Linux VM. This is also secure way of SSH to VM using Private IP and avoiding using Public IP.

Please check this [document](https://docs.microsoft.com/en-us/azure/bastion/bastion-connect-vm-ssh) on how to SSH to Linux VM via Azure Bastion.

[2020-06-23 13:00] TomGeske commented on #51917
We just did a docs update adding more context about different MIs: https://aka.ms/aks/mi

I'll go ahead closing this one. Feel free to keep commenting.

#please-close

[2020-06-23 13:00] #51917 closed

[2020-06-23 13:06] seesharprun opened #57676 "Enable Jupyter Notebooks Programmaticly"
I was looking through the documentation page and I didn’t  see if it was possible to enable Jupyter Notebook support using the CLI, SDK, REST API, or an ARM template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e38b1a7-f738-1b62-88d9-57037a06b45a
* Version Independent ID: 575e9096-0b52-9d4c-e7fb-030371ea5da1
* Cont

[2020-06-23 13:11] T-Benny commented on #57601
Thanks for the response, another issue with the way this performs is when a conditional access policy uses Include - All cloud apps. This will automatically include Office 365 (preview) in the policy and subsequently, all products that fall under this bundle can no longer be excluded from the policy.

[2020-06-23 13:16] JamesTran-MSFT commented on #57672
@cqueern
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-23 13:33] GiftA-MSFT commented on #57588
@boltomli thanks for your feedback. However, I am able to confirm that the instructions work as expected in my Windows environment.

![image](https://user-images.githubusercontent.com/51332022/85409981-86a35780-b534-11ea-9030-ef6ba13f2dc6.png)

[2020-06-23 13:40] knuthalvor commented on #57343
Hi. I've just investigated and had a look at this, and in our case the Insights is enabled for AKS - we're able to see the cluster as monitored through Azure Monitor. Only difference is that the cluster and the settings are set up through Terraform, so not through the portal as in your example above. Unless you have some ideas with this extra information I can open a support ticket.

[2020-06-23 13:46] andreas-wilm commented on #6371
For the sake of completeness: on Ubuntu 18.04 the correct version is "postgresql://user@myhost:passwd@myhost.postgres.database.azure.com:5432/mydatabase

No escaping needed.

(ckan 2.8.4, python-sqlalchemy 1.1.11, PostgreSQL version 10)

[2020-06-23 13:51] amanmcse commented on #57572
@kristinesimon  Managed Identities do not support end user authorizations. Thus no Auth Code can be used with Managed Identities. You can look at managed identities as service principals with no end user interaction. As such, you can always grant/consent any application permission to a managed identity. This you can do over PowerShell, but your target API must expose an application role (or applic

[2020-06-23 13:51] shashishailaj commented on #57666
@falrnacn Thank you for pointing this out . Please share the article you are referring to and we can surely have it updated.

[2020-06-23 13:54] RyanHill-MSFT commented on #57670
Thanks for the question @mattruma! We are currently investigating and will update you shortly.

[2020-06-23 13:54] rahul-moorkoth commented on #27526
That solved my problem. Thanks

[2020-06-23 13:54] steveculshaw opened #57679 "Does section on managed identity need updating to include storage blobs and queues?"
[Enter feedback here]
The section on managed identity doesn't show blob
https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-securing-a-logic-app#add-authentication-to-outbound-calls

But https://docs.microsoft.com/en-gb/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities says blob does support it ?

---
#### Document Details

⚠ *Do not edit this s

[2020-06-23 13:55] stephc-msft opened #57680 "Resizing data disks if Spaces or S2D"
If using spaces or S2D in the Azure instance, do NOT extend the Azure disks in this way, as it will cause the spaces or S2D system to no longer recognise that disk

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
* Version Independent ID: c11bab28-a82a-29a1-84bf

[2020-06-23 14:01] shashishailaj commented on #57644
@kiwibayer Thank you for your feedback . We will surely have this reviewed with the content authors and update further.

[2020-06-23 14:07] shashishailaj commented on #57654
@nilsga Thank you for your feedback . We will investigate and update the thread.

[2020-06-23 14:08] mimckitt commented on #57680
@stephc-msft thanks for the feedback. This is already a feedback item on this doc and I am looking to update it.

https://github.com/MicrosoftDocs/azure-docs/issues/56585

#assign: @mimckitt
#please-close

[2020-06-23 14:08] #57680 closed

[2020-06-23 14:09] shashishailaj commented on #57663
@jorgecarleitao Thank you for your query. We will investigate and update this thread further.

[2020-06-23 14:10] shashishailaj commented on #57667
@falrnacn Thank you for your feedback . We will have content authors review this thread and update as needed.

[2020-06-23 14:11] shashishailaj commented on #57658
@vohuythao Thank you for your feedback . We will investigate and update the thread.

[2020-06-23 14:12] derisen commented on #51392
Apparently there is -I've updated the docs for [how to extract it](https://github.com/MicrosoftDocs/azure-docs-pr/pull/119403/files).

[2020-06-23 14:13] shashishailaj commented on #57657
@JuneZhao Thank you for your feedback . We will investigate and update the thread.

[2020-06-23 14:13] mimckitt commented on #56877
@nebula0248 thanks again for pointing this out. 3 is the default fault domain count. 5 is the default update domain count. I have updated the doc to address this. The changes will go live later this afternoon.

#please-close

[2020-06-23 14:13] #56877 closed

[2020-06-23 14:15] chandra9787 commented on #57673
Script does not Start the Trigger post deployment, if opted not to delete the Deployment
$deleteDeployment=$false (in post deployment script)

[2020-06-23 14:16] shashishailaj commented on #57657
@divka78 Could you please help clarify the customers queries.

[2020-06-23 14:17] shashishailaj commented on #57668
@cg6 Thank you for your feedback . We will investigate and update the thread.

[2020-06-23 14:18] arsnyder16 commented on #57621
@TravisCragg-MSFT The page you reference is referring to Azure CDN not Azure Frontdoor

[2020-06-23 14:19] colindonohue opened #57681 "IPv6 VNET seamless integration with on-premises IP space"
This document states the following under capabilities:

"Azure customers can define their own IPv6 virtual network address space to meet the needs of their applications, customers, or seamlessly integrate into their on-premises IP space."

Is there further documentation that shows how to seamlessly integrate an IPv6 VNET in to an on-premises IP space?

---
#### Document Details

⚠ *Do not edit thi

[2020-06-23 14:20] shashishailaj commented on #57669
@J0F3 Thank you for your inputs. We will surely engage with the content team on this and update further.

[2020-06-23 14:22] tamram commented on #57574
#reassign: @tamram

@the-grayest - I am investigating your question. Can you tell us a little more about the specific information you are looking for?

[2020-06-23 14:23] shashishailaj commented on #57675
@Smurfffje Thank you for your feedback . We will investigate and update the thread further.

[2020-06-23 14:27] shashishailaj commented on #57674
@motim6026 Thank you for your feedback . We will investigate and update the thread.

[2020-06-23 14:28] shashishailaj commented on #57673
@chandra9787 Thank you for your feedback. We will investigate and update the thread.

[2020-06-23 14:28] davideball opened #57682 "Fix a typo"
Microsoft,

This is David Ball with Vector Solutions (formerly Redvector). We've found a typo in the tutorial page that needs to be corrected. The section below:

_b. In the Identifier (Entity ID) text box, type a URL using the following pattern: https://**<Companyname**>.redvector.com/saml2_

Should be changed to:

_b. In the Identifier (Entity ID) text box, type a URL using the following pattern

[2020-06-23 14:32] stephbaron commented on #57658
This change is in the process of being rolled out and should appear in the UI worldwide by 6/26.

[2020-06-23 14:33] shashishailaj commented on #57666
@falrnacn In future you can always. provide feedback on the exact documentation by using the option feedback on this page as below.

![image](https://user-images.githubusercontent.com/532022/85376171-02150100-b555-11ea-9575-b288eea49fd2.png)

The documentation repo is so big that its impossible to find the exact document you are talking about . Please let us know and we can surely help .

Thank yo

[2020-06-23 14:33] yesoreyeram opened #57683 "Example query for empty resource groups"
Team, this is really a useful article. Thanks a lot for this.

BTW, can someone help me to write a query to identify **empty resource groups** using azure resource graph?

[code]

I have above two queries but i am struggling to make a join out of this.

Thanks,
Sriram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac94

[2020-06-23 14:34] v-pethur opened #57684 "Request to have a line or two added to explain "BYOL" if not found in the ImageType column, may show up in "additional Info" instead"
Hello team,

We have a Japanese customer who is complaining about the section below of the Japanese version of this document, however the same applies to the original ver too.  So I am leaving this feedback here.
----------
How can I tell if a VM is using Azure Hybrid Benefit in the Usage CSV?

If you deploy using the Azure Hybrid Benefit, you are charged the Non-Windows VM rate since you are brin

[2020-06-23 14:37] DCtheGeek commented on #57683
#assign:DCtheGeek

[2020-06-23 14:39] DCtheGeek commented on #57683
@yesoreyeram Thanks for the positive feedback and the question. Since your question is a product question or support request, can you ask it on [Microsoft Q&A](http://docs.microsoft.com/answers) instead? GitHub issues in this repo are intended for issues specifically with the Docs. If you post the link to your question in this thread, I'll take a look and see if I can help you out.  Thanks!

@Micr

[2020-06-23 14:39] #57683 closed

[2020-06-23 14:45] calaine opened #57685 "Clarification - use (A)SCS instead of ASCS"
Hello,

Please clarify that a mix of ABAP and JAVA services is supported (ASCS and SCS). Please use (A)SCS instead of ASCS when not referring explicitly to ABAP SCS.

In particular, the warning should be clarified:
"Multi-SID clustering describes the installation of multiple SAP ASCS/ERS instances with different SIDs in one Pacemaker cluster. Currently multi-SID clustering is only supported for AS

[2020-06-23 14:49] cahann commented on #53354
i can't reproduce the issue. Seems to be resolved, can you please confirm.

[2020-06-23 14:55] RohitMungi-MSFT commented on #53354
@cahann Yes, the error is fixed now. I think we are good to close this issue.

[2020-06-23 14:58] cahann commented on #53354
#please-close

[2020-06-23 14:58] #53354 closed

[2020-06-23 15:02] stephc-msft commented on #32161
The reagentc.exe tool will help with that.
And there is a technet askcore article then shows how (but I cant paste links here ?)

[2020-06-23 15:05] algattik opened #57686 "checkpointLocation: correct casing"
The canonical spelling of the option is checkpointLocation, not checkPointLocation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0da4fa9-3d06-ab3d-3440-d967eb59bb35
* Version Independent ID: 99f3b8e5-8836-baae-4c35-d5c986084820
* Content: [Checkpoint files not being deleted when using foreachBatch() - Azure Databrick

[2020-06-23 15:24] gerrynicol opened #57687 "Azure Firewall DNS"
Can you please clarify the wording around the known issues for custom DNS. If you have custom DNS set up on a VNET for a workload subnet within it, will the subnet that hosts the Azure FW within that VNET still work ok? i.e. it will just ignore the custom DNS and use Azure DNS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-23 15:24] svsvirid commented on #57595
Hi,
It's a pity it's closed. Unfortunately the links above don't provide any reference on how to disable it in automatic way, with powershell for example. And for this, you need so called Policy Assignment parameter for every policy, which is not seen anywhere in policy reference list you've provided, also not in GitHub links. So MS documentation does not provide enough information on this matter.

[2020-06-23 15:25] Mike-Ubezzi-MSFT commented on #57347
@fschmied If you take a look at the following which compares EF6 with EF Core, under the [saving data](https://docs.microsoft.com/en-us/ef/efcore-and-ef6/#saving-data) section, it indicates that EF6.4 does not have the capability to batch statements:

Feature | EF6.4 | EF Core
-- | -- | --
Change tracking: Snapshot | Yes | 1.0
Change tracking: Notification | Yes | 1.0
Change tracking: Proxies | Ye

[2020-06-23 15:27] MonikaReddy-MSFT commented on #57491
@ajafry -  Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-23 15:27] #57491 closed

[2020-06-23 15:30] MonikaReddy-MSFT commented on #57272
@Ettores88 -  The doc will merged once the repro is done and confirmed that the above code is working. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-23 15:31] MonikaReddy-MSFT commented on #57604
@mhabibal13 - I see that you have closed the issue and I hope that the issue is resolved for you. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-23 15:31] Mike-Ubezzi-MSFT commented on #57347
@stevestein @CarlRabeler The statement about [Entity Framework 6](https://docs.microsoft.com/en-us/azure/azure-sql/performance-improve-use-batching#entity-framework) supporting batch operations likely needs to be reviewed and updated.

![Screenshot (70)](https://user-images.githubusercontent.com/37126106/85423767-f2cd8d80-b52b-11ea-90cc-5028c5a4e7a1.png)

[2020-06-23 15:35] starforce commented on #56132
Also, I use this same cert  to publish code to the nodes of my cluster.. It is located on my laptop. Is this not the same cert needed to encrypt secrets?

[2020-06-23 15:36] KonTheCat opened #57688 "Badly in need of an update"
This article is badly in need of an update, it looks like the process has changed substantially. I had to do the following in order to get a hybrid worker set up.
1. Create automation account and log analytics account.
2. In log analytics account, enable the hybrid automation worker solution, and connect the solution to the relevant server in Azure on the solution's page.
3. Run the PowerShell com

[2020-06-23 15:37] flavio-neves commented on #57180
@JamesTran-MSFT

Just to add some more info. If I use Server 2016, RDS QuickStart implementation + RDG works only on Internet Explorer browsers, New Edge and Chrome don't.

If I use Server 2019, same RDS deployment as above, it doesn't work at all, it gets Firewall credentials error or logon attempt failed.

Both using Azure VM.

Would be of a great help if the article shed some light on it.

[2020-06-23 15:39] JamesTran-MSFT commented on #57180
@flavio-neves
Thank you for the updated info!

I have assigned this issue to @kenwith, the author of this doc to update as needed.

[2020-06-23 15:42] DerekHerman-MSFT commented on #57652
@kedaryarlapati AzCopy connectivity is encrypted by default since it uses HTTPS.  To confirm you can check the logs to see that PUT calls are made using HTTPS.
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-configure?toc=/azure/storage/blobs/toc.json#troubleshoot-issues

[2020-06-23 15:43] FluxBoson commented on #57597
My question has been answered. Closing issue.

[2020-06-23 15:43] #57597 closed

[2020-06-23 15:43] mrbullwinkle commented on #57100
I think part of the reason for the omission may have been that the doc was initially just focused on server side telemetry. Ultimately though it makes sense to call out and put in context how client-side telemetry works in conjunction with server-side telemetry. I have created an item on our internal backlog to address this to make this more clear for others in the future. Thanks for the question.

[2020-06-23 15:43] mrbullwinkle commented on #57100
#please-close

[2020-06-23 15:43] #57100 closed

[2020-06-23 15:46] str1ke-cw opened #57689 "Edge Blob Storage - Storage Explorer - Invalid x-ms-version"
Hello,

I am trying to access a local blob storage on an IoT Edge device. However, I get the following error in the Storage Explorer when trying to view the contents of a container:

[code]

The Edge Module Log says:

[code]
I cannot spot the mistake. Can you please help?

[2020-06-23 15:49] AmitavaHazra opened #57690 "Mobile app limitation in china for IOS device"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-authentication-methods

Is it only mobile app on android device does not work in china ? app on IOS device still work in china ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Indepen

[2020-06-23 15:50] msangapu-msft commented on #56482
#reassign: msangapu-msft

[2020-06-23 15:51] BreakingBI opened #57692 "Export or Delete Workspace Data API Versions are Not Supported"
In the "Export and Delete Workspace Data" Article (linked below), there are a number of REST commands to list and delete various workspace resources.

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-export-delete-data#delete-workspace-data-with-the-rest-api

While I did not test all of them, I know that the list asset URI throws an unsupported version exception.

Request

GET https:

[2020-06-23 15:51] mrbullwinkle commented on #57378
I believe the raw telemetry from Metric.Trackvalue() would still be retained for 730 days within the customMetrics table of the Log Analytics query experience if you set your retention settings to 730 days. The loss of aggregation data should only impact the Metrics Explorer experience within the UI.

Let me ping a few folks internally to confirm.

[2020-06-23 15:52] mrbullwinkle commented on #57378
@DaleKoetke or @vgorbenko  would you be able to confirm the retention behavior for custom metrics within App Insights?

[2020-06-23 15:56] mhabibal13 commented on #57604
Thank you. It just took 2 hours to show in application insights. For some reason

[2020-06-23 16:04] ClairelyClaire commented on #38427
Is there any chance of this being fixed?

I happened upon this bug when I wanted to set up Microsoft SSO with Gitea. I can only allow auth to the consumers tenant thanks to this bug.

[2020-06-23 16:08] mrbullwinkle commented on #57604
@mhabibal13 You can check to see if there are any known performance issues with ingestion latency to the service here: https://techcommunity.microsoft.com/t5/azure-monitor-status/bg-p/AzureMonitorStatusBlog

You can also run queries like this one to get a sense of what your recurring ingestion latency is. For this particular query I am checking the ingestion latency of request telemetry but you co

[2020-06-23 16:10] AshokPeddakotla-MSFT commented on #57517
@abhirockzz  I have assigned the issue to the content author @wesmc7777  to evaluate and update as appropriate.

[2020-06-23 16:11] msangapu-msft commented on #56482
Doc was updated. Change will be live in about 90 minutes. Thanks.

[2020-06-23 16:12] NavtejSaini-MSFT commented on #57438
@vatansoni89 Do you have any other question regarding this issue.

[2020-06-23 16:12] RyanHill-MSFT commented on #39322
Hi @paulpach, the issue was closed because of no response but your point is fair. When using Web App for Containers, it is not possible to access `docket.socket` due to PaaS limitations for accessing the Docker daemon. As a workaround, [AKS](https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-app) allows for greater control over the environment or you can use docker on a VM.

[2020-06-23 16:17] franctum5 opened #57694 "wrong link to Form Recognizer API"
Hi,

on this page: https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/cognitive-services/form-recognizer/index.yml

at line 130 there's a wrong url:

- text: Form Recognizer API v2.0
            url: https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-previewoperations/AnalyzeWithCustomForm

**previewoperations** is missing a /

[2020-06-23 16:21] mrbullwinkle commented on #57613
#assign:lgayhardt to take care of updates to the docs.

[2020-06-23 16:21] ash2017 commented on #54181
@nehsin please investigate.

[2020-06-23 16:22] SnehaGunda commented on #57676
@seesharprun Currently you can enable notebook support with Azure portal only. Support with other SDKs is in our backlog, please file a [user voice](https://feedback.azure.com/forums/263030-azure-cosmos-db) item and help us prioritize.

[2020-06-23 16:25] hpsin commented on #38427
Unfortunately not, we have to rev the entire platform (v3) to change the issuer.

[2020-06-23 16:26] BreakingBI opened #57695 "Data Factory "ML Execute Pipeline" Activity is not explicit that Pipeline must be Published as an Endpoint"
In Azure Machine Learning, it's possible to create a Pipeline programmatically, then submit it as an experiment.  This experiment can then be rerun programmatically as many times as the user wishes.  A less experienced Azure ML user might assume this means that the Pipeline is ready for external consumption.  However, this experiment cannot be rerun via the "ML Execute Pipeline" activity.

Instead

[2020-06-23 16:26] BreakingBI opened #57697 "Data Factory "ML Execute Pipeline" Activity is not explicit that Pipeline must be Published as an Endpoint"
In Azure Machine Learning, it's possible to create a Pipeline programmatically, then submit it as an experiment.  This experiment can then be rerun programmatically as many times as the user wishes.  A less experienced Azure ML user might assume this means that the Pipeline is ready for external consumption.  However, this experiment cannot be rerun via the "ML Execute Pipeline" activity.

Instead

[2020-06-23 16:27] Heloiseboanerges opened #57698 "unable to download resource-agents"
Hi,

I'm following the documentation for the NFS creation but I'm stuck at "sudo zypper in resource-agents" because my SLES is unable to find the package...

I'm running SLES 12-sp4 (BYOS)
Linux version 4.12.14-95.54-default (geeko@buildhost) (gcc version 4.8.5 (SUSE Linux) ) #1 SMP Thu Jun 4 12:49:28 UTC 2020 (892ef1f)

Thank you!

---
#### Document details

⚠ *Do not edit this section. It is req

[2020-06-23 16:29] BharathNimmala-MSFT commented on #57689
@str1ke-cw Thank you for reaching out to us. Please note that this channel (the [Azure Docs](https://github.com/MicrosoftDocs/azure-docs) repository) is only for driving improvements related to the Azure documentation. Can you please share the documentation link which are referring and facing this issue ? so that we can assist accordingly.

[2020-06-23 16:33] #57676 closed

[2020-06-23 16:37] mrbullwinkle commented on #57139
@tp6hannah I did some further testing. It looks like changes that were made to the templates to accommodate the new preview workspace based resources is what is causing issues in the export template experience for any classic app insights resources. I can now repro so I will write up my repro and send over to the engineering team for them to review. Thanks for bringing this to our attention. If th

[2020-06-23 16:37] JamesTran-MSFT commented on #57672
@cqueern
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-06-23 16:37] #57672 closed

[2020-06-23 16:48] BharathNimmala-MSFT commented on #57694
@franctum5 Thank you for bringing this to our notice. I have a raised a PR to update the URL link. Once reviewed and approved it will be merged to the main repo later in the week.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy

[2020-06-23 16:48] #57694 closed

[2020-06-23 17:03] Calvin-Yuhui-Liu commented on #57551
Hi there, I'm not sure if I've found the root cause but somehow I fixed the local account login. What I did was to grant permission of _user_impersonation_ for **_ProxyIdentityExperienceFramework_**. In document it's granted to **_IdentityExperienceFramework_**.
![image](https://user-images.githubusercontent.com/42446782/85432852-6a091e80-b538-11ea-8729-5792c06b027c.png)

[2020-06-23 17:04] craiglandis commented on #57633
@VikasPullagura-MSFT - for example, here is the evidence that publisher is **Microsoft.Azure.RecoveryServices** and not **Microsoft.RecoveryServices** -

[code]

[2020-06-23 17:13] KalyanChanumolu-MSFT commented on #57644
@kiwibayer This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-06-23 17:14] CodyMorris commented on #16566
@iliassk for getting group claims from AzureAD, we use the Graph API.  For other idP's we return it in a custom attribute and ingest it with B2C IEF.

And yes, its a nightmare and i'm not sure why

[2020-06-23 17:17] #57036 closed

[2020-06-23 17:17] martintoreilly opened #57702 "Hostname for Tenant-specific service-bus relay for SSPR"
We're configuring the software-defined deployment for a set of environments that must stringently minimise outbound internet access. This means that allowing connections to the large list of [Office365 URLs and IP ranges](https://docs.microsoft.com/en-gb/office365/enterprise/urls-and-ip-address-ranges) without more specific filtering is not an option, and we've been struggling to identify the mini

[2020-06-23 17:18] ClairelyClaire commented on #38427
Is that in the roadmap?

[2020-06-23 17:19] MarileeTurscak-MSFT commented on #57682
@davideball thanks! Fixing this.

[2020-06-23 17:21] himanshusinha-msft commented on #57686
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-06-23 17:21] SnehaAgrawal-MSFT commented on #57433
@ehsf973 Thanks again for the feedback! I have assigned the issue to the content author to update the document as appropriate.

[2020-06-23 17:21] MarileeTurscak-MSFT commented on #57682
Thanks! Just made a pull request to fix this https://github.com/MicrosoftDocs/azure-docs-pr/pull/119828

CC @jeevansd

[2020-06-23 17:21] #57682 closed

[2020-06-23 17:23] SaurabhSharma-MSFT commented on #57385
@felickz Have you tried looking into Azure AD Audit logs.  Also, as this is a troubleshooting question rather than a documentation issue, I suggest you to please open a new Microsoft Q&A forum post as with the details and community will help address your query. Please refer to [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html) to ask new question.

[2020-06-23 17:30] KranthiPakala-MSFT commented on #57695
@BreakingBI Thanks for the feedback! We have assigned the issue to the content author to evaluate this and update the document as appropriate.

[2020-06-23 17:31] MikeWilcoxMicrosoft opened #57703 "Could not find sku in tier 'GeneralPurpose' with family 'Gen4',"
On https://docs.microsoft.com/en-us/azure/azure-sql/database/scripts/move-database-between-elastic-pools-cli

Note, the SKU is not found for these cli commands :

+ az sql elastic-pool create --resource-group resource-sqlsb062320 --server server-sqlsb062320 --name pool-sqlsb062320 --edition GeneralPurpose --family Gen4 --capacity 1
Could not find sku in tier 'GeneralPurpose' with family 'Gen4', ca

[2020-06-23 17:34] SaurabhSharma-MSFT commented on #57451
@Imbusyworking I am checking on this issue internally with the product team on this issue and update you once I hear back.

[2020-06-23 17:36] APIWT commented on #36458
This is a big blocker for us. We need to be able to use the same ARM template to deploy to a new resource group that we would use to deploy to an existing resource group. We specifically run our ARM templates in Complete mode to help provide a little more context.

Right now, our ARM template looks sort of like this:
[code]

Take note of the following details: We are specifying our configuration _

[2020-06-23 17:48] ShaneBala-keyvault commented on #52649
For app service trusted service, you must look at the supported scenario. The only supported scenario is for deployment of app service certificates.

For all other scenarios, you must add the outbound IP address ranges of the app service (Under app service properties) to the key vault firewall allow list.

This scenario has been documented here: https://azidentity.azurewebsites.net/post/2019/01/03

[2020-06-23 17:48] ShaneBala-keyvault commented on #52649
#please-close

[2020-06-23 17:48] #52649 closed

[2020-06-23 17:54] AmitavaHazra opened #57705 "Difference between Per user MFA and office365 MFA"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates

Is this per user mfa explained on above doc is nothing but offiice365 MFA ?

Please clarify.

@vipulsparsh, can you please clarify if you have understanding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-95

[2020-06-23 17:56] AmitavaHazra commented on #18048
@MarileeTurscak-MSFT / @tjoycebrook ,

Is per-user MFA in Azure nothing but office 365 MFA ? can you please clarify if there is any difference.

[2020-06-23 18:00] SatishBoddu-MSFT commented on #57560
@V-Guru The UBUNTU 18.04 ARM32v7 is listed under [Tier 2 systems](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-2).

Please bookmark this link for all future updates.
On a side note , FYI, [Tier 1](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1) are supported by Microsoft, either generally available or in public preview, and are tested with each new release.
Please l

[2020-06-23 18:00] tburns10 commented on #57515
#reassign @areddish

[2020-06-23 18:01] AmitavaHazra commented on #57705
@MarileeTurscak-MSFT and @MicrosoftGuyJFlo @vipulsparsh,

can any one help me on the above clarification.

[2020-06-23 18:07] chanakyaMT commented on #32940
Surendra,

Please remove audience portion from webactivity and try to do a call to AAD as above. (make sure you are connecting with the right tenant).

Please paste the output of webactivity here, I will check and let you know. also may I know how you are consuming webactivity output in next copy activity? can you share support files and webactivity output removing sensitive data.

You can also ra

[2020-06-23 18:13] xcactusx commented on #18048
I believe per user is a 365 setting.  (Technically you can see it is in Azure, but not really Azure based)  Conditional access is how you roll MFA to users direct from Azure and 365 per user needs to be turned off prior to that.

[2020-06-23 18:15] tamram commented on #57617
The article has been updated as noted above.

#please-close

[2020-06-23 18:15] #57617 closed

[2020-06-23 18:16] RyanHill-MSFT commented on #57670
@mattruma in the first paragraph, the doc states app settings essentially environment variables passed to the underlying host. Since their environment variables, the underlying host must be restarted for those changes to take affect. You'll even get the banner alerting you to this fact upon making changes.

![2020-06-23 13_50_56-ryhillwebappbasic _ Configuration - Microsoft Azure](https://user-ima

[2020-06-23 18:20] youngbink commented on #52431
hello @dheerajkumar-solanki we got the patch for this issue merged in for dbr 6.4+. The next patch releases (dbr-6.4.9, dbr-6.5.6, dbr-6.6.3) on June 30th will have this patch.

[2020-06-23 18:23] Craigmeister68 opened #57707 "ConnectionMode Example Code Snippet"
The code snippet after connection mode discussion does not contain a connection mode setting. Is that intended?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0e7859f-11e3-14fd-cd65-50ec6f6ebf1c
* Version Independent ID: 5f76fa5c-7035-2df9-7338-613f1dbd3ff7
* Content: [Performance tips for Azure Cosmos DB Java SDK v4]

[2020-06-23 18:24] fib0nacci opened #57708 "Unclear Instructions for Onboarding Python Script"
Step 3 of the section titled "Install a Linux Hybrid Runbook Worker" describes running an onboarding python script with some parameters specified. One of the parameters (-e) has a description of "automationEndpoint." It is unclear what value is supposed to be passed to this parameter as no other information is provided. It would be helpful to have some additional information explaining what this m

[2020-06-23 18:26] hbrown664 opened #57709 "problem following the instructions on creating workload group because of bug in synapse"
I am trying to work through a quickstart of Azure synapse analytics. I created my own data warehouse with a sql server in a sql pool with their adventureworks data. Then I tried to create a workload group as they say to do in the quickstart, but it fails with this error: Statement 'CREATE WORKLOAD GROUP' is not supported in this version of SQL Server. It turns out that the sql server is version 12

[2020-06-23 18:26] anfeldma-ms commented on #57707
Hi, there is a default connection mode so you do not need to specify except for demonstrative purposes or if you need special configuration settings.
________________________________
From: Craigmeister68 <notifications@github.com>
Sent: Tuesday, June 23, 2020 11:23 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Andy Feldman <Andrew.Feldman@microsoft.com>; Mention <mention@nore

[2020-06-23 18:29] 8191 opened #57710 "Wrong RHEL 8.1 reference"
Heading "CentOS 7 and RHEL 8.1" is misleading as RHEL 8.1 is currently not supported by ADE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9f0eeaf-7290-1f64-5700-a88ec325a9d0
* Version Independent ID: 401634dd-56ad-5f64-5436-3563fa438e1a
* Content: [Azure Disk Encryption sample scripts - Azure Linux Virtual Machines]

[2020-06-23 18:30] SaurabhSharma-MSFT commented on #57456
@Steven-FCI Product team has already started working on PowerShell and Graph API support for managing Multi-Factor Authentication.  Please refer to the existing uservoice over [here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/20249953-powershell-and-graph-api-support-for-managing-mult).

Please upvote and provide your comments this existing uservoice

[2020-06-23 18:31] #56482 closed

[2020-06-23 18:31] #57543 closed

[2020-06-23 18:32] 8191 commented on #57008
@VikasPullagura-MSFT Thanks for your investigation! So the limitation does not lie within XFS but within LVM?

[2020-06-23 18:35] MGoedtel commented on #57708
@fib0nacci - To identify the value for that argument, you go to the Manage Keys page and copy the value for **URL** on that page.  For more information, you can see similar information under this [section](https://docs.microsoft.com/azure/automation/automation-windows-hrw-install#step-3---install-the-runbook-environment-and-connect-to-azure-automation) of How to install Windows HRW.

I had a bug a

[2020-06-23 18:35] Craigmeister68 commented on #57707
It seems strange, though, to have this statement

The ConnectionMode is configured during the construction of the Azure Cosmos DB client instance with the ConnectionPolicy parameter:

followed by nothing -- not including the parameter just mentioned in the sample code.  Why have the sample code there to show nothing?

[2020-06-23 18:36] nandun5 commented on #31363
PowerShell shows this error:
New-AzSqlDatabaseExport: 40822: This feature is not available for the selected database's edition (Hyperscale).

[2020-06-23 18:37] MaikuMori commented on #38427
What about having both `V2` and `V3` up? That way old code can still function and newer code can use the standards compliant version.

[2020-06-23 18:38] SadiqhAhmed-MSFT commented on #57674
@tfitzmac and @mumian For insights

[2020-06-23 18:41] hpsin commented on #38427
Not on the roadmap currently.  We absolutely would have both supported concurrently (as well as v1) but making a radical change to the existing architecture is out of scope right now given our current workload.

[2020-06-23 18:41] MrAzureAD commented on #57571
Understood. However the example is AWS and AWS is one of the major use cases why to use automated creation of AAD apps. So from that perspective, I would it being mentioned.
On the other hand Azure portal prevents duplicate  entity IDs from being created - the automation does not prevent it, but it will not work and frustrate users.

[2020-06-23 18:45] anfeldma-ms commented on #57707
This is a fair point. Thanks. I'll put in a PR including a more fleshed-out configuration example.
________________________________
From: Craigmeister68 <notifications@github.com>
Sent: Tuesday, June 23, 2020 11:36 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Andy Feldman <Andrew.Feldman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2020-06-23 18:46] fib0nacci commented on #57708
Thank you, this got me what I needed. Copying the value from the URL field of the Account Settings > Keys page of our Automation Account produced the results we were expecting. Adding similar information to the Linux page will be very helpful.

[2020-06-23 18:46] #57708 closed

[2020-06-23 18:47] #57456 closed

[2020-06-23 18:47] anfeldma-ms commented on #57707
Am I correct that what you are referring to is that the snippet below doesn't do anything in particular with ConnectionPolicy, it just creates it and applies it as a setting. Is that correct?

[cid:4245c768-a4f1-4866-adf4-e71594d11cfd]
________________________________
From: Andy Feldman <Andrew.Feldman@microsoft.com>
Sent: Tuesday, June 23, 2020 11:45 AM
To: MicrosoftDocs/azure-docs <azure-docs@no

[2020-06-23 18:51] HeidiSteen commented on #57489
@ajeetk-github  Changes to the analyzer docs and partial query docs are now published on the live site.  I believe these updates address the issues that you raised, so I will go ahead and close this issue.  If you disagree, please feel free to reopen.  Thank you for sticking with me through this process!

#please-close

[2020-06-23 18:51] #57489 closed

[2020-06-23 18:53] HeidiSteen commented on #57415
@ajeetk-github  Closing this issue as well.  Please re-check the docs (same URLs) for revised content, and as with the other issue, feel free to reopen if you are not satisfied.  Thanks!

#please-close

[2020-06-23 18:53] #57415 closed

[2020-06-23 18:53] tfitzmac commented on #57674
@motim6026 - what method are you using to deploy the template and what version? I am a little confused by your sample because it shows subnets instead of a vnet.

[2020-06-23 18:53] Mike-Ubezzi-MSFT commented on #31363
@nandun5 Yes, with Hyperscale the export functionality is not available at this time. It has to do with the [distributed functions architecture](https://docs.microsoft.com/en-us/azure/azure-sql/database/service-tier-hyperscale#distributed-functions-architecture) and with storage based file-snapshot as the method for backups, the export functionality is disabled.

[2020-06-23 18:54] shivp950 commented on #57322
sure we'll update the commands on our docs

[2020-06-23 18:57] ClairelyClaire commented on #38427
Ok. I suppose it's not the end of the world - my Gitea instance is just for people to file issues against my own projects, so I don't need AAD support.

Thanks for the details, though!

[2020-06-23 18:59] JTC-Jeremy commented on #12432
Sorry for the late reply, but in standard MS practice, they changed everything, so my instructions didn’t work anymore.  I have updated them and retested it in my lab and was able to get it working:

https://www.truelinkps.ca/blog/publish-remote-desktop-with-azure-ad-application-proxy/

Let me know

From: wcom939 <notifications@github.com>
Sent: May 25, 2020 9:56 PM
To: MicrosoftDocs/azure-docs <a

[2020-06-23 19:05] Craigmeister68 commented on #57707
Correct. I would expect there to be an example of setting Direct mode, since that is not the default.

[2020-06-23 19:06] RyanHill-MSFT commented on #57622
@brianburtoninmar the Read/Write button is at the top of the page next to your avatar image. On the left, you can drill down into the resources that have you created by type (e.g. Microsoft.Web) or by resource name.

![2020-06-23 14_37_54-Resource Explorer](https://user-images.githubusercontent.com/47189704/85446994-1fe96280-b563-11ea-88a4-b31d7a4545d2.png)

[2020-06-23 19:08] craigshoemaker commented on #57068
@markbeij - As stated in the doc, there are no v2.x+ bindings available for Notification Hubs. The alternative is to code directly against the [Notification Hubs package](https://www.nuget.org/packages/Microsoft.Azure.NotificationHubs).

#please-close

[2020-06-23 19:09] #57068 closed

[2020-06-23 19:33] TravisCragg-MSFT commented on #57621
@arsnyder16 My Apologies!

For Azure Front Door, the purge functionality is basic, and you cannot purge by domains / subdomains. Unfortunately you will have to purge everything, or split the 2 endpoints into 2 different front doors (if possible).

If you would like us to add this functionality to Azure Front Door, [leave your feedback Here at Azure Networking's feedback.azure.com page](https://fee

[2020-06-23 19:33] #57621 closed

[2020-06-23 19:34] solankisamir commented on #53849
@milope we have fixed the documentation. Please close the issue if satisfied.

[2020-06-23 19:34] Aaron-ML commented on #51978
@MarileeTurscak-MSFT Looks like this is still missing, was this merged?

[2020-06-23 19:35] MGoedtel commented on #57593
@memildin - I agree that the VM Extension should have been named consistent with the LA agent, however this is how the product team implemented it for Arc for servers.  At this time, the documentation is consistent with the experience. Share your feedback via [UserVoice](https://feedback.azure.com/forums/925690-azure-arc?category_id=375340).  #please-close

[2020-06-23 19:35] #57593 closed

[2020-06-23 19:45] MarileeTurscak-MSFT commented on #57169
It seems that there are ways to use Next.JS with MSAL. Here is a sample showing an implementation: https://github.com/himadrinath/next-b2c-redux-auth

If you have further questions about this setup I would suggest asking in [Microsoft Q&A]([url](url)) or Stack Overflow as this is more of a product question than a documentation issue.

Thanks!

Marilee

[2020-06-23 19:45] #57169 closed

[2020-06-23 19:45] mvisosky commented on #57468
Seconding this.  The link now redirects you to https://docs.microsoft.com/en-us/azure/aks/managed-aad which refers to Azure AD integration that is in Preview.  Can you please restore the page https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration ?

[2020-06-23 19:46] awentzel opened #57713 "Doc update request for network restricted access to backend"
In the section "How do I lock down access to my backdoor ..." it's could be more accurate.  It's written such that both Network Access Restrictions and Middleware solutions are required together.

In reality, either Network Access Restrictions could be used **OR** middleware.  Here was my [SO](https://stackoverflow.com/questions/62461510/how-to-configure-web-apps-such-that-they-cannot-be-accessed-

[2020-06-23 19:46] TravisCragg-MSFT commented on #57687
@gerrynicol You are correct, Azure Firewall will ignore your custom DNS and only use Azure DNS. Your other subnets will not be affected by this, and will use your custom DNS.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-23 19:46] #57687 closed

[2020-06-23 19:50] SimonBerens opened #57714 "REST API Reference Link Broken"
The REST API link (https://westus2.dev.cognitive.microsoft.com/docs/services/form-recognizer-api-v2-previewoperations/AnalyzeLayoutAsync) doesn't work.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b5c013-5dc0-f414-e201-e9f5576ceebf
* Version Independent ID: e12aa506-55d8-8a29-fd31-61a672c49073
* Content: [Quickstart

[2020-06-23 19:55] Karishma-Tiwari-MSFT commented on #57662
Thanks for sharing the update.

[2020-06-23 19:57] ecfan commented on #54717
Hi @aliyoussefi,

As your question and request actually applies to connectors in general, could you post this request on the [Connectors overview page](https://docs.microsoft.com/connectors/connectors) instead? The Connectors team coordinates the process for non-Microsoft connectors, so would be useful for guidance about support from preview through GA to appear in the docs there.

Thanks!

[2020-06-23 19:58] jlichwa commented on #56992
@alac0m it is incorrect statement. It should be 30 days before expiration. It is published just once.
I will update document.

[2020-06-23 19:58] Karishma-Tiwari-MSFT commented on #57685
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-23 19:58] ecfan commented on #54717
@DixitArora-MSFT: #please-close

[2020-06-23 19:58] #54717 closed

[2020-06-23 20:00] SaurabhSharma-MSFT commented on #57702
@martintoreilly Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-23 20:07] martintoreilly commented on #57702
Thanks Saurabh.

[2020-06-23 20:13] TravisCragg-MSFT commented on #57681
@colindonohue Can you give some more information on what exactly you are looking for? We do not have any good docs for full guidance on this integration, but I would be happy to advise or provide links for any guidance that you need.

[2020-06-23 20:14] CharmanderJieniJieni opened #57715 "NSG Flow log for private link"
[Enter feedback here]
Does NSG flow up collect log for private links? We have private links connecting to SQL./Storage account and we are quite sure there are traffic hit that private link, but when we check nsg flow log no log has been generated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d

[2020-06-23 20:16] MikeWilcoxMicrosoft commented on #57703
Maybe this will help a bit..
mike@Azure:~$ cat ./runmesql
#!/bin/bash
set -x

export RG=sqlsb062320

#  minimum family and cap
FAM=Gen5
CAP=2

location="East US"
#  Use date in seconds for a random number
randomIdentifier=`date +s`
# old randomIdentifier=$RG

resource="resource-$randomIdentifier"
server="server-$randomIdentifier"
database="database-$randomIdentifier"
pool="pool-$randomIdentifier"

[2020-06-23 20:22] cijothomas opened #57716 "The list of counters is incorrect for Asp.Net Core"
[Enter feedback here]
The current default counters that are configured to be collected for ASP.NET/ASP.NET Core web applications are: -- this statement is incorrect. Its correct for Asp.Net. Asp.Net Core collects only a subset of these. Need to add the correct list for Asp.Net Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-06-23 20:24] MicrosoftGuyJFlo commented on #57705
They are the same thing. If you are a customer with Office 365 only then this is the MFA method you would use. If you have Conditional Access as part of a license that includes Azure AD Premium you would want to use that instead.

Per-user MFA requires MFA every time your users sign in. It tends to encourage some bad habits like users clicking yes when they get prompts no matter what.

[2020-06-23 20:25] AjayKumar-MSFT commented on #57293
@carlpoole, Upon checking this, we have a raised a PR and shared your feedback with the content owner for further review.
Thanks again for bringing this to our attention.

[2020-06-23 20:35] ecfan commented on #57679
Hi @steveculshaw,

The table in the [Add authentication to outbound calls section](https://docs.microsoft.com/azure/logic-apps/logic-apps-securing-a-logic-app#add-authentication-to-outbound-calls) section doesn't include Storage blobs or queues because the Storage connector doesn't have the option for you to select an authentication type, for example:

![image](https://user-images.githubuserconten

[2020-06-23 20:37] ecfan commented on #57679
@mike-urnun-msft: #please-close

[2020-06-23 20:37] #57679 closed

[2020-06-23 20:39] y0da822 commented on #12432
Does this allow you two take advantage of 2fa at the mstsc part?  Meaning - if someone creates an rdp file and saves to their local machine are they prompted for 2fa when connecting using the saved rdp file?

I was unable to make that happen so I used duo and installed it on rdweb and rdgateway.  But I really wanted to only use 2fa from azure.

[2020-06-23 20:42] MikeWilcoxMicrosoft opened #57717 "Deployment failed. Managed Instance deployment failed as provided subnet not delegated"
Error in the create a managed instance script at
https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-create-configure-managed-instance-cli

+ echo 'Creating instance-s with vnet-s and subnet-s...'
Creating instance-s with vnet-s and subnet-s...
+ az sql mi create --admin-password 'samplePassword123!' --admin-user sampleLogin --name instance-s --resource-group resource-s --subn

[2020-06-23 20:44] kagowda commented on #57664
Hey guys,

We are releasing Update SLA this week. So we need to add two sections for the changes in doc
1) Command-line changes for update cluster with SLA
Add latest CLI Extension
then can update the existing cluster with command - az ask update --resource-group group1 --name clustername1 --uptime-sla
commands takes few minutes to run. Show the output with sku as basic and tier as paid with outpu

[2020-06-23 20:50] MartinJaffer-MSFT commented on #57490
@VitalyMCT Thank you for your question.  At this time Data Factory is not supporting Stored Procedure for Oracle.  I believe the author was just being thorough in linking the mapping docs, (in case we add Oracle support in the future).

[2020-06-23 20:56] JTC-Jeremy commented on #12432
No it wont but if you are using this system it will pull them to the app proxy even if they are inside the network you should be able to redirect them to the O365 MFA before they have access

From: y0da822 <notifications@github.com>
Sent: June 23, 2020 2:39 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Jeremy Preston <jeremy@truelinkps.ca>; Mention <mention@noreply.github.com

[2020-06-23 21:00] mmeiman opened #57718 "Container Images don't deploy correctly"
Hi,

I followed the guide step by step and downloaded and pushed the docker images files to my Azure Container Registry. However after the deployment the module never starts running, looking at the log file in my edge device I can see that the pull from the registry is successful, however when it wants to actually run it, there is an error "No command defined"

Is there a missing step somewhere?

[2020-06-23 21:03] shashishailaj commented on #56992
Thank you @jlichwa

[2020-06-23 21:03] #57520 closed

[2020-06-23 21:09] jayhallsworth opened #57719 "New VM on an Existing Network"
Hi,

When creating a new VM following this guide, the VM ends up on a new vNet / Subnet rather than the one created in the script unless the VM sits in the same RG as the vNet, which will not normally be the case.

Cheers

JH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a03427-b70e-ab8e-1977-bac5066dbc96
* Version

[2020-06-23 21:13] toy-opensource commented on #31380
@alexandis
got an answer and legit response on SO
https://stackoverflow.com/questions/62482070/how-to-set-stdout-true-while-doing-a-webdeploy-for-asp-net-core-v3-1-app

[2020-06-23 21:15] steveculshaw commented on #57679
@ecfan Ah ha ... got ya. Many thanks for the excellent explanation

[2020-06-23 21:17] JimacoMS3 commented on #57246
@MatthijsvdVeer I've heard back from engineering. They've confirmed that reading and writing device twins and reading direct methods are not available over HTTPS from the device. I'll make the appropriate updates in the next couple of days. Thanks for pointing this out!

-Jimaco

[2020-06-23 21:19] Karishma-Tiwari-MSFT commented on #57407
A PR has been created and changes will be live shortly.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-06-23 21:19] #57407 closed

[2020-06-23 21:20] Mike-Ubezzi-MSFT commented on #57259
@loopfish We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-23 21:20] #57259 closed

[2020-06-23 21:20] milindpoint commented on #41369
Use "**Person**" type.

Person friend1 = await _faceClient.PersonGroupPerson.CreateAsync

[2020-06-23 21:20] travisclagrone opened #57720 "Azure Databricks > Data Sources > Cassandra -- configuration options missing"
The reference of configuration options for the Cassandra data source connector is missing in the Azure Databricks documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60f4022a-2458-0d90-1e4c-bdd749568a63
* Version Independent ID: 9ea3fcc8-ccbc-6d1a-0bce-3ac9da9be945
* Content: [Cassandra - Azure Databricks](ht

[2020-06-23 21:21] RyanHill-MSFT commented on #41248
@vipinlalvs,

1. No, you don't need a token store. AAR Affinity is a cookie that's used by the load balancer to direct the client to the same server.
2. Your .auth/refresh is an endpoint used by the EasyAuth enabled app service which should x-ms-token-aad-access-token in the http header. If you're having issues with .auth/refresh, check out this [doc section](https://docs.microsoft.com/en-us/azure

[2020-06-23 21:26] travis-c-lagrone opened #57721 "Azure Databricks > Data Sources > Parquet -- configuration options missing"
The configuration options reference is missing on the Parquet data source page in the Azure Databricks documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b205cba-67fb-7e84-20cb-0cfbea472eec
* Version Independent ID: 1b438b1a-5572-8b93-4263-d3bcd49bfb7a
* Content: [Parquet files - Azure Databricks](https://d

[2020-06-23 21:29] #57521 closed

[2020-06-23 21:30] zr-msft commented on #57521
Thank you for the feedback @shashishailaj!

I have updated the documentation to incorporate your feedback. The changes should be available soon.

[2020-06-23 21:45] JamesTran-MSFT commented on #57608
@iliassk
I was able to look into this issue and found a [Single Sign-Out SAML Protocol](https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-out-saml-protocol) doc. However, besides that documentation it looks like there's still a feature request for [Single Sign out in B2C](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19211881-single-sign-out-

[2020-06-23 21:56] MSFTPconlan opened #57723 "Create Master Key documentation fail"
The "prereq work lists the need to create a master key but then links to an example that won't work with Azure Database Analytics - instead the user should connect to the database they just provisioned (not master) and run:   CREATE MASTER KEY;

as per: https://stackoverflow.com/questions/60347647/cant-create-database-master-key-with-azure-synapse-analytics-azure-dw-using-m

---
#### Document Deta

[2020-06-23 21:57] jasonphillipsofkroger commented on #57630
@travisCragg-MSFT just some more details I create recommended private dns zones so PaaS resources such as web apps, storage containers, etc work when attached to private endpoints

I noticed, web apps particular have two fully qualified domain names to
webapptest623a.azurewebsites.net. (the one most internal access)
webapptest623a.scm.azurewebsites.net. (researching I found this was for KUDU)

In

[2020-06-23 22:01] asergaz commented on #57525
@weiqing-beijing thank you so much for your feedback! A pull request is about to be submitted to address this :)!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-06-23 22:01] #57525 closed

[2020-06-23 22:02] KranthiPakala-MSFT commented on #57443
Hi @smoms, Sorry for delay in response. The custom activity runs your customized code logic only on an Azure Batch pool of virtual machines. Which means the self-hosted IR of custom activity submits your custom application to be executed only on Azure Batch.

Hope this clarifies.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your

[2020-06-23 22:02] #57443 closed

[2020-06-23 22:21] asergaz commented on #57535
Hello @weiqing-beijing can you share the other issue you mentioned for Azure IoT SDK C?

In case you are using X509 it should be like (ignore SharedAccessKey):

`"HostName=<host_name>;DeviceId=<device_id>;x509=true"`

Thanks!

[2020-06-23 22:33] InformTechPro opened #57724 "The Connector Ports Test link does not work."
The Connector Ports Test link does not work. The document references the link as a troubleshooting tool. https://aadap-portcheck.connectorporttest.msappproxy.net/
The document location that contains the reference.
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/workday-inbound-tutorial#how-do-i-ensure-that-the-provisioning-agent-is-able-to-communicate-with-the-azure-ad-tenant-and

[2020-06-23 22:38] KranthiPakala-MSFT commented on #57615
@VitalyMCT Thanks for your query. Unfortunately it is not possible to integrate ADF V2 with non-Azure DevOps / non-GitHub Git repository.

If you have any feedback/suggestion related to this, I would recommend you to please share it in ADF user-voice forum: https://feedback.azure.com/forums/270578-azure-data-factory. Please do post the feedback link here once you have shared your feedback in user

[2020-06-23 22:38] #57615 closed

[2020-06-23 22:43] roygara commented on #57576
@akingscote Thanks for making us aware of this. I've gone ahead and reached out to the writer and will work with them to get this sorted out.

[2020-06-23 22:51] jhudsoncedaron opened #57725 "Claims that Azure storage SMB 3.0 can't be MITM'd but information theory says otherwise"
So this really comes down to something simple in the end. On mounting the Azure storage drive, it asks for a username and a password, but hasn't really verified it's talking to the right server yet. SMB 3.0 had the last MITM hold closed for inter-domain scenarios but this isn't that. It's authenticating directly with the username and password rather than a ticket and there's no third server in com

[2020-06-23 22:56] JamesTran-MSFT commented on #57724
@InformTechPro
Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-23 22:58] mamccrea commented on #54072
Hi @roopasd - for more information on how Databricks isolates high concurrency clusters, see this [blog post](https://databricks.com/blog/2019/10/24/simplify-data-lake-access-with-azure-ad-credential-passthrough.html). Databricks isolates standard clusters by restricting to one user.

[2020-06-23 22:59] mamccrea commented on #54072
I will now proceed to close this issue.

#please-close

[2020-06-23 22:59] #54072 closed

[2020-06-23 23:06] LadyCailin commented on #50613
There's apparently more reasons for this than just this setting though. I confirmed that I have the setting enabled, but it's still not working for me. Looking directly at the connection in the OS VPN settings, it tells me "The specified port is already open." Not sure what was using the port, but anyways, a reboot did the trick.

[2020-06-23 23:09] MarileeTurscak-MSFT commented on #57234
Hi @SanderBerkouwer ,

That's a good point about the new version. I reached out to the product team to ask if the permission scope has changed. Were you able to test this?

[2020-06-23 23:12] Golffy1468 commented on #57724
I’m just trying out a couple things to make it look like

[2020-06-23 23:13] mamccrea commented on #56500
It may be possible for Python and R libraries as those are installed from the data plane, but not for Maven libraries as those are directly installed from the control plane.

For python, it’s possible to [configure a proxy at the pip config level](https://stackoverflow.com/questions/43473041/how-to-configure-pip-per-config-file-to-use-a-proxy-with-authentification/43473312) which could be done via

[2020-06-23 23:14] Golffy1468 commented on #57702
**🤬**

[2020-06-23 23:15] Golffy1468 commented on #57690
🤬😡

[2020-06-23 23:18] BharathNimmala-MSFT commented on #57709
@hbrown664 Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-23 23:18] Golffy1468 commented on #57619
😡

[2020-06-23 23:18] #57490 closed

[2020-06-23 23:18] Golffy1468 commented on #57612
😡

[2020-06-23 23:19] MarileeTurscak-MSFT commented on #57705
Thanks @AmitavaHazra and @MicrosoftGuyJFlo

Yes, Office 365 allows MFA to be enabled on a per-user basis, enabled or disabled for all users, or for all sign-in events using security defaults. With the Azure AD Premium plan the difference is that you can use conditional access for a more customized MFA experience and apply MFA for particular resources or types of users. https://docs.microsoft.com/e

[2020-06-23 23:19] #57705 closed

[2020-06-23 23:19] Golffy1468 commented on #57603
😡

[2020-06-23 23:25] mamccrea commented on #54359
I hope this information has been helpful. I will now proceed to close this issue. Please reopen the issue if you have any additional questions.

#please-close

[2020-06-23 23:25] #54359 closed

[2020-06-23 23:27] mamccrea commented on #55521
I hope this information has been helpful. If you have any additional questions, please reopen this issue.

#please-close

[2020-06-23 23:27] #55521 closed

[2020-06-23 23:35] mike-urnun-msft commented on #57219
@parthipanr renewal period is agnostic of timezones and not bound to DateTime, rather it's more of a time-based knob.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-23 23:35] #57219 closed

[2020-06-23 23:36] BharathNimmala-MSFT commented on #57718
@mmeiman Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-06-23 23:39] mamccrea commented on #56050
Hi @snugghash - thank you for the clarification. I have added to the note in the doc to mention that the path must begin with dbfs. Please allow a few days for the change to go live.

#please-close

[2020-06-23 23:39] #56050 closed

[2020-06-23 23:41] NillsF opened #57727 "AZ CLI commands in this documentation page no longer exist"
Hi,

The AZ CLI commands used in this page no longer exist, making the documentation no longer relevant.

The specific commands I refer to:
[code]
This command is referenced 4 times in the doc, but no longer exists. More info on the commands that do exist are [here](https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az-deployment-group-list).

There is another comman

[2020-06-23 23:41] BharathNimmala-MSFT commented on #57688
@KonTheCat Thank you for the feedback, our team will further look into it and get back to you at the earliest.

[2020-06-23 23:44] mamccrea commented on #56721
Hi @luticm - thank you for the feedback. I am tracking this update in an internal work item. I will now proceed to close this issue.

#please-close

[2020-06-23 23:44] #56721 closed

[2020-06-23 23:44] Mike-Ubezzi-MSFT commented on #57316
@zqyAmy I apologize for the delay on getting back to you on this issue. I spent some time going through this in PowerShell and was unable to reproduce any issue with Az.sql 2.6. Is there something specific that was occurring? I set up an environment where I could toggle the public network access Enable/Disable.

![Screenshot (72)](https://user-images.githubusercontent.com/37126106/85478076-6a25108

[2020-06-23 23:44] Golffy1468 commented on #57681
😠

[2020-06-23 23:45] Golffy1468 opened #57728 "😠"
😠

_Originally posted by @Golffy1468 in https://github.com/MicrosoftDocs/azure-docs/issues/57681#issuecomment-648484410_

[2020-06-23 23:49] nehsin commented on #54181
@AshokPeddakotla-MSFT I looked into the support ticket but there isn't any new information from what I find here. Is the issue already investigated by a SE? If yes, do we have an ICM I can see?

[2020-06-23 23:56] mamccrea commented on #56762
Hi @cequencer - autolog() doesn't appear to be an option in hlflow.h2o. Here's the [Python API documentation](https://www.mlflow.org/docs/latest/python_api/mlflow.h2o.html) for h2o.

[2020-06-24 00:00] bandersmsft commented on #57439
@bizinbarefeet Looking at https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing it looks like there are a number of available MFA options starting at free with your current subscription. Basic features are free. Advanced features require Azure AD premium. If you want the advanced features and don't already have AD premium, then there is additional cost. I'm u

[2020-06-24 00:03] mamccrea commented on #56875
Thank you for your patience. We are currently investigating this issue.

[2020-06-24 00:09] mamccrea commented on #56880
@sarathsasidharan, thank you for the feedback. I have updated the doc. Please allow a few days for the changes to go live.

#please-close

[2020-06-24 00:09] #56880 closed

[2020-06-24 00:13] roygara commented on #57576
@akingscote So I reached out to the writer and we went over the doc together. Actually the segment of the script where you are instructed to use that tunnel doesn't use the basic SKU. I copied this out of the document:

[code]

As you can see, it's VpnGw1, so I'm not sure what you mean. Are you referring to something else?

[2020-06-24 00:14] Cloudmersive commented on #57613
Awesome, thank you!

[2020-06-24 00:16] Karishma-Tiwari-MSFT commented on #57468
@mlhoop Can you please share the reason behind the deletion of this page and if we have a document that can be followed to achieve this using Azure portal?
The commit that deleted this page is [436335d](https://github.com/MicrosoftDocs/azure-docs/commit/436335d19556e326399fafbe76720c4fdb93d68e)

[2020-06-24 00:20] daksha121 commented on #18063
@TravisCragg-MSFT , is it sufficient to provide this permission at the VNet scope?

[2020-06-24 00:20] Karishma-Tiwari-MSFT commented on #57684
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-24 00:22] MarileeTurscak-MSFT commented on #57462
If you are doing an XMLHttpRequest to a different domain than your page is on, your browser might be blocking it as it usually allows a request in the same origin for security reasons.

See related thread: https://stackoverflow.com/questions/46522749/how-to-solve-redirect-has-been-blocked-by-cors-policy-no-access-control-allow

I agree that this could be covered in the documentation and am assigni

[2020-06-24 00:24] Karishma-Tiwari-MSFT commented on #57507
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-06-24 00:28] davidOSUL opened #57729 "DataLakeFileClient -- Upload/UploadAsync don't describe overwrite behavior properly"
Hi, the documentation for DataLakeFileClient here: [link](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.files.datalake.datalakefileclient.uploadasync?view=azure-dotnet)

states in several places that "If the file already exists, its content will be overwriten." However, in my experience using this API, it seems it will actually will throw an error if it already exists, unless you use t

[2020-06-24 00:34] mamccrea commented on #57686
Thanks @algattik! I've updated the doc. Please allow a few days for the changes to go live.

#please-close

[2020-06-24 00:34] #57686 closed

[2020-06-24 00:34] NavtejSaini-MSFT commented on #57717
@MikeWilcoxMicrosoft Please convey if you were able to enable Service aided configuration using the document provided - https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/subnet-service-aided-configuration-enable

Please go through and try to configure the above. Please let us know if you still get the issue.

[2020-06-24 00:37] MartinJaffer-MSFT commented on #57248
@mathiasbl  I have reproduced the problem and am escalating internally.

[2020-06-24 00:51] Mike-Ubezzi-MSFT commented on #57703
@MikeWilcoxMicrosoft Thank you for bringing this to our attention. I will have the document updated to specify one of the supported combinations of family and capacity.

[2020-06-24 00:58] eschrader opened #57730 "User password policies"
Will this password policy propagate to AAD DS joined VMs?
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#set-a-password-to-never-expire

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eb4c941-c464-75cb-7a98-39c3a58be1b5
* Version Independent ID: e93b1a8f-3de2-309e-5a0b-923e2f

[2020-06-24 01:16] NavtejSaini-MSFT commented on #57668
@cg6 Please do check the video from our author @oslake which discusses the serverless in detail https://www.youtube.com/watch?v=E23D9iXSCJQ

@oslake  - Please confirm if there is a logic to deciding the threshold and period of time. Or it is internally managed by Azure it self.

[2020-06-24 01:32] BharathNimmala-MSFT commented on #57728
@Golffy1468 Thank you for reaching out, our engineer will work through the other GitHub thread and feel free to add if you any specific queries on that thread.

Closing this thread for now.

[2020-06-24 01:32] #57728 closed

[2020-06-24 01:34] BharathNimmala-MSFT commented on #57690
@AmitavaHazra  Thank you for your query, our team will further look into it and get back to you at the earliest.

[2020-06-24 01:34] Golffy1468 commented on #57728
🎶

[2020-06-24 01:34] Golffy1468 opened #57731 "🎶"
🎶

_Originally posted by @Golffy1468 in https://github.com/MicrosoftDocs/azure-docs/issues/57728#issuecomment-648529997_

[2020-06-24 01:43] vipinlalvs commented on #41248
@RyanHill-MSFT ,

We have already implemented refresh token calls and id token scope in auth settings as per thr documentation. Everything works fine, if there are only one instance of app service or AAR is turn on.

If AAR is off and its having multiple instances some of the instances are having old tokens and even if i invoke an auth refresh call, the instance where the .auth/refresh call is get

[2020-06-24 01:45] GZidar commented on #57206
I understand that the token can only be accessed when you first create the API key file and it cannot be downloaded again after that time. All I was hoping was that this document might add a note to mention that so that a person who might not be familiar with Apple's process or someone who might be coming to this page as part of a migration from an existing service to the Azure Notification Hub (e

[2020-06-24 01:48] KrishnaG-MSFT commented on #57727
@NillsF Thanks for your comment! We will review and provide an update as appropriate

[2020-06-24 01:48] mcollier commented on #56751
Thank you for the detailed feedback, @Mexicoder.  The document has been updated and includes many of your suggestions. I'm going to #please-close this issue for now. If you feel anything else requires more attention, please feel free to re-open this issue.

Thanks again!!

[2020-06-24 01:48] #56751 closed

[2020-06-24 01:53] jaymichaud opened #57732 ""Orchestration mode Preview" paragraph is confusing and contains errors"
Under the heading "Preview: Orchestration mode Preview", the entire paragraph is confusing. The second sentence doesn't seem to say anything, and the third and fourth sentences have errors and don't read correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 038b6010-08bb-c9f4-1a3e-b578d3ef87a3
* Version Independent

[2020-06-24 01:54] BharathNimmala-MSFT commented on #57731
Closing this thread, as it was spam thread. Please feel free to revert back if you have any specific questions on Azure Docs.

[2020-06-24 01:54] #57731 closed

[2020-06-24 01:54] vipulsparsh commented on #57225
@BakkerJan  There is no precedence or specific order for grant controls. If you choose all of them, all the policies are merged and you need to comply with those respective policies.

If you select require one of the selected policy, the Access grant control are checked one by one(not in any order) until one of them matches the criteria.

Let us know if you have any questions.

[2020-06-24 01:56] LarsKemmann opened #57733 "How to grant an MSI-based daemon client (like Azure Data Factory) permission"
We have an Azure Data Factory which we want to give access to our App Service Authentication-protected Web API via the ADF's managed service identity. How do we do that, since there's no App Registration for a system-assigned managed service identity to use in steps 2-5 of the steps at the end of this document? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-06-24 02:01] BharathNimmala-MSFT commented on #57729
@davidOSUL Thank you for bringing this to our notice. Our team will further look into it and get back to you at the earliest.

[2020-06-24 02:27] femsulu commented on #57185
Hello @cconrado - to clarify, the intent of this doc is to provide guidance on how to use Azure AD as the authentication provider within Azure Automation Runbook  in order to authenticate to an Azure resource - An Azure VM is used in the example to illustrate an Azure resource.

In the example, his runbook first uses Get-AutomationPSCredential to retrieve the credential to use to authenticate to A

[2020-06-24 02:27] #57185 closed

[2020-06-24 02:29] femsulu commented on #57192
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-06-24 02:29] #57192 closed

[2020-06-24 02:54] GD06 opened #57734 "How to request FPGA quotas in Pay-As-You-Go subscription"
Hi everyone,

I am recently trying to go through the tutorial to set up a test on the performance of CNN models on Azure FPGA including latency and throughput of the service.  In the first step, I submitted the questionnaire to request FPGA quotas on my subscription. Before getting the response from the questionnaire, I am thinking about how to request quotas through the subscription. I upgraded m

[2020-06-24 02:58] Golffy1468 commented on #57681
💯

[2020-06-24 02:59] Golffy1468 opened #57735 "💯"
💯

_Originally posted by @Golffy1468 in https://github.com/MicrosoftDocs/azure-docs/issues/57681#issuecomment-648552388_

[2020-06-24 03:03] sffamily commented on #41755
This feature (actually all features except Raw WebSocket support and full Serverless support) has been pushed back for at least half a year, due to a Microsoft top priority project that Azure SignalR Service has been pulled int since 12/2019. So custom domain support is part of enterprise feature we are going to support, as a stretch goal for the upcoming H2 CY20, but no guarantee. we will try to

[2020-06-24 03:08] RyanHill-MSFT commented on #41248
@vipinlalvs no it isn't. AAR Affinity is simply to make sessions sticky so that users are directed back to the initial instance they came to first. After period of time, you should get a refreshed token or as shown in https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types. But having to do that 8 times seems excessive. Can you elaborate further on how you setup your authoriza

[2020-06-24 03:09] chcurlet-msft opened #57736 "Minor copy editing feedback"
"Outlines" in "Next Steps" should be lowercase.

"comprises of" should just be "comprises": https://www.merriam-webster.com/words-at-play/can-you-use-comprised-of-grammar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 094e56c7-d8dc-1e80-1154-3a369d1a1c82
* Version Independent ID: 768d235a-9571-329b-1195-62a02ff1ed87
*

[2020-06-24 03:15] v-nagta commented on #56855
@giggio We have updated these changes, you can review these changes now

#please-close

[2020-06-24 03:15] #56855 closed

[2020-06-24 03:17] VikasPullagura-MSFT commented on #57732
@jaymichaud
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-24 03:17] VikasPullagura-MSFT commented on #57732
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2020-06-24 03:18] v-nagta commented on #56854
@giggio We have updated the article, please review

#please-close

[2020-06-24 03:18] #56854 closed

[2020-06-24 03:19] AmitavaHazra commented on #57705
Thanks everyone for your clarification

[2020-06-24 03:21] v-nagta commented on #55009
@over2under42 We have updated the article, please review

#please-close

[2020-06-24 03:21] #55009 closed

[2020-06-24 03:33] celinama opened #57737 "Is it a typo in "Tutorial: Deploy and configure Azure Firewall using the Azure portal""
[Enter feedback here]

"For this tutorial, you create a simplified single VNet with three subnets for easy deployment. For production deployments, a hub and spoke model is recommended. **The firewall is in its own VNet**. The workload servers are in peered VNets in the same region with one or more subnets."

Is that a typo? looks like it should be "The firewall is in its own subnet"
---
#### Docum

[2020-06-24 03:37] SwathiDhanwada-MSFT commented on #57312
@megatc101 We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-06-24 03:37] #57312 closed

[2020-06-24 03:38] SwathiDhanwada-MSFT commented on #57320
@kichiu Just following up to check if you had chance to check my previous comment.

[2020-06-24 03:38] SwathiDhanwada-MSFT commented on #57426
@dagefjestad Thanks for reaching out!! I am checking internally with the team. I will respond to you as soon as possible.

[2020-06-24 03:41] seangriffin2 commented on #57254
Thanks for looking into this @BryanTrach-MSFT! Any updates...?

[2020-06-24 04:02] BharathNimmala-MSFT commented on #57698
@Heloiseboanerges Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-24 04:02] kichiu commented on #57320
Hi

When we do these steps, we don’t see the app - pre-defined report.  We just got to the API with the raw data.

[cid:image002.png@01D64A30.18BA0C60]

Regards,
Kitty

From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Tuesday, 23 June 2020 02:36
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kitty Chiu <Kitty.Chiu@microsoft.com>; Mention <mention@noreply.github.com>
Sub

[2020-06-24 04:04] kiwibayer opened #57738 "Hyper-V host requirements - missing requirements"
Hi there,

1. the Hyper-V host requirements are missing the following information:
- Hyper-V host require a minimum .net version. This is currently not mentioned.
- to my knowledge this is .net 4.7

2. Hyper-V host requires a minimum amount of free disk space.
- for the replication appliance we currently state that we require
at least 600 GB space for the cache disk
at least 600GB fro the retentio

[2020-06-24 04:05] BharathNimmala-MSFT commented on #57697
@BreakingBI  Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-06-24 04:10] vipulsparsh commented on #57279
@BakkerJan  You are not prompted to add the secondary method if you have already added the mobile number for the end users. But the end user should not be able t reset the password if they have not added additional security information.

The Phone MFA for signin works just fine, but different methods are used for doing password reset and signin. I tested this with one of my test accounts, which ha

[2020-06-24 04:19] BharathNimmala-MSFT commented on #57651
@viveksubha Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. Feel free to revert back with the documentation link you are referring and we will gladly reopen the issue and continue the discussion.

[2020-06-24 04:19] #57651 closed

[2020-06-24 04:29] ram-msft commented on #57692
@BreakingBI Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-24 04:31] ram-msft commented on #57714
@SimonBerens Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-06-24 04:32] ram-msft commented on #57734
@GD06 Thanks for the question. We are investigating the issue and will update you shortly.

[2020-06-24 04:34] rick-hayek commented on #51558
got a similar error on azure global:

[code]

**Error:**
The localized string with ElementType: UxElement and StringId: signupsignin_welcome has an invalid StringId

[2020-06-24 04:35] ram-msft commented on #57736
@chcurlet-msft Thanks for the feedback. We  will update you shortly.

[2020-06-24 04:36] Mike-Ubezzi-MSFT commented on #57316
@zqyAmy If you do happen to find a bug with a PowerShell cmdlet, please feel free to log an [issue](https://github.com/Azure/azure-powershell/issues) in the Azure PowerShell repository. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-24 04:36] #57316 closed

[2020-06-24 04:39] cg6 commented on #57668
Thanks for providing the link. I've watched the presentation and while informative, doesn't answer my query.

I'm seeing memory use sit a 4 X the minimum memory allocation when the database is unused for hours at a time (cpu at half the minimum allocation). Sometimes after lite usage it does then drop down to lower levels. It is as if memory reclamation depends on there being lite database usage a

[2020-06-24 04:41] SwathiDhanwada-MSFT commented on #57320
Assigning to content author @bandersmsft  for insights on the issue.

[2020-06-24 04:57] ecfan commented on #57603
The RSS link used to work. Looks like Reuters changed the way that they provide RSS links, which require that you sign up. Because this update requires reshooting screenshots, fixing this quickstart isn't a simple URL update.

[2020-06-24 04:59] BharathNimmala-MSFT commented on #57735
Closing this thread, as it was spam thread. Please feel free to revert back if you have any specific questions on Azure Documentation.

[2020-06-24 04:59] #57735 closed

[2020-06-24 04:59] boltomli commented on #57588
Did you try powershell? It's the new default win+x command line environment.

![image](https://user-images.githubusercontent.com/5236916/85502766-97c69400-b61a-11ea-8447-4956c20ca5d4.png)

[2020-06-24 05:00] boltomli commented on #57588
![image](https://user-images.githubusercontent.com/5236916/85502796-b0cf4500-b61a-11ea-8655-7a80c530d051.png)

[2020-06-24 05:13] hrasheed-msft commented on #57019
@dhananjaypatkar Unfortunately we aren't able to provide detailed region-by-region deployment dates on this site. Please [open a ticket with Azure support](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) and provide them with the specific regions where you are trying to create a cluster. They should be able to tell you when it will be availab

[2020-06-24 05:13] hrasheed-msft commented on #57019
#please-close

[2020-06-24 05:13] #57019 closed

[2020-06-24 05:14] sanjeevgaut commented on #57585
Thanks, Rohit. My issue is resolved. I was using ResourseID of training account to publish and now I have changed ResoueseID to prediction account.

Thanks
Sanjeev

[2020-06-24 05:15] #57585 closed

[2020-06-24 05:16] mike-urnun-msft commented on #57348
Hello @Rutikhal - Your first and subsequent deployments will install your dependencies defined in your `requirements.txt` file as new. Note that Python worker comes with some [preinstalled dependencies](https://github.com/Azure/azure-functions-python-worker/wiki/Preinstalled-Python-Libraries#azure-functions-python-worker-dependencies) that you can leverage as well --  so that you don't need to def

[2020-06-24 05:16] #57348 closed

[2020-06-24 05:16] sanjeevgaut commented on #57585
My issue is resolved, after changing resourseid of train account to prediction account.
sorry my mistake

[2020-06-24 05:20] hrasheed-msft commented on #57241
@Phydeauxman Thanks for letting us know. I've created a PR to add the notice that you mentioned.

[2020-06-24 05:20] hrasheed-msft commented on #57241
#please-close

[2020-06-24 05:20] #57241 closed

[2020-06-24 05:22] BhargaviAnnadevara-MSFT commented on #57716
@cijothomas Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-06-24 05:25] LarsKemmann opened #57739 "Thank you!!"
I really, _really_ appreciated the guidance around using a state parameter that is provided on this page. Thank you so much!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc4c5921-4070-a714-44e6-c4309fe5fd53
* Version Independent ID: c52c5c94-bb2e-10cb-9673-98aae4aa37d4
* Content: [Redirect URI & reply URL restrictio

[2020-06-24 05:26] TonWinCPX commented on #56735
Hey guys. We are facing the same problems with a third party vendor firewall. So any update on this topic would be very helpful. Thank you very much.

[2020-06-24 05:36] rick-hayek opened #57740 "add language support for arbitrary string on customized sign-in page"
I created a customized sign up/ sign in page where I had to put some our own strings according to this [custom-policy-ui-customization](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-ui-customization).

say there's a string "Welcome to our site" in a \<span\> element on this customized page. How can I configure the TrustFrameworkExtensions.xml to support localization for

[2020-06-24 05:51] akingscote commented on #57576
@roygara
Thanks for looking into this. As i mentioned in my comment, I think that there is an assumption that all of this documentation is consumed in one go and in order. I deployed a VPN gateway and peerings etc.. via terraform and wanted to connect via linux, so i then consulted this document. It does briefly mention about the SKU elsewhere - https://docs.microsoft.com/en-us/azure/vpn-gateway/v

[2020-06-24 05:56] boltomli commented on #57588
Seems it has to be `.\spx.exe config "@region" --set westus` in powershell window. The document should mention this.

[2020-06-24 05:58] SumanthMarigowda-MSFT commented on #57493
@SeaDude No. We only allow for ingestion to Azure via AWS

[2020-06-24 05:58] DhruvKinger opened #57741 "Create a service principal"
When I am trying to create a service principal in order to deploy custom container.
I am facing this error :

Retrying role assignment creation: 1/36
Creating a role assignment under the scope of " --sdk-auth"
  Role assignment creation failed.

  role assignment response headers: {'Cache-Control': 'no-cache', 'Pragma': 'no-cache', 'Content-Type': 'application/json; charset=utf-8', 'Expires': '-1'

[2020-06-24 06:00] SeaDude commented on #57493
@SumanthMarigowda-MSFT , thank you for the reply. Do you have a method in mind for copying data from Azure Blob Storage to AWS S3? What types of tools would you use?

[2020-06-24 06:00] #57493 closed

[2020-06-24 06:01] rajeshshanker opened #57742 "VM's created are in chinese language"
Hello,
As part of walkthrough we need to create 2 VM's i.e myvm1 and myvm2 and rdp to these.However the VMs are created in chinese and not able to navigate once i login to these.Also very difficult to change language back to english.Please take a look
Thanks,
Rajesh Shanker

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-06-24 06:01] AjayKumar-MSFT commented on #57197
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thanks again for taking time to share your valuable feedback.

[2020-06-24 06:01] #57197 closed

[2020-06-24 06:02] VikasPullagura-MSFT commented on #57710
@8191
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-06-24 06:02] VikasPullagura-MSFT commented on #57710
@msmbaldwin
Can you please check and add your comments on this doc update request as applicable.

[2020-06-24 06:03] ajeetk-github commented on #57489
Thanks HeidiSteen for the prompt responses and fixing documentation!! :)

[2020-06-24 06:10] mike-urnun-msft commented on #57435
@axisc @clemensv Could you share your guidance on this matter?

[2020-06-24 06:12] SadiqhAhmed-MSFT commented on #57738
@rayne-wiselman FYI.

[2020-06-24 06:22] falleson opened #57743 "Business model is wrong, it is dotnet core based instead of python"
[Enter feedback here]
DefaultAzureCredential does not  work. How can we use the client id and client secret instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc8d39c7-f55b-70e2-d99e-6fccb3b5ad34
* Version Independent ID: f6714300-fd05-f95b-6afe-182e250fd180
* Content: [Quickstart -  Azure Key Vault client library

[2020-06-24 06:24] SnehaAgrawal-MSFT commented on #57434
@joker-vn Thanks for asking question! Could you please double check if you have Added a class named MyFirebaseMessagingService to your project and step 12, after this add below commands above your class declaration in MainActivity.cs this will inherit from FirebaseMessagingService

[Service]
[IntentFilter(new[] { "com.google.firebase.MESSAGING_EVENT" })]
[IntentFilter(new[] { "com.google.firebase.

[2020-06-24 06:26] BakkerJan commented on #57279
@vipulsparsh Thanks for the explanation. I'm not worried about that. From an onboarding perspective, this is not ideal. Pre-populating is awesome for secure onboarding and proof-up, but after that, I want the user to registere for Authenticator for instance. So, it should be better if the user is prompted by either the SSPR policy or Identity Protection policy to register the required amount of me

[2020-06-24 06:29] VikasPullagura-MSFT commented on #57664
@kagowda Thanks for sharing the details.

[2020-06-24 06:39] motim6026 commented on #57674
I using in Powershell to deploy the template
here the code: `New-AzResourceGroupDeployment -ResourceGroupName $Vnets.RG -TemplateFile .\VnetTmplate.json -TemplateParameterFile .\temp_param.json -Mode Complete -Force;`
and here the completed template
[code]

[2020-06-24 06:45] shashishailaj commented on #57713
@awentzel Thank you for your feedback . We will have this reviewed with the content authors and get your recommendations  reviewed on how best the document can be improved.

[2020-06-24 06:46] RohitMungi-MSFT commented on #57697
@sanpil This documentation and the [SDK documentation](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-core/azureml.pipeline.core.publishedpipeline?view=azure-ml-py#remarks) uses the same term "non-python clients" whereas the example in the documentation uses python sample to call this endpoint. Should we re-phrase the same and just use "from different clients" instead of "from extern

[2020-06-24 06:49] vipinlalvs commented on #41248
@RyanHill-MSFT , We are using Web App on App Service plan which is set up with Azure Ad authentication & token store. Its configured with code id-token scopes, so easy auth is doing an authorization code flow for us.

Our Web Application connects to AKS and inside aks token validation is happening. When request reach our app service, easy auth will inject x-ms-token-aad-access-token on header and

[2020-06-24 06:50] shashishailaj commented on #57719
@jayhallsworth Thank you for your feedback . We will investigate and update the thread.

[2020-06-24 06:53] shashishailaj commented on #57715
@CharmanderJieniJieni Thank you for your feedback . We will investigate and update the thread.

[2020-06-24 06:58] BakkerJan commented on #57225
@vipulsparsh Thanks for your answer. I did some tests in my lab earlier and one thing I remembered is that an hybrid joined device take precedence over MFA at all times. So it seemed that there is some (unwritten) order. But in case, if you say it's not, I'll go with that statement for now.

[2020-06-24 07:03] shashishailaj commented on #57720
@travis-c-lagrone Thank you for pointing that out . We will have this reviewed with content team and get t updated.

[2020-06-24 07:06] alexandis commented on #31380
Thank you very much!

[2020-06-24 07:06] shashishailaj commented on #57721
@travis-c-lagrone Thank you for pointing that out . We will have this reviewed with content team and get it updated.

[2020-06-24 07:07] shashishailaj commented on #57743
@falleson Thank you for pointing that out . We will investigate and update the thread.

[2020-06-24 07:13] shashishailaj commented on #57739
@LarsKemmann Thank you for your feedback . We really appreciate your kind words. We will continue to work on our documentation and make it better which helps our readers.

[2020-06-24 07:17] priyankareddy20 opened #57745 "Scope and Parameters missing in the document"
https://docs.microsoft.com/en-us/azure/security-center/update-regulatory-compliance-packages

This document shows once we select and add the new dynamic package, it automatically gets reflected in the portal.However, in my testing, I see that it is redirected to new page and asking to select the scope and parameters which is being missed in the documentation. Kindly update the document

---
#### D

[2020-06-24 07:18] mike-urnun-msft commented on #57537
Hello @Marusyk - You can use the Kudu console: [Manually install or update Azure Functions binding extensions from the portal](https://docs.microsoft.com/en-us/azure/azure-functions/install-update-binding-extensions-manual)

[2020-06-24 07:23] #53710 closed

[2020-06-24 07:32] mike-urnun-msft commented on #57581
@CatchSandeepVaid I have gone over the steps and didn't run into any issues. If you're continuing to see the same issue, please provide more details as well as repro steps and we'd be happy review again.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-06-24 07:32] #57581 closed

[2020-06-24 07:42] str1ke-cw commented on #57689
@BharathNimmala-MSFT Thank you for your quick reply. I used this documentation for setting up the Blob Storage module:

- [https://docs.microsoft.com/de-de/azure/iot-edge/how-to-store-data-blob](https://docs.microsoft.com/de-de/azure/iot-edge/how-to-store-data-blob)
- [https://docs.microsoft.com/de-de/azure/iot-edge/how-to-deploy-blob](https://docs.microsoft.com/de-de/azure/iot-edge/how-to-deploy-

[2020-06-24 07:43] RohitMungi-MSFT commented on #57524
@AmitavaHazra I observed that the [other quickstart](https://docs.microsoft.com/bs-latn-ba/azure/cognitive-services/form-recognizer/quickstarts/client-library?pivots=programming-language-csharp&tabs=windows) similar to this one are using a string instead of a const. Could you please try this?

[code]

[2020-06-24 07:45] colindonohue commented on #57681
I would like to avoid using a VPN Gateway to connect a VNET back to on premises domain as IPv6 is not supported. Is it possible to use an IPv6 VNET with global addressing to route directly to on premises ipv6 enabled domain?

[2020-06-24 07:55] RohitMungi-MSFT commented on #57430
@tinytortoise-dev We hope you are able to proceed further using the translator resource with the correct endpoint. You can also refer the API [reference ](https://docs.microsoft.com/en-gb/azure/cognitive-services/translator/reference/v3-0-reference)for more help.  If there are no further questions regarding this matter, we will go ahead and close this issue.

[2020-06-24 07:59] rishabaggit commented on #17904
Where is the utils.py file as I am facing the same error

[2020-06-24 08:05] gkverma opened #57746 "Poor Sample code. Nothing works!"
[Enter feedback here]
Poor code writing. Nothing compiles. Not expected this bad documentation from Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3de1b4-a118-efae-0e72-7953c8e891b3
* Version Independent ID: 5ad38c9e-c775-8dbc-16ff-705a40b580e1
* Content: [Quickstart: Form Recognizer client library - Azure

[2020-06-24 08:33] shashishailaj commented on #57723
@MSFTPconlan Thank you for your feedback . We will investigate and update the thread further.

[2020-06-24 08:35] AnuragSharma-MSFT commented on #57496
@rpanday We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-24 08:35] #57496 closed

[2020-06-24 08:40] jmprieur commented on #57457
#assign @aiwangmicrosoft

[2020-06-24 08:49] shashishailaj commented on #57725
@jhudsoncedaron Thank you for your feedback . We will investigate and update the thread.

[2020-06-24 08:49] iliassk commented on #57608
The docs, I linked above, say:
When you redirect the user to the Azure AD B2C sign-out endpoint (**for both OAuth2** and **SAML** protocols), Azure AD B2C clears the user's session from the browser. However, the user might still be signed in to other applications that use Azure AD B2C for authentication. To enable those applications to sign the user out simultaneously, Azure AD B2C sends an HTTP G

[2020-06-24 08:53] shashishailaj commented on #57725
@jhudsoncedaron Thank you for your feedback . We will investigate an update the thread.

[2020-06-24 08:54] shashishailaj commented on #57737
@celinama Thank you for your feedback . We will review this and get the document updated if needed.

[2020-06-24 08:55] shashishailaj commented on #57740
@rick-hayek Thank you for your feedback . We will investigate and update the thread.

[2020-06-24 08:59] khandelwalbrijesh commented on #56132
The certificate that you used at the step while enabling backup policy using Cluster manifest or arm templates
        "name": "BackupRestoreService",
        "parameters":  [{
            "name": "SecretEncryptionCertThumbprint",
            "value": "[Thumbprint]"
        }]
    }
If you have used the same then, it would be the same.

[2020-06-24 09:01] shashishailaj commented on #57730
@eschrader Thank you for your feedback . We will investigate and update the thread.

[2020-06-24 09:07] shashishailaj commented on #57733
@LarsKemmann Thank you for your feedback . We will investigate and update the thread .

[2020-06-24 09:13] starforce commented on #56132
@khandelwalbrijesh

Where would I find the service fabric logs?  I assume they are somewhere on the nodes.

[2020-06-24 09:21] shashishailaj commented on #57745
@priyankareddy20 Thank you for pointing that out. We will investigate and update the thread.

[2020-06-24 09:26] shashishailaj commented on #57741
@DhruvKinger  Thank you for your feedback . We will investigate and update the thread .

[2020-06-24 09:31] maweeras-msft opened #57749 "Add a screenshot showing user experience if not signed into icloud on iOS device"
This will add clarity and help deflect support cases. The message text is along the lines of "if you add an account, you will no longer be able to recover from backup". I have no ability to add the image itself here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Independe

[2020-06-24 09:32] VikasPullagura-MSFT commented on #57698
@rdeltcheva Can you please add your comments.

[2020-06-24 09:39] priyankareddy20 commented on #57745
Hello,
I am being redirected to a page which has 4 pages within
ask for a remediation task, managed identity and all
would like to know if we need to create a  remedation task while enabling dynamic package

[2020-06-24 09:42] ram-msft commented on #57405
@trevorbye Could you please review the following section [Create a Speech configuration](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-microphone?tabs=uwp%2Cx-android%2Clinux%2Cjava-runtime%2Cwindowsinstall&pivots=programming-language-csharp#create-a-speech-configuration) for Insert this code in the RecognizeSpeechAsync() method.

Here is

[2020-06-24 09:48] bjdekker opened #57750 "Add reference to v12 SDK?"
Isn't this page a bit obsolete. What it describes still works but in the new SDK is way more convenient and support Promises instead of callback functions. Shouldn't that be mentioned here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4663227e-b796-6acb-db37-8459eb5fb420
* Version Independent ID: dc2373d5-07c2-aec9-d

[2020-06-24 09:50] lysdexiafj opened #57751 "Confusion between VM and Vnet."
Hey Team,

At the top of the document, first paragraph you have the following:

"Virtual network peering enables you to seamlessly connect networks in Azure Virtual Network. The virtual networks appear as one for connectivity purposes. The traffic between virtual machines uses the Microsoft backbone infrastructure. Like traffic between virtual machines in the same network, traffic is routed throug

[2020-06-24 10:09] o-l-a-v commented on #55058
Thanks for the investigation, and for sharing the results.

In other words, AzureRM cannot be removed from Automation Accounts, and AzureRM can still be randomly automatically loaded into a runbook, even if the first thing the runbook does is to import Az.Accounts, and you never use or call any AzureRM.* cmdlets ever in the runbook.

That's unfortunate, and I hope this is something that can be cha

[2020-06-24 10:16] amanmcse commented on #57572
@kristinesimon I am proceeding with closure of this thread. Feel free to tag me in your reply if you have any question.

[2020-06-24 10:16] #57572 closed

[2020-06-24 10:22] amanmcse commented on #57739
@LarsKemmann Glad to know that you found the explanation in the document helpful. You appreciation would encourage the team to keep up the good work. Thank you.
#please-close

[2020-06-24 10:22] #57739 closed

[2020-06-24 10:25] AmitavaHazra opened #57752 "User experience for per user MFA to Conditional access policy based MFA"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/tutorial-enable-azure-mfa

We have per user MFA enabled and when user access myapps.microsof.com they are challenged with MFA.

Now we are testing to move to Azure conditional access policy based MFA. We have disabled per user MFA and added user to pilot group to apply combined registration and conditional access pol

[2020-06-24 10:26] AmitavaHazra commented on #57752
@MarileeTurscak-MSFT and @MicrosoftGuyJFlo @vipulsparsh,
can anyone please clarify above points

[2020-06-24 10:27] khandelwalbrijesh commented on #56132
@starforce
I was just finding the procedure for you to be able to collect and share the logs with us. This is usually done through standalone log collector tool which can be downloaded from [here](http://go.microsoft.com/fwlink/?LinkId=730690)
So, for using the above tool you would need a azure storage SAS key that you could only be given by microsoft support team and to engage support team, you w

[2020-06-24 10:27] o-l-a-v opened #57753 "Multiple Credentials - Do we need a preview version of the Azure Migrate appliance? Can't find out where to configure this."
Ref. the [announcement](https://azure.microsoft.com/en-us/updates/azure-migrate-supports-multiple-credentials-for-physical-servers-discovery-and-a-scale-of-1000-servers-per-appliance/) and [documentation](https://docs.microsoft.com/en-ca/azure/migrate/tutorial-assess-physical#start-continuous-discovery:~:text=multiple%20credentials) saying that Azure Migrate now supports multiple credentials:
* Do

[2020-06-24 10:31] thorhj opened #57754 "Flat blob listing returns virtual directories when hierarchical namespaces are enabled"
I have the following blobs in a container:

* `data/file1.json`
* `data/file2.json`

The documentation suggests that only the actual blobs will be returned when using [`BlobContainerClient.GetBlobsAsync`](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.blobs.blobcontainerclient.getblobsasync?view=azure-dotnet), and the virtual directory `data` should not be returned. This is true for a d

[2020-06-24 10:33] nathankitchen opened #57755 "Deploying Lighthouse as CSP Admin Agent"
Could this section be clarified please?

I can't think of a way to deploy the ARM template via PowerShell as a CSP user with Admin Agent privileges (how do you set context to the subscription?)

Does this have to be done through the Azure Portal Deployments UI (after using Partner Center to access the customer subscription) if you're an Admin Agent via CSP? What are the possible deployment paths v

[2020-06-24 10:36] schibuch opened #57756 "Error in "Tutorial: Use the Azure CLI and Azure portal to configure IoT Hub message routing""
In 4. Select Blob Storage...
- the picture shows "Encodig" = "AVRO"
in 9. Now complete the rest of the routing query information...
- there is a query to apply stating [level="storage"

Error:
- the two statements are mutually exclusive ==> mean this configuration will always fail!!!

In Doc:  https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-routing-query-syntax
- 3rd paragraph, jus

[2020-06-24 10:44] stateofthearb commented on #51543
Hi just to confirm I understand, forced tunneling will be supported in Azure Virtual WAN P2S VPN but currently not GA?

[2020-06-24 10:48] falrnacn commented on #57666
https://docs.microsoft.com/en-us/azure/api-management/howto-protect-backend-frontend-azure-ad-b2c

[2020-06-24 10:49] stateofthearb commented on #51543
Hi just to confirm I understand, forced tunneling will be supported in Azure Virtual WAN P2S VPN but currently not GA?

[2020-06-24 11:15] Staja opened #57758 "Security defaults: Authentication methods under Deployment considerations"
Is the Authentication methods table under Deployment considerations current? I believe call to phone and text message to phone are available in other circumstances not listed there? (Eg: Available for Office 365 apps but not registered Azure apps)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-c

[2020-06-24 11:25] AshokPeddakotla-MSFT commented on #57756
@schibuch Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-24 11:28] Dottn opened #57759 "Is it necessary to stop the VM to increase *data* disks as well as OS disk?"
Hi,

It is not explicitly stated whether you need to stop the VM to expand the data disk as well.
Stopping the VM to increase data disk capacity is not very production friendly.
It would be nice if you could increase clarity in this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccc58c74-7913-f1f6-8681-1823bbd8f050
*

[2020-06-24 11:35] falrnacn commented on #57520
Sorry for the delay. Its not related to any particular document page but the product feature as whole. I guess this might not be the right place to raise it.

[2020-06-24 11:53] frvigano opened #57760 "Wrong classes and methods"
the code imports TextOperationStatusCodes instead of OperationStatusCodes

When the code checks the OCR result, it should be something like

if get_text_results.status == OperationStatusCodes.succeeded:
    for text_result in get_text_results.analyze_result.read_results:
        for line in text_result.lines:
            print(line.text)

Used methods do not exist in the latest version of the libr

[2020-06-24 11:53] subashsivaji opened #57761 "Is there a 1 minute timeout like web activity?"
Like azure data factory - web activity, Does ADF azure function activity have similar 1 minute timeout if it doesn't receive a response?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d9ab8-6b54-daba-9693-206845821d0c
* Version Independent ID: 08725018-92a0-6b2c-8130-6debcc535b7a
* Content: [Azure Function Activity

[2020-06-24 11:54] BhargaviAnnadevara-MSFT commented on #57559
@lisaguthrie Thanks for clarifying the current behavior.

@jjindrich Thanks for the feedback. Please feel free to submit your suggestion on the Feedback Forum for [Azure App Configuration](https://feedback.azure.com/forums/920545-azure-app-configuration) so our Team can evaluate and prioritize it further.

We will now proceed to close this thread, but if there are any further questions regarding t

[2020-06-24 11:54] #57559 closed

[2020-06-24 11:59] mattruma commented on #57670
Thanks @RyanHill-MSFT!

[2020-06-24 12:03] amirgr-tr opened #57762 "Start-AzVMSS invokes custom script extension on existing instances as well"
Start-AzVMSS invokes custom script extension on existing instances as well
We created a Blue-Green deployment with 2 VMSS clusters (active and passive nodes).
We deploy by running a custom script extension on clean windows images (customScript installs puppet, invoking puppet etc which does all the rest of the configuration on the instance).
After a successful deployment and Swap we shutdown the p

[2020-06-24 12:04] jjindrich commented on #57559
Please vote https://feedback.azure.com/forums/920545-azure-app-configuration/suggestions/40740835-dedicated-ui-for-feature-management

[2020-06-24 12:32] ram-msft commented on #57494
@soniaang Thanks for the feedback, Yes You can install the package via:pip install azureml-contrib-interpret for interpreting. I have assigned to the author to update the packages.
The azureml-interpret package is developed by the AzureML team to integrate with AzureML.  We also have an open-source github repository for the explainers we built.

https://github.com/interpretml/interpret-community