[2020-08-14 17:00] davidsmatlak commented on #60890
Microsoft triage team, please assign this issue to @davidsmatlak. Thanks.

[2020-08-14 17:02] tongyuze commented on #60838
Hi @amanmcse,
can you see this fiddler trace in my link?
[https://microsoft-my.sharepoint.com/:u:/p/yuto/EXNOqRpHjqBIu9LpFdr2rsoB4FRbWr7ZzszpGkVlleQWAg?e=vQ50NX](url)
I suppose this is an example of invalid_scope in authorization_code flow.

[2020-08-14 17:09] BharathNimmala-MSFT commented on #60873
@roofiq Thank you for reaching out to us, we will look into it and get back to you at the earliest.

[2020-08-14 17:16] SnehaGunda commented on #60195
@mikewiegand actually the old syntax is also right if you run the commands within the PowerShell window. PowerShell also supports running the regular bash commands. I will make a minor fix to the doc to clarify this.

You just need to change the variable syntax if you run within Azure Cloud Shell.

[2020-08-14 17:17] emuench commented on #60877
#reassign:navits09

[2020-08-14 17:17] PRMerger9 commented on #60877
navits09 is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-08-14 17:18] emuench commented on #60877
@navits09, can you assist with this?

[2020-08-14 17:21] JasonWHowell commented on #60690
I don't know the best answer, but I do know that Partner Center has a community maintained PowerShell API that's documented here, though I don't see anything specific to budgets or cost management.

There are Billing APIs in the Partner Center PowerShell:
https://docs.microsoft.com/en-us/powershell/module/partnercenter/get-partnercustomerbillingprofile?view=partnercenterps-3.0

There are C# and RE

[2020-08-14 17:23] TravisCragg-MSFT commented on #60593
@JeffySmith We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-14 17:23] #60593 closed

[2020-08-14 17:25] kgremban commented on #60649
The two sample routes I added both point the downstream messages to IoT Hub, but they could just as easily point the messages to a module running on the gateway device. I can add a third example demonstrating that scenario as well.

[2020-08-14 17:27] mike-urnun-msft commented on #60791
@practicalspartaa Just following up here on my previous comment above. Please let us know if there's a specific MS Docs that feedback is applicable to.

[2020-08-14 17:29] damonbarry commented on #60649
@kgremban [IoT Edge as a gateway](https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway#patterns) doc is vague about the protocol translation and identity translation patterns, and for good reason. But the docs aren't clear about _why_ there aren't more details. It seems like we should clearly state that it is the responsibility of the protocol(/identity) translation module to interf

[2020-08-14 17:39] tsrob50 opened #60891 "Adding applications by file path"
Step 5, adding applications by file path with the new-awvdapplication command requires the -ShowInPortal switch.

Az.DesktopVirtualization module Version 2.0.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40847450-94ad-76d9-0782-81fa0b13bf8b
* Version Independent ID: 501630dc-09aa-d690-c550-56f2a763454c
* Content: [M

[2020-08-14 17:45] mikewiegand commented on #60195
Awesome thanks

On Fri, Aug 14, 2020, 10:17 AM Sneha Gunda <notifications@github.com> wrote:

[2020-08-14 17:45] kgremban commented on #60649
@damonbarry Sure, that would be great. Or feel free to send me the details offline if that's easier.

[2020-08-14 17:47] cristian-eriomenco commented on #34451
@AjayKumar-MSFT Can `WEBSITES_PORT` take in multiple values eg: 80 and 443?

[2020-08-14 17:47] mattchenderson commented on #60874
That's not exactly true. The docs reflect the intent and support. While the value is accepted by the API (due to a bug we cannot fix as it would break sites that started doing this), the behavior is undefined and is not guaranteed to operate as expected. We've seen some very odd situations resulting from dropping the version string.

We are working to get proper support for versionless references

[2020-08-14 17:47] #60874 closed

[2020-08-14 17:54] kgremban commented on #58989
@rgamage As Steve said, we've updated this article with a clarifying statement at the beginning that if you use certificates to authenticate your device to IoT Hub, those are different certificates than those used by IoT Edge operations. I included a link to the article that walks through authenticating a device with X.509 certificates. As you commented in other issues, currently X.509 authenticat

[2020-08-14 17:55] mattchenderson commented on #60673
@SnehaAgrawal-MSFT Francisco and I chatted about this briefly offline. I think there is a valid request here. This doc describes the role assignment piece primarily within the context of "obtaining a token for Azure resources" which assumes it's the user's code directly making the request. However, in Francisco's case, he has a library that's depending on the behavior instead. In practice, only th

[2020-08-14 17:56] SatishBoddu-MSFT commented on #60870
Hello @Suizi11
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-08-14 18:09] damonbarry opened #60892 "Describe why we don't have how-to docs for translation and identity gateway patterns"
As discussed in #60649's [comment thread](https://github.com/MicrosoftDocs/azure-docs/issues/60649#issuecomment-674181759), This "patterns" doc is intentionally light on details for the translation and identity patterns without explaining _why_.  In other words, we point to an in-depth doc for the transparent pattern, but there are no such pages for the other two patterns and customers might be le

[2020-08-14 18:22] SnehaGunda commented on #60195
We will now close this issue.

#please-close

[2020-08-14 18:22] #60195 closed

[2020-08-14 18:24] YutongTie-MSFT commented on #60565
@rvooren Hi, I will highly recommend you open a support ticket for this. This forum is mainly for document scope, I can help you to create a support ticket if you don't have a support plan. Please let me know. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-08-14 18:24] #60565 closed

[2020-08-14 18:36] maheshksingh commented on #59697
still waiting,,,,

[2020-08-14 18:38] Francisco-Gamino commented on #60673
Thanks @mattchenderson for the quick turnaround. I agree with your proposal -- having a third section to discuss the need to grant the identity some permissions will be very helpful.

[2020-08-14 18:47] KranthiPakala-MSFT commented on #59697
Apologizes for the inconvenience @maheshksingh. I haven't found a relevant code in python yet.

Hi @lenadroid, @mssaperla Could you please have a look at the request from @maheshksingh ? Are there any GitHub Python samples that can share with the user? - Appreciate any pointers on this request.

Thank you.

[2020-08-14 18:51] #59405 closed

[2020-08-14 18:53] lenadroid commented on #59697
Hi @KranthiPakala-MSFT, I am not aware of any existing equivalent samples in Python at Microsoft Docs. I did a quick search and found this [article](https://towardsdatascience.com/using-azure-cognitive-services-for-sentiment-analysis-of-trumps-tweets-part-1-f42d68c7e40a) that might be covering some of it, however I haven't tried it and guarantee that the code is working.

[2020-08-14 18:56] trevorbye commented on #54522
#please-close

[2020-08-14 18:56] #54522 closed

[2020-08-14 18:57] spelluru commented on #60716
#please-close

[2020-08-14 18:57] #60716 closed

[2020-08-14 18:59] JayaChatterjee-MSFT commented on #60718
@axisc I would request you to review this thread and check whether we can update the document as requested.

[2020-08-14 19:04] davidsmatlak commented on #60737
@ZohairTharani Your questions are specific to the [Azure Data Factory](https://docs.microsoft.com/azure/data-factory/) service so I'll request a response from the Data Factory team. Thanks!

[2020-08-14 19:10] davidsmatlak commented on #60737
@djpmsft Can the Data Factory team respond to the customer's questions about partial saves of ARM templates? Thanks.

[2020-08-14 19:11] MonikaReddy-MSFT commented on #60815
@MrRitt -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-08-14 19:17] vn504uw commented on #43985
HI I'm getting an errorcode 2010, referencing to this page but the error isn't mentioned here.
Please could you update this.

{
    "errorCode": "2010",
    "message": "Hit unexpected exception, please retry. If the problem persists, please contact Azure Support\"",
    "failureType": "UserError",
    "target": "convert",
    "details": []
}

[2020-08-14 19:17] vn504uw commented on #43985
Please help me to resolve this issue

[2020-08-14 19:19] shantanuchaudhary24 commented on #60874
So from your comment, what I understand is that removing version from explicit references is not stable. This is a little confusing.
[This page](https://github.com/Azure-Samples/serverless-keyvault-secret-rotation-handling/blob/master/README.md) contains the following statement:

This led me to believe that it is safe to use secret identifiers without explicit version references and hence, I raise

[2020-08-14 19:29] SnehaGunda commented on #60840
Thanks @konrad-jamrozik and @timsander1 it looks like the issue is resolved. Closing it now.

#please-close

[2020-08-14 19:29] #60840 closed

[2020-08-14 19:30] SnehaGunda commented on #60784
@chetansir  I tested the commands and also ran into the same issue. I reached out to our product group for clarification.

[2020-08-14 19:34] djpmsft commented on #60737
When you publish from ADF, an ARM template and correseponding parameters file and linked templates folder is generated. There is nothing you have to do after you click publish. The adf_publish branch comes into play when setting up a CI/CD solution as thats where you will point your release pipeline.

The Partial ARM Template folder is a legacy entity that is deprecated.

[2020-08-14 19:36] SadiqhAhmed-MSFT commented on #60858
@lostmsu We have no way to use an API to extract the meters sent today. The only way is to set the offer in preview and wait for the bill to show or in the Cost Center.  Partner Center will show that as well. https://partner.microsoft.com/en-us/dashboard/commercial-marketplace/analytics/usage

Feel free to write back if you have additional questions in this matter.

[2020-08-14 19:39] lostmsu commented on #60858
Thank you @SadiqhAhmed-MSFT . The link you provided seems to offer exactly what I need.

[2020-08-14 19:39] #60858 closed

[2020-08-14 19:41] artisticcheese opened #60896 "JSON download can not be automated"
Since API currently in preview and in fact have different information compared to JSON document (example is `HDInsight.EastUS2`), the only way to know about tag change is to parse JSON download for all the tags. The problem is that link published for JSON file is HTML page where actually download seems to be triggered by Javascript inside the page and download link itself if ever changing value.
W

[2020-08-14 19:45] SadiqhAhmed-MSFT commented on #60858
Glad to help! :)

[2020-08-14 19:56] gfaraj commented on #47611
Ohhh that's awesome.

This still requires switching to a file configuration for the providers and configuring an OpenID Connect provider with "apple" as the name, right?

Also, for passing that access_token field, does this sound like the correct value?
https://github.com/invertase/react-native-apple-authentication/blob/master/docs/interfaces/_lib_index_d_.rnappleauth.appleauthrequestresponse.md#a

[2020-08-14 19:58] jamesmcroft commented on #60695
Yeah, these were set. I believe the issue might be due to the access level of the container. From the instruction, setting access to None doesn't yield a result.

However, changing to Blob does. This doesn't seem right though unless there is something I'm missing.

[2020-08-14 20:03] MarileeTurscak-MSFT commented on #60576
Hi @thequesarito,

I am able to use that setting with an Authentication Administrator. I tested in the portal and can do it with both a global admin account and an authentication administrator account. It's possible that the issue described got fixed, or there may be something else blocking the MFA. (For example, the user might be blocked from MFA in general.)

If you are still having this issue,

[2020-08-14 20:03] #60576 closed

[2020-08-14 20:11] MarileeTurscak-MSFT commented on #60714
Hi @paratz,

This is covered in[ License requirements to use Privileged Identity Management](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/subscription-requirements)

The directory needs to have at least as many Azure AD Premium P2 licenses as you have employees that will be performing the following tasks:

Users assigned as eligible to Azure AD or Azure ro

[2020-08-14 20:11] #60714 closed

[2020-08-14 20:17] JnHs commented on #60635
Hi @andrewsturner783 - Thanks for your question. While I don't have any information to share about future plans, support for custom roles has been suggested in our UserVoice feedback forum: https://feedback.azure.com/forums/922753-azure-lighthouse/suggestions/38901802-add-support-for-custom-roles
The team reviews these regularly to help plan new/enhanced features, so please consider upvoting this

[2020-08-14 20:19] successhawk commented on #60737
@djpmsft if it is legacy, can we delete them from our git repo to prevent confusion?  Will anything be negatively impacted?

[2020-08-14 20:22] JadeCoding commented on #60633
Thanks Satish, the code sample you provided works for me but the other one here doesn't work: https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-code

Still get the same exception as other folks pointed out. Will wait for your further investigation feedback.

[2020-08-14 20:28] SatishBoddu-MSFT commented on #60633
Hello @JadeCoding We are verifying that as well.

[2020-08-14 20:30] AV25242 opened #60898 "Get notebook link page update needed"
[Enter feedback here]

Get notebook link opens up the following [page](https://docs.microsoft.com/en-us/azure/databricks/_static/notebooks/couchbase.html) that needs some minor updates.

### **Replace the following sentence**

### **WITH**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb565927-531d-4652-8d6f-8c871b833

[2020-08-14 20:41] danijam commented on #60868
Hi @shashishailaj

Based on my testing today I think the docs page does seem to be correct.

If you set the SAML App to be multi tenant when you come to edit the manifest of the app to have the identifierUris it wont let you enter one that is not part of your AD tenant domain which is obviously not going to work for B2C scenario's. So although I don't fully understand why, I think it is correct. W

[2020-08-14 20:42] mrbullwinkle commented on #59763
if you are using applicationinsights.config there is no need to make the additional code level changes you can just make the adjustment to the config file without needing to modify your code:

[code]

One of our engineers also update the code example which make that less confusing in the future. But again if you are have a .NET Framework app and are using applicationinisghts.config it is easier to

[2020-08-14 20:47] epomatti opened #60899 "What are normalized coordinates?"
In the "Upload and tag images" section there is this description:

What "normalized coordinates" means, and where can we find a tool that generates such format (aside from Custom Vision Portal)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b47b105-296c-139f-7e2c-d4d143aa1ccd
* Version Independent ID: 7c55bf3c-739f-8

[2020-08-14 20:51] JamesTran-MSFT commented on #60800
@Petitohead
Looking into your request, it looks like the changes have already been made, so I'll go ahead and close out this issue.

If you have any questions regarding this update, please let me know.
Thank you for your time!

**Portal View:**
![ascUpgrade](https://user-images.githubusercontent.com/36619112/90291581-1084e800-de35-11ea-9f5c-f26d977415eb.JPG)

**Documentation:**
![ascDoc](https://u

[2020-08-14 20:51] #60800 closed

[2020-08-14 20:55] ChaitanyaNaykodi-MSFT commented on #43964
@hendriksteinhorst , I am sorry for the extreme delay in my response.
If you are using [Consumption tier](https://docs.microsoft.com/en-us/azure/api-management/api-management-features) in Azure API Management, the internal cache in not available for this tier and [external Redis-compatible cache](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-cache-external) should be u

[2020-08-14 21:03] zr-msft commented on #53455
Thank you @jaylondhe for the feedback.

I was able to verify this works with both a custom domain and the FQDN. Closing for now, but please follow up if you're still running into issues.

#please-close

[2020-08-14 21:03] #53455 closed

[2020-08-14 21:06] #60863 closed

[2020-08-14 21:14] djpmsft commented on #60737
If its the partialTemplates folder, yes. Nothing will be negatively impacted.

[2020-08-14 21:17] RyanHill-MSFT commented on #47611
@gfaraj good news, you don't need `access_token` for POST request. So, all you need to do is
[code]

With regards to your first question, that is correct. In order to use Apple sign in, you need to switch to file configuration. That means any configurations done in EasyAuth will be ignored and you'll have to add those existing settings to the file base configuration.

[2020-08-14 21:20] gfaraj commented on #47611
Excellent! Really appreciate your quick help on this! Will be testing this soon.

[2020-08-14 21:21] TravisCragg-MSFT commented on #60876
@OwenTN Thanks for the feedback. The doc has been updated to show the change.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-14 21:21] #60876 closed

[2020-08-14 21:29] KranthiPakala-MSFT commented on #60898
@AV25242  Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

@mssaperla Could you please review this feedback and do the helpful needed? Thank you

[2020-08-14 21:29] zr-msft commented on #49604
Thank you @wfc-sfmjp for the feedback!

I was able to verify this works with the latest release of Helm.

Closing for now but please follow up if you're continue to see this issue with the latest version of Helm.

#please-close

[2020-08-14 21:29] #49604 closed

[2020-08-14 21:32] #37967 closed

[2020-08-14 21:32] #59517 closed

[2020-08-14 21:33] zr-msft commented on #37967
Thank you @kieronlanning for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

[2020-08-14 21:35] zr-msft commented on #59517
thank you @kennethgp for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-08-14 22:01] ecfan commented on #60082
Draft update is pending review and elaboration by @PramodValavala-MSFT.

[2020-08-14 22:03] mrbullwinkle commented on #58238
change is merged internally and will go-live on Monday.

[2020-08-14 22:03] mrbullwinkle commented on #58238
#please-close

[2020-08-14 22:03] #58238 closed

[2020-08-14 22:09] woodpk commented on #16505
This comment is rather removed in time from the beginning of this thread, but:
When i try the contoso URL given above by davidmu1, (see url below) i get a 404 "not found" error.  I also get this error when i remove the "/tfp/" in the url (in ad b2c portal, when viewing the endpoints for the app registrations, there is no "tfp" in the url.

I am writing this comment because I am currently unable to

[2020-08-14 22:10] mrbullwinkle commented on #60839
I am going to close out this issue, but if you have any more questions just let us know.

[2020-08-14 22:10] mrbullwinkle commented on #60839
#please-close

[2020-08-14 22:10] #60839 closed

[2020-08-14 22:12] michael-mansour commented on #60777
I have the exact same issue

[2020-08-14 22:13] mrbullwinkle commented on #59706
I am going to close this out since it is not currently actionable on the docs side. Thanks again for your question.

[2020-08-14 22:13] mrbullwinkle commented on #59706
#please-close

[2020-08-14 22:13] #59706 closed

[2020-08-14 22:15] mrbullwinkle commented on #60196
Going to close this issue out, if you have any further questions just let us know.

[2020-08-14 22:15] mrbullwinkle commented on #60196
#please-close

[2020-08-14 22:15] #60196 closed

[2020-08-14 22:25] TravisCragg-MSFT commented on #60896
@artisticcheese We do not currently have guidance on automating, If you would like us to add this feature to our API, please [leave your feedback Here at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking/).

[2020-08-14 22:32] #60896 closed

[2020-08-14 22:38] MarileeTurscak-MSFT commented on #60809
@curtand could this be updated with the latest screenshots?

[2020-08-14 22:44] #60039 closed

[2020-08-14 22:53] sebcruz opened #60901 "Please add 3202 Error: Jobs is not fully initialized yet. Please retry later."
Please update the documentation to include additional info and actions I can take to prevent/fix this ADF error when running a Databricks Notebook.  In general, I as a user should not be experience an error that isn't already described in the documentation. Thanks!
{
    "errorCode": "3202",
    "message": "Jobs is not fully initialized yet. Please retry later.",
    "failureType": "UserError",

[2020-08-14 22:55] SnehaGunda commented on #60351
@irsubasi Thanks for pointing out, actually the table below that paragraph lists that port 443 is applicable for SQL API only. Your feedback is fair though. the previous statement is confusing. I made some updates to the doc in the above PR.

[2020-08-14 22:55] SnehaGunda commented on #60351
We will now close this issue.

#please-close

[2020-08-14 22:55] #60351 closed

[2020-08-14 23:07] SnehaGunda commented on #60882
@ealsur I don't know who authored that image but can you please take a look. Can that component be something else than a virtual IP?

[2020-08-14 23:09] mrbullwinkle commented on #53685
Updates to the docs to link to the rate limit info are merged internally and will go-live in the docs on Monday. Unfortunately, the engineering team did not have any additional troubleshooting guidance for this particular scenario.

[2020-08-14 23:09] mrbullwinkle commented on #53685
#please-close

[2020-08-14 23:09] #53685 closed

[2020-08-14 23:25] jeevansd commented on #60852
@superlzy So when you uploaded this metadata in Azure AD it is not populated the Reply URL configuration in the app?

[2020-08-14 23:28] BharathNimmala-MSFT commented on #60879
@SteveStraleyAstute Apologies for the experience you are having, we really appreciate you taking time to share your feedback. Assigning this issue to our document author @tfitzmac to further evaluate the feedback and update the document accordingly.

[2020-08-14 23:29] SatishBoddu-MSFT commented on #60892
@damonbarry
Thanks for the feedback!

[2020-08-14 23:32] BharathNimmala-MSFT commented on #60879
Adding @mumian for visibility,  since Tom is on vacation.

[2020-08-14 23:33] SteveStraleyAstute commented on #60879
First – that is NOT the structure of the GET request specified in the article…. It is NOT EVEN CLOSE.

Second – that is NOT HOW WE SPELL “CANCELLED”…..

I’m getting really sick and tired of spending money on you “people” and wasting my time on silly crap.

From: BharathNimmala-MSFT <notifications@github.com>
Sent: Friday, August 14, 2020 4:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.git

[2020-08-14 23:35] jeevansd commented on #60852
@chetansriv Please include this Federation Metadata URL in the doc so that customers dont have to find it but they can just download and upload it in our SSO UI.

[2020-08-14 23:38] SteveStraleyAstute commented on #60879
THIRD..  get your minds out of your Java @#!@#....    If you specify C# then it damn well better be right.   There is no such thing as “.GetValue(0)”… it’s [0] since GetValues returns a collection from the Headers

Why must we find this stuff out.

As a side note… even as I got the code to work irrespective of YOUR bad documentation, the mentioned URL in the article….

DOES…. NOT…. WORK…

From: Bh

[2020-08-15 00:04] SnehaGunda commented on #60786
@rockboyfor Thanks for pointing out, the above PR fixes the issue. The changes will be live on Monday. We will close this issue now.

#please-close

[2020-08-15 00:04] #60786 closed

[2020-08-15 00:05] mrbullwinkle commented on #34694
A change to address this issue has been merged internally and will go-live on Monday.

[2020-08-15 00:05] mrbullwinkle commented on #34694
#sign-off

[2020-08-15 00:05] mrbullwinkle commented on #34694
#please-close

[2020-08-15 00:05] #34694 closed

[2020-08-15 00:06] SnehaGunda commented on #60830
@konrad-jamrozik you are right, it's grammatically incorrect. what we mean is this:

_etag is an internal identifier and it is used for concurrency control. The _etag property tells about the version of the item, whereas the ETag property is used for sequencing the feed.

We encourage public contributions, would you be interested in submitting a PR to update the doc? You can click on the edit butt

[2020-08-15 00:12] mrbullwinkle commented on #56369
This article is specifically about the default log-based metrics and the underlying queries that define them. Additional content on advanced Kusto queries would not be a good fit for this article.

[2020-08-15 00:12] mrbullwinkle commented on #56369
#please-close

[2020-08-15 00:12] #56369 closed

[2020-08-15 01:10] andyzhangx commented on #60823
does only ingress pod not work?

Could you check whether there is `kube-svc-redirect` pod by “kubectl get po -n kube-system”, and if there is, delete that pod, thanks.

[2020-08-15 01:10] WillBrownsberger opened #60908 "Incorrect Instruction"
This page says to use the following code to detect SSL:

if (isset($_SERVER['X-Forwarded-Proto']) && $_SERVER['X-Forwarded-Proto'] === 'https') {
  // Do something when HTTPS is used
}

The above code references a non-existent $_SERVER element. The correct code  is:
if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
  // Do something when HTTPS is us

[2020-08-15 02:30] ram-msft commented on #60601
@jtg5122 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-15 02:30] #60601 closed

[2020-08-15 02:41] Grace-MacJones-MSFT commented on #60585
Hi @captain-yossarian, I did some further investigation and it looks like this was a known issue. The engineering team has resolved the problem. Please try to Configure continuous integration with a GitHub and let us know if you are facing any trouble.

We will close this out, but if you feel you need more information please just let us know we will reopen this issue.

[2020-08-15 02:41] #60585 closed

[2020-08-15 03:16] vnextcoder commented on #59183
the issue still persists

[2020-08-15 03:28] mike-urnun-msft commented on #60886
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 03:29] mike-urnun-msft commented on #60889
@AlverezYari Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 03:30] mike-urnun-msft commented on #60891
@tsrob50 Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 03:31] mike-urnun-msft commented on #60899
@epomatti Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 03:32] mike-urnun-msft commented on #60901
@sebcruz Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-15 03:32] mike-urnun-msft commented on #60908
@WillBrownsberger Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 04:54] inclue opened #60911 "Update "Clean up resources" part in azure-app-configuration-cleanup.md"
"Delete resource group" has disappeared from the context menu. I want to modify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quickstart for Azure App Configuration with ASP.NET Core](https://docs.micros

[2020-08-15 05:31] vidyasagar-hadoop opened #60914 "need help to copy data from Azure blob to multiple tables (DB as SINK) using azure ADF pipeline. It would be great if Any Video or URL is provided to check this activity"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-08-15 05:41] BharathNimmala-MSFT commented on #60742
@scyto Thanks again for bringing this to our notice, we will share the feedback to our document authoring team and have it as a backlog item to enhance the document accordingly.  Will reference this thread once we have the work item. We will go ahead and close this issue for now, however if you have any further queries please tag us in your reply and will be happy to reopen the thread and continue

[2020-08-15 05:41] #60742 closed

[2020-08-15 05:48] mattvlas opened #60916 "Bulk Guest Invitation Role Requirements?"
Hello,

It is not clear what the minimum role requirements are for guest invites to work via the Azure portal, and it should be documented on this page as it is not intuitive.

A user with the below roles is able to invite users **individually** in Azure:

- User Administrator
- Guest Inviter

However, the **bulk action** fails simply with a reason of "Request was unsuccessful."

The action works

[2020-08-15 06:07] so-rob opened #60917 "deployment.amd64.json structure seems invalid, cannot upload the manifest"
deployment.amd64.json structure seems invalid, cannot upload the manifest.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5712d5bf-76eb-f6c5-56fc-f28062ac8c0a
* Version Independent ID: f3fe76a1-fb28-7aac-18d6-cae156537cf3
* Content: [Tutorial - Create a video analytics - object and motion detectio

[2020-08-15 06:48] DonQsec opened #60920 "setx COGNITIVE_SERVICE_KEY "your-key""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e866571-0651-bddb-f012-bf3bfe16f179
* Version Independent ID: 27429467-3c37-27da-b839-065268c6af23
* Content: [Create a Cognitive Services resource in the Azure portal - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-servi

[2020-08-15 06:49] DonQsec commented on #60920
``

[2020-08-15 07:36] oyyunttt opened #60921 "oyyunttt"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/en-us/azure/guides/developer/azure-developer-guide#understanding-acco

[2020-08-15 07:36] oyyunttt opened #60922 "oyyunttt"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1cce701-aeb0-07af-6961-4f3e5cf2ed44
* Version Independent ID: 9c3e5bd6-7367-bfd8-f296-2f91f058a0fe
* Content: [Get started guide for developers on Azure](https://docs.microsoft.com/en-us/azure/guides/developer/azure-developer-guide#understanding-acco

[2020-08-15 07:52] SibeeshVenu commented on #60883
I was able to fix this issue. The issue was because of that I had two `Interfaces` and one of them was not having any capabilities in it.

![image](https://user-images.githubusercontent.com/4262147/90307983-df132780-dedb-11ea-80a8-ed43eb9f5b8d.png)

After deleting this unwanted `Interface`, I was able to successfully publish my device template.

![image](https://user-images.githubusercontent.com/4

[2020-08-15 07:52] #60883 closed

[2020-08-15 08:13] BhargaviAnnadevara-MSFT commented on #60911
@inclue Thank you for your contribution!

[2020-08-15 08:20] BhargaviAnnadevara-MSFT commented on #60922
Duplicate of #60921

[2020-08-15 08:20] #60922 closed

[2020-08-15 08:22] BhargaviAnnadevara-MSFT commented on #60921
@oyyunttt Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-08-15 08:24] BhargaviAnnadevara-MSFT commented on #60921
@oyyunttt Could you please elaborate your requirement/feedback?

[2020-08-15 08:42] carlneal commented on #60750
@mamccrea I got the issue now. I was putting in the event hub namespace name instead of the actual name for the event hub. It is working for me also. Thank you

[2020-08-15 08:42] #60750 closed

[2020-08-15 08:59] matayp commented on #58996
@KranthiPakala-MSFT @himanshusinha-msft The issue is still on the page, did this actually get fixed?

![image](https://user-images.githubusercontent.com/12459672/90309196-0f5bc580-dede-11ea-8629-884d57e81edc.png)

[2020-08-15 09:11] maheshksingh commented on #59697
Hello Team, Thanks so much for your research and helping out. I will run the code from the provided article and update all if that works.
Please help with my last question regarding the article. Why do we need Event Hub in the middle, as the tweets are readily available in the databricks workspace in the first notebook, can't we directly apply sentiment analysis as soon as we receive the tweets in

[2020-08-15 09:21] captain-yossarian commented on #60585
Hi @Grace-MacJones-MSFT , thanks for the info, I will try.

[2020-08-15 10:38] glprasanna commented on #60221
Hi Jeevan,

We have uploaded newer version again and this time it is showing as 1.0.11 and our issue is fixed.

Thank you for checking.

Please close this ticket.

Regards,
Prasanna

[2020-08-15 11:40] ashpr commented on #56945
We're using terraform to automate deployments, I've tried a few options:

Attempt: Deploy a Standard, Attempt to attach VNET
Result: "Regional VNET Integration is unsupported in this scale unit. Please see https://aka.ms/app-service-vnet-integration for more information."

Attempt: Deploy a PremiumV2, Attach the VNET, Downgrade
Result: Same error as TiTi

Attempt: Deploy a PremiumV2, Downgrade, At

[2020-08-15 11:42] tastyeggs opened #60926 "Immutable Blob Storage REST APIs are not documented"
Azure Blob Immutable Storage APIs are not documented here: https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-rest-api

All articles that describe immutable storage suggest there's a REST API: https://azure.microsoft.com/en-us/blog/azure-immutable-blob-storage-now-in-public-preview/, but so far I've only found Azure Management Plane APIs.

[2020-08-15 11:52] jayendranarumugam opened #60927 "Synapses Data Plane API Audience should remove Trailing /"
# Azure documentation issue guidance

Am not exactly sure that this is a bug in the code itself or docs need to be updated. Either way, I'm creating this issue for both the case

Data Plane APIs Synapses Audience need to remove extra **/**

As per the below [docs](https://docs.microsoft.com/en-us/rest/api/synapse/?source=docs)

From the above statement has the audience claim **https://dev.azuresyn

[2020-08-15 12:44] Victor-Savu commented on #60798
Thank you! I take it that the answer is "Yes" to all of the questions above. (I am a bit confused by the term "includes" :smiley_cat: )

[2020-08-15 13:07] andresu13 opened #60928 "Tons of gramatical errors in this page"
Hi, someone should carefully review this page. There are many gramatical errors in this page - mostly words that were put together as one word but should be split up. Examples:

- planandprepare
- formigration
- exploreAzure
- anAzure
- thecloud

This page should be carefully reviewed and corrected for all those errors listed (and more that I did not capture above).

[Enter feedback here]

---
###

[2020-08-15 13:23] al-vincent opened #60929 "JSON results example doesn't match script output"
I appreciate that the quickstart is just an example. However, if the code provided is run against the image, the results returned are different to the results displayed in the JSON shown, presumably due to small changes in the image processing algorithms (the words discovered are identical of course, but the bounding boxes are not quite the same). This may confuse users who are not familiar with t

[2020-08-15 14:09] tiny-dancer opened #60930 "Pipeline YML"
Please provide the YML pipeline equivalent for this feature

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44d0ffad-8692-99d2-c185-5dfcc44cba77
* Version Independent ID: 4fd6e6a0-18e9-e6f2-46cf-b9ca55ea73f7
* Content: [Continuous monitoring of your DevOps release pipeline with Azure Pipelines and Azure Applica

[2020-08-15 14:39] spallister commented on #60531
It does - Thanks for your help, @MayankBargali-MSFT.

[2020-08-15 16:00] BhargaviAnnadevara-MSFT commented on #60272
@jamesbannan So it turns out from our internal discussion that `write` permissions over the VNet are a **must-have** requirement for the identity that's adding the VNet to the DTL, regardless of a pre-existing lock even. This, however, is not limited to just adding management locks, but also keeping in view the possible operations that might be performed afterwards. For example: When VMs/Environme

[2020-08-15 16:09] stephlocke opened #60931 "State how to find out what properties are required for a managed connector"
I'm needing to build ARM templates including managed connector and need the "parameterValues". These don't export so the docs should help find these values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283ea333-d9a1-50c6-581c-753131c88f5a
* Version Independent ID: 45207a34-a98b-8214-3364-61a62fbada4a
* Content: [Conn

[2020-08-15 17:03] KrishnaG-MSFT commented on #60930
@tiny-dancer Thanks for the feedback.
Assigning @mrbullwinkle for visibility, review and document enhancement consideration.

[2020-08-15 17:45] lyrana commented on #60792
tagging @shreyasharmamsft for assistance

[2020-08-15 18:27] captain-yossarian opened #60932 "Constantly receiving an error after creating CosmosDB table"
Hi, I have tried several times to create CosmosDB table, and every time I'm receiving next error:
![cosmosdb_error](https://user-images.githubusercontent.com/16646733/90319147-b1f36300-df35-11ea-8568-7068cad15aac.png)

For copy/past:
[code]
What does it mean?

[2020-08-15 18:41] KranthiPakala-MSFT commented on #60898
Hi @AV25242 Thank you for bringing this to our attention and helping us to improve the doc content. We have created an internal task to track this issue and to update the document as required.

Since we have already tracking this internally, I will proceed to close this issue. If you have further queries/feedback, please feel free to comment, we would be happy to a.

Hi @mssaperla - could you plea

[2020-08-15 18:41] #60898 closed

[2020-08-15 18:50] memildin commented on #60800
Thanks for the feedback, this has now been resolved. Please see the updated page.

#please-close

[2020-08-15 18:51] RonnieQuan opened #60933 "Proxy setting for self hosted integration runtime"
I would like to understand more about no_proxy setting
https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#proxy-server-considerations
in this configuration file diahost.exe.config, can we configure for some doamins, do not use proxy?

I would like the self hosted integration runtime to communicate with Azure logging or other dependency via proxy.

I would li

[2020-08-15 19:00] SadiqhAhmed-MSFT commented on #60672
@brucedkyle This appears to be an issue with the API version. The same is discussed here - https://github.com/Azure/azure-powershell/issues/11642 per the link the fix would come in effect by end of the year.

[2020-08-15 19:02] memildin commented on #60226
Thanks, we've updated the page to say "Windows Server 2016 or later".
The changes will go live on Monday.
Thanks for taking the time to help us improve this page.
#please-close

[2020-08-15 19:02] #60226 closed

[2020-08-15 19:21] SadiqhAhmed-MSFT commented on #60928
@andresu13 Thanks for bringing this to our attention. We will review the documentation and update as required.

[2020-08-15 19:21] gfaraj commented on #47611
Hey @RyanHill-MSFT I'm getting a 404 / Not Found error on the login URL you indicated:

https://<appname>.azurewebsites.net/.auth/login/apple

Here's a log from my app:
![image](https://user-images.githubusercontent.com/2772908/90319855-ccabe480-df01-11ea-9802-235085e4b203.png)

Making sure that file-based config is enabled:

![image](https://user-images.githubusercontent.com/2772908/90319918-f402

[2020-08-15 19:21] KranthiPakala-MSFT commented on #60933
@RonnieQuan Thanks for reaching out. Since this channel is for driving improvements towards MS Docs and we didn't determine any changes for this documentation upon reviewing this feedback as the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://sta

[2020-08-15 19:23] mike-urnun-msft commented on #60914
@vidyasagar-hadoop Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-15 19:24] mike-urnun-msft commented on #60916
@mattvlas Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-15 19:24] mike-urnun-msft commented on #60791
@practicalspartaa Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-15 19:24] #60791 closed

[2020-08-15 19:28] gfaraj commented on #47611
By the way, for anyone else struggling with this, I used the Azure CLI (in cmd.exe) to update the auth settings, like this:

`az rest --method put --url https://management.azure.com/subscriptions/<subscription-id>/resourceGroups/<resource-name>/providers/Microsoft.Web/sites/<site-name>/config/authsettings?api-version=2018-02-01 --body "{\"properties\":{\"enabled\":\"true\",\"isAuthFromFile\":\"tru

[2020-08-15 19:44] mike-urnun-msft commented on #60917
@so-rob Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 19:46] mike-urnun-msft commented on #60920
@DonQsec Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 19:47] mike-urnun-msft commented on #60926
@tastyeggs Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 19:49] mike-urnun-msft commented on #60927
@jayendranarumugam Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 19:49] mike-urnun-msft commented on #60929
@al-vincent Thank you for your feedback! We will review and update as appropriate.

[2020-08-15 19:50] mike-urnun-msft commented on #60931
@stephlocke Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-15 19:51] mike-urnun-msft commented on #60932
@captain-yossarian Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-15 20:41] brucedkyle commented on #60672
Thanks to @SadiqhAhmed-MSFT  Looking forward to this feature working as expected.

[2020-08-15 20:41] #60672 closed

[2020-08-15 20:42] shashidivak opened #60935 "Application insights for Visual studio for Mac is missing"
Team,

Please add instructions for visual studio for mac as well when writing the documentation. I am unable to follow on how application insights can be added to my web app project created in visual studio for mac.

Thanks,
Shashi
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b88d8c4-0013-70aa-

[2020-08-15 20:53] mrbullwinkle commented on #60935
@shashidivak you would need to use the manual instructions here: [https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#enable-application-insights-server-side-telemetry-no-visual-studio](https://docs.microsoft.com/azure/azure-monitor/app/asp-net-core#enable-application-insights-server-side-telemetry-no-visual-studio) for Visual Studio for Mac.

Visual Studio for Mac does not currently o

[2020-08-15 21:35] captain-yossarian commented on #60932
@mike-urnun-msft it is working now. I think it was some problem with internal API. It began to work after 5 minutes. You can close the issue

[2020-08-15 22:26] jespli opened #60936 "Wrong for the description?"
The description below should be "If the user is already signed in" ? I'm a little confused.
"If the user is not already signed in, the native application retrieves the username of the user from the device's Windows session."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1fad2f3-22ce-2b84-208e-dd7a0d018e25
* Version I

[2020-08-15 23:56] SachinRanka opened #60938 "Incorrect Labeling - Security Principal"
Hi,
On this page "https://docs.microsoft.com/en-us/azure/key-vault/general/basic-concepts" - one of the sub topic explain about "Service principal". This should rather be labeled as "Security principal" and not as "Service principal" , because "Service principal" is also one among "Security principal".

This can be verified in the diagram which is found on this page "https://docs.microsoft.com/en-

[2020-08-16 00:44] hecerinc opened #60939 "Update SPA overview scenario to link to auth code flow"
This page should probably updated to reflect the new Auth code flow in MSAL2.0 instead of linking to the implict flow

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b35fae1d-754a-459e-76ba-d0f759869a74
* Version Independent ID: 85537046-bf18-58d0-7d54-9aaa1d16bd61
* Content: [JavaScript single-page app scenario - Micro

[2020-08-16 01:11] RyanHill-MSFT commented on #47611
Not that I can see @gfaraj. Send me your app name to _AzCommunity@microsoft.com_ ATTN: Ryan so we can look into it.

[2020-08-16 01:47] gfaraj commented on #47611
Email sent. Thanks a lot for looking into this!

[2020-08-16 02:54] anomepani commented on #60469
As we have Azure AD premiun 1 license, I don't think so this option available for us.

How other  pharma,  government, financial,  proprietary business organizations which is using office 365 will handle this type of situation.

There may be some secure alternative?

[2020-08-16 02:56] anomepani commented on #60625
Graph powershell also not returning all results. It's  also showing same results as shown in azure portal reporting blade.

[2020-08-16 03:34] patrickliang commented on #20701
@awentzel, how did you get wildcard domain working on Azure CDN? When I try to put in wildcard custom domain such as *.customdomain.com into CDN's custom domain configuration, I get Hostname is invalid error.

[2020-08-16 03:37] TexasNeo opened #60940 "Code contains invalid reference"
Following the instructions in Visual Studio 2017. The code on line 2 says "using Microsoft.Data.SqlClient" but the assembly downloaded by NuGet is "System.Data.SqlClient" Changing the assembly path/name caused all the errors and unresolved dependencies to be resolved. Dont know if this assembly got moved between versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-08-16 04:46] kailasandhale commented on #60167
@bwren  Could you please review this?

[2020-08-16 05:58] shashidivak commented on #60935
Than you Michael for your prompt response. It always amazes me on how this Team works.

[2020-08-16 05:58] #60935 closed

[2020-08-16 06:25] dcurwin commented on #60878
#reassign:pvrk

[2020-08-16 06:49] reveation-labs opened #60941 "No option to download document as zip"
The document talks about downloading zip file of the function from overview page. But I don't see such option when I go to overview tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4581be64-415a-804a-0a45-25b6976095c3
* Version Independent ID: 0cae0e82-c263-e2cf-ea54-a783291f5746
* Content: [Zip push deployment for

[2020-08-16 07:29] DavidTrigano commented on #60411
Hello @mihsoft,

Role assignment cannot be done via REST at the moment. Our teams are working to support this scenario, and our documentation will be updated accordingly when it will be done.

@NavtejSaini-MSFT you can go ahead and close this ticket.

[2020-08-16 07:33] DavidTrigano commented on #60078
@samueljamkhandi-MSFT many thanks for your feedback. Our engineers were able to save to storage account V1. We will update our documentation accordingly very soon.

@NavtejSaini-MSFT you can go ahead and close this ticket.

[2020-08-16 07:38] samueljamkhandi-MSFT commented on #60078
Thanks a lot @DavidTrigano and @NavtejSaini-MSFT for your timely help here.

[2020-08-16 07:51] cveld opened #60942 "scope is required with v2.0 devicecode flow"
I tried firing a v2.0 devicecode request without the `scope` parameter but this results in an error.

`POST https://login.microsoftonline.com/{tenant}/oauth2/v2.0/devicecode`
without `scope` parameter results in the following response:

[code]

I believe you need to change your documentation, specifically where is mentioned that the `scope` parameter is recommended, it actually looks like to be re

[2020-08-16 08:19] AnuragSharma-MSFT commented on #60940
@TexasNeo Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-16 08:37] sassdawe commented on #58010
Hi @shashishailaj, without any pressure or bad feelings: Is the assigned author @mialdrid working these days?
I guess I'm just a little bit confused why does approving my PR - which would fix this issue - take ~4 months. 🙁

[2020-08-16 08:55] JayaChatterjee-MSFT commented on #60871
@Wheeldo74 You can choose "Consumption Plan" when publishing in Visual Studio 2019. Yes you will select the "Specific Target" first then you'll get to select the "Functions Instance." For that, you can either select an already function app( running either in consumption/premium/app service) or you can create a new function.

Sharing the screenshots:
![image](https://user-images.githubusercontent.c

[2020-08-16 09:35] prajster opened #60947 "Azure container services doesnt have a virtual network"
on the Limitations section -point 5- you have mentioned ACR vnet?? are you referring to building a private endpoint from the cluster vnet to the ACR vnet.?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Creat

[2020-08-16 10:42] xolve opened #60948 "Minor improvements needed"
Some minor feedback here:

`Management groups per directory`  limit ->
What is a directory? It is assumed that its synonymous with some concept of file system, but what is "directory" in Azure is not made clear. I guess it is tenant in AAD. Is this limit on a region?

`Management group level deployments per location` limit -> The suprescript seems like 800 raised to power 2 :wink: Lets use somethi

[2020-08-16 10:51] captain-yossarian opened #60949 "Unable to see my DevOps organizations"
Hi,
Here is the link to [docs](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/create-organization?view=azure-devops#create-an-organization)

Steps to reproduce:
1) Click **Azure devOps organizations** in portal
![devops](https://user-images.githubusercontent.com/16646733/90332604-89fc1200-dfbe-11ea-8f96-7ec41882e110.png)

2) Click **My DevOps organizations**
![my_org](https:/

[2020-08-16 11:01] benjaminsmorgan opened #60950 "404 hyperlink"
You can also use the various Microsoft Cloud for Enterprise Architects Series posters to better understand the core identity services in Azure, Azure AD, and Office 365.

Embedded link 404s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278fd397-b3b7-5192-47ff-b5c9edfa44b4
* Version Independent ID: 9ca42ebd-4ff2-226f-

[2020-08-16 12:00] oceansv opened #60951 "Filter option disabled for custom metrics graph in metric explorer in application Insight"
I have a java spring boot app running in app service.
I am pushing my metrics "consumer_lag" with 3 custom dimensions in customMetrics table of applicationinisght.
In applicationinisght metric explorer UI ,
1) This consumer_lag metric is showing up in namepsace: "some custom namespace" and not under "log based metrics" metrics namespace , Is it by design or can i still see it in my regular logbase

[2020-08-16 12:05] RonnieQuan commented on #60933
I figured it out, posted in here for sharing.
For no proxy, you can set bypass local and/or bypass specific IP or hostname

bypass local
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/proxy-element-network-settings?redirectedfrom=MSDN

bpass IP or hostname
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/bypasslist-element-n

[2020-08-16 14:27] dabhadkarabhishek commented on #60867
Thanks Mayank. I was using wrong Connectionstring. Once I used correct one, issue is resolved.

[2020-08-16 14:27] #60867 closed

[2020-08-16 14:47] AshokPeddakotla-MSFT commented on #60652
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-16 14:47] #60652 closed

[2020-08-16 15:11] devang7273 opened #60952 "Create External Table, Error Msg110813 (Unknown type Timestamp at GetSqlTypeId.)"
Tutorial: Load Table to Azure SQL Data Warehouse
Trying to run the scripts and when I run the following I got an Error Msg 110813, Level 16, State 1, Line 1
Unknown type Timestamp at GetSqlTypeId.

CREATE EXTERNAL TABLE [dbo].[Appointmentreason]
(
	[CUSTOMERID] [decimal](38, 0) NULL,
	[APPOINTMENTREASONGUID] [nvarchar](36) NULL,
	[APPOINTMENTREASONID] [decimal](38, 0) NULL,
	[DEFAULTDURATIONMINUTE

[2020-08-16 15:14] devang7273 commented on #60952
Below is snowflake Structure & issue is in MODIFIEDDATE column:
![image](https://user-images.githubusercontent.com/69760331/90337603-90d05800-dfb1-11ea-829b-9b1e32a6a5cb.png)

[2020-08-16 15:27] RonnieQuan opened #60953 "Need More Info on App Service Plan VM Instances"
Can you please confirm the VM Instances for Premium, PremiumV2 App Service Plan are across multiple Availability Zones?

Behind scene, what resources are created by Azure in the app service plan? load balancer and vm scale sets across three zones?

Just want to be clear, I'm not asking ASE, I'm not asking SLA.

I just want to know if Azure App Service VM instances are across multiple AZs without u

[2020-08-16 15:32] SwathiDhanwada-MSFT commented on #60722
Assigning to content author @MGoedtel for review

[2020-08-16 15:58] RonnieQuan opened #60954 "Why we need to pin app service to a zone using ASE?"
Can you please help me to understand this feature?

What I need is zone redundancy to achieve high availability for app service.

Are we saying that the only option is to use ASE and pin the app service in a specific zone and create multiple app services in multiple zones.
Then use another zone aware load balancer service to sit in front of the ASE zonal app services?

What about the app services

[2020-08-16 16:14] webash commented on #60483
Its pretty crazy that a breaking change like this came down automatically via Windows Update. We didn't receive any kind of notification in advance that such a thing might occur. Thanks for adding the note, I think that might help other confused people in future.

[2020-08-16 16:31] SwathiDhanwada-MSFT commented on #60843
@D-Moonesinghe Azure Monitor Agent is implemented as an Azure VM extension and is currently only available for Azure Virtual Machines. In my opinion , I assume that the statement still holds true in current context.

Requesting content author @bwren to provide your inputs on the same?

[2020-08-16 16:40] SwathiDhanwada-MSFT commented on #60849
Assigning to content author @bwren for review and updating the document if necessary.

[2020-08-16 16:53] SeaDude commented on #60130
Very curious to hear a reply on this issue.

[2020-08-16 17:34] SwathiDhanwada-MSFT commented on #60862
@JohnRusk Updated document changes will be live soon. We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-08-16 17:46] shashishailaj commented on #60692
@mounirkam My apologies for the delayed reply on this. You are correct , this cannot be considered a guest scenario. As for your error , this will require detailed troubleshooting to understand why invitation redeeming process failed in this case. I would request you to open a support case with Microsoft support for this.

This is not possible, you cannot assign dynamics licenses to the guest user

[2020-08-16 17:46] #60692 closed

[2020-08-16 18:02] SwathiDhanwada-MSFT commented on #60837
@abhishekhotti I tried to reproduce the issue from my end and I was able to deploy the template without any issues.
![image](https://user-images.githubusercontent.com/48976275/90340798-49c97d80-e018-11ea-961a-9e4d9683e808.png)

![image](https://user-images.githubusercontent.com/48976275/90340837-767d9500-e018-11ea-8083-c52590550455.png)

Can you please elaborate if you have made any changes to the

[2020-08-16 18:28] nerajput1607 commented on #60567
![image](https://user-images.githubusercontent.com/60152525/90341284-ee998a00-e01b-11ea-94a0-8b179e03a62e.png)
The above architecture explains how data flows in qnamaker.
QnA Maker authoring layer is hosted in west-us, the behavior is same for portal(internally uses the same APIs) and APIs.
Only while doing the ingestion you data will be out of the Europe region temporarily till it gets stored in

[2020-08-16 18:34] rashi-ms commented on #60928
Hi,

I think the content being referred is part of an older version of the file. I cant find ay such issues in the current deployed version :
https://docs.microsoft.com/en-us/azure/migrate/concepts-migration-planning

Let me know if anything else is needed.

Thanks,
Rashi

From: Andres Urrutia <notifications@github.com>
Sent: Saturday, August 15, 2020 6:38 PM
To: MicrosoftDocs/azure-docs <azure-do

[2020-08-16 18:37] RonnieQuan opened #60957 "Front Door and App Service Integration"
I searched document under https://docs.microsoft.com/en-us/azure/app-service/
For global load balancing, I only found integration with traffic manger
https://docs.microsoft.com/en-us/azure/app-service/web-sites-traffic-manager

However based on architecture under other document page, for web traffic, front door is recommended load balancer to sit in front of app service.
https://docs.microsoft.com

[2020-08-16 18:41] joshibhu opened #60958 "Important note about "properties.eventHubEndpoints.events.endpoint" !!"
The following query "az iot hub show --query properties.eventHubEndpoints.events.endpoint --name <HUB-NAME>"
 returns an endpoint with  forward slash "/" at the end which in turn, if put directly (without removing it) into "eventHubsCompatibleEndpoint" property of "ReadDeviceToCloudMessages.js" file in "azure-iot-samples-node-master/iot-hub/Quickstarts/read-d2c-messages" node project,  gives "The

[2020-08-16 18:44] HarshitaSingh-MSFT commented on #60668
@simorocksTheBest, since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-08-16 18:44] #60668 closed

[2020-08-16 19:07] gorankuk opened #60959 "Missing Bastion subnet"
Interface on profal has been changed. You now have to define bastion subnet first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5508502b-91e9-3cd5-c976-23c9b9bac1af
* Version Independent ID: cf1a73b1-283f-fb88-ebf6-06d68143f5ec
* Content: [Quickstart: Create a public load balancer - Azure portal - Azure Load Balancer

[2020-08-16 19:09] jeevansd commented on #60221
#please-close

[2020-08-16 19:09] #60221 closed

[2020-08-16 19:26] RonnieQuan opened #60960 "Front Door TLS/SSL Offload"
Under this page
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#when-should-we-deploy-an-application-gateway-behind-front-door
It says,
With an Application Gateway behind Front Door, one can achieve 100% TLS/SSL offload and route only HTTP requests within their virtual network (VNET).

Could you please help me understand? Front Door has TLS/SSL offload feature, why it requires appl

[2020-08-16 19:29] BharathNimmala-MSFT commented on #60948
@xolve Thank you for sharing your feedback, we will look into it and get back to you at the earliest.

[2020-08-16 19:48] RonnieQuan opened #60961 "Application Gateway NOT Showing in Auzre Portal"
Can you please confirm if it's by design?

I'm able to select storage account, or app service backend pool, but application gateway does not show in the drop down, and I have created two application gateway in same subscription.

![image](https://user-images.githubusercontent.com/25850020/90342640-ce47dc00-dfd7-11ea-8e74-515d0155f674.png)

I can open support case if something wrong with my configu

[2020-08-16 19:55] SeaDude commented on #60130
Hi @jlichwa,
**RE: "...how is that a key vault loophole.":**
- Per my reasoning, only Service Principals listed in a Key Vault's Access Policy should be allowed to view Key Vault secrets in plain text.
- If there is an exception to this, it should be noted in the docs somewhere (hence this issue)
- In my example, Service Principal 3, who is not listed in the KV Access Policy, has access to Secrets

[2020-08-16 19:58] shashishailaj commented on #60107
@escstar Apologies for the delayed response. We have verified this . Yes , you can get the details in the Manifest of the application. The value **customKeyIdentifier** is the one which contains the exact **thumbprint** of the certificate.
the **value** field contains the exact certificate information. You can copy everything in the value field without the quotes and obtain the exact certificate w

[2020-08-16 19:58] #60107 closed

[2020-08-16 20:06] mike-urnun-msft commented on #60936
@jespli Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:08] mike-urnun-msft commented on #60938
@SachinRanka Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-16 20:09] mike-urnun-msft commented on #60939
@hecerinc Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-08-16 20:25] alisalih1 opened #60962 "Page needs to be addressed per Issue #21130"
ListLogger.cs test example on this page uses the same "_Nullscope.Instance_" - Which has been addressed on [Issue #21130](https://github.com/MicrosoftDocs/azure-docs/issues/21130)

The examples need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent

[2020-08-16 20:29] mike-urnun-msft commented on #60941
Hello @reveation-labs - Thank you for your feedback. Could you let us know which browser/version you're on? I'm able to see the download button on Chrome:
![image](https://user-images.githubusercontent.com/36717703/90343311-2248c580-dfc4-11ea-8a27-bd51fc9066ab.png)

[2020-08-16 20:30] mike-urnun-msft commented on #60942
@cveld Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:32] mike-urnun-msft commented on #60947
@prajster Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:36] mike-urnun-msft commented on #60949
@captain-yossarian Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:37] mike-urnun-msft commented on #60950
@benjaminsmorgan Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:39] zlaxe opened #60963 "What happened with Ruby and .Net Scripts"
[Enter feedback here]
What happened with Ruby and .Net Scripts, before some weeks there is a way to deploy templates with Ruby and .Net scripts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5c4c8c5-7757-a969-5800-17f2f2312649
* Version Independent ID: 9ced8dd5-43ca-6d1f-c054-842299db8327
* Content: [Use deployment sc

[2020-08-16 20:41] mike-urnun-msft commented on #60951
@oceansv Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:48] mike-urnun-msft commented on #60952
@devang7273 Thank you for sharing your feedback! Since this channel is for driving improvements towards MS Docs, could you provide us with a specific URL of the MS Doc that your feedback is most applicable to? That way, we're able to connect you with the right team that's best fit to address your feedback.

[2020-08-16 20:49] mike-urnun-msft commented on #60932
Glad to hear, @captain-yossarian! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-16 20:49] #60932 closed

[2020-08-16 20:51] mike-urnun-msft commented on #60953
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:52] mike-urnun-msft commented on #60954
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:55] mike-urnun-msft commented on #60957
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 20:58] mike-urnun-msft commented on #60958
@joshibhu Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 21:00] mike-urnun-msft commented on #60959
@gorankuk Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 21:05] mike-urnun-msft commented on #60960
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 21:10] mike-urnun-msft commented on #60961
@RonnieQuan Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 21:11] mike-urnun-msft commented on #60962
@alisalih1 Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 21:14] mike-urnun-msft commented on #60963
@zlaxe Thank you for your feedback! We will review and update as appropriate.

[2020-08-16 22:21] georgedavid29 opened #60964 "Automation Source Control doesn't work with Conditional Access enabled in Azure Devops"
Automation Source Control doesn't work with Conditional Access enabled in Azure Devops

Our conditional access policy is enabled to enforce MFA and restrict access for users to only our corporate IPs.
BUT, no other Azure product restricts inter Azure communication because of conditional access policy restrictions.

Ex: Exchange is restricted to our managed devices and corporate IPs, Microsoft flow

[2020-08-16 23:28] gibarila commented on #34826
@mj1856 Hi Matt, can you please update if your code works as expected? Thanks!

[2020-08-16 23:58] limingr opened #60965 "Would please describe what the final output is?"
I followed all the steps.  My output folder looks like below. It contains many files.  Each year is put into a separate file.
Is there a way to send the output to a single csv file?

![image](https://user-images.githubusercontent.com/46661232/90346863-5088ce00-dfe1-11ea-81d6-f0a277bd8638.png)

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-08-17 00:01] devang7273 commented on #60952
It is regarding SQL Data Warehouse - Polybase

https://docs.microsoft.com/en-us/azure/sql-data-warehouse/load-data-from-azure-blob-storage-using-polybase#create-external-tables-for-the-sample-data

I hope this will be enough.

Thanks

[2020-08-17 00:05] devang7273 commented on #60952
I think this is wrong place for my query.

Thanks,

[2020-08-17 00:05] #60952 closed

[2020-08-17 00:06] mj1856 commented on #34826
Hi, I had to make a few more adjustments, but got it working eventually.  I'm on vacation at the moment, but I'll send in a PR for this in the next few weeks.  Thanks.

[2020-08-17 01:28] KranthiPakala-MSFT commented on #60933
Thanks for sharing your findings @RonnieQuan . We will now proceed to close this thread.

Thank you.

[2020-08-17 01:28] #60933 closed

[2020-08-17 01:32] KranthiPakala-MSFT commented on #60965
@limingr Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 01:37] BharathNimmala-MSFT commented on #60964
@georgedavid29 Thank you  for your query, our team look into it and get back to you at the earliest.

[2020-08-17 02:22] superlzy commented on #60852
@jeevansd  I add `Alibaba Cloud Service(Role-based SSO)` applicaiton, and click set up saml sso.  In the default `Basic SAML Configuration` tab ,Reply URL is : `https://signin.alibabacloud.com/saml-role/SSO`.

Then I upload  SP metadata get from URI:https://signin.alibabacloud.com/saml-role/sp-metadata.xml, and I get the correct Reply URL  in `Basic SAML Configuration` tab.

My question is ,  the

[2020-08-17 03:04] AshokPeddakotla-MSFT commented on #60917
@so-rob Thanks for reporting this issue. Please remove one "}" from end of **deployment.amd64.json** file and save it. Hope this helps to resolve the issue. We will update the file.

[2020-08-17 03:08] so-rob commented on #60917
I tried it before I posted, it validates the JSON but it errors out when
Importing the manifest.

Thanks

Sent from my iPhone

On Aug 16, 2020, at 10:05 PM, AshokPeddakotla-MSFT <notifications@github.com> wrote:

﻿
CAUTION: This message originated from outside of the organization. Do not click links or open attachments unless you recognize the sender and know the content is safe.

@so-rob<https://

[2020-08-17 03:14] AshokPeddakotla-MSFT commented on #60917
@so-rob Could you share the error details? It would be great if you can provide screenshot of the issue.

[2020-08-17 03:17] 123Jun321 commented on #60727
Hi, @asergaz Thanks for your detailed explanation, I have another question yet, as we know that twin update contains Module update and device update, do they share the limit?

[2020-08-17 03:34] so-rob commented on #60917
[cid:98595204-4495-46E7-939D-920C8BD10537-L0-001]
[cid:3C02E9D2-2017-429F-A96D-4E240388B5AA-L0-001]
If you PleSe  look at the screen shot above I go on to click “replaced manifest” and uploaded the fixed json, it errors out and I am attaching the details too.

Sent from my iPhone

On Aug 16, 2020, at 10:14 PM, AshokPeddakotla-MSFT <notifications@github.com> wrote:

﻿
CAUTION: This message originat

[2020-08-17 03:39] reveation-labs commented on #60941
This is what I see when I go to Function App page in my azure account. I am using Chrome.

![image](https://user-images.githubusercontent.com/56284712/90355115-0ddeea00-e011-11ea-9371-f9226c9b89a2.png)

[2020-08-17 03:49] filipdimkin opened #60966 "Can't connect using RemoteDesktop client but can using WebClient"
For some reason when some of our users reset their passwords the RemoteDesktop client keeps bouncing back with a generic username or password is incorrect. However, when the user tries to login via the WebClient they can get in fine. It's almost as if the desktop client is caching credentials somewhere..

I've tried resetting user data within the app and then subscribing to our tenancy again but e

[2020-08-17 03:59] akki-s opened #60967 "Missing DNS entry for Microsoft partner center API (api.partnercenter.microsoft.com)"
Looks to me that Azure default DNS is missing a host entry for api.partnercenter.microsoft.com. Calls from my ASE and as well as VM in Australia Southeast are not working and give error saying host can not be resolved. I then switched to a custom DNS and it works.
Is this expected or a misconfig as partner center is a public API?

`nslookup` for the host name results in

[code]

---
#### Document

[2020-08-17 04:03] PramodValavala-MSFT commented on #60573
@shoubhikghosh83 I've tried your exact code just to be sure and can confirm that it works for me. Do make sure that the URL you are trying with is correct matching the pattern that you have provided.

[2020-08-17 04:06] PramodValavala-MSFT commented on #60573
@shoubhikghosh83 I've tried your exact code just to be sure and can confirm that it works for me. Do make sure that the URL you are trying with is correct matching the pattern that you have provided.

As far as the document here is considered, there seems to be no update required here, so we will now proceed to close this thread.

Also, please do note that this repository is primarily for addressi

[2020-08-17 04:06] #60573 closed

[2020-08-17 04:10] v-hagamp commented on #56856
please close the PR, resolved the issue here:_https://github.com/MicrosoftDocs/azure-docs-pr/pull/125485_  and it was merged.

[2020-08-17 04:17] v-hagamp commented on #55018
Please close this PR, resolved the issue here: _https://github.com/MicrosoftDocs/azure-docs-pr/pull/125322_

[2020-08-17 04:21] PramodValavala-MSFT commented on #60962
@alisalih1 the `Nullscope` here is in reference to the class that is defined as part of this doc.

[2020-08-17 04:22] VikasPullagura-MSFT commented on #60966
@filipdimkin
Thanks for your Question! We are currently investigating and will get back on this.

[2020-08-17 04:33] JadeCoding commented on #60633
@SatishBoddu-MSFT , I found the high-level root cause. I noticed when following https://docs.microsoft.com/en-us/azure/digital-twins/tutorial-code, the dependency package of Azure.Identity is the latest **v 1.2.0** , while downloading the complete solution from here: https://docs.microsoft.com/en-us/samples/azure-samples/digital-twins-samples/digital-twins-samples/
The dependency package of Azure.

[2020-08-17 04:37] BhargaviAnnadevara-MSFT commented on #60921
@oyyunttt We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-17 04:37] #60921 closed

[2020-08-17 04:50] ram-msft commented on #60654
Thanks for the feedback. @diberry could you please help with the description for "App schema definition".

[2020-08-17 04:59] ram-msft commented on #60666
@WashingtonKayaker  Thanks for the feedback.

The SDK defines a common declarative file for language recognition called a .LU file. LU files are simple markdown files which are easy to edit and capture the basic NLU concepts of intents, entities, labeled data, dictionaries, etc. The SDK provides a plugin to BF CLI which parses LU files and creates a LUIS model from it. Services like Power Virtual

[2020-08-17 05:07] SnehaAgrawal-MSFT commented on #60616
@RichardMcCormack Thanks for bringing this to our attention. Your feedback has been shared with the content owner @ccompy  for further review.

[2020-08-17 05:15] AshokPeddakotla-MSFT commented on #60917
I am not able to see the above screenshots. Could you please re-attach?

[2020-08-17 05:21] SubhashVasarapu-MSFT commented on #60967
@akki-s , Thanks for reaching out. We will investigate and update this thread.

[2020-08-17 05:28] SnehaAgrawal-MSFT commented on #60673
@mattchenderson Thanks for the update on this.
 @Francisco-Gamino  Thanks again for the valuable feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-08-17 05:41] SadiqhAhmed-MSFT commented on #60928
@andresu13 I hope the previous post helped answer your query. Let us know if there are any additional questions you have in this matter.

@rashi-ms Thank you for sharing the updated content.

[2020-08-17 05:41] konrad-jamrozik commented on #60830
@SnehaGunda I will make a PR, thanks!

[2020-08-17 05:44] AnuragSharma-MSFT commented on #60783
@zhangjiwen14 Could you please provide the stored procedure code too, that would help us in knowing the issue better?

[2020-08-17 05:46] Plasma commented on #33601
Hi @TravisCragg-MSFT I'm looking at AppGW and find it very confusing as well. Here's an example:

* Pricing page https://azure.microsoft.com/en-us/pricing/details/application-gateway/
It mentions _Capacity Unit_, with a per-capacity unit hour charge.

* Pricing on MSDN docs https://docs.microsoft.com/en-au/azure/application-gateway/application-gateway-autoscaling-zone-redundant mentions _Capacity

[2020-08-17 06:01] nyanhp opened #60969 "[51002d4a-d8de-53d1-2e78-cb0440f5f23e] Validation API calls return no reply"
When executing the code samples in the validation section, the reply remains empty. I use the following code to gather my subscription details. Please note that this returns an empty response with both the API version mentioned in the article as well as the API version published at <https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-support-resources#microsoftautomation>

[2020-08-17 06:07] SadiqhAhmed-MSFT commented on #60631
@Richiec76  We will now proceed to close this issue. Feel free to reach out to support for PS issue.

[2020-08-17 06:07] #60631 closed

[2020-08-17 06:12] so-rob commented on #60917
[Image.jpeg][Image.jpeg]

Saurabh Chimote

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, August 17, 2020 12:15:41 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chimote, Saurabh <schimote@undeerc.org>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL]-Re: [MicrosoftDocs/azure-docs] deployment.amd64.json structure se

[2020-08-17 06:18] bubbletroubles opened #60971 "Get-AzureADMSPrivilegedRoleSetting filters not working"
On the page https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles#retrieving-and-updating-role-settings it has the sample below.
[code]

When running it, it outputs an error as below.  It seems the parameter "ResourceID" is needed, but its not an accepted parameter on the command.

[code]

---
#### Document Details

⚠ *Do not edit this

[2020-08-17 06:24] vs268153 opened #60972 "Unable to receive Alert emails for more than 2 recipient using Azure security center"
Last Friday, we were able to received the alerts for 2 recipient, and if we increase the recipient list then the alert generated on the portal but unable to received an E-mail. Is this is the limitation of the security center.
Today, we are unable to receive the alerts for 2 recipient.

[2020-08-17 06:35] v-hagamp commented on #46763
Please close this PR, we resolved the issue in another PR which is merged now _https://github.com/MicrosoftDocs/azure-docs-pr/pull/125329_

[2020-08-17 06:35] v-hagamp commented on #46766
Please close this PR, we resolved the issue in another PR which is merged now MicrosoftDocs/azure-docs-pr#125329

[2020-08-17 06:38] KalyanChanumolu-MSFT commented on #60972
@vs268153 Thank you for reaching out.
Support on GitHub is limited to documentation issues only.

Please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) and use the tag **azure-security-center** for better visibility.
We have an active community of Azure enthusiasts and a dedicated team of Microsoft engineers actively helping fellow community members.

[2020-08-17 06:38] #60972 closed

[2020-08-17 06:39] audunsolemdal commented on #30986
A bit confused - could someone help me clear this up

Azure diagnostic logs in blob storage (via ILogger), throws exceptions and logs some of my app's operations as "Error". A Failed request is registered in app insights, yet no exception is recorded.

Usign telemetry.Trackexception(ex) explicitly works.

Am I understanding correctly that this is by design to not log "known" exceptions as exceptio

[2020-08-17 06:58] KrishnaG-MSFT commented on #60635
@JnHs Thanks for the insights. 👍

@andrewsturner783  Responsible feature / product team has confirmed the same that feature ask of custom RBAC roles is in current backlog and right now there is no timeline on the release. But has informed that this scenario will be added to the list of custom RBAC roles requirement. Meanwhile you may upvote the ask in above mentioned UserVoice feedback forum to pr

[2020-08-17 06:58] #60635 closed

[2020-08-17 07:00] RohitMungi-MSFT commented on #60899
@epomatti Normalized co-ordinates are calculated using the below methods for an area and the bounding boxes:

Normalized Left = Left / Width (in Pixels)
Normalized Top = Top / Height (in Pixels)
Normalized Bounding Box Width = (Right - Left) / Width (in Pixels)
Normalized Bounding Box Height = (Bottom - Top) / Height (in Pixels)

This SO [thread ](https://stackoverflow.com/questions/55970410/how-c

[2020-08-17 07:02] RohitMungi-MSFT commented on #60920
@DonQsec Could you provide more details of the issue you are facing the variables?

[2020-08-17 07:10] shashishailaj commented on #60971
@bubbletroubles Thank you for your query. We will investigate and update the thread.

[2020-08-17 07:17] HarshitaSingh-MSFT commented on #60733
@svickers, assigning this to author to add further details.

[2020-08-17 07:48] AlexFilipin opened #60975 "Definition of General purpose user authentication requests"
[Enter feedback here]
What are general purpose user authentication requests?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba59950e-72c3-be82-4338-523f7369db7f
* Version Independent ID: dd17834a-6530-7e52-b392-84456652d25e
* Content: [Azure Multi-Factor Authentication data residency](https://docs.microsoft.com/en-us/a

[2020-08-17 07:53] VikasPullagura-MSFT commented on #60966
@filipdimkin

Can you check this [link](https://support.microsoft.com/en-us/help/4026814/windows-accessing-credential-manager) for deleting the saved credentials (Windows Credential manager for stored credentials).

[2020-08-17 07:53] AlexFilipin opened #60976 "Is personal data stored for 30 or 90 days?"
[Enter feedback here]
The article says the data stores store data for 90 days but then it also says the personal data is stored for 30 days - please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba59950e-72c3-be82-4338-523f7369db7f
* Version Independent ID: dd17834a-6530-7e52-b392-84456652d25e
* Content: [Azu

[2020-08-17 07:55] HarshitaSingh-MSFT commented on #60625
@anomepani, as suspected/asked before, do you have Conditional Access enabled? Please note that those users won't show up in the report.

[2020-08-17 07:56] ushaq opened #60977 "Document is missing an important tip/step for adding application roles"
When you create an Azure web app, and configure it using Express settings, there is an additional step required of adding the application's URL in the allowed token audiences. If you don't do that additional step, then you run into 401 unauthorised errors when attempting to access the web app through a service principal, even though you are successfully able to generate an authentication token usi

[2020-08-17 07:59] AlexFilipin opened #60978 "Complete list of personal data possibly stored in US datacenters"
[Enter feedback here]
What is the complete list of personal data that may be stored in US datacenters (for EU customers)?

While the article says:
"Azure Multi-Factor Authentication doesn't log personal data such as username, phone number, or IP address, but there is a UserObjectId...."

It also says "...the following personal data is stored: OATH token, One-way SMS, Voice call, Microsoft Authenti

[2020-08-17 08:00] HarshitaSingh-MSFT commented on #60625
@anomepani , I also suspect that the users which are not showing up, are not MFA enabled. Is the MFA enforced? You may have some other configuration going on.

[2020-08-17 08:03] richardszalay opened #60980 "App Insights Sourcemaps security configuration"
The documentation for configuring this feature doesn't appear to work.

The documentation says:

But then when you use the feature, it has your browser access `https://(acc).blob.core.windows.net/sourcemaps/path/to/source.map` without an SAS. Since GETs to this domain will not bring across my Azure Portal session (it won't sends an `Authorize` header), it naturally fails. I've confirmed that the U

[2020-08-17 08:11] AlexFilipin opened #60981 "Log data location clarification"
[Enter feedback here]
What exact data store and personal data is the "log data location" section referring to? It's confusing looking at the other sections of the article assuming all mentioned data stores are actually log data.

Follow-up, is it guaranteed that log information is stored in EU datacenters for EU customers?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-08-17 08:11] AnuragSharma-MSFT commented on #60940
@TexasNeo From the description of issue, it looks like incorrect package has been downloaded and installed. While searching for the 'Microsoft.Data.SqlClient', the other one also shows up at the top. When we tried to install the correct package, we were able to locate it under references.

Only pre-requisite mentioned is **'When using NuGet 3.x this package requires at least version 3.4.'** which

[2020-08-17 08:12] AlexFilipin commented on #60978
Sorry I think that would be a duplicate for https://github.com/MicrosoftDocs/azure-docs/issues/58625 but no one did look at the other issue for a month.

[2020-08-17 08:15] akumaranchath opened #60982 "Correct typo in script name - RegisterKerbWithOauth.sh"
The script name is incorrect. It should be: "RegisterKerbTicketAndOAuth.sh"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf8f4d4-60e9-7eb6-0d77-0122c02588e1
* Version Independent ID: 5b9e2107-6da8-704e-458e-b0f9e543a076
* Content: [Authentication issues in Azure HDInsight](https://docs.microsoft.com/en-us/azure/hdin

[2020-08-17 08:16] Wheeldo74 commented on #60871
That's perfect. Thank you.

________________________________
From: JayaChatterjee-MSFT <notifications@github.com>
Sent: 16 August 2020 09:55
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Wheeldo74 <mwheeldin@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] "Azure Functions Consumption Plan" not an option. (#60871)

@Wheeldo74<https://git

[2020-08-17 08:24] zhangjiwen14 commented on #60783
I have solved this question already, which is my mistake with the
parameters.
Thanks for the reply.

2020年8月17日(月) 14:44 AnuragSharma-MSFT <notifications@github.com>:

[2020-08-17 08:33] SnehaAgrawal-MSFT commented on #60808
@motasem13hamad Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-08-17 08:44] Ogglas commented on #38914
Feature request here:

https://developercommunity.visualstudio.com/idea/1152209/azure-devops-build-pipeline-cant-get-secrets-from-1.html

[2020-08-17 09:01] Prasannaraju5590 commented on #60872
@shashishailaj Screenshot mentioned on the document is not updated with the current options.

Self Service Group Management:
Owners can manage group membership requests in the Access Panel
Restrict user ability to access groups features in the Access Panel.

Security Groups:
Users can create security groups in Azure portals

Office 365 Groups:
Users can create Office 365 groups in Azure portals

[2020-08-17 09:03] HarithaMaddi-MSFT commented on #60982
@akumaranchath - Thanks for sharing valuable feedback. I am assigning this issue to the content owner to look into the details.

@hrasheed-msft - Can you please take a look ?

[2020-08-17 09:05] SnehaAgrawal-MSFT commented on #60829
@sergioadofaci Thanks for reply! If I have understood right, you want to configure a Custom Linux container for Azure App Service, If so you may refer this document here for more description on this https://docs.microsoft.com/en-us/azure/app-service/configure-custom-container#enable-ssh

Hope this helps.

[2020-08-17 09:09] psmanhas commented on #60847
@berndbausch Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-17 09:09] #60847 closed

[2020-08-17 09:10] psmanhas commented on #60848
@berndbausch
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-08-17 09:10] #60848 closed

[2020-08-17 09:13] shashishailaj commented on #60981
@AlexFilipin Thank you for your query. We will engage with the content authors and have this query addressed.

[2020-08-17 09:14] shashishailaj commented on #60978
@AlexFilipin We apologize for the delay on this and will try to expedite this internally , We will update the progress on this.

[2020-08-17 09:17] SnehaAgrawal-MSFT commented on #60833
@samgladstone Thanks again for raising this! Your feedback has been shared by content owner @cephalin for further review and update the document as appropriate.

[2020-08-17 09:17] shashishailaj commented on #60976
@AlexFilipin We will have this clarified with the engineering and update the thread.

Thank you.

[2020-08-17 09:19] shashishailaj commented on #60975
@AlexFilipin Thank you for your query. We will verify this and update the thread.

[2020-08-17 09:27] shashishailaj commented on #60977
@souravmishra-msft Thank you for your feedback . We will investigate and update the thread.

[2020-08-17 09:28] SnehaAgrawal-MSFT commented on #60726
@XUTProf Thanks again! Your feedback has been shared by the content author @ccompy to review further and update the document as appropriate.

[2020-08-17 09:58] TexasNeo commented on #60940
Thank you, that fixed it.

On Mon, Aug 17, 2020 at 3:11 AM AnuragSharma-MSFT <notifications@github.com>
wrote:

[2020-08-17 10:18] AnuragSharma-MSFT commented on #60783
@zhangjiwen14 Glad it worked out for you.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-17 10:18] #60783 closed

[2020-08-17 10:19] AnuragSharma-MSFT commented on #60940
@TexasNeo Glad it worked out for you.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-17 10:19] #60940 closed

[2020-08-17 10:24] SogoGolf opened #60986 "Please add information on how to deploy a function app via CI to a STAGING slot"
I'm currently using CI via Github to deploy an Azure Function App. This works fine. However, the updated function app is deploying straight into the PROD staging slot (!). Where/how can I set things up to ensure that the CI goes in the non-production slot ? (we call our second slot "testing"). There is nothing describing this in the documentation. Also if this feature is not available can you plea

[2020-08-17 10:30] anomepani commented on #60625
Yes conditional policy enabled and enforce mfa.

If enforce mfa user doesn't available in report then what is meaning of this reporting.  Organization with 1k,  10k and many more like Microsoft how they get reports for mfa registered vs not registered?

How to get exact report for users registered with enforce mfa using conditional policy.

[2020-08-17 10:33] SnehaAgrawal-MSFT commented on #60754
@eavonius Thanks for reply!  To mount an Azure Files Share to a directory in your App Service app there are below pre-requisites for it.
•	[An existing Windows Container app in Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-custom-container?pivots=container-windows)
•	[Create Azure file share](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use

[2020-08-17 10:42] castanedakr commented on #35923
Hi, any update on this feature? This is essential in enterprise environments.
Thanks.

[2020-08-17 10:50] JasperCQC opened #60987 "Unable to include (escaped) commas in synonym definition via PUT/POST API calls."
When trying to create a synonym definition with PUT/POST API calls in Azure Cognitive Search, it does not support escaping of commas in synonym definition using standard solr escape character syntax.

E.g. I wish to do this:
PUT https://[service name].search.windows.net/synonymmaps/[synonymmap name]?api-version=[api-version]
{
    "format":"solr",
    "synonyms": "Mills\, Erland and Taub\'s Publis

[2020-08-17 10:58] hraz-msft opened #60988 "Lake of `RemoteConversationTranscriptionClient` in C#"
In the last section "Sample transcription code", you have `RemoteConversationTranscriptionClient` in the C# code sample, while this class is not exists in the latest SDK (v1.13)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 160b2cf3-d4c4-8033-d01f-c9e35df389cc
* Version Independent ID: bee5bbbe-9371-3a51-bbfc-4ad73986

[2020-08-17 11:27] TheEvilDoctor opened #60989 "Explain how to set up a break glass account without the SSPR login requirement"
This document needs to explain how to create the account without the requirement for SSPR (email/phone).  Currently after the account is created, Azure login demands SSPR is set up, but our/many organisation(s) wouldn't have a dedicated email/phone available for this.  Therefore we need to understand how to bypass SSPR for **this account only**.
Alternatively, make the Cancel link within the SSPR

[2020-08-17 11:31] akki-s commented on #60967
I've raised this with support and it looks like to be an isolated issue with the virtual network I'm using. I'm not sure what's wrong, but if change the DNS to use Google's DNS server instead of the default Azure DNS it works.

[2020-08-17 11:35] MayankBargali-MSFT commented on #60864
@JohnMcAvinue Just following up here. Hope my previous comment clears things up.

[2020-08-17 12:02] JayaChatterjee-MSFT commented on #60871
@Wheeldo74 Thank you for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-17 12:02] #60871 closed

[2020-08-17 12:15] StevenTCramer opened #60991 "Delete directory changed to delete tenant"
Step 17 says Delete directory

I think now it is "Delete tenant"

[Enter feedback here]
![image](https://user-images.githubusercontent.com/357219/90394979-dbd79180-e0bd-11ea-8dc3-62af650b3f2e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5e148d-b7cf-92e7-4cc7-a65d20d037b6
* Version Independent ID: 2ba6e31b-5899

[2020-08-17 12:21] AshokPeddakotla-MSFT commented on #60541
@PingPongSet  I tried to reproduce your issue and couldn't succeeded.  Looks like an issue with truffle. This would require further investigation to find out the root cause.
Please send an email to azcommunity@microsoft.com with the below details, we will work closely on this matter.

Thread URL: #
Your Subscription ID:
Email Subject: Attn Ashok Peddakotla

Please let me know once you have done th

[2020-08-17 12:22] neljo opened #60992 "SSH Command Incorrect"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33cf041a-95dd-6332-52bf-6a71d3767bb8
* Version Independent ID: 96efc8cf-53e0-8a1c-fcf2-122f1b50b152
* Content: [Use SSH keys to connect to Linux VMs - Azure Linux Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ssh-from

[2020-08-17 12:30] PramodValavala-MSFT commented on #34826
@mj1856 Thanks for sharing this!

I still believe this won't support scaling out on Azure because the scale controller won't be able to use MSI to check for messages before it decides to scale out. @brettsam Could you confirm?

**_But_** this indeed is a way to get it to work on the dedicated plans or in a container I suppose.

[2020-08-17 12:32] StevenTCramer opened #60993 "Subscription section isn't there"
Step 6 in Create a directory

Should be "Create a tenant"

And looks like

![image](https://user-images.githubusercontent.com/357219/90396401-599c9c80-e0c0-11ea-8f48-a978662e02f4.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 588fc4d6-0c4d-297d-cfe1-8562728fdc4d
* Version Independent ID: cf117c91-90fa-036b-9763-a3

[2020-08-17 12:34] alisalih1 commented on #60962
It still doesn't work if you follow the examples given on the page. I'd recommend checking the consistency of the examples in a fresh environment. VS does complain about that Nullscope.

[2020-08-17 12:37] diberry commented on #60666
@aliciaep Please review and comment.

[2020-08-17 12:38] diberry commented on #60654
#in-progress

[2020-08-17 12:45] piotrgwiazda opened #60995 "Please provide documentation on how to set a Service Principal as an AD Administrator"
Please provide documentation on how to set a Service Principal as an AD Administrator. I want to have this managed via Terraform. I was able to set a Service Principal object ID as an AD Administrator for PostgreSQL.
I was, however, unable to authenticate using the service principal.

I've tried
[code]
The last step failed with password authentication error.

Is it possible to use the Service Prin

[2020-08-17 13:06] akki-s commented on #60967
So, I tried it from a VM in a new virual network and it works fine. However, from the VM deployed in the virtual network that is used by the ASE it does not work. I do not think a setting in the vNet would be causing this. If there were an issue with the vNet, it should not have worked for other domains as well, or not work with the third party DNS services.

Issue only comes if using Azure DNS to

[2020-08-17 13:12] andrewpwade opened #60996 "Clarify exactly how data is copied from Xero"
Hello,

I was wondering it the docs (or someone here) could clarify if, when copying journals (a potentially very, very large data set), is there some 'If-Modified-Since' behaviour going on behind the scenes, to not retrieve data over and over between executions?

(This speeds up the sync and reduces the number of API requests, which is useful, as Xero has a limit of 5000/day. For reference, my co

[2020-08-17 13:20] AnuragSharma-MSFT commented on #60995
@piotrgwiazda Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-17 13:23] bertrandpons opened #60997 "TunnelDiagnosticLog - Query not recognized"
Hello,

The query proposed in the documentation to monitor the virtual network gateway is not recognized (even when I wait a couple of hours for the data to show up).

Here is the query:
[code]
The operators  _remoteIP_s_ and _status_s_ are not recognized.

Could you please help on this?

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-08-17 13:24] mikkolaakko opened #60998 "Documentation for optional parametes"
Can you provide a link and more documentation for optional parameters.

For example, my network administrator has created a resource group and a virtual network with two subnets. I need to install ARO in a different resource group. I noticed there is an option --vnet-resource-group but it is not very clear if I can use VNet that is not in the same resource group as ARO. It is not clear what roles

[2020-08-17 13:28] thelethalkind opened #60999 "Slight tweaking in script"
This is a small thing but in the script to rollover the cluster certificate, there are these lines:

[code]

$newVaultCertificate doesn't exist anywhere else in the script and I'm guessing it should be $certConfig instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc8f7af4-e186-8d96-588d-5019de461b04
* Version Ind

[2020-08-17 13:28] RohitMungi-MSFT commented on #60988
@hraz-msft Could you please check if the removeconversation nuget package is installed too? This should be available in the nuget gallery [here](https://www.nuget.org/packages/Microsoft.CognitiveServices.Speech.Remoteconversation/).

[2020-08-17 13:29] aelmanaa opened #61000 "ASE: debug DNS & network in Linux service plans"
Hello,

I ve deployed a ASE ILB and a linux service plan for containers. I've connected to the kudu bash console in order to check DNS using this documentation as reference: https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#customer-dns

I cannot find any dns function: nameresolver, nslookup, dig...

"/home>nameresolver
bash: nameresolver: command not found"

I guess name

[2020-08-17 13:30] SnehaAgrawal-MSFT commented on #60986
@SogoGolf Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-17 13:32] SnehaAgrawal-MSFT commented on #60987
@JasperCQC Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-17 13:33] SnehaAgrawal-MSFT commented on #61000
@aelmanaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-17 13:35] HarithaMaddi-MSFT commented on #60996
@andrewpwade - Thanks for sharing your feedback. This is currently unavailable in Azure data factory with Xero connector as per my understanding. This can be submitted as an idea in the[ feedback forum](https://feedback.azure.com/forums/270578-data-factory). I am sending it to content owner to confirm my understanding and share their thoughts on the same.

@linda33wj - Can you please take a look a

[2020-08-17 13:44] briangeller opened #61002 "Education Enterprise Agreement"
This KB talks about Enterprise Agreement and Education accounts in separate sections but does not address which section applies when the account is an Education Enterprise Agreement.  Would outbound SMTP traffic be allowed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027fa865-2329-23de-3740-cfbe35359302
* Version In

[2020-08-17 13:47] KrishnaG-MSFT commented on #60969
@nyanhp Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-17 13:53] VikasPullagura-MSFT commented on #60999
@thelethalkind Thanks for the feedback. The doc is updated and changes will go live soon.

[2020-08-17 14:09] epomatti commented on #60899
@RohitMungi-MSFT thanks. It troubles me that there are many formats for coordinates out there but no standard. If someone has lots of images and labels and wish to switch platforms they will have to deal with conversions or relabeling everything.

Anyways, it is possible to extract CV portal coordinates using the SDK, so that's good.

[2020-08-17 14:09] #60899 closed

[2020-08-17 14:13] jihu opened #61003 "More indepth technical troubleshooting options should be made available"
There really should be some more indepth technical troubleshooting options made available. Surely there are some log files somewhere? Instead of following some generic "First try this, then check that..." guide, the Application Gateway should be able to tell us specifically what went wrong. If a 502 error occurs, one should be able to see that error in some log file, with detailed information abou

[2020-08-17 14:26] bwren commented on #60843
The statement is still completely relevant. Azure Monitor agent also has an extension that you use to install and manage the agent just like the other agents, so that statement also applies to Azure Monitor agent. And it's only in early public preview. It will be sometime before the others are no longer supported.

#please-close

[2020-08-17 14:26] #60843 closed

[2020-08-17 14:29] felickz opened #61004 "RBAC - Configure privileged access group settings (preview) in Privileged Identity Management"
Documentation states that a `user in the Privileged Role Administrator role` should have access to edit a group role settings.  The only way i can get the EDIT button to activate is to elevate to a higher privileged role (GA).

![image](https://user-images.githubusercontent.com/1760475/90407414-7f9c4f80-e074-11ea-8161-ad9c9f41cc6f.png)

My permissions:
![image](https://user-images.githubuserconten

[2020-08-17 14:35] wjia7 commented on #60667
problem solved. the CentOS version I was using was too old. once updated it to 7.8 it worked.

[2020-08-17 14:35] #60667 closed

[2020-08-17 14:35] SadiqhAhmed-MSFT commented on #60832
@shekhag What is the scenario ? Is it a merger or renewal ? As far as I can tell, the answer to both your questions is yes for renewals. All the roles get mapped on the destination EA when enrollment is renewed.

Let me know if there are any other questions that needs more clarification.

[2020-08-17 14:37] felickz commented on #61004
FYI @curtand

[2020-08-17 14:45] kobulloc-MSFT commented on #60991
@StevenTCramer Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-08-17 14:46] psmanhas commented on #60992
@neljo Thank you for your query.Can you help me understand what exactly is the issue you encountered which will help me to assist you better. I tried running the command as mentioned in the article and I was able to successfully generate the keys as below:
![image](https://user-images.githubusercontent.com/35990743/90408799-fb72b800-e0c5-11ea-8bf2-c952a6e816e9.png)

Do let me know in case of any q

[2020-08-17 14:48] AshokPeddakotla-MSFT commented on #60727
Yes, it includes both device and module updates.

Hope that answers your query.

[2020-08-17 14:50] AshokPeddakotla-MSFT commented on #60917
Sorry! I am still seeing as below.

![image](https://user-images.githubusercontent.com/44426435/90409572-f7936580-e0c6-11ea-9030-f6d3c67acce0.png)

If you are responding via email, request you to reply in the Github and attach images,

[2020-08-17 14:51] NavtejSaini-MSFT commented on #60078
@samueljamkhandi-MSFT We will going ahead and closing this feedback for now. Thanks for the feedback.

[2020-08-17 14:51] #60078 closed

[2020-08-17 14:54] so-rob commented on #60917
Perhaps a OneDrive link would work?

Saurabh Chimote

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, August 17, 2020 9:50:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chimote, Saurabh <schimote@undeerc.org>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL]-Re: [MicrosoftDocs/azure-docs] deployment.amd64.json st

[2020-08-17 14:54] so-rob commented on #60917
https://undeerc-my.sharepoint.com/:f:/g/personal/schimote_undeerc_org/Esz38qGlpYpAs5pMpbsWgtwBTT8OdWEajR-1Mzc4-i19fA?e=nwCzHJ

Saurabh Chimote

________________________________
From: AshokPeddakotla-MSFT <notifications@github.com>
Sent: Monday, August 17, 2020 9:50:24 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Chimote, Saurabh <schimote@undeerc.org>; Mention <mention@norep

[2020-08-17 14:55] blhoop opened #61006 "Installation guide for Linux AWS VMs - UnifiedAgentConfigurator.sh not listed"
After downloading the MobSvcInstaller tarball, then running the installer. I am unable to locate the UnifiedAgentConfigurator.sh file to finish the Linux Mobility Service setup.
![image](https://user-images.githubusercontent.com/21106728/90410042-7fe61c00-e06f-11ea-8b5f-e1801ff6e10f.png)

Is there a location I can manually download the file and run?

---
#### Document Details

⚠ *Do not edit this

[2020-08-17 14:57] blhoop commented on #61006
![image](https://user-images.githubusercontent.com/21106728/90410349-e10def80-e06f-11ea-94bd-4c0e2ca918f3.png)

Sorry the image did not load correctly the first time.

[2020-08-17 14:57] NavtejSaini-MSFT commented on #60411
@mihsoft We will go ahead and close this feedback for now. The documentation will be available once the feature is available.
You can also raise this feedback here - https://feedback.azure.com/forums/217321-sql-database. Product team has full access to this and can prioritize new features based on this.

[2020-08-17 14:57] #60411 closed

[2020-08-17 15:07] davidsmatlak commented on #60890
@stbof thank you for the documentation feedback. I submitted the fix for this issue and when it merges, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2020-08-17 15:07] KranthiPakala-MSFT commented on #60980
@richardszalay Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate

[2020-08-17 15:10] KranthiPakala-MSFT commented on #60993
@StevenTCramer Thank you for reaching out. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-17 15:11] KranthiPakala-MSFT commented on #60989
@TheEvilDoctor Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-17 15:13] samsil opened #61007 "ADALError to MsalException ErrorCode documentation seems missing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f3073d5-376e-44af-6057-79019456b3f5
* Version Independent ID: bf455a28-2792-e1ce-ba03-e86ded9947cc
* Content: [ADAL to MSAL migration guide for Android](https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-android-adal-msal)
* Cont

[2020-08-17 15:13] kobulloc-MSFT commented on #60991
@StevenTCramer Thank you again for bringing this to our attention and helping us improve the documentation!  This has been updated and the changes should go live shortly.

[2020-08-17 15:14] taromielnaz opened #61008 "ADR usage"
Hello,
Is this document talking about Azure infrastructure design or the practices a user should do on their resources on Azure?
Thank you
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825ecf0-9d63-29be-8e8a-aab285a53c7a
* Version Independent ID: 4e25d0f7-56b5-3229-89d8-7509264647a5
* Content: [

[2020-08-17 15:15] dubnemo opened #61009 "GET operation example needed, e.g., retrieve JSON payload /Document from Cosmos DB"
[Enter feedback here]
Since this page was under Request / Response, wouldn't it be better to focus on a synchronous GET operation than a POST operation?  For example, the documentation is not clear how to retrieve query parameters from a URI?  It seems by importing an OpenAPI spec, you would have the ability to retrieve the parameters and reference them.
One could then formulation Cosmos SQL via t

[2020-08-17 15:23] SatishBoddu-MSFT commented on #60633
@JadeCoding Thanks for the confirmation, we have already escalated this to PG team on 08/14/2020, they are actively working on this issue. We will see updates soon. sorry for any inconvenience caused.

[2020-08-17 15:23] TomGeske commented on #60461
@crgarcia12: are you referring to private endpoint traffic?

[2020-08-17 15:25] hraz-msft commented on #60988
I wasn't aware to this this nuget. Thank you!

[2020-08-17 15:25] #60988 closed

[2020-08-17 15:26] eavonius commented on #60754
So basically we can't mount Azure file shares to App Services unless
they're deployed from Docker?

Is that correct? Does Microsoft have a solution for offering file share
access to App Services that aren't in Docker images, or is that the only
way?

Thank you,

Jayme

On Mon, Aug 17, 2020 at 5:34 AM SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2020-08-17 15:27] NavtejSaini-MSFT commented on #61008
@taromielnaz We are checking this and will get back to you.

[2020-08-17 15:27] BharathNimmala-MSFT commented on #60879
@SteveStraleyAstute Apologies again for your experience and thanks for sharing your feedback. I have assigned this issue to our document author to further look into it.

[2020-08-17 15:27] JamesTran-MSFT commented on #61007
@samsil
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-17 15:29] chris92109 opened #61011 "Steps are in the wrong order"
Step "Create a private registry endpoint" is done before a Azure Container Registry is created. Hence ID is unknown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e01945a-5892-a416-716f-c499f110586c
* Version Independent ID: e2aef346-266f-3e69-842d-58004084609b
* Content: [Set up private link - Azure Container Regist

[2020-08-17 15:30] davidsmatlak commented on #60890
#please-close

[2020-08-17 15:30] #60890 closed

[2020-08-17 15:30] #60795 closed

[2020-08-17 15:31] TomGeske commented on #60947
The other way around.

If you need a private connection to your ACR check out [this article](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link)

[2020-08-17 15:34] Mlavieri commented on #60592
Thank you, any progress on this?

[2020-08-17 15:38] #60942 closed

[2020-08-17 15:43] JayaChatterjee-MSFT commented on #61009
@dubnemo Thank you for your feedback! We will review and update as appropriate.

[2020-08-17 15:46] DerekHerman-MSFT commented on #60926
@tastyeggs
I believe this page contains the information you are looking for. https://docs.microsoft.com/en-us/rest/api/storagerp/blobcontainers/createorupdateimmutabilitypolicy

Hope this helps, if not please let me know.

[2020-08-17 15:49] markwolff commented on #60980
Upon clicking unminify, it was access your blob storage account via an Authorization header. I don't recall this being done during configuration, only when fetching a blob.

[2020-08-17 15:51] SaurabhSharma-MSFT commented on #61004
@felickz Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-17 15:55] SaurabhSharma-MSFT commented on #60711
@SB-o-matic You can customize the page strings using the approach mentioned in the document - [Localize the user interface of your application using a custom policy in Azure Active Directory B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-localization).  Also, refer to [Localization string IDs](https://docs.microsoft.com/en-us/azure/active-directory-b2c/localization-

[2020-08-17 15:57] stevestein commented on #44526
@amthomas46 - thanks for raising this issue. I removed 'v12' from the image.

Thanks!

#please-close

[2020-08-17 15:57] #44526 closed

[2020-08-17 16:02] alex-frankel commented on #60963
Hi @zlaxe - we removed these about a year ago as they were not maintained. You can still create deployments via Ruby and C#, but the portal will no longer generate a script in those languages for doing so.

Ruby SDK for Microsoft.Resources/deployments: https://rubygems.org/gems/azure_mgmt_resources
C# example: https://github.com/Azure-Samples/resources-dotnet-deploy-using-arm-template/blob/master/

[2020-08-17 16:13] mmacy commented on #61007
@hamiltonha Haley, as @samsil calls out, it seems we have an empty [ADALError to MsalException ErrorCode](https://docs.microsoft.com/azure/active-directory/develop/migrate-android-adal-msal#adalerror-to-msalexception-errorcode) section in this doc - looks like it was missed on initial publish. Assigning over to you for investigation: #reassign:hamiltonha

Instead of filling out that section, thoug

[2020-08-17 16:14] kobulloc-MSFT commented on #60991
@StevenTCramer We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-17 16:14] #60991 closed

[2020-08-17 16:21] SnehaAgrawal-MSFT commented on #60777
@ndeusch @michael-mansour Could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-08-17 16:22] jeevansd commented on #46763
#please-close

[2020-08-17 16:22] #46763 closed

[2020-08-17 16:25] StevenTCramer commented on #60991
@kobulloc-MSFT  Super quick response.  Thanks much!

[2020-08-17 16:32] kobulloc-MSFT commented on #60991
@StevenTCramer You're welcome, Steven!  Thank you for helping us improve the docs!

[2020-08-17 16:36] MYTA1802 opened #61013 "MT"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32d2dba7-995d-5c0e-bd79-7f10e42ddfb7
* Version Independent ID: 1844b48e-023a-d1d2-e202-097cf77f12ec
* Content: [Register using CSP Partner information with Cloudyn in Azure](https://docs.microsoft.com/en-us/azure/cost-management-billing/cloudyn/quick-

[2020-08-17 16:36] #61013 closed

[2020-08-17 16:40] tmcquate opened #61014 "Sync_ account MFA warning"
I feel that it would be wise to add a warning about enforcing MFA on this account (Azure AD Connector account), as it will break the synchronization altogether.  Customers will see Event ID 906 with the following context: GetSecurityToken: unable to retrieve a security token for the provisioning web service (AWS). Showing a modal dialog box or form when the application is not running in UserIntera

[2020-08-17 16:47] SatishBoddu-MSFT commented on #60519
@dbuskirk Thanks for the confirmation, We will update you soon.

[2020-08-17 16:52] memildin commented on #58627
Hi @KoprowskiT

Regarding your first question, yes all instances will start running. Since instances are under servers, we are talking one resolution higher and we're not planning to extend the doc beyond that.

Regarding your second point, the SQL server instance, yes we'll add that info here. In the next refresh of this page.

Thanks for taking the time to help us improve this page.

#please-clo

[2020-08-17 16:52] #58627 closed

[2020-08-17 16:54] rlevchenko opened #61015 "Azure Key Vault firewall blocks Container Registry deployment"
If you have Azure Key Vault with firewall enabled (private endpoints + selected networks + allow azure services) and trying to add Container Registry with customer-managed keys, you are getting the following error during the deployment:

`Failed to access KeyId 'https://xxx.vault.azure.net/keys/dfddd/1e355bccxxxab8ea6957'. Verify that identity '0799bf0c-a8e6-4a74-aad0-59exx3c733' has 'Get, Wrap Ke

[2020-08-17 17:04] Tapasgt opened #61016 "Not able to create Master Key"
Hi,
Not Able to create master key. need support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b415b140-12fa-f613-29c5-4aee3904d4bd
* Version Independent ID: 73e88688-5e6d-c69c-28d1-5a036789c494
* Content: [Tutorial - Perform ETL operations using Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/scena

[2020-08-17 17:12] mlottner commented on #60248
Hi @MikeWilcoxMicrosoft ,

Thanks for taking the time to comment on our product docs!
Currently researching with the engineering team to get you a more complete answer.
For now, SSH will not trigger the local alert. Any login event sent by the security agent that does not contain a remote address is interpreted as a Local Login such as an actual Linux console. However, I'm working to clarify exact

[2020-08-17 17:12] #60248 closed

[2020-08-17 17:12] shashishailaj commented on #60785
@arunpnair We have initiated a pull request to update this to the correct link and its with the content authors. Once its approved it will be available in the documentation within next 48 hours. Just for your information the deployment link is https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/nginx-pod-inline-volume-service-principal.yaml and the SecretProviderC

[2020-08-17 17:12] #60785 closed

[2020-08-17 17:13] mattchenderson commented on #60874
Ah, right. That approach is certainly better off. It takes over the orchestration. There can still be some weirdness, but much less-so. I haven't reviewed that particular text but have talked with the authors. I had thought they kept the version string present though. I'll look into it.

Regardless, I'm hoping we have this resolved soon where the feature supports versionless fully out of the box.

[2020-08-17 17:14] AshokPeddakotla-MSFT commented on #60695
Thanks for the confirmation. Adding author @robinsh for further clarity.

[2020-08-17 17:14] WinstonHoward-MSFT commented on #61011
Hey @chris92109, thanks for opening this issue. Creating an Azure container registry is part of the prerequisites for this doc.
![image](https://user-images.githubusercontent.com/69328460/90424014-4662e000-e072-11ea-9b5b-3204e09f0378.png)

If you need help creating a container registry please look at this doc, https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started

[2020-08-17 17:16] aramase opened #61017 "Updates for Secrets Store CSI Driver on Kubernetes"
We should also mention the need to have 1.18+ Kubernetes version for Windows clusters.

The `use this template` link is broken. It needs to be updated to https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/examples/v1alpha1_secretproviderclass_service_principal.yaml

This is not right. This is the `clientID` of the user assigned identity. All the fields are documented here

[2020-08-17 17:16] aramase commented on #61017
cc @shashishailaj

[2020-08-17 17:22] WinstonHoward-MSFT commented on #57404
Hey, did the comment above answer your question, @porrascarlos802018? Let us know.

[2020-08-17 17:28] zr-msft commented on #60947
Thank you @prajster for the feedback and @TomGeske for answering the question.

#please-close

[2020-08-17 17:28] #60947 closed

[2020-08-17 17:29] zacabrer opened #61018 "Bad variable in PowerShell start/stop script"
FAQ Section: How can I stop and start Azure Firewall?
Link: https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#how-can-i-stop-and-start-azure-firewall

Issue: When running the PowerShell script to START the AzFW, we receive an error:
`MethodInvocationException: Exception calling "Allocate" with "2" argument(s): "Object reference not set to an instance of an object."`

Error cause: a vari

[2020-08-17 17:31] mgblythe commented on #60841
#please-assign @santhoshsomayajula

[2020-08-17 17:32] shashishailaj commented on #61017
@aramase Thank you for your insights. I will have this reviewed with the content team and then update the document after that. In case of issues I will reach out to you offline.

[2020-08-17 17:33] SaurabhSharma-MSFT commented on #60636
@hokiejane We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-08-17 17:33] #60636 closed

[2020-08-17 17:42] cephalin commented on #49970
Updated. #please-close

[2020-08-17 17:42] #49970 closed

[2020-08-17 17:44] bwren commented on #59818
@craig-martin Sorry this took some time. There was a change made that we missed. The Data Collector API is adding the table using the same API as custom logs, so it's adding Computer and RawData columns to the new workspace. I originally tested on a workspace that I created before that change. I'm going to add those properties to our standard properties article.

#please-close

[2020-08-17 17:44] #59818 closed

[2020-08-17 17:52] SnehaGunda commented on #60830
@konrad-jamrozik Thank you for your time! please continue to contribute to our docs. We will close this issue now.

#please-close

[2020-08-17 17:52] #60830 closed

[2020-08-17 17:56] husamhilal opened #61019 "RBAC Permissions for the KeyVault used for Disk Encryption"
I have a question about "Azure Disk Encryption" that I couldn't find any documented answer for. **Does the principal (user) who is deploying ARM template that has Disk Encryption Extension _need to have "Reader" access_ to the KeyVault where the KEK is stored?**

This is a reference to the error, considering the Access Policy "Enable Access to: Azure Disk Encryption for volume encryption" is alrea

[2020-08-17 17:59] iainfoulds commented on #60976
Thanks for the feedback, @AlexFilipin

As the doc states, there are data stores that contain general product usage information, without specific user object tracking information. Those data stores are retained for 90 days.

Separately, specific log data that does include a UserObjectId is stored for 30 days.

#please-close

[2020-08-17 17:59] #60976 closed

[2020-08-17 18:01] vlado101 commented on #60637
Hello,

Just wanted to follow up on this.

[2020-08-17 18:04] ChaitanyaNaykodi-MSFT commented on #43964
@hendriksteinhorst, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your response and we will gladly continue the discussion.

[2020-08-17 18:04] #43964 closed

[2020-08-17 18:07] MarileeTurscak-MSFT commented on #61014
@tmcquate
Thanks for your feedback! We will investigate and update as appropriate.

[2020-08-17 18:09] nestor-qhr opened #61020 "Side note for limit of Logic Apps with Managed Identities"
I read on a [third-party's page](https://www.freecodecamp.org/news/how-to-better-protect-your-secrets-in-logic-apps-using-key-vault-connector/) that there's **a limit of 10 logic apps with system-assigned managed identities**. I couldn't find any confirmation of this in the document. **Does that limit exist?**

If so, it would be useful to add that as a side note in the document.

Thank you for yo

[2020-08-17 18:18] robinmanuelthiel opened #61021 "Make clear, which Linux (Kernel) versions are supported"
I ran into the following issue: I created an Ubuntu VM in AWS and tried to install the Azure Monitor Extention onto it via the Azure Portal, which at first failed without a clear error message. After noticing that Python 2 needs to be installed on the VM (which was not part of the error message), I was able to install the `OMSAgentForLinux` extension, but the `DependencyAgentLinux` extension still

[2020-08-17 18:20] areddish commented on #60109
@priyankark There are two possibilities:

1) You may have created a cognitive services key that allows for a single key to be used with all cognitive services resources. If so you'll only see one key and you would use the same key for training and prediction. It would show up in the resource list with _"Resource Kind:  All Cognitive Services"_  This does differ from the UI in the article and @Patr

[2020-08-17 18:22] roygara commented on #60129
I'll go ahead and close this issue, thanks again for reaching out!

#please-close

[2020-08-17 18:22] #60129 closed

[2020-08-17 18:28] hpsin commented on #60781
@paulgarn will have insight here.

[2020-08-17 18:31] hpsin commented on #60373
We should use the language "Application Data" if we're referencing the fact that the app exists as a single piece of code running (implementation centric) or "Application secrets or certificates" if we want to focus on the idea that SPs all authenticate themselves (in confidential flows) using the credentials on the app object, meaning e.g. we don't have different keys per SP.

[2020-08-17 18:33] scottswim opened #61022 "grant-type should be grant_type"
References to grant-type (with a dash) should actually be grant_type (with an underscore)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 426842c5-260f-9180-e394-12b470163468
* Version Independent ID: c781230d-4992-5e45-7e13-10d89f97a086
* Content: [Register a SaaS application - Azure Marketplace](https://docs.microsoft

[2020-08-17 18:39] SadiqhAhmed-MSFT commented on #61022
@scottswim Thanks for the feedback. We will review and update as appropriate.

[2020-08-17 18:41] SadiqhAhmed-MSFT commented on #61006
@blhoop Thanks for the question. We will investigate this issue and get back to you soon.

[2020-08-17 18:44] clawrenceks commented on #36458
I now have my ARM template successfully deploying my function app into a Windows Consumption Plan. When deployed, the message `Storage is not configured, Function scaling will be limited. Click to learn more` is no longer displayed. Slot swaps are also working as expected.

My main findings from this process are:

If you currently have an Azure Function app WITHOUT the `WEBSITE_CONTENTAZUREFILECON

[2020-08-17 18:44] KranthiPakala-MSFT commented on #61016
@Tapasgt Thank you for reaching out.

1. How are you trying to create a database Master key? Are you following the instructions provided in the Prerequisites section?
2. Are you seeing any specific error while trying to create master key? If so could you please share it?

**Note**: It requires `CONTROL` permission on the database in order to create a database Master key.

If you are having the iss

[2020-08-17 18:47] hnst-grl123 opened #61023 "Replication Interval"
"Because the primary and secondary databases are synchronized using asynchronous replication, the failover may result in data loss. " What is the replication interval?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-e

[2020-08-17 18:56] mumian commented on #60963
#please-close

[2020-08-17 18:56] #60963 closed

[2020-08-17 19:01] Sandip-Raiyani commented on #60792
@demadred Please ignore the [Fix](https://github.com/TimeSeriesInsights/Azure-Time-Series-Insights-Connectors/tree/master/PowerBI-HotFix-20191120). This is old connector bits. I will delete that Fix repo soon to avoid confusion. I would recommend deleting the folder and the file which you downloaded. By creating that folder, it will use the bits from the file in Custom Connector and not the latest

[2020-08-17 19:09] ronbruintjes opened #61024 "helm install nginx-ingress stable/nginx-ingress [...] never returns with the static IP address"
I'm following the tutorial "Create an ingress controller with a static public IP address in Azure Kubernetes Service (AKS)", and am stuck at the step where the ingress controller is deployed with the helm chart.

The public IP is assigned, and I can retrieve it with "az network public-ip show [...]". The ingress controller deploys fine without the static IP address. I've used both a registered dom

[2020-08-17 19:11] MartinJaffer-MSFT commented on #60813
@spelluru The case-sensitivity detail seems important, should it be put in one of those colored boxes, or added in the document body?

[2020-08-17 19:12] MonikaReddy-MSFT commented on #60592
Hello @Mlavieri -

I have reached out to Product team and they have mentioned that Not sure how is it possible to previously configure preferredDataLocation attribute on existing synchronized User objects in Azure AD by using Azure AD PowerShell - because, if the user is synchronized then it can't be changed with Azure AD PowerShell. However, maybe at some point in the past it was possible.
It's n

[2020-08-17 19:12] #60592 closed

[2020-08-17 19:13] KranthiPakala-MSFT commented on #60998
@mikkolaakko , Thanks for reaching out. Could you please share the document link which you are currently following? If your question is generic and not specific to a document, I would recommend you to please post your query in [Microsoft Q&A](https://docs.microsoft.com/answers/products/azure?product=all) forum, where we have our engineers and other community members who will be happy to assist.

T

[2020-08-17 19:16] HarshitaSingh-MSFT commented on #60625
I wish to engage with you offline for a much closer look and provide a quick and specialized assistance, please send an email with subject line “Attn:Harshita” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, I will follow-up with you.

[2020-08-17 19:16] #60625 closed

[2020-08-17 19:18] deepakverma commented on #59025
what do you think about https://github.com/MicrosoftDocs/azure-docs/pull/61025 ?
thanks

[2020-08-17 19:22] AnuragSharma-MSFT commented on #60784
@chetansir This is being assigned to the content author to evaluate and update as appropriate.

[2020-08-17 19:28] pnwnightowl opened #61026 "Recovering individual files"
Please create some steps on how to recover an individual file from the ~snapshot directory (which may or may not be hidden) on the volume.  If you need to see an example of why I am referring too, please watch this video https://youtu.be/uxbTXhtXCkw

I think it important to show how to do this instead of mounting the entire snapshot to a new volume.  A good example of where someone might do this s

[2020-08-17 19:43] sergioadofaci commented on #60829
@SnehaAgrawal-MSFT Hello.

I've followed the documentation and it works great, but only after I create the MOTD file. The issue is that on the docs it doesn't show that you need a MOTD to access SSH.

On my screenshot you can see that the first try fails with the message:

`cat: /etc/motd: No such file or directory`

After updating the image to include that file, I can run az webapp ssh without a

[2020-08-17 20:01] MarileeTurscak-MSFT commented on #60950
@benjaminsmorgan,

I tested all the links and they appear to be working fine. This is the link in that sentence: https://docs.microsoft.com/microsoft-365/solutions/cloud-architecture-models?view=o365-worldwide

It's possible that someone already fixed this.

If you are still seeing this issue, feel free to make a pull request or create a new issue with a screenshot of the problem.

[2020-08-17 20:01] #60950 closed

[2020-08-17 20:07] benjaminsmorgan commented on #60950
Retested today link is working fine. Thank you for the update.

[2020-08-17 20:09] MaximeMorin commented on #35469
I had the same issue until I read @KetanChawda-MSFT response.  As suggested, I added a JSON Body with only `{}` and it started working.

[2020-08-17 20:20] hnst-grl123 opened #61028 "Grace Period"
Hello
"Because verification of the scale of the outage and how quickly it can be mitigated involves human actions by the operations team, the grace period cannot be set below one hour." It means an auto faiolver will happen at least on hour after failure?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-17 20:22] #60982 closed

[2020-08-17 20:23] zr-msft commented on #58641
Thank you @dwolf4 for the feedback.

I was able to successfully follow the article on an existing cluster and confirmed that ingress still works properly.

Closing for now but please follow up if you're still running into the same issue.

#please-close

[2020-08-17 20:23] #58641 closed

[2020-08-17 20:30] eugen-nw commented on #60502
Please do not close issues unless you resolve them.  Closing issues quickly may look good on your annual performance review but no one else will appreciate your laziness to follow up on issues raised.  It is actually possible to disable sampling, please see below the code we're using.  If the product group does not respond within the desired timeframe, please feel free to search for solutions on t

[2020-08-17 20:33] MYTA1802 opened #61029 "MT#123456"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea95f9c8-e0ad-93d2-cac2-0b486a684600
* Version Independent ID: e03365fb-056d-1388-1cc3-01c009b1d2ec
* Content: [Advanced features of Azure Metrics Explorer - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-charts#c

[2020-08-17 20:36] NathanPrado opened #61030 "ClusterProtectionLevel is not documented"
Hello, it does not appear that this documentation includes `ClusterProtectionLevel ` under `Security`.  I am creating ServiceFabric clusters via ARM template and thought I would see this property here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Independent ID: 429e2d0f

[2020-08-17 20:36] MYTA1802 commented on #61029
If you have time to help out me

[2020-08-17 20:41] spelluru commented on #60813
@MartinJaffer-MSFT - Yes. Makes sense.

[2020-08-17 20:47] brjohnstmsft commented on #60987
@JasperCQC I don't see the escaping of the first comma in your example -- am I missing something? Also, what was the result when you tried this (status code returned by the API, subsequent behaviour of searches, etc.)?

[2020-08-17 20:57] StefanIvemo opened #61032 "Threat intelligence test FQDN is not working"
It looks like the threat intelligence test FQDN testmaliciousdomain.eastus.cloudapp.azure.com is not working properly. Not able to browse the site at all, not responding on either port 80 or 443, nothing showing up in the Firewall logs. Is the test service functional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3638

[2020-08-17 21:12] b-juche commented on #61026
@pnwnightowl -- Thanks, Jeff.  We'll consult our subject matter experts and get back to you.

cc: @ntap512, @lichunli-ms

[2020-08-17 21:15] MikeWilcoxMicrosoft commented on #60248
No worries, I ssh'd into the IOT Edge device and then ran rlogin at the bash prompt and entered no password ( which is incorrect ) and the events appeared in ASC for IOT .. Thank you

[2020-08-17 21:23] WinstonHoward-MSFT commented on #61030
Thanks for the feedback. I'll take a look.

[2020-08-17 21:34] artisticcheese commented on #60723
Got following note from Microsoft. Ultra disks are supported for SQL FCI. So documentation needs to be corrected.

[code]

[2020-08-17 21:42] mrbullwinkle commented on #60502
@eugen-nw, the information you referenced is already present in this article and has been for some time:

![image](https://user-images.githubusercontent.com/31510320/90447058-8779e500-e0b0-11ea-98d1-af16ddec6fc3.png)

Did you need instructions for something else, or was it just hard to find this section?

[2020-08-17 21:57] zr-msft commented on #59169
Thank you @marekr for the feedback.

We have added an item to backlog and will prioritize accordingly.

#please-close

[2020-08-17 21:57] #59169 closed

[2020-08-17 22:03] zr-msft commented on #59658
Thank you @rlevchenko for the feedback.

The steps outlined in the article work when using node pools. When using other node configurations, AKS makes a best effort attempt to preserve old node labels and taints in the new nodes.

If you have a specific case where labels or taints were not preserved and you were expecting it, please file a support request or open an issue on the [AKS GitHub repo](

[2020-08-17 22:03] #59658 closed

[2020-08-17 22:04] MarileeTurscak-MSFT commented on #60936
The description sounds correct to me. If the user is not already signed into the native app, the native app will retrieve the username from the domain-joined device's user session. Azure AD will sign in the user and issue the SAML token to the app.

![image](https://user-images.githubusercontent.com/13383753/90448357-0e6f9300-e09a-11ea-9ca6-96f1b6085a19.png)

CC: @billmath

[2020-08-17 22:04] #60936 closed

[2020-08-17 22:04] FlynnLives opened #61035 "Out Of Date - Tutorial: Azure Active Directory integration with Greenhouse"
The instructions provided are out of date and do not work due to changes in how Azure does things and per Greenhouse's internal support page  https://support.greenhouse.io/hc/en-us/articles/360004745971-Azure-Active-Directory-Azure-AD-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9b260cc-3e08-e2a0-b478-30a745cd2c97

[2020-08-17 22:11] BharathNimmala-MSFT commented on #61029
@MYTA1802 Thank you for reaching out, please note that this channel ([the Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. Can you please share more information on what exact question you have regarding the documentation linked on this thread ? so that we can help you accordingly. Thanks

[2020-08-17 22:14] BharathNimmala-MSFT commented on #61021
@robinmanuelthiel Thank you for reaching out with your query, our team will look into it and get back to you at the earliest.

[2020-08-17 22:21] SatishBoddu-MSFT commented on #60634
Hello @Maarten-Work , Thanks for bringing this to our attention. We are working on fixing this doc issue.

![image](https://user-images.githubusercontent.com/62923178/90449855-2399f100-e09d-11ea-89ce-8b561b228bac.png)

[code]

[2020-08-17 22:26] #57845 closed

[2020-08-17 22:26] zr-msft commented on #57845
Thank you @AdamSharif-MSFT for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

[2020-08-17 22:26] JamesTran-MSFT commented on #61035
@FlynnLives
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-08-17 22:28] KranthiPakala-MSFT commented on #60997
@bertrandpons, Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 22:29] KranthiPakala-MSFT commented on #61002
@bertrandpons Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 22:36] KranthiPakala-MSFT commented on #61003
@jihu Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-17 22:39] feemurk opened #61036 "Missing Details for Create Workspace Fields"
Hi,

The workspace creation step (https://docs.microsoft.com/en-us/azure/synapse-analytics/get-started-create-workspace#create-a-synapse-workspace-1) doesn't include details about fields required in the basics tab of the form.

"File System Name".  It would be nice to have a note here that states that the workspace will only be able to work within a single container.  If not, perhaps a question ab

[2020-08-17 22:41] KranthiPakala-MSFT commented on #61015
@rlevchenko  Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-17 22:42] KranthiPakala-MSFT commented on #61018
@zacabrer Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-17 22:44] KranthiPakala-MSFT commented on #61019
@husamhilal Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 22:45] mike-urnun-msft commented on #60736
Hello @ntimmerman - Just following up here on the above. Let us know if you're still encountering this issue and need further assistance in troubleshooting.

[2020-08-17 22:46] mike-urnun-msft commented on #60914
@vidyasagar-hadoop Just following up here, please let us know if there's a specific MS Doc that your feedback is applicable to.

[2020-08-17 22:47] MBirari-MSFT commented on #60873
Hi @roofiq,
Post reviewing your scenario, I am assuming the variables 'deploymentNames' and 'settings' are the keyVault name and the secret name you used to deploy using the template. If you are looking purely to get the SecretReferenceFull, below is the workaround for it.

[code]

We did not use nested reference here but are able to get the supposed to be value for the SecretReferenceFull as show

[2020-08-17 22:47] KranthiPakala-MSFT commented on #61023
@hnst-grl123
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 22:49] KranthiPakala-MSFT commented on #61028
@hnst-grl123
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 22:49] MarileeTurscak-MSFT commented on #61014
Another way to get around this is to add the sync server IP to the list of trusted IPs. I made a pull request to add these two options. https://github.com/MicrosoftDocs/azure-docs-pr/pull/126354/commits/1a49253749da7e7fdd053af3a4208b9eeb82776c

@billmath please confirm

[2020-08-17 22:49] #61014 closed

[2020-08-17 22:50] KranthiPakala-MSFT commented on #61020
@nestor-qhr
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-17 22:54] richardszalay commented on #60980
@markwolff The issue I'm seeing is that the 'unminify' step; the configuration flow completes successfully.

This is what I see in the developer tools when I click 'unminify':

1. A `/batch` request to retrieve metadata for the AI instance, with `Authorization` header. This succeeds and includes the `hidden-link:Insights.Sourcemap.Storage` property that is no doubt used in the subsequent steps.
2.

[2020-08-17 23:00] Karishma-Tiwari-MSFT commented on #60823
@Superset1986 Can you please share the details requested in the comment above so that we can further troubleshoot. Thanks. :)

[2020-08-17 23:01] MarileeTurscak-MSFT commented on #59434
Hi @nielsthinkiq, here are the instructions for adding Authenticator for passwordless sign in to an Azure AD account. https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone

It's not the QR code from the screenshot on this page but the QR code from the "Configure mobile app" screen on your computer.

If you are still having this problem feel

[2020-08-17 23:01] #59434 closed

[2020-08-17 23:01] filipdimkin commented on #60966
@VikasPullagura-MSFT
Tried removing all entries within Credential Manager and issue persists.
If it helps we can see in the WVD logs a SSL_ERR_LOGON_FAILURE error when the user tries to login using the DesktopClient and a Success message when they try to login using the WebClient.

[2020-08-17 23:02] Karishma-Tiwari-MSFT commented on #60494
@j0ej0e21  Did you get a chance to send me an email with the details requested? Let me know. Thanks.

[2020-08-17 23:06] parasharshah opened #61037 "Tutorial links in the left pane"
Why are the links in the left pane taking me to different sites. Shouldnt it open a page within the same Azure docs. Please try clicking Power BI or AI builder links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd6c661-3889-e5bf-0b33-d84eff80e8a3
* Version Independent ID: 7b185544-3127-394d-c621-4eaa9088cd4a
* Cont

[2020-08-17 23:07] Karishma-Tiwari-MSFT commented on #60693
Looks like your issue is resolved now, based on the details from the support ticket.

Sharing the details for others to reference:
Symptom:
The ADF custom activity failed because of the detailed error: Can’t import module azure.storage.blob.

Explanation:
The error message indicates that the azure storage blob package is not installed correctly on the node.

We need to make sure whether the pip to

[2020-08-17 23:08] Karishma-Tiwari-MSFT commented on #60693
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-17 23:08] #60693 closed

[2020-08-17 23:13] BharathNimmala-MSFT commented on #60679
@R34rvi3w Thanks again for taking time to share your feedback, trying to better understand the feedback are you referring to PowerBI Gateway and whether we can import Log Analytics logs to PowerBI Gateway which is being run using organizational account ? please share additional information so that we can evaluate and have a backlog item to enhance the documentation accordingly. Thank you

[2020-08-17 23:16] TravisCragg-MSFT commented on #60959
@gorankuk Can you link the doc page you are referring to? This page is about creating an Azure Load Balancer and does not reference Azure Bastion at all.

[2020-08-17 23:22] mike-urnun-msft commented on #60941
@ahmelsayed @alrod Do you know if there are any configs that result in the "Download app content" button being absent?

[2020-08-17 23:23] markwolff commented on #60980
Your `1` looks correct to me. For `2`, all of those should contain an `Authorization` header. I'm not able to repro this. For my setup, I've deleted all CORS options in my storage account config and set the container to private.

I've attached a screenshot of a sample request with an `Authorization` header included in the blob storage request. Can you verify the that the name of the source map it

[2020-08-17 23:24] TravisCragg-MSFT commented on #60960
@RonnieQuan You make a good point! It is likely this FAQ question was before that functionality was a part of Azure Front Door. I am assigning this issue to the content author to evaluate and update this FAQ item.

[2020-08-17 23:29] TravisCragg-MSFT commented on #60961
@RonnieQuan I am only able to see the V2 SKU via the portal. If your App gateways are V1 SKU, you will need to add them via 'Custom Host'.

[2020-08-17 23:33] anchopr commented on #59768
@mattchenderson : Is there an ETA on when the fix would be available? (i.e support for keyvault references when used with VNET integration)

[2020-08-17 23:44] NavtejSaini-MSFT commented on #60757
@mattneerincx We have raised the change to fix this - https://github.com/MicrosoftDocs/azure-docs-pr/pull/126367
Once approved, the changes will be visible.

[2020-08-17 23:48] YutongTie-MSFT commented on #60641
@aashishb Hi, could you please check the following suggestion and update the document? Thanks a lot!

[2020-08-17 23:49] NavtejSaini-MSFT commented on #60790
@practicalspartaa Please help us in getting clarity for this issue. The limitation is  "Maximum number of sync groups any database can belong to."
So you want to convey you were able to add a database in more than 5 Sync Group. Please help.

[2020-08-17 23:52] ashwinnatty opened #61040 "Is Datafactory Data Flow running inside the managed vnet?"
I was of the understanding that ADF Data flows feature like filter , aggregate, joins don't run inside the managed VNET. Kindly clarify and add that as limitation of true.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 913fb6df-b72f-d2a3-b637-035c02a004e4
* Version Independent ID: b46a619e-537b-6057-48c4-d9527ca6f535
*

[2020-08-17 23:57] mrbullwinkle commented on #60502
Also just to note, this doc is currently on our backlog to be completely rewritten/refactored. It is definitely not easy to navigate so I completely understand how you could have missed this section. I just want to confirm if there was a more immediate need, since if it is a smaller request we can probably get that into an upcoming sprint faster than the larger work item of refactoring the entire

[2020-08-18 00:12] j0ej0e21 commented on #60494
Yes I did.

You may reach me using the contact information listed below, referencing
the SR number *120081424004232*

On Mon, Aug 17, 2020, 7:02 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-08-18 00:17] ahmelsayed commented on #60941
from the code, it looks like it's disabled if it's a linux app. @ammanifold might know more.

[2020-08-18 00:21] jlichwa commented on #60130
@SeaDude

The reasoning is not valid. Anybody who has access to Service Principal or Identity has automatically access to this information also. It is common sense.
It applies to any VM, application (web, function, runbook, console) or any process. If somebody has admin access to this process identity can dump memory etc.. see everything and have full access to any data that process has access too

[2020-08-18 00:33] SaiKishor-MSFT commented on #61002
@bertrandpons
When the account is an Education Enterprise Agreement, it is considered as an Education subscription and would be blocked outbound access to SMTP port 25. As mentioned in the[ article](https://docs.microsoft.com/en-us/azure/virtual-network/troubleshoot-outbound-smtp-connectivity)-

"If you're using these subscription types, you're encouraged to use SMTP relay services, as outlined ea

[2020-08-18 00:35] briangeller commented on #61002
Thanks!

[2020-08-18 00:36] richardszalay commented on #60980
@markwolff Ah, I see now that I was thrown off by the CORS/OPTIONS request not including Authorization. What's more, I've now reverted the CORS and Access settings and it's still succeeding so I'm not sure what's changed. Still, I'll close this issue unless I can reproduce the problem again.

[2020-08-18 00:36] #60980 closed

[2020-08-18 00:48] PingPongSet commented on #60541
@AshokPeddakotla-MSFT Please check email. Thanks.

[2020-08-18 00:50] zlaxe commented on #60963
Thanks all for the information, my doubt is when and where can I find the information when Microsoft remove this kind of things, I check on the following link, but there is nothing related.

https://azure.microsoft.com/en-us/updates/

Thanks

[2020-08-18 00:53] nitinme commented on #61037
@parasharshah The Power Apps tutorial is actually from Power Apps doc set and we are just referencing that in TA TOC. Same with the tutorial for Databricks. The difference is that for Power Apps, the content is in a different Github repo while for Databricks it's in the same Azure docs repo. Because of that, when you click the Power Apps link, you are taken to a different doc site because the cont

[2020-08-18 00:53] #61037 closed

[2020-08-18 01:20] Karishma-Tiwari-MSFT commented on #60669
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-18 01:23] MikeChristensen opened #61042 "Not clear where UseAdaptiveSampling extension method is"
The quote:

Is incredibly unclear.  Where is this shown below?  What is TelemetryProcessorChainBuilder?  Where do I find the `UseAdaptiveSampling` extension method?  I've tried including every using statement I can think of, but this method is nowhere to be found.  Please include a fully working example, including `using` statements.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-08-18 01:37] jasonsue53 opened #61044 "Unable to create key"
I've walked through the steps in the tutorial a couple times and keep getting stuck when trying to create the database key.  I'm logging in using the admin user and password I created when creating the database but when trying to create the key I'm getting an error message that I don't have permission to perform this action.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2020-08-18 01:45] ecfan commented on #43566
Doc work item exists on backlog. #please-close

[2020-08-18 01:45] #43566 closed

[2020-08-18 01:52] RonnieQuan commented on #60961
@TravisCragg-MSFT  What about using ARM or powershell to configure front door? is V1 SKU app gateway needs to be configured as 'custom host' as well?
Just want to understand if this is the same behavior from portal or using programmatic way.

By the way, is there any powershell sample or ARM to configure front door?

Thank you so much! Appreciate your help!

[2020-08-18 01:54] Karishma-Tiwari-MSFT commented on #60719
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-18 01:54] #60719 closed

[2020-08-18 01:58] mrbullwinkle commented on #61042
@MikeChristensen, thanks for the feedback! This article is currently on our backlog to be completely refactored so we appreciate  you opening the issue as it helps us gauge priority.

You need `Microsoft.ApplicationInsights.Extensibility`

![image](https://user-images.githubusercontent.com/31510320/90461365-10eede80-e0d4-11ea-8edb-b63129f196d3.png)

Here's a snippet of a simple .NET Core Razor Pag

[2020-08-18 02:01] Karishma-Tiwari-MSFT commented on #60755
The document do not exist anymore for LEMP stack and the doc has been updated to reflect that.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-08-18 02:01] #60755 closed

[2020-08-18 02:03] #60498 closed

[2020-08-18 02:07] MikeChristensen commented on #61042
It also appears you need to reference the `Microsoft.ApplicationInsights.WorkerService` NuGet package as well..

[2020-08-18 02:20] mrbullwinkle commented on #61042
If you are monitoring a non ASP.NET Core app and using the [WorkerService specific SDK](https://docs.microsoft.com/en-us/azure/azure-monitor/app/worker-service), yes you would want that package. Though for the workerservice SDK you would need to change the code slightly and use:

`var aiOptions= new Microsoft.ApplicationInsights.WorkerService.ApplicationInsightsServiceOptions();`
`services.AddAppl

[2020-08-18 02:29] KranthiPakala-MSFT commented on #61044
Hi @jasonsue53, Thanks for reaching out. This looks like a duplicate of #61016 .

Since this is a duplicate, I'll proceed to close this thread. Please track this issue in the referenced GitHub issue (#61016).

Please feel free to comment if you have further query.

Thank you

[2020-08-18 02:29] #61044 closed

[2020-08-18 02:33] KranthiPakala-MSFT commented on #61024
@ronbruintjes Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-08-18 02:34] KranthiPakala-MSFT commented on #61036
@feemurk Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-18 02:55] MikeChristensen commented on #61042
Ah yes, I'm just running as a standard .NET Core console app (EXE).  No ASP.NET or OWIN or any HTTP listeners what so ever..

[2020-08-18 02:58] MikeChristensen commented on #61042
Can you confirm this code is correct?  `telemetry` is a private field of my class, and I just call `TrackMetric` and `TrackEvent` on it a whole bunch (hundreds of times a second)..

[code]

[2020-08-18 03:10] hellyzh commented on #60519
@dbuskirk This is C/C++ intelliSense issue. To fix it, you can update the file c_cpp_properties.json to change "cppStandard" from current "c++17" to "gnu++17" because "strdup" is not a standard C function". We will fix this issue in the future release.

[2020-08-18 03:13] akki-s commented on #60967
We had a private DNS zone added for azure-api.net and which was causing this issue.

[2020-08-18 03:13] #60967 closed

[2020-08-18 03:15] craig-martin commented on #59818
Perfect.  Thanks!

From: Brian Wren <notifications@github.com>
Sent: Monday, August 17, 2020 10:44 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Craig Martin <cmart@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Log Analytics HTTP Data Collector HTTP - reserved and special properties (#59818)

@craig-martin<https://nam06.safelinks

[2020-08-18 03:17] dgitw commented on #60971
@bubbletroubles is correct, Try including ResourceId in filter parameter like this as workaround:

`Get-AzureADMSPrivilegedRoleSetting -ProviderId 'aadRoles' -Filter "(RoleDefinitionId eq '$RoleDefnId') and (ResourceId eq '$TenantId')"`

[2020-08-18 03:24] CHEEKATLAPRADEEP-MSFT commented on #60927
@jayendranarumugam Thanks for bringing this to our attention. I would request you raise the request on the azure-docs-rest apis repo to get it fixed.

https://github.com/Azure/azure-docs-rest-apis/issues

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-08-18 03:24] #60927 closed

[2020-08-18 03:29] dgitw commented on #60210
I can confirm behavior  @DhivyaG19 describes.

I would suggest using:

`($Setting.UserMemberSettings | Where-Object {$_.RuleIdentifier -eq 'JustificationRule'}).Setting` to index the required setting as opposed to `$Setting.UserMemberSettings[2].Setting`

as the sequence of settings in the array may change

[2020-08-18 03:30] KrishnaG-MSFT commented on #61013
@MYTA1802 I see that you have created the issue and then closed it.

If you have feedback to enhance the referred Azure document then please provide more context around it and let us know the feedback. Thanks.

[2020-08-18 03:31] CHEEKATLAPRADEEP-MSFT commented on #60705
@jayendranarumugam Glad to know that your issue has resolved. And thanks for sharing the solution, which might be beneficial to other community members reading this thread.

Yes, owner permission is required to a SPN for creating Synapse workspace.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discuss

[2020-08-18 03:31] #60705 closed

[2020-08-18 03:33] CHEEKATLAPRADEEP-MSFT commented on #60721
@kashyap-bhatt-by  I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-08-18 03:45] azureidentity opened #61046 "Add some PS sample"
It is not very clear for new users about where to add the public/private configuration. Shall we consider to add some more info about this? For example,
The public/private/protected configuration can be uploaded via PowerShell cmdlet, Set-AzVMExtension
https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmextension?view=azps-4.5.0

Sample PS:
$publicSetting = Get-Content -Path c:\p

[2020-08-18 03:52] xuwenjian1995 opened #61047 "Please help check if the Azure portal support deploy desources using ARM template at level of subscription."
[Enter feedback here]

We tested the template in the document and found that the resouce cannot be deployed to the subscription level on the Azure Portal but can be deployed using PowerShell. We can see in the doucment that the ARM template to deploy resources at the level of subscription is supported on the Azure Portal.

template:
{
  "$schema": "https://schema.management.azure.com/schemas/2018-

[2020-08-18 03:52] SatishBoddu-MSFT commented on #60519
Hello @dbuskirk Thanks for your patience on this issue, we have a reply from the Product team and a workaround as mentioned in the above reply.

Please follow this workaround to gt unblocked with this issue, the Github repo will be fixed in upcoming releases.
Please confirm if it is ok from your side as of now with this workaround.

[2020-08-18 03:54] rachelxj-ms opened #61048 "add this option "-IgnoreCustomHostNames" in the document to avoid unexpected problem"
Due to known issue:
https://supportability.visualstudio.com/AzureAppService/_wiki/wikis/AzureAppService/359628/Clone-App?anchor=known-issues
It's better add this option "-IgnoreCustomHostNames" in the document to avoid unexpected problem.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daf14087-1765-4636-805c-6faec03d8a9

[2020-08-18 03:55] zerolagtime opened #61049 "PVC storageClassName should match the SC name"
In the paragraph above the block that defines the PVC, it says "Make sure that the storageClassName matches the storage class created in the last step."  In the example, it does not match.  "storageClassName: azurefile" should read "storageClassName: my-azurefile"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4

[2020-08-18 03:57] husamhilal commented on #61019
Thanks a lot @KranthiPakala-MSFT  :) Really appreciate your response !

[2020-08-18 03:57] PramodValavala-MSFT commented on #61020
@nestor-qhr Service limits are published in a [dedicated doc](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config) with [a section for managed identity](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-limits-and-config#managed-identity) that is linked at the start of this doc as well.

Also, based on the linked doc, the limit is now 1000 logics apps with man

[2020-08-18 03:58] priyankark commented on #60109
Thanks for the analysis @areddish !
I think my issue might have been the first one.
If it makes sense, the docs could be updated with the info.

[2020-08-18 04:01] nestor-qhr commented on #61020
That's awesome. Thank you so much for getting back to me so quickly. Have great week!

[2020-08-18 04:01] #61020 closed

[2020-08-18 04:08] v-hagamp commented on #46766
#please-close

[2020-08-18 04:08] #46766 closed

[2020-08-18 04:08] v-hagamp commented on #55018
#please-close

[2020-08-18 04:08] #55018 closed

[2020-08-18 04:09] v-hagamp commented on #56856
#please-close

[2020-08-18 04:09] #56856 closed

[2020-08-18 04:13] v-hagamp commented on #49819
Issue resolved here :_https://github.com/MicrosoftDocs/azure-docs-pr/pull/126262_
#please-close

[2020-08-18 04:13] #49819 closed

[2020-08-18 04:26] SuperChenSSS opened #61050 "Version Mismatching when using MS DependencyInjection & AspNetCore in .Net Core 2.1"
Hi folks,

Thanks for taking a look at this issue. I found Version Conflict when introducing Microsoft.Azure.Functions.Extensions v1.0.0 along with Microsoft.AspNetCore.App v2.1.1 dependencies, attached the error messages below:
![image](https://user-images.githubusercontent.com/17025439/90470086-1fc5a780-e14d-11ea-845e-105672cc5801.png)

It is due to the version mismatch of DependencyInjection us

[2020-08-18 04:30] jasonsue53 commented on #61016
Do you know the t-sql command I can use to determine if I have control permissions?  I followed all the instructions for creating the sql server and sql pool. I'm connecting to the server using the admin account I created during that process so I would think I would have control permissions.

[2020-08-18 04:31] BhargaviAnnadevara-MSFT commented on #60272
@jamesbannan We're tracking this issue internally and will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Thank you very much for your understanding and feedback.

[2020-08-18 04:31] #60272 closed

[2020-08-18 04:35] mrbullwinkle commented on #61042
with the workerservice SDK on a .NET Core Console app I think you would want something more like this:

[code]

The one thing you would want to keep in mind since you mentioned you were calling TrackMetric(), and TrackEvent() hundreds of times is that while TrackEvent() is subject to sampling, TrackMetric() is by design not subject to sampling. For this scenario you might need to use [GetMetric +

[2020-08-18 04:38] HarithaMaddi-MSFT commented on #61040
@ashwinnatty - Thanks for sharing valuable feedback. We are investigating on it and will get back to you soon.

[2020-08-18 04:53] mattfrear opened #61051 "Code samples don't expect Response<T>?"
The code samples do not compile, as the Azure SDK returns `Response<T>`.

e.g. code sample says:
[code]

Which doesn't compile. Working version is:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Quicks

[2020-08-18 04:53] BryanTrach-MSFT commented on #61048
@rachelxj-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-18 04:54] AshokPeddakotla-MSFT commented on #60917
@so-rob Can you add images directly here? You can also share the error message log if you are unable to add images.

![image](https://user-images.githubusercontent.com/44426435/90471714-8b534900-e13c-11ea-8ba3-61d7b7feb339.png)

[2020-08-18 05:02] SatishBoddu-MSFT commented on #60633
Hello @tommmc @JadeCoding @jer71146 Thanks for reporting this issue.

Could you please try using the **Azure.Identity v1.1.1** instead of the latest version "Azure.Identity v1.2.0" to get unblocked on this issue as a workaround! Please let us know if that works for you.

![image](https://user-images.githubusercontent.com/62923178/90472026-63c89600-e0d4-11ea-949e-80d069ccd74a.png)

Sorry for the in

[2020-08-18 05:16] mikkolaakko commented on #60998
Hi, I am following "Tutorial: Create an Azure Red Hat OpenShift 4 cluster" at URL https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster

There is additional information on az cli at https://docs.microsoft.com/en-us/cli/azure/aro?view=azure-cli-latest

[2020-08-18 05:25] KrishnaG-MSFT commented on #61046
@azureidentity Thanks for the feedback.
Assigning @bwren for visibility, review and document enhancement consideration.

[2020-08-18 05:27] KrishnaG-MSFT commented on #61047
@xuwenjian1995 Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-18 05:33] SadiqhAhmed-MSFT commented on #61022
@scottswim I have raised a [pull request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/126315), post review by the content owner the changes should go live.

[2020-08-18 05:40] DavidTrigano commented on #59070
Hi @CharmanderJieniJieni,

If you want to create custom labels or information types via PowerShell cmdlet, you have to first export your SQL IP via [Get-AzSqlInformationProtectionPolicy](https://docs.microsoft.com/en-us/powershell/module/az.security/get-azsqlinformationprotectionpolicy?view=azps-4.5.0), add in the JSON file the labels and/or the information types, and then import the JSON you crea

[2020-08-18 05:51] pcdiks opened #61054 "GPO setting description wrong"
In the paragraph about configuring the GPO to enable hardware support in RDS it says to enable the policy setting 'Use the hardware default graphics adapter for all Remote Desktop Services sessions'. This is not  how it is visible when you open the group policy editor. The correct name for the setting is 'Use hardware graphics adapters for all Remote Desktop Services sessions'.

---
#### Document

[2020-08-18 05:52] SubhashVasarapu-MSFT commented on #61032
@StefanIvemo , Thanks for reaching out. We will investigate and update this thread.

[2020-08-18 05:53] SadiqhAhmed-MSFT commented on #60690
@bertrandpons Checking back-in if the Jason's post helped answer your query. Feel free to write back if you need further assistance on this.

[2020-08-18 05:59] mildh-msft opened #61055 "To exclude single IPv6 address as a range, suffix should /128 instead of /32"
To exclude single IPv6 address as a range, suffix should /128 instead of /32

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74b164a7-31c5-7cb3-c8e2-7533d375bd43
* Version Independent ID: 11399252-d935-2cba-a414-a44e51e67007
* Content: [Location condition in Azure Active Directory Conditional Access](https://docs.micros

[2020-08-18 06:01] SumanthMarigowda-MSFT commented on #61051
@mattfrear Thanks for the question! We are investigating and will update you shortly.

[2020-08-18 06:01] mildh-msft commented on #61055
Dup for https://github.com/MicrosoftDocs/azure-docs/issues/59436

[2020-08-18 06:01] #61055 closed

[2020-08-18 06:04] VikasPullagura-MSFT commented on #61049
@zerolagtime Thanks for pointing this out. We are checking on this looking to update the doc

[2020-08-18 06:04] MayankBargali-MSFT commented on #61050
@SuperChenSSS Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-08-18 06:04] SumanthMarigowda-MSFT commented on #61054
@pcdiks Thanks for the question! We are investigating and will update you shortly.

[2020-08-18 06:11] wukun2015 opened #61056 "Does Live Transcription perform the same as Speech-To-Text service ?"
Hello,

Is the text transcribed from [Live Transcription](https://docs.microsoft.com/en-us/azure/media-services/latest/live-transcription) the same in accuracy/feature aspects as that of [Speech-To-Text service](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/index-speech-to-text) ?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-08-18 06:16] jayendranarumugam commented on #60927
Hi @CHEEKATLAPRADEEP-MSFT ,
Thanks for your responses. The provided link is not found(404) for me

![image](https://user-images.githubusercontent.com/25414541/90476512-44b71c00-e147-11ea-8c88-41733ea32a02.png)

I found some repo , which i believe is the right (below link). Pls correct me if I'm wrong. Happy to create issue in the right place.
https://github.com/Azure/azure-rest-api-specs/issues

M

[2020-08-18 06:20] jayendranarumugam commented on #60705
Thanks @CHEEKATLAPRADEEP-MSFT for the response actually there are some conditions and the condition is depends on the way the storage acc gen 2 creation. This actually needs some clarity. I'll soon create a Dev Post and share here for other to get understand it :)

[2020-08-18 06:29] dzg opened #61057 ""sysrep was not able to validate your windows installation""
![Annotation 2020-08-17 231754](https://user-images.githubusercontent.com/466557/90478130-7e553c00-e0e1-11ea-837e-86102b2f1f55.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 218c3a24-424f-e928-d0c0-89c8b8349bc8
* Version Independent ID: 0ba31a4b-94cf-2b4f-1fbc-29a92fe7d97a
* Content: [Downlo

[2020-08-18 06:35] HarithaMaddi-MSFT commented on #61040
@ashwinnatty - As per the documentation, with this new feature, you can provision the Azure Integration Runtime in Managed Virtual Network and leverage Private Endpoints to securely connect to supported data stores and it uses private IP address to connect to Azure services.  As per my understanding, Managed VNET does not apply to the Dataflow transformations and ADF creates spark clusters to perf

[2020-08-18 06:37] AdamSharif-MSFT commented on #57845
Thank you @zr-msft !

[2020-08-18 06:42] ashwinnatty commented on #61040
Hi, Thanks for clarifying that Dataflows are not running inside the managed VNET. The title of the doc emphasizes on transformation of data "Transform data securely using mapping data flows". While I totally understand that data flows are a excellent feature to have, the request is to explicitly mention that it does not run inside a managed VNET.

[2020-08-18 06:42] vipulsparsh commented on #60678
@knssub  We will close this now, if you have any questions please tag me in your comment.

[2020-08-18 06:42] #60678 closed

[2020-08-18 06:43] vipulsparsh commented on #60779
@satyasyamnn We will be closing this now, if you have any questions please tag me in your comment.

[2020-08-18 06:43] #60779 closed

[2020-08-18 06:50] HarithaMaddi-MSFT commented on #61040
@ashwinnatty - Thank you. I am moving it to content author for further review.

@djpmsft - Can you please take a look?

[2020-08-18 06:52] wukun2015 opened #61058 "Does Live Transcription supports Phrase List feature ?"
Hello,

Does [Live Transcription](https://docs.microsoft.com/en-us/azure/media-services/latest/live-transcription) support such [speech-to-text service](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/index-speech-to-text) features like [Phrase List](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-phrase-lists?pivots=programming-language-jav

[2020-08-18 07:02] psmanhas commented on #61057
@dzg  Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-08-18 07:08] AshokPeddakotla-MSFT commented on #60727
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-08-18 07:08] #60727 closed

[2020-08-18 07:09] memildin commented on #59070
@CharmanderJieniJieni thanks for taking the time to help us improve the docs.

Hopefully, the information from @DavidTrigano is enough to help you complete the tasks you were working on.

I'm going to close this issue, but feel free to comment again here or open a new one if you have additional requests.

This documentation page is going to get refreshed in the coming months, and we'll incorporate

[2020-08-18 07:09] #59070 closed

[2020-08-18 07:10] AshokPeddakotla-MSFT commented on #60541
@PingPongSet  Since we are handling this offline, are we good to close this issue and update the thread with root cause once we have any updates?

[2020-08-18 07:16] AjayKumar-MSFT commented on #60820
Apologies for the delay!
All Azure Web Apps (as well as Mobile App/Services, WebJobs and Functions) run in a secure environment called a sandbox. Custom fonts are not rendered (system-installed font is used instead) because of sandbox GDI API limitations that present even in VM-based Azure Apps plans (Basic or higher).

You could try to remove the MIME type declaration before redeclaring MIME type

[2020-08-18 07:16] #60820 closed

[2020-08-18 07:21] memildin commented on #57770
Hi @priyankareddy20 thanks for the feedback and for taking the time to help us improve the docs.

The experience that you've described is indeed the designed flow, but we’re not in a position to provide prescriptive guidance on how to fill out those parameters as they are different for each initiative.

I'm going to close this issue, but feel free to comment again here or open a new one if you hav

[2020-08-18 07:21] #57770 closed

[2020-08-18 07:22] Scherlac opened #61061 "Missing information - Steps for verification"
Please give us information on what is to be expected after we are done with the steps "Install the agent for Linux".

For example:
"After restarting the agent the folder X,Y contains the installed ..."  or
"Using the following commands we can verify the X,Y services is started ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-08-18 07:23] abhirockzz commented on #59025
Thank you taking a look at this @deepakverma ! I want to take a step back and think about "what" the doc/tutorial wants to highlight - clustered, non-clustered or both?

- clustered: I see that `JedisShardInfo` is still being used. As mentioned in the issue description, it's not the appropriate way to connect to a [Redis Cluster](https://redis.io/topics/cluster-tutorial). `JedisCluster` needs to b

[2020-08-18 07:24] YassineSOUABNI opened #61062 "Mention an additional use of applications in the "Why do applications integrate with Azure AD?" section"
[Enter feedback here]

Dear,

I think that it is worth mentioning that "Azure AD SP/Applications" can also be used as a 'holder' for a Custom Extension properties (or at least its definition).

Custom Extension Properties can be of
- type "Application" : where apps will can a value assigned to that "new" custom extension properties
or
- type "User" : where users can have a value assigned to that "

[2020-08-18 07:25] JavedEqbal opened #61063 "Enabling LFS on the Storage Account does not update the IOPS (10,000) for Azure fileshares automatically"
[It is worth mentioning a NOTE that Enabling LFS on the Storage Account does not update the IOPS (> 1000) for fileshares automatically and users need to update the file share quota to get this done.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f42450c-1d48-5361-ba31-37f0cb63a753
* Version Independent ID: dbe1c7b0-6

[2020-08-18 07:33] memildin commented on #57745
We've added a sentence to this page to indicate that there'll be a requirement to enter details.
Since the parameters are unique to each initiative type, we won't be specifying them in the doc.
Thanks for the feedback.
#please-close

[2020-08-18 07:33] #57745 closed

[2020-08-18 07:38] PCNZ opened #61064 "Creation will fail when using CMK from keyvault with firewall enabled"
Please make it clear that use of a CMK from an existing keyvault with network firewall enabled is not supported and will fail during initial deployment.
Further use of a managed identity to grant access to the key in a keyvault with network firewall enabled is not possible.

Deployment using CMK must be done using a key from a keyvault (temporary) with all access from all networks enabled initiall

[2020-08-18 07:44] shekhag commented on #60832
@SadiqhAhmed-MSFT - The requirement is to merge the two enrolments. Thanks for your guidance. Really appreciate that!

[2020-08-18 07:44] #60832 closed

[2020-08-18 07:49] VikasPullagura-MSFT commented on #61064
@PCNZ Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-08-18 07:55] VikasPullagura-MSFT commented on #61015
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-08-18 07:55] VikasPullagura-MSFT commented on #61064
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-08-18 07:58] TestUser0811 opened #61065 "Reusing expensive connection object ACROSS the instance of function application services running on different VM"
https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections#documentclient-code-example-c

Above doc suggesting the approach to reuse the connection with in the SAME instance of function application service but interested to know, is there way to reuse the expensive connection object ACROSS the instance of function application services running on different VM? like Managed service in

[2020-08-18 08:09] h2floh opened #61067 "Clarification on x5t header value calculation algorithm needed."
Hi,

while trying this out myself it was not obvious to see that it is not the Base64 of the Thumbprint string, but rather of the Hexadecimal representation of it. After some trial and error I figured it out.
This is the node.js based code for generating the correct value from the Thumbprint:
[code]

Opened a PR for this: #61066

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-08-18 08:24] DarkLite1 opened #61068 "SPA with node.js"
It would be great if this page had a link o `SPA with nodje.js backend`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a80d3420-d113-358b-709f-a61da7211a2b
* Version Independent ID: 5b0994ea-bd51-d7c0-460d-0412945148d8
* Content: [Move single-page app to production - Microsoft identity platform](https://docs.microsoft

[2020-08-18 08:26] irishun opened #61069 "Import List Entity Error"
Dear LUIS Team,

I have exported the LUIS model as a json file.
Inside the List Entity, if a normalized value does not have any synonyms, it has the format of:
[code]
However, if I try to add an additional list entity with the same format in json file and import, I got the message of
**Import version failed
10:16 AM
BadArgument: One or more synonyms are empty or whitespaces.**

Would be glad to kn

[2020-08-18 08:33] amanmcse commented on #60838
@tongyuze Thanks for sharing fiddler. Looking at the fiddler, I can see the grant_type is refresh_token. Which means, application is redeeming the refresh token to get a new access token. Since this process is being done in application context, you are getting "invalid_scope" error. When the grant_type is authorization_code and you are redeeming code to get a new access token, that process is done

[2020-08-18 08:49] SwathiDhanwada-MSFT commented on #60837
@abhishekhotti Just following up on my previous comment. Kindly revert with requested information.

[2020-08-18 08:56] VikasPullagura-MSFT commented on #60966
@filipdimkin Thanks for trying the suggestion and responding back on this.

As this issues needs more investigation and live troubleshooting for resolution I would recommend you to contact azure support. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free technical support.

In this case, could you send an em

[2020-08-18 08:58] souravmishra-msft commented on #60868
Adding @msmimart on this to take a look and add the appropriate note on this document.

[2020-08-18 09:02] rachelxj-ms opened #61071 "Add price details for extra FE if ratio is changed"
**Background:**
Customer changed Front End scale settings on. Here is info on Frontend scaling https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#front-end-scaling

By default for every 15 instances in ASE – we scale FE count by 1 and it is included in monthly fee.
However, customers can change ratio in portal.
If customer lowers this number – additional charge will be app

[2020-08-18 09:28] vipulsparsh commented on #60872
@Prasannaraju5590  Can you please mention the document that you are referring to ?

[2020-08-18 09:28] SwathiDhanwada-MSFT commented on #60788
@ArenHarut From the description you have provided, I could see that you have configured the alert however the alert didn't fire as expected. I would suggest you to go through [this document](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-troubleshoot-metric#metric-alert-should-have-fired-but-didnt) to cross verify why the alert hasn't verified even though it is configured. It

[2020-08-18 09:48] AshokPeddakotla-MSFT commented on #60958
@joshibhu Thanks for bringing this to our attention and appreciate for sharing the resolution. Adding author @wesmc7777 for further review and update the documentation appropriately.

[2020-08-18 09:52] PramodValavala-MSFT commented on #60962
@alisalih1 I've tried both the steps in this page and the complete project available [here](https://github.com/craigshoemaker/azure-functions-tests/tree/master/csharp-visualstudio). I didn't receive any error from VS about it.

I am using VS 2019 and the solution I created from scratch was for Azure Functions v3.

Could you share the exact error that you are seeing?

[2020-08-18 09:54] SqlRescuedLokesh opened #61072 "Why "ADF Data Flows Service Architecture" diagram was removed?"
Hi Guys,

I've noticed that the ADF Data Flows Service Architecture diagram has been removed from this page. Any reasons for removing it or has it been placed under different location?

Regards
Lokesh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 607b235f-468f-0494-3e7e-5f1e53e745f4
* Version Independent ID: bbed8d23-

[2020-08-18 09:58] phatcher opened #61073 "Duplicated Gateway for UK South"
Seems to be a duplicated gateway list for UK South...

    UK South | 51.140.184.11,51.140.184.11, 51.105.64.0

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d6d1bab033fb
* Content: [Azure SQL Database Connectivity Architecture - Azu

[2020-08-18 10:00] SnehaAgrawal-MSFT commented on #60829
@sergioadofaci Thanks for the reply! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-08-18 10:11] SnehaAgrawal-MSFT commented on #61056
@wukun2015 Thanks for raising the issue! Since this is duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/61058 closing here.

[2020-08-18 10:11] #61056 closed

[2020-08-18 10:12] davec643 commented on #60808
I had the same issue recently and Azure Support were less than helpful. The only options they suggested was upgrading to PremiumV2 or delete the app service plan and try to hit a non Flex stamped server. We have been using Regional VNet integration for the better part of a year now, and all of a sudden this is a problem...

I think they have a few options:
1. Remove Regional VNet Integration on Ap

[2020-08-18 10:12] SnehaAgrawal-MSFT commented on #61058
@wukun2015 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-18 10:15] SnehaAgrawal-MSFT commented on #61071
@rachelxj-ms Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-18 10:27] JasSuri commented on #60708
I would do the following to make this more robust:
1. First VTP should call a ClaimsTransformation TP. It will have input claim of clientid - you could resolve it here.
This CT TP should call a copy transform and copy the claim into a normal claim.
2. This CT TP should then output the claim.
3. Now call the check1, check2 etc

[2020-08-18 10:30] yichungyu commented on #60621
Hi @SumanthMarigowda-MSFT , any luck with this? Thanks!

[2020-08-18 10:46] #60775 closed

[2020-08-18 10:51] chrismoseley opened #61074 "Required roles aren't clear"
Adding a user to the roles "Cognitive Services QnA Maker Editor", "Cognitive Services QnA Maker Reader" does not appear to allow them to actually view the knowledge bases. They can log in and select the subscription and service but not see the knowledge base in the list. Adding them to the contributor roles makes it visible.

This makes adding the user to the "Cognitive Services QnA Maker Editor"

[2020-08-18 10:56] RohitMungi-MSFT commented on #61069
@irishun Thanks for the question. Could you please provide the .json that was used for import? Did the import of the format as mentioned in this [example ](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/reference-entity-list?tabs=V2#example-json-to-import-into-list-entity)failed?

[2020-08-18 10:58] AnuragSharma-MSFT commented on #61073
@phatcher Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-08-18 11:14] #61022 closed

[2020-08-18 11:17] nikossaperas commented on #12545
In case someone stumbles up on this, concerning "How to I pass apns-collapse-id (for iOS)" question above:

Server side, when using Microsoft.Azure.NotificationHubs I create an AppleNotification object and use SendNotificationAsync method to send it. In the former object you can pass the apns header parameters.

I post the relavant code fragment:

`var apnsHeaders = new Dictionary<string, string>

[2020-08-18 11:26] psmanhas commented on #60857
@viktors-telle Apologies for the delay in response.

Does you need to maintain the exact same IP or would it be okay with a short downtime while updating the DNS record to map to the new IP?

If you are okay with a short downtime you can follow the steps in this [document](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-scale-up-primary-node-type).

Do let me know in case of a

[2020-08-18 11:36] lokijota opened #61075 "Typo"
Page says:

"Maximum attachment size per Account (Attachment feature is being depreciated)"

The right word I believe is "deprecated". Depreciated = lose value.

It would also be good to confirm the information on depreciation, as I am not sure it is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e00a0946-e2b2

[2020-08-18 11:46] ecfan commented on #61020
@nestor-qhr: I'll make the link a bit more visible by tweaking the link text, thanks!

[2020-08-18 11:48] chmarti commented on #36458
I'm also totally confused. If WEBSITE_CONTENTAZUREFILECONNECTIONSTRING is required for Consumption plans, but it cant be configured to stick to a slot, how am I supposed to swap between a staging and production slot where I want each one to run on a different storage account? This has been possible with Web Apps forever, and seems like a very common use case. As far as I can tell, swapping functio

[2020-08-18 11:49] griffinbird opened #61076 "Regional availability for Availability Zones"
Under this heading https://docs.microsoft.com/en-us/azure/cosmos-db/high-availability#availability-zone-support
Australia East should be listed as it has support for AZ in Cosmos now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f171c675-7217-ad97-d35d-bd1d5058b2cb
* Version Independent ID: 2b9b18ee-6242-4503-2c3d-9c

[2020-08-18 11:52] andrewflierman opened #61077 "Incorrect instruction for redirect URI for MSAL 1.0 with implicit flow"
Step 3 in the Redirect URI section for MSAL 1.0 with Implicit flow instructs to add the **Single Page Application** platform within the App Registrations.
In our case this results in an error while authenticating: _Proof Key for Code Exchange is required for cross-origin authorization code redemption._

Instead of Single Page Application platform you should use Web as platform.

---
#### Document

[2020-08-18 11:57] psmanhas commented on #60233
@rageanilkumar The load Balancer SKU property is not a configuration of the node pool, it is on the managed cluster as the error states.

Can you please go through this [documentation](https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html).

Example config can be found [here ](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/examples/kubernetes/egre

[2020-08-18 11:58] jaslloyd opened #61078 "Docs missing for az cli for adding replyUrls for SPAs"
There is documentation around for updating replyUrls for web applications but doesn't seem to be anyway of doing it for SPA web applications.

[code]

This will add a reply url into the web section instead of under Single-page application. Is there a command I can run that adds it under the Single-page application tab?

[2020-08-18 12:05] ecfan commented on #61009
Hi @dubnemo, thanks for the suggestion. I've added the request to the backlog for prioritization.

@JayaChatterjee-MSFT: #please-close

[2020-08-18 12:05] #61009 closed

[2020-08-18 12:14] bertrandpons commented on #60690
@JasonWHowell @SadiqhAhmed-MSFT Hi,

Thank you for your replies. I would like to get monthly cost analysis per service for customers using Azure Plan. And PowerShell would be ideal for me.

[2020-08-18 12:26] KrishnaG-MSFT commented on #61061
@Scherlac Thanks for your comment! We will review and provide an update as appropriate.

[2020-08-18 12:29] ShreyaChakraborty-MSFT commented on #60541
Hi @PingPongSet

Can you please try using these exact versions of node, truffle and ganache. We are using the below versions and are able to deploy smart contracts

[code]
All dependencies are mentioned in these 2 locations
https://docs.microsoft.com/en-gb/azure/blockchain/service/connect-vscode
https://docs.microsoft.com/en-gb/azure/blockchain/service/send-transaction

Hope this helps!

[2020-08-18 12:32] AnuragSharma-MSFT commented on #61075
@lokijota Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-08-18 12:37] itahirov commented on #60820
Hello  @Ajay Thakur <ajay@cft.consulting>

I was running that commands  inside the windows container deployed in
azure, and I get the commands from below documentation
https://docs.microsoft.com/en-us/azure/app-service/tutorial-custom-container?pivots=container-windows

On Tue, Aug 18, 2020 at 3:17 AM AjayKumar-MSFT <notifications@github.com>
wrote:

--
*Best regards,*
*Ismayil Tahirov*
*phone:: +

[2020-08-18 12:41] vipulsparsh commented on #60845
@bfg100k  By the statement "control the user account " that means having privilege to manage the user account like any normal GA would have.  It does not mean sign as that user, it just mean you can assign licenses, reset passwords and other administrative stuff to that user account.

Let me know if you have any questions.

[2020-08-18 12:47] AnuragSharma-MSFT commented on #61076
@griffinbird Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-08-18 12:50] roofiq commented on #60873
Thanks @MBirari-MSFT.
So deploymentName is the name of the key vault deployment. We have separate ARM template for deploying key vault and we are outputting its resourceId there. Other variable is just to store secret name :)
Also, it is important to mention, that we were trying to achieve this in subscription level deployment. ResourceId function is not working there and we need to concat to get

[2020-08-18 12:57] ecfan commented on #60931
Hi @stephlocke,

Have you tried downloading the template by using Visual Studio or exporting the entire resource group that contains the resource definitions for both the logic app and connection resources? Here are links to more info:

* [Create Azure Resource Manager templates to automate deployment for Azure Logic Apps](https://docs.microsoft.com/azure/logic-apps/logic-apps-create-azure-resourc