[2019-03-17 12:22] AmanGarg-MSFT commented on #27368
@mikerichie86 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-17 12:24] AmanGarg-MSFT commented on #27371
@dipesharora Thank you for the feedback! We are investigating this and will get back to you shortly.

[2019-03-17 12:27] AmanGarg-MSFT commented on #27374
@omerlh Thank you for the feedback! We are investigating this and will get back to you shortly.

You can provide feature feedback [here](https://feedback.azure.com/forums/216843-virtual-machines).

[2019-03-17 12:39] Eltavo opened #27375 "Azure storage typo"
I think in the section "Create Azure Cosmos DB trigger", step number 4, should be Cosmos DB trigger extension instead of Azure Storage extension

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 490a08fe-c26e-6cae-5495-0b4f4e71e35d
* Version Independent ID: 79432f02-5059-2627-11e3-eccaf1109665
* Content: [Create a functio

[2019-03-17 13:01] jamescmaki opened #27376 "Following the steps produces Invalid URI: The format of the URI could not be determined."
[Enter feedback here]

Here is a powershell script that  I ran from Windows 10 which results in the Invalid URI error. This is using the unmodified example. I have also tried modifying the example extensively with no success. What changes need to be made in order for the packager to succeed?

wget http://www.aka.ms/azurestackmarketplaceitem -OutFile example.zip
Expand-Archive .\example.zip
cd '.\e

[2019-03-17 13:12] nonoxp opened #27377 "IoT Edge Tools 0.3.1 : unable to create modules with dots in the project name"
Hello
I can't get to debug my IoT Edge project when the module name contains a dot in its name.
The build and debug mode will launch but the module itself won't launch as a console application.

Ex:   My.Namespace.EdgeModule1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7b666c-1e95-d0dd-7fd8-a2367369d190
* Version

[2019-03-17 13:22] Sheikh-Aman commented on #26884
@Grace-MacJones-MSFT Sure, I have put the screenshots here : https://drive.google.com/drive/folders/1hYquRfCfn9lrJ6WkmgQiYMv3AN1l6uBz?usp=sharing

You'll have to request access to this folder, please.
Since it contains my code's directories, I have restricted access to this folder.

[2019-03-17 13:23] digeler commented on #27220
i have a repro :
with service admin disabled ,deployment stuck in transitioning :
   database("acrprod").RegistryActivity
   | where activitytimestamp >  datetime(2019-03-17)
   | where http_request_host contains "dinml7438724565.azurecr.io"

TIMESTAMP	activitytimestamp	message	auth_registry	auth_resource
2019-03-17 12:50:00.0000000	2019-03-17 12:54:20.4496270	authenticate_admin_user_failed	dinml7

[2019-03-17 15:17] willzhan commented on #26518
Before looking into how the asset is published or DRM configured, could you try the following first?
If the HLS/CMAF URL is not under FairPlay protection, please use this format string (after /manifest): (format=m3u8-cmaf).
If the HLS/CMAF URL is under FairPlay protection, please use this format string (after /manifest): (format=m3u8-aapl,encryption=cbcs-aapl).

[2019-03-17 15:59] AshokPeddakotla-MSFT commented on #27377
@nonoxp Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-03-17 16:01] knowpath commented on #24443
Can you clarify whether C# can be used on armv7 (Raspberry Pi 3B+)? All of the samples seem to be using Python, but the documentation implies you can use either C# or Python. Also, if you use C# on armv7, can you run USB and BLE code?

[2019-03-17 16:14] knowpath opened #27379 "Issue with Azure IoT Edge extension in VS"
When you go to create an IoT edge module, the extension only offers Linux on AMD64 or Windows on AMD64. There isn't any ARM v7 option, which makes it unclear how to create a module to run on Raspberry Pi 3B+.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf820bbb-9fc6-2037-6d72-c63192763ed6
* Version Independent ID: b

[2019-03-17 16:39] AshokPeddakotla-MSFT commented on #27078
@erwelch Can you please re-register an IoT Edge device and follow the steps again?

[2019-03-17 17:26] cogran opened #27380 "FAQ Addition"
It should be explicit that end-users need to utilize both instances/public IPs of the vWAN for both high availability using the logic from https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-highlyavailable#active-active-azure-vpn-gateway but also to meet SLA eligibility requirements for configuration (https://azure.microsoft.com/en-us/support/legal/sla/virtual-wan/v1_0/).

While an act

[2019-03-17 17:29] mries commented on #26619
Hi.  An ETA on this would suffice.

[2019-03-17 17:33] zavr-1 opened #27381 "Document cold-starts behaviour & relation to RUN_FROM_PACKAGE"
How does deploying from Dockerfile affect the cold-start performance -- is each file going to be copied like with git deploy, or is it going to be mounted on the virtual filesystem like RUN_FROM_PACKAGE?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d34

[2019-03-17 17:53] JozoSlejko opened #27382 "AzureCloud service tag"
Should AzureCloud service tag cover Azure DevOps addresses?
My test is showing that region specific Azure DevOps organization hosted agent public address is not caught by region specific AzureCloud tag. Can we get a confirmation on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc3

[2019-03-17 18:02] AjayKumar-MSFT commented on #26849
@dcbrown16, As mentioned in the document you are referring to (in the table), for LRS, 3 copies of data are maintained on separate nodes. Thanks again for your feedback,   I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-17 18:12] mike-urnun-msft commented on #27375
Hi @Eltavo Thank you for your feedback! We will review and update as appropriate.

[2019-03-17 18:13] mike-urnun-msft commented on #27381
Hi @zavr-1 Thank you for your feedback! We will review and update as appropriate.

[2019-03-17 19:02] zavr-1 opened #27383 "How To Create Linux App Consumption Plan"
The Linux Consumption Plan for function apps is in preview, but there's no documentation anywhere of how I can create a service plan for that. The only way to do it is ` az <function-app> create -n function-app --storage-account <storage> -g <groupd> -c westeurope --os-type Linux -i <docker> --runtime node` and even then az will show a message "Your Linux function app 'function-app', that uses a c

[2019-03-17 19:36] varandian commented on #10720
I'm having this same exact issue in two different environments.  Unfortunately, none of those links helped.

[2019-03-17 19:53] varandian opened #27384 "Authorize Button Gets stuck at Redirecting..."
I've tried creating a separate Enterprise Application just for provisioning, updating the manifest to include roles from G Suite (not in this documentation but it should be?), grant the account "Super Admin" on the G Suite side, but no matter what, it always gets stuck at "Redirecting..." with this in the URL bar:

https://portal.azure.com/TokenAuthorize?code=4/EAFyM_fKRGDHQ1cLfYcFsQDVubWTTFN0aRlm

[2019-03-17 21:23] nwipfli opened #27385 "Conflicting number of VM for custom images"
Hi,

As per this page, if we use a custom image, the number of VM in a scale set is limited to 300. But if we look at the FAQ section, we can see that the limit is up to 600. What number is correct ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c353c07-72b3-9a2b-2e4b-a79d6b60f07a
* Version Independent ID: 90

[2019-03-17 21:28] p-pani commented on #26878
Could you please include the power shell access bit as well...  Which limited admin role has access to powershell..?  i have a managed service partner who manages my IT.. and i would like them to have access on O365 and powershell..

[2019-03-17 22:10] TheSoftwareArchitect opened #27386 "Quickstart for PowerShell in Azure Cloud Shell - two issues in Navigate Azure resources"
In step 2: "cd to your preferred subscription", there are two issues -- (1) the copied commands are "just plain wrong".  You get this when you copy per the instruction:
"PS Azure:\&gt; cd MySubscriptionName
PS Azure:\MySubscriptionName&gt;"
line one won't work and line two doesn't help
and (2) Both of my Azure subscription names have spaces in them.  Nowhere do you mention how to handle spaces --

[2019-03-17 22:13] artisticcheese commented on #25269
Also why it's saying that you need to create log analytics workspace manually? ARM template can be used to deploy workspace as well.

[2019-03-17 22:18] PingPongSet opened #27387 "Log Analytics workspace and APIM and Azure Functions"
Based on the content below: Do I need  Log Analytics Workspace, if I need to monitor APIM and Azure Functions? Are there links on setup Log Analytics for APIM and Azure Functions?
"
You require a Log Analytics workspace if you intend on collecting data from the following sources:

    Azure resources in your subscription
"

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-17 22:28] afmorris commented on #20758
Thanks for the investigation @rachel-msft! I think I've got this issue re-created successfully, this time with just the Azure CLI (rather than also having Terraform in play). Here's the reproduction steps:

1. Create a resource group: `az group create --location eastus --name azure-postgresql-test-rg`
1. Create a PostgreSQL server: `az postgres server create --admin-password xxx --admin-user tmorr

[2019-03-17 22:33] #26907 closed

[2019-03-17 22:37] olufea commented on #27227
Ok, however, the Cosmos.Table provides an important property (TableResult.RequestCharge), which I can't find in CosmosSB.Table. It will be great if they both provide this, as cost estimation/management an important part of migrating to CosmosDB

[2019-03-17 22:43] rajurh opened #27388 "ADF v2 stored procedure activity failure"
I am currently using ADFv2 in a pipeline i have a series of activity if one of the activity we call stored procedure. If the stored procedure returns any error basically i dont want to proceed with next activity in pipeline.  Currently though stored procedure is failed with error activity shows success. Please let me know if i am missing anything or how to fail the activity itself.

---
#### Docum

[2019-03-17 23:10] BeMor81 opened #27389 "More than one word"
Had do you label more than one word so san diego for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c20727e-06cc-1942-2cb6-10644788e862
* Version Independent ID: 6d558803-bece-7d1b-7ba1-af85fb92fa4d
* Content: [Hierarchical entity - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-se

[2019-03-17 23:12] saif-chaudhry commented on #25812
Any answer to the above?

We're looking to configure secure encrypted connectivity (S2S vpn ipsec tunnel) between our on-premises network and our Azure virtual networks (VNets) over an ExpressRoute private connection configured with private peering. I'm not able to find any reference to such setup in the document and wondering if this is possible using the Azure vpn gateway. Simply put;

Can I use

[2019-03-17 23:55] wmengmsft commented on #27227
@olufea, we recommend that you use Microsoft.Azure.Cosmos.Table going forward. Since it targets .NET Standard, it can run in various .NET implementations.

[2019-03-18 00:11] yzll111 opened #27390 "Issure - Azure digital twin - find available rooms - sign in issue"
hi all,

im currently following the 'find available rooms' tutorial and get signing in issues

in terminal i typed in:
'dotnet run ProvisionSample'

get the response:
'To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code E2HQ844K6 to authenticate.'

after i type down the codes in, i get the message:

'Request Id: 6097ec32-ee7b-41b0-ac1f-4d05769d9000
C

[2019-03-18 00:13] dcbrown16 opened #27391 "Azure blob requirement?"
Just wanted to check here if the requirement is that we use a custom page stored in Azure blob storage. Could it be placed in some other Internet-accessible location instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8876a502-81db-4ef1-9e22-ebff4a63cabe
* Version Independent ID: c9676383-40c2-44fc-2d26-ef571466712

[2019-03-18 01:25] binoyjt commented on #26120
Any Updates on this would be Highly appreciated

[2019-03-18 01:38] georgewallace commented on #26120
@binoyjt the page has been updated with a note mentioning that region mapping does not necessarily mean a region is available. West Central US is a valid region for existing LA workspaces. At this time you can’t create new ones there but still is a supported region. The mapping table is 100% accurate.

[2019-03-18 01:41] #26120 closed

[2019-03-18 01:50] dcbrown16 opened #27393 "Cover "Identities" item"
The "Identities" item on the API-M menu doesn't seem to be explicitly covered in the docs anywhere.
We have the docs for the AAD and B2C options and it seems like the Facebook, Google, Microsoft, Twitter options are maybe just preset versions of the delegation presented here, but that needs to be covered if possible.
Also I'm pretty sure the "Username and password" default option is just describin

[2019-03-18 02:06] imeya opened #27394 "How to use Developer Mode in Azure Application Insights for node.js?"
As I know, for c#, it can use this line of code: TelemetryConfiguration.Active.TelemetryChannel.DeveloperMode = true;

Then in node.js, how to use Developer Mode in Application Insights?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 401d2997-0fbd-7966-8996-edbaab1819ff
* Version Independent ID: c3ee3318-4c69-

[2019-03-18 02:38] DixitArora-MSFT commented on #27193
@zak-jama-venture1consulting-com Just following up here, let us know if there are any further questions, otherwise, we'll proceed to close this issue :)

[2019-03-18 02:39] DixitArora-MSFT commented on #27155
@jitendriyag2 Just following up here, let us know if there are any further questions, otherwise, we'll proceed to close this issue :)

[2019-03-18 02:42] DixitArora-MSFT commented on #27118
@ross-mcdermott Just following up here, let us know if there are any further questions, otherwise, we'll proceed to close this issue :)

[2019-03-18 02:46] jeevansd commented on #10720
@fredle This might be because Azure AD is not able to store the secrets because of size restriction. PLease try creating another G Suite application from Azure AD and then try to set it up. You might have to use one app for SSO and another for provisioning.

[2019-03-18 02:47] gopala000 opened #27395 "Usage of AddApplicationInsightsTelemetry vs AddApplicationInsights"
It is not clear if the approach to add line
services.AddApplicationInsightsTelemetry("ikeyhere");

is mutually exclusive to the code section mentioned earlier

        services.AddLogging(loggingBuilder =&gt;
        {
	    // Optional: Apply filters to configure LogLevel Trace or above is sent to ApplicationInsights for all
	    // categories.
	    loggingBuilder.AddFilter&lt;ApplicationInsightsL

[2019-03-18 02:56] linyixian opened #27396 "line are missing"
Assignment statement for predictions is missing.

-------------------------------------------------------------------------------------------
with tf.Session() as sess:
    prob_tensor = sess.graph.get_tensor_by_name(output_layer)
    predictions, = sess.run(prob_tensor, {input_node: [augmented_image] }) _<-- This line missing.-
---------------------------------------------------------------------

[2019-03-18 03:23] edm-ms commented on #27023
The vCPU over-commit does not appear to do anything in the sizing as all the charts are using physical cores. Please update the sizing to reflect the chosen over-commit amount (the default in the sheet is 4:1).

[2019-03-18 03:29] difanyi opened #27397 "External IP can't be open outside"
I have follow the guide and get a external-ip like below:
![image](https://user-images.githubusercontent.com/22910206/54504916-b3031800-4970-11e9-9e69-2104a6fba94b.png
![image](https://user-images.githubusercontent.com/22910206/54505019-22790780-4971-11e9-9686-9dfa8a1d7337.png)

and my azure-vote-front is not on,can you figure why?
![image](https://user-images.githubusercontent.com/22910206/545049

[2019-03-18 03:41] shashishailaj commented on #27376
@jamescmaki Thank you for your query . We will investigate and update this thread further .

[2019-03-18 03:43] shashishailaj commented on #27380
@cogran Thank you for your feedback . We will have this investigated and update this thread.

[2019-03-18 03:45] shashishailaj commented on #27379
@knowpath Thank you for your feedback . We will have this investigated and update this thread.

[2019-03-18 03:47] shashishailaj commented on #27382
@JozoSlejko Thank you for your feedback . We will have this investigated and update this thread.

[2019-03-18 03:47] danny8002 opened #27398 "dead/incorrect link"
'DAX Basic in Power BI Desktop' has incorrect link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tutorial for Azure Cosmos DB connector](https://docs.microsoft.com/en-us/azure/cosmos-db/powerbi-vis

[2019-03-18 03:49] shashishailaj commented on #27383
@zavr-1 Thank you for your feedback . We will have this investigated and update this thread.

[2019-03-18 03:52] shashishailaj commented on #27384
@varandian Thank you for your query. We apologize if your experience with our support was not upto the mark but we will surely help you on this. Please allow us some time to reproduce this and we will continue the discussion here. In case any more details is required we will contact you for the details. Thank you.

[2019-03-18 03:54] shashishailaj commented on #27385
@nwipfli Thank you for your query. We will have this investigated and update this thread.

[2019-03-18 03:55] KalyanChanumolu-MSFT commented on #26701
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-18 03:55] #26701 closed

[2019-03-18 03:59] shashishailaj commented on #27386
@TheSoftwareArchitect Thank you for your feedback . We will investigate and update further.

[2019-03-18 04:02] shashishailaj commented on #27387
@PingPongSet Thank you for your feedback . We will investigate and update further .

[2019-03-18 04:03] AmanGarg-MSFT commented on #27390
@yzll111 Can you please provide the url of the document you are referring to so that we can help you better.

[2019-03-18 04:04] AmanGarg-MSFT commented on #27389
@BeMor81 Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-18 04:05] shashishailaj commented on #27388
@rajurh Thank you for your feedback . We will investigate and update further .

[2019-03-18 04:09] PramodValavala-MSFT commented on #27032
@olitomlinson Just following up here... Hope my previous comment clears things up.

[2019-03-18 04:09] PramodValavala-MSFT commented on #27052
@rofangaci Just following up here... Did you have a chance to take a look into the restrictions imposed?

[2019-03-18 04:20] KetanChawda-MSFT commented on #27393
@dcbrown16 Thanks you for posting your question. We will review this and provide an update as appropriate.

[2019-03-18 04:25] KetanChawda-MSFT commented on #27308
@vinothrao Checking in to see if the above post helped answering your question.

[2019-03-18 04:25] KetanChawda-MSFT commented on #27307
@vinothrao Checking in to see if the above post helped answering your question.

[2019-03-18 04:26] msrini-MSFT commented on #27391
@dcbrown16 , Thank you for posting your question here.I will update you shortly whether it is possible or not.

[2019-03-18 04:30] shashishailaj commented on #27394
@imeya Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-18 04:30] shashishailaj commented on #27395
@gopala000 Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-18 04:30] CHEEKATLAPRADEEP-MSFT commented on #26331
@hmayer1980 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-18 04:30] #26331 closed

[2019-03-18 04:32] shashishailaj commented on #27396
@linyixian Thank you for the question! We are investigating this and will get back to you shortly.

[2019-03-18 04:35] KalyanChanumolu-MSFT commented on #27395
@gopala000
AddApplicationInsightsTelemetry() and UseApplicationInsights() both are ways to add instrumentation capabilities to your application. These are "mutually exclusive" and you should use only one of them.

UseApplicationInsights() will automatically read and initialize configuration variables from appsettings.json and is the easiest way to get started with default settings.
AddApplicationI

[2019-03-18 04:37] shashishailaj commented on #27397
@difanyi Thank you for your feedback . We will have this investigated and update the thread accordingly .

[2019-03-18 04:38] msrini-MSFT commented on #27391
@dcbrown16 , as of now Custom error page only supports blob URL.

![image](https://user-images.githubusercontent.com/47132998/54507080-a2997000-4965-11e9-87e9-bf678ec76888.png)

Closing this issue. Please reopen if you have any further questions.

[2019-03-18 04:38] #27391 closed

[2019-03-18 04:39] shashishailaj commented on #27398
@danny8002 Thank you for your feedback . We will have this investigated and update the thread accordingly .

[2019-03-18 04:44] DixitArora-MSFT commented on #27310
@dcbrown16 In API management, [pricing page](https://azure.microsoft.com/en-us/pricing/details/api-management/) is included in Azure API Management [tier doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-features) which discuss about various tiers available in APIM and their comparison.

[2019-03-18 04:44] RohitMungi-MSFT commented on #27220
@digeler Please try to use contributor role instead of admin to the workspace application.

[2019-03-18 04:44] KeiroKamioka0000 opened #27399 "Analysis to another Azure Active Directory."
I understand Azure Analysis Service will support the adding user from another Azure AD tenant directory as the Guest.
If user would like to add [entire] users in another Azure AD tenant directory, does user have to add the all user one by one?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4c05ca1-189b-c253-02

[2019-03-18 04:45] KetanChawda-MSFT commented on #27350
@mganeshphani Just checking in to see if the documentations link provided in the above post helped you setting up CI/CD pipeline for Java Function.

[2019-03-18 04:45] RohitMungi-MSFT commented on #27177
@sameer-awate  We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 04:45] dcbrown16 commented on #27310
Thanks @DixitArora-MSFT, I can easily find if with a search but I'm just saying it should be added to the Resources area as a ToC link, like every other Azure service.

[2019-03-18 04:46] #27177 closed

[2019-03-18 04:47] DashleenBhandari-MSFT commented on #27087
@btardif Thanks for help.

[2019-03-18 04:49] seanperera commented on #24190
**sf-resolve-condition="@(context.LastError?.Reason == 'BackendConnectionFailure')"**  and **sf-resolve-condition="@(context.LastError?.Reason == "BackendConnectionFailure")"** does not work with "_**Set-AzureRmApiManagementPolicy**_" PowerShell cmdlet and return the exception "BadRequest".

[2019-03-18 04:50] CHEEKATLAPRADEEP-MSFT commented on #27273
@anssenfang1 Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@hrasheed-msft Could you please look into this issue?

[2019-03-18 04:52] CHEEKATLAPRADEEP-MSFT commented on #27274
@anssenfang1 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.
@hrasheed-msft Could you please look into this issue?

[2019-03-18 04:59] YutongTie-MSFT commented on #26882
@xiaoharper @j-martens Thank you!

[2019-03-18 04:59] PramodValavala-MSFT commented on #27348
@githubavi A sample for this would indeed be great to have but I believe the context of when its required is missing and is probably out of scope for this document.

The environment variables are really only needed when these custom images are deployed to somewhere **_other than_** Azure Functions, like Azure Container Instances, Kubernetes, etc.

Nonetheless, here is a sample of such a `Dockerfil

[2019-03-18 05:00] rachel-msft commented on #20758
@afmorris Really appreciate you taking the time to get the repro for this. I'm able to reproduce it as well. I'm opening an internal ticket.

[2019-03-18 05:08] gopala000 commented on #27395
Thank you for the quick response.  I'd need to set Component (application's name) and trace level set per environment. I see trace level can be read from appsettings.config based on this article.  It will be helpful to know what config variables are available to customize.

[2019-03-18 05:19] githubavi commented on #27348
Thanks Pramod,
It helps.

-Avi
________________________________
From: Pramod Valavala <notifications@github.com>
Sent: 17 March 2019 22:00
To: MicrosoftDocs/azure-docs
Cc: Avijit Samanta; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to use configuration settings in function container environment (#27348)

@githubavi<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.co

[2019-03-18 05:22] gopala000 commented on #27395
In our system, there are windows services as well. Can AddApplicationInsightsTelemetry() used there too or is there a similar nuget library available for use in windows services?

[2019-03-18 05:25] kazshi commented on #26518
@willzhan Thanks for you advice. I provided it to my customer.

[2019-03-18 05:25] mike-urnun-msft commented on #24489
Hi @wolszakp I have gone through the steps again with specs below and didn't run into any issues:
Python v3.6.8
Node v10.15.3
Npm 6.4.1
Core Tools 2.4.419

Closing as no faulty steps were found. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 05:25] #24489 closed

[2019-03-18 05:25] PramodValavala-MSFT commented on #27337
@cloudmelon The fail over is only for the APIM Gateway instances and not for your back end services.

The policy that you've shared is still required to route requests from the APIM gateway instance in a region to the back end services in that same region.

I believe for a multi-region high availability scenario you would have something like this
![image](https://user-images.githubusercontent.com/

[2019-03-18 05:27] paulbouwer commented on #25130
@MicahMcKittrick-MSFT - PR 69823 merged for this.

[2019-03-18 05:30] BhargaviAnnadevara-MSFT commented on #27394
@imeya Please try [this](https://stackoverflow.com/a/55214926/10805761) approach out and let me know if it works for you.

[2019-03-18 05:38] 461775 commented on #27324
Thanks for your response

Now i can able to get the access token and authentication success. Now i am getting authorization failed error

{
    "resourceType": "OperationOutcome",
    "id": "7ef25a85-8a73-4a68-b3ca-ec2f78eefcc6",
    "issue": [
        {
            "severity": "error",
            "code": "forbidden",
            "diagnostics": "Authorization failed."
        }
    ]
}

I have cr

[2019-03-18 05:44] ManojReddy-MSFT commented on #27399
@KeiroKamioka0000 Azure Analysis service/Azure AD use the B2B Invitation model to create user objects in the source Azure AD when the guest users redeem the invitation.

You can go through this [blog ](https://blogs.technet.microsoft.com/cbernier/2017/12/18/azure-ad-b2bhow-to-work-with-partners-and-subsidiaries/)which covers lot of scenarios involving B2B collaboration.

Let me know if you have an

[2019-03-18 05:45] PramodValavala-MSFT commented on #27393
@dcbrown16 Yes. You are right.

The `Identities` tab is for handling authentication of developers (users of your API). The various options like Username/Password, AAD, AAD B2C, Facebook, etc. are all different ways you can have developers wanting to use your APIs to login and subscribe.

Alternatively, you can also delegate this responsibility to your own system as mentioned in this [doc](https://

[2019-03-18 05:51] dcbrown16 commented on #27393
Thanks @PramodValavala-MSFT ! My customer was just looking for a straightforward list of all the ways you can set up authentication for the dev portal, and it was surprisingly difficult to gather these methods, as they are sort of distributed in the ToC under Secure your API, Customize Developer Experience, and Manage Production at least.
If I may make a suggestion, a Concepts page about authentic

[2019-03-18 06:01] KetanChawda-MSFT commented on #27375
@Eltavo The referenced PR will update the document with fix. Thanks for your inputs.

[2019-03-18 06:04] #27375 closed

[2019-03-18 06:05] ManojReddy-MSFT commented on #27356
@p33t Welcome to Azure! Ideally users / Global Administrators provide the consent for the applications to access data.

Please take a look at this [article ](https://docs.microsoft.com/en-us/azure/active-directory/develop/application-consent-experience
)which explains the concept of application concept and the types in detail.  Let me know if you still have any further questions regarding this.

[2019-03-18 06:10] KetanChawda-MSFT commented on #27334
@rajrao The referenced PR will update the document with fix. Thanks for your inputs.

[2019-03-18 06:11] PramodValavala-MSFT commented on #27393
@dcbrown16 That sounds like a good idea. Thanks for the feedback!

[2019-03-18 06:12] ggailey777 commented on #27375
Thanks for finding and fixing this doc bug!

[2019-03-18 06:12] #27334 closed

[2019-03-18 06:17] DixitArora-MSFT commented on #27381
@zavr-1 Yes, the cold start is applicable to Linux worker as well. When you build the image from the Docker file. It just copies the files from the current folder from where you are executing docker build command into the path /home/site/wwwroot. So basically, your base image gets modified and these new files will be present as part of our newly build image. 

[2019-03-18 06:17] ChiragMishra-MSFT commented on #27211
@sujal1989 Since this is not an issue with this doc, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for su

[2019-03-18 06:17] #27211 closed

[2019-03-18 06:19] ChiragMishra-MSFT commented on #27218
@gewarren I am assigning the issue to the content owner to review and update as appropriate.

@ShubhaVijayasarathy Can you please take a look at this one ?

[2019-03-18 06:24] Tarjei99 opened #27400 "Comprehensibility issues"
Hi,

I had to read the tutorial at least 5 times in order to get a handle on what is done where and give feedback to the company owner of the application. And judging by comments from others, I doubt that many people will be able to keep content apart. It is simply confusing.

I think a restructuring needs to be done. Preferably by dividing the document into several documents. There is simply too

[2019-03-18 06:27] AjayKumar-MSFT commented on #26518
@kazshi, Thanks for the update! We will close this out, but if you feel you need more information please just let us know.

[2019-03-18 06:31] ChiragMishra-MSFT commented on #26114
@craigg-msft Can you please take a look at this one ?

[2019-03-18 06:38] RayBrindley commented on #26553
Hi all,

We finally figured it out. Sophos A/V was causing the Sysprep to fail,
however it didn't actually error out meaning it said that it succeeded then
we were not able to troubleshoot as it would never boot up.

Cheers,
Ray

On Sat, 9 Mar 2019 at 03:13 Cynthia Nottingham <notifications@github.com>
wrote:

[2019-03-18 06:42] ManojReddy-MSFT commented on #27017
@gutjahr "Microsoft Intune Enrollment" refers to the MDM portion and when you apply the policy to this , users who are hitting the MDM endpoint will be affected.

"Microsoft Intune" refers to both MDM and MAM. If you apply conditional access policy to this application , then CA policy will be applied for MDM and MAM. You can read more about MDM [here](https://docs.microsoft.com/en-us/windows/clien

[2019-03-18 06:44] kazshi commented on #26518
@AjayKumar-MSFT Could you please reopen this? I have no way to track the content updates if this was closed.  Thanks.

[2019-03-18 06:45] dcbrown16 opened #27401 "Document the Application Settings that are added"
Depending on the settings you enable, it looks like the following Application Settings may be added to your Web App. Please add some documentation to indicate these relationships.

Settings I see:
APPINSIGHTS_INSTRUMENTATIONKEY
APPINSIGHTS_PROFILERFEATURE_VERSION
APPINSIGHTS_SNAPSHOTFEATURE_VERSION
ApplicationInsightsAgent_EXTENSION_VERSION
DiagnosticServices_EXTENSION_VERSION
InstrumentationEngin

[2019-03-18 06:48] kazshi opened #27402 "HLS/CMAF/Fairplay with CBCS"
HLS/CMAF/Fairplay with CBCS is not listed in the 'Streaming protocols and encryption types' table but I learned that's currently supported. Please add it to the table. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c75e8fa-2e91-d600-417c-2de6f9d98c21
* Version Independent ID: 09063127-7d0a-db1d-c2d1-69f7fb3fa3

[2019-03-18 06:51] wolszakp commented on #24489
Thanks @mike-urnun-msft

So the problem was with `python 3.6.0`
Upgrading python to `3.6.8` solve the issue.
https://github.com/Azure/azure-functions-core-tools/issues/1050

It will be worth to have this information in the docs.

[2019-03-18 06:52] RohitMungi-MSFT commented on #27364
@carlfranklin Interesting you received this error. Could you please confirm if the repo cloned without any errors? Also could you please elaborate on what is the error?

I was able to download the repo and install the modules with no errors.

![image](https://user-images.githubusercontent.com/46958063/54511569-57885880-4977-11e9-92e4-ddbffeb5fbc2.png)

The version of npm I am using is 6.4.1

I wou

[2019-03-18 06:52] rajb865 opened #27403 "Why /etc/iotedge/configedge.sh does not exist while installing IoT edge on real Ubuntu Device"
I tried quickstart of installing IoT Edge runtime on Ubuntu machine from this microsoft link https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux. I dont see /etc/iotedge/configedge.sh file to configure the IoT Edge runtime. When I tried https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux then I found that /etc/iotedge/configedge.sh file present at /etc/iotedg

[2019-03-18 06:55] imeya opened #27404 "The error "Failed to update connection settings for resource xxx to Log Analytics" occurs when try connect an azure function to azure log analytics."
I have an azure function named "xxx".
In the azure Log Analytics workspace -&gt; azure resource, I can see azure function "xxx" is there, then I click it, fill in any fields -&gt; then click "save". But I see this error: Failed to update connection settings for resource xxx to Log Analytics.

![function-log-analytics-resource](https://user-images.githubusercontent.com/25738099/54512201-63cbe000-49

[2019-03-18 07:08] shashishailaj commented on #27150
@slaet Thank you for confirming your findings . We will need to get this looked into by content team to be verified with engineering and hence we are engaging the authors on this.

@curtand Could you please review this and help make necessary changes to the content after necessary verification?

[2019-03-18 07:10] jakaruna-MSFT commented on #27385
@nwipfli Limit is raised from 300 to 600.
This Document is not yet updated it seems. We will update it to 600.
Also check this [link ](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#virtual-machine-scale-sets-limits) for the service specific limits in Azure.
Thanks for reporting.

[2019-03-18 07:14] AmanGarg-MSFT commented on #27401
@dcbrown16 Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-18 07:17] khanasif1 commented on #15019
I have provisioned a storage in AustraliaEast with GRS. I just want to know if my AustraliaEast storage fails what steps I need to do to resume read/write . As currently customer failover option is not enabled fro Australia region.

[2019-03-18 07:22] wilsonchua20 opened #27405 "Audio file for luis"
Is there a way to pass audio file or byte[] to get intent and entities using rest api in java?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c53b2e22-8501-de8a-9a16-83d97432de4f
* Version Independent ID: 4ee7a356-a519-49d2-e5a3-e7973f7ce650
* Content: [Change, train app, Java - Language Understanding - Azure Cognitive

[2019-03-18 07:25] shashishailaj commented on #27191
@DanielMabbett At this point the automation through power-shell is not available however this is a highly voted idea and is currently in review by the engineering . Please vote for the feature in the [uservoice forums here](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/11648064-unattended-installation-azure-ad-connect) .

Please keep a track of the [AAD connect versio

[2019-03-18 07:36] SumanthMarigowda-MSFT commented on #26699
@Klaas- Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-18 07:36] #26699 closed

[2019-03-18 07:40] gutjahr commented on #27017
@ManojReddy-MSFT Thanks. I think I am comfortable with what is meant by "Microsoft Intune Enrollment". Still, not exactly sure I understand the explanation you have given for "Microsoft Intune" and in what scenarios is kicks in.

[2019-03-18 07:54] RohitMungi-MSFT commented on #27365
@ytthuan An interesting observation of the unit. Could you please let us know which type of file are you using for your testing? The supported file types as per the API reference are:

Input requirements:

- Supported image formats: JPEG, PNG, BMP, PDF and TIFF.
- For PDF and TIFF, up to 200 pages are processed.
- For free tier subscribers, only the first 2 pages are processed.
- Image file size m

[2019-03-18 08:02] sergaz-msft commented on #27403
Hi @rajb865 ,
configedge.sh is a script specifically to help you configure the Azure IoT Edge on an **[Ubuntu virtual machine on Azure](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft_iot_edge.iot_edge_vm_ubuntu?tab=Overview)**.

Is anything blocking you when configuring Azure IoT Edge on a local Ubuntu OS?

Thanks

[2019-03-18 08:05] Klaas- commented on #26699
Hi, well I would say my general questions is not answered; but I guess the only numbers that are actually part of the contract I have with microsoft are the SLA numbers. So all numbers from docs are just "information" and not "binding".

[2019-03-18 08:09] ross-mcdermott commented on #27118
@DixitArora-MSFT all good to close thankyou.

[2019-03-18 08:09] #27118 closed

[2019-03-18 08:09] nwipfli commented on #27385
Thanks for your responses.

[2019-03-18 08:11] RohitMungi-MSFT commented on #27396
@linyixian Good Catch. It looks like a recent [change ](https://github.com/MicrosoftDocs/azure-docs/commit/884985346d4fa94213aeb09409445b09f361054f#diff-d1d37517f9841fffdddbb7cb48936a3f)has deleted this line.

@areddish Could you please update the code sample to include this line?

`predictions, = sess.run(prob_tensor, {input_node: [augmented_image] })`

[2019-03-18 08:13] msrini-MSFT commented on #27370
@kknight-valorem , I did a PR and edited the Doc. You will see the changes reflecting soon. Closing this issue.

[2019-03-18 08:13] #27370 closed

[2019-03-18 08:22] rajb865 commented on #27403
Hi @sergaz-msft ,

Thanks for the quick reply. No I am not facing any blockage while configuring Azure IoT Edge on local ubuntu. As per my understanding, without TPM automatic provisioning of IoT edge devices are not supported yet. so to automatically update the config.yaml file, configedge.sh might help.

[2019-03-18 08:23] haoxin opened #27406 "Error when creating AKS"
az group create --name MyResourceGroup --location &lt;region&gt;
az aks create -g MyResourceGroup -n myAKS --location &lt;region&gt; --generate-ssh-keys
Got this Error:
The password must contain at least 1 special character. paramName: PasswordCredentials, paramValue: , objectType: Microsoft.Online.DirectoryServices.Application
Workaround:
az ad sp create-for-rbac --skip-assignment
az aks create -

[2019-03-18 08:25] yzll111 commented on #27390
Hi there

Thanks for your reply, please see these

Baseurl:
https://dt01.westeurope.azuresmartspaces.net/management/api/v1.0/

Thank you very much.

On Mon, 18 Mar 2019, 04:03 AmanGarg-MSFT, <notifications@github.com> wrote:

[2019-03-18 08:25] yzll111 commented on #27390
@AmanGarg-MSFT

Hi there

Thank you for your reply

This is the base URL:
https://dt01.westeurope.azuresmartspaces.net/management/api/v1.0/

[2019-03-18 08:27] skgitti opened #27407 "Alert for group licensing errors?"
How to create alerts that will notify admins when group based licensing is showing up errors?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0fc0fc-b772-de61-258a-a6fd4ea9711c
* Version Independent ID: 04e86827-c8da-a01a-2cb5-aeb2fbcef610
* Content: [Resolve license assignment problems for a group - Azure Active Dire

[2019-03-18 08:37] msrini-MSFT commented on #27192
@vikaskumawat80 , Any update on this? I will go ahead and close this for now and reopen if you have any further questions.

[2019-03-18 08:37] #27192 closed

[2019-03-18 08:41] msrini-MSFT commented on #26251
@dikadali , Post enable/disable the Accelerated Networking feature without stop/deallocate, did you test to check if you are able to get the desired results?

In other words, if you enable Accelerated Networking feature without stop/deallocate, are you able to test the performance ? Are you able to see decrease in latency?

[2019-03-18 08:43] KrishnaG-MSFT commented on #27063
@ashleywb Closing this issue for now. If there are further questions regarding this matter or questions or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-03-18 08:43] #27063 closed

[2019-03-18 08:44] RohitMungi-MSFT commented on #27405
@wilsonchua20 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-18 08:47] Shawn-ye commented on #12971
Hi @Karishma-Tiwari-MSFT
have we got any updates on this issue? I probably encountered the same problem. Do we have solutions for this now except the hack / tricky way?

[2019-03-18 09:09] PingPongSet opened #27410 "Information on How to setup Log Analytics for Azure Functions and APIM"
I am looking for information on how to setup log analytics for Azure Functions, and APIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521c75f5-5d71-10b5-df71-a8a6c0204a2e
* Version Independent ID: 4343bd59-d34e-8d99-a723-292fc27b60bd
* Content: [Log Analytics FAQ](https://docs.microsoft.com/en-us/azure/azure-monitor

[2019-03-18 09:21] julesman101 opened #27411 "Non-Existant Az Command referenced"
Step 1 of section titled "Set-up a custom domain name in API Management" refers to the non-existent command : "Import-AzApiManagementHostnameCertificate".  This command does not exist in the latest Azure Az powershell.  Is there a different command we should use?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c1f253-

[2019-03-18 09:27] SumanthMarigowda-MSFT commented on #27359
@peledins Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-18 09:28] ManojReddy-MSFT commented on #26906
@haselton We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-18 09:28] #26906 closed

[2019-03-18 09:29] SumanthMarigowda-MSFT commented on #27246
@artisticcheese Apologies for the delay! May I know what exactly are you trying to perform?

[2019-03-18 09:33] algattik opened #27412 "Are encrypted credentials stored on the runtime?"
The doc states "the credentials are encrypted using DPAPI and stored on the self-hosted integration runtime node locally" but also that the encrypted credential must be sent up to ADF. this should be made clearer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fffacfbd-9fbe-fd90-3de2-341a33b4aebc
* Version Independent

[2019-03-18 09:35] ManojReddy-MSFT commented on #25419
@htate1234 We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-03-18 09:35] #25419 closed

[2019-03-18 09:37] shashishailaj commented on #27400
@Tarjei99 Thank you for your feedback . We will investigate and update this thread.

[2019-03-18 09:37] neeleshray commented on #27407
@skgitti   Thank you for your feedback . We will investigate and update the thread.

[2019-03-18 09:40] algattik opened #27413 "Credential Manager application"
The text "the data developer uses the Credential Manager application (currently not supported)" is confusing, if this is not supported, shouldn't it be removed from the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa

[2019-03-18 09:51] yzll111 commented on #27390
It's weird, I tried sign in with my phone and it works... But when I signed in with my MacBook it returns the error message....

[2019-03-18 10:03] KetanChawda-MSFT commented on #27383
@zavr-1 The intent of this document is to help creating a Function App on Linux using a custom image and [Create App Service Plan](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image#create-a-linux-app-service-plan) section of the document mentions that Linux container apps is not supported in `Consumption Plan`. You have to host Linux container apps

[2019-03-18 10:07] KalyanChanumolu-MSFT commented on #27395
For Windows Services, please use Nuget package [Microsoft.ApplicationInsights](https://www.nuget.org/packages/Microsoft.ApplicationInsights/)
A code sample is [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/windows-desktop#to-send-telemetry-to-application-insights-from-a-classic-windows-application)

[2019-03-18 10:08] Leon99 opened #27414 "Installation"
Given that all the instructions are using CLI tools, installation instruction should mention that the quickest way to install it is via a command line using chocolatey.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78bafe84-4e50-785c-b4f6-e629127a80a9
* Version Independent ID: 34e5924e-2d7e-3bf2-0992-78eb59463a6a
* Co

[2019-03-18 10:09] SadiqhAhmed-MSFT commented on #27030
@Anmolgan81 The [link](https://docs.microsoft.com/en-us/azure/site-recovery/migrate-tutorial-aws-azure#prerequisites) has information about the supported images. "Red Hat Enterprise Linux 6.4 to 6.10, 7.1 to 7.6 (HVM virtualized instances only) (Instances running RedHat PV drivers aren't supported.)" Let me know if you're looking for any specific details.

[2019-03-18 10:11] sffamily commented on #21320
@CeciAc Thank you for the comment and feedback! we are adding JWT how-to guide in the upcoming batch of doc release, in the next a few weeks.
@codematrix If you are ok to use REST API in broadcast scenario for Azure SignalR Service, now it actually requires JWT signing. The REST API doc and our code samples have more details. As said we are adding the dedicated doc for JWT with SignalR Service.

P

[2019-03-18 10:11] Trundlore opened #27415 "PowerShell module location"
May be worth noting around the PowerShell cmdlets/module elements, those exist with the proxy service not on the DC agent install

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23a4bc15-af79-3d85-105b-745c3e92511e
* Version Independent ID: 5e9a9849-9b97-b494-960b-a9601d1d9cfb
* Content: [Monitoring and logging in Azure

[2019-03-18 10:12] PingPongSet opened #27416 "Information on How to setup Log Analytics for Azure Functions and APIM"
I am looking for information on how to setup log analytics for Azure Functions, and APIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13672b67-22ea-3dda-8b6b-3332c24e6030
* Version Independent ID: fdc60aeb-9971-1d9f-a6ba-b3ad818cf0d5
* Content: [Monitor Azure Functions](https://docs.microsoft.com/en-us/azure/azure-f

[2019-03-18 10:15] Anmolgan81 commented on #27030
@SadiqhAhmed-MSFT Is migrating AWS Linux AMI to Azure Possible using ASR?

[2019-03-18 10:15] Anmolgan81 commented on #27030
If not then what are the recommended methods by Microsoft to do so?

[2019-03-18 10:18] DixitArora-MSFT commented on #27310
@dcbrown16  I have assigned this to content author to review and update as appropriate.

[2019-03-18 10:19] KalyanChanumolu-MSFT commented on #27395
I will need some more clarity on your earlier question.
When you say Application's name do you mean **appName** property? appName cannot be customized from the SDK.

[2019-03-18 10:20] saurabh4699 commented on #27030
@SadiqhAhmed-MSFT -: Is there a way we can migrate Amazon Linux AMI OS (particularly) from AWS to Azure. It seems it not supported via ASR
1. Which is the closet OS to Amazon Linux AMI ?
2. How do we migrate Linux images which are not supported through ASR?

[2019-03-18 10:25] ArttuArstila opened #27417 "Detailed documentation needed"
What does this feature do once it has been enabled - what should change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b66ee5-8956-edd1-21b7-166fb7ee754f
* Version Independent ID: fecd897d-9a7a-7164-cf37-0044c5278f95
* Content: [Enable fusion in Azure Sentinel Preview](https://docs.microsoft.com/en-us/azure/sentinel

[2019-03-18 10:26] jakaruna-MSFT commented on #27414
@Leon99 Thanks for your feedback.
Chocolatey is a nice package manager for Windows. I think If we provide a particular installation method for windows, We need to provide for all Linux Distros also. I am sure Terraform will have them on their document.

I have assigning this issue to the content author to investigate further and update the document as appropriate.

[2019-03-18 10:27] jakaruna-MSFT commented on #27414
@echuvyrov please provide your comments

[2019-03-18 10:27] hmayer1980 commented on #26331
I am asking about a Migration Scenario from ADF V1 which did Support Slice Dependency via..

                "inputs": [
                    {
                        "name": "ADFXXXX"
                    },
                    {
                        "name": "ADFyyyyy",
                        "startTime": "Time.AddHours(SliceStart, -3)",
                        "endTime": "Time.AddHours(SliceE

[2019-03-18 10:36] ChiragMishra-MSFT commented on #27388
@rajurh Since the issue is not directly related to the doc, I would recommend you to create a thread on the forums - MSDN or stack overflow(https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

To unblock you immediately, I would recommend you to

[2019-03-18 10:36] #27388 closed

[2019-03-18 10:37] carlfranklin commented on #27364
Turns out this is an old repo. There is a newer example that works great.

On Mon, Mar 18, 2019 at 2:52 AM RohitMungi-MSFT <notifications@github.com>
wrote:

[2019-03-18 10:39] CHEEKATLAPRADEEP-MSFT commented on #27413
@algattik Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-03-18 10:39] CHEEKATLAPRADEEP-MSFT commented on #27412
@algattik Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-18 11:02] pcchauhan120 opened #27418 "How can I deploy a shiny app created in R to azure as a web-service..."
Is it possible to deploy a shiny dashboard created in R to deploy it as a web-service in azure...I was only able to find the deployment of R ML model to Azure ML studio...But my R script does not have any ML model...So is there a way that could be done?

[2019-03-18 11:05] SubhashVasarapu-MSFT commented on #27397
@difanyi Could you please check whether port 30543 was listed under your NSG. If not please add this to the list.

[2019-03-18 11:06] UtsaVakani opened #27419 "How can I deploy a shiny app created in R to azure as a web-service..."
Is it possible to deploy a shiny dashboard created in R to deploy it as a web-service in azure...I was only able to find the deployment of R ML model to Azure ML studio...But my R script does not have any ML model...So is there a way that could be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72793e60-5fdd-3769-

[2019-03-18 11:14] tknerr commented on #24196
@skmkzyk how can you do that with an XML file, and where would it need to be placed?

I tried to configure it via AzureRM template but could not find the correct place to configure it either... putting an XML somewhere may work in my case though

[2019-03-18 11:15] CHEEKATLAPRADEEP-MSFT commented on #27418
Duplicate of #27419

[2019-03-18 11:27] thecpshah opened #27420 "Code bugs"
The 1st `if` condition inside the `while` loop should be:
`if ("recognitionResults" in analysis):`

The logic of 2nd `if` loop needs to be checked.

The `polygon` code should be:

`polygons = [(line["boundingBox"], line["text"])
        for line in analysis["recognitionResult"][0]["lines"]]`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-03-18 11:31] PingPongSet opened #27421 "Information on How to setup Log Analytics for APIM and Azure Functions."
I am looking for information on how to setup log analytics for APIM and Azure Functions. The log analytics that can collect data and more, not the one where you enter queries.

Please provide links.

I cannot find any information on this.
https://docs.microsoft.com/en-gb/azure/azure-functions/functions-monitoring
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-use-azure-

[2019-03-18 11:34] jelmerS2 opened #27422 "Not compatible with any SDK (MRTK1, MRTK2, Holokit)"
I'm trying to implement gaze in my project and tried to add MRTK1, MRTK2 and Holokit to my project, but all failed for different reasons.
Do you have any recommendation how to use the azure spatial anchors sdk with any common hololens SDK?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 123315ce-4945-a613-4cb6-cbfe22ef9

[2019-03-18 11:36] owingruters opened #27423 "Test actiongroup"
It would be good to mention if and if so how to test the actiongroup by sending a test alert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa0b27d-b18c-22a9-4e7d-cb3a1978338f
* Version Independent ID: 58732c0e-494c-ac9b-115a-f4a2482d6cb5
* Content: [Create and manage action groups in the Azure portal](https://docs.mi

[2019-03-18 11:53] RohitMungi-MSFT commented on #27420
@thecpshah Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-18 11:55] RohitMungi-MSFT commented on #27419
@UtsaVakani Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-03-18 11:57] RohitMungi-MSFT commented on #27418
@pcchauhan120 Thanks for the feedback. It looks like this issue is a duplicate of [27419
](https://github.com/MicrosoftDocs/azure-docs/issues/27419). So, We will go ahead and close this issue.

[2019-03-18 11:57] #27418 closed

[2019-03-18 12:05] SumanthMarigowda-MSFT commented on #27366
@jaredlang  If your blob size is 0 B. So, you would always couldn't find the file and open it. FileMode specifies how the operating system should open a file.Could delete it and use OpenRead to open an existing file for reading.

For additional information you may refer to the suggestions mentioned in this [SO](https://stackoverflow.com/questions/33526951/cannot-view-image-upload-to-azure-blob-sto

[2019-03-18 12:05] jesspent opened #27424 "Azure PowerShell reporting"
Hi Could i have the command for Azure powershell please?
i am using
$users = get-AzureADuser -All $true| select userprincipalname,objectid,StrongAuthenticationMethods | where {$_.StrongAuthenticationMethods -ne $null}

However when i then type $users i get a black.
We are trying to use runbook to schedule a task add users who have registered for MFA (the aka mfa link) into a group.
Here is the MSO

[2019-03-18 12:07] SumanthMarigowda-MSFT commented on #26780
@kvsrkrishnan Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-18 12:07] #26780 closed

[2019-03-18 12:09] SadiqhAhmed-MSFT commented on #27423
@owingruters Thanks for the feedback! I have assigned this issue to the content owner to review further and update as appropriate.

[2019-03-18 12:09] dominicbetts commented on #26744
Hi @conork20 - thanks for the feedback on this article, I've made some changes based on your suggestions (PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/69851).

[2019-03-18 12:10] dominicbetts commented on #26744
#please-close

[2019-03-18 12:10] RohitMungi-MSFT commented on #27364
Thanks @carlfranklin for confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 12:10] #27364 closed

[2019-03-18 12:12] SadiqhAhmed-MSFT commented on #27404
@imeya Thanks for the comment! We will investigate this issue and update you soon.

[2019-03-18 12:16] rohancragg opened #27425 "Lacking clarity"
#enabling-connectivity-from-vms-restricted-by-using-nsg
"create another NSG that allows access to the Data Lake Storage Gen1 IP Address."

It would be preferable if you could be more explicit about what steps need to be taken as it links to a very generic set of documentation.

For example, is it an outbound or inbound NSG rule? What ports? What protocol?

#enabling-connectivity-from-vms-restricte

[2019-03-18 12:20] codematrix commented on #21320
OK will close. Thanks for the feedback. I just how we can use our JWT and we can verify the signing ourselfs and not rely on AzureAD. This is important to us as we alreay have a system out there whereby our clients are using our Tokens.

[2019-03-18 12:21] SadiqhAhmed-MSFT commented on #27410
@PingPongSet Thanks for the comment! Watch this [video] https://channel9.msdn.com/Blogs/AzureApiMgmt/Monitor-API-Management-with-Azure-Monitor) for monitoring APIM and follow the [link1](https://microsoft.github.io/techcasestudies/azure%20functions/2017/05/15/LisaApp.html) & [link2](https://systemcenterme.com/use-an-azure-function-to-add-information-to-log-analytics/) for Azure functions.  Hope th

[2019-03-18 12:24] rohancragg opened #27426 "Does this still apply when using virtual network service endpoint security / firewall"
Does this advice still apply to ADLS accounts configured with virtual network service endpoint security?
(i.e. accounts that accept traffic only from specific virtual networks and subnets).

see: https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-network-security?toc=%2fazure%2fvirtual-network%2ftoc.json#configuration

If so, which subnet(s) should the above NSG and UDRs be ass

[2019-03-18 12:24] shashishailaj commented on #27402
@kazshi Thank you for your feedback . We will investigate and update further.

[2019-03-18 12:26] shashishailaj commented on #27406
@haoxin Thank you for your feedback . We will investigate and update further.

[2019-03-18 12:27] raidlman commented on #26014
For me it's the GRID version of the drivers that are not working and I'm testing with NV60 instance types. Please let me know if you need any further information.

**OS version**

    # hostnamectl
       Static hostname: gns-systems-minimal-vpn
             Icon name: computer-vm
               Chassis: vm
            Machine ID: 97da09219a2d42489c8b8f748e6d2fb7
               Boot ID: 4195bdf4ba

[2019-03-18 12:27] shashishailaj commented on #27411
@julesman101 Thank you for your feedback . We will investigate and update the article further after getting this verified.

[2019-03-18 12:28] ecfan commented on #24922
@SychevIgor & @KetanChawda-MSFT, thanks for the question and feedback. I've added a work item on the doc backlog for triage.

[2019-03-18 12:28] shashishailaj commented on #27415
@Trundlore Thank you for your feedback . We will investigate and update further.

[2019-03-18 12:29] Palvag opened #27427 "Microsoft Whiteboard?"
It seems like Microsoft Whiteboard is not listed as an approved app. What stops that app from being added, and when will it happen?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9
* Content: [Azure Active Directory condit

[2019-03-18 12:30] shashishailaj commented on #27416
@PingPongSet Thank you for your feedback . We will investigate and update further.

[2019-03-18 12:30] SaurabhSharma-MSFT commented on #27141
@kvenkazure We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 12:30] #27141 closed

[2019-03-18 12:31] SaurabhSharma-MSFT commented on #26866
@liamfoneill We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 12:31] #26866 closed

[2019-03-18 12:31] shashishailaj commented on #27417
@ArttuArstila Thank you for your feedback . We will investigate and update further.

[2019-03-18 12:34] SaurabhSharma-MSFT commented on #27188
@karthikhebbar I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2019-03-18 12:40] juho-hanhimaki opened #27428 "Cold storage pricing"
What is the basis of pricing of the cold storage? Does Azure Data Explorer use something like Standard LRS storage account to store the ingested (cold) data? Then the customer gets billed the standard rates (capacity+transactions) for the storage account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6bba86f-f473-368

[2019-03-18 12:46] RohitMungi-MSFT commented on #27373
@xtianus79 Actually "lead welder" is not part of the [CSV ](https://raw.githubusercontent.com/Azure-Samples/cognitive-services-language-understanding/master/documentation-samples/quickstarts/job-phrase-list.csv)file for JobNames. Here are the steps I performed to get the output as mentioned in the documentation.

1. Setup the initial app and ran the query "This is the lead welder paperwork" on my

[2019-03-18 12:49] mhollismcgill opened #27429 "Offboarding Azure Sentinel"
Is it possible to disconnect a workspace from Azure Sentinel?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-6533-24eb-630c-559bd1549dc7
* Content: [Onboard in Azure Sentinel Preview](https://docs.microsoft.com/en-us/azure/sentinel/quickstart-onboa

[2019-03-18 12:50] Shekharb694 commented on #25749
I tried but it didn't resolve my issue.
I tried "Invalid Caches/Restart" and then run the following command "gradlew clean assembleDebug --refresh-dependencies" and got this result in the terminal :

--------------------------------------------------------------------------------------

* What went wrong:
Could not resolve all files for configuration ':app:debugCompileClasspath'.

  Required by:

[2019-03-18 12:55] dominicbetts commented on #27346
I've updated the various tutorials that use `--hub-name` to use `--name` as per the latest version of the CLI extension. (https://github.com/MicrosoftDocs/azure-docs-pr/pull/69852 and https://github.com/MicrosoftDocs/azure-docs-pr/pull/69853).

[2019-03-18 12:56] tfitzmac commented on #10987
@EwaldStricker - it's in the bullet points for the description of the services - [https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services#comparison-of-services](https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services#comparison-of-services)

[2019-03-18 13:02] RohitMungi-MSFT commented on #27389
@BeMor81 I think your issue is same as [19695](https://github.com/MicrosoftDocs/azure-docs/issues/19695). As described by @diberry to select more than one word follow the below steps.
First select the left-most letter in the word, then, immediately select the right-most letter in the word . That should be all you need.

Here are the screen shots of how I selected "San Diego"

Place the cursor on "

[2019-03-18 13:08] artisticcheese commented on #27246
Need example how to perform those functions via ARM template

[2019-03-18 13:08] karthikhebbar commented on #27188
I have asked question in forum. Below is the link https://social.msdn.microsoft.com/Forums/azure/en-US/f6300a96-b762-404b-b585-34a420c633e7/client-credentials-token-is-not-working-for-onprem-exchange-server?forum=WindowsAzureAD

Please help me in getting this issue solved. Thanks

[2019-03-18 13:11] BeMor81 commented on #27389
Thanks for this. Should this be included in the original document in some way? I did figure it out but took some searching.

[2019-03-18 13:12] TessFerrandez opened #27430 "%kql --help "help" requires lxml"
The %kql --help "help" command returns the following error

"FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?"

to solve it, install lxml using "pip install lxml"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f497838f-e309-f36a-43af-6d58b5e6b

[2019-03-18 13:14] mrbullwinkle commented on #27401
Thanks @dcbrown16. It looks like you opened this GitHub issue against the overview article for Application Insights. We wouldn't go into that level of detail in this article. We do document most of those settings in the automation section of this article: [https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps#automate-monitoring](https://docs.microsoft.com/en-us/azure/azure-monit

[2019-03-18 13:14] mganeshphani commented on #27350
Nope it doesn't. Looking for the ADO pipeline guidance for build and
release.

On Sun, Mar 17, 2019 at 11:45 PM KetanChawda-MSFT <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-03-18 13:15] AshokPeddakotla-MSFT commented on #27379
@knowpath Could you please share the complete steps which you are trying? Also, share the documentation link which you are following.

[2019-03-18 13:15] bostonandy opened #27431 "SCM cmdlet used instead of RM"
The script for "cause 1" should use the RM cmdlet instead of SCM to get the storageaccount

Current:
$storageAccount = Get-AzStorageAccount -ResourceGroupName $resourceGroupName -Name $storageAccountName

Should be:
$storageAccount = Get-AzureRmStorageAccount -ResourceGroupName $resourceGroupName -Name $storageAccountName

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-03-18 13:24] mtyeager commented on #27379
In Visual Studio, create a new project, select IoT Edge see screenshot. Then click ok, and it brings up the second screenshot with options. There isn't any option for ARM.

![AzureIoTEdge001](https://user-images.githubusercontent.com/42704355/54532963-7ed32b80-495f-11e9-852e-e5a98817db05.png)
![AzureIoTEdge002](https://user-images.githubusercontent.com/42704355/54532964-7ed32b80-495f-11e9-911c-eb2

[2019-03-18 13:36] RohitMungi-MSFT commented on #27321
@nathansegers Here are the supported [compute targets for training](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-set-up-training-targets#compute-targets-for-training).

In your case a remote target should be used where the machine is accessible on port 22 with a FQDN. Here is an [example ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-set-up-train

[2019-03-18 13:38] YutongTie-MSFT commented on #26017
@PanosPeriorellis Hi, do we have any update for this issue? Thank you!

[2019-03-18 13:40] YutongTie-MSFT commented on #27389
@diberry Hi Dina, this is FYI. Thank you.

[2019-03-18 13:41] nathansegers commented on #27321
It is not possible to use an internal IP address when running experiments, correct?
As it can run local, which would be 127.0.0.1, it would be cool if I could choose a Remote VM from my Internal organisation without having to open the SSH port to public.

[2019-03-18 13:42] YutongTie-MSFT commented on #26075
@diberry Hi Dina, new update here, could you please check it? Thank you!

[2019-03-18 13:46] CeciAc opened #27433 "There is a missing line in the program list."
@linyixian commented on [Sun Mar 17 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2223)

モデルとラベルを読み込む際にファイル名を代入する部分が抜けています。

filename = "model.pb"
labels_filename = "labels.txt"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content:

[2019-03-18 13:48] CeciAc commented on #27433
Hi team,
I'm moving this here since the contributor is reporting a missing line in the example:

Rough Translation

[2019-03-18 13:51] YutongTie-MSFT commented on #27361
@visuazn
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion. ^^

[2019-03-18 13:51] #27361 closed

[2019-03-18 13:55] DashleenBhandari-MSFT commented on #27069
@SquirrelAssassin Since I have not heard back from you, i ll go ahead and close the issue. Please re-open the issue if you need further assistance.

[2019-03-18 13:55] #27069 closed

[2019-03-18 14:01] diberry commented on #27373
@RohitMungi-MSFT Your advice is incorrect. The purpose of the example of lead welder is that adding the phrase lists eventually gets the correct entity extraction without having to add the literal value to the phrase list. I'll need to check the doc against the current endpoint runtime to figure out what changed. #in-progress

[2019-03-18 14:04] zavr-1 commented on #27383
But the consumption plan IS supported (in preview), so how would one know how to try it out if there's no info?

[2019-03-18 14:05] zavr-1 commented on #22789
@mike-urnun-msft this wouldn't work for POST requests, because OPTIONS are got with pre-flight request. Here's my workaround: https://github.com/Azure/Azure-Functions/issues/1074#issuecomment-472699338

[2019-03-18 14:07] SamBlakeC commented on #27028
@SaurabhSharma-MSFT No, I'm referring to the Run-Command within the Azure portal. Guest's can't use the Run Command to run a custom powershell script or any powershell script for that matter despite being assigned the VM contributor role.

[2019-03-18 14:07] diberry commented on #26075
@SychevIgor This has been added across the Cognitive Services for the containers as an include file. So edit once and changes are across all pages. Here is an [example](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-container-howto#connecting-to-azure) of the new text. Due to the nature of the text, it requires a full legal review. If you have suggestions for edits, please mak

[2019-03-18 14:10] CeciAc opened #27434 "Out of date docs"
@phoenixchris commented on [Sun Mar 17 2019](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/375)

Starting in December 2018, the Azure PowerShell Az module is in general release and now the intended PowerShell module for interacting with Azure.
This series of docs still use PowerShell AzureRM module.

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c3b89f0b-

[2019-03-18 14:11] CeciAc commented on #27434
Hi team,
I'm moving this here since the contributor is reporting out of date documentation
best

[2019-03-18 14:12] DanJ210 commented on #26292
@neeleshray Application roles are very understood, it's the issue above in the original post that is confusing. What about getting some insight on that situation?

[2019-03-18 14:14] DanJ210 commented on #25984
@CelesteDG I'd be surprised if I'm in over 100+ sub groups from being within 8 AD groups. Right now I'm not using groups anymore. The solution for my issue was to use Application Roles using the Application Manifest. So groups were no longer needed luckily. But still strange that I get 100+ back.

[2019-03-18 14:14] #25984 closed

[2019-03-18 14:15] zavr-1 commented on #27381
@DixitArora-MSFT thanks but how is it in comparison with run-from-package for consumption apps?

[2019-03-18 14:16] RohitMungi-MSFT commented on #27373
@diberry Thanks for the correction. Please do let us know if there are any changes.
I was only able to get the "lead welder" entity response only after adding it to the phrase list. I will be happy to test again if any corrections are made.

[2019-03-18 14:20] cijothomas commented on #27395
services.AddApplicationInsightsTelemetry("ikeyhere")  and   loggingBuilder.AddApplicationInsights("--YourAIKeyHere--");
I guess this was the original questions - these are two separate extension methods serving different purposes. 1st one is used to add ApplicationInsights monitoring (i.e Requests, Dependencies, counters etc), and the 2nd one is to add ApplicationInsights logging provider.

[2019-03-18 14:23] RohitMungi-MSFT commented on #27321
@swinner95 Do we have an option to connect to on-prem internal addresses without opening the ssh port to public?
I did not find any examples of this scenario as it looks like a ML workspace cannot be deployed into a specific vnet to allow expressroute connections, which can help customers extend their on-prem network to cloud over private network. Please correct me if I am wrong.

[2019-03-18 14:23] Zebusch commented on #15604
This future feature was announced years ago. How do you define "future"? 1 year? 5 years? 10 years? Some rough estimate would be nice...

[2019-03-18 14:30] ytthuan commented on #27365
hi Rohit,
yeah, pdf file.
the value in double - as unit is inch will through the exception if you are using ComputerVisionClient libaries, the result class is ReadOperationResult which is requiring an integer number in bounding box value I believe, and the exception JsonReaderException: Input string '5.6703' is not a valid integer. Path ... will throw which the first line of ReadOperationResult.

[2019-03-18 14:36] #25130 closed

[2019-03-18 14:37] gopala000 commented on #27395
@KalyanChanumolu-MSFT , I need a way to filter the log by application name to investigate production issues. If appName cannot be customized, any property that I can use as filter will be helpful. Even better will be a sample appSettings.config with various customizable properties .

[2019-03-18 14:41] BharathNimmala-MSFT commented on #27401
Thank you Michael.

[2019-03-18 14:41] #27401 closed

[2019-03-18 14:51] YASWANTHM-MSFT commented on #27431
@bostonandy, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-18 14:53] liamfoneill opened #27435 "Running Azure Dev Spaces: Prepare configuration files for Azure Dev Spaces doesn't update launch.json"
It creates the YAML file and adds charts etc.. but I don't have a launch.json configuration created so I cannot debug my app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c97296-51bc-14be-1888-8b3d9967a1b7
* Version Independent ID: 8c1d6961-9da2-4ce5-5cb1-b81f5287a278
* Content: [Create a Kubernetes dev space in the

[2019-03-18 14:55] #26557 closed

[2019-03-18 14:56] roovyshapiro opened #27436 "Typo: Change GiB to TiB in Premium Storage Disk Sizes"
This issue was opened to address a small typo in one of the Azure Documentation articles regarding Disk Storage.

Article Title:
Azure premium storage: design for high performance: Premium Storage Disk Sizes

Article URL:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#premium-storage-disk-sizes

Screenshot:
https://i.imgur.com/4LsRExp.png

Premium Disk

[2019-03-18 14:57] patel-code commented on #27209
Any updates?

[2019-03-18 14:59] xom-pschiess commented on #11489
Could we make this attribute accessible on the user entity when creating a "ClaimsMappingPolicy"? Perhaps it's already there and I am missing something... here is what I am attempting:

`{
    "ClaimsMappingPolicy":
    {
	    "Version": 1,
        "IncludeBasicClaimSet":"False",
		"ClaimsSchema":
        [
            {
                "SamlClaimType":"Email",
                "Source":"user",

[2019-03-18 15:01] devclient187 commented on #27344
Thanks for your response.

I fixed the problem now by using the classic Azure App Registration not the Azure App Registration **Preview**.

The **Preview** does not generate a base64 encoded key.

[2019-03-18 15:03] Blackmist commented on #11667
@jtuliani @TravisCragg-MSFT The update (removed video) should go live later today.

#please-close

[2019-03-18 15:05] Japeth opened #27438 "Enabling through powershell or ARM"
How do I enable the snapshot debugger (as well as other features) through powershell or an ARM template deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279763aa-b638-e2bc-cdb8-52c7bfe426ee
* Version Independent ID: df3a411a-b8da-fccb-9c0b-aeb60a7c8baa
* Content: [Enable Snapshot Debugger for .NET apps in Azu

[2019-03-18 15:08] RohitMungi-MSFT commented on #27365
@PatrickFarley Could you help to address this issue with product group? It looks like [bounding box](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.vision.computervision.models.line.boundingbox?view=azure-dotnet#Microsoft_Azure_CognitiveServices_Vision_ComputerVision_Models_Line_BoundingBox) is a list of integers and in case of PDF documents it returns unit as inches

[2019-03-18 15:11] SaurabhSharma-MSFT commented on #27436
@roovyshapiro Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-18 15:12] ggailey777 commented on #27383
@zavr-1 as @KetanChawda-MSFT correctly points out, the article [Create your function hosted on Linux (Consumption Plan) using Core Tools and the Azure CLI](https://docs.microsoft.com/azure/azure-functions/functions-create-first-azure-function-azure-cli-linux) shows you how to create a function app running on Linux in a Consumption plan and then deploy a functions project to it by using the Core To

[2019-03-18 15:12] aljo-microsoft commented on #26746
@jessenguyen7

https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-fabric-settings

E.G.
| Config Property | Default Value | Description |
| FabricDataRoot| D:\SvcFab | Service Fabric data root directory. Default for Azure is d:\svcfab |
| FabricLogRoot | D:\SvcFab|Logs | Service fabric log root directory. This is where SF logs and traces are placed. |

@peterpogorski
https://gi

[2019-03-18 15:12] SaurabhSharma-MSFT commented on #27429
@mhollismcgill Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-18 15:15] Alberto-Vega-MSFT commented on #27327
@Miggov Were you able to overcome this by doing what customer mentioned on the other GitHub issue?

[2019-03-18 15:18] RohitMungi-MSFT commented on #27405
@wilsonchua20  I think this GIT [repo ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/java/jre/console )to recognize speech, intents and translation from audio files and microphone will help you get started on using audio files to recognize intents using LUIS using Java.

[2019-03-18 15:30] RohitMungi-MSFT commented on #27419
@UtsaVakani Here is a step by step process on how to [setup shiny server on azure VM](https://blogs.msdn.microsoft.com/uk_faculty_connection/2018/08/19/design-against-crime-microsoft-azure-with-shiny/) and here is a blog on [MS R-server vs Shiny](https://blogs.msdn.microsoft.com/mlserver/2017/03/10/r-server-and-shiny/).

I think this [video ](https://sqlbits.com/Sessions/Event14/Shiny_dashboards_i

[2019-03-18 15:33] shashishailaj commented on #27198
@DrEnnui We checked the tutorial and found that there is no specific reason to use hyperV . However , It is mentioned in the tutorial because most of the people who would like to test this would not like to test it in production and use one virtual environment or the other and Windows 10 provides you the flexibility of HyperV available readily on your desktop . So one can even follow this on a lap

[2019-03-18 15:34] SumanthMarigowda-MSFT commented on #18415
@ShahRukhK We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 15:34] #18415 closed

[2019-03-18 15:35] SumanthMarigowda-MSFT commented on #27219
@bganapa We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 15:35] #27219 closed

[2019-03-18 15:36] SumanthMarigowda-MSFT commented on #26744
@conork20 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 15:36] #26744 closed

[2019-03-18 15:41] RohitMungi-MSFT commented on #27433
@CeciAc It looks like this issue is addressed in the azure-docs repo by this [commit](https://github.com/MicrosoftDocs/azure-docs/commit/addd62a5a30c0cdb2bea98ecf14af82da76b1c00#diff-d1d37517f9841fffdddbb7cb48936a3f). There are also some other changes that have gone in recently for this document by the author.

@areddish It looks like the changes have not updated in other languages

[2019-03-18 15:41] shashishailaj commented on #27424
@jesspent Thank you for your feedback . We will investigate and update further.

[2019-03-18 15:42] shashishailaj commented on #27421
@PingPongSet Thank you for your feedback . We will have this reviewed and update the thread.

[2019-03-18 15:46] shashishailaj commented on #27422
@jelmerS2 Thank you for your feedback . We will have this investigated and update the thread accordingly.

[2019-03-18 15:48] jakaruna-MSFT commented on #27362
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@iainfoulds Please take care of this issue.

[2019-03-18 15:49] Mike-Ubezzi-MSFT commented on #27430
@TessFerrandez Thank you for detailing this issue and bringing it to our attention. I have assigned to the content owner to review and update as appropriate.

[2019-03-18 15:49] shashishailaj commented on #27438
@Japeth Thank you for your feedback . We will investigate and update this thread.

[2019-03-18 15:52] shashishailaj commented on #27435
@liamfoneill Thank you for your feedback . We will investigate and update this thread.

[2019-03-18 15:53] SubhashVasarapu-MSFT commented on #27121
@NateB2 , You can peer virtual networks that exist in two different subscriptions, as long a privileged user of both subscriptions authorizes the peering, and the subscriptions are associated to the same Azure Active Directory tenant. You can use a VPN Gateway to connect virtual networks in subscriptions associated to different Active Directory tenants.
Closing this issue for now. If there are fur

[2019-03-18 15:53] #27121 closed

[2019-03-18 15:54] Mike-Ubezzi-MSFT commented on #27430
@orspod Making you aware of a doc-enhancement.

[2019-03-18 15:54] ijabit commented on #24460
@SnehaGunda I've sent a message to that Email. Thanks!

[2019-03-18 15:54] shashishailaj commented on #27434
@CeciAc Thank you for your feedback . We have assigned the same to the author for the review . However it may take some time before all the documents get updated with Az module information.

[2019-03-18 15:54] Houuse opened #27441 "no data shown in application insights"
I've followed this article as well as this one https://docs.microsoft.com/en-us/azure/azure-monitor/learn/dotnetcore-quick-start
on two different applications, 1 tested in prod and dev (Dotnet framework 4.6), one only in prod(Dotnet core 2.2), no data shown in application insights !!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-03-18 15:55] shashishailaj commented on #27434
@KumudD Could you please take a look at this request and suggest accordingly?

[2019-03-18 15:56] darivuki commented on #20758
@afmorris Thank you very much for taking the time to look into this deeply. This definitely helps me as a workaround.

[2019-03-18 15:57] shashishailaj commented on #27427
@Palvag Thank you for your feedback . We will investigate and update this thread further.

[2019-03-18 15:58] shashishailaj commented on #27425
@rohancragg Thank you for your feedback . We will investigate and update this thread.

[2019-03-18 15:59] shashishailaj commented on #27426
@rohancragg Thank you for your feedback . We will investigate and update this thread.

[2019-03-18 16:00] shashishailaj commented on #27441
@Houuse Thank you for your feedback . We will investigate and update this thread.

[2019-03-18 16:02] Mike-Ubezzi-MSFT commented on #27428
@juho-hanhimaki Thank you for bringing this question to our attention. It appears there isn't much in the way of documentation to explain the associated costs. There is an [Azure Data Explorer Cost Estimator](https://dataexplorer.azure.com/AzureDataExplorerCostEstimator.html), which might be useful to see how costs are calculated. In the meantime, I am going to reach out to find more information.

[2019-03-18 16:02] Houuse commented on #27441
@shashishailaj Thanks,

[2019-03-18 16:07] TomArcherMsft commented on #25683
Update: I'm currently working with the repo owner to move the sample to the official Jenkins repo.

[2019-03-18 16:08] areddish commented on #24408
@YutongTie-MSFT I updated the doc to add notices this can only be used with classification projects. The other layer name is from projects that are object detection.

[2019-03-18 16:13] DrEnnui commented on #27198
Yeah, yeah, yeah, I already know all of that, but why not just have them
use an ARM template in Azure?  Not everyone who wants to learn this stuff
has 20 years of dealing with Microsoft services, and it would make more
sense to me to give students another opportunity to put their hands on the
product that you are trying to teach them to use.

On Mon, Mar 18, 2019 at 8:34 AM ShashiShailaj-MSFT <not

[2019-03-18 16:27] JasonWHowell commented on #27277
@anssenfang1
Sorry I don't fully understand the point. Could you please clarify:
1. Are you saying the extra table shows up, and the doc needs to mention it?
2. Or do you want the design to change to display the additional queue?

[2019-03-18 16:31] msmimart commented on #23124
@jurajgh I've confirmed with the B2B team that the Google federation feature itself didn't change the default behavior for gmail users. If you don't configure Google federation, they still need to set up an Microsoft account like before; the video does touch on this when showing the sign-in process. Are gmail guests now seeing a different experience for setting up the Microsoft account than other

[2019-03-18 16:34] areddish commented on #27396
#sign-off

[2019-03-18 16:34] swinner95 commented on #27321
Adding @aashishb and @nishankgu to provide feedback on this.

[2019-03-18 16:37] MicahMcKittrick-MSFT commented on #27077
@DavidBerg-MSFT have you heard any update on this?

[2019-03-18 16:44] RomanNG opened #27447 "Ports requirements between ADFS and Domain Controllers ?"
The required ports are not listed between ADFS servers and Domain Controllers as there are no arrow in your diagram that show this link.
It's looks like ADFS servers never directly communicate with domain controllers and require AD connect for it, which is wrong. Please update your schema and add the required ports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-03-18 16:44] zavr-1 commented on #27383
@ggailey777 you are wrong because I can use Docker for Linux Consumption Plan and I have achieved that to install Perl on a custom container and deploy it to the function app running on consumption. The problem that I have is "The service is unavailable." on cold starts.

[2019-03-18 16:47] ecfan commented on #26707
@hkusulja & @PramodValavala-MSFT, thank you! I've created a work item on our doc backlog for triage.

#please-close

[2019-03-18 16:54] MicahMcKittrick-MSFT commented on #27345
@naimco I am still following up on this offline. Seems Edgar is out of office through tomorrow so as soon as he is back we will get this sorted out.

[2019-03-18 16:56] MarileeTurscak-MSFT commented on #27447
@RomanNG
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-18 16:56] NextTurn opened #27448 "PRMerger bot improvement"
Is it interesting to add the same label [Change sent to author](https://github.com/MicrosoftDocs/azure-docs/labels/Change%20sent%20to%20author) to every PR?

[2019-03-18 16:56] #11667 closed

[2019-03-18 16:57] #23907 closed

[2019-03-18 16:57] #24659 closed

[2019-03-18 16:57] DeanGross opened #27449 "MFA Control policy options"
When I look in my tenant, i only see Require Azure MFA Registration, I don't see the options shown above to block access, require registration or reset password. Are these features that have not yet been deployed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed580e9f-f99a-7e85-65f0-8a4304b9bf82
* Version Independent

[2019-03-18 16:57] #21320 closed

[2019-03-18 16:59] JasonWHowell commented on #27273
Fixed today in MicrosoftDocs/azure-docs-pr#69887  #please-close

[2019-03-18 16:59] bbabcock1990 opened #27450 "Powershell Commands for V2 Flow Logs"
I am not seeing an updated PS command for set-azurermnetworkwatcherconfigflowlog that includes the option to use v2 for flow logs. Is this still unsupported via PS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855-1bff6c9ce380
* Conten

[2019-03-18 16:59] #27274 closed

[2019-03-18 16:59] KaiWalter commented on #24190
@seanperera can you provide your complete or a reduced version of what is failing with _Set-AzureRmApiManagementPolicy_. We export policies containing exactly this expression daily with _Get-AzureRmApiManagementPolicy_ and import it again with _Set-AzureRmApiManagementPolicy_ into other instances.

[2019-03-18 17:06] AjayKumar-MSFT commented on #26518
Thank you kazshi, we have re-opened the GitHub issue.

[2019-03-18 17:08] francisco-ltech commented on #26870
Hi there,

So, in my c# I have added:
 message.Properties.Add("tracestate", $"timestamp={unixTimestamp}");

And when I read the event out of IoT hub I can see:
System properties (set by IoT Hub):
  Diagnostic-Id: tJazfjBO
  Correlation-Context: creationtimeutc=1552927397.749

Without: message.Properties.Add("tracestate", $"timestamp={unixTimestamp}");
I don't see Correlation-Context in the system

[2019-03-18 17:10] jeremych1000 opened #27451 "Typo in -----BEGIN PRIVATE KEY-----"
Step 8 in both Windows and Linux documentation has says

&gt; Open the profileinfo.txt in a text editor. To get the private key, select the text including and between "-----BEGIN PRIVATE KEY-----" and "-----BEGIN PRIVATE KEY-----" and copy it.

This should be between "-----BEGIN PRIVATE KEY-----" and "-----END PRIVATE KEY-----"

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-03-18 17:19] shparti-MSFT commented on #19714
Hello Everyone,

Apologies for the delay in my response. I am a PM in the TSI team.

I have a couple of questions:
1) Are you using our S1/S2 SKU or PAYG SKU?
2) Did you create the TSI Environment yourself?

Thank you!

Regards,
Shiful.

[2019-03-18 17:20] Karishma-Tiwari-MSFT commented on #26716
@bramvdklinkenberg
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-18 17:21] Karishma-Tiwari-MSFT commented on #26746
@jessenguyen7  We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-03-18 17:21] #26746 closed

[2019-03-18 17:22] Karishma-Tiwari-MSFT commented on #27027
@cynthn @jonbeck7 Can either of you help confirm which one is correct and update the docs accordingly. Thanks. :)

[2019-03-18 17:28] Karishma-Tiwari-MSFT commented on #27043
@roygara Did you get a chance to take a look at this issue? Thanks :)

[2019-03-18 17:28] sethmanheim commented on #26978
@easonlauys Due to scheduling issues, some of these known issues were added to the release notes rather late. However, with every Azure Stack release, issues can come in after the release and be added to the release notes. Please check back often for updates. Thank you for the feedback! #please-close this issue.

[2019-03-18 17:29] mattbriggs commented on #21404
Thanks for sharing this info @jgallucci32 !

[2019-03-18 17:31] jrx-sjg commented on #14655
Have anyone finally be able to encrypt data disk? I used the method above, but I couldn't do it work because dinamics pv are not "mappeable" on fstab

[2019-03-18 17:41] Karishma-Tiwari-MSFT commented on #12971
@Shawn-ye I am not aware of any other solution for this other than the ones shared above.
@jpconnock Did you hear anything back from the product team? Let us know. :)

[2019-03-18 17:43] mikeg-roebbelen opened #27452 "Password write-back licensing"
It is unclear to me if a single Azure AD Premium P1 license is required on the tenant to activate the password write-back feature or if every user in the tenant is required to have their own Azure AD Premium license assigned to them.  Could you please confirm the licensing requirements for the tenant and end-user in order to accomplish SSPR with password write-back.  Thank you.

---
#### Document

[2019-03-18 17:45] naimco commented on #27345
I am making some progress. the missing dll's can be loaded from here :
`[System.Reflection.Assembly]::LoadFrom('C:\Program Files\WindowsPowerShell\Modules\Az.Accounts\1.4.0\PreloadAssemblies\Microsoft.IdentityModel.Clients.ActiveDirectory.dll')
[System.Reflection.Assembly]::LoadFrom('C:\Program Files\WindowsPowerShell\Modules\Az.Accounts\1.4.0\PreloadAssemblies\Microsoft.IdentityModel.Clients.Acti

[2019-03-18 17:45] cherylmc commented on #25812
@charwen and @jaredr80

[2019-03-18 17:46] garyericson commented on #26758
@YutongTie-MSFT - This is actually a request for clarity in the article [PCA-Based Anomaly Detection](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/pca-based-anomaly-detection). Please assign this issue to the author of that article, @ericlicoding.

[2019-03-18 17:46] jcmccain commented on #21126
Seriously folks, just delete this page and be done:
https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate-card-partner-solution-cloudcruiser

[2019-03-18 17:50] himanshusinha-msft commented on #27318
@SANDEEPPILLUTLA
Can you please update the thread with the exact error message which you are seeing ?
Also the free account should not be a problem if you are updating the keys properly in your code .

[2019-03-18 17:52] jeffpatt24 commented on #27431
The AzureRM module has been replaced with Az module. The current documentation is correct. Please see usage for Get-AzStorageAccount cmdlet: https://docs.microsoft.com/en-us/powershell/module/az.storage/Get-azStorageAccount?view=azps-1.5.0.

[2019-03-18 17:53] jeffpatt24 commented on #27431
#pleaseclose

[2019-03-18 17:55] jeffpatt24 commented on #27431
#please-close

[2019-03-18 17:56] bostonandy commented on #27431
sorry - i thought the docs were out of date and it looks like *I* was out of date.

[2019-03-18 17:56] #27431 closed

[2019-03-18 17:56] MaximRouiller opened #27453 "Missing release notes for Storage Emulator 5.8 and 5.9"
Can we have a changelog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd49c9b-995f-cc7e-77d7-74f21f1249f7
* Version Independent ID: 1c2ce65b-5bd3-ca40-a487-ca5059f2c887
* Content: [Use the Azure storage emulator for development and testing](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator#s

[2019-03-18 17:57] jlian commented on #26870
I'm not sure how to do this in C#.

@massand, can you help us find some pointers?

[2019-03-18 17:57] tysonn commented on #22319
I've logged a bug/feature request with our engineering team to see if this is something they would consider.

[2019-03-18 17:57] #22319 closed

[2019-03-18 17:58] Karishma-Tiwari-MSFT commented on #27342
@vilibert Thanks for the feedback. I have created a PR with the update and changes will be live shortly.

[2019-03-18 18:02] charwen commented on #25812
@vicperdana IPsec VPN over Azure Private Peering is not supported but it's on our roadmap. IPsec VPN over Microsoft Peering does indeed work though. You'll receive the public IP of your VPN gateway for your VNET over Microsoft Peering. "Microsoft Peering" will replace the public Internet for your IPsec tunnel, which will connect your on-prem to your VNET.

[2019-03-18 18:04] massand commented on #26870
@francisco-ltech - you might be using the deprecated version of the "diagnostic" APIs. The service doesn't recognize those headers.
@murdockcrc - you might be using the Azure IoT Hub C# device SDK, which isn't currently supported in public preview. The samples for this public-preview feature are provided in C because that is the only client SDK  that currently supports the new way of configuring d

[2019-03-18 18:05] PatrickFarley commented on #27365
Let me first loop in the product team; I believe the intent was for the units to depend on file type and not to be configurable, so if PDFs throw an exception because of the units they use, that is something the team will need to sort out.

[2019-03-18 18:05] MarileeTurscak-MSFT commented on #27449
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-18 18:06] MarileeTurscak-MSFT commented on #27452
@mikeg-roebbelen
Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-18 18:08] jlian commented on #26870
So we should really remove the "using third-party clients" section from our docs then? I thought there would be a way to add the properties without using our SDKs

[2019-03-18 18:09] cuwaters commented on #27382
@JozoSlejko Any given hosted build service instance lives in a specific Azure region (we'll use WEU for this example).  The build agents themselves, however, come from several Azure regions.  For the WEU example, our build agents come from NEU, WEU, CFR and WUK (this list is subject to change at any time).

In order to set up IP rules, you'll need to go pretty broad with your IP ranges, they can b

[2019-03-18 18:10] DavidBerg-MSFT commented on #27077
We tested earlier and it was working; we retested and ran into some issues.  We’re preparing an updated script and improved directions.

From: Micah <notifications@github.com>
Sent: Monday, March 18, 2019 9:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Berg <David.Berg@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Having

[2019-03-18 18:15] ppathan opened #27455 "Typo in the Reliability section"
Typo: Exacty-once Should be: Exactly-once

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da6b30e6-cf25-9cca-2ff5-2fe04c80a33a
* Version Independent ID: 83e31246-8d8a-d606-a73a-94dcb4157069
* Content: [Overview of Azure Stream Analytics](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-introducti

[2019-03-18 18:16] MicahMcKittrick-MSFT commented on #27077
Thanks @DavidBerg-MSFT

Glad to hear we were not just missing something simple :)

I will assign this to you while the updates are in the works.

If you need help updating this doc just let myself or @cynthn know

[2019-03-18 18:23] TravisCragg-MSFT commented on #26978
@easonlauys We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 18:23] #26978 closed

[2019-03-18 18:25] mckhine commented on #24106
Would love to see the .NET 4.7.1 example for this

[2019-03-18 18:28] sjyang18 opened #27457 "Can you double-check whethere OSBA is supported in OpenShift on Azure and update this content?"
Latest OKD template installs 3.9 version and it is not compatible with Kubernetes Service catalog and thus OSBA. I have tried multiple OKD cluster instances and never able to provision Azure Postgres instance thru oc command.
And, with OCP, I don't see how I install helm, install kubernetes service catalog remotely with no ssh access to the cluster.
Please update this content after validation.

--

[2019-03-18 18:33] #27342 closed

[2019-03-18 18:39] Alberto-Vega-MSFT commented on #27346
@maxstreifeneder @xujing-ms We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 18:39] #27346 closed

[2019-03-18 18:42] Alberto-Vega-MSFT commented on #27369
@hglkrijger Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-18 18:44] mikeg-roebbelen commented on #27452
Thank you.  As additional info, I would like to state that it appears that SSPR with password-writeback is fully functional for all users on my tenant with an Azure AD Premium P1 trial - NOT assigned to any users, just simply being active on my tenant.  I am trying to understand if this is by design.

Thank you.

[2019-03-18 18:46] MarileeTurscak-MSFT commented on #27368
Hi @mikerichie86 ,

Thank you for this valuable feedback! As of yet, the best place to leave this product feedback is in feedback.azure, where the product team can respond directly: https://feedback.azure.com/forums/169401-azure-active-directory

You can upvote existing feature requests or create a new one to stay tuned to updates on this issue.

I will also check on my end with the PG and comment

[2019-03-18 18:46] #27368 closed

[2019-03-18 18:50] himanshusinha-msft commented on #27214
@mganeshphani : Thanks for the reply .
At this time since you already have a support ticket open , i think they will be able to help you with the resolution . Since we are not able to repro the issue at this time we are not making any update to the document , we will go ahead and close the issue .

In the event you hear back from the support team and you think we need to update the document , you

[2019-03-18 18:52] MicahMcKittrick-MSFT commented on #27457
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-18 18:59] bjmassie opened #27460 "How do you disable it after enabling?"
What happens if you try the preview and then decide you dislike it? How do you disable it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d3e0
* Version Independent ID: d195959f-5742-7d94-f4f5-e70c0f0581e7
* Content: [Azure SQL Analytics solution in Log Analytics](https://docs.microsoft.

[2019-03-18 19:00] tfitzmac commented on #19653
It looks like the text and diagram match now.
#please-close

[2019-03-18 19:01] TomArcherMsft commented on #26747
@Karishma-Tiwari-MSFT It appears that this issue is not a duplicate. Could you please reopen? Thanks!

[2019-03-18 19:06] tfitzmac commented on #18838
This change looks like it has been completed.
#please-close

[2019-03-18 19:12] RyanHill-MSFT commented on #25062
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-03-18 19:12] #25062 closed

[2019-03-18 19:14] TomArcherMsft commented on #26747
@grayzu, please take a look at this issue and let me know if/how the article needs to be updated.

[2019-03-18 19:18] SQLDataSide commented on #25848
The issue is that in the documentation it does not say to use "S1"  scale tier, and that was the main issue<
Another thing is that you must circle you hand (your thumb touching your index finger) and place your hand near the device and then press B and speak, its a cheap microphone

[2019-03-18 19:22] MartinJaffer-MSFT commented on #27455
Thank you for bringing this typo to our attention @ppathan .  I have made the appropriated fixes to the issue, and will now close.

[2019-03-18 19:22] #27455 closed

[2019-03-18 19:25] Alberto-Vega-MSFT commented on #27390
@yzll111 I am sorry to hear that you are facing this issue. Since this is not a documentation issue and this will require some deeper analysis. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket op

[2019-03-18 19:28] Fizz-Mo commented on #7634
For these rules, no deny rules are needed?  So by entering the rules above as specified, we either block legacy traffic from external, or anywhere, as specified?  Or is a deny rule needed as well?  I just want to be clear as this is problematic to test without a completely separate ADFS/O365 setup

[2019-03-18 19:31] TravisCragg-MSFT commented on #27451
@jeremych1000 Thanks for the feedback! I have made the changes, and it should reflect in the document within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-18 19:31] #27451 closed

[2019-03-18 19:33] Grace-MacJones-MSFT commented on #26884
@Sheikh-Aman thanks for sharing your screenshots. I have assigned the issue and shared your screenshots with the content author so that they can evaluate and update this documentation as appropriate.

[2019-03-18 19:34] echuvyrov commented on #27414
thanks @Leon99 for contributing and I agree with @jakaruna-MSFT: this article, which is the earliest article of the batch on Terraform, tries to generalize both Linux and Windows install/configuration. I think some food for thought for us would be to evaluate and give more attention to working with Terraform on Windows, including mentioning chocolatey as well as creating Windows-specific configura

[2019-03-18 19:40] MicrosoftGuyJFlo commented on #26709
Looks like you will need to be on 2008R2 now for password writeback to work. Azure AD Connect was upgraded since this doc was updated. See the install requirements for Azure AD Connect below.

https://docs.microsoft.com/azure/active-directory/hybrid/how-to-connect-install-prerequisites#azure-ad-connect-server

Azure AD Connect must be installed on Windows Server 2008 R2 or later. This server must

[2019-03-18 19:49] tFable opened #27463 "Links missing?"
Hello,

I think this section was supposed to be links?

"[uninstall the Mobility service][vmware-azure-install-mobility-service.md#uninstall-mobility-service-on-a-windows-server-computer]"

Thanks,
t

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbc6494-188a-e72d-eab0-4f29fda88190
* Version Independent ID: 2d2eef66-4

[2019-03-18 19:56] #26709 closed

[2019-03-18 20:08] hansenms commented on #27324
I am not sure that I am following your question all the way, but here are some notes:

For the OSS server, the Audience and Authority is whatever you configure it to be when you set up the server. These are application settings. So for that to work, you must first create a resource application (with roles) as described in the docs and configure your app with that. There are additional instructions

[2019-03-18 20:13] aaronjedwards opened #27464 "AAD V1.0 App Registration Migration"
Will App Registrations created for the V1 Endpoint work automatically with V2? I have a suite of apps that were previously registered under the V1.0 endpoint, and now it seems that the App Registration process for V1.0 and V2.0 is one and the same, using the App Registration (Preview). I am wanting to update my apps to take advantage of the latest MSAL libraries and other client libraries that req

[2019-03-18 20:16] #27396 closed

[2019-03-18 20:24] mgfink opened #27465 "Clarify which RBAC role is required"
To perform the Availability -&gt; Add Test function in App Insights a specific role seems to be required.  It would be a big help if you could document which default role or actions are needed at the resource, and resource group levels.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c1

[2019-03-18 20:34] #18126 closed

[2019-03-18 20:48] TravisCragg-MSFT commented on #27426
@rohancragg Thanks for the feedback! Yes, this does still apply when you have VNET Service Endpoints enabled.

Your VMs will be able to access the ADLS without issue, unless you have taken extra steps to deny those VMs internet access. If you have denied your VMs internet access using the NSG, this article goes through the steps to make sure your VMs can still access your ADLS.

You are correct, o

[2019-03-18 20:51] jurajgh commented on #23124
@msmimart that's exactly the point - *without* federation configured, google users are required to create *microsoft* account, while *with* federation, they experience the simplified invitation redemption process of creating a viral tenant. the distinguishing difference is the need to enter date of birth in the 1st case (without federation -> microsoft account needs to be created), while there's n

[2019-03-18 20:56] TravisCragg-MSFT commented on #27425
@rohancragg Thanks for the feedback! You can [find more information on Network Security Groups Here](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview).

NSG rules allow or deny TCP traffic based upon who starts the connection. If you are connecting to your ADLS, you will need an outbound allow rule on ports 80 & 443 with TCP to the public IP of your ADLS. Please let me know

[2019-03-18 20:57] beigewell opened #27467 "How do you get charged for going over your license limit?"
"B2B guest user licensing is automatically calculated and reported based on the 1:5 ratio."

So here is the scenario

1.	We invite a user who takes us over the 5:1 ratio and MFA is enforced.
a.	Does the MFA still enforce even though we don’t have a license?
b.	Does Azure AD automatically charge us for a license?
c.	How does it get automatically calculated and added to our monthly bill?

2.	Similar

[2019-03-18 20:59] kgremban commented on #23264
Thanks for your help with this, David.
@sergaz-msft #please-close

[2019-03-18 21:03] jvplopper opened #27468 "AuthContextClassRef Update"
I was able to use these instructions to setup our Webex Meetings for SSO via Azure AD SAML.  I immediately noticed some issues with Edge and IE clients, however.  They would fail to login with "Invalid SAML Assertion (13)" on the WebEx site.  Upon further inspection of the SAML claims I had to modify the directions in 3d for AuthContextClassRef.  This is what worked for me: urn:federation:authenti

[2019-03-18 21:03] TomArcherMsft commented on #23920
@dneelyep I'm being told that version 0.12 is in beta and that when it releases (date not known yet), it the ReadPlan function will work. Are you having this problem with any officially released version of Terraform?

[2019-03-18 21:06] Adam-Smith-MSFT commented on #27453
@MaximRouiller Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-18 21:07] nageshsubramanian opened #27470 "Loading Geospatial data to COSMOS using ADF"
I am using ADF to load data from RDBMS database to SQL API Cosmos. I have Latitude and Longitude available as separate columns in source. I need to load them as spatial coordinates/GEOJSON in the collection. How do we solution this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cac5a8-aa7f-8aba-d47e-e78249efa031
* V

[2019-03-18 21:18] TravisCragg-MSFT commented on #27450
@bbabcock1990 can you post a link to the document you are referring to?

[2019-03-18 21:23] sqlazure opened #27471 "Auditing in Azure SQL PaaS"
Generic feedback - the Azure SQL documentation https://docs.microsoft.com/en-us/azure/sql-database/ and security specific documentation https://docs.microsoft.com/en-us/azure/sql-database/sql-database-security-index don't mention audit area as a highlight among other elements. One of the frequent topics and growing area of active tasks in Azure SQL is auditing. It would be great for audit specific

[2019-03-18 21:26] MarileeTurscak-MSFT commented on #27424
Hi @jesspent ,
We are moving away from these sorts of questions in the doc issues. Please post to MSDN and we will promptly help you find a resolution. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-18 21:26] #27424 closed

[2019-03-18 21:26] MicrosoftGuyJFlo commented on #27452
Azure AD is licensed per user per https://azure.microsoft.com/pricing/details/active-directory/

[2019-03-18 21:28] marialai commented on #23124
Hi @jurajgh B2B PM here to answer your question directly.

^ Gmail users having to create MSAs before they are redeemed has **always** been the case, even before Google federation. Once you have configured Google federation, your Gmail guests will just use their Google account to log in, without having to create an MSA.

^ This is not correct. We do not create a viral tenant for Google federated u

[2019-03-18 21:29] bbabcock1990 commented on #27450
I am referring to this article around NSG Flow logs:

https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-overview

I am trying to enable flow logs V2 with powershell using this command:

https://docs.microsoft.com/en-us/powershell/module/azurerm.network/set-azurermnetworkwatcherconfigflowlog?view=azurermps-6.13.0

I wasnt sure if the commands have been updated

[2019-03-18 21:31] esung22 commented on #27426
Hi Travis – I’m not on the ADLS team anymore.  Stephen, do you know who these changes should be assigned to?

From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, March 18, 2019 1:57 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ellick Sung <elsung@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does this still apply when

[2019-03-18 21:31] esung22 commented on #27425
Same for this one, including Stephen.

From: TravisCragg-MSFT <notifications@github.com>
Sent: Monday, March 18, 2019 1:56 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ellick Sung <elsung@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Lacking clarity (#27425)

Assigned #27425<https://nam06.safelinks.protection.outlook.com/?url=http

[2019-03-18 21:36] sqlazure opened #27472 "Github sample JSON and currently supported REST APIs for Storage, Log Analytics (Preview) and Event Hub (Preview)"
Section: Manage SQL database auditing using ARM templates

The samples provided as links in this area are available 'as is' without warranty and is not supported under any support program/service. It would be great for this section here to be updated with this disclaimer, including the 3rd GitHub sample (Log Analytics) with previous 2 being blob storage and event hubs samples. The articles referen

[2019-03-18 21:38] haroldwongms commented on #27457
It is correct that the OKD templates are somewhat out of date and only deploy 3.9 today.  However, that does not make this documentation incorrect.

OpenShift has its own catalog service and you can deploy OSBA on top of that.  The OSBA template for OpenShift itself seems a little out of date.  You need to deploy a newer version of the OSBA image.

I just recently overhauled the OCP templates and

[2019-03-18 21:40] MarkHeff commented on #26899
@TracyGH I followed up with a coworker and he pointed me to the documentation here which helps explain this behavior: https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage#defining-document-keys-and-field-mappings

_If there is no explicit mapping for the key field in the index, Azure Search automatically uses metadata_storage_path as the key and base-64 encodes ke

[2019-03-18 21:40] cmmdesai commented on #27400
@Tarjei99 Thank you for your feedback! As content owner, I apologize that it took multiple reads to get a handle on the content. Your feedback is very timely, as I'm working on improving the structure of this article by dividing the content. Look out for an update by mid-April.
#please-close

[2019-03-18 21:42] rajurh commented on #27388
Thanks issue is with code where stored procedure was not raising error which was the cause of the issue. Since issue is fixed happy to close it.

[2019-03-18 21:43] cmmdesai commented on #27400
@Tarjei99 feel free to write to me at Chetan[dot]Desai[at]Microsoft[dot]com if you have further questions regarding this connector or its usage.

[2019-03-18 21:44] SaurabhSharma-MSFT commented on #27429
@mhollismcgill No, Log Analytics workspace is a prerequisite for Azure Sentinel. You can however, delete the workspace but need a new log analytics workspace to on-board Sentinel.

[2019-03-18 21:46] tfitzmac commented on #26865
@ToMakeSense - sorry, you can only use reference with resource properties and outputs. You could add a parameter that takes the array of outbound IP addresses, and pass in that array with a command like az webapp show

[2019-03-18 21:47] tfitzmac commented on #26865
#please-close

[2019-03-18 21:47] tysonn commented on #27417
Reclassifying and assigning to author.

[2019-03-18 21:51] Mike-Ubezzi-MSFT commented on #27428
The cost estimator is the only reference to cold storage being a pricing figure for Azure Data Explorer. The official pricing page (https://azure.microsoft.com/en-us/pricing/details/data-explorer/) has no mention of cold storage. There should be some documentation to explain the pricing breakdown, or include information pertaining to factors that influence pricing.
I have assigned the issue to the

[2019-03-18 21:57] rupeshprasad opened #27475 "Not able to use the same code in ASP.NET MVC web api"
I am trying to call the same B2CGraphClient as it is in one of the ASP.NET mvc web api but i am not getting the response back. I am getting the token and i see that a call is being made to graph.windows.net with query that i trying to call however i am not getting any response.
So far i have tried with B2CGraphClient.SendGraphGetRequest method, inside this method the code just gets stuck at line n

[2019-03-18 22:00] JSeb225 commented on #27455
Thanks!

[2019-03-18 22:01] SaurabhSharma-MSFT commented on #27427
@Palvag Unfortunately Microsoft Whiteboard has not onboarded yet as an approved app however adding this app is currently in backlog.  Please find an existing [User Feedback](https://whiteboard.uservoice.com/forums/915913-whiteboard-for-iphone-ipad/suggestions/36014893-support-for-aad-conditional-access-as-an-approved) on the same.

[2019-03-18 22:02] sjyang18 commented on #27457
Then, why don't you mention in this document explicitly that we should install OSBA on OpenShift's own catalog service, and shouldn't install service catalog with helm.   I have followed the link (https://github.com/Azure/open-service-broker-azure#openshift-project-template) and installed service catalog with helm (since it is mentioned as a pre-requisite in the same document), and then install OS

[2019-03-18 22:03] sqlazure opened #27476 "Cross reference metric list for further customization"
Useful to list https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftsqlserversdatabases as a linked or relevant article for consuming non-DTU percentage metric as provided as example in sample script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edd8f2cb-6ecf-6669-b643-3af38429a044

[2019-03-18 22:03] SaurabhSharma-MSFT commented on #27188
@karthikhebbar Sure. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 22:03] #27188 closed

[2019-03-18 22:07] himanshusinha-msft commented on #27318
@SANDEEPPILLUTLA : I did looked into this further and without making any changes to the code mentioned in the document I was able to send data to the event hub .

For this code to run we need to only update the below lines of code with correct values .

        final ConnectionStringBuilder connStr = new ConnectionStringBuilder()
                .setNamespaceName("**_namespaceName_**")

[2019-03-18 22:08] KeiroKamioka0000 commented on #18086
Any update for this?

Thanks.

[2019-03-18 22:12] MarileeTurscak-MSFT commented on #27452
@MicrosoftGuyJFlo is correct. Per the licensing agreement, these are assigned per user.

We will now proceed to close this thread. If you have further questions feel free to reach out on MSDN. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2019-03-18 22:12] #27452 closed

[2019-03-18 22:16] SaurabhSharma-MSFT commented on #27415
@Trundlore Can you please provide cmdlets you are talking about ?

[2019-03-18 22:17] kgremban commented on #27379
I don't think the IoT Edge extension for Visual Studio 2017 works for ARM projects yet. @shizn can you confirm and then I can clarify in the doc?

[2019-03-18 22:19] shizn commented on #27379
There is no support for ARM project at this moment. You can see supported platform in your 2nd screenshot Linux-amd64 and Windows-amd64.
ARM support is in the roadmap.

[2019-03-18 22:20] kgremban commented on #27379
Thanks for the quick response, Xin. @knowpath you can develop ARM32 project with Visual Studio Code currently.

[2019-03-18 22:21] MarileeTurscak-MSFT commented on #27447
@RomanNG thanks for the feedback! I have passed this on to the content author, @billmath , to look into.

[2019-03-18 22:24] shizn commented on #27379
@knowpath  you can also check this blog post - https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/

[2019-03-18 22:25] TomArcherMsft commented on #23032
@TheMoroccanBoss Thanks much for your feedback.
@grayzu Could you take a look at this issue, and advise on next steps?

[2019-03-18 22:31] SaurabhSharma-MSFT commented on #27436
@roovyshapiro I think you already have opened a PR to update the document which under author's review.   Thanks for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2019-03-18 22:31] #27436 closed

[2019-03-18 22:32] TomArcherMsft commented on #23920
@dneelyep I've added the promised note to the top of the article. Hopefully, this prevents any confusion for future readers of the content when using beta releases of the 0.12 version. Thanks for your feedback! https://docs.microsoft.com/azure/terraform/terratest-in-terraform-modules

[2019-03-18 22:33] Mike-Ubezzi-MSFT commented on #27476
@sqlazure Thank you very much for providing this detailed feedback. I see the sample script is built upon the `dtu_consumption_percent` metric. The link you provided (https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftsqlserversdatabases) is an entire list of valid metrics that could be used for `MetricNames` in the sample script. This link would be handy so y

[2019-03-18 22:34] SaurabhSharma-MSFT commented on #27448
@NextTurn To assist you better on your query could you provide us with the link to the document you are referring to ?

[2019-03-18 22:37] TravisCragg-MSFT commented on #27450
I am not able to find a way to set V2 using PowerShell. Let me follow up with this.

[2019-03-18 22:37] NextTurn commented on #27448
In this repository https://github.com/MicrosoftDocs/azure-docs/labels/Change%20sent%20to%20author

[2019-03-18 22:39] sqlazure opened #27477 "Force a failover to secondary via TSQL"
It would be great to accommodate article https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-database-transact-sql?view=azuresqldb-current that includes FORCE_FAILOVER_ALLOW_DATA_LOSS that can be used in Azure SQL DB when primary is unavailable and if failover needs to be performed via TSQL. Especially the description of FORCE_FAILOVER_ALLOW_DATA_LOSS definition in that article that explai

[2019-03-18 22:40] kgremban commented on #27078
@erwelch I retested this with a brand new VM and couldn't reproduct your error. Here's what a successful output looks like:

[code]

Looking at the error message, it says that the script wasn't found. Can you check on your VM that the configedge.sh file exists in /etc/iotedge/? That file only exists in the IoT Edge on Ubuntu VM image. If you used a different image, then the script won't be found.

[2019-03-18 22:41] Mike-Ubezzi-MSFT commented on #27472
@sqlazure I appreciate the time you took to bring this issue to our attention. Are you suggesting that a `Disclaimer` be added? I am looking through this issue you filed and the document. Some additional details would be helpful.

[2019-03-18 22:46] KeiroKamioka0000 opened #27478 "Number of Managed Disk can be made?"
Is there are Maximum Amounts of Managed Disk can be made per subscription?

Or, is it up to 10,000 disks by default?
With following question I've post, I thought it was the maximum IOPS per disk.....

But I'm not sure with this.

https://github.com/MicrosoftDocs/azure-docs/issues/18086

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-03-18 22:47] sqlazure commented on #27472
@Mike-Ubezzi-MSFT  One suggestion is to add the sample link from GitHub for OMS (Log Analytics) just like the other links for blob and event hub. The other is either a disclaimer, or at least a reference on the GitHub sample supportability as a prologue. This is to ensure clarity that any potential time & effort investment on referenced GitHub sample consumption for production deployments may need

[2019-03-18 22:51] axisc commented on #27334
Thank you @rajrao for reporting this and @mike-urnun-msft  for fixing 👍

[2019-03-18 22:54] axisc commented on #27039
fair point @breyed

@MicahMcKittrick-MSFT  - could you keep this open? #please-open

@spelluru and I can sync up and make the doc changes.

[2019-03-18 22:55] sqlazure opened #27479 "Service tier for secondary both in Geo-Replication and Failover Groups"
Please consider cross-referencing below 2 articles - for Geo-Replication and Failover Groups - to ensure the primary and secondary are at the same service tier. If there is a drastic difference in service tier for secondary, this may result in issues on secondary for asynchronous update consumption from primary. And may also affect primary if redo logs need to await truncation due to resource cont

[2019-03-18 23:02] Mike-Ubezzi-MSFT commented on #27472
Thanks for the additional feedback @sqlazure. I have assigned the issue to the content author (@vainolo) to evaluate and update as appropriate.

[2019-03-18 23:08] SaurabhSharma-MSFT commented on #27448
@NextTurn This label is used to identify the PR merger stage of any changes done to azure-docs repository.

[2019-03-18 23:09] NextTurn commented on #27448
But it is the same for every PR.

[2019-03-18 23:14] SnehaGunda commented on #26594
@christopheranderson can you please take a look at this issue.

[2019-03-18 23:16] SnehaGunda commented on #26595
@christopheranderson can you please take a look at this issue.

[2019-03-18 23:18] SaurabhSharma-MSFT commented on #27448
@NextTurn yes, it is as all issues belongs to azure-docs repository where the changes have been sent to the content authors for review.

[2019-03-18 23:19] SnehaGunda commented on #26593
When maxItemCount is set to -1, the SDK automatically finds the most optimal value.

@bchong95 can you please share more details on tradeoffs of setting this value too high Vs too low.

[2019-03-18 23:21] SnehaGunda commented on #26311
I had a chat with @christopheranderson about this, there aren't any existing examples for pagination. We will add a work item to our backlog.

[2019-03-18 23:21] femsulu commented on #27460
@bjmassie Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-18 23:21] NextTurn commented on #27448
Thanks. Please close this issue if it's by design.

[2019-03-18 23:22] SnehaGunda commented on #26117
@deborahc assigning this to you, can you please look into this.

[2019-03-18 23:25] cijothomas commented on #14929
@lemvigh Docs are being updated now with explanation for the presence of multiple sampling nodes by default.
Also to answer your specific question about 'double sampling' - no is the default answer, as all SamplingProcessors ignore items from Sampling considerations, if the item is already sampled. (i.e itemCount set by a previous Sampling processor)

[2019-03-18 23:26] SaurabhSharma-MSFT commented on #27471
@sqlazure Thanks for the feedback !  I have assigned this issue to content author to investigate and update you on the same.

[2019-03-18 23:26] femsulu commented on #27463
@tFable Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-03-18 23:26] aliceku commented on #27471
@VanMSFT Hello Van - can you take a look, this is good feedback and I will be out for three weeks.

[2019-03-18 23:26] SaurabhSharma-MSFT commented on #27448
@NextTurn We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-18 23:26] #27448 closed

[2019-03-18 23:31] haroldwongms commented on #27457
Hmm...  I did not provide specific instructions for installing OSBA and was leaving it up to the OSBA team to provide those instructions.  As I look closer at the OSBA site, they are not very clear that the initial instructions are only for Kubernetes and not for OpenShift.  The OpenShift section is not associated with Kubenetes but is its own set of instructions.  It states "You must have Service

[2019-03-18 23:34] TravisCragg-MSFT commented on #27450
@bbabcock1990 You can [set V2 logs in PowerShell by following this doc](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-powershell). It gives both V1 and V2 commands.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2019-03-18 23:34] #27450 closed

[2019-03-18 23:37] Juliako commented on #26518
@kazshi, @AjayKumar-MSFT , i updated the doc accordingly https://docs.microsoft.com/en-us/azure/media-services/latest/content-protection-overview#streaming-protocols-and-encryption-types

[2019-03-18 23:37] Juliako commented on #26518
#please-close

[2019-03-18 23:44] iainfoulds commented on #26745
@Karishma-Tiwari-MSFT I don't know, sorry - I don't control the external nVidia images provided in their Dockerhub.

[2019-03-18 23:46] YutongTie-MSFT commented on #24006
@simonech Hi Simone, sorry for the late response. Yes, please feel free to send a PR. Thank you a lot.

@SteveMSFT Hi Steven, do you have any update? Please tell me if you are not the right person I should reach out to. Thank you.

[2019-03-18 23:47] iainfoulds commented on #26847
Yes, this isn't an AKS-specific requirement, and as noted, password usage for service principals isn't really recommended and is being deprecated. Typically you'd let the Azure platform generate the service principal credentials. For this example to work in a copy + paste format, a manual password is provided, however you'd typically have a process in place to generate and rotate service principal

[2019-03-18 23:50] rboucher commented on #27423
@owingruters Can you be specific?  Are you wanting to know how to quickly fire an alert to test the group?  For example..

## Test your action group
Set up a resource not in your production environment. A VM of the smallest size is useful. Follow the steps in set up a [simple metric alert](alerts-metric.md) looking at CPU usage above 5%.  Then run taskmgr or create a looping batch file to put load

[2019-03-18 23:59] Kamyar5353 opened #27481 "The Header Response is not available..."
Hi.
Sometimes, the REST APIs call returning some values through the header response. Unfortunately, I couldn't find anything in the document in this regard. It seems the WEB activity only return the response body through @activity("&lt;xxx&gt;").output
I couldn't find anything for the response header. Is there any way to access that? Thanks

---
#### Document Details

⚠ *Do not edit this section.

[2019-03-19 00:02] SaurabhSharma-MSFT commented on #27470
@nageshsubramanian Thanks for your feedback! We will investigate and update as appropriate.

[2019-03-19 00:13] KeiroKamioka0000 opened #27483 "Please add 'auto scale up/down' is not supported"
Please consider to add FAQ that mention, Auto Scale for Scale Up and Down is not currently supported for WebApp.

https://feedback.azure.com/forums/169385-web-apps/suggestions/35632240-auto-scale-up-and-down-not-just-out-for-web-apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4968f0a-740d-c541-4b34-457231666ff2
*

[2019-03-19 00:14] Juliako commented on #27402
Updated https://docs.microsoft.com/en-us/azure/media-services/latest/content-protection-overview#streaming-protocols-and-encryption-types

[2019-03-19 00:14] Juliako commented on #27402
#please-close

[2019-03-19 00:15] MarileeTurscak-MSFT commented on #27449
Hi @DeanGross

As far as I am aware, the same control to require MFA, require MFA registration or require password reset is used in multiple places, but not all of the options are available in each place. The "Require MFA registration" control is only available when creating an MFA registration policy. The "Require MFA" control is only available when creating a sign-in risk policy, and the "Requir

[2019-03-19 00:23] hawkwind2 commented on #25739
Changes in static files or scripts does not require complete rebuild and deploy, can we avoid that? e.g changes in HTML file needs only to copy the file. Same as FTP hosting...possible?

[2019-03-19 00:31] Mike-Ubezzi-MSFT commented on #27479
@sqlazure Thank you very much for this documentation recommendation. Just to confirm, are you suggesting that [this document](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-disaster-recovery) include the following two points:

If you add an existing geo-replication relationship to the failover group, make sure the geo-secondary is configured with the same service tier and compute

[2019-03-19 00:44] Mike-Ubezzi-MSFT commented on #27477
@sqlazure Thank you for taking the time to provide this detailed feedback. Just to confirm, [this section](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-disaster-recovery#fail-over-to-geo-replicated-secondary-server-in-the-failover-group) discusses 2 ways to initiate a failover. The enhancement would be to add a third option, which is via [T-SQL](https://docs.microsoft.com/en-us

[2019-03-19 00:49] KeiroKamioka0000 commented on #23301
Hello, please consider to add this info in the document please.
Currently, it does not mention Scale Up wouldn't cause the downtime in generally.
Currently, document just say 'The scale settings take only seconds to apply and affect all apps'

[2019-03-19 00:56] kazshi commented on #27402
@Juliako Thank you for the update.

[2019-03-19 00:56] #27402 closed

[2019-03-19 01:05] ishepherd commented on #26855
OK @ChiragMishra-MSFT thanks for explaining
The pricing page I linked above does quote prices for Archive, and doesn't say that it's unsupported. So please consider modifying that page.

[2019-03-19 01:25] anssenfang1 commented on #27277
1, tables in OMS after enable it for spark cluster:

[cid:image001.png@01D4DE35.A1737B80]

2, Only default queues can be shown as highlighted in above screen shot.

From: Jason H <notifications@github.com>
Sent: Tuesday, March 19, 2019 12:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anssen Fang <Anssen.Fang@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-03-19 01:35] pranay-allanku opened #27484 "Need a simple ARM template to create application gateway with two VM hosted under it."
Need a simple ARM template to create application gateway with two VM hosted under it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4546e1f-9088-42ae-384d-df5237aa24e5
* Version Independent ID: d22cab04-7c34-8365-aae4-413da2593843
* Content: [Create an application gateway with a web application firewall - Azure porta

[2019-03-19 01:42] femsulu commented on #27478
@KeiroKamioka0000 Thanks for the Comment. We are actively investigating and will get back to you soon.

@rothja  - any idea on the max limit for managed disks per sub?

[2019-03-19 01:45] tonesandtones opened #27485 "Cross-server restores are not possible"
The bullet points at the top of the article say that one of the options for restoring a database is to "Create a new database on any SQL Database server in the same region recovered to the point of the most recent backups."

This does not appear to be possible, at least not for single instance databases.

If you try to do this in the Azure Portal, the Target Server selector is locked and cannot be

[2019-03-19 02:10] Alberto-Vega-MSFT commented on #26617
@CloudyEMS @reneschulte Thanks again for your valuable feedback! The documentation is wrong in  this link: https://docs.microsoft.com/en-gb/dotnet/api/microsoft.azure.spatialanchors.anchorlocatecriteria.identifiers#Microsoft_Azure_SpatialAnchors_AnchorLocateCriteria_Identifiers

This text: _"If empty, any anchors can be located"_. It's wrong. You can't pass an empty list of identifiers. So, we nee

[2019-03-19 02:10] #26617 closed

[2019-03-19 02:14] xtianus79 commented on #27373
@diberry you are correct. I got it working when adding in the phrase list

[2019-03-19 02:14] #27373 closed

[2019-03-19 02:30] kobulloc-MSFT commented on #27162
@woutervanranst While not explicitly called out in the documentation for [actions that can be performed by each role](https://docs.microsoft.com/en-us/azure/lab-services/devtest-lab-add-devtest-user), this doesn't seem to be in line with what is expected.  We are following up with the product group.

[2019-03-19 02:38] YutongTie-MSFT commented on #24842
@wolfma61 Hi Wolfgang, do we have any update for this issue? Thank you.

[2019-03-19 02:46] KalyanChanumolu-MSFT commented on #27227
@olufea, We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-19 02:46] #27227 closed

[2019-03-19 02:48] SteveMSFT commented on #24006
+ Gang & Boris

@YutongTie-MSFT<https://github.com/YutongTie-MSFT> – I’m adding both Gang & Boris as they are the current appropriate owners to work with on this request.

Thanks,

Steve

From: YutongTie-MSFT <notifications@github.com>
Sent: Monday, March 18, 2019 4:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Steven Bowles <sbowles@microsoft.com>; Mention <mention@norepl

[2019-03-19 02:49] DashleenBhandari-MSFT commented on #27483
@KeiroKamioka0000 , Thanks for raising this issue. We will investigate and update you.

[2019-03-19 03:05] YutongTie-MSFT commented on #25798
@cesaredecal Thank you for your feedback, I will escalate this issue to engineering team for more help.

[2019-03-19 03:12] YutongTie-MSFT commented on #25542
@taranais Thank you for your follow-up, we would escalate this issue to content team and they would take proper actions.

[2019-03-19 03:16] rofangaci commented on #27052
Pramod,
Yes, some slimilar document like this. I am working for Microsoft as well. 
Thanks,Rong
    On Sunday, March 17, 2019, 9:10:08 PM PDT, Pramod Valavala <notifications@github.com> wrote:

@rofangaci Just following up here... Did you have a chance to take a look into the restrictions imposed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2019-03-19 03:24] YutongTie-MSFT commented on #25193
@Ilanak
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-19 03:24] #25193 closed

[2019-03-19 03:27] KalyanChanumolu-MSFT commented on #27485
Thank you for the detailed feedback.
We are actively investigating and will get back to you soon.

[2019-03-19 03:35] YutongTie-MSFT commented on #24573
@diberry Thank you Dina, I will close this. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-19 03:35] #24573 closed

[2019-03-19 03:36] guruparan18 commented on #24795
Looks like Oracle EM fails in IE / Edge. It does open properly in Chrome@65.

[2019-03-19 03:46] YutongTie-MSFT commented on #24799
@mrosett Hi Max, sorry for the delay, your issue will be forwarded to the engineering team. Thank you.

[2019-03-19 03:46] shashishailaj commented on #27464
@aaronjedwards Thank you for your query . We will investigate and update this thread further.

[2019-03-19 03:48] shashishailaj commented on #27465
@mgfink Thank you for your feedback . We will investigate and update this thread accordingly.

[2019-03-19 03:50] YutongTie-MSFT commented on #24339
@RohitMungi-MSFT  Hi Rohit, could you please check this issue?

[2019-03-19 03:51] shashishailaj commented on #27481
@Kamyar5353 Thank you for your query . We will investigate and update this thread further.

[2019-03-19 03:52] shashishailaj commented on #27475
@rupeshprasad Thank you for your feedback . We will investigate and update this thread further.

[2019-03-19 03:54] shashishailaj commented on #27468
@jvplopper Thank you for your feedback . We will have this reviewed and engage the content team to further look into it .

[2019-03-19 03:55] shashishailaj commented on #27467
@beigewell Thank you for your feedback . We will investigate and update further.

[2019-03-19 03:56] YutongTie-MSFT commented on #25913
@areddish Thank you Andrew.

@jtlz2
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-19 03:56] #25913 closed

[2019-03-19 03:58] shashishailaj commented on #27484
@pranay-allanku Thank you for your query . We will get this request reviewed if we already have a similar sample and update this thread.

[2019-03-19 04:01] YutongTie-MSFT commented on #25451
@gitathrun Hi Teng, thank you for your follow up. Your issue will be forwarded to content and engineering team.

[2019-03-19 04:05] 461775 commented on #27324
Thanks for your response.

I have followed the steps provided in the oss repo but we are not sure what could be the audience is it client app id?

[2019-03-19 04:08] hansenms commented on #27324
It depends on what you have configured on your FHIR Server. It has to be the same as the App Setting variable `FhirServer:Security:Authentication:Audience` on your FHIR server. It is the identifier URI of your app registration.

[2019-03-19 04:14] SadiqhAhmed-MSFT commented on #27030
@Anmolgan81 You can look into importing custom images to Azure. Reference - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-generic

[2019-03-19 04:19] EmmaZhu commented on #14182
@seguler
Would AzCopy v10 support Ubuntu 18.04?  We didn't test AzCopy v8 on Ubuntu 18.04 before, do we need to release AzCopy v8 on Ubuntu 18.04?

[2019-03-19 04:21] ManojReddy-MSFT commented on #27017
@gutjahr "Microsoft Intune" covers both the MDM and MAM scenarios. So whenever users hit MDM discovery URL "https://enrollment.manage.microsoft.com/enrollmentserver/discovery.svc" or the MAM URL "https://wip.mam.manage.microsoft.com/Enroll" then a CA policy covering "Microsoft Intune" will be applied.

Does this help ?

[2019-03-19 04:22] AlexanderTodorovic opened #27488 "BULKLOAD - increasing your batch load window"
Dear All, can you please add an short description or example what does mean "increasing your batch load window" ? Thanks, Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35d06a19-f303-656f-f8aa-1e61ec6f0383
* Version Independent ID: 0c392e1d-d39e-21c9-ea7c-18cd64ac9dda
* Content: [Improve columnstore index performa

[2019-03-19 04:23] YutongTie-MSFT commented on #25967
@CeciAc
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-19 04:23] #25967 closed

[2019-03-19 04:23] SadiqhAhmed-MSFT commented on #19653
@tfitzmac thank you.

[2019-03-19 04:23] #19653 closed

[2019-03-19 04:23] femsulu commented on #27404
Hi @imeya

Sorry for the issue you are experiencing. We are happy to help but this channel is reserved for documentation issues/bugs.

For the best possible response, we recommend posting your issue on either our [Log Analytics](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=opinsights) or [Azure Function](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureFuncti

[2019-03-19 04:23] #27404 closed

[2019-03-19 04:27] CHEEKATLAPRADEEP-MSFT commented on #27273
@anssenfang1 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-19 04:27] #27273 closed

[2019-03-19 04:28] #26518 closed

[2019-03-19 04:29] YutongTie-MSFT commented on #24709
@CeciAc
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-19 04:29] #24709 closed

[2019-03-19 04:30] EmmaZhu commented on #14182
AzCopy v10 supports Ubuntu 18.04. You can download it here: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10. Would you like to have a try with it?

[2019-03-19 04:30] shashishailaj commented on #27400
@Tarjei99 As per the reply by @cmmdesai we will be closing this issue for now.

[2019-03-19 04:30] #27400 closed

[2019-03-19 04:30] YutongTie-MSFT commented on #24408
@areddish Thank you for the update. ^^

@reewajc We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-03-19 04:30] #24408 closed

[2019-03-19 04:31] shashishailaj commented on #27191
@DanielMabbett We will now close this issue. Please feel free to tag me to your reply in case you still have any queries. Thank you.

[2019-03-19 04:31] #27191 closed

[2019-03-19 04:32] PramodValavala-MSFT commented on #27032
@olitomlinson Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 04:32] #27032 closed

[2019-03-19 04:43] CHEEKATLAPRADEEP-MSFT commented on #27399
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-03-19 04:43] #27399 closed

[2019-03-19 04:59] kazshi opened #27489 "Definition of "Data""
The pricing page has "Data retention: $0.12 GB/month" - What is definition of the data here (all related data used for Logic Apps including Logic Apps)? Are there any ways to measure the data? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63815982-c91f-8078-f89d-af3a89dda954
* Version Independent ID: 0ffd6861-

[2019-03-19 05:21] kazshi commented on #25153
It's not up-to-date yet as of 3/18.

[2019-03-19 05:21] AshokPeddakotla-MSFT commented on #27346
Thank you Dominic!
@maxstreifeneder This issue has been addressed. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-03-19 05:33] femsulu commented on #27344
thanks for the update. We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-19 05:33] #27344 closed

[2019-03-19 05:38] DixitArora-MSFT commented on #27381
@zavr-1 When we build the image from docker file, files are deployed under your wwwroot folder (specifically d:\home\site\wwwroot).At that point, the runtime takes over, and it is no longer relevant how the files got there. The runtime can read all those files, and run whatever logic it needs to run based on them.

But with Run From Package, things are very different. There is no longer a deployme

[2019-03-19 05:38] ashjain commented on #26900
The Zone Redundant SKUs for the Virtual Network Gateways (VpnGw1AZ, VpnGw2AZ, VpnGw3AZ, ErGw1AZ, ErGw2AZ, ErGw3AZ) use a Standard Static Public IP.   Whether the GW is zone redundant or zonal depends on the Public IP.   If the Standard Public IP is created as a Zonal IP i.e., created in only a single/specific zone, the resulting GW will be a Zonal GW.   However, if the Standard Public IP is create

[2019-03-19 05:39] DixitArora-MSFT commented on #27193
@zak-jama-venture1consulting-com For now will proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 05:39] #27193 closed

[2019-03-19 05:40] DixitArora-MSFT commented on #27155
@jitendriyag2 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 05:40] #27155 closed

[2019-03-19 05:51] gowthamsans opened #27490 "de-BE is an invalid culture identifier"
Hi.. I have used multiple combinations of language and country, and i can upload those combinations via my custom policy. For eg i have used es-ES,de-AT,de-LI and so on with 32 such combinations. I would like to know why de-BE(German-Belgium) is not supported? Please guide me on this issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-19 05:52] gowthamsans commented on #27490
![image](https://user-images.githubusercontent.com/14831884/54583162-51f34700-4a39-11e9-8dae-41fa46a198e9.png)

[2019-03-19 05:56] KalyanChanumolu-MSFT commented on #27488
Thank you for your feedback.
We will assign this to the content author to evaluate and update as appropriate.

[2019-03-19 06:03] jakaruna-MSFT commented on #27301
@lefrog Did that solved your issue?

[2019-03-19 06:03] SubhashVasarapu-MSFT commented on #26900
@deltadan , Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-19 06:03] #26900 closed

[2019-03-19 06:15] KetanChawda-MSFT commented on #27142
@thefliik Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 06:15] #27142 closed

[2019-03-19 06:15] KetanChawda-MSFT commented on #27307
@vinothrao Since there is no doc update required at the moment, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 06:15] #27307 closed

[2019-03-19 06:16] KrishnaG-MSFT commented on #27387
@PingPongSet For Log Analytics to collect data from Azure resources, you may just go to Azure portal -> YOURLOGANALYTICSWORKSPACE -> Workspace Data Sources tile -> Azure Resources -> Select your resource (APIM, Function, etc.) from the list and click on it -> Provide a setting name and tick all the required category of logs and metrics you want to collect and monitor via Log Analytics -> Click 'sa

[2019-03-19 06:16] KetanChawda-MSFT commented on #27308
@vinothrao Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 06:16] #27308 closed

[2019-03-19 06:17] PramodValavala-MSFT commented on #27337
@cloudmelon I was able to confirm that Traffic Manager ([performance routing](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-routing-methods#performance)) is indeed provisioned and maintained by the APIM service itself. **_But_** as mentioned before, its only for directing traffic to the closest APIM instance and you would still need regional endpoints for your services alo

[2019-03-19 06:34] gokul2018 opened #27491 "Need to resize VMSS disk"
I have created a VMSS with Linux OS image.

At the moment, i have 3 machines running with unmanaged disks of 30GB size.

How do i scale up to 64 or 128 of these disks in my VMSS instances?

Then i tried creating a VMSS with managed disk, had an option to add data disk of 1GB by default.

How do i extend or increase the size of the disk of my VMSS instances?

[2019-03-19 06:43] PramodValavala-MSFT commented on #27052
@rofangaci Glad that was helpful. The only way to get your WSDL to import into APIM is to remove anything that is mentioned in the doc.

For example, instead of using `WSDL:Import`, you would have to merge them into a single file and use that in APIM.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continu

[2019-03-19 06:43] #27052 closed

[2019-03-19 06:43] SumanthMarigowda-MSFT commented on #27246
@artisticcheese This article will explain or link to perfom role assigments via ARM templates
[Microsoft.Authorization roleAssignments template reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/2017-09-01/roleassignments)
`{
  "name": "string",
  "type": "Microsoft.Authorization/roleAssignments",
  "apiVersion": "2017-09-01",
  "properties": {
    "roleDefinitionI

[2019-03-19 06:43] DixitArora-MSFT commented on #27421
@PingPongSet For APIM you can set Azure Log Analytics by following the below steps :

Underneath the diagnostic settings tab of the APIM -->>Click on Turn on diagnostics to collect the following data and then you will have the option 'Send to Log Analytics'.

![image](https://user-images.githubusercontent.com/46984568/54583386-f83f4c80-4a39-11e9-936e-8999a42dbe8c.png)

![image](https://user-images

[2019-03-19 06:44] DixitArora-MSFT commented on #27416
@PingPongSet For APIM you can set Azure Log Analytics by following the below steps :

Underneath the diagnostic settings tab of the APIM -->>Click on Turn on diagnostics to collect the following data and then you will have the option 'Send to Log Analytics'.

![image](https://user-images.githubusercontent.com/46984568/54583386-f83f4c80-4a39-11e9-936e-8999a42dbe8c.png)

![image](https://user-images

[2019-03-19 06:52] KetanChawda-MSFT commented on #27350
@mganeshphani Here's an [blog](https://medium.com/microsoftazure/using-azure-devops-pipelines-to-deploy-azure-functions-written-in-java-d338cd50ff84) of deploying java function in Azure DevOps.

It includes below steps in build and release pipeline.

1. Choose Maven task.
2. Copy File task, set Content to `**/azure-functions/**`
3. Add Archive task, set `Root folder or file to archive` to `$(build

[2019-03-19 07:01] KetanChawda-MSFT commented on #27489
@kazshi Thank you for posting your question. We will review this and provide an update as appropriate.

[2019-03-19 07:38] RohitMungi-MSFT commented on #27420
@thecpshah Thanks for pointing out the issues.
@PatrickFarley I am able to repro the issue and it looks like the response result format has changed which is causing this quickstart code to fail.

Here is the code that I am able to run to get the JSON response for your reference.

[code]

Here is the latest response file for the same image used in the quickstart.
[handwritten_output.txt](https://gi

[2019-03-19 07:39] jakaruna-MSFT commented on #27371
@dipesharora I followed the doc and deployed a AKS in my VNET.
It creates a Availability set and links that with the VM's.
Availability set name format is `nodepool1-availabilitySet-<random num>` in the resource group `mc_<resource group>_<aks resource name>_<region>`.
Can you check in that resource group again?

[2019-03-19 07:50] vainolo commented on #27472
Hi @sqlazure .
I don't understand this statement: "add the sample link from GitHub for OMS (Log Analytics) just like the other links for blob and event hub". Add where? There are links to all of them from the templates pages (as you put in the issue above).
Furthermore, all the repo contains a LICENSE file (https://github.com/Azure/azure-quickstart-templates/blob/master/LICENSE) , which is MIT and

[2019-03-19 07:50] jurjenoskam opened #27494 "IPv4 firewall restrictions should also be mentioned on this page"
According to https://docs.microsoft.com/en-us/azure/key-vault/key-vault-overview-vnet-service-endpoints, the IPv4 firewall has some restrictions: not all IP addresses will work, some will be silently accepted but won't be allowed to pass the firewall.

However, if you're looking for information about configuring the Key Vault *firewall* you're much more likely to end up on this page (the one I'm p

[2019-03-19 08:01] i3anaan commented on #26454
@BryanTrach-MSFT @msangapu Thank you for responding quickly, any update or a timeline on this?

[2019-03-19 08:03] CHEEKATLAPRADEEP-MSFT commented on #27491
@gokul2018 Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community me

[2019-03-19 08:03] theheatDK opened #27495 "How to prevent public access?"
Hi,
The default is Private (No anonymous access). But this does not work.
Whatever I do the file is public available. How do you enable RBAC so only authenticated users with the right permissions can access a file?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Versi

[2019-03-19 08:11] owingruters opened #27496 "Trigger the security scan"
It would be good to know in this article if there is a way to trigger a new scan, to test if the mitigation that was put in did actually work.
If there is not a way, it would be good to add when the security scans are initiated by the system

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0554513-d846-079c-6bfc-d27aab7

[2019-03-19 08:14] owingruters commented on #27423
Hi, this can be done off course, but it takes a few minutes to execute, Why
not just add a button to the actiongroup "send test message", which send a
message to all the set-up channels just like if a real alert was triggered.
That would be much easier.

On Tue, Mar 19, 2019 at 12:50 AM Rob Boucher Jr (Microsoft) <
notifications@github.com> wrote:

[2019-03-19 08:24] YASWANTHM-MSFT commented on #27495
@theheatDK ,
Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-03-19 08:25] kpvnreddy commented on #9848
@divyaswarnkar, Could you please suggest the syntax for dividedBy. This is not working as expected using Liquid map in logic app.
mapping code:
{%- assign test = 10 | divided_by: 2 -%}
{{test}}

Result: 10 (instead of 5)

[2019-03-19 08:41] rkarlin commented on #26036
#please-close

[2019-03-19 08:41] gokul2018 commented on #27491
Check if this is the link https://github.com/Azure/azure-rest-api-specs/issues/1906 you're requesting.

[2019-03-19 08:47] femsulu commented on #26602
@justSteve you may need to register the 'microsoft.managedIdentity' RP on the subscription as shown in screen capture below. Once enabled, you should see the Application Resource Provider option.

![image](https://user-images.githubusercontent.com/34327711/54592087-dec1e480-49e8-11e9-9d89-82c31b523321.png)

we will now close this issue but feel free to reply if issue persists.

[2019-03-19 08:47] #26602 closed

[2019-03-19 08:48] cloudmelon commented on #27337
Thanks Parmod for your efforts to bring up these details, I really appreciate all these useful details,  looking forward the updates from author, hope users will feel more clear in terms of the usage.

[2019-03-19 08:54] jakaruna-MSFT commented on #27386
@TheSoftwareArchitect Thank you very much for the detailed feedback. I think we can incorporate the suggested changes.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 08:56] anssenfang1 opened #27497 "AAD-Domain shall be uppercase"
Using Beeline on a client, connecting to a HDInsight Enterprise Security Package (ESP) cluster over an Azure Virtual Network: -u 'jdbc:hive2://&lt;headnode-FQDN&gt;:10001/default;principal=hive/_HOST@&lt;AAD-Domain&gt;;auth-kerberos;transportMode=http' -n &lt;username&gt;

Please add one note:The AAD-Domain shall use uppercase otherwise the credential can not be found. You can check /etc/krb5.conf

[2019-03-19 08:57] rkarlin commented on #22793
#please-close

[2019-03-19 09:00] shashishailaj commented on #27198
@DrEnnui Yes , you are right . It is certainly an idea worth exploring . I will engage the content authors to have this idea reviewed and the content updated as per required changes. this may take some time.
Thank you.

[2019-03-19 09:07] KrishnaG-MSFT commented on #27323
@irwinwilliams The [content article]( https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows) which you are referring basically talks about installing and monitoring log analytics agent on VM's or physical computers in your local datacenter or other cloud environment.

Refer [this](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-overview) to mo

[2019-03-19 09:07] shashishailaj commented on #27198
@billmath Could you please have a look at this request by @DrEnnui ? As per him we can improve this document by providing some way to create a Domain controller in azure by using ARM templates rather than suggesting to use HyperV on their machines . It would be great if you could review the feasibility of this request.
Thank you.

[2019-03-19 09:16] ctahok opened #27498 "Duplication of sentences"
These sentences are duplicate:

Resources in one virtual network cannot communicate with the front-end IP address of a Basic internal load balancer in a globally peered virtual network. Support for Basic Load Balancer only exists within the same region.

Resources in one virtual network cannot communicate with the front-end IP address of a Basic internal load balancer in a globally peered virtual

[2019-03-19 09:27] snerting commented on #12741
Please add a Cancel button, because waiting 90 minutes when done a mistake is a long time

[2019-03-19 09:30] JozoSlejko commented on #27382
Well this is interesting, no point in using NSGs. Don't have any other questions.

[2019-03-19 09:30] #27382 closed

[2019-03-19 09:34] danimir commented on #27460
@bjmassie You would remove it as any other Azure resource. This is standardized for all resources on Azure - click on a resource, delete, confirm.

@femsulu #please-close

[2019-03-19 09:41] BhargaviAnnadevara-MSFT commented on #26514
@karthikdevarakonda Thanks for sharing your findings!

[2019-03-19 09:46] shashishailaj commented on #27496
@owingruters Thank you for your query . We will investigate and update this thread.

[2019-03-19 09:49] shashishailaj commented on #27494
@jurjenoskam Thank you for your query . We will investigate and update further.

[2019-03-19 09:50] francisco-ltech commented on #26870
Agree with @jlian

Might be a good idea to remove the "using third-party clients" section, I went in circles trying to make it work and only the C SDK is supported.

I got my PoC working with the C SDK now, so thank you for the sample.

[2019-03-19 09:51] ChiragMishra-MSFT commented on #27228
@melzoghbi Unfortunately ADF does not yet have blob event trigger in gov data centers as of now. The reason is that grid was added to gov more recently than ADF. The feature gaps on US Gov clouds are under review and will be covered very soon.

I will now proceed to close this issue. However please feel free to comment and tag me if you have any queries.

[2019-03-19 09:51] #27228 closed

[2019-03-19 09:55] shashishailaj commented on #27490
@gowthamsans Thank you for your query. We will investigate and update this thread further.

[2019-03-19 09:57] shashishailaj commented on #27498
@ctahok Thank you for your query. We will have this reviewed and engage authors as necessary .

[2019-03-19 10:00] shashishailaj commented on #27497
@anssenfang1 Thank you for your feedback . We will investigate and update this thread further.

[2019-03-19 10:03] Trundlore commented on #27415
Hi,
the Get-AzureADPasswordProtectionSummaryReport cmdlet located by default in the %ProgramFiles%\WindowsPowerShell\Modules\AzureADPasswordProtection\Get-AzureADPasswordProtectionSummaryReport.ps1 of the proxy agent servers.

The text beneath notes that it makes a remote connection to all Domain Controllers with agents, but not from where, or which system to locate the cmdlet on.
Kind regards

[2019-03-19 10:04] femsulu commented on #27460
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-19 10:04] #27460 closed

[2019-03-19 10:05] RohitMungi-MSFT commented on #27220
@jeffmartinxyz Please use appropriate roles when accessing the ACR as mentioned above. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 10:05] #27220 closed

[2019-03-19 10:07] jurajgh commented on #23124
the video in the article demostrates the B2B simplified invitation redemption experience on a consumer gmail account. the video was uploaded on 12 Apr 2017. google federation was introduced later at the end of 2018.

are you sure gmail users were always required to create full-blown MSA accounts..?

[2019-03-19 10:16] ChiragMishra-MSFT commented on #26855
@ishepherd Sure we will review and make appropriate changes. Thanks again for bringing this to our notice.

[2019-03-19 10:29] ApekshaKunte commented on #11205
DS11-1_v2 VM instance with vcpu count 1 shows Accelerated Network enabled, but the article states that it is enabled only for vcpu 2 or above

[2019-03-19 10:30] oh54 opened #27500 "Documentation on supported queries"
View Designer does not support [cross-workspace-queries](https://docs.microsoft.com/en-gb/azure/azure-monitor/log-query/cross-workspace-query).

Reading View Designer documentation I was under the impression that any valid log queries can be used and wasted a fair bit of time debugging.

I think it would be nice if View Designer documentation mentioned something about which queries can/can't be us

[2019-03-19 10:36] cingh-jasdeep opened #27501 "No trucks data in Quickstart trial"
I cannot see any truck data in my Quickstart trial.
Therefore, I am unable to follow this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47c53625-1883-8bb2-dabe-8c35d91f6285
* Version Independent ID: e4e7a441-65fc-78ef-8939-f6b04c149553
* Content: [Monitor your IoT devices from an Azure solution tutorial - Az

[2019-03-19 10:42] msrini-MSFT commented on #27498
@ctahok, I did PR and the changes will be reflecting shortly.

[2019-03-19 10:42] #27498 closed

[2019-03-19 10:47] KalyanChanumolu-MSFT commented on #27485
@tonesandtones
On your target database server, create a new database -> Select source -> Choose Backup.
You will be able to choose a backup from databases across servers and will be able to restore it.

Does that help clarify your question?
Please comment and let us know if you need any further clarification.

[2019-03-19 10:49] msrini-MSFT commented on #27380
@cogran , In Active-Active gateway scenario, each instances will get a Public IP address. It is obvious to make use of both the VIPs to form 2 tunnels to meet SLA. But if you still feel like mentioning that in document adds value, I can assign this to author to get it added.

[2019-03-19 11:17] SadiqhAhmed-MSFT commented on #27500
@oh54 Thanks for the feedback! We will have this checked by the content owner for further review and update as appropriate.

[2019-03-19 11:17] jesspent opened #27502 "Azure Powershell Reporting"
Hi Could you please update this with the Azure Powershell Reporting Command please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c695a366-7220-081a-8e04-ab84c6f201b7
* Version Independent ID: bec85559-f35b-d6ff-4ea9-92a3d411d37f
* Content: [Access and usage reports for Azure MFA](https://docs.microsoft.com/en-us/azur

[2019-03-19 11:22] jesspent commented on #27424
i was sent a link to
https://docs.microsoft.com/en-us/powershell/module/Azuread/?view=azureadps-2.0
it wasn't very helpful.

[2019-03-19 11:23] arjantent opened #27503 "Digital Twins Provisionsample error"
Hello,

I have been exploring the digital twin module and have followed the digital twin "Tutorial: Deploy Azure Digital Twins and configure a spatial graph" and "Tutorial: Provision your building and monitor working conditions with Azure Digital Twins".
Up until configuring the digital twin sample there are no problems and all settings are correct. After running the "dotnet run Provision Sample"

[2019-03-19 11:29] sawansharma005 opened #27504 "How to create Read, Write and Update access on Azure cosmos mongodb api?"

[2019-03-19 11:37] kiranjshetty opened #27505 "Log rotation includes folder name change"
I am  importing backup log to Azure log analytics via custom logs and will create alert if it fails ,but log rotation is enabled which will replace folder also,below is example.

/mnt/backupfileshare/tool/flow/0/2018-11-15_0744/azure-backup_file_incr0_2018-11-15_0744_9535.log
/mnt/backupfileshare/tool/flow/0/2018-11-16_0744/azure-backup_file_incr0_2018-11-16_0744_9535.log

here my folders 2018-11-

[2019-03-19 11:37] ManojReddy-MSFT commented on #27490
@gowthamsans The product team is in the process of adding support for additional languages other than the languages supported currently.

If you have requirement for this language specifically, then we recommend creating a feature request [hhttps://feedback.azure.com/forums/169401-azure-active-directory?category_id=160596&filter=top&page=8ere](). This is monitored by product group and they can pri

[2019-03-19 11:37] CHEEKATLAPRADEEP-MSFT commented on #27497
@anssenfang1 Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-03-19 11:39] kiranjshetty opened #27506 "Log rotation includes folder name change"
I am  importing backup log to Azure log analytics via custom logs and will create alert if it fails ,but log rotation is enabled which will replace folder also,below is example.

/mnt/backupfileshare/tool/flow/0/2018-11-15_0744/azure-backup_file_incr0_2018-11-15_0744_9535.log
/mnt/backupfileshare/tool/flow/0/2018-11-16_0744/azure-backup_file_incr0_2018-11-16_0744_9535.log

here my folders 2018-11-

[2019-03-19 11:41] MohitDhingra-MSFT commented on #27475
Hi @rupeshprasad,

I copied the B2CGraphClient.SendGraphGetRequest code in web api get call and I am able to run the  code in my ASP.NET web api sample project. Below is the screenshot.

![image](https://user-images.githubusercontent.com/47346772/54603164-a4e4f280-4a69-11e9-8d2b-99431276a365.png)

Could you please share the error message?

I checked your sample in valuescontroller.cs, I would sugg

[2019-03-19 11:41] sawansharma005 commented on #27504
I have created cosmos mongodb api users and permissions and as it seems we can only have 'all/read' permission mode in the permissions.
But I want to remove delete access from 'all' permission mode i.e. only want to have read, insert and update permission.

[2019-03-19 11:44] jakaruna-MSFT commented on #27385
#21113 same issue

[2019-03-19 11:44] atomek1000 opened #27507 "typo in docs"
SCEMA_ONLY instead of SCHEMA_ONLY

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f7d5bef-b90e-8c79-91af-8c56a9c4f9bf
* Version Independent ID: fec7ae59-69fd-02a4-edd1-24a778365757
* Content: [Azure SQL Database In-Memory technologies](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-in-memory)
* Conten

[2019-03-19 11:46] Nimleth commented on #23653
@nabhishek
Hi Narain, thank you. This wil  suffice.

Rgds,
Dennis

[2019-03-19 11:46] #23653 closed

[2019-03-19 12:03] #27385 closed

[2019-03-19 12:06] githubavi opened #27508 "How to run Function App on different port than default port 80"
Hi, I am able to change the binding port, run & test func app locally by using,
"Host": {
    "LocalHttpPort": 8080
  }
in local.settings.json

How to achieve the same when running from container? I do not want use "docker run -p" command. I have tried to use,
ENV "Host.LocalHttpPort"=8080

in my Dockerfile.. But it is not working.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-03-19 12:11] #27309 closed

[2019-03-19 12:19] shlemonz opened #27509 "Content does not match latest todoitem sample Azure mobile App"
Although this page content helps better understand offline feature of Cordova Azure Mobile App but it's out dated, please check the latest todoitem sample app that you can download from Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b867c9c8-6128-0441-9f68-f66cfa1fd1c6
* Version Independent ID: ef878682-2

[2019-03-19 12:20] shlemonz commented on #27509
sorry meant .. does NOT match ...

[2019-03-19 12:21] thecpshah opened #27510 "Detect Handwritten vs Printed"
Hello!

This tutorial and the one in previous section indicate that it is possible to identify/separate printed text from handwritten text. I tried to change `mode` to `Printed` and `Handwritten` but it detect both printed and handwritten text in an image if it contains both. Please see here https://github.com/Microsoft/Cognitive-Vision-Python/issues/18

---
#### Document Details

⚠ *Do not edit t

[2019-03-19 12:33] PhaLeSha commented on #18063
Hi, have similar issue for one of my Customers, want to add "Microsoft.Network/JoinServicetoaSubnet" to a Custom role but am failing to "find" it when I list provider actions for Microsoft.Network. Please advise/pointers on how to add this action to a Custom role.  PS I am a Subscription Owner.

[2019-03-19 12:39] peterzdovc opened #27511 "Typo on VMware to Azure replication process picture"
There is a typo on a picture 'VMware to Azure replication process'. The red HTPPS should be HTTPS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8b6d0d-22ec-65e3-c21f-6a40fd2f1787
* Version Independent ID: dc284d51-3502-b8f4-5eb6-1473a56b14ca
* Content: [VMware to Azure disaster recovery architecture in Azure Site R

[2019-03-19 13:05] SumanthMarigowda-MSFT commented on #27209
@seguler  Your query has been shared with the content owner for further review.

Just highlighting :If you are using Shared key or SAS token, then just the IP of the specific service endpoint (blob or file) they want to reach out to. (storage accounts can migrate between stamps and the IP address can change over time)

Depends on the nature of workload but if it is simply upload and download, they

[2019-03-19 13:12] gutjahr commented on #27017
@ManojReddy-MSFT  That's a lot more specific. I guess the question is in what scenarios would users hit those endpoints. If we take the example of AutoPilot with AAD join and automatic Intune enrollment, would the 'Microsoft Intune' app be involved?

[2019-03-19 13:13] zavr-1 commented on #27381
@DixitArora-MSFT thanks for your comment, however could you explain more please: firstly, what do you mean "when we build the image"? I build the image myself and upload it to the Dockerhub don't I? Then you say that with Docker, files are deployed under wwwroot folder, but how about other files such as those packages I installed with `apt-get` from Dockerfile -- how do they get deployed? Or to pu

[2019-03-19 13:18] georgiikon opened #27512 "Information on how to modify the syslog daemon"
The "How it works" mentions: "you also modify them in the syslog daemon on the Azure Sentinel agent." around the parameters to use for appliance settings. On appliance side I've made the configurations I want that are non default.

Can the instructions or details for modifying syslog daemon be provided? I need to be able to receive the logs over TLS and port 6514 instead of the default and possibl

[2019-03-19 13:20] TheSoftwareArchitect commented on #27386
Awesome!  None of the issues stopped me, but I can imagine it being hard to follow.
Thank you.

[2019-03-19 13:28] lefrog commented on #27301
Didn't got a chance to try it yet but will most likely. Thank you very much
😊

On Tue, Mar 19, 2019, 00:03 jakaruna-MSFT <notifications@github.com> wrote:

[2019-03-19 13:31] femsulu commented on #26887
Hi @WagoL per [documentation](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/?view=azurermps-6.13.0#monitor), [webtest addition/update ](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/Add-AzureRmWebtestAlertRule?view=azurermps-6.13.0#parameters)is supported but not for 'type = network' required to test against services that don't respond to http/s requests

[2019-03-19 13:31] #26887 closed

[2019-03-19 13:32] Alberto-Vega-MSFT commented on #27327
@Miggov Are you still facing this issue?

[2019-03-19 13:35] Miggov commented on #27327
Colleague got it working at weekend. Seems to be similiar issue or network related, since the wlan I used appears to restrict the traffic. I'll try the serial monitor again when I have time.

[2019-03-19 13:37] Alberto-Vega-MSFT commented on #27422
@jelmerS2 Can you share the error messages you got?

[2019-03-19 13:45] santifdezmunoz opened #27513 "Wrong default file name for downloading logs"
In the How to: Download section, the sentence "This command saves the logs for the app named 'appname' to a file named diagnostics.zip in the current directory." is not correct. The default value of the compressed file when you download the logs is webapp_logs.zip, instead of diagnostics.zip.

For your reference, review az webapp logs download command: https://docs.microsoft.com/en-us/cli/azure/we

[2019-03-19 13:45] gkaleta opened #27514 "Feedback"

[2019-03-19 13:46] Alberto-Vega-MSFT commented on #27327
Thanks for the update @Miggov I am glad you guys got it to work. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-03-19 13:46] #27327 closed

[2019-03-19 13:50] Alberto-Vega-MSFT commented on #27179
@smoms Thanks again for your feedback. Content author addressed your feedback. The pull request with the changes have been merged.

[2019-03-19 13:53] NitroAMD opened #27515 "mount: mount error: could not resolve address for XXXXXX.file.core.windows.net: Unknown error"
On RedHat 7.5, we faced mount issues when the VM was on “Stopped (deallocated)” state:

"Mar 19 11:47:51 TESTVM mount: mount error: could not resolve address for XXXXXX.file.core.windows.net: Unknown error"

Adding "_netdev" helps out, so I suggest, that we add it to the docs:

Create a persistent mount point for the Azure file share with -&gt; Point 5.
bash
sudo bash -c 'echo "//&lt;storage-accou

[2019-03-19 13:54] seandonovancvx opened #27516 "Existing email recipients for alert rules"
Will existing alert rules with 'Email the subscription's owners, contributors and readers' enabled be automatically changed to only the monitoring readers and contributors, or will this change only apply to new alert rules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e0ccdc3-c9cf-81e4-76c7-b2d373465d26
* Version In

[2019-03-19 14:02] femsulu commented on #26871
hi @lesterw1, try  this. query below scans all columns in the datasource/table ='signinlogs' for the string ='Jones'
`search in (signinlogs) "Jones"
| take 100`

More useful details documented  [here](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/search-queries#table-scoping).

[2019-03-19 14:02] femsulu commented on #26871
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-03-19 14:04] #26871 closed

[2019-03-19 14:07] femsulu commented on #27048
assigning to doc-author, @bwren  for further  rereview.

[2019-03-19 14:08] reutann opened #27517 "Missing Role Template IDs"
At least the following are missing from the role template ID table:
* Authentication administrator
* Privileged Authentication administrator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Administrator role d

[2019-03-19 14:10] femsulu commented on #27336
@ravisha22  - any update please?

[2019-03-19 14:21] msangapu commented on #26454
@i3anaan Thank you for the feedback. I am investigating this. I will get back to you this week.

[2019-03-19 14:31] rothja commented on #27478
@femsulu @KeiroKamioka0000 , sorry I do not know what the max limit is on managed disks per subscription. I know that @roygara is investigating the other limits question. Roy, do you have any insight into this limit and whether it is different for managed disks? Let me know if you can help with this git issue as well. Thank you!

[2019-03-19 14:34] OffColour commented on #26360
I'm suggesting that the documentation between those two pages is contradictory or at least puts you in a risky position if you implement what's recommended.

[2019-03-19 14:34] milieuChris commented on #27135
I needed the tip and the subsequent articles about the differences (one in the TOC here, and one linked in the tip that goes to the relevant Cosmos DB section). My first question was what the difference was between the two and those answered this for me.

The tip is framed a bit like an upsell so i understand why the original commenter left the feedback they did. After digging into the products i

[2019-03-19 14:36] cicorias opened #27519 "Update command for Microsoft key and Repository Feed"
can simplify the command under [Register Microsoft key and software repository feed](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux#register-microsoft-key-and-software-repository-feed)  by awk'ing the release from the `/etc/lsb-release` file.
`curl https://packages.microsoft.com/config/ubuntu/$(awk -F= '$1=="DISTRIB_RELEASE" { print $2 ;}' /etc/lsb-release)/prod.list

[2019-03-19 14:38] shashishailaj commented on #27501
@cingh-jasdeep Thank you for your feedback . We will investigate and update this thread.

[2019-03-19 14:39] k3vnj opened #27520 "Does an IP Restriction change restart the App Service?"
When making changes to the IP Restriction does this restart the app service?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c
* Content: [Restrict client IPs - Azure App Service](https://docs.microsoft.com/en-gb/azure/app-

[2019-03-19 14:43] SumanthMarigowda-MSFT commented on #27515
@NitroAMD Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-03-19 14:47] harelbr commented on #27516
The upcoming change will only affect Smart Detection rules. Other alert rules (existing or new) will not be affected by this change.

From: seandonovancvx <notifications@github.com>
Sent: Tuesday, March 19, 2019 15:55
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Harel Broitman <harelbr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Exis

[2019-03-19 14:49] KetanChawda-MSFT commented on #27508
@githubavi Thank you for posting your question. We will review this and provide an update as appropriate.

[2019-03-19 14:52] orspod commented on #27430
@TessFerrandez, thanks for your feedback. I will review and update as needed.

[2019-03-19 14:55] orspod commented on #27428
@juho-hanhimaki, thanks for your question. I will check re: documentation to explain the pricing breakdown, or include information pertaining to factors that influence pricing and update accordingly.

[2019-03-19 14:56] woutervanranst opened #27521 "Update PS Commands"
WARNING: Breaking changes in the cmdlet 'Stop-AzVM' :
WARNING:  - The parameter : 'Name' is changing.
WARNING:        Change description : Name will be removed from the Id parameter set in an upcoming breaking change release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaca4c82-d6f4-7867-d1c4-d1c19ca3c502
* Version

[2019-03-19 14:58] TzviaGT commented on #27428
Cold Storage is based on compressed data in Azure blob

[2019-03-19 15:00] brandonwittwer commented on #23789
This issue remains a problem for us as well.  So here's my +1

[2019-03-19 15:16] NextTurn opened #27522 "Remove unneeded segments from docs.ms links"
Links like `[](https://docs.microsoft.com/...)` are equivalent to `[](/...)`. Which do you prefer?

[2019-03-19 15:20] mihammer opened #27523 "Example with no replication needed"
In the above section "Create an image version", you provide an example that includes replicating to other datacenters. Most people will want to test this out by keeping it as simple as possible. While your example would be "best case", it would be good to include an example that creates an image version with the one image in its current datacenter.
Thanks!

---
#### Document Details

⚠ *Do not edi

[2019-03-19 15:22] rs38 commented on #14041
same here: only with the the option `-datafileDestination /u01/data´ it works

[2019-03-19 15:23] rs38 commented on #24910
@jakaruna-MSFT  same here: only with the the option `-datafileDestination /u01/data´ it works
see error message details: https://github.com/MicrosoftDocs/azure-docs/issues/14041

[2019-03-19 15:27] shashishailaj commented on #27208
@nkwolf  For the application use case where you would like to support both Azure AD and Personal accounts , the best option would be Azure AD B2C because you can add custom identity provider there along with Azure AD .

As for your second question we will engage the authors to get this reviewed . Thank you for pointing this out .

[2019-03-19 15:27] vikguptaMS opened #27524 "How function app monitor"
Can you please add the information about, how a function monitor that a file has been uploaded.
Where exactly function watch or track this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92f98e4e-7d3a-684a-06e6-e67c1e73ff78
* Version Independent ID: 8b450678-b658-acee-2413-ea4d397030d9
* Content: [Create a function in

[2019-03-19 15:30] shashishailaj commented on #27208
@CelesteDG Could you please review the second query by @nkwolf  . It may need to be updated. Please help get this reviewed by engineering.

`Also "[Use of a single client application](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow#use-of-a-single-application)" lists "id_token" as an authentication method however the [Breaking Changes](https://docs.micro

[2019-03-19 15:30] mgfink commented on #27465
Just to clarify a little more, I'm interested in the "minimum requirements" (ie. role and/or actions) necessary to perform the "Add test" task at the resource group and individual app insights level.

[2019-03-19 15:35] cicorias opened #27525 "cs in returned json is now connectionString"
in latest shell, etc. the return json from show-connection-string is now
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart create an Azure IoT Edge device on Linux](https://docs.microsoft.com/e

[2019-03-19 15:46] sergaz-msft commented on #27519
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-03-19 15:48] cicorias opened #27526 "failure of edge startup"
all steps up through `run-command` work, and `run-command` outputs "success" - however, next step showing systemctl status daemon is failed.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2289383-6ce2-a036-c710-7d1fad6e1700
* Version Independent ID: 3b902941-0876-17c3-3f0b-a4b7f7770531
* Content: [Quickstart c

[2019-03-19 15:57] cicorias commented on #27526
The docs should be clear in that all commands here are run from a Linux Bash shell.

the reason this failed is that the `az vm run-command` was initially run in Windows PowerShell. While the command looks OK from the shell perspective, it fails somehwere in parsing and the SharedAccessKey bits got truncated somewhere.

There is some level of an error message embedded, not clearly, in the message.

[2019-03-19 15:57] CarlRabeler commented on #27507
fixed - https://github.com/MicrosoftDocs/azure-docs-pr/pull/70053

[2019-03-19 15:58] shashishailaj commented on #27502
@jesspent Thank you for your query. We will investigate and update further.

[2019-03-19 16:00] CarlRabeler commented on #27047
@stevestein for awareness and visibility

[2019-03-19 16:00] CarlRabeler commented on #27326
@stevestein for awareness and visibility

[2019-03-19 16:02] sergaz-msft commented on #27313
@smoms like @kgremban [mentioned](https://github.com/MicrosoftDocs/azure-docs/issues/18398#issuecomment-438445747), please vote for the sample request [here](https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/32497981-code-sample-for-identity-translation-pattern).
Last update from Product Group Team:
"A temporary work around is sending the connection strings in the twin of the mod

[2019-03-19 16:03] CarlRabeler commented on #25302
@VanMSFT please investigate

[2019-03-19 16:04] CarlRabeler commented on #26860
@VanMSFT for investigation of the permissions issue and @MashaMSFT for awareness and visibility

[2019-03-19 16:06] mike-urnun-msft commented on #27524
Hi @vikguptaMS Thank you for your feedback! We will review and update as appropriate.

[2019-03-19 16:06] CarlRabeler commented on #26262
@Mike-Ubezzi-MSFT please close as content was updated 13 days ago

[2019-03-19 16:07] AshokPeddakotla-MSFT commented on #27377
@xinshiMSFT  Could you please check this and provide your insights?

[2019-03-19 16:08] AshokPeddakotla-MSFT commented on #27377
@shizn Could you please check this and provide your insights?

[2019-03-19 16:09] CarlRabeler commented on #27485
@MashaMSFT for awareness and visibility

[2019-03-19 16:10] CarlRabeler commented on #27335
content updated - please close
@Mike-Ubezzi-MSFT

[2019-03-19 16:12] david-mcgillicuddy-ovo opened #27534 "Example does not explain how to use a custom X509 cert."
Hi,

The documentation does not explain how to use a custom cert to attest onto the DPS from C.

Using the example cert works fine. You run `dice_device_enrollment`, register the generated cert as an individual enrollment and then run `prov_dev_client_sample` and everything is great.

However it's not at all clear how to use a cert which has already been generated (and so use a group enrollment).

[2019-03-19 16:13] CarlRabeler commented on #27477
@MashaMSFT @anosov1960 please review and update content as needed

[2019-03-19 16:14] CarlRabeler commented on #27479
@MashaMSFT for awareness and visibility

[2019-03-19 16:17] sergaz-msft commented on #27403
Please vote for the following feature request: https://feedback.azure.com/forums/907045-azure-iot-edge/suggestions/34812739-support-x-509-certificates-in-iot-edge-for-raspbia

Can you elaborate more on what exactly from configedge.sh would help your scenario? We can consider adding it's source code on our docs if that helps :).

Thanks!

[2019-03-19 16:19] jelmerS2 commented on #27422
**With mixed reality toolkit or Mixed reality toolkit v2 beta**
- i imported either SDK
- In the menu "mixed reality toolkit" I would press configure
- In the MixedRealityToolkit component that was just created, I pressed "Copy & Customize", to copy the preset
- The result was a constant stream of nullreference errors in the editor, that would not stop.

**With HoloKit**
When building the app for