[2019-09-11 06:40] #38682 closed

[2019-09-11 06:45] SwathiDhanwada-MSFT commented on #38457
Thanks for your feedback. We have updated the document and the change should reflect on the document within 24 hours.  We will now proceed to close this thread. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-09-11 06:45] #38457 closed

[2019-09-11 06:59] KalyanChanumolu-MSFT commented on #38644
Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2019-09-11 07:01] RohitMungi-MSFT commented on #38593
@erhopf It looks like the latest SDK uses kws.table and the KeywordModel change is redundant. Could you please review the request and update the changes as part of the backlog?

@joyceywho Thanks for helping us on this!!

[2019-09-11 07:03] leizhang1984 opened #38685 "Where can I find the SQL MI private IP address"
Hi,

After I created SQL MI in virtual network, I cannot find SQL MI private IP address.
How can i connect SQL MI via private IP address?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee
* Version Independent ID: f083bdda-0c66-af32-0d27-f535e46c96dc
* Content: [Connectivity a

[2019-09-11 07:18] leizhang1984 opened #38686 "Connect Azure SQL MI via Express Route"
Hi,

When I look inot "High-level connectivity architecture" chapter. It mentions "Customer applications can connect to managed instances and can query and update databases inside the virtual network, peered virtual network, or network connected by VPN or Azure ExpressRoute."

Because Azure SQL MI provide host name like:  &lt;mi_name&gt;.&lt;dns_zone&gt;.database.windows.net.
If we don't configure

[2019-09-11 07:22] jjindrich commented on #36838
Yes, I have child device MXChip. Parent is IotHub Edge device.

[2019-09-11 07:24] sachdevaswati commented on #35289
Resolved

[2019-09-11 07:29] #35289 closed

[2019-09-11 07:41] ggailey777 commented on #30592
@nmfisher sorry for the delay getting back to you. This should now be addressed by having two version-specific host.json reference articles. Please reopen this if you are not satisfied with the fix. #please-close

[2019-09-11 07:41] #30592 closed

[2019-09-11 07:41] haiquan commented on #6866
It works for me. Thanks.

[2019-09-11 07:50] navaddins commented on #26580
Recently i created brand new mis and peering azure vnet and mis vnet. i can connect msi from azure vm and create the a/c as well. And then create the storage/container and upload the backup. I only allow to access my storage from azure vm vnet that i installed ssms. i can see my backup file if i use the ps. but i can't restore the db that i upload to storage. i changed storage access to public. st

[2019-09-11 07:50] TiNovTec commented on #36982
@craigktreasure ( but not only )
Thank you for the hints. But I am afraid I can't agree with you!

I see two big problems:
*The code quality of the Spatial Anchor Demo for Unity is sadly not good. At least not for a tutorial / demo. Especially the user interface integration is pretty horrible. One button for all functionality with a dictionary may seem to be elegant to the author but in my opinion

[2019-09-11 07:50] ggailey777 commented on #37423
This issue has been addressed with an updated ARM for the Consumption plan. Please let us know if you still have issues here, and thanks again for reporting the issue. #please-close

[2019-09-11 07:50] #37423 closed

[2019-09-11 07:59] #38670 closed

[2019-09-11 08:01] MickQuinlan commented on #38588
@ManojReddy-MSFT Thanks! Awaiting your feedback

[2019-09-11 08:08] SubhashVasarapu-MSFT commented on #38529
@akshayyadav1122, We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-11 08:08] #38529 closed

[2019-09-11 08:20] neeleshray-msft commented on #38485
@rishtech
RBAC Roles for Azure AD are not in the pipeline any time as of today.

Azure RBAC is an authorization system that provides fine-grained access management to Azure resources.
To manage resources in Azure AD, such as users, groups, and domains, there are the Azure AD Administrator Roles.

[2019-09-11 08:20] #38485 closed

[2019-09-11 08:23] km26577 commented on #38633
Scenario:  we got data files with .data extension in data lake(ADLA) which were ingested using data factory from onprem.  copy activity takes data file and converts into parquet file with no change in filename. This output files are used by ADLA usql script which expects the same name as ingested file.
This was working fine until last week. Now parquet conversion step is appending .parquet to outp

[2019-09-11 08:25] paulhickman-a365 opened #38688 "Using multiple storage accounts"
You mention that a server can only be connected to a single storage sync service but I can find any information in this or any other page on this site about whether it is possible to connect cloud end points from multiple Azure Files storage accounts in different subscriptions but the same tenant to the same storage sync service.

I.e is there any way to get files in subscription A and subscriptio

[2019-09-11 08:43] pdhimate commented on #38536
I found this solution which worked for me.
https://stackoverflow.com/a/57871529

[2019-09-11 08:45] krjensen commented on #30061
How did you solve this issue?

[2019-09-11 08:47] Rufus1123 opened #38690 "Can't migrate or add resources. Select subscription dropdown doesn't list any subscriptions"
While trying to add an Azure resource, or migrate my Luis apps, I can't perform the steps after selecting the tenant name. I have created a new Azure Resource in the Azure portal with both the authoring and runtime, but nothing shows up in the Subscription name dropdown box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-09-11 09:03] woutervanranst opened #38691 "GatewayManager Tag"
Can we leverage the GatewayManager tag as described here https://docs.microsoft.com/en-us/azure/virtual-network/security-overview for the section of "Network security groups on the Application Gateway subnet" on this page to allow the management traffic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 166e6517-9190-c9fc

[2019-09-11 09:03] amkarmak commented on #37674
Hi Rick / Jagadeesh,

Is there any update on this please. I can see the document is still having the old values/steps.

Link:- https://docs.microsoft.com/en-us/azure/virtual-machines/linux/optimization

Regards,
Amit

Amit Karmakar
Microsoft Azure Linux Support
Support Escalation Engineer

Working Hours:
Working Days:
Email:
Manager:

11:30 - 20:30 IST
Tuesday - Saturday
amkarmak@microsoft.com<mai

[2019-09-11 09:06] whaakman opened #38692 "Missing a reference to Az.Blueprints PowerShell Module"
The docs article doesn't explain or point out that the Az.Blueprints module for PowerShell needs to be installed in order to use the examples.

(Install-Module Az.Blueprint)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d2d3dbe-e2a1-05e3-206b-6407fb636731
* Version Independent ID: 01b22695-c120-c5c7-8423-88481b903d67

[2019-09-11 09:18] dotnetpiper commented on #22954
Kindly advise for the same,because i'm also using the developer instance and  confronting same issue (HI User) >Kindly advise for the same because want deliver demo to our client.
Any help will be highly appreciated.

[2019-09-11 09:18] KrishnaG-MSFT commented on #38692
@whaakman Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-11 09:21] souravmishra-msft commented on #38584
@mishakogan, Conditional Access Policies are only used for User Identities as of now. Conditional Access Policies while authenticating Service Principals, is not yet available. As of now the Conditional Access policy only works after a user successfully authenticates with AAD.

Hope this helps. Do let me know, any more queries around this.

[2019-09-11 09:31] blueelvis opened #38693 "Any update on the addition to trusted services?"
Is there any update on this?
"NSG Flow logs is still not fully onboarded. To enable NSG Flow logging, All Networks must be selected as mentioned above."

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb716b8-84da-2f21-2ef6-36a49ae2001f
* Version Independent ID: 8812ded6-3f56-737e-5aef-a33fcb908ba1
* Co

[2019-09-11 09:31] blueelvis commented on #34708
@TravisCragg-MSFT -- Any update on this? Would you be open to me submitting a PR?

[2019-09-11 09:38] msrini-MSFT commented on #38691
@woutervanranst , Thank you for posting your question here.

As of today, you cannot use this.

Can you fine with opening these ports to a service tag that restricts access to the Azure cloud (instead of the internet) ?

[2019-09-11 09:41] CodecsHub commented on #38690
I agree, it cannot migrated and no dropdown after selecting the tenant id

 is this related on what type of subscription we have?

[2019-09-11 09:41] blueelvis commented on #30243
@ColbyTresness @ggailey777 - Will there be any difference in performance if I say do a ZIP deployment using mounting it from a Storage account versus if I upload the ZIP file to `SitePackages` folder? Are there any other limitations or differences which I should expect between both of these?

Please do compare for both between Consumption mode only.

https://github.com/Azure/app-service-announceme

[2019-09-11 09:42] joyceywho opened #38694 "How to add the phrase list into the Speech Device SDK sample app."
I was able to get the Speech Device SDK sample app up running following the steps from https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-devices-sdk-windows-quickstart#. I'd like to integrate the phrase list into the sample app but not sure where to how to do. Anyone who can help or point the light will be highly appreciated.

---
#### Document Details

⚠ *Do not edit

[2019-09-11 09:43] SubhashVasarapu-MSFT commented on #38383
@rocketraman, Appreciate your patience, as you said the virtual IP 168.63.129.16 is only accessible for name resolution inside a VNET. For the name resolution between VMs in different virtual networks, you must go with either,
1.Azure DNS private zone
2.Customer-managed DNS servers (which has been used in the shown figure)
To access the recursive resolve in azure is provided via the virtual IP 168

[2019-09-11 09:43] #38383 closed

[2019-09-11 09:45] konaws opened #38695 "Databases in a premium elastic pool"
If we have a database in a premium elastic pool does it get a read replicate that we can hit without impacting the eDTU's of the premium pool ? This is not clear in the documentation, so can an example of how this works on elastic pools please be provided that goes into detail on how this impacts that model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-09-11 09:46] SubhashVasarapu-MSFT commented on #38693
@blueelvis, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-11 09:48] Rufus1123 commented on #38690
I think it's an issue with the website. In my case, I have 5 tenants, but only one subscription in one of the tenants. If I immediately select the correct tenant, the dropdown shows my subscription. If I first select one of the other tenants, I can no longer get it. The only way is to refresh the page, and select the correct tenant.
The same goes for the luis resource. First make sure it is create

[2019-09-11 09:48] SubhashVasarapu-MSFT commented on #38675
@linuxelf001, We are looking into this query and will update you as soon as possible.

[2019-09-11 09:50] KaiWalter opened #38696 "corrupted links"
in the navigation to this section
- when I click "Useful operators", article "Using functions in Azure Monitor log queries" is displayed
- when I click "Functions", article "Useful operators in Azure Monitor log queries" is displayed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04764af6-a4d5-36c7-c55f-c28cdbb93d41
*

[2019-09-11 09:52] KrishnaG-MSFT commented on #38696
@KaiWalter Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-11 09:54] sahilpnckr123 opened #38697 "Restrict access to application."
We have a situation where abc.com/xyz should be restricted to certain IPs in such a way that abc.com/pqr/123 should be excluded (i.e it should not be restricted).
Can this be achieved by WAF Custom Rules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26c3e97e-759e-c50e-ce05-29dbd91830ab
* Version Independent ID: 28f16

[2019-09-11 09:54] AshokPeddakotla-MSFT commented on #38524
@maneeshmenon Thanks for the feedback. All the cool things you can do with an Arduino can be done with the IoT DevKit. It is targeted for developers to create and prototype IoT projects, using a low-power device, quickly and easily. There are 25 external GPIO pins on the edge connector of the board, allowing you to connect to external sensors and actuators. Please refer [here](https://microsoft.gi

[2019-09-11 10:00] CHEEKATLAPRADEEP-MSFT commented on #38643
@ShubhaVijayasarathy Could you please review further and update the document as appropriate.

[2019-09-11 10:04] sahilpnckr123 commented on #38697
Adding:
abc.com/xyz- this means anything in the domain except for abc.com/pqr/123 should be restricted to certain IPs

[2019-09-11 10:08] javiermarasco opened #38698 "AppSettings returning null when using the azure API in python."
I am trying to retriege the appsettings of my appservices, I am using the API with this:

url = 'https://management.azure.com/' + 'subscriptions/' + subscription + '/resourcegroups/XXXXXXX/providers/' + provider + '/' + providersubitem + '/XXXXXXXXXXXXXXXXXX/config/web'
params = {'api-version': '2016-08-01'}
response = requests.get(url, headers=headers, params=params)
provideritems = json.loads(js

[2019-09-11 10:13] msrini-MSFT commented on #38697
@sahilpnckr123 , Yes this can be achieved.

**Custom rules support using compounding logic to make more advanced rules that address your security needs. For example, (Condition 1 and Condition 2) or Condition 3). This example means that if Condition 1 and Condition 2 are met, or if Condition 3 is met, the WAF should take the action specified in the custom rule.**

You need to create 2 condition. O

[2019-09-11 10:18] sahilpnckr123 commented on #38697
@msrini-MSFT
/xyz can be anything for now i cannot specify /xyz because we may add more webpages later.

[2019-09-11 10:19] ram-msft commented on #38694
@joyceywho Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-11 10:20] RohitMungi-MSFT commented on #38678
@jwatkin Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-11 10:23] RohitMungi-MSFT commented on #38684
@dcbrown16 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-11 10:33] souravmishra-msft commented on #38674
@Roblarson
You can follow the steps mentioned below to download a cert from Azure Key Vault in the following formats: CER, PEM and PFX
Steps to download the pfx file from key vault on http://portal.azure.com
	1. In Azure portal, go to the required keyvault.
	2. Select Certificates and click on the certificate which needs to be downloaded.
	3. You should see a screen with two options 'Download in C

[2019-09-11 10:42] igi79 commented on #13515
@nabhishek - you are ignoring the root couse of this issue - problem is not in passing output from notebook to adf activity on SUCCESS, but on **FAILURE**
Notebook always returns SUCCESS do adf's activity, even exception is raised in notebook.

[2019-09-11 11:04] pazdedav commented on #24808
A follow up question, if I may: one thing is whether it is possible or not to uninstall AzureRM modules, but would you recommend it as a best practice? This step is not listed in the article, so I'm just wondering, if this is better to clean the account from the old modules or not.

For customers utilizing Hybrid Runbook Workers: is my assumption correct that they must install Az modules on the VM

[2019-09-11 11:10] sarah026 opened #38699 "Default encryption"
This page really needs lots of improvements, there is no mention to the default SSE encryption at the storage level which Microsoft applies to its disks. There is no mention why Azure Disk Encryption is highly recommended for security reasons 1 2 and 3... There is no mention how to validate whether you have a managed or unmanaged disk and how to confirm that using powershell or something else. The

[2019-09-11 11:26] bartsokol opened #38700 "Information posted here doesn't match the SDK"
For example, `CosmosContainerSettings.NonePartitionKeyValue` is not available in SDK v3. There is also no actual information on how to migrate non-partitioned container created in SDK v3 to migrated one, or how to read from it using SDK v3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25fbf035-32b1-542a-615f-70d40129

[2019-09-11 11:27] pazdedav commented on #24808
I guess I know the answer for my first question after trying to use **Remove-AzAutomationModule** cmdlet (as subscription owner):
`Remove-AzAutomationModule : {"Message":"The account is unauthorized to create or update a global module."}` :)

[2019-09-11 11:42] sy-huss opened #38702 "Screenshots need updating"
The screenshots need to be updated to reflect the new wizards:
Server: https://raw.githubusercontent.com/sy-huss/globalprojects/master/ms-docs/Server.png

SQL Instance: https://raw.githubusercontent.com/sy-huss/globalprojects/master/ms-docs/SQL%20Data%20Warehouse.png

Sample Data: https://raw.githubusercontent.com/sy-huss/globalprojects/master/ms-docs/Additional%20Settings.png

---
#### Document D

[2019-09-11 11:46] VikasPullagura-MSFT commented on #38699
@sarah026 Thanks for the feedback. I am assigning the issue to doc author for looking into the feedback and updating the document accordingly.

[2019-09-11 11:47] IsaacRoitman commented on #38500
@Marilee-Turscak-MSFT this issue is not related to AAD audit logs or app registration at all.

Please see original issue regarding file changes on Web App services.

[2019-09-11 11:47] ManojReddy-MSFT commented on #38592
@watahani I agree. This is by design and should be documented in our documentation.  I believe we should document this here, as this [doc ](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#remember-multi-factor-authentication)explains about the feature and the current article just talks about how to enable MFA for B2B users.

Let me know your thoughts on

[2019-09-11 11:48] VikasPullagura-MSFT commented on #38699
@cynthn Can you please look into the feedback and add your comments.

[2019-09-11 11:48] Rygorazd commented on #28301
Can we expect any updated on D365F&O please? just now I have customer asking same question and documentation is making everyone very confused.

[2019-09-11 11:50] AshokPeddakotla-MSFT commented on #30016
@jlian Just checking in to see if there is any update on this feedback so that it can be closed.

[2019-09-11 11:50] spierreli commented on #36123
I'm also looking for the promised scripts on behalf of a customer.
Please, provide an update promptly as we are getting very close to the deadline.
Thanks & Regards
Sven

[2019-09-11 11:51] msrini-MSFT commented on #38697
@sahilpnckr123 , You can use Regex if the path is different or dynamic.

[2019-09-11 11:56] mishakogan commented on #38584
@souravmishra-msft - thank you for your answer. When will this functionality be available? How can we track this work? Is there a roadmap for conditional access?

[2019-09-11 12:05] lmicverm commented on #38364
Hi Daniel,

Yes, I have tried it. Problem is the connectionstring which is always parameterized by default, even when it is created dynamically based on other parameters. In the ARM templates you always get an empty securestring as parameter.

I tried using a keyault and storing the connectionstring in the keyvault. This works if all environments use the same keyvault, however, once you try with a

[2019-09-11 12:07] ritmos commented on #38636
More details of the issue:
When browsing login.microsoftonline.com directly instead of the redirection url generated by msal.js I can see the KMSI message https://imgur.com/a/XFG4h4v

[2019-09-11 12:13] tfitzmac commented on #38591
@ndnx - thanks for this feedback. What were you trying to deploy in the template?

[2019-09-11 12:20] woutervanranst commented on #38691
Thanks -- can you clarify what the purpose of the tag is then?

[2019-09-11 12:27] scale-tone opened #38703 "So why is that "App Authentication extension for Visual Studio" so very much missing?"
The link is dead. Can't find that extension in my VS "Extensions and Updates". The "Re-Authenticate" link under current account doesn't exist. Can't get a token via "DeveloperTool=VisualStudio": "Exception for Visual Studio token provider Microsoft.Asal.TokenService.exe : TS003: Error, TS004: Unable to get access token.  'Failed to refresh access token'"

---
#### Document Details

⚠ *Do not edit

[2019-09-11 12:28] dcurwin commented on #38461
I agree with your conclusions here.

[2019-09-11 12:31] KrishnaG-MSFT commented on #38594
Assigning @JnHs for visibility, help and to provide insights.

[2019-09-11 12:41] Karnav123 commented on #20693
@ChiragMishra-MSFT
I followed the same instruction and used the exact same code, but it still gives the following error
Unhandled exception at 0x00007FF907406278 in SAPI.exe: Microsoft C++ exception: std::runtime_error at memory location 0x0000003AA5F6F990. occurred
in the line - auto recognizer = SpeechRecognizer::FromConfig(config);

I am not able to figure out the issue. Please suggest if anybo

[2019-09-11 12:41] mfalkvidd opened #38704 "content-encoding vs HTTP Content-Encoding and content-type vs HTTP Content-Type"
https://github.com/Microsoft/azure-docs/blob/master/articles/iot-hub/iot-hub-devguide-routing-query-syntax.md states the following:

| Property | Type | Description |
| -------- | ---- | ----------- |
| contentType | string | The user specifies the content type of the message. To allow query on the message body, this value should be set application/JSON. |
| contentEncoding | string | The user spe

[2019-09-11 12:44] sochan1 opened #38705 "Mising metrics for Microsoft.Network/expressRouteCircuits"
The following metrics seems to be missing from documentation as they're available in portal.
Arp Availability
BGP Availability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported metrics by

[2019-09-11 12:53] thevman commented on #38652
Thank you Travis

[2019-09-11 12:55] KrishnaG-MSFT commented on #38705
@sochan1 Thanks for the comment. We are actively investigating and will get back to you shortly with an update.

[2019-09-11 12:56] PramodValavala-MSFT commented on #38680
@cpitches Thanks for the feedback! We will review and update accordingly.

[2019-09-11 12:59] AzureSan commented on #17436
I am also facing same issue. Is it fixed in ODBC driver or is there a workaround for the arrays and nested arrays?
ex: In ADF it can be queried in the source of copy data as
"select na.field_name, c.* from collection_name c join na in nested_array"

[2019-09-11 12:59] hisasima opened #38706 "Rewrite set for WebApps with AAD authentication"
If webapps use AAD authentication, the location header of the response will be the following.

---------
Location: https://login.windows.net/123488bf-86f1-41af-91ab-2d7cd011db47/oauth2/authorize?response_type=code+id_token&redirect_uri=https%3A%2F%2Fwebappxxx.azurewebsites.net%2F.auth%2Flogin%2Faad%2Fcallback&client_id=835c00da-0309-443e-ae49-ed8e27ded867&scope=openid+profile+email&response_mode=f

[2019-09-11 12:59] KrishnaG-MSFT commented on #38692
Assigning content owner @DCtheGeek for visibility and document enhancement considerations.

[2019-09-11 13:08] StarkCaptain commented on #38625
Based on the documentation this is only supported for on premise Active Directory groups. Most of the time you are using group claims the display name of the group is preferred for SAML claims. Applications generally use this as a mapping to roles or other security controls. Using the GID is not the most friendly experience.

[2019-09-11 13:13] PramodValavala-MSFT commented on #26312
@JonKragh Thanks for the feedback! Feel free to open another issue for tracking this.

@NehaOberoi92 Please feel free to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureapimgmt) / [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-api-management) sharing details on what you have tried and errors if any for better support. This repo is ess

[2019-09-11 13:14] KrishnaG-MSFT commented on #38696
@KaiWalter Great observation! Thanks for bringing this to our notice.
Assigning content owner @bwren for visibility and document enhancement considerations.

[2019-09-11 13:20] JBWCowling opened #38707 "Inconsistent Naming and usage of App Password"
If the recommendation is to use one App Password per device, rather than per App,

a) The name is misleading!
b) The example in this document shouldn't call the password "Outlook 2010" but "Laptop Apps" or something...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713c469-83c5-e98b-a18b-2eff0df2a992
* Version Indepen

[2019-09-11 13:24] CeciAc opened #38708 "Is this section still relevant?"
@MagTer commented on [Wed Sep 11 2019](https://github.com/MicrosoftDocs/azure-docs.sv-se/issues/444)

Azure file shares do not currently support Kerberos authentication with your Active Directory (AD) or Azure Active Directory (AAD) identity, although this is a feature we are working on. Instead, you must access your Azure file share with the storage account key for the storage account containing

[2019-09-11 13:24] CeciAc commented on #38708
Hi team,
I moving this here because it refers to the original documentation
best regards

[2019-09-11 13:27] KrishnaG-MSFT commented on #38705
Assigning content owner @anirudhcavale for visibility, review and document enhancement considerations.

[2019-09-11 13:33] AshokPeddakotla-MSFT commented on #38704
@mfalkvidd Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-11 13:46] sgdesmet commented on #32185
Hello @mmacy `userIdentities` is indeed mentioned, but of type `alternativeSecurityIdCollection`. The [account linking example](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/account-linking) on the other hand instead uses `userIdentities` of type `userIdentityCollection` and claims transformations such as `AddItemToUserIdentityCollection` which are not documen

[2019-09-11 13:53] Rufus1123 commented on #38690
I also noticed that the subscription must be listed under "My Subscriptions" in the Cost and Billing blade in the Azure portal. The subscriptions listed under "Other Subscriptions" (i.e. subscriptions you only have  RBAC access to) do not show up in the dropdown menu.

[2019-09-11 14:07] ciaran036 opened #38709 "Adding Application Insights to an Azure Function project via Visual Studio"
This document explains how to add Application Insights to an Azure Function via Azure Portal. I have created a (v1) Azure Function project in Visual Studio. What is the process of adding Application Insights via Visual Studio? I realise I can add the NuGet package but must I then manually set the configuration properties?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-09-11 14:11] mhollismcgill opened #38710 "Expand documentation on Bastion's behavior when connecting to VM"
I haven't seen any detailed documentation on which IP Bastion uses to connect to a VM, and what happens when there are NIC/IP config changes on a VM.  I believe it would be useful to include this documentation.

I have done my own testing and observed the following:
     Bastion will only ever connect via the primary IP address of the primary NIC.  Even if an NSG blocks the primary IP of the prima

[2019-09-11 14:23] KalyanChanumolu-MSFT commented on #38702
@sy-huss Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-11 14:28] BugAgain opened #38711 "Typo"
We have a typo on the *redisSerializerType* listing here:

[...]
if (data == null)6t6
[...]

It will raise an error at compile time, not a bug like me. *Sadly*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8ef72a2-60a8-3320-ba93-a5c17b51d0a2
* Version Independent ID: 36745946-59f3-8a15-aa0a-117f7c1110e7
* Content: [A

[2019-09-11 14:31] #27150 closed

[2019-09-11 14:43] hansenms commented on #38285
#please-close

[2019-09-11 14:43] #38285 closed

[2019-09-11 14:50] LenCardinal commented on #33601
Thanks, Joe,
It looks to me like they are still missing the point. I guess let's wait and see.

[2019-09-11 14:51] DCtheGeek commented on #38692
Great feedback as always @whaakman!  Really appreciate it.  I'll get this fixed. :)

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-09-11 14:56] rocketraman commented on #38383
@SubhashVasarapu-MSFT I believe you misunderstood the point of the issue. The gap in the docs is not related to VMs in different virtual networks. It is related to name resolution between a VPN client and a virtual network.

Exactly my point. In this situation of a VPN client and a virtual network, option 1 *does not* solve the problem. Even with an Azure DNS private zone, name resolution does not

[2019-09-11 14:57] NavtejSaini-MSFT commented on #38685
@leizhang1984 We are checking this and will get back to you.

[2019-09-11 14:58] NavtejSaini-MSFT commented on #38686
@leizhang1984 We are checking this and will get back to you.

[2019-09-11 14:59] NavtejSaini-MSFT commented on #38695
@konaws We are checking this and will get back to you.

[2019-09-11 15:00] NavtejSaini-MSFT commented on #38700
@bartsokol We are checking this and will get back to you.

[2019-09-11 15:01] erhopf commented on #38593
#reassign: @mswellsi

[2019-09-11 15:02] fhschmid opened #38712 "Dashboard configuration is missing"
After creating the solution and I clicked on the go to solution button I got this error:

"This site says...
The dashboard configuration is missing.
Verify the content of webui-config.js."

What went wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8349b90f-e898-67fa-b3ec-b24b19700afa
* Version Independent ID: 93c

[2019-09-11 15:03] NavtejSaini-MSFT commented on #38711
@BugAgain We are checking this and will get back to you.

[2019-09-11 15:03] IsaacRoitman commented on #38500
@MicahMcKittrick-MSFT Can you please reopen / escalate and see the comments above?  This is not resolved.

Thanks!

[2019-09-11 15:05] clarkmac opened #38713 "It is not clear that you can only run a Tumbling window in 15 minute intervals, nothing smaller"
Please clarify that 15 minutes is, in fact,  the smallest increment supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 301444c9-ee60-645b-a5d9-9c8897704b54
* Version Independent ID: b0c9414a-ee16-1cf5-8d04-89f64d001e94
* Content: [Create tumbling window triggers in Azure Data Factory](https://docs.microsoft.com/

[2019-09-11 15:06] Lutando opened #38714 "Installing Azure Monitor Agent prompts GUI interaction"
In relation to this [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows#install-the-agent-using-the-command-line).

I am having pretty much  the same issues as these issues: https://github.com/MicrosoftDocs/azure-docs/issues/34471, https://github.com/MicrosoftDocs/azure-docs/issues/27323, https://github.com/MicrosoftDocs/azure-docs/issues/29171

I have follo

[2019-09-11 15:10] fredrikdaveus commented on #38397
Hi again, I've looked into the logs of the key vault during the appGw creation and it seems like the appGw is trying to run a get operation for the two certificates (as expected) but from a different ip address than the frontend ip given as input to the appGw. As we run the WFA_V2 tier, is it possible that the key vault request is coming from one of the instances acting under a different ip?

[2019-09-11 15:11] phil-w opened #38715 "Invalid request from Postman on token request"
I followed the tutorial and read all the closed feedback here. If I try to get a token without the ?resource= audience specifier, I can get a token but it [correctly] doesn't authorize me for the service I have set up with audience = https://XXX.azurehealthcareapis.com

If I put that query string in there, then irrespective of what value I use, I get invalid_request. That suggests that the resourc

[2019-09-11 15:13] cynthn commented on #38699
@Sarah026 Thanks for the feedback! This doc is currently being rewritten by folks from the ADE team. I've shared the feedback with the writer. In the meantime, there is information about the standard managed disk encryption here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#encryption

I'm going to close this issue for now. Feel free to reopen it or open a

[2019-09-11 15:13] #38699 closed

[2019-09-11 15:16] RohitMungi-MSFT commented on #38490
@jaiswati We hope you are able to run through the steps after using the supported versions of the packages. We will now proceed to close this thread.

[2019-09-11 15:16] #38490 closed

[2019-09-11 15:18] #38692 closed

[2019-09-11 15:19] msrini-MSFT commented on #38691
@woutervanranst , Gateway Manager tags are used by multiple products like VPN gateway, Express Route gateway, Application gateway, etc.

As of today, you cannot use this tag in NSG for Application Gateway and we are aware of this issue and will update the documentation when once this issue is resolved.

[2019-09-11 15:20] markjbrown commented on #38700
As the article states...

"Currently you can create non-partitioned containers by using Azure CLI and Azure Cosmos DB SDKs (.Net, Java, NodeJs) that have a version less than or equal to 2.x."

This can only be done using SDK v2 or az cli. SDK v3 only supports partitioned containers and for new containers, customers are strongly encouraged to only create partitioned containers.

Thanks.

[2019-09-11 15:24] FrankAtHexagon opened #38717 "Confusion about CPU requests and limits and CPU percentage"
In the *Autoscale pods* section, the following is explained:
&gt; If CPU utilization exceeds 50%, the autoscaler increases the pods up to a maximum of 10 instances.

I found this to be very confusing when I was reading it. What does the 50% mean? Does it mean that if more than half of the CPU on a node is being used that the autoscaler increases the number of pods?

After searching on the Kubernet

[2019-09-11 15:28] FrankAtHexagon commented on #38717
Possible wording change: "If average CPU utilization across all pods exceeds 50% of their requested usage, the autoscaler increases the pods up to a maximum of 10 instances."

[2019-09-11 15:29] NicoRun commented on #21369
@iainfoulds : I'm working on building a new AKS cluster and we don't have many spaces for our IP range. Can you :

- Be more precise about why Docker Bridge need so many IP to work ? For me, I undertanstood that it's just for routing data and make communication easier between pods and nodes so it doesn't make sense to give it a full /16...
- Is a /29 range is enough for an AKS ? Some people said i

[2019-09-11 15:30] Karishma-Tiwari-MSFT commented on #38717
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-11 15:31] #38549 closed

[2019-09-11 15:32] NavtejSaini-MSFT commented on #38547
@paramda If you do not have any questions at this point, we will go ahead close the thread. If you have any questions, please get back to us.

[2019-09-11 15:32] #38547 closed

[2019-09-11 15:35] giovannifl commented on #34353
Any update on this topic ?

[2019-09-11 15:36] NavtejSaini-MSFT commented on #38657
@SeanFeldman Yes. Additionally the document shared earlier also says following:
Unlike logical partitions, physical partitions are an internal implementation of the system. You can't control the size, placement, or count of physical partitions, and you can't control the mapping between logical partitions and physical partitions. However, you can control the number of logical partitions and the dis

[2019-09-11 15:37] hansenms commented on #38715
Try to open the Postman Console (https://blog.getpostman.com/2016/08/26/the-postman-console/) and see what the error message is during the authentication. It could be that you have not given your client app access to the appropriate Audience (API), see https://docs.microsoft.com/en-us/azure/healthcare-apis/register-confidential-azure-ad-client-app#api-permissions.

[2019-09-11 15:38] NavtejSaini-MSFT commented on #38536
@test123114 Please check the above links and suggestions and get back to us. or if you don't have any further questions, we will close the thread by EOD.

[2019-09-11 15:38] NavtejSaini-MSFT commented on #38577
@Sanitys If you do not have any questions at this point, we will go ahead close the thread. If you have any questions, please get back to us.

[2019-09-11 15:38] #38577 closed

[2019-09-11 15:42] rishabhsajmera opened #38719 "Sending multiple messages using binding to servicebus via IAsyncCollector<Message>"
Is there a way/sample showing how to send out multiple messages using "Message" datatype instead of string. When I tried doing it via C#, it gave exception (shown below).
I would like to send messages using Message data type so as to be able to populate UserProperties on Message type using which I can have Rules in Azure Servicebus to filter for subscriptions.

Microsoft.Azure.WebJobs.Host.Functio

[2019-09-11 15:43] jakaruna-MSFT commented on #38349
@slime-uk Please add your comments

[2019-09-11 15:44] phil-w commented on #38715
The console is where I see "invalid_request": strictly that means that the request is not well formed, it's a parsing error not an access error. But as above, the syntax I'm using appears to be correct. I've repeated everything at least twice and I'm familiar with the permissions referenced, but can't see anything there.

Is there a log on the Azure end where I can find out why it thinks my reques

[2019-09-11 15:45] RohitMungi-MSFT commented on #38678
@diberry Could you please help to redirect the issue with test pane to the appropriate dev team? It looks like the test pane does not render the tags for HTML.
@jwatkin For the issue with "\n\n" the documentation mentions the markdown format as an example. For HTML you can use the [sample](https://github.com/Azure-Samples/cognitive-services-sample-data-files/blob/master/qna-maker/data-source-forma

[2019-09-11 15:47] phil-w commented on #38715
There are three types of "client" I could register.

It's not clear to me which I need, so I tried all three (it's been a long day). As you mentioned it I assume I need the "confidential ad client", so I'll focus on that. All I can do is pretty much try every permutation of the stuff to type in until I get a sensible error message or some indication of what's wrong.

[2019-09-11 15:51] SwathiDhanwada-MSFT commented on #38461
@dcurwin Thanks for your input.
@jjghali  I would recommend you to navigate [here](https://feedback.azure.com/forums/256299-site-recovery) and share your feedback or suggestions directly with the responsible Azure feature team.
We will now close this issue for now. If there are further questions regarding this matter, please respond and we will gladly continue the discussion.

[2019-09-11 15:51] #38461 closed

[2019-09-11 15:51] BharathNimmala-MSFT commented on #38661
@mrbullwinkle Thank you for helping on this.

@woodske Thanks again for bringing this to our attention. Internal PR has been raised to fix the link and it should live later today. Will go ahead and close the thread for now, however if you have any other feedback please tag us in your reply and will be happy to take the conversation forward. Thank you

[2019-09-11 15:51] #38661 closed

[2019-09-11 15:52] seanmmccormick opened #38720 "The properties files are incorrectly labeled "XML""
Should be Java Properties, or something similar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ef2fe68-7759-ffb3-ffbd-dcca4fed0a47
* Version Independent ID: 445d9ab3-b21c-cba3-664b-b127ebf4ff29
* Content: [Use Apache Kafka MirrorMaker - Azure Event Hubs](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-ka

[2019-09-11 15:53] ran-ten21 opened #38721 "need clarity on billing"
What steps do I need to take to stop the billing for security center?
The screenshots don't match what is on the portal currently.
Do i just need to make sure that the free tier is selected and that in the Data Collection blade to turn OFF automatic provisioning?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75c7f3f6-

[2019-09-11 15:55] TimSBenjamin commented on #22954
There are no public demo environments for this. We will have a repo to build this in your own sub but you will need to connect SNOW using HI creds

[2019-09-11 15:57] IMBhardwaj opened #38722 "Link to SSML Schema and Details of Azure Specific Elements like<mstts:express-as>missing."
Hi, Would be nice to have the link to the SSML Schema.
And also some references of &lt;mstts:express-as&gt; tag which in the document is described as
"With neural voices, you can adjust the speaking style to express cheerfulness, empathy, or sentiment with the &lt;mstts:express-as&gt; element. This is an optional element unique to Azure Speech Services."

---
#### Document Details

⚠ *Do not edit

[2019-09-11 15:58] RohitMungi-MSFT commented on #38684
@dcbrown16 Could you please let us know if you are referring to publishing a QnA webapp bot?
API documentation of QnAMaker is available in the [reference](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamaker/knowledgebase) section of the documentation.
Is the frontend related to the QnAMaker portal UI?

[2019-09-11 15:59] TimSBenjamin commented on #22954
@javiermicrosoft we need to get this into UVOC for prioritization. @harelbr as owner of the connector I believe

[2019-09-11 16:03] hansenms commented on #38715
If you are getting an invalid request directly from AAD, then it is not a problem with client app configuration....there could be one, but we would have to resolve this first. This is not really related to the FHIR service at all, this is just the basics of getting a token. There are a ton of blog posts out there on that.

[2019-09-11 16:10] diberry commented on #38678
@RohitMungi-MSFT @simer99  Please know I forwarded this to the PM - who will verify from the engineering side.

[2019-09-11 16:10] curtand commented on #27150
Hi @slaet
I added the item to the device attribute table. Thanks for the update!

[2019-09-11 16:21] allegradomel commented on #38604
Hi @donchai, VNet peering between regions is supported ([peering capabilities](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-peering-overview)), in which case it is referred to as Global VNet Peering. Peering between agreements - including EA and CSP - is also possible. Although you are connecting different agreements, the concepts in https://github.com/MicrosoftDocs/azure

[2019-09-11 16:21] erhopf commented on #38722
@IMBhardwaj - We'll work on getting you a link to the schema. In the meantime, can you clarify what you mean by references of `<mstts:express-as>`. As I see it in the doc, it shows the syntax and an example. Thanks!

[2019-09-11 16:21] XiaoyuMSFT commented on #38702
@kalyanchanumolu-msft I am not the author of this article.  please work with Kevin Ngo <kevin@microsoft.com> on updating it.  Thanks.

[2019-09-11 16:30] dmarlow commented on #38503
I don't see that screen. Is that only available for PAYG? I'm on an EA. I only see a subscription name and it says "Active". When I click on it, it takes me to the portal.azure.com subscription page.

[2019-09-11 16:37] cawrites commented on #37785
@MarcCharmois what I discovered is that permission gets set by default. I did the set up twice and it appears, that is why it was included in the screenshot.

[2019-09-11 16:41] phil-w commented on #38715
I was assuming that the tutorial on this page covers the "basics of getting a token".

I can trivially get a token - I just replace <audience> below with my Resource Application ID and a token with aud set to that comes back. But that token doesn't authenticate with the /Patient end point (401). If I replace <audience> with https://ABC.azurehealthcareapis.com/ where that is the same as my "audienc

[2019-09-11 16:41] SaurabhSharma-MSFT commented on #38714
@Lutando Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 16:47] curtand commented on #33940
Hi @Oechiih
I don't know the answer to this, so I have to investigate. The roles PM is out of the office on paternity leave, so I put this in my work item backlog and will continue to pursue. ETA is still TBD. Thanks for the update!
https://identitydivision.visualstudio.com/Technical%20Content/_workitems/edit/810551

[2019-09-11 16:49] SaurabhSharma-MSFT commented on #38698
@javiermarasco To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-11 16:49] hansenms commented on #38715
It does cover the basics of getting a token, I was trying to make the point that it is not unique to our service.

Could you post here the exact authorize URL you are using with the tenant-id and the service name redacted.

[2019-09-11 16:50] CyberNemesis opened #38725 "Resource Group for VNet-Spoke"
The RG for VNet-Spoke is listed as "Test-FW-RG".  I believe it should be "FW-Hybrid-Test"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b54e37aa-a45b-989e-5adf-e0f2212815f4
* Version Independent ID: a957e018-937f-204d-f1f2-a0d094a49c20
* Content: [Tutorial: Deploy and configure Azure Firewall in a hybrid network using

[2019-09-11 16:53] MarileeTurscak-MSFT commented on #38703
@scale-tone
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 16:56] Adam-Smith-MSFT commented on #38688
@paulhickman-a365 an Azure file share can be a member of only one cloud endpoint, hence, having multiple Subscription replicated to the same server is not currently supported. @roygara  Can you confirm if this is correct ?

[2019-09-11 16:57] derek1ee commented on #36123
The script can be found at: https://github.com/Azure/logicapps/tree/master/scripts/scheduler-migration

Since everyone's use case is different, please use these scripts as a starting point and modify to fit your need.

Thanks,
Derek

[2019-09-11 17:00] RyanHill-MSFT commented on #38336
We will now proceed to close this thread @Ben67366 . If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-11 17:00] #38336 closed

[2019-09-11 17:05] tchristiani commented on #38462
This is default behavior for the docs.microsoft.com platform. You can right click and open in a new page or window but this is a platform issue not an issue specific to this doc set. It would be better if you closed this issue and opened a new issue https://github.com/MicrosoftDocs/feedback/issues

#please-close

[2019-09-11 17:05] #38462 closed

[2019-09-11 17:07] TiloGit opened #38727 "caught in PW reset loop"
I just enabled: Baseline policy: End user protection (Preview)
(already had Baseline policy: Require MFA for admin)

Got caught in force PW reset loop. I change my PW (on premise as we have ADSync)
But still get prompted again:

When I try online I get:

Seems like dismissing all Risky sign in events (from another person with Global Admin) got me out of the loop.
https://portal.azure.com/#blade/Mi

[2019-09-11 17:07] phil-w commented on #38715
Understood - I'm looking at other OO2.0 test tools to see if I can work it from that. The text on invalid_request is clear, but I can't see the actual generated HTTP request from Postman (even in their console) so that doesn't help. I'm sure I missed something..

https://login.microsoftonline.com/YYYY/oauth2/authorize?resource=https://ZZZ.azurehealthcareapis.com

The URL there with the YYYY comes

[2019-09-11 17:10] hansenms commented on #38715
Are you sure that the URL https://ZZZ.azurehealthcareapis.com refers to an existing AAD resource application? Can you request access instead to just https//azurehealthcareapis.com, does that work?

[2019-09-11 17:13] ggailey777 commented on #32962
#reassign:craigshoemaker

[2019-09-11 17:16] serlapoi opened #38728 "ApplicationMonitoringWindows observations"
I successfully installed the AVMSS Extension Windows 2016 Scale Sets.
I had previously installed the "Application insights Status Monitor" application thru the Web Platform Installer and configured thru the installation wizard on site.
Before installing the ApplicationMonitoringWindows extension, I removed the preconfigured site from the Application Insights Monitor application.
Then I ran the Pow

[2019-09-11 17:17] slime-uk commented on #38349
So we have tried the manual upgrade and from an Azure automation runbook are trying to check each VM health monitor. The runbook can now not do a Test-NetConnection <instance ip v4> -Port 1312. Each VM has got the windows firewall disabled and the service on that port is working as the health extension can figure out if the VM is healthy or not by using the same port (it’s just that the health ext

[2019-09-11 17:18] mmacy commented on #38653
@valnav @shashishailaj This is not yet available in all portal regions. When it reaches 100% roll-out, I will publish the article. For now, we can close this issue as the information has been gathered and the article update is pending.

#please-close

[2019-09-11 17:18] #38653 closed

[2019-09-11 17:19] tchristiani commented on #38555
Please reassign to @erhopf for now.

[2019-09-11 17:21] rwike77 commented on #38172
@hpsin, any updates?  Thanks.

[2019-09-11 17:32] mike-urnun-msft commented on #38719
Hi @rishabhsajmera - Thank you for your feedback! We will review and update as appropriate.

[2019-09-11 17:35] mike-urnun-msft commented on #38397
cc: @solankisamir @vladvino

[2019-09-11 17:35] artisticcheese opened #38729 "Rest UI missing both method as well as pagination"
UI used to have option to specify HTTP method and pagination but list is empty currently. See below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9da1816-3f64-bd45-443f-5bdb48bacc24
* Version Independent ID: e649f787-62da-fc97-2e9a-ba89765beed4
* Content: [Copy data from a REST source by using Azure Data Factory](ht

[2019-09-11 17:36] SaurabhSharma-MSFT commented on #38707
@JBWCowling Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-11 17:38] Adam-Smith-MSFT commented on #38708
@MagTer Thank you for the valuable feedback,we are investigating the issue.

[2019-09-11 17:38] cawrites commented on #37946
#please-close

[2019-09-11 17:38] #37946 closed

[2019-09-11 17:42] mumian commented on #38591
@ndnx - verify the Azure resources that you deploy are registered.  Here is the procedure:
1. Open the Azure portal.
2. Select **Subscription** from the left menu.
3. Select the Azure subscription that you use to deploy the template.
4. Select **Resource providers**.
5. Verify the resources that you try to create are registered.  Based on the error you are getting, it is likely that you need to re

[2019-09-11 17:45] Mike-Ubezzi-MSFT commented on #38296
@DevGuy80 Screen captures did not display. Can you send them to me, and I will post them if you are having issues. Please click on this link to send to [AzCommunity](mailto:azcommunity@microsoft.com).

[2019-09-11 17:48] Karishma-Tiwari-MSFT commented on #38442
@jaymins93 Is there any update?

[2019-09-11 17:50] cawrites commented on #38077
@PiKappZ746 we are constantly working on ways to  improve our content. Please check with us again if you have any questions in future.

[2019-09-11 17:50] NavtejSaini-MSFT commented on #38702
@kevinvngo Can you please check this and update accordingly.

[2019-09-11 17:50] cawrites commented on #38077
#please-close

[2019-09-11 17:50] #38077 closed

[2019-09-11 17:50] JeremyWard33 opened #38730 "Getting redirectUri error using this Quickstart"
Please see the issue and resolution here:  https://stackoverflow.com/questions/57894239/resolve-redirecturi-error-using-msal-javascript-single-page-application-spa-qu/57894348#57894348

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a

[2019-09-11 17:52] poundingCode opened #38731 "Instructions clarification"
There are no instructions on how to save/close the fstab file after: "Next, open the /etc/fstab file in a text editor as follows"
FWIW:
 When done, save the fstab file with CTRL + O, then reboot your PC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fde1939-787d-2aa5-4b29-d303f8ed49cb
* Version Independent ID: c2838c

[2019-09-11 17:53] Karishma-Tiwari-MSFT commented on #38171
@mayanknayar Did you get a chance to take a look at the customer's question. Need your help with the confirmation. Thanks. :)

[2019-09-11 17:53] SaurabhSharma-MSFT commented on #38721
@ran-ten21 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 17:55] sam90909 opened #38732 "Email notifications not working for multiple users in different subscriptions. Is webhooks mandatory for the email notifications to work?"
This line confuses us. "This article shows you how set up triggers so that you can call specific web URLs or send emails based on autoscale actions in Azure." Where as the support thinks the web hooks are necessary for the emails to work. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49d43b0a-97c

[2019-09-11 17:55] LuisCabrer commented on #38557
Unfortunately, you cannot query bing based on the bing Id today.
That said, I have passed the feedback to the bing team.

[2019-09-11 17:58] diberry commented on #38690
@CodecsHub @Rufus1123 Thank you for letting us know about this issue. This has been reported to the service team.

[2019-09-11 17:59] mayanknayar commented on #38171
The platform fault domain count will default to 5, whenever a value has not been specified. It is possible that CLI is not showing the count as a return response, but the count would have been set. Please check with a GET on the VMSS.

[2019-09-11 17:59] Rraghun commented on #10237
any update on this failure?

[2019-09-11 18:01] simer99 commented on #38678
@Jwatkin The test pane in QnA Maker does not emulate the behavior of webchat for \n. on our list now. Will get it fixed.

[2019-09-11 18:03] FrankHu-MSFT commented on #38730
Hello @JeremyWard33 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 18:04] FrankHu-MSFT commented on #38727
Hello @TiloGit Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 18:08] ggilman42 opened #38733 "Missing "View Settings" option"
In step 3 under "App configuration and management" it says "right-click the app node and click View Settings", but I don't see this option. Any clues what's wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0065e05e-1e7e-20aa-badb-dfe2d297ddd2
* Version Independent ID: aab0065a-72ef-b6ea-5ac1-d85e96e9e099
* Content

[2019-09-11 18:08] cynthn commented on #15575
@jtuliani Sorry this has taken so long. I got an answer about Zones and I'll be adding this into the maintenance overview docs. Here is what I was told:

Each infrastructure update rolls out zone by zone, within a single region. But, you can have deployment A going on in Zone 1, and deployment B going in Zone 2, at the same time. We do not serialize all deployments. But, a single deployment only r

[2019-09-11 18:08] #15575 closed

[2019-09-11 18:11] YutongTie-MSFT commented on #38494
@diberry  Hi Dina, could you please check this issue and update the document if necessary? Thanks.

[2019-09-11 18:12] Karishma-Tiwari-MSFT commented on #38731
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-11 18:13] Mike-Ubezzi-MSFT commented on #38296
I am experiencing the following issue:
The script is unable to find my resource group and it is wanting to move a DNS alias from SQL Server 1 to SQL Server 2. Why?
![Screenshot (234)](https://user-images.githubusercontent.com/37126106/64723349-3b2c2b00-d485-11e9-8d03-881016971118.png)

[2019-09-11 18:17] prabansa commented on #38494
Thanks for the feedback! Please refer to the following link to know how to share existing services with QnA Maker - https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/set-up-qnamaker-service-azure#share-existing-services-with-qna-maker
Hope that helps.

[2019-09-11 18:21] Mike-Ubezzi-MSFT commented on #38296
@DevGuy80 I am experiencing a differant issue but do want to have your screen captures added to this issue to have that information available. I am going to assign this to the content author and have this documentation updated.

[2019-09-11 18:22] #38713 closed

[2019-09-11 18:27] diberry commented on #38496
#in-progress

[2019-09-11 18:34] dinesarun opened #38735 "Value for root certificate"
As all the resources I am creating as new and I don't have any resources like certificate file, I am not sure what should I enter as value for the "$rootCert"
$rootCert = Read-Host "What is the file path to the root certificate? It is used to secure the VPN gateway."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b7e

[2019-09-11 18:40] YutongTie-MSFT commented on #37368
@ahaeber
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-11 18:40] #37368 closed

[2019-09-11 18:42] TravisCragg-MSFT commented on #38652
@thevman we are in the process of re-writing the documentation on P2S Connections with Azure Wan, along with changing some of the functionality. We removed the current docs on P2S with Azure WAN until this is complete.

[2019-09-11 18:44] MarileeTurscak-MSFT commented on #38615
Since the document provides this rationale, we will proceed to close this thread.

Feel free to open a new issue if there's anything else you think should be added.

[2019-09-11 18:44] #38615 closed

[2019-09-11 18:46] SychevIgor commented on #38494
@prabansa thank you an answer. questions was "Could you explicitly specify it?" in a documentation.
Maybe you can add a reference with a provided link. I know that I can't use 1 azure search for multiple qnamaker accounts, but failed to find an official proof (nobody trust to people, but almost all trust to documentation)

[2019-09-11 18:49] YutongTie-MSFT commented on #38494
@SychevIgor I will update the document, thanks again. ^^

@prabansa Thanks.

@diberry Hi Dina, I will reassign this to myself and update the document. Please review it when you get a chance.

[2019-09-11 18:51] TravisCragg-MSFT commented on #34708
@blueelvis it looks like this limit is listed [Here](https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-portal#enable-nsg-flow-log) in #3, it is just not in a note.

For your 2nd question, do you mean that they have to be in the same resource group?

[2019-09-11 18:53] MarileeTurscak-MSFT commented on #24081
I made a pull request to add this to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/88137

[2019-09-11 18:53] #24081 closed

[2019-09-11 18:55] tchristiani commented on #38254
The document has been updated.
#please-close

[2019-09-11 18:55] #38254 closed

[2019-09-11 18:56] SaurabhSharma-MSFT commented on #38721
@ran-ten21 Yes, you can change pricing tier by going to Security Center > Pricing & Settings > Select your subscription and then you can change from Standard to Free on the next page as shown below.
![image](https://user-images.githubusercontent.com/38112130/64725829-39b13180-d48a-11e9-890d-82a2411863c1.png).
If you want you can keep the data collection ON as long as you are using the option **"Us

[2019-09-11 18:56] TravisCragg-MSFT commented on #37452
@andriysavin unfortunately I cannot confirm a timetable for the release of the preview at this time.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-11 18:56] #37452 closed

[2019-09-11 19:00] MarileeTurscak-MSFT commented on #29141
I made a pull request to add this. Feel free to open your own pull request if you believe that this should be different. https://github.com/MicrosoftDocs/azure-docs-pr/pull/88138

[2019-09-11 19:00] #29141 closed

[2019-09-11 19:03] yvesgermain opened #38737 "Type SecureString is missing in your example"
"adminPassword": {
            "reference": {
              "keyVault": {
                "id": "/subscriptions/&lt;subscription-id&gt;/resourceGroups/&lt;rg-name&gt;/providers/Microsoft.KeyVault/vaults/&lt;vault-name&gt;"
              },
              "secretName": "ExamplePassword"
            }
        "type: "securestring"
        },

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-11 19:07] ran-ten21 commented on #38721
I'm still seeing billing in my power BI report from security center.
What steps do I need to take to make sure Security Center is not charging me for anything?
The documentation is not real clear on this.

[2019-09-11 19:11] cawrites commented on #38122
@chino0913 we appreciate your input; we're constantly working on ways to improve our content. We understand the need to have relevant information regarding error codes. Our team is aware this is a priority and we have noted your request. Please follow-up with this content in the coming weeks to see the [changes](https://docs.microsoft.com/azure/active-directory/fundamentals/whats-new) as they are

[2019-09-11 19:12] rbrundritt commented on #38422
Thank you for the feedback... on the feedback tool. This is a new tool with a limited set of functionality, much more planned.

In terms of #2, I believe the issue there is that many locations have more than one coordinate, such as a display coordinate and a routable coordinate. This explains the difference. I can understand the need to adjust these individually, or together depending on the type

[2019-09-11 19:13] MicahMcKittrick-MSFT commented on #38677
@MedAnd I have assigned the issue to the content author to review and see if we can make this doc more clear.

CC @peterpogorski

[2019-09-11 19:13] MicahMcKittrick-MSFT commented on #38651
I will go ahead and close this out but if you have further feedback just let me know and we can reopen and continue the discussion.

[2019-09-11 19:15] MicahMcKittrick-MSFT commented on #38357
Adding @peterpogorski as well

[2019-09-11 19:15] MicahMcKittrick-MSFT commented on #38373
adding @peterpogorski as well

[2019-09-11 19:17] cawrites commented on #38122
#please-close

[2019-09-11 19:17] #38122 closed

[2019-09-11 19:19] MashaMSFT commented on #30757
Hi @alvintai78 , thank you for contacting Microsoft and my apologies for the delay in response. Please allow me some time to look into this for you.

Thanks!
Masha from the SQL Docs team

[2019-09-11 19:20] cynthn commented on #7708
@larryms I agree that there is no reason to use root. I'm going to file PR to update the doc, since the owner hasn't responded.

Thanks again for the feedback! Sorry that it has taken so long to get resolved :(

#please-close

[2019-09-11 19:20] #7708 closed

[2019-09-11 19:20] MashaMSFT commented on #36994
Hi @claireemmabrydon , thank you for contacting Microsoft! You're right, this may be a good place to mention availability zones. Please allow me some time to research the best approach in adding this information.

Thanks!
Masha from the SQL Docs team

[2019-09-11 19:21] MashaMSFT commented on #28745
Hi @omninose, thank you for patience as we continue looking into this, and I apologize for the delay. I'm still investigating this.

Thanks!
Masha from the SQL Docs team

[2019-09-11 19:22] khaled99b commented on #38651
Yes there is an error message when you skip the / at the end of the command

[2019-09-11 19:24] Infinitism commented on #26406
Just to clarify, does Service Bus topics not support long polling to instantly get messages as they are posted to the topic? Much like service bus queues that support long polling?

Or can you clarify if long polling means the subscribers get instantly notified of messages instead of them making manual calls?

[2019-09-11 19:24] jsiemensLatitudegeo opened #38739 "Cannot find settings for 'Invitations have been disabled for directory'"
The documentation does not describe where to find the settings for 'Invitations have been disabled for directory'.

The documentation states that these settings can be found under 'User Settings', but that's not very descriptive. I've looked everywhere for these settings and cannot find them. Is it that I don't have permission to see the settings, I'm looking in the wrong spot, or the UI has chang

[2019-09-11 19:26] poundingCode commented on #38731
Thanks for the article. - a big help.

On Wed, Sep 11, 2019 at 2:12 PM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2019-09-11 19:26] TravisCragg-MSFT commented on #32568
@aquibqureshi26

1. As is discussed in the [Asymmetric Routing section](https://docs.microsoft.com/en-us/azure/firewall/integrate-lb#asymmetric-routing), If the traffic enters via the FWs Public IP but leaves via the Private IP, the traffic will be blocked by the FW.

2. I believe you are correct. This should only happen for return traffic of inbound flows.

3. I see no reason why this should fail

[2019-09-11 19:31] SeanFeldman commented on #38657
Thank you @NavtejSaini-MSFT. Especially for the patience, you've demonstrated. Kudos/.

[2019-09-11 19:31] MicahMcKittrick-MSFT commented on #38651
Are you using Cloud shell or local CLI? Just so I can test and confirm

[2019-09-11 19:34] tfitzmac commented on #38737
@yvesgermain - the parameter file only contains values, not types. The type is set in the template.

[2019-09-11 19:47] YutongTie-MSFT commented on #38494
@SychevIgor Thank you for your feedback again, I have created a PR to fix it. After Dina's reviewing, we will make it alive.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-11 19:47] #38494 closed

[2019-09-11 19:49] Karishma-Tiwari-MSFT commented on #30743
Clsoing this issue as the PR has been merged. https://github.com/Azure/azure-docs-powershell-samples/pull/238

[2019-09-11 19:49] #30743 closed

[2019-09-11 19:50] Infinitism opened #38740 "Long polling in Service Bus topics?"
Hi,

Could you clarify if SB supports long polling with topics the same way it does with queues? That way clients subscribing to topics are not manually polling the topic for new messages.

The doc is hosted here: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dotnet-how-to-use-topics-subscriptions

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-09-11 19:53] bharathreddy123456 commented on #38621
We already have this   scheme="https" proxyName="<subdomain.domain.com>" proxyPort="<proxy_port>" secure="true" on server.xml on connector port as proxyName="subdomain.domain.com" proxyPort="443" scheme="https". Do we still need to add this on server.xml or we can continue installing the app ?

Thanks,
Bharath
________________________________
From: Bharath Seelam <seelambharath@hotmail.com>
Sent:

[2019-09-11 19:53] DeanGross commented on #38615
@MarileeTurscak-MSFT , I'm just trying to figure out why someone would want to allow external users that are risky to access there systems. This seems like a really bad idea to me, I'm thinking that I would always want to force them to get remediated in their home directory, and I'm curious about the scenarios in which it would be ok to let them in.

[2019-09-11 19:58] mswellsi commented on #38602
All devices shown on that page are expected this year.

[2019-09-11 20:03] KranthiPakala-MSFT commented on #38735
@dinesarun Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2019-09-11 20:04] RikardStrand opened #38741 "Azure AD Free"
With the retirement of Azure AD Basic license what Azure AD license requirements are needed now to use a gallery app and user provisioning? Can I use Azure AD Free to provision users to my application with using assignment based on groups ?

This is very unclear in the new overview (and previously a Azure AD Basic license was required to do provisioning based on group membership).

Link to current

[2019-09-11 20:05] KranthiPakala-MSFT commented on #38729
@artisticcheese Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-09-11 20:06] jk4472 opened #38742 "Azure/AWS provisioning and SSO - Help!"
Hi, not too familiar with Azure or AWS to be honest. Followed each step to the letter, (now three times - used AWS and this guide) - I keep getting the message:
Amazon Web Services Sign In
Your request included an invalid SAML response. To logout, click here (this is when you go to your Azure portal and click on the AWS app)

Should the above provisioning create the users in AWS to enable SSO? Or

[2019-09-11 20:10] KranthiPakala-MSFT commented on #38720
@seanmmccormick Thank you for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-09-11 20:10] yamiyysu commented on #38591
I ran into the same error message when using ARM template to create a vnet. I've checked that the registration and Microsoft.Network is registered. Based on the following document, the error code SubscriptionNotRegistered is not used when a resource provider is not registered for a subscription.  https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-register-provider-error

[2019-09-11 20:12] DevGuy80 commented on #38296
Attached in a different manner. Let me know if these work.

Ryan

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mike Ubezzi <notifications@github.com>
Sent: Wednesday, September 11, 2019 2:21:38 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: DevGuy80 <rmmoore80@outlook.com>; Mention <mention@noreply.github

[2019-09-11 20:12] femsulu commented on #38732
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-11 20:15] jeevansd commented on #38742
@jk4472 Thanks for providing the scenario  here. Can you please make sure that Role and RoleSessionName claims are added in your app in Azure AD? Also make sure that you add the namespace as we have provided in the doc.

[2019-09-11 20:16] jeevansd commented on #38742
@chetansriv for tracking this.

[2019-09-11 20:17] sam90909 commented on #38732
Hi @femsulu Thanks for responding. I will be waiting for the response.

[2019-09-11 20:17] eross-msft commented on #38707
@JBWCowling  Thank you for catching this, I can definitely see the confusion. To remedy this, I'm removing the bullet about the device (third bullet point) and updating the first bullet to be more clear. The recommended process is to create a single app password per app, which is what the title and the procedure text go on to show. The updated text should show up later this afternoon with our afte

[2019-09-11 20:17] #38707 closed

[2019-09-11 20:19] MicrosoftGuyJFlo commented on #38612
@Shanec1928 this is not true for all directories. The Security page is not rolled out to all users. When it does roll out fully we will update.

[2019-09-11 20:19] MicrosoftGuyJFlo commented on #38612
#please-close

[2019-09-11 20:19] #38612 closed

[2019-09-11 20:20] KranthiPakala-MSFT commented on #38633
@km26577 Sorry you are experiencing this. This is due to recent enhancement for Copy activity behavior change by ADF product team. Previously a Copy to parquet format generate the file name as ".csv", this is not the correct behavior. The new enhancement which was released last week targets to fix this behavior. Generating ".parquet" file for parquet format should be the right behavior.

Please re

[2019-09-11 20:20] jeevansd commented on #38621
@bharathreddy123456 You dont need to do this if you are not using Proxy servers. That means if the server is not enabled with Https and if you are using reverse proxy solution for this then you need to perform this step 4 here otherwise not.

So please try installing the plugin directly and see all the values are populating correctly or not. If not then you have to tweak the server.xml URL otherwi

[2019-09-11 20:21] MicrosoftGuyJFlo commented on #38584
We are not able to share dates for new features or functionality.

[2019-09-11 20:21] MicrosoftGuyJFlo commented on #38584
#please-close

[2019-09-11 20:21] #38584 closed

[2019-09-11 20:21] ArvindHarinder1 commented on #37111
Yes it is possible to specify the OU that a user will end up in. In your attribute mapping select OU as a target attribute. And then you can provision the OU over either by directly mapping an attribute on the user to the respective OU or by creating groups per OU and assigning the users to the appropriate group.

[2019-09-11 20:22] ArvindHarinder1 commented on #37111
@zchia  can we make a doc update around this scenario as we are seeing support cases for it?

[2019-09-11 20:23] Jun711 opened #38743 "Phoneme ph attribute value character encoding"
Can Character encoding for ph value be specified? I wonder if the value has to be HTML Hex entity encoding?

[code]

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aae85d9f-b4f4-fc4d-cb0f-0fc4a1d4e7c9
* Version Independent ID: dbd55a99-dbde-a3f3-47a5-ded8309e2748
* Content: [Speech Synthesis Markup Language

[2019-09-11 20:27] jeevansd commented on #38742
@jk4472 Sessionname should be the value like 43200 and not the whole sentence. So can you please correct that?

[2019-09-11 20:28] jeevansd commented on #37111
@ArvindHarinder1 Lets connect internally and then we will get that done.

[2019-09-11 20:30] basilwong opened #38744 "Does not contain Data Factory"
This page doesn't contain a comparison between Data Factory in Azure Government and Data Factory in Global Azure.

It would be awesome to have this document specify the differences between the products. For example Azure Government Data Factory V2 does not have event based triggers in the UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-09-11 20:33] TravisCragg-MSFT commented on #38706
@hisasima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-11 20:38] MarileeTurscak-MSFT commented on #38727
@TiloGit I have reached out to someone on the product group to confirm if this is a known issue. I have seen others reporting something similar.

[2019-09-11 20:38] spelluru commented on #34489
#assign:ShubhaVijayasarathy

[2019-09-11 20:38] PRMerger15 commented on #34489
ShubhaVijayasarathy is already assigned.

[2019-09-11 20:45] Adam-Smith-MSFT commented on #38708
@MagTer AAD authentication is actually supported with Azure File Share, You can refer to the following documentation: https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview
Let me know if this helps.

[2019-09-11 20:48] #38082 closed

[2019-09-11 20:49] jk4472 commented on #38742
I have corrected that and then tried doing the validate single sign-n, it returned the following error:
 1 claims weren’t issued in the token. This can happen when there’s no value stored in the directory for the attribute. Please make sure the user AWSAzureLink@mirfieldshow.com has a value stored in the directory for the missing claims.

[2019-09-11 20:49] jk4472 commented on #38742
@jeevansd

[2019-09-11 20:50] spelluru commented on #37361
@droessmj - Thanks for the feedback. We have added/updated articles for both SAS and AD authentication and authorization recently. Please check them out:
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-authentication-and-authorization

#please-close

[2019-09-11 20:50] #37361 closed

[2019-09-11 20:59] TravisCragg-MSFT commented on #38710
@mhollismcgill Thanks for the info! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-11 21:01] MisinformedDNA commented on #32621
@benbelow

"Not supported" != "Not possible"
"Not supported" == "Maybe. Good luck. We won't help you if you do this. Features may be introduced that make this feature possible/no longer possible."

[2019-09-11 21:11] StianOvrevage commented on #32900
I'm not satisfied with this answer and the closure of the issue.

For me it appears Priority/Preemption is available in the AKS API: https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#scalesetpriority

However it does not seem to be available in Azure CLI yet. `az aks nodepool add -h` does not list any options about it.

It should be a fairly trivial thing to expose this

[2019-09-11 21:14] jk4472 commented on #38742
@jeevansd - I have corrected that and then tried doing the validate single sign-n, it returned the following error:
1 claims weren’t issued in the token. This can happen when there’s no value stored in the directory for the attribute. Please make sure the user AWSAzureLink@mirfieldshow.com has a value stored in the directory for the missing claims.

[2019-09-11 21:16] BharathNimmala-MSFT commented on #38728
@serlapoi Thank you for taking time to share your valuable feedback. Will have a look and get back to you on this.

[2019-09-11 21:17] jeevansd commented on #38742
@jk4472 Please map all the issues claims using our Test functionality button and then you can see that which claim is missing the value. If Azure AD does not find the claim value then it will not issue the claim. So that might be causing the issue in your SSO to AWS. Also make sure that you assign the correct roles to user and groups. Once you enable provisioning then it will fetch the roles from

[2019-09-11 21:17] TravisCragg-MSFT commented on #38725
@CyberNemesis Nice catch! I have fixed the RG name, and the change should reflect in the docs within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-11 21:17] #38725 closed

[2019-09-11 21:19] TravisCragg-MSFT commented on #36828
@the-blesss I am going to go ahead and close out this issue, please respond to this thread and @ me if you want to continue or if you have more info.

[2019-09-11 21:19] #36828 closed

[2019-09-11 21:20] rohitnayakmsft commented on #38296
@DevGuy80  Based on my testing it appears that the latest version of cmdlet uses -Name instead of -ServerDNSAliasName as the positional parameter. Please try it out and confirm that you are able to create the alias

[2019-09-11 21:22] nikusworld commented on #19238
Article-
![image](https://user-images.githubusercontent.com/38078055/64736330-a4249a80-d4a7-11e9-836e-5124cd910fc4.png)
![image](https://user-images.githubusercontent.com/38078055/64736341-a8e94e80-d4a7-11e9-92a2-9b28cc16ce20.png) needs to be modified.

As per the instrcustions provided
![image](https://user-images.githubusercontent.com/38078055/64736494-0087ba00-d4a8-11e9-9376-bb1f44345610.png)

[2019-09-11 21:23] jk4472 commented on #38742
@jeevansd the validate functionality within SSO? What do you mean by claim? Should this SSO/provisioning functionality create users within AWS when working correctly?

[2019-09-11 21:26] YutongTie-MSFT commented on #38562
@rajurajvijay619 Hi, do you have a support plan at this moment? I just tried and I have no challenge for this tutorial. I would highly recommend you to go to Help + Support to live trouble shooting.

[2019-09-11 21:30] jeevansd commented on #38742
Have you opened the support ticket with Microsoft on this? If not then please do it and the team can walk you though on the configuration and make sure that we get you running the SSO functionality.

[2019-09-11 21:32] DevGuy80 commented on #38296
I re-ran my script based on your feedback and I get the following error:

PS C:\Users\rmmoo> New-AzSqlServerDnsAlias -Name drivendata-dev.database.driven-data.com -ResourceGroupName DrivenData-V2 -ServerName drivendata-dev
New-AzSqlServerDnsAlias : Server DNS Alias name cannot be empty or null. It can only be made up of lowercase letters 'a'-'z', the numbers 0-9 and the hyphen. The hyphen may not

[2019-09-11 21:33] omarsourour commented on #38690
@Rufus1123 Please help me understand your issue correctly.

- You logged in to LUIS
- You then went and created an authoring resource from the Azure Portal
- You returned back to LUIS
- You did not immediately find the key, instead, you had to refresh first

I am understanding this correctly?

[2019-09-11 21:33] jk4472 commented on #38742
@jeevansd unfortunately I don't have an Azure technical support plan, they told me this morning I need one

[2019-09-11 21:36] rohitnayakmsft commented on #38296
The error is because of having dots(.) in your alias. Can you try with a simple string without any dots to confirm if it works?

[2019-09-11 21:42] DevGuy80 commented on #38296
That worked. So this is NOT a command to add custom DNS aliases from our own domain, correct? I misunderstood the intention of this command I think. Here is the command that ran:

Connect-AzAccount
New-AzSqlServerDnsAlias -Name drivendata-dev2 -ResourceGroupName DrivenData-V2 -ServerName drivendata-dev

The results:

Account                    SubscriptionName TenantId

[2019-09-11 21:43] YutongTie-MSFT commented on #38647
@areddish Hi Andrew, I think we changed the UI without changing the document.
![image](https://user-images.githubusercontent.com/38084098/64737687-5eb19e80-d4a2-11e9-8d34-b3bd734b08a4.png)

Could you please check this and update the document, I can not change any photo in the document. Thanks.

[2019-09-11 21:44] chadray commented on #38742
I'm having the same issue as above - I hit the same mistake by not providing the actual sessionduration time value, but I fixed that. I'm still getting a response that I've got invalid SAML. Is there a link on AWS on exactly what it requires so I can validate?

[2019-09-11 21:45] derekbekoe opened #38746 "If upgrade is not available on a cluster, '--output table' with produce error "Table output unavailable.""
Under the heading 'Check for available AKS cluster upgrades', the command suggested is:
[code]

If there is an upgrade available, the table shows as expected and shown in the documentation.

If no upgrade is available, you will get:
[code]

The documentation should mention this to avoid user confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-09-11 21:51] jennyf19 commented on #7657
@Rich-Lang @MohitGargMSFT @davidmu1 web api has been fixed and tested.

[2019-09-11 21:51] rohitnayakmsft commented on #38296
@DevGuy80 you are correct in stating that this is "NOT a command to add custom DNS aliases from our own domain". For that check out Private DNS Zones feature under Azure Networking.

[2019-09-11 21:54] danzel commented on #38292
@Grace-MacJones-MSFT Does this mean that outbound IP addresses are shared with other Azure Customers?
Or are they dedicated to an App Service Plan?
Thanks.

[2019-09-11 21:54] DevGuy80 commented on #38296
Thank you for all your help!

Sent via the Samsung Galaxy Note10+, an AT&T 5G Evolution capable smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rohit Nayak <notifications@github.com>
Sent: Wednesday, September 11, 2019 5:52:11 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: DevGuy80 <rmmoore80@outlook.com>; Mention <mention@nore

[2019-09-11 21:57] YutongTie-MSFT commented on #38743
@Jun711
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-11 21:57] mike-urnun-msft commented on #38397
@fredrikdaveus Thank you providing additional context. Since this channel is more for driving improvements towards MS Docs, it would be better if you open an MSDN thread with the same details. Once you've done so, please be sure to tag me here with the URL of your MSDN thread so that I can be notified and make sure your question gets an answer.

[2019-09-11 22:00] MarileeTurscak-MSFT commented on #38741
@RikardStrand
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 22:02] MarileeTurscak-MSFT commented on #38739
@jsiemensLatitudegeo
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 22:06] star-crossed opened #38747 "Support for Azure Gov"
There are hard-coded domains in the validation code for URLs in both the JavaScript and Java in this plugin that prevent it from being used against an Azure Gov tenant (e.g. login.microsoftonline.com is valid but login.microsoftonline.us is invalid.) Please add the domain for Azure Gov to the validation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-09-11 22:16] shanberg1 opened #38748 "How to make /.auth/me secure?"
I created and deployed a web app that is a react fronend with an express backend and enabled auth via the portal.  From the browser I can go to navigate to mywebapp.azurewebsites.net/.auth/me and it gives me the token info.  I believe this is not desired behavior because I should only want to call this on my express server as to not publicly show the tokens.  What step am I missing?  Also, if this

[2019-09-11 22:19] marroema opened #38749 "Limitations not very clear"
1. Do not delete snapshots created by Azure Backup. Deleting snapshots can result in loss of recovery points and/or restore failures.
2. Do not delete file shares that are protected by Azure Backup. The current solution will delete all snapshots taken by Azure Backup once the file share is deleted and hence lose all restore points.

Concerns:
1. Which snapshots? Where are they located/stored?
2. "

[2019-09-11 22:21] walsehgal commented on #38407
@jimbobbennett, I have updated the content to contain description for how to get the primary key. Hopefully it makes more sense now.

[2019-09-11 22:23] Alberto-Vega-MSFT commented on #38712
@fhschmid I'm sorry you are facing this issue. It could be that for some reason the micro-services running on the VM created stopped. You could find the VM in the Azure Portal and RDP to verify the microservices are running. Support could help you if you need assistance with this. Another option would be to delete resources and re deploy.

[2019-09-11 22:26] TravisCragg-MSFT commented on #36809
@saif-chaudhry I would assume that the docs are correct and that each public IP has 51,200, even if it lets you configure more.

[2019-09-11 22:34] cynthn commented on #33663
@gutzeit1106 It looks like these sizes are now covered in the docs. I'm going to close this issue, but feel free to reopen it or another issue if you still have questions. Thank you!

#please-close

[2019-09-11 22:34] #33663 closed

[2019-09-11 22:38] cynthn commented on #15622
I think this thread has run it's course. I'm going to close it for now. Please feel free to reopen this thread if needed, but opening a new issue might be better since this one has evolved so much.

#please-close

[2019-09-11 22:38] #15622 closed

[2019-09-11 22:42] cynthn commented on #11389
@MicahMcKittrick-MSFT can you chance the label on this from virtual-machines-linux/svc to backup/svc ? I think this keeps being missed because it is mis-labeled. Thanks!

[2019-09-11 22:43] ecfan commented on #38509
@kevinlam1 for review and feedback

[2019-09-11 22:47] Karishma-Tiwari-MSFT commented on #38171
@kogesaka Please try the suggestion shared above and share the results.
https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/get-azurermvmss?view=azurermps-6.13.0

[2019-09-11 22:48] Karishma-Tiwari-MSFT commented on #38746
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-11 22:52] saif-chaudhry commented on #36809
@TravisCragg-MSFT something is missing.. ! When I initially submitted this issue, I provided this as well... it is not allowing me to set 51200

[code]

[2019-09-11 22:53] MicahMcKittrick-MSFT commented on #38651
@haroldwongms I also seem to be running into issues running this through the Cloud Shell. Could you take a look?

[2019-09-11 22:54] ecfan commented on #30703
@nikolaiblackie, thanks again for reaching out about this content. We've updated the Request/Response topic now.

https://docs.microsoft.com/azure/connectors/connectors-native-reqres

[2019-09-11 22:57] cynthn commented on #12512
I'm going to close this issue for now. If someone can reproduce the problem, please re-open the issue or create a new one. Thank you!

#please-close

[2019-09-11 22:57] #12512 closed

[2019-09-11 22:58] winstonhenke-work opened #38752 "Deploying and maintaining older versions"
Are there any suggestions on how to deploy and maintain older versions of the Data Factory with the Azure DevOps Git integration? We support multiple partners and they can all be on different versions but from what I can tell you can only publish from the master branch. What if I need to deploy an older version of the Data Factory?

[2019-09-11 22:58] jwatkin commented on #38678
Thank you.

[2019-09-11 22:59] mmacy commented on #32185
Hi @sgdesmet, checked with @yoelhor on this. The account linking feature is in preview. This new feature requires using the new claims `userIdentities` with its set of claims transformations. We may document it in the future, but we don't yet have a timeline for release. For any other policy, you should use `alternativeSecurityIdCollection`.

[2019-09-11 22:59] TravisCragg-MSFT commented on #36809
@saif-chaudhry Remember to divide the 51200 number by the number of VMs in the backend pool. If you still have 2 VMs in the backend pool, you will need to set the allocated outbound ports to 25,600.

[2019-09-11 23:00] winstonhenke-work commented on #38752
closing this. I was trying post this question to the MS Docs page

[2019-09-11 23:00] #38752 closed

[2019-09-11 23:00] winstonhenke-work opened #38753 "Deploying and maintaining older versions"
Are there any suggestions on how to deploy and maintain older versions of the Data Factory with the Azure DevOps Git integration? We support multiple partners and they can all be on different versions but from what I can tell you can only publish from the master branch. What if I need to deploy an older version of the Data Factory?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2019-09-11 23:08] saif-chaudhry commented on #36809
@TravisCragg-MSFT Just so that I understand, I have two PIP defined for outbound rules and have two VM in the backend pool. So with two PIP and 2 backend pool VM, I can't set 51200?

[2019-09-11 23:11] dcbrown16 commented on #38684
@RohitMungi-MSFT I'm referring to the Web App that is created when you create a QnA resource. My understanding is that the Web App hosts the runtime, not the frontend. I'm not asking about the API itself, although info about where that endpoint is would ideally be included.

[2019-09-11 23:12] FrankHu-MSFT commented on #38730
Hey @JeremyWard33 thanks for letting us know about this issue. We're currently looking into this and will make the change accordingly. As we're currently making this change i'll be closing out this git issue by end of day tomorrow.

Thanks for letting us know about this!
- Frank

[2019-09-11 23:14] SaurabhSharma-MSFT commented on #38733
@ggilman42 Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-11 23:16] sln007 opened #38754 "What is the purpose for introduction of User Delegation SAS?"
According to this page, one can create a Service SAS using the Oauth token of a Managed Service Identity as follows:

curl https://management.azure.com/subscriptions/&lt;SUBSCRIPTION ID&gt;/resourceGroups/&lt;RESOURCE GROUP&gt;/providers/Microsoft.Storage/storageAccounts/&lt;STORAGE ACCOUNT NAME&gt;/listServiceSas/?api-version=2017-06-01 -X POST -d "{\"canonicalizedResource\":\"/blob/&lt;STORAGE A

[2019-09-11 23:17] basilwong opened #38755 "Event Based Triggers for Azure Government Data Factory"
Are there Event Based Triggers Available for Azure Government Data Factory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee5166-ff40-f4ed-ce07-5312f935e388
* Version Independent ID: 68f01b43-e3b2-003b-24cb-446a08aa0c1b
* Content: [Create event-based triggers in Azure Data Factory](https://docs.microsoft.com/en-us/a

[2019-09-11 23:18] FrankHu-MSFT commented on #38622
Hello @VenkattaPidikiti I'm following up on this issue, can you please reply in regards to the last github response? If there's no more questions within the scope of this issue, I will be closing it out by end of day tomorrow. Thanks

[2019-09-11 23:18] #38550 closed

[2019-09-11 23:20] FrankHu-MSFT commented on #38550
If you have anymore questions please open a new git issue with a reference to this issue.

[2019-09-11 23:25] TravisCragg-MSFT commented on #36809
@saif-chaudhry it is my understanding of your deployment that you have different outbound rules for TCP and UDP, and only 1 public IP on each.

TCP and UDP ports are calculated independently, and protocols can only use the one IP, so you have the effect of a single IP, just split by protocol.

[2019-09-11 23:26] mike-urnun-msft commented on #38740
Hi @Infinitism - Thank you for your feedback! We will review and update as appropriate.

[2019-09-11 23:38] annaymj opened #38756 "Where can we find the ML metric explanations?"
Dear Azure developers,

        Thanks for offering various ML metrics. Is there a centralized place for we to look at the ML metric meaning? Such as balanced_accuracy, weighted_accuracy, macro_AUC, micro_AUC?

Thanks!
Anna

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d75487-5a8d-f735-bc34-8a5d90c52d86
* Version In

[2019-09-11 23:41] saif-chaudhry commented on #36809
@TravisCragg-MSFT Thanks for the clarification. I have **2 outboundrules each with their own PIP for both protocols (TCP/UDP)**

The system came back and suggested I can do 32000 which is neither 51200 nor 25600 and I don't know how this is being calculated...

The docs needs to be provide some more examples for customers to help define and adjust these things... this is what I have for the outbou

[2019-09-11 23:42] sajithvasu opened #38757 "custom role update does not work"
I am trying to update actions in custom role using az cli 2.0.73 and it is failing with error showing below -

command used is similar to:
az role definition update --role-definition "~/CustomRoles/ReaderSupportRole.json"

output:
WARNING: Role "id" is missing. Look for the role in the current subscription...
The resource provider referenced in the action is not returned in the list of providers f

[2019-09-11 23:46] djpmsft commented on #32821
Hi @miicahjardine,

Apologies for the delay in response! Can you verify your Azure DevOps credentials are correct? If the service fails to configure the repo on creation, the factory will still get created but with no association.

I realize the docs might are not necessarily informative and I have opened a work item to add detail to them. Here is what the format of your fields should be:

account

[2019-09-11 23:57] MatthewSteeples opened #38758 "E series missing"
E series VMs are available to run as Batch nodes but aren't shown on this page

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac389f7-3c0d-68a7-4de2-36206864686e
* Version Independent ID: e41dbff7-0930-f0a1-3141-c7f14d0030b7
* Content: [Choose VM sizes for pools - Azure Batch](https://docs.microsoft.com/en-gb/azure/ba

[2019-09-12 00:02] djpmsft commented on #25476
Hi all,

Sorry for the delay in response from the product group. I just wanted to mention that the article has been updated relatively drastically since the last activity on this issue. It looks as if though the conversation has transitioned into a branch permissions discussion. Has that been resolved? Are there any other outstanding questions?

Thanks,
Daniel

[2019-09-12 00:04] MatthewSteeples commented on #29547
Numbers are also missing for the Dasv series

[2019-09-12 00:05] wtam commented on #38613
one thing I found lately is when built model saving to AzureML Model dir, my Keras h5 models sometime saved  in h5.tar.gz  instead of previous h5 which breaking the keras load.model from azureml get_model_path and azueml model download if I want to untar its manually!!! but this issue suddenly back to normal (h5 only from Model dir) yesterday late afternoon HK time.

However this seems also affect

[2019-09-12 00:05] Infinitism opened #38759 "Clarification on end-to-end tracing"
Could you share more code samples on end-to-end tracing with an end-to-end example?

1&gt; Like a client creating 5 messages in a service bus queue
2&gt; A pool of workers fetching each message individually and processing them
3&gt; Code that enables tracing when a client submits a message
4&gt; Code that enables tracing when worker processes a message
5&gt; Example dashboard on what we get in App

[2019-09-12 00:09] jeevansd commented on #38747
@star-crossed Yes, you are right. This is a great feedback. We will now add this in our backlog to provide you to select the environment first.

[2019-09-12 00:09] jeevansd commented on #38747
@chetansriv Can you please file this as a feature request in our ADO?

[2019-09-12 00:12] djpmsft commented on #38753
Hi there,

You should only merge your feature branches into the master branch if they are ready to be deployed to production. If you need to deploy a different version, you can always do a [hot-fix](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#hot-fix-production-branch), but this should only be done as an emergency measure.

Can you elaborate on what you me

[2019-09-12 00:15] roygara commented on #38348
@forester123 sorry for the delay, I don't have any updates. I've reached out to the internal product teams and we're looking into this. I will let you know what we come back with.

[2019-09-12 00:16] Infinitism commented on #27653
What's the update on this?

[2019-09-12 00:17] KranthiPakala-MSFT commented on #38755
@basilwong Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate.

[2019-09-12 00:17] djpmsft commented on #30160
Hi @hmayer1980,

Sorry for the delay in response and thanks for adding your feedback! Outside of the feature request, do you have any other open inquiries with this issue? If not, do I have permission to close it?

Thanks,
Daniel

[2019-09-12 00:20] djpmsft commented on #38755
Event Based Triggers are not currently supported in Government. This is currently being worked on by the engineering team and should be available in the near future.

#please-close

[2019-09-12 00:20] #38755 closed

[2019-09-12 00:28] KranthiPakala-MSFT commented on #38744
@basilwong Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-09-12 00:29] KranthiPakala-MSFT commented on #38744
@dumartinmsft Could you please have a look at the feedback from @basilwong ? - Thanks!

[2019-09-12 00:36] Karishma-Tiwari-MSFT commented on #38609
@Jothi3125 Can you please confirm that you are following this doc step by step, meaning you created a template as a JSON file as described in the doc? If yes, are you seeing the error at this step: [Create a VM from the Packer image ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer#create-a-vm-from-the-packer-image)?

[2019-09-12 00:40] MicahMcKittrick-MSFT commented on #38758
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-12 00:41] MicahMcKittrick-MSFT commented on #38752
Thanks for reaching out and closing out the issue. If you need further help just let us know.

[2019-09-12 00:41] Infinitism commented on #38759
And how is it different from metrics we get here?

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-diagnostic-logs

[2019-09-12 00:54] Infinitism opened #38762 "Different methods of instrumentation in Service Bus"
Hi,

It'd be nice to have a page dedicated on how to enable different types of telemetry in service bus. Specifically, what does end-to-end tracing mean? What are the things we get in Azure Monitor? What kinds of diagnostic logs we get?

Difference between all three?

It is not clear what metrics we get from each of the following:

1&gt; https://docs.microsoft.com/en-us/azure/service-bus-messaging

[2019-09-12 00:55] mswellsi commented on #38593
@joyceywho Thanks for finding this, I will update that section.

[2019-09-12 00:57] SnehaAgrawal-MSFT commented on #38748
@shanberg1 Thanks for the question! We are investigating and will update you shortly.

[2019-09-12 01:27] femsulu commented on #37889
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-12 01:27] #37889 closed

[2019-09-12 01:36] femsulu commented on #38749
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-12 01:37] JoeBrockhaus commented on #34378
I have a similar scenario for which I devised a working (but less-than-ideal) solution:

#### Scenario

- Deploy 1-n Function App(s) _(App Service)_.
- Each App Service requires: Deploy Slot, Storage Account, App Insights, default AppSettings with dynamic values.
- Template should support additional/override AppSettings as parameters.

#### Solution

1. Azure DevOps Variable Group _(environment se

[2019-09-12 01:39] femsulu commented on #38757
Hi @sajithvasu, Can you share what resource provider and region you are targeting?

[2019-09-12 01:50] spelluru commented on #27653
@axisc - could you please provide your input as soon as possible? Thanks!

[2019-09-12 02:49] DixitArora-MSFT commented on #38762
Hi @Infinitism Thanks for your feedback. We will review and update as appropriate.

[2019-09-12 02:49] DixitArora-MSFT commented on #38759
Hi @Infinitism Thanks for your feedback. We will review and update as appropriate.

[2019-09-12 02:57] AhsanSAlam opened #38766 "AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: '6243efb7-8b73-402b-a841-888e8a924a00'."
Hi,

I have followed the article (https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy). I keep getting the following error:

AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application: '6243efb7-8b73-402b-a841-888e8a924a00'.

I have generated the reply URL according to the instruction and setup the public client. I ev

[2019-09-12 03:02] dhanrajbsheth opened #38767 "Key value information missing form the Document for SAML config with AAD SSO"
This document is really missing key information about configuring Single Signon on  the Surgar CRM application .

While trying to deploy SugarCRM application in AD , Figured out that it has many values which needs to be provided for "Basic SAML Configuration" without which it will not even same the config . doc only talks about one value to be provided "Sign on URL" .. and later on provides some n

[2019-09-12 03:02] hansenms commented on #38766
Please paste the code used to generate the reply URL and paste the URL of the FHIR service.

[2019-09-12 03:09] AhsanSAlam commented on #38766
$replyUrl = "https://localhost:5001/sampleapp/index.html"
$fhirServerUrl = "https://azfhirppoc1.azurehealthcareapis.com"
$bytes = [System.Text.Encoding]::UTF8.GetBytes($ReplyUrl)
$encodedText = [Convert]::ToBase64String($bytes)
$encodedText = $encodedText.TrimEnd('=');
$encodedText = $encodedText.Replace('/','_');
$encodedText = $encodedText.Replace('+','-');

$newReplyUrl = $FhirServerUrl.TrimEnd

[2019-09-12 03:14] hansenms commented on #38766
I think you have not enabled the SMART on FHIR Proxy: https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy#enable-smart-on-fhir-proxy

[2019-09-12 03:20] AhsanSAlam commented on #38766
Great catch... somehow I've missed this step as I've recreated the resource group multiple times. I'll retry once it gets done updating. Thanks for your help

[2019-09-12 03:22] hansenms commented on #38766
Let us know if you have other issues or when it is resolved and we will close out the issue.

[2019-09-12 03:28] albilaga opened #38768 "Can't use output in Azure Emulator Storage for macOS"
I am using Azurite v2.7.1 and when I try to use output binding directly to Azure Emulator Storage it will throws exception but it works fine with input binding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048-36b1-a1cefb3acf43
* Content: [A

[2019-09-12 03:36] SeanFeldman opened #38769 "Automatic indexing is not documented properly"
The documentation says:

Looking at the [code](https://github.com/Azure/azure-cosmos-dotnet-v3/blob/bec2d8160d7423572cf8eeecb3eadb345e6cb19f/Microsoft.Azure.Cosmos/src/Resource/Settings/IndexingPolicy.cs#L38), the property to auto-index is set to `true` by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3aeab4

[2019-09-12 03:37] AhsanSAlam commented on #38766
It worked. You can close the ticket.

Thanks

[2019-09-12 03:39] hansenms commented on #38766
Glad to help.

#please-close.

[2019-09-12 03:39] #38766 closed

[2019-09-12 03:41] SeanFeldman commented on #23875
I was about to submit an issue, asking to elaborate on the `Lazy` mode. Gladly checked the closed issued. The lesson: PR comes first, then the issue closed 🙂

Agree with @pabbap on https://github.com/MicrosoftDocs/azure-docs/issues/23875#issuecomment-463110982 - don't hide. Rather educate by adding a note/explanation.

@markjbrown could you please re-open the issue until the document is updated?

[2019-09-12 03:41] neeleshray-msft commented on #38747
@star-crossed Thank you for the feedback. As Jeevan mentioned, we will take this to our backlog.
@jeevansd Thank you Jeevan.

[2019-09-12 03:41] dcbrown16 opened #38770 "Incremental extra storage seems incomplete"
There are settings when trying to configure an S3 DB for storage that go from the default of 250 up to 300, 400, 500, 750, then 1TB. This page doesn't mention the 300 or 400 GB levels. Is this a recent change?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94c33577-a694-bd91-d0fa-791ff3cbee13
* Version Independent ID:

[2019-09-12 03:43] neeleshray-msft commented on #38767
@dhanrajbsheth Thank you for the feedback. We will investigate and update accordingly

[2019-09-12 03:54] kudlatiger opened #38772 "How to place Application Gateway between APIM and App Service?"
I have a APIM (API Management) which is exposed to the internet, and backend is Web API (App Service).

I am using CA certificates in APIM, but not using any security mechanism for backend Web API apart from IP white listing from APIM.

I am planning to use Application Gateway in between APIM and Web app to increase the security. But now finding any right resource. Could u add a document around it

[2019-09-12 04:04] IMBhardwaj commented on #38722
Hi @erhopf , Thanks for attending to my suggestion.
For <mstts:express-as>, as you said, its just example and syntax, but where can I get a complete reference of all possible values and how do they affect the tonality. And in the future, if new values are added, where do we go to find the updates? And is this the only one that is Azure specific, if not then where can we find the Azure specific tag

[2019-09-12 04:27] sujayvsarma commented on #38422
@rbrundritt, I believe this phrase applies to all of your paragraphs above:

I would call the display of current information on a point/POI as a basic feature of the tool itself, because of the tool's desired core functionality. Possibly the feature PM who pushed that into prod differs in that opinion. Anyways..

And it is because of that intrinsic "knowledge" that I am frustrated. Because I know

[2019-09-12 04:27] #38422 closed

[2019-09-12 04:27] KalyanChanumolu-MSFT commented on #38608
@Rachitgupta1994 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-12 04:27] #38608 closed

[2019-09-12 04:33] DashleenBhandari-MSFT commented on #38516
@eyast , Yes RPS means Requests Per Second.

Refer https://docs.microsoft.com/en-us/sharepoint/administration/enterprise-intranet-collaboration-performance-and-capacity#glossary

[2019-09-12 04:33] MarekLani commented on #28565
This was opened April 2 and we still have no answer. This SDK is unusable as there is no clear way how to get content size and download blob, neither it is clear how to list blobs in folders. I just had to create  C# Azure functions to do the job and call those from node.js application. Is this experience node.js developers should have?

[2019-09-12 04:40] KrishnaG-MSFT commented on #38766
@hansenms Thanks for the quick response and help provided. 👍

[2019-09-12 04:45] rbrundritt commented on #38422
@sujayvsarma If the something you are refering to is that you used to work at Microsoft, I found out by going to your Github profile then clicking on your website link where you mention you used to work for Microsoft 6 years ago.

[2019-09-12 04:52] CHEEKATLAPRADEEP-MSFT commented on #38756
@annaymj  You can go through the following classification metrics and there description available in the following document: [https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-understand-automated-ml#classification-metrics](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-understand-automated-ml#classification-metrics).

Hope this helps.

[2019-09-12 05:04] KetanChawda-MSFT commented on #38772
@kudlatiger Thank you for your question! We will review and provide an update as appropriate.

[2019-09-12 05:05] KetanChawda-MSFT commented on #38768
@albilaga Thank you for your feedback! We will review and provide an update as appropriate.

[2019-09-12 05:32] kruti15ars opened #38774 "Is there any ARM template to enable Transparent Data Encryption for managed instance databases ?"
Will this template work for Managed instance databases
https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2014-04-01/servers/databases/transparentdataencryption
{
  "name": "current",
  "type": "Microsoft.Sql/servers/databases/transparentDataEncryption",
  "apiVersion": "2014-04-01",
  "properties": {
    "status": "string"
  }
}

---
#### Document Details

⚠ *Do not edit this section.

[2019-09-12 05:41] shashishailaj commented on #38754
@sln007 Thank you for your query. We will investigate and update this thread.

[2019-09-12 05:49] annaymj commented on #38756
Perfect! Thanks a lot for the quick response!

[2019-09-12 06:03] PramodValavala-MSFT commented on #38709
@ciaran036 Application Insights are already available as part of the Azure Functions runtime. You don't really have to add the nuget for it in your project.

You can simply setup Application Insights from the portal as shown in the doc, and it should just work.

[2019-09-12 06:05] ArcherAZ commented on #37518
We made some updates since last release, and now all the listed locales (including en-GB) support audio +trans data training. So the problem should be fixed. Please have a try.

[2019-09-12 06:10] PramodValavala-MSFT commented on #38772
@kudlatiger Since you already have a CA certificate added, you can setup [mutual certificate authentication](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates) between APIM and your Web App. Also, if your Web App has Azure AD Authentication setup, you can also use Managed Identity to connect to APIM.

There is an excellent discussion here on this - #263

[2019-09-12 06:19] v-kerwan commented on #37392
Hi I have review the document and that's incorrect expression.  (Please Note that Import scenario from Power BI Premium is currently not supported.)
Pleaes use my expression below instead: (Note: currently turn on switch of "Allow Access from Power BI" button won't bypass request from Power BI workspace under premium capacity. To workaround this, please add Azure datacenter IP Address(https://www.

[2019-09-12 06:25] karqical2016 opened #38776 "how to get the version of tensorflow model which exported from azure custom vision services now?"
I train model and export the model as tensorflow pb file using the azure custom vision services.
I want to know the version number of this tensorflow model (tensorflow versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2, 1.14.0rc0, 1.14.0rc1, 1.14.0, 1.15.0rc0, 2.0.0a0, 2.0.0b0, 2.0.0b1, 2.0.0rc0),But this no way to get the tensorflow version in azure custom vision services.

---
#### Document Details

[2019-09-12 06:36] ram-msft commented on #38776
@karqical2016 Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-12 06:39] VikasPullagura-MSFT commented on #38676
@aayush3667 Any update on the issue?

[2019-09-12 06:42] SwathiDhanwada-MSFT commented on #38522
@vinishgeorge Did you create function app manually either using Azure CLI, Azure PowerShell or through azure portal ? If not, i would suggest you to create as the function app before publishing as  its prerequisite to use the code sample or you can handle the creation of function app in the pipeline before publishing.

[2019-09-12 06:43] msrini-MSFT commented on #38697
@sahilpnckr123 , I will go ahead and close this issue. If you have any further questions, please tag me.

[2019-09-12 06:43] #38697 closed

[2019-09-12 06:46] ndnx commented on #38591
@tfitzmac - I tried to deploy a Virtual Network in using ARM template. Here is a screenshot of the error from the Azure portal.
![VNet Deploy ARM](https://user-images.githubusercontent.com/4321412/64759901-9aac3880-d562-11e9-80c7-5ad50a9d493e.png)

@mumian - I have checked from the subscription providers page, the provider for the **Microsoft.Network** is already registered there for the subscript

[2019-09-12 06:54] javiermarasco commented on #38698
Hi, sure, here is the link I was following (https://docs.microsoft.com/en-us/rest/api/appservice/webapps/getconfiguration#siteconfigresource) in there it is stated that the response will contain an appsettings inside the properties but in the actual response, this field is empty.

I would appreciate any idea on why this could be the case or where do you think I would be more likely to get a respon

[2019-09-12 07:02] shanec1928 commented on #38612
so why not actually mention in that in stead of users that have had it updated having to spend time and try find where its been hidden!

[2019-09-12 07:15] aayush3667 commented on #38676
Hi, sorry for the delay.

I solved the issue...thanks for the help.

[2019-09-12 07:15] #38676 closed

[2019-09-12 07:27] Trollgeir commented on #38617
It helps yes. Creation of the network profile is a one-off setup, and the rest can luckily be automated.

[2019-09-12 07:29] dcurwin commented on #38749
@saurabhsensharma Any insights?

[2019-09-12 07:45] Lutando commented on #38714
I found out the issue.

There seems to be a few official sources for downloading the `MMASetup-<platform>.exe` file. I believe I got one from [here](https://www.microsoft.com/en-us/download/confirmation.aspx?id=40316) and not from within the Azure Portal. Looks like the two identically named files from these two different sources do not work similarly. Or perhaps the one on the microsoft download

[2019-09-12 07:45] #38714 closed

[2019-09-12 07:55] gcogco10 commented on #14123
Hi Sergaz, i also facing the same situation with the above issue. My issue is have created deviceID on my portal and Azure Hub name does exist. I have used Azure CLI to get my service connectionString, but i keep getting DeviceNOTFound exception, what could be reason for this? Please assist me for clarity in order to help others here in my organisation.

[2019-09-12 07:56] baterphq opened #38778 "LogicApp File Store Connector missing List Files action"
Hello,

I'am missing the action "List files" for the Azure FileStore Connector:
https://docs.microsoft.com/en-us/connectors/azurefile/
I'am really sure that it was there a few days ago. Also my existing LogicApps which used this connector/action don't work now.
Azure region: North and West Europe.

[2019-09-12 07:57] KrishnaG-MSFT commented on #38714
@Lutando :+1: Glad to know that you have self resolved the issue. Thanks for the update.

[2019-09-12 07:57] orspod commented on #37791
@TimSBenjamin - created PR: Update query-monitor-data.md #88225 to update the article with a link to https://docs.microsoft.com/en-us/azure/kusto/query/joinoperator#join-hints
I also updated that article with links to additional "hint" docs.

[2019-09-12 07:57] orspod commented on #37791
#please-close

[2019-09-12 07:57] #37791 closed

[2019-09-12 08:26] dvdgutzmann opened #38780 "Ocp-Apim-Trace-Location Header missing if backend webservice is responding with 302?"
The subscription I used has Allow trace set to true and request traces are usually reported fine.

Due to a configuration error on my end (http instead of https as the backend webservice base url) the backend was responding with a 302. The APIM Service then followed the 302 but was missing the original Authentication header (Bearer with JWT token) which was added in an inbound policy. The missing

[2019-09-12 09:29] GitTune opened #38782 "Familiar Locations"
The documentation says: “The system also ignores sign-ins from familiar devices, and locations that are geographically close to a familiar location.”
Say, a customer uses public IP addresses for their endpoints, provided by their own ISP (university), will these ranges be marked as familiar locations? What is the definition of “geographically close locations”? This is different per country.

---
#

[2019-09-12 09:30] juyama opened #38783 "Difference between SLA and this doc"
Availability SLA for read requests is at least 99.99% (99.9% for Cool Access Tier) and for write requests is at least 99.9% (99% for cool access tier) on SLA for Storage Accounts v1_5.
https://azure.microsoft.com/en-us/support/legal/sla/storage/v1_5/

The redudancy option table does not match the SLA. Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-09-12 10:03] JenszSigterman opened #38785 "AzureAD x86 architecture does not work, only amd64"
Hi there,

I successfully ran "Install-Module AzureAD"
After this I typed "Import-Module AzureAD" and I got the following error message:
---------------------------------------------------------------------
import-module : The current processor architecture is: X86. The module 'C:\Users\jsigterm\Documents\PowerShell\Modules\azuread\2.0.2.31\azuread.psd1' requires the following architecture: Amd64.

[2019-09-12 10:17] Blightysoft opened #38787 "Missing info: doesn't mention Access Policy"
This doesn't mention a critical step that support took me through. The thing you're trying to access might well need to have not just Access Control, but also Access Policies set. The fact these two are in different places illustrates how the UI needs an overhaul.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091

[2019-09-12 11:25] MayurBar opened #38788 "How Device registration with a Notification Hub is accomplished using a Installation in react native app"
In this link : https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management
 Device registration with a Notification Hub is accomplished using a Installation is explained but how I can use it in React native app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 431c

[2019-09-12 12:05] FernandoHidalgoSWBI opened #38790 "Poor solution and Publish bug"
The solution specified in "Troubleshooting Git integration" completely messed up the branches. The master branch didn´t sync anymore with develop and we had to do a force push of develop to master to recover it. At the end I solved it following the same steps, except for the deletion of all content in master and it worked. I only found few issues, where the Publish failed because of dependencies.

[2019-09-12 12:08] kszicsillag opened #38791 "MySQL in-app link dead"
The MySQL in-app link in "What gets backed up" section simply redirects to the Azure blog front page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Independent ID: 157885c4-2579-8f98-1e85-c3063a861207
* Content: [Back up app - Azure App Service](https://docs.microsoft.com

[2019-09-12 12:08] sochan1 opened #38792 "Site Recovery job fails - Query doesn't seem work."
AzureDiagnostics
| where Category == "AzureSiteRecoveryJobs"
| where OperationName == "Reprotect"
| where ResultType == "Failed"
| summarize count()

Error :
'where' operator: Failed to resolve column or scalar expression named 'ResultType'
Support id: f943406f-3a35-45a5-a436-ad16b3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-09-12 13:29] vbrodsky opened #38797 "Extension not installed error"
(using Python - VSC)

For the example for a queue, when I run my function locally, get an error

HelloWorld: The binding type(s) 'queue' are not registered. Please ensure the type is correct and the binding extension is installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ef8971a-b5bf-ee50-4e60-8b7d835310c6
* Ver

[2019-09-12 14:08] Anand-Moghe opened #38799 "Is it possible to use Key Vaults for Management of SSL certificate for on-premise resources endpoint"
Is it possible to use Key Vaults for Management of SSL certificate for securing on-premise resources endpoints? E.g. Can I use the Azure Key Vaults to store SSL certification for my on-premise LDAP server or web server or any other SSL endpoint? **Or is it only for cloud ready application or Azure Cloud resources only?**

Basically the idea is to auto renew these certificates if they expire or get

[2019-09-12 14:27] csharmath opened #38800 "Suboptimal table rendering"
On a 34" 4K monitor with Firefox snapped to half the screen and I can't properly read the table at 100% zoom, only when I zoom out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f7582c-c2a6-87bb-d236-2066e727c90c
* Version Independent ID: 1cbc7ee7-2518-137a-f6d6-d1d62a1a1bc3
* Content: [What can Azure Backup Server

[2019-09-12 14:47] btmore opened #38801 "Meaning of "The time-to-live (TTL) setting on a brokered message is not enforced when there are no clients actively listening."?"
Hi Team,

Could you please explain the sentence in more detail ?
**The time-to-live (TTL) setting on a brokered message is not enforced when there are no clients actively listening.**

Does this mean -
If there is no listener to the queue/subscription who would call Receive() method to process the message, the message will never expire?

Please correct me if I'm wrong.

---
#### Document Details

[2019-09-12 15:06] iricigor opened #38802 "bash powershell mixture"
in a bash example, there is a PowerShell command :P

for example
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content: [Azure Instance Metadata Service](https://docs.microsoft.com/en-us/azure/virtual-machines/

[2019-09-12 15:07] Mark-Allen-Perry opened #38803 "Internal load balancer diagram is needed"
Hi, it would be really nice to have am Azure diagram similar to one in the doc, but for an internal setup.
So, you start with the Internet -&gt; Internal Azure Firewall -&gt; Internal load balancer -&gt; VM group, and back again.
Many thanks.
Mark-Allen Perry
==

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07b33cf5-3

[2019-09-12 15:10] constructdian opened #38804 "Trusted Service Usage Unclear"
"Usage Scenarios" implies that these are an example, where in fact - in the case of Key Vault - this is the ONLY supported scenario. So, I can deploy a cert via keyvault to an appservice but I can't use secrets.

This document is highly ambiguous and has led to a lot of wasted work. Please update it to clearly reflect that the usage scenarios are the ONLY supported scenarios - maybe name the colum

[2019-09-12 15:36] DrakeLambert opened #38805 "Posting to Custom Topics: Performance Limitations"
The section on batching recommends sending events in a batch to event grid for high volume cases, but what exactly constitutes high volume?

In my case, I have events coming off of my large application one at a time. What is the recommended azure tech to use for batching these events? It seems like storage queues can't handle very high input anyway.

---
#### Document Details

⚠ *Do not edit this

[2019-09-12 16:15] jmcshane opened #38807 "Integrate with Azure Private DNS"
I am creating internal load balancer instances within a virtual network that has Azure Private DNS configured. Is there any way to have the Kubernetes Internal LB service generate an A record within Azure Private DNS targeting this service IP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25afcc19-0998-3583-f6d8-e2a61

[2019-09-12 16:20] ajay100 opened #38808 "update the image for the Event grid"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08e12671-466a-8807-63bb-fb1923554d60
* Version Independent ID: 88dcdcb5-e611-134d-5c2e-66c657416445
* Content: [Azure messaging comparison - Event Grid, Event Hubs, Service Bus](https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-servi

[2019-09-12 16:40] toddjohnson39 opened #38810 "Separate Policy Require?"
Is it a requirement to have 2 separate policies to require 'approved app' for 'modern auth' and 'ActiveSync' clients? The examples seem to imply this, and maybe that's due to separation of EXO and SPO. But would something like this still work:

All Users &gt; All Apps &gt; iOS + Android &gt; Modern Auth Clients + ActiveSync Clients &gt; Require Approved App

---
#### Document Details

⚠ *Do not ed

[2019-09-12 17:55] mcetkovsky opened #38811 "I miss info about encryption and a security risk discussion"
I am missing information needed to understand security risks of backing-up the authenticator's security data to a cloud.

- Whether and how are the data secured/encrypted in cloud so only the original author can decipher them
- A discussion about the security/privacy risks connected with saving these only-I-should-know/have data onto third-party (Microsoft's/Apple's) servers

---
#### Document Det

[2019-09-12 18:54] ugumba opened #38813 "Specs for the container's ephemeral storage?"
There's 50Gb of ephemeral storage available in /mnt (/tmp). Can you provide information about it (HDD/SSD)?
Is it safe to use (and fill up within reason) for the container lifetime?
A bit more esoteric: Is any ephemeral storage shared between any/all containers in the container group?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-12 18:55] aweFalafelApps opened #38814 "GetAccessTokenAsync Url"
Any chance we could get a note in the #modify-aspnet-core section about the url used in the call to GetAccessTokenAsync? In my experience the trailing slash is required (which seems very odd to me) and I spent several hours (possibly multiple times) troubleshooting the following error: Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'

Even better might be to actually change that underlying cod

[2019-09-12 19:27] olandese opened #38815 "AppId and ClientId"
The AppId and ClientId are the same, there is no need to get it separately using az ad sp list --show-mine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc43d849-5b06-7185-0c9e-aaf240363aca
* Version Independent ID: 385f4dfe-326a-9e63-80ce-3c71903edf3c
* Content: [Quickstart -  Azure Key Vault client library for .NET]

[2019-09-12 19:34] joecullinan opened #38816 ""Try It" does not load Az.ManagedServiceIdentity module"
Running the code sample above for Get-AzUserAssignedIdentity throws an error:

Get-AzUserAssignedIdentity : The term 'Get-AzUserAssignedIdentity' is not recognized as the name of a cmdlet, function, script file, or operable program.

Get-Modules -ListAvailable yields a list that skips from Az.MachineLearning to Az.ManagedServices. Az.ManagedServiceIdentities is not listed.

Running 'Install-Module

[2019-09-12 19:42] robert-murray opened #38817 "C:\ only?"
I'm not finding a way to make this work against source folders on anything other than C:\

Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7af129eb-b50a-95aa-a47c-fc87314bdec1
* Version Independent ID: 15e87e24-d921-0cfc-6cc2-3729bb292045
* Content: [Move files between file-based storage by using

[2019-09-12 19:51] johncrim opened #38819 ".NET Core on Linux provides no access to LocalMachine/My"
This document is incorrect and misleading for developers writing SF services on Linux. There is no access to LocalMachine/My on linux, as documented here: https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md

For more info on this, see https://stackoverflow.com/a/57913607/605067 .

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-09-12 19:59] JDeanThomas opened #38820 "Python Timer trigger doesn't run with default project settings"
Using the setup guide for Python

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

But selecting a timer trigger project, changing none of the default generated code, (as displayed on this page) even after adding azure==4.0.0 to the requirements.txt and running it via PIP in the Python 3.6.8 .venv, returns from the console:

[9/12/19 7:51:47 PM] The li

[2019-09-12 20:00] theboymango opened #38821 "Conflicting information regarding images/templates"
This page clearly states that it is possible to create a personalized image using Lab Services.
However, the following is stated on another page in the same documentation: "Currently Azure Lab Services supports only VMs created from Azure Marketplace images. If you want to use custom images or create other PaaS resources in a lab environment, use DevTest Labs. For more information, see Create a cu

[2019-09-12 20:04] timothyhoffmann opened #38822 "Missing Namespace info"
What Namespace is the "LogLevel" type defined in?
private static void Log(LogLevel level, string message, bool containsPii)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf750a87-7ec5-422e-8e80-4cf3db67a079
* Version Independent ID: c8df5a2e-3bcc-297f-5838-78bcca875f94
* Content: [Logging in MSAL applications](https:/

[2019-09-12 20:26] tomygrenier opened #38823 "Provider in News"
Hi!
I'm using Bing News API v7 with PHP request and providers are returned with bad specials characters. The issue seems to come from the encoding of the request itself.

The problem is the same when News are return in WebPages results.

https://azure.microsoft.com/en-us/services/cognitive-services/bing-news-search-api/

Thanks,

Tomy

[2019-09-12 20:31] frerus opened #38824 "New _UTF8 Collation not availible on Managed Instance ?"
Hi,
Can't seem to find the new _UTF8 collations on the SQL Managed Instance, is this coming soon?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309-ab2a-ec44fb5e4746
* Content: [Azure SQL Database managed instance T-SQL differences](https://

[2019-09-12 20:46] JonesMikael opened #38825 "More explanation why Chrome requires an extension"
It would be great if the product team could put a little bit more explanation on this article why Chrome requires an extension for this. What are the technical reason for this and will it ever be included in Chrome built-in? Even though easy to deploy, it's not easy in a large non-managed envrionment and my customers often ask why the extension is required and it would be great to point them to th

[2019-09-12 20:49] JonesMikael opened #38826 "Remove Microsoft Edge on Windows Server 2016"
As far as I know, it's not possible to run/install Microsoft Edge on Windows Server 2016 so if that is true, this combination should not be listed under "Supported Browsers"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0073f5a8-daf6-7f14-127f-e0c9d80af78d
* Version Independent ID: d6d0afdf-3619-ca03-718b-a40bfd07bab9

[2019-09-12 20:54] Infinitism opened #38827 "Clarify activity logs"
Hi,

Could you clarify "These logs contain information about operations performed on a job."

What operations are we talking about here? The specifics? Are we referring to when a job is sent to a queue and received or other things as well? This could definitely be expanded to include details of the metrics.

A breakdown as given in the following link would be nice

https://docs.microsoft.com/en-us

[2019-09-12 21:18] Pete1138 opened #38830 "Serverless database never shuts down - firewall rules being queried by Azure"
I raised this on StackOverflow also:
https://stackoverflow.com/questions/57909700/azure-sql-serverless-tier-never-shuts-down?noredirect=1#comment102244242_57909700

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID: aa73eb53-55b6-6aa2-2542-e26fd32764fe
* Content

[2019-09-12 21:22] jons-own-stuff opened #38832 "Link not found in Azure"
In "Create a policy key," step 3, it says to click "Identity Experience Framework" in the Overview section. This link does not exist in the portal. There might be other parts of the article that need updating as well but that's the one that's confusing me right now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf203c

[2019-09-12 21:50] ROSMITHJ-MSFT opened #38833 "Screenshots/Page appears to be out of date"
Hello,

The screenshots taken from the Service Fabric Analytics solution (and the explanation behind them) appear to be out of date. In the current iteration of the Service Fabric Analytics solution, there are five sections:
Cluster Events.
Container Logs.
Application Events.
Node Metrics.
Container Metrics.

When possible, please update the page with examples for each section's use.

Much obliged

[2019-09-12 22:01] brreisner opened #38835 "No longer required to remove connection"
I believe this documentation is no longer correct.  I have modified local network gateway IP address prefixes with an existing gateway connection several times without removing the connection. This also appears to be a closed (but then re-opened) issue in the past. https://feedback.azure.com/forums/217313-networking/suggestions/12335868-arm-add-address-spaces-to-local-network-gateway

---
#### Doc

[2019-09-12 22:09] omerzubair opened #38836 "Az Module not reliable in Azure Automation Account"
I am really struggling with reliability of Automation account with AZ module.

I had a task to convert all my very Stable AzureRM Automation runbooks to Az. Reason is that new functionality of Azure is being released in the Az and Not in AzureRM.

AzureRm was very stable and after conversion of the run-book to Az, i get following intermittently. 4/10 times i will get following error rest times the

[2019-09-12 22:25] scarolan opened #38837 "Provider is ancient"
The AzureRM provider has advanced several versions since this tutorial was written, we are now at version 1.33.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version Independent ID: bd2884f3-831a-3761-0502-5eb1594872bd
* Content: [Create a Kubernetes cluster with Azure Kubernete

[2019-09-12 22:25] scarolan opened #38838 "Creds no longer need to be stored as variables"
A better pattern would be to:

A.  Just use the built in credentials in cloudshell
B.  Store the service principal as system environment variables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version Independent ID: bd2884f3-831a-3761-0502-5eb1594872bd
* Content: [Create a Kube

[2019-09-12 22:44] mohakevin opened #38840 "Is it possible to use guest users to authentication?"
Hello,

is it possible to use guest users to integrate through Azure AD with RBAC integration?
I mean, if we set in the server and client app (SP), that it's going to be used by "Accounts in any directory" instead "Accounts in this organizational directory only". Is it possible for guest users in Azure AD groups to authenticate?
Or, is it only available for own accounts of that directory?
Maybe, i

[2019-09-12 23:32] TsuyoshiUshio opened #38843 "Access Policy with System Assigned Management Identity"
I follow this document to configure WebApp for Container with System Assinged Management Identity, however, it is not obvious how to configure access policy for system assigned management identity. I can eventually configure it to search the Application that has same name as webapp, however, I can't find it on the official doc, instead, I can guess that from the Jeff's post. https://medium.com/sta

[2019-09-13 03:15] hidwatanabe opened #38846 "Hive metastore export / import script"
The scripts to export/import Hive schema definition written in this doc didn’t work with HDI 4.0 cluster.
Should the scripts be changed to the beeline version as follows?
Export:

[code]

Import:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c706dd0-9a17-2257-5c1b-ff04d43f2c19
* Version Independent ID: 54c606

[2019-09-13 04:27] southerncoder opened #38847 "Stop unused VMs"
This content documenting instruction on how to stop a VM from the portal seems out of place in this article about using SSH/PUTTY to connect to an Azure VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49136714-cef0-5845-f621-0cd534a01060
* Version Independent ID: 55999c73-4ee9-24c4-4d17-62c8db8f8c3e
* Content: [Conn

[2019-09-13 05:26] Robab02 opened #38848 "Azure Metadata import error"
while importing the metadata to oracle fusion erp or even while entering the external link, following error is received at the erp end.

You must enter valid identity provider metadata. Ensure the metadata conforms to the SAML version 2.0 or higher standard.: schema_reference.4: Failed to read schema document 'http://docs.oasis-open.org/security/saml/v2.0/saml-schema-metadata-2.0.xsd', because 1)

[2019-09-13 06:06] geekGK opened #38849 "How to refresh token obtained in First Case (Access token request with a shared secret)"
Is there a way to refresh "access_token" obtained in successful first case scenario after "expires_in" time elapses?

[2019-09-13 06:29] geekGK opened #38850 "How to refresh token obtained in First Case (Access token request with a shared secret)"
Is there a way to refresh "access_token" obtained in successful first case scenario after "expires_in" time elapses? Something similar to refresh token that exists in AD (https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e02a6a-cd93-700d-0073

[2019-09-13 06:40] codevulture opened #38851 "How to Set Email for Security Recommendations?"
Security threats have options to configure email, but i could not find an option to email send security Recommendations when detected. Please let me know how to do so. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06951b9a-8933-8307-371a-e9b008eb8f65
* Version Independent ID: 7a5b1269-5397-17a5-634d-4e39773dbf

[2019-09-13 07:11] dcbrown16 commented on #35889
@MicahMcKittrick-MSFT can you also confirm that vTPM is not supported in Nested Hyper-V on Azure? I would assume that is the case but we have a customer asking.

[2019-09-13 07:24] DecorteHannes opened #38852 "Single Sign Out Request is sent to SingleSignOnService metadata URL"
Hello,
When performing a log out the log out request is sent to the SingleSignOnService URL (retrieved from the metadata of the external federated IDP) and not to the SingleLogoutService URL specified in the metadata. Is this by design or a bug?

In the example below to log out request is sent to [signonlocation].

&lt;IDPSSODescriptor WantAuthnRequestsSigned="true" protocolSupportEnumeration="urn

[2019-09-13 07:26] rgherta commented on #37776
All good, thank you

[2019-09-13 07:26] #37776 closed

[2019-09-13 07:26] DecorteHannes opened #38853 "Authentication URL list of allowed identity providers than can have different authentication URL than domain"
Hello,

how does one get added to the "where the authentication URL is one of these allowed identity providers (this list is subject to change)"?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841d3d8bd3
* Version Independent ID: 20af5f8d-479c-66ec-aacd-d3f9cb79c814
* Content: [Set up

[2019-09-13 07:31] BryanTrach-MSFT commented on #38292
@kvansaders outbound IP addresses on multi-tenant web apps are shared.

[2019-09-13 07:31] hecongy opened #38854 "Maybe wrongly rendered content"
Is the following part in the doc [Quickstart: Deploy an Azure Kubernetes Service (AKS) cluster using the Azure portal](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough-portal) wrongly rendered?

[code]

I think this should not be a code block.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965a7faf-668

[2019-09-13 07:31] BryanTrach-MSFT commented on #38292
@danzel Outbound IP addresses on multi-tenant web apps are shared.

[2019-09-13 07:43] #38832 closed

[2019-09-13 07:53] jpduffield opened #38855 "Documentation for NSG rules for VMs in load-balanced pools is incorrect"
[This page](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#azure-platform-considerations). states:

This is correct for inbound rules, but not for outbound rules.
For outbound traffic with a target that is a load balancer, the outbound NSG rule needs to use the target load balancer address as its destination.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-09-13 07:59] EagleWizard28 opened #38856 "Update obsolete TelemetryClient.Context.Properties"
Some sections of the documentation still use the obsolete TelemetryClient.Context.Properties.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#defaults

Please update the documentation to reflect the latest API updates with GlobalProperties and ISupporteProperties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-09-13 08:19] Rufus1123 commented on #38690
@omarsourour
That is correct, but the order doesn't really matter
If I have a LUIS resource in azure (both runtime and authoring), and a LUIS app, migrating nor adding a resource work properly.
I think there are two problems.
1 The website doesn't show you your subscription name if you don't choose the correct tenant immediately after loading the page. If you select a tenant that doesn't have a su

[2019-09-13 08:43] Mark-Allen-Perry commented on #38803
Many thanks.

The Azure diagrams on microsoft.com are very helpful and can easily explain what is needed and how it is connected.  In addition, many companies require architecture plans and these can assist a lot of people to produce those.

I thank you again and wish you a great day.

Mark-Allen
==

[2019-09-13 08:48] tmaheshwar opened #38858 "Consent for a permission at user level"
Hi, Consent with Admin login need to be given for all users, while working on a security group with few users; is it possible to restrict consent only to users who are in that security group for permissions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac43307-75d4-cb6f-e561-0dd9008f28c6
* Version Independent ID: 8fc

[2019-09-13 08:56] ratocego opened #38859 "Screenshots not actual"
The screenshots and steps used in this article are not up to date with the lsatest changes introduced in the Azure Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec88c2-d5ff-e727-cbe1-69bac94141ae
* Version Independent ID: 0b6d31a9-7767-73cb-857b-ad8aa81cdce5
* Content: [Manage App Service plan - Azure](https

[2019-09-13 08:58] Blightysoft commented on #38787
Hi Frank,

You have to set the Access control (IAM) and the Access policies, as shown here. That is isn't in the documentation.

To be frank, the MS documentation has always needed a serious editing. There are way too many documents and endless paragraphs of text. It actually makes it very difficult to find anything.

Kind regards, Paul.

From: "Frank Hu" <notifications@github.com>
To: "MicrosoftD

[2019-09-13 09:00] dvdgutzmann commented on #38780
I put some repro steps together.

	1. Create APIM instance
	2. Add blank API
	3. Set "http://httpbin.org/bearer" as Web service URL
	4. Set URL Scheme to http
	5. Add Get operation with URL / to the API
	6. Add an inbound policy to the operation to add an Authorization header with value "Bearer ABC"
	7. Add a Product and add the API to it
	8. Use Postman to send a GET request to the APIM Endpoint

[2019-09-13 09:21] KetanChawda-MSFT commented on #38780
@dvdgutzmann Thank you for providing the detailed steps.

@vladvino / @mikebudzynski can you please share your thoughts here?

[2019-09-13 09:24] liiamjones opened #38860 "Do Directory or Group level settings take priority?"
Hi, I've added the group.unified AllowToAddGuests setting at directory level and set to false.
I've then added the group.unified.guest AllowToAddGuests setting to a specific group and set to true.

I can no longer add guests to that specific group. It looks like the directory setting is overriding the group settings, is this expected? I imagined it to worked the other way round where more specific

[2019-09-13 09:24] neeleshray-msft commented on #38610
@Kazzan
You do not have to add the users in Sharepoint Online again with Azure AD B2B Collaboration.
Here's a [blog ](https://araihan.wordpress.com/2018/07/31/azure-ad-b2b-collaboration-with-sharepoint-online/)you can look at for detailed steps.

We will be closing this thread now. Please re-open and tag "@neeleshray-msft"  if you need further help.

[2019-09-13 09:24] #38610 closed

[2019-09-13 09:25] KetanChawda-MSFT commented on #38740
@axisc / @clemensv can you share your thoughts here ?

[2019-09-13 09:27] neeleshray-msft commented on #38767
@jeevansd Jeevan, could this be verified and corrected if necessary ?

[2019-09-13 09:34] AshokPeddakotla-MSFT commented on #38359
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-13 09:34] #38359 closed

[2019-09-13 09:40] adrianignat13 opened #38861 "Custom TelemetryProcessor order"
It is not clear from the article, when defining a custom TelemetryProcessor which sets the SamplingPercentage to 100 if it should be defined before or after the AdaptiveSamplingTelemetryProcessor. Looking at the code, it seems that the custom processor should come before the adaptive sampling one otherwise it will have no effect since the events have already been sampled once they reach the custom

[2019-09-13 09:43] CHEEKATLAPRADEEP-MSFT commented on #38756
@annaymj We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-13 09:43] #38756 closed

[2019-09-13 09:46] CHEEKATLAPRADEEP-MSFT commented on #38735
@dinesarun  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-09-13 09:46] #38735 closed

[2019-09-13 09:50] KrishnaG-MSFT commented on #38837
@scarolan Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-13 09:50] tiandklerk opened #38862 "Azure Data Lake Storage Gen2 (beta) cannot refresh in Power BI Online"
I have set up an ADLS enabled storage account created the relevant access required for my account to use the connector which is the Storage Blob Data Reader, and everything on power BI desktop seems to be fine. I then publish the report to Power BI Online, and go to set up the refresh, the dataset asks me to authenticate (as it usually does for new datasets), I go into edit credentials, set the au

[2019-09-13 09:51] SubhashVasarapu-MSFT commented on #38835
@brreisner, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-13 09:52] KrishnaG-MSFT commented on #38838
@scarolan Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-13 09:52] msrini-MSFT commented on #38691
@woutervanranst , I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-09-13 09:52] #38691 closed

[2019-09-13 09:53] SubhashVasarapu-MSFT commented on #38855
@jpduffield, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-13 09:53] KetanChawda-MSFT commented on #38820
@JDeanThomas The error you are getting is because `AzureWebJobsStorage` doesn't have the correct values in the local.settings.json file. When you have the Azure storage emulator installed locally and you set `AzureWebJobsStorage` to `UseDevelopmentStorage=true`, Core Tools uses the emulator. The emulator is useful during development, but you should test with an actual storage connection before dep

[2019-09-13 09:54] neeleshray-msft commented on #38826
@MicrosoftGuyJFlo John, "_Microsoft Edge_" browser should be removed from the Windows Server 2016 and Windows Server 2019.

[2019-09-13 09:55] SubhashVasarapu-MSFT commented on #38693
@blueelvis, I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2019-09-13 09:55] palma21 commented on #37918
That is internal traffic between the nodes. Not egressing from the vnet. You should not block internal traffic between the nodes in the subnet.
Yes we can include this.

[2019-09-13 09:56] KalyanChanumolu-MSFT commented on #38840
Thank you for the feedback. We are actively investigating and will get back to you soon.

[2019-09-13 09:57] VikasPullagura-MSFT commented on #38854
@hecongy Thanks for the feedback.
I have raised PR for doc change. The changes will be live once it is approved.

[2019-09-13 10:00] KalyanChanumolu-MSFT commented on #38848
@Robab02 Thank you for reaching out.
Is this related to a document on Github? Please help us with a link to the page so that we can route it to the appropriate team.

[2019-09-13 10:02] AshokPeddakotla-MSFT commented on #38572
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-13 10:02] #38572 closed

[2019-09-13 10:03] KalyanChanumolu-MSFT commented on #38856
@EagleWizard28 Thank you for the feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-09-13 10:05] tiandklerk commented on #36933
Hi @bensack not sure if you got it working, but I had the same issue, the account you create to access the ADLS Gen 2 should be assigned the Role of "Storage Blob Data Reader".

[2019-09-13 10:07] whut opened #38863 "Explain out of the box AKS roles and how to use them - reopening #21260"
Please describe in documentation how the build-in roles work, like already reported in #21260.

This was already reported in #21260, but that issue was CLOSED after sending links to some comments on GitHub and to some random blog post, instead of updating documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b

[2019-09-13 10:12] PramodValavala-MSFT commented on #38709
@ciaran036 Just following up here... Hope our previous comments help.

[2019-09-13 10:13] AshokPeddakotla-MSFT commented on #38552
@unstephenk Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-13 10:30] VikasPullagura-MSFT commented on #38802
@iricigor Thanks for the feedback on the doc.

I have raised a PR for the doc update, the changes will be live once it is approved.

[2019-09-13 10:36] tomygrenier commented on #38823
@SaurabhSharma-MSFT Hi!
I was referring to this : https://azure.microsoft.com/en-us/services/cognitive-services/bing-news-search-api/

But I realised with further requests that encoding problem came from the providers itself. The encoding was wrong on their Website.

Sorry for disturbing you.
Tomy

[2019-09-13 10:40] GiggaWatson opened #38864 "Omission : Prerequisite Device OU synch"
According to research , device OUs must be synchronized via Azure AD Connect , without that you will encounter errors :
"Client ErrorCode : 0x801c03f2
Server ErrorCode : DirectoryError
Server Message : The device object by the given id (guid) is not found."

Reference : https://nhogarth.net/2019/04/03/hybrid-azure-ad-tip-the-device-object-by-the-given-id-id-of-machine-is-not-found/

---
#### Docum

[2019-09-13 10:54] ld0614 opened #38865 "Windows Server 2012 is not in the supported Operating Systems table"
Based on the response to #36593 Windows Server 2008 R2+ is supported however 2012 (Non R2) is not in the supported list, is this just an oversight?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Content: [Update Manage

[2019-09-13 10:56] FernandoHidalgoSWBI opened #38866 "Help implementing cleanup scripts"
In case another poor soul has to suffer like I did to get this working I am going to leave here some useful information and corrections.

The script has been coded using the Az module. If you try to run it with the default "Azure Script" task it will tell you that "Get-AzDataFactoryV2Trigger" command is not valid.
I have tried to install the Az module but then it crashed with the existing AzureRM.

[2019-09-13 10:56] akshatthakar commented on #36229
the article mentions, the object id is common for azure public. In reality it is application name which is common. Object Id for Key Vault can be fetched from Registered Enterprise Applications and with "All Application" and start with "Azure" filter.

[2019-09-13 11:00] rolyon commented on #17421
Hi @mganeshphani
We finally got this article updated. Thanks for your patience.
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-external-users

[2019-09-13 11:01] rolyon commented on #17421
#please-close

[2019-09-13 11:01] #17421 closed

[2019-09-13 11:14] MickQuinlan commented on #38588
Hi @ManojReddy-MSFT, I'm just wondering if you have any update?

thanks

Mick

[2019-09-13 11:15] SwathiDhanwada-MSFT commented on #38800
Assigning content author @dcurwin for enhancing the table rendering

[2019-09-13 11:15] CHEEKATLAPRADEEP-MSFT commented on #38862
@tiandklerk Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataLake).

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types

[2019-09-13 11:18] CeciAc opened #38867 "SQLDB supports AZ in Japan East"
@masashioms commented on [Fri Sep 13 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2809)

Actually we can deploy SQLDB with AZ option in Japan East. But this document says AZ is not available for SQLDB in Japan East.
Is this because it is still in preview status?

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: cca70845-100f-2cfd-aba3-

[2019-09-13 11:20] CeciAc commented on #38867
Hi team,
I moved this here because the information the user is refering is in the en-US document as well
best regards

[2019-09-13 11:24] neeleshray-msft commented on #38850
@geekGK  Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:25] neeleshray-msft commented on #38851
@codevulture Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:26] RohitMungi-MSFT commented on #38684
@diberry Could we include a link to the documentation of the [App service](https://docs.microsoft.com/en-in/azure/app-service/) in the [setup qnamaker service ](https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/how-to/set-up-qnamaker-service-azure)page?
The endpoint is in the same region as the resource as only the endpoint keys are used to make a call to the KB.

[code]

[2019-09-13 11:26] neeleshray-msft commented on #38852
@DecorteHannes Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:26] neeleshray-msft commented on #38853
@DecorteHannes  Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:27] neeleshray-msft commented on #38858
@tmaheshwar  Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:28] neeleshray-msft commented on #38860
@liiamjones  Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:28] RohitMungi-MSFT commented on #38601
@aahill Could you please review the PR [38606](https://github.com/MicrosoftDocs/azure-docs/pull/38606) and sign-off the issue?

[2019-09-13 11:28] neeleshray-msft commented on #38864
@GiggaWatson  Thank you for your query. We will respond with the appropriate solution soon.

[2019-09-13 11:34] XmlmXmlmX commented on #35315
Also some regex examples would be nice. I'm not sure why `http(s?):\/\/((localhost$)|(localhost:\d+$))` does not work.
regexr.com/4kurg

[2019-09-13 11:34] ManojReddy-MSFT commented on #38588
@MickQuinlan I am experiencing the same behavior. I do not even see the permissions I configured for App2 in the consent screen. I have reached out internally to confirm the behavior. I will try to get an update as soon as possible.

[2019-09-13 11:43] ajaym2402 commented on #25026
Faced the same issue. The command Set-AzKeyVaultSecret throws an error telling that the Operation is 'Forbidden'.
Creating a Key Vault through the portal takes us through the setting up of access policies, where as the PowerShell command provides no such prompt/parameter.
Update this doc to reflect the required changes.

[2019-09-13 11:51] AshokPeddakotla-MSFT commented on #38614
@BhupalPatil I haven't found an example for your scenario, However, there is [FileNotification Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.filenotification?view=azure-dotnet) which you include in your code to get the details. It has the following properties.

BlobName
BlobSizeInBytes
BlobUri
DeviceId
EnqueuedTimeUtc
LastUpdatedTime

Hope this helps.

[2019-09-13 11:58] cephalin commented on #38182
@mrsmitty I can't reproduce the issue you mentioned and `GetAccessTokenAsync("https://database.windows.net/")` works by itself. However I'm glad you found a way for it to work for you.

#please-close

[2019-09-13 11:58] #38182 closed

[2019-09-13 12:18] Kazzan commented on #38610
Hi @neeleshray-msft, unfortunately seems not. At least now in SPO. When AAD is set to "Allow invitations only to specified domains (most restrictive)", AAD B2B SPO integration is turned on and we try to share in SPO to outlook.cz account (personal MSA account), it fails. But maybe just someone forgot to add outlook.cz as alias for outlook.com.

[2019-09-13 12:20] BhupalPatil commented on #38614
@AshokPeddakotla-MSFT , details are available however the blockers is how the notification will be caught at azure function side. very obvious design aspect, not sure why there is not solution provided for this scenario.

[2019-09-13 12:22] jakaruna-MSFT commented on #38840
@mlearned @jluk @sauryadas
Please add your comments.

[2019-09-13 12:29] RyanHill-MSFT commented on #38859
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-09-13 12:36] ram-msft commented on #38521
@jaiswati Thanks for the details. Can you please share the service.get_logs() details to troubleshoot.
Please follow the below sample that shows how to deploy your custom vision model to azure machine Learning.
https://github.com/datashinobi/customvision2AzureML
@areddish Can you please help on this.

[2019-09-13 12:43] SaurabhSharma-MSFT commented on #38867
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-13 12:47] SaurabhSharma-MSFT commented on #38863
@whut Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2019-09-13 12:49] SaurabhSharma-MSFT commented on #38849
@geekGK To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-13 12:51] SaurabhSharma-MSFT commented on #38848
@Robab02 To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either in MSDN or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience.

[2019-09-13 12:59] Roblarson commented on #38674
You did not address the second part of the issue, the required access control permissions. The permissions are different if you are downloading a .cer or a .pfx/pem file. I requested that the minimum permissions to download a pfx/pem cert be documented.

Robert Larson
Senior Domain Delivery Architect
Security and Infrastructure
Microsoft Services
Cell: 281.827.9083

From: souravmishra-msft <notifi

[2019-09-13 13:05] j-martens commented on #38471
#assign:@nibaccam

[2019-09-13 13:07] mazer-rakham commented on #13237
These instructions on the new one still do not work correctly.

[2019-09-13 13:08] ashemedai commented on #32725
This makes me wonder if the documentation is slightly out of date or if the link-local 169.254.169.254 just doesn't appear in the effective rules output of the NSG.

From [service tags](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags):

From [Azure platform considerations](https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#azure-platform-

[2019-09-13 13:11] #38521 closed

[2019-09-13 13:17] NavtejSaini-MSFT commented on #38866
@FernandoHidalgoSWBI Thanks for the feedback. We will check this and get back to you.

[2019-09-13 13:20] Pluc15 opened #38868 "This feature is partially available in Application Insights now"
This warning should be removed.

However, there's no option for `Category` when saving as a function in Application Insights so a warning for that should be added instead.

I have not tested the warning about functions within functions not working on Azure Monitor. I am unsure if it's a limitation for Application Insights as well.

Everything else seems applicable for both.

---
#### Document Deta

[2019-09-13 13:21] thevman commented on #38652
@TravisCragg-MSFT: what's the expected release date for this functionality?

[2019-09-13 13:22] AlcoaRuss commented on #38780
In case this context is helpful: Yesterday, I opened 119091324000136, wherein I raised the same issue but more broadly referencing an Identity Platform redirect from the backend API. Cannot trace in the management portal as @dvdgutzmann pointed out, and testing in the client returns

[2019-09-13 13:24] swinarko commented on #37363
The document has been updated and will be published soon.

[2019-09-13 13:37] jensf commented on #38639
Thanks Catherine,

Found an existing issue: [ https://github.com/microsoft/AzureStorageExplorer/issues/591 ]( https://github.com/microsoft/AzureStorageExplorer/issues/591 )
I vote bump up the priority.

Jens

-----Original Message-----
From: "Catherine Wang" <notifications@github.com>
Sent: Thursday, September 12, 2019 2:03pm
To: "MicrosoftDocs/azure-docs" <azure-docs@noreply.github.com>
Cc: "Jens

[2019-09-13 13:46] juandrn commented on #8454
It doesn't work in both ways, how you could automate it?, any idea?

[2019-09-13 13:47] #38854 closed

[2019-09-13 13:56] jameshowe commented on #24172
Unless I'm missing something, isn't this line redundant anyway? `dayOfMonth` isn't used anywhere.

[2019-09-13 13:56] NavtejSaini-MSFT commented on #38685
@leizhang1984 If there are no further questions at this time, we will go ahead and close this thread.

[2019-09-13 13:56] #38685 closed

[2019-09-13 13:57] NavtejSaini-MSFT commented on #38686
@leizhang1984 If there no further questions at this time, we will go ahead and close this thread.

[2019-09-13 13:57] #38686 closed

[2019-09-13 14:02] tiandklerk commented on #38862
Hi @CHEEKATLAPRADEEP-MSFT, I am sorry, but this is directly related to this article as this article discusses setting up the Azure Data Lake Storage Gen 2 (beta) connector, and if it does not work, is that not to do with the article?

[2019-09-13 14:11] bharathreddy123456 commented on #38621
Hi,

we tried to implement this yesterday but faced some issues as we are not using email address as user id. So we disabled app to get back to normal state, now all accounts become inactive, accounts become active only once user logins to Jira. Otherwise it is saying user doesn't exist when clicked on profile. we are not able to add LDAP users to jira groups or assign issues to individual users.

[2019-09-13 14:14] Pete1138 commented on #38830
I've not connected via SSMS, but I have a .NET application (in Service Fabric) that has accessed the database. Querying the connections to the database from the Azure Portal Query Editor, I get these (query editor I know, but the others I don't). Program_Name: MetricsDownloader ( DB31\WF-SpBYuHd0Mj5SoBX ),TdService ( NT AUTHORITY\SYSTEM ), BackupService ( DB31\WF-SpBYuHd0Mj5SoBX ), NodeAgent ( NT

[2019-09-13 14:16] winstonhenke-work commented on #38753
By different versions I mean more like major release versions. We support multiple partners each on a different version of our application simultaneously and older versions of the app will need an older version of the data factory.

Example if I need to spin up a version of our application from 2 years ago, I would need to deploy a version of the Data Factory from 2 years ago.

Or is having multip

[2019-09-13 14:16] KrishnaG-MSFT commented on #38865
@ld0614 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-13 14:17] KrishnaG-MSFT commented on #38868
@Pluc15 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-13 14:30] bharathreddy123456 commented on #38621
Not sure what happened, but this issue is resolved.
________________________________
From: Bharath Seelam <seelambharath@hotmail.com>
Sent: Friday, September 13, 2019 10:11 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; MicrosoftDocs/azure-docs <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Does this App supports when Jir

[2019-09-13 14:41] DixitArora-MSFT commented on #38759
@Infinitism I have assigned this to content author for further review and update as appropriate.

[2019-09-13 14:56] Alberto-Vega-MSFT commented on #38548
@unstephenk if you created a feedback request. Please share here for other users to upvote.

[2019-09-13 14:57] mrbullwinkle commented on #38856
@EagleWizard28, thanks for letting us know. I have created an internal work item and added it to our backlog. If you need an example for `ISupportProperties` in the interim before the updates to this doc are in place please refer to the code sample [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-collection#aspnet--aspnet-core).

[2019-09-13 15:11] diberry commented on #38684
@RohitMungi-MSFT Will go out with the morning publish. #please-close

[2019-09-13 15:11] #38684 closed

[2019-09-13 15:26] ram-msft commented on #38613
@wtam Thanks, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-13 15:29] jtuliani opened #38869 "Who can cancel a subscription?"
1st table says only account admin can cancel a subscription (and subscription admin/co-admin can not).

However, 2nd table says subscription admin/co-admin are equivalent to Owner. And https://docs.microsoft.com/en-us/azure/billing/billing-how-to-cancel-azure-subscription says Owners can cancel subscriptions.

That appears to be a contradiction.

Please can you clarify if subscription admins / co-

[2019-09-13 15:44] MicahMcKittrick-MSFT commented on #38807
adding @Azure/aks-pm

[2019-09-13 15:53] MicahMcKittrick-MSFT commented on #38807
Adding @MicrosoftDocs/aks-pm

[2019-09-13 15:53] derekrprice opened #38870 "HostId or Function Name?"
I would like to bind to the host name (referenced as HostId in some doc).  %AzureFunctionsWebHost:hostid% works when that is set explicitly, but I cannot access it when the default Host Id is used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbaa31-cfcc-4b8c-abe0-4efeaee3e4f0
* Version Independent ID: db65fc3d-d8b

[2019-09-13 15:58] SnehaAgrawal-MSFT commented on #38748
@shanberg1 Thanks for asking question! We kindly request you to share your question on [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazurewebsitespreview) or Stack [Overflow.](https://stackoverflow.com/questions/tagged/azure-web-app-service) We try to keep this GitHub channel scoped to just issues related to Azure [Docs.](https://docs.microsoft.com/en-us/azure/) Tha

[2019-09-13 16:06] BharathNimmala-MSFT commented on #38861
@adrianignat13  Thank you for your question and feedback, we will look into this and get back to you accordingly.

[2019-09-13 16:11] #38601 closed

[2019-09-13 16:17] sfiguemsft commented on #27197
@mdgattuso can you look into this please?

[2019-09-13 16:21] brentfunk opened #38871 "Wrong url to Packaged Managed App in GitHub"
Attn: The url is incorrect in the documentation.  Currently it is showing this ...

https://raw.githubusercontent.com/Azure/azure-managedapp-samples/master/samples/201-managed-storage-account/managedstorage.zip

... but should be this ...

https://github.com/Azure/azure-managedapp-samples/raw/master/Managed%20Application%20Sample%20Packages/201-managed-storage-account/managedstorage.zip

---
####

[2019-09-13 16:25] jctbak commented on #38173
I cannot get this to work either. I setup action rule to suppress all alerts from Azure database daily between 2am and 4am but I still get alerts during that time. During action rule configuration, in "With a recurrence" section, it says "Note: All times displayed are local.", so I provided times in my time zone (Central Time). Could this be a problem? Should I provide times in UTC?

[2019-09-13 16:29] MicahMcKittrick-MSFT commented on #38833
@ROSMITHJ-MSFT thanks for bringing this up. I have assigned this to the content authors to add to their backlog.

[2019-09-13 16:29] SaurabhSharma-MSFT commented on #37684
@borys86 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-13 16:29] #37684 closed

[2019-09-13 16:42] DalSoft opened #38872 "general-purpose v1"
We use General-purpose v1 because it is the "most economical choice" for our large workloads, please confirm that v1 a viable choice, and that there are no plans to retire v1 .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c9ef03f-cf87-a333-623b-afbd39fd75a2
* Version Independent ID: 7ab8460b-b303-c829-4c45-462be21b3

[2019-09-13 16:43] asoccer opened #38873 "Impact Level 5 Documentation does not match Compliance offering"
Good Evening,

The Azure Compliance Isolation Guide for Impact Level 5 does **not** match with your compliance offering documentation that is provided [here](https://gallery.technet.microsoft.com/Overview-of-Azure-c1be3942). For example, Azure Event Hub service on docs.microsoft.com states that EventHub can be used for IL5 workloads _however_ in your compliance offering page you state that Azure E

[2019-09-13 16:45] PatAltimore commented on #38240
The article has been updated to use the new version of Remix.

#please-close

[2019-09-13 16:45] #38240 closed

[2019-09-13 16:51] PramodValavala-MSFT commented on #38805
@DrakeLambert Just following up here... Hope my previous comment helps.

[2019-09-13 16:57] KrishnaG-MSFT commented on #38871
@brentfunk Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-09-13 17:00] laurenhughes commented on #38758
@MatthewSteeples, thanks for pointing this out! I added the Ev3 and Esv3-series VMs to the table (and a few others that were missing too). Updates should be live in a few hours.

#please-close

[2019-09-13 17:00] #38758 closed

[2019-09-13 17:01] PlateSpinner commented on #38873
Another example of a conflict the page has is about IL5 for Azure Import/Export. This page says [Import/Export can be used for IL5 data](https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-impact-level-5#azure-importexport) but Appendix B of the compliance PDF indicates it is not valid for IL5 (as of the Sept 19 version).

[2019-09-13 17:01] eosho opened #38876 "Examples on how to export multiple app and network rules"
In regards to Azure Firewall. I have a large data set of firewall config exported from my squid proxy, is there examples (script) or a way to export all that data into Azure firewall network rules (based on port) and app rules (based on fqdn) ?

Another issue is when a rule is applied, it automatically overrides all previous rules using automation is there is no append flag in powershell. How can

[2019-09-13 17:02] KrishnaG-MSFT commented on #38591
Assigned @tfitzmac for visibility, help and to provide insights.

[2019-09-13 17:04] NavtejSaini-MSFT commented on #38561
@SnehaGunda We are assigning this to you for further action as the user stories are not available for few users.

[2019-09-13 17:14] #38802 closed

[2019-09-13 17:21] ThomasWeiss commented on #38769
@SeanFeldman Thanks a lot for this suggestion, we agree that your version reads better! We'll update this doc shortly to reflect that.
#please-close

[2019-09-13 17:21] #38769 closed

[2019-09-13 17:28] MarileeTurscak-MSFT commented on #38869
@jtuliani
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-13 17:29] j-martens commented on #38613
@wtam are you on version 1.0.60 of the sdk?  If so, please upgrade or downgrade. this issue was fixed in later versions.

[2019-09-13 17:35] drdamour commented on #16325
@Grace-MacJones-MSFT i too am wondering how to auth multiple backends since the docs only explain how to reference one backend client

[2019-09-13 17:42] mike-urnun-msft commented on #38870
Hi @derekrprice - Thank you for your feedback! We will review and update as appropriate.

[2019-09-13 17:44] SaurabhSharma-MSFT commented on #38618
@Veteraanikoodari I do not think as a bug as "Users and Groups" are hidden in native applications as  you usually do not configure role assignments in native applications, you configure that at the webapp or wepapi end which native application consumes.  But you can edit the manifest and assign users by using "appRoles".  Please refer to [Application Manifest reference](https://docs.microsoft.com/

[2019-09-13 17:48] DrakeLambert commented on #38805
Hey @PramodValavala-MSFT. Thanks for the reply, but I was in search for more concrete numbers. After doing some very brief testing, I found that past ~2k calls per minute to the http event publishing endpoint, some requests started to fail. Of course, these results could be biased by a lot of things.

In any case, I am changing up our architecture to implement batching where possible.

[2019-09-13 17:49] MarileeTurscak-MSFT commented on #38822
We will proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue.

[2019-09-13 17:49] #38822 closed

[2019-09-13 17:50] ChristianMontoya commented on #28157
@alexdlevin : Azure AD-joined means joining your VM to Azure Active Directory, and that scenario is not supported. Joining to Azure AD Domain Services is supported.

[2019-09-13 18:00] chunla-ms opened #38878 "Share Integration Runtime using SDK"
Are there any documentation on how to grant permission to other Azure Data Factory with .NET SDK so I could create a linked IR?

I tried looking at the documentation of the IntegrationRuntimesOperation and could not figure out how I could do that.

Thanks,
Ray

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-820

[2019-09-13 18:01] jeefberkey opened #38880 "Example CSV doesn't work"
If you download the template and try to upload it without any changes, it says the file is invalid.

I also used to template to upload some other users following the same format of the example and it didn't work then either.
I'm not sure what valid CSV for this functionality looks like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-09-13 18:03] PatrickFarley commented on #37810
Hi @webtop, I'm sorry this was your experience. The issue was that our source code had recently changed, so the embedded code snippets were all showing the wrong lines.  I've since fixed the doc (and used a different embedding method so this won't happen again).

[2019-09-13 18:09] eross-msft commented on #38811
@mcetkovsky  @neeleshray-msft  Thank you for taking the time to comment.  We typically don't provide details around encryption and security risk for legal (if we miss something or say too much) and for protective (so hackers can't reverse engineer things) reasons. But in this case, we're working with the product group to see if there's more that we can share. The piece that I can share with you no

[2019-09-13 18:09] #38811 closed

[2019-09-13 18:09] SaurabhSharma-MSFT commented on #38300
@MikeGriffinReborn The [Version 1.3.1](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/) of AppAuthentication library is where a lock is made when a token is not found in the cache to retrieve a valid one. The cache itself is thread safe.

[2019-09-13 18:15] chetansriv commented on #10920
@sbgillett We are working with Mimecast team to get a clarification on the same but not getting enough responses from their side. Once we get it, we'll update the article accordingly.  Closing this request for now.

#please-close

[2019-09-13 18:15] #10920 closed

[2019-09-13 18:16] chetansriv commented on #12366
#please-close

[2019-09-13 18:16] #12366 closed

[2019-09-13 18:20] chetansriv commented on #16376
@brutelxr We have checked with Concur team and they confirmed that automatic user provisioning works today and their support team are fixing their messaging on the same.

#please-close

[2019-09-13 18:20] #16376 closed

[2019-09-13 18:22] sochan1 commented on #38792
@KrishnaG-MSFT - any update?

[2019-09-13 18:25] chetansriv commented on #17151
@suominen We are already aware about this issue and have a feature request with our engineering team to support AWS role with multiple Identity Providers and getting that role information in Azure AD. We don't have an ETA for this so closing this request for now.

#please-close

[2019-09-13 18:25] #17151 closed

[2019-09-13 18:31] chetansriv commented on #17157
@sderungs @jasondark93 G Suite doesn't provide Entity ID/Identifier value on Single Sign On configuration so when you switch off the domain specific issuer, the Identifier value will be google.com. If you turn this switch on, it will be google.com/a/<yourdomainname.com>. We'll add a note to say this specifically.

@v-pugoe @v-nagta please add a note as mentioned above

#please-close

[2019-09-13 18:31] #17157 closed

[2019-09-13 18:32] syndicatedshannon commented on #38555
Side note, I appreciate there are also software deficiencies related to this. For example, `RequestEntityTooLarge` is not self-explanatory, which is either a defect or places very heavy burdens on documentation.

[2019-09-13 18:33] PatrickFarley commented on #35773
Hi @rioriost , converting JSON to a database is outside the scope of a quickstart guide like this. But it is a useful scenario to document on its own, and I'll add it to my backlog

[2019-09-13 18:33] PatrickFarley commented on #35773
#please-close

[2019-09-13 18:33] #35773 closed

[2019-09-13 18:34] chetansriv commented on #17258
@Tiberriver256 We have updated the artcile to correctly point to the right SCIM end point, please review.

#please-close

[2019-09-13 18:34] #17258 closed

[2019-09-13 18:34] syndicatedshannon commented on #38555
Similar example: when I submitted a request to Verify audio I had previously Enrolled as Identification profile, I simply received a `BadRequest` response. It took me quite some time to realize this wasn't supported. Yes, documentation could have made this clear, but also the error really needs improvement.

[2019-09-13 18:37] chetansriv commented on #24672
@poloHex We are working with SAP team on this, we'll let you know when we hear back from them. For now, closing this thread.
#please-close

[2019-09-13 18:37] #24672 closed

[2019-09-13 18:47] chetansriv commented on #29915
@cmmdesai Just checking if you managed to update the article. Please let us know if you need any assistance form our side.

[2019-09-13 18:50] dkisselev opened #38881 "Typo in DNS Docs Landing Page"
This feedback is about: https://docs.microsoft.com/en-us/azure/dns/ (which doesn't have a direct docs feedback link)

The link to "Host your domain in Azure DNS" is typod as "Host you domain in Azure DNS".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829

[2019-09-13 18:51] chetansriv commented on #30100
@cap273 We are updating the article by adding a note to clearly say that until the bug is fixed from our side.
@v-pugoe @v-viinde Please get this updated

#please-close

[2019-09-13 18:51] #30100 closed

[2019-09-13 18:57] PatrickFarley commented on #38106
Hi @GiantCrocodile , All features are available in the free tier; the only reason they are written out explicitly in the S1 tier is because they are priced differently there. I've submitted a ticket to make this more clear on the page.
#please-close

[2019-09-13 18:57] #38106 closed

[2019-09-13 19:11] kyurthich commented on #14565
Figured it out thanks to https://blog.jongallant.com/2018/01/azure-function-config/

The following works:

[code]

[2019-09-13 19:21] daveRendon opened #38883 "Make this URL (https://myprofile.microsoft.com) open to a new window/tab"
User registration and management of FIDO2 security keys
Browse to https://myprofile.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78c66f8a-1c40-e31c-5c7e-7870b7d65e0c
* Version Independent ID: 3e8301bc-8e4d-ee23-8770-2f75e170e01a
* Content: [Enable passwordless security key sign in for Azure AD (preview)

[2019-09-13 19:24] Adam-Smith-MSFT commented on #38872
@DalSoft Thank you for the valuable feedback,we are investigating the issue.

[2019-09-13 19:48] mishakogan commented on #38584
@MicrosoftGuyJFlo - how can we get more information on this? If this feature is planned, who can we contact to get the information needed?

[2019-09-13 20:06] twinharbor commented on #38644
Any update on this? I still haven't found anything on this side and need to get my project wrapped up, hopefully there is a solution - thanks!

[2019-09-13 20:10] PatrickFarley commented on #37810
#please-close

[2019-09-13 20:10] #37810 closed

[2019-09-13 20:17] VanMSFT commented on #38644
@jaszymas - Can you help? Thanks!

[2019-09-13 20:19] jeevansd commented on #38767
@neeleshray-msft Yes we will reach out to Sugar CRM and confirm
CC: @chetansriv

[2019-09-13 20:24] juandrn commented on #8454
Well, I get an workaround, but not automatize 100%,  you can do It creating a WebJobs in the app service and with a php script do the backup using mysqldump, but I don't know if it's very safe

Azure Console Just For Test (You should make a script):
`"D:\Program Files (x86)\MySQL\5.7.9.0\bin\mysqldump" inventiolite -P 50618 -h 127.0.0.1 --password=6#vWHD_$ --user=azure --single-transaction  > d:\h

[2019-09-13 20:29] HeidiSteen commented on #32086
@Jimmywin Here is a new doc for modeling one-to-many relationship in Azure Search:  https://docs.microsoft.com/en-us/azure/search/index-sql-relational-data

I believe that I've addressed this issue but if you disagree or have further feedback, please don't hesitate to let me know.  Thanks again for posting the issue.

#please-close

[2019-09-13 20:29] #32086 closed

[2019-09-13 20:30] jeevansd commented on #38621
@bharathreddy123456 Note that Azure AD plugin does not support provisioning of users in your JIRA server. So this might be a different issue. Happy to see that it got resolved.

[2019-09-13 20:30] jeevansd commented on #38621
#please-close

[2019-09-13 20:30] #38621 closed

[2019-09-13 20:30] ryandle opened #38884 "Define whether OID claim is also 'immutable and cannot be reassigned or reused.'"
The definition for the `sub` claim says:

That is a very useful statement! Can the same be said about the `oid` claim? And if so, can we add that to the documentation for `oid`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b3674

[2019-09-13 20:34] tfitzmac commented on #38871
@brentfunk - thanks for making us aware of the issue. I have submitted a fix that will get published this afternoon.

[2019-09-13 20:38] #38871 closed

[2019-09-13 20:39] ChrisRobbers opened #38885 "No mention of Azure Functions telemetry filtering"
This page should probably cross-link to https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#configure-sampling to let people discover this feature easier. Especially since this is the page linked to the App Insights "Data received from your application is being sampled to reduce the volume of telemetry data retained; only sampled documents will be returned. The sampling may

[2019-09-13 20:39] tfitzmac commented on #38737
#please-close

[2019-09-13 20:39] #38737 closed

[2019-09-13 20:53] NavtejSaini-MSFT commented on #38878
@chunla-ms Thanks for your question. We are checking this and will get back to you.

[2019-09-13 20:57] bharathreddy123456 commented on #38621
Thank you. Is it because we are using alias as username not using email address ?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jeevan Desarda <notifications@github.com>
Sent: Friday, September 13, 2019 4:30 PM
To: MicrosoftDocs/azure-docs
Cc: bharathreddy123456; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Does this App supports when Jira is installed on Li

[2019-09-13 20:58] yvesgermain commented on #38737
My bad please close.

[2019-09-13 21:01] shashishailaj commented on #38578
@MicrosoftGuyJFlo Could you please review and share your thoughts on this ?

[2019-09-13 21:03] loic-sharma opened #38886 "Broken "Transaction Diagnostics Experience" link"
The "Transaction Diagnostics Experience" link is broken here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#next-steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3286f891-667a-997f-e3c5-53813352a068
* Version Independent ID: 6ef51bff-9cb4-ee07-9069-cf1bc9888881
* Content: [Trac

[2019-09-13 21:08] MicrosoftGuyJFlo commented on #38578
@darrenroback The permissions listed are correct

https://docs.microsoft.com/azure/active-directory/authentication/howto-sspr-writeback#active-directory-permissions.

I have tested this myself several times. The easiest way to get this right is to allow Azure AD Connect to create the account during setup. You can also take a look at the info in the troubleshooting article to verify the permissions

[2019-09-13 21:13] rolyon commented on #38869
Hi @jtuliani
I did a test with a Co-Administrator and it appears they can cancel a subscription. So I think both a Service Administrator or a Co-Administrator can cancel a subscription.

[2019-09-13 21:13] ClintBennett opened #38887 "Changing Lock Screen Image?"
When I change our lock screen image to the company logo on Windows 10 Pro, SSPR from the login screen no longer functions. If says "Please Waiting" and then goes right back to the lock screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2015c6c-60c7-bb74-469c-e9320301d08a
* Version Independent ID: 0ff19de6-c892-10f

[2019-09-13 21:13] tangp3 opened #38888 "GPV1 storage account not having classic deployment in the portal"
The Azure Portal can create GPV1 account under RM model only, there is no classic model to deploy GPV1, is this table under the section "Types of storage accounts" not updated ?

[2019-09-13 21:20] MicrosoftGuyJFlo commented on #38584
The best I can tell you is to provide the feedback using the product feedback tool at the bottom of the doc. That feedback being voted on there is how the product team identifies feature work to be completed. Within the docs platform we are unable to provide roadmaps or date guidance.

[2019-09-13 21:24] dkkapur commented on #38623
@maburlik @jkochhar  can one of you comment on the validation steps for a cluster upgrade config when the issuer is blank? Thanks!

[2019-09-13 21:28] dkkapur commented on #38813
EmptyDir volume is the way you want to go about using this space! As Micah pointed out though, using the local disk will result in having state that is not persisted in the case that the container group is restarted (could be a restart/stop command from you, or a reschedule of the container group from our infra side). HDD/SSD depends on the particular VM you end up on, and the local disk would be

[2019-09-13 21:30] AAniesh opened #38889 "RED ALERT! The web URL listed above is Misguiding"
Hello Team,
The web URL listed above for 'Download usage' is extremely misguiding. As per the steps listed below -
Download usage from the Account Center (.csv)
a) Sign into the Azure Account Center as the Account Administrator.
b) Select the subscription for which you want the invoice and usage information.

If you click on the 'subscription' post signing into Azure Account Center it will take yo

[2019-09-13 21:36] aahill commented on #28344
Closing this issue as I've reached out to the development team and made them aware of this.
#please-close

[2019-09-13 21:36] #28344 closed

[2019-09-13 21:38] MicahMcKittrick-MSFT commented on #38433
@AL71B the first doc you linked in correct. All the sizes listed support Gen2. So the error you are getting is likely something else.

What exactly was the error?

[2019-09-13 21:41] MicahMcKittrick-MSFT commented on #38308
@sandeepraichura each of the scripts that apply to the OS disk have commands to stop the VM before resizing. The part that does not include a stop is related to the Data Disks which you don't need to stop the VM.

At this point in time we are planning on leaving the doc as is. However if others find it confusing they can comment and we can always revisit in the future.

[2019-09-13 21:41] #38308 closed

[2019-09-13 21:42] Davilink commented on #38461
@SwathiDhanwada-MSFT Ok, i did it. Thanks.

[2019-09-13 21:44] MicahMcKittrick-MSFT commented on #38596
@donchai I have adjusted the article. Once the PR merges the changes will go live after a few hours.

[2019-09-13 21:44] #38596 closed

[2019-09-13 21:45] MicahMcKittrick-MSFT commented on #38813
Thanks for the confirmation @dkkapur

@ugumba I will go ahead and close this out for now but if you have further questions just let us know and we can always reopen this issue and continue the discussion.

[2019-09-13 21:45] #38813 closed

[2019-09-13 21:46] mohakevin commented on #38840
I haven't tried it.
I've just done and it worked with a guest user and with option "Accounts in this organizational directory only". Great
Sorry, i thought that it wasn't possible to connect with an external guest user.