[2020-11-11 05:56] nikhilboreddy opened #65863 "Does the tag DataFactory work for Azure Government clouds?"
Does the NSG tag 'DataFactory' work for Azure Government clouds?
https://azure.microsoft.com/en-us/global-infrastructure/government/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33fc045d-cec5-9c08-0eee-8af574b9e76f
* Version Independent ID: 94e41877-46e8-f5fa-f1f7-14714db3a447
* Content: [Azure Integration Runtime IP

[2020-11-11 06:13] HarithaMaddi-MSFT commented on #65863
@nikhilboreddy - Thanks for posting the question. I am looking into it and will get back to you soon.

[2020-11-11 06:22] pieterhancke opened #65864 "Basic authentication only"
Hi, why is API authentication limited to basic only and not OAuth as well? "Only Basic Authentication is currently supported. If you wish to use an API without Basic Authentication for development purposes, simply enter a dummy Username and Password that your API can ignore. For use with an Azure Function with an API key, you can include the code as a query parameter in the Endpoint URL (for examp

[2020-11-11 06:40] krish-gh commented on #58920
#reassign @psignoret

[2020-11-11 06:40] PRMerger16 commented on #58920
GitHub user krish-gh has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-11-11 06:52] SnehaAgrawal-MSFT commented on #65846
@razvansalajan Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-11 06:53] SnehaAgrawal-MSFT commented on #65850
@rachelxj-ms Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-11 07:02] vtieto opened #65866 "Couldn't Complete the Tutorial"
I hit a roadblock and couldn't get very far. "On the Project pane, go to Assets\AzureSpatialAnchors.SDK\Resources." I couldn't find the SDK. Doesn't seem to be in the project.

Also, some of the screen are outdated.

Vinnie Tieto
Technical Writer, MS Mixed Reality Team
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-11-11 07:14] pvrk commented on #65600
#please-close

[2020-11-11 07:14] #65600 closed

[2020-11-11 07:23] HarithaMaddi-MSFT commented on #65830
@spelluru - Can you please take a look and share your thoughts.

[2020-11-11 07:27] rhuanbarreto commented on #62811
This issue is still valid. No changes were made to the page.

[2020-11-11 07:28] AdhityaD commented on #65848
Thanks for your response. I am already debugging with println to check the variables and everything seems okay. i followed this tutorial [https://azure.microsoft.com/en-us/resources/videos/immersive-reader-sdk-part2-aad-authentication-configuration/](url) to get json output to embed to my apps. I try your advice to access my subdomain on the endpoint in the resource overview page but I get an erro

[2020-11-11 07:30] m1nkeh commented on #59675
tbh, this is on my to do list, but not very high due to current workload.

i will check back in to this as soon as i am able, and re-open if necessary 👍🏼

thanks, sorry for the lack of movement

[2020-11-11 07:35] YutongTie-MSFT commented on #65761
@gitathrun Hi Teng, thanks for your feedback. I just want to give you an update that I have reached out to the pm and I will let you know.

[2020-11-11 07:40] HarithaMaddi-MSFT commented on #65863
@nabhishek - Can you please take a look and share your thoughts on the ask

[2020-11-11 07:44] david-freistrom opened #65867 "Resource Groups drop-down list is empty"
I tried to replay you Tutorial to use NetworkWatcher for NSG flow logging.
https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-nsg-flow-logging-portal

I created a vmss while creating an AKS cluster. After that I enabled network watcher for the same subscription and tried to choose the resource group the vmss nodes was created in. But the list for ResourceGroups is still empty.

[2020-11-11 07:48] tesharp opened #65868 "Privatelink zone privatelink.azure.com breaks any communication with management.azure.com"
[Enter feedback here]

As per table of private dns zones we added all the zones in table including the latest one "privatelink.azure.com". Once we added that we started having some problems specifically when using P2S vpn with custom dns server. Azure portal stops working and az cli cannot reach any resources because `management.azure.com` have a CNAME record to `management.privatelink.azure.com`.

[2020-11-11 07:58] savjani commented on #56534
Sure @christiankuhtz . Could you or @malopMSFT propose the doc changes you are referring in this document and we can review it and merge it.

[2020-11-11 08:00] AshokPeddakotla-MSFT commented on #65814
@chinkl75 Yes, you can create personal dashboards. If you are an admin of the application, you will be given the option to create a personal level dashboard or an application level dashboard. If you create a personal level dashboard, only you will be able to see it. If you create an application level dashboard, every user of the application will be able to see it.

For more details, please see [Cr

[2020-11-11 08:00] HarithaMaddi-MSFT commented on #65449
@tfitzmac - Thanks a lot for helping answering the query.

[2020-11-11 08:04] Anmolgan81 commented on #65709
Please let us know on this customer is following up.

[2020-11-11 08:10] RohitMungi-MSFT commented on #65848
@AdhityaD I have tried the steps as mentioned in the video and I was able to create a new resource along with AD app details. This JSON output should help to run the app successfully.
![image](https://user-images.githubusercontent.com/46958063/98785936-5b59d000-2423-11eb-81a0-77102eb3c110.png)

[2020-11-11 08:12] neok-g opened #65869 "[Deploy to Azure] with GitHub repo"
Hi,
With regard to this issue #65797 the conclusion was that this [Deploy to Azure] button only works with an Azure DevOps public project.
For GitHub repo's I have 2 questions:

For GitHub repo's it works for both public and private repo's?
For GitHub private repo you need to have access to the repo?
Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-11-11 08:13] hamaker opened #65870 "AKS virtual node regional availability"
When trying to find the regions that support AKS virtual nodes, in the documentation there is a line that they are available in regions where "ACI supports VNET SKUs". While this might be technically correct, for a user this is of little use, more so because it take quite a few searches before you find the right bit of ACI documentation. Perhaps a link to the right resource could be included here?

[2020-11-11 08:23] MoulshreeSD commented on #65709
Is there any updates?

[2020-11-11 08:27] AdhityaD commented on #65848
I am done with that too, is there a way to test my API or my endpoint without embedding it into the apps? cause I think the problems come from the Azure cloud maybe the configuration or something else.

[2020-11-11 08:32] evertonmc commented on #60995
Are you guys ignoring the question here?

When you create a pg_server via terraform you can set the SP as AD-Admin, however you'll be unable to use its access token as password to login in pSQL.
Service Principals don't have access to the AD objects by default, which is necessary for the AD Admin to validate ad-objects.
BUT, even setting `Directory.Read.All` permission to the SP, i'm still getting

[2020-11-11 08:40] YutongTie-MSFT commented on #65644
@nareshnagpal06
There are NO active learning suggestion in your KB.  So, the UI automatically disable the feature, if none.

If there are active learning suggestion in the KB, it looks good. [see below, just verified]

![image](https://user-images.githubusercontent.com/38084098/98788928-64f91e80-23b6-11eb-8db0-337b0ec537c8.png)

Please refer to the documentation on how to pass implicit/explicit si

[2020-11-11 08:42] mtricolici opened #65872 "How to convert an existing AKS public cluster to a private cluster?"
How to convert an existing AKS public cluster to a private cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster - Azure Kubernetes Service](https://docs.mi

[2020-11-11 08:56] SadiqhAhmed-MSFT commented on #65404
@ChrisSommers Please use the following

New-AzRecoveryServicesAsrVMNicConfig -NicId <String> -ReplicationProtectedItem <ASRReplicationProtectedItem> -RecoveryPublicIPAddressId ‘’

Doc link: https://docs.microsoft.com/en-us/powershell/module/az.recoveryservices/new-azrecoveryservicesasrvmnicconfig?view=azps-4.8.0

Example:
# Get RPI which may have multiple NICs
$rpi = Get-AsrReplicationProtectedIte

[2020-11-11 08:56] Parin2112 commented on #52921
Hi
Any updates on this issue ?

[2020-11-11 09:00] SadiqhAhmed-MSFT commented on #65862
@keithcharlie Thanks for the comment. We will look into it and get back to you shortly.

[2020-11-11 09:01] SubhashVasarapu-MSFT commented on #65575
@saipraveen-a, we really appreciate your contributions towards Azure documentation. We have updated the document with all changes mentioned above and it would take some time for the changes to get reflect over the doc.

Also, about the error you mentioned earlier, DaemonSet, Deployment, StatefulSet, and ReplicaSet will no longer be served from (in the extensions/v1beta1 and apps/v1beta2 API groups

[2020-11-11 09:01] #65575 closed

[2020-11-11 09:14] psmanhas commented on #65870
@hamaker
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-11-11 09:15] psmanhas commented on #65870
@mlearned Can you please check and add your comments on this doc update request as applicable.

[2020-11-11 09:16] psmanhas commented on #65872
@mtricolici Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2020-11-11 09:17] grumm90 opened #65873 "Multinode with loadbalance proxy cant reach nodes"
Hi,

After installing Azure AD saml sso we can no reach the nodes as it redirects every time to the main URL and can't log in directly to nodes.
Jira saml sso MS app
We did everything according to this:
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/saas-apps/jiramicrosoft-tutorial.md

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-11-11 09:28] simonezzzz commented on #65432
Hello @duongau , sorry for the delay. I will create a PR accordingly.

[2020-11-11 09:29] #65768 closed

[2020-11-11 09:30] BhargaviAnnadevara-MSFT commented on #65768
@wguyman Thanks for the feedback. The change is merged internally and will go-live in the public docs shortly.

[2020-11-11 09:36] miroslav-staffa opened #65874 "Missing granting access for organization"
Hello,
I was setting up the provisioning based on this documentation and I think there could be some updates needed. I was having trouble in step 7. I added the Tenant URL based on your directions, however it didn't work. It authorized me in GitHub, but when testing the connection to the API endpoint, GitHub always responded with invalid credentials error. After a few minutes digging, I noticed th

[2020-11-11 09:40] miqm commented on #63779
Thank you.

[2020-11-11 09:43] RohitMungi-MSFT commented on #65848
@AdhityaD You could try this simple [quickstart](https://github.com/microsoft/immersive-reader-sdk/tree/master/js/samples/quickstart-csharp) solution and replace the values in the secrets file and run the application. I was able to use the above credentials and launch immersive reader in my browser.
![immersive_reader](https://user-images.githubusercontent.com/46958063/98795649-71ba5880-2430-11eb-

[2020-11-11 10:04] HarithaMaddi-MSFT commented on #65867
@david-freistrom - Thanks for posting the query. Our team is looking into it and will get back to you shortly.

[2020-11-11 10:09] HarithaMaddi-MSFT commented on #65873
@grumm90 - Thanks for posting the query. Our team is looking into it and we will get back to you shortly.

[2020-11-11 10:29] rayne-wiselman commented on #60928
@andresu13 Thanks for your feedback. This file has now been copy edited, and the edited version should publish later today.
@rashi-ms FYI
#please-close

[2020-11-11 10:29] #60928 closed

[2020-11-11 10:33] rayne-wiselman commented on #48696
The documentation has been clarified. I'm closing this. Thx
#please-close

[2020-11-11 10:33] #48696 closed

[2020-11-11 10:34] rayne-wiselman commented on #49515
Docs updated
#please-close

[2020-11-11 10:34] #49515 closed

[2020-11-11 10:40] rayne-wiselman commented on #52789
Thanks for your feedback. I added a link in this section to an article that explains how to prepare Windows Server 2003 machines for migration. I hope this addresses your request. The change should appear later today.

#please-close

[2020-11-11 10:40] #52789 closed

[2020-11-11 10:48] satterly commented on #60553
The python version (using requests and beautiful soup) ...
[code]

[2020-11-11 11:07] shashishailaj commented on #65847
@bryhall Thank you for your query. We will investigate and update the thread.

[2020-11-11 11:13] thommck opened #65875 "No explanation of v1 vs v2"
This Intro should tell us a bit about the difference between V1 and V2 of the baselines, e.g. why they changed, should we start with V2 in new environments, what approach to migrating from V1 to V2 etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f776b70-a31c-dc20-2aba-2e873ff0ff70
* Version Independent ID: 188968fd

[2020-11-11 11:30] kilasuit opened #65876 "Still relevant?"
Is this doc still relevant or has this been superseded by another mechanism?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a304f1aa-ac44-7831-2f2c-f827238fc50e
* Version Independent ID: 6610a9cc-2a03-5305-3378-392c4a1227ac
* Content: [Azure Functions Runtime Installation](https://docs.microsoft.com/en-us/azure/azure-f

[2020-11-11 12:14] evertonmc commented on #60995
Hi @lfittl-msft, do you have more info about this?

[2020-11-11 13:11] psignoret commented on #58920
@krish-gh If you're still able to reproduce this issue, please share the troubleshooting details of the sign-in attempt where consent was not allowed (click the "..." in the bottom-right of the sign-in page at the "Approval required" prompt and copy and share the correlation ID and timestamp). Alternatively, please open a support case, so that the support engineer can walk you through the troubles

[2020-11-11 13:12] shashishailaj commented on #65864
@pieterhancke Thank you for your query. We will investigate and update the thread.

[2020-11-11 13:26] abhilashmk opened #65877 "SSH console access section in the doc should only be present for Linux and should be removed from Windows"
SSH console access section in the doc should only be present for **Linux** and should be removed from **Windows**

Here is the doc where modification needs to be done
https://docs.microsoft.com/en-us/azure/app-service/configure-language-java?pivots=platform-windows#ssh-console-access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-11-11 13:28] jigsgithub20 opened #65878 "Wrong code written in blog"
[Enter feedback here]

In this blog, I have mentioned my feedback in commented line as /* */. Please check.

do
{
    retry = false;     /* This should be declared outside of the do loop, otherwise it gives build error*/
    TimeSpan? delay;   /* This should be declared outside of the do loop, otherwise it gives build error*/
    try
    {
         result = await publicClientApplication.AcquireTok

[2020-11-11 13:37] igor-mamaliga commented on #18258
today is 11/11/20 and VS2019 behavior is the same: the publish operation will delete all the previously created functions without any notification

[2020-11-11 14:03] AdelaManea opened #65879 "SQL Backup to URL does not work with immutable storage"
Hello,

I am a support engineer that had a customer attempt to use SQL backup to URL to a container with a legal hold on it. Based on what the cx has shown me on his Portal, it seems like when the SQL backs up to a container, it first creates a blob of size 0kb to which it then attempts to add blocks. Because the container is immutable, it does not allow the subsequent writes to that blob and ther

[2020-11-11 14:06] SAKARIYAKK opened #65880 "getting errors while connecting with cosmos db with this code"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7e8d08b-7c18-5407-dc4f-fa7bbfe53fb3
* Version Independent ID: da35a785-c7fe-57e8-2d02-3daefd0284da
* Content: [Use Azure Cosmos DB explorer to manage your data](https://docs.microsoft.com/en-us/azure/cosmos-db/data-explorer)
* Content Source: [articl

[2020-11-11 14:35] Nepomuceno opened #65881 "NetworkSecurityGroupFlowEvent, category does not exist"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/resource-logs-categories#microsoftnetworknetworksecuritygroups

NetworkSecurityGroupFlowEvent, category does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32bfe423-574d-4a5a-113c-47ccfaf1cd27
* Version Independent ID: 2b732976-7092-7707-3c57-e31dd

[2020-11-11 14:37] philip-reed opened #65882 "App Service CORS vs. your CORS"
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api#app-service-cors-vs-your-cors

This section of the document states that to use your own CORS configuration, then not to use APP Service CORS.
But it does not state how to actually do that.

Do I need to allow all (*) origins on App Service and let my app filter the origins?
What about the access control header?

H

[2020-11-11 14:39] shashishailaj commented on #65874
@miroslav-staffa Thank you for your query. We will investigate and update the thread.

[2020-11-11 14:41] shashishailaj commented on #65878
@jigsgithub20 Thank you for your feedback . We will engage with the content author for getting this reviewed and update the thread.

[2020-11-11 14:42] shashishailaj commented on #65878
@jmprieur Could you please help review the above ?

[2020-11-11 14:45] kevinka-msft opened #65884 "Test API Key still valid?"
Is the API Key under "Test enrollment for development" still valid or has it expired?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70716451-402a-451f-e66e-8dc6e60d0a05
* Version Independent ID: b6fbd03c-a8c2-5da2-b552-87e31c9cfe21
* Content: [Azure Enterprise REST APIs](https://docs.microsoft.com/en-us/azure/cost-man

[2020-11-11 14:47] shashishailaj commented on #65875
@thommck Thank you for your query. We have requested feedback on this from the content team ?

[2020-11-11 14:48] shashishailaj commented on #65875
@msmbaldwin Could you please help review the ask on this ?

[2020-11-11 15:11] realrubberduckdev opened #65885 "Docs vs behaviour - public access to your blob data - confusing"
Hi, the documentation says
[code]
But deploying a storage account sets public access to blob as enabled.
![image](https://user-images.githubusercontent.com/22910832/98828355-e214aa00-242f-11eb-8038-7c76d3d5f959.png)

Am I misreading the documentation or it needs updating or the storage accounts behaviour will be changed in near future?

---
#### Document details

⚠ *Do not edit this section. It is

[2020-11-11 15:16] oletho opened #65886 "I think I should have been warned :-)"
Came all the way through just to get this error in the script

Join-AzStorageAccountForAuth : Parameter -StorageAccountName 'mylongaccountname' has more than 15 characters, which is not supported to be used as the SamAccountName to create an Active Directory object for the storage account.

Back to the old drawingboard....

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-11-11 15:21] BryanTrach-MSFT commented on #65703
@Krishna-chinthireddy Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-11 15:21] #65703 closed

[2020-11-11 15:22] BryanTrach-MSFT commented on #65706
@abbaskiko Is there an error message that you can share with us?

[2020-11-11 15:23] BryanTrach-MSFT commented on #65721
@mustafasalahuldin Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-11 15:23] #65721 closed

[2020-11-11 15:29] BryanTrach-MSFT commented on #65615
@AndriySvyryd Please not that you need to enable the Entity Framework execution strategy for each DbContext connection if you want to have resilient EF Core connections. We will keep the document as is for now.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2020-11-11 15:30] Blackbaud-ChrisBlythe commented on #63988
@vishiy I already presumed this was due to the volume of metrics being scraped from pods (which we purposely enabled with 'monitor_kubernetes_pods' == true).

To provide some rough estimates, we're running approximately 950 pods. And based on some mining in log analytics, it looks like we're peaking at about 26k metrics per min between the crashes/restarts (which roughly equates to 28 metrics per

[2020-11-11 15:31] rajgang opened #65887 "Azured Shared Disk -Availability set configured with the fault domain and update domain set to 1"
As per the TechNet article for using Azure Shared we need to configure the Availability with the fault domain and update the domain set to 1. I have below queries

- What's the logic of setting it to 1?
- Would the SLA be 99.95 % with this setting as 1?
- Is there any impact if we set the value more than 1 for the fault and update domain?
- Can the setting be increased to more than 1?

Looking for

[2020-11-11 15:38] djoho opened #65888 "Azure and VM MTU clarification"
In the section "Azure and VM MTU" it is written that "The Azure Virtual Network stack will attempt to fragment a packet at 1,400 bytes." This is valuable information.

But the following chapter is too much assumption "Note that the Virtual Network stack isn't inherently inefficient because it fragments packets at 1,400 bytes even though VMs have an MTU of 1,500. A large percentage of network packe

[2020-11-11 15:44] KrishnaG-MSFT commented on #65869
@neok-g Thanks for your comment! We will review and provide an update as appropriate.
Tagging @tfitzmac for quick help and insights if any.

[2020-11-11 15:49] KrishnaG-MSFT commented on #65881
@Nepomuceno Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-11 15:52] KrishnaG-MSFT commented on #65884
@kevinka-msft Thanks for your comment! We will review and provide an update as appropriate.
Tagging @bandersmsft for visibility and to help provide insights if any.

[2020-11-11 16:12] JayaChatterjee-MSFT commented on #65574
@sgdesmet Following up to understand whether my previous comment helps and works out for the mentioned problem statement.

[2020-11-11 16:18] DerekHerman-MSFT commented on #65879
@AdelaManea
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-11 16:19] vishiy commented on #63988
@Blackbaud-ChrisBlythe - The reason we do this from replica (and not from daemon in each node) is to minimize the watch calls on API server (as pods are being watched thru API server watches), as this can grow based on number of nodes and can bring the apiserver and cluster inoperational. That said, we are looking to see if we watch thru local kubelet (rather than API server) so that we can avoid

[2020-11-11 16:23] mcollier opened #65889 "Documentation for Azure Functions host (OS) platform"
As an Azure Function developer creating a .NET Core Azure Function container image using a Microsoft-Hosted Linux build environment in Azure DevOps, it would be helpful to know the OS properties of the Azure Functions platform,
so that I can correctly author the pipeline and build the image in a manner to be deployed to and run successfully with Azure Functions.

It would be helpful to know the fo

[2020-11-11 16:27] matjazl commented on #64870
#sign-off

[2020-11-11 16:29] DerekHerman-MSFT commented on #65885
@realrubberduckdev
The sentence is talking about the container and blob data being private by default. The setting you highlighted is the storage account setting, which we mention two sentences later:
_"For enhanced security, you can disallow all public access to storage account, regardless of the public access setting for an individual container. Disallowing public access to the storage account p

[2020-11-11 16:32] DerekHerman-MSFT commented on #65886
@oletho Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-11 16:35] tomstyles opened #65890 "Link to Portal broken - needs www adding."
In the first Paragraph below the warning there is a link to the Customsearch.ai domain.
The link doesn't work because it is missing a www.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1385616-6ed0-e67e-0b82-115a59f410ec
* Version Independent ID: 871495dd-7659-6c3d-891e-5db897e3a10d
* Content: [Configure your Bing Cu

[2020-11-11 16:47] brettsam commented on #37273
Yes, this looks to be correct.

[2020-11-11 16:58] sbest-gcm opened #65893 "Role required for bacpac import?"
Can someone tell me which RBAC role gives the necessary permissions to import a bacpac into SQL Azure?

[SQL DB Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-db-contributor) and [SQL Server Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#sql-server-contributor) don't do it. There's no error, the import

[2020-11-11 17:00] anhlqn opened #65894 "Is Anomaly Score being recorded in the App Gateway Firewall Log"
Is the Anomaly Score part of the App Gateway Firewall log entries? We have WAF running in Prevention mode and the log only shows the Action as either Matched or Blocked but without any field/column for Anomaly Score. What does Matched mean in Prevention mode? I kinda interpret that Matched means Anomaly Score is less than 5, and Blocked means Anomaly Score is 5+ and the traffic is blocked? Could y

[2020-11-11 17:02] burtzz commented on #65816
Hi,

My apologies, I thought I was dropping this issue on the right branch.
My question is related with the following documentation.
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-staged-rollout

thanks

[2020-11-11 17:04] BharathNimmala-MSFT commented on #65816
@burtzz Thank you for sharing the documentation link, I will route the request accordingly. Our team will review and circle back to you at the earliest.

[2020-11-11 17:16] realrubberduckdev commented on #65885
Ah ok makes sense now. Thank you @DerekHerman-MSFT

[2020-11-11 17:16] #65885 closed

[2020-11-11 17:16] NavtejSaini-MSFT commented on #65880
@SAKARIYAKK We are checking this and will get back to you.

[2020-11-11 17:16] snpdev opened #65895 "Stop/start the Azure Database for MySQL using .NET SDK"
The document describes how to stop/start the Azure Database for MySQL using CLI or Azure Portal. I would like to use the .NET SDK, but cannot find documentation to show me how. Can a reference to the appropriate .NET SDK method be added to this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f639e1-f3fd-67b2-224

[2020-11-11 17:18] BharathNimmala-MSFT commented on #65868
@tesharp  Thank you for your query , our team will review and get back to you at the earliest.

[2020-11-11 17:18] NavtejSaini-MSFT commented on #65895
@snpdev We are checking this and will get back to you.

[2020-11-11 17:19] BharathNimmala-MSFT commented on #65866
@vtieto - Thank you for your query , our team will review and get back to you at the earliest.

[2020-11-11 17:25] abatishchev commented on #65342
@souravmishra-msft, @ChaitanyaNaykodi-MSFT please reopen.

[2020-11-11 17:29] ERGeorgiev opened #65897 "Building and tagging the image fails"
In the section "Build the container image and test locally", line "docker build --tag <DOCKER_ID>/azurefunctionsimage:v1.0.0" fails with ""docker build" requires exactly 1 argument.".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-a93d-2206-7ef9-a9

[2020-11-11 17:33] acarlstein commented on #32478
I found the issue to my problem. In `siteConfig`, the `remoteDebuggingEnabled` must be disabled.

[2020-11-11 17:43] spelluru commented on #60462
Done.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-sas#best-practices-when-using-sas

Thank you!

#please-close

[2020-11-11 17:43] #60462 closed

[2020-11-11 17:46] ARIT2018 opened #65898 "Incorrect CosmosDB Indexer reference for Blob Indexer Code Sample"
In the code sample that illustrates Blob Data Source Indexer , there is a typo that incorrectly references cosmosDBIndexer from previous section. This needs to be corrected such that it is blobIndexer.Name instead of cosmosDbIndexer.Name.

await indexerClient.CreateOrUpdateIndexerAsync(**blobIndexer**);

try
{
    // Run the indexer.
    await searchService.Indexers.RunAsync(**cosmosDbIndexer**.Na

[2020-11-11 17:47] DarrenWainwright opened #65899 "How to actually debug a function with a signalRTrigger"
I've been following this document and it's been super helpful up to the point of actually debugging.

I find the last paragraph, titled "Send messages to SignalR Service trigger binding" does not provide enough information and context to help someone starting out with a function app, signalR service and the signalRTrigger.

In short - how do you debug a local function app method that has the Signa

[2020-11-11 17:56] NicolasCandriam commented on #11491
Hi, I'm also interested to have the doc up to date, regards

[2020-11-11 17:58] souravmishra-msft commented on #65342
Hello @msmbaldwin, can you please take a look into this.

[2020-11-11 18:03] spelluru commented on #65014
@pmshenoy - It's published now. Thanks for reporting the issue.

#please-close

[2020-11-11 18:03] #65014 closed

[2020-11-11 18:03] spelluru commented on #65014
https://github.com/MicrosoftDocs/SecurityBenchmarks/blob/master/Azure%20Offer%20Security%20Baselines/1.1/service-bus-security-baseline-v1.1.xlsx

[2020-11-11 18:05] souravmishra-msft commented on #65342
Closing this thread as was requested by customer in the email.

[2020-11-11 18:05] #65342 closed

[2020-11-11 18:07] spelluru commented on #65661
Thanks for reporting the issues. Confirmed with the dev that both limits apply. So, updated both the tables:

Partitions - 1024 per event hub AND 2000 per CU

#please-close

[2020-11-11 18:07] #65661 closed

[2020-11-11 18:11] abatishchev commented on #65342
The issue was resolved by https://github.com/MicrosoftDocs/azure-docs-pr/pull/136468

[2020-11-11 18:13] YutongTie-MSFT commented on #65890
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 18:13] Blackbaud-ChrisBlythe commented on #63988
Thanks for the quick response @vishiy

Ah... additional load on the API server due to pod/container discovery... that makes sense.

Our primary goal is to scrape app/runtime metrics from the pods/containers, so scraping static, node-level URLs doesn't seem to accomplish that unless the target is somehow acting as a proxy or aggregator to all the pods on a particular node.

I'm curious about the HE

[2020-11-11 18:14] YutongTie-MSFT commented on #65898
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 18:16] SaiKishor-MSFT commented on #65888
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 18:16] blhubbard opened #65900 "Typo in AML architecture diagram"
The diagram under "Workspace" has a typo. Where it says "Azure Container _Registy_", it should say "Azure Container _Registry_".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e951c2-65b8-2bf2-5c67-f4b57fbab467
* Version Independent ID: e369876f-650d-c9f0-9f3b-d25c92e111cf
* Content: [Architecture & key concepts - Az

[2020-11-11 18:18] navyasric commented on #62811
@hamiltonha to comment on this as the msal.js PM

[2020-11-11 18:55] MarileeTurscak-MSFT commented on #65893
@sbest-gcm
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-11 19:04] jaspkaur28 commented on #37403
@umarhussain88 We have announced a Private Preview for Py3 cloud jobs, currently limited to 2 regions only : West Central US and Japan East. Please reach out to AzCommunity@microsoft.com  if your interested in participating in the Private Preview. Also if you are looking for Py3 support to be made available in a region of your choice, do let us know & we will enable that region for you. We would w

[2020-11-11 19:08] slavdok opened #65902 "Outdated references"
Document keep referring to "Create new Azure Active Directory", however the actual options in the Portal are "Create Tenant"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ce34b51-c8d3-32cc-6a22-7928fb522a05
* Version Independent ID: 59b90561-8d1e-6521-0f60-98fbfda70922
* Content: [Quickstart - Access & create new ten

[2020-11-11 19:09] vishiy commented on #63988
@Blackbaud-ChrisBlythe .  I think the issue is due to number of connections made every minute (to those PODs) to scrape (which ins direct proportion to number of pods watched & scraped across the entire cluster) rather than the metric volume. I don't think decreasing the frequency (to like 3/5 min) would help, but you can try.

Below is the HELM chart - https://github.com/microsoft/Docker-Provider

[2020-11-11 19:17] RyanHill-MSFT commented on #65877
Thanks for the feedback @abhilashmk! We'll make sure the doc gets updated appropriately.

[2020-11-11 19:20] rbrayb opened #65903 "Parameters for SAML Test"
"Update policy name, for example B2C_1A_signup_signin_saml
Specify this issuer URI. Use one of the URIs found in the identifierUris element in the application registration manifest, for example, https://contoso.onmicrosoft.com/app-name"

The policy name using the example files is "B2C_1A_SAML2_signup_signin"

The identifierUris element was blank but the value to use is:

https://samltestapp2.azure

[2020-11-11 19:22] RyanHill-MSFT commented on #65882
Hi @philip-reed, enabling CORS on the App Service will overwrite what you're using in the UseCors middleware. Can you include what `appSettings.CorsOrigin` is set to?

[2020-11-11 19:22] mcbsys opened #65904 "Incorrect Show PHP Version instructions"
The Linux version of this article advises to use this command to see the PHP version:

az webapp config show --resource-group <resource-group-name> --name <app-name> --query linuxFxVersion

When I run that with the appropriate resource group and app service name, I get

"DOCKER|appsvcorg/wordpress-alpine-php:0.72"

How do I see and control the PHP version inside the Docker container?

---
#### Doc

[2020-11-11 19:28] BharathNimmala-MSFT commented on #65876
@kilasuit Thanks a lot for bringing this to our notice, our team will review it and get back to you at the earliest.

[2020-11-11 19:32] daviburg opened #65905 "Detailed logging information for current release of SAP gateway"
"For on-premises data gateway releases from June 2020 and later, you can enable gateway logs in the app settings."

Add:
Default logging level is 'Warning'.
If you select 'Additional logging' in the on-premises data gateway configuration application, the logging level is increased to 'Informational'.
If that is not sufficient, you may further increase the logging level to 'Verbose' by updating to

[2020-11-11 19:40] MarileeTurscak-MSFT commented on #65902
@slavdok
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-11 19:42] Grace-MacJones-MSFT commented on #65384
Upon further review, we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary to align with your feedback.

@Juliako can you please look into this?

[2020-11-11 19:53] shohamMSFT commented on #55891
@VanMSFT Please go ahead and close this issue.

[2020-11-11 19:54] shohamMSFT commented on #60013
@VanMSFT Please go ahead and close this issue.

[2020-11-11 20:00] VanMSFT commented on #55891
#please-close

[2020-11-11 20:00] #55891 closed

[2020-11-11 20:00] VanMSFT commented on #60013
#please-close

[2020-11-11 20:00] #60013 closed

[2020-11-11 20:03] chriswess71 commented on #37403
Please include us in this private preview.

[photo]
Chris Wess
CEO and Managing Principal, Wintellisys., Inc
901-275-9036<tel:901-275-9036> | cwess@wintellisys.com<mailto:cwess@wintellisys.com>
www.wintellisys.com<http://www.wintellisys.com/> |  Book a Meeting on My Calendar Here<https://calendly.com/cwess>
6000 Poplar Avenue Suite 250 Memphis,TN

[https://dn3tzca2xtljm.cloudfront.net/social_icons

[2020-11-11 20:06] dazinator opened #65907 "Typo?"
I think that's meant to say P1V3 not P1V2 ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cfacf3d-4d48-317b-0c68-2f992ebb60bc
* Version Independent ID: 9f00811a-bbf8-91e9-238b-d28066e19c83
* Content: [Configure PremiumV3 tier - Azure App Service](https://docs.microsoft.com/en-gb/azure/app-service/app-service-configur

[2020-11-11 20:07] MicrosoftGuyJFlo commented on #65760
@SanDeo-MSFT Please review this issue.

[2020-11-11 20:08] MicrosoftGuyJFlo commented on #65760
#reassign @SanDeo-MSFT

[2020-11-11 20:09] MicrosoftGuyJFlo commented on #65113
@JairoCadenaMicrosoft Can you confirm this?

[2020-11-11 20:10] SnehaGunda commented on #60784
@chetansir Yes, the commands are working now. The output shows help content when you run them.

![image](https://user-images.githubusercontent.com/14284405/98859281-cb158e00-2416-11eb-9899-90c895a2b0db.png)

We will now close this issue.

[2020-11-11 20:11] SnehaGunda commented on #60784
#please-close

[2020-11-11 20:11] #60784 closed

[2020-11-11 20:11] rmtexas opened #65908 "THIS SUCKS"
You people cannot put together a SINGLE FUCKING WORKING EXAMPLE of an application hitting a damned Azure API endpoint to save  your fucking lives.  You give shitty snippets of doing perfunctory bullshit and nothing tangible.
You fucking suck
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 006699d8-

[2020-11-11 20:12] kmcneelyshaw commented on #65841
@jolauMSFT I was sent to this GH issue, that I believe is coming out of support request 120110524009993 .  Our additional ask would be that all cipher names be accompanied by the IANA hex codes, just to completely disambiguate.

[2020-11-11 20:14] ChaitanyaNaykodi-MSFT commented on #65889
Hello @mcollier,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-11 20:17] MarileeTurscak-MSFT commented on #65908
@rmtexas we have taken your feedback but I am closing this out because the language here is unnecessary.

cc @mmacy

[2020-11-11 20:17] #65908 closed

[2020-11-11 20:18] ChaitanyaNaykodi-MSFT commented on #65897
Hello @ERGeorgiev, Thank you for your feedback! We will review and update as appropriate.

[2020-11-11 20:18] ecfan commented on #65905
Thanks @daviburg, we've added a doc work item to our backlog.

[2020-11-11 20:18] apwestgarth commented on #65876
Adding @eamonoreilly I believe this document should be removed.

[2020-11-11 20:21] ChaitanyaNaykodi-MSFT commented on #65899
Hello @DarrenWainwright, Thank you for your feedback! We will review and update as appropriate.

[2020-11-11 20:22] AndriySvyryd commented on #65615
@BryanTrach-MSFT Yes, by all means add a link to https://docs.microsoft.com/ef/core/miscellaneous/connection-resiliency from the https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#modify-the-application-to-use-less-aggressive-retry-logic section

But my point is that referring to the DbContext pooling documentation is misleading as it is not rel

[2020-11-11 20:26] ecfan commented on #65905
#assign @lauradolan

[2020-11-11 20:28] ecfan commented on #65839
@MunozVictor, if you have any other questions, please add them here. For now, I'll close the thread.

@mike-urnun-msft: #please-close

[2020-11-11 20:28] #65839 closed

[2020-11-11 20:29] MicrosoftGuyJFlo commented on #65113
#reassign @JairoCadenaMicrosoft

[2020-11-11 20:29] PRMerger13 commented on #65113
JairoCadenaMicrosoft is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-11-11 20:31] eamonoreilly commented on #65876
We have a note at the top indicating to use Kubernetes as this solution is no longer being updated. I think we can remove this article as this note has been there for a long time.

[2020-11-11 20:35] Karishma-Tiwari-MSFT commented on #65601
You can achieve that by using

[Conditional Access - Block access by location - Azure Active Directory | Microsoft Docs](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-location#:~:text=%20Define%20locations%20%201%20Sign%20in%20to,up%20that%20location...%206%20Choose%20Save%20More)

And the lowest you get with MFA is 1h.

[Configure authe

[2020-11-11 20:35] #65601 closed

[2020-11-11 20:43] toddysm opened #65909 "Firewall rules get continuously updated and cut access to the VM"
The firewall rules that are set on the VM's NSG seem to be updated continuously by some background task and cut the access to the VM. This makes it very inconvenient for prototyping pursposes.

![image](https://user-images.githubusercontent.com/1007103/98862309-89d3ad00-241b-11eb-9e2a-b3892f3000bb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-11-11 20:52] SnehaGunda commented on #65326
@drdamour Added a link to the EF core docs. We will close this issue now.

#please-close

[2020-11-11 20:52] #65326 closed

[2020-11-11 20:54] toddysm commented on #65909
Also, as a best practice, firewall rules should be spaced out so additional rules can be added.

[2020-11-11 20:57] casocha opened #65910 "Ingestion sampling caveat"
[Enter feedback here]
Please improve the note under ingestion sampling.

"Important

If adaptive or fixed rate sampling methods are in operation, ingestion sampling is disabled."

It should mention that if data is excluded at the SDK level it will still be sampled upon ingestion.

"If adaptive or fixed rate sampling methods are in operation, ingestion sampling is disabled. If you exclude a telemet

[2020-11-11 21:14] SnehaGunda commented on #63429
@pradeep20mce It depends on what you want to achieve. Instead of reading the item before creating, you can also use Upsert directly, which would create or update the document. But sometimes users don't want to update the existing items.

It is true that Reading and then Creating might consume more RUs than calling Create and handling the 409, The problem is that a 409 can also happen with a confli

[2020-11-11 21:15] rocketraman opened #65913 "No information about attaching to an ACR with private link"
There is no information on this page about attaching to an ACR with private link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed59d472-ac33-5c03-dbb7-0e86e88c7dd8
* Version Independent ID: 69e1ad8c-2dd3-cc1b-2b31-996a5d866cc0
* Content: [Integrate Azure Container Registry with Azure Kubernetes Service - Azure Kubern

[2020-11-11 21:17] rayhitv opened #65915 "OATH software and hardware tokens not listed as method for SSPR"
[Enter feedback here]
In the section 'How each authentication method works' the OATH software and hardware tokens are only listed as secondary authentication methods for MFA, while since august 2019, these tokens are also supported for SSPR:
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new-archive#users-can-reset-their-passwords-using-a-mobile-app-or-hardware-token-ge

[2020-11-11 21:17] SnehaGunda commented on #63429
We will close this issue now. If you have further questions, feel free to reopen.

#please-close

[2020-11-11 21:17] #63429 closed

[2020-11-11 21:38] asears opened #65917 "Provide Powershell, Terraform Examples in addition to az cli commands"
Other services provide Powershell Az module examples.  In addition to az cli, Powershell examples could be shown for updating Function appsettings, configuration, security and managing Azure App Config import/exports of AppSettings.

Terraform and other IaC providers could also be shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-11-11 21:39] dlew56 commented on #49275
@jethrovaneetvelde I didn't see reference to **etag** in the [documentation](https://docs.microsoft.com/en-us/azure/azure-monitor/samples/resource-manager-workspace#configure-a-log-analytics-workspace) FYI.
But it is working for me as well.

[2020-11-11 21:53] rbschneider commented on #65907
Thank you! Opened PR: https://github.com/MicrosoftDocs/azure-docs/pull/65918

[2020-11-11 21:58] PeterCLu commented on #65900
#assign:@sdgilley, can you update the source image to fix the typo?

[2020-11-11 21:58] PRMerger20 commented on #65900
sdgilley, is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-11-11 21:59] dlew56 opened #65919 "Existing Microsoft.Insights/actionGroup returns 404 when deployed again"
When I deploy a template against an existing actionGroup, I sometimes get this full 404 error - it is intermittent though unfortunately:

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{"code":"NotFound","message":"{\r\n \"error\": {\r\

[2020-11-11 22:01] hamiltonha commented on #62811
Fixed with this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/137399 (Note should be only in portal, formatting issue fixed)

[2020-11-11 22:01] SnehaGunda commented on #63384
Thanks, @TheovanKraay for updating the sample. Because the second part is a portal issue, It doesn't make sense to open a new issue in the docs repo. I dropped an email to the portal team to fix it.

#please-close

[2020-11-11 22:01] #63384 closed

[2020-11-11 22:14] RonnieQuan commented on #65729
@harelbr  Thank you! Let me try that.

[2020-11-11 22:16] MonikaReddy-MSFT commented on #65919
@dlew56 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-11 22:23] spelluru commented on #60718
#in-progress

[2020-11-11 22:31] jolauMSFT commented on #65841
@SubhashVasarapu-MSFT . Can you please incorporate the customer's feedback posted above and  look to include the IANA hex codes across the document to remove any ambiguity?
Please also confirm we can track progress of this item using this GitHub issue so that customer has visibility.

[2020-11-11 22:34] SnehaGunda commented on #64610
@dArignac I am checking with our team if [Gremgo](https://github.com/qasaur/gremgo) is officially supported, if not, I will merge the above PR that has a link to your project with the caveat that Microsoft doesn't offer its support.

[2020-11-11 22:38] b-juche commented on #63692
@samueljamkhandi-MSFT - In discussion with our technical team, it is determined that we won't implement the suggested change.  But if situations arise that require further investigation, please reach out by either email or GitHub.  Thanks again for your contribution!

#please-close

[2020-11-11 22:38] #63692 closed

[2020-11-11 22:41] MonikaReddy-MSFT commented on #65777
@atwerae - Can you please share with us the URL of the document that you are looking at ?
Thank you for your understanding.

[2020-11-11 22:50] rbschneider commented on #65821
@pavlism

I may have found a workaround:

Try going back to VS Code and clicking the "Waiting for Azure server" (working) link at the top of the Azure plugin, where you just clicked "Sign in to Azure'. For me, the browser initially opened a new window displaying a "Enter the code from your device", which I left open and clicked the login in VS again. Then the MS server asked which account to use.

[2020-11-11 23:20] gfaraj commented on #47611
@NunoBem I'm not exactly sure what your question means. I do have an iOS app with Sign In with Apple, but I don't use AD B2C, I just use App Service authentication and manage the users myself.

[2020-11-11 23:27] SatishBoddu-MSFT commented on #65909
Hello @toddysm
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-11 23:32] kberawala opened #65923 "Documentation Current ?"
Is the documentation on this page current ?
Point 7: Under Redirect URI (optional), select Web and enter https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/oauth2/authresp in the text box. Replace <tenant-name> with your Azure AD B2C tenant name.
this doesn't seem to work with correctly replaced values.

Thanks

---
#### Document details

⚠ *Do not edit this section. It is required f

[2020-11-11 23:37] tfitzmac commented on #65815
@anthony-c-martin - thanks for this feedback. I have submitted an update that shows the new scope property. It should get published tomorrow morning.

[2020-11-11 23:37] tfitzmac commented on #65815
#please-close

[2020-11-11 23:37] #65815 closed

[2020-11-11 23:47] ChaitanyaNaykodi-MSFT commented on #65598
Hello @jozbone, Thank you for the feedback provided, I have made a PR to address the issue and it is currently pending review. I will now proceed to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-11-11 23:47] #65598 closed

[2020-11-11 23:50] frankdrewes opened #65924 "Error on invoke-restMethod in PS code"
[Enter feedback here]
If you have multibyte characters contained in your B2C TrustFramework policy, the PowerShell  'Invoke-WebMethod' POST method may incorrectly identify the content as iso8859-1

This is easily reproducible. Include this string in your policy "¿Olvidó su nombre de usuario?" The 1st and 6th characters are replaced with '?' on upload

The following is one method to fix this issue

[2020-11-11 23:55] #65923 closed

[2020-11-12 00:19] tfitzmac commented on #65869
@neok-g - generally, this button works best with a public repo. You can use a private repo but then you must include a token in the URL. This token expires quickly so the link would only work for a short time.

I have added that info to the article.

[2020-11-12 00:19] tfitzmac commented on #65869
#please-close

[2020-11-12 00:19] #65869 closed

[2020-11-12 00:22] ChaitanyaNaykodi-MSFT commented on #65781
Hello @mieliespoor, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-11-12 00:23] pavlism commented on #65821
Hey Robert,

Thanks for the idea.  I actually eventually got it to work, my comment was
more the help section of the site didn't cover the issue I had.

Mark.

On Wed, 11 Nov 2020 at 17:50, Robert Schneider <notifications@github.com>
wrote:

--
*Mark Pavlis*

[2020-11-12 00:27] Karishma-Tiwari-MSFT commented on #65720
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-12 00:28] rjosephp opened #65925 "Subnet size considerations for Application Gateway scaling"
As per the documentation in this [page](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#size-of-the-subnet)

_Application Gateway uses one private IP address per instance, plus another private IP address if a private front-end IP is configured. Azure also reserves five IP addresses in each subnet for internal use: the first four and the last IP addresses._

[2020-11-12 00:29] Karishma-Tiwari-MSFT commented on #65887
Can you please share the Technet article link as well? Thanks.

[2020-11-12 00:30] Karishma-Tiwari-MSFT commented on #65913
Here is the article on [Connecting privately to an Azure container registry using Azure Private Link](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link)

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-11-12 00:30] #65913 closed

[2020-11-12 00:38] ChaitanyaNaykodi-MSFT commented on #65828
Hello @joshhayskr, the requested change has been made to the document. Thank you for the feedback. I will now proceed to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-11-12 00:38] #65828 closed

[2020-11-12 00:57] marciomocellin opened #65926 "How to do a "Model.deploy" inside a "PythonScriptStep"?"
I have an [AutoML Pipeline](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-use-automlstep-in-pipelines) em a need to do an [deploy models](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli)

[code]
I created the following script
[code]
But I need to define [```inference_config```](https://docs.microsoft.com/en-us/azure/machine-learning/how-t

[2020-11-12 01:11] AdhityaD commented on #65848
I have already solved the problem it's because of a wrong configuration in azure application. Thanks for your response and help

[2020-11-12 01:11] #65848 closed

[2020-11-12 01:20] spelluru commented on #60718
Worked with the product team to update the article.

#please-close

[2020-11-12 01:20] #60718 closed

[2020-11-12 01:20] gvashishtha commented on #65926
@marciomocellin why are you trying to run Model.deploy() within a pipeline? If you're looking for batch scoring, check out [ParallelRunStep](https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/machine-learning-pipelines/parallel-run). If you're trying to deploy the model as a REST endpoint, check out [this repo](https://github.com/microsoft/MLOpsPython)

[2020-11-12 01:20] spelluru commented on #59641
#in-progress

[2020-11-12 01:21] spelluru commented on #61376
#in-progress

[2020-11-12 01:55] marciomocellin commented on #65926
Because ```model_data``` comes from an pipeline. Can I do this with an ```AutoMLStep```?

[2020-11-12 01:58] gvashishtha commented on #65926
So your scenario is to take the model stored at model_data and deploy it as an endpoint?

[2020-11-12 02:01] marciomocellin commented on #65926
Yes

[2020-11-12 02:01] gvashishtha commented on #65926
Follow these steps to write a scoring script: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli#define-an-entry-script

For a full example, see [this one](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and-where?tabs=azcli#writing-run)

[2020-11-12 02:04] SaurabhSharma-MSFT commented on #65709
@Anmolgan81 @MoulshreeSD After looking into the sample, I do not think the way pipeline is written deletes can be handled.  You may need to follow another approach like using CDC as described [here](https://docs.microsoft.com/en-us/azure/data-factory/tutorial-incremental-copy-change-tracking-feature-portal).

[2020-11-12 02:17] BharathNimmala-MSFT commented on #65894
@anhlqn Thank you for reaching out and sharing your feedback, our team will review it and circle back at the earliest.

[2020-11-12 02:37] GitaraniSharma-MSFT commented on #65925
@rjosephp , thank you for your feedback. We'll review this and get back to you shortly.

[2020-11-12 02:38] sunilagarwal opened #65930 "Storage provisioned capacity"
P10 provisioned IOPS is 100 MB/sec. The document mentions very low number

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6dcff8-b7b3-68b3-2364-dffa15b28356
* Version Independent ID: 6401288f-c695-2d25-1198-07b237242005
* Content: [Managed disk bursting - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/

[2020-11-12 02:42] rocketraman commented on #65913
Thanks, I'd already done all that and it still wasn't working. The missing information was that I needed to detach the ACR from the cluster and reattach it. Then it worked.

[2020-11-12 02:43] rocketraman commented on #65913
@Karishma-Tiwari-MSFT Thanks, I'd already done all that and it still wasn't working. The missing information was that I needed to detach the ACR from the cluster and reattach it. Then it worked.

[2020-11-12 02:52] ccarns opened #65931 "Missing msg.complete()"
Using azure-servicebus==0.50.3 There is no **msg.complete()**

as referenced in this code:

[code]

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cc0278b-7324-095c-9806-771bcf3a50ba
* Version Independent ID: 8c96e464-3115-16a2-43ad-7160aca08c9f
* Content: [Quickstart: Use Azure Service Bus topics and subscriptions with Py

[2020-11-12 02:54] ansh0507 opened #65932 "issue while running Docker run"
[getting the error while trying to run the docker run command "Starting OpenBSD Secure Shell server: sshd/etc/ssh/sshd_config line 17: Deprecated option RhostsRSAAuthentication
/etc/ssh/sshd_config line 18: Deprecated option RSAAuthentication"
![Docker_issue](https://user-images.githubusercontent.com/42663888/98889711-74648e80-24c0-11eb-8d53-6de1f44e5336.PNG)
]

---
#### Document Details

⚠ *Do no

[2020-11-12 03:05] GitaraniSharma-MSFT commented on #65925
@rjosephp , in this [doc](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-infrastructure#size-of-the-subnet), it is also mentioned as below:

Application Gateway **(Standard or WAF) SKU can support up to 32 instances** (32 instance IP addresses + 1 private front-end IP + 5 Azure reserved) – so a **minimum subnet size of /26 is recommended.**

Application Gateway **(Standar

[2020-11-12 03:16] slave02 opened #65933 "Gen5 is available in most regions worldwide - which regions?"
re section:
Hardware availability
Gen4/Gen5

Gen4 hardware is being phased out and is no longer available for new deployments. All new databases must be deployed on Gen5 hardware.

********Gen5 is available in most regions worldwide*********.

If I wanted to show a customer at a glance around the regions where the Generation 5  Compute is available - ''most regions'' isn't helpful, what are the sp

[2020-11-12 03:27] VikasPullagura-MSFT commented on #65907
@dazinator Thanks for pointing this out. The doc changes has been initiated by @rbschneider and are under review. The doc will be updated once it is approved.

@rbschneider Thanks for updating the document.

[2020-11-12 03:27] #65907 closed

[2020-11-12 03:34] choward84 opened #65934 "Premium Page blob VS Premium Block blob?"
[Enter feedback here]

Which can get better performance?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independent ID: 7f8c5d56-2382-de90-dcaf-6fc87706a3be
* Content: [How to mount Azure Blob storage as a file system on Linux](https://docs.microsoft.com/en-us/azure/storage

[2020-11-12 03:37] pmshenoy commented on #65014
Thank you. I see it now.

On Wed, Nov 11, 2020 at 1:03 PM Sreedhar Pelluru <notifications@github.com>
wrote:

[2020-11-12 03:56] spelluru commented on #63553
@jlichwa - Can you please look into this issue? Should it be submitted as an idea on https://feedback.azure.com/forums/906355-azure-key-vault? Thanks.

[2020-11-12 04:02] KalyanChanumolu-MSFT commented on #65933
@slave02 Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-11-12 04:06] jlichwa commented on #63553
@spelluru - currently if secret exist (not deleted) it will publish expiry event. Event handler would need to make a call to key vault to check if secret is disabled. UserVoice is good idea ( https://feedback.azure.com/forums/906355-azure-key-vault).

[2020-11-12 04:08] SwathiDhanwada-MSFT commented on #65635
Assigning to content author @anuragdalmia for review and updating document if necessary

[2020-11-12 04:18] leroydsouzapact opened #65935 "More details needed"
[Enter feedback here]
There's very little detail in here for an organisation to effectively delegate access to WVD.
For e.g. I may want to assign Level 1s access to modify application groups or have Level 2s the ability to perform more granular activities like create a new app etc .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-11-12 04:36] ram-msft commented on #65730
@jsburckhardt Thanks for the feedback. Raised a  PR #https://github.com/MicrosoftDocs/azure-docs-pr/pull/137173 for the updates.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-12 04:36] #65730 closed

[2020-11-12 04:45] AjayKumar-MSFT commented on #65904
@mcbsys,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-11-12 04:47] AjayKumar-MSFT commented on #65917
@asears, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-12 04:49] BharathNimmala-MSFT commented on #65903
@rbrayb Thank you for your feedback, our team will review it and get back to you at the earliest.

[2020-11-12 04:49] AjayKumar-MSFT commented on #65932
@ansh0507,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-11-12 04:59] AjayKumar-MSFT commented on #65923
@kberawala, Thanks for leveraging Azure docs feedback channel to raise this question. While we review the doc steps, we notice that you have closed this thread, kindly do let us (@shashishailaj)  know if you need further assistance on this or you have figured-out the problem, we would be more than happy to connect further.

[2020-11-12 05:10] VikasPullagura-MSFT commented on #65930
@sunilagarwal
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-11-12 05:10] VikasPullagura-MSFT commented on #65930
@albecker1
Can you please check and add your comments on this doc update request as applicable.

[2020-11-12 05:12] desplesda opened #65940 "Sample video URLs for Face Redactor are dead links"
The sample video URLs for the Face Redactor documentation fail to play in the Azure Media Player demo, and when I check the underlying URL that the player is trying to load, I find that they're dead links.

The two links are:

* Input Example (https://ampdemo.azureedge.net/?url=https%3A%2F%2Freferencestream-samplestream.streaming.mediaservices.windows.net%2Fed99001d-72ee-4f91-9fc0-cd530d0adbbc%2FD

[2020-11-12 05:34] BharathNimmala-MSFT commented on #65502
Thank you @Harsha-CS for helping review this thread.

Apologies @ababdul  for the delay on this. We are having have some internal discussion and I have assigned the issue to @Harsha-CS to further review and update the document accordingly.

[2020-11-12 05:42] souravmishra-msft commented on #65744
Hello @JeremyTBradshaw, thank you for reaching out. You are absolutely correct, you need to use the mentioned Rest APIs to request the activity logs from Azure AD inside Azure Monitor: https://docs.microsoft.com/en-us/rest/api/monitor/activitylogs/list

Hope this helps.

[2020-11-12 05:52] Dhananjay1992 commented on #39773
There is no way we can deploy RI in unsupported region. Microsoft must think about it that they loose good customers from India or those unsupported region. When I was doing POC on azure technical things went well and when I considered for support as a part of POC. I frustrated. You need to shift to AWS for this. MSFT think about it.

[2020-11-12 05:54] CHEEKATLAPRADEEP-MSFT commented on #65682
@euangms Could you please review further and update the document as appropriate.

[2020-11-12 06:07] pnarsi opened #65941 "IoT Hub a "Trusted Service" to access AKV?"
Azure IoT Hub does not seem to be listed on this page (for the Azure IoT Hub CMK scenario). This is because this scenario is not supported or is their a gap in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29579d6a-ad17-fd0f-9a27-3860d81efe6b
* Version Independent ID: 73738ba6-8189-1762-52da-326d153

[2020-11-12 06:15] SumanthMarigowda-MSFT commented on #65934
@choward84 Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-12 06:32] suetpin opened #65942 "Add MongoDB in Data Source"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede89f3f-055a-b123-c081-8622a9035171
* Version Independent ID: c4fe312f-71a6-fe9b-e301-6e69c14ca46d
* Content: [Lookup activity in Azure Data Factory - Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-lookup-activit

[2020-11-12 06:33] suetpin commented on #65942
Plan to add MongoDB in Lookup data source?

[2020-11-12 06:41] fhzhang opened #65943 "Policy statement has some issues"
<quota calls="number" bandwidth="kilobytes" renewal-period="seconds">
    <api name="API name" id="API id" calls="number" renewal-period="seconds" />
        <operation name="operation name" id="operation id" calls="number" renewal-period="seconds" />
    </api>
</quota>

In the following part we need to remove extra "/".
    <api name="API name" id="API id" calls="number" renewal-period="seconds"

[2020-11-12 06:54] psmanhas commented on #65571
@yooakim Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-11-12 06:54] #65571 closed

[2020-11-12 07:01] yossi-y commented on #65555
Hello,
You are correct - the workspaces keys are re-generated with workspace move operation.
Thanks for reporting this gap in documentation. We will update appropriately.

Thanks,
Yossi

[2020-11-12 07:15] psmanhas commented on #65872
@mtricolici As mentioned in mentioned article under limitation converting an existing AKS cluster to private one is not supported:

![image](https://user-images.githubusercontent.com/35990743/98907195-78a2a300-24e4-11eb-877f-f36baba474c1.png)

You can indeed provide it as a feedback on our forum [here](https://feedback.azure.com/forums/34192--general-feedback).
Our Product Group are quite active o

[2020-11-12 07:16] shashishailaj commented on #65924
@frankdrewes Thank you for your feedback . We will investigate and update the thread.

[2020-11-12 07:19] shashishailaj commented on #65915
@rayhitv Thank you for your feedback . We will investigate and update the thread.

[2020-11-12 07:20] amanmcse commented on #63990
@notoriousedd Closing the issue as we didn't hear back from you. Feel free to tag me in your reply if you have any further question.

[2020-11-12 07:20] #63990 closed

[2020-11-12 07:54] HarithaMaddi-MSFT commented on #65942
@suetpin - Thanks for posting the query. I got confirmation from Product team that there is no plan to add it in future as of today. I would recommend you to post an idea in [feedback forum](https://feedback.azure.com/forums/270578-data-factory) that is closely monitored by ADF Product team and implemented in future releases.

[2020-11-12 07:54] #65942 closed

[2020-11-12 08:02] KrishnaG-MSFT commented on #65910
@casocha Thanks for the feedback!
Assigning content owner @lgayhardt for visibility, review and document enhancement consideration if applicable.

[2020-11-12 08:05] AjayKumar-MSFT commented on #65940
@desplesda, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-11-12 08:24] zerweck opened #65945 "No instructions given how to deactivate Accelerated Networking"
I wanted to resize an older VM to a smaller size, but it had Automated Networking activated. Therefore, some smaller 2-vCore sizes suddenly weren't available anymore. I found no clear instructions on this page how to deactivate it, so I can resize the VM to a smaller size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-12 08:25] nim-syncronet opened #65946 "No information on how to create a new StreamingEndpoint with v3"
I scoured the docs and can only find how to create a new StreamingEndpoint using the _client.StreamingEndpoints.CreateAsync method for v2 of the API. No examples of how to do it using v3 of the API excists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 146766f9-17fa-56b5-d4d8-15b054b11f22
* Version Independent ID: 321

[2020-11-12 08:36] psmanhas commented on #65935
@leroydsouzapact Thank you for your query.

Can you please explain your ask in little bit more detail which can help me to provide you better inputs?

Like when you say `For e.g. I may want to assign Level 1s access to modify application groups or have Level 2s the ability to perform more granular activities like create a new app etc .`

What exactly are you referring to? Is it about the roles and

[2020-11-12 08:53] mtricolici commented on #65872
thanks

[2020-11-12 08:53] #65872 closed

[2020-11-12 09:02] SubhashVasarapu-MSFT commented on #65867
@david-freistrom, I have tested this in my local lab where I can see VMSS, VM resources and their resources groups along with types are been listed in the drop down. Could you provide us with a screenshot of you portal where RG is greyed out or showing no list for further analysis?

[2020-11-12 09:16] sgdesmet commented on #65574
Hello @JayaChatterjee-MSFT yes, we've implemented the check using `check-header` and `X-Forwareded-For`, thank you!

[2020-11-12 09:20] juanandmsft opened #65956 "Customization of RDP/SSH listening ports for Bastion usage"
[Enter feedback here]
It would be good to say in FAQ if RDP/SSH listening ports are/will customizable or not between Bastion and target VM.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0ba9-17ba-c7c1086d2662
* Version Independent ID: 7f2680d3-7d10-b253-bdc3-ca661b5da5af
* Content: [Azure Bastion

[2020-11-12 09:23] SubhashVasarapu-MSFT commented on #65789
@jinzejian , Appreciate your patience. Here, ```VirtualHubName```, ```ParentVirtualHubName``` are aliases for ```-ParentResourceName```. These commands are up to date.

![image](https://user-images.githubusercontent.com/44890829/98920767-819c7000-24f6-11eb-8e92-47aafed3f6b6.png)

[2020-11-12 09:23] rajgang commented on #65887
Thanks Karishma.Below is the link
https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/failover-cluster-instance-prepare-vm

[2020-11-12 09:35] GitaraniSharma-MSFT commented on #65945
@zerweck , Thank you for the feedback. We'll review this and get back to you shortly.

[2020-11-12 09:43] GitaraniSharma-MSFT commented on #65945
@zerweck , Accelerated Networking is a feature which can be enabled/disabled with a simple True/False switch.

As shown [in this article](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#individual-vms--vms-in-an-availability-set), you can enable accelerated networking on an existing VM with Azure CLI cmdlet "az network nic update" where you use "--accele

[2020-11-12 09:52] xuwenjian1995 opened #65964 "Does the XPath value support pulling the thumbprint from the Certificate tag?"
Hi engineer,

According to this document, we can see the supported XPath values to expose role configuration settings as an environment variable.
https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-role-config-xpath

May I know is that all the supported values? Since we cannot pull the thumbprint from the Certificate as follows:
<RoleInstanceValue xpath="/RoleEnvironment/CurrentIn

[2020-11-12 09:53] xuwenjian1995 commented on #65964
RoleInstanceValue xpath="/RoleEnvironment/CurrentInstance/Certificates/Certificate[@name='Default']/@thumbprint" />

[2020-11-12 09:55] utillity opened #65965 "Woodgrove Authentication does not work"
[Enter feedback here]
The login options in the Woodgrove URL you mentioned in this article (https://woodgrovedemo.com/Account/LogIn) no longer work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azur

[2020-11-12 10:01] dlouky opened #65966 "why do you remove "Set ADT Explorer permissions" section from azure-docs/articles/digital-twins/quickstart-adt-explorer.md ??????"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81034c0-f8e3-a26a-acaa-0513d2762a98
* Version Independent ID: 864d5793-8ec9-6baf-7f3a-a4896e77a931
* Content: [Quickstart - Explore a sample scenario - Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-adt-explorer)
* Content Source: [art

[2020-11-12 10:02] ouyangfangxin11 opened #65967 "Can't get file on http://microsoft.com/team/sitename"
[Enter feedback here]

I have tried the following step to get sharepoint files, and got the files under http://**microsoftapc**.sharepoint.com/teams/sitename successfully. But when I try to get files from http://**microsoft**.com/team/sitename its return 401.

HTTP linked service:
Base URL: https://[site-url]/_api/web/GetFileByServerRelativeUrl('[relative-path-to-file]')/$value. Replace the site U

[2020-11-12 10:18] PixelRobots commented on #65334
I am also having this issue. Any update?

[2020-11-12 10:35] philip-reed commented on #65882
I think I have figured it out, the problem was that I still had the `*` in the allowed origins.
Once I removed that, the application configuration for CORS worked as expected.

So for application CORS config to work, the CORS settings in app service need to be completely empty:
![image](https://user-images.githubusercontent.com/7798175/98929185-b7c7f880-24d2-11eb-9bfb-61ab72d95122.png)

[2020-11-12 10:37] ii-batman commented on #65601
@Karishma-Tiwari-MSFT
Thank you for coming back to me and for providing those links.
I am aware how to set a CA based on location however when creating the Allow Access for WVD the policy seems to be only applying to the location set on the policy.
Example = If I set a policy to Allow Access to WVD app from Spain it will not block access if I am coming from UK.
The MFA and Session time just inheri

[2020-11-12 10:37] npalmiusfutr commented on #65469
@BryanTrach-MSFT, is there any update on this? I've raised it with Microsoft Support too, and although I understand there the two different numbers come from (due to the load balancer algorithm change), it still isn't clear what the correct number of available SNAT ports is for an App Service app. This is important so that I can configure the connection pooling in my app correctly and optimally.

[2020-11-12 10:44] jmprieur commented on #65878
Thanks @jigsgithub20 for reporting this
- Yes, retry is a bool that should be declared before the do block.
- for the delay, I don't understand why it should, though
- and yes the exception variable needs to be changed to serviceException

@shashishailaj : do you want to propose a PR?

[2020-11-12 11:25] ASPSInfra commented on #65334
I am also having this issue. Any update?

[2020-11-12 11:32] amanmcse commented on #65864
@pieterhancke This is a feature request. Kindly post this idea at our [feedback portal](https://feedback.azure.com) which is monitored by the product team.

[2020-11-12 11:32] #65864 closed

[2020-11-12 11:32] HarithaMaddi-MSFT commented on #65966
@dlouky - Thanks for your valuable feedback. I am moving it to content author to share the reason.

@baanders - Can you please take a look and share your thoughts.

[2020-11-12 11:38] ndriyo opened #65969 "Demo apps not working"
There is a link to this demo page https://woodgrovedemo.com/, but unfortunately sign up link is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 245ef8a4-a811-19b7-676c-aa9b82e2126f
* Version Independent ID: ad2ec743-2aa7-b3c7-3350-2986a78d7c90
* Content: [What is Azure Active Directory B2C?](https://docs.mic

[2020-11-12 11:48] JayaChatterjee-MSFT commented on #65574
@sgdesmet We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-12 11:48] #65574 closed

[2020-11-12 12:26] ma3goul commented on #57689
Hi All ,

I have the same problem with the blob on the edge .
It works for me on the host using the python legacy SDK but when I try to dockerise it , it fail :/

Any updates on this topic ?

Thank you

[2020-11-12 12:33] HarithaMaddi-MSFT commented on #65967
@ouyangfangxin11 - Thanks for posting the query. It seems "http://microsoft.com/team/sitename" is not available, please suggest if this is related to documentation referred.

[2020-11-12 12:35] AjayKumar-MSFT commented on #65946
@nim-syncronet, Thanks for sharing your feedback. We are taking a look into this and will get back to you soon.

@IngridAtMicrosoft, Requesting your comments on this.

[2020-11-12 12:53] MoulshreeSD opened #65970 "Datetime Conversion issue in ADF"
There is datetime conversion issue while loading data incrementally from SQL Server to Azure SQL server using timestamp. The datetime should be converted to datetime2 at source side. Please suggest any work around to this issue?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284de931176d
* Versio

[2020-11-12 12:56] SadiqhAhmed-MSFT commented on #65643
@JasonWHowell and @BrianLevenson Could you please help addressing this doc issue? OR redirect to the content owner for review.

[2020-11-12 13:02] souravmishra-msft commented on #65915
@MicrosoftGuyJFlo , can you please take a look into this and add the details accordingly.

[2020-11-12 13:13] dlew56 commented on #65919
@MonikaReddy-MSFT
Sorry for that - here it is https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/actiongroups

[2020-11-12 13:16] PixelRobots commented on #65334
Seems you must manually add some role assignments. Here is the code I used. Just make sure to change the variables to what your resources are.

`    $ingressappid = az aks show --name $kubernetesClusterName -g $resourceGroupNameAKS --query addonProfiles.ingressApplicationGateway.identity.clientId -o tsv
    $rgid = az group show --name $resourceGroupNameAKS -o tsv --query "id"
    az role assignme

[2020-11-12 13:17] JeremyTBradshaw commented on #65744
Thanks very much @souravmishra-msft .  I hope to be familiarizing with that process soon.  If/when I do and if it makes sense I might come back with a PR to show a quick example API request.

[2020-11-12 13:17] #65744 closed

[2020-11-12 13:18] dodge1350-frp opened #65971 "Does Azure Automation support Connect-MsolService or Not?"
We use MFA, as everyone should be using to prevent illegal activity from occurring in their environments.  According to the thread, the user that tried to implement the suggested solution was still denied, and it was assumed to be a result of MFA.  Is this true? (https://www.reddit.com/r/AZURE/comments/d5yc3t/automation_runbooks_connectmsolservice_using_run/)

What is the solution to implement:

$

[2020-11-12 13:20] MonikaReddy-MSFT commented on #65777
@atwerae -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-11-12 13:20] #65777 closed

[2020-11-12 13:21] Anmolgan81 commented on #65709
@SaurabhSharma-MSFT is there no way we can handle deletes? we have to follow approaches like CDC or CT to handle those activites?

[2020-11-12 13:25] SwathiDhanwada-MSFT commented on #65642
@M0ns1gn0r Apologies for delayed response. Kindly note this channel is mainly used for documentation changes or requests. For technical assistance , kindly post your questions on [Microsoft  Q & A Community forum](https://docs.microsoft.com/en-us/answers/products/). For your issue , we recommend engaging our technical support team to investigate further. Please file a support case using [these ste

[2020-11-12 13:27] sanjeevkumar761 opened #65972 "Supported regions for Dedicated HSM don't mention Switzerland North, this should be corrected"
This page does not mention Switzerland North as a supported region for Dedicated HSM, whereas Azure products by region page does mention Switzerland North as a supported region for Dedicated HSM [Azure products page](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=switzerland-north,switzerland-west&products=azure-dedicated-hsm,virtual-machines) .

Can you please fix this

[2020-11-12 13:30] SwathiDhanwada-MSFT commented on #65736
@JF03 [This document](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-management-group?tabs=azure-cli#scope-to-another-management-group) mentions how to specify  another management group. Kindly go through and revert if you have further questions.

[2020-11-12 13:35] M0ns1gn0r commented on #65642
@SwathiDhanwada-MSFT how come does this not require documentation changes if the "Learn more" link in the error message points to this documentation page and the page has **no explanation** of the error?

[2020-11-12 13:37] mcurko commented on #64770
I guess that `listenOptions.UseHttps(FindMatchingCertificateBySubject())` is missing the argument. I tried with "localhost", which gives a KeyNotFoundException on deploy, and with "mytestcert" which doesn't raise an exception, but the service ends up in error state anyway.

[2020-11-12 13:53] AshokPeddakotla-MSFT commented on #65814
@chinkl75 Did you get a chance to see the above response? Do let us know if you have further queries.

[2020-11-12 14:03] ram-msft commented on #65726
@mikeblakeuk Thanks for the details. Please follow the C# snippets in the [article](https://docs.microsoft.com/en-gb/azure/search/search-traffic-analytics). @HeidiSteen Could you please help with link to the sample.

[2020-11-12 14:04] Patrik-Berglund commented on #58027
Stuck with the same problem, any updates?

[2020-11-12 14:14] jitendraRai opened #65973 "Developer guidance for the AAD Conditional Access feature needs to update with V2.0"
https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/conditional-access-dev-guide

Customer is looking similar document to support Azure AD v2.0 endpoint. Could you please update this document and mentioned the supportability of v2.0 endpoint.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-12 14:15] jitendraRai commented on #65973
Thanks and here is the SO question:- https://stackoverflow.microsoft.com/questions/231803

[2020-11-12 14:25] ASPSInfra commented on #65334
Hi - I had already done this. I did it again and rebuild the Ingress objects again but I still have the same error.

[2020-11-12 14:27] jcamu commented on #65017
@VikasPullagura-MSFT Thanks for the documentation.

Regarding the information on standard load balancer needed for Availability zones.
https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#limitations

_At least one public IP or IP prefix is required for allowing egress traffic from the AKS cluster._

So how can we ensure to use only private ip with an egress traffic redirected to our

[2020-11-12 14:36] subhasett opened #65975 "buffer-response is not Documented for forward-request policy"
[Enter feedback here]

Reactive Rest API API Management is not working properly because it is buffering the response. To disable the buffering forward-request has buffer-response attribute which should be false. Please check the link for more details [APIM question](https://docs.microsoft.com/en-us/answers/questions/158243/azure-api-management-is-not-working-properly-with.html?sort=votes)

---
###

[2020-11-12 14:52] NavtejSaini-MSFT commented on #65798
@lfittl Please check the feedback from the Cx and provide guidance here.

[2020-11-12 14:56] Jacintopc opened #65976 "IP network rules have no effect on requests originating from the same Azure region"
Would you elaborate on the sentence "IP network rules have no effect on requests originating from the same Azure region"? It's difficult to understand. Do you mean that the firewall is useless for IPs in the same region? Makes no sense for me.
thanks in advance,
J

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46701fde

[2020-11-12 14:59] SwathiDhanwada-MSFT commented on #65642
@M0ns1gn0r

[2020-11-12 15:01] mhobson87 opened #65977 "Updated link to article - configure object replication for block blobs (preview)"
"Configure object replication for block blobs (preview)" this feature is no longer in preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a416e755-b0bc-445b-3fcb-99d1f1d51eef
* Version Independent ID: 227b8748-c529-f546-abf4-fbc6aef9be4c
* Content: [Blob storage features available in Azure Data Lake Storage Gen2](h

[2020-11-12 15:06] PramodValavala-MSFT commented on #65899
@DarrenWainwright The SignalR Trigger is internally just a [HTTP Endpoint](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-trigger?tabs=csharp#send-messages-to-signalr-service-trigger-binding) that needs to be setup as a [SignalR Service Upstream](https://docs.microsoft.com/en-us/azure/azure-signalr/concept-upstream).

You should be able to POST messages w

[2020-11-12 15:08] baanders commented on #65966
Hi @dlouky, thanks for reaching out.

In late October, ADT Explorer changed its authentication mechanisms. The information described in that section is no longer necessary to authenticate.

Before the change:
The sample required the user to set up an Azure AD app registration, **configure that registration for ADT Explorer**, and know the registration's Client and Tenant ID to connect ADT Explorer

[2020-11-12 15:17] spelluru commented on #63553
Thanks @joelverhagen

Hi @joelverhagen - please see the above response. Thanks.

#please-close

[2020-11-12 15:17] #63553 closed

[2020-11-12 15:19] PixelRobots commented on #65334
This is what i have used to deploy it, and it has work several times for me now.
`    Write-Host "Creating a public IP address..." -ForegroundColor Blue
    az network public-ip create --name $appgpip --resource-group $resourceGroupNameAKS --allocation-method Static --sku Standard
    Write-Host "  Public IP created." -ForegroundColor Green
    Write-Host "Creating application gateway..." -Foregro

[2020-11-12 15:21] MGoedtel commented on #65395
@alistairl - The Advisor rule to evaluate all the variables in your Automation account is unable to take into account variables, which don't contain sensitive information and don't need to be encrypted. In the case of the variables created by Start/Stop, there isn't anything sensitive stored in the variables (unless your security team considers the variables that store the webURI, webhook URI, and

[2020-11-12 15:21] #65395 closed

[2020-11-12 15:30] MonikaReddy-MSFT commented on #65964
@xuwenjian1995 -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-11-12 15:31] javiersoriano opened #65978 "Bandwidth charges details"
[Enter feedback here]
HI,

There is a section in this article ([here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#data-transfer-charges-using-log-analytics)) where it says that sending data to Log Analytics might incur in additional bandwidth charges if service and workspace are in different regions. This is true for VMs where an agent is installed, but it is

[2020-11-12 15:34] xuwenjian1995 commented on #65964
Thanks @MonikaReddy-MSFT, I really appreciate your investigation and I am looking forward to your response.

[2020-11-12 15:34] DarrenWainwright commented on #64278
@nebhagat - Did you manage to get the SignalRTrigger input binding to work? Are you able to invoke the function by sending a command to the hub through the SignalR Client?

I can't seem to get my AZ Func to respond to a hub invocation.

[2020-11-12 15:49] SwathiDhanwada-MSFT commented on #65451
Apologies @MGoedtel for delayed notice. Assigning it to you for review and document enhancement consideration as appropriate.

[2020-11-12 15:59] DarrenWainwright commented on #65899
@PramodValavala-MSFT - Thanks so much for responding. I think I'm starting to understand now. I ran on an assumption i didn't need to do any of that.

I hope you don't mind if i ask a couple of clarifying Q's? I've been at this for a couple of days now and a little cross-eyed over it all :)

1) So when using the SignalRTrigger input binding on an App function we also need to set up an Upstream to

[2020-11-12 16:00] shashishailaj commented on #65931
@ccarns Thank you for pointing this out. We will engage the content author to get it reviewed and updated as necessary.

[2020-11-12 16:02] shashishailaj commented on #65941
@pnarsi Thank you for your feedback . We will engage the content author to have this reviewed and take this forward accordingly.

[2020-11-12 16:03] shashishailaj commented on #65941
@amitbapat Could you please review the ask on this thread and see if this can be incorporated in the document ?

[2020-11-12 16:05] MarcoL-Progel opened #65980 "Security Key Sign-in for third party VPNs"
[Enter feedback here]
Hi all,
we are starting supporting customers on implementing third party VPN appliances log on using Azure Ad accounts.
The reference document is this one:
https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/secure-hybrid-access#sha-through-vpn-and-sdp-applications

The actually implemented scenarios are working very well with Modern Authentication and Azure M

[2020-11-12 16:05] Simon999 opened #65981 "Where to find Azure AD metadata file?"
In the section Configuring Azure AD as SAML Metadata Provider", step 5 tells us to "Upload the downloaded metadata XML file from Azure portal into the Azure AD metadata file".

But where does this downloaded metadata XML file come from? This is not mentioned anywhere else in the tutorial. Is there a step missing?

UPDATE - OK, perhaps obvious, but I found where this xml file can be downloaded from

[2020-11-12 16:13] shashishailaj commented on #65965
@utillity Thank you for pointing this out. I checked it and found that you are correct . Let me engage with the teams internally and will get it rectified.

[2020-11-12 16:14] kishaa commented on #65334
Thanks. I tried running all those commands and even tried to configure all the resources but the issue is still there.

@ASPSInfra did it work for you ?

[2020-11-12 16:17] PixelRobots commented on #65334
One thing to note is that I am using one vnet with a few subnets. One for AKS and one for the app gateway.

What's your network setup like?

[2020-11-12 16:23] IngridAtMicrosoft commented on #65946
Here are links to the streaming endpoint operations.  Other platforms can be found in the Resources section of the Docs.

.NET
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.media.streamingendpointsoperationsextensions?view=azure-dotnet

REST API
https://docs.microsoft.com/en-us/rest/api/media/streamingendpoints

CLI
https://docs.microsoft.com/en-us/cli/azure/ams/streaming-

[2020-11-12 16:23] #65946 closed

[2020-11-12 16:23] shashishailaj commented on #65969
@ndriyo Thank you for pointing this out. We will investigate this and update the thread.

[2020-11-12 16:24] shashishailaj commented on #65969
@ndriyo  We have already raised this internally using #65965 . We will close this one as duplicate because its for exactly same issue and track it on the other issue. We thank you for raising this.

[2020-11-12 16:25] shashishailaj commented on #65965
@utillity  @ndriyo We have reached out to the internal team which manages the web app and a ticket is raised . Once I have any new update I will be updating this thread.

Thank youl

[2020-11-12 16:25] #65969 closed

[2020-11-12 16:26] gvashishtha commented on #65926
@marciomocellin one more example, specific to AutoML is [here](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/automated-machine-learning/classification-bank-marketing-all-features/auto-ml-classification-bank-marketing-all-features.ipynb)

[2020-11-12 16:26] shashishailaj commented on #65972
@sanjeevkumar761 Thank you for pointing this out. We will investigate and update the thread.

[2020-11-12 16:32] JamesTran-MSFT commented on #65973
@jitendraRai
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-12 16:36] kishaa commented on #65334
Its same. 1 Vnet with 10.0.0.0/8 --- address space with 10.1.0.0/16 for appgw and 10.2.0.0/16  for aks. so basically both are on same vnet with segregated subnet

[2020-11-12 16:38] DarrenWainwright commented on #65899
The same seems to be for my connected/disconnection functions; they're not being executed.

My connected function.json

[code]

And the associated js.

[code]

Seems to be related - these are not being fired either.

[2020-11-12 16:39] PixelRobots commented on #65334
What version of Az cli are you using? I am using `{
  "azure-cli": "2.14.0",
  "azure-cli-core": "2.14.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.4.65"
  }
}`

[2020-11-12 16:41] lyndon678 opened #65982 "Restore instructions for Disk Encryption Set enabled VMs"
The doc article mentions encryption using customer-managed keys with SSE and ADE but only goes into detail for backup and restore procedures concerning VMs with ADE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54252e63-be57-2c49-15fc-b9dc7fdda1b3
* Version Independent ID: 30777b2a-604d-ce18-c891-4d272632f039
* Conte

[2020-11-12 16:43] kishaa commented on #65334
I'm using cloud shell which is using same version.

[2020-11-12 16:46] BE-Digital-Solutions-Bart opened #65983 "Speed of moving between the provisioned and serverless compute tier"
Could you provide estimations of the latency for moving a database from the provisioned compute tier to the serverless compute tier or vice versa? Does the size of the database have an impact on this latency when moving between the (provisioned) general purpose tier and the serverless tier?

[2020-11-12 16:46] PixelRobots commented on #65334
And you have registered this feature?

az feature register --name AKS-IngressApplicationGatewayAddon --namespace Microsoft.ContainerService

[2020-11-12 16:50] #65651 closed

[2020-11-12 16:57] nitinme commented on #65890
Fixed in PR - https://github.com/MicrosoftDocs/azure-docs-pr/pull/137472

[2020-11-12 16:59] nitinme commented on #65890
#please-close

[2020-11-12 16:59] #65890 closed

[2020-11-12 17:01] amanmcse commented on #65874
@miroslav-staffa  By default, If you sign in to Authorize under provisioning blade with GitHub owner account, you will get an option to authorize the organization in the section as highlighted below, after successful authentication. If you do not authorize the organization and directly click on Authorize-azuread-scim-dev button, you have to authorize organization from https://github.com/settings/a

[2020-11-12 17:01] #65874 closed

[2020-11-12 17:03] kishaa commented on #65334
yeah

[2020-11-12 17:04] shashishailaj commented on #65878
@jmprieur Sure , I will do that .

[2020-11-12 17:04] shortpatti commented on #63417
#please-close

Engineering is taking care of this.

[2020-11-12 17:04] #63417 closed

[2020-11-12 17:07] PixelRobots commented on #65334
What do the pod logs say?

To get the pod name use

kubectl get pods -n kube-system

Then use this to see logs.

kubectl logs -f podname -n kube-system

[2020-11-12 17:12] YutongTie-MSFT commented on #65644
@nareshnagpal06
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-12 17:12] #65644 closed

[2020-11-12 17:12] PatrickLownds opened #65984 "Refresh of instructions around onboarding via agent deployment needed."
The instructions in the section "Generate installation script" are out of date e.g. step 1 - Launch the Azure Arc service in the Azure portal by clicking All services, then searching for and selecting **Machines - Azure Arc**. Machine - Azure Arc is **Servers - Azure Arc**.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-11-12 17:12] dlouky commented on #65966
Wow!!! you explained in a very clear way!

Now I understand! Thank you very much :-D

You can proceed to close this issue...

El jue., 12 nov. 2020 a las 16:08, Bailey Anderson (<
notifications@github.com>) escribió:

[2020-11-12 17:13] duongau commented on #49991
This has been resolved.

#please-close

[2020-11-12 17:13] shashishailaj commented on #65794
@brad0000 We have initiated a change request and this will be fixed in the next release of the docs in 48 hours.

[2020-11-12 17:13] #49991 closed

[2020-11-12 17:14] shashishailaj commented on #65903
@amanmcse Could you please look into this one ?

#reassign:amanmcse

[2020-11-12 17:15] ASPSInfra commented on #65334
Hi - actually I think that the problem for me is different. My backend is on port 8080, not 80; and so I think that this "efault-http-backend" not found" error is not important to me.  My problem actually seems to be that I get HTTP 502 when I try to access the frontend. The AGIC health probes are working (I see corresponding messages with HTTP 200 in my application access logs), but Azure portal

[2020-11-12 17:15] Simon999 opened #65985 ""Connect Secure Entity Id" value is blank"
Following this tutorial, in the "Steps to create a SAML Auth Server:", in my deployment the "Connect Secure Entity Id" value is blank, and cannot be edited (even when setting to Manual mode).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b912673-6f7b-881b-cd6a-9435019cef79
* Version Independent ID: 6b66e430-db5e-0d3e

[2020-11-12 17:15] gamullen commented on #49991
Thanks!

[2020-11-12 17:16] duongau commented on #51504
Hi @ishepherd, I apologize no one has responded back to you until now. Are you having problems with this still?

[2020-11-12 17:17] kishaa commented on #65334
Ingress pod in kube-system? There is was no pod as far as I remember by the way there were no **default-http-backend** pod.

[2020-11-12 17:19] kishaa commented on #65334
Ingress pod in kube-system? There is was no pod as far as I remember by the way there were no **default-http-backend** pod.

[2020-11-12 17:20] PixelRobots commented on #65334
Yeah you should see a pod in there. It is used to update the app gateway.

[2020-11-12 17:29] JamesTran-MSFT commented on #65985
@Simon999
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-12 17:33] anhlqn opened #65986 "Why Microsoft recommends using application rules when possible"
If the protocol is HTTP/S or MSSQL, use application rules for FQDN filtering.

The document recommends using application rules when possible but doesn't provide any justifications/explanations for the recommendation. Could you provide more insights into why?

Certain legacy applications don't support SNI, so application rules don't work for them. I'm trying to see if it's worth it to go with an ap

[2020-11-12 17:36] psmanhas commented on #65272
@gsxmax I had discussion internally and got below response from our Product group team:

The supported maximum is the documented one. It’s not supported to use the VMSS API directly. If they have specific needs on pool size, we can talk with them.

Do let me know if you have any further queries on this.

Thanks

[2020-11-12 17:40] #65794 closed

[2020-11-12 17:44] ChaitanyaNaykodi-MSFT commented on #65943
Hello @fhzhang, Thank you for your feedback! Can you please point us to the exact policy statement which has above mentioned issue?

[2020-11-12 17:44] shashishailaj commented on #65965
@utillity @ndriyo . The internal team has fixed the Woodgrove demo Apps.

[2020-11-12 17:45] gihermos opened #65987 "Update data closing period"
Customer initially exported the usage for the entire month of September (2020) for their Enterprise Agreement on October 5th, 2020, however, when running another export on October 21st, 2020 for this same period (09/01/2020 – 09/30/2020, they found a discrepancy of about $23k in the second export performed. While it is important to note that the second export matched with the usage reported on the

[2020-11-12 17:46] BharathNimmala-MSFT commented on #65983
@BE-Digital-Solutions-Bart  Thank you for reaching out, please be noted that [this azure-docs repository](https://github.com/MicrosoftDocs/azure-docs/issues) deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please share the Azure document link and more context around the feedback.

[2020-11-12 17:51] MGoedtel commented on #65984
@PatrickLownds - Thanks for bringing this to my attention. Yes the steps & screenshot are reflective of the experience before GA. I'll bug this article and get it updated as soon as I can.  #please-close

[2020-11-12 17:51] #65984 closed

[2020-11-12 17:51] TravisCragg-MSFT commented on #65868
@tesharp Each of the listed zones is only required for a specific service to work with Private Link. If you add the DNS record for a private link you do not have set up, it can break access to the service. The last DNS entry is only for Azure Data Factory and Private Link, do you have an Azure Data Factory private link set up? If not, you can remove this record.

[2020-11-12 17:53] himanshusinha-msft commented on #65655
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-11-12 18:05] shashishailaj commented on #65965
@utillity

[2020-11-12 18:05] #65965 closed

[2020-11-12 18:17] shashishailaj commented on #65496
@SteveBurkettNZ As mentioned above by Melvyn , The ASC license for Microsoft Defender for Endpoint only covers Windows hence the change could not be done at this point. We will now close this issue. Should you have any further queries , please feel free to tag any of us and we will be happy to help .

[2020-11-12 18:17] #65496 closed

[2020-11-12 18:17] YutongTie-MSFT commented on #65976
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-12 18:20] #65878 closed

[2020-11-12 18:21] MartinJaffer-MSFT commented on #65970
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-11-12 18:26] joshnoe opened #65988 ""az monitor diagnostic-settings create" command in example fails"
This command fails: `az monitor diagnostic-settings create --storage-account "<storage-account-id>" --resource "<key-vault-resource-id>" --name "Key vault logs" --logs '[{"category": "AuditEvent","enabled": true}]' --metrics '[{"category": "AllMetrics","enabled": true}]'`

Error: Expecting value: line 1 column 1 (char 0)

If I remove the --logs and --metrics arguments, it works. So I assume the is

[2020-11-12 18:30] SHANE0MAC opened #65989 "When you select the Servers tab it now opens Log Analytics not Log Search"
[Section: Log Search opens when you enter a machine name in the search field or select a machine listed under the Computers tab. Log Search displays all the changes made during the selected time period for the machine. You can expand a change for more information. Needs to be updated. When you select the Servers tab it now opens Log Analytics]

---
#### Document Details

⚠ *Do not edit this sectio

[2020-11-12 18:32] ChaitanyaNaykodi-MSFT commented on #65636
Hello @mcrobbj, Thank you for the feedback provided. I have made a PR to update the document. I will now proceed to close this issue out please tag me in your reply if there are any additional concerns.

[2020-11-12 18:32] #65636 closed

[2020-11-12 18:34] shortpatti commented on #63434
#please-close

Content has been updated.

[2020-11-12 18:34] #63434 closed

[2020-11-12 18:34] BharathNimmala-MSFT commented on #65987
@gihermos Thanks a lot for bringing this to our attention. I have assigned the issue to our document author @bandersmsft to further review the feedback and update the document as needed.

[2020-11-12 18:35] DarrenWainwright commented on #65899
Gah!

Ok, I found this https://github.com/Azure/azure-functions-signalrservice-extension/tree/master/samples/bidirectional-chat

Where it states a particular key be used.

I now have it working.

Thanks all and thank you for getting me on the right path!

[2020-11-12 18:38] shashishailaj commented on #65715
@zjakub1 Thank you for your feedback on this. We do have separate document for providing the information you requested however we have linked the same in the overview section for more clarity . The changes will go live in the next 48 hours. We will now close this issue.

Thank you.

[2020-11-12 18:40] kishaa commented on #65334
There is no error in **kube-system/ingress-appgw-deployment-6b7747f45b-twr2l** pod

`Events:
  Type    Reason     Age    From               Message
  ----    ------     ----   ----               -------
  Normal  Scheduled  5m10s  default-scheduler  Successfully assigned kube-system/ingress-appgw-deployment-6b7747f45b-twr2l to aks-nodepool1-32297465-vmss000001
  Normal  Pulling    5m9s   kubelet

[2020-11-12 18:41] TravisCragg-MSFT commented on #65518
@shenqianjin [Automatic failover is done using health probes, and is described further here](https://docs.microsoft.com/en-us/azure/networking/disaster-recovery-dns-traffic-manager#how-automatic-failover-works-using-traffic-manager).

If you would like to test disaster recovery, you will need to cause the probes to report unhealthy on the endpoint, not disable the endpoint.

Please let me know if

[2020-11-12 18:41] ElanShudnow commented on #53791
@MarileeTurscak-MSFT Looks like the article still has not been updated to include it working with Azure AD Registered Devices. Any idea why?

[2020-11-12 18:42] PixelRobots commented on #65334
That looks like a describe. Can you use logs -f also and share the output.

Thanks

[2020-11-12 18:45] kishaa commented on #65334
Looks like there is something regarding to permission

E1112 18:44:43.721524       1 client.go:170] Code="ErrorApplicationGatewayForbidden" Message="Unexpected status code '403' while performing a GET on Application Gateway. You can use 'az role assignment create --role Reader --scope /subscriptions/983557b3-22e4-4cd6-b322-90dd467505b9/resourceGroups/myResourceGroup --assignee 003dfe2a-b1d6-4def-a

[2020-11-12 18:48] PixelRobots commented on #65334
Yup. Seems my two commands that assign the permissions did not work for you for some reason.

Just run the two commands that show in the error and it should work for you.

Let me know how you get on.

[2020-11-12 18:52] #65715 closed

[2020-11-12 18:54] kishaa commented on #65334
It seems working now.  Below is the output I'm getting now.

I1112 18:50:26.755700       1 mutate_app_gateway.go:177] BEGIN AppGateway deployment
I1112 18:50:57.233874       1 mutate_app_gateway.go:185] Applied generated Application Gateway configuration
I1112 18:50:57.233901       1 mutate_app_gateway.go:200] cache: Updated with latest applied config.
I1112 18:50:57.234584       1 mutate_app_gate

[2020-11-12 19:02] PixelRobots commented on #65334
That looks right. Glad it's working for you!

Hopefully going forward we won't need to do the permissions assignment.

Let me know if you need any further help.

[2020-11-12 19:03] MarileeTurscak-MSFT commented on #65989
@SHANE0MAC
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-12 19:04] JamesTran-MSFT commented on #65988
@joshnoe
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-12 19:07] MarileeTurscak-MSFT commented on #65980
@MarcoL-Progel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-12 19:08] joshuapetryk opened #65990 "Client Assertion expiry recommendation conflicts with other advice"
This article states that the `exp` claim should be kept short (5-10 minutes), but it is recommended elsewhere that the ConfidentialClientApplication (CCA) should be built and stored per session:

As @bgavrilMS has stated:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1342#issuecomment-525286547
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/i

[2020-11-12 19:11] mrmyss2018 commented on #62023
Can this issue be re-opened please ?

[2020-11-12 19:12] lfittl-msft commented on #65798
@cedricmaesse Unfortunately there is no other way - since the access tokens are short-lived, when reconnecting, you need to get a new token for each new connection. Note that when your connection is still connected and actively being used, it does not close on its own, and you can keep the connection open beyond the 1 hour limit (but its likely that MySQL workbench does not keep the connection ope

[2020-11-12 19:12] JnHs commented on #64476
Hi @algattik - thanks for sharing your feedback. Do you have any specific questions about autopools, or are you running into any particular problems with using them?

[2020-11-12 19:20] rwike77 commented on #65973
I added a link to the Microsoft identity platform (v2) version of this article:  https://docs.microsoft.com/azure/active-directory/develop/v2-conditional-access-dev-guide.  The update should publish later today.

[2020-11-12 19:20] rwike77 commented on #65973
#please-close

[2020-11-12 19:20] #65973 closed

[2020-11-12 19:24] WinstonHoward-MSFT commented on #62023
Hi @mrmyss2018 ,

Based on your post on Sep 21 I believe your issue is resolved? By inserting the HKLM\Software\Citrix\PortICA registry key your able to get the installation to work.

[2020-11-12 19:25] rwike77 commented on #65562
@cakriwut , thanks for the comment.  The left navigation TOC entries are more strict in terms of number of characters allowed.  The page title tends to be longer, the left navigation title must be a bit shorter to fit in the TOC pane.  That's why they don't match exactly.  Hope that helps.  #please-close

[2020-11-12 19:25] #65562 closed

[2020-11-12 19:31] PeterCLu commented on #65833
#@assign:@sdgilley

[2020-11-12 19:32] JamesTran-MSFT commented on #65657
@mattallscripts
Thank you for your time and patience!

The documentation states cookie sharing is required for SSO. Since WKWebView is an in-app browser that displays web content, and doesn't share cookies or web site data, it cannot support SSO.
For [more information](https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#in-app-browser).

If you'd like to create a fea

[2020-11-12 19:32] #65657 closed

[2020-11-12 19:35] mrmyss2018 commented on #62023
Hi Winston, thanks for getting back to me, so essentially the install works however im quite confused as we are running WVD multi session environment not a citrix environment.

[2020-11-12 19:36] mike-urnun-msft commented on #65975
@subhasett Thank you for your feedback! We will review and update as appropriate.

cc: @PramodValavala-MSFT @vladvino

[2020-11-12 19:37] mattallscripts commented on #65657
Hi @JamesTran-MSFT that makes sense that WKWebView doesn't _share_ its cookies in an outgoing fashion with other webviews or apps. However I guess what we are interested is sharing the native app's cookie(s) with the WKWebView by injecting those cookies into the WKWebview. So a unidirectional share from app into the web view; that's what we're looking to confirm with you all. Thanks!

[2020-11-12 19:38] yellowpanda opened #65992 "Encryption for all ServiceBus tiers"
The first line of this page is:

It is my understanding that encryption is not limited to Premium tier but is provided for all tiers.

Customer-managed keys however is a Premium tier feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1db9116e-3b52-6b12-3de0-df30c02cd4bb
* Version Independent ID: 45d2a29c-f5f2-6908

[2020-11-12 19:39] baanders commented on #65966
@dlouky Awesome, great to hear! Thanks for the follow-up.

Proceeding to close this issue and please don't hesitate to reach out with additional questions or feedback. :)

#please-close

[2020-11-12 19:39] #65966 closed

[2020-11-12 19:40] sdgilley commented on #65255
Thanks for bringing this to our attention.  The article has been updated.
https://github.com/MicrosoftDocs/azure-docs-pr/commit/42bec6a2b1feaacfc70f562a1d358b92089f5c21

#please-close

[2020-11-12 19:40] #65255 closed

[2020-11-12 19:44] utillity commented on #65965
wow, that's the fastest I've ever seen MS solve an issue! Great work, guys 🥇

[2020-11-12 19:46] sdgilley commented on #65900
Thanks for noticing this!  I'll get a new version uploaded shortly.

[2020-11-12 20:08] anavarro9731 opened #65993 "SendAsync vs SendCoreAsync"
I don't have a SendAsync method as in the example. I have only a SendCoreAsync method, and the arguments are different.
Is that because I am using a different library? or because the article is out of date?

It would also be really helpful to state what nuget packages you need, I couldn't find that anywhere in the article.

These are the packages I have installed
    <PackageReference Include="Mic

[2020-11-12 20:08] rbrayb opened #65994 "Names not consistent across article and provided custom policy"
e.g. the certificate name in the article is B2C_1A_SamlIdpCert but the certificate name in the policy is B2C_1A_SamlRpCert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1376f79b-474f-4b83-2583-07acd2eeb2f4
* Version Independent ID: 45d314dd-c9fa-50a5-cb39-d34db80c7874
* Content: [Configure Azure AD B2C as a SAML IdP

[2020-11-12 20:19] ryandle opened #65995 "Table Storage Documentation - is "Number of entities in a partition" correct?"
This page lists the following table storage limit:

**Resource** | **Target**
------------ | -------------
Number of entities in a partition | Limited only by the capacity of the storage account

It was my understanding that there is some limit on the physical size of a partition that is smaller than the storage account or table size limits.

Compare that to the documented [CosmosDB Partition Size

[2020-11-12 20:25] JamesTran-MSFT commented on #65994
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-12 20:25] abatishchev commented on #65559
VMSS doesn't support VHD over SAS since API version 2018-06-01.

The only way I managed to get it working was this:

[code]

and then

[code]

[2020-11-12 20:32] mcurko commented on #64491
Same question from my side.

[2020-11-12 20:34] polatengin opened #65996 "Repository used in the official documentations"
Hey,

I was following the guideline in [Automate the rotation of a secret for resources](https://docs.microsoft.com/en-us/azure/key-vault/secrets/tutorial-rotation-dual) and noticed the repository used in this doc seems not official (https://github.com/jlichwa/KeyVault-Rotation-StorageAccountKey-PowerShell.git)

Owner of the repo may _change_, _delete_, etc. the repo they own, and it may break the

[2020-11-12 20:46] RichMcLaren opened #65998 "Duplicated text in self-service group management article"
There is a duplicated text in the article:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4404d856-2612-f4a2-ed5c-fff65761293a
* Version Independent ID: 35b07132-7d8a-2c29-3988-54a2ae8fcc25
* Content: [Set up self-service group management - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory

[2020-11-12 20:49] wmk1 opened #65999 "IoT Edge asks many times for password while building and pushing solution"
# Build and push IoT Edge solution keeps asking for RPI ssh password

There is an issue I am encountering while updating my IoT Edge modules. I've got 4 custom modules and I wish to build nad push my solution to my IoT Edge Device. On a Visual Studio Code, when I want to perform action `Build and Push IoT Edge Solution` my console is asking for my RPI password, for which I am connecting usually th

[2020-11-12 20:50] SHANE0MAC commented on #65989
I was looking at the the rest of the doc and the Edit monitored entities, Add a new entity to monitor, Disable monitored entities and Disable FIM sections needs to be updated to reflect the new UI and features.
Example the Edit monitored entities section that talks about the Settings section in FIM Example Currently it says "Workspace Configuration opens displaying three tabs: Windows Registry, Wi

[2020-11-12 20:58] SaiKishor-MSFT commented on #65986
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-12 21:00] duongau commented on #15745
Closing this for now since there is a documentation for onboarding APEX domain now.

#please-close

[2020-11-12 21:00] #15745 closed

[2020-11-12 21:00] ChaitanyaNaykodi-MSFT commented on #65468
Hello @janossch, apologies for the delay in my response. Yes, you are correct reading the body length will degrade the performance. Alternatively you can use the chunk-size field to calculate the length, as chunk-size ‘0’ will mark the end of the message (Something familiar as mentioned [here](https://stackoverflow.com/questions/16460012/how-to-get-the-size-of-chunk-in-http-response-using-java-if-

[2020-11-12 21:00] #65468 closed

[2020-11-12 21:01] SaiKishor-MSFT commented on #65956
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate

[2020-11-12 21:11] SaurabhSharma-MSFT commented on #65709
@Anmolgan81 Sorry, unfortunately not with this sample workflow.  Other than CDC if you can maintain a soft delete column at source, then you can use in the pipeline to handle deletes at target.

[2020-11-12 21:13] JayaChatterjee-MSFT commented on #65852
@eccountable Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-11-12 21:13] RonnieQuan opened #66000 "Azcopy login for school or work account"
Can you please confirm if it support school or work account, like <myemail>.<myorg>.com?

or Azcopy only supports SPN or managed identity?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f56abd-559f-abcd-6ca4-6a21f1233d12
* Version Independent ID: e968b1b6-331c-e4d5-1713-59144483a65f
* Content:

[2020-11-12 21:16] v-randam opened #66001 "Unclear ARM Function Keys docs"
# Azure documentation issue guidance

The Function keys Arm template document specifies that in order to add Function keys the following object is needed:
[](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-06-01/sites/functions/keys)
{
  "name": "string",
  "type": "Microsoft.Web/sites/functions/keys",
  "apiVersion": "2020-06-01",
  "value": "string"
}

However if this is used

[2020-11-12 21:33] marciomocellin commented on #65926
Thanks. I will rewrite to remove the pipeline. It is sad because the model will be retrained every week and I believed pipeline was the best way to do it.

[2020-11-12 21:37] nianton opened #66002 "Error in Javascript sample for signaling durable entities"
The example for signaling entities in Javascript (https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings#example-client-signals-entity---javascript) has a mistake, the line that reads:

    await context.df.signalEntity(entityId, "add", 1);

should probably be:

    await client.signalEntity(entityId, "add", 1);

Thanks.

---
#### Document Details

⚠ *Do not edit

[2020-11-12 21:38] anbene commented on #65643
@SadiqhAhmed-MSFT I'm in contact with the content owner so I'll reassign this work item to myself. Thanks!

#reassign:anbene

[2020-11-12 21:47] ms-lolo opened #66004 "Question about blob tags consistency guarantees"
The data guarantees are not super clear to me here. It looks like tags are **eventually** indexed. Is that right? Am I expected to see a delay between writing a blob with tags and being able to query for this blob using its tags?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83542ba8-dadd-aa43-7416-168b560ee554
* Vers

[2020-11-12 21:48] WinstonHoward-MSFT commented on #62023
There doesn't appear to be a registry key for a pure WVD install. It looks like the installer makes API calls to identify if a machine is RDS or Windows 10 EVD. I found the below registry keys but no Windows Registry key. So you need to keep that key even though your not using Citrix so the Teams Installer can verify it's a Windows 10 EVD machine. Since your able to install teams and are unblocked

[2020-11-12 21:51] JamesTran-MSFT commented on #65981
@Simon999
Thank you for the question and update! I'm glad that you were able to resolve your issue and find the XML file to download. I'll go ahead and close out your issue.

Thank you for your time and patience throughout this issue.

[2020-11-12 21:51] #65981 closed

[2020-11-12 21:51] DerekHerman-MSFT commented on #65977
@mhobson87 Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-12 21:53] JamesTran-MSFT commented on #65844
@rbrayb
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-11-12 21:53] #65844 closed

[2020-11-12 21:57] JamesTran-MSFT commented on #65704
@GitHubSachin
Thank you for sharing your permissions and ARM template with me offline for this issue.

When I ran the ARM template, I was able to create a "test key" within my Key Vault, I just had to add my subscription to the ARM template.
![image](https://user-images.githubusercontent.com/36619112/99000834-bdcbd280-24ee-11eb-9f2a-3cddff72bfd9.png)

Since you have the correct permissions and thi

[2020-11-12 21:57] #65704 closed

[2020-11-12 22:00] JamesTran-MSFT commented on #65996
@polatengin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-12 22:01] JamesTran-MSFT commented on #65998
@RichMcLaren
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-12 22:03] JamesTran-MSFT commented on #65996
@polatengin
Thank you for pointing this out!

I've assigned this issue to the author of this article @msmbaldwin  and the author of the [GitHub repo](https://github.com/jlichwa/KeyVault-Rotation-StorageAccountKey-PowerShell) @jlichwa

[2020-11-12 22:11] JamesTran-MSFT commented on #65994
@rbrayb
Looking through the article I wasn't able to find any occurrences of "B2C_1A_SamlRpCert". Was there something in the article that mentions "B2C_1A_SamlRpCert"?

![image](https://user-images.githubusercontent.com/36619112/99002139-da690a00-24f0-11eb-92a0-34ae3aab3e18.png)

Thank you for your time and patience throughout this issue.

[2020-11-12 22:12] JamesTran-MSFT commented on #65998
@RichMcLaren
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-11-12 22:12] #65998 closed

[2020-11-12 22:27] MonikaReddy-MSFT commented on #66001
@v-randam -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-12 22:51] frankdrewes commented on #65924
one additional item..
The same type of problem can occur in the line
**$policycontent = Get-Content $PathToFile**
which is fixed with
$policycontent = Get-Content $PathToFile **_-Encoding utf8_**

[2020-11-12 22:51] SatishBoddu-MSFT commented on #65909
Hello @toddysm
Have you tried to update the NSG rules for the respective port?
and the issue still persists?

[2020-11-12 23:08] SatishBoddu-MSFT commented on #65866
Hello @vtieto
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2020-11-12 23:14] ChaitanyaNaykodi-MSFT commented on #65779
Hello @ujjwalmishra, I could not replicate the issue faced, for me the events which were within the TTL provided or within the number of max retries defined were retried according to the [policy set](https://docs.microsoft.com/en-us/azure/event-grid/manage-event-delivery#set-retry-policy).
Please note that this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues

[2020-11-12 23:14] #65779 closed

[2020-11-12 23:37] the-blesss commented on #63417
Awesome, I see the docs have been updated, I still see the same "EA only" error in the portal when deploying in a CSP subscription

[2020-11-12 23:47] JamesTran-MSFT commented on #65988
@joshnoe
I wasn't able to reproduce your error, have you tried running the commands using [Bash](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart) or [Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/overview) within the Portal?

![image](https://user-images.githubusercontent.com/36619112/99009082-413ff080-24fc-11eb-9ebb-c64880bb7321.png)

[2020-11-12 23:57] joshnoe commented on #65988
Nope, I ran it in regular Windows Command Prompt

[2020-11-12 23:57] DerekHerman-MSFT commented on #66000
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-12 23:59] DerekHerman-MSFT commented on #66004
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-13 00:00] rbegito commented on #65479
Hi @Chireven  the error you're facing is because the option "-Masterservers" does not accept Data Strings as parameters, actually you should pass it as IpAddress type. Like 192.168.10.1 or if in variable  "$vnetDnsServers = [IpAddress] "192.168.10.1" " for example.
This doc should be updated soon.

[2020-11-13 00:01] RyanHill-MSFT commented on #65993
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-13 00:04] shortpatti commented on #63417
@the-blesss, this is not a document issue.  Engineering needs to fix this issue.  Please raise this issue with them.

[2020-11-13 00:08] normesta commented on #65977
@mhobson87 - thank you for reporting this. I've fixed the link titles in the doc. Those changes should appear live tomorrow by 10 AM. Thanks again!

[2020-11-13 00:08] normesta commented on #65977
#please-close

[2020-11-13 00:08] #65977 closed

[2020-11-13 00:09] rgamage opened #66006 "Explanation of aggregate function arguments?"
Most documentation / examples of functions include at least a mention, and hopefully, an explanation, of the arguments that need to be passed into the function.  On this page there is no mention of the required argument, it just appears in the example for some mysterious reason.  What is the ```COUNT(1)``` argument, why is it there, can it be anything, does it have any meaning?  SQL server syntax

[2020-11-13 00:13] RyanHill-MSFT commented on #65882
Glad to hear that @philip-reed. The checkbox doesn't enable/disable the origins; it's for `Access-Control-Allow-Credentials`.

[2020-11-13 00:13] #65882 closed

[2020-11-13 00:15] #65852 closed

[2020-11-13 00:24] appelboom commented on #49792
Had this issue on RHEL 8.3_64 using rsyslog8
Can confirm just a config issue on the agent server

- rsyslog will receive Cisco ASA UDP/514 syslogs fine
- UDP is passed by rsyslog to OMSagent on TCP 25226
- We also for ward Checkpoint logexporter logs to TCP/514 on same agent

To listen on both TCP and UDP add below to rsyslogd.conf
$ModLoad imtcp
$ModLoad imudp

Make sure these sure firewall is in

[2020-11-13 00:39] jsk999 opened #66007 "Boot Loader agent update."
Boot loader agent has changed in the recent images created for WVD. But this website still has the link for previous version. Previous version reports VM Status differently than the new version. So, kindly update the link for Version 1.0.2.0. Currently it has got 1.0.0.0.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-11-13 00:45] BharathNimmala-MSFT commented on #65971
@dodge1350-frp  Thank you for reaching out with your query, we will look into it and get back to you at the earliest.

[2020-11-13 00:46] BharathNimmala-MSFT commented on #65978
@javiersoriano Thanks a lot for taking time to share this feedback, we will work through to update the document accordingly.

[2020-11-13 01:05] BharathNimmala-MSFT commented on #65589
@naleczynskia We really appreciate you taking time to share your feedback. I have started an internal discussion with our required team on this regards and we will review the feedback and if applicable will take a backlog item to enhance the document accordingly.

We will go ahead and close this issue for now, however if you have any further queries please tag us in your reply and will be happy to

[2020-11-13 01:05] #65589 closed

[2020-11-13 01:12] BharathNimmala-MSFT commented on #65982
@lyndon678 Thank you for reaching out. I have assigned this issue to our document author @dcurwin to further review the feedback and update the document accordingly.

[2020-11-13 01:27] LittleBoxOfSunshine commented on #63619
@tgross thanks for the feedback, I agree this is an area of improvement for the docs.

The first issue is there's a typo in the table you refer to, those endpoints should all be prefixed with `/interface`.

The page presently doesn't do a good job delineating between our _endpoints_ and our _path parameters_ and I feel that the root source of the ambiguity of how the samples work. In the case of t

[2020-11-13 01:46] YutongTie-MSFT commented on #65722
@vdekercd
Hi Damien, I will make them as comment. Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-13 01:46] #65722 closed

[2020-11-13 02:16] genlin commented on #65720
@SquirrelAssassin Thanks for pointing out the problems. I will verify the scripts.  If the Azure PowerShell was installed only for current user, the installation path is different.  So I prefer to just provide the sample of the path.

[2020-11-13 02:43] nturinski commented on #65544
Just for clarification, is this the banner that you're referring to?

![image](https://user-images.githubusercontent.com/5290572/99022141-faabbf80-2516-11eb-9a67-e31c3f1eb69b.png)

[2020-11-13 03:27] YutongTie-MSFT commented on #65722
https://github.com/Azure-Samples/cognitive-services-quickstart-code/pull/178 FYI

[2020-11-13 03:35] shizhMSFT commented on #65506
@psmanhas @puneethkgowda The helm 3 CLI manages Helm 3 charts, and also is backward-compatible with Helm 2 repositories.

The `helm repo`, including `helm repo add`, is a command set dealing with Helm 2 repositories, although the Helm CLI is in version 3. To add a Helm 2 repository via Helm 3 client, you should run `az acr helm repo add` or run
[code]

Instead of pushing / pulling helm 2 charts, w

[2020-11-13 04:14] KalyanChanumolu-MSFT commented on #66006
@rgamage Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2020-11-13 04:14] pnarsi opened #66020 "Event Grid IP Firewall in Preview?"
In the first set of dot points at the top of this page, the dot point related to the Event Grid firewall has a "(preview)". Is this feature actually still in preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22711686-7353-1674-4313-96801a0808dc
* Version Independent ID: ef864bd9-a9ad-3537-18e3-9cd41f035ffb
* Cont

[2020-11-13 04:29] YutongTie-MSFT commented on #65759
@nerajput1607 Hi Neha, could you pleas take a look of this issue and update the document if necessary? Thanks a lot.

[2020-11-13 04:38] YutongTie-MSFT commented on #65898
@ARIT2018 Hello, thanks for your feedback. I have created a PR to fix it, which is under review. You should see the change shortly.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-11-13 04:38] #65898 closed

[2020-11-13 04:52] YutongTie-MSFT commented on #65976
@aahill Hello! Could you please check this feedback and update the document if necessary? Thank you!

[2020-11-13 04:55] gsxmax commented on #65272
Currently we have confirmed the limitation has changed, hopefully we could modify the document accordingly to avoid confusion.

[2020-11-13 05:03] MoulshreeSD commented on #65970
any updates here?

[2020-11-13 05:42] BharathNimmala-MSFT commented on #65992
@yellowpanda Thanks a lot for bringing this to our attention, our team will further review and update the document accordingly.

[2020-11-13 05:43] BharathNimmala-MSFT commented on #65990
@yellowpanda Thank you for reaching out to us with your query, our team will review and circle back at the earliest.

[2020-11-13 05:44] BharathNimmala-MSFT commented on #65995
@ryandle Thanks a lot for reaching out to us, our team will review the query and circle back at the earliest.

[2020-11-13 05:48] HarithaMaddi-MSFT commented on #66002
@nianton - Thanks for sharing your valuable feedback. We are looking into it and will get back to you on this.

[2020-11-13 05:49] BharathNimmala-MSFT commented on #65999
@wmk1 Thanks a lot for reaching out. Please note that [this ](https://github.com/MicrosoftDocs/azure-docs/issues) repo is to drive improvements on Azure documentation. Can you please share the documentation link you are referring, so that we can assist you accordingly. Thank you

Looking forward to hear back from you.

[2020-11-13 05:51] HarithaMaddi-MSFT commented on #66020
@pnarsi - Thanks for posting the query. We are looking into it and will get back to you soon.

[2020-11-13 06:06] HarithaMaddi-MSFT commented on #66007
@jsk999 - Thanks for posting your valuable feedback. We are looking into it and will get back to you soon.

[2020-11-13 06:19] OpalSec opened #66021 "Lack of information on Conditions Levels"
Guidance for what to configure under _User Risk Policy/Sign-In Risk Policy > Assignments > Conditions_ is unclear on what constitutes Medium/High levels of Conditions. Do these levels correlate directly to the risks outlined [here](https://docs.microsoft.com/en-gb/azure/active-directory/identity-protection/concept-identity-protection-risks)? If so, what constitutes low/medium/high?

[This section

[2020-11-13 06:50] yellowpanda commented on #65990
@BharathNimmala-MSFT you should thank @joshuapetryk instead. :)

[2020-11-13 06:54] BrendanHere opened #66022 "Great walkthrough, missing one bit"
This was a really helpful walkthrough, but, unless I missed something, the storage location wasn't provided location": "[parameters('location')] didn't give me info to plug-in there in the document.

I did some research and found that; ((Get-AzResourceProvider -ProviderNamespace Microsoft.Batch).ResourceTypes `
  | Where-Object ResourceTypeName -eq batchAccounts).Locations
helps identify the locat

[2020-11-13 08:28] ErikMogensen commented on #59108
I have the same problem. Please update the article.

[2020-11-13 08:33] wmk1 commented on #65999
Hello, thanks for reaching out.

The documentation part I am referring to: https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function?view=iotedge-2018-06#build-and-push-your-iot-edge-solution

Best wishes,
Wojciech

[2020-11-13 09:00] TheMorganator opened #66023 "Missing PS parameter in doc"
I was not able to use the PowerShell command to install the agent on Linux without also specifying the parameter and value:
-TypeHandlerVersion 1.5

Otherwise it would fail with error:
Set-AzVMExtension: The value of parameter typeHandlerVersion is invalid.
ErrorCode: InvalidParameter
ErrorMessage: The value of parameter typeHandlerVersion is invalid.
ErrorTarget: typeHandlerVersion
StatusCode: 40

[2020-11-13 09:19] franckcdev opened #66024 "Directory.Read.All instead of Organisation.Read.All"
Hi,

The article mentions that _Organisation.Read.All_ permission must be granted to read the **lastSignInDateTime** property.
However, it does not work with that permission but with the _Directory.Read.All_ permission.
Please replace _Organisation.Read.All_ by _Directory.Read.All_ .

Thx
Franck
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-11-13 09:21] gitveysel opened #66025 "Can u provide dependencies for java please?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35018f9d-bebe-4149-e26f-cb5086a1125d
* Version Independent ID: 7dd66eac-f81d-12a5-dca0-b12b3280b772
* Content: [Azure App Configuration REST API - HMAC authentication](https://docs.microsoft.com/en-us/azure/azure-app-configuration/rest-api-authenticat

[2020-11-13 09:22] Markus-Hanisch opened #66026 "Duplicate information or reference needed"
Hello,
a user asked how to leave an organization where I had been added as guest user.
While reasearch, I found two articles:
1. [Leave an organization as a guest user](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/leave-the-organization) - ms.date: 06/13/2019
2. [Manage organizations you have access to in the My Account portal](https://docs.microsoft.com/en-us/azure/

[2020-11-13 09:29] Super-tim opened #66027 "support publication/subscription in Single Server?"
Logical replication using PostgreSQL publication/subscription is a very useful feature.
Is there a plan to support it in single server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10ac9cb3-8bfd-fbd9-f097-142c440c8af4
* Version Independent ID: e106f108-d886-6d5e-4b27-8e3d46a073bf
* Content: [Logical decoding - Azure

[2020-11-13 09:32] austintraver commented on #51129
Hello @PramodValavala-MSFT

I have the exact same problem as the poster above me, and will quote what that poster said whenever it applies to me as well

The only difference is that I am running macOS Big Sur 11.0.1

[2020-11-13 09:35] austintraver opened #66028 "Does not connect following this guideline"
Hello @PramodValavala-MSFT

I have the exact same problem as the poster above me, and will quote what that poster said whenever it applies to me as well

The only difference is that I am running macOS Big Sur 11.0.1

_Originally posted by @austintraver in https://github.com/MicrosoftDocs/azure-docs/issues/51129#issuecomment-726656334_

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-13 09:37] austintraver commented on #43666
I too have no `/` in my keys

I'm facing this problem in macOS Big Sur 11.0.1 and have referenced this issue in https://github.com/MicrosoftDocs/azure-docs/issues/51129 and https://github.com/MicrosoftDocs/azure-docs/issues/66028

[2020-11-13 09:47] bragma commented on #27135
Aside from features, there is still a huge cost difference between the solutions in some scenarios. So, CosmosDB is nice but it is not going to replace Table Storage for simple queries and low costs requirements.

[2020-11-13 10:04] OffColour opened #66029 "What about a geniuine local admin account?"
All this is fine until the machine doesn't have an internet connection and then Admins are completely locked out of the machine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496-f972-3b1b-640a1bd81412
* Version Independent ID: 6951f3d5-c766-133c-4785-9cd4192bae19
* Content: [How to manage local administrato

[2020-11-13 10:08] RZuid opened #66030 "Error in flowcontrol"
When done all the steps there is a error in the flowcontrol.
Make sure a valid reference to Get_Entities is included for input parameters for the action Sending an Email (V2)

Used:
Condition: length(body('Get_entities')?['value']) / is greater than / 0

Email: Send an email (v2) / body('Get_entities')?['value']

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-11-13 10:10] VeV-HDT commented on #65648
@MarileeTurscak-MSFT were you able to catch my email?

[2020-11-13 10:17] asergaz commented on #64993
I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-13 10:25] KrishnaG-MSFT commented on #64987
@thvenket Apologies for the delayed response. Now I have an update on this ask

i.e., currently we do not have a Date Time picker. We will take this into account for next semester’s (Jan 2021 to June 2021) planning and would get back to you once we lock on our committed list or would add in roadmap as appropriate and would update the related Azure document once it is addressed.

At this point it a

[2020-11-13 10:26] #64987 closed

[2020-11-13 10:27] KrishnaG-MSFT commented on #64980
Duplicate or related to https://github.com/MicrosoftDocs/azure-docs/issues/64987

@thvenket Apologies for the delayed response. Now I have an update on this ask

i.e., currently we do not have a Date Time picker. We will take this into account for next semester’s (Jan 2021 to June 2021) planning and would get back to you once we lock on our committed list or would add in roadmap as appropriate and

[2020-11-13 10:27] #64980 closed

[2020-11-13 10:31] HarithaMaddi-MSFT commented on #66021
@OpalSec - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-13 10:31] akiohose opened #66031 "Charges covered for SQL Managed Instance"
Can we add a bullet for SQL Managed Instance?  Or does the "SQL Database reserved vCore" apply to SQL MI as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b15d245b-92f1-785d-2776-ebec6a4fad42
* Version Independent ID: 2ac3df93-eed6-76f6-e356-2401c57403fa
* Content: [What are Azure Reservations?](https://docs.micr

[2020-11-13 10:33] HarithaMaddi-MSFT commented on #66022
@BrendanHere - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-13 10:34] KrishnaG-MSFT commented on #65729
@RonnieQuan Sure. 👍

At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. But if there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-11-13 10:34] #65729 closed

[2020-11-13 10:37] HarithaMaddi-MSFT commented on #66023
@TheMorganator - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-13 10:39] HarithaMaddi-MSFT commented on #66024
@franckcdev - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-13 10:41] HarithaMaddi-MSFT commented on #66025
@gitveysel - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-13 10:43] HarithaMaddi-MSFT commented on #66026
@Markus-Hanisch - Thanks for posting the feedback. We are looking into it and will get back to you shortly.

[2020-11-13 10:44] HarithaMaddi-MSFT commented on #66027
@Super-tim - Thanks for posting the query. We are looking into it and will get back to you shortly.

[2020-11-13 10:44] KrishnaG-MSFT commented on #66030
@RZuid Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-13 10:46] KrishnaG-MSFT commented on #66031
@akiohose Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-13 10:47] HarithaMaddi-MSFT commented on #66028
@austintraver  - Thanks for posting the query. We are looking into it and will get back to you with details soon.

[2020-11-13 10:49] Speedy1979 commented on #64205
Should have been fixed by Microsoft now, according to ticket update.

[2020-11-13 10:49] HarithaMaddi-MSFT commented on #66029
@OffColour  - Thanks for posting the query. We are looking into it and will get back to you with details soon.

[2020-11-13 10:49] KrishnaG-MSFT commented on #65881
@Nepomuceno Good catch! I have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks.

[2020-11-13 10:49] #65881 closed

[2020-11-13 10:56] kishaa opened #66032 "UnrecognizedArgumentError: unrecognized arguments: --appgw-id"
Hi,

I am facing a error below when I tried to enable app gateway addon for aks

`az aks enable-addons -n pocakscluster -g POC-RG -a ingress-appgw --appgw-id $appgwId`

**UnrecognizedArgumentError: unrecognized arguments: --appgw-id /subscriptions/#####&&&&/resourceGroups/POC-RG/providers/Microsoft.Network/applicationGateways/pocappgw_**

AKS is running on version 1.17.X
AppGW has WAF_v2 SKU

The

[2020-11-13 11:04] zerweck commented on #65945
Are you aware that many users utilize VM scaling only over the Portal and not over the CLI? If you are not a power user, you can run into a 'trap' where your VM gets automatically set Accelerated Networking = True because it is an eligible size, but you are unable to deactivate it and therefore unable to reduce it back to a size where you need Accelerated Networking to be False.

This was the case

[2020-11-13 11:54] PatrickLownds opened #66034 "Arc content needs updating"
The text says **Machines Machines - Azure Arc** and should say **Servers - Azure Arc**.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ade5e1b3-7647-1016-4d1f-8a6db72a6a39
* Version Independent ID: dfa07aac-7107-cc9b-576a-9dded56e3a99
* Content: [Enable Azure Monitor for single virtual machine or

[2020-11-13 11:58] MonikaReddy-MSFT commented on #66001
@v-randam -
Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-11-13 12:23] nansravn opened #66037 "The ADLS Gen2 Quickstart doesn't explain how to create ADLS Gen2"
This documentation isn't related to the creation of an Azure Data Lake Storage Gen2.

Actually, customers listen from Microsoft about ADLS Gen2, but when they search for ADLS Gen2 in the Azure Portal, they don't see that service there. This can be confusing for customers that are creating ADLS Gen2 for the first time, because they don't know that the right way to create it, is to create an Azure S

[2020-11-13 12:23] puneethkgowda commented on #65506
@shizhMSFT I am performing push/pull on helm 3 charts. When i push it to ACR, i could see the charts as artificats in ACR repository.
To deploy the chart, i am pulling each chart to local cache, extract it and then installing it.

When using helm 2 charts, i was adding repo using  **az acr helm repo add**. then was able to access without fetching it to local.

Below are the steps performed in helm

[2020-11-13 12:40] spaelling opened #66038 "What is the purpose of the script?"
If the subnet already has an NSG associated it does not create the necessary rules. If there is none it does create the necessary rules.

The route table it associates has no routing rules. This is the hard part as this is a very long [list](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/connectivity-architecture-overview#user-defined-routes-with-service-aided-subnet-configurati

[2020-11-13 12:40] bgavrilMS commented on #65990
We are discussing this on the MSAL.NET repo https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2184  - I think that is a better place.

[2020-11-13 12:51] mcurko opened #66039 "Question"
[code]

In regard to this JSON excerpt, are excluded files those who satisfy any or both of these conditions (paths, processes)? Would "C:\temp\mssence.svc" file be excluded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d8-d6d9-990bf1cfe34d
* Version Independent ID: 98c9a0f0-35bc-eacd-9aaf-acfd4b968fe

[2020-11-13 12:58] roehlsioson opened #66040 "Clarify the term "domain" in the phrase "Azure AD directory or domain""
The term "domain", as used, is vague:  While the example contoso.com clearly says that it is not yet on Azure AD, the walkthrough doesn't explain how such a "domain" becomes available to be used as a Connected Organization.  Currently, the front matter only says "A connected organization is an external Azure AD directory or domain that you have a relationship with." which isn't very helpful.

Sugg

[2020-11-13 13:16] akoz0r commented on #36458
Any update on this?

We too have been adviced by Microsoft support that the "WEBSITE_CONTENTSHARE" property must be set. When it is not possible to set it as a slot setting this is quite problematic for our build pipelines and ARM templates. Please advice!

[2020-11-13 13:31] matibs commented on #35478
Hi
Was this solved?

[2020-11-13 13:56] #65877 closed

[2020-11-13 13:58] mcurko opened #66041 "Key vault error"
[code]

How do I set access policy for a vault that doesn't yet exist? Instead, create a vault first and then use the parameter KeyVaultResourceGroupName  when creating the cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91d50254-008b-6940-913c-128fae3ad409
* Version Independent ID: e3ed3eec-8be7-bfea-a41f-574e

[2020-11-13 14:28] alexchienTW opened #66042 "Use PipelineData for intermediate data"
I don't understand why it is necessary to pass both the arguments and outputs arguments when passing PipelineData objects. I can't find any explanation on why it is necessary, and it is inconsistent to passing Dataset objects.

Pass your PipelineData object(s) to your PythonScriptStep using **both** the arguments and the outputs arguments.

---
#### Document Details

⚠ *Do not edit this section. I

[2020-11-13 14:40] dgshue commented on #65868
We're seeing the same thing.. and unfortunately we are doing this for Data Factory

[2020-11-13 14:42] jcageman opened #66043 "TelemetryConfiguration.Active.InstrumentationKey is not valid anymore"
TelemetryConfiguration.Active.InstrumentationKey = RoleEnvironment.GetConfigurationSettingValue("APPINSIGHTS_INSTRUMENTATIONKEY"); is not valid anymore in the latest sdk.

See for example:
https://github.com/MicrosoftDocs/azure-docs/issues/43250
https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-11-13 14:48] #65926 closed

[2020-11-13 14:58] taylorchasewhite opened #66044 "Issues with Blazor Tutorial, Also Request to Update to .NET 5?"
I've followed this flow (nicely written with explanations of the steps by the way!), but have hit issues getting this to work.

Here are the errors I'm seeing:

- 404 Error requesting: `https://graph.microsoft.com/v1.0/me?$select=displayName,mail,mailboxSettings,userPrincipalName`
- This client error stating the Microsoft Graph API resource is not found:
[code]

Any idea why I would be hitting the

[2020-11-13 14:58] jcord100 opened #66045 "Which ANF NFS version is supported?"
Hello Team,

There is no clear mention to which version of ANF NFS is supported with AKS.

If you follow the document in the part "Create a volume by using az netappfiles volume create." it uses the parameter "--protocol-types "NFSv3"".

Nonetheless, in the internal AKS Wiki in the "Azure Storage on Kubernetes" section it mentions that only ANF NFS 4.0 is supported.

Can you please update the docu

[2020-11-13 14:58] DarrenWainwright opened #66046 "Would like to request information to post locally, to runtime/webhooks/signar"
I'm developing a Functions App that will work with the SignalR Service.

I was directed to this page to use the information to create an http post that can be executed locally (using Postman, or similar)

I have been trying to create a postman request using this information but keep receiving a '500 - Parsing message failed'.

I'd like to request an example/tutorial be included in the page to demo

[2020-11-13 14:59] mohamed-shehata-m commented on #35478
Yes, you have to use 1 subnet per app service plan.

[2020-11-13 15:04] SocMinarch commented on #57993
@v-demjoh Neural voice is not available to me

[2020-11-13 15:10] montereyharris opened #66047 "Diagram out of date with support"
Article shows that RHEL ISOs are no longer supported but RHEL ISOs are shown in the diagram

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcfbb0ad-6906-925d-7490-7f1d61b67f57
* Version Independent ID: 7125bcbd-18a7-4c34-1799-f15e4a7a3aba
* Content: [Learn more about Azure Image Builder (preview) - Azure Virtual Machin

[2020-11-13 15:18] morcinim opened #66048 "Correct snapshot copy script"
Please correct script in
https://docs.microsoft.com/en-us/azure/marketplace/azure-vm-create-using-own-image#extract-the-vhd
and remove space before snapshotName variable in this line:

sas=$(az snapshot grant-access --resource-group $resourceGroupName --name $ snapshotName --duration-in-seconds $sasExpiryDuration --query [accessSas] -o tsv)

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-13 15:35] vbeaulieu278 opened #66049 "Need clarification on the definition of an active receiver"
After following these steps to configure an Event Grid subscription when there is no active listener on a Service Bus subscription, I am experiencing an unexpected behavior. The doc states "The events are emitted immediately if there are no messages in the Service Bus entity and a new message arrives. Or the events are emitted every two minutes unless Service Bus detects an active receiver." When

[2020-11-13 15:41] asergaz opened #66050 "Please enhance the doc with a drawing showing the device, the outer case, the two screws, and the wrench."
This request started as a thread in Microsoft Q&A: https://docs.microsoft.com/en-us/answers/questions/152076/index.html

From: [BillyZelsnack-4160](https://docs.microsoft.com/answers/users/4515219/billyzelsnack-4160.html)

"Maybe add a blurb on this page https://docs.microsoft.com/en-us/azure/Kinect-dk/multi-camera-sync directly above the "Select a device configuration" with an iso exploded drawin

[2020-11-13 15:42] asergaz commented on #66050
I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-11-13 15:47] ecfan commented on #65839
@derek1ee , for any additional info that you can provide about webhook billing while waiting for the callback and when the action is invoked.

[2020-11-13 16:04] tfitzmac commented on #65095
It looks like retention interval was updated at [https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#sample-templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deployment-script-template?tabs=CLI#sample-templates).

We'll close this issue.

[2020-11-13 16:04] tfitzmac commented on #65095
#please-close

[2020-11-13 16:04] #65095 closed

[2020-11-13 16:05] DCtheGeek commented on #66022
#reassign:DCtheGeek

[2020-11-13 16:06] mumian commented on #65095
The fix for "az login" has been rolled out to all regions.

[2020-11-13 16:07] #65900 closed

[2020-11-13 16:08] joshnoe commented on #65988
So just to be clear, to reproduce the error, simply run the command in Command Prompt.

[2020-11-13 16:10] algattik commented on #64476
I had trouble understanding what the concept of autopool even was, since it's not properly documented.

Text like https://docs.microsoft.com/en-us/azure/batch/best-practices "manage the compute nodes in the pool either explicitly, or through features provided by the service (autoscale or autopool)." is only useful if you provide a link to a page explaining what the feature is (as you're doing very

[2020-11-13 16:22] mcurko opened #66051 "Comment"
"When you're finished, you have a cluster running in the cloud to which you can deploy applications. "

I doubt anyone ever created a cluster with information provided here. It's not a tutorial, despite the title. Please rewrite it altogether, otherwise it's just a pretty useless text. No steps to follow, just a collection of information.

[2020-11-13 16:24] KrishnaG-MSFT commented on #66034
@PatrickLownds Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-13 16:25] DCtheGeek commented on #66022
@BrendanHere Thanks for the question and glad you found this walkthrough helpful!

The `[parameters('location')]` inside the ARM template artifact takes the value provided to the template (`parameters.location`), the default of which is a function `[resourceGroup().location]`. The `resourceGroup()` function returns two properties for the resource group the artifact is context in: `name` and `locat

[2020-11-13 16:25] #66022 closed

[2020-11-13 16:27] KrishnaG-MSFT commented on #66043
@jcageman Thanks for the comment.
Assigning content owner @lgayhardt for visibility, review and document enhancement consideration as appropriate.

[2020-11-13 16:31] KrishnaG-MSFT commented on #66048
@morcinim Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-13 16:39] JamesTran-MSFT commented on #66040
@roehlsioson
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-13 16:44] v-kerowe commented on #66001
Hi @MonikaReddy-MSFT Thanks for the heads up !

This is the doc url [](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-06-01/sites/functions/keys)

Thanks in advance!

[2020-11-13 16:50] simondmorias commented on #64929
+1 for this issue. The documentation is severely lacking for Microsoft Work accounts and in particular Guest accounts are difficult to figure out.

As @kennethvs points out for guest accounts you can go to https://account.activedirectory.windowsazure.com/r#/profile and switch org in the top right. But only for some of my guest accounts do I see the "Edit security info". On most it is just blank pa

[2020-11-13 16:55] DerekHerman-MSFT commented on #65995
Thanks for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-13 17:02] DerekHerman-MSFT commented on #66000
@RonnieQuan azcopy also supports user identity, a user identity is any user that has an identity in Azure AD. So it should support a school or work account. https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-authorize-azure-active-directory

[2020-11-13 17:09] tfitzmac commented on #62786
@AleksandarTomicMs2 - there is now a scope property at the root level for the resource where you can set the resource to apply the role to. Here's [an example](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/scope-extension-resources?tabs=azure-cli#apply-to-resource). I am also updating [Add Azure role assignments using Azure Resource Manager templates](https://docs.microso

[2020-11-13 17:09] matibs commented on #35478
So.. I'll possibly be running out of /28 subnets.. might just have a separated vnet just for this, right?

________________________________
De: Mohamed Shehata <notifications@github.com>
Enviado: viernes, 13 de noviembre de 2020 11:59
Para: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: matibs <matiasbasconcelo@hotmail.com>; Comment <comment@noreply.github.com>
Asunto: Re: [Microsoft

[2020-11-13 17:09] tfitzmac commented on #62786
#please-close

[2020-11-13 17:09] #62786 closed

[2020-11-13 17:11] aressler38 commented on #66001
I am the one that opened the case with Azure support. I got this working by using the following schema:

[code]

The "Site name" is where the function app is being hosted; I believe that is a Microsoft.Web/sites type.
I noticed the documentation is the same for past versions, so they may also be incorrect.

Another thing I noticed is that the properties.value is optional, but if you do not include

[2020-11-13 17:12] SaurabhSharma-MSFT commented on #65709
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-11-13 17:12] #65709 closed

[2020-11-13 17:19] erjosito opened #66052 "Update info on agents for onprem machines"
In the section regarding the agents for onprem machines the Log Analytics Agent is mentioned. However the link offered is for the **extension**, and only for Windows. Does that imply that Linux is not supported?

I guess the link should actually go to this page: https://docs.microsoft.com/azure/azure-monitor/platform/agents-overview. However, Network Watcher or NPM are not listed out as supported

[2020-11-13 17:19] BharathNimmala-MSFT commented on #66051
@mcurko Thank you for reaching out, please be noted that [this azure-docs](https://github.com/MicrosoftDocs/azure-docs/issues) repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so please share the Azure document link so that we can assist you accordingly.

[2020-11-13 17:24] BharathNimmala-MSFT commented on #66038
@spaelling Thank you for your feedback, our team will review and get back to you at the earliest.

[2020-11-13 17:31] BharathNimmala-MSFT commented on #66032
@kishaa  Thanks a lot for reaching out. Please note that [this repo](https://github.com/MicrosoftDocs/azure-docs/issues) is to drive improvements on Azure documentation. Can you please share the documentation link you are referring, so that we can assist you accordingly. Thank you

Looking forward to hear back from you.

[2020-11-13 17:37] czendler commented on #40633
Please reopen this issue

[2020-11-13 17:44] #65995 closed

[2020-11-13 17:51] JamesTran-MSFT commented on #65994
@rbrayb
I just wanted to check in and see if you had a chance to review my previous post or if you had any other questions? Since there's no instance of  "B2C_1A_SamlRpCert" within the article referenced by this issue, I'll go ahead and close this out.

If you require additional assistance or need me to re-open this issue, please feel free to tag me and I'd be happy to continue working with you on

[2020-11-13 18:02] TravisCragg-MSFT commented on #65708
@cstainie We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-11-13 18:02] #65708 closed

[2020-11-13 18:02] kishaa commented on #66032
@BharathNimmala-MSFT here is the **[link]**(https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-gateway/tutorial-ingress-controller-add-on-existing.md)

I faced this issue while running command on sequence number 2.

1. appgwId=$(az network application-gateway show -n myApplicationGateway -g myResourceGroup -o tsv --query "id")
2. az aks enable-addons -n myCluster -g myRes

[2020-11-13 18:05] mimckitt commented on #40633
There is nothing left to address in this issue. From a documentation standpoint, the information is accurate.

If you would like to suggest a feature you can do so here: https://feedback.azure.com/forums/216843-virtual-machines

[2020-11-13 18:07] JamesTran-MSFT commented on #66021
@OpalSec
From my understanding, the user risk levels do correlate to what you linked within the - [What is risk?](https://docs.microsoft.com/en-gb/azure/active-directory/identity-protection/concept-identity-protection-risks#user-risk) documentation.

For what constitutes [low/medium/high risk levels](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-prot

[2020-11-13 18:14] jmprieur commented on #65990
#please-close (as this is handled on the MSAL.NET repo).

[2020-11-13 18:14] #65990 closed

[2020-11-13 18:19] YutongTie-MSFT commented on #66042
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-13 18:23] johnstairs opened #66056 "FHIR server for Azure: app role examples will not work"
In the [Define App Roles](https://docs.microsoft.com/en-us/azure/healthcare-apis/register-resource-azure-ad-client-app#define-application-roles) section at the bottom of the page, the example roles will not work out of the box. The values need to align with the names in the [roles.json](https://github.com/microsoft/fhir-server/blob/master/src/Microsoft.Health.Fhir.Shared.Web/roles.json) config fil

[2020-11-13 18:24] WhitWaldo commented on #59108
Especially now that Key Vault has added the preview support for RBAC roles, I'd strongly suggest including the steps for both the access polices approach and the RBAC so all scenarios are tackled, regardless of which permissions approach is in use on the Key Vault instance.

[2020-11-13 18:27] mike-urnun-msft commented on #66049
@vbeaulieu278 Thank you for your feedback! We will review and update as appropriate.

[2020-11-13 18:52] SamaraSoucy-MSFT commented on #66025
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-11-13 19:09] RyanHill-MSFT commented on #65663
Our pleasure @AviateX14, we'll pass along your feedback to appropriate team.

[2020-11-13 19:09] #65663 closed

[2020-11-13 19:25] joshmachnik commented on #65085
@MarileeTurscak-MSFT do you know if the change has taken place? I've been checking my B2C directories and haven't seen any change yet in the greeting option.

[2020-11-13 19:26] AjayKumar-MSFT commented on #65732
@compy, Kindly review the request and share your feedback, I have followed-up on this with you internally. Thanks!

[2020-11-13 19:36] SquirrelAssassin commented on #65720
You do what you feel is right.

Providing working examples should always be a priority, when people need to find this page, trust me they are already in a pinch.   Wasting human hours for people to troubleshoot broken examples because someone did not future proof it is very irresponsible.

Anyone not with,  I would say moderate knowledge of powershell trying to use your example renders it useless,

[2020-11-13 20:00] SaiKishor-MSFT commented on #66052
Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-11-13 20:04] rajesh-erasani opened #66059 "Picture needs corrected"
The picture under "Protocol Diagram" heading needs corrected. Step 3 in the picture should say "**Return** access token B" instead of "**Request** access token B".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cd73bb0-f8d5-84f7-3fc5-2022f8392a20
* Version Independent ID: d598130d-ba3a-0078-d4b6-1e47fad5ea41
* Content

[2020-11-13 20:10] rajesh-erasani commented on #66059
@CelesteDG for your awareness

[2020-11-13 20:10] mattallscripts commented on #65657
If we have time we'll do a POC and try this out, I have a feeling it'll work but in the meantime @JamesTran-MSFT if you have any insight into my clarification above that'd save us some time.

[2020-11-13 20:13] hpsin commented on #66059
Indeed, thanks for the catch @rajesh-erasani .  @mmacy can you update this?

[2020-11-13 20:21] akitty opened #66061 "grammer error"
grammer error here
The Azure Load Balancer is an L4 of the Open Systems
shoud be
The Azure Load Balancer is onL4 of the Open Systems

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID: 82b46441-43fc-fe48-97e2-0f3fca3d6eab
* Content: [Use a Public Load Balancer -

[2020-11-13 20:44] miqm opened #66062 "ElasticPremium Plan not supported in Resource Groups with existing App Service Plans PremiumV3"
Please provide information, that ElasticPremium Plan cannot be created in a resource group where already exists a Dedicated AppService Plan capable of scaling to PremiumV3, and both plans are to be in one region.

This is a huge limitation and should be very clearly stated, especially that error message on template validation is not very clear on this:
`"Index (zero based) must be greater than or

[2020-11-13 20:45] karllll commented on #64898
I'd like to follow on with this conversation and add my support to @bakerm00.

As an example, I have a client in the banking industry that uses Microsoft Teams for both company communication, and also requires the ability of employees to connect to other external business partner's Teams tenants. Restricting employees from connections to other tenants via the whitelisting header is unfortunately n

[2020-11-13 20:47] mcollier opened #66063 "Blob output binding - IAsyncCollector?"
Does using `IAsyncCollector` for asynchronous methods work?  If so, what types are supported?  I tried `IAsyncCollector<string>` and couldn't get it to work.  If it does work, I think it would be helpful if this document could be updated to include which of the data types are supported, and which aren't.

Additionally, if there is a need to write multiple output files, it would be good to include

[2020-11-13 20:52] lobrien commented on #66042
The API for data access between pipeline steps is evolving. We suggest you switch to using `OutputFileDatasetConfig` objects for an improved experience and more consistent API. See https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/pipeline-with-datasets/pipeline-for-image-classification.ipynb for an example.

[2020-11-13 20:55] vhorne commented on #64885
article updated
#please-close

[2020-11-13 20:56] #64885 closed

[2020-11-13 21:13] SGeorge007 opened #66064 "Microsoft.Extensions.DependencyInjection.Abstractions: Unable to resolve service for type '' while attempting to activate ''"
I am stuck on this issue for hours now. I have tried every suggestions described in [https://github.com/Azure/azure-functions-host/issues/4939](url) and [https://github.com/Azure/azure-functions-dotnet-extensions/issues/14](url)

    public class Startup : FunctionsStartup
    {
        public override void Configure(IFunctionsHostBuilder builder)
        {
            //builder.Services.AddHttpCl

[2020-11-13 21:20] mmacy commented on #66059
@hpsin Yup, I'll get an update into the pipeline, will be a couple days. And yes, thanks @rajesh-erasani! #reassign:mmacy

[2020-11-13 21:21] engineersamuel opened #66065 "from azureml_user.parallel_run import EntryScript not available"
This page refers to `from azureml_user.parallel_run import EntryScript` which is not clearly or apparently accessible in any publicly available python package.  The docs should be updated/clarified in this regards and/or this python module should be published and accessible to be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-11-13 21:23] SvenAelterman opened #66066 "Versions are no longer required?"
From testing, it appears that the Key Vault reference, in either supported syntax, no longer require the version reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Use Key Vault references - Azure App

[2020-11-13 21:30] tesharp commented on #65868
@TravisCragg-MSFT  Thanks, it works in our case to remove it since we are not using Data Factory. However I imagined even if we were using it that would be a problem (and hence creating this issue). If we wanted to use Data Factory on private link would that then mean that we cannot access `management.azure.com` at all?

[2020-11-13 21:36] BharathNimmala-MSFT commented on #66041
@mcurko Thank you for reaching out, our team will review it and get back to you at the earliest.

[2020-11-13 21:37] brucelangston opened #66068 "Inconsistent VM name references on this page"
The title at the top of the page refers to "Dv2 and DSv2-series" but the first sentence of the section references Dv2 and D**_s_** v2-series.

The naming [convention explanation page](https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions), however explains what seems to be fairly consistent throughout all the other docs that a lower-case s, after the the CPU count position,

[2020-11-13 21:42] BharathNimmala-MSFT commented on #66037
@nansravn Apologies for your experience and appreciate you taking time to share your feedback. Our team will review and get back to you at the earliest.

[2020-11-13 21:46] BharathNimmala-MSFT commented on #66039
@mcurko Thank you for reaching out , our team will review your query and get back to you at the earliest.

[2020-11-13 21:47] SB-o-matic commented on #65835
Any feedback?

[2020-11-13 22:11] manknewl opened #66070 "Stopped getting Application Insights telemetry - Custom Domains"
I was using the log query to get the Questions and Answers from my bot. I stopped receiving the Questions, Answers and Score (Custom Domains) in the query tables although I still see bot activity.

Is there a way to access the data to look for the questions my bot has been receiving?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-11-13 22:18] MarileeTurscak-MSFT commented on #66024
@franckcdev this aligns with existing documentation. I made a pull request to update this.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/137686

@MarkusVi please confrim

[2020-11-13 22:18] #66024 closed

[2020-11-13 22:31] AlexFilipin opened #66072 "MFA section is confusing due to old PhoneFactor portal"
Hi,

the MFA section https://docs.microsoft.com/en-us/azure/active-directory/roles/delegate-by-task#multi-factor-authentication is confusing with terms like "Disable MFA" , we should either clarify it only refers to the old phone factor portal or improve the docs in another way.

E.g. other roles can reset MFA information of accounts.

Thanks,
Alex

---
#### Document Details

⚠ *Do not edit this s

[2020-11-13 22:34] AlexFilipin commented on #66072
I think the complete section needs a review - we should also point out that with Conditional Access Enable/Disable MFA happens in other ways most of the time nowadays.

[2020-11-13 22:47] MarileeTurscak-MSFT commented on #66044
@taylorchasewhite
Thanks for your feedback! We will investigate and update as appropriate.

[2020-11-13 22:50] NavtejSaini-MSFT commented on #66027
@Super-tim We can check this our Product team but Product team does listen to the Customers. Here is the direct feedback channel they look most into. Please upvote the feedback or add your comment for PG teams visibility.
Please post https://feedback.azure.com/forums/597976-azure-database-for-postgresql/suggestions/19249222-logical-replication

[2020-11-13 22:51] NavtejSaini-MSFT commented on #65798
Thank you @lfittl-msft. @cedricmaesse - Please let us know if you have any other question.

[2020-11-13 22:54] SGeorge007 opened #66073 "'IFunctionHostBuilder' does not contain the definition for 'AddSwashBuckle'"
I am trying to integrate swagger in azure functions: [https://medium.com/@yuka1984/open-api-swagger-and-swagger-ui-on-azure-functions-v2-c-a4a460b34b55](url)

The problem is i am not able to add swagger in my startup class.

    public class Startup : FunctionsStartup
    {
        public override void Configure(IFunctionsHostBuilder builder)
        {
            builder.AddSwashBuckle(Assembly.G

[2020-11-13 22:55] JamesTran-MSFT commented on #66072
@AlexFilipin
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-11-13 22:56] #66021 closed

[2020-11-13 22:59] NavtejSaini-MSFT commented on #65880
@SAKARIYAKK PLease share more details about this feedback. It would be great if you can let us know what errors/error message you are getting.
Please help with the same to take this forward.

[2020-11-13 23:01] slopezv2 opened #66074 "Question: Use with SQL Pool on Synapse Workspace"
[Enter feedback here]
Can I use these commands with SQL Pool in Synapse Workspace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1afb09c2-de7b-8eaf-c9a9-d5fa2ba12a3d
* Version Independent ID: 2556d1af-f2c1-f0a4-9b75-849eee56a2b1
* Content: [Quickstart: Pause and resume compute in Synapse SQL pool with Azure PowerShell

[2020-11-13 23:04] sr-msft commented on #66027
Hi, We currently support pub/sub logical replication with [Flexible server](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-logical ).  We don't have an immediate plan to support that on single server. Could you share your use case?

[2020-11-13 23:05] himanshusinha-msft commented on #65751
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-11-13 23:11] guardrex commented on #66044
@taylorchasewhite ... We have a different approach in our doc set that you might want to take a look at ...

https://docs.microsoft.com/aspnet/core/blazor/security/webassembly/graph-api?view=aspnetcore-5.0

We're featuring a Graph Service Client approach that results in less boilerplate for when many components need to access Graph, as you can see in the example we have here :point_right: ...

htt

[2020-11-13 23:20] JamesTran-MSFT commented on #65988
@joshnoe
Thank you for the follow up on this!

After updating my CLI and trying to run the command, I ran into the same issue you did. I've assigned this issue to the author who will investigate and update as appropriate.

![image](https://user-images.githubusercontent.com/36619112/99129906-be826880-25c3-11eb-90b2-7c5153a9cc86.png)

[2020-11-13 23:23] PatrickLownds opened #66075 "Why don’t you recommend using an existing Log Analytics Workspace?"
Can you explain why you don't recommend you select an existing Log Analytics workspace if you have one already?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e97882de-c266-edf0-65c1-a9a6e5563971
* Version Independent ID: f9788a1b-4e57-56b3-7987-f9bab45df304
* Content: [Tutorial - Monitor a hybri

[2020-11-13 23:27] Karishma-Tiwari-MSFT commented on #66047
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-13 23:28] Karishma-Tiwari-MSFT commented on #66061
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-11-13 23:29] Karishma-Tiwari-MSFT commented on #66068
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-13 23:32] Karishma-Tiwari-MSFT commented on #66045
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-11-13 23:33] cynthn commented on #66047
@montereyharris Good catch! Thank you for bringing that to my attention. I've asked the engineering team to look for the original artwork so we can make the change to it.

[2020-11-14 00:11] stevevi commented on #65299
@BharathNimmala-MSFT there does not seem to be any traction with this open issue, or at least I haven't heard back from @mcpfe over the past two weeks.  At this point, I would recommend that this issue be closed.

[2020-11-14 00:25] BrendanHere commented on #66022
Thanks a ton for looking into this.

On Fri, Nov 13, 2020, 5:33 AM HarithaMaddi-MSFT <notifications@github.com>
wrote:

[2020-11-14 00:27] BharathNimmala-MSFT commented on #66056
@johnstairs Thank you for your query, our team will further review and get back to you at the earliest.

[2020-11-14 00:28] BharathNimmala-MSFT commented on #66046
@DarrenWainwright Thank you for reaching out , our team will review your scenario and get back to you at the earliest.

[2020-11-14 00:42] toolboc opened #66076 "Spelling Error"
The following sentence in the existing documentation contains a spelling error:

should read:

This problem can be _resolved_ by using alias records in Azure DNS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02772612-08a7-06a1-f0ca-d6d8c5de3ed7
* Version Independent ID: 97b248ee-d8e4-901c-c399-e5b75b9f8236
* Content:

[2020-11-14 00:48] davidslight opened #66077 "Can't sign-in once you have left the organization"
[Enter feedback here]
Process is still broken as you have to sign-in to the organization to leave it.
Most organizations turn off access when you leave (rightly so) so you are still left with orphan links to organizations that you cannot sign-out from to get rid of the links in Teams - they just mount up :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-11-14 00:48] duongau commented on #66076
@toolboc Thank you for catching that error. This should reflect soon.

#please-close

[2020-11-14 00:48] #66076 closed

[2020-11-14 01:17] SaiKishor-MSFT commented on #65888
@djoho
In general it is not advisable to increase or decrease the MTU value from the standard size of 1500 unless you have a need for it i.e., either the application uses a bigger/smaller value or the path links have a higher/lower MTU values etc., Therefore, we cannot generalize the right MTU values and it depends upon the application/path. Hope this answers your question. Please let us know if y

[2020-11-14 01:50] SaiKishor-MSFT commented on #65986
@anhlqn
As mentioned in the same document- FQDN filtering in application rules for HTTP/S and MSSQL is based on an application level transparent proxy and the SNI header. As such, it can discern between two FQDNs that are resolved to the same IP address. This is not the case with FQDN filtering in network rules.

Since FQDN filtering in network rules only uses uses the translated IP address (using

[2020-11-14 01:58] Karishma-Tiwari-MSFT commented on #65728
It simply means that you need to have a resource group created in the target region before you can move the VMs. After you follow the steps described in the Move resource group section, the target resource group is created, based on the generated ARM template.

Please elaborate on you ask, if I did not understand it correctly.

We will now close this issue. If there are further questions regarding

[2020-11-14 01:58] #65728 closed

[2020-11-14 02:28] KrishnaG-MSFT commented on #66075
@PatrickLownds Thanks for your comment! We will review and provide an update as appropriate.

[2020-11-14 04:12] MGoedtel commented on #66075
@PatrickLownds - Our tutorials are meant to help a customer learn a service as part of a proof of concept or ramp-up on the technology before moving forward and using it in a production manner.  We especially don't want you to learn something in production, so that's why it suggest using a new workspace (but certainly you can use a dev or test workspace that may be available in your subscription).

[2020-11-14 04:12] #66075 closed

[2020-11-14 05:22] BharathNimmala-MSFT commented on #66064
@SGeorge007 Apologies for your experience. Please be noted that [this repo(Azure docs)](https://github.com/MicrosoftDocs/azure-docs/issues) is primarily to drive improvements on Azure documentation.

Would request you to please create an issue with in [Azure Functions Repo ](https://github.com/Azure/azure-functions-dotnet-extensions/issues) so that right team can assist you accordingly. Thank you

[2020-11-14 05:22] #66064 closed

[2020-11-14 05:26] BharathNimmala-MSFT commented on #66073
@SGeorge007 Apologies for your experience. Please be noted that [this repo(Azure docs)](https://github.com/MicrosoftDocs/azure-docs/issues) is primarily to drive improvements on Azure documentation.

For your specific issue, would request you to please create an issue with in [Azure Functions Repo](https://github.com/Azure/azure-functions-dotnet-extensions/issues) so that right team can assist you

[2020-11-14 05:26] #66073 closed

[2020-11-14 06:17] HarithaMaddi-MSFT commented on #66062
@miqm - Thanks for the valuable feedback. We will review and get back to you shortly.

[2020-11-14 06:19] HarithaMaddi-MSFT commented on #66063
@mcollier - Thanks for the question! We will review and get back to you.

[2020-11-14 06:22] HarithaMaddi-MSFT commented on #66065
@engineersamuel - Thanks for the question and feedback. We will review and get back to you.

[2020-11-14 06:24] HarithaMaddi-MSFT commented on #66066
@SvenAelterman - Thanks for posting the question. We will review and get back to you.

[2020-11-14 06:25] HarithaMaddi-MSFT commented on #66070
@manknewl - Thanks for posting the question. We will review and get back to you.

[2020-11-14 06:25] mayberryflavorbox commented on #65888
I think there are two things we can assume
1) Smaller packets forward faster
2) Fragmentation causes delay

So
1) if you lowered the MTU and caused more fragmentation, it's bad
2) If you lowered the MTU because you have small packet sizes, it would have no positive or negative affect

But, i think the correct answer is per above - don't change the MTU.

[2020-11-14 06:26] HarithaMaddi-MSFT commented on #66074
@slopezv2 - Thanks for posting the question. We will review and get back to you.

[2020-11-14 06:28] HarithaMaddi-MSFT commented on #66077
@davidslight - Thanks for posting the feedback. We will review and get back to you.

[2020-11-14 06:50] chenxizhang commented on #65733
any update?

[2020-11-14 10:29] hypdeb commented on #65398
Hello @sachdevaswati,

Sorry for the late reply, the notification e-mail went past me.

I was doing it manually. My problem is, I think, that as new databases are added, I need to add the permissions. Basically, every time a new tenant is added, a new instance of the application is assigned to them, with its own database. We want to avoid manual steps in that process.

You suggestion would be to i

[2020-11-14 12:21] NunoBem commented on #47611
@gfaraj this issue was opened for Azure AD B2C, check the opening:

@PaulARoy I had critical updates so I removed the social login only from iOS to update.. and now is a mess.. I'm trying to stall until a B2C solution is available. @ryanborMSFT I didn't get a reply, and we all still can't implement this in B2C either way.

[2020-11-14 13:15] taylorchasewhite commented on #66044
@guardrex, thanks, I overlooked that page(!).

I _do_ want to use v2, where is that actually "defined" in the templates / how can I tell if I've correctly "updated" to v2?

When I check the outgoing network requests, I see `https://graph.microsoft.com/v1.0/me` which seems to imply I _am_ on v1, not v2, but I'm not entirely sure that's the case to be honest. Is v2 in beta (`https://docs.microsoft.c

[2020-11-14 13:20] guardrex commented on #66044
It's v1.0 of the **Graph SDK/API**, not Identity. If you want to use Graph **_latest_** (future release), they use "beta" in the request URI.

Use 5.0 documentation approaches and packages from our docs (ASP.NET Core repo) for Identity v2.0. You'll know because the old packages are replaced with `Microsoft.Identity.Web` packages ... https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?v

[2020-11-14 13:32] guardrex commented on #66044
... that's also something that @knicholasa and I were about to discuss offline.

@knicholasa, our migration topic should have what you need (the content around that :point_up: link). I say **_should_** 🍀 because the paint might not be quite dry given that it was all just updated last week and there were a lot of updates. I hope we have everything, but you can let me know if we missed something.

W

[2020-11-14 14:51] sgodiyal opened #66079 "Need Clarification"
Please advise if this preview article (https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac)

suppose to simply the steps mentioned in legacy article https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42afd8de-b697-100c-98c7-ae8e6a6f1b9

[2020-11-14 15:15] itpro-tips commented on #53376
Hello,

I don't understand why Microsoft said the AzureADPreview has anomalies.

The problem is the CMDlet provided by @ii-batman, the _Where-Object_ condition are not accurate.
Try with this:
`Get-AzureADAuditSignInLogs | Where-Object {($_.clientappused -cnotcontains 'Mobile Apps and Desktop clients' -and $_.clientappused -cnotcontains 'Browser')}`

[2020-11-14 16:15] BharathNimmala-MSFT commented on #66079
@sgodiyal Thank you for reaching out, our team will review your query and get back to you at the earliest.

[2020-11-14 16:29] mcurko opened #66080 "The tutorial is incomplete"
_Select the resource ServiceFabric(mysfomsworkspace)._

There is no such resource. I have created the cluster using the provided script in the previous step of the tutorial. Please provide details on how to create this resource and connect it to the cluster,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10907e65-b380-

[2020-11-14 17:29] mcurko opened #66081 "Logging data"
"Configure diagnostics collection on the cluster" explains that log data is written to storage and "Set up Azure Monitor logs for the cluster" explains that logs are fed by the data from that storage. "Add the Log Analytics agent extension" says we need agents to collect data for the log, but why if the data is already in the storage?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-11-14 17:33] rramoscabral opened #66082 "Status code URL"
The link for the status code is retired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a592c5-5d16-e44d-d6c7-5d0b2c0833c4
* Version Independent ID: dd9d601c-5d4b-f1bc-01df-7e1d6b57d0da
* Content: [Health monitoring overview for Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/app

[2020-11-14 18:57] anhlqn commented on #65986
Thanks a lot.

[2020-11-14 18:57] #65986 closed

[2020-11-14 20:30] djoho commented on #65888
It is good to know to keep the MTU size of the Azure VMs to 1500 although the network components try to fragment at 1400.
Testing with PING between different Azure VMs showed anyhow, that the packages were not fragmented up to 1472.
Thanks a lot for the quick responses.

[2020-11-14 20:30] #65888 closed

[2020-11-14 20:36] CliffAgius opened #66083 "Network Step Missing"
Between steps 4 and 5 in this tutorial it doesn't match the Azure Portal, the Networking step is missed out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110959df-1981-b136-7dc7-25ac9bf19ff3
* Version Independent ID: 51acc9c3-277d-26b3-ebe1-161dd417a1ed
* Content: [Use the Azure portal to create an IoT Hub](https://d

[2020-11-14 21:50] douglasmaciver opened #66084 "Typo with secureBootEnables; it should be secureBootEnabled"
secureBootEnables should be secureBootEnabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0c92573-fe70-8f86-228a-93ad2af1eecb
* Version Independent ID: 9dcee7f9-d9c3-c8f6-1e3f-b187a88ee13a
* Content: [How to author an Azure Attestation policy](https://docs.microsoft.com/en-us/azure/attestation/author-sign-policy)
*

[2020-11-14 22:41] BharathNimmala-MSFT commented on #66084
@douglasmaciver Thanks a lot for bringing this to our notice, will review it and fix the document accordingly.

[2020-11-14 22:42] BharathNimmala-MSFT commented on #66083
@CliffAgius Thanks a lot for bringing this to out notice, our team will review and update the document accordingly.

[2020-11-14 22:43] BharathNimmala-MSFT commented on #66082
@rramoscabral Thanks a lot for bringing this to our notice, our team will review and update the link accordingly.

[2020-11-14 22:46] BharathNimmala-MSFT commented on #66081
@mcurko Thanks a lot for reaching out and sharing your feedback, can you please share the Azure documentation link you are referring so that we can assist you accordingly.

[2020-11-14 22:46] BharathNimmala-MSFT commented on #66080
@mcurko Thanks a lot for reaching out and sharing your feedback, can you please share the Azure documentation link you are referring so that we can assist you accordingly.

[2020-11-15 00:34] mmaitre314 opened #66085 "Add documentation about querying Log Analytics workspace data export errors"
I followed the instructions on the doc to setup continuous data export from Log Analytics workspaces to Storage Accounts but no data seems to be coming to the Storage Account. I am guessing I did something wrong and the export is actually failing, but I am unable to find a command to query for latest errors or statistics about data exports. Could that info be added on the doc page?

---
#### Docum

[2020-11-15 00:39] mmaitre314 commented on #66085
It might actually be that the table I setup `AzureDiagnostics` is not supported. In any case, having docs on querying data export failures and stats would be helpful.

[2020-11-15 00:59] anthonychu commented on #65993
Looks like this is related to the trigger. @sffamily Could you please take a look?

#reassign:@sffamily

[2020-11-15 01:01] anthonychu commented on #65993
@RyanHill-MSFT Sorry I thought I was assigned this because I was tagged. Feel free to reassign it back to yourself.

[2020-11-15 01:46] BharathNimmala-MSFT commented on #66085
@mmaitre314 Thanks a lot for bringing this to our attention. I have assigned this issue to our document author @bwren to further review the feedback and update the document as needed. Thank you

[2020-11-15 04:57] aoweis opened #66086 "Which VM?"
You started by explaining how to create the Bastion resource and then all of a sudden jumped to "connect to VM". Which VM? There were no instructions on how to create a VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ef6223-ad6b-4f74-e43a-da331ef2e7a3
* Version Independent ID: 28e62309-14f3-b446-6a93-141e9a27b001

[2020-11-15 06:29] HarithaMaddi-MSFT commented on #66086
@aoweis  - Thanks for your valuable feedback. We will review and get back to you with more details.

[2020-11-15 07:05] #66061 closed

[2020-11-15 07:28] mcurko commented on #66081
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-tutorial-create-vnet-and-windows-cluster