[2019-07-04 14:58] pedrr opened #34556 "MIssing App"
Hi,
any updates on the App List? Is the MS Authenticator App supported as well?

BR
Simon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41bf4bea-9c2c-2ffe-92b7-21920fb2e3e0
* Version Independent ID: c24b5adb-da1a-c99c-a018-8a83d0b735b3
* Content: [Certificate-based authentication on Android - Azure Active Directory](h

[2019-07-04 15:08] shashishailaj commented on #34061
@DeanGross Thank you for bringing this to our notice and we apologize for the confusion on your side. We will engage the content team to engage the engineering to review on your request to add relevant information about "How Office 365 group expiration" shows up in teams.

@curtand Could you please take a look at this request and engage engineering to review the information addition request as abo

[2019-07-04 15:16] timwebster9 commented on #34458
HI @msrini-MSFT,

Not sure what you mean by this?  I don't want AFD to be a backend for AFD.  Our webapps are hosted in AKS, which is fronted by an internal load-balancer (ingress controller).  There is also a requirement to have a centralised firewall (hence Azure Firewall) to filter traffic.  Azure Firewall has a public IP/FQDN, so it seemed to make sense to use it as a backend?

Also WAF isn't

[2019-07-04 15:17] DixitArora-MSFT commented on #34534
Hi @gionapaolini Thank for reaching. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-04 15:17] algorni commented on #32693
Looking at this page it sounds clear that is PER DEVICE queue: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-c2d  please close this case

[2019-07-04 15:20] DixitArora-MSFT commented on #34536
Hi @hope4555 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:21] DixitArora-MSFT commented on #34537
Hi @CreaterNo1 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:22] DixitArora-MSFT commented on #34538
Hi @rootn9633 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:24] DixitArora-MSFT commented on #34540
Hi @bilalawwad Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:26] DixitArora-MSFT commented on #34542
Hi @philparr2020 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-04 15:28] DixitArora-MSFT commented on #34544
Hi @gavinwilliams Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:29] DixitArora-MSFT commented on #34546
Hi @mrManner Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:31] DixitArora-MSFT commented on #34547
Hi @sixeyed Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:32] DixitArora-MSFT commented on #34548
HI @samiam236 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:33] DixitArora-MSFT commented on #34549
Hi @mapoitras Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-04 15:35] msrini-MSFT commented on #34458
My bad. Having Azure firewall to the backend of Azure Frontdoor is what I meant. For inbound traffic to Azure firewall you will be creating DNAT rule which will be acting as a reverse proxy to your web application.

I would suggest you to enable WAF feature in AFD and also you can enable geo filtering. You can use NSG to filter the traffic to your AKS nodes.

I am suggesting this as the health pro

[2019-07-04 15:39] OffColour opened #34557 "Scoping Filter"
I'm trying to work out how to use a scoping filter to only sync real people to G-Suite, but Azure just has a whole bunch of accounts and there's no way to differentiate between a functional account (which I don't want to sync) and a human's account.

Is there any way of specifiying an Azure group and syncing all the members of that group?

---
#### Document Details

⚠ *Do not edit this section. It

[2019-07-04 15:43] takashi-uesaka commented on #19863
Use Chrome. Edge is not worked at advanced setting page.

[2019-07-04 15:45] gregory-fonkatz commented on #33971
Our problem was with the `backend` part of config, it was directly under `spec`. Once we created a section of `rules` with a `host` value corresponding to `tls` section and embedded the `backend` in it everything started working.
I guess you need to make sure that `hosts` in `rules` and `tls` match.
@kostas-rs

[2019-07-04 15:50] shashishailaj commented on #34051
@ghonyme We are engaging the content author for clarification on this.

@MikeStephens-MS Could you please help provide some clarification on this ?  thank you.

[2019-07-04 15:53] kostas-rs commented on #33971
Ah i see, thank you @gregory-fonkatz.

Just for reference for people looking into this error, in my case the issue was with the ingress controller not having `--enable-ssl-passthrough` while having `nginx.ingress.kubernetes.io/ssl-passthrough: "true"` annotation in the ingress object.

[2019-07-04 15:55] pramodtodpro commented on #30951
Hi @sadiqhAhmed-msft, any update on this?

[2019-07-04 16:14] IhnoL commented on #34376
Found them here:
https://github.com/microsoft/Azure-Kinect-Samples

[2019-07-04 16:15] #34376 closed

[2019-07-04 16:22] dinobu commented on #34234
Tickets for "Android device rotation returns you back to prompt for user email" issue, you can follow up progress of fixes for both ADAL and MSAL here:

https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1622

https://github.com/xamarin/xamarin-android/issues/3326

[2019-07-04 16:24] kaushik-hemant commented on #34287
Perfect, thanks, make more sense rather than check for providing configuration or not.

[2019-07-04 16:30] nrandell commented on #34308
Try installing the libssl1.0.2 package
[code]

[2019-07-04 16:33] ggailey777 commented on #34254
@rswetnam we are in the process of moving our tutorials forward to VS 2019. If you are using Visual Studio 2019, the current instructions are for 2017 and there are some differences. We are working on the fix. Thanks for reporting this.

[2019-07-04 16:38] shashishailaj commented on #34262
@omerlh Thank you for your query. We will engage the content team for getting this article reviewed with engineering .

@barclayn Could you please help get this request reviewed ?
@SumedhBarde-MSFT , It would be great if you could have this article reviewed with your team as per the suggestion provided by the customer.

[2019-07-04 16:43] ghonyme commented on #34051
If it can help to clarify my question:
- The documentation is pretty clear about inbound rules
- The question is more about outbound rules, let's say I want to really secure my machine and I don't want to open it to fetch the whole internet, I would like to know what are the exact port which are required with Azure ADDS.

Thank you.

[2019-07-04 16:58] mikhailgithub commented on #34483
Exported cluster resource template, and DNS seems to be already enabled (below).

Should I be able to connect to 40.117.122.77:19000, which was the actual error?

Should I be able to complete this exercise from behind corporate firewall?

Thanks.

                "addonFeatures": [
                    "DnsService",
                    "RepairManager"
                ]

[2019-07-04 16:58] #30487 closed

[2019-07-04 16:59] CeciAc commented on #30487
Hello, @caelistic

Your feedback is much appreciated. We are glad to see that your experience with our documentation meets your expectations.
We encourage you to provide your valuable feedback so that we can continue improve your experience.

Kind regards,
Microsoft DOCS International Team

[2019-07-04 17:19] shashishailaj commented on #34064
@Mark7even The Sign-in risk is also a condition covered under conditional access which can be set as follows in a CA policy that you can apply to any application as needed.

![image](https://user-images.githubusercontent.com/532022/60681145-c1d3f300-9eab-11e9-9584-13e6b42ed7ab.png)

The sign-in risk presented here is same as the one which is calculated by the [Identity Protection](https://docs.mic

[2019-07-04 17:19] #34064 closed

[2019-07-04 17:25] sqlshep opened #34558 "config.json"
At no point during this tutorial or the prior tutorial was a config.json file created.   If you already have a workspace created but have not created a config.json file what are the steps?  The links provided to the Workspace class do not do a great job of getting you there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-07-04 17:37] daspo opened #34559 "Error installing in 2008 R2"
We get this error that is not listed when installing in a 2008 R2 Standard VM

[06/28/2019 19:07:36.65] Executing: C:\Packages\Plugins\Microsoft.Azure.Security.IaaSAntimalware\1.5.5.9\AntimalwareConfig.exe -enable
[06/28/2019 19:10:22.34] Execution Complete.
######
Execution Output:
Microsoft Antimalware Configuration Utility
Version 1.5.5.9
Please refer this TSG:
https://docs.microsoft.com/en-us/

[2019-07-04 17:40] sergaz-msft commented on #34396
Thank you for letting us know @kd2eom :).

@shizn can you please take a look? This looks like to be a doc bug. Thanks in advance.

[2019-07-04 17:52] mike-urnun-msft commented on #34507
Hey @woutervanranst We will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-04 17:52] #34507 closed

[2019-07-04 18:16] mike-urnun-msft commented on #34551
Hi @DaveRuijter Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:18] mike-urnun-msft commented on #34552
Hi @thesilvereagle - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:19] mike-urnun-msft commented on #34553
Hi @ChrisParrBIE - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:21] mike-urnun-msft commented on #34554
Hi @sagemal - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:22] mike-urnun-msft commented on #34555
Hi @matjazmav - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:23] mike-urnun-msft commented on #34556
Hi @pedrr - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:25] mike-urnun-msft commented on #34557
Hi @OffColour - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:26] mike-urnun-msft commented on #34558
Hi @sqlshep - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:27] mike-urnun-msft commented on #34559
Hi @daspo - Thank you for your feedback! We will review and update as appropriate.

[2019-07-04 18:37] timwebster9 commented on #34458
OK understood - I am already using DNAT on Azure Firewall to point traffic to our ILB/ingress controller.

But the question remains, what should I use for a backend when the apps are hosted in AKS?  This diagram shows App Gateway which I have also tried, does that make more sense?: https://docs.microsoft.com/en-us/azure/architecture/vdc/networking-virtual-datacenter#virtual-datacenter-overview

[2019-07-04 18:44] msrini-MSFT commented on #34458
Yes, you can use Application Gateway which does have a public endpoint.

If you need traffic to be cached and needs low latency for your application, you can go with AFD and application gateway as backend pool. Or you can directly use Application gateway and AKS as it's backend pool

[2019-07-04 18:48] timwebster9 commented on #34458
OK - I have a feeling I will have the same issue with the health probes however, but I will test and repot back :-)

[2019-07-04 18:51] sqlshep opened #34560 "%matplotlib inline"
"%matplotlib inline" is needed for the python cell starting with

import matplotlib.pyplot as plt

fig = plt.figure(figsize=(14, 10))
ax1 = fig.add_subplot(111)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68a3df81-6871-c443-c413-16bb97982bd4
* Version Independent ID: 5030fc51-ec28-d96e-fe85-a06a8fa1ce6f
* Content: [

[2019-07-04 19:39] cogran commented on #31684
@anirudhcavale - I apologize, I thought I responded. That was exactly what I was looking. Is it possible to create a link or refer to from the supported metric list page? It seems like this would be natural next question or level of detail and obviously was not an easy find coming for the context "is this supported" and "what does this actually measure"?

[2019-07-04 20:45] JamesFenton opened #34562 "HttpRequest vs HttpRequestMessage"
The examples on this page use the class HttpRequest for the input binding, but it is hard to use (you need a StreamReader just to read the request body). I've used HttpRequestMessage from System.Net.Http instead in my functions which is much easier to use:
- `var json = await req.Content.ReadAsStringAsync();`
- `var meeting = await req.Content.ReadAsAsync&lt;OfficeMeeting&gt;();`
It seems much eas

[2019-07-04 20:56] Jacintopc opened #34563 ""Organization structure and permissions by role" table"
I think "Enterprise Administrator (read-only)" shouldn't have "Add or remove Department Administrators" rights and "Enterprise Administrator" should have "Manage resources in Azure portal" rights.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469c01c6-8fe8-f252-3c35-3a719d4bd191
* Version Independent ID: d2dfaceb-fa01

[2019-07-04 21:31] femsulu commented on #15578
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-04 21:31] #15578 closed

[2019-07-04 21:38] femsulu commented on #26721
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-04 21:38] #26721 closed

[2019-07-04 21:47] CeciAc commented on #8582
@Sara-Nicolini @SunnyDeng @femsulu
Is this still in progress?

[2019-07-04 21:58] femsulu commented on #31684
Good point. will work with @anirudhcavale to review and consider implementing the feedback.

[2019-07-04 21:59] #31684 closed

[2019-07-04 22:32] terrymandin opened #34564 "Setup Device Stream Service to run on Linux boot"
I would like to setup the service side to start when my Debian Linux device boots.  I have followed these instructions but it is not working: https://timleland.com/how-to-run-a-linux-program-on-startup/

If someone has already done this it would be great if they could share their setup steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-04 23:27] akshaybabloo opened #34565 "Forgot password sends request fragments in URL"
The `forgot password link` on sing in sign up flow redirects to URL with fragments, that is with `#` instead of `?` (a query).

Example:

1. Click on the `Forgot your password?`
2. This should first redirect you to `https://gollahalliauth.b2clogin.com/gollahalliauth.onmicrosoft.com/B2C_1_gollahalli_sign_up_in/api/CombinedSigninAndSignup/forgotPassword?csrf_token=&lt;csrf token&gt;&p=B2C_1_gollahal

[2019-07-04 23:45] akshaybabloo commented on #34435
OK, I think I know what this is. I had set `Require ID Token in logout requests` to `Yes` under `Azure AD B2C - User flows (policies) > B2C_1_sign_up_sign_in > Properties`, which requires `id_token_hint` query to be sent in.

I think this should be documented.

[2019-07-05 00:16] jscaravilli opened #34566 "Azure Monitor Alert does not honor 'join' results"
Hello,

I've written an Azure Monitor query / alert ([https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log), [https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/joins](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/joins)) to return all drive letter Volumes which have less than

[2019-07-05 00:40] cogran opened #34567 "Dual-Stack NSG Rules"
While it is possible to create NSG rules for IPv4 and IPv6 within the same NSG, it is not currently possible to combine an IPv4 subnet with an IPv6 subnet in the same rule when specifying IP prefixes. Can this be explicitly called out to avoid confusion with the ability to list multiple subnets in the IPv4 stack?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2019-07-05 01:07] forester123 commented on #34430
@AshokPeddakotla-MSFT any updates?

[2019-07-05 01:16] dcbrown16 opened #34568 "Consider bringing the documentation here from API land"
There are many great in-depth articles about Storage topics found in the REST API documentation.
For example, the log format and other logging docs here, but also the Concepts section under each Storage service.
https://docs.microsoft.com/en-us/rest/api/storageservices/storage-analytics-log-format

Most of these topics are not directly dealing with the API operations. However, being stuck in the A

[2019-07-05 01:46] DixitArora-MSFT commented on #34560
Hi @sqlshep Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:50] DixitArora-MSFT commented on #34562
Hi @JamesFenton Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:52] DixitArora-MSFT commented on #34563
Hi @Jacintopc Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:53] DixitArora-MSFT commented on #34564
Hi @terrymandin Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:54] DixitArora-MSFT commented on #34565
HI @akshaybabloo Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:56] DixitArora-MSFT commented on #34566
Hi @jscaravilli Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:57] DixitArora-MSFT commented on #34567
Hi @cogran Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 01:59] DixitArora-MSFT commented on #34568
Hi @dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 02:44] dcbrown16 commented on #31960
@christiankuhtz we just received another case where the customer is asking if they would need to create a Public Standard Load Balancer in order to use outbound rules, after they specifically said they read this page. I think this support incident could have been avoided entirely if the options were laid out more clearly.

[2019-07-05 02:59] jame10103er opened #34570 "youtube"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-05 02:59] takekazuomi commented on #34450
Thank you. my misunderstanding. CLOSE

[2019-07-05 02:59] #34450 closed

[2019-07-05 03:09] chkm8 commented on #34401
Hi, thank you its now working, really appreciated it. So what happened was the header was saying invalid_audience so I changed it, and then I got the 403 error and I just added the object id in the fhir service.

[2019-07-05 04:29] jcanose81 commented on #34162
Thank you for the feedback. I'm following the instructions to the T on the website, but one thing I've had to do is use PowerShell for everything. CMD or Bash won't accept my commands. Please see output below from PowerShell.

In the output below, am I still not activating a python virtual env?

Note: some errors in spelling on my part in "MyFunctionProj" and initial "py -3.6" command

In the step

[2019-07-05 04:41] appteam7 commented on #32202
please install .Net Core 2.2 .    (https://dotnet.microsoft.com/downloadhttps://dotnet.microsoft.com/download) and make a note of ASP.NET SDK  Version and place it in global Json  file of sharing project just try  this it worked for me!...

[2019-07-05 04:58] AjayKumar-MSFT commented on #34570
@jame10103er, Thanks for leveraging Azure docs feedback channel to raise this question! Could you please share the document that this feedback is applicable to and provide more details on the query for better assistance.

[2019-07-05 05:04] appteam7 commented on #26278
please install .Net Core 2.2 .    (https://dotnet.microsoft.com/downloadhttps://dotnet.microsoft.com/download) and make a note of ASP.NET SDK  Version and place it in global Json  file of sharing project just try  this it worked for me!...

by smcvjr

[2019-07-05 05:17] richieteh94 opened #34572 "Disk Image size"
why the disk image size uses 5-GB spaces in the file sharing for each user use the azure shell to mount to the same file sharing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecd5d368-8d1c-f984-4922-ab4c7ae14db5
* Version Independent ID: dbb6bc4c-87f4-18a0-f6e9-f9f48be1f289
* Content: [Persist files for Bash in Azure

[2019-07-05 05:40] codefactorydevelopment opened #34573 "Does changing indexing policy affect old documents?"
In a talk with some developers I have stumbled upon a statement that changes to index policy in existing container affects only documents that will be created/updated after the index change and doesn’t affect old documents.

It doesnt make too much sense to me nor could i find anything like that in any docs.

Could someone please confirm if this is true or false?

thanks

[2019-07-05 06:28] ytsymbaliuk commented on #34185
So indexes does not apply at the moment or they just don't show up at portal. Tried to add spatial indexing.
Thanks you!

[2019-07-05 06:32] Nosferatu-Dk opened #34574 "Works if you use filtering-"
It works if you use filtering for users and computers.

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sync-configure-filtering

"Review things you should know

Hybrid Azure AD join is currently not supported if your environment consists of a single AD forest synchronizing identity data to more than one Azure AD tenant."

---
#### Document Details

⚠ *Do not edit thi

[2019-07-05 06:35] slavizh opened #34575 "The script referenced still uses old AzureRM modules"
The script referenced still uses old AzureRM modules. Please provide updated Az module version as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b036445-58f3-bd8e-103e-17c60041a545
* Version Independent ID: fa53a263-a15a-2449-207a-51b59afbec4c
* Content: [Configure an existing virtual network for Azure SQL Datab

[2019-07-05 07:55] AshokPeddakotla-MSFT commented on #34227
@dvescovi1 Please check the above response and let us know if you have further questions.

[2019-07-05 07:58] AshokPeddakotla-MSFT commented on #34247
@fhe-fr Does that answer your question? Do let us know if you have further questions?

[2019-07-05 08:19] maggiew61 commented on #33173
Hi Azure account team,

I am an account owner but still can't cancel my subscription and remove my credit card info on the payment methods panel. I sent an email with my subscription id to Azcommunity@microsoft.com. Please check my email. Thank you all

Maggie

[2019-07-05 08:28] OffColour commented on #34557
Ignore me. I figured it out. Adding an AD group into into Users sync'd all the members so scoping filters can be ignored completely.

[2019-07-05 08:28] #34557 closed

[2019-07-05 08:32] juneym0730 opened #34576 "Is that possible to replace Hive with local build version in this way?"
As the title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 101f639a-dc8b-cc67-e884-bee206a615df
* Version Independent ID: e6a600e3-03f1-e0fe-d425-34f7249d1d49
* Content: [Add Apache Hive libraries during HDInsight cluster creation - Azure](https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-add-hive-libr

[2019-07-05 08:44] pichaya-d opened #34577 "How can I sign-out from azure ad b2c?"
I created an azure ad b2c follow by this tutorial
https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant

and I tested by run user flow
![image](https://user-images.githubusercontent.com/52493198/60708646-bed31400-9f38-11e9-80e1-dab20298202f.png)

this my web sign-in
![image](https://user-images.githubusercontent.com/52493198/60708698-ddd1a600-9f38-11e9-9de5-c88625d0783

[2019-07-05 08:45] zhalu opened #34579 ""This name must be globally unique" is incorrect for resource group"
"This name must be globally unique" is incorrect for resource group. Per my understanding, it only needs to be unique in subscription scope.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cb1c7ba-83cb-e32a-85bd-3260bdefaee2
* Version Independent ID: a5229c23-ac2d-3972-6b54-d4e70db5c046
* Content: [Quickstart - Create

[2019-07-05 08:45] timwebster9 commented on #34458
OK I got this to work using Azure Firewall as the backend.  If you use the public IP address for the backend the health probe works.  We are using Traefik as an ingress controller with the `/ping` endpoint enabled.

I think I understand the intention here though, and what I wasn't understanding.  There needs to be 2 public FQDNs for each application - one for the FD front end host and one for the

[2019-07-05 08:50] axelgMS commented on #21850
@MitchellNZ can you paste the exact error message you had at the end of the new VM creation?
How did you generalize the VM created from the disk snapshot? can you share the exact steps?
What do you see in the Boot Diagnostics section / VM screenshot for the new VM?

[2019-07-05 09:02] msrini-MSFT commented on #34458
@timwebster9 , If you set Priority in the Backend pool of AFD, then you can achieve failover. Let me know if you have any further questions.

[2019-07-05 09:32] #34227 closed

[2019-07-05 09:34] nawazsj commented on #30531
@ChiragMishra-MSFT - We also facing similar issue in Azure Devops when deploying the pipeline. Please let me know if any update on this issue.

[2019-07-05 09:36] zhalu opened #34580 "Confusion on "Verify the custom domain" section"
In "Verify the custom domain" section, the example uses URL "http://cdn.contoso.com/my-public-container/my-file.jpg". Maybe I do not understand it correctly, should it use "http://cdnverify.www.contoso.com/my-public-container/my-file.jpg" instead? It looks  confusing to me, can it clarify a bit more clearly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-07-05 09:42] naoufelfrioui opened #34581 "unsupported build version 17134"
i try to install azure i get this problem : The container host is on unsupported build version 17134. Please use a container host running one of the following build versions for running Windows containers: 17763

The prerequisites for installation of the IoT Edge Security daemon are not met. Please fix all known issues before rerunning this script.

---
#### Document Details

⚠ *Do not edit this s

[2019-07-05 09:43] isunitha98selvan opened #34582 "Unable to create the Knowledge Store"
I receive the below error message when I try to create a Knowledge Base using the syntax specified here.

Details: skillset: A resource without a type name was found, but no expected type was specified. To allow entries without type information, the expected type must also be specified when the model is specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-07-05 10:02] pbalzer opened #34583 "When is dynamic consent resetted?"
I saw that with dynamic user consent, once the consent is given, it will be remembered and not asked again, even if the user had logged out in the meantime, and browser storage and cookies had been resetted. I wonder how this behaviour is compatible with the "least privilege" principle. I mean only because once a user needed the privilege to perform a certain critical action, shouldn't mean that f

[2019-07-05 10:12] ta-stott-oe opened #34584 "Support for Windows images"
Running a multi-container app using the Web App / App Service abstraction is much easier than having to set up a Docker host yourself. But it looks like only Linux images are supported at the moment.

Please could you let us know when Azure App Services will support multi-container apps that use Windows images?

On a related note, I think this article could make it more clear from the outset that

[2019-07-05 10:13] wumingcp opened #34585 "Kuberneter with master node in VMSS doesn't show on Azure Monitor"
I deployed kuberneters by aks-engine, and using VMSS for master nodes, but I cannot see the dashboard from Azure Monitor, even though I finished this document https://github.com/helm/charts/tree/master/incubator/azuremonitor-containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688

[2019-07-05 10:23] Todrik commented on #28273
@alkohli Would you be able to clarify this further? I have the same issue as @medavamshi whilst trying to create a share. I have no shares setup, the data box gateway has only just been setup. Are there restrictions on which location the storage account has to be in? Is there a way to configure the Access Keys in the data box gateway so it is able to access the storage account?

[2019-07-05 10:41] c240amg commented on #30396
I am having a v similar issue, when restricting access via networks, you cannot view the contents via file browser on the azure portal page.
Seems a bit too restrictive and ridiculous.

[2019-07-05 10:41] phenixita opened #34586 "Application Type is not a parameter anymore"
When we create the Application Insights resource the Application Type parameter is no longer present. This page shows that we have to fill that box with Java Application instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b6d3cef-f576-d463-e8ab-9d2a01478e60
* Version Independent ID: 9ef7a556-edeb-c9ea-7bb9-84d0ccd

[2019-07-05 10:48] tomkan08 opened #34587 "Should make clear custom claim needs to be name with extension_ prefix"
I tried to do the example using field myOwnId. The trustframework files loaded OK, but on loading profileedit.xml page it came up with error.  Fixed by adding extension_ prefix to myOwnId.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29fb9816-df6a-6f60-35d0-c2a04732f295
* Version Independent ID: ffc8b13a-b2c9-a502-15

[2019-07-05 10:57] sarah026 commented on #28461
@hansmbakker thanks for raising this, have you made any progress since then? Have you tried the two subnets scenario for the ServiceEndpoint and one for the Vnet?

Its been more than 2 months, and for the claims they've made in the video since 2018 and the updated website, this should be working by now!

[2019-07-05 11:53] hansmbakker commented on #28461
@sarah026 it's a coincidence that you ask this today, as I succeeded with CosmosDB just two hours ago.

Things I had to do to make it work:
- delete the existing VNET (incl. the subnet, CosmosDB and other service endpoints, VNET integration)
- re-create the VNET with subnet. Integrate the CosmosDB using its Firewall/networking tab using a service endpoint.
- setup the New VNET Integration again in

[2019-07-05 11:57] jakaruna-MSFT commented on #34480
@denhsu I will check with the internal teams and let you know.
Currently only ACR tasks is capable of rebuilding when the base image changes.

[2019-07-05 12:01] woutervanranst commented on #34507
I agree this is what the FAQ says - this page (https://docs.microsoft.com/en-us/azure/security/azure-protection-of-customer-data#data-protection) says "In-transit data protection: [...] Azure protects data in transit to or from outside components and data in transit internally, such as between two virtual networks."

[2019-07-05 12:03] woutervanranst commented on #34507
with the emphasis on "between two virtual networks" implying vnet peering (as there is no other way to do "between" virtual networks except with S2S VPN which is a VPN and which is encrypted). I believe the doc is ambiguous in that fact (or stating an obvious thing)

[2019-07-05 12:09] alexcpn opened #34589 "Install in pre-existing namespace"
I tried this and it works perfect. However is it possible to install it on a pre-existing namespace. I want to assign a namespace to a particular node (and its full resources) and want to install the iot edge hub to that particular namespace. This is not working now

 helm install --name k8s-edge3 --set "deviceConnectionString=HostName=alexcpn-iot-hub.azure-devices.net;DeviceId=ndac-app-fake;Share

[2019-07-05 12:17] jakaruna-MSFT commented on #34509
@lingtham Thanks for reporting. I am able to reproduce your issue.
i will update you as soon as i have some information to share

[2019-07-05 12:18] jakaruna-MSFT commented on #34509
Initially i thought its because of the nginx image. I used `mcr.microsoft.com/windows/servercore:ltsc2019`. Same issue with this windows image as well

[2019-07-05 12:24] realolap opened #34591 "Bastion does not work with Linux AAD login?"
I've setup an Ubuntu LTS server with the AAD extention enabled, the login user is assigned the Virtual Machine Administrator Login role on the scope of the VM. Then choosing login with username (aad) and password from Bastion Connect pane, the new window will pop up and confirm access to the clipboard, but nothing more happens.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-07-05 12:27] sarah026 commented on #28461
Pleased to hear that @hansmbakker! Thanks for sharing. Our environment was set up yesterday, so it is a new build.
Which geo location is your service deployed to?

[2019-07-05 12:33] msrini-MSFT commented on #34579
@zhalu , Thank you for your feedback. I will fix the documentation and update.

[2019-07-05 12:35] hansmbakker commented on #28461
West Europe

[2019-07-05 12:44] #34282 closed

[2019-07-05 12:45] #34354 closed

[2019-07-05 12:46] DixitArora-MSFT commented on #34437
@miaojiang Just following up again in case missed the previous communication.

[2019-07-05 12:47] DixitArora-MSFT commented on #34453
@boltlol Hope my previous comment help. Let me know if any other question.

[2019-07-05 12:48] DixitArora-MSFT commented on #34464
@tiny-dancer Hope my previous comment help. Let me know if any other question.

[2019-07-05 12:48] msrini-MSFT commented on #34579
PR done: https://github.com/MicrosoftDocs/azure-docs-pr/pull/81435

Documentation will be updated shortly.

[2019-07-05 12:48] #34579 closed

[2019-07-05 12:49] DixitArora-MSFT commented on #34523
@ericcwk Just following up again in case missed the previous communication.

[2019-07-05 12:49] DixitArora-MSFT commented on #34534
@gionapaolini Just following up again in case missed the previous communication.

[2019-07-05 12:50] DixitArora-MSFT commented on #34542
@philparr2020 Just following up again in case missed the previous communication.

[2019-07-05 12:51] DixitArora-MSFT commented on #34591
Hi @realolap Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:52] philparr2020 commented on #34542
Hello,

This is the URL of the document I was reading -

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/servicenow-tutorial

[2019-07-05 12:52] DixitArora-MSFT commented on #34589
Hi @alexcpn Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:53] DixitArora-MSFT commented on #34587
Hi @tomkan08 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:54] MartijnElfers opened #34592 "PAL for other products"
Is it also possible to set PAL for other products, like Dynamics/Office 365? Or is it solely used for Azure?

As it’s not possible to set a Digital Partner of Record (DPOR) for Dynamics subscriptions provided via CSP, I was wandering if it would be possible to define PAL for Dynamics as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-07-05 12:54] DixitArora-MSFT commented on #34586
Hi @phenixita Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:55] DixitArora-MSFT commented on #34585
Hi @wumingcp Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:55] msrini-MSFT commented on #34580
@zhalu , "cdnverify.contoso.azureedge.net" is added to validate your domain ownership to Azure CDN.

In "Associate the custom domain with your CDN endpoint" section 5th point  you can see that you are asked to give the Custom domain as  www.contoso.com or cdn.contoso.com.

Hence it is specified as  "http://cdn.contoso.com/my-public-container/my-file.jpg"

Let me know if you have any further questi

[2019-07-05 12:56] DixitArora-MSFT commented on #34584
Hi @ta-stott-oe Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:57] DixitArora-MSFT commented on #34583
Hi @pbalzer Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:58] DixitArora-MSFT commented on #34582
Hi @isunitha98selvan Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 12:59] IEvangelist commented on #34481
Hi @RohitMungi-MSFT, @mike-urnun-msft and @ryanmajidi,

I have a fix in to address the issue. Thank you for bringing it to my attention. The fix should be live later today.

[2019-07-05 13:00] DixitArora-MSFT commented on #34581
Hi @naoufelfrioui Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:01] DixitArora-MSFT commented on #34577
Hi @pichaya-d Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:03] DixitArora-MSFT commented on #34576
Hi @juneym0730 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:04] DixitArora-MSFT commented on #34575
Hi @slavizh Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:05] Anakinn commented on #31003
Same issue here. I'm stuck with 5 IPs that can not be deleted and nothing is using them. Is there any solution?

[2019-07-05 13:05] DixitArora-MSFT commented on #34574
Hi @Nosferatu-Dk Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:06] DixitArora-MSFT commented on #34572
Hi @richieteh94 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:08] DixitArora-MSFT commented on #34573
Thanks for reaching out. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-05 13:09] DixitArora-MSFT commented on #34592
Hi @MartijnElfers Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-05 13:21] shashishailaj commented on #34545
@sinupeter We are engaging the content team to further engage engineering on this and accordingly take this further.

@rkarlin Could you please take engage engineering teams to review the document enhancement request ?

[2019-07-05 13:22] shashishailaj commented on #34325
@rwike77 Could you please have the document reviewed and updated as needed?

[2019-07-05 13:25] shashishailaj commented on #34337
@HarrisburgUSysAdmin We hope the answer provided by john above clarifies the available MFA options while travelling out of home location. We will be closing this issue for now. In case you still have any further query , feel free to tag me or the content author @MicrosoftGuyJFlo to your reply and we will be happy to help .

Thank you.

[2019-07-05 13:25] #34337 closed

[2019-07-05 13:25] xDelivered-Patrick commented on #32328
Also waiting eagerly for this. Any comment on time-frame would be greatly appreciated

[2019-07-05 13:28] guevaraf opened #34593 "Is Bulk Executor really transactional?"
Currently the page on this docs states:

* Storing high volumes of (hundreds of terabytes, or even more) transactional and operational data with predictable millisecond latency.

But on wiki from the implementation repo @ github:

* When a bulk import API is triggered with a batch of documents, on the client-side, they are first shuffled into buckets corresponding to their target Cosmos DB partiti

[2019-07-05 13:32] ericcwk commented on #34523
Hi all,

Please refer to this url about the mfa server.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy

Regards
Eric

「DixitArora-MSFT <notifications@github.com>」在 2019年7月5日 週五，下午8:49 寫道：

[2019-07-05 13:38] sinupeter opened #34594 "Issue: not seeing forwarded Syslog messages"
I presume by default the port used by the Linux VM to receive the forwarded syslog is 25224 - Do you know how I can test why we are not getting forwarded Syslog messages even though a tcpdump os 25224 shows traffic from our syslog source

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 335e48e2-7265-ac6e-f931-3a5d406f3d2

[2019-07-05 13:38] codefactorydevelopment commented on #34573
Thanks for your answer/follow up.

I havent seen it anywhere in docs but i have seen people on stackoverflow stating it and referencing indexing policy documentation.

Please take a look at the answer posted by user Jay Gong:
https://stackoverflow.com/a/56454961/2736919

In that post, he links to the docs on Modifying indexing policy:
https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy#m

[2019-07-05 13:46] PinakiIT commented on #34088
Is there any tutorial how to get this done for clients / consumers who in real life will not use a developer portal for actually consuming the API, but code. A dialog prompt to authenticate token does not help. Say for use case, I want to call the API with Postman.

[2019-07-05 14:18] KranthiPakala-MSFT commented on #34391
@vladichernov Thank you for providing additional information. We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-07-05 14:22] asicoe commented on #34547
I got the same but fixed it by changing the password to a new one that uses only allowed characters and then everything worked!

[2019-07-05 14:22] KranthiPakala-MSFT commented on #34391
@Minewiskan Could you please take a look the feedback from @vladichernov.

[2019-07-05 14:26] Sudharma commented on #27037
if we plan to use istio ingress gateway I guess we do not need the test identity and those roles.! Could you please update the documentation appropriately

[2019-07-05 14:28] boltlol commented on #34453
Yes, it did, thank you! I am uncertain if this was there before? If so my apologies!

[2019-07-05 14:29] obrookstein commented on #33573
Hey, any update?

[2019-07-05 14:33] martinvelos opened #34595 ""Contributor" role is not mentioned and we can't figure what actions it needs added to assign a role to an Application"
In the Azure Active Directory &gt; Users menu in the portal I see these roles: "Application administrator
Application developer
Cloud application administrator"
yet under Subscriptons  I see "My Role: Contributor" .
What is needed for me to be able to use "Access control (IAM)" under that subscripton to assign the Contributor role of mine to an application I have created. Yet clicking "Add" shows

[2019-07-05 14:40] msangapu-msft commented on #34490
Hey @mike-urnun-msft Long time! Hope you're well :)

Hi @CeciAc I realize you're writing on behalf of the customer. I am not sure what specific component the customer is referring to. But in general, this is a "how-to" article and requires prior knowledge of continuous deployment and Docker/webhooks. This information is not specific to Azure or Microsoft. These are well known container features su

[2019-07-05 14:43] obrookstein commented on #33665
@MicahMcKittrick-MSFT, @julieseto  ?

[2019-07-05 14:43] sdgilley commented on #34129
Thanks for your question, @AleksCallebat.  You're correct, the code you used is not designed to register a local model, it is for registering  a model that was created during the run.

To register local model, you use `Model.register`.  Find more about that here: https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-and-where#register-an-externally-created-model.

#please-c

[2019-07-05 14:43] #34129 closed

[2019-07-05 14:45] stephenacrown opened #34596 "Emergency Break Glass Account(s) - unable to exclude these users any longer"
Now the "Baseline Policy: Require MFA for Admins" has no capability to exclude users, it is impossible to use the recommended policy and also adhere to the Azure AD Emergency Break Glass recommendations and documentation at the same time:

https://docs.microsoft.com/en-gb/azure/active-directory/users-groups-roles/directory-emergency-access

---
#### Document details

⚠ *Do not edit this section. I

[2019-07-05 14:45] ChaitanyaKandala commented on #34489
Is there any alternative ? I have multiple containers in the storage account and cant provide access to entire storage account.

[2019-07-05 14:50] igomat opened #34597 "Auto-upgrade - disable"
How to disable the auto-upgrade feature?
We want to perform in fully controlled way and all File Servers aligned at the same time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a636
* Version Independent ID: 4a09b58a-9fd2-69fc-0348-e6d4d0956a20
* Content: [Planning for an Azure File Syn

[2019-07-05 14:52] stephenacrown opened #34598 "CA "Baseline Policy: Require MFA for Admins" - no longer compatible with this page"
The recommendations for Emergency Break Glass account management no longer compatible with the following CA policy due to the policy now no longer having the ability to exclude certain users (i.e. Emergency Break Glass user accounts).

CA "Baseline Policy: Require MFA for Admins"

https://docs.microsoft.com/en-gb/azure/active-directory/conditional-access/howto-baseline-protect-administrators

Can

[2019-07-05 14:54] terrymandin commented on #34564
Here is more detail on how I setup my Linux system (I am not a Linux pro by any means):

**Device**

/home/moxa/startStreaming:

[code]
/etc/systemd/system/device-stream.service:
[code]
journalctl -u device-stream -f
[code]
**Service**
[code]
[code]

[2019-07-05 14:56] igomat opened #34599 "Auto-upgrade - settings"
Where exactly are the settings for the agent auto-upgrade feature? How they are called?
Is the setting only for the AFS Agent or for all products so: "Give me updates for other Microsoft products when I update Windows" in Windows Update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa8c1f7-dc55-7129-95be-687a0b11a63

[2019-07-05 14:58] ChiefWiggum opened #34600 "Late delivery of 1st requests in case previous requests 'failed'"
The following sentence is probably not correct/complete:

We have multiple subscribers that listen to 1 topic. One of these subscribers regularly return a 409 (conflict), in case a dependency is not ready yet and we therefor 'ask' AEG to try again later. This works well for a while, but then we see that some requests arrive very late (sometimes hours later, sometimes 'just' 10 minutes) at this web

[2019-07-05 15:01] ChiefWiggum opened #34601 "Status codes incomplete"
It seems to us, that the list of status codes EG considers a success does also include a 204 (no content). And a 409 (conflict) is also considered a failure (obviously). Are we correct in assuming that all status codes in the 200 to 299 range are considered successful and everything above is a failure? What about 300 (redirect etc) codes? How does EG handle those?

---
#### Document Details

⚠ *Do

[2019-07-05 15:04] igomat commented on #34117
Please reopen.

What if I run the Invoke-StorageSyncCloudTiering cmdlet manually on a directory, a then:
1. Files have been modified (grew)
2. No files changes in the subject directory but other directories significantly grow over a time and almost fill up the volume space.
Will be used the Cloud Tiering Heatmap?
Means: Is the Invoke-StorageSyncCloudTiering permanent for the files that has been ex

[2019-07-05 15:05] jcbrooks92 opened #34602 "Webjob's using the SDK need to be deployed as continous"
Having a note explicitly indicating that webjob's using the SDK need to be deployed as continuous will help avoid confusion especially in scenarios where customers are using the webjob SDK for a timer triggered webjob. There has been some confusion around why these webjobs need to be deployed as continuous vs triggered.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-07-05 15:15] RyanHill-MSFT commented on #34602
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-05 15:23] RyanHill-MSFT commented on #34584
Thanks for the feedback! Currently, there isn't a time-frame when multi-app container support for Windows images will go GA. However in regards to making it more apparent that it only supports Linux containers, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-05 15:25] msangapu-msft commented on #32522
#please-close

[2019-07-05 15:25] #32522 closed

[2019-07-05 15:27] dmytro-pryvedeniuk opened #34603 "The Regex strings for timestamp delimiters are invalid"
In the table for "YYYY-MM-DD HH:MM:SS" the following Regex delimiter is specified ((\\\\d{2})\|(\\\\d{4}))-([0-1]\\\\d)-(([0-3]\\\\d)\|(\\\\d))\\\\s((\\\\d)\|([0-1]\\\\d)\|(2[0-4])):[0-5][0-9]:[0-5][0-9] though using it "as is" results in the following error "New-AzOperationalInsightsCustomLogDataSource : Make sure you have right json input for CustomLog data source." The modified version  ((\\d{2

[2019-07-05 15:32] dmytro-pryvedeniuk opened #34604 "Misleading example for Linux Performance Counters"
The example for Linux performance counters contains misleading command. It took some time to realize that we create one data source and enable another one.

# Linux Perf
New-AzOperationalInsightsLinuxPerformanceObjectDataSource ...
Enable-AzOperationalInsightsLinuxCustomLogCollection ...  &lt;&lt;&lt;&lt;-------  Enable-AzOperationalInsightsLinuxPerformanceCollection should be here.

---
#### Docu

[2019-07-05 15:42] msangapu-msft commented on #34584
Hi @ta-stott-oe, thank you for the feedback.

We have separate areas for different platforms. This article is housed in the App Service on Linux area and is platform-specific. Windows articles can be found in /azure/app-service/ . This feature is not mentioned in the Windows area as it's not supported.

We hope to improve the URL structure and the table of contents in the future to provide more cl

[2019-07-05 15:58] nerdingas1 opened #34605 "Hub-to-hub connectivity"
Currently the documentation says that hub-to-hub connectivity is available and in preview:
"This means that traffic from a branch that is connected to the cloud in one region can reach another branch or a VNet in a different region using hub-to-hub connectivity which is currently in preview."

I do not see this mentioned anywhere else and I do not think that this is the case. Could you clarify if

[2019-07-05 16:14] dinobu commented on #31004
anyone?

[2019-07-05 16:14] dinobu commented on #31005
anyone?

[2019-07-05 16:19] MikeBerginQlik commented on #9731
I am having this exact problem. I cannot ADD custom domains to an existing Azure Web App without it wiping out all the existing hostnames. I have tried the suggestions above and still receive errors.

[2019-07-05 16:23] terrymandin commented on #34564
As it wasn't working on port 22 I tried port 23.  I opened port 23 with this command.
[code]
I also added some debug info to the streaming code to see what is happening:
[code]
I now get a Connection refused error:
[code]

[2019-07-05 16:24] Mike-Ubezzi-MSFT commented on #34315
Thanks for the additional feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-05 16:26] hansenms commented on #34401
Sure thing. Glad you got it working.

#please-close

[2019-07-05 16:26] #34401 closed

[2019-07-05 16:28] Mike-Ubezzi-MSFT commented on #34315
@jovanpop-msft @CarlRabeler Customer has pointed out a detail that likely needs some clarification. Firstly, why is the default availability model deployed to the same data center?

[2019-07-05 16:29] Mike-Ubezzi-MSFT commented on #33328
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-05 16:29] #33328 closed

[2019-07-05 16:31] andreasmarkmann opened #34607 "Storage CLI page could use some example of credential being used"
When executing an example for listing the contents of an existing blob container,

[code]

the CLI returns an error explaining how to credential the access:

&gt; Missing credentials to access storage service. The following variations are accepted:
    (1) account name and key (--account-name and --account-key options or
        set AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_KEY environment variables

[2019-07-05 16:32] Adam-Smith-MSFT commented on #34599
@igomat  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-05 16:33] Adam-Smith-MSFT commented on #34597
@igomat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-05 16:34] #34548 closed

[2019-07-05 16:37] randalvance opened #34608 "Multiple Static Sites"
Does one storage account only able to host 1 static site?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6646d076fbe4
* Content: [Static website hosting in Azure Storage](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-b

[2019-07-05 16:39] GerryOnGithub opened #34609 "public async Task<HttpResponseMessage> Put(DeviceInstallation deviceUpdate)"
The documentation (https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-registration-management) for the "Put" calls **does not** specify where the values held in DeviceInstallation come from for iOS. I have been able to guess for FCM, but can't get this working for iOS. Also, there is not such class PushNotificationChannelManager outside of UWP. Also, I got

[2019-07-05 16:39] Adam-Smith-MSFT commented on #34553
@ChrisParrBIE The server name in the portal is not updated if the server is renamed as of now, it may become a feature in the next releases but i don't have a specific ETA on it.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-05 16:39] #34553 closed

[2019-07-05 16:40] roygara commented on #34521
@johnthcall Thanks for reaching out, we appreciate it!

I'd like to confirm the behavior here before I reach out to the product team: For clarity's sake, you're referring to this specific segment of the script, right?

`$disks = Get-Disk | Where partitionstyle -eq 'raw' | sort number

    $letters = 70..89 | ForEach-Object { [char]$_ }
    $count = 0
    $labels = "data1","data2"

    foreach ($di

[2019-07-05 16:48] djpmsft commented on #34517
Hey Mike,

We have recently introduced multiple improvements to the Event Based Trigger design and one of them, as you have experienced, is making container name a required property. The impetus behind this change was a large swath of users pointing their triggers at the root of a storage account and as a result, a very large number of pipeline runs would occur.

As noted, the documentation has no

[2019-07-05 17:00] jscaravilli commented on #34566
Looks like there might be some parsing issue here. The 'query to be executed' preview shows the original query + count operator:

[code]

However, the 'Search Query' that arrives in the alert email is messing with the parse function:

![image](https://user-images.githubusercontent.com/45171299/60736334-38103e00-9f1c-11e9-92b9-88f3916fd075.png)

Trying to escape the <param> tags in the query and wi

[2019-07-05 17:06] dwojcik57 opened #34610 "How can i fix this"
[ERROR]   The project [unknown-group-id]:[unknown-artifact-id]:[unknown-version] (/home/azureuser/pom.xml) has 4 errors
[ERROR]     Malformed POM /home/azureuser/pom.xml: Expected root element 'project' but found 'plugins' (position: START_TAG seen <plugins>... @1:9)  @ /home/azureuser/pom.xml, line 1, column 9 -> [Help 2]
[ERROR]     'groupId' is missing. @ line 1, column 9
[ERROR]     'artifactI

[2019-07-05 17:11] timwebster9 commented on #34458
I've set it up as I described above and it works great.  Thanks for your fast replies and advice.  This can be closed. 👍

[2019-07-05 17:16] terrymandin commented on #34564
I have it working now on port 22.  The key was to wait until the service is fulling up and running.  On my device it took ~5 minutes after the dotnet call was executed for it to be ready.  Wait for the "Waiting for Stream Request" before calling.

eg. Note the log times in the log below.
[code]
[code]

[2019-07-05 17:16] #34564 closed

[2019-07-05 17:20] denhsu commented on #34480
Thanks for reply! @jakaruna-MSFT

We inject our security scanning into our Azure DevOps CI Build pipeline when we build the application container image, therefore, it would be nice if ACR Tasks can create a webhook back to Azure DevOps to trigger the build pipeline.

[2019-07-05 17:25] vinapp opened #34611 "Question on : Storage Analytics API for reading the diagnostic logs - Java SDK's and REST API's"
I am using packages com.microsoft.azure.storage.analytics.CloudAnalyticsClient and com.microsoft.azure.storage.analytics.LogRecord from the storage API's (https://github.com/azure/azure-storage-java/tree/legacy-master) for tracking the blob uploads, listing etc.

Questions:

1. Is there an equivalent package available in the v10 version of Storage JavaSDK ?
2. Is there a REST API equivalent for th

[2019-07-05 17:27] FrankHu-MSFT commented on #34598
@stephenacrown Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-05 17:27] FrankHu-MSFT commented on #34596
@stephenacrown Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-05 17:28] FrankHu-MSFT commented on #34595
@martinvelos  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-05 17:32] KumudD commented on #33758
@PIKESTEL Thanks for bringing this to our attention. This article has now been updated. I have removed any reference to - "You cannot enable this option if you're peering virtual networks in different regions."

[2019-07-05 17:33] roygara commented on #34597
Hello @igomat , thanks for reaching out, we appreciate it! I've yet to hear from the product team but I did just attempt to set up a test environment myself. When you're installing File Sync you can specify the day/time it will run the update check. Does that fit your needs?

It doesn't appear as though you can disable it, at least not in the installer. But I've reached out to the product team to

[2019-07-05 17:36] jluk commented on #34295
I think @mlearned is the right person to get it filed into the work queue, we have some refactoring to do for multiple node pool work.

[2019-07-05 17:37] stephenacrown opened #34612 "Admin reset policy: How is this compatible with Emergency Break Glass account recommendations?"
Admin reset policy: How is this compatible with Emergency Break Glass account recommendations?

Those recommendations on the link below state that MFA should be disabled, and also not connected to a specific user, but a combined MFA+SSPR configuration for admins enforces MFA essentially through (Auth. App) *and* (Email or phone).

https://docs.microsoft.com/en-gb/azure/active-directory/users-group

[2019-07-05 17:41] stephenacrown opened #34613 "SSPR Policy for admins - essentially not compatible with emergency break glass accounts"
SSPR Admin reset policy: How is this compatible with Emergency Break Glass account recommendations?

The recommendations on the this page state that MFA should be disabled for emergency break glass, and also not connected to a specific user, but a combined MFA+SSPR configuration for admins enforces MFA essentially through (Auth. App) *and* (Email or phone).

We can't get this to work in our tenant

[2019-07-05 17:42] #34458 closed

[2019-07-05 17:51] TurtleBeach opened #34614 "Link to COMPLETE documentation for YAML files for containers"
We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains all the article details so you can focus on the feedback part.

THEN please provide a link. There is no link to provide feedback on the article:
azure-docs/articles/container-instances/container-instances-multi-container-yaml

[2019-07-05 17:59] yeswps opened #34615 "Microsoft.Insights.VMDiagnosticsSettings resource error"
In this section:
//Start of section to add
"resources": [
{
            "type": "extensions",
            "name": "Microsoft.Insights.VMDiagnosticsSettings",
            "apiVersion": "2017-12-01",

It should be:
//Start of section to add
"resources": [
{
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "name": "[concat(variables('vmName'), '/', 'Microsoft.Insights.V

[2019-07-05 18:01] Kendubu1 commented on #33970
Would it be possible if we explicitly mention that Basic tiers do not allow vnet integration & that the vnet service endpoints are only for "General Purpose Tiers". I believe the mention of "General Purpose & Memory Optimized servers" can be easily skimmed over without understanding that it relates to the pricing tier.

[2019-07-05 18:03] yeswps commented on #34615
"type": "extensions",
results following errors:
Deployment template validation failed: 'The template resource 'Microsoft.Insights.VMDiagnosticsSettings' at line '1' and column '4503' is not valid. The type property is invalid. Please see https://aka.ms/arm-template/#resources for usage details.'.

"name": "Microsoft.Insights.VMDiagnosticsSettings",
results following errors:
Deployment template val

[2019-07-05 18:04] shwetadodiya opened #34617 "TrackException support in mobile"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#trackexception

It is mention that we these dont support mobile applicaiton.
Is there any way that i can get TrackException , TrackRequest etc api use into the mobile app ?
I wanted to analyse the mobile app logs in log analytics by using custom query on event name along with the properties in customDimensions.
Plea

[2019-07-05 18:05] mike-urnun-msft commented on #34593
Hi @guevaraf - Thank you for your feedback! Could you provide the URL of the documentation that your feedback is applicable to?

[2019-07-05 18:05] IEvangelist commented on #34481
#please-close

[2019-07-05 18:05] #34481 closed

[2019-07-05 18:06] ianschmitz commented on #29971
@msrini-MSFT this is an unfortunate limitation that is likely a non-starter for a lot of users. Is there a technical limitation for why AFD doesn't support WebSockets? Application gateway [currently supports it](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-websocket), and is a very similar service from what i can tell.

[2019-07-05 18:07] Minewiskan commented on #34391
@vladichernov - Can you reply with the complete URL, including the locale identifier for the page you are seeing this on? We cannot reproduce this issue in any localize version of this page, including https://docs.microsoft.com/de-de/azure/analysis-services/analysis-services-data-providers. All are downloading the correct .msi.

Do you get the correct downloads from the en-us page? https://docs.mi

[2019-07-05 18:08] mike-urnun-msft commented on #34594
Hi @sinupeter - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 18:11] jecooper opened #34618 "Error when pointing more than 20 A record aliases to the same A record"
When pointing the 21st A record alias to an A record I get 'Failed to save record set 'xxxxx'. Error: The request was invalid.' This limitation isn't explained nor does it make sense from a use-case perspective. We are running a wordpress multi-site with 30+ sites hosted at the same IP. It appears I will have to create a second A record pointer to consolidate the A records. Please fix this. I know

[2019-07-05 18:12] acheung123 commented on #34464
Our team currently is able to properly deploy Azure Functions using Maven with the Azure Functions Plugin.

[code]

We have tried exploring using zip deploys with both the Azure CLI and the zip deploy endpoint but with no success.

[code]

[code]

In both cases, I have confirmed the zip files were correctly uploaded to the Azure Function by downloading the app content after the zip deployments. Fr

[2019-07-05 18:12] MarileeTurscak-MSFT commented on #34554
Hi @sagemal ,

This error usually occurs if you are using an outdated Powershell module. Which version are you using?

If you are still on an old one please update to the latest version and try again. https://www.powershellgallery.com/packages/AzureAD/2.0.2.26

[2019-07-05 18:15] MarileeTurscak-MSFT commented on #34360
@kman2123 did you try the suggestion in the comments? (changing the key to TRUE, rebooting, changing to FALSE, and then rebooting again)

I could not reproduce in my environment so am not sure why it would be ignoring it.

[2019-07-05 18:16] guevaraf commented on #34593
Hi @mike-urnun-msft , thank you for the quick reply. The documentation can be found here:

https://github.com/Azure/azure-cosmosdb-bulkexecutor-dotnet-getting-started

Section "API implementation details"

Thank you

[2019-07-05 18:22] RyanHill-MSFT commented on #34609
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-05 18:25] ggailey777 commented on #34602
Thanks @jcbrooks92! I've captured this feedback in our internal DevOps database as [1567453](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1567453). In the future, feel free to enter doc issues directly in our DevOps database using [this link](https://mseng.visualstudio.com/TechnicalContent/JP%20Connock%20Team/_workitems/create/User%20Story?templateId=674c370a-298e-4ef3-bdf0-b406953

[2019-07-05 18:25] #34602 closed

[2019-07-05 18:36] ShreyanshDaga opened #34619 "Not able to access read/write on Mounted FileShare on VM by AspNetCore Application"
Hi,

I am trying to use AzureFileShare as follows:

**# Background**
1) Create AzureFileShare storage account in AzurePortal
2) Use the powershell scripts mentioned in this documentation to mount file share on a Virtual Machine in a Virtual Machine ScaleSet running inside a ServiceFabric application
3) My ServiceFabric application consist of following:
     --> Stateless **ASPNetCore Application S

[2019-07-05 18:42] kobulloc-MSFT commented on #34586
@phenixita Thank you for bringing this to our attention!  We're in the process of updating our quickstarts with the news steps and the changes should go live soon.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-07-05 18:42] #34586 closed

[2019-07-05 18:52] havronl opened #34620 "Misleading Statement"
For extensions that require access to Azure Storage, you can allow access using Azure NSG Service Tags for Storage (If using Azure Firewall)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a01146cd-ccd3-210d-66ee-d097ba958061
* Version Independent ID: d3726453-07cd-414e-cac8-49497b1540d6
* Content: [Azure VM extensions

[2019-07-05 18:54] yeswps commented on #32319
All Classic Alerts are to be retired on August 31, and we do have a few VMs that were using Classic Guest agent provided \Memory\% Committed Bytes counters.

It really do need to take way too much effort to enable the same counter using Azure Monitor, we will have to export existing VMs template, and start to add sections of the code of the template, and hope nothing breaks. There has to be a easi

[2019-07-05 18:55] femsulu commented on #34615
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-05 18:56] femsulu commented on #34604
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-07-05 18:57] mike-urnun-msft commented on #34603
Hi @dmytro-pryvedeniuk - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 19:10] Mike-Ubezzi-MSFT commented on #34232
@ishepherd We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-05 19:10] #34232 closed

[2019-07-05 19:12] NagaCSC opened #34621 "Please add a note for WPJed windows 10 devices dsregcmd output"
=========

Dsregcmd /status --&gt; AzureADPRT only shows status for AADJ/HAADJ PRT not for WPJ PRT
=========

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3bcf99-60c3-876c-c421-3351e507a81b
* Version Independent ID: c906978e-acf2-462c-d7ff-20221872a793
* Content: [Primary Refresh Token (PRT) and Azure AD - Azure Act

[2019-07-05 19:14] cijothomas commented on #33914
![image](https://user-images.githubusercontent.com/5232798/60741487-6bec6300-9f1e-11e9-829f-a272c3b708e0.png)
slecting "Other Resource", and then "Application Insights" seem to be working.

[2019-07-05 19:16] Mike-Ubezzi-MSFT commented on #34390
@bigdatamoore Thank you for this additional detail. Can you include the example you were seeking clarification for and for which a response was provided. I will include this in the doc as the examples provided in the doc doesn't see to answer a very simple billing rate question.

[2019-07-05 19:21] mike-urnun-msft commented on #34605
Hi @nerdingas1 Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 19:25] lingtham commented on #34511
Is there no command I can use to just detach the disk?

And what would be the kubectl command to delete the disk? I tried to delete the disks in Azure Portal but it would not let me because the disks are attached to a VM, which is why I am trying to detach them first.

[2019-07-05 19:27] lingtham commented on #34509
I am using image `mcr.microsoft.com/dotnet/framework/aspnet:4.8-20190515-windowsservercore-ltsc2019`

And thanks, am looking forward to your update

[2019-07-05 19:27] bwcarty-adc commented on #29895
I ran into this same issue, and the root of the problem was that I was trying to use pscore/PowerShell 7. As soon as I went back to PowerShell 5 and followed the instructions again, everything worked.

Per https://docs.microsoft.com/en-us/powershell/windows-virtual-desktop/overview#supported-powershell-versions

The Windows Virtual Desktop module is not built on .NET Core, so it cannot be run on m

[2019-07-05 19:32] mike-urnun-msft commented on #34607
Hi @andreasmarkmann - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 19:33] MarileeTurscak-MSFT commented on #34374
@jnprakash What do you see when you select the Enterprise Application? I followed the tutorial steps and was able to see the Single Sign On option in my tenant.
![image](https://user-images.githubusercontent.com/13383753/60742161-16658580-9f21-11e9-9eeb-43add37d968b.png)

Can you post a screenshot?

[2019-07-05 19:35] mike-urnun-msft commented on #34608
Hi @randalvance - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 19:37] MarileeTurscak-MSFT commented on #34492
Thanks @tseward

Since the screenshots would also need to match I have assigned this to the content author, @MicrosoftGuyJFlo to look into.

[2019-07-05 19:46] mike-urnun-msft commented on #34610
Hi @dwojcik57 - Thank you for your feedback! Could you share with us the URL of the documentation that your feedback is applicable to?

[2019-07-05 19:49] mike-urnun-msft commented on #34611
Hi @vinapp - Thank you for your feedback & questions. Since this channel is for driving improvements towards MS Docs, could you share with us the URL of the documentation that your feedback is applicable to?

[2019-07-05 19:51] FrankHu-MSFT commented on #34596
@stephenacrown Thanks for the info, it looks like you're correct that there is a disparity between those two docs. However, that CA for MFA for admins is in preview right now and is continued to be worked on.

Per the docs : https://docs.microsoft.com/en-gb/azure/active-directory/authentication/howto-mfa-userstates

You should be able to set MFA based on specific users following those docs.

Does

[2019-07-05 19:52] FrankHu-MSFT commented on #34598
Duplicate of : https://github.com/MicrosoftDocs/azure-docs/issues/34596

[2019-07-05 19:52] icyfire0573 opened #34622 "Grammer issue"
Under step 6 it says:

Before you can begin enabling modern authentication on-premises, be sure you meet theIf you meet the requirements, you’re now ready to enable modern authentication on-premises.

Should be
Before you can begin enabling modern authentication on-premises, be sure you meet the requirements, you’re now ready to enable modern authentication on-premises.

---
#### Document Details

[2019-07-05 19:58] mike-urnun-msft commented on #34600
Hi @ChiefWiggum - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 19:59] mike-urnun-msft commented on #34601
Hi @ChiefWiggum - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 20:00] mike-urnun-msft commented on #34612
Hi @stephenacrown - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 20:03] anirudhcavale commented on #32319
@aquibqureshi26, @yeswps the UX is currently being prepped for deployment. Expect to see it in the coming weeks.

[2019-07-05 20:03] mike-urnun-msft commented on #34613
Hi @stephenacrown - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 20:03] johncrowtherdcc commented on #34463
Hi,
Further to my first post, the old documentation also doesn't mention the greeting 'Authentication denied retry'.
John.

[2019-07-05 20:06] larryeby commented on #34344
Thanks for the follow up. I see what you mean now about having a dynamically scheduled function based on the compute time of the previous run. Makes much more sense with that in mind.

[2019-07-05 20:07] anirudhcavale commented on #33914
@aderesh - @cijothomas has it right in the ocmment above. You have to choose the "Other resource" menu item, then select application insights as the resource type. The docs need to be updated with new screenshots.

[2019-07-05 20:17] vinapp commented on #34611
@mike-urnun-msft : Referring to below links:
![image](https://user-images.githubusercontent.com/8567548/60743555-ceca1280-9f8f-11e9-91ba-719c38bd1a45.png)

[2019-07-05 20:43] FrankHu-MSFT commented on #34595
Hey @martinvelos it looks like you're referring to the RBAC roles as opposed to the Administrator roles.
For information on all the RBAC roles please refer to the doc :
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#contributor
The reason you can't manage resource access is due to the i

[2019-07-05 20:56] Monual opened #34623 "Commands like New-AzureADUserAppRoleAssignment no longer exist"
This article seems out of date since commands like "New-AzureADUserAppRoleAssignment" no longer exist.  How do we perform these same tasks using the current version of the Azure Powershell Modules?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 163a1f88-c268-18aa-a1e6-89b4a11bfb01
* Version Independent ID: 1136a613-48f

[2019-07-05 20:57] Juliako commented on #20418
Really sorry for still not publishing the REST protection article, it is in the backlog.
There is an article that describes the [general protection steps](https://docs.microsoft.com/en-us/azure/media-services/latest/content-protection-overview#main-components-of-a-content-protection-system) and also there is a [Postman collection with all the REST API](https://github.com/Azure-Samples/media-servic

[2019-07-05 20:57] Juliako commented on #20418
#please-close

[2019-07-05 20:57] #20418 closed

[2019-07-05 21:45] mmacy commented on #30581
Hi @aszalacinski, yes, use the same process for Active Directory within Office 365. Additionally, the app registration process will be updated in this article shortly - thanks for your patience!

[2019-07-05 21:53] matthawley opened #34624 "Does Direct/Https mode use port 443?"
I'm assuming so, though your documentation above indicates it uses ports 10,000 - 20,000. When running in Azure App Services, this mode works while Direct/Tcp does not - likely due due the ports not being open.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19819758-be79-2347-d1d9-7c950d8513ae
* Version Independent ID:

[2019-07-05 22:02] TravisCragg-MSFT commented on #33758
@PIKESTEL We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-05 22:02] #33758 closed

[2019-07-05 22:25] mike-urnun-msft commented on #34614
Hi @TurtleBeach - Thank you for your feedback! We will review and update as appropriate.

[2019-07-05 22:27] GerryOnGithub commented on #34609
I found a fix for this. Take the iOS device token (received via RegisteredForRemoteNotifications) and strip spaces and angle brackets (send to your server) and use it as the PushChannel. You can also use it for the InstallationId, or you can create a GUID.

And delete anything related to PushNotificationChannelManager, that class is not needed.

[2019-07-05 22:28] TravisCragg-MSFT commented on #34114
@SattaRavi I am unable to give an ETA at this time, but this should be fixed in a timely manner.

If you need this blade immediately, you can use [this preview portal link](https://portal.azure.com/?feature.customportal=false&feature.canmodifystamps=true&Microsoft_Azure_Network=flight9) which will have the blade enabled.

[2019-07-05 22:33] yushwang commented on #31240
@dmauser - MSFT internal should not come over the public GitHub issue channel. Please follow up with Team channel or other internal DLs.

We will add language to say NAT-T is allowed, but it still requires a public IP address to be specified with the Azure local network gateway in order to connect. Just not need to be on the device.

[2019-07-05 22:33] yushwang commented on #31240
#please-close

[2019-07-05 22:33] #31240 closed

[2019-07-05 22:39] julianparismorgan commented on #32988
Thanks @mcoy001 for looking into this! Using a prefab makes sense (and is probably more extensible anyways!), so I'll update the docs to use that instead.

[2019-07-05 22:39] Adam-Smith-MSFT commented on #34607
@andreasmarkmann Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-05 22:43] MayMSFT commented on #34393
datapath = ds.path(path).as_download()
I think remove "as_download()" should make it work

[2019-07-05 22:43] FrankHu-MSFT commented on #34622
@icyfire0573 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-05 22:44] FrankHu-MSFT commented on #34621
@NagaCSC Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-05 22:45] Adam-Smith-MSFT commented on #34619
@ShreyanshDaga I recommend posting in either in: https://stackoverflow.com/  or in MSDN forums: https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata
The issue you described is not document related(Github is strictly for documentation questions/issues).
It looks like you should consider using the [Azure File Share API](https://docs.microsoft.com/en-us/rest/api/storageservices/

[2019-07-05 22:45] #34619 closed

[2019-07-05 22:47] FrankHu-MSFT commented on #34622
@icyfire0573 Thank you for the feedback, we appreciate your info! We're sorry that something like this slipped through and we're going to go ahead and make that change as soon as possible, Thanks again for letting us know!

[2019-07-05 22:53] rainer37 commented on #34455
Could you update the number of max faultDomainCount for the new locations, for example, uaenorth. Thanks!

[2019-07-05 22:56] Adam-Smith-MSFT commented on #34608
@randalvance It currently only supports one Static Website per storage account. Since within blob storage, when activating the option, there's a container named $Web that gets created. and this name is used in the back end for all operations.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-05 22:56] #34608 closed

[2019-07-05 22:56] fnaeem78 commented on #33426
It doesnt seem optional, if we are integrating with AD, how does this admin/super-user token gets generated ?

[2019-07-05 22:57] Mike-Ubezzi-MSFT commented on #34390
I will just use the example provided in your question stated above. Thank you!

[2019-07-05 22:58] TheFairey commented on #30630
@Zimmergren I am in exactly the same position with some new development and I would rather use a mixed approach and uodate when the API catches up than stick with having to use ACR credentials. Could you possibly share how you mixed Fluent and ARM to achieve a programmatic C# workaround?

Much appreciated.

[2019-07-05 23:00] TravisCragg-MSFT commented on #34618
@jecooper There is a limit of [20 records per record set](https://github.com/MicrosoftDocs/azure-docs/issues/34618) in Azure DNS. If you need more than 20 records, you will need to create a new record set.

This limit is a common one, and I will pass along this feedback to see if we can increase this limit.

[2019-07-05 23:09] Mike-Ubezzi-MSFT commented on #34390
I have assigned the issue to the content author to evaluate/edit/merge pull request as desired.

[2019-07-05 23:12] Alberto-Vega-MSFT commented on #34589
@alexcpn This question seems better suited for stack-overflow where unlike here there is a community that can help. Would you please create a post there and share the link to it here?

[2019-07-05 23:12] rimman commented on #34390
Ack. Please proceed. It's a little bit redundant since all cloud services with hourly billing operate in this manner, (not just on Azure but also in other clouds), but if we think this will help deflect  some questions and doubts, it's fine. Please merge. thank you.

[2019-07-05 23:13] FrankHu-MSFT commented on #34621
@NagaCSC can you please clarify on what you are looking to change on the Microsoft Doc here? I'm not sure where you would like to add : dsregcmd in regards to the article.

[2019-07-05 23:16] FrankHu-MSFT commented on #34411
@thomassimpson25 I see. Are you sure Modern auth is enabled in your Outlook 2016 environment? Please refer to : https://docs.microsoft.com/en-us/Exchange/clients-and-mobile-in-exchange-online/enable-or-disable-modern-authentication-in-exchange-online?redirectSourcePath=%252fen-us%252farticle%252fenable-or-disable-modern-authentication-in-exchange-online-58018196-f918-49cd-8238-56f57f38d662

As som

[2019-07-05 23:17] FrankHu-MSFT commented on #34234
@dinobu as this issue is being worked on in the correct channels, and the Doc issues are typically meant for issues with the docs, I will be closing out this issue, for further updates please refer back to those links you had provided. Thanks again for the contributions,

[2019-07-05 23:17] #34234 closed

[2019-07-05 23:18] FrankHu-MSFT commented on #34383
@PaoloCastAway As there hasn't been a response in quite some time I will be closing out this github issue, please reopen the issue and let us know if you have anymore questions.
Thanks!

[2019-07-05 23:18] #34383 closed

[2019-07-05 23:18] jecooper commented on #34618
@TravisCragg-MSFT this is not happening within a single record set. These are separate A records that are configured as alias and just happen to be pointed to the same multi-site A record.

[2019-07-05 23:20] FrankHu-MSFT commented on #34598
As this is a preview feature, I will be closing out this issue. Thanks for letting us know, we will be sure to make excluding users a feature in this, but as this is in preview, it is not meant to be in use for production environments. Please refer to the other git issue you had posted for more information in regards to following the emergency break glass procedure.

[2019-07-05 23:20] #34598 closed

[2019-07-05 23:23] Mike-Ubezzi-MSFT commented on #34157
This is out of my area of expertise. I am looking to find a solution for you but at this time your best bet is to take this to the Cosmos DB MSDN Forum ([link](https://social.msdn.microsoft.com/Forums/en-US/home?forum=azurecosmosdb)). In the meantime, I am assigning this to the document content owner to review the code examples for accuracy. I have escalated this to the product group.

[2019-07-05 23:25] NagaCSC commented on #34621
Hi Frank,

How do we verify windows 10 device has PRT or not. via dsregcmd /status. which was not there in this article. I sync with Ravi and he will update the doc in next release with suggested updates.

[2019-07-05 23:42] Mike-Ubezzi-MSFT commented on #34555
@matjazmav Only with SQL Authentication. `Universal with MFA` is still an Azure Active Directory authentication method. In fact, it is more secure than AAD Auth by itself. Please see the following: The five authentication options ([link](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-ssms-mfa-authentication#the-five-authentication-options)).

[2019-07-05 23:46] denhsu commented on #34480
@jakaruna-MSFT

I just think of one work around, but don't think it would work.  Please comment if you have any a suggestion.

When ACR task detects an base image change and trigger a rebuild, then pushes the new image into ACR.  I am trying to setup a webhook in ACR (when new image is pushed to ACR) to auto trigger our build in Azure DevOps to rebuild, push image to ACR, then CD deployment to our

[2019-07-05 23:52] yushwang commented on #30298
@nickgailloux - thanks for the feedback. The logic is not as straightforward if all combinations are considered. For example, in the case where VPN and ExpressRoute gateways are both present, the simple counting logic breaks down. We will need to update the FAQ for sure, but the most accurate way is to do a GET gateway resource and check the "bgpPeeringAddress" field.

[2019-07-05 23:52] yushwang commented on #30298
#please-close

[2019-07-05 23:52] #30298 closed

[2019-07-05 23:53] dawander opened #34629 "Provisioning Issue"
Who do I need to talk to:  Microsoft Support or Dropbox Support for this issue?

I blocked a user in Azure which then sent a deletion event to Dropbox.  I didn't realize it would delete the user in Dropbox. As such, I unblocked the user in Azure, waited 24 hours, and the user is still deleted in Dropbox.

I'm trying to unravel this as well as understand which provisioning events travel across.

Th

[2019-07-05 23:57] mmacy commented on #32087
Hi @mcurko, as there has been no further activity on this issue for some time, I'm requesting the issue be closed. If you have further questions, please don't hesitate to ask.

#please-close

[2019-07-05 23:57] #32087 closed

[2019-07-05 23:59] mmacy commented on #32185
Hi @seantleonard, as there has been no further activity on this issue for some time, I'm going to request its closure. If you have any further questions regarding the issue, please don't hesitate to ask.

#please-close

[2019-07-05 23:59] #32185 closed

[2019-07-06 00:00] rido-min opened #34630 "configedge.sh not found"
the 2nd step of the last section: [Upedate the IoT Edge device configuration](#update-the-iot-edge-device-configuration) refers to the script `/etc/iotedge/configedge.sh` but the script is not available on the edge device.

It has an easy workaround, just editing the config.yaml to include the connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-07-06 00:28] FrankHu-MSFT commented on #34621
After further discussion in regards to this issue, it looks like Ravi Vennappusa is also looking into this issue,

[2019-07-06 00:35] FrankHu-MSFT commented on #34263
@Girishvtm Yes, you can create dynamic groups by utilizing the -GroupTypes parameter, please refer to the article made by the identity team for more information on how to to perform this task, https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/New-enhancements-to-the-AzureAD-PowerShell-2-0-preview-Manage/ba-p/245153

Please let us know if you have anymore questions otherwise we

[2019-07-06 00:48] dkamstra opened #34631 "Information is out of date"
The information after 'Click Azure Active Directory again, and then click Manage Application.' is out of date. The portal UI is very different. It's not clear where you're supposed to go to get the 'Application Id' information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff46628-b5dc-8b02-02b6-8f510d8059b0
* Versio

[2019-07-06 00:53] mike-urnun-msft commented on #34617
Hi @shwetadodiya - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 00:56] mike-urnun-msft commented on #34620
Hi @havronl - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 01:07] MarileeTurscak-MSFT commented on #34360
Hi @kman2123 ,

Please try those steps. If it still does not work shoot me an email at AzCommunity@microsoft.com and I will report this as a bug and update the thread when it is fixed.

[2019-07-06 01:07] #34360 closed

[2019-07-06 01:08] randalvance commented on #34608
Thanks for the response. I feel that it is a bit overkill to create one whole storage account just to host 1 static site.

[2019-07-06 01:08] Karishma-Tiwari-MSFT commented on #34620
@havronl Can you please elaborate on the misleading statement so that we can update/correct the document. Thanks.

[2019-07-06 01:26] Alberto-Vega-MSFT commented on #34581
@naoufelfrioui Please see this same issue here with a solution https://github.com/Azure/iotedge/issues/496

[2019-07-06 01:30] Alberto-Vega-MSFT commented on #34538
@rootn9633 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-06 01:33] RyanHill-MSFT commented on #34609
Awesome that you were able to find a solution @GerryOnGithub. Appreciate the feedback as well.
I have assigned the issue to the content author to take your feedback into consideration.

[2019-07-06 02:23] RyanHill-MSFT commented on #34631
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-06 02:42] mike-urnun-msft commented on #34623
Hi @Monual - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 02:45] mike-urnun-msft commented on #34624
Hi @matthawley - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 02:45] Mike-Ubezzi-MSFT commented on #34390
@bigdatamoore We added a minor note to the document that will be published shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-06 02:45] #34390 closed

[2019-07-06 02:46] mike-urnun-msft commented on #34629
Hi @dawander - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 02:49] mike-urnun-msft commented on #34630
Hi @rido-min - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 03:05] mike-urnun-msft commented on #34611
Thank you for the links, @vinapp! Based on the documentation that you've referenced, we've assigned one of our engineers to assist you further.

[2019-07-06 03:15] mike-urnun-msft commented on #34593
Thanks for the link, @guevaraf! Not sure how you've arrived at that but it doesn't appear to have been updated lately whereas this doc looks a lot more current: [Use bulk executor .NET library to perform bulk operations in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-dot-net)

We're assigning one of our engineers to assist you further.

[2019-07-06 03:34] mike-urnun-msft commented on #34162
Thanks, @jcanose81! - At line: `(.venv) PS C:\Users\azureAdmin>` the `(.venv)` part indicates that you've activated Python virtual environment and it looks like your Python Functions is up and running OK now!

Since this channel is for driving improvements towards MS Docs and we haven't identified any actionable item in your feedback, we will now proceed to close this thread. If there are further

[2019-07-06 03:34] #34162 closed

[2019-07-06 03:36] mike-urnun-msft commented on #34158
@clisc Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-07-06 03:36] #34158 closed

[2019-07-06 03:54] ArsalanWork commented on #33057
@nipuns11 @SaurabhSharma-MSFT
I fixed the above bug in the commit number 'adceb48'. Until it gets published, anyone facing these errors can simply remove the linux_profile block in 'k8s.tf' file.

[2019-07-06 03:55] femsulu commented on #34249
If I understand your issue correctly, the "user/Identity" with contributor role, maps to the tenant ID = "9d3f..." Curious to know if granting the "user" owner role (instead of Contributor) and see if that resolves your issue.
If issue persists, please raise a support ticket with our technical support team using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-creat

[2019-07-06 03:55] #34249 closed

[2019-07-06 04:15] ackava commented on #31866
@CarlRabeler The term `vCore` is not directly related to `core` of CPU, I tried reading various azure documentation regarding VM, no where it is written that vCore is equivalent of core. In one of documentation I found that when a physical CPU has 2 vCore of Hyper V installed, it means both vCore is equivalent of 50% of physical CPU time !! The term is confusing !!

[2019-07-06 04:45] jcanose81 commented on #34162
Python is activating, but when I use CMD to enter "func azure functionapp publish <APP_NAME>" that's when I get the error that there is no valid python version.

It's when I try to publish the app that I get the python error from my initial post.

[2019-07-06 05:58] SnehaAgrawal-MSFT commented on #34365
@benhatton-unsw-edu-au We will now proceed to close this thread but if you feel you need more information please just let us know.

[2019-07-06 05:58] #34365 closed

[2019-07-06 06:00] SnehaAgrawal-MSFT commented on #34379
@generalwig We will now proceed to close this thread but if you feel you need more information please just let us know.

[2019-07-06 06:00] #34379 closed

[2019-07-06 07:36] AndresPineros commented on #13106
Any updates on this?

[2019-07-06 09:09] dwojcik57 commented on #34610
Hi, I was following steps from this quickstart
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-java
and when trying to deploy, I've got that error.

[2019-07-06 09:34] atul1234anand opened #34632 "require('Web3')"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a001b81-9481-749c-534f-b2dd8f7e429a
* Version Independent ID: 765d557a-b80e-bffb-fab3-c9a6eeed0e73
* Content: [Connect using Truffle](https://docs.microsoft.com/en-ca/azure/blockchain/service/connect-truffle#feedback)
* Content Source: [articles/bloc

[2019-07-06 10:36] DixitArora-MSFT commented on #34632
@atul1234anand Thanks for reaching. Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2019-07-06 10:53] gionapaolini commented on #34534
Of course sorry for the late reply.
https://docs.microsoft.com/en-us/azure/aks/gpu-cluster

[2019-07-06 12:10] matjazmav commented on #34555
@Mike-Ubezzi-MSFT We are planning to use our tool across different AD domains and we are trying to avoid registering our tool in each AD domain. So we would like implement authentication exactly like in SSMS "Universal with MFA support" that we can use to connect without explicitly allowing SSMS to access Azure SQL Server resource.

[2019-07-06 12:42] jscaravilli commented on #34566
The following query seems to work as expected.

[code]

![image](https://user-images.githubusercontent.com/45171299/60756300-9f33fe00-9fc1-11e9-819a-35aae686e324.png)

[2019-07-06 13:13] jordanrgsd opened #34633 "ps script gets stuck when tring to update vmss"
[ i am using this doc to create vmss and deploy sample application, however when updating vmss , ps sript gets stuck or gives error- long running script.

am copy pasting exact commands, also am beginner and trying to learn.

kindly help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82c3c9d7-8a0c-b803-c62c-b860012fa0f

[2019-07-06 14:30] ignacioPastor commented on #34098
Thank you @AmirGeorge, you were right. I'm going to explain here the which was my error in case someone else faces the same problem.

The issue was that my LUIS authorization key was for one location, while my cognitive services subscription was using other location. It happens that an authorization key is bound to a region, and it fails if you try to use other location endpoints.
The `-o` flag on

[2019-07-06 16:48] DixitArora-MSFT commented on #34633
Hi @jordanrgsd Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-06 16:50] mlearned commented on #34520
Reviewing..

[2019-07-06 17:13] terrimorton commented on #27485
We are simulating a disaster recovery and attempting to restore a Point in Time backup to a new server.

As stated, there is no explanation of the lock icon next to Target Server.  It states elsewhere in the docs that recovery to a different server is possible, but there is no explanation on how to do so.

[2019-07-06 17:14] mike-urnun-msft commented on #34610
Thanks for the link, @dwojcik57! We have assigned one of our engineers to take a closer look & assist you further.

[2019-07-06 18:02] Dhivyanshup opened #34636 "dvisionvijonviparmhansvidvdivion"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-07-06 18:03] Dhivyanshup commented on #34636
All sat for soin feeding
![image_1557802217907](https://user-images.githubusercontent.com/45223414/60759657-7ace3500-a046-11e9-96c5-f88c9b8fc581.png)

[2019-07-06 18:06] Dhivyanshup commented on #34636
All world sat to safity development
![image_1557802217907](https://user-images.githubusercontent.com/45223414/60759679-d993ae80-a046-11e9-8ab6-9a5db92b0ee9.png)

[2019-07-06 18:06] #34636 closed

[2019-07-06 18:22] keithgutfreund opened #34638 "Invalid JSON - extra commas"
The JSON fragment below is invalid due to commas after "96.99", "}", and "150.99"
      "BaseRate": 96.99,
    },
    {
      "Description": "Deluxe Room, 2 Double Beds (City View)",
      "Type": "Deluxe Room",
      "BaseRate": 150.99,
    },

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eabe2975-9ff9-12cb-0a19-c285

[2019-07-06 19:19] ugurgokdere opened #34640 "Prerequisite fails due to non-availability of size in region"
I guess this is a potential configuration issue but needs to be checked regularly as the script is given in "Try it" quotes rather then a regular text.

I also would like to tell that size Standard_DS1_v2 seems default value per Azure CLI -correct me if I am wrong- we can keep our script less scary.

ugur@Azure:~$ az vm create --resource-group IoTEdgeResources --name EdgeVM --image microsoft_iot_e

[2019-07-06 19:24] AjayKumar-MSFT commented on #34440
@anbuivan, Since we have not heard back from you we will now proceed to close this thread. Kindly follow-up with more details on the scenario and the issue you're experiencing. Please tag me in your reply, we will gladly continue the discussion.

[2019-07-06 19:24] #34440 closed

[2019-07-06 19:28] AjayKumar-MSFT commented on #34570
@jame10103er, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue with the requested (doc and scenario) information.

[2019-07-06 19:50] AjayKumar-MSFT commented on #34610
@dwojcik57,  It looks like the dependencies are missing, kindly ensure that the Maven plugin is configured correctly. Just to isolate, check to see if the app works fine locally.
A deployment issue is an issue that causes the wrong set of files to get deployed to your site folder (typically site\wwwroot), or that causes some files not to get deployed at all.

A runtime issue happens when the files

[2019-07-06 20:47] mike-urnun-msft commented on #34562
@JamesFenton Thanks again for sharing your feedback! You can certainly use one of the other depending on whichever one suits better for your unique requirements and ensuing implementation. While `HttpRequest` [API](https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequest?view=netframework-4.8&viewFallbackFrom=netcore-2.2) provides more properties & granular info about the request directl

[2019-07-06 20:53] dkamstra opened #34642 "Microsoft Graph Permissions section doesn't exist in the current Azure Portal"
The doc references 'Microsoft Graph Permissions section.' I believe it should be 'API permissions' instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ac43307-75d4-cb6f-e561-0dd9008f28c6
* Version Independent ID: 8fc47e76-5ee1-6aeb-73e2-c64c44e3e4ed
* Content: [Microsoft identity platform scopes, permissions, and

[2019-07-06 21:41] damienestewart opened #34643 "PartitionKeyRange AltLink"
It seems that PartitionKeyRange's AltLink property is always null. The [REST API documentation](https://docs.microsoft.com/en-us/rest/api/cosmos-db/get-partition-key-ranges#example) shows that the a PartitionKeyRange result does not actuall have an AltLink property set. Can this be added to the [documentation for PartitionKeyRange](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.docume

[2019-07-06 22:00] #34115 closed

[2019-07-06 22:45] ShawnPOWER opened #34648 "No static IP available during cluster creation"
At this step in the process: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-tutorial#set-the-windows-server-failover-cluster-ip-address

Because my Azure VM only has DHCP on the NIC connected to my VM. The cluster resource was made as a "Distributed Server Name" and has no option for Static IP. From my research it seems yo

[2019-07-06 22:48] ShawnPOWER commented on #34648
To add onto this, if the Static IP isn't setup for the failover cluster it is difficult to complete step entitled "Add the cluster core IP address for the Windows Server Failover Cluster (WSFC)" and also complete this step "If necessary, repeat the steps above to set the cluster parameters for the WSFC cluster IP address.". It would be great to have those sections of the document updated also to r

[2019-07-06 23:01] dkamstra opened #34649 "Don't you need to add a 'Scope?'"
In steps 1.8..1.9 don't you need to add a Scope? If you follow these instructions as-is Step 3.4 doesn't work. The backend service's App doesn't appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d91e987-b3aa-d12b-6400-5f477e827202
* Version Independent ID: e0efa72d-1e7c-b2d2-4ad9-ad51334e3da6
* Content: [Build a

[2019-07-06 23:35] petr-stupka commented on #28451
save your block-script to file and reference the file. tested on automation account sandbox.

[2019-07-06 23:50] mike-urnun-msft commented on #34638
Hi @keithgutfreund - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 23:52] mike-urnun-msft commented on #34640
Hi @ugurgokdere - Thank you for your feedback! We will review and update as appropriate.

[2019-07-06 23:53] mike-urnun-msft commented on #34642
Hi @dkamstra - Thank you for your feedback! We will review and update as appropriate.

[2019-07-07 00:07] mike-urnun-msft commented on #34643
Hi @damienestewart - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-07 00:09] mike-urnun-msft commented on #34648
Hi @ShawnPOWER - Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-07-07 00:11] mike-urnun-msft commented on #34649
Hi @dkamstra - Thank you for your feedback! We will review and update as appropriate.

[2019-07-07 02:15] RyanHill-MSFT commented on #34638
Thanks for the feedback @keithgutfreund. There's a pending PR that will address this issue.

[2019-07-07 02:15] #34638 closed

[2019-07-07 02:30] tmbalun17 commented on #30853
I had the same exact problem I am hoping it does not have to be so as I have to keep a readme of what needs to be done for new deployments and then check-in code with isUpdate : true in the source code based on the blog link above for CI CD to keep running.

[2019-07-07 03:33] Mike-Ubezzi-MSFT commented on #34555
I will investigate this but can you please detail how you are accessing your Azure SQL Database via SSMS? Did you establish an Azure Active Directory Admin for this same Azure SQL Database instance, and are you using this account in your scenario? If not, what user is being leveraged to access the database instance via SSMS?

Please be as detailed as possible so that I gain a clear understanding o

[2019-07-07 05:14] MarileeTurscak-MSFT commented on #34487
@Sang-ShinLEE since I have not heard back from you I will proceed to close this thread. Feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-07-07 05:14] #34487 closed

[2019-07-07 05:57] chrisbasoglu commented on #33343
done

[2019-07-07 08:00] KetanChawda-MSFT commented on #34404
@leus Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums- MSDN / Stackoverflow Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2019-07-07 08:00] #34404 closed

[2019-07-07 08:27] JamesFenton commented on #34562
@mike-urnun-msft Thanks for the feedback. My suggestion is to include `HttpRequestMessage` in the "Trigger - usage" section to help others learn that they can use it as well. The [Azure Blob Storage triggers](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob#input---usage) has a useful list of possible objects you can use. It would be helpful to see something l

[2019-07-07 08:33] prashanthmadi opened #34650 ".jar file deploy for java SE via zip deploy will extract files"
[code]

.jar file deploy for java SE via zip deploy will extract files. while the startup script doesn't seem to be interested in non-jar files. refer init script below

https://github.com/Azure-App-Service/java/blob/dev/shared/init_container.sh#L144

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80721d46-351f-8643-743

[2019-07-07 11:29] monhaber commented on #33672
@shashishailaj can you please assign this to @monhaber . thanks

[2019-07-07 11:30] monhaber commented on #32615
@SaurabhSharma-MSFT can you please assign this to @monhaber

[2019-07-07 11:31] monhaber commented on #32591
@ManojReddy-MSFT can you please assign this to @monhaber

[2019-07-07 11:32] monhaber commented on #32474
@shashishailaj can you please assign this to @monhaber

[2019-07-07 11:37] monhaber commented on #29229
@SaurabhSharma-MSFT please assign to @monhaber

[2019-07-07 11:38] monhaber commented on #28186
@neeleshray please assign to @monhaber

[2019-07-07 11:39] monhaber commented on #28277
@shashishailaj please assign to @monhaber

[2019-07-07 12:48] StefH commented on #32962
I'm currently using this code:
[code]

[2019-07-07 14:04] RohitMungi-MSFT commented on #34516
@nssidhu We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-07 14:05] #34516 closed

[2019-07-07 14:07] RohitMungi-MSFT commented on #34472
@jimar Thanks for pointing this out. This change is now updated in the documentation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-07 14:07] #34472 closed

[2019-07-07 14:09] rkarlin commented on #29870
Sorry this took me so long - we have this documented here: https://docs.microsoft.com/azure/security-center/security-center-provide-security-contact-details and is set per subscription. Please let me know if you have any additional questions. Thanks.

[2019-07-07 14:09] rkarlin commented on #29870
#please-close

[2019-07-07 14:09] #29870 closed

[2019-07-07 14:30] pmrzygweb commented on #34048
When it will be updated? It has been already passed 2 weeks

[2019-07-07 14:35] jnprakash commented on #34374
Here.

[image: image.png]

On Fri, Jul 5, 2019 at 2:34 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

--
Thanks and Regards
Jay

[2019-07-07 15:08] bahramhaddadi commented on #21520
I am getting disallowed_useragent for google. is there any workaround?

[2019-07-07 15:48] darrelmiller opened #34651 "New-SelfSignedCertificate is not currently available on Powershell 6"
It might be worth mentioning that New-SelfSignedCertificate is not available for PS6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6329b3a8-32d6-c327-d3bc-2f6805d22ec8
* Version Independent ID: a3fcf4d5-fb74-6f38-97f6-80dfafa66e06
* Content: [Create identity for Azure app with PowerShell](https://docs.microsoft.com/e

[2019-07-07 16:42] AjayKumar-MSFT commented on #34540
@bilalawwad, Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@Juliako) for further review on the code/doc section.
![image](https://user-images.githubusercontent.com/44606227/60771187-b1b55100-a101-11e9-9ad8-5ea25e95a46c.png)
In the interim, kindly take a look at this [sample ](https://github.com/Azure-Samples/media-services-v3-dotnet-core-tutorials

[2019-07-07 16:46] AjayKumar-MSFT commented on #34570
@jame10103er, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-07 16:46] #34570 closed

[2019-07-07 16:59] prashanthmadi commented on #34650
we should add some more details on adding custom startup script via
[code]

[2019-07-07 17:38] mike-urnun-msft commented on #34650
Hi @prashanthmadi - Thank you for your feedback! We will review and update as appropriate.

[2019-07-07 17:39] mike-urnun-msft commented on #34651
Hi @darrelmiller - Thank you for your feedback! We will review and update as appropriate.

[2019-07-07 17:41] markjbrown commented on #32328
We will have full support for this in our v3 SDK which should reach GA in the next few weeks.

Thanks.

[2019-07-07 17:43] markjbrown commented on #34185
@ytsymbaliuk. If you make any non-default changes to your indexing policy, they will be reflected in the portal.

thanks.

[2019-07-07 18:34] ggailey777 commented on #34048
@pmrzygweb  We are working on updates now... sorry for the delay and thanks for your patience.

[2019-07-07 20:21] veyalla commented on #34589
@alexcpn Installing into a pre-existing namespace is not yet possible, but we're adding this capability in a future release.

[2019-07-07 21:23] #34011 closed

[2019-07-07 22:15] realbart opened #34655 "Root domains: http(s)://contoso.com"
This page should explicitly mention where to find information about mapping a root domain (https://contoso.com/ instead of https://www.contoso.com) as CNAME records only work for sub domains.

*edit*
There is a link, but it points to a page that doesn't contain the promised information.
The page "use Azure CDN with custom domains" doesn't seem to exist.

---
#### Document Details

⚠ *Do not edit t

[2019-07-07 22:22] realbart commented on #34655
The link "use Azure CDN with custom domains" points to "Use Azure CDN to access blobs by using custom domains over HTTPS.", so that's why I kept clicking around in circles :-)

[2019-07-07 23:28] michaelhambe commented on #34517
Hi Daniel,

Thanks for the reply,
I've actually raised a support request for this issue, and have a meeting Tuesday morning AEST with the product team to discuss.
The issue number is 119070423001070, and Jackie (copied here) has been helping.

Thanks
Mike

Michael Hambe
Data Scientist

The Weir Group PLC
1 Marden Street
Artarmon, NSW 2164
Australia

T +61 2 8081 7452
M +61 437 936 604
michael.hamb

[2019-07-08 00:01] MitchellNZ commented on #21850
@axelgMS Unfortunately I didn't save a copy of the full error message Azure was giving me on creation, and I have given up on this for now. However, I did manage to find this line in the logs:

Another recurring error I see in the logs is:

To generalize the VM I clicked the Capture button on the Azure portal. This had a warning that told me to first run `sudo waagent -deprovision+user` to prepare

[2019-07-08 00:48] vsjvs opened #34657 "Add another solution for Web App using VNet/Subnet"
Would it be possible to get another solution added for connecting a Web App to a database using the Virtual Networks option.
Currently trying to get a Web App to connect using the Azure Backbone and want the database firewall to be set to:
Allow access to Azure services: Off
Allowed IPs: none
Virtual Networks: my-webapp-subnet (sql endpoint enabled)

The Web App won't connect to the database, App

[2019-07-08 01:16] dcbrown16 opened #34658 "DaaS WebJob"
Can this page include some information on the DaaS WebJob that seems to be linked to this feature? It starts running at least when you prepare to take a memory dump, but more info about what it does and when it shows up would be useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8426b2-dbe5-9a46-4045-55cc26806641

[2019-07-08 01:22] mike-urnun-msft commented on #33894
Hey @brettcannon - Thanks again for sharing your feedback and helping us drive improvements towards MS Docs! We've created a PR that addresses this issue per your feedback, and upon approval & merge, the changes should reflect within the 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussio

[2019-07-08 01:22] #33894 closed

[2019-07-08 01:22] mike-urnun-msft commented on #33895
Hey @brettcannon - Thanks again for sharing your feedback and helping us drive improvements towards MS Docs! We've created a PR that addresses this issue per your feedback, and upon approval & merge, the changes should reflect within the 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussio

[2019-07-08 01:22] #33895 closed

[2019-07-08 01:22] mike-urnun-msft commented on #33896
Hey @brettcannon - Thanks again for sharing your feedback and helping us drive improvements towards MS Docs! We've created a PR that addresses this issue per your feedback, and upon approval & merge, the changes should reflect within the 24hrs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussio

[2019-07-08 01:22] #33896 closed

[2019-07-08 01:38] mike-urnun-msft commented on #34655
Hi @realbart - Thank you for your feedback! We will review and update as appropriate.

[2019-07-08 01:40] mike-urnun-msft commented on #34657
Hi @vsjvs - Thank you for your feedback! We will review and update as appropriate.

[2019-07-08 01:42] mike-urnun-msft commented on #34658
Hi @dcbrown16 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-08 02:00] zhalu commented on #34580
Thanks a lot for the clarifications! I'm still not clear, in previous steps, CNAME is only configured for `cdnverify.www.contoso.com`, how can it work if we enter URL `http://cdn.contoso.com/my-public-container/my-file.jpg` in Verify the custom domain step?

[2019-07-08 02:25] PramodValavala-MSFT commented on #34344
@larryeby Glad we could help!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 02:25] #34344 closed

[2019-07-08 02:42] AshokPeddakotla-MSFT commented on #34431
@julianparismorgan Please check this issue and provide your insights.

[2019-07-08 02:55] rollercoasterdigital opened #34662 "Cannot renew certificate"
When attempting to renew an existing certificate, I cannot save changes. After uploading a new certificate and providing the password, the "Save" button is greyed out. Any navigation away from the page discards the changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97d342da-1086-5136-71d7-445bef390373
* Version In

[2019-07-08 03:20] KalyanChanumolu-MSFT commented on #34332
@joselw-ms I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

[2019-07-08 03:20] #34332 closed

[2019-07-08 03:31] SnehaAgrawal-MSFT commented on #34535
@ArthurEzenwanne Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-07-08 03:40] paulbouwer commented on #34190
@roymeforever, @Karishma-Tiwari-MSFT

I thought I had added `$env:PATH=$PATH` previously to ensure you didn't need to restart your shell ...

@roymeforever - thanks for catching this. The updated solution would be to replace the following section:

[code]

with the following:

[code]

The new section will add the updated PATH permanently for the user, AND will update PATH in the current shell.

I'

[2019-07-08 03:54] noamo48 opened #34663 "No issues..."
Just want to say keep up the great work! You guys rock and your documentation is VERY appreciated!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9befee3d-2d6b-4f48-dd2f-db1f6a0af383
* Version Independent ID: 8e44b3be-0f8d-c954-bb79-dbaca15da5c7
* Content: [Troubleshoot Azure point-to-site connection problems](https://

[2019-07-08 03:56] antgonmir opened #34664 "Selecting "Resource specific" programmatically"
Can the document be updated to reflect how to select "Resource specific" when setting Diagnostic settings programmatically (Azure CLI, PowerShell, etc.)? "Azure diagnostics" is being set by default for resources that support both options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9de91305-0620-591b-a706-9e748905c8

[2019-07-08 04:04] CHEEKATLAPRADEEP-MSFT commented on #34489
@ShubhaVijayasarathy Could you please look into this issue?

[2019-07-08 04:07] alexcpn commented on #34589
Thanks; (is it possible to say what would be the approximate timeline )

[2019-07-08 04:20] SumanthMarigowda-MSFT commented on #34357
@DmitWe will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 04:20] #34357 closed

[2019-07-08 04:24] dcaddick commented on #33936
Damn - just hit this same roadblock - can we have an update ASAP please?
Given the title & the level of detail in this Tutorial I'm really surprised that this has come up...?

Thanks to @andikrueger for spotting it.
Are there any workarounds to this?

[2019-07-08 04:35] middiu opened #34666 "Multiple App Proxy Connectors in one server"
Would be possible to install/deploy multiple App Proxy Connectors instances in one single server?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55f46e2c-47f2-51d5-7149-b66832993971
* Version Independent ID: 3dade80a-3064-50c2-dcd6-a4240bb89b82
* Content: [Understand Azure AD Application Proxy connectors](https

[2019-07-08 04:58] YutongTie-MSFT commented on #34386
@csteegz Hi Colin, could you please help to check the function and update the document? Thank you.

[2019-07-08 04:59] YutongTie-MSFT commented on #34393
@thecpshah We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-08 04:59] #34393 closed

[2019-07-08 05:00] YutongTie-MSFT commented on #34403
@FerOsorio It has been fixed ^^
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-08 05:00] #34403 closed

[2019-07-08 05:02] YutongTie-MSFT commented on #34558
@nacharya1 Hi, could you please help to check this feedback and update the document as necessary? Thank you very much.

@sqlshep Hi Shep, I have assigned the doc author to check your feedback and update the document properly. Thank you for your feedback again ^^

[2019-07-08 05:05] dcbrown16 opened #34667 "Outbound network connectivity requirements for other resources within the Vnet"
Do the restrictions like the CAPTCHA, SMTP relay and Diagnostics endpoints also apply to things like VMs in other subnets that might access an API Management instance placed within a Vnet?
In other words, what are the network requirements not for the APIM subnet itself, but for other subnets that want to access the developer portal, Azure portal, or other APIM endpoints when it is within a Vnet?

[2019-07-08 05:06] #34585 closed

[2019-07-08 05:11] ManojReddy-MSFT commented on #34065
@YassineSOUABNI Sorry for the delay in getting back to you. No, it should not have any impact as long as you perform the cleanup.

However, it is recommended to perform the cleanup before the device gets in to a dual state.

[2019-07-08 05:25] #34433 closed

[2019-07-08 05:28] YASWANTHM-MSFT commented on #34655
@realbart, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-07-08 05:32] SadiqhAhmed-MSFT commented on #34585
@wumingcp Is this issue resolved. Are you able to see the dashboard?

[2019-07-08 05:34] DixitArora-MSFT commented on #34632
@atul1234anand Just following up again in case missed the previous communication.

[2019-07-08 05:39] DixitArora-MSFT commented on #34453
@boltlol Thanks for the update . Yes it was there before :)

[2019-07-08 05:39] #34453 closed

[2019-07-08 05:42] DixitArora-MSFT commented on #34464
@acheung123  It would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) which is been looked by Azure Function Product team for any such issues.

[2019-07-08 05:42] #34464 closed

[2019-07-08 05:46] jakaruna-MSFT commented on #34353
@dcbrown16 We will wait for the product team to direct the author to update when that feature is ready.
I will close this issue for now.

@MikeRayMSFT  Please add this to your work item.

[2019-07-08 05:46] #34353 closed

[2019-07-08 05:47] MarileeTurscak-MSFT commented on #34374
The image doesn't show. Can you please post in markdown or email me at AzCommunity@microsoft.com for further troubleshooting?

[2019-07-08 05:55] axelgMS commented on #21850
Here are the generic steps to correctly generalize a Linux image:
[https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-generic](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-generic)
and you'll find other doc for each specific distro.

Your error has its [source code here](https://github.com/Azure/WALinuxAgent/blob/ce58412bc50cee1d066bd01f0e52a

[2019-07-08 05:55] KranthiPakala-MSFT commented on #34391
@Minewiskan Thank you for confirmation.

@vladichernov At this time we were able to download the correct MSI's with the links provided in the document.

We will now proceed to close this thread as we haven't heard from you. If there are any further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 05:55] #34391 closed

[2019-07-08 05:56] ManojReddy-MSFT commented on #34666
@middiu It is not possible to install more than one app proxy connector on a single server.

It would defeat the purpose of high availability and load balancing. Is there any specific reason why you would want to do this?

[2019-07-08 06:02] middiu commented on #34666
@ManojReddy-MSFT in our scenario we need to expose the same on-prem application to multiple entities, each of them with a different Azure AD Tenant.
Instead of having 2 servers per company, we could have 2 big servers with a proxy connector instance running for each company.

Having 2 big servers is cheaper than having 8 medium-size servers ( 2 x 4 for example).

Thanks for your response.

[2019-07-08 06:08] caiyiJu commented on #32070
Is there a workaround? This issue still exists.

[2019-07-08 06:11] rkarlin commented on #34183
@ManojReddy-MSFT please assign  to @monhaber

[2019-07-08 06:22] ManojReddy-MSFT commented on #34666
@middiu I am afraid it's not possible and would not help much in terms of load balancing. If the load can be managed by one big server, it would be better to have two medium servers per tenant. You can check this [doc ](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-connectors#capacity-planning)to do the capacity planning.

I would recommend planning in such

[2019-07-08 06:22] DixitArora-MSFT commented on #34667
Hi @dcbrown16 Thank you for your feedback! We will review and provide an update as appropriate.

[2019-07-08 06:23] SadiqhAhmed-MSFT commented on #34664
@antgonmir Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-07-08 06:24] SubhashVasarapu-MSFT commented on #34662
@rollercoasterdigital, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-07-08 06:24] CHEEKATLAPRADEEP-MSFT commented on #34576
@juneym0730 Could you please provide more details on "Replace hive with a local build version"?

[2019-07-08 06:26] #28859 closed

[2019-07-08 06:34] SnehaAgrawal-MSFT commented on #34549
@mapoitras Thanks again for asking Question! You may refer to this [doc.](https://azure.github.io/AppService/2018/05/07/Multi-container-Linux-Web-App.html)

[2019-07-08 06:35] ChiragMishra-MSFT commented on #34443
@vishalaj1 I will now proceed to close the issue. Please feel free still to comment and tag me if you want any further clarification.

[2019-07-08 06:37] matjazmav commented on #34555
@Mike-Ubezzi-MSFT We configured just firewall and set AAD admin for Azure SQL Server. Then we can simply connect with SSMS providing AAD login, then browser popup opens asking for password and that is it (user is not prompt for consent to allow access to any specific Azure resource).

We also can login with users added afterwards like this:
[code]

It also work for guest AAD users, but you have to

[2019-07-08 06:49] ondrejspilka commented on #24335
Hi, sorry not replying...I believe everything needed is in the doc above and eventually in the issue description.

[2019-07-08 06:53] jakaruna-MSFT commented on #34470
@andybouts Adding a shutdown schedule is not possible with Azure cli directly.
Workarounds:
As discussed in the earlier comment, we can create a ARM template and then user that template in CLI with parameters to deploy.
We can also use a separate automation account ans schedule the shutdown for VMS. But this approach needs more effort than the first option.

[2019-07-08 06:58] vishalaj1 commented on #34443
Hi,

Thanks for your feedback.

I think i realised the issue here:

Case when it works:

When the Data Set is not provided any Modified Start Date and End Date.

There are two things seems to be incorrect(unless it is expected behaviour):

1. We have main folder A modified date is 20190121
It has following :

".ssh" - Modified - 20190117
 "data" - Modified - 20190118
"LogFiles", - Modified - 20190

[2019-07-08 07:02] PramodValavala-MSFT commented on #34409
@dirthsj Apologies for not getting back sooner.

Thanks for working on the PR but I believe `addToGroup` function is intended to be used a management system / user for adding users to a group with the `userId` passed in as a query parameter (as in the [JS sample](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service#2x-javascript-group-management-output-examples

[2019-07-08 07:03] BhargaviAnnadevara-MSFT commented on #34469
@cijothomas Thanks for the clarification!

@Gutek Just following up if you have any additional inputs related to the details @cijothomas requested. Also, please check out our document that explains the [Application Insights data model for request telemetry](https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-model-request-telemetry) for more details on how request data is usually handled

[2019-07-08 07:07] jakaruna-MSFT commented on #34455
For uaenorth, max fault domain count is 2.

@cynthn can we add that missing region to the Doc?

[2019-07-08 07:10] jakaruna-MSFT commented on #34480
@denhsu Infinite loop possibility is there. Lets look for a way to stop it.

[2019-07-08 07:12] YASWANTHM-MSFT commented on #34611
@vinapp, Thanks for the feedback! I have assigned the issue to the content author.

[2019-07-08 07:17] jakaruna-MSFT commented on #34534
@gionapaolini I will check with the team about the GPU sharing in AKS and update you.

Access to the master node is restricted. Users cant login to master.  If you decide to run your own cluster in Azure VM's, Then using the [AKS-engine](https://github.com/Azure/aks-engine) (Upstream for AKS) will be appropriate.

Creating a cluster with aks-engine wont show up in portal as a managed service. But

[2019-07-08 07:20] jakaruna-MSFT commented on #34534
@zr-msft please provide your inputs

[2019-07-08 07:20] vishalaj1 commented on #34443
Hi,

I did not understand, how this is closed?

Regards,
Vishal

[2019-07-08 07:25] vishalaj1 commented on #34443
@ChiragMishra-MSFT

I did not understand how this is closed?

Can you confirm if this does not work with Modified Start and End Date?

If yes, it is much better if the document clearly mentions that.

Regards,
Vishal

[2019-07-08 07:27] Lbhagi commented on #13828
I had the same problem too. Followed below steps.
1. changed the target framework to 4.6.1 and reinstalled all packages.
2. Upgrading to WebJobs 2.2.0.

[2019-07-08 07:31] AjayKumar-MSFT commented on #34451
@iamarno, Apologies for the delay in responding! Typically, the WEBSITES_PORT works and yes as stated in the doc, we’re planning to deprecate ‘PORT’ app setting and to use ‘WEBSITES_PORT’ exclusively. To understand how exactly you’re testing the App setting for port and get more clarity on the scenario/issue you’re experiencing, could you please send an email to AzCommunity[at]Microsoft[dot]com re

[2019-07-08 07:32] SumanthMarigowda-MSFT commented on #34277
@kazshi  Apologies for the delay! You are correct, presently it's not available. I would recommend you to leave your feedback. All the feedback you share in these forums will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will

[2019-07-08 07:32] #34277 closed

[2019-07-08 07:34] AjayKumar-MSFT commented on #34610
@dwojcik57, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2019-07-08 07:34] #34610 closed

[2019-07-08 07:35] makhoutdlw opened #34669 "Directly logging to application insights is possible"
The docs state the following:

"Before you can use Application Insights with your mobile app, you need to onboard your app to App Center. Application Insights does not receive telemetry from your mobile app directly. Instead, your app sends custom event telemetry to App Center. Then, App Center continuously exports copies of these custom events into Application Insights as the events are received.

[2019-07-08 07:37] YASWANTHM-MSFT commented on #34519
@lettucebo, Could you try copying the managed disk to the storage account using the below power shell script and let us know the status.
`
Login-AzureRmAccount

#Source Subscription
Select-AzureRmSubscription -SubscriptionId 'your suscription id’
$sas = Grant-AzureRmDiskAccess -ResourceGroupName "your resource group name" -DiskName "your managed disk name" -DurationInSecond 3600 -Access Read

$des

[2019-07-08 07:37] kazshi opened #34670 "Inbound/Outbound data transfers"
I would like to make sure the Inbound/Outbound data transfers in the following page is only applicable to v1, not applicable to v2, correct?

Application Gateway Pricing | Microsoft Azure
https://azure.microsoft.com/en-us/pricing/details/application-gateway/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faa5b8a2-11a1-

[2019-07-08 07:38] csiebler commented on #33526
+1, it would be really helpful if multi-turn would come out of the box - qnamaker is all about simplicity and not having to deploy any code :)

[2019-07-08 07:40] kazshi commented on #34277
@SumanthMarigowda-MSFT Thanks for your clarification!

[2019-07-08 07:43] AshokPeddakotla-MSFT commented on #34430
@forester123 I haven't found a way to include this connection string in the portal. AFAIK, this connection string is used in the SDK.
@robinsh Please provide your insights on this. It would be great if we can add more details on the documentation.

[2019-07-08 07:50] gbbiotwesouth commented on #33573
@obrookstein: messages(telemetry) to Digital Twin need to be send as a sensor value, therefore when sending messages from a device, you need to send it as a sensor. Which means that you create a sensor in digital twin that reflects that measurement (f.i. temperature, pressure, or maybe cpu utilization) and connect it to your digital twin device. And then let the device send the measurement using t

[2019-07-08 08:02] jordanrgsd commented on #34633
New-AzVmss `
-ResourceGroupName "myResourceGroup" `
-VMScaleSetName "myScaleSet" `
-Location "EastUS" `
-VirtualNetworkName "myVnet" `
-SubnetName "mySubnet" `
-PublicIpAddressName "myPublicIPAddress" `
-LoadBalancerName "myLoadBalancer" `
-UpgradePolicyMode "Automatic

$customConfig = @{
"fileUris" = (,"https://raw.githubusercontent.com/Azure-Samples/compute-automationconfigurations/
master/autom

[2019-07-08 08:19] Elfocrash commented on #32328
@markjbrown Is that something that won't be added in the v2? Feels like a major feature and since the single partition skip and take was added I think it would be great to have it in v2 as well.

[2019-07-08 08:24] WayneYangsa commented on #10646
Please open this issue as we need fix multiple issues in this diagram! Especially it should be validate access_token in the Web API, NOT validate id_token!!!

[2019-07-08 08:24] qhaitoNNV opened #34672 "No pricing plan for Legacy SKU on Virtual Network Gateway"
- Azure Virtual Network Gateway
- https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/
- The pricing page just gives the pricing for the Basic from the Legacy SKU. There is no pricing for Standard or High Performance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45d7ab31-fdf3-9b0f-1439-6a01fb257aab
* Versio

[2019-07-08 08:29] WayneYangsa opened #34673 "Let's fix multiple issues in this protocol diagram: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#protocol-diagram-access-token-acquisition"
1. It should be "id_token", not "id-token".
2. It should be "access_token" not "access token".
3. The most important thing is that it should be "validate access_token" on the Web API, NOT "validate id_token".

May I know if you guys can see this diagram or NOT? Or, Do the diagram maker understand OIDC protocol??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-07-08 08:30] KalyanChanumolu-MSFT commented on #34229
@jctbak on the Azure portal, the query details are grouped by the hour.
If you need more granular results, please use [Azure SQL Analytics](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/azure-sql)

You can then use Log Analytics to query the QueryStoreRuntimeStatistics as per your need.

[code]

[2019-07-08 08:30] obrookstein commented on #33573
Thanks @gbbiotwesouth - We have figured this out already, but thanks for the detailed answer!

[2019-07-08 08:38] SubhashVasarapu-MSFT commented on #34663
@noamo48, Thanks for your feedback on Azure docs.  If you have any additional feedback or questions about Azure products in the future, please don't hesitate to connect us. Have a wonderful day.

[2019-07-08 08:38] #34663 closed

[2019-07-08 08:42] anshulchopra opened #34675 "principal ID not explained"
Article says "These limits are scoped to the principal ID making the requests and the subscription ID or tenant ID. If your requests come from more than one principal ID, your limit across the subscription or tenant is greater than 12,000 and 1,200 per hour"

What is a principal ID in the above statement. Is it a security principal ?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-07-08 08:54] ram-msft commented on #34300
@eXXL Please add a --dc and also find the following [link ](https://github.com/MicrosoftDocs/pipelines-azureml/blob/master/deploymentconfig.json) for "deploymentconfig.json" to deploy model to ACI. I hope this helps

[2019-07-08 08:54] msvijayn commented on #32057
Query used in alert rule is dependent on the way logs are structured and stored in Azure Monitor; as highlighted by post earlier.

Closing issue.

[2019-07-08 08:54] msvijayn commented on #32057
#please-close

[2019-07-08 08:55] #32057 closed

[2019-07-08 08:55] AshokPeddakotla-MSFT commented on #34630
@rido-min I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-08 08:59] dominicbetts commented on #34398
Hi @kartben -thanks for pointing this out. I've made a change to the page that should be live later today.

[2019-07-08 08:59] dominicbetts commented on #34398
#please-close

[2019-07-08 08:59] #34398 closed

[2019-07-08 09:02] RohitMungi-MSFT commented on #34560
@sqlshep Thanks for pointing out the issue. The document change is now submitted and should be reflected in the next 24 hours.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 09:02] #34560 closed

[2019-07-08 09:03] Herman-Wu opened #34676 "The command [ az eventgrid event-subscription list --topic-type-name "Microsoft.Resources.Subscriptions" ] doesn't work with Azure CLI version 2.0.68"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac2421b3-1f74-87eb-4810-af1950d93c39
* Version Independent ID: 506699ae-f10b-ae1b-5d2a-9375b2490286
* Content: [Query Azure Event Grid subscriptions](https://docs.microsoft.com/en-us/azure/event-grid/query-event-subscriptions)
* Content Source: [artic

[2019-07-08 09:11] msrini-MSFT commented on #34580
@zhalu , Got it. Take a  look into the statement, "**if** your custom domain is **cdn.contoso.com**, the URL to the cached file should be similar to the following URL: http://cdn.contoso.com/my-public-container/my-file.jpg."

If it is cdn.contoso.com then the URL is  http://cdn.contoso.com/my-public-container/my-file.jpg. I agree that in the example it is www and here the subdomain is cdn. Will do

[2019-07-08 09:26] stepanbenes commented on #34124
Ok, thanks! It seems fine now.

[2019-07-08 09:26] KalyanChanumolu-MSFT commented on #34573
@codefactorydevelopment The old index also gets transformed to the new one.
Please check [this ](https://azure.microsoft.com/en-in/blog/update-your-documentdb-indexing-policies-online/)article for more details.

[2019-07-08 09:28] andikrueger commented on #33936
@dcaddick I followed this guide to complete my configuration: https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/78/files?short_path=7e2e024#diff-7e2e0246aa2eff018edca71dcf89c9e9

[2019-07-08 09:28] AjayKumar-MSFT commented on #34650
@Prashanthmadi, Thanks for your suggestions on adding additional details in the doc. Just to aid, you could contribute on the doc update with a Pull Request (PR) or encourage customer to raise a PR by following the steps below:

If you know the change that is needed in an article, submit the changes directly using a pull request:
1)	From the Azure Document where you wish to propose a change, click

[2019-07-08 09:32] genlin commented on #33524
@MsdnUsrSince1994 Thanks for the suggestion. Agreed that it is helpful to check if the Azure KMS IP is blocked by windows firewall in the first step. I will add this information into the article. Thanks for helping to improve the content.

[2019-07-08 09:38] jkrysicki opened #34677 "Cluster autostart when loading Power BI report"
Is there any option as in Azure Data Bricks to automatically start a cluster whenever there is a request from Power BI desktop to Get Data via DirectQuery?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cdd4f68-d0e1-7691-811c-642a2b9ee100
* Version Independent ID: 782f29b4-05ed-21eb-e5d1-24e8067d5059
* Content: [Tutor

[2019-07-08 09:39] ChiragMishra-MSFT commented on #34443
@vishalaj1 I had closed the issue expecting that the issue was resolved since there has been no response from you for 5 days.

The way it works is that in the dataset, you give the folder name (A in your case). There's an option to filter the contents (files and folders) based on the last modified date using a start date and end date. Hence, taking an example of your case :

If you have a folder n

[2019-07-08 09:42] johnthcall commented on #34521
@roygara Yes I am referring to that section of the script. The New-Partition does assign that letter and if you reboot one of the vmss instances it will come up with that same letter. However if a new vm image is applied to the scale set the new vm image no longer has the mapping and the drives (which were already formatted) will be mapped to the first available drive letters.

[2019-07-08 09:46] PramodValavala-MSFT commented on #34539
@sandeepmaurya Functions written in languages other than C# are run in separate processes termed as [Language Workers](https://github.com/Azure/azure-functions-host/wiki/Language-Extensibility). These communicate with the functions runtime via gRPC ([protobuf](https://github.com/Azure/azure-functions-language-worker-protobuf)) allowing for only serializable data to be passed between them.

With th

[2019-07-08 09:53] LeeHyeongWon commented on #33652
Hi i'm back

sorry, but we've used the method you've suggested, but the problem continues to arise.

In fact, only ML modules are stopped.

And can't restart.

I want you to come up with a different plan.

[2019-07-08 09:55] SubhashVasarapu-MSFT commented on #34170
@tafia, Appreciate your patience.strongswan-ikev2 was a transitional package that has been removed with 18.04. It caused strongswan-charon to get installed. The individual plugin packages were removed already with 17.10 and since 16.04 they were actually just aliases for libcharon/libstrongswan-extra-plugins. So if you need additional EAP authentication plugins to install the libcharon-extra-plugi

[2019-07-08 09:55] #34170 closed

[2019-07-08 09:56] #34300 closed

[2019-07-08 09:59] angoyal-msft commented on #33939
@axthosarouris We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-08 09:59] #33939 closed

[2019-07-08 10:00] jakaruna-MSFT commented on #34373
@cynthn if doc update is not planned for this issue, I can close this issue.

Please suggest

[2019-07-08 10:01] angoyal-msft commented on #34677
@jkrysicki
Thanks for your feedback. We are investigating this issue actively and will get back to you soon.

[2019-07-08 10:02] angoyal-msft commented on #34419
@ptuton
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-08 10:02] #34419 closed

[2019-07-08 10:06] Nirmal4G opened #34678 "Instructions on All Users installation on Windows"
Any cmdline option or instructions on how to install for all users on Windows.

ALSO:
Where can I find MSI or MSIX packages for Storage Explorer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 337c96d2-0b4f-ad70-bb7a-cf8d6736cc3c
* Version Independent ID: 09c7c658-16d1-04ac-6bb4-6aa5c1b529a6
* Content: [Get started wit

[2019-07-08 10:08] angoyal-msft commented on #34575
@slavizh I have assigned this issue to the content author to help you further on this issue.
@srdan-bozovic-msft Could you please look at this issue and update the document appropriately.

[2019-07-08 10:11] LeeHyeongWon commented on #33835
@sergaz-msft I'm sorry. It's too late.
Well, this is not a problem in the documents provided by Microsoft.

I think it's only about Edge Hub.

Because there's nothing wrong with the Edge Hub log, but the module log has the same message twice.

If you actually sent the same message twice, the Edge Hub log has two messages, no problem with the speed.

But now the situation is that I sent a message f

[2019-07-08 10:16] sandeepmaurya commented on #34539
Thanks Pramod. I think we will also be not able to use Filters.

[2019-07-08 10:33] SumanthMarigowda-MSFT commented on #34678
@Nirmal4G Thanks for your question. We are checking on this and will respond to you soon.

[2019-07-08 10:50] AmanGarg-MSFT commented on #34669
@makhoutdlw Thank you for you feedback! Appreciate your effort to continuously improve our documentation.

Can you please help us with some more information as follows:

1. You did not onboard your app to App Center. Is that correct?

2. Can you share a sample code that you have used to send telemetry directly into application insights from your mobile app?

3. Is the plugin capable of sending the

[2019-07-08 10:55] nicklasfrahm commented on #31195
Any update on this?

[2019-07-08 10:58] jnprakash commented on #34374
Attached.

On Mon, Jul 8, 2019 at 12:47 AM Marilee Turscak - MSFT <
notifications@github.com> wrote:

--
Thanks and Regards
Jay

[2019-07-08 11:01] loukotaj opened #34679 "User error"
I followed the tutorial exactly, and am not using my storage account incorrectly as some other users were reporting. However when I run the job I get a user error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d8c8b1a-3b61-1dde-c11c-69043a56dfef
* Version Independent ID: 9ad9804b-27c1-f1ea-2dd3-c20a4d9857fc
* Content

[2019-07-08 11:05] #30595 closed

[2019-07-08 11:05] #30600 closed

[2019-07-08 11:10] makhoutdlw commented on #34669
1. Correct
2. Sure

[code]

Then in my other files I can use it like so:
[code]

3.  I don't exactly what appcenter is capable of sending. But check out this docs, it looks pretty complete
https://github.com/microsoft/ApplicationInsights-JS/blob/master/API.md#addtelemetryinitializer

[2019-07-08 11:12] lettucebo commented on #34519
I try many times for
`$sas = Grant-AzureRmDiskAccess -ResourceGroupName "your resource group name" -DiskName "your managed disk name" -DurationInSecond 3600 -Access Read`

getting the below error

![image](https://user-images.githubusercontent.com/891383/60805893-13ce8e80-a1b4-11e9-8f73-51c8b05c0e58.png)

And use
`$sas = Grant-AzDiskAccess -ResourceGroupName $ResourceGroupName -DiskName $diskName

[2019-07-08 11:15] ChiragMishra-MSFT commented on #34679
@loukotaj Thanks for reporting this. Can you please share more details about the error including the complete error message and a screenshot if possible ? This would helps us diagnose the problem quicker.

[2019-07-08 11:17] SaurabhSharma-MSFT commented on #34400
@amitbapat do you have any idea on this ?

[2019-07-08 11:22] wukun2015 opened #34680 "Met internal server err"
Hi,

Today when i run the sample code in this page from eastasia region, frequently met below err:

StatusCode   = InternalServerError
ReasonPhrase = Internal Server Error
CreateVoiceSignatureByUsingBody()

StatusCode   = InternalServerError
ReasonPhrase = Internal Server Error
CreateVoiceSignatureByUsingFormData()

Previously running was not smooth either: No any response at all. Today is the fir

[2019-07-08 11:23] jakaruna-MSFT commented on #34457
@iRainbow5 Sorry for the delay.
Rotating the storage account keys doesn't affect the boot diagnostics.

I will check with the team for the required permission.
I think no permission is needed.

[2019-07-08 11:25] ram-msft commented on #34680
@wukun2015 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-07-08 11:26] aquibqureshi26 commented on #29695
Hi,

Any update on this

[2019-07-08 11:26] aquibqureshi26 commented on #29861
Any update?

[2019-07-08 12:08] loukotaj commented on #34679
errorCode 2312
Message spark job failed, batch Id:0
Failure type user error
Target Spark1

[2019-07-08 12:09] jakaruna-MSFT commented on #34546
@mrManner Thanks for reporting.

 @TomArcherMsft I created a PR. Please validate it

[2019-07-08 12:14] jakaruna-MSFT commented on #34547
@sixeyed
Can you set a password with the below constraints and let me know.
These requirements apply for the windows virtual machines.

- Password must have 3 of the following: 1 lower case character, 1 upper case character, 1 number, and 1 special character.
- The value must be between 12 and 72 characters long.

@asicoe I hope your password satisfied the above requirements. Let me know

[2019-07-08 12:17] jwargo commented on #34609
@GerryOnGithub thanks, we'll take a look at making this more clear.

[2019-07-08 12:19] biste5 commented on #28833
no way?

[2019-07-08 12:21] jakaruna-MSFT commented on #34633
@jordanrgsd You are right.
`-` is missing in the github url in the word `compute-automationconfigurations`.
That has to `compute-automation-configurations`.

Try with this updated url
`https://raw.githubusercontent.com/Azure-Samples/compute-automation-configurations/master/automate-iis.ps1`

Document has correct url.

[2019-07-08 12:27] jakaruna-MSFT commented on #34614
CC: @dlepow @MicahMcKittrick-MSFT

[2019-07-08 12:38] clisc commented on #34158
It would be nice if you gave me more than one day to respond, especially during a national holiday, before closing the ticket.

I don’t understand why the name would be invalid.  Seems like on a retry it did work, however, so perhaps the issue was just intermittent.

From: Mike Urnun <notifications@github.com>
Sent: Friday, July 5, 2019 11:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.git

[2019-07-08 12:41] clisc commented on #34211
I only see 3 prerequisites listed, and none of them mention Azure PowerShell.

It says you need and Azure Subscription, VS 2017, and .NET CORE SDK:

To complete this tutorial, make sure you have installed:
·         An Azure subscription. If you don't have an Azure subscription, create a free account<https://azure.microsoft.com/free/?ref=microsoft.com&utm_source=microsoft.com&utm_medium=docs&utm_c

[2019-07-08 12:48] axelgMS opened #34681 "Do we support Guest Agent in the nested VM ?"
We've noticed that if we install the Guest Agent in the nested VM, then that GA will inherit the settings from the hosting VM. This can lead to undesirable behavior.
Can we clarify if it's supported to install GA in the nested VM?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffa9c12-4fdc-118a-4e84-624cbcc3f4c

[2019-07-08 13:02] Sudharma commented on #30794
This does nto work anymore. Can you please update documentation
[code]

[2019-07-08 13:15] alvipeo opened #34682 "Using priority method - how and when does it start redirecting traffic to the higher priority backend when it's back online?"
So how does it decide and when to redirect back to the higher priority backend after it's down and back up again?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31f1dbc3-4bd2-7238-2f2e-8b31e72d4f7c
* Version Independent ID: 7528e36e-ab2e-4b40-f7a9-4dc92c279458
* Content: [Azure Front Door Service - traffic routing meth

[2019-07-08 13:31] talalakbar commented on #15123
Hi,
I am getting same error, tried all sorts of hacks but not working. Any advise experts !
[Starting] Install package - AZ3166...
Loading configuration...
Initializing packages...
Preparing boards...
java.lang.NullPointerException
	at processing.app.BaseNoGui.onBoardOrPortChange(BaseNoGui.java:679)
	at processing.app.Base.onBoardOrPortChange(Base.java:1312)
	at processing.app.Base.<init>(Base.jav

[2019-07-08 13:39] tristanbarcelon commented on #33048
Hi @KalyanChanumolu-MSFT and @Mike-Ubezzi-MSFT . Can we continue this debug process? I happened to be on vacation so did not see the replies. Based on the Powershell script I provided, it is using the [set up step](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#controlling-the-emulator) in the block. $EmulatorPSModulePath is assigned via:
[code]
and it contains the same value from

[2019-07-08 13:46] ArvindHarinder1 opened #34684 "Authorization failure"
Add a section on things to be aware of that calls out the need to enable API access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624be0a5-9ab6-ec59-e7a2-74585cb0571e
* Version Independent ID: a00a09c8-f0c5-2bfe-75aa-6183346af405
* Content: [Tutorial: Configure Salesforce for automatic user provisioning with Azure Ac

[2019-07-08 13:53] Todrik commented on #28273
I resolved this by switching off the "secure transfer required" on the storage account. This is apparently a requirement by Microsoft but this documentation does not state that. It should be updated shortly according to MS support.

[2019-07-08 13:54] PixelRobots commented on #33097
Any update?

[2019-07-08 13:56] GauravLad12 opened #34685 "Is Proxy is being replaced by Gateway? And what is the limit of total number of gateway in APIM (Premium) ?"
A few days Back I have checked the APIM and its on Premium version. But I am not able to add the Proxy but I see there is a new one called Gateway, And I am not able to add more than one Gateway in APIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02a5991-da24-06a2-0c24-d012d2e07399
* Version Independent ID: 64acd8

[2019-07-08 13:57] sebhe opened #34686 "Increased lockout for subsequent attempts"
You make the following statement about automatically increasing the lockout duration for subsequent attempts

By default, smart lockout locks the account from sign-in attempts for one minute after 10 failed attempts. The account locks again after each subsequent failed sign-in attempt, for one minute at first and longer in subsequent attempts.

Do you have some more details for how long you are in

[2019-07-08 14:02] JoeRistine commented on #33601
@TravisCragg-MSFT Now that billing has started for Application Gateway v2, I find that this article does not explain the pricing model well at all. The article gives the impression that capacity unit billing is consumption based, which is partly true. It fails to mention that 10 capacity units is the **minimum** amount that is billed **per instance**. Also, the minimum instance count allowed via t

[2019-07-08 14:07] codefactorydevelopment commented on #34573
@KalyanChanumolu-MSFT

thank you very much for the confirmation!

[2019-07-08 14:08] pbalzer opened #34687 "Why still the implicit flow?"
The Internet Engineering Task Force discourages the use of the Implicit Grant Flow (https://oauth.net/2/grant-types/implicit/). Why has it been chosen for the MSAL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
* Version Independent ID: 42c5b06a-81a7-97f7-a4cf-7ca77a30ec37
* Conten

[2019-07-08 14:12] KalyanChanumolu-MSFT commented on #34573
@codefactorydevelopment We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-07-08 14:12] #34573 closed

[2019-07-08 14:14] senseq commented on #30094
One solution is to use a docker container. The steps are outlined here: https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#_pulling_the_image

[2019-07-08 14:19] dirthsj commented on #34409
Could you provide an example of a client connecting to and adding himself to a group using this functionality?  I'm not certain how Azure SignalR would associate the ID with the client.  Your example appears to be assigning all clients the "some-string" UserId, which would not work too well for something which is supposed to be a unique identifier.

[2019-07-08 14:20] AshokPeddakotla-MSFT commented on #34640
@ugurgokdere  I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-07-08 14:25] ArvindHarinder1 opened #34688 "Language settings"
Call out additional steps needed on Salesforce side for the language settings - https://help.salesforce.com/articleView?id=setting_your_language.htm&type=5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 624be0a5-9ab6-ec59-e7a2-74585cb0571e
* Version Independent ID: a00a09c8-f0c5-2bfe-75aa-6183346af405
* Content: [Tutor

[2019-07-08 14:34] amitbapat commented on #34400
All authentication for Key Vault happens through AAD. You must register an application in AAD (Service principal) to connect to Key Vault from an application. If you plan to use Client ID and a certificate, you must first register that authentication method with AAD. Then you can use the cert auth method. Remember you’re still authenticating with AAD, but in this case using the Cert based auth met

[2019-07-08 14:43] piotrgwiazda opened #34689 "Load Balancer internal IP overlap with Pod IPs"
When using an internal load balancer with specified loadBalancerIP together with the Azure CNI plugin, there is a risk, that the expected Load Balancer IP will be "occupied" by a Pod already.
Isn't it a best practice to use separate "azure-load-balancer-internal-subnet" when using Azure CNI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-07-08 14:44] JohannesRudolph opened #34690 "Document features available in API version 2018-11-01-preview"
According to GET https://management.azure.com/providers/?api-version=2017-05-10 there's a new resource version for the createSubscription operation:  2018-11-01-preview. So far the docs only refer to 2018-03-01-preview

[code]

Can you update the documentation? How can I find out what has changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-07-08 14:47] KalyanChanumolu-MSFT commented on #34657
@vsjvs This issue is being assigned to the content author to evaluate and update as applicable.

[2019-07-08 14:50] Girishvtm commented on #34263
Hi Frank,

I tried the same but I am unable to see the the property 'MembershipRule" in the command New-AzureADMSgroup.

[2019-07-08 14:51] msmbaldwin commented on #33097
@pixelrobots: Windows Server 2019 is supported. We are updating the documentation to reflect this.

[2019-07-08 14:56] msmbaldwin commented on #26316
Hi, @jeremyhagan. This article has been replaced with a new quickstart: [Quickstart: Create and encrypt a Windows virtual machine in Azure with PowerShell](https://docs.microsoft.com/en-us/azure/security/azure-disk-encryption-windows-powershell-quickstart). We have also updated the VolumeType" parameter description on the [Set-AzVMDiskEncryptionExtension powershell reference page](https://docs.mic

[2019-07-08 14:57] sebhe opened #34691 "Errormessage looks different"
Hi,

in my tests the errormessage is looking different, if the password is blocked due to the custom list:
"Unfortunately, you can't use that password because it contains words or characters that have been blocked by your administrator. Please try again with a different password."

Can you update the documentation accordingly?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-07-08 14:58] msmbaldwin commented on #33470
Nice catch, @kumarallamraju. The errant slash has been removed -- thanks!  #please-close

[2019-07-08 14:58] #33470 closed

[2019-07-08 15:14] KrishnaG-MSFT commented on #34670
@kazshi Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 15:15] Jackson-Miller opened #34692 "NIST 800-63C FAL"
Is there any guidance that can be shared on how to configure the federations with AAD to achieve the different federation assertion levels levels 1-3?

https://pages.nist.gov/800-63-3/sp800-63c.html#fal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841d3d8bd3
* Version Independent ID: 20af5f8

[2019-07-08 15:16] shashishailaj commented on #34673
@WayneYangsa Thank you for bringing this to our notice. We will have our content authors to review this with engineering accordingly.

[2019-07-08 15:17] KrishnaG-MSFT commented on #34672
@qhaitoNNV Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 15:20] KrishnaG-MSFT commented on #34675
@anshulchopra Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 15:21] erhopf commented on #33343
#please-close

[2019-07-08 15:21] #33343 closed

[2019-07-08 15:23] andybouts commented on #34470
Hi Jakaruna, thanks for the suggestion, but this did not work.

Steps, I took:
1- create the RG via CLI
az group create --name SASESP --location eastus

2- create the VM via the CLI
az vm create \
  --resource-group SASESP \
  --name rhelLatest1 \
  --image RedHat:RHEL:7-RAW:latest \
  --custom-data cloud-init.txt \
  --size Standard_D4s_v3 \
  --vnet-name SASESPvNet \
  --subnet SASESPsubnet \

[2019-07-08 15:28] tiny-dancer commented on #34464
@DixitArora-MSFT thanks for the additional links.  I'd recommend placing them either in next steps or near the introduction as a `note` that this guide shows one of the ways to deploy java funcs (and may be the recommended way).

I'll follow up with a similar issue as @acheung123 in the product repo.

[2019-07-08 15:29] jks05c opened #34693 "Clarification on Available Licenses"
When assigning a license to a guest, does this decrease the # of available licenses?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9de7df3-1669-e58d-ae57-bdc8993ac35f
* Version Independent ID: 3a1d7ec3-b46f-3c87-2dc6-846cc815a530
* Content: [B2B collaboration licensing guidance - Azure Active Directory](https://docs.

[2019-07-08 15:31] KrishnaG-MSFT commented on #34676
@Herman-Wu Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 15:32] shashishailaj commented on #34331
@DKiefer770 If you logon to the URL https://account.activedirectory.windowsazure.com/r#/profile/organizations#organizations-section/ you would automatically see all the organisations you are given a guest access in  . and then you can just signin to the organisation to leave the organisation.

![image](https://user-images.githubusercontent.com/532022/60822309-d6bdc880-a1c2-11e9-9fae-4c0d14f89d58.p

[2019-07-08 15:32] #34331 closed

[2019-07-08 15:33] Mike-Ubezzi-MSFT commented on #34555
@matjazmav Thank you for this detail. The reason this work is because SSMS meets the client requirements as detailed [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure#configure-your-client-computers). If you are running an Azure App Service and these minimum client requirements cannot be met, then you must leverage an app registration process to e

[2019-07-08 15:34] KrishnaG-MSFT commented on #34681
@axelgMS Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 15:37] KrishnaG-MSFT commented on #34682
@alvipeo Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-07-08 15:44] nyuen opened #34694 "Configuration file vs Code"
The documentation states:

When moving between stages the code of an application should not change, it's rather the configuration for a specific environment to is usually supposed to change. The recommendation in the documentation seems odd.

https://12factor.net/config:

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-07-08 15:50] PramodValavala-MSFT commented on #34600
@spelluru @banisadr Could you please share some insights on this?

[2019-07-08 15:50] PramodValavala-MSFT commented on #34601
@spelluru @banisadr Could you please share some insights on this?

[2019-07-08 15:51] PramodValavala-MSFT commented on #34429
@NickDrouin The document showcases how to setup a validation endpoint using Azure Functions as mentioned in the [prerequisites](https://docs.microsoft.com/en-us/azure/event-grid/receive-events#prerequisites). The code sample is correct for this context and I can confirm it does work.

[2019-07-08 15:51] shashishailaj commented on #34427
@mlegris As far as I understand you are trying to assign groups to capacity and  The app token obtained for management.azure.com may not work for api.powerbi.com . The management.azure.com relies on Microsoft.PowerBI provider which would not have same defined actions as the powerbi API. I would suggest to check the [PowerBI Dev Community](https://community.powerbi.com/t5/Developer/bd-p/Developer)

[2019-07-08 15:51] #34427 closed

[2019-07-08 16:04] kobulloc-MSFT commented on #34694
@nyuen Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-07-08 16:06] veyalla commented on #34589
It should be available in the next couple of months for so. Could you please open an issue for this at https://github.com/azure/iotedge/issues as @Alberto-Vega-MSFT suggests so that the engineering team can track it?

[2019-07-08 16:20] ran-ten21 opened #34698 "changing storage"
would like it documented that you cannot change from standard to premium storage without disable/re-enable replication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [Support matrix for disaster recovery of on

[2019-07-08 16:22] v-viher opened #34699 "Azure Service bus Data onwer role"
As per documentation (https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-role-based-access-control#service-bus-roles-and-permissions) it says that Owner and Contributor roles will not longer be honored for data access privileges, instead, recommends to use Azure Service Bus Data owner role.

Created and reviewed the new Resource Group and figured out that the Role Azure Servi

[2019-07-08 16:23] Karishma-Tiwari-MSFT commented on #34689
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-08 16:24] Sethu2488 commented on #34455
Any update on the below questions,'Thank you for the information. Just wanted to know if I add 3 VMs to an availability set and have 3 fault domains, how many VMs will be available in case of hardware failure."

[2019-07-08 16:28] loukotaj commented on #34679
Sorry I think this is on the incorrect page, posting a new issue on the correct page.
https://docs.microsoft.com/en-us/azure/data-factory/tutorial-transform-data-spark-portal

[2019-07-08 16:28] #34679 closed

[2019-07-08 16:29] loukotaj opened #34701 "User Error 2312"
I followed the tutorial exactly, and am not using my storage account incorrectly as some other users were reporting. However when I run the job I get a user error.
ErrorCode 2312
Message spark job failed, batch Id:0
Failure type user error
Target Spark1
I also have attempted to get the spark logs on the failed job from the hdinsight cluster, but it just says they don't exist try again later until

[2019-07-08 16:31] sinupeter commented on #34545
Can you also mention what is the default port to be used for Syslog forwarded messages in this scenario

[2019-07-08 16:44] KranthiPakala-MSFT commented on #34701
@loukotaj Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-07-08 16:47] AshokPeddakotla-MSFT commented on #33652
@LeeHyeongWon This would require further investigation to find out the root cause. Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we can help get the support ticket opened for this issue.

I am closing this issue. We will follow

[2019-07-08 16:47] #33652 closed

[2019-07-08 16:48] connor4312 opened #34702 "Documentation advises using "obsolete" metric telemetry patterns"
According to the [app insights docs](https://docs.microsoft.com/en-us/dotnet/api/microsoft.applicationinsights.datacontracts.metrictelemetry.-ctor?view=azure-dotnet), applications should generally not use `MetricTelemetry` directly, and the `new MetricTelemetry(string, double)` constructor was explicitly marked obsolete. We should consider updating this page to reflect app insight's recommended be

[2019-07-08 16:52] csteegz commented on #34386
This has already been resolved on the document.

[2019-07-08 16:53] AshokPeddakotla-MSFT commented on #28517
@davidahoward Have you had a chance to the above response? We hope your query is addressed.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 16:53] #28517 closed

[2019-07-08 16:57] fitzgeraldsteele opened #34703 "Shared Image Navigation Broken"
Under How to guides &gt; Use Images &gt; Shared Images
* Portal appears twice
* The CLI link jumps to the linux version, instead of staying on windows

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1301ad5d-8a13-402e-aedb-2a77272ad042
* Version Independent ID: 83cd183c-c143-8bac-3b15-34ec2f887456
* Content: [Create sha

[2019-07-08 17:00] roygara commented on #34597
@igomat I've heard back from the product team and have some clarification around this:

There are basically two update paths which are determined by the checkbox in the installer:

- If you check the box: File sync will by itself immediately update as soon as updates are available.

- If you do not check the box: File sync will attempt to update itself only as a last-ditch resort to prevent the sy

[2019-07-08 17:09] kgremban commented on #34640
@ugurgokdere You're right about the default VM size matching what we're suggesting in the scripts, so I will take out that redundant parameter. Thanks.

As for VM size availability, the Standard_DS2_V1 SKU is available in the WestUS2 region. You can always check this with PowerShell, the Azure CLI, or in the Azure portal (see image below). What I suspect happened is that the WestUS2 region was exp

[2019-07-08 17:10] djpmsft commented on #27712
Hi all, sorry everyone is experiencing this issue. Engineering will investigate today and hopefully we can resolve this or get a workaround shortly

[2019-07-08 17:14] kgremban commented on #34630
@rido-min The configedge.sh file is only available on the IoT Edge on Ubuntu virtual machine image, which is the image used in the create vm powershell script in that same article. Are you following these steps on a physical device, or a different type of virtual machine?

[2019-07-08 17:14] cshalda opened #34704 "Region Availability for Data Box Edge needs to be updated"
According to the "Azure Products Available by Region" page, Data Box Edge is available in all US public Azure Regions. Please update this article accordingly for accuracy as the article currently says it is only available in East US.

Here is the filtered view of the Azure Products Available by Region, for reference - https://azure.microsoft.com/en-us/global-infrastructure/services/?products=datab

[2019-07-08 17:15] cynthn commented on #33427
7.6 is supported for RHEL images in the Azure Marketplace. RHEL 7.6 ISO's are not supported. The doc now states that ISO's are being tested for 7.6, but aren't currently supported.

#please-close

[2019-07-08 17:15] #33427 closed

[2019-07-08 17:15] CharmanderJieniJieni opened #34705 "What happens to existing connection when scaling in"
If we set VMSS to be autoscaled by metric, and a scale in decision is triggered, before the VM got deallocated, what happens to existing connection or calculation on the VM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b94c5948-acb1-e3aa-7148-6aa2278bcdef
* Version Independent ID: 9ada224f-5a76-bcde-2dc0-928a29c4323f

[2019-07-08 17:17] #33574 closed

[2019-07-08 17:18] FrankHu-MSFT commented on #34687
@pbalzer Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:19] FrankHu-MSFT commented on #34688
@ArvindHarinder1 Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:19] FrankHu-MSFT commented on #34691
@sebhe Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:20] FrankHu-MSFT commented on #34692
@Jackson-Miller Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:20] FrankHu-MSFT commented on #34693
@jks05c  Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:21] FrankHu-MSFT commented on #34684
@ArvindHarinder1
Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:21] muyao-xu opened #34706 "Incorrect link for "How to debug a Node.js web app in Azure App Service""
The link to the article "How to debug a Node.js web app in Azure App Service" is not correct

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e6469b-0c90-c4ba-cf41-354ea4919ea2
* Version Independent ID: 80944b77-6b15-5f0b-5388-ee4430dd090e
* Content: [Best practices and troubleshooting for Node.js - Azure App Service](

[2019-07-08 17:22] ArvindHarinder1 commented on #34688
Hi Frank, no need to take action. This is more of a reminder for our team internally to make certain updates to the SalesForce article.

[2019-07-08 17:22] FrankHu-MSFT commented on #34686
@sebhe Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 17:23] YutongTie-MSFT commented on #34386
@csteegz Thank you.
@jeroenboeye
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-08 17:23] #34386 closed

[2019-07-08 17:23] craigshoemaker commented on #34456
@APIWT - I updated the article to be a little more clear. I will ask to #please-close at this point, but please feel free to re-open if you think it needs more work.

Thanks for your feedback!

[2019-07-08 17:23] #34456 closed

[2019-07-08 17:27] FrankHu-MSFT commented on #34687
Hey @pbalzer thanks for the feedback, the product team has published an article in regards to the IETF's stance on implicit flow. Please read the following here. https://developer.microsoft.com/en-us/identity/blogs/our-thoughts-on-implicit-grant-with-microsoft-identity/

Please let us know if you have any questions in regards to the post and I can see if we can dig further, Thanks!

[2019-07-08 17:29] #30581 closed

[2019-07-08 17:29] #32643 closed

[2019-07-08 17:31] #34441 closed

[2019-07-08 17:33] kskvarci opened #34707 "storage account for flow logs must be in same region as NSG"
Please consider making an update to the "considerations" section of this document indicating that the storage account targeted for flow log storage must be in the same region as the NSG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd699dac-d6e5-5a39-624f-2d3f77f92fca
* Version Independent ID: c922bcd2-0778-a7af-4855

[2019-07-08 17:34] kskvarci opened #34708 "storage account for flow logs must be in same region as NSG"
Please consider adding a note to this page indicating that the storage account for NSG flow logs must be in the same region as the NSG.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb716b8-84da-2f21-2ef6-36a49ae2001f
* Version Independent ID: 8812ded6-3f56-737e-5aef-a33fcb908ba1
* Content: [Log network traffic flow

[2019-07-08 17:34] mike-urnun-msft commented on #34702
Hi @connor4312 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-08 17:35] mike-urnun-msft commented on #34685
Hi @GauravLad12 - Thank you for your feedback! We will review and update as appropriate.

[2019-07-08 17:36] panchagnula commented on #34240
We are tracking this work via the CLI github issue here. Currently we do need to run the config command as pointed out above after create.

https://github.com/Azure/azure-cli/issues/7261

[2019-07-08 17:36] RobinHSanner commented on #6788
I get this when I try to open the data explorer (note usually when you start cosmos it does this automatically but once this problem started it never appears to get to that point) and I'm on version 2.4.5.0

Failed to get authorization headers for offers: {"readyState":4,"responseText":"{\"code\":\"InternalServerError\",\"message\":\"Service is currently unavailable, please retry after a while. If

[2019-07-08 17:36] cynthn commented on #34373
#please-close

[2019-07-08 17:36] #34373 closed

[2019-07-08 17:39] jeffmartinxyz opened #34709 "Please add steps for adding VNETs that are in different subscriptions to ACR Firewall whitelist"
Currently, the documentation does not indicate that registering the resource provider (`az account set -s $SUBID_OF_VNET; az provider register --namespace Microsoft.ContainerRegistry`) is necessary when attempting to add VNETs from a different subscription than where the ACR registry is deployed. Without this step the VNET will immediately disappear from the ACR Firewall whitelist after being adde

[2019-07-08 17:39] RobinHSanner commented on #6788
stopping the process and deleting %LOCALAPPDATA%\CosmosDBEmulator resolved the issue

[2019-07-08 17:47] rupeshprasad commented on #34160
any update on this?

[2019-07-08 17:52] AjayKumar-MSFT commented on #34240
@yokawasa,  As Panchagnula mentioned, the issue is being tracked on the GitHub Azure-CLI repo, we will update that thread once we finish the work, so requesting you to keep a watch on that. We will close this issue out for now. Thanks again for raising this issue and sharing your valuable feedback, it's highly appreciated.

[2019-07-08 17:52] #34240 closed

[2019-07-08 17:52] curtisbuhler opened #34711 "Typo"
There is a typo on this page in the second paragraph:

"As you get more familiar and comfortable with using SQL Date Warehouse".

This should be "SQL Data Warehouse".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3d99f8-96b8-b31a-d6d3-868fa4614242
* Version Independent ID: 965ea5f3-ae07-3701-b49b-828170670631
* Cont

[2019-07-08 18:03] dlepow commented on #34361
@ToruMakabe - Thanks for pointing this out.
@jakaruna-MSFT - I'll assign this to myself and make article updates as needed.
#assign:dlepow

[2019-07-08 18:07] rolyon commented on #34334
Hi @snyder-riley-pfg
Thanks for the feedback. You are correct that when you list a custom role, the output format does not exactly match what is required for the input. I will update this article to make this more clear. I think the custom role tutorial does a little better job at communicating this.
https://docs.microsoft.com/en-us/azure/role-based-access-control/tutorial-custom-role-cli

[2019-07-08 18:12] shashankkhedikar opened #34712 "Issue with PS"
Found 2 issues in the Power Shell execution

first:
![image](https://user-images.githubusercontent.com/10440963/60832692-5de25080-a171-11e9-9d8d-d346faf2cba8.png)

second:
![image](https://user-images.githubusercontent.com/10440963/60832554-05ab4e80-a171-11e9-9dc6-6595c8adaebe.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-07-08 18:13] lingtham commented on #34509
Hi @jakaruna-MSFT, any update? Am still having this problem

[2019-07-08 18:16] zr-msft commented on #34534
looping in @jluk

[2019-07-08 18:19] craigktreasure commented on #32467
It does work, but it's not currently very easy to do. I don't know why we say that in the FAQ as it just causes confusion. We'll remove that question from the FAQ.

We are currently investigating Xamarin bindings that will make Xamarin support easier. Nothing more to share at this point.

[2019-07-08 18:22] #32037 closed

[2019-07-08 18:38] Karishma-Tiwari-MSFT commented on #26014
This bug is being tracked under a new Bugzilla item.
https://bugzilla.redhat.com/show_bug.cgi?id=1704513

[2019-07-08 18:39] dlepow commented on #34614
@TurtleBeach - Thanks very much for the feedback. We have a backlog documentation work item to create reference documentation for the ACI YAML files, and based on your feedback I will recommend that we prioritize this work higher. In the meantime, you might take a look at the container group/instance properties configurable in the [Resource Manager template spec](https://docs.microsoft.com/en-us/a

[2019-07-08 18:42] YutongTie-MSFT commented on #32711
@coljac @kemichi Thank you guys.

@sdgilley Hi, could you please take a look of this issue and update the document as necessary? Thank you.

[2019-07-08 18:44] YutongTie-MSFT commented on #33704
@bchen007 We will now proceed to close this thread since there is no response temporary. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-07-08 18:44] #33704 closed

[2019-07-08 18:47] YutongTie-MSFT commented on #34034
@itisslizz We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-07-08 18:47] #34034 closed

[2019-07-08 18:47] AjayKumar-MSFT commented on #34107
@qm13, Requesting your comments on this issue.

[2019-07-08 18:53] snyder-riley-pfg commented on #34334
Thanks! I saw that other page and it helped, I just wanted to make sure this documentation was fixed to match up with the new output.

[2019-07-08 18:53] MGoedtel commented on #34537
@DixitArora-MSFT - West Central US isn't listed when creating a new workspace because that data center doesn't have capacity until 9/2019.  This is mentioned in the FAQ for Azure Monitor here - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-faq#q-why-i-cant-create-workspaces-in-west-central-us-region.

Hope that answers your question
#please-close.

[2019-07-08 18:53] #34537 closed

[2019-07-08 18:55] Mike-Ubezzi-MSFT commented on #6788
Additional troubleshooting steps can be found [here](https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator#troubleshooting).

[2019-07-08 18:55] yvesgermain opened #34713 "Subscription ID of the subscription. Not Id of the user"
Replace "00000000-0000-0000-0000-000000000000" with the subscription ID of the user who needs to deploy the templates.

Should be :
Replace "00000000-0000-0000-0000-000000000000" with the subscription ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70505efb-d7ac-0dbc-6b57-2ce6a2a78ef2
* Version Independent ID: 0d5a0

[2019-07-08 18:56] Karishma-Tiwari-MSFT commented on #34703
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-08 18:56] markjbrown commented on #32328
Hi Nick. Right now it is not in plan to add to v2. If you think this is something the team should revisit I would add an issue to the v2 GitHub repo on this or +1 if there is already an issue on this.

Thanks.

[2019-07-08 18:56] Karishma-Tiwari-MSFT commented on #34705
Thanks for the question. We are currently investigating and will update you shortly.

[2019-07-08 18:57] Karishma-Tiwari-MSFT commented on #34709
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-07-08 19:08] MGoedtel commented on #34471
Based on the issue and determining it isn't documentation related, suggesting we #please-close.  If the submitter is still having an issue, suggest it is addressed following the support path.  Thanks.

[2019-07-08 19:08] #34471 closed

[2019-07-08 19:10] okieselbach opened #34715 "Removal of local admin rights"
Removal of local admin rights doesn't make sense when the same Azure AD tenant is used for production devices. Imagin a cloud only environment with only Azure AD joined devices (most of my customers run this now). The article is written like the Azure AD tenant is used only for Secure Workstations (!?). In reality you would use the tenant also for other devices and then you might want to have addi

[2019-07-08 19:17] Zimmergren commented on #30630
@TheFairey unfortunately I've only solved it for the ACI part right now, not ACR - hoping for an update from MS on this soon.

[2019-07-08 19:26] FrankHu-MSFT commented on #34715
@okieselbach Thanks for your feedback! We will investigate and update as appropriate.

[2019-07-08 19:39] karthiksubramanians opened #34717 "Does this also expose Request charge?"
Can we also get the request charge for the copy activity to and from Cosmos Db via data factory? Can this be obtained by data factory through portal/.net/python sdk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43cac5a8-aa7f-8aba-d47e-e78249efa031
* Version Independent ID: 09c34890-b4f0-be28-9813-bb8066631f6f
* Conte

[2019-07-08 19:53] TheFairey commented on #30630
@Zimmergren Ah, could you let me know how you did it for the ACI, if I can assign a User Managed Identity to that at creation time, programatically, as I create and delete them as required, I can at least start removing some of the environment settings for connection strings etc. thanks.

[2019-07-08 19:53] wacsintegra opened #34719 "Presentation is not showing up with "=" in Markdown on the docs page."
The mark down format in the post is not allowing for the "=" sign to show up..

$sourceStartIp = "0.0.0.0"
$sourceEndIp = "0.0.0.0"
$targetStartIp = "0.0.0.0"
$targetEndIp = "0.0.0.0"

is showing as
![image](https://user-images.githubusercontent.com/12101423/60838282-f4256f00-a18f-11e9-8e02-6831fd7a0b62.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-07-08 20:02] craigktreasure commented on #32467
I've reworded the answer in the FAQ.

[2019-07-08 20:03] craigktreasure commented on #32467
@AshokPeddakotla-MSFT, we can close this issue.

[2019-07-08 20:10] raiye commented on #34412
Thank you for bringing this to our attention, this issue has been resolved.

[2019-07-08 20:10] zr-msft commented on #34534
looping in @palma21

[2019-07-08 20:15] TylerMSFT commented on #34547
#please-close

[2019-07-08 20:15] #34547 closed

[2019-07-08 20:27] ChristianMontoya commented on #33988
@rhythmnewt : Our templates do not create any public IP addresses for the VMs, primarily because you do not need to open any inbound ports on the VMs to set up connections. All connections are created outbound **from** the session host VM **to** the Windows Virtual Desktop service.

In this way, you shouldn't need to create any public IP addresses for the virtual machines. But, if you do create th

[2019-07-08 20:27] FrankHu-MSFT commented on #34263
@Girishvtm I don't understand, that is expected behavior? Please see :
![image](https://user-images.githubusercontent.com/6366013/60840347-2204b680-a184-11e9-8e4d-4efc7b209841.png)
from https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadmsgroup?view=azureadps-2.0

[2019-07-08 20:28] FrankHu-MSFT commented on #34411
Hey @thomassimpson25 as there hasn't been a response in quite some time I will be closing out this issue by eod today. Please let us know if you have anymore questions in regards to this.

[2019-07-08 20:28] FrankHu-MSFT commented on #34595
@martinvelos I'm following up on this, as there hasn't been a response I will be closing this out, please let us know if there are anymore issues by reopening the issue.

[2019-07-08 20:28] #34595 closed

[2019-07-08 20:29] FrankHu-MSFT commented on #34596
@stephenacrown I'm following up on this can you please respond in regards to the last post?

[2019-07-08 20:30] FrankHu-MSFT commented on #34622
@icyfire0573 I'm following up on this, the doc should be updated now, please let me know if there are anymore issues otherwise I will be closing out this git issue by eod today.

[2019-07-08 20:30] TravisCragg-MSFT commented on #33601
@JoeRistine If you are being charged different from how this doc describes, your best bet is to create a support request for them to validate the charges and rates you received. If you do not have a support plan, please let me know!

[2019-07-08 20:31] cogran opened #34723 "Custom domain verification"
https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-migrate-domain

For custom domain verification, there should be a live-migration link that provides alternative DNS record verification options that admins can create to preemptively create. Consider adding links to both the above link as well as the Custom domains for Azure Resources: https://docs.microsoft.com/en-us/azure/dns/d

[2019-07-08 20:34] Karishma-Tiwari-MSFT commented on #34389
@bearrito Sorry for the delay. To ensure I understand your question correctly, please share:
1. are you looking for a way to provide the private IP while **creating** container group ?
2. please elaborate on what do you mean by scraping the output.

[2019-07-08 20:34] MarileeTurscak-MSFT commented on #34374
Sorry, your screenshot is not showing for me.
![image](https://user-images.githubusercontent.com/13383753/60840388-3c3e9480-a184-11e9-99f1-243249f531b8.png)

I have seen a similar question answered by @jeevansd so I am looping him into this thread.
https://social.msdn.microsoft.com/Forums/en-US/6ed1ce28-1b91-45d0-a48c-3f104518920e/azure-ad-application-single-signon-option-missing?forum=WindowsAzur

[2019-07-08 20:37] cynthn commented on #33941
@jtuliani and @Karishma-Tiwari-MSFT G and GS-series are considered "older" sizes and are listed here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-previous-gen#g-series

[2019-07-08 20:37] palma21 commented on #34534
As a managed service AKS does not support customizations of the Control Plane components. For those kind of customizations https://github.com/Azure/aks-engine is the recommended route.

This project might be a good contribution to the kubernetes core. Feel free to open an issue on the AKS GH and/or k8s GH.

[2019-07-08 20:41] thomassimpson25 commented on #34411
I apologize, I thought I responded to this post before the weekend. Yes, we have modern authentication enabled and are actively using it on the environment.

[2019-07-08 20:42] rhythmnewt commented on #33988
@ChristianMontoya Hi Christian, thanks for your reply. What I'm looking for is a set of IPs that the Windows Virtual Desktop service uses. I have a set of web-based applications that will be running in-browser on WVD that I need to be locked down by IP address (so that they cannot be accessed from home, for example) and for that I need to know WVD service IPs to white-list.

Otherwise, just like y

[2019-07-08 20:42] MarileeTurscak-MSFT commented on #34554
Since I have not heard back from you I will now proceed to close this thread. If you have further questions feel free to tag me in the comments or open a new issue and I will gladly continue the discussion.

[2019-07-08 20:42] #34554 closed

[2019-07-08 20:44] conceptdev commented on #31005
The Mobile Apps API is no longer directly exposed - you must now create an App Service Web App and add Easy Tables, or upload the .NET back end C# code. The [get started docs](https://docs.microsoft.com/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started#create-a-new-mobile-apps-back-end) have been updated to reflect this change. The article linked above appears to show how to ad

[2019-07-08 20:44] #31005 closed

[2019-07-08 20:44] zr-msft commented on #34534
Thank you @palma21

@jakaruna-MSFT I feel like this addresses the original question raised.

[2019-07-08 20:47] Grace-MacJones-MSFT commented on #31004
Hi @conceptdev, can you please look into this?

[2019-07-08 20:51] femsulu commented on #34334
Thanks again @snyder-riley-pfg
 We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-07-08 20:51] #34334 closed

[2019-07-08 20:52] Alberto-Vega-MSFT commented on #34581
@naoufelfrioui Were you able to resolve your issue based on the info from the IoT Edge repo?

[2019-07-08 20:52] FrankHu-MSFT commented on #34411
I see, @thomassimpson25 my suggestion then would be to file a support ticket as there seems to be something wrong with your environment if Modern Auth **IS** enabled in your outlook 2016 environment per the link provided above. I'll be closing out this GitHub issue, but please file a support ticket with Microsoft and they'll be able to help in regards to this issue. In addition to that, if you can