[2018-05-21 01:27] YeeSuan95 commented on #8756
Hi Sean,

I just tested it. It rectified my problem.
Thanks!

[2018-05-21 01:30] robert-cleric opened #8912 "Spring Boot Starter for Azure AD"
For a SPA application the previous recommendation was to use OAuth implicit flow
(https://docs.microsoft.com/... AND
https://azure.microsoft.com....

If Spring Boot Starter for Azure AD is used is OAuth implicit flow no longer recommended when registering your application with your Azure Active Directory tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-05-21 01:32] tumtum73 commented on #8631
It was just an entry in the Sign-in log for my AzureAD instance.

[2018-05-21 01:43] Wayne-Shen opened #8914 "Import html format automatically changed to mark down"
I have a preview knowledge base and the answer is html format.
But when I export and import to GA version, the html automatically changed to mark down.

For example:
<a href="link">link</a>
changed to
[link](link)

Any idea how to keep the original format?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cb10c01-db1f-1c

[2018-05-21 02:11] Wayne-Shen opened #8915 "Keep orginal content format, not change to Markdown"
Why the content convert to Markdown automatically, in our case, the knowledge base is used in Skype for business which don't support markdown, only support html.

Is it possible to keep the original html content when import?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc39a5b4-4471-adb5-c92d-43e544687650
* Version I

[2018-05-21 02:29] femsulu commented on #8909
@zhulixuan
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-21 02:33] femsulu commented on #8911
@zhulixuan
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-21 02:35] femsulu commented on #8910
@jonathanfishbein1 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-21 02:36] femsulu commented on #8908
@cammurray Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-21 02:36] femsulu commented on #8912
@robert-cleric Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-21 03:47] richardspitz opened #8916 "Incorrect description for 'Cluster Type'"
When creating the cluster, the description of 'Cluster Type' should indicate that we need to select Hadoop from the drop down list, which contains Hadoop, Hbase, Storm, Kafka among others. Instead at the moment, it has this description, which is the Cluster Name description:
"Enter a name for the Hadoop cluster. Because all clusters in HDInsight share the same DNS namespace this name needs to be u

[2018-05-21 05:15] eastrd opened #8917 "Pricing for different CPU options"
Hi,

I noticed there are 3 CPUs available for Standard_A1_v2:
![screen shot 2018-05-21 at 3 02 01 pm](https://user-images.githubusercontent.com/13502460/40291378-02413948-5d08-11e8-8eb2-fe02fa74034e.png)

Meanwhile there are no pricing details for any given VM type with multiple CPU options, so I was wondering what is the default CPU spec for the price given in the [Price Calculator](https://azure

[2018-05-21 05:31] alex-dokienko commented on #8681
@zhulixuan
The trick here that I'm not using default backend integration (extending Hub class), I'm pushing messages to hub through REST API and though that API there is no option to manage groups.

[2018-05-21 05:34] alex-dokienko commented on #8681
@SaurabhSharma-MSFT
Is there a chance that I can use hubs as groups? In other words will make hub unique through my system and use it as specific channel for my logic?
Do you have any limitations on how many hubs can be registered/used in one Azure SignalR Service?
I need for now ~600-1000

[2018-05-21 05:49] somanshreddy opened #8918 "Error in Step 3: Train the PersonGroup"
Hi,

I have executed the following code in Visual Studio 2017

 if (trainingStatus.Status != "running")
    {
        break;
    }

However, the expression trainingStatus.Status != "running" does not work. We cannot compare the result of object.Status with a string.
Error	CS0019	Operator '!=' cannot be applied to operands of type 'Status' and 'string'

The solution is

if (trainingStatus.Status !=

[2018-05-21 06:29] anwather opened #8919 "Storage locatio for snapshots - unmanaged disks"
When a snapshot is taken - which storage account is it stored in for local restore? I'm trying to estimate storage increase due to vault upgrade. I understand the snapshots are incremental and that they are transferred to the vault after the recovery point is created - but wondering how to calculate the increase in storage costs.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-05-21 06:36] KjetilEVRY commented on #8394
In versions before v. 1.1.751.0, it showed (Preview) in the AAD Connect wizard. In v.1.1.751.0 the (Preview) is gone, and I therefore assume it's not in preview anymore. I haven't tried the latest v. 1.1.819.0 yet.

[2018-05-21 07:42] ggailey777 commented on #8886
@ravneetgrewal this is because you have authentication for your HTTP trigger set to Function level.
You can solve this in one of two ways:

1. Go to the [Azure portal](https://portal.azure.com) and copy the function URL, including the key as shown [here](https://docs.microsoft.com/azure/azure-functions/functions-create-first-azure-function#test-the-function). (I don't think that there's an easier

[2018-05-21 07:48] Ozric473 commented on #8462
Ok, I get further now.  But not getting all info at the end of the script.
I get DiskEncryptionKeyVaultUrl: *************
	 DiskEncryptionKeyVaultId: *************

But no aadClientID or aadClientSecret.

Have I missed something?

Many thanks

[2018-05-21 07:58] rayne-wiselman commented on #8850
Thanks for validating. The info about the hyper-v site has been fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/41727.

If that's sufficient #please-close

[2018-05-21 07:59] rayne-wiselman commented on #8864
#please-close

[2018-05-21 08:01] femsulu commented on #8864
@johnwildes We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 08:02] #8864 closed

[2018-05-21 08:07] zia001s4 commented on #8462
Hi Ozric473.

Please use below script.

#Requires -Module AzureRM.Resources
#Requires -Module AzureRM.KeyVault

Param (
  [Parameter(Mandatory = $true,
             HelpMessage="Name of the resource group to which the KeyVault belongs to.  A new resource group with this name will be created if one doesn't exist")]
  [ValidateNotNullOrEmpty()]
  [string]$resourceGroupName,

  [Parameter(Mandatory =

[2018-05-21 09:41] ianalderman opened #8920 "Is Storage limit correct here?"
Hi on https://docs.microsoft.com/en-gb/azure/container-registry/container-registry-skus it lists max storage for Premium as 500GiB, whereas on this page you list 5TB (with no SKU mentioned?)

Thank you!

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3d99bf5-e7dd-9146-4ba7-a6ce384ac81c
* Version Independent ID: 27f0c8f

[2018-05-21 10:07] danimir commented on #6421
Thank you on your question and on the feedback.

Please note that there exists logic for ordering key columns. In the logic applied for ordering key columns, the point lookup is favored first prior to range scans. In determining which key columns to prioritize, the algorithm is also favoring scenarios in which multiple queries can use the same key column. Columns that are used by most queries are

[2018-05-21 10:29] jovanpop-msft commented on #8902
No, Azure SQL Managed Instance is the latest version of SQL Server, so you cannot restore database backup on older versions (even if you have the latest SQL Server 2017). The same problem you will face if you try to restore a backup taken from SQL Server 2016 to some older version, for example SQL Server 2012. Use .bacpac files from cross platform migration if your database is not very big.

[2018-05-21 10:36] buzzfrog opened #8921 "missing dash in creating edge device command"
In parameter hub-name
az iot hub device-identity create --device-id edge001 -hub-name CLIDemoHub --edge-enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f2cd67-375b-0a5b-7784-2600facbefd8
* Version Independent ID: c9584182-165a-46ed-ef61-c4d4dd851af3
* Content: [Deploy modules to IoT Edge devices using IoT exte

[2018-05-21 12:04] ashisa opened #8922 "Service Bus Premium tier?"
The Prerequisites section mentions we need a Premium tier Service Bus namespace. Does the integration also work with Basic/Standard namespaces?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de93e314-ae26-29c3-1594-377081ddb002
* Version Independent ID: a65af49c-ba04-b76a-b510-a8646d5056e6
* Content: [Azure Service Bus

[2018-05-21 13:44] DuoKristina opened #8923 "Code 50158 Missing"
SIGN-IN ERROR CODE 50158 - no description listed here.

Codes 50027 and 51005 missing as well.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azure Active Directory p

[2018-05-21 13:47] gumaflux opened #8924 "Broken link "Data Orchestration using Azure Data Factory for Azure Data Lake Store""
The "Data Orchestration using Azure Data Factory for Azure Data Lake Store" link under "Next steps" points to "https://support.office.com/en-us/article/important-information-about-office-mix-preview-end-of-service-c1c04f84-a7bb-4602-9645-258017155258?ui=en-US&rs=en-US&ad=US" which doesn't seem correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-05-21 13:48] richardspitz opened #8925 "Step 4 of "Simulate the device" - Edit requested"
SECURITY_DEVICE_TYPE is set to "ProvisioningSecurityDeviceType.X509" in https://github.com/Azure/azure-iot-sdk-python/blob/master/provisioning_device_client/samples/provisioning_device_client_sample.py
Step 4 should call out that along with modifying GLOBAL_PROV_URI and ID_SCOPE variables, we're updating SECURITY_DEVICE_TYPE to ProvisioningSecurityDeviceType.TPM in this file.

---
#### Document De

[2018-05-21 13:49] trinadhkotturu commented on #8919
Snapshots are taken on disks. So, if the VM's Disk A is in Storage Account A and Disk B is in Storage Account B, Disk A's snapshot will be stored in Storage Account A and Disk B's storage account is stored in Storage Account B. This doc link should help you understand the charges - https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-how-snapshots-accrue-charges

[2018-05-21 13:58] James-Burnham opened #8926 "Link Out of Date"
The Link for Get PowershellGet Module (https://docs.microsoft.com/en-us/powershell/gallery/psget/get_psget_module) doesn't appear to work...

The below link has the proper instructions:
https://docs.microsoft.com/en-us/powershell/gallery/installing-psget

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716

[2018-05-21 13:59] landry4678 commented on #8462
Having the same error this error on 6.0.0
Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented."
At C:\AzureADEScript\ADEPrereqScript.ps1:160 char:5
+     Set-AzureRmResource -resourceid $resource.ResourceId -Properties  ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [Set-AzureRmReso

[2018-05-21 13:59] fullenw1 opened #8927 "Sysprep link not available anymore"
The "How to Use Sysprep: An Introduction" (http://technet.microsoft.com/library/bb457073.aspx) link seems to be not valid anymore.
I suggest this one:
"Sysprep (System Preparation) Overview" https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/sysprep--system-preparation--overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-05-21 14:12] michaelscodingspot opened #8928 "AppAuthentication library usage is unclear about returning Access Token and not Json"
Hi,
I found out the hard way that the code
var accessToken = await azureServiceTokenProvider.GetAccessTokenAsync("https://management.azure.com/");
returns the access token string, and not a Json body.
How will I know when the token is expired and to ask for a new access token?
Does the AppAuthentication library takes care of caching for me (so I have to call the method each time)?
It's unclear.

T

[2018-05-21 14:16] jimdial commented on #8567
@codyrat Thanks. That article was out of date, and most of the information in it was either in the [Security overview](https://docs.microsoft.com/azure/virtual-network/security-overview) or [Manage NSG](https://docs.microsoft.com/azure/virtual-network/manage-network-security-group) articles. For all these reasons, I've removed that article. #please-close

[2018-05-21 14:17] fusionet24 opened #8929 "Internal IDs purpose?"
What is the purpose of internal id. Is it a unique GUID for each element in application insights?

I'm using continuous export with a stream analytics and what to make sure the internal ID can be used as a check constraint on my SQL table (should I want to backfill my data)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-05-21 14:26] gullfo opened #8930 "github link is not working"
this link appears broken. https://github.com/Azure/Azure-TDSP-ProjectTemplate/blob/master/Docs/DataReport/Data%20Defintion.md#raw-data-sources

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6978a47f-18b6-5ed4-d882-01f64fbfd950
* Version Independent ID: 097e6379-3a1c-24f6-de51-9212f6dbe4b4
* Content: [Business understan

[2018-05-21 14:31] DCtheGeek commented on #8674
@ArtemProc Thank you for the feedback!  There are two different schemas listed as there was an original schema and then an updated about two years ago.  The current schema is at the top and a translation from the original to the current is lower in the document.  Also, you posted the issue from a templates page and I wanted to make sure you'd seen this page (https://docs.microsoft.com/en-us/azure/

[2018-05-21 14:42] hutaobo opened #8931 "Like"
Very Good!

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 8198ccf7-c499-c84b-6d54-e48a8fc4a150
* Version Independent ID: aae607bf-72be-59dd-32bc-be33039de820
* Content: [Build a classifier with Custom Vision Service - Azure Cognitive Services](https://docs.microsoft.com/zh-cn/azure/cognitive-services/custom-vision-service/getting-started-build-a-classifier)
* Conten

[2018-05-21 14:47] mjpinvestor commented on #8462
Downgrading AzureRM.Resource resolved enabling soft delete issue but now I am exactly where ozric473 is with an error running get-AzureRmADServicePrincipal. If I just run get-AzureRmADServicePrincipal without the script I get the exact same error. If I go to a machine with AzureRM.Resource version 6.0.0 I do not get the error and can run the command.

Get-AzureRmADServicePrincipal : Method not fou

[2018-05-21 14:56] mariuspetria opened #8932 "Error 404"
The hyperlink for "Azure SDK for PHP" from this page is giving Error 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08421e61-09b5-085d-1f99-f3af89a48957
* Version Independent ID: a0b9e21e-4592-8a57-8b26-ced8aa71b4bf
* Content: [Create Azure web and worker roles for PHP](https://docs.microsoft.com/en-us/azure/cloud

[2018-05-21 14:56] mjpinvestor commented on #8462
I was able to reproduce it. On a working powershell with azurern.resource 6.0 I ran get-azureRmAdServicePrincipal and it returned successful. I then ran the 3 lines to rollback to 5.5.2 (posted earlier in this thread). After this rollback, get-azureRmAdServicePrincipal no longer works with method not found error.

[2018-05-21 14:59] msangapu commented on #8932
Investigating.

[2018-05-21 15:18] ravneetgrewal commented on #8886
@ggailey777 Got it! Thanks.

[2018-05-21 15:18] #8886 closed

[2018-05-21 15:28] LuisCabrer commented on #8507
Ok, thanks. I have fixed the documentation to use the latest version of the API.

[2018-05-21 15:29] LuisCabrer commented on #8507
@bernardjclark -- how do I tag this as resolved? / how do I close the issue?

[2018-05-21 15:30] LuisCabrer commented on #8507
@mike-urnun-msft , how do I resolve the issue / mark it as closed?

[2018-05-21 15:32] LuisCabrer commented on #8507
closes #8507

[2018-05-21 15:41] tfitzmac commented on #8905
@cloudvae - that's a good question.

@simongdavies - do you know why the input element is not in template schema for using copy within properties?

[2018-05-21 15:48] ajfleming1 opened #8934 "Awesome"
Not sure if this is the correct use of Feedback but I wanted to say this is a great guide and thank you. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the WebJobs SDK - Azure](https://doc

[2018-05-21 15:52] MicahMcKittrick-MSFT commented on #8920
@ianalderman Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-21 15:58] Dmenist opened #8935 "AADP for Sign-in Logs."
Is this licensing requirement accurate? I have customer's stating they can get 7 days without a Premium license. Also, the troubleshooting workflow on the customer's troubleshooting menu states that 7 days are available for free customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbc77eed-9bcb-d9a8-4d0c-52095b6d0

[2018-05-21 16:14] jlian commented on #8926
Thanks @James-Burnham, it should be fixed within an hour.

[2018-05-21 16:37] sethmanheim commented on #7146
@ylashin Thank you for the feedback! Updating the Storm docs is on the documentation backlog, so we will get that updated ASAP. #please-close

[2018-05-21 16:38] sethmanheim commented on #7771
#please-close

[2018-05-21 16:52] SteveMSFT commented on #8756
Thanks for confirming @YeeSuan95.

[2018-05-21 16:55] neilpeterson commented on #8579
@rquackenbush - we will be performing some clean up / updating to these docs which will address the confusion here.

I am closing this issue for now. If your concern has not been addressed, please re-open and / or feel free to reach out to me directly on Twitter (@nepeters).

#please-close

[2018-05-21 16:56] douglaslMS commented on #8346
@HemantChandurkar I have a meeting tomorrow at which I hope to get definitive answers to these questions. Thank you for your patience.

[2018-05-21 16:56] douglaslMS commented on #8346
#in-progress

[2018-05-21 16:59] douglaslMS commented on #8415
@netlander1 Here's what I've learned from the SSIS product team: The answer to your question depends on whether there's an ODBC driver for S3 PostgreSQL that supports certificate-based authentication. Or put another way, if you can do what you want to do with SSIS on premises, then you can very likely do it successfully in Azure as well. You would use the Custom Setup feature to install any necess

[2018-05-21 17:01] #8579 closed

[2018-05-21 17:01] kobulloc-MSFT commented on #8917
@eastrd Thank you for your question!  We are investigating this and will get back to you shortly.

[2018-05-21 17:03] kobulloc-MSFT commented on #8929
@fusionet24 Thank you for the question!  We are investigating this and will get back to you shortly.

[2018-05-21 17:08] bwren commented on #8834
#in-progress

[2018-05-21 17:09] cynthn commented on #8865
#please-close

[2018-05-21 17:11] YutongTie-MSFT commented on #8931
@hutaobo Thank you very much! We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 17:11] #8931 closed

[2018-05-21 17:14] YutongTie-MSFT commented on #8930
@gullfo Can you please clarify where is the link in? Thanks a lot!

[2018-05-21 17:16] TravisCragg-MSFT commented on #8567
@codyrat We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-21 17:16] #8567 closed

[2018-05-21 17:17] YutongTie-MSFT commented on #8914
@Wayne-Shen Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Can you please take a look to see if you have any idea? Thanks a lot!

[2018-05-21 17:21] MicahMcKittrick-MSFT commented on #8277
@rothja I will assign this to you while you are waiting to hear back

[2018-05-21 17:21] YutongTie-MSFT commented on #8918
@somanshreddy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@SteveMSFT Hi, can you please take a look and make sure if there should be any change? Thanks a lot!

[2018-05-21 17:26] YutongTie-MSFT commented on #8878
@jack12171992 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, there is a product question about QnA maker, can you pleas take a look? Thanks a lot!

[2018-05-21 17:26] cynthn commented on #8927
@fullenw1 The link works for me and resolves to: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-xp/bb457073(v=technet.10). There is probably a redirect in there that is causing issues for you. I'll update the link to the new final address. Thanks!

[2018-05-21 17:28] MicahMcKittrick-MSFT commented on #8837
@saachinvettiyattil thanks for confirming that.

@ramkumarkrishnan  can you take a look at this?

[2018-05-21 17:28] brushwood24 commented on #7753
I am using the same value for createMode every time per environment.  The template is set up this way so I can use the same template to create a DR environment, where the database is a replica.

[2018-05-21 17:29] vasivara-MSFT commented on #8916
@richardspitz Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-21 17:30] MicahMcKittrick-MSFT commented on #8881
@iainfoulds can you take a look at this one?

[2018-05-21 17:32] MicahMcKittrick-MSFT commented on #8891
@MSSedusch can you take a look and confirm if the doc is correct still?

[2018-05-21 17:36] #8060 closed

[2018-05-21 17:39] masnider commented on #8832
From [source](https://github.com/Microsoft/service-fabric/blob/f258f7579af9643dac6b1c75c93db9a3bcd28fdd/src/prod/src/Reliability/LoadBalancing/ServiceDescription.cpp#L221-L231)(! - sorry I just remain really excited that we can share the code :) )

[code]

[2018-05-21 17:39] vasivara-MSFT commented on #8924
@gumaflux Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-21 17:39] kobulloc-MSFT commented on #8676
@pravinohal We are going to close this thread as resolved but if there are any further questions regarding this matter, please tag me in your reply and we will be happy to continue the conversation.

[2018-05-21 17:39] #8676 closed

[2018-05-21 17:40] SaurabhSharma-MSFT commented on #8935
@Dmenist Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-21 17:43] keatseongchan opened #8937 "Does Patch Orchestration work with 1 node cluster?"
I have installed Patch Orchestration on about a dozen Azure Service Fabric cluster.   The application seem to be blocked when there is only 1 node in the cluster.   I don't seem see any option related to healthy percentage tweak.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3a16900-c967-ccf9-2d87-1c994013bf0e
* Vers

[2018-05-21 17:45] SaurabhSharma-MSFT commented on #8836
@manthan29 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 17:45] #8836 closed

[2018-05-21 17:45] SaurabhSharma-MSFT commented on #8820
@SatyandraV-MSFT We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 17:45] #8820 closed

[2018-05-21 17:46] SaurabhSharma-MSFT commented on #8774
@marcossapp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 17:46] #8774 closed

[2018-05-21 17:46] MicahMcKittrick-MSFT commented on #8898
@rloutlaw can you take a look? Seems like we are getting lots of feedback on this particular doc. Not sure if it is something we need to look into.

[2018-05-21 17:49] SaurabhSharma-MSFT commented on #8751
@felnne I am not aware of the same. however  I have assigned this issue to content author to investigate and update you on the same.

[2018-05-21 17:50] SaurabhSharma-MSFT commented on #8733
@usama-masood We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 17:50] #8733 closed

[2018-05-21 17:56] midomsft opened #8938 "Bug in http source?"
Creating copy activity fails as its saying "missing required value", code shows a UserProperties section which shows name as my http source but value is null. Where is this looking for a value from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb254eed-873c-17d6-3d95-1d1c93a901b4
* Version Independent ID: 13e1abe1-48

[2018-05-21 17:57] johnneycao opened #8939 "Hard to understand the 5 scenarios"
It is really hard to understand the 5 scenarios, are they related?  The better to use diagram to describe the changes and why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7266ae4e-2c31-39a0-3357-a170c20e77af
* Version Independent ID: 361a4286-dd25-4a92-1545-52271d6502bf
* Content: [Azure AD UserPrincipalName populat

[2018-05-21 18:01] vasivara-MSFT commented on #7146
@sethmanheim We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 18:01] #7146 closed

[2018-05-21 18:13] georgewallace commented on #8656
@femsulu @vhusker I added a note to the doc to explain the possible issues and it is live. https://docs.microsoft.com/en-us/azure/automation/automation-verify-runas-authentication #please-close

[2018-05-21 18:14] Adam-Smith-MSFT commented on #8900
@HZass I was able to see the content of a blob nested under 5 levels of folders within a container. The blob can be seen from both Storage Explorer 1.1.0 or portal. Please see attached picture.
Let me know if this helps.

![github-nested](https://user-images.githubusercontent.com/34456968/40322679-03968ab6-5ce8-11e8-8ba0-7d8430d26030.png)

[2018-05-21 18:15] georgewallace commented on #8908
@cammurray Thanks for the feedback, I removed this reference as it is incorrect, we link to the cmdlet later in the doc. The updates are now live.  https://docs.microsoft.com/en-us/azure/automation/automation-credentials #please-close

[2018-05-21 18:19] SaurabhSharma-MSFT commented on #8704
@MarkusVi can you please help looking into this as I am also getting the same error.  I tried few other provide more application and delegated permissions however i am still getting the same error.

[2018-05-21 18:20] jeffgilb commented on #8893
@asingh1989 , thank you for your feedback and suggestions. While we do not fully document integrated systems architectures (because they are different depending on varying factors), we do discuss how the ASDK architecture is configured to help with your early adoption and evaluation tasks here: https://docs.microsoft.com/en-us/azure/azure-stack/asdk/asdk-architecture.

[2018-05-21 18:20] jeffgilb commented on #8893
#please-close

[2018-05-21 18:20] Adam-Smith-MSFT commented on #8882
@Mike-Honey apologies for not finding what you needed in this documentation. Could you provide us with what specific info you are looking for to properly help/direct you to the best channel ?

Thanks,
Adam

[2018-05-21 18:21] jeffgilb commented on #8894
Great suggestion @asingh1989 I've already started discussions with the larger team about doing this based on your feedback!

[2018-05-21 18:21] jeffgilb commented on #8894
#please-close

[2018-05-21 18:31] MohitGargMSFT commented on #8851
@Goddess-Bastet Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-05-21 18:31] #8851 closed

[2018-05-21 18:32] ShevaDas commented on #8781
@adamlavery Thanks for reaching out. Please know we're continually working to improve our information architecture and navigation experience!

As to your specific feedback, we divide up our content between topics because we have a lot of content and putting it all on one page would be difficult to navigate, as well as potentially causing slow page load times due to the amount of content. Expandabl

[2018-05-21 18:38] #7354 closed

[2018-05-21 18:38] MGoedtel commented on #8803
@vasivara-MSFT - since this isn't a documentation issue but a "how-to", suggesting you remove the doc-enhancement label.

[2018-05-21 18:40] bmilbauer commented on #8803
Understood re: the field. Thanks for the workaround suggestion.

[cid:sig_logo_f5171a6d-0aac-4537-8cf7-f3b2a514406a.png] <https://ivision.com/>
Bradley Milbauer
Senior Consultant | Consulting Services | Infrastructure Services
M: +1 (770) 862-5578<tel:+1%20(770)%20862-5578> | O: +1 (678) 244-3227<tel:+1%20(678)%20244-3227>
[cid:sig_facebook_4c7b99a3-311c-468d-9c74-683eb2595d6a.png] <https://facebo

[2018-05-21 18:43] MohitGargMSFT commented on #8830
@CrazeeIvan Thanks for providing more information. I see what you are saying. I will assign this issue to content author to check and update accordingly.

[2018-05-21 18:44] vasivara-MSFT commented on #8803
@MGoedtel  Done
@bmilbauer  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 18:44] #8803 closed

[2018-05-21 18:46] wcneumann opened #8940 "One more troubleshooting step..."
Consider adding a troubleshooting checklist item to verify that the AZUREADSSOACCT computer account is "Enabled." I spent a few hours trying to figure out why Seamless SSO wasn't working only to eventually discover that some customer admins had identified it as an orphaned computer account, disabled it, and placed it in the Terminated Computers OU.

---
#### Document Details

⚠ *Do not edit this s

[2018-05-21 18:48] lenadroid commented on #8873
@cfarre hi, I haven't seen this error. Try detaching and reattaching a notebook to the cluster?
Could you also add more details:
- What steps have you performed before the error occurred?
- Are you using the Databricks 4.0?
- Have you imported all the libraries?
- What code are you trying to execute?

[2018-05-21 18:52] MicahMcKittrick-MSFT commented on #8937
@keatseongchan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-21 18:52] cfarre commented on #8873
we are using databricks 4.0
we have imported all the libraries
below is the code. it fails here

  incomingStream.writeStream.outputMode("append").format("console").option("truncate", false).start().awaitTermination(

 import org.apache.spark.eventhubs._

    // Build connection string with the above information
    val connectionString = ConnectionStringBuilder("<EVENT HUBS CONNECTION STRING>")

[2018-05-21 18:56] lenadroid commented on #8873
Everything looks right.

If after cluster restart and re-attach of the notebook there's still an error, and if the connection string/hub name is correct for the Event Hubs, I'd recommend creating a support ticket in Azure Portal to look further into what exactly is happening in Spark.

[2018-05-21 18:56] MicahMcKittrick-MSFT commented on #8920
@mmacy can you take a look and confirm?

[2018-05-21 18:56] SnehaGunda commented on #8822
Yeah so there wouldn't be any issues and the code works as is when you use **MongoDB.Driver version - v2.3.0.** . But there is a latest version of this driver **2.6.1** and the code fails with credentials deprecated message when I test it with the latest version.

I will update the code and doc with the latest versions. Thanks for pointing!

[2018-05-21 18:59] CrazeeIvan commented on #8830
It's no problem at all! Happy to help as it's a service I'm currently using!
On that note, do you imagine you'll be updating the documentation or building out the documented functionality?

[2018-05-21 18:59] MicahMcKittrick-MSFT commented on #8917
@eastrd can you provide the links to the docs you are referring to? That way we can check with the authors

[2018-05-21 18:59] SaurabhSharma-MSFT commented on #8863
@johnalejandro001 It appears that there are no Powershell cmdlets available currently to do the same. I encourage you to please leave this feedback for Azure Active Directory through [this](https://feedback.azure.com/forums/169401-azure-active-directory) link.

Or you can use the "Product Feedback" button at the bottom of the page to leave product feedback and ideas.

[2018-05-21 19:01] SaurabhSharma-MSFT commented on #8839
@dferrr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 19:01] #8839 closed

[2018-05-21 19:01] cfarre commented on #8873
do you have pointers to more code snippets?
after i get the messages with below code how can i display them to check if they are correct or dump them in a table?

val messages = incomingStream.selectExpr("cast (body as string) AS Content")

Modified code

val incomingStream = spark.readStream
  .format("eventhubs")
  .options(eventHubsConf.toMap)
  .load()

 eventhubs.printSchema

val messages = i

[2018-05-21 19:02] MicahMcKittrick-MSFT commented on #8937
@novino can you take a look at this one?

[2018-05-21 19:03] femsulu commented on #8903
@ggantija , thanks for the update. Assigned to @YutongTie-MSFT for further investigation.

[2018-05-21 19:06] yanivid3 opened #8941 "Great documentation, Thanks!"
Great documentation, Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the WebJobs SDK - Azure](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
* Content Sour

[2018-05-21 19:11] douglaslMS commented on #8437
@xmark Here's the story for transaction support. I'll be adding this to the documentation. You can use MSDTC transactions only with SQL Server on premises or on Azure virtual machines - NOT with Azure SQL Database. To configure MSDTC on each node of the Azure-SSIS IR, you have to use the Custom Setup capability - [Custom setup for the Azure-SSIS integration runtime](https://docs.microsoft.com/en-u

[2018-05-21 19:11] vincepower opened #8942 "Update the JSON in the parameters file"
Hey, we've updated the parameters file to have a couple more options (addressPrefix, masterSubnetPrefix, nodeSubnetPrefix, and enableCNS) and removed enableCockpit. Is it possible to have the documentation updated.
This is the reference from Microsoft's GitHub repo:
https://raw.githubusercontent.com/Microsoft/openshift-container-platform/master/azuredeploy.parameters.sample.json

---
#### Document

[2018-05-21 19:15] YutongTie-MSFT commented on #8903
@ggantija Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@aashishb Hi, can you please check the product issue and update the document as necessary? Thanks!

[2018-05-21 19:16] MGoedtel commented on #7919
@vasivara-MSFT - please see my previous response and #propose-close.

[2018-05-21 19:16] SaurabhSharma-MSFT commented on #8631
@tumtum73 You can refer to the [link](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-activity-sign-ins-errors) to look for any sign-in error codes, however, 53004 is not documented there.  I have assigned this issue to content author to investigate and update the document as appropriate.

@MarkusVi I see we have [this](https://docs.microsoft.com/en-us/azure/acti

[2018-05-21 19:17] femsulu commented on #8926
@James-Burnham thanks for bringing this to our attention.
@jlian, thanks for the quick response. Please update once the fix is live.

[2018-05-21 19:18] ShevaDas commented on #8781
#please-close

[2018-05-21 19:19] baabel commented on #8245
@BryanTrach-MSFT - Can you please share the additional item to check that you mentioned?

[2018-05-21 19:26] SaurabhSharma-MSFT commented on #8923
@DuoKristina Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-21 19:30] MohitGargMSFT commented on #8840
@ilyas-it83 Please note that the document does have section for [Using just in time VM access via PowerShell](https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time#using-just-in-time-vm-access-via-powershell) which can be used to request access without using portal.

Also in this section [Requesting access to a VM](https://docs.microsoft.com/en-us/azure/security-cente

[2018-05-21 19:31] MohitGargMSFT commented on #8876
@PurpleFuton Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-21 19:32] SaurabhSharma-MSFT commented on #8327
@legwind You cannot modify his specific questions.  Only the registering user can modify his questions and answers.  Please refer to Note at this [link](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-howitworks#how-secure-are-my-security-questions).

[2018-05-21 19:45] MikkelHegn commented on #8874
There are no specific instructions for standalone clusters:
_

_

If your cluster is behind a load balancer, load balancing port 19080 - address the load balancer, otherwise addressing any of the nodes in the cluster is possible.

[2018-05-21 19:48] #8916 closed

[2018-05-21 19:49] lenadroid commented on #8873
Here are some more examples: https://docs.databricks.com/spark/latest/structured-streaming/streaming-event-hubs.html

[2018-05-21 19:52] #7919 closed

[2018-05-21 19:54] jlian commented on #8926
The fix is live. The link works.

[2018-05-21 19:55] georgewallace commented on #8854
@ChrisStewart77 Thanks for the feedback.. I am working on enhancing that doc, but the answer for now until I can update this is you are unable at this time to edit a existing update deployment.  You would have to create recreate the deployment with the added machine.

[2018-05-21 19:58] #8832 closed

[2018-05-21 19:59] arluca commented on #8096
@cbrianball: Thanks for reaching out. The underlying credentials for Managed Service Identities get rolled on a scheduled basis. They are not rolled upon every service restart. Note: These credentials are only accessible to the MSI sub-system.

[2018-05-21 20:20] v-geberr commented on #6754
#please-close

[2018-05-21 20:20] cbrianball commented on #8096
@arluca Can you be more specific about the schedule? If it's a security concern, then you don't have to be exact, but is it every few days, few weeks, few months, etc.? My IT department would like to know this for their documentation, especially around the concern of SOX compliance.

[2018-05-21 20:28] kobulloc-MSFT commented on #8673
@agnimitra We're better equipped to address document issues than product bugs, but I want to make sure that this reaches the right people.  Azure feedback is a great place to start.  Thank you for submitting feedback there.

Additionally, I would like you to email AzCommunity@microsoft.com with a brief description of what you have encountered, your Subscription ID, and a link to this thread to mak

[2018-05-21 20:28] v-geberr commented on #8537
#please-close

[2018-05-21 20:28] MohitGargMSFT commented on #8880
@jintux Please note that you can creates scopes for the web api which can used to assign permission to web api based on it. As the request comes to web api, the scopes presented in the request are verified and appropriate operations are allowed based on it. eg. Web app can be assigned permission to web api based on scopes created as described in this section of the document -

[2018-05-21 20:31] JasonWHowell commented on #8091
@BryanLa take a look if this is in your scope. Thanks, Jason

[2018-05-21 20:36] smoms opened #8945 "CURL POST to get access_token gives error"
when i try to receive the access token (with mentioned CURL -X POST .. command) i get error:

{"error":"invalid_client","error_description":"AADSTS70002: The request body must contain the following parameter: 'client_secret or client_assertion'.\r\nTrace ID: e0522f9e-c1e9-4bb7-bcea-1b0496112200\r\nCorrelation ID: a573fa46-a017-4be0-a603-5a6818ce9717\r\nTimestamp: 2018-05-21 20:34:07Z","error_codes

[2018-05-21 20:36] pebarrer commented on #8840
Do we need "write" access to the VM? What about "Virtual Machine Administrator Login" or "Virtual Machine Login"?  We want to grant login access but prevent modification.

[2018-05-21 20:37] MohitGargMSFT commented on #8896
@ejazr83 Thanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-05-21 20:42] MohitGargMSFT commented on #8906
@limjianan Please note that you can add multiple value names with Value (Data): 1 which indicates the Intranet zone.

[2018-05-21 20:49] algattik opened #8946 "Why under APIs menu"
This content should be under "APIs" in the left-hand menu, since it does not describe an API.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d464be99-8698-32d2-e0be-a971279614f5
* Version Independent ID: 089635f2-41b6-463a-8a07-90e7cda3c8d1
* Content: [Azure AI guide for predictive maintenance solutions](https://docs.m

[2018-05-21 20:49] MikkelHegn commented on #8874
Yes

[2018-05-21 20:52] #8874 closed

[2018-05-21 20:52] jadesai opened #8947 "Rest API support"
How can once leverage this via REST API to check if an authorized user has permission to create/register an AAD Application? The RBAC highest level scope is subscription, but creating an AAD application is at tenant level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c489058-481d-89e9-84a1-33c14fa97da4
* Version Ind

[2018-05-21 20:53] roygara commented on #8888
@knightx12 thanks for reaching out! You should be able to find the repository now.

If you can confirm this so we can close this ticket out, that would be appreciated.

[2018-05-21 20:55] MohitGargMSFT commented on #8935
@Dmenist Please note that the license requirement seems to be correct. If I go to an AAD Tenant with no licenses assigned (free), it does not allow to see Sign-in report and suggest me to start free trial for premium license.

[2018-05-21 20:55] SaurabhSharma-MSFT commented on #8940
@wcneumann Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-21 20:56] #6754 closed

[2018-05-21 21:03] MohitGargMSFT commented on #8840
@pebarrer I am assigning this issue to content author to check and provide further clarification on it in the document.

[2018-05-21 21:06] BryanTrach-MSFT commented on #8245
@baabel I apologize for the delay. It might be possible that you are running into a file lock issue. To avoid this scenario, we would suggest stopping your web app, deploying the new site files, and then resuming the site. In file lock scenarios, some of the files that are being shared across multiple instances might get locked, causing only one instance to receive the new files.

If stopping your

[2018-05-21 21:13] heruwala opened #8949 "WCF Question"
There are lot of organizations where WCF is still used for Data Access. Currently WCF is the biggest bottleneck for us to migrate to Azure. Could you throw some light on how shall we do this where Backend is WCF.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff46628-b5dc-8b02-02b6-8f510d8059b0
* Version Independent I

[2018-05-21 21:13] #8537 closed

[2018-05-21 21:31] iainfoulds commented on #8881
Thanks for reporting the issue, @tanaka-takayoshi

@mahesh-unnikrishnan What would be your preferred way to create the role assignment scoped to `--assignee`? Change to the object ID for scenarios like described here where the user domain and AAD domain don't match? Could that potential cause other issues in the more mainstream use-cases?

[2018-05-21 21:44] jwmoss opened #8950 "Forum link"
The forum link redirects to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37b2e4b1-0c75-f9c2-fd1a-134f09fef731
* Version Independent ID: 0d5517f9-d1d2-b129-1121-5ab64d65bf3b
* Content: [What is group-based licensing in Azure Active Directory?](https://docs.microsoft.com/en-us/azure/active-directory/active-direc

[2018-05-21 21:47] sethmanheim commented on #7874
@algattik Thank you for submitting this report! The fix has been made and should appear within a day or so. #please-close

[2018-05-21 21:49] cynthn commented on #8765
@Bartolomeus-649 Thank you for the feedback. I took out the wording about bandwidth being covered in this article, since it isn't provided for all sizes in this grouping. I'll also have a talk with the owner of the B-series to see whether there is anything else we can add to this going forward. #please-close

[2018-05-21 21:49] vasivara-MSFT commented on #7874
@algattik We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-21 21:49] #7874 closed

[2018-05-21 21:50] sri-cloudsimple opened #8951 "Are Link local addresses allowed for GatewaySubnet?"
Are Link local addresses allowed for GatewaySubnet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d7fd30-80a8-f690-6191-d97ae4cac174
* Version Independent ID: 3e15f99b-2f2d-7adc-a2d9-0b2184989db7
* Content: [Azure VPN Gateway FAQ](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq)
* Content Sour

[2018-05-21 22:00] #8927 closed

[2018-05-21 22:00] #8765 closed

[2018-05-21 22:15] BryanTrach-MSFT commented on #8934
@ajfleming1 Thank you for sharing the feedback. We love to hear when you found something helpful.

[2018-05-21 22:15] #8934 closed

[2018-05-21 22:16] xmark commented on #8437
Thanks for the update @douglaslMS, does this mean support for it is coming, or is there a technical reason why it cannot be supported? Just seems like a large omission from people trying to make use of SQL DB

[2018-05-21 22:17] MrRoyce commented on #8879
Here is some more information from the application logs:

[code]

![screen shot 2018-05-21 at 6 16 11 pm](https://user-images.githubusercontent.com/252359/40332732-297adaa8-5d23-11e8-9fb8-96a0b82b13b4.png)

[2018-05-21 22:18] BryanTrach-MSFT commented on #8941
@yanivid3 Thank you for sharing the feedback regarding this. We are happy to hear you found the doc helpful.

[2018-05-21 22:18] #8941 closed

[2018-05-21 22:18] SnehaGunda commented on #8126
@Mike-Ubezzi-MSFT Andrew is no longer at MSFT, can you assign this issue to me.

[2018-05-21 22:20] douglaslMS commented on #8437
@xmark This is getting farther outside my field of knowledge, but the article about Azure SQL Database transactions does **not** give the impression that the limitation is temporary.

[Distributed transactions across cloud databases](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-transactions-overview)

[2018-05-21 22:27] LuisBosquez commented on #8910
Hello @jonathanfishbein1,

As of today, you'd have to provide the value to each property as a string. A work-around would be to serialize, then encode, the object into a string and store it as a property value.

Thanks,
Luis

[2018-05-21 22:37] davidmu1 commented on #8049
@spottedmahn, @SaurabhSharma-MSFT: I appreciate the pointer to the information. We don't typically link to external repositories. If there is specific information that you think should be added to the overview, we can open a work item to cover it, but for now I don't think there is anything specific that can be done with this article.

#please-close

[2018-05-21 22:42] #8049 closed

[2018-05-21 22:44] vasivara-MSFT commented on #8924
@gumaflux Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-21 22:45] limjianan commented on #8906
@MohitGargMSFT just want to be on the same page.
Refer to https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso-quick-start#detailed-steps   it only use single URL https://autologon.microsoftazuread-sso.com/

but in this page https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-get-started-custom#configure-the-intrane

[2018-05-21 22:48] anwather commented on #8919
Thanks heaps - I understand now

[2018-05-21 22:48] #8919 closed

[2018-05-21 22:49] TravisCragg-MSFT commented on #8826
@antony-chan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-21 22:49] #8826 closed

[2018-05-21 22:51] BryanTrach-MSFT commented on #8949
@heruwala As far as I am aware, there is nothing to prevent you from using a WCF service on an Azure App Service.

Please [see this guide on migrating an on-prem WCF service to Azure](https://blogs.msdn.microsoft.com/brunoterkaly/2014/03/31/moving-a-wcf-service-and-database-to-the-cloud/). The article uses the old Azure portal but the same steps can be followed in the new portal.

Since this quest

[2018-05-21 22:51] #8949 closed

[2018-05-21 22:55] vasivara-MSFT commented on #8938
@midomsft Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-21 22:56] vasivara-MSFT commented on #8945
@smoms Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-21 23:04] TravisCragg-MSFT commented on #8925
@richardspitz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-21 23:06] arightious commented on #8669
I need to know this as well. In my console there is no option to set the version, endpoint or region.

[2018-05-21 23:09] TravisCragg-MSFT commented on #8922
@ashisa Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-21 23:11] xmark commented on #8142
@jason-j-MSFT is there any more updates on this? It is quite likely that external parties will often take longer than 60sec to come back with a response (and ofter out of our control), so this setting would be massively helpful.

[2018-05-21 23:13] SaurabhSharma-MSFT commented on #8950
@jwmoss Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-21 23:14] SaurabhSharma-MSFT commented on #8947
@jadesai Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-21 23:15] SaurabhSharma-MSFT commented on #8939
@johnneycao Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-21 23:16] nhogarth86 opened #8954 "Device Administrators role"
Hi, the documentation says there is a role called "Device Administrators" but it does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Assigning administrator roles in Azure Active Directory](https:/

[2018-05-21 23:17] SaurabhSharma-MSFT commented on #8885
@JJ Thanks for sharing the screenshot ! We will investigate and update as appropriate.

[2018-05-21 23:19] MarkusVi commented on #8923
Hi @DuoKristina, I have staged an update that covers these error codes.

#please-close

[2018-05-21 23:20] Adam-Smith-MSFT commented on #8900
@HZass  Hans, Thanks for your reply, is it possible to attach your pictures here ? I think the email client you used didn't upload them. I can check with the storage explorer team about this issue once we get the screenshots.

[2018-05-21 23:20] MarkusVi commented on #8750
Hi @dstreefkerk, I have staged an update that covers this error.

#please-close

[2018-05-21 23:34] MohitGargMSFT commented on #8906
@limjianan Sure, I will assign this to content author to check and update as appropriate.

[2018-05-21 23:41] TravisCragg-MSFT commented on #8921
@buzzfrog Thank you for the feedback. The change should be reflected within the next 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-21 23:41] #8921 closed

[2018-05-21 23:50] kobulloc-MSFT commented on #8673
@agnimitra Upon further investigation it appears that when you sign out from the portal, you are only terminating the portal session and not the user session.  When you are pasting the URL, you've creating a new portal session with your still valid user session.

[2018-05-21 23:56] cdaniel96 commented on #8513
@spelluru this happens with me when I try to access using a Microsoft Account. Using a work account I see what you had described, a week ago.

[2018-05-21 23:56] BryanLa commented on #8925
@richardspitz - good catch, and thanks very much for reporting this. I will get this fixed asap. It should be updated on the site around 10:30 PDT tomorrow a.m..

[2018-05-22 00:01] MarkusVi commented on #8692
Hi @rraugusto, I have staged an update that includes 50056. A system can't know whether a right user has entered a wrong password.

#please-close

[2018-05-22 00:05] SaurabhSharma-MSFT commented on #8954
@nhogarth86 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-22 00:11] MarkusVi commented on #8631
Hi @tumtum73, I have staged an update that includes the missing error.

#please-close

[2018-05-22 00:11] TravisCragg-MSFT commented on #8951
Virtual Networks must be within the Address Ranges defined in [RFC 1918](https://tools.ietf.org/html/rfc1918)

[code]
The Gateway Subnet must be within the IP Addresses of the Virtual Network, so it is not possible for the Gateway Subnet to have the IP Addresses of IPv4 Local Link: 169.254.1.0 to 169.254.254.255

[2018-05-22 00:11] #8951 closed

[2018-05-22 00:12] ethanyoung opened #8955 "`select_account` is also a valid value for `prompt` query string"
`prompt=select_account` allows users to pick a logged-in account or use another un-logged-in account to continue. I have tried this value and it actually works, but it is not documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2870d4a9-e204-023a-56a8-c34e56347b43
* Version Independent ID: 846fe3ae-2

[2018-05-22 00:19] YutongTie-MSFT commented on #8946
@algattik Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@fboylu Hi, this is a doc-enhancement issue, can you please loot at it and update the document as necessary? Thanks a lot!

[2018-05-22 00:32] MarkusVi commented on #8896
Hi @ejazr83, thanks for your contribution, I have created a backlog item to track this.
I will update the article with the link as soon as I have one.

#please-close

[2018-05-22 00:34] jkwon2013 commented on #8513
@cdaniel96 and @mjphotopro This is a known issue on our side that happens if you try to sign in with a Microsoft account. If you use a work or school account (AAD account), things should work normally. We're hoping to get this fixed in the next week or so, so I'll update this thread once we fix the MSA issue.
Please let us know if you see another issue when you're not using a MSA.

[2018-05-22 00:42] Bartolomeus-649 commented on #8765
Ok, so this resulted in even less info on network performance being available.

Why not just let the owner of the B-Series group write the documentation themselves?   It would be much more efficient, any it would be in their interest to provide good documentation, if they, themselves would have to spend time reacting to user feedback on that documentation.  Also, they are the only ones who know wh

[2018-05-22 00:48] ajlam commented on #8764
@saurabhjain39, can you please confirm the versions of your components (.NET Core, MySQL Connector)?

[2018-05-22 00:54] femsulu commented on #8694
@Anmolgan81, MSDN Subscriptions, now called Visual Studio Subscriptions. Visit [HERE ](https://www.visualstudio.com/subscriptions/)for more information and [HERE](https://www.visualstudio.com/vs/pricing/) for pricing details.  Now closing this issue but glad to re-open if you have any related questions.

[2018-05-22 00:54] #8694 closed

[2018-05-22 00:54] TolliLF opened #8956 "Folders generated in step #2 don't match what current version of script expects"
When I ran against AAD cert I had extra folders.
Original:
$directories = 'ACSBlob','ACSQueue','ACSTable','ADFS','Admin Portal','ARM Admin','ARM Public','Graph','KeyVault','KeyVaultInternal','Public Portal'
updated:
$directories = 'ACSBlob','ACSQueue','ACSTable','Admin Portal','ARM Admin','ARM Public','KeyVault','KeyVaultInternal','Public Portal'

ADFS & Graph are needed if running with ADFS Ident

[2018-05-22 00:56] TolliLF opened #8957 "Warning text does not match current parameters"
Warning Text:
Warning only: The public information of this certificate is unprotected. We recommend fully protecting the certificate by selecting "Enable certificate privacy" when exporting the certificate from the local machine store. Run Start-AzsReadinessChecker [-pfxPassword <SecureString>] -pfxPath <String> -ExportToPath <String> [<CommonParameters>] to re-export the PFX to a supported format

[2018-05-22 01:01] femsulu commented on #8926
@jlian , thanks for the update.
@James-Burnham We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 01:01] #8926 closed

[2018-05-22 01:01] MicahMcKittrick-MSFT commented on #8765
@Bartolomeus-649 The owner of the B series is the one who determines what needs to be present in the doc then we have an author draft it. In the case of the B series you are not the first asking for this information. The design of the B series does not provide the user with a consistent level of network performance so providing specific numbers on them is not something we want to include. Even if

[2018-05-22 01:01] curtand commented on #8950
Hi @jwmoss, The old forum for group-based licensing is no longer there. I rerouted to the admin portal forum on the same site, feedback.azure.com. It will be published tomorrow morning at 10 AM.

[2018-05-22 01:05] jwmoss commented on #8950
Great thanks!

[2018-05-22 01:19] Bartolomeus-649 commented on #8765
Ok, so what you are saying is that we can't even be sure to get network connectivity at all...the bandwidth could be zero bytes/s, and if we get network in the B-Series it could be limited and never go over 100 kbit/s or even less, all based on completely random and unknown factors?

[2018-05-22 01:33] Mike-Honey commented on #8882
I’m frustrated by how detailed and complex the functionality and pricing is for what I expected to be the simplest of Azure services.  After 30 minutes reading I still have no clue about what I will be charged and why – just a lingering dread that I have chosen the “wrong” options that will result in higher charges buried obscurely in our bill.

Good software design is about shielding the user/cus

[2018-05-22 01:48] eastrd commented on #8917
@MicahMcKittrick-MSFT Hi, I was referring to the [Compute Benchmark Pages](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/compute-benchmark-scores.md).

[2018-05-22 01:52] tyrotoxin opened #8959 "Order of properties"
I hope that 'dataVersion' and 'metadataVersion' come before the 'data' in the JSON, and this is just a documentation oversight.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ebb06fe-1481-145a-23ff-0de5c8a9df56
* Version Independent ID: aeb73dd2-1cbc-655a-beef-6425a032640a
* Content: [Azure Event Grid subscription eve

[2018-05-22 02:05] novino commented on #8937
One node cluster is not supported for production by Service Fabric or Patch Orchestration Application.

For 1 node test clusters any patching operation would result in downtime for all services.
POA, repair manager, failover manager would've to be tweaked to allow such aberration. It may or may not be possible to do it with configuration change alone.

[2018-05-22 02:06] cynthn commented on #8837
@saachinvettiyattil if you still have this active, can you take a look at the snapshot in the portal and see if you have a message that looks like: "A SAS URL has been generated for this snapshot for export. You can cancel the export by clicking the button below. This will revoke the SAS URL and may cancel any in-progress transfers if the snapshot is currently being downloaded to another location.

[2018-05-22 02:09] knightx12 commented on #8888
Repository Link Updated. Please Close this ticket.

[2018-05-22 02:12] #8750 closed

[2018-05-22 02:18] bottkars opened #8960 "Appservice 1.2 fails downloading Functions"
With current release, AppService Setup fails downloading Functions_1_0_11612, and setup cannot continue ... Any Fix ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26ee2047-e51e-cf36-1bde-6919b2c5f3cf
* Version Independent ID: c4e207d0-be8b-8096-52ad-04e0d029d1e2
* Content: [Deploy App Services: Azure Stack](https://d

[2018-05-22 02:18] toolboc opened #8961 "Issues with Powershell script"
The value for $labStorageAccountKey` is never used in the section **PowerShell script to create a custom image from a VHD file**.

Attempting to use the script as-is results in the following error message:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a96b4af7-04e1-763b-90a4-d43e85cb0787
* Version Independent

[2018-05-22 02:27] georgewallace commented on #8877
@amoghnatu I have made the changes, they will be live in the morning, I will let you know when they are live.

[2018-05-22 02:37] keatseongchan commented on #8937
For dev environment, we don't care about downtime when the node is rebooted.   I was able to add up to 3 nodes on the underlying VMSS and got the POA to become healthy.  Similar to enabling RepairManager, it would be nice if this is spelled out on the requirement.   FYI, I was able to use https://resource.azure.com to enable RepairManager.   It certainly was not obvious.   Also, the preview portal

[2018-05-22 02:50] TravisCragg-MSFT commented on #8961
@toolboc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 03:02] TravisCragg-MSFT commented on #8959
@tyrotoxin The order of name/value pairs in a [JSON ](http://json.org/)object does not matter.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-22 03:04] TravisCragg-MSFT commented on #8957
@TolliLF Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 03:06] genlin commented on #8866
@krptodr  Thanks for the feedback, Yes, the link is wrong. I have submitted a pull request to correct it.

[2018-05-22 03:06] TravisCragg-MSFT commented on #8956
@TolliLF Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 03:16] rwike77 commented on #8675
@suhuruli , any suggestions?  Thanks.

[2018-05-22 03:37] rwike77 commented on #8029
@tastyeggs  The links are working now, sorry for the inconvenience.  #please-close

[2018-05-22 03:39] rwike77 commented on #8470
This should be resolved, now.  #please-close

[2018-05-22 03:45] VitaChen1228 opened #8962 "xXx"
xxxx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddc18273-8bbe-951d-d6a4-acc903772614
* Version Independent ID: 29d66337-5772-6187-b64b-02607a682fe3
* Content: [Autoscale Azure resources based on performance data or a schedule](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-tutorial-autosc

[2018-05-22 04:13] nhogarth86 opened #8963 "Sentence typo"
"The following is required before the configuration. However the following prerequisites are required.""it should be one or the other. Possible typo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d91f97c-a14f-6554-a788-519ca944eabb
* Version Independent ID: c92d0fd1-f3c6-e641-c7ae-4b55eaf1b3de
* Content: [Azure AD Co

[2018-05-22 04:27] MicahMcKittrick-MSFT commented on #8765
@cynthn please include me on any conversations with the B Series owner so I can be sure to voice any concerns on this doc :)

[2018-05-22 04:37] thwpike commented on #8462
A quick work around for this appears to be to comment out the soft delete update code:

[code]

And add the `EnableSoftDelete` option in the Key Vault creation:

[code]

This is obviously not ideal if using an existing Key Vault which doesn't have soft delete enabled as it won't be updated.

[2018-05-22 04:54] CelesteDG commented on #8835
Thank you, @navyasric - Can you please review the new step 8 here: https://review.docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-devquickstarts-openidconnect-nodejs?branch=pr-en-us-41858#step-1-register-an-app - I added that step 3 (in the register your app section) based on your feedback. Please let me know if you have any suggested tweaks. I will sign off once I have yo

[2018-05-22 04:57] tyrotoxin commented on #8959
I think you are missing the point. In order to efficiently parse the JSON container with the data in it, ideally you should know the data format version in advance (like headers in HTML). With given schema you need to parse entire JSON, figure out the data format version, then re-parse, or use previously built dynamic JSON object - most likely the Newtonsoft JSON library is used - that's another u

[2018-05-22 04:58] jintux commented on #8880
@MohitGargMSFT this is exactly what I understood from the current documentation. My question is, how can I give one user read scope and another user read-write scope?

[2018-05-22 04:59] apwestgarth commented on #8960
Hi,
    looking at the log, the installer was unable to verify the signature of the download, which would suggest an incomplete or corrupt download - [A44C:6A04][2018-05-22T03:44:46]: [Websites]: Signature verification failed on downloaded file. URL: http://download.microsoft.com/download/3/6/8/368BBF2A-1679-4C44-8865-C7873B95290B/webpi/installers/Functions_1_0_11612/SHA1/Functions.1.0.11612.zip.

[2018-05-22 05:05] genlin commented on #8866
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#please-close

[2018-05-22 05:15] KumudD commented on #8252
Fixed.

#please-close

[2018-05-22 05:17] SatyandraV-MSFT commented on #8820
Hi Saurabh, thanks for information. but I see this "Join a device to Azure AD" feature is available for all the AAD editions. even free and basic allows device join.

[2018-05-22 05:34] TravisCragg-MSFT commented on #8959
@tyrotoxin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 05:35] #8866 closed

[2018-05-22 05:35] TravisCragg-MSFT commented on #8252
@pagrenin We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-22 05:35] #8252 closed

[2018-05-22 05:39] tyrotoxin commented on #8959
Great, hope that helps. And sorry, I implied the problem, and didn't know that the request doesn't go to the authors of the component.

[2018-05-22 06:02] SaurabhSharma-MSFT commented on #8955
@ethanyoung Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-22 06:05] saachinvettiyattil commented on #8837
@cynthn
Yes i do see a message saying  sas url has been generated for this snapshot for export. you can cancel the export by clicking the button below.
It seems like sas url has been generated but some how cannot bind the parameter to absolute uri.

after generating the sas uri through portal and passing the value to the parameter it work fines,
but while generating it through powershell doesnot w

[2018-05-22 06:06] SaurabhSharma-MSFT commented on #8963
@nhogarth86 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-22 06:17] HemantChandurkar commented on #8346
Thanks

[2018-05-22 06:35] BharathMannem commented on #8834
Thanks for your feedback, i corrected it myself, i am getting the data now.

[2018-05-22 06:36] novino commented on #8937
Can you elaborate this part ? Did you follow different steps than what was mentioned [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-patch-orchestration-application#prerequisites) ? Also which preview portal are you referring to ?

You can set Windows update setting to automatically update your machine if downtime or reboot doesn't bother you. POA doesn't support this s

[2018-05-22 07:06] richardspitz opened #8965 "Correction required: Step 3 of "View metrics for your logic app""
The image below this step shows "Runs Failed" but the step says choose "Runs Started". The step needs to be corrected to "Runs Failed".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432527f3-ddd9-0a90-ccf8-55b264b797ad
* Version Independent ID: 05976f6f-c69f-9d2f-7a07-f3ea0bd44f7c
* Content: [Receive a notification wh

[2018-05-22 07:13] Anmolgan81 opened #8966 "Is there any resources move limitation across Subscription?"
I want to know if there is any limit when moving resources across subscription, I come across a limitation where I cannot move resources which are more then 100+, can you tell me the exact number (exact limit), that is supported when moving resources across subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-22 07:13] Anmolgan81 commented on #8684
Any details on this one?

[2018-05-22 07:44] pwiggers opened #8967 "Missing information between step 9 & 10"
You are asked to select the storageName variable leaving you with: "value": "[reference(variables('storageName'))]"

In step 10 the example code looks very different from what you are left with in step 9 and when deploying the template it fails with the message: "Deployment failed. Correlation ID: 679dae78-c478-40ab-9402-dadb35c82d66. The template output 'storageUri' is not valid: Index (zero base

[2018-05-22 08:45] JDWNL commented on #6313
This doesn't actually solve the issue; the documentation at least needs to be updated with another step saying something like "you can now go ahead and update the registry key manually with Powershell" or something. Future feature or not, the title of the article is does not describe what the article is about; namely explaining how to find which VM is impacted by a certain rule violation. Alternat

[2018-05-22 09:09] RemiBou opened #8969 "Where is this log ? "Application and Services Logs\Operations Manager""
You don't say where we should find the log named "Application and Services Logs\Operations Manager" on the troubleshooting paragraph, is it on the VM ? or on OMS ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Content

[2018-05-22 09:14] andyjballgit opened #8970 "Retrieve the secret on Application Start section Calls to Utils.GetToken has no params"
yet the method takes 3 params ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9bf1784-2765-30b5-3709-614d29deea82
* Version Independent ID: dd18c9a0-35ba-7e63-bd45-bc15de06749e
* Content: [Use Azure Key Vault from a Web Application](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-use-from-web-application)

[2018-05-22 09:40] whataride opened #8972 "Is there a way to bypass the 90-minute script execution limit?"
The reason I want to do it is that my script (machine learning model training) in a VM may run a day or so. Of is there an alternative way to do it? Basically, I would like to programatically start a machine (after training data is available e.g.), run a script, and shut down the machine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-05-22 09:52] cstainie opened #8973 "Partner Organizaton - Membership Management"
Where can we find more information about the topic discussed in the video around 14:05?

It is related to the membership management being done by the partnering organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f8cb0a2-6df6-06d6-8cda-df18c0b2f32f
* Version Independent ID: e452da86-6fd9-0919-2f87-74a196b72c4

[2018-05-22 09:59] MSSedusch commented on #8891
Thanks @cbgermany for reporting this issue. It is fixed and should be live soon.

[2018-05-22 10:06] OlegKarasik opened #8974 "C# code sample has invalid variable in preferred domain section"
The C# code sample has invalid variable passed to `PlacementPolicies.Add()` method in [Preferred Domain](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies#specifying-a-preferred-domain-for-the-primary-replicas-of-a-stateful-service) section.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-05-22 10:08] saurabhsensharma commented on #7029
@NonSecwitter please note that the article you referred to is the powershell article for MARS agent. Just saw that you are using DPM and the right doc for DPM is actually this one https://docs.microsoft.com/en-us/azure/backup/backup-dpm-automation .. Please try the same and let us know if you continue to face issues.

[2018-05-22 10:08] saurabhsensharma commented on #7029
#please-close

[2018-05-22 10:09] baygeldin commented on #8462
@thwpike thanks, it worked for me. However, the following line should **not** be commented out:
[code]

[2018-05-22 10:12] cephalin commented on #8775
@BryanTrach-MSFT Do you have the pull request? Send it to @erickson-doug

[2018-05-22 10:19] OlegKarasik opened #8975 "Example pictures looks inaccurate."
All pictures in the examples has the inner text of "domains" block overlap block borders. Please see the "DC/West" on [picture](https://docs.microsoft.com/en-us/azure/service-fabric/media/service-fabric-cluster-resource-manager-advanced-placement-rules-placement-policies/cluster-preferred-primary-domain.png) for example.

Also the curly brackets with text like `{ 3 Replicas` are of light blue colo

[2018-05-22 10:29] kpstolk commented on #6730
@tfitzmac Any idea if this feature is on the roadmap?
This is the only missing feature holding me back from using Event Grid..

[2018-05-22 10:34] BenTeo11 commented on #8879
I Just experienced similar problem in windows. 'This page is not working xxx.azurewebsites.net is currently unable to handle this request.
HTTP ERROR 500'

[2018-05-22 10:38] cephalin commented on #8076
Screenshot fixed. #please-close

[2018-05-22 10:54] jphogberg opened #8976 "Error Type: Conflict"
I've followed this guide and part 1 to the letter but can't get past creating an event subscription, just keep getting an error with status "Conflict"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cad5909e-e1c6-aa8e-82f1-f2851c1caced
* Version Independent ID: 42292330-aa69-9df0-5bd7-e07c9daed995
* Content: [Use Azure

[2018-05-22 10:57] GitHubMWJ opened #8977 "Missing Code 90010"
Missing code 90010 - Used when testing conditional access policy.
Behaviour was correct. The test device was blocked from accessing SharePoint Online from a non-approved app (OneSync on Play store).
Policy required either hybrid domain joined machine or approved app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a

[2018-05-22 10:58] jphogberg commented on #8976
Might be worth mentioning that it is on my Azure for Students account and I'm the owner so should have full rights

[2018-05-22 11:12] rich-davies opened #8978 "Code snippet does not work in Runbook."
Your sample PowerShell snippet: "Connect-AzureRmAccount -ServicePrincipal -Tenant $Conn.TenantID -ApplicationId $Conn.ApplicationID -CertificateThumbprint $Conn.CertificateThumbprint" does not work.  It gives the error:
"Connect-AzureRmAccount : The term 'Connect-AzureRmAccount' is not recognized as the name of a cmdlet, function, script
file, or operable program. Check the spelling of the name, o

[2018-05-22 11:18] WiktorJagusiak opened #8979 "Problems"
1) hookbin.com is not working
2) Endpoint must be https

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3ff1840-cc3e-41ed-9f4b-d3cee2626eeb
* Version Independent ID: 18d87120-d1ac-b8cd-1c8c-6bd593386570
* Content: [Custom events for Azure Event Grid with PowerShell](https://docs.microsoft.com/en-us/azure/event-grid/cus

[2018-05-22 11:30] arjun-hareendran opened #8980 "Data factory not generating the json code / mapping"
Folks , what are the scenarios which causes data factory not to generate the backend json code ?  . When i click the code button on a copy activity it doesn't show me anything . The pipeline cannot be published as it throws error with out any message.  Is there a place that can show me the error message , FYI  the validation option shows there isn't any error in my pipeline

---
#### Document Deta

[2018-05-22 11:38] michelejohlbs opened #8981 "Article Date"
Why is the article date set as 11/09/2017, but the article history shows multiple updates in the last couple of days? Surely if updates are made the article date should reflect this or at minimal show the public the last modified date next to the article date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc5a36a7-2ac

[2018-05-22 12:04] baabel commented on #8245
@BryanTrach-MSFT Thanks.  We previously had scripting to stop/deploy/start and removed the stop/start because we thought the wardeploy supported this.  Our ZipDeploy to app service of .NET apps is working without start/stop. Perhaps like you said something in the JAVA/TOMCAT environment is holding file locks.  Thanks.

[2018-05-22 12:05] #8245 closed

[2018-05-22 12:09] djpirra opened #8983 "Correct spelling..."
Steam -> Stream

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25d5ce69-2d77-7a6b-48d7-bdb23195b57a
* Version Independent ID: 1fa840a4-2241-7332-e9b8-dcb3bf18904d
* Content: [Use Azure Stream Analytics with SQL Data Warehouse](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-integrate-azure-

[2018-05-22 12:15] turbolego opened #8984 "Please update information in regards to Python modules for ARM-based containers"
Quote: "Important

Currently the Python module can only be run in amd64 Linux containers; it cannot run in Windows containers or ARM-based containers."

What is this then?

https://github.com/Azure-Samples/azure-iot-starter-kits

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Versi

[2018-05-22 12:18] marvoh opened #8985 "HTTP endpoints call from c#"
To make the code portable, it makes more sense posting to the Endpoints. Any chance of giving a complete example under such a scenario? I've been battling with it for the last 8 hours and cannot get my JSON to be serialised to the required format

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58

[2018-05-22 12:37] MarkusVi commented on #8935
Hi @Dmenist, the article is correct in conjunction with the license requirement. Could you please be a bit more specific? Under which troubleshooting solution do you see the 7 days for sign-ins listed?

[2018-05-22 12:51] MarkusVi commented on #8367
Hi @NickDorak, **Apply policy only to supported platforms** has the same meaning as this:

![image](https://user-images.githubusercontent.com/7740743/40363131-e24dcefe-5dce-11e8-96a5-6f0b63f4d8ed.png)

However, because Exchange Active Sync does currently not support setting other conditions, the option to narrow down the scope to supported platforms is a workaround. I will add a note to the articl

[2018-05-22 13:18] dominicbetts commented on #8815
@femsulu  - the author is @tbhagwat3. Please label this issue iot-central, not iot-suite, thanks!

[2018-05-22 13:19] HZass commented on #8900
Okay, I have attached two files that illustrate the issue.  You will be able to see that the same folder locations yield two different results.

Regards,

Hans

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Monday, May 21, 2018 7:20 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: HZass <zass38@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs

[2018-05-22 13:19] Dmenist commented on #8935
Hi Markus,

Thank you for reaching out. This appears to be no longer accurate.

Looking into it now, it appears that this was corrected. I was mentioning the troubleshooting guide in the portal. * See below. I received a screenshot a little while ago, where it stated 7 days of Sign in Activity for Azure AD Free. (There is now even an Addendum* added to show that individual user blades will show si

[2018-05-22 13:33] NickDorak commented on #8367
Still, unclear, so if I choose "Apply policy only to supported platforms", the rule will be enforced on pretty much every app running on every version of ever OS other than Linux? and if I don't choose it, then the same rule will work on un-supported platforms too (i.e. everything)?

[2018-05-22 13:37] zarchigl opened #8986 "Any option to add more VMs after the start/stop is created."
1. Is there any option to add more VMs after the start/stop is created?
2. After the schedule is created to start/stop, where can check which VMs are in that schedule ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-1136-faf7-542214492096
* Co

[2018-05-22 13:40] yobyot opened #8987 "ASG documentation needs an illustration"
The new ASG capability is incompletely documented until it contains an illustration of how ASGs work with NSGs and VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure network security overview](https://

[2018-05-22 13:58] jsypkens opened #8988 "Service throttling"
The pricing details page does not indicate any sort of request throttling, but, in testing, it appears that the service does throttle requests. Translating 40,000 characters in parallel takes ~50 seconds, but when MaxDegreesOfParallelism is set to 5, it takes only 2 seconds.

Can you update the documentation to elaborate on the throttling criteria of the service?

---
#### Document Details

⚠ *Do

[2018-05-22 14:03] barbkess commented on #8981
Hi,
Updating the date is a manual operation.  We don’t always update the date for every change, especially if it’s a change to metadata.

Barb

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Michéle Johl <notifications@github.com>
Sent: Tuesday, May 22, 2018 4:39:04 AM
To: MicrosoftDocs/azure-docs
Cc: Barbara Kess; Mention
Subj

[2018-05-22 14:05] netlander1 commented on #8415
Thanks!

We are using the PostgreSQL ODBC driver. I've looked over that documentation before, but the documentation on how to install and modify ODBC drivers in a custom setup is a bit light :) (I know it's in preview, but hopefully a bit more documentation can be built around that)

The issue that I'll see with it is how to modify the driver, as below, without the GUI. I'm sure there is a way, bu

[2018-05-22 14:08] tastyeggs commented on #8029
@rwike77 thank you.

[2018-05-22 14:08] #8029 closed

[2018-05-22 14:15] bottkars commented on #8960
works now without changing or deleting anything. however, tried to download the file manually as well that time wich did not work ( file not found ), maybe a webserver issue ?

however, we can close that for now

[2018-05-22 14:15] #8960 closed

[2018-05-22 14:17] johnkwaters opened #8989 "How do you specify the connection string when deploying to a docker container?"
The variable Azure:SignalR:ConnectionString - what should that look like if you specify it as an app setting or an environment variable when deploying a dotnetcore azure app service to an Azure Linux Docker Container that uses Azure Signal R?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f

[2018-05-22 14:19] jimdial commented on #8118
@ krptodr I added a single route (for a secondary interface), then used ping to test, per the instructions. I received replies, with no additional steps necessary. I'm not sure why you're not receiving replies. Azure's default routing routes traffic between subnets (using the .1 address for the subnet as the gateway, which is assigned to each primary interface), so a reverse route (within an opera

[2018-05-22 14:20] tfitzmac commented on #6730
@kpstolk - there are no updates right now about event batching. I am curious to hear why event batching is critical to your scenario.

[2018-05-22 14:23] davidmu1 commented on #7653
Added a step to record the applicationURL setting and added instruction to use recorded value in configuration.

#please-close

[2018-05-22 14:26] netlander1 commented on #8415
Thanks!

We are using the PostgreSQL ODBC driver, and modifying it as shown below.

https://odbc.postgresql.org/

I've looked over that documentation before, but it's a bit light on the process on how to install an ODBC driver. :) (I know it's in preview, but hopefully it will be more documented once it goes GA.)

The only issue, outside of knowing how to install the driver, is how to modify the c

[2018-05-22 14:31] davidmu1 commented on #7913
@justrhysism We received this link from the engineering team, hope it might help: https://social.msdn.microsoft.com/Forums/en-US/f7a26ab7-940e-40a2-8147-29447f84314c/azure-b2c-step-up-authentication?forum=WindowsAzureAD.  We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close

[2018-05-22 14:35] agnimitra commented on #8673
@kobulloc-MSFT you are right, the user session is not been terminated correctly. The user session is created by calling APIM restful API (generateSsoUrl). Microsoft Azure should provide a similar kind of API to terminate that session, or terminate APIM session of an user.

meanwhile I have sent an email to AzCommunity@microsoft.com with details.

[2018-05-22 14:38] agnimitra commented on #8673
@kobulloc-MSFT I understnad that this forum is for "Documentation Feedback". Then I would request you to please document the "Sign-out" option/steps in detail :) . I did looked into the sample application for delegate, that also do not explain about my senario and have the same defect.

[2018-05-22 14:51] ifmorrison opened #8990 "G Suite enterprise application does not appear to exist"
I have tried following this tutorial, however the enterprise application "G Suite" referenced in the beginning of this tutorial does not appear to be exist. Has this been removed, or should I use a different application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Indep

[2018-05-22 15:08] isaac2004 opened #8992 "Azure Media Services v3 Not Compatible with Azure Function"
I am trying to recreate this walkthrough as an Azure Function, and it seems there is some incompatibility between the Azure Function SDK and Microsoft.IdentityModel.Clients.ActiveDirectory. If you try to create a new `ArmClientCredentials` like so

[code]

You get an error like so

The particular nuget package is added to the project. Is this something that requires an additional step not shown he

[2018-05-22 15:21] sariyandath opened #8994 "Update data based on conditions"
How to update documents based on conditions?
For example, I have three fields in my document like 'Date Assigned, 'Date Completed' and 'Date Approved'. Now I want to introduce a new field called "Date Modified" with the latest value of 'Date Assigned, 'Date Completed' and 'Date Approved'. Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-05-22 15:24] kpstolk commented on #6730
@tfitzmac Mainly to reduce the number of outgoing http connections: I need to read and write data from and to Elasticsearch, which performs better [using bulk requests](https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-indexing-speed.html).

[2018-05-22 15:28] davidmu1 commented on #8100
@spottedmahn We received this link from the engineering team, hope it might help: https://social.msdn.microsoft.com/Forums/en-US/f7a26ab7-940e-40a2-8147-29447f84314c/azure-b2c-step-up-authentication?forum=WindowsAzureAD. We have opened an item in our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close t

[2018-05-22 15:33] NonSecwitter commented on #7029
@saurabhsensharma I've tried following the steps in both articles. The MARSAgentInstaller doesn't seem to be including the MSOnlineBackup module. This is across three servers so far, all using the link in the article you referenced. When browsing the agent installation directory, the modules folder is missing entirely.

[2018-05-22 15:36] tfitzmac commented on #8966
@Anmolgan81 - thanks for this question. I am trying to track down the answer.

[2018-05-22 15:39] #8891 closed

[2018-05-22 15:40] #8118 closed

[2018-05-22 15:43] spottedmahn commented on #8100
cool, thanks 🙏 @davidmu1

[2018-05-22 15:43] #8100 closed

[2018-05-22 15:44] MicahMcKittrick-MSFT commented on #8974
@OlegKarasik Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-22 15:45] davidmu1 commented on #8133
@spottedmahn @MicahMcKittrick-MSFT : We don't typically document error codes all on one page anymore and wouldn't document them on the article that this issue is attached to. What I would recommend is that when the description of an error code is needed in context of describing the action that a customer would take in an article, we put that information there.

So, if the error codes that you desc

[2018-05-22 15:45] MicahMcKittrick-MSFT commented on #8975
@OlegKarasik Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-22 15:45] cjgronlund commented on #8669
Please assign to @noellelacharite
#in-progress

[2018-05-22 15:47] kobulloc-MSFT commented on #8989
@johnkwaters Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-22 15:48] #8133 closed

[2018-05-22 15:49] mmacy commented on #8920
Hi @ianalderman, any additional questions or concerns on this? If not, I'll move forward with requesting this issue be closed. Thanks, MM

[2018-05-22 16:00] MikkelHegn opened #8996 "Add description for debugging without default services"
See here: https://github.com/Azure/service-fabric-issues/issues/1069#issuecomment-390947322

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8adfa1c-0bb9-c112-3463-0d655a3e7cd1
* Version Independent ID: ef09b17d-cebf-56ca-7f59-71dba2dc3123
* Content: [Debug your application in Visual Studio](https://docs.microsoft.com/e

[2018-05-22 16:08] tfitzmac commented on #7650
@tonybendis - if you are still having a problem with Key Vault and templates, feel free to reopen this issue. Otherwise, we'll close it.

#please-close

[2018-05-22 16:09] MicahMcKittrick-MSFT commented on #8972
@whataride we don't have a way for you to bypass the 90 min limit. If a custom script runs longer than 90 mins it will time out by design. You could try setting up the script you want to run through a remote PowerShell session. That way you can run it directly on the machine and not through the Custom Script Extension.

https://stackoverflow.com/questions/32053865/using-powershell-to-run-a-remote-

[2018-05-22 16:10] roygara commented on #8888
@knightx12 Thanks for confirming!

#please-close

[2018-05-22 16:12] tfitzmac commented on #7674
@bmoore-msft - do you know a bit more about why Copy is not available in the Outputs section?

[2018-05-22 16:14] BryanLa commented on #8925
#in-progress

[2018-05-22 16:15] MicahMcKittrick-MSFT commented on #8974
@OlegKarasik thanks for the find! I have made the changes. Once they merge this issue will automatically close.

[2018-05-22 16:17] SychevIgor opened #8997 "Update screenshots with classic managed portal"
https://docs.microsoft.com/en-us/azure/active-directory/connect/media/active-directory-aadconnect-accounts-permissions/aadsyncserviceaccount.png (chapter Azure AD service account
) this image done on classic portal that no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09eeca8-9ac6-433b-0f75-097f45e14

[2018-05-22 16:18] curtand commented on #8332
Hi @SychevIgor ,
The correction is being published at 10 AM
https://github.com/MicrosoftDocs/azure-docs-pr/pull/41887

[2018-05-22 16:27] curtand commented on #8754
@andyjballgit
It's not possible to assign a group to a role right now. It's being discussed in planning, but that's far from completed at this time. I'll look at making this more explicit. Thanks for your contribution!
#please-close

[2018-05-22 16:31] curtand commented on #8605
Hi @LedoGit and @SaurabhSharma-MSFT
I'll check with my PM. The doc is correct for the behavior in the Azure AD portal. I'll talk to the Office folks.

[2018-05-22 16:32] jlon125 commented on #8826
@TravisCragg-MSFT Has this been fixed, and if not, can you tell us when it will be?

Additionally, is there no way to change the size of the subnet gateway without completely removing the VNG?

Thanks!

[2018-05-22 16:33] Mike-Ubezzi-MSFT commented on #8647
Reference: Screen capture of Visual Studio showing successful execution of Cloud Table tutorial.

![screenshot 6](https://user-images.githubusercontent.com/37126106/40376352-f66d4e40-5da2-11e8-95cb-21004b866040.png)

[2018-05-22 16:34] Mike-Ubezzi-MSFT commented on #8647
@tarunendra We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Regards,
Mike

[2018-05-22 16:34] #8647 closed

[2018-05-22 16:34] danabrash opened #8998 "Existing NICs, Load Balancers, etc"
Problem I have with this is that I can't pick existing NICs to map to when I migrate (A2A).  Thus I'm left to map to temp NICs, then create the NICs I want, power off the VMs, attach the right nics, remove the temp NIC, and restart the VM.  Then I have to go back and check all my AppGW, LB, and Traffic Managers.  This is, politely, ridiculous.  I will continue to look for evidence that I'm wrong a

[2018-05-22 16:35] Mike-Ubezzi-MSFT commented on #8655
@scarson We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 16:35] #8655 closed

[2018-05-22 16:35] kpstolk commented on #6730
@tfitzmac Thanks for the suggestion, but I've already tried using an Azure Storage Queue, which is quite limited compared to Azure Event Grid. It [can handle](https://docs.microsoft.com/en-us/azure/storage/common/storage-scalability-targets#azure-table-storage-scale-targets) up to 20,000 (1 KiB entity size) down to just 312.5 (64 KiB entity size) per second.

I did some testing using an Azure Logi

[2018-05-22 16:38] GrantErickson opened #8999 "Great spot for a diagram"
Well written summary. A diagram here would be really helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07eb21a8-9fd1-4cb6-3a08-c3fe6a6115ad
* Version Independent ID: 24f74ebb-3559-006d-dbde-b18a8b9e28fe
* Content: [Understanding the OAuth2 implicit grant flow in Azure AD](https://docs.microsoft.com/en-us/azure/ac

[2018-05-22 16:47] akramwaseem commented on #8589
@ MGoedtel -- Well, I tried and there are lot of things which are missing .
I am not sure that the API version is still used or there is a updated API version. and Type: datasources is not how it works , it should be something like "Microsoft.OperationalInsights/workspaces/dataSources" and name : is not easy as it is mentioned above. we have concat it with the workspace like ""name": "[concat(para

[2018-05-22 16:48] leopignataro opened #9000 "Azure portal _does_ support associating a certificate to an application"
This article currently states that the Azure Portal does not support associating a certificate to an application:

"Now that you have a certificate, you need to associate it with an Azure AD application. Presently, the Azure portal does not support this workflow; this can be completed through PowerShell."

However, I believe the Portal **does** suport it:

Azure Active Directory > App Registration

[2018-05-22 16:50] SaurabhSharma-MSFT commented on #8977
@GitHubMWJ Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-22 16:59] curtand commented on #8950
#please-close

[2018-05-22 16:59] bmoore-msft commented on #7674
No reason other than it hasn't been implemented yet...  There are some technical challenges that make it a bit more involved than variable copy (for example) - so we need to dig in to that before adding support.

[2018-05-22 17:01] kuhussai commented on #8882
@Mike-Honey, the documentation page is meant to primarily provide more details on the hot, cool, and archive tiers. The exact pricing information can be found https://azure.microsoft.com/en-us/pricing/details/storage/blobs/.

If you have any specific questions, please send them to azurestoragefeedback@microsoft.com.

[2018-05-22 17:06] cynthn commented on #8837
@saachinvettiyattil yep, I suspect it is a bug in PowerShell. I'm running 5.0.0 of AzureRM.Storage. I'll sync with the PM today and see what we can find out. Thanks for catching this!

[2018-05-22 17:07] MicahMcKittrick-MSFT commented on #8996
@MikkelHegn is this something you wanted assigned to you or to @vturecek ?

[2018-05-22 17:07] SaurabhSharma-MSFT commented on #8990
@ifmorrison Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-22 17:08] MikkelHegn commented on #8996
Please assign to me

[2018-05-22 17:09] tarunendra commented on #8647
Thanks Mike. I was facing above issue because of my project was not using latest .NET framework. Once I corrected that it works.
Thank you.

[2018-05-22 17:10] SaurabhSharma-MSFT commented on #8997
@SychevIgor Thanks for pointing this out !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-05-22 17:10] curtand commented on #8490
This is in my backlog now.
#please-close

[2018-05-22 17:11] tfitzmac commented on #8959
@tyrotoxin - my tests are showing the dataVersion and metadataVersion after data.

@banisadr - is there a way to affect the ordering of properties in the event delivery? For parsing, it could be helpful to know the versions before getting to the data object.

[2018-05-22 17:11] SaurabhSharma-MSFT commented on #8863
@johnalejandro001 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 17:11] #8863 closed

[2018-05-22 17:12] SaurabhSharma-MSFT commented on #8327
@legwind We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 17:12] #8327 closed

[2018-05-22 17:13] Mike-Ubezzi-MSFT commented on #8994
@sariyandath Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-22 17:13] davidmu1 commented on #8190
Added these steps to address the issue:

6. After the app is created, select it in the list, and then select the **Settings** tab.
7. Clear the **Enable Callback Locking** box, and then click **Update settings**.

#please-close

[2018-05-22 17:15] TravisCragg-MSFT commented on #8987
@yobyot Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 17:16] BryanLa commented on #8925
This has been fixed and should be republishing in the next 20 minutes or so.
#please-close

[2018-05-22 17:20] BryanLa commented on #8091
@canuzun - good catch, and thanks for submitting this issue. I've discussed with the author and he agrees. He has added to his backlog, and plans to change per your suggestion next week.

#please-close

[2018-05-22 17:22] curtand commented on #8551
#please-close

[2018-05-22 17:26] MGoedtel commented on #8589
@akramwaseem - The API version is still used and I'm working on verifying a few things related to that before I update this article and others that leverage the API to complete a task.  In the meantime, you can refer to this reference as the authoritative source on the Log Analytics API version - https://dev.loganalytics.io/documentation/Tools/Api-Specifications.
Like I originally said, I agree th

[2018-05-22 17:27] vasivara-MSFT commented on #8938
@midomsft Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 17:28] #8091 closed

[2018-05-22 17:30] TravisCragg-MSFT commented on #8826
@jlon125 It has not been fixed, and I am unable to get an exact timetable. For now go ahead and create the ER gateway first.

You must remove / recreate the VNG in order to make changes to the Gateway Subnet.

[2018-05-22 17:35] mrbullwinkle commented on #8929
I have also updated the doc to clarify that this is a unique id. This change has been merged and will go-live in the public docs between 3:00 - 3:30 PM today. Thank you for helping us make our docs better!

[2018-05-22 17:39] jlon125 commented on #8826
@TravisCragg-MSFT Thank you for the reply Travis! I don't need expressroute now - but we plan on adding it later (in a few months) Will I be ok to create the S2S now, and when ready, add the expressroute? (assuming the code has been rolled out, and is retroactive for this? I assume we aren't more than a few months out for this code rollout?

Additionally, is there a way to keep the same public IP

[2018-05-22 17:39] saurabhsensharma commented on #7029
@NonSecwitter MARS Agent does not install the MSOnlineBackup module in the DPM or Azure Backup server installation. DPM instead exposes cmdlets like Start-DPMCloudRegistration for registering the server to Azure.

I see the source of the confusion, the DPM Article references _Start-OBRegistration_ which actually should be replaced with _Start-DPMCloudRegistration_ . Here is a detailed reference to

[2018-05-22 17:43] briscomo opened #9002 "Using Add-StorageTableRow in an Azure Function?"
So many of the other Azure modules are supported in an Azure Function using PowerShell, but this cmdlet is not supported by default.  How do we install the AzureRmStorageTable module WITHIN an Azure Function to get the functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1093baf6-b6b6-52f7-5268-697fe6412bdf
*

[2018-05-22 17:45] YutongTie-MSFT commented on #8988
@jsypkens Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-05-22 17:47] YutongTie-MSFT commented on #8985
@marvoh Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@LuisCabrer Hi, can you please check the issue and update the document as necessary? Thanks a lot!

[2018-05-22 17:51] Mike-Ubezzi-MSFT commented on #8841
@SnehaGunda Would it be possible to provide input to this inquiry in regard to the use of Mono.CSharp in this tutorial? Thank you!

[2018-05-22 17:51] ashmaka commented on #8985
HI @marvoh,

If you are asking how to use C# to post to endpoints using http calls rather than the SDK, you can follow the guidance [here](https://docs.microsoft.com/en-us/aspnet/web-api/overview/advanced/calling-a-web-api-from-a-net-client) to properly form an http request using .NET.

You can shape the request and response depending on the endpoint based on these [instructions](https://docs.micr

[2018-05-22 18:03] SaurabhSharma-MSFT commented on #8885
@TuroczyX I am able to identify the issue with the Microsoft button.  You have to modify the <ClaimsProviderSelection> node of policy extensions file (e.g. TrustFrameworkExtensions.xml) and add <ClaimsProviderSelection TargetClaimsExchangeId="MicrosoftAccountExchange" /> instead of using <ClaimsProviderSelection TargetClaimsExchangeId="MSAExchange" />. I have assigned this issue to content author

[2018-05-22 18:03] sancheza opened #9003 "Syntax error"
The commands as listed result in the error, The resource namespace ''Microsoft.PolicyInsights'' is invalid. This is caused by the use of single quotes. Removing the single quotes resolves the error. This is with azure-cli (2.0.32)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5513d0-6c0e-8235-8a19-48ad15a687d0
* Ver

[2018-05-22 18:13] SaurabhSharma-MSFT commented on #8973
@cstainie Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-22 18:15] tfitzmac commented on #8959
@tyrotoxin - one thing you could try is using the [CloudEvents schema](https://docs.microsoft.com/en-us/azure/event-grid/cloudevents-schema) for event delivery. In my tests, I see the eventTypeVersion and cloudEventsVersion properties on the 2nd and 3rd lines.

[2018-05-22 18:15] jorgefava commented on #8184
Sorry for bother, but, we are trying to implement this. Is there any response to my issue ? Thank you !

[2018-05-22 18:20] SaurabhSharma-MSFT commented on #8999
@GrantErickson Thanks for the feedback !  I have assigned this issue to content author if any possibility of adding diagrams here.

[2018-05-22 18:21] SteveMSFT commented on #8918
Thanks @somanshreddy , we've reviewed and will update the documentation accordingly.

[2018-05-22 18:22] SaurabhSharma-MSFT commented on #9000
@leopignataro Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-22 18:22] ashmaka commented on #8985
Hi @marvoh,

If you use Visual Studio to create a Console Application. You can replace the entire Program.cs file with the following code that calls the HTTP endpoint using C# and it will work. You will need to provide your own API key, ensure you are using the same region, and alter which endpoint you are using, but it should work great!.

[code]

[2018-05-22 18:22] CelesteDG commented on #8999
Thank you for the feedback, @GrantErickson  I've opened a work item to capture your suggestion and I've added it to my backlog.

[2018-05-22 18:25] TravisCragg-MSFT commented on #8826
@jlon125 I cannot give an exact time for the update, but it is very likely that you will be ok to create your S2S now.

If you would like to keep the same Public IP when removing & adding the gateway, I would first set the public IP on your gateway to "Static", and make sure to note the Name & Resource Group of the Public IP.
Next, you can delete the Gateway. When you recreate the new Gateway, be

[2018-05-22 18:31] vasivara-MSFT commented on #8834
@BharathMannem Can you please let us know what was the issue?
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 18:31] #8834 closed

[2018-05-22 18:32] cbailiss opened #9004 "Scaling Managed Instances"
Single databases in Azure SQL database can take many hours to scale between performance levels and especially between tiers.
Is this the same with Managed Instances?  How long would moving between different levels in the Standard Tier take?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76

[2018-05-22 18:33] MicahMcKittrick-MSFT commented on #8184
@jorgefava sorry for the delay! I am checking with @MikeRayMSFT offline now.

[2018-05-22 18:41] #8332 closed

[2018-05-22 18:42] kobulloc-MSFT commented on #8984
@turbolego Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-22 18:43] CelesteDG commented on #8955
Thank you, @ethanyoung - I'm following up on this and will update the topic as needed.

[2018-05-22 18:44] MikeRayMSFT commented on #8184
@jorgefava -
I also am sorry for the delay. From my side I'm contacting the appropriate Azure teams to find out how to correct the information in the technical content and will update as soon as possible.

Here are some resources for technical support immediately:
 - [UserVoice - Suggestion to improve SQL Server?](https://feedback.azure.com/forums/908035-sql-server)
- [Setup and Upgrade -  MSDN Fo

[2018-05-22 18:45] kobulloc-MSFT commented on #8976
@jphogberg Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-22 18:47] CelesteDG commented on #8762
Hi @darkstone - Following up to see if you saw my last comment. I'm not able to repro on my end so would be great to see what your experience is. If we don't hear back, we'll close this issue based on no repro. Thank you.

[2018-05-22 18:50] JeremyTBradshaw commented on #8367
+1 that it is still unclear.  Example areas for clarity:

- What happens if the box is left unchecked?
- What other platforms are we even talking about?
- Why not just advise with an "i"/info pop-up that says it's constrained to supported platforms (which are x, y, and z)?

[2018-05-22 18:52] Adam-Smith-MSFT commented on #8998
@danabrash  Thanks for the feedback! Can you post this as a feedback @ https://feedback.azure.com/forums/256299-site-recovery. This will allow the community to upvote and for the product team to include into their plans.
We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

[2018-05-22 18:52] #8998 closed

[2018-05-22 19:04] JeremyTBradshaw opened #9006 "Is this possible? -> ADFS and "Receives an email that indicates that access is only available using Outlook app""
Just wondering if there is some way this is possible, or if for this clever pseudo email pointing the user to install Outlook is only possible when the Basic authenication is taking place in Exchange Online directly (i.e. no ADFS).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1d67eec-b53c-4bbc-b160-b3fb8fca5ff4
* Ve

[2018-05-22 19:13] curtand commented on #8830
#in-progress Contacting my PM.

[2018-05-22 19:14] georgewallace commented on #8877
@amoghnatu Thank you again for your contribution, the changes are now live https://docs.microsoft.com/en-us/azure/automation/automation-create-runas-account#create-run-as-account-using-powershell-script #please-close

[2018-05-22 19:19] vinthefantastic1 commented on #6564
Under "Create your first proxy", in step #3, it should be stressed that <YourBackendApp>does not include the "https://" portion.

[2018-05-22 19:20] LuisCabrer commented on #8985
#close 8985

[2018-05-22 19:21] LuisCabrer commented on #8985
close 8985

[2018-05-22 19:26] JeremyTBradshaw opened #9007 "Are the bullet points BOTH required, or just one or the other (EXO conditional access policy / ADFS rule)"
Referring to the two bulletpoints under this line - "To effectively protect access to Exchange Online from Exchange ActiveSync, you can:".  I can't tell from this page (or this page - https://docs.microsoft.com/en-us/azure/active-directory/active-directory-conditional-access-mam#exchange-online-policy) if, when ADFS is in place, the Exchange ActiveSync conditional access policy has any effect.

--

[2018-05-22 19:34] Mike-Ubezzi-MSFT commented on #8922
@ashisa The tutorial has you create a Service Bus instance that has a Topic and two Subscriptions. Only Standard and Premium tiers allow for Topics. You will need at least a Standard tier.

![screenshot 8](https://user-images.githubusercontent.com/37126106/40385639-1711caa4-5dbc-11e8-8eec-81d8410089f6.png)

![screenshot 7](https://user-images.githubusercontent.com/37126106/40385690-48e344fe-5dbc-1

[2018-05-22 19:35] LuisCabrer commented on #8362
Hi @tlmii,
More concretely... the easiest way for you to do this may be:
1.  Put your PDF files into a blob container.
2. Follow the quick-start guide at https://docs.microsoft.com/en-us/azure/search/cognitive-search-quickstart-blob
3. In the enrichment step, there will be a step called "Enable OCR and merge all text into merged_content field"

Select that option, and Azure Search will automatical

[2018-05-22 19:38] Mike-Ubezzi-MSFT commented on #8922
@ChristianWolf42 I believe this tutorial will work with either Standard or Premium tiers of Service Bus. I don't think Premium tier is required. Can this be reflected in the documentation?

[2018-05-22 19:41] SaurabhSharma-MSFT commented on #8970
@andyjballgit AuthenticationCallback is a delegate function and the values of Authority, resource, scope are provided by Azure SDK and so we only need to pass the name of delegate function to get the access token.

[2018-05-22 19:44] vasivara-MSFT commented on #8980
@arjun-hareendran I tried to follow the document and I am not getting any errors. Are you trying to follow the document and getting errors?

[2018-05-22 19:49] jpmorris opened #9008 "have to connect first to use ssms"
"In the SSMS query editor, create a linked server object DEMOCOSMOS for the data source with the following commands. Replace DEMOCOSMOS with the name for your linked server, and SDS Name with the name of your system data source."

You cant 'create a linked server object' until you actually connect to some server.  If you click 'query editor' it asks to authenticate.  This info is missing from the

[2018-05-22 19:56] BryanTrach-MSFT commented on #8992
@isaac2004 Thanks for the feedback! Since the issue of using an Azure Function is outside the scope of this document, we would suggest you post your question to either [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-media-services) or [MSDN](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=MediaServices).

We will now proceed to close this thread. If there are furt

[2018-05-22 19:56] #8992 closed

[2018-05-22 19:59] martenlindblad opened #9010 "More examples"
Would be great if you could show how to connect via kafkacat for faster access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd1ea4ea-2221-3a5e-5a78-ba94596305d8
* Version Independent ID: eeddad65-1e80-1ff9-ffbc-3e5730265a1f
* Content: [Stream into Azure Event Hubs for Kafka Ecosystem](https://docs.microsoft.com/en-u

[2018-05-22 20:13] douglaslMS commented on #8437
#please-close

[2018-05-22 20:14] vasivara-MSFT commented on #8437
@xmark We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 20:14] #8437 closed

[2018-05-22 20:29] SaurabhSharma-MSFT commented on #8973
@cstainie Can you please provide more details/specifics you are looking for.

[2018-05-22 20:32] douglaslMS commented on #7042
@jason-j-MSFT Data Factory PM Abhishek Narain told me on 5/4/2018 "_I am working on this. Will update this thread once done._" Will you please assign this issue to him (nabhishek) for visibility?

[2018-05-22 20:35] SaurabhSharma-MSFT commented on #8820
@SatyandraV-MSFT Apologies for the same. Yes, it is supported by free and basic plans as well.

[2018-05-22 20:36] suhuruli commented on #8675
The feature as it is will obtain logs from dead containers on a particular node. We are working on a fix that will address this need soon.

[2018-05-22 20:36] SaurabhSharma-MSFT commented on #9006
@JeremyTBradshaw Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-22 20:37] SaurabhSharma-MSFT commented on #9007
@JeremyTBradshaw Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-22 20:37] femsulu commented on #8962
@VitaChen1228 closing as spam

[2018-05-22 20:37] #8962 closed

[2018-05-22 20:38] navyasric commented on #8835
Thanks @CelesteDG . Looks good to me.

[2018-05-22 20:40] MohitGargMSFT commented on #8880
@jintux You can use scopes in [access token](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens) to access to get required permission on web api. However, in this scenario, as the access token is acquired at time of sign-in or sign-up, you cant use user specific claim to define access level on web api. However, in a scenario where user is directly access

[2018-05-22 20:42] femsulu commented on #8965
@richardspitz Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-22 20:43] CelesteDG commented on #8835
Thank you very much for the input, @navyasric  I'll sign off on the PR.

[2018-05-22 20:43] vasivara-MSFT commented on #8945
@smoms Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 20:44] femsulu commented on #8966
@Anmolgan81 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-22 20:45] douglaslMS commented on #8415
@netlander1 A couple things. First of all, I'll forward your comments and request for more details (about Custom Setup) to the feature PM. The current content on the page is the latest and greatest that I have. It seems you're probably using a DSN for your ODBC connection to PostgreSQL. Typically you can convert a DSN to a connection string, which means you wouldn't have to do any UI-based configu

[2018-05-22 20:45] douglaslMS commented on #8415
#please-close

[2018-05-22 20:47] vasivara-MSFT commented on #8415
@netlander1 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 20:47] #8415 closed

[2018-05-22 20:48] tfitzmac commented on #8966
@Anmolgan81 - the maximum number of resources that can be moved is 800. However, moving a lower number of resources in a single operation can also fail through a timeout. So, where possible, you will want to move resources in separate operations.

[2018-05-22 20:49] femsulu commented on #8969
@RemiBou Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-22 20:49] jimdial commented on #8987
#in-process

[2018-05-22 21:01] femsulu commented on #8978
@rich-davies, thanks for your comment.
Connect-AzureRmAccount is the correct cmdlet name starting with v5.3.0. For backward compatibility, Connect-AzureRmAccount has the following aliases.
Add-AzureRmAccount
Login-AzAccount
Login-AzureRmAccount
Users that have not upgraded to v5.3.0 or higher will not have Connect-AzureRmAccount and, therefore, will receive an error. Here's how you upgrade the Aut

[2018-05-22 21:04] femsulu commented on #8978
@rich-davies We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 21:04] #8978 closed

[2018-05-22 21:05] femsulu commented on #8986
@zarchigl Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-05-22 21:06] michaeldaw opened #9013 "What counts as "Advanced Matching""
The documentation states that "advanced match" is a billable operation, but doesn't say exactly what that is. I have a feeling it means matching against the subject property, but does it also count as matching against the Event Type? Or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3427291a-bf0e-81c6-0

[2018-05-22 21:08] femsulu commented on #9003
@sancheza Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2018-05-22 21:09] tknandu commented on #8994
@sariyandath Can you please reach out to me at ramkris@microsoft.com - explaining the exact conditional set requirement?

[2018-05-22 21:10] femsulu commented on #8727
@tysonn re-assigning to you as I am unable to find the Content lead for Marketplace on the Service Leads page.

[2018-05-22 21:10] HeidiSteen commented on #8985
#sign-off

[2018-05-22 21:40] vasivara-MSFT commented on #9010
@martenlindblad Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 21:43] cynthn commented on #8765
@MicahMcKittrick-MSFT started a thread with someone from sizes and the folks that provide the networking stats :)

[2018-05-22 21:43] barbkess commented on #8981
@michelejohlbs : Thanks for pointing this out.  I have recently started working as the writer for this and some other articles.  I will update the date on the one you mentioned and will continue to update the date on articles that I am monitoring.

[2018-05-22 22:05] NigelbrownIBM opened #9016 "MultiVM"
Can we setup labs as custom as DevTestLabs with multiple VMs for students to log in, deploy, and use?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d783b020-3c74-c54d-416d-cf8539f27309
* Version Independent ID: 5da29795-6264-b4d5-57b2-c7dc94f4dc01
* Content: [Set up a classroom lab using Azure Lab Services](https://do

[2018-05-22 22:07] LuisCabrer commented on #8985
#please-close

[2018-05-22 22:08] LuisCabrer commented on #8362
#please-close

[2018-05-22 22:11] kgremban commented on #8529
Hi @cveld, do you feel that this issue is ready to close or do you have more questions?

#in-progress

[2018-05-22 22:13] TravisCragg-MSFT commented on #9013
@michaeldaw Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-22 22:20] curtand commented on #8954
Hi @nhogarth86 , I'm still working on what state this section needs to be in. Should resolve soon. Thanks!!!
#in-progress

[2018-05-22 22:20] SnehaGunda commented on #8910
@jonathanfishbein1 hope Luis's response helps, we will now proceed to close this issue. If you have more questions feel free to reopen this or create a new issue.

[2018-05-22 22:38] pagrenin opened #9019 "Update to Step 6: Configure load balancing rules"
In #5 of Step 6, For Floating IP (direct server return), select Enabled. - this did not work.  I worked through this with Microsoft Support and we discovered that the default setting of "Disabled" should be used instead.  #5 should read "For Floating IP (direct server return), select Disabled".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-05-22 22:40] ebragas opened #9020 "Current and available apiVersions"
How do you know what apiVersion values are available and which is the most current?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dbdc219-c30f-1699-f586-9080d36a43fc
* Version Independent ID: fa7835bc-8a37-cb1a-ecbe-65883910196f
* Content: [Create an Azure data factory using REST API](https://docs.microsoft.com/en-us

[2018-05-22 22:43] SaurabhSharma-MSFT commented on #8947
@jadesai You can try using Microsoft Graph to identify if a User has required permissions.  Ideally all Member Users has access to create and manage applications as compared to Guest Users.  Please refer to below link to work with Users -
[Working with users in Microsoft Graph](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/users#common-properties).
Also, refer to do

[2018-05-22 22:46] Mike-Ubezzi-MSFT commented on #9002
@briscomo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-22 22:48] kgremban commented on #6868
Hi @dragon119. I agree with you that this is important content to include in the Azure Maps documentation. I've added this suggestion to our team's work items, and will ask to close this issue for now. I've made a note to reopen this issue once we start work on the new content.

@femsulu can you #please-close this issue?

[2018-05-22 22:59] MikeRayMSFT commented on #8184
@jorgefava -

To avoid this situation, the cluster address can use APIPA (usually used when no DHCP server is available). Choose an address from the address range 169.254.0.1 to 169.254.255.254. The cluster address is already not connectable in the Azure VM WSFC so, an APIPA address can be used. This is what the Microsoft Azure resource manager ARM templates do for the WSFC hosting the availabilit

[2018-05-22 23:00] MarkusVi commented on #8367
Hi @NickDorak and @JeremyTBradshaw, thanks for the discussion!

Trying to get a bit closer...
This setting only applies to **mail applications** using **Exchange ActiveSync** to access **Exchange Online**.
So, it is not "every app on all device platforms". The same applies to "every version of ever OS".

I'll try to find something better; however, just for now, [this](https://en.wikipedia.org/wiki

[2018-05-22 23:02] Mike-Ubezzi-MSFT commented on #9002
@briscomo There is a blog post written on the topic of Azure Functions and PowerShell cmdlets: [Using PowerShell Modules in Azure Functions](https://blogs.msdn.microsoft.com/powershell/2017/02/24/using-powershell-modules-in-azure-functions/) that walks you through the process for loading PS modules.

[2018-05-22 23:02] keatseongchan commented on #8937
I provided the wrong URL.   The steps provided for Azure Resource Manager deployment model is overwhelming.   Using https://resources.azure.com/, I was able to navigate to the cluster and make the change.  There is a small gotcha is that it seems to accept the AddOnFeatures even though it already exist.

The whole point of running PaaS is we don't have to worry about mundane operational overhead.

[2018-05-22 23:04] #6770 closed

[2018-05-22 23:04] Mike-Ubezzi-MSFT commented on #9002
@MicahMcKittrick-MSFT Is there an explicit set of instructions for loading PowerShell modules to an Azure Functions instance? Customer would like to load the _AzureRmStorageTable_ module into an Azure Functions instance.

[2018-05-22 23:06] Mike-Ubezzi-MSFT commented on #9004
@cbailiss Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-22 23:07] kobulloc-MSFT commented on #9016
@NigelbrownIBM Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-22 23:08] Mike-Ubezzi-MSFT commented on #9008
@jpmorris Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-22 23:22] Adam-Smith-MSFT commented on #8900
@HZass Could you upload the images via this link: https://github.com/MicrosoftDocs/azure-docs/issues/8900 ? The attachments are not showing in the Github page.

[2018-05-22 23:26] Adam-Smith-MSFT commented on #8882
@Mike-Honey Let us know if the above link provided you with the information you were looking for.

[2018-05-22 23:27] Adam-Smith-MSFT commented on #8823
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-22 23:27] #8823 closed

[2018-05-22 23:39] shobman opened #9021 "Single telemetry container?"
I've been using separate telemetry containers for a while, and I've been monitoring my apps in the Azure Portal.  I've also noticed that Visual Studio now allows you to monitor 'Live' metrics right inside Visual Studio. I presume it separates my debug telemetry, some info here: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-visual-studio

I feel like Application Insights

[2018-05-22 23:58] rboucher commented on #8139
@chrisahardie I was able to sign up for a free account with my non-work email and view the content for free.  Can you tell me the steps you used? @femsulu Please assign this issue to me.

[2018-05-22 23:58] #6868 closed

[2018-05-23 00:11] SaurabhSharma-MSFT commented on #9007
@JeremyTBradshaw Yes, Exchange ActiveSync conditional access policy will have effect with ADFS and you can block Exchange ActiveSync using ADFS rules.

[2018-05-23 00:12] rramachand21 commented on #8013
Hi Tony, Just FYI, its never 1,024 because our pool is larger.  And we are reverting back to the old 160 preallocation value. So the document is still relevant and up to date.

[2018-05-23 00:13] SaurabhSharma-MSFT commented on #9006
@JeremyTBradshaw I have assigned your concern to content author for further investigation.

[2018-05-23 00:39] reggieboyYEAH commented on #8990
@jeevanbisht @SaurabhSharma-MSFT Hi I just want to enable sign-in and sign-up of users using GSuite in my App (Which is a node express app)

I am really having a hard time doing this because there is not much documentation about it.
I tried researching but all docs are pointing that i should create "Custom policies" to achieve this.

using the 'Starter Pack'
I get this error

Which is totally unre

[2018-05-23 00:50] MarkusVi commented on #8367
@JeremyTBradshaw - hold on a sec, please :-)
Do you remember what it was that has initially confused you?
I would like to fix this...

I think, that the "in addition to" part of the description might be misleading.
So, how about "You can use this condition to control how mail applications that use Exchange ActiveSync  connect to Exchange Online".
How would you phrase this?

I will work on getting

[2018-05-23 00:52] MarkusVi commented on #8367
@NickDorak - what was it that made you think that this is for "all apps on all platforms" and what is your suggested fix?

Cheers,
Markus

[2018-05-23 01:01] ChristianWolf42 commented on #8922
@Mike-Ubezzi-MSFT at the time the articles have been written this worked only for Premium. @binzywu can comment when it will be enalbed for Standard

[2018-05-23 01:02] ozzy1873 opened #9022 "ConnectionMultiplexer is Expensive"
One of the main problems is the cost of creating the ConnectionMultiplexer. Typically you create a singleton in this way:
private static readonly Lazy LazyConnection
= new Lazy(() =>
{
var connection = ConnectionMultiplexer.Connect(GetRedisConnectionString());
// connection.PreserveAsyncOrder = false;
return connection;
});

How should you manage this issue as azure functions are serverless and de

[2018-05-23 01:18] tony-gutierrez commented on #8013
You might want to stop recommending that module, and just recommend using native node keepalive. The options are almost identical, and that module might have a race condition. Native will probably always be faster as well. I replaced the module with native with good results, other than the whole 160 issue.

[2018-05-23 01:43] eastrd commented on #8917
@MicahMcKittrick-MSFT

Thank you very much, it does make sense.

I was also wondering about the inconsistent VM ram stated between [Compute Benchmark Page](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/compute-benchmark-scores.md) and [Azure VM Details](https://docs.microsoft.com/en-au/azure/virtual-machines/windows/sizes-memory).

For example with **Stand

[2018-05-23 01:48] MetehanBolat opened #9023 "Azure Disk Encryption Doesn't Work on Hardened IIS"
For security purposes, TLS 1.0, 1.1 protocols and Diffie Hellman algorithms are disabled on our server.
I believe for this reason VM extension fails on enabling disk encryption.
ErrorCode: VMExtensionProvisioningError
ErrorMessage: VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: "Failed to configure bitlocker as expected. Exception: An error occurred while

[2018-05-23 01:51] Anmolgan81 commented on #8966
That does not make any sense, as I tried to move 200 resources at ones which contains unmanaged disks and vnet and it failed, and timed out!!
I have to delete all if those machines and then recreate them in new subscription.

Why the timeout is 15mins and limit of 800 resources when validation is not successful under 15mins??

This create a lot of mess if moving a huge enviroment to other subscrip

[2018-05-23 02:03] kazshi opened #9025 "the blade DOES NOT show a value for Name and Host Name"
[Enter feedback here]

I can find only "Computer name" on the current overview blade for a virtual machine.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d31d40a3-4ec9-e9ec-0eb9-7c83c8074036
* Version Independent ID: 1ce63082-48c4-419d-3223-d00a1c4b9518
* Content: [Viewing and Modifying Hostnames](https://docs.microsof

[2018-05-23 02:28] rocifier opened #9026 "How do I do this locally?"
How is this configured if I am writing my function app locally using visual studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e952d385-d5c8-de9b-27c5-4d02add9b180
* Version Independent ID: 50083880-0ec5-cbb4-363e-ba9e82f2889a
* Content: [Add messages to an Azure Storage queue using Functions](https://docs.microsof

[2018-05-23 02:33] SenthuranSivananthan opened #9027 "Missing link for Log Analytics"
Looks like markdown is missing a link:  See  [Log Analytics][LogAnalytics] in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d8301e2-2299-288c-83c4-c33112d8b78d
* Version Independent ID: 671e7f13-6777-d7cd-7acd-ac7eab38a622
* Content: [Microsoft Azure Virtual Datacenter: A Network Perspective](https://docs.mi

[2018-05-23 03:02] marvoh commented on #8985
Thank you for this, I understand we are at different timezones by the time you responded I had already got it to work, hopefully someone else will find it useful.

Thank you for the effort.

[2018-05-23 03:02] #8985 closed

[2018-05-23 03:40] amoghnatu commented on #8877
Thanks to you too for taking up the feedback immediately and updating the documentation. Appreciate it. Closing the issue.

[2018-05-23 03:40] #8877 closed

[2018-05-23 03:49] andrewatfornax opened #9028 "Incorrect Description of Storage Accounts Used?"
In the above documentation, it states:

"Target storage accounts (If source VM does not use managed disks): By default, Site Recovery creates a new storage account in the target region to mirror the source VM storage account."

However, I have just set up Site Recovery for a VM that does use Managed Disks (just the OS disk), and although no option was given when setting this up with regards to a S

[2018-05-23 03:51] TravisCragg-MSFT commented on #9027
@SenthuranSivananthan Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 03:55] ryansuryanto opened #9029 "Error in running Jupyter notebook"
Azure HDInsight Spark 2.2 on Linux HDI 3.6

The code failed because of a fatal error:
	Failed to register auto viz for notebook.
Exception details:
	"cannot import name DataError".

The notebook cannot be run.

Please help me to fix the problem.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c60adec-6da8-d6

[2018-05-23 04:07] TravisCragg-MSFT commented on #9019
@pagrenin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 04:26] asingh1989 commented on #8893
Thank you for your quick response @femsulu @Jeff

[2018-05-23 04:26] asingh1989 commented on #8894
Thank you for your quick response @femsulu @Jeff

[2018-05-23 04:55] briscomo commented on #9002
thanks for working on this.  I'm really surprised that the AzureRmStorageTable is not installed by default.  I NEED to work with Storage Table entities in PowerShell and this seems to be the only option.  I'll try doing the install of the module as suggested above.

[2018-05-23 04:57] limjianan commented on #8935
@MohitGargMSFT Sorry to chip in; just note that AUDIT log seems still free for 7 days. ( I just have an Azure tenant without Azure AD Premium)

[2018-05-23 05:07] cstainie commented on #8973
Hi,

Thanks for reaching out.

Sure, I was wondering if there is anything available regarding the feature being discussed at the end of the video.

The feature they are discussing is about giving the partnering organisations the ability to handle group memberships for the b2b connection with the inviting company.

Today, everyone from permission is handled by the inviting company.

Any news about

[2018-05-23 05:27] lordcheeto opened #9030 "Application insights function version."
I have a Functions v2 app, to which I have deployed C# class library functions. Application insights is enabled, and working. However, though the assembly version is set on the project in Visual Studio, the Application Insights `application_Version` field is not being populated. It's blank. Can that version be set to match the assembly version, or configured elsewhere, or will this need to be a fe

[2018-05-23 06:04] #8551 closed

[2018-05-23 06:21] ggailey777 commented on #7538
@jefferybennett in your opinion, would it be sufficiently helpful if we add a section to the [Visual Studio development topic](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs) that described how to add binding attributes, with links to the various binding topics?

[2018-05-23 06:46] #8888 closed

[2018-05-23 07:04] michelejohlbs commented on #8981
@barbkess Thank you.
Just an FYI why I actually raised this. We had a engineer said that the article was updated and the client outright disputed the fact because the public facing view showed the old document date.
If the last edited or update date was up to date we could have avoided a situation as we reference the articles and the article dates in our documentation.

[2018-05-23 07:06] kazshi opened #9033 "Description about Error Code 50140"
I couldn't get the description as an error - does this error mean that the user was prompted but did not respond?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity report error codes in the Azur

[2018-05-23 07:10] alexfelton commented on #8404
The NDP472-NDP472 issue is still there, just spent about 3 hours trying to work out why my role wouldn't start

[2018-05-23 07:10] wesmc7777 commented on #8909
If you have multiple servers connecting to same SignalR service, each message will only be routed to one server. We have a mechanism in place to make sure, for a single client, its requests are always routed to the same server.

The connection between the VM and Azure SignalR Service is a websocket connection instead of a queue. But your assumption is correct, only one VM gets the message.

[2018-05-23 07:13] wesmc7777 commented on #8911
There is no API at this time to get all clients in a group. You could maintain a list by tracking clients yourself (add some code when you call add/remove group).

Correct, a client is automatically removed from all groups when it is disconnected.

[2018-05-23 07:19] LedoGit commented on #8605
Hi @curtand
in the Azure AD portal my billing admin was (just) able to change the technical contact (see the result in O365 admin center):

![tech-contact-changed-in-azure](https://user-images.githubusercontent.com/39294018/40408996-bb99038c-5e69-11e8-9362-fb3e6144c66f.PNG)

Unfortunetaly I have no access to the link you provided. Either way, I am glad that I found someone who was able to recreate

[2018-05-23 07:41] rawatsudhir1 commented on #8873
Doc says use Spark Event Hubs connector - com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.1 but very next picture shows com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.0. If I use *:2.3.0 I am getting same error as mentioned above. If use *:2.3.1 then I am getting below error

notebook:1: error: object eventhubs is not a member of package org.apache.spark
 import org.apache.spark.eventhubs._

[2018-05-23 07:46] rawatsudhir1 commented on #8873
okay.. Reattach Notebook works...Any thoughts what happens behind the scene ?

[2018-05-23 07:49] dendave opened #9034 "Usage location isn't allowed.... hmmmm...."
Embargo countries can't be selected as a usage location, therefore we can't prevent Group Based Licensing to inherit the usage location of the directory.

Any ideas to prevent this from happening?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0fc0fc-b772-de61-258a-a6fd4ea9711c
* Version Independent ID: 04e86827-c8da

[2018-05-23 08:12] cloudmelon opened #9035 "Take account into the case while connecting instances in VMSS by using private IP"
It is also possible to connect to VMSS individual instance by using its private IP, you can find it at its load balancer's backend pool, then use ssh directly.  In the enterprise where its security policy doesn't allow to connect instances by using public IP in the cloud, it is important to know how to manage it.

Example to add in azure doc :
You can also connect the VM instance by using private

[2018-05-23 08:15] nguyenhuuloc304 commented on #5230
Hi @neilpeterson
I tried as below, but it did not work. Is there any way to work two FQDN?
for example:

- account.eastus.cloudapp.azure.com
- hr.eastus.cloudapp.azure.com

Thank you so much in advance
[code]

[2018-05-23 08:16] mikedobing commented on #8938
@linda33wj  I've republished and tried again and it's worked successfully this time! Thanks for sorting so quickly 👍

[2018-05-23 08:38] SyntaxC4 commented on #7875
@MicrosoftDocs/azure-cxp-triage Can you assign @ggailey777?

[2018-05-23 08:38] FredlArts opened #9036 "Vaults distributed over multiple regions"
Hi,
I have 3 vaults (North/West Europe & East US) and I am seeing three Apps all with the same name "Azure Backup" - which can't be edited (why?) so I always have to guess which one is the correct one to chose to look at my data.

This is the same issue that was present when we used the OMS blade. At least there I could easily switch vaults, now I have to click thrue my data to see which vault I a

[2018-05-23 08:45] mrdfuse commented on #5230
Both fqdn's point to the ip or fqdn of the ingress controller?

[2018-05-23 08:55] nguyenhuuloc304 commented on #5230
Hi @mrdfuse
I have two application is running on two different IPs, service **hrservice** for ip 1, and service **accountservice** for ip 2  and I'd like to both application can run on two FQDN
Ex:  hr.eastus.cloudapp.azure.com for application 1
account.eastus.cloudapp.azure.com for application 2

How can I do that?

[2018-05-23 09:05] zhulixuan commented on #8909
If that server is down, would you route that client to another server?  I guess yes.  Thanks.

[2018-05-23 09:13] JeremyTBradshaw commented on #8367
@MarkusVi I'm here:).  Yes I still remember, it's the same stuff I mentioned - I'll try to elaborate.

It's not my understanding that the platforms condition is necessary to use if another condition adequately narrows the scope of the CA policy.  In this case, like you clarified, we're after **mail applications** using **Exchange ActiveSync** to access **Exchange Online**.  So with the cloud app "

[2018-05-23 09:35] arjun-hareendran commented on #8980
Hello,

The pipeline was building fine , but then i changed the linked service to use keyvault to store the connection details and now i am stuck here with my pipeline failing with out any error

When i click the code {} nothing come up.

[cid:699432ec-ab2b-4d93-9b9c-d99707f9be77]

Running the pipeline says failed , when i click view run

[cid:fa1ccec5-506e-40cd-81ef-23562a2eff07]

[cid:09ef585a-0

[2018-05-23 09:45] mrdfuse commented on #5230
Your ingress controller needs an ip an optionally an fqdn. Make all other fqdn's CNAME's to the fqdn, or A records to the ip, so that all requests to either hr.eastus.cloudapp.azure.com or account.eastus.cloudapp.azure.com go the same ingress controller. Ingress will look at the incoming request and forward to the correct service based on the originating domain.

[2018-05-23 09:52] JeremyTBradshaw commented on #8367
@MarkusVi a shorter version of my response to your question "Do you remember what it was that has initially confused you?" is just that I feel as though the **Exchange ActiveSync** radio button alone infers that we're talking about supported platforms, so an explanation of why/when this box should be checked and why/when it should not be checked, would help.

Your explanation totally explains the

[2018-05-23 09:53] Anmolgan81 opened #9039 "Azure Database for PostgreSQL Supported as Sink?"
I want to build a pipeline of storage account to Azure Database for PostgreSQL?
Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79c3f263-04ba-ea60-1927-c2fedde96d61
* Version Independent ID: fe35a13a-a960-9a50-1b89-aa79abe514b9
* Content: [Copy data from Azure Database for PostgreSQL using Azure Data F

[2018-05-23 09:57] tomconte commented on #8835
Thanks everyone for your answers!

[2018-05-23 10:19] B4PJS opened #9040 "Stored procedure to build replicated Tables and wait for replication to complete"
CREATE PROCEDURE dbo.ReplicateTables
AS

CREATE TABLE #tbl
WITH
( DISTRIBUTION = ROUND_ROBIN
)
AS
SELECT
	ROW_NUMBER() OVER(ORDER BY (SELECT NULL)) AS Sequence
	,CONCAT('SELECT TOP(1) * FROM ', s.name,'.', t.[name]) sql_code
  FROM sys.pdw_replicated_table_cache_state p
  JOIN sys.tables t ON t.object_id = p.object_id
  JOIN sys.schemas s ON t.schema_id = s.schema_id
WHERE p.[state] = 'NotReady'

[2018-05-23 10:38] rahulguha opened #9041 "vm create commands are incomplete"
Using vm create command with azure pass subscription seems to be impossible as none of the size works (although it lists bunch of compatible ones). Also didn't find any way to select ssd/non ssd etc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1e11aaf-3a77-95dc-371c-01d67556c2c3
* Version Independent ID: 78172c04-57

[2018-05-23 10:49] dmc-tech opened #9043 "Get-AzureStackInfo isn't available in release 1804"
Get-AzureStackInfo isn't available on the PEP in release 1804.  Is there the equivalent command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cf7c779-041d-a232-b441-b769be1aaa67
* Version Independent ID: 620aa3f3-4351-5ad3-996e-38140d50f108
* Content: [Azure Stack datacenter integration - DNS](https://docs.microsoft

[2018-05-23 11:08] HZass commented on #8900
![viewat azureportal jpg](https://user-images.githubusercontent.com/4728760/40420940-02b278dc-5e58-11e8-9181-448201d8d26e.png)
![view at storage explorer jpg](https://user-images.githubusercontent.com/4728760/40420961-1749cf84-5e58-11e8-9048-c9b05e12cd6c.png)
 Above find the image files.   Hans

[2018-05-23 11:09] HZass commented on #8900
Done … thank you for your help in this matter.

Hans

From: Adam-Smith-MSFT <notifications@github.com>
Sent: Tuesday, May 22, 2018 7:22 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: HZass <zass38@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Unable to view Blobs in Containers (#8900)

@HZass <https://github.com/HZass>  Could you uplo

[2018-05-23 11:17] mrbullwinkle commented on #8929
#please-close

[2018-05-23 11:26] TecumsehSamp commented on #8454
Just wondering if there's any updates on this? (If it helps, I'd say this is a new issue as I've successfully created backups before in the past a few months ago).

[2018-05-23 11:42] canuzun opened #9044 "About timeout"
A minor feedback about this line "On a Consumption plan, a function can run for a maximum of 10 minutes." under Consumption Plan;
First time I've read this I thought the function stops after 10 minutes, it didn't make any sense.
It would be much better of you use the word "timeout", in the end this refers to a single execution timeout duration.

---
#### Document Details

⚠ *Do not edit this secti

[2018-05-23 12:12] cephalin commented on #8454
@SunBuild Can you take a look at this?

[2018-05-23 12:37] henriksen opened #9049 "Lacking information on calling IoT Edge modules"
When calling Direct Methods registered on an IoT Edge module the ModuleId has to be specified, I would like to see information on how that's specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58ad27ec-834c-d85d-79f9-ee699019be33
* Version Independent ID: b108b7b1-d28d-abed-467d-39a661c8e086
* Content: [Understan

[2018-05-23 12:47] rayne-wiselman commented on #8850
#please-close

[2018-05-23 13:30] jebeld17 commented on #8768
Some users that require real-time visualization will need to utilize WDDM mode, though.

[2018-05-23 13:38] dalmat36 opened #9050 "Calculating ideal number of parallel requests"
Regarding "Number of Parallel Requests: The tool defaults to two parallel requests. If the documents to be imported are small, consider raising the number of parallel requests. Note that if this number is raised too much, the import may experience throttling." is there any guidance on calculating the ideal number of parallel requests based on the provisioned RUs? Maybe it is the same as the equati

[2018-05-23 13:41] vhorne commented on #8825
@DmitriyVityuk, thanks for the feedback.

This information was moved to the FAQ article:
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#performance

Which exposed a bug in the portal UI. It links directly to an article, which is not a good idea since things can change. Instead, the UI should point to an redirectable URL (fwlink), so that if things change, the li

[2018-05-23 13:44] mzhukovs opened #9051 "QuickStart Xamarin.Forms Solution Needs Major Updates"
-Update PCL to .NET Standard 2.0 Library
-Update to Xamarin Forms 3.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12d25a3
* Version Independent ID: b9874b73-5524-6238-ea70-a23d8a27aa47
* Content: [Get started with Mobile Apps by using Xamarin.Forms](https://docs.microsoft.com/en-us/azure

[2018-05-23 13:45] PatrickvEk opened #9052 "Makecert is missing parameter to meet the minimum keysize of 2048 bits."
Case:
running "makecert -sv mykey.pvk -n "cn=KVWebApp" KVWebApp.cer -b 07/31/2017 -e 07/31/2018 -r" yields a certificate with a keylength of 1024 bits.
After following the rest of the procedure "new ClientAssertionCertificate(WebConfigurationManager.AppSettings["clientid"], clientAssertionCertPfx)" throws an exception with message: "System.ArgumentOutOfRangeException: 'The certificate used must ha

[2018-05-23 13:48] curtand commented on #8950
@jwmoss
We had a publishing glitch yesterday. Nothing from the day was published until 10PM. The fix is live now. Thanks for your patience.

[2018-05-23 13:51] jwmoss commented on #8950
Thanks!

[2018-05-23 13:51] #8950 closed

[2018-05-23 14:09] gumaflux commented on #8924
Hi,

Happy I could help

Regards, Gustav

On 21 May 2018 at 23:45, VairavanS-MSFT <notifications@github.com> wrote:

[2018-05-23 14:15] rothja commented on #5444
@BryanTrach-MSFT It looks like you added a commit to fix this issue. Is it resolved? Thanks!

[2018-05-23 14:21] chaitualladi opened #9053 "virtualNetworkRule for Cosmos DB ARM template"
I am able to provision a Cosmos DB account using ARM template and i am able to use IP restrictions through template. But when i try to enforce "virtualNetworkRules" through template, by enabling the "isVirtualNetworkFilterEnabled" flag to "true" and giving the ID of already existing vNet, i do not see the change reflected and the vNet is not added. Can i please know any other way to enforce the fl

[2018-05-23 14:22] vhorne commented on #8477
This is tracked in content user story #1263827
#please-close

[2018-05-23 14:28] SaurabhSharma-MSFT commented on #9033
@kazshi The error is available on the  [Sign-in activity report error codes in the Azure Active Directory portal](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-reporting-activity-sign-ins-errors#error-codes) which you have shared.
It means the "User prompted for consent to keep them signed-in on the device"

[2018-05-23 14:57] SamirFarhat commented on #6952
@woodrum You can switch from LRS to GRS only when no data has been yet stored on the Vault. If you have enabled at least one backup, and the Recovery Vault is no longer "empty", than you can no longer switch the value.

[2018-05-23 14:58] tromika opened #9054 "Request for details on business understanding"
Hi there,

In overall, this is a really great framework. Most of the parts are detailed enough but would you break down the business understanding a bit more? I think this is a field that crucial for every data science workflow and there could be more standardized steps to help data teams out there. So could you share more steps you do to understand the actual problem domain?

Thanks in advance

c

[2018-05-23 14:59] jhgbrt opened #9055 "Hookbin.com down"
the walkthrough depends on the hookbin.com service, but it seems this service is down.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23c93275-7ff0-f515-8001-ad513f3d714b
* Version Independent ID: 2c4a7f97-4532-9bd8-ba57-03a11784329a
* Content: [Custom events for Azure Event Grid with CLI](https://docs.microsoft.com/en

[2018-05-23 15:08] Mike-Ubezzi-MSFT commented on #9050
@dalmat36 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-23 15:09] B4PJS commented on #9040
@Mike-Ubezzi-MSFT more of an extension to the documentation to enable people to auto replicate tables and wait till they are finished replicating in ETL scenarios where it can massively impact query performance and mitigate DMS shuffles

[2018-05-23 15:19] lenadroid commented on #8873
Thanks @rawatsudhir1. I believe 2.3.1 is the right one.

You are getting "not found: value EventHubsConf" because after you add libraries to the cluster, notebook can't pick that up immediately until you re-attach it.

If you've created a cluster, then added all the libraries, and only then created a new notebook - it would have all the correct libraries already assigned correctly, and you won't h

[2018-05-23 15:30] MarkusVi commented on #8367
Hi @JeremyTBradshaw, thanks, got it. I need to do some follow-ups, first, and will update the article.
Also, thanks a lot for the "long" version - it is really helpful.

[2018-05-23 15:32] Mike-Ubezzi-MSFT commented on #9040
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 15:40] SamirFarhat opened #9056 "SQL Server Backup and VSS"
Hi,
We are using simultaneously Azure Backup for IaaS virtual Machines, and SQL Server backups (Automated to Azure Storage and classic). Is the option to enable VSS for Azure VMs can break the SQL chain, or we can enable it safely. https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-introduction#windows-vm

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-05-23 15:41] woodrum commented on #6952
Thank you Samir… makes complete sense!  Now that I emptied the vault that is working as designed.

From: Samir Farhat (MVP) <notifications@github.com>
Sent: Wednesday, May 23, 2018 10:58 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Woodruff, Matthew M <Matthew.Woodruff@sluhn.org>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs] Pricing

[2018-05-23 15:42] jonfinerty opened #9057 "Possibly incorrect documentation on how to verify a certificate"
In the code example on the page there is a commented out section at the bottom -
[code]

I believe this code is a bit inefficient as it calls `.Verify()` on each cert in the chain, but looking at the source - https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/System/Security/Cryptography/X509Certificates/X509Certificate2.cs#L613 and the documentation

[2018-05-23 15:48] KevinXTian opened #9058 "Event Grid Subscriptions is not available in the available services"
The Event Subscription is moved to the specific resource -> Event.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5ed2449-4122-2660-56be-78ceebd0de66
* Version Independent ID: b5b1c94e-3efe-b234-5366-79823678f237
* Content: [Monitor Azure Event Grid message delivery](https://docs.microsoft.com/en-us/azure/event-grid/m

[2018-05-23 16:06] Sambsamb opened #9059 "Microsoft.Backup provider stuck in 'Registering' state"
$ProviderNamespace = 'Microsoft.Backup'

do {
    Register-AzureRmResourceProvider -ProviderNamespace $ProviderNamespace
    $Status = Get-AzureRmResourceProvider -ProviderNamespace $ProviderNamespace
    Start-Sleep -Seconds 15
} while ($Status.RegistrationState -ne 'Registered')

==>

ProviderNamespace : Microsoft.Backup
RegistrationState : Registering
ResourceTypes     : {BackupVault}
Locations

[2018-05-23 16:26] #8929 closed

[2018-05-23 16:32] daviburg opened #9061 "SAP NCo details"
There is much confusion by users as to which version of SAP NCo to use as there are many flavors to download from the SAP marketplace. So:

1. We need customer to install the 64 bit version, and only the 64 bit version, because the data gateway host service runs exclusively in 64 bit. There has been incorrect instructions given on MSDN forum and by customer support to install both 32 bit and 64 bi

[2018-05-23 16:36] conceptdev commented on #9051
Thanks for the feedback @mzhukovs. We currently have a PR in place to update the Quickstart to .NET Standard (which you can [review here](https://github.com/Azure/azure-mobile-apps-quickstarts/pull/113)). Now that Xamarin.Forms 3.0 has been released, we are planning to update to the latest version as well.

[2018-05-23 16:45] johnkwaters opened #9062 "Do not receive OnConnected and OnDisconnected events when using Azure SignalR and hubs with Authorize"
My hubs are decorated with Authorize.
The angular client calls an API, gets a JTW, sends it on the query string in the connection call. The API middleware adds this to the Auth HTTP header, and thus access to hub methods is allowed. Works well with local SignalR. But when switching to Azure SignalR, my hubs stop getting OnConnectedAsync and OnDisconnectedAsync calls.

---
#### Document Details

⚠

[2018-05-23 16:52] HowardEdidin opened #9063 "MessageModelBase"
If I paste the Notification message classes into the ProcessEventsWithAzureFunctions sample,  I get an error.  What assembly does it belong to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ddc98f9-bb1a-a181-75eb-29b3929207aa
* Version Independent ID: 2af60843-c1c8-47f3-00a0-d27675c8f918
* Content: [Azure Blockchain

[2018-05-23 16:53] #8967 closed

[2018-05-23 16:56] MicahMcKittrick-MSFT commented on #9026
@rocifier Thanks for the question! We are investigating and will update you shortly.

[2018-05-23 16:56] MicahMcKittrick-MSFT commented on #9030
@lordcheeto Thanks for the question! We are investigating and will update you shortly.

[2018-05-23 16:57] MicahMcKittrick-MSFT commented on #9041
@rahulguha Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-05-23 16:58] MicahMcKittrick-MSFT commented on #9044
@canuzun Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-05-23 16:59] MicahMcKittrick-MSFT commented on #9056
@SamirFarhat Thanks for the question! We are investigating and will update you shortly.

[2018-05-23 17:03] tfitzmac commented on #8967
@pwiggers - thanks for this feedback. I agree those steps did not make sense. I added more detail between steps to fix the disconnect. It should get published soon.

[2018-05-23 17:06] TravisCragg-MSFT commented on #8825
@DmitriyVityuk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-23 17:06] #8825 closed

[2018-05-23 17:07] TravisCragg-MSFT commented on #8477
@Powerhelmsman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-23 17:07] #8477 closed

[2018-05-23 17:07] MicahMcKittrick-MSFT commented on #8765
@Bartolomeus-649 just an update, @cynthn and I have been working offline with the product groups who own the B series. We are not sure what information to add at this time but we are working to add additional information. It may not be the fastest turn around as it does require some research and better understanding of what we should and should not put out there. But rest assured we are working on

[2018-05-23 17:07] YutongTie-MSFT commented on #9054
@tromika Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@deguhath Hi, this is a doc-enhancement issue, could you please check it and update the document as necessary? Thanks a lot!

[2018-05-23 17:10] kobulloc-MSFT commented on #9021
@shobman Thank you for taking the time to provide feedback!  At first glance, I agree.  It would be very nice to avoid the hoops of multiple containers.  I want to make sure that this is seen by the product team, and we've created a channel for that very purpose:

https://feedback.azure.com

I'd be happy to submit this feature request on your behalf, but I'd like to give you the chance to submit d

[2018-05-23 17:11] MicahMcKittrick-MSFT commented on #9002
@Mike-Ubezzi-MSFT not that I am aware of. You should be able to simply load them in the same manner you do as in the doc you provided. Not sure why they are not loaded by default. I would assume that the module is not overly used by the users so loading by default just adds extra work. However there should be nothing stopping anyone from loading them themselves.

@briscomo were you able to get the

[2018-05-23 17:12] kobulloc-MSFT commented on #9035
@cloudmelon Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 17:16] MicahMcKittrick-MSFT commented on #8917
Hmmm now that I do not know....

@jonbeck7 would you have any ideas on this?

[2018-05-23 17:16] kobulloc-MSFT commented on #9035
@iainfoulds Could you take a look at this and consider adding it to our documentation?

[2018-05-23 17:18] kobulloc-MSFT commented on #9053
@chaitualladi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 17:20] SaurabhSharma-MSFT commented on #9034
@dendave Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-23 17:21] SaurabhSharma-MSFT commented on #9052
@PatrickvEk Thanks for your feedback! We will investigate and update as appropriate.

[2018-05-23 17:33] mmacy commented on #8749
Hello @DashingNelson,

You're currently restricted to mounting the Azure Files share to a directory in the container--you cannot mount a file as a volume.

[2018-05-23 17:35] mahesh-unnikrishnan commented on #8617
Resolved - please close.

[2018-05-23 17:36] Thraka commented on #8404
@alexfelton Oh man, I'm sorry about that 😢 I just did the update and it's in the system for publishing later today. I know that doesn't get you your 3 hours back though.

I think I might just remove the script from inside the article and let the article only point to the .cmd file that it currently points to. That script file was correct while this article was wrong. The link is always the latest

[2018-05-23 17:41] BradCOnGitHub opened #9065 "Wrong command in example"
New-AzureRmADServicePrincipal should be just AzureRmADServicePrincipal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: beac0740-af6e-61ce-bcfa-e783ca181b7d
* Version Independent ID: d97885ea-b051-5fde-bd14-ec977e34760e
* Content: [Tutorial - Configure HTTPS on an Azure CDN custom domain](https://docs.microsoft.com/en-us

[2018-05-23 17:42] DashingNelson commented on #8749
Ok thanks. Any idea of it being implemented and a specific date?

[2018-05-23 17:46] #9035 closed

[2018-05-23 17:50] nitinme commented on #8945
@smoms - Thanks for your interest in Azure Data Lake Store. I just tried the steps documented in the article and was able to successfully run the CURL -X POST ... command. I also received the access token as expected.

From the error message you get, it looks like you created an Azure Active Directory "web application". The article you refer to is for end-user authentication and that requires an A

[2018-05-23 17:51] Blackmist opened #9066 "delete resources command is incorrect"
az batchai group delete doesn't seem to exist. Should probably be az group delete instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb33bcc8-340f-698e-cd60-a762113975d6
* Version Independent ID: ffc3a55c-ee6c-b05a-4496-3fa6e203d14b
* Content: [Azure Quickstart - CNTK training with Batch AI - Azure CLI](https://do

[2018-05-23 17:53] AlexanderYukhanov commented on #9066
Thank you for reporting this. Fixing

[2018-05-23 17:56] gsacavdm commented on #6529
Thank you for raising this John. Adding @bernie-msft for visibility.

At this time, group based licensing hasn't been tested in Azure Government and thus isn't supported. So while it might work, you'd be using it in a "use at your own risk" capacity.

We'll update the docs accordingly once this is fully supported. You can always reiterate this ask by posting a feedback entry in the [Azure Governme

[2018-05-23 17:57] gsacavdm commented on #6973
Adding @bernie-msft for insights on this.

[2018-05-23 17:58] vasivara-MSFT commented on #9022
@ozzy1873  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 18:00] mmacy commented on #8749
Sorry, I don't currently have any information to provide on possible future integration of this feature or its release date. However, I do recommend that you add this as feedback in **UserVoice**:

https://feedback.azure.com/forums/602224-azure-container-instances

Please be as explicit in your request as possible, and provide a very clear use case when you add the request--explain more than you t

[2018-05-23 18:00] vasivara-MSFT commented on #9039
@Anmolgan81 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-23 18:02] Mike-Ubezzi-MSFT commented on #8723
@kgremban Any advice on what I can do to work through this tutorial?

[2018-05-23 18:14] gsacavdm commented on #5796
@HerbM , for Gov, you should also use RegionInfo eq 'US'.

This is because the `RegionInfo` value isn't 1-to-1 with data centers, as noted in the example in from the doc you referenced:

Note that the RegionInfo isn't specifying a data center like West US or East US2, rather just US.

@mike-urnun-msft , can you please close this issue?

[2018-05-23 18:14] Blackmist opened #9068 "Not obvious how to get some values"
It's not obvious how the reader gets the values for the following:

aad_client_id = 'FILL-IN-HERE'
aad_secret = 'FILL-IN-HERE'
aad_tenant = 'FILL-IN-HERE'
subscription_id = 'FILL-IN-HERE'

One option is listed at https://github.com/Azure/BatchAI/tree/master/recipes#jupyternotebook, but there might be other approaches.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-05-23 18:18] CelesteDG commented on #8835
Hello @SaurabhSharma-MSFT - #please-close this issue. The update is live. Thank you.

[2018-05-23 18:25] moojjoo opened #9071 "SharePoint 2013 and 2016 do not accept SAML 2.0 tokens"
How do you convert a SAML 2.0 token to a 1.1 token?  Would be nice to see that in this article because SharePoint on-site is still a big part of Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2906fe9e-319d-3625-441d-d28c9251b450
* Version Independent ID: 168fde63-9b86-41a9-f1cc-7b5a0e2e5d7a
* Content: [Learn

[2018-05-23 18:27] jkwon2013 commented on #7635
@rich-davies the functionality you need is to be able to get an email when a certain lab reaches the limit/quota you've set, is that right?

[2018-05-23 18:30] #9065 closed

[2018-05-23 18:32] carmonmills commented on #8139
@femsulu would you please assign this issue to Rob Boucher so he can resolve and close it out.  I'll circle with email as well.  We need to resolve this outstanding issue.
Thanks
Carmon

[2018-05-23 18:35] akramwaseem commented on #8591
I am sure you guys did what we talked offline?

[2018-05-23 18:38] AzureArchitecture opened #9072 "Link in Next steps is broken."
This link needs to be corrected.
•Learn how to create a [hub and spoke network topology](/azure/architecture/reference-architectures/hybrid-networking/hub-spoke?toc=%2fazure%2fvirtual-network%2ftoc.json#virtual network-peering)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e439c62-035c-47f0-a03d-c70e66f2887b
* Versio

[2018-05-23 18:39] SnehaGunda commented on #8822
@EstebanSmits I updated the sample and doc. Will will now close this issue if you have any further questions feel free to reopen.

[2018-05-23 18:39] SnehaGunda commented on #8822
#please-close

[2018-05-23 18:41] akramwaseem commented on #8591
Can we register using azure cli, we do not use power shell and there is no intend to use it at all.We run linux VMs .

[2018-05-23 18:42] NigelbrownIBM commented on #9016
Ah ok thank you - we are looking to setup SCCM labs for out team and this looked like a good option.

[2018-05-23 18:46] JohnBruceMS commented on #6529
That sounds like a terrible idea.  Its certainly in there and working.  I’m not sure why you are running away from it, but there must be something there I don’t understand.

I’ve highlighted it as an issues, I think I’m still correct, but its your docs to own.

Thanks

  *    JB   -- • 781-373-8647

From: Gerardo Saca <notifications@github.com>
Sent: Wednesday, May 23, 2018 1:57 PM
To: MicrosoftDo

[2018-05-23 18:50] chrisahardie commented on #8139
@rboucher Here is a screen grab where I try to view content. I did at one point have a free trial, I wonder if the expired trial could be interfering.

![image](https://user-images.githubusercontent.com/2429373/40444790-4b203826-5e98-11e8-8222-3d7b8b6fb638.png)

[2018-05-23 19:01] gatneil commented on #8591
Yup! https://docs.microsoft.com/en-us/cli/azure/feature?view=azure-cli-latest#az-feature-register

[2018-05-23 19:12] NickDorak commented on #8367
@MarkusVi - my statement "all apps on all platforms", was that it could be for built-in Android/iOS Mail app using ActiveSync, could be for Samsung mail app using ActiveSync, could be for Outlook Mobile app using ActiveSync, just to name a few. I know there are many more apps that use ActiveSync, so "all of them"?

I don't understand how the underlying platform (Android/iOS/Windows) has an impact

[2018-05-23 19:14] #8749 closed

[2018-05-23 19:22] SaurabhSharma-MSFT commented on #9034
@dendave do you have a list of embargo countries you are looking for ?

[2018-05-23 19:22] #6529 closed

[2018-05-23 19:27] femsulu commented on #8815
@dominicbetts , thanks for the update. changed label to iot-central (had to create a new label for this)
 Assigned to @tbhagwat3.

[2018-05-23 19:27] vasivara-MSFT commented on #9020
@ebragas You should be able to find it [here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/datafactory/resource-manager).

[2018-05-23 19:28] vasivara-MSFT commented on #9020
@ebragas We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-23 19:28] #9020 closed

[2018-05-23 19:30] DaveVoyles commented on #6811
I just noticed this issue as well. I know it worked fine for me before, too.

[2018-05-23 19:32] MohitGargMSFT commented on #8880
@jintux Sure, Azure AD B2C does not support user based access tokens and the way to achieve user level access is not the way mentioned in the document. The permission provided to webapp on web api based on scopes will be for all users of webapp.

I will assign this issue to content author to do further investigation and change content as required to add more clarity.

[2018-05-23 19:36] femsulu commented on #8889
@grhartt The omission has been fixed and I can confirm the fix is now live. Thanks again for bringing this to our attention. We will now close this issue.

[2018-05-23 19:36] #8889 closed

[2018-05-23 19:42] CelesteDG commented on #9071
Hello @moojjoo - Thank you for your feedback. I think this is a SharePoint-related comment rather than one related to Azure AD. I would recommend providing feedback in the SharePoint docs here: https://docs.microsoft.com/en-us/sharepoint/security-for-sharepoint-server/authentication-overview. Thank you.

[2018-05-23 19:43] AshishDhawal opened #9074 "cloud-init.txt"
[i am working on the windows bash,i created the cloud-init.txt file locally & passed , it created the vm,got the public ip, open the port ,unfortunately unable to open the app through web browser ?am i missing something?    ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a230cf42-66c2-e0d1-983a-7b920251fe2c
* Version

[2018-05-23 19:43] vasivara-MSFT commented on #8980
@arjun-hareendran There is no visual studio extension for ADFv2 but it is on the roadmap. We are using this platorm for document feedback. This is more of an issue that you are facing. Can you please post the question in our
 data factory [MSDN forum](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory)? Please reference this github issue link in your question. Someone

[2018-05-23 19:44] #8980 closed

[2018-05-23 19:45] Mike-Ubezzi-MSFT commented on #9058
@KevinXTian Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 19:47] Mike-Ubezzi-MSFT commented on #9058
@tfitzmac It appears that this content may need an update to the [Event subscription status](https://docs.microsoft.com/en-us/azure/event-grid/monitor-event-delivery#event-subscription-status) section.

[2018-05-23 19:47] TravisCragg-MSFT commented on #9065
@BradCOnGitHub I see that you have closed this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-23 19:49] vasivara-MSFT commented on #9039
@Anmolgan81 **Azure database for PostgreSQL** is not a supported data source as a sink yet. Please take a look at supported data sources [here](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview#supported-data-stores-and-formats).

[2018-05-23 19:50] vasivara-MSFT commented on #9039
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-23 19:50] #9039 closed

[2018-05-23 19:50] Mike-Ubezzi-MSFT commented on #9055
@jhgbrt Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-05-23 19:51] MicahMcKittrick-MSFT commented on #8112
@akramwaseem I am going to close this out for now. Please come back after you have tested and let us know the results. We can reopen to continue if needed.

[2018-05-23 19:51] #8112 closed

[2018-05-23 19:51] gopitk commented on #6811
@DaveVoyles - Can you please describe your usage scenario? i.e Are you using Jupyterhub and accessing noteboosk externally or are you trying running "jupyter notebook" from a bash locally on a X2Go session? What exactly is the error or behavior? Also when did you create the instance of the VM.

BTW - We just published a new VM image fixing the the error above "NotebookApp] No such notebook dir: ''

[2018-05-23 19:52] SaurabhSharma-MSFT commented on #9000
@leopignataro I have assigned this issue to content author to investigate and update the document as appropriate.
@msmbaldwin The documentation needs update here as we can upload certs via the keys blade as well.

[2018-05-23 19:53] Mike-Ubezzi-MSFT commented on #9055
Reference:

![screenshot 14](https://user-images.githubusercontent.com/37126106/40447695-49e8d784-5e88-11e8-8655-c5b9a563c0d1.png)

[2018-05-23 19:55] TravisCragg-MSFT commented on #9072
@AzureArchitecture Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 19:55] Mike-Ubezzi-MSFT commented on #9055
@tfitzmac Who manages the hookbin.com site, and how do we get it back to an operational state? Thank you, Mike

[2018-05-23 19:56] MicahMcKittrick-MSFT commented on #9041
@rahulguha can you provide me with the commands you are inputting and the error messages you are seeing? Also, these docs are designed to be very basic. So we do not include additional options to pick SSD vs HHD. It is possible we just choose not to provide them in these examples.

https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create

[2018-05-23 19:59] tdykstra commented on #9030
@brettsam Can you help with this question?

[2018-05-23 20:18] kpstolk commented on #6730
@banisadr If you do have any other suggestion, I would love to know ;)

[2018-05-23 20:22] fillipebs opened #9076 "Problem using Copy Activity to Access SAP BW Queries with mandatory variable"
Hello,

I'm using Copy Activity to Access SAP BW Queries, but almost every query requires me to fill up a set of mandatory variables.

Trying to access the same Query on PowerBI, it shows a new screen with the mandatory fields listed, so i'm able to select values and execute the process to access BW.

On Azure Data Factory, when I create a pipeline copy activity using a BW data set, I don't know w

[2018-05-23 20:33] sthoward0914 opened #9077 "Updated to include Managed Instances?"
Will this doc be updates soon to include Azure Managed Instances?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd929b95-a669-6c8f-d55e-8b93c1e395a1
* Version Independent ID: 9348ee72-e3be-75b8-2124-092ee46de84a
* Content: [SQL (PaaS) Database vs. SQL Server in the cloud on VMs (IaaS)](https://docs.microsoft.com/en-us

[2018-05-23 20:40] DaveVoyles commented on #6811
Sure thing.

The other day, I was able to run my Jupyter Notebooks, which I had saved in a folder on my desktop. When I logged in today I clicked the Jupyter button to launch the app, and it threw the error above.  That was on an Ubuntu DL VM.

I deleted that machine and just created an Ubunutu Data Science VM, and it works fine.

[2018-05-23 20:50] geirsagberg opened #9079 "Missing information about resource group limitations"
According to [this answer](https://social.msdn.microsoft.com/Forums/azure/en-US/c1662561-c7c4-47b8-8813-5575bb5a031d/cannot-create-windows-app-service-if-the-resource-group-already-has-a-linux-service-plan-with?forum=windowsazurewebsitespreview), there is a limitation with regards to resource group, not only a single app service: "The requested app service plan cannot be created in the current res

[2018-05-23 20:51] brettsam commented on #9030
We've discussed adding this, but it hasn't been a top priority since it's (mostly) do-able with custom logging like you've found.

I've filed https://github.com/Azure/azure-functions-host/issues/2890 to track this feature request.

[2018-05-23 20:51] tfitzmac commented on #9055
@jhgbrt - sorry about this problem. We are trying to come up with an alternative to Hookbin.

[2018-05-23 20:53] skreebydba opened #9080 "Collation and tempdb files"
I was able to change the collation of a database and add a new data file to tempdb.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309-ab2a-ec44fb5e4746
* Content: [Azure SQL Database Managed Instance T-SQL Differences](https://docs.microsoft

[2018-05-23 20:55] smoms commented on #8945
@nitinme  many thanks. Maybe worth to specify that in the doc along with permissions required to be granted to the app.

[2018-05-23 20:56] CarlRabeler commented on #9077
Yes, draft is in process

From: sthoward0914 <notifications@github.com>
Sent: Wednesday, May 23, 2018 1:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Carl Rabeler <Carl.Rabeler@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Updated to include Managed Instances? (#9077)

Will this doc be updates soon to include Azure Managed Instanc

[2018-05-23 21:01] AndriyGorda opened #9081 "Cosmos DB - Restore with Basic Support Plan"
Hello team,

Talking to Azure Support Restore is not possible with Basic Support Plan.
This document does not cover this.
Please clarify.

Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 887a7740-51a1-80b6-5d0f-704621ad50c7
* Version Independent ID: 642c593f-9563-cd62-e23f-a47bb6e3e421
* Content: [Online back

[2018-05-23 21:02] gopitk commented on #6811
Thanks @DaveVoyles for confirming our fix is working!

#please-close

[2018-05-23 21:03] aydeisen commented on #8277
@rothja: no problem.  The server in question is a non-production server, so we haven't done anything with it yet.  Retaining the column count is certainly the least impactful of the options, but right now, that also means it's not following the best practice document.  I am wondering what the preference is, and whether modifying the column count is worth the downtime.

[2018-05-23 21:05] kobulloc-MSFT commented on #9043
@dmc-tech Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 21:10] SaurabhSharma-MSFT commented on #8835
@tomconte We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-05-23 21:10] #8835 closed

[2018-05-23 21:12] kobulloc-MSFT commented on #9049
@henriksen Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-05-23 21:12] rocifier commented on #9026
FYI I found the answer here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue

Maybe we could provide a link?

[2018-05-23 21:12] vasivara-MSFT commented on #9029
@ryansuryanto Did you get this error following the document? If so can you please let me know in which step are you facing this issue?

[2018-05-23 21:14] mattbriggs commented on #8956
@TolliLF Thanks for your note about using this with AD FS. I'll update the article. #please-close

[2018-05-23 21:20] TravisCragg-MSFT commented on #8956
@TolliLF We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-23 21:20] #8956 closed

[2018-05-23 21:21] mattbriggs commented on #8957
@TolliLF Thanks for noticing this and posting an update. I'll review and update the doc.

#please-close

[2018-05-23 21:25] rfsonders opened #9082 "New SQL RP for the latest ASDK build"
Hello.
When will the new SQL RP be made available to align with the latest ASDK build? The current ASDK build, Build 20180513.1, does not support the SQL RP referenced below. Deployment fails with numerous issues.
Referenced here.
https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-sql-resource-provider-deploy

# Azure documentation issue guidance

Thanks for opening an issue in the Azu

[2018-05-23 21:30] Mike-Ubezzi-MSFT commented on #8884
I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 21:32] nitinme commented on #8945
@smoms It is already listed in the "Prerequisites" section of the article you provided the link to.

[2018-05-23 21:37] Mike-Ubezzi-MSFT commented on #8726
@israels Were you receiving error code 400 (configuration malformed)? Thanks...

[2018-05-23 21:40] TravisCragg-MSFT commented on #9063
@HowardEdidin Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 21:41] MicahMcKittrick-MSFT commented on #9026
@rocifier thanks for the update! I will assign this to the author to review and consider updating the doc to include the link.

@ggailey777 can you take a look?

[2018-05-23 21:42] rfsonders opened #9083 "ASDK - SQL RP - Connecting to off Stack SQL instance"
Does the ASDK specifically allow for off stack SQL instance connectivity? I have followed the reference article without finding a resolution.  I know off stack SQL is supported by Azure Stack. However, is this also supported by a development ASDK node?
The on stack SQL resource provider host is working as designed with zero issues.

I continue to surface the error “No such host is known” with vari

[2018-05-23 21:42] Mike-Ubezzi-MSFT commented on #8723
miubezzi@miubezzi-iotEdge:~$ sudo docker logs -f tempSensor
Error: No such container: tempSensor
miubezzi@miubezzi-iotEdge:~$

[2018-05-23 21:43] Mike-Ubezzi-MSFT commented on #8723
Reference: It does not appear that the Container deployed correctly.

miubezzi@miubezzi-iotEdge:~$ sudo docker logs -f tempSensor
Error: No such container: tempSensor
miubezzi@miubezzi-iotEdge:~$

[2018-05-23 21:44] Mike-Ubezzi-MSFT commented on #8723
Reference: It does not appear that the Container deployed correctly.

`miubezzi@miubezzi-iotEdge:~$ sudo docker logs -f tempSensor
Error: No such container: tempSensor
miubezzi@miubezzi-iotEdge:~$ `

[2018-05-23 21:45] aappddeevv opened #9084 "Timeout when calling function"
I worked through the example and everything deploys. However, I am unable to call the function, I eventually get a 5min timeout error. I had set the FUNCTIONS_EXTENSION_VERSION to Beta as well. We would probably benefit from a short description of the execution model for java programs e.g. do we need one fat jar or if not, what is the searchpath or how is the classpath structured? Also, It appears

[2018-05-23 21:51] edacostacegb opened #9086 "No Access to Using your tensorflow model with windows"
Hello

When I click on the link Using your Tensorflow model with Windows, I obtain a 403 page access forbidden.
How can I access this step ?

Regards

Emmanuel

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 916de6f5-ef41-c82b-5918-0c6149326aab
* Version Independent ID: c7a4bb67-957d-f0a3-4a9f-e71035923f58
* Content: [Export your Custom Vision Service

[2018-05-23 21:52] SaurabhSharma-MSFT commented on #9000
@leopignataro The steps which you have provided to load via Azure portal is for associating a certificate directly to an application. however, the PowerShell commands as stated in the document is for uploading and associating the certificate via Azure Key Vault.

[2018-05-23 21:53] anrothMSFT commented on #9086
Thanks. It should be this link. I am fixing it right now, but it won't post until tomorrow:

https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python

[2018-05-23 21:55] rboucher commented on #8965
#sign-off.  This change looks good.  I talked with @anirudhcavale .

[2018-05-23 21:56] anirudhcavale commented on #7744
@rboucher can we close this issue out?

[2018-05-23 21:57] MohitGargMSFT opened #9087 "Please correct the screenhot of Step2"
Please correct the screenhot of Step2 of this section - https://docs.microsoft.com/en-us/azure/active-directory/customize-branding#add-company-branding-to-your-directory

Company Branding in under Azure Active Directory not under Users and Groups.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7643fe82-32c0-619a-7a2e-9

[2018-05-23 21:58] MohitGargMSFT commented on #9087
@curtand Please help fix it.

[2018-05-23 21:59] aappddeevv commented on #9084
Well, I got this to work. I had to colocate all the jars in the same directory (the hello function directory) and made sure I had "beta" instead of Beta (not sure that mattered but I changed it anyway). I don't think the deployment model in the mvn archetype works, or at least it did not work for me.

[2018-05-23 22:00] rboucher commented on #7744
Hi @grahambunce . I'm not sure what else we can do here without support looking into the differences.  Did you check again?

[2018-05-23 22:03] edacostacegb commented on #9086
Thanks.
Tomorrow, if I click on Using your tensorflow model with Windows, can I expect the following explainations :
-> how to download the docker image
-> what are the prerequisites for using tensorflow on windows
-> How to run the docker image
-> and a sample code.

Regards

Emmanuel

[2018-05-23 22:11] CelesteDG commented on #8999
@SaurabhSharma-MSFT - I've got this suggestion in my queue and have the VSTS work item (https://identitydivision.visualstudio.com/Technical%20Content/Technical%20Content%20Team/_workitems/edit/441064). Would it be possible to #please-close this and then I can go back and follow up once the backlog item is done?

[2018-05-23 22:13] CelesteDG commented on #8762
@SaurabhSharma-MSFT - Have not heard back and I can't repro. #please-close

[2018-05-23 22:15] kobulloc-MSFT commented on #8427
@spelltwister This looks like it's outside the realm of a document improvement, and I think you'll get a better response from the forums:

MSDN
https://social.msdn.microsoft.com/Forums/en-US/home?forum=ApplicationInsights&filter=alltypes&sort=lastpostdesc

Stack Overflow
https://stackoverflow.com/questions/tagged/azure-application-insights

[2018-05-23 22:17] CelesteDG commented on #8025
Hello @MohitGargMSFT - The workaround is live but a further fix will require engineering work. Tracking any future doc enhancements in VSTS PBI and will go back to this thread if we get those updates approved. #please-close this issue.

[2018-05-23 22:18] CelesteDG commented on #7732
No further questions. #please-close. PM has already provided detailed info above.

[2018-05-23 22:27] vasivara-MSFT commented on #9076
@fillipebs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 22:28] TravisCragg-MSFT commented on #9062
Are you receiving any errors when establishing the connection? It is likely that the connection is not being established due to connection or authorization issue.

[2018-05-23 22:31] falloutxAY opened #9090 "Issues with firmware v1.2"
* Step 4:  The screen display does not show that no matter how many times I restart. It shows:

Not Connected
Enter AP Mode?

* Step 5: I suggest more information on how to enter AP mode. (Since step 4 only asks a questions)

* Step 7: The setup link does not work. http://192.168.0.1/start will show

I tried to go to http://192.168.0.1 to configure the Wifi, after the device restarts, it shows

Pl

[2018-05-23 22:37] PatAltimore commented on #9063
#in-process Contacted the product team for clarification.

[2018-05-23 22:41] TravisCragg-MSFT commented on #9082
@rfsonders Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-05-23 22:43] anrothMSFT commented on #9086
Hey
Tomorrow, it will link you to this page: https://docs.microsoft.com/en-us/azure/cognitive-services/custom-vision-service/export-model-python
This page shows you how to use an exported TensorFlow model on Windows. It's the path for exported Tensorflow models. It doesn't show the Docker export path.

Right now, once you do Docker export, in the zipfile exported there is a Read Me which shows you

[2018-05-23 22:45] israels commented on #8726
No.  I didn't see any actual error messages including any 400 errors.

On Wed, May 23, 2018 at 2:37 PM, Mike Ubezzi <notifications@github.com>
wrote:

[2018-05-23 22:46] lordcheeto commented on #9030
Figured. Thanks for the response.

[2018-05-23 22:48] viskri-msft commented on #9022
Azure Functions preserves an instance across multiple requests. We will only remove an instance after it has been idle for over a few minutes.  Multiple requests over time and even in parallel can often all share the same static connection multiplexer which gives lots of perf and resource benefits.

[2018-05-23 22:48] kobulloc-MSFT commented on #8673
@agnimitra Absolutely.  I think that adding sign out options would compliment our document's existing sign in options.  I've reached out internally and I believe we may have some solutions that will help.

@vladvino If possible, let's add some sign out information to this document.

[2018-05-23 22:49] JasonWHowell commented on #9022
@ozzy1873 please let us know if that last response answers the concern. Thx, Jason