[2019-11-21 22:03] stefsch commented on #29302
The docs have been updated previously to indicate:  "The integration subnet can only be used by only one App Service plan" and "You can have only one regional VNet Integration per App Service plan. Multiple apps in the same App Service plan can use the same VNet."

[2019-11-21 22:03] stefsch commented on #29302
#please-close

[2019-11-21 22:03] #29302 closed

[2019-11-21 22:05] stefsch commented on #26274
Docs have been updated to state Express Route support explicitly in the Regional VNet Integration section, and to state explicitly that Express Route is not supported in the Gateway required Vnet Integration section.  These are two different technologies for connecting to a virtual network, hence the reason why one support ER connections (regional vnet integration) and one doe not (Point to Site a

[2019-11-21 22:05] stefsch commented on #26274
#please-close

[2019-11-21 22:05] #26274 closed

[2019-11-21 22:07] joshheitzman-redcley-v-joheit-msft commented on #42948
@MayMSFT @YutongTie-MSFT The doc page is still wrong.  It's premature to close this without either fixing the doc page to reflect the current reality or actually completing the work to change the current reality.

[2019-11-21 22:07] Alberto-Vega-MSFT commented on #43316
Hi @ahmadizm I'm sorry to hear that you are facing this issue. For some reason the issue is not linked to a document or tutorial.
Could you please share the the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

We try to reserve this issues for documentation feedback. If you do not have feedback for a tutorial or document. Would yo

[2019-11-21 22:09] YutongTie-MSFT commented on #42948
@joshheitzman-redcley-v-joheit-msft Hi, I will reopen this issue and assign to May for fixing. Thanks again for your feedback.

[2019-11-21 22:10] Alberto-Vega-MSFT commented on #43318
Hi @larshobiasen I'm sorry to hear that you are facing this. We try to reserve these issues for documentation feedback and it looks like you need help from a support engineer.

 Can you please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Doc/Issue as well as your subscription ID and we

[2019-11-21 22:11] JonesMikael commented on #35900
@SaurabhSharma-MSFT I'm wondering about this issue. Is it true that Azure AD Connect actually enables Proxy for windowstransport each time you run it or has this been fixed? Seems like a serious bug of Azure AD Connect in that case?

[2019-11-21 22:11] joshheitzman-redcley-v-joheit-msft commented on #42948
@MayMSFT I agree that the notebook that corresponds to this doc page was recently updated and is correct.  It was update 4 days before I opened this and I didn't refresh the page in my browser when I ran into this issue when following the doc and checked the notebook to see if it had the same issue (i.e. that is my statement regarding the notebook was based on a slightly stale copy of the notebook

[2019-11-21 22:11] arroyc opened #43321 "how to set cache expiration duration for azure frontdoor"
Currently if we want to set the Cache expiration for my AFD resource, is there any way that I can achieve it? I don't want to depend on http response object's cache expiration

[2019-11-21 22:13] Alberto-Vega-MSFT commented on #43321
Hi @arroyc Thanks for reaching out! For some reason this issue is not linked to a document or tutorial.
Could you please share the the URL of the documentation you were following? That way, we can pass your feedback to the appropriate content author.

[2019-11-21 22:14] SanDeo-MSFT commented on #35900
+ @Bruce McMillan<mailto:brucmc@microsoft.com> and @Saket Kataruka<mailto:Saket.Kataruka@microsoft.com>

Azure AD Connect has never enabled this. We have update all our docs to ensure customers know that they should not enable this due to security risk exposure.

From: Mikael Jones <notifications@github.com>
Sent: Thursday, November 21, 2019 2:12 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply

[2019-11-21 22:19] ahmadizm commented on #43316
Thank you @Alberto-Vega-MSFT for following up. I was reading https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-tokens.
In contrast, the active directory tokens explained at https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens do have a roles claim and I can get them using AD authentication. However, the B2C version does not seem to

[2019-11-21 22:27] CeciAc opened #43322 ""Synchronization is currently in progress" comes up in confusing situation"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/548

@valentijnscholten commented 8 hours ago — with docs.microsoft.com
Hi,

The "Synchronization is currently in progress" is also shown when somebody else has left the Azure AD Connect wizard open (when used on a server, multiple users can be logged in - even in disconnected state).

Today I spent quite som

[2019-11-21 22:28] dcbrown16 commented on #43170
Thanks @rayne-wiselman.
@SwathiDhanwada-MSFT, that's the assessment, I'm asking about the migration.

[2019-11-21 22:41] saket commented on #35900
@SanDeo-MSFT Looks like you tagged the wrong @saket

[2019-11-21 22:43] bruce commented on #35900
@SanDeo-MSFT and the wrong Bruce. 🙂

[2019-11-21 22:47] DeanGross opened #43323 "Incomplete instructions"
There is no mention of the Setting to "restrict access to groups in the Access Panel" that is in the Self Service Group Management section of the General page for AAD Groups. Please add the appropriate information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4404d856-2612-f4a2-ed5c-fff65761293a
* Version Independent

[2019-11-21 22:48] MicahMcKittrick-MSFT commented on #43304
@thiruma0203 administrator is actually the terminology used for the Active Directory Tenants. For subscription level, we use Owner.

This falls under Access Control via the Subscriptions section in the portal while Administrators fall under the Active Directory section in the portal.

You are correct that there is not a role called co-owner. Rather you have multiple "Owners" of a subscription. So

[2019-11-21 22:48] #43304 closed

[2019-11-21 23:00] jdelforno commented on #42880
Which effectively makes the Switch statement in conjunction with certain areas of Enterprise App SSO rather limiting and realistically confined to Location attributes. E.g. State/Country/Postcode/Office etc.

Attempting to do something like a UPN Domain 'match' or ExtensionAttribute configuration via Regex would be amazing. (To be fair, I'm spoiled by PowerShell's MATCH regex heh).

Thanks for the

[2019-11-21 23:00] #42880 closed

[2019-11-21 23:00] femsulu commented on #43300
@eazykiel thanks for your question. we are currently investigating and will get back to you shortly. thanks for your patience.

Cheers.

[2019-11-21 23:02] andrewleader opened #43324 "Sample code doesn't compile"
[code]

The `new` shouldn't be there. Should be...

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cceddcd-1431-ab61-df75-7ccf74a84fba
* Version Independent ID: d5833a30-c43e-8048-63b3-d94d26410a3b
* Content: [Microsoft identity platform Windows UWP quickstart](https://docs.microsoft.com/en-us/azure/active-dire

[2019-11-21 23:03] femsulu commented on #43300
reassigning to @mrbullwinkle

[2019-11-21 23:11] allegradomel opened #43325 "Update steps to reflect current Portal UI"
This doc needs to be revised so there are clear steps for configuring the resources in the current Portal UI. Some of the steps no longer make sense or have outdated screenshots.

[2019-11-21 23:13] FrankHu-MSFT commented on #43324
@andrewleader Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:13] FrankHu-MSFT commented on #43323
@DeanGross Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:13] FrankHu-MSFT commented on #43322
@CeciAc Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:13] FrankHu-MSFT commented on #43313
@andrePKI Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:13] FrankHu-MSFT commented on #43312
@bartvermeersch Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:13] FrankHu-MSFT commented on #43308
@Kentcomp Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:13] FrankHu-MSFT commented on #43306
@Dragonsong3k Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-21 23:22] mike-urnun-msft commented on #43301
@jeremytbrun Thank you for your feedback! We will review and get back to you with our findings.

[2019-11-21 23:23] hanvyj commented on #43184
@timsander1 thanks that explains it, I'll track that issue.

[2019-11-21 23:23] #43184 closed

[2019-11-21 23:27] yashesvi commented on #42751
Here is a sample call for my sub:
/subscriptions/036d0419-794e-445d-8b8d-58f28a1af857/resourceGroups/cloud-shell-storage-westus/providers/Microsoft.Consumption/reservationRecommendations?api-version=2019-05-01&$expand=properties/SkuProperties&$filter=properties/scope+eq+'ResourceGroup'%20and%20properties/lookBackPeriod+eq+'Last7Days'%20and%20properties/resourcetype+eq+'VirtualMachines'

replace gu

[2019-11-21 23:31] Alberto-Vega-MSFT commented on #43282
@manu4rhyme Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-21 23:34] jeffesc85 opened #43326 "Failover time taken"
If I have a VM with a size of approximately 60 GB, and I want to make it failover from my VMWare to Azure, how can I estimate the time it will take to complete the failover process?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f370303c-83ea-c7a9-93c5-118d34d35f4e
* Version Independent ID: f1d12deb-0b45-c8d4-de85-8dcc

[2019-11-21 23:36] jeffesc85 opened #43327 "Failover and failback time taken"
If I have a VM with a size of approximately 60 Gb, and I want to do failover and failback tests, how long could the entire process take?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078d3818-692c-79ec-53d2-3e646270db20
* Version Independent ID: 41337efa-df45-44c9-c076-5a75a160e1b3
* Content: [Fail over and fail back

[2019-11-21 23:37] femsulu commented on #42949
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-21 23:37] #42949 closed

[2019-11-21 23:40] FrankHu-MSFT commented on #43324
Thank you for letting us know about this @andrewleader  we're making this change now.

Since we will be making this change, please let us know if there are anymore questions in regards to this by end of day otherwise we will be closing this out.

[2019-11-21 23:42] jebalert opened #43328 "Contradiction in documentation"
"External sharing in Office 365 (OneDrive, SharePoint Online, Unified Groups, etc.) and Azure Active Directory (Azure AD) B2B collaboration are technically the same thing. All external sharing (except OneDrive/SharePoint Online), including guests in Office 365 Groups, already uses the Azure AD B2B collaboration invitation APIs for sharing."

So does OneDrive/SPO use B2B API's for external sharing

[2019-11-21 23:47] kwontae opened #43329 "Sample of authorizing with Service principal (autorest/adal package)"
Please create a sample of authenticating with service principal as soon as possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3402293d-ac39-abd4-55ae-a3fc55180883
* Version Independent ID: 832abbb0-5588-fadc-b413-4ad3f2a870bc
* Content: [Azure Quickstart - Create a blob in object storage using Go](https://docs.mi

[2019-11-21 23:53] Adam-Smith-MSFT commented on #43298
@PhilStollery Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-21 23:54] andrewleader commented on #43324
No more questions, thanks Frank! You can close it out!

[2019-11-21 23:54] Adam-Smith-MSFT commented on #43329
@kwontae Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-21 23:56] AE-MS opened #43330 "The documentation here and the answer for the previous issue are not sufficient regarding combined consent with personal accounts"
This page highlights that there is no ability to do combined consent for applications that support both Azure AD + personal Microsoft accounts.  It says "other strategies present themselves" but it does not elaborate on what those strategies are.  It describes one potential strategy (use of a single application) but does not indicate what the drawbacks of that strategy are (if there are no drawbac

[2019-11-22 00:12] josheinstein commented on #40713
@molsches - Doesn't that require a RADIUS server? Would be nice if P2S supported direct authentication against Azure AD. Until then, it would be nice to see this cert generation automated through Key Vault.

[2019-11-22 00:17] mike-urnun-msft commented on #42858
Thanks @jfuller2701! I don't believe there's a `truncate()` function available that you can use, however, have you tried constructing one that works for your scenario using any of the string functions in the documentation that you've referenced? Alternatively, you can also just use the [Execute Javascript Code](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-add-run-inline-code) conne

[2019-11-22 00:18] jeevansd commented on #43306
@Dragonsong3k Thanks for the feedback here. We will update our doc now.
@v-viinde and @v-nagta Please update the doc.
CC: @chetansriv

[2019-11-22 00:19] rrmistry commented on #42001
Thanks @SumanthMarigowda-MSFT,

I noticed that the integration between https://azure.microsoft.com/en-ca/support/community/?product=cloud-shell <=> https://social.msdn.microsoft.com/Forums/azure/newthread?category=windowsazureplatform is broken. The domain https://social.msdn.microsoft.com is not available (right now)

The Azure community site directed me to `serverfault.com` so I've asked my ques

[2019-11-22 00:22] Adam-Smith-MSFT commented on #39929
@CodeSizzler  Could you please post this question in the forums https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata , or stackOverflow ? It would have a higher visibility on forums since this is not an issue with the documentation itself.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly conti

[2019-11-22 00:22] #39929 closed

[2019-11-22 00:22] dave-read opened #43331 "Should include reference to kubectl version compatibility as part Kubernetes version compatibility and upgrade planning"
When upgrading AKS clusters it's important to make sure that clients using kubectl are upgraded to versions consistent with the documented 1 up/1 down compatibility documented here: https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

The AKS docs should highlight the need to consider client compatibility in AKS upgrade planning to avoid server side upgrades that could break clie

[2019-11-22 00:24] Adam-Smith-MSFT commented on #39195
@DavidR91 Could you please post this question in the forums https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazuredata ? It would have a higher visibility on forums since this is not an issue with the documentation itself, We can also open a support ticket on your behalf when no solution is provided.
We will now proceed to close this thread. If there are further questions regarding

[2019-11-22 00:24] #39195 closed

[2019-11-22 00:27] mike-urnun-msft commented on #42858
@jfuller2701 I'll close this issue for now with the answer above, but feel free to re-open and/or tag me here with any additional questions you might have in your comment and we'd be happy to help.

[2019-11-22 00:27] #42858 closed

[2019-11-22 00:32] Mike-Ubezzi-MSFT commented on #43274
The following query is not returning a result set. Assigning to content author to review and update as appropriate.

![Screenshot (492)](https://user-images.githubusercontent.com/37126106/69387981-59c85280-0c7c-11ea-86c7-3ba0dad505f2.png)

[2019-11-22 00:34] DixitArora-MSFT commented on #43127
@ntspc1 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 00:34] #43127 closed

[2019-11-22 00:34] DixitArora-MSFT commented on #43081
@A100K Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 00:34] #43081 closed

[2019-11-22 00:35] rrmistry commented on #42001
The question has also been posted here:
https://stackoverflow.com/questions/58985769/connect-to-azure-file-share-from-azure-cloud-shell

[2019-11-22 00:39] alandillon opened #43332 "Source code?"
Page says:
"This management tool is a sample. Microsoft will provide important security and quality updates. The source code is available in GitHub. Customers and partners are encouraged to customize the tool to fit their business needs."

I see no source code in the linked repo?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-22 00:39] Alberto-Vega-MSFT commented on #43325
Hi @allegradomel for some reason the issue does not have the document attached to it. Would you please share the URL so I can share your feedback with the right content author?

[2019-11-22 00:43] alexandair opened #43333 ""Azure PowerShell Docker image" link is broken"
Page `https://hub.docker.com/rsdk-powershell/` doesn't exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a410153e-4b2d-ee5d-3ce4-6e050f2aaaf9
* Version Independent ID: 80b06afb-9e10-5bd9-3019-bd28aca84a97
* Content: [How to create Guest Configuration policies - Azure Policy](https://docs.microsoft.com/en-us/azure/go

[2019-11-22 00:53] BernardoMB opened #43334 "AES key request"
Hi,

I have managed to create a streaming locator with its associated Content Key Policy (with JWT token restriction) and its Streaming Policy (Predefined_ClearKey).

Now I am trying to request the AES key so my Azure Media Player can decrypt the encrypted content however I am getting a 401 response saying that the content key policy evaluation has failed. I think this is due to the fact that my S

[2019-11-22 00:56] roygara commented on #43298
@PhilStollery Thanks for reaching out/pointing this out. I believe you're correct. I'll update the article and switch it over to the correct term. :)

[2019-11-22 00:58] MarileeTurscak-MSFT commented on #42995
Thanks Duncan! A support ticket is the right way to go because if they find the bug, they can pass it to the product team to get it fixed. Without access to your environment I am unable to do that.

I have also created an internal tracking item for this though and will keep an eye on your case.

Feel free to reach out to me at AzCommunity@microsoft.com if you have trouble.

Closing this since it i

[2019-11-22 00:58] #42995 closed

[2019-11-22 01:04] JoeBrockhaus opened #43335 "Version 1.61-internal is not public"
This documentation all refers to versions which are inaccessible to the public.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29286aff-a419-c24b-17ab-c7d3d3112b19
* Version Independent ID: 0049d924-32c0-9506-e63e-df8feb923131
* Content: [Assign Azure AD admin roles with Microsoft Graph API](https://docs.microsoft.com/

[2019-11-22 01:12] Alberto-Vega-MSFT commented on #43315
Hi @hansharhoff PBI integration is only enabled on warm storage, so you need to configure your existing instance for warm store. Also only works on Pay as You Go

[2019-11-22 01:16] MarileeTurscak-MSFT commented on #43102
@jochenvanwylick there are some existing scripts out for this. Please try this one: https://gist.github.com/psignoret/45e2a5769ea78ae9991d1adef88f6637

I'm closing this out but if you have further questions feel free to reach out on [Q&A](https://docs.microsoft.com/answers/questions/index.html).

[2019-11-22 01:16] #43102 closed

[2019-11-22 01:24] MicahMcKittrick-MSFT commented on #43331
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 01:27] #43324 closed

[2019-11-22 01:28] MicahMcKittrick-MSFT commented on #43332
@kyurthich it appears correct to me. It links to the github repo where you can deploy the tool and review the JSON files

![image](https://user-images.githubusercontent.com/32313503/69390489-3c978200-0c84-11ea-9fa0-c26e07d8478c.png)

![image](https://user-images.githubusercontent.com/32313503/69390498-44572680-0c84-11ea-8e49-23f1493c0899.png)

What were you assuming you'd find there?

[2019-11-22 01:28] FrankHu-MSFT commented on #43240
@rbergertd Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by end of day tomorrow. Please file a new git issue with a reference to this one if you have anymore concerns. Thanks

[2019-11-22 01:29] Alberto-Vega-MSFT commented on #43033
@yoscbd Since we haven't heard back from you  we will be closing this issue. If you created a thread on the forums please share here and I can help you get an answer if community can't help.

[2019-11-22 01:29] #43033 closed

[2019-11-22 01:39] Karishma-Tiwari-MSFT commented on #43057
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
@mlearned Can you please take a look at this one?

[2019-11-22 01:40] KrishnaG-MSFT commented on #43317
@vlado101 Thanks for the update. :+1:

[2019-11-22 01:42] Alberto-Vega-MSFT commented on #43160
@kulbirjandoria We will now proceed to close this issue. If you created a thread on a dev forum please share here and I will make sure you get help.

[2019-11-22 01:42] #43160 closed

[2019-11-22 01:46] dedickinson opened #43336 "Easy Tables no longer available"
[Enter feedback here]

Refer to https://azure.microsoft.com/en-us/updates/removing-easy-tables-and-easy-apis-from-azure-app-service/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc0b51e-07e8-b217-3dab-60d43336bf1c
* Version Independent ID: 6ab73749-3503-d3b1-2b84-c3e3d7c6c0d2
* Content: [Create a Cordova app on Azur

[2019-11-22 01:56] Alberto-Vega-MSFT commented on #43243
Thanks, I see that community is engaging there closing this issue now.

[2019-11-22 01:56] #43243 closed

[2019-11-22 01:58] KranthiPakala-MSFT commented on #43210
@lightenup  As your query is not referring to a document content, we request you to please post your question on MSDN/stackoverflow and other forums, we have our engineers and others who are monitoring them and will be happy to help.

If you have a document which you are following and if you think it needs an update, please let us know about that here.

We will now proceed to close this thread. If

[2019-11-22 01:58] #43210 closed

[2019-11-22 02:06] Alberto-Vega-MSFT commented on #43244
Great. If you do not have a support plan you can always reach out as I mentioned on my previous comment.

[2019-11-22 02:06] #43244 closed

[2019-11-22 02:18] jeevansd commented on #39533
@scootafire @beastofbobmin @dandyfopper @taaeipa1 @adamharm We have tested the new plugin with these versions please download it from here now https://app.box.com/s/yuc3krl8uo8vr2is59dm44utu8dmquf9 I will upload this on the Download center in the next week. Apologies for the delays here. We have tested these versions with it Confluence: 7.0.1,7.0.2,7.0.3,7.0.4 and 7.1.0

[2019-11-22 02:37] kensykora commented on #41492
This one hit me too today. This really is not an issue with the documentation so much as it is an issue with the product itself. it should not be giving a message that is misleading like this. However, a short term solution would be to update the documentation to reflect this scenario as well

[2019-11-22 02:49] femsulu commented on #42984
re-assignigng to @bandersmsft

[2019-11-22 02:50] xieofxie opened #43338 "what's the limit of LUIS dispatch app?"
It is documented that it has [same intents limit](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-concept-enterprise#intent-limits-in-dispatch-model), but what about limit of utterances?

If two being dispatched app have 15 000 utterances each, what should I do? Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-22 02:53] paulpce commented on #39856
@SubhashVasarapu-MSFT   Can I please have an official word on this?  We are preparing to launch a new service with AFD, and the lack of both a stable backend IP address range and a method of subscribing to updates is extremely concerning.  Please advise.

[2019-11-22 02:55] msrini-MSFT commented on #43147
@cjlpowers , I will go ahead and close this issue, Please let me know if you have any further questions.

[2019-11-22 02:55] #43147 closed

[2019-11-22 02:56] msrini-MSFT commented on #43288
@LTUTE , Do you have any update on this issue?

[2019-11-22 03:17] YutongTie-MSFT commented on #43338
@xieofxie
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 03:33] tkumark opened #43339 ""error Update-AzVmss : List secrets contains repeated instances of" when running the above script"
When you run the above script mentioned in the doc. I get the following error.

Update-AzVmss : List secrets contains repeated instances of /subscriptions/xxxxxxx-xxxxxxxx-xxxxxxxxxx/resourceGroups/westus-mykeyvault/providers/Microsoft.KeyVault/vaults/mywestusvault, which
is disallowed

$ResourceGroupName = "tktestcert"
$VMSSName = ""
$CertStore = "" # Update this with the store you want your cert

[2019-11-22 03:37] MonikaReddy-MSFT commented on #43336
Hello @dedickinson , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-22 03:44] tkumark commented on #43339
Sorry my bad did not read it correctly closing

[2019-11-22 03:44] #43339 closed

[2019-11-22 03:48] AjayKumar-MSFT commented on #43319
@vlado101, Thanks for the question! We are investigating and will update you shortly.

[2019-11-22 03:49] Norrch2 opened #43340 "List of Error Codes?"
Hello,

I am looking for a list of B2C Error codes? Particularly surrounding the ROPC flow.

I have found the following references:

- https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes
- https://login.microsoftonline.com/error
- https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-sign-ins-error-codes#how-can-i-display-fail

[2019-11-22 03:55] AjayKumar-MSFT commented on #43326
@jeffesc85, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-22 03:57] AjayKumar-MSFT commented on #43327
@jeffesc85, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-22 03:59] AjayKumar-MSFT commented on #43328
@jebalert, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 04:03] KetanChawda-MSFT commented on #43001
Closing the issue as working 1:1 with @nina-pashinina.

[2019-11-22 04:03] #43001 closed

[2019-11-22 04:04] AjayKumar-MSFT commented on #43330
@AE-MS, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 04:19] KetanChawda-MSFT commented on #43226
Thanks @romankiss for raising and sharing the UserVoice. @svangeti Please upvote the [feature request](https://feedback.azure.com/forums/909934-azure-event-grid/suggestions/35997100-advancedfilters-2018-09-15-preview-add-more-op) for the product team to include into their plans.

Since this issue is not related directly to the doc, we will now proceed to close this thread. If there are further que

[2019-11-22 04:19] #43226 closed

[2019-11-22 04:22] AjayKumar-MSFT commented on #43333
@alexandair, Thanks for leveraging Azure docs feedback channel and reporting this problem! We are taking a look into this and will get it fixed soon. Your feedback is much appreciated.

You may wish to know  that you could contribute on the doc update with a Pull Request (PR), so I would like to share the steps to raise a PR:

If you know the change that is needed in an article, we encourage you t

[2019-11-22 04:23] palma21 commented on #35335
The error from lenvolk is expected, this command does not work on cloudshell. It's a cloud shell limitation.

The error from mgnashphani appears to be not finding the right client ID (the App is not created or replicated yet, or the ID in that variable is not correct). Could you please confirm by echoing the variable and/or trying again after a few minutes to check if the SP was not propagated on

[2019-11-22 04:27] Alberto-Vega-MSFT commented on #43144
@Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-22 04:27] AjayKumar-MSFT commented on #43335
@JoeBrockhaus, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-22 04:31] AjayKumar-MSFT commented on #43334
@BernardoMB, Thanks for the question! We are investigating and will update you shortly.

[2019-11-22 04:35] AjayKumar-MSFT commented on #43340
@Norrch2, Thanks for the good feedback! We are taking a look into this and will get back to you soon.

[2019-11-22 04:40] #42892 closed

[2019-11-22 04:42] SumanthMarigowda-MSFT commented on #42982
@Chenjigaram Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-22 04:42] #42982 closed

[2019-11-22 04:50] KrishnaG-MSFT commented on #43339
@tkumark Glad to know you have self resolved and closed the issue. Thanks for the update.

[2019-11-22 04:59] isaaccarrington commented on #43302
Hi @Alberto-Vega-MSFT. I wasn't following any tutorial or document. Thanks for the feedback, I guess I should address my queries for implementation there. Feel free to close this, but to be consistent I would suggest either removing vnet injection as its preview for linux or make some note of it. Cheers

[2019-11-22 05:08] sameera opened #43341 "Mention of `Tenant-Name` in *Basic SAML Configuration* section could be misleading"
The Basic SAML Configuration section lists out a set of sample URL patterns for the *Reply URL* parameter; which includes the term "tenant-name" which is to be replaced based on the target NetSuite account.
It is likely that a NetSuite admin going through this documentation may interpret this term as referring to the NetSuite Account Number which is used as the tenant ID as NetSuite URLs take the

[2019-11-22 05:15] shashishailaj commented on #42703
@rpdome @shoatman @Om83 Could one of you please help answer this query from the customer?

[2019-11-22 05:24] sujayvsarma commented on #40950
(Not the content author, or have anything to do with the official streams) - AFAIK, the Table Storage system automatically indexes your data using the Partition and Row keys. Other columns in your table are not indexed. So, if you query the table using at least one or both of your Partition/Row keys, the Storage system can locate the required row(s) more efficiently.

There are two caveats to this

[2019-11-22 05:44] mike-urnun-msft commented on #42379
Hello everyone - We're proceeding to close this issue as (a) this repo is more for driving improvements towards MS Docs and (b) we're now tracking the issue in the repo referenced above in @EricJizbaMSFT's comment.

[2019-11-22 05:44] #42379 closed

[2019-11-22 05:51] VikasPullagura-MSFT commented on #43171
@rdeltcheva Thanks for providing the details and confirming on the document update timelines.

[2019-11-22 05:53] dcbrown16 opened #43344 "No steps for VPN gateways"
The VPN Gateway page discussing moving from classic to ARM refers us to this section, but there are no instructions for actually migrating the VPN Gateway anywhere.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-classic-resource-manager-migration

Please add this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-22 05:53] jsauve opened #43345 "Please specify service mode in the instructions"
As of 11/03/2019, the instructions omit the details on which SignalR service mode to choose. Please add that to the section "Create an Azure SignalR resource". Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Con

[2019-11-22 05:55] VikasPullagura-MSFT commented on #43171
@smithashajith Hope the response for the content team helps clarify your query on the updating the document.
We will close this issue now. If there are further questions on this, please tag my name in a comment. I will reopen the issue and we will be glad to assist you further on this.

[2019-11-22 05:55] #43171 closed

[2019-11-22 05:55] SumanthMarigowda-MSFT commented on #42883
@WenJason azcopy login --aad-endpoint The parameter is called aad-endpoint.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 05:55] #42883 closed

[2019-11-22 05:55] souravmishra-msft commented on #43072
@chino0913, Can you please share some more details around this Error Code, Like what steps got you this error and what does the description of this error states.

[2019-11-22 05:56] SadiqhAhmed-MSFT commented on #42917
@lonevvolf Thanks for the updated! Glad to hear your issue is resolved now.

[2019-11-22 05:57] RohitMungi-MSFT commented on #43123
@Robotbae Active learning suggestions are displayed based on the number of similar questions that are asked by users to the bot. There is an internal mechanism to poll the questions submitted and check  the ones that are similar and they are displayed as suggestions in the portal to the user. Here is a more detailed explanation of what you are looking for in issue [25638](https://github.com/Micros

[2019-11-22 05:58] tkumark commented on #42700
@jakaruna-MSFT could you please elaborate on how to use Set-AzServiceFabricSetting for updating Reverse Proxy to point to new certificate. What values would I have to pass for section and parameters?

[2019-11-22 06:02] ArcherAZ commented on #43205
Thanks for the feedback and sorry for the inconvenience. We will consider adding it to our feature backlogs. For now, you may batch uncompress them (Win10 supports), compress to a single .zip, and upload.

[2019-11-22 06:15] junaidk opened #43346 "Wrong labeling"
In "Leveraging the Managed Identity" xml code snippet is wrongly labeled as json.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8bce949c-a48a-9d33-5627-795a41cb0864
* Version Independent ID: 0d51b682-6893-8640-3f5f-ae1b65378d81
* Content: [Azure Service Fabric - Configure container repository credentials](https://docs

[2019-11-22 06:24] JonesMikael commented on #35900
@SanDeo-MSFT Awesome - thanks for clarifying this very quickly so we can make sure our implementation documentation for our customers are correct.

[2019-11-22 06:26] SnehaAgrawal-MSFT commented on #43262
@doctorray117 Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-22 06:28] SnehaAgrawal-MSFT commented on #43345
@jsauve Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 06:28] doctorray117 commented on #43262
👍 thanks!

[2019-11-22 06:42] voellm commented on #40337
Yes you are correct.  The certificate needs to be uploaded to the App Identity created.   Please propose a change to the article.

[2019-11-22 06:47] aholguinrevint commented on #38116
Could you also clarify if SSE applies to the NVMe storage on Lsv2-series virtual machines?  This scenario is a grey area and appears to be undocumented.

[2019-11-22 06:50] Ramji-S opened #43348 "Connection mode usage tips missing ?"
The Java Async SDK supports "Direct" mode for a while now (guess a few months back, support was added) and we started using Direct mode based on experiences with Sync SDK. The page misses recommendation on the usage between Gateway and Direct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 050823fb-8a4b-b86e-cadf-f55f8

[2019-11-22 07:29] NAshwini opened #43349 "Username as "azure" is not working for windows Vm."
Username as "azure" is not working for windows Vm. Is there any recent change which impact this as I am not able to see it under The following usernames are not allowed section https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq#what-are-the-username-requirements-when-creating-a-vm

Edited: doc info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-11-22 07:55] tsubaki961 opened #43352 "Where DRM Service Endpoint of Azure Media Services?"
I want to distribute video content encrypted with DRM.
I successfully delivered encrypted content according to sample.
But, Own player can't play that.

In Sample, token by created content key policy is used Azure Media Player. But, somehow Azure Media Player don't connect DRM service endpoint. Naturally, Other Players (Example. dash.js, video.js) need that procedure.

In Docs, According to follow

[2019-11-22 08:15] icelava opened #43353 "Rename devices"
Is there anyway to modify the computer names? Names DESKTOP-K031H55 or LAPTOP-K031H55 are random and not very indicative. Can't see any option ot rename from Azure AD devices or InTune. Device name is either a plain-text field or greyed-out text box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8119688-e88d-2916-3dc

[2019-11-22 08:19] KerimY commented on #18205
Hello, did it Change since 2018? Is there now a way to upload an Image over the size of 4mb?

[2019-11-22 08:19] hansharhoff commented on #43315
It is configured for warm store. But in TSI Explorer you can see both types of data at the same time. So this will not be possible with Power BI connector. Are there any plans to be able to show data from cold store in Power BI?

[2019-11-22 08:22] KerimY opened #43354 "Size restriction"
Hello there, my Question is if there is any way to upload a Image over the size of 4mb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 867c13a4-259b-5686-3208-9c335cc504c1
* Version Independent ID: dad41b97-f678-7807-0837-df9b426e9009
* Content: [Printed, handwritten text recognition - Computer Vision - Azure Cognitive

[2019-11-22 08:24] RohitMungi-MSFT commented on #43179
@xieofxie Thanks for pointing this out. I see that the adding the same key with different values will only save the last key value during training of your KB and you can query with a '*' character for all possible values. We would ask our content author to review these options to add them to documentation.

![image](https://user-images.githubusercontent.com/46958063/69409550-27c3f880-0d2f-11ea-98c

[2019-11-22 08:27] olavt opened #43355 "az up causing error message 'NoneType' object has no attribute 'upper'"
I got an error message when following the instructions using the Cloud Shell:

Requesting a Cloud Shell.Succeeded.
Connecting terminal...

Welcome to Azure Cloud Shell

Type "az" to use Azure CLI
Type "help" to learn about Cloud Shell

olav@Azure:~$ mkdir quickstart
olav@Azure:~$ cd $HOME/quickstart
olav@Azure:~/quickstart$ git clone https://github.com/Azure-Samples/html-docs-hello-world.git
Cloni

[2019-11-22 08:27] LTUTE commented on #43288
Hi, yes. Can I configure websocket protocol via portal?

2019-11-22, pn, 04:56 KARTHIK SRINIVAS <notifications@github.com> rašė:

[2019-11-22 08:33] allanmoller commented on #43287
ok thx, no problem i will just use concat with resourceGroup().name to achieve same result!

[2019-11-22 08:34] SadiqhAhmed-MSFT commented on #42969
@a00012025 This scenario is not supported. You cannot have a host which is also a domain controller. As a workaround, you can treat the VMs as if they were physical machines and use that to replicate.

We will close this issue for now. Please tag me in you reply if you've further questions in this matter.

[2019-11-22 08:34] #42969 closed

[2019-11-22 08:47] maaaaagda opened #43356 "Invoke-AzVMRunCommand : Run command extension execution is in progress."
Hi,
I'm running Invoke-AzVMRunCommand in a powershell and sth gets stuck there. I keep waiting, then I restart terminal and try again. After this I get
`ErrorCode: Conflict
ErrorMessage: Run command extension execution is in progress. Please wait for completion before invoking a run command.
ErrorTarget:
StatusCode: 409
ReasonPhrase: Conflict`

Nothing is helping. I tried restarting vm - not worki

[2019-11-22 08:47] EricKyaw commented on #41738
Thanks @xiaoharper. Do you have any update on this? Is it a bug?

[2019-11-22 08:48] jmprieur commented on #43227
Fixed by https://github.com/MicrosoftDocs/azure-docs-pr/pull/96901

[2019-11-22 08:51] msrini-MSFT commented on #43288
You don't necessarily need to enable web sockets. It is enabled by default.

Reference: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-websocket

[2019-11-22 09:05] maaaaagda commented on #43356
I don't even know what is the timeout value or where to find it. It should be possible to set it as a param

[2019-11-22 09:08] SubhashVasarapu-MSFT commented on #43174
@smithashajith , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-11-22 09:08] #43174 closed

[2019-11-22 09:10] patrickpouw commented on #39533
@jeevansd Just installed the new plugin on our Confluence and works like a charm! Thanks!

[2019-11-22 09:13] BlackMercy commented on #32708
Will there by any risk or considered a security flaw if we can't apply firewall or VNET to the storage?

I thought that if we can make VNET between storage and app service to restrict access from the internet, it would be safer.

To be precise, if firewall is not supported for storage mounting, does it mean we have to set "Allow access from all networks" under "Firewall and virtual networks" for t

[2019-11-22 09:19] olavt commented on #43355
I also tested this using the command window on my local computer and I got exactly the same error.

[2019-11-22 09:20] xieofxie commented on #43179
@RohitMungi-MSFT thanks for the reply. But when I tried
[code]
in query, it will not return QAs with metatag `"name": "animal", "value": "cat"`. Do I miss something?

[2019-11-22 09:21] AshokPeddakotla-MSFT commented on #43189
Adding author @dominicbetts to review this further and provide an update.

[2019-11-22 09:26] wukun2015 commented on #43216
Glad to hear that !

[2019-11-22 09:26] hyphro opened #43358 "Possible to add an application instead of an user account as User Account Administrator to an AU?"
We could successfully add an Azure AD User account as Scoped Admin to the AU, but unfortunately adding an application with User Account Administrator role to the AU was not possible.

Tried it with the following commands:
$appUA = Get-AzureADObject -ObjectIds "#objectidofapplication#"
$uaRoleMemberInfo = New-Object -TypeName Microsoft.Open.AzureAD.Model.RoleMemberInfo -Property @{ ObjectId =  $app

[2019-11-22 09:44] maaaaagda commented on #43356
Ok, I found some more info here: https://docs.microsoft.com/bs-cyrl-ba/azure/virtual-machines/windows/run-command, timeout is 90 minutes

[2019-11-22 09:47] ram-msft commented on #43354
@KerimY Thanks for the question. We are investigating the issue and will update you shortly.

[2019-11-22 09:56] dennistorbidoni1337 commented on #9848
Hi. I have some problems with the Uniq filter when running transformation in Logic App. When I uses different online tools the mapping is correct but not in LA.
{% assign transactions = content.Table1 | Map: 'faktnr' | Uniq %}
and content.Table1 contains 3 records with faktnr 44084, 44084, 44089. In online tool when I try {{transactions | size}} I get 2 as result, but in my Logic App {{transaction

[2019-11-22 10:03] giovannifl opened #43359 "FCI and Azure Premium FS DR options"
Hello,
In case the "two-node failover cluster running in Azure VMs using Premium File Share" option is selected, what options could be available for DR ?
Generally speaking, Azure Premium File Share supports LRS and Azure File Sync only supports 1 cloud endpoint per sync group.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-11-22 10:03] VikasPullagura-MSFT commented on #43344
@dcbrown16 Thanks for the feedback! I am assigning the issue to the content author for adding comments and enhancing the document as applicable.

[2019-11-22 10:05] 245H opened #43360 "Shared Responsibility Model"
Need to amend the model to add "Storage". Please update thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4ec59b4-502b-1a20-cde0-ab08647fc86a
* Version Independent ID: 8cb55ad6-b271-a597-aff7-47d4c0f3ec5f
* Content: [Shared responsibility in the cloud - Microsoft Azure](https://docs.microsoft.com/en-us/azure/se

[2019-11-22 10:11] nikhilpulluri-gep opened #43361 "Service fabric time out issue while registering application"
When i try to deploy 50 applications at a time in to service fabric, i am getting below error,
is there any solution or can we set any limit of access to service fabric at a single point of time.

New-ServiceFabricApplication : Operation timed out.

At C:\Program Files\Microsoft SDKs\Service

Fabric\Tools\PSModule\ServiceFabricSDK\Publish-NewServiceFabricApplication.ps1:358 char:9

+         New-S

[2019-11-22 10:29] asergaz commented on #43157
I have assigned this issue to doc-author @rajeevmv so we analyze your feedback and enhance the doc accordingly. Thanks!

[2019-11-22 10:31] SnehaAgrawal-MSFT commented on #43355
@olavt Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 10:31] SnehaAgrawal-MSFT commented on #43352
@tsubaki961 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 10:32] tumluliu opened #43362 "How to achieve the same steps as in this page with az cli?"
Does az-cli support the token config changes described in this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02ff3d62-dc0e-ad0c-f5ae-418337cf31e4
* Version Independent ID: d50952b5-6b98-c40d-d3a3-f9cbec58dd28
* Content: [Configurable token lifetimes in Azure Active Directory - Microsoft identity platform](https:

[2019-11-22 10:48] VikasPullagura-MSFT commented on #43346
@junaidk Thanks for the feedback. A PR is raised for fixing this, the changes will go live once PR is approved.

[2019-11-22 10:54] phenaxkian opened #43363 "Confusing Typo"
There appears to be a typo in the "Add additional Chit-chat questions and answers". It says that you should add the metadata tag "Editorial: chit-chat" but the image (and chit-chat samples themselves) don't include the hyphen. From the testing I've done I suspect it doesn't need the hyphen and the page needs updating to reflect that.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-11-22 10:57] sathyatvrcbe opened #43364 "Concurrent Access of File Share from multiple pods"
Hi Team,
I read the documentation about "Manually create and use a volume with Azure Files share in Azure Kubernetes Service (AKS)" at https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

I don't clearly understand the meaning of this sentence:

Can you please clarify this? I want multiple pods to read the files in the Storage Account's file share concurrently. Is it possible to achieve

[2019-11-22 11:08] ksymes commented on #42976
@jeevansd instructions to obtain Azure metadata, add it to OpenAthens, then add OpenAthens metadata to Azure would work.

[2019-11-22 11:08] RohitMungi-MSFT commented on #43192
@wukun2015 Here are the list of languages that are supported.
es-ES (Castilian Spanish)
en-US (American English)
fr-FR (Standard French)
zh-CN (Mandarin Chinese)

THe list of languages are documented in this API reference [link](https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/5645c068e597ed22ec38f42e).

[2019-11-22 11:10] tomkerkhove commented on #26479
Rolling back from `Microsoft.Azure.Storage.Blob` to `WindowsAzure.Storage` fixed it for me.

[2019-11-22 11:10] RohitMungi-MSFT commented on #43363
@phenaxkian Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-22 11:23] borys86 opened #43365 "where to find api version(s) ?"
where to find API version(s)? What are the possible values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ffeaaf5-1859-90e1-6451-aca6d7fb34b1
* Version Independent ID: 43849bff-28fe-661c-be86-d8d355ac0584
* Content: [Deployment history - Azure Resource Manager](https://docs.microsoft.com/en-us/azure/azure-resource-ma

[2019-11-22 11:23] o-l-a-v commented on #42732
@bandersmsft
Could you please verify Janosch Ulmers comments regarding user+app/ delegated permissions which probably causes Cloudyn to be non-compliant with the secure application model, with the Cloudyn engineering team?

[2019-11-22 11:23] ricemeisterio opened #43366 "sample data, download our example file."
We're sorry, but {USER} can't be found in the microsoft-my.sharepoint.com directory. Please try again later, while we try to automatically fix this for you.

Correlation ID: 4d501a9f-7076-0000-c908-bbcde50a48da
Date and Time: 11/22/2019 3:20:59 AM
URL: https://microsoft-my.sharepoint.com/personal/hamusa_microsoft_com/_layouts/15/guestaccess.aspx?e=y4Z3oX&share=EYK_2-ZybURFlNVTJnw1u0gBlbBnASyGtWF_y

[2019-11-22 11:27] ricemeisterio commented on #43366
I am unable to down the  .CSV template or the sample populated .CSV example

[2019-11-22 11:29] Peter-B- commented on #42046
I also find it confusing to see two different versions of the host.json. I think the "host.json settings" version is working.

[2019-11-22 11:30] ricemeisterio commented on #43366
A working link for the template is https://go.microsoft.com/fwlink/?linkid=2109031
Cannot find the a working link for sample populated templated.

[2019-11-22 11:40] MonikaReddy-MSFT commented on #43294
@nakamacchi ,
Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 11:40] #43294 closed

[2019-11-22 11:40] jcbrooks92 commented on #32708
For the time being that's correct. In short web app IPs are not in the trusted Azure list of IPs. A feedback request for this feature can be created. The product teams prioritize the requests based off of feedback from these forums.
https://feedback.azure.com/forums/34192--general-feedback?query=Storage%20firewall

[2019-11-22 11:55] AshokPeddakotla-MSFT commented on #43196
@Mo-GH It seems like your issue is not a documentation bug or feedback. Your question might be better suited for a developer forum like Stack Overflow or MSDN.
I would suggest you please open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scena

[2019-11-22 11:55] #43196 closed

[2019-11-22 12:14] MikeBarker-MSFT opened #43367 "Update"
This page should be updated to indicate the current status of SSDT, and the use of the "Azure SQL Data Warehouse deployment" marketplace extension for deploying DACPACs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 747d4d2a-ce3f-21f2-0020-f853cbc4ebab
* Version Independent ID: aa082249-742f-ad5f-deaf-7b99bd5f2f02
* C

[2019-11-22 12:17] sopelt opened #43368 "Add warning/explanation on MSI token caching"
According to articles like https://blogs.msdn.microsoft.com/azuredev/2018/07/23/understanding-azure-msi-managed-service-identity-tokens-caching/ the MSI endpoint will maintain a cache per resource URI for ~8 hours.
If you follow the sample but request a token for `https://database.windows.net/` in a deployed app before having assigned the MSI principal to the AAD group the app will keep getting a

[2019-11-22 12:18] sopelt commented on #42147
@petercmho I meant that if your AAD user has a home tenant different from the azure resource's subscription's tenant there might be an issue. So the Database will accept tokens that are issued by the directory your azure subscription is attached to.
Another issue might be having your token cached by the MSI endpoint when using groups as discussed in https://github.com/MicrosoftDocs/azure-docs/issu

[2019-11-22 12:24] MaxHogervorst opened #43369 "Create a subscription for a customer returns an empty object"
POST https://management.azure.com/providers/Microsoft.Billing/billingAccounts/&lt;ID&gt;/customers/&lt;ID&gt;/providers/Microsoft.Subscription/createSubscription?api-version=2018-11-01-preview

returns `{}` instead of a `subscriptionCreationResult`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 371189c2-154f-2716-bbc0-

[2019-11-22 12:29] buzzkillionair commented on #43305
@Alberto-Vega-MSFT  I will post there and close this thread.

[2019-11-22 12:29] #43305 closed

[2019-11-22 12:37] buzzkillionair commented on #43305
It also said this after my error. Please post an issue on Github if support for this scenario is desired

[2019-11-22 12:53] ruksarsayed opened #43371 "powershell commands"
the updated commands are not available as per the new versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 258e62a7-a977-1cdf-7dbf-b94ab034e918
* Version Independent ID: 509124d0-7f20-3a1e-237e-d6d047d096a4
* Content: [Tutorial: Use Azure Database Migration Service for an online migration of RDS PostgreSQL to Azure

[2019-11-22 12:58] ziesemer commented on #38116
I thought I had already replied to this - but could you please elaborate on how this would be done?  As it is a non-persistent disk, adding BitLocker or such would not be guaranteed to remain.  The best I can think of would be to handle this during a startup script - and am thinking of a number of considerations that would make this more difficult than it may first appear...

[2019-11-22 13:32] Nasicus commented on #40234
Any update / response here? I'm about to release first version just without this bae64 URL stuff (simply because I cannot register the URL in the azure portal, as written above) and hope for the best...

[2019-11-22 13:36] ffmmjj opened #43372 "Description of workspaceId seems wrong"
In https://docs.microsoft.com/en-us/azure/data-factory/monitor-using-azure-monitor#create-or-update-a-diagnostics-setting-in-the-monitor-rest-api, the response schema description says that "workspaceId" has type ComplexType and is described as "An array of metric time grains and their retention policies.
This property's value is empty", but I believe it should be simply the ID (string) of the work

[2019-11-22 13:53] master135 commented on #42973
Sent on mail

[2019-11-22 13:54] AjayKumar-MSFT commented on #43341
@sameera, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 13:58] AjayKumar-MSFT commented on #43348
@Ramji-S, Thanks for the feedback!  We are investigating and will update you shortly.

[2019-11-22 13:59] steveculshaw commented on #35331
Is the functionality still current?

Any news on the content being updated?

[2019-11-22 14:03] nwipfli opened #43373 "Key vault creation"
Under the section https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-portal-quickstart#create-a-virtual-machine, the step 4 states "For Resource group, select the resource group you created when making your key vault above" but nothing above points to the resource group and key vault creation.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-11-22 14:03] AjayKumar-MSFT commented on #43349
@NAshwini, Thanks for the question! That's a good catch! We are taking a look into this and will get back to you soon.

[2019-11-22 14:04] jochenvanwylick commented on #43102
@MarileeTurscak-MSFT Much appreciated !

[2019-11-22 14:14] jeremytbrun commented on #43301
To be clear, my immediate goal is to install an on-premise gateway and use it with Azure Logic App's in an Azure "**Commercial**" Subscription. I'm providing information about my experience with both an Azure Government _and_ an Azure _Commercial_ account, though, to give the full picture, and to pave way for me to later do the same thing with an Azure Government Subscription.

[2019-11-22 14:28] AjayKumar-MSFT commented on #43353
@icelava, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-22 14:29] gokberkkaraca opened #43374 "IdP initiated SSO Support for Opsgenie"
This documentation states that Opsgenie application supports only SP initiated SSO. We would like to introduce IdP initiated SSO support for Opsgenie application but we need technical guidance to do that. After our analysis, we found out that Azure AD does not send a SAML response to Opsgenie application. Can you guide us on this issue?

The details of the issue are explained in this forum post: h

[2019-11-22 14:31] Jessejames106 opened #43375 "Minimum Throughput"
Hi,
Is there a reason why the minimum throughput on the second tier is not 0.1*Tmax?

As the other tiers are consistent with this (1st tier 400-4000, 3rd tier 10k - 100k, 4th tier 50k - 500k) I would have expected the 2nd tier to scale between 2k - 20k, yet this tier scales from 4k to 20k.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-22 14:33] rothja commented on #43016
@jtuliani Thanks for the suggestion. I manage this article, but I need a subject-matter-expert to look at this request. @cherylmc I believe that you own many of the express route articles? Could you take an initial look at this request? Thank you! #reassign:cherylmc

[2019-11-22 14:41] rothja commented on #41298
@NavtejSaini-MSFT @v-shtosh Sorry for the delayed response. Van is out of the office for the rest of this month, and any update on this might be delayed. @rohitnayakmsft Can you look and see if you have suggestions on what changes we need to make to the article? Thanks for your patience.

[2019-11-22 14:41] rothja commented on #41298
#assign:vanmsft

[2019-11-22 14:43] rbergertd commented on #43240
Hi Frank,

We are actually working on automating the deployment of AADDS for an automation we are working on putting together. So I am doing all of it via PowerShell. Creating a new VNet, the 2 required subnets, and then deploying AADDS. I am using this https://docs.microsoft.com/en-us/azure/active-directory-domain-services/powershell-create-instance as a template reference. There are no VPN’s or

[2019-11-22 14:45] Abso11 opened #43376 "Cmake error: permission denied"
Hello, I'm new to raspberry and have a configuration problem

I'm using this guide: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-c-get-started

Steps I've taken so far on the 3B + model:
1. sudo apt-get install git-core
2. git clone https://github.com/Azure-Samples/iot-hub-c-raspberrypi-client-app.git
3. cd ./iot-hub-c-raspberrypi-client-app
4. git clone https://github.c

[2019-11-22 14:47] rfontijn opened #43377 "Emails are not delivered!"
I want to have contact on this using the supplied email adress, but emails are not delivered!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aed00dab-131e-ecde-1416-66b3590a9e65
* Version Independent ID: c6071445-f111-370a-d266-68972b105427
* Content: [Create web APIs & REST APIs for Azure Logic Apps](https://docs.micr

[2019-11-22 14:49] taaeipa1 commented on #39533
@jeevansd Installed on our confluence and works great! Great job! Many thanks!

[2019-11-22 14:49] KerimY commented on #43354
@ram-msft and?

[2019-11-22 14:52] BharathNimmala-MSFT commented on #41720
@JohnPhamous At this point it appears that there's no further edits needed for the exisiting documentation. We will go ahead and close this thread. However if any further information is needed please feel free to tag us in your reply and will be happy to take the conversation forward. Thank you.

[2019-11-22 14:52] #41720 closed

[2019-11-22 14:55] #43098 closed

[2019-11-22 14:57] AjayKumar-MSFT commented on #43356
@maaaaagda, Thanks for the question! Yes, as mentioned in the document you linked - 'The maximum time a script can run is 90 minutes. After that, it will time out.'
While we're investigating on this, could you share any specific Azure doc that you may be referring to for the process/cmd/script?

[2019-11-22 15:01] ram-msft commented on #43354
@PatrickFarley Can you please help on this.

[2019-11-22 15:05] DiederikvandenB commented on #8423
I feel like being able to add Docker environment variables to the `docker run` command is a very basic and essential feature.

I am not surprised that again Azure manages to turn something trivial into an issue which takes me way to long to fix.

[2019-11-22 15:05] AjayKumar-MSFT commented on #43358
@hyphro, Thanks for leveraging Azure docs feedback channel to raise this good question! We are currently investigating and will update you shortly.

[2019-11-22 15:06] dominicbetts commented on #43189
Hi @koratshail - thanks for the feedback. The preview code generator has recently been updated with some new options. The recommended approach to building a device client is now to use the **Vcpkg** library manager rather than rebuilding the device SDK. A new version of the tutorial should be available later today with updated steps.
Regards, Dominic

[2019-11-22 15:06] AjayKumar-MSFT commented on #43359
@giovannifl, Thanks for the good question! We are taking a look into this and will get back to you soon.

[2019-11-22 15:06] KrishnaG-MSFT commented on #43190
@janpalas The reason for that is, this time is randomly defined for workspaces to spread the initiation of ingestion for all capped workspaces simultaneously.

[2019-11-22 15:08] AjayKumar-MSFT commented on #43360
@Harinder-83, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-22 15:09] rothja commented on #35491
@tescales I manage the article, but I need the content leads for the azure services to verify the limits with their teams. @vhorne , can you confirm that you are the right person to investigate and update the limits for application gateway? Thank you!!

[2019-11-22 15:16] turnerno8 opened #43379 "Helm Syntax is out of date"
I have just started this tutorial and installed helm (version 3.0.0) and the syntax is incorrect for the helm commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1a53f1e-4a0f-e340-b0ab-0e75046afbac
* Version Independent ID: 14170d59-92c9-6639-7def-51e7e28da3cd
* Content: [How to install IoT Edge on Kubernetes](htt

[2019-11-22 15:17] AjayKumar-MSFT commented on #43361
@nikhilpulluri-gep, Thanks for the question! We are investigating and will update you shortly. In the interim, could you also please share the Azure doc for which this feedback is applicable to?

[2019-11-22 15:18] AjayKumar-MSFT commented on #43362
@tumluliu, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-22 15:20] NavtejSaini-MSFT commented on #43367
@MikeBarker-MSFT We are checking this and will get back to you.

[2019-11-22 15:21] NavtejSaini-MSFT commented on #43375
@Jessejames106 We are checking this and will get back to you.

[2019-11-22 15:24] DCtheGeek commented on #43333
#reassign:DCtheGeek

[2019-11-22 15:25] DCtheGeek commented on #43333
@alexandair Thanks for pointing this out! I'll get it fixed right now. Once the update merges, this issue will automatically be closed.

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-11-22 15:29] BharathNimmala-MSFT commented on #43166
@prabhushrikant Azure Application Insights Spring Boot Starter for end-to-end monitoring for Java applications on cloud is currently being is documented [here ](https://docs.microsoft.com/en-us/azure/java/spring-framework/configure-spring-boot-java-applicationinsights).

I have also assigned the issue to our Product PM @MS-jgol to further evaluate your query and see if any additional information c

[2019-11-22 15:31] danifran opened #43380 "Azure AD Premium License still required?"
The page states that the Azure AD Premium is a requirement, but the following page
https://azure.microsoft.com/en-us/pricing/details/active-directory/
states that Device writeback is available also for "office 365 apps". As far as I've understood, if my company has an Office 365 subscription, the device writeback feature could be enabled without requiring an Azure AD P1 license or more

---
#### D

[2019-11-22 15:32] crkuchlenz opened #43381 "Error in EventHubClient.create()"
For whatever reason, when trying to run the EventHubClient.create() command, I am getting an errror saying that the method is not a member of the standard library.

val eventHubClient = EventHubClient.create(connStr.toString(), pool)

command-1972754847102381:1: error: value create is not a member of object com.microsoft.azure.eventhubs.EventHubClient

---
#### Document Details

⚠ *Do not edit thi

[2019-11-22 15:34] Chai-NED opened #43382 "Limit of VMs per backup policy"
Hi,

Is the 100 VM/policy still accurate?

Thanks,

Chai

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88beaa58-adf5-28ef-5510-01ace6923eef
* Version Independent ID: 02b2de6f-ba0a-d9dc-fd4f-c0c4d3a46107
* Content: [FAQ - Backing up Azure VMs - Azure Backup](https://docs.microsoft.com/en-us/azure/backup/backup-azure-vm

[2019-11-22 15:37] AjayKumar-MSFT commented on #43364
@sathyatvrcbe, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-22 15:39] #43333 closed

[2019-11-22 15:39] brolaugh commented on #35291
@PramodValavala-MSFT

I believe the question was rooted in the fact that e.g. App Services have additional outbound IP addresses that can be seen in the Property blade and these IP addresses are often different than the public IP address that's used for incoming network traffic.

Looking at one of the App Services I have, there's 9 IP addresses used for outbound traffic in addition to the one addr

[2019-11-22 15:40] AjayKumar-MSFT commented on #43365
@borys86, Thanks for leveraging Azure docs feedback channel! We are taking a look into this and will get back to you soon.

[2019-11-22 15:42] PramodValavala-MSFT commented on #42939
@olandese Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 15:42] #42939 closed

[2019-11-22 15:47] AjayKumar-MSFT commented on #43366
@ricemeisterio, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 15:48] staynik opened #43383 "What version of the Azure AD PowerShell module do we need to use?"
I added the latest Public Release version of the Azure AD Powershell module (2.0.2.61) but I don't see any of the get or set Msol* commands. For example, I was trying to Document current federation settings as it recommends but Get-MsolDomainFederationSettings was not recognized as cmdlet.
Am I on too new a version? And if this is the version that will be supported by Microsoft in the future, are

[2019-11-22 15:50] AjayKumar-MSFT commented on #43368
@sopelt, Thanks for the good feedback! It's much appreciated.  We are taking a look into this and will get back to you soon.

[2019-11-22 15:51] RohitMungi-MSFT commented on #43179
@xieofxie Sorry for the confusion. I think using the wild card using in a query is not supported. I was checking the same using the QnA Portal.

[2019-11-22 15:52] AjayKumar-MSFT commented on #43369
@MaxHogervorst, Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 15:52] RohitMungi-MSFT commented on #43192
@wukun2015 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 15:52] #43192 closed

[2019-11-22 15:54] AjayKumar-MSFT commented on #43371
@ruksarsayed, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-22 15:57] RohitMungi-MSFT commented on #43185
@xieofxie This property was available in preview. Metadata boosting is not available in QnA Maker anymore. Sorry for the confusion. Our team is working to update the API reference and documentation.

[2019-11-22 16:03] eldonti commented on #43235
What can I say - you are right. I missred a section :) **Thanks for the article.**

In the referenced MS article https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-writeback, they still need to change the part for

[2019-11-22 16:04] staynik commented on #43383
Turns out it's the older version https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-msonlinev1?view=azureadps-1.0 I found all the commands within that module and read how it will only be deprecated once all the functionality made it to the new one, which explains why I couldn't find a good substitute in the 2.0 module. A note explaining which module to use and how to instal

[2019-11-22 16:04] #43383 closed

[2019-11-22 16:07] RyanHill-MSFT commented on #42933
Hi @TonyLugg, apologies for the late reply. Assuming you have your manifest settings and class overrides setup, you shouldn't need to manually resend tokens. You can make use of `FirebaseInstanceId.Instance.Token` to fetch the existing token. If you do; however, need to destroy your token and force a refresh, you should be able to make use of `FirebaseIntsanceId.Instance.DeleteToken()`. You can re

[2019-11-22 16:08] crkuchlenz commented on #43381
Swapped Maven library to `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12`
Execution successful.

When searching the Maven libraries, the default for azure-eventhubs-spark is `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.14.1`

Tutorial displays `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.10` which was not available in the Maven Central repository.

[2019-11-22 16:12] alexandair commented on #43333
@DCtheGeek The issue is closed, but the link still points to 404 page.

[2019-11-22 16:13] DCtheGeek commented on #43333
@alexandair The change has been merged (fixed), but won't publish to live for a few hours.

[2019-11-22 16:15] RobSiklos opened #43384 "Redirect URI doesn't work"
When I try to add "urn:ietf:wg:oauth:2.0:oob" as a redirect URI, it doesn't work. The portal says it's not a valid URL and doesn't start with "HTTPS".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 522d0a85-3527-017e-68ae-63030341ef3a
* Version Independent ID: 3b480dc1-f4ac-7077-f4e9-8e3dbb815b71
* Content: [Microsoft

[2019-11-22 16:23] TonyLugg commented on #42933
Hi Ryan,

Thanks for the reply.  The documentation you pointed to is outdated.  I used to do it that way but FirebaseInstanceIdService is deprecated in Xamarin.Firebase.Messaging v71.1740.0, which I am using.  And OnTokenRefresh is replaced with OnNewToken.

I decided to take a different approach and persist the token to Properties and resend it if necessary.  Not sure how this will work with the

[2019-11-22 16:25] kyurthich commented on #43332
It says the source code is avaliable in github doesnt that means the raw code? Not just artifacts?

[2019-11-22 16:32] MicahMcKittrick-MSFT commented on #43332
Fair enough. @Heidilohr @ChristianMontoya can either of you confirm if the link is correct or if we should reword the doc to state the artifacts instead of source code?

[2019-11-22 16:34] paulhugill opened #43385 "530022 Not Documented"
The Failure Reason is 'Other' and I do not have any additional error information.
The client is a mobile device and custom application and the CA policy fails due to requiring an approved client app.
Other times when not meeting the approved client app requirement, we have received 530021.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-22 16:38] MicahMcKittrick-MSFT commented on #43331
@dave-read I think that is a fair point. I will assign to the content authors to review to see if it makes sense to add more info to this specific doc or other docs instead.

[2019-11-22 16:40] MicahMcKittrick-MSFT commented on #42751
Thanks @yashevsi ! Much apprecaited. I too agree we should add this to the docs.

@pparamalingam we will close this out and work on getting the info added to the api documentation.

[2019-11-22 16:40] #42751 closed

[2019-11-22 16:45] #43346 closed

[2019-11-22 16:56] valentijnscholten commented on #43235
I believe syncing that attribute to Azure AD is still in preview (according to the article I linked).
Did you get it to work with:

Set-ADSyncAADCompanyFeature -ForcePasswordChangeOnLogOn $true

?

For me it doesn't work. Also when enabling password policies as specified in the 2nd part of my article, still no luck. Azure AD / O365 still ignore the attribute.

[2019-11-22 16:58] SubhashVasarapu-MSFT commented on #43175
@VenkatGowrishankar , Appreciate your patience. ER bandwidth is based on the ER circuit Bandwidth purchased - 50mbps to 10gbps.

[2019-11-22 16:59] ChristianMontoya commented on #43332
@MicahMcKittrick-MSFT : Let me follow up with the team to get some clarification.

[2019-11-22 17:02] allanmoller opened #43387 "Unable to deploy Policy containing resourceGroup().name function trough ARM"
Hey I have create a policy that based on resourceGroup name validates logging settings, using new-azpolicyDefinition the policy works fine. The issue is when deploying through ARM using either new-azdeployment ( cannot validate function resourceGroup().name) or using new-azresourceGroupdeployment (cannot validate scope). Any idea how i can do this through ARM?

{
    "$schema": "https://schema.man

[2019-11-22 17:03] NDSoul opened #43388 "Incorrect max size for storage"
Hello,

The storage limit for Business Critical for Single database and elastic pools is listed as 5TB-8TB. This appears to be incorrect as other doc pages show the limit as being 4TB. I also checked the portal and it only allows me to move the slider to 4TB.

Please fix this page to avoid confusion.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-11-22 17:03] KSchlobohm opened #43389 "The Deployed App Insights Resource does not work"
Followed the documentation and created a new Azure Resource Group which produced an Application Insights resource that is not connected/used and the dependencies are reversed. The website should depend on Application Insights and it should include an [appsettings resource which specifies the instrumentation key](https://github.com/KSchlobohm/AzureResourceGroupTemplatesDoNotLinkInsights/commit/4167

[2019-11-22 17:06] jfuller2701 commented on #42858
Hi Mike,

I achieved what I wanted in the kusto query I was running inside the logicapp so didn't need to truncate/round in the end, thanks though.

JF

[2019-11-22 17:09] stalks commented on #42118
Hello, can this please be reviewed? We have customers who have interpreted the wording of the license (include Azure MFA) to allow them to protect their RemoteAccess through the NPS extension, only to find the script errors.

[2019-11-22 17:09] mmacy commented on #43340
Hi @Norrch2, this is something that we're actively working on. I'll assign this one over to me and will leave open until we get it published. Thanks for your patience while get it together!

#reassign:mmacy

Cc: @AjayKumar-MSFT @omer-iqbal @Sammak @valnav @rojasja

[2019-11-22 17:22] Alberto-Vega-MSFT commented on #43379
@turnerno8 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-22 17:23] PramodValavala-MSFT commented on #42967
@agowdamsft Thanks for the feedback! We have worked up a PR to address this and once merged, should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 17:23] #42967 closed

[2019-11-22 17:25] VenkatGowrishankar commented on #43175
Thanks for the response. So to confirm, in Virtual WAN, the aggregated Hub throughput is 20Gbps with each tunnel having a max of 1 Gbps. These limits , especially on the tunnel do not apply to express route .

[2019-11-22 17:35] jorgecarleitao commented on #8423
We are using applications settings to inject variables to custom docker images and docker compose apps for 5 months now without any issue...

[2019-11-22 17:36] quantqtech commented on #42980
@davidiseminger  any thoughts on this issue?

[2019-11-22 17:41] SaurabhSharma-MSFT commented on #43373
@nwipfli Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-22 17:43] SaurabhSharma-MSFT commented on #43032
@adzamri We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-11-22 17:43] #43032 closed

[2019-11-22 17:48] ClaudioRifo commented on #43271
Is there a way for me to edit this App to add support for JIT user provisioning?

[2019-11-22 17:50] Norrch2 commented on #43340
Thanks for the update Marsh. Is there a estimated timeline?

________________________________
From: Marsh Macy <notifications@github.com>
Sent: Friday, November 22, 2019 12:09:35 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Norrch2 <christopherlnorris@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] List of Error Codes? (#43340)

Hi

[2019-11-22 17:50] PRMerger18 commented on #43340
Only Microsoft employees can manage issues via commenting in this repo.

[2019-11-22 17:53] giovannifl commented on #41650
Hello,
Below link states "Azure Disk Encryption does not work for the following scenarios, features, and technology:
- Encrypting VMs configured with Storage Spaces Direct (S2D), or Windows Server versions before 2016 configured with Windows Storage Spaces."
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-windows

Does this mean that both ADE v1 and ADE v2 don't sup

[2019-11-22 18:06] SnehaGunda commented on #42106
@simonvane I don't have permissions to reopen the issue. Either you or @KalyanChanumolu-MSFT @Mike-Ubezzi-MSFT can reopen it.

@simonvane I don't know the answer to your question. I have emailed our product group. Will let you know when I hear back. Alternatively, you can drop an email to askcosmosdb@microsoft.com alias and a broader group can take a look.

[2019-11-22 18:08] bandersmsft commented on #42984
@aquibqureshi26 Updated article to add missing plans with https://github.com/MicrosoftDocs/azure-docs-pr/pull/96943
#please-close

[2019-11-22 18:08] #42984 closed

[2019-11-22 18:12] ankitgoelcmu commented on #43203
We are also facing the same issue when we deploy the ARM template.
`{ "code": "ResourceNotFound", "message": "The Resource 'Microsoft.Web/sites/SUMOBRDLQProcessorkjt756lp36tio' under resource group 'ProdIT-Sumo-Test' was not found." }
}, "targetResource": { "id": "/subscriptions/2c3047b5-a922-4ad0-9319-851026c53797/resourceGroups/ProdIT-Sumo-Test/providers/Microsoft.Web/sites/SUMOBRDLQProcessorkjt

[2019-11-22 18:15] mmacy commented on #43340
@Norrch2 We avoid providing timeline estimations due to the risk of those estimations slipping and causing frustration when they aren't hit. Unfortunately, estimations are very often taken as a contract, thus it's not something we're comfortable providing. Having said that, we have the content roughly drafted, and are working on fleshing out the error handling guidance portion.

If I might ask - w

[2019-11-22 18:24] prabhushrikant commented on #43166
We are currently using spring boot starter kit. It doesn't explain how to have used JVM memory telemetry by my spring boot application.

Do you think this can help: https://docs.microsoft.com/en-us/azure/azure-monitor/app/micrometer-java

[2019-11-22 18:36] jwisener commented on #32973
link to stackoverflow is a broken link.

[2019-11-22 18:40] Sas002 commented on #37206
@mikebranstein
I found a temporary solution which works for few hours only for sending log files but not for long term . For example I want to send /var/log/messages from Linux vm , I have change the file permission to 644 which log we want to send to. After changing permissions install Linux diagnostics agent and try . It worked for me for few hours then stop working . I guess this could be due t

[2019-11-22 18:41] rboucher commented on #37206
assign:bren

[2019-11-22 18:42] rboucher commented on #37206
#assign:bwren

[2019-11-22 18:43] Sas002 commented on #37206
Also if you are using terraform toco figure Linux diagnostics agent with JSON file then we have to use the time stamp log format with hh:mm:ss not just YYYY-MM-DD like below .
start = "2019-09-01"
expiry = "2019-10-01"

If you are configuring Linux diagnostics agent manually then time stamp is automatically taken care .

[2019-11-22 18:44] RickXMoore opened #43390 "ADF CI/CD and PowerShell"
Let me start off by saying that I was asked by my Microsoft rep to write this up and post it here in the hope that it might benefit others using ADF.
My biggest complaint with this is Microsoft’s stance on how deployments are handled.  There are a lot of organizations including mine that are in no position to have every object migrated to each data factory for a small number of changes.  I have a

[2019-11-22 18:48] JimacoMS3 commented on #39559
Hi @bospoort,

Thanks for your feedback. [DPS does support the IoT Hub free tier](https://docs.microsoft.com/azure/iot-hub/iot-hub-scaling#basic-and-standard-tiers). I confirmed this with our engineering team as well. Can you please provide more detail about the problem you're having?

Thanks,

Jimaco

[2019-11-22 18:51] divyaswarnkar commented on #9848
Please share the map and input and we will take a look

[2019-11-22 18:57] MaxHogervorst commented on #42924
Any updates on this?

[2019-11-22 18:58] cynthn commented on #43349
@NAshwini  and @Karishma-Tiwari-MSFT - I remember there being issues with usernames that were only 5 characters, but I thought it was an SSH limitation (not RDP\Windows).

I just tried a quick test with the portal, and "azure" as a username didn't get flagged.

How were you creating the VM?

Thanks!

[2019-11-22 18:59] jeevansd commented on #39533
Guys good things takes some time. As these new versions are coming our matrix for testing all the applications with the same plugin is increasing and that is why it takes so much time.

[2019-11-22 18:59] jeevansd commented on #39533
Now I will close this ticket. #please-close

[2019-11-22 18:59] #39533 closed

[2019-11-22 19:01] scootafire commented on #39533
Works for me as well.  Thanks

[2019-11-22 19:03] FrankHu-MSFT commented on #40234
It looks like you're using the v2 portal as you're utilizing the MSAL library, you won't need to worry about it per the note :

This is currently still assigned to @shoatman to further look into to determine next steps in regards to this.

[2019-11-22 19:04] mikebranstein commented on #37206
@Sas002 - yes, I have noticed this si due to file permissions as well. I wrongly assumed the LAD would be able to read files like /var/log/boot.log and other more-protected files. Instead, I ended up using the syslog component of LAD to grab those files.

[2019-11-22 19:06] SamaraSoucy-MSFT commented on #43092
@Merurino Can you try pinning the graph to a brand new dashboard and see if that resolves the issue? While there are some limitations on what you can edit, you should not receive this message immediately after opening the editor.

If this works, please let me know. If not, please open a ticket with support or send me an email at AzCommunity (at) microsoft.com with your subscription ID and a link t

[2019-11-22 19:06] FrankHu-MSFT commented on #43374
@gokberkkaraca Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-22 19:06] FrankHu-MSFT commented on #43380
@danifran Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-22 19:06] FrankHu-MSFT commented on #43384
@RobSiklos Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-22 19:06] FrankHu-MSFT commented on #43385
@paulhugill Thanks for your feedback! We will investigate and update as appropriate.

[2019-11-22 19:11] kfollis commented on #42361
Thanks for your patience while we investigated this issue. Unfortunately, it's impossible to list all subdomains for the top-level domains listed in the article. Some of the addresses are actually resources or apps created by customers, so not subdomains but endpoints for customer resources.  We do provide links to IP address safelists in the article. These lists of IP ranges and service tags are

[2019-11-22 19:11] #42361 closed

[2019-11-22 19:14] bandersmsft commented on #42732
@o-l-a-v Sure, I'm following up with the Clouydn enginnering team.

[2019-11-22 19:28] himanshusinha-msft commented on #43381
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-22 19:28] KingdomOfEnds commented on #40003
Hi @xtellurian - Thank you again for your great suggestion. I have relayed it over to the engineering and PM team. However, in order to ensure that your suggestion gets maximum visibility, do you mind reposting it to: https://feedback.azure.com/forums/906859-azure-time-series-insights? That's where all future suggestions can be made.

[2019-11-22 19:28] #43235 closed

[2019-11-22 19:29] Karishma-Tiwari-MSFT commented on #43014
Is there any update? Please let me know.

[2019-11-22 19:31] himanshusinha-msft commented on #43390
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-22 19:44] NavtejSaini-MSFT commented on #43367
@MikeBarker-MSFT We are assigning this to our author for further review.
@kevinvngo Please review the feedback from the user and if possible, please enhance the document.

[2019-11-22 19:49] NWassell opened #43394 "Add Clarification to seccomp guidance"
Our seccomp guidance needs additional clarification, and possibly additional steps to better hand-hold the learning process:
https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-cluster-security#secure-computing

Makes a number of assumption that a user creating a Proof of Concept makes too many knowledge assumptions, such as the user having knowledge of what the annotation profile i

[2019-11-22 19:50] saraswatdhruv opened #43395 "Hidden Error message."
I was facing this issue but then I clicked on Details link on the top of the error message to see the exact object causing this issue and what that issue was. In my opinion that should be the first error you get and not the "repository out of sync", since usually the details error is fixable.

In my case it was trigger being assigned to a pipeline which didnt exist in the code, just reassigning th

[2019-11-22 19:51] PeterCLu commented on #40398
@gauss345  please let us know if you have any more questions or concerns, otherwise, we'll proceed to close this thread. Thanks.

[2019-11-22 19:53] shashishailaj commented on #43005
@Kav7 I checked this in my lab and currently we do not have an powershell command to parse or change "additional email recipients" for Azure AD connect. The Additional Email recipient setting currently seems available through azure portal only. While I understand that from a IT governance perspective , powershell would have been a better solution , however I would suggest to use a [group DL and se

[2019-11-22 19:53] #43005 closed

[2019-11-22 19:55] MaxHogervorst commented on #29306
any updates on this?

[2019-11-22 20:00] Mike-Ubezzi-MSFT commented on #43088
@vanthoainguyen Are you wanting to perform read operations to the `Secondary` or are you wanting to perform read operations from a specific region? If you are wanting to perform read operations from a specific region, can you implement Tags. The [following code snippet](https://github.com/Azure-Samples/azure-cosmos-db-mongodb-dotnet-geo-readpreference/blob/c706698611c0dcdd84e58d9dcdf4504d32b6e7bf/

[2019-11-22 20:02] denniszielke opened #43396 "What is the access-token?"
What is the --access-token and where can it be retrieved or generated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea82391c-52f4-0723-0884-2f51d094b58d
* Version Independent ID: 32207f47-26c1-4175-d15b-930e30689472
* Content: [Azure Connected Machine Agent CLI interface](https://docs.microsoft.com/en-us/azure/azure-

[2019-11-22 20:04] shashishailaj commented on #43119
@koushik-codesigma We have a [library published as a NPM package](https://www.npmjs.com/package/microsoft-adal-angular6) and a [blog with the details](https://devblogs.microsoft.com/premier-developer/angular-how-to-microsoft-adal-for-angular-6-with-configurable-settings/) on how to use the same.  We have some old sample and one of the prominent one is [AngularJS application example](https://docs.m

[2019-11-22 20:04] #43119 closed

[2019-11-22 20:04] mike-urnun-msft commented on #42379
Hello @geoffbrucepayne & everyone else who hit this issue - If you're still experiencing this issue, please refer to the [various workarounds shared here](https://github.com/microsoft/vscode/issues/85328#issuecomment-557670543) while the team rolls out the fix (already available in insider version) in a matter of a week or two at the latest _(exact date subject to change)_.

[2019-11-22 20:11] glteache opened #43398 "Linux Clients Step 11 Needs Update"
The final step to connect on command-line is running openvpn as a daemon which blocks the session(SSH or serial console) from further interaction while it's running:
sudo openvpn –-config &lt;name and path of your VPN profile file&gt;

To get around this, the command should have a '&' at the end to put the process in the background of the running session the user in.
sudo openvpn –-config &lt;name

[2019-11-22 20:14] SamaraSoucy-MSFT commented on #43278
Hi @DrBushyTop

The ARM schema reference is managed in a separate repository. I'm going to close this thread as the issue is not with the sample article. However, I am working with the doc author for the schema reference to get that corrected.

If you have any followup questions please tag me in the response.

[2019-11-22 20:14] #43278 closed

[2019-11-22 20:14] mike-urnun-msft commented on #43377
Hi @rfontijn - Thank you for your feedback! I'd be happy to assist and unblock you from this problem. Could you elaborate on the issue you're encountering and share the screenshot of your Logic Apps workflow?

[2019-11-22 20:16] esunder opened #43399 "Modfiy route table entries with kubernetes primitives"
"Network security group rules and route tables and are automatically updated as you create and expose services."

Are there examples about how to do this? Can I create kubernetes primitives that then create route table entries in the route table created by the managed cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-22 20:17] esunder commented on #43399
@iainfoulds It looks like you were the last person to modify that documentation. Do you know?

[2019-11-22 20:21] Grace-MacJones-MSFT opened #43400 "Missing Link"
Missing link under the "See Also" section.

![docbug](https://user-images.githubusercontent.com/42247081/69457751-a2d2e200-0d22-11ea-8829-7aba4a788d39.PNG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6235a3a8-d9b3-fe3d-af72-d7dd19e388b8
* Version Independent ID: 7c19cbbe-1b4d-915e-a93f-5a8292013dee
* Content: [Custo

[2019-11-22 20:24] jeevansd commented on #43374
@gokberkkaraca Thanks for reaching out here. Please follow the process describe here to update the app https://aka.ms/AzureADAppRequest
Once you submit the request with us then we can test the IDP initiated SSO and then update the app in Azure AD app gallery.

[2019-11-22 20:24] jeevansd commented on #43374
#please-close

[2019-11-22 20:24] #43374 closed

[2019-11-22 20:26] KranthiPakala-MSFT commented on #43395
@saraswatdhruv
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2019-11-22 20:26] shashishailaj commented on #42028
@Haribo112 At this time this feature is not available and we would suggest you to use the alternatives provided above. We will close this issue now. Should you have any further query , please tag me to your reply or open a new issue pointing to this one and we will be happy to help .

Thank you.

[2019-11-22 20:26] #42028 closed

[2019-11-22 20:29] MicahMcKittrick-MSFT commented on #43399
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 20:32] mkiernan opened #43401 "How to change home directory location ?"
The home directory is hardwired to /home/username in /etc/aadpasswd by the extension. Is there anyway that we can change the location if the users home directory is coming from an external NFS mountpoint? (for example mounted to /shared/home/username). This does appear to be an option on the aaduseradd command, but is there an option we can set to change the aaduseradd command that runs when the u

[2019-11-22 20:32] julieMSFT commented on #37420
@dnethi Hi Dinakar, can you help with this user question?

[2019-11-22 20:39] rboucher commented on #40596
#assign:bwren

[2019-11-22 20:40] NavtejSaini-MSFT commented on #43348
@Ramji-S We are checking this with our author for further help.
@SnehaGunda Please check this further and help to get the document enhanced.

[2019-11-22 20:41] shashishailaj commented on #42703
@khobragadenitin WE checked internally and it was suggested for your to check the [reporting API details for Microsoft Graph](https://docs.microsoft.com/en-us/graph/reportroot-concept-overview). Please check the same and you may find some details on how to do the same.  We will now close this issue. In case that does not help in solving your issue , please feel free to create a new thread on Stack

[2019-11-22 20:41] #42703 closed

[2019-11-22 20:43] rboucher commented on #38515
Closing from lack of response.  Checking to see if this is a common enough question to add to the docs.

[2019-11-22 20:43] rboucher commented on #38515
#please-close

[2019-11-22 20:43] #38515 closed

[2019-11-22 20:44] shashishailaj commented on #42104
@mjazwiecki Hope you are good. We are sorry that it is taking time for getting an answer for you . However I just wanted to ask you if you have tried to check the behavior in a cookie isolated session in any of the browsers (Inprivate,Incognito etc.) ? I am asking this because if for any reason the cert auth prompt does not come or have been ignored first time , it would not prompt again and it wi

[2019-11-22 20:46] MicahMcKittrick-MSFT commented on #43344
@cynthn Kay is no longer around. Assigning to you for now. If we need to assign someone else just let us know :)

[2019-11-22 20:46] femsulu commented on #43382
Thanks for your question. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-22 20:47] KumudD commented on #32725
#reassign:damendo

[2019-11-22 20:48] KumudD commented on #32740
#reassign:allegradomel

[2019-11-22 20:49] dnethi commented on #37420
+@Matteo Taveggia<mailto:matteot@microsoft.com> any idea?

Thanks,
Dinakar

From: julieMSFT <notifications@github.com>
Sent: Friday, November 22, 2019 2:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Dinakar Nethi <Dinakar.Nethi@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Warning when using Get-AzMetric (#37420)

@dnethi<http

[2019-11-22 20:49] Grace-MacJones-MSFT commented on #43400
This doc bug will be fixed shortly.

[2019-11-22 20:50] KumudD commented on #40044
#reassign:damendo

[2019-11-22 20:52] femsulu commented on #43387
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-22 20:52] himanshusinha-msft commented on #43015
@haymansfield : We think that you are referring  to the line
"Create a container named adftutorial in your Blob storage. Create a folder named input in this container. Then, upload the emp.txt file to the input folder. Use the Azure portal or tools such as Azure Storage Explorer to do these tasks."

At this point we understand that this is conveying the correct message but we do welcome your sugge

[2019-11-22 20:52] #43015 closed

[2019-11-22 20:52] dnethi commented on #37420
No idea - we don't own the new Azure "Az" module.

And I'm not sure who does (perhaps they should report the issue on the "Az" page?

Unless I'm missing something SQL-specific here?

-Matteo

From: Dinakar Nethi <Dinakar.Nethi@microsoft.com>
Sent: Friday, November 22, 2019 12:50 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Matt

[2019-11-22 20:57] NavtejSaini-MSFT commented on #43375
@Jessejames106 Please convey which document you are referring to and where this is displayed. Please also convey if you have found this info through different medium so that we can help regarding the same.
Also portal mentions the correct values so I am not sure where you checked this. Please provide this information so that we can correct the same.
![image](https://user-images.githubusercontent.c

[2019-11-22 20:59] amenarde commented on #42700
Section should be "ApplicationGateway/Http" and Parameter should be "ApplicationCertificateValidationPolicy". These settings are detailed here [https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy-configure-secure-communication](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy-configure-secure-communication).

[2019-11-22 21:02] esunder commented on #43399
https://github.com/MicrosoftDocs/azure-docs/blame/4f7dce56b6e3e3c901ce91115e0c8b7aab26fb72/articles/aks/configure-kubenet.md#L186

[2019-11-22 21:06] CHDAFNI-MSFT opened #43402 "SCVMM for ASR is being retired"
Please update the guides to reflect that an end of life exists for SCVMM's integration with Azure Site Recovery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [Support for disaster recovery of Hyper-V VMs to A

[2019-11-22 21:06] CHDAFNI-MSFT opened #43403 "SCVMM for ASR is being retired"
Please update the guides to reflect that an end of life exists for SCVMM's integration with Azure Site Recovery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c721f5ae-ece4-58ab-d00d-65856907c364
* Version Independent ID: 7912f48e-25be-6efb-e770-c30404d84c58
* Content: [Support for disaster recovery of Hyper-V VMs to A

[2019-11-22 21:07] Grace-MacJones-MSFT commented on #42824
We have reviewed your feedback and assigned it to the author to have them determine if an enhancement is necessary to the doc.Thanks

[2019-11-22 21:09] kuldeepldec opened #43404 "Azure Table storage copy error using Azure data factory to sql with first row having null value"
I am trying to copy data from table storage to sql sink. My mapping is correct in table storage and sql sink. One of my datetime column has null value and ADF is throwing me error at source.

https://social.msdn.microsoft.com/Forums/sqlserver/en-US/6b78647b-9117-48d9-90b2-653ce1f34448/table-storage-source-with-nullable-datetime-property-does-not-work-if-property-value-of-first-table?forum=AzureDat

[2019-11-22 21:11] Karishma-Tiwari-MSFT commented on #43401
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-22 21:14] TravisCragg-MSFT commented on #43398
@glteache Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-22 21:19] femsulu commented on #43389
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-11-22 21:21] lokijota opened #43405 "Where's the code for iothub_client_init() ?"
The instructions are step-by-step, but this function is missing. I suspect it may have been deleted due to a previous fix.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617cf9c4-6f85-d240-d8e5-6010cd0b7839
* Version Independent ID: a3c4e9da-c539-2f51-c245-57b5e43eca42
* Content: [Cloud-to-device messages with Azure Io

[2019-11-22 21:22] MarileeTurscak-MSFT commented on #42922
Reply from the PG: I have never faced this scenario, but taking into account this scenario I think that having different UPN suffixes is mandatory:

However, the scenario in which this is mentioned is not exactly the one you have.

[2019-11-22 21:22] MarileeTurscak-MSFT commented on #42922
Hope this helps! It seems that it is not officially supported. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2019-11-22 21:22] #42922 closed

[2019-11-22 21:31] tfitzmac commented on #43389
@femsulu - can this issue be forward to the Visual Studio team? It is not really a documentation issue. The Visual Studio team would need to decide whether to make a change to the default template that is created when selecting web app. There is no update that can be made to the documentation.

[2019-11-22 21:36] Alberto-Vega-MSFT commented on #43376
Hi @Abso11 I'm sorry to hear that you are facing this issue.  It looks like you are not following the tutorial as is. It sounds like you added parson manually. I believe the script setup.sh already does that. Did it fail for you?  Rasbpian version you are using?

[running setup.sh as is described should do this for you](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-raspberry-pi-kit-c-get-

[2019-11-22 21:38] shafee005 commented on #6971
@mikerayMSFT Exactly what I was looking for the past two weeks as I was struggling to setup an AO AG on google cloud platform. Could you please post the above info "In regular WSFC (Windows server failover cluster) on-prem setup, when AG listener is created, it will create a DNS record for AG listener with the IP(s) provided. ...." as post on technet. There is not a single post explaining what is

[2019-11-22 21:41] CeciAc opened #43406 "Wrong units of network bandwidth in some virtual machine categories above"
Hi team,
I moved this issue from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/592
@mikerobyn commented 12 hours ago — with docs.microsoft.com
Some examples how the bandwidth is decalred in some specs of virtual machine categories:
DC-Series: Mbps (e.g. DC2s 1500Mbps)
Dav4-series: MBps (e.g. D2as_v4 1000MBps)
Dv3-series: No unit declared.

I guess D2as_v5 does not support 8Gbit/s?

[2019-11-22 21:41] Alberto-Vega-MSFT commented on #43404
Hi @kuldeepldec I'm sorry to hear you are facing this issue. We try to reserve these doc issues for documentation feedback. Let me reach out internally so you can get help on that MSDN thread

[2019-11-22 21:45] Alberto-Vega-MSFT commented on #43405
@lokijota Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-22 21:46] MicahMcKittrick-MSFT commented on #43100
@shane-sullivan we have worked offline with the dedicated hosts team. Currently Dedicated hosts GA will be announced before the retirement of the isolated sizes (Feb 15th)

That is as much information we are able to give at this point in time. Please stay tuned for those updates.

[2019-11-22 21:46] #43100 closed

[2019-11-22 21:48] tfitzmac commented on #43365
@borys86 - are you looking for API versions specifically from the deployment history? Or, are you just trying to find the available API versions in general?

You can find available versions in the [template reference](https://docs.microsoft.com/en-us/azure/templates/).

[2019-11-22 21:49] RyanHill-MSFT commented on #42933
No problem @TonyLugg. I'll assign this to our doc author for further investigation so they can be aware this doc is outdated and has breaking changes due to package updates.

[2019-11-22 21:52] TonyLugg commented on #42933
Great.  It would still be nice to have an answer of "how to" get the current token.

[2019-11-22 21:54] bospoort commented on #39559
When I tried linking a free IoT Hub from DPS, it didn't see the DPS, if I recall correctly. It was a few months ago. Have  you tried it?

[2019-11-22 22:09] CeciAc opened #43407 "Trying this with Microsoft Mixed reality device produced an error"
Hi team,
I moved this issue from here: https://github.com/MicrosoftDocs/azure-docs.cs-cz/issues/482

@OCDtraining commented 12 hours ago — with docs.microsoft.com
I was able to follow the tutorial to the point where I clicked on Debug &gt; Start debugging but Visual Studio produced an error: "Bootstrapper could not connect to machine." When I clicked on OK it gave me more errors:

"DEP6957: Failed

[2019-11-22 22:10] MicahMcKittrick-MSFT commented on #43359
@giovannifl just to confirm, are you asking which of the scenarios would work that are listed in that document?

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-high-availability-dr#azure-only-disaster-recovery-solutions

If you are using file shares all the listed scenarios would work.

[2019-11-22 22:11] PeterCLu commented on #42948
@joshheitzman-redcley-v-joheit-msft thank you for the additional context. We will update the doc to align with the sample notebook.

Please let us know if you have any more questions or concerns, otherwise, we'll proceed to close this thread. Thanks!

[2019-11-22 22:12] MicahMcKittrick-MSFT commented on #43364
@sathyatvrcbe yes what you are looking to achieve will work with file shares. You are able have multiple different pods all read out of the same file storage. As per reading the same file in that storage account, that should also be possible. Of course you would run into issues if you have all the pods trying to write to the same file but reading it should not be an issue.

[2019-11-22 22:14] MarileeTurscak-MSFT commented on #43313
The only issue I can see is that we don't support assigning licenses and apps through nested groups. Our portal allows us to do this and circular group nesting is supported in on premises AD as well. I am not sure if it would cause any issues down the line if that is your main concern.

Why do you want to have the circular nesting?

[2019-11-22 22:21] MarileeTurscak-MSFT commented on #43313
The product group has replied that this is fine. People unknowingly create recursive cycles in nested groups pretty regularly, and our APIs are able to handle it. Hope this helps!

[2019-11-22 22:21] MarileeTurscak-MSFT commented on #43313
We will proceed to close this thread but if you have further questions, feel free to tag me in the comments and I will gladly continue the discussion.

[2019-11-22 22:21] #43313 closed

[2019-11-22 22:26] sumitsengupta opened #43408 "The script does not do what the title says"
The header in the documentation page https://docs.microsoft.com/en-us/azure/sql-database/scripts/sql-database-monitor-and-scale-database-powershell says that --"Use PowerShell to monitor and scale a single SQL database"

However at the end of the documentation page, what we do is send an email on alert.
We can send an email but we also need to bump the DTU of the SQLDB up.

So we need to add a com

[2019-11-22 22:32] julieMSFT commented on #37420
Thank you Dinakar.

Thank you,

Julie

From: Dinakar Nethi <notifications@github.com>
Sent: Friday, November 22, 2019 12:52 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Julie Rasnick <Julie.Rasnick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Warning when using Get-AzMetric (#37420)

No idea - we don't own the new Azure "Az" mo

[2019-11-22 22:33] tfitzmac commented on #43286
@jtuliani - thanks for the feedback. I double-checked that example and did not see a problem. -o json should be the default setting.

[2019-11-22 22:33] tfitzmac commented on #43286
#please-close

[2019-11-22 22:33] #43286 closed

[2019-11-22 22:45] ghogen commented on #41137
#please-close

[2019-11-22 22:45] #41137 closed

[2019-11-22 22:52] Grace-MacJones-MSFT commented on #42934
Hi @NeilMeredith, thanks for your patience. We reached out to the engineering team internally  to see if your scenario is expect behavior. Will update you when we hear back from them.

[2019-11-22 22:55] Mike-Ubezzi-MSFT commented on #43388
@NDSoul Thank you for bringing this to our attention. We will review and update the documentation as appropriate.

[2019-11-22 22:58] iainfoulds commented on #43153
If you just have cloud-only accounts, you don't need to configure password hash synchronization. That process is only needed in hybrid environments where Azure AD is connected to an on-premises environment.

For cloud-only environments, each user would need to reset their password to enable their account to work in Azure AD DS - https://docs.microsoft.com/en-us/azure/active-directory-domain-servic

[2019-11-22 22:58] #43280 closed

[2019-11-22 23:00] tfitzmac commented on #43280
@jtuliani - thanks for this suggestion. I have added clarification to the article. Not sure if it will be published this afternoon or Monday morning.

[2019-11-22 23:01] Grace-MacJones-MSFT commented on #43029
Thank you @buildbod for the detailed feedback. Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2019-11-22 23:01] tfitzmac commented on #43280
Tags should up in both the Cost Management cost analysis and the downloadable detailed report.

[2019-11-22 23:08] deepikabandhanadham commented on #43236
Hi Team, Any update on this?

[2019-11-22 23:10] ghogen commented on #24106
The updated topic should appear in the next day or so.
#please-close

[2019-11-22 23:10] #24106 closed

[2019-11-22 23:11] ghogen commented on #38099
There were some small changes for .NET Core 3. Should be live in the next day or so.
#please-close

[2019-11-22 23:11] #38099 closed

[2019-11-22 23:12] MicrosoftGuyJFlo commented on #43353
Devices are named from the device themselves not from Azure AD. More information about computer names can be found in the following article https://docs.microsoft.com/windows-hardware/customize/desktop/unattend/microsoft-windows-shell-setup-computername

Intune does allow renaming using the following article https://docs.microsoft.com/intune/remote-actions/device-rename

[2019-11-22 23:14] Kav7 commented on #43005
Thanks for suggestion, however as mentioned we are an IT service provider who manages lots of tenants on behalf of our tenants, we would have to set this up manually on each one - not ideal. I will submit via user voice. I thought Microsoft was all about 'Powershell First' approach? Anyway.

[2019-11-22 23:16] MicrosoftGuyJFlo commented on #42993
Email out to PG for feedback.

[2019-11-22 23:17] MicrosoftGuyJFlo commented on #42893
Email out to PG for feedback

[2019-11-22 23:17] MicrosoftGuyJFlo commented on #43353
#please-close

[2019-11-22 23:17] #43353 closed

[2019-11-22 23:28] TravisCragg-MSFT commented on #42614
@msandbu @JeffreyFowels B2B should currently work with AAD Authentication with P2S VPNs.

B2C is not supported.

[2019-11-22 23:29] TravisCragg-MSFT commented on #42862
@chriseckl B2C is not supported for AAD authentication on P2S VPNs.

B2B should currently be working.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-22 23:29] #42862 closed

[2019-11-22 23:33] MicrosoftGuyJFlo commented on #42806
Matches the content in all of my test directories please provide a screenshot and reopen if still an issue.

[2019-11-22 23:33] MicrosoftGuyJFlo commented on #42806
#please-close

[2019-11-22 23:33] #42806 closed

[2019-11-22 23:36] MicrosoftGuyJFlo commented on #42503
Feedback sent to the product team.

[2019-11-22 23:36] MicrosoftGuyJFlo commented on #42503
#please-close

[2019-11-22 23:36] #42503 closed

[2019-11-22 23:38] femsulu commented on #43389
adding @bmoore-msft , any idea who from VS can help review this?

[2019-11-22 23:39] blouwagie commented on #43153
Hi Ian
The Azure portal leads us to believe we have to set the synchronization up
as there is one specific link to show how cloud only users have to do this.
So based on your comment the documentation itself is only not as clear and
the portal that you get after seeing up Azure AD services does say cloud
icky customers need to do this.
Thank you for replying!
Bart

bart

bart@louwagie.com

On Fri,

[2019-11-22 23:40] MicrosoftGuyJFlo commented on #42500
#please-close

[2019-11-22 23:40] #42500 closed

[2019-11-22 23:46] MicrosoftGuyJFlo commented on #42225
Email out to PG for feedback.

[2019-11-22 23:50] MicrosoftGuyJFlo commented on #42118
Case is being worked internally via IcM. Support team is handling. #please-close

[2019-11-22 23:50] #42118 closed

[2019-11-22 23:50] iainfoulds commented on #43153
I can relay that info to the product team for portal updates. There's really no reason to point you to the LDAPS doc, as there's no information included there, only in the initial docs on configuring a managed domain.

More information on password hashes and what's required in different scenarios you run can be found here - https://docs.microsoft.com/azure/active-directory-domain-services/administ

[2019-11-22 23:56] MicrosoftGuyJFlo commented on #40982
Will add this to the content as updates are made. Thanks for the suggestion.

[2019-11-22 23:57] MicrosoftGuyJFlo commented on #40982
#please-close

[2019-11-22 23:57] #40982 closed

[2019-11-22 23:58] craigktreasure commented on #43407
@OCDtraining The [instructions](https://docs.microsoft.com/en-us/azure/spatial-anchors/quickstarts/get-started-unity-hololens#deploy-the-hololens-application) indicate that you should plug your device into the computer using a USB cable and select "Device" (see the screenshot). It appears that you may have instead selected to deploy using a remote connection. Could you give that a try?

[2019-11-23 00:01] MicrosoftGuyJFlo commented on #40734
Disabling UAC (Never Notify) in Windows 10 causes multiple things to stop working SSPR at the logon screen being one of them.

https://support.microsoft.com/help/4462938/windows-about-user-account-control-settings

[2019-11-23 00:01] FrankHu-MSFT commented on #41355
Hello @thikon I apologize for the late reply. do you get an error or do you just get an access token? What is the behavior that you're seeing? There is no way to modify the error code other than to have an azure function check midway through the user journey to see if the account is blocked or not.

[2019-11-23 00:01] MicrosoftGuyJFlo commented on #40734
#please-close

[2019-11-23 00:01] #40734 closed

[2019-11-23 00:03] #43104 closed

[2019-11-23 00:04] #43117 closed

[2019-11-23 00:04] #43108 closed

[2019-11-23 00:05] #43224 closed

[2019-11-23 00:05] #43205 closed

[2019-11-23 00:07] MicahMcKittrick-MSFT commented on #43406
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-23 00:07] MicahMcKittrick-MSFT commented on #43394
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-23 00:08] MicahMcKittrick-MSFT commented on #43396
Thanks for the question! We are investigating and will update you shortly.

[2019-11-23 00:14] FrankHu-MSFT commented on #43312
hey @bartvermeersch can you clarify on what's you're referring to in regards to : ForcePasswordChangeOnLogOn

This is not in the document.

[2019-11-23 00:20] MicahMcKittrick-MSFT commented on #43403
Duplicate of #43402

[2019-11-23 00:20] #43403 closed

[2019-11-23 00:24] FrankHu-MSFT commented on #43322
hey @valentijnscholten thank you for your feedback, we're currently looking into this and will let the product team know about this issue further accordingly.

That being said we will look into adding a note here to let people know that check if there are any other sessions that may have AAD Connect wizard open.

Thanks for letting us know about this!

cc : @billmath

[2019-11-23 00:28] #39482 closed

[2019-11-23 00:31] Karishma-Tiwari-MSFT commented on #43154
Please reference this [template](https://github.com/Azure/RDS-Templates/tree/master/wvd-templates/Update%20existing%20WVD%20host%20pool) for updating existing windows virtual desktop hostpool.

[2019-11-23 00:33] Karishma-Tiwari-MSFT commented on #43014
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-11-23 00:33] #43014 closed

[2019-11-23 00:38] FrankHu-MSFT commented on #43240
@rbergertd the azure doc issues are meant for issues with the docs, not for troubleshooting error codes or issues. If you need further help on this please post it against the Q&A forums here : https://docs.microsoft.com/answers/index.html

In addition to that, you may want to file a support ticket, however it sounds like there's an issue with your powershell script and it is unable to access a net

[2019-11-23 00:38] #43240 closed

[2019-11-23 00:43] FrankHu-MSFT commented on #43358
hey @hyphro  thanks for your feedback, i would suggest filing this feedback against the azure active directory feedback forums, and if there's enough community support the product team will look into putting this on their road-map to implement in the future. https://feedback.azure.com/forums/169401-azure-active-directory

That being said, as this feature is not available per the docs, I will be cl

[2019-11-23 00:46] FrankHu-MSFT commented on #43362
Hello @tumluliu  first note that these lifetime token policies are not going to be supported in the future per the note, and it's suggested to utilize the conditional access policies, which are valid against the azure cli.

To utilize these policies you will have to create your own lifetime policy and then apply it to the azure cli policy, which if you're using it in your tenant, you should have i

[2019-11-23 00:47] FrankHu-MSFT commented on #43384
hey @RobSiklos can you clarify if you're under the right redirect url section? Note that this redirect url will ONLY work for desktop/native applications.

It sounds like you're doing this for a web application, in which case it will REQUIRE a HTTPS url.

@RobSiklos Please let us know if there are anymore questions within the scope of this git issue. If not, I will be closing out this git issue by

[2019-11-23 01:02] radoye commented on #33950
@JimacoMS3 I have been experiencing this problem for a while now (and avoiding Azure CLI for that reason). It seems that it's still not fixed. Here's what I see when using the Cloud Shell from portal.azure.com

[code]

Here's the `--debug` output

[code]

[2019-11-23 01:07] Alberto-Vega-MSFT commented on #43407
Do you have developer mode enabled? Please see this thread on SO for exactly the same error:  https://stackoverflow.com/questions/38578467/visual-studio-failed-deploy-to-hololens-error-dep6957-failed-to-connect-to-de

[2019-11-23 01:19] radoye commented on #33950
@JimacoMS3 My bad (leaving the comment above in case someone else trips like I did). I completely lost track of [the fact that users must maintain Azure environment (!?)](https://github.com/Azure/azure-iot-cli-extension/issues/78). My problem was due to an old extension in my Azure Cloud environment.

[2019-11-23 01:28] #41443 closed

[2019-11-23 01:38] Alberto-Vega-MSFT commented on #43254
@jin167  That explains why  self.device_id was not present.  I'm glad that you were able to resolve your issue.

[2019-11-23 01:38] #43254 closed

[2019-11-23 01:40] Alberto-Vega-MSFT commented on #43255
This was due to using the wrong connection string so the code fail to retrieve self.device_id

[2019-11-23 01:40] #43255 closed

[2019-11-23 01:41] Alberto-Vega-MSFT commented on #43282
Please share the link here to make sure you get help. Also assigning to author to evaluate if we can add a note to this doc on CORS

[2019-11-23 01:42] himanshusinha-msft commented on #43372
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-11-23 01:48] blouwagie commented on #43153
Thank you so much for helping clarify this, we've spent quite some hours
trying to connect those dots

bart

bart@louwagie.com

On Fri, Nov 22, 2019, 18:50 Iain Foulds <notifications@github.com> wrote:

[2019-11-23 01:48] Alberto-Vega-MSFT commented on #43302
@isaaccarrington Thanks for the feedback. If for some reason you do not get traction on the forum please tag me here and link me to the thread.

[2019-11-23 01:48] #43302 closed

[2019-11-23 01:56] Alberto-Vega-MSFT commented on #43315
Hi @hansharhoff no, but you can add this as a feature request at the Azure [Time Series Insights User Voice page](https://feedback.azure.com/forums/906859-azure-time-series-insights) this way other customers that also want this can upvote and help the team prioritize.

[2019-11-23 01:56] #43315 closed

[2019-11-23 02:00] Alberto-Vega-MSFT commented on #43307
Hi @TianyuHou just a friendly reminder to provide tutorial link if you were following one?

[2019-11-23 02:03] Alberto-Vega-MSFT commented on #43321
Hi @arroyc please share the link so we can route your feedback

[2019-11-23 02:27] Alberto-Vega-MSFT commented on #43408
@sumitsengupta Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-23 02:30] Alberto-Vega-MSFT commented on #43402
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-23 03:01] AWilliamson-MSFT opened #43411 "The Azure AD Connect server must not have PowerShell Transcription Group Policy enabled"
This should be clarified as this was updated with May 2017 AAD Connect 1.1.524.0
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-version-history#115240

"Previously, you must disable PowerShell transcription for Azure AD Connect wizard to run correctly. This issue is partially resolved. You can enable PowerShell transcription if you are using Azure AD Connect wizar

[2019-11-23 03:26] xlZeroAccesslx commented on #43366
This one doesn’t work for me.

[2019-11-23 04:39] adamtki opened #43412 "None of the redirect URLs work"
None of these worked as a redirect URL:
- https://your-B2C-tenant-name.b2clogin.com/your-B2C-tenant-name.onmicrosoft.com/oauth2/authresp
- https://{your-tenant-name}.b2clogin.com/{your-tenant-id}/oauth2/authresp
- https://{your-tenant-name}.b2clogin.com/{your-tenant-name}.onmicrosoft.com/oauth2/authresp

But using Fiddler, I figured out this worked:
- https://login.microsoftonline.com/te/{your-ten

[2019-11-23 04:47] AjayKumar-MSFT commented on #43411
@AWilliamson-MSFT, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-23 04:51] AjayKumar-MSFT commented on #43412
@adamtki, Thanks for the feedback and sharing the solution that worked for you!
Apologies for any inconvenience this issue may have caused, we are currently investigating and will update you shortly.

[2019-11-23 05:08] SnehaAgrawal-MSFT commented on #43177
@itsmegopi2 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-23 05:08] #43177 closed

[2019-11-23 05:16] Tyriar opened #43413 "Some Cosmos DB contributors lists point at a non-existent GitHub repo"
While trying to figure out how to contribute to this page https://docs.microsoft.com/en-us/rest/api/cosmos-db/create-a-collection I clicked the contributor icons and it redirects to a dead link

![image](https://user-images.githubusercontent.com/2193314/69473508-e43ab000-0d69-11ea-8cf5-36bf215e9a30.png)

https://github.com/Azure/azure-docs-rest-apis/blob/master/docs-ref-conceptual/cosmos-db/create

[2019-11-23 05:27] Tyriar opened #43414 "Cosmos DB Emulator CI/CD pipelines instructions should explain how to set up using yaml"
I needed to consult third-party sites for how to setup a yaml task. I ended up with this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 617f002c-f40e-28a0-2ab7-e3227e08e37c
* Version Independent ID: a06ba438-55c8-e77c-ec89-095d44fbf4f3
* Content: [Set up CI/CD pipeline with the Azure Cosmos DB emulator build t

[2019-11-23 05:34] Tyriar commented on #43413
The repo is private, either contributors shouldn't be shown for private or they shouldn't be links.

[2019-11-23 05:51] vikramdadwal opened #43416 "Multiturn upload using excel"
Currently on import and export excel file only support multiturn. But the same is not supported if multi excel files are added as files in QnA. This is really needed feature as multiple contributers with seperate excel files update the content. Please provide this functionality

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-11-23 06:05] nikhilpulluri-gep commented on #43361
Sorry, i did not get you @AjayKumar-MSFT , can you please elaborate?

[2019-11-23 08:49] nnamedieh opened #43417 "Comparing Azure Databox Gateway and Azure Files"
Hi all,
I have a business case with one of my clients that fits to the purpose of Azure Databox Gateway. We want to provide a local network share (SMB) to enable long-term rentention of their disaster recovery solution files. My question about Azure Databox Gateway is why I should use it and not Azure Files? Where are the big advantages over Azure Files? Since it's more expensive I have to collect

[2019-11-23 09:07] adamtki commented on #43412
https://{your-tenant-name}.b2clogin.com/{your-tenant-name}.onmicrosoft.com/oauth2/authresp worked this time.  Not sure how it failed and the other one worked earlier.

[2019-11-23 09:12] mkyl commented on #22816
@SumanthMarigowda-MSFT To be specific: the instructions are for *disabling* packet signing on macOS. However, after following the instructions packet signing is still enabled. This causes reduced performance. This is shown by the line:

    SIGNING_ON                    TRUE

[2019-11-23 09:42] adamtki commented on #43412
Ok, earlier I tested by logging into my web app using my federated AAD account.  My latter test was with the Run user flow test with the same app but with the jwt.ms reply URL.  So the redirect URL documented here only works if you're running the user flow test.  It fails in the actual application if you're trying to log in with the AAD account.

[2019-11-23 09:51] giovannifl commented on #43359
@MicahMcKittrick-MSFT
What I'm trying to understand is if Failover Cluster Instance "two-node failover cluster running in Azure VMs using Premium File Share" option is selected, how DR scenarios could be managed ? Azure Premium File Share only supports LRS and Azure File Sync only supports 1 cloud endpoint per sync group.

Failover Cluster Instance with Azure Premium File Share address SQL Server

[2019-11-23 10:04] KrishnaG-MSFT commented on #43413
@Tyriar Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-23 10:13] KrishnaG-MSFT commented on #43414
@Tyriar Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-23 10:17] KrishnaG-MSFT commented on #43416
@vikramdadwal Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-23 10:24] KrishnaG-MSFT commented on #43417
@nnamedieh Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-23 10:27] andrePKI commented on #43313
@MarileeTurscak-MSFT Thank you for your research and reply. I found that many people wonder about this, and see no use for it. Glad to hear that there are no real issues with this - I was aware about the license assignment limitation. Maybe someone sometimes find a script that’s looping :-)

[2019-11-23 10:38] rfontijn commented on #43377
Hi Mike, thanks for your reaction.
I'll forward you the mail from my corporate account.

Best regards,
Ruben Fontijn

Op vr 22 nov. 2019 21:15 schreef Mike Urnun <notifications@github.com>:

[2019-11-23 11:18] neilmiddleton-klaw commented on #43248
Not working for me this past two days.
Tried creating Basic B1 in West Europe or UK South, neither working. Trying different SKUs I did get an S1 Standard into UK South,  A Standard S1 did not work in West Europe.

 I need my ASP in West Europe where these SKUs seem to work at the moment.

Code="BadRequest" Message="Requested feature is not available in resource group _RG-XYZ._... Please try using

[2019-11-23 11:27] vnextcoder commented on #37708
I could make it work fine after I updated the Role :: Value:: == "Some good value for the role" .  The Default Value is set to NULL by default in the Application Manifest on the Azure AD which is why the Role=User.assignedroles didn't produce anything. After I updated the value attribute to be something meaningful, then it started working.

Glad it worked finally.

[2019-11-23 11:27] vnextcoder commented on #39143
Any updates on when can this be fixed ?

[2019-11-23 11:39] msrini-MSFT commented on #43288
@LTUTE , I will go ahead and close this issuem Please tag me if you have any further question.

[2019-11-23 11:39] #43288 closed

[2019-11-23 12:08] AjayKumar-MSFT commented on #43361
@nikhilpulluri-gep, This GitHub channel is reserved for ‘Azure docs’ feedback, where you would share your valuable feedback about the doc content, report doc bugs, suggest content improvements.

For instance the document - https://docs.microsoft.com/azure/service-fabric/service-fabric-overview
![image](https://user-images.githubusercontent.com/44606227/69478265-7f895f00-0e16-11ea-99e9-31ffa603c32f

[2019-11-23 12:27] shafee005 commented on #28745
I guess @davebern made a point. Because I always ran into  IP conflict issue while bringing up the role when the same IP address is configured in the load balancer and listener.

[2019-11-23 12:57] bartvermeersch commented on #43312
hey Frank, I guess that's part of the problem, the ForcePasswordChangeOnLogOn attribute is nowhere to be found on docs.microsoft.com but it is present when running Get-ADSyncAADCompanyFeature and according to three blogs it is linked to ForcePasswordResetOnLogonFeature.
https://www.hametbenoit.info/2019/10/09/azure-ad-connect-you-can-now-synchronize-your-password-policy-and-force-the-password-chan

[2019-11-23 14:07] tkumark commented on #42700
@amenarde I think what I am asking for is misunderstood. The link provided above it related to HTTPS forwarding to services. What I am looking for is configuring reverse proxy to accepts HTTPS traffic using powershell. In more specific update the secondary thumbprint using powershell that way I can roll over the certificate when the certificate expires.

**http(s): The reverse proxy can be configu

[2019-11-23 16:04] j-martens commented on #40398
#please-close

[2019-11-23 16:04] #40398 closed

[2019-11-23 16:43] olandese commented on #42939
Hell guys, sorry, I was busy and not able to take care of this.
I will check it now and let you know

[2019-11-23 17:32] nikoudel opened #43420 "The +New user button is greyed out"
I can't create any new users because the button is greyed out. I suspect it's because I'm using a free subcription. It would be nice to mention the actual reason somewhere. Anywhere...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 849ddd08-b270-94d6-5551-ffa874636376
* Version Independent ID: 7d67048b-87c7-f2c9-d9b7-3

[2019-11-23 17:33] olandese commented on #42939
just checked, you are right guys, the URL I get back using the different API version works!

[2019-11-23 18:32] romankiss opened #43421 "Using an Advanced Filtering for CloudEvents v1.0 schema"
In the case of using a _CloudEventSchemaV1_0_ for custom topic or event domain, there is no way to filter on the _source_ property. It looks like, the advanced filtering internal logic is always taking a value of the topic such as a custom topic or a domain topic resourceId.

If this is no issue, the document should be described usage of the advanced filtering (e.g. _source_ property) when the Clo

[2019-11-23 19:49] AjayKumar-MSFT commented on #43101
@buildbod, Thanks for bringing this our attention! Thanks for bringing this to our attention. Your feedback has been shared with the content owner (@HeidiSteen) for further review.

I have tried a similar repro to see the comparison; Portal method and REST API for the "Searchable" attributes:

As mentioned in the Portal method - For attributes, make these selections:
Select Retrievable for all fie

[2019-11-23 21:50] jgwinner commented on #41280
That is true, but I just was confused on the listed page when first reading it, and thought a brief callout to the FAQ or other disambiguation page would be good.

[2019-11-23 22:02] MikiMakhlevich commented on #29047
@dcbrown16
Azure Security Center is working on a subscription resolution and will turn on Advanced Data Security for all the Azure SQL Serves in the subscription. Now you can also turn on Advanced Data Security for SQL Servers on VM Preview for the entire subscription, free while in preview.

You can also turn on Advanced Data Security for a SQL Server through the Azure SQL Server on the SQL Serve

[2019-11-23 22:53] vikramdadwal opened #43423 "Markdown is not preserved when saving the QNA"
I am trying to upload the following Markdown content in QnA.

![image](https://user-images.githubusercontent.com/10174566/69486502-00d5f700-0e01-11ea-9a28-5bc9ecb175a8.png)

But once I save it in QnA, it get converted into the following text:

![image](https://user-images.githubusercontent.com/10174566/69486509-26630080-0e01-11ea-8621-be5e083e799e.png)

Please assist
---
#### Document Details

⚠ *

[2019-11-23 23:12] diberry commented on #43423
@vikramdadwal Thank you for letting us know. When I look at the [supported datasources](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported#file-and-url-data-types), I don't see markdown as supported - even though markdown is the final format. Have you used markdown as the ingestion type before?

[2019-11-23 23:25] vikramdadwal commented on #43423
@diberry the section "Formatting Consideration" says "If you add or edit your content directly in your knowledge base, use markdown formatting to create rich text content or change the markdown format content that is already in the answer" . So I thought it is supported.

Are we saying if I need a tabular format I will not be able to do that ?

[2019-11-24 00:18] ShawnDigital commented on #34239
Hate to pile on with the me too, but after seeing so much good documentation on the other parts I've been using, manipulating table storage has been very frustrating between navigating CosmoDB (no I don't need a "premium" experience to hold my small unstructured data) documentation or the tons of doco covering every trigger type and their inputs and outputs EXCEPT storage tables.

[2019-11-24 00:42] SnehaGunda commented on #43413
@Tyriar Yes the content is hosted in a private repo for which only MSFT employees have access to and public can't get to it today. We might open the REST API docs to the public for contributions in the future. Agree with your feedback though, I will pass it to our engineering team.

[2019-11-24 00:58] SnehaGunda commented on #43413
#please-close

[2019-11-24 00:59] #43413 closed

[2019-11-24 01:32] Alberto-Vega-MSFT commented on #43420
@nikoudel Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-24 01:35] Alberto-Vega-MSFT commented on #43421
@romankiss Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-24 01:44] Alberto-Vega-MSFT commented on #43307
@TianyuHou Since we havent' heard back from you we will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-24 01:44] #43307 closed

[2019-11-24 01:45] Alberto-Vega-MSFT commented on #43318
@larshobiasen Closing this issue now. If you need help opening the support ticket please follow the instructions in my previous comment and we can help you get a one time free support ticket

[2019-11-24 01:45] #43318 closed

[2019-11-24 01:47] Alberto-Vega-MSFT commented on #43321
@arroyc Since we havent' heard back from you we will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-24 01:47] #43321 closed

[2019-11-24 01:48] Alberto-Vega-MSFT commented on #43325
@allegradomel Since we havent' heard back from you we will be closing this issue for now. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-24 01:48] #43325 closed

[2019-11-24 02:09] ckarras opened #43426 "Instructions for Plotly in R notebooks are incomplete"
I have installed htmlwidgets and pandoc as specified in the documentation, now what should I do to get a plotly plot in a notebook?

The following code doesn't generate anything visible in the notebook, and I couldn't find a solution from the htmlwidgets documentation:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-11-24 02:28] JimBlizzard commented on #41479
Hi @BharathNimmala-MSFT -- Actually this documentation has the answer to the issue of how to restrict organization creation: https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/azure-ad-tenant-policy-restrict-org-creation?view=azure-devops

[2019-11-24 02:28] #41479 closed

[2019-11-24 02:51] BharathNimmala-MSFT commented on #41479
@JimBlizzard Thank you for sharing it for rest of the community members. Appreciate your contribution.

[2019-11-24 03:10] memildin commented on #29047
@KeiroKamioka0000, I think @MikiMakhlevich  has answered all the questions you raised.

Feel free to come back to us with any follow-up questions or for further clarifications.

#please-close

[2019-11-24 03:10] #29047 closed

[2019-11-24 03:27] ducatikiller opened #43427 "Poor rule description. Lacks information."
This is a poor rule description.  Simple technical writing trumps anything fancy.  From Network A to Network B  - TCP Port * would enable this article to be empowering.  Links to this article on forums leave people mystified.  I am frustrated.   In the 'Apply NSGs to AzureBastionSubnet' I followed rule creation that will not allow my to apply the NSG to the AzureBastionSubnet.  I've been configuri

[2019-11-24 03:42] kumarallamraju opened #43428 "Dynamic Data Masking is under Security section"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dynamic-data-masking-get-started-portal

Navigate to the settings page of the database that includes the sensitive data you want to mask. Dynamic Data Masking is under Security section
<img width="243" alt="Screen Shot 2019-11-23 at 7 42 18 PM" src="https://user-images.githubusercontent.com/15897803/69489226-5d

[2019-11-24 03:46] AjayKumar-MSFT commented on #43426
@ckarras, Thanks for bringing this to our attention. We are taking a look into this and will get back to you soon..

[2019-11-24 03:52] AjayKumar-MSFT commented on #43427
@ducatikiller, We apologize for the frustration that you encountered following this document.
Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-11-24 03:56] AjayKumar-MSFT commented on #43428
@kumarallamraju, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-24 04:08] KiwiBryn opened #43429 "Unix epoch time mathematics"
If the sample C# generateSasToken code is run on a machine in a non UTC timezone does it produce the expected result?

    TimeSpan fromEpochStart = DateTime.UtcNow - new DateTime(1970, 1, 1);

On my development box (NZT)
         TimeSpan fromEpochStart = DateTime.UtcNow - new DateTime(1970, 1, 1);
         TimeSpan fromEpochStartUtc = DateTime.UtcNow - new DateTime(1970, 1, 1).ToUniversalTime();

[2019-11-24 04:12] AjayKumar-MSFT commented on #43429
@KiwiBryn, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-24 04:57] TianyuHou commented on #43307
@Alberto-Vega-MSFT  Sorry for late response, this is the link of the tutorial https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-oauth2 Thanks!

[2019-11-24 05:27] MarileeTurscak-MSFT commented on #42748
Hi @clayhagler , since this is more of a product question than a documentation issue, the right place to post this is in Microsoft Q&A. Please post here and we will get back to you. https://docs.microsoft.com/answers/questions/index.html

I'll continue to update the thread though upon reply from the product team.

[2019-11-24 05:27] #42748 closed

[2019-11-24 05:45] Hideginyo opened #43430 "Unavailable on ”the Cognitive Services VSIX package”"
We could not implement the trial in accordance with this page's instructions.
Maybe we need to change to "Nuget", Please change the instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1df9d0f9-f84c-2e24-9ea2-9956af815b92
* Version Independent ID: 0437ab02-8f50-17df-10be-219beddec22b
* Content: [Visual Studio C

[2019-11-24 05:50] algattik opened #43431 "failOnDataLoss"
The sample code for "Read from Event Hubs for Kafka" sets `.option("failOnDataLoss", "false")`, why is that? It seems we should do the opposite, to encourage the use of safe code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 815fc61d-adb8-e15d-9be2-ef75d9114766
* Version Independent ID: 85f3935f-9144-2ffb-fac3-491d51

[2019-11-24 06:26] nikhilpulluri-gep opened #43432 "Unable to Store terraform state in storage account"
I am unable to store terraform state in storage when i am trying to provision resources via Octopus(deployment tool).

i am trying to create it this way.

# Create a resource group
terraform {
  backend "azurerm" {
    storage_account_name  = "terraformstateprove"
    container_name        = "terraform"
    access_key            = ""
    key                   = "terraform.tfstate"
  }
}

resource

[2019-11-24 06:35] nikhilpulluri-gep commented on #43432
I got the solution.

Thanks

[2019-11-24 06:35] #43432 closed

[2019-11-24 07:06] msrini-MSFT commented on #43427
@ducatikiller , Are you getting any error while applying NSG?

Can you share me the screenshot of your NSG so that I can take a look?

[2019-11-24 07:28] SnehaGunda commented on #43274
@Ramji-S Thanks for pointing out the issue, I submitted a Fix to update the doc. The changes will be live on Monday.

We will now close this issue if there aren't further questions.

#please-close

[2019-11-24 07:28] #43274 closed

[2019-11-24 08:18] Jayesh040 opened #43433 "Copying Messages from service bus queue to another service bus queue"
Can we create automated tasks and workflows to copy messages from service bus queue to another service bus queue with Azure Logic App or with someother automation tool ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2aeacc5-5b74-c4be-335e-c7e768854e4a
* Version Independent ID: d8693b52-fdd6-cc68-bc12-26807454a80b
* C

[2019-11-24 08:26] AjayKumar-MSFT commented on #43432
@nikhilpulluri-gep, Thanks for leveraging Azure docs feedback channel to raise this question.
This GitHub channel is reserved for ‘Azure docs’ feedback, where you can share your valuable feedback about the doc content, report doc bugs, suggest content improvements.

Glad to know that you have figured out the issue and thanks for the update.
You may feel free to post the Azure doc for which this fe

[2019-11-24 08:28] AjayKumar-MSFT commented on #43433
@Jayesh040, Thanks for the question! We are taking a look into this and will get back to you soon.

[2019-11-24 08:29] AjayKumar-MSFT commented on #43431
@algattik, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-24 08:31] AjayKumar-MSFT commented on #43430
@Hideginyo, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-24 08:54] VelinGeorgiev commented on #42861
This sample does not run on Windows App Service. Even I set the right runtime for node by adding WEBSITE_NODE_DEFAULT_VERSION. After the restart, of the web app, the page still displays `You do not have permission to view this directory or page.`

[2019-11-24 08:54] SubhashVasarapu-MSFT commented on #43175
Yes, your understanding is correct. The throughput of the tunnel in case of Express Route depends on the bandwidth purchased.

[2019-11-24 09:34] KiwiBryn commented on #43429
Hi

Sorry I think I made a mistake new DateTime(1970, 1, 1); creates a a DateTime with an Unspecified Kind which is "automagically" handled by the DateTime maths.

@KiwiBryn

[2019-11-24 09:34] #43429 closed

[2019-11-24 09:41] kierenj opened #43434 "Properties - no documentation for "Type" member"
As best I can see it only mentions Name, DisplayName and Description. There's a Type in the examples too, which has a Name property. I'd like to understand that in detail too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc40e74f-98e1-c08a-e0b8-47e93fda2411
* Version Independent ID: 9781c2fd-6b77-a4a2-1604-e0c0a3d14dd

[2019-11-24 09:52] Sparkle-Team commented on #23090
I am facing this same issue, think one should be able to attach internal lb with scale set.

[2019-11-24 09:55] rodneyjoyce commented on #30323
Hi @kiwidamien :I have the same error on my Azure Machine LEarning Service using Container Instances. What did you mean by "Subscribe to "Container.Registry" service?

[2019-11-24 10:35] GJaminon opened #43435 "vnet_subnet_id is not a valid property"
In ansible 2.8 the property vnet_subnet_id in agent_pool_profiles is not a valid property
see : https://docs.ansible.com/ansible/latest/modules/azure_rm_aks_module.html#parameters

So it is apparently impossible to create a AKS Cluster in an existing subnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d3df581-67ad-3

[2019-11-24 10:50] geirivarjerstad opened #43436 "The name "azos-use-vm-web02" is above 15 char policy"
You might want to expand the limit in Azure VM naming policy in order for the name "azos-use-vm-web01" to work. The current policy doesnt not validate this name as it is too long. Why not expand the naming policy to 64 char?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0588ab87-69d9-9641-9d96-fa46f7c71b54
* Version I

[2019-11-24 10:52] GJaminon commented on #43435
The property is valid when using it but is not in the Ansible documentation. So it is an issue with the ansible doc.

[2019-11-24 10:52] #43435 closed

[2019-11-24 12:00] FrancoisNevo opened #43437 "Question about wording"
Hello,
I have a quick question for the writer of this article: In the sentence "Service Bus offers a reliable and secure platform for asynchronous data and state transfer", does "asynchronous" apply to the transfer, or to the data and state?

In other words, could we reformulate it as "asynchronous transfer of data and state"? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It

[2019-11-24 12:14] zegor commented on #31001
There are Python and JavaScript examples located here, which show how to use binding expressions in your code: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob

Took me a while to find them also! I agree it would help to have direct examples on the page in question.

[2019-11-24 12:54] zegor opened #43438 "Binding expressions don't appear to work with Python code"
Within the "Trigger - example" section, it states, "The string {name} in the blob trigger path samples-workitems/{name} creates a binding expression that you can use in function code to access the file name of the triggering blob. For more information, see Blob name patterns later in this article."

However, this appears to be misleading as {name} only works as it is an attribute of the InputStrea

[2019-11-24 13:11] crgarcia12 commented on #42004
I'm getting this error:
az aks update -n $aksClusterName -g $resourceGroup --attach-acr $registryName

az: error: unrecognized arguments: --attach-acr <my-registry-name>

[2019-11-24 13:38] KrishnaG-MSFT commented on #43435
@GJaminon Thanks for the update. :+1:

[2019-11-24 13:41] iotrock commented on #11450
Alberto-Vega-MSFT Any update on this issue ?

[2019-11-24 13:46] KrishnaG-MSFT commented on #43436
@geirivarjerstad Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-24 13:49] KrishnaG-MSFT commented on #43437
Assigning to content author @axisc for visibility, review, validation and document enhancement consideration.

[2019-11-24 13:51] KrishnaG-MSFT commented on #43438
@zegor Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-11-24 13:54] #43376 closed

[2019-11-24 14:04] crgarcia12 commented on #42004
oops, i placed the comment in the wrong place, I also found the solution - not sure if i can delete this :S

[2019-11-24 15:42] christiankuhtz commented on #23090
@anavinahar fyi

[2019-11-24 15:56] AjayKumar-MSFT commented on #43434
@kierenj, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2019-11-24 16:15] borys86 commented on #43365
@tfitzmac
I landed on the https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-deployment-operations#portal because I wanted to find a programmatic way to query and get deployment details.
I see following link, GET https://management.azure.com/subscriptions/{subscription-id}/resourcegroups/{resource-group-name}/providers/microsoft.resources/deployments/{deployment-name}?a

[2019-11-24 16:20] sivagasc commented on #37242
I'm facing an issue with post_logout_redirect_uri. After a successful logout, the application stays on Microsoft sign-in page, it's not redirected to given URL.

[2019-11-24 16:29] shashishailaj commented on #42104
@mjazwiecki I have received some advice from the backend and there are a few sitations where fallback may not happen.
- If you have configured the associated AAD application to require user assignment , there will not be any fallback for a certificate validation.
- If you are running this for a linux cluster we have a known issue with dual-mode authentication and here also you may not see fallback

[2019-11-24 16:33] KalyanChanumolu-MSFT commented on #43414
@Tyriar Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-11-24 16:40] KalyanChanumolu-MSFT commented on #43428
@kumarallamraju Thank you for the feedback.
The Azure portal has evolved after the content was published.
This is being assigned to the content author to update the screenshots accordingly.

[2019-11-24 16:49] csharpfritz opened #43439 "Does not work with current templates in Visual Studio"
With the base templates in Visual Studio, you cannot install the packages directed.  This fails with version collision issues reporting "Install/reference Microsoft.Azure.WebJobs 3.0.5 directly to project Fritz.TwitchChatArchive to resolve this issue. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-

[2019-11-24 16:58] csharpfritz commented on #43439
This was a confusion between the NetFx and NetCore versions of functions.  As the package is NetStandard, it was allowed to attempt to be installed on the NetFx version of the templates

[2019-11-24 16:58] #43439 closed

[2019-11-24 18:05] KrishnaG-MSFT commented on #43439
@csharpfritz Thanks for the update. 👍

[2019-11-24 18:31] mbinnix commented on #42991
I'm having the same experience as @danmyhre.  Went throught the set up to configure p2s gateway for azure ad authentication.  I can only connect by ip address.   The vpn client does not respect the vnet dns settings.

[2019-11-24 18:35] blueelvis commented on #34708
@TravisCragg-MSFT - I don't see anything in those links related to this.

I mean, they need to exist in the same region.

[2019-11-24 18:41] jessedavidsmit commented on #23045
Its sad to see that nothing was done about this issue. It isn't easy at all to complete the learning path for databricks with such pitfalls.

[2019-11-24 18:48] dgancho opened #43440 "02-turbofan_deploy_model fails on "Create a container image" step"
The seconds Juniper notebook "02-turbofan_deploy_model" fails on "Create a container image" step with
ERROR - Image creation polling reached non-successful terminal state, current state: Failed
Error response from server:
StatusCode: 400
Message: Docker image build failed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-11-24 18:54] KrishnaG-MSFT commented on #43190
@janpalas At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-11-24 18:54] #43190 closed

[2019-11-24 18:58] vanthoainguyen commented on #43088
I want to read from Secondary, assuming Secondary is ReadOnly region which is Australia South East as seen in the photo?

Could you tell anything wrong with my code if I wanted to do so?

[2019-11-24 19:33] dgancho opened #43441 "Missed step"
A VM deployed with Create-EdgeVm.ps1 script does not have Azure CLI installed. As a result, the first step "az login" at "Download Key Vault certificates" fails.
Azure CLI must be installed on the VM after it's created, i.e. using https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-11-24 19:50] shashishailaj commented on #43153
@blouwagie Hope your queries are answered by Ian . In case you have any further queries on the same , please do let us know .

[2019-11-24 19:56] shashishailaj commented on #43420
@nikoudel Thank you for your request . If the new users button is grayed out , it would not be because you are using a free subscription . You may not have global admin rights/user administrator rights on the azure AD tenant and hence you are unable to create new users and so its grayed out. There are a few roles which can create users within the directory. If the new users option is grayed out fo

[2019-11-24 20:25] becz commented on #42841
@philmea I do not have a specific scenario for reverse lookup. I just wanted to point out that reverse DNS lookup was misleading in this article, as it has described forward lookup.  Thank you for removing the misleading description of reverse lookup. It seems like Azure provides a kind of API to retrive IP addresse.

[2019-11-24 20:25] #42841 closed

[2019-11-24 21:41] alessiostalla commented on #16481
Same happens with a standard Postgresql Docker image - if you try to make the database persistent by mounting a file share, it doesn't start.

[2019-11-24 22:00] xtellurian commented on #40003
https://feedback.azure.com/forums/906859-azure-time-series-insights/suggestions/39120103-microsoft-azure-timeseriesinsights-should-be-avail

[2019-11-24 22:36] tbonza commented on #43320
+1 I just saw a pull request over in [Azure pipelines task](https://github.com/microsoft/azure-pipelines-tasks/pull/11735)

[2019-11-24 23:51] Merurino commented on #43092
Oh, thanks for the recommendation. I've created this guy using ARM script and changed the query from avg() to max() and forgot to fix the yAxis name from avg_ to max_ . That was it!

One question though, I've seen that now when I add a new query to my dashboards instead of having the DashboardId populated in each "box's" DashboardId field, we now have a isOptional = true.

So from this:
[code]
We

[2019-11-24 23:51] #43092 closed

[2019-11-25 00:11] DixitArora-MSFT commented on #43249
@se7vanj I have assigned this to content author for further review and update as appropriate.

[2019-11-25 00:11] DixitArora-MSFT commented on #43206
@assaf-grth I have assigned this to content author for further review and update as appropriate.

[2019-11-25 00:17] salavala commented on #36933
I have followed all the above steps and I am able to publish the report. But I am unable to see the report in the PowerBI service.  Here is the error in the PowerBI Service:

Sorry, we couldn't find that report

It may have been deleted or you may not have access to view it.
How do we resolve that issue?

[2019-11-25 00:45] ducatikiller commented on #43427
@msrini-MSFT, Yes, it wouldn't allow association with the Bastion subnet due to misconfiguration of the NSG.  The article above keeps mentioning the 'control plane'.  There is no definition of the 'control plane', there is no TAG for the 'control plane'.  The article repeats itself trying to state the same thing twice but the nomenclature is not mirrored.   Firewall instructions can be very simple

[2019-11-25 00:54] neeleshray-msft commented on #42585
@curtand  Curtis, Could we have this verified and updated ?

[2019-11-25 00:55] neeleshray-msft commented on #42999
@msmimart Could we get and update if possible from the Product Team ?

[2019-11-25 01:01] neeleshray-msft commented on #42766
@johnhappygilmore  So, here it works like the ".*" detonation after the characters denote to fill in after what has been mentioned. And the same before the characters, denote to what has been mentioned before them. The ".*" is what you might call fill the blanks before or after the mentioned characters.

We will be closing this thread now, let us know we can be of further help.

[2019-11-25 01:01] #42766 closed

[2019-11-25 01:03] neeleshray-msft commented on #43269
@jeevansd
Jeevan, could this be verified and updated to the customer ?

[2019-11-25 01:04] neeleshray-msft commented on #43271
@jeevansd  Jeevan, could this be verified and updated to the customer ?

[2019-11-25 01:10] KosukeHosoda opened #43445 "Some metrics supported by Microsoft.Network/azurefirewalls are not listed"
Azure Firewall has supported metrics other than "network rules hit count" and "application rules hit count" : there are "Data processed", "Firewall health state", "SNAT port utilization" as the following document.
It would be nice if you could add the other metrics supported by Azure Firewall to this document.
-Azure Firewall logs and metrics
https://docs.microsoft.com/en-us/azure/firewall/logs-an

[2019-11-25 01:52] KosukeHosoda opened #43446 "This document should have the sample log recorded for Network rule log, Application rule log and Threat intelligence log."
Customer would like to know not only the query but also what log data is specifically recorded for Network rule log, Application rule log and Threat intelligence log. I think it would be helpful for customers to know what log data is recorded if this document have the sample log for the each log data.

For example, we can get the below log data regarding Network rule log.
-------------
TenantId
xx

[2019-11-25 02:11] CHDAFNI-MSFT opened #43447 "Suggest: Add - disabling security defaults + AAD Premium affects"
Add section for disabling security defaults (since a section for enabling exists). The guidance states the choice for security defaults only exists if AAD Premium / conditional access isn't used. What if it used (and licensed) later on. What happens then to security defaults if it was already enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-11-25 02:20] xieofxie commented on #43185
@RohitMungi-MSFT, thanks~

[2019-11-25 02:20] #43185 closed

[2019-11-25 02:25] jeevansd commented on #43269
@ClaudioRifo What you are describing is automatic user provisioning. When the article mentions about just in time user provisioning that means it support SAML just in time user provisioning. Here configure the claims for the application in the way we have suggested and then user can be created in the app based on the SAML claims information. What you see in the User Provisioning tab is manual whic

[2019-11-25 02:25] jeevansd commented on #43269
#please-close

[2019-11-25 02:25] #43269 closed

[2019-11-25 02:40] ClaudioRifo commented on #43269
OK. So JIT is for Azure side.

Question:

Is there a way to enable the Automatic user provisioning option? (Or edit the existing App to configure this)

From: Jeevan Desarda <notifications@github.com>
Sent: Sunday, November 24, 2019 11:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Claudio P. Rifo Wahl <claudio.rifo@marcaria.com>; Mention <mention@noreply.github.com>
Subjec

[2019-11-25 02:41] Alberto-Vega-MSFT commented on #43440
Hi @dgancho Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 02:41] Alberto-Vega-MSFT commented on #43440
Hi @dgancho Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 02:43] Alberto-Vega-MSFT commented on #43441
Hi @dgancho Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-25 02:48] jeevansd commented on #43269
@ClaudioRifo Nope. When our team enable the automatic user provisioning then only you will see it. If your organization need automatic user provisioning for this app then please follow the process mentioned here and submit the request so that we can enable it for this app https://aka.ms/AzureADAppRequest

[2019-11-25 02:50] Alberto-Vega-MSFT commented on #43445
@KosukeHosoda Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 03:14] gherbstman commented on #41184
We are also seeing the same issue.

[2019-11-25 03:24] decturau commented on #41184
@roygara Yes using AADDS and machine was AAD joined only. Cannot mound with AAD account on AAD joined pc not in Azure.

[2019-11-25 03:55] Alberto-Vega-MSFT commented on #43447
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-11-25 04:01] SwathiDhanwada-MSFT commented on #43170
@dcbrown16 Thanks for correcting me.

[2019-11-25 04:16] AshokPeddakotla-MSFT commented on #43429
@KiwiBryn Glad to hear that your issue is resolved. Appreciate for sharing the resolution, this would certainly benefit other community members.

[2019-11-25 04:30] SubhashVasarapu-MSFT commented on #43175
@VenkatGowrishankar , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-11-25 04:30] #43175 closed

[2019-11-25 04:39] russellds2w opened #43448 "Article has you install wrong version of Azure PowerShell module."
The third line of the article reads:

"The preview sample script requires the Event Grid module. To install, run Install-Module -Name AzureRM.EventGrid -AllowPrerelease -Force -Repository PSGallery"

Since AzureRM is depreciated and the article says that is has been updated to use the new Az modules it should read as follows:

"The preview sample script requires the Event Grid module. To install,

[2019-11-25 04:43] KumudD commented on #43060
This is fixed. Thanks!
#please-close

[2019-11-25 04:43] #43060 closed

[2019-11-25 04:49] souravmishra-msft commented on #43073
@chino0913, Closing this thread as got no further updates.

[2019-11-25 04:49] #43073 closed

[2019-11-25 04:49] souravmishra-msft commented on #43072
@chino0913, Closing this thread as got no further updates.

[2019-11-25 04:49] #43072 closed

[2019-11-25 04:56] jakaruna-MSFT commented on #43279
@MashaMSFT Thanks. Please update the user once you have some information and update the doc if needed

[2019-11-25 05:00] AshokPeddakotla-MSFT commented on #38552
@unstephenk Have you had a chance to see the above suggestions? Do let us know if that solves your issue.

[2019-11-25 05:14] dcbrown16 opened #43450 "SQL MI disk IOPS"
IOPS count and bytes are listed under "Resource usage stats for managed instance". Are these representing the IOPS against the user database disks, i.e. the limits that are listed in this link?
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-resource-limits#file-io-characteristics-in-general-purpose-tier

Or are these metrics showing the IOPS against the system da

[2019-11-25 05:15] jakaruna-MSFT commented on #43063
Thanks @nitinbps .

@lucidqdreams
I hope we can close this issue now.

[2019-11-25 05:16] msrini-MSFT commented on #43427
@ducatikiller, Thank you for your feedback. Can you check this issue : https://github.com/MicrosoftDocs/azure-docs/issues/42737

Below is the screenshot of the NSG configuration:

![image](https://user-images.githubusercontent.com/47132998/69514141-4f55d380-0f70-11ea-980e-2094bd57de20.png)

Any management operation that you do to the resource is control plane and as of today we don't have a tag na

[2019-11-25 05:17] tomgross opened #43451 "Missing imports in Python examples"
In all the Python examples I have seen on https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/cognitive-services/Computer-vision/QuickStarts

 `ìmport os` and `import sys` are missing. You are using
`if 'COMPUTER_VISION_SUBSCRIPTION_KEY' in os.environ:` and `sys.exit()` in the examples.

Creating and running the examples as described does not work.

---
#### Document Details

⚠ *Do no

[2019-11-25 05:25] ChiragMishra-MSFT commented on #43236
@kromerm Can you please take a look at this?

[2019-11-25 05:31] RohitMungi-MSFT commented on #43123
@Robotbae We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-25 05:31] #43123 closed

[2019-11-25 05:33] RohitMungi-MSFT commented on #43179
@xieofxie  We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-25 05:33] #43179 closed

[2019-11-25 05:36] SubhashVasarapu-MSFT commented on #43446
@KosukeHosoda , Thanks for your feedback. We are looking into this query and will update you as soon as possible.Please do not post PII information like subscription ID on these social forums.

[2019-11-25 05:37] liudr opened #43452 "How is this related to this other way of file upload?"
So the UploadToBlobAsync() call does the upload. What about this other method?

https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-file-upload#notify-iot-hub-of-a-completed-file-upload

Here it says POST method etc. Is the UploadToBlobAsync() call a wrapper of what the other article details?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-11-25 05:38] zrahui opened #43453 "Assessment-appliance requirements (Physical Assessment) - Incorrect OS support"
The latest Physical Assessment (Preview) appliance only supports WS 2016+/OS ver=10.0+ (appears to check in the PS install script) which is not specified in this page. Physical Assessment guidance links to the pre-requisites on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 104caea8-472d-2fc6-e50f-343d00fdde

[2019-11-25 05:38] ChiragMishra-MSFT commented on #43319
@vlada101 In Step 6, as visible from the screenshot, you would run the pipeline "BulkCopyFromS3". The template being used here is "Migrate historical data from AWS S3 to Azure Data Lake Storage Gen2 template" as mentioned in Step 3.

I think you are using the wrong template. Kindly use the above suggested template and pipeline.

[2019-11-25 05:50] RohitMungi-MSFT commented on #41728
@dargilco  Thanks for the confirmation. @wilsonlapwong We will now proceed to close this thread.

[2019-11-25 05:50] #41728 closed

[2019-11-25 05:56] AshokPeddakotla-MSFT commented on #43189
@dominicbetts Thanks for looking into this.
@koratshail As mentioned, the documentation has been updated.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-11-25 05:56] #43189 closed

[2019-11-25 05:56] amanmcse commented on #43238
@chadcarlton Hope the answer helped. I am proceeding with closure of the thread. If you have any further questions or concerns, feel free to tag me in your reply.

[2019-11-25 05:56] #43238 closed

[2019-11-25 05:59] Jayesh040 commented on #43433
@AjayKumar-MSFT, Glad to hear that !

[2019-11-25 06:01] liudr opened #43454 "What headers are required by POST?"
I tried this POST request with postman and received "ErrorCode:InvalidProtocolVersion;BadRequest". Can I test this with postman or not? If yes, what other headers are required? After I receive the response, then what? This "guide" isn't complete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbaf3777-34b8-b195-691f-28

[2019-11-25 06:06] KetanChawda-MSFT commented on #43433
@Jayesh040 Can you elaborate more on your ask? Do you want to read message in LA and send it to other queues or just wanted to have a copy of same message in other queues without reading from Logic App ?

[2019-11-25 06:07] ChiragMishra-MSFT commented on #43431
@algattik It's just a sample to get you started and not a recommended way. Based on your use case, you would want to set failOnDataLoss to "true" or "false".

Hope this helps.

[2019-11-25 06:09] Jayesh040 commented on #43433
@KetanChawda-MSFT We just want to copy it to another Queue in Another Service Bus, Logic App is what we want to use if its possible or another approach would do to.

[2019-11-25 06:17] NguyenGiangTruong commented on #43454
Authorization header with SAS key value is missed. Just make sure you have it. Btw, Content-Type should be application/json
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security
Also, you  should add api-version to your URL. Mine is api-version=2018-06-30

[2019-11-25 06:31] CHEEKATLAPRADEEP-MSFT commented on #40204
@linda33wj Could you please look into this issue?

[2019-11-25 06:37] liudr commented on #43454
Thanks for your quick response! Yes I have content type header.
Could you provide a simple example of a working set of headers please? The webpage you pointed to has some rather complicated explanations.
I am not sure what an SAS key value is. My iot device received shared access key upon activation. Not sure what URL-encoded-resourceURI is, expiry? How can Microsoft make uploading a simple file t

[2019-11-25 06:39] souravmishra-msft commented on #43178
@gregdegruy, I apologize for the delay in my response. I wanted to check with you if you already have a code and that is breaking somewhere while creating the app registration in AAD, so that we can try to work on based on the error. As guidance sharing the points that you would have to make sure of in order to get the App Registration done.

1: Use **ADAL for Java** or **MSAL for Java** libraries

[2019-11-25 06:49] dcbrown16 opened #43455 "Turning off independent sign-up"
There is a sign-up page for the developer portal at the following address.
https://&lt;service&gt;.developer.azure-api.net/signup
We can obviously hide this link or use a Vnet to limit access, but is there a way to fundamentally turn this off?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1c96ba5-164a-e66f-a782-d0cd6

[2019-11-25 06:49] VikasPullagura-MSFT commented on #43099
@msmbaldwin Can you please look into this and add your comments.

[2019-11-25 07:02] WenJason opened #43456 "Broken link."
The "Migration Utility" link returns 404 on this page. Could you please have a check and fix it? Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 125c8ae8-332f-8792-d81b-30bb0eb3976f
* Version Independent ID: 2e2ac8cb-4208-6692-0f25-701e4906475a
* Content: [Copy data in bulk using Azure Data Factory  -

[2019-11-25 07:15] algattik opened #43457 "grammar: can be in a Azure region"
The word "other" is missing:
"The existing AKS cluster can be in a Azure region than your Azure Machine Learning workspace."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3783f41-ce06-3d23-8e2e-64abbb5c96c4
* Version Independent ID: f66fcf5b-c259-8e77-20e2-9bbe750d52c5
* Content: [How to deploy models to Azure Kubern

[2019-11-25 07:26] ChiragMishra-MSFT commented on #43456
@WenJason Thank you for bringing this to our notice.

It seems like it is not being maintained anymore. It is a simple tool that does some PCP commands and it works, so it is still being used by customers. You could look into the [Copy Activity in Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview) you could use.

We will now proceed to close this thread

[2019-11-25 07:26] #43456 closed

[2019-11-25 07:27] MrAzureAD opened #43458 "Incorrect default setting"
"By default, when an external user no longer has any access package assignments, they are blocked from signing in to your directory. After 30 days, their guest user account is removed from your directory."
This is not correct. In the default setting, users that lose all access packages can still sign-on to re-request access packages.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-11-25 07:28] SnehaAgrawal-MSFT commented on #43355
@olavt Thanks again for the feedback. We are aware of this and I have been working with the product team internally. You may try the current work around to this by using the older version 2.0.75 or using the Edge builds. https://github.com/Azure/azure-cli#edge-builds

[2019-11-25 07:37] WenJason commented on #43456
@ChiragMishra-MSFT Appreciate it.

[2019-11-25 07:43] AndreiDita commented on #41650
Hi Giovanni,

Yes that is the statement I was looking for. At the time I opened the issue it seems that it wasn't there and it was added in the meantime. There was also an internal thread where some of my colleagues complained about this.

Thanks - you can close the issue.

[2019-11-25 07:44] mjazwiecki commented on #42104
@shashishailaj thanks for this. I found that indeed, when user assignment is required there is no fallback to certificates, which was the main issue. Just to add - and this might be helpful for others as well - this is only the case for explorer endpoint (by default on port 19080). For client connection endpoint (default 19000) you would still be able to connect using certificates even though AAD

[2019-11-25 07:44] #42104 closed

[2019-11-25 07:50] icelava opened #43459 "Still not promoted to administrator type"
Despite being assigned as local administrator (for devices) in Azure AD, and waiting for several days now + multiple sign-outs and OS restarts, my AAD user account is still not recognised as administrator on some test Windows 10 Enterprise computers for trying out Windows Autopilot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-11-25 08:11] KerimY commented on #43354
@ram-msft anything yet?

[2019-11-25 08:17] ram-msft commented on #43451
@tomgross Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-11-25 08:22] YutongTie-MSFT commented on #43126
@merlinko637
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-25 08:22] #43126 closed

[2019-11-25 08:23] YutongTie-MSFT commented on #43216
@wukun2015
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-11-25 08:23] #43216 closed

[2019-11-25 08:24] cowking06 opened #43460 "WAFv2 to host multiple internal port 80 sites"
I have a WAFv2, trying to host 2 sites.

1. www.testprod.com
2. www.teststag.com

i configured my WAFv2 with a public frontend IP. Since i am in testing stage, i can only use port 80. So i created 2 multi-site listeners and 2 rules to point them to the appropriate backend pools defined. All works as per expected, local PC host file set the same public ip to both urls to simulate DNS records.

Then

[2019-11-25 08:27] amanmcse commented on #43316
@ahmadizm Access token requested in application context (Application Token) include Roles claim and the token requested in user's context (User Token) includes SCP claim for the permissions exposed by your application.

The only case when you see Roles claim in User token is when the app role/roles are defined for the application in the App Manifest and the authenticating user is assigned with tha

[2019-11-25 08:28] AshokPeddakotla-MSFT commented on #43452
@liudr Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 08:31] keshava-hm commented on #40855
Looks like this issue is solved in 1.21.2
https://github.com/Azure/azure-iot-sdk-csharp/issues/1108

[2019-11-25 08:35] msrini-MSFT commented on #43460
@cowking06 , There is a known issue where you will not be able to add the same frontend port for both Public and Private Frontend IPs.

As of now, as a workaround use different frontend port for the Private Frontend IP.

[2019-11-25 08:37] SumanthMarigowda-MSFT commented on #43257
@Ratomir Thanks for the feedback!. Your feedback has been shared with the content owner for further review.

[2019-11-25 08:41] cowking06 commented on #43460
When do you think will this be resolved? Changing of ports may require me to change the custom application. Is there a workaround within WAF which is transparent to the users?

[2019-11-25 08:41] Jessejames106 commented on #43375
@NavtejSaini-MSFT I've attached a screenshot of where i'm seeing these values on the Azure Portal (Containers > Scale)

We're using UK South/UK West as read regions and UK South as the write region if that helps with investigating this.

![Autopilot](https://user-images.githubusercontent.com/51376388/69524967-0d706180-0f5f-11ea-8ff3-bb0531ed6f14.PNG)

[2019-11-25 08:44] #43411 closed

[2019-11-25 08:44] NAshwini commented on #43349
@cynthn I have tried it with windows 2012 R2 and 2019 from azure portal. While creation of user creds I created username as "azure" with password (met all criteria) and not with ssh_key. choose all the post SSH, RDP, HTTP, HTTPS) and the rest was default. The same pattern of vm creation was working earlier. The problem seems to be very recent.

[2019-11-25 08:48] CHEEKATLAPRADEEP-MSFT commented on #43426
@mamccrea Could you please look into this issue?

[2019-11-25 08:52] YutongTie-MSFT commented on #43457
@algattik
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-11-25 08:58] CodeLancasterX opened #43461 "confidence explanation"
A brief explanation about how the confidence works/ what it is would be a nice addition.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0dde163d-9125-5bb2-b2e1-5dd1376d4a4b
* Version Independent ID: 91c8c25b-d380-d591-6bec-9114ce827d39
* Content: [Image descriptions - Computer Vision - Azure Cognitive Services](https:/

[2019-11-25 09:03] ChiragMishra-MSFT commented on #43319
@vlado101 I have submitted a PR to modify the doc. You will see the changes in production very soon once its approved by the content team.

I will now proceed to close this issue. Please feel free to still comment and tag me if you have any queries.

[2019-11-25 09:03] #43319 closed

[2019-11-25 09:10] DiederikvandenB commented on #8423
When I tail the `log stream` of my container, I can see the actual command that is ran in order to spin the container up. While it does contain the following `ENV_VARS`, the ones I set as application settings are still missing.

[code]

It seems like the environment variables are injected when the entrypoint is ran though, but afterwards they're not accessible anymore. Highly annoying.

[2019-11-25 09:12] PramodValavala-MSFT commented on #43448
@russellds2w Thanks for the feedback! We will review and update accordingly.

[2019-11-25 09:14] santo2 opened #43462 "how to add app roles using powershell core?"
Hi,
I can't seem to find any official documentation on how to add the app roles with Powershell Core to my app registration. Could you maybe help me in the right direction? My results end up in unworking code until now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Indepe

[2019-11-25 09:14] rahulthescorpion opened #43463 "Need Security Alert trigger response"
I have deployed a Linux VM and installed OMS and configured it with log analytics workspace. I have standard pricing security center and I mapped the data collection everything. The VM is added to the security center and the monitoring status is "Monitored by Azure Security Center".

I configured a logic app which will get triggered when a alert is created and the response will be pushed through s

[2019-11-25 09:20] SnehaAgrawal-MSFT commented on #43352
@tsubaki961 Thanks again for the feedback! I have shared this with the content owner for further review.

[2019-11-25 09:25] YutongTie-MSFT commented on #43461
@CodeLancasterX
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-11-25 09:25] #43400 closed

[2019-11-25 09:26] shashishailaj commented on #42104
@mjazwiecki  Thank you for sharing the same. I would look into the documentation part and see how best the existing content can be modified .

[2019-11-25 09:27] JeffreyFowels commented on #42614
Thanks for the update this is the following error I get with b2b accounts

Error

[‎2019‎/‎11‎/‎25‎ ‎11‎:‎12‎:‎28] PId:[00019948] TId:[00031568] [ApplicationX] [] [Verbose] Success Received AAD Credential Token. User: Test@Test2gmail.onmicrosoft.com
[‎2019‎/‎11‎/‎25‎ ‎11‎:‎12‎:‎28] PId:[00019948] TId:[00031568] [ApplicationX] [] [Verbose] Success Received AAD Credential Token. User: Test@test2gmai

[2019-11-25 09:32] dennistorbidoni1337 commented on #9848
Here is the map:
{% assign transactions = content.Table1 | Map: "faktnr" | Uniq %}{
  "saveBundleList": {
    "bundlelist": {
      "allowDifference": false,
      "bundles": [
      {
        "bundleDirectAccounting": false,
        "name": "sample",
        "sort": 0,
        "yearId": "2019",
        "vouchers": [{% for voucher in transactions %}
			{
				"transactionNo": "1337"
			}{% if forlo

[2019-11-25 09:33] dennistorbidoni1337 commented on #9848
And input:
{
  "content": {
    "Table1": [
      {
        "bundleId": "2019-10-21 15:35:38.420",
        "faktnr": 44084,
        "ktonr": "2400",
        "momskod": null,
        "debbel": 0,
        "krebel": 37000,
        "faktffdat": "2019-10-28T00:00:00",
        "faktdat": "2019-10-18T00:00:00",
        "kundbetalarenr": "801028",
        "Attachement": "Test"
      },
      {
        "bu

[2019-11-25 09:36] dennistorbidoni1337 commented on #9848
The problem is that I only want two "vouchers" one for each unique "faktnr". One for faktnr = 44084 and one for faktnr = 44089

[2019-11-25 09:41] dennistorbidoni1337 commented on #9848
This is the output when I run it in a Logic App:
{
  "saveBundleList": {
    "bundlelist": {
      "allowDifference": false,
      "bundles": [
        {
          "bundleDirectAccounting": false,
          "name": "sample",
          "sort": 0,
          "yearId": "2019",
          "vouchers": [
            {
              "transactionNo": "1337"
            },
            {
              "transa

[2019-11-25 09:48] souravmishra-msft commented on #42907
@MarkDordoy, I apologize for the delay in my response, as I was tied up with some other engagments. I did check you ask and what I feel the simple way would be to query the status of the service "**AzureADConnectAuthenticationAgent**", if this service is up and running then your agent registration is fine. Further, checking the certificate in the machine's local store can be used as the next step

[2019-11-25 09:49] PramodValavala-MSFT commented on #43455
@dcbrown16 Thanks for the question! We will review and get back to you!

[2019-11-25 09:58] KalyanChanumolu-MSFT commented on #43088
@sivethe Could you please help with this issue.

I was able to reproduce the same behavior.

I tried using the [code sample ](https://github.com/Azure-Samples/azure-cosmos-db-mongodb-dotnet-geo-readpreference) with read preference set to ReadPreferenceMode.SecondaryPreferred but cannot see any throughput on the secondary

![image](https://user-images.githubusercontent.com/8835012/69530334-d9fdf900

[2019-11-25 09:59] blueelvis opened #43464 "Is the "Allow Azure services & resources to access this server" also considered part of the firewall rules?"
It seems that this is indeed true and is included in the 128 limit of server level firewall rules. So, technically, this means that 127 rules are the upper limit if this is also enabled.

Could you please add this clarification?

Also, once the 128 limit is reached (including allowing azure services to access the server), the ARM template deployments to deploy the same rule (i.e. AllowAccessToAzur

[2019-11-25 09:59] msrini-MSFT commented on #43460
@cowking06 , Not really sure about the ETA on the fix. But you don't need to change the backend port. Only the frontend port needs to be changed.

Your application will continue  to listen on port 80.

[2019-11-25 10:09] arkein opened #43465 "Tutorial doesn't include AppInsights monitoring as advertised"
Document header mentions "In this tutorial, you learn how to: - Add Application Insights monitoring.", but the actual information seems to be moved into a dedicated document in the Next Steps section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d505ab9-d351-6650-6d0c-bb65d2daa229
* Version Independent ID: 2a1d3487-

[2019-11-25 10:17] kspoojary opened #43467 "Cannot use same subnet for VM and APIM"
This document states that we should create a VM in the same subnet in which APIM is deployed, but in the APIM virtual networks setting if we use the same subnet it give error.  Subnet  is in use by other resource and cannot be updated with resource navigation links for external resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-11-25 10:23] mukulgit123 commented on #29780
1.I am seeing the node in ready state.
2.Microsoft.ContainerInstance is already registered.

    "id": "/subscriptions//providers/Microsoft.ContainerInstance",
    "namespace": "Microsoft.ContainerInstance",
    "registrationState": "Registered",

3. Still gettting the same error.

Error from server (InternalError): Internal error occurred: error getting container logs?): api call to https://manag

[2019-11-25 10:23] SadiqhAhmed-MSFT commented on #43453
@zrahui Thanks for the feedback. Could you please share the screenshot that shows information about appliance only supports WS 2016+/OS ver=10.0+ ?

@rayne-wiselman FYI.

[2019-11-25 10:27] pvrk commented on #41780
Ok. I am closing this since the workaround is given. We put a plan in motion to update the role-definitions and working with the relevant teams. Please feel free to re-open this issue if things don't work after the workaround is applied.

[2019-11-25 10:27] pvrk commented on #41780
#please-close

[2019-11-25 10:27] #41780 closed

[2019-11-25 10:33] SadiqhAhmed-MSFT commented on #43270
@VOVELEE Any update on this?

[2019-11-25 11:10] romankiss opened #43468 "Event Domain doesn't support a CloudEvents v 1.0"
Consuming a CloudEvents by the AEG event domain endpoint failed at the _**source**_ attribute.

For example:

    [
      {
        "id":"00000000-0000-0000-0000-000000000000",
        "source":"https://my-source.azerwebsites.net/",
        "specversion":"1.0",
        "type":"recordInserted",
        "dataschema":"#1.0",
        "subject":"/myapp/vehicles/motorcycles",
        "time":"2019-11-23T

[2019-11-25 11:18] sopelt commented on #42937
@mike-urnun-msft could you please try to get information on if this use-case will be supported in the future and possibly improve the documentation by adding this restriction?

I checked and this scenario seems to be unsupported via ARM/Powershell right now so I am not sure what you mean with your link to the APIM DevOps Resource Kit.

[code]

This having to recreate the whole APIM environment def

[2019-11-25 11:23] rob-sys opened #43469 "Securing Private Link NiC with NSG"
Is there a way to attach NSG to the Private Link Network Interface to secure it? Storage Account firewall seems to be ignored when using a private link even if I disallow all networks to connect - I'm still able to connect to blob storage via private IP. Adding NSG to NIC fails with the message: Error: The location property is required for this definition. It seems that Private Link NSG is not att

[2019-11-25 11:34] skagrawal10 opened #43470 "REST Linked Service use Incremental Data Load"
Hi,

We need to fetch data from Rest API in incremental fashion and sink to SQL Server. We are able to access data from Rest Linked Service. But, I am facing issue in making it incremental. I have ID as parameter which I can pass in API URL, but, I am not sure, how to take this dynamic paramter from Sink Data Source.

Thanks

[2019-11-25 11:38] NguyenGiangTruong commented on #43454
In short, you could create your SAS key following this: This case you should have visual studio code.
https://github.com/Microsoft/vscode-azure-iot-toolkit/wiki/Generate-SAS-Token-for-IoT-Hub?fbclid=IwAR0-s-rK0Vu_YSWFAeiBpPkvIctHQD3ZkQI_vahNlfZTebnJDCArbOaeygM

Also, there are SDK for different languages for generating SAS key you could find on their repo.

After that, add a header value with key

[2019-11-25 11:39] msrini-MSFT commented on #43469
@rob-sys , NSG to the Private endpoint is not supported. Try restricting access to the private endpoint in the source.

Reference: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#limitations

[2019-11-25 11:44] krowlandson opened #43471 "Pre-requisites for enabling Azure AD login on existing machine"
Firstly, thank you for this great feature... I'm looking forward to seeing how this evolves along with Just-in-Time VM Access.

When enabling Azure AD login on an existing VM, I recieved the following error:

After following the troubleshooting provided in this article, I found that the VM didn't have a "Valid Tenant ID associated with the Azure Subscription". To ensure this works, you must ensure

[2019-11-25 11:51] cocowalla commented on #42232
Any update on this? The pricing is really confusing - do we have to pay a base price for an EP1 instance and _also_ pay per-second billing according to [here](https://azure.microsoft.com/en-us/pricing/details/functions/)? And what of the Preview discount?

Furthermore, the [pricing calculator](https://azure.microsoft.com/en-us/pricing/calculator/?service=functions) doesn't include the Premium tier

[2019-11-25 12:02] Jayesh040 opened #43472 "Can I merge multiple tables of Azure SQL DB in CDS to create single PowerApp ?"
I am trying to create single entity in PowerApps by importing Single Azure SQL Database with multiple tables.

Few tables have relationship with other tables in that Azure SQL Database which leads to error.

To sum-up can I copy my Azure SQL Database to PowerApps as an entity or create create relationship between multiple entity and create single App with multiple datasource(.i.e. Multiple Entitie

[2019-11-25 12:06] jakaruna-MSFT commented on #29780
@mukulgit123

give kubectl get pods --all-namespcaes

There will be two pods(one for windows and one for linux) deployed for virtual nodes.

Look st the logs of those pods. They will have more error information.

[2019-11-25 12:08] rob-sys commented on #43469
Thank you for a quick reply.

[2019-11-25 12:08] #43469 closed

[2019-11-25 12:08] mukulgit123 commented on #29780
The log I provided is the log which I pulled from my pods. None of them are getting scheduled. All my deployments are linux based and run absolutely fine when I use virtual machines.

Error from server (InternalError): Internal error occurred: error getting container logs?): api call to https://management.azure.com/subscriptions/*/resourceGroups/MC_myaci765-dev-rg_myaci765-dev-aks_westus/providers

[2019-11-25 12:20] SadiqhAhmed-MSFT commented on #43327
Duplicate of #43326

[2019-11-25 12:20] #43327 closed

[2019-11-25 12:26] jakaruna-MSFT commented on #43356
@maaaaagda Looks like the extension is not installed properly.
Can you check the status of the custom script extension and share here

You can also describe the  vm in the CLi and look for the extension status.

[2019-11-25 12:29] algattik commented on #43431
I expect we have higher standards than just publishing code that happens to work but requires research to follow adequate practices...

[2019-11-25 12:31] jakaruna-MSFT commented on #43436
@geirivarjerstad 15 char is the max limit for windows vms only.
For linux vms max limit is 64 characters

[2019-11-25 12:36] kmoussa commented on #40300
Hi @MicahMcKittrick-MSFT , I just tried the same tutorial and it's till not updated and I get the same issues when i try to run the privileged and unprivileged pods?
when i run `kubectl-nonadminuser apply -f nginx-privileged.yaml` it should return to me this error "

 instead this is what i get which indicates that It can't relate to which security policy I'm violating?