[2019-12-03 21:25] chschrae commented on #43833
Hi @deloittecanada123 - Thanks for bringing up this issue. There was a segment in the code that was put there in the past for a workaround that is no longer required. The workaround caused the null exception bug. We have updated the Direct Line Speech Client repo with the proper change and you should no longer see the exception.

As for the wake word not working. Try making sure you have reconnect

[2019-12-03 21:26] Shobhit29 opened #43993 "Getting Error: Error detecting index schema from data source: "Could not build a prototype index because datasource 'XXX' returned no data.""
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-03 21:28] stephbaron commented on #43992
Actually, those can be removed, I'll make a note to update the doc. In general, though, containsAny is used to do a value match on a property that is an array.

[2019-12-03 21:31] Shobhit29 opened #43994 "Getting Error: Error detecting index schema from data source: "Could not build a prototype index because datasource 'XXX' returned no data.""
I am using Cognitive search service of Azure. I have TSV file (tab delimited text) of 550 MB in Azure Blob Storage.

I am importing this 550 MB file for indexing from Azure Blob Storage in the search service, and I am getting error as below.
`
Error detecting index schema from data source: "Could not build a prototype index because datasource 'XXX' returned no data."`

The fact that small file of

[2019-12-03 21:39] grlima commented on #43987
The IP’s below are part of the following ranges, which are indeed documented here:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-addresses#availability-tests

France: 20.40.129.48/28
North Europe: 52.158.28.80/28
West Europe: 51.144.56.96/28

[2019-12-03 21:42] MonikaReddy-MSFT commented on #43987
@CeciAc , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-03 21:42] bdschaap commented on #43992
Thank you.  I saw the value match on an array mentioned but it threw me off when I saw it used in conjunction with "equals".

[2019-12-03 21:42] koolkarni opened #43995 "How to List file Share in the account ?"
How can I use this command in python

az storage share list --account-name [acc-name]

[2019-12-03 21:45] MicahMcKittrick-MSFT commented on #43995
@koolkarni Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-03 21:46] MicahMcKittrick-MSFT commented on #43993
Duplicate of #43994

[2019-12-03 21:46] #43993 closed

[2019-12-03 21:46] roygara commented on #43038
@CyclopsHelpdesk Thanks for reaching out, this isn't a documentation issue though. ZRS wouldn't have impacted this scenario, if you'd like support on why it didn't work I'd suggest reaching out to the MSDN forums or StackOverflow, as @Alberto-Vega-MSFT advised.

@SumanthMarigowda-MSFT FYI.

[2019-12-03 21:46] avidiyal commented on #43379
Hi, any update on the latest helm instructions? We did try updating the helm to latest version and updated some of the commands but still it is giving us error. We suspect this may be due to helm charts not being up to date."https://edgek8s.blob.core.windows.net/helm/"

[2019-12-03 21:46] MicahMcKittrick-MSFT commented on #43994
@Shobhit29 Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-03 21:49] JimacoMS3 commented on #40189
Hi @NextTurn -- the links you pointed out have been updated. One more thing is that, in some of the topics, you may be able to install the IoT Hub V1 service client (azure-iothub-service-client) with Pip on macOS and Linux assuming that your system meets the requirements in the V1 [Python Pip package distribution table](https://github.com/Azure/azure-iot-sdk-python/blob/v1-deprecated/doc/python-de

[2019-12-03 21:54] tfitzmac commented on #42431
@spottedmahn - you can just add the resource to the dependsOn array. If it is not deployed, it will be automatically removed from the dependency graph. However, if you are using reference or list functions that point to the conditionally deployed resource, you will need to wrap the expression in an if function.

[2019-12-03 22:01] kgremban commented on #43954
@vslepakov I opened a pull request to add references to MQTT over WebSockets and AMQP over WebSockets inline. Since this is a straightforward update, I'll have GitHub resolve this issue once the pull request is merged. If you have any follow-up comments or concerns, feel free to post on this thread again and we can reopen the issue.

Thanks!

[2019-12-03 22:02] #43954 closed

[2019-12-03 22:03] tamram commented on #42652
@FuntimeMS @kpball - Thanks for pointing out this issue. There were breaking changes between the preview and release versions of the Azure Storage client library for .NET. I've updated the sample code so that it works. I've also removed the preview moniker from the client libraries.

These changes should go live in the next couple of hours.

[2019-12-03 22:05] kgremban commented on #43379
@veyalla Would you take a look at this issue?

[2019-12-03 22:14] etesor opened #43998 "Got error 'NoneType' object has no attribute 'upper' using az webapp up"
Everytime I tried to create my webapp using the steps mentioned in this guide, I receive the prior error. Tried it with the Dotnet  example and neither that worked.
Since I'm using the same code, I think the error is in the CLI itself. Any solution about this issue?
Command: az webapp up --sku F1 -n etesor-pythonexampleapp -l southcentral -g ArturoLab
Output:
webapp etesor-pythonexampleapp doesn't

[2019-12-03 22:15] v-gamaar opened #43999 "ARM Template showed is deprecated"
The ARM template showed to create a web test with an alert rule integrated is deprecated, the alert created used this ARM template is for a classic alert that is not longer working, the correct ARM template is:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-templates#template-for-a-availability-test-along-with-availability-test-alert

This old information is cau

[2019-12-03 22:22] adetayorabiu commented on #43899
Hi @MartinJaffer-MSFT Thanks for the feedback. The above is what we have currently. Our factory was created with visual authoring tool also, with code versioning and CI/CD enabled. The generated event trigger resource above creates a event subscription with default parameters as explained in the original post.

Looking forward to the feedbacks from your consultations.

[2019-12-03 22:28] Mike-Ubezzi-MSFT commented on #43641
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-03 22:28] #43641 closed

[2019-12-03 22:38] poochwashere commented on #43681
Thank you @rachel-msft . Do you know if it will be an available offering again in the future?

[2019-12-03 22:42] rachel-msft commented on #43681
@poochwashere, yes we do expect it to become available again. Unfortunately I'm not able to give a date.

[2019-12-03 22:49] ogarules opened #44000 "How many tps with the recommended settings?"
How many tps with the recommended settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac742a64-1e66-4c89-6de5-67c7e818f9cc
* Version Independent ID: 29714c95-3e4c-f153-0a6f-598a736b4564
* Content: [Install Speech containers - Speech Service - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cogniti

[2019-12-03 22:55] dcbrown16 opened #44001 "ToC check"
Is this doc still supposed to be in the ToC?
Neither of these links to this doc are showing in a ToC.
https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications
https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications?toc=/azure/virtual-machines/windows/toc.json&bc=/azure/virtual-machines/windows/breadcrumb/toc.json

It is a similar topic but differe

[2019-12-03 23:02] JimacoMS3 commented on #41905
damiandiaz76 Thanks for pointing this out. I see the same result. I'll update the topic.

-Jimaco

[2019-12-03 23:08] dcbrown16 commented on #44001
Looks like it's supposed to be the "Overview" link under (VMs) > How-to guides > Platform maintenance > Overview.

[2019-12-03 23:31] mumian commented on #43677
@petertuton - thanks for the comment.  A PR has been created to address the issue.  The PR will go live tomorrow.

#please-close

[2019-12-03 23:31] #43677 closed

[2019-12-03 23:31] tamram commented on #42652
The article updates are now live.

#please-close

[2019-12-03 23:31] #42652 closed

[2019-12-03 23:32] mumian commented on #40222
@bubbletroubles - it is not my area.

[2019-12-03 23:39] aapfau commented on #15419
I had the same issue and the reply URL needed to be https://TENANT.b2clogin.com/00000000-0000-0000-000000000000/oauth2/authresp where the 0s are replaced with the tenant guid
I tried the ones above without success.

[2019-12-03 23:41] tfitzmac commented on #42431
I have added this clarification to the [dependsOn](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-define-dependencies) article and the [conditional](https://docs.microsoft.com/en-us/azure/azure-resource-manager/conditional-resource-deployment) article. The change should get published tomorrow morning.

[2019-12-03 23:41] tfitzmac commented on #42431
#please-close

[2019-12-03 23:41] #42431 closed

[2019-12-03 23:46] spottedmahn commented on #42431
thanks 🤝

[2019-12-03 23:47] tamram commented on #43579
@murdockcrc - Thanks so much for offering this improvement.

I've made the change to the script, and the article updates should go live in the next day or so.

#please-close

[2019-12-03 23:47] #43579 closed

[2019-12-04 00:00] femsulu commented on #43992
@stephbaron - closing this thread assuming you have this in your backlog.
@bdschaap - don't hesitate to ping if you have any followup questions.

[2019-12-04 00:00] #43992 closed

[2019-12-04 00:03] teresayao commented on #37221
Supported methods for frontendpoints:
https://docs.microsoft.com/en-us/rest/api/frontdoorservice/frontdoor/frontendendpoints

[2019-12-04 00:03] teresayao commented on #37221
#sign-off

[2019-12-04 00:09] mamccrea commented on #43971
Hi @ryan-daly-AgFCS! This feature is still in private preview. Please contact your Technical Account Manager about getting access to the preview. We will be removing this article until the feature becomes public. I apologize for the inconvenience.

#please-close

[2019-12-04 00:09] #43971 closed

[2019-12-04 00:10] teresayao commented on #37221
since doc is already updated, I added a comment and #sign-off to close the thread. should we contact the person first?

________________________________
From: Kumud Dwivedi <notifications@github.com>
Sent: Thursday, November 14, 2019 10:38 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Teresa Yao <teresa_yao@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2019-12-04 00:18] Grace-MacJones-MSFT commented on #43036
Hi Sam, apologies for the delay in response. I am not sure if i fully understand your feedback. Are you referring to this statement in this section in this documentation:

"For ASP.NET and ASP.NET Core developers, setting connection strings in App Service are like setting them in <connectionStrings> in Web.config, but the values you set in App Service override the ones in Web.config."

[2019-12-04 00:20] veyalla commented on #43379
The current charts are only compatible with Helm 2.

We'll be releasing updated charts with support for Helm 3 soon. If you need use this with Helm 3 urgently, please send me a mail at veyalla@microsoft.com, I will try to help you get unblocked.

[2019-12-04 00:20] MicrosoftGuyJFlo commented on #43521
Fixed in private PR that should publish overnight.

[2019-12-04 00:22] bragi92 commented on #33129
Hi @am11 Did you try following the instructions mentioned here : https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-livedata-setup#configure-ad-integrated-authentication

Is it still not working when you have https://monitoring.hosting.portal.azure.net/monitoring/Content/iframe/infrainsights.app/web/base-libs/auth/auth.html added as a base URL?

[2019-12-04 00:22] javerdej opened #44002 "Consider a deployment guide for Linux"
Based on customer feedback, this may be a suitable location for a recommended deployment method for configuring Linux browsers for a Seamless SSO environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67c426-39ff-8646-139d-51cd5e9fe44e
* Content: [Az

[2019-12-04 00:34] #43521 closed

[2019-12-04 00:38] Grace-MacJones-MSFT commented on #43214
Hi @BernardoMB, what language would you like to use? have you tried using the node.js examples here: https://github.com/Azure-Samples/media-services-v3-node-tutorials/tree/master/AMSv3Samples

[2019-12-04 00:59] KranthiPakala-MSFT commented on #43985
@mhansma Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2019-12-04 01:00] mamccrea commented on #43639
I apologize for the delay. TwitterWPF is being replaced with [TwitterClientCore](https://github.com/Azure/azure-stream-analytics/tree/master/DataGenerators/TwitterClientCore). I'm updating the article with steps for the new app.

#in-progress

[2019-12-04 01:06] Alberto-Vega-MSFT commented on #43991
@mjtpena Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 01:08] santoshc1 commented on #43837
Hi @sondretj,
Please see the list of trusted services that have access to a protected storage account: https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#trusted-microsoft-services.

You will need an IP or VNet rule that explicitly allows access to your hosted agent on the Ubuntu client. Does the client have a public IP and is that IP among the access rules configured o

[2019-12-04 01:08] MarileeTurscak-MSFT commented on #44002
@javerdej
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 01:08] imeya opened #44005 "Please help confirm the minimum number of partitions at creation."
In this doc "https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-scalability#partitions", it says that "The number of partitions is specified at creation and must be between 2 and 32.", from this, if I understand correctly, it means the minimum number of partitions is 2.  But when I create a standard tier event hub from azure portal, I can only specify 1 partition, and it can be created s

[2019-12-04 01:09] KranthiPakala-MSFT commented on #43911
@xiaoyvr This might be happening because of the way file is being written to storage, once the file is created with size zero and then it is updated with actual size. If you want to ignore the size zero update, please use the feature "Ignore empty blobs" as yes. This will not cause two events for any files which update with zero byte size first. ADF does not have control on how files are written t

[2019-12-04 01:10] SamaraSoucy-MSFT commented on #43999
@v-gamaar thank you for the feedback. I've assigned this to the doc author to update.

[2019-12-04 01:19] MicahMcKittrick-MSFT commented on #37221
@hansmbakker to close a thread you use #please-close

:)

[2019-12-04 01:19] #37221 closed

[2019-12-04 01:23] MicahMcKittrick-MSFT commented on #40222
#reassign: @stevendotwang

[2019-12-04 01:23] PRMerger12 commented on #40222
stevendotwang is not a valid GitHub ID, or is not a collaborator on this repo.

[2019-12-04 01:25] MicahMcKittrick-MSFT commented on #40222
@femsulu looks like @stevendotwang is not part of this repo and cannot be assigned issues.

[2019-12-04 02:17] femsulu commented on #43988
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-04 02:17] femsulu commented on #43973
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-04 02:18] femsulu commented on #43967
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-04 02:38] likebupt commented on #38117
@ravikiran-srini
Thanks for your question.
Entropy MDL method will return a bin number which minimize the entropy. If the number set by user is smaller than the number returned by the algorithm, then the module will pick the user's option; If the number set by user is bigger, the module will use the algorithm's result.
MDL means minimum description length.

[2019-12-04 02:41] KrishnaG-MSFT commented on #43983
@philiplai Glad to know that you have self resolved and closed the issue. Thanks for the update.

[2019-12-04 02:48] taminta opened #44009 "It's helpful to add info / how to do purge for AFD"
According to Cache page for Azure Front Door, there is information about purge. However there is no information how to do Purge.
<https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching#cache-purge>

As my confirmation, There is no UI to purge of AFD on Azure Portal. But PowerShell Command is acceptable for Purge of AFD.  So that please add below link which can customer follow how to p

[2019-12-04 02:50] dcbrown16 opened #44010 "30 TB or 32 TB?"
The initial announcement for support of larger sizes was for 30 TB, as listed above.
https://azure.microsoft.com/en-us/updates/azure-backup-large-disk-preview/
However, the support matrix was updated by @dcurwin in October to say 32 TB.
"Individual disk size can be up to 32 TB and a maximum of 256 TB combined for all disks in a VM."
https://docs.microsoft.com/en-us/azure/backup/backup-support-matr

[2019-12-04 02:54] SnehaAgrawal-MSFT commented on #43998
@etesor Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 02:59] JS2598 opened #44013 "VDI and Citrix scenarios with FIDO2"
Hi there, the doc states "RDP, VDI, and Citrix scenarios are not supported using security key." but that's not true.  I have written about using FIDO2 and AAD to launch virtual desktops and do it every day for work.  At the end of the day, VDI and Citrix are just webified Windows 10, it behaves as a SaaS app essentially.  I have some screenshots of how it works documented here:  https://www.jasons

[2019-12-04 03:00] neeleshray-msft commented on #43982
@Tiberriver256  Thank you for the query. We will review and update accordingly.

[2019-12-04 03:02] neeleshray-msft commented on #44013
@JS2598  Thank you for the query. We will review and update accordingly.

[2019-12-04 03:06] AshokPeddakotla-MSFT commented on #43970
@Marqis Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 03:07] AshokPeddakotla-MSFT commented on #43975
@UniSnake Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 03:08] AshokPeddakotla-MSFT commented on #43978
@TheFrogPrince Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 03:20] bvirkler opened #44014 "tracking vs tracing"
Under host.json schema traces this article mentions `"tracking" for tracking and logging configuration.`; however, there's no tracking in the schema that I can see, although there is a tracing section.  Is that what is being referred to?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81f6150a-622b-e616-2c1e-af813c02fc9

[2019-12-04 03:39] DixitArora-MSFT commented on #44014
Hi @bvirkler Thanks for your feedback. We will review and update as appropriate.

[2019-12-04 03:50] aakash-shah opened #44015 "AADP1 vs AADP2 Feature Comparison"
Please provide clarity showing what reports are available with "Azure AD Premium P1 edition" and "Azure AD Premium P2 edition".  For instance, is "Users with leaked credentials" included in AADP1?  What specific attributes are not included for "Users with leaked credentials" with AADP1?  A matrix/table would be helpful for this.

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-12-04 03:59] LevisAllanon commented on #39347
This seemed to work untill (I think) yesterday. Now when I try this the Process-SourceControlWebhook runbook starts but I get an output like this:

`Getting Azure Connection information

Getting the source control information

SourceControl Properties : [RepoUrl = https://XXXX.visualstudio.com/XXXX/_git/Azure-Control] ,[Branch = Control-TEST] , [FolderPath = /Automation_Runbooks/]

UrlConnectionIn

[2019-12-04 04:00] timsander1 commented on #43756
Hi @CeciAc and @mhabibal13, thank you for this feedback. It can probably be generalized to other system functions (not just StartsWith) so I will work to better document this. Thanks!

[2019-12-04 04:05] aakash-shah opened #44016 "Clarify Attributes Checked For "Users with leaked credentials""
The article states:

Please clarify on this page whether the "Users with leaked credentials" module checks for primary and alternate email addresses too where the UPN does _not_ match the primary SMTP?  Please clarify this page to help answer questions about the scenarios below:

1. Primary SMTP does not match UPN.
_Scenario_: Primary SMTP is username@domain.com, but the UPN is username@**ad.**dom

[2019-12-04 04:10] timsander1 commented on #43952
Thanks @jpcrs! I just approved this PR so should be merged shortly.

[2019-12-04 04:11] neeleshray-msft commented on #44016
@aakash-shah  Thank you for the feedback. We will review and update accordingly.

[2019-12-04 04:12] neeleshray-msft commented on #44015
@aakash-shah Thank you for the feedback. We will review and update accordingly.

[2019-12-04 04:20] CHEEKATLAPRADEEP-MSFT commented on #43989
@flyboarder  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-04 04:20] #43989 closed

[2019-12-04 04:26] adewaleo opened #44017 "What sdk is this for?"
I am wondering if some of this documentation relates to the old [WindowsAzure.ServiceBus](https://www.nuget.org/packages/WindowsAzure.ServiceBus/5.2.0).

As the new sdk [Microsoft.Azure.EventHubs](https://www.nuget.org/packages/Microsoft.Azure.EventHubs/) does not depend on servicebus, yet this doc mentions various servicebus exceptions.

It would also be good to have some documentation on the eve

[2019-12-04 04:28] Veena-A commented on #43951
I tried configuring blob trigger function inside ADF but getting error as attached, tried changing configurations but still couldnt be able to achieve. where as my function(in Java) is working fine without ADF. And also why to give Method when we are using blob trigger(while configuring linked service).
![image](https://user-images.githubusercontent.com/11402200/70112814-a5b3c800-167c-11ea-8657-98

[2019-12-04 04:30] neeleshray-msft commented on #43925
@limjianan  These Baseline Policies are available in Preview as of today. Suggest you to clarify.

![CA Baseline Policies](https://user-images.githubusercontent.com/52521788/70112852-d562d000-167c-11ea-8116-ae878dada0af.JPG)

[2019-12-04 04:31] neeleshray-msft commented on #43936
@memildin Could this be clarified ?

[2019-12-04 04:31] ramdsec opened #44018 "Number of Billable Nodes quey error"
For the number of billable nodes, the below query is given in the document. But, it is giving syntax error
union withsource = tt *
| where _IsBillable == true
| extend computerName = tolower(tostring(split(Computer, '.')[0]))
| where computerName != ""
| billableNodes=dcount(computerName)
=========================
The correct query is below
union withsource = tt *
| where _IsBillable == true
| ext

[2019-12-04 04:40] AshokPeddakotla-MSFT commented on #44000
@ogarules Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 04:42] RohitMungi-MSFT commented on #43819
@lollasravani We will go ahead and close this issue as it looks like a config issue rather than a document issue. Please try to correct the same and let us know if it works. Thanks!!

[2019-12-04 04:42] #43819 closed

[2019-12-04 04:43] #43945 closed

[2019-12-04 04:43] SumanthMarigowda-MSFT commented on #43736
@chris-han PR request has been raised.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-04 04:43] #43736 closed

[2019-12-04 04:45] SadiqhAhmed-MSFT commented on #44010
@dcbrown16 Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@dcurwin FYI.

[2019-12-04 04:58] neeleshray-msft commented on #44015
@aakash-shah

All editions of Azure AD provide you with risky sign-ins reports. However, the level of report granularity varies between the editions:

- In the Azure Active Directory Free and Basic editions, you get a list of risky sign-ins.

- In addition, the Azure Active Directory Premium 1 edition allows you to examine some of the underlying risk detections that have been detected for each rep

[2019-12-04 04:59] Balakrishna625 commented on #43947
@iocuydi  when you create an Azure Container Instance,  under the settings section, you can find **containers** tab, if you click on that tab, there you can find an option called **connect** . if you click on that you can connect to your ACI, where your source code of application is present, there you can run your Docker commands or any other commands you want. (the working directory which you wil

[2019-12-04 05:02] KlutzyBubbles opened #44019 "I like hot, but this time not"
First sentence is 'You can hot' instead of 'You can not'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8c8392-0eb4-cda5-c282-0656869b7a6b
* Version Independent ID: 5d4d2a61-9d83-a09e-2c33-36465a04e5c5
* Content: [Detach a data disk from a Windows VM - Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/wi

[2019-12-04 05:03] #44019 closed

[2019-12-04 05:04] RohitMungi-MSFT commented on #43957
@vinod1976 Thanks for the link, The link seems to be from the Microsoft learn site and any issues related to this course can be submitted to the team using the reporting an issue link at the bottom of that page.

![image](https://user-images.githubusercontent.com/46958063/70114182-8f5c3b00-1681-11ea-9dcc-e3b0cfd0ea63.png)

We would recommend to raise an issue directly from learn site for faster re

[2019-12-04 05:04] neeleshray-msft commented on #43854
@swiftPeter  You need to verify the secondary domain in your tenant first. Then the ADFS needs to be configured and you need to add a different IssuerUri, which can be done by using the `-SupportMultipleDomain` parameter.

Once, these are done only then you would find the option to "Add an Additional Domain" in the Azure AD Connect Wizard.

[2019-12-04 05:04] jakaruna-MSFT commented on #43868
Got the reply from product team:

Teams is not supported yet.
Product team is posting the roadmap here  https://aka.ms/wvdroadmap

We can track them from the above URL.

[2019-12-04 05:05] SadiqhAhmed-MSFT commented on #39307
@mumami & @bandersmsft FYI.

[2019-12-04 05:06] mumami commented on #39307
@Raphy-Directs<mailto:raphydirects@microsoft.com>  please help here

W-r
Murali
________________________________
From: SadiqhAhmed-MSFT <notifications@github.com>
Sent: Tuesday, December 3, 2019 9:05:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Muralidhar Mamidanna <mumami@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] 401 Aut

[2019-12-04 05:09] Sogup commented on #44010
@dcurwin Can we please update the docs and say 32TB disk support is now Generally available.

[2019-12-04 05:14] jakaruna-MSFT commented on #44019
"hot remove" is valid in that sentence. Author is trying to specify removing a disk while it is attached to Running VM instead of Stopped VM.

[2019-12-04 05:22] souravmishra-msft commented on #44013
@MicrosoftGuyJFlo, Just checking if you can verify this and update the doc accordingly.

[2019-12-04 05:26] algattik opened #44020 "tileSize is irrelevant in PositionToTileXY"
(edited)
tileSize should be removed as a parameter in PositionToTileXY. In most cases it does not affect the result. In some cases it changes the tile number by one, but this seems to be more of an artifact of rounding in the computation formulas.
[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5e829b4-ffb5-9a4c

[2019-12-04 05:38] SubhashVasarapu-MSFT commented on #43496
@Iwifia , We have assigned this issue to the content author for updating the document accordingly. @anzaman , Could you please provide your insights on this ?

[2019-12-04 05:38] dimazoin opened #44021 "How to reset MFA if I lost device and I'am the only one admin in my organization?"
I did not setup any alternative authorization ways. No backups of Microsoft Authentication account. Please help. I want to disable MFA with Microsoft Authentication but I can't.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 276c38fe-aa72-6afa-23d8-14ff206c6f50
* Version Independent ID: 9ffe59dd-c667-4802-1da0-69176388

[2019-12-04 05:44] mumami commented on #39307
@Prashant<mailto:prkumar@microsoft.com>

Michael Flanakin / mobile

________________________________
From: Muralidhar Mamidanna <mumami@microsoft.com>
Sent: Tuesday, December 3, 2019 9:06:00 PM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; Raphy-Directs <raphydirects@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject:

[2019-12-04 05:45] AshokPeddakotla-MSFT commented on #44018
@ramdsec Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-04 05:46] SubhashVasarapu-MSFT commented on #43856
@yuharucan , Appreciate your patience.Azure services deployed into your virtual network, such as Azure Batch, access other Azure services, such as Azure Storage, for infrastructure requirements. Restricting endpoint policy to specific resources could break access to these infrastructure resources for the Azure services deployed in your virtual network.So, please ensure endpoint policies are not ap

[2019-12-04 06:04] tkumark commented on #42700
@amenarde sorry to trouble you but were you able to get any information on this?

[2019-12-04 06:06] taniawjhb commented on #43890
I found that if  changed the Git Provider from Azure DevOps Services to another option and then back again the Save button became active.

[2019-12-04 06:09] jakaruna-MSFT commented on #44001
@dcbrown16 Thanks for the feedback. We will route this ask accordingly

[2019-12-04 06:16] SumanthMarigowda-MSFT commented on #43038
@CyclopsHelpdesk Apologies for the delay! I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussi

[2019-12-04 06:16] #43038 closed

[2019-12-04 06:21] ManojReddy-MSFT commented on #44021
@dimazoin If you are the only admin in your tenant, you would have to contact the data protection team either through support or directly over the phone at 1-866-807-5850 Monday to Friday between 5 AM - 5 PM Pacific time.

They will either promote another eligible account as the admin or disable MFA for your account after validating your identity.

As a best practice, we always recommend having mo

[2019-12-04 06:24] DixitArora-MSFT commented on #43844
@brijesh1ec This channel is for driving improvements towards MS Docs, for any product related question/issue I would recommend you to create a thread on the forums- MSDN / Stackoverflow. Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2019-12-04 06:24] #43844 closed

[2019-12-04 06:28] limjianan commented on #43925
[image: image.png]

This is what i see on my portal and it says baseline protection policies
are a legacy experience which is being deprecated.

On Wed, Dec 4, 2019 at 3:30 PM neeleshray-msft <notifications@github.com>
wrote:

[2019-12-04 06:29] limjianan commented on #43925
<img width="828" alt="cond1" src="https://user-images.githubusercontent.com/20926131/70118216-8d16d280-16bb-11ea-8c12-41f23902c1e5.png">
I upload the photo again.

[2019-12-04 06:34] ChiragMishra-MSFT commented on #43708
@eerik47 Since I haven't heard back from you in quite some time, I am assuming that your query was resolved.

I will proceed to close this thread. Feel free to still comment and tag me if you have any questions on the same.

[2019-12-04 06:36] ChiragMishra-MSFT commented on #43951
@Veena-A  Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better suited

[2019-12-04 06:36] #43951 closed

[2019-12-04 06:37] ChiragMishra-MSFT commented on #43812
@subashsivaji Since we haven't heard from you in quite some time, I am assuming that your query was resolved.

I will now proceed to close this issue. Feel free to still comment if you have any questions on the same.

[2019-12-04 06:37] #43812 closed

[2019-12-04 06:38] VikasPullagura-MSFT commented on #43962
@guibirow I will have the relevant team add comments on the token cached validity.

[2019-12-04 06:39] ChiragMishra-MSFT commented on #43978
@TheFrogPrince Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better s

[2019-12-04 06:40] VikasPullagura-MSFT commented on #43962
@MicrosoftDocs/aks-pm Please add your comments on the cached token validity.

[2019-12-04 06:42] ChiragMishra-MSFT commented on #44017
@adewaleo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 06:43] ChiragMishra-MSFT commented on #44005
@imeya Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 06:44] iocuydi commented on #43947
@Balakrishna625 When I try running docker commands inside the instance, I get "failed to dial gRPC: cannot connect to the Docker daemon. Is 'docker daemon' running on the host?: dial tcp: lookup docker on xxxxx no such host"
It seems as though I can't access docker properly from inside the container

[2019-12-04 06:49] Balakrishna625 commented on #43947
@iocuydi  **docker systemctl start docker** can you run this command once and try your docker commands again?

[2019-12-04 06:50] AllenVisser opened #44022 "Deprecated instructions"
please update.
Step 2.2 is no longer export.
its now Azure Monitor &gt; activity log &gt; Diagnostic settings &gt;
which means you need to amend steps 2.3 and 2.4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b70bc73-e0ce-a558-bf66-c02577859f3e
* Version Independent ID: 1d80eb59-7698-8faa-e514-cac47eca799b
* Content

[2019-12-04 06:57] huajunzhao opened #44023 "Ingesting data failure"
It seems always failed if we run two commands in one time when ingesting data, I have to run each of them one by one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc651bb6-a359-89f1-04ca-fd1a253a3ab0
* Version Independent ID: 5b64504a-6f2d-9d26-5cc2-b9def09ebe48
* Content: [Ingest sample data into Azure Data Explorer

[2019-12-04 07:00] aakash-shah commented on #44015
@neeleshray-msft
Thanks for the prompt reply!  Unfortunately this doesn't clarify what the specific differences are.  For instance you wrote "In addition, the Azure Active Directory Premium 1 edition allows you to examine some of the underlying risk detections that have been detected for each report.".  It would be helpful for this page to clarify what "some" means, and what "most detailed informa

[2019-12-04 07:15] rajasekhar2 opened #44024 "Microsoft account authentication not working"
I am trying to enable MSA authentication to my application. I created a B2C tenant and AD authentication works well. From userflows when I try Microsoft account, below error is surfaced.

We're unable to complete your request
invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value is a URI which matches a redirect URI registered for this client a

[2019-12-04 07:19] ramdsec commented on #44018
@AshokPeddakotla-MSFT https://docs.microsoft.com/en-us/azure/azure-monitor/platform/manage-cost-storage#feedback

[2019-12-04 07:28] JuneZhao commented on #43627
@dlepow, sure resources:
        requests:
          cpu: 1
          memoryInGB: 1.5
        limits:
          cpu: 1.5
          memoryInGB: 1.5
      ports:
      - port: 80
      - port: 8080
  - name: aci-tutorial-sidecar
    properties:
      image: mcr.microsoft.com/azuredocs/aci-tutorial-sidecar
      resources:
        requests:
          cpu: 1
          memoryInGB: 1.5
        limits:

[2019-12-04 07:30] JuneZhao commented on #43627
@dlepow but below will fail resources:
        requests:
          cpu: 1
          memoryInGB: 1.5
        limits:
          cpu: 0.5
          memoryInGB: 1.5
      ports:
      - port: 80
      - port: 8080
  - name: aci-tutorial-sidecar
    properties:
      image: mcr.microsoft.com/azuredocs/aci-tutorial-sidecar
      resources:
        requests:
          cpu: 1
          memoryInGB: 1.5

[2019-12-04 07:34] v-tawe opened #44025 "`export` command works Only in Unix/Linux but not Windows"
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/quick-create-java.md#set-environmental-variables

Here `export` is not recognized as an internal or external command.
`export` is only works in Unix/Linux, in Windows we need use `set` or `setx` instead to set the environmental variables. Correct me if I am wrong. Thanks.

---
#### Document Details

⚠ *Do not edit this sect

[2019-12-04 07:36] v-tawe commented on #44025
Sorry, I missed the **Prerequisites** - *This quickstart assumes you are running Azure CLI and Apache Maven in a Linux terminal window.*
Will close this Issue.

[2019-12-04 07:36] #44025 closed

[2019-12-04 08:04] skish opened #44026 "tag for management.azure.com ?"
management.azure.com is resolved to 40.71.13.226 from "East US" vm.
this ip is missed from ranges defined in downloaded ServiceTags_Public_20191202.json
also googled "Service Tag Discovery API" links point to nothing.
How to setup strict firewall rules.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-82bb-13b5-4

[2019-12-04 08:10] mike-urnun-msft commented on #43968
@joereiss Have you considered upgrading to [functions v2 with DI pattern](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection)? You can probably create a helper class wrapping ImageResizer as a service and inject it into one of the [service lifecycles](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1#service

[2019-12-04 08:11] LTUTE opened #44027 "Resources links are broken"
Hi, the Resources section links are broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d6cc016-6c8f-81d7-3b5b-edce932294cf
* Version Independent ID: 619d6b5e-ea75-61dd-5ef4-f653f9822cb8
* Content: [Using Private Endpoints with Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-private-end

[2019-12-04 08:11] ManojReddy-MSFT commented on #43860
@sandytsang I am able to consent to applications with just the application administrator role. Can you post a screenshot of what you see in the portal with and without the GA role assigned to your user account?

[2019-12-04 08:14] DixitArora-MSFT commented on #43834
@jordanchang This is weird. There is an indirect way to reset cache by changing policy, this will force APIM to rotate cache keys and effectively invalidate cache. This will invalidate both cache entries created by cache-store/lookup and cache-store/lookup-value policies.

Alternative approach is to create an API in APIM without any backend and use cache-remove-value to clear cache, and call this

[2019-12-04 08:17] jakaruna-MSFT commented on #43947
@iocuydi is not expecting this. He wants to access docker inside ACI.

[2019-12-04 08:18] jakaruna-MSFT commented on #43947
@iocuydi I will check and let you know.
If you are running ACI from Pipelines or from any CI, You can consider using other agents like the ones suggested by you microsoft/azure-pipelines-agent#2056

[2019-12-04 08:20] ManojReddy-MSFT commented on #41409
@FunkEinstein We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-04 08:20] #41409 closed

[2019-12-04 08:20] MSSedusch commented on #43172
@rdeltcheva can you please have a look at this feedback?

[2019-12-04 08:28] DixitArora-MSFT commented on #43889
@sunnypatel To test the policy definition You can use the API management built-in console and add the “ocp-apim-trace:true” header to the operation call to enable the API inspector.

The trace location is returned in the response ocp-apim-trace-location header which can be used to download the json data to inspect the execution and then use the [online](https://json2html.com/visualizer/) json visu

[2019-12-04 08:40] amanmcse commented on #44024
@rajasekhar2 Thanks for reaching out. I am looking into it and will provide you with an update shortly.

[2019-12-04 08:44] SumanthMarigowda-MSFT commented on #44027
@LTUTE Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-04 08:46] SumanthMarigowda-MSFT commented on #43892
@lorenzobrito  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the i

[2019-12-04 08:46] #43892 closed

[2019-12-04 08:49] poonamnimje01 opened #44030 "Blobfuse fstab Entry"
Hello,
After reboot the mounting doesn't work. need to know the fstab entry for blobfuse for hard mounting.

/<path_to_blobfuse>/mount.sh </path/to/desired/mountpoint> fuse _netdev

Above one is not working.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cef87c25-d489-ed0c-c94f-c764b3fd2413
* Version Independen

[2019-12-04 08:54] AshokPeddakotla-MSFT commented on #43726
@SushrutDeo It seems like your issue is not a documentation bug or feedback. Your question might be better suited for a developer forum like [StackOverflow](https://stackoverflow.com/questions/tagged/azure-iot-hub) or [MSDN](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureiothub).

Once you post your issue on forums, it will have visibility across the community which is a bett

[2019-12-04 08:54] #43726 closed

[2019-12-04 08:56] SushrutDeo commented on #43726
Okay. Thank you.

[2019-12-04 08:57] AshokPeddakotla-MSFT commented on #44020
@algattik Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 09:01] AshokPeddakotla-MSFT commented on #44009
@taminta Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 09:05] ManojReddy-MSFT commented on #44027
@LTUTE I have updated the doc. This issue will be closed automatically when it gets merged.

[2019-12-04 09:06] #44027 closed

[2019-12-04 09:07] paddotk opened #44031 "No such link"
There is no 'Additional security verification' link/button! Why does MS always refer to non-existing features or options??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63bc4d65-6d76-5bb1-49b8-0415c76667f8
* Version Independent ID: bafb894e-abc2-b068-ee53-38c5e20d0740
* Content: [Set up your two-factor verification me

[2019-12-04 09:10] RohitMungi-MSFT commented on #43423
@vikramdadwal From the initial screen shot with table formatting does the client application fail to display the table with the saved markdown format?

For the issue with hyperlinks could you please share the content of answer that is saved in your Q&A KB? I have tried to use hyperlinks for an answer as mentioned in the [documentation](https://docs.microsoft.com/en-us/azure/cognitive-services/qnam

[2019-12-04 09:10] neeleshray-msft commented on #44031
@paddotk  Thank you for the feedback. We will review and update accordingly.

[2019-12-04 09:16] ManojReddy-MSFT commented on #43710
@booyaa I understand your concern about the limitation. This is the reason we explicitly recommend comparing the various pricing tiers available before deploying.

This tutorial is meant purely for testing. During testing, users want something which deploys quickly and that's the reason Standard Akamai was used. If you are testing a real-time scenario, you have to pick a pricing tier that offers t

[2019-12-04 09:22] neeleshray-msft commented on #44031
@paddotk

The "**_Additional Security Verification_**" is **NOT** a link or button. It is the page that comes after you select NEXT on the prompt that you have to setup More Information.

![Enforce MFA 1](https://user-images.githubusercontent.com/52521788/70129863-854c3380-16a5-11ea-8b67-73a6b9bfb3fa.JPG)

![Enforce MFA 2](https://user-images.githubusercontent.com/52521788/70129890-8b421480-16a5-1

[2019-12-04 09:24] amanmcse commented on #44024
@rajasekhar2
If you have configured `https://<your_tenant>.b2clogin.com/<your_tenant>.onmicrosoft.com/oauth2/authresp` as the reply url on the application that you have registered for MSA, make sure your request is using `<your_tenant>.b2clogin.com` domain and not `login.onmicrosoft.com` domain. Please try to perform below steps selecting `<your_tenant>.b2clogin.com` domain, notice the Run user fl

[2019-12-04 09:24] mjtpena opened #44032 "These images have magnifiers"
The following images have magnifiers:

https://docs.microsoft.com/en-us/azure/blockchain/service/media/data-manager-cosmosdb/event-grid-trigger.png

https://docs.microsoft.com/en-us/azure/blockchain/service/media/data-manager-cosmosdb/cosmosdb-connection.png

The first one has a "Parse JSON" step but it was not mentioned in the steps.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-12-04 09:32] mjtpena opened #44033 "Wrong Instructions on CosmosDB Container ID"
The instruction said to use "Container ID	Enter Messages as the name for your new container."
But in the image, it is "transactions"

https://docs.microsoft.com/en-us/azure/blockchain/service/media/data-manager-cosmosdb/add-container.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae06a4f1-6209-0f7e-ad17-26a57b5a3e3

[2019-12-04 09:33] pospanet opened #44034 "Code for CreateHostBuilder (CreateWebHostBuilder) for .net core 2 & 3 using different endpoint"
Hi,
code sample for .NET Core 2 having correctly placeholder for KeyVault name. In case of /NET Core 3 there is some specific one. Reader may thing like .NET Core 3 is figuring out the proper endpoint somehow. My recommendation would be to put placeholder as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 776dc3e0

[2019-12-04 09:35] mike-urnun-msft commented on #36058
@leo4145 Sorry for the long delay in response. I've created a PR that changes the sentence to read:
"_Please note that if the empty string is provided, the parameter is still included on the back-end request._" Once the PR is merged, this issue will auto-close and the change should live shortly thereafter. If there are further questions regarding this matter, please reopen this issue and we'll gla

[2019-12-04 09:40] msrini-MSFT commented on #44026
@skish , There are no specific service tags for management.azure.com and this IP falls under Public Cloud Service tag.

Reference:  download.microsoft.com/download/7/1/D/71D86715-5596-4529-9B13-DA13A5DE5B63/ServiceTags_Public_20191202.json

[2019-12-04 09:41] neeleshray-msft commented on #44015
@aakash-shah

In this **[document](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-risky-sign-ins#risky-sign-ins-report-for-azure-ad-free-and-basic-edition)** you will find a break down of the details that you get in the Azure AD Free and Basic Editions and the list of details that you get with the Premium P1 and P2 editions.

Let us know if this clarifies what y

[2019-12-04 09:51] shahid-aman opened #44035 "Intro music too loud"
Intro music is too loud compared to speakers voice

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c461cd7d-8245-6bb0-59cc-29001de079c0
* Version Independent ID: 0a62ac5f-c05b-f68d-8c4b-6eef31c4db14
* Content: [Azure Management Overview - Azure Governance](https://docs.microsoft.com/en-us/azure/governance/azure-manageme

[2019-12-04 09:52] aakash-shah commented on #44015
Thanks.  Can you please clarify what detections are not covered in the following statement:

I assume that the detections in AADP1 and AADP2 are consistent for all tenants?

Unfortunately I am still unable to answer the question based on this page as to whether AADP1 will include "Users with leaked credentials", and what attributes/information will not be included with AADP1 that will be included

[2019-12-04 09:57] shahid-aman commented on #44035
wrong docs. should be on cost management page

[2019-12-04 09:57] #44035 closed

[2019-12-04 09:58] shahid-aman opened #44036 "Intro music too loud"
When using headphones, Intro music is too loud compared to speaker's voice. Watch the first video then come down and play the second video without adjusting headphone volume

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51531450-ba98-3f4a-b23a-37e057adec46
* Version Independent ID: 367098dd-dc5e-d511-516e-5a7cd1bd9769

[2019-12-04 10:05] manojagg opened #44038 "Incorrect link under More Information section"
The following link doesn't navigates to the desired page
https://cloudblogs.microsoft.com/enterprisemobility/2014/12/18/azure-active-directory-now-with-group-claims-and-application-roles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9939fc33-8762-3104-eae0-08250c508100
* Version Independent ID: 9c6fa664-df37-40aa-f46e

[2019-12-04 10:06] neeleshray-msft commented on #43925
@limjianan  We have reached out to the Engineering Team for clarification and would get back to you.

[2019-12-04 10:17] neeleshray-msft commented on #44015
@aakash-shah

The risk type event would mention "Users with leaked credentials" in both P1 and P2 editions. However the break down of which attributes would be detailed in the respective editions is the question.
We are reaching out to the Engineering Team and would get back to you soon on this.

[2019-12-04 10:29] AAGhotkar commented on #42136
I'm also having same issue. Every time when I login it redirects me to login page again. Please update if there is any quick fix for the same. This is very critical for the client delivery. Please help get quick resolution.

[2019-12-04 10:29] SychevIgor opened #44039 "Update screenshot to address that feature is in GA state, not in a preview"
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/media/generation-2/gen1-gen2-select.png
Please, update to avoid confusion!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9145de07-94e5-05bc-d00b-e05723db9163
* Version Independent ID: c5d9a3c6-6fc2-837a-8291-2f4b82550d85
* Content: [Azure support for gene

[2019-12-04 10:29] SwathiDhanwada-MSFT commented on #44022
@AllenVisser Thanks for your feedback.We will review the content and update as required.

[2019-12-04 10:32] sriman-biarca commented on #38609
I think, I fixed this running sysprep cmds. Thanks

[2019-12-04 10:35] ahaeber opened #44040 "English languages supported"
For some languages, e.g., Portuguese, it is specified what regions it supports (Brazil and Portugal). What English regions are supported?

Language (Region)	Code
English (Australia)	en-au
English (Belize)	en-bz
English (Canada)	en-ca
English (Ireland)	en-ie
English (Jamaica)	en-jm
English (New Zealand)	en-nz
English (South Africa)	en-za
English (Trinidad)	en-tt
English (United Kingdom)	en-gb
Engli

[2019-12-04 10:37] sriman-biarca commented on #43960
Don't mind, I fixed this issue. Not sure about the doc link. closing this.

[2019-12-04 10:37] #43960 closed

[2019-12-04 10:41] iocuydi commented on #43947
@Balakrishna625 I will try using systemctl, thanks. I'm currently using an alpine based docker image so it doesn't have systemctl. Looking at getting the equivalent command on alpine (or switching to ubuntu image)

@jakaruna-MSFT Thank you! I'm not using it from pipelines, I would ideally not like to have to use pipelines. ACI works really well for my use case, except for this one problem. I like

[2019-12-04 10:45] AshokPeddakotla-MSFT commented on #44030
@poonamnimje01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 10:48] AshokPeddakotla-MSFT commented on #44033
@mjtpena Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 10:48] aakash-shah commented on #44015
Thanks!  When you gather this information, it would be very helpful to have a table/matrix that shows which risk events are included with each edition, and then also another table/matrix shows what specific attributes are available for each edition.  This would help answer any questions people may have.

Thanks!

[2019-12-04 11:04] shashishailaj commented on #43791
@mariuszo-at-microsoft-com We have initiated a document update and it page must change within the next 24-48 hours. We will now close this issue. Should you still see any anomalies on the documentation related to the changes made on this page , please do tag me or the author of the document to your reply and we will update the same.

Thank you.

[2019-12-04 11:04] neeleshray-msft commented on #44038
@manojagg  Thank you for the feedback. We will review and update accordingly.

[2019-12-04 11:06] neeleshray-msft commented on #44038
@kalyankrishna1  Could this be reviewed and corrected ?

[2019-12-04 11:07] neeleshray-msft commented on #44034
@pospanet Thank you for the feedback. We will review and update accordingly.

[2019-12-04 11:19] neeleshray-msft commented on #44034
@pospanet  We have edited the document and the same should reflect after review from the document author.

We will proceed to close this thread now. Let us know if you need further help.

[2019-12-04 11:19] #44034 closed

[2019-12-04 11:26] dcurwin commented on #44010
The changes were made and merged.

#please-close

[2019-12-04 11:26] #44010 closed

[2019-12-04 11:34] antonburdyugov commented on #42110
@JakubW88, please vote for this idea:
Allow to turn on Autoscale Throughput feature for already created containers
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/39181006-allow-to-turn-on-autoscale-throughput-feature-for

[2019-12-04 11:34] madisettisunil commented on #35061
Still no update on this? seems like server 2008 doesn't have this issue but all remaining versions up from 2012 have issues getting query types into log analytics workspace.

[2019-12-04 11:37] SwathiDhanwada-MSFT commented on #43763
@siudeks  Thanks for the information.
@tfitzmac  Can you please review the document and update the example ?

[2019-12-04 11:43] SwathiDhanwada-MSFT commented on #43741
@AntonAntonyuk As this is similar issue as of  https://github.com/MicrosoftDocs/azure-docs/issues/43763 , we are closing this issue as duplicate. Please track the issue from https://github.com/MicrosoftDocs/azure-docs/issues/43763 and revert in case of further questions.

[2019-12-04 11:43] #43741 closed

[2019-12-04 11:44] AshokPeddakotla-MSFT commented on #44032
@mjtpena Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 11:54] markjbrown commented on #43873
PR submitted on this to update to v3 sample for concurrency control which can be found here, https://github.com/Azure/azure-cosmos-dotnet-v3/blob/master/Microsoft.Azure.Cosmos.Samples/Usage/ItemManagement/Program.cs#L578-L674

Thanks for this request to update.

#please-close

[2019-12-04 11:54] #43873 closed

[2019-12-04 11:57] rithinskaria commented on #38595
This works with user principal token. I figured out a workaround in Powershell:

`$subscriptionId='xxxxx-xxxxx-xxxxxx-xxxxxx'
$context = Get-AzContext
#echo $context
$tenantId = (Get-AzSubscription -SubscriptionId $subscriptionId).TenantId
#echo $tenantId
$tokenCache = $context.TokenCache
#echo $tokenCache
$cachedTokens = $tokenCache.ReadItems() | where { $_.TenantId -eq $tenantId } | Sort-Object

[2019-12-04 11:57] LevisAllanon commented on #39347
Okay I did some more testing, and from what I see the problem only seems to be when there is folder is defined. When you are syncing the root directory everything seems to work okay. but when using a folder in the directory the script seems to break...

[2019-12-04 11:58] SwathiDhanwada-MSFT commented on #44022
@MGoedtel  Kindly review the document and make necessary changes.

[2019-12-04 11:59] rithinskaria commented on #38595
This issue doesn't come up when a user principal token is used for the API call. So I found a workaround to take my access token from Azure context and pass to the call.

Here is the code:

$subscriptionId='xxxxx-xxxxx-xxxxxx-xxxxxx'

$context = Get-AzContext

$tenantId = (Get-AzSubscription -SubscriptionId $subscriptionId).TenantId

$tokenCache = $context.TokenCache

$cachedTokens = $tokenCache.R

[2019-12-04 12:00] AntonAntonyuk commented on #43741
interesting flaw :)
you close issue which was opened before #43763 and continue with it. should be vice-versa
doesn't matter. fix it

[2019-12-04 12:08] evmimagina opened #44041 "Not supported client versions specified"
Hi,

There's no Info about the mínimum required version for client connector and it would be great.
E.g. I've been struggling for last day trying to make it work and it happened I was using MySQL connector for java on version 5.1.18 and only when I've installed the latest version it worked.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-04 12:08] VikasPullagura-MSFT commented on #44039
@SychevIgor Thanks for pointing this out. I am assigning this to content author for updating the document with updated screenshot.

[2019-12-04 12:11] jon-swain-autocab opened #44042 "There is an spelling mistake in 'sslprotocls=tls12' it should be 'sslprotocols=tls12'"
In the line there is a spelling mistake

StackExchange.Redis: Set ssl=true and sslprotocls=tls12 in the connection string.

It should be

StackExchange.Redis: Set ssl=true and sslprotocols=tls12 in the connection string.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d5e31f8-a816-2b22-96c0-f763fa67f9e6
* Version Indep

[2019-12-04 12:11] sumanentc commented on #24942
This should not be closed, as I am facing the same issue.
az aks update --resource-group prod-rg --name prod-aks-cluster  --enable-cluster-autoscaler --min-count 3 --max-count 4

AKS Cluster version : 1.13.12 Azure CLI Version : 2.0.77

Operation failed with status: 'Bad Request'. Details: AgentPool 'agentpool' has set auto scaling as enabled but is not on Virtual Machine Scale Sets, this is not a

[2019-12-04 12:12] jakaruna-MSFT commented on #43947
@iocuydi I think we cant access the docker socker from ACI.

Can you try using this docker in docker(dind) image and check if that fulfills your use case  https://hub.docker.com/_/docker

[2019-12-04 12:20] #43791 closed

[2019-12-04 12:22] hansmbakker commented on #37221
@victorar thank you for sharing this
@Cuijpie could you look into that with Fahad? We could use it to refactor the Azure Frontdoor template if it works as said.

[2019-12-04 12:22] shashishailaj commented on #43826
@AbdullahA11 As we have not received a response from your side. We are closing this issue. Should you have any further queries , please feel free to tag me to your reply or open a new issue in case it is something not related to this thread and we will be happy to help you further.

Thank you.

[2019-12-04 12:22] #43826 closed

[2019-12-04 12:44] AshokPeddakotla-MSFT commented on #44023
@huajunzhao Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 12:45] lordlycastle commented on #21870
I don't think he has any thoughts to share @Karishma-Tiwari-MSFT ...

[2019-12-04 12:47] AshokPeddakotla-MSFT commented on #44040
@ahaeber Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 12:47] MGoedtel commented on #44022
@bwren to review document and make changes.

[2019-12-04 12:49] AshokPeddakotla-MSFT commented on #44035
Looks like you have closed this issue. Please let us know if you have any queries.

[2019-12-04 12:54] MatthewSteeples opened #44043 "CDN Pricing"
https://azure.microsoft.com/en-gb/updates/data-transfer-from-azure-origins-to-azure-cdn-from-microsoft-is-now-free-of-charge/ - The section on pricing needs updating to reflect changes made in October

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 339692e2-c35e-cf53-89c9-894c2d851f1f
* Version Independent ID: f95242d1-

[2019-12-04 12:54] mattosaurus commented on #42136
I believe this is because after AAD signin the page authentication token is provided to /subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.ApiManagement/service/xxx/identity?api-version=2018-06-01-preview where "xxx" is the actual value in the URL and the the correct IDs are not being substituted. I think this may also be the legacy version of the API that is being included.

[2019-12-04 13:05] KrishnaG-MSFT commented on #43803
@GglServe Great observation! I was able to reproduce the behavior.
Assigning content author @ananthradhakrishnan for visibility, review and to consider adding a note regarding the observed behavior.

[2019-12-04 13:09] KrishnaG-MSFT commented on #44025
@v-tawe Glad to know that you have self resolved and closed the issue. Thanks for the update.

[2019-12-04 13:18] savbace opened #44044 "/NoExplorer option disables explorer completely"
Hi!
According to the docs:

Starting the emulator with this option disables data explorer and it's not possible to open it manually from the system tray icon. I assume that it'll only disable the auto opening of the explorer on startup.
Is it ok?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 109ed3f8-faf1-92b

[2019-12-04 13:21] algattik opened #44045 "getArgument is deprecated"
This sample code is buggy
[code]

* dbutils.widgets.get without assigning the return value does not have any effect
* getArgument is deprecated

Suggesting to change the sample to:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a176f27b-f9fc-e0ff-0a48-aa42036051f2
* Version Independent ID: d2356b83-3101-4b56-ba

[2019-12-04 13:22] stuart-hagsw opened #44046 "What's KMS?"
Acronym present with no explanation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87ea8024-c99f-0efe-f663-cc58348a3721
* Version Independent ID: 85c8727b-915b-c920-76cd-6123844d20ad
* Content: [Troubleshoot Windows virtual machine activation problems in Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/tr

[2019-12-04 13:47] Glenlake opened #44047 "Do UDRs applied to regional Vnet integration subnet apply?"
The documentation says:
"You cannot set routes on the traffic coming from your app into your VNet"
Does this mean traffic is not subject to any UDRs associated with that subnet? I have a virtual network appliance in a peered network and need to route traffic through it to reach ExpressRoute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-04 14:01] git001 opened #44048 "JSON examples looks wrong and some more hints"
# JSON
In "Example 1a" in the json part is the operator "User-Agent" but in the powershell is the operator "Regex". I think the operator in json should also be "regex" and a futher field should be added "selector" with value "User-Agent".
Maybe I'm wrong, therefore would be a clarification helpfully.

# TOC
In the TOC on the right hand side misses "Example 2"

# az cli
Please can you add also how

[2019-12-04 14:10] SnehaAgrawal-MSFT commented on #44047
@Glenlake Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 14:12] NavtejSaini-MSFT commented on #44044
@savbace We are looking into this and will get back to you.

[2019-12-04 14:13] NavtejSaini-MSFT commented on #44042
@jon-swain-autocab We are looking into this and will get back to you.

[2019-12-04 14:14] NavtejSaini-MSFT commented on #44041
@evmimagina We are checking this and will get back to you.

[2019-12-04 14:28] NavtejSaini-MSFT commented on #43927
@srdan-bozovic-msft Any update regarding this request. Can we raise the PR for the same?

[2019-12-04 14:29] Robbiem06 opened #44049 "IKEv2 setup - ike authentication credentials are unacceptable"
Hi,

When I setup P2S with Radius Auth and use IKEv2, i receive an error "ike authentication credentials are unacceptable"

When using SSTP, there is no problem.

I have checked my machine certs from CA and all is ok.

Any help would be great please.

Rob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b6b0c96-9319-59a

[2019-12-04 14:32] NavtejSaini-MSFT commented on #43916
@hugobarona The changes are visible now. We will go ahead and close this thread.

[2019-12-04 14:32] #43916 closed

[2019-12-04 14:34] NavtejSaini-MSFT commented on #43473
@lfittl Please check if this can be included in the doc.

[2019-12-04 14:34] hugobarona commented on #43916
Thank you @danimir  and @NavtejSaini-MSFT.

[2019-12-04 14:35] NavtejSaini-MSFT commented on #43919
@knaidoo33 Please get back to us with the clarification so that we can further work on this.

[2019-12-04 14:36] NavtejSaini-MSFT commented on #43348
@SnehaGunda Can you please check if the document can be enhanced with this information.

[2019-12-04 14:52] HoCGeek commented on #42225
So will the documentation be updated, or will it continue to imply that registering devices gives administrators the ability to apply CA policies against those devices?

[2019-12-04 15:09] j-martens commented on #38117
@ravikiran-srini - we hope this has answered your question. We will now proceed to close the thread. If this does not answer your question, feel free to open it back up. #please-close

[2019-12-04 15:09] #38117 closed

[2019-12-04 15:11] abij opened #44050 "How to authenticate against SchemaRegistry?"
The schema-registry is normally protected.
The confluent-kafka settings are:
- schema.registry.basic.auth.credentials.source=USER_INFO
- schema.registry.basic.auth.user.info=Key:Secret

How to use the Confluent SchemaRegistry?
Because I get a 401 (authorisation error) using this example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2019-12-04 15:13] DreamRivulet commented on #40300
@MicahMcKittrick-MSFT , may I know the latest status of this doc issue? It seems that doc is not updated yet.

[2019-12-04 15:14] syswpit commented on #43735
@ManojReddy-MSFT

I did some research and found how to get the AUthnContextValue using Fiddler.
I recorded it while using the Webex client on the device that was giving the error, and found "urn:oasis:names:tc:SAML:2.0:ac:classes:Unspecified".

I had already this this value, but removed it again because if I use this value, it never worked in the browser.
I am now using both: _urn:oasis:names:tc:S

[2019-12-04 15:16] NavtejSaini-MSFT commented on #44042
@jon-swain-autocab We have created the Pull Request to make this change. The document will be updated.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/97799

[2019-12-04 15:20] cstainie opened #44051 "Delegated Resource Management B2C"
When Diagnostic Settings are configured in the AAD B2C tenant, the following message is shown.

"To setup Diagnostic settings to use Azure Monitor for your Azure AD B2C directory, you need to set up delegated resource management. You can start here to learn how to set this up."

Nothing is mentioned about this on this page. Any pointer on this?

It is in the Diagnostics Settings of the Azure AD (w

[2019-12-04 15:24] MGoedtel commented on #38468
I haven't gotten to working on this due to other work that were a higher priority. I've got this task queued up and as soon as I can get to it I will.  Since this isn't a doc issue but a request to enhance the documentation to cover this scenario, I'm requesting we close this GitHub issue.  #please-close

[2019-12-04 15:24] #38468 closed

[2019-12-04 15:26] juntakata opened #44052 "Any ETA for all logs are reported?"
Latency of 5 mins is a 99th percentile for Audit logs and Sign-ins. Our customers often ask how long they have to wait before all the logs are reported. If it is 24 hours, it would be appreciated you would add that value to the doc so that our customers can contact support for investigation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-04 15:26] gamullen opened #44053 "Wrong Screenshot, Need More Info on Address Pool"
1. The screenshot for step 4 under "Edit hub assignment" is not correct.

2. In that same section can more detail be provided for step 5 ("Enter the Address pool...")? Should it be a subset of the Hub's address space? Separate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb0224af-2059-f88c-bb14-926ef69bd835
* Versio

[2019-12-04 15:29] kamranbashir opened #44054 "Azure AD B2c - Ineffective log out mechanism (frustrated)"
Dear All,
Hope you are doing great.
**Issue it that you never het full signout from azure ad b2c.**

Lets suppose you are sign in to microsoft
![1](https://user-images.githubusercontent.com/17201741/70155747-bb3fe680-16aa-11ea-829d-22bb9661e61c.JPG)

and in web app you have and controller account and view index In steps...

1. so when first time render https://abc.com/account/index, now you captur

[2019-12-04 15:43] FunkEinstein commented on #41409
This is a requirement of SAML specification, not my! Your realization isn't fully corresponds to specification, don't you think that it's need to be fixed?!

[2019-12-04 15:48] AshokPeddakotla-MSFT commented on #44036
@shahid-aman Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 15:51] markjerz opened #44055 ".Net SDK"
Could you provide details on how to do this through the Rest APIs and/or the .Net SDK (fluent interface) if possible?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dcf9b-e64a-922b-6108-bd1152a758f0
* Version Independent ID: 58247335-c4e9-705b-297d-97637b872c02
* Content: [Configure deployment credentials - Azure Ap

[2019-12-04 15:51] MGoedtel commented on #43683
@femsulu - I'll create a task for this and see if I can get this updated in current sprint.  #in-progress

[2019-12-04 15:55] AshokPeddakotla-MSFT commented on #44043
@MatthewSteeples Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-04 16:07] #44042 closed

[2019-12-04 16:08] yegu-ms commented on #44042
@jon-swain-autocab Thank you for reporting this! I've approved the above Pull Request.

#please-close

[2019-12-04 16:09] OneConsutlantsDemo opened #44056 "HANA Connector ( Sink Possible in COPY Activity ? )"
I created a HANA Data Set, using Self IR hosted on Azure itself.
In the Copy Activity of Pipeline Drop down it only appears in Source and not in Sink . Can you please confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae2389f5-6e57-bd3e-2228-83479983ca0b
* Version Independent ID: af4d7832-5f25-59cc-e9fc-74f32ec8db

[2019-12-04 16:10] kathodion commented on #37236
@TravisCragg-MSFT
Are there any updates to the docs?

[2019-12-04 16:23] MGoedtel commented on #43683
I've created a work item and investigating to confirm before updating the article.  #in-progress

[2019-12-04 16:32] DrSuz opened #44057 "Leaving is clearly outlined"
This was extremely helpful as I contract with many clients and needed to exit some of their tenants post project. Thank you for the clear instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bff-94de-c9f9-7666-d2a6f4253b11
* Content: [Leave an

[2019-12-04 16:37] mikegoatly opened #44058 "Deployment location"
All the commands used to deploy the template require a region - in the samples it's just referred to as `&lt;AzureRegion&gt;`. My initial assumption was that it had to be in the same region as the resources access is being given to, but experiments show this not to be the case.

Does the region the deployment is created in have any real bearing on the authorization process? Are there any surprises

[2019-12-04 16:47] SnehaAgrawal-MSFT commented on #44055
@markjerz Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 16:53] davidhanna66 opened #44059 "Steps fail at Kubectl apply"
After troubleshooting, you need to get credentials before applying config. otherwise, request is refused for unknown reason.
az aks get-credentials --resource-group myResourceGroup --name myAKSCluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-

[2019-12-04 16:55] #43036 closed

[2019-12-04 16:57] jm15502 opened #44060 "Risk Management options are confuse, incomplete and not intuitive."
The feedback method for "User remediated outside of Azure AD Identity Protection (True positive + Remediated)" is horrible.

Why don't just add the "Mitigated" or "Remediated" action?

Going beyond, I believe you should also include options to change risk levels and even an explicit option to Accept the risk, what may be totally different than Dismiss them.

Thanks

---
#### Document Details

⚠ *D

[2019-12-04 16:59] tfitzmac commented on #43565
@M0ns1gn0r - thanks for this feedback. I have added a paragraph to the article that explains the schema used to export the template might not be the most current, so users should carefully check the exported properties. This discrepancy should become less of an issue as the process is improved.

[2019-12-04 16:59] tfitzmac commented on #43565
#please-close

[2019-12-04 16:59] #43565 closed

[2019-12-04 17:00] sam-north commented on #43036
Realized that we were doing some nested section structuring of our appsettings.json file instead of having all settings located in the root object and it is not what azure is expecting when it is overriding settings.  We were using the IConfiguration.GetSection("sectionName: settingName") instead of just using IConfiguration["settingName"].  Azure is not aware of the nestings and that is ok.  We j

[2019-12-04 17:00] MonikaReddy-MSFT commented on #43963
Hello @bertrandpons ,
You can change the stack settings by using either PowerShell or ARM Template by following the below steps..

**With PowerShell**
After the Deployment (without appsettings) has succeeded. Then run this to overwrite the appsettings completely.

[code]

**With ARM Deployment JSON**
[code]
You can also go through this doc for more reference : [Configure App Settings using ARM Tem

[2019-12-04 17:12] rposbo commented on #25798
Can we update the API documentation to remove references to `Content-Type: multipart/form-data`?

These pages have the header set in the code sample sections:

* https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/56406930e597ed20c8d8549c
* https://westus.dev.cognitive.microsoft.com/docs/services/563309b6778daf02acc0a508/operations/5645c3271984551c84ec6797

[2019-12-04 17:15] MicahMcKittrick-MSFT commented on #44054
@kamranbashir Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-04 17:17] CeciAc opened #44061 "issue with archetype:generate in Cloud Shell"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/662
@diop-malick commented 5 hours ago — with docs.microsoft.com
To aovid MissingProjectException in cloud shell with Power shell you need to put quotes around every mvn command parameter like this :

`mvn archetype:generate "-DgroupId=example.demo" "-DartifactId=helloworld" "-DarchetypeArtifactId=maven-arche

[2019-12-04 17:19] MicahMcKittrick-MSFT commented on #44046
@stuart-hagsw KMS = Key Management Service

This is called out in the doc:
https://docs.microsoft.com/en-us/azure/virtual-machines/troubleshooting/troubleshoot-activation-problems#symptom

I will update the first sentence in the doc to make this more clear. Once the PR merges the changes will go live after a few hours.

[2019-12-04 17:19] #44046 closed

[2019-12-04 17:21] philiplai opened #44062 ""list index out of range" error"
I pasted in rest endpoint url after I deployed the model and got this error.  Is it normal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bee109c-3482-efb4-f04a-a81d549ad743
* Version Independent ID: 4f8a2993-40ed-e518-e44c-914807355db2
* Content: [Create your first automated ML experiment - Azure Machine Learning](h

[2019-12-04 17:23] YutongTie-MSFT commented on #44062
@philiplai
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 17:26] MonikaReddy-MSFT commented on #43949
@lordlycastle,
I tried to repro your scenario and I was able to publish without any issues.

So I was wondering if have you tried creating the directory manually in the bin/debug directory ?

If you tried creating it manually, that might be why you are seeing this error because you need to created the directory path from inside the code and see if that helps.

Also take a look at this doc for more

[2019-12-04 17:38] MonikaReddy-MSFT commented on #44061
@diop-malick @CeciAc , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-04 17:39] MonikaReddy-MSFT commented on #43987
@tkrielaart,
I hope the information provided by @grlima was helpful.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-04 17:39] #43987 closed

[2019-12-04 17:46] KranthiPakala-MSFT commented on #43985
@nabhishek Could you please have a look at the above feedback from the customer? - Thanks!

[2019-12-04 17:53] NavtejSaini-MSFT commented on #44041
@evmimagina We understand the ask here but hard coding a value will reduce the manageability of the document as things change quickly in the Azure world. But i would take inputs from author regarding the same.
@ajlam can we add this information in above document or probably this [one](https://docs.microsoft.com/en-us/azure/mysql/connect-java).

[2019-12-04 17:54] ssemyan opened #44063 "Instructions to get to Data section in Collect event and performance data incorrect"
Incorrect instructions above:

1. In the lower-left corner of the Azure portal, select More services. In the search box, enter Log Analytics. As you type, the list filters based on your input. Select Log Analytics workspaces.
2. Select Data, and then select Syslog.

Actual:
1. In the top of the Azure portal in the search box, enter Log Analytics. As you type, the list filters based on your input.

[2019-12-04 17:55] MicahMcKittrick-MSFT commented on #43995
@koolkarni I will close this for now. If you still have issues please open a new comment directly on the doc you are having issues with.

And as a side note, you can find the Python commands here: https://docs.microsoft.com/en-us/python/api/?view=azure-python

[2019-12-04 17:55] #43995 closed

[2019-12-04 17:57] Astrophizz commented on #42733
Durable entities seem to be API sugar around an orchestration that doesn't end. My understanding is that orchestration state is mediated through storage account queues, so "small pieces of state" probably mean "fits in a queue message minus any overhead from the entity/orchestration context".

[2019-12-04 17:59] xiaoyvr commented on #43911
IMHO, ignore empty files and ignore BlobCreate event has very different meanings.

In our case, we're using Databricks to output paque files to ADLS. Since the file is partitioned, once the file is written successfully, there is an empty _SUCCESS file being created in the folder. We're using this _SUCCESS file as trigger to run another pipeline. There's no control over for the content of this file

[2019-12-04 17:59] ajlam commented on #44041
@evmimagina - we do have a drivers compatibility article [here](https://docs.microsoft.com/azure/mysql/concepts-compatibility) that documents supported driver versions.

[2019-12-04 18:01] evmimagina commented on #44041
Great, if you could reference that link on the document I suggested to improve I think it would be great.

Regards,

Enric Vidal Martínez
Infrastructure Manager
imaGina
Tel.: 93.218.20.54 / Móv. 607.243.401
Avda. Diagonal 482 2º1ª  08006 Barcelona
Pº de la Castellana 95 Plta 15A – 28046 Madrid
[cid:image001.jpg@01C92FBF.B6DE97F0]Por favor, piense en el medio ambiente antes de imprimir este  correo

[2019-12-04 18:06] kamranbashir commented on #44054
here is the link
https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/master/TaskWebApp/Controllers/AccountController.cs

we are not using MSAL, but reset is same

[2019-12-04 18:08] MartinJaffer-MSFT commented on #44050
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2019-12-04 18:09] KranthiPakala-MSFT commented on #44056
@OneConsutlantsDemo Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-12-04 18:09] knaidoo33 commented on #43919
@NavtejSaini-MSFT
Yes, I am curious if it is necessary when an Azure ExpressRoute is set up.

[2019-12-04 18:10] MartinJaffer-MSFT commented on #44045
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2019-12-04 18:10] mslot opened #44064 "Azure KeyVault: where is the secret that is retrieved through environment variables cached?"
I have an environment variable that references a secret in Azure KeyVault:

[code]
This is loaded when on Startup.cs in my web api solution:

    public void ConfigureServices(IServiceCollection services)
    {
        services.AddOptions<Secret>().Configure(o => o.ClearText = Configuration["SECRET"]);

        services.AddControllers();
    }
How is the secret resolved? Is it resolved on every op

[2019-12-04 18:11] abhinavaGopagani opened #44065 "Change in Names of the Roles in Azure Portal for instance Global Admin has been changed"
Change in Names of the Roles in Azure Portal for instance Global Admin has been changed to company administrator. the documentation have not been updated accordingly. Can you give us what are the changes that have been done so far.

[2019-12-04 18:13] evmimagina commented on #44041
BTW, that referenced document, there’s a gap between versions? What happens from 5.1.10 to 5.1.20?

[cid:image002.png@01D5AAD6.E4CAB1F0]

e.g. I was using 5.1.18, what am I supposed to think? Is it compatible or not…? (it wasn’t as I’ve been struggling because of this)

Regards,

Enric Vidal Martínez
Infrastructure Manager
imaGina
Tel.: 93.218.20.54 / Móv. 607.243.401
Avda. Diagonal 482 2º1ª  0800

[2019-12-04 18:18] tchristiani commented on #25798
@rposbo the pages you are pointing to are not generated by documentation but by the product team.

This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant fo

[2019-12-04 18:20] rhwilburn commented on #43857
Simplicity is a good goal, so understand the desire to use command line. It can be simple to use the 2 yaml files I gave above too (but note that the namespace must be common across nginx and your project files which you achieve via command line with a parameter). So I think the steps can be just as simple with Yaml files if there is a way of overriding those configs namespaces easily (not sure if

[2019-12-04 18:21] Mirend opened #44066 "StorageSyncSelfServiceRestore cmdlets don't exist in the StorageSync.Management.PowerShell.Cmdlet.dll module"
Trying to enable Self Service Restore and when I look at the cmdlets in the module, none with "StorageSyncSelfServiceRestore" exist. Here's the list:

PS C:\Users\mirendadmin&gt; gcm -Module StorageSync.Management.PowerShell.Cmdlets

CommandType     Name                                               ModuleName
-----------     ----                                               ----------
Cmdlet

[2019-12-04 18:35] femsulu commented on #43389
assigning to Paul Yuk.

[2019-12-04 18:41] allegradomel commented on #43325
@Alberto-Vega-MSFT the article is https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-filter-network-traffic. Sorry for the confusion!

[2019-12-04 18:44] mike-urnun-msft commented on #43845
@dileep524 Since we haven't heard back, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-04 18:44] #43845 closed

[2019-12-04 18:54] porrascarlos802018 opened #44068 "Clarification required on document based on customer feedback."
This windowspreview feature will be activated based on subscription ID and not on tenant ID.  This needs to be clarified, so customers can be aware they need to ensure the extension its being activated to the correct subscription. Furthermore steps to check on which subscription they are currently before activating the preview its required to be provided so customers can check prior to the activat

[2019-12-04 18:55] MicahMcKittrick-MSFT commented on #44065
@abhinavaGopagani Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-04 18:55] #36058 closed

[2019-12-04 18:55] MicahMcKittrick-MSFT commented on #44064
@mslot Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-04 19:03] rfoust opened #44069 "Unclear statement"
Under the UserType section -- "It can only be set during the creation of the Azure AD users." -- does this mean that the UserType can never change on accounts that are synced using AADC once the user is created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f469d121-1cda-1a60-97ba-6940502cd4cc
* Version Independent ID

[2019-12-04 19:21] rajasekhar2 commented on #44024
Thank you Amanpreet. Issue got resolved.
Solution: We had to create brand new APP in App registrations of my Domain where I have option of selecting MSA accounts. I was trying to update existing APP manifest with
![image](https://user-images.githubusercontent.com/16824472/70173584-04327380-1688-11ea-9bbd-68a479ffb2cb.png) which was failing. Looks like this is a bug in portal itself.

[2019-12-04 19:21] #44024 closed

[2019-12-04 19:23] femsulu commented on #43369
Hi Max, sorry for the delay here. Was able to reproduce your issue. This will need deeper investigation  from the Azure technical support channel as I don't have the permissions to debug this from the backend. Kindly raise a support request using [these steps](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request).  If you do not have a support plan, send

[2019-12-04 19:23] #43369 closed

[2019-12-04 19:27] MarileeTurscak-MSFT commented on #44051
@cstainie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 19:28] MarileeTurscak-MSFT commented on #44069
@rfoust
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 19:31] femsulu commented on #43559
@Karthick3d, as far as I know, you need to have/purchase a reservation Plan to call the APIs
@yashesvi  - please confirm.

[2019-12-04 19:32] dpace-cs opened #44071 "Issue with step 7 of Configure Azure AD SSO"
Step 7, "Veracode also expects a few more attributes to be passed back in the SAML response. These attributes are also pre-populated, but you can review them per your requirements." is incorrect. It does not automatically populate, I had to modify the fields manually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39a7

[2019-12-04 19:32] iocuydi commented on #43947
@Balakrishna625 @jakaruna-MSFT When I try systemctl start docker, I get the error: "Failed to connect to bus: no such file or directory"
When I try using that dind image and running docker, I get "cannot connect to the docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?"

Any other suggestions? Perhaps this is because aci does not run containers with the --priveleged flag?

[2019-12-04 19:34] sandytsang commented on #43860
@ManojReddy-MSFT  Hello, just tested this again. When the user is only has application administrator role, create a new application, assigned Microsoft Graph DeviceManagementConfiguration.ReadWrite.All "Application Permission" (Not delegated permission), click on Grant Admin Consent, it gave error. Logout from Azure Portal, then login again, open the same application, Grant admin consent is greyed

[2019-12-04 19:39] MarileeTurscak-MSFT commented on #44071
@dpace-cs
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 19:40] KranthiPakala-MSFT commented on #44056
@OneConsutlantsDemo You can copy data to SAP HANA database using the generic ODBC connector. To copy data from SAP HANA data store, refer to native [SAP HANA connector](https://docs.microsoft.com/azure/data-factory/connector-sap-hana). To copy data to SAP HANA, please follow below instruction to use ODBC connector.

Set up a Self-hosted Integration Runtime on a machine with access to your data sto

[2019-12-04 19:40] daltonks opened #44072 "Linux App Service graceful shutdown"
How do I have a potentially long-running task get called on a graceful shutdown?

I am trying to listen to a graceful-shutdown event when my Linux App Service (ASP.NET Core 3.1.0) is stopped or restarted, but no matter what I try, it doesn't work.

I have a service that is `IAsyncDisposable`. To try to get it to dispose on shutdown, I've tried:
- Just using `services.AddSingleton<T>`, because the

[2019-12-04 19:44] jkeane opened #44073 "Az.Network module version"
What version of Az.Network does the above script require?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9906cba-acc2-5978-1380-2b2f445a00da
* Version Independent ID: a547cc17-92ce-e889-ed78-8fc294cca01b
* Content: [Migrate WAF policies for Azure Application Gateway](https://docs.microsoft.com/en-us/azure/web-applicat

[2019-12-04 19:47] tfitzmac commented on #34922
@SwathiDhanwada-MSFT - can this issue be reassigned to Notification Hubs? I do not have a way to map their REST API properties to their portal UI. I think someone from Notification Hubs would have to provide that explanation and change the swagger file to indicate how the fields are related.

[2019-12-04 19:48] jeevansd commented on #44071
@dpace-cs If you add the new application from the gallery then you should able to see these custom claims: FirstName, lastname and email.
Please feel free to verify this.

[2019-12-04 19:49] jeevansd commented on #44071
#please-close

[2019-12-04 19:49] MarileeTurscak-MSFT commented on #44002
Thanks for the idea! I have added this to our product backlog list and passed the feedback along to the content team.

CC: @billmath

[2019-12-04 19:49] #44002 closed

[2019-12-04 19:49] #44071 closed

[2019-12-04 19:54] MartinJaffer-MSFT commented on #43899
I see, so you want to do the same, except use custom parameters in the event subscription.  Very interesting.

I have now escalated the issue.

[2019-12-04 19:58] dpace-cs commented on #44071
The biggest mistake support techs make is not listening to customers and jumping to immediate conclusions. Please see the attached image as proof.

![image](https://user-images.githubusercontent.com/24828342/70176430-161f1100-169e-11ea-899d-e313880db1aa.png)

[2019-12-04 20:02] adrianwells opened #44074 "OATH hardware tokens (public preview)"
A couple items: 1) The screen shot here is outdated and 2) the web portal user interface no longer shows the "public preview" message, does this indicate this service is now out of of public preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f14188-98ec-5c94-f408-162ee1baa076
* Version Independent ID: 41ed4874-e

[2019-12-04 20:04] KingdomOfEnds commented on #43477
@gregorvilkner - Wanted to verify that you got the answer you needed. Is there anything else I can do to provide an immediate answer? Thanks!

[2019-12-04 20:05] mmacy commented on #44051
Hi @cstainie, thanks for pointing this out, documentation for this scenario is forthcoming.

Technically speaking, the "logical projection of resources" discussed in the article that's linked in the _Diagnostic settings_ pane, [Azure delegated resource management](https://docs.microsoft.com/azure/lighthouse/concepts/azure-delegated-resource-management), is indeed the facility that would enable Azu

[2019-12-04 20:06] OneConsutlantsDemo commented on #44056
Thanks for your lead. Do you know when we expect to use the ODBC/HANA connectors would be enabled on ADF Dataflows? I intend to perform some transformation as well now, but looks both ODBC and HANA is currently not available.!

[2019-12-04 20:07] Alberto-Vega-MSFT commented on #43139
@marcelo-onfleeklabs Since we haven't heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-04 20:07] #43139 closed

[2019-12-04 20:12] johntchoi opened #44075 "Phone Call Settings for Azure MFA"
There is an "Operator required to transfer extensions" toggle that has help text: "Enable this feature if your organization doesn't allow for automatic transfers to extensions, but uses an operator to manually transfer." but doesn't appear to be covered by this doc.  What does this setting do when enabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-12-04 20:14] #43970 closed

[2019-12-04 20:32] jpcrs commented on #43952
Thanks, going to close the issue.

[2019-12-04 20:42] assaf-grth opened #44078 "Changing RI region"
Is there an ability to change the region of an RI I paid for?
I read this "Exchange Azure RIs across any region and any series as your workload or application needs change." at this page: https://azure.microsoft.com/en-us/pricing/reserved-vm-instances/, but didnt see instructions on how to perfom the action

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-12-04 20:46] amanjee opened #44079 "Consent not appearing"
Deployed the Management tool, consent is not appearing when hitting the management endpoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a143e190-2e63-e3b9-725b-d433075e6e80
* Version Independent ID: b693e675-3258-473d-d4da-11bcc942083f
* Content: [Deploy management tool - Azure](https://docs.microsoft.com/en-us/azur

[2019-12-04 20:49] lfittl commented on #43473
@kagkarlsson I think this fits well, but needs some more end-to-end testing on our end with different scenarios - we'll consider adding more details on this in a future documentation update.

In the meantime if you run into any issues feel free to update here or send me a direct email  (lukas.fittl@microsoft.com) - happy to forward questions to the engineering team. Thanks!

[2019-12-04 20:52] cherylmc commented on #43986
Reviewing now.

[2019-12-04 21:02] MicrosoftGuyJFlo commented on #44013
If you are using a SaaS portal to launch those scenarios yes it works as any other application.

This is regarding launching a RDP/Citrix/VDI session directly like over a thin client. Today that is unsupported.

[2019-12-04 21:02] MicrosoftGuyJFlo commented on #44013
#please-close

[2019-12-04 21:02] #44013 closed

[2019-12-04 21:08] jeevansd commented on #43735
@syswpit If you just use PasswordProtectedTransport as AuthnContext and then if you apply MFA then Azure AD will not able to send the response back to the application. If you want MFA +Password for authentication then you need both of these AuthnContext in the SAML Request.

[2019-12-04 21:08] JS2598 commented on #44013
Thanks John.  Should the doc be updated to clarify the difference?

[2019-12-04 21:14] dmakogon opened #44080 "Missing C# example"
C# example is needed for change stream implementation. The JS and C# SDKs don't really line up and it's not obvious how to work with change stream from C#, with the nuances specific to Cosmos DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32ee62ff-7042-a2d2-94d6-69189878aff3
* Version Independent ID: 4dc6fce6-b47a-

[2019-12-04 21:16] mslot commented on #44064
@MicahMcKittrick-MSFT sorry, I forgot: https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

[2019-12-04 21:18] KranthiPakala-MSFT commented on #44056
@OneConsutlantsDemo Thanks for your response. We do not have an ETA at the moment, but definitely, adding more native data flow connectors to ADF is on our roadmap. The current pattern that ADF Product team recommend is to construct pipelines that use Copy Activity with the 90 connectors available to ADF to stage data in Blob or ADLS for data transformation.

I would recommend you to please up-vot

[2019-12-04 21:20] maxbog opened #44081 "This doesn't work on Azure VM"
I tried to folow this guide by installing the simulator and IoT Edge runtime on Azure VM, but it does not work. The guide talks about using TPM simulator for attestation, but when the iotedged.exe wants to provision the device, italways looks for a physical TPM device.

Is there something I need to do so that the IOT Edge runtime switches to using TPM simulator instead of trying to find a physical

[2019-12-04 21:25] bandersmsft commented on #44036
@shahid-aman Thanks for letting us know about this issue. I'll let the team know. When the Cost Management videos are updated, we'll definitely fix.
#please-close

[2019-12-04 21:25] #44036 closed

[2019-12-04 21:28] bandersmsft commented on #44078
@assaf-grth Hi there. Check out https://docs.microsoft.com/en-us/azure/billing/billing-azure-reservations-self-service-exchange-and-refund it should have all the details you need.
#please-close

[2019-12-04 21:28] #44078 closed

[2019-12-04 21:28] ghogen commented on #43430
The extension is here, but I'm seeing that it fails to install on VS 2019 16.x.  Investigating.

[2019-12-04 21:30] jpvajrala opened #44082 "IP address of failover cluster"
This article doesn't mention about the IP address of failover cluster. How is the IP address for failover cluster is getting provisioned ? and also is it static or dynamic IP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8719583b-9225-b70a-089e-2bdec3cd3246
* Version Independent ID: a9de7dd4-848b-40e3-6bc2-27b23844b2

[2019-12-04 21:30] MicahMcKittrick-MSFT commented on #44064
Thanks for that! I have assigned it to the correct engineer to take a look.

[2019-12-04 21:31] Karishma-Tiwari-MSFT commented on #44059
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 21:31] RyanHill-MSFT commented on #43895
@lordlycastle, I have the same repo was able to build and debug the solution fine. The csproj is recognized as a class library but the Azure Function tooling is what allows that project to be debugged via the console. In looking at your gist, you appear to have the Azure Functions tooling installed. I don't see anything in the Visual Studio [release notes](https://docs.microsoft.com/en-us/visualst

[2019-12-04 21:31] #43895 closed

[2019-12-04 21:32] Karishma-Tiwari-MSFT commented on #44068
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-04 21:32] Karishma-Tiwari-MSFT commented on #44079
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-04 21:34] MashaMSFT commented on #44082
Hi @jpvajrala , thanks for contacting Microsoft! Let me check this for you :)

Thanks!
Masha from the SQL Docs team

[2019-12-04 21:42] steamwings opened #44083 "PLEASE add information about containerized Function Apps"
I spent an entire day working through containerizing my functions, configuring debug vs release with Dockerfiles, creating the new build pipeline, and more only to find out that there is no consumption plan (in any region??) available for containerized Function Apps. This page does not even mention containers, let alone that support is different.

Related: #40987

---
#### Document Details

⚠ *Do

[2019-12-04 21:44] nickhopkins11 opened #44084 "Using the BlobContinuationToken"
I don't see the BlobContinuationToken being used in the "Use a hierarchical listing" section. Shouldn't it be passed to the ListBlobsSegmentedAsync() call like in the "Use a flat listing" section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49364b8c-01b5-5180-7537-c221c79d5b3d
* Version Independent ID: 95ec5f30-8c53

[2019-12-04 21:48] TravisCragg-MSFT commented on #44049
@Robbiem06 This is typically caused by an issue with your RRAS server. [Here is a blog post](https://blogs.technet.microsoft.com/rrasblog/2009/08/12/troubleshooting-common-vpn-related-errors/) that outlines the error and possible causes. section 10 about error 13801 covers this error code.

[2019-12-04 21:48] MicahMcKittrick-MSFT commented on #43965
@MicrosoftDocs/aks-pm any idea on this?

[2019-12-04 21:49] MicahMcKittrick-MSFT commented on #43915
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-04 21:49] #43915 closed

[2019-12-04 21:51] roygara commented on #38348
@forester123 Apologies for the delayed response, this took a while to sort out. Only some images have a GPT + MBR dual boot capability, not every image in the marketplace. The image in this case (I managed to find it) while it reports GPT if you do `print` using parted, if you run `sudo parted -l` you will see the second MBR partition. It's actually using the MBR partition in this Gen1 configurati

[2019-12-04 21:51] #38348 closed

[2019-12-04 21:56] yashesvi commented on #43559
@karthick3d you will have to buy an RI to try the APIs.

[2019-12-04 22:01] MarileeTurscak-MSFT commented on #44057
@DrSuz
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 22:02] MarileeTurscak-MSFT commented on #44057
Thanks for the nice feedback! I have passed this along to the content author, @msmimart

[2019-12-04 22:02] #44057 closed

[2019-12-04 22:05] cstainie commented on #44051
Hi Macy,

I have tried it myself in a lab environment where I took the following
assumptions:
- B2C Tenant - Service Provider ('it needs to see a subscription' is my
rational behind it)
- Azure AD Tenant is the customer

I have delegated the access to a resource group first where a Log Analytics
workspace is  residing but nothing made a difference.
Afterwards, I deployed a delegation on a subscrip

[2019-12-04 22:06] MarileeTurscak-MSFT commented on #44052
@juntakata
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 22:09] drdamour opened #44086 "Env Var section should link to more complex env var options"
I came to this page from https://docs.microsoft.com/en-us/azure/app-service/configure-common#app-settings

hoping to find how to use config settings to override nested structure of things in appsettings.json but the section didn't really get into that.  it looks like that information is doc'd at https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/index?tabs=basicconfiguration&v

[2019-12-04 22:14] RyanHill-MSFT commented on #43888
Hi @GrantBCU, your project has to target .NET Framework 4.6.1 or higher since 3.2.1 is built using .NET Standard 2.0. Change your target framework to that version. See https://github.com/Azure/azure-notificationhubs-dotnet#building-code for more details.

Hope this helps.

[2019-12-04 22:18] PatAltimore commented on #44032
Hi @mjtpena,

Thanks for the feedback.

I fixed the screenshot with the parse JSON step.  The latest version of the tutorial is simplified and it's not needed. I missed the screenshot. Good catch. The update should be live soon.

 I added the magnifiers to the large screenshots with lots of data at the beginning and end of the tutorial for phone or tablet users browsing the content. It's not requi

[2019-12-04 22:19] PatAltimore commented on #44033
Hi @mjtpena,

Thanks for the feedback. I fixed the screenshot. The update should be live soon.

Thanks,
Pat

#please-close

[2019-12-04 22:19] #44033 closed

[2019-12-04 22:43] MarileeTurscak-MSFT commented on #43883
I made a pull request to add Content-Length. Feel free to edit it or make your own pull request if you would like to be credited.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/97871

@mosdav @rywike77

[2019-12-04 22:43] #43883 closed

[2019-12-04 22:45] javerdej opened #44087 "Exchange Online and SharePoint Online statement for PIM unclear."
An S500 customer raised a ticket due to confusion on this page.  Roles within Exchange Online or SharePoint Online, except for Exchange Administrator and SharePoint Administrator, are not represented in Azure AD and so cannot be managed in Privileged Identity Management.

This statement would be clearer if worded as follows:  Only the Exchange Administrator and SharePoint Administrator roles for O

[2019-12-04 22:50] morgangrobin opened #44088 "Inconsistent guidance on one vs. many App Insights Resources"
Guidance on this page does not match what is in the App Insights FAQ

This page: "We recommend that you create a separate resource for each component of your app. That is, you create a resource for each web role and worker role"
FAQ: https://docs.microsoft.com/en-us/azure/azure-monitor/app/troubleshoot-faq#should-i-use-single-or-multiple-application-insights-resources

---
#### Document Details

⚠

[2019-12-04 23:00] femsulu commented on #43559
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-12-04 23:00] #43559 closed

[2019-12-04 23:00] kobulloc-MSFT commented on #44088
@morgangrobin Thank you for bringing this to our attention!  We've assigned this to the document author so that they can update our documentation accordingly.

[2019-12-04 23:03] amanjee commented on #44079
I think I might know what is wrong, I will test and get back.

[2019-12-04 23:28] danluca87 opened #44090 "Additional Info Needed"
How do we set the correct permissions to the file share? I`m running SWPM as a domain user and set permissions on the sapmnt share for the user [Full Access] but still getting the following error:
Error retrieving information about file system exports (shares): (host name: &lt;hostname&gt;) (share name: sapmnt) Access is denied.
Also, there`s no mention in the document on how is the ERS installed?

[2019-12-04 23:28] MarileeTurscak-MSFT commented on #43552
Hi @1993Saurabh ,

Normally if the KMSI functionality does not work, there are a few reasons why you cant stay logged in.
1-Your browser is set to delete cookies on exit
2-A new security feature has been added
3-A policy has prohibited it on the machine
4-Misc browser issues.
*

**It is possible that your browser option to delete browsing history upon exit is enabled.**

Please follow these steps

[2019-12-04 23:29] cgillum commented on #44014
Yes, this should be `tracing`, not `tracking`. I'll open a PR to fix this.

[2019-12-04 23:31] shalosi opened #44091 "If susbcription is new you can't create a Budget"
Hello team,

Please add that It's not possible to create a budget for a newly provisioned subscription with little or no usage.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09acb09f-6171-fdd8-a5d4-0d036b467c5a
* Version Independent ID: 1bffb9cc-b99e-c000-eb9e-47981e27eedc
* Content: [Tutorial - Create and manage Azur

[2019-12-04 23:35] petertuton opened #44092 "Missing 'F' in the URL for the tip in "Getting access tokens silently in the background""
The section of the URL that reads, 'graph.microsoft.com%2user.read' should read 'graph.microsoft.com%2Fuser.read'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be0884d3-263f-9913-7b8c-170d8092baa2
* Version Independent ID: 42c5b06a-81a7-97f7-a4cf-7ca77a30ec37
* Content: [Secure single-page applications using the Micro

[2019-12-04 23:40] blouwagie opened #44093 "You need to explain what CorpNetSaw is"
I am guessing that you are saying that CorpNetSaw is an abbreviation of "Corporate Network Secure Access Workstation" and needs to be able to RDP into any destination?  IF that is the case you need to do a lot of explaining about this in this article and I frankly believe this is not relevant in the context of this article. Nor should a CorpNetSaw be able to RDP everywhere in my opinion.

201	Allo

[2019-12-04 23:45] roygara commented on #43770
@kogesaka I've gone ahead and reached out to the product team directly. I'm awaiting a response from them and I will let you know as soon as I hear back. :)

[2019-12-04 23:48] MarileeTurscak-MSFT commented on #44092
@petertuton
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 23:50] JimacoMS3 commented on #41905
@damiandiaz76 Again, thanks for your feedback. I've updated both the [device twin](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-device-twins#back-end-operations) and [module twin](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-module-twins#back-end-operations) topics. I'm going to go ahead and close this issue. If you notice anything amiss, please @ comment me i

[2019-12-04 23:50] JimacoMS3 commented on #41905
@please-close

[2019-12-04 23:51] MarileeTurscak-MSFT commented on #44092
You're right, good catch! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/97884

[2019-12-04 23:51] #44092 closed

[2019-12-04 23:52] lorenzobrito commented on #43892
You should not closed this, it is a documentation issue. i follow the step and still not working

[2019-12-04 23:52] JimacoMS3 commented on #41905
#please-close

[2019-12-04 23:52] #41905 closed

[2019-12-04 23:53] femsulu commented on #44063
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-04 23:55] msftjayongg commented on #38677
Would love to know this as well. I've been confused about this and was unable to find where upgradeDescription should be (meaning I don't even know where to insert it).

[2019-12-04 23:55] MarileeTurscak-MSFT commented on #44093
@blouwagie
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-04 23:55] lorenzobrito commented on #43551
Please dont closed. I follow this documentation and does not work. So, update the documentation.
In the image, is the same as yours.
More than 24 hours and the rule is not applied
http://www.lorenzobrito.com/ is not moving to
https://www.lorenzobrito.com/
https://lorenzostaticsite.blob.core.windows.net/images/ruleengine.PNG?sp=r&st=2019-12-02T15:59:18Z&se=2022-04-09T22:59:18Z&spr=https&sv=2019-02-

[2019-12-05 00:02] Karishma-Tiwari-MSFT commented on #43893
This error may occur if the Windows Software Licensing Rearm program has run more than three times in a single Windows image. Please go through this article with the steps to follow when this error occurs:

Let me know if you are still seeing issues.

[2019-12-05 00:08] JimacoMS3 commented on #39810
#re-assign JimacoMS3

[2019-12-05 00:13] JimacoMS3 commented on #43523
#reassign @JimacoMS3

[2019-12-05 00:15] MarileeTurscak-MSFT commented on #44069
@rfoust I think this is a good point. You can actually change it through Powershell using 'Set-AzureADUser' or `Set-MsolUser`, but can't change it through the portal or through AD Connect.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/12381567-update-usertype-from-portal

I made a pull request to clarify this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/97888

[2019-12-05 00:15] #44069 closed

[2019-12-05 00:24] MicrosoftGuyJFlo commented on #44074
OATH tokens are still in preview. We will get the image updated in a future update to the doc.

[2019-12-05 00:25] MicrosoftGuyJFlo commented on #44074
#assign:MicrosoftGuyJFlo

[2019-12-05 00:25] MicrosoftGuyJFlo commented on #44074
#please-close

[2019-12-05 00:25] #44074 closed

[2019-12-05 00:29] Karishma-Tiwari-MSFT commented on #43898
When you create a VM, certificates and keys are stored in the protected /var/lib/waagent/ directory

Please refer to this doc for more details: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server

[2019-12-05 00:31] Alberto-Vega-MSFT commented on #44081
@maxbog Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 00:33] MicrosoftGuyJFlo commented on #44060
Thanks for the feedback @jm15502 I have forwarded your comment to the product team who owns the feature.

[2019-12-05 00:39] jispar commented on #44026
@skish We are currently onboarding **Azure Resource Manager** to Service Tag. You can expect this tag to show up in the first half of 2020 (more granular ETA is TBD).

[2019-12-05 00:43] MarileeTurscak-MSFT commented on #43552
@1993Saurabh out of curiosity what page layout version are you using?

[2019-12-05 00:49] Karishma-Tiwari-MSFT commented on #43984
I have created a PR with the updates. Changes will be live in few hours.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/97893

[2019-12-05 00:49] #43984 closed

[2019-12-05 01:07] dlepow commented on #43627
@JuneZhao - These examples are very helpful and I'll adjust the docs after I confirm the details with the engineering team

The single-container group example might be an unusual case, since a limit (if set) would need to be exactly equal to the request. Is there a scenario where you'd want to set it differently?
#in-progress

[2019-12-05 01:07] benlaughlin opened #44095 "XeroConnector not returning data for "Employees""
I can connect to Xero with the ADF XeroConnector.

I am given an option to select the "Employees" table.

When I use "Preview Data" the schema for "Employees" is returned however there are no records returned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f04a295-e4b9-a23b-02e7-232aab5db7ce
* Version Independent ID:

[2019-12-05 01:10] MarileeTurscak-MSFT commented on #43934
@TKO77

I got a new response from the PG that all modern authentication clients will work with SAML IdP. (They count as web-capable clients that can service a modern auth redirect.)

The documentation also says,
"Web-based clients such as Outlook Web Access and SharePoint Online", which implies modern auth.

So everything should work.

[2019-12-05 01:10] #43934 closed

[2019-12-05 01:13] JimacoMS3 commented on #43523
Hi @iancraig45,

I just tried this in CloudShell in a subscription that has multiple resource groups. The command works for me w/o specifying the resource group parameter. Just to be sure, I used it to create devices on hubs in different resource groups within the same subscription. I didn't have to specify the resource group.

What's the version of your Azure CLI IoT Extension(azure-cli-iot-ext)?

[2019-12-05 01:13] TKO77 commented on #43934
Great! thanks for verifying

[2019-12-05 01:13] cesher commented on #43911
As @KranthiPakala-MSFT stated, Azure Data Factory does not have any control over the way customer or other services write into Azure Storage or ADLS. Some services, like Databricks, will first create an empty file/blob and then upload data into this file/blob. From Storage and ADLS perspectives, this always counts as two distinct events: one of these events will contain a "contentLength" property

[2019-12-05 01:14] DBtheDBA commented on #12839
Please continue to reconsider this design constraint in your model.  If it is best practice to store the restore point collection in a different RG, then please allow this to be a configurable item.

[2019-12-05 01:15] MarileeTurscak-MSFT commented on #44087
@javerdej
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-05 01:18] MarileeTurscak-MSFT commented on #44087
I made a pull request to update this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/97895

[2019-12-05 01:18] #44087 closed

[2019-12-05 01:19] MarileeTurscak-MSFT commented on #44075
@johntchoi
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-05 01:21] PaulVipond opened #44097 "Linux App Service Plan?"
It's not clear whether some or all of this information applies to a Linux app service plan. Can this be clarified, and additional advice given for a Linux app service plan where necessary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e6469b-0c90-c4ba-cf41-354ea4919ea2
* Version Independent ID: 80944b77-6b15-5f0b-53

[2019-12-05 01:23] benjamminhansen opened #44098 "Virtual GPUs"
Will the Body Tracking application and functionality work if ran on virtual NVIDIA GPU's like ones hosted in Azure Cloud? We need to use our application on many clients with a range of different machines, but many don't have a compatible NVIDIA GPU.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b679a0f-1dd5-60dd-b6e2

[2019-12-05 01:24] MartinJaffer-MSFT commented on #43899
@adetayorabiu last week, a feature was eables which saves all events received in a queue. This means that even when the volume of events is really large, eventually the trigger will process all of the events. I say eventually, because the events are processed in batches of 50 from the queue. So while eventually we will process all events, getting through the entire queue could take some time.

To

[2019-12-05 01:26] #44014 closed

[2019-12-05 01:57] MashaMSFT commented on #44082
Hi @jpvajrala , thanks again for contacting Microsoft! When the template is deployed, it queries the NIC of the VM and receives a list of available IP addresses. One of these IP addresses is chosen and used for the static cluster IP address.

I hope that helps and please let me know if you have any additional questions? If not, we will proceed to close out this Git Issue in a few business days.

T

[2019-12-05 02:16] KrishnaG-MSFT commented on #44074
@MicrosoftGuyJFlo Thanks for the quick response. :+1:

[2019-12-05 02:20] KrishnaG-MSFT commented on #44078
@bandersmsft Thanks for the quick response. :+1:

[2019-12-05 02:21] iancraig45 commented on #43523
Thank you Jimaco,

The version of my azure-cli-iot-ext is 0.8.6 as detailed below.

Is this causing the error? I downloaded the extension last week, do I need to force it to your version?

Thanks for the help!

azure-cli                         2.0.77

command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry

[2019-12-05 02:22] SnehaAgrawal-MSFT commented on #44097
@PaulVipond Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 02:23] AshokPeddakotla-MSFT commented on #44053
@gamullen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-05 02:26] JuneZhao commented on #43627
@dlepow hi  acutually it is one of my customers who want to have this funtion, it is similar to k8s pod function that the requests is the initial request whereas the limits is when the load is high then  it can adjust to the maximum value.

[2019-12-05 02:36] AshokPeddakotla-MSFT commented on #44048
@git001 Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-05 02:43] jackbond opened #44099 "Range configuration"
I realize this is preview, and it's definitely headed in the right direction, but please tell me this isn't how it's going to work post-preview...

"Containers can then scale instantly based on the workload needs within the 0.1*Tmax &lt; T &lt; Tmax range. "

As it stands, developers will still need to write cost saving logic to throttle databases all the way back down to 4000 RU/s (the min) durin

[2019-12-05 02:49] AshokPeddakotla-MSFT commented on #43818
@levi106 Here is the documentation: [Device Authentication using X.509 CA Certificates](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-x509ca-overview#how-to-register-the-x509-ca-certificate-to-iot-hub) that answers all of your queries regarding which files to upload and use intermediate certificates.

Please let me know if you need further help.

[2019-12-05 02:56] AshokPeddakotla-MSFT commented on #44058
@mikegoatly Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 03:05] AshokPeddakotla-MSFT commented on #44098
@benjamminhansen Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 03:06] YutongTie-MSFT commented on #44040
@AshokPeddakotla-MSFT  Hi Ashok, I think Azure Cognitive Search is a part of Azure Search rather than Cognitive Service. Please check. Thanks.

[2019-12-05 03:07] AshokPeddakotla-MSFT commented on #44095
@benlaughlin Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-05 03:08] DixitArora-MSFT commented on #44083
Hi @steamwings Thanks for your feedback. We will review and update as appropriate.

[2019-12-05 03:08] AshokPeddakotla-MSFT commented on #44040
@YutongTie-MSFT Thanks! will re-route. Sorry for the confusion.

[2019-12-05 03:10] MartinJaffer-MSFT commented on #44045
Thank you for bringing this to our attention @algattik .  I have begun to repro the issue.  What Databricks version are you using?

This test used only Databricks, not Data Factory.  Spark 2.4.3 Scala 2.11
![image](https://user-images.githubusercontent.com/46612670/70200843-a0c93580-16c9-11ea-99b0-9936e1ed13a1.png)

[2019-12-05 03:17] MartinJaffer-MSFT commented on #44045
The same notbeook above tested from Data Factory showed both variations recorded input.

[2019-12-05 03:37] geeknoid opened #44100 "Broken markdown"
Complete [part 1 of the Visual Studio quickstart][./functions-create-first-function-vs-code.md].

should be:

Complete [part 1 of the Visual Studio quickstart](./functions-create-first-function-vs-code.md).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c557865-c800-2846-1d10-003f2c16213b
* Version Independent ID: a30

[2019-12-05 04:07] benlaughlin commented on #44095
Hey @AshokPeddakotla-MSFT , the document I followed is here: https://docs.microsoft.com/en-us/azure/data-factory/connector-xero

The document says it supports "All Xero tables" but I wonder if the limitation is related to the api hitting the global Employees endpoint rather than the region specific endpoint as described here:

https://developer.xero.com/documentation/api/employees

[2019-12-05 04:07] dcbrown16 opened #44101 "Individual DB IP address"
Does this work like Azure SQL DB, where my individual DB would be assigned an IP address that could possibly change behind the gateway? i.e., if we nslookup the DB's FQDN, is that providing a useful IP address for anything?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4a18df-c6ba-5138-733c-822794708561
* Version In

[2019-12-05 04:09] tgjaikish opened #44102 "Broken link"
"Managed Web Application (IaaS) with Azure management services" link is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2feb575-c2d3-fbf9-4f38-8dd283e1ec2c
* Version Independent ID: 80164858-de0a-5977-954e-4ce7e9eb0dbf
* Content: [Update resources in Azure managed applications](https://docs.microsoft.com/en-us/a

[2019-12-05 04:13] AshokPeddakotla-MSFT commented on #44095
Thanks for sharing the link. We are currently investigating and will update you shortly.

[2019-12-05 04:15] dcbrown16 opened #44103 "Manual backups - indefinite retention?"
The commands for manual backup don't take a retention parameter, and you can take a manual backup when you have only set up a storage account. Per internal confirmation, it seems that this means that manual backups are retained indefinitely (as opposed to the retention you can explicitly set for scheduled backups).
Please confirm, and add this information to the document if confirmed.

---
#### Do

[2019-12-05 04:15] AshokPeddakotla-MSFT commented on #43906
@brjohnstmsft Please review the PR and update the doc as appropriate.

[2019-12-05 04:15] dcbrown16 commented on #44103
You can contact me at v-dibr internally for more background if needed.

[2019-12-05 04:19] AshokPeddakotla-MSFT commented on #44091
@shalosi Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 04:25] tx5westmt opened #44104 "Clarify Access Controls Steps Required Text/Image"
Section: App-based or compliant device policy for Exchange Online and SharePoint Online, Step 2 - Configure an Azure AD Conditional Access policy for Exchange Online with Active Sync (EAS), Bullet 5. As Access controls, you need to have Require approved client app (preview) selected. (https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/app-based-conditional-access#configurat

[2019-12-05 04:33] SnehaAgrawal-MSFT commented on #44086
@drdamour Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 04:33] AshokPeddakotla-MSFT commented on #44066
@Mirend Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 04:34] SnehaAgrawal-MSFT commented on #44072
@daltonks Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 04:35] AshokPeddakotla-MSFT commented on #44080
@dmakogon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-05 04:36] SnehaAgrawal-MSFT commented on #44103
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 04:37] BrianMinister opened #44105 "Missing information when using new project from Core 3.1"
AzureServiceTokenProvider; is not a type that is available. DefaultKeyVaultSecretManager also fails.

Fixed with providing instructions to add the following usings:
 1. `using Microsoft.Extensions.Configuration.AzureKeyVault;`
 2.  `using Microsoft.Azure.Services.AppAuthentication;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-12-05 04:38] SwathiDhanwada-MSFT commented on #43709
@vikaskanchan Any update on the issue?

[2019-12-05 04:39] wankostar opened #44106 "Can Av2-Series use "Premium storage"?"
Hi, team!
This document states that Av2-Series uses “Premium Storage”.
But i think that it can not using "premium storage".
Would you tell me which is the correct and details of Av2-series?

&gt;Premium Storage: Not Supported
&gt;Premium Storage caching: Not Supported
&gt;Av2-Series sizes run on the Intel® Xeon® 8171M 2.1GHz (Skylake) or the the Intel® Xeon® E5-2673 v4 2.3 GHz (Broadwell) or the I

[2019-12-05 04:41] AshokPeddakotla-MSFT commented on #44073
@jkeane Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 04:47] SumanthMarigowda-MSFT commented on #43620
@GFoley83 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 04:47] #43620 closed

[2019-12-05 04:48] SumanthMarigowda-MSFT commented on #43806
@igormusinov When you say same storage account are you using the same share as well? If so the difference is probably an inefficient copy/IO process. Azcopy is multi-threaded but the other test you are doing could be single threaded.

Are you using premium files? If so how big did you provision the share?

What type of IO are you doing? Using a particular copy tool?

[2019-12-05 05:02] KalyanChanumolu-MSFT commented on #44099
@jackbond Thank you for the detailed feedback.
When containers are configured in autopilot mode, they scale down to minimum throughput when not in use without additional work from the developer.

I believe you are requesting for a feature to configure the lower bound value to be .05 or 0.025 instead of  0.1*Tmax.

Tagging @markjbrown for info.

We actively listen to customer feedback and prioritiz

[2019-12-05 05:02] #44099 closed

[2019-12-05 05:07] PramodValavala-MSFT commented on #44100
@geeknoid Thanks for the feedback! We will work up a PR to address this.

[2019-12-05 05:10] jackbond commented on #44099
Actually, I don't want the lower bound to be a ratio at all. Ideally, we could set the lower bound to 100, and an upper bound to 500,000. I have lots of test databases that sit idle for weeks, perhaps even months. If the cloud is pay as you go (think functions), why isn't Cosmos? I understand paying some sort of minimum, but even the existing 400RU seems a bit pricey.

[2019-12-05 05:12] SumanthMarigowda-MSFT commented on #44066
@Mirend Thanks for the feedback! I have assigned the issue to the content author to investigate further review

[2019-12-05 05:15] wankostar opened #44108 "Is "Av2-series" being same speck with "DSv2-series"?"
Hi, team.
I understand that sentences in the Av2 series look similar to sentences in the Dsv2 series.
Please tell me if my understanding is wrong.

&gt;Av2-series
&gt;Av2-Series sizes run on the Intel® Xeon® 8171M 2.1GHz (Skylake) or the the Intel® Xeon® E5-2673 v4 2.3 GHz (Broadwell) or the Intel® Xeon® E5-2673 v3 2.4 GHz (Haswell) processors with Intel Turbo Boost Technology 2.0 and use premium

[2019-12-05 05:16] SumanthMarigowda-MSFT commented on #44084
@nickhopkins11 Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-05 05:21] xiaoyvr commented on #43911
By setting it this way, we got two events, the pipeline will be triggered twice. It does not solve our problem. I couldn't think of any way around this since we have no control over how the _SUCCESS file is created as well. It looks like Databricks also do FlushAndClose even for empty files.

Thank you for the explanation, I understand the problem better now. Still, from the semantic point of view

[2019-12-05 05:25] algattik commented on #44045
Yes, getArgument() still works. It's just deprecated in Scala/Python (https://docs.databricks.com/dev-tools/databricks-utils.html#widget-utilities), so we should promote dbutils.widgets.get() in docs.

It's not deprecated when used as a UDF in SQL though (https://docs.databricks.com/notebooks/widgets.html#widgets-in-sql)

[2019-12-05 05:27] KalyanChanumolu-MSFT commented on #43804
@SpikePy I hope you were able to get this resolved.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-05 05:27] #43804 closed

[2019-12-05 05:31] souravmishra-msft commented on #44105
@BrianMinister, Thank you for sharing the query. We are looking into this and will get back to you soon.

[2019-12-05 05:34] souravmishra-msft commented on #44104
@tx5westmt, Thank you for pointing this out. We are reviewing this currently and will get back to you soon.

[2019-12-05 05:35] YutongTie-MSFT commented on #44062
@philiplai Hi, thanks for reaching out to us. I just tried to reproduce your error by following the document workflow step by step. But there is no error. Could you please check if there any other experiments or compute target existing already? Since the document's workflow is correct, I highly recommend you to post your product question to [forum](https://social.msdn.microsoft.com/Forums/en-US/ho

[2019-12-05 05:35] #44100 closed

[2019-12-05 05:41] ananthradhakrishnan commented on #43803
Thanks for reaching out!
Unfortunately, I am no longer working on this product area. Looping in @ofirmanor & @rboucher  who would be the right point-of-contacts going forward.

But to my understanding, this behavior is by design. I believe the suggestion of updating the documentation to call this out would be the right next step.

[2019-12-05 05:47] soorajpayyoor opened #44109 "Salt is given as different values in XML and parameter description and example"
The Salt value specified in the example and the notes of parameter matches but the xml  contains the claim type as email which doesn't match with the example provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9161f948-7c8c-0a57-19ad-1ae731fd65c8
* Version Independent ID: 77b6ea7f-e2fe-a7b2-60fa-80b198413ee8
* Con

[2019-12-05 06:06] SnehaAgrawal-MSFT commented on #44097
@PaulVipond Thanks again for the feedback! You may refer to [App Service Linux Documentation.](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-nodejs-best-practices-and-troubleshoot-guide?toc=%2fazure%2fapp-service%2fcontainers%2ftoc.json#iisnode-configuration)

Let me know if you have any other question on this.

[2019-12-05 06:09] rboucher commented on #42981
#please-close Article updated

[2019-12-05 06:32] SubhashVasarapu-MSFT commented on #43856
@yuharucan , I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2019-12-05 06:35] neeleshray-msft commented on #44109
@soorajpayyoor  Thank you for the feedback. We will review and update accordingly.

[2019-12-05 06:38] soham-bigdata opened #44110 "Step 3 b needs fixing. Show ALL the possible Sources ( Data Source Palette to choose from)"
In Step 3 b - don't directly say "Select Azure Blob Storage from the gallery, and then select Continue." . Instead please show that they can select a source from Azure or even on-prem sources like "Files" - FTP, SFTP etc. Show that Data Source Palette. And then select FTP or Azure Blob .. thats fine.  The usual pattern from customers is "how to get data from on-prem or other sources to cloud" - so

[2019-12-05 06:40] SwathiDhanwada-MSFT commented on #43691
@jasonracey Thanks for reaching out! AFAIK, currently your requirement is not possible via Log alerts. Here is another workaround which I would suggest for your requirement.

You can use Azure Automation Runbooks where using Powershell commands you can retrieve the results of your query and then link the Runbook to a schedule. Below are some of the links that will help you achieve your requirement

[2019-12-05 06:53] ManojReddy-MSFT commented on #43860
@sandytsang Application Administrator role actually has an exception for permissions related to Graph.

**This role also grants the ability to consent to delegated permissions and application permissions, with the exception of permissions on the Microsoft Graph and Azure AD Graph**

Ref: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#applica

[2019-12-05 06:56] ManojReddy-MSFT commented on #41409
@FunkEinstein I agree with your concern. This part of the SAML specification is currently not supported.
However, our product team is working on this and this will be supported in the future. I do not have any ETA's regarding this.

Submitting a feature request will let the product team prioritize this over other features.

[2019-12-05 07:01] subashsivaji opened #44111 "Need better navigation"
Each topic within this page should have a link at the top or on the side - instead of scrolling. Example like following which was taken from databricks docs.

![image](https://user-images.githubusercontent.com/10966624/70211447-fedb3480-172c-11ea-85b8-e39f90e226f5.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa9

[2019-12-05 07:11] SnehaAgrawal-MSFT commented on #44047
@Glenlake Thanks again for the feedback! As this feature is in preview there are some limitations for this, and You are not allowed set routes on the traffic coming from your app into your VNet.

[2019-12-05 07:47] bertrandpons commented on #43963
@MonikaReddy-MSFT Thank you for your detailed answer. Assume I want to have a .NET Core stack, how would I specify it in the ARM template?

[2019-12-05 08:01] #44026 closed

[2019-12-05 08:11] ChiragMishra-MSFT commented on #44110
@soham-bigdata Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-05 08:12] ChiragMishra-MSFT commented on #44111
@subashsivaji Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-05 08:17] RavennMSFT commented on #42225
I dont see what we need to update here. We dont imply that registering a device is sufficient for AAD join or AAD registered devices. Our CA documentation has sufficient details on how device-based CA works

[2019-12-05 08:36] GrantBCU commented on #43888
Thanks, @RyanHill-MSFT.

I think the whole document is really out of date and needs updating. I couldn't even get the final solution to work.

The following line in the `PostTodoItem` method in the .NET backend fails:

```var outcome = await hub.SendTemplateNotificationAsync(templateParams);```

There's nothing in the exception or inner exception except: `The underlying connection was closed: An u

[2019-12-05 08:38] subashsivaji commented on #43978
Please re-open this issue. Facing the same issue, **join** isn't working as per the docs. This is indeed a feedback on the doc - please either update the docs with correct syntax - or close this thread as a product bug.

![image](https://user-images.githubusercontent.com/10966624/70218192-75326380-173a-11ea-9a65-9a5423e0e24c.png)

[2019-12-05 08:44] jakaruna-MSFT commented on #44090
@danluca87
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-05 08:44] jakaruna-MSFT commented on #44090
@rdeltcheva please take care of this issue and update the doc as needed

[2019-12-05 08:45] DixitArora-MSFT commented on #43834
@jordanchang I have not heard back from you. So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 08:45] #43834 closed

[2019-12-05 08:46] DixitArora-MSFT commented on #43889
@sunnypatel So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 08:46] #43889 closed

[2019-12-05 08:48] Sogup commented on #43382
Yes, this limit applies for a backup policy. We recommend creating multiple policies for more than 100VMs for an improved performance.
#please-close

[2019-12-05 08:48] #43382 closed

[2019-12-05 08:52] josch83 commented on #36395
What's the state of this issue? The deployment of an ARM template as it is documented on this page fails because the action property cannot be deserialized. Understandable as the specification does not include that property definition (https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-04-16/scheduledqueryrules).
Anyway:
* The content and sample of this page should be correct

[2019-12-05 08:53] Sogup commented on #12839
Currently No, the naming convention is fixed for RG created by Azure Backup service. We are releasing an update to this in a week where user can update the RG name as per his requirement from the backup policy blade.

[2019-12-05 08:54] Sogup commented on #12839
#please-close

[2019-12-05 08:57] sandytsang commented on #43860
@ManojReddy-MSFT oh. thank you! Can we add this as additional note in this admin consent page?

[2019-12-05 08:58] slavizh opened #44112 "Azure Metrics Alerts and Action rules Clarification"
Metric alerts can only have action groups if they are in the same subscription as the alert itself. As action rules are created for each subscription but can reference action groups in other subscription is it possible:
- To have metric alert in Subscription A
- Have action group in Subscription B
- Create Action rule that filters on metric alerts in Subscription A but reference the action group i

[2019-12-05 09:01] Saggiehaim opened #44113 "Lack of information"
Hey,
This page is showing zero information about Multiple tenants.
There is no information about working with multiple tenants, and right now it looks like a useless option as Azure Sentinel is design to work with one workspace at a time. you can't mange rules, incidents, query or provide a dashboard for multiple tenants.

There is any information about any of this things?

Thanks,
Saggie

---
###

[2019-12-05 09:07] Will-Beninger commented on #30211
@rwike77 the page really doesn't help if you don't know the error code being returned and only have the LogonError to search with. I'm receiving the "FaultDomainRedirect" error through the API and it does not come accompanied with the error code. Is there any way to add the functionality to search on either the code or the LogonError name itself?

[2019-12-05 09:09] neeleshray-msft commented on #43854
@swiftPeter  We will be closing this thread now. Let us know if you need further assistance by re-opening the thread.

[2019-12-05 09:09] #43854 closed

[2019-12-05 09:10] neeleshray-msft commented on #44031
@paddotk  We will be closing this thread now. Let us know if you need further assistance by re-opening the thread.

[2019-12-05 09:10] #44031 closed

[2019-12-05 09:17] syswpit commented on #43735
@jeevansd
Can you tell me what you mean exactly? If you follow this Microsoft doc:

To me, this looks like you have to use _urn:oasis:names:tc:SAML:2.0:ac:classes:PasswordProtectedTransport;urn:oasis:names:tc:SAML:2.0:ac:classes:X509_
if you are using MFA with Azure AD.
However, this does not work with Webex Meetings. I have to use _urn:oasis:names:tc:SAML:2.0:ac:classes:Unspecified;urn:oasis:name

[2019-12-05 09:19] PaulVipond commented on #44097
The link you have given me refers back to this page. Does that mean that all of it applies to Linux App Service Plans including the IIS section at the top? If you meant to link here instead: https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-intro it's not nearly as detailed in terms of troubleshooting.

[2019-12-05 09:25] DixitArora-MSFT commented on #43958
@Expecho Follow this [GitHub issue](https://github.com/Azure/azure-functions-host/issues/4251) . It has been discussed in length in this.

[2019-12-05 09:29] jakaruna-MSFT commented on #44106
@wankostar
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-05 09:30] jakaruna-MSFT commented on #44108
#44106 related issue

[2019-12-05 09:31] jakaruna-MSFT commented on #44108
@wankostar
Thanks for the feedback!

Dsv2  supports premium storage.

We may need to change the doc for Av2-Series

[2019-12-05 09:31] jakaruna-MSFT commented on #44108
@jonbeck7 Please check the doc and update as needed

[2019-12-05 09:35] AlexKeySmith commented on #43757
Cool thanks @DixitArora-MSFT is it recommended to set the value explicitly to 240 seconds if you want the maximum timeout i.e. do you get more sensible errors returned from APIM? Or is it best if you don't want a timeout just to let it happen on the network stack? I suppose I'm wondering should we give ourselves a default 240 seconds timeout?

[2019-12-05 09:37] shashishailaj commented on #43832
@bharathreddy123456 I believe you should able to use email and it would work because Azure AD token would contain username value in UPN format which is like an email address and so the existing token for SSO, which the AAD plugin would pick, would have email value as a logon ID but since JIRA is configured for username instead , the SSO would be failing. I would suggest you to test it in your UAT

[2019-12-05 09:38] jakaruna-MSFT commented on #43868
https://docs.microsoft.com/en-us/microsoftteams/teams-for-vdi

This link has info about the teams support for VDI with limitations.  Full support is coming soon.

In browser it Teams will work well.

[2019-12-05 09:38] jakaruna-MSFT commented on #43868
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-05 09:38] #43868 closed

[2019-12-05 09:40] AshokPeddakotla-MSFT commented on #44018
@ramdsec  Thanks for sharing the link. We are currently investigating and will update you shortly.

[2019-12-05 09:40] jakaruna-MSFT commented on #44001
@shants123 will you be able to address the issue here

[2019-12-05 09:40] DixitArora-MSFT commented on #43757
@AlexKeySmith Setting up explicitly always make more sense. This will always add more information what is happening.

[2019-12-05 09:41] jakaruna-MSFT commented on #44001
@tysonn Can you add your comments about the issue here and suggest the engineer who can own this

[2019-12-05 09:41] AshokPeddakotla-MSFT commented on #43957
@vinod1976 As suggested, If the above suggestions doesn't help, you can report this by following the steps mentioned in the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 09:41] #43957 closed

[2019-12-05 09:43] GrantBCU commented on #43888
Excuse the double post - I've finally got it working and it seems the issue was to do with the security protocol required by the notification hub.

The following code makes it work:

```ServicePointManager.SecurityProtocol = SecurityProtocolType.Ssl3 | SecurityProtocolType.Tls12 | SecurityProtocolType.Tls11 | SecurityProtocolType.Tls;```

I've put this just before creating the notification hub and

[2019-12-05 09:52] KrishnaG-MSFT commented on #44102
@tgjaikish Thanks for the feedback! A PR (Pull Request) in created as mentioned above and the doc will automatically get updated once the open PR is merged.

[2019-12-05 09:59] jspuij opened #44115 "Further clarification on intra-actor concurrency."
The text states that:

This kind of suggests that Actor code runs inside some sort of SynchronizationContext (like UI code) and that scheduling multiple tasks inside the Actor code will guarantee that they are run on that single thread.

This however is not the case and firing a few async methods and awaiting them with Task.WhenAll will queue work on threadpool threads and stuff will run in parall

[2019-12-05 10:03] AshokPeddakotla-MSFT commented on #44101
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 10:04] AshokPeddakotla-MSFT commented on #44113
@Saggiehaim Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-05 10:12] jakaruna-MSFT commented on #43947
I tried docker in docker https://hub.docker.com/_/docker in ACI.
That didnt work.
Our next option is to use containers in azure pipelines  as shown here microsoft/azure-pipelines-agent#2056

[2019-12-05 10:14] SwathiDhanwada-MSFT commented on #43765
Yes @Icarli AFAIK, you understanding is quite correct.
@JnHs your inputs please?

[2019-12-05 10:25] taziki opened #44116 "Small Error Or"
Step 4 URL
https://&lt;\location&gt;.azuredatabricks.net/#secrets/createScope

It Looks More Like this:
https://&lt;\location&gt;.azuredatabricks.net/?o=5880695134086330#secrets/createScope
(This will open a secret scope. The fist above simply adding a #secrets/createScope will give error.

Kid Regards
Tawanda

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-12-05 10:27] MaxBire commented on #34591
+1 for the request. Same problem with Windows machines.

[2019-12-05 10:28] DixitArora-MSFT commented on #44083
@steamwings Just checking if you have gone through these docs . Do let me know if there is any specific information you are looking for.

https://docs.microsoft.com/en-us/azure/devops/pipelines/targets/function-app-container?view=azure-devops&tabs=yaml

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=nodejs

https://docs.microsoft.com/en-us/

[2019-12-05 10:31] ManojReddy-MSFT commented on #43860
@sandytsang I have added a line about this limitation in the doc and submitted a PR. The issue will be updated when the PR gets merged.

[2019-12-05 10:31] jakaruna-MSFT commented on #43715
@lgmorand  thanks for the info.   I will close this issue for now.
Feel free to open new issues when needed

[2019-12-05 10:31] #43715 closed

[2019-12-05 10:31] ManojReddy-MSFT commented on #43697
@roalexan We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-05 10:31] #43697 closed

[2019-12-05 10:32] ManojReddy-MSFT commented on #43412
@adamtki We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-05 10:32] #43412 closed

[2019-12-05 10:33] andrewatfornax commented on #36395
I think it's in "active investigation" @josch83 :-D

[2019-12-05 10:34] ManojReddy-MSFT commented on #43710
@booyaa I am closing this issue for now. I will pass on your feedback about the limitation to the product team.

[2019-12-05 10:34] #43710 closed

[2019-12-05 10:34] AlexKeySmith commented on #43757
Cool thanks @DixitArora-MSFT for the speedy response. Have a nice day.

[2019-12-05 10:36] jonmikeli opened #44117 "Question-Commercial and ready to use devices?"
Hi all,

This is not an issue but I cannot create anything else to post a question.
Is there any list of ready to use devices from known commercial manufacturers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6acaea64-2587-d161-1ce7-053e6ab45967
* Version Independent ID: ae15e7d0-48a7-8982-7c0a-f122b89b5af8
* Content:

[2019-12-05 10:36] jakaruna-MSFT commented on #43857
@rhwilburn Got it. Thanks for the explanation.

I will assign this issue to the content author to investigate further and decide on the doc update.

[2019-12-05 10:38] #43860 closed

[2019-12-05 10:45] sandytsang commented on #43860
Thank you very much!

[2019-12-05 10:50] CHEEKATLAPRADEEP-MSFT commented on #44116
@taziki Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/97924](https://github.com/MicrosoftDocs/azure-docs-pr/pull/97924).
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take

[2019-12-05 10:53] ram-msft commented on #44117
@jonmikeli Thanks for the question. We are investigating the issue and will update you shortly.

[2019-12-05 10:55] SnehaAgrawal-MSFT commented on #43998
@etesor Thanks again for the feedback. We are aware of this and I have been working with the product team internally. You may try the current work around to this by using the older version 2.0.75 or using the Edge builds. https://github.com/Azure/azure-cli#edge-builds

[2019-12-05 10:59] dzejsien opened #44118 "Can't open public.crt for reading, No such file or directory"
When I execute command:

openssl x509 -req -in fabrikam.csr -CA public.crt -CAkey contoso.key -CAcreateserial -out fabrikam.crt -days 365 -sha256

I have an error:

Can't open public.crt for reading, No such file or directory
140424869576008:error:02001002:system library:fopen:No such file or directory:crypto/bio/bss_file.c:69:fopen('public.crt','r')
140424869576008:error:2006D080:BIO routines:BIO

[2019-12-05 11:01] prajyot2909 commented on #38660
I am also facing the same issue do we have any resolution on the above question ?

[2019-12-05 11:07] #44116 closed

[2019-12-05 11:08] SwathiDhanwada-MSFT commented on #44018
@ramdsec  Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours.We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2019-12-05 11:21] AayushiKhandelwal123 commented on #9647
@sethmanheim  there is no answer/code written on the above-shared article explaining how to use RetryExponential class object in QueueClient constructor. It is not even a method of QueueClient class in JAVA SDK.
Also, I am using com.microsoft.azure.servicebus package and have added below dependency in my pom file.
<dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifac

[2019-12-05 11:23] souravmishra-msft commented on #44104
@MicrosoftGuyJFlo, Can you please check this ask and update the images accordingly.

[2019-12-05 11:25] RohitMungi-MSFT commented on #43950
@Larryngolog We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-12-05 11:25] #43950 closed

[2019-12-05 11:26] steamwings commented on #44083
@DixitArora-MSFT The third link does not appear to container information regarding function apps in Docker containers (considering that it also states "Serverless functions run in the Consumption plan" and the whole problem is that that's not true for containerized function apps).
The place that does state what I needed (that containerized function apps cannot use a Consumption plan) is the first

[2019-12-05 11:29] tkumark opened #44119 "Is Azure automation DSC supported Scale Sets"
How does Scale set register with Azure automation DSC? How does this register with Azure automation DSC as it scales in and out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96a48d43-dc10-b334-3774-b72ea10efdb7
* Version Independent ID: e56beb8a-da04-b799-8a04-4bed0b094836
* Content: [Getting started with Azure Autom

[2019-12-05 11:35] Larryngolog commented on #43950
Hello, I was out of office. The example is very simple. I have added a prompt to the question. Then when I test the bot and click on the button then I'm not taken to answer I have added as an answer to the prompt but an answer that bot has decided that will suit this prompt.

For example: I have 2 question:
- How to buy shoes
- How to check order status.

For question "How to buy shoes" I added pr

[2019-12-05 11:42] mariuszo-at-microsoft-com opened #44120 "point 3 information invalid for this connector"
What is described in point 3 does not apply to this connector

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ff6ed5e-5b5c-e516-aeae-c9bf0a0c69c9
* Version Independent ID: 63ecbda4-59e4-343e-e640-1c6be2ce805d
* Content: [Connect Azure AD data to Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/connect-az

[2019-12-05 11:44] mariuszo-at-microsoft-com opened #44121 "missing information about "Create incidents" option"
No information about "Create incidents" option of this connector, the one that is incorrectly in point 3 here
https://docs.microsoft.com/en-us/azure/sentinel/connect-azure-active-directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad00a028-6eba-2fd4-3c97-d3a38e7cee6d
* Version Independent ID: 0a9a8642-d712-6000-bb

[2019-12-05 11:45] shashishailaj commented on #43384
@RobSiklos Seems like a UX bug. As a workaround , I would suggest you to go to the **`replyUrlsWithType`** section with the Manifest you should be able to add the custom redirect URI **`urn:ietf:wg:oauth:2.0:oob`** directly within the manifest code.

![image](https://user-images.githubusercontent.com/532022/70230624-bb111b00-177e-11ea-92f6-89d47f3840e4.png)

![image](https://user-images.githubuser

[2019-12-05 11:45] mariuszo-at-microsoft-com opened #44122 "missing information about "Create incidents" option"
No information about "Create incidents" option of this connector, the one that is incorrectly in point 3 here
https://docs.microsoft.com/en-us/azure/sentinel/connect-azure-active-directory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1545d56e-b946-cdf3-8507-31798a67ca9d
* Version Independent ID: 2bcb937a-a37d-562f-99

[2019-12-05 11:48] kspoojary opened #44123 "Does EventGridTrigger works in App service plan and ASE?"
When virtual network is integrated with function app, does event grid trigger works? Is there any specific IP address that we can white-list in the function app IP restrictions or is there any Service tag which can be configured Inbound rules in NSG?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc0b34e2-0eb8-fe89-300

[2019-12-05 12:12] br0cky opened #44124 "No longer working"
Hi, this is no longer working. You receive error 'Could not auto-detect the runtime stack of your app, see 'https://go.microsoft.com/fwlink/?linkid=2109470' for more information'

Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-05

[2019-12-05 12:13] wmekal-pgs opened #44125 "Link to page about usage in ASP.NET Core?"
As I guess this page is not about ASP.NET CORE?

Maybe it's worth to at least give some links?
Like:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-2.2
https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-12-05 12:13] AlexKeySmith commented on #35549
Hi, I was wondering if there has been an update on whether this is a supported mechanism for webapps?

[2019-12-05 12:15] #43958 closed

[2019-12-05 12:18] 1993Saurabh commented on #43552
Hi @ @MarileeTurscak-MSFT I am using page layout version 1.0.0 but achieving the functionality using custom policies.

[2019-12-05 12:23] zubairshahzad opened #44126 "Detection failed : Resource not found"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-12-05 12:23] Berndinox commented on #40513
Hy, i got the same issue..

`az aks create --resource-group K8s-RG --name K8s --network-plugin azure --vnet-subnet-id 11.2.0.0/16 --docker-bridge-address 172.17.0.1/16 --dns-service-ip 11.1.0.10 --service-cidr 11.1.0.0/16  --kubernetes-version 1.14.8 --node-vm-size B2s --node-count 2 --location northeurope --vm-set-type VirtualMachineScaleSets --load-balancer-sku standard --load-balancer-managed-o

[2019-12-05 12:24] zubairshahzad commented on #44126
Detection failed : Resource not found
aftter  creating  face app  using  endpoint url  its giving error Detection failed : Resource not found
but for test  endurl its fine

[2019-12-05 12:31] haymansfield opened #44127 "RHEL 7 versions"
RHEL 7 is currently at 7.7 whereas the document only mentions support for 7.2 and 7.3. Are later versions of RHEL 7 supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7783cfe9-0508-9a73-3923-597cbc523cda
* Version Independent ID: e2dba78f-0f1a-20d1-54d8-f30084328bb0
* Content: [Container Monitoring solution in A

[2019-12-05 12:37] Glenlake commented on #44047
Thanks for your response, but it does not clarify things for me. You say "you are not allowed set routes on the traffic from your app into you VNet". Note that For Gateway Required VNet integration, there is an option called "Add Routes". That is not the capability i am talking about here... i'm specifically asking if UDRs applied to the VNet subnet are ignored, and only system routes are consider

[2019-12-05 12:39] treimers commented on #40513
Hi Berndinox,

did you try to follow the AKS walk through? And did it work?

What I am wondering is your parameter "--vnet-subnet-id 11.2.0.0/16". Is this really correct?

Cheers
Thorsten

[2019-12-05 12:42] jakaruna-MSFT commented on #43816
@bobbytreed if this issue is true, Its good to add this info to the document.

Please add your views

[2019-12-05 12:47] jakaruna-MSFT commented on #43816
@wkasdorp Lets take this example URL https://someAcct.blob.core.windows.net/aContainer/scripts/myscript.ps1

In this url, files will be downloaded from "scripts". That is leaving the first folder (aContainer) after hostname .

And the default script execution path will be outside scripts folder only.

Thats mentioned [here](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-

[2019-12-05 12:53] cornelcreanga commented on #43491
@mamccrea - any estimation about that?

[2019-12-05 12:57] SumanthMarigowda-MSFT commented on #43894
@dwrightpulse Thanks for bringing this to our attention. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-05 13:01] Berndinox commented on #40513
@treimers Hej, thanks for the fast reposonse.

Indeed, vnet-subnet-id looks malformed, will look into it.
_Update coming.._

[2019-12-05 13:06] bdschaap commented on #42981
I appreciate the updated docs.  One last question.  What does the 59.75 in the legend indicate?

[2019-12-05 13:08] LukeCarrier commented on #42293
Why was this ticket closed? No attempt has been made to address @mikew1927's point: that the documentation doesn't explicitly say that the service is generally available, nor outline a plan for availability in other regions.

This hasn't been resolved, @TravisCragg-MSFT.

[2019-12-05 13:16] KalyanChanumolu-MSFT commented on #44125
@wmekal-pgs Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-05 13:22] Absoblogginlutely commented on #41233
I'm getting a third type of error that states "Baseline Protection policies are a legacy experience which is being deprecated. It looks like you haven't enabled any Baseline Protection policies, so they will be removed from your tenant. This will not impact your existing workflows. If you're looking to enable a security policy for your organization, we recommend enabling Security defaults or confi

[2019-12-05 13:47] levi106 commented on #43818
Isn't the document you're referring to about #2 or #3 of the following scenario?
What i'd like to know is whether I need to upload CA certificate and proof of possession for #1.

1. Purchase X.509 certificates from a root certificate authority (CA). This method is recommended for production environments.
2. Create your own X.509 certificates using a third-party tool such as OpenSSL. This technique

[2019-12-05 13:47] diberry commented on #43858
This will be updated in the next 24 hours. #please-close

[2019-12-05 13:47] #43858 closed

[2019-12-05 13:48] pemar-MSFT opened #44128 "Outdated source code"
Hello. I was trying to follow this tutorial but was not able to do so when it got to the part of running the app. I have raised an [Issue on the respective GitHub](https://github.com/Azure/azure-stream-analytics/issues/73), but felt I should leave this here for awareness (and to avoid duplicated Issue entries).

Please feel free to ping me directly as I'm internal. Cheers.

---
#### Document Detai

[2019-12-05 13:48] dzejsien commented on #44118
Ofc, there should be contoso.csr not public.csr - but you should fix it in the article.

[2019-12-05 13:50] diberry commented on #42890
@xieofxie Does this answer your question?

[2019-12-05 13:51] vbrodsky opened #44129 "Very helpful!"
I have started building a serverless api in python and find this page very helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d955d169-8fb8-c511-8911-3e49f95c5ce6
* Version Independent ID: 8a3d927c-51ce-d7d4-e5d1-acd928826db2
* Content: [Python developer reference for Azure Functions](https://docs.microsoft.com/en-

[2019-12-05 14:15] andyturn31 opened #44130 "Create the image using your generalized OS VHD."
The powershell commands in the section 'Create a managed image from the uploaded VHD' don't seem to be correct for a VHD that has been uploaded straight into a managed disk.
Specifically:
-BlobUri $urlOfUploadedImageVhd `

The vhd in the managed disk doesn't have a URL.
How do i create an image from a generalized VHD uploaded directly into a managed disk?

Thanks

---
#### Document Details

⚠ *Do

[2019-12-05 14:28] solita-tvoipio opened #44131 "Quartz cron syntax"
The job scheduling documentation should refer to http://www.quartz-scheduler.org/documentation/quartz-2.1.x/tutorials/crontrigger.html like the error message which pops up when trying to insert an invalid "Cron" expression:

Request failed: INVALID_PARAMETER_VALUE: Invalid quartz_cron_expression: 0 30 2,7,11,15 * * *. Databricks uses Quartz cron syntax, which is different from the standard cron sy

[2019-12-05 14:29] solita-tvoipio opened #44132 "Quartz cron syntax"
The job scheduling documentation (esp. the "CronSchedule" data structure) should refer to http://www.quartz-scheduler.org/documentation/quartz-2.1.x/tutorials/crontrigger.html like the error message which pops up when trying to insert an invalid "Cron" expression:

Request failed: INVALID_PARAMETER_VALUE: Invalid quartz_cron_expression: 0 30 2,7,11,15 * * *. Databricks uses Quartz cron syntax, whi

[2019-12-05 14:37] roalexan commented on #43697
Sounds good. Haven't had a chance to verify yet, but will do so soon and respond if I continue to hit any issues - thanks.

[2019-12-05 14:38] DixitArora-MSFT commented on #44129
@vbrodsky Thanks for providing the feedback . Just checking if there is any question you might have.

[2019-12-05 14:38] MGoedtel commented on #44127
@haymansfield the article is up-to-date regarding the minor versions of REHL 7 currently supported by this solution. If things change, the article will be updated accordingly.  #please-close

[2019-12-05 14:38] #44127 closed

[2019-12-05 14:53] MonikaReddy-MSFT commented on #44124
@br0cky ,
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-05 15:01] jrshorte commented on #25569
I found that I couldn't modify the default claims added by the gallery app to accommodate the needs of bomgar/beyondtrust.  I had to re-add it as a non-gallery app, modify the Unique User Identifier (Name ID) to be persistent. and then modify the additional claims to to remove the namespace URI from each and leave me with this list:  Email->user.mail, FirstName->user.givenname, LastName->user.surn

[2019-12-05 15:15] idbanham opened #44133 "Install Script Fails"
For point 2 of the installation process "Extract the contents of the package and navigate to the /Install folder." There is no /Install folder. InstallSecurityAgent.sh is found in /Azure-IoT-Security-Agent-CS-master/src/Modules/Security/Linux/Install folder. However, if you run if from there the installation fails with "
./InstallSecurityAgent.sh: line 183: /home/xxx/Azure-IoT-Security-Agent-CS-ma

[2019-12-05 15:15] jmelosegui opened #44134 "Cannot create a Geo-Replication if sql server are in different subscriptions"
Based on [this document](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-active-geo-replication-portal), if I need to configure geo-replication between two sql servers in different subsciriptions I have two options (and I quote)

Following the document for the TSQL option don't see any way to provide the target sql server subscription.

this is the sql I am running from the source

[2019-12-05 15:19] AshokPeddakotla-MSFT commented on #44112
@slavizh Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 15:19] #43320 closed

[2019-12-05 15:26] DixitArora-MSFT commented on #44123
@kspoojary Thanks for your feedback. We will review and update as appropriate.

[2019-12-05 15:31] adrianwells commented on #44074
@MicrosoftGuyJFlo and @KrishnaG-MSFT thanks for reply. Is there an ETA when OATH tokens become GA?

[2019-12-05 15:35] NavtejSaini-MSFT commented on #43367
@kevinvngo Please check and respond to users feedback.

[2019-12-05 15:47] AshokPeddakotla-MSFT commented on #44126
@zubairshahzad Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-05 15:47] MonikaReddy-MSFT commented on #43166
@MS-jgol - Thank you for providing the information.
@prabhushrikant - I hope the solution provided by @MS-jgol  was helpful. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 15:47] #43166 closed

[2019-12-05 15:51] KrishnaG-MSFT commented on #44127
@MGoedtel Thanks for the super quick response. :+1:

[2019-12-05 15:54] amartin1911 opened #44136 "Testing strategy for BlobTriggered functions?"
So far I've only found this resource https://stackoverflow.com/questions/57777066/how-to-unit-test-azure-functions-blob-storage-trigger-option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7ea-5f0b-1aefb8b219fa
* Version Independent ID: 6c676eb8-581c-c5c5-0047-c7a7531fa423
* Content: [Testing Azure Func

[2019-12-05 16:06] chasdso commented on #24233
@ecfan  I have a similar need but a tad more complex.  We have a complex ADF pipeline run that ingests data, and at conclusion I have logicapps that fire to rebuild the Analysis Services Models.  All days except Saturday mornings, I need the logicapps to make one call to the AAS services (has a partition call), then on Saturday mornings, I need it to do a different AAS refresh call (full refresh o

[2019-12-05 16:07] Banani-Rath opened #44137 "This is a new issue to test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3fb7da-5483-160d-1781-d4abff9d798d
* Version Independent ID: d5e51b7e-7f34-c7df-ce4f-ee4bf5c8059a
* Content: [Consistency levels in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels)
* Content Source: [articles/cos

[2019-12-05 16:10] Banani-Rath commented on #44137
This is really a good article.

[2019-12-05 16:12] mamccrea commented on #44131
This appears to be a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/44132. We will close this issue and continue the discussion in https://github.com/MicrosoftDocs/azure-docs/issues/44132. If the issues are different, please reopen this issue.

#please-close

[2019-12-05 16:12] #44131 closed

[2019-12-05 16:16] #44137 closed

[2019-12-05 16:16] MonikaReddy-MSFT commented on #43963
Hello @bertrandpons ,
This is how you specify it using ARM Template.

While creating the WebApp, Ensure that you select Runtime Stack as .NET Core and while creating the webapp, select the Download template for Automation as shown below.
![WEBAPP](https://user-images.githubusercontent.com/47833949/70253157-af0e6480-1750-11ea-9bd9-e074a5ee89f0.png)

And Here is the sample code for it.

[code]

[2019-12-05 16:17] pstasik commented on #42876
Is there supposed to be a link for "Create the AD DS Connector account"?  We never use Express Settings and need to know what delegated permissions this account requires.

[2019-12-05 16:17] pstasik commented on #42876
Found the relevant link:
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account

[2019-12-05 16:18] mamccrea commented on #44111
Thank you for your feedback @subashsivaji! Were are currently working on breaking up these lengthy articles for better navigation and readability.

[2019-12-05 16:20] SubhashVasarapu-MSFT commented on #44118
@dzejsien ,  We are looking into this query and will update you as soon as possible.

[2019-12-05 16:20] MonikaReddy-MSFT commented on #43963
@bertrandpons , clicked on the close by mistake.
Again feel free to reach back out with any questions you might have regarding this matter.

[2019-12-05 16:25] mamccrea commented on #43732
Thanks for the feedback, @isamllr. We are currently reviewing your request.

[2019-12-05 16:28] mamccrea commented on #43679
Thanks for your feedback @njsee. We are currently reviewing your request.

[2019-12-05 16:29] billmath commented on #41822
#please-close

[2019-12-05 16:29] #41822 closed

[2019-12-05 16:34] NavtejSaini-MSFT commented on #44134
@jmelosegui We are checking and will get back to you.

[2019-12-05 16:36] billmath commented on #42371
@KSchlobohm Thank you for the feedback.  I have created a work item to document this behavior.  Unfortunately I don't have an ETA on when this update will go in, I will update this issue once it is live. At this point, we can go ahead and close it. Thanks!

#please-close

[2019-12-05 16:36] #42371 closed

[2019-12-05 16:37] billmath commented on #42372
I have already created a work item for this issue.  This is a duplicate.

#please-close

[2019-12-05 16:37] #42372 closed

[2019-12-05 16:39] NavtejSaini-MSFT commented on #44137
@Banani-Rath Thanks for the feedback. Much appreciated.

[2019-12-05 16:41] JnHs commented on #44058
Hi @mikegoatly - The location is for the deployment resource itself, that needs to target an Azure region. The resources being created as part of the deployment will not be bound to this location, nor any coupling to the actual deployment.

[2019-12-05 16:44] mamccrea commented on #43813
Thanks for pointing that out @wizaster. I have made the update and the changes will go live soon. #please-close

[2019-12-05 16:44] #43813 closed

[2019-12-05 16:46] #43634 closed

[2019-12-05 16:50] kwyss88 opened #44138 "ADF Copy Activity error mapping JSON to SQL"
I have an Azure Data Factory Copy Activity that is using a REST request to elastic search as the Source and attempting to map the response to a SQL table as the Sink. Everything works fine except when it attempts to map the `data` field that contains the dynamic JSON. I get the following error:

Here's an example of my mapping configuration:
[code]
The JSON in the `data` object is dynamic so I'm u

[2019-12-05 16:52] billmath commented on #42876
Yes, this is documented here:  https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-configure-ad-ds-connector-account

The accounts reference page links to this in the important box.  Thanks!

#please-close

[2019-12-05 16:52] #42876 closed

[2019-12-05 16:52] MonikaReddy-MSFT commented on #44061
@diop-malick, Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-05 16:52] #44061 closed

[2019-12-05 16:53] billmath commented on #43053
Verifying licensing information.

[2019-12-05 16:56] billmath commented on #43322
I will follow up with engineering.  If there is a need to add a supportability note here we will address this.  Thanks!

#please-close

[2019-12-05 16:56] #43322 closed

[2019-12-05 16:57] MicahMcKittrick-MSFT commented on #44115
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 16:58] MicahMcKittrick-MSFT commented on #44130
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 16:58] #43906 closed

[2019-12-05 17:01] NavtejSaini-MSFT commented on #44134
@jmelosegui For error Subscription 'xxxxx' does not have the server 'TargetServer', Please mention which sub is xxxxx. Is it the subscription where Primary server is or subs where the Target server is.

Also you have target server already created in the second subscription. Please confirm.

[2019-12-05 17:05] dlepow commented on #43516
Note added in https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview
#please-close

[2019-12-05 17:05] #43516 closed

[2019-12-05 17:15] ckssaas commented on #42876
@pstasik If you can get those instructions to work then please follow up and let us know. I referred to that article previously and could not get the permissions to work fully. I continually get AD Connect write errors. I was hoping this request would not be closed so simply, but, of course, it was. Thanks

[2019-12-05 17:23] RyanHill-MSFT commented on #43888
Glad you got it sorted @GrantBCU. You can; however, remove Tls11 and Tls in stated [here](https://azure.microsoft.com/en-us/updates/new-app-service-apps-deployed-with-tls-1-2-as-default-from-june-30/) as app services now use TLS 1.2.

[2019-12-05 17:23] #43888 closed

[2019-12-05 17:26] ecfan commented on #24233
Hi @chasdso, thanks for reaching out! Could you use the [`dayOfWeek()` function](https://docs.microsoft.com/azure/logic-apps/workflow-definition-language-functions-reference#dayOfWeek) in an expression to determine the current day?

[2019-12-05 17:27] salmanmkc opened #44141 "Exception thrown on language detection"
System.NullReferenceException: 'Object reference not set to an instance of an object.'

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* Content: [Quickstart: Text Analytics client library - Azure Cognitive Services](http

[2019-12-05 17:36] djpmsft commented on #43978
Hi all,

I can confirm this is a known product bug. We have already implemented the fix and it is included in the current deployment train. ETA on availability in all regions is actually today. As a result, I will close this issue.

#please-close

[2019-12-05 17:36] #43978 closed

[2019-12-05 17:37] jemag opened #44142 "Use date in iso 8601 format"
The dates underneath each documentation title is currently in the format
mm/dd/yyyy. This is, however, quite confusing for any non US reader as dates such as:

![image](https://user-images.githubusercontent.com/7985687/70258945-2943e680-175b-11ea-9973-de88c6074de5.png)

will most often be interpreted as the 2nd of November instead of the 11th of February, that is intended.

Using a widely accepted

[2019-12-05 17:38] JimacoMS3 commented on #43523
The extension version isn't the problem. I just updated my extension to the latest version (0.8.6) and the command works without the resource group.

Can you confirm a couple of things for me:

1. Your IoT hub is in the same subscription that you're issuing the command from? (You can use `az account show` to determine your current subscription. The "id" field should match the Subscription ID for t

[2019-12-05 17:38] #44102 closed

[2019-12-05 17:39] NitroAMD opened #44143 "RBAC"
There is a delta between the GitHub and this version, so please keep them both in sync:
GitHub:
rbac.enabled: Make sure to set this to true if you have a AKS cluster that is RBAC enabled.
https://github.com/Azure/application-gateway-kubernetes-ingress/blob/master/docs/setup/install-new.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-05 17:42] MicahMcKittrick-MSFT commented on #44142
@tysonn assigning this one to you to better route as needed.

[2019-12-05 17:45] MicahMcKittrick-MSFT commented on #44065
@abhinavaGopagani I will close this now. If you still have feedback please open a new issue directly on the document you are referring to so our engineers can better assist.

[2019-12-05 17:45] #44065 closed

[2019-12-05 17:46] mdi-db opened #44144 "Naming scope contradicts other documentation"
The explanation for the "name" field of a security rule says "A unique name within the network security group"; however, the "Naming rules and restrictions for Azure resources" page at the below URL says the scope is a Resource group.

https://docs.microsoft.com/en-us/azure/architecture/best-practices/resource-naming

I haven't tested it yet, so I'm unsure which is correct, but thought I would rai

[2019-12-05 17:48] KranthiPakala-MSFT commented on #44138
@kwyss88
Thanks for reaching out to us. At this time it does not look like you are referring to a document content, but to a specific scenario. If that's the case we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdesc)_" and other forums (_[Stackoverflow - Azure Data F

[2019-12-05 17:49] jmelosegui commented on #44134
@NavtejSaini-MSFT the subscription in the error is referring to the subscription where the source Sql Server (The primary server) is located.

I do have the Target server created in a different subscription.

Please, let me know if you need anything else.

[2019-12-05 17:53] KranthiPakala-MSFT commented on #44132
@solita-tvoipio Thanks for the feedback! We have assigned the issue to the content author to investigate this and provide an update as appropriate.

@mamccrea Could you please have a look at this? - Thanks!

[2019-12-05 17:59] skalingclouds commented on #12839
+1, every single enterprise has naming standards that are enforced. Not having configurable resource groups breaks governance models

[2019-12-05 17:59] cherylmc commented on #43986
I am taking a doc bug on this. Thanks @stdistef  #please-close

[2019-12-05 17:59] #43986 closed

[2019-12-05 17:59] kwyss88 commented on #44138
https://social.msdn.microsoft.com/Forums/en-US/4c1b676a-e0e7-4c36-a418-fd812b6eb43b/adf-copy-activity-error-mapping-json-to-sql?forum=AzureDataFactory

[2019-12-05 17:59] #44138 closed

[2019-12-05 18:07] jkeane commented on #44073
Found it, v3.1.0 of Az (v2.1.0 of Az.Network)

[2019-12-05 18:08] JnHs commented on #43765
That is indeed correct.

[2019-12-05 18:09] KranthiPakala-MSFT commented on #44128
@pemar-MSFT Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-12-05 18:15] NavtejSaini-MSFT commented on #44041
@ajlam Please look into user question and respond to the same.Thanks.

[2019-12-05 18:17] ajlam commented on #44041
@evmimagina - I've sent a few clarifying questions to my engineering team. Will get back to you soon!

[2019-12-05 18:18] NavtejSaini-MSFT commented on #43919
@srdan-bozovic-msft Please look into the user question and provide feedback. Thanks.

[2019-12-05 18:20] PatAltimore commented on #43991
Hi @mjtpena,

I forwarded your feedback to the Ethereum DevKit team. You can open issues for the Ethereum DevKit project here: https://github.com/Microsoft/vscode-azure-blockchain-ethereum/issues.

Thanks,
Pat

#please-close

[2019-12-05 18:20] #43991 closed

[2019-12-05 18:23] Karishma-Tiwari-MSFT commented on #43893
@passbt Is there any update?

[2019-12-05 18:23] NavtejSaini-MSFT commented on #44101
@dcbrown16 Yes the Azure DB for MySQL works in the same way. There is a possibility of Ip changing that is why the architecture is to have a Gateway listening to requests on specified port and having Firewall rules in the DB for access

[2019-12-05 18:28] afengli opened #44145 "is the ip 169.254.169.254 correct for Azure VM?"
the article says "The endpoint is available at a well-known non-routable IP address (169.254.169.254) that can be accessed only from within the VM.". I think for Azure it should be 168.63.129.16.

169.254.169.254 is for AWS: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-05 18:28] BeefyBeef opened #44146 "Sign-in error code missing: 501291"
Sign-in error code missing: 501291

Possibly related to a Conditional Access failure when using the Require approved app and require app protection policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa732de6-2cab-d780-aa21-dfec80e0a8fe
* Version Independent ID: 1a11b9b6-cf4f-3581-0864-0d5046943b6e
* Content: [Error

[2019-12-05 18:29] jpvajrala commented on #44082
Thanks @MashaMSFT for quick response. Is the deployment going to select 1st available IP in the list of available IP's or IP selection is random?

And finally is it possible to specify the cluster IP in Microsoft.SqlVirtualMachine/sqlVirtualMachineGroups resource ?

[2019-12-05 18:31] MicahMcKittrick-MSFT commented on #44115
@jspuij I have assigned this to the content authors to review further.

[2019-12-05 18:34] YutongTie-MSFT commented on #44141
@salmanmkc
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 18:36] salmanmkc commented on #44141
No problem, thanks, I'm using this for a serverless code challenge set by MSFT Cloud Advocates

[2019-12-05 18:37] salmanmkc commented on #44141
This is the repository if you want to debug on the master branch https://github.com/salmanmkc/5thdayserverlesschallenge

[2019-12-05 18:40] KranthiPakala-MSFT commented on #44138
@kwyss88 Thanks for sharing the MSDN thread link. One of our engineer will assist on your issue.

[2019-12-05 18:42] shaunmccoy opened #44147 "-storageaccount parameter"
When trying to name the storage account as per example I get the following error. I may have missed something

PS /Users/shaunmccoy&gt; New-AzResourceGroupDeployment `
&gt;&gt; -name addskuparameter `
&gt;&gt; -resourcegroupname myResourceGroup `
&gt;&gt; -TemplateFile $templatefile `
&gt;&gt; -storagename "stor3shaun"
New-AzResourceGroupDeployment : A parameter cannot be found that matches parame

[2019-12-05 18:43] anis020 commented on #34434
@shashishailaj, the link provided is broken. Would you please help to update it?

[2019-12-05 18:45] KumariSupriya commented on #44145
Even for Azure the endpoint is 169.254.169.254 for Instance Metadata Service

[2019-12-05 18:48] MarileeTurscak-MSFT commented on #44146
@BeefyBeef
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-05 18:49] chasdso commented on #24233
@ecfan woot!  Perfect thank you! Overlooked it -

[2019-12-05 18:57] CeciAc opened #44148 "Standard SKU type for public static IP is invalid"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.pt-br/issues/565

@andrepatete commented 23 hours ago — with docs.microsoft.com
When creating static IP, I had problems with the Standard type.
Error Message Suggests Creating Basic Type SKU

Warning CreateOrUpdateLoadBalancer 2m19s (x7 over 7m37s) azure-cloud-provider network.LoadBalancersClient#CreateOrUpdate: Failure s

[2019-12-05 19:00] jimbobbennett commented on #43518
@mike-urnun-msft yup, I've worked through this. The problem is the docs refer to subscription key without context of what this is, and is confusing users who create an account in the portal, then read the docs and can't consolidate the named field in the docs to the information in the portal - especially as subscription has a totally different meaning for an Azure account.

[2019-12-05 19:12] MashaMSFT commented on #44082
Hi @jpvajrala , thanks again for reaching out! The first available IP address from the list is selected for the cluster. Unfortunately, we do not currently have the option to manually specify the IP address for the cluster service.

If this is important to your business, would you mind expanding upon the business justification for it? I would be happy to pass along your feedback to the product gro

[2019-12-05 19:16] MicahMcKittrick-MSFT commented on #44145
@afengli as Kumari mentioned, the doc is correct and it has the correct IP for the metadata.

[2019-12-05 19:16] #44145 closed

[2019-12-05 19:19] iancraig45 commented on #43523
Yes, every single command I run referencing IoTHub is requiring the --resource-group command to be successful , screendshot below with error , ran out of CloudShell directly from the link you sent

Screenshots below proving subscription IDs match for IoT hub and CLI commands

[cid:image003.jpg@01D5AB6E.93933CB0]

[cid:image004.jpg@01D5AB6E.93933CB0]

From: Jimaco Brannian <notifications@github.com

[2019-12-05 19:41] MartinJaffer-MSFT commented on #44045
Thank you for the clarification.  I agree with your assessment.  I will make the change in text.

[2019-12-05 19:46] qianw211 commented on #42677
#please-close confirmed that this is correct!

[2019-12-05 19:46] #42677 closed

[2019-12-05 19:50] babak-kobari opened #44151 "There is no way to mentioned a sub Entity part of the pattern"
[Enter feedback here]

As explained in decomposable entity tutorial, I have created an entity named Phonecall with a sub entity as CallerRole which uses a phrase list as descriptor. the phrase list contains roles such as CEO, CIO,etc.

I have to create a pattern matching following utterance

### **The CEO has called me yesterday**

^{**I DON'T KNOW WHAT TO PUT HEAR REFERRING TO CallerROle ENTITY**

[2019-12-05 19:53] anavinahar commented on #39312
This traffic is charged.

[2019-12-05 19:53] anavinahar commented on #39312
#please-close

[2019-12-05 19:53] #39312 closed

[2019-12-05 19:54] joshheitzman-redcley-v-joheit-msft opened #44152 "The Portal allows managing Compute"
The grid shown under "Workspace management" is missing a check mark for the box at the intersection of "Portal" and "Create and manage compute resources".  In the Portal compute resources can be created and managed under the "Compute" page listed under the "Assests" for the workspace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-12-05 19:56] MikeWasson commented on #23007
btw [this doc](https://docs.microsoft.com/azure/architecture/guide/technology-choices/messaging) covers some of the high-level messaging concepts that Clemens describes in his blog.

[2019-12-05 20:07] YutongTie-MSFT commented on #44151
@babak-kobari
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 20:09] JimacoMS3 commented on #43523
Thanks! So the screenshots didn't come through. Can you try pasting them into the GitHub issue directly? (I do believe you though :) )

I'm running out of ideas here. Since I can't see the screenshots, so can you tell me what region(s) the resource group and your IoT hub are in?

I've been using resources in West US and Central US (sometimes with the hub and rg in different regions). I've also tri

[2019-12-05 20:22] Garry-Anderson opened #44153 "Build CSDK and Run TPM Simulator does not generate Solution for VS2017 for Mac"
I have followed theses steps in Win 10 machine, and they work.  But, on my Mac with Visual Studio Mac Community 2017 installed and working, the statement  "A Visual Studio solution for the simulated device will also be generated by this build command."  Is NOT true.  I looks like CMake does not even attempt to build any solution.  I cannot find how CMake on Mac even creates the SLN file because th

[2019-12-05 20:26] jontreynes opened #44154 "What is assetName used for?"
What is assetName used for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a95e827-aae2-3b8c-dca9-6a44f6cadfae
* Version Independent ID: c89fbb1f-b5f4-7425-aab0-a800dc4ca4ae
* Content: [Azure CLI Script Example - Upload a file to a container](https://docs.microsoft.com/en-us/azure/media-services/latest/cli-upload-file

[2019-12-05 20:29] MartinJaffer-MSFT commented on #44045
@algattik the pull request is pending review.  Thank you again for your assistance.

[2019-12-05 20:29] #44045 closed

[2019-12-05 20:30] alextricity25 commented on #17830
Is there a roadmap as to when this value will be exposed via the Graph API? It would be nice to have programmatic access apart from PowerShell to this attribute

[2019-12-05 20:33] JRam13 commented on #20701
@mdgattuso any update on this?

[2019-12-05 20:46] iancraig45 commented on #43523
Yes, the region is East Us for IoTHub as well as the resource group. My IoTHub is S1-Standard
According to the below link IoT Hub Device Provisioning Service is only supported in East US and West US at this time, which is why I am deployed in East US only
https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=us-east,us-east-2,us-central,us-north-central,us-south-central,us-west