[2022-02-01 20:10] JamesTran-MSFT commented on #87286
@SamCN2
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-01 20:11] dannyevers commented on #86401
@argani Please connect your GitHub account to Microsoft Open Source hub (per Jason's email) so your GitHub account can be connected to MicrosoftDocs so we can assign this issue to you.

[2022-02-01 20:33] rolyon commented on #86893
Hi @ThierryBT
Thanks for your feedback. According to the Azure Resource Manager docs, the Tag Contributor role can't apply tags to resources or resource groups using the Azure portal. It can apply tags to subscriptions using the portal. I think that's why you need an additional role with reader access when using the portal. If you use PowerShell or the REST API, I think you could apply tags with j

[2022-02-01 20:34] mmacy commented on #87179
Great issue writeup, @kmb385. We're currently building out new multi-article tutorial series for this and other application types/scenarios, and calling the protected API will absolutely be included in our "Protect an API" tutorial series.

@Dickson-Mwendia I'll leave this open for you review and perhaps close for now, but @kmb385 was kind enough to include a full step-by-step for testing with Pos

[2022-02-01 20:34] rolyon commented on #86893
Let us know if you have any additional feedback.
thanks
#please-close

[2022-02-01 20:34] #86893 closed

[2022-02-01 20:35] dannyevers commented on #86401
#reassign:arifgani

[2022-02-01 20:41] bkwdesign opened #87289 "bad hyperlink promises to take me to GitHub sample instead takes me to docs.microsoft"
In the very first table, 3rd row - if I am to believe the column header, this should go to github, but it does not
![image](https://user-images.githubusercontent.com/3177513/152047749-f82fe50d-cffd-42e0-ac2f-e284f35e8c70.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140108
* Version

[2022-02-01 20:57] JamesTran-MSFT commented on #87289
@bkwdesign
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-01 21:13] kmb385 commented on #87179
@mmacy My pleasure!  Thank you for the excellent learning materials!  I'll actually become part of the team at Microsoft on February 14th and these quickstarts have been so helpful as part of my ramp up!

[2022-02-01 21:22] willcoxson commented on #87151
[code]

Here is the text output of the command for the first section. You can see "EnterpriseJoined" but nothing for "WorkplaceJoined"

[2022-02-01 21:30] brcarpio opened #87290 "Link out is 404"
The link embedded in the quoted line above ends up at a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8b713b9-e735-704a-a0e2-834cfab0260f
* Version Independent ID: 3daf6490-1946-b068-bc9f-8fdadfe4aa13
* Content: [Azure Key Vault Secrets Provider extension (Preview) - Azure Arc](https://docs.microsoft.com/en-us/a

[2022-02-01 21:51] habby-max opened #87292 "Hi guys, I got this error message while trying to upgrade nginx ingress controller. Any suggestion on what to do"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-02-01 21:52] habby-max opened #87293 "Error: UPGRADE FAILED: pre-upgrade hooks failed: timed out waiting for the condition helm.go:88: [debug] pre-upgrade hooks failed: timed out waiting for the condition UPGRADE FAILED"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-02-01 21:55] JamesTran-MSFT commented on #87151
@willcoxson
Thank you for following up on this! Referencing GitHub issue - [42993](https://github.com/MicrosoftDocs/azure-docs/issues/42993#issuecomment-558789895).

**PG Update:**
`WorkplaceJoined is part of the User state`, and `not the device state` as it only applies to the current logged on user. Since WorkplaceJoined is an Azure AD device state, we provided both "Device State" and "user stat

[2022-02-01 21:55] #87151 closed

[2022-02-01 21:57] kobulloc-MSFT commented on #87290
@brcarpio Thank you for reporting this!  We are investigating the 404 and will get back to you shortly.

[2022-02-01 22:24] yutanglin16 commented on #86821
@Kyelin25 -- Yes, exactly. If the user doesn't have the right permissions to access that certificate, the request will fail. I'll go ahead and close GH Issue now. #please-close

[2022-02-01 22:24] #86821 closed

[2022-02-01 22:27] Kyelin25 commented on #86821
@yutanglin16 - thanks so much for talking me through this. Happy to close.

[2022-02-01 22:29] jsoncoen opened #87294 "Public and Private Access"
Can an Azure Database for PostgreSQL server resource have both public and private access enabled simultaneously? We'd like to move to private endpoints but would like to minimize impact to clients so, only disable public access once all clients have been moved over to the private endpoint.

Thanks for any help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-02-01 22:37] rolyon commented on #69541
Hi @benjamincburns
Thanks for your feedback. The quickstart template you reference appears to be an old version. The scope property is read only and I suspect that it didn't have an effect in that example.
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10-01-preview/authorization-RoleAssignmentsCalls.json#L6

[2022-02-01 22:39] rolyon commented on #69541
Hi @mayoness1983
I'm not exactly sure how your template is supposed to work. You might try setting the scope property for the role assignment.
https://docs.microsoft.com/en-us/azure/templates/microsoft.authorization/roleassignments?tabs=json
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/scope-extension-resources?tabs=azure-cli#apply-to-resource
Hopefully this helps.
thank

[2022-02-01 22:40] rolyon commented on #69541
#please-close

[2022-02-01 22:40] #69541 closed

[2022-02-01 22:43] kobulloc-MSFT commented on #87290
@brcarpio It looks like this is the document:
https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/website/content/en/troubleshooting/_index.md

@mayurigupta13 I'll get a PR out to address this.

[2022-02-01 22:45] brbish opened #87295 "This paragraph needs updating"
Section: Why do my apps disappear after I sign out?
This happens because you're using Windows 10 Enterprise multi-session with a profile management solution like FSLogix. Your admin or profile solution configured your system to delete user profiles when users sign out. This configuration means that when your system deletes your user profile after you sign out, it also removes any apps you installe

[2022-02-01 22:48] jeffwmiles opened #87296 "Storage Tier description incorrect"
In the section "Choose the appropriate storage type", there is a description of the Azure Disk and Azure Files storage types, being Premium, and Standard.

This description explains Standard as "Backed by regular spinning disks (HDDs)."

However, the defaults for disk-based [StorageClasses as defined here](https://docs.microsoft.com/en-us/azure/aks/concepts-storage#storage-classes) are all SSD.

T

[2022-02-01 22:49] James-Hamil-MSFT commented on #86525
Yes! Shoot me an email at jahami@microsoft.com and we can set one up

[2022-02-01 22:54] Karishma-Tiwari-MSFT commented on #87292
This issue looks like the duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/87293
We will close this one and our team will help you on the other open issue. Thanks.

[2022-02-01 22:54] #87292 closed

[2022-02-01 22:54] Karishma-Tiwari-MSFT commented on #87293
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-02-01 23:27] normesta commented on #83628
Ok added a note to the private endpoints article - https://github.com/MicrosoftDocs/azure-docs-pr/pull/187090. Note should appear live tomorrow

[2022-02-01 23:36] x509cert opened #87299 "Need to add the new Key Rotation details to list of vault-level actions"
AKV now has key rotation in public preview, and this has three new permissions. These need to be added to the list of possible events that can be raised by AKV and added to events.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7f16616-4848-55f3-f6aa-f95f566811e9
* Version Independent ID: 34898e71-b8af-6d9d-ee53-49f34

[2022-02-01 23:45] KranthiPakala-MSFT commented on #87214
Managed identity provides secure access to the entire function app. In order to use Managed identity authentication type, you will have to grant Data Factory service managed identity access to your Azure Function which will establish a successful connection. Else the authentication will fail.

![image](https://user-images.githubusercontent.com/50185738/152070068-217cfb0c-adc6-41db-ab7b-2b61f0fb52a

[2022-02-01 23:54] efrain-valdez opened #87300 "Validate what sourceAnchor to use in AzureAD Connect"
On the article it says that Okta takes the Active Directory objectGUID of an on-premises object and converts it to a Base64 encoded string, Is objectGUID what Okta uses as an inmutableID? if yes, it is not clear why the article says that on Azure AD Connect we need to select mS-DS-ConsistencyGUID if you haven't modified the Okta defaults.

When migrating from Okta to Azure AD Connect, and Okta def

[2022-02-02 00:00] #87028 closed

[2022-02-02 00:04] JamesTran-MSFT commented on #87299
@x509cert
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-02 00:10] ssabat commented on #80888
ADF V1 is still being used by customers. Target end of life  for V1 is mid 2022. We plan to  end reference to V1 post complete migration of all V1 customers to V2.

#please-close

[2022-02-02 00:10] #80888 closed

[2022-02-02 01:11] jvschoen opened #87302 "First Paragraph repeated"
This page has the first paragraph repeated:

MLflow Model Registry is a centralized model repository and a UI and set of APIs that enable you to manage the full lifecycle of MLflow Models. Model Registry provides chronological model lineage (which MLflow experiment and run produced the model at a given time), model versioning, stage transitions (for example, from staging to production or archived)

[2022-02-02 01:26] ammarp opened #87305 "Additional Step"
Can we add an additional step that we need to create Database User in 'Customer' database separately if not there already in order to access the database? If i am new to this and if i just follow all the steps in the document, i am unable to fetch data from Customer database as it will give error that 'User xxx' does not have access to the database. So i need to create that user in Customer databa

[2022-02-02 01:26] JamesTran-MSFT commented on #87300
@efrain-valdez
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-02 01:28] xiaomi7732 opened #87306 "Maybe update the code example with connection string for telemetry?"
In this current code example, it doesn't look like the connection string is take in:

[code]

Is connection string supported? Can you include an example to show case the best practice with the application insights connection string?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* V

[2022-02-02 01:41] VitalyMCT opened #87307 "Azure Portal method"
Can the article please be extended to document the Azure Portal way of accessing this functionality?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c2c7423-0fa7-2084-d978-2d9a126cc056
* Version Independent ID: 2a07d858-92b3-4a15-6124-7b3e3b4cb44f
* Content: [Retrieve key-value pairs from a point-in-time - Azure App Co

[2022-02-02 01:58] markjbrown commented on #87018
This is not a topic we see much confusion whether customers can create a single account that supports all API's simultaneously. There is no multi-model database I am aware of that does this. Additionally, most customers first experience starts by provisioning an account in the portal. The API type is a drop down and not a multi-select which should tip off most folks that they must make a choice.

[2022-02-02 02:00] jrestall commented on #86858
@ShaikMaheer-MSFT Is there a workaround for this? I have a NextJS site behind Front Door that requires the Accept header be forwarded through on image requests so that it knows whether it can return an optimized webp image rather than the default jpeg. This is part of the default [NextJS image optimization](https://nextjs.org/docs/basic-features/image-optimization).

However even if passing the Ac

[2022-02-02 02:02] halkazwini opened #87309 "Unlimited SkuFamily support on ExpressRoute Direct"
Hi Team,

In our Azure doc for ExpressRoute Direct, it is clearly mentioned that Unlimited SkuFamily is not supported on ExpressRoute Direct:
![image](https://user-images.githubusercontent.com/85655443/152081370-ded4182f-c456-4d64-977f-bd7550fa05bf.png)
https://docs.microsoft.com/en-us/azure/expressroute/how-to-expressroute-direct-portal#circuit

Today, I had an Azure customer who has multiple Exp

[2022-02-02 02:20] mike-urnun-msft commented on #86959
Hello @inknochen - Thank you for sharing this feedback, and helping us drive improvement towards MS Docs! The statement on the linked document where we comparison is made doesn't seem to necessarily contradict the statement on the document this issue was opened under, rather, it seems to have missed how the "At-Least-Once" delivery, as well, is supported with Service Bus Queues. Comparison is full

[2022-02-02 02:20] #86959 closed

[2022-02-02 02:21] mike-urnun-msft commented on #86918
As the next step, we are assigning this issue to the author to review further and take the next course of action.

cc: @mikebudzynski @dlepow

[2022-02-02 02:27] pinyuko opened #87310 "Add NAT gateway as "Zonal""
[Enter feedback here]
I didn’t see NAT gateway listed there. Is it possible to add NAT gateway as “Zonal” and link to this page  https://docs.microsoft.com/en-us/azure/virtual-network/nat-gateway/nat-gateway-resource ? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef6739c-50e6-e80b-cfc1-4d7d5b5d35e8
* Vers

[2022-02-02 02:29] inknochen commented on #86959
That's exactly what I was pointing out. It's al-least-once and for
at-most-once you'll need to use logic in your app.
The chart says at-most once in the comparison.
I'm a Microsoft Certified Trainer, and a Microsoft Technical Trainer (FTE),
and had recently been delivering AZ-305 with another trainer and I added
this bug internally.
The Tech Lead for that title in Microsoft agreed that it's at-lea

[2022-02-02 02:33] inknochen commented on #86959
Here you have the misleading sentence highlighted
 "As a solution architect/developer, you should consider using Service Bus
queues when:"
[image: image.png]

you should comment that part as well

On Tue, Feb 1, 2022 at 6:28 PM ILAN ***@***.***> wrote:

--
--
Ilan N. Knochen
MCSE

[2022-02-02 02:50] mike-urnun-msft commented on #86959
@inknochen Could you re-upload the screenshot? The "At-Most-Once" delivery is the "Receive and Delete" mode that's covered on this doc by the following:

[2022-02-02 03:05] AdamCoulterOz opened #87312 "minReplicas Min value should be 0"
<img width="913" alt="Screen Shot 2022-02-02 at 2 02 41 pm" src="https://user-images.githubusercontent.com/6822248/152086935-59da0cb8-1f84-4a3b-a694-31822fbd6cd5.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent ID: eae53948-3193-a451-5963-3e6cd8ee2972
* Con

[2022-02-02 03:16] NakayamaKento opened #87313 "Modify Sample"
About "Create a service health alert", the sample is written in HTML.
But, it seems not good. Could you update this?

![image](https://user-images.githubusercontent.com/40586116/152087796-693268c0-93c6-4965-ac49-eed6ec4edbdb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1c66d39-c63b-5298-50cc-7df497c58af5
* Vers

[2022-02-02 03:20] inknochen commented on #86959
As a solution architect/developer, you should consider using Service Bus queues when:
![image](https://user-images.githubusercontent.com/56148607/152088092-9f67f859-a159-47db-a076-ca7e837ca2a5.png)

[2022-02-02 03:24] jyravi opened #87314 "Requests from dictionary/lookup and dictionary/examples going to the dictionary/lookup link"
In the page https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/rest-api-guide, while clicking on dictionary/lookup and dictionary/examples, it takes us to https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-dictionary-lookup, while there is another explicit page for dictionary/examples.

![image](https://user-images.githubusercontent.com/

[2022-02-02 03:46] MonikaReddy-MSFT commented on #87278
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-02 03:48] KrishnaG-MSFT commented on #87310
@pinyuko Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-02 03:54] PriyankaRudramaina commented on #87296
Hi @jeffwmiles,

Thanks for the feedback. We will review the content and take appropriate action.

[2022-02-02 04:10] ChaitanyaNaykodi-MSFT commented on #87309
Hello @halkazwini
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-02 04:16] krispenner opened #87315 "First table of default and min values may be wrong"
I think the default values should be 1 and the min values should be 0. The table seems to have these swapped. This is in the very first table at the top of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Independent ID: eae53948-3193-a451-5963-3e6cd8ee2972
* Conte

[2022-02-02 04:16] amanmcse commented on #87259
@ankku Thank you for your feedback. We will investigate and update the thread further.

[2022-02-02 04:17] HighBridgeDragon commented on #86500
@Ranjith071GitHub

Is the region you tried to deploy in East US?

Azure Video Analyzer seems to be available only in a limited number of regions.
[https://azure.microsoft.com/en-us/global-infrastructure/services/?products=video-analyzer&regions=all](https://azure.microsoft.com/en-us/global-infrastructure/services/?products=video-analyzer&regions=all)

I was trying it in East Japan and faced the sa

[2022-02-02 04:20] amanmcse commented on #87284
@mmcguinness  Thank you for your feedback. We will investigate and update the thread further.

[2022-02-02 04:22] krispenner opened #87317 "Important note seems incorrect."
The important note near the top does not seem correct. It mentions thread safety which is not related to what it’s suppose to be talking about. I also think it meant to say minReplica. I think it should read something like

“Even if you set minReplicas to 1, there is no assurance you will get 1 instance provisioned.”

Instead of:

“Even if you set maxReplicas to 1, there is no assurance of thread

[2022-02-02 05:02] AnuragSingh-MSFT commented on #87313
@NakayamaKento, thank you for bringing it our attention. Can you please confirm if you are using the "**Post message in a chat or channel**" Action of "**Microsoft Teams**" in Logic Apps as shown below:

![image](https://user-images.githubusercontent.com/87687088/152095546-b5c2c5bf-706f-45f9-98fe-4a06ffc378fd.png)

If yes, the referenced link uses _Preview_ version of similar action. The new actio

[2022-02-02 05:02] MughundhanRaveendran-MSFT commented on #87173
@audunsolemdal , Delivery will fail to a private endpoint linked function app. You will have to integrate a Eventhub/Service bus/Storage in between the Event grid and function app to achieve private network communication via managed endpoint
https://docs.microsoft.com/en-us/azure/event-grid/consume-private-endpoints#use-managed-identity

[2022-02-02 05:20] AjayKumar-MSFT commented on #87306
@xiaomi7732, Thanks for the feedback! We are taking a look into this and will get back to you soon.

@ggailey777, Requesting your comments on including examples.

[2022-02-02 05:20] RohitMungi-MSFT commented on #87314
@jyravi Thanks for spotting this. We are investigating the issue and will update you shortly.

[2022-02-02 05:23] NakayamaKento commented on #87313
Anurag

Thank you for your replying.
That’s right, I use the “Post message in a chat or channel” not Preview.
I have changed my action below.
***@***.***

But, we cannot test for the Service Health alert.

Best regards
Kento

差出人: Anurag ***@***.***>
送信日時: 2022年2月2日 14:02
宛先: ***@***.***>
CC: ***@***.***>; ***@***.***>
件名: Re: [MicrosoftDocs/azure-docs] Modify Sample (Issue #87313)

@NakayamaKento

[2022-02-02 05:30] AnuragSingh-MSFT commented on #87313
@NakayamaKento, thank you for the confirmation. To test the behavior, you may create a sample logicApps and use http trigger to post message to Teams channel/chat with some text edits. I will work on the PR to get this document updated.

[2022-02-02 05:39] NakayamaKento commented on #87313
I could test the behavior. In the False case, it seems good.
But I could not test the true case yet.

![image](https://user-images.githubusercontent.com/40586116/152099082-0b2ed798-732b-4628-8c90-9e8d46be583d.png)

![image](https://user-images.githubusercontent.com/40586116/152098943-9f591063-f44f-435d-9383-a04a00a94fad.png)

[2022-02-02 05:42] RohitMungi-MSFT commented on #87153
@mxplusb We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2022-02-02 05:42] #87153 closed

[2022-02-02 05:42] john997301 opened #87318 "Command update"
In section:
[How to show or set read-ahead values](https://docs.microsoft.com/en-us/azure/azure-netapp-files/performance-linux-nfs-read-ahead#how-to-show-or-set-read-ahead-values)

To set a new value for read-ahead, run the following command:

`$ ./readahead.sh show <mount-point> [read-ahead-kb]`

SHOULD BE:
`$ ./readahead.sh set <mount-point> [read-ahead-kb]`

---
#### Document Details

⚠ *Do not

[2022-02-02 05:46] MughundhanRaveendran-MSFT commented on #87183
@charlejc , I think the error is seen in the devops build pipeline. Could you please download the artifact and check if the functon.json of the updateroom funcition is same as mentioned in the document?

[2022-02-02 05:53] rahug1190 commented on #87135
@AHelsby we will take this feedback and update the content to reflect it. Thanks for pointing this out.

[2022-02-02 06:04] SumanthMarigowda commented on #87318
@john997301
Thanks for the question! We are investigating and will update you shortly.

[2022-02-02 06:27] chsamala2 commented on #87064
As of now hybrid worker extension onboarding and triggering runbook on hybrid worker is two step process .  Your recommendation to install the extension  with specific runbook  is a new feature recommendation. We will take this as feedback.

[2022-02-02 06:37] cimadai-cmnt opened #87319 "The badge color of publisher verification may have been changed."
The document describe following.

But My app's badge is not blue but also gray.

I found following Q&A.
https://docs.microsoft.com/en-us/answers/questions/685102/why-the-badge-is-gray-on-my-app-consent-screen.html?childToView=687423#comment-687423

Was the badge color changed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-02 06:58] #87090 closed

[2022-02-02 06:58] pdabhiargus opened #87322 "Broken Link for RLS-Auto-Enable.sql"
The document refers to tao the link and has a mention of the helper script.
https://techcommunity.microsoft.com/t5/sql-server/apply-row-level-security-to-all-tables-helper-script/ba-p/384360

The link to the helper script is broken in the attached Article.
http://rlssamples.codeplex.com/SourceControl/latest#RLS-Auto-Enable.sql

This script seems useful and would help a lot of Developers implementi

[2022-02-02 06:59] KrishnaG-MSFT commented on #87172
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-02-02 06:59] #87172 closed

[2022-02-02 07:01] KrishnaG-MSFT commented on #87115
@joalmiza As I didn't hear back from you on the recommendations made, so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-02-02 07:01] #87115 closed

[2022-02-02 07:05] SatishBoddu-MSFT commented on #87271
**Update:**

We are working with our team on this issue!

![image](https://user-images.githubusercontent.com/62923178/152109013-39a449aa-7c2a-400c-9e5e-56435f273891.png)

[2022-02-02 07:36] shashishailaj commented on #87319
@cimadai-cmnt Thank you for your query . We will investigate and update the thread.

[2022-02-02 07:40] MayankBargali-MSFT commented on #87307
@VitalyMCT Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-02 07:46] OisinFoley opened #87324 "Correct formatting, replace full-stop with a comma"
[Replace fullstop with a comma: When you link a virtual network with a private DNS zone with this setting enabled "**,**" A DNS record gets created for each virtual machine deployed in the virtual network.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49cac13a-f868-1c40-da67-488c1ee1fb13
* Version Independent ID: f03

[2022-02-02 07:50] GitaraniSharma-MSFT commented on #87324
@OisinFoley , thank you for your feedback. We'll review this and get back to you shortly!

[2022-02-02 08:15] katriendg commented on #87271
Thank you! That is exactly the error I got as well. Main objective of logging this was to get it solved for everyone.

[2022-02-02 08:15] SaiKishor-MSFT commented on #86607
@ducle0211
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stackove

[2022-02-02 08:31] PriyankaRudramaina commented on #85935
Hello @mkleef,

Did you get a chance to try it with the latest version as suggested by Mackenzie? If yes, can you share an update please?

[2022-02-02 08:36] memildin opened #87325 ""Azure Defender for Cloud" doesn't exist"
This page has a whole section about "Azure Defender for Cloud integration". There's no product called "Azure Defender for Cloud".

To reduce confusion, please merge these two sections:

- Azure Defender for Cloud integration
- Microsoft Defender for Cloud integration

Under the second heading (Microsoft Defender for Cloud integration)

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-02-02 08:57] NakayamaKento commented on #87313
I could test the true case by resubmitting past job.
It seems better than before.

![image](https://user-images.githubusercontent.com/40586116/152122567-b57c3949-1ae7-44a5-a1dc-5f55303fa31c.png)
![image](https://user-images.githubusercontent.com/40586116/152122787-812ade59-0619-4cef-967e-8971ae7fa9b1.png)

[2022-02-02 09:04] AnuragSharma-MSFT commented on #87018
@markjbrown Thanks for providing the details.

@way0utwest We appreciate your concerns and your feedback, however as mentioned by Mark these details are covered in the same page as well, also while we create the account we cant select multiple APIs. Please let us know if this helps your concerns.

[2022-02-02 09:05] AnuragSharma-MSFT commented on #87188
@brianwest This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-02 09:26] SreejaBhattacharya-MSFT commented on #87325
Hi @memildin ,
Thank you for the feedback. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-02 10:11] assaf-grth opened #87328 "Clarification about application gateway DR FAQ"
I would like to clarify this [FAQ](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#how-do-i-achieve-a-dr-scenario-across-datacenters-by-using-application-gateway)
How do I achieve a DR scenario across datacenters by using Application Gateway?
Use Traffic Manager to distribute traffic across multiple application gateways in different datacenters.

If the applicati

[2022-02-02 10:22] scoriani commented on #87305
Thanks for the feedback @ammarp, the document mentions that 'The "username" and "password" should be the username and password used to log in into the Customers database', so it assumes an user already exists. Are you suggesting to add something like "(create one if doesn't exists)" or what?

[2022-02-02 10:45] ammarp commented on #87305
Thank you for your reply.

Yes, if we can add a line saying 'Create if not exists' will make it clear that the user needs to be present in the the remote database.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Silvano Coriani ***@***.***>
Sent: Wednesday, February 2, 2022, 9:22 PM
To: MicrosoftDocs/azure-docs
Cc: ammarp; Mention
Subject: Re: [MicrosoftDoc

[2022-02-02 10:50] shwetamathur7 commented on #87245
I understand the information may seem little cryptic. DiscoverMetadataByTokenIssuer is a key which helps in issuer discovery . Issuer discovery is OPTIONAL; if a Relying Party(your application ) knows the  Issuer location through an out-of-band mechanism, it can skip this step . However in case you require to define the value as `true` , it will help build the metadata URL endpoint as `Token issue

[2022-02-02 10:57] #87245 closed

[2022-02-02 11:10] markwiertsema opened #87331 "link to actual, current exchange rates"
Most Customers want to know what the actual exchange rates are. they should be published and easily accessible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c6b9727-628d-6a24-55ef-df60a9ec07ec
* Version Independent ID: 57c4a111-a736-3df6-a906-546db0af215a
* Content: [Geographic availability and currency support for

[2022-02-02 11:20] saraneg commented on #34443
Hello, is there any update for this issue ? Any solution ?
Thank you !

[2022-02-02 11:26] GitaraniSharma-MSFT commented on #87324
@OisinFoley , I've submitted a PR to change the punctuation mark as advised and it will be updated soon.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-02-02 11:26] #87324 closed

[2022-02-02 11:29] GitaraniSharma-MSFT commented on #87244
@Ravivarman13 , I've reached out to the Product group team to get more details on this ask. Will update the thread once I hear from them.

[2022-02-02 11:36] GitaraniSharma-MSFT commented on #87328
@assaf-grth , thank you for your query.
Yes, multiple application gateway is mentioned in case you are opting for a multi-region architecture for resiliency against an application or infrastructure level failover as described in the below doc:
https://docs.microsoft.com/en-us/azure/networking/disaster-recovery-dns-traffic-manager#manual-failover-using-azure-dns

Please let us know if this helps or

[2022-02-02 11:37] assaf-grth commented on #87328
Thanks for clarifying

[2022-02-02 11:37] #87328 closed

[2022-02-02 11:38] randomat123 opened #87333 "Encryption at Host with Double Encryption"
The docs just guide the PMK only and CMK only deployment.
Does the Encryption at Host feature works with SSE Double Encryption? i.e. using a Disk Encryption Set with both PMK + CMK enabled.

I would like to know if it's supported so I can deploy it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed4de54e-f544-0e42-5b0e

[2022-02-02 12:00] AnuragSingh-MSFT commented on #87135
@rahug1190, thank you for the comment.

@AHelsby, I will be closing this thread for now. Please feel free to re-open it in case you have any further questions.

[2022-02-02 12:00] #87135 closed

[2022-02-02 12:02] KrishnaG-MSFT commented on #87331
@markwiertsema Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-02 12:13] amanmcse commented on #87294
@jsoncoen Thank you for your feedback. We will investigate and update the thread further.

[2022-02-02 12:15] amanmcse commented on #87295
@brbish  Thank you for your feedback. We will investigate and update the thread further.

[2022-02-02 12:21] amanmcse commented on #87302
@jvschoen Thank you for your feedback. We will investigate and update the thread further.

[2022-02-02 12:27] puthurr opened #87334 "Discrepancy - source URL & SAS token for the specific blob/document (not for the container)"
The section _Translating specific document in a container_ in our documentation states the following.

Ensure you have created source URL & SAS token for the specific blob/document (not for the container)

but the example provided the SAS tokens are all container-based **sr=c**

In practice SAS token **sr=b** for a specific document is not working feature.

---
#### Document Details

⚠ *Do not edi

[2022-02-02 12:31] katriendg commented on #87271
Adding an extra note on an additional issue with 'Create IoT Edge Device' CLI task. It's referring to an old CLI extension azure-cli-iot-ext. This extension is now called 'azure-iot'.

So failing at this step too:

2022-02-01T14:34:09.1567085Z [command]/bin/bash /home/vsts/work/_temp/azureclitaskscript1643726037360.sh
2022-02-01T14:34:12.0008974Z ERROR: No matching extensions for 'azure-cli-iot-ex

[2022-02-02 12:45] shashishailaj commented on #87312
@AdamCoulterOz Thank you for your inputs . We will engage the team for the same.

[2022-02-02 12:52] shashishailaj commented on #87315
@krispenner Thank you for your inputs. We have engaged the content team on this to review and update as required.

[2022-02-02 12:53] shashishailaj commented on #87317
@krispenner Thank you for your feedback . We are engaging the content team to review the request and clarify it in the documentation as necessary .

[2022-02-02 13:32] MonikaReddy-MSFT commented on #87064
@chsamala2  - Thank you for providing your insights.
@dsakura207 - I hope @chsamala2 has answered your question and like he said this feature request will be added in backlog and prioritized accordingly.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly c

[2022-02-02 13:32] #87064 closed

[2022-02-02 13:39] uowdaniel opened #87336 "Missing PowerShell commands"
"The following table can help troubleshoot events using the downloaded version of the activity report from the previous portal steps or PowerShell commands. These result codes don't appear directly in the Azure portal."

Where are the PowerShell commands to generate and export an activity report containing these result codes?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-02-02 13:44] ofligit opened #87338 "SKU details should include ability to apply policies"
The consumption SKU does not allow rate limits to be set as policy. This kind of restriction should be listed in the comparison page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fbb610-abd2-8836-7d65-d2c880fc7cd9
* Version Independent ID: 33502c62-7ecf-67a9-f687-ae1bea3c9fb4
* Content: [Feature-based comparison of

[2022-02-02 13:47] brandonternes opened #87339 "Incorrect Link"
The Code42 hyperlink in the first paragraph leads to https://www.crashplan.com/. It should take users to https://www.code42.com as crashplan.com points at their small business homepage which doesn't support Scim.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aff0b40a-c77d-36ba-9a65-2bef5483a4b1
* Version Independent I

[2022-02-02 13:49] DSakura207 commented on #87064
@MonikaReddy-MSFT , can you provide the extension's schema like [PowerShell DSC's](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-template#detailed-settings-information)?
Thanks!

[2022-02-02 14:16] cephalin commented on #86110
Looks like this is updated. #please-close

[2022-02-02 14:16] #86110 closed

[2022-02-02 14:28] codemaker opened #87340 "Is it possible to add new methods to APIM using c# code?"
Is it possible to add new methods to APIM using c# code?

Basically, we want to generate APIM instance from c# code and publish to Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d08ff505-e3c3-8951-4804-1c697b48d9b7
* Version Independent ID: b71f9065-a350-bed4-dac7-8195d82c2b0f
* Content: [Tutorial - Import and m

[2022-02-02 14:32] burakalver opened #87341 "tutorial runs low priority core quota in free account"
Referring to https://docs.microsoft.com/en-us/azure/batch/tutorial-parallel-python

It would be useful if this tutorial worked out of the box for a free account. But free account batch service has "Spot/low-priority vCPUs" quota of 0, it looks like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b65a18-51c8-7778-4630

[2022-02-02 15:12] baanders commented on #86872
Thanks @kent010341 for the feedback! It's a great suggestion, and I've logged the request for the product team to create a set of code examples for this documentation set in Java.
As @asergaz summarized the current available resources above, and the suggestion to create new code samples has been recorded and communicated with the team, I'm going to proceed to close this issue at this time. I'll re

[2022-02-02 15:12] #86872 closed

[2022-02-02 15:14] JamesTran-MSFT commented on #87339
@brandonternes
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-02 15:28] sohail123-code opened #87342 "Tune Model Hyperparameters - Azure Machine Learning"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1b9d373-2140-ead0-e1b2-de63f8e94125
* Version Independent ID: 0bcd0103-042c-0ed8-2c8b-922ee27bff3c
* Content: [Tune Model Hyperparameters - Azure Machine Learning](https://docs.microsoft.com/en-us/azure/machine-learning/component-reference/tune-model

[2022-02-02 15:34] weyCC81 commented on #84005
@MarileeTurscak-MSFT
Any updates on this?

[2022-02-02 15:37] weyCC81 commented on #81628
@JamesTran-MSFT
Any updates on this?

[2022-02-02 15:39] weyCC81 commented on #76214
Update: Ticket has been closed without a Full-Solution (just Partial Fix in Microsoft 365 Portal, but nothing in Azure Portal)

[2022-02-02 15:40] JamesTran-MSFT commented on #81628
@weyCC81
Thank you for following up on this!

@curtand, do you have any update on this?

[2022-02-02 15:41] weyCC81 commented on #75627
@JamesTran-MSFT
Any update on this?

[2022-02-02 15:49] JamesTran-MSFT commented on #75627
@weyCC81
Thank you for following up on this!

@rolyon, do you have any update on this?

[2022-02-02 15:49] #87164 closed

[2022-02-02 16:01] YutongTie-MSFT commented on #87334
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-02 16:02] tivrobo opened #87344 "Can you add information about when this feature will be available (roadmap)?"
Can you add information about when this feature will be available (roadmap)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e08e711-09d9-e81f-90d5-6ecfa54b99b7
* Version Independent ID: a55c9c51-3575-189d-1090-a057956a550f
* Content: [Deploy Service Fabric node types with managed data disks - Azure Service Fabric](htt

[2022-02-02 16:04] kobulloc-MSFT commented on #87341
@burakalver Thank you for your feedback!  We are reviewing the free account offerings and will get back to you shortly.

[2022-02-02 16:04] YutongTie-MSFT commented on #87342
@sohail123-code Hello, could you please provide more information for your issue? What's the problem or what need to be corrected? Thanks.

[2022-02-02 16:16] v-hagamp commented on #86891
@dcurwin , Thanks for it, we are replacing in the documents.
#please-close

[2022-02-02 16:16] #86891 closed

[2022-02-02 16:25] natiT opened #87345 "Missing Section"
In a Notebox there is written:

"These bracketed values are placeholders. Replace them with the values in the actual sign-on URL, Identifier and Reply URL. These details are explained in the "View SAML 2.0 Endpoints" section later in this tutorial."

I cannot find the View SAML 2.0 Endpoints section in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2022-02-02 16:26] GeethaThatipatri-MSFT commented on #87243
I'm assigning this to the author for the feedback review.

[2022-02-02 16:28] jmutchek-msft opened #87346 "MG example doesn't align with CAF guidance"
The example management group structure in the docs diagram depicts a "production" management group, while the CAF guidance specifically states "Don't create management groups for production, testing, and development environments." at https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/landing-zone/design-area/resource-org-management-groups. It would be better if the docs were con

[2022-02-02 16:31] cynthn commented on #87325
@memildin Thanks for the feedback! Can you please file a pull request in the private repo for the change and tag me?

#please-close

[2022-02-02 16:31] #87325 closed

[2022-02-02 16:34] Balajivendhan opened #87348 "AKS creation using terraform failed due to Code="CreateVMSSAgentPoolFailed" , which in-turn failed subsequent actions/tasks in the azure pipeline to Fail"
Dear Team,

I am trying to create AKS using the terraform scripts.

On applying terraform apply command , it started creation AKS in the Azure... It was taking more than 40 mins then later it through the below error

│ Error: waiting for creation of Managed Kubernetes Cluster "name-aks" (Resource Group "RGNAME"): Code="CreateVMSSAgentPoolFailed" Message="AKS encountered an internal error while att

[2022-02-02 16:36] ViggoL commented on #21253
Hi @chengyiyu0724, how did you acquire the Channel Id?

[2022-02-02 16:38] JamesTran-MSFT commented on #87345
@natiT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-02 16:39] cynthn commented on #79974
@bwren Is it possible to get CLI added to this article?

[2022-02-02 16:39] YutongTie-MSFT commented on #87065
@JasonWHowell Hello Jason, sorry I am not able to respond earlier, I think the customer is mentioning the address in step 2 is not working when you just copy/paste.

[2022-02-02 16:44] cynthn commented on #80736
#reassign @gabsta

[2022-02-02 16:44] PRMerger8 commented on #80736
The following users don't have valid GitHub IDs, or are not collaborators on this repo: gabsta

[2022-02-02 16:45] YutongTie-MSFT commented on #87334
@puthurr Yes you are correct, all the example part has mentioned that this is in a container, thanks.
![image](https://user-images.githubusercontent.com/38084098/152198350-bc8651d8-ff46-4961-9c6e-98c37053824c.png)

[2022-02-02 16:47] mmacy commented on #86556
@anantharamakrishnans For my own clarity - are you requesting something like _Protect and call your own `$DEV_LANG` web API from a(n) `$DEV_LANG` `$APP_TYPE`_ for every applicable language/app type combination?

For example: _Protect and call your own ASP.NET Core web API from a Python console application_

[2022-02-02 16:49] baanders commented on #87141
Hello, investigating

[2022-02-02 16:50] ViggoL opened #87349 "Outdated documentation"
This documented guide is outdated. The Baidu console portal does not provide an API Key.
It provides the following:
AppKey
SecKey
MasterSecret

Furthermore, the SDK referenced is no longer the SDK Baidu references. Baidu refers to this SDK: https://cloud.baidu.com/doc/SPP/s/qjwvxj91t

Additionally, there is no way to obtain a Channel ID with the new SDK that Baidu refers to.
This renders Azure Not

[2022-02-02 16:52] natiT commented on #87345
Ok never mind. The Documentation of DocuSign and Microsoft are really confusing.
Did not see the Login and Azure AD Identifere URLs because they were hidden.

Problem solved.

[2022-02-02 16:52] #87345 closed

[2022-02-02 16:53] JamesTran-MSFT commented on #87289
@bkwdesign
It looks like the original [ASP.NET Security GitHub project](https://github.com/aspnet/Security#aspnet-security-archived) has been archived. However, ongoing development on this project can be found within the new [ASP.NET Core GitHub project](https://github.com/dotnet/aspnetcore#aspnet-core).

I've assigned this issue to the author who will investigate and update the documentation as a

[2022-02-02 16:57] JamesTran-MSFT commented on #87300
@efrain-valdez
Thank you for your time and patience throughout this issue. I've assigned this issue to the author who will investigate and update as appropriate.

Please note, for any issues not related to improving our docs. It's recommended to leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posting your issue there so our community, and MVPs can further assist you

[2022-02-02 17:00] lanicolas opened #87350 "Reference to Azure Monitor resources"
There is a reference to Azure Monitor resources when it should be Azure-Arc enabled server, under the section how to create the PL scope:

Choose the virtual network and subnet that you want to connect to your Azure Monitor resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa8defc-fa38-dfc2-a0bc-18a2051eb3f6
*

[2022-02-02 17:02] mmacy commented on #87179
@kmb385 Great! One quick fix to your issue description:

![image](https://user-images.githubusercontent.com/13394541/152199454-382dc655-6a5b-446b-a6bb-a15b05ac385f.png)

@Dickson-Mwendia We'll need to balance the convenience/ease of adding a redirect URI to the same app registration as the web API vs. creating a new app registration for Postman (to act as the client app). Best practice is to use s

[2022-02-02 17:04] buddolla-suresh commented on #85937
Hi Team,

I am still facing this issue and could not able to create the storage container

New-AzStorageContainer : Method not found: 'System.Threading.Tasks.ValueTask
Azure.Core.Pipeline.HttpPipeline.SendAsync(Azure.Core.HttpMessage, System.Threading.CancellationToken)'.
At line:1 char:1
+ New-AzStorageContainer -Name $containerName -Permission Off -Context  ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-02-02 17:06] rwike77 commented on #87319
@cimadai-cmnt Yes, the badge color was changed to grey which seems to have caused some confusion.  Engineering is rolling out an update sometime in the second half of February which will change the badge color back to blue.  We just pushed out a doc update to [this article](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) which explains that the color will

[2022-02-02 17:16] asudbring commented on #86949
PM updated doc with note that IPs have to be dis-associated to be upgraded.

#please-close

[2022-02-02 17:16] #86949 closed

[2022-02-02 17:16] JamesTran-MSFT commented on #87336
@uowdaniel
Thank you for pointing this out!

When following the [PowerShell reporting on users registered for MFA](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-reporting#powershell-reporting-on-users-registered-for-mfa) section, I only retrieved the `UPN, MFA status and method fields`. However, after downloading the report using the Portal, I was able to see the

[2022-02-02 17:19] scoriani commented on #87305
We're fixing that, thanks!

[2022-02-02 17:21] kobulloc-MSFT commented on #87057
@StuBeck32 I've sent the screenshot to the doc author, @Heidilohr who currently has it in review.  Thank you for helping to improve our documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-02 17:21] #87057 closed

[2022-02-02 17:27] kobulloc-MSFT commented on #86996
@Klaas- Thank you for you tracking these release and update times.  I've passed this information to the documentation team who is working on creating new documentation to more clearly communicate this to readers (which may ultimately take the form of an SLA doc).  Since there's no additional action to take at this time, we are going to close this thread as resolved but if there are any further que

[2022-02-02 17:27] #86996 closed

[2022-02-02 17:29] b-hchen commented on #87318
@john997301 - Thank you for calling this out!

@b-ahibbard  - Would you mind helping us fixing this typo?  Thanks!

[2022-02-02 17:30] kobulloc-MSFT commented on #87344
@tivrobo Thank you for your question!  We are looking into the feature roadmap and will get back to you shortly.

[2022-02-02 17:33] jmprieur commented on #87289
@JamesTran-MSFT, feel free to fix the doc by providing the link to the ASP.NET Core GitHub project.

[2022-02-02 17:33] Waukeene opened #87351 "ADF issue with managed VNET in a multi data source configuration"
Hi,

Providing some feedback to improve this documentation. I have been working with several accounts and have all run into problems when configuring a multi data source environment. There is one step that is not explicitly mentioned.

Regarding the missing steps:

•	Documentation:

o	[Access Microsoft Azure SQL Managed Instance from Data Factory Managed VNET using Private Endpoint - Azure Data Fa

[2022-02-02 17:41] PriyankaRudramaina commented on #87295
Hello @amanmcse,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Heidilohr,
Request you to review this content and update the document as appropriate.

[2022-02-02 17:43] npherson opened #87352 "Screenshots out of date"
Cornerstone OnDemand did a rebranding awhile back. We need updated screenshots for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d426f917-0efe-62f7-4a93-320c2e33343b
* Version Independent ID: 9d02123b-23ab-4eb5-b315-5c2e685c245d
* Content: [Tutorial: Azure Active Directory Single sign-on (SSO) integration with C

[2022-02-02 17:48] JamesTran-MSFT commented on #87289
@bkwdesign
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-02 17:48] #87289 closed

[2022-02-02 17:49] JamesTran-MSFT commented on #87352
@npherson
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-02 17:54] thisisanniefang commented on #86106
@AndreasMWalter Thanks for the feedback! The example templates are actually correct and the recommend configuration due to a current ongoing Known Issue (just added to https://docs.microsoft.com/en-us/azure/load-balancer/whats-new, and should appear soon).

We recommend setting the numberOfProbes property to 1 to reflect the current behavior.

#please-close

[2022-02-02 17:54] #86106 closed

[2022-02-02 17:57] AlexandraKemperMS commented on #87307
@maud-lv this would be a good doc to also add portal support to

[2022-02-02 18:09] DrRobertMurphy commented on #82039
Hi @SwathiDhanwada-MSFT
I haven't heard from you--I just sent another email.

[2022-02-02 18:10] PriyankaRudramaina commented on #87296
@jeffwmiles,

Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@zr-msft - Zach, could you please review this content and see if this can updated ?

[2022-02-02 18:30] dnorambu opened #87354 "Recorder tool"
It would be great to say that k4arecorder.exe tool works in administrator cmd, otherwise throws this error, which is not very useful.
![imagen](https://user-images.githubusercontent.com/65257235/152215521-9a78c3b4-3785-43a5-bb01-ff0ee5678f5e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f73791d-09c0-95aa-fd26-a2

[2022-02-02 18:38] KrishnaG-MSFT commented on #87350
@lanicolas Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-02 19:02] mmacy commented on #86952
@davvit This has been resolved in https://github.com/MicrosoftDocs/azure-docs/commit/0bd6221ce632a64754fcb32ff2f08d7b7220729e.

[2022-02-02 19:20] KranthiPakala-MSFT commented on #87214
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-02-02 19:20] #87214 closed

[2022-02-02 19:21] KranthiPakala-MSFT commented on #87351
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-02 19:25] AndreasMWalter commented on #86106
Oh, ok, is this an issue that only affects the portal or also the API?
And also is it generally recommended to use 1 or just due to the issue?

So many questions :)

[2022-02-02 19:36] pwiseman95 opened #87356 "GitDocumentation"

[2022-02-02 19:44] cynthn commented on #79974
#reassign @MsGabsta

[2022-02-02 19:44] ezYakaEagle442 opened #87357 "Java & .Net Core app containerization and migration to Azure Container Apps"
The Azure Migrate: App Containerization tool Java app containerization and migration Tool Today, currently supports :

- Containerizing Java Web Apps on Apache Tomcat (on Linux servers) and deploying them on Linux containers on AKS
-
- Containerizing Java Web Apps on Apache Tomcat (on Linux servers) and deploying them on Linux containers on App Service
-
- Containerizing ASP.NET apps and deploying

[2022-02-02 19:45] javester opened #87358 "azopy does not support NFS"
Need a mention here that AzCopy doesn't support NFS Azure File Shares.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1bdc29f-175d-09b9-771d-cd84dbffbb49
* Version Independent ID: f5fe11b9-8224-aa19-602d-bcc3ed7c9452
* Content: [azcopy copy](https://docs.microsoft.com/en-us/azure/storage/common/storage-ref-azcopy-copy

[2022-02-02 20:04] ecfan commented on #86778
Hi @ryanperrymba, as we haven't heard from you, we'll close this thread for now. Feel free to reopen if you need additional help. Thanks!

@SamaraSoucy-MSFT: #please-close

[2022-02-02 20:04] #86778 closed

[2022-02-02 20:04] Saratoga6 opened #87360 "PowerShell sample err [Microsoft.Open.AzureAD.Model.Application] does not contain a method named 'IndexOf'."
AS-IS rfrom documentation

returns error

Method invocation failed because [Microsoft.Open.AzureAD.Model.Application] does not contain a method named 'IndexOf'.
At C:\scripts\SSO\list-sso.ps1:39 char:7
+       $aadapServPrinc[$aadapApp.IndexOf($item)].DisplayName + " (AppI ...
+       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:

[2022-02-02 20:10] SadiqhAhmed-MSFT commented on #87143
@blogero45 For VMWare there are two ways to achieve ASR.
Option1: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial
Option2: https://docs.microsoft.com/en-us/azure/site-recovery/deploy-vmware-azure-replication-appliance-preview

But for Physical servers there is only one as of today - https://docs.microsoft.com/en-us/azure/site-recovery/physical-azure-disaster-recovery

Ho

[2022-02-02 20:11] JamesTran-MSFT commented on #87360
@Saratoga6
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-02 20:18] laujan commented on #87279
Hi @MohamedA-Ibrahim , Thank you for your feedback. The C# code has been updated.

#please-close

cc: @YutongTie-MSFT

[2022-02-02 20:18] #87279 closed

[2022-02-02 20:19] rolyon commented on #81166
Hi @SzangoliesJ
Thanks for your feedback. The Service Administrator and Co-Administrator roles have the equivalent access of a user who is assigned the Owner role at the subscription scope. For more information, see:
https://docs.microsoft.com/en-us/azure/role-based-access-control/rbac-and-directory-admin-roles#classic-subscription-administrator-roles

If you use Azure AD PIM, you can get the foll

[2022-02-02 20:20] rolyon commented on #81166
#please-close

[2022-02-02 20:20] #81166 closed

[2022-02-02 20:30] henry-padilla opened #87361 "Where can I find definitive values for $schema?"
I have exported ARM templates that come with parameter files where `$schema` is set to `"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#"` and others that are set to `"https://schema.management.azure.com/schemas/2018-05-01/deploymentParameters.json#"`.

Both of these are invalid according to the Bicep extension for VS Code.
I found, in the article, the value `"htt

[2022-02-02 20:42] guidovbrakel commented on #86961
What's the status?

[2022-02-02 20:45] craftyhouse commented on #87344
@tivrobo What do you mean by "available"? Do you mean GA?

[2022-02-02 20:50] tejaswikolli-web commented on #85239
Added the error details to login page

[2022-02-02 20:55] Minewiskan commented on #87216
@ruairidh37 - Thanks for pointing this out! It has been updated.
#please-close

[2022-02-02 20:55] #87216 closed

[2022-02-02 21:04] aahill commented on #86678
Thanks for letting us know about the issue! Since this is an issue with the tooling, I'll close and follow up with the team to:
* See about other tools we might recommend
* Let them know you ran into a blocker

#please-close

[2022-02-02 21:04] #86678 closed

[2022-02-02 21:08] AConant opened #87362 "Fix or Clarify client requirement for short path"
In the REQUIREMENTS section, it says:

<snip>

Requirements
To support RDP Shortpath, the Azure Virtual Desktop client needs a direct line of sight to the session host. You can get a direct line of sight by using one of these methods:

Make sure the remote client machines must be running either Windows 10 or Windows 7 and have the [Windows Desktop client](https://docs.microsoft.com/en-us/windows-s

[2022-02-02 21:09] wasperen commented on #87065
That is correct. The documentation tells us to copy the jdbc settings from the hive2 config, but these are incorrect somehow. The zookeeper addresses are incorrect in that config profile. It works if you copy and paste the individual zookeepers server addresses into the jdbc string.

[2022-02-02 21:47] dm3942 opened #87363 "Get-AppxPackage code snippet"
Powershell parameter value is missing an 's'
Get-AppxPackage -Name Microsoft.HEVCVideoExtensions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7101211b-84cb-9b18-1014-98549844008d
* Version Independent ID: 62c85d3f-af2b-a2fd-6c20-2ef24dfc4c48
* Content: [Troubleshoot - Azure Remote Rendering](https://docs.microsoft.co

[2022-02-02 22:09] mike-urnun-msft commented on #87338
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-02 22:43] mike-urnun-msft commented on #87340
Hello @codemaker - Thank you for your feedback! I think the creation, publishing of the service can be done via [Powershell](https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/new-azapimanagement?view=azps-7.1.0) or [ARM](https://docs.microsoft.com/en-us/rest/api/apimanagement/current-ga/api-management-service/create-or-update) (not sure if the SDK can do it) but for all of the ot

[2022-02-02 22:43] laujan commented on #87334
Hi @puthurr, Thank you for your feedback. We have updated start-translation.md. based upon your comments. Thanks again!

#please-close

cc: @YutongTie-MSFT

[2022-02-02 22:43] #87334 closed

[2022-02-02 22:55] mike-urnun-msft commented on #87104
Hi @pragnagopa - I've created a [PR](https://github.com/MicrosoftDocs/azure-docs-pr/pull/187272) that removes the .net core v2 from the prereq and left the v3 as-is. Should we update for .NET 6 to align with what's on [Github Readme](https://github.com/Azure/azure-functions-powershell-worker#prereqs)?

[2022-02-02 23:06] DarinShapiroMS opened #87365 "Incorrect videoName attribute value in doc page."
Section "Run the program", Item 7, videoName is incorrect according to latest version of "https://raw.githubusercontent.com/Azure/video-analyzer/main/pipelines/live/topologies/evr-hubMessage-video-sink/topology.json"

Existing text..
Open the [pipeline topology](https://raw.githubusercontent.com/Azure/video-analyzer/main/pipelines/live/topologies/evr-hubMessage-video-sink/topology.json) in a brows

[2022-02-02 23:13] #87290 closed

[2022-02-02 23:27] AHaryanto opened #87366 "Why are shared storage accounts not a good idea?"
Hi, can someone please explain why multiple function apps sharing the same storage account is not a good idea? Is it better to have one storage account per function app?

Original doc:

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4d93f2d-6c04-7fc6-3f86-5ea7f9cca5c4
* Version Independent ID: 77469c95-fd85-0f

[2022-02-02 23:28] kobulloc-MSFT commented on #87362
@AConant Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-02 23:57] lokijota opened #87367 "Where is the URL to a specific document used?"
This page says in step 7 that a specific document can be used. But it doesn't saw HOW/WHERE to use it.

If I click the button "Debug Specific Document" in the Azure Portal, nothing happens.

What do I do with the URL to the blob?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39bcc0c0-f00f-de66-311d-4f07886db3bd
* Ver

[2022-02-03 00:01] bubbletroubles opened #87368 "Conflicting URL information on MS blog vs AVD Safe URL List page"
The blog post (published 31st Jan 2022) https://techcommunity.microsoft.com/t5/azure-virtual-desktop/important-new-changes-in-required-urls/m-p/3094897#M8529 says the URL should be `*.prod.warm.ingest.monitor.core.windows.net` and should be allowed as soon as possible.

However the page this issue is raised for does not have this URL as a requirement. Is the URL ***.prod.warm.ingest.monitor.core.w

[2022-02-03 00:05] ZKL2337 opened #87369 "登录机制"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05f7a3db-b7a5-513b-a571-9fd5ff66790e
* Version Independent ID: b5ffef12-f9ec-ecba-4dfd-c5529376d74d
* Content: [Tutorial: Configure GitHub Enterprise Managed User for automatic user provisioning with Azure Active Directory](https://docs.microsoft.com/

[2022-02-03 00:24] HeidiSteen commented on #87367
If you click "Debug specific document", a new field should appear that says "File URI".    Is that field not showing up for you??
![image](https://user-images.githubusercontent.com/1612796/152260197-cdb69c13-33b4-4dc8-a0fe-1be7b402edb8.png)

[2022-02-03 00:42] eric-urban commented on #80602
@nansravn - Doc fix will ship later today so I am closing this out. Thanks for your patience!

[2022-02-03 00:43] eric-urban commented on #80602
#please-close

[2022-02-03 00:43] #80602 closed

[2022-02-03 00:44] MartinJaffer-MSFT commented on #87348
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2022-02-03 00:48] MartinJaffer-MSFT commented on #87346
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-03 00:50] anantharamakrishnans commented on #86556
Yes, creating a web api then protecting it using client credentials using
azure AD and calling it from headless client or say service.

Regards,
Anantha

On Wed, Feb 2, 2022, 10:17 PM Marsh Macy ***@***.***> wrote:

[2022-02-03 00:50] MartinJaffer-MSFT commented on #87346
Thank you for your feedback. This has been assigned to the content owner, @rthorn17 , and will be updated as appropriate.

[2022-02-03 00:57] KrishnaG-MSFT commented on #87361
@henry-padilla Thanks for your comment! We will review and provide an update as appropriate.

[2022-02-03 00:59] KrishnaG-MSFT commented on #87356
@pwiseman95 Please provide more information about your feedback. Also, please share the Azure document URL to which the feedback is related to.

[2022-02-03 01:08] kobulloc-MSFT commented on #87368
@bubbletroubles Thank you for your question!  We are reviewing this and will get back to you shortly.

[2022-02-03 01:16] JamesTran-MSFT commented on #87369
@ZKL2337
Thanks for your post! Can you share some more details so I can gain a better understanding of your issue?

[2022-02-03 02:01] SnehaGunda commented on #84473
@clementratel Thank you for your feedback, I recently took over this space and working on the issues.
I agree that the use command will show a better flow. After switching to the DataExplorationDB, all the commands are run against it. I don't get your point "Step 3 part 1 has to be executed against the master database as mentioned." can you clarify?

I don't see a need to create multiple scripts a

[2022-02-03 02:06] RyanHill-MSFT commented on #87127
@NH2501, I've confirmed that this sample does indeed work. When running locally, `containerClient = new BlobContainerClient(new Uri(containerEndpoint), new DefaultAzureCredential());` will use the current context to fetch a token that is associated with the identities that were added to Storage Blob Data Contributor role.

![image](https://user-images.githubusercontent.com/47189704/152269006-ecfb4

[2022-02-03 02:06] #87127 closed

[2022-02-03 02:16] Kawinnie opened #87372 "Typo: Storage (genral purpose v1)"
[Enter feedback here]
In the call out box listing that Storage (general purpose v1) accounts are not available for use with EventGrid there's a typo in "genral".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b250ca39-0ba3-20dc-179b-c5a0d80fba9f
* Version Independent ID: 5f1d000e-c731-4b98-8eb7-55836829ca47
* Content:

[2022-02-03 02:16] Karishma-Tiwari-MSFT commented on #87293
@habby-max Is there an update?
Is there something in any specific Azure official doc you are looking to have updated or are having issues with? The scope for these doc issues is to help identify gaps and issues with the documentation.

Else, if you are looking for help with troubleshooting issues you are facing, I would suggest reaching out to the [Microsoft Q&A ](https://docs.microsoft.com/en-us/

[2022-02-03 02:18] Karishma-Tiwari-MSFT commented on #87280
@MohamedA-Ibrahim Please share the document url where this 404 link needs to be fixed. Thanks.

[2022-02-03 02:39] SnehaGunda commented on #86077
@thetadweller  This page describes the next-gen external tables (aka. Native external tables) that are available in the serverless SQL pool and partially in the dedicated pool. In gen2 dedicated pools are available only parquet native tables. CSV, delta, spark, and dataverse tables are available only in serverless SQL pools.

There is a note at the beginning of the which explains it. For better cl

[2022-02-03 02:43] MayankBargali-MSFT commented on #87240
@scottchill Thanks for reporting this item! The document has been updated and it will be published soon. We appreciate the feedback!

[2022-02-03 02:44] #87240 closed

[2022-02-03 02:46] Varnauld commented on #87030
Hello @SatishBoddu-MSFT - we are tracking this task (work item 37971562) - Assigned to Patrick Misteli

[2022-02-03 02:49] Karishma-Tiwari-MSFT commented on #87177
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2022-02-03 02:49] #87177 closed

[2022-02-03 02:50] Varnauld commented on #86751
Hi @asergaz - we are tracking this under work item 37840042 - can you please reassign to Patrick Misteli ?

[2022-02-03 02:51] SnehaGunda commented on #86077
#please-close

[2022-02-03 02:51] #86077 closed

[2022-02-03 02:52] Varnauld commented on #86691
Hello @AshokPeddakotla-MSFT - we are tracking this under work item 37840086 - can you please re-assign to Patrick Misteli ?

[2022-02-03 02:55] mazgi opened #87374 "Please update Firewall SNAT ports limit 1024 -> 2496"
We know the Firewall SNAT port limit was increased to 2496 from 1024.
However, the limit is still 1024 in "SNAT port exhaustion" in the Docs.
Could you update it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 474ba3cb-afa1-4ec5-37df-6553a5523dbb
* Version Independent ID: 56096558-1943-3f6b-9609-7722200272fb
* Content:

[2022-02-03 03:11] #84473 closed

[2022-02-03 03:48] MayankBargali-MSFT commented on #87372
@Kawinnie Thanks for reporting this item! The document has been updated and it will be published soon. We appreciate the feedback!

[2022-02-03 03:49] #87372 closed

[2022-02-03 03:50] MayankBargali-MSFT commented on #87366
@AHaryanto Thank you for your feedback! We will review and update as appropriate.

[2022-02-03 03:58] kobulloc-MSFT commented on #87341
@burakalver The [free Azure account](https://azure.microsoft.com/en-us/free/) is a great way to learn about Azure services and I agree, it would be great if it covered all of the quickstart and tutorial scenarios for every service.  Feedback like this is very valuable and the best place to make that feedback visible is on feedback.azure.com:

https://feedback.azure.com/d365community/forum/ebeaa30a

[2022-02-03 04:49] RohitMungi-MSFT commented on #87314
@jyravi The document is now updated. We will go ahead and close the issue. Thanks for spotting this.

[2022-02-03 04:49] #87314 closed

[2022-02-03 04:54] SumanthMarigowda commented on #87358
@javester Thanks for the question! We are investigating and will update you shortly.

[2022-02-03 04:54] amanmcse commented on #87349
@ViggoL Thank you for your feedback. We will investigate and update the thread further.

[2022-02-03 04:56] GitaraniSharma-MSFT commented on #87374
@mazgi , thank you for your feedback. We'll review this and get back to you shortly!

[2022-02-03 05:08] amanmcse commented on #87354
@dnorambu  Thank you for your feedback. We will investigate and update the thread further.

[2022-02-03 05:21] AnuragSingh-MSFT commented on #87144
@Jiannko, I wanted to check if you had a chance to review my comment above and follow the recommendation? Please let me know if you have any questions.

[2022-02-03 05:22] KrishnaG-MSFT commented on #87178
We have verified and have raised the pull request to update the document as appropriate. Once its merged, the update should go live. Thanks again!

[2022-02-03 05:22] #87178 closed

[2022-02-03 05:25] ondrejspilka commented on #86837
Hello, this is very important o know. As there's a quota of 100 layered deployments per SKU, if above is valid it in turn prohibits from keeping version history in place for longer periods, so devices with longer update maintenance cycles might run out of active portion of deployments. Then missing deployment version would mean removal of modules without user knowing, which is definitely not accep

[2022-02-03 05:30] AnuragSingh-MSFT commented on #87168
@larrybud2004, Please let me know if you had a chance to review the comment above and let me know if you have any questions.

[2022-02-03 05:36] tackman opened #87376 "Specified feature in the document does not exist"
# Description

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-with-ui

In the image illustrated on this page, there is an input field called "Path on compute", but in the actual UI, this field is missing.
![](https://docs.microsoft.com/en-us/azure/machine-learning/media/how-to-train-with-ui/input-command-name.png)

## Suggestion

- Update document instruction to that does not

[2022-02-03 05:44] shwetamathur7 commented on #87189
@bmay-cloudwallcapital

We don't provide product release dates, roadmap projections, predictions, or guesses in technical documentation.
Refer below for latest releases and updates:
https://azure.microsoft.com/updates
https://www.microsoft.com/microsoft-365/roadmap?filters=Azure%20Active%20Directory

[2022-02-03 05:44] #87189 closed

[2022-02-03 05:57] jcetina opened #87377 "Can you remove resource properties with policy?"
In the attached screenshot, you can see that the documentation for the `remove` operation claims it can remove properties and tags.

<img width="835" alt="Screen Shot 2022-02-02 at 9 53 32 PM" src="https://user-images.githubusercontent.com/2524571/152289257-7b942661-94aa-4fbd-a2b9-bfb0df83baea.png">

However, when trying to remove a diagnostic setting via policy, I got the following error:

```Ser

[2022-02-03 06:01] AnnuKumari-MSFT commented on #87118
Hi @VitalyMCT ,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-03 06:01] #87118 closed

[2022-02-03 06:06] Sharmistha-Rai commented on #86896
@danailedms - you're correct. The docker disks can be excluded when enabling replication on a machine. No recommendation apart from redeploying the images.

[2022-02-03 06:11] ivassallo19 opened #87379 "Azure Enterprise App Instructions Up-to-date?"
As I find the Salesforce app already in my AAD Tenant as an Enterprise App, when I go to the Single sign-on section, I don't see any controls for SAML, but instead see:
![image](https://user-images.githubusercontent.com/48706028/152290566-cfa0f080-66e8-417a-aeca-ff6b42194168.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-03 06:37] SwathiDhanwada-MSFT commented on #87377
@jcetina Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-03 06:45] SadiqhAhmed-MSFT commented on #87357
@ezYakaEagle442 Thanks for the feedback. We will review this request and update you shortly.

[2022-02-03 06:52] Balajivendhan commented on #87348
https://registry.terraform.io/modules/Azure/aks/azurerm/latest
HI @MartinJaffer-MSFT , this is also related to terraform azure provider

[2022-02-03 06:53] amanmcse commented on #87363
@dm3942 Thank you for your feedback. We will investigate and update the thread further.

[2022-02-03 06:55] amanmcse commented on #87365
@DarinShapiroMS Thank you for your feedback. We will investigate and update the thread further.

[2022-02-03 06:59] ram-msft commented on #87376
@tackman Thanks for the question. We are investigating the issue and will update you shortly.

[2022-02-03 07:07] cpinotossi opened #87380 "Please mention that kerberos is not supported via application gateway in faq"
the faq does mention that ntlm is not supported:
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#does-application-gateway-v2-support-proxying-requests-with-ntlm-authentication
Could we extend this to also mention that kerberos is not supported.

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-02-03 07:22] altwohill opened #87381 "Example runbook script does not work"
Running the example runbook script gives the an error

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8470c7-57d1-e2ec-cc70-a43c8dfc42d6
* Version Independent ID: 2da6432e-e642-10ae-199c-9ebb1e19a5d8
* Content: [Create PowerShell runbook using managed identity in Azure Automation](https://docs.microsoft.com/en

[2022-02-03 07:23] MughundhanRaveendran-MSFT commented on #87366
This recommendation is provided so that  the balance between the cost, reliability, maintenance and isolation (single point of failure) is maintained. If multiple apps are using the same storage account and happened to use the same hostid explicitly or have the same names based on the first 32 characters of the app name, then this will lead to issues since all such apps will now be competing for t

[2022-02-03 07:25] MughundhanRaveendran-MSFT commented on #87366
@AHaryanto , Pls check the above comment

[2022-02-03 07:28] j-lebek opened #87382 "Table showing Spring Boot application properties is scrambled"
Hi,
section https://docs.microsoft.com/en-us/azure/service-connector/how-to-integrate-key-vault#java---spring-boot ("Java - Spring Boot") should show a table. However, it is not rendered correctly. Most likely the corresponding Markdown is invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60735fb0-70fc-37df-b0bc-

[2022-02-03 07:32] afrozhussain commented on #8176
@ronortloff we are facing the same duplicate rows issue when there is an identity column what fix can help avoiding the duplicate rows?

[2022-02-03 07:33] j-lebek commented on #87382
![image](https://user-images.githubusercontent.com/88532720/152299976-35e34564-fe23-42a1-81ec-8a88762061d5.png)

[2022-02-03 08:03] SatishBoddu-MSFT commented on #87363
Hello @dm3942 Thanks for reporting this issue.

What output do you see when you run the command: **Get-AppxPackage -Name Microsoft.HEVCVideoExtension**  ?

![image](https://user-images.githubusercontent.com/62923178/152303708-d7a92b06-fc11-4af0-9295-709d7c74faed.png)

[2022-02-03 08:03] juanandmsft opened #87384 "Clarifications on custom roles"
Hi team,

I would suggest a couple of clarifications in the article.

First, AssignableScopes could be described as optional if possible, specially for permissions over MI RG.
In customer scenarios, while DMS and Storage Account might be predefined for migration activities, it might be possible that RG where MI would be created will not be known in advance or MIs will be created in multiple subscr

[2022-02-03 08:23] KWinTie opened #87385 "Mention web app configuration please"
[Enter feedback here]
You should mention that services like Azure Web App requires that you also configure the web app itself with the same domain name (ie contoso.com) as the root domain in Front Door. And that you need to add that domain to the backend host header configuration in Front Door.

If you don't do it and you just use the default, you can end up with loops and blocking (if you limit b

[2022-02-03 08:24] lokijota commented on #87367
![image](https://user-images.githubusercontent.com/1908210/152306218-7c1fa7aa-a52e-43eb-be65-c51302e66c9d.png)

No, nothing at all. See above. Also, no JavaScript erros in the Edge Chromium console.

[2022-02-03 08:24] MohamedA-Ibrahim commented on #87280
@Karishma-Tiwari-MSFT
This is the link that leads to 404 page:
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/tutorial-wpf-translation-csharp

[2022-02-03 08:41] KrishnaG-MSFT commented on #87381
@altwohill A per the error, the cmdlet [Disable-AzContextAutosave](https://docs.microsoft.com/en-us/powershell/module/az.accounts/disable-azcontextautosave?view=azps-7.1.0) is not recognized.

That means, the cmdlet related module is not imported in your environment.

The cmdlet [Disable-AzContextAutosave](https://docs.microsoft.com/en-us/powershell/module/az.accounts/disable-azcontextautosave?vie

[2022-02-03 08:56] Jiannko commented on #87144
@AnuragSingh-MSFT :  I have enabled the configuration by updating the code with the below line
enableAutoRouteTracking: true
The page view comparison needs to be performed for a newly published page .
I am waiting for the test results.

[2022-02-03 09:02] tivrobo commented on #87344
@craftyhouse, yes. When we can use it in production?

[2022-02-03 09:10] GitaraniSharma-MSFT commented on #87374
@mazgi , We have assigned this to the content owner/author for review.

@vhorne , It looks like Azure Firewall SNAT port value has been increased to 2496 recently. Request you to review this and merge the PR accordingly.

[2022-02-03 09:17] dpatel124 opened #87389 "service ms-telegraf incorrect"
I have been using this product extensively and troubleshooting using this section. The service ms-telegraf does not exist in the Azure Monitor Agent, the service name is telegraf and subsequently the paths with ms-telegraf is telegrad instead eg  /var/log/ms-telegraf/telegraf.log is  /var/log/telegraf/telegraf.log

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-02-03 09:22] GitaraniSharma-MSFT commented on #87385
@KWinTie , thank you for your feedback. We have assigned this to the content owner/author for review.

@duongau , for your review.

[2022-02-03 09:23] wimvangoethem commented on #51660
I've followed the documentation on this (https://docs.microsoft.com/nl-nl/azure/active-directory-b2c/localization#inputvalidation) and still have the issue described by @HWouters. I'm getting partial translation. The Predicates are translated properly, but the PredicateGroup is not.
In TrustFrameworkBase xml:
    <PredicateValidations>
      <PredicateValidation Id="StrongPassword">
        <Predi

[2022-02-03 09:30] chtourou-youssef commented on #83681
any help please ?

[2022-02-03 09:34] DBJDBJ opened #87390 "What is the difference between Telemetry and Logging?"
For example, syslog is not telemetry, if I am not gravely mistaken?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8d2de3-73e5-857c-f87e-38ad9ed1358d
* Version Independent ID: 86ad9550-7a64-948e-440a-4b97bf5c812d
* Content: [Using Search in Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/

[2022-02-03 09:46] xzrian commented on #86600
Hi dnethi, May i know is there any clarification for the AKS-HCI doesn't have any default class.
From what i see it will use disk csi by default.

You may refer picture below for reference.

![image](https://user-images.githubusercontent.com/47202302/152318589-2bd04d95-3f68-4d99-bfdd-6c32cb1059df.png)

[2022-02-03 10:03] johanstenberg-sj opened #87400 "Permission model to use for KayVault access"
Hi,

You should add in the documentation that it also possible to use the Permission model "Azure role-based access control" for the KeyVault.

I.e. for the example (using Permission model “Vault access policy” for the KeyVault)

"# set policy to access secrets in your key vault
az keyvault set-policy -n <keyvault-name> --secret-permissions get --spn <identity-client-id>"

You should also provide

[2022-02-03 10:20] SfnUser commented on #87233
Hi,

Any update on this please?

[2022-02-03 10:45] #74079 closed

[2022-02-03 11:54] MonikaReddy-MSFT commented on #87390
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-03 11:55] MonikaReddy-MSFT commented on #87389
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-03 11:56] #85522 closed

[2022-02-03 11:59] MonikaReddy-MSFT commented on #87389
@dpatel124 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-03 11:59] #87389 closed

[2022-02-03 12:06] dpatel124 opened #87403 "Key Vault Permissions"
Just a note in our implementation the only Key Vault permission required for the SQL Monitoring profile is Key Vault Reader. Can you review these permissions if they are required ?

Microsoft.Authorization/roleAssignments/write
Microsoft.Authorization/roleAssignments/delete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2022-02-03 12:12] LaurentBriquet opened #87404 "Comparison Azure container based options"
[Enter feedback here]
this page makes no reference to the ARO Azure Red Hat openshift service when comparing. To my knowledge ARO is a full SKU part of the microsoft catalogue (co engineered and joint SRE teams in support).

Tx team
Laurent

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04491fb9-6ca7-c21a-5372-a966c8ee

[2022-02-03 12:33] rafaelmaciel commented on #52077
Hi, someone know about this problem? I have the same message, in my testes "failed to start change stream watch: (BadValue) Expected type string but found int.". Is this a CosmosDB's limitation or have any documention how do this works?

[2022-02-03 12:41] shashishailaj commented on #87379
@ivassallo19 Thank you for your query . We will investigate and update the thread.

[2022-02-03 13:00] kevin-george-ul opened #87405 "External call transformation: Missing guidance on how to use "Body""
There is no documentation or references on how to set the content of `body` when using a `post`/`put`.

If this is not supported, then would be good for it to called out as a limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73a3c6c0-e834-4fa3-ecd6-ba220b46c79c
* Version Independent ID: adb106be-ca29-47fd-3dea

[2022-02-03 13:04] shashishailaj commented on #87256
@serkansah We checked this internally and found that this is being worked on and we are making improvements and working towards GA however currently do not have a timeline estimate that we can provide . Please keep a track of new announcements about new features here https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/whats-new .  .

Thank you .

[2022-02-03 13:04] #87256 closed

[2022-02-03 13:31] abarqawi opened #87406 "Links broken for article"
Manage new application Link doesn't work
Also Onboard existing application

![image](https://user-images.githubusercontent.com/16225699/152352367-e7413c3a-fca9-4147-ba1a-55483cdd6782.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 762cd89e-4478-f58d-cf76-ab024c1cef61
* Version Independent ID: 8dec3455-ec48-b3eb-16d

[2022-02-03 13:32] abarqawi commented on #87406
Also i am looking for the 2 articles below it seems deleted ?

Deploy an application managed by Open Service Mesh (OSM) using Azure Application Gateway ingress AKS add-on
https://webcache.googleusercontent.com/search?q=cache:FoQO_ZLLNHQJ:https://docs.microsoft.com/en-us/azure/aks/open-service-mesh-azure-application-gateway-ingress+&cd=1&hl=en&ct=clnk&gl=pl

Deploy an application managed by Open Se

[2022-02-03 13:48] dsotrean commented on #52663
<Get-AzRoleAssignment : Cannot find principal using the specified options> error is thrown due to missing privileges.
Try using a privileged account to run the <Get-AzRoleAssignment> command.

[2022-02-03 13:53] j-dahl7 opened #87407 "More details regarding "Other CEF ingestion costs.""
Can more detail be specified here regarding these other costs that can happen? There isn't much detail here, and if someone wanted to choose a CEF format, can cost examples be displayed? I think it would be helpful to show some metrics on the costs that can occur here.

For example, if you used RederedText, some have found that this is more reliable at displaying event details. How would additiona

[2022-02-03 13:55] KrishnaG-MSFT commented on #86404
Assigning to @vikrambmsft based on older assigned-to-author issues that are related to referred Azure document.

[2022-02-03 14:00] kengaderdus commented on #87171
Hi @patrickjlee

Thank you for your patience.

Before you start, you must satisfy the pre-requisites:
1. have a an api app (which exposes API with `scopes`) registered in Azure portal, and
1. Create a user flow/policy
You make two requests:

To acquire access token, there 're 2 steps:
- sept 1: get the `code` via `/authorize` endpoint
    - this is where the use will be challenged to sign in/sign

[2022-02-03 14:31] p-s-p opened #87408 "No PowerShell examples?"
[Enter feedback here]
All the commands on this page are provided for CLI only and no PowerShell. While this is an excellent document depicting the details for migrating subscription, it would have been excellent if PowerShell equivalent commands were included on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-02-03 14:46] GeethaThatipatri-MSFT commented on #87018
Hi @way0utwest we dint hear back from you please let us know if you have any other questions.

[2022-02-03 14:55] fenrew commented on #39711
up

[2022-02-03 15:00] jjindrich commented on #86703
I troubleshooted with support, there were another issues.

[2022-02-03 15:00] #86703 closed

[2022-02-03 15:04] danailedms commented on #86896
@Sharmistha-Rai thank you for your support and the additional clarity.

Can I recommend that the faq block is updated to reflect this information to help other moving forwards please Sharmistha-Rai
"- question: |
         Can I protect a virtual machine that has a Docker disk?
        answer: |
             No, this is an unsupported scenario."

i.e. update the answer from "No, this is an unsuppor

[2022-02-03 15:09] #87171 closed

[2022-02-03 15:11] #76778 closed

[2022-02-03 15:14] b-ahibbard commented on #87318
@john997301 - thanks for bringing this to our attention.
The change has been made: https://docs.microsoft.com/en-us/azure/azure-netapp-files/performance-linux-nfs-read-ahead#how-to-show-or-set-read-ahead-values
#please-close

[2022-02-03 15:14] #87318 closed

[2022-02-03 15:27] JamesTran-MSFT commented on #87407
@j-dahl7
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-03 15:28] JamesTran-MSFT commented on #87408
@p-s-p
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-03 15:37] MsGabsta commented on #80008
@sachip-msft does your VMSS have access to IP 168.63.129.16?

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-windows
Ensure your VM has access to IP address 168.63.129.16. For more information, see [What is IP address 168.63.129.16](https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16).

You can test communication to the wire server (168

[2022-02-03 15:38] kobulloc-MSFT commented on #87406
@abarqawi Thank you for reporting the broken links!  We are reviewing the documentation and will get back to you shortly.

[2022-02-03 15:39] fgheysels commented on #74145
Is there already any update on this @BryanTrach-MSFT

[2022-02-03 15:48] way0utwest commented on #87018
I appreciate the response, both from @markjbrown and @AnuragSharma-MSFT . If you feel this is sufficient, then I accept that.

I'm not sure you see my point, however. I was studying for the Cosmos DB exam, and specifically looking for an answer to this question. It wasn't clear. I don't think the "create an account or db" part is either, as I can create multiple databases, and I could easily see s

[2022-02-03 15:51] #87313 closed

[2022-02-03 16:06] SamaraSoucy-MSFT commented on #87212
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-02-03 16:07] mumian commented on #87361
@henry-padilla - see the answers in stackoverflow - https://stackoverflow.com/questions/35438389/where-is-the-list-of-deployment-template-schema-api-versions.  Search "deploymentParameters" instead of "deploymentTemplate".
We always keep this article update-to-date.  So you can check this article as well for the latest schema version.

#please-close

[2022-02-03 16:07] #87361 closed

[2022-02-03 16:08] sharbag opened #87410 "Documentation/Screenshots are not up to date"
In the documentation I see screenshots where I can recognize possibility for for autoscaling for APIM. I scaled my APIM instance to Premium-Tier and after the scaling (1h later) I still don't see any tab/button for setting of the autoscaling rules and I see that screenshots in the documentation are pretty old.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-02-03 16:13] sharbag commented on #87410
Sorry, I recognized my failure. The documentation is right, but I not expected that I need to open a "Monitor" to setup APIM Autoscaling. Usually it can be done directly from the resource itself.

[2022-02-03 16:13] #87410 closed

[2022-02-03 16:17] qJake commented on #39711
This thread is only for Microsoft Docs (docs.microsoft.com) - the product team is not going to hear your feedback here. You'll need to do one of the following:

* Find a GitHub repo for Azure Networking and submit an issue
* Find a Microsoft Feedback forum and submit an issue/suggestion
* File a support ticket within the Azure Portal and ask them to rename it - when they tell you it isn't possible

[2022-02-03 16:20] mmacy commented on #86556
Thanks, @anantharamakrishnans. The good news is that we've included that pattern in a large tutorial revamp project we're currently working on.

I'm curious - if you had your choice of the first tutorial we write for this scenario, which language/framework would you prefer for each of these?

1. Web API
2. Console application (includes scripts and compiled binaries)

[2022-02-03 16:24] jgross1031 opened #87413 "Include information for disabling soft delete"
Hello,
  As I tried to follow the documentation to help a Customer, I see that file shares have a little bit more information than blobs here. The section here, https://docs.microsoft.com/en-us/azure/storage/files/storage-files-enable-soft-delete?tabs=azure-portal#disable-soft-delete, talking about disabling a soft delete and also has information concerning permanently deleting the file share as w

[2022-02-03 16:43] darthmolen commented on #35923
what's the point of using a SHIR if not supported in ADF all the way? Private End points / Services are onerous to set up, whereas requesting a VM with phone home support (which is what a SHIR essentially is) is a much easier request from an operational stand-point. I too would love an update on when SHIR gets support into Data Flows.

[2022-02-03 16:46] rngDeadeye opened #87416 "Absolute rubbish"
The instructions don't match the screenshot, documentation on this subject is apauling.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 426842c5-260f-9180-e394-12b470163468
* Version Independent ID: c781230d-4992-5e45-7e13-10d89f97a086
* Content: [Register a SaaS application - Azure Marketplace](https://docs.microsoft.c

[2022-02-03 17:03] #86248 closed

[2022-02-03 17:15] jreyes4949 opened #87418 "Users have different app experience with passwordless auth"
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-passwordless-phone

The documentation says that users will need to type the two digit verification code, but some of our users get an option to select from 3 codes with only one being the correct one. Is there a setting or something that determines which users have to type the code vs selecting it

Here is

[2022-02-03 17:20] wjpigott opened #87419 "Changes for Replication Policies need updated"
[Enter feedback here]
Replication policies were just updated recently to change the default manner. The default is for no application consistent recovery points to be created. There is also a new option to save up to 15 days worth of recovery points vs. the max of 72 hours before.

![image](https://user-images.githubusercontent.com/86477713/152394737-aa392528-7686-42e5-9713-4b5f7aed0fa6.png)

---

[2022-02-03 17:23] yogeshpatel81 opened #87420 "Unable to use property copy on customRules of Microsoft.Network/ApplicationGatewayWebApplicationFirewallPolicies"
I have multiple customRules on WAF Policy some need copy but some doesn't. I am getting error of using same name property again.
Is there any way this can work?
I appreciate any help here.

Template:

[templateWAFPolicy.txt](https://github.com/MicrosoftDocs/azure-docs/files/7996795/templateWAFPolicy.txt)

[2022-02-03 17:25] RyanHill-MSFT commented on #87176
@thelzycoder were you referencing [this example](https://docs.microsoft.com/en-us/cli/azure/postgres/flexible-server?view=azure-cli-latest#az-postgres-flexible-server-create-examples)? The Python Django tutorial advises using `az postgres up` to create a single server and not a [flexible one](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/quickstart-create-server-cli#create-a-fl

[2022-02-03 17:25] #87176 closed

[2022-02-03 17:27] shashishailaj commented on #87319
@cimadai-cmnt Hope the explanation helps. We will now close this issue.

[2022-02-03 17:27] #87319 closed

[2022-02-03 17:47] azure1123 opened #87421 "Defender enabled at Subscription + Workspace. Paying double?"
Important information is that for you to be able to change the [level setting ](https://docs.microsoft.com/en-us/azure/defender-for-cloud/enable-data-collection?tabs=autoprovision-feature#setting-the-security-event-option-at-the-workspace-level)of Windows Security Events, you need to enable a Defender plan at the workspace level if you're using a Custom Log Analytics Workspace for Auto-provisionin

[2022-02-03 17:52] sachip-msft commented on #80008
Connectivity to 168.63.129.16 works fine. However I found that in guest agent log waappagent.log file, there were many failures connecting to endpoints ending with "*blob.storage.azure.net". Same connections show up in azure firewall under deny logs.
So I suspected guest agent process is generating this traffic.
After working with azure support team, analyst confirmed there is additional connectiv

[2022-02-03 17:54] ShaikMaheer-MSFT commented on #87405
@kevin-george-ul Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-03 17:57] debaxtermsft opened #87422 "Instance Names when adding add multiple B2C instance"
Please add to this document:

In section **5. On the Custom deployment page, enter the following information:**

Msp Offer Name | A name describing this definition. For example, Azure AD B2C Monitoring. This is the name that will be displayed in Azure Lighthouse.

The MSP Offer Name needs to have a different/new name for each B2C instance added.

**NOTE: If you are adding 2 or More B2C tenants to

[2022-02-03 17:59] debaxtermsft commented on #63126
@robermud
Please refer to the latest note I just left.
Please make sure that there are no other instances on that Log Analytics using the same Instance Name.

[2022-02-03 18:03] kmb385 commented on #87179
I'll assume the heart means share!  Here they are...

Here are updated instructions which attempt to walk through registration of the client application.

### Registering a Client Application to Call the Web API

After registering, exposing and protecting the ASP.NET Core web API an authorized client of the API can now send it requests.  A client might be any other piece of software, such as a Sin

[2022-02-03 18:05] TiJohn0108 opened #87423 "Statement around roaming %localappdata% in Note under "Non-persistent VDI" section"
In the Note under the heading "Non-persistent VDI" there's a statement "Roaming any data under the path %localappdata% is not supported.". As I understand a couple of scenarios, this might be an overstatement and it might need to be removed or modified.

An example of roaming information under %localappdata% is found in article https://docs.microsoft.com/en-us/deployoffice/overview-shared-computer

[2022-02-03 18:07] Tbohunek commented on #31254
And because Uservoice sucks, the Policy `match` function is still equally weak 3 years later. 😭

[2022-02-03 18:11] ThomasGottfreid opened #87425 "Feedback"
Well Written
[OK]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bff3e81f-1107-2b97-8ae1-c85cf2314c95
* Version Independent ID: 63d5a109-a072-4442-972c-87a5f6bc35bd
* Content: [Remediate risks and unblock users in Azure AD Identity Protection](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/

[2022-02-03 18:31] mike-urnun-msft commented on #87104
Hello @kbaken - Thanks again for reporting this and helping us drive improvements toward MS Docs! We have updated the Prereq section to reflect the latest versions needed and the changes will be live soon on this doc.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-03 18:35] mike-urnun-msft commented on #87404
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-03 18:37] BryanTrach-MSFT commented on #85688
@strueder If you are still encountering this issue, please email me at brtrach@microsoft.com with the subject as ATTN: Bryan and in the body include your azure subscription ID. We would like to provide you with a free support ticket so this can be explored further as our testing did not discover any 403 errors. Thank you for your understanding and patience on this matter.

[2022-02-03 18:37] #85688 closed

[2022-02-03 18:38] BryanTrach-MSFT commented on #86799
@Marusyk We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-03 18:38] #86799 closed

[2022-02-03 18:43] RyanHill-MSFT commented on #87349
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-03 18:44] sjrulandch opened #87426 "Documentation is out of date"
In the section on 'Configure general settings', the actual Azure screen has many more values that the documentation doesn't touch on.

![image](https://user-images.githubusercontent.com/95307543/152408227-cc96d0e7-fd4e-4b01-a3aa-31f245a48464.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73

[2022-02-03 18:46] SnehaGunda commented on #84473
#reassign: @SnehaGunda

[2022-02-03 18:49] mmacy commented on #87179
@kmb385 Wow! That's awesome. And, yes, the heart meant share - here's what I had written but failed to hit the **Comment** button:

[2022-02-03 18:51] SnehaGunda commented on #86077
#reassign: @SnehaGunda

[2022-02-03 18:56] rthorn17 commented on #87346
Hi @jmutchek-msft - Thank you for bringing this up to my attention.  I will need to see how we can update this page as this is a valid scenario, while also supporting the different Landing Zone Scenario that the CAF is discussing.  There are a few differences between the scenarios that are not called out clearly.  The CAF is saying that having a single parent MG for the Application, then having th

[2022-02-03 18:58] BryanTrach-MSFT commented on #86803
@danwatford Upon further review of your feedback, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-03 19:05] kobulloc-MSFT commented on #87400
@johanstenberg-sj Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-03 19:07] YutongTie-MSFT commented on #87342
@sohail123-code
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-02-03 19:07] #87342 closed

[2022-02-03 19:18] SaiKishor-MSFT commented on #87420
@yogeshpatel81 Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.
If your issue is specific to a use case, we request you to please reach out in forums like Microsoft Q&A or Stac

[2022-02-03 19:23] sebansal commented on #86603
Added the option to 'Archive to a storage account'
#please-close

[2022-02-03 19:23] #86603 closed

[2022-02-03 19:24] BryanTrach-MSFT commented on #86956
@jinyu1122 We have reached out internally to the product group for further clarity. Please give us a little bit to hear back from them. Thanks

[2022-02-03 19:35] danwatford commented on #86803
Hi @BryanTrach-MSFT

I'm hoping it turns out to be an issue with the SWA runtime that should be fixed rather than a documentation issue as getting access to the claims in API functions is really useful.

Which ever way it turns out, thank you for kicking off the investigation.

[2022-02-03 19:41] yogeshpatel81 commented on #87420
Sure, Thanks!

[2022-02-03 19:41] #87420 closed

[2022-02-03 19:46] MonikaReddy-MSFT commented on #87419
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-03 19:47] SadiqhAhmed-MSFT commented on #87143
@blogero45 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-02-03 19:47] #87143 closed

[2022-02-03 19:48] JamesTran-MSFT commented on #87425
@ThomasGottfreid
Thank you for the positive feedback!

Since there's no doc enhancement request, I'll go ahead and close out this issue.
Thank you again for the feedback!

cc: @MicrosoftGuyJFlo

[2022-02-03 19:48] #87425 closed

[2022-02-03 19:49] JamesTran-MSFT commented on #87423
@TiJohn0108
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-03 19:50] JamesTran-MSFT commented on #87422
@debaxtermsft
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-03 19:53] gabesmsft opened #87428 "Need to switch the --name and --record-set-name parameters in the last two PowerShell commands"
In the [Deploy with a private DNS](https://docs.microsoft.com/azure/container-apps/vnet-custom?tabs=powershell&pivots=azure-cli#deploy-with-a-private-dns) section, the last two PowerShell commands each contain a wrong parameter name for the respective command: the ** --record-set-name** and **--name** parameters were mixed up between the two commands.

Here are the correct commands:

[code]

[code

[2022-02-03 20:02] rwike77 commented on #86915
@astaykov Thanks for bringing this up, I'm following up with engineering on this.

[2022-02-03 20:04] dannyevers commented on #85020
#reassign:smannepalle

[2022-02-03 20:04] PRMerger9 commented on #85020
The following users don't have valid GitHub IDs, or are not collaborators on this repo: smannepalle

[2022-02-03 20:08] MartinJaffer-MSFT commented on #87199
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-02-03 20:24] cshalda opened #87430 "Link to code sample not working - "There isn't a built-in method to restore the entire server. For an example of how to accomplish this task, see Azure SQL Database: Full server recovery""
The link associated with what was intended to be a code sample for performing a full server recovery for Azure SQL only brings you to the main "browse code samples" page. Plus when I search for something related to the "Azure SQL Database Full Server Recovery" on that landing page, nothing comes up.

Here is the link in question - https://gallery.technet.microsoft.com/Azure-SQL-Database-Full-82941

[2022-02-03 20:27] msshinaida opened #87431 "Some roles mentioned in VMware account permissions do not exist in ESXi role adding monitor"
In the "VMware account permissions", it mentions "Datastore -> low-level file operations" role is required, but there is not "low-level file operations" role in ESXi role adding monitor.

Also, the roles names, mentioned in docs, are not exactly same as ESXi role adding monitor, so it confuses us if the roles are correct or not. ex) "browse datastore" in docs -> "Browse" in ESXi role adding monito

[2022-02-03 20:34] arahja opened #87432 "Need futher explanation in azure kubernetes azure files mount options documentation."
Mount options section needs further explanation. The documentation tells me what the defaults are but not what any of the parameters mean. If this is explained somewhere else in your documentation please include a link. Are the options listed in the example the only options available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-02-03 20:40] AV25242 commented on #86304
Any ETA on this ?

[2022-02-03 20:51] DerekHerman-MSFT commented on #87413
@jpgross1031 This information is available on the [Soft delete for blobs page](https://docs.microsoft.com/en-us/azure/storage/blobs/soft-delete-blob-overview#pricing-and-billing).

[2022-02-03 20:54] Grace-MacJones-MSFT commented on #87426
Hi @sjrulandch , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update this doc as appropriate

[2022-02-03 20:55] JamesTran-MSFT commented on #87360
@Saratoga6
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-03 20:55] #87369 closed

[2022-02-03 21:09] #86972 closed

[2022-02-03 21:09] BryanTrach-MSFT commented on #86972
@IgnacioAlvarezArenas Thank you for the input. We made an enhancement to the document to hopefully add a little clarity.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-03 21:43] MartinJaffer-MSFT commented on #87348
Ahh.  This medium is intended for documentation improvements.  Please post your question on [Microsoft Q&A](https://docs.microsoft.com/answers/products/) and we will assist you there, @Balajivendhan  .

[2022-02-03 21:43] #87348 closed

[2022-02-03 21:45] MartinJaffer-MSFT commented on #87382
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-03 21:50] jgross1031 commented on #87413
Hi Derek,
  Thank you for looking into this. I did see that section but it is not as clear as Azure Files where it states "To permanently delete a file share that has been soft deleted, you must undelete it, disable soft delete, and then delete it again."

From: DerekHerman-MSFT ***@***.***>
Sent: Thursday, February 3, 2022 3:52 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Justin Gross (INSIGH

[2022-02-03 21:51] MartinJaffer-MSFT commented on #87382
Thank you for bringing this to our attention @j-lebek .  I concur with your assessment.
Investigating the source-behind, the preview shows a table, yet in the fully rendered doc page I also see the mis-formatting.
A detailed perusal of the raw source shows an empty line between each title and table, except on the last one.
I will try adding a space.

[2022-02-03 21:58] rwike77 commented on #86915
@astaykov According to [this article](https://docs.microsoft.com/azure/active-directory/develop/active-directory-certificate-credentials) the `iat` claim is not required.  The token lifetime is being determined by the `exp` and `nbf` claims.  lifetime = `exp` - `nbf`.

[2022-02-03 22:07] DerekHerman-MSFT commented on #87413
Soft delete for blobs is at the individual blob level while the file shares is the entire file share. What wording do you think should be added to the blob portion? I can forward this to the author for consideration.

[2022-02-03 22:23] rwike77 commented on #87148
@musekmkr you're right, the scripts are pretty old.  I'll start looking in to how we can get them updated.  I'll post more info here when I have a better idea.  Thanks.

[2022-02-03 23:02] mkleef commented on #85935
Thanks for the followup. I haven’t had a moment to look yet. Will look again shortly. Have more bugs with Azure and containers that Im prioritizing at present as I ended up using JSON with ARM templates to work around it.

[2022-02-03 23:11] ravipath opened #87436 "Python sample does not build"
After following the steps to build the python sample, I get these build errors.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5e7b18b48
* Content: [Tutorial - Custom Python module tutorial using Azure IoT Edge](https://do

[2022-02-03 23:28] anantharamakrishnans commented on #86556
:) C#. Glad to hear that.

On Thu, Feb 3, 2022, 9:50 PM Marsh Macy ***@***.***> wrote:

[2022-02-03 23:47] tejaswikolli-web commented on #85239
#please-close

[2022-02-03 23:47] #85239 closed

[2022-02-03 23:47] tejaswikolli-web commented on #87130
#please-close

[2022-02-03 23:47] #87130 closed

[2022-02-04 00:10] rjitprof opened #87437 "Set-AzDiagnosticSetting is not working as expected."
Set-AzDiagnosticSetting - this command throws an error stating that it doesnot use the right API version.  Please run the commands as mentioned in this page and see it yourself once.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa60fa41-f753-9c55-c799-a870bdb219a4
* Version Independent ID: 786b27ec-7f4d-ad35-e26d-583

[2022-02-04 00:14] jcbrooks92 opened #87438 "National Clouds (US Gov and China) are not listed as supported"
[Enter feedback here]
Supported regions are not including national clouds (Azure Gov and Azure China).

https://docs.microsoft.com/en-us/azure/application-gateway/overview-v2#supported-regions
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9a752c2-6dba-b14b-92db-4b279dc4f508
* Version Independent ID: 4306cfef-fb25-10bd

[2022-02-04 00:18] nabhishek commented on #84904
@SConnellSwordGroup It is used for loading the live-mode artifact into the GIT collaboration branch (it could be when you are connecting a new repo or disconnected one due to issues and re reconnecting it). The collaboration branch is what CICD sees as a source of truth.
Are you not able to choose the collaboration branch in your case for importing the artifacts?

[2022-02-04 00:21] nabhishek commented on #77740
This has been fixed. @Sreini Are you still facing the issue?

[2022-02-04 00:32] nabhishek commented on #80799
GHE is a GA capability in Azure Gov!

[2022-02-04 00:33] nabhishek commented on #80799
@please-close

[2022-02-04 00:50] BrianLevenson opened #87439 "Auto-renew status"
Hello! I thought the auto-renew state (true/false) was part of the get-subscription response, but it's not included in the payload samples in this doc. Can you confirm whether it's not part of the API or a documentation bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9463e77-5a47-08e3-56b5-fe215ec7893c
* Version I

[2022-02-04 00:50] Vee69 opened #87440 "."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3580bf07-789b-a9c0-26c2-68d21eb66b70
* Version Independent ID: f61c354b-cac2-c3e2-881a-2f0540bdd8e1
* Content: [OATH tokens authentication method - Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-

[2022-02-04 01:01] Karishma-Tiwari-MSFT commented on #87432
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-04 01:02] Karishma-Tiwari-MSFT commented on #87428
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-04 01:06] dm3942 commented on #87363
When I use
Get-AppxPackage -Name Microsoft.HEVCVideoExtension
I get no output.

When I use, note the 's' at the end
Get-AppxPackage -Name Microsoft.HEVCVideoExtensions
I get the same output as you. To show the path.

Regards,
Daniel Matusch

________________________________
From: SatishBoddu ***@***.***>
Sent: Thursday, 3 February 2022, 7:03 pm
To: MicrosoftDocs/azure-docs
Cc: Daniel M; Mention
Su

[2022-02-04 01:19] dm3942 commented on #87363
Image to confirm the difference.    This might also explain why I cannot perform Holographic Remoting with my hololens.

[cid:5bf626ec-5184-489a-9941-60e0c7535145]
________________________________
From: DangerMouse DM ***@***.***>
Sent: Friday, 4 February 2022 12:06 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Get-AppxPackage code snippet (Issue #87363)

Whe

[2022-02-04 01:21] SatishBoddu-MSFT commented on #87363
Hello @dm3942 Could you please attach the image once again, we do not see it properly on this github comment///

[2022-02-04 01:37] GeethaThatipatri-MSFT commented on #87322
Hi @VanMSFT Can you please provide your inputs.

[2022-02-04 01:40] BharathNimmala-MSFT commented on #87403
@dpatel124 Thank you for reaching out to us, our team will review and get back to you at the earliest.

[2022-02-04 01:50] GeethaThatipatri-MSFT commented on #87121
Hi, @asalvo changes have been updated in the Hyperscale document, Thanks again for your feedback in improving our documentation.

[2022-02-04 01:50] #87121 closed

[2022-02-04 01:51] andrewbrownmsft commented on #87137
This has been fixed. Thanks for the feedback!

[2022-02-04 02:17] kobulloc-MSFT commented on #87341
@burakalver Thank you again for your feedback!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-04 02:17] #87341 closed

[2022-02-04 02:22] dm3942 commented on #87363
Here it is again as an attachment.
________________________________
From: SatishBoddu ***@***.***>
Sent: Friday, 4 February 2022 12:21 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Daniel M ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Get-AppxPackage code snippet (Issue #87363)

Hello @dm3942<https://github.com/dm3942> Could you please attach the image once again,

[2022-02-04 02:34] davidsmatlak commented on #85238
I contacted the product team to review this issue and confirm.

[2022-02-04 02:41] davidsmatlak commented on #85238
#assign:davidsmatlak

[2022-02-04 02:41] ramya-rao-a commented on #86087
@philon-msft Thanks for fixing the sample! Is there someone working to update the content at [Quickstart: Use Azure Cache for Redis in Node.js](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-nodejs-get-started) as well?

[2022-02-04 02:43] astaykov commented on #86915
@rwike77
If something has not changed since I raised the issue, the provided error message proves your stament wrong.
And while I do read documentation, I provide feedback based on empirical trials. So would you mind checking with engineering, or try it yourself, before closing this one.

[2022-02-04 02:56] philon-msft commented on #86087
@ramya-rao-a thanks for checking - the document will be updated to match soon.

[2022-02-04 02:58] Shuanglu opened #87451 "After vnet CIDR change, the 'azure-ip-masq-agent-config' needs to be updated via 'reconciling cluster and manually delete the old configmap'. Can we add a notice/warning for this?"
[Enter feedback here]
After vnet CIDR change, the 'azure-ip-masq-agent-config' needs to be updated via 'reconciling cluster and manually delete the old configmap'. Can we add a notice/warning for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55fe52d9-5526-de32-7e16-3e3207fc8aef
* Version Independent ID: 28d7cd54

[2022-02-04 03:02] ChaitanyaNaykodi-MSFT commented on #87438
Hello @jcbrooks92
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-04 03:40] AshokPeddakotla-MSFT commented on #87436
@ravipath Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-04 03:45] cimadai-cmnt commented on #87319
@rwike77 @shashishailaj Thank you for your response! I understood.

[2022-02-04 03:48] amanmcse commented on #87418
@jreyes4949 Thank you for your feedback. We will investigate and update the thread further.

[2022-02-04 03:51] amanmcse commented on #87416
@rngDeadeye Thank you for your feedback. We will investigate and update the thread further.

[2022-02-04 04:10] amanmcse commented on #87421
@randomat123 Thank you for your feedback. We will investigate and update the thread further.

[2022-02-04 04:13] amanmcse commented on #87431
@msshinaida Thank you for your feedback. We will investigate and update the thread further.

[2022-02-04 04:15] amanmcse commented on #87430
@cshalda Thank you for your feedback. We will investigate and update the thread further.

[2022-02-04 04:23] shashishailaj commented on #87440
@Vee69 Thank you for creating this issue. We generally use azure-docs repository to improve the documentation . Could you please let us know the part of this document which you have a feedback for and we will continue to help you further.

[2022-02-04 04:31] ram-msft commented on #87226
@jhirono Can you please help on the custom certificate requirements.

[2022-02-04 04:54] jyravi commented on #87314
@RohitMungi-MSFT Can you please refer the PR link which you have raised for the particular correction?

[2022-02-04 05:00] RohitMungi-MSFT commented on #87314
@jyravi The PRs are automatically referenced on this thread. In this case it is [187142](https://github.com/MicrosoftDocs/azure-docs-pr/pull/187142)

[2022-02-04 05:12] vincentkyndryl commented on #41082
Hi . Many thanks for the code. I need one help. Would it be possible to use this to get the pricing only for a specific region and specific service. Also i need to store the data in a particular sheet in my excel workbook. Any thoughts ideas. Thanks in advance

[2022-02-04 05:18] muzzar78 opened #87452 "Configuration files has incorrect value for SignedOutCallbackPath for ASP.NET Core which breaks Account/SignedOut page"
I was following the instructions in this guide for ASP.NET Core and if I have the SignedOutCallbackPath set to /signout-oidc as documented, I get left at a blank screen after logging out. If I set the value to anything else then I get the /Account/SignedOut page as expected. I have a feeling /signout-oidc might be being used for Front-Channel Logout but I'm not sure.

https://docs.microsoft.com/en

[2022-02-04 05:32] SnehaAgrawal-MSFT commented on #87229
@cveld Thanks again for feedback! We will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-02-04 05:32] #87229 closed

[2022-02-04 05:42] ladykraken opened #87453 "https://github.com/flexpool/frontend/blob/dev/.vscode/react-tsx.code-snippets#L1-L44"
​{
 ​  // Place your nocodb workspace snippets here. Each snippet is defined under a snippet name and has a scope, prefix, body and
 ​  // description. Add comma separated ids of the languages where the snippet is applicable in the scope field. If scope
 ​  // is left empty or omitted, the snippet gets applied to all languages. The prefix is what is
 ​  // used to trigger the snippet and the body 

[2022-02-04 05:49] ShuningTong opened #87454 "Followed tutorial but no expected result"
I have followed every word in this quickstart for creating load balancer, but when I try to reach the public ip of my newly created load balancer, it shows "can't reach this page". I tried curl the ip, the request timed out.

curl http://20.86.236.94
curl: (28) Failed to connect to 20.86.236.94 port 80 after 21027 ms: Timed out

Hmmm… can't reach this page
20.93.195.173 took too long to respond

I

[2022-02-04 05:54] ladykraken opened #87455 "https://github.com/Unleash"
src/lib/db/feature-strategy-store.tshttps://github.com/Unleash/unleash/pull/1310

[2022-02-04 05:56] SadiqhAhmed-MSFT commented on #87439
@BrianLevenson Thank you for your post. We will look into it and get back to you shortly.

@arifgani FYI.

[2022-02-04 06:01] bhavika72 commented on #29431
I followed above instructions, still not able to resolve this issue. Getting error: AADB2C: AADB2C: A+claim+with+id+'UserId'+was+not+found,+which+is+required+by+ClaimsTransformation+'CreateAlternativeSecurityId'+with+id+'CreateAlternativeSecurityId'+in+policy

[2022-02-04 06:02] SumanthMarigowda commented on #87195
@zipon 'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-04 06:02] #87195 closed

[2022-02-04 06:06] ladykraken opened #87458 "https://github.com/ladykraken.private.atom"
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:github.com,2008:/ladykraken</id>
  <link type="text/html" rel="alternate" href="https://github.com/ladykraken"/>
  <link type="application/atom+xml" rel="self" href="https://github.com/ladykraken.private.atom?token=ASH6YZT74IRU6CRTUAXQSZOABCRSG"/>

[2022-02-04 06:08] SadiqhAhmed-MSFT commented on #87416
@arifgani FYI.

[2022-02-04 06:22] jyravi commented on #87314
Thank you very much. @RohitMungi-MSFT

[2022-02-04 06:30] pihai commented on #60995
I tried giving the service principal which is a member of the AD admin group the Directory.Read.All permission. Still the same error:

[code]

I also tried the approach which is used to create roles for managed identities described [here](https://docs.microsoft.com/en-us/azure/postgresql/howto-connect-with-managed-identity#creating-a-postgresql-user-for-your-managed-identity). (Use the ClientID as

[2022-02-04 06:37] MughundhanRaveendran-MSFT commented on #87173
@audunsolemdal , I am not aware of any plans of this implementation. I would recommend you to post your feedback [here ](https://feedback.azure.com/d365community/forum/a095b5b5-f124-ec11-b6e6-000d3a4f0da0#)as a feature request.

I am closing this issue for now. Feel free to reopen if you need any details

[2022-02-04 06:37] #87173 closed

[2022-02-04 06:37] asudbring commented on #87454
Hello @ShuningTong
Thanks for the feedback!  I just ran through the quickstart and was able to successfully complete it and see the webpage.  There are some differences now in the portal from when this was last updated, so I will put it in our pipeline to update.  Its sounds like you might have missed the step of creating the NSG when creating the first VM and then adding the VMs to that NSG when

[2022-02-04 06:42] narbehm opened #87459 "How would API service verify the token?"
This particular page regarding calling APIs using the token is a bit ambiguous. How would the API service then verify the token against the Idp?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df2bcf06-417e-bf01-6d1c-834667b8f71f
* Version Independent ID: 81b891a7-5d7c-e25d-0644-b472dc6114c8
* Content: [Call web APIs fr

[2022-02-04 06:50] SumanthMarigowda commented on #87358
@javester The following table shows the current level of support for Azure Storage features in accounts that have the NFS 4.1 feature enabled.

![image](https://user-images.githubusercontent.com/80444138/152480777-bc8f31cd-3788-4b82-8cd2-689c26bba01a.png)

https://github.com/Azure/azure-storage-azcopy/issues/1648

It been already added to the backlog for now. We don't currently have any plans so f

[2022-02-04 06:50] #87358 closed

[2022-02-04 06:58] v-hagamp commented on #87112
@chi3f10, I could see the Atlassian Cloud site URL as ".atlassian.com".
![image](https://user-images.githubusercontent.com/59013559/152485641-97e4b9d3-9188-4bd1-80d2-12b0155d50f6.png)
Would you please share any guidance on it?

[2022-02-04 07:04] MughundhanRaveendran-MSFT commented on #87183
@charlejc , Did you get a chance to look into my previous comment?

[2022-02-04 07:09] KrishnaG-MSFT commented on #87453
@ladykraken [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the f

[2022-02-04 07:09] KrishnaG-MSFT commented on #87455
@ladykraken [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the f

[2022-02-04 07:10] KrishnaG-MSFT commented on #87458
@ladykraken [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL and share the f

[2022-02-04 07:10] MughundhanRaveendran-MSFT commented on #86998
@64oz-frozenmangos , Closing this issue as there is no response. Feel free to reopen

[2022-02-04 07:10] #86998 closed

[2022-02-04 07:17] Robin2626 opened #87460 "Not able to configure Schema Id"
Hi

While trying to add schema Id in validation policies for an api in api management service, always get an error stating that schema is not available.It’s the same via portal or an ARM template.
PS : Schema definition is added and Id is acquired via GetApiTemplate ARM ps script and is passed in format schematypename-Id

Regards
Robin

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-02-04 07:18] ram-msft commented on #87376
@wenxwei Can you please help on the document update for input field called "Path on compute".

[2022-02-04 07:18] kobulloc-MSFT commented on #87406
@abarqawi Regarding the first set of links, "Manage a new application" and "Onboard existing applications", I don't see those on the page at this time (please give me a bit more reference if I've missed them).  Under [Next steps](https://docs.microsoft.com/en-us/azure/aks/open-service-mesh-about#next-steps), there is a link to [Onboard an existing application](https://release-v1-0.docs.openservice

[2022-02-04 07:21] ram-msft commented on #87262
@Anurzeuii Can you please update the document for ACI behind VNet.

[2022-02-04 07:25] ram-msft commented on #87254
@Blackmist Can you please help on this.

[2022-02-04 07:28] Sharmistha-Rai commented on #86896
Sure @danailedms - we will edit the FAQ to provide requested details.

[2022-02-04 07:30] shashishailaj commented on #87452
@muzzar78 Thank you for your inputs . We will investigate and update the thread.

[2022-02-04 07:30] shashishailaj commented on #87459
@narbehm Thank you for your inputs . We will investigate and update the thread.

[2022-02-04 07:49] TomSutcliffe opened #87461 "Install Azurite Github option might have npm dependency"
npm is one of the 5 install options. I used GitHub as I did not have npm/Node.js installed. GitHub option does explain the Git dependency, but not the npm one, which is a bit confusing as the npm install option _does_ explain this.

If I haven't made a mistake, maybe it would be good to have a similar explanation at the top of the GitHub install:
**This installation method requires that you have [

[2022-02-04 07:53] KrishnaG-MSFT commented on #87246
Assigning to @tfitzmac for visibility, review and document enhancement consideration as appropriate.

[2022-02-04 07:58] zipon commented on #87195
@SumanthMarigowda  Well it is a function in your document that is the problem because you can't follow the instructions and do it from the cli in the web-browser/ in the learning document on MS learn. It's the correction function that is the problem as I stated in the beginning. So I would recommend to open it agin and look at it some more. It feels like this function have not been tested outside

[2022-02-04 08:09] jikuja opened #87462 "Unclear if Immutable storage required or just best practice"
Documentation states following

Is this requirement or best practice?

Version-level or container-level policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5daf3365-76b8-b98f-7fc8-51f520e6276b
* Version Independent ID: 93a216a6-fd66-cc0a-9346-58955bd0a7ba
* Content: [Log Analytics workspace data export in Azure Moni

[2022-02-04 08:12] AjayKumar-MSFT commented on #86639
kasparov-gg,  Apologies for the delay!  We have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-04 08:21] AjayKumar-MSFT commented on #86712
bmay-cloudwallcapital, Apologies for the delay! Your feedback has been shared with the content owner for further review and to see if more clarity on this is required in the doc.

[2022-02-04 08:25] KrishnaG-MSFT commented on #87331
Assigning to @keferna for visibility, review and document enhancement consideration as appropriate.

[2022-02-04 08:26] PriyankaRudramaina commented on #87451
Hello @Shuanglu,
Thank you for the feedback & suggestions. Your feedback reviewed with the content owner and we shall action on it accordingly.

[2022-02-04 08:34] yossi-y commented on #87462
Hello,
This is not required for data export per se, but needed if you need to conform with WORM (immutability store).

Container-level policy would make more sense since export is continuous to your storage and written once in a single version, so you likely want to set the policy on the container.

Thanks,

[2022-02-04 08:39] KrishnaG-MSFT commented on #87350
@lanicolas We have verified and updated the document as required. The update should go live soon i.e., in less than 24 hours. Thanks again!

[2022-02-04 08:39] #87350 closed

[2022-02-04 08:53] alexlushsevernunival opened #87463 "Screenshot doesn't match instructions in 'Configure the intranet zone for client machines' section."
The section titled 'Configure the intranet zone for client machines' references only one URL to add but the screen shot contains two URLs. Is the URL 'https:///aadg.windows.net.nsatc.net' required to be added or does the screenshot need updating to remove this URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fa537

[2022-02-04 08:57] darrenomalley opened #87464 "Update screen shot in section "Assign custom roles with the Azure portal""
Step 3 -  Select +Select members. In the search bar, enter and select Windows Virtual Desktop, as shown in the following screenshot

The screenshot refers to Windows Virtual Desktop and only Azure Virtual Desktop is available to choose
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e485eb1b-63d7-6fb4-a84a-367be0b7ae09
*

[2022-02-04 09:08] vkambley opened #87465 "Small correction in verbiage."
Azure AD provides [managed identities](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/) to run other workloads in the cloud. The lifecycle of these identities is managed by Azure AD and is tied to the resource provider **and it** can't be used for other purposes to gain backdoor access.

Suggest to add the missing words "and it" to correct the sentence.

[2022-02-04 09:35] leswaters commented on #41082
Hi @vincentkyndryl,
There are a couple of ways you can get the pricing for a specific region and service:

- Use the $filter parameter of the API to limit the result set.  See https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices
[code]

- Use PowerShell to filter the result set:
[code]

Hope this helps.

[2022-02-04 09:38] vincentkyndryl commented on #41082
Thank you Les . I also want to use this as a excel vba macro to extract data and place it in an excel worksheet , any help is appreciated.

Kind Regards

Vincent

[2022-02-04 09:40] PriyankaRudramaina commented on #87464
Hello @darrenomalley

Thanks for your feedback. We are checking on this and will respond to you soon.

[2022-02-04 09:46] SConnellSwordGroup commented on #84904
As in the image I posted I could select the collaboration branch in our Git it is named main.  That, is not however what the documentation says. https://docs.microsoft.com/en-us/azure/data-factory/source-control#:~:text=Remove%20your%20current,the%20collaboration%20branch states explicitly

Does the above mean to say that New Branch is the current collaboration branch?  If so then I think this nee

[2022-02-04 09:51] leswaters commented on #41082
I haven't tried calling REST from VBA... But this may help:
https://stackoverflow.com/questions/38246789/how-do-we-use-restful-apis-from-excel-macros-vba

You'll have to go through authentication as well so you have the correct tokens to pass in the request.  If you get some code working, please share it here.

[2022-02-04 09:51] ravipath commented on #87436
@AshokPeddakotla-MSFT I tried a solution from another similar issue that was reported (for Node.js sample) and it worked for me. This was fixed by placing daemon.json at /etc/docker with a dns server information:

[code]

[2022-02-04 10:32] dm3942 commented on #87363
![image](https://user-images.githubusercontent.com/17671877/152514109-17fd2edb-74ac-46f9-b190-dfbcd3285ba9.png)

[2022-02-04 10:34] adeliab commented on #66490
any update on this?

[2022-02-04 10:42] ManuelSchenkel opened #87468 "Definition of a level in Azure Network Manager"
What's the definition of the term level in the statement below? Does it relate to a network group?
"The maximum number of admin rules in one level of Azure Virtual Network Manager is 100."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a27d6ac3-cc1d-46de-a865-dd519042b90f
* Version Independent ID: 2be3da6a-3a56-3bcc-45

[2022-02-04 10:53] AccessTea opened #87470 "Incorrect information on licence requirements"
Page states "Using this feature requires an Azure AD Premium P1 or P2 tenant" -- this appears to be incorrect.

We have a P1 licence but when attempting step 2 ("Select Azure Active Directory > Diagnostic settings -> Add diagnostic setting") we get the error ""An Azure subscription is required to use this capability. Start here to create a new subscription."

It appears this feature is only availa

[2022-02-04 11:18] sakaldeepyadav opened #87472 "Photo under 'To manually onboard one or more machines ' is an old one, need to update as per how it's showing in the Azure portal."
Photo under 'To manually onboard one or more machines ' is an old one, need to update as per how it's showing in the Azure portal.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2598a3e-7cd9-70ce-dc56-4ce2ff539e32
* Version Independent ID: 55f29cff-a71d-5d68-e6a7-2a0922549c07
* Content: [Use Mic

[2022-02-04 11:56] GitaraniSharma-MSFT commented on #87468
@ManuelSchenkel , thank you for your query. We'll review this and get back to you shortly!

[2022-02-04 12:43] RohitMungi-MSFT commented on #87252
@Dharanash I will go ahead and close this issue. You can create a new issue with more details if you need any help. Thanks!!

[2022-02-04 12:43] #87252 closed

[2022-02-04 12:46] SadiqhAhmed-MSFT commented on #87357
@ezYakaEagle442 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-02-04 12:46] #87357 closed

[2022-02-04 13:00] jikuja commented on #87462
Thanks.

Container-level policy sounds good with log analytics data export because container names are known at deployment time.

[2022-02-04 13:32] maud-lv commented on #87382
This is now fixed. Thank you for reporting this issue :)

[2022-02-04 13:45] mumian commented on #87274
@roalexan - Thank you for your comments.  We have created a task for adding a built-in role.

#please-close

[2022-02-04 13:45] #87274 closed

[2022-02-04 13:56] esanchezvela opened #87474 "Information too vague"
[Enter feedback here]

I understand that Azure is a dynamic environment which creates challenges for all, however, if this page is intended to guide new or inexperienced users, on how to create and manage a product should be more specific about how to create the load balancer, I've been trying to create one for the last 20 minutes and all I find from the Azure documentation is: "Create the Load Ba

[2022-02-04 13:57] GitaraniSharma-MSFT commented on #87380
@cpinotossi , We have assigned this to the content owner/author for updating the doc accordingly.

@vhorne , I've confirmed that App gateway doesn't support kerberos authentication. Request you to please update the doc to include this information.

[2022-02-04 14:05] divyanshumehta opened #87475 "I followed the docs and still cannot get HTTPS working on my local service fabric cluster."
[Enter feedback here]
I followed these steps but HTTPS does not work for the service fabric Web API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint using Kestrel - Azure Service Fabric](h

[2022-02-04 14:08] MughundhanRaveendran-MSFT commented on #87165
@AmitavaHazra , The endpoint provided is a sample endpoint. Please try to create a cognitive service endpoint url as specified in the [prerequisites ](https://docs.microsoft.com/en-us/azure/connectors/connectors-native-http-swagger#prerequisites)or use any other swagger file that is CORS enabled.

[2022-02-04 14:10] Blackmist commented on #87254
Thanks for reporting this problem @byronverz !

I've updated the text and screenshot to correctly show Gen1 for the DSVM image selection. The changes will go live a little later today after one of our publishing cycles runs.

[2022-02-04 14:12] MonikaReddy-MSFT commented on #87419
@wjpigott - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-04 14:12] #87419 closed

[2022-02-04 14:14] leonwiddershoven opened #87476 "Minor documentation update: az command wants unit"
The command mentioned in the page generates a warning because it wants a unit with --memory.
[code]

https://docs.microsoft.com/en-us/azure/spring-cloud/quickstart-deploy-apps?tabs=Azure-CLI&pivots=programming-language-java

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 487f4413-4379-bbaf-e3aa-30f566eb802c
* Version In

[2022-02-04 14:36] Blackmist commented on #85638
#please-close

[2022-02-04 14:57] leonwiddershoven opened #87479 "Quickstart for Java is a bit old"
The [tutorial](https://docs.microsoft.com/en-us/azure/spring-cloud/quickstart-provision-service-instance?tabs=Azure-CLI&pivots=programming-language-java) for Java on the (azure) spring cloud uses a fairly old Java.

It uses Java 8 (I would have expected at the very least 11, and hopefully 17).
Especially because the next Spring will probably have 17 as a minimum I would expect tutorials to be a bi

[2022-02-04 15:10] carlosgdelvalle commented on #34167
February 2022, and the site still looks like I won the lottery withouth having purchased a ticket.

[2022-02-04 15:13] nickselvaggio opened #87480 "Apache parser details missing"
Apache HTTP Server and Apache Tomcat have broken links for the Kusto function parsers.

Both of these are now available as solutions in the Content Hub, although they're also missing from the Content hub catalog page (https://docs.microsoft.com/en-us/azure/sentinel/sentinel-solutions-catalog).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2022-02-04 15:36] RyanHill-MSFT commented on #87476
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-04 15:38] RyanHill-MSFT commented on #87479
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-04 15:48] JamesTran-MSFT commented on #87463
@alexlushsevernunival
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-04 15:49] JamesTran-MSFT commented on #87465
@vkambley
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-04 15:49] JamesTran-MSFT commented on #87470
@AccessTea
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-04 15:50] JamesTran-MSFT commented on #87480
@nickselvaggio
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-04 16:01] cpdohert opened #87482 "So you're just abandoning all your Azure DevOps customers now?"
Yet another documentation section that assumes all your customers only use GitHub and the Azure CLI.

Once upon a time, Microsoft realized that catering only to Unix fatbeards was a losing strategy and so all the Azure documentation covered how to do things in the Azure Portal, with the Azure PowerShell module, with ARM/Bicep templates, and the Azure CLI.  CI/CD integration was assumed to be with

[2022-02-04 16:01] Cap-JaTu opened #87483 "There is no SSH-section in Advanced settings"
It seems the SSH-configuration section is missing.
Also, according to https://stackoverflow.com/a/47690108/1548275 you cannot SSH into the system in Azure.

Maybe this should be properly documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52652f-0207-5ee5-b916-faad7e5995d4
* Version Independent ID: d5fe8fb3-36

[2022-02-04 16:11] cpdohert opened #87484 "No instructions on setting up entire environment using ARM/Bicep; PowerShell instructions just call az cli"
The assumption that every user only uses or needs the Azure CLI to interact with Azure is reprehensible.  Having PowerShell call the az cli is a massive anti-pattern; omitting Bicep templates for setting up the container environment is just unacceptable, since you had to write Bicep templates for the app definition later in the same doc anyway.

All Azure documentation must cover use of the Azure

[2022-02-04 16:13] maud-lv commented on #87307
I'm happy to work on that, thank you for the suggestion!

[2022-02-04 16:20] blogcraft opened #87485 "Lacks Of documentation for configuring arrays"
If my configuration has an array there is no way in the documentation that explains how to configure it in Azure App Service.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content: [Configure apps - Azure App

[2022-02-04 16:32] kamilzzz commented on #81273
Any updates on this?

[2022-02-04 16:34] jazzyray opened #87486 "Code does not function."
The code on this page is out of date with the library and will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1b01054-7edd-12da-a581-e898763987fd
* Version Independent ID: 4700a411-ba2b-3e2b-ac7c-00670ead413a
* Content: [Quickstart: Create a management group with Python - Azure governance](https://docs.micro

[2022-02-04 16:39] mumian commented on #86958
@alexkhorton - Thank you for your comments.  This is a product bug or limitation.  I have created a task for myself to update the article once https://github.com/microsoft/azure-pipelines-tasks/issues/15827 is resolved.

#please-close

[2022-02-04 16:39] #86958 closed

[2022-02-04 16:39] #81402 closed

[2022-02-04 16:42] lasyan3 opened #87487 "Parameters of linked services not showed in data flow"
Hi,

I created a parameterized linked storage account to use in a data flow:
![storage](https://user-images.githubusercontent.com/7955594/152567876-07bc83dd-7760-4a9a-ba0d-7a1a19b7a912.png)

When I want to use it as an inline source in a data flow, the parameter does not show:
![flow](https://user-images.githubusercontent.com/7955594/152567878-f5da2856-b699-4f43-b95d-1b2c78592886.png)

---
#### Do

[2022-02-04 16:58] mike-urnun-msft commented on #87460
Thank you for your feedback! We will review and update as appropriate.

[2022-02-04 17:03] alexkhorton commented on #86958
@mumian thank you for investigating this issue.  Have you by any chance reached out to the team that owns that task? There's been no discussion so far in the thread that you linked since I created it 10 days ago.

[2022-02-04 17:03] azurejoe opened #87489 "Storage account name less than 15 characters"
Can we add a note when creating a unique name for the storage account that it not be longer than 15 characters?  This would prevent errors when running the AD DS domain join commands when the storage account name is longer than 15 characters and the deployment process needs to be restarted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2022-02-04 17:08] axc450 opened #87490 "App Service Key Vault References Cache"
Would it be possible to get some clarification as to why we have to change a setting for the cache to update?
It would be very handy if the settings could update from the keyvault when the app service is restarted, or a manual action to force a refresh (either via the portal or CLI). Currently I have to change a setting and then change it back to refresh the cache, is there no easier way?

---
###

[2022-02-04 17:14] ShuningTong commented on #87454
Hi @asudbring

I did exactly what you said. I created myNSG and its associated myNSGRule. I added all 3 VMs to it and added them to the load balancer myLoadBalancer. Unfortunately, it does not work for me.

[2022-02-04 17:18] ShuningTong commented on #87454
<img width="997" alt="vm1" src="https://user-images.githubusercontent.com/15147115/152573391-b4830c27-b160-45b1-adb4-19deeca29706.png">
<img width="995" alt="vm2" src="https://user-images.githubusercontent.com/15147115/152573401-3bf78616-5a94-4cd3-ba03-482d25954a16.png">

[2022-02-04 17:25] himanshusinha-msft commented on #87208
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-02-04 18:01] aahill commented on #86761
@timoklimmer - thanks for reaching out about this issue, and for your suggestions! I'm working with the product team to update this article to be a bit clearer. We'll have the update out soon for both this issue you've raised, and your other one. Custom NER currently does not support Azure Data Lake Gen 2, so we'll mention that as well.

#please-close

[2022-02-04 18:01] #86761 closed

[2022-02-04 18:03] mikeleuer opened #87494 "Update with full example"
[Enter feedback here]
Please add full example, not partial examples or link to github.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f10ce06-891c-9a3b-7cb8-20a7a9567f2b
* Version Independent ID: 0e862892-e0ff-4dd0-6220-881b7655e4b5
* Content: [Sub-orchestrations for Durable Functions - Azure](https://docs.microsoft.c

[2022-02-04 18:03] #86641 closed

[2022-02-04 18:07] martincoetzer commented on #87465
Thank you for the suggestion. I updated the article. #please-close

[2022-02-04 18:07] #87465 closed

[2022-02-04 18:12] bubbletroubles commented on #87368
@kobulloc-MSFT thanks for clarifying. Will this info be updated in the docs? Some organisations require official documentation from the vendor for firewall rules.

E.g. our organisation wouldn't be able to use the new url yet as it's not documented.

[2022-02-04 18:18] DerekHerman-MSFT commented on #87461
@TomSutcliffe Thanks for reporting this. I have made a PR to include this requirement. The changes should go live later today.

[2022-02-04 18:19] KrishnaG-MSFT commented on #87486
@jazzyray Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-04 18:20] shizn commented on #87382
#please-close

[2022-02-04 18:20] #87382 closed

[2022-02-04 18:22] kobulloc-MSFT commented on #87368
@bubbletroubles Thank you for sharing the requirements some organizations have on official documentation before adopting firewall rules.  I'm looking at the best way to approach this as we don't want to cause confusion and I'll get a PR out to address this.

[2022-02-04 18:27] mike-urnun-msft commented on #87494
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-04 18:30] MsGabsta commented on #80008
@sachip-msft, I am currently looking into this.

[2022-02-04 18:35] KranthiPakala-MSFT commented on #87483
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-02-04 18:38] v-lhoffmann opened #87496 "Azure Event Grid bindings for Azure Functions - CloudEvents"
The top portion of the document incorrectly states:

This is confusing when below it correctly states that using Microsoft.Azure.WebJobs.Extensions 3.X this is now possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0

[2022-02-04 19:05] Blackmist commented on #87254
Update to the document and screenshot is now live. Thanks again for helping us improve documentation @byronverz !

#please-close

[2022-02-04 19:05] #87254 closed

[2022-02-04 19:13] RaphaelSilv commented on #59835
@MarileeTurscak-MSFT do we have any updates on it? As of today, the docs are still stating the same thing.  Thanks.

[2022-02-04 19:13] KranthiPakala-MSFT commented on #87487
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-02-04 19:17] RyanHill-MSFT commented on #87269
@koheikawata I can see how it would appear confusing. What you're seeing is the storage mount of the uploaded zip file. If you try to make any changes, you will get an Access Denied error and when you're viewing _C:\home\site\wwwroot_ in Kudu, you will see the following banner.

![image](https://user-images.githubusercontent.com/47189704/152589251-2bb23c17-76af-4e1a-896a-fd3ab05acbf9.png)

This is

[2022-02-04 19:17] #87269 closed

[2022-02-04 19:22] SatishBoddu-MSFT commented on #87363
Hello @dm3942 Thanks for the infromation,

Our Content SME will review the feedback and get back soon!

[2022-02-04 19:48] SaiKishor-MSFT commented on #87474
@esanchezvela Thanks for reaching out to us on Github. I understand that you are facing some confusion in creating a Load Balancer using the document- https://docs.microsoft.com/en-us/azure/load-balancer/quickstart-load-balancer-standard-public-portal?tabs=option-1-create-load-balancer-standard

When you say 6 pages worth of Load Balncers, what do you mean? In Azure, there are two types of Load Ba

[2022-02-04 19:48] #87137 closed

[2022-02-04 19:53] RaphaelSilv commented on #59835
@MarileeTurscak-MSFT any updates on that?

[2022-02-04 19:56] savjani commented on #83920
Adding @shreyaaithal to help with this

[2022-02-04 19:57] savjani commented on #82603
@SaurabhSharma-MSFT - can you please help close this issue

[2022-02-04 19:59] savjani commented on #81715
Adding @shreyaaithal to help with this

[2022-02-04 20:00] savjani commented on #80710
@AnuragSharma-MSFT - Can you please help close the PR?

[2022-02-04 20:02] savjani commented on #73979
Adding @dimadhus for this feedback

[2022-02-04 20:02] savjani commented on #68778
Adding @dimadhus for this feedback

[2022-02-04 20:14] y2kdread opened #87499 "Incorrect command in document"
The command to [check the load balancer service](https://docs.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-cli#check-the-load-balancer-service) is incorrect, it should be the following:

kubectl --namespace ingress-basic get services -o wide -w ingress-nginx-controller

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-04 20:15] SaurabhSharma-MSFT commented on #82603
@BartVB We are closing this for now.  Please open a new issue for any other concerns.

[2022-02-04 20:15] BartVB commented on #82603
For instance:
"Firewalls prevent all access to your database server until you specify which computers have permission"

That might technically be true, but normally I would expect that it's not possible to connect to port 3306 if an IP is not allowed in the firewall. With Managed MySQL 3306 is always open, this makes testing counterintuitive because it's never mentioned that there is a gateway in

[2022-02-04 20:16] jberry777 opened #87500 "This page is out of date and no longer accurate."
Document intent:
This document describes setting up Azure AD as an Identity Provider for Azure Function Apps under the Authorization/Authentication section. Then selecting Azure AD from a drop down list of identity providers.

Document issue:
The Azure Function App no longer has a section called "Authorization/Authentication", it only has a section called "Authentication". And when adding an ident

[2022-02-04 20:32] savjani commented on #82603
Thanks @BartVB for the additional clarity. It is because of the gateway in the architecture. Let me think more and see how i can further clarity to the doc to avoid it being misleading

[2022-02-04 20:56] bubbletroubles commented on #87368
There is already confusion because the new URLs are not on the official page that documents the URLs :)

[2022-02-04 21:01] VanMSFT commented on #87322
Hi @pdabhiargus - Samples from blogs are not something the Docs team handles, and we don't have a direct replacement of what is mentioned in the blog. Here's the closest that I can find regarding RLS in our samples repository:

https://github.com/microsoft/sql-server-samples/blob/master/samples/databases/wide-world-importers/sample-scripts/row-level-security/DemonstrateRLS.sql

You can check out o

[2022-02-04 21:01] #87322 closed

[2022-02-04 21:02] JeffSmalley opened #87501 "Old Instructions"
For the below steps listed, clicking on "details" is an outdated reference to how the Portal use to look like.  You just click on the Management Group now. Also, when I open the Root Management Group, I don't see settings nor do I see anywhere Hierarchy settings.

==============================================
Set default management group in portal
To configure this setting in the Azure portal, fo

[2022-02-04 21:11] JamesTran-MSFT commented on #87470
@AccessTea
Thank you for your post!

When it comes to the message that you're seeing `An Azure subscription is required to use this capability. Start here to create a new subscription `. This is referring to an [ Azure Subscription](https://azure.microsoft.com/en-us/free/), as mentioned within the [pre-requisites](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-int

[2022-02-04 21:11] #87470 closed

[2022-02-04 21:24] kobulloc-MSFT commented on #87368
@bubbletroubles Fair point :)  I just want to make sure that we don't confuse those who can't start using the new URL immediately, giving time for a transition.

[2022-02-04 21:35] kobulloc-MSFT commented on #87499
@y2kdread Thank you for bringing this to our attention!  We are reviewing the command and will get back to you shortly.

[2022-02-04 21:46] kobulloc-MSFT commented on #87499
@y2kdread It looks like a typo at first glance but it appears that the "nginx-ingress-ingress-nginx-controller" portion is correct.

[2022-02-04 22:29] gaspardleon opened #87502 "Step one is incorrect"
in the step 1 "In the Azure portal, navigate to Monitor, then Alerts. Select Manage actions."

it should be "In the Azure portal, navigate to Monitor, then Alerts. Select Action groups."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115f74a8-0cb6-07a5-c4b7-1a9b4ab44232
* Version Independent ID: 39c7be4f-c2c6-d479-6cbe

[2022-02-04 22:34] gaspardleon opened #87503 "Add section to adjust severity level of messages"
These instructions are great if you just want to send the email or text AT ALL, but if you want granular control, you need to visit Monitor > Alerts > Alert Rules then you can enable/disable certain alerts.

Might be nice to mention it on this page.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115f74a8-0cb6-07a5-c4b7

[2022-02-04 22:37] ssivas commented on #87421
@randomat123 , Thanks for your feedback! I've assigned this issue to the author for further investigate. We will update as appropriate. Thanks.

[2022-02-04 22:56] ssivas commented on #86507
@eurog33k , Apologies for delayed response.

Could you check, if your account has consent with `Application.ReadWrite.All` API permission as mentioned in [this document][1]. In case If you are using Graph explorer, you can Consent from Modify permission option as shown below. Hope this helps.

<img width="720" alt="image" src="https://user-images.githubusercontent.com/57458999/152613955-4bafecd7-c

[2022-02-04 23:13] caroysMSFT opened #87505 "ML Services seem to never hand out privatelink hostnames, missing consideration in Custom DNS example"
There's a reference early on in the article to this hostname format for workspace DNS resolution path:

<compute instance name>.<region the workspace was created in>.instances.azureml.ms

It appears as though, despite any privatelink integration, this hostname format is always served up by AzureML.

This creates a problem which is not considered in the "Custom DNS Server hosted in VNet" second.  C

[2022-02-04 23:14] chi3f10 commented on #87112
Hi [v-hagamp](https://github.com/v-hagamp),

Thanks for your message

https://admin.atlassian.com is the base URL of the Atlassian organization or site-admin portal

The URL for a Cloud site is usually https://<INSTANCE>.atlassian.net. E.g. https://example-1-demo.atlassian.net.  In the context of - https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassian-cloud-tutorial - step 13

[2022-02-04 23:15] jrussellaz opened #87506 "organizationalUnit attribute is no longer listed and should not be used"
Under the section Rules for Devices it states:

"The organizationalUnit attribute is no longer listed and should not be used. This string is set by Intune in specific cases but is not recognized by Azure AD, so no devices are added to groups based on this attribute."

However, this is not true. The organizationalUnit attribute is listed. Please see the attached image for evidence.

![Preprovisione

[2022-02-04 23:19] amyluums opened #87507 "Update doc"
[Enter feedback here]
Please update the document with more detail on how zone redundancy works, and how does auto scale work?
Currently we can create on the portal, it doesn't have to use ARM deployment. Any update on the regions that's available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef86ae6-02f7-b8dd-5530-5

[2022-02-04 23:34] JimacoMS4 commented on #86425
@rajeevmv ping .... Also, adding you as an assignee.

#assign @rajeevmv

[2022-02-04 23:44] JimacoMS4 commented on #36979
Hi @perkops,

First, thanks again for your feedback! You're right ETags are ignored during Create. They're actually only used on "ifMatchEtag" modes. We've updated the topic accordingly: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-bulk-identity-mgmt#import-behavior. Since this is an old issue, I'm going to go ahead and close it. If you think additional action needs to be taken, can you

[2022-02-04 23:45] JimacoMS4 commented on #36979
#please-close

[2022-02-04 23:45] #36979 closed

[2022-02-04 23:57] GitDizzle commented on #58397
As a workaround for anyone else who reaches this thread, you can download the JSON manifest, update

	"oauth2AllowIdTokenImplicitFlow": true,
	"oauth2AllowImplicitFlow": true,

save, and then upload your updated JSON file.

[2022-02-05 00:15] koheikawata commented on #87269
@RyanHill-MSFT , thanks for answering.

But question, Linux App Service does not look like that way you mentioned. Can you explain more about Linux App Service so it is consistent with [Run your app in Azure App Service directly from a ZIP package](https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package)?

Windows App Service Kudu --> Looking at the mounted zip folder located in data

[2022-02-05 00:21] kobulloc-MSFT commented on #87475
@divyanshumehta Thank you for your feedback!  We are reviewing the documentation and will get back to you shortly.

[2022-02-05 00:23] kobulloc-MSFT commented on #87489
@azurejoe Thank you for your feedback!  We have assigned this to the document author for further review.

[2022-02-05 01:08] pinyuko opened #87509 "Monitoring Azure Files GA"
[Enter feedback here]
In "How can I audit file access and changes in Azure Files?"
"Monitoring Azure Files" https://docs.microsoft.com/en-us/azure/storage/files/storage-files-monitoring?tabs=azure-portal has GA'd in Feb 2022.
The content can be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534b3ef3-5664-973e-

[2022-02-05 01:39] mike-urnun-msft commented on #87482
Hello @cpdohert - Thank you for your feedback. We have shared this feedback internally with our product team.

[2022-02-05 01:39] mike-urnun-msft commented on #87484
Hello @cpdohert - Thank you for your feedback. We have shared this feedback internally with our product team.

[2022-02-05 02:51] YutongTie-MSFT commented on #87505
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-05 02:53] KrishnaG-MSFT commented on #87501
@JeffSmalley Thanks for the comment. We will review and provide update as appropriate.

[2022-02-05 04:12] MartinJaffer-MSFT commented on #87485
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-05 04:16] MartinJaffer-MSFT commented on #87490
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-05 05:25] mike-urnun-msft commented on #87496
Thank you for your feedback! We will review and update as appropriate.

[2022-02-05 05:26] mike-urnun-msft commented on #87500
Thank you for your feedback! We will review and update as appropriate.

[2022-02-05 05:26] mike-urnun-msft commented on #87502
Thank you for your feedback! We will review and update as appropriate.

[2022-02-05 05:27] mike-urnun-msft commented on #87503
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-05 05:54] rmanandhar-janison opened #87518 "Event Grid Reacts to other blobs"
The event grid fires multiple trigger instances as it is reacting to other blobs.

Currently it should be firing trigeer for only order/creation/ when data is inserted into that particular directory but it is firing trigger when a blob in created (data is inserted in this directory) order/update/

Is there a reson for this?

I have setup the event subscription as
subject begins with : /blobService

[2022-02-05 06:05] amanmcse commented on #87506
@jrussellaz Thank you for your feedback. We will investigate and update the thread further.

[2022-02-05 06:24] amanmcse commented on #87507
@amyluums Thank you for your feedback. We will investigate and update the thread further.

[2022-02-05 06:26] amanmcse commented on #87509
@pinyuko Thank you for your feedback. We will investigate and update the thread further.

[2022-02-05 06:33] amanmcse commented on #87518
@rmanandhar-janison Thank you for your feedback. We will investigate and update the thread further.

[2022-02-05 08:30] minimonsters commented on #80539
I have been scouring the internet looking for information on the dedicated hosts that would be allocated in an ASEv3 "dedicated host" configuration.

Are you saying that we don't know the cost of the dedicated hardware until we actually purchase it?

It also details that we would be limited by the number of cores available, but there's no indication about what types of system the dedicated hosts a

[2022-02-05 08:42] mike-urnun-msft commented on #83812
@Jlofq My apologies for the long delay in responding back. Due to long inactivity and because this repo is mainly for Azure Docs, please consider opening a new issue on the following repo instead: https://github.com/MicrosoftDocs/windows-itpro-docs/issues

[2022-02-05 08:42] #83812 closed

[2022-02-05 10:41] Rashair commented on #86851
Any updates on this?

[2022-02-05 11:18] Droptable9 commented on #85789
HI there, has there been any resolution to this issue?

[2022-02-05 11:42] yossi-y commented on #87462
Thanks for the response.
I'm closing the case, but please let me know if you have a question.

#please-close

[2022-02-05 11:42] #87462 closed

[2022-02-05 11:47] jikuja commented on #87462
Totally offtopic questions:

Is there an estimate for GA?
Where can I post suggestions for missing supported tables? (e.g. some Azure Data Factory and AzureActivity tables are missing and they are now blocker to start testing this feature.)

[2022-02-05 11:54] yossi-y commented on #87462
GA is planned very soon, please stay tuned.

About support for more tables - this is something we have in backlog already. There is work we do in backend to support more tables and hence the time it takes before all tables can be supported.

Thanks,

[2022-02-05 14:58] Aminadad27 opened #87520 "mem-usage-improvements"
need trade waste lonely foam kitchen table hurry believe habit gossip crouch

[2022-02-05 15:44] christopinka opened #87521 "Cosmos DB sql dialect"
Where is the documentation for the full specification of the Cosmos sql dialect? I'm seeing lots of examples but none of them point to the complete specification. Is it complete t-sql? How does it conform to the standard ISO/IEC 9075 “Database Language SQL? Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65ef452c-

[2022-02-05 15:49] christopinka commented on #87521
Or really, maybe more useful would be common known limitations. thanks

[2022-02-05 15:52] cataggar opened #87522 "prezipped data not found"
The instructions  for "Download the flight data" take you to https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FGJ . Clicking on "prezipped" then "download" takes you to https://transtats.bts.gov/PREZIP/_Reporting_Carrier_On_Time_Performance_1987_present_2021_1.zip which throws a 404 Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-02-05 16:05] spotakash opened #87523 "Do Not Work: upgrade all existing node pools in a cluster to use the containerd runtime for all Windows Server node pools:"
Command here https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#upgrade-an-existing-windows-server-node-pool-to-containerd mentioned
[code]
It is supposed to upgrade all existing Windows Node Pool to containerd. But, it seems it is not happening. I have Windows Nodepool running on Docker Runtime and after running above command that nodepool still remain on Docker runtime.

Succes Com

[2022-02-05 16:11] MartinJaffer-MSFT commented on #87520
This appears to be spam.  Closing.

[2022-02-05 16:11] #87520 closed

[2022-02-05 17:48] kobulloc-MSFT commented on #87523
@spotakash Thank you for reporting this!  We are reviewing the command and will get back to you shortly.

[2022-02-05 18:40] JasonWHowell commented on #85789
@wibjorn FYI re 538994

[2022-02-05 18:43] JasonWHowell commented on #85789
@droptable9 sorry, no update yet. We've tracked the bug with our the docs engineering team. Hoping for a better status soon.

[2022-02-05 18:44] OisinFoley opened #87525 "Paragraphs that contradict each other"
[In "What is VPN Gateway?", you state that "Each virtual network can have only one VPN gateway." while in "What is a VPN gateway?", you state that "A virtual network can have two virtual network gateways; one VPN gateway and one ExpressRoute gateway. For more information, see Gateway types." Please clarify the meaning of this]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-02-05 23:13] jhastingsiii opened #87526 "Create container instance seems to be out of date...."
I just recently installed Azure Powershell module and have been trying to run New-AzContainerGroup, which seems to no longer have the -Image parameter that is mentioned on the page. It has a -Container parameter, which you can create an object for, which takes a ImageRegistryCredential which you can also create an object of, although I've not successfully gotten any of this working because my Serv

[2022-02-05 23:24] j-martens commented on #55724
This has been resolved. Thank you for your post.

#please-close

[2022-02-05 23:31] jhastingsiii commented on #87526
It seems the reason why New-AzContainerGroup doesn't work is because I was using New-AzContainerGroupImageRegistryCredentialObject for creating my credential object. If I use a Hash Table instead everything works fine. Probably a bug there of some sort, maybe something related to the SecureString data type it takes in for the password.

[2022-02-06 00:06] #55724 closed

[2022-02-06 00:27] j-martens commented on #54665
#label:devtest-lab/svc

[2022-02-06 00:32] MartinJaffer-MSFT commented on #87521
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-06 00:34] MartinJaffer-MSFT commented on #87522
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-06 01:17] take-4c commented on #86813
@BryanTrach-MSFT
Thank you for the response. I see.
But I think it would be better to clearly state that is written for someone using a docker container.
If current description, people who use Windows(not windows container web app) also think I should use the following command.
az webapp log config --resource-group --name --docker-container-logging filesystem --level Verbose

[2022-02-06 01:32] kobulloc-MSFT commented on #87526
@jhastingsiii Thank you for bringing this to our attention!  We're reviewing the command and will get back to you shortly.

[2022-02-06 03:00] #87356 closed

[2022-02-06 03:02] KrishnaG-MSFT commented on #87381
@altwohill As I didn't hear back from you on the recommendations made, so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2022-02-06 03:02] #87381 closed

[2022-02-06 03:03] #87453 closed

[2022-02-06 03:03] #87455 closed

[2022-02-06 03:04] #87458 closed

[2022-02-06 03:54] jsheetzati opened #87532 "Clarification on Azure Front Door delay when changing backend priority"
Hello,

We use Azure Front Door in a multi-region scenario. When one region was having an issue, I updated the bad region's priority to 0. It took 20-30 minutes before that region stopped receiving traffic. The unhealthy backend was causing issues for our users and many support tickets.

The FAQ has this section regarding backend changes:
![image](https://user-images.githubusercontent.com/15350893

[2022-02-06 04:47] krispenner opened #87533 "Please clarify App Service Environment v3 zone redundancy minimum instance count"
The documentation says there is a minimum of charge of nine instances when zone redundancy is enabled on an App Service Environment v3.

However, this does not make much sense as there should only be a requirement of three instances due to there being only three availability zones to deploy across. Furthermore, the Azure Portal states there is a minimum instance count of three which aligns with ex

[2022-02-06 05:14] sadatnfs opened #87534 "[Update needed?] Azure File Share cannot be mounted with PVCs"
Looks like there are a couple of issues with mounting Azure FS now:
1. Linux will throw a mount error with perms denied:
[code]
2. Even when I SSH'd into the pod manually to try and mount the share, If the user doesn't the latest version of cifs-utils, then a read-only mounting error is thrown.
3. After updating cifs-utils in the container, the new mounting error we get is "Unable to apply new cap

[2022-02-06 05:31] amanmcse commented on #87525
@OisinFoley Thank you for your feedback. We will investigate and update the thread further.

[2022-02-06 05:33] amanmcse commented on #87532
@jsheetzati Thank you for your feedback. We will investigate and update the thread further.

[2022-02-06 05:34] amanmcse commented on #87533
@krispenner Thank you for your feedback. We will investigate and update the thread further.

[2022-02-06 05:35] amanmcse commented on #87534
@sadatnfs Thank you for your feedback. We will investigate and update the thread further.

[2022-02-06 12:13] SBajonczak commented on #75296
I got the same issue. Did the apache2 configuration fixed the issue? Where I must place it? In the tutorial on https://azureossd.github.io/2020/09/15/unable-to-download-static-content-php-on-azure-app-service-linux/index.html there is mentioned to download the apache2.conf. But where is this file? In the container or on the azure webapp?

[2022-02-06 13:01] sriram-adpusuhup commented on #47830
@spelluru  I am using v5.10.4 and I'm getting this error. When I restart my service, sometimes the SDK works as expected, but for the most part, it throws this error.

Here's my publisher code

`public class EventPublisher {

    private static final EventHubProducerClient producer;
    private static EventDataBatch batch;

    static {
        producer = new EventHubClientBuilder()

[2022-02-06 13:18] schlesingera commented on #75296
Hi,
I give up myself. I used instead of this tutorial the manual from JulieNG. You can find it here: https://github.com/julie-ng/wordpress-on-azure

This works perfect for me :-)

[2022-02-06 13:24] sriram-adpusuhup opened #87537 "LinkedList NullPointerException when publishing events through EventHub SDK"
# BUG REPORT

I have a service that receives events through an exposed API and publishes that event into EventHub. Here, I am getting the following exception
![Error Screenshot](https://user-images.githubusercontent.com/60172790/152682890-18f8e125-594b-4085-8695-5f17bf1bdaff.png)

Here's the code for the publisher I'm using

[code]

The publish function is called every time I receive an event thro

[2022-02-06 15:14] AshokPeddakotla-MSFT commented on #87436
@ravipath Glad to hear your issue is resolved. Appreciate for sharing the resolution.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-06 15:14] #87436 closed

[2022-02-06 15:16] AshokPeddakotla-MSFT commented on #87354
@dnorambu I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-02-06 15:22] timahenning opened #87538 "PHP 8.0 deployments do not use Apache web server."
PHP 8.0 does not use Apache web server. Consider updating the documentation to state PHP 8.0 deployments use Nginx.

https://github.com/Azure-App-Service/nginx-fpm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99cd-9e32-ae48-2605831aee02
* Version Independent ID: 743bc03e-d0d1-1e9e-acb1-52ae01daa0cc
* Content

[2022-02-06 15:50] assilabdulrahim opened #87539 "Inconsistency and Inaccuracy"
While I understand the challenging task to keep accuracy and consistency yet this is a reference that should be perfect.
In this page it lists
BR-3: Validate all backups including customer-managed keys
BR-4: Mitigate risk of lost keys
 While the Benchmark states:
BR-3: Monitor backups
BR-4: Regularly test backup

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsof

[2022-02-06 15:53] ElazarK commented on #87421
HI @randomat123 I am looking into this with the proper SMEs and hope to have an answer for you soon.

[2022-02-06 16:45] brandonmaul commented on #35411
This was my problem as well! 2 hours trying to find a solution because I thought the aks/acr connection was incorrect.
Turns out, the image with the tag simply wasn't found.

[2022-02-06 17:16] doherty100 commented on #45669
@tobyscales  did you ever figure this out? I'm stuck on the same thing.

[2022-02-06 18:31] AjayKumar-MSFT commented on #87306
xiaomi7732, Since we're discussing on this internally, I'll close this thread for now and share updates.

[2022-02-06 18:31] #87306 closed

[2022-02-06 18:35] MicrosoftGuyJFlo commented on #87423
@SanDeo-MSFT Thoughts on roaming profiles and the details above?

[2022-02-06 18:55] ezYakaEagle442 opened #87540 "Bicep config for AKS AGIC addonProfiles"
In [Bicep doc for AKS ](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters?tabs=bicep)  there no details about addonProfiles , it is difficult for a newbie to configutre correctly the AGIC addonProfiles

I created Issue [https://github.com/Azure/azure-rest-api-specs/issues/17563](https://github.com/Azure/azure-rest-api-specs/issues/17563)

Could you please

[2022-02-06 19:39] SarveshPandey opened #87541 "Import Data is not accepting parameter"
I am passing Path parameter in Import Data but is not accepting it.
Below is the error screenshot and path location.

![image](https://user-images.githubusercontent.com/25227161/152698353-73c76767-b0a0-41da-95b7-708546b60ed5.png)

Please help to overcome this issue
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d7186c4

[2022-02-06 20:27] rolyon commented on #81661
Hi @RDukes425
Thanks for your feedback. We included Azure Government Cloud Management API in the docs. We also provided feedback to the team about the sovereign clouds.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-cloud-apps#microsoft-azure-management
Let us know if you have additional feedback.
thanks

[2022-02-06 20:28] rolyon commented on #81661
#please-close

[2022-02-06 20:28] #81661 closed

[2022-02-06 21:19] ivratche opened #87543 "Why isn't facebook federation listed here?"
I assume facebook federation will be at step 3, but do not see it. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3562df9e-bbd8-0f6f-a7e2-fa5730b99365
* Version Independent ID: bf99e363-4f0b-82b5-18b8-2cb4ed89cd6b
* Content: [Invitation redemption in B2B collaboration - Azure AD](https://docs.microsoft.c

[2022-02-06 21:24] lasyan3 commented on #87487
Ok thanks, I created a new post here: https://docs.microsoft.com/en-us/answers/questions/724428/parameters-of-linked-services-not-showed-in-data-f.html

[2022-02-06 21:37] ivratche opened #87544 "Are steps 8-9 now obsolete?"
Are steps 8-9 of the redemption flow now obsolete based on the note highlighted in blue above the redemption diagram?

"As of November 1, 2021, we began rolling out a change to turn on the email one-time passcode feature for all existing tenants and enable it by default for new tenants. As part of this change, Microsoft will stop creating new, unmanaged ("viral") Azure AD accounts and tenants duri

[2022-02-06 23:02] saimsh-msft commented on #74845
Hi,
Please try the following custom-data and let us know if swap creation is still an issue or causing longer boot time:
[code]
I quickly tested this and it seems to not cause and issues with longer boot time and swap creation.
Updated here:
https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/swap-file-not-recreated-linux-vm-restart

[2022-02-07 00:51] GitaraniSharma-MSFT commented on #87540
@ezYakaEagle442 , thank you for the feedback. We have assigned this issue to the respective product owner for review.

@mscatyao , could you please provide your insights here?

[2022-02-07 01:29] mikerains opened #87549 "Ambiguous wording"
Document statement: "... exchange the JWT bearer token against a token for a downstream API. This token is added to the token cache ..." has 2 ambiguities:
1. The use of the word "against" has no formal meaning, it is being used colloqially.  The reader has a high chance of not understanding the intended meaning.
2. The sentence "This token ..." is describing one of the 2 tokens just mentioned, bu

[2022-02-07 01:31] MartinJaffer-MSFT commented on #87537
Thank you for bringing this to our attention.  To better assist you, could you please identify which document this is in reference to?

[2022-02-07 01:34] MartinJaffer-MSFT commented on #87538
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-07 01:36] MartinJaffer-MSFT commented on #87539
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-07 01:37] MartinJaffer-MSFT commented on #87541
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-07 01:50] munir94 commented on #86600
Turn out the storage class with fstype: ext4 is the solution . now the deployment is completed .

![image](https://user-images.githubusercontent.com/39366930/152712645-2ed31272-78fc-4f4b-b661-146fddb16d46.png)
![image](https://user-images.githubusercontent.com/39366930/152712691-0e334e8c-1ec5-4926-b6b1-3450be6fdd8a.png)

[2022-02-07 02:17] GeethaThatipatri-MSFT commented on #87294
Hi @jsoncoen We don't allow public and private access at the same time in the Flexible server. So you need to prepare for switching to private access, i.e. be ready to change the connection string in your app, etc., and once ready do it.

[2022-02-07 02:27] azfarmustafa-sdp opened #87550 "Error code 2010. The type initializer for 'Microsoft.DataTransfer.Runtime.Plugins.DataTransferPluginRegistration' threw an exception."
Hi Team,

I am getting error code 2010 and the details as below in the image, but the error is not mentioned in the page.
Could you please help check on this.

![image](https://user-images.githubusercontent.com/89369868/152714981-d5b99486-b8c9-484b-b378-4e154bebb513.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2022-02-07 02:33] RyanHill-MSFT commented on #87269
My screenshot up above is for Windows, not Linux. Even though the underlying storage is the same, how the OS mounts that storage is more than likely why you're seeing differences. Windows hosting plans will always have a web.config file. The FAILED TO INITIALIZE RUN FROM PACKAGE.txt file appears when the app service fails to mount properly to zip package.

[2022-02-07 02:47] koheikawata commented on #87269
@RyanHill-MSFT , thanks for the clarification!!

Developers like us are looking through various things as debugging when we face App Service not working, sometimes just because of a mistake of mine, but things like FAILED TO INITIALIZE RUN FROM PACKAGE.txt or the OS differences confuse me. So your comment here is very helpful for me and probably for others who reach this page when they are in a si

[2022-02-07 03:07] shwetamathur7 commented on #87543
@ivratche Thank you for your inputs . We will investigate and update the thread.

[2022-02-07 03:52] SwathiDhanwada-MSFT commented on #87192
Assigning to content author @mumian for insights

[2022-02-07 04:13] ShaikMaheer-MSFT commented on #87550
@azfarmustafa-sdp Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-07 04:45] SwathiDhanwada-MSFT commented on #87196
@loris-s-sonarsource Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc once approved by content author. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-02-07 04:45] #87196 closed

[2022-02-07 04:46] ShaikMaheer-MSFT commented on #87302
@mssaperla Could you please validate customer feedback and update doc as appropriate? Thank you

[2022-02-07 04:51] V-SSenthilna commented on #86896
The [General questions about Azure Site Recovery](https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-faq#can-i-protect-a-virtual-machine-that-has-a-docker-disk-) article has been updated with the relevant content.

[2022-02-07 04:52] ShaikMaheer-MSFT commented on #87236
@johnayoub  Data flows and Azure Integration Runtime which enable Managed Virtual Network don't support the use of fixed IP ranges.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2022-02-07 04:52] halkazwini opened #87551 "Approve in the Manual Approval Method"
Hi Team,

I think "Approved" in the "Manual Approval Method" is meant to be "Approve"

![image](https://user-images.githubusercontent.com/85655443/152726238-ae5686eb-2dee-4ee5-b250-9248772f3618.png)

Regards,
Hussein

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83a737e-6585-b9e0-2a43-e834b09687db
* Version Independe

[2022-02-07 04:55] ShaikMaheer-MSFT commented on #87157
Adding referring document meta data

Document Details
⚠ Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

ID: 88466307-81b8-1e5b-7f2c-191d8e818071
Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
Content: [Frequently asked questions about Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#

[2022-02-07 04:56] ShaikMaheer-MSFT commented on #87157
@vhorne Could you please check above comments and enhance doc as appropriate? Thank you.

[2022-02-07 04:58] ShaikMaheer-MSFT commented on #87284
@jianleishen Could you please check feedback and update document as appropriate? Thank you.

[2022-02-07 05:00] GitaraniSharma-MSFT commented on #87551
@halkazwini , thank you for your feedback. We'll review this and get back to you shortly!

[2022-02-07 05:15] ShaikMaheer-MSFT commented on #87405
@kromerm Could you validate customer feedback and help on sharing details about adding Request Body when request method is POST or PUT? Also consider enhancing document as appropriate for same. Thank you.

[2022-02-07 05:20] kellyjjrusk opened #87553 "Azure Automation Hybrid Worker Private Link Error"
I am using Azure Automation set as private per the recommendation on screen. The goal is to run T-SQL against Azure SQL but since Azure Automation does not support a Private Link to Azure SQL yet, I set up a Hybrid Worker group and an Hybrid Worker. It added the Hybrid Worker and seems to be trying to install the extension but upon inspecting the VM (since it is failing to run a simple runbook) I

[2022-02-07 05:25] mike-urnun-msft commented on #87340
@codemaker I hope the links in the previous comment help you get started. Since we didn't determine any changes to this doc upon reviewing your feedback, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-07 05:25] #87340 closed

[2022-02-07 05:51] sriram-adpusuhup commented on #87537
Hey @MartinJaffer-MSFT . From the looks of it, it's a bug from the SDK, but here's the documentation I followed.

[2022-02-07 05:52] sriram-adpusuhup commented on #87537
I just noticed I raised it on `azure-docs` repo. My bad. Should I close this and raise it again on the correct repository?

[2022-02-07 05:56] shwetamathur7 commented on #87379
@ivassallo19 Salesforce is a third party multi-tenant App. When another tenant login to this application, it effectively mirrors the application (service principal) in your tenant due to which its already present in your tenant. Service Principal are the instances of the application and has not been created within the directory ,so rights can not be given to those instances.

As mentioned ,Salesfo

[2022-02-07 06:02] mike-urnun-msft commented on #86251
@ivansurif My apologies for the late reply. Both attributes do appear to be available for use: https://github.com/Azure/azure-functions-python-worker/blob/dev/azure_functions_worker/bindings/context.py#L13

SDK doc may be incorrect, @davidmrdavid could you weigh in on this one?

[2022-02-07 06:03] Matt-Finlay opened #87555 "where are previous packages?"
Latest package is causing unity to crash & hang. i want to use older versions of the unity package (not 1.20.0) but there are no links to older packages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01b13b79-a598-c1dd-7100-1a6e4becbaae
* Version Independent ID: e9376cc7-efd8-73a0-7724-1bac029e17f4
* Content: [Quickst

[2022-02-07 06:07] BrianAndersen78 opened #87556 "Outdated information"
[Enter feedback here]

Information given on this page is outdated, and doesn't really help in any way...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Independent ID: 4f92bd5b-4b91-b03d-4f1d-8c31d45af0ef
* Content: [Use LetsEncrypt.org certificates with Application Gatewa

[2022-02-07 06:24] v-hagamp commented on #87112
@chi3f10 , Thanks for your suggestion!
PR created for the above changes.
#please-close

[2022-02-07 06:24] #87112 closed

[2022-02-07 06:56] GlenGengMicrosoft opened #87557 "Typo"
There is a typo on "Set up an Azure AD app and service principal though the Azure portal". The word "though" should be "through" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c173bd2-d2e3-b84d-e6f3-17889ac4b4a7
* Version Independent ID: 3e665737-9914-cfe5-4918-c63d586da52a
* Content: [Create and configure a