[2018-12-23 02:44] kuldeepldec opened #21203 "Filter activity on tumblingwindow start time"
Hi I want to filter tumbling window start time and run my other copy activity. I do not see any examples here. Control flow, Expression are least covered in documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfc163f0-2883-6a20-fc06-f84715aa2912
* Version Independent ID: ccf25bc7-a643-71b0-0a0d-f51461689747
*

[2018-12-23 04:57] MarileeTurscak-MSFT commented on #21201
@GKarmakar
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-23 04:58] MarileeTurscak-MSFT commented on #21203
@kuldeepldec
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-23 05:06] MarileeTurscak-MSFT commented on #21040
Hi @mchrislincoln , how long did you wait for the account to delete? Can you describe the exact change you see between how this worked before and how it works now?

[2018-12-23 09:15] rayne-wiselman commented on #20899
The english version will be translated in line with loc schedule.
No AI here
@please-close

[2018-12-23 09:30] #21073 closed

[2018-12-23 09:31] #20101 closed

[2018-12-23 09:31] #20335 closed

[2018-12-23 09:32] #19789 closed

[2018-12-23 09:32] #17592 closed

[2018-12-23 09:34] #13949 closed

[2018-12-23 09:51] rayne-wiselman commented on #18404
@JazzyWagdaddy Can you let me know where you think info is incorrect? thx

Component  |  Linux (Azure endorsed)

Azure Backup (MARS) agent |  No ( Windows-based agent only)
System Center DPM | File-consistent backup of Linux Guest VMs on Hyper-V and VMWareVM restore of Hyper-V and VMWare Linux Guest VMsFile-consistent backup not available for Azure VMs
Azure Backup Server | File-consistent backup

[2018-12-23 09:53] rayne-wiselman commented on #18390
@jontreynes Seems to be fixed now. Thanks!

#please-close

[2018-12-23 09:58] rayne-wiselman commented on #18236
@hassanbabaie Hi. Currently the limitation still applies. Thanks!
#please-close

[2018-12-23 10:11] rayne-wiselman commented on #16700
@v-maroge Hi Marika, I see you got an answer to this on an internal alias. thx

#please-close

[2018-12-23 11:12] rayne-wiselman commented on #14200
Supported was added - https://azure.microsoft.com/en-us/blog/simplified-restore-experience-for-azure-virtual-machines/

The article seems OK now.
#please-close

[2018-12-23 11:13] rayne-wiselman commented on #14124
#please-close

[2018-12-23 11:14] rayne-wiselman commented on #14037
This now seems to be called out in the doc. #please-close

[2018-12-23 11:14] rayne-wiselman commented on #12914
#please-close

[2018-12-23 11:38] rayne-wiselman commented on #12387
This article refers to back up of Azure VMs. For Azure VM backup, backups go over the Azure fabric.

If you're referring to on prem to Azure, the Microsoft Azure Recovery Services (MARS) agent (installed directly on a machine for file/folder backups, or on Azure Backup Server/DPM for backup of protected apps) sends backup data (encrypted/HTTPS) over the internet connection  used by the agent.

thx

[2018-12-23 11:46] rayne-wiselman commented on #6610
Added a note to https://docs.microsoft.com/en-us/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#backup-service-does-not-have-permission-to-delete-the-old-restore-points-due-to-resource-group-lock saying that the lock is on the VM RG.

[2018-12-23 12:09] rayne-wiselman commented on #12088
@ManojNair Hi Manoj, this is a large work item and not really suitable for issue feedback.  I'm closing this issue and opening an internal work item to put together an article on backup data flow in various scenarios. I'll send you the work item link internally. thx

#please-close

[2018-12-23 12:11] rayne-wiselman commented on #11217
The article is about the snapshot extension that Azure VM uses to take snapshots for backup on Linux VMs. It seems appropriately labeled.

Let me know if you have any more questions. Thx!
#please-close

[2018-12-23 12:34] Anmolgan81 opened #21205 "Full text semantic Search Not supported in Managed Instance? What is the Workaround for it?"
If full text semantic search is not supported in managed instance, then what is the workaround for it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b8c7fe7-9597-6ea8-54d3-b85f3cc7b1d3
* Version Independent ID: 29b59670-62c1-7309-ab2a-ec44fb5e4746
* Content: [Azure SQL Database Managed Instance T-SQL Differences](htt

[2018-12-23 13:03] arturek opened #21206 "Logical partitions and thoughput"
I don't think the following sentence is correct:
When new items are added to the container or if the throughput provisioned on the container is increased, new logical partitions are transparently created by the system.
As far as I understand, the number of logical partitions depends only on data (one for each distinct value of the partition key), not on throughput. Increasing throughput can increa

[2018-12-23 14:21] jpetitte commented on #17592
I'm not sure if anyone followed up, but 1.2.0 fixed this for me. Nice work.

[2018-12-23 14:21] yotauber opened #21207 "Is it possible to create a one-off recurrence trigger?"
This page lists some examples for recurrence triggers that will trigger immediately after creation of the Logic App, and then recur according to other settings. If it is possible, I'd appreciate an example that shows how to define a trigger that just fires immediately, and then never recurs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-12-23 17:06] bearrito opened #21208 "Number of Certs for Devices and Modules"
Assume I am using the Identity Translation from - https://docs.microsoft.com/en-us/azure/iot-edge/iot-edge-as-gateway

If I have N Devices and each Device has M module identities, how many certs are required?
How are they configured? Is there an instruction guide similar to - https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway

---
#### Document Details

⚠ *Do not edi

[2018-12-23 17:11] MarileeTurscak-MSFT commented on #21205
@Anmolgan81
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-23 17:11] MarileeTurscak-MSFT commented on #21206
@arturek
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-23 17:13] MarileeTurscak-MSFT commented on #21207
@yotauber
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-23 17:31] gilmishal commented on #16002
@aherrick Tried that, and my identity is always empty - there are no claims in the claimprincipal.

[2018-12-23 19:12] hukun01 opened #21209 "Experiment fails with custom docker image"
I'm submitting a custom estimator and getting errors when running the experiment due to "conda not found".
I'm using the mxnet/python:latest_gpu_mkl_py3 docker image on a Standard_NC6.

Below is my experiment setup:
[code]

I also tried to do `pip_packages=['conda==4.4.11']` in the above code, but got the same error.

Please let me know if you need more details from my training script, but I don't

[2018-12-23 19:18] Karishma-Tiwari-MSFT commented on #20936
@binken We will now close this issue. Whenever you are ready, tag me to reopen the issue and we will gladly continue the discussion.

[2018-12-23 19:18] #20936 closed

[2018-12-23 19:43] SaurabhSharma-MSFT commented on #21066
@lonevvolf Can you please check the [Azure AD Domain Services - Troubleshooting guide](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-troubleshooting#users-are-unable-to-sign-in-to-the-azure-ad-domain-services-managed-domain) and [Troubleshoot joining a domain](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-a

[2018-12-23 20:09] artisticcheese commented on #13201
Where is article located which tells how to use Log Analytics to retrieve logs?

[2018-12-23 21:13] AshleyT3 opened #21210 "The binding type(s) 'orchestrationTrigger' are not registered."
When I follow the steps in the above walk-through, I receive the following error in the portal and it won't run, but runs fine locally. I'm new to Functions so am still digging, thought I'd post this here ... I think the above steps need tweaking to help newbies not get blocked on this while trying to learn about Durable Funcs.
Error:
Function (MyDurableFunction) Error: The binding type(s) 'orches

[2018-12-23 21:33] AshleyT3 opened #21211 "I don't see any extensions.csproj per the steps... maybe page is not applicable but I cannot immediately tell why..."
I followed steps at the following different article...

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-create-first-csharp

... but I get the following error in a red portal pop up...

Error:
Function (MyDurableFunction) Error: The binding type(s) 'orchestrationTrigger' are not registered. Please ensure the type is correct and the binding extension is installed.
S

[2018-12-23 21:42] AshleyT3 opened #21212 "I don't see a "Run from Zip" option when publishing... is that dated?"
I don't see a "Run from Zip" option when creating a new publish profile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4885c7aa-95fd-b501-37c8-deaeaf5ec54b
* Version Independent ID: 92dcd574-ffef-25f6-0a52-30dbce334b79
* Content: [Create your first durable function in Azure using C#](https://docs.microsoft.com/en-us/a

[2018-12-24 00:33] gmoed commented on #12387
I meant Azure backup for an Azure VM, I had an issue in an environment where internet access was restricted and if backups where taken while the machine was online they failed. If we shutdown the VM then it completed ok, this indicates there is a dependency for internet traffic on the VM, however I'm not sure if its for the data or just for control.

[2018-12-24 01:31] remware opened #21214 "Bad Ux description"
Create Deployment for Single Device option appears after right click on deployment.json
After that user should select the device ( that might not work ) but that is how the flow is now in latest version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d04da939-8c28-d77e-c626-f5deb91e539b
* Version Independent ID: 72ed905

[2018-12-24 01:36] trolleyboy commented on #19544
+1 for support in Australia Southeast

[2018-12-24 02:07] boboPD opened #21215 "Moving app insights resources as part of a group fails in certain situations."
I faced failures while moving Application Insights resources as part of a bulk resource group move. Folks from Azure Support mentioned that a couple of known factors that trigger the condition are if there are availability tests or alerts associated with the Application Insights resource. The workaround is to move the Application Insights resource on its own to the target resource group, and then

[2018-12-24 02:34] bcube commented on #13479
I got the same issue "access denied" when i use my own API instead of "Echo API". any advice?

[2018-12-24 03:07] liydu commented on #21092
@CeciAc , thanks for the in-time feedback. We have updated the doc to reflect the latest changes of the product.

[2018-12-24 04:14] AshokPeddakotla-MSFT commented on #21209
@hukun01 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 04:30] #12839 closed

[2018-12-24 04:30] #12914 closed

[2018-12-24 04:30] #14037 closed

[2018-12-24 04:31] ManojReddy-MSFT commented on #21031
@wadesh We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-24 04:31] #21031 closed

[2018-12-24 04:31] #14124 closed

[2018-12-24 04:31] ManojReddy-MSFT commented on #20827
@markreno We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-24 04:31] #20827 closed

[2018-12-24 04:31] #14200 closed

[2018-12-24 04:32] #14945 closed

[2018-12-24 04:32] ManojReddy-MSFT commented on #20828
@markreno We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-24 04:32] #20828 closed

[2018-12-24 04:32] #16370 closed

[2018-12-24 04:32] ManojReddy-MSFT commented on #21107
@ewahner I am checking in to see if the above answer was helpful. Let me know if you have any other questions.

[2018-12-24 04:33] AshokPeddakotla-MSFT commented on #16501
@tFable We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:33] #16501 closed

[2018-12-24 04:34] AshokPeddakotla-MSFT commented on #16577
@DavidD-SE We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:34] #16577 closed

[2018-12-24 04:34] AshokPeddakotla-MSFT commented on #16700
@v-maroge We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:34] #16700 closed

[2018-12-24 04:35] AshokPeddakotla-MSFT commented on #18236
@hassanbabaie We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:35] #18236 closed

[2018-12-24 04:35] AshokPeddakotla-MSFT commented on #18390
@jontreynes We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:35] #18390 closed

[2018-12-24 04:36] AshokPeddakotla-MSFT commented on #18490
@aujla0991 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:36] #18490 closed

[2018-12-24 04:36] AshokPeddakotla-MSFT commented on #18674
@dciborow We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:36] #18674 closed

[2018-12-24 04:36] ManojReddy-MSFT commented on #21138
@marioanton I have assigned this to the author to validate the steps and provide an update acccordingly.

[2018-12-24 04:36] AshokPeddakotla-MSFT commented on #20659
@DeanCefola We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-24 04:36] #20659 closed

[2018-12-24 04:53] femsulu commented on #20850
Closing this issue for now as we are continuing the convo offline. I will update once resolution is confirmed.

[2018-12-24 04:53] #20850 closed

[2018-12-24 04:53] KetanChawda-MSFT commented on #21085
@aaronralls I am not able to reproduce the issue at my side.

Can you confirm that you are logged in with the correct account in Visual Studio.

If yes, try removing all the accounts from Visual Studio and LogIn again.

![image](https://user-images.githubusercontent.com/28587628/50391124-dd747900-0765-11e9-805a-a4bd47238fcc.png)

If the issue still persist than it will require some deeper analysis

[2018-12-24 04:55] KetanChawda-MSFT commented on #21141
@SamirFarhat As I mentioned in my previous post that currently there is no template available for java in `function core tools` so you need to generate the Functions project from a [Maven archetype](https://maven.apache.org/guides/introduction/introduction-to-archetypes.html).

Please follow the below document to create a Java Function:

[Create your first function with Java and Maven (Preview)](h

[2018-12-24 05:07] adashen commented on #20769
@lasekg you can manually install the template through "dotnet new -i Microsoft.Azure.IoT.Edge.Module".
Besides, can you share the setting "azure-iot-edge.templateInstall.csharpmodule" in vscode? It should be "true" by default.

[2018-12-24 05:13] MarileeTurscak-MSFT commented on #21214
@remware
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-24 05:14] MarileeTurscak-MSFT commented on #21215
@boboPD
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-24 05:19] #21136 closed

[2018-12-24 05:30] femsulu commented on #20908
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-24 05:30] #20908 closed

[2018-12-24 05:31] femsulu commented on #20916
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-24 05:31] #20916 closed

[2018-12-24 05:33] KetanChawda-MSFT commented on #21199
@siudeks `<framework.version>` is the target framework of your function app project.

see the screenshot below from the properties of the project where you define the the target framework :

![image](https://user-images.githubusercontent.com/28587628/50391463-6e018800-076b-11e9-9521-0ebcaacf1fa1.png)

![image](https://user-images.githubusercontent.com/28587628/50391366-dcdde180-0769-11e9-92f3-e90e

[2018-12-24 05:56] jakaruna-MSFT commented on #21181
@chenxupro Please check this [link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/acu).
Look at the third column with heading "vCPU: Core".
Cores having *** are Hyper-threaded and capable of running nested virtualization.

[2018-12-24 06:02] jakaruna-MSFT commented on #21067
@davenewza I am closing this issue for now. If you need additional help feel free to reopen.

[2018-12-24 06:02] #21067 closed

[2018-12-24 06:03] jakaruna-MSFT commented on #20986
@ramadarla Did you tried the suggestions?

[2018-12-24 06:05] jakaruna-MSFT commented on #21001
@cmeyertons  I will close this out for now. If you need additional help please let me know and we can reopen and @ continue.

[2018-12-24 06:05] #21001 closed

[2018-12-24 06:11] JohnReeson commented on #19517
@felipepessoto We don't need to, no `AzureWebJobsDashboard` app setting equals built-in logging disabled.

[2018-12-24 07:09] michaelraam opened #21216 "Missing columns from dynamic365 result set"
It would be very useful if there is a check box to include all columns specified by a fetch XML query.

I have a table with 70 columns and the result set shows only 40, so 1st I need to find which columns are not returned and to add them manual to the result set.

I would expect that if I specify the column by name via a query the column should be returned always.

---
#### Document Details

⚠ *Do

[2018-12-24 07:26] imeya opened #21217 "Huge Block Time in Profiler in Azure App Service Response"
Customer has encountered this issue, original post is [here](https://stackoverflow.com/questions/53630529/huge-block-time-in-profiler-in-azure-app-service-response):

My Web App is running on Basic 2 Tier in Azure. But from past few days I'm Getting Huge Block Time when seen in the profiler. So, Is anyone having any idea about there is so much block Time in request processing.

![huge](https://use

[2018-12-24 07:32] jeary49252000 opened #21218 "Command not found "az ml computetarget update""
Hi all,

I did not find this command after installing the ML CLI inside Azure Cloud Shell.

Because this command is mentioned in this doc.

Thank you for your help!

[2018-12-24 07:33] amarpandharpure opened #21219 "Converting $body to string and using contains function to route data."
Converting $body to string and using contains function to route data.
 I wanted to check if body string value contains a specific string then route the message. Basically i have array of messages inside body. I cant check every item in the array object. So wanted to convert $body to string and use CONTAINS to verify for message routing.

[2018-12-24 07:35] sawravchy opened #21220 "Application didn't run"
When I was try run this application it said that operation returned an invalid status code 'Not found'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31a7905f-5818-4398-ee39-2842519dc054
* Version Independent ID: 7f6a714b-cd88-694e-fd31-ad96fdfe5ed3
* Content: [Tutorial: Detect and display face data in an image using t

[2018-12-24 07:40] #21218 closed

[2018-12-24 07:40] jeary49252000 opened #21221 "Command not found "az ml computetarget update""
Hi all,

I did not find this command after installing the ML CLI inside Azure Cloud Shell.

PS Azure:\> az ml computetarget update
az ml computetarget: 'update' is not in the 'az ml computetarget' command group. See 'az ml computetarget --help'.

Because this command is mentioned in this doc.

Thank you for your help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-12-24 07:51] dennyx commented on #20980
@msvijayn @MicahMcKittrick-MSFT
Thanks for the kindly effort, I will keep tracking about the metrics update

[2018-12-24 07:56] PramodValavala-MSFT commented on #20976
@helloguo Though not documented as such, in theory this should work.
So I went ahead and tried it out myself. 😄

Like you have already thought of, the `Dockerfile` would have to be updated accordingly. Here is what I finally end up with after getting it to work
[code]
[Here](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/manage-windows-dockerfile) is a doc that tal

[2018-12-24 08:00] PramodValavala-MSFT commented on #21212
@AshleyT3 This option is now renamed to `Run from package file (recommended)` instead like below.

![image](https://user-images.githubusercontent.com/43602528/50393992-102b6b00-0780-11e9-9f19-21d860abb7af.png)

[2018-12-24 08:02] femsulu commented on #21056
@georgewallace -  couldn't find any documentation for this. Any thoughts?

[2018-12-24 08:03] PramodValavala-MSFT commented on #21155
@markgossa AFAIK there hasn't been any change on this count. You can find more detailed information on the limits [here](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits).

If you are able to use more connections than 300, one possible reason could be that you are using a Dedicated App Service plan instead.

[2018-12-24 08:06] femsulu commented on #21149
@adpick  - any insights on this one?

[2018-12-24 08:16] kazshi opened #21222 "RBAC to restore SQL Data Warehouse"
Which RBAC(s) can restore SQL Data Warehouse? Does the Important in the following page apply to SQL Data Warehouse as well, or different?
Restore an Azure SQL database from a backup | Recovery time
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-recovery-using-backups#recovery-time

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-12-24 08:18] Clebam commented on #19936
Hi there, I'm facing the same issue over there.

Looking forward to seeing some update

[2018-12-24 08:54] rwaal commented on #17653
I agree, there is content missing for insights. For example, I'm looking for a way to configure the "Daily Cap" settings in Application Insights. I suspect this can be done with type Microsoft.Insights/Components/CurrentBillingFeatures, but there's no documentation on it.

[2018-12-24 08:58] SadiqhAhmed-MSFT commented on #21215
@boboPD, We have assigned this issue to the author to review further and take the right course of action.

@tfitzmac, FYI.

[2018-12-24 09:01] markgossa commented on #21155
@PramodValavala-MSFT, thanks for taking a look. Have a read of this article and let me know your thoughts:

https://www.troyhunt.com/breaking-azure-functions-with-too-many-connections/

It seems to suggest the limit is now 600 connections?

[2018-12-24 09:05] AshokPeddakotla-MSFT commented on #21220
@sawravchy  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 09:06] SadiqhAhmed-MSFT commented on #21191
@kvenkazure, We have assigned this issue to the author to review further and take the right course of action.

[2018-12-24 09:09] AshokPeddakotla-MSFT commented on #21221
@jeary49252000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 09:13] SadiqhAhmed-MSFT commented on #21190
@kvenkazure, We have assigned this issue to the author to review further and take the right course of action.

[2018-12-24 09:45] 1stewart opened #21223 "Update frequency"
The documentation says Traffic view (https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-traffic-view-overview) shows the last seven days worth of data, but not how often it's updated. Can you confirm?

[2018-12-24 09:48] 1stewart opened #21224 "Update frequency"
The documentation says Traffic view shows the last seven days worth of data, but not how often it's updated. Can you confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1964d4c8-7106-ac1e-3d69-30681e755f49
* Version Independent ID: e0d241fa-50d1-076d-eb15-854a9e8086c4
* Content: [Traffic View in Azure Traffic Manag

[2018-12-24 09:48] #21223 closed

[2018-12-24 10:08] KetanChawda-MSFT commented on #21211
@AshleyT3 you will see `extensions.csproj` only when you create a function from portal and extension is installed by portal.  for example , when you create a `Azure Queue Storage trigger` function from portal , it will install an extension in background which includes the dependencies of Queue Storage.

Portal will ask you to install `Extension` when you select the template. see the below screensh

[2018-12-24 10:15] CHEEKATLAPRADEEP-MSFT commented on #21222
@kazshi To recover using automated backups, you must be a member of the **SQL Server Contributor** role in the subscription or be the **subscription owner**.

It will be applicable for both Azure SQL Database and Data Warehouse.

Hope this helps.

[2018-12-24 10:20] deus42 commented on #21162
Seems the issue was with specifying the Host header, I used another nginx container which can rewrite nginx config after app service restarts. but azure asked me to register my custom domain intercepting the request.
so I abandoned nginx at all at this point and used WEBSITES_PORT app setting value to use built-in reverse proxy and it worked for me

[2018-12-24 10:20] #21162 closed

[2018-12-24 10:43] CHEEKATLAPRADEEP-MSFT commented on #21221
@YutongTie-MSFT As per my research, "**az ml computetraget update**" cmdlet is not available in the "**az ml computetarget**".

![image](https://user-images.githubusercontent.com/44426401/50397341-c51c5280-0795-11e9-97a3-04af8c579ec9.png)

@jpe316 Could you please evaluate and update as appropriate?

[2018-12-24 10:48] AshokPeddakotla-MSFT commented on #21216
@michaelraam Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-24 11:11] KetanChawda-MSFT commented on #21210
@AshleyT3 I am not able to reproduce the issue. Can you please try updating `Azure Functions and Web Jobs Tools` in Visual Studio.
go to VS menu =>Tools =>Extensions and Updates, find `Azure Functions and Web Jobs Tools`, update it to latest version(15.10.2046.0 right now).

After the update , restart the Visual Studio instance and try the steps again.

PS: If possible try to publish the function

[2018-12-24 11:32] shuwei007 opened #21226 "clam"
clam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8b8066-1645-97d6-fa82-ccc6304ac556
* Version Independent ID: bf602a85-19c8-133a-a4c4-90ae9c93b453
* Content: [Translator Speech API Reference - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/translator-speech/reference)
* Content

[2018-12-24 11:46] siudeks commented on #21199
Thanks very much for explanation. I thought <framework.version> refers to source files, after reading docs second time I see it refers to build output directory

I simply misunderstand documentation

[2018-12-24 11:46] #21199 closed

[2018-12-24 12:08] cBala20 commented on #20876
Hi Team,

I was in vacation for couple of days and today i tried to validate the fix,
but still getting the same error. Below is the screen shot.

[image: image.png]
Let me know if you need more details.

Bala
+91-9686989873

On Fri, Dec 21, 2018 at 10:14 PM YutongTie-MSFT <notifications@github.com>
wrote:

--
The great end of life is not Knowledge but the action

[2018-12-24 12:11] Ahmad-Al-Ali opened #21227 "Startup File For PHP Run time"
what is the expected file type for the Startup File for PHP run time ? the article only mentions Node, Ruby and .Net Core

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b421fa01-1f39-28a5-78c2-63dd5700c8c5
* Version Independent ID: 10ed9c91-16e0-d371-fcfc-d6d5a7f984b2
* Content: [App Service on Linux FAQ - Azure](https

[2018-12-24 12:14] chenxupro commented on #21181
@jakaruna-MSFT Thanks for your reply.

[2018-12-24 12:31] arturek opened #21228 "Descriptions of the TOP operator and the BETWEEN keyword are missing"
.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46fe839e-e108-404c-03b7-3e93efc0af65
* Version Independent ID: 6d90520e-63ea-5820-abad-9541dedb551a
* Content: [SQL language syntax in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-query-reference)
* Content Source: [articles/cosmos-db/sql-api

[2018-12-24 12:50] jakaruna-MSFT commented on #21182
@damienestewart I tried to deploy a mesh app using that template.
Looks like image tag is mandatory for windows containers.
I will check again and post the updates.

[2018-12-24 13:32] nerddtvg opened #21230 "Code formatting issue in How can I stop and start Azure Firewall?"
The first PowerShell block has a special double quote (”) that causes the rest of the lines to be formatted as strings and not parameters or cmdlets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bba1b4d-cf65-c0a2-9bb6-4ff7896f0a15
* Version Independent ID: 7ab0db77-e78d-de58-369f-641782327264
* Content: [Azure Firew

[2018-12-24 13:47] LongBeachHXC commented on #20882
I'm wondering if this is the same issue I am currently having. I have following code snippet and am receiving the same described error. My document is located within a collection that I created that required a "partition key" to be created with it. Also for clarification, in current state this is not possible to do? All "items" need to be in the "root" collection that does not have partition key?

[2018-12-24 14:00] rifaterdemsahin opened #21231 "Need a much later version of this"
How can I install the latest version of this solution where it matched my services fabric ?
When i follow the steps here it just does not install
https://imgur.com/a/vl60TYF

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3aa58af5-02ea-e425-1fc5-9f588d394016
* Version Independent ID: 86440381-783a-6e49-bacb-59b1c1581d81

[2018-12-24 14:02] biren1234 commented on #16905
does it work with NTFS SMB share file

[2018-12-24 15:38] PramodValavala-MSFT commented on #21155
@markgossa I took another look and found [some](https://github.com/Azure/azure-functions-durable-extension/issues/389#issuecomment-433486880) discussions on this.

@cgillum Could you share some insight on this?

[2018-12-24 15:40] jason-j-MSFT commented on #21227
@Ahmad-Al-Ali
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 15:42] jason-j-MSFT commented on #21219
@amarpandharpure could you provide a link to the document you are referring to?

[2018-12-24 15:43] franciscorenault opened #21232 "No SMS to my mobile when I tried connect using RDP Gateway"
I tried review all my configuration the my Azure account, NPS and RD gateway adn active diretory twice  , when I tried connect by RDP the PC , everthing works fine , but to put 2 authentication security using RDP Gateway  erver settings I receive this error:

Anyone can help with this ?

Follow the error
[Content]
Remote Desktop can’t connect to the remote computer "172.22.146.20" for one of these

[2018-12-24 15:46] jason-j-MSFT commented on #21230
@nerddtvg
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 15:48] jason-j-MSFT commented on #21217
@imeya
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 15:50] jason-j-MSFT commented on #21231
@rifaterdemsahin
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-24 16:11] rifaterdemsahin commented on #21156
@dkkapur if our customer provides a load balancer, do we still need to modify the cluster configuration?

[2018-12-24 16:37] robinmanuelthiel commented on #17592
Hi all. For me, the issue did not get fixed with version 1.2.0. I opened an issue in the freshly released GitHub Repository for the JavaScript SDK: https://github.com/Microsoft/cognitive-services-speech-sdk-js/issues/19

[2018-12-24 16:40] syedhamjath opened #21233 "Where to find UnitTestHelper"
Hi Team,

It would be great if you can share where to find UnitTestHelper factory method.

Thanks
Syedhamjath Syedmansur

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ff43101-48b6-5a4b-cbf5-4f7ab03b0d2e
* Version Independent ID: fbc5b41b-278a-05a7-c477-4294e5dbc8d5
* Content: [How to test your Azure Data Lake Analyti

[2018-12-24 16:59] MarileeTurscak-MSFT commented on #21218
@jeary49252000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-24 16:59] MarileeTurscak-MSFT commented on #21223
@1stewart
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-24 16:59] MarileeTurscak-MSFT commented on #21232
@franciscorenault
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-24 17:00] StizzyRaxx opened #21234 "Excel report won't open due to size"
I ran this script and it pulled a massive amount of data. The output file was over 8GB in size, and can’t even open in Excel. Is there a way to modify the script so it either breaks up the output files to smaller size of set a date range on the amount of data gathered? There are over 20,000 users in the environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-12-24 17:03] ben-vtarc opened #21235 "A few metadata fields are missing from documentation:"
BK: I think might be a conference name or maybe a redundant field for Journal name (very few papers from my pull have this metadata field)

PR: I think this might be a list of IDs (either papers that are referenced or reference a paper). (almost all papers from my pull have this metadata field)

BT: doesn't have a description. I think this might be a  field for "Journal Type". The unique values I

[2018-12-24 17:10] arturek commented on #21228
This document doesn't mention neither TOP nor BETWEEN which can be used in this SQL dialect. All other language elements seems to be described here. I've assumed this omission is not on propose.

[2018-12-24 17:14] PramodValavala-MSFT commented on #21042
@rizwaans You are right about the `workflowName`. Its the name of your logic app itself.

As for the `runName`, you can get a list of runs by using the [Workflow Runs - List](https://docs.microsoft.com/en-us/rest/api/logic/workflowruns/list) API and then using the `name` attribute from one of the runs returned in your [Workflow Runs - Get](https://docs.microsoft.com/en-us/rest/api/logic/workflowru

[2018-12-24 18:19] Absoblogginlutely commented on #21010
With my first experience in trying to install this, I was also required to install the azureRm module as well as just az (although maybe I just needed to run "enable-azurermalias" ?

[2018-12-24 18:27] weitzhandler opened #21236 "Any alternatives to achieve Change Data Capture when storing data on the cloud?"
Hi,
We're developing a new app the CDC is mandatory, but we would like to store the data on the cloud. Since Azure SQL doesn't support CDC we're looking for alternatives. NoSQL is also considerable, but we'd prefer to work with EF Core.
Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0

[2018-12-24 18:47] ben-vtarc opened #21237 "Link to Sandbox"
I think it would be helpful to provide a sandbox functionality. That is allow users to play with the API end points in the documentation (right after the query syntax is explained). It is not obvious that the user has to go to "Reference" to explore the api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd43b6eb-25ee-8

[2018-12-24 18:48] kobulloc-MSFT commented on #21169
@jeubank12 I believe this is a somewhat dated reference to an Application Insights Tools installer we had for Visual Studio 2015:

- [Blog announcement](https://azure.microsoft.com/en-us/blog/application-insights-tools-in-visual-studio-2015-rtm-2/) for Application Insights Tools
- [Product page](https://www.microsoft.com/en-us/download/details.aspx?id=50007) for Application Insights Tools
- [Chann

[2018-12-24 19:31] ben-vtarc opened #21238 "String Attribute: Prefix value content doesn't work"
The following two queries do not seem to work:

Ti='indexing by latent seman'...
Composite(AA.AuN='sue du'...)

However the numeric version does work:

Y='19'...

I'm not sure if the api has been updated and if there is a new way to query string attributes by a prefix value, but this would be really useful to know.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-12-24 19:59] oleksandr-bilyk opened #21239 "Depricated ports."
When I create service fabric cluster using ARM I get following error.

Message: Property: .properties.nodetypes[].clusterconnectionendpointport is not supported.
InnerError:
Code: UnsupportedProperty
Message: Property: .properties.nodetypes[].leasedriverendpointport is not supported.
InnerError:
Code: UnsupportedProperty
Message: Property: .properties.nodetypes[].serviceconnectionendpointport is n

[2018-12-24 20:32] kazshi commented on #21222
@CHEEKATLAPRADEEP-MSFT Thanks for your clarification. I understand both Azure SQL Database and Data Warehouse have the same permissions. It would be great if it's described in the Data Warehouse content, sorry if I missed it.

[2018-12-24 20:32] #21222 closed

[2018-12-24 20:36] Jinesh12 opened #21240 "Add the taxonomy used for tags and objects to the documentation"
Even if an exhaustive list is not available, at least a subset of the taxonomy including the tags/objects frequently used can be added.

I know that the taxonomy of categories already provided, I am looking for something more detailed and thus the taxonomy used for objects and tags would be very useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-12-25 00:04] KeiroKamioka0000 opened #21242 "Changing Network Connection Properties within non-Windows VM"
Is this same as Linux VM?
If that so, please consider mention this in Document please.

Thanks

"Network connection properties, such as DNS server IPs, should not be edited directly within Windows VMs. This is because they might get erased during service heal when the virtual network adaptor gets replaced."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-12-25 01:05] dcbrown16 opened #21243 "Managed Instance note"
I just noticed that the note about Managed Instances not being supported isn't in Japanese, and went looking for when it was added in the GitHub history, but I actually can't find this note in the GitHub master or last revision at the links below.
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/sql-database/sql-database-sync-data.md
https://github.com/MicrosoftDocs/azure-docs/blob

[2018-12-25 01:17] dcbrown16 commented on #21243
The same issue shows up (with the same text box) on this page.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-get-started-sql-data-sync
Again the note is invisible to me in the raw/GitHub history so I'm not sure what's going on.

[2018-12-25 01:39] dcbrown16 opened #21244 "SQL DB to Managed Instance?"
Are there any supported methods for migrating from Azure SQL DB (single db) to Managed Instance?
It seems like all the wordings on this page are careful to say something like "migrate from on premises or IaaS SQL Server to Managed Instance" which seems to specifically exclude single DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-12-25 01:57] kazshi opened #21245 "how to view SQLSecurityAuditEvents"
I have the same question as in the following feedback page - I'd like to know how to view SQLSecurityAuditEvents for managed instance database.  I've set up auditing but I couldn't find how to do that.

Audit / SQLSecurityAuditEvents: Currently unavailable?? · Issue #14670 · MicrosoftDocs/azure-docs
https://github.com/MicrosoftDocs/azure-docs/issues/14670

---
#### Document Details

⚠ *Do not edit

[2018-12-25 04:49] MarileeTurscak-MSFT commented on #21233
@syedhamjath
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:50] MarileeTurscak-MSFT commented on #21234
@StizzyRaxx
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:50] MarileeTurscak-MSFT commented on #21236
@weitzhandler
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:51] MarileeTurscak-MSFT commented on #21238
@ben-vtarc
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:52] MarileeTurscak-MSFT commented on #21239
@oleksandr-bilyk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:53] MarileeTurscak-MSFT commented on #21240
@Jinesh12
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:54] MarileeTurscak-MSFT commented on #21242
@KeiroKamioka0000
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:55] MarileeTurscak-MSFT commented on #21243
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:56] MarileeTurscak-MSFT commented on #21244
@dcbrown16
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 04:56] MarileeTurscak-MSFT commented on #21245
@kazshi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 05:01] AmanGarg-MSFT commented on #21217
@imeya
It looks like you have a Stack Overflow thread (link) regarding this issue.  We are currently doing our best to come up with a solution for this and should get back to you soon.  Since the documentation looks to be in order, we are going to close this as resolved but if you have any questions about the documentation, please tag me in your reply and we would be happy to continue the conversa

[2018-12-25 05:01] #21217 closed

[2018-12-25 05:31] femsulu commented on #21161
Adding @gsacavdm  since this is more of a request for documenting related guidelines for AxurezGov

[2018-12-25 05:42] jason-j-MSFT commented on #20868
@bwren this might be out of date, could you take a look?

[2018-12-25 05:45] jason-j-MSFT commented on #21077
@linda33wj could you take a look?

[2018-12-25 05:46] jason-j-MSFT commented on #21082
@bwren could you take a look?

[2018-12-25 05:47] jason-j-MSFT commented on #21097
@hrasheed-msft could you take a look?

[2018-12-25 05:48] jason-j-MSFT commented on #21105
@ShubhaVijayasarathy could you take a look?

[2018-12-25 06:16] egiray opened #21248 "Documents assumes azure only supports C#"
Azure platform claims it supports every programming language but documents are just for .Net.
The last page I am referring is:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings

[2018-12-25 06:45] juntakata opened #21249 "What is the necessary licenses to see Identity Secure Score?"
URL below says organization that has Office 365 Enterprise, Microsoft 365 Business, or Office 365 Business Premium can view organization's secure score.

https://docs.microsoft.com/en-us/office365/securitycompliance/office-365-secure-score

What licenses do customers need if they do not have Office subscription? I confirmed users with Azure AD Premium P2 licenses can see identity score. If the Pre

[2018-12-25 06:46] ravikiran-srini opened #21250 "Data Movement service, as part of Azure Data Factory"
Is the Data Movement service (part of ADF that powers the data movement) same as the Integration Runtime?
If not, what is the difference between the two?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e218b24-88cc-2c51-1ccc-7718cf0ffb33
* Version Independent ID: 0cf3bb9b-c822-b0a6-35d8-785ebcefb4f3
* Content: [Introdu

[2018-12-25 07:49] seank-com opened #21252 "Third Bullet needs more explaining"
- Your actor instances won't block callers with unpredictable delays by issuing I/O operations.

I feel like this bullet needs more explanation. From my read of the [actor pattern](https://en.wikipedia.org/wiki/Actor_model) callers invoke actors through messages and even the implementation in Service Fabric Reliable Actors uses proxies. So there must be some nuance I am missing. Actor garbage coll

[2018-12-25 08:29] chengyiyu0724 opened #21253 "Baidu pay load invaild"
Hi, I have some problem with Test send Function. I send test notification to registrated devices with custom payload, feedback is "The Notification payload is invalid". Therefore I test again with defult payload, It's out to be a same feedback. Do you have any idea with this problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-12-25 09:12] hau-mal opened #21254 "Azure Databricks"
Could you please add a hint of Azure Databricks ist supported? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f497838f-e309-f36a-43af-6d58b5e6b1e9
* Version Independent ID: e078d7f3-1b9b-99f0-cc89-0c9c814a2ddf
* Content: [Analyze data using Jupyter Notebook and Kqlmagic](https://docs.microsoft.com/en-us/azure/da

[2018-12-25 09:43] orspod commented on #21254
@hau-mal,  thank you for your question.
To connect to Azure Data Explorer from Azure Databricks see: https://docs.microsoft.com/en-us/azure/data-explorer/connect-from-databricks

[2018-12-25 10:11] nmikuni opened #21255 "No 'Azure Monitor' service tag written"
As following feedback, there is 'Azure Monitor' service tag. I can see on my portal.
https://feedback.azure.com/forums/217313-networking/suggestions/34342330-add-nsg-service-tag-for-oms-services

Could you please add the explanation here too?
https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-12-25 11:41] weitzhandler commented on #21236
We can use SQL Server VM but that would be notably more expensive, anyway, worth updating the docs with this.

[2018-12-25 11:46] mike-urnun-msft commented on #21248
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d575e82-637b-32de-e64d-75adf4b6d976
* Version Independent ID: e346a973-fcb9-0c10-c1ed-17acd806ced9
* Content: [Triggers and bindings in Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings)
* Content Source: [articles/azure-fu

[2018-12-25 11:47] mike-urnun-msft commented on #21248
Hi @egiray Thank you for your feedback! We will review and update as appropriate.

[2018-12-25 12:43] BadrulAlomEY opened #21257 "Tutorial error on reload_ext Kqlmagic"
I'm trying to follow the tutorial for "Analyze data using Jupyter Notebook and Kqlmagic"

I spun up an Azure databricks notebook and entered:
`!pip install Kqlmagic --no-cache-dir  --upgrade`
it ran fine. Entered:
`reload_ext Kqlmagic`
and it tells me:
`ImportError: No module named Kqlmagic`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-12-25 13:36] abhijitdalavi commented on #20976
@helloguo  getting below error every time while deploying the image is there any way to do it on local.

This is the example I tried is from [Microsoft Ml tutorial](https://docs.microsoft.com/en-in/azure/machine-learning/service/tutorial-deploy-models-with-aml)

![issue](https://user-images.githubusercontent.com/32328939/50423159-e190bb80-0877-11e9-9539-781c16982da0.JPG)

 If so, what would be the

[2018-12-25 13:40] abhijitdalavi commented on #20876
Hi, @j-martens

This is the example I tried from [Microsoft Ml tutorial](https://docs.microsoft.com/en-in/azure/machine-learning/service/tutorial-deploy-models-with-aml)

But not able to deploy it as a service. I have faced above issue.
`model = run.register_model(model_name = "sklearn-mnist", model_path = "")
Deprecated, use RunHistoryFacade.assets instead.`  not worked.

If so, what would be the

[2018-12-25 14:48] ig-sinicyn opened #21258 "Fill a dictionary using copy?"
I'm trying to assign multiple managed identities to the VMSS.
Properties file:
[code]
Template for single managed identity (works fine):
[code]

The question is, how to pass multiple userAssignedIdentities into template? The doc states that the `copy` works only with array of properties.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2018-12-25 15:45] badalk opened #21260 "Explain out of the box AKS roles and how to use them"
Can you kindly explain what are these in-built roles in AKS

- Azure Kubernetes Service Cluster Admin Role
- Azure Kubernetes Service Cluster User Role

How and when this is used? What is the best practice on using these roles?

Regards
Badal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b18eba-07a5-dbbf-b697-0264e3

[2018-12-25 17:16] PramodValavala-MSFT commented on #20976
@abhijitdalavi You can open an issue at the bottom of the doc that you linked for better visibility and it may help others who are facing the same problem.

[2018-12-25 17:57] MarileeTurscak-MSFT commented on #21249
@juntakata
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 17:58] MarileeTurscak-MSFT commented on #21250
@ravikiran-srini
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 17:58] MarileeTurscak-MSFT commented on #21252
@seank-com
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 17:59] MarileeTurscak-MSFT commented on #21253
@chengyiyu0724
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 18:01] MarileeTurscak-MSFT commented on #21255
@nmikuni
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 18:02] MarileeTurscak-MSFT commented on #21257
@BadrulAlomEY please provide the link to the document you are using.

[2018-12-25 18:02] MarileeTurscak-MSFT commented on #21258
@ig-sinicyn
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 18:04] MarileeTurscak-MSFT commented on #21260
@badalk
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-25 18:20] BadrulAlomEY commented on #21257
Hi there - it's [https://docs.microsoft.com/en-us/azure/data-explorer/kqlmagic](https://docs.microsoft.com/en-us/azure/data-explorer/kqlmagic)

[2018-12-25 18:52] BryanTrach-MSFT commented on #21227
@Ahmad-Al-Ali Thank you for the question. We were unable to locate the answer using our internal and external documentation. We have assigned your feedback to the author to see if there is an expected value, and if so, to update the doc.

[2018-12-25 18:57] BryanTrach-MSFT commented on #21253
@chengyiyu0724 Thank you for your question. We keep GitHub scoped to questions/feedback that are related to the doc. We request you to share your support question on [MSDN forums](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=notificationhubs) where we have engineers who will continue to help assisting you. Thank you for your understanding.

We will now proceed to close this thre

[2018-12-25 18:57] #21253 closed

[2018-12-26 01:18] JTNichols opened #21264 "Angular example to custom API on B2C"
Hello, thank you for this article. I'd like to request a similar guide using a modern Angular SPA connecting to a user's API, all hosted by B2C. Angular is by far the most popular framework and a SPA to a RESTful API is the most popular architecture, so I think the audience is there. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-12-26 03:12] cBala20 commented on #20876
Hi Team,

Please let me know if we have any timeline for next release or fix?

On Wed, 26 Dec 2018, 07:54 Josée Martens <notifications@github.com wrote:

[2018-12-26 03:15] sodafatty commented on #21058
Thanks for your feedback. When I upload a JSON file for batch test, which the "entity" column is empty, it always shows error. Can't I just use dataset without entity for batch test?

[2018-12-26 03:46] KetanChawda-MSFT commented on #21141
@SamirFarhat Checking in to see if the above post helped answer your question.

[2018-12-26 03:49] KetanChawda-MSFT commented on #21085
@aaronralls Any update on this ?

[2018-12-26 03:51] KetanChawda-MSFT commented on #21211
@AshleyT3 Checking in to see if the above post helped answer your question.

[2018-12-26 03:52] KetanChawda-MSFT commented on #21210
@AshleyT3 any update on this ?

[2018-12-26 04:39] rajiv-kp commented on #11078
@YutongTie-MSFT i'm still facing the issue. find below the error msg i received:

ConnectionError: HTTPSConnectionPool(host='westcentralus.api.cognitive.microsoft.com', port=443): Max retries exceeded with url: /vision/v2.0/ocr?language=unk&detectOrientation=true (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f213da8b198>: Failed to establish a new connecti

[2018-12-26 04:45] rajiv-kp opened #21265 "Max retries exceeded for 6000+ images"
@YutongTie-MSFT i'm still facing the issue. I'm trying to run the API on 6000+ images. I've provided a delay of 60 seconds after every 10 images, which should ideally take care of the 20 transactions per minute quota.
**Documentation:**
1. https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-print-text#prerequisites
2. https://docs.microsoft.com/en-us/azure/

[2018-12-26 04:54] CHEEKATLAPRADEEP-MSFT commented on #21143
@kazshi We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-26 04:54] #21143 closed

[2018-12-26 04:55] CHEEKATLAPRADEEP-MSFT commented on #21228
@arturek Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-26 05:06] CHEEKATLAPRADEEP-MSFT commented on #21205
@Anmolgan81 Currently, Full-text Semantic Search is not supported.
I would suggest you to vote up an idea submitted by another Azure customer.
[https://feedback.azure.com/forums/217321-sql-database/suggestions/31838617-support-semantic-search](https://feedback.azure.com/forums/217321-sql-database/suggestions/31838617-support-semantic-search)
All of the feedback you share in these forums will be mo

[2018-12-26 05:07] MarileeTurscak-MSFT commented on #21264
@JTNichols
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-26 05:09] CHEEKATLAPRADEEP-MSFT commented on #21254
@hau-mal We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-26 05:09] #21254 closed

[2018-12-26 05:10] abhijitdalavi opened #21266 "Getting below error every time while deploying the image is there any way to do it on local."
Hi, I was Getting below error every time while deploying the image is there any way to do it on local.

This is the example I tried is from [Microsoft Ml tutorial](https://docs.microsoft.com/en-in/azure/machine-learning/service/tutorial-deploy-models-with-aml)

![issue](https://user-images.githubusercontent.com/32328939/50423159-e190bb80-0877-11e9-9539-781c16982da0.JPG)

 So, what would be the pro

[2018-12-26 05:19] AshleyT3 commented on #21211
@KetanChawda-MSFT Thanks for the clarification... from what you're saying, I believe the page that mentioned extensions.csproj is not applicable to the [issue](https://github.com/MicrosoftDocs/azure-docs/issues/21210) I was experiencing ... thanks for clarifying... I think you responded to that other issue so I will focus there ... thanks again!

[2018-12-26 05:19] #21211 closed

[2018-12-26 05:22] abhijitchaudhari1 opened #21267 "Procedure on how to upgrade the python azure sdk from default installed version"
Currently I am using Python in Azure automation account to run a script against Azure API and I want to use `run_command` method of the latest  Azure python SDK to execute some shell script on Azure VMs. Bu the current installed azure-mgmt-compute version is 0.30.0rc6 which does not support it.

I tried to upload the `.whl` file of the latest python SDK. The  `azure-mgmt-compute` version got upgra

[2018-12-26 05:56] AshleyT3 commented on #21212
@PramodValavala-MSFT Thank you for the clarification!

[2018-12-26 05:56] #21212 closed

[2018-12-26 06:02] ManojReddy-MSFT commented on #21065
@Aggrobatics I have confirmation that currently it's not possible to scope for specific site/list/item in a delegated flow for Graph API. I will now proceed with the closure of this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-26 06:02] #21065 closed

[2018-12-26 06:03] ManojReddy-MSFT commented on #21107
@ewahner We have not heard from you in a while.We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2018-12-26 06:03] #21107 closed

[2018-12-26 06:09] docjay commented on #19598
I was able to complete the tutorial with the --runtime switch.

az webapp create --resource-group <group> --plan <plan> --name <name> --runtime "node|10.6"

[2018-12-26 06:14] AshokPeddakotla-MSFT commented on #21265
@rajiv-kp can you please link the document that you are referring to?

[2018-12-26 06:21] SumanthMarigowda-MSFT commented on #21030
@tyrantrook We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. 

[2018-12-26 06:21] #21030 closed

[2018-12-26 06:31] SumanthMarigowda-MSFT commented on #20736
@bendodge-xwis Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-12-26 06:33] AshleyT3 commented on #21210
@KetanChawda-MSFT Thanks... it works today. I'd updated everything you mentioned the other day, only thing I can think of is some update took sometime after, perhaps because I exited VS (i.e., maybe missed some prompt to restart VS). Either that or some auto update since which I'm unaware of. Below is the comparison if you're interested in seeing... the differences seem quite significant in terms

[2018-12-26 06:36] KetanChawda-MSFT commented on #21210
@AshleyT3 Thanks for the update. Glad to hear that you issue has been resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-26 06:36] #21210 closed

[2018-12-26 06:39] PramodValavala-MSFT commented on #21248
@egiray I believe the claim that you are referring to is by Azure App Service on Linux, which allows you to use any runtime (thereby programming language) with its support for running custom docker containers.
Here is a [doc](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image) for this, Also, support for Windows Containers has been [announced](https://azure.

[2018-12-26 06:40] rajiv-kp commented on #21265
@AshokPeddakotla-MSFT below are the 2 documents

1. https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-print-text#prerequisites

2. https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-disk

[2018-12-26 06:43] kazshi opened #21269 "Changing DWU from the portal"
In the Permission section, "Changing the data warehouse units requires the permissions described in ALTER DATABASE" (Server-level principal login (the one created by the provisioning process), or
Member of the dbmanager database role.) - does it mean that any RBACs don't have permission to change the DWU?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-12-26 06:46] SumanthMarigowda-MSFT commented on #19876
@vassallosm We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. 

[2018-12-26 06:46] #19876 closed

[2018-12-26 06:49] xiaocongfu opened #21270 "no message shown in monitoring D2C"
Hi,

With "iotedge logs tempSensor -f", message is shown:
[2018-12-26 01:48:37 : Starting Module
[12/26/2018 01:48:37.745 AM] Main()
Initializing simulated temperature sensor to send 500 messages, at an interval of 5 seconds.
To change this, set the environment variable MessageCount to the number of messages that should be sent (set it to -1 to send unlimited messages).
Using transport Amqp_Tcp_On

[2018-12-26 07:06] SamirFarhat commented on #21141
Hi,
Thanks for you reply. I make it work, but  would love seeing the template in `function core tools.`
When do you expect GA for Java please? Q1, Q2 ?

[2018-12-26 07:15] myarotskaya commented on #20988
@sffamily @AjayKumar-MSFT thank you for the reply!

It's useful to see regular expression and it would be great if you add it to documentation but what about the second part of my question: is there any chance to support UUIDs as group names on SignalR service side?

[2018-12-26 07:34] kazshi commented on #21269
Looks like SQL DB Contributor and SQL Server Contributor (has "Microsoft.Sql/servers/databases/write" actions) can change DWU. If it's true, the current structure is confusing. Please check. Thanks.

[2018-12-26 07:37] CHEEKATLAPRADEEP-MSFT commented on #21244
@dcbrown16 You cannot migrate from Azure SQL DB to Managed Instance.

To decide between Azure SQL Database Single Database, Azure SQL Database Managed Instance, and SQL Server IaaS hosted in Virtual Machine see [how to choose the right version of SQL Server in Azure cloud](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-paas-vs-sql-server-iaas).

For more details, refer “[Migrate

[2018-12-26 07:45] SumanthMarigowda-MSFT commented on #21188
@alexandair Thanks for raising this query. I have assigned the issue to the content author to review further and update the document as appropriate.

Additional information:  Also look into these https://github.com/Azure/azure-powershell/issues/7553 GitHub query

[2018-12-26 07:45] #21266 closed

[2018-12-26 07:46] abhijitdalavi commented on #21266
forgot to add dependencies...

[2018-12-26 07:48] mutanttech commented on #20724
Hi, I had been following this Article and code snippets provided here, and I had few doubts:
I can't really figure out how the SecretURI is created through this snippet:
"APPINSIGHTS_INSTRUMENTATIONKEY": "[concat('@Microsoft.KeyVault(SecretUri=', reference(variables('appInsightsKeyResourceId')).secretUriWithVersion, ')')]",

I cant really find where this appInsightsKeyResourceId is declared and wh

[2018-12-26 07:56] SubhashVasarapu-MSFT commented on #21224
@1stewart Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-26 07:56] dcbrown16 commented on #21244
Thanks @CHEEKATLAPRADEEP-MSFT.
I got another opinion internally and found that a possible workaround is to export the SQL DB to BACPAC, and it can then be imported to the Managed Instance (though currently not through the portal).
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-export
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-import

It does seem there is no

[2018-12-26 07:56] #21244 closed

[2018-12-26 08:06] dcbrown16 opened #21275 "TOC Title"
Since import is supported on Managed Instance, it might make sense to change the title of this article as it appears under Quickstarts to eliminate the reference to "single database".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b7f8-16

[2018-12-26 08:48] rajiv-kp opened #21276 "API stalls after 90 images. "Max retries exceeded""
I'm trying to run on 6000+ images. Unfortunately the code stalls after just 90 images. I've provided a delay of 60 seconds after every 10 images, which should ideally take care of the 20 transactions per minute quota.

**Documentation:**

1. https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/python-print-text#prerequisites
2. https://docs.microsoft.com/en-us/azur

[2018-12-26 08:57] jakaruna-MSFT commented on #21260
@badalk Kubernetes comes with some clusterroles and roles. We can create additional ones based on need.
[Roles ](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#role-and-clusterrole) contains rules that represent a set of permissions.
For example, we can create a role which can only list and delete the secrets. For that role, internally we will be having a rule like this.
[code]
Late

[2018-12-26 09:00] SumanthMarigowda-MSFT commented on #20854
@sirkubax Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-12-26 09:00] #20854 closed

[2018-12-26 09:07] ManojReddy-MSFT commented on #21125
@vignatov It looks like CORS is not yet supported in this scenario. Since this feature is till in preview, this might be in the pipeline.

@davidmu1 Any insights on this ?

As a workaround, you can use a Function App with CORS setup which expects the username / password and then makes the HTTP request mentioned in the doc. Since this request is made by the function app (C# / NodeJS) code, CORS won

[2018-12-26 09:08] SumanthMarigowda-MSFT commented on #20989
@isamllr Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-26 09:17] sergaz-msft commented on #21270
Hello @xiaocongfu and thank you for your feedback. See[here](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-update-iot-edge) how to update the edge runtime version and let us know if it resolved your issue?
Thank you!

[2018-12-26 09:18] AshokPeddakotla-MSFT commented on #21265
#21276

[2018-12-26 09:34] SumanthMarigowda-MSFT commented on #20801
@elproducto Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2018-12-26 09:34] #20801 closed

[2018-12-26 09:35] xiaocongfu commented on #21270
Hi Sergaz,
Thank you for your reply!
The log of edgeAgent shows it's already the latest version(1.0.5), so the problem is still why no message is shown.
Best regards

[2018-12-26 09:39] SumanthMarigowda-MSFT commented on #21010
@Absoblogginlutely Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-26 09:40] AshokPeddakotla-MSFT commented on #21214
@remware Could you share the screenshots for better understanding along with the detailed description to assist better and update the content.

[2018-12-26 09:42] neeleshray commented on #21146
Delegated Permissions come in play when user is Authenticating and requesting tokens. When a ServicePrincipal authenticates (Appid and App Secret) then we get roles in token with what you have configured in UI under app permissions.

[2018-12-26 09:48] sergaz-msft commented on #21092
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-26 09:48] #21092 closed

[2018-12-26 09:56] ramadarla commented on #20986
Thank you, Apologies for the delay. Bare with me, I am slow in understanding.
Let's say, I have created an availability set placed VM1 and VM2 in it. No VPN or ER, I will access both the vms over internet using Public IPs, both got two different public IPs.
I am running replica of VM1 website on VM2 as well. I use public IP of VM1 to access the this website over internet. Now, How I will access VM

[2018-12-26 10:06] sergaz-msft commented on #21270
Can you also confirm that you aren't under a proxy? See: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support

Also were you able to complete this quickstart successfully (that would help check if you are under a proxy or not)? https://docs.microsoft.com/en-us/azure/iot-edge/quickstart

Thank you!

[2018-12-26 10:10] CHEEKATLAPRADEEP-MSFT commented on #21269
@kazshi Only the server-level principal login (created by the provisioning process) or members of the dbmanager database role can alter a database.

What is Server-level principal login?

When you create an Azure SQL server, you must designate a Server admin login. SQL server creates that account as a login in the master database. This account connects using SQL Server authentication (user name an

[2018-12-26 10:12] xiaocongfu commented on #21270
Hi,
Yes I followed the quick start guide and had log:
$ iotedge list
NAME             STATUS           DESCRIPTION      CONFIG
SampleModule     running          Up 3 minutes     myfirstconreg.azurecr.io/samplemodule:0.0.1-amd64
edgeHub          running          Up 3 minutes     mcr.microsoft.com/azureiotedge-hub:1.0.5
edgeAgent        running          Up 3 minutes     mcr.microsoft.com/azureiotedg

[2018-12-26 10:30] AshokPeddakotla-MSFT commented on #21265
@rajiv-kp Thank you for providing the links. I see that you have created one more issue and we will now proceed to close this. Feel free to reopen if you have further questions.

[2018-12-26 10:30] #21265 closed

[2018-12-26 10:31] AshokPeddakotla-MSFT commented on #21276
@rajiv-kp Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-26 11:47] jakaruna-MSFT commented on #21139
@damienestewart You are right. The command is updated now.
Thanks for reporting.

[2018-12-26 12:10] #21139 closed

[2018-12-26 13:22] dragan-bjelosevic opened #21278 "On-premises data store credentials"
You can store credentials for on-prem data store in Azure Key Vault as well. By reading your documentation I concluded that it would be impossible. However I've tried it and it works. Please confirm and update documentation accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567118bc-05db-cb9d-d14f-faf835da048a

[2018-12-26 13:28] Eithcowich opened #21279 "Resource TestRGVM1_disk1_073ca85b70714ae29d17703cea1be6cf is not found"
I followed the first step to get a list of the disks,

    az disk list --resource-group MyResourceGroup --output table

And got the one disk in my test resource group. Then I tried creating a disk:

    az disk create --resource-group TestCloningBase --name TestCloneDisk2 --source TestRGVM1_disk1_073ca85b70714ae29d17703cea1be6cf

and

    az disk create --resource-group TestCloningBase --name Tes

[2018-12-26 13:32] hrushib commented on #20918
@starforce, can you attach your cluster manifest and the PS command/script used.

[2018-12-26 13:33] girishgouda opened #21280 "Multi conatiner app"
Can we run locally and debug app with multiple conatiners?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b3d2f14-f40d-1f84-0506-c87d7f8db59b
* Version Independent ID: a16becae-3e1f-78ed-0031-758f331e7021
* Content: [Use Draft with AKS and Azure Container Registry](https://docs.microsoft.com/en-us/azure/aks/kubernetes

[2018-12-26 13:51] Raghav2606 opened #21281 "Not complete"
This documentation is not properly explained.. its like half baked not all the necessary steps were covered. There should be an explanation on how to create the event grid subscription for this particular event driven integration and need to provide information on how to create the parameters. I was not able to get Trigger run parameters even the required parameters were created. I need a complete

[2018-12-26 13:53] mestew commented on #21111
This item is being handled offline. Docs will be updated if needed after investigation. #please-close

[2018-12-26 14:54] AaronL100 commented on #21040
Marilee, I don't think you understand the issue I raised initially.  After Microsoft's change, Restored users in Office 365 are now unmanageable.  These users are showing up as "Synched with AD", however, there is no AD account to sync with any longer.  And, you get an error if you try to delete these accounts in the cloud.  Is there a fix for this?

[2018-12-26 14:54] KetanChawda-MSFT commented on #21141
@SamirFarhat Thank you for the confirmation. General availability of Java in Azure Functions is expected to be available by first half of the calendar year 2019. We'll be posting updates regarding the announcement here - [https://github.com/Azure/app-service-announcements/issues](https://github.com/Azure/app-service-announcements/issues)

We will now proceed to close this thread. If there are furt

[2018-12-26 14:54] #21141 closed

[2018-12-26 14:55] ewahner commented on #21107
@ManojReddy-MSFT it states pretty clearly that this is not the case.
![image](https://user-images.githubusercontent.com/4119168/50449279-42f67000-08f4-11e9-809e-485462cdce24.png)

[2018-12-26 16:02] sergaz-msft commented on #21270
@xiaocongfu after you completed that quick start guide, were you able to monitor D2C messages?
Thanks.

[2018-12-26 16:05] ravikiran-srini opened #21282 "Is there a latency fo using Azure Integration runtime?"
If I am using Azure IR, will it take some time to provision the IR before the pipeline can be executed?
Or, they get executed on machines already up and running? How it works?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1a34b3c-a9b8-29ce-1eca-86f7f42981a1
* Version Independent ID: 61d6e6b3-ec54-552d-1bef-86bbcbfea8

[2018-12-26 16:10] sergaz-msft commented on #21208
Good question @bearrito . I am adding the author of this doc @stevebus to help us enhance it and address your scenario. Thanks!

[2018-12-26 16:11] zhouchong90 opened #21283 "How to flatten the array?"
In the section: Part 1: Flatten the array into individual fields
You showed the results of flattening the array. I wonder how can we flatten the array properly. Is it possible to be done on Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eabe2975-9ff9-12cb-0a19-c2857127390c
* Version Independent ID: d2fc3b74-ab0

[2018-12-26 16:13] sergaz-msft commented on #17741
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-26 16:13] #17741 closed

[2018-12-26 16:14] sergaz-msft commented on #19523
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-26 16:14] #19523 closed

[2018-12-26 16:15] bammer13 opened #21284 "Duplicate answer for seperate questions"
Appears that FAQ answers for "Can I delete my files that are stored in Video Indexer Portal?" and
" Who has access to my audio and video files and that have been indexed and/or stored by Video Indexer?" are the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98133443-0bd8-5cd2-a937-8d5c1c1f0a2c
* Version Independe

[2018-12-26 16:39] badalk commented on #21260
@jakaruna-MSFT my question was not about what is role nnd rolebinding and how it works. I am very clear about that. My questions is what are the default roles in Azure for AKS provides and how are they supposed to be used? If I enable RBAC for my AKS cluster, is AKS creating these role and role bindings for that cluster? (Azure Kubernetes Service Cluster Admin Role & Azure Kubernetes Service Clust

[2018-12-26 16:40] msLinuxNinja opened #21285 "Typo on the Installation settings"
On the installation Settings for Linux section, the -v option shows:
Mandatory. Specifies the platform on which Mobility Service is installed. VMware for Mware VMs/physical servers

Should say, VMware for VMware VMs/physical servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a76fc326-1f03-f650-efcd-808721f572de
*

[2018-12-26 16:57] tfitzmac commented on #20908
@jackbond - I just want to make sure we are talking about the same limitations. Perhaps my earlier comment did not provide enough detail. The CNAME has to be deployed to same resource group as the DNS Zone because it is a child resource of the DNS Zone. It can't exist independently of the DNS Zone, and its full resource name is built from the resource name for the DNS Zone. Here is more info about

[2018-12-26 17:32] rkellyxm opened #21287 "URL rewrite to file instead of path"
Does URL rewrite allow the path to be a specific file? When loading something like a react application, I would need the following rewrite rules:

/ -&gt; index.html
/* -&gt; index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b393c2f-c603-6287-743f-9c169673ce41
* Version Independent ID: 475325a1-e953-2723-b626-

[2018-12-26 17:46] Alberto-Vega-MSFT commented on #20769
@lasekg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-26 17:46] #20769 closed

[2018-12-26 17:56] MarileeTurscak-MSFT commented on #21267
@abhijitchaudhari1
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-26 17:59] Karishma-Tiwari-MSFT commented on #21111
@rsouthm Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-26 17:59] #21111 closed

[2018-12-26 18:00] Mike-Ubezzi-MSFT commented on #21104
@tdykstra We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion to help drive improvement of this topic in the documentation.

[2018-12-26 18:01] AsdfrGasd opened #21288 "Turn x gh"
Dgdhfg

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 144afccf-4ab9-bb34-957d-e86d3732d688
* Version Independent ID: 863b80ff-f60a-e727-dc12-0d6aba937df6
* Content: [Azure Monitor overview](https://docs.microsoft.com/en-gb/azure/azure-monitor/overview#next-steps)
* Content Source: [articles/azure-monitor/overview.md](h

[2018-12-26 18:01] #21104 closed

[2018-12-26 18:05] Mike-Ubezzi-MSFT commented on #21206
@arturek I am going to have the content author review this and update as appropriate. Thank you for bringing this to our attention.

[2018-12-26 18:10] MarileeTurscak-MSFT commented on #21040
Thanks, @abhinavcarlsberg - that is correct.

We will now proceed to close this thread. If you have further questions please post to MSDN, tag us in the comments here, and we will continue the conversation and report to the product team as appropriate. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-12-26 18:16] Mike-Ubezzi-MSFT commented on #21243
@dcbrown16 The [Change Data Capture (CDC)](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-2017) is supported with Azure SQL Database Managed Instance. I want to bring this to your attention, as it seems that you have overlooked this or are not aware that is an option. Please advise...

[2018-12-26 18:21] Mike-Ubezzi-MSFT commented on #21236
@dcbrown16 The [Change Data Capture (CDC)](https://docs.microsoft.com/en-us/sql/relational-databases/track-changes/about-change-data-capture-sql-server?view=sql-server-2017) is supported with Azure SQL Database Managed Instance. I want to bring this to your attention, as it seems that you have overlooked this or are not aware that is an option. Please advise... [Azure SQL Database Managed Instance

[2018-12-26 18:31] YutongTie-MSFT commented on #21058
@diberry Hi Dina, do you have any idea about above? Please also update the document as necessary. Thanks.

[2018-12-26 18:32] YutongTie-MSFT commented on #21226
@shuwei007 Hi, we will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-26 18:32] #21226 closed

[2018-12-26 18:32] YutongTie-MSFT commented on #21129
@diberry Thanks Dina.

@sodafatty We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-26 18:32] #21129 closed

[2018-12-26 18:35] diberry commented on #21058
@sodafatty You are correct that entities are not required for the batch test but the element must be present but just empty. Can you please provide the exact text of one of these items in the batch that has the entity column empty? I would like to verify the JSON format.

[2018-12-26 18:47] YutongTie-MSFT commented on #21166
@bbbbarryc Hi I just fixed it. You should see the update shortly. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-26 18:47] #21166 closed

[2018-12-26 18:53] YutongTie-MSFT commented on #21183
@PanosPeriorellis Hi, can you please help to make sure da-DK is supported?

@sshadmand More information of the error would be helpful. Thanks.

[2018-12-26 19:06] YutongTie-MSFT commented on #21221
@jpe316 Hi Jordan, can you please take a look? Thanks.

@AshokPeddakotla-MSFT Thanks.

[2018-12-26 19:08] YutongTie-MSFT commented on #21184
@anrothMSFT Hi, can you please take a look of this issue and update the document as necessary? Thanks a lot!

[2018-12-26 19:09] mchrislincoln commented on #21040
**I would not consider this closed at all.**  If you read what everyone is saying, WE ARE NOT TRYING TO MATCH TO A CLOUD ACCOUNT TO AN ACCOUNT IN LOCAL AD.  We want to take an account that was synced to local ad and make it "In Cloud" so there is no connection for that account to local ad and then we can manage the account in the cloud.

I don't think "Stopping Sync" is a valid solution as I read

[2018-12-26 19:11] YutongTie-MSFT commented on #21186
@aashishb Hi, can you please take a look of this feedback and update the document as necessary? Thanks a lot!

[2018-12-26 19:15] tyler-tilton commented on #21040
I am in total agreement with @mchrislincoln this issue is absolutely not resolved. As an organization that provides alumni accounts, I have to make ~600 to 1000 accounts cloud only every year typically in large batches. The old process of making these accounts cloud-only worked well. It's going to take forever now for me to to export these psts and recreate the accounts. You need to either undo th

[2018-12-26 19:37] Karishma-Tiwari-MSFT commented on #21033
@jonbeck7 @cynthn Would either of you would be able to help with this question on the speed of NC Series, NC v2 series and ND series? Thanks :)

[2018-12-26 19:41] SubhashVasarapu-MSFT commented on #21255
@nmikuni Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-26 19:41] #16230 closed

[2018-12-26 19:43] mike-urnun-msft commented on #16230
Hi @sagimanoj Apologies for delay in response. We have updated this documentation to reflect this detail as per your feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-26 19:44] Karishma-Tiwari-MSFT commented on #20996
@shawntabrizi, @bwren Brian Wren FTE, @v-alje Alma Jenks (Beyondsoft Consulting Inc) Vendor Could any of you take a look at the customer's feedback and share your insights? Thanks :)

[2018-12-26 19:58] Karishma-Tiwari-MSFT commented on #21239
@oleksandr-bilyk Can you please provide the steps you took or share the doc that you followed to create Service Fabric cluster using ARM? Thanks.

[2018-12-26 20:06] MarileeTurscak-MSFT commented on #19249
Were you able to get this resolved?

[2018-12-26 20:08] MarileeTurscak-MSFT commented on #21176
What do you mean when you say that your VPN stops working?

[2018-12-26 20:12] kgremban commented on #21214
@remware I can't recreate the UX that you're describing. When you right-click on an IoT Edge device, you can select "Create deployment for single device" then use the file explorer to choose the JSON deployment manifest. When I right-click on a JSON deployment manifest file, I do not get an option to deploy that manifest to any device. However, when I right-click on a JSON deployment _template_ I

[2018-12-26 20:13] redamaleki commented on #21176
Our VPN requires that the Radius Target be configured to use Windows Domain and not a RADIUS server.  This causes a conflict with what your guide specifies as required Remote Desktop Gateway.  When I change my RADIUS target on the specified tab, it sets that target for all the RADIUS clients, not just for the RD Gateway RADIUS Client.

[2018-12-26 20:14] YutongTie-MSFT commented on #21192
@nithinab1 Thanks for your feedback, I have assigned to the author to update the document properly.

@garyericson Hi Gary, can you please check this issue and update the document as necessary? Thanks a lot.

[2018-12-26 20:21] CeciAc opened #21290 "content untranslated"
@v-radelg commented on [Wed Dec 26 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1431)

Select the version of Data Factory service you are using:

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ab1bddf8-6515-3979-ffde-0bab66caa817
* Version Independent ID: c1f105f2-3faa-3aca-7365-02ffeaae6d0a
* Content: [Azure Data Factory のパイプラインとアクテ

[2018-12-26 20:21] MarileeTurscak-MSFT commented on #21232
Text message and verification codes are not supported at this time. The code for RDP was written in the early 1990s and has not been updated to support two-way text message authentication. The supported methods are cell phone number, landline number, and an application on a mobile device.

If you still have these errors when using the supported authentication methods, please check the steps in the

[2018-12-26 20:21] MarileeTurscak-MSFT commented on #21232
We will now proceed to close this thread. If you have further questions feel free to tag me in the comments and I will gladly continue the discussion.

[2018-12-26 20:21] #21232 closed

[2018-12-26 21:06] oleksandr-bilyk commented on #21239
@Karishma-Tiwari-MSFT
I think it is problem related only to "apiVersion": "2018-02-01",
{
      "type": "Microsoft.ServiceFabric/clusters",
      "name": "[parameters('clusterName')]",
      "apiVersion": "2018-02-01",
3 ports from
properties->nodeTypes
1. clusterconnectionendpointport,
2. leasedriverendpointport
3. serviceconnectionendpointport
ports were in many samples of older resource provide

[2018-12-26 21:13] tjohnson1010 opened #21291 "Results didn't match when using Batch Size"
When following this "walk-through" I stumbled on the Batch Size setting.  In Step 3 you show an image with 100 (assuming it for 100 MB), but under Step four you state to set it to "10 MB".  I set it to 10, and I was receiving the messages as fast as I was sending them and they weren't batched.  Is this setting in bytes or is there a bug?  Do I need to set it to 10MB for 10 MB or 10000 or am i supp

[2018-12-26 21:13] iamkoch commented on #19249
I am off work on holiday at the moment. I'll be able to look in the new
year

On Wed, 26 Dec 2018, 20:06 Marilee Turscak - MSFT, <notifications@github.com>
wrote:

--
Antony Koch
e: ant@iamkoch.com
w: http://iamkoch.com
w: http://amko.info

[2018-12-26 21:44] davidmu1 commented on #21051
The intention of this article is to provide conceptual information about the types of applications that are supported (or not supported) by B2C. The article specifically states: " Although client credential flow is not currently supported by Azure AD B2C, you can set up client credential flow using Azure AD." The flow isn't supported by B2C.

If you are having issues with setting up the flow in AD

[2018-12-26 21:47] Mike-Ubezzi-MSFT commented on #21236
@weitzhandler Although not totally incorrect, the `Applies To:` can be misleading when dealing with functionality between Single/Elastic Pools and Managed Instance. The following: [SQL Server feature support in Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-features#sql-server-feature-support-in-azure-sql-database) has a more clear distinction.

![screenshot 1

[2018-12-26 21:55] #21236 closed

[2018-12-26 22:00] davidmu1 commented on #18824
I believe Yoel answered the question about whether the token is different or not. There does not seem to be a specific change to the article.

#please-close

[2018-12-26 22:11] davidmu1 commented on #20536
@agrabhi: I don't think we will be documenting the built-in attribute claims in this article, but you can easily find them by looking in the Azure portal. In your B2C tenant,  select **User attributes**. The page includes all of the built-in attributes (as defined in the ATTRIBUTE TYPE column) that are used in B2C. This same list appears when you create a user flow and select attributes for applic

[2018-12-26 22:31] jason-j-MSFT commented on #21283
@zhouchong90
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-26 22:31] timaschew opened #21293 "[META] How do you ensure to keep docs in sync with the code?"
Hi, I'm really impressed by the docs which you provide across most products on the microsoft website.
I've seen that you even developed an own tool for it (docfx). 👍

I wonder how you manage to keep the code and the documentation in sync (avoid to publish docs for version x and code for version y). Even if you are not doing CI/CD. I guess have something which do some kind of validation or do you u

[2018-12-26 22:32] jason-j-MSFT commented on #21284
@bammer13
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-26 22:33] chrischip opened #21294 "Cannot create web app without providing a runtime or prebuild container name"
While trying to just use custom container image from a private docker registry, I tried to just create webapp with this:
az webapp create -n &lt;AppName&gt; -g &lt;ResourceGroup&gt; -p &lt;PLAN&gt;

I got an error:

usage error: --runtime | --deployment-container-image-name | --multicontainer-config-type TYPE --multicontainer-config-file FILE

I have to use hello-world to create an webapp first be

[2018-12-26 22:33] cgillum commented on #21155
I don't know if this was widely announced, but I do know that the limit in the Consumption plan was increased from 300 to 600 recently. The Kudu sandbox wiki will need to be updated to reflect the new value for the Consumption tier. I believe Free and Shared tiers still have the 300 limit.

[2018-12-26 22:34] JeffSmithAshley opened #21295 "Unable to create the replication Policy"
When I try to create the replication policy with no app constancy I receive the following error:

ERROR ID15040
ERROR MESSAGEReplication policy creation failed.
POSSIBLE CAUSESThe app consistent snapshot frequency can't be less than 60 minutes.
RECOMMENDATIONEnsure that the app consistent snapshot frequency is greater than or equal to 60 minutes and retry the operation.

Please help...

---
#### D

[2018-12-26 22:38] jason-j-MSFT commented on #21285
@msLinuxNinja
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-26 22:41] jason-j-MSFT commented on #21287
@rkellyxm
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-26 22:43] jason-j-MSFT commented on #21288
@AsdfrGasd could you provide clear information on the issue you are seeing?

[2018-12-26 23:01] Alberto-Vega-MSFT commented on #21180
@prasannapad Thanks for your valuable feedback. I followed the tutorial and  it looks like the container module name changed from tempSensor to SimulatedTemperatureSensor and broke it. We need to update the name and the screenshots where the module name shows I have assigned the issue to the content author @kgremban to evaluate and update as appropriate.

[2018-12-26 23:04] rccnw opened #21296 "Application Insight Search Window"
When I performed the step to open the 'Application Insight Search' window,  my experience was different than this article. I was presented with a button to 'Select an Application Insights Resource'.   Note that I have not yet created any Azure resources, as that was not indicated yet at this step.  I clicked on that button and got some kind of search form, not mentioned in this article.   Totally

[2018-12-26 23:07] davidmu1 commented on #18506
This article is mostly a duplicate of the web app tutorial. Both this article and the tutorial point to the same sample. The code snippets are out of date, it's also known that the sample needs to be updated. For now I am removing this article from the documentation set and redirecting traffic to the tutorial. In the near future, we will be reworking the tutorial to provide more up to date code sn

[2018-12-26 23:09] davidmu1 commented on #18327
@yoelhor: Is there anything that needs to be changed in the article?

[2018-12-26 23:09] DanielBirmingham opened #21297 "Documentation Correction"
The following statement under the "User roles and signing in" heading is not longer accurate:

"For example, to manage configuration settings for Azure AD, a user must be both a Global Administrator in Azure AD and an Owner on an Azure subscription."

Azure AD configuration can be managed without needing to be an Owner on any Azure subscription.

---
#### Document Details

⚠ *Do not edit this sect

[2018-12-26 23:10] davidmu1 commented on #18158
@yoelhor: Can you provide any input on whether an article change is required here?

[2018-12-26 23:12] Alberto-Vega-MSFT commented on #21180
@kgremban Thanks I went over the tutorial earlier today and I also noticed that there is another ocurrence of the tempSensor name on the section[ View Generated Data ](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux#view-generated-data)

[2018-12-26 23:12] MarileeTurscak-MSFT commented on #19249
Thanks, @iamkoch . Feel free to ask the question on MSDN and we will respond there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-12-26 23:12] #19249 closed

[2018-12-26 23:20] aljo-microsoft commented on #20918
@starforce @hrushib @MicahMcKittrick-MSFT

Mutual Authentication.

"
Any number of additional certificates can be specified for admin or user client operations. The client can use this certificate when mutual authentication is required.
"

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security

So use Connect-ServiceFabricCluster or SFCTL:

https://docs.microsoft.com

[2018-12-26 23:30] erhopf commented on #21174
#please-close
Issue is addressed in PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/61757. Please note: this change will not be published until 1/2/2019.

Thx!

[2018-12-26 23:31] YutongTie-MSFT commented on #21174
@erhopf Thanks.

@IGx89 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-12-26 23:31] #21174 closed

[2018-12-26 23:41] YutongTie-MSFT commented on #21238
@alch-msft Hi Alvin, can you please take a look of this issue and make sure if there any update of this API? Thanks a lot.

[2018-12-26 23:49] SaurabhSharma-MSFT commented on #21089
@xencon We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-26 23:49] #21089 closed

[2018-12-26 23:49] SaurabhSharma-MSFT commented on #21066
@lonevvolf We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-26 23:49] #21066 closed

[2018-12-26 23:53] MarileeTurscak-MSFT commented on #21176
Hi @redamaleki , we are moving away from these sorts of questions on the doc comments. Please move this to MSDN and we will continue there.

[2018-12-26 23:53] MarileeTurscak-MSFT commented on #21176
Hi @redamaleki , we are moving away from these sorts of product questions in the doc comments. Please move this to MSDN and we will continue there. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

[2018-12-26 23:53] #21176 closed

[2018-12-26 23:59] YutongTie-MSFT commented on #21201
@GKarmakar Thanks for the feedback! This code is for Python 2.7, I have assigned the issue to the content author to add sample for 3.x and update the document as appropriate

@diberry Hi Dina, can we add 3.x code as well, since there is a slight difference. Thanks a lot!

[2018-12-27 00:02] YutongTie-MSFT commented on #21220
@sawravchy Can you please provide more information of this error, it will help us to investigate it. Thanks.

[2018-12-27 00:05] femsulu commented on #21172
Here are [the steps ](https://docs.microsoft.com/en-us/azure/azure-supportability/how-to-create-azure-support-request) to create a support ticket. once submitted, please send mail to AzCommunity@microsoft.com with the ticket ID so we can track from our end.

[2018-12-27 00:08] diberry commented on #21201
@GKarmakar Thank you for reporting this issue. #in-progress

[2018-12-27 00:09] femsulu commented on #21172
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-27 00:09] #21172 closed

[2018-12-27 00:12] YutongTie-MSFT commented on #21240
@PatrickFarley Hi, can you please check this doc feedback and update the document as necessary? Thanks a lot!

[2018-12-27 00:14] starforce commented on #20918
I am the owner of my AZURE portal and I set myself up as the administrator of my service fabric cluster. I have all security rights and privileges to do anything in my portal. The fact that I can upload code to the service fabric cluster and have the ability to use service fabric Explorer shows that I have admin rights. When I connect to the service fabric cluster I use the email account associate

[2018-12-27 00:19] starforce commented on #20918
@hrushib

Do you still want my cluster manifest and script?

[2018-12-27 00:35] Grace-MacJones-MSFT commented on #21294
Hi @chrischip, thanks for the feedback! We are currently investigating and will update you shorty.

[2018-12-27 00:41] mike-urnun-msft commented on #21291
Hi @tjohnson1010 Thank you for your feedback! We will review and update as appropriate.

[2018-12-27 00:48] MarileeTurscak-MSFT commented on #21176
In my lab my RADIUS server is part of a Windows Domain. I suggest that you open a [technical support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) so that someone can look into your environment and better assist you in troubleshooting this issue.

[2018-12-27 00:48] markgossa commented on #21155
@cgillum - That's great. Thanks for taking a look. I'll create PRs for the docs.microsoft.com article and the Kudu sandbox wiki to reflect the new limit for the consumption tier.

[2018-12-27 01:14] kobulloc-MSFT commented on #21296
@rccnw Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-12-27 01:20] #20190 closed

[2018-12-27 02:33] xiaocongfu commented on #21270
Still no message at all...
I don't know how to insert picture here...
In Portal -> Iot Hub Usage, I can see "message 39/400000 Daily". There is message in "Device twin operations", but no message in "Device to cloud messages".

[2018-12-27 02:36] rajiv-kp commented on #21276
@AshokPeddakotla-MSFT getting a key error as follows:

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-5-a008c99770d4> in <module>
      8     print(r'Processing %d %s' %(counter, image))
      9
---> 10     word_infos = extract_text(image)
     11
     12     filename = image.spl

[2018-12-27 02:55] sodafatty commented on #21058
hi, dina
here is a test JSON format file I used in LUIS batch test. Every time I
upload the file, this error happens

Thanks

Dina Berry <notifications@github.com> 于2018年12月27日周四 上午2:35写道：

--

郑晓 ｜ Echo

BotHub｜Product Manager

E: zhengxiao@bothub.ai <jenny.qian@bothub.ai>
M: +86 173 1749 5719

www.bothub.ai

[2018-12-27 02:56] sodafatty commented on #21058
hi, Dina
here is a test JSON format file I used in LUIS batch test. Every time I upload the file, this error happens

[luis-test-3.json.zip](https://github.com/MicrosoftDocs/azure-docs/files/2711285/luis-test-3.json.zip)

[2018-12-27 04:08] AshokPeddakotla-MSFT commented on #20883
@mrrandall40 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-27 04:08] #20883 closed

[2018-12-27 04:49] sawravchy commented on #21220
When I run this code in Visual Studio and uploading image  system said that operation returned an invalid status code 'Not found' .

[2018-12-27 04:51] raghavan20 opened #21302 "Test developed module locally"
Say I have developed a custom PHP module and my development environment is in Mac. Is there a way I can run limited containers such as edgeHub so that I can test my module while working from an IDE like PyCharm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a3f2f86-40bf-19f2-4f56-9dc71ed47fa2
* Version Independent ID

[2018-12-27 04:58] PramodValavala-MSFT commented on #21155
@cgillum Thanks for the insight!

@markgossa Thanks for offering to update the doc for this!

Since there seems to be different limits based on the plan, I will assign this issue to the content author to review and update accordingly.

[2018-12-27 04:59] KeiroKamioka0000 opened #21303 "Please fix link for "Azure Trust Center""
The "Azure Trust Center" Link in following URL seems not working.
Please check if possible please.

https://docs.microsoft.com/en-us/azure/postgresql/overview#secure-your-data

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e30e735-75da-4043-c515-909f97a1bbba
* Version Independent ID: 471da130-86c5-aa29-f212-dd700edec9

[2018-12-27 05:00] PramodValavala-MSFT commented on #20976
@helloguo Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-27 05:00] #20976 closed

[2018-12-27 05:00] PramodValavala-MSFT commented on #21042
@rizwaans Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-27 05:00] #21042 closed

[2018-12-27 05:30] ManojReddy-MSFT commented on #21107
@ewahner  You can have multiple reply URL's from different domains in Azure AD applications. For an application registered in B2C portal, you can have multiple reply URL's from the same domain.

So you are correct , in your scenario (B2C application) you cannot switch it directly and would have to replace the old one with the new URL you need.

The switch is quite seamless and immediate from Azure

[2018-12-27 05:35] aljo-microsoft commented on #20918
@starforce and @hrushib

Below is an example where I use "Invoke-WebRequest" powershell commandlet, to invoke SF Client Rest  API to check a party cluster's health:

Invoke-WebRequest -Uri "https://win243sz02cp8s.westus.cloudapp.azure.com:19080/`$/GetClusterHealth?api-version=6.0" -Headers @{"Cache-Control"="max-age=0"; "Upgrade-Insecure-Requests"="1"; "User-Agent"="Mozilla/5.0 (Windows NT 10.0; W

[2018-12-27 06:17] CHEEKATLAPRADEEP-MSFT commented on #21303
@KeiroKamioka0000 Thank you for reporting this issue. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-27 06:30] SaurabhSharma-MSFT commented on #21198
@SalimGangji Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-27 06:43] abhinavcarlsberg commented on #21040
@mchrislincoln @tyler-tilton - as of the latest update from microsoft they dont have an update for single object SOA change feature but the can only change SOA for the whole tenant.
Since i am also waiting for single object change feature to roll out will update the info as soon as i get it.

P.S - I am not representing microsoft here but its the fact that they have not yet roll out or may be deve

[2018-12-27 06:47] abhinavcarlsberg commented on #21040
@mchrislincoln @tyler-tilton you guys can try this in the mean while for one user it worked for me and successfully converted user into 'Incloud'.
Let me know if it works for you guys -
This requires either Global Admin or Contributor from RBAC settings to be able to access this feature.
From the Azure portal, we will be able to go through a few steps to identify specific repairable scenarios:
1.

[2018-12-27 07:44] markgossa commented on #21155
@PramodValavala-MSFT I'm happy to help but will leave these updates to you guys as your request and will be on the look out for another way to help out.

[2018-12-27 07:49] hrushib commented on #20918
@starforce, yes I want to have look at cluster manifest and the command you are using. Please share your cluster manifest and the command so as to have meaningful discussion.

@aljo-Microsoft, at the moment, there is no explicit PS cmdlets for Backup Restore APIs, those are only available as REST APIs. So the links shared by you above won't be useful in this context.

[2018-12-27 07:54] XiaoningLiu commented on #19456
Vote for this! Azure Pipeline host IP ranges https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=vsts&tabs=yaml#agent-ip-ranges

[2018-12-27 08:23] arsing opened #21305 "Device twin GET response example is wrong"
This document says:

This is wrong, because the GET response does not contain the full device twin. The correct example should be:

[code]

The wording "The following snippet shows the body of the identity registry entry limited to the properties member" should also be changed, since it implies that the real response contains the full device twin whereas this example response has been truncated to

[2018-12-27 08:29] arsing opened #21306 "MQTT-over-WebSockets needs to explain how to set up the WS connection"
Just like the document explains how to set up a raw MQTT connection when not using one of the Azure SDKs, it also needs to explain how to set up the MQTT-over-WebSockets connection when not using the SDKs. Specifically these two pieces of information are missing:

1. The path of the URL of the request must be `/$iothub/websocket`.

1. The request must contain the `sec-websocket-protocol` header wi

[2018-12-27 08:42] xiaocongfu commented on #21270
Hi Sergaz,
It turned out to be network problem. I switched my IoT edge device Internet connection to an open wifi, and I status of modules in VS code became green(running), and D2C messages started to show.
Sorry for the inconvenience caused and thank you for your time!
BR,
XC

[2018-12-27 08:47] neeleshray commented on #21297
@DanielBirmingham  Thank you reaching out. We are investigating this and would update soon.

[2018-12-27 08:51] imeya opened #21307 "Always "update failed" when update a value in Diagnostics settings blade."
Go to the "Diagnostic settings" blade -&gt; Performance counters -&gt; basic, I want to set the Network's sample rate to 80(it is 60 by default):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b4784
* Version Independent ID: 4c30cc9b-fa80-b174-8cdb-c615286cdcc5
* Content: [FAQ about Windo

[2018-12-27 08:54] Get-Github commented on #16573
1. unknown characters get added to the runbook after sync from the source control when the PowerShell source file is not ASCII encoded.
2. As of today, the source control works only for RunBooks but not capable to handle the module files (.psm1 or .psd1)

[2018-12-27 09:19] xarly opened #21308 "$appgw1"
Where is used $appgw1?

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.com ➟ Vinculación de problema de GitHub.*

* ID: 4a4bd931-ba29-d16b-6f08-fc21f3d281ce
* Version Independent ID: 25a8ef46-66b5-da34-2329-1be12ccfd720
* Content: [Rewrite HTTP headers in an existing Azure Application Gateway](https://docs.microsoft.com/es-es/azure/application-gateway/ad

[2018-12-27 09:36] sergaz-msft commented on #21270
Glad you are unblocked now :)! Please reach out to us when you need help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-27 09:36] #21270 closed

[2018-12-27 09:42] fengatgithub opened #21310 "Cusotmer will meet issue when deploy 1.1.30.0"
when customer deploy SQL RP 1.1.30.0 to AzS 1.1809.6.102 or 1.1809.3.96,
they will met issue at the end of the deployment. this is common.
Can not execute [Test-ResourceProviderEndpoint] command at 2 time(s). Will retry. The error: System.Management.Automation.RuntimeException: Microsoft.SQLAdapter.Admin endpoint is not responsive

resolution is , force use Tls12 before the deployment .
[net.Servi

[2018-12-27 09:45] xarly opened #21311 "** clarification"
What means ** of RequestHeaderConfiguration**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c2406a-388c-2f5d-502a-a37fe0753329
* Version Independent ID: c89cf63c-8764-c0ba-97d3-eaae3e686adb
* Content: [Rewrite HTTP headers in Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/tuto

[2018-12-27 09:51] SubhashVasarapu-MSFT commented on #21230
@nerddtvg Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-27 09:56] AshokPeddakotla-MSFT commented on #21266
@abhijitdalavi Glad to hear that your issue is resolved.

[2018-12-27 10:03] guru-bala commented on #20750
Looks like the file path is incorrect "file_path = os.path.join(os.getcwd(), "dflows.dprep")", it should instead be file_path = os.path.join(os.getcwd(), "dflows"), without the dprep.

[2018-12-27 10:05] sergaz-msft commented on #21302
Hi @raghavan20 you can try using [Azure IoT Edge Dev Tool](https://github.com/Azure/iotedgedev) for your scenario.

Thanks for your question.

[2018-12-27 10:14] sergaz-msft commented on #21305
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-27 10:16] zhiliangxu opened #21312 "Table columns are screwed up"
The 3rd row from the bottom in table "the main characteristics of SQL Database and SQL Server on Azure VMs" has columns screwed up.

"to increase business continuity. For more information, see SQL Database business continuity overview." should be the 2nd column, so on and so forth.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-12-27 10:17] sergaz-msft commented on #21306
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-27 10:34] CHEEKATLAPRADEEP-MSFT commented on #21269
@kazshi  Yes, you are correct. SQL DB Contributor and SQL Server Contributor can change DWU.
As you said, above permissions are applicable to T-SQL.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-27 10:37] CHEEKATLAPRADEEP-MSFT commented on #21205
@Anmolgan81 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2018-12-27 10:37] #21205 closed

[2018-12-27 10:44] CHEEKATLAPRADEEP-MSFT commented on #21312
@zhiliangxu Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

@CarlRabeler Could you please update as appropriate.

![image](https://user-images.githubusercontent.com/44426401/50477468-80d9be00-09f2-11e9-97f6-6601fec2d0dd.png)

[2018-12-27 10:45] franciscorenault commented on #21232
all this link I saw before , please I googled and didnt find any answer , Someone really had this issue before , I need hell on this issue

[2018-12-27 10:47] rayne-wiselman commented on #14476
This is fixed.
fix will go live Jan 2
#please-close

[2018-12-27 10:52] franciscorenault commented on #21232
all these links I saw before , please... I googled and didnt find any answer , Someone really had this issue before ? , I need help on this issue

[2018-12-27 11:04] AshokPeddakotla-MSFT commented on #21290
@CeciAc Sure. Do let us know if you need any further assistance regarding this issue.

[2018-12-27 11:05] abhijitkakade914 opened #21313 "Do we need to Initialize data disk before enabling encryption ?"
Team, I have enabled encryption on (Windows VM) OS disk. it's working but when I add new data disk in same VM and execute same ARM template / Powershell command it's not enabling encryption on newly added Data disk. Do we need to Initialize this newly added Data disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c60

[2018-12-27 11:17] sha1992 opened #21314 "Facing issue while using this c# sample code"
I have tried using sample code for speech to text using files. But getting Internal Error deatils:11001 please check network connection. I have windows 7 and VS 2017. When i tried same with restapi and postman its working but through code i am getting this error. Can you assist me what can possible issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-12-27 11:20] basbroers commented on #19714
I have the same thing, I have no permission to create reference data

[2018-12-27 11:39] SadiqhAhmed-MSFT commented on #21295
@JeffSmithAshley, thanks for reaching out to us! Please follow the steps below to troubleshoot this issue.
Un-register the server, if your server is registered with recovery services vault, here is the path to un-register: Home>Recovery Services vaults>Select the recovery services vault>Site Recovery Infrastructure>Servers
Uninstall the Azure Site Recovery provider and MARS agent. Download the new

[2018-12-27 11:42] snaveekumar opened #21315 "Dial tcp i/o timeout while install helm ingress controller or list its releases"
Kubernetes cluster is created and while trying to install ingress-controller (nginx-ingress) using helm
"helm install stable/nginx-ingress --namespace kube-system --set rbac.create=false"

 or trying to list the release,
"helm list"

getting the following error,

"Error: Get https://XXXXXXX.hcp.westeurope.azmk8s.io:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%!D(MISSING)TILLER:

[2018-12-27 12:15] AjayKumar-MSFT commented on #20988
@myarotskaya, Thank you for responding back. In regards to the second part, we are checking on this and will get back to you soon.

[2018-12-27 12:40] jakaruna-MSFT commented on #21280
@girishgouda I went through some of the draft examples. All of them speaks about deploying one container only. Lets get some help.
@michelleN Saw your contribution to draft. I think you can help us with this question :-).

[2018-12-27 12:45] ManojReddy-MSFT commented on #21313
@abhijitkakade914 Thanks for reporting this. We are looking into this and will provide an update shortly.

[2018-12-27 13:30] waynemsft opened #21316 "Detail information about how the New/Preview VNet Integration works"
Hi,

the new/preview VNet integration features is awesome!
is it possible to include detail information about how the new/preview VNet integration works?
especially about the security concerns?
for example, how to ensure other web app in the same tenant cannot access private resources on my vnet?
thank you for your help.

Cheers,
Wayne

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-12-27 13:32] eschwartz opened #21317 "Can you output multiple CosmosDB documents with Javascript?"
I see examples for [creating multiple documents using C# or F# here](https://docs.microsoft.com/en-us/sandbox/functions-recipes/cosmos-db?tabs=csharp#save-multiple-documents-to-a-collection), but I do not see an example for Javascript.  Is this possible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa5bcb79-2af8-3b0e

[2018-12-27 13:38] AaronL100 commented on #21040
@abhinavcarlsberg I did some testing in my environment.  First, I cannot remove synching for our entire tenant, so that's not an option.  I did try to recreate the AD account to "soft-synch" with Office 365, then change the UPN to a different suffix.  That did not work.  The Office 365 account was still "synched with AD".

This is a Microsoft bug that needs to be fixed on their end.

[2018-12-27 13:40] girishgouda opened #21318 "Getting :"Insufficient privileges to complete the operation"(Authorization_RequestDenied) when using graphtoken locally"
Following is the code to run the function locally in visual studio

public static async Task&lt;IActionResult&gt; Run(
           [HttpTrigger(AuthorizationLevel.Anonymous, "get", "post", Route = null)]HttpRequest req, [Token(Identity = TokenIdentityMode.ClientCredentials, Resource = "https://graph.microsoft.com")]string graphToken,
            ILogger log)
{
            log.LogInformation("C# HTT

[2018-12-27 13:41] eschwartz commented on #21317
I did just try this out:

[code]

And it does work. It would be nice to see documentation for this here.

[2018-12-27 13:56] J-E-C opened #21319 "Source SQL User needs to be sysadmin"
It seems CONTROL_SERVER permissions are not enough for the credentials on the source server. DMS returns this in an error at the "Migration source detail" step:
"Provided credentials for server 'yoursourceserver' have insufficient server-level permissions to run a continuous migration. The credentials must be a member of the sysadmin server role."

---
#### Document Details

⚠ *Do not edit this se

[2018-12-27 14:17] martinlarosa commented on #21051
Thank you very much for looking into this.
I don't understand if now that I need this then I can't use B2C anymore, or if I can combine both ADs?
Or maybe what I have to do is separate the API from the SPA app service.... and authenticate the SPA using B2C and the API using AD?

[2018-12-27 14:32] ewahner commented on #21107
@ManojReddy-MSFT I kind of figured that this is how it would have to work.  This will be quite disruptive if any of my users are attempting to use the system while the urls have been switched.  I wish MS had a better solution so I could slowly migrate users from one URL to another.

[2018-12-27 14:46] CeciAc opened #21320 "Describe JWT processing"
@cveld commented on [Thu Dec 27 2018](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/121)

Suggestion: it would be insightful if you describe how the JWT processing works:
1. Client-side javascript calls the negotiate end-point on the local SignalR webapi
2. This negotion endpoints detects if the user is authenticated through registered ASP.NET Core authentication middleware (please add

[2018-12-27 14:47] CeciAc commented on #21320
Hi team,
please check the contributor's suggestion
kind regards

[2018-12-27 14:50] SubhashVasarapu-MSFT commented on #21242
@KeiroKamioka0000 Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-27 14:59] andrewliang opened #21321 "UseOpenIdConnectAuthentication() is obselete"
This method is now obsolete: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.builder.openidconnectappbuilderextensions.useopenidconnectauthentication?view=aspnetcore-2.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 906907ec-cbe2-59b1-a84e-ce1b1343756f
* Version Independent ID: f498962c-f738-ccd8-a619

[2018-12-27 15:07] SubhashVasarapu-MSFT commented on #21311
@xarly Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-27 15:12] SubhashVasarapu-MSFT commented on #21308
@xarly Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-27 15:12] wacsintegra opened #21322 "First step is error'ing and needs to be updated or add additional clarification to the process"
$response = Invoke-WebRequest -Uri 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fvault.azure.net' -Method GET -Headers @{Metadata="true"}

*RETURN:*
Invoke-WebRequest : {"error":"invalid_request","error_description":"Identity not found"}
At line:1 char:13
+ $response = Invoke-WebRequest -Uri 'http://169.254.169.254/metadata/i ...
+

[2018-12-27 15:14] trinadhkotturu commented on #20846
Yes, though the blade is shown from individual vault, settings will apply at a subscription level.

[2018-12-27 15:32] mbnshtck commented on #21257
Hi,
Databricks is based on old version of Ipython. Current implementation of Kqlmagic is not working in Databricks. It might work in a future version.

[2018-12-27 15:43] wacsintegra opened #21324 "Remove notes about LINUX!!"
"The above code shows you how to do operations with Azure Key Vault in an Azure Linux Virtual Machine."

You literally copied without removing the small details THAT MATTER!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffad04ad-5d9e-56de-c688-f0c6dd9de549
* Version Independent ID: 8f370b3c-3c2f-5493-1041-be919bb73e58

[2018-12-27 16:02] jeffgilb commented on #21310
This issue is already documented in the release notes: https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-sql-resource-provider-11300#known-issues

[2018-12-27 16:02] jeffgilb commented on #21310
#please-close

[2018-12-27 16:12] adityababu02 opened #21325 "Error while configuring the secured service fabric standalone cluster with self signed certificate"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

I am configuring service fabric cluster on AWS for a project. We have been using the Microsoft AD. exported the certificates and installed on the thre

[2018-12-27 16:28] Weasnerb opened #21326 "JIRA SAML SSO Button Placement"
I have integrated SSO with Azure on Jira by following your guide here: https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/jiramicrosoft-tutorial however, I was wondering if it is at all possible for there to be a button placement option.

I would love it if we had the option for the "Login with Azure AD" button to be below the regular login form. The reason I request this is that th

[2018-12-27 16:31] ntachandley opened #21327 "vCore options have changed"
Azure SQL ePool vCore is now offered incrementally by 1x [1-10] on the GP tier. Please update documentation to reflect resource limits for these options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece92a7d-3250-d109-97e9-20a731dc4b20
* Version Independent ID: 29a97076-fc64-0ae9-4574-de1aeda237d8
* Content: [Azure S

[2018-12-27 16:36] aljo-microsoft commented on #20918
@hrushib
I'm a PgM in SF and All of Azure Container Platform Product Group.

The user stated his problem with using "Invoke-WebRequest" against SF Runtime API using the "-certificateThumbprint" parameter.

I've posted the publicly reproducible success of using that command and parameter, against a publicly accessible party cluster runtime API yesterday, so the user simply needs to format his rest

[2018-12-27 16:46] CHDAFNI-MSFT commented on #18596
ping @vinynigam

[2018-12-27 16:50] #21310 closed

[2018-12-27 16:56] #14476 closed

[2018-12-27 16:56] #18506 closed

[2018-12-27 16:57] #18824 closed

[2018-12-27 16:57] #19975 closed

[2018-12-27 16:58] #20536 closed

[2018-12-27 17:01] starforce commented on #20918
@hrushib is there an email address that i can send the manifest and PowerShell scripts  to you? I don't want to publish my production Manifest for everyone to see.

[2018-12-27 17:08] Mike-Ubezzi-MSFT commented on #21317
@eschwartz Thank you so much for taking the time to detail this working example. I am going to assign this to the content author to evaluate and update as appropriate.

[2018-12-27 17:40] MarileeTurscak-MSFT commented on #21293
@timaschew
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-27 17:56] YutongTie-MSFT commented on #21314
@sha1992 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-27 17:58] MarileeTurscak-MSFT commented on #21321
@andrewliang you're right. It looks like it needs to be configured with AddAuthentication().AddOpenIdConnect

I have assigned this issue to the content author, @davidmu1 , to update the document.

[2018-12-27 18:10] mike-urnun-msft commented on #21318
Hi @girishgouda Thank you for your feedback! We will review and update as appropriate.

[2018-12-27 18:19] SaurabhSharma-MSFT commented on #21324
@wacsintegra Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-27 18:20] SaurabhSharma-MSFT commented on #21322
@wacsintegra Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-27 18:20] MarileeTurscak-MSFT commented on #21326
@Weasnerb
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-27 18:35] YutongTie-MSFT commented on #21209
@mx-iao Hi, do you have any idea about this issue? Thanks.

[2018-12-27 18:47] Mike-Ubezzi-MSFT commented on #21319
@J-E-C Thank you very much for bringing this detail to our attention. We are investigating this and will update the docs and/or raise this as a product bug as appropriate.

[2018-12-27 18:47] GKarmakar commented on #7325
@YutongTie-MSFT There is a problem loading images as seen below. It says "bad request" although keys are correct.
(azmlenv) Trinas-Air:~ trinakarmakar$ python sampleCustomCVision.py
Creating project...
3f67dfe9-bc7d-49c8-8ca0-2b3a3b2cc39f
Adding images...
Traceback (most recent call last):
  File "sampleCustomCVision.py", line 26, in <module>
    trainer.create_images_from_urls(project.id, [ Image

[2018-12-27 18:49] SaurabhSharma-MSFT commented on #21234
@StizzyRaxx You can try using the optional parameter "-Skip" associated with "Select-Object" cmdlet.  Please refer to [Select-Object Optional Parameters](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/select-object?view=powershell-6#optional-parameters).  Also, you can refer to [blog](https://blog.tyang.org/2017/04/25/programmatically-performing-oms-log-search-agai

[2018-12-27 18:49] YutongTie-MSFT commented on #21220
@sawravchy Hi I can reproduce the code and it works for me well. So this is not a doc-issue. I would suggest you to post your product question to MSDN forum for deeper help. https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureCognitiveService

May I ask which step you had the error? "Try the App" or "Detect the face"?

[2018-12-27 18:49] Mike-Ubezzi-MSFT commented on #21327
@ntachandley Thank you for providing this detail. This has been assigned to the content author to evaluate and update as appropriate.

[2018-12-27 18:51] Mike-Ubezzi-MSFT commented on #21327
@CarlRabeler Making you aware of this issue to determine correct assignee.

[2018-12-27 19:02] starforce commented on #20918
Just sent Script and Manifest

[2018-12-27 19:03] SaurabhSharma-MSFT commented on #21249
@juntakata Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-27 19:05] kobulloc-MSFT commented on #21296
@rccnw Sorry for the confusion!  After creating your ASP.NET Core project and going to the "Application Insights Search" window, you'll need to click on "Search debug session telemetry".  That will open a window like the one below, and you will see data as soon as you click on the IIS Express button to run your app.

![image](https://user-images.githubusercontent.com/37556655/50491275-56720b80-09c

[2018-12-27 19:05] Grace-MacJones-MSFT commented on #21316
Hi @waynemsft,
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-27 19:07] Karishma-Tiwari-MSFT commented on #21239
@oleksandr-bilyk Thanks for sharing the information. Can you please provide the link to the ARM template you have been using? It will help me to reproduce the issue.

@dkkapur @aljo-microsoft Can either of you share your insights on the customer's issue?
I am seeing that the api-version=2018-02-01 does not have these nodeTypes properties, as per [this doc](https://docs.microsoft.com/en-us/rest/api

[2018-12-27 19:11] Grace-MacJones-MSFT commented on #21320
Hi @cveld & @CeciAc
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-27 19:12] DiegoRamirez-MSFT commented on #21307
hello @imeya

I was able to reproduce this situation on my side, one thing that I did noticed was that even when there is an "update failed" message the values to get updated, could you please confirm if you see the same on your side?

best

[2018-12-27 19:15] bankotsu opened #21328 "Relationship between phrase list and entities"
Can a phrase list be applied and improve intent recognition results when no entities are labeled? Or does it have to be associated with some machine learned entity? (as in the simple entity tutorial https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-quickstart-primary-and-secondary-data).
For that matter, can labeling entities improve intent recognition results or do I label entit

[2018-12-27 19:16] AjayKumar-MSFT commented on #21293
@timaschew, Thank you for your great feedback on the Azure docs😊.
We shall get back to you soon on your documentation sync question. In the interim, could you share a specific document that you are more interested on the doc versioning.

[2018-12-27 19:26] sajithvasu opened #21330 "adding custom domain on existing web-app removes the tag settings"
We have noticed that az cli for adding custom domain host removes the tags on appservices.
This seems to be a bug. Please test this scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 224b73dd-c59d-a833-0d4d-a778af6086a9
* Version Independent ID: c6b167c9-9589-45d0-ee6a-7a47a4aec41e
* Content: [Map existing custom

[2018-12-27 19:31] bankotsu opened #21331 "How is a phrase list linked to an entity to boost it's signal?"
It's not clear from the documentation and example in this tutorial how a phrase list and an entity are linked. The example shows they both have the same name but the documentation never states explicitly that that is the way to link between them. From my understanding of the documentation they are not directly linked and do not have to have the same name. It would still be interesting to know how

[2018-12-27 19:38] diberry commented on #21331
@bankotsu Thank you for submitting this issue. I saw the other issues as well regarding phrase lists.

The phrase list is not related to the entities or intents (either in name or in concept) but instead is a vocabulary the app uses. It is a way to make certain words or phrases have significance (more significance) than other words and phrases used in utterances.

This particular tutorial uses the

[2018-12-27 19:39] diberry commented on #21328
@bankotsu Thank you for asking these questions. Please see the [other issue](https://github.com/MicrosoftDocs/azure-docs/issues/21331). I'll keep everything in a single issue to reduce the duplication. #in-progress

[2018-12-27 19:48] jason-j-MSFT commented on #21219
@amarpandharpure closing this issue for now since there is no reference to a document.

[2018-12-27 19:48] #21219 closed

[2018-12-27 19:58] bankotsu commented on #21331
@diberry Thanks for the quick reply
So from my understanding of your answer a phrase list can improve intent recognition results when no entities are present in the app? and if I have a phrase list with the words: "call" and "chat" and set it as interchangeable the following utterances: "i want to call" and "i want to chat" would have the same intent with the same score (and all this without label

[2018-12-27 20:08] bankotsu opened #21332 "Can labeling entities improve intent recognition results?"
can labeling entities improve intent recognition results or do I label entities for the purpose of data extraction only, that is entity recognition and intent recognition are completely separate processes and do not rely on one another?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e106526-4b83-c385-92a1-050ef8683bdc

[2018-12-27 20:18] diberry commented on #21332
@bankotsu Thanks for the question. I want to verify with the service team before I answer. #in-progress

[2018-12-27 20:35] sunilprabha opened #21333 "How do you link the azure mobile form to Apple App store and Android store."
once the app is published to Azure mobile app , I want to see how can I add this xamarin form to Apple App/android  store , so users can download and users can open the app and loads the azure mobile app. your documentations is missing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4467b7b-c082-73d2-5626-038fb12

[2018-12-27 20:43] jl101 commented on #21178
As I said I do miss things, am often times not the best communicator, and recognize the Azure environment is continually changing (from what it was four years ago!).  In my particular case I have a prod environment consisting of ~300 Azure SQL databases, on multiple elastic pools, and all are geo-replicated.   Regarding the referenced document for configuring geo-replication for a single pooled Az

[2018-12-27 20:55] sawravchy commented on #21220
Detect the face

[2018-12-27 21:11] chrislangston commented on #15092
Hi Kelly @kgremban   Thanks for following up.  Great job on updating the article!

[2018-12-27 21:11] #15092 closed

[2018-12-27 21:14] debbiemcg commented on #16061
We have encountered the same issue.  Furthermore, when we deploy an update to a stopped Azure function (V1), if the function has not been running for some period of time, the existing metrics disappear and cannot be referenced again until the functions are started and some activity is recorded.  This is fine for TEST and QA environments, but not being able to set alerts on these metrics when the f

[2018-12-27 21:21] MarileeTurscak-MSFT commented on #21326
I am pretty sure that this page is owned by Jira. You may be able to use the location property - ` this.button1.Location' and edit the login.xml https://confluence.atlassian.com/jirakb/how-to-customize-the-login-gadget-225122084.html

The conversation here might be helpful to you. https://community.atlassian.com/t5/Jira-questions/JIRA-Login-page-customization/qaq-p/388256

I would suggest asking t

[2018-12-27 21:21] MarileeTurscak-MSFT commented on #21326
We will now proceed to close this thread. Please feel free to tag me in the comments if you have further questions and I will gladly continue the discussion.

[2018-12-27 21:21] #21326 closed

[2018-12-27 21:35] arsing opened #21334 "Device Twin PATCH response example is missing the `$version` field"
This document says:

This gives the impression that the version can only be gotten from the publication topic. In fact the message body contains it too. The example should be changed to:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bcf2a86a-1de0-2786-db87-58279ceffb22
* Version Independent ID: 7e43624f-a87d-1

[2018-12-27 21:47] cfoisy-osisoft opened #21335 "Static IP for Ingress outside of the node resource group"
There is new documentation at https://docs.microsoft.com/en-us/azure/aks/static-ip#use-a-static-ip-address-outside-of-the-node-resource-group how to do this for LoadBalancer. What would be the equivalent for Ingress?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12009c1f-282d-2632-fac0-64b09c432833
* Version Independe

[2018-12-27 21:48] Karishma-Tiwari-MSFT commented on #12673
@frankfajardo It looks like there is work going on this as per [this](https://github.com/Microsoft/ApplicationInsights-dotnet-logging/pull/239) thread.

[2018-12-27 21:49] Weasnerb commented on #21326
Thanks, I'll take a look into it!

[2018-12-27 22:04] JasonWHowell commented on #20984
@dcbrown16 I tested it out on my subscription, and its not possible yet.

The Stream Analytics SQL output wouldn't let me specify the server name for my SQL managed instance. I think there are some networking complexities that haven't been engineered yet for the Stream Analytics service to connect to the VNet where the Managed SQL instance is listening.

Will you please capture the request on the

[2018-12-27 22:05] JasonWHowell commented on #20984
#please-close

[2018-12-27 22:14] DiegoRamirez-MSFT commented on #21335
hello @cfoisy-osisoft

could you please elaborate on what you mean with ingress, if its the ingress controller have you considered the following option?

https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip

please let me know your comments

Best

[2018-12-27 22:31] cfoisy-osisoft commented on #21335
hey @DiegoRamirez-MSFT, thanks for the quick reply

That's correct, I mean the ingress controller

You're referring to the page I used for my current cluster with a static IP within the node resource group, e.g.

    az network public-ip create --resource-group MC_myResourceGroup_myAKSCluster_eastus --name myAKSPublicIP --allocation-method static

Now my specific question is what should be done wi

[2018-12-27 22:33] MarileeTurscak-MSFT commented on #21325
@adityababu02

Can you please provide a link to a specific document that you are following so that I can better assit you?

[2018-12-27 22:49] JasonWHowell commented on #21303
I updated the link. The page should publish early next week after the New Year.

[2018-12-27 22:53] #21303 closed

[2018-12-27 23:11] Karishma-Tiwari-MSFT commented on #21279
@Eithcowich I tried to reproduce the issue and the copied disk was created successfully for me. I followed the same steps in the doc.
Your error message says that the it is expecting the valid value for --source. It seems like the value you are providing is not correct according to the error message.

Please check the following:
  1. In the first command, use the resource group name where you have

[2018-12-27 23:35] Karishma-Tiwari-MSFT commented on #21315
@snaveekumar Looks like your issue is same as [this GitHub issue](https://github.com/helm/helm/issues/3447). Check it out and let me know if it solves your problem. Thanks.

[2018-12-27 23:40] #21070 closed

[2018-12-27 23:49] dan-wesley commented on #20897
@tpanagos this is addressed in an update to the article.
@v-miclar will ping you when this goes live

[2018-12-28 00:05] sdgilley commented on #20750
The initial version of Part1 of this tutorial series saved the  the file with the filename 'dflows'.  It was updated last week to use the filename 'dflows.dprep'.  I suspect that you have run the earlier version of the Part1 tutorial, in which case you would load 'dflows' instead of 'dflows.dprep'.  But if you run the most recent version of Part1 first, you would use 'dflows.dprep'.

[2018-12-28 00:12] Alberto-Vega-MSFT commented on #21334
@arsing Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-28 00:18] vignatov commented on #21125
@ManojReddy-MSFT Thanks for the information. It is what I ended up doing at this moment. Please confirm if it is in the pipeline and what is the timeline for CORS though, before closing this issue.

[2018-12-28 00:21] ericoporto commented on #19823
Could please tell me what is expected to find in the environments? Can we expect git? 7-zip? wget? Does it have a packet manager like Chocolatey or VCPKG for C++? Which environment variables are available to point us to tools?

[2018-12-28 00:27] artisticcheese opened #21337 "How to enter more then 100 rows to a Excel table?"
Hello,

Per documentation API calls are limited to a 100 in 60s, how do you enter more then 100 rows in such situation. The only option to operate on Excel connector is line by line and there is no bulk option as far as I can see.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce6a036-ff3c-6151-a20d-3d1ad772b828
* Ver

[2018-12-28 00:27] KeiroKamioka0000 opened #21338 "How to edit httpd.conf?"
How Do I edit the httpd.conf for Apache  for WebApp?
I would like to edite the ServerTokens Settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba64cf1f-a5a5-7420-9843-fdf34191e2b5
* Version Independent ID: 8fa1e477-4419-3af7-b29c-f3a5b927bb78
* Content: [Open-source technologies FAQs - Azure App Service](https://

[2018-12-28 00:37] Karishma-Tiwari-MSFT commented on #21231
@rifaterdemsahin I followed the steps in the doc and this is what I see in the Visual Studio:

![image](https://user-images.githubusercontent.com/20851144/50498394-3a399300-09f5-11e9-8edb-936bd19592a9.png)
I am not seeing incompatible next to Voting folder under the solution in Visual Studio, as shown in the image you shared.

I would recommend trying again while making sure the following:

1. Ins

[2018-12-28 00:44] juntakata commented on #21249
Thank you so much! Customers are very interested in identity secure score and MS Japan Azure AD support team is receiving increasing number of questions.

[2018-12-28 01:35] cregnier opened #21340 "Multiple Requests"
Step 3, explain how to open the "Disk Management" mmc.
Steps 4-6, explain these are used within Command Prompt or PowerShell
Step 6, example: need to add PackageName:
Step 7, explain how to detach the disk
Also, might want to explain the concept of creating a new disk by creating a copy from a page blob-based .vhd

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2018-12-28 01:52] trajesh55 opened #21341 "Introduction to Azure storage - Description for "Managed" can be better"
https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction

"Managed. Microsoft Azure handles maintenance and any critical problems for you"

Whether maintenance is for the service or any hardware related failures ?
It can be rephrased  like, "Managed. Microsoft Azure handles maintenance activity of the disks/storage service in case of failures and any critical problems for you"

-

[2018-12-28 01:57] cregnier opened #21342 "Link update needed"
Here is the correct VM/ARM template link, I believe: https://github.com/Azure/azure-quickstart-templates/tree/master/201-vm-specialized-vhd-new-or-existing-vnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561fae9-9031-77b6-1304-e992f9c44e79
* Version Independent ID: 79c62932-e512-4a81-c1e3-c6315d08dead
* Content: [

[2018-12-28 02:13] wilsonchua20 commented on #11732
how to run sample codes of java in your documentation. it wont work, says unknown host exception: westus.api.cognitive.microsoft.com

[2018-12-28 02:15] wilsonchua20 opened #21343 "java code wont work"
how to run sample codes of java in your documentation. it wont work, it says unknown host exception: westus.api.cognitive.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3604fe7e-46a3-6f5b-41e0-d3e69e01c8ae
* Version Independent ID: 9415c8a5-177e-fe11-7198-3d97ed438dc8
* Content: [What is the Speaker Recog

[2018-12-28 02:16] KeiroKamioka0000 opened #21344 "How to sign out/logout?"
Please consider to add the step, how to log out such as from AAD.

https://social.msdn.microsoft.com/Forums/expression/en-US/17661111-c2d9-41ac-ab5b-df1cf7190585/websiteauthlogoutpath-since-novemeber-2015?forum=windowsazurewebsitespreview
The WEBSITE_AUTH_LOGOUT_PATH environment variable has been deprecated and isn't being added for newly configured web apps.  Instead, you can just created a hyper

[2018-12-28 02:38] markti opened #21345 "Common Name certificate guidance produces invalid template error"
New-AzureRmServiceFabricCluster : Invalid template file.
At C:\src\ClusterTemplate\Deploy-Cluster.ps1:9 char:1
+ New-AzureRmServiceFabricCluster -Debug `
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureRmServiceFabricCluster], PSArgumentException
    + FullyQualifiedErrorId : Microsoft.Azure.Commands.ServiceFabric.Commands.NewAzureRmServiceFabricC

[2018-12-28 02:41] markti opened #21346 "Deploying templates from the referenced github repo with the Test-AzureRmResourceGroupDeployment produces error"
DEBUG: ============================ HTTP RESPONSE ============================

Status Code:
NotFound

Headers:
Pragma                        : no-cache
x-ms-failure-cause            : gateway
x-ms-ratelimit-remaining-subscription-writes: 1199
x-ms-request-id               : 8b107cbc-387b-481c-bc19-6840e0d45eb2
x-ms-correlation-request-id   : 8b107cbc-387b-481c-bc19-6840e0d45eb2
x-ms-routing-reque

[2018-12-28 02:53] kazshi commented on #21269
@CHEEKATLAPRADEEP-MSFT Thank you for the clarification. It would be great if it's described in the content since the current content is confusing.  Thanks.

[2018-12-28 03:05] nigel-dewar opened #21347 "helm install install/kubernetes/helm/istio fails - customresourcedefinitions.apiextensions.k8s.io "reportnothings.config.istio.io" already exists"
Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io "reportnothings.config.istio.io" already exists

This is on a brand new kube cluster running in australiaeast. I had the same problem following instructions to install cert-manager. I had to do this to get around it

[code]

It seems the version of kube your running errors out, because it creates the customresourcedefiniti

[2018-12-28 03:37] femsulu commented on #21258
@ig-sinicyn, AFAIK, 'copy' can be used in a few different ways:  **within** the variable or to **create** the variable. Not sure how you implemented this in your template but curious if you've reviewd [this doc](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-templates-variables#use-copy-element-in-variable-definition) on how to implement "copy" when defining ARM tem

[2018-12-28 03:57] Leon99 opened #21349 "Programmatic deployment"
Not sure if it's content or product feedback, probably both: this page shows how to install the extension via clicking in the portal, which is not scalable. Please document how to do it via PowerShell/ARM template/(ideally)Terraform.
I managed to find an ARM template in a closed issue, however, it's unclear which part of it is relevant (not to mention it's hidden away from the public and it's poor

[2018-12-28 04:08] KeiroKamioka0000 opened #21350 "Screenshot?"
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log#create-with-azure-portal

Does this match with current portal?
I see different design for this, such as I don't see numerical severity setting for define alert detail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b5848cb-e266-6235-76c3-

[2018-12-28 04:09] KeiroKamioka0000 commented on #21350
![image](https://user-images.githubusercontent.com/37641695/50502322-403e6c80-0a13-11e9-97c6-11a98be894d9.png)

[2018-12-28 04:09] dcbrown16 opened #21351 "Classic now obsolete?"
I think you're going through to update these pages, but I'm not seeing the classic page as a link in the menus described here. Is it gone for good now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a095ce2-9793-153f-59aa-6c6830ec8c92
* Version Independent ID: 651187ab-40fa-ed37-2e2c-1e804fe40282
* Content: [Viewing a

[2018-12-28 05:32] CHEEKATLAPRADEEP-MSFT commented on #21269
@kazshi  Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2018-12-28 05:40] aspnet4you opened #21353 "TLS/SSL Offloading not working with App Gateway and AKS Ingress"
I tried to follow end to end SSL with App Gateway, use TLS with your own certificate and other blogs but I could not make SSL working at the App Gateway. I could get 200 ok response from HTTP requests but I get NO response (no connection) from HTTPS request!

Here is my use-case or application architecture:
1) App Gateway with public ip exposed to internet. This is the only entry-point for end use

[2018-12-28 05:49] AjayKumar-MSFT commented on #21333
@sunilprabha, Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2018-12-28 05:59] msvijayn commented on #21350
@KeiroKamioka0000 - There has been a design update based on user feedback and survey. The screenshots in doc are of the earlier interface - where fields like severity were shown by default; where-as in the new re-design severity option is only shown based on the alert type selected and values applicable.

[2018-12-28 06:00] msvijayn commented on #21350
Will take a task to update screenshots in the doc in-line with redesign; will raise a new PR for the same soon.

[2018-12-28 06:02] AjayKumar-MSFT commented on #21338
@KeiroKamioka0000, Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-28 06:30] AshokPeddakotla-MSFT commented on #21343
@wilsonchua20 Take a look at an [Example of Azure Speaker Recognition API](https://blog.csdn.net/itachiuchiha/article/details/81046284).  As mentioned in the issue https://github.com/MicrosoftDocs/azure-docs/issues/7022 adding How To article is in our backlog.

@cjgronlund please provide your suggestions/comments on this request.

[2018-12-28 06:31] dcbrown16 opened #21354 "Network Watcher"
It would be helpful if this doc or section of docs could clarify how Network Watcher relates to the solutions described here.
https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-monitoring-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80ca129e-6ffc-767b-3f1b-3c56cb822e76
* Version Independe

[2018-12-28 06:36] AmanGarg-MSFT commented on #21349
@Leon99 Thank you for the feedback! We are investigating this and will get back to you shortly.

[2018-12-28 06:45] PramodValavala-MSFT commented on #14261
This code sample has been updated in commit 4603326 but this issue wasn't referenced.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-12-28 06:45] #14261 closed

[2018-12-28 06:46] PramodValavala-MSFT commented on #21248
@egiray Just following up... Hope me comment clears things up. 😄

[2018-12-28 06:52] SubhashVasarapu-MSFT commented on #21311
@xarly Thanks for the feedback! I have assigned the issue to the content author to investigate this and update the document as appropriate.

[2018-12-28 06:55] Qq20180503 opened #21355 "How to get a DNS name for internal facing application gateway?"
From this link, https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#where-do-i-find-application-gateways-ip-and-dns

It's easy to see the public IP and DNS of frontend IP, but for private application gateway, how can we view the frontend IP DNS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-12-28 06:56] nmanzi opened #21356 "Storage outage events / Capture retry?"
How does Event Hub Capture handle the following scenarios:
- Storage service outage
- GRS failover event

Does Capture retry if there is a problem accessing the storage service?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-5ecac6e8

[2018-12-28 07:00] AshokPeddakotla-MSFT commented on #21354
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-28 07:02] jakaruna-MSFT commented on #21347
@nigel-dewar Please let me know the version of helm you are using.
There is a known issue with helm  version 2.12.0. Its creating crd's twice.
Refer to this [pull request](https://github.com/helm/helm/pull/5067).
Solution is to move to the patch release(2.12.1). When you are migrating from previous versions to 2.12.1, Please checkout the comments in that pull request.

[2018-12-28 07:03] AshokPeddakotla-MSFT commented on #21351
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-28 07:04] jakaruna-MSFT commented on #21347
@nigel-dewar you can also downgrade to 2.11.0 to avoid this issue.
#20820 Check this issue for more details.

[2018-12-28 07:24] JohnReeson opened #21357 "Update CLI command parameters"
CLI command has changed, it would be great to modify the parameters according to the latest v2 CLI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2646ad4-34b7-fc5e-dcc9-d53a061df394
* Version Independent ID: bbff4fda-24e4-2b62-24b9-94cda5f53bed
* Content: [Work with Azure Functions Core Tools](https://docs.microsoft.

[2018-12-28 07:29] RamakrishnanRamar opened #21358 "Cors issue in OpenID Connect"
I am using token generation in my Web API using OpenID Connect. While I am calling the API, getting below error.

Access to fetch at 'https://login.microsoftonline.com/abc/oauth2/authorize?client_id=1ec3f37a-2112-493b-9ef8-5bfbefb3b5b0&redirect_uri=https%3A%2F%2F%2F&response_mode=form_post&response_type=code%20id_token&scope=openid%20profile&state=OpenIdConnect.AuthenticationProperties%3DHfqYiGHj5

[2018-12-28 07:44] Crazyabout opened #21359 "Internal server error while deploying an arm template to azure"
I am deploying an new metric alert to Azure with an ARM template.
I am following the exact same way of [Microsoft doc][1].
With the only change that I deploy just 1 metric to an Automation account and not to an storage account

**Template file**

      "variables": {
        "criterion1": "[array(parameters('criterion1'))]",
        "criteria": "[concat(variables('criterion1'))]"

    },
    "reso

[2018-12-28 08:21] Crazyabout commented on #21359
Did found my own error
Action groups are required when yu want to deploy metricalerts.
I know this is obvious but unfortunately did not saw that in the documentation or in the error. after some debugging and looking in the Resource Explorer I've noticed this

[2018-12-28 08:21] #21359 closed

[2018-12-28 08:30] jakaruna-MSFT commented on #21340
@cregnier
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-28 08:30] jakaruna-MSFT commented on #21340
@genlin Please take care of this issue.

[2018-12-28 08:41] femsulu commented on #21267
@abhijitchaudhari1, can you calrify what you mean by "Runbook gets stuck and never returns"? are there any exceptions or logs, screenshot that you can share?

You may also want to ensure the Automation account includes the latest version of the Python packages and modules needed to support execution of your python script. Sounds like it runs fine locally but executing the runbook fails after uploa

[2018-12-28 09:04] PramodValavala-MSFT commented on #21337
@artisticcheese You are right that there are no batch APIs available with the available connectors.
You can raise a request to add support for this [here](https://feedback.azure.com/forums/287593-logic-apps).

That being said, you should be able to use the following Microsoft Graph APIs for [Working with Excel](https://docs.microsoft.com/en-us/graph/api/resources/excel?view=graph-rest-1.0)
1. [Cre

[2018-12-28 09:07] femsulu commented on #21056
@imeya did some research  and I don't believe there is any Python packages installed by default. If there were installed packages, you will see them in the [Azure Portal](https://portal.azure.com) by navigating to your Automation account-->select "Python 2 packages" right below the "module gallery" option.
![image](https://user-images.githubusercontent.com/34327711/50510053-008c7a80-0a3d-11e9-86ca

[2018-12-28 09:09] femsulu commented on #21056
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-28 09:09] #21056 closed

[2018-12-28 09:09] jakaruna-MSFT commented on #21260
@badalk Sorry for misunderstanding your question.
Please check this [comment ](https://github.com/Azure/AKS/issues/397#issuecomment-395906467)for more info about the cluster admin and cluster user.
This [blog ](https://medium.com/@weinong/azure-kubernetes-service-built-in-roles-8083b90e7ba) also explains about the built in roles.

@iainfoulds Please add your comments.

[2018-12-28 09:14] kazshi opened #21360 "Security Alerts from Windows Defender ATP in VMSS"
I tested Windows Defender ATP test alert from Windows Server 2016 VM and it worked as expected (got a security alert), but it didn't work for VMSS. I connected to an instance of VMSS and the command (which is described in 'Test the feature' section in 'Server protection with Windows Defender ATP' page) but I couldn't get a security alert. It's not supported for VMSS? or Is it possible to enable (i

[2018-12-28 09:16] jakaruna-MSFT commented on #21280
@girishgouda I think you can have multiple apps with draft configured for same kubernetes server under different folders.
Since all are in different folders, You can run draft up on them to get it deployed.
Please try this and let me know.

[2018-12-28 09:41] SadiqhAhmed-MSFT commented on #21350
@KeiroKamioka0000 thanks for posting this question. I hope "msvijayn" post answered your question.

@msvijayn appreciate your help, thanks.

We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-28 09:41] #21350 closed

[2018-12-28 09:56] SubhashVasarapu-MSFT commented on #21355
@Qq20180503 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-28 10:42] sakusuma commented on #19985
I am seeing the groups available to join only if its created in the access panel. Once I request joining the group with justification, my request is  being auto approved. I was expecting the owner of the group gets a notification to approve.(I have kept the "Owner can manage the group acess… option to YES").
But for the groups which were created in the AAD Azure Portal its not allowing to join at

[2018-12-28 10:45] sakusuma opened #21362 "Group membership request / approval not working for my tenant"
I am seeing the groups available to join only if its created in the access panel. Once I request joining the group with justification, my request is being auto approved. I was expecting the owner of the group gets a notification to approve.(I have kept the "Owner can manage the group acess… option to YES").
But for the groups which were created in the AAD Azure Portal its not allowing to join at a

[2018-12-28 10:53] #21362 closed

[2018-12-28 10:53] sakusuma commented on #21362
this is fixed

[2018-12-28 11:09] KetanChawda-MSFT commented on #21357
@JohnReeson Thanks for the feedback. Just for reference can you please specify which specific command you are pointing to.

[2018-12-28 11:10] SamirFarhat commented on #13533
+1

[2018-12-28 11:12] SamirFarhat commented on #13533
+1 https://feedback.azure.com/forums/556165-azure-analysis-services/suggestions/33696976-automate-on-premise-gateway-installation

[2018-12-28 11:16] SamirFarhat opened #21363 "Required permissions to make all these steps"
Hi,
Can you please mention the required permissions to :
- Register the Gateway on Azure : What are the permissions required by the user
Example : Register --&gt; Step 2 : What are the required permissions for the user philipc ?

- Create an Azure gateway resource : Do we need that the same user that registered the Gateway, be the one who created the gateway ?

Thanks

---
#### Document Details

⚠

[2018-12-28 11:47] Phydeauxman opened #21364 "No guidance for how to deal with Azure PaaS management traffic"
When an App Service Environment (ASE) is provisioned, regardless if it is an external or internal variety it gets a Public IP. This Public IP is used by the ASE to communicate with the Azure management plane in order to function properly. Without connectivity to the management plane, you can't even deploy an ASE. There needs to be guidance in this document about this traffic and how to incorporate

[2018-12-28 12:07] renattomachado commented on #19456
@XiaoningLiu that's not usual.

[2018-12-28 12:08] renattomachado commented on #19456
@XiaoningLiu that's not usual.

[2018-12-28 12:10] SumanthMarigowda-MSFT commented on #21341
@trajesh55 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-12-28 12:14] ppGrande commented on #21307
I can tell you, the actual status, "Update failed" apear, no notification, and no changes are apply neither. already an Azure-Support ticket request ID : 118122425000955

[2018-12-28 12:18] KetanChawda-MSFT commented on #21318
@girishgouda This error usually comes when you haven't provided the required permission to AAD Application which you have configured for this App.

Can you provide the details as mentioned below in order to investigate this issue further:

1. Function SDK Version.
2. Microsoft Graph API Version.
3. Screenshot of the AAD App --> Permission

[2018-12-28 12:22] ppGrande opened #21365 "Virtual machine pricing previsions confusing and not useful"
I compare the price estimation for resizing a existing machine, with the price estimation where creating a new machine :

![untitled](https://user-images.githubusercontent.com/7784260/50515215-a5da3980-0aa3-11e9-9d61-f19a3a2d1bca.png)

Diferences are aproximatelly 50% overpriced !!!

I know this is an estimation, but I considered the diference to be quite too high. and in this sense, imposible to

[2018-12-28 12:52] wesleyniels commented on #20326
Any news? Or can we also do this with Azure CLI?

[2018-12-28 12:53] wesleyniels commented on #20866
https://social.msdn.microsoft.com/Forums/en-US/ee13d2f8-4d88-47bf-a9f8-3daa837f5f3f/keyvault-references-in-app-services?forum=WindowsAzureAD

[2018-12-28 12:53] stephenmontgomery commented on #16689
Hi,
Yes I used the Timestamp regex too but I notice that the Azure TimeGenerated field doesn't match up to the specified timestamp in the log (and according to https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-custom-logs it should):

I assume this has to do with the TimeGenerated extraction block:
`"extractions": [
                            {

[2018-12-28 12:56] ManojReddy-MSFT commented on #21107
@ewahner I understand. You can suggest this as a feature describing your scenario [here](https://feedback.azure.com/forums/169401-azure-active-directory). Program managers consider this feedback while prioritizing the features.

[2018-12-28 13:02] ManojReddy-MSFT commented on #21051
@martinlarosa Can you elaborate a little bit more on your current configuration ? where is the API registered (B2C portal or Azure AD portal of your B2C tenant) ?

Also as this issue is not specific to this doc , do you mind opening a MSDN thread for this ? This will ensure your issue has wider audience and I will make sure it is addressed.

You can open the thread here : https://social.msdn.micro

[2018-12-28 13:31] martinlarosa commented on #21051
https://social.msdn.microsoft.com/Forums/en-US/1e77f4d4-7b0b-484e-89b0-9038b7f71a33/azure-app-service-easy-auth-with-client-credentials-grant-flow-in-aad-b2c?forum=WindowsAzureAD

[2018-12-28 13:31] msdorachua commented on #18523
Hi

I also have the same error when running on Spark 2.3 (HDI 3.6) in the Azure portal.

Hope to have some advice on how to resolve this issue, thank you! :)

![2018-12-28_213032_errortosendtogithub](https://user-images.githubusercontent.com/5100742/50516806-dd6ad500-0ae7-11e9-93fd-478512119e98.png)

[2018-12-28 13:48] sha1992 commented on #21314
I am working on POC on this Azure Speech to Text api for my organisation. We have multiple opportunities where we can use this services but we use windows 7 only within our organisation. So thats kind of bottleneck for us to use Microsoft services. Can you please give me details if you guys have any other way to get this done in Windows 7.

[2018-12-28 14:00] #21337 closed

[2018-12-28 14:24] xiaoyang-connyun opened #21366 "Documentation for AcquireToken API, support for the refresh token and substitute the issuer in the token to API Management."
Hi API Management Team,

Currently, I am using API Management as a gateway between backend and frontend, and would like to leverage the security feature from API Management.
Different from the example here, I am using Keycloak as the authentication server and Resource Owner Password as the grant type, but I would assume the concept is somehow the same.
So far, I have followed the example to succes

[2018-12-28 14:48] johnwhumphreys opened #21368 "Outdated content / link."
Ansible's site says that the contrib version of the azure_rm.py script referred to in the link here is deprecated and that people should prefer the new one they provide.

I think the examples need to be updated for that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d2b8e92b-a339-3869-9c78-e99cb04b94ee
* Version Indep

[2018-12-28 15:04] badalk opened #21369 "Need clarity on Docker Bridge Address"
Not able to find enough documentation on this (docker networing / docker's bridge address space) in connection with how it works with Kubernetes. What if 172.17.0.1/16 is conflicting with one of our internal network ip address space? can I still use the same address space without causing issues? As per K8s documentation containers share the same IP address of Pod but have to negotiate ports within

[2018-12-28 15:04] franciso opened #21370 "No mention of the impact on SYSVOL"
The documentation does not mention the fact that a folder (with a GUID for its name) is created in the SYSVOL under the Policies folder (\\domain.com\SYSVOL\Policies) While it does not cause any problem an empty folder with a GUID in the Policies folder could be detected as an orphaned GPO. A clear indication in the name of the folder (maybe adding a "-AADPP" suffix?) would help differentiate the

[2018-12-28 15:06] oleksandr-bilyk commented on #21239
@Karishma-Tiwari-MSFT You have identified everything right.

[2018-12-28 15:15] vizhur commented on #20876
We have bimonthly release cadence, so early January. No patches will be issued for this issue as it's minor and does not affect user scenarios

[2018-12-28 15:16] SQLSteveT opened #21371 "Instructions lacking detail"
I'm attempting to test a KB that I've published using POSTMAN. It is not clear how to build the HTTP request with the instructions provided. Instructions do not seem to match screenshot. Can you provide more detail, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfa89fba-7d93-2345-7fd0-d7ac19edadf5
* Version In

[2018-12-28 15:20] jbrantly commented on #21172
Thanks all, we are an EA customer so I have created a support ticket and emailed you as requested.

[2018-12-28 15:48] diberry commented on #21371
@SQLSteveT Hi Steve, thank you for letting us know the document needs more clarity. Can you tell me exactly where the screen shots don't match. The [cURL](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/quickstarts/get-answer-from-kb-using-curl) example uses the same concept but with a command line so the same HTTP Headers and other request values are present in the doc.

There

[2018-12-28 15:57] Charlie-Chat-Bot opened #21373 "Chatbot issues with single quote/apostrophe in the question body"
Having played with the codes on this page, I realized when you type a question that has a single quote/apostrophe in its body, the bot will respond that his bot code has issues.
One way to go around this is to modify this line:
      string questionJSON = @"{'question': '" + question + "'}";
to this line:
       string questionJSON = "{backslash"question backslash": backslash""+ question+"backslas

[2018-12-28 16:32] DiegoRamirez-MSFT commented on #21335
hi @cfoisy-osisoft
is the question how to use an IP that currently resides on a separate resource group?
best

[2018-12-28 16:35] cfoisy-osisoft commented on #21335
Yes, exactly.

[2018-12-28 17:17] DiegoRamirez-MSFT commented on #21335
hi @cfoisy-osisoft

my recommendation would be to move the IP Address into the same resource group and this will simplify the process for you, you can follow the next procedure to move the IP address across resource groups

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-move-resources

please let me know if this helps

[2018-12-28 17:21] seguler commented on #19527
This article is supposed to be platform agnostic and should help with all three platforms: Mac, Unix and Windows. Have you found any of the steps here to be invalid for Mac ?

[2018-12-28 17:32] SQLSteveT commented on #21371
Thank you for your reply. For the HTTP post, step #5 For the URL, concatenate the HOST value and the Post value to create the complete URL.
I fail to understand how you get to this point? The screen shot shows the HTTPS request, but not how you got to this point. Note: I am not a developer, I was able to publish a KB using QnAMaker....

[2018-12-28 17:38] okrasz opened #21374 "Suffix filter or more general filter"
I miss suffix filter or some more general pattern filter. I want to make lifecycle rules for duplicity (backup utility), where it would move data blobs to archive tier immediately. But there are also manifest files which are unfortunately read on backup operation, so they can go to cool tier at most. You can recognize those files basically by the extension.

---
#### Document Details

⚠ *Do not ed

[2018-12-28 17:41] timaschew commented on #21293
Hey @AjayKumar-MSFT
Actually I'm interested in the general deployment workflow, but I see there are different types of documentation. I'm interested in docs which are provided for multiple versions. Because only there the risk exist that documentation for version 2.0 could contain information about version 1.0 and vice versa. A very related question is also: Is the documentation deployed at the sa

[2018-12-28 17:45] aljo-microsoft commented on #7977
PR Merged.

@MicahMcKittrick-MSFT
Please close this.

[2018-12-28 17:47] cveld opened #21375 "CDN type preference"
Maybe you could include a pointer to additional background information about some comparisons between the three CDN providers. For the tutorial it does not seem logical to choose Verizon as it states provisioning usually takes 90 minutes compared to Akamai only taking 1 minute to complete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-12-28 17:58] MarileeTurscak-MSFT commented on #21345
@markti can you please link the document you are following so that we can better assist you?

[2018-12-28 17:59] MarileeTurscak-MSFT commented on #21346
@markti can you please link the Microsoft document you are following so that we can better assist you?

[2018-12-28 18:01] oleksandr-bilyk commented on #21239
I understand that Azure + Service Fabric is complicated thing but documentation should be always consistent. Looks like currently we may combine working template only with 2017-07-01-preview version. But even in this case template opens 3 ports 1025-1027 in NSG without explicitly specifying that they are clusterconnectionendpointport, leasedriverendpointport, serviceconnectionendpointport.
https:/

[2018-12-28 18:07] Karishma-Tiwari-MSFT commented on #21369
Thanks for the question. We are currently investigating and will update you shortly.

[2018-12-28 18:07] PramodValavala-MSFT commented on #21366
@xiaoyang-connyun Thanks for the question(s)! We will investigate and get back to you.

[2018-12-28 18:10] oleksandr-bilyk commented on #21239
Problem becomes very actual when people need to use certificate autorotation and are forced to use ServiceFabric cluster api 2018-02-01. An in this case there is no way to know which ports should be opened for Service Fabric cluster correct way when Network Security Group closes all ports by default. What ports default cluster ports should be opened for 2018-02-01?

[2018-12-28 18:10] PramodValavala-MSFT commented on #21356
@nmanzi Thanks for the question! We will investigate and get back to you.

[2018-12-28 18:15] jason-j-MSFT commented on #21363
@SamirFarhat
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-28 18:17] aljo-microsoft commented on #16753
@josere
The supported Security Scenario's are documented; do you have a scenario that isn't covered?

Ref:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-security

[2018-12-28 18:19] #21335 closed

[2018-12-28 18:21] jason-j-MSFT commented on #21353
@aspnet4you could you provide a document to relate your issue to?

If not, you can ask you question in the forum here:
https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureapimgmt

[2018-12-28 18:31] aljo-microsoft commented on #19374
@Arash-Sabet

That referenced tutorial document articulates this:

[code]

E.G. Your Application Model (Manifests) declare the principals your SF runtime will provision,
and further the How To content is located:
https://docs.microsoft.com/azure/service-fabric/service-fabric-run-script-at-service-startup
https://docs.microsoft.com/azure/service-fabric/service-fabric-application-runas-security

@Mi

[2018-12-28 18:31] DiegoRamirez-MSFT commented on #21375
hello @cveld
thanks for your feedback, I have assigned this to the content author to consider any possible update
best

[2018-12-28 18:31] MarileeTurscak-MSFT commented on #21360
@kazshi
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-28 18:32] MarileeTurscak-MSFT commented on #21364
@Phydeauxman
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-28 18:33] MarileeTurscak-MSFT commented on #21325
@adityababu02 please open a new issue on a specific Microsoft document.

[2018-12-28 18:33] #21325 closed

[2018-12-28 18:34] bendodge-xwis commented on #20736
@Adam-Smith-MSFT It took me a little while to get set up with v10, but I am now. How could I attempt to reproduce? Kill the executable while the job is running and then run it again?

[2018-12-28 18:35] jpetitte commented on #19268
If you would prefer, I can open a new issue for this. Thanks!

[2018-12-28 18:37] MarileeTurscak-MSFT commented on #21358
@RamakrishnanRamar I saw you re-opened this issue - are you still having this problem?

[2018-12-28 18:38] MarileeTurscak-MSFT commented on #21370
@franciso
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-28 18:40] smithGit opened #21376 "Temperature Decimal Places in Exported Data"
The telemetry value for temperature is a floating point number, but it is rounded (based on the number of decimal places indicated) to an integer.  This is what gets displayed and also it is an integer value in the Continuously Exported Data file.  This loses precision, and fluctuation within a degree on a minute-by-minute basis is lost.  Is this correct, and if temperature is retained as a rounde

[2018-12-28 18:41] ctrlaltdylan commented on #20744
@ericlicoding it would also be helpful if there were examples of non-200 responses and error codes. Thank you!

[2018-12-28 19:01] aljo-microsoft commented on #20918
@starforce
That call is incorrect, did you use Post or Get like posted above?

[2018-12-28 19:01] jason-j-MSFT commented on #21250
@ravikiran-srini the Integration Runtime is a component in data movement.  Take a look here:
https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime

[2018-12-28 19:01] #21250 closed

[2018-12-28 19:09] starforce commented on #20918
Method-Get

Invoke-WebRequest -Uri "https://zixtysservices.eastus2.cloudapp.azure.com:19080/BackupRestore/BackupPolicies/$/Create?api-version=6.4"
 -CertificateThumbprint (Get-Childitem -Path Cert:\CurrentUser\My | Where-Object {$_.Subject -eq "cn=zixtysservices.com"})[0].Thumbprint -ContentType 'application/json' -**Method Get**

[2018-12-28 19:18] jmstanto opened #21379 "Some R Packages will not install"
Thanks for the great Jupyter Notebooks service on Azure. This is a super useful teaching tool. I am having trouble installing certain important R packages such as caret and quanteda. Trying to install these packages (or certain of their dependencies) causes a report of a "non-zero exist status."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-12-28 19:18] jdms754 opened #21380 "Error in auto-failover-group image"
second listener should say "Read-only listener" in media/sql-database-auto-failover-group/auto-failover-group.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-ef32-8ee13ccbf8fa
* Content: [Failover groups - Azure SQL Database](https://d

[2018-12-28 19:21] jdms754 commented on #21380
Same issue in the second image.

[2018-12-28 19:47] frankhu1234 opened #21382 "Out dated, this documentation is incorrect now"
https://blogs.msdn.microsoft.com/azureadb2c/2018/02/05/azure-ad-b2c-userjourney-reports-deprecated-use-audit-events-reporting-instead/

Per the link above, documentation in this article is outdated and doesn't work properly. Please fix accordingly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81bb513-0331-ae47-b544-4

[2018-12-28 19:54] jpetitte commented on #19268
It seems that `recognizer.canceled` will actually handle this now. Thanks for the update!

[2018-12-28 19:59] tchristiani commented on #19268
#please-close

[2018-12-28 20:04] timothytavarez commented on #5585
@mattbriggs This is still a thing. I've setup an ASDK with all default information/configurations. I went through the process of connecting to the Azure Stack RM endpoint via ADFS, and I'm encountering the same error. I imagine that for some reason the PowerShell context isn't being associated with the Default Provider subscription that is instantiated with the ASDK. I don't know how to change it

[2018-12-28 20:07] aljo-microsoft commented on #20918
@starforce
Your common name or subject alternative name certificate properties do not match your domain:

CN=zixtysservices.eastus2.cloudapp.azure.com

CN=zixtysservices.com

[2018-12-28 20:13] #19374 closed

[2018-12-28 20:13] #17248 closed

[2018-12-28 20:13] #7977 closed

[2018-12-28 20:14] #21074 closed

[2018-12-28 20:22] robertdsmithii opened #21384 "Incorrect IOPS for E60 and E70 disks"
The E60 and E70 disk performance specifications in the Storage section is incorrect. They should mirror the S60 and S70 performance specifications.

https://azure.microsoft.com/en-us/blog/introducing-the-public-preview-of-larger-managed-disks-sizes/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cd57b6d-3c6f-e546-b3ea

[2018-12-28 20:33] starforce commented on #20918
Here's a long article on how to add a custom domain name certificate issued by a CA for your service fabric cluster.

https://ronaldwildenberg.com/custom-domain-name-and-certificate-for-your-azure-service-fabric-cluster/

[2018-12-28 20:38] aspnet4you commented on #21353
@jason-j-MSFT: The issue is with Azure Application Gateway (not API)! Problem seems to be at the App Gateway Listener with HTTPS(port 443) protocol only. App Gateway responds correctly on HTTP/80. I would be happy to share more info, are you looking for configurations at the App Gateway or information on the backend (aks ingress)? Or, do you think I should ask the question at the forum for better

[2018-12-28 20:40] starforce commented on #20918
Th

@aljo-microsoft

I found in Microsoft documentation and it states colon

The certificate's subject name must match the domain that you use You cannot obtain an SSL certificate from a certificate authority (CA) for the *.cloudapp.azure.com domain. You must obtain a custom domain name for your cluster. When you request a certificate from a CA, the certificate's subject name must match the custom

[2018-12-28 20:41] aljo-microsoft commented on #20918
@starforce

Yes. You can not use *.cloudapp.azure.com

You need to provision one where the SANS == CN=zixtysservices.eastus2.cloudapp.azure.com

[2018-12-28 20:43] starforce commented on #20918
@aljo-microsoft and how would I proved to the ca that I own that the domain?

[2018-12-28 20:45] aljo-microsoft commented on #20918
I have done this with both self signed, and CA issued certs:

https://github.com/aljo-microsoft/demo/blob/master/deploy/servicefabric_bestpractices.py:

For self signed:
default_policy_process = Popen(["az", "keyvault", "certificate", "get-default-policy"], stdout=PIPE, stderr=PIPE)

            stdout, stderr = default_policy_process.communicate()

            if default_policy_process.wait() ==

[2018-12-28 20:49] starforce commented on #20918
Plesse  send me the documentation on how to associate a Microsoft service fabric URL with a CA issued certificate and have it is part of the CN or san

[2018-12-28 20:57] aljo-microsoft commented on #20918
@starforce

On Portal Blade for Keyvault certificates:

https://ms.portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/\<YOUR SUBSCRIPTION\>/resourceGroups/\<YOUR RG\>/providers/Microsoft.KeyVault/vaults/\<YOUR VAULT\>/certificates

Click create certificate.

On this blade add the DNS names for names you own; E.G. The ones that resolve to your service, and your CA is authorized to

[2018-12-28 21:02] Karishma-Tiwari-MSFT commented on #21239
@aljo-microsoft Is this something you can share your insights on? Thanks. :)

[2018-12-28 21:03] starforce commented on #20918
@aljo-microsoft

Let me try this and I'll get back to you.

thank you for all your help

[2018-12-28 21:06] aljo-microsoft commented on #20918
@starforce

If you did not register your DNS name with your CA you will receive an error like:

Raw Error Message
You do not have permission to request auto approval for the site aljotestcert.westus.cloudapp.azure.com,aljotestdns.westus.cloudapp.azure.com with Azure Id \<MY Subscription\>.

[2018-12-28 21:15] starforce commented on #20918
@aljo-microsoft

Let me try  to take a look at this. seems like first I need to register my service fabric URL in the Azure portal using the  instruction you just gave me and then go to my CA and add service fabric  URLas an SAN

[2018-12-28 21:18] MarileeTurscak-MSFT commented on #21345
@markti please open a new issue on a specific document so that we can properly respond.

[2018-12-28 21:18] #21345 closed

[2018-12-28 21:30] aljo-microsoft commented on #20918
@starforce

My recommendation is to provision a traffic manager resource and configure it for the record you own:

[code]

To own a unique Global DNS name; example above is for "zixtysservices.trafficmanager.net".

For ARM template example:
https://github.com/aljo-microsoft/demo/blob/master/deploy/Deploy-2NodeTypes-3ScaleSets.json

Then go to portal and request a CA issued certificate from DigitCe

[2018-12-28 21:33] Karishma-Tiwari-MSFT commented on #21279
@Eithcowich Any update?

[2018-12-28 21:38] YutongTie-MSFT commented on #21373
@Charlie-Chat-Bot
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-12-28 21:40] Karishma-Tiwari-MSFT commented on #21369
@badalk I found a similar issue here. Please take a look and let me know if that answers your question. Thanks.

[2018-12-28 21:46] MarileeTurscak-MSFT commented on #21382
@frankhu1234
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-28 21:51] badalk commented on #21369
@Karishma-Tiwari-MSFT I had seen that thread, but it explains about kubernetes service address space but not docker bridge address space.

[2018-12-28 22:01] ziesemer opened #21386 "https://aka.ms/setupsecurityinfo return a HTTP 404 Not Found."
The referenced https://aka.ms/setupsecurityinfo currently redirects to https://account.activedirectory.windowsazure.com/securityinfo#/authenticationMethods , which is returning a Server Error, 404 - File or directory not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91ad4424-8d90-7947-2f95-aec67acfec45
* Versio

[2018-12-28 22:19] Adam-Smith-MSFT commented on #21374
@okrasz Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-12-28 22:19] kwexn opened #21387 "Typo on page"
You've got a typo in the top half of this page - "Create a notificaiton hub". The word "notification" has been mis-spelt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b48be73-2f29-6b2a-c837-751d3862bcdb
* Version Independent ID: efd00d73-1ff5-8689-8415-fe1630795123
* Content: [Send notifications to Universal Windows

[2018-12-28 22:32] technoprax opened #21388 "Specify Interval Since last completion time"
Is it possible to specify a recurring interval, where the next execution start time is calculated by adding interval value to the completion time of previous execution. For eg. If a job is set to recur every 1 hour and every execution takes about 30- 90 Mins, then it execution pattern should look like 9AM (finished at 9:20), 10:20 AM (finished at 11:35), 12:35 PM ?

The reason for this ask is that

[2018-12-28 22:47] DiegoRamirez-MSFT commented on #21368
hello @johnwhumphreys
thanks for the feedback, I have assigned this to the author for any possible update

best

[2018-12-28 22:52] cveld opened #21390 "Bearer header"
Why do you suggest to put the jwt in the custom http header "x-zumo-auth"? Wouldn't you prefer to use the authorization bearer header?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4518495-4e07-ce2e-4045-5a50b7922b55
* Version Independent ID: 034d1ba0-a737-21ab-3717-ed8798ac5fe1
* Content: [Advanced usage of authenti

[2018-12-28 22:55] DiegoRamirez-MSFT commented on #21384
hello @robertdsmithii
thanks for the feedback, I have assigned this to the content author to evaluate any possible update

best

[2018-12-28 23:10] djpereira opened #21391 "Use custom authentication for your application documentation is incomplete/inaccurate"
It is really difficult to get custom authentication working with just the information that you have in this page.

For example, if I follow "The ApiController should not use the [MobileAppController] attribute", it does not really work. I may be missing something but if I don't decorate with [MobileAppController] then the controller is not a visible API that you can call, and the mobile app can't

[2018-12-28 23:20] yevster opened #21392 "PowerShell script for Run-As account creation Windows-Only"
The "Manage Automation Run As account" is invalid on PowerShell core, as the `New-SelfSignedCertificate` CMDlet is unavailable there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e2500f-e1f5-bc87-6e5c-f41b59265049
* Version Independent ID: d212be48-7d05-847d-3045-cea82e6ba603
* Content: [Manage Azure Automation Run

[2018-12-28 23:34] User1m opened #21393 "Support for custom storage"
Azure [App Service Linux FAQ](https://docs.microsoft.com/en-us/azure/app-service/containers/app-service-linux-faq#multi-container-with-docker-compose-and-kubernetes) still mentions no support for BYO storage

 but it was public previewed in Sept per below.
https://blogs.msdn.microsoft.com/appserviceteam/2018/09/24/announcing-bring-your-own-storage-to-app-service/

---
#### Document Details

⚠ *Do

[2018-12-28 23:45] MarileeTurscak-MSFT commented on #21376
@smithGit
Thanks for your feedback! We will investigate and update as appropriate.

[2018-12-29 00:00] aspnet4you commented on #21353
@jason-j-MSFT: I updated the post with configurations and troubleshooting steps. I would be happy to share more if you give me some hint. :)-

[2018-12-29 00:12] Mike-Ubezzi-MSFT commented on #21388
@technoprax Can you please detail the services you are inquiring about. Is this a data load (which database platform?) or a web application? We need to understand more detail. Thank you!

[2018-12-29 00:42] femsulu commented on #21056
@imeya here's an andditinal tip if just discovered. You can run the following in a runbook to enumerate default modules.

help("modules")

[2018-12-29 01:11] SaurabhSharma-MSFT commented on #21386
@ziesemer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-12-29 01:11] SaurabhSharma-MSFT commented on #21234
@StizzyRaxx We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-12-29 01:11] #21234 closed

[2018-12-29 01:12] jason-j-MSFT commented on #21353
@aspnet4you this is some great content here.
There does not appear to be a dedicated Application Gateway forum, and I noticed a lot of questions about Application Gateway were being asked in the API Management forum.  I took another look, and I think the best forum to start a thread in would be Azure Networking:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesVirtualNetw

[2018-12-29 01:12] #21353 closed

[2018-12-29 01:13] femsulu commented on #21149
@cloudmelon , your issue has been raised with the feature owner. However, this is currently a preview feature with very limited support during this blackout period. I've been told this will be addressed in the new year, I strongly recommend raising this issue via [MSDN billing forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurepurchasing) where you may get a quicker respo

[2018-12-29 01:15] femsulu commented on #21149
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-29 01:15] #21149 closed

[2018-12-29 01:15] femsulu commented on #21258
Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-12-29 01:16] aamakerlsa opened #21394 "stuck after running waagent -deprovision+user -force"
I wanted to give VHD export a try (taking a working Azure based Ubuntu (18.04)  and exporting it) but when I ran the commands from this resource It dawned on me that I had deleted / removed my user account that I previously was able to use to SSH into the VM.

What do I need to do to recover from this?  I had no backups running unfortunately.

commands used:
`ssh azureuser@<publicIpAddress>`
`sudo

[2018-12-29 01:33] #21258 closed

[2018-12-29 01:43] femsulu commented on #21288
Closing issue as spam.

[2018-12-29 01:43] #21288 closed

[2018-12-29 02:11] aljo-microsoft commented on #21239
@Karishma-Tiwari-MSFT
This referenced document is for standalone clusters not hosted on Azure VMSS's:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-manifest

and user's managing them would reference this API documentation:
https://docs.microsoft.com/en-us/rest/api/servicefabric/sfclient-index

User's in Azure will also reference the above for Dev\Test and CI/CD work,

[2018-12-29 02:39] kraigb commented on #21379
@jmstanto Thanks for the report, and glad you're enjoying Azure Notebooks. With the package installation, you seem to have hit an issue with the service itself, rather than the documentation. In that case, please post the issue on https://github.com/Microsoft/AzureNotebooks/issues. Also check whether it's a dupe of existing issues, like https://github.com/Microsoft/AzureNotebooks/issues/438. Thank

[2018-12-29 03:38] amazingyyc commented on #20573
Does Ubuntu RDMA support openmpi or nccl?

[2018-12-29 03:48] aspnet4you commented on #21353
Thanks, @jason-j-MSFT. I posted the question at the forum. Sharing the link here in case anyone wanted to find the resolution (if any)- [](https://social.msdn.microsoft.com/Forums/en-US/eb579479-2483-4e48-a035-653264a1b58f/tlsssl-offloading-not-working-with-app-gateway-and-aks-ingress?forum=WAVirtualMachinesVirtualNetwork).

[2018-12-29 04:53] xavidram opened #21395 "Azure Atlas Map samples do not seem to reproduce what is demonstrated on the site"
I am working on a wrapper for the Azure Atlas Map for  Angular, as @Acaisoft's version has some deprecation issues. Upon working on this project I noticed the CSS for the canvas is quite broken. I figured it was an issue with my wrapper so I went back to basic and followed the tutorials found [here](https://docs.microsoft.com/en-us/azure/azure-maps/map-add-popup).

The problem is that when I follo

[2018-12-29 06:40] aspnet4you commented on #21353
@jason-j-MSFT: I am able to track down the issue and it's network related as everyone would imagine! AzureDiagnostics showed me some traffic being blocked both inbound and outbound. They are related to the private ip (10.254.1.4) of App Gateway. It's not my intention to allow inbound traffic from internet to App Gateway private ip and outbound from private ip to internet but that's what I did to t