[2019-12-30 07:41] SwathiDhanwada-MSFT commented on #45271
@Skatterbrainz Thanks for reaching out! I tried to reproduce the issue from my end and I didn't receive any error message. I would suggest you to try again by following the steps.

Here is sample snapshot  for your reference.

![image](https://user-images.githubusercontent.com/48976275/71572587-dbc25b80-2b05-11ea-874e-ca2e7d3d8859.png)

[2019-12-30 07:54] SwathiDhanwada-MSFT commented on #45215
@kastromatos Thanks for reaching out! At current moment, the description field of the event- not the alert rule- is being set in to the alert.  That’s why you aren’t seeing the description from the alert rule.With that said, in order to align behavior between alerts they added a work item to our back log to change the description to be the alert rule one.   There’s no ETA but a great feature that

[2019-12-30 08:05] jayfam91 opened #45344 "Regarding port: 10255 to be opened on all nodes in the cluster to collect performance metrics"
Performance charts don't show CPU or memory of nodes and containers on a non-Azure cluster
For security reason, port 10255 (HTTP) been disable by default. 10250 (HTTPS) is open. Client sent an HTTP request to an HTTPS server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e97e5f4a-02be-a52d-2e92-865f8ab7f1eb
* Version

[2019-12-30 08:05] Karishma-Tiwari-MSFT commented on #45258
@drewwilliams1982 Please make sure you follow all the prerequisites as described here: https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#before-you-begin

1. Updated Azure CLI
1. Registering for the windows preview feature
3. Your cluster also need to use a network policy that uses Azure CNI (advanced) network plugin.

[2019-12-30 08:11] perkops opened #45345 ""Add your registry credentials" section should be re-written to match best practice"
The section mentions to input ones registry credentials directly in the deployment.template.json file. This is however a bad idea since this file is potentially under source control. (No note/warning of this in the tutorial).

In the other tutorial (https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-windows) this is written better under the section "Provide your registry credenti

[2019-12-30 08:13] owingruters opened #45346 "Impact on costs when enabling web app in-guest changes"
For the costs of registering "Microsoft.ChangeAnalysis" resource provider it is cleary written that it does not have any impact on performance or cost. However, for enabling Change Analysis in the Diagnose and solve problems tool, it is not explicitely defined. I assume also here there is no impact on performance and cost, but it would be clearer to explicitely state that (or not if my assumption

[2019-12-30 08:21] sysadmin-exe commented on #33157
I had the same issue. However I was able to solve issue by removing the Key Vault certificate using PowerShell and not resource explorer using explorer showed the below error:
{
 "error": {
   "code": "MissingIdentityIds",
   "message": "The identity ids must not be null or empty for 'UserAssigned' identity type."
 }
}
-------------------------------------------------
used the below sample script

[2019-12-30 08:22] jakaruna-MSFT commented on #45339
This error looks wired.  I am able to see connection drops from https://management.azure.com

Can you try executing other cli commands and check if its working or not?

commands like list virtual machines - az am list

[2019-12-30 08:39] ChiragMishra-MSFT commented on #45248
@huajunzhao Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - MSDN or stack overflow.

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

Please create a Forum thread and post it's link here and tag me so that we can track that thread. We woul

[2019-12-30 08:39] #45248 closed

[2019-12-30 08:42] msrini-MSFT commented on #45341
@Vincent0818 , You can get the FQDN of the gateway from the OpenVPN file which you download from the portal.

[2019-12-30 08:42] AshokPeddakotla-MSFT commented on #45193
@thomasjsweet PR has been created to address this and update the doc. Changes will go live once it has been peer reviewed and merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-30 08:42] #45193 closed

[2019-12-30 08:43] PramodValavala-MSFT commented on #45313
@jhgbrt The Azure Table Storage SDK has to be used for scenarios which the binding doesn't support. The doc does mention this in a note and links to the relevant doc (but not the right section)

![image](https://user-images.githubusercontent.com/43602528/71574288-25af3f80-2b0e-11ea-85df-87ac82a35246.png)

Depending on your use case, you could use one of the other [`TableOperations`](https://docs.m

[2019-12-30 08:43] SwathiDhanwada-MSFT commented on #45344
@jayfam91 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-30 08:44] MaRX8nka commented on #45312
Thanks, but from the article I understood that the code you published should be updated to address the changes causes by gulp newer version.

I uninstalled gulp4  and installed 3.9.1 instead, but now another error popped up:
C:\Users\Esa\Documents\Openstack\Azure cloud\Meanjs\meanjs>npm start

fs.js:27
const { Math, Object } = primordials;
                         ^

ReferenceError: primordials is

[2019-12-30 08:47] VikasPullagura-MSFT commented on #45342
@yuriwoof Thanks for providing the details.

I am assigning the issue to content author for checking if there is a valid doc update required for mentioning about the aks-preview step in the document.

[2019-12-30 08:49] VikasPullagura-MSFT commented on #45342
@mlearned Can you please look into this and add your comments for the requirement of doc update on aks-preview part.

[2019-12-30 08:55] PramodValavala-MSFT commented on #45292
@datocrats-org The CNAME record would be for your required custom domain, i.e. `api.contoso.com`, and point it the gateway endpoint, `<apim-service-name>.azure-api.net`.

If you have setup a different domain for the portal for example, then you would require another CNAME record for that endpoint, `<apim-service-name>.portal.azure-api.net`.

[2019-12-30 09:00] SubhashVasarapu-MSFT commented on #45208
@annerajb , Appreciate your patience. The system requirements were mentioned for user convenience before downloading this VPN client from the store and also it was stated in the document too.
![image](https://user-images.githubusercontent.com/44890829/71574617-8db25580-2b0f-11ea-95f7-c3856e85be6b.png)
![image](https://user-images.githubusercontent.com/44890829/71574886-b424c080-2b10-11ea-9dfd-df1b

[2019-12-30 09:00] #45208 closed

[2019-12-30 09:01] haoxin opened #45347 "What's type of subscription supports lighthouse?"
Wher I tried the template, I got  "The registration definition 'a6b662c2-305a-57c9-927d-36aa5eba47ff' not allowed to use the '72f988bf-86f1-41af-91ab-xxxxxxxxx' as ManagedByTenantId."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85dc331a-0f34-f9a2-43d9-8ab7e0e635c6
* Version Independent ID: 96c07c81-f84c-f47b-659c-b3

[2019-12-30 09:03] PramodValavala-MSFT commented on #45260
@bradunov Just following up here... Hope my previous comment clears things up.

[2019-12-30 09:10] SwathiDhanwada-MSFT commented on #45347
@haoxin Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-30 09:15] ositobio opened #45348 "Complete health probe failure not correct"
In the last part of the document it states:
"If health probes fail for every backend in a backend pool, then Front Door considers all backends healthy and routes traffic in a round robin distribution across all of them."

That is not correct. If health probes fail for every backend in a backend pool, Front Door DOESN'T consider backends healthy and, thus, won't route traffic. Only when the health

[2019-12-30 09:16] SubhashVasarapu-MSFT commented on #45293
@m6soto , Thanks for your valuable feedback 👍 . We have edited the document accordingly. It would take sometime for the changes to get reflect over the document.

[2019-12-30 09:17] SadiqhAhmed-MSFT commented on #45346
@owingruters Thank you for the feedback. This issue is being assigned to the content author to evaluate and update as appropriate.

@bwren @CawaMS @mrbullwinkle FYI, to review and update as needed.

[2019-12-30 09:18] SumanthMarigowda-MSFT commented on #45198
@kogesaka This is Unknown cause, We need more information and collect logs again at next reproduction. If you find any issues again I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further question

[2019-12-30 09:18] #45198 closed

[2019-12-30 09:23] bradunov commented on #45260
Sorry, you are right, it was my bad. The UI has slightly changed from what is in the docs, and what was called Application Settings is now called Configuration (see the first picture in https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings). I ended up adding the key value pair to a wrong list. Once I fixed that, it worked. Thanks.

[2019-12-30 09:29] #45293 closed

[2019-12-30 09:39] AshokPeddakotla-MSFT commented on #45345
@perkops Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-30 09:41] VikasPullagura-MSFT commented on #45331
@kalyanavvaru Thanks for pointing this out.
I am assigning this to content author for checking and adding comment on the document update as applicable.

[2019-12-30 09:42] VikasPullagura-MSFT commented on #45331
@cynthn Can you please look into this and add your comments.

[2019-12-30 09:44] msrini-MSFT commented on #45348
@ositobio , Thank you for your feedback. We will investigate and get back to you shortly.

[2019-12-30 09:51] msrini-MSFT commented on #45348
@ositobio , I tested it myself with having a web app behind the Frontdoor and configured the probes to a directory that doesn't exist. When I browsed the AFD URL , I am still able to get the page loaded.

The statement in the doc is correct. Let me know if you have any further questions.

[2019-12-30 09:58] SadiqhAhmed-MSFT commented on #45229
@CeciAc There is no extra cost for the export automation engine itself, but, since the export will be stored in a storage account, there will be standard costs for that (though I expect that to be minimal since the file shouldn’t be that big).

Hope this answers your question!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your rep

[2019-12-30 09:58] #45229 closed

[2019-12-30 10:08] SwathiDhanwada-MSFT commented on #45340
Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-30 10:12] souravmishra-msft commented on #45096
@erapade, You can check for who has consented for the delegated permission under the service principal object.

![image](https://user-images.githubusercontent.com/54057592/71577554-a6743880-2b1a-11ea-9ff6-35d54b5e548e.png)

As far now I am not sure if there is a way to delete the consent for each permission. But I am checking on this and I will update you with more details.

[2019-12-30 10:20] PramodValavala-MSFT commented on #45257
@bradunov I believe the worker [expects `__app__` when trying to load imports](https://github.com/Azure/azure-functions-python-worker/blob/dev/azure_functions_worker/loader.py) on Azure. The contents of `__app__` are zipped and published into `/home/site/wwwroot` directly instead of another folder.

Putting your functions in a `__app__` folder would help for local development too. I have tested a

[2019-12-30 10:22] PramodValavala-MSFT commented on #45260
@bradunov Glad you were able to get it to work! Please feel free to open an issue on the doc that you've shared to update the screenshot.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-30 10:22] #45260 closed

[2019-12-30 10:25] jfkproductions opened #45350 "InvalidApplicationPackageReferences"
I am getting a InvalidApplicationPackageReferences when commiting the pool
I have  tried to downgrade my packages as well as my dotnet version currently (core 2.1).

![image](https://user-images.githubusercontent.com/1781531/71578065-4754fa80-2aff-11ea-8ef6-58d5f51ec04c.png)

![image](https://user-images.githubusercontent.com/1781531/71578051-30aea380-2aff-11ea-8cab-c3e63b5e95fd.png)

[2019-12-30 10:29] jesper247 opened #45351 "ISO8601"
I would really like the Azure custom log parser to support the ISO8601 "covering the exchange of date- and time-related data". Especially the part about decimal fractions related to milliseconds in timestamps like this

or

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a6a6861-9a02-bd6d-f389-67d8008295ac
* Version Ind

[2019-12-30 10:58] SadiqhAhmed-MSFT commented on #45132
@jzuchora87 AFAIK, there is no REST API call to bulk transfer subscriptions from one tenant to another. Suggest you to leave a feedback and comment here - https://feedback.azure.com/forums/170030-signup-and-billing

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen t

[2019-12-30 10:58] #45132 closed

[2019-12-30 11:04] SadiqhAhmed-MSFT commented on #45272
@warpdriv By default, this check box is not selected. The error occurs if for some reason you must have previously selected the check box. Try to enable third-party cookies to see if that fixes the issue. Perform the following steps:

 Start Internet Explorer.
 On the Tools menu, click Internet Options.
 Click Privacy, and then click Advanced.
 Click to clear the Override automatic cookie handling

[2019-12-30 11:04] #45272 closed

[2019-12-30 11:07] KrishnaG-MSFT commented on #45351
@jesper247 Thanks for the valuable 'produce feedback' or in other words 'product feature request'. I believe [this](https://feedback.azure.com/forums/267889-azure-monitor-log-analytics/suggestions/15968986-custom-logs-import-and-delete-and-add-custom-tim) and/or [this](https://feedback.azure.com/forums/267889-azure-monitor-log-analytics/suggestions/38301532-support-millisecond-microsecond-precisio

[2019-12-30 11:14] SadiqhAhmed-MSFT commented on #45336
@bdcoder2 Yes, you need to have "[Visual Studio Subscription](https://visualstudio.microsoft.com/subscriptions/)" formerly knows as MSDN subscription.
Thanks for bringing this to our attention. We will have this reviewed by the content owner and update as appropriate.

@bandersmsft FYI, to review and update as required.

Closing this thread for now. Please don't hesitate to reply if you've further

[2019-12-30 11:14] #45336 closed

[2019-12-30 11:15] GiantCrocodile commented on #28906
It would be great if we have native Debian 10 support.

[2019-12-30 11:17] ManojReddy-MSFT commented on #45297
@MhAllan We cannot customize the subject field.  Currently, only Banner Logo and Background color can be customized.

"Specifically, these two elements of the email can be customized:
Banner logo: Shown at the bottom-right.
Background color: Shown at the top."

[2019-12-30 11:28] asergaz commented on #45301
I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-30 12:01] ManojReddy-MSFT commented on #44910
@krozgrov Apologize for the delay in getting back to you. I tested this in a couple of tenants and it is working as expected for me. I can see the option "I want to set up a different method".

As this is a unique case and not specifically related to the doc, I would have recommended you to open a support ticket. I understand that you already have a support ticket.  I have already reached out to t

[2019-12-30 12:01] #44910 closed

[2019-12-30 12:03] hbuckle opened #45352 "Installing extension fails on server core"
The extension will not install on server core, it fails due to a missing dll `C:\Windows\System32\dsreg.dll` - is there any way to install this feature on server core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759fbca
* Version Independent ID: 885a61d1-6096-5aa0-fe8d-f1ec8d55e542
* Con

[2019-12-30 12:04] asergaz commented on #14254
@maxbl4 @zulli73 thank you so much for your feedback.

I am reopening this issue to evaluate if we need to enhance the document so that we can be more clear whether this can run on ARM or just ADM64.

@kgremban can you help validate?

Thanks!

[2019-12-30 12:12] asergaz commented on #45264
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-30 12:25] asergaz commented on #45268
Thanks for the feedback @perkops , fix on it's way ;)!

[2019-12-30 12:28] yguipsot opened #45353 "Solution pushed and deployed, but modules Not Running on Device."
Hi,

I created the manifest and pushed the solution with both modules (classifier and cameracapture) to the container registry (I can see them listed on the repositories). Then I created the deployment for single device (a Microsoft Azure IoT Starter Kit camera) but I can't see them on the device if I check on VS Code explorer, and if I check on Azure portal, I can see the modules listed (along wi

[2019-12-30 12:33] SwathiDhanwada-MSFT commented on #45250
@kazshi AFAIK, you can't move event subscriptions across the subscriptions.

[2019-12-30 12:34] #45268 closed

[2019-12-30 12:36] yguipsot commented on #45353
I'm including an image of how the modules look on the IoT Edge Device...
![image](https://user-images.githubusercontent.com/33676101/71582186-215e4300-2b5d-11ea-8a13-7c953933e202.png)

[2019-12-30 12:41] SadiqhAhmed-MSFT commented on #45287
@mananshah19 Currently, premium storage cache account is not supported for ASR replication. Only Standard storage accounts are used for cache storage, to help optimize costs. Reference: https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-support-matrix#cache-storage

Closing this thread for now. Please don't hesitate to reply if you've further questions and we can continue the disc

[2019-12-30 12:41] #45287 closed

[2019-12-30 12:45] jakaruna-MSFT commented on #45252
@aelmanaa Thanks for reporting.

I am able to reproduce the issue.
I will update the document.

During the uninstall command, Command wrote logs also to the output/man.yaml

[2019-12-30 12:46] jakaruna-MSFT commented on #45188
@AjKundnani ok.
In which region you tried

[2019-12-30 12:47] msaravindh opened #45355 "ARM Template for Service Health Alerts"
I wish to create service health alerts using ARM template. The template in the link -https://docs.microsoft.com/en-us/azure/service-health/alerts-activity-log-service-notifications selects all services and regions. I want to filter the Region to say "East US" and the Service to say "Virtual Machine" & "Virtual Machine Scale Sets". Is this possible through ARM templates? I don't see a way to do tha

[2019-12-30 12:48] msaravindh commented on #17302
@Mike-Ubezzi-MSFT  : Sure i created a new issue here https://github.com/MicrosoftDocs/azure-docs/issues/45355

[2019-12-30 12:53] aelmanaa commented on #45252
@jakaruna-MSFT yes indeed.had to manually cleanup the logs before runnin "kubectl apply -f output/man.yaml" . I'm not istioctl , maybe there is a better way ;)

[2019-12-30 12:55] PramodValavala-MSFT commented on #45251
@BoricuaEnLaLuna I believe a more appropriate place for an insightful discussion on this would be the [azure-functions-host](https://github.com/Azure/azure-functions-host) repo. Please feel free to open an issue there. Apologies for the run around.

We will assign this issue to the content author for further review and to update the docs as required.

[2019-12-30 13:03] AjKundnani commented on #45188
West US 2.

[2019-12-30 13:05] mike-urnun-msft commented on #45350
@jfkproductions Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-12-30 13:22] mike-urnun-msft commented on #45355
@msaravindh Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-12-30 13:27] msaravindh commented on #45355
@mike-urnun-msft : Sure I edited my original post to include the relevant link - https://docs.microsoft.com/en-us/azure/service-health/alerts-activity-log-service-notifications

[2019-12-30 14:00] diberry commented on #45152
@dkonyayev @YutongTie-MSFT You have the option of selecting an existing resource. I'll update the doc.
![luis-migrate-existing-authoring-resource](https://user-images.githubusercontent.com/41597107/71584924-a566eb00-2ac9-11ea-85b2-43c307ed2450.jpg)

#in-progress

[2019-12-30 14:22] omroczkowski commented on #44603
How can we set the voice after ssml being deleted from bot's code?

[2019-12-30 14:38] jorritmeijer80 opened #45356 "Question: is Accelerated Networking supported on Application Gateway"
I have a question regarding Accelerated Networking. It's available for a lot of VM types which is great, however if you create an enviroment with multiple AN enabled VM's and an application Gateway v2 in front of it, will AN also be active on the AGWv2? Or is this not possible/useful?
Since the AGWv2 is a linux NVA, i thought it might be enabled. Looking for confirmation.

---
#### Document Detail

[2019-12-30 14:46] mike-urnun-msft commented on #45355
Thanks @msaravindh! I've assigned an engineer who can help with the next steps.

[2019-12-30 14:48] mike-urnun-msft commented on #45356
@jorritmeijer80 Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2019-12-30 15:04] jflieben opened #45357 "ARM support"
How would one accomplish this in a fully automated ARM deployment?

E.g. is the web.config modification, but also the GRANT on a specific sql database.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31b0d33c-f88e-d50c-2926-7933940f3b92
* Version Independent ID: 4aaef906-f501-6947-5d23-1b704470f09d
* Content: [Tutorial:

[2019-12-30 15:11] amkondi commented on #42120
Hello,

Any Updates ?

[2019-12-30 15:18] CeciAc opened #45358 "4. On the Basic SAML Configuration section,"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2995

The comments below were machine-translated
@hisssa commented 2 days ago — with docs.microsoft.com
The screenshot above is out of date and the comments are missing. Response URL field has been added, so I would like to add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-12-30 15:21] orsharon7 opened #45359 "KeyPath cannot be Global Variable, Needs to be added to Profile"
Once PS session is off, the variable will not be available.
You need to add the KeyPath endpoiint is PS profile:

&gt; notepad $PROFILE.AllUsersAllHosts
$KeyPath = "&lt;PATH&gt;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24a6c4e2-702f-2b17-3e2d-c86f33b13beb
* Version Independent ID: 1e7811d8-668a-db98-34ca-eaf4d7e

[2019-12-30 15:32] CeciAc opened #45360 "Sign in to the Additional Security Verification page and select Application Password."
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.zh-tw/issues/605
I couldn't repro the issue because it doesn't let me log in when I go to https://account.activedirectory.windowsazure.com/Proofup.aspx

The comments below were machine-translated

@doggy8088 commented 2 days ago — with docs.microsoft.com
I can’t find the link for “App Password” after logging in to the “Ot

[2019-12-30 15:35] ehsf973 opened #45361 "FailoverClusters"
Import-Module FailoverClusters
can you give us the link for powershell library to download ?
the failover cluster manager is a pc remote tool like VSTS ? you don't mentionned it at the begin of the page for starting. The actions in this part could it be done all from the azure portal  in the database part on the sql database is set in an availability set of vms ?

---
#### Document Details

⚠ *Do

[2019-12-30 15:40] kastromatos commented on #45215
@SwathiDhanwada-MSFT We can close this issue then. Thanks a lot for your job, appreciate that!

[2019-12-30 15:40] diberry commented on #45152
Fix will be published this week. #please-close

[2019-12-30 15:40] #45152 closed

[2019-12-30 15:41] simonrivas commented on #32126
@DixitArora-MSFT where can we find the updated documentation about the MessageReceiver parameter?

[2019-12-30 15:46] mike-urnun-msft commented on #44657
@toddysm Thanks for reporting this issue and helping us drive improvements towards MS Docs! I've updated the csharp sample demonstrating the output binding with a fix and the changes should be live shortly after the PR merge.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-12-30 15:46] #44657 closed

[2019-12-30 15:50] sajithvasu commented on #34591
@shashishailaj : Is there any ETA when Bastion Host will support AAD login?

[2019-12-30 16:25] erhopf commented on #45338
@oscholz - Feel free to make these fixes against azure-docs-pr when you see them. When it's a minor grammatical issues, these will likely qualify for automerge, then you don't need to wait on a reviewer or for a writer to pull this out of their backlog. ;)

[2019-12-30 16:26] ChristianMontoya commented on #45222
@hoppyshaw : Yes, Windows 10 Enterprise 1909 does have a multi-session version. In the gallery, you'll find "Windows 10 Enterprise multi-session, Version 1909": https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoftwindowsdesktop.windows-10?tab=PlansAndPrice .

( @Shambhu-MSFT , @Karishma-Tiwari-MSFT : FYI)

[2019-12-30 16:29] #45254 closed

[2019-12-30 16:33] DevOpsFounder commented on #44851
No problem @AjayKumar-MSFT. Next time, I will raise a pull request. I have already done that yesterday for other MS labs. This was my first but will not be the last :-)

Thanks again!

[2019-12-30 16:37] gbmarimuthu commented on #44967
Any Update about this issue. We just started to apply permission for our HDI4 clusters. When we apply permission rwx for the user the write checkbox is checked but disabled(cant edit from UI).

[2019-12-30 16:45] dargilco commented on #44603
@omroczkowski I updated the tutorial to include an example of adding SSML to the bot for the purpose of changing spoken language and/or TTS voice. See: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/tutorial-voice-enable-your-bot-speech-sdk#optional-change-the-language-and-bot-voice

[2019-12-30 16:45] #44603 closed

[2019-12-30 16:47] gbmarimuthu commented on #44967
[Before Permissions Script execution on folder.docx](https://github.com/MicrosoftDocs/azure-docs/files/4010374/Before.Permissions.Script.execution.on.folder.docx)

[2019-12-30 16:57] asergaz commented on #45353
Thank you for your feedback @yguipsot .

This tutorial was tested and working if you fulfill the prerequisite "[Linux device running Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/quickstart-linux)"

Since you are running Azure IoT Starter Kit camera as your edge device, I would like to move this discussion to a different forum so others facing similar issues can help as well.

Ca

[2019-12-30 17:11] CeciAc opened #45363 "do some schemes for the flow processing"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/668

@ehsf973 commented 6 hours ago — with docs.microsoft.com
for this part

"A side effect is that if an outbound flow from a VM in the back-end pool attempts a flow to front ........ to any other VM in the back-end pool, the halves of the flow do match and the VM can respond to the flow."

could you do some

[2019-12-30 17:22] FrankHu-MSFT commented on #45352
@hbuckle Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-30 17:23] FrankHu-MSFT commented on #45358
@hisssa Thanks for your feedback! We will investigate and update as appropriate.

cc: @CeciAc

[2019-12-30 17:23] FrankHu-MSFT commented on #45360
@doggy8088 Thanks for your feedback! We will investigate and update as appropriate.

cc : @CeciAc

[2019-12-30 17:34] souravmishra-msft commented on #43944
@jorgecarleitao, I would suggest you to drop a post on the uservoice forum highlighting the concern. You can post the concern here:[ https://feedback.azure.com/forums/169401-azure-active-directory](url)

[2019-12-30 17:47] souravmishra-msft commented on #45071
@keithdv, I apologize for the delay in my response. I did check the thread and would really like to understand some more details about why are we trying to get a SAML assertion generated from the same IDP from where we plan to fetch the token.

I would rather go for the Authorization Code Grant flow of OAuth2.0 and get the access token. I am not really sure if this is supposed to work even.

I hav

[2019-12-30 17:49] josh-gregory opened #45364 "Discrepancy in Documentation - Availability Set Back End Pool"
You mention "Availability Zones" in the title, and in the documentation it references that "availability sets" can be targets of the backend pools for a Standard SKU load balancer, but this seems like that's no longer the case.

Can we confirm that either the documentation is wrong, or that there is an issue when setting the backend pool of a load balancer via the Azure portal?

---
#### Document

[2019-12-30 17:53] xhinker opened #45365 "Too many pictures in the document"
Two problem with too many pciture/screenshot in the document
1. Hard to follow up, too much visual burden.
2. with the time goes, UI will be updated inevitably.  and the document will be obsolete. and why do I want to spend time to follow up those tedious steps if the knowledge won't last long?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-12-30 18:11] umeshbarapatre commented on #45071
Hi Keith,

To get a SAML assertion, you would need to have a IDP i.e identity provider federated with Azure active directory. I tested this with ADFS and one more third party identity provider. Any IDP which supports SAML 2.0 tokens should work with this. Hope this helps !

Thanks
Umesh

From: Keith Voels [mailto:notifications@github.com]
Sent: 21 December 2019 02:44
To: MicrosoftDocs/azure-docs <

[2019-12-30 18:12] Dzejms opened #45366 "The Class Library Output Attribute Does Not Generate an Output Binding in function.json"
When I copy this into a new azure functions project/solution in visual studio the generated function.json does not include an output binding:
[FunctionName("ServiceBusOutput")]
[return: ServiceBus("myqueue", Connection = "ServiceBusConnection")]
public static string ServiceBusOutput([HttpTrigger] dynamic input, ILogger log)
{
    log.LogInformation($"C# function processed: {input.Text}");
    retu

[2019-12-30 18:12] MicahMcKittrick-MSFT commented on #8107
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:12] #8107 closed

[2019-12-30 18:13] MicahMcKittrick-MSFT commented on #8791
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:13] #8791 closed

[2019-12-30 18:13] MicahMcKittrick-MSFT commented on #12240
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:13] #12240 closed

[2019-12-30 18:13] MicahMcKittrick-MSFT commented on #15888
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:13] #15888 closed

[2019-12-30 18:14] MicahMcKittrick-MSFT commented on #16096
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:14] #16096 closed

[2019-12-30 18:14] MicahMcKittrick-MSFT commented on #16536
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:14] #16536 closed

[2019-12-30 18:14] MicahMcKittrick-MSFT commented on #16808
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:14] #16808 closed

[2019-12-30 18:14] MicahMcKittrick-MSFT commented on #16809
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:14] #16809 closed

[2019-12-30 18:15] MicahMcKittrick-MSFT commented on #16812
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:15] #16812 closed

[2019-12-30 18:15] MicahMcKittrick-MSFT commented on #17698
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:15] #17698 closed

[2019-12-30 18:15] MicahMcKittrick-MSFT commented on #18988
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:15] #18988 closed

[2019-12-30 18:15] MicahMcKittrick-MSFT commented on #19050
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:15] #19050 closed

[2019-12-30 18:16] MicahMcKittrick-MSFT commented on #19080
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:16] #19080 closed

[2019-12-30 18:16] MicahMcKittrick-MSFT commented on #19239
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:16] #19239 closed

[2019-12-30 18:16] MicahMcKittrick-MSFT commented on #19752
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:16] #19752 closed

[2019-12-30 18:16] MicahMcKittrick-MSFT commented on #20014
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:16] #20014 closed

[2019-12-30 18:17] MicahMcKittrick-MSFT commented on #20171
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:17] #20171 closed

[2019-12-30 18:17] MicahMcKittrick-MSFT commented on #20655
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:17] #20655 closed

[2019-12-30 18:17] MicahMcKittrick-MSFT commented on #20764
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:17] #20764 closed

[2019-12-30 18:18] MicahMcKittrick-MSFT commented on #10149
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:18] #10149 closed

[2019-12-30 18:18] MicahMcKittrick-MSFT commented on #11321
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:18] #11321 closed

[2019-12-30 18:18] MicahMcKittrick-MSFT commented on #13054
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:18] #13054 closed

[2019-12-30 18:19] MicahMcKittrick-MSFT commented on #14697
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:19] #14697 closed

[2019-12-30 18:19] MicahMcKittrick-MSFT commented on #15836
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:19] #15836 closed

[2019-12-30 18:19] MicahMcKittrick-MSFT commented on #17195
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:19] #17195 closed

[2019-12-30 18:19] MicahMcKittrick-MSFT commented on #17581
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:19] #17581 closed

[2019-12-30 18:20] MicahMcKittrick-MSFT commented on #18076
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:20] #18076 closed

[2019-12-30 18:20] MicahMcKittrick-MSFT commented on #18185
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:20] #18185 closed

[2019-12-30 18:20] MicahMcKittrick-MSFT commented on #18371
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:20] #18371 closed

[2019-12-30 18:20] MicahMcKittrick-MSFT commented on #18943
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:20] #18943 closed

[2019-12-30 18:20] MicahMcKittrick-MSFT commented on #19055
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:21] #19055 closed

[2019-12-30 18:21] MicahMcKittrick-MSFT commented on #19846
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:21] #19846 closed

[2019-12-30 18:21] MicahMcKittrick-MSFT commented on #19980
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:21] #19980 closed

[2019-12-30 18:21] MicahMcKittrick-MSFT commented on #19981
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:21] #19981 closed

[2019-12-30 18:21] MicahMcKittrick-MSFT commented on #20137
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:21] #20137 closed

[2019-12-30 18:21] MicahMcKittrick-MSFT commented on #20222
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:21] #20222 closed

[2019-12-30 18:22] MicahMcKittrick-MSFT commented on #20344
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:22] #20344 closed

[2019-12-30 18:22] MicahMcKittrick-MSFT commented on #21033
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:22] #21033 closed

[2019-12-30 18:22] MicahMcKittrick-MSFT commented on #21440
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 18:22] #21440 closed

[2019-12-30 18:25] #45319 closed

[2019-12-30 18:26] Karishma-Tiwari-MSFT commented on #45222
Thanks @ChristianMontoya :)
@hoppyshaw Hope that helps answer your question. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-30 18:26] #45222 closed

[2019-12-30 18:32] jeevansd commented on #45358
@chetansriv Please retest this and update the doc as needed.

[2019-12-30 18:34] Karishma-Tiwari-MSFT commented on #45359
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-30 18:39] jeevansd commented on #45146
@iMemphisXx Per our plugin requirement you need to disable the WebSudo and after that you will not face this issue. We have verified this in our lab and it is working well after disabling the WebSudo.

[2019-12-30 18:39] jeevansd commented on #45146
#please-close

[2019-12-30 18:39] #45146 closed

[2019-12-30 18:41] jeevansd commented on #44646
@mlwhite4 Can you please submit the new update request in Microsoft Application Network Portral and then we can update the application as needed? Complete information on updating the app in Azure AD App gallery is here https://aka.ms/AzureADAppRequest

[2019-12-30 18:42] jeevansd commented on #44646
I am closing this ticket as you need to submit the request for updating the app. #please-close

[2019-12-30 18:42] #44646 closed

[2019-12-30 18:43] jeevansd commented on #44512
@chetansriv Can you please retest this application? Also this seems to be IDP initiated SSO now.

[2019-12-30 18:44] jeevansd commented on #44345
@chetansriv and @v-nagta Can you please take down this article? The app is now removed from the gallery.

[2019-12-30 18:46] jeevansd commented on #43825
@chetansriv and @v-nagta Can you please review this issue?

[2019-12-30 18:48] jeevansd commented on #43735
@chetansriv for tracking

[2019-12-30 18:49] jeevansd commented on #43341
@chetansriv and @v-nagta for tracking

[2019-12-30 18:50] jeevansd commented on #43289
@chetansriv and @v-nagta for tracking

[2019-12-30 18:53] MarkMeyerMeyerNet commented on #23029
I'm seeing the same issue with Google Verification.  Has there been an answer or workaround for this?

[2019-12-30 18:54] jeevansd commented on #43271
@ClaudioRifo We do not support automatic User Provisioning with this app. SAML just in time user provisioning means when the user authenticates and if the user does not exist in Palo Alto then it will get created.
We are reviewing all the configurations again and update the doc now.
@chetansriv and @v-nagta for tracking

[2019-12-30 18:54] v-kydela opened #45369 "Please document open-ended date-time ranges"
There is currently no documentation for the `mod` field which can be returned as a part of a value in a `datetimeV2` entity. Example for the entity "before yesterday":

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e64e2485-bcef-05c1-ee5a-10a0f3be7275
* Version Independent ID: f5adced3-6007-4fdb-51ba-cb95f16bbe

[2019-12-30 18:56] jeevansd commented on #42466
@chetansriv and @v-nagta for tracking

[2019-12-30 18:58] jeevansd commented on #42391
@mandiaya Yes the plugin is compatible with JIRA 8.2.6 and also 8.5.1
The doc is also updated for the same. If you have issues in the configuration in using SSO please raise the support ticket.

[2019-12-30 18:58] jeevansd commented on #42391
#please-close

[2019-12-30 18:58] #42391 closed

[2019-12-30 19:02] tis-github commented on #45337
Hello Karthik

Thanks for your quick reply!

So thanks to your help, I got this up and running. Some notes:

- in the Azure web interface, I put in a subnet to give the P2S setting some information, and it saved successfully. However, when running the commands you have for 'if you have no root certificates configured', it gave me the same 'can not be null' error
- I ended up creating a self-signed

[2019-12-30 19:03] #45337 closed

[2019-12-30 19:14] MicahMcKittrick-MSFT commented on #34935
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 19:14] #34935 closed

[2019-12-30 19:14] MicahMcKittrick-MSFT commented on #28077
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 19:14] #28077 closed

[2019-12-30 19:15] toddjohnson39 commented on #45282
FYI. The following commands work to allow signing in with account other than currently logged on account:

C:\Windows\System32\runas.exe /user:Domain\User "\"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe\" --auth-server-whitelist=\"_\" \"https://portal.azure.com\""
"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --auth-server-whitelist="_" "https://portal.azure.com"

[2019-12-30 19:18] anoopasokan opened #45373 "How Functionapp gets the storage connection string"
I have followed this documentation and unable to understand how the function app gets linked to the storage account. As per the documentation steps, &lt;triggerConnectionString&gt; is used only to create storage containers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5111706-3d4f-f436-5f72-49b879c8d3fa
* Version In

[2019-12-30 19:19] diberry commented on #45369
#in-progress Checked the [dependency repo](https://github.com/microsoft/Recognizers-Text).

[2019-12-30 19:20] peterpogorski commented on #44179
@abarberenaCPDS thank you for pointing this out! The Azure samples repo is the official source and will have the most up to date samples.

I have updated the article to direct towards the Azure samples repo.

#please-close

[2019-12-30 19:20] #44179 closed

[2019-12-30 19:20] santhoshbomma9 opened #45374 "How can you create custom amendments"
I don't see an option when creating an offer to do custom amendments to the standard contract. Is this information still relevant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e6aba9e-03e6-9955-8f58-c3e32494d901
* Version Independent ID: 458939b9-0a4b-ee23-afa8-0e5b299d498e
* Content: [Standard Contract](https://doc

[2019-12-30 19:23] peterpogorski commented on #43501
#reassign masnider

[2019-12-30 19:33] MicrosoftGuyJFlo commented on #45205
@ekzp We welcome community contributions as our teams are quite small that maintain the documentation. Criticizing those of us who spend all day every day making sure the documentation is in the best form possible does not help the situation. Most of us own multiple feature areas with even more Program Managers and Develeopers to keep up with for changes.

I will update the doc as I have time in t

[2019-12-30 19:34] MicrosoftGuyJFlo commented on #45205
#please-close

[2019-12-30 19:34] #45205 closed

[2019-12-30 19:43] Karishma-Tiwari-MSFT commented on #45361
The FailoverClusters Windows PowerShell module is installed on the computer with the Failover Clustering feature.

Reference docs:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-availability-group-prereq#add-failover-clustering-features-to-both-sql-server-vms

https://docs.microsoft.com/en-us/windows-server/failover-clustering/create-failove

[2019-12-30 19:44] MicrosoftGuyJFlo commented on #44075
This option supports on-premises MFA Server deployments. Azure MFA does not support extension dialing.

[2019-12-30 19:44] jons-own-stuff commented on #44713
I actually had the same question prior to reading Kosuke's testing results. I had searched for that answer quite a bit last time we had to make changes to our certs. Also, I'm not sure I understand the point about it only applying when using wildcard certs. We're using SAN certs which are used by multiple listeners. Ideally, you'd be able to view and edit your certs in a blade of the app gateway's

[2019-12-30 19:45] MicrosoftGuyJFlo commented on #44075
#please-close

[2019-12-30 19:45] #44075 closed

[2019-12-30 19:45] MicrosoftGuyJFlo commented on #44060
#please-close

[2019-12-30 19:45] #44060 closed

[2019-12-30 19:47] MicrosoftGuyJFlo commented on #43831
Other Windows settings is still there in the path specified.

[2019-12-30 19:47] MicrosoftGuyJFlo commented on #43831
#please-close

[2019-12-30 19:47] #43831 closed

[2019-12-30 19:49] superbam commented on #44645
Ditto, running into the same error message.  VM registers with Azure AD but SSO State, AzureADPrt never switches to Yes.  Same error messages in the event log.
I've been poking at this off and on for a while and have yet to see it work which is a shame since it works mostly well on Linux.

[2019-12-30 19:58] MohamedRadwan-DevOps opened #45375 "A step by step video with animation"
The following video will show step by step working with Terraform for Azure
https://www.youtube.com/watch?v=KiCZzJlS16A

![Terraform-workflow](https://user-images.githubusercontent.com/14263956/71599213-c5d28c00-2b41-11ea-8d1b-f995ca79f622.gif)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2130aa5d-9111-4df9-f94d-c23c

[2019-12-30 20:05] MicrosoftGuyJFlo commented on #44946
As mentioned in the [Conditional Access section of the doc](https://docs.microsoft.com/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#conditional-access) "You can use Conditional Access to configure policies similar to security defaults, but with more granularity including user exclusions, which are not available in security defaults."

[2019-12-30 20:07] YutongTie-MSFT commented on #45373
@anoopasokan
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-30 20:08] dylangrandmont commented on #44124
Hi Folks. I've also run into this bug. Is there a recommended best practice for whether static sites should be hosted through app services or another Azure service (for instance, through Azure storage https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website)? Thanks.

[2019-12-30 20:13] jeevansd commented on #41252
@chetansriv for tracking

[2019-12-30 20:13] hawkmoth8 opened #45376 "I can't find X-Forwarded-Host in headers"
Hi,

I host our website behind Front Door, and now I'd like to figure out the original url of the request.
When I type https://my-website-url.com, the front door will map to https://my-website-real-url.com. And in code, I'd like to know the value of the original request which should be "https://my-website-url.com".

I found this artical, and I believe "X-Forwarded-Host" is what I need, but when I

[2019-12-30 20:18] m6soto commented on #41923
This saved me some headache just now.. Thanks for adding the comment John.

[2019-12-30 20:18] keithdv commented on #45071
Version 1.0 (oauth/token) does this.
"SAML assertions obtained with an OAuth2.0 OBO flow"
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-on-behalf-of-flow#saml-assertions-obtained-with-an-oauth20-obo-flow
For anyone else...I would ignore this article and see the above link.

[2019-12-30 20:18] btardif commented on #44124
@dylangrandmont different services have different functionality, features and or constraints. While both Azure Storage and App Service are suitable for this, there might be functionality that is only available in one or the other that will better suite your scenario.

[2019-12-30 20:18] MohamedRadwan-DevOps opened #45377 "A step by step video with animation for Ansible"
The following video will show step by step working with Ansible for Azure
https://www.youtube.com/watch?v=Q8aWeHCrGh4

![Ansible-workflow](https://user-images.githubusercontent.com/14263956/71599233-e39ff100-2b41-11ea-9731-676ec7ce4e00.gif)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54d793fc-86e3-ff1c-c06a-2a77df00

[2019-12-30 20:22] keithdv opened #45378 "Ignore this article. Use V1 oauth/token endpoint. See other Microsoft article."
Don't get stuck like I did!
"SAML assertions obtained with an OAuth2.0 OBO flow"
https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-oauth2-on-behalf-of-flow#saml-assertions-obtained-with-an-oauth20-obo-flow

v1.0-&gt;Concepts-&gt;'Why upgrade to 2.0' calls out 'SAML Restrictions'.
Until SAML Assertions are supported in v2 you need to use v1 of the token endpoint (login.microsoft.co

[2019-12-30 20:32] mike-urnun-msft commented on #45365
@xhinker Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2019-12-30 20:36] mike-urnun-msft commented on #45366
@Dzejms Thank you for your feedback! We will review and update as appropriate.

[2019-12-30 20:44] lukaszgolebiewski opened #45380 "I have a problem coping data from a parquet file stored on ASDL Gen2 to SQL Server 2019 run on a virtual machine."
I have a problem coping data from a parquet file stored on ASDL Gen2 to SQL Server 2019 run on a virtual machine.

The error is as below:

{
'errorCode': '2200',
'message': 'ErrorCode=DataTypeNotSupported,'Type=Microsoft.DataTransfer.Common.Shared.HybridDeliveryException,Message=The data type UTF8 is not supported.,Source=Microsoft.DataTransfer.Common,'',
'failureType': 'UserError',
'target': 'Cop

[2019-12-30 20:56] xerothermic opened #45381 "500 error"
Hi,

I'm seeing Internal server error when trying to query using curl on one of my VMs. The table refer to "For details see logs in &lt;file path&gt;" Where is the file path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf35ebc-b14e-167f-9f73-c7df4d2b60b5
* Version Independent ID: 32e1d780-ca81-a67c-1af0-b7f0bfc8149

[2019-12-30 21:01] msrini-MSFT commented on #45376
@hawkmoth8 , X-Forwarded-host header is added by Frontdoor to the backend resource. You will not be able to check it in the response header. You need to check your Application logs where you should be able to check the value of the header.

[2019-12-30 21:02] MicahMcKittrick-MSFT commented on #42966
I have submitted a correction to this doc. Once the PR merges the changes will go live after a few hours.

#please-close

[2019-12-30 21:02] #42966 closed

[2019-12-30 21:04] hawkmoth8 commented on #45376
Thank you for your response. I'll try and let you know.

[2019-12-30 21:05] MicahMcKittrick-MSFT commented on #21951
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 21:05] #21951 closed

[2019-12-30 21:06] MicahMcKittrick-MSFT commented on #22999
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:06] MicahMcKittrick-MSFT commented on #23988
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:07] MicahMcKittrick-MSFT commented on #24323
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 21:07] #24323 closed

[2019-12-30 21:07] MicahMcKittrick-MSFT commented on #24406
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:07] MicahMcKittrick-MSFT commented on #24410
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:08] MicahMcKittrick-MSFT commented on #24636
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:08] MicahMcKittrick-MSFT commented on #24784
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:08] MicahMcKittrick-MSFT commented on #24990
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:08] MicahMcKittrick-MSFT commented on #25125
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:08] reyk commented on #16808
We never used waagent at Esdenera and decided to use our own implementation instead. OpenBSD also has cloud-agent im ports which works with Azure. I’m fine with deprecating OpenBSD support in waagent.
@athompso Esdenera has ceased operations and I‘ve tried to unpublish the VM from the marketplace but it wasn’t as easy as I expected (at least when I looked the last time).

[2019-12-30 21:09] MicahMcKittrick-MSFT commented on #25126
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:09] MicahMcKittrick-MSFT commented on #25442
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:09] MicahMcKittrick-MSFT commented on #25745
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:09] MicahMcKittrick-MSFT commented on #26191
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:09] MicahMcKittrick-MSFT commented on #26254
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:10] MicahMcKittrick-MSFT commented on #26741
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:10] MicahMcKittrick-MSFT commented on #26913
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:10] MicahMcKittrick-MSFT commented on #27027
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:10] MicahMcKittrick-MSFT commented on #27740
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:10] MicahMcKittrick-MSFT commented on #27932
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:11] MicahMcKittrick-MSFT commented on #28037
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:11] MicahMcKittrick-MSFT commented on #28552
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:11] MicahMcKittrick-MSFT commented on #29111
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:11] MicahMcKittrick-MSFT commented on #29547
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:11] MicahMcKittrick-MSFT commented on #29879
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:12] MicahMcKittrick-MSFT commented on #29988
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:12] MicahMcKittrick-MSFT commented on #30370
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:12] MicahMcKittrick-MSFT commented on #30555
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:13] MicahMcKittrick-MSFT commented on #31840
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 21:13] #31840 closed

[2019-12-30 21:13] MicahMcKittrick-MSFT commented on #31880
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:14] MicahMcKittrick-MSFT commented on #32161
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:14] MicahMcKittrick-MSFT commented on #32246
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:14] MicahMcKittrick-MSFT commented on #32846
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:14] MicahMcKittrick-MSFT commented on #32921
#please-close

[2019-12-30 21:14] #32921 closed

[2019-12-30 21:15] MicahMcKittrick-MSFT commented on #33042
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:15] MicahMcKittrick-MSFT commented on #33998
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:15] MicahMcKittrick-MSFT commented on #34413
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:16] MicahMcKittrick-MSFT commented on #34521
#assign: @MicahMcKittrick-MSFT

[2019-12-30 21:16] trevorbye commented on #44831
@buckh thanks for the feedback, I added a link explaining how to enable auto-shutdown. #please-close

[2019-12-30 21:16] #44831 closed

[2019-12-30 21:16] MicahMcKittrick-MSFT commented on #35009
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:16] MicahMcKittrick-MSFT commented on #35561
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 21:17] #35561 closed

[2019-12-30 21:17] MicahMcKittrick-MSFT commented on #37407
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:17] MicahMcKittrick-MSFT commented on #39274
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:18] MicahMcKittrick-MSFT commented on #39740
#assign: @MicahMcKittrick-MSFT

[2019-12-30 21:18] MicahMcKittrick-MSFT commented on #39976
#assign: @MicahMcKittrick-MSFT

[2019-12-30 21:19] MicahMcKittrick-MSFT commented on #41441
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:19] MicahMcKittrick-MSFT commented on #41647
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:20] MicahMcKittrick-MSFT commented on #42298
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:20] MicahMcKittrick-MSFT commented on #42313
We are currently closing out long standing backlog in order to better determine which issues are still valid and which have been addressed. If you are still seeing a specific problem with this document please open a new issue so we can properly assign the feedback to the correct author and get it addressed ASAP.

#please-close

[2019-12-30 21:20] #42313 closed

[2019-12-30 21:21] MicahMcKittrick-MSFT commented on #43099
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:21] MicahMcKittrick-MSFT commented on #43172
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:21] MicahMcKittrick-MSFT commented on #43779
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:22] MicahMcKittrick-MSFT commented on #43816
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:22] MicahMcKittrick-MSFT commented on #43940
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:22] MicahMcKittrick-MSFT commented on #44090
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:22] MicahMcKittrick-MSFT commented on #44108
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:23] MicahMcKittrick-MSFT commented on #44156
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:23] MicahMcKittrick-MSFT commented on #44544
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:23] MicahMcKittrick-MSFT commented on #21634
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:23] MicahMcKittrick-MSFT commented on #22748
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:24] MicahMcKittrick-MSFT commented on #23017
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:24] MicahMcKittrick-MSFT commented on #24003
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:24] MicahMcKittrick-MSFT commented on #24230
@please-close

[2019-12-30 21:24] MicahMcKittrick-MSFT commented on #24230
#reassign: @MicahMcKittrick-MSFT

#please-close

[2019-12-30 21:24] #24230 closed

[2019-12-30 21:25] MicahMcKittrick-MSFT commented on #24272
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:25] MicahMcKittrick-MSFT commented on #24290
#please-close

[2019-12-30 21:25] #24290 closed

[2019-12-30 21:25] MicahMcKittrick-MSFT commented on #24795
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:26] MicahMcKittrick-MSFT commented on #25409
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:26] MicahMcKittrick-MSFT commented on #26585
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:26] MicahMcKittrick-MSFT commented on #27077
#please-close

[2019-12-30 21:26] #27077 closed

[2019-12-30 21:27] MicahMcKittrick-MSFT commented on #27457
#please-close

[2019-12-30 21:27] #27457 closed

[2019-12-30 21:27] MicahMcKittrick-MSFT commented on #28112
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:27] saisujithreddym commented on #45302
Thank you reporting this. We found the reason for this issue and we are rolling out a fix as soon as possible. Apologies for the inconvenience.

[2019-12-30 21:27] MicahMcKittrick-MSFT commented on #29804
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:28] MicahMcKittrick-MSFT commented on #30094
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:28] MicahMcKittrick-MSFT commented on #30572
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:28] MicahMcKittrick-MSFT commented on #30665
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:28] MicahMcKittrick-MSFT commented on #32865
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:28] MicahMcKittrick-MSFT commented on #33599
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:29] MicahMcKittrick-MSFT commented on #32299
#assign: @MicahMcKittrick-MSFT

[2019-12-30 21:29] MicahMcKittrick-MSFT commented on #33768
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:29] MicahMcKittrick-MSFT commented on #34957
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:29] MicahMcKittrick-MSFT commented on #35572
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:30] MicahMcKittrick-MSFT commented on #35740
#please-close

[2019-12-30 21:30] #35740 closed

[2019-12-30 21:30] MicahMcKittrick-MSFT commented on #36254
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:31] MicahMcKittrick-MSFT commented on #37206
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:31] MicahMcKittrick-MSFT commented on #37674
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:31] MicahMcKittrick-MSFT commented on #38051
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:31] MicahMcKittrick-MSFT commented on #40264
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:32] MicahMcKittrick-MSFT commented on #41275
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:32] MicahMcKittrick-MSFT commented on #42025
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:32] MicahMcKittrick-MSFT commented on #42037
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:33] MicahMcKittrick-MSFT commented on #42612
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:33] MicahMcKittrick-MSFT commented on #43201
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:33] MicahMcKittrick-MSFT commented on #43898
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:33] martingbrown opened #45382 "Adding App Service to key vault access policy"
The page tells you to "Grant you and your team members access to the Key Vault." What it doesn't mention is that the App Service (or whatever resource your application is installed on) will need to be granted access as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba5deb43-08e3-09fe-1696-29f49764580b
* Version I

[2019-12-30 21:33] MicahMcKittrick-MSFT commented on #44198
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:34] MicahMcKittrick-MSFT commented on #44369
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:34] MicahMcKittrick-MSFT commented on #44441
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:34] #45262 closed

[2019-12-30 21:35] MicahMcKittrick-MSFT commented on #44659
We are closing this but once it is supported the doc will be updated. See the above comments for our ETA

#please-close

[2019-12-30 21:35] MicahMcKittrick-MSFT commented on #45167
#reassign: @MicahMcKittrick-MSFT

[2019-12-30 21:41] MarileeTurscak-MSFT commented on #45381
@xerothermic
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-30 21:53] mwc360 opened #45384 "Copy Command vs. Polybase: DIUs"
My understanding is that the copy command is just shorthand code for polybase...nothing different under the hood, however I've noticed that when copying 1 file to Synapse the copy command always uses 4 DIUs whereas polybase always uses 2 DIUs. They seem to take the same amount of time...so why does the company command use 2x DIUs?

All this says to me is that I should use Polybase because the copy

[2019-12-30 21:55] MarileeTurscak-MSFT commented on #45382
@martingbrown
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-30 21:58] RyanHill-MSFT commented on #45357
Hi @jflieben, have a look at https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#using-an-azure-resource-manager-template. It contains an ARM template snippet  that shows how you can add UserAssigned as an identity to your app service. Simply set the type and add the guid for the identity that your SQL instance is using.

Hope this helps.

[2019-12-30 21:58] hawkmoth8 commented on #45376
@msrini-MSFT I figured it out. Thank you for your help. we can close this now.

[2019-12-30 21:59] #45376 closed

[2019-12-30 22:45] btardif commented on #45026
This is fixed by the PR referenced above... #pleaseclose

[2019-12-30 22:46] #45026 closed

[2019-12-30 22:59] MartinJaffer-MSFT commented on #45291
@abbasvanak
To write a dataframe to csv in python notebook, use:
`MyDataFrame.write.format("CSV").save("/MyFile.csv")`

[2019-12-30 23:00] MartinJaffer-MSFT commented on #45291
@abbasvanak let me know if that works for you.

[2019-12-30 23:12] btardif commented on #44984
this is addressed by linked pr. #please-close

[2019-12-30 23:12] #44984 closed

[2019-12-30 23:20] abbasvanak commented on #45291
Hello,
Already tried this as follows
df_sample_output.coalesce(1).write.mode("overwrite").format("com.databricks.spark.csv").option("header","true").csv(local_file_path)

But it writes file as dir and have parts. Please see  Extracted_wikidata.type.coord.top50K.tsv_3 as an example image attached

![Extracted_first](https://user-images.githubusercontent.com/4701102/71604578-c8b88700-2b17-11ea-8229-

[2019-12-30 23:21] ghejman commented on #44551
@SnehaAgrawal-MSFT do you have any update on this?

[2019-12-30 23:40] GrzegorzHejman commented on #44555
@RyanHill-MSFT can you reopen the issue until it's fully clarified if the App Service Management addresses for all public regions or only for the one where App Service Environment is deployed are required in UDR?

[2019-12-30 23:55] jamoham commented on #45339
@jakaruna-MSFT
Guess this was a transient issue. When I ran the same command today morning, it worked.

[2019-12-30 23:56] #45280 closed

[2019-12-31 00:03] MarileeTurscak-MSFT commented on #45378
@keithdv
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-31 00:16] bwren commented on #45197
Checking with the engineering team on this. #in-progress

[2019-12-31 00:17] bwren commented on #44972
Pretty sure this is 64 KB but verifying with engineering team. #in-progress

[2019-12-31 00:47] krozgrov commented on #44910
Would this be caused by ID Protection MFA policy?

Sent from my mobile office. Please excuse brevity and typos.

Thanks,
Matt
________________________________
From: K N Manoj Reddy <notifications@github.com>
Sent: Monday, December 30, 2019 7:01:32 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: krozgrov <krozgrov@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2019-12-31 01:13] yoannchaudet commented on #43505
Would this help somebody, it seems the error we were receiving was caused by us trying to provision virtual machines in a subnet belonging to another subscription (from a cross subscription deployment).

We went a different route and in the end did not use a cross subscription deployment so I do not have a mitigation/workaround to share.

[2019-12-31 01:44] KrishnaG-MSFT commented on #45375
@DevOpsFounder Thanks for the feedback.
Assigning content owner @TomArcherMsft for visibility, review and for considering to update the document with the provided video link.

[2019-12-31 01:49] KrishnaG-MSFT commented on #45377
@DevOpsFounder Thanks for the feedback.
Assigning content owner @TomArcherMsft for visibility, review and to consider enhancing the document with the provided video link, if applicable.

[2019-12-31 01:55] KrishnaG-MSFT commented on #45374
@santhoshbomma9 Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-31 02:10] FrankHu-MSFT commented on #45352
hello @hbuckle per the docs :

The following Windows distributions are currently supported during the preview of this feature:

Windows Server 2019 Datacenter
Windows 10 1809 and later

So unfortunately this is not supported on server core as of yet. If you're interested in this feature please submit it against https://feedback.azure.com/forums/169401-azure-active-directory

and if there's enough

[2019-12-31 02:10] #45352 closed

[2019-12-31 02:32] XiaofuHuang opened #45393 "A problem of cross-partition query"
I'm using the .NET API of cosmos db. After I update to the latest version, I found that the OFFSET LIMIT clause is supported for the cross-partition query. Is it a preview feature or is it ready to be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07f1125-a506-34a6-b90c-8c4cf33f03ad
* Version Independent ID: 3ad

[2019-12-31 03:05] bwren commented on #44445
Checking with engineering team. #in-progress

[2019-12-31 03:39] loosus456 opened #45395 "Clarify Hybrid Azure AD-joined devices"
The article explicitly states that "this feature does not work for a pure on-premises Active Directory Domain Services (AD DS) environment."

Does this mean that the passwordless feature would work in this scenario, for example?

--Devices are joined to a local AD DS domain controller

--Devices are also joined to Azure AD (that is, the devices are Hybrid Azure AD-joined) using the password-hash s

[2019-12-31 04:00] #45215 closed

[2019-12-31 04:02] MicrosoftGuyJFlo commented on #44946
#please-close

[2019-12-31 04:02] #44946 closed

[2019-12-31 04:08] shashishailaj commented on #45395
@loosus456 Thank you for your query. We will investigate and update this thread further.

[2019-12-31 04:09] shashishailaj commented on #45393
@XiaofuHuang Thank you for your query. We will investigate and update this thread further.

[2019-12-31 04:10] shashishailaj commented on #45384
@mwc360 Thank you for your query. We will investigate and update this thread further.

[2019-12-31 04:12] shashishailaj commented on #45364
@josh-gregory Thank you for your feedback . We will investigate and update this thread.

[2019-12-31 04:18] shashishailaj commented on #45363
@ehsf973 Thank you for your feedback . We will investigate and update this thread further.

[2019-12-31 04:31] ssrikantan opened #45397 "Runtime exception when calling the method CreateChangeFeedReaderAsync"
Hi, Calling this method throws the exception "Method not found: CloudBlob.OpenReadAsync( Boolean, AccessCondition, BlobRequestOptions, OperationContext, CancellationToken)'. Intellisense on this method indicates it does not take a Boolean as the first parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93995189-1

[2019-12-31 05:13] jakemarston commented on #44946
@MicrosoftGuyJFlo _'Security Defaults'_ goes against Microsoft best practices as defined in the  [Manage emergency access accounts in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-emergency-access) doc page. We aren't asking for granularity we just want to exclude the single emergency access account.

AAD Premium P1 licenses shouldn't be required to

[2019-12-31 05:16] jgwinner commented on #41923
Your welcome!

That was my concern, others will run into this bad default.

Honestly, the default settings should "just work" but i figure the "vote a new feature" will never get enough votes to fix obvious bugs, so just document it!

[2019-12-31 05:16] SadiqhAhmed-MSFT commented on #45196
@kfollis To help on this.

[2019-12-31 05:43] msrini-MSFT commented on #45302
@annerajb , Thank you for reporting. Fix will be released soon. At this point as there are no action pending from my end, I will go ahead and close this issue. Please tag me if you have any further questions.

[2019-12-31 05:43] #45302 closed

[2019-12-31 05:44] msrini-MSFT commented on #45341
@Vincent0818 , Do you have an update for me?

[2019-12-31 05:45] msrini-MSFT commented on #45348
@ositobio , Do you have any update for me?

[2019-12-31 05:52] Vincent0818 commented on #45341
Hey Karthik

thank you for that, i personaly have no concerns on this, but hopefully PG could fix this as well on portal. too confusion

[2019-12-31 05:55] yossi-y commented on #44972
To be precise, it’s 64,000,000 bytes (~61 MiB).
You can find reference in Log Analytics API doc and in Azure Monitor service limits doc under Search API.

[2019-12-31 06:05] jakaruna-MSFT commented on #45339
@jamoham ok.  If you face the issue again, feel free to open a new issue.

I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-12-31 06:05] #45339 closed

[2019-12-31 06:06] PramodValavala-MSFT commented on #45313
@jhgbrt We have worked up a PR to fix the note. Once merged, the changes should reflect in a couple of hours.

[2019-12-31 06:06] #45313 closed

[2019-12-31 06:31] yellowsmarty opened #45400 "Ran into problem trying to build the .war file"
Terminal response is mvn: command not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 264b32e3-9a21-233f-0056-b5bd970b47f2
* Version Independent ID: 5e09b057-afba-d0a0-6fc0-94a78edd539f
* Content: [Tutorial: Java Enterprise app on Linux - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/conta

[2019-12-31 06:41] JasonFreeberg commented on #45400
Do you have Maven installed?

[2019-12-31 06:50] yellowsmarty commented on #45400
How can I check that I have maven installed?

On Mon, Dec 30, 2019, 10:41 PM Jason Freeberg <notifications@github.com>
wrote:

[2019-12-31 07:26] djpmsft commented on #45143
I agree, this description is confusing. I added a work item and should have it fixed in the near future.

[2019-12-31 07:58] SumanthMarigowda-MSFT commented on #45397
@ssrikantan Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-31 08:24] JasonFreeberg commented on #45400
Here are the instructions to install Maven:
https://maven.apache.org/install.html

Can I ask why you're using Wildfly? Is this for work or for personal learning?

[2019-12-31 08:37] msrini-MSFT commented on #45364
@josh-gregory , When you deploy a VM, you can either deploy it in an availability sets or Availability zones or standalone VM.  The new experience with Azure portal is to select the IPconfig for a selected Virtual Network. You just need to select the ipconfig of the VM which can be either part of availability set or availability zones or standalone VM.

Let me know if you have any further question

[2019-12-31 08:39] msrini-MSFT commented on #45341
@cherylmc, can we add more info on the IPs which are mentioned in the XML to avoid confusion ?

[2019-12-31 08:41] ChiragMishra-MSFT commented on #45294
@huajunzhao Thanks again for bringing this to our notice. I have made the change and it will reflect in production very soon.

[2019-12-31 08:41] #45294 closed

[2019-12-31 08:54] msrini-MSFT commented on #45363
@ehsf973 , Initiating the outbound connection from a VM which is part of LB backend pool to the Frontend port of its own LB is not supported.

When LB maps the traffic to the VM which initiated it, the source and the destination IP would be same and the traffic is dropped.

When the LB maps the traffic to the other VM, then the flow works.

Hope this clarifies, if not please feel free to tag me.

[2019-12-31 08:54] #45363 closed

[2019-12-31 08:59] omroczkowski commented on #44603
@dargilco Thank you for fast response. I actually knew about the example with SSML and I have been using it for a time and everything was ok. I was using my bot with SSML in speak function succesfully in webchat but now I have started getting errors (like here https://github.com/microsoft/BotFramework-WebChat/issues/2405) which disappear when I remove the SSML tags from the body of message.

[2019-12-31 09:05] ChiragMishra-MSFT commented on #45380
@lukaszgolebiewski Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is

[2019-12-31 09:05] #45380 closed

[2019-12-31 09:06] ChiragMishra-MSFT commented on #45380
@lukaszgolebiewski To get you unblocked for now, here's a similar thread :

https://social.msdn.microsoft.com/Forums/en-US/6f124db9-4594-4703-b4f7-43c9bc800671/copying-from-sql-server-to-azure-datalake-error-converting-byte-array-to-json?forum=AzureDataFactory

Please have a look at the proposed answers and see if it helps.

[2019-12-31 09:12] mslot commented on #42878
Is this going to be official supported? Or?

[2019-12-31 09:21] SadiqhAhmed-MSFT commented on #45374
@santhoshbomma9 Where are you looking? Could you provide more details?

[2019-12-31 09:28] woutervanranst opened #45403 "Broken link"
The link "For more information, see the Microsoft Cloud Adoption Framework for Azure - Ready." is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8ea89d4-bb48-1ca1-49f9-ad742ee8c4ba
* Version Independent ID: e34c8bb8-553a-84cb-bd39-43a1ef7cd1a9
* Content: [CAF Foundation blueprint sample overview - Azure Bluepri

[2019-12-31 09:32] SadiqhAhmed-MSFT commented on #45355
@stephbaron and @tfitzmac for visibility.

[2019-12-31 09:42] AsifAliR commented on #39343
java.net.ConnectException: Connection refused: connect

I am also getting the error while configuring app service deployment with Jenkinsfile. I have tried proxy setting option, still no luck.

[2019-12-31 10:27] nareshbonagiri commented on #29187
Is the sdk for gen2 available now? as per documentation, under Programming interfaces section availability table says available now ( https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/storage/blobs/data-lake-storage-upgrade.md\)

[2019-12-31 10:28] nareshbonagiri commented on #29187
![image](https://user-images.githubusercontent.com/15263773/71618596-4d71d680-2be6-11ea-9443-3565b6bbe71a.png)

[2019-12-31 10:28] KrishnaG-MSFT commented on #45403
@woutervanranst Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-31 10:33] tigerhive opened #45405 "Python code not working"
Hi,
I had a few problems running the Python code on this page; however, the PowerShell did work.
Made a few changes to the build_signature function and now it works.  Here is code that worked for me...

[code]

Changes are
1) bytes_to_hash = bytes(string_to_hash**.encode('utf-8')**)
2)  authorization = "SharedKey {}:{}".format(customer_id,encoded_hash**.decode()**)

---
#### Document Details

⚠ *D

[2019-12-31 10:43] nphmuller opened #45406 "Make disadvantages of using `New-PSDrive` more clear"
The current default recommendation (the first in these docs and the only on the Azure Portal) seems to be to us `New-PSDrive` to mount the file share in Windows. After using this method I can say that `New-PSDrive` is much less resilient to network errors then using `net use` or using `Windows Explorer`.

If a computer starts up without a network (or the network is a bit slow) the network drive si

[2019-12-31 11:04] KrishnaG-MSFT commented on #45403
Raised a PR (Pull Request) MicrosoftDocs/azure-docs-pr#99909 with the required changes. The doc will automatically get updated once the open PR is merged.

[2019-12-31 11:35] hansonn74 opened #45407 "install.packages("DAAG") fails. Error: package or namespace load failed for ‘png’ in dyn.load(file, DLLpath = DLLpath, ...):"
Any help gratefully appreciated!
I'm a complete novice, just starting out on Azure and ML, and trying to teach myself something useful.

In this particular tutorial, I got as far as this step
"The tutorial uses data from the DAAG package. Install the package if you don't have it."

When I run install.packages("DAAG"), I get some progress but then it always stops at this point here:

Installing pac

[2019-12-31 11:44] jakaruna-MSFT commented on #45252
@aelmanaa Thats fine.

We can use the -o option for ` istioctl manifest generate`

[2019-12-31 12:13] jakaruna-MSFT commented on #45252
@aelmanaa submitted a PR. Changes should reflect in few hours

@paulbouwer please check the updates and provide your comments

[2019-12-31 12:22] #45252 closed

[2019-12-31 12:24] mikeclearbank opened #45408 "SQL Import / Export via an AD User and Service Principal"
Can you use the New-AzSqlDatabaseImport powershell command using a Service Principal (using the AuthenticationType property) that is attached to the SQL server as an Azure AD Administrator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65a16702-87ad-4801-5171-f5e629661cb4
* Version Independent ID: bdd076dd-9b65-4054-b

[2019-12-31 12:43] PramodValavala-MSFT commented on #45292
@datocrats-org Just following up here... Hope my previous comment clears things up.

[2019-12-31 12:55] SwathiDhanwada-MSFT commented on #45405
@tigerhive Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-31 13:42] bwren commented on #45123
Checking with engineering team. #in-progress

[2019-12-31 14:11] RyanHill-MSFT commented on #45400
@yellowsmarty were you able to get Maven installed using the link provided by @JasonFreeberg?

[2019-12-31 14:36] yossi-y commented on #45123
The article is correct, but there was a bug that caused the name to remain reserved after the soft-delete period. This bug was fixed and in deployment phase and should be available on the week of 13-Jan.

In addition, we are adding support for -force delete, which can delete workspaces immediately. This is of course very risky as you can loose all your data, but following customers' requests, we a

[2019-12-31 14:50] tfitzmac commented on #43763
Thanks for this feedback. I have added an example that shows how to apply tags that include spaces.

[2019-12-31 14:50] tfitzmac commented on #43763
#please-close

[2019-12-31 14:50] #43763 closed

[2019-12-31 15:20] tggofdk opened #45410 "Developers be aware, problem with Json on creating Module"
I have spend considerable amounts of time figuring out that the example above is not 100% correct.
On the Twin module json, the segment:
"properties.desired":
should be left out if assigning to a single module. (Actually also if you are making a deployment, but deployment makes it more visible that it might be a problem.
Web will just say: "An error occurred while submitting, please try again". Bt

[2019-12-31 15:21] linkerzx opened #45411 "Typo on "Provision throughput on an Azure Cosmos container": contaierId should be containerId"
It looks like there is a typo in the example contaierId should be containerId
[code]
should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5477811-fc33-4fb3-bc69-4410a557b902
* Version Independent ID: aebb7c40-aaa5-1b5e-c339-7c5c5eb97dd6
* Content: [Provision container throughput in Azure Cosmos DB](https://

[2019-12-31 15:28] tggofdk commented on #45410
There is actually a little tell tale sign that this is the problem (once you know what to look for.
The portal when giving the error actually shows the json it tried to parse, not the json given. I found this little bugger:
        "AzureBlobStorageonIoTEdge": {
            "properties.desired": {
                "properties.desired": {
                    "deviceAutoDeleteProperties": {

[2019-12-31 15:30] dphansen commented on #45058
@ryanwadebg The documentation can be found under [MicrosoftML (R library in SQL Server)
](https://docs.microsoft.com/en-us/sql/advanced-analytics/r/ref-r-microsoftml) article.

The full reference documentation can be found in the [MicrosoftML package for Machine Learning Server](https://docs.microsoft.com/machine-learning-server/r-reference/microsoftml/microsoftml-package) article.

[2019-12-31 15:33] dphansen commented on #45058
#please-close

[2019-12-31 15:33] #45058 closed

[2019-12-31 16:00] RyanHill-MSFT commented on #42428
Proceeding to close this thread due to https://github.com/MicrosoftDocs/azure-docs/commit/67a4525e5beb92c6d8ebb43db2e8e35ec4ca1b37. Feel free to re-open for further assistance.

[2019-12-31 16:00] #42428 closed

[2019-12-31 16:11] NavtejSaini-MSFT commented on #45408
@mikeclearbank We are checking this and will get back to you.

[2019-12-31 16:12] NavtejSaini-MSFT commented on #45411
@linkerzx We are checking this and will get back to you.

[2019-12-31 16:13] RyanHill-MSFT commented on #44097
Hi @PaulVipond, this doc refers to Windows based app services. For Linux app services, have a look at https://blogs.msdn.microsoft.com/azureossds/2018/08/03/debugging-node-js-apps-on-azure-app-services/. If that isn't helpful, can you let us know what issue you're running into?

[2019-12-31 16:51] Skatterbrainz commented on #45271
I'm still getting the same error, but I suppose it may just be my environment.

[2019-12-31 16:55] jflieben commented on #45357
Perhaps I should rephrase, adding a managed identity to a web app in ARM is documented. Then authorizing this identity through ARM on a SQL instance / database is not documented. How is that done?

[2019-12-31 16:56] tfitzmac commented on #45250
@kazshi - an event grid subscription can't be moved independently but it is moved automatically when the associated resource is moved. I'll clarify that point in the article.

[2019-12-31 16:59] drewjandreatta opened #45413 "Possible typo in link"
I think there's a typo in the URL link for:   12/23/2019: Release of High availability for SAP NetWeaver on Azure VMs on SLES multi-SID guide
The URL seems to have an extra ".md" at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e462a300-6e92-dccf-f7cb-07c36261cfa0
* Version Independent ID: 89d67a1a-74ee-5341-

[2019-12-31 17:10] drewjandreatta opened #45414 "Clarify couple things"
Hi, just seeking help to clarify a couple things.

At the bottom of the 'Overview' section, there's a sentence:  "Assign all VMs, that are part of the ASCS/ASCS cluster to one backend pool."
Is this supposed to say "...the ASCS/ERS cluster..." instead?

In the 'Test the multi-SID cluster setup' section, in test #4 Simulate Node crash.  There's a statement "In this example, we executed the command

[2019-12-31 17:24] yellowsmarty commented on #45400
I have maven installed, but I'm not sure if my Java home variable points my
to my JDK.

On Tue, Dec 31, 2019, 12:24 AM Jason Freeberg <notifications@github.com>
wrote:

[2019-12-31 17:25] yellowsmarty commented on #45400
I'm trying to build a Java app with Azure. I'm just following the
documentation on the Microsoft website to get a better understanding of how
it works.

On Tue, Dec 31, 2019, 12:24 AM Jason Freeberg <notifications@github.com>
wrote:

[2019-12-31 17:41] ryanwadebg commented on #45058
Hello @dphansen, the question was not answered. The documentation refers to SQL Server on prem and not on Azure SQL DB.

[2019-12-31 17:42] DCtheGeek commented on #45403
PR is merged.  Closing issue.  Thanks again for reporting this issue @woutervanranst!

#please-close

[2019-12-31 17:42] #45403 closed

[2019-12-31 17:45] cuadue opened #45415 "How do you upload a file?"
The document describes how to initiate an upload, and how to notify that the upload was completed, but it omits how to PERFORM the upload. Given a correlation ID, hostname, containername, blobname, sastoken, and a payload, how do I upload *the file contents*? This article completely skips over how to upload contents.

Maybe another question is: does an Azure IoT Hub Device File even *HAVE* content

[2019-12-31 17:51] MicahMcKittrick-MSFT commented on #21634
Doc appears to be correct. I get no errors. I will close for now. If we are still seeing issues please open a new issue and we can look into it right away.

#please-close

[2019-12-31 17:51] #21634 closed

[2019-12-31 17:52] MicahMcKittrick-MSFT commented on #22748
At this point in time we have opted to leave the doc as is. This feedback will remain on the doc so if others feel it needs more clarity they can always comment and we can reconsider in the future.

#please-close

[2019-12-31 17:53] #22748 closed

[2019-12-31 17:56] MicahMcKittrick-MSFT commented on #22999
Fixed. Once the PR merges the changes will go live after a few hours.

#please-close

[2019-12-31 17:56] #22999 closed

[2019-12-31 17:57] Adam-Smith-MSFT commented on #45406
@nphmuller Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-31 18:00] MicahMcKittrick-MSFT commented on #23988
When deploying a marketplace image the PA is required. That might be different when using ASR though. At this time we are going to leave the doc as is. However I will follow up with ASR to see if we need to adjust any info in the future.

#please-close

[2019-12-31 18:00] #23988 closed

[2019-12-31 18:00] HeidiSteen commented on #43029
@buildbod  The docs have been updated to clarify the instructions for using Power BI with the other walkthroughs.  I'm closing this issue but feel free to re-open if you have more feedback about this issue or how it was addressed.  Thanks!

#please-close

[2019-12-31 18:00] #43029 closed

[2019-12-31 18:02] MicahMcKittrick-MSFT commented on #24003
This doc is correct. It is stating only two that are not supported while the github lists all the ones that are supported.

#please-close

[2019-12-31 18:02] #24003 closed

[2019-12-31 18:04] YutongTie-MSFT commented on #45407
@hansonn74
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-31 18:11] raphael-liming commented on #34382
any update on this?

[2019-12-31 18:11] dargilco commented on #44603
@omroczkowski , are you developing on Windows? can you try with [Direct Line Speech Client](https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client)? My understanding from your comment is that if the Bot sets the Speak field to plain text, everything works (client gets TTS audio), but if the Bot sets SSML it does not work. Is that correct? Can you provide your SSML? What SR r

[2019-12-31 18:56] jeevansd commented on #43306
@Dragonsong3k We have now updated the article with the new screenshot. Thanks for reporting this.
I am closing this ticket now.

[2019-12-31 18:56] jeevansd commented on #43306
#please-close

[2019-12-31 18:56] #43306 closed

[2019-12-31 19:04] dphansen commented on #45058
@ryanwadebg The package is the same for SQL Server, Azure SQL Database, and Machine Learning Server. We do not have specific documentation for Azure SQL Database.

[2019-12-31 19:11] HeidiSteen commented on #44897
@AjayKumar-MSFT @ignaciofls @vkurpad   I get a 400 if the indexer does not have a skillset, but 204 if it does.  Skillsets are required for incremental indexing. For clarity, I'm going to request that we rename the feature to "incremental enrichment".

By the way, the error about skillset requirement only shows up if I try to set "storageConnectionString" by itself (without "enableReprocessing": t

[2019-12-31 19:11] #44897 closed

[2019-12-31 19:12] tfitzmac commented on #45142
@deyanp - Hopefully, your scenario is working now. We'll close this issue, but feel free to reopen if needed.

[2019-12-31 19:12] tfitzmac commented on #45142
#please-close

[2019-12-31 19:12] #45142 closed

[2019-12-31 19:28] RyanHill-MSFT commented on #45357
@jflieben I checked the Microsoft.Sql/servers API reference. There's an [administrators](https://docs.microsoft.com/en-us/azure/templates/microsoft.sql/2014-04-01/servers/administrators) property that allows you to set the SID. Check out [this stackoverflow answer](https://stackoverflow.com/a/40045318/10987310) for a complete template example.

Let me know if that helps.

[2019-12-31 19:51] Mike-Ubezzi-MSFT commented on #45410
@tggofdk Thank you very much for bringing this to our attention. I am assigning this to the content owner for review and an update as appropriate. Please let me know if you have additional questions or more information to share. This is greatly appreciated.

[2019-12-31 19:54] Karishma-Tiwari-MSFT commented on #45413
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99928
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-31 19:54] #45413 closed

[2019-12-31 19:56] Karishma-Tiwari-MSFT commented on #45414
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-31 19:57] dbrennan opened #45418 "How do you query Last Sync Time in the Azure Portal?"
This page mentions querying this value but doesn't provide any useful information about how to do so.  I've dug all around the settings for storage accounts in the portal and can't find it anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cf36d7c-e840-2e12-07d2-c8f31ebf2147
* Version Independent ID: d0eeb3fe-4b

[2019-12-31 19:59] Mike-Ubezzi-MSFT commented on #45410
@arduppal As an investigation into this issue, there are two occurrences where JSON is copied in the solution, and this might be the root of the issue:

Instance 1:
![Screenshot (551)](https://user-images.githubusercontent.com/37126106/71632743-f7406b80-2bc4-11ea-9ea8-c018fabca757.png)

Instance 2:
![Screenshot (552)](https://user-images.githubusercontent.com/37126106/71632748-fe677980-2bc4-11ea-9

[2019-12-31 20:01] Karishma-Tiwari-MSFT commented on #45217
We will now close this issue. Please provide details and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-31 20:01] #45217 closed

[2019-12-31 20:02] Karishma-Tiwari-MSFT commented on #45258
Is there any update?

[2019-12-31 20:06] Adam-Smith-MSFT commented on #45418
@dbrennan Thank you for the valuable feedback,we are investigating the issue and we'll get back to you with a solution.

[2019-12-31 20:18] Mike-Ubezzi-MSFT commented on #45415
@cuadue Thank you very much for bringing this to our attention. I am assigning this to the content author for review and an update as appropriate.

[2019-12-31 20:18] stevestein commented on #43629
@mijp - thanks for the feedback!

I haven't tested this, and I'd need to find someone with knowledge of the split-merge tool, but based on the error message I'd probably experiment with trying to pass the date as a binary key that the exception info is indicating. I'm not sure about converting dates to binary values, but maybe something like this will help get past the exception:

 DECLARE @dt Dat

[2019-12-31 20:30] Adam-Smith-MSFT commented on #45200
@techiescorner Apologies for the late reply, You can copy a blob in the cool tier as if you would copy a blob from a hot tier, for archiving, there is a re-hydrate period that's taken before your blob is copied, it is basically switching to hot/cool then copied. I hope this answers your questions. I'd recommend checking the following doc: https://docs.microsoft.com/en-us/azure/storage/blobs/storag

[2019-12-31 20:56] MarileeTurscak-MSFT commented on #45378
@keithdv what do you think should be updated about the article? Could you provide more context for your request?

[2019-12-31 21:23] stevestein commented on #43751
@CeciAc, @maryob77062 - thanks for this feedback. I updated the article and moved the connection.open statement into the proper using block.

Thanks!

[2019-12-31 21:25] stevestein commented on #43751
#please-close

[2019-12-31 21:25] #43751 closed

[2019-12-31 22:39] jshomphe commented on #34591
We are having this same issue.  Having Bastion integrated with Azure AD logins solves a huge security issue for us.
+1 (really +100 on this )

Thanks!

[2019-12-31 23:01] chenlomis opened #45422 "Can't configure envrionment and run app locally?"
Tried with powershell and cmd several times but commands are not running through in the "create local python app" section
Am receiving errors and don't know how to best decode it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 791bd216-532f-7f28-fa51-d95798397310
* Version Independent ID: 4f7ff676-e4a5-cc41-6a43-ecb8fa1

[2019-12-31 23:05] KingdomOfEnds commented on #45024
Hi @xtellurian , @AshokPeddakotla-MSFT . Thanks for the great question and Happy Holidays! I wanted to supply a few quick answers to help address the original question!

1. By default, the **$ts** (timestamp property) will be set to the _event enqueued time_. When using this default setting, events will be charted according to the time they arrive. Their _ingestion time_ can be retained as a colum

[2020-01-01 01:22] VitalyMCT opened #45425 "Supportability matrix for SQL 2019"
Can it please be updated, now that this version is GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e3252e-e065-c6e7-042f-c3a7c1be5364
* Version Independent ID: c708bb0b-9e56-7ce3-8055-7335a0adec97
* Content: [Transactional replication - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-da

[2020-01-01 01:23] Karishma-Tiwari-MSFT commented on #45253
Please take a look at the page: https://docs.microsoft.com/en-us/azure/virtual-desktop/install-office-on-wvd-master-image which covers off the installation of office and confirm via the necessary policies/registry values as to the current activation method.

Here's another link on SCA: https://docs.microsoft.com/en-us/DeployOffice/overview-of-shared-computer-activation-for-office-365-proplus which

[2020-01-01 01:29] Karishma-Tiwari-MSFT commented on #45414
I have created a PR with the update, changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/99945

[2020-01-01 01:29] #45414 closed

[2020-01-01 02:17] VitalyMCT opened #45426 "Include the various availability SLA percentages"
This page currently only mentions 99.99% availability.

However, the various Azure SQL Database tiers fluctuate between 99.9% and 99.995%. Perhaps this can somehow be included in this page, as it's an important consideration for decision making around HA.

Source: https://azure.microsoft.com/en-ca/support/legal/sla/sql-database/v1_4/

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-01-01 04:27] asad-c commented on #19305
You can import the certificate into the apps service hosted on Linux, see the section Load certificate in Linux apps in the link below. I've just managed to get this working myself.

https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code

[2020-01-01 05:04] SubhashVasarapu-MSFT commented on #45214
@mobileha , Appreciate your patience. We are assigning this issue to the respective content author for providing the necessary inputs. @cherylmc , Could you please provide your insights here?

[2020-01-01 05:14] SubhashVasarapu-MSFT commented on #45218
@mslot , Appreciate your patience.Enabling HTTPS for custom domain though ARM for CDN is not yet available for now. In order to automate this process you can write a custom PowerShell script to call this respective [API](https://docs.microsoft.com/en-us/rest/api/cdn/customdomains/enablecustomhttps) which will enable HTTPS for you. Here is a similar thread in [SO](https://stackoverflow.com/question

[2020-01-01 05:14] #45218 closed

[2020-01-01 05:51] azhar787 opened #45427 "Webhook Payload does not give values as documented"
Receiving payload in format where there is no information about Status and many fields are null,this is failing with logic implemented where the docs show we will be receiving status as always a value from the docs.

{
  "action": "Unsubscribe",
  "activityId": "853fb738-909d-45c6-b59b-c52cf217ada8",
  "id": "1a0e86f3-3eaf-4283-8fc5-d9e34246f0e7",
  "offerId": "",
  "planId": "",
  "publisherId":

[2020-01-01 07:42] mslot commented on #45218
@SubhashVasarapu-MSFT thanks. I have read that So, but isn't that only for custom certificates? Is this possible to do by powershell if you want Azure to handle the certificate?

[2020-01-01 08:40] alexlogiticks commented on #45105
@jodanfinners, please refer to this https://docs.microsoft.com/en-us/azure/active-directory-b2c/page-layout#replace-datauri-values

Change all  Old DataUri value	 in your policy with New DataUri value

[2020-01-01 09:23] yguipsot commented on #45353
Thanks @asergaz

Yes, that is the camera that I am using. As soon as I got this device I ran the OOBE and it registered it as an IoT Edge Device including the four modules that it usually includes ($edgeAgent, $edgeHub, AIVisionDevKitGetStartedModule and WebStreamModule). I created a project on customvision.ai (the HardHat Detector) running a quick training and exporting to Vision AI Dev Kit, then

[2020-01-01 09:24] MohamedRadwan-DevOps commented on #45377
Thanks @KrishnaG-MSFT

[2020-01-01 09:27] MohamedRadwan-DevOps commented on #45375
Thanks @KrishnaG-MSFT

[2020-01-01 09:48] #43944 closed

[2020-01-01 11:47] SwathiDhanwada-MSFT commented on #45427
@azhar787 Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-01-01 11:50] noakup commented on #45197
Thanks @bwren ! I am preparing a review of Log Analytics BCDR features (Business continuity and disaster recovery) that are available today or coming up soon. Can probabaly be published in coming 1-2 months..

[2020-01-01 12:07] slsourabh18 opened #45430 "Change your default security verification method"
Steps are incorrect,  looks like these steps are valid for older version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d93c5-5135-b9e9-e536-eb0830918b2e
* Version Independent ID: 49be1539-737b-8874-eca6-1cdbc5263d73
* Content: [Change your two-factor verification method and settings - Azure AD](https://docs.micros

[2020-01-01 13:17] hbuckle commented on #45352
@FrankHu-MSFT - well Windows Server 2019 Datacenter still includes server core, it's just a different sku, so it would be worth mentioning this in the documentation.

[2020-01-01 13:53] ohadbitt opened #45431 "Example doesn't work"
In Child resources - the dependsOn receives a name instead of resourceId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7df9b4c4-5109-9d50-ebc8-3cb498e1439c
* Version Independent ID: 5324bc2e-9963-2c03-b8ff-3bb04da13369
* Content: [Set deployment order for resources - Azure Resource Manager](https://docs.microsoft.com/

[2020-01-01 14:14] msrini-MSFT commented on #45348
@ositobio , Please tag me if you have any further questions.

[2020-01-01 14:14] #45348 closed

[2020-01-01 14:14] msrini-MSFT commented on #45364
@josh-gregory , Do you have any update on this issue?

[2020-01-01 15:02] markl11 opened #45434 "Support for Python with Durable Functions?"
Hi,

Is there an ETA on support for Python with Azure Durable Functions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b934ad1d-aabb-707d-d296-02cfbb22ec5c
* Version Independent ID: 5d8f8cfb-be79-fac8-62ef-3a396a3be3e8
* Content: [Durable Functions Overview - Azure](https://docs.microsoft.com/en-us/azure/azure-functio

[2020-01-01 16:06] plankytronixx commented on #36393
Hi Rich,

I’ve posted reports on about 10 pages. This email doesn’t give me any clue which page we’re talking about. Would you oblige?

Thanks

Planky

From: Rich Thorn <notifications@github.com>
Sent: 19 December 2019 23:28
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: plankytronixx <splank@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-doc

[2020-01-01 16:30] jonathaneckman opened #45438 "Cannot move vnet to a different subscription"
This article says the Microsoft.Network virtualnetworks resource can be moved to a new subscription. This does not appear to be true in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23df5354-6833-a5da-0eb3-d860150c8b78
* Version Independent ID: 682ec206-0fda-3e0b-5841-543860a87e34
* Content: [Move operatio

[2020-01-01 16:33] KrishnaG-MSFT commented on #45431
@ohadbitt Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2020-01-01 16:40] KrishnaG-MSFT commented on #45438
@jonathaneckman Thanks for your comment. We are actively investigating and will get back to you shortly with an update.

[2020-01-01 17:02] NavtejSaini-MSFT commented on #45426
@VitalyMCT We are checking this and will get back to you.

[2020-01-01 17:03] NavtejSaini-MSFT commented on #45425
@VitalyMCT We are checking this and will get back to you.

[2020-01-01 17:18] shashishailaj commented on #45422
@chenlomis Thank you for your query. We will investigate and update this thread.

[2020-01-01 17:22] shashishailaj commented on #45430
@slsourabh18 Thank you for pointing this out. We will engage the authors to review this article and update this thread .

[2020-01-01 17:23] shashishailaj commented on #45430
@eross-msft Could you please review this article for the changes suggested by the customer ?

[2020-01-01 17:26] shashishailaj commented on #45434
@markl11 Thank you for your query. We will engage the author to find more information on this .

[2020-01-01 17:26] shashishailaj commented on #45434
@cgillum Could you please review this request and help on the same ?

Thank you.

[2020-01-01 17:29] YutongTie-MSFT commented on #45221
@erhopf Hi Eric, do you have any plan for the document of Webhooks? Thanks and happy new year!

[2020-01-01 18:04] NavtejSaini-MSFT commented on #45273
@hannahqin We have raised a request https://github.com/MicrosoftDocs/azure-docs-pr/pull/99951 for making this change. Once approved by author document will be updated. We are closing this thread for now. Please do comment on this thread for any further issue and we will continue the dialogue.

[2020-01-01 18:04] #45273 closed

[2020-01-01 18:23] jurajgh commented on #42614
any update on this error? i'm getting it even for internal users :/

[2020-01-01 19:18] umeshbarapatre commented on #45071
Hi Keith,

Can you help me with on which scenario you want to fetch the SAML assertion. The SAML bearer assertion flow works with a valid OAuth token to be presented to any IDP to provide a SAML assertion on basis of the same. The concept is similar with the other platforms like SAP and salesforce. OBO flow is for a different reason and I would like to have some more details on what is the end obj

[2020-01-01 19:26] StingyJack commented on #35411
Using `docker pull <image/tag>` works just fine after running `az login` and then `sudo az acr login --name <az container reg name>`, but if i use `docker-compose` (which is kind of needed for a multi container app) I get this error.

This is only non functional so far on our new testing/staging environment (an Azure hosted Ubuntu VM). It works fine from my windows pc and other developers workstat

[2020-01-01 19:40] kgopi05 commented on #37127
Hi,
i have installed the SQLIaaSAgent manually  and imported into Terraform got below values in the settings.

i would like know what is this DeploymentToken value and how to get this value ?  There is no documentation about this value . Any help is much appreciated.

settings                   = jsonencode(
        {
            DeploymentTokenSettings = {
                DeploymentToken = 923417

[2020-01-01 20:00] vht1too opened #45440 "PingFed link is wrong"
link "PingFederate Integration with Azure Active Directory and Office 365" to https://docs.pingidentity.com/bundle/O365IG20_sm_integrationGuide/page/O365IG_c_integrationGuide.html results in 404 page not found.  suggest this link: https://support.pingidentity.com/s/document-item?bundleId=integrations&topicId=rnd1563994997124.html

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-01-01 20:14] jszanto commented on #35411
@StingyJack You are running your docker-compose command as root (why?), while you run your `as acr login` command as another user. This command stores the docker registry credentials somewhere in the home directory of your user (~/.docker), therefore they can not be found by the root user.

[2020-01-01 22:44] xtellurian commented on #45024
Hi @KingdomOfEnds

I'm using a custom timestamp property in a TSI preview environment. Future and Past dates work OK (although I haven't tried as far away as 2049). My custom timestamp property is called 't' and it doesn't show up in the events table in the explorer view

I can't believe that's the intended or actual behavior. Not intended, because it would make the custom timestamp defunct (alway

[2020-01-01 23:17] bubbletroubles opened #45441 "Typo in article"
In the article under  "Access endpoint", it says

"These endpoints determine **determine** whether request"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5677742-ce89-fe42-6b8e-d9b27a42ec95
* Version Independent ID: 7225cb78-956a-ba35-dc04-e84356d96932
* Content: [Connect to Azure virtual networks with an ISE - Az

[2020-01-01 23:18] sarah026 opened #45442 "Don't recommend implicit flow"
Please don't recommend the OAuth implicit flow, it goes against the recommendation of OAuth
https://oauth.net/2/grant-types/implicit/

Please assign someone to use authorisation code flow and document it here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74dc7cef-39ea-97d2-2d82-a88da090cbc4
* Version Independent ID: f

[2020-01-01 23:25] VitalyMCT opened #45443 "Spelling issue"
"With Software Assurance, you can exchange their existing licenses for discounted rates on a managed instance using the Azure Hybrid Benefit for SQL Server."

their=your

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-911d-9fa0-8dfab1653b6e
* C

[2020-01-01 23:42] VitalyMCT opened #45444 "References to R Services"
The new name is "Machine Learning Services"

https://docs.microsoft.com/en-ca/sql/advanced-analytics/what-is-sql-server-machine-learning?view=sql-server-ver15

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b16-e8ee-0a5e037ea20f
* Version Independent ID: 98ec245b-bd8f-bd96-ec6d-0048599246fa
* Content: [Fe

[2020-01-01 23:53] VitalyMCT opened #45445 "Discount for Azure Hybrid Benefit for SQL Server"
This page: "The vCore model is also eligible for up to 30 percent savings with the Azure Hybrid Benefit for SQL Server."

And https://azure.microsoft.com/en-in/pricing/details/sql-database/managed: [the benefit] is ... "up to 55%".

Which page is correct?

Please note https://docs.microsoft.com/en-us/azure/sql-database/sql-database-azure-hybrid-benefit also says "up to 30 percent".

---
#### Docum

[2020-01-02 01:46] singloudly90 opened #45446 "Logic App get Cosmos Collection and Send email"
Hi,

I need to use Azure logic app to Query DocumentDB to get the collection details to send email.
However I don't see Input and Output setup under the Query Document.
![cosmos-db-git](https://user-images.githubusercontent.com/59425439/71648856-9a6bbf00-2d44-11ea-8b6b-51a1c2a7cbf6.PNG)

Any guidance on this?
Thank you

[2020-01-02 01:47] BoricuaEnLaLuna commented on #45251
After further experimentation I see this will work properly if the ILogger's category name matches a specific naming convention: "Function.{AnyNameHere}.User"

I tried using these other patterns and it does not work in these cases (it will write in traces table):
"Function"
"Function.{AnyNameHere}"
"Function.User"

It apparently must follow pattern "Function.{AnyNameHere}.User" for it to write cor

[2020-01-02 02:04] DixitArora-MSFT commented on #45314
Hi @jhgbrt I have assigned this to content author for further review and update as appropriate.

[2020-01-02 02:29] andreas-wilm opened #45447 "Two class-types missing in lab-services/classroom-labs/class-types.md"
Hello,

articles/lab-services/classroom-labs/class-types.md summarizes class types explained in the following sections, but the following two class types are missing in the doc:

- Database management
- Python and Jupyter Notebooks

Andreas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7b0b58-53f9-d2b4-ef93-4714d975

[2020-01-02 02:33] KalyanChanumolu-MSFT commented on #45426
@VitalyMCT Thank you for the feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

@stevestein CXP cannot update the content on  https://azure.microsoft.com
Please route this feedback to the right team.

[2020-01-02 02:34] mandiaya commented on #44774
Hi @jeevansd
Thanks for your reply! We have Add 'corporatetooling@gmail.com' as a Guest Type in AD. And I have already set up this user in jira server. I can use user name and password log in jira. But I can't use SSO log in jira. the error said 'Your account or password is incorrect.' But I can make sure the same password I set up in AD and Jira. Do you know the reason, why I have this error? Is

[2020-01-02 02:34] mandiaya commented on #44774
![image](https://user-images.githubusercontent.com/49891553/71649648-7fe91400-2d4b-11ea-991d-95aaa0e1ff10.png)

[2020-01-02 02:50] SaurabhSharma-MSFT commented on #45440
@vht1too Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-02 02:52] SaurabhSharma-MSFT commented on #45442
@sarah026 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-01-02 03:22] eriawan commented on #45440
@SaurabhSharma-MSFT
@vht1too is correct, the link should point to https://support.pingidentity.com/s/document-item?bundleId=integrations&topicId=rnd1563994997124.html

[2020-01-02 03:47] StingyJack commented on #35411
@jszanto  - I'm not running anything as root, they are all running as the "my-admin" account. Some are elevated, but still running as the "my-admin" account. Needing sudo for this seems to be how docker works "out of the box". I've had quite enough weird, frustrating, and time consuming trouble with docker (both the program and the org) over the last year or two that I'm not terribly interested in

[2020-01-02 04:17] SwathiDhanwada-MSFT commented on #45271
@Skatterbrainz  I would suggest you to drop mail to AzCommunity@microsoft.com so that I can assist you offline in resolving the issue.

Also, as there are no further modifications to the document, I will close the issue for now.If you have further questions,please revert we will be very glad to assist you.

[2020-01-02 04:17] #45271 closed

[2020-01-02 04:19] SwathiDhanwada-MSFT commented on #45174
@ankitag2013 Thanks for providing the article. We are checking internally with engineering team and we will update you soon.

[2020-01-02 04:53] ClaudioRifo commented on #43271
Hi there.

“SAML just in time user provisioning means when the user authenticates and if the user does not exist in Palo Alto then it will get created.”
Actually this is not true. Previously to open this ticket I asked about this.
https://github.com/MicrosoftDocs/azure-docs/issues/43269#issuecomment-557962022

From: Jeevan Desarda <notifications@github.com>
Sent: Monday, December 30, 2019 3:54 PM

[2020-01-02 04:54] SwathiDhanwada-MSFT commented on #45340
@rayne-wiselman  Can you please go through provided feedback and update the document(if required)?

[2020-01-02 05:06] SumanthMarigowda-MSFT commented on #45283
@xiangwu-ms Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-01-02 05:07] SumanthMarigowda-MSFT commented on #45200
@techiescorner We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-02 05:07] #45200 closed

[2020-01-02 05:10] ylashin opened #45451 "Copy paste mistake in page content"
All "develop C" occurrences should be updated to "develop Python"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b251621c-bcb0-b9ce-bd87-90499766137b
* Version Independent ID: b23ad340-bdfa-0597-9a0a-51c5e7b18b48
* Content: [Create custom Python module - Azure IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/t

[2020-01-02 05:12] PramodValavala-MSFT commented on #45292
@datocrats-org Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-02 05:12] #45292 closed

[2020-01-02 05:15] PramodValavala-MSFT commented on #45441
@bubbletroubles Thanks for catching that! We have worked up a PR to address this and once merged, it should reflect in a couple of hours.

[2020-01-02 05:22] SnehaAgrawal-MSFT commented on #45312
@MaRX8nka Thanks for the response! Just to confirm if you are using Node.js 12?  Then try overriding graceful-fs to version 4.2.2 using a [npm-shrinkwrap.json](https://docs.npmjs.com/files/shrinkwrap.json) containing this.
{
   "dependencies": {
     "graceful-fs": {
       "version": "4.2.2"
    }
  }
}
After that execute npm install which will update the npm-shrinkwrap.json file.
Similar thread

[2020-01-02 05:24] #45441 closed

[2020-01-02 05:26] souravmishra-msft commented on #45071
@keithdv, Would like to check on this few points:
1: What is the SAML request and the SAML response that you received from AzureAD?
2: Have you just copied the assertion part (<assertion>....</assertion>) from the SAML Response and then URL Encoded it before feeding the response to the Token Endpoint of AAD?

Do let me know the answers for the following queries along with end objective as requeste

[2020-01-02 05:31] PramodValavala-MSFT commented on #45446
@singloudly90 Is there a specific document that you are referring to here? If so, could you please share it?

Also, please do note that this repository is primarily to address documentation related issues. For all other queries, feel free to open a thread on [MSDN](https://social.msdn.microsoft.com/Forums/azure/home?forum=azurelogicapps) or [StackOverflow](https://stackoverflow.com/questions/tagge

[2020-01-02 05:32] Sanchayjain opened #45452 "Hello,"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-01-02 05:32] Sanchayjain opened #45453 "NOT ABLE TO ACCESS https://testdev01.azurewebsites.net"
I am not able to access "**https://testdev01.azurewebsites.net**"
Its showing "**The service is unavailable**"

Error Log
Details
_errorData: undefined _sourceErrorLevel: undefined baseTypes: ["t","MsPortalFx.Errors.Error"] code: undefined data: 1 errorLevel: 2 extension: fx handled: undefined innerErrors: ["message: Failed to retrieve the blade definition for 'ActivityLogBlade' from the server.\r

[2020-01-02 05:36] ManojReddy-MSFT commented on #45452
@Sanchayjain This looks like a duplicate of #45453. I am closing this issue. Let us know if you have any concerns regarding this.

[2020-01-02 05:36] #45452 closed

[2020-01-02 06:14] Derek1101 opened #45454 "An HTTPS endpoint within the virtual network"
Hi, under the section "Endpoints for connecting to HDInsight" in this article, seems the HTTPS endpoint within the virtual network would not be created by default and need to contact Azure support team to enable it for Azure subscription. Even though, it only works for the new created HDInsight cluster. Clusters created prior to that still can not use the "-int" endpoints.  Please help confirm thi

[2020-01-02 06:17] SaurabhSharma-MSFT commented on #45327
@manish-shukla01 This repo is used basically for any documentation issues.  I suggest you to post your question with proper code snippets, POST request code to [Microsoft Q&A](https://docs.microsoft.com/answers/topics/azure-active-directory.html) and community will help you get answers.

[2020-01-02 06:23] SwathiDhanwada-MSFT commented on #45347
@haoxin  AFAIK, all types of subscription are supported. I would request you to verify if the subscription uses Azure Databricks , if its uses, you can't onboard subscription for Azure delegated resource management.Also make sure that "Microsoft.ManagedServices" resource provider is registered with the subscription.

In case , if you have registered "Microsoft.ManagedServices" resource provider an

[2020-01-02 06:24] SnehaAgrawal-MSFT commented on #45274
@meepstei Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-01-02 06:30] SaurabhSharma-MSFT commented on #45440
@vht1too @eriawan The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-01-02 06:30] #45440 closed

[2020-01-02 06:32] SaurabhSharma-MSFT commented on #42413
@TechieWorld We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-02 06:32] #42413 closed

[2020-01-02 06:32] SaurabhSharma-MSFT commented on #39886
@bdschaap We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-01-02 06:32] #39886 closed

[2020-01-02 06:53] chwilfing commented on #43073
I'd like to reopen that error as I've seen this error code in my logins in combination with iOS Accounts App login into Exchange Online.  (See screenshot below for details.) The error occurs occasionally an is not directly reproducible but happens on different users throughout the organization.

![image](https://user-images.githubusercontent.com/16267927/71654977-eadb2080-2d34-11ea-9fec-fcea3fc944

[2020-01-02 06:53] SubhashVasarapu-MSFT commented on #45244
@kariyukisusumu , Appreciate your patience. Yes, there are three VNETs in this scenario where NVA VNET is treated as indirect spoke VNET as it sits between the HUB and actual VNETs. Here we can see the direct VNET connections were in blue arrows and indirect were indicated with black arrows. In the starting statement we did only stated that NVA VNET as an indirect VNET spoke but from working persp

[2020-01-02 06:59] shashishailaj commented on #45443
@VitalyMCT Thank you for pointing that out. We will have this rectified and update this thread.

[2020-01-02 07:01] SnehaAgrawal-MSFT commented on #45422
@chenlomis Thanks for asking question! Could you please elaborate on what errors you are receiving to help you better on this.

[2020-01-02 07:02] ChiragMishra-MSFT commented on #45454
@Derek1101 Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-01-02 07:16] shashishailaj commented on #45444
@VitalyMCT Thank you for pointing that out. We will have this updated. .

[2020-01-02 07:22] shashishailaj commented on #45445
@VitalyMCT Thank you for your feedback . We will investigate and update this thread.

[2020-01-02 07:33] shashishailaj commented on #45453
@Sanchayjain I understand that you are unable to access your app service instance however we use github for documentation improvement . Your issue may entail troubleshooting and we would like to recommend you to post your question on [App Services MSDN forum](https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=windowsazurewebsitespreview) and the community would help you with the recom

[2020-01-02 07:33] #45453 closed

[2020-01-02 07:55] perkops opened #45455 "Download Key Vault certificates - spelling issue"
4. ASet the Azure subscription...

should be

4. Set the Azure subscription...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7259644-4741-fd8d-a346-4a62625a9152
* Version Independent ID: 2442b7b5-8f88-c182-d36e-ff8989f9a76a
* Content: [Tutorial: Configure IoT Edge device - Machine Learning on Azure IoT Edge](https://

[2020-01-02 08:05] perkops opened #45456 "Spelling issue"
writeAvro: sends messages "avroModuleInput"

should be:

writeAvro: sends messages to "avroModuleInput"

Generally the image below the above text is not aligned with the wordings on input/outputs and avro is misspelled as awro.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2faff18c-8cbc-1664-307a-8bb778925880
* Versio

[2020-01-02 08:22] ManojReddy-MSFT commented on #45455
@perkops Thanks for bringing this to our attention. I have updated the doc accordingly.

[2020-01-02 08:23] Kaleeswarab opened #45457 "Download sample data consisting of a small file set of different types. Unzip the files."
Download Sample data link is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6457a3e2-f09a-00ee-7d5a-561879553d42
* Version Independent ID: ffd1cbfe-286d-b8cf-a7d4-84a9fda22efd
* Content: [Quickstart: Create a skillset in the Azure portal - Azure Cognitive Search](https://docs.microsoft.com/en-us/azure/sear

[2020-01-02 08:24] Kaleeswarab commented on #45457
Download issue is in the link "https://docs.microsoft.com/en-us/azure/search/cognitive-search-quickstart-blob"

[2020-01-02 08:25] jorritmeijer80 commented on #45356
Hi @mike-urnun-msft: I would say [https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview](url)

Thing is, there is no documentation about it yet, so its not really feedback towards the docs. Its more a question for the product team if they can clarify (possibly using their documenation)

[2020-01-02 08:28] tiholm opened #45458 "Helm 3 disables Tiller Usage"
After releasing Helm 3 ( https://helm.sh/blog/helm-3-released/ ), following commands in this page are invalid:

kubectl create serviceaccount --namespace kube-system tiller-sa
kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller-sa
helm init --tiller-namespace kube-system --service-account tiller-sa

This is because Helm 3 removed Ti

[2020-01-02 08:30] #45244 closed

[2020-01-02 08:39] SumanthMarigowda-MSFT commented on #45335
@evmoreno Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-02 08:43] SumanthMarigowda-MSFT commented on #45397
@ssrikantan May I know what exactly are you trying to accomplish? Can you please elaborate your query?

If the issue isn't related to document/article edit. I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata. We would like to follow-up there

[2020-01-02 08:55] RohitMungi-MSFT commented on #45279
@aprilspeight After creating the multi service resource for cognitive services we would need to append the bing search service resource path to the endpoint. For example: If the resource is created in central us the endpoint to replace in the python script should be the following:
`https://centralus.api.cognitive.microsoft.com/bing/v7.0`

Please find a screen shot of this run for reference:
![imag

[2020-01-02 08:55] #45279 closed

[2020-01-02 08:57] jordanfinners commented on #45105
Hi, yes that works like the Stackoverflow recommends, I feel it could just be made clearer on that page about the steps that you need to do, as it brings quite a few different elements of documentation together

[2020-01-02 09:00] drewwilliams1982 commented on #45258
I've run through the steps again and it works. Not sure where I went wrong last time. Thanks.

[2020-01-02 09:04] haoxin commented on #45347
I've registered  "Microsoft.ManagedServices" resource provider. My subscription is from "MSDN Platforms subscribers" offer.  Can you confirm it is a supported scenario?

[2020-01-02 09:04] KalyanChanumolu-MSFT commented on #45445
@VitalyMCT Thank you for pointing this out, I have raised a pull request to update the doc accordingly.
The changes should be live EOD or tomorrow.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-01-02 09:04] #45445 closed

[2020-01-02 09:05] AshokPeddakotla-MSFT commented on #45207
@orionJag Sorry for the delay. Please refer the [blog post](https://sandervandevelde.wordpress.com/2019/01/13/integrating-sqlite-in-azure-iot-edge-for-local-storage/) for using SQLite with complete steps.

Also, this is out of the scope of this document let me kindly ask that you open a new issue on MSDN or Stack Overflow in case if you face any issues while following the above steps. So the commu

[2020-01-02 09:05] #45207 closed

[2020-01-02 09:31] VikasPullagura-MSFT commented on #45458
@tiholm Thanks for pointing this out. I am assigning the issue to content author for updating the document as per feedback.

[2020-01-02 09:31] VikasPullagura-MSFT commented on #45458
@TomArcherMsft Can you please look into this and update the document as applicable.

[2020-01-02 09:34] #44717 closed

[2020-01-02 09:37] sysadmin-exe opened #45461 "outdated documentation"
The redirection setting in this link : https://docs.microsoft.com/en-us/azure/application-gateway/redirect-http-to-https-portal#add-a-routing-rule-with-a-redirection-configuration is no longer valid as i can see different on the portal now.
following the steps in the above link and found it difficult to apply a redirection setting cos things have changed.

---
#### Document Details

⚠ *Do not edit

[2020-01-02 09:39] harryvinod opened #45462 "Lack of clarity in use of Availability Sets with Load Balancers"
The article does not specify if we can associate multiple Availability Sets to different Backend Pools of a LB. For example, trying to add VM from AvS1 to Pool1 and VM from AvS2 to Pool2 is not possible. If this can be added in the SKU comparisons, it would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ea

[2020-01-02 09:45] singloudly90 commented on #45446
Hi Pramod, I have solved it, Thanks.

[2020-01-02 09:45] #45446 closed

[2020-01-02 09:51] gsxmax opened #45463 "Could not connect to Private cluster through VM from a different VNET"
https://docs.microsoft.com/en-us/azure/aks/private-clusters#steps-to-connect-to-the-private-cluster
If you create a VM in a different VNET, you'll need to set up a link between this VNET and the Private DNS Zone
go to the MC_* resource group in the portal
click on the Private DNS Zone
select Virtual network link in the left pane
create a new link to add the VNET of the VM to the Private DNS Zone (

[2020-01-02 09:59] MaRX8nka commented on #45312
sorry still same error after trying this

[2020-01-02 10:24] omroczkowski commented on #44603
@dargilco Yes, I'm developing on Windows. I Tried with DLS Client and it worked correctly with SSML. Your understanding is correct - plain text works and SSML doesn't work in webchat. I use function with SSML like this:
![SSML](https://user-images.githubusercontent.com/44344466/71662298-3dc2d100-2d51-11ea-8262-6a59f33ce911.PNG)
And I use this function here:
`await turnContext.SendActivityAsync(Spe

[2020-01-02 10:27] jakaruna-MSFT commented on #45188
I tried today in the same region and it worked well. I think when you tried, That regions private cluster capacity is full.

Can you try again now

[2020-01-02 10:40] ChiragMishra-MSFT commented on #45384
@linda33wj Can you please take a look at this?

[2020-01-02 10:41] SudheeshGH opened #45464 "The query to add\drop FK is not correct"
The query used to create Drop and Add FK does not take in to consideration when you have multiple schemas, also Join and clause has an issue

I have tested and changed the one to work with

  SELECT Queries.tablename
       ,concat('alter table ', Queries.table_schema ,'.', Queries.tablename, ' ', STRING_AGG(concat('DROP CONSTRAINT ', '"',Queries.foreignkey,'"'), ',')) as DropQuery
            ,co

[2020-01-02 10:50] #45455 closed

[2020-01-02 10:51] Artem-Nesterov commented on #41840
Hello. Is there any update on the answer to this question? I have reached your Support specialist and have this answer:
"ResourceId means it’s a “Unique identifier of the Azure Resource Manager resource”.
Terms in Azure: https://docs.microsoft.com/en-us/azure/billing/billing-understand-your-usage
Resources : https://docs.microsoft.com/en-in/rest/api/resources/resources
"

But I do not understand h

[2020-01-02 10:52] ManojReddy-MSFT commented on #45395
@loosus456 Yes, It should work in this scenario.

[2020-01-02 10:53] #44518 closed

[2020-01-02 10:53] ManojReddy-MSFT commented on #45297
@MhAllan We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2020-01-02 10:53] #45297 closed

[2020-01-02 10:54] ManojReddy-MSFT commented on #41458
@limjianan We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2020-01-02 10:54] #41458 closed

[2020-01-02 10:58] AshokPeddakotla-MSFT commented on #45451
@ylashin Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-02 11:01] AshokPeddakotla-MSFT commented on #45456
@perkops Thanks for the feedback. [PR](https://github.com/MicrosoftDocs/azure-docs/pull/45459) has been created to address this issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-02 11:01] #45456 closed

[2020-01-02 11:05] #45451 closed

[2020-01-02 11:18] msrini-MSFT commented on #45462
@harryvinod ,

Back-end pool endpoints | Any virtual machine in a single virtual network, including blends of virtual machines, availability sets, and virtual machine scale sets. | Virtual machines in a single availability set or virtual machine scale set.
-- | -- | --

As you can see the above point in the comparison explains your point. In Standard when you assign VMs which are part of different

[2020-01-02 11:19] SnehaAgrawal-MSFT commented on #45312
@MaRX8nka Thanks for updating! Request you to  send an email to AzCommunity[at]Microsoft[dot]com referencing this issue, we would like to work closer with you on this matter.

[2020-01-02 11:19] #45312 closed

[2020-01-02 11:23] SubhashVasarapu-MSFT commented on #45245
@kariyukisusumu , Appreciate your patience. It looks like the document needs to be enhanced a bit. So assigning this to the content author for update the document accordingly.
@cherylmc , Could you please provide your insights on this ?

[2020-01-02 11:28] msrini-MSFT commented on #45461
@sysadmin-exe , I will update the doc and share the PR here.

[2020-01-02 11:29] SubhashVasarapu-MSFT commented on #45247
@juyamagu , Appreciate your patience. Azure Express Route interfaces works in full duplex mode and the bandwidth mentioned is for total. Which will be in variable proportional ratios between upstream and downstream.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-01-02 11:29] #45247 closed

[2020-01-02 11:34] msrini-MSFT commented on #45461
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/99979

[2020-01-02 11:37] olavt opened #45465 "Article should be updated based on Helm V3"
"You need to have Helm initialized within your AKS cluster and using a service account for Tiller. Make sure that you are using the latest release of Helm."

From: https://helm.sh/blog/helm-3-released/

"The internal implementation of Helm 3 has changed considerably from Helm 2. The most apparent change is the removal of Tiller,"

The article should be updated to reflect how to create a HTTP ingre

[2020-01-02 11:38] pranavq212 opened #45466 "Step 2 is obsolete as search returns different Windows VM for DSVM"
[In step 2 Find the virtual machine listing by typing in "data science virtual machine"  and selecting "Data Science Virtual Machine - Windows 2016.", There is no default option "Data Science Virtual Machine - Windows 2016" but new option for Win 2019(Preview)  "Data Science Virtual Machine - Win 2019(Preview)"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-01-02 11:47] jakaruna-MSFT commented on #45465
@olavt
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-02 11:54] SwathiDhanwada-MSFT commented on #45438
@jonathaneckman Thanks for reaching out! Can you please share the error that you are prompted with when trying to move the vnet to different subscription?

Also, [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/networking-move-limitations) is a document which provides networking guidance for moving resources. Kindly check.

[2020-01-02 11:57] lyrana commented on #45024
Hi @xtellurian, great question, and thank you for pointing out that the documentation is lacking an explanation for how retention is calculated.
Today warm store retention is evaluated based on ingested time--the time that TSI receives the event--irrespective of the timestamp value. We are gathering additional feedback from customers who have different use-cases such as future/predictive data that

[2020-01-02 11:59] #45461 closed

[2020-01-02 12:01] RohitMungi-MSFT commented on #45466
@pranavq212 Thanks for pointing this out and submitting the PR. @gvashishtha Could you please help to review the PR and update the screen shot of the new 2019 preview DSVM?

[2020-01-02 12:03] RohitMungi-MSFT commented on #45466
@pranavq212 Windows server 2016 is also available in the marketplace. Please find the screen shot below:

![image](https://user-images.githubusercontent.com/46958063/71666188-f3a81280-2d85-11ea-93b5-299effbe9d53.png)

[2020-01-02 12:04] #45338 closed

[2020-01-02 12:18] jakaruna-MSFT commented on #45463
@gsxmax
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-01-02 12:18] asergaz commented on #45353
Hi @yguipsot and happy new year!

Did a quick search under "[Vision AI Developer Kit - Get Help](https://visionaidevkitsupport.azurewebsites.net/?q=custom%20vision)" and found the tutorial to help you get started : "[Create and Deploy a Custom Vision AI Module Using Azure Custom Vision Service and Azure IoT Edge](https://azure.github.io/Vision-AI-DevKit-Pages/docs/Tutorial-HOL_Using_the_VisionSamp

[2020-01-02 12:24] SubhashVasarapu-MSFT commented on #45265
@anand-mukund , Appreciate your patience. We have assigned this issue to the respective content author for providing better insights.

[2020-01-02 12:29] tiholm commented on #45458
Note that also based on my personal experience and issue https://github.com/Azure/application-gateway-kubernetes-ingress/issues/664 , Helm version 3 requires name as an argument and application gateway ingress controller has issue of usePrivateIP.
So, as described in issue 6634, command should contain something like this:

`helm install ingress-azure --generate-name --set appgw.usePrivateIP=false`

[2020-01-02 12:32] Dfintz commented on #32118
Hi, we are trying to run a Linux Hybrid worker in AKS, though, as is mentioned above, the onboarding.py script is missing from the OMS agent installation.

We tried to circumvent the issue by importin the Linux DSC [nxOMSAutomationWorker](https://github.com/microsoft/PowerShell-DSC-for-Linux/tree/master/Providers/nxOMSAutomationWorker/automationworker/scripts) where the script exists.

The last is

[2020-01-02 12:32] asergaz commented on #45353
Hi @yguipsot and happy new year!

Did a quick search under "[Vision AI Developer Kit - Get Help](https://visionaidevkitsupport.azurewebsites.net/?q=custom%20vision)" and found the tutorial you followed initially: "[Create and Deploy a Custom Vision AI Module Using Azure Custom Vision Service and Azure IoT Edge](https://azure.github.io/Vision-AI-DevKit-Pages/docs/Tutorial-HOL_Using_the_VisionSample

[2020-01-02 12:32] #45353 closed

[2020-01-02 12:41] jakaruna-MSFT commented on #45463
@gsxmax Thanks for reporting. We need to update the document.

[2020-01-02 12:42] KasamShaikh opened #45468 "The image added in doc should be removed..."
The image (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/management/media/move-resource-group-and-subscription/select-destination.png) added in doc at (https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-manager/management/move-resource-group-and-subscription.md) should be removed. As its conveys that Application Insights as a r

[2020-01-02 12:52] loosus456 commented on #45395
@ManojReddy-MSFT thanks! So are hybrid devices already supported? Should I be able to test it today?

[2020-01-02 13:40] jonathaneckman commented on #45438
Disregard. The "move to another subscription" option was disabled because the vnet had resources on it. I also read that moving a vnet to another subscription isn't possible in a 3rd party Azure certification study guide. It seems the study guide is incorrect, not the docs. Thanks!

[2020-01-02 13:40] #45438 closed

[2020-01-02 13:48] MonikaReddy-MSFT commented on #45447
@andreas-wilm, Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-01-02 14:08] Kazzan commented on #18751
And by the "foreseeable" future you mean one, two or four year or something more specific? You know, we recommend cloud deployment, but customers already in asking how to speed up migration projects (and some CxO just rely on dates).

[2020-01-02 14:26] candidson opened #45471 "Azure Functions and Azure KeyVault communicating via service endpoints"
Hi Guys,

I have setup and Azure KeyVault with vNET firewalls activated. I also setup an Azure Functions App (Premium, Linux, Python) with vNET integration. I've added the function app's subnet also as service endpoint on key vault. However I am still not able to access the key vault from the azure function. Am I missing something? Or is it something that just doesn't work at the moment?

Thanks!

[2020-01-02 14:41] NavtejSaini-MSFT commented on #44592
@jaszymas Please check if the document can be enhanced on these lines.

[2020-01-02 14:49] pauloster opened #45472 "Allowing Multiple Users to Load and CTAS"
Under the section of this page titled 'Allowing multiple users to load', it indicates that

'Loading with the CREATE TABLE AS SELECT (Transact-SQL) requires CONTROL permissions of the database.'

Then it goes on to indicate that you can Deny Control on specific schemas.

What I'm not clear about is will the user still have the ability to do a CTAS as they no longer implicitly have CONTROL permissi

[2020-01-02 14:54] Artem-Nesterov commented on #41840
@ChiragMishra-MSFT
@qianw211

[2020-01-02 14:56] pauloster opened #45473 "Parallel Data Loading"
I'm looking for information on limitations of how many processes can load data into the warehouse simultaneously. Or potentially how many tables can be loaded simultaneously with and without CTAS.
The page indicates that... 'A maximum of 128 concurrent queries will execute and remaining queries will be queued.'
But I'm not sure CTAS counts as a query...
Is it possible to add something along that l

[2020-01-02 15:04] shashishailaj commented on #45457
@Kaleeswarab Thank you for your comment . We will investigate and update the thread.

[2020-01-02 15:10] shashishailaj commented on #45457
@Kaleeswarab As per what we found , the link points you to a [onedrive location](https://onedrive.live.com/?authkey=%21AOLCb5lC%5F3hbS%2D4&id=4F05FE4CCDCBCECE%21107&cid=4F05FE4CCDCBCECE) where all sample content is stored. If you see the following picture , the tutorial also explains about the same data as evident from the screenshot from the [create service and load data section](https://docs.mic

[2020-01-02 15:11] shashishailaj commented on #45443
@VitalyMCT We have updated the article. the changes should go live in the next release cycle in 24-48 hours..

[2020-01-02 15:12] #45443 closed

[2020-01-02 15:13] shashishailaj commented on #45444
@VitalyMCT We have updated the article. the changes should go live in the next release cycle in 24-48 hours..

[2020-01-02 15:18] lmalmeida opened #45474 "Step 1.3 - "Under the Manage section, select Single sign-on.""
I don't see a "Single Sign-on" option on the enterprise app.
I see:
- Properties
- Owners
- Users and Groups
- Provisioning
- Application Proxy
- Self Service

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f0813b-5ee7-62bc-d427-4b1783a1fa0a
* Version Independent ID: 61e41303-0118-1179-fc50-121c54ed4f34
* Content: [SA

[2020-01-02 15:21] RyanHill-MSFT commented on #45041
Sorry for the late reply @w0ut0. As app service storage attachment is still in preview, can you email us at AzCommunity[at]microsoft[dot]com ATTN Ryan so that we can work more closely with you? Please include your subscription id, app name, and storage account that's encountering the error.

[2020-01-02 15:56] MonikaReddy-MSFT commented on #44984
@btardif - Thank you for taking care of this issue.
@SychevIgor -
Thanks again for bringing this to our attention. The doc is now updated. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-02 16:02] RyanHill-MSFT commented on #45357
@jflieben, did that template sample help any?

Let me know.

[2020-01-02 16:07] jackchenquest commented on #40812
@azsec , based on my experience, the two permissions
 `Microsoft.Security/locations/jitNetworkAccessPolicies/initiate/action` `Microsoft.Compute/virtualMachines/read`
are not enough for "VM JIT Request".

I had to also grant the user "Reader" role on the subscription level, then he can request JIT from VM.  I assume read permission to another resource is needed, just don't know exactly which one.

[2020-01-02 16:07] NavtejSaini-MSFT commented on #45411
@linkerzx We have created a Pull [Request](https://github.com/MicrosoftDocs/azure-docs-pr/pull/99992) for correcting this. Once approved by author the changes will be visible.

[2020-01-02 16:15] NavtejSaini-MSFT commented on #45426
@VitalyMCT This [Page](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-service-tiers-general-purpose-business-critical) defines the values and overview of the services that you are looking for.
Please refer this and let us know if you have any other question in this regard.

[2020-01-02 16:16] SwathiDhanwada-MSFT commented on #45347
@JnHs  Can you please provide your inputs on this issue?

[2020-01-02 16:19] ValentinVERGEZ commented on #17210
Hi, @vikaskumawat80 @MarileeTurscak-MSFT,
We have the exact same scenario as @svrooij, could we reopen this issue? Or should we open a new one?

[2020-01-02 16:20] tamram commented on #45283
#reassign: @roygara

Can you handle this one? Thanks!

[2020-01-02 16:23] dan-wesley commented on #45267
not on this team, removed myself from assignment

[2020-01-02 16:23] NavtejSaini-MSFT commented on #45425
@VitalyMCT Please elaborate on what is required to be added to the doc as the Transactional Replication is in [GA ](https://azure.microsoft.com/en-us/blog/transactional-replication-to-azure-sql-database-is-now-generally-available/)from long time.

This [page ](https://docs.microsoft.com/en-us/azure/sql-database/replication-to-sql-database)further elaborates the same. Please let us know what change

[2020-01-02 16:25] dan-wesley commented on #45130
@pbutlerm flagging this for you.

[2020-01-02 16:26] VitalyMCT commented on #45426
@NavtejSaini-MSFT, the issue is on the page for which the ticket is open:

That 99.99% figure is incorrect on its own. It's actually a range that depends on the specific tier and configuration. So the figure should either be removed, a range stated instead, a link be provided to the page with the correct figures, etc.

[2020-01-02 16:27] VitalyMCT commented on #45425
I was hoping it was clear from the title. The details around SQL Server 2019 are out of date.

[2020-01-02 16:36] Karishma-Tiwari-MSFT commented on #45258
Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment and we will gladly continue the discussion.

[2020-01-02 16:36] #45258 closed

[2020-01-02 16:37] scruffty opened #45479 "Typo"
Hello,
I noticed there area couple of typos of throughout instead of throughput under Connection Policy https://docs.microsoft.com/en-gb/azure/sql-database/sql-database-connectivity-architecture#connection-policy

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent I

[2020-01-02 16:42] NavtejSaini-MSFT commented on #45479
@scruffty We are checking this and will get back to you.

[2020-01-02 16:48] MicahMcKittrick-MSFT commented on #24784
#please-close

[2020-01-02 16:48] #24784 closed

[2020-01-02 16:50] MicahMcKittrick-MSFT commented on #24990
I fixed this. Once the PR merges the changes will go live after a few hours.

#please-close

[2020-01-02 16:50] #24990 closed

[2020-01-02 16:51] MicahMcKittrick-MSFT commented on #25442
docs were updated when we moved from Low-priority to Spot.

#please-close

[2020-01-02 16:51] #25442 closed

[2020-01-02 16:52] zoso200 opened #45480 "Documentation does not cover function app 3.x runtime version"
Article does not contain any reference to v3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b47363e3-c36f-0755-819c-26946013d673
* Version Independent ID: 197c63a1-9f72-1049-f27e-8c9c672ec472
* Content: [JavaScript developer reference for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions

[2020-01-02 16:53] MicahMcKittrick-MSFT commented on #25745
Fixed. Once the PR merges the changes will go live after a few hours.

#please-close

[2020-01-02 16:53] #25745 closed

[2020-01-02 16:54] MicahMcKittrick-MSFT commented on #26585
At this point in time we have opted to leave the document as is.

#please-close

[2020-01-02 16:54] #26585 closed

[2020-01-02 16:56] AjayKumar-MSFT commented on #45057
@swagulkarni, Apologies for the delay!  All search nodes are capable of both indexing and serving requests simultaneously. If a node is being overloaded with requests (indexing or search), it will start queuing up the requests (which will increase the time it takes to complete them), and once the queue is full, it will start throttling additional requests (http code 503). There’s no fixed threshol

[2020-01-02 16:56] #45057 closed

[2020-01-02 17:01] MicahMcKittrick-MSFT commented on #27740
Submitted a fix. Once the PR merges the changes will go live after a few hours.

#please-close

[2020-01-02 17:01] #27740 closed

[2020-01-02 17:12] rgerrits opened #45482 "Error in sample Azure CLI code to delete network profile"
Edit:
Apparently the sample code works when using Azure CLI in Bash.
But still, the last command should indicate that a the actual name of the VNet must be used (for instance with `--name <my-aci-vnet>`)

But when using PowerShell, you should use something like this:

`# Replace <my-resource-group> with the name of your resource group`
`$RES_GROUP="<my-resource-group>"`
` `
`# Get network profile

[2020-01-02 17:18] drewjandreatta opened #45483 "SID Cluster allocation"
Under the 'Install ASCS/ERS' section step 1, I see this statement:  "As you creating the resources they may be assigned to different cluster resources. When you group them, they will migrate to one of the cluster nodes. Make sure the cluster status is ok and that all resources are started. It is not important on which node the resources are running."

In our design we want to have 4 SIDs clustered

[2020-01-02 17:19] jeevansd commented on #44774
@mandiaya First you need to invite this gmail user in your Azure AD tenant. You can do this in your Azure AD JIRA application and going to Users and groups tab. While adding the user for the application you will see the option to invite the user. Once the user has accepted the invitation then he can login to your application and authenticate via Azure AD.

[2020-01-02 17:24] taromielnaz opened #45484 "Local storage"
Is it possible to backup Azure VM Files and folders to our on-premises storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c04356b4-e2a0-c095-5f47-b7fc1d2b574f
* Version Independent ID: 72900c81-5858-bb03-06fb-4af272317f20
* Content: [Back up Windows machines with the MARS agent - Azure Backup](https://docs.microso

[2020-01-02 17:36] DroverInternal opened #45485 "Error during AKS creation - VM Size"
```Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'westus'.```

This seems to be a valid error caused by default VM size being incompatible with 'westus' location. The default VM size seems to be `DS2_v2`.  The solution seems to be to specify VM size via `--node-vm-size` flag.

For folks following this

[2020-01-02 17:42] cgillum commented on #45434
You can use this GitHub thread to track our progress (and provide feedback!) on Durable Functions for Python: https://github.com/Azure/azure-functions-python-worker/issues/227#issuecomment-566654804.

As stated in the comment by @anthonychu, we're targeting early 2020 for the initial preview.

[2020-01-02 17:45] NavtejSaini-MSFT commented on #45393
@XiaofuHuang Yes this is ready to be used and get more information [here](https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/37792678-be-able-to-use-the-offset-limit-clause-with-cross)
Please let us know if you have any other questions.

[2020-01-02 17:52] NavtejSaini-MSFT commented on #45479
@scruffty We have requested the [change ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100008)for the document. Once approved the changes will display.
Thanks for the feedback.

[2020-01-02 17:58] NavtejSaini-MSFT commented on #45425
@VitalyMCT Thanks for the clarification. We are assigning this to our doc author for further updates to the document.
@MashaMSFT Please add the information for SQL Server 2019 in https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-transactional-replication#supportability-matrix-for-instance-databases-and-on-premises-systems

![image](https://user-images.githubusercont

[2020-01-02 18:04] KingdomOfEnds commented on #45024
Correct. I meant that even though the instance had the custom timestamp configured as **$ts** it will be overridden by the time the event hits the resource. If the times are also submitted as an independent column, they will appear nevertheless (per the images). Sorry for my lack of clarity there.

[2020-01-02 18:05] xSilverboltx commented on #42451
Just a checkup on this. Seems like the article still hasn't been updated regarding the Active directory enabled clusters.

[2020-01-02 18:05] SunilMiracle commented on #42894
Sorry for the late response. Thanks for the V2 GA update.
I was initially using a **"device access level connection string"** and It didn't work. I tried with a **service policy level connection string** as you suggested and it **works**. Thanks for the link on privileges.

[2020-01-02 18:07] Karishma-Tiwari-MSFT commented on #45253
Is there any update?

[2020-01-02 18:08] NavtejSaini-MSFT commented on #45426
@VitalyMCT We have raised a [request ](https://github.com/MicrosoftDocs/azure-docs-pr/pull/100010)to add this information to the document. Once reviewed and approved by content author the changes will display.
Thanks for the feedback.

[2020-01-02 18:08] #45444 closed

[2020-01-02 18:12] loosus456 commented on #45395
So, I just tried it on a Hybrid Azure AD-joined device.  The device is running Windows 10 Enterprise, version 1909.

I have successfully added the security key to my Azure AD/Office 356 account.  That part is working.

I have created the provisioning package, and I have successfully installed it.

However, after installing the provisioning package and restarting the computer, there is still no opt

[2020-01-02 18:14] pashetty commented on #29187
.NET SDK for filesystem semantics is available in public preview for ADLS Gen2. We'll update the documentation you have referenced above to clarify this. Please refer to this blog for more information: https://azure.microsoft.com/en-us/blog/extended-filesystem-programming-capabilities-in-azure-data-lake-storage/

[2020-01-02 18:20] erhopf commented on #45221
@RohitMungi-MSFT - Let me reach out to the Speech team to learn more.

How do you want to handle this moving forward as this is a new document request, not an issue with an existing document? Is there a way that you track these on your side? We can add this to our backlog.

[2020-01-02 18:22] loosus456 commented on #45395
Also: the security key appears under my "Sign-in options" within the Settings app.  So, Windows definitely sees that I have a security key, but it just doesn't seem to have the option to sign-in on the login screen.

[2020-01-02 18:23] YutongTie-MSFT commented on #45221
@erhopf Hi Erik, we can open an ADO item in our side to track it if you already have one please do share the ADO link so that we can track it. Thanks.

[2020-01-02 18:23] KrishnaG-MSFT commented on #45484
@taromielnaz Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2020-01-02 18:28] ToddChitt opened #45486 "Missing guidance for setting up Docker Container"
Well, first of all, the Submit Feedback buttons at the bottom of the page were not working, so I went with the Edit button at the top and ended up here.

The instructions for "Set up the sample labeling tool", Step 1 does not address the Linux or Windows question asked in Azure. Which to choose? And what about GPUS? What about a public IP Port?

---
#### Document Details

⚠ *Do not edit this secti

[2020-01-02 18:33] NavtejSaini-MSFT commented on #45408
@mikeclearbank We are assigning this to our doc author for further information. But do check the Client [requirements ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad-authentication-configure?tabs=azure-powershell#configure-your-client-computers)for accessing the Azure resources.
Please check the same document for the work of Azure AD with Azure SQL.

@stevestein Please check

[2020-01-02 18:34] tfitzmac commented on #45431
@ohadbitt - thanks for your feedback. As long as the resource is deployed in the same template and there are no other resources in the template with the same name, then using the resource name for the dependsOn elements works. The resource ID is usually only needed when there is some ambiguity about which resource is used for the dependency. What error are you seeing that indicates the resource na

[2020-01-02 18:35] tfitzmac commented on #45250
The article has been updated with the clarification for eventSubscriptions.

[2020-01-02 18:35] tfitzmac commented on #45250
#please-close

[2020-01-02 18:35] #45250 closed

[2020-01-02 18:43] AjayKumar-MSFT commented on #45307
Apologies for the delay!  Access tokens are for accessing provider resources, so they are present only if you configure your provider with a client secret. So, It depends on the identity provider you're leveraging, this doc section [Refresh identity provider tokens](https://docs.microsoft.com/azure/app-service/app-service-authentication-how-to?toc=%2Fazure%2Fapp-service%2Fcontainers%2Ftoc.json#ref

[2020-01-02 18:43] #45307 closed

[2020-01-02 18:49] robcamer opened #45489 "deploy-powershell.ps1 fails to run successfully"
The script fails at the end for this section / output:

Deploying the updated application gateway
az network application-gateway http-settings update: error: argument --name/-n: expected one argument
usage: az network application-gateway http-settings update [-h] [--verbose]
                                                           [--debug]

[2020-01-02 18:54] kfollis commented on #45196
@santhoshsomayajula - can you please review and advise? Is more explanation needed in the article?

[2020-01-02 18:59] Vegas84 opened #45491 "Needs Updated"
This application does not work and the instructions are wrong. The API URL's need to be updated in the application, and the documentation does not discuss the necessary Reply URL (which it won't let you enter, because the input mask is wrong).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99f33b3a-06db-3131-5764-127cd

[2020-01-02 19:03] osartavi opened #45492 "Update-AzVirtualHub"does not recognizes/requires "-VirtualWan.Id" flag"
Command sample on point "6. Commit the changes" will return the following error:

Update-AzVirtualHub -VirtualWanId $virtualWan.Id -ResourceGroupName "testRG" -Name "westushub" -RouteTable $routeTable

"Update-AzVirtualHub : A parameter cannot be found that matches parameter name
'VirtualWanId'."

The flag "-VirtualWanId" is not recognized/required by "Update-AzVirtualHub" command-let
Command-let

[2020-01-02 19:14] NebV opened #45493 "Version history is not up-to-date"
Missing 1.11.1 and latest 1.11.2 release notes.  I check this page for updates, so assumed there was no updates since 1.11.0...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4da66d93-68f0-f7d9-35db-86f5f1e69986
* Version Independent ID: 85d68da1-f955-d9f3-5f61-ff8b9f0f5477
* Content: [Microsoft Azure Storage Explorer

[2020-01-02 19:16] ojflores opened #45494 "Changed filepath"
after following these instructions, I cannot get past step 3 of installation because onboarding.py does not exist after installing the Log Analytics agent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e38be5b8-d76d-a4f1-c014-7bf9248be2de
* Version Independent ID: 976e5e90-b28c-d7ba-0495-69d92e62ea46
* Content: [Azure

[2020-01-02 19:19] tamram commented on #45418
The doc issue is now fixed.

#please-close

[2020-01-02 19:19] #45418 closed

[2020-01-02 19:21] kavi99506 opened #45495 "join operator in Azure Resource Graph queries"
I am not able to use leftanti or leftsemi join operators in Azure Resource Graph queries. I get below error message.

Please provide below info when asking for support: timestamp = 2020-01-02T19:24:29.6405799Z, correlationId = 7031f89e-aa3f-4301-a93a-ff989008fc42. (Code: BadRequest) Query is invalid. Please refer to the documentation for the Azure Resource Graph service and fix the error before re

[2020-01-02 19:23] msrini-MSFT commented on #45492
@osartavi , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-01-02 19:26] danmyhre opened #45496 "AzureAdJoined"
Should add a comment that AzureAdJoined shows as YES for either
- Azure AD Joined Devices
- Hybrid Joined Devices

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f81d74-8dcb-e644-9647-0d1d0817f975
* Version Independent ID: e249cc9d-2120-8868-dbca-bc3b85f38b4b
* Content: [Troubleshooting hybrid Azure Active Directory j

[2020-01-02 19:27] MarileeTurscak-MSFT commented on #45474
@lmalmeida
Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-02 19:29] erapade commented on #45096
Thanks @souravmishra-msft, please do that. Also please check if it’s possible to see one single user’s all consents, or limited to my all consents.

[2020-01-02 19:36] Schenz opened #45497 "Is it possible to use Live Metrics on a static generated Site?"
I'm using Gatsby to generate a static site, and have App Insights working there. My build pipeline sends the static files to an Azure Storage account and it is serving via the static website info there with an Azure CDN as well.

Like I said, I get telemetry and everything seems to work, but no live metrics. What needs to be done in addition to the basic just to track page views to get Live Metric

[2020-01-02 19:36] AjayKumar-MSFT commented on #45304
Apologies for the delay! Thanks for leveraging Azure docs feedback channel! Just to highlight, this channel is reserved for Azure documentation related questions or feedback. And, thanks for referencing asp.net docs and raising these good questions!  While I take a look into this, could you also please share the Azure document for which this feedback is applicable to?

[2020-01-02 19:38] tamram commented on #45126
@win2000b - The purpose of the hash is to keep objects on the same partition to the greatest degree possible. So you use the same hash to name objects that you want grouped on one partition for speed of data access.

For example:

abcBlob1
abcBlob2
abcBlob3
...

or

xyzBlob1
xyzBlob2
xyzBlob3

Azure will keep each set on the same partition until the data grows large enough that further load balanc

[2020-01-02 19:42] tamram commented on #45126
#please-close

I'm closing this now, please reach out if you have further questions.

[2020-01-02 19:42] #45126 closed

[2020-01-02 19:44] FrankHu-MSFT commented on #45489
@robcamer Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-02 19:44] FrankHu-MSFT commented on #45491
@Vegas84 Thanks for your feedback! We will investigate and update as appropriate.

[2020-01-02 19:44] FrankHu-MSFT commented on #45496
@danmyhre

[2020-01-02 19:46] franz-josef-kaiser commented on #35469
Just to note: I was following [this MS docs page](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file) about non-HTTP/ timer triggered functions and had the _exact same_ output, HTTP status code as well. That is highly confusing. I hope leaving this note here shows you MS guys that the setup and process might profit from some improvement. The ceiling is n

[2020-01-02 19:47] mikebudzynski commented on #45144
@Andy9874 This feature is not yet available in the new portal: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-developer-portal#does-the-new-portal-have-all-the-features-of-the-old-portal
You can track it with this GitHub Issue: https://github.com/Azure/api-management-developer-portal/issues/208

#please-close

[2020-01-02 19:47] #45144 closed

[2020-01-02 19:54] xom-pschiess opened #45498 "Additional Optional Claims in Token Configuration (Preview)"
I generally add optional claims to an OIDC id_token via an Azure AD claimsmappingpolicy (powershell). I noticed that the Token configuration (preview) blade lit up in App registrations for me recently... any plans to allow modification to claims schema aside from what is currently available in the check list? For example, we want access to extension attributes and attributes such as onpremsisessam

[2020-01-02 19:54] assafi opened #45499 "Select-AzureSubscription is not supported in the latest Az CLI"
It's now `Select-AzSubscription`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1218be14-5001-1458-f5e9-821e38730e20
* Version Independent ID: 45f58de5-cd30-0455-907f-ef1820615d7e
* Content: [Authentication - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/authentication#code-try-6)

[2020-01-02 19:58] MattHartz opened #45500 "Existing Service Fabric Application Missing Service Fabric Orchestrator"
Hi,

I have a new service fabric application with services targeting .net core 2.1. When adding container orchestrator to the API service, I only have "docker compose" as an option in the drop down. But when i pull down the FabrikamFiber application, i have "Service Fabric" as an additional option.

Is there something i am missing preventing me from adding this orchestrator to my application? When

[2020-01-02 19:59] jeevansd commented on #45491
@chetansriv and @v-nagta Can you please review this issue?

[2020-01-02 20:11] Karishma-Tiwari-MSFT commented on #45482
Thank you for your feedback. Since we do not have a separate document for PowerShell at this point, it is mentioned in the document that

The script is formatted for the Bash shell. If you prefer another shell such as PowerShell or Command Prompt, you'll need to adjust variable assignment and accessors accordingly.

We will leave the doc as-is for now. However, this GitHub issue would stay with th

[2020-01-02 20:35] Karishma-Tiwari-MSFT commented on #45483
@rdeltcheva Can you please share your insights on the customer's question. Thanks :)

[2020-01-02 20:39] cthombor commented on #31136
I'd suggest the Azure devs read https://www.sans.org/security-awareness-training/blog/secure-options-url-shortening.

[2020-01-02 20:40] mike-urnun-msft commented on #45356
Thanks for providing additional info, @jorritmeijer80! I have assigned an engineer who can help with the next steps.

[2020-01-02 20:42] cthombor commented on #31136
But... I don't think it reasonable to expect anyone outside of MS to trust (or even know about) its control of aka.ms.  So https://safecomputing.umich.edu/be-aware/phishing-and-suspicious-email/shortened-url-security is I think most relevant here...

[2020-01-02 20:51] mikebudzynski commented on #45012
Please, reassign to @miaojiang

[2020-01-02 20:52] ArvindHarinder1 commented on #31993
Adding @zchia. I believe this was being worked on.

[2020-01-02 20:54] MattHartz commented on #45500
PS I am viewing this document when trying to exercise this. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-host-app-in-a-container

[2020-01-02 21:12] idontusenumbers commented on #31136
@MohitDhingra-MSFT @eross-msft Can we get a deeper analysis of the use of this shortened URL? From a user's point of view, there's no benefit to the shortened URL and enormous costs: inability to complete task because IT blocks URL shorteners or because it's perceived as a phishing attack and thus intentionally not clicked

[2020-01-02 21:16] Karishma-Tiwari-MSFT commented on #45485
You can use this command to see what's available:
az vm list-skus -l westeurope -o table | grep -v "NotAvailableForSubscription"

I found the the general best practices guidance for selecting the right size for AKS node [here](https://github.com/Azure/k8s-best-practices/blob/master/Cost_Optimization.md#node---vm-sizes).
Your suggestion to provide guidance on right VM size based on region makes sen

[2020-01-02 21:50] mike-urnun-msft commented on #45471
@candidson Try whitelisting your Functions apps' IP. Also, are you calling for KV secrets from your code using the KV SDK, or are you using [KV references](https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references)?

It'd be better to post this question on [MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [Stackoverflow](https://st

[2020-01-02 21:55] mike-urnun-msft commented on #45486
@ToddChitt Thank you for your feedback. Could you provide us with a URL of the documentation that your feedback is applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-02 21:57] ToddChitt commented on #45486
I was trying to follow the setup steps for the new Forms Recognizer here:
https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool

[2020-01-02 21:59] mike-urnun-msft commented on #45350
@jfkproductions Just following up on my previous comment above. Please let us know if there's a specific MS Doc that your feedback is applicable to so that we can connect with the right team. Otherwise, we'll proceed to close this issue.

[2020-01-02 22:04] mike-urnun-msft commented on #45468
@KasamShaikh Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-02 22:07] BharathNimmala-MSFT commented on #45315
@assaf-grth Thanks for your query. Based on the public preview responses/feedback from our customers and based on features, robustness and stability of the product, we would release the product as soon as possible. The current proposed timeframe is HY20, will update the thread if this changes. Thank you.

[2020-01-02 22:07] candidson commented on #45471
@mike-urnun-msft IP whitelisting isn't really what I am looking for, since the communication would still go through public endpoint. I would like the communication to go through the service endpoint. I will post it on Stakeoverflow

[2020-01-02 22:09] ctudball commented on #45169
This is just comparing the resources provisioned for a [single database in the S3 tier ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-single-databases) against provisioning in Elastic Pools.  All the referencesto S3 appear to be correct.

[2020-01-02 22:15] xyh1 commented on #45186
Hi @cbailiss,

I'm the PM working on Archive storage and rehydration.
I will follow up with @Adam-Smith-MSFT and review the ticket. I will reach out after I investigate further.

Thanks,
Xin

[2020-01-02 22:17] MartinJaffer-MSFT commented on #45261
The MSI is for use with ADLS gen2.
@mamccrea for verification and possible doc clarification

[2020-01-02 22:22] reedloden opened #45508 "Update incorrect SAML instructions for HackerOne"
The directions on https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/hackerone-tutorial are incorrect and are causing confusion for our customers.

Sign on URL should be: `https://hackerone.com/users/saml/auth`

Identifier (Entity ID) should be: `hackerone.com`

Both are the same for all customers.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-01-02 22:25] abbasvanak commented on #45291
Thank you for opening this issue again.
The objective of this write is that from databricks we should be able to load file in azure blolb storage which can then be used by other application or available for other system to download it. The way databricks is writing the file looks like internal HDFS (?) format.

[2020-01-02 22:26] CawaMS commented on #45346
for enabling Change Analysis for web apps (or you can think about it as enabling in Diagnose and Solve problems tool), the tool will scan 12 files in the web app folder and store the snapshot files to calculate web app configuration change data. The operation is constant time and space complexity, with negligible performance impact on the web app and no billing cost.

[2020-01-02 22:29] FrankHu-MSFT commented on #45489
Hey @robcamer did you properly run the whole command?
The name parameter is in the command below.

[code]

[2020-01-02 22:32] djpmsft commented on #45143
The change is pending merge and should be visible within the next day.

#please-close

[2020-01-02 22:32] #45143 closed

[2020-01-02 22:35] mike-urnun-msft commented on #45500
@MattHartz Thank you for your feedback! I have assigned an engineer who can help with the next steps.

[2020-01-02 22:36] MattHartz commented on #45500
Thanks @mike-urnun-msft !

[2020-01-02 22:36] mike-urnun-msft commented on #45498
@xom-pschiess Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-02 22:36] jeevansd commented on #45508
@reedloden Thanks for letting us know the issue. Also I have sign off on the PR which you have raised. Once that document gets merged then we can close this issue.

[2020-01-02 22:37] mike-urnun-msft commented on #45495
@kavi99506 Thank you for your feedback. Since this channel is more for driving improvements towards MS Docs, could you provide us with a URL of the documentation that your feedback is most applicable to? That way, we're able to locate the right team that's better suited to address your feedback.

[2020-01-02 22:40] xom-pschiess commented on #45498
Whoops, sorry about that. I clicked on the link at the bottom of https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims and it took me here. Thanks!

[2020-01-02 22:40] xom-pschiess opened #45510 "Additional Optional Claims in Token Configuration (Preview)"
I generally add optional claims to an OIDC id_token via an Azure AD claimsmappingpolicy (powershell). I noticed that the Token configuration (preview) blade lit up in App registrations for me recently... any plans to allow modification to claims schema aside from what is currently available in the check list? For example, we want access to extension attributes and attributes such as onpremsisessam

[2020-01-02 22:44] FrankHu-MSFT commented on #45496
Hey @danmyhre thanks for letting us know about this, I've gone ahead and put this in the doc, please let us know if you have anymore thoughts regarding this issue, otherwise I'll be closing this out by end of day tommorrow

[2020-01-02 22:45] BharathNimmala-MSFT commented on #45497
@Schenz Thank you for your query. We will further investigate and get back to you at the earliest.

[2020-01-02 22:45] mike-urnun-msft commented on #45486
Thanks for providing additional info, @ToddChitt!

I have assigned this issue to the author, @PatrickFarley, to review further and take the right course of action.

cc: @powerhelmsman for the "Submit Button" issue.

[2020-01-02 22:54] mike-urnun-msft commented on #45471
@alexkarcher-msft for any insights

[2020-01-02 22:56] mike-urnun-msft commented on #45464
@SudheeshGH Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-02 22:57] mike-urnun-msft commented on #45480
@zoso200 Thank you for your feedback! We have assigned this issue to the author to review further and take the right course of action.

[2020-01-02 23:05] rvgolovin commented on #25357
Is there a plan to make it possible for the Azure SQL DB to set a firewall rule to allow only the Data Factory to connect to it and not have to open the SQL DB to the entire Azure?

[2020-01-02 23:08] hisathya opened #45511 "Doc does not explain which Rbac action/permission would allow Azure App Service Network --> Access Restrictions"
The doc does not explain which Rbac action/permission would allow Azure App Service Network Access Restrictions ? We dont want every user to have auth to set/unset ip-rules using 'Networking --- Access Restrictions' for app-services.

There is no doc explains which rbac role/action/permission controls this task ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-01-02 23:16] kjyam98 opened #45513 "Outdated AAD App Registrations guidance"
Hi there - update the 'Solution' guidance and screenshot with the latest Azure AD App registrations experience (the 'Authentication' page replaced 'Reply URLs'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51489a2b-fef9-86d8-117e-200d81cd0694
* Version Independent ID: e371c257-18cb-aead-707a-3b1eed0c30a8
* Content: [

[2020-01-02 23:22] MarileeTurscak-MSFT commented on #45474
We can see the SAML SSO option for this app when you add the application from the app gallery. Can you please make sure that your user has the Cloud App Administrator role in Azure AD? Then only you can add the application from the gallery and configure SSO for it. Also make sure that you open this app in Enterprise Apps navigation. If you open this from the App Registration you will not see the s

[2020-01-02 23:22] MarileeTurscak-MSFT commented on #45474
+ @jeevansd for visibility

[2020-01-02 23:24] MarileeTurscak-MSFT commented on #45474
We will proceed to close this thread. If you have further questions please open a new thread in [Microsoft Q&A](https://docs.microsoft.com/answers/questions/index.html) or send me an email at AzCommunity@microsoft.com.

[2020-01-02 23:24] #45474 closed

[2020-01-02 23:27] macolso commented on #43272
You will have to manually install the open source Virtual Kubelet ACI provider (instructions can be found here: https://github.com/virtual-kubelet/azure-aci) to provision a Windows server virtual node.  Please also visit ACI's documentation to learn more about the preview limitations for Windows containers (https://docs.microsoft.com/en-us/azure/container-instances/container-instances-overview#lin

[2020-01-02 23:29] Karishma-Tiwari-MSFT commented on #45513
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-01-02 23:44] MarileeTurscak-MSFT commented on #45381
@xerothermic It should be where you have your MSI logs. Check C:\\User1\\Logs\\Plugins\\Microsoft.Identity.MSI\\1.0\\service_identity_0.log

[2020-01-02 23:44] MarileeTurscak-MSFT commented on #45381
Adding @MarkusVi for visibility

[2020-01-02 23:44] alexkarcher-msft commented on #45471
How are you referencing key vault?

We have guidance in our documentation that the built in keyvault references will not work in this configuration, but calling keyvault from within your application code should work.

https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#using-key-vault-references

[2020-01-02 23:45] MarileeTurscak-MSFT commented on #45381
I'm closing this out but if you have issues getting to these please reach out on [Microsoft Q&A ](https://docs.microsoft.com/answers/questions/index.html)or send me an email at AzCommunity@microsoft.com

[2020-01-02 23:45] #45381 closed

[2020-01-02 23:46] MartinJaffer-MSFT commented on #45291
I have not found any options for stopping the HDFS format, so I wrote a bit of code to do the cleanup for you.
[code]
desiredPath is whatever you previously tried to write to.
tempPath is just a temporary spot.
I included a bit to detect whether you forgot to use coalesce(1) or not.

[2020-01-02 23:49] CawaMS commented on #45382
thanks for your feedback! Here is the pull request to fix this issue: https://github.com/MicrosoftDocs/azure-docs-pr/pull/100054
@martingbrown @MarileeTurscak-MSFT

[2020-01-03 00:20] Mike-Ubezzi-MSFT commented on #45324
@jdanyow We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion. Otherwise, please create an issue ([here](https://github.com/Azure/azure-docs-rest-apis/issues)) as instructed and the issue can be handled accordingly.

[2020-01-03 00:20] #45324 closed

[2020-01-03 00:21] MarileeTurscak-MSFT commented on #45382
Thanks @CawaMS ! I see that you already merged the PR so I'll go ahead and close this out.

[2020-01-03 00:21] #45382 closed

[2020-01-03 00:29] kgremban commented on #14254
Thanks for adding me. I can update the tutorial with more specific prerequisites, and I've contacted the owners of the microsoft-mssql-server container image to see what can be done about preventing it from being pulled onto ARM devices.

[2020-01-03 00:33] amitmsft commented on #14254
SQL Server is not supported on ARM architecture. For installing the SQL database engine on ARM64, you need to use [Azure SQL Database Edge](https://azure.microsoft.com/en-us/services/sql-database-edge/). Azure SQL Database Edge is currently in Public Preview and is supported on ARM64 devices. You will need to sign up for the public preview using the Contact Form located at the bottom of the [Azure

[2020-01-03 00:34] Mike-Ubezzi-MSFT commented on #45472
@pauloster Thank you very much for your interest in Azure SQL Data Warehouse (Synapse Analytics). The CONTROL permission is initially provided across the entire database. If this level of access is not desired and needs to be narrowed to a specific schema, you can narrow down the access to a specific schema through the following:

   DENY CONTROL ON SCHEMA :: schema_B TO user_A;

`The CONTROL perm