[2022-09-15 04:45] YashikaTyagi-MSFT commented on #98395
@argenteneo-davesniegocki
Thanks for contributing towards enhancement of document. We have performed the required changes once approved by author it will reflect in the document itself.

[2022-09-15 04:54] MayankBargali-MSFT commented on #98387
@hemetz Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2022-09-15 05:00] SadiqhAhmed-MSFT commented on #98261
@Gouravkala ,Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-09-15 05:08] AnuragSingh-MSFT commented on #98460
@chorting, Can you please clarify the issue further (with the steps followed) to help us repro/investigate this?

[2022-09-15 05:15] deepakhariharan commented on #98454
This is the Teams Link I used

https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZmE3NDI1YWQtYzRhOS00YjFiLTgzYjMtYWI0M2VhYjI4MTU2%40thread.v2/0?context=%7b%22Tid%22%3a%2236da45f1-dd2c-4d1f-af13-5abe46b99921%22%2c%22Oid%22%3a%2221434d69-289a-4ef8-af03-c67b497ff28b%22%7d&gt;

[2022-09-15 05:28] ManoharLakkoju-MSFT commented on #98353
@prats005
The IP you mentioned is the Azure Instance Metadata Service, which is a REST Endpoint that is a well-known non-routable IP address (169.254.169.254), it can be accessed only from within the VM.

For more info, please see - Azure Instance Metadata Service

Please refer the below highlighted statement in documented link
 https://docs.microsoft.com/en-us/azure/active-directory/managed-ident

[2022-09-15 05:33] kentoyo11 opened #98483 "[confusing article] requirements can be read as recommendation"
[Enter feedback here]
Is the following "Requirements" written under "Destination limitation" actually a requirement or just a recommendation? If this is just a recommendation, please write it so. If this is a requirement, why can't monitoring and non-monitoring data be stored in the same storage account?
---------
Don't use an existing storage account that has other, non-monitoring data stored in

[2022-09-15 05:40] SumanthMarigowda commented on #98443
@cweo The PR has been initiated! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-15 05:40] #98443 closed

[2022-09-15 05:41] natasha-savic-msft commented on #98360
Please ask Derek Hyatt and @diondrapeck for additional infos as they helped to isolate the issue.

[2022-09-15 05:41] AjayBathini-MSFT commented on #98447
@CrowdsourceKurdish
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-15 05:42] ignaciofls opened #98485 "Typo in a service limit for max number of pages"
Under the table of limits please update "Max number of pages (Analysis)" No limit to 2000 pages. See the limitation under:
https://docs.microsoft.com/en-us/azure/applied-ai-services/form-recognizer/concept-read#input-requirements

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51d99997-c4e2-b935-ec20-d368dc7e45a7
* Vers

[2022-09-15 05:51] mckenzm opened #98487 "Is there not an extra step to add a DNS IP to the vnet?"
Hello, how would this resolve if the vnet is not aware of the private DNS ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: defc9d72-c597-2d9c-1b89-455f63ef2e02
* Version Independent ID: c90ab2dd-4845-b834-5cdd-2b1b6a18deec
* Content: [Quickstart - Create an Azure private DNS zone using the Azure portal](https://docs.mi

[2022-09-15 06:10] steffendyhr-nielsen opened #98490 "No route registered for '/ZipDeployUI'"
Trying to follow the instructions for deploying a WAR file using the **exact instructions for the Kudu UI** _"In the browser, navigate to https://<app_name>.scm.azurewebsites.net/ZipDeployUI"_  just returns this error message:
"_No route registered for '/ZipDeployUI'_"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce

[2022-09-15 06:25] RamanathanChinnappan-MSFT commented on #98462
@joshuaphelpsms

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-15 06:29] RamanathanChinnappan-MSFT commented on #98465
@kuwakino
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-15 06:31] RamanathanChinnappan-MSFT commented on #98478
@tintinmj

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-15 06:33] RohitMungi-MSFT commented on #98485
Thanks @ignaciofls for spotting this. A PR has been raised and is under review. The page should be updated after the PR is approved and merged. Thanks!!
@laujan FYI..

[2022-09-15 06:46] #98362 closed

[2022-09-15 07:07] SaibabaBalapur-MSFT commented on #98476
@Chris-Johnston
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-15 07:40] SaibabaBalapur-MSFT commented on #98458
@SauravB-MS
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@mamccrea
Could you Please include "LB probing should be used to repair VM, in situations where VM fails to boot/stick in booting state."
So, it would be helpful to customers.

[2022-09-15 07:41] garis opened #98492 "Automation rule limitation on Fusion incidents"
I think it is important to add a note saying that Fusion incidents don't get access to the alert entities during an automation rule execution.
For example: if an automation rule is using a condition check on any entity, the check will always fail when a Fusion incident is involved because the entities are not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-09-15 07:49] alexchen2016 opened #98493 "Need your confirmation about availability of "entitlement management" in Azure China portal"
Hi writer team,

In the article I can see that in "License requirements" segment, it says "Specialized clouds, such as Azure Germany, and Azure China 21Vianet, aren't currently available for use".  Does it mean that "entitlement management" is unsupported in Azure China?  Our customers are confused about the description as they can see and click "Identity Governance" blade in "Azure Active directo

[2022-09-15 07:54] #98387 closed

[2022-09-15 08:15] fbodmer opened #98495 "Data Sources"
To my understanding Azure Monitor uses all Log Analytic Workspaces that are in scope as data sources. I also assume access to data in the Workspaces is governed as outline on: https://docs.microsoft.com/en-us/azure/azure-monitor/logs/manage-access?tabs=portal

If this assumption is correct it might be helpful to add this to the documentation - I searched extensively but couldn't find anything.

--

[2022-09-15 08:15] Venkateshdodda-MSFT commented on #98490
@steffendyhr-nielsen Thank you for your feedback! We will review and update as appropriate.

[2022-09-15 08:23] tanjakersten opened #98497 "Update Required roles to add resources to a catalog table with Identity Governance administrator"
The docs recommends to use Identity Governance administrator role instead of User administrator as User administrator will no longer be able to create catalogs or manage access packages in a catalog they do not own. However, it seems Identity Governance administrator is not able to add resources that they do not own to a catalog. Could you please add in the table the permissions for Identity Gover

[2022-09-15 08:27] simonmerrell opened #98499 ""Grant admin consent to the new service principal" procedure - step 6?"
Under the section "Grant admin consent to the new service principal", is the step 6 "Select Add permissions at the bottom of the page." required? In my portal view, from selecting "API permissions" on the left (under Manage) then on the right hand side there is a "Grant admin consent for <directory>" so you don't have to click on "Add a permission" first (and if you do, it takes you to another scr

[2022-09-15 08:46] KapilAnanth-MSFT commented on #98487
@mckenzm ,
The section, "Link the virtual network" describes how you can link a Vnet to Private DNS Zone for it to resolve the entries in DNS Zone.

If this step is skipped, the VNets will not be able to resolve.

Please let me know if you need more information on this.

[2022-09-15 09:11] georgeOsdDev opened #98502 "Question about built in assemblies of Azure Functions"
Is there any complete list about built in assemblies depends on Function Host version?

This page describe built in assemblies list. And 'Microsoft.WindowsAzure.Storage' is included.
But example on below page does not work on Functions Host v4 due to ` run.csx(1,1): error CS0006: Metadata file 'Microsoft.WindowsAzure.Storage' could not be found`

https://docs.microsoft.com/en-us/azure/azure-functi

[2022-09-15 09:42] JustinGalbraith opened #98504 "Newer Log Types not included in documentation"
Please update this page to reflect all the new log types in Azure Firewall.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377e85cd-dc27-14aa-c45f-c73603fcd4de
* Version Independent ID: 813255e3-d142-b6dc-25d9-87e54682e492
* Content: [Overview of Azure Firewall logs and metrics](https://docs.microsoft.com/en-us/azure/f

[2022-09-15 09:47] durayakar commented on #28250
Is the short answer "You cannot create Azure WAF exclusions based on URL of the request?

This is a basic and fundamental feature.
A quick web search will reveal that "rule exclusion based on URL's" feature is available for Palo Alto, Cisco, Fortinet, Sophos and SonicWall firewalls since the beginning of time - not only in next-gen.

[2022-09-15 09:49] ManoharLakkoju-MSFT commented on #98424
@AaronZhangOgi
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-15 09:52] durayakar commented on #28250
This is NOT a better idea. Just because I identified that one request parameter on one page is generating a false positive for SQL injection on my application, shall I disable the entire rule? Or shalI I exclude that parameter for any URL? Sorry, but neither option sounds like a good idea. URL based exceptions existed since the beginning of time for all layer 7 firewalls but Azure WAF.

[2022-09-15 10:00] AjayBathini-MSFT commented on #98314
@Pachehra
Could you please go through below doc link.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-placement-groups

if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-15 10:01] Venkateshdodda-MSFT commented on #98490
@steffendyhr-nielsen This is an expected behavior, If you are trying to deploy WAR file on the Linux Webapps by appending `/ZipDeployUI` to the kudu URL as mentioned here in the documentation.
![image](https://user-images.githubusercontent.com/103091186/190374584-4f461e55-92d3-4798-8804-42638503ebf8.png)

and it is recommended to use either FTP or using [ZIP deploy API ](https://docs.microsoft.com

[2022-09-15 10:05] steffendyhr-nielsen commented on #98490
Thx for the feedback..  I'm sorry I missed that part, before posting..  That said, the only way it was possible for me to deploy a WAR to the linux app service without any hassle (read: only one that succeeded in a working app) was using the azure CLI on my local computer.  You are welcome to close the issue ;)

[2022-09-15 10:06] AjayBathini-MSFT commented on #98493
@alexchen2016
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 10:06] SAIMMINHAS commented on #98435
Hi @ManoharLakkoju-MSFT

Many thanks for the update. Actually, i was able to sort it our already.

Also, not sure if you can help with another issue as well. It's been opened for 8 days now and no one has looked into it.
https://github.com/MicrosoftDocs/azure-docs/issues/6714

https://github.com/MicrosoftDocs/windowsserverdocs/issues/6714

Not sure if you are able to triage to the right team?

Tha

[2022-09-15 10:08] Venkateshdodda-MSFT commented on #98490
@steffendyhr-nielsen Thanks for your swift response and confirmation. We will close this out, but if you feel you need more information, please just let us know.

[2022-09-15 10:08] #98490 closed

[2022-09-15 10:11] AjayBathini-MSFT commented on #98497
@tanjakersten
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-15 10:16] AjayBathini-MSFT commented on #98492
@garis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 10:24] ManoharLakkoju-MSFT commented on #98435
@SAIMMINHAS
Thanks for bringing this to our attention.
we will forward the case to concern team.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-15 10:24] #98435 closed

[2022-09-15 10:34] RamanathanChinnappan-MSFT commented on #98456
@donsonr

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-15 10:38] magic-happenz opened #98505 "Azure AD NormalizeDiacritics is not using common rules"
The way Azure AD is "normalizing diacritics" (https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/functions-for-customizing-application-data#normalizediacritics) does not make sense and is not common for some languages.

Example:
It "normalizes" a German "ä" to "a". However, the common way is replacing it with "ae". To replace a name for instance with an "a" would make it a co

[2022-09-15 10:57] bkwdesign opened #98506 "the first set of tabs say "Classic" / "Classic" (instead of "YAML"/"Classic")"
the first set of tabs say "Classic" / "Classic" (instead of "YAML"/"Classic")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a456d5b-3cff-be3f-f227-3533bc46c765
* Version Independent ID: f2ea1560-6787-7618-312d-78031ed5a73b
* Content: [Configure CI/CD with Azure Pipelines - Azure App Service](https://docs.microsoft.co

[2022-09-15 11:01] g-ollis commented on #62842
I am also getting this issue, I think this should be re-opened.

[2022-09-15 11:03] SumanthMarigowda commented on #98337
@bryanjrague Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-15 11:04] SumanthMarigowda commented on #98436
@gbeaud Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-09-15 11:27] Venkateshdodda-MSFT commented on #98506
@bkwdesign Thank you for your feedback! We will review and update as appropriate.

[2022-09-15 11:37] Johns-305 commented on #98463
Put it this way, the option might as well be called SuperAwesomeMode - Determines if the components runs in SuperAwesomeMode.

Ok, what is SuperAwesomeMode and what makes it, presumably, Super Awesome?

I'm am using a Flat File Schema from an upgraded BizTalk App and it seems the Flat File Encoder is not as compatible as suggested.

The preserve_delimiter_for_empty_data property is ignored.  Meani

[2022-09-15 11:40] eliaquimbrandao opened #98508 "Inconsistency in Azure Files scalability and performance targets documentation"
[Enter feedback here]
Hi Team,

Working in a scenario with Citrix and Azure File the following information was noticed as inconsistent in the "Azure Files scalability and performance targets" article.

**Issue**:
Customer reach the upper limit of concurrent open handles receiving the error of "**Not enough quota is available to process this command**", in the troubleshooting documentation [https:/

[2022-09-15 11:42] #98506 closed

[2022-09-15 11:43] Venkateshdodda-MSFT commented on #98506
@bkwdesign Document is updated, and the change will go live soon.

[2022-09-15 11:59] GitaraniSharma-MSFT commented on #98504
@JustinGalbraith , thank you for your feedback. We'll review this and get back to you shortly!

[2022-09-15 12:12] sblair01 commented on #98199
Apologies. These pages were renamed recently. Here is the correct
page:  Enterprise-Scale-for-AVS/readme.md
at main · Azure/Enterprise-Scale-for-AVS (github.com)
<https://github.com/Azure/Enterprise-Scale-for-AVS/blob/main/BrownField/Networking/Step-By-Step-Guides/Implement%20Expressroute%20connectivity%20for%20AVS%20without%20Global%20Reach/readme.md>

On Fri, Sep 9, 2022 at 6:37 AM Jacob Jaygbay

[2022-09-15 12:28] GitaraniSharma-MSFT commented on #98364
@aidanfinn , I'm following up on my previous comment. Could you please provide an update on this post for further discussion?

[2022-09-15 12:30] GitaraniSharma-MSFT commented on #98305
@marklagendijk , We have assigned this to the content owner/author for review & update.

@duongau , I have looped you in the internal email where the backend team has provided some insights on this feedback. Please review the same and update the doc accordingly.

[2022-09-15 12:50] brucelangston opened #98510 "specifying IP Group addresses in format combinations"
The referenced docs.microsoft.com page specifies the following: "An IP Group can have a single IP address, multiple IP addresses, or one or more IP address ranges." That first "or" implies that single or multiple addresses cannot be combined with address ranges in a single IP Group.  I was curious if that implied exclusion is the case.  Upon further research, I found that the example here, https:/

[2022-09-15 12:55] ChaitanyaNaykodi-MSFT commented on #98510
Thank you for your feedback! We will review and update as appropriate.

[2022-09-15 13:02] maud-lv commented on #81823
Hello @drdamour I have more information in the "tip" section, including the advice shared by Zhenlan above. Thank you again for reporting this issue.

[2022-09-15 13:15] guywi-ms commented on #97614
@the-sentinental-guy Thanks again for bringing this issue to our attention. I'm closing this issue. Please reopen or comment if you have additional concerns.

#please-close

[2022-09-15 13:15] #97614 closed

[2022-09-15 13:16] bryanjrague commented on #98337
Thanks @SumanthMarigowda I appreciate considering the updates. Having the key rotation and uniqueness documented would help us better promote the security of Azure to potential customers.

[2022-09-15 13:23] mike-f50 opened #98511 "<conf-key> placeholder not explained"
Under [Access your blob container from Azure Databricks workspace](https://docs.microsoft.com/en-us/azure/key-vault/general/integrate-databricks-blob-storage#access-your-blob-container-from-azure-databricks-workspace), there is a placeholder for `<conf-key>` in the sample code, which is not explained.

I belive this should be `fs.azure.account.key.<your-storage-account-name>.blob.core.windows.net`

[2022-09-15 13:34] SumanthMarigowda commented on #98251
@mattlunzer The PR has initiated,  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-15 13:34] #98251 closed

[2022-09-15 13:35] bob-okeefe opened #98515 "Outdated directions"
[Enter feedback here]
Under step 5b of the Create a callable endpoint section the documentation talks about how to get to the trigger history.  However, the screenshot no longer matches the current product and needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a18a5a6-0630-17aa-a2d1-686e575d7e22
* Ver

[2022-09-15 13:37] gzerphISA commented on #95092
I would like to bump this request as I am seeing the same error.

[2022-09-15 13:48] josefahmed opened #98517 "Page not updated"

[2022-09-15 13:50] #98517 closed

[2022-09-15 14:21] bmansheim commented on #97756
Hi @jurjenoskam . Sorry for the delay. I was trying to track down an answer for you but it seems best if you address this questions to support.

If you get an answer that needs to be incorporated into the docs, please open another issue and we'll update the docs.

Thanks!
#please-close

[2022-09-15 14:23] summitabrown commented on #92058
I am interested in the static file approach. Did you just map to the mounted directory?

[2022-09-15 14:27] Torxsmind opened #98519 "Document out of date"
The references / screenshots are out of date due to Microsoft and P9 continual improvements.  SSO fails using these inaccurate / incomplete steps.

Needs refreshed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 220ae7c5-cf42-2bb7-2748-5c83dac48dce
* Version Independent ID: 3e806d28-3a3f-dc0b-5157-e7f135a87cc5
* Content

[2022-09-15 14:30] mumurug-MSFT commented on #98515
@bob-okeefe Thanks for your feedback. We will update as appropriate.

[2022-09-15 14:34] cephalin commented on #77369
@yutaro113 it's clarified here that backups don't include run-from-package scenarios: https://docs.microsoft.com/en-us/azure/app-service/manage-backup?tabs=portal#whats-included-in-an-automatic-backup

[2022-09-15 14:34] cephalin commented on #77369
#please-close

[2022-09-15 14:35] #77369 closed

[2022-09-15 14:52] AbbyMSFT commented on #96651
#reassign: @guywi-ms

@guywi-ms - This looks like a log analytics issue. I will contact you offline about this one.
Thanks,
Abby

[2022-09-15 14:55] TaraWM commented on #98280
Hi,

Thank you so much. Any additional reassurance would be great as I’m due to
try this configuration on a production site tomorrow. Just on a test OU to
start with but all user OUs across multiple domains need to be syncing to
both their current tenant and this new tenant  by end of month. Nervous
about that.

Thanks
Tara

On Wed 14 Sep 2022 at 11:09, YashikaTyagi-MSFT ***@***.***>
wrote:

[2022-09-15 14:56] camalloy opened #98521 "Misleading information in Cost Effectivness section"
The section on the cost-effectiveness of Premium Block for write-heavy workloads is misleading. It says that:

 _"If your applications and workloads execute a large number of transactions, premium blob blob storage can be cost-effective, especially if the workload is write-heavy."_

However, that is only the case for lower storage volumes, and I think this needs to be called out. In the example, t

[2022-09-15 15:12] daescala opened #98524 "Request change"
[Enter feedback here]
Within TIP it says > Eliminate the need for a distributed network name for your Always On availability (AG) group by creating your SQL Server VMs in [multiple subnets](https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-prerequisites-tutorial-multi-subnet?view=azuresql) within the same Azure virtual network.

Should

[2022-09-15 15:13] JamesTran-MSFT commented on #98505
@magic-happenz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-15 15:14] JamesTran-MSFT commented on #98511
@mike-f50
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-15 15:14] JamesTran-MSFT commented on #98519
@Torxsmind
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-15 15:44] mumurug-MSFT commented on #98502
@georgeOsdDev Thanks for your feedback. We will review and update as appropriate.

[2022-09-15 16:04] socullen opened #98525 "Wrong command for creating ML workspace"
I would like to raise an issue on the command described on how to create an AML workspace.

Currently the command is:
[code]

However, it should be:
[code]
<img width="506" alt="Screenshot 2022-09-15 180419" src="https://user-images.githubusercontent.com/85845774/190452749-e8681f0d-a497-43ca-8ee6-02af7b98f5bf.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2022-09-15 16:08] AjayBathini-MSFT commented on #98495
@fbodmer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 16:09] dodge1350-frp commented on #65971
It's been almost 2 years and yet no solution has been provided or any updates on if they are even attempting to find a solution to this.  What about managed identity for Exchange Online?  Is there support for that?  Would that work?

[2022-09-15 16:09] AjayBathini-MSFT commented on #98499
@simonmerrell
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 16:10] AjayBathini-MSFT commented on #98508
@eliaquimbrandao
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 16:11] chrisfcarroll commented on #95498
As well as the Xamarin tutorial mentioned by OP, this problem applies to other NotificationHub documentation/Tutorials, including the pages we get to after following links from pages that telling us that GCM was deprecated by 2016.

The pages all describe wanting a **Server Key** but nothing in Firebase or GCP shows a Server Key or how to create one, unless you think to click through on **Cloud Me

[2022-09-15 16:14] AjayBathini-MSFT commented on #98524
@daescala
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 16:15] AjayBathini-MSFT commented on #98525
@socullen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-15 16:37] joshuaphelpsms commented on #98462
Thank you for the quick response!

[2022-09-15 17:35] avallen opened #98526 "Where does the tenant URL and the credential come from?"
In this tutorial's text and also video, the provenance of the secret token is not explained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9399f2f6-0ccf-7f04-e5c9-eed9ef5330fd
* Version Independent ID: afd04f3c-59a4-dacd-36f4-ddfb6fdd3d2d
* Content: [Tutorial: Configure Adobe Identity Management for automatic user pro

[2022-09-15 17:39] sofbkeller opened #98527 "SKUs list Missing MCOMEETACPEA SKUID"
The SKU ID for MCOMEETACPEA is missing from this page. If this is meant to be a list of sku plans that could be assigned to a user then it should be included.
The SKU ID is: df9561a4-4969-4e6a-8e73-c601b68ec077

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID:

[2022-09-15 17:53] mumurug-MSFT commented on #98464
This is similar to other issue #85860, and currently open with the author. Assigning this also to review it further.

[2022-09-15 17:55] abatishchev opened #98528 "No tutorial to Create a cross-region Azure Load Balancer using ARM template"
Currently there are 3 tutorials:

- using the [Azure Portal](https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-cross-region-portal)
- using [PowerShell](https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-cross-region-powershell)
- using [Azure CLI](https://docs.microsoft.com/en-us/azure/load-balancer/tutorial-cross-region-cli)

but no for using ARM template.

---
#### Docume

[2022-09-15 18:18] khdownie commented on #98499
@simonmerrell you are correct. Thanks for pointing this out. The portal sometimes changes before we can reflect the UI changes in the docs. I've made the change here:
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-azure-active-directory-enable#grant-admin-consent-to-the-new-service-principal

@AjayBathini-MSFT this issue can now be closed.

[2022-09-15 18:34] josuvil opened #98530 "group writeback and soverign clouds"
Group Writeback preview feature is currently not released in sovereign clouds. Should we add a statement to the affect?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ef5e848-ca7a-8924-8da2-73163a489e5b
* Version Independent ID: ad118082-f4bb-624c-b541-942ba235f370
* Content: [Azure AD Connect: Group Writeback - Micro

[2022-09-15 18:35] normesta commented on #95885
Hi @sethwisdom preview module for PS and preview extension for CLI are no longer needed. The articles have been updated and the change will be live at around 3. Thanks for posting!

#please-close

[2022-09-15 18:35] #95885 closed

[2022-09-15 18:36] normesta commented on #95885
#please-close

[2022-09-15 18:46] amsliu commented on #98303
@ilyalushnikov Could you please take a look at the customer's response and let me know if any clarification is needed? Thanks in advance

[2022-09-15 19:00] ChaitanyaNaykodi-MSFT commented on #98528
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-15 19:11] shayoniseth commented on #95092
#reassign: @nkiest

[2022-09-15 19:12] shayoniseth commented on #95092
@rolyon What additional information do you need?

[2022-09-15 19:15] denver-reed opened #98532 "Running Join-AzStorageAccount Permissions"
In order for this to work properly in many customer environments (all that I've seen), the user executing the Join-AzStorageAccount command needs to be a domain admin. I think this would be helpful to add to the docs as the error doesn't clearly indicate it is a permissions issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-09-15 19:46] khdownie commented on #98499
#please-close

[2022-09-15 19:46] #98499 closed

[2022-09-15 20:07] JamesTran-MSFT commented on #98527
@sofbkeller
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-15 20:37] Marusyk opened #98535 "Use BlobOutput without BlobInput"
According to docs, I expect that this code should works
[code]

However, there is no blob.
Could you suggest?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910d4732-bb08-d16a-a932-19c6bd1628c2
* Version Independent ID: af4358c7-cb5c-bdc7-6433-289f47dc186b
* Content: [Azure Blob storage output binding for Azure Functio

[2022-09-15 20:39] JamesTran-MSFT commented on #98530
@josuvil
Thanks for your feedback! Since you're an FTE, it's recommended to leverage the [Contribution Proposal Form](https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR958mqNUZExPsLDhzSGD8aFUNVBKTFpITkFGR0FWV0U2VVhIWU1EQUcxVi4u) to submit your proposal(s) to contribute to [docs.microsoft.com](http://docs.microsoft.com/). Optionally, you can contribute by creating your own [P

[2022-09-15 20:39] #98530 closed

[2022-09-15 20:42] artisticcheese opened #98536 "Need to update instructions about using managed identity"
If managed identity is not assigned role on subscription level (which is should not for a lot of operations based on minimum privilege requiremenet) then code specified on page to authenticate with system assigned identity would fail since context would not contact subscription ID. Here is details to reproduce (https://www.ciraltos.com/azure-automation-subscription-null-or-empty/)
Code below would

[2022-09-15 20:49] mamccrea commented on #98458
#reassign: @ju-shim

[2022-09-15 20:51] Marusyk commented on #98535
even this example doesn't work [static ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-output?tabs=isolated-process%2Cextensionv5&pivots=programming-language-csharp#example)

FunctionContext  is undefined

[2022-09-15 20:55] forrest-microsoft opened #98537 "Better explanation of what certificate permissions represent is needed to make safe and secure decisions"
This page would be substantially more useful if it explained what these permissions actually do. For instance, does the 'Get' permission on key vaults provide just the public key? The private key? It's very difficult to understand the scope of the permissions without details on exactly what you are able to do with them. I've done quite a bit of hunting through docs, and I've found no other source

[2022-09-15 21:15] RoseHJM commented on #98153
@YashikaTyagi-MSFT - could you close this issue please?

[2022-09-15 21:20] ilyalushnikov commented on #98303
@davidkench what exactly Azure team tries to do, but not able to?
For example: view assignments, create assignments, manage PIM policies, etc.?

[2022-09-15 21:27] lymedo commented on #69947
@SaurabhSharma-MSFT We are still seeing this issue 2 years on from when this was raised.
We need to be able create a workspace with default linked services that do not contain the instance name - please reopen this issue and advise a solution. Thanks

[2022-09-15 21:27] mercerchen-msft opened #98538 "Vague Instruction on how to update API version for API Management"
Looking at this doc I have no idea how to do that. In the warning email, I only saw my subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5dad566-d91f-f7cf-3e0f-c6c0413c2ee0
* Version Independent ID: 01e5a466-5dbb-1afb-84d5-f2683aa9c074
* Content: [Azure API Management - API version retirements (September 20

[2022-09-15 21:30] mumurug-MSFT commented on #98535
@Marusyk Thanks for your feedback. We will review the sample and update as appropriate.

[2022-09-15 22:02] miniGweek opened #98541 "Azure IoT Edge Tools for Visual Studio for 2022 doesn't support debugging with IoT Edge Runtime 1.4 yet"
Please update the document to mention that Azure IoT Edge Tools for Visual Studio for 2022 doesn't support debugging with IoT Edge Runtime 1.4 yet

I have raised a corresponding issue in the Azure IoT Edge Tools for Visual Studio for 2022 repository https://github.com/microsoft/vs-azure-iot-edge-docs/issues/43
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-09-15 22:17] WilliamDAssafMSFT commented on #98429
#assign:WilliamDAssafMSFT

[2022-09-15 22:17] WilliamDAssafMSFT commented on #98429
Addressed in comments in https://github.com/MicrosoftDocs/azure-docs/pull/98500#issuecomment-1248444077.
#please-close

[2022-09-15 22:17] #98429 closed

[2022-09-15 22:41] JamesTran-MSFT commented on #98537
@forrest-microsoft
Thanks for your feedback!

From the doc that this issue was created on, the GET permissions for certificate management operations will `Get the current certificate version, or any version of a certificate`. The permissions for certificate management operations referred to in this article are specifically referring to the [Key Vault Access Policies](https://docs.microsoft.com/en-

[2022-09-15 22:41] #98537 closed

[2022-09-15 22:46] SatishBoddu-MSFT commented on #98455
Hello @mike-romanowski-hgi Thanks for reaching out on this Doc feedback channel.
I would request you to open an issue with your question on [Microsoft QnA forum](https://docs.microsoft.com/en-us/answers/questions/ask.html) where there is a community that can help (plus the engineering team)

Please let us know if you need further help in this matter .

We will now proceed to close this thread. If

[2022-09-15 22:46] #98455 closed

[2022-09-15 23:23] Marwaabouawad opened #98543 "Adding best practices for a swap operation to the existing public Documentation, to eliminate any downtime of the Production app."
[CX had production deployment and during auto swap from staging slot to production slot, Cx noticed the healthcheck showing one instance is down.

The app later is up after that, cx needs help to check what happened during the auto swap that causing the server error. Customer expectations about swapping might have been 0 downtime.

After investigation, it turned out that Cx didn't follow the best

[2022-09-15 23:29] JamesTran-MSFT commented on #98264
@Kaypyosh
Since our documentation is currently correct, and this issue isn't directly related to improving our docs. I'd recommend working closer with our support team via an [Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request), or you can leverage our [Q&A forum](https://docs.microsoft.com/en-us/answers/products/) by posti

[2022-09-15 23:29] #98264 closed

[2022-09-15 23:51] Matiszak opened #98546 "NSG - different bahaviour for Basic/Standard ip"
Regarding https://docs.microsoft.com/en-us/answers/questions/1010091/cannot-connect-to-vm-without-nsg.html?childToView=1010111#answer-1010111 I think the examples in the link above should be extended to include information about the difference between Basic/Standard IP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd

[2022-09-15 23:54] TonySh127-ms commented on #96580
Hi @v-missam , thanks your response. I suggest if we can add some comment about the permission can be customized by salesforce side. It may avoid the customer confusion the permission can only be "system administrator". If that possible, we may can give some link to point out where the customer needs to contact. The permission is required from salesforce side. they need help to explain which permi

[2022-09-15 23:57] forrest-microsoft commented on #98537
Hi James. Thanks for looking. My point is that the text "Get the current certificate version, or any version of a certificate" does not accurately or effectively communicate what permissions are being grant being granted by that access policy (nor do the docs you linked to about the key vault access policies as that just describes how to add them not what rights a given access policy grants).

For

[2022-09-16 00:14] emilylait opened #98548 "Prepaid CC"
HI, can the very small note about prepaid Credit Cards not being supported by highlighted please as a note at the top of the document?

"Azure doesn't support virtual or prepaid cards."

It is very small far down, and is not easily seen. Many customers try to use prepaid CCs for their Azure environments and then find errors. Please call out in a highlighted NOTE Azure does not support prepaid CCs.

[2022-09-16 01:48] #98377 closed

[2022-09-16 01:49] mumurug-MSFT commented on #98538
@mercerchen-msft Thank you for reaching out. As mentioned in docs, APIM service isn't affected by this change. However, any tool, script, or program that uses the Azure Resource Manager (such as the Azure CLI, Azure PowerShell, Azure API Management DevOps Resource Kit, or Terraform) is affected by this change.

For example, ARM template has API versions https://docs.microsoft.com/en-us/azure/templ

[2022-09-16 02:21] KrishnaG-MSFT commented on #98548
@emilylait Thanks for your comment! We will review and provide an update as appropriate.

[2022-09-16 02:32] AshokPeddakotla-MSFT commented on #98541
@miniGweek Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-16 03:06] #85130 closed

[2022-09-16 03:10] AshokPeddakotla-MSFT commented on #98331
@guinn8 Do let us know if you have any further queries related to this doc.

If you have a product-related question, please post to [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/) and we will happily continue the conversation.

If you have documentation-related feedback, please create a new issue linking the exact document that you would like to change.

Since we have not heard back fro

[2022-09-16 03:10] #98331 closed

[2022-09-16 03:14] YashikaTyagi-MSFT commented on #98280
@billmath could you please provide your input on this?

[2022-09-16 03:18] YashikaTyagi-MSFT commented on #98395
@argenteneo-davesniegocki
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-16 03:18] #98395 closed

[2022-09-16 03:38] Philedit6665 opened #98550 "Ui8FXiaomi und die beiden Seiten von unserem Haus und outside"
Unix Allgemein

[2022-09-16 04:05] AjayBathini-MSFT commented on #98532
@denver-reed
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 04:08] AjayBathini-MSFT commented on #98536
@artisticcheese
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 04:11] AjayBathini-MSFT commented on #98543
@Marwaabouawad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 04:14] davidkench commented on #98303
They were trying to assign Azure Resource roles via PIM.  However, they were unable because they had not activated their own Owner role 😃

Thank you for your assistance.  We’re all good.

Kind regards,

David Kench
M365 Engineer | Intelligent Workspace

501 Ann Street, Fortitude Valley, QLD 4006, Australia
Email: ***@***.******@***.***> | Mobile: +61 435 160 796
www.datacom.com.au<http://www.datac

[2022-09-16 04:15] AjayBathini-MSFT commented on #98546
@Matiszak
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 04:17] AjayBathini-MSFT commented on #98550
@Philedit6665
Could you elaborate the issue clearly. It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-16 04:19] AjayKumar-MSFT commented on #98517
josefahmed,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know ( with the Azure doc for which this feedback is applicable to)

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting

[2022-09-16 04:20] KapilAnanth-MSFT commented on #98546
@Matiszak, This particular document talks about how NSGs

"Open by default" is a behavior of basic SKU Public IP and hence is documented on Public IPs page.
https://docs.microsoft.com/en-us/azure/virtual-network/ip-services/public-ip-addresses#sku

Please let us know if you require additional information.

[2022-09-16 04:43] AnuragSingh-MSFT commented on #98536
@artisticcheese, thank you for bringing it to our attention. This information is available under the section "[Assign role to a system-assigned managed identity](https://docs.microsoft.com/en-us/azure/automation/enable-managed-identity-for-automation#assign-role-to-a-system-assigned-managed-identity)". Please note the following statement:

"_Before you can use your system-assigned managed identity

[2022-09-16 04:46] s4parke opened #98552 "403 Forbidden Error - Run Azure Resource Graph Queries in an Azure Logic App tutorial"
Thanks for all the work on these excellent guides!

There is a discontinuity in tutorial starting in the section: [Setup a Managed Identity](https://docs.microsoft.com/en-us/azure/governance/resource-graph/tutorials/logic-app-calling-arg#setup-a-managed-identity).

Appropriate authentication to make REST queries against **https://management.azure.com** is not provided by the sample code or the wri

[2022-09-16 04:51] deepakhariharan commented on #98450
This is the Screen shot of my Application.
![image](https://user-images.githubusercontent.com/17702613/190559091-96f9522d-cdd4-4652-a07b-0b6b70347240.png)

[2022-09-16 04:52] YashikaTyagi-MSFT commented on #98289
@duy1998
In order to Enable cross-app SSO on Android using MSAL. You need to follow the following steps mentioned in the link.
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#prerequisites

After that. Please perform the following steps mentioned:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#sso-through-brok

[2022-09-16 04:57] deepakhariharan commented on #98375
This is the screen shot, What value I should pass to ' the textbox Who would you like to call?'
![image](https://user-images.githubusercontent.com/17702613/190559714-8a4eec59-5c6e-4863-820c-4634761b56ad.png)

[2022-09-16 05:05] Venkateshdodda-MSFT commented on #98543
@Marwaabouawad We see that Ruslan blog is already mentioned in the documentation under specify custom warm-up section.

![image](https://user-images.githubusercontent.com/103091186/190559500-4e377025-5385-4ec5-b3c2-95aaa1cf967a.png)

and also, it is clearly mentioned in the Swap operations Steps that

If [auto swap](https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#Auto-Swap)

[2022-09-16 05:09] ManoharLakkoju-MSFT commented on #98353
@prats005
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-16 05:09] #98353 closed

[2022-09-16 05:15] YashikaTyagi-MSFT commented on #98448
@Zeolitotx
I am not sure if this feature is available for windows 11 devices as of today as per the instructions in the documentation.
@Justinha could you please provide some clarity on this? Thanks in advance

[2022-09-16 05:57] SaibabaBalapur-MSFT commented on #98292
@anilarunshanbhag
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-16 05:57] #98292 closed

[2022-09-16 06:04] SaibabaBalapur-MSFT commented on #98521
@camalloy
Details regarding Cost effective and its definition is provided here- https://docs.microsoft.com/en-us/azure/storage/files/understanding-billing#what-are-transactions &
https://docs.azure.cn/en-us/billing/billing-azure-core-services-billing-instructions#the-basics-of-storage-billing

if there are any further questions regarding the documentation, please tag me in your reply and we will b

[2022-09-16 06:06] YashikaTyagi-MSFT commented on #98412
@kquinby
I reviewed your issue and found a document which clears that this feature currently not available for Azure AD Guest accounts.
Please find the below link for more information.
https://docs.microsoft.com/en-us/azure/active-directory/devices/faq#can-a-guest-user-sign-in-to-an-azure-ad-joined-device

[2022-09-16 06:09] SaibabaBalapur-MSFT commented on #98532
@denver-reed
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@khdownie
Please review .

[2022-09-16 06:20] gonkilluaHxH commented on #98313
@RamanathanChinnappan-MSFT Hello, I'm still waiting for a solution to the issue..

[2022-09-16 06:22] AjayBathini-MSFT commented on #98508
@eliaquimbrandao
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@khdownie
Please review it

[2022-09-16 06:43] AjayBathini-MSFT commented on #98524
@daescala
Could you go through the doc links provided. It will give you some clarification between the distributed networks and Load balancer for your Always On availability (AG) by creating your SQL Server VMs in multiple subnets within the same Azure virtual network.

https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-distributed-network-name-dnn-listene

[2022-09-16 06:49] matthiasguentert opened #98553 "Sliding & Snapshot images are hard to read in dark mode"
Sliding & Snapshot images are hard to read in dark mode

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6-76146128e1ce
* Content: [Introduction to Azure Stream Analytics windowing functions](https://docs.microsoft.com/en-us/azure/stream

[2022-09-16 06:49] ivassallo19 opened #98554 "PHONESYSTEM_VIRTUALUSER SKU Product Name Update"
SKU ID: PHONESYSTEM_VIRTUALUSER

Microsoft 365 Admin Portal currently shows this as updated, so Product name should be "Microsoft Teams Phone Resource Account"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [P

[2022-09-16 06:55] davidvesp opened #98555 "Cloning an existing slot"
In the section "Cloning an existing App Slot", there is the following command to clone a slot:

`$destapp = New-AzWebApp -ResourceGroupName DestinationAzureResourceGroup -Name dest-app -Location "North Central US" -AppServicePlan DestinationAppServicePlan -SourceWebApp $srcappslot`

I tried but always received the following error:
`New-AzWebApp : Long running operation failed with status 'Internal

[2022-09-16 06:59] BerndGewehr commented on #42487
I am working with the Zoom gallery app and I have the same problem as described above.

Have my group with an app role and some members in it
![image](https://user-images.githubusercontent.com/21081707/190576163-4b39d56e-7be4-4a02-a467-537a764515b0.png)

But the expression does not evaluate in anything but null
![image](https://user-images.githubusercontent.com/21081707/190576326-26df05c0-af21-4ac

[2022-09-16 08:01] dohughes-msft opened #98557 "Custom domain is required"
This page specifies that custom domain is optional but in the Azure portal, custom domain is a required field when creating an ARO cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93aa980e-1970-235c-228a-7b19880171b8
* Version Independent ID: 6f7937a4-12e0-d61c-3bd8-c6347ec48385
* Content: [Tutorial - Create an

[2022-09-16 08:04] innoforce-dev opened #98558 "Languages menu"
I discovered that there is a "Languages" option in the menu widget. Unfortunately I did not find any documentation on the topic of internationalising the dev portal or where to configure the languages...

![2022-09-16_10-00-30](https://user-images.githubusercontent.com/20574773/190588707-f3419309-a039-4766-825b-295d1b7e9d0c.png)

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-09-16 08:16] YashikaTyagi-MSFT commented on #98412
@kquinby
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-16 08:16] #98412 closed

[2022-09-16 08:17] ggailey777 commented on #97019
@cloudmelon can you help address this question from @adamholthaus50? It seems like these dates could better align.

[2022-09-16 08:23] ggailey777 commented on #96701
We've documented this now:

+ <https://docs.microsoft.com/azure/azure-functions/storage-considerations?tabs=azure-cli#host-id-considerations>

+ <https://docs.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account#host-id-collision>

If you think we need more, just LMK.
#please-close

[2022-09-16 08:23] #96701 closed

[2022-09-16 08:25] ggailey777 commented on #96635
Kafka has been re-added to the native retry list. Thanks for pointing this out. #please-close

[2022-09-16 08:25] #96635 closed

[2022-09-16 08:33] gjoshevski commented on #98326
@kdubba is your existing AKS cluster running With Azure CNI or with Kubenet?

When using Kubenet mode, Only nodes receive an IP address from subnet. Pod are assigned IP addresses from the PodIPCidr and a route table is created by AKS. This route table helps the packets destined for a POD IP reach the node which is hosting the pod.

When packets leave Application Gateway instances, Application Gate

[2022-09-16 08:58] natasha-savic-msft opened #98559 "Align example jsonl with definition table"
Jsonl example for instance segmentation is not following the schema that is needed. In the example dictionary, all values are strings, while the table with the definitions shows different data types (e.g. polygon: example ->list of strings; definition_> list of float). This is very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-09-16 08:59] andy-vdg commented on #98386
*Updated with correct claim mappings
![image](https://user-images.githubusercontent.com/19990167/190599572-b303c6cf-a440-4327-a88e-d233b71062ff.png)

[2022-09-16 09:00] andy-vdg commented on #98386
Email address: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress
First name: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname
Last name: http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname

[2022-09-16 09:01] andy-vdg commented on #98386
Full Screenshot
![image](https://user-images.githubusercontent.com/19990167/190600090-d0c5b9dd-8e14-4978-b499-fa835f374952.png)

[2022-09-16 09:19] SuperGraham commented on #97959
Hi @MarileeTurscak-MSFT - The extra permissions were already there.

![image](https://user-images.githubusercontent.com/62471259/190598495-bdf53aea-216e-4218-a4d2-735939cf7a82.png)

I also added permissions for Verifiable Credentials Service to the Verifiable Credentials App.
![image](https://user-images.githubusercontent.com/62471259/190598866-564fa491-45b4-49dc-a6d3-d27ea29ee7fe.png)

I am getti

[2022-09-16 09:30] Jessieliu111 opened #98561 "conda_dependencies.yml changes the base image."
[Enter feedback here]
Below code will change the base image to the default one. Please help explicitly point this out. Thanks.
=============
from azureml.core.environment import Environment
from azureml.core.conda_dependencies import CondaDependencies

myenv = Environment(name="myenv")
conda_dep = CondaDependencies()

# Installs numpy version 1.17.0 conda package
conda_dep.add_conda_package("numpy

[2022-09-16 09:32] RamanathanChinnappan-MSFT commented on #98417
@brydeno

I think we can try to execute a PowerShell code after the deployment to delete these extra linked services from UAT/QA/PROD.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform] (https://docs.microsoft.com/en-us/answers/index.html)

[2022-09-16 09:37] Venkateshdodda-MSFT commented on #98555
@davidvesp Thank you for your feedback! We will review and update as appropriate.

[2022-09-16 09:38] CamiloTerevinto commented on #85389
Hi @ericd-mst-github,

I'm still waiting for my IT department to create a ticket. How do you want me to send it over to you when I have it? Also, more information for you: This doesn't work even for VMSS. Look at the example below please.

Let's say I have an app:

[code]

The above clearly ends in `applications/**/versions/0.1.9`. Now, I update a VMSS to use the app above like this:

[code]

Noti

[2022-09-16 09:44] SuperGraham commented on #97959
Hi @MarileeTurscak-MSFT - The extra permissions were already there.

![image](https://user-images.githubusercontent.com/62471259/190609583-5a82c718-09ef-4832-a98f-c62beabd52ee.png)

I also added permissions for Verifiable Credentials Service to the Verifiable Credentials App.
![image](https://user-images.githubusercontent.com/62471259/190609713-e63e631f-d7cf-44df-a0f6-d0d914df244b.png)

I am getti

[2022-09-16 09:48] FeynmanZhou commented on #98355
@dtzar @maniSbindra @SaibabaBalapur-MSFT Fixed in https://github.com/MicrosoftDocs/azure-docs/pull/98562

[2022-09-16 09:48] SadiqhAhmed-MSFT commented on #98261
We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2022-09-16 09:48] #98261 closed

[2022-09-16 09:49] SadiqhAhmed-MSFT commented on #98269
Checking in to see if the above answer helped. Let us know if there are still any additional issues we can help with.

[2022-09-16 09:54] SaibabaBalapur-MSFT commented on #98355
@maniSbindra
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-16 09:58] FeynmanZhou commented on #98355
@SaibabaBalapur-MSFT Could you remain this issue open and wait for https://github.com/MicrosoftDocs/azure-docs/pull/98562 to be merged? I also hope @maniSbindra can help to verify the latest version of this document later.

If @maniSbindra verified it and every step works fine, then we can close it.

[2022-09-16 10:09] TaraWM commented on #98280
Again, my thanks for your assistance.

Using this document as a reference,
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/plan-connect-design-concepts,
my discomfort is with the language used in the "Adding new directories"
section. Here it says " If you are certain that the attribute isn't used by
existing applications" it's possible to run Azure AD Connect with the
/SkipLDAPSearc

[2022-09-16 10:17] scoulomb commented on #98377
@ChaitanyaNaykodi-MSFT  Thanks.
Could you please share with me the custom host configuration in your Azure App service of your test.
I guess traffic manager DNS has been automatically added (which is not my case)

[2022-09-16 10:25] sheryaarbuttMS opened #98563 "Possible out of date entry in docs"
Hey there! The below snippet says the built in PHP container runs apache. My understanding is that PHP 8.0 runs NGINX and 7.4 and below runs Apache.
![image](https://user-images.githubusercontent.com/99635691/190618031-149471b8-7315-4d21-bcfa-28ebbaf992f9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3209bb1-99c

[2022-09-16 10:31] pgr-lopes opened #98564 "SQL Server to Azure SQL DB DMS guide mentions online migration"
Hi everyone!

While reviewing the docs and testing in my environment, I noticed that the section about the migration options comparison mentions DMS is able to run in Online mode:

  - Migrate single databases or at scale.
  - Can run in **both online (minimal downtime) and offline modes**.

This is not possible today, I believe it was a few years ago but it's not anymore. In DMS we don't have the

[2022-09-16 10:45] AjayBathini-MSFT commented on #98552
@s4parke
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 10:46] AjayBathini-MSFT commented on #98553
@matthiasguentert
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 10:49] RamanathanChinnappan-MSFT commented on #98525
@socullen
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-16 10:49] AjayBathini-MSFT commented on #98554
@ivassallo19
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 10:55] AjayBathini-MSFT commented on #98557
@dohughes-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 10:55] Artanor opened #98566 "Formatting inconsistency"
In the top product table there is a formating error. For the Product: **Office 365 A1 for Faculty** in the **Service plans included** column the service plan EXCHANGE_S_STANDARD 9aaf7827-d63c-4b61-89c3-182f06f82e5c) is missing an open bracket before the GUID.

I noticed this as i am parsing the page to get Product and License details for automated reporting purposes and the missing bracket messed

[2022-09-16 11:01] AjayBathini-MSFT commented on #98559
@natasha-savic-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 11:11] AjayBathini-MSFT commented on #98561
@Jessieliu111
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 11:14] AjayBathini-MSFT commented on #98563
@sheryaarbuttMS
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 11:15] AjayBathini-MSFT commented on #98566
@Artanor
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 11:17] AjayBathini-MSFT commented on #98564
@pgr-lopes
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 11:27] llper commented on #64424
Hello,
I have the same problem. I can start the function from Intellij, but then the @Bean registered is not found in the applicationContext, and a NullPointerException is thrown.

`]  :: Spring Boot ::       (v3.0.0-SNAPSHOT)
[2022-09-16T11:25:36.562Z] 2022-09-16T13:25:36.561+02:00  INFO 45549 --- [pool-2-thread-4] o.s.boot.SpringApplication               : Starting application using Java 17.0.4.

[2022-09-16 11:28] AjayBathini-MSFT commented on #98314
@Pachehra
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-16 11:28] #98314 closed

[2022-09-16 11:38] krisrajzlive opened #98567 "changes are not tracked"
The given example does not track changes and always reads values from cache even though values and sentinel key values are updated.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b8d3d6-4125-638f-746a-4bbdf0378625
* Version Independent ID: d917d876-79b4-b935-08f0-09ef86038dd7
* Content: [Tutorial: Use App Configuration d

[2022-09-16 11:42] RamanathanChinnappan-MSFT commented on #98553
@matthiasguentert

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-16 11:51] T3pco opened #98568 "add prerequirements for logical replication"
please add prerequirements for logical replication in the according step
we had issues because we did not execute "ALTER ROLE <adminname> WITH REPLICATION;" before, causing a cryptic execption.

https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-logical#pre-requisites-for-logical-replication-and-logical-decoding

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-09-16 12:01] daescala commented on #98524
Hi Ajay

All good, thank you

David Lizano Escalante
SQL SERVER Support Eng.
Microsoft
BI&DP

***@***.***

***@***.******@***.***>
Mon-Fri 9-6 pm EST

    ***@***.*** <https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Ftwitter.com%2FMicrosoft&data=02%7C01%7CDavid.Escalante%40microsoft.com%7C237d6884ef834e07bbb108d7f05deb2f%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637242158510470

[2022-09-16 12:13] aggerritsen opened #98570 "Azure Bastion with UDR VNet Peering override"
Hi,

Azure Bastion works fine in Peered Virtual Networks in a Hub-and-Spoke configuration, even with an User Defined Default Route (UDR) to send traffic over a Network Virtual Appliance (NVA) acting as firewall (UDR: 0.0.0.0/0 -> NVA). However to control the traffic between spokes, the System Route between peered networks must be overriden by another UDR send traffic to the firewall first, rather

[2022-09-16 12:20] artisticcheese commented on #98536
Yes, but it's required to be done on `subscription` level when in actuality you don't need permissions on entire subscription for majority of use cases - either on resource group level or resource itself. In this case code will stop working.

[2022-09-16 12:25] chris-szczyglowski-envolve opened #98571 "Incorrect endpoint format in "Generate an answer from a knowledge base" Python example"
## Description of Problem
The format of the `endpoint` variable in the [Python example for "Generate an answer from a knowledge base"](https://docs.microsoft.com/en-gb/azure/cognitive-services/language-service/question-answering/quickstart/sdk?pivots=programming-language-python#generate-an-answer-from-a-knowledge-base) is incorrect.

Blindly copying and pasting this example ([as the docs suggests.

[2022-09-16 12:28] GeethaThatipatri-MSFT commented on #98568
Hi @T3pco Thanks for your feedback! We will look into it and update you as appropriate.

[2022-09-16 12:31] AndyICT2U opened #98572 "Limited info about what is needed for a new modem config"
The section titled 'Entering the modem config using the API' could do with supporting info/example content. What configuration is supported/necessary here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa1b40c1-7456-dd6b-563e-5bf2b7912ad9
* Version Independent ID: 2534bf43-bcfe-e738-8c03-ae7263cf28db
* Content: [Confi

[2022-09-16 12:33] marekm-gain opened #98573 "Missing information on global account API"
[Enter feedback here]
Missing how to authenticate and link to API details.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 328a7035-f570-a438-0c7e-71df75d717dc
* Version Independent ID: 328a7035-f570-a438-0c7e-71df75d717dc
* Content: [Account API 2.0 - Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/

[2022-09-16 12:33] tfitzmac commented on #98409
@YvesMentens - thanks for the feedback. The portal is incorrectly enforcing the limit of 30 characters. The issue has been forwarded to the portal team. When using APIs, the name can be 64 characters.
#please-close

[2022-09-16 12:33] #98409 closed

[2022-09-16 12:39] RamanathanChinnappan-MSFT commented on #98559
@natasha-savic-msft

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-16 13:04] KHEUSSE commented on #98195
I have the same problem, I can’t apply it.
This creates an error if we follow the intructions :
https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-service-provider?tabs=windows&pivots=b2c-custom-policy#add-the-identifier:~:text=When%20your%20SAML,onmicrosoft.com

[2022-09-16 13:37] mukisoomar opened #98576 "Log Analytics and App Insights - Simplify Pricing for SKUs"
Pricing needs to be made simpler for Log Analytics and App Insights for example.
It's way too complex for anyone to understand.
Provide architecture diagrams to help understand delineations between Log Analytics and App Insights

E.g for App Insights service:
- start with an architecture diagram for data ingestion and how costs are associated with them
- then overlay additional costs that can be i

[2022-09-16 13:39] ericd-mst-github commented on #85389
Hi, thank you for the additional information. I have sent this to engineering and also let them know that the CLI method of updating does not appear to be working as well, along with the recent VMSS mention.

[2022-09-16 13:41] RamanathanChinnappan-MSFT commented on #98437
@pablojavierf,

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-16 13:45] lukas-de-en opened #98577 "Errors in CSV File"
In the CSV file that is mentioned in the website are two errors.
In the two cells it says SharePoine and not SharePoint.

We use this column for mapping in our scripts, so we ask for a fix.

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Gene

[2022-09-16 13:46] GitaraniSharma-MSFT commented on #98570
@aggerritsen , thank you for your query. We'll investigate this and get back to you shortly!

[2022-09-16 13:52] maniSbindra commented on #98355
Hi @FeynmanZhou  , There were 2 other minor issues I had faced ,

* First was  was it should be "referrers[0]" instead of "references[0]" when parsing result using jq, which has already been handled in the PR
* The other one is, in one place for the **"az acr manifest list-metadata \"** command the argument supplied is "**--repository** $ACR_NAME \", where it should be  "**--registry** $ACR_NAME \

[2022-09-16 14:15] camalloy commented on #98521
@

Thanks. I do understand how it works now, my concern was more about preventing others from being potentially misled by the documentation.

[2022-09-16 14:30] Jas0n0ss commented on #96590
only use kubernets native tool meet this issue, azure portal & azure cli, all good

[2022-09-16 14:47] FeynmanZhou commented on #98355
@maniSbindra Good catch! I have fixed the second one in this [commit](https://github.com/MicrosoftDocs/azure-docs/pull/98562/files#diff-41d8667649bebaae562846c3abe3879c162b45944b421682b48397dc6b26736aR312).

[2022-09-16 14:49] chrisfcarroll commented on #95498
I've done a PR for the relevant include file used in this and other tutorials. I don't permission to link PR<->Issue except by mentioning it in the text?

[2022-09-16 15:04] rvandenbedem commented on #92928
@suzizuber - the diagram "articles/azure-vmware/media/hub-spoke/azure-vmware-solution-hub-and-spoke-deployment.png" needs to be updated with this new diagram https://microsoft-my.sharepoint.com/:i:/p/rvandenbedem/EeImz8R9EcRBh3AKCHOFwgABWZvbE5rGyE086I1zRVqr3A?e=bnuaRi

I tried to create a PR for this PNG file, but it looks like I do not have the permissions to do so.

[2022-09-16 15:05] chrisfcarroll commented on #93552
These issues are all also duplicates of this issue, and I'm hoping that PR https://github.com/MicrosoftDocs/azure-docs/pull/98579 will fix them all?

https://github.com/MicrosoftDocs/azure-docs/issues/95498
https://github.com/MicrosoftDocs/azure-docs/issues/94182
https://github.com/MicrosoftDocs/azure-docs/issues/93568
https://github.com/MicrosoftDocs/azure-docs/issues/93552
https://github.com/Mic

[2022-09-16 15:12] andrewbrownmsft commented on #98467
@vimeht

[2022-09-16 15:15] JamesTran-MSFT commented on #98577
@lukas-de-en
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-16 15:16] mbender-ms commented on #98528
@abatishchev Thanks for the feedback and suggestion.
A question for you: Is this a need you've heard of from customers? I ask because we do not have ARM tutorials for any of the LB  scenarios in docs, and I'd love to know if this is a gap we need to fill.

[2022-09-16 15:21] JamesTran-MSFT commented on #98241
@colmardev and @Sahil-13,
Thank you both for your time and patience on this!

We've reached out to the product team, and I'll update as soon as I receive a response from their end.

[2022-09-16 15:29] HitenBhavsarMSFT opened #98581 "Please update the screenshot , Security replace with Microsoft Defender for Cloud in bled on the azure portal"
New Screenshots.

![image](https://user-images.githubusercontent.com/72768193/190675525-02b5662b-eaef-413b-adfc-417d261adbbd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f9e1c0-9d21-6de0-cfe7-2686ec5bdbbd
* Version Independent ID: 02f58fb6-eac3-6fc6-496f-68e8477b20d6
* Content: [Microsoft Defender for SQL - Az

[2022-09-16 15:34] womackn opened #98582 "Unable to verify TLS bootstrapping in an AKS cluster"
The [instructions](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation#certificate-auto-rotation) on MS's site read as follows:

To verify if TLS Bootstrapping is enabled on your cluster browse to the following paths:
On a Linux node: /var/lib/kubelet/bootstrap-kubeconfig

This directory does not exist on any of my cluster nodes, and these clusters are less than 60 days old. However, t

[2022-09-16 15:39] YashikaTyagi-MSFT commented on #98567
@krisrajzlive
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-16 15:40] Sahil-13 commented on #98241
Thanks @JamesTran-MSFT , apparently today I see an expected message after I click delete
![image](https://user-images.githubusercontent.com/65589996/190676245-24d83e47-b01a-477e-9d1d-c85b98daffad.png)

That said, when I try to re-link the b2c tenant in the destination tenant/subscription or even the same tenant/subscription I get an internal server error message
![image](https://user-images.github

[2022-09-16 15:41] YashikaTyagi-MSFT commented on #98571
@chris-szczyglowski-envolve
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 15:44] YashikaTyagi-MSFT commented on #98572
@AndyICT2U
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-16 15:46] YashikaTyagi-MSFT commented on #98573
@marekm-gain
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 15:49] YashikaTyagi-MSFT commented on #98576
@mukisoomar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 15:53] whsh-ca opened #98584 "Document step cannot be followed"
I cannot follow the step below:

![image](https://user-images.githubusercontent.com/106555667/190679332-6a78a2f8-c542-4bd1-972b-ce9b23a1e59e.png)

And does it only work with Data Lake Storage Gen 1 (not Gen 2)?

Please investigate. Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a029d6-ea13-f728-6a4b-d87b670a66

[2022-09-16 15:57] YashikaTyagi-MSFT commented on #98581
@HitenBhavsarMSFT
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-16 15:58] colmardev commented on #98241
Thank you @Sahil-13 I'm in the same position ("_it is a test one but we are looking to move a production one soon_")
So I'd prefer not leaving it in an orphaned state nor face the risk of loosing users, authorizations, flows, app regs, custom configurations...

Additionally I recently discovered that at the end of this month MS will delete my current Azure test Subscription tied to VS benefits bec

[2022-09-16 15:59] YashikaTyagi-MSFT commented on #98582
@womackn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 16:01] krisrajzlive commented on #98567
https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-aspnet-core?tabs=core5x

[2022-09-16 16:09] Matiszak commented on #98546
Yes, but suggestion from my side is to add a note/warning about it to https://docs.microsoft.com/en-us/azure/virtual-network/network-security-group-how-it-works because the description of "How it works" seems to indicate that it would always work that way (no nsg means full access) - but that's not the case for Standard IP. It's hard to debug such problems if there are no references to exceptions

[2022-09-16 16:11] steevaavoo opened #98586 "Improve Examples of Wildcard Usage"
Could we add an example of how wildcards affect subdomain access?

For example:

Type | Rule | Supported? | Positive examples
-- | -- | -- | --
TargetURL | *domain.com | Yes | domain.com<br />www.domain.com<br />sub1.domain.com<br />sub2.sub1.domain.com

I have successfully tested this and proved it accurate.

Proposed update in PR: https://github.com/MicrosoftDocs/azure-docs/pull/98587

Many than

[2022-09-16 16:13] aashishr commented on #92175
@Batami ***@***.***> I reviewed the request and this should be addressed by  Azure Seintel team.

Krishna ***@***.***)
Cloud Solution Architect

From: Aashish Ramdas ***@***.***>
Sent: Monday, August 8, 2022 6:21 PM
To: MicrosoftDocs/azure-docs ***@***.***>; MicrosoftDocs/azure-docs ***@***.***>; Krishna V ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [MicrosoftDocs/azure-docs] The Deployment

[2022-09-16 16:20] ericd-mst-github commented on #85389
@CamiloTerevinto, engineering has responded and noted that this is definitely an issue they'd like to take a look in your environment. Once we have the case number confirmed, we will escalate and get to the bottom of this.

[2022-09-16 16:20] abatishchev commented on #98528
hi @mbender-ms, let me ping you offline. The question is for me, an internal Azure infra engineering.

[2022-09-16 16:56] mbender-ms commented on #98528
Taking issue offline.

#Please-close

[2022-09-16 16:56] #98528 closed

[2022-09-16 17:29] MashaMSFT commented on #97822
Hi @kevelife , thanks so much for your feedback! Since your Issue has been addressed, I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-09-16 17:29] #97822 closed

[2022-09-16 17:37] GitaraniSharma-MSFT commented on #98364
@aidanfinn , Could you please provide an update on this post for further discussion?

[2022-09-16 17:42] GitaraniSharma-MSFT commented on #98504
@JustinGalbraith , We have assigned this to the content owner/author for review.

@vhorne , looks like there are many new log types added in the Azure Firewall Diagnostic settings which are not documented yet.

![image](https://user-images.githubusercontent.com/67630903/190700359-2ce32ba5-2a5c-4d09-932a-e72c22cd8bc1.png)

Please review and update as appropriate.

[2022-09-16 17:57] MashaMSFT commented on #96727
Hi @jkbrookes2 , thanks for contacting Microsoft! It's been some time since we've heard from you so we're going to assume your issue has been resolved and close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-09-16 18:03] karpikpl opened #98589 "Clarify maximum value for maxAutoRenewDuration"
In documentation there's statement that maxAutoRenewDuration is 5 min.
[code]

but I cannot find that information in any of Service Bus documentation.
What's more I've tested with values larger than 10 minutes and function is renewing messages just fine.

Can you please update that comment or link related service bus documentation?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-09-16 18:05] ChaitanyaNaykodi-MSFT commented on #98586
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-09-16 18:06] karpikpl commented on #98589
this a duplicate of
https://github.com/MicrosoftDocs/azure-docs/issues/78261
and
https://github.com/MicrosoftDocs/azure-docs/issues/92019
and
https://github.com/MicrosoftDocs/azure-docs/issues/62110

which go as far as September 2020, but documentation is still wrong

[2022-09-16 18:06] #98589 closed

[2022-09-16 18:07] karpikpl commented on #62110
There seems to be no rush to fix the documentation, it's been 2 years since this has been raised

[2022-09-16 18:08] simonkurtz-MSFT opened #98590 "Consider Additional Guidance for WAF Mode"
Hi @dlepow,

I just set up a new AG/APIM infrastructure according to our documentation and could not initially launch the Dev Portal. While we point out that some WAF rules could prevent functionality, I don't know if that's initially as clear. In my case, I had to additionally let AG log to App Insights in order to see that a 502 I received was due to the WAF in Prevention mode.

I'm not sure wha

[2022-09-16 18:19] JamesTran-MSFT commented on #98241
@colmardev and @Sahil-13,
Thank you both for following up on this!

When it comes to your product related issues, if you need this resolved immediately especially since your B2C tenants are in an "orphaned" state, and you intend to implement this in your production environments. I'd recommend [creating an Azure support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how

[2022-09-16 18:34] spelluru commented on #95998
@gh-andre - Thank you. Confirmed with dev. Tested with your change. Updating the article now. Thanks.

[2022-09-16 18:44] MashaMSFT commented on #97493
Hi @tenielg , thanks so much for improving our docs! Since your issue has been addressed, I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2022-09-16 18:44] #97493 closed

[2022-09-16 18:45] MashaMSFT commented on #97555
Hi @alberto-morillo , thanks for contacting Microsoft! We're currently in the process of updating this content and it should be done by the end of the month. Our apologies for the delay, and we thank you for your patience.

I'll go ahead and close out this Git Issue for the time being but please feel free to comment should you need anything further.

Thanks again and I hope you have a wonderful re

[2022-09-16 18:45] #97555 closed

[2022-09-16 18:47] jasonseatosky opened #98592 "Preview Still?"
Hello,
I'm just wondering if hardware tokens will come out of preview soon?

Thanks
Jason

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3580bf07-789b-a9c0-26c2-68d21eb66b70
* Version Independent ID: f61c354b-cac2-c3e2-881a-2f0540bdd8e1
* Content: [OATH tokens authentication method - Azure Active Directory - Microsoft

[2022-09-16 19:01] aahill commented on #98313
Hi, we don't provide support within this repo for the Bing search APIs, as the page linked here (and the other Bing API articles within Azure Cognitive Services) are provided only as legacy reference. For more up-to-date information, see the new location for the Bing Search API docs:

https://docs.microsoft.com/bing/search-apis/bing-visual-search/quickstarts/rest/python

I'd encourage you to submi

[2022-09-16 19:01] #98313 closed

[2022-09-16 19:21] zoran-rilak-msft commented on #93133
Articles cleaned up and consolidated at [Resolve private domain names in Azure SQL Managed Instance](https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/resolve-private-domain-names).

@NWiddup this weren't the droids you were looking for. RE proper custom DNS solution for SQL MI, that's forthcoming, so stay tuned.

[2022-09-16 19:39] MarileeTurscak-MSFT commented on #98592
@jasonseatosky
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 20:10] #97005 closed

[2022-09-16 20:15] MarileeTurscak-MSFT commented on #98592
There is not a date yet for GA as due to customer feedback there is a lot of work that is being done to improve the process. The plan is still to GA this feature once these improvements have been completed.

I will update this thread if I hear more details though.

[2022-09-16 20:15] #98592 closed

[2022-09-16 20:18] rwestMSFT commented on #85347
@andresu13 Thanks again for your feedback. We found an opportunity to refresh this article sooner than expected, and you can expect to see the updated article in the next few days, including a warning to remove existing bindings if redeploying the module.

[2022-09-16 20:38] davidsmatlak commented on #92361
#assign:davidsmatlak

[2022-09-16 20:43] nickludwig commented on #97771
Hey @jahedkarim - I'm going to close this issue as there are no documentation updates needed. If you're still experiencing this issue, I'd recommend posting to stack overflow.

[2022-09-16 20:43] nickludwig commented on #97771
#please-close

[2022-09-16 20:43] #97771 closed

[2022-09-16 20:46] greg-lindsay commented on #98487
Kapil is correct, the vnet is aware of the zone because it is linked to the vnet. This step is present in the article. https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-portal#link-the-virtual-network

[2022-09-16 20:46] greg-lindsay commented on #98487
#please-close

[2022-09-16 20:46] #98487 closed

[2022-09-16 21:07] amsliu commented on #98303
@davidkench Thank you, and I'm glad that the issue is now resolved. If you have any other questions, let us know, otherwise I'm closing this pull request. #please-close

[2022-09-16 21:07] #98303 closed

[2022-09-16 21:08] JamesTran-MSFT commented on #98537
@forrest-microsoft
Thank you for following up on this and for clarifying!

When you mention - `what rights a given access policy grants`, are you referring to rights as in [Data Plane Actions](https://docs.microsoft.com/en-us/azure/key-vault/general/security-features#access-model-overview)?

For example, using the GET Certificate access policy permission; the specific right(s)/permissions, given t

[2022-09-16 21:18] #98355 closed

[2022-09-16 21:27] dsalinas62 opened #98594 "Duplicate paragraph"
The paragraph beginning with "Alternatively," at the bottom of the section "Adding Salesforce from the gallery" is duplicated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf2d1dc-ab4d-5e4a-d18d-a9f4fba5aedb
* Version Independent ID: 2a58c27f-19e8-1a9a-f14a-45db73b91cc2
* Content: [Tutorial: Azure Active Directory s

[2022-09-16 21:53] JamesTran-MSFT commented on #98594
@dsalinas62
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 21:54] JamesTran-MSFT commented on #98594
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

![image](https://user-images.githubusercontent.com/36619112/190804934-a213393f-ad37-4b47-a125-d854b3d8f16f.png)

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and pati

[2022-09-16 21:54] #98594 closed

[2022-09-16 21:56] mumurug-MSFT commented on #98590
@simonkurtz-MSFT Thanks for your feedback. Assigned to the author to review and update as appropriate.

[2022-09-16 22:35] MarileeTurscak-MSFT commented on #98592
Additional details from the product team:

We are actively working to address feedback from the public preview - separate the token management (creating token inventory for the tenant, token can be created without assignment and activation) from the assignment and activation (delegated to help desk roles and end users). We are at early stages of development though and cannot provide an ETA.

[2022-09-16 22:38] ChaitanyaNaykodi-MSFT commented on #98377
Hello @scoulomb,

Apologies if I have misunderstood your question above.

I am not sure if I have understood the `custom host configuration in your Azure App service` term above, I reproduced my scenario by following [this tutorial](https://docs.microsoft.com/en-us/azure/traffic-manager/quickstart-create-traffic-manager-profile-cli). Can you please tell me at which step are you facing difficulty?

[2022-09-16 22:40] jasonseatosky commented on #98592
Thanks so much for taking the time to update me on this everyone. Have a great weekend!

[2022-09-16 22:41] ChaitanyaNaykodi-MSFT opened #98597 "Typo in the Tutorial"
![image](https://user-images.githubusercontent.com/67453298/190826998-44dfef26-6ec3-47f7-bbe1-aa526c270976.png)

Above should be <app2name_westeurope> instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c48caa2f-bbb4-8e06-ec8d-c4f382b1a4b6
* Version Independent ID: 57629a16-9712-9f53-646b-56db0678c76c
* Content: [Qu

[2022-09-16 22:42] lsmith-apriva opened #98598 "So badly outdated as to be useless"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae2e3360-2086-b37d-0048-1ff04a4736bb
* Version Independent ID: d8976bd3-d1d9-3852-5113-5d0403b02dc1
* Content: [Tutorial: Build a multi-tenant daemon that accesses Microsoft Graph business data - Microsoft Entra](https://docs.microsoft.com/en-us/azure

[2022-09-16 22:43] ChaitanyaNaykodi-MSFT commented on #98597
Made a PR to address this issue

[2022-09-16 22:46] #98510 closed

[2022-09-16 22:46] ChaitanyaNaykodi-MSFT commented on #98510
Hello @brucelangston, Thank you for your feedback. I have made the suggested change and it will go live in next 24 hours. Thank you!

[2022-09-16 22:49] agregory23 commented on #60389
Is this still a valid template parameter for the CreateUIDefinition file?  I got the following error when trying to use the example linked above in a Marketplace template:

`{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template parameters 'tagsByResource' in the parameters file are not valid; they are not present in the original template and can therefore not be

[2022-09-16 22:52] #98597 closed

[2022-09-16 23:07] JamesTran-MSFT commented on #98598
@lsmith-apriva
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-16 23:17] lsmith-apriva opened #98600 "Is there a .net 6.0 version of this quickstart?"
I'm finding that there are a LOT of changes between legacy Core authentication and .net 6.0.
Has anyone published an updated flow/code sample for .net 6.0 asp net api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6cc492a-dc7a-8243-82fe-1b0f74b15fa2
* Version Independent ID: 81a12383-6c11-83d7-db2e-7dfbae484f41
* Con

[2022-09-17 03:17] YashikaTyagi-MSFT commented on #98600
@lsmith-apriva
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-17 03:30] SeaDude opened #98602 "Missing a step in the Auth workflow"
Hello,

When exactly following this tutorial, my web app shows: `You do not have permission to view this directory or page.`
![image](https://user-images.githubusercontent.com/8636973/190838842-10a33db1-92b9-4404-a9fd-1be9bd885a2f.png)

Since this is my first time setting up an auth provider, I have no idea where to go from here (other than googling around). Would be nice if someone revisited this

[2022-09-17 03:41] SeaDude commented on #98602
Disregard!

I made a mistake in the tutorial:

- Instead of `...Unauthenticated requests set to HTTP 302 Found redirect: recommended for websites`
- I set `...Unauthenticated requests to 403 Forbidden`

[2022-09-17 03:41] #98602 closed

[2022-09-17 04:52] nohato opened #98603 "clarify "typically up to 30 seconds""
[Enter feedback here]
The description leads mis-understanding .
     ”These mechanisms pause the VM for typically up to 30 seconds and preserve the memory in RAM. ”
Some non-reboot Azure platform maintenance takes over 30 seconds , but it is not mentioned anywhere.
"Typically" is very uncertain words .
Therefore user might trust only the comments "up to 30 seconds" .

I hope that the comments avoi

[2022-09-17 05:17] andrew1044 commented on #46672
Has this issue been resolved?

As per the documentation [here](https://learn.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-cert-linux), there should be an vpnconfig.ovpn file in the VPN client profile zip...

[2022-09-17 05:21] andrew1044 commented on #78173
Any updates on this issue? The documentation [here](https://learn.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-cert-linux#openvpn) suggests there should be an OpenVPN config

[2022-09-17 06:35] damienbod opened #98604 "Why is authenticator considered high security when it does not protected against phishing?"
This page is misleading. Microsoft Authenticator does not protect against phishing and should not be considered high security but medium.

The security for the Authenticator App should be changed to medium. This would also make it possible to force high security using CAE.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-09-17 10:11] sheryaarbuttMS commented on #98563
Thank you!

[2022-09-17 14:53] IamMeenakshiMathur opened #98607 "Spelling Mistake 'suffix' should be used in place of suffice"
Spelling Mistake 'suffix' should be used in place of suffice

Under Section "Pivoted Columns" in Column Name Pattern

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fca3cb24-f9cc-c835-e741-f678ffb7f5a6
* Version Independent ID: 145a81af-6c3a-4726-2429-5a725610c377
* Content: [Pivot transformation in mapping data flow -

[2022-09-17 15:44] YashikaTyagi-MSFT commented on #98603
@nohato
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-17 15:47] YashikaTyagi-MSFT commented on #98604
@damienbod
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-17 15:48] YashikaTyagi-MSFT commented on #98607
@IamMeenakshiMathur
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-17 15:55] ManoharLakkoju-MSFT commented on #98492
@garis
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-09-17 15:55] #98492 closed

[2022-09-17 16:58] Matiszak opened #98608 "Basic VPN does not support deployment in networks with IPv6 address space"
Based on my issue described in https://learn.microsoft.com/en-us/answers/questions/1011462/ipv6-blocks-creation-of-vpn-gateway.html I think it's worth to note in the docs that Basic vpn gateway does not support being deployed in networks with Ipv6 address space.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0377d24-b

[2022-09-17 17:52] cleajames opened #98609 "fix typo"
change "surfacing" to "surfaces" in this paragraph

Microsoft Defender External Attack Surface Management (Defender EASM) actively discovers and monitors these assets, then **surfacing** key insights that help customers efficiently address any vulnerabilities to their organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-09-17 18:51] DeanGross opened #98610 "Update obsolete references"
The O365 Security & Compliance Center is referenced in several of the roles, this center has been retired and replaced with 2 new centers (Security and Purview Compliance). Please update the references as appropriate to accurately identify the resources that roles have access to (Security Administrator and Security Operator are 2 roles and there may be others)

---
#### Document Details

⚠ *Do not

[2022-09-17 19:00] cleajames opened #98611 "typos in this article"
[What is Discovery? | Microsoft Learn](https://learn.microsoft.com/en-us/azure/external-attack-surface-management/what-is-discovery)
Typos and recommendation(s):
"the system first intakes known assets (i.e. “seeds”) that are recursively scanned to discover additional entities through their connections to a seed."
	Does this mean: connections to ANOTHER seed? Or to “any other”? Or is it referring

[2022-09-17 19:19] SadiqhAhmed-MSFT commented on #98269
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-09-17 19:19] #98269 closed

[2022-09-17 19:35] Marusyk commented on #98535
Did you have any chance to check?

[2022-09-17 21:38] MarileeTurscak-MSFT commented on #98609
@cleajames
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-17 21:39] MarileeTurscak-MSFT commented on #98609
Thanks! Just made a pull request to fix this. It should go live shortly.

[2022-09-17 21:39] #98609 closed

[2022-09-18 04:06] YashikaTyagi-MSFT commented on #98608
@Matiszak
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 04:07] YashikaTyagi-MSFT commented on #98610
@DeanGross
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-18 04:09] YashikaTyagi-MSFT commented on #98611
@cleajames
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 05:29] aashishr commented on #92175
Oops - my bad on that one. Thanks! I'll reroute to the right place.

Batami

***@***.***
Batami Gold
Senior Content Developer
* ***@***.******@***.***>

Need D4IoT content updates?

  *   For minor changes, please open a PR<https://review.docs.microsoft.com/en-us/learn/modules/minor-edits/?branch=main>.
  *   For larger changes, please open a user story<https://dev.azure.com/mseng/TechnicalContent

[2022-09-18 05:30] batamig commented on #92175
@yelevin - please take a look here. Thanks!

[2022-09-18 06:19] bmansheim commented on #98581
@HitenBhavsarMSFT That's funny. I just received another issue on the rebranding in the SQL docs. It seems the process for updating the brand needs to be widened to cover the other services as well.

This could take a while so I opened an internal ticket for it and I'll close this one. Thanks!
#please-close

[2022-09-18 06:19] #98581 closed

[2022-09-18 06:22] AjayBathini-MSFT commented on #98365
@odbckrishna
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-18 06:22] #98365 closed

[2022-09-18 06:24] AjayBathini-MSFT commented on #98524
@daescala
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-18 06:24] #98524 closed

[2022-09-18 06:25] yertaylan67 opened #98616 "Managed Identity for Azure fencing agent depends on SLES 15 SP1 and newer"
[Enter feedback here]
Kindly add the dependency on SLES 15 SP1 at an earlier location in the documentation, ideally in chapter "Use an Azure fence agent --> Using managed identity" in https://learn.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse-pacemaker#using-managed-identity to inform the reader. Currently this dependency is mentioned at the far end of the

[2022-09-18 06:29] AjayBathini-MSFT commented on #98567
@krisrajzlive
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 06:50] yertaylan67 opened #98617 "Managed Identity for Azure Fencing Agent supported by RHEL 7.9 only"
[Enter feedback here]
the article https://techcommunity.microsoft.com/t5/running-sap-applications-on-the/sap-on-azure-high-availability-change-from-spn-to-msi-for/ba-p/3609278 mentions that managed identity is supported by RHEL 7.9 only, in addition to RHEL 8.x. Recommend adding this information to Chapter "Creating fencing device --> using managed identity".

You may also consider providing a lin

[2022-09-18 08:26] TysonLinger opened #98618 "Typo"
In the table under "Map of Type to Numbers in OpenCV (data types x number of channels)", CV_32S is repeated twice. I think the first one was meant to be CV_32U

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 283a98a7-23c2-ce1a-fa3f-ae5bcc4d186d
* Version Independent ID: 8f18a27f-cf6e-5c3b-8324-4f131fc13c3d
* Content: [I

[2022-09-18 08:42] zephoon opened #98619 "Can the Microsoft provide the shell or python version of prepost deployment powershell for ADF deployment?"
Our Jenkins and Azure Pipeline self-hosted agent is hosted by Linux, the PowerShell scripts make the maintain is more difficulty.
So is it possible to provide the other programming language version of this powershell script ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b2d75a-07c4-75b6-32d3-6e7dd78683f7
* Version

[2022-09-18 08:44] snowch opened #98620 "confusing statements on Azure AD access tokens"
This is confusing:

I think it describes two ways to get an Azure AD access token (the first two items)?

It then appears to describe how to use the Azure AD token?  Is this the only way to use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 088dd54c-b5ef-2e6d-1fe7-8035bdec6ba5
* Version Independent ID: 8fb82d4a-f93

[2022-09-18 09:01] dineshspp opened #98621 "Error: react-native-device-info: NativeModule.RNDeviceInfo is null"
The provided sample code does not work. It throws the following error with latest react version (0.70.1).

 _ERROR  Error: react-native-device-info: NativeModule.RNDeviceInfo is null. To fix this issue try these steps:
  • For react-native <= 0.59: Run `react-native link react-native-device-info` in the project root.
  • Rebuild and re-run the app.
  • If you are using CocoaPods on iOS, run `pod i

[2022-09-18 10:06] tenielg commented on #97493
You’re welcome!
Thanks for the feedback! Have a great day

From: Masha at MSFT ***@***.***>
Sent: Friday, September 16, 2022 9:45 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Teniel Gordon ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Word change (Issue #97493)

Hi @tenielg<https://github.com/tenielg> , thanks so much for improving our docs! Since your issue has be

[2022-09-18 10:28] ezYakaEagle442 opened #98622 "Security Center to be updated with MS Defender for Cloud"
at

[https://learn.microsoft.com/en-us/azure/spring-apps/reference-architecture?tabs=azure-spring-standard](https://learn.microsoft.com/en-us/azure/spring-apps/reference-architecture?tabs=azure-spring-standard)
AND
[https://learn.microsoft.com/en-us/azure/spring-apps/reference-architecture?tabs=azure-spring-enterprise](https://learn.microsoft.com/en-us/azure/spring-apps/reference-architecture?tabs

[2022-09-18 12:17] TysonLinger opened #98623 "PostgreSQL?"
PostgreSQL is not listed as a tool pre-installed in this Virtual Machine, but the page at the link I will paste below says PostgreSQL comes pre-installed. Not sure which one is correct.

https://learn.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/linux-dsvm-walkthrough

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-09-18 12:33] macux opened #98624 "Incorrect app service detail"
This best practice has incorrect detail, ASE is in a VNET so doesn't make use of the VNET integration feature:

"Best practice: Restrict incoming source IP addresses.
Detail: [App Service Environment](https://learn.microsoft.com/en-us/azure/app-service/environment/intro) has a virtual network integration feature"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-09-18 13:44] fdgit opened #98625 "grammer changes meaning"
This sentence: "Sync only copies the top-level files inside a directory if the recursive flag is false."
Should be: "Sync copies only the top-level files inside a directory if the recursive flag is false."

maybe pedantic, but the first sentence means sync will leave out top level files unless you set recursive to false.

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-09-18 14:59] XIBRIGHT commented on #14408
The document from MS. Docs does not tell how to enable or configure Azure storage account for public access.

[2022-09-18 15:03] netsameer commented on #42393
This seems to be extremely ambiguous even today, the info should clearly mention these steps.

[2022-09-18 15:59] jikuja opened #98626 "Azure files planning guide should mention limitations of the naming"
This documentation or some other Azure file documentation should mention storage account naming limitation:

[code]

if share points have similar limitations they should be also listed.

I tried to find mentions about the limitation but could not find any.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 836fd4cd-0afb-4c

[2022-09-18 16:10] chanfinlandjob opened #98627 "too many error here when trying to follow the steps : unrecognized template parameter 'tsResourceGroup'. Allowed parameters: location, storageAccountType"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ba21378-c65c-ec07-3ce4-170725767bb7
* Version Independent ID: 01954435-6235-178e-fd16-d1034ccb3a2b
* Content: [Deploy a template spec as a linked template - Azure Resource Manager](https://learn.microsoft.com/en-us/azure/azure-resource-manager/templa

[2022-09-18 17:35] AjayBathini-MSFT commented on #98616
@yertaylan67
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:36] AjayBathini-MSFT commented on #98617
@yertaylan67
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:38] AjayBathini-MSFT commented on #98618
@TysonLinger
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:39] AjayBathini-MSFT commented on #98619
@zephoon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:40] AjayBathini-MSFT commented on #98620
@snowch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:42] AjayBathini-MSFT commented on #98621
@dineshspp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:53] AjayBathini-MSFT commented on #98622
@ezYakaEagle442
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-09-18 17:56] AjayBathini-MSFT commented on #98623
@TysonLinger
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:57] AjayBathini-MSFT commented on #98624
@macux
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:58] AjayBathini-MSFT commented on #98625
@fdgit
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 17:59] AjayBathini-MSFT commented on #98626
@jikuja
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 18:01] AjayBathini-MSFT commented on #98627
@chanfinlandjob
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-18 19:18] cleajames commented on #98609
That's so cool!

Cynthia James, CISSP, CCSP
Enterprise Security Executive
Mobile: +1.408-209-4358 | San Jose, CA
***@***.******@***.***>

From: Marilee Turscak - MSFT ***@***.***>
Sent: Saturday, September 17, 2022 2:40 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Cynthia James ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] fix typo (Issue #98609)

Closed #98609<htt

[2022-09-18 19:21] Dlion80 opened #98628 "No Code Time Series Forecasting"
The tutorial is not complete. It starts with a time
Series and moves onto a classification task. The steps for preparing data for time series forecasting are not clear. I constantly get error messages when trying to forecast new data in power BI. Any help would be greatly appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-09-18 21:20] gottagetgit opened #98631 "Effective Routes is not under Support + Troubleshooting"
From the article: "Then select Effective routes under Support + troubleshooting to see the routes for the virtual network peerings"

Actually, the Effective Routes menu item appears in a section named "Help."

![image](https://user-images.githubusercontent.com/1399952/190928516-44d2b977-10ad-4a90-9e3c-c6c1aecbeca2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-09-18 23:40] jkypeter opened #98632 "what is difference between Lifecycle Workflows/identity lifecycle management/access review/entitlement management?"
There are so many similar concepts between Lifecycle Workflows/identity lifecycle management/access review/entitlement management.
Could you please make a comparative account matrix to list when to use which?

It is difficult to distinguish the child features of Azure AD Identity Governance.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-09-19 01:20] catmanjan opened #98633 "Can you browse persistent volumes?"
I have a persistent volume I am using to store application data.

I need to view and modify the application data manually for debug purposes - is this possible? If so, how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 724d659c-dcc8-7c77-1994-b3e8cc62eb8f
* Version Independent ID: f6c82819-267b-6d05-fb0b-ced6f4eb5ca3

[2022-09-19 02:54] Pengcici opened #98634 "Add more details on EA reflection in terms of RI partial refund"
Return partial refund with MC. The experience is
1.  The refund amount is reflected on the purchase month. EA Portal > Usage Summary > Charge by service
2.  The refund will be displayed in the EA portal as a negative adjustment in the purchase month and a positive adjustment in the current month. t will show up similarly to a reservations exchange

Return partial refund with overage. The experienc

[2022-09-19 03:50] heuristik1 opened #98635 "Incorrect PowerShell Command"
[Enter feedback here]

$ApplicationId = (Get-AzADApplication -DisplayNameStartWith exampleapp).ApplicationId

Should be ".AppID" at end of command, not .applicationID
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6329b3a8-32d6-c327-d3bc-2f6805d22ec8
* Version Independent ID: a3fcf4d5-fb74-6f38-97f6-80dfafa66e06
* Conte

[2022-09-19 04:00] RamanathanChinnappan-MSFT commented on #98628
@Dlion80
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 04:06] RamanathanChinnappan-MSFT commented on #98631
@gottagetgit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 04:10] RamanathanChinnappan-MSFT commented on #98632
@jkypeter

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 04:11] RamanathanChinnappan-MSFT commented on #98635
@heuristik1

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 04:13] RamanathanChinnappan-MSFT commented on #98633
@catmanjan

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 04:16] RamanathanChinnappan-MSFT commented on #98634
@Pengcici

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 04:23] Venkateshdodda-MSFT commented on #98398
@justinmchase We will close this out, but if you feel you need more information, please just let us know.

[2022-09-19 04:23] #98398 closed

[2022-09-19 04:27] #98485 closed

[2022-09-19 04:40] RamanathanChinnappan-MSFT commented on #98525
#signoff

[2022-09-19 04:40] #98525 closed

[2022-09-19 04:48] KapilAnanth-MSFT commented on #98631
@gottagetgit,

I have updated the document to reflect the latest Resource blade configuration.
The changes should reflect shortly.

[2022-09-19 04:53] KapilAnanth-MSFT commented on #98546
@Matiszak, I have assigned this thread to the author for further review.

@mbender-ms, Please consider this feedback and update the document as necessary.

[2022-09-19 05:07] AjayBathini-MSFT commented on #98440
@JayQuantRise20
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-19 05:07] #98440 closed

[2022-09-19 05:14] SaibabaBalapur-MSFT commented on #98521
@camalloy
I'm going to assign this to the document author so they can take a look at it accordingly for more clarification.

@jimmart-dev
Please review.

[2022-09-19 05:22] AnuragSharma-MSFT commented on #98564
@pgr-lopes Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-09-19 05:38] prerna-tesser commented on #98361
@RamanathanChinnappan-MSFT Any update on this issue?

[2022-09-19 06:25] SwathiDhanwada-MSFT commented on #98474
@rjosephp Thanks for your feedback.

Assigning to content author @Sharmistha-Rai   for review.

[2022-09-19 06:34] RamanathanChinnappan-MSFT commented on #98584
@whsh-ca

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-19 06:36] RamanathanChinnappan-MSFT commented on #98417
@brydeno

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-19 06:36] #98417 closed

[2022-09-19 06:43] AdamGuan13 commented on #96656
@halkazwini
Thank you. I got it.

[2022-09-19 06:44] v-hgampala commented on #98519
@Torxsmind, updating the document, you will get the updates within 48hrs.
#please-close

[2022-09-19 06:44] #98519 closed

[2022-09-19 06:46] SwathiDhanwada-MSFT commented on #98576
@mukisoomar Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-09-19 06:48] RamanathanChinnappan-MSFT commented on #98607
@IamMeenakshiMathur

Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-19 06:49] Naveenommi-MSFT commented on #98573
@marekm-gain
For your Information, please go through this link Doc
https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authentication

[2022-09-19 06:57] ManoharLakkoju-MSFT commented on #98554
@ivassallo19
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-19 07:00] AjayBathini-MSFT commented on #98603
@nohato
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-19 07:01] AjayBathini-MSFT commented on #98603
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-09-19 07:14] AjayBathini-MSFT commented on #98625
@fdgit
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-09-19 07:24] AjayBathini-MSFT commented on #98625
#signoff

[2022-09-19 07:24] #98625 closed

[2022-09-19 07:28] marekm-gain commented on #98573
Hey @Naveenommi-MSFT ,

you've pasted a link about authentication to Databricks workspace API. And this ticket is about global Accounts API. So for azure it's for  accounts.azuredatabricks.net.

[2022-09-19 07:30] aggerritsen commented on #98570
It turns out that adding Longest Prefix match for all individual subnets in the VNet rather then the entire VNet IP address space works very well. It is however quiet a lot of work and when subnets evolve, like when adding AKS subnets, every time the Route Table needs adjustment. Is there an alternative way around this?

![image](https://user-images.githubusercontent.com/33516013/190969091-bb79928

[2022-09-19 07:39] SaibabaBalapur-MSFT commented on #98616
@yertaylan67
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2022-09-19 07:41] SaibabaBalapur-MSFT commented on #98617
@yertaylan67
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@rdeltcheva
Can you please check and add your comments on this doc update request as applicable.

[2022-09-19 07:43] Venkateshdodda-MSFT commented on #98555
@davidvesp I have shared feedback to document author and updated the document incorporating these changes. Changes will go live once it is approved by doc author.

[2022-09-19 07:44] bnagajagadeesh opened #98636 "queries on creating dbaora file and connecting to database"
[Enter feedback here]
Hi Team,

Thanks for this article which helped me create a new oracle databases. But, It would be great to include some details details that help everyone.
1) how to create a dbaora file specified in the step 3 under "Automate database startup and shutdown" section
2) how to connect to the oracle database and which user name and password to be used?

Regards,
Jagadeesh
---
##

[2022-09-19 07:57] v-hgampala commented on #98343
@udhaymahajan , Will you please update the document as suggested in the issue.

[2022-09-19 08:02] #98631 closed

[2022-09-19 08:10] YashikaTyagi-MSFT commented on #98289
@duy1998
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-19 08:10] #98289 closed

[2022-09-19 08:12] v-hgampala commented on #98296
@ANF-IT, Resolving the issue.
#please-close

[2022-09-19 08:12] #98296 closed

[2022-09-19 08:13] v-hgampala commented on #98293
@ivassallo19,  Resolving the issue.
#please-close

[2022-09-19 08:13] #98293 closed

[2022-09-19 08:27] Kaypyosh commented on #98264
apiologies for my late reply. as you said, I found that tab for now.
Thank you for checking it.

[2022-09-19 08:39] SetTrend commented on #97499
For now, I tried …

- [StackOverflow](https://stackoverflow.com/questions/73704167/how-do-i-apply-managed-identities-to-deploy-bicep-files-by-using-github-actions)
- [MS Tech Community](https://techcommunity.microsoft.com/t5/azure-devops/how-do-i-apply-managed-identities-to-deploy-bicep-files-by-using/m-p/3628868)

Currently, Azure [doesn't support building a static web app using Azure DevOps](htt

[2022-09-19 08:41] tpjackson commented on #98325
Hello, just wanted to let you know that a mirror of the site is [available here](https://password-gen.com)

[2022-09-19 08:56] SnehaAgrawal-MSFT commented on #98469
@danglund Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2022-09-19 09:18] #98566 closed

[2022-09-19 10:26] RamanathanChinnappan-MSFT commented on #98620
@snowch,

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-19 10:37] ManoharLakkoju-MSFT commented on #98604
@damienbod
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue th

[2022-09-19 10:37] #98604 closed

[2022-09-19 11:38] arnovandevenrabobank opened #98641 "FrontDoor requires direct CNAME mapping"
Dear Microsoft,

I discovered that Azure Front Door (classic) requires a direct CNAME mapping from a custom domain to Azure Front Door. I had the assumption that Azure Front Door worked the same way as App Services. They allow CNAME propagation, for example, through an Azure Public DNS Zone. However, when I used an Azure Public DNS zone in between our custom domain and Azure Front Door, I was not

[2022-09-19 11:47] KapilAnanth-MSFT commented on #98641
@arnovandevenrabobank, Thanks for your feedback.
We shall review this and update you shortly.

[2022-09-19 12:07] anandadake opened #98642 "error with nohup"
The Example shown above is not work in background with nohup command...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05d8137c-88a5-3476-42a1-ccf3b00d4a2f
* Version Independent ID: 4bb8981f-bde1-5701-aa4e-4cd8f53dcbbf
* Content: [Quickstart - connect a device and send telemetry to Azure IoT Central](https://learn.micr

[2022-09-19 12:28] 3phase opened #98643 "Latest Mongoose is not compatible with Azure CosmosDB"
Latest Mongoose version is not compatible with Azure's CosmosDB. Just installing Mongoose as per documentation (`npm i mongoose --save`) won't do the trick and will furthermore break your application with an error, that looks like that:

[code]

This was already discussed in the issue here https://github.com/Automattic/mongoose/issues/11072. I managed to workaround it for now by downgrading to `"m

[2022-09-19 13:34] seesharprun commented on #98643
#assign:gahl-levy

[2022-09-19 14:01] GeethaThatipatri-MSFT commented on #98568
@T3pco Can you please confirm if you are using a single server or flex?

[2022-09-19 14:07] sopopa2 opened #98644 ""The cleanup of defaultuser1 accounts" incorrect information"
The following needs to be corrected because customers complain about it. Our doc says:

"The account itself has a randomly generated password, which is validated against an organizations password policy, doesn't show up for device sign-in, and **is automatically removed** after the user resets their password. Multiple defaultuser profiles may exist but can be safely ignored."

In fact, this is the

[2022-09-19 14:27] T3pco commented on #98568
the azure administrator user (createdon initial creation) on postgres single server has missing "userrepl"=true.
on current, newly created single servers, userrepl = true by default. On our older single server it was false.

[2022-09-19 14:31] GeethaThatipatri-MSFT commented on #98568
@T3pco by default, all the recently created single servers come with admin users with replication privileges only few servers that were created way before, comes with admin users without replication privileges.so if we include it as a prereq ALTER ROLE WITH REPLICATION; this might error out saying role already has privileges

[2022-09-19 14:34] GeethaThatipatri-MSFT commented on #98418
@andresbarcenas this is already fixed please check [here](https://learn.microsoft.com/en-us/azure/mysql/single-server/concepts-connect-to-a-gateway-node)

[2022-09-19 14:34] #98418 closed

[2022-09-19 14:39] T3pco commented on #98568
yes, that exactly why we struggled. Idk how many servers could be affected by this, for us it broke the whole migration process without any meaningful expection.

Of course you could implement it as an automatic check (more effort).

You can check existing priviledge with
SELECT usename, userepl FROM pg_catalog.pg_user;

Maybe it's worth just to mention it ("Please check if postgres admin user has

[2022-09-19 14:39] WhyTabs opened #98645 "NormalizedForm Support"
Which STT supported dialects support a normalized form for transcripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4de08d1f-8114-7bef-7ef4-022f79c69742
* Version Independent ID: 4c0ceab9-24ed-de01-db30-31acf1de0f48
* Content: [Language support - Speech service - Azure Cognitive Services](https://learn.microsoft.com

[2022-09-19 14:50] KyferEz opened #98646 "Linked Service to KeyVault behind Private Endpoint Test fails"
According to Support, When configuring a Linked Service to a KeyVault which has Public Access disabled and is behind a Private Endpoint, it is expected that the auto-population of the Secret Name will fail. It is also expected that Test Connection will fail when targeting a Secret. They state there is an Enhancement to address the issue.

Until that is fixed, the docs need to be updated to show th

[2022-09-19 15:04] #97914 closed

[2022-09-19 15:08] #98568 closed

[2022-09-19 15:15] mumurug-MSFT commented on #98538
@mercerchen-msft I hope the above comment clarifies your question. Feel free to reach out. I would be glad to answer any questions you may have. I am proceeding to close this thread.

[2022-09-19 15:15] #98538 closed

[2022-09-19 15:25] RamanathanChinnappan-MSFT commented on #98636
@bnagajagadeesh

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 15:31] RamanathanChinnappan-MSFT commented on #98646
@KyferEz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 15:35] RamanathanChinnappan-MSFT commented on #98642
@anandadake

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 15:37] RamanathanChinnappan-MSFT commented on #98644
@sopopa2

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 15:40] RamanathanChinnappan-MSFT commented on #98645
@WhyTabs

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-19 15:44] hhunter-ms commented on #85642
#please-close

[2022-09-19 15:45] hhunter-ms commented on #98229
#please-close

[2022-09-19 15:45] #98229 closed

[2022-09-19 15:50] khdownie commented on #98508
@jeffpatt24 are you able to help with this issue?

[2022-09-19 15:52] snowch opened #98647 "Lacking information on steps to become an Azure Databricks account admin"
This paragraph describes "what" is required.  It would be good if it could include some links that describes "how" the user can do this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e7dd177-0bec-3b6e-ade5-888c0c1f661a
* Version Independent ID: 6e7dd177-0bec-3b6e-ade5-888c0c1f661a
* Content: [Get started using Unity

[2022-09-19 16:04] #95229 closed

[2022-09-19 16:09] RamanathanChinnappan-MSFT commented on #98647
@snowch

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-19 16:15] jjjohn538 opened #98648 "I have not been able to complete this tutorial successfully: HTTP Error 500.30 - ASP.NET Core app failed to start"
I believe I have followed this example faithfully. I have repeated the steps 3 times looking for something I may have missed. I have successfully completed all steps prior to launching the app service. I've turned on the Application Service Logs and Log Streamed the output from the server when I launch the app service. To what resources can you point me so that I might successfully complete this e

[2022-09-19 16:22] jjjohn538 commented on #98648
I can successfully run this application locally.
Jesse

[2022-09-19 16:45] nssidhu opened #98649 "Option to add Custom Roles ?"
Can we Create Custom Synapse RBAC Role with Specific set of Permissions ?
If so, an links on how to do it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49a5eb79-6b7b-c217-36cd-b38c32dd1404
* Version Independent ID: 0e54e680-a48e-97d0-abd2-25c7a4051d6b
* Content: [Azure Synapse RBAC roles - Azure Synapse Analytics](h

[2022-09-19 16:52] GennadNY commented on #96941
@MarekLani and @Grace-MacJones-MSFT - same paragraph as quoted above states following - "may interfere with ability of Azure Database for PostgreSQL - Flexible Server service to update DNS records and cause issues during important operations on DNS, such as High Availability failover from primary to secondary." Is this not explanatory why we  dont recommend such locks?

[2022-09-19 16:59] sijucm opened #98650 "Free-tier share up to Shared tier, while Free-tier is a Shared category"
The page says the following
`For example, you can start testing your web app in a Free App Service plan and pay nothing. When you want to add your [custom DNS name](https://learn.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-custom-domain) to the web app, just scale your plan up to Shared tier`

The Free tier is also a shared category but then there is also a Shared tier. Microsof

[2022-09-19 17:00] GennadNY commented on #89424
@JV-conseil - this should have been solved. Its a bug and should go through the CSS

[2022-09-19 17:01] GennadNY commented on #89424
@markingmyname - can we close as it should be handled via product fix, not through docs change

[2022-09-19 17:03] WilliamDAssafMSFT commented on #79935
Hi @shellypa, sorry for the delay in response here, this just isn't the best place to ask questions like this. GitHub issues are more for docs updates and corrections. In general, REVOKE removes a GRANT or DENY.
#please-close

[2022-09-19 17:03] #79935 closed

[2022-09-19 17:03] WilliamDAssafMSFT commented on #79935
#reassign:WilliamDAssafMSFT

[2022-09-19 17:04] #98650 closed

[2022-09-19 17:07] WilliamDAssafMSFT commented on #96340
Hi @toastjoqo - you are correct that this article only applies to dedicated SQL pools (formerly SQL DW) in Azure Synapse Analytics, not dedicated SQL pools in Synapse workspaces. A doc update is in flight to make this more clear.

[2022-09-19 17:07] WilliamDAssafMSFT commented on #96340
#reassign:WilliamDAssafMSFT

[2022-09-19 17:07] WilliamDAssafMSFT commented on #96340
#please-close

[2022-09-19 17:07] GennadNY commented on #90546
@markingmyname - makes sense - working on it

[2022-09-19 17:10] GennadNY commented on #96416
@markingmyname - this can be closed

[2022-09-19 17:58] WilliamDAssafMSFT commented on #70167
#reassign:WilliamDAssafMSFT

[2022-09-19 17:58] WilliamDAssafMSFT commented on #70167
@rarandiv Thanks for following up on this and we apologize for the delay. We've asked around a couple different ways. We will keep this in consideration and I've brought it up to the PG again, but this is an open-source community tool that is not officially supported, so it is difficult to officially endorse it in Microsoft Docs. Thanks for taking the time for create this issue last year.

#please

[2022-09-19 17:58] #70167 closed

[2022-09-19 18:05] AbdullahBell commented on #98223
The note is updated! Thanks!

[2022-09-19 18:05] AbdullahBell commented on #98223
#please-close

[2022-09-19 18:05] #98223 closed

[2022-09-19 18:10] Nicholak-MS commented on #98527
SKU MCOMEETACPEA  has been added to the online table as well as the downloadable CSV.

Thanks!

@Please-Close

[2022-09-19 18:15] Nicholak-MS commented on #98577
Thank you for bringing these errors to our attention. The corrections have been made and are available on the latest downloadabe CSV.

Thanks!

#Please-Close

[2022-09-19 18:15] #98577 closed

[2022-09-19 18:15] #98527 closed

[2022-09-19 18:16] sofbkeller commented on #98527
Thanks! 😊

Brad Keller
IT Technical Specialist – Cloud
***@***.***
P. 604-881-3637
M. 604-619-5226
Saveonfoods.com<https://www.saveonfoods.com/>
Join Our Team
Saveonfoods.com/joinourteam<https://www.saveonfoods.com/joinourteam>

From: Nicholak-MS ***@***.***>
Sent: Monday, September 19, 2022 11:11 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Brad Keller (Technical Specialist, Cloud) ***@***.**

[2022-09-19 18:16] Nicholak-MS commented on #98554
All relevant products have been updated to reflect the name change associated with Microsoft Teams Phone

Thanks!

#Please-Close

[2022-09-19 18:16] #89424 closed

[2022-09-19 18:16] #98554 closed

[2022-09-19 18:18] wandyezj opened #98653 "Thank You for the Azure Front Door redirecting from HTTP to HTTPS Article!"
I've been trying to figure out how to do this forever, and this article made it really easy!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f7c20cf-3978-d4e5-cd89-e77ae59f4afb
* Version Independent ID: 70019c90-4f00-6592-f0f7-25930287837e
* Content: [Use a rules engine to enforce HTTPS in Standard Azure CDN](https://l

[2022-09-19 18:20] Nicholak-MS commented on #98566
This changed has been published and is reflected in the latest online table. Thanks for submitting the PR to make the fix.

Thanks!

#Please-Close

[2022-09-19 18:22] krashidov commented on #17210
I'm facing a similar issue. Has anyone gotten any updates from MS? Do they support migrating App Registrations from tenant to tenant yet?

[2022-09-19 18:29] mbender-ms commented on #98451
#please-close

[2022-09-19 18:29] #98451 closed

[2022-09-19 18:36] hhunter-ms commented on #98263
@tjoudeh Thank you for your feedback! Just wanted to add that we typically don't link out to third party sources. However, if you have any suggestions on how to make the article itself better, definitely open a new issue and we'll do our best to work with you on that. Thanks again!

[2022-09-19 18:37] WilliamDAssafMSFT commented on #97303
Thanks for taking the time to create this GitHub issue, @davihar! A doc update is in flight to reflect this change. #please-close

[2022-09-19 18:37] #97303 closed

[2022-09-19 18:38] hhunter-ms commented on #94823
Closing this issue as it has been resolved. If you have any further questions or suggestions, please open a new issue. Thank you! #please-close

[2022-09-19 18:38] #94823 closed

[2022-09-19 18:39] hhunter-ms commented on #97310
Closing this issue as it appears to have been resolved. If you have any further questions or suggestions, please open a new issue. Thank you! #please-close

[2022-09-19 18:39] #97310 closed

[2022-09-19 18:39] hhunter-ms commented on #94458
Closing this issue as it appears to have been resolved. If you have any further questions or suggestions, please open a new issue. Thank you! #please-close

[2022-09-19 18:39] #94458 closed

[2022-09-19 18:41] JimacoMS4 commented on #97906
Hi @kudlatiger,

We have some additional information to add here. Currently, DPS instances support TLS version 1.2 only. Every instance is created with this support by default. There is no need to set _minTlsVersion_ in an ARM template because TLS 1.2 is the only version supported. We've updated the [DPS TLS support topic](https://learn.microsoft.com/en-us/azure/iot-dps/tls-support) to reflect thi

[2022-09-19 18:53] MashaMSFT commented on #95227
Hi @DavidKlempfner , thanks for contacting Microsoft!  Actually, disabling read-scale out for SQL Managed Instance is not an option, and as such, that section is applicable to SQL Database only. I've processed a change to hopefully make this more clear and it should be live later this week. My apologies for any confusion, and hope that helps clarify! I'll go ahead and close out this Git Issue for

[2022-09-19 18:53] #95227 closed

[2022-09-19 18:59] mabinthecodemaven opened #98656 "Not very useful"
[Enter feedback here]
From what I understand this is only going to work on one hololens because the anchor IDs in the program are just being stored locally on the one device that creates them. This is pretty useless if the whole point is so that other devices can see the anchors.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-09-19 19:01] ChaitanyaNaykodi-MSFT commented on #98653
Hello @wandyezj,

Thank you for your feedback. We are glad you found the article useful.

[2022-09-19 19:01] #98653 closed

[2022-09-19 19:12] chcomley commented on #97749
Hi @mkb13, I've updated the article. This issue will automatically close once it's live. Thanks for the feedback! In the future, please consider becoming a [contributor to our docs](https://learn.microsoft.com/en-us/contribute/), where you can make quick edits and have a lot of impact. Have a great day!

[2022-09-19 19:17] 7cfourie commented on #17210
Hay,

No they don't support it and won't make provision for it, (my personal
opinion).

The issue is that an app registration creates a service principal that is
Associated with that specific Azure AD that is unique to that tenant with
an object ID, this cannot be migrated.

So your only solution will be to re create the app registration in the new
tenant.

On Mon, 19 Sep 2022, 20:22 Komran Rashid

[2022-09-19 19:34] infernuxmonster opened #98658 "Minor typo"
For this https://learn.microsoft.com/en-us/azure/azure-monitor/agents/data-collection-rule-azure-monitor-agent?tabs=portal#create-data-collection-rule-and-association

Select portal, step 9, second paragraph:

"You can send Windows event and Syslog data sources can to Azure Monitor Logs only."

I believe its ".. data sources to Azure Monitor.."
---
#### Document Details

⚠ *Do not edit this sectio

[2022-09-19 19:42] ezYakaEagle442 opened #98659 "Azure Container Apps limits missing"
<body lang=FR link="#0563C1" vlink="#954F72" style='tab-interval:35.4pt;
word-wrap:break-word'>

<p class=MsoNormal><span lang=EN-US style='mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-S

[2022-09-19 19:46] D-Moonesinghe opened #98660 "What is said here is hard to understand."
This whole paragraph is confusing and hard to understand.  It seems to say exactly what is said in the previous paragraph but then shows something exactly the opposite with the graphic.  Seems like different writers had different thoughts that don't mash together.

" During authentication, legacy authentication clients don't support sending MFA, device compliance, or join state information to Azur

[2022-09-19 19:47] ezYakaEagle442 commented on #98659
az containerapp create –help

--cpu                          : Required CPU in cores from 0.25 - 2.0, e.g. 0.5.
--memory                 : Required memory from 0.5 - 4.0 ending with "Gi", e.g. 1.0Gi.

The [REST API](https://learn.microsoft.com/en-us/rest/api/containerapps/container-apps/create-or-update?tabs=HTTP#containerresources) does not describe such limits.

@kendallroden

[2022-09-19 19:49] D-Moonesinghe opened #98661 "These two paragraphs together don't make any sense."
This whole paragraph is confusing and hard to understand.  It seems to say exactly what is said in the previous paragraph but then shows something exactly the opposite with the graphic.  Seems like different writers had different thoughts that don't mash together.

" During authentication, legacy authentication clients don't support sending MFA, device compliance, or join state information to Azur

[2022-09-19 19:51] khdownie commented on #98532
@denver-reed we provide the following guidance in the doc. Do you think more clarification is needed?

Install and execute the module on a device that is domain joined to on-premises AD DS with AD DS credentials that have permissions to create a service logon account or a computer account in the target AD. You must run the script using an on-premises AD DS credential that is synced to your Azure A

[2022-09-19 19:57] denver-reed commented on #98532
@khdownie Perhaps further testing can be done on your lab environment for this. In the customer environments I have assisted with, the command only works if they are a Domain Admin of the target domain. When the customer tried to run the command after confirming they had permissions to create a computer account, it failed. Only resolution we found was having a domain admin do it. If that's the cas

[2022-09-19 20:07] khdownie commented on #98532
@denver-reed thanks - I will look into this.

[2022-09-19 20:07] awbarbeau opened #98662 "Lack of clarity on Azure Key Vault access needs for Azure Databricks Workspace admins"
Point 1, "Verify that you have Contributor permission..." leaves ambiguous the specific privileges needed by a user, "you", who can create secret scopes on both the Azure Databricks Workspace (ADW) side and Azure Key Vault (AKV) side. A logged in user with the intent of creating a secret scope requires AKV contributor, or higher, and ADW Admin, at the same time, for secret scope creation to succee

[2022-09-19 20:09] AjayKumar-MSFT commented on #98650
sijucm,  Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue/question is sorted out.  if it's not the case or you need further assistance kindly just let us know.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2022-09-19 20:30] aahill commented on #98456
#assign:jboback

[2022-09-19 21:12] SatishBoddu-MSFT commented on #98642
Hello @anandadake Could you please point us to the section where we see the  nohup command.  //?

[2022-09-19 21:13] VinnyBonner opened #98664 "SCM Link Typo"
https://learn.microsoft.com/en-us/azure/azure-functions/functions-recover-storage-account#container-errors-on-linux

At container errors on linux under 1. of the instructions, there is a typo in the urn.

```Navigate to the Kudu endpoint for the function app, which is located at https://scm.<FUNCTION_APP>.azurewebsites.net, where <FUNCTION_APP> is the name of your app.```

Should show:
```Navigate

[2022-09-19 21:22] ramakoni1 commented on #96927
hi @helenxfu -Thank you for raising this issue. Am investigating this further and will submit a PR to docs later this week or early next week with clarification.

[2022-09-19 21:33] bandersmsft commented on #97445
https://github.com/MicrosoftDocs/azure-docs-pr/pull/211785

@mike-westaway I added the following new section to the article.

## Prerequisites

- For an EA, the user needs to be an Enterprise administrator to view the MACC balance.
- For an MCA, the user must be have the owner, contributor, or reader role on the billing account to view the MACC balance.
#please-close

[2022-09-19 21:33] ChaitanyaNaykodi-MSFT opened #98665 "You can deploy VPN gateway in Dual Stack VNET only using Azure PowerShell/CLI"
Additional reference- https://learn.microsoft.com/en-us/answers/questions/1011462/index.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08a5c04b-b0f3-fd22-68f4-b2f68ca9d7bb
* Version Independent ID: 48de6009-8c23-ecc5-ef7a-730d9534de52
* Content: [Overview of IPv6 for Azure Virtual Network](https://learn.microsoft.

[2022-09-19 21:34] ChaitanyaNaykodi-MSFT commented on #98665
Working on a PR.

[2022-09-19 21:34] bandersmsft commented on #97445
#please-close

[2022-09-19 21:34] #97445 closed

[2022-09-19 21:39] bandersmsft commented on #98634
@Pengcici I'm verifying your suggested change with the EA billing engineering team. I'll reply here where I have something to report.

[2022-09-19 21:40] bandersmsft commented on #98548
@emilylait Sure, I'll make the update as soon as I can.

[2022-09-19 21:41] bandersmsft commented on #97819
@helderpinto I haven't forgotten this. I'm still looking into it.

[2022-09-19 21:42] FeedTheHungry opened #98666 "Missing info on using PowerShell to dissociate the IP address from the NIC configuration"
On this page, The instructions for deleting a public IP address using PowerShell says:

[Set-AzPublicIpAddress](https://learn.microsoft.com/en-us/powershell/module/az.network/set-azpublicipaddress) to dissociate the IP address from the NIC configuration.

But it doesn’t say how to use this commandlet to do that.  The reference page for Set-AzPublicIpAddress also doesn’t say how to do that.

---
##

[2022-09-19 21:49] normesta commented on #98477
#reassign:pauljewellmsft

[2022-09-19 21:49] normesta commented on #98225
#reassign:pauljewellmsft

[2022-09-19 21:54] cvillagomez commented on #98658
Hi @infernuxmonster,

Thank you for your post! I am going to review this with my colleagues and will confirm once I am able to push a commit to update our public documentation.

We appreciate your feedback and will keep you updated.

Thanks!
Carlos V.

[2022-09-19 21:58] JamesTran-MSFT commented on #98661
@D-Moonesinghe
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-19 21:59] JamesTran-MSFT commented on #98660
@D-Moonesinghe
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-19 22:30] mumurug-MSFT commented on #98664
@VinnyBonner Thanks for your feedback. We will review and update as appropriate.

[2022-09-19 22:31] smrgit opened #98669 "BlockBlobService portion of this documentation not up to date?"
It seems that this documentation needs to be updated -- it describes using BlockBlobService but it seems that BlobServiceClient is now the appropriate way to download a blob from Azure storage?  please update this documentation or help me understand what I am doing wrong -- thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2022-09-19 22:45] davidsmatlak commented on #92361
I submitted the fix for this issue and after the pull request is merged, this issue will automatically close. After the merge, the updated document will be online within 24 hours.

[2022-09-19 22:52] khdownie commented on #98626
@jikuja We recommend explicitly specifying $SamAccountName in addition to $StorageAccountName. If you don’t specify $SamAccountName, the script will fail if the $StorageAccountName is > 15 characters in length. Storage account names can be up to 24 chars if $SamAccountName is specified, but $SamAccountName is recommend to be 15 characters or less due to AD limit.

The planning doc you referenced i

[2022-09-19 22:54] cvillagomez commented on #98658
#sign-off

[2022-09-19 22:55] #98658 closed

[2022-09-19 22:56] ChaitanyaNaykodi-MSFT commented on #98666
Thank you for your feedback! We will review and update as appropriate.

[2022-09-19 23:58] ggailey777 commented on #98502
OK, I've poked around a bit and here's what has happened.

1. We been reducing the number of automatically added assemblies since [version 1.x](https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script/Description/DotNet/FunctionMetadataResolver.cs#L58-L64).
2. In [version 2.x and 3.x](https://github.com/Azure/azure-functions-host/blob/v3.x/src/WebJobs.Script/Description/DotNet/Sc

[2022-09-20 00:00] MartijnvanPraag opened #98672 "Username-password flow (programmatic) requires "Allow public client flows" setting to be enabled on the App registration"
Hi Team,

In order for the programmatic flow to work, you need to change the "Allow public client flows" setting on the app registration to "Yes"

<img width="526" alt="image" src="https://user-images.githubusercontent.com/108769987/191139188-95546681-4690-4c92-8139-34fe0bbe84a3.png">

This is not reflected in the article.

Cheers,
Martijn

---
#### Document Details

⚠ *Do not edit this section. I

[2022-09-20 00:06] rjosephp opened #98673 "Express Route Private Peering support for VMWare replication traffic"
As per the Step 2 of the Replication Process (Link: https://learn.microsoft.com/en-us/azure/site-recovery/vmware-azure-architecture#replication-process), "Traffic replicates to Azure storage public endpoints over the internet. Alternately, you can use Azure ExpressRoute with [Microsoft peering](https://learn.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#microsoftpeering).".

[2022-09-20 00:23] ggailey777 commented on #98502
This has been updated in the private repo. You should see the update by tomorrow am.
#please-close

[2022-09-20 00:23] #98502 closed

[2022-09-20 00:43] Pengcici commented on #98634
Hello Bill,

Thank you for informing. I am looking forward to your updating.

Regards,
Cici

From: Bill Anderson ***@***.***>
Sent: Tuesday, September 20, 2022 5:40 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Cici Peng ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Add more details on EA reflection in terms of RI partial refund (Issue #98634)

@Pengcici<https://nam

[2022-09-20 00:57] pnarsi opened #98674 "Marking this feature as preview"
I think it would be useful to make it clear that this private endpoint feature is still in preview. In other Azure documentation pages have seen for preview features  they normally include '**(Preview)**' in the title and/or have a info box that says that the feature is in preview and the supplementary terms outlined [here](https://azure.microsoft.com/en-au/support/legal/preview-supplemental-terms

[2022-09-20 01:16] abatishchev opened #98676 "No sample how to create diagnostic settings for subscription"
Per the [doc for CLI](https://learn.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings/subscription?view=azure-cli-latest#az-monitor-diagnostic-settings-subscription-create) there is a way to create diagnostic settings for subscription:

[code]

which they can be used to [onboard](https://learn.microsoft.com/en-us/azure/sentinel/quickstart-onboard#enable-microsoft-sentinel-) to Azure Sentin

[2022-09-20 01:20] nssidhu opened #98677 "How to Pass Parameter from ADF Pipeline to DataFlow Source data set which is parameterized"
Will appreciate example on how to Pass in the Parameter from ADF Pipeline into DataFlow and than using that parameter in Source dataset.
Source DataSet is parameterized to receive parameter for Container, Folder and File.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 40982a5b-890f-0ef4-fad7-2d65b856aef8
* Version Ind

[2022-09-20 01:42] #98665 closed

[2022-09-20 01:52] doilikeit82 opened #98678 "Outbound Traffic for VM3"
[Enter feedback here]
A sentence under the section of Outbount Traffic for VM3 in this document goes
'VM3: If NSG2 has a security rule that denies port 80, the traffic is denied. If NSG2 has a security rule that allows port 80, then port 80 is allowed outbound to the internet, since a network security group isn't associated to Subnet2.'

Isn't it true that NSG2 would have AllowInternetOutbound rul

[2022-09-20 02:05] VitalyMCT opened #98679 "SQL Server support?"
According to the "applies to" section at the top of the page this feature is only available in Azure SQL Database and Azure SQL Managed Instance.

However, the description shows it's also available for SQL Server 2012+ in Azure VMs.

Can you please update the article to provide clarity?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue l

[2022-09-20 02:18] YashikaTyagi-MSFT commented on #98624
@macux
Thanks for pointing this out. we are assigning issue to author for further validation.

[2022-09-20 02:31] yichungyu opened #98680 "Request to add steps for Application Gateway integration for the "Use custom routing to API Management regional gateways" section"
Currently, the section "Use custom routing to API Management regional gateways" only contains steps on how to configure custom routing via Traffic Manager. Can we please add additional content on how to set up custom routing using Application Gateway?

My customer currently have Application Gateway set up for a single-region APIM deployment, and they are transitioning to a multi-region deployment.

[2022-09-20 02:37] #98664 closed

[2022-09-20 02:39] mumurug-MSFT commented on #98664
@VinnyBonner We have made the changes and it will be published soon.  We will proceed to close this thread. Thanks again.

[2022-09-20 02:40] RamanathanChinnappan-MSFT commented on #98648
@jjjohn538

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 02:46] RamanathanChinnappan-MSFT commented on #98649
@nssidhu

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 02:53] RamanathanChinnappan-MSFT commented on #98656
@mabinthecodemaven
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:01] RamanathanChinnappan-MSFT commented on #98659
@ezYakaEagle442

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:10] RamanathanChinnappan-MSFT commented on #98662
@awbarbeau

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:14] RamanathanChinnappan-MSFT commented on #98669
@smrgit

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:19] bibin08 opened #98681 "Can the Server Credential be created remotely through Power shell script?"
The document explains that OpenRowSet requires Server Credentials or the key which is not ideal in the production world. Is there a way to execute this query either through PowerShell or access a linked key vault secret from the query?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 644ae872-ba45-1891-6fb2-9f976349a488

[2022-09-20 03:19] RamanathanChinnappan-MSFT commented on #98672
@MartijnvanPraag

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:24] RamanathanChinnappan-MSFT commented on #98673
@rjosephp

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:29] RamanathanChinnappan-MSFT commented on #98674
@pnarsi

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:33] RamanathanChinnappan-MSFT commented on #98676
@abatishchev

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:35] RamanathanChinnappan-MSFT commented on #98677
@nssidhu

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:38] RamanathanChinnappan-MSFT commented on #98678
@doilikeit82

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:39] RamanathanChinnappan-MSFT commented on #98679
@VitalyMCT
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:41] RamanathanChinnappan-MSFT commented on #98680
@yichungyu

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:44] RamanathanChinnappan-MSFT commented on #98681
@bibin08
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 03:55] peterson1 commented on #98227
I am also experiencing the exact same issue using C# client library Azure.Communication.Email 1.0.0-beta.1
Any update on this?

[2022-09-20 04:20] AnuragSingh-MSFT commented on #98460
@chorting, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-09-20 04:29] keiichiro1993 commented on #89178
Hi @pagariyaalok ,
Has this update been rolled out or still in progress?

[2022-09-20 04:42] shaktisingh-msft commented on #98679
Hi @WilliamDAssafMS,

Could you please look into this document update where "Applies To" section needs to be updated as according to the description under "Supported Version"
![image](https://user-images.githubusercontent.com/110027638/191169054-6b6d6c1f-e22b-4a57-90d0-b5e6ef560e16.png)
![image](https://user-images.githubusercontent.com/110027638/191169125-b4090087-c60c-484f-a29a-9f36e4c5c6f6.png)

[2022-09-20 04:53] KapilAnanth-MSFT commented on #98641
@arnovandevenrabobank,

- Can you confirm if you have delegated the Azure DNS Domain?
- May I know who is your Domain Registrar?

We do not support domain registration as of now.
Even App Services use GoDaddy under the hood for domain registration.

![image](https://user-images.githubusercontent.com/107474080/191170383-e543ca40-d1b1-4a43-afdd-c01a2fcc0ad6.png)

Refer : https://learn.microsoft.com/

[2022-09-20 05:13] pagariyaalok commented on #89178
Updates are still being rolled out. This should be available in 99.0.7.593+ Azure App Service version. You could check this version from scm site.

[2022-09-20 05:26] wangmingliang-ms commented on #90728
@SnehaAgrawal-MSFT @euchungmsft  hello, is there any update on this issue?

[2022-09-20 05:34] AnuragSingh-MSFT commented on #98536
@artisticcheese, thank you for the reply. In the scenario mentioned in your reply, if you only assign a role on a **Resource group** (_for example a reader role_) and don't assign role on the subscription level, the context gets set with the respective subscription id.

The following example should help clarify it further, which I tested.

1. Create a new Automation Account --> Enable System ident

[2022-09-20 05:40] alexchen2016 opened #98685 "what kind of users can be invited in Azure China portal"
Hi writer team,

Our customers found that they are not able to invite gmail users in Azure China portal according to the step "Add guest users to the directory" described in this article. Could you help to give details about what kind of users can be invited in Azure China portal in this doc?

Thanks
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.c

[2022-09-20 05:46] AjayBathini-MSFT commented on #98550
@Philedit6665
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-20 05:46] #98550 closed

[2022-09-20 05:56] SadiqhAhmed-MSFT commented on #98674
@v-ksreedevan Could you please review this request and take appropriate action?

[2022-09-20 05:59] anandadake commented on #98642
Hello @SatishBoddu-MSFT

I'm referring bellowed article
https://learn.microsoft.com/en-us/azure/iot-develop/quickstart-send-telemetry-central?pivots=programming-language-python

and after all prerequisite i trying this `nohup ./venv/bin/python ./temp_controller_with_thermostats.py `
but fails and gives error related to asyncio...

Note : without nohup script works fine  .

[2022-09-20 06:00] anandadake commented on #98642
Additionally i'm using  Python 3.8.0

[2022-09-20 06:05] SadiqhAhmed-MSFT commented on #98673
@rjosephp Please, note the following:

[https://docs.microsoft.com/en-us/azure/site-recovery/concepts-expressroute-with-site-recovery](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fsite-recovery%2Fconcepts-expressroute-with-site-recovery&data=05%7C01%7CSadiqh.Ahmed%40microsoft.com%7C3f792d5225914b499bab08da965456a0%7C72f988bf86f141af91ab2d7c

[2022-09-20 06:07] RamanathanChinnappan-MSFT commented on #98447
@CrowdsourceKurdish

 It's an engineering issue and it's on their backlog to resolve. The issue is a bug that was introduced system-wide and will take some time to resolve. Thank you.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-09-20 06:07] #98447 closed

[2022-09-20 06:10] RamanathanChinnappan-MSFT commented on #98607
#Sign-off

[2022-09-20 06:10] #98607 closed

[2022-09-20 06:17] YashikaTyagi-MSFT commented on #98685
@alexchen2016
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-20 06:25] arnovandevenrabobank commented on #98641
@KapilAnanth-MSFT,

I don't know who our domain registrar is as this is something our networking department within our company arranges. But this is not related to the issue I described. What I meant to say is the CNAME DNS record pointing to Azure Front Door can't be a propagated CNAME DNS record. I'll give an example to clarify

Let's say our custom domain name is frontend.contoso.com. There sho

[2022-09-20 06:36] olavt opened #98687 "Application Map Labels should be explained"
In the Application Map there are some labels on the connections between the components of the graph nodes. For example 163.3ms. It's unclear whether this number represents the average of the calls or maximum (slowest), or something else. This should be explained in more details as this is important for the user who needs to quickly interpret what's going on..

---
#### Document Details

⚠ *Do not

[2022-09-20 06:37] SaibabaBalapur-MSFT commented on #98582
@zr-msft

We have gone to different doc links, but couldn't find any source to relative question, so can you please check and add your comments on this doc update request as applicable.

[2022-09-20 06:41] orendin commented on #58514
Hi @AlissonRS

Sorry about necromancing this issue. I am not sure if this is still relevant for you, but it might help someone else down the track looking into this.

I ran into this issue today where the app / sessions would be sticky to the "beta" slot after I had set them to 0% via cli or Azure portal to the point of me tearing out what's left of my hair.

After some digging I found that there

[2022-09-20 06:50] AjayBathini-MSFT commented on #98633
@catmanjan
Under the [Persistent Volume claims](https://docs.microsoft.com/en-us/azure/aks/concepts-storage#persistent-volume-claims) section, the example is using one of the two initial storage classes.i.e. managed-premium.
![image](https://user-images.githubusercontent.com/111562794/191187054-1a9e878b-2409-404d-800a-515fe4be0ec2.png)

The other example with name as managed-premium-retain was for

[2022-09-20 06:54] notanaha opened #98689 "Incorrect tag shown in the response sample that causes extra work for a development [REST API][Get task results][Response body]"
[Enter feedback here]
[REST API][Get task results][Response body]
Sample response body indicates a tag "classes", which I found incorrect.
The correct tag is "class".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61a20f08-a246-05be-0c99-b03d049a9bf5
* Version Independent ID: b46fedb0-c2fa-2210-9c81-127ea1282192
* Cont

[2022-09-20 06:54] CHEEKATLAPRADEEP-MSFT commented on #98618
@TysonLinger - Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-20 06:55] SudhirRaparla commented on #96469
@vlad-kozlov - Sorry for the delayed response. If the Backup Storage Redundancy is set to Geo-redundant, then the backup will be automatically replicated to paired geo region. You can use Geo-Restore capability which is a self-serve capability and doesn't require any support ticket. Way to do that via Portal is:
1) Create Database
2) Choose name and other mandatory fields in **Basics** tab
3) Go t

[2022-09-20 06:56] hengv opened #98690 "LSv3 is already supported by VMSS flexible mode"
LSv3 is already supported by VMSS flexible mode according to the doc:
https://learn.microsoft.com/en-us/azure/virtual-machines/lsv3-series

Please correct the doc in this page:

SKUs supported | D series, E series, F series, A series, B series, Intel, AMD; Specialty SKUs (G, H, L, M, N) are not supported

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-09-20 07:03] SudhirRaparla commented on #98336
HI @jcbrooks92 - Thank you for sharing your feedback. Agree with what you say at a high level, that performance of a restore operation can be affected by other ongoing workloads and operations and vice versa. Though it may not be specific to S3 SLO. We will update the documentation.

[2022-09-20 07:34] Floriszz opened #98693 "Users without a filled in name unknown are not included in export"
Users without a filled in name show up with name 'unknown' in the portal and are not included in the export.
Only using Powershell will include these users.

Btw. Name field is officially required field, but programmatically or through import it is possible to create user accounts without Name field filled.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft

[2022-09-20 07:52] gdubya commented on #69090
@RonyMSFT have you heard back about this? I agree with @AndyPT and @VitalyMCT that it seems incorrectly documented about 1443. I see no requests from my browser to Synapse Studio using this port. How can we prove that 1443 is required?

[2022-09-20 07:53] ricardoedo opened #98694 "Wrong doc link"
The first link in this paragraph is wrong and should point to https://learn.microsoft.com/en-us/graph/api/resources/appconsentrequest:

To review the admin consent requests programmatically, use the [appConsentRequest resource type](https://learn.microsoft.com/en-us/graph/api/resources/userconsentrequest) and [userConsentRequest resource type](https://learn.microsoft.com/en-us/graph/api/resources/

[2022-09-20 07:59] gdubya commented on #69090
Ah, actually I did find one. There is a request using HTTPS (443) followed by a request on 1443. So the documentation is correct, even though it is confusing. But it looks like the request on 1443 is a duplicate of the first request, so perhaps this is just a fallback mechanism since (in my case) the first request (on 443) failed?

![image](https://user-images.githubusercontent.com/446033/19120075

[2022-09-20 08:22] MaxMelcher opened #98695 "MAXFILES for cross region replicated volumes"
Hi team,

could you please specify how increased MAXFILES limits on the source volume are propagated to the cross-region replication
destination volume?

My customer asked me this question a couple of times now and this created unclarity.

Thanks,
Max

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 93ca706a-09d1-39dc-8

[2022-09-20 08:33] ManoharLakkoju-MSFT commented on #98635
@heuristik1
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-20 08:52] RamanathanChinnappan-MSFT commented on #98647
@snowch
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-20 08:55] RamanathanChinnappan-MSFT commented on #98571
@chris-szczyglowski-envolve

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-20 08:56] CamiloTerevinto commented on #85389
Hi @ericd-mst-github, sorry for the delay, here's the case number: 2209160040003137

[2022-09-20 09:16] pauldj54 opened #98696 "Connection is close every time before query is completed"
Hi everyone,

I was trying the code of the article as-is but the connection was always closed before the query completes.
---
To overcome this issue I had to comment the following line of code:

[code]
I'm not a node or java script expert but it seems logical, if and error occurred then log the error message in the console, if no error then query the database, but node of course is not waiting for

[2022-09-20 09:23] torbennehmer commented on #94848
@EdB-MSFT Unfortunately, the steps don't work. I'm using a workspace based Azure Insights instrance which does have customMetrics Records in its database:

![image](https://user-images.githubusercontent.com/2812067/191219449-9d905386-bfe6-478f-9902-ef6174f1cd73.png)

![image](https://user-images.githubusercontent.com/2812067/191218391-9111b405-b0a3-4cf1-82cf-c47e7949cc01.png)

![2022-09-20 11_13_2

[2022-09-20 09:42] RamanathanChinnappan-MSFT commented on #98619
@zephoon

Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-09-20 09:43] CGijbels opened #98698 "Section "Azure portal (GlobalSign)" mentions DigiCert instead of GlobalSign in step 1"
In section "Azure portal (GlobalSign)" the following needs to be changed:

From: "1. To add DigiCert certificate authority, go to the key vault you want to add it to."

To: "1. To add GlobalSign certificate authority, go to the key vault you want to add it to."

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 40

[2022-09-20 10:09] Naveenommi-MSFT commented on #98573
@marekm-gain
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-09-20 10:19] ghost opened #98700 "No longer necessary to set oauth2Permissions"
This no longer appears to be the case:

[code]

Indeed, a closer look at the JSON seems to suggest that the oauth2Permissions have moved to the key `api.oauth2PermissionScopes`, and the value defaults to `[]` as the script in the documentation will do.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7b38cbb3-a70a-4869-

[2022-09-20 10:21] v-hgampala commented on #98386
@andy-vdg, updating the document as suggested.
#please-close

[2022-09-20 10:21] #98386 closed

[2022-09-20 10:52] AhmadGT8 opened #98702 "Change the replication setting section"
Hello team,

For this part to change the replication type settings using the Azure portal https://learn.microsoft.com/en-us/azure/storage/common/redundancy-migration?tabs=portal#change-the-replication-setting

the screen shot guides to do that using the configuration blade but now it changed to the redundancy blade as in below screen shot
![change replication type](https://user-images.githubuserco

[2022-09-20 10:56] WimSchmitz opened #98703 "Improve Azure RBAC Role Requirements documentation to set up alerts"
Our security team does not want Data Engineers to be able to edit Log Analytics settings for our resources, or create their own Workbooks/LA Workspaces. We would still like to find a Built-In role, keeping in mind the Least Priviledge principle, that allows creating action groups & alerts on for example Data Factory, VM's or SQL DB's. The documentation on this page is a bit unclear on this topic i

[2022-09-20 11:01] SouravDutta-MSFT commented on #98636
@bnagajagadeesh

Please go through below links;
Question 1: Answer - https://docs.oracle.com/en/database/oracle/oracle-database/18/ntqrf/automatic-startup-and-shutdown.html#GUID-49BAB485-D7FE-4487-BA48-04F5C06ACEA9

Question 2: Answer - https://docs.oracle.com/cd/E18283_01/appdev.112/e10766/tdddg_connecting.htm

=====================================================================
Disclaimer: This

[2022-09-20 11:07] audunsolemdal commented on #98085
Anyone?

[2022-09-20 11:10] gdubya commented on #69090
I compared these queries with those from another workspace (in a completely different subscription) and **did not** see any requests on 1443 (the first HTTPS requests were successful), which backs up my theory that the 1443 requests are fallback behaviour.

[2022-09-20 11:16] antothomas23 opened #98704 "Table COMMENT missing in azure databricks DESCRIBE TABLE"
I have created an external table in azure databricks with table COMMENT in the DDL. The table was created, but when I tried to describe table. I was not able to see table **comment**. Tried this with cluster version 10.4 as well 11.2

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 36f7db07-c9df-3bb8-f385-4c4cd7ed5469
*

[2022-09-20 11:18] hkelley opened #98705 "Rewrite HTTP headers with Azure Application Gateway - Unknown Server Variable"
The header value `add_x_forwarded_for_proxy` shown in figure 2 is not accepted by the UI today.   The UI reports "unknown server variable"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc6fb5a-cd68-94e6-6ce8-994d0decde38
* Version Independent ID: c6712a2c-924d-a5f7-79ee-009059a91177
* Content: [Rewrite HTTP headers

[2022-09-20 11:24] #98705 closed

[2022-09-20 11:25] VikasPullagura-MSFT commented on #98690
@hengv
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-09-20 11:25] VikasPullagura-MSFT commented on #98690
@fitzgeraldsteele
Can you please check and add your comments on this doc update request as applicable.

[2022-09-20 11:56] chorting commented on #98460
I replied immediately - may be a spam filter. Trying directly with GitHub
@AnuragSingh-MSFT @AjayBathini-MSFT @SadiqhAhmed-MSFT

Re: [MicrosoftDocs/azure-docs] Issue with September release (Version 1.22) of Azure Arc-enabled servers agent (azcmagent) (Issue #98460)
Christopher R. Horting
MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>;

I am currently implementing Azure Monitor, and durin

[2022-09-20 11:58] GeethaThatipatri-MSFT commented on #98696
Hi @pauldj54 Thanks for reaching out, We will investigate and update you shortly.

[2022-09-20 12:08] GeethaThatipatri-MSFT commented on #98700
Hi @cubikca Thanks for your findings, I'm assigning this to the author for the feedback review.

[2022-09-20 12:57] ericd-mst-github commented on #85389
No worries and thanks! I'll get this escalated and will keep you posted.

We have had some other customers report the same behaviors noted in your findings and engineering is currently looking into this.

[2022-09-20 13:02] jsquire opened #98706 "Methods table is not readable on a laptop screen."
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#31260](https://github.com/Azure/azure-sdk-for-net/issues/31260).

### Please be aware that @hazelGranger is the author of the original issue and include them for any questions or replies.

## Details

[As the screenshot shows, the method table is cut the right side of the screen and content is not wrapping

[2022-09-20 13:07] ronzinms opened #98707 "Download Blob Link"
Hello,
The "Download a blob"  link actually points to the  "List Containers"  example.  Is it possible to get this corrected ?

Thanks a lot!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6274e207-a00a-daca-441e-b9d08c88b1bc
* Version Independent ID: f725db5e-c348-0259-bae0-e1c4e955172d
* Content: [Azure Storage samp

[2022-09-20 13:07] JananiRamesh-MSFT commented on #98441
Hi @FilipBruins Limit-concurrency should work in inbound scope too. you may not notice it because maybe the policy code runs very fast.

[2022-09-20 13:16] santosh-ravada commented on #34157
@SnehaGunda and @@shrey-agarwal , can you please share the solution for above issue as am facing similar issue

[2022-09-20 13:16] artisticcheese commented on #98536
Something was on my side where it would fail when only RG level assignment was done and subscriptionID was coming up empty.

[2022-09-20 13:16] #98536 closed

[2022-09-20 13:20] CrowdsourceKurdish commented on #98447
@RamanathanChinnappan-MSFT
This problem has been going on for a long time and we have tried very hard to solve this problem, but we have not been able to reach any competent developer.
I wonder why Microsoft developers don't comply with Unicode standards?
Do you have a suggestion for this problem to be solved faster?
Thanks.

[2022-09-20 13:33] AbbyMSFT commented on #97158
#re-assign: @AbbyMSFT

[2022-09-20 13:33] dsaenzgithub opened #98708 "Possible wrong WebApp OS"
Please note during WEb App creation  selected OS i Windows. Later on in the document is stated thar "you have a linux web app ready".  It only works with Linux, not Windows

regarsd

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4d4f59d4-e488-d175-361d-f7b33f6b9f6c
* Version Independent ID: 6f06d97c-c12d-1c98-6988-e2d

[2022-09-20 14:00] MicroTrendsTom opened #98709 "Google social login example does not work as shown its not compatible with the browser in the sample"
[Enter feedback here]

The Google social login does not work from desktop -  due to JavaScript errors during the process.
if you try the exact same sample you will get the error due the browser control version used and google scripts.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4fd63eb6-21cc-a68b-a514-67f12566c476

[2022-09-20 14:19] ahaverdings-deloitte opened #98711 "validate-graphql-request throws "Object reference not set to an instance of an object.""
Any mention of `<validate-graphql-request ... />` will cause API to return with the following exception:

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7f02695-5527-0ea0-4355-c6886889a127
* Version Independent ID: 2736a179-c630-89b9-95f4-c52ecd30394c
* Content: [Azure API Management policies for GraphQL APIs](

[2022-09-20 14:23] ahaverdings-deloitte opened #98712 "Can't use "/__*" as rule path"
When entering (copy pasting) the following policy as inbound rule:
[code]
The editor will show this error message: `Error in element 'validate-graphql-request' on line 4, column 10: 'path' attribute must match this pattern: '/type/field'`

Using this value `path="/__schema/*"` solves the error message but doesn't apply the rule correctly (see [other issue](https://github.com/MicrosoftDocs/azure-do

[2022-09-20 14:26] timlt commented on #98642
@anandake, thanks for running the quickstart!   The sample script is tested with Python and runs on the versions and OS's listed at start of article.  It is not tested or supported for running with the 'nohup' command which tries to run the process in the background.

[2022-09-20 14:28] ahaverdings-deloitte commented on #98711
Callstack isn't much help here...
[code]

[2022-09-20 14:41] ttgapers opened #98713 "Incorrect Image - Steps 3 - M365 vs Security group"
The Image used for Step 3 might be misleading.

https://learn.microsoft.com/en-us/azure/active-directory/privileged-identity-management/media/groups-assign-member-owner/groups-discover-groups.png

This shows the group type at **Microsoft 365** - should it not be a **Security** group instead? The same image is used in both Steps 3.

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-09-20 14:43] realolap opened #98714 "Potentially misleading statement for Bastion and VWANs"
The note on this page :
_This configuration is not supported with Virtual WAN._

In my opinion misleads users to believe that a central Bastion in a VWAN setup is not supported.
It is, but it requires that the Bastion be deployed in a vhub spoke. And in case of a secured vhub, that a more spesific hub route table excluding the 0.0.0.0 destination be associated to that spoke vnet so control plane w

[2022-09-20 14:47] lkchild commented on #95872
Hiya,

How is it going - I could really do with knowing how this works (hence looking in the instructions to begin with)

Thanks,
Lauren

[2022-09-20 15:28] xaevik opened #98717 "Verizon (Standard/Premium) Not Supported for PAYG"
The following statement is outdated:

You also cannot create Verizon (Standard or Premium) profiles with Pay-as-you-go subscriptions. We've attempted several times to do this and have had the creations rejected stating that PAYG is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d42c5cb9-7ef6-3a18-bcc4-2

[2022-09-20 15:30] expsimonsr opened #98718 "No indication that this functionality is still in Preview"
This documentation does not clearly specify that this functionality is still in Preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5d46abb2-6ad9-e86e-8808-b69ca11922d8
* Version Independent ID: c4ccd9d6-13c7-6150-6a44-241bdf9b0982
* Content: [Use number matching in multifactor authentication (MFA) notifications -

[2022-09-20 15:35] mumurug-MSFT commented on #98711
@ahaverdings-deloitte We will review both the issues and update as appropriate. Thanks for the feedback.

[2022-09-20 15:37] RamanathanChinnappan-MSFT commented on #98687
@olavt

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 15:38] kanikwork opened #98719 "Why I am getting prediction on the bases of 'alteredQuery' instead of the query which I pass"
query = paint my washroom
alteredQuery = paint my bathroom

----
LUIS response

`{'query': 'paint my washrrom', 'prediction': {'alteredQuery': 'paint my bathroom', 'topIntent': '', 'intents': {'': {'score': 0.97301316}, '': {'score': 0.026450766}, 'None': {'score': 0.0037308265}}, 'entities': {': [[']], '$instance': {'': [{'type': '', 'text': '', 'startIndex': 9, 'length': 8, 'modelTypeId': 5, 'mo

[2022-09-20 15:46] RamanathanChinnappan-MSFT commented on #98689
@notanaha

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 15:50] RamanathanChinnappan-MSFT commented on #98693
@Floriszz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 15:52] RamanathanChinnappan-MSFT commented on #98694
@ricardoedo

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 15:55] RamanathanChinnappan-MSFT commented on #98695
@MaxMelcher

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 15:56] suzizuber commented on #92928
Hi Rene,

Thank you for re-creating this diagram. I will get it uploaded to the hub and spoke article today.

Best,
Suzi
________________________________
From: Rene van den Bedem ***@***.***>
Sent: Friday, September 16, 2022 8:04 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Suzanne Zuber (Aditi Consulting) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] AVS won't beh

[2022-09-20 15:57] RamanathanChinnappan-MSFT commented on #98698
@CGijbels

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 15:58] PJMarcum opened #98723 "Typo in the "Examples" section"
This example:  "deviceTrustType	AzureAD, ServerAD, Workplace    device.deviceOwnership -eq "AzureAD"" has a typo.  "device.deviceOwnership" should be "device.deviceTrustType"

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a4070-1be8-5f1f-0092-68fb6b9e2305
* Version Independent ID: cd34312f-b507-affe-555e-1e0c63e7d4

[2022-09-20 16:01] pauljewellmsft commented on #98477
Thanks for bringing this issue to our attention! I've updated the doc to provide some more context around downloading to a file path. Changes should go live later today.

#please-close

[2022-09-20 16:02] #98477 closed

[2022-09-20 16:04] RamanathanChinnappan-MSFT commented on #98703
@WimSchmitz

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:12] RamanathanChinnappan-MSFT commented on #98706
@jsquire

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:12] jpachon87 opened #98724 "Documentacion Azure Storage"
Documentation Azure Storage
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4314a5a5-2599-b5fd-063f-a2670e4d18c5
* Version Independent ID: 39a2f096-d18c-d51a-085a-4acc2a8cb834
* Content: [Get started with Storage Explorer](https://learn.microsoft.com/en-us/azure/vs-azure-tools-storage-manage-with-storage-explorer?tabs=w

[2022-09-20 16:14] RamanathanChinnappan-MSFT commented on #98707
@ronzinms

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:17] RamanathanChinnappan-MSFT commented on #98708
@dsaenzgithub

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:19] RamanathanChinnappan-MSFT commented on #98709
@MicroTrendsTom

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:21] RamanathanChinnappan-MSFT commented on #98713
@ttgapers

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:24] RamanathanChinnappan-MSFT commented on #98714
@realolap

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:27] RamanathanChinnappan-MSFT commented on #98724
@jpachon87
It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-20 16:28] RamanathanChinnappan-MSFT commented on #98724
@jpachon87

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:31] RamanathanChinnappan-MSFT commented on #98717
@xaevik

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:31] SamirBanjanovic commented on #84717
Was there a PR submitted to address this code issue in the doc?

[2022-09-20 16:34] RamanathanChinnappan-MSFT commented on #98719
@kanikwork

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:36] RamanathanChinnappan-MSFT commented on #98723
@PJMarcum

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-20 16:43] SirRacha opened #98725 "Your JSON under "Translate documents" Python code is not formatted correctly"
[Enter feedback here]
Remove the extra "}," after the source section.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 40721433-051a-8903-34b0-c8935d6f2af9
* Version Independent ID: 1c775439-089b-57e3-d961-e70df777ea01
* Content: [Get started with Document Translation - Azure Cognitive Services](https://learn.microsoft.

[2022-09-20 16:54] sudharsonan opened #98727 "Link provided is invalid - https://github.com/MicrosoftDocs/SecurityBenchmarks/tree/master/Azure%20Offer%20Security%20Baselines/3.0/azure-vmware-solution-azure-security-benchmark-v3-latest-security-baseline.xlsx"
[Enter feedback here]

https://github.com/MicrosoftDocs/SecurityBenchmarks/tree/master/Azure%20Offer%20Security%20Baselines/3.0/azure-vmware-solution-azure-security-benchmark-v3-latest-security-baseline.xlsx

The above link is not valid anymore. Need the right link to show the mapping between AVS and ASB.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.co

[2022-09-20 17:21] deyanp opened #98728 "Resource requirements too high?"
Are the resource requirements correct:

"two vCPUs and 350 MB memory per component."

or even

"three vCPUs and 600 MB memory per component"??

If I multiply by 3 then I have to have 6 vCPUs and 1 Gb of RAM just for this?? That cannot be, my current cluster is hosting 130+ pods and consists of 4 nodes Standard_E2ads_v5, should I double it just for Azure Policy?

---
#### Document Details

⚠ *Do no

[2022-09-20 17:45] suzizuber commented on #92928
#please-close
Diagram has been updated and will publish today.

[2022-09-20 17:45] #92928 closed

[2022-09-20 17:58] jikuja commented on #98626
Checked the tooling.

AzFilesHybrid.psm1 @ [v0.2.4](https://github.com/Azure-Samples/azure-files-samples/releases/tag/v0.2.4) automatically converts too long storage account names to shorter. No documentation changes needed because of that.

[2022-09-20 17:58] #98626 closed

[2022-09-20 18:01] pauljewellmsft commented on #98225
Thanks for bringing this to our attention! I've updated the article and changes are live now.

#please-close

[2022-09-20 18:01] #98225 closed

[2022-09-20 18:02] jackhorton opened #98729 "Picture for "View and update the current runtime version" is misleading"
There is a note under the "View and update the current runtime version" heading that that section does not apply to linux, but then the screenshot clearly shows the section applying to a linux app in https://learn.microsoft.com/en-us/azure/includes/media/functions-view-update-version-portal/functions-view-runtime-version-4.png

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-09-20 18:13] 04diiguyi opened #98731 "Doc outdated"
I am using azureml-opendatasets==1.42.0

In the doc, it says

[code]
I try to pull a subset of the data and got the following error:

TypeError: get_file_dataset() got an unexpected keyword argument 'num_files'

Checked the source code, seem like this example is out of dated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-09-20 18:27] bandersmsft commented on #98548
https://github.com/MicrosoftDocs/azure-docs-pr/pull/211908

[2022-09-20 18:44] bandersmsft commented on #98548
@emilylait I've updated the article as you requested. The article will get refreshed at 3:30 PM today PDT.

[2022-09-20 18:45] bandersmsft commented on #98548
#please-close

[2022-09-20 18:45] #98548 closed

[2022-09-20 18:49] porrascarlos802018 opened #98732 "Best effort not defined on web page."
Best effort  not defined on web page.

please update the document to define what are the expectations from customer side and support site, when "best effort" sittuation has been defined.

What things can be considered best effort and what limitations do best effort apply , 6 hours invested maximum?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for le

[2022-09-20 19:24] greg-lindsay commented on #94326
The AzurePrivate rule should not have "." as the domain name. This is a typo. I am fixing it now.

[2022-09-20 19:25] abatishchev commented on #92279
@ggailey777 ping

[2022-09-20 19:27] ggailey777 commented on #92279
Thanks for the reminder!

[2022-09-20 19:30] greg-lindsay commented on #94326
#please-close

[2022-09-20 19:30] #94326 closed

[2022-09-20 19:33] greg-lindsay commented on #93495
@mikequ-taggysoft I'm not sure why your inbound endpoint didn't respond, but this is indeed the correct IP address to query.  See https://learn.microsoft.com/en-us/azure/dns/private-resolver-endpoints-rulesets for more details.

[2022-09-20 19:33] greg-lindsay commented on #93495
#please-close

[2022-09-20 19:33] #93495 closed

[2022-09-20 19:36] greg-lindsay commented on #93135
The additional instructions were added several weeks ago. See https://learn.microsoft.com/en-us/azure/dns/dns-private-resolver-get-started-portal#link-your-forwarding-ruleset-to-the-second-virtual-network

[2022-09-20 19:36] greg-lindsay commented on #93135
#please-close

[2022-09-20 19:36] #93135 closed

[2022-09-20 19:36] #92361 closed

[2022-09-20 19:37] praveenkjvs opened #98733 "Elaborate what is "Specialized OS Disk""
What do you mean by Specialized OS Disk? Can you elaborate on it?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d84bf446-324c-da0c-c099-b352849a696d
* Version Independent ID: c55004b7-c4f5-290f-d5a7-be39bf961ec7
* Content: [Create a Windows VM from a specialized VHD in the Azure portal - Azure Virtual Machines](https

[2022-09-20 19:37] #97077 closed

[2022-09-20 19:38] ecfan commented on #97077
@biterbit, a doc fix will go live after 4 PM today.

[2022-09-20 19:40] greg-lindsay commented on #93019
@I90Runner please see https://learn.microsoft.com/en-us/azure/dns/private-resolver-hybrid-dns this explains how to configure E2E resolution. This was done using a P2S connection.

[2022-09-20 19:50] greg-lindsay commented on #93019
@mikewo-dc For the AZ firewall DNS proxy, you would configure it the same way as you do with Azure VM-based DNS servers, but substitute the resolver inbound endpoint IP address for the VM's IP address.  You would point the firewall to the inbound endpoint https://learn.microsoft.com/en-us/azure/firewall/dns-settings if it currently points to a DNS VM.

As for the Azure Virtual WAN architecture, I

[2022-09-20 19:50] greg-lindsay commented on #93019
#please-close

[2022-09-20 20:00] greg-lindsay commented on #96533
Looking at this now.

[2022-09-20 20:14] SnehaGunda commented on #91623
@roalexan you are right the query doesn't run without the date conversion. I made the change in the above PR.

[2022-09-20 20:14] SnehaGunda commented on #91623
#please-close

[2022-09-20 20:14] #91623 closed

[2022-09-20 20:15] RyRyTech-Cpic opened #98735 "Extra Single Quote Mark Found"
In reviewing this document page, an extra single quote mark was found following "Break Glass".

_Emergency access accounts are highly privileged, and they are not assigned to specific individuals. Emergency access accounts are limited to emergency or "break glass"**'** scenarios_

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.

[2022-09-20 20:16] greg-lindsay commented on #74573
This statement must have been removed from the article. I don't see it.  Sorry for the long delay addressing this.

[2022-09-20 20:16] #74573 closed

[2022-09-20 20:18] SnehaGunda commented on #97637
@VitalyMCT Thanks for identifying, the above PR fixes the doc.

[2022-09-20 20:18] SnehaGunda commented on #97637
#please-close

[2022-09-20 20:21] jmagosta opened #98736 "Document reference to PAT is out of date."
Setting the access token from the workspace is done in the dropdown on the upper right under the user email address, not under the settings icon in the left pane as mentioned in the document.

See https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linki

[2022-09-20 20:29] laujan commented on #98725
Hi @SirRacha ,
The [Get started with Document Translation - Azure Cognitive Services](https://learn.microsoft.com/en-us/azure/cognitive-services/translator/document-translation/get-started-with-document-translation?tabs=csharp) Python code has been updated per your suggestion. Thank you very much!

[2022-09-20 20:29] laujan commented on #98725
#please-close

[2022-09-20 20:30] fei0x opened #98737 "Missing ClaimReferenceIds"
Shouldn't there be another column on the input and output claim attribute tables with the header ClaimReferenceId?  These same tables are on other pages, such as Conditional access and have that column. That way I'll know for sure which attribute you're talking about. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

[2022-09-20 20:32] fei0x commented on #98737
oh, i see, it's hidden/written in the other column... still a bit confusing for the list of phone numbers thought.

[2022-09-20 20:32] #98737 closed

[2022-09-20 20:40] tarockey opened #98740 "Tensorboard using Azure ML v2"
When browsing the v2 Azure ML Docs, in the Samples section, there is a page on Visualizing using Tensorboard - however at the top of the page, it then states that this functionality only works with v1. This section should probably only be available in the v1 docs in that case, or should be updated to use v2 because this creates confusion for our users.

---
#### Document Details

⚠ *Do not edit th

[2022-09-20 20:40] SirRacha commented on #98725
np! thanks for fixing

[2022-09-20 20:43] greg-lindsay commented on #91999
I need to address the scenario here to either add to the referenced article, or create a new article. PTR records are often used for validation of a client request, for example with Exchange (https://learn.microsoft.com/en-us/exchange/troubleshoot/antispam-and-protection/cannot-send-emails-to-external-recipients).  Most likely a new article would be required to describe the requirements.  If the c

[2022-09-20 20:43] greg-lindsay commented on #91999
#please-close

[2022-09-20 20:43] #91999 closed

[2022-09-20 20:48] STDSA opened #98741 "Query on 'IP network rules can't be used in the following cases'"
Hello,

Regarding [Grant access from an internet IP range](https://learn.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-access-from-an-internet-ip-range), this section states: _"Services deployed in the same region as the storage account use private Azure IP addresses for communication. Thus, you can't restrict access to specific Azure services based on t

[2022-09-20 20:57] Grace-MacJones-MSFT commented on #98227
Thanks for your patience @AlexSapple. The ACS engineering team is aware of this issue and is working on a fix that will be rolled out soon.  The reason for this error occurring is that your client's computer might have somehow got out of sync with the time server. If running on windows, please try to manually sync your client machine's time to the windows time server from their settings and retry

[2022-09-20 21:12] mumurug-MSFT commented on #98535
@Marusyk Sorry for the delay. I couldn't get a chance to review and will update you at the earliest.

[2022-09-20 21:16] brianlehr commented on #97410
#reassign @mialdrid

[2022-09-20 21:22] KarlErickson commented on #98622
@kriation can you please address this? Thanks!

[2022-09-20 21:24] ncroad commented on #98076
Hi @JananiRamesh-MSFT, @YashikaTyagi-MSFT,
Can we please get an update on this item as it is now delaying our project?
Is it possible to get even a draft response confirming the behavior prior to the official documentation being updated?
Thanks.

[2022-09-20 21:28] Marusyk commented on #98535
no longer relevant. thx

[2022-09-20 21:28] #98535 closed

[2022-09-20 21:32] cburuzie commented on #97410
#reassign: @mialdrid

[2022-09-20 21:41] mumurug-MSFT commented on #98712
This is a known issue same as #96794 and the fix will be rolled out in release 0.31.1818.0 or higher. You can look up APIM runtime version using below URL.

Current ETA is around 4 weeks to deploy subject to change based on other factors. Sorry for the inconvenience caused.

We are now proceeding to close the thread. Feel free to reach out for any further questions.

[2022-09-20 21:41] #98712 closed

[2022-09-20 21:46] snakeboard84 commented on #96384
same here, any fix?

[2022-09-20 21:48] mumurug-MSFT commented on #98711
@ahaverdings-deloitte Sorry about the Callstack. I provided info about a known issue related to validate-graphql-request in other thread #98712.

I wanted to reach out if you can share about the policy snippet for this exception. That would be very helpful to repro it and investigate further.

[2022-09-20 21:50] mumurug-MSFT commented on #98729
@jackhorton Thanks for your feedback. We will review and update as appropriate.

[2022-09-20 21:52] ahaverdings-deloitte commented on #98711
Initially it was this:
[code]
but same error comes with this:
[code]
or this
[code]
or even this:
[code]

[2022-09-20 21:56] agray0232 opened #98742 "Wrong python version (v1 tutorial)"
The python version (3.6.2) in the code snippet for the pytorch-env.yml file produces an error when running and needs to be updated to 3.6.6+ for the job to run successfully. See stackoverflow link below:

https://stackoverflow.com/questions/53300965/pytorch-exception-in-thread-valueerror-signal-number-32-out-of-range

---
#### Document Details

⚠ *Do not edit this section. It is required for learn

[2022-09-20 21:58] Norrch2 opened #98743 "Unable to map certain claim resolvers"
Hello,

According to [OAuth2 key-value parameters](https://learn.microsoft.com/en-us/azure/active-directory-b2c/claim-resolver-overview#oauth2-key-value-parameters) it indicates

However, I am unable to map the following OIDC/OAauth2 claims:
* state
* response_type
* id_token_hint

These are standard OIDC claims and per the documentation it should be supported by using the following values:
* {OAU

[2022-09-20 22:02] JamesTran-MSFT commented on #98241
@colmardev and @Sahil-13,
Thank you both for your time and patience on this issue!

When it comes to **unlinking** your B2C tenant, this should be resolved. However, it seems there's a product bug when **linking new** subscriptions to a B2C tenant.

Because this issue is affecting multiple customers and is being actively worked on by our engineering team, I'd recommend [creating a support request]

[2022-09-20 22:03] dereklangMSFT opened #98744 "Hybrid Azure AD joined device owner"
Does the 'Tip' on this page need to be updated since Hybrid devices that are co-managed do show an Owner in Azure AD?

Tip
Hybrid Azure AD joined Windows 10 or newer devices don't have an owner

https://learn.microsoft.com/en-us/azure/active-directory/devices/device-management-azure-portal

Edited: Added doc metadata

---
#### Document Details

⚠ *Do not edit this section. It is required for learn