[2019-05-13 00:46] KeiroKamioka0000 opened #31079 "Regarding Subscription"
Sorry if this was duplicated post in the past, I couldn't find the old post I've made.

Can you confirm the [Subscription] for the Limit call rate and Set usage quota is [Azure Subscription] instead of [APIM Subscription?]

Unfortunately, I've forgot where I was told, I was explained it's Actually a limit per [Azure Subscription].

Is my assumption are correct or wrong?

Related Links
Limit call r

[2019-05-13 00:48] dcbrown16 opened #31080 "Recursive link"
"Policy Reference for a full list of policy statements and their settings"
This line under Next steps links to the page we are already on. It can be removed unless it's supposed to go somewhere else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09976222-150b-6dd1-4c2a-5851b6e59383
* Version Independent ID: 61a64fb7-9

[2019-05-13 01:20] andxu commented on #17640
@arscek You may use the azure web app maven plugin to deploy the java web app, see the document at https://docs.microsoft.com/en-us/java/azure/spring-framework/deploy-spring-boot-java-app-with-maven-plugin?view=azure-java-stable

[2019-05-13 01:48] andxu commented on #29532
@ketaanhshah For production deploy, I suggest you to use azure webapp maven plugin together with service principle(a delegated account for deploying production), see the document at https://docs.microsoft.com/en-us/java/azure/spring-framework/deploy-spring-boot-java-app-with-maven-plugin?view=azure-java-stable

[2019-05-13 01:55] ToruMakabe opened #31081 "How can I restrict egress traffic?"
I have not found a way to restrict egress traffic in this doc yet. Just register AKSLockingDownEgressPreview feature and create a cluster? Or need additional operation such as UDR to define a route to Firewall? Need some parameter when I create a cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-344

[2019-05-13 02:00] Flanker32 commented on #30958
@juanren, thanks for your report. We need to run `mvn clean package` again when code changed. `azure-functions:deploy` will only  upload the compiled artifact to Azure, we need to execute `package` to recompile the codes and generated configurations and artifacts.

[2019-05-13 02:07] dcbrown16 opened #31082 "Update terms on the reference page"
The PowerShell reference doesn't have a feedback option so I'm leaving this on a related doc (I think @tfitzmac and others are involved in both).
For Get-AzLog, it makes a bunch of references to an "event log". Shouldn't that be the "activity log"? To the best of my knowledge, this command doesn't get diagnostic logs or anything other than the activity log.
https://docs.microsoft.com/en-us/powersh

[2019-05-13 02:12] genlin commented on #31011
@daspo, for the  multiple IP addresses in a NIC scenario, please [contact our support](https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade) for help.

[2019-05-13 02:48] DixitArora-MSFT commented on #31080
@dcbrown16 Thank you for your feedback! We will review and update as appropriate.

[2019-05-13 02:51] DixitArora-MSFT commented on #30958
@Flanker32 Thanks for your inputs.

[2019-05-13 03:01] oising commented on #31016
Here are my comments from the forum:

![mount_storage](https://user-images.githubusercontent.com/1844001/57593552-eba31600-7509-11e9-8de3-0ea163224589.jpg)

[2019-05-13 03:02] ajayanti1 commented on #29569
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh - I am closing the issue for now. Please tag me for any further questions.
#please-close

[2019-05-13 03:02] ajayanti1 commented on #27223
@luisgiraldo - I am closing the issue for now. Please tag me for any further questions.
#please-close

[2019-05-13 03:03] oising commented on #31016
My azure files share is created along with the storage account, and I'm _not_ using an SAS key, instead using the primary key because I read elsewhere that SAS keys are not supported - even for VMs

[2019-05-13 03:03] ajayanti1 commented on #18553
@Ashley-Walton - I am closing the issue for now. Please tag me for any further questions.
#please-close

[2019-05-13 03:03] ajayanti1 commented on #12547
@DdMad - I am closing the issue for now. Please tag me for any further questions.
#please-close

[2019-05-13 03:03] ajayanti1 commented on #12350
@kylomon - I am closing the issue for now. Please tag me for any further questions.
#please-close

[2019-05-13 03:04] ajayanti1 commented on #10466
@skille - I am closing the issue for now. Please tag me for any further questions.
#please-close

[2019-05-13 03:04] oising commented on #31016
There appears to be ZERO input validation for that path mappings section. How did this even get in there?

[2019-05-13 03:18] SadiqhAhmed-MSFT commented on #31082
@dcbrown16 Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-13 03:22] SadiqhAhmed-MSFT commented on #31081
@ToruMakabe Thanks for the question! We will check on this issue and get back to you soon.

[2019-05-13 03:27] SadiqhAhmed-MSFT commented on #31079
@KeiroKamioka0000 Thanks for the comment! We will check on this ask and get back to you with an update soon.

[2019-05-13 03:30] KetanChawda-MSFT commented on #31077
@TheSaltyKorean Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-13 03:30] SadiqhAhmed-MSFT commented on #31078
@TechTrooper Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-13 03:41] juanren commented on #30958
Thanks!
How about if I use github to deploy to azure? How I build the code? When I
use github to deploy, azure functions can automatically fetch what I update
in github, but the change still has no work to the output; how I build the
code ?

On Sun, May 12, 2019 at 7:00 PM Hanxiao Liu <notifications@github.com>
wrote:

[2019-05-13 03:43] #30722 closed

[2019-05-13 03:45] oising commented on #31016
Okay, I figured it out and the underlying functionality does work but due to another issue, remoting into the container with pwsh/wsman throws an exception from the filesytemprovider in powershell as it attempts to initialize default drives. This is undoubtedly because the network drive is not really a vanilla UNC mounted network drive. It *is* listed via `[System.IO.DriveInfo]::GetDrives()` but i

[2019-05-13 03:56] lvjianjunljj commented on #30792
@shashishailaj @MohitDhingra-MSFT Thank you guys so much for all your help.
I think I have fould the reason: there is no permission to "Windows Azure Active Directory", I have not granted permissions successfully.
![image](https://user-images.githubusercontent.com/29011275/57595064-b2a08b00-7575-11e9-8a3c-cf0398f15eb7.png)
And when I used another app with the permission to "Windows Azure Active Di

[2019-05-13 04:17] PramodValavala-MSFT commented on #30906
@sebastianburckhardt Thanks for the insights!

@tmasternak We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-13 04:17] #30906 closed

[2019-05-13 04:20] #31022 closed

[2019-05-13 04:28] #30957 closed

[2019-05-13 04:29] CHEEKATLAPRADEEP-MSFT commented on #30880
@dcbrown16 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-13 04:29] #30880 closed

[2019-05-13 04:34] PramodValavala-MSFT commented on #30970
@evertonmc My bad. Seems like I just read the part of the audio data.

@vladvino Do we support this?

[2019-05-13 04:36] YASWANTHM-MSFT commented on #30676
@TheSaltyKorean, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-13 04:36] #30676 closed

[2019-05-13 04:47] SubhashVasarapu-MSFT commented on #30956
@Shell32-Natsu, We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 04:47] #30956 closed

[2019-05-13 04:47] SumanthMarigowda-MSFT commented on #30691
@sngupt Just clarification have you referred to the suggestions mentioned in this [article](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-key-rotation-log-monitoring).

[2019-05-13 04:57] SumanthMarigowda-MSFT commented on #30694
@revanthalampally Getting Started with Azure Blob Service in [Go](https://azure.microsoft.com/en-in/resources/samples/storage-blob-go-getting-started/)

In this quickstart, you learn how to use the Go programming language to upload, download, and list block blobs in a container in Azure Blob storage. [Quickstart: Upload, download, and list blobs using Go](https://docs.microsoft.com/en-us/azure/sto

[2019-05-13 04:57] #30694 closed

[2019-05-13 05:25] Karishma-Tiwari-MSFT commented on #31016
@oising Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-13 05:26] DashleenBhandari-MSFT commented on #29600
@tony-gutierrez , Thanks for the feedback and I will share this with the product group. It will definitely help if you will be able to open the support ticket.

[2019-05-13 05:32] ChiragMishra-MSFT commented on #31064
@NextTurn Since this is the azure-docs repo, we take care of issues in the documentation restricted to the repo only. If you have any feedback on that, please provide it using the feedback section at the bottom of the doc as shown in the screenshot below :

![image](https://user-images.githubusercontent.com/43365826/57597821-8af9f480-756e-11e9-9e50-2b0cc8386e70.png)

I will now proceed to close th

[2019-05-13 05:32] DixitArora-MSFT commented on #31060
@kiranpradeep Let’s consider a scenario where you have three functions: A, B, and C. The workload across all of them is evenly distributed and the memory consumption across all of them is below the maximum available memory of the Function App (currently 1.5 GB on the consumption plan). In this case you could run all your functions in the same Function App.

Now let’s consider another scenario: Fun

[2019-05-13 05:32] ChiragMishra-MSFT commented on #31068
@NextTurn Since this is the azure-docs repo, we take care of issues in the documentation restricted to the repo only. If you have any feedback on that, please provide it using the feedback section at the bottom of the doc as shown in the screenshot below :

![image](https://user-images.githubusercontent.com/43365826/57597821-8af9f480-756e-11e9-9e50-2b0cc8386e70.png)

I will now proceed to close th

[2019-05-13 05:33] ChiragMishra-MSFT commented on #31065
@NextTurn Since this is the azure-docs repo, we take care of issues in the documentation restricted to the repo only. If you have any feedback on that, please provide it using the feedback section at the bottom of the doc as shown in the screenshot below :

![image](https://user-images.githubusercontent.com/43365826/57597821-8af9f480-756e-11e9-9e50-2b0cc8386e70.png)

I will now proceed to close th

[2019-05-13 05:36] ChiragMishra-MSFT commented on #30934
@bhupinder-p-s I will now proceed to close the issue since there has been no response. Please still feel free to comment with the doc link so that we can understand the issue better.

[2019-05-13 05:36] #30934 closed

[2019-05-13 05:37] staff0rd opened #31084 "Template no longer exists"
This article suggests a template called _Application Insights scheduled digest_ is available, however either this template is no longer available or I am having difficulty finding it.

The _scenario_ dropdown in the article includes _Monitoring_, but the Azure Portal does not have a scenario labelled that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-05-13 06:01] SubhashVasarapu-MSFT commented on #30847
@maryannlim , Appreciate your patience.Changes have been made accordingly to the document and it will take some time to get reflected over the doc.

[2019-05-13 06:01] Karishma-Tiwari-MSFT commented on #30991
@johnwildes
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-13 06:02] SubhashVasarapu-MSFT commented on #30904
@Mitchell0069 , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-13 06:02] #30904 closed

[2019-05-13 06:04] SumanthMarigowda-MSFT commented on #30882
@KeiroKamioka0000 Azure Disk Encryption is supported on the following operating systems:

We would recommend to use Memory requirement for Windows VM is 7 GB

- Windows Server versions: Windows Server 2008 R2, Windows Server 2012, Windows Server 2012 R2, Windows Server 2016, Windows Server 2012 R2 Server Core and Windows Server 2016 Server core. For Windows Server 2008 R2, you must have .NET Frame

[2019-05-13 06:05] DixitArora-MSFT commented on #31059
@kiranpradeep There is always a chance that Functions apps could land on the same node depending on the availability of resources in the data center. That is the reason for word same consumption plan.

[2019-05-13 06:05] SumanthMarigowda-MSFT commented on #30869
@KeiroKamioka0000 Azure Disk Encryption for Linux requires 7 GB of RAM on the VM to enable OS disk encryption on supported [images](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-faq#bkmk_LinuxOSSupport). Once the OS disk encryption process is complete, the VM can be configured to run with less memory.

[2019-05-13 06:11] DixitArora-MSFT commented on #31033
@cgillum Any inputs regarding this.

[2019-05-13 06:12] shashishailaj commented on #30726
@MPenny-nCipher  I have updated the document with the correct links as suggested by you and with the correct description and updated the name of the product from Thales to nCipher. I just read on your website that nCipher is merging with Entrust . I just hope they don't change the product name again :) .

We will close this issue now . In case you have any further queries , feel free to tag me or

[2019-05-13 06:12] #30726 closed

[2019-05-13 06:14] shashishailaj commented on #26730
@cyberswimmer We have fixed the documentation . We would like you to review it and we will close this issue now . In case you have any further queries or any update which needs to be incorporated in the updated article please email us on azcommunity [at] microsoft [dot] com and we will be happy to help .

[2019-05-13 06:14] #26730 closed

[2019-05-13 06:16] SubhashVasarapu-MSFT commented on #30619
@onkarsinghms , Thank you for sharing the solution.We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 06:16] #30619 closed

[2019-05-13 06:20] SubhashVasarapu-MSFT commented on #30724
@dorsborne , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
If you are looking to add existing VMSS to your backend pool then please refer this similar [issue](https://social.msdn.microsoft.com/Forums/en-US/1a0da0f1-e390-41

[2019-05-13 06:20] #30724 closed

[2019-05-13 06:27] xin-feng2 opened #31085 "Is subscribing using product deprecated?"
This topic says that you can now subscribe without using a product. But the overview topic does not mention the new method you updated by changing the consumption tier. Is is necessary to update your overview? The overview now looks misleading to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 896691fb-064a-eaf8-f71

[2019-05-13 06:30] jakaruna-MSFT commented on #30794
@burnsalpine Sorry for the delay. There is no problem with the switches or the order. The problem is that the shell which you are use is not supporting the tty.
I think you are using the command with git bash.
One solution would be using the winpty as per this [comment](https://github.com/microsoft/WSL/issues/2271#issuecomment-317006437).
Both powershell and command prompt should work well.

Simli

[2019-05-13 06:32] shashishailaj commented on #31074
@ncarandini I have updated the article and it should get updated in the next 24-48 hours. We will close this issue now. Should you have any further queries. feel free to tag me to your reply.

[2019-05-13 06:32] #31074 closed

[2019-05-13 06:35] VikasPullagura-MSFT commented on #30408
@chi-ltd We tried some basic troubleshooting on the issue you reported and you are still facing the issue. We wanted to put you in touch with a support engineer who can work directly with you for doing live troubleshooting in your environment so that the issue can be looked into for a faster resolution.

[2019-05-13 06:38] BhargaviAnnadevara-MSFT commented on #31084
@staff0rd Thanks for the question! We're investigating this and will get back to you shortly.

[2019-05-13 06:44] MPenny-nCipher commented on #30726
Thank you. Does it take some time for the changes to be reflected? I still see "Thales" and the original link in the text when opening the web page?

[2019-05-13 06:46] ManojReddy-MSFT commented on #30437
@netapp-bcammett I understand. I will follow up with the product team again and will let you know. I do not have a sample tenant to test this with and was relying on you to do the testing. Thanks for your patience on this.

[2019-05-13 07:01] kazshi opened #31086 "inter-Availability Zone VM-to-VM data transfer charges only?"
Pricing section has "There will be additional inter-Availability Zone VM-to-VM data transfer charges. ", but the following page has "Data transfer, ingress and egress, from a VNet resource deployed in an Availability Zone to another resource in different Availability Zone in the same VNET". I would like to make sure it would be charged for inter-Availability Zone VM-to-VM data transfer only, not f

[2019-05-13 07:08] dcbrown16 commented on #29047
Enabling Advanced Threat Protection is the same as using Security Center Standard on that SQL server, as described here (i.e. about $15/mo currently).
https://azure.microsoft.com/en-us/pricing/details/security-center/
It is pretty unclear that these are the same charge though, so that could be spelled out better in this document.

[2019-05-13 07:27] NextTurn commented on #31064
@ChiragMishra-MSFT I believe there is a preview in the issue description where the first line is the path to the doc, which is a clickable link.

![image](https://user-images.githubusercontent.com/45985406/57584739-63287380-7511-11e9-8753-deb2dce2632f.png)

[2019-05-13 07:27] NextTurn commented on #31068
@ChiragMishra-MSFT I believe there is a preview in the issue description where the first line is the path to the doc, which is a clickable link.

![image](https://user-images.githubusercontent.com/45985406/57584739-63287380-7511-11e9-8753-deb2dce2632f.png)

[2019-05-13 07:27] NextTurn commented on #31065
@ChiragMishra-MSFT I believe there is a preview in the issue description where the first line is the path to the doc, which is a clickable link.

![image](https://user-images.githubusercontent.com/45985406/57584739-63287380-7511-11e9-8753-deb2dce2632f.png)

[2019-05-13 07:28] ManojReddy-MSFT commented on #31072
@ericwj For MSA accounts the UPN will be in a different format (username_outlook.com#EXT#@tenantname.onmicrosoft.com) and querying with username@outlook.com will not yield the expected results.

Please use the switch -objectId instead of  the UPN or find the exact UPN by running a query like

"Get-AzureADUser -searchstring username "  (username@outlook.com) and then run the command.
let me know if

[2019-05-13 07:33] SumanthMarigowda-MSFT commented on #31006
@lenisha Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-13 07:34] SumanthMarigowda-MSFT commented on #31052
@normesta Requesting you to kindly add your comments here

[2019-05-13 07:38] ManojReddy-MSFT commented on #31078
@TechTrooper can you please confirm the value of the "Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WorkplaceJoin" registry key on the machines where you applied the Group policy ?

[2019-05-13 07:54] rwatjen commented on #30918
I know it is a variable, that wasn't what I meant. The variable ``appInsightsKeyResourceId`` is referenced, but it is not declared in the example, so it wasn't clear to me how to get to the ``secretUriWithVersion`` property.

I have figured out the solution to my problem, though.

You can get the resource ID with the `resourceId` ARM function:
[code]
For keyvault secrets, it requires the keyvault

[2019-05-13 07:56] timlod commented on #30890
Hi,
I had the same problem and fixed it by adding x-systemd.automount to the fstab line options.
This will make it wait for the network to be online before mounting the share.

[2019-05-13 07:56] ChiragMishra-MSFT commented on #30971
@tspannagel It seems you do not have the right version of "Az"  module. Please make sure you do have the right version installed. To do so, please run the below command on powershell :

`Get-InstalledModule -Name Az -AllVersions`

![image](https://user-images.githubusercontent.com/43365826/57604718-83dce180-7582-11e9-8fb1-1cb4c6eaf534.png)

If you do not have version 2.0, please upgrade your modul

[2019-05-13 07:57] timlod commented on #17765
Hello, are there any updates on this?
Supporting file system permissions is very important, and currently still not supported.
Thanks!

[2019-05-13 07:58] SadiqhAhmed-MSFT commented on #30954
@bhupinder-p-s Application consistency is supported for windows 2008 R2 SP1.

As part of documentation, It is clearly mentioned
_**Application consistent recovery points and the multi-VM consistency feature are not supported for replication of servers running Windows Server 2008 SP2.**_

App consistency issue is only applicable to windows 2008 SP2. It works on windows 2008 R2 SP1.

I see an scope

[2019-05-13 07:58] #30954 closed

[2019-05-13 08:02] ChiragMishra-MSFT commented on #31053
@swinarko I repro'd and saw the same error :

Can you please have a look ?

[2019-05-13 08:05] timlod commented on #30571
I've fixed the persistent mount problem by adding the x-systemd.automount option to the fstab line.
Command will look like this:
`//<storage-account-name>.file.core.windows.net/<share-name> <mount-point> cifs x-systemd.automount,nofail,vers=<smb-version>,credentials=/etc/smbcredentials/<storage-account-name>.cred,dir_mode=0777,file_mode=0777,serverino`

[2019-05-13 08:05] ChiragMishra-MSFT commented on #31055
@swinarko Can you please take a look at this one and update accordingly?

[2019-05-13 08:11] ChiragMishra-MSFT commented on #31065
@alkohli Can you please have a look at the broken links ?

[2019-05-13 08:12] KetanChawda-MSFT commented on #31077
@spelluru Any thoughts here?

[2019-05-13 08:12] SadiqhAhmed-MSFT commented on #30885
@marknettle We will close this issue for now. If you still need further assistance, please provide more background on your ask for better understanding and we can assist accordingly.

[2019-05-13 08:12] #30885 closed

[2019-05-13 08:15] ChiragMishra-MSFT commented on #31068
@NextTurn Can you please be little more specific ? I don't see any broken links in the doc (l[ink](https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/articles/active-directory/saas-apps/ilms-tutorial.md#L119)).

[2019-05-13 08:16] tspannagel commented on #30971
@ChiragMishra-MSFT thanks for your reply, i dont get the output of the Get-InstalledModule in the logiles?
Do i  even have to install th Az-Module in a hosted environment?
![devops](https://user-images.githubusercontent.com/3897109/57605860-e4aaf080-7567-11e9-9f19-ed7396669b67.png)
This is the log output for the task
![2019-05-13 10_15_22-Start](https://user-images.githubusercontent.com/3897109/57

[2019-05-13 08:18] ChiragMishra-MSFT commented on #30971
@tspannagel Yes you will need to install the module wherever you want to run the cmdlet.

[2019-05-13 08:18] NextTurn commented on #31068
@ChiragMishra-MSFT The issue description shows that it's in the line 119 which starts with "You have to enable..."

[2019-05-13 08:19] ChiragMishra-MSFT commented on #31064
@NextTurn Can you please be a little more specific? I don't see a broken link in the doc([link](https://github.com/MicrosoftDocs/azure-docs/blob/f6c85922b9e70bb83879e52c2aec6307c99a0cac/articles/search/search-faceted-navigation.md#L398)).

[2019-05-13 08:21] NextTurn commented on #31064
@ChiragMishra-MSFT The link text is "Designing for Faceted Search".

[2019-05-13 08:21] ChiragMishra-MSFT commented on #31068
@NextTurn Thanks for clarifying.

@jeevansd Can you please take a look ?

[2019-05-13 08:24] ChiragMishra-MSFT commented on #31064
@NextTurn Thanks for clarifying.

@HeidiSteen Can you please take a look?

[2019-05-13 08:28] jakaruna-MSFT commented on #31081
@ToruMakabe This document has the set of required and recommended rules to be opened which is needed for the AKS nodes.
We can have Azure Firewall on the VNET and add the above rules to the firewall so that the AKS nodes will have limited egress.

For creating a cluster, i think you dont need to give additional arguments apart from registering tot het preview. @iainfoulds Correct me if i am wrong.

[2019-05-13 08:29] jakaruna-MSFT commented on #31081
@ToruMakabe Also let me know if you are looking for something else

[2019-05-13 08:30] KetanChawda-MSFT commented on #30999
@ElanShudnow The Azure Function Deployment task is used to deploy Functions to Azure.

Several deployment methods are available in this task. Web Deploy (msdeploy.exe) is the default option. To change the deployment option, expand Additional Deployment Options and enable Select deployment method to choose from additional package-based deployment options.

Based on the type of Azure App Service and

[2019-05-13 08:35] #30993 closed

[2019-05-13 08:40] EstebanSmits opened #31088 "RPO in another Azure page conflicts with this page"
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-recovery-using-backups
Section "Geo-restore"
"There is a delay between when a backup is taken and when it is geo-replicated to an Azure blob in a different region. As a result, the restored database can be up to one hour behind the orignal database. The following illustration shows restore of the database from the last available back

[2019-05-13 08:45] SubhashVasarapu-MSFT commented on #30799
@ganesr , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 08:45] #30799 closed

[2019-05-13 08:49] StoyanStAtanasov opened #31089 "Can't get a clear picture how to trigger on OneDrive file with JS."
The documentation is sparse on this issue. It is quite different compared to triggering on BlobStorage. Here we have subscriptions, renewal, authentication\authorization and then hopefully triggering. Another problem is how to tie this all to the Azure Portal. I have tried to collect the pieces of information like a detective but after 2 days of work still no positive result.

---
#### Document De

[2019-05-13 08:50] ManuelMos commented on #30802
@MohitDhingra-MSFT  @shashishailaj
Sorry for the late response.
Still having the same issue:
![image](https://user-images.githubusercontent.com/21379297/57608135-ba0f6680-756c-11e9-9808-8d9d71724d37.png)

Is there any admin setting in azure to prohibit the use of ROPC flow?

[2019-05-13 08:57] angoyal-msft commented on #30536
@ajlam Thanks for the insight. @JonathanWilbur as mentioned by ajlam, the fix for this issue would be available by 17th May. So, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-13 08:57] #30536 closed

[2019-05-13 08:58] StoyanStAtanasov commented on #18614
Where is the best place to get help in the meantime while the docs get updated?

[2019-05-13 09:00] KetanChawda-MSFT commented on #30993
I have created a PR to update the doc with fix.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-13 09:01] ToruMakabe commented on #31081
@jakaruna-MSFT  Thanks. I'm catching on. Let me know two important things.

1. What kind of effects does the "AKSLockingDownEgressPreview" feature register command?

2. If I do not have to give additional arguments about this feature when I create a cluster, how can I specify on/off  of this feature to cluster?

[2019-05-13 09:04] StoyanStAtanasov commented on #31089
Related to #18614. The question is what to do (where to ask) in the meantime while the docs get updated and improved for beginners.

[2019-05-13 09:06] marcinkoperski commented on #30973
It was created 5/8/2019, 3:57:48 PM CEST . I've deleted the cluster and created again today but the problem persists.

[2019-05-13 09:08] ArttuArstila commented on #30464
Seeing the same issue. Cannot use UPN (with upper or lower case) as the claim name in new AAD experience UI, getting the same "This claim type is restricted" error. In older UI experience it is possible.

When configuring SAML SSO for enterprise apps, there is typically no possibility to affect the claim names requested by the application.

[2019-05-13 09:10] TechTrooper commented on #31078
**autoWorkplaceJoin** value is **0** with the GPO applied and "**Register domain joined computers as devices**." set to Disabled
Here's the device state **before** setting up SCP for Azure AD Hybrid Join.
![image](https://user-images.githubusercontent.com/3955313/57609495-ae756d00-7577-11e9-80fa-c8bddc94553e.png)

Here's the device state after setting up SCP for Azure AD Hybrid Join. GPO to disabl

[2019-05-13 09:16] angoyal-msft commented on #31088
@EstebanSmits Thanks for your feedback. But one is referring to the backup of SQL Database and other is referring to SQL Data warehouse. So there is difference of RPO.
I believe this confusion is clear now. Please let us know if you still have any concern.

[2019-05-13 09:43] bhupinder-p-s commented on #30954
@SadiqhAhmed-MSFT - Sorry to be not clear - The VM ( having Windows 2008 R2 along with SQL server 2008 R2 ) which failed the app consistency is not part of the replication group (multi consistency) it is a standalone VM. The Windows 2008 R2 VM without SQL Server 2008 R2 is nicely generating app consistency recovery point. So it's the issue with SQL Server 2008 R2 on Windows 2008 R2 which doesn't a

[2019-05-13 09:45] Victor-Blaga commented on #30971
Trying to install Az in an Azure Poweshell task gives off the error in the screenshot below. The two are apparently mutually exclusive.

![image](https://user-images.githubusercontent.com/38884537/57611904-23df3e80-7574-11e9-9362-c8b110892854.png)

[2019-05-13 09:47] SnehaAgrawal-MSFT commented on #31004
@johnwmcintosh Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-13 09:52] thecpshah opened #31090 "Prediction using image or web URL"
Hello,

Once the model is built, what is the best option to make predictions? Is it to use web URL or Image Path?

For example, how do I pass images stored in Azure Blob Storage to the prediction API?

Many thanks,
Chintan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 021ecbd2-8976-64a4-ca95-0009a1c02692
* Version Ind

[2019-05-13 09:56] ripom opened #31091 "No activity is captured in AI"
I am testing this new interesting feature but with no result.
I have an AKS cluster with ISTIO deployed.
I can see in the telemetry log this:
2019-05-13T09:31:18.238380Z	info	grpcAdapter	Connected to: application-insights-istio-mixer-adapter-service.istio-system:6789
2019-05-13T09:31:18.238559Z	info	ccResolverWrapper: sending new addresses to cc: [{application-insights-istio-mixer-adapter-service.

[2019-05-13 09:58] amirsc3 opened #31092 "HealthService registry settings public documentation"
With regards to this document:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/agent-windows#install-the-agent-using-setup-wizard

I suggest adding explanations about HealthService advanced registry settings which allow Retry Direct or WPAD support:

Find: HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\services\HealthService\Parameters
Name: "Http Request Direct Retry On Proxy Failure"

[2019-05-13 10:00] spaceeskimo commented on #26017
Hi. Now the Rest API is returning alternatives but only if you don't specify a custom speech endpoint using the `cid`. I was using the following URL with the cid parameter:

https://northeurope.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?language=en-US&format=Detailed&cid=ENDPOINT_ID

The results that I got returned contained just the first NBest alternative:

`
{'

[2019-05-13 10:01] kwaazaar commented on #21335
Thanks @wlodekb. But why is that not documented in the correct place (read: here!)?

[2019-05-13 10:57] #30847 closed

[2019-05-13 11:05] tspannagel commented on #30971
I now switched to a hosted VS2017 agent pool and am using AzureRM instead of Az.

[2019-05-13 11:05] #30971 closed

[2019-05-13 11:06] Mholsen opened #31094 "Step 12 error"
When creating the table in step 12, you need to tick off 'First row only'.
The accompanying picture shows 'First row only' as unticked.
That will ensure an error in step 21, as the activity won't have the property 'firstRow'.
Alternatively, the SQL code in step 21 needs to be rewritten.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-05-13 11:08] RohitMungi-MSFT commented on #31090
@thecpshah Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-13 11:13] KalyanChanumolu-MSFT commented on #31051
@tiwahu This issue is being assigned to the content author to update as appropriate.

[2019-05-13 11:15] AugerC opened #31095 "Add SCM ip restrictions programmatically"
Is there a way to automate the "Box Check" the article mentions via powershell, az cli or ARM templates?

This part only mentions the application of rules for the main site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d90bbf62-44f9-30a6-d6ea-bbf776f6efc5
* Version Independent ID: b3961eac-6c70-b345-f48c-e4c0ec67059c

[2019-05-13 11:23] CHEEKATLAPRADEEP-MSFT commented on #31094
@Mholsen Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-05-13 11:24] SadiqhAhmed-MSFT commented on #31086
@kazshi Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-13 11:25] SadiqhAhmed-MSFT commented on #31091
@ripom Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-13 11:29] SadiqhAhmed-MSFT commented on #31092
@amirsc3 Thanks for the comment! I've shared this feedback with content owner for further review and update as appropriate.

[2019-05-13 11:31] SadiqhAhmed-MSFT commented on #31089
@StoyanStAtanasov Thanks for the question! We will investigate on this issue and get back to you soon.

[2019-05-13 11:33] SadiqhAhmed-MSFT commented on #31085
@xin-feng2 Thanks for the comment! We will check on this issue and get back to you soon.

[2019-05-13 11:35] SadiqhAhmed-MSFT commented on #31095
@AugerC Thanks for the comment! We will check on this request and get back to you soon.

[2019-05-13 11:42] giwleb commented on #30851
@MarileeTurscak-MSFT

Sorry I used my other Github identity on the original post. Wasn't intended. :)

Yes

Not sure where the published version is. I'm using it locally.

With some help (thanks @roberto-mardeni) I got this working. We can close this issue. I was assuming that the quickstart would give an end-to-end demo of this process using everything in your own tenant. I guess that's not the i

[2019-05-13 11:54] brushwood24 commented on #30853
@Mike-Ubezzi-MSFT / @markjbrown  , This looks like the same method I used in my example template that generates the error:

"Throughput update is not allowed through options. Ensure to use throughput settings for updating throughput."

It works the first time the template is run but then errors out for every subsequent run.  Am I missing something?

[2019-05-13 11:55] daspo commented on #31011
I'm from support team, I'm just trying to fix or clarify this contradictory public documentation

[2019-05-13 12:20] jakobli commented on #30802
We are running into the same issue, have tried with multiple user accounts. I feel like some information is missing?

[2019-05-13 12:22] ToMakeSense opened #31096 "Azure functions actions in logic app run into unauthorization after swaping function App with its slot"
The documentation I am referencing: [logic-apps-azure-functions#add-existing-functions-to-logic-apps](https://docs.microsoft.com/en-us/azure/logic-apps/logic-apps-azure-functions#add-existing-functions-to-logic-apps)

I had a logic app which has an Azure functions action, it runs very well. **I added a slots to the function app and perform a swap**(the functions in the function app are under Funct

[2019-05-13 12:29] KetanChawda-MSFT commented on #31027
@mayurpuli As the [UserVoice thread](https://feedback.azure.com/forums/355860-azure-functions/suggestions/16711846-sql-azure-trigger-support) you mentioned in the OP says this is unplanned for now. You can track this feature request in the [Azure Functions Repo](https://github.com/Azure/azure-webjobs-sdk/issues/2195) which also talks about the same request.

You can consider Logic App to trigger w

[2019-05-13 12:29] #31027 closed

[2019-05-13 12:40] sergaz-msft commented on #30681
Assigning this issue to the content author to evaluate if the feedback provided should be documented as "by design" or help us understand if this should be acknowledged as a bug and added [here](https://github.com/Azure/iotedge/issues).

Thank you!

[2019-05-13 12:50] lightupdifire opened #31097 "Testing steps"
Hello,
Would be great to have MSI for Intune deployment, strange why not included.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00a00a3e-a0df-7ee5-4733-7231bd7a024f
* Version Independent ID: 94361683-e1e7-7e55-6993-86d3c2486a14
* Content: [Connect Windows computers to Azure Log Analytics](https://docs.microsoft.com/e

[2019-05-13 12:54] muhady commented on #31024
I have exactly the same issue. Same error when I create cluster through CLI or Azure Portal.  Here is an error I got when I use CLI:
PS Azure:\> az openshift create --resource-group $CLUSTER_NAME --name $CLUSTER_NAME -l $LOCATION --aad-client-app-id $APPID --aad-client-app-secret $SECRET --aad-tenant-id $TENANT --customer-admin-group-id $GROUPID
The resource type could not be found in the namespac

[2019-05-13 12:54] frobnitzz commented on #30331
Thanks @cmmdesai that gives me something to go on.

[2019-05-13 13:03] shashishailaj commented on #30972
@nehatiwari1994 The pricing for the security center is on the basis of the resource type which you are monitoring. The section about [discovered solutions](https://docs.microsoft.com/en-us/azure/security-center/security-center-partner-integration#discovered-solutions) points to the pricing page . the [prerequisites section](https://docs.microsoft.com/en-us/azure/security-center/security-center-par

[2019-05-13 13:03] #30972 closed

[2019-05-13 13:04] RehanSaeed opened #31099 "Please also include ARM Template Documentation"
The three new features of AKS, Pod Security Policies, Authorized IP Ranges and Multiple Node Pools could use some documentation on how to set them up using ARM templates (if or when they are supported).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 660320d4-fad5-3307-e29f-5f4cfad4b7f7
* Version Independent ID: 85ac2e8

[2019-05-13 13:07] thomasddn opened #31100 "Confusing and missing XML"
The main documentation already contains values for LinkedIn API v2.0, making the "Migration" topic almost redundant.

When following the steps outlined here, I couldn't get the LinkedIn provider to work. I always ended up with a server exception. Then I compared the Github example with the documentation here. The Github example has some additional XML. Only after I added the missing pieces, I coul

[2019-05-13 13:16] lm-bsl opened #31101 "Prerequisites"
how do you do achieve this pre-requisite:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-php-mysql#prerequisites
- Enable the following PHP extensions Laravel needs: OpenSSL, PDO-MySQL, Mbstring, Tokenizer, XML

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10b459c4-6266-6e0a-33a0-e

[2019-05-13 13:23] tfitzmac commented on #31082
@SadiqhAhmed-MSFT - this should probably be reassigned to monitor. Given that it is about PowerShell reference, do you have a way of moving this issue to that repo?

[2019-05-13 13:29] AdamWorkAccount opened #31103 "Can not run New-AddAppGroup as no HostPoolName exists"
Hi,

I have followed the previous documentation located here:  https://docs.microsoft.com/en-in/azure/virtual-desktop/create-host-pools-azure-marketplace

Made a note of my HostpoolName which is "CL-Hostpool"

But when trying to following the steps here: https://docs.microsoft.com/en-in/azure/virtual-desktop/manage-app-groups

And running "New-RdsAppGroup adamwilkinsonstreetsheaver CL-Hostpool Tes

[2019-05-13 13:38] Dmitresky opened #31104 "Add alternative questions from source file"
Is any way to add alternative questions via source file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77ea12d-96c2-8adf-8f7d-40f87578f403
* Version Independent ID: b0c2b367-ebac-3f1e-f3ec-6273f700c0e2
* Content: [Data sources supported - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/co

[2019-05-13 13:44] shashishailaj commented on #31100
@thomasddn Thank you for your feedback . We will investigate this and update the thread.

[2019-05-13 13:57] shashishailaj commented on #30834
@KevP I checked it and what I have mentioned above is the correct . You cannot change passwords for objects synced from Azure AD . The sync is unidirectional in nature which means Azure AD ->> Azure AD Domain services sync is possible but reverse is not . As per the [synchronization section](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/active-directory-ds-synchronization

[2019-05-13 13:57] #30834 closed

[2019-05-13 14:00] KetanChawda-MSFT commented on #31089
@craigshoemaker I believe you have an open work item for this request as mentione in the refrenced issue [#18614](https://github.com/MicrosoftDocs/azure-docs/issues/18614). Can you please share any ETA on the doc update?

[2019-05-13 14:00] ripom commented on #31091
In the TRACE log of application-insights-istio-mixer-adapter I have this log.
What does it means SKIPPED?

2019/05/13 13:57:16.086|TRACE|source: myapp-v1-669d45bcf8-jrgsg.location, destination: unknown.unknown, reporter: kubernetes://myapp-669d45bcf8-jrgsg.location, kind: outbound
2019/05/13 13:57:16.086|TRACE|SKIPPED

[2019-05-13 14:02] KetanChawda-MSFT commented on #31089
@StoyanStAtanasov Have you reviewed Azure Logic Apps to trigger on One Drive File ?

https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-onedriveforbusiness
https://docs.microsoft.com/en-us/azure/connectors/connectors-create-api-onedrive

[2019-05-13 14:02] shashishailaj commented on #30812
@0acff4be45 I am not able to find similar results in my lab as you mentioned .This may need deeper troubleshooting in order to find the reason . I request you to email us at **_azcommunity[at]microsoft[dot]com_** along with your **Azure Subscription ID** & this github Issue link and we will find alternative options to help you with this issue. We will close this issue as of now and request you to

[2019-05-13 14:02] #30812 closed

[2019-05-13 14:03] emeria opened #31105 "Storage Blob Data Contributor permissions was not enough."
"When performing the steps in the Assign the application to a role section of the article, make sure to assign the Storage Blob Data Contributor role to the service principal."

I ended up following a few different links on getting the Service Principal Object-ID instead of the App Registration object-Id, which I then used to give permissions directly to the blob container, using "Manage Access" i

[2019-05-13 14:03] KetanChawda-MSFT commented on #31001
@mydiemho have you reviewed the link provided by mike in the last post?

[2019-05-13 14:18] femsulu commented on #30987
@dduensch a PR has been successfully initiated to resolve this issue. The fix will be live in a few hours.
Thanks again for catching this. We will now close this issue.

[2019-05-13 14:18] #30987 closed

[2019-05-13 14:20] sergaz-msft commented on #31040
@nageswarysv see here how to generate Shared Access Signatures for a device: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-security#security-tokens

You can't get it from the Portal, therefore you need to generate them using the piece of Python code on the document above.

Let us know if you were successful?
Thanks!

[2019-05-13 14:22] sergaz-msft commented on #31044
Hello @myaesubi can you let us know the link of the documentation you are following? Thanks!

[2019-05-13 14:32] myaesubi commented on #31044
Hello @sergaz-msft ,
Here is the link as I specified before:
https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-devkit?WT.mc_id=-blog-scottha

I did multiple round of test with different Wifi(s) and using the latest firmware, all was same result.

Thanks,
Mohammad

[2019-05-13 14:40] SadiqhAhmed-MSFT commented on #31101
@lm-bsl Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-13 14:44] SadiqhAhmed-MSFT commented on #31097
@lightupdifire Thanks for the feedback. We have assigned this request to the content owner to review and update as appropriate.

@MGoedtel Could you please share your thought on the above query?

[2019-05-13 14:47] femsulu commented on #30990
@CeciAc, this has been fixed in the [US English version](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/query-language) of the doc. [Here's ](https://docs.microsoft.com/ja-jp/azure/azure-monitor/log-query/splunk-cheatsheet) the Japanese version of the link for Splunk cheatsheet. Not sure if requires a manual update by the localization team or if correcting the Engligh version autom

[2019-05-13 14:47] #30990 closed

[2019-05-13 14:52] SadiqhAhmed-MSFT commented on #31105
@emeria Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-13 14:54] SadiqhAhmed-MSFT commented on #31104
@Dmitresky Thanks for the comment! We will check on this request and get back to you soon.

[2019-05-13 14:56] SadiqhAhmed-MSFT commented on #31099
@RehanSaeed Thanks for the feedback! We will check on this request and get back to you soon.

[2019-05-13 15:05] HeidiSteen commented on #31064
@NextTurn -- It looks like they retired the article and redirected to their home page.  I'm getting rid of the link altogether.  The second one is still valid though.

[2019-05-13 15:08] sauryadas commented on #30973
thanks .. can you please file an issue here https://github.com/Azure/AKS/issues

[2019-05-13 15:08] HeidiSteen commented on #31064
Actually, I found another article on that site that isn't quite so dated.  I'll use that one instead.

[2019-05-13 15:08] NextTurn commented on #31064
@HeidiSteen What's the second one? There are two identical links.

[2019-05-13 15:09] femsulu commented on #30719
@ToMakeSense [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/log-faq#q-why-cant-i-see-query-explorer-and-save-buttons-in-the-new-logs-experience)may help answer your question.
![image](https://user-images.githubusercontent.com/34327711/57632418-790c5780-7556-11e9-8106-d7e97dfc2e25.png)

[2019-05-13 15:10] femsulu commented on #30719
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 15:10] #30719 closed

[2019-05-13 15:12] HeidiSteen commented on #31064
Part1 and Part2
https://articles.uie.com/faceted_search2/
https://articles.uie.com/faceted_search2part2/

[2019-05-13 15:13] PramodValavala-MSFT commented on #31096
@ToMakeSense Thanks for the question! We will investigate and get back to you.

[2019-05-13 15:13] HeidiSteen commented on #31064
And keeping this one:  https://alistapart.com/article/design-patterns-faceted-navigation/

[2019-05-13 15:16] NextTurn commented on #31064
BTW the first two lines of the **Link references** are unused. The links are present in the **Learn more** section.

[2019-05-13 15:20] chakkaseshu opened #31107 "Enabling Vnet broke continuous export"
Hi Team ,

As part of network hardening on storage we enabled Vnet and it broke continues export , Can you please suggest us how to fix this issue ?

Thanks!
Seshu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2632af75-7664-b79b-ac5b-c7c17e6a609a
* Version Independent ID: 6ecf71b6-77c4-3ab6-8ec9-353ea407d70f
* Content

[2019-05-13 15:26] HeidiSteen commented on #31064
I'm not following.  There are 3 links in "Learn more": a channel9 demo, the UIE.com article, and the Alistapart.com article.  Only the UIE.com article is broken.  I'm going to replace it with the Part 1 article by Daniel Tunkelang (also on UIE.com, but different from the Stephanie Lemiuex article that was the target of the original link)

[2019-05-13 15:30] DCtheGeek commented on #31030
@mpchen Thanks for the question! I don't seem to get values back from that particular alias, so it may have an issue.  However, the same alias a step higher seems to return values for me: `Microsoft.Network/networkSecurityGroups/securityRules[*].destinationPortRanges[*]`. Using an Azure Resource Graph query, I see values such as this:

`["3389-3390","5985-5986","22","23","1433","445","135"]`

You

[2019-05-13 15:34] msangapu-msft commented on #31045
This PR will address this issue: https://github.com/MicrosoftDocs/azure-docs/pull/31032

[2019-05-13 15:37] femsulu commented on #30729
@ToMakeSense To get all available columns, you an use search * as detailed [here](https://docs.microsoft.com/en-us/azure/azure-monitor/log-query/search-queries#use-wild-cards).

![image](https://user-images.githubusercontent.com/34327711/57634548-609e3c00-755a-11e9-8196-9cd5373e09eb.png)

[2019-05-13 15:38] femsulu commented on #30729
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 15:38] #30729 closed

[2019-05-13 15:41] ericwj commented on #31072
First problem is that although I have Visual Studio installed with the Azure Development workload, these AzureAD commands just aren't there. I also had to go get the CLI manually - even starting a `Microsoft Azure Command Prompt - v2.9` didn't work.

But copying the Object Id from the Azure Portal worked - the UPN isn't shown anywhere afaik.

Thanks!

On a sidenote I found the CLI version of this

[2019-05-13 15:42] nageswarysv commented on #31040
@sergaz-msft
I have run the Python code but the following error is returned "Unicode-objects must be encoded before hashing". Line numbers in this error points to a hmac module. I am using Python 3.7.1.
Does Azure suggest any specific version of Python for this purpose?
Thanks,
Nagesh

[2019-05-13 15:44] Mike-Ubezzi-MSFT commented on #30853
@brushwood24 Thank you for this additional detail. I am reaching out to the PG to get an answer. If you have any additional details (full error exception with GUIDs) that would be helpful if there is nothing obvious that might stand out.

[2019-05-13 15:52] TiloGit commented on #30296
to clarify the NSG rules doens't get overwritten but the LB rule.
It seem in the meantime (until next overwrite) the software we uses works fine querying the GC like that.

Can we request to add the GC port to the LB automatic rules?

[2019-05-13 15:53] JasonWHowell commented on #30981
@PVikash Please let us know if installing az ps helped. Thanks, Jason

[2019-05-13 15:57] KAndersch commented on #22652
I'm still finding this documentation to be out of date. The function will not compile/run as is without modifications. Also, it seems the user interface on the Event Grid changed where there isn't a dedicated EG page but EG topics and domains.

[2019-05-13 16:01] femsulu commented on #30735
@okanaslaner Advisor currently takes into account CPU and network to make recommendations to right-size virtual machines. Memory is not supported today. However, this is on the roadmap. If you want to provide additional feedback on this, feel free to vote on it or add new ideas at aka.ms/advisorfeedback.

The rationale to choose DS13_v2 over another size depends on the workload you plan to run. Fo

[2019-05-13 16:02] #30735 closed

[2019-05-13 16:04] DCtheGeek commented on #31029
@mpchen Thanks for the question! There are two general ways to approach this scenario:
- Have a scheduled Azure Function that does a query for remediations (and likely their deployments) using the [REST API](https://docs.microsoft.com/rest/api/policy-insights/remediations/listformanagementgroup) and when it finds events you want to act on, run some code from inside the Azure Function.
- Configure

[2019-05-13 16:06] danimir commented on #30621
This information is now published on how-to pages: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-delete-virtual-cluster

[2019-05-13 16:10] rrperkin opened #31110 ""New Experience" doesn't resemble these instructions"
They've gone and moved everything around again. The instructions  for "Create an Azure AD app" do not resemble what you see in the portal any longer for "App registrations".

Further in... the result is a workflow into the Azure AD login, complete with permissions requests to federate the account, but, there are errors about the "redirect URI" being incorrect.

---
#### Document Details

⚠ *Do not

[2019-05-13 16:11] muhady opened #31111 "The resource type could not be found in the namespace 'Microsoft.ContainerService' for api version '2019-04-30'."
Hi,
when I tried to create Azure Red Hat OpenShift cluster I got an error:
**The resource type could not be found in the namespace 'Microsoft.ContainerService' for api version '2019-04-30'.**

I was following steps that were described here https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-prerequisites and here https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-

[2019-05-13 16:11] samiam236 opened #31112 "Minor typo"
There's a sentence in this document that reads "Mocking libraries do exist libraries that provide this functionality."

I'm assuming this should be updated to be more like "Mocking libraries do exist that provide this functionality." But maybe even better would be simply remove the sentence and start the next one with "One such library is..."

---
#### Document Details

⚠ *Do not edit this section

[2019-05-13 16:17] femsulu commented on #30739
@qianw211 , @v-miclar can you confirm the MOCK api endpoint referenced in the doc  is correct?

[2019-05-13 16:18] zr-msft commented on #30251
@tdihp Thank you for your feedback. I have incorporated your suggestion into a PR and the changes should be available soon.

cc @jakaruna-MSFT

#please-close

[2019-05-13 16:20] YutongTie-MSFT commented on #30767
@anilvem1
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 16:20] #30767 closed

[2019-05-13 16:20] msangapu-msft commented on #31045
#31032 has been merged.

#please-close

[2019-05-13 16:21] msangapu-msft commented on #9684
#please-close

[2019-05-13 16:22] MicahMcKittrick-MSFT commented on #31112
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-13 16:24] msangapu-msft commented on #26454
Hi team, there has been no activity on this thread for the past six weeks. I will proceed to close this issue today. @patricklee2 thank you for your help!

[2019-05-13 16:24] msangapu-msft commented on #26454
#please-close

[2019-05-13 16:25] spelluru commented on #14917
@wcom939

I have updated this article. #please-close

[2019-05-13 16:25] msangapu-msft commented on #30364
Hi team, the sample is correct. It should be host:container. I'm not aware of any changes to the platform. Let me test and get back to you.

[2019-05-13 16:35] MicahMcKittrick-MSFT commented on #30973
Thanks @sauryadas

@marcinkoperski I will close this issue but please post on the AKS github repo and share the link with us so we can continue.

[2019-05-13 16:35] #30973 closed

[2019-05-13 16:38] PumpkinClarinnet commented on #23164
Hello @cynthn, can we have any update on this matter?
The only public information we have regarding this is from 2016:
https://azure.microsoft.com/es-es/blog/resize-virtual-machines/

It would be good to update this information to share it.

Thanks in advance :)

[2019-05-13 16:38] femsulu commented on #30852
@johncrim thanks again for your update. The doc author @anirudhcavale  is currently oof but I've noted this case and will take this offline with Anirud for further review upon his return.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 16:38] #30852 closed

[2019-05-13 16:39] YutongTie-MSFT commented on #31047
@orbtl Hi, I have created a PR for this issue, it should be alive shortly if it is verified by the author. Thank you for the feedback again.

[2019-05-13 16:39] YutongTie-MSFT commented on #30978
@DhawalCCI We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 16:39] #30978 closed

[2019-05-13 16:43] BryanTrach-MSFT commented on #31012
@elenay93 Thank you for raising this up. Since this would require a larger doc rewrite if approved, we have assigned it to the doc author.

[2019-05-13 16:43] tamram commented on #21602
@lorenzobrito - Yes, we are working on updating the document, thanks for your feedback.

[2019-05-13 16:44] CeciAc opened #31114 "404 link"
@kinoshitahiroyuki commented on [Sat May 11 2019](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/2521)

左上の「Durable Functionsのドキュメント」がリンク切れしています。
URLを確認したところローカライズの部分が2重になっているようです。
https://docs.microsoft.com/ja-jp/ja-jp/azure/azure-functions/durable/durable-functions-overview

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b934ad1d-aabb-707d

[2019-05-13 16:49] ajlam commented on #28990
@t106362512 - I am closing the issue for now. Please re-open if you run into this issue again.

#please-close

[2019-05-13 16:52] Mike-Ubezzi-MSFT commented on #28990
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-13 16:52] #28990 closed

[2019-05-13 16:53] femsulu commented on #30907
@qianw211 any input on the above comment?

[2019-05-13 16:53] MicahMcKittrick-MSFT commented on #31112
@samiam236 thanks for this find! I removed that sentence as it was confusing and didn't add much value. Once the PR merges the changes will go live after a few hours.

Thanks again!

[2019-05-13 16:53] #31112 closed

[2019-05-13 16:54] YutongTie-MSFT commented on #31047
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 16:54] #31047 closed

[2019-05-13 16:56] Adam-Smith-MSFT commented on #31111
@muhady Thank you for the valuable feedback,we are investigating the issue.

[2019-05-13 16:59] MicahMcKittrick-MSFT commented on #31049
@Darko-git I am not seeing the issue in the doc. You are able to use an Internal Load balancer instead of a Standard one. Can you elaborate on what you believe the issue is?

[2019-05-13 16:59] YutongTie-MSFT commented on #31013
@asadikhan Thank you for your information.

[2019-05-13 17:00] femsulu commented on #30915
@genlin Do we have a list of supportted countries published anywhere?

[2019-05-13 17:02] dlepow commented on #31016
@oising - Oisin, thanks for your feedback. Just to confirm: for your scenario you'd like documentation/improved experience for adding a file share to a Windows container deployed using *App Services*? The document you commented on is for the Azure Container Instances services, which currently doesn't support file shares on Windows containers.  @Karishma-Tiwari-MSFT, since the issue looks to be abo

[2019-05-13 17:03] #31029 closed

[2019-05-13 17:04] CeciAc commented on #31114
Hi team,
I'm moving this here since the error reported by the user is also present in the en-us page
![imagen](https://user-images.githubusercontent.com/26746247/57640123-fb613f80-7587-11e9-94e0-248982a24bd1.png)

[2019-05-13 17:08] BryanTrach-MSFT commented on #31035
@aszalacinski My understanding is Azure B2C and and Azure AAD v2 are not necessarily related. Azure AAD v2 support has still not been added.

In regards to Azure B2C and Azure Functions, this [3rd party blog covers the implementation](https://codemilltech.com/adding-azure-ad-b2c-authentication-to-azure-functions/). Please let us know if there are any concerns.

We will now proceed to close this th

[2019-05-13 17:08] #31035 closed

[2019-05-13 17:11] MicahMcKittrick-MSFT commented on #31048
@Darko-git can you elaborate more on your feedback? What issue are you seeing? What errors? What Behavior are you seeing?

[2019-05-13 17:11] MartinJaffer-MSFT commented on #30738
@Anmolgan81 since you have not replied to this thread for several days, I will tentatively close the issue.

[2019-05-13 17:11] #31030 closed

[2019-05-13 17:13] mydiemho opened #31117 "Code examples other than C#"
Can you also provide the function code in Java, Python, and Javascript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f713e2b2-710e-8036-c4d7-8910927525e3
* Version Independent ID: bee3baa6-df72-aea1-9b0b-42f574b4745e
* Content: [Create an OpenAPI definition for a function with Azure API Management](https://docs.micro

[2019-05-13 17:14] BryanTrach-MSFT commented on #30235
@fhurta WebJobs do support MSI so the behavior you described would be unexpected. Have you tried troubleshooting by using MSI_ENDPOINT and MST_SECRET envs and seeing if those are available?

[2019-05-13 17:14] MashaMSFT commented on #30695
Hi @dcallagh and @MicahMcKittrick-MSFT , thanks for bringing this to our attention :) Let me look into this a bit further. Thanks!

[2019-05-13 17:15] MisinformedDNA opened #31118 "Dependencies are set up in constructors, not Functions"
This may be obvious to some, but to those who rely heavily on templates, or have used so many workarounds as to confuse ones self, remember that dependencies are listed/added in the constructor, not the function. For example, to use `IConfiguration` you would use

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5

[2019-05-13 17:18] ggailey777 commented on #31114
This seems related to a recent change in the way that the TOC is rendered.
\+ @shirgoldbird for awareness.

[2019-05-13 17:20] SumanthMarigowda-MSFT commented on #30846
@sampath2121 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-13 17:20] Darko-git commented on #31049
The issue is that the primary node has to be behind the public load balancer as well, if you are using Standard SKU.
The issue was described here a while ago, it took me a while to find the solution, because this is not covered in your documentation.
https://github.com/MarekLani/AzureServiceFabricWithLoadBalancerStandard

[2019-05-13 17:22] gbaeke commented on #31081
I still do not get the purpose of this document. We can deploy AKS in a VNET and enable Azure Firewall just fine without the registered feature. It's great that there is a list of ports and URLs to allow because that was missing in the past.

But the question remains: what does the registered feature do exactly?

[2019-05-13 17:23] SumanthMarigowda-MSFT commented on #30677
@TheSaltyKorean Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-13 17:28] Karishma-Tiwari-MSFT commented on #30769
@Heidilohr @ChristianMontoya Can either of you please confirm on this and whether we should have this information added in this document: https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/Getting-started-with-Windows-Virtual-Desktop/ba-p/391054
Thanks :)

[2019-05-13 17:30] Darko-git commented on #31048
Basically, if using an internal standard load balancer, you have to attach the nodes behind it to a public one as well.
Here are the steps I used:
- create cluster through portal, get template
- modify template so all nodes but one are behind internal balancers
- learn about limitations, change LB/IP SKU to Standard

The issue was described here a while ago, it took me a while to find this solutio

[2019-05-13 17:35] orspod commented on #31046
@michaeldaw, thanks very much for your feedback.  COGS is "cost of goods sold". The term doesn't add to the understanding of the text. I will remove it.

[2019-05-13 17:37] Anmolgan81 commented on #30738
Hi,

I added a aad group into my aas model, and then try to access the analysis services, and my users can connect to aas and access the models, but when they try to login to the aas database they cannot see any database there, is that by design? Or a bug?

Regards
Anmol Ganju

________________________________
From: MartinJaffer-MSFT <notifications@github.com>
Sent: Monday, May 13, 2019 10:41:40 P

[2019-05-13 17:38] Anmolgan81 commented on #30738
Also I want to understand how can I restrict a particular role for a limited number of tables, I tried to do that using ssdt but I got an error and am not sure that is something related to an issue.

Regards
Anmol Ganju

________________________________
From: MartinJaffer-MSFT <notifications@github.com>
Sent: Monday, May 13, 2019 10:41:40 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Su

[2019-05-13 17:43] ChristianMontoya commented on #30769
No, these do not need to be the same user. You must login to Azure with an account that can create resources, but then you provide the credentials for the Windows Virtual Desktop user (or service principal) that you assigned.

[2019-05-13 17:46] SaurabhSharma-MSFT commented on #30464
@todayppp As per the product team this is expected as Azure AD does have some restricted claims and you cannot directly add these claims in the claims configuration. You can see the complete list of restricted claims from [here ](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping).  This is why the UI is showing the error when you are adding the restric

[2019-05-13 17:48] erhopf commented on #30899
@rajatvijay - We've confirmed this is a bug and the team is working on it right now. Thank you for identifying this issue.

@RohitMungi-MSFT - I'll keep an eye on this, but please reassign to @ArcherAZ.

[2019-05-13 17:50] MicahMcKittrick-MSFT commented on #31048
@Darko-git thanks. I will assign to @aljo-microsoft to take a look further.

[2019-05-13 17:50] MicahMcKittrick-MSFT commented on #31049
@Darko-git thanks. I will assign to @aljo-microsoft to take a look further.

[2019-05-13 17:51] jwargo commented on #30859
@andrewchungxam As we said in the article, you shouldn't have to make any changes to existing apps for this to work. For questions two and three, this depends, I think, on what features you're trying to use in your app. Upgrading the device OS **shouldn't** break anything, but there's no guarantee. I think for question 3 it matters if you want to use newer features, like FCM features, that would m

[2019-05-13 17:58] cap273 commented on #30923
Apparently this transformation is *not* yet possible: https://social.msdn.microsoft.com/Forums/en-US/165bfa64-d4a9-419a-80b8-25903a7d4fea/claims-issued-in-the-saml-token-find-and-replace?forum=WindowsAzureAD

[2019-05-13 18:01] MicahMcKittrick-MSFT commented on #31111
@muhady I see you are an FTE, are you running the doc against your internal MSFT subscription or personal one? I know there have been some issues for FTEs when integrating with MSFT AAD as we are not the tenant admins. In many cases, if I try a doc against my Visual studio Personal Subscription it works.

[2019-05-13 18:10] Darko-git commented on #31048
Note that the deployment succeeds and cluster appears to be created but is in permanent "Waiting for nodes" state (because internal Standard LB blocks all outgoing connections and service fabric bits are never downloaded to VMs).

[2019-05-13 18:11] mrkarMSFT commented on #30964
RootManageSharedAccessKey is like a master key. You can control the entire namespace with this key like managing the hubs inside it. Hub level scope only lets you manage that resource alone. If you are an admin then you can hold onto the RootManageSharedAccessKey. If you have developers working for you and developing different modules, you can decide to share a hub level key with send or listen ac

[2019-05-13 18:11] shirgoldbird commented on #31114
This is fixed by https://github.com/MicrosoftDocs/azure-docs/pull/31120. TOC nodes previously did not need to have hrefs associated with them (which caused accessibility issues) and now they do.

[2019-05-13 18:17] ctcanham opened #31122 "@d-mariano - We just updated the table with a new column that contains human readable service plan names (Service plans included (friendly names))."
@d-mariano - We just updated the table with a new column that contains human readable service plan names (Service plans included (friendly names)).

_Originally posted by @ajayanti1 in https://github.com/MicrosoftDocs/azure-docs/issues/17439#issuecomment-481929802_

Please provide a sample of accessing the friendly name using Get-MsolAccountSku

[2019-05-13 18:20] swinarko commented on #31061
Thanks for alerting us, we'll fix this issue on ADF App to ensure that when switching the authentication method for SQL DB/MI, test connection will be applied to SSISDB.

[2019-05-13 18:20] MicahMcKittrick-MSFT commented on #31073
@mguglani thanks for the update.

[2019-05-13 18:22] MicahMcKittrick-MSFT commented on #31122
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-13 18:23] navzam opened #31124 "Functions/Flow doc: Function API definition not supported in v2"
Same issue as https://github.com/MicrosoftDocs/azure-docs/issues/29616 but for the Flow doc rather than the PowerApps doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e9220b-e2f7-071d-ae97-fd4e958745d7
* Version Independent ID: e6cc1cc9-4e05-6750-ac75-be661e631b78
* Content: [Call an Azure function from Microsoft

[2019-05-13 18:26] MicrosoftGuyJFlo commented on #30637
@jay98014 Thoughts on this feedback?

[2019-05-13 18:27] YutongTie-MSFT commented on #30931
@Rich-Lang I have created a PR to fix it #76545 , you should see the changes shortly. Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 18:27] #30931 closed

[2019-05-13 18:30] TiLegend opened #31125 "AADSTS700016 Sorry, but we’re having trouble signing you in."
Hi I am trying to sign in by fhir SMART launch app, but it return this error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568860e6-9e61-5bad-05d3-db6a0163f81e
* Version Independent ID: 0956f0b4-168c-d1ed-1d59-9b00d114620b
* Content: [Azure API for FHIR SMART on FHIR proxy](https://docs.microsoft.com/en-us/azure/healt

[2019-05-13 18:33] basma-msft commented on #30907
Hi,

The operation statuses can be one of these:

        NotStarted,
        InProgress,
        Succeeded,
        Failed,
        Conflict

Actionable statuses are Succeeded and Failed in a webhook notification. An operation's lifecycle is from NotStarted to a terminal state like Succeeded/Failed/Conflict. If you receive Not started or in progress, continue to poll the GET operations until the

[2019-05-13 18:36] zr-msft commented on #29334
@yroymsft Thank you for your feedback. I have incorporated your suggestion into a PR and the changes should be available soon.

cc @kobulloc-MSFT

#please-close

[2019-05-13 18:36] SaurabhSharma-MSFT commented on #30923
@cap273 Thanks for posting your answer.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-13 18:36] #30923 closed

[2019-05-13 18:39] swinarko commented on #31053
As documented, regardless whether you use Azure PowerShell Az/AzureRM module, you also need to first install Azure AD PowerShell module (step 1) and then sign in using Connect-AzureAD (step 2), before running New-AzureADGroup.

[2019-05-13 18:40] oising commented on #31016
@dlepow I assure you it *does* support it, as I have it working and will post the screenshots to prove it. I think this may be a case of the left hand is implementing what the right hand doesn't document (or something, lol.) -- the UX is severaly primitive but I'll post some screenshots to prove it.

- I have a storage v2 account created
- In files section, I have created a Azure Files "share"
- I

[2019-05-13 18:43] oising commented on #31016
For what it's worth, you should ping whomever is responsible for the powershell experience and Azure Files / App Service Mount

[2019-05-13 18:46] swinarko commented on #31055
Thanks for alerting us on these outdated names, we'll fix our doc soon.  For your reference:
The old SERVICE IDENTITY ID = The new Managed Identity Object ID
The old SERVICE IDENTITY APPLICATION ID = The new Managed Identity Application ID

[2019-05-13 18:48] clmccart commented on #30960
Great, thank you. I really just need to know what fields to include in the deployconfig.json. I am unable to find an example anywhere and there is no way to write out a WebServiceConfiguration object to a json file so that it can be passed through the CLI

[2019-05-13 18:55] lgayhardt commented on #31091
@rishabjolly

[2019-05-13 19:03] rishabjolly commented on #31091
Thanks for reaching out @ripom.
I'll setup a troubleshooting call for us. What's a good a alias to reach out to you?

[2019-05-13 19:08] YutongTie-MSFT commented on #30938
@jpe316 Hi Jordan, please take a look of this issue. It seems we use Model.deploy() for all example, which is the latest version?

And I don't find any difference between the definition of deploy() and deploy_from_model(), is there anything wrong? Please see following document:

https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model.model?view=azure-ml-py#deploy-workspace--nam

[2019-05-13 19:08] RyanHill-MSFT commented on #31101
@lm-bsl you can achieve the prerequisites by using tools such as [composer](https://getcomposer.org) or virtual machine though [homestead](https://laravel.com/docs/5.8/homestead).  See Laravel docs [here](https://laravel.com/docs/5.8)

[2019-05-13 19:08] #31101 closed

[2019-05-13 19:11] ripom commented on #31091
Hi @rishabjolly
You can connect with me using riccardo.pomato@maersk.com.
SFB or MS Teams call is fine, please send me an invitation.
Consider I am based in UK.
Thanks

[2019-05-13 19:12] colbytimmsl opened #31126 "Multi-turn conversations don't work in the bot emulator and Teams"
If I test the multi-turn conversations in QnA Maker, I'm able to return prompts, however when I try to test this in Teams or the bot emulator, the prompts don't show. Do you know when prompts from QnA will be supported in the emulator and on Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38f6b983-0c19-6439-78df-

[2019-05-13 19:12] SaurabhSharma-MSFT commented on #31110
@rrperkin Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-13 19:13] yugandh commented on #10584
Has any one used below firebase microsoft azure authentication and making microsoft graph api calls?

https://firebase.google.com/docs/auth/ios/microsoft-oauth

[2019-05-13 19:15] YutongTie-MSFT commented on #30942
@tarockey Thank you for your feedback, I have created a PR for it and changes should be alive soon. #76564

[2019-05-13 19:17] YutongTie-MSFT commented on #31017
@chazwoza
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 19:17] #31017 closed

[2019-05-13 19:19] femsulu commented on #30907
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-13 19:19] #30907 closed

[2019-05-13 19:21] YutongTie-MSFT commented on #30942
@tarockey Hi, it is merged. You should see the change. Thank you .
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 19:21] #30942 closed

[2019-05-13 19:22] DaddyBell opened #31128 "Port check website doesnt display a check against ports 443 or 80 (its still the ports for older versions of the proxy)"
"Open a browser and go to the following web page: https://aadap-portcheck.connectorporttest.msappproxy.net , and verify that the connectivity to Central US and East US datacenters with ports 80 and 443 is working"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29476a19-fc48-64f9-af0b-4a548e6ad550
* Version Independent

[2019-05-13 19:24] dlepow commented on #31016
@oising - No problem, and again thanks for the details here. We'll get this assigned to the right place.

[2019-05-13 19:28] YutongTie-MSFT commented on #30963
@RohitMungi-MSFT Hi Rohit, could you please try to "sign-off" the PR? I think it should be good to sign-off.

[2019-05-13 19:30] ToddChitt opened #31130 "Slight error, looking for guidance on who to ask"
Hello. I have used this layout several times over for several clients. It works great. I made a slight tweak to it in that the stored procedure that does the MERGE operation also updates the Watermark value with code similar to this at the end of the MERGE:

DECLARE @WatermarkValue INT = (SELECT MAX(WatermarkColumnName) FROM @InputTable);
DECLARE @LatestSyncRowCount INT = (SELECT COUNT(*) FROM @In

[2019-05-13 19:31] AjayKumar-MSFT commented on #30859
@andrewchungxam, Adding to John's response above, since this channel is reserved for documentation questions, we recommend posting technical questions on the [technical forum](https://social.msdn.microsoft.com/forums/azure/en-us/home?forum=notificationhubs&filter=alltypes&sort=firstpostdesc) where one of our specialized engineers in the subject or the Azure community members can provide the best p

[2019-05-13 19:31] #30859 closed

[2019-05-13 19:38] #17432 closed

[2019-05-13 19:39] bandersmsft commented on #30735
@femsulu TY for replying the the customer!

[2019-05-13 19:49] msfcolombo opened #31131 "Very basic sample (or link to sample) is missing"
I need to migrate some VMs to managed disks. This page has links to how to copy a managed disk using snapshot, and how to capture a generalized managed image. But it doesn't tell how to migrate a VM to managed disk, and not even how to create a new VM using a managed disk from start. There is link to these very basic samples. Please add links or direct samples. Thanks.

---
#### Document Details

[2019-05-13 19:52] TravisCragg-MSFT commented on #30578
@petr-stupka Thank you for finding that! Let me follow up to see if or when this will be changed.

[2019-05-13 19:53] TravisCragg-MSFT commented on #31062
@stdistef Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-13 19:56] gopala000 opened #31132 "EncryptProperty attribute and querying the property for specific value"
I have a need to encrypt SSN for employee record stored in Azure Table storage.

1. If I use [EncryptProperty] for SSN, how do I query for an employee with specific SSN?
2. Can I be able to create secondary index on encrypted SSN?
3. How do I handle key revision?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba460612-

[2019-05-13 19:59] bandersmsft commented on #29384
@eshundnow Hi. There's a difference between scopes like an EA billing account and an individual EA subscription. You can't create budgets for EA billing accounts. For more information about EA scopes, see https://docs.microsoft.com/en-us/azure/cost-management/understand-work-scopes#enterprise-agreement-scopes
#please-close

[2019-05-13 20:00] ajlam commented on #30995
@tikicoder - for any feature requests that you may have in the future, please feel free to file a request on our [UserVoice forum](https://feedback.azure.com/forums/597982-azure-database-for-mysql).

#please-close

[2019-05-13 20:00] flaxed opened #31133 "Install ST-Link drivers solution is broken"
This section proposes either installing drivers from the maker, which requires a totally unnecessary email registration, or downloading directly from a sharepoint site that is private.

Please provide an alternative

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version Independen

[2019-05-13 20:01] markjbrown commented on #31051
Please assign to  @timsander1  Thanks.

[2019-05-13 20:03] bandersmsft commented on #30025
@mganeshphani At the subscription level the answer is Yes. At other levels, such as billing accounts, departments or enrollment accounts, the answer is No.
#please-close

[2019-05-13 20:04] diberry commented on #31126
@colbytimmsl Great question. #in-progress

[2019-05-13 20:05] #30025 closed

[2019-05-13 20:10] Karishma-Tiwari-MSFT commented on #30769
@jpsebasti Hope that helped answer your question. Let me know.

[2019-05-13 20:12] YutongTie-MSFT commented on #31023
@nestor94 Hi, sorry for your experiences for this Internal error, could you please send me an email at Azcommunity@microsoft.com with the URL of this thread and you Azure Subscription ID? We would like to investigate deeper and help you out.

[2019-05-13 20:15] Mike-Ubezzi-MSFT commented on #30995
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-13 20:15] #30995 closed

[2019-05-13 20:19] YutongTie-MSFT commented on #31025
@in4margaret Hi Microphone geometry is about the [Development Kit](https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/get-speech-devices-sdk) you are using, please check following document for more details about different microphone geometry. https://docs.microsoft.com/en-us/azure/cognitive-services/Speech-Service/speech-devices-sdk-microphone#microphone-geometry

We will now

[2019-05-13 20:19] #31025 closed

[2019-05-13 20:23] Mike-Ubezzi-MSFT commented on #30853
@brushwood24 Please find a link to what should be the correct syntax for making an update to collection throughput. The difference is the use of a parameters.json file for options.

[azuredeploy-sql-ru-update.zip](https://github.com/MicrosoftDocs/azure-docs/files/3174663/azuredeploy-sql-ru-update.zip)

Please let us know if you have additional questions.

[2019-05-13 20:25] MicahMcKittrick-MSFT commented on #31131
The migration doc can be found here:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/migrate-to-managed-disks

[2019-05-13 20:25] YutongTie-MSFT commented on #31045
@prajaybasu We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-13 20:25] #31045 closed

[2019-05-13 20:26] MicahMcKittrick-MSFT commented on #31125
@TiLegend please provide us with the link to the documentation you are following so we can better assist.

[2019-05-13 20:29] mganeshphani commented on #30025
Thanks.. that's enough for me :)

On Mon, May 13, 2019 at 3:06 PM femsulu-MSFT <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2019-05-13 20:33] TiLegend commented on #31125
Hi
[Use SMART on FHIR proxy](https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy)

[2019-05-13 20:37] Karishma-Tiwari-MSFT commented on #30753
@iainfoulds Can you please confirm on this, then I will make an update to the doc. Thanks.

[2019-05-13 20:42] melzoghbi opened #31134 "No Registered Provider Found when scheduling a SSIS on ADF IR"
Hi,

While i am trying to schedule a deployed SSIS on a ADF IR, i am getting an error when i try to schedule a SSIS package:

![image](https://user-images.githubusercontent.com/11993393/57652315-221d7700-7584-11e9-8fd6-c1c5d4ef3592.png)

I have a ADF IR is up and running on USGOV Virginia.

One thing to consider, it seems the error message is looking for IR on US Gov Texas and its API which is not

[2019-05-13 20:44] MicahMcKittrick-MSFT commented on #31125
@TiLegend thanks!

@hansenms can you take a look at this?

[2019-05-13 20:44] StarkCaptain commented on #30677
This is called out now under the FAQ section.

I created a new policy, why are the actions not run immediately?
The platform runs the lifecycle policy once a day. Once you configure a policy, it can take up to 24 hours for some actions to run for the first time.

[2019-05-13 20:44] azureandsecurityotaku opened #31135 "Connect data sources - first step is wrong"
Under "Connect data sources", first step "1. Click Data collection." should be corrected to "1. Click Data connectors."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-6533-24eb-630c-559bd1549dc7
* Content: [Onboard in Azure Sentinel Preview](https:

[2019-05-13 20:45] idontusenumbers opened #31136 "aka.ms/MFASetup reads like a phishing attack"
The aka.ms domain looks like a phishing attack that every enterprise has trained their employees not to click.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a5d93c5-5135-b9e9-e536-eb0830918b2e
* Version Independent ID: 49be1539-737b-8874-eca6-1cdbc5263d73
* Content: [Manage two-step verification settings - Azure Acti

[2019-05-13 20:48] MicahMcKittrick-MSFT commented on #31134
@melzoghbi please share the link to the documentation you are referring to so we can better assist.

[2019-05-13 20:49] andreas-eg opened #31137 "This article should answer what you DONT support also"
(I was looking for specifics on Azure AD but this could apply here aswell)
I think it could be helpful if this page take not if http artifact binding is supported or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e45e65a0-74ae-440c-0064-2a0b1c6bb0d9
* Version Independent ID: a50f705d-ab3f-ca2b-aedd-9ab37bea3d3f
*

[2019-05-13 20:50] MicahMcKittrick-MSFT commented on #31135
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-13 20:54] kobulloc-MSFT commented on #30901
@VladlenFilimonov Thank you again for the feedback.  This issue will remain visible for anyone else that encounters this.  It doesn't appear that there is anything further we can do from a documentation standpoint at this time so we are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to cont

[2019-05-13 20:54] #30901 closed

[2019-05-13 20:58] melzoghbi commented on #31134
I updated the post with the link, and here it is again:
[Scheduling SSIS on ADF](https://docs.microsoft.com/en-us/sql/integration-services/lift-shift/ssis-azure-schedule-packages-ssms?view=sql-server-2017)

[2019-05-13 21:03] MicahMcKittrick-MSFT commented on #31134
@melzoghbi thanks. Assigning this to @Mike-Ubezzi-MSFT who is our SQL Engineer.

[2019-05-13 21:08] toddgauntgs opened #31138 "Subject Name ambiguous"
"The device certificate (also called a leaf certificate) must have the Subject Name set to the Device ID that was used when registering the IoT device in the Azure IoT Hub. This setting is required for authentication."

^ In the above passage, does the Subject Name refer to the "CN" or "common name" field of a Subject in an x.509 certificate, or the entire Subject?

---
#### Document Details

⚠ *D

[2019-05-13 21:10] Adam-Smith-MSFT commented on #31107
@chakkaseshu I'd highly recommend posting on either StackOverflow or MSDN forums since it's not an issue related with the documentation itself and for better scoping.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-13 21:10] #31107 closed

[2019-05-13 21:14] #30677 closed

[2019-05-13 21:17] KranthiPakala-MSFT commented on #31130
@ToddChitt Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2019-05-13 21:22] hansenms commented on #31125
Did you create an AAD public client application (there is a link in the instructions) and did you configure the smart launcher with the correct app id: https://docs.microsoft.com/en-us/azure/healthcare-apis/use-smart-on-fhir-proxy#download-smart-launch-application

[2019-05-13 21:28] ctstone commented on #30863
Updated object sample looks correct now, closing

[2019-05-13 21:28] #30863 closed

[2019-05-13 21:34] curtand commented on #22582
Hi @hudahaha
There's no way at present, but Azure AD will be updating specific admin roles at add the ability to use an Azure AD administrative unit as a scope for the permissions. It is to be released and documented this calendar year, but I don't have a date.

@MarileeTurscak-MSFT
#please-close

[2019-05-13 21:35] #29334 closed

[2019-05-13 21:40] SnehaGunda commented on #31132
@gopala000 Data stored in Azure Cosmos DB is always encrypted at rest and in transit. I don't know if there is any need to explicitly encrypt when performing a certain operation, @wmengmsft can you please help with this issue.

[2019-05-13 21:49] TiLegend commented on #31125
appsettings.json
`{
    "FhirServerUrl": "https://fhirapi****side.azurehealthcareapis.com",
    "ClientId": "********-ac05-46f0-86c7-307968a19320",
    "DefaultSmartAppUrl": "/sampleapp/launch.html"
}`

sign-in log
![Screenshot from 2019-05-14 03-30-12](https://user-images.githubusercontent.com/25040396/57656142-64cd6680-75f9-11e9-95c3-40c1116784ca.png)

resource application
![Screenshot from 2019

[2019-05-13 21:53] PatrickFarley commented on #24006
Don't close; not all pages are updated to use the proper faceclient ([example](https://docs.microsoft.com/en-us/azure/cognitive-services/face/face-api-how-to-topics/how-to-use-large-scale)) . We will have to bring this up with the product team because there are some sample apps on GH that still use the old syntax.

[2019-05-13 21:56] Japeth opened #31140 "No Sync Between Storage Accounts"
When I try to run with the sync command, between two storage accounts, I get an error:
"combination 'BlobBlob' not supported for sync command"

I would use the regular cp command, but it looks like that will just copy all files, regardless on if the file exists or not.  There is no /XO or /XN for version 10.x why was this removed?
What am I supposed to do here?

[2019-05-13 21:57] hansenms commented on #31125
What is the actual launch URL that the app launcher is trying to use?

[2019-05-13 21:59] Alberto-Vega-MSFT commented on #30733
@DRSPrashant closing this issue since support will help you directly.

[2019-05-13 21:59] #30733 closed

[2019-05-13 22:01] lhanson commented on #8121
@ConnorMcMahon Is there an issue we can follow or other way of being notified when this workaround won't be needed? I may be misunderstanding something, but changing an app's authorization flow to implicit when it could/should be using auth codes seems to have security implications and I don't think I'm comfortable with using it long-term if I don't have to. There seems to be a [lot](https://oauth

[2019-05-13 22:01] Alberto-Vega-MSFT commented on #31133
@flaxed Thanks for your valuable feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-13 22:03] Alberto-Vega-MSFT commented on #31138
@toddgauntgs Thanks for the feedback! I have assigned the issue to the content author to help respond, evaluate and update as appropriate.

[2019-05-13 22:04] MarileeTurscak-MSFT commented on #30851
@BBAPercival Thanks for sharing this solution! Happy you were able to resolve this.

[2019-05-13 22:04] #30851 closed

[2019-05-13 22:04] MicahMcKittrick-MSFT commented on #30941
@dahovey I took a look back at the cluster issues documentation

https://cert-manager.readthedocs.io/en/latest/reference/clusterissuers.html

Looking at this section

[code]
When referencing a Secret resource in ClusterIssuer resources (eg apiKeySecretRef) the Secret needs to be in the same namespace as the cert-manager controller pod. You can optionally override this by using the --cluster-resour

[2019-05-13 22:04] #30941 closed

[2019-05-13 22:05] j-windsor opened #31141 ".webtest file being deprecated. Update for multi-step test?"
https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/ says that the file is being deprecated. This documentation needs to be updated to express that deprecation and hopefully give an alternative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10858323-1827-1c73-b93a-7c133bae54ba
* Version Independ

[2019-05-13 22:05] sfilipi opened #31142 "The private key to use for the ssh connection must be saved password protected"
The article should mention that the user should enforce a password when saving the ssh private key, otherwise the pod created in the AKS cluster as a hub to the other pods will refuse connection due to week key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID

[2019-05-13 22:06] spelluru commented on #31077
@KetanChawda-MSFT - I think it makes sense to have a section on advantages of using partitioning.

@axisc - Ashish - Shall I work with you on this? Thanks.

[2019-05-13 22:10] davidekarasek opened #31144 "Need an example for a .Net Core API (no cshtml) and how to deploy to IIS 10 on an Azure VM"
Need an example for a .Net Core API (no cshtml) and how to deploy to IIS 8 on an Azure VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2984100d-7d78-2115-40f4-4b9478a5a5bc
* Version Independent ID: 24ac6adc-6779-b847-ce81-c9d36e4b067b
* Content: [Quickstart for Azure App Configuration with ASP.NET Core](https://docs

[2019-05-13 22:14] TiLegend commented on #31125
last
********-ac05-46f0-86c7-307968a19320

[2019-05-13 22:18] hansenms commented on #31125
Let me ask a different way, when the SMART app redirects to AAD authorize endpoint, what is the URL? Is the `client_id` in that request URL correct. I suspect not, since AAD is saying that the app is not found. Basically, the error message that you started with, what is the app id in `yyyyyyy`?

[2019-05-13 22:21] YutongTie-MSFT commented on #31023
@nestor94
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-13 22:21] #31023 closed

[2019-05-13 22:30] TiLegend commented on #31125
![Screenshot from 2019-05-14 04-26-53](https://user-images.githubusercontent.com/25040396/57658409-a4e41780-7600-11e9-9f9c-99656d506ef5.png)

![Screenshot from 2019-05-14 04-29-19](https://user-images.githubusercontent.com/25040396/57658500-f4c2de80-7600-11e9-8a3b-4f48a8f4e193.png)

[2019-05-13 22:32] davidekarasek commented on #9684
I'm confused as to why I'm doing the step below if I'm simply running a mail service as a .Net API on IIS running on my Azure VM:

"You may store these credentials via your Azure Portal by clicking Application settings and adding the key/value pairs under App settings."

Is this step for an Azure Virtual Machine IIS App or is it for an Azure API running in some other Azure cloud space?  Maybe I'm

[2019-05-13 22:36] hansenms commented on #31125
Next step is to look at the tenant the request is being sent to. What does your "Authentication" settings for the Azure API for FHIR look like,

[2019-05-13 22:37] festivus opened #31145 "Confused"
This says "Azure virtual machine scale set automatic OS image upgrades is the best practice for keeping your operating systems patched in Azure" and that POA is for non-azure machines. However, when I go to the link describing automatic OS upgrades it states that it will not work with service fabric scalesets running in the Bronze durability mode. So my question is, if my service fabric cluster is

[2019-05-13 22:39] mike-urnun-msft commented on #31124
Hi @navzam Thanks for your feedback! Could you provide the URL of the specific documentation that you're referring to?

[2019-05-13 22:41] TiLegend commented on #31125
![Screenshot from 2019-05-14 04-40-36](https://user-images.githubusercontent.com/25040396/57658983-7c5d1d00-7602-11e9-99f4-fc355c172573.png)

generated url

[2019-05-13 22:43] v-miclar commented on #30968
Please reassign this issue to Qian Wen (v-qiwe).

[2019-05-13 22:43] Alienroid opened #31146 "Hidden Charges"
I tried out SQL Database serverless the last couple days on a very idle database. I had very little activities from my apps. However, 2 of the nights (between 2-4AM) there tons of APP CPU activities not used by my app. I wonder if this is due to backup or some other features? I've switch it back to other billing methods until I can understand this better. Thanks

---
#### Document Details

⚠ *Do n

[2019-05-13 22:48] hansenms commented on #31125
Email me on 'mihansen' AT 'microsoft.com'. We may have to do a screenshare or something.

[2019-05-13 22:49] MicahMcKittrick-MSFT commented on #31142
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-13 22:49] mike-urnun-msft commented on #31118
Hi @MisinformedDNA Thanks for sharing! Since this channel is for driving improvements towards MS Docs, let us know if there is anything that you feel we should update in this documentation. Otherwise, we'll proceed to close this thread :)

[2019-05-13 22:49] hansenms commented on #31125
Do you have privileges to create app registrations and consent in the tenant?

[2019-05-13 22:50] chetansriv commented on #31068
@NextTurn Thanks for highlighting the issue. It seems the correct URL is - https://support.inspiredelearning.com/help/adding-updating-and-managing-users#just-in-time-provisioning-with-saml-single-signon

We'll get the tutorial updated

[2019-05-13 22:54] DianeHadley opened #31147 "ApplicationGateway/Http: config description typo"
There's a hanging quotation mark in the short description for GatewayAuthCredentialType: Valid values are "None/X509.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Independent ID: 429e2d0f-d5da-8972-2890-52081eee3330
* Content: [Change Azure Service Fabric cluster setting

[2019-05-13 22:54] kobulloc-MSFT commented on #31141
@j-windsor Thank you for your feedback!  We do mention that cloud-based load testing is being deprecated, go into more detail about the timeline, and offer a list of alternative services:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-web-app-availability#performance-tests

![image](https://user-images.githubusercontent.com/37556655/57659334-daecb180-7596-11e9-80e4-eca7ea719143.

[2019-05-13 22:54] TiLegend commented on #31125
yes it is my free trial account

[2019-05-13 22:57] MicahMcKittrick-MSFT commented on #31145
@festivus you should review this doc to learn more about durability tiers and planning capacity for your SF cluster

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-capacity

If you are running in the Bronze tier it doesn't really matter as much about having automatic upgrades. The bronze tier is not recommended for Production workloads. So if you are running a product

[2019-05-13 22:59] gopala000 commented on #31132
I'm looking for encrypting data at client using [EncryptProperty] as described in https://docs.microsoft.com/en-us/azure/storage/common/storage-client-side-encryption#table-service-encryption. This is required for security compliance.

[2019-05-13 23:01] MicahMcKittrick-MSFT commented on #31147
@DianeHadley great find! I have corrected the doc. Once the PR merges the changes will go live after a few hours.

[2019-05-13 23:01] #31147 closed

[2019-05-13 23:04] clmccart commented on #30960
Fixed with PR: https://github.com/MicrosoftDocs/azure-docs/pull/31148

[2019-05-13 23:04] MicahMcKittrick-MSFT commented on #31144
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-13 23:05] kobulloc-MSFT commented on #31091
@ripom It looks like the appropriate contact information has been exchanged, and there's nothing left to be addressed from a documentation standpoint.  If you need any help troubleshooting issues, please feel free to reach out to us on MSDN or Stack Overflow:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/home?forum=ApplicationInsights

We are going to close this thread as resolved but if

[2019-05-13 23:05] #31091 closed

[2019-05-13 23:06] MicahMcKittrick-MSFT commented on #31140
@Japeth please provide us with the link to the documentation you are referring to so we can better assist.

[2019-05-13 23:07] #10466 closed

[2019-05-13 23:08] #12350 closed

[2019-05-13 23:08] #12547 closed

[2019-05-13 23:09] #14917 closed

[2019-05-13 23:09] #18553 closed

[2019-05-13 23:09] #19256 closed

[2019-05-13 23:09] #26454 closed

[2019-05-13 23:10] #27223 closed

[2019-05-13 23:10] #27423 closed

[2019-05-13 23:10] #27453 closed

[2019-05-13 23:10] #28357 closed

[2019-05-13 23:10] #28689 closed

[2019-05-13 23:11] #28926 closed

[2019-05-13 23:11] #29274 closed

[2019-05-13 23:11] #29384 closed

[2019-05-13 23:11] #29569 closed

[2019-05-13 23:11] #29850 closed

[2019-05-13 23:12] #30251 closed

[2019-05-13 23:12] #30314 closed

[2019-05-13 23:12] #30459 closed

[2019-05-13 23:12] #30548 closed

[2019-05-13 23:12] #30750 closed

[2019-05-13 23:12] #30871 closed

[2019-05-13 23:13] #30877 closed

[2019-05-13 23:13] #30984 closed

[2019-05-13 23:13] #9684 closed

[2019-05-13 23:18] riverar commented on #28931
@KetanChawda-MSFT  @SubhashVasarapu-MSFT Any updates? It's been over a month now.

[2019-05-13 23:28] BharathNimmala-MSFT commented on #31144
Thank you @davidekarasek for your feedback. Assigning this to @yegu-ms to further evaluate the doc enhancement request and update it accordingly.

[2019-05-13 23:47] dcbrown16 opened #31149 "FAQ link"
Is the FAQ link trying to go here?
https://social.msdn.microsoft.com/Forums/en-US/f3e6faeb-5ed4-435a-adaa-987d5db43b80/faq-on-app-service-certificates-and-custom-domains
The current link (under More resources) just goes to the blog main page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9

[2019-05-13 23:58] Jeremywhiteley commented on #10584
I haven’t.  But I don’t think Microsoft cares about flutter even though,  LinkedIn, a wholly owned subsidiary of Microsoft which has over 610 million registered users, released new statistics unveiling Flutter as the top growing skills among the software engineers.  http://bit.ly/2E2vqk9

[2019-05-14 00:04] Adam-Smith-MSFT commented on #31140
@Japeth Sync would Sync a directory in local file system to Azure Blob, or vice versa, it doesn't support a storage account to a storage account officially, it was not tested for the specified scenario that you mentioned. More info can be found [here](https://github.com/Azure/azure-storage-azcopy). I'd also recommend posting on forums such as StackOverflow or MSDN since the question is not related

[2019-05-14 00:04] #31140 closed

[2019-05-14 00:07] henrycjc opened #31150 "Dead link to Python SDK samples"
https://github.com/Azure/azure-sdk-for-python/tree/master/azure-servicebus 404s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94440863-21fb-8ed0-ea59-a9be7308b039
* Version Independent ID: b422fda1-49d7-b199-e944-18943ef68d36
* Content: [Azure Service Bus messaging samples overview](https://docs.microsoft.com/en-us/az

[2019-05-14 00:09] henrycjc commented on #31150
Before this ticket is closed, can someone please test this in an incognito/private session browser session, clearly last time this was addressed it was not tested properly as the link is still dead or requires permissions that the general public do not possess.

[2019-05-14 00:14] #31118 closed

[2019-05-14 00:22] Mike-Ubezzi-MSFT commented on #31146
@Alienroid Thank you very much for your interest in Azure cloud services. Do you have a screen capture or other detail to indicate specific tasks? This is likely activity related to operational tasks but did want to get confirmation. Thank you for providing additional detail to ensure the correct information.

[2019-05-14 00:29] j-windsor commented on #31141
Considering resolved only because [this issue](https://github.com/MicrosoftDocs/vsts-docs/issues/3793) exists on the page that note links to. It is clear from the page (and on the azure portal) that performance tests are affected, but no mention is made of availability tests which also use the .webtest file.

[2019-05-14 00:30] MicahMcKittrick-MSFT commented on #30939
@tedgoddard just FYI, I am working offline to find the best answer for this. Will update as soon I have hear something back.

[2019-05-14 00:30] MarileeTurscak-MSFT commented on #30919
Is your policy set to "Baseline policy: Require MFA for admins"?

If you email me at AzCommunity@microsoft.com I can open a free support case for you to take a look.

I think I have seen this reported before and I will try to reproduce this in my lab environment.

[2019-05-14 00:33] henrycjc opened #31151 "create_queue usage is invalid for azure-servicebus==0.5"
[code]
This snippet is taken straight from the docs, but it raises an exception

[code]

because the API for `create_queue` has changed to take keyword arguments instead of a Queue object (by the looks).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47bc6b40-39cd-eb95-1911-ddff96dda210
* Version Independent ID: d91a61

[2019-05-14 00:34] dcbrown16 commented on #30964
Thanks @mrkarMSFT and @AjayKumar-MSFT.
We got some additional internal information that clarified that you can't send notifications to a whole namespace, so the access policy at the namespace level would be for listing, creating, deleting hubs within that namespace.
It seems like this distinction could be made clearer within the documentation, so I'll leave this open to let you consider if you wan

[2019-05-14 00:46] MarileeTurscak-MSFT commented on #31137
@andreas-eg
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-14 00:47] henrycjc commented on #31151
https://github.com/MicrosoftDocs/azure-docs/pull/31152 PR up

[2019-05-14 00:55] Alienroid commented on #31146
Hi Mike,
I cannot see the App CPU since I switched plan. I just switch back to serverless just to see if I can recover any information, but it seems those data are gone. I can see Compute Utilization but App CPU Billed gives me "error retrieving data". I think switching back and forth also have some cost too? On current subscription balance (https://account.azure.com/Subscriptions/statement?...) I

[2019-05-14 01:00] Alienroid commented on #31146
As I recall, when I looked at the App CPU billed, it just show bar chart with how many operations are done. I think there were several bars around 12k between 2-4AM 20-30 minutes interval this morning. It didn't specify which operational tasks (which is the reason why I opened this feedback). But to be honest, there's 0 access to my database the last few days, so these activities doesn't make sens

[2019-05-14 01:08] Alienroid commented on #31146
From App CPU Percentage: I got this https://1drv.ms/u/s!An5Tmz1VXkh6gtlAHDXPwQW3TZaMnw

[2019-05-14 01:10] aszalacinski opened #31154 "Example B2C config does not align with documented config"
Please refer to
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL.js-1.0.0-api-release#configuration-options
b2cScopes and WebApi are not config options.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b24fece-c54c-519a-7d3a-13db520d776e
* Version Independent ID: 34749db8-8bda-c17d-c16e-17271

[2019-05-14 01:11] Alienroid commented on #31146
I can see App CPU Billing now: https://1drv.ms/u/s!An5Tmz1VXkh6gtlB0wPsYJ6rPgaRxQ

Sorry doesn't seem to have useful information.  All I can say is these are not from my app accessing the database.

[2019-05-14 01:17] btardif commented on #27087
I have a PR out addressing this questions:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/76638

Here is the clarifying comment I added:

Apps are allocated to available App Service plan using a best effort approach for an even distribution across instances. While an even distribution is not guaranteed, the platform will make sure that two instances of the same app will not be hosted on the

[2019-05-14 01:23] msfcolombo opened #31155 "Please add Powershell samples"
I have a 2k loc PSH script that is capable of managing both Linux and Windows VMs.

I can create Linux VM with a specific password using:

`$vmConfig = Set-AzureRmVMOperatingSystem -VM $vmConfig -Linux -ComputerName $vmName -Credential $credential`

However, I miss a Powershell cmdlet for *resetting* the password on a Linux VM.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-05-14 01:23] haroldwongms commented on #31111
@muhady In order to deploy an ARO cluster, there is a prerequisite to purchase reserved instances and pay the cost of OpenShift ($16,000) for a year.  Once this is done, then we will whitelist your subscription and you can deploy ARO.  This is true for Microsoft, Red Hat, and all customers.

[2019-05-14 01:37] trolleyboy commented on #27087
Thanks @btardif
(FYI - that PR link doesn't seem to work)

[2019-05-14 01:43] varunpuranik commented on #30681
@haohaowasky -
What version of the EdgeHub are you using? With the latest version of the EdgeHub (1.0.7), the problem should not exist anymore. And what version of the SDK?
In the initial versions of the EdgeHub, the subscriptions from a client were handled synchronously, which caused a delay when offline (since setting the subscription didn't work right away). But this has since been fixed.
I als

[2019-05-14 01:45] festivus commented on #31145
I guess I'm confused on the different between OS upgrades and windows updates. Are they the same? I want to make sure the scalesets have the latest windows updates, including defender updates. The POA can do that. Automation's Update Management can also do that but it could take down the whole scaleset.

[2019-05-14 01:59] kobulloc-MSFT commented on #31141
@j-windsor Thank you for the follow up.  I'm looking into tests dependent on .webtest files and agree that it should be more clear what is impacted.  We'll investigate further and get back to you soon.

[2019-05-14 02:03] jpsebasti commented on #30769
Yes thank you that answered the question.  I've successfully deployed the VDI

[2019-05-14 02:04] ManojReddy-MSFT commented on #30053
@RickB-0923845 Thanks for the feedback. I appreciate it and will pass the feedback to the product group.  Do let us know if you have any questions post your testing. I will go ahead and close the issue for now.

Also I would really appreciate it if you can take the time to post your feedback (explaining your scenario) as a feature enhancement request [here](https://feedback.azure.com/forums/169401

[2019-05-14 02:04] #30053 closed

[2019-05-14 02:08] larryms opened #31156 ""Public Peering" reccomendation? Should it be "Microsoft Peering"?"
the article recommends using Azure ExpressRoute with public peering.   But Public Peering has been deprecated.  Can this article be updated to recommend Expressroute Microsoft peering? (assuming it's the correct recommendation)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f8b6d0d-22ec-65e3-c21f-6a40fd2f1787
* Versio

[2019-05-14 02:19] Mike-Ubezzi-MSFT commented on #31013
@asadikhan based upon the following address `wasbs://2013@nytaxiblob.blob.core.windows.net` there is a container `2013` with compressed/uncompressed data per table.

You can navigate to while adding one of the below references (example: https://nytaxiblob.blob.core.windows.net/2013/Date) but since you do not have sufficient access, this method does not give you direct access.

2013/Date
2013/Geogr

[2019-05-14 02:48] MicahMcKittrick-MSFT commented on #31145
OS upgrade = Patches. So on Windows that would be the Windows Updates, defender updates, etc. On linux it could be the kernel version, patches, etc.

OS Upgrade sounds like moving from on OS version to another. Such as 2012 to 2016. But it is really just patches. The term OS updates would probably make more sense :)

[2019-05-14 03:13] SadiqhAhmed-MSFT commented on #31156
@larryms Thanks for the feedback! We will check on this request and get back to you soon.

[2019-05-14 03:15] SadiqhAhmed-MSFT commented on #31155
@msfcolombo Thanks for the comment! We will check on this request and get back to you soon.

[2019-05-14 03:17] SadiqhAhmed-MSFT commented on #31154
@aszalacinski Thanks for the question! We will investigate on this issue and get back to you soon.

[2019-05-14 03:19] SadiqhAhmed-MSFT commented on #31151
@henrycjc Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-14 03:22] SadiqhAhmed-MSFT commented on #31150
@henrycjc Thanks for bringing this to our attention! We will check on this and get back to you with an update.

[2019-05-14 03:25] SadiqhAhmed-MSFT commented on #31149
@dcbrown16 Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-14 03:26] ggailey777 commented on #31118
@MisinformedDNA is there an article that we can link to that encapsulates this information?

[2019-05-14 03:26] SadiqhAhmed-MSFT commented on #31136
@idontusenumbers Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-14 03:28] SadiqhAhmed-MSFT commented on #31128
@DaddyBell Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-14 03:42] Mike-Ubezzi-MSFT commented on #30853
@brushwood24 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-14 03:42] #30853 closed

[2019-05-14 03:45] KetanChawda-MSFT commented on #31151
@spelluru Can you please review the [PR#31152](https://github.com/MicrosoftDocs/azure-docs/pull/31152) created by OP.

[2019-05-14 03:48] Japeth commented on #31140
So what am I supposed to do if I want to copy files between storage accounts and not overwrite newer files?

[2019-05-14 03:55] yokawasa opened #31157 "About outbound connection limit number"
According to [Connection limit](https://docs.microsoft.com/en-us/azure/azure-functions/manage-connections#connection-limit) section of this page, outbound connection limit number per instance is  600 active connections ( 1200 total connections )
[code]
But referring to [Web app sandbox numerical limits](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits), it se

[2019-05-14 03:57] festivus commented on #31145
Ok thanks. 2 more questions.

1. Does the service fabric RepairManager only need to be enabled for POA?
2. I tried turning on enableAutomaticOSUpgrade but I got an error because I also have windowsConfiguration\enableAutomaticUpdates set to true. they apparently can't both be set to true. Does enableAutomaticOSUpgrade basically do what enableAutomaticUpdates did?

[2019-05-14 04:06] kiranpradeep commented on #31060
@DixitArora-MSFT Thanks for the reply. I went through Parallel Execution part of the [Function app](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference#parallel-execution) documentation shared. It was really helpful. In I/O bound functions the workload is not memory or CPU, but total time to completion. Since the query was only about I/O bound functions, let's ignore the cas

[2019-05-14 04:12] RohitMungi-MSFT commented on #30899
Reopening issue for tracking the bug reported for Mac users.

[2019-05-14 04:16] KetanChawda-MSFT commented on #31157
@yokawasa Thank you for posting your question. Please check [this thread](https://github.com/MicrosoftDocs/azure-docs/issues/21155) for the answer.

Comment from Chris: https://github.com/MicrosoftDocs/azure-docs/issues/21155#issuecomment-450035820

[2019-05-14 04:17] KetanChawda-MSFT commented on #30999
@ElanShudnow Checking in to see if the above post helped answering your question.

[2019-05-14 04:17] cmurugan2212 commented on #25082
Hi Seth, Can you please fwd me the detailed doc for this issue.

[2019-05-14 04:18] KetanChawda-MSFT commented on #31001
@mydiemho Checking in to see if the above post helped answering your question.

[2019-05-14 04:19] KetanChawda-MSFT commented on #31077
@spelluru Thanks for confirming.

@TheSaltyKorean I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-14 04:25] BeigeBadger commented on #11369
@djvibe I came across this issue myself. Once I figured out the answer I posted it on StackOverflow for others than encounter it.

See [here](https://stackoverflow.com/a/56122991/5209435).

[2019-05-14 04:28] SumanthMarigowda-MSFT commented on #30924
@stdistef Any version since 2016-12-01 would work. https://docs.microsoft.com/en-us/azure/templates/microsoft.storage/2016-12-01/storageaccounts

[2019-05-14 04:37] DixitArora-MSFT commented on #30958
@juanren Flanker32 has already given the answer for the original post and the latest question is not related to the doc. I will really appreciate if you can ask this question on [Azure Function Repo](https://github.com/Azure/Azure-Functions/issues). Regarding doc change, I will create the PR and add additional steps that Flanker32 has mentioned.

[2019-05-14 04:48] DixitArora-MSFT commented on #31150
@henrycjc I have assigned this to content author to review and update as appropriate.

[2019-05-14 04:52] wmengmsft commented on #31132
@gopala000, regarding your initial questions for the Storage SDK's **Client Side Encryption** feature:
1. If the property SSN is encrypted, you cannot query against it using the original unencrypted SSN value. At the server only encrypted bytes are stored.
2. Are you asking about Azure Storage Table, or Cosmos DB Table? If this is about Azure Storage Table, please note that it does not support sec

[2019-05-14 04:57] #30883 closed

[2019-05-14 04:57] SadiqhAhmed-MSFT commented on #30883
@kazshi See in line.

"Storage Spaces" is listed in the 'Replicated machines - storage' as "Supported" - is it "Windows Storage Spaces (Storage Pool)"?
Yes it is windows storage spaces pool.

I would like to make sure if Windows Storage Spaces/Storage Pool is supported without any restrictions.
We don’t support adding a new disk to storage pool. But rest all features are supported.

Link - https:/

[2019-05-14 05:00] kazshi commented on #30883
@SadiqhAhmed-MSFT Thanks for your clarification!

[2019-05-14 05:03] DixitArora-MSFT commented on #31080
@dcbrown16 I believe it is more of providing the same User experience in the Next section.

[2019-05-14 05:04] DixitArora-MSFT commented on #31033
@cgillum Just following up again in case missed the previous communication.

[2019-05-14 05:06] dcbrown16 commented on #31080
I think there is more potential confusion by having a link to the same page than there would be for having the same links under "Next" on multiple pages.

[2019-05-14 05:14] ManojReddy-MSFT commented on #31128
@DaddyBell Thanks for reporting this. I have reached out to the product team regarding this and they are in the final stages of releasing the new site which checks for the new ports along with some new connectivity tests.

We will update the doc as soon as the new site is published with the new link.

@CelesteDG Do you think we should modify the doc until the new site is ready to be published ?

[2019-05-14 05:34] DixitArora-MSFT commented on #31080
@vladvino Any thoughts on this.

[2019-05-14 05:36] SadiqhAhmed-MSFT commented on #30684
@smichelotti Could you please review the ask and assist here?

[2019-05-14 05:40] SnehaGunda commented on #31037
@markjbrown is this expected? is it in the list of templates you are fixing?

[2019-05-14 05:47] SadiqhAhmed-MSFT commented on #30683
@johnthcall That is a valid URL. See this article - https://docs.azure.cn/zh-cn/articles/guidance/developerdifferences?toc=%2fguides%2fdeveloper%2ftoc.json#%E4%B8%AD%E5%9B%BD%E5%8C%BA-azure-%E8%B5%84%E6%BA%90%E7%AB%AF%E7%82%B9uri-%E4%BE%9B%E5%BA%94%E7%94%A8%E7%A8%8B%E5%BA%8F%E4%BB%A3%E7%A0%81%E4%BD%BF%E7%94%A8

We will now proceed to close this thread. If there are further questions regarding this

[2019-05-14 05:52] SadiqhAhmed-MSFT commented on #30684
@johnthcall That is a valid mapping. See the reference [link](https://docs.azure.cn/zh-cn/articles/guidance/developerdifferences?toc=%2fguides%2fdeveloper%2ftoc.json#中国区-azure-资源端点uri-供应用程序代码使用).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 05:52] #30684 closed

[2019-05-14 05:57] RohitMungi-MSFT commented on #31090
@thecpshah The option to use the image URL or image path depends on the client application that is designed to use the custom vision service.
For example, If your images are stored in azure storage account you can use SAS to [authenticate from the application](https://docs.microsoft.com/en-us/azure/storage/common/storage-dotnet-shared-access-signature-part-1#authenticating-from-a-client-applicatio

[2019-05-14 06:01] ManojReddy-MSFT commented on #31154
The sample included in this article actually has those config options listed. I am assigning this to the author to validate this.

@negoe Can you confirm if b2cscopes and WebApi are valid config options ?

[2019-05-14 06:10] Anmolgan81 commented on #30738
Also I wanted to ask if you can provide any tools that can help me capture a relationship digram in detail, our model is very huge and am not sure how to capture that information in detail.

Just curious if you know any tools that can help me out with this.

Regards
Anmol Ganju

________________________________
From: Anmol Ganju
Sent: Monday, May 13, 2019 11:08:30 PM
To: MicrosoftDocs/azure-docs;

[2019-05-14 06:13] phamquocthang opened #31158 "The constructor is declared as a function with the same name as the contract"
This is no longer true with recent solidity versions

"The constructor is declared as a function with the same name as the contract"
Should be something like: "**The constructor is declared as function named 'constructor'**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3325f0-8e3a-6555-7589-ad0b8bbde085
* Version I

[2019-05-14 06:14] chiners68 commented on #30919
I do have that conditional policy set in azure but not for the standard users I’m testing on SSPR on. As I said as soon as I remove the baseline Group policies then the reset password link works.
If someone can remote on I can demonstrate, not sure if there is anything in the event logs you can get.

Sent from my iPhone

On 14 May 2019, at 01:31, Marilee Turscak - MSFT <notifications@github.com<ma

[2019-05-14 06:17] RohitMungi-MSFT commented on #31104
@Dmitresky You can add questions to your KB by uploading a file. This can be done from the settings tab of your KB.

![image](https://user-images.githubusercontent.com/46958063/57674760-b992d080-763d-11e9-95fb-6998719da95f.png)

These [files ](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/data-sources-supported#structured-txt-tsv-and-xls-files)need to be structured te

[2019-05-14 06:21] #22582 closed

[2019-05-14 06:39] darrenjrobinson commented on #30697
We are currently stuck attempting to use Azure Functions v2 PowerShell Core to update a row in Azure Table Service using the Table Service Output Binding.
Can we please have an example of Updating a Row, Deleting a Row etc. // cc @ahmadkabdalla

[2019-05-14 06:39] jakaruna-MSFT commented on #31081
@ToruMakabe @gbaeke I think using that registration Azure team can keep track of the customers who are using this preview feature.

@iainfoulds Please provide your comments

[2019-05-14 06:41] ahmadabdalla commented on #30697
working on the Table Storage output binding, it's hard to understand how Azure storage is able to consume the request, if we are to update existing entities and not just inserting them. Any info available out there for the Pwsh func V2 folks?

Example error on runtime:

_```
Executed 'Functions.Get-Metrics' (Failed, Id=c4653806-a343-4b11-b1fb-bce9014f3bc0)
[14/05/2019 5:32:40 AM] System.Private.Co

[2019-05-14 06:43] SnehaGunda commented on #30982
@malake sibmitted a PR to fix the issue. we will now close this issue.

#please-close

[2019-05-14 07:11] VikasPullagura-MSFT commented on #30798
@singhkays Thanks for your response.

[2019-05-14 07:14] VikasPullagura-MSFT commented on #30798
@KeiroKamioka0000 I am closing this issue for now. Mention my name in the comment if you need any other information on this, we can reopen the issue if required and can continue.

[2019-05-14 07:14] VikasPullagura-MSFT commented on #30798
@KeiroKamioka0000 I am closing this issue for now. Mention my name in the comment if you need any other information on this, we can reopen the issue if required and can continue.

[2019-05-14 07:14] #30798 closed

[2019-05-14 07:16] georgievaja opened #31159 "Getting 502 on my signin-oidc callback path under app gateway V2"
# Using:
- .NETCORE2.1 application
- Azure App Service
- Azure Application Gateway V2

# Steps to reproduce:
I am using Cookies as DefaultAuthenticateScheme, DefaultScheme and OpenIdConnect as DefaultChallengeScheme. My OpenIdConnect Client uses hybrid flow.
After entering my deployed (.NETCORE2.1) application (running under application gateway), automatic challenge is being triggered, redirection

[2019-05-14 07:16] MGoedtel commented on #31097
@lightupdifire - I'd like to hear more about this scenario.  Can you explain why you would want to have an the Log Analytics agent deployed via Intune?  Thanks

[2019-05-14 07:32] LotusPainter opened #31160 "Move VM between geographic clusters"
Is there any way to do this? Perhaps just duplicating the hard disk in the new region?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34d0f2df-de85-c6ab-eb01-f8e028b7f108
* Version Independent ID: 5acb187c-f280-5c7d-14fc-7f07160cd50b
* Content: [Support matrix for disaster recovery of Azure VMs between Azure regions wi

[2019-05-14 07:54] avinashchadalavada opened #31161 "Regarding Auto-Tiering concepts."
Hi ,
I have deployed the azure local blob storage on the edge device. my aim is to check weather the auto tiering function of azure is working fine and to check weather its uploaded to the could and delete the file for the localblob.

I have found how to delete from the local blob but, i couldn't see any notification or some return statement saying that the file is completed uploaded to the clould

[2019-05-14 08:01] vrvrvrvrvr opened #31162 "Cant Enable Azure Active Directory Authentication for Azure Files (preview)."
When I do enable
Azure Active Directory authentication for Azure Files (Preview) on storage account, it keeps reverting back to disabled state. https://social.msdn.microsoft.com/Forums/en-US/848c7c3d-114c-44e1-b280-3ff4bc24bfa0/cant-enable-azure-ad-authn-for-azure-files?forum=windowsazuredata However I have prerequisites met. Azure ADDS deployed. VM joined Azure ADDS. Please advise how to troubles

[2019-05-14 08:19] lightupdifire commented on #31097
@MGoedtel, I try to get WIP analytics data, like explained here:
"https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/collect-wip-audit-event-logs"
The "Reporting CSP" solution not clear, so the way how I could use WIP logs was using Windows Monitoring Agent, but to deploy it to device i can use Intune solution only, but file is EXE...
So to depl

[2019-05-14 08:23] thecpshah commented on #31090
Thank you @RohitMungi-MSFT for looking into this. The idea is to periodically send images stored in Azure storage to prediction API and get results.

Once more question: does the API take images in batch mode or a single image at a time?

[2019-05-14 08:27] dvherk opened #31164 "FAQ link not working"
ends up in wrong location, here; https://azure.microsoft.com/en-us/blog/?ref=msdn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468-b140422b9fae
* Version Independent ID: 5475c8e6-1186-8ed1-2ad6-6eaa2cac871f
* Content: [Buy and configure an SSL certificate from Azure - App Service](https://docs.mic

[2019-05-14 08:28] jakaruna-MSFT commented on #30794
@burnsalpine Did you got a chance to look at the above comment

[2019-05-14 08:30] dvherk opened #31165 "Cancel purchase instructions"
Please add details regarding 'cancel purchase' as how is done here; https://docs.microsoft.com/en-us/azure/app-service/manage-custom-dns-buy-domain#cancel-purchase-delete-domain

What are the conditions to cancel in first few (how many?) days etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa7e21c2-d024-dda5-a468

[2019-05-14 08:30] Syamala2604 opened #31166 "New-vnet-integration - GA Date"
Hi, I see the goal is to have the feature GA by mid-year of 2019. (This is a goal not a commitment.) 3 months ago. Just wanted to check if there is any change in the commitment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a98803-1438-b1b5-f543-7dd88bc4294e
* Version Independent ID: 37ff1d0f-ed8e-5e4d-1f4c-1b9f6cff

[2019-05-14 08:47] delradie commented on #27791
In case anyone else makes the same silly mistake I did, take note of this - I'm too used to working with AAD. I'd put the AAD tenant in as the tenantname, not the name of the WVD tenant. Corrected it and it worked

[2019-05-14 08:54] SubhashVasarapu-MSFT commented on #31159
@georgievaja , Could you please share the document your are referring to? Thanks in advance.

[2019-05-14 08:56] SnehaAgrawal-MSFT commented on #31166
@Syamala2604  Thanks for the question! We are investigating and will update you shortly.

[2019-05-14 09:00] SnehaAgrawal-MSFT commented on #31165
@dvherk Thanks for the question! We are investigating and will update you shortly.

[2019-05-14 09:02] muhady commented on #31111
I've tried to run it against MSFT internal and also Visual Studio MSDN Subscription but the result is the same.

[2019-05-14 09:04] SnehaAgrawal-MSFT commented on #31164
@dvherk Thanks for bringing this to our attention! We are investigating and will update you shortly.

[2019-05-14 09:04] Waterfox83 opened #31167 "The page title is absolutely incorrect"
This page gives details about SQL Database Managed instance, where as heading is 'Use SQL Database advanced data security with virtual networks and near 100% compatibility'. This must be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28ca1f7f-5a34-0f23-10ce-3ff24c76db97
* Version Independent ID: 5c4a22c4-78fc-

[2019-05-14 09:09] RohitMungi-MSFT commented on #31090
@thecpshah Yes, you can use batch prediction. Please take a look at this github [repo](https://github.com/microsoft/Cognitive-CustomVision-Windows) for custom vision client library and sample for windows. You can use [BatchPredictorWithRateLimit](https://github.com/microsoft/Cognitive-CustomVision-Windows/blob/master/Samples/CustomVision.Tools/Prediction/Predictors/BatchPredictorWithRateLimit.cs)

[2019-05-14 09:09] DRSPrashant commented on #30733
Thank You @Alberto-Vega-MSFT

[2019-05-14 09:10] georgievaja commented on #31159
@SubhashVasarapu-MSFT which document do you have in mind?

[2019-05-14 09:11] marcinkoperski commented on #30973
Issue created: https://github.com/Azure/AKS/issues/972

[2019-05-14 09:12] angoyal-msft commented on #31167
@Waterfox83 Thanks for your valuable feedback. I have assigned this issue to content author to update this document appropriately.
@bonova Could you please look at this issue and update as appropriate.

[2019-05-14 09:12] thecpshah commented on #31090
Thanks @RohitMungi-MSFT for your quick response. I have also raised a user voice request.

[2019-05-14 09:14] muhady commented on #31111
Thank you for answer. Can you recommend how to test/PoC ARO cluster?

[2019-05-14 09:14] #31111 closed

[2019-05-14 09:17] femsulu commented on #30911
@sofianemad Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-14 09:19] MohitDhingra-MSFT commented on #30898
@davidmu1 Could you please have this verified with engineering and make required changed within the docs as needed ?

[2019-05-14 09:21] BhargaviAnnadevara-MSFT commented on #31084
@staff0rd Thanks for bringing this to our attention! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-14 09:23] sergaz-msft commented on #31040
Hi @nageswarysv please see the versions supported here: https://github.com/Azure/azure-iot-sdk-python#important-installation-notes---dealing-with-importerror-issues

Thanks!

[2019-05-14 09:24] sergaz-msft commented on #31158
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-14 09:27] blueelvis opened #31168 "Is it possible to add/remove/edit the Environment variables after the container instance has been created?"
As per the documentation above, you cannot change the environment variables after the container instance has been deployed. Am I missing something or is it just not possible and the only option right now is to recreate the container instance?

Thanks,
Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8cd0d0a1-65c0-

[2019-05-14 09:32] shashishailaj commented on #30881
@vfylyk We have verified this and initiated a doc update . The document will be updated in the next release cycle within the next 24-48 hours.

Thank you for your contribution. We will now close this issue.

[2019-05-14 09:32] #30881 closed

[2019-05-14 09:43] avinashchadalavada commented on #31161
@Alberto-Vega-MSFT  @himanshusinha-msft @AshokPeddakotla-MSFT @SumanthMarigowda-MSFT @DiegoRamirez-MSFT @sergaz-msft
hi all
Please let me sort this issue.
Thanks,
Avinash

[2019-05-14 09:45] YASWANTHM-MSFT commented on #31162
@vrvrvrvrvr, This may require a deeper investigation to find out the root cause, so If you have a support plan, I request you file a support ticket by following How to create an Azure support request. If you don’t have a support plan.Please do let us know, we will try and help you get a one-time free technical support. In this case, please send an email to AzCommunity[at]Microsoft[dot]com with the

[2019-05-14 09:49] Grace-MacJones-MSFT commented on #30368
Hi @benjamin-goldman, thanks for your patience. This [documentation](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities) shows you different ways to   configure managed identity for Azure App Service:
Azure portal
[Azure CLI
](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity#using-the-azure-cli)

[2019-05-14 09:49] #30368 closed

[2019-05-14 09:49] MohitDhingra-MSFT commented on #31136
@idontusenumbers Aka.ms is an internal Microsoft URL shortening service and not available publicly so there is no way that it can be identified even closely as a phishing attack URL . As per your statement it seems like this is just an assumption on your part but we assure you that the URL is completely safe and it is not at all associated from any phishing activity .

Hope this clarifies your dou

[2019-05-14 09:49] #31136 closed

[2019-05-14 09:49] MarkBailey1 opened #31170 "Typo with -InviteRedirectUrl?"
I can't take credit for finding this as my colleague pointed it out but thought it was worth mentioning to fix!

     -InviteRedirectUrl https://myapps.azure.com `

This isn't a valid URL, believe it's supposed to read:

    -InviteRedirectUrl https://myapps.microsoft.com `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-05-14 09:50] msghaleb opened #31171 "Can you please add what does "Off" means?"
I can see there is a description about External and Internal but there is no any mention about the "Off" option. Also for the external is the external load balancer automatically created? or does it need to be created/managed manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c

[2019-05-14 09:51] DixitArora-MSFT commented on #30958
@juanren  I have created the PR for this . Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 09:53] oliverholliday commented on #30368
None of those can be automated as they require being logged in as a full AD user - it won't work as a service principal or as another MSI user.

This is a huge issue for us, we are unable to automate any database deployments to use managed identity - we've spent weeks on this issue trying every documented path but none of them work.

[2019-05-14 10:00] shashishailaj commented on #31170
@MarkBailey1 Thank you for your contribution. We appreciate pointing it out . We will have this reviewed internally and update as needed.

[2019-05-14 10:03] thecpshah commented on #31090
@RohitMungi-MSFT  Do you have example codes using Python? For batch processing and SAS authentication?

[2019-05-14 10:04] PramodValavala-MSFT commented on #30917
@YaraZakaria There seems to be a [couple of inconsistencies](https://github.com/mintty/mintty/wiki/Tips#inputoutput-interaction-with-alien-programs) when running interactive windows programs that use native windows API in `mintty` (powers `git-bash`).

If you are running the `dotnet` command in CMD or PowerShell, you shouldn't see this problem.

For `git-bash`, you will have to run to run the `dot

[2019-05-14 10:07] jakaruna-MSFT commented on #31155
@msfcolombo You can use the `Set-AzureRmVMExtension` cmdlet for resetting a password on a Linux server using powershell.

For more details, refer this [link](https://github.com/Azure/azure-linux-extensions/tree/master/VMAccess#222-resource-manager).

By changing the `$PrivateConf `, you can reset the password for a user.
You can also achieve other tasks which are mentioned [here](https://github.co

[2019-05-14 10:09] PramodValavala-MSFT commented on #31124
@navzam The official recommendation for OpenAPI support in Functions v2 is to use Azure API Management - Consumption Plan. The original [OpenAPI for Functions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-openapi-definition) document has been updated accordingly too.

[2019-05-14 10:12] PramodValavala-MSFT commented on #31079
@KeiroKamioka0000 The APIM gateway is neither aware of nor requires an Azure Subscription to be accessed.

`Subscription`s mentioned here are APIM subscriptions.

[2019-05-14 10:13] VikasPullagura-MSFT commented on #31168
@blueelvis Thanks for the question! We are investigating and will update you shortly.

[2019-05-14 10:15] Saphirim commented on #23201
Same problem here after following the microsoft docs regarding connecting to the CosmosDB using Studio3T: https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account

Please fix the docu...or the bug?

[2019-05-14 10:16] StoyanStAtanasov commented on #31089
@KetanChawda-MSFT Thanks for the answer. I have reviewed the docs in the links.
I had tried OndeDrive trigger for Azure Logic Apps before and I had problems. I had synchronization problems - files and folders not visible until much later. I prefer to avoid using Azure Logic Apps if possible as they add another layer of complexity, monitoring, support, research, etc. I short they seem unreliable to

[2019-05-14 10:18] PramodValavala-MSFT commented on #31085
@xin-feng2 You are right. Thanks for catching that!
Please feel free to open an issue on the [overview doc](https://docs.microsoft.com/en-us/azure/api-management/api-management-key-concepts) for better tracking.

Since this particular doc doesn't require an update, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will g

[2019-05-14 10:18] #31085 closed

[2019-05-14 10:20] jaiminsoni2017 opened #31172 "HTTP/2 does not support Azure CDN Verizon"
I have integrated the Azure CDN Verizon, as per the [doc](https://docs.microsoft.com/en-us/azure/cdn/cdn-http2) it should be support HTTP/2 to Azure CDN Verizon profile. but somehow in my case its not working, I can see only HTTP/1.1 version in request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1737b840-929e-ce74-

[2019-05-14 10:21] jakaruna-MSFT commented on #31155
Above sample is for Resource manager. The same page has sample for classic also

[2019-05-14 10:21] Saphirim opened #31173 "Studio3T having issues connecting to a Auzre Cosmos DB"
After following the Microsoft docs regarding connecting to the CosmosDB using Studio3T: https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account the connection attempt ends with an error: "Not Authenticated"

Please fix the docu...or the bug?

_Originally posted by @Saphirim in https://github.com/MicrosoftDocs/azure-docs/issues/23201#issuecomment-492177178_

---
#### Document Detai

[2019-05-14 10:28] KennieNP opened #31174 "compile against the latest version (0.11.0.0) of Microsoft.Azure.Storage.DataMovement"
To get the examples to compile against the latest version (0.11.0.0) of Microsoft.Azure.Storage.DataMovement, I had to change types CloudBlockBlob to CloudBlockBlob and also change the using statements to
using Microsoft.Azure.Storage;
using Microsoft.Azure.Storage.Blob;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2019-05-14 10:30] SadiqhAhmed-MSFT commented on #31160
@LotusPainter The answer is yes. See "[Move Azure VMs to another region](https://docs.microsoft.com/en-us/azure/site-recovery/azure-to-azure-tutorial-migrate)"

[2019-05-14 10:38] PramodValavala-MSFT commented on #31171
@msghaleb The `Off` option is the default deployment model where APIM is **not** deployed into a user configurable VNET.

All load balancers mentioned here are created and managed for you.

[2019-05-14 10:38] pc87 opened #31175 "Thumbnails not displaying"
followed the instructions however thumbnails are not generating on my web page. everything else works as intended. Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1026434-050e-b1d5-7cac-47cf5d5d2cad
* Version Independent ID: bfb4d3c9-af35-f08b-710a-afc3281e3d87
* Content: [Upload image data in the cloud with

[2019-05-14 10:41] RohitMungi-MSFT commented on #31090
Here is the sample [code ](https://github.com/Azure-Samples/storage-blob-python-getting-started/blob/master/blob_advanced_samples.py)for SAS authentication for python.
The batch prediction for python SDK [client ](https://docs.microsoft.com/en-us/python/api/azure-cognitiveservices-vision-customvision/azure.cognitiveservices.vision.customvision.prediction.custom_vision_prediction_client.customvisio

[2019-05-14 10:43] Jaffacakes82 opened #31176 "Missing documentation on TimeAggregation = Count"
It seems the REST API for creating or updating these metric alerts has changed very recently, forcing a time aggregation of 'Count' to be required in certain scenarios rendering this line out of date:

- Time Aggregation (Statistic that is run over raw metric values. Supported time aggregations are Min, Max, Avg, Total): Average

This caused me quite the headache when trying to deploy these resour

[2019-05-14 10:45] SadiqhAhmed-MSFT commented on #31156
@mayurigupta13 Could you please review the content and confirm if that can be changed to Microsoft peering?

[2019-05-14 10:56] SubhashVasarapu-MSFT commented on #31172
@jaiminsoni2017 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-14 11:01] SubhashVasarapu-MSFT commented on #31159
@georgievaja , Please help with the link of document on which above document feedback request is created.In case your query in not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenario. These forum community members could provide their expert guidance on your scenario based on their experience. Thanks.

[2019-05-14 11:07] VikasPullagura-MSFT commented on #31168
@blueelvis While creating the Container instance you can specify the Environmental variables, memory, size etc. If you have created through Azure Portal, you can [export container group in yaml format](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-export). You can modify the yaml and change the Environmental variables and then use [az container create comm

[2019-05-14 11:12] georgievaja commented on #31159
Ok, I will use MSDN.

[2019-05-14 11:21] AshokPeddakotla-MSFT commented on #31161
@avinashchadalavada Thanks for the feedback! We are currently investigating and will update you shortly.
Please help with the link of document on which above document feedback request is created.

[2019-05-14 11:23] YASWANTHM-MSFT commented on #31175
@pc87, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-14 11:23] tienlx93 opened #31179 "Invalid connection file error"
I got an error "Invalid connection file" when trying to connect to the remote desktop

This issue occurs when username has space (ex: User Name)
The error is: Invalid connection file (Name\AppData\Local\rdclientwpf\xxxxxxx\xxxxx.rdp) specified

When I open the file in C:\Users\User Name\AppData\Local\rdclientwpf\xxxx\xxxx.rdp, it works normally.

---
#### Document Details

⚠ *Do not edit this sect

[2019-05-14 11:24] SadiqhAhmed-MSFT commented on #31176
@Jaffacakes82 Thanks for the comment! We will share this feedback with content owner for further review and update as appropriate.

@snehithm FYI.

[2019-05-14 11:25] femsulu commented on #31011
thanks for the feedback @daspo. Will connect with doc author to explore potential doc enhancements.
@genlin would it be possible to create a backlog item to explore updates to  help clarify the doc?

[2019-05-14 11:25] #31011 closed

[2019-05-14 11:29] YASWANTHM-MSFT commented on #31174
@KennieNP, Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-14 11:29] cephalin commented on #31149
@dcbrown16 Looks like the link went away after the blogs archival. We'll probably need to wait for a more official home. For now I just deleted the link.

[2019-05-14 11:29] cephalin commented on #31149
#please-close

[2019-05-14 11:32] femsulu commented on #30915
@genlin any update plese?

[2019-05-14 11:40] lvjianjunljj commented on #30792
@shashishailaj @MohitDhingra-MSFT
I'm so sorry to say that I have another question about it. For this config,
![image](https://user-images.githubusercontent.com/29011275/57694954-9ee14b80-767f-11e9-9c2f-e2df748404d7.png)
just like the doc: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-v1-nodejs-webapi
and add the setting of audience.
But when I test the auth, I found t

[2019-05-14 11:43] KalyanChanumolu-MSFT commented on #31173
@Saphirim Thank you for letting us know.
Looks like there have been updates to the Studio3T product and the screenshots on the documentation page are not relevant now.

Please copy the Connection string from the portal and use the From URI option as shown in the screenshot below to create the connection

![image](https://user-images.githubusercontent.com/8835012/57695120-0ccf4800-766b-11e9-9bd5-60

[2019-05-14 11:47] thecpshah commented on #31090
Thank you @RohitMungi-MSFT . closing this now.

[2019-05-14 11:50] SadiqhAhmed-MSFT commented on #31179
@tienlx93 Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-14 11:52] marinnedea opened #31181 ""What Linux distributions does Azure Disk Encryption support?" vs Support Scope for ADE on Linux."
There's no clear information related to "What Linux distributions does Azure Disk Encryption support" and "What is supported on Linux Distributions encrypted with ADE".
Well.. actually there is some information.. but is spread across multiple pages, in notes and some warnings, but nothing clear.
And the "What Linux distributions does Azure Disk Encryption support" text seems to mislead most custom

[2019-05-14 11:59] Saphirim commented on #31173
Hi @KalyanChanumolu-MSFT

thank you for the quick response. Even after using the "From URI" option, I'm getting the same error.
Also tried already from an Azure VM to ensure no company proxy inflicting potential problems.

![Error](https://user-images.githubusercontent.com/7426446/57696117-4f375b80-7650-11e9-9b8f-9e8706d5a36f.PNG)

Regards,

Saphirim

[2019-05-14 12:06] mayurigupta13 commented on #31156
Yes, it can be changed to MS peering (all new customers need to have that). Folks who already have public peering set up, can still use that instead of setting up MS peering.

[2019-05-14 12:09] davidekarasek commented on #31144
In the meantime, can someone just write out the steps to make sure that a .Net SendGrid app or service can run under IIS 10 on Azure? Is there any special configuration?

The IIS 7.5 example has irrelevant information since there is no SMTP allowed on Azure, as far as I've been told.  That's the specific clarification I'm looking for, and the reason we're using the SendGrid email service in the fi

[2019-05-14 12:16] Waterfox83 opened #31182 "Incorrectly titled page"
This page is titled 'Feature comparison: Azure SQL Database versus SQL Server' whereas the comparison table compares  sql server features supported by single databases and elastic pools	vs those supported by managed instances. The title should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fb7dad4-ff47-5b1

[2019-05-14 12:29] avinashchadalavada commented on #31161
Link: -
https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob

i have created the setup of the link already. i need a to know is there a way to check the file auto-tieried is uplaoded to the cloud sents back any response saying its uploaded.

boz on that responce i have to delete the file from te blob

[2019-05-14 12:35] dnyaneshlb opened #31185 "Kudu Logs of multiple instances using Local Cache"
Hello,
I have an app service with multiple instances. I have configured Local Cache. I assume that all instances will have their own Local Cached app service data.
When I send request to my app service, only one instance will handle it and it will log the information. So logs will be scattered through the instances over period of time.

Now if I check kudu debug console, it doesn't show me logs sp

[2019-05-14 12:42] alexsmid opened #31186 "Missing Roles"
We just noticed that a couple of your users (with some admin roles in Azure) started getting MFA prompts.
Looking at "Baseline policy: Require MFA for admins" in our Conditional access the roles mentioned there are now:
Global Administrator
SharePoint Administrator
Exchange Administrator
Conditional Access Administrator
Security Administrator
Helpdesk Administrator/Password Administrator
Billing A

[2019-05-14 12:57] jjgriff93 opened #31187 "Probabilities not changing"
Using the code provided, I'm trying to train the model through the feedback loop, indicating for example when afternoon and sweet is selected, user will most likely choose ice cream; however despite multiple loops the probabilities remain as an equal split:
pasta 0.333333343
ice cream 0.333333343
juice 0
salad 0.333333343

There doesn't seem to be any training happening

---
#### Document Details

[2019-05-14 13:03] asadikhan commented on #31013
Like I said I want to understand how data is structured in there. Is it one
large file in there, several small files, etc.?

On Mon, May 13, 2019, 10:20 PM Mike Ubezzi, <notifications@github.com>
wrote:

[2019-05-14 13:03] Anbukugan opened #31188 "azure-arm WinRM Time out"
## Packer azure-arm WinRM Issue

I have included my JSON file below

    {
    "builders": [{
    "type": "azure-arm",

    "client_id": "XXXXXX",
    "client_secret": "XXXXXX",
    "tenant_id": "XXXXXX",
    "subscription_id": "XXXXXX",

    "managed_image_resource_group_name": "test",
    "managed_image_name": "myPackerImage",

    "os_type": "Windows",
    "image_publisher": "MicrosoftWindowsSe

[2019-05-14 13:04] Ayanmullick opened #31189 "Virtual Cluster name"
How do I specify the name of the Virtual Cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b750921-0f6a-6de9-23d7-c40aa6a29ced
* Version Independent ID: 71a46ea4-9d97-a05f-e8c9-a79b7dac1567
* Content: [PowerShell example - create a managed instance in Azure SQL Database](https://docs.microsoft.com/en-us/azure/sq

[2019-05-14 13:11] syedhamjath opened #31190 "Incorrect statement"
https://docs.microsoft.com/en-us/azure/data-factory/enable-aad-authentication-azure-ssis-ir#enable-azure-ad-on-azure-sql-database
Please correct the statement "Next, you need to set an Azure AD user as the Active Directory admin for your Azure SQL Database server and then connect to it on SQL Server Management Studio (SSMS) using that user." as "Next, you need to set an Azure AD user as the SQL Se

[2019-05-14 13:16] alfanse opened #31191 "Scheduled​Enqueue​Time​Utc impact on Deduplicate Messages"
Hi,
I'm trying to establish what happens to a delayed message when deduplication is on.
Consider Message with MessageId: 111, Scheduled​Enqueue​Time​Utc: 10 sec, being sent to a topic that deduplicates.
when
message 2 with MessageId: 111, Scheduled​Enqueue​Time​Utc: 10 sec, at time 9 sec
does this get deduped?
message 3 with MessageId: 111, Scheduled​Enqueue​Time​Utc: 10 sec, at time 11 sec
does t

[2019-05-14 13:25] genlin commented on #30915
@femsulu, There is no list of supported countries in our public sites. I will check with our engineers offline for this question.

[2019-05-14 13:26] ChiragMishra-MSFT commented on #31190
@syedhamjath Thanks for bringing this to our notice. We are currently investigating into the issue and will update you shortly.

[2019-05-14 13:27] MaximRouiller commented on #27453
We should consider reopening this and giving at least **something** in the changelogs.

Did they fix bugs? Did they fix a regression? Was there performance improvements?

No information means to a reader that the doc is outdated.

Just my 2 cents.

[2019-05-14 13:31] fernandojncarvalho opened #31192 "Incorrect PowerShell command descriptions"
The powershell descriptions for "Minimum vCores" and "Autopause delay" are wrong.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-serverless#minimum-vcores

Copy/Paste problem...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46602618-c925-75b6-bf3e-1039f168f141
* Version Independent ID: aa73eb53-55b6-

[2019-05-14 13:32] genlin commented on #31011
@femsulu, I will work with daspo offline for to update the article.

[2019-05-14 13:32] darylglynn commented on #31162
I have the same issue as well, i have also noticed that the parameter "EnableAzureFilesAadIntegrationForSMB" in the powershell Az.Storage module doesn't exist, which is what they give in their guide.

I am currently running 1.3.0 which appears to be the latest version according to https://www.powershellgallery.com/packages/Az.Storage/1.3.0.

[2019-05-14 13:36] KalyanChanumolu-MSFT commented on #31173
@Saphirim I am unable to reproduce this.
Are you able to connect using any other client like Robo 3T?
Is it possible to Regenerate a Password and try again?

[2019-05-14 13:52] darylglynn commented on #31162
Just got it working, i created it through azure cli by running the following from their guide:

az extension add --name storage-preview

az storage account create -n <storage-account-name> -g <resource-group-name> --file-aad true

This created a Storage v1 account i then upgraded to v2 with no issue and enabled "Secure Transfer Required"

[2019-05-14 13:56] mceckstein opened #31193 "Azure Access Control reference"
Azure Access Control service was deprecated a long time ago.  Mentions of it should probably be removed from the Azure Notification Hub documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6772544-9a3d-c24c-cdc4-0ffc7cab680f
* Version Independent ID: 78f6255c-4195-bd81-cac8-78afe3dae716
* Content: [Notificati

[2019-05-14 13:56] Japeth commented on #31140
https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-v10?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

is the article

[2019-05-14 14:00] Japeth commented on #31140
/reopen

[2019-05-14 14:01] rajdhandus opened #31194 "Update the Keys snapshots with the new UI Design"
Keys is now Certificates and Secrets

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11aaa091-1108-52f6-0066-0f4e939aeef4
* Version Independent ID: dbc7e37e-87a7-c124-3e4c-47aa060e6cf3
* Content: [Create identity for Azure app in portal](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-servic

[2019-05-14 14:04] juanp3053 commented on #26079
I'm in need of the same functionality as @bernitorres @FabianGCZ. Have any of you found a way to do this, or has it been a functionality already added?

[2019-05-14 14:06] thecpshah commented on #31090
Hi @RohitMungi-MSFT a question on Prediction API: how is it deployed? Is it an instance of ACI or AKS? do I need to export the model and redeploy it using ACI or AKS?

[2019-05-14 14:09] gopala000 commented on #31132
Thanks for the quick response. This is helpful. My questions were about Azure Storage table. I understand the difference between encryption at rest and client side encryption.

[2019-05-14 14:15] rajatvijay commented on #30899
@erhopf @ArcherAZ any idea when it will the fix for this made live/deployed to production?

Kind of blocked on this thing

[2019-05-14 14:17] slandsaw commented on #16739
@nloke Do you have an example or link to docs for how to do that?

[2019-05-14 14:18] nicklasfrahm opened #31195 "Outdated code for SAS token generation"
The code for generating SAS tokens with node could need an update as the `new Buffer()` API is long deprecated and should be replaced by `Buffer.from()`. The code that I can come up with is the following:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5abe8bb4-f610-0800-6ad8-b78349018779
* Version Independent I

[2019-05-14 14:23] fullyfuly commented on #5850
![Azure Google](https://user-images.githubusercontent.com/50628202/57705558-087a3f00-7619-11e9-9944-505ddb6c3bc0.jpg)
So do I have to contact the Azure team if OrgUnitPath isn't a Target Attribute option or am I looking in the wrong spot?  It is under user provisioning, correct?

[2019-05-14 14:27] idontusenumbers commented on #31136
@MohitDhingra-MSFT @eross-msft There is no evidence that suggests that aka.ms is internal or microsoft controlled without significant research. That's like chase bank saying "it's okay to enter your bank account credentials on cha.se because we control it". There's no way for even a tech-savvy user to verify it's a Microsoft domain because it immediately redirects to a different domain so the cert

[2019-05-14 14:27] nicklasfrahm opened #31196 "Code example for receiving telemetry data via AMQP"
Hi,

we are currently trying to integrate with the native AMQP endpoint of the Azure IoT hub. However, we are experiencing issues, when authenticating. It would be nice to have an example of how to connect to the Azure IoT hub via the nodejs client library `rhea`.

On another note, it could make sense to have the default link path (`/messages/events`) documented here, as I had to dig through a lot

[2019-05-14 14:33] nloke commented on #16739
Try
https://docs.microsoft.com/en-us/powershell/module/azurerm.network/set-azurermvirtualnetworksubnetconfig?view=azurermps-6.13.0

[2019-05-14 14:39] SubhashVasarapu-MSFT commented on #31159
@georgievaja , We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-14 14:39] #31159 closed

[2019-05-14 14:43] MarkDordoy commented on #30809
Any update on this? Id like to use it but I want to wait for GA

[2019-05-14 14:47] dsindona commented on #30683
@josefree please see the response above

[2019-05-14 14:48] bertrandpons commented on #30976
@YutongTie-MSFT do you have an update about your investigation? Thank you!

[2019-05-14 14:52] SadiqhAhmed-MSFT commented on #31196
@nicklasfrahm Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 14:53] NArnott opened #31197 "ClustergMSAIdentity Format"
When specifying the gMSA identity, there is a note that states: "mysfgmsa@mydomain" [is] invalid", since the domain is implied. However, when I try to create a cluster using only the identity name it produces the following error:

`System.Fabric.FabricDeployer.ClusterManifestValidationException: Cluster manifest validation failed with exception System.ArgumentException: Invalid RunAs section: para

[2019-05-14 15:00] SadiqhAhmed-MSFT commented on #31195
@nicklasfrahm Thanks for the feedback! We will investigate on this issue and get back to you soon.

[2019-05-14 15:03] SadiqhAhmed-MSFT commented on #31194
@rajdhandus Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

[2019-05-14 15:03] YutongTie-MSFT commented on #30976
@bertrandpons Thank you for your follow-up and sorry for the delay. @himanshusinha-msft is working on it. I believe there should be an update shortly.

[2019-05-14 15:04] johnwildes opened #31198 "Powershell Needs updating"
The powershell examples for failling over, planned failover, unplanned over with single vm and recovery plan all need updating.  None of those cmdlets exist.  I'm running current Az module which is listed at the beginning of this document.

Example
Get-AzSiteRecoveryServer
Get-AzSiteRecoveryNetwork
Get-AzSiteRecoveryProtectionEntity
Get-AzSiteRecoveryRecoveryPlan
Start-AzSiteRecoveryPlannedFailove

[2019-05-14 15:05] qianw211 commented on #30739
@mattwojo Hi Matt, could you please look into this issue?  Thanks!

[2019-05-14 15:05] SadiqhAhmed-MSFT commented on #31103
@AdamWorkAccount Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:06] bnb commented on #27453
+1 to @MaximRouiller. We should absolutely be shipping changelogs even if they're absolutely trivial changes for something that is soon-to-be legacy.

Since it was mentioned that the only change from 5.7 to 5.8 and 5.8 to 5.9 is a simple dependency (service version) update, the additional entries should be relatively simple ❤️

I'd suggest something along the lines of the following, and would be h

[2019-05-14 15:08] SadiqhAhmed-MSFT commented on #31181
@marinnedea Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

[2019-05-14 15:10] juanp3053 commented on #8179
Me too, have you found a solution? @chaitualladi @FabianGCZ

[2019-05-14 15:11] SadiqhAhmed-MSFT commented on #31182
@Waterfox83 Thanks for the comment! We will check on this and update as appropriate.

[2019-05-14 15:12] johnwildes opened #31199 "Powershell Cmdlets don't exist"
Why do you use cmdlets here that are not documented?  It appears that these are alias for the acutal Az.RecoveryServices powershell modules.  Some of them work, but some of them  like Get-AsrFabric do not.  This whole automation section is a hot mess because of this, it's not just this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-05-14 15:12] SadiqhAhmed-MSFT commented on #31185
@dnyaneshlb Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:14] SadiqhAhmed-MSFT commented on #31186
@alexsmid Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:15] SadiqhAhmed-MSFT commented on #31187
@jjgriff93 Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:16] SadiqhAhmed-MSFT commented on #31191
@alfanse Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:18] SadiqhAhmed-MSFT commented on #31189
@Ayanmullick Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:20] SadiqhAhmed-MSFT commented on #31192
@fernandojncarvalho Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-14 15:21] orspod commented on #31046
#please-close

[2019-05-14 15:35] ggailey777 commented on #31114
This should be fixed this am (~10:30 PDT). #please-close

[2019-05-14 15:39] tikicoder opened #31200 "Storage limits"
None of the database limits pages has any mention about storage. Which could lead someone to believe there is no max.
In order to find the difference storage max, I had to use the Pricing Calculator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 528deb7f-fe1c-f2af-68b3-18d74eb570d4
* Version Independent ID: 81880132-c

[2019-05-14 15:41] navzam commented on #31124
@mike-urnun-msft I'm referring to the ["Call a function from Microsoft Flow"](https://docs.microsoft.com/en-us/azure/azure-functions/functions-flow-scenario) doc.

@PramodValavala-MSFT The doc I linked above led me to [export the API definition](https://docs.microsoft.com/en-us/azure/azure-functions/functions-flow-scenario#export-an-api-definition) via **Platform features -> API definition**, but

[2019-05-14 15:45] RohitMungi-MSFT commented on #31090
Once you publish your iteration the prediction API details are available. Currently the platform on which it is deployed is not made public as users only have access to the API. You can only export models which use compact domain as docker files and run them using ACI or AKS if required.

[2019-05-14 15:45] terrymandin opened #31201 ""Create Datasets" section has changed"
The "Create Datasets" section of this document is no longer in alignment with the UI.  There are other small differences between the tutorial and the UI as well.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f2edef-d233-6125-1499-7f55d86ecb0c
* Version Independent ID: e994602f-882a-327e-9333-4d1cf2c89006
* Content:

[2019-05-14 15:54] JoelCBennett opened #31202 "Incremental Mode Description Incorrect?"
The description of 'Incremental Mode' appears to be incorrect.  It states that one must include all parts of a template, or else they will be deleted.  The example that follows directly contradicts this.  I believe the description wording for Incremental actually refers to 'Complete'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-05-14 15:58] SumanthMarigowda-MSFT commented on #30691
@sngupt Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-14 15:58] #30691 closed

[2019-05-14 16:01] aljo-microsoft commented on #31048
@Darko-git
The doc is correct.

"In this scenario, you start with the existing single-node type external load balancer, and add an internal load balancer for the same node type."

Doc Ref:
https://docs.microsoft.com/azure/service-fabric/service-fabric-patterns-networking#internal-only-load-balancer

I collaborated with MarekLani on this: https://github.com/MarekLani/AzureServiceFabricWithLoadBalan

[2019-05-14 16:02] shashishailaj commented on #30802
@ManuelMos Apologies for the late reply. Could you please email us at azcommunity [at] microsoft [dot] com along with your Azure subscription ID and we will help you with alternative support options.

Thank you.

[2019-05-14 16:02] SumanthMarigowda-MSFT commented on #30869
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 16:02] #30869 closed

[2019-05-14 16:02] SumanthMarigowda-MSFT commented on #30882
@KeiroKamioka0000 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 16:02] #30882 closed

[2019-05-14 16:03] aljo-microsoft commented on #31049
@Darko-git
The doc is correct, and additional content provided in your other issue:
https://github.com/MicrosoftDocs/azure-docs/issues/31048

@MicahMcKittrick-MSFT
#please-close

[2019-05-14 16:04] KalyanChanumolu-MSFT commented on #31200
@tikicoder Thank you for the feedback.
This issue is being assigned to the content author to evaluate and update as appropriate.

[2019-05-14 16:08] PatAltimore commented on #31158
@phamquocthang Good catch. I'm just going to remove the sentence. It should have been removed when the sample was updated.

I made the change. It should be published soon.

Thanks,
Pat

#please-close

[2019-05-14 16:09] Mike-Ubezzi-MSFT commented on #30982
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-14 16:09] #30982 closed

[2019-05-14 16:12] aljo-microsoft commented on #30034
@johnthcall
Absolutely:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/76675

Will merge it shortly

[2019-05-14 16:16] tfitzmac commented on #31202
@JoelCBennett - are you referring to these sentences "When redeploying a resource in incremental mode, specify all property values for the resource, not just the ones you're updating. If you don't specify certain properties, Resource Manager interprets the update as overwriting those values." ? If so, the description is correct because it is focused on properties within a resource.

[2019-05-14 16:17] tpeiffer opened #31203 "Remove Immutability Policy"
Hello.

After locking an immutability policy, can the subscription administrator remove the lock if, for some reason it becomes necessary?

I thought I read that in the original documentation that announced this feature as available for preview.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50d6e6f6-8e0d-2d98

[2019-05-14 16:18] btardif commented on #27087
@trolleyboy PR has been merged and changes should be live later today

[2019-05-14 16:18] jwargo commented on #30964
@spelluru Do you mind taking a look at this from an update standpoint?

[2019-05-14 16:18] Mike-Ubezzi-MSFT commented on #31037
We were just helping another customer with the same issue. If you are deploying a Cosmos DB instance for the first time via ARM, the Container throughput settings can be passed in the mail ARM template as an option. If yu wish to make changes to an existing throughput at the collection, you need to pass throughput settings in a property file. Please, see this GitHub [issue](https://github.com/Micr

[2019-05-14 16:18] KalyanChanumolu-MSFT commented on #31192
@fernandojncarvalho Thank you for pointing out the issue, I have updated the doc accordingly.
The changes should be live EOD or tomorrow. We will close this issue now.

In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. We love taking contributions from the community. 

[2019-05-14 16:19] JoelCBennett commented on #31202
If you are Obi-Won, I guess that does make sense 'from a certain point of view'.  :P  From a resource-level perspective it is the exact opposite (which is discussed in the example immediately following).

[2019-05-14 16:22] tfitzmac commented on #31082
@bwren  or @georgewallace - do you have a contact you can pass on this Monitor PowerShell feedback to?

[2019-05-14 16:24] #31046 closed

[2019-05-14 16:24] markjbrown commented on #31037
Yes, we are investigating a bug in our RP currently and will be deploying a fix to this very shortly. I will update you here when this is deployed.

Thanks.

[2019-05-14 16:25] Mike-Ubezzi-MSFT commented on #31037
Thanks for the additional feedback! I have assigned the issue to the content author to evaluate and update as appropriate. @rimman @SnehaGunda @markjbrown

[2019-05-14 16:26] #31192 closed

[2019-05-14 16:30] moeflam opened #31204 "Guidance for users?"
We are comparing this feature with 3rd party tools.  They will typically tell the user why the password failed inspection.  For this, there is one message regardless (under 'what do users see').  I understand there needs to be a balance of providing too much information, but I'm struggling with what to tell the average end user if they're proposed password fails inspection.  'Try another password'

[2019-05-14 16:36] jwargo commented on #31193
@spelluru can you update this?

[2019-05-14 16:44] Darko-git commented on #31048
@aljo-microsoft Thanks for the info. I think my problem was that I followed the original blog post that was written before the LB SKUs.

[2019-05-14 16:44] #31048 closed

[2019-05-14 16:44] #31049 closed

[2019-05-14 16:46] mrfnord opened #31206 "Documentation does not match the current look and navigation of Azure Devops"
The step by step instructions refer to several navigation options that don't exist or have been renamed.
1-2. There is no "Build pipelines" optionor "Status". - should be Pipelines? then Build?
10. There is no "Build and Release".
12. There is no "Drop" option.
13. Where is the "CI trigger"?

This page really needs screenshots to show which of the 6 ellipses it's referring to.

---
#### Document D

[2019-05-14 16:46] YutongTie-MSFT commented on #30963
@ryanlengel Hi, you should see the change now, thank you for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-14 16:46] #30963 closed

[2019-05-14 16:48] Mike-Ubezzi-MSFT commented on #31013
@asadikhan If you load the data to the external tables and then right-click on that specific table, you will see the full path to the data file. I believe there is a separate .csv file per table.

I hope this helps.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-14 16:48] #31013 closed

[2019-05-14 16:53] MisinformedDNA commented on #31118
They link to the [best page](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2).

Injection has to happen on object creation, so constructors make the most sense. (There is also a concept of property injection, but that ends up as less than ideal.)

[2019-05-14 17:02] tamram commented on #31174
@KennieNP - Thanks for pointing this out. I am already in the process of fixing the issue, and it should go live soon.

[2019-05-14 17:15] MicahMcKittrick-MSFT commented on #31206
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-14 17:16] MicahMcKittrick-MSFT commented on #31197
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-14 17:17] MicahMcKittrick-MSFT commented on #31188
@Anbukugan please provide me with the link to the document you are following so I can better assist.

[2019-05-14 17:17] CarlRabeler commented on #31200
@KalyanChanumolu-MSFT please assign to @stevestein

[2019-05-14 17:18] KranthiPakala-MSFT commented on #31201
@terrymandin  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate.

[2019-05-14 17:18] jwargo commented on #16461
@spelluru any pending updates based on this conversation?

[2019-05-14 17:21] tfitzmac commented on #31202
Thanks for the feedback. I have broken the Incremental mode section into two paragraphs and added text to clarify the differences. It should get published this afternoon. Here is the new text:

In incremental mode, Resource Manager leaves unchanged resources that exist in the resource group but aren't specified in the template.

However, when redeploying an existing resource in incremental mode, t

[2019-05-14 17:23] #31202 closed

[2019-05-14 17:28] spelluru commented on #16461
@jwargo - I had tested and updated the tutorial a month ago. I can test it again and see if there's an issue. Thanks.

[2019-05-14 17:28] roygara commented on #30260
Hello @mtwelve , thanks for reaching out to us. I just finished going back and forth with the product team on this and it turns out it's a little more complicated than it appears.

ACLs aren't currently stored with the original files and will only be used for evaluation in very specific instances. For example, if you have ACLs on a file that were established on an entity that wasn't AAD DS joined

[2019-05-14 17:29] stevestein commented on #28871
@snobles - thanks for the feedback!  Elastic jobs runs T-SQL statements, so as long as the statement is valid for the target database you're executing against, then the statement should succeed.

Thanks!

[2019-05-14 17:29] stevestein commented on #28871
@Mike-Ubezzi-MSFT - #please-close

[2019-05-14 17:29] JoelCBennett commented on #31202
Awesome, Tom.  You are blazing-fast at this stuff.  Your edit makes it clearer to me for sure.

[2019-05-14 17:34] SaurabhSharma-MSFT commented on #30827
@butchmarshall Please open a [Azure Support Ticket](https://aka.ms/azsupt) so that a dedicated Identity Support engineer can check further on this issue. In case you limitations in your support plan to open support ticket please let me know and I will create a one time free support ticket for you.

[2019-05-14 17:39] danieladams456 opened #31209 ""alg" Validation"
&gt; Tokens issued by Azure AD are signed using industry standard asymmetric encryption algorithms, such as RSA 256

I see that currently ID and Access tokens are signed with the `RS256` algorithm.  To prevent token forgery via changing the algorithm to `none` or a symmetric algorithm using one of Microsoft's published public keys, we need to verify the algorithm used.

I also don't want to cause

[2019-05-14 17:40] rbavery opened #31210 "Can't find publisher, sku, etc. information for dlvm"
I'm trying to define terraform scripts to spin up the DLVM. I can find the info for the dsvm under the microsoft-ads publisher and the microsoft-dsvm publisher but I can't find which publisher supports the dlvm. I've checked powershell, the dlvm marketplace page, these docs, and terraform's docs and github and can't find anything.

I need to fill in the plan and storage image reference

[code]

wh

[2019-05-14 17:45] BryanTrach-MSFT commented on #31193
@mceckstein Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-14 17:47] CarlRabeler commented on #30628
@Mike-Ubezzi-MSFT please assign to @VanMSFT

[2019-05-14 17:48] craigshoemaker commented on #30888
I have contacted the Product Team regarding this issue. I will update as I get more detail.

[2019-05-14 17:57] Karishma-Tiwari-MSFT commented on #30769
@jpsebasti Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-14 17:57] #30769 closed

[2019-05-14 17:58] ggailey777 commented on #30697
Sorry for the inconvenience. As you know, PowerShell support for Azure Functions is just now in preview, and the docs are not fully caught up.
@eamonoreilly do we have somewhere we can point customers for this information until we have PowerShell examples added to the Functions binding reference articles?

[2019-05-14 18:00] Anbukugan commented on #31188
@MicahMcKittrick-MSFT I followed the guide form these websites below
https://packer.io/docs/builders/azure.html

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/build-image-with-packer

[2019-05-14 18:03] Mike-Ubezzi-MSFT commented on #28871
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-14 18:03] #28871 closed

[2019-05-14 18:09] SaurabhSharma-MSFT commented on #30464
@todayppp We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-14 18:09] #30464 closed

[2019-05-14 18:14] YutongTie-MSFT commented on #31210
@rbavery Thank you for the feedback, we will investigate it and get back to you soon.

[2019-05-14 18:15] ggailey777 commented on #31124
@navzam sorry for missing that. We will add a note to this article also. We are currently evaluating how to best update both articles to use API Management integration instead of the old OpenAPI preview.

\+ @eamonoreilly for awareness.

[2019-05-14 18:17] AjayKumar-MSFT commented on #30964
@dcbrown16, Thanks for sharing more details, we had been discussing on this internally and have assigned the issue to a content author to review further and update the document as appropriate.

[2019-05-14 18:18] rbavery commented on #31210
Thanks! The reason I need the dlvm is that the tensorflow programs I use on the dsvm don't use the GPU, even though it is advertised on the dsvm marketplace page that the frameworks have the gpu versions installed. Here are my terraform scripts that are currently set to spin up an N series GPU using the dsvm. https://github.com/ecohydro/CropMask_RCNN/blob/master/terraform/azure_dsvm.tf

[2019-05-14 18:20] Adam-Smith-MSFT commented on #31203
@tpeiffer once a policy is locked it cannot be deleted/unlocked, only extensions of the retention interval will be allowed. Blob deletes and overrides are not permitted. Does this answer your question ?

Thanks,
Adam

[2019-05-14 18:22] iainfoulds commented on #30753
@Karishma-Tiwari-MSFT Max pods should be 250, however the engineering updates are still rolling out.

[2019-05-14 18:22] RichardKForester opened #31213 "Example doesn't work"
Hello.  I am new to using Azure Cloud Shell (normally use PowerShell locally).  I am running into issues trying to get the example to work.  First, the language about what to do seems incorrect.  It says "If you choose to install and use the PowerShell locally instead of from the Azure Cloud shell, this tutorial requires the Azure PowerShell module. Run Get-Module -ListAvailable Az to find the ver

[2019-05-14 18:25] iainfoulds commented on #31081
The feature registration tells the cluster to only pull core system images from container image repositories housed in the Microsoft Container Registry (MCR). Otherwise, clusters could try to pull container images for the core components from external repositories. There is some additional routing that also occurs for the cluster to do this. The list of ports and addresses are then what's required

[2019-05-14 18:26] MicahMcKittrick-MSFT commented on #31131
I will close this out for now but if you have more questions just let me know or ping me offline :)

[2019-05-14 18:26] #31131 closed

[2019-05-14 18:30] iainfoulds commented on #31099
Thanks for the feedback. Primary focus on the docs at the moment is CLI. Many of the operations are within the cluster itself, so there is no template support for it. Enabling pod security policy or enabling authorized IP address ranges are a single parameter in the template, as documented here - https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-02-01/managedclusters

[2019-05-14 18:31] Alberto-Vega-MSFT commented on #31040
@nageswarysv It seems like that code sample is outdated/broken. You will need to fix this part
 `signature = b64encode(HMAC(b64decode(key), sign_key, sha256).digest())`
Please see
https://stackoverflow.com/questions/55511450/typeerror-unicode-objects-must-be-encoded-before-hashing-in-python-for-azure-io
https://stackoverflow.com/questions/5292273/hash-unicode-string-in-python

[2019-05-14 18:32] MartinJaffer-MSFT commented on #30737
#30738

[2019-05-14 18:32] MartinJaffer-MSFT commented on #30738
#30737

[2019-05-14 18:33] Alberto-Vega-MSFT commented on #31195
Python is broken/outdated too this line of code "Unicode-objects must be encoded before hashing".

 `signature = b64encode(HMAC(b64decode(key), sign_key, sha256).digest())`

[2019-05-14 18:35] himanshusinha-msft commented on #30976
@bertrandpons : We were not able to repro the issue at our end , I am going to give it a try again today and let you know that goes .

[2019-05-14 18:35] MicahMcKittrick-MSFT commented on #31213
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-14 18:36] MartinJaffer-MSFT commented on #30737
@Anmolgan81 since i have been unable to help you, I will offer a 1-time free support ticket.  Please send an email to AzCommunity@microsoft.com
In the email, include reference to these two github issues, your subscription id, and my name.  Once I get the email I will enable your support.

[2019-05-14 18:36] #30737 closed

[2019-05-14 18:36] MicrosoftGuyJFlo commented on #30582
They will be able to use their alternate method as long as they have one registered.

[2019-05-14 18:36] MartinJaffer-MSFT commented on #30738
Combine with #30737  please.

[2019-05-14 18:36] #30738 closed

[2019-05-14 18:37] mattruma opened #31215 "Example of testing HttpTrigger with body"
Trying to create a test for an HttpTrigger with a body, I am able to create a DefaultHttpRequest with a body, but when I make the call to the function, the body is not there.

Anyway, maybe an example of testing an HttpTrigger with a body would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a571957f-41ce-e7

[2019-05-14 18:37] #31124 closed

[2019-05-14 18:37] Anmolgan81 commented on #30737
Sure will do it.

From: MartinJaffer-MSFT <notifications@github.com>
Sent: 15 May 2019 00:06
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Anmol Ganju <anmol.ganju@ifi.tech>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How to block access to specific tables for certain roles? (#30737)

@Anmolgan81<https://github.com/Anmolgan81> since i have been

[2019-05-14 18:38] MicahMcKittrick-MSFT commented on #30764
@TeunRoefs I will assign this to the content author to review and see if we need to update the doc or wait on any product to be fixed.

[2019-05-14 18:40] VanMSFT commented on #30628
@alexmbaker - Hi Alex, was your concerns addressed? Please let us know if you have any questions.

[2019-05-14 18:40] mike-urnun-msft commented on #31124
Hi @navzam Looks like the PR is created and is pending merge so we should see the change pretty soon :)
As such, we will now proceed to close this thread for now. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-14 18:40] Karishma-Tiwari-MSFT commented on #30849
@artisticcheese Thanks for bringing this to our attention. I have communicated this portal bug with the product team. I will share as soon as I have an update on this.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-05-14 18:40] #30849 closed

[2019-05-14 18:44] navzam commented on #31124
That was fast, thanks all!

[2019-05-14 18:51] dchapdelaine commented on #27877
I think the documentation would benefit from your clarification about DaemonSet. We have customers taking this at face value, configure the nodes and then are surprised when these changes are lost when the cluster is scaled out/in or the kubernetes version upgraded.

[2019-05-14 18:51] tpeiffer commented on #31203
@Adam-Smith-MSFT, yes it does, and that is what I thought.  However, this document starts out saying that the policy cannot be removed, then tells me about these nifty Az PowerShell cmdlets that can, ahem, REMOVE the policy.

I would suggest that the document owners add notes to the PowerShell cmdlet example that specifies when the command is valid.  Something like "Remove an UNLOCKED immutability

[2019-05-14 18:52] SnehaGunda commented on #29740
@christopheranderson can you please take a look at this issue ?

[2019-05-14 18:54] jay98014 commented on #31204
Hi @moeflam,

Azure AD Password Protection does not currently provide an improved (actionable) user error message.   The error message in the "What do users see" section is actually the standard Windows client error message.  Our current recommendation when deploying AADPP is to pre-educate users of the changes via out-of-band communication.  You can also refer to Microsoft's standard password gui

[2019-05-14 18:55] Karishma-Tiwari-MSFT commented on #30753
@doug-fish I have created a PR with the update and changes will be live shortly.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/76716

[2019-05-14 18:55] eamonoreilly commented on #30697
You would need to use the Table Storage module (AzTable) https://docs.microsoft.com/en-us/azure/storage/tables/table-storage-how-to-use-powershell#managing-table-entities to update existing entities. Bindings do not currently support it https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table#output
Thanks,
Eamon

[2019-05-14 19:00] rbavery opened #31218 "missing instructions for uninstalling Azure File Explorer 1.7 for linux"
It is probably easiest to uninstall 1.7 and install 1.8 for those of us who installed a newer version of .NET. But I can't find instructions on docs for this. Do I just delete the folder containing the File Explorer?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06b6cadc-f93d-75de-7611-b1e3d80917e2
* Version Independe

[2019-05-14 19:04] MarileeTurscak-MSFT commented on #31209
@danieladams456
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-14 19:05] YutongTie-MSFT commented on #26261
@gerardEsteve We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 19:05] #26261 closed

[2019-05-14 19:06] MarileeTurscak-MSFT commented on #31204
Thanks @jay98014

We will now proceed to close this thread. If you have further questions feel free to tag us in the comments and we will gladly continue the discussion.

[2019-05-14 19:06] #31204 closed

[2019-05-14 19:07] YutongTie-MSFT commented on #28692
@pospanet We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 19:07] #28692 closed

[2019-05-14 19:07] Alberto-Vega-MSFT commented on #31195
@nicklasfrahm Would you like to create a PR for the author to review? Or should we assign the issue to the content author to evaluate and fix it himself?

[2019-05-14 19:08] YutongTie-MSFT commented on #23166
@rboy1 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 19:08] #23166 closed

[2019-05-14 19:11] #29230 closed

[2019-05-14 19:11] YutongTie-MSFT commented on #29230
@BeMor81 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 19:12] nicklasfrahm commented on #31195
@Alberto-Vega-MSFT I'd love to, but my problem is that I do not have a test case or anything that I can use to verify my implementation. I could submit a PR, but it has to be verified by somebody, who knows how it is supposed to work.

[2019-05-14 19:14] mganeshphani opened #31219 "Are pre-warm instances considered assigned from cost point of view?"
Hello,

in case I have 2 pre-warmed instances and additional 2 instances currently running.. will I be charged for 4 of them.. though I did not use the 2 pre-warmed instances?

-Ganesh M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3847e16b-92ae-0202-c7e1-ca9a8474e65f
* Version Independent ID: a25b6b5b-05ab-b3b2-616

[2019-05-14 19:16] vad2der opened #31221 "Can not create storage account"
Following documentation (https://docs.microsoft.com/en-us/azure/storage/common/storage-quickstart-create-account?tabs=azure-portal) says that after step 2 (**Add** in _Storage Accounts_) there supposed to be a form. I get only "Create a free account" link. Since I already have an account I am stuck here...
![Selection_033](https://user-images.githubusercontent.com/10161190/57725076-7dfe0380-7649-1

[2019-05-14 19:16] YutongTie-MSFT commented on #30413
@HolyChris Any update? Please tell us if you have solved your problem. Thank you.

[2019-05-14 19:18] YutongTie-MSFT commented on #28344
@aahill @rlagh2 Hi team, do we have any update? Thank you.

[2019-05-14 19:18] Adam-Smith-MSFT commented on #31203
Thanks for the feedback Thad, I'll assign it as Doc-Enhancement for the Documentation team.

[2019-05-14 19:26] paulshealy1 commented on #31210
@rbavery I just tested the VM image you're using on an NC6 VM. TensorFlow is able to find the GPU in both the py35 and py36 conda environments when I run the [log device placement](https://www.tensorflow.org/guide/using_gpu) sample. Does _nvidia-smi_ show a GPU? And how are you identifying that TensorFlow doesn't use the GPU?