[2020-07-22 05:06] takeakitake opened #59472 "SSPR on Microsoft 365 Business Basic"
In this docs  written as "Basic SSPR features are available in Microsoft 365 Business Standard or higher and all Azure AD Premium SKUs at no cost.".

https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-licensing

But the matrix in this document indicates that we can use "Self-service password reset for cloud users" feature by "OFFICE 365 APPS"

https://azure.microso

[2020-07-22 05:32] tjkb commented on #53114
As written in the original post, I get the following error message that mentions 25

[2020-07-22 05:43] t-jaxian opened #59473 "Trailing comma on TensorFlow tutorial"
[Enter feedback here]
Why is this line

[code]

I think there shouldn't be a comma after 'predictions'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dd7d5-dd8b-4a75-5d79-0ba621a847cd
* Version Independent ID: 3cca3535-1c16-2da1-46c6-421cbf808bc3
* Content: [Tutorial: Run TensorFlow model in Python - Custom Vision

[2020-07-22 05:45] Prabhakar96-dev opened #59474 "Unable to Update application manifest using REST API and PowerShell"
I'm trying to update manifest file using REST API and PowerShell, both are not working.
In my case I tried to update the **"signInAudience":"AzureADandPersonalMicrosoftAccount"** it's throwing an exception.

**Reference** [REST API](https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http)
**REST API:** https://graph.microsoft.com/v1.0/applications/{id}
**Request

[2020-07-22 05:46] pnarsi opened #59476 "Does Premium plan also use Azure File Storage to host Functions code and binding configuration?"
This pages makes mention of Function code and Binding Configuration files being stored in Azure File Storage for the **Consumption** hosting plan. Is this true for Functions **Premium** hosting plan as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4d93f2d-6c04-7fc6-3f86-5ea7f9cca5c4
* Version Independent ID: 77

[2020-07-22 05:47] CHEEKATLAPRADEEP-MSFT commented on #59471
@rgamage Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-22 06:05] #58928 closed

[2020-07-22 06:13] Mike-Ubezzi-MSFT commented on #59100
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-22 06:13] #59100 closed

[2020-07-22 06:17] dcale opened #59477 "Docs wrongly states seamless SSO is not enabled/supported for ios"
The seamless SSO functionality actually works on iOS today, even though the page wrongly states it does not support it. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7549d4d-3939-8768-c81d-392861261d1f
* Version Independent ID: 23219c24-c721-1e59-0fb6-9e360fbe8dad
* Content: [Azure Active Directory Connect: Trou

[2020-07-22 06:26] ramya-rao-a opened #59478 "Need Notification Hub samples for node"
https://docs.microsoft.com/en-us/azure/notification-hubs/samples is the page that talks about having links to samples that demonstrate key features in Azure Notification Hubs.

There is a node.js SDK for this service, but no samples for it exist or if they do, they are not linked from this page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-07-22 06:27] BhargaviAnnadevara-MSFT commented on #59311
@pnarsi Thank you for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-07-22 06:27] VikasPullagura-MSFT commented on #59388
@Crazedpeanut

Please see similar issue [here](https://github.com/MicrosoftDocs/azure-docs/issues/56057#issuecomment-647264990).
The --logtostderr --set installPackagePath=./install/kubernetes/operator/charts bit was originally added in to resolve:

MicrosoftDocs/azure-docs - issue #45252 - Problems with istioctl command on window
istio/istio - issue #19020 - istioctl install fails on windows
It l

[2020-07-22 06:28] ryotatomioka opened #59479 "Please provide an example of ServicePrincipalAuthentication with certificate / private key"
From the docstring it looks like `service_principal_password` could accept a private key but I get the error `AADSTS7000215: Invalid client secret is provided` if I try something like the following:
[code]

I followed the instruction for obtaining a bearer token and the following:
[code]
with the same private_key and SHA1 finger print of the certificate gives me
[code]
which looks valid.

Could yo

[2020-07-22 06:28] nitinrkz commented on #59331
@hpsin

Yes, I validated this,  once you remove Scope Completely it works fine, otherwise, it keeps throwing this error.
Also, if you have requested to access the scope during the authorize phase, you don't really need to resend it.

The same can be verified by decoding the JWT Access token,  there is a Scope Key which has the consented items in it.

[2020-07-22 06:32] souravmishra-msft commented on #59477
@dcale, Thank you for sharing the update. We are looking into this and would get back to you soon.

[2020-07-22 06:32] SnehaAgrawal-MSFT commented on #56099
@jvanderbiest Apologize for late response here! We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question in [Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-functions.html) or perhaps in the [Functions repo](https://github.com/azure/azure-functions

[2020-07-22 06:32] #56099 closed

[2020-07-22 06:33] HarshitaSingh-MSFT commented on #59215
Hello @hem-sharma, Just checking in to see if you have had a chance to see the previous response. Do let us know if this helps and if there are any more queries around this.

[2020-07-22 06:44] slavizh commented on #59033
@tfitzmac @BhargaviAnnadevara-MSFT I am not sure how you have tested this but it does not work for me. For example:

- if you are creating the resource group via Microsoft.Resources/resourceGroups type and you do not specify tags property (on Microsoft.Resources/resourceGroups ) at all when you try to call resourceGroup().tags you get error like "message": "Unable to process template language expr

[2020-07-22 06:46] HemantChandurkar commented on #24645
We want to understand the difference bet trigger types using examples. I created 2 triggers - one Scheduled another tumbling at interval of 5 mins. Both ran at specified interval. Also did not find any issue when instance of earlier execution was still Running. New instance for both pipes (concurrency) got created.
I also tried with retry settings at Copy activity. For both triggers it worked.
I r

[2020-07-22 06:48] SnehaAgrawal-MSFT commented on #59203
@Rick-Anderson We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion.

[2020-07-22 06:48] #59203 closed

[2020-07-22 06:48] HemantChandurkar opened #59481 "Need examples to understand the difference between trigger types"
We want to understand the difference bet trigger types using examples. I created 2 triggers - one Scheduled another tumbling at interval of 5 mins. Both ran at specified interval. Also did not find any issue when instance of earlier execution was still Running. New instance for both pipes (concurrency) got created.
I also tried with retry settings at Copy activity. For both triggers it worked.
I r

[2020-07-22 06:49] SadiqhAhmed-MSFT commented on #59284
@narpur2127  We haven't heard back from you. Please share more details so that we can take appropriate action.

[2020-07-22 06:49] SnehaAgrawal-MSFT commented on #59204
@Rick-Anderson Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-07-22 06:50] BhargaviAnnadevara-MSFT commented on #59476
@pnarsi Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-22 06:58] slavizh commented on #59033
After some more investigation the problem lies in two issues:
- When you do not specify tags property on Microsoft.Resources/resourceGroups type the existing tags are wiped out.
- resourceGroup().tags returns the above error instead of empty object ({}) when the resource group does not have tags.

[2020-07-22 07:00] kiranpradeep opened #59482 "How to create environment inclusive of a user built python package"
Is it possible to extend this document to include the case of user having to build a python package? For e.g. kindly see this tensorflow object detection notebook [[link](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/inference_from_saved_model_tf2_colab.ipynb)]. In cell 3, we are having to build a tensorflow object detection api which is not available p

[2020-07-22 07:01] ryotatomioka commented on #59479
This worked for me but I don't know if this is the right way
[code]

[2020-07-22 07:10] HarshitaSingh-MSFT commented on #59214
We will now proceed to close this thread.

If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-22 07:10] #59214 closed

[2020-07-22 07:10] #59215 closed

[2020-07-22 07:11] Mahesh-MSFT opened #59483 "Need additional information on automatic Azure DNS Zone delegation"
Command `az aks enable-addons --resource-group myResourceGroup --name myAKSCluster --addons http_application_routing` creates an Azure Public DNS Zone automatically.

Running `az aks show --resource-group myResourceGroup --name myAKSCluster --query addonProfiles.httpApplicationRouting.config.HTTPApplicationRoutingZoneName -o table` command provides name of the DNS zone created.

Can additional inf

[2020-07-22 07:12] ChristopheH-Ekonoo opened #59484 "The Start/Stop VMs solution during off-hours: bug with Resource Group naming"
[Enter feedback here]
It seems that the automation is bugging with resource group with a . in the name Error message

XXX.Production is not a valid ResourceGroup Name. Please verify your input!

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-

[2020-07-22 07:16] VikasPullagura-MSFT commented on #59388
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-07-22 07:16] #59388 closed

[2020-07-22 07:26] timjansenortec commented on #59425
ok. Thank you for the clarification.
Maybe it would be good to add this explicitly on this documentation page. I read the page and I was in doubt.

[2020-07-22 07:31] SanaChopra commented on #59090
@sam-lippert As far as I understand, the functions specified in the JSON config file are typically used to transition/modify the state which moves forward the workflow reflected in the smart contract. As per my understanding, you can change a value and modify the state of the workflow in the function, which is specified in your config file, inside the solidity file. As for returning the value in t

[2020-07-22 07:34] angie4u commented on #59205
Hi @JayaChatterjee-MSFT !
I worked with @sleesm about this issue and today I tested your solution and it worked well!
The most challenging point to me was this conversion logic.
[code]

If I'm not specify this part **ConvertFrom-Json -AsHashtable** it won't work well.
Is there any documentation around this? :)
Thank you very much for your help! I really appreciated it!

[2020-07-22 07:36] SwathiDhanwada-MSFT commented on #59295
As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-07-22 07:36] #59295 closed

[2020-07-22 07:37] #59311 closed

[2020-07-22 07:40] BhargaviAnnadevara-MSFT commented on #59311
@pnarsi It is true that function apps created in the Azure portal and by the Azure CLI are set to version **3.x** by default. The same is referenced in [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#creating-1x-apps) section of the **Azure Functions runtime versions overview** doc.

The change is merged internally and will go-live in the public docs shortly. Thank

[2020-07-22 07:41] AjayKumar-MSFT commented on #58514
Alisson, I'm checking on this internally and will get back to you soon.

[2020-07-22 07:53] Emmanuel-Bresson opened #59486 "Can you please provide instructions to set the minimum required TLS setting using ARM template"
I used the following and it seemed to work:

"minimumTlsVersion": "TLS1_2"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d6c9dfa-cb51-8e98-ce3e-68cfeb50c9dd
* Version Independent ID: 5364e068-0237-bbfd-e8a3-cb83ed210585
* Content: [Configure minimum required version of Transport Layer Security (TLS) for a storage acco

[2020-07-22 07:56] AjayKumar-MSFT commented on #59478
@amya-rao-a,  Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-07-22 07:56] kianooshd opened #59487 "Storage Destination of Export Data Module"
Azure SQL Database should be added to the list of possible storage destinations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ff23f1e-cf2a-9f15-3bed-a38dcd43ef31
* Version Independent ID: 897aee80-88ff-6423-b973-fae0c1fc9e28
* Content: [Export Data: Module Reference - Azure Machine Learning](https://docs.microsoft.co

[2020-07-22 07:59] RohitMungi-MSFT commented on #58759
Thanks @DarrinEide for the information. @Shaktikantpadhi  We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-07-22 07:59] #58759 closed

[2020-07-22 08:02] SergeyVoskoboynikov commented on #53339
I apologize for the disruption. Several months have passed since my question. Is it possible to unlock this app for Germany?

[2020-07-22 08:06] RohitMungi-MSFT commented on #59269
@dikethir We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-22 08:06] #59269 closed

[2020-07-22 08:08] CHEEKATLAPRADEEP-MSFT commented on #59321
@OneConsutlantsDemo  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-22 08:08] #59321 closed

[2020-07-22 08:14] JiriZidek commented on #57030
@feiskyer Yes, it will stop terrible wasting of public IPs. nginx is solution only for HTTP(S) based traffic... (and for small deplyoments it is real overkill). Thanks for pointing to #267...
@palma21 10.0.0.12 - this is internal IP... in k8s when defining a service, you CAN mention same public IP address several time (in yaml - see original article discussed), but it is not honored by AKS Loadbal

[2020-07-22 08:14] #57030 closed

[2020-07-22 08:18] RohitMungi-MSFT commented on #59398
@PatrickFarley Could you please review this request?

[2020-07-22 08:21] stawo opened #59488 "Ambari WebUI differs in HDInsight 4.0"
I recently deployed a HDInsight 4.0 cluster (Spark 2.4 variant), and logged into the Ambari WebUI.
I wanted to deploy a custom service, but the UI is different from the one depicted in this documentation page, and,  there is no button "Actions" or "Add Service" in the "Services" section.

For reference, the custom service I'm trying to deploy is the SAP HANA Spark Controller, which requires the in

[2020-07-22 08:27] HarshitaSingh-MSFT commented on #59411
Hello @BeMor, we appreciate your question and thank you for reaching out to us.

I added a dummy Application role (ConsumerApps) in _Manifest_ -

![9](https://user-images.githubusercontent.com/25202671/88152702-0864ce80-cc22-11ea-8723-5c8ab02eab7e.PNG)

The line `When available to applications, app roles appear as application permissions in the Required Permissions blade.` in the [documentation ](

[2020-07-22 08:29] RohitMungi-MSFT commented on #59473
@t-jaxian Thanks for spotting this. We have created a PR to fix this and should be live within 24 hours of the merge.

[2020-07-22 08:44] MayankBargali-MSFT commented on #59394
@Camios I have assigned the issue to the content author to evaluate and update as appropriate.
@vladvino Appreciates your thoughts on this issue.

[2020-07-22 08:44] RohitMungi-MSFT commented on #59479
@ryotatomioka You can use this sample [notebook ](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/manage-azureml-service/authentication-in-azureml/authentication-in-azureml.ipynb) from ML notebooks repo to try the different authentication methods to access your workspace.

[2020-07-22 08:45] KalyanChanumolu-MSFT commented on #59123
@tomkuijsten The PR is merged and updated content is available on the doc now.
We will proceed to close this issue now.
Thank you for helping us improve our documentation.

[2020-07-22 08:45] #59123 closed

[2020-07-22 09:02] rishabh-cldcvr commented on #55550
@euangms thanks for the response i think MSI permission was the issue.Now that it works i had a question as i read somewhere while provisioning of synapse workspace it automatically sets necessary permissions needed  in datalake. Why didn't it happened here or was it regarding something else?

[2020-07-22 09:10] Johnnytechn opened #59489 "Failed to excute the powershell to set alerts in Application Insights."
I failed to execute the powershell  to set alerts in Application Insights. I found the "-ResourceId" parameter is not existed in the [manual](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrule?view=azps-4.4.0).
Does this document need to be updated? How to execute the powershell  to set alerts in Application Insights successfully? Please help verify the validity of

[2020-07-22 09:19] SadiqhAhmed-MSFT commented on #59461
@dcbrown16 A pull request -
![image](https://user-images.githubusercontent.com/44458118/88159039-65648280-cc2a-11ea-8ab7-c6bbff1ca01b.png) has been raised to update the documentation. Post review by the content owner the updates would go live.

[2020-07-22 09:31] AjayKumar-MSFT commented on #59469
Thanks for leveraging MicrosoftDocs/Azure docs feedback channel. This channel is reserved only for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.
Request you to check this [GitHub Community Forum Code of Conduct ](https://docs.github.com/github/site-policy/github-community-forum-code-of-conduct) for community guidelines.

[2020-07-22 09:31] #59469 closed

[2020-07-22 09:41] JasSuri commented on #57608
It looks like you are putting everything in Base file, which already contains a technical profile called JWTIssuer. The error states that you have defined the technical profile with the ID JWTIssuer **twice**.

The snippets you posted are correctly configured, but instead take the config of `JwtIssuerOidc` and merge it with `JWTIssuer`. Then the last step in the userJourney should have a sendClaim

[2020-07-22 09:42] AjayKumar-MSFT commented on #59445
@danielbjork,  Thanks for leveraging Azure docs feedback channel to raise this question and we appreciate the follow-up on this,  glad to know that the documentation helped answer your question.

[2020-07-22 09:43] JuozasA commented on #36602
uksouth dropped as we...
`Virtual network is not supported in location 'uksouth' for container group ...`

[2020-07-22 09:45] ciufudean opened #59491 "Workbooks do not appear as Preview anymore"
Workbooks do not appear as Preview anymore, so update the first screenshot on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c00ad762-25f6-4f4c-945b-6c3f369e2376
* Version Independent ID: 67ca0054-2dab-44df-5d86-24e0e004e6d5
* Content: [Azure Monitor Workbooks Overview - Azure Monitor](https://docs.microsoft.

[2020-07-22 09:46] danielbjork commented on #59445
@AjayKumar-MSFT your welcome. I closed this again since further down in the documentation there is a statement that is much clearer but the statement I comment on is not that clear.

"Geo-redundant storage (GRS) copies your data synchronously three times within a single physical location in the primary region using LRS. It then copies your data asynchronously to a single physical location in the s

[2020-07-22 09:48] kummerer94 commented on #53726
We have the above mentioned issue and are running on the following specs:

- Linux consumption plan
- Runtime Version ~2
- Python

[2020-07-22 09:49] RohitMungi-MSFT commented on #59482
@kiranpradeep Looking at conda [documentation ](https://docs.conda.io/projects/conda-build/en/latest/user-guide/wheel-files.html)it looks like there are 3 options.

As per conda documentation:

- The best way is to obtain the source code for the software and build a conda package from the source and not from a wheel. This helps ensure that the new package uses other conda packages to satisfy its d

[2020-07-22 09:50] BhargaviAnnadevara-MSFT commented on #59489
@Johnnytechn Thank you very much for bringing this to our attention. We're investigating this and will get back to you shortly.

[2020-07-22 09:52] BhargaviAnnadevara-MSFT commented on #59491
@ciufudean Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-07-22 09:56] ryotatomioka commented on #59479
@RohitMungi-MSFT I have seen that notebook but it only contains example with a password. I would like to know if it is possible to use a certificate / private key.

[2020-07-22 10:00] ryotatomioka commented on #59479
The reason I am asking is because the documentation for `ServicePrincipalAuthentication` says
[code]
which sounds like I could use a private key.

[2020-07-22 10:00] subashsivaji opened #59492 "az: error: unrecognized arguments: --auth-mode login"
Using Azure CLI version 2.9.1
`az storage fs access set` does not have `--auth-mode login` parameter

Also checked the main Azure CLI documentation, doesn't have `--auth-mode` parameter
https://docs.microsoft.com/en-us/cli/azure/storage/fs/access?view=azure-cli-latest#az-storage-fs-access-set

Receiving this error when `--auth-mode login` parameter included,
_az: error: unrecognized arguments: --a

[2020-07-22 10:04] bruun365 opened #59493 "Kubenet or CNI requirements"
It's unclear if it supports both CNI and Kubenet? Or only CNI? The part where it says that it directly communicates with the pods private IP is a bit confusing. From what I've been reading is that a container running on the AKS cluster is responsible for monitoring the pods and updating the application gateway. It also leverages AKS advanced networking, so I'm not sure what is supported or not.

A

[2020-07-22 10:07] josephka3 opened #59494 "Outdated"
Hi,

The section is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9962c711-a464-85d7-07dc-29140ff9a715
* Version Independent ID: bc9eaa33-6bb4-6c91-724e-589f022c2159
* Content: [Tutorial: Run a playbook in Azure Sentinel](https://docs.microsoft.com/en-us/azure/sentinel/tutorial-respond-threats-playbook)
* Co

[2020-07-22 10:17] RohitMungi-MSFT commented on #59487
@kianooshd Thanks for spotting this. We have added a PR to update this. The change should be available in the documentation within 24 hours of the PR approval and merge.

[2020-07-22 10:18] eduarddalm opened #59495 "Documenation is missing instruction on how to change an existing Hybrid connection endpoint"
[Enter feedback here]
# amendment to documentaiton Azure Hybrid Connectioin

Changing endpoint within hybrid conenction

<font color="red">IMPORTANT: </font>
Although you can change the endpoint on an existing hybrid connection, it will not point to the changed endpoint.

![image](https://user-images.githubusercontent.com/25723165/88165091-6dfe8e00-cc15-11ea-8dcb-03bad0b9db0d.png)

<font color="gr

[2020-07-22 10:25] CHEEKATLAPRADEEP-MSFT commented on #59488
@stawo Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-07-22 10:27] AjayKumar-MSFT commented on #59495
@eduarddalm, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-07-22 10:28] subashsivaji opened #59496 "az: error: unrecognized arguments: --auth-mode login"
Using Azure CLI version 2.9.1
`az storage fs access set` does not have `--auth-mode login` parameter

Also checked the main Azure CLI documentation, doesn't have `--auth-mode` parameter
https://docs.microsoft.com/en-us/cli/azure/storage/fs/access?view=azure-cli-latest#az-storage-fs-access-set

Receiving this error when `--auth-mode login` parameter included,
_az: error: unrecognized arguments: --a

[2020-07-22 10:29] #59492 closed

[2020-07-22 10:30] CHEEKATLAPRADEEP-MSFT commented on #59307
@Pullarg  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-22 10:30] #59307 closed

[2020-07-22 10:34] #59474 closed

[2020-07-22 10:36] jarekkoziol commented on #56356
@nkumars  order of elements matter. In my case, I got same error as you, when I had it like:
[code]
but when I moved ScriptExecution element down in the list, it started to work (see below)
[code]
Try to put JourneyInsights  after other elements

[2020-07-22 10:38] darrenjoycenz opened #59497 "Typo' in Scoped Roles Powershell"
The Powershell command for assigning Scoped Roles does not work.

Add-AzureADScopedRoleMembership -RoleObjectId $UserAdminRole.ObjectId -ObjectId $administrative unitObj.ObjectId -RoleMemberInfo  $uaRoleMemberInfo

This has a space in $administrativeunitObj.ObjectId.
$UserAdminRole.ObjectId does not exist, should be $adminRole.ObjectId

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-07-22 10:40] RohitMungi-MSFT commented on #59479
@ryotatomioka I think the key referred in the reference is the secret associated with the service principal id i.e client secret. A private key as mentioned in the first example is incorrect. We will request the reference documentation page to be updated to "secret" instead of "key". Sorry for the confusion.

@Blackmist FYI

[2020-07-22 10:41] souravmishra-msft commented on #59497
@darrenjoycenz, Thank you for pointing this out. We are looking into this and would update the doc accordingly.

[2020-07-22 10:42] darrenjoycenz opened #59498 "Issue with Scope Roles and powershell"
When assigning a scoped role via Powershell, all roles appear to work, except "User Administrator".
This returns an error

`Message: Must specify property roleObjectId of entity ScopedRoleMembership.`

Changing the Role to "Groups Administrator" works fine.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ee59fc3-8f8f-c

[2020-07-22 10:45] AjayKumar-MSFT commented on #59492
@subashsivaji,   Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.
I see that you have closed this thread, so I would presume that the issue is resolved. Please let us know if you need any further assistance on this specific topic.

[2020-07-22 10:46] akingscote opened #59499 "Missing information"
Dosesnt explain which user the command is ran as?
The example commands are prefixed with `sudo` which tells me its not being ran as root?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 792f4871-0d07-624f-7daf-02de97121e13
* Version Independent ID: b70d481f-b351-bb38-cb49-1cda63422968
* Content: [Run shell scripts in a

[2020-07-22 11:08] SudeshSharma opened #59500 "how to define address range (CIDR) for azure subnet?"
Hello Guys, I have created azure virtual network. Now I want to create a VPN connection between azure vnet and azure vm. when I am tring to create subnet under virtual network, its asking for IP range unforeunately whenever I am entering any IP its not accepting.I am from india so which range should i used for vpn ponit of site.

[2020-07-22 11:14] #59461 closed

[2020-07-22 11:19] shashishailaj commented on #59474
@Prabhakar96-dev I understand you had opened this query. Please let us know if you have been able to find the solution for this.

[2020-07-22 11:20] shashishailaj commented on #59472
@takeakitake Thank you for your query. We will investigate and update the thread.

[2020-07-22 11:22] shashishailaj commented on #59498
@darrenjoycenz Thank you for your feedback . We will investigate and update the thread.

[2020-07-22 11:29] surensaluka opened #59501 "Can't run the sample app"
Can't run the downloaded app.

Cannot import the following key file: active-directory-dotnet-native-uwp-v2_TemporaryKey.pfx. The key file may be password protected. To correct this, try to import the certificate again or manually install the certificate to the Strong Name CSP with the following key container name: VS_KEY_F1EA1631F64DC3C0

Importing key file "active-directory-dotnet-native-uwp-v2_T

[2020-07-22 11:32] GitaraniSharma-MSFT commented on #59500
@SudeshSharma , Thank you for your question. We will look into it and update the thread.

[2020-07-22 11:48] VikasPullagura-MSFT commented on #59499
@akingscote
Thanks for your Question! We are currently investigating and will get back on this.

[2020-07-22 11:49] KrishnaG-MSFT commented on #59180
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-07-22 11:49] #59180 closed

[2020-07-22 11:50] DibyodyutiMondal opened #59502 "Google Sign In for Custom Policies in Azure AD B2C"
In the 'Register the application' section, point 8 states:

I made the changes in my custom policy as well, and the button for google appears as well.

However, on clicking the button, I get an `error 400: redirect_uri_mismatch` from google.
The complete message reads:

I'll edit the authorized redirect URIs at google and report after some time

---
#### Document Details

⚠ *Do not edit this secti

[2020-07-22 11:50] vveider opened #59503 "Generate container-level shared access signature URI is missing from latest (1.14.2) version of Storage Explorer"
Generate container-level shared access signature URI is missing from latest (1.14.2) version of Storage Explorer
![image](https://user-images.githubusercontent.com/2734985/88173185-d4da7200-cc2a-11ea-9308-383b88b9bda5.png)

Version 1.12 still has that checkbox.

Thus using 1.14.2 will deny publishing VM to Azure Marketplace due to bug in Storage Explorer.
![image (1)](https://user-images.githubuse

[2020-07-22 12:01] KrishnaG-MSFT commented on #59484
@ChristopheH-Ekonoo Thanks for your comment! We will review and provide an update as appropriate.

[2020-07-22 12:10] VikasPullagura-MSFT commented on #59483
@Mahesh-MSFT
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-22 12:10] VikasPullagura-MSFT commented on #59483
@lachie83
Can you please check and add your comments on this doc update request as applicable.

[2020-07-22 12:15] akingscote commented on #59499
@VikasPullagura-MSFT
Thanks for your post, i missed that!

Can you please remove the sudo from the command in the documentation then?
Its running as root by default, so sudo isnt needed and i found it misleading.

Thanks

[2020-07-22 12:21] krish-gh commented on #59463
@xyz92 Can you check if there is any whitespace before or after the "User name" field? I could reproduce your error by adding an whitespace. After removing that it was all fine.

[2020-07-22 12:27] MartijnElfers opened #59504 "Co-administrator in Azure Plan"
Have a customer trying to upload a management certificate in Azure, but the subscription is running on Azure Plan. Azure Plan does not support classic administrator roles, like co-administrator.

How can a customer upload their management certificates, if they can't have the required co-admin role assigned to them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-07-22 12:33] Ba4bes opened #59505 "How to find automation account ID"
This pages references ```<accountId>``` as part of the URLs, but it is unclear how you find your automation account ID. Is it the name of the automation acocunt? Or is it a code like the workplaceID? Or are you meant to use the workplace ID instead?
The doc isn't really clear on that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-07-22 12:39] subashsivaji opened #59506 "az storage fs create behaviour if file system already exists"
If an Azure Data Lake Storage Gen2 file system already exists then the CLI command should not error. Like any other Azure CLI command it should not error if a resource already exists.

If files system "xxx" already exists
`az storage fs create --name "xxx" --account-name xxxxxx --auth-mode login`
**Expected result:** No error
**Actual result:**
_The specified container already exists.
RequestId:99

[2020-07-22 12:49] NavishkarSadheo commented on #58022
So what will happen exactly if an approved app that doesn't support app protection policy and both controls are required (approved client AND App Protection Policy)?

[2020-07-22 12:52] krish-gh commented on #59463
@xyz92 We have now updated the doc explicitly mentioning to check whitespace. Please feel free to revert if it does not solve your problem or have any further issue.

[2020-07-22 12:58] vssconnell opened #59507 "SPN not found in Azure Active Directory"
There appears to be missing information in this article.
When attempting to add a SPN to the AAS the required SPN name is not present when searching and adding it manually raises an error:

TITLE: Microsoft SQL Server Management Studio
------------------------------
The user or application: '<pii>app:29d8f9cd-2316-456b-af23-41ee0497de52</pii>' was not found in your organization's Azure Active Dire

[2020-07-22 13:00] sdegenhardt commented on #58975
FYI - I have uploaded all of my policies and supporting info to the Microsoft Q&A site.

[2020-07-22 13:02] leovms commented on #58344
@jamesbannan, thank you for reporting this and the details on the issue. The fix is currently being validated and should be rolling out sometime after that. It takes about 1 week to roll out to all regions.

[2020-07-22 13:11] itahirov opened #59508 "unknown status is also shown for Free, Share and Isolated plans"
Please add that Health check is not supported in that plans into this docs, if that is possible..

![image](https://user-images.githubusercontent.com/38325195/88180336-34b92480-cbfb-11ea-9a35-8810616520f2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aee61956-ad7e-4573-3bbb-461f3043bcb1
* Version Independent ID:

[2020-07-22 13:15] JayaChatterjee-MSFT commented on #59205
@angie4u Thank you for the confirmation. I am glad that the sample provided worked for you. You may refer to :
[https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#triggers-and-bindings-types](url)
to understand the binding types better and let me know if this helps.

[2020-07-22 13:21] GitaraniSharma-MSFT commented on #59500
@SudeshSharma , Not sure if the question is regarding creation of a subnet in Virtual Network or an address pool in an Azure Virtual network gateway. So I am adding descriptions for both here.

If you are trying to create a subnet in an Azure Virtual Network, the CIDR address range should be carved out from the virtual network address space (whatever you have defined while creating the Vnet).
For

[2020-07-22 13:23] AlvinRamoutar commented on #53726
Hey @mattchenderson ,
I'm replicating the same issue on:

- Linux consumption plan
- Runtime v2
- C# (.NET Core 2)

[2020-07-22 13:25] rishabh-cldcvr opened #59509 "How to pass column list as argument from spark for copy activity"
Is there a way to pass column list argument from spark for write semantics as copy  as we pass it while running copy command from  synapse?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a38f10-28c6-dede-67a6-444c83ecee9e
* Version Independent ID: 67dd3e6c-189e-1e6c-5e1a-b733f1dfef38
* Content: [Azure Synapse Analyti

[2020-07-22 13:28] MaheshKhatri1960 opened #59510 "Error in the explanation of Recall"
Is the definition of Recall correct ?

It states "fraction of all correct results returned by the model ".

The formula for Recall is TP / TP + FN.

All correct results returned by the model are TP + TN.

So, the explanation for Recall needs to be checked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 773576c4-687f-d7

[2020-07-22 13:30] abomadi commented on #19305
It looks i was mistaken certificates are loaded correctly as mentioned above, verified after i ssh into the container, apologies for the inconvenience.

[2020-07-22 13:32] psmanhas commented on #58279
@amragawad Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

Thanks

[2020-07-22 13:32] #58279 closed

[2020-07-22 13:35] DibyodyutiMondal commented on #59502
I changes the authorised redirect uris to include the `b2c_1a_trustframewrkextensions` segment and it's working now

[2020-07-22 13:39] m1nkeh opened #59511 "Preview"
Hi, is this functionality now out of preview please?

I wrote some doco the other month which mentioned it was in public preview, but now can't find any reference to that fact!

TIA

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a79d78-8f67-ee0d-71cc-bd34624c674f
* Version Independent ID: d993ef52-99c6-0d3c-6d4e-6d84

[2020-07-22 13:40] SwathiDhanwada-MSFT commented on #59191
@ToruMakabe I have reproduced the issue and I haven't faced any issue while deploying the custom metric alert using ARM template. As the issue need further troubleshooting ,we recommend engaging our technical support team to investigate further. Please file a support case using [these steps](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If

[2020-07-22 13:40] #59191 closed

[2020-07-22 13:49] SnehaAgrawal-MSFT commented on #59131
@mohamed-shehata-m We will now proceed to close this thread. If there are further questions regarding this matter, please just let us know.

[2020-07-22 13:49] #59131 closed

[2020-07-22 13:55] david-cornish opened #59512 "Custom Vision Service Documentation: There are no separate Training and Prediction keys."
The documentation mentions, and shows screenshots for, separate Training and Prediction keys, however both the Azure Portal and customvision.ai project settings show a single key.

![azure portal settings](https://user-images.githubusercontent.com/58425052/88185327-b9239b80-cc2b-11ea-96d3-b4695e509c0f.png)

![customvision settings](https://user-images.githubusercontent.com/58425052/88185324-b7f26e

[2020-07-22 13:56] JoshFlory opened #59513 "Possible to track tags?"
Is there the option to track usage by tags?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eddfa5b-1e69-a074-db05-a9138327170c
* Version Independent ID: 7952af48-217c-d753-2ec0-a14fe75867cd
* Content: [Analyze Azure costs with the Power BI App](https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/analy

[2020-07-22 13:58] ingjemch opened #59514 "Expected output after running the command."
[Enter feedback here]
Hello. It would be good if you could post the expected update. I do not know if the yum --config'https...rhel7.config' install 'rhui-azure-rhel7' was successful or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d7e0b6a-1b40-f874-4a68-f368761a1ef8
* Version Independent ID: cca3c590-2725-6167-

[2020-07-22 14:00] harithamaddi commented on #59481
@HemantChandurkar - Thanks for posting the question. In case of Scheduled triggers, the use of a schedule can limit the number of trigger executions. For example, if a trigger with a monthly frequency is scheduled to run only on day 31, the trigger runs only in those months that have a 31st day. In the scenario you shared, since there are no exceptions as stated above, both triggers are working si

[2020-07-22 14:01] iliassk commented on #57608
Thanks for your response @JasSuri

I applied your suggestions and exported everything to my `TrustFrameworkExtensions.xml` :
[code]
My `GET /api/slo` endpoint is now correctly called by the IdP but Azure AD B2C doesn't include any information about the session that should be invalidated/logged out. Usually, other IdPs call the targeted Logout URI by including the domain's browser cookies. Am I mis

[2020-07-22 14:01] JeremyTBradshaw commented on #53210
Can't not add my comment that this issue and that text in the article about the license requirements are causing me to be aggravated.  It's not billed that way, and so until it is, the text should be removed from the article.  It's Microsoft's way of being difficult.

[2020-07-22 14:02] shashishailaj commented on #59501
@surensaluka Thank you for your feedback . We will investigate and update the thread.

[2020-07-22 14:03] shashishailaj commented on #59502
@DibyodyutiMondal Thank you for your query. We will investigate and update the thread .

[2020-07-22 14:04] shashishailaj commented on #59494
@josephka3 Thank you for your feedback . We will engage the content authors on this and update the thread.

[2020-07-22 14:08] JasSuri commented on #57608
Adding the cookies would be the browser&domain combo, B2C has no control on what cookies are presented at your endpoint. There shouldn't be anything further to configure in policy now.

[2020-07-22 14:08] SatishBoddu-MSFT commented on #59142
Hello @JohnStraumann66 Could you please confirm if the issue is still persistent?

[2020-07-22 14:13] iliassk commented on #57608
Then I don't get why the cookies are added by the browser when the request is directly sent via the browser and not added when the request is sent via Azure AD B2C after a logout?

[2020-07-22 14:13] xiaoharper commented on #59433
Hi @corsilt ,

The AML Studio(classic) notebook feature has been shutdown in April 2020. There were email and in app notification for the shutdown during March - April to give customer time to download the notebooks.

If you are using Studio(classic) standard workspace, you can still find the notebook files in workspace associated storage account following below steps:

1. Go to the Workspace stor

[2020-07-22 14:16] gamullen opened #59516 "Misspellings"
**Winodws** Virtual Desktop, you should either sign **our**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80970cb8-947b-60cb-d28d-f0197cebb803
* Version Independent ID: 031f04e5-03fb-09c7-c7ab-25676ec6bc88
* Content: [Troubleshoot Remote Desktop client Windows Virtual Desktop - Azure](https://docs.microsoft.com/en-us/

[2020-07-22 14:21] JasSuri commented on #57608
I'm not sure either, it should work with just a redirect as B2C is doing.
Wonder if its a `same-site` cookie issue, anything in the Browser console?

[2020-07-22 14:21] shashishailaj commented on #59494
@yelevin Could you please review this thread? The section [Create a security playbook](https://docs.microsoft.com/en-us/azure/sentinel/tutorial-respond-threats-playbook#create-a-security-playbook) needs a change as the playbook section has been moved to Configuration now. Also the logic app screenshot may need an update ?

![image](https://user-images.githubusercontent.com/532022/88187687-79bd7500

[2020-07-22 14:29] stevebus commented on #59471
Hi @rgamage.    Can you clarify your feedback above?  I think I may be misunderstanding it.

The certificates used in IoT Edge do not have to be self signed.  IoT Edge can use a corporate CA signed certificate as its Device CA Certificate with no problem (you just have to make sure any downstream/leaf devices will trust them --  thus the comment about having complete control of your environment).

[2020-07-22 14:30] sam-lippert commented on #59090
@SanaChopra How will I know what data to return without any input parameters, given there may be multiple users at the same time?

[2020-07-22 14:33] #46810 closed

[2020-07-22 14:33] yelevin commented on #59494
Thanks for your feedback! I will investigate this issue and make necessary corrections.

[2020-07-22 14:33] zr-msft commented on #46810
Thank you @kjanss for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-22 14:34] stevebus commented on #58989
Hey @rgamage --    Good catch.  This article was written before IoT Edge supported x.509 certificate-based authentication up to IoT Hub, thus it only mentions the 'other' way IoT Edge uses certificates, which is support for TLS connections from downstream/leaf devices and modules.  We have not updated this article to differentiate between the two.  There are other articles that do describe the x.5

[2020-07-22 14:35] amanmcse commented on #59486
@Emmanuel-Bresson Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 14:37] amanmcse commented on #59493
@bruun365 Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 14:38] amanmcse commented on #59496
@subashsivaji Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 14:40] YutongTie-MSFT commented on #59512
@david-cornish
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-22 14:41] amanmcse commented on #59503
@vveider Thank you for your feedback . We will investigate and update the thread further.

[2020-07-22 14:41] YutongTie-MSFT commented on #59510
@MaheshKhatri1960
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-22 14:42] GiftA-MSFT commented on #59510
@MaheshKhatri1960 we'll review your feedback and get back to you shortly. Thanks.

[2020-07-22 14:45] rostrovsky commented on #7018
@keikhara is there any update available about this feature? Is there any way to mask/obfuscate data in log analytics?

[2020-07-22 14:49] JohnStraumann66 commented on #59142
Yes, all I get is a blank screen when I change the Center Co-ordinates from

center: [-122.33, 47.6],

to

center: [35.696496, -101.366837],

[2020-07-22 14:51] kennethgp opened #59517 "Nginx regex annotation in Ingress is mandatory if Nginx version >= 0.34.1"
Nginx bug report https://github.com/kubernetes/ingress-nginx/pull/5691  was fixed in image version >= 0.34.1 per https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.34.1. If using these new images the Ingress yaml in the example won't work and everything will be routed to default backend with HTTP 404 because  regular expression in the path will be taken as literal. This annotat

[2020-07-22 14:51] SatishBoddu-MSFT commented on #59142
@JohnStraumann66 We are looking into it, sorry for the inconvenience caused.

[2020-07-22 14:55] WyattBest opened #59518 "Example of "Confirm the feature is enabled" success?"
The "Confirm the feature is enabled" section does not give any hints as to what success looks like. What is the correct output from
`$storageAccount.AzureFilesIdentityBasedAuth.DirectoryServiceOptions`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a1a9f3d-5733-012a-a0d7-c00ec21b9232
* Version Independent ID: 1e70ab9

[2020-07-22 14:59] SadiqhAhmed-MSFT commented on #59513
@JoshFlory Thanks for the comment. We will try to get more information on this. You may refer to this link - https://azure.microsoft.com/en-in/blog/announcing-the-support-for-tags-in-cost-management-apis/ might be helpful.

[2020-07-22 15:01] ChaitanyaNaykodi-MSFT commented on #59148
@cpridy, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-22 15:01] #59148 closed

[2020-07-22 15:01] YutongTie-MSFT commented on #59283
@mimckitt Hello Micah! Need your help here. Could you please check the document and update it? Thanks!

[2020-07-22 15:05] YutongTie-MSFT commented on #59433
@corsilt Thanks a lot.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-22 15:05] #59433 closed

[2020-07-22 15:10] patoda opened #59519 "Why aren't network bandwidth limit mentioned in the table?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14a783d2-71b4-06ea-3560-deeba73436a0
* Version Independent ID: cbbd04cd-9495-8cd3-37a0-993da55986ca
* Content: [NCv2-series - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/ncv2-series?toc=/azure/virtual-machines/linux

[2020-07-22 15:13] MGoedtel commented on #59505
@Ba4bes - The accountId value is the Primary access key of the Automation account.  You can find this under the Keys option in the left-pane of your selected Automation account.  I forgot to include this in the article so my apologies.  I'm going to bug the article now and get that updated this week.

[2020-07-22 15:21] imatiach-msft commented on #59129
@philippschaefer4 thank you for the great description, I was able to reproduce the issue and have sent a fix here:
https://github.com/interpretml/interpret-community/pull/291
The problem was that SGDClassifier for some loss functions does not contain a predict_proba method that our blackbox explainers expect.  The straightforward solution was to wrap the model to add a predict_proba method that ou

[2020-07-22 15:22] imatiach-msft commented on #59129
To work around the issue, you could either wrap the model right now to add a trivial predict_proba method as in the PR, or try training with a different loss function for SGDClassifier which would add the predict_proba method.

[2020-07-22 15:23] xyz92 commented on #59463
@krish-gh Thank you! I don't have any whitespaces in the username. I still see the issue. Could you reopen this issue?

[2020-07-22 15:24] shortpatti commented on #59201
#assign @shortpatti

[2020-07-22 15:26] timoklimmer opened #59520 "Create ADLS Gen 2 Datastore via ML Studio"
There should be a more detailed explanation of how an ADLS Gen 2 datastore can be created via ML Studio user interface. Eg. I am missing infos on what the "Allow Azure Machine Learning service to access the storage using workspace managed identity" option means and how it differentiates from the service principal we have to specify.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-07-22 15:33] shortpatti commented on #59201
document updated

#please-close

[2020-07-22 15:33] #59201 closed

[2020-07-22 15:33] hpsin commented on #59331
Please post a repro here.  You are correct that the scope is optional - Microsoft allows this on the token endpoint for auth code redemption but it's not required in the spec.

[2020-07-22 15:34] shortpatti commented on #59202
The VPN content is currently in progress and will be a separate document within Azure/VMware.

[2020-07-22 15:35] sethmanheim commented on #59184
@bonshaw Thank you for your feedback and sorry for the delay. We had to pull this tutorial due to some technical issues with it -- we will revise and repost it ASAP. Unfortunately I do not have an ETA. Sorry about that and thanks again for reaching out. #please-close

[2020-07-22 15:35] #59184 closed

[2020-07-22 15:38] krish-gh commented on #59463
From the screenshot you shared above, it looks like you have space in the beginning of UPN. That's why I suspected it.

[2020-07-22 15:43] rgamage commented on #59471
In the attached image, you can see when you create a new Edge device, you
are given only two choices as to Authentication type: SAS Key, or
Self-signed certificate.  CA-signed cert is not an option, as it is with
normal devices.

This is for authentication between the Edge and the hub.  Perhaps in your
article, you were referring to auth between the Edge and leaf devices?

[image: image.png]

On W

[2020-07-22 15:44] krish-gh commented on #59463
@xyz92 As troubleshooted over chat, you had blank space at the end of UPN and after cleaning it, it worked.

[2020-07-22 15:44] #59463 closed

[2020-07-22 15:47] PramodValavala-MSFT commented on #59222
@realrubberduckdev Thanks for bringing this up! I observe the same and am working with the concerned team for more insights.

[2020-07-22 15:48] AntZhelev opened #59522 "Unable to move App Service across subscriptions when Classic alert rules and Auto-scale settings are selected"
[Enter feedback here]

Hi Team,

We noticed that when Migrating App Service resources from one Subscription to another, you can get Validation errors, when microsoft.insights Alert rules or scale settings are selected when migrating.(especially when those resources are associated with deleted/non-existing App Service plans)

Can you Update the Documentation that when such resources are selected th

[2020-07-22 15:53] JamesTran-MSFT commented on #59070
@CharmanderJieniJieni
I just wanted to check in and see if you had any other questions regarding the API/PowerShell commands to create custom labels? If not, I'll go ahead and route this issue to the author to look into and update the Set-AzSQL section, as needed.

[2020-07-22 15:54] saragluna opened #59523 "Fail to create Gremlin API for Cosmos via ARM template"
I got this error when I run this ARM template

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf9c29a0-2184-f6cb-e12c-aa84aba4cf6d
* Version Independent ID: b43bfd4b-25ee-d82d-eb31-f478af4a509c
* Content: [Resource Manager templates for Azure Cosmos DB Gremlin API](https://docs.microsoft.com/en-us/azure/cosmos-d

[2020-07-22 15:56] JamesTran-MSFT commented on #59163
@mapalko
Please see below for the response from our PG team. If you don't have any other questions regarding this, I'll go ahead and close out your issue at the end of the day.

PG: "Executing Account Name" shows who ran dsregcmd command to help in troubleshooting. This has been added in 2004 version.

Thank you for your time!

[2020-07-22 15:57] aschuhardt opened #59524 "There's no information provided about how to use pagination"
This page contains guidance about how to activate pagination.  There is no information however about how to actually use pagination to receive, for example, every record in a SQL database.

How do I actually use this?  What would the logic app look like?  Do I need to use looping and skipping?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-07-22 16:10] stevebus commented on #59471
Thanks for the clarification.   I can't see the image for some reason, but I know what you are referring to now.  A few notes:

Yes, you are right that this is a different certificate than what my article is referring to (a clarification I plan to add based on your other github issue).  There are really two 'certs' related to IoT Edge.  One authenticates the Edge box to downstream/leaf devices whe

[2020-07-22 16:10] RyanHill-MSFT commented on #58779
No problem @Druffl3, glad you were able to sort it out. I would like to add however that for

was determined to be a bug in the Java SDK that's currently being track. The missing `X-WNS-Type` should be inferred by the SDK and add it behind the scenes. This will addressed in a future update.

[2020-07-22 16:10] iliassk commented on #57608
That was it.
On both Firefox and Chrome, `same-site` on the session cookie has to be set to `None` instead of `Lax`:
`This cookie was blocked because it had the "Samesite=Lax" and the request was made from a different site and was not initiated by a top-level navigation`

I guess it's blocked because the Azure AD B2C request was not initiated by a top-level navigation?

Also, for those using incog

[2020-07-22 16:19] SatishBoddu-MSFT commented on #59142
Hello @JohnStraumann66 I was able to repro the issue with coordinates[35.696496, -101.366837]  ,

Please confirm , are you trying to render an address ? or trying to render an area ?

[2020-07-22 16:22] sopopa1 commented on #59165
Hello,

To repro:

The purpose is to assign a "Contributor" role to a user, via Azure CLI, using a Service Principal with the following permissions:
- The SP is an Owner over the RG where the RBAC is being assigned to the user;

Use Azure CLI:

az login --service-principal --username "SPNid" --password "password" --tenant "tenantid"

az role assignment create --assignee "userupn<mailto:simple@sori

[2020-07-22 16:22] KranthiPakala-MSFT commented on #59509
@rishabh-cldcvr Thanks for reaching out. Since this channel is for driving improvements towards MS Docs and we didn't determine any changes for this documentation upon reviewing this feedback.

We request you to please reach out in other forums like [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-databricks).

[2020-07-22 16:22] #59509 closed

[2020-07-22 16:25] rgamage commented on #59471
Thanks for the clarification.  The topic, in general, is very confusing.
The word "Device" is used for both end devices and Edge devices, which is
confusing.  At some point in the docs it seems clear that Device Identity
Certs are only needed/used if you are using DPS, which we are not, so I
immediately crossed this off our list of requirements.  We have a small
number of devices, and so will be p

[2020-07-22 16:26] anhlqn opened #59525 "CorpNetSaw and CorpNetPublic are not valid service tags in NSG"
CorpNetSaw and CorpNetPublic are not valid service tags in NSG. Are there any other service tags that we supposed to use or the traffic from CorpNetSaw and CorpNetPublic are no longer needed?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc2dd547-3ff7-b32a-ba8a-c582a721a0ee
* Version Independent ID: f083bdda-

[2020-07-22 16:27] JohnStraumann66 commented on #59142
It's an area, an Oil refinery to be exact. That's why I asked if it is possible to set the Map to show a satellite picture as opposed to roads, I think we might be getting a blank because there are no roads but not sure that is the issue as there are roads around the refinery....

[2020-07-22 16:30] ChaitanyaNaykodi-MSFT commented on #59504
@MartijnElfers, Thank you for your feedback! We will review and update as appropriate.

[2020-07-22 16:30] JayaChatterjee-MSFT commented on #59205
@angie4u Thank you for the confirmation. I am glad to learn that the sample provided worked for you. You may refer to : https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#triggers-and-bindings-types to understand the binding types better.

Also, could you please open an issue on the powershell developer guide to include more samples? https://docs.microsoft.com/en

[2020-07-22 16:30] #59205 closed

[2020-07-22 16:32] ChaitanyaNaykodi-MSFT commented on #59524
@aschuhardt, Thank you for your feedback! We will review and update as appropriate.

[2020-07-22 16:43] lilx-MSFT opened #59527 "Is managed identity in azure service fabric still in preview? Did not see any preview sign flowing the provided link."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure

[2020-07-22 16:43] SatishBoddu-MSFT commented on #59142
@JohnStraumann66 Could you please flip the coordinates like this [-101.366837,35.696496] and try again. Please confirm if that is the right location, and wanted to check on your input pattern ? [lat,long] or [long,lat] used?

![image](https://user-images.githubusercontent.com/62923178/88204079-a85d3080-cbff-11ea-99fa-9c9b46bf292d.png)

[2020-07-22 16:45] mmacy commented on #55199
#reassign:mmacy

[2020-07-22 16:49] euangms commented on #55550
You are right it should have been provisioned correctly I'm not sure why it wasn't.

[2020-07-22 16:54] JohnStraumann66 commented on #59142
Hey very cool, that worked and yes it looks like the right location. I pulled those co-ordinates off Bing maps and just used what showed (see attachment). Any idea how I can switch to Aerial view and/or display the tool bar to select that?

![BorgerRefinery](https://user-images.githubusercontent.com/44039918/88205260-80c79180-cc1a-11ea-8c51-8bd872e66bf0.png)

[2020-07-22 16:54] vermagit opened #59528 "Correct 2 pages from being under Linux/Windows folders"
[Enter feedback here]
This page "VM Sizes" as well as t he next one "Generation 2 VMs" still seem to adhere to the older convention of being under Linux and Windows folder/trees. The VM other VM sizes pages have already been moved away from this older practice of essentially having the same content under Linux and Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-07-22 16:55] jaffadog opened #59529 "signInActivity ignores last signins >105 days ago?"
This article states:

However, there appears to be an additional limit at play. I have accounts whose last sign in date was after Dec 2019 (e.g. Jan 2020), but the graph request does not return any signInActivity information for such users.

I have AAD sign in logs going to LAW - so I have data in LAW that shows those older signins.

Through experimentation, I have inferred that the Graph call app

[2020-07-22 16:58] pisees commented on #59453
Thanks, but I was looking specifically for what is needed for these PowerShell commands which will be run on the Azure Deveops Windows Selfhost agent connecting to Service Fabric VMs; all running on premises, but the agent in an a separate VM from Service Fabric VMs. I think maybe only port 19000 is needed for these, but not sure.

Connect-ServiceFabricCluster
Copy-ServiceFabricApplicationPackage

[2020-07-22 17:03] KranthiPakala-MSFT commented on #59507
@vssconnell
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-22 17:04] mattchenderson commented on #53726
Thanks, all. I was able to successfully reproduce the issue on Linux Consumption (no luck with a dedicated Linux App Service plan, though - that works as expected).

We've identified cause here and will be trying to fix it in product ASAP. I'm waiting on an ETA, but if I get any indication that the ETA is going to take any time, I'll add a specific note to the document which says something to the

[2020-07-22 17:05] KranthiPakala-MSFT commented on #59511
@m1nkeh Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-22 17:10] amanmcse commented on #59502
@DibyodyutiMondal The URL https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp is sent in the reply url parameter within the authentication request by Azure AD B2C to federated IDP (which is Google In your case), and Google posts the response (token) back to this URL only when this URL is added as authorized redirect URI under the application registered at Google'

[2020-07-22 17:10] SatishBoddu-MSFT commented on #59142
Hello @JohnStraumann66  The pattern we have to use is [Longitude,Latitude] pair.

Ok so , let me show how i captured the area coordinates via any browser.

**From the browser of **Chrome:**** But be careful with what we need to apply in our Azure maps html sample , [ref](https://docs.microsoft.com/en-us/azure/azure-maps/quick-demo-map-app#open-the-demo-application).
![image](https://user-images.gi

[2020-07-22 17:10] Karishma-Tiwari-MSFT commented on #59517
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-22 17:12] Karishma-Tiwari-MSFT commented on #59519
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-22 17:12] Karishma-Tiwari-MSFT commented on #59528
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-22 17:15] shawnjburke commented on #56275
@JamesTran-MSFT I'd like to support this request by voicing that I too think this has value.  I am in this ticket because I want to know if 288402 is possibly fraud.   My wife's phone received a reset request verification code, which she did not initiate.  We all recognize this could be an honest mistake, but it could also be fraud.  Having some idea that it belongs to Microsoft is useful.

"We ca

[2020-07-22 17:16] swmachan commented on #53114
@tjkb, I would need more details. Which version of the translate API are you calling? Can you send the repro steps?

[2020-07-22 17:16] #55199 closed

[2020-07-22 17:19] MGoedtel commented on #59505
The article is updated and will be released later today.  #please-close

[2020-07-22 17:19] #59505 closed

[2020-07-22 17:20] bandersmsft commented on #59513
@JoshFlory Hi there. Unfortunately, the Cost Management Power BI desktop app doesn’t natively expose tag data. However, tag details are in the underlying data. If you want to view tag details in Power BI, you can use the [Azure Cost Management Power BI Desktop connector](https://docs.microsoft.com/power-bi/connect-data/desktop-connect-azure-cost-management) to find and create reports showing the t

[2020-07-22 17:20] #59513 closed

[2020-07-22 17:24] JamesTran-MSFT commented on #56275
@shawnjburke
Thank you for your detailed response and great examples of why we should keep this list updated, with old and new SMS numbers.

@iainfoulds, the author of this doc, is currently reaching out to our engineering team for their guidance on this issue and will update as soon as possible.

Thank you both for your time and patience throughout this issue.

[2020-07-22 17:24] JohnStraumann66 commented on #59142
That's great, thanks! Hey I am trying to add the Style toolbar and drawing toolbar. The Style toolbar works fine, but I cannot get the drawing toolbar to work. The <script> code is this:

 <script type="text/javascript">
    //Create an instance of the map control and set some options.
    var map = new atlas.Map('myMap', {
      center: [-101.366837, 35.696496],
      zoom: 12,
      language: 'e

[2020-07-22 17:25] YutongTie-MSFT commented on #59510
@likebupt Hi Blanca, could you please help to check on this? Thanks a lot.

[2020-07-22 17:29] GiftA-MSFT commented on #59408
@neryacohen I'm unable to reproduce this issue, please provide a screenshot or log details so we can investigate further. Thanks.

[2020-07-22 17:37] shashishailaj commented on #59010
@sopelt We are engaging the content author for reviewing the suggestions about including use case scenarios on the documentation. They will review and update further.

[2020-07-22 17:38] shashishailaj commented on #59010
@msmimart Could you please review this request with engineering and see how best the presented scenario can be integrated into the current document ?

[2020-07-22 17:38] #59213 closed

[2020-07-22 17:41] HarshitaSingh-MSFT commented on #59411
Reopening as awaiting an acknowledgement from @BeMor.

[2020-07-22 17:46] julieMSFT commented on #59273
#assign:julieMSFT

[2020-07-22 17:51] amitbapat commented on #56284
Klaas - Thank you very much for your feedback.

If a key is exported such that it is encrypted with another HSM-bound key, and it can only imported successfully in another HSM, we consider that as target key never leaving HSM boundary. This is true for the BYOK process described. Therefore it is correct to say that the key never leaves HSM boundary.

[2020-07-22 17:57] ojasp commented on #59011
The ones under _[Rest API Samples in C#](https://docs.microsoft.com/en-us/azure/cognitive-services/content-moderator/samples-rest)_ , the direct urls to github is https://github.com/MicrosoftContentModerator/ContentModerator-API-Samples

[2020-07-22 18:07] MarileeTurscak-MSFT commented on #59527
@lilx-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-22 18:09] MarileeTurscak-MSFT commented on #59529
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-22 18:09] JohnStraumann66 commented on #59142
Ah found it, had to add:

  <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/drawing/0/atlas-drawing.min.css" type="text/css" />
  <script src="https://atlas.microsoft.com/sdk/javascript/drawing/0/atlas-drawing.min.js"></script>

[2020-07-22 18:16] MonikaReddy-MSFT commented on #59154
@chugh97 - I'm going to assign this to the document author so they can update the document accordingly.

[2020-07-22 18:22] helloyesthisisdave commented on #59349
It appears that this syntax isn't even accepted when directly connected to SQL Edge either?

I am not sure what is going on with SQL Edge, but none of the features that acutally make it worthwhile to have SQL Server on an Edge device seem to work; blob_storage external data sources, Json external file formats, external streams and on and on, none of it works!

The icing on the cake is that `sys.sp

[2020-07-22 18:23] SaurabhSharma-MSFT commented on #58975
@sdegenhardt Thanks for sharing thread link and your templates for review.  I will also follow up internally with alfredo to provide you answers on Q&A thread.

[2020-07-22 18:23] JFolberth commented on #59239
Wouldn't a swap cause production to move to staging and complete it's request in the staging slot?

[2020-07-22 18:26] dargilco opened #59533 "Speech SDK is also supported on Ubunto 20.04 LTS"
We can run Speech SDK on latest [Ubunto (20.04 LTS)](https://ubuntu.com/). Please update the document to say "Ubunto 16.04/18.04/20.04" instead of just "Ubunto 16.04/18.04".
Please confirm this with Oliver Scholz before making the doc change.
Thanks!
Darren
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efae7ff6-5557-22

[2020-07-22 18:26] SatishBoddu-MSFT commented on #59142
Hello @JohnStraumann66 Could you please let us know if you need further help in this matter.

[2020-07-22 18:30] SQLSourabh commented on #59349
Hi @helloyesthisisdave

The document states which Input/output streams are currently supported for SQL Edge today. Also, as documented you need to enable TF 11515 to use the streaming feature.

[2020-07-22 18:30] zr-msft commented on #59213
Thank you @msandbu for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-22 18:31] zr-msft commented on #58445
Thank you @kthompson23 for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

#please-close

[2020-07-22 18:31] #58445 closed

[2020-07-22 18:31] JohnStraumann66 commented on #59142
Well, if you're able to point me at an example of drawing multiple polygons on a map, like this sample:

https://azuremapscodesamples.azurewebsites.net/Custom%20Modules/Custom%20Drawing%20Tools/Draw%20Polygon.html

and then saving the drawing, that would be great.

[2020-07-22 18:32] trevorbye commented on #57405
fixed the issue #please-close

[2020-07-22 18:32] #57405 closed

[2020-07-22 18:42] dannyevers commented on #59049
@iqshahmicrosoft  Can you investigate this UI issue and also let us know if the help articles need to be updated?

[2020-07-22 18:44] SatishBoddu-MSFT commented on #59142
@JohnStraumann66 Were you able to look at the HTML code for the sample website you have mentioned?

[2020-07-22 18:49] GiftA-MSFT commented on #59520
@timoklimmer we'll review your feedback and get back to you shortly. Thanks.

[2020-07-22 18:50] GiftA-MSFT commented on #59533
@dargilco we'll review your feedback and get back to you shortly. Thanks.

[2020-07-22 18:50] BryanTrach-MSFT commented on #58553
@abhilashmk Thank you for taking the time and raising up this issue. We feel your issue would be best addressed by the doc author. As a result, we have assigned the issue to the doc author for them to review their doc further.

To help expedite the process, we have also emailed the doc author internally to raise awareness.

We thank you for your patience on this matter.

[2020-07-22 18:51] shashishailaj commented on #58701
@hyphro Currently there is no Powershell/Graph API to add the credentials to the application which use Password single sign on. However as of now I would suggest to use [Self service app assignment for the users](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/manage-self-service-access) for these applications. As long as [your users have the My apps secure sign-in extension](h

[2020-07-22 18:51] #58701 closed

[2020-07-22 18:51] shashishailaj commented on #59275
@ichengchao We are still working on this and will update this in a day or two . Please allow us some more time on this.

[2020-07-22 18:56] emuench commented on #58839
Dan and Ming will address this.

[2020-07-22 18:57] emuench commented on #58838
Dan and Ming will address this.

[2020-07-22 19:00] SQLSourabh commented on #59349
@helloyesthisisdave my apologies I missed the initial question around Data tools and dacpac, the product is currently in preview and some of the new syntaxes (especially for external stream, date_bucket and ONNX) have not yet been added to the dacpac/SQL Tools/SMO. We are working towards this and hope to have this available before GA. Currently the way to use the new objects is to use a T-SQL comm

[2020-07-22 19:00] vikancha-MSFT commented on #59519
Tagging @iafinder for NCv2-series

[2020-07-22 19:01] dannyevers commented on #59503
@iqshahmicrosoft Can you investigate this issue and let us know if the help articles need to be updated?

[2020-07-22 19:02] DaFitRobsta opened #59534 "Resizing data disks - Requires VM deallocation"
There is reference in this paragraph (https://docs.microsoft.com/en-us/azure/virtual-machines/windows/expand-os-disk#resizing-data-disks) that one doesn't have to deallocate a VM to resize a data disk.  From my recent experience, this isn't accurate.  When I ran through the provided script(s), I got the following error when attempting to resize a data disk:
Resizing a disk of an Azure Virtual Mach

[2020-07-22 19:02] x509cert opened #59535 "CosmosDB now supports CMK"
[Enter feedback here]
Great doc. The CosmosDB section needs updating: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-cmk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16c7901b-497c-38bd-3615-defab17b572b
* Version Independent ID: 9855d796-3469-8be5-c9a7-75516d9b8856
* Content: [Azure encryption overview

[2020-07-22 19:03] SatishBoddu-MSFT commented on #59142
Hello @JohnStraumann66 Please let us know if are good with this thread as of here.

[2020-07-22 19:05] tfitzmac commented on #58852
@razvansalajan - thanks for this feedback. This represents an usual case because siteconfig is actually a child resource of sites. You can see this if you export a template from an existing web app. The exported template includes resources for Microsoft.Web/sites and Microsoft.Web/sites/config. So, if you redeploy the site, it doesn't necessarily update config.

I'll add something to the article.

[2020-07-22 19:11] NavtejSaini-MSFT commented on #59369
@aarushi-mittal Please get back to us with Github documentation link for this issue.

[2020-07-22 19:11] #59387 closed

[2020-07-22 19:16] mairaw commented on #26278
@appteam7 do you mind updating the link on your comment to just https://dotnet.microsoft.com/download? Also, I'd recommend folks to install 3.1 now that 2.2 is out of support.

[2020-07-22 19:34] zr-msft commented on #37578
Thank you @tdihp and @droessmj for the feedback and suggestion.

The article has been updated to incorporate the suggestion.

#please-close

[2020-07-22 19:34] #37578 closed

[2020-07-22 19:36] AnuragSharma-MSFT commented on #59224
@iAmBipinPaul Awaiting your inputs for the same. Thanks

[2020-07-22 19:37] maheshksingh opened #59537 "Outdated Scala Code Snippets"
The scala code snippets wont work as is, the import libraries throws error, looks like outdated. Please Assist.

following is the logs:
command-774114299082357:2: error: object eventhubs is not a member of package com.microsoft.azure
import com.microsoft.azure.eventhubs._
                           ^
command-774114299082357:13: error: not found: type ConnectionStringBuilder
val connStr = new Conne

[2020-07-22 19:41] michaelburch opened #59538 "Zones property not present in resource explorer"
After deploying multiple ASEs using this template, I am not able to confirm the availability zone in resource explorer. The property is not there. I have tried deploying to East US, specifying a single zone ("1" or "2"). I used this template, only changing the name location and vnet details.

ASEs are functional but I can find no way to confirm the zone. Is there another way?

---
#### Document De

[2020-07-22 19:44] #58852 closed

[2020-07-22 19:44] TomGeske commented on #59359
@devgibsonsp: Our release including managed-AAD GA is delayed. We just restored required preview flags in our docs.
Sorry, for the inconvenience it may cause. Checkout: https://aka.ms/aks/managed-aad

[2020-07-22 19:46] TomGeske commented on #59359
#please-close

[2020-07-22 19:46] #59359 closed

[2020-07-22 19:50] jstafford5380 opened #59539 "Multiple subscriptions to the same topic?"
Mostly a question but I think it should be addressed more clearly in the document:
Is it uncommon or ok practice for a single consumer to have multiple subscriptions to the same topic? For example, using subscriptions as a way to separate message types and apply different filtering.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-07-22 19:54] BharathNimmala-MSFT commented on #59522
@AntZhelev  Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-22 19:55] BharathNimmala-MSFT commented on #59508
@itahirov Thank you for sharing your feedback, we will look into it and get back to you at the earliest.

[2020-07-22 19:58] jurschel opened #59541 "Google Cloud Platform Enterprise App"
When I search for G Suite in the Azure Enterprise Apps it no longer comes up.  Instead what we get now is Google Cloud Platform.  And this app doesn't present us with the "Authorize" button when we're trying to configure provisioning.  Thoughts on how to work around this problem?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-22 19:59] DerekHerman-MSFT commented on #59518
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-22 20:00] julieMSFT commented on #59273
@jeppe742 Thank you for bringing this to our attention. We have updated the article and you should see the change later today. Thank you for your contributing to the quality of Microsoft Docs. I will proceed with closing this issue. The @notification mechanism continues to work even after an item is closed, in case further communication is needed. We hope to hear from you again.

[2020-07-22 20:01] julieMSFT commented on #59273
#https://github.com/MicrosoftDocs/azure-docs-pr/pull/123358/files

[2020-07-22 20:01] julieMSFT commented on #59273
#please-close

[2020-07-22 20:01] #59273 closed

[2020-07-22 20:07] AnuragSharma-MSFT commented on #59523
@saragluna Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-22 20:13] AjayKumar-MSFT commented on #54515
Monish, Apologies for the late response.
If a function app scales out to multiple instances, only a single instance of a timer-triggered function is run across all instances.
The timer trigger uses a storage lock to ensure that there is only one timer instance when a function app scales out to multiple instances. If two function apps share the same identifying configuration and each uses a timer t

[2020-07-22 20:13] #54515 closed

[2020-07-22 20:18] solidcloudio opened #59542 "Adding routes?"
This docD outlines routes to be added for each environment type but it doesn’t outline how to actually add the routes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6860efb1-ddab-04a1-bf34-4e0a41844102
* Version Independent ID: 2321ec49-4cb8-d477-3430-44af3790bcdd
* Content: [Azure VPN Gateway: About P2S routing](http

[2020-07-22 20:33] MicrosoftGuyJFlo commented on #59423
If Exchange is configured correctly disabling legacy authentication with the mentioned Conditional Access policy should not interfere with normal operations. If you are experiencing issues with [Exchange and disabling basic authentication](https://docs.microsoft.com/exchange/clients-and-mobile-in-exchange-online/disable-basic-authentication-in-exchange-online) then I would recommend opening a supp

[2020-07-22 20:34] MicrosoftGuyJFlo commented on #59423
#please-close

[2020-07-22 20:34] #59423 closed

[2020-07-22 20:41] SaurabhSharma-MSFT commented on #59165
@sopopa1 I get it now and I am able to reproduce it.  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-22 20:42] JasonWHowell commented on #58838
#assign:dannyevers

[2020-07-22 20:42] JasonWHowell commented on #58839
#reassign:mingshen-ms

[2020-07-22 20:43] JasonWHowell commented on #58839
#assign:dannyevers

[2020-07-22 20:44] Ashok103606 commented on #59023
Hi @souravmishra-msft

I dropped an email to this azcommunity[at]microsoft[dot]com address, but I haven't got any response.  my mail subject is URL of this thread. could you please let me know about this.

Thanks,
Ashok.

[2020-07-22 20:45] #46021 closed

[2020-07-22 20:46] zr-msft commented on #46021
Thank you @tdihp for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-07-22 20:47] samrueby opened #59544 "Sync network configuration via command line"
Please add steps for performing 'Sync network configuration' via the command line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54e3841e-4db1-7970-a7c4-7ca1a2303e19
* Version Independent ID: 014968df-aade-8fb6-25af-303169dfd685
* Content: [Sync network configuration for Azure App Service - Azure SQL Managed Instance]

[2020-07-22 20:49] JamesTran-MSFT commented on #59527
@lilx-MSFT
Thank you for pointing that out! I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-07-22 20:49] #59527 closed

[2020-07-22 20:56] zr-msft commented on #44299
thank you @ms-jasondel for the feedback!

The article has been updated to address your feedback.

#please-close

[2020-07-22 20:56] #44299 closed

[2020-07-22 20:58] ChristopheH-Ekonoo commented on #12579
Hello
I have this issue now
I have tested with names with . (my initial case) and then changed it to _ and the without any special character...and still the same error message

Thanks in advance

[2020-07-22 20:58] JamesTran-MSFT commented on #59535
@x509cert
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-22 21:00] MicrosoftGuyJFlo commented on #59455
The security defaults article is correct. Other docs have been updated to match.

[2020-07-22 21:00] MicrosoftGuyJFlo commented on #59455
#please-close

[2020-07-22 21:00] #59455 closed

[2020-07-22 21:01] Aniththa commented on #59276
Thanks for the feedback. We have updated the docs. Feel free to close this issue.

[2020-07-22 21:02] JohnStraumann66 commented on #59142
Hi:

Yes i have been going through that site, but the samples show only single drawings, I need to draw multiple shapes.
Do you happen to know if  the SDK can get the Lat/Long and/or GPS for the points used to draw the Polygon? That would be a possible way to save a drawing...

[2020-07-22 21:11] GeekTrainer opened #59546 "Update qna-maker quickstart to use environmental variables"
The start of the article has the developer type their key into the code for JavaScript. It should be updated to use environmental variables to demonstrate best practices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98bb87f6-c0ac-a504-6b20-d20a43460dc1
* Version Independent ID: e93a4836-1b54-bc20-fb1b-1f86a3dc10e1
*

[2020-07-22 21:11] SatishBoddu-MSFT commented on #59142
@JohnStraumann66 You can ask your Product Implementation Questions under those particular Sample Github repos.

[2020-07-22 21:13] AjayKumar-MSFT commented on #52682
rdelormeCHS and thowilli, Apologies for the long delay on this.

I have tried the same steps as outlined in the documentation with test accounts and it appears to work (screenshot below)

Kindly ensure that you have right permission/role set on the subscription - Please checkout these docs - [Azure built-in roles](https://docs.microsoft.com/azure/role-based-access-control/built-in-roles#logic-app-

[2020-07-22 21:13] #52682 closed

[2020-07-22 21:13] SatishBoddu-MSFT commented on #59142
We will now proceed to close this particular thread. If there are further questions regarding this particular documentation, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-22 21:15] zr-msft commented on #44272
Thank you @manalotoj for the feedback and @palma21 for responding.

#please-close

[2020-07-22 21:15] #44272 closed

[2020-07-22 21:24] Karishma-Tiwari-MSFT commented on #59534
@mimckitt Need your help with confirmation on this. My understanding is VM does not have to be deallocated for resizing data disk.

[2020-07-22 21:26] ju-shim commented on #56120
I got an answer for you from the team, I'll update the docs where appropriate.

**Does the metric calculation duration include the cool down period?**
The short answer is that the metric duration does not include the cool down period.

**Long answer...**

Scenario:
Duration is set to 10 minutes.
Cool down is set to 10 minutes.

The duration field means that every time autoscale runs, it queries me

[2020-07-22 21:29] ealsur commented on #59431
@xmseraph The sample application tries to push a high volume of data to an account endpoint on a 50K RU/s container.

Due to the volume of data (300K items) the CPU consumption might be high in a local dev machine, if you are running the sample in a command prompt (for example with `dotnet run`) or in Visual Studio (it would open a Command Line), you can see that if there are failures on some item

[2020-07-22 21:31] Karishma-Tiwari-MSFT commented on #59514
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-22 21:43] NavtejSaini-MSFT commented on #59506
@subashsivaji We are checking this and we will get back to you.

[2020-07-22 21:45] NavtejSaini-MSFT commented on #59516
@gamullen Thanks for the feedback. We are checking this.

[2020-07-22 21:45] Heidilohr commented on #59395
I've addressed this issue in a recent pull request that should go live soon. #please-close

[2020-07-22 21:45] #59395 closed

[2020-07-22 21:45] zr-msft commented on #45110
Thank you @gasparsigma for the suggestion!

We have added an item to our backlog and will prioritize appropriately.

#please-close

[2020-07-22 21:45] #45110 closed

[2020-07-22 21:49] bandersmsft commented on #58632
#reassign:yashesvi

[2020-07-22 21:54] BeigeBadger opened #59547 "Multiple errors are present in the example code"
The provided code snippets do not work out of the box, even after installing `Azure.AI.FormRecognizer --version 1.0.0-preview.3`.

For my use case, I have already trained a model so I only cared about the `AnalyzePdfForm` functionality, the sample code is:

[code]

This has the following errors:

* `recognizerClient` does not exist in this context.
    * This can be remedied by renaming the `FormR

[2020-07-22 21:56] NavtejSaini-MSFT commented on #59525
@anhlqn Thanks for the question. We are checking this and will get back to you.

[2020-07-22 21:59] NavtejSaini-MSFT commented on #59544
@samrueby We are checking this and will get back to you.

[2020-07-22 22:01] zr-msft commented on #45746
Thank you @wasker for the feedback!

The article has been updated to address your feedback:
https://docs.microsoft.com/azure/aks/control-kubeconfig-access#available-cluster-roles-permissions

#please-close

[2020-07-22 22:01] #45746 closed

[2020-07-22 22:02] wcneumann219 commented on #59423
Hi John,

Yes, I agree that you can and should disable basic authentication in Exchange Online and force users to use Modern authentication, but the Microsoft documentation strongly implies that Outlook will continue to use the Autodiscover service to locate a user’s Exchange Online mailbox. Since Autodiscover is a legacy authentication protocol your Conditional Access Policy will block it’s use.

[2020-07-22 22:03] slmagus opened #59548 "Shallow clones are not supported"
The documentation should state that when pushing to a Local Git, It is critical you do not use a shallow clone. Recent version of the git program have the option to change their git checkout strategy to perform what is referenced to as a shallow clone.

This is the default way that gitlab.com and their product gitlab-runners operate. I don't know how Azure DevOps agents work or TFS agents receive

[2020-07-22 22:06] brbel opened #59549 "Pricing for managed apps"
What are the software pricing options for managed applications?

For custom meters on managed applications, can you bill annually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5a25a53-4d93-8f21-f473-0fdc2c4a895f
* Version Independent ID: ab2116ec-e9fe-4fab-9145-1535257e6906
* Content: [Azure applications managed app

[2020-07-22 22:07] zr-msft commented on #45911
Thank you @chwarr for the feedback!

We've added a task to our backlog and will prioritize accordingly.

#please-close

[2020-07-22 22:07] #45911 closed

[2020-07-22 22:17] iAmBipinPaul commented on #59224
Hi @AnuragSharma-MSFT
We are facing this issue on one graph but  it works perfectly in another graph.
I see the same behavior on azure portal as well.

if you can provide me some insight that will be much better.

Thank you :) !

[2020-07-22 22:21] MattPeterson1 opened #59551 "What about the "amr" claim"
The "amr" claim appears in the id_token.   Not documented in this page.

Documentation for "amr" can be found here:

https://openid.net/specs/openid-connect-core-1_0.html#IDToken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0cace34-34bf-32f7-c857-e4d71d535a77
* Version Independent ID: cdbbc4ae-5894-da21-42d7-928b367

[2020-07-22 22:30] jackt-moran opened #59553 "No SAS Permissions Documentation"
Hi,

I am using the blob upload feature with a SAS. The documentation mentions this is valid, but it doesn't outline the required SAS permissions. Could you please provide more specific information on what permissions are required when using an SAS connection string rather than the account key?

Perhaps there should be a separate ticket for this next part but I figured I'd include it here as a sta

[2020-07-22 22:51] Grace-MacJones-MSFT commented on #58553
@abhilashmk we appreciate your patience on this issue. I have submitted a PR to update the doc with a clarifying sentence about port 80, the change is merged internally and will go-live in the public docs shortly. Thanks again for your feedback!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the

[2020-07-22 22:51] #58553 closed

[2020-07-22 22:53] Grace-MacJones-MSFT commented on #59361
Hi @ANIKIT93, just checking to see if you have any updates for us regarding your issue.

[2020-07-22 22:56] sudipmandal opened #59554 "Unable to add new OpenID Provider for Azure AD Multi tenant login in Azure B2C"
I am trying to setup Azure B2C with Dynamics 365 Portals.
I need to setup Azure AD multi tenant login in Azure B2C, and am following the guide provided [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-multi-tenant-custom?tabs=app-reg-ga)

When trying to add the Metadata url for the Azure AD provider I get the error below, not sure what else the url shou

[2020-07-22 23:04] Negal32 opened #59557 "Password limitation"
[Enter feedback here]
There seem to be a limitation on which symbols can be used for the password of user and app level credential, it would be useful to include which symbols are permitted by the password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 754dcf9b-e64a-922b-6108-bd1152a758f0
* Version Independent ID: 5824

[2020-07-22 23:05] rajanbhayana commented on #47169
+1 we have lot of state government clients who want to stick region close to them and not move data to secondary region. How do I ensure zone redundancy within a single region??? I have multiple projects going on

[2020-07-22 23:14] ChaitanyaNaykodi-MSFT commented on #59539
@jstafford5380, Thank you for your feedback! We will review and update as appropriate.

[2020-07-22 23:16] hrasheed-msft commented on #59488
@stawo Thanks for reaching out. Currently 3.6 is still the default for all cluster types, so we have left the screenshots for the default version that most customers will use. When HDInsight 4.0 becomes the default version, we will update the screenshots accordingly. Thank you.

[2020-07-22 23:16] hrasheed-msft commented on #59488
#please-close

[2020-07-22 23:16] #59488 closed

[2020-07-22 23:18] ju-shim commented on #39925
No update on this yet, I need to locate the right team to get to the bottom of this. I have a work item on my end to keep track of this issue, so I'll update here once I have more information.

[2020-07-22 23:23] #59372 closed

[2020-07-22 23:23] #59365 closed

[2020-07-22 23:23] #59163 closed

[2020-07-22 23:25] hpsin commented on #55240
#please-close - no response from issue opener
@KritikaSingh89 please respond here if you are still looking for guidance on this issue.

[2020-07-22 23:25] #55240 closed

[2020-07-22 23:25] MikeWilcoxMicrosoft commented on #25007
If my data is coming from IOT Hub where do I change the settings in IOT Hub so that below works ?

Dynamic routing means that events read from a single Event Hub can land in different tables in your Kusto cluster.

This requires the following properties to be added to the EventData.Properties bag:

Table - name (case sensitive) of the target Data Explorer table
Format - payload format (might be an

[2020-07-22 23:26] nickmcmahan opened #59559 "Add requirements for Key Vault (soft delete and purge protection) to doc"
Hi team, in the Portal version of this document (deploying/enabling SSE CMK), I see that there is no mention of Key Vault requirements. However, in the PS version [here](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-enable-customer-managed-keys-powershell#set-up-your-azure-key-vault-and-diskencryptionset), the requirements for the Key Vault (more specifically, soft delete a

[2020-07-22 23:27] JamesTran-MSFT commented on #59070
Assigning this issue to the author to look into and update the [Manage SQL information protection using Azure PowerShell](https://docs.microsoft.com/en-us/azure/security-center/security-center-info-protection-policy#manage-sql-information-protection-using-azure-powershell) section, and update as needed.

[2020-07-22 23:31] JamesTran-MSFT commented on #57608
@iliassk
I just wanted to check in and see if you still required JasSuri's assistance on this issue? Or if setting same-site to none resolved your issue.

Please let me know if you have any other questions.
Thank you again for your time and patience throughout this!

[2020-07-22 23:43] RafaAguilar opened #59560 "Broken Link Article Insights Container Livedata Setup"
Where it says:

[code]
Should say:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73d09442-55a1-6ee5-8ac9-fd5e7ca06e87
* Version Independent ID: e7f2e287-8b0e-a75e-dc66-7dbd3c00b245
* Content: [Set up Azure Monitor for containers Live Data (preview) - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-

[2020-07-22 23:44] RafaAguilar commented on #59560
It is fixed by https://github.com/MicrosoftDocs/azure-docs/pull/59561

[2020-07-22 23:46] kobulloc-MSFT commented on #59541
@jurschel Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-07-22 23:49] kobulloc-MSFT commented on #59551
@MattPeterson1 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-07-23 00:02] djpmsft commented on #53498
This change has been made and I will go ahead and close the issue #please-close

[2020-07-23 00:02] #53498 closed

[2020-07-23 00:10] SatishBoddu-MSFT commented on #59553
Hello @jackt-moran Thanks for the feedback,

Did you check the module logs for any error messages during the retry ?
How much time it took for the whole re-tries, in this scenario/observation?
Could you please also let us know the average size of blob being sent in this scenario?
Was the blob in zipped format? or any other format?

[2020-07-23 00:20] MarileeTurscak-MSFT commented on #59554
@sudipmandal
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-23 00:26] kobulloc-MSFT commented on #59551
@MattPeterson1 That's a good catch!  This is a non exhaustive list of JWT claims that are in most id_tokens by default.  If we continue in the documentation to [Access tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens), we'll see that **amr** is only present in v1.0 tokens:

[The amr claim](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-t

[2020-07-23 00:31] MarileeTurscak-MSFT commented on #59554
Hi @sudipmandal ,

Could it be related to the CORS error described in this thread? https://docs.microsoft.com/en-us/answers/questions/28757/cors-issue-on-the-discovery-endpoint-on-localhost.html

Since this is more of a product question than a document issue I would recommend asking this question in Microsoft Q&A rather than Github. https://docs.microsoft.com/en-us/answers/topics/azure-active-dire

[2020-07-23 00:31] #59554 closed

[2020-07-23 00:34] ChaitanyaNaykodi-MSFT commented on #59228
@entarome, Thank you for pointing out this issue to us. I was able to replicate the issue.
div(10,5) will return 2
div(11,5) will return 2
div(10.5,5) will return 2.1
div(11.0,5) will return 2.2
div(11,5.0) will return 2.2
Currently this is a limitation, since we do not have any other function available which can do “round()”, “floor()” and “ceiling()”. The product team has made a note of it and w

[2020-07-23 00:39] emuench commented on #59164
I am currently working on these edits.

[2020-07-23 00:48] ToruMakabe commented on #59191
@SwathiDhanwada-MSFT I got it. Let me use this issue for tracking.

[2020-07-23 00:54] ToruMakabe commented on #59191
More info. I can see some custom metrics [added AKS release 2020-06-15](https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2020-06-15), but some metrics not.

![コメント 2020-07-23 094103](https://user-images.githubusercontent.com/993850/88243087-3bfb3380-ccca-11ea-862f-bb73ab2ec0f8.png)

![コメント 2020-07-23 094126](https://user-images.githubusercontent.com/993850/88243096-40bfe780-ccca-11ea-

[2020-07-23 00:59] sebansal commented on #55603
@LukeCarrier
Definitions of parameters required for setting Azure key vault certificate policy, are available here with their values
https://docs.microsoft.com/en-us/powershell/module/az.keyvault/set-azkeyvaultcertificatepolicy?view=azps-4.4.0

-ReuseKeyOnRenewal
Indicates that the certificate reuses the key during renewal.

[2020-07-23 01:00] sebansal commented on #55603
have added the link on the Content doc as well
About Azure Key Vault Certificates - Azure Key Vault

[2020-07-23 01:00] sebansal commented on #55603
#please-close

[2020-07-23 01:00] #55603 closed

[2020-07-23 01:03] djpmsft commented on #57122
They are still in the current UX

#please-close

[2020-07-23 01:03] #57122 closed

[2020-07-23 01:06] JamesMiera opened #59562 "Video has links that are no longer valid."
[Enter feedback here]
Link lists docs.microsoft.com/en-us/azure/app-service/app-service-environment/readme
which is basically a circular reference since it come back to itself: https://docs.microsoft.com/en-us/azure/app-service/environment/intro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af931817-c3c8-6376-d2c2-a10

[2020-07-23 01:10] kobulloc-MSFT commented on #59541
@jurschel I'm no longer seeing G Suite as well.  This document was last updated in January but a similar G Suite document updated in May recommends Google Cloud (although not a direct match to what I currently see):

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/google-apps-tutorial#adding-google-cloud-g-suite-connector-from-the-gallery

We've flagged this and will have the doc

[2020-07-23 01:11] sudipmandal commented on #59554
Hi @MarileeTurscak-MSFT

Thanks for the CORS link, My issue is however not with CORS, I am unable to add a new OpenID provider to Azure B2C as shown in the document (refer to the screenshot I posted)

When I try with sts.windows.net I can confirm I dont have any CORS issues, On my Dynamics Portal I have allowed CORS to "*" as shown on the post.

I think this issue is both a document issue as well

[2020-07-23 01:13] Karishma-Tiwari-MSFT commented on #59516
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-07-23 01:13] #59516 closed

[2020-07-23 01:14] Karishma-Tiwari-MSFT commented on #59446
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-23 01:14] #59446 closed

[2020-07-23 01:14] Karishma-Tiwari-MSFT commented on #59342
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-23 01:14] #59342 closed

[2020-07-23 01:15] TravisCragg-MSFT commented on #59542
@solidcloudio There is not an Azure way to add the routes, they must be added to the Operating System using the OS-specific instructions. for example, here is a StackOverflow stating how to add the routes on most Windows OSes you use the 'route add' command.

[2020-07-23 01:17] sudipmandal commented on #59554
@MarileeTurscak-MSFT I dont think this issue should be closed, as this is neither a CORS issue nor an Azure AD product issue as you have suggested.

This is really a configuration issue on Azure B2C, which needs to be provided on the document without which it is impossible to add a multi tenant Azure AD identity provider to Azure B2C.

[2020-07-23 01:20] himanshusinha-msft commented on #59062
@jlb112  : You will have to create the tables . I think its called out here in the same article .
https://docs.microsoft.com/en-gb/azure/data-factory/tutorial-bulk-copy-portal#prepare-sql-database-and-azure-synapse-analytics-formerly-sql-dw .
Please do let me know how it goes .

[2020-07-23 01:31] sudipmandal commented on #59554
For anyone else who might be facing the same issue, I have opened this issue in the Q&A section
[https://docs.microsoft.com/en-us/answers/questions/51136/unable-to-add-new-openid-provider-for-azure-ad-mul.html](https://docs.microsoft.com/en-us/answers/questions/51136/unable-to-add-new-openid-provider-for-azure-ad-mul.html)

[2020-07-23 01:38] msmimart commented on #59045
Hi @vronzeur, thanks for your feedback. The previous replies are correct -- please keep an eye out for updates in this area. I'll go ahead and close this issue for now, but feel free to reach out if you have further questions. #please-close

[2020-07-23 01:38] #59045 closed

[2020-07-23 02:17] mamccrea commented on #50023
#reassign:mssaperla

[2020-07-23 02:17] PRMerger9 commented on #50023
mssaperla is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-23 02:23] ecfan commented on #59228
Thanks @ChaitanyaNaykodi-MSFT and @entarome, I have a work item to address this clarification. By the way, here is the general topic about creating and calling an Azure function from a logic app: https://docs.microsoft.com/azure/logic-apps/logic-apps-azure-functions

[2020-07-23 02:25] hannesne commented on #58447
Thank you, I've created a suggestion on uservoice for this: https://feedback.azure.com/forums/287593-logic-apps/suggestions/40972549-allow-passing-url-parameters-to-nested-logic-apps

[2020-07-23 02:34] amanmcse commented on #59538
@michaelburch Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:36] amanmcse commented on #59537
@maheshksingh Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:37] #59228 closed

[2020-07-23 02:37] ecfan commented on #59228
The topic should be updated after 11 AM PDT.

[2020-07-23 02:39] amanmcse commented on #59546
@GeekTrainer Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:40] amanmcse commented on #59547
@BeigeBadger Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:41] amanmcse commented on #59548
@slmagus Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:42] amanmcse commented on #59557
@Negal32 Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:43] amanmcse commented on #59562
@JamesMiera Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:46] amanmcse commented on #59549
@brbel Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:47] amanmcse commented on #59560
@RafaAguilar Thank you for the confirmation.

[2020-07-23 02:48] amanmcse commented on #59559
@nickmcmahan Thank you for your feedback . We will investigate and update the thread further.

[2020-07-23 02:59] ram-msft commented on #59288
Thanks for the feedback. @trevorbye Could you please help how to get the voice profile after enrollment.

![image](https://user-images.githubusercontent.com/49180516/88248335-78c12d80-ccbe-11ea-8bac-6939672020e4.png)

[2020-07-23 03:08] #59142 closed

[2020-07-23 03:26] deanbot opened #59567 "Add export details to 'PS manage resources' page"
This page has lots of great information. Can instruction on exporting arm templates be added?

There are instructions on how to deploy a template once you have one, but no instructions on exporting a template. Specifically, I'd like to know how to do the following action via Azure Powershell instead of the Azure interface: navigate to logic app > Export template > Download > extract .json file.

-

[2020-07-23 03:41] ichengchao commented on #59275
my project blocked by this issue, waiting your fix ^_^

[2020-07-23 04:11] PramodValavala-MSFT commented on #59239
Just that is possible and is intended to ensure that any in-flight orchestrations run to completion. Otherwise, the swap action may lead to loss of data and/or failed orchestrations.

All newer requests would be directed to the production slot.

[2020-07-23 04:12] PramodValavala-MSFT commented on #59266
@bdnts Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-23 04:12] #59266 closed

[2020-07-23 04:37] vipulsparsh commented on #58524
@AmitavaHazra  Apologies for delay on this.  We have reached out to PG for this query and awaiting their input.  Will update as soon as I hear from them.

[2020-07-23 04:46] ANIKIT93 commented on #59361
Hi @Grace-MacJones-MSFT ,

Firstly, thank you very much for the prompt follow-up shown by MSFT here.

The links shared were really helpful in the diagnosis of the issue.

Although not yet resolved but I was able to pin-point and understand root cause of the issue and now have a clear direction on the further process here.

Your inputs were vital  in cutting down the time to get to the RCA here.

T

[2020-07-23 04:46] #59361 closed

[2020-07-23 04:47] BlackMercy opened #59568 "Mismatched supported .NET Framework versions"
[Enter feedback here]
The "Max .NET version" for Functions 1.x on this page is .NET Framework 4.6 but in the [Supported Languages page](https://docs.microsoft.com/en-us/azure/azure-functions/supported-languages) it says .NET Framework 4.7

Which one is correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c

[2020-07-23 04:58] harithamaddi commented on #59481
@HemantChandurkar - Hope this answers your query. I will now proceed to close this issue. Feel free to still comment and tag me if you need any more clarification.

[2020-07-23 04:58] #59481 closed

[2020-07-23 05:00] SwathiDhanwada-MSFT commented on #59567
@deanbot Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-07-23 05:10] saswatmohanty01 opened #59569 "How to run Azure container instance ( Linux ) with privileged mode"
This should be part of Azure container instance and Azure AKS. In document section this information is missing. There is no information how to deploy azure container instance with privileged mode. Many customers are are asking for this feature as other public cloud providers have this option.

reference : https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/33870166-aci-s

[2020-07-23 05:14] #59276 closed

[2020-07-23 05:32] ChaitanyaNaykodi-MSFT commented on #59354
@VergilPrime, Thank you for reaching out. The "Export Template" option from Azure portal is common for multiple services not just for logic apps as you can see it [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/export-template-portal#export-template-from-a-resource). I will include the link in the document, for the ease of understanding. Thank you for pointing this o

[2020-07-23 05:35] SudeshSharma commented on #59500
@GitaraniSharma-MSFT  Thanks for reply. Hey I m tring to create subnet in virtual network. According to your example, vnet address space 10.0.0.0/24, then the subnet should be range 10.0.0.0/25. I have tried but got errors.

![2020-07-23 (4)](https://user-images.githubusercontent.com/43905979/88254898-5803d280-ccd4-11ea-8869-d67346cce9e4.png)

[2020-07-23 05:49] BhargaviAnnadevara-MSFT commented on #59568
@BlackMercy Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-23 05:58] thuld commented on #52650
Problem is solved, I have tried the following code with version `2.0.2.105` of module `AzureADPreview` and was able to retrieve more than 100 members:
[code]

[2020-07-23 05:58] #52650 closed

[2020-07-23 06:44] AjayKumar-MSFT commented on #59185
Hello @IsaacLeeWebDev, Just checking in to see if you have had a chance to see the previous response from Ryan. Kindly let us know if you have tried the steps mentioned in the previous post and share the outcome/or you need further assistance on this issue.

[2020-07-23 06:49] BhargaviAnnadevara-MSFT commented on #59392
@sheldoncxd Thank you very much for bringing this to our attention! I have submitted a PR to fix the issue that's under review.

[2020-07-23 07:04] souravmishra-msft commented on #59023
@Ashok103606, I apologize for the delay in my response. I just responded to the email that you had sent.
Do respond on that email.

[2020-07-23 07:07] GitaraniSharma-MSFT commented on #59500
@SudeshSharma , From the screenshot, I can see you already have a default subnet with address range 10.0.0.0/24. Could you please help me with the address space of your Vnet?

[2020-07-23 07:09] VikasPullagura-MSFT commented on #59016
@rtaylor72

This issue is  tracked here: acr import fails with acrpush role [#281](https://github.com/Azure/acr/issues/281)

Please find below details from internal team on this:

To achieve docker push, the role acrpush is all that’s needed (acrpull for the source and acrpush is all that should be expected for acr import). However, the issue is az acr import does some manifest checking before att

[2020-07-23 07:09] #59016 closed

[2020-07-23 07:20] AjayKumar-MSFT commented on #59569
@saswatmohanty01,  Thanks for leveraging Azure docs feedback channel to raise this question. Could you please share the Azure documentation for which this feedback is applicable to?
This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-07-23 07:29] tjkb commented on #53114
Sorry, it's not an issue of the documentation, it's in issue of the [nuget I'm using to access your API](https://github.com/Nordes/CognitiveServices.Translator.Client). I will create an issue there.

[2020-07-23 07:29] #53114 closed

[2020-07-23 07:35] pbartos opened #59573 "AutoML forecasting: Split by model or grain"
I will use an example from your documentation:

[https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast#preparing-data](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast#preparing-data)

What is the difference between train two models per store or one model with store grain? Will be the accuracy of one model with grains increased due to

[2020-07-23 07:44] #59349 closed

[2020-07-23 07:52] iliassk commented on #57608
Yes, it does resolve my issue but it's probably not the best solution security-wise. I was wondering what was @JasSuri opinion about this. Is it a limitation of the way AADB2C is calling the Logout URI endpoint?

But yes, you can close the issue. Thank you for your assistance James!

[2020-07-23 07:58] TitusA commented on #59573
Building one large model will often be better than one model per series, but not always. If the series are quite heterogeneous (exhibit different patterns, span orders of magnitude), then it makes sense to fit multiple models. If they are similar, one model will generally do well.

[2020-07-23 08:02] #59573 closed

[2020-07-23 08:08] pbartos commented on #47478
Looks ok now. Thank you

[2020-07-23 08:13] LukeCarrier commented on #55603
`-ReuseKeyOnRenewal` would have been so much more descriptive :confused:

[2020-07-23 08:16] Mark7even opened #59574 "Which is low, medium, high?"
Your new articles no longer provide which sign-in events fall under low, medium, and high making it difficult to know how to design CA and ID Protect risk-based policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d468eb75-88a9-b1aa-7fb3-19ebb4faa179
*

[2020-07-23 08:20] BhargaviAnnadevara-MSFT commented on #59491
@ciufudean I've raised a PR with the updated content to match the new UX which is awaiting review. The changes should reflect soon post the merge. Thanks for bringing this to our attention!

[2020-07-23 08:30] BhargaviAnnadevara-MSFT commented on #59560
@RafaAguilar Thanks for the contribution! The changes should reflect soon post the merge.

[2020-07-23 08:34] miquelcv opened #59575 "Tier 'Developer' feature availability 'Multiple custom domain names' mismatch"
--
This page shows that for the tier 'Developer' the feature 'Multiple custom domain names' is not available.
But in the [pricing details page](https://azure.microsoft.com/en-us/pricing/details/api-management/) the same feature seems as available.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21fbb610-abd2-8836-7d65-d2

[2020-07-23 08:46] psmanhas commented on #59574
@Mark7even Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-07-23 08:52] arcum commented on #51830
Hey @csando - yesterday I did only this
_"Delete as many GUID looking keys in there as possible. Some you can't delete so you can leave them. Backup the keys first if you are so inclined."_ -part

And today the device is co-managed. Woohoo! Superb. Thanks.

[2020-07-23 08:56] ryotokuro commented on #59562
@JamesMiera Sorry, I can't seem to find the link that you're referring to. Could you highlight where it is on the page?

[2020-07-23 09:02] ryotokuro commented on #57433
@ehsf973 I believe high RPS refers to 'high requests per second'.

**Source:** https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-geo-distributed-scale

[2020-07-23 09:06] HarshitaSingh-MSFT commented on #59466
Hello **@jaydarius**, we appreciate your question and thank you for reaching out to us!

I suspect that you might have missed out on _**Sign in to your tenant**_ step in Powershell.

You can follow [**Tutorial: Use PowerShell to bulk invite Azure AD B2B collaboration users**](https://docs.microsoft.com/en-us/azure/active-directory/b2b/bulk-invite-powershell) published by MS to run `$messageInfo =

[2020-07-23 09:09] rukasakurai opened #59578 "Descriptions for the Azure-managed rule sets of Web Application Firewall"
It would be great to have descriptions for the Azure-managed rule sets on this page (https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/afds-overview) or to have a link to a place that has the descriptions.

There are some situations where the Azure-managed rule sets need to be disabled in order for expected application behavior (e.g., when an application uses SignalR).

In such

[2020-07-23 09:10] ryotokuro commented on #59557
@Negal32 I imagine this adheres to Azure AAD's policies which can be seen [here](https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy). Is this what you're after?

[2020-07-23 09:11] ryotokuro commented on #59557
As a note, the documentation could thereby include a reference to this page.

[2020-07-23 09:19] ryotokuro commented on #59508
@itahirov Hi, just trying to clarify what you're saying.
Are you saying that the **Free**, **Shared** and **Isolated** Azure subscriptions only displays `Unknown` when using Azure Service Health? Or do they also show other statuses?

[2020-07-23 09:25] chandra9787 opened #59580 "Databricks Linked service deployment"
Hi,

I just noticed that when I create a Linked service for **Databricks**, I share my environment specific Databricks Workspace URL and the My access token Via Key vault.
However When I publish, in ARM parameter template I could not find any of the Data bricks entity being parameterized and when i deploy it just deploys the databricks in the source Environment.

Is it something that is known or i

[2020-07-23 09:33] orspod commented on #25007
@MikeWilcoxMicrosoft  - thanks for your question. Best practice is to open a new request/issue but we are happy to assist you. @kerend - can you assist?

[2020-07-23 09:47] chandra9787 commented on #59580
Issue sorted

[2020-07-23 09:47] #59580 closed

[2020-07-23 09:55] JimmyLS opened #59582 "Different Sign-in frequency policies applied for apps in same browser session -- behavior not matching with article"
"**If you have configured different Sign-in frequency for different web apps that are running in the same browser session, the strictest policy will be applied to both apps because all apps running in the same browser session share a single session token.**"

Based on my testing, the above statement in this article seems not correct. The web apps applied with different Sign-in frequency policy in

[2020-07-23 10:01] JayaChatterjee-MSFT commented on #59504
@MartijnElfers Yes, we need to be registered as a co-admin at least, under the classic administrators at the subscription level. This is by design. The reason, why we cannot upload the management certificate without those roles, as with the certificate uploaded, one can perform any operation on the Management APIs. You may refer to : https://docs.microsoft.com/en-us/azure/role-based-access-control

[2020-07-23 10:11] psmanhas commented on #59578
@rukasakurai Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-07-23 10:11] ccapellan commented on #40136
Thanks @ecfan.  I've set up access to Azure Government in VS2019, and I'm able to do deployments and see the subscription and resources in Cloud Explorer.  What's not working is when you go to open a Logic App in Designer View, and it asks you to  pick a subscription.

[2020-07-23 10:12] GitaraniSharma-MSFT commented on #59493
@bruun365 , AKS supports two network models: Kubenet networking (basic) & Azure Container Networking Interface (CNI) networking (Advanced).
You may refer the following article for all the network concepts in AKS : https://docs.microsoft.com/en-us/azure/aks/concepts-network

You can also go through the best practices for network connectivity and security in Azure Kubernetes Service (AKS): https://d

[2020-07-23 10:12] psmanhas commented on #59578
@vhorne Can you please check and add your comments on this doc update request as applicable?

[2020-07-23 10:15] psmanhas commented on #59580
@chandra9787 Thank you for your query and glad that it was solved.

We use GitHub primarily for document improvement . We encourage you to open product related queries/questions on our new community platform [Microsoft Q&A.](https://docs.microsoft.com/en-us/answers/index.html)

[2020-07-23 10:18] GitaraniSharma-MSFT commented on #59335
@dannradkov , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-23 10:18] #59335 closed

[2020-07-23 10:21] ajithkr-ms commented on #59406
This needs more troubleshooting. I would recommend opening a support ticket to pursue this further.

[2020-07-23 10:23] ajithkr-ms commented on #59406
#please-close

[2020-07-23 10:23] #59406 closed

[2020-07-23 10:34] itahirov commented on #59508
Hi Taiyue,
I have noticed only unknown.

On Thu, Jul 23, 2020, 5:19 AM Taiyue Tan <notifications@github.com> wrote:

[2020-07-23 10:52] Nilesh-tech opened #59586 "Multiple spelling mistakes in Article"
1. Under section **'1.4: Deny communications with known malicious IP addresses'**, there is a space missing between words in **_'How to configureAzure Cosmos DB Advanced Threat'_**
2. Under section **'1.8: Minimize complexity and administrative overhead of network security rules'**, there is a spelling mistake **_'securitygGroups'_**

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-23 11:11] AnuragSharma-MSFT commented on #59586
@Nilesh-tech Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-23 11:14] mifurm opened #59587 "This procedure is not correct one :("
This procedure is not correct one, you need to first create a WAF Policy, then assign the Policy to AppGW and then, turn on the Bot Policy on WAF policy. This procedure will not work and will end with error.
Please correct this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c72c5ad-955d-57b9-25dd-fdebdf475f50
* Versi

[2020-07-23 11:17] stawo opened #59588 "Ambari WebUI differs in HDInsight 3.6"
I recently deployed a HDInsight 3.6 cluster (Spark 2.3 variant), and logged into the Ambari WebUI.
I wanted to deploy a custom service, but the UI is different from the one depicted in this documentation page, and, there is no button "Actions" or "Add Service" in the "Services" section (https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-hadoop-manage-ambari#service).

Screenshoot of what I

[2020-07-23 11:18] SandeepKel commented on #52495
AshokPeddakotla-MSFT
In my set up i have RasPi4 which i hav set up as hub, an Iot Device is created. Raspberry Pi is running simulateddevice.py program and reading temperature and humidity data from Sense hat emulator.
I followd all the step as mentioned in the link tutorial
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-live-data-visualization-in-web-apps
the local host does not show any

[2020-07-23 11:23] AnuragSharma-MSFT commented on #59586
@Nilesh-tech Thanks for letting us know, we have updated the document content accordingly.
The changes should be live once the PR is approved.

[2020-07-23 11:31] SwathiDhanwada-MSFT commented on #59305
@GitelGeiger Apologies for my previous comment. I presumed it is logged in Activity Log as I tested for Storage Account.  I verified with engineering team, if the request goes to ARM , then it is logged in Activity Logs. Otherwise, it is up to
Resource Provider to implement logging in the resource logs. Currently, there is no document available which gives you clear idea where Data Actions of azur

[2020-07-23 11:32] Mahesh-MSFT opened #59589 "Global VNET Peering Support"
As per [this guidance](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#vnet-peering), global vnet peering doesn't support Azure Redis Cache.

Is it still the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bced23e-5c67-3a63-06f7-c659ba56b5e7
* Version Independent ID: 10d48e1f-e090-ab51

[2020-07-23 11:34] AnuragSharma-MSFT commented on #59523
@saragluna While executing the ARM templates through the portal, we were able to create both the templates mentioned in the article. This seems some other issue than incorrect templates

Could you please provide us below details?
1. Are you running the templates through the portal or through any SDK?
2. There are 2 templates in the article, are you facing issues with both or any one?
3. Could you

[2020-07-23 11:38] AnuragSharma-MSFT commented on #59589
@Mahesh-MSFT Thank you for reaching out to us. We are actively investigating and will get back to you soon.

[2020-07-23 11:39] iamalexmang opened #59590 "Please clarify 'A singleton instance of TelemetryClient is already registered in the DependencyInjection container'"
I am not seeing the same experience in regards to dependency injection.
According to the article, 'A singleton instance of TelemetryClient is already registered in the DependencyInjection container'.

However, after adding Application Insights to the services collection, I am NOT seeing a TelemetryClient object properly registered. Let me clarify: an object of type Telemtryclient does get resolved

[2020-07-23 11:40] iamalexmang commented on #59590
For context:
![image](https://user-images.githubusercontent.com/5773281/88282564-7aa4e400-ccf2-11ea-99df-dc0d0d7c2bcf.png)

[2020-07-23 11:48] SubhashVasarapu-MSFT commented on #59587
@mifurm , Thanks for reaching out. We will investigate and update this thread.

[2020-07-23 11:53] RohitMungi-MSFT commented on #59546
@diberry Could you please review this [PR ](https://github.com/Azure-Samples/cognitive-services-quickstart-code/pull/120)from Azure samples repo?

[2020-07-23 12:12] AjayKumar-MSFT commented on #59435
@christiannwamba, Requesting your comments on this feedback.

[2020-07-23 12:20] BhargaviAnnadevara-MSFT commented on #59489
@Johnnytechn Thank you for catching that error in the docs! I have submitted a PR to fix the issue that's under review.

Meanwhile, please use `-TargetResourceId` instead of `-ResourceId` for running the cmdlet, as specified in the [Add-AzMetricAlertRule](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrule?view=azps-4.4.0) reference.

Also, do note that you wouldn't

[2020-07-23 12:27] tanmayjog commented on #59446
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-alerts

[2020-07-23 12:40] benbelow opened #59592 "Highlight that Azure functions maximum timeout is *not exclusive*"
On deploying a functions app with a 10 minute timeout, we saw errors saying that the timeout must be less than 10 minutes.

I would expect by default the validation to be "<= max", not "< max".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56

[2020-07-23 12:42] sp4rc opened #59593 "How to collect Windows Security events?"
How can I collect security events from windows-based Azure VMs and create an alert on top of it? It seems that Azure Monitor does not support collecting security events. Any alternatives?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21eb5eb5-727d-c75e-33ba-31c823eed9d9
* Version Independent ID: 35585318-b445-3eed-e9b

[2020-07-23 12:43] AjayKumar-MSFT commented on #59396
@gregdegruy, You may integrate with Key Vault, you can store passwords on Key Vault, and then you can reference the secrets as application settings, the values will be automatically populated , and exposed as environment variables.

Key Vault references can be used as values for [Application Settings](https://docs.microsoft.com/azure/app-service/configure-common#configure-app-settings), allowing y

[2020-07-23 12:52] MayankBargali-MSFT commented on #59592
@benbelow Thank you for your feedback! We will review and update as appropriate.

[2020-07-23 12:55] benbelow commented on #59592
Update: This is not actually the case!

The behaviour I observed was due to not realising a debug pipeline was overriding my changes before I tested them and increasing the timeout above 10 minutes.

10 min timeout works as advertised.

[2020-07-23 12:55] #59592 closed

[2020-07-23 12:58] jackt-moran commented on #59553
Hi @SatishBoddu-MSFT thanks for getting back so quickly.

`Did you check the module logs for any error messages during the retry ?`
Yes, the main error was an authentication error due to the SAS not having permissions to overwrite blobs. I am reproducing the issue now and will provide specific logs soon.

`How much time it took for the whole re-tries, in this scenario/observation?`
The file that w

[2020-07-23 13:00] SadiqhAhmed-MSFT commented on #59284
@narpur2127 We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply with more details and we will gladly continue the discussion.

[2020-07-23 13:00] #59284 closed

[2020-07-23 13:04] KalyanChanumolu-MSFT commented on #59430
@xmseraph I hope that answers your question.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-23 13:04] #59430 closed

[2020-07-23 13:10] #59408 closed

[2020-07-23 13:10] neryacohen commented on #59408
.

[2020-07-23 13:14] WilldotNET opened #59594 "Remove Reference to grep or specify Cloud Bash Shell"
Hi,

Just following this example, it recommends using the azure CLI for powershell - but later on uses a grep command which isn't usable from powershell.

You can use the azure cloud bash shell to follow the guide which is what I did, but there may be an alternative PS command for grep. Grep isn't available for windows\powershell so you can't just install it to get around this issue.

Cheers,

Wil

[2020-07-23 13:17] saltonsolutions commented on #59288
I have talked to Trevor. There is no way to do this. You cannot instantiate the profile from the guid that was previously saved. This makes the service unusable. I am going to try to use the REST service as a workaround.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Ram <notifications@github.com>
Sent: Wednesday, July 22, 2020 10:59:55 PM
To: MicrosoftDocs/azur

[2020-07-23 13:20] mitch1995 commented on #55353
@hspin that it explains - thanks for the update

[2020-07-23 13:21] SandeepKel commented on #52495
Hi Now the issue is resolved.
the only change  was commenting return statemenet in chart-device-data.js on line 144
thank you for all the information

[2020-07-23 13:25] mumian commented on #59567
@deanbot - I think  you are looking for Export-AzResourceGroup.  See https://docs.microsoft.com/en-us/powershell/module/az.resources/export-azresourcegroup?view=azps-4.4.0

[2020-07-23 13:26] mumian commented on #59567
@deanbot - the information is covered in https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/manage-resource-groups-powershell#export-resource-groups-to-templates.

[2020-07-23 13:30] jackt-moran commented on #59553
Below are the logs from the reproduction. I grep-ed on "Upload" to retrieve these, so it is possible I omitted useful information. Please let me know if more detailed logs are required. You can see the actual error getting logged on the third line.

[code]

Based on the logs, it roughly seems like failed uploads retry every 5 minutes, but I was by no means thorough in verifying this.

I imagine th

[2020-07-23 13:31] sdegenhardt commented on #58975
@SaurabhSharma-MSFT shouldn't this issue be reopened?  I think others might benefit to what we learn here.

[2020-07-23 13:39] sachinpanwar opened #59596 "Incorrect steps in "Turn off automatic provisioning""
Option to disable auto provisioning is under "Pricing & Settings", not in "Security policy – Data Collection".

**Current/wrong**:
3. On the **Security policy – Data Collection** page, under Auto provisioning select Off.

**Expected/correct**:
3. On the **Pricing & Settings** page, under Auto provisioning select Off.

Screenshot showing correct path:
![image](https://user-images.githubusercontent.

[2020-07-23 13:39] ivoburger opened #59597 "Suggestion for improvement - Manually promote a Resource Manager template for each environment section"
Firstly, thanks for the great documentation.

In the [Manually promote a Resource Manager template for each environment](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#manually-promote-a-resource-manager-template-for-each-environment) section, it is not clearly stated that if you Export ARM template from your master ADF branch (as shown in the pictures), you

[2020-07-23 13:48] MGoedtel commented on #59505
Updating this GitHub issue, I misinformed you regarding what represents the AccountId on the Keys page.  It is actually the GUID that is found in the value for URL field, the account ID is represented after the string */accounts/*.  I updated the article again this morning to correct this.

[2020-07-23 13:48] pstasik opened #59598 "AzureMfaNpsExtnConfigSetup.ps1 Fails to download link"
.\AzureMfaNpsExtnConfigSetup.ps1

NuGet provider is required to continue
PowerShellGet requires NuGet provider version '2.8.5.201' or newer to interact with NuGet-based repositories. The NuGet
 provider must be available in 'C:\Program Files\PackageManagement\ProviderAssemblies' or
'C:\Users\username\AppData\Local\PackageManagement\ProviderAssemblies'. You can also install the NuGet provider by
ru

[2020-07-23 13:56] #59567 closed

[2020-07-23 14:01] dklwong opened #59599 "Which service tags should I use?"
Hi,

![image](https://user-images.githubusercontent.com/52310789/88295271-c6c24980-cd2f-11ea-9447-f54b2ead948e.png)

I would like to use NSG to whitelist the above services, any recommendation of NSG service tags should I use?

Thank you

[2020-07-23 14:14] ram-msft commented on #59288
Thanks for the details. @kikiliu Can you please share any road map/suggestions on this issue.

[2020-07-23 14:30] cijothomas commented on #54278
The latest beta package has some nice improvements in this area. @mrbullwinkle We can try to improve this doc along with the newest additions. @rajkumar-rangaraj knows the most correct details on changes.

[2020-07-23 14:41] zr-msft commented on #43857
Thank you @rhwilburn for the feedback!

The article has been updated to use helm 3. We have also added a task to our backlog to review using yaml and will prioritize accordingly.

#please-close

[2020-07-23 14:41] #43857 closed

[2020-07-23 14:43] mrbullwinkle commented on #59590
adding @cijothomas for comment.

[2020-07-23 14:44] devedse commented on #28461
So I'm still running into this problem. Also, is the new VNET integration already released?

The steps I executed:
1. Created a VNet
1. I left the subnet as default
![image](https://user-images.githubusercontent.com/2350015/88299429-a0d28000-cd02-11ea-8a19-7f8c5f04f4f4.png)
1. Setup cosmos
1. Assign Cosmos to the VNET
![image](https://user-images.githubusercontent.com/2350015/88299562-c8c1e380-cd0

[2020-07-23 14:45] #59489 closed

[2020-07-23 14:46] GiftA-MSFT commented on #59533
@trevorbye please review above feedback, thanks.

[2020-07-23 14:49] cijothomas commented on #59590
This is incorrect. Intrumentation key is there, inside the TelemetryConfiguration part of TelemetryClient.
Its not set on TelemetryClient.Instrumentation, and is not required.

[2020-07-23 14:50] cijothomas commented on #59590
The TelemetryConfiguration inside TelemetryClient is the exact same one used for all the other telemetry. There is "public" method to see it, and it is by design. If you are in a debugger, you can examine it.

[2020-07-23 14:50] RohitMungi-MSFT commented on #59547
@PatrickFarley Could you please help review `AnalyzePdfForm` functionality as this reference code is also not available on the github samples [page](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/samples/README.md) to verify the latest preview version?

[2020-07-23 14:53] iamalexmang commented on #59590
Thanks for the reply.
I'm disappointed by your harsh and unverified reply.

Maybe you would care to explain "_the TelemetryConfiguration inside TelemetryClient is the exact same one used for all the other telemetry_".
Especially in context to this: an injected TelemetryClient and an injected TelemetryConfiguration. Supposedly "same".

![image](https://user-images.githubusercontent.com/5773281/8830

[2020-07-23 15:13] cijothomas commented on #59590
If you think my replies are harsh and unverified - its best for me to not comment further. Sorry.

[2020-07-23 15:15] J0F3 opened #59601 "Write a bit more about the actual content of the files."
Hi there,

It would love to see some examples of the actual content of the described JSON files. Currently one can only guess what one have to write to the different files.

Thx!
Jonas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6b34e-7ed0-5ecd-6cf4-192e7393663c
* Version Independent ID: cb186c12-22a3-5ac4-667c-b

[2020-07-23 15:17] iamalexmang commented on #59590
Repsectfully, asking me on two repos and three threads to elaborate the issue, having it elaborately explained with reproductiok steps, screenshots and references just to then reply almost instantaneously “this is incorrect. The instrumentation key is there” when it is clearly not, is disapointing to say the least.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From:

[2020-07-23 15:18] DCtheGeek commented on #59440
@rorieke Thanks again for pointing this out.  I'll remove the two examples that use that schema that's no longer present.  When this change merges, this issue will automatically close.  Publish will happen at a later point in time.  Thanks!

[2020-07-23 15:19] DCtheGeek commented on #59601
#assign:DCtheGeek

[2020-07-23 15:23] DCtheGeek commented on #59601
@J0F3 Thanks for the feedback.  That article isn't about the JSON content, but how to structure a workflow with policy definitions.  Each of the JSON files are well-defined in other places in the docs:
- [Policy definition](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure)
- [Initiative definition](https://docs.microsoft.com/azure/governance/policy/concepts/initiati

[2020-07-23 15:24] JamesMiera commented on #59562
[cid:image001.png@01D660CA.B568C190]

From: Taiyue Tan <notifications@github.com>
Sent: Thursday, July 23, 2020 1:57 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Miera, James <James.Miera@disney.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Video has links that are no longer valid. (#59562)

@JamesMiera<https://nam04.safelinks.protection.

[2020-07-23 15:29] dargilco commented on #59533
+Panu to comment, as there was a discussion on this with ian Wells.

From: GiftA-MSFT <notifications@github.com>
Sent: Thursday, July 23, 2020 7:47 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Darren Cohen <dcohen@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Speech SDK is also supported on Ubunto 20.04 LTS (#59533)

@trevorbye<

[2020-07-23 15:30] AjayKumar-MSFT commented on #59478
@ramya-rao-a,  For a quick start, [ this guide](https://docs.microsoft.com/azure/notification-hubs/notification-hubs-nodejs-push-notification-tutorial) shows how to send push notifications with the help of Azure Notification Hubs directly from a Node.js application. I could not find any specific samples for Node.js [here](https://github.com/Azure/azure-notificationhubs-samples), I'm checking on th

[2020-07-23 15:34] josgonz231 opened #59603 "To configure coexisting connections for an already existing VNet does not cover creating a VPN Gateway"
Section **To configure coexisting connections for an already existing VNet** only covers up to creating the ExpressRoute Gateway it does not cover how to create the VPN Gateway, if user only follows this section they will not create the VPN Gateway.

VPN Gateway creation is covered in **To create a new virtual network and coexisting connections** steps 4-7

---
#### Document Details

⚠ *Do not edi

[2020-07-23 15:35] tobystic opened #59604 "Lockdown access through frontdoor only"
[How do I limit access to my back-end to be from Front Door only?](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#how-do-i-limit-access-to-my-back-end-to-be-from-front-door-only)

Would it be correct to suggest that another option is to set up a DNS zone in Azure (or a DNS nameserver at the domain registrar) to forward all requests for the root domain to the Frontdoor

[2020-07-23 15:36] #59440 closed

[2020-07-23 15:36] pstasik commented on #59598
Issue resolved by following this article:
https://www.alitajran.com/unable-to-install-nuget-provider-for-powershell/

[2020-07-23 15:36] #59598 closed

[2020-07-23 15:36] hpsin commented on #55353
Great! Thanks @mitch1995. We'll update the docs and close this out.

[2020-07-23 15:42] #59560 closed

[2020-07-23 15:42] pjjohnson opened #59606 "Title is incorrect - it's JWT not JTW"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2de7876f-b639-8f37-0126-e65fd7309867
* Version Independent ID: 44e23268-4328-ed17-1c99-4e78fdea4822
* Content: [Manage SSO and token customization using custom policies - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-directory-b2c/config

[2020-07-23 15:42] psmanhas commented on #59559
@nickmcmahan Thank you for your feedback. We will have discussion internally and will make necessary changes as per your ask.

Further for clarification when you are creating a Key Vault in Azure you do get an option of Purge and soft delete at the time of Key Vault creation as below:

![image](https://user-images.githubusercontent.com/35990743/88260873-de271580-cce2-11ea-8110-ffc93d0b1124.png)

S

[2020-07-23 15:43] #59491 closed

[2020-07-23 15:44] rarnosti opened #59607 "Cross-tenant Azure Data Factory"
Hi, I'm trying to grant permission from Integration runtimes from one ADF to another ADF, but it's failing with the following error message:
Error occurred when grant permission to XXXXXXXXXXXXXXXXXXXXXXX. Error: {"error":{"code":"PrincipalNotFound","message":"Principal YYYYYYYYYYYYYYYYYYYYYYYYYYY does not exist in the directory WWWWWWWWWWWWWWWWWWWWW."}}View less
I believe it's failing because the

[2020-07-23 15:49] JamesTran-MSFT commented on #57608
@iliassk
Thank you for the confirmation! I'll go ahead and close out this issue.

@JasSuri, when you get the chance, would you be able to respond to iliassk's question above? Regarding your opinion on this issue.

[2020-07-23 15:49] #57608 closed

[2020-07-23 15:50] #46875 closed

[2020-07-23 15:51] zr-msft commented on #46875
Thank you @BDO-Cyb3rFl3x for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-23 15:54] KrishnaG-MSFT commented on #59300
@vinynigam Thanks for the insights! 👍
@jaydarius Verified and updated the document as required. Change should go live soon in less than 24 hours.

[2020-07-23 15:54] #59300 closed

[2020-07-23 15:55] markjbrown commented on #59425
JSON itself is case sensitive and the fact that Cosmos DB itself is case sensitive is noted in multiple places in our documentation already.

[2020-07-23 15:55] rorieke commented on #59440
You're welcome, thank you!

[2020-07-23 15:58] bwren commented on #59593
Azure Security Center. Uses the same Log Analytics agent. Good discussion of the security data it collects here: https://docs.microsoft.com/en-us/azure/security-center/security-center-enable-data-collection

[2020-07-23 16:05] nickmcmahan commented on #59559
Hi @psmanhas - thanks for the quick turnaround on this! Much appreciated.

The idea to submit feedback for this article actually came from my own mistake when I was deploying a new environment for testing. When I initially created the Key Vault following the Portal doc, I unchecked the soft-delete and purge protection so that when I was done with my test environment, I could quickly delete all my

[2020-07-23 16:08] psmanhas commented on #59559
@nickmcmahan  I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-07-23 16:08] mrbullwinkle commented on #59590
@iamalexmang apologies for the confusion, had I seen your GitHub Issue on the SDK repo: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1972 I would have just added a cross link to the issue rather than looping the engineering team into the doc issue which did not have the same level of detail. I saw your link to the closed issue, but in glancing at it I thought you had created only

[2020-07-23 16:08] mrbullwinkle commented on #59590
#please-close

[2020-07-23 16:08] #59590 closed

[2020-07-23 16:08] psmanhas commented on #59559
@roygara As per our discussion can you please check and add your comments on this doc update request as applicable.

Thanks

[2020-07-23 16:09] saswatmohanty01 commented on #59569
@AjayKumar-MSFT https://github.com/AjayKumar-MSFT
This should be part of Azure container instance and Azure AKS. In document section this information is missing. There is no information how to deploy azure container instance with privileged mode. Many customers are are asking for this feature as other public cloud providers have this option.

reference : https://feedback.azure.com/forums/602224-az

[2020-07-23 16:10] diberry commented on #59546
@RohitMungi-MSFT - The docs team will not add environment variables to the quickstarts as it is a blocker to customer success.

[2020-07-23 16:16] tomdan-MSFT opened #59609 "URLs listed network requirements is incomplete"
URLs listed under this page are not the complete list of the URLs that need to be opened in order to install the NPS extension :

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#network-requirements

Can we please get this properly updated?   Customer tried this list in their firewall and the PowerShell script failed to install the NPS extension.  Add

[2020-07-23 16:20] brbel opened #59610 "Pricing for VMs"
What are the options for pricing on a VM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7947496e-c042-15bd-d6c1-ee2738a91119
* Version Independent ID: 98730184-8c1e-9ece-09e7-31abdd60ccd2
* Content: [Publishing guide for virtual machine offers on Azure Marketplace](https://docs.microsoft.com/en-us/azure/marketplace/ma

[2020-07-23 16:20] MonikaReddy-MSFT commented on #59606
@pjjohnson -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-23 16:20] rwike77 commented on #55480
@Chai-NED , I've updated the article and also added a few portal screen shots.  Hope that helps. Screenshot updates should go live shortly.  #sign-off

[2020-07-23 16:21] #55480 closed

[2020-07-23 16:36] dlepow commented on #57189
@martinnormark - Apologies for slow response. Yes, currently only CUDA 9 is supported for ACI GPU resources, which are in preview. I updated wording to state "only" to clarify. There is a current user feedback item you can upvote to provide support for more recent CUDA versions such as CUDA 10: https://feedback.azure.com/forums/602224-azure-container-instances/suggestions/38200546-support-cuda-10

[2020-07-23 16:36] #57189 closed

[2020-07-23 16:39] martinnormark commented on #57189
@dlepow thanks for clarifying, I will upvote the user voice post.

[2020-07-23 16:40] kobulloc-MSFT commented on #59609
@tomdan-MSFT Thank you for bringing this to our attention.  We are going to investigate this and update the documentation accordingly.

[2020-07-23 16:41] NICK-AKINCILAR opened #59611 "Tenant URL portion is missing on this version. It was in the previous version of the doc"
What the Tenant URL needs to be is missing on this version. It was in the previous version of the doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6311c7b-41d1-21d0-c833-f4f290c41e04
* Version Independent ID: 264ebeac-f5c4-e869-a1dd-c7e14494b474
* Content: [Tutorial: Configure Snowflake for automatic user provisioni

[2020-07-23 16:45] kobulloc-MSFT commented on #59596
@sachinpanwar Thank you for bringing this to our attention!  We are reviewing this, and will update the documentation accordingly.

[2020-07-23 17:00] BrianMinister opened #59612 "There is a most underwhelming statement about private keys not being stored with public keys on imported certs."
The statement "When you are importing the certificate, you need to ensure that the key is included in the file itself." needs to be prefixed with "Note:" or "Be aware:" or something. I burned a day not realizing that limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f966c6-f99b-c7a6-45c1-0a3a3794204e
* Versi

[2020-07-23 17:03] MarileeTurscak-MSFT commented on #59612
I agree that it could be more conspicuous there! Looking into this now.

[2020-07-23 17:05] KranthiPakala-MSFT commented on #59588
@stawo
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-07-23 17:06] MarileeTurscak-MSFT commented on #59612
Thanks @BrianMinister! I made a pull request to highlight that line in a Note block. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123529

[2020-07-23 17:06] #59612 closed

[2020-07-23 17:08] KranthiPakala-MSFT commented on #59597
@ivoburger
Thanks for the feedback! We are investigate into this and will provide an update as appropriate.

[2020-07-23 17:17] J0F3 commented on #59601
@DCtheGeek
Thank you for the fast answer!
Sure the article is and should not be about the specific JSON content . But it helps to understand the workflow if you have a direct context to what the content of the files should be. Currently the context between the Policy definition, Initiative definition and Assignment definition is IMHO not very obviously and that's  why I have this suggestion.
I can

[2020-07-23 17:21] AjayKumar-MSFT commented on #59569
@saswatmohanty01, Thanks for sharing additional details. We will check on this and get back to you soon.

[2020-07-23 17:24] rishabpoh commented on #28319
If you take a look at the updated doc (https://docs.microsoft.com/en-us/azure/storage/common/storage-samples-dotnet?toc=/azure/storage/blobs/toc.json) you will notice we have added the message. Thank you for your feedback!

[2020-07-23 17:25] ctahok opened #59614 "Is the Windows Virtual Desktop Spring 2020 update still under public preview?"
Is the Windows Virtual Desktop Spring 2020 update still under public preview or it has been GA-ed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1566f30c-a163-2d05-5b5f-f9a5bf2d9891
* Version Independent ID: c4a6524e-adf5-6969-586a-0bc1ffe2bbb9
* Content: [Delegated access in Windows Virtual Desktop Spring 2020 - Azur

[2020-07-23 17:25] ctahok opened #59615 "Is the Windows Virtual Desktop Spring 2020 update not GA-ed."
Is the Windows Virtual Desktop Spring 2020 update still under public preview or it has been GA-ed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1566f30c-a163-2d05-5b5f-f9a5bf2d9891
* Version Independent ID: c4a6524e-adf5-6969-586a-0bc1ffe2bbb9
* Content: [Delegated access in Windows Virtual Desktop Spring 2020 - Azur

[2020-07-23 17:29] swmachan commented on #53741
@wmpauli - if you use auto-detect and you have any tags then that can affect the auto-detection results. Hence we recommend to include the from language parameter.

[2020-07-23 17:29] hrasheed-msft commented on #59588
@stawo Thanks for reaching out. Currently 3.6 is still the default for all cluster types, so we have left the screenshots for the default version that most customers will use. When HDInsight 4.0 becomes the default version, we will update the screenshots accordingly. Thank you. If you need help navigating the updated Ambari UI, please open a ticket with Azure support. Select Support from the menu

[2020-07-23 17:29] hrasheed-msft commented on #59588
#sign-off

[2020-07-23 17:36] stawo commented on #59588
@hrasheed-msft , as I mentioned in the title and description, I'm referring to HDInsight 3.6, not 4.0.
I'm aware of your answer to my other issue regarding HDInsight 4.0, but the issue still persists even in HDInsight 3.6.
Please re-open the issue.

[2020-07-23 17:39] MartinJaffer-MSFT commented on #59597
@ivoburger  Thank you for pointing this out.

The 'Export ARM template' button  exports the definition of whatever is currently loaded.

- This means, as you found out, when you are in Git mode with the master branch loaded, the definition of the master is exported.
- It also means, if you switch from Git mode to Factory mode, you will export the currently published definition.
  This could differ

[2020-07-23 17:40] Karishma-Tiwari-MSFT commented on #59594
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-23 17:41] amitbapat commented on #56284
#please-close

[2020-07-23 17:41] #56284 closed

[2020-07-23 17:42] Karishma-Tiwari-MSFT commented on #59615
Thanks for the question. Since this is a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/59614
I will close this issue and work towards providing you an answer there.

[2020-07-23 17:42] #59615 closed

[2020-07-23 17:42] Karishma-Tiwari-MSFT commented on #59614
Thanks for the question. We are currently investigating and will update you shortly.

[2020-07-23 17:44] ivoburger commented on #59597
The thing is, you are not able to export the published version if in git
mode.
Because you cannot select the adf_publish branch.

On Thu, Jul 23, 2020, 19:40 MartinJaffer-MSFT <notifications@github.com>
wrote:

[2020-07-23 17:46] NaraVen commented on #56603
1) it should be run without sudo

path to mount point should be absolute
See https://github.com/Azure/azure-storage-fuse/blob/master/mount.sh

[2020-07-23 17:49] nromyn opened #59616 "Azure RBAC permission required"
The article lists as prerequisites an Event Hub in an Azure subscription. It does not detail what permissions must be assigned to the Global Administrator account. Where segregation of duties is required, the Global Administrator account does not have any Azure subscription access. In this scenario, log export cannot be set up - whether it's to a storage account or event hub. I believe this is bec

[2020-07-23 17:52] GiftA-MSFT commented on #59520
@timoklimmer thanks for your feedback. [Managed Identify](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) enables automatic authentication to any service that supports Azure AD authentication. You can consider managed identity as a type of service principal that manages the automatic creation/renewal of service principals. Furthermore, in Azure

[2020-07-23 17:53] pankopon commented on #59533
The Speech SDK team has a user story in the SDK 1.14.0 release sprint (ongoing) about Ubuntu 20.04 LTS support.

We will implement and run full SDK verification tests on Ubuntu 20.04 LTS so that the official support status can be confirmed. Also, we will update public SDK related docs and samples with Ubuntu 20.04 LTS specific information when the SDK 1.14.0 release is made. There should be no cha

[2020-07-23 17:57] RyanHill-MSFT commented on #59185
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-23 17:57] #59185 closed

[2020-07-23 17:58] mhopkins-msft commented on #59265
Hi @himanshudbagupta

Since I haven't heard back from you, I'm going to close this issue for now. Please feel free to re-open the issue if you still have questions.

Thanks,
 ~ *Mark*

#please-close

[2020-07-23 17:58] #59265 closed

[2020-07-23 18:00] DCtheGeek commented on #59601
@J0F3 That helped, thanks!  I've created a PR to address this feedback. When it merges, this issue will automatically close. Publish will occur sometime after that.  Thank you again for providing your perspective and feedback!

[2020-07-23 18:01] ibidani opened #59617 "Redirection URL in CSV file of bulk invite guest is invalid"
The CSV file template of bulk invite guest is set by default to "https://myapps.azure.com" which should be "https://myapps.microsoft.com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704378b4-148f-49a9-3b18-fad694da0dc7
* Version Independent ID: db6f6680-22ef-fc80-4914-e72ff27820ad
* Content: [Tutorial for bulk invit

[2020-07-23 18:05] KranthiPakala-MSFT commented on #59161
Hi @nmellal The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out. Please let us know if there is something else that we can help you with.

Thank you

[2020-07-23 18:06] dannyevers commented on #59610
@brbel - Thanks for brining this to our attention. We will investigate it further. Did you see the information about creating a plan for a VM offer in this article?
https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/azure-vm-create-offer#plan-overview
I agree that the Publishing guide for virtual machine offers on Azure Marketplace article needs work. We have an update of tha

[2020-07-23 18:07] SaurabhSharma-MSFT commented on #59616
@nromyn Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-07-23 18:08] SaurabhSharma-MSFT commented on #59617
@ibidani Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-23 18:09] #59601 closed

[2020-07-23 18:29] DerekHerman-MSFT commented on #59518
@WyattBest If disabled you will not get any output. If enabled you should get something like the image attached.
![confirmationenabled](https://user-images.githubusercontent.com/65573242/88323806-a5357380-ccd7-11ea-8ff1-89037e231463.png)

Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-23 18:33] jimlane opened #59618 "Logger message misplaced"
The final logger.LogInformation invocation on line 45 of the provided code for the C# function code is misplaced. From my experience performing this walkthrough it appears that since the prior line for out.AddAsync is awaited, the next line of code to call to logger is never executed on the same thread, therefore that message does not appear in the produced logs. By swapping those two lines I was

[2020-07-23 18:38] rwike77 commented on #53038
Thanks for the suggestion.  I just updated the article, changes should go live this afternoon.  #please-close

[2020-07-23 18:38] #53038 closed

[2020-07-23 18:40] #47638 closed

[2020-07-23 18:40] zr-msft commented on #47638
Thank you @joelw for the feedback.

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-23 18:46] bimaben commented on #54851
I have done tried it today and I still get the same error.
I used docker to install the tool by following this guide. https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool

I installed it on amazon EC2 and I cannot proceed beyond this point !

[2020-07-23 18:54] dannyevers commented on #59610
#reassign emuench
Reassigning to Eric, as he'll be reworking the VM offer help articles.

[2020-07-23 18:55] dannyevers commented on #59610
#reassign: emuench
Reassigning to Eric, as he'll be reworking the VM offer help articles.

[2020-07-23 19:02] YutongTie-MSFT commented on #59403
@MinaPiao
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-23 19:02] #59403 closed

[2020-07-23 19:07] mikemowgli commented on #37403
So here we are end of July. Python 2 is really old.
Either Azure Automation will soon be deprecated, or Microsoft doesn't pay attention to its community.

[2020-07-23 19:08] SnehaGunda commented on #59586
Thank you, we fixed the issues. the Updates should be live tomorrow.

We will close this issue now.

#please-close

[2020-07-23 19:08] #59586 closed

[2020-07-23 19:10] adamkadzban opened #59623 "Broken aka.ms link to DI GitHub sample"
In the "Service Lifetimes" section of this page (https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#service-lifetimes), there's a link to this aka.ms page: https://aka.ms/functions/di-sample

Following that link results in a GitHub 404 not found page: https://github.com/Azure/azure-functions-dotnet-extensions/tree/master/src/samples/DependencyInjection/Sco

[2020-07-23 19:13] Mike-Ubezzi-MSFT commented on #28461
@devedse Thank you for providing the details specific to your deployment. What I do not see is a Privatelink associated with the VNET that you have created. A Private Endpoint establishes a private address space as defined by the VNET configuration. What you do not have is a **Private IP Address** issued for the **Cosmos DB for SQL API** _service_ that has been setup in that VNET. Please see the f

[2020-07-23 19:14] imatiach-msft commented on #59129
@philippschaefer4 I've merged the fix, it should be available in the next release of interpret-community which will be coming in a couple days/weeks.

[2020-07-23 19:31] MarileeTurscak-MSFT commented on #59314
@akiyoshi are you saying that you want this added in the documentation itself?

[2020-07-23 19:32] AjayKumar-MSFT commented on #59562
@JamesMiera, Thanks again for taking time to share your valuable feedback. It's look like you tried to share a screenshot/video, but we are unable to see it. As ryotokuro mentioned, could you please share the exact section and the URL in the documentation.

Having mentioned that, this document aims at demonstrating key foundational concepts of Azure App Service Environment with additional comparis

[2020-07-23 19:37] johsoderi opened #59625 "Article does not provide a satisfying solution to a problem it brings up [Assistance appreciated]"
**_"This article is intended for users trying to update the organization info connected to a work or school account."_**

Ironic then, that it goes on to tell me I can't do just that!

My situation is as follows:
- I signed up for Azure using my school issued MS credentials, as to be eligible for Azure for Students and the free credits with it.
- I have subsequently used this account to do things.

[2020-07-23 19:40] SnehaGunda commented on #59425
It's in this doc: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-working-with-json
I will add clarification in the unique keys doc as well.

[2020-07-23 19:49] #47793 closed

[2020-07-23 19:50] zr-msft commented on #47793
Thank you @nicksc423  for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-23 19:55] brbel commented on #59610
Didn't find that article. May want to merge or reference each other?

[2020-07-23 19:56] zr-msft commented on #48804
#please-close

[2020-07-23 19:56] #48804 closed

[2020-07-23 19:56] KranthiPakala-MSFT commented on #59247
@jpborsi We have opened an internal work item to fix the doc issue. I am working with ADB PM team to fix this.

Since we are tracking this case internally, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me us in your reply and reopen the issue. We will gladly continue the discussion.

Thanks again for bringing this to our attention and he

[2020-07-23 19:56] #59247 closed

[2020-07-23 20:01] zr-msft commented on #49450
Thank you @jmorcar for the feedback.

The article has been updated to address your feedback.

#please-close

[2020-07-23 20:01] #49450 closed

[2020-07-23 20:03] tx5westmt opened #59627 "Ongoing Sync Permissions"
I received an error when trying to limit the sql account's security per ongoing sync section in this document: An unexpected error occurred when applying batch file....Failed to execute the command 'BulkInsertCommand' for table [my custom table]....

It worked when I followed advice to add ALTER TABLE [here](https://social.msdn.microsoft.com/Forums/azure/en-US/255b689b-5047-4271-8e73-23147189013b/

[2020-07-23 20:04] cynthn commented on #55471
@charles-e-cameron2 Thanks for the feedback! Do you have a scenario where you ended up with the same UUID for different disks?

My understanding is that the UUID is created when you format the disk. If you make multiple copies of the same disk and attach it to a VM, those disks would have the same UUID, but I don't know why you would do that?

Thanks!

[2020-07-23 20:04] tfitzmac commented on #59227
@amit-sycomp - here are a couple of options. You could try the new [Slider control](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/microsoft-common-slider) or take a string output and convert to integer with [int](https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-applications/create-ui-definition-conversion-functions#int) function.

[2020-07-23 20:09] PatAltimore commented on #58191
@gs-repo Hi Gurinder,

Is it okay to close this issue? I have an task in our backlog to review and improve the documentation steps.

Thanks,
Pat

[2020-07-23 20:10] SaurabhSharma-MSFT commented on #58975
@sdegenhardt Sorry but I haven't opened this current GitHub issue as we already having a discussion on Microsoft Q&A thread.   GitHub issues are meant to address Microsoft documentation related issues and Microsoft Q&A would be more suitable for product troubleshooting type of questions.  Also, if any documentation updates or enhancements are required once your issue is resolved then we can defini

[2020-07-23 20:12] SnehaGunda commented on #59425
we will now close this issue.

#please-close

[2020-07-23 20:12] #59425 closed

[2020-07-23 20:16] zr-msft commented on #49079
Thank you @skynetrulz for the feedback.

I can't reproduce this issue. Please follow up if you're still running into an issue.

#please-close

[2020-07-23 20:16] #49079 closed

[2020-07-23 20:30] zr-msft commented on #51212
Thank you @rockboyfor for the feedback.

The article has been updated to address your feedback.

#please-close

[2020-07-23 20:31] #51212 closed

[2020-07-23 20:31] vhorne commented on #58977
#reassign :caya

[2020-07-23 20:31] PRMerger14 commented on #58977
caya is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-23 20:31] #49572 closed

[2020-07-23 20:32] zr-msft commented on #49572
Thank you @dstampfli for the feedback!

I've updated the article to address your feedback and the changes should be available soon.

[2020-07-23 20:37] zr-msft commented on #51394
Thank you @akramwaseem for the feedback!

We have added a task to our backlog to consider this and will prioritize accordingly.

#Please-close

[2020-07-23 20:38] pmozbert opened #59628 "role to configure AAD monitoring"
This page does not explain the pre-requisite AAD role membership that is needed to configure diagnostics.  what is it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68085eb1-689f-04cf-7793-cd1731c43a09
* Version Independent ID: 210d477b-431e-28fe-a3b1-3737cb9c200d
* Content: [What is Azure Active Directory monitoring?

[2020-07-23 20:39] RyanHill-MSFT commented on #59225
Hi @farooqkh AES-256 is not planned for V3 SDK. It was available in V2 because at the time, Azure Storage did not handle server side encryption at rest like it does now. For this reason, V3 offers backwards compatibility for assets that were encrypted client side before Azure Storage offered this behavior default. Should you still like the idea of client side encryption, the team is looking for fe

[2020-07-23 20:39] #59225 closed

[2020-07-23 20:39] kobulloc-MSFT commented on #59551
@MattPeterson1 Thank you again for pointing this out!  Readers looking for [amr claim documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#the-amr-claim) can find it in the links mentioned above, so we are going to close this issue as resolved.  If you have any additional questions about the documentation, tag me in your reply and I'd be happy to continue th

[2020-07-23 20:39] #59551 closed

[2020-07-23 20:53] serdarmelez commented on #32551
Hi, I am also having the same problem here. I could not find any method to delete Microsoft Azure account as my Free Trial period is over and I dont need it anymore. I am trying to unbind my credit card information from both Microsoft azure account and Microsoft account but it does not allow me to do since it is defined in Azure account. Please provide a proper answer as most of the people here ar

[2020-07-23 20:58] KSchlobohm opened #59631 "Azure AD Connect doc Missing link to recommended practices for account security"
While reading the document I realized this account would have very important permissions. It seems as important to establish the right security policies as it does to complete this configuration and setup.

I think this is the correct link https://docs.microsoft.com/en-us/azure/security/fundamentals/steps-secure-identity#before-you-begin-protect-privileged-accounts-with-mfa and my recommendation i

[2020-07-23 21:05] zr-msft commented on #52418
Thank you @flashtheman for the feedback!

I've recently updated and tested the article and was not able to reproduce your issue. Please follow up if you are still seeing this issue.

#please-close

[2020-07-23 21:05] #52418 closed

[2020-07-23 21:11] JamesMiera commented on #59562
Sure, it is in the video from 19:00-20:20

From: AjayKumar-MSFT <notifications@github.com>
Sent: Thursday, July 23, 2020 12:33 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Miera, James <James.Miera@disney.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Video has links that are no longer valid. (#59562)

@JamesMiera<https://nam04.safelinks.p

[2020-07-23 21:14] BhargaviAnnadevara-MSFT commented on #59489
@Johnnytechn The changes reflect in the doc now. Thanks for the feedback!

[2020-07-23 21:16] BhargaviAnnadevara-MSFT commented on #59491
@ciufudean The doc in question now reflects the current experience. Thanks again for the feedback!

[2020-07-23 21:18] BharathNimmala-MSFT commented on #59227
@tfitzmac Thank you for helping on this thread.

@amit-sycomp Please review the above information and let us know if you have any further queries.

Since this channel (the [Azure Docs repository](https://github.com/MicrosoftDocs/azure-docs/issues)) is only for driving improvements related to the Azure documentation. At this point it appears that there's no further edits or updates needed to the do

[2020-07-23 21:18] #59227 closed

[2020-07-23 21:20] nitinme commented on #50841
@v-demjoh - Does your PR above address the concern raised in this issue?

[2020-07-23 21:22] santhoshbomma9 opened #59632 "Test drive option for SaaS offer"
Is the test drive option relevant to SaaS offer at all?
The dialog here says https://docs.microsoft.com/gl-es/azure/marketplace/what-is-test-drive#azure-resource-manager-test-drive, ARM Test Drive is only VM and Azure Apps offer type, but In the SaaS documentation it points on creating test drive https://docs.microsoft.com/gl-es/azure/marketplace/partner-center-portal/create-new-saas-offer#enable-

[2020-07-23 21:27] zr-msft commented on #53366
Thank you @Vincent0818  for the feedback!

We have added a task to our backlog and will prioritize accordingly.

#please-close

[2020-07-23 21:27] #53366 closed

[2020-07-23 21:34] ChaitanyaNaykodi-MSFT commented on #59575
@miquelcv, Thank you for your feedback! We will review and update as appropriate.

[2020-07-23 21:35] zr-msft commented on #52902
Thank you @rkapoor028 for the feedback.

I was able to go through the article and verify it works. Please follow up if you're still seeing any issues.

#please-close

[2020-07-23 21:35] jurschel commented on #59541
@kobulloc-MSFT I actually think the Google Cloud Platform was a custom enterprise app I created a while back.  So at the moment there is NO official google app in the Azure Enterprise App "store" correct?

[2020-07-23 21:35] #52902 closed

[2020-07-23 21:41] ChaitanyaNaykodi-MSFT commented on #59623
@adamkadzban, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-07-23 21:43] zr-msft commented on #53996
Thank you @ezYakaEagle442 for the feedback!

We have added an item to our back log and will prioritize it accordingly.

#please-close

[2020-07-23 21:43] #53996 closed

[2020-07-23 21:45] SnehaGunda commented on #59186
I made fixes to all the Table API docs in the above PR to make it clear that you need either Table storage or the Cosmos DB Table API account.  Changes will be live tomorrow. We will now close this issue.

#please-close

[2020-07-23 21:45] #59186 closed

[2020-07-23 21:46] zr-msft commented on #54078
Thank you @rlevchenko for the feedback!

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-23 21:46] #54078 closed

[2020-07-23 21:50] SnehaGunda commented on #57227
@giladsu Yes, you can also use the setCurrentLocation method which would automatically pick the preferred location. The key difference for both these methods is the ability to customize the location.
setCurrentLocation - The SDK chooses the preferred location based on the availability
PreferredLocations - In case you don't want to use the default location chosen by the SDK and want to manually spe

[2020-07-23 21:54] zr-msft commented on #54935
Thank you @porrascarlos802018 for the feedback!

We have added an item to our backlog and will prioritize accordingly.

[2020-07-23 21:54] #54935 closed

[2020-07-23 21:55] NavtejSaini-MSFT commented on #59369
@aarushi-mittal We are going ahead and closing this feedback for now. If you need further help, please get back to us and we will do the needful.

[2020-07-23 21:55] #59369 closed

[2020-07-23 21:56] NavtejSaini-MSFT commented on #59410
@SQLSourabh Please confirm if this is in works or we need a PR for this.

[2020-07-23 21:56] danvalero opened #59635 "External load balancer for the Listener"
In the document you use an internal load balancer, which makes sense as the IP should be in the same subnet as the VMs,
However, in the load balancer section type, you mention "External: Allows applications to connect to the availability group through a public Internet connection." If this is the case, Should I use the public static IP address when configuring the client access point in the cluste

[2020-07-23 22:02] zr-msft commented on #57566
Thank you @isamllr for the feedback!

We have added an item in our backlog and will prioritize accordingly.
#please-close

[2020-07-23 22:02] #57566 closed

[2020-07-23 22:04] zr-msft commented on #57502
Thank you @mkosieradzki for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-23 22:06] trevorbye commented on #59288
@ram-msft product team is issuing a fix in the next release to add these missing features. As @saltonsolutions mentioned, I recommend using the [REST API](https://docs.microsoft.com/en-us/rest/api/speakerrecognition/) for the time being. #please-close

[2020-07-23 22:06] #59288 closed

[2020-07-23 22:09] NavtejSaini-MSFT commented on #59452
@estebanvenon We have made the changes and they will come into effect in 24 hrs. Thanks for the feedback again.

[2020-07-23 22:09] #59452 closed

[2020-07-23 22:11] MartinJaffer-MSFT commented on #59597
I was trying to say, Exporting from Factory mode should give the same result as adf_publish branch (if it was possible to do).
The adf_publish branch is written to after a successful publish action.

[2020-07-23 22:14] danvalero opened #59636 "Number of load balancer"
It is not clear for me in the document if I need a load balancer for the listener and another for the WSFC CAP or if I can have one single Load Balancer with multiple frontend.

Can you provide guidance about it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09504e18-c72f-07ee-3ef8-dc9ed44562ca
* Version Independent I

[2020-07-23 22:18] NavtejSaini-MSFT commented on #59599
@dklwong These feedback channels are for providing feedback and improving the GitHub documentation which helps to route the questions correctly. Please share a link of document this feedback is based of or if it is a product question, Please raise on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) platform.

[2020-07-23 22:20] NavtejSaini-MSFT commented on #59604
@tobystic We are checking this and we will get back to you.

[2020-07-23 22:23] NavtejSaini-MSFT commented on #59607
@rarnosti These feedback channels are for providing feedback and improving the GitHub documentation which helps to route the questions correctly. Please share a link of document this feedback is based of or if it is a product question, Please raise on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) platform.

[2020-07-23 22:26] NavtejSaini-MSFT commented on #59603
@josgonz231  We are checking this and will get back to you.

[2020-07-23 22:27] SatishBoddu-MSFT commented on #59618
@jimlane
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-23 22:28] BharathNimmala-MSFT commented on #59217
@kgopi05 Apologies for delayed response on this thread. To enable and access the features in Azure Monitor for VMs, you must have the Log Analytics contributor role, please refer to [this ](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-overview#role-based-access-control) documentation for additional details.

Hope the above information helps. At this point it appe

[2020-07-23 22:28] #59217 closed

[2020-07-23 22:30] NavtejSaini-MSFT commented on #59611
@NICK-AKINCILAR  These feedback channels are for providing feedback and improving the GitHub documentation which helps to route the questions correctly. Please share a link of document this feedback is based on.

[2020-07-23 22:44] NickAkincilar commented on #59611
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/snowflake-provisioning-tutorial

Tenant URL was explained in previous version in section 5.5 but this version is missing what URL should be

[2020-07-23 22:48] massand opened #59639 "Default auto-generated symmetric key length is 64 bytes"
In my recent testing, I noticed the default auto-generated symmetric key length is no longer 32 bytes, as the document suggests. The docs should be updated to reflect the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58591e62-2b50-bf4a-a35a-d7dfa6670fb9
* Version Independent ID: fc4e5878-1a7f-4e38-05fc-c54ed85be

[2020-07-23 22:57] roygara commented on #59559
@nickmcmahan Thanks for reaching out and making us aware of this, we appreciate it! :)

We've gone ahead and updated the article to include this information, those changes are live right now.

Accordingly, I'll close this out.

Again, thanks for pointing this out and helping us improve the docs, we appreciate it!

#please-close

[2020-07-23 22:57] #59559 closed

[2020-07-23 22:58] BharathNimmala-MSFT commented on #59632
@santhoshbomma9 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-23 23:01] KranthiPakala-MSFT commented on #59261
Confirmed with @JamesEarle offline, that the issue was resolved by upgrading to 'latest releases'.

In case if anyone encounter this issue please refer to the note section of the document.

![image](https://user-images.githubusercontent.com/50185738/88346580-88139b80-ccfd-11ea-8fc6-8cd4ffe3ee69.png)

For current release support, see “Latest Releases” in the Azure Event Hubs Spark Connector project

[2020-07-23 23:01] #59261 closed

[2020-07-23 23:03] dave-007 opened #59640 "How may I 'restore as files' via azcli or azure-powershell?"
I'm hunting through documentation but have not located this ability via command line.

The use case is to restore set of production databases as files from RSVault (to a local folder on prod SQL or ideally azure file share) then  restore them to staging SQL server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c4ea6

[2020-07-23 23:19] ecfan commented on #59158
Hi @jwisener, the [feedback item](https://feedback.azure.com/forums/287593-logic-apps/suggestions/20569843-on-premise-data-gateway-support-for-multiple-subsc) that you found will be regressed. In Azure Logic Apps, multiple subscription support applies to on-premises triggers and actions where you can select an Azure subscription and a gateway resource that exists in that subscription. Provided you

[2020-07-23 23:20] #59158 closed

[2020-07-23 23:22] TravisCragg-MSFT commented on #59263
@ranjeetgarodia We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-23 23:22] #59263 closed

[2020-07-23 23:28] Mike-Ubezzi-MSFT commented on #59224
Hi @iAmBipinPaul, is there a behavior or issue you are experiencing that requires the assistance of Azure Support? Please take the initiative to [create a support request](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). The example @AnuragSharma-MSFT provides shows a query result using the limit query parameter.

If you can provide some comp

[2020-07-23 23:29] MarileeTurscak-MSFT commented on #59582
@JimmyLS
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-23 23:35] HarshaNalluru opened #59641 "[Service Bus] Incorrect docs related to the peek operation on subscriptions"
This issue is regarding the peek operation on topics/subscriptions.

Scheduled messages reside in the topic until the scheduled time, and users should peek into the topic if they want to see the scheduled messages. Scheduled Messages can not be peeked from a subscription since they are not present in the subscription.

The following lines from the docs suggest that the scheduled messages can be pe

[2020-07-23 23:37] Psuban commented on #32957
i'm experiencing the same problem. According to https://docs.microsoft.com/en-us/graph/permissions-reference?context=graph%2Fapi%2F1.0&view=graph-rest-1.0#microsoft-accounts-and-work-or-school-accounts , the calendar permissions should support microsoft accounts. I'm using a hotmail.co.uk account with an active Microsoft 365 Family subscription - https://www.microsoft.com/en-gb/microsoft-365/buy/c

[2020-07-23 23:44] santhoshbomma9 opened #59642 "Test drive instances"
What happens to the new customer when all instances are occupied by other customers
https://docs.microsoft.com/gl-es/azure/marketplace/azure-resource-manager-test-drive#technical-configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bae5057-4739-bb53-1567-9da7eb9feda7
* Version Independent ID: e46c76f2-18ac-c85

[2020-07-23 23:53] hrasheed-msft commented on #59610
#re-assign: @emuench

[2020-07-23 23:59] tobystic opened #59643 "BotManagedruleset currently unavaiable"
The option to Enable bot protection rule set as described in the [documentation ](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-front-door-policy-configure-bot-protection#enable-bot-protection-rule-set) is no longer available when configuring the WAF policy for Frontdoot.

The BotManagedruleset is probably enabled by default but there is the need to be able to manage thi

[2020-07-24 00:05] lobrien commented on #59053
Fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/122736
Relates to additional workitems: https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1749586 and https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1741234

#please-close

[2020-07-24 00:05] #59053 closed

[2020-07-24 00:12] kobulloc-MSFT commented on #59541
@jurschel Going through the documentation today, there are no results for "G Suite" and "google" returns the following:

![image](https://user-images.githubusercontent.com/37556655/88350227-599abe00-cd07-11ea-9cf0-16839f2d1c19.png)

@zchia would be in a better position to comment on official google apps in the Azure Enterprise App store, however the documentation does need to be updated.

[2020-07-24 00:15] ejectbutton opened #59644 "Suggestion - Add Information about blob storage lowercase sensitivity"
On this page under the **Connect to your blob storage module** section, it explains that we can connect to a module if we give it the <module name>. However, this doesn't work unless the name of your blob storage module is **all lowercase**.

There are other documents that give feedback on _suggesting_ lowercase for modules to help with connectivity. But I just went through 10 days of communicatio

[2020-07-24 00:17] TravisCragg-MSFT commented on #59604
@tobystic The problem with that is that it might still be possible to connect to your backend servers via IP via the Internet. this method is the only supported way to lock down the access, by only allowing the IP range for Azure Front Door.

[2020-07-24 00:18] Karishma-Tiwari-MSFT commented on #57872
This is expected to be GA later this year.
Reference article: https://techcommunity.microsoft.com/t5/windows-virtual-desktop/migration-from-fall-2019-to-spring-update-2020/m-p/1390068

[2020-07-24 00:20] #57872 closed

[2020-07-24 00:20] SatishBoddu-MSFT commented on #59644
Hello @ejectbutton
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-24 00:21] Karishma-Tiwari-MSFT commented on #59614
It is still under Public Preview. It is expected to be GA later this year.
Reference article: https://techcommunity.microsoft.com/t5/itops-talk-blog/windows-virtual-desktop-spring-update-enters-public-preview/bc-p/1352697/highlight/true#M793

We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue

[2020-07-24 00:21] #59614 closed

[2020-07-24 00:24] SatishBoddu-MSFT commented on #59644
@ejectbutton How does the below message looks like, does that helps ? Please confirm?

![image](https://user-images.githubusercontent.com/62923178/88350886-530d4600-cd09-11ea-881d-75e427e71ef3.png)

[2020-07-24 00:27] ejectbutton commented on #59644
That looks good to me! I think that would've helped me avoid this pitfall, and could help others as well.

[2020-07-24 00:29] SatishBoddu-MSFT commented on #59644
Ok let me work on review and approval process, soon we will update you!

[2020-07-24 00:30] jlichwa commented on #56508
Hello Gary,
We mentioned that in second sentence:
"Key Vault manages storage account keys by periodically regenerating them in storage account and **provides shared access signature tokens for delegated access to resources in your storage account.**"

It is basically regenerates key and provides you sas token for access based on definition. Storage account keys are never stored in Key Vault. SAS t

[2020-07-24 00:38] TravisCragg-MSFT commented on #59603
@josgonz231 The paragraph at the top of the [coexisting section](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-coexist-resource-manager#add) describes why instructions for both are not included

Basically, the instructions given only apply if you have a subnet that is too small for a coexisting connection. If your subnet is /27 or larger, you can go ahead and create both g

[2020-07-24 00:38] #59603 closed

[2020-07-24 00:43] bwren commented on #59593
#please-close

[2020-07-24 00:43] #59593 closed

[2020-07-24 01:05] SatishBoddu-MSFT commented on #59639
Hello @massand Thanks for the feedback!

We too see the auto generated key is 64 bytes!

![image](https://user-images.githubusercontent.com/62923178/88352457-a930b800-cd0e-11ea-8ed8-143af1d3e0f0.png)

[2020-07-24 01:13] dave-read opened #59646 "Should include the system requirements (Windows 10) here at the start"
[Enter feedback here]
I don't see any signs of system requirements until digging through the Release listing.  So I initially tried a number of times on a Mac to download and it did nothing on Chrome.  On Firefox I saw the .application extension and realized this was a disappointing dead end in trying out a tool I expected would be very useful.

Maybe it's here on the page somewhere, but I really

[2020-07-24 01:16] pnarsi opened #59647 "Using Continous Deployment with a Functions Premium plan that is VNET integrated"
I was wondering how continuous deployment would work in the context of a Azure Premium Function instance that is deployed on the VNET that has [outbound IP restrictions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-networking-options#outbound-ip-restrictions). In this scenario my VNET force tunnels all internet traffic via Express Route to my on premise internet gateway?

Assum

[2020-07-24 01:30] pnarsi commented on #56727
@mike-urnun-msft - is there an update on this issue? I am also quite keen on understanding if the Functions Premium plan supports more than one deployment slot or whether it has the same one slot limitation as the Functions consumption plan.

[2020-07-24 01:35] JoseFMP commented on #59109
Hello,

NO. I am not referring to Azure storage. I am referring to the disk of the server of the web app. It is currently possible to mount parts of the disk into the container app. And it works fine. But it is nowhere specified what will happen when I will swap the slots.

Remember this?
[code]

[2020-07-24 01:42] ghost opened #59648 "No examples..??!!"
[Enter feedback here]

I wanted to know how can i use tumbling window  start and end time inside a Copy Activity Oracle SQL.  Your documentation does not say anything and it is extremely tough for me to find out a way.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independ

[2020-07-24 01:48] ramya-rao-a commented on #59641
cc @axisc

[2020-07-24 02:02] HarshaNalluru opened #59649 "[Service Bus] Incorrect docs - Docs for 'update-queue' mention only a subset of properties to be updatable"
**Updatable properties of a Queue**

[code]
There are 17 properties in the `CreateQueueOptions` out of which 13 are updatable after creating the queue.
The only 4 properties that can't be updated after creating a queue are `requiresSession`, `requiresDuplicateDetection`, `enablePartitioning`, `name`. Rest of the properties can be updated.

However, the [update-queue](https://docs.microsoft.com/en-

[2020-07-24 02:09] ramya-rao-a commented on #59649
cc @axisc

[2020-07-24 02:14] DibyodyutiMondal commented on #59502
@amanmcse  That's the point. It is not sending the url mentioned by you or the docs

URL 1 is the url the docs and you have mentioned
URL 2 is the url which is actually being sent by Azure b2c to google

URL 1:  https://your-tenant-name.b2clogin.com/your-tenant-name.onmicrosoft.com/oauth2/authresp
URL 2:  https://my-tenant.b2clogin.com/my-tenant.onmicrosoft.com/b2c_1a_trustframeworkextensions/oaut

[2020-07-24 02:16] SatishBoddu-MSFT commented on #59553
Hello @jackt-moran Thank you so much for all the details, repro-steps and logs. These are really helpful for understanding the issue!
I am going to assign this issue to content author @kgremban for further review on adding additional instructions on SAS permissions.

[2020-07-24 02:23] NavtejSaini-MSFT commented on #59625
@johsoderi We are checking this and will get back to you.

[2020-07-24 02:25] NavtejSaini-MSFT commented on #59631
@KSchlobohm We are checking this and we will get back to you.

[2020-07-24 02:27] NavtejSaini-MSFT commented on #59628
@pmozbert We are checking this and will get back to you.

[2020-07-24 02:28] GreenReaper commented on #56898
Somewhat related to #54462.

CONFIG_NOCACHE means it has been configured not to cache these (for example, there is an option to do this if it has a query parameter, in which case it proxies to the origin).

PARTIAL_HIT is served partially from cache and partially from the backend. Perhaps the cached part was the result of a prior ranged request.

[2020-07-24 02:33] HarshaNalluru opened #59650 "[Service Bus] Create-queue docs don't mention all possible values for "Status" parameter"
**Status param discrepancy**

https://docs.microsoft.com/en-us/rest/api/servicebus/create-queue

![image](https://user-images.githubusercontent.com/10452642/87844661-1dcda780-c874-11ea-923c-e18f95ab8483.png)

In JS SDK, we have the following values for EntityStatus.

[code]

**Why are the other possible values not mentioned in the [create-queue](https://docs.microsoft.com/en-us/rest/api/servicebus

[2020-07-24 03:05] ramya-rao-a commented on #59650
cc @axisc

[2020-07-24 03:24] kobulloc-MSFT commented on #59646
@dave-read Thank you for the feedback!  We are investigating this and will get back to you shortly.