[2020-07-24 03:27] MayankBargali-MSFT commented on #59647
@pnarsi Thank you for your feedback! We will review and update as appropriate.

[2020-07-24 03:37] CHEEKATLAPRADEEP-MSFT commented on #59537
@mamccrea Could you please review further and update the document as appropriate.

[2020-07-24 03:38] dave-007 commented on #59640
I'm on my way to solving my own problem, I think I'm close to using 'Restore as Files' capability for Recovery Services Vault with Azure SQL in VM.

but can't find a working example of creating a json object in one azcli command and passing it to another. I'm using PowerShell 7.03. The docs for the command 'az backup restore restore-azurewl' don't show how the parameter --recovery-config is define

[2020-07-24 03:41] maheshksingh commented on #59537
Hello

After updating to latest maven libraries it worked, thanks

But I needed one help here

Could you please provide us the python equivalent code samples for same

Please help

Thanks
Mahesh

On Fri, 24 Jul 2020 at 9:08 AM, CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2020-07-24 03:44] MayankBargali-MSFT commented on #59226
@lucashuet93 Thanks for reporting this item! I have updated the doc and it is waiting for content author approval. It will be published after few hours as soon as it is approved. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-07-24 03:44] #59226 closed

[2020-07-24 04:16] SQLSourabh commented on #59410
This has already been fixed.. we can close this issue.

[2020-07-24 04:50] BharathNimmala-MSFT commented on #59253
@officedrone Apologies for delayed response. Properties of the role definitions has been documented [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-definitions#role-definition). Please review the information and circle back if you have any further queries.

Hope the above information helps. At this point it appears that there's no further edits or updates needed to the

[2020-07-24 04:50] #59253 closed

[2020-07-24 05:40] ChaitanyaNaykodi-MSFT commented on #59354
@VergilPrime , We have proposed the suggested changes to the document, this issue will be closed when the changes are merged. Please let us know if you have any further concerns

[2020-07-24 05:44] RinsonAntony commented on #46160
Hi
Even I have the same error following the article https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-disaster-recovery-powershell#create-storage-accounts-for-replication

    CategoryInfo : InvalidArgument: (:) [New-AzRecoveryS...onProtectedItem], ParameterBindingException
    FullyQualifiedErrorId : CannotConvertArgument,Microsoft.Azure.Commands.RecoveryServices.SiteRecovery.NewA

[2020-07-24 05:48] ram-msft commented on #59299
Thanks for the feedback. @SteveMSFT Could you please help with the "MyFriends" that contains Anna, Bill, and Clare. I could see this is missing in the [PersonGroup Folder](https://github.com/microsoft/Cognitive-Face-Windows/tree/master/Data/PersonGroup).

![image](https://user-images.githubusercontent.com/49180516/88363981-40dde700-cd9f-11ea-93c2-54cb2c66835d.png)

[2020-07-24 05:52] CHEEKATLAPRADEEP-MSFT commented on #59062
@jlb112  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-24 05:52] #59062 closed

[2020-07-24 05:57] AnuragSharma-MSFT commented on #59224
@iAmBipinPaul As this issue is pertinent to specific graphs, we encourage you to raise a support request as rightly mentioned by @Mike-Ubezzi-MSFT.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion

[2020-07-24 05:57] #59224 closed

[2020-07-24 06:05] vipulsparsh commented on #59582
@JimmyLS  Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@MicrosoftGuyJFlo  Can you have a look at this and update as needed ?

[2020-07-24 06:09] femsulu commented on #59243
Hello @blackhill, are you still seeing only a subset of the expected data? Depending on the volume of data you are sending, the missing data could be caused by [sampling](https://docs.microsoft.com/en-us/azure/azure-monitor/app/sampling).

![image](https://user-images.githubusercontent.com/34327711/88364910-40ab0080-cd39-11ea-981a-a5a64a315b9c.png)

If this issue persists, then we will need to eng

[2020-07-24 06:09] #59243 closed

[2020-07-24 06:10] SwathiDhanwada-MSFT commented on #59465
Assigning to content author @anirudhcavale  for content review

[2020-07-24 06:20] SwathiDhanwada-MSFT commented on #59305
@GitelGeiger I would recommend you to navigate [here](https://feedback.azure.com/forums/267889-azure-monitor-log-analytics) and share your feedback or suggestions directly with the responsible Azure feature team and clicking the vote button of your suggestion to raise visibility and priority on it.

We will close the issue for now. If there are further questions , please revert and we will be glad

[2020-07-24 06:20] #59305 closed

[2020-07-24 06:33] harithamaddi commented on #59648
Hi @tmathewlulu - Thanks for your feedback. I have sent it to author for review.

@djpmsft - Can you please review the thoughts from Customer and do the needful.

[2020-07-24 06:37] SudeshSharma commented on #59500
@GitaraniSharma-MSFT Thanks for help. Your solved My problem.

[2020-07-24 06:37] #59500 closed

[2020-07-24 06:41] nduijvelshoff opened #59653 "IPv6 subnet/range details"
The documentation says: "If you have VNet traffic blocked by a Conditional Access policy, check your Azure AD sign-in log. Once you’ve identified the traffic, you can get the IPv6 address being used and exclude it from your policy."

How can we determine the IPv6 address (single Network Interface Card) of the range (complete subnet in the vNet) up front? Or at least how large are the IPv6-ranges (

[2020-07-24 06:43] rploeg opened #59654 "Wrong link to API's?"
The link to the SDK's are still going to the March API's and not to the new public preview API's

![image](https://user-images.githubusercontent.com/49752333/88366476-88597880-cd89-11ea-81fc-26bb0e982430.png)

then you come here:

![image](https://user-images.githubusercontent.com/49752333/88366491-90b1b380-cd89-11ea-8d7e-5f573a01bf29.png)

But it should be this files I think? :

https://github.co

[2020-07-24 06:44] BharathNimmala-MSFT commented on #7018
@rostrovsky Thank you for reaching out.

Sorry currently we don’t have any such capability to mask/obfuscate data in Log Analytics.

[2020-07-24 06:51] upmygit commented on #36458
Ditto! I also get this error. When will this be fixed?

[2020-07-24 06:54] rockboyfor commented on #55141
@VikasPullagura-MSFT
Is there any schedule to refresh the latest status on Expected network bandwidth (Mbps) Information about NCv3-series?  It is urgent for our customer to review their business with Expected network bandwidth information .
Could you please help to coordinate this request with the author or reviser?

Thanks and Best Regards!
Edward Chen

[2020-07-24 07:00] nduijvelshoff commented on #59437
@andresm53 after several tests it looks like it's a range per subnet, at the moment I assume that is a /120. I this my issue #59653 can be linked to this one.

[2020-07-24 07:03] VikasPullagura-MSFT commented on #55141
@rockboyfor Apologies in delayed response.

I reached to the doc author on this and have requested to add the information and comments on the issue.

[2020-07-24 07:03] VikasPullagura-MSFT commented on #55141
@iafinder
Can you please check and add your comments on this doc update request as applicable.

[2020-07-24 07:07] edulorenzo opened #59655 "Add compatibility issue"
Please indicate that this feature is not compatible with WEBSITE_RUN_FROM_PACKAGE

[https://docs.microsoft.com/en-us/azure/app-service/deploy-run-package#troubleshooting](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93f1a8ab-c577-b9e8-b46e-28e0a90a0eae
* Version Independent ID: b716dcf9-1faf-fe60-b7be-f2bec92adb

[2020-07-24 07:17] vaughanh1 opened #59656 "Instructions to use SPA with B2C is required"
When using an SPA, I would like to register my application in my B2C tenant, using MSAL 2 (msal-browser) and the Authorization Code Flow with PKCE. Please can you provide the specifics to make that work? Currently, as of 24/07/2020, no matter what I try, I constantly receive errors.

I note current issues are outstanding and these are the errors I am receiving (with no workaround):
https://github.

[2020-07-24 07:18] RohitMungi-MSFT commented on #59473
@t-jaxian The above change is now updated in the document,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-24 07:18] #59473 closed

[2020-07-24 07:19] RohitMungi-MSFT commented on #59479
@ryotatomioka We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-24 07:19] kobulloc-MSFT commented on #59646
@dave-read I had to do a similar amount of digging before I found the system requirements under [Releases](https://docs.microsoft.com/en-us/azure/security/develop/threat-modeling-tool-releases) in the documentation:

I'll update the documentation to include a link to the requirements so that others won't run into the same problem.  Thank you very much for pointing this out!

[2020-07-24 07:20] RohitMungi-MSFT commented on #59487
@kianooshd  The above change is now in the document. We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-07-24 07:20] #59487 closed

[2020-07-24 07:21] rajhimanshu opened #59657 "How to create a new VM extension"
This page talks about VM extensions at length, but doesn't say how to go about creating one. Can you please add a link to that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a01146cd-ccd3-210d-66ee-d097ba958061
* Version Independent ID: d3726453-07cd-414e-cac8-49497b1540d6
* Content: [Azure VM extensions and features

[2020-07-24 07:22] shashishailaj commented on #59653
@nduijvelshoff Thank yo for your query. We will investigate and update the thread.

[2020-07-24 07:23] shashishailaj commented on #59409
@sakaldeepyadav We have initiated a pull request and once it is reviewed by the content authors , they will merge the change. We will close this issue now.

Thank you.

[2020-07-24 07:25] rgonzvelaz commented on #59288
I would appreciate if you could provide an example of how to persist a VoiceProfile through the REST service, and then use it again in a verification or identification. We are trying to use this feature but there is very few documentation available.

Thanks very much in advance!

[2020-07-24 07:28] rlevchenko opened #59658 "AKS Upgrade Caution"
As upgrade cluster page states that "AKS adds a new node to the cluster that runs the specified Kubernetes version, then carefully cordon and drains one of the old nodes to minimize disruption to running applications". It's true. However, when you have multiple pools or just a single system/app pool, upgrade operation also breaks/doesn't migrate your node configuration as well. For example, Applic

[2020-07-24 07:32] aelmanaa opened #59659 "Node image upgrade: is it still in preview?"
Hello,

on July 21st 2020, we received an email telling  us that the node image upgrade is GA:

"The node image upgrade capability in Azure Kubernetes Service (AKS) is now generally available. It enables you to initiate an upgrade to agent nodes targeted for a specific node pool to pull the latest available node updates and patches without requiring a full cluster upgrade"

However the documentati

[2020-07-24 07:47] #59607 closed

[2020-07-24 07:47] SudeshSharma commented on #59500
Hey @GitaraniSharma-MSFT need one more help, which one is better for security concern:

Azure Bastion
Azure Virtual Private Network Point-on-site

Please Suggest

[2020-07-24 07:49] AjayKumar-MSFT commented on #59598
@pstasik,  Thanks for leveraging Azure docs feedback channel to raise this question and appreciate the follow-up and sharing the solution that helped resolve the issue with the community, it could benefit other users with a similar issue.

This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2020-07-24 07:54] RohitMungi-MSFT commented on #59546
@GeekTrainer since this document refers to some samples repo we cannot directly update this change to use environment variables. We do have a note in the current document to use key vault as an option for a more secure way.

[2020-07-24 07:57] VikasPullagura-MSFT commented on #59635
@danvalero
Thanks for your Question! We are checking on this and will get back on this.

[2020-07-24 07:58] VikasPullagura-MSFT commented on #59636
@@danvalero
Thanks for your Question! We are checking on this and will get back on this.

[2020-07-24 07:59] AdamSharif-MSFT commented on #28319
That’s perfect – thanks Rishab!

﻿[Microsoft]
Adam Sharif
SUPPORT ESCAL ENG
Azure Rapid Response
Office: +44 (118) 9093141
Adam.Sharif@microsoft.com<mailto:Adam.Sharif@microsoft.com>
8:00 AM – 4:30 PM (UK time)
﻿
If you need immediate attention for an ongoing case whilst I am off-shift, please send a separate email with the Case ID to arrbackup@microsoft.com<mailto:arrbackup@microsoft.com>.

If yo

[2020-07-24 07:59] autodomme opened #59660 "Enable age gating using custom policies"
Should document how to add age gating to custom policies, not just user flows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 31fba959-95a2-6eab-4755-cba9bc4b67cc
* Version Independent ID: 787dbb04-2205-ef45-315f-750a551456a9
* Content: [Enable age gating in Azure Active Directory B2C](https://docs.microsoft.com/en-us/

[2020-07-24 07:59] AjayKumar-MSFT commented on #59464
ElGatoCarlos, Upon checking this further, I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for the feedback!

[2020-07-24 07:59] VikasPullagura-MSFT commented on #59657
@rajhimanshu
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-24 07:59] VikasPullagura-MSFT commented on #59657
@axayjo
Can you please check and add your comments on this doc update request as applicable.

[2020-07-24 08:03] helloyesthisisdave commented on #59410
Apologies, but the scope and use case of the blob storage streams is still unclear.  The introduction to this page states that:

which suggests that blob storage can be used as in input or an output, though potentially only in unspecified circumstances.  This is immediately followed by:

which suggests blob storage _can't_ be used as an input within SQL Edge.  The Example 4 that has been amended h

[2020-07-24 08:05] AjayKumar-MSFT commented on #59655
@edulorenzo, Thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-07-24 08:05] MadhanMani555 opened #59661 "Instant Restore Not Working"
I have tried and its not working ....I couldn't  get "Restore" option when the Initial snapshot has been taken .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeafbf18-2bee-17c8-9871-118396f904b7
* Version Independent ID: 1c591c58-062c-695f-212f-523b4221935c
* Content: [Azure Instant Restore Capability - Azure Backup]

[2020-07-24 08:06] GitaraniSharma-MSFT commented on #59500
@SudeshSharma , It depends on your requirement.

The Azure Bastion service is a new fully platform-managed PaaS service that you provision inside your virtual network. It provides secure and seamless RDP/SSH connectivity to your virtual machines directly in the Azure portal over TLS. When you connect via Azure Bastion, your virtual machines do not need a public IP address. Bastion provides secure

[2020-07-24 08:07] MadhanMani555 commented on #59661
![image](https://user-images.githubusercontent.com/68730118/88371979-b69f7e00-cdb2-11ea-9a0b-4b3ed0c493d0.png)

![image](https://user-images.githubusercontent.com/68730118/88372026-ca4ae480-cdb2-11ea-8a03-6c12be172005.png)

[2020-07-24 08:08] Johnnytechn commented on #59489
@BhargaviAnnadevara-MSFT I'm glad you were able to respond to this question, but I think there are still some problems with the case in the document, for example："-RuleType" parameter is not available in the [manual](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrule?view=azps-4.4.0), either. And the manual add a new parameter of "-TimeAggregationOperator". Can you

[2020-07-24 08:09] GitaraniSharma-MSFT commented on #59493
@bruun365 , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-24 08:09] #59493 closed

[2020-07-24 08:10] slamgundam commented on #33950
HI All,

Question about `az iot hub device-identity create ....`

when I executed code via PHP's `exec()` syntax

`exec("/usr/bin/az iot hub device-identity create -n {IOT HUB NAME} -d {DEVICE ID} 2>&1")`

it gives me an output like this

[code]

But when i execute the `az iot hub device-identity create` through console, it works as expected.

Can anyone inspect code where I do wrong.

Thanks

[2020-07-24 08:14] Bengkel opened #59662 "Tutorial is probably out-dated"
Instructions on the page don't work with this repo. File structure does not match tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d13df1d-e132-c9b6-1efa-6d30550d72f7
* Version Independent ID: 7f720685-f1ee-baa8-4152-fc1104019e8e
* Content: [Provision simulated X.509 device to Azure IoT Hub using Python](https

[2020-07-24 08:18] crawshaw commented on #58296
Hi @hpsin! I work at Tailscale and would love to sort this out.

Our app for MS oauth2 credentials was created via portal.azure.com as part of tailscale.onmicrosoft.com. I've dug around in the settings (Azure Active Directory -> Enterprise Applications -> Tailscale Mesh) and haven't found anything resembling the manifest you mention.

Did we come at Microsoft oauth2 from the wrong direction? Could

[2020-07-24 08:21] VikasPullagura-MSFT commented on #59658
@rlevchenko
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-07-24 08:21] VikasPullagura-MSFT commented on #59658
@mlearned @zr-msft
Can you please check and add your comments on this doc update request as applicable.

[2020-07-24 08:25] VikasPullagura-MSFT commented on #59659
@aelmanaa
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-07-24 08:32] yuri-tieto commented on #26237
Is it possible that cross-tenant support for Managed Identities will be implemented? We are using Managed Identities to deploy resources in our subscriptions. We are trying to use Shared Image Galleries to share VM images across multiple tenants and this feature currently works only with App registrations which are cross tenant. So it would be very nice to be able to do same thing using Managed Id

[2020-07-24 08:41] SQLSourabh commented on #59410
The eventual target is to support blob storage as both input and output. I will take another swipe at the document and fix any confusing statements.

[2020-07-24 08:52] psmanhas commented on #59642
@santhoshbomma9 Thank you for your query. We will work on it and will keep you updated on the thread

[2020-07-24 08:59] psmanhas commented on #59643
@tobystic Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-24 08:59] vipulsparsh commented on #59656
@vaughanh1 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-24 09:01] psmanhas commented on #59640
@dave-007 Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- MSDN / Stackoverf

[2020-07-24 09:16] AshokPeddakotla-MSFT commented on #59654
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-24 09:22] SwathiDhanwada-MSFT commented on #58362
Assigning to content author @MGoedtel for updating the information related to Azure Automation tags

[2020-07-24 09:29] seanalexander opened #59663 "Conflicting Information: "Service Type" vs InstanceSizeFlexibilityGroup"
Information for "Discount applies to matching ServiceType only" seems to conflict with "Discount can apply to different sizes"

Can you confirm that the ServiceType doesn't matter if the InstanceSizeFlexibilityGroup is the same?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43852e1b-711e-98e6-7f3e-e98578cad660
* Versi

[2020-07-24 09:40] AshokPeddakotla-MSFT commented on #59662
@Bengkel Thanks for the feedback! Could you please share the specific part of the example which you are referring to is out of date? please share more details on what changes needed?

[2020-07-24 09:50] damiansliwinski commented on #36458
I have the same issue on consumption and elastic plan, it's causing us a lot of issues with automated deployments.

[2020-07-24 09:50] devedse commented on #28461
Hi @Mike-Ubezzi-MSFT , I've been trying to follow your steps but am still running into some new issues:

1. I tried to setup the Private Endpoint but got this error:
![image](https://user-images.githubusercontent.com/2350015/88376924-a4b3e000-cd9e-11ea-8963-9e94b99fa9db.png)
1. I then wanted to delete the delegation, but this failed because the app service was still connected:
![image](https://use

[2020-07-24 09:51] akumaranchath opened #59664 "Distcp does not work with HDP 2.6.x"
This document needs correction as these steps don't work for Setups earlier than Hadoop 2.7.

According to the documentation:

This doesn't work with HDP 2.6.x ([component version](https://docs.cloudera.com/HDPDocuments/HDPforCloud/HDPforCloud-2.6.5/hdp-release-notes/content/hdp_comp_versions.html)) which runs Hadoop 2.7+.

Engineering can confirm this needs to be corrected.

---
#### Document Det

[2020-07-24 10:12] VikasPullagura-MSFT commented on #59659
@aelmanaa I checked with internal team on this, and this is still Preview. There is no doc update that is required at this point.
Once this is GA the doc will be updated accordingly.

Requesting you to share details of the email that you received around this as mentioned in the issue. You can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide the details to check on th

[2020-07-24 10:12] #59659 closed

[2020-07-24 10:18] savjani opened #59665 "lower_case_table_names support on Azure Database for MySQL"
lower_case_table_names is allowed to be changed only on Azure Database for MySQL v5.7. On v8.0 lower_case_table_names is not allowed to be changed. It would be good to explicitly update the document and mention that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f84e4f-d0b5-d521-b003-f47cd475a090
* Version Independen

[2020-07-24 10:23] krish-gh commented on #59467
@andrewc513 , Thanks for bringing our notice on this. It seems that the downloaded initial empty csv template does not match with the expected upload format (as mentioned in the doc). **The documented format is the correct one. You should go with that.**

Meanwhile we are are also checking internally to see if it is a potential bug. Will keep this issue open until then.

[2020-07-24 10:36] mehmetseckin commented on #55697
Linking the feedback request created on User Voice as instructed in hopes of speeding this process up:

[Allow standard HTTP content-type headers when verifying Azure applications or provide alternative ways
](https://feedback.azure.com/forums/34192--general-feedback/suggestions/40986892-allow-standard-http-content-type-headers-when-veri)

/cc @MarileeTurscak-MSFT @dphipps4

[2020-07-24 10:59] vipulsparsh commented on #59653
#59437  Closing as duplicate for 59437

[2020-07-24 10:59] #59653 closed

[2020-07-24 11:04] kspoojary opened #59666 "How to configure Azure Storage firewall with AzureCognitiveSearch IP address Ranges"
How to configure Azure Storage firewall with AzureCognitiveSearch IP address Ranges when storage account has the IP rule limited to 100,  where as AzureCognitiveSearch  has more then 100 IP address ranges?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6da7e922-b280-ba87-bc51-3805606d3f27
* Version Independent ID: 4769

[2020-07-24 11:06] BhargaviAnnadevara-MSFT commented on #59489
@Johnnytechn Thanks for the call out. Yes, I do see more differences between the document in question and the PowerShell cmdlet reference. Looping in @mrbullwinkle to review the overall doc for enhancements.

[2020-07-24 11:07] HarshitaSingh-MSFT commented on #59411
@BeMor, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-24 11:07] #59411 closed

[2020-07-24 11:10] BeneHa commented on #59229
@hansmbakker can you show me an example of how to define the path? I tried multiple ways, including puttings the xsd in a publicly accessible BLOB, but I always get:

`Source=Microsoft.DataTransfer.ClientLibrary,''Type=System.Xml.Schema.XmlSchemaValidationException,Message=Could not find schema information for the element '<PATH_TO_XSD>'.`

If I put my XML in /folder/file.xml and my xsd in /folder

[2020-07-24 11:10] vipulsparsh commented on #59660
@autodomme Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@msmimart  Please have a look at this request.

[2020-07-24 11:10] HarshitaSingh-MSFT commented on #59466
@jaydarius, just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-07-24 11:12] MayankBargali-MSFT commented on #59575
@miquelcv Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-07-24 11:19] dave-007 commented on #59640
The docs url is https://docs.microsoft.com/en-us/cli/azure/backup/restore?view=azure-cli-latest

I'll take my technical issue outside, but here I'm making the case that the example given is incomplete, as it is unclear how  the JSON object passed in as `MyRecoveryConfig` is defined.

[code]

If this was made clear, I'd no longer have a technical question! :)

[2020-07-24 11:19] cyrusvivek commented on #58969
Yes Script is fine now. Thanks for update

Regarding the Accelerated networking and No of NICs not showing correct in target side.
Example- Right now in source side VM size is D4as_v4 and its supported 2 NIC and Accelerated networking but target side its showing only one NIC and Accelerated networking not supported.
IPs
VMsize

[2020-07-24 11:20] akiyoshi commented on #59314
Yes. It would be helpful if you could add this content to the documentation.
I had to searched the solution.

[2020-07-24 11:30] #59575 closed

[2020-07-24 11:31] psmanhas commented on #59640
@dave-007 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2020-07-24 11:34] CHEEKATLAPRADEEP-MSFT commented on #59665
@savjani Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-07-24 11:37] psmanhas commented on #59640
@SadiqhAhmed-MSFT Can you please check and add your comments on this doc update request as applicable

[2020-07-24 11:41] SadiqhAhmed-MSFT commented on #59640
@adityabalaji-msft For visibility.

[2020-07-24 11:44] SadiqhAhmed-MSFT commented on #59663
@seanalexander Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-24 11:47] BhargaviAnnadevara-MSFT commented on #59476
@pnarsi Yes. On any plan, a Function app requires a general Azure Storage account, which supports Azure Blob, Queue, Files, and Table storage. This is because Azure Functions relies on Azure Storage for operations such as managing triggers and logging function executions.

The same storage account used by your function app can also be used by your triggers and bindings to store your application da

[2020-07-24 11:49] terryhugill commented on #28056
Thanks, that was helpful

[2020-07-24 11:52] thw0rted commented on #20331
This is also a problem in [this other guide](https://docs.microsoft.com/en-us/sharepoint/administration/sharepoint-server-2016-dev-test-environment-in-azure) -- wouldn't it be better to add the alias to cloud shell, rather than try to find each instance where the shorthand was used in the docs?

[2020-07-24 12:16] Arvind-0120 opened #59668 "Provisioned throughput at Container and Database level"
Created a new cosmos db account and have few queries:

1. If I provision a database with 400 RUs and create a container with 600 RUs, does it mean my container can work with load of 1000 RUs or 600 RUs?
2. If another container is created with no provision throughput, then above 400 RUs at database level, will these be shared across these 2 containers or just allocated to this new one?
---
#### Doc

[2020-07-24 12:26] AnuragSharma-MSFT commented on #59668
@Arvind-0120 Thank you for posting the query. We are actively investigating and will get back to you soon.

[2020-07-24 12:31] samrueby opened #59669 "VNet limitation clarification"
I'm struggling with this line:

I don't see how multiple apps in the same app service plan can use the same VNet. An App Service Plan can only have one regional VNet integration: I agree with that. But an App Service requires its own, empty, subnet. Subnets count towards the limitation. When you associate App1 on AppServicePlan1 with VNet 1 with Subnet1, that works fine. If you then add App2 on Ap

[2020-07-24 12:32] adityabalaji-msft commented on #59640
@mepand @pvrk Can one of you look into this issue?

[2020-07-24 12:34] PSHREYASHOLLA opened #59670 "How New Scope To be Passed and Consented after adding it in azure portal?"
Once the scope is added, the same will be used to get access token from token url like, https://login.microsoftonline.com/bc358f98-0ec2-40f7-b6b7-16c4d6e7a64a/oauth2/token.

But here what to be passed for ,
resource : Is it still https://graph.microsoft.com?
scope: opeid, **customname**

This gives invalid grant error, how to give consent. This part should be included as after adding scope how to

[2020-07-24 12:35] maheshksingh opened #59671 "The TwitterClientCore application errors out - please help"
Downloaded the [TwitterClientCore application] and updated the keys and endpoints for Event hub and Twitter app, but the application fails and gives error -  The underlying connection was closed: An unexpected error occurred on a send.

the error occurs at TwitterData.cs at [var tresponse = request.GetResponseAsync();]

please help, let me know if any nuget packages are outdated etc

Thanks,
Mahes

[2020-07-24 12:36] KalyanChanumolu-MSFT commented on #59627
@tx5westmt Thank you for reaching out.
We are actively investigating and will get back to you soon.

[2020-07-24 12:40] tfitzmac commented on #58362
@MGoedtel - I'll update the article with this info.

[2020-07-24 12:52] psmanhas commented on #59661
@MadhanMani555 Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

If the issue is not related directly to the doc, I would recommend you to create a thread on the forums- Q&A / Stack

[2020-07-24 12:53] BhargaviAnnadevara-MSFT commented on #59568
@BlackMercy Yes, Azure Functions 1.x indeed supports targeting .NET Framework 4.7 as mentioned in the [Azure Functions runtime versions overview](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions).

Thank you for catching that error in the docs! I have submitted a PR to fix the issue that's in review.

[2020-07-24 12:56] pvrk commented on #59640
For Azure CLI, please refer to [this documentation](https://docs.microsoft.com/azure/backup/tutorial-sap-hana-restore-cli#restore-as-files). @dave-007 : This explains the JSON output of recovery config that you should provide for recovering as files. The example is specific for SAP HANA

For Azure Powershell, please refer to [this link](https://docs.microsoft.com/azure/backup/backup-azure-sql-auto

[2020-07-24 13:05] gary918 opened #59672 "Azure Queue Storage support Managed Identities?"
[Can Azure VM access Azure Queue Storage via managed identities? Something like: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-vm-windows-access-storage.
Or do we have similar sample as Azure Blob Storage [Authenticate using Azure Identity](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/c

[2020-07-24 13:10] gary918 opened #59673 "Provide some Java code sample for using Managed Identity ..."
[It would be very helpful to provide some sample code about how to use managed identity to access Azure Blob Storage. Something like: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/AzureIdentityExample.java#L10]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-07-24 13:17] ivasylenko opened #59674 "resourceTokenUserRid is always empty in Cosmos Audit Log"
I have some trouble with `resourceTokenUserRid` parameter, it's always **empty** in my case, while I am sure, I am using Resource Token for auth.

My setup is:
Azure HTTP Function serving Permission properties Dict, literally:
[code]
On Client side, token retrieval:
[code]

Dump of token schema:
[code]

Constructing Cosmos Client and querying data:
[code]

It works, hence I assume Resource Token a

[2020-07-24 13:18] m1nkeh opened #59675 "Durability level upgrade process is very unclear"
This documentation is quite unclear. I do not follow how to upgrade from a bronze `durability level` to silver.. if i upgrade with the following PowerShell command against my service fabric cluster:

[code]

Everything seems to have worked, the first command increases my nodes to the minimum required of silver reliability (5), and after a _very_ long wait looks good - no errors on the cluster expl

[2020-07-24 13:19] m1nkeh commented on #59511
surely this is quite a quick answer, it either is or isn't in preview any longer.... 🤷🏻‍♂️

[2020-07-24 13:19] m1nkeh commented on #59034
bump!

[2020-07-24 13:19] m1nkeh commented on #59059
bump?

[2020-07-24 13:31] saltonsolutions commented on #59288
One last question. The API page listed does not show how to use it. Endpoints, etc. I can’t find it, anywhere.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: rgonzvelaz <notifications@github.com>
Sent: Friday, July 24, 2020 3:26:01 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Patrick Garvey <pfgarvey@salton.solutions>; Mention <mention@nor

[2020-07-24 13:33] michalmar opened #59676 "Export Data to SQL not described"
Export Data to SQL is not well described - missing parameter description. Also whether resulting table need to exists first or can be replaced on the target DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ff23f1e-cf2a-9f15-3bed-a38dcd43ef31
* Version Independent ID: 897aee80-88ff-6423-b973-fae0c1fc9e28
* Content: [

[2020-07-24 13:42] plynch66 opened #59677 "Please provide some clarity regarding the recommendation to disable IPv6 on"
Hi,

This document contains a statement "For best performance, when you are using Azure VMs as DNS servers, IPv6 should be disabled." which appears to contradict advice Microsoft provide elsewhere, e.g. https://support.microsoft.com/en-gb/help/929852/guidance-for-configuring-ipv6-in-windows-for-advanced-users

Please can you clarify what you mean by "For best performance, when you are using Azure

[2020-07-24 13:50] NickDorak opened #59678 "B2B User Self-Service MFA Reset"
How can the B2B Guest User reset their MFA settings?
Existing Guest users are getting new phones and no longer able to access their Authenticator from their old device. The only way to correct this is a lengthy process of the guest, contacting the someone from the hosting tenant and then working through internal processes to raise this with the Tenant Admins. This requires a lot of user effort to

[2020-07-24 13:53] JayaChatterjee-MSFT commented on #59504
@MartijnElfers  Following up to understand whether my previous comment helps and answers your query.

[2020-07-24 14:01] sideeksh commented on #58969
Investigating.

[2020-07-24 14:05] SwathiDhanwada-MSFT commented on #58285
@yesoreyeram Apologies for late response. Here is a sample template for deploying to management group.

`{
    "$schema": "https://schema.management.azure.com/schemas/2019-08-01/tenantDeploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "mgName": {
            "type": "string",
            "defaultValue": "5f572433-b4b5-4eed-bb22-764e5f4c12dd"
        }
    },

[2020-07-24 14:14] oliverroer opened #59679 "Documentation of force delete seems to be incorrect."
The PowerShell command that is mentioned in the documentation doesn't seen to take a `-ForceDelete` parameter. In fact, it doesn't seem to provide any method of doing force deletion. Alternatives that worked for me, was using the Azure CLI, or REST.

https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces/delete
https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics/workspace?v

[2020-07-24 14:16] AnuragSharma-MSFT commented on #59668
@Arvind-0120 As per the cosmos db documentation "You can optionally provision dedicated throughput for a container within a database that has throughput provisioned. This dedicated throughput amount will not be shared with other containers in the database and does not count towards the throughput you provisioned for the database. This throughput amount will be billed in addition to the throughput

[2020-07-24 14:19] ram-msft commented on #59288
Thanks for the questions. Below are the links for the REST API Speech Recognition Verify and other details.
https://docs.microsoft.com/en-us/rest/api/speakerrecognition/verification/textdependent

Text Dependent:https://docs.microsoft.com/en-us/rest/api/speakerrecognition/verification/textdependent/verifyprofile
Text Independent:https://docs.microsoft.com/en-us/rest/api/speakerrecognition/verifica

[2020-07-24 14:22] mbiver commented on #59234
Hello.  I was wondering if there was an update on this?  Thanks.

[2020-07-24 14:30] MadhanMani555 commented on #59661
Hi Preethi ,

I followed the steps , but couldn't achieve it .

Thanks,

Madhan Mani

On Fri, 24 Jul 2020, 18:22 PreetiManhas-MSFT, <notifications@github.com>
wrote:

[2020-07-24 14:53] felickz commented on #33157
Still a thing!

`Invalid value for the identities '/subscriptions/{sub-id}/resourcegroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{uami-name}'. The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource exisiting property.`

[2020-07-24 14:58] tnsatish opened #59682 "returned should be used instead of returned back"
In the following paragraph, it should be "returned" instead of "returned back".

On the sign-up or sign-in page, Azure AD B2C presents a list of external identity providers the user can choose for sign-in. Once they select one of the external identity providers, they're taken (redirected) to the selected provider's website to complete the sign in process. After the user successfully signs in, they

[2020-07-24 15:03] JasonBSteele opened #59684 "Grammar: "i.e." is used incorrectly, "e.g." should be used instead"
In a couple of places examples are given with the abbreviation "i.e.", this is incorrect as "i.e." means "that is". What should be used is "e.g.".

For example: "(i.e. 192.168.222.160)" implies that the IP should be set to that value, whereas in fact the IP is only an example so it should be "(e.g. 192.168.222.160)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-07-24 15:04] akumaranchath commented on #58020
Hi Jason, Engineering has confirmed that there is a bug. So this document needs to be corrected. I have sent an email to you separately.

[2020-07-24 15:07] PramodValavala-MSFT commented on #59239
@JFolberth Hope my previous comment clears things up.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-24 15:07] #59239 closed

[2020-07-24 15:09] ricmmartins opened #59685 "Logic App returning error on HTTP Post"
After follow all steps, the Logic App is returning the following error on the HTTP Post:

`BadRequest. The provided 'Http' action URI '"CliXml": "<Objs Version=\"1.1.0.1\" xmlns=\"http://schemas.microsoft.com/powershell/2004/04\">\r\n <S>https://e15a9a62-09b7-4632-a267-0d303ba9559a.webhook.wus2.azure-automation.net/webhooks?token=0OFkJp6aYoOCgL%2ffXwib7mvd1PIIWp0jseq5S4SETS8%3d_x000D__x000A_</S>\r

[2020-07-24 15:25] YutongTie-MSFT commented on #59676
@michalmar
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-24 15:25] dazfuller opened #59688 "Needs further expansion"
At the moment this page covers usage in a very light way, and doesn't touch on some important points such as managing the libraries which are available (first bullet point). If this isn't something which belongs here then perhaps example docker files which include this information could be used instead?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-07-24 15:35] msmimart commented on #58888
Hi @bpcastilho, thanks for pointing this out; at the very least it looks like we need to add a reference to our relatively new [user-profile-attributes](https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-profile-attributes) article, where we describe B2C user profile attributes and how they map to Microsoft Graph. I agree we also need to clarify the required attributes - I'll address

[2020-07-24 15:39] hillct commented on #39665
Unfortunately, the proposed solution as articulated here https://github.com/MicrosoftDocs/azure-docs/issues/39665#issuecomment-538104258 is ineffective at this point. This may be the result of further backend changes to the validation system on the Microsoft side, but at this point, ticket closure is inappropriate. I've forwarded header details to @FrankHu-MSFT as requested in the related document

[2020-07-24 15:39] #59685 closed

[2020-07-24 15:40] ricmmartins commented on #59685
I've found typo on my logic app. Appologies.

[2020-07-24 15:53] mikelor commented on #57831
Just wanted to add, that we're experiencing a similar issue. It also looks like the doc was updated recently to add more artifact storage hostnames for the WestUS2 region.

I see two options
1. Implement the alternative solution as described on the databricks blog (adds cost & complexity)
2. Add UDR routes for all storage ranges in regions used based on the Azure IP Range document. https://www.mic

[2020-07-24 16:20] JamesTran-MSFT commented on #59682
@tnsatish
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-24 16:21] JatinBavishi opened #59690 "Need documentation clarity on the open ports for multi-tenant App Services"
[Enter feedback here]
We had an ARR customer open this doc request https://github.com/MicrosoftDocs/azure-docs/issues/59173. But it seems to be closed prematurely without providing any details or ETA.
There need to be something similar like below but for app service in public multi-tenant stamp
https://docs.microsoft.com/en-us/azure/app-service/environment/app-service-app-service-environment-contr

[2020-07-24 16:21] JamesTran-MSFT commented on #59673
@gary918
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-24 16:23] pankaj-pal opened #59691 "Not able to add microsoft as tenant."
[Enter feedback here]
I get keep getting this error, when I am trying to add microsoft as tenant.

New-AzADServicePrincipal : When using this permission, the backing application of the service principal being created must in the local tenant

I want to use my own cert, is there any other way to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-07-24 16:23] v-demjoh commented on #50841
@nitinme : In 53 places, the PR stopped implying that the reader could easily find and use sample code that corresponds to this quickstart.

As a followup, we could re-connect specific quickstarts to specific sample source code. For example, this page would link to:
https://github.com/Azure-Samples/cognitive-services-speech-sdk/tree/master/samples/csharp/uwp/virtualassistant-uwp

Where we match up

[2020-07-24 16:27] #58722 closed

[2020-07-24 16:28] Karishma-Tiwari-MSFT commented on #59685
Thanks for the update.

[2020-07-24 16:31] danvalero commented on #59636
Doing some research I found that the same Load Balancer can be used at https://docs.microsoft.com/en-us/azure/azure-sql/virtual-machines/windows/availability-group-manually-configure-tutorial

I think updating the document related to this issue would allow other people save time when working with this kind of scenarios

[2020-07-24 16:31] MGoedtel commented on #58362
@tfitzmac  - Thanks. Per discussion with Automation PMs yesterday regarding this topic, I'm planning on updating the applicable Automation content with this information.

[2020-07-24 16:31] krish-gh commented on #58722
#reassign:krish-gh

[2020-07-24 16:32] #58362 closed

[2020-07-24 16:33] nschuessler opened #59693 "200 OK response with text/html. How should this be handled?"
It does not say what to do or what the cause is if you get a `200 OK` response with `text/html` instead of `application/json`.

It looks like it is trying to redirect or prompt for credentials which is odd in a client_id/client_secret case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b2f8fc6-8048-42e9-803f-6b5f3076

[2020-07-24 16:33] mamccrea commented on #50023
#reassign:mssaperla

[2020-07-24 16:34] mamccrea commented on #53487
#reassign:mssaperla

[2020-07-24 16:34] mamccrea commented on #54342
#reassign:mssaperla

[2020-07-24 16:34] PRMerger14 commented on #54342
GitHub user mssaperla has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-24 16:34] mamccrea commented on #54564
#reassign:mssaperla

[2020-07-24 16:34] mamccrea commented on #56828
#reassign:mssaperla

[2020-07-24 16:34] mamccrea commented on #56875
#reassign:mssaperla

[2020-07-24 16:34] PRMerger14 commented on #56875
GitHub user mssaperla has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-24 16:34] mamccrea commented on #56891
#reassign:mssaperla

[2020-07-24 16:34] mamccrea commented on #57301
#reassign:mssaperla

[2020-07-24 16:36] mamccrea commented on #57425
#reassign:mssaperla

[2020-07-24 16:36] mamccrea commented on #57577
#reassign:mssaperla

[2020-07-24 16:36] PRMerger15 commented on #57577
GitHub user mssaperla has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-24 16:37] mamccrea commented on #57629
#reassign:mssaperla

[2020-07-24 16:37] mamccrea commented on #57720
#reassign:mssaperla

[2020-07-24 16:37] mamccrea commented on #57721
#reassign:mssaperla

[2020-07-24 16:37] mamccrea commented on #57723
#reassign:mssaperla

[2020-07-24 16:37] mamccrea commented on #57831
#reassign:mssaperla

[2020-07-24 16:37] mamccrea commented on #58027
#reassign:mssaperla

[2020-07-24 16:39] JamesHHoustonII opened #59694 "MSIX applications: CacheFilePath"
private static readonly string CacheFilePath = $"{ Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData)}\{APPName}\msalcache.bin";

This string causes an error that an escape error and if you fix the escape error it causes an error that your app name is not recognized.  Examples Below:

![CacheFilePath error 1](https://user-images.githubusercontent.com/10920521/88414261-2eb178

[2020-07-24 16:43] BharathNimmala-MSFT commented on #59679
@oliverroer Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-24 16:56] mamccrea commented on #58165
#reassign:mssaperla

[2020-07-24 16:56] mamccrea commented on #58539
#reassign:mssaperla

[2020-07-24 16:56] mamccrea commented on #58587
#reassign:mssaperla

[2020-07-24 16:56] mamccrea commented on #58590
#reassign:mssaperla

[2020-07-24 16:56] mamccrea commented on #58662
#reassign:mssaperla

[2020-07-24 16:57] mamccrea commented on #58765
#reassign:mssaperla

[2020-07-24 16:57] mamccrea commented on #58832
#reassign:mssaperla

[2020-07-24 16:57] mamccrea commented on #58912
#reassign:mssaperla

[2020-07-24 16:57] mamccrea commented on #59093
#reassign:mssaperla

[2020-07-24 16:57] mamccrea commented on #59271
#reassign:mssaperla

[2020-07-24 16:57] mamccrea commented on #59272
#reassign:mssaperla

[2020-07-24 16:58] mamccrea commented on #59439
#reassign:mssaperla

[2020-07-24 16:58] mamccrea commented on #59511
#reassign:mssaperla

[2020-07-24 16:58] PRMerger20 commented on #59511
GitHub user mssaperla has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-07-24 16:58] mamccrea commented on #59537
#reassign:mssaperla

[2020-07-24 16:58] mamccrea commented on #59665
#reassign:mssaperla

[2020-07-24 17:00] margani commented on #50547
That is a property you need to define in `Named values` section of the APIM.
See [here](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties)

[2020-07-24 17:06] DerekHerman-MSFT commented on #59672
Thanks for your question. We are currently investigating and will update you shortly.

[2020-07-24 17:22] mmisztal1980 opened #59695 "New-AzPrivateLinkServiceConnection fails to illustrate GroupId usage"
This page fails to illustrate the usage of `-GroupId` for different storage types than SQL server. Please provide a list of allowed values.

Consider scenarios such as creating private endpoints for:
- Azure Storage
- CosmosDB
- KeyVault
- ACR
- ServiceBus

etc.

Please provide a full list of valid values for the `GroupId` parameter.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-24 17:33] rolyon commented on #57828
Hi @santhoshb-msft
Thanks for the feedback. I talked with the product team and they will work to update this descriptions.
thanks

[2020-07-24 17:33] rwike77 commented on #52028
I've added this content to the v2 content:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-howto-get-appsource-certified
#please-close

[2020-07-24 17:33] #52028 closed

[2020-07-24 17:34] santhoshb-msft commented on #57828
Awesome, thank you @rolyon !

[2020-07-24 17:35] rolyon commented on #57828
#please-close

[2020-07-24 17:35] #57828 closed

[2020-07-24 17:40] pisees commented on #59453
I ran a test with PowerShell commands above, and only port 19000 was used.

![image](https://user-images.githubusercontent.com/2036281/88419473-46452c80-cdb3-11ea-8e48-9f578c5bfe51.png)

etc...

[2020-07-24 17:41] MayMSFT commented on #59520
Hi @timoklimmer

Managed identity can be useful when your storage account is behind vnet.
more details can be found here. https://docs.microsoft.com/en-us/azure/machine-learning/how-to-enable-virtual-network#machine-learning-studio

we will update the info icon of the action on studio to explain the purpose of allowing managed identity access

[2020-07-24 17:44] malopMSFT commented on #59695
GroupId are listed in the following page as sub-resources:
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-link-resource

[2020-07-24 17:54] rolyon commented on #57586
Hi @ezYakaEagle442
I have not heard back from the team yet. Once I do, I will update the relevant docs.
I'm closing this issue, but will keep https://github.com/MicrosoftDocs/azure-docs/issues/57587 open since they part of the same work item.
thanks

[2020-07-24 17:54] rolyon commented on #57586
#please-close

[2020-07-24 17:54] #57586 closed

[2020-07-24 17:55] himanshusinha-msft commented on #59688
Thanks for the feedback and bringing this to our notice . We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-07-24 17:57] himanshusinha-msft commented on #59684
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-24 17:59] himanshusinha-msft commented on #59671
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-24 18:00] KranthiPakala-MSFT commented on #59511
@m1nkeh Apologies for the delay in my response. Usually when a feature is in Preview, then the doc explicitly states as `Preview`. If there is no `Preview` note in the documentation that means it is out of Preview. But in order to double check about your query, I have reached out to Azure Databricks product team to confirm on the same and awaiting a response from them. I will keep you posted as so

[2020-07-24 18:01] MarileeTurscak-MSFT commented on #59670
@PSHREYASHOLLA
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-24 18:01] axayjo commented on #59657
@amjads1 can you please connect with @rajhimanshu ?

[2020-07-24 18:02] MarileeTurscak-MSFT commented on #59678
@NickDorak
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-24 18:03] MarileeTurscak-MSFT commented on #59693
@nschuessler
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-24 18:08] #59354 closed

[2020-07-24 18:11] alexpilon666 opened #59696 "Incorrect list of OWASP 3.0 and 3.1 rules"
The documentation on the page doesn't list the full list of available Rules in Azure WAF.
The list for OWASP 3.0 states 135 rules in the documentation, while the actual resource lists 161 available rules.
For OWASP 3.1, the documentation states 176 rules, while the actual resource lists 177.

List of rules according to the resource in Azure:
OWASP 3.0 = https://pastebin.com/VfvLHCna
OWASP 3.1= htt

[2020-07-24 18:11] mmisztal1980 commented on #59695
hey @malopMSFT , thanks for clearing that up.

The docs page still fails to illustrate that connection IMHO

[2020-07-24 18:14] dannyevers commented on #59632
@keferna The second sentence in the [Azure Resource Manager test drive](https://docs.microsoft.com/en-us/azure/marketplace/what-is-test-drive#azure-resource-manager-test-drive) section of the What is a test drive help article says:
"This is the only test drive option for virtual machine or Azure app offers."
Should we add "SaaS" to this sentence as well, since SaaS offers support test drives?

[2020-07-24 18:15] dannyevers commented on #59632
#reassign: keferna

[2020-07-24 18:16] maheshksingh opened #59697 "Need Python Equivalent of the same, Please"
Hello Team Microsoft,

We at Volvo are creating end to end implementation using Python, do you have the same scala code example also in Python code as well? please help.

Thanks,
Mahesh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7c93e65-86c1-fd8b-a888-c57d3b26e2bd
* Version Independent ID: 3f31fd84-7dba-2444-2344-

[2020-07-24 18:22] dannyevers commented on #59642
@keferna  The Technical Configuration section of the [Azure Resource Manager test drive](https://docs.microsoft.com/azure/marketplace/azure-resource-manager-test-drive#technical-configuration) article describes specifying the number of hot and cold instances of a test drive. _What happens to the new customer when all instances are occupied by other customers?_

[2020-07-24 18:22] dannyevers commented on #59642
#reassign: keferna

[2020-07-24 18:23] kobulloc-MSFT commented on #59646
@dave-read We really appreciate your feedback and we've used it to improve our documentation.  The changes are now live, and anyone reading the documentation will be able to see the system requirements before they attempt to download the Microsoft Threat Modeling Tool.  Thank you again!

We are going to close this thread as resolved but if there are any further questions regarding the documentatio

[2020-07-24 18:23] #59646 closed

[2020-07-24 18:25] yegu-ms commented on #59589
@Mahesh-MSFT yes, that's still the case.

#please-close

[2020-07-24 18:25] #59589 closed

[2020-07-24 18:36] IUnknownPtr opened #59698 "Scale AMS RU with ARM"
Is it possible to scale Reserved Units with ARM template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 216bba2b-1c2b-840d-b334-0360bdcaf82c
* Version Independent ID: 7adb1e52-94cd-d1c6-5dfe-43c77452e954
* Content: [Use CLI to scale Media Reserved Units - Azure - Azure Media Services v3](https://docs.microsoft.com/en-

[2020-07-24 18:39] dannyevers commented on #59503
@reassign: iqshahmicrosoft

[2020-07-24 18:41] cynthn commented on #55471
I'm going to close this for now. If there are specific scenarios where this can happen, please reopen the issue (or create a new one) and let me know. Thanks again!

#please-close

[2020-07-24 18:41] #55471 closed

[2020-07-24 19:17] BrianLevenson opened #59699 "Update marketplace publishing description"
Suggest updating the "how to publish" portion which says to create a SaaS listing; however, SaaS is not a supported offer type in Azure Gov Marketplace yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cc42c94-0dc7-6979-9ffa-393ce78535f6
* Version Independent ID: e618950d-5262-4d65-f32a-159b12cc5c2c
* Content: [How

[2020-07-24 19:28] tyluRp commented on #58912
Came across this issue for the same reason. It is unclear to me if shiny applications can actually be published, and shared from Azure Databricks.

[2020-07-24 19:30] zr-msft commented on #50866
Thank you @ForBravo for the feedback.

The following article replaces the original article you provided feedback on:
https://docs.microsoft.com/azure/aks/azure-ad-integration-cli

#please-close

[2020-07-24 19:30] #50866 closed

[2020-07-24 19:31] zr-msft commented on #52215
Thank you @rajnemani for the feedback.

The following article replaces the original article you provided feedback on:
https://docs.microsoft.com/azure/aks/azure-ad-integration-cli

#please-close

[2020-07-24 19:31] #52215 closed

[2020-07-24 19:34] Viswa56443 commented on #9533
Hi ,
is this fault tolerance/ skip and log incompatible rows is available in - CopyCommand option in ADF Copy activity ?

[2020-07-24 19:41] danabrash opened #59701 "A parameter cannot be found that matches parameter name 'ForceDelete'."
Is ForceDelete removed?  I'm sure I've missed something....  Is there another way to do this now?

When copying the command directly from the page and replacing with variables (or strings, either way), I am unable to use the -ForceDelete parameter/switch.

Remove-AzOperationalInsightsWorkspace -ResourceGroupName $rgName -Name $workSpaceName -ForceDelete
Remove-AzOperationalInsightsWorkspace : A pa

[2020-07-24 19:46] PatAltimore commented on #58191
@gs-repo Hi Gurinder,

I'm going to close this issue. I've added a task to our backlog to review and improve the steps.

Thanks,
Pat

#please-close

[2020-07-24 19:46] #58191 closed

[2020-07-24 19:48] larryclaman opened #59702 "Starter project build fails"
This feedback is for the starter project example as shown on the quickstart page https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-aspnet-core

This is supposed to create a working DevOps Starter project that will run a build in Azure DevOps and then deploy to Azure.
The build is failing with the error:
[code]

I realize that I am providing feedback to the documentation pa

[2020-07-24 19:48] gs-repo commented on #58191
Hi Pat,

Thanks for reaching out and checking. I haven’t had a chance to confirm your feedback but will be doing so early next week.

Thanks for all your help,

Gurinder

From: Pat Altimore <notifications@github.com>
Sent: July 24, 2020 12:47 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Gurinder Singh Mann <gsmann@blubyte.io>; Mention <mention@noreply.github.com>
Subject: Re

[2020-07-24 19:51] hz7qnf opened #59703 "Missing Rules Set-UP"
After setting up the custom domain in GoDaddy, the Azure FrontDoor Designer is flashing error messages about the lack of rulles for my customer domain.  There is no discussion about setting up routing rules.  Given the instructions posted, my custom domain displays a GoDaddy holding page and not my website on Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-07-24 19:52] NavtejSaini-MSFT commented on #59666
@kspoojary We are checking this and we will get back to you regarding the same.

[2020-07-24 19:56] NavtejSaini-MSFT commented on #59669
@samrueby We are checking this and we will get back to you.

[2020-07-24 20:03] dpihac opened #59704 "Recommended approach to using IOptions in Consumption Plan"
Documentation regarding the IOptions and Consumption Plan states the following:

This sounds like a big deal for many use cases. What is the recommended approach in this situation? How to read settings from external file when running on the Consumption Plan?

How is reading environment variables different from the IOptions pattern when it comes to Consumption plan? Is it safe to use? When deployed

[2020-07-24 20:14] BryanTrach-MSFT commented on #59666
There are a few options that you have.

1. Use [this document](https://www.microsoft.com/en-us/download/details.aspx?id=56519). Find the region that your Azure Cognitive Search service is running in. Each region only has a few IPs for Cognitive Search, which makes life easier.
2. [Place your cognitive search service into a virtual network](https://docs.microsoft.com/en-us/azure/cognitive-services/

[2020-07-24 20:14] #59666 closed

[2020-07-24 20:17] BharathNimmala-MSFT commented on #59699
@BrianLevenson Thank you for bringing this to our notice, we will work on this and update the document accordingly. Thank you

[2020-07-24 20:17] mamccrea commented on #59671
Hi @maheshksingh - I just downloaded and tested the TwitterClientCore app and it's working for me without having to add anything. TwitterData.cs doesn't exist in TwitterClientCore, but it does in the [TwitterClient ](https://github.com/Azure/azure-stream-analytics/tree/master/DataGenerators/TwitterClient/TwitterClient) app. Please ensure you are using [TwitterClientCore](https://github.com/Azure/a

[2020-07-24 20:19] deeksha-microsoft opened #59705 "Renaming FrontendIPConfiguration"
I have a scenario to rename the frontendIpConfiguration,
I tried -
1. Change all references to frontendIP but I get error "ErrorCode: AddingOrUpdatingNatRulesWhenNatPoolIsPresentOnLoadbalancerIsNotSupported", expected!
ErrorMesaage says - Adding or updating NAT Rules when NAT pool is present on loadbalancer <myLb> is not supported. To modify the load balancer, **pass in all NAT rules unchanged or

[2020-07-24 20:34] Leonardo-Ferreira opened #59706 "How to disable collection of specific dependencies?"
Is it possible to extend the article showing how to disable specific dependencies collection? I, for one, would like to collect only HTTP/S dependencies and not the SQL Server dependencies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ded2ce-d8c3-7118-bec9-865f6225dbe0
* Version Independent ID: a4089752-177c-866c-7

[2020-07-24 20:41] dreeves14 opened #59707 "MFA behavior for the Remote Desktop Client for WVD"
How is the MFA behavior supposed to work for the desktop client? It does not appear to make you re-sign in because you are subscribed to that feed? So there isn't a way to trigger the conditional access policy because you aren't reauthenticating or am I missing something? I am not prompted when entering in my creds prior to connecting to the VM either.

I have my Sign-In frequency set to 1 hour, s

[2020-07-24 20:47] SnehaGunda commented on #57227
#please-close

[2020-07-24 20:47] #57227 closed

[2020-07-24 20:53] #59594 closed

[2020-07-24 20:54] zr-msft commented on #59594
Thank you @WilldotNET for the feedback.

The article contains references to the Azure CLI, but I don't see any specific for references Powershell. I have updated the article to make it clearer that using *grep* is a Bash example. The changes should be available soon.

[2020-07-24 20:57] SnehaGunda commented on #57861
@Mike-Ubezzi-MSFT the user didn't get back to us. Do you think you can quickly test this out with the fix suggested above? Look like you already have the setup ready.  If it fixes then I will update the sample. If not we need to report it to the SDK team.

[2020-07-24 21:07] zr-msft commented on #58455
Thank you @CharlesCara for the feedback.

We added a task to our backlog to consider this and will prioritize accordingly.

#please-close

[2020-07-24 21:07] #58455 closed

[2020-07-24 21:07] JamesTran-MSFT commented on #59682
@tnsatish
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-07-24 21:07] #59682 closed

[2020-07-24 21:13] vhorne commented on #58772
Done
#please-close

[2020-07-24 21:13] #58772 closed

[2020-07-24 21:15] KranthiPakala-MSFT commented on #59511
Hi @m1nkeh Just received a confirmation from PG that this feature GA.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2020-07-24 21:15] #59511 closed

[2020-07-24 21:18] samrueby commented on #59669
I was wrong.  My App1 and App2 were note actually using the same App Service Plan.

[2020-07-24 21:18] #59669 closed

[2020-07-24 21:20] Grace-MacJones-MSFT commented on #59669
Thanks for the update @samrueby . Glad you were able to resolve your issue.

[2020-07-24 21:21] JamesTran-MSFT commented on #59693
@nschuessler
Would you be able to provide some more info on your issue - screenshots, step you're stuck on, etc. So I can gain a better understanding of your ask.

Is this a documentation update request to include the "what" when it comes to the 200 OK response? Or is this solely a troubleshooting type of question?

[2020-07-24 21:23] MarileeTurscak-MSFT commented on #59314
Thanks! I made a pull request to update the document but feel free to make a pull request of your own if you think more should be added.

https://github.com/MicrosoftDocs/azure-docs-pr/compare/master...MarileeTurscak-MSFT:patch-470

[2020-07-24 21:23] #59314 closed

[2020-07-24 21:23] m1nkeh commented on #59511
Brilliant, that's for the confirmation!

[2020-07-24 21:25] zr-msft commented on #58043
Thank you @lgmorand for the feedback.

We have added an item to the backlog and will prioritize accordingly.

#please-close

[2020-07-24 21:25] #58043 closed

[2020-07-24 21:35] davidpaMSFT opened #59708 "Out of date information on alerts for classic compute metrics"
This section...

...is now (July 2020) out of date and should be updated. Do we have information on when new alerts will be available for classic compute resources/metrics?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1161a9ce-36c1-0b24-ad09-f9fdce446350
* Version Independent ID: 58291b17-ed20-05c5-b4f4-6830b7d18f08

[2020-07-24 21:35] NavtejSaini-MSFT commented on #59674
@ivasylenko We are checking this and we will get back to you.

[2020-07-24 21:36] NavtejSaini-MSFT commented on #59675
@m1nkeh We are checking this and we will get back to you.

[2020-07-24 21:36] zr-msft commented on #57854
Thank you @vdeschwb for the feedback!

I was able to test the article and it is working as it is currently documented. We have added task to our backlog to consider this update and will prioritize accordingly.

#please-close

[2020-07-24 21:36] #57854 closed

[2020-07-24 21:37] NavtejSaini-MSFT commented on #59677
@plynch66 We are checking this and will get back to you.

[2020-07-24 21:38] #59063 closed

[2020-07-24 21:40] MarileeTurscak-MSFT commented on #59631
Thanks @KSchlobohm ! I think that's a good suggestion. I made a pull request to add this to the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123733

[2020-07-24 21:40] #59631 closed

[2020-07-24 21:41] zr-msft commented on #59063
Thank you @fgauna12 for the feedback.

I've updated the article to address your feedback and the changes should be available soon.

[2020-07-24 21:42] NavtejSaini-MSFT commented on #59690
@JatinBavishi We are checking this and we will get back to you.

[2020-07-24 21:50] TravisCragg-MSFT commented on #59347
@ManasMukherjee We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-24 21:50] #59347 closed

[2020-07-24 21:50] NavtejSaini-MSFT commented on #59691
@pankaj-pal We are checking this and we will get back to you.

[2020-07-24 21:54] NavtejSaini-MSFT commented on #59694
@JamesHHoustonII This forum feedback is used for particular GitHub Documentation. Please share the link this feedback is associated with so that we can route it to correct team for further action.

[2020-07-24 21:56] SaurabhSharma-MSFT commented on #59529
@jaffadog We are checking internally with the products team on this and let you know on our findings.

[2020-07-24 21:56] JamesHHoustonII commented on #59694
Document Can be found at :
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-token-cache-serialization

[2020-07-24 21:58] zr-msft commented on #59077
Thank you @toutougabi for the feedback and @palma21 for following up.

#please-close

[2020-07-24 21:58] #59077 closed

[2020-07-24 21:59] NavtejSaini-MSFT commented on #59696
@alexpilon666  We are checking this and we will get back to you.

[2020-07-24 22:01] NavtejSaini-MSFT commented on #59697
@maheshksingh We are checking this and we will get back to you.

[2020-07-24 22:01] #59546 closed

[2020-07-24 22:02] zr-msft commented on #57969
Thank you @gtondato for the feedback and @lastcoolnameleft for the PR.

#please-close

[2020-07-24 22:02] #57969 closed

[2020-07-24 22:02] NavtejSaini-MSFT commented on #59698
@IUnknownPtr We are checking this and we will get back to you.

[2020-07-24 22:03] NavtejSaini-MSFT commented on #59701
@danabrash We are checking this and we will get back to you.

[2020-07-24 22:07] zr-msft commented on #59144
Thank you @v-fearam for the feedback!

We have added an item to our back log and will prioritize accordingly.

#please-close

[2020-07-24 22:07] #59144 closed

[2020-07-24 22:08] rwike77 commented on #51937
I've added the missing content, thanks.  #please-close

[2020-07-24 22:08] #51937 closed

[2020-07-24 22:09] zr-msft commented on #59483
Thank you @Mahesh-MSFT for the feedback.

We have added an item to our backlog and will prioritize accordingly.

#please-close

[2020-07-24 22:09] #59483 closed

[2020-07-24 22:10] NavtejSaini-MSFT commented on #59702
@larryclaman We are checking this and we will get back to you.

[2020-07-24 22:12] NavtejSaini-MSFT commented on #59703
@hz7qnf We are checking this and we will get back to you.

[2020-07-24 22:14] NavtejSaini-MSFT commented on #59704
@dpihac We are checking this and we will get back to you.

[2020-07-24 22:15] NavtejSaini-MSFT commented on #59705
@deeksha-microsoft We are checking this and we will get back to you.

[2020-07-24 22:17] NavtejSaini-MSFT commented on #59707
@dreeves14 We are checking this and we will get back to you.

[2020-07-24 22:17] TravisCragg-MSFT commented on #59677
@plynch66 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-24 22:24] danvalero opened #59709 "is it Cluster aware?"
Does this feature has a way to know if my VMs are part of a Windows Cluster and somehow coordinate the update (kind of Cluster Aware Updating)?

I am thinking of scenarios where I have SQL FCIs or Availability Groups on Azure VMs, or scenarios where I have other type of Windows Clusters (HyperV or File Server) in Non Azure VMs

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-07-24 22:31] TravisCragg-MSFT commented on #59691
@pankaj-pal This should be possible, and this error can arise from a few different causes.

First make sure that you are a global admin of the tenant. If you are not, please have someone with global admin permissions run the command.

Next, there can sometimes be permission issues with your PowerShell session. [Here is a StackOverflow post about commands to try when this error appears](https://sta

[2020-07-24 22:33] KranthiPakala-MSFT commented on #59664
@akumaranchath Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-24 22:36] pankaj-pal commented on #59691
Hello Travis,

I am not global admin and this make sense.
Is there another way to upload certificate and use it in CDN?

Getting this done via global admin may take lots of time.

Thanks for help on advance.

On Sat, 25 Jul, 2020, 4:01 am TravisCragg-MSFT, <notifications@github.com>
wrote:

[2020-07-24 22:37] TravisCragg-MSFT commented on #59696
@alexpilon666 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-07-24 22:43] TravisCragg-MSFT commented on #59703
@hz7qnf Can you post the errors you are getting? Also, have you created your CNAME record on the domain & verified your custom domain?

[2020-07-24 22:49] TravisCragg-MSFT commented on #59691
@pankaj-pal Unfortunately that is the only way at this time to use a custom certificate with Azure CDN.

[2020-07-24 22:57] SaurabhSharma-MSFT commented on #59678
@NickDorak Thanks for your feedback.I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and for the product team to include into their plans. "This Product" button in at the bottom section of the document now to take you directly to the appropriate feedback page.

[2020-07-24 23:07] TravisCragg-MSFT commented on #59705
@deeksha-microsoft You will not be able re-name an existing configuration. You will need to delete the old configuration and create a new one.

[2020-07-24 23:22] #58285 closed

[2020-07-24 23:23] burma-shave opened #59710 "Doc says user auth id not collected in 'most sdk', but it does seem to be collected?"
The doc says that the 'Authenticated User id' is not collected by 'most SDK'. Could this be clarified? I can see this the authenticated user id appearing in analytics so it *does* seem to be collected. Also this page mentions that it's collected:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/personal-data-mgmt#where-to-look-for-private-data-in-log-analytics

As it stands, I'm not s

[2020-07-24 23:25] amjads1 commented on #59657
Sure, hanks for the connection Akshay!

@rajhimanshu - Let me go through the details but feel free to let me know if you have any additional questions/comments.

[2020-07-24 23:47] dreeves14 commented on #59707
Thanks!!

Get Outlook for Android<https://aka.ms/ghei36>

    Dalton Reeves
    IT Infrastructure Support Analyst
    P (314) 655-5523 | F (314) 309-3103
    dreeves@anderscpa.com | anderscpa.com
    800 Market Street, Suite 500 | St. Louis, MO 63101

    ANDERS CPAs + ADVISORS
________________________________
From: NavtejSaini-MSFT <notifications@github.com>
Sent: Friday, July 24, 2020 5:17:15 PM

[2020-07-24 23:50] BharathNimmala-MSFT commented on #59706
@Leonardo-Ferreira  Thank you for your feedback, assigning this issue to our document author @mrbullwinkle to further evaluate the feedback and see how we can enhance the document accordingly.

[2020-07-24 23:52] BharathNimmala-MSFT commented on #59708
@davidpaMSFT Thank you for your feedback, we will look into it and get back to you at the earliest.

[2020-07-24 23:54] BharathNimmala-MSFT commented on #59709
@danvalero Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-07-24 23:56] BharathNimmala-MSFT commented on #59710
@burma-shave Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-07-25 00:17] over2under3 opened #59711 "Directions do not work"
I have attempted several times to implement these directions and they are either incomplete or simply do not work. The way this article read to me is you need to:
1. Install the AAD login extension on the Azure VM
2. RDP to the Azure VM from a system that is Azure AD Joined or Hybrid Joined
3. Add an azure user account to the appropriate group (i.e. Virtual Machine Administrator Login) which you w

[2020-07-25 00:22] MarileeTurscak-MSFT commented on #59358
Audit mode runs password protection in a "what if" mode. Each Azure AD Password Protection DC agent service evaluates an incoming password according to the currently active policy. You can't have audit mode without password protection.

I'm not sure which settings you are trying to change but they should still be configurable.

This document covers where to check for the logs: https://docs.microso

[2020-07-25 00:22] #59358 closed

[2020-07-25 00:39] MarileeTurscak-MSFT commented on #59611
Thanks! I went through the logs and made a pull request to add this back. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123754

CC @zchia to confirm that this example is up-to-date. I'm not sure why it was removed as I see it used in other documentation.

[2020-07-25 00:39] #59611 closed

[2020-07-25 00:57] Mike-Ubezzi-MSFT commented on #57861
@SnehaGunda I can step through this to reproduce it as I have not at this point but I was reading that the Node.js SDK for Cosmos is supposed to suppress this certificate error when connecting to the Emulator. Not sure if it is a bug with the SDK...

[2020-07-25 01:07] MarileeTurscak-MSFT commented on #59625
Hi @Johsoderi,

You can move [resources across resource groups and subscriptions] (https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-resource-group-and-subscription) using ARM templates.

Subscription transfer can be to another user in the Account center to change the Account Admin and hand over subscription billing ownership. Transferring a subscription to a user accou

[2020-07-25 01:07] #59625 closed

[2020-07-25 01:11] MarileeTurscak-MSFT commented on #59694
@JamesHoustonII what is the full app name not recognized error that you receive? The namespace error can be if the namespace is named the same as the type, in which case it may need to be changed to something different.

[2020-07-25 01:34] MarileeTurscak-MSFT commented on #59628
Thanks for this. I believe you need to be a global admin based on the guide here: https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-logs-and-reporting

https://github.com/MicrosoftDocs/azure-docs-pr/pull/123755

I made a pull request to add this but I will leave it open for @MarkusVi to confirm.

[2020-07-25 01:34] #59628 closed

[2020-07-25 01:54] ShashSec commented on #55589
@ThijsLecomte is there any update on this. I am finding similar issue when i am trying map "deviceId" from "signinLogs" with "DeviceId" from "IntuneDeviceComplianceOrg". they are not matching.

[2020-07-25 02:04] JimacoMS3 commented on #33950
Hi @slamgundam,

So I don't really know much - read that as anything :) - about PHP. If the command works in a (local) console window on your computer, but doesn't work from inside the exec command in PHP, then the issue is that whatever environment the exec command is running in can't access the azure-iot extension.

You might try running the command using the shell_exec() PHP command. Alternativ

[2020-07-25 02:26] MadhanMani555 commented on #59661
https://docs.microsoft.com/en-us/azure/backup/backup-instant-restore-capability

[2020-07-25 03:27] JamesHHoustonII commented on #59694
Just to make sure I am using the correct AppName, I am using the name
listed as the project name in the solution explorer. I'll look to see if I
used the name twice.

On Fri, Jul 24, 2020, 8:12 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-07-25 04:03] gary918 commented on #59672
@DerekHerman-MSFT Thanks. I've figured it out. Please refer to my code here: https://github.com/gary918/AzureStorage/tree/master/AzureStorageManagedIdentity

[2020-07-25 04:36] ybuasen commented on #32900
@niteesh You need to set --priority to "Spot". Low-priority has been discontinued and replaced by Spot.

The below information is from Microsoft (https://azure.microsoft.com/en-us/pricing/spot/#documentation)
"The preview of Azure low-priority VMs on scale sets has been discontinued and has been retired as of February 3, 2020. Spot VMs have replaced Azure low-priority VMs and will include new capa

[2020-07-25 04:39] JamesHHoustonII commented on #59694
The app looks like it recognizes the App Name, I still end up with
unrecognized escape sequence error any thoughts as to why this string is
not working?

On Fri, Jul 24, 2020, 10:27 PM James Houston II <jhhoustonii@gmail.com>
wrote:

[2020-07-25 04:50] sanimesa opened #59713 "Link to the " Power BI Solution for Azure IoT Central V3 " does not work"
Link to the " Power BI Solution for Azure IoT Central V3 " under the Install sub-section does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 656d392f-71a9-0bb0-ac5d-5ffffcefc996
* Version Independent ID: 02166ee9-c795-1874-030a-05707aa0d34f
* Content: [Visualize your Azure IoT Central data in a Power BI dashb

[2020-07-25 06:34] #59392 closed

[2020-07-25 06:36] #59568 closed

[2020-07-25 06:50] NateShaq opened #59714 "Azure Front Door : Using Cache-Control: no-store in the response header. Response body is still cached."
Using Cache-Control: no-store in the response header. Azure Front Door service is still caching. I can add other custom-named headers just fine to the response, but no matter what I try, the Cache-Control response in postman comes back as no-cache even when when the no-store response is set. And I can always see the X-Cache: TCP HITT

This is a node.js express app.

Any thoughts on how to stop cac

[2020-07-25 07:11] hoppyshaw opened #59715 "Logic App has bad URI"
After I ran the second script and created the logic app information, I had to go back and edit the URI to only include the URL plus the token. Can you double check that the webhook URI is actually passing on the correct logic? To be clear, as another user pointed out, it fails Http POST due to bad Webhook URI. So instead of The provided` '"CliXml": "<Objs Version=\"1.1.0.1\" xmlns=\"http://schemas

[2020-07-25 08:43] harshsharma22 commented on #46509
does this command take ssh public key on string format?
example --ssh-key-value ssh-rsa xxxyyyzzz ssh-rsa zzzaaa

[2020-07-25 10:21] crevulus opened #59716 "Phoneme Feedback: What are "TWO1" and "TWO2"?"
In your docs for the speech-to-text REST API you don't really explain the Phoneme feedback, which would normally be fine but there's two phonemes in your returned data that aren't consistent with most phoneme charts: TWO1 and TWO2.

Here's an example response:

{"Word":"two","AccuracyScore":100.0,"ErrorType":"None","Offset":95500000,"Duration":3100000,"Phonemes":[{"Phoneme":"t","AccuracyScore":100

[2020-07-25 10:22] amanmcse commented on #59711
@over2under3 Thank you for your feedback. We will review and update the thread.

[2020-07-25 10:24] amanmcse commented on #59713
@sanimesa  Thank you for your feedback. We will review and update the thread.

[2020-07-25 10:27] amanmcse commented on #59715
@hoppyshaw  Thank you for your feedback. We will review and update the thread.

[2020-07-25 10:30] amanmcse commented on #59716
@crevulus  Thank you for your feedback. We will review and update the thread.

[2020-07-25 10:32] amanmcse commented on #59714
@NateShaq Thank you for reaching out. We use this platform to improve our documentation. Could you please share the document that you are referring to? We will then investigate and update the thread accordingly.

[2020-07-25 10:57] dpapkin commented on #51057
Hi Zach,

It is my pleasure. As I am a Microsoft Instructor, I try my best to contribute and improve things

Havre a great day!

David Papkin

________________________________
From: Zach Rhoads <notifications@github.com>
Sent: Wednesday, July 15, 2020 3:06 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: David Papkin <triple_gem@hotmail.com>; Mention <mention@noreply.github.com>

[2020-07-25 12:51] NateShaq commented on #59714
https://docs.microsoft.com/en-us/azure/frontdoor/front-door-caching

Specifically, the last section titled: "Cache expiration", where Cache-Control response header is being explained.

[2020-07-25 13:49] nacdlorg opened #59717 ""Google accounts" and "Gmail accounts" - same or different?"
This page causes some confusion by how it refers to "Google users" and "Gmail users." There is a very important distinction between "Microsoft Account" users and users of Azure AD-based accounts, but that distinction doesn't really exist in Google-world. IT staff will be better able to support colleagues trying to add G Suite guests to Teams if the article makes clear that "Gmail users" includes p

[2020-07-25 13:50] nacdlorg commented on #59717
I've suggested some edits but this is the first time I've ever actually wanted to contribute, so I'm a little worried about the big green "create pull request" button.

[2020-07-25 14:59] artisticcheese opened #59719 "MoveCannotProceedWithResourcesNotInSucceededState even when RG does not contain any VNETs"
Please update troubleshooting steps for `MoveCannotProceedWithResourcesNotInSucceededState` error as I'm receiving this error even neither source or destination RG contain any VNETs. Error message is pretty unhelpfull since it's provides links like below which endusers do not have access to to find out what is specififically is in progress
[code]

---
#### Document Details

⚠ *Do not edit this sec

[2020-07-25 15:13] anandece4u opened #59720 "Understand automated machine learning results"
[How to see the parameter or Hyper-parameter of the Best model? I could see all the evaluation metric but how to see the parameter of Model in Azure AutoML?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52d75487-5a8d-f735-bc34-8a5d90c52d86
* Version Independent ID: b651cdfb-6d3b-8ce9-f665-be07b1f11273
* Content: [Und

[2020-07-25 15:27] hoppyshaw commented on #59715
Please add this label as well 4a-WVD-scaling-logicapps

[2020-07-25 15:31] ibidani commented on #59617
I couldn't find this file anywhere to open PR

[2020-07-25 15:44] upmygit opened #59721 "Why does the documentation still state that the key version needs to be specified?"
The article states:

I leave out the version (since a couple of months) and it works just fine. Also rotating works, although it may need a restart.
Shouldn't the documentation be updated?

**I also have a question:** I would like to use the key reference during local development. Do you have a solution for that?
Currently I have to put the actual key value inside local.settings.json, which can be

[2020-07-25 15:54] jmjacAx commented on #59295
Hello, sorry we couldn't do tests before. We already used the saved queries and it works now. Thank you for your help!

[2020-07-25 16:06] ZXJzzzz opened #59722 "ShareFile SSO optional Setting Also needs to be updated to Exact for Azure AD intergration"
The document is missing a step which the ShareFile administrator needs to change under ShareFile SSO configuration.

on ShareFile page, under Admin -> Login & Security Policy -> Optional Settings

modify the SP-Initiated Auth Context: to User Name and Password(default) and Exact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-25 16:51] nschuessler commented on #59693
@JamesTran-MSFT Yeah, mostly a documentation request. I think the `what` in my case was either configuration setting wrong in the azure portal or using the wrong api to authenticate.

[2020-07-25 18:00] sarah026 opened #59723 "APIM instance connecting over port 12000"
I've observed that the APIM instance is also trying to connect to random IPs on port 12000
Can you please be more specific about these random IPs (e.g. URL?) ... and add port 12000 to the list and what it is for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent I

[2020-07-25 18:26] jaimegonzalezsicma opened #59724 "Error Uri"
When implementing the example I get the following error:
An invalid request URI was provided. The request URI must be an absolute URI or BaseAddress must be set

I think the code is not up to date

[2020-07-25 18:29] NateShaq commented on #59714
Azure Mobile Apps Zumo API Version 2.0.0. It was setting the Cach-Control after I was setting it in the context.res header. Everything is all good.

[2020-07-25 18:29] #59714 closed

[2020-07-25 19:37] cjmakwana commented on #57442
@mmacy the link you specified returns 404 (Not found). Is that the intended response ?

[2020-07-25 20:16] jaimegonzalezsicma commented on #59724
The code is from ths page https://docs.microsoft.com/en-us/azure/cognitive-services/computer-vision/quickstarts/csharp-print-text

[2020-07-25 20:17] simchuck opened #59726 "Inconsistent/conflicting information regarding training requirement"
[Enter feedback here]
In early section of the page it explicitly states that the binary classifer model would needed to be trained first, prior to applying the one-vs-all model.  Later it states that you train the model after the one-vs-all.

Are both statements correct?  If so, need additional clarification of the required pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-25 21:09] SatishBoddu-MSFT commented on #59639
Hello @massand
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

PR changes are live now!.

![image](https://user-images.githubusercontent.com/62923178/88466355-4fe89600-ce80-11ea-8d03-66923f61db95.png)

[2020-07-25 21:09] #59639 closed

[2020-07-25 22:25] kobulloc-MSFT commented on #59617
@ibidani Thank you for bringing this to our attention.  You are correct, and I've reached out to the product team in order to get this resolved.

[2020-07-25 22:46] NavtejSaini-MSFT commented on #59717
@nacdlorg We are checking this and will get back to you.

[2020-07-25 22:47] NavtejSaini-MSFT commented on #59719
@artisticcheese We are checking this and will get back to you.

[2020-07-25 22:48] NavtejSaini-MSFT commented on #59720
@anandece4u We are checking this and we will get back to you.

[2020-07-25 22:49] NavtejSaini-MSFT commented on #59726
@simchuck We are checking this and will get back to you.

[2020-07-25 22:50] NavtejSaini-MSFT commented on #59723
@sarah026 We are checking this and we will get back to you.

[2020-07-25 22:51] NavtejSaini-MSFT commented on #59721
@upmygit We are checking this and we will get back to you.

[2020-07-25 22:52] NavtejSaini-MSFT commented on #59722
@ZXJzzzz We are checking this and we will get back to you.

[2020-07-25 22:58] NavtejSaini-MSFT commented on #59724
@jaimegonzalezsicma We are checking this and will get back to you

[2020-07-26 02:34] gary918 commented on #59673
@JamesTran-MSFT No problem. I'm also attaching my code sample here: https://github.com/gary918/AzureStorage/blob/master/AzureStorageManagedIdentity/src/main/java/com/blobs/quickstart/App.java

[2020-07-26 03:47] hiteshtulsani opened #59732 "No high-level steps table in Installation Instructions"
Installation instructions section https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-edge#installation-instructions mentions a table which isn't visible on the page, just the pipe delimiters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b59ae-612d-c38f-2060-6a8300fb77fd
* Version Independent

[2020-07-26 03:53] abekifle commented on #52663
Was this issue resolved? I am getting the same issue as well :
"Get-AzRoleAssignment : Cannot find principal using the specified options
At C:\Temp\CreateOrUpdateAzAutoAccount.ps1:81 char:20
+ ... signments = Get-AzRoleAssignment -SignInName $AzContext.Account"

[2020-07-26 04:29] patrickhiggins opened #59733 "Incorrect output"
Hi - I've followed these steps exactly, but the output doesn't give you a CSV with the transformed data. Instead, it just prints out the text "iris_setosa.csv" into Cell A1 of a CSV in my output container - is there an error in the code or something that I'm missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89456

[2020-07-26 04:47] amanmcse commented on #59732
@hiteshtulsani Thank you for your feedback . We will investigate and update the thread further.

[2020-07-26 04:48] amanmcse commented on #59733
@patrickhiggins Thank you for your feedback . We will investigate and update the thread further.

[2020-07-26 08:03] yahorsi opened #59734 "Need clarification on ultra disk & OS disk"
Hi Guys,

Thank you for the docs.
Today I was trying to understand is that possible to create VM with OS disk as ultra disk.
From the article, I was unable to understand is that possible at all, and if yes then how to.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 076b7e0e-8ca2-53fa-51f1-f1027f1d2da8
* Ver

[2020-07-26 08:43] lgmorand commented on #58043
@zr-msft thanks for the WI but I still I have a small question  :) would not it be smarter to close the ticket after the fix/update be "implemented" ? How we can track the backlog item from "outisde" ?

on another page, my ticket has been closed for 3 months and still not fixed :-/

[2020-07-26 10:08] AjayKumar-MSFT commented on #59396
Greg, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-07-26 10:08] #59396 closed

[2020-07-26 10:20] GitelGeiger commented on #59305
Thank you

[2020-07-26 10:42] a-martynov opened #59736 "Secondary DB case"
Will requests to the read-only listener endpoint be redirected to primary db in case of Secondary DB  failure ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-ef32-8ee13ccbf8fa
* Content: [Auto-failover groups - Azure SQL Database & SQL M

[2020-07-26 10:50] AjayKumar-MSFT commented on #59478
@ramya-rao-a, As we are discussing on this offline (internally), we will close this thread for now. Based on the review and discussion further we will update the doc as necessary. Thanks again for taking time to share your feedback on this here; on the GitHub Azure docs feedback channel.

[2020-07-26 10:50] #59478 closed

[2020-07-26 11:24] souravmishra-msft commented on #59023
@Ashok103606, I got the payload corrected and tested it. It worked for me. Also found that for the following error:

[code]

The reason was that the definition is a string collection. So, we need to create the claim mapping policy as a string. The way you define it as a string inside a json object is putting it withing quotes {“ ”}.

Please find the modified payload below:

[code]

You can use thi

[2020-07-26 11:52] AjayKumar-MSFT commented on #59557
@Negal32, Adding to ryotokuro response.
 I understand [this ](https://docs.microsoft.com/azure/app-service/deploy-configure-credentials) document states - 'The password must be at least eight characters long, with two of the following three elements: letters, numbers, and symbols', but doesn't highlight the symbols supported.
Also, the Portal password requirement recommendations shows (screenshot

[2020-07-26 12:21] benpaul4u opened #59737 "VM Instance Limit is mentioned as 300"
VM Instance Limit is mentioned as 300.

As per https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/overview, it is 600.

"Scale sets support up to 1,000 VM instances. If you create and upload your own custom VM images, the limit is 600 VM instances."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1954e40

[2020-07-26 14:59] amanmcse commented on #59734
@yahorsi Thank you for your feedback . We will investigate and update the thread further.

[2020-07-26 15:00] amanmcse commented on #59737
@benpaul4u Thank you for your feedback . We will investigate and update the thread further.

[2020-07-26 15:00] dcurwin commented on #59640
Thanks for your contribution. The links above should answer your questions, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

#please-close

[2020-07-26 15:00] #59640 closed

[2020-07-26 15:02] amanmcse commented on #59736
@a-martynov Thank you for your feedback . We will investigate and update the thread further.

[2020-07-26 15:58] lokijota opened #59739 "Yaml pipeline at the end isn't valid"
I copied it directly to DevOps and it shows a few syntax errors just as it, and it says the syntax is invalid.

For example,

[code]

For this it says "Invalid YAML structure". There are others, easier to fix, but anyway, it should have no errors.

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2ccfacc-0e3a-e789-f9ca-

[2020-07-26 16:48] AshokPeddakotla-MSFT commented on #59713
@sanimesa Links seems to be working fine. Please check now.
Here is the link for reference : https://appsource.microsoft.com/en-US/product/web-apps/iot-central.power-bi-solution-iot-central

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-26 17:40] harisubramaniam1 opened #59740 "Azure function host.json - Service bus defaults"
The documentation states default value for MaxConcurrentCalls is 16. But this is true only for Dynamic plans and not for App service plan hosted functions. For ASP hosted plans it is 16 * logical processor count. Would be good to make this distinction on the docs as without it, its easy to come to a conclusion that 16 is the default value irrespective of the hosting.

---
#### Document Details

⚠

[2020-07-26 18:00] gregdegruy commented on #59396
Thanks I'll review this approach in our implementation.

[2020-07-26 18:03] gregdegruy opened #59741 "Update Webhook URL in Create a multi-container (preview) app in Web App for Containers"
Is it possible to update this URL when using the Docker Compose (preview) option. It appears to be read only?

![image](https://user-images.githubusercontent.com/8151045/88486028-7c0f2000-cf2f-11ea-8918-631399308cf2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2472d79-baad-f202-75dc-c0d7c08e5c49
* Version Indep

[2020-07-26 18:12] estebanvenon commented on #59452
Hello Thank you for the confirmation,

actually I am a Microsoft employee (macorral), not sure why this opened
with a personal ID.

But , any way, thank you so much,

{ name     : "Esteban Corrales M.",

  email    : "esteban.venon@gmail.com",

  title    : "Data Engineer",

  location : "Heredia, CR" }

El jue., 23 jul. 2020 a las 16:09, NavtejSaini-MSFT (<
notifications@github.com>) escribió:

[2020-07-26 18:25] gs-repo commented on #58191
I tried running the script you provided, I run into issues on the last two lines:

./azhlf channel joinPeerNodes -o $PEER_ORG_NAME -u $PEER_ADMIN_IDENTITY -c $CHANNEL_NAME --ordererOrg $ORDERER_ORG_NAME
Retrieving channel genesis block...
Joining channel orgchannel...
Error: "targets" parameter not specified and no peers are set on this Channel instance or specified for this channel in the network

[2020-07-26 18:43] amit17051980 opened #59746 "Invalid Request ["AADSTS50107]: The requested federation realm object 'https://sts.windows.net/{Directory (tenant) ID}/' does not exist......"
### Error
Reference : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-saml-bearer-assertion

[code]

### Technology Used
Django                  3.0.8
django-saml2-auth       2.2.1
django-sslserver        0.22
Office 365 - Developer Programme
Azure AD - App and Graph Registration

- [ ] SAML
- [ ] OAuth

### Code Used
[code]

### Configuration File
[code]

---
#### Document Deta

[2020-07-26 19:20] becke-ch-s0-v1 commented on #59053
Hi, Instead of fixing the links you've removed them. This doesn't really help. Where can I find additional information regarding the API Server REST API operations??

[2020-07-26 19:36] RonnieQuan opened #59747 "Standard DDOS Protection - Azure Service Fabric instances"
Can you please clarify what resources are included in Azure Service Fabric instances?

For a multi-tenant App Service (NOT ASE), will it be protected by standard DDOS from my vnet configuration?

Or App Service itself has built-in advanced DDOS protection?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-26 19:53] saurabhvartak1982 opened #59748 "Enabling BGP on creating local connection (Step 5.) is not present in the portal."
The option to enable BGP while creating a local connection (Step 5.) is not present in the portal. I had to create the local connection first and then after the connection got created, I had to enable BGP on it. If we can edit the document to mention the same, it will be really helpful.

https://docs.microsoft.com/en-us/azure/virtual-wan/connect-virtual-network-gateway-vwan#createlocalgateways

Re

[2020-07-26 21:28] RonnieQuan opened #59749 "VM Scale Set and Availability Zone"
Are virtual machines in a vmss automatically placed into mutliple AZ? zone 1, zone 2 and zone3?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a77368-ac5d-0699-b327-f5509e18e93e
* Version Independent ID: 04549f86-46b4-c09b-e9ee-24f493e3e76c
* Content: [Tutorial - Load balance Windows virtual ma

[2020-07-26 22:10] smotwani opened #59750 "Update the maximum capacity for OS disk size from 2,048 GiB to 4095 GiB"
The value mentioned for the maximum OS disk capacity/size is incorrect and needs to updated from 2048 GiB to 4095 GiB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfaec879-f3e0-afba-fbe8-85e6e28937df
* Version Independent ID: b21d00cd-0323-26d0-34b4-f0a76ee8aaea
* Content: [Azure Disk Storage overview - Azure Window

[2020-07-26 23:37] lokijota opened #59752 "Add examples with screenshots"
The approaches described here need more detail, not just text describing how it's done. It's actually pretty hard to get his stuff to work in practice, and our customers are certainly struggling through the same.

So the ask is: even if not making this a full set of samples, please include screenshots and more detail about how this can be done in practice, for example of how the pipeline in ADF wo

[2020-07-26 23:56] smith1511 opened #59753 "Adding RUM to a SPA as per the docs gives various Javascript errors"
[Enter feedback here]
Error 1: Mixed Content: The page at 'https://xxx.trafficmanager.net/' was loaded over HTTPS, but requested an insecure script 'http://www.atmrum.net/rum.js'. This request has been blocked; the content must be served over HTTPS.

Error 2: (index):1 Uncaught ReferenceError: rum is not defined
    at (index):1

My web app is a React SPA.

What I added:

    <script src="http://w

[2020-07-27 00:02] donbr opened #59754 "Please clean up the formatting of the Installation instructions"
Please clean up the formatting of the Installation instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d9b59ae-612d-c38f-2060-6a8300fb77fd
* Version Independent ID: 4db63f6d-34eb-f373-5c0a-f012504dc6b6
* Content: [Azure Stream Analytics on IoT Edge](https://docs.microsoft.com/en-us/azure/stream-analytics/strea

[2020-07-27 00:16] kevinclarkadstech commented on #53436
Ugh I am getting "ENOENT: no such file or directory, open '/opt/nodejs/12.16.3/npm.txt'".  Terrible. -_-

[2020-07-27 00:55] ichengchao opened #59755 "@ichengchao We are still working on this and will update this in a day or two . Please allow us some more time on this."
@ichengchao We are still working on this and will update this in a day or two . Please allow us some more time on this.

_Originally posted by @shashishailaj in https://github.com/MicrosoftDocs/azure-docs/issues/59275#issuecomment-662625468_

[2020-07-27 00:57] ichengchao commented on #59755
my project blocked by this issue , i hope the  update coming as soon as possible

[2020-07-27 01:01] NavtejSaini-MSFT commented on #59739
Github feedback is for raising issues with Github documentation. Please share the document link for which this feedback is raised so that we can route it correctly for proper help.

[2020-07-27 01:04] NavtejSaini-MSFT commented on #59739
@lokijota We are checking this and will get back to you.

[2020-07-27 01:09] NavtejSaini-MSFT commented on #59740
@harisubramaniam1 We are checking this and will get back to you.

[2020-07-27 01:10] NavtejSaini-MSFT commented on #59741
@gregdegruy We are checking this and we will get back to you.

[2020-07-27 01:19] NavtejSaini-MSFT commented on #59747
@RonnieQuan We are checking this and will get back to you.

[2020-07-27 01:21] NavtejSaini-MSFT commented on #59748
@saurabhvartak1982 We are checking this and we will get back to you.

[2020-07-27 01:25] NavtejSaini-MSFT commented on #59749
@RonnieQuan We are checking this and will get back to you.

[2020-07-27 01:27] NavtejSaini-MSFT commented on #59750
@smotwani We are checking this and will get back to you.

[2020-07-27 02:32] colemickens commented on #52340
It is extremely frustrating to spend days making Gen2 VMs only to find out that I can't publish public v2 images because Marketplace doesn't support them.

This page should *really* mention that limitation.

[2020-07-27 02:33] JohnKeippel opened #59756 "Missing Alert Schema for Azure Budgets"
Not sure why #33841 was closed. Other docs seem to promote and push people to use the common alert schema and yet the definition is difficult to find. It should be here with other schema definitions for alerts like this. Can you copy the schema buried deep in [this doc](https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/cost-management-budget-scenario#create-an-azure-logic-app-f

[2020-07-27 03:35] VikasPullagura-MSFT commented on #52340
@mimckitt @ju-shim Can you please add your comments on this doc enhancement request.

[2020-07-27 03:36] BhargaviAnnadevara-MSFT commented on #59476
@pnarsi Hope the above inputs help. Are there any further questions here?

[2020-07-27 03:43] souravmishra-msft commented on #59472
@takeakitake, Microsoft 365 Business basic falls under the Free pricing tier and it doesn't have SSPR feature available. SSPR is available in Microsoft 365 Business Standard and in higher SKUs. Office 365 Apps present in the [link](https://azure.microsoft.com/en-us/pricing/details/active-directory/) is for Office 365 E1, E3, E5, F1, and F3 subscriptions only.

Hope this clarifies the query. Do let

[2020-07-27 03:50] pseudoelvis opened #59757 "Documentation using deprecated Azure commands."
It appears the set of commands given in the import example have been deprecated?

**_`az network dns zone import -g <resource group> -n <zone name> -f <zone file name>`_**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e7a82c4-2bed-a8c7-6ce9-9bd895771337
* Version Independent ID: 5233a0b2-fc92-efb5-8d8d-8c53d5e68109
*

[2020-07-27 03:57] hpsin commented on #58296
Thanks! I've asked my counterpart in the Enterprise Apps team to help out here, @jeevansd .  My guess from your description though is that you need to look under Application Registrations for the app, and then edit it there, not under Enterprise apps.

[2020-07-27 04:08] BhargaviAnnadevara-MSFT commented on #59568
@BlackMercy The [Azure Functions C# developer reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library) now reflects the changes. Thanks again for the feedback!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversatio

[2020-07-27 04:10] BhargaviAnnadevara-MSFT commented on #59392
@BlackMercy The [Azure Storage analytics logging](https://docs.microsoft.com/en-us/azure/storage/common/storage-analytics-logging?tabs=dotnet) doc now reflects the changes. Thank you for catching that error in the docs!

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to conti

[2020-07-27 04:14] #59644 closed

[2020-07-27 04:17] vipulsparsh commented on #58524
@AmitavaHazra  Thanks for your patience on this. Here is the response that we got from PG.
"When not specified during the SAML request being sent to AAD, the AuthnContextClassRef will reflect the authentication method that was used during the authentication. This is not something that can be changed for the response only. A fiddler trace would be important give a look on the SAML request and under

[2020-07-27 04:38] SubhashVasarapu-MSFT commented on #59143
@keyz182 , Appreciate your patience. The docs might be having commands that support helm v2. Moreover, We have added a note on the supported helm version in the doc. This might take some time for reflecting over the doc.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-07-27 04:38] #59143 closed

[2020-07-27 04:40] pnarsi commented on #59476
Thanks @BhargaviAnnadevara-MSFT

Can I suggest that the table at the top of the page  be updated? Wording at the moment suggests that the Consumption plan is the only plan that uses the Storage Account File Share feature "to store and run your function app code" which is a bit misleading. This is required for Premium plans as well.

[2020-07-27 04:40] SubhashVasarapu-MSFT commented on #59043
@ward0 , Appreciate your patience. We have assigned this issue to the respective product owner to provide better insights.

[2020-07-27 04:44] CHEEKATLAPRADEEP-MSFT commented on #59732
Duplicate of #59754

[2020-07-27 04:44] #59732 closed

[2020-07-27 04:46] CHEEKATLAPRADEEP-MSFT commented on #59754
@donbr Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/123797](https://github.com/MicrosoftDocs/azure-docs-pr/pull/123797)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-07-27 04:46] #59754 closed

[2020-07-27 04:48] CHEEKATLAPRADEEP-MSFT commented on #59755
Duplicate of #59275

[2020-07-27 04:48] #59755 closed

[2020-07-27 05:17] PramodValavala-MSFT commented on #59740
@harisubramaniam1 Thanks for bringing this up!

@craigshoemaker This is indeed the case as in [this line](https://github.com/Azure/azure-functions-servicebus-extension/blob/dev/src/Microsoft.Azure.WebJobs.Extensions.ServiceBus/Config/ServiceBusOptions.cs#L28). I am assigning this to you to include this information accordingly.

[2020-07-27 05:28] HarshitaSingh-MSFT commented on #59466
@jaydarius, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-27 05:28] #59466 closed

[2020-07-27 05:31] hnph12 opened #59760 "Password Based SSO manually capture metadata failed"
[Enter feedback here]
Hi All, we are trying to configure password based SSO for one app via manually capture, however, there is no red box meaning the username/password field detection failed. Later, we find out it is due to the web page uses frameset to call another login.aspx, which we believe it is not supported. Based on the document, "Sign-in field capture is supported only for HTML-enabled s

[2020-07-27 05:33] KranthiPakala-MSFT commented on #59671
Thank you Mary @mamccrea .

@maheshksingh Just checking to see if the above info from Mary was helpful to resolve your issue?

[2020-07-27 05:49] #59479 closed

[2020-07-27 05:56] KrishnaG-MSFT commented on #59756
@JohnKeippel Thanks for the feedback.
Assigning @ofirmanor @rboucher for visibility, review and document enhancement consideration.

[2020-07-27 06:01] krish-gh commented on #59746
@amit17051980 Thanks for the question! We are investigating and will update you shortly.

[2020-07-27 06:06] amanmcse commented on #59502
@DibyodyutiMondal Please check if you have set UsePolicyInRedirectUri=0 as shown below:

![image](https://user-images.githubusercontent.com/33834131/88508708-18ebbf00-cffd-11ea-966a-43a70af79f1f.png)

If you remove this parameter or set the value to 1, you will get the policy name in the redirect url. The value must be explicitly set to 0.

Please let me know if this helps resolving your issue.

[2020-07-27 06:09] #59497 closed

[2020-07-27 06:12] hem-sharma commented on #59215
@HarshitaSingh-MSFT Thanks for your response, I'll check and revert in case of anything else.

[2020-07-27 06:16] nitinrkz commented on #59331
@hpsin  what is a repro?

[2020-07-27 06:18] RohitMungi-MSFT commented on #59752
@eedorenko Could you please help to review the content and provide some examples that could help customers with examples?

[2020-07-27 06:21] SubhashVasarapu-MSFT commented on #59757
@pseudoelvis , Thanks for reaching out. We will investigate and update this thread.

[2020-07-27 06:29] SumanthMarigowda-MSFT commented on #59486
@Emmanuel-Bresson Apologies for delay in responding here! Your feedback has been shared with the content owner for further review.

[2020-07-27 06:32] amitsingh90 opened #59762 "ADF Mapping Dataflows performance very low as compared to Databricks when performing same set of transformations."
I am doing same set of transformation using ADF Mapping Dataflows and Databricks. Dataflows takes around 2 hours whereas Databricks is taking only 8-10 mins for the same volume of data. As i understand they both use Apache Spark in the back-end, can someone please help me understand this behavior.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-07-27 06:36] RohitMungi-MSFT commented on #59482
@kiranpradeep Did you get a chance to review the above and check if these approaches work for you? Else we will now proceed to close this thread. If there are further questions regarding this matter, please tag us in your reply.

[2020-07-27 06:36] shyamal890 opened #59763 "Where is the QuickPulseTelemetryModule in code?"
Trying to figure out where to put in the code mentioned in the guide.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3307edb-b27c-a0b9-ff1e-610630c98c15
* Version Independent ID: 20262b8a-31ff-4df9-dd05-859001f24eba
* Content: [Diagnose with Live Metrics Stream - Azure Application Insights - Azure Monitor](https://doc

[2020-07-27 06:41] stas-sultanov opened #59764 "No information how exactly link Work account to Linkedin"
Can not find exact infromation on what users should do to link LinkedIn to AAD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf26cd9c-86e3-b7cf-0b54-abc397a1971b
* Version Independent ID: 82750e67-f9b0-77f3-c353-fbb323e09558
* Content: [LinkedIn data sharing and consent - Azure Active Directory](https://docs.microsof

[2020-07-27 06:48] takeakitake opened #59765 "Operating Systems | All Windows 10 devices"
I think AAD join and Hybrid AAD do not support Win10 Home.

https://www.microsoft.com/en-us/windows/compare-windows-10-home-vs-pro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08003efa-d3f6-6b9a-c855-67e356ba2e4f
* Version Independent ID: 60949414-f20a-951b-832a-7e2f3a1f342b
* Content: [What is an Azure AD joined dev

[2020-07-27 06:51] DibyodyutiMondal commented on #59502
It can confirm that it is explicitly set to 0

[2020-07-27 06:53] DibyodyutiMondal commented on #59502
And as for resolving the issue, I have no problems as such, because I can still log in perfectly fine using google.

The only thing is that the instructions in the docs were not entirely accurate in my case.

[2020-07-27 06:58] thadathiljacob opened #59766 "Retrive group name"
[Enter feedback here]

When we are trying to retrieve the group attributes, we are only getting group ids......... Is there any way we can retrieve group name ?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5a6779a-58f1-73fa-2b24-5f85deeea52b
* Version Independent ID: 481c093b-6db3-c4e5-6644-b1a3a4497a30
* Content: [

[2020-07-27 06:59] DibyodyutiMondal commented on #59502
Ok. Yes, I can confirm that that worked. I no longer have to include the extra segment.

I had a typo in the policy - I was using
`UsePolicyRedirect` instead of
`UsePolicyRedirectUri`

[2020-07-27 06:59] #59502 closed

[2020-07-27 07:01] Graham-Ellwood opened #59767 "Out of date"
Can we update this page. The information is not current

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34eef662-c35f-230b-de28-0dcee463d8bc
* Version Independent ID: 07206d86-8410-7a58-227a-6e630df50c16
* Content: [Implement disaster recovery using backup and restore in API Management - Azure API Management](https://do

[2020-07-27 07:06] CHEEKATLAPRADEEP-MSFT commented on #59506
@subashsivaji This is an excepted behaviour. When the container already exists, you will experience the error message as "The specified container already exists".

If you create a new container that does not exists, the command will create a new container with the name specified.

![image](https://user-images.githubusercontent.com/44426401/88513233-87cd1600-d005-11ea-8e82-1bd45a51e755.png)

Hope t

[2020-07-27 07:06] #59506 closed

[2020-07-27 07:21] AnuragSharma-MSFT commented on #59668
@Arvind-0120 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-27 07:21] #59668 closed

[2020-07-27 07:23] AnuragSharma-MSFT commented on #59523
@saragluna Could you please provide the information mentioned above to proceed further on this issue?

[2020-07-27 07:28] subashsivaji commented on #59506
It kind of deviates from any other Azure CLI commands. I have to check if a resource already exists and handle this in the code. For example `az storage container create --name "xxx" --account-name xxxxxx --auth-mode login` this CLI command will not error even if the container already exists.

Other azure services CLI commands as well behave same like `az sql db create `will not error if the datab

[2020-07-27 07:31] pnarsi opened #59768 "Limitation of Key Vault when used with VNET Integration"
Can I get more details about the following short paragraph:

"Currently, Key Vault references won't work if your key vault is secured with service endpoints. To connect to a key vault by using virtual network integration, you need to call Key Vault in your application code."

Does this limitation also apply if my Key Vault is exposed as a private endpoint on the VNET that my Functions App is VNET

[2020-07-27 07:31] krish-gh commented on #59746
@amit17051980  Can you please check your RPT setup (Relying party trust) once following [this troubleshooting](https://docs.microsoft.com/en-us/office365/troubleshoot/authentication/cant-sign-in-office-365-multiple-domain-federation)?

This issue occurs for one of the following reasons:
- The Issuance Transform rule is required to change the issuer from the default Active Directory Federation Serv

[2020-07-27 07:38] CHEEKATLAPRADEEP-MSFT commented on #59506
@subashsivaji  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@normesta Could you please look into the feedback?

[2020-07-27 07:47] AnuragSharma-MSFT commented on #59736
@a-martynov Until the secondary DB is recovered, the read-only sessions will not work. However, if we want to use primary to automatically work as read-only too then we need to configure **AllowReadOnlyFailoverToPrimary** property accordingly. Please refer to below details for detailed analysis.

**_"By default, the failover of the read-only listener is disabled. It ensures that the performance of

[2020-07-27 07:47] CHEEKATLAPRADEEP-MSFT commented on #59496
@subashsivaji Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

![image](https://user-images.githubusercontent.com/44426401/88516734-5ce5c080-d00b-11ea-9fdd-a1d6b7f5a9f1.png)

@normesta Could you please look into this issue?

[2020-07-27 08:14] yinhew commented on #59716
@crevulus thanks for trying the pronunciation assessment feature.
We have a known issue that phoneme could have unexpected name (more like a word instead of phoneme) when the reference text (for pronunciation assessment) contains number(s).

Do you mind sharing the reference text you used, so that we can confirm your issue is the issue we already know?

Also, may I know if you are working on some

[2020-07-27 08:21] viharigandrakota commented on #20372
I got the same error and !az login worked.
Thanks @kumaranpravin

[2020-07-27 08:30] helloyesthisisdave commented on #59410
I think this same issues still persists on the EdgeHub Example, in that the CREATE EXTERNAL STREAM includes a 'topic name' that I think applies to Event Hubs and not Edge Hubs?  If it does apply however, it is not clear from this or other docs what value should be used here.

[2020-07-27 08:33] VikasPullagura-MSFT commented on #59749
@RonnieQuan When you deploy a VMSS, you can choose to use Availability Zone in a supported region.

Please check more information on this [here](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-use-availability-zones#single-zone-and-zone-redundant-scale-sets).

![image](https://user-images.githubusercontent.com/48944027/88520720-94576b80-d011-11ea-99fc-d

[2020-07-27 08:45] likebupt commented on #59510
Hi @YutongTie-MSFT  @MaheshKhatri1960 , thanks for reporting this issue. Sorry for the misguidance. Will update the article ASAP.
The execution logic is Recall = TP / TP + FN.

[2020-07-27 09:10] AjayKumar-MSFT commented on #59562
James, Thanks for sharing the timeline on the video and additional details. That's a good catch!

The timeframe (19:00-20:20) on the video, where there is discussion all about available ASE documentation and depth-of content (Intro, tutorial, read.me) for learning.
As ASE grew and new features were added, the documentations have been updated (since the embedded video/demo was original created, whi

[2020-07-27 09:16] ncook-hxgn commented on #56283
@ju-shim thanks for taking a look. I'm going to be spending a lot of time in these docs in the future, so I appreciate it.

[2020-07-27 09:18] HarshitaSingh-MSFT commented on #59656
Hello @vaughanh1, hope you are doing great!

Did you get a chance to look at _[Tutorial: Sign in users and call the Microsoft Graph API from a JavaScript single-page app (SPA) using auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-javascript-auth-code)_?

Also, you can refer to _[this](https://github.com/Azure-Samples/ms-identity-javascript-v2)_ sample pu

[2020-07-27 09:21] helloyesthisisdave opened #59770 "How to check if the Stream Analytics jobs is successfully deployed against the SQL Edge instance?"
Having followed the steps in this tutorial I cannot see a streaming job on my Edge device or within the SQL Edge database, nor am I receiving any data from the streaming job into the specified SQL Edge table.

Having followed the steps to install the temperature sensor simulator module, I am able to see the genereated messages in Azure IoT Explorer and can see them when used as an input to a Strea

[2020-07-27 09:25] bartschotten commented on #18475
I have the same problem.

- Enabled "Negotiate client certificate"
- Generated a self signed root certificate which I uploaded to CA Certificates in APIM
- I'm calling the API with a certificate signed by that root certificate.

context.Request.Certificate.Verify() still returns false.

[2020-07-27 09:30] vipulsparsh commented on #59765
@takeakitake  Thanks for the pointing that out to us for this doc. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@MicrosoftGuyJFlo Can you please have a look ?

[2020-07-27 09:31] RohitMungi-MSFT commented on #59724
@jaimegonzalezsicma Based on the error seen It looks like the `uriBase` is not formed correctly as the `endpoint` variable might not be set from the environment variable. You can try to use the `endpoint` or 'subscriptionKey` directly in the code and check if the sample works.

[code]

You can also create the [environment variables](https://docs.microsoft.com/en-us/azure/cognitive-services/cogniti

[2020-07-27 09:31] kiranpradeep commented on #59482
@RohitMungi-MSFT Thanks for the helpful reply. I could not try it out yet. But that should help. Closing.

[2020-07-27 09:31] #59482 closed

[2020-07-27 09:33] shashishailaj commented on #59766
@thadathiljacob Thank you for your query . We will investigate and update the thread.

[2020-07-27 09:34] vipulsparsh commented on #59760
@hnph12 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-07-27 09:35] shashishailaj commented on #59764
@stas-sultanov  thank you for your query. Could you please review https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/linkedin-integration ?

[2020-07-27 09:41] #59737 closed

[2020-07-27 09:42] psmanhas commented on #59737
@benpaul4u Thank you for your feedback. The document is updated and changes will go live soon.

[2020-07-27 09:43] MohamedGabril opened #59771 "More space in the command"
[Enter feedback here]

Import-Module "C:\Program Files\Microsoft Azure AD Connect Authentication  Agent\Modules\PassthroughAuthPSModule\PassthroughAuthPSModule.psd1"
the command include one more space after "Microsoft Azure AD Connect Authentication"
users without  experience will fail to run it .
![image](https://user-images.githubusercontent.com/68848414/88528036-5ef55280-cffe-11ea-87c6-23d2d1c5

[2020-07-27 09:48] SadiqhAhmed-MSFT commented on #59377
@sjosyula3 An account added to an Enterprise Agreement is called as Enrollment Account. This link - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/programmatically-create-subscription?tabs=rest#create-subscriptions-for-an-ea-billing-account has all the information.

For now, closing this issue. If you have any additional questions regarding documentation you can tag me in

[2020-07-27 09:48] #59377 closed

[2020-07-27 09:57] psmanhas commented on #59753
@smith1511 Thank you for the feedback. We will work on it and will keep you updated on the thread

[2020-07-27 09:59] VikasPullagura-MSFT commented on #59734
@yahorsi Currently Ultra Disks cannot be used as OS disk for VM. You can check the details in this FAQ [document](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/faq-for-disks#ultra-disks).

![image](https://user-images.githubusercontent.com/48944027/88529646-e900e380-d01d-11ea-88b1-18e5511729d6.png)

Hope that answers your query.

[2020-07-27 10:06] AnuragSharma-MSFT commented on #59400
@2ndcahl We will now proceed to close this thread. PR will be approved/merged in some days and we can see the changes reflected then. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-07-27 10:06] #59400 closed

[2020-07-27 10:09] robburton58 opened #59772 "Downloading of Role assignments"
It would be extremely useful to be able to download role assignments for an entire management group tree for audit purposes, is this function in the pipeline at all?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5007891-1b7a-1c87-6a0d-ea46cd469f34
* Version Independent ID: 2446189d-025a-e87a-bf8b-9f90f5d254ae
* Conte

[2020-07-27 10:09] duanzy47 opened #59773 "Azure database for PostgreSQL as datasource of Azure Analysis Service"
Hi, I have a **Azure database for PostgreSQL** for stocking my data. Now, I want to set up my **Azure Analysis Service** with this Postgres on Azure as datasource. When I tried to process my database/connect the AS to Postgres, I got an error which asked me to use on-premise gateway. I'm not sure whether PostgreSQL on Azure is supported by AS? If not, I find it no sense to use a gateway for two se

[2020-07-27 10:19] RohitMungi-MSFT commented on #59739
@lokijota  Could you please check if this works? I did not get a chance to run the complete setup but i think this might be the issue.

[code]

Also, i think this  VS code [extension ](https://marketplace.visualstudio.com/items?itemName=ms-azure-devops.azure-pipelines) can help determine any issues in your pipelines in the future.

[2020-07-27 10:23] psmanhas commented on #59661
@MadhanMani555 Thank you for the feedback.We will work on it and will keep you updated on the thread

[2020-07-27 10:29] psmanhas commented on #59636
@danvalero Thank you for the feedback.We will work on it and will keep you updated on the thread.

[2020-07-27 10:34] JayaChatterjee-MSFT commented on #59504
@MartijnElfers  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-27 10:45] jonsing opened #59775 "Delta Lake project page link is wrong"
At the bottom of the page their is a link to the Delta Lake project page on the lfprojects.org. The link seems to go to a generic page and I believe that actual project page link should be `https://www.linuxfoundation.org/Projects/delta-lake/` - but it's completely empty at the moment.

Maybe worth linking to the project page on GitHub (https://github.com/delta-io/delta) instead as that contains m

[2020-07-27 10:52] AshokPeddakotla-MSFT commented on #59654
@baanders Can you please validate this? Requested link is in preview : https://github.com/Azure/azure-rest-api-specs/tree/master/specification/digitaltwins/data-plane/Microsoft.DigitalTwins

[2020-07-27 10:55] AmitavaHazra opened #59776 "Azure MFA license query"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

We have Azure P2 tenant. We checked that Azure MFA was working for end user who don't have any license applied. It is working as expected.

Then why it is mentioned in this above doc that license is required for Azure MFA ? Can any explain why it is required and what will impact if we don't app

[2020-07-27 10:57] lokijota commented on #59739
Yesterday I did some further debugging. The error actually comes from higher in the Yaml file, the parts where there's a vertical bar:

[code]

I don't know why but Az DevOps didn't like the |'s. I put the command inline and stopped having that error.

[2020-07-27 10:58] AmitavaHazra commented on #58524
Thanks @vipulsparsh and we can close it.

[2020-07-27 10:58] #58524 closed

[2020-07-27 10:59] AmitavaHazra commented on #59776
@vipulsparsh can you please check and also any one else can also clarify.

[2020-07-27 11:05] ruirosamendes commented on #33157
In the same situation!. I will add the certificate directly and do not user KeyVault, since I also have to restrict Key Vault to subnets
Cheers ,Rui

[2020-07-27 11:19] BhargaviAnnadevara-MSFT commented on #59771
@MohamedGabril Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-27 11:37] #59771 closed

[2020-07-27 11:37] BhargaviAnnadevara-MSFT commented on #59771
@MohamedGabril Thank you for catching that error in the docs! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-07-27 11:38] omki12 commented on #46725
I had the same issue. Solved by creating key `AzureWebJobsSecretStorageType` in azure function configuration.

Azure Portal-> Function App -> Settings -> Configuration -> Appliacation settings ->  New Application Setting -> New Application Setting -> `Name` = "AzureWebJobsSecretStorageType" , `Value` = "Files". -> Save.
This will restart your function app, and now SA job will able to take a key.

[2020-07-27 11:43] reidca commented on #43782
I came across this issue after having the same problem.
I don't think the updates to the documentation have helped.

The docs (https://docs.microsoft.com/en-us/azure/active-directory-domain-services/tutorial-configure-ldaps) now show the domain to be aaddscontoso.com whereas it would be much clearer if this were a sub-domain of the contoso domain e.g. aadds.contoso.com

`Subject name - The subject

[2020-07-27 11:53] WARL0C opened #59778 "This is what I absolutely HATE about Azure. Article is just over 3 months old and there is NO Connect-AzAccount that shows up in the library."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4799ebe4-d654-b9d2-e64f-923d025ad7cf
* Version Independent ID: f6519afb-bf55-c886-e3c3-d11174da3aea
* Content: [Create a graphical runbook in Azure Automation](https://docs.microsoft.com/en-us/azure/automation/learn/automation-tutorial-runbook-graphic

[2020-07-27 12:00] helloyesthisisdave commented on #59770
I don't know what I did differently, but it is now working.

[2020-07-27 12:00] #59770 closed

[2020-07-27 12:03] SnehaAgrawal-MSFT commented on #59768
@pnarsi Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-07-27 12:04] juanandmsft opened #59779 "Migration limitations"
Hi,

The page at https://docs.microsoft.com/en-us/azure/migrate/migrate-support-matrix-vmware-migration#migration-limitations states:

* You can select up to 10 VMs at once for replication. If you want to migrate more machines, then replicate in groups of 10.
* For VMware agentless migration, you can run up to 300 replications simultaneously.

However, in https://docs.microsoft.com/en-us/azure/mig

[2020-07-27 12:08] harithamaddi commented on #59762
@amitisingh90 - Thanks for posting the query. Since the question does not seem to be a doc issue, I would recommend you to create a thread for the issue on the forums ([Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-data-factory.html) and [Stack Overflow](https://stackoverflow.com/questions/tagged/azure-data-factory)) for quick resolution.

Once you post your issue on forums, it will h

[2020-07-27 12:08] #59762 closed

[2020-07-27 12:14] MonikaReddy-MSFT commented on #59606
@pjjohnson -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-27 12:14] #59606 closed

[2020-07-27 12:17] BhargaviAnnadevara-MSFT commented on #59476
@pnarsi Agree. Thank you for catching that error in the docs. I have submitted a PR to fix the issue that's in review.

[2020-07-27 12:19] harithamaddi commented on #59775
@jonsing - Thanks for the feedback. We have assigned the issue to the content owner to review and update the doc as appropriate.

@euangms  - Can you please have a look at this one ?

[2020-07-27 12:20] KalyanChanumolu-MSFT commented on #59770
@helloyesthisisdave  Thank you for reaching out.
We are glad you could resolve the issue.

[2020-07-27 12:24] the-grayest opened #59780 "Proxy Documentation Update Request"
Sync agent uses WINHTTP_ACCESS_TYPE_AUTOMATIC_PROXY flag as stated in https://docs.microsoft.com/en-us/windows/win32/api/winhttp/nf-winhttp-winhttpopen. Some customers have WPAD  (DHCP option 252) deployed, causing agent unexpectedly use proxy instead of direct/NAT connection. This causing sync issues such as : 0x80090352, because no access to Internet been granted for Sync Agent. There is no way

[2020-07-27 12:26] AjayKumar-MSFT commented on #59557
We will close this out, but if you feel you need more information please just let us know.

[2020-07-27 12:26] #59557 closed

[2020-07-27 12:26] #59562 closed

[2020-07-27 12:42] priyankareddy20 opened #59782 "Recommendations were not same when compared to ASC Recommendations GUI and KQL Workspace Logs"
I tried to verify the recommendations list from log analytic workspace using the KQL Query from security and audit , SecurityCenterFree. However, the recommendations were not same when compared to ASC Recommendations GUI and KQL Workspace Logs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0554513-d846-079c-6bfc-d27a

[2020-07-27 12:42] HarithaMaddi-MSFT commented on #59773
@duanzy47 - Thanks for bringing this to our notice. We are investigating into the issue and will update you soon.

[2020-07-27 12:43] KrishnaG-MSFT commented on #59778
Hello @WARL0C, Thanks for reaching out! As shown in below screenshot, hope you have found "Connect-AzAccount" in the referred Azure document and hence closed the issue. If that's not the case and if you have closed the issue accidentally then please provide more context around the issue so that we will gladly continue the discussion.

![image](https://user-images.githubusercontent.com/45988031/885

[2020-07-27 12:49] AjayKumar-MSFT commented on #59495
After checking this further, I have assigned the issue to the content author to review further and update the document as appropriate. Thanks again for taking time to share your feedback.

[2020-07-27 12:51] WARL0C commented on #59778
Well Krishna, since you guys seem to be checking this fairly frequently.  I'll re-open this.  So yes, I noticed the Connect-AzAccount in the article.  However,  there is NO Connect-AzAccount in the Azure Portal Library for Runbooks.  I imported the StartAzureV2VM runbook and took a look at it.  Seems like the Connect-AzAccount has changed to Add-AzureRmAccount.  At least that's what is configured.

[2020-07-27 12:58] AjayKumar-MSFT commented on #59548
@slmagus, As mentioned in this [doc](https://github.com/projectkudu/kudu/wiki/Configurable-settings#using-a-git-shallow-clone-in-continuous-deployment-scenarios), for large repos, you can make Kudu use a shallow clone when it clones your repo from GitHub or Bitbucket, which can save disk space. Shallow clones can be tricky, so make sure you understand what they are before using this. It is off by

[2020-07-27 13:08] lonevvolf commented on #56953
@MashaMSFT @Karishma-Tiwari-MSFT Any news here?

[2020-07-27 13:11] ThijsLecomte commented on #55589
@ShashSec the DeviceID in sign-in logs corresponds to the AAD Device ID. Is his in the Compliance log?

[2020-07-27 13:11] krish-gh commented on #59766
@thadathiljacob , If you are expecting group names in the claims of ID/Access/SAML token, unfortunately currently that is not supported due to some limitations. You would only have the object ids (guid) of the groups in the claim for AAD managed groups.

If you absolutely need group names for your purpose, consider a separate [Graph API call](https://docs.microsoft.com/en-us/graph/api/user-list-me

[2020-07-27 13:12] krishrocks1904 opened #59783 "How to create the version with Powershell (schem type 'Path')"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a33ff6-8ffc-ad26-d429-3170bcca9498
* Version Independent ID: fcd9c088-8b17-e53b-4c93-f90f2dc5c09c
* Content: [Publish versions of your API using Azure API Management](https://docs.microsoft.com/en-us/azure/api-management/api-management-get-started-p

[2020-07-27 13:17] Jared-Harrington-Gibbs opened #59784 "Update flow to be power automate"
The [require-approved-client-app](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-conditional-access-grant#require-approved-client-app) section still references _Microsoft flow_ which has been renamed to _power automate_.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd934939-4dbb-3a

[2020-07-27 13:17] arthur1993 opened #59785 "Documentation using non existing method"
The documentation bloc under [User-defined functions - Python SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-use-stored-procedures-triggers-udfs#user-defined-functions---python-sdk) relies on the method `CreateUserDefinedFunction` of the `client` object. This method does not exist anymore, please see the [CosmosClient documentation page](https://docs.microsoft.com/en-us/python/api/az

[2020-07-27 13:30] AnuragSharma-MSFT commented on #59785
@arthur1993 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-07-27 13:32] KrishnaG-MSFT commented on #59778
Hello @WARL0C, Thanks for the quick response!

Firstly, if there is NO Connect-AzAccount in the Azure Portal Library for Runbooks, that means probably you didn't have Connect-AzAccount cmdlet's module named "Az.Accounts" available / imported in your Azure Automation Account.  Please find below screenshot to see how it looks if "Az.Accounts" is available / imported in your Azure Automation Account.

[2020-07-27 13:34] sundeus commented on #59762
Use below link to track the question on MS Q&A forum.
https://docs.microsoft.com/en-us/answers/questions/52760/adf-mapping-dataflows-performance-very-low-as-comp.html

[2020-07-27 13:37] amitsingh90 commented on #59762
Please use the below link to track the question on MS Q&A forum.
https://docs.microsoft.com/en-us/answers/questions/52760/adf-mapping-dataflows-performance-very-low-as-comp.html

[2020-07-27 13:42] adam-crain opened #59786 "MAPI over HTTP (MAPI/HTTP) - Is not legacy"
[Enter feedback here]
Why does this document say "MAPI over HTTP (MAPI/HTTP) - Used by Outlook 2010 and later." is a legacy auth method when it is part of the modern auth used for MFA.
How else do you connect out look with MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f26dc-2f8f-ef76-3d20-a0a42d2bbada
* Versio

[2020-07-27 13:48] WARL0C commented on #59778
Thanks for that information Krishna!  So I'll point out that I couldn't find anywhere in the article where it states to import the Az.Accounts module.  For someone new to this, it might be a good thing to add to the pre-reqs list with a screen shot on where to get to it since it doesn't appear to be added by default when you create your automation account.   Thanks again!

[2020-07-27 13:57] baanders commented on #59654
Hi, thanks for suggesting this update!

The link should be updated to match the suggestion --
while the current link is to the latest control plane SDK, it's more appropriate in this doc to highlight the data plane SDK at the suggested link (which is overall a more recent release). In addition to updating the link, I'd like to add some clarifying language to the doc about which SDK it uses.

I can

[2020-07-27 13:58] KrishnaG-MSFT commented on #59778
@WARL0C Valid point!! Prerequisite section provided in [PowerShell runbook tutorial](https://docs.microsoft.com/en-us/azure/automation/learn/automation-tutorial-runbook-textual-powershell) and highlighted in below screenshot is missing in [this](https://docs.microsoft.com/en-us/azure/automation/learn/automation-tutorial-runbook-graphical) referred grahical runbook tutorial. So, I will go ahead and

[2020-07-27 14:02] behzad-a opened #59787 "Authenticate ASA job output to Azure Function with App Service Authentication enabled"
I have an ASA job that outputs to an Azure Function with App Service Authentication (AD) enabled. Is it possible to configure the ASA job to request AD tokens before outputting to the Function? I'm getting unauthorized errors.

[2020-07-27 14:05] baanders commented on #59654
Done in pull request [#123708](https://github.com/MicrosoftDocs/azure-docs-pr/pull/123708)

@rploeg Since this is a straightforward edit, I'll have GitHub automatically close this issue when the pull request is merged.
However, feel free to comment back in this thread with any additional comments or questions and we will continue to address. :)

[2020-07-27 14:06] #59654 closed

[2020-07-27 14:08] KrishnaG-MSFT commented on #59778
@WARL0C Verified and updated the document as informed in my earlier comment. The change should go live in some time (i.e., in less than 24 hours). Thanks for the feedback!

[2020-07-27 14:13] cloudchristoph opened #59788 "Public Germany Regional Pair missing?!"
Is there any information about the Regional Pair "Germany (Public)"?
The pair should be "Germany West Central" and "Germany North", right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-d985-6fc3aec77974
* Version Independent ID: a9f4ec3f-f0a3-b050-020b-f487c74c5179
* Content: [Ensure business contin

[2020-07-27 14:17] cloudchristoph commented on #59788
Sorry. This was already issued in https://github.com/MicrosoftDocs/azure-docs/issues/50008. But it's still open.

[2020-07-27 14:21] amit17051980 commented on #59746
Hi Krish,

Thanks for your response.
I'm not sure if I explained the problem very clear but here is some more details to move into to right direction.

I am using Azure AD - **SAML App Registration** on _mkalehi.onmicrosoft.com_
I am using Azure AD - **OAuth2 App Registration** on _mkalehi.onmicrosoft.com_

The Registration is working fine for SAML, and I can log user in. During the log-in process

[2020-07-27 14:24] sjoerdvannoort opened #59789 "Permanent Workspace Delete powershell command does not work"
The Remove-AzOperationalInsightsWorkspace (AZ 4.4.0) does not have a ForceDelete parameter. Had to use the cli to do a hard delete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86984751-da7f-c77b-c78b-a9c9ffacb4a3
* Version Independent ID: 57838082-5ee8-097c-9814-803a5077ba4e
* Content: [Delete and recover Azure Log

[2020-07-27 14:33] gatkinshentsu opened #59791 "Python Table Storage Output binding example not working"
Hello,

The Python examples for the table output binding don't seem to work. Following the example and triggering the function results in the error message

"System.Private.CoreLib: Exception while executing function: Functions.insert. Microsoft.Azure.WebJobs.Script: Unable to cast object of type 'System.String' to type 'Microsoft.AspNetCore.Http.HttpRequest'."

My only difference is that I'm trig

[2020-07-27 14:36] krish-gh commented on #59746
Thanks Amit for the details. Let me get back to you shortly. I am simulating your scenario.

[2020-07-27 14:38] krish-gh commented on #59766
We will now proceed to close this issue here since this repo is for Azure docs. Please feel free to follow up if you have any question.

[2020-07-27 14:38] #59766 closed

[2020-07-27 14:39] josuvil opened #59792 "ThumbnailPhoto attribute and source of authority"
I would like to suggest adding a note for the ThumbnailPhoto attribute. According to [KB3062745](https://support.microsoft.com/en-us/help/3062745/user-photos-aren-t-synced-from-the-on-premises-environment-to-exchange), ThumbnailPhoto values are only synchronized (or exported) **_once_** to Azure AD. Also, if synchronized users are allowed to update their Office 365 profile photos (Exchange Online,

[2020-07-27 14:44] mthalman opened #59793 "Old Docker Hub image tag is still being used"
In the [Enable SSH connections](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=bash%2Cazurecli&pivots=programming-language-csharp#enable-ssh-connections) section, the Dockerfile snippet shows an old Docker Hub image tag being referenced: `microsoft/dotnet:2.2-sdk-appservice`.  It should be updated to reference the MCR image tag.

---
#### D

[2020-07-27 14:45] VikasPullagura-MSFT commented on #59715
@hoppyshaw As this channel is for improving azure docs, the issue you reported should be opened needs to be [here](https://github.com/Azure/RDS-Templates/issues?q=is%3Aissue+is%3Aopen+label%3A4a-WVD-scaling-logicapps) as documened.

However, I have opened an issue on your behalf. Here is the issue with feedback [#521](https://github.com/Azure/RDS-Templates/issues/521). Requesting you to please fol

[2020-07-27 14:45] VikasPullagura-MSFT commented on #59715
I will now proceed to close this issue.

[2020-07-27 14:45] #59715 closed

[2020-07-27 14:52] SadiqhAhmed-MSFT commented on #59779
@juanandmsft Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-27 14:52] MayankBargali-MSFT commented on #59791
@gatkinshentsu Thank you for your feedback! We will review and update as appropriate.

[2020-07-27 14:53] SadiqhAhmed-MSFT commented on #59772
@robburton58 Thanks for the comment. We are looking into this and will get back to you shortly.

[2020-07-27 14:53] hpsin commented on #59331
Apologies - a reproduction of the issue. Something I can try to reproduce it, since I'm unable to. Can you provide some concrete steps (preferably the exact ones you use) to get me to this issue?

[2020-07-27 14:54] hpsin commented on #59331
It would look like
1. Make this authorize call (include all of the query parameters including scope)
2. Redeem the code using this request (include all the POST parameters).

[2020-07-27 14:55] MayankBargali-MSFT commented on #59783
@krishrocks1904 Thank you for your feedback! We will review and update as appropriate.

[2020-07-27 15:02] SadiqhAhmed-MSFT commented on #59460
@bandersmsft FYI!

[2020-07-27 15:07] MayankBargali-MSFT commented on #59793
@mthalman Thank you for your feedback! We will review and update as appropriate.

[2020-07-27 15:10] MayankBargali-MSFT commented on #59767
@Graham-Ellwood Thank you for your feedback! We will review and update as appropriate.

[2020-07-27 15:12] mmacy commented on #57442
@cjmakwana perhaps not intended, but expected - that links to a PR in a private repo. The change is now live:

https://docs.microsoft.com/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#receive-roles-in-tokens

[2020-07-27 15:15] WARL0C commented on #59778
Another problem when incorrect and/or incomplete information.  Step 7 mentions to select the ResourceGroupNameParameterSetName parameter set.  This doesn't seem to exist for the Start-AzureVM cmdlet.  I get "ByName" and "Input".  Neither have specific parameters of "ResourceGroupName".  The ByName has a required ServiceName and Name parameter.  Probably what I want to use but the documentation doe

[2020-07-27 15:20] WARL0C commented on #59778
I see that I had the wrong cmdlet.  Needed Start-AzVm not Start-AzureVM.  Another module needed to be imported.  Az.Compute.

[2020-07-27 15:20] #59778 closed

[2020-07-27 15:23] crevulus commented on #59716
Please find the full response object below, including the reference text. Numbers are all written out in text - is this what triggers the bug? Does it make a difference if we use numeric characters int he reference text?

As for the use: we plan to release a product within the next month. The "TWO" glitch is an obstacle, but it can be accounted for during development. It will become a product-hind

[2020-07-27 15:24] mamccrea commented on #59671
FYI - I've deleted the TwitterClient app from GitHub since it is no longer used or maintained. This should help avoid any confusion.

[2020-07-27 15:25] SwathiDhanwada-MSFT commented on #59789
@sjoerdvannoort Can you please update your [Az.OperationalInsights](https://www.powershellgallery.com/packages/Az.OperationalInsights/2.3.0) to latest version 2.3.0 and try to execute the command?

[2020-07-27 15:26] BharathNimmala-MSFT commented on #59763
@shyamal890 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-07-27 15:28] vhorne commented on #59106
Link updated.
#please-close

[2020-07-27 15:28] #59106 closed

[2020-07-27 15:29] JamesTran-MSFT commented on #59784
@Jared-Harrington-Gibbs
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-27 15:32] ChrisLacHOC commented on #59715
You URI must only contain https://e15a9a62-09b7-4632-a267-0d303ba9559a.webhook.wus2.azure-automation.net/webhooks?token=TOKENHERE   remove the last  **_x000D__x000A_**

[2020-07-27 15:34] jaimegonzalezsicma commented on #59724
@RohitMungi-MSFT It keeps throwing error, if I write the endpoint directly it tells me: "Error sending the request".

I attach my code

using Newtonsoft.Json.Linq;
using System;
using System.IO;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Threading.Tasks;`

namespace OCR_Test_2017
{
    static class Program
    {
        // Add your Computer Vision subscription key and endpo

[2020-07-27 15:43] jurschel commented on #59541
@zchia any thoughts on where this app went or how we can accomplish the task of configuring GSuite user provisioning in Azure AD if the app is gone?

[2020-07-27 15:44] YutongTie-MSFT commented on #59510
@likebupt Thanks very much.

@MaheshKhatri1960
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-07-27 15:44] #59510 closed

[2020-07-27 15:44] zr-msft commented on #55943
Thank you @sathana31 for the feedback!

We have added an item to our back to investigate and will prioritize accordingly.

#please-close

[2020-07-27 15:44] #55943 closed

[2020-07-27 15:45] JayaChatterjee-MSFT commented on #59391
@m-moris Thanks for reporting this item! I have updated the doc to rectify the HttpTrigger argument and it will be published soon. However, we are also reviewing all the examples and will do the needful at the earliest. We appreciate the feedback!

[2020-07-27 15:46] msmbaldwin commented on #58966
@frode: Great idea. I rewrote the Python code to use f-strings: https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python.  Thanks for your suggestion! #please-close

[2020-07-27 15:46] #58966 closed

[2020-07-27 15:48] JamesMiera commented on #59562
Thank you for the note. I do hope that in some small way it helps the product and others trying to use the product.

That said, we can safely close this issue.

Cheers!
James

From: AjayKumar-MSFT <notifications@github.com>
Sent: Monday, July 27, 2020 2:11 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Miera, James <James.Miera@disney.com>; Mention <mention@noreply.github.com>

[2020-07-27 15:49] kobulloc-MSFT commented on #59617
@ibidani The product team has been notified and the template fix has been added to their backlog.   Anyone completing this CSV template would want to use https://myapps.microsoft.com or https://myapplications.microsoft.com/.

Thank you for helping us improve our documentation! We are going to close this thread as resolved but if there are any further questions regarding the documentation, please t

[2020-07-27 15:49] #59617 closed

[2020-07-27 15:53] HarshitaSingh-MSFT commented on #59656
Hello @vaughanh1, hope you are doing great!
There is currently a known and high priority bug and the product team is currently working on it. We do not have a workaround at the moment, so we request you to be patient while we work on fixing the bug asap. Thanks in advance!

[2020-07-27 15:53] #59656 closed

[2020-07-27 15:55] msmbaldwin commented on #57710
Good catch, @8191 . We updated the heading to "CentOS 7 and RHEL 7".  Thank you! #please-close

[2020-07-27 15:55] #57710 closed

[2020-07-27 15:57] DerekHerman-MSFT commented on #59672
@gary918 Thank so much for posting your results! I will go ahead and close out this thread. Please reopen it if you have further questions.

[2020-07-27 15:57] #59672 closed

[2020-07-27 15:58] dcurwin commented on #59661
#reassign:GeethalakshmiG

[2020-07-27 16:03] NavtejSaini-MSFT commented on #59599
@dklwong Please provide the document link this feedback is associated with.

[2020-07-27 16:03] vhorne commented on #58892
Updated
#please-close

[2020-07-27 16:03] #58892 closed

[2020-07-27 16:08] hrasheed-msft commented on #59588
@stawo Apologies for the oversight. I will investigate updating the screenshot. However, the following warning in the article you referenced, seems to recommend against using the Ambari UI for adding services: "While Add Service is listed in this menu, it should not be used to add services to the HDInsight cluster. New services should be added using a Script Action during cluster provisioning." Fo

[2020-07-27 16:10] ArvindHarinder1 commented on #59214
PATCH is required to integrate with our service using a non-gallery app.

[2020-07-27 16:13] #48934 closed

[2020-07-27 16:14] zr-msft commented on #48934
Thank you @RoyKimYYZ for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-27 16:15] #59391 closed

[2020-07-27 16:17] jaimegonzalezsicma commented on #59724
The error appears when writing the path of an image on my computer, if I type the url of a Google image it sends the error Invalid file path:
C:\Temp\recibo-cfe-plantilla.jpg
https://slideplayer.es/slide/5540498/2/images/1/El+p%C3%A1rrafo+Es+una+unidad+de+discurso+en+texto+escrito+que+expresa+una+idea+o+un+argumento%2C+o+reproduce+las+palabras+de+un+orador..jpg

[2020-07-27 16:19] luisquintanilla opened #59796 "C# Code Block Missing / Incorrect Formatting"
One of the C# code blocks appears to be incomplete or the formatting may be off.

![image](https://user-images.githubusercontent.com/46974588/88565995-60754980-d003-11ea-93b2-318228f95835.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef96562d-099d-9400-c88c-ba0439e136a6
* Version Independent ID: 049314ea-8e68-50e

[2020-07-27 16:20] schulmeisterrr opened #59797 "Azure Bastion is missing"
Azure Bastion is missing in the "Services that can be deployed into a virtual network" table. https://docs.microsoft.com/en-us/azure/bastion/bastion-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2422f8ec-802e-7f92-c499-9181f3fe8d8b
* Version Independent ID: eb2b0e2c-8fb5-573c-ef0d-50073d053c3d
* Content: [Vir

[2020-07-27 16:22] JamesTran-MSFT commented on #59693
@nschuessler
Thank you for the quick response. Just to clarify, you want us to update the "troubleshooting" section for:
How to respond/handle a 200 OK response with text/html.

Solution:
Based off your case we can make the solution something along the lines of "confirm configuration settings in the azure portal and api used to authenticate"

Please let me know if this is correct? If not, can you

[2020-07-27 16:33] yzheng-msft commented on #45738
Append blob support will be coming soon.

Page blob support is on the back log.

[2020-07-27 16:38] MarileeTurscak-MSFT commented on #59776
Hi @AmitavaHazra ,

As mentioned in the licensing agreement and documentation, a Premium P2 license is required for MFA. MFA is billed and licensed per user. I would suggest speaking to your licensing vendor of choice and reading the license agreement if you need additional clarification.

https://support.microsoft.com/en-us/account-and-billing

CC @iainfoulds and @MicrosoftGuyJFlo

[2020-07-27 16:38] #59776 closed

[2020-07-27 16:39] hpsin commented on #59693
@nschuessler is it possible you sent the request to /authorize instead of /token?  I'm a bit leery of adding official troubleshooting help that's along the lines of "make sure you did the right thing instead of a wrong thing" since hopefully that's step number one in everyone's troubleshooting process.

We can add some common mixups as a section - e.g. "make sure you sent the request to /token", "

[2020-07-27 16:41] KranthiPakala-MSFT commented on #59247
Duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/53487. Please track this issue in the referenced doc issue.

[2020-07-27 16:44] SaurabhSharma-MSFT commented on #59782
@priyankareddy20 Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-27 16:47] tamram commented on #59486
@Emmanuel-Bresson - We now show how to configure min TLS version with an ARM template:

https://docs.microsoft.com/azure/storage/common/transport-layer-security-configure-minimum-version?toc=%2Fazure%2Fstorage%2Fblobs%2Ftoc.json&tabs=template

[2020-07-27 16:47] tamram commented on #59486
#please-close

[2020-07-27 16:47] #59486 closed

[2020-07-27 16:54] JamesTran-MSFT commented on #59722
@ZXJzzzz
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-07-27 16:58] epinto opened #59798 "Add doc link to text mentioning "back up a primary DPM server with a secondary DPM server""
Under the section "About DPM/MABS", the text "You can back up a primary DPM server with a secondary DPM server" should provide a link to the "Back up the DPM server" documentation here: https://docs.microsoft.com/en-us/system-center/dpm/back-up-the-dpm-server?view=sc-dpm-2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-27 16:58] hpsin commented on #28317
As a note - we're in the final stretches of fixing this.  Currently, Userinfo now returns the following for MSA:
    "sub": "AAAAAAAAAAAAAAAAAAAAAK0rc3MZ7ZKKpELMYTircG4",
    "Name": "Hirsch Singhal",
    "Given_name": "Hirsch",
    "Family_name": "Singhal",
    "Preferred_username": "hps.scout@gmail.com",
    "Email": "hps.scout@gmail.com",
    "Email_verified": true,
    "picture": "https://grap

[2020-07-27 17:01] rozpalacz commented on #28317
Great news :) Thanks.

pon., 27 lip 2020, 18:59 użytkownik Hirsch Singhal <notifications@github.com>
napisał:

[2020-07-27 17:03] normesta commented on #59506
Thank you for calling this out @subashsivaji! Including @priyashetty-gh so that she is aware of a potential inconsistency between the tools.

[2020-07-27 17:06] JamesTran-MSFT commented on #59784
@Jared-Harrington-Gibbs
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know. I will be more than happy to re-open this issue and look into what happened.

Change made - Microsoft Flow to Microsoft Power Automate

Thank you for your time and patience!

[2020-07-27 17:06] #59784 closed

[2020-07-27 17:06] bdschaap opened #59799 "Tags per resource"
[Enter feedback here]
The docs state that there is a limit of 50 tags per resource except Azure Automation Accounts which is limited to 15 tags.  I believe CDN is also limited to 15 tags.  Would appreciate clarification and the docs to be updated as needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9

[2020-07-27 17:07] KranthiPakala-MSFT commented on #59597
@djpmsft Could you please have a look into this? - Thanks

[2020-07-27 17:08] zr-msft commented on #41155
Thank you @smoms for the feedback!

Please take a look at the following articles:
* https://docs.microsoft.com/azure/aks/managed-aad
* https://docs.microsoft.com/azure/aks/azure-ad-integration-cli
* https://docs.microsoft.com/azure/aks/azure-ad-rbac
* https://docs.microsoft.com/azure/aks/concepts-identity

Closing this issue for now, but please follow up if the above links don't answer your questi

[2020-07-27 17:08] #41155 closed

[2020-07-27 17:08] dcurwin commented on #59798
#assign:dcurwin

[2020-07-27 17:11] HarshitaSingh-MSFT commented on #59760
Hello @hnph12, hope you are doing great! I am assigning this issue to the author to add more details to the documentation as requested by you.

[2020-07-27 17:12] dcurwin commented on #59798
Thank you for your helpful suggestion! The changes have been merged.

#please-close

[2020-07-27 17:12] #59798 closed

[2020-07-27 17:17] jaimegonzalezsicma commented on #59724
I already solved it, I changed the EndPoint from https to http, but Azure tells me that it is with https, something strange is happening ...

using Newtonsoft.Json.Linq;
using System;
using System.IO;
using System.Net.Http;
using System.Net.Http.Headers;
using System.Threading.Tasks;

namespace OCR_Test_2017
{
    static class Program
    {
        public static void Main()
        {
            M

[2020-07-27 17:19] rolyon commented on #59165
@sopopa1
Thanks for the feedback. I made some updates to the troubleshooting article:
https://docs.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#problems-with-azure-role-assignments

[2020-07-27 17:21] rolyon commented on #59165
#please-close

[2020-07-27 17:21] #59165 closed

[2020-07-27 17:26] mrbullwinkle commented on #59710
@burma-shave just to confirm are you seeing collection of authenticated user id out-of-box without any customization?

The personal data management article mentions authenticated user ids in that is possible to collect them (though the default behavior on the latest versions of the sdk's is to not collect this value.) This is much like IP address where by default we don't collect/store the IP, but

[2020-07-27 17:27] RohitMungi-MSFT commented on #59724
@jaimegonzalezsicma You are using the variable incorrectly. As i mentioned in my first response please use the key as below instead of pasting the key in place of the environment variable

[code]

[2020-07-27 17:36] NavtejSaini-MSFT commented on #59431
@xmseraph Please let us know if you need any further help or we can close this issue by EOD.

[2020-07-27 17:41] SaurabhSharma-MSFT commented on #59782
@priyankareddy20 Can you please share the gaps you are seeing.  Also, provide a screenshot for the same.

[2020-07-27 17:45] shashishailaj commented on #59792
@josuvil Thank you for pointing this out . We will review this with the content authors and update with necessary changes .

[2020-07-27 17:47] mrbullwinkle commented on #59187
The update fixing this issue is now merged/live. Thanks for bringing this to our attention.

[2020-07-27 17:47] mrbullwinkle commented on #59187
#please-close

[2020-07-27 17:47] #59187 closed

[2020-07-27 17:50] baguilar-work commented on #51464
Having the same issue as above. Our ClaimsTransformation using a TransformationMethod of AssertBooleanClaimIsEqualToValue is throwing the error to the user correctly, however the steps continue to process like nothing happened.

[2020-07-27 17:54] Karishma-Tiwari-MSFT commented on #59453
Thanks for sharing the update.

[2020-07-27 17:56] vhorne commented on #58658
@wbplomp

The diagram depicts the case where the firewall has a public IP address (depicted as "PiP" in the diagram) and a private IP address (depicted as "Private IP" in the diagram. So you can consider that as "multihomed".

[2020-07-27 17:59] vhorne commented on #54921
@andrewCluey

The reference architecture is published:

https://docs.microsoft.com/en-us/azure/architecture/example-scenario/gateway/firewall-application-gateway

[2020-07-27 17:59] vhorne commented on #54921
#please-close

[2020-07-27 17:59] #54921 closed

[2020-07-27 18:03] DerekHerman-MSFT commented on #59780
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-27 18:06] MarileeTurscak-MSFT commented on #59786
@adam-crain
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-27 18:16] bandersmsft commented on #57584
@danielbjork After discussion with the Billing engineering team, it looks like you might not be a member of the admin agent group. Even if you are a global admin in the partner AAD, you still need to be a part of the admin agent group to view/update policies.

If you are a part of the admin agent group and still don’t see the policies page, please submit a support ticket in the Azure portal.

I've

[2020-07-27 18:16] #57584 closed

[2020-07-27 18:22] bandersmsft commented on #51881
@jonwbstr Hi. We've updated the article since you opened the issue to add the following points:

- The Company name and Company address should match the information that you provided for the Azure account. To view or update the information, see Change your Azure account profile information.
- Add your billing contact information in the Azure portal before the credit limit can be approved. The cont

[2020-07-27 18:22] #51881 closed

[2020-07-27 18:22] aronchick opened #59801 "'connectionStringSetting' is really confusing"
it took quite a while to figure out that 'connectionStringSetting' really should have been named 'connectionString_Attribute_KeyName_That_Appears_In_Local.Settings.JSON'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28aac762-b154-1d0e-9afc-67889fdf9762
* Version Independent ID: 9a406f60-6c72-d3d9-2bc9-8d8e8c1922ae
* C

[2020-07-27 18:22] priyankareddy20 commented on #59782
Hello Team,

I saw recommendations in 2 pages

1. All recommendations in the same page in Recommendations tab.

2. Per VM, monitored by Azure Security Center,there I could see some
assessments like Failed,Passed, stating the (Healthy and Unhealthy, High or
Low risk etc ..)there we have few recommendations.

3. In Log Analytics Workspace Logs when I executed the KQL query all the
recommendations ha

[2020-07-27 18:24] kendallroden opened #59802 "Code out of date, sample not working"
The source code does not match the documentation and when attempting to run the sample app multiple errors appear including issues with the print statements and buffer errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a495bce-739a-3ea9-84a9-7e5e4d4ce064
* Version Independent ID: 05827127-bc70-fbd9-2d3c-c16c3c5676e

[2020-07-27 18:27] bandersmsft commented on #57544
@eshy I've verified with the Billing engineering team that the article is accurate as written. It looks like you might not have a Visual Studio Enterprise subscription and you're trying to turn on a spending limit on a subscription that doesn't support spending limits. If further investigation is needed, please open a support ticket in the Azure portal.

#please-close

[2020-07-27 18:27] #57544 closed

[2020-07-27 18:37] bandersmsft commented on #46017
@ozbob Are you still having this issue?

[2020-07-27 18:48] hpsin commented on #43848
@mmacy - where is this v1 doc now a days?

[2020-07-27 18:49] mrbullwinkle commented on #59710
@TimothyMothra can you confirm the current default behavior for ASP.NET/ASP.NET Core regarding authenticated User ID collection?

 It looks like for ASP.NET we do have a [telemetry initializer for AuthenticatedUserId](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/Src/Web/Web/AuthenticatedUserIdTelemetryInitializer.cs) and [UserId](https://github.com/microsoft/Application

[2020-07-27 18:56] SatishBoddu-MSFT commented on #59618
Hello @jimlane Could you please confirm if you were able to Monitor the Data being sent by Azure Function App running on your Edge Device? We can use VS code to quickly monitor the data being sent to the IoT hub.

**Troubleshooting steps:**
**STEP 1)** Please make sure the Temperature sensor is sending continuous data to IoT Hub,
Please add the **Environment Variable** 'MessageCount' = -1 for Temp

[2020-07-27 18:57] #57792 closed

[2020-07-27 19:01] femsulu commented on #59787
Hello @behzad-a,  can you share the unauthorized errors you are receiving? That way we can review and help investigate further.
Looking forward to your response.

[2020-07-27 19:03] mmacy commented on #43848
@hpsin published version is at https://docs.microsoft.com/azure/active-directory/azuread-dev/v1-oauth2-on-behalf-of-flow

repo location: https://github.com/MicrosoftDocs/azure-docs-pr/blob/master/articles/active-directory/azuread-dev/v1-oauth2-on-behalf-of-flow.md

[2020-07-27 19:05] burma-shave commented on #59710
@mrbullwinkle thanks so much for your response! I am setting the authenticated user id explicitly both in the new js sdk and in .net via a telemetry initializer.

Didn't notice any setting of the field out of the box. We're using the JWT bearer middleware for auth on our .net core 3.1 api. The js sdk doesn't do anything with it unless set explicitly.

In browser: _"@microsoft/applicationinsights-w

[2020-07-27 19:11] SaurabhSharma-MSFT commented on #59782
@priyankareddy20 yes, please share the screenshot from Azure security center and of KQL query to understand specific recommendations which are missing.

[2020-07-27 19:15] bgehring commented on #16579
I realize this is an old closed thread, but the link in the answer doesn't work. Has anything changed so that we can access the Source attribute via powershell or we can export the user list from https://portal.azure.com/#blade/Microsoft_AAD_IAM/UsersManagementMenuBlade/AllUsers with the actual source field? If not can a working link be supplied?

[2020-07-27 19:15] #52063 closed

[2020-07-27 19:17] zr-msft commented on #52063
Thank you @vbrinza for the feedback!

I have updated the article to address your feedback and the changes should be available soon.

[2020-07-27 19:33] MicrosoftGuyJFlo commented on #59765
Those can be uplifted to SKUs that are supported via Intune.

[2020-07-27 19:33] MicrosoftGuyJFlo commented on #59765
#please-close

[2020-07-27 19:33] #59765 closed

[2020-07-27 19:46] normesta commented on #57040
Thanks @jcpayne. I've modified our existing entry to indicate that if there's an error with azcopy login, to specify the tenant ID.  thanks again.

[2020-07-27 19:46] normesta commented on #57040
#please-close

[2020-07-27 19:46] #57040 closed

[2020-07-27 19:47] SaurabhSharma-MSFT commented on #59529
We need to explicitly select the signInActivity property to get the lastSignInDateTime according to the user documentation [here](https://docs.microsoft.com/en-us/graph/api/resources/user?view=graph-rest-beta#properties)
From my testing, I failed to reproduce the issue. I was able to get the user lastsignin who was created in mid-January and you can see it in the below image.

Query Used - https:/

[2020-07-27 19:53] MicrosoftGuyJFlo commented on #59574
Working with the product group to better explain this as it is an aggregate calculation. Putting this in my backlog with another request for the same information.

[2020-07-27 19:53] MicrosoftGuyJFlo commented on #59574
#please-close

[2020-07-27 19:53] #59574 closed

[2020-07-27 19:58] priyankareddy20 commented on #59782
Sure.I would that tomorrow.

Regards
Priyanka

On Mon, Jul 27, 2020, 21:12 SaurabhSharma-MSFT <notifications@github.com>
wrote:

[2020-07-27 20:00] normesta commented on #59448
Thank you @gaikovoi - yes this is inconsistently represented in the docs. Both can be used (--recursive and --recursive=true). To keep things consistent, I removed the "=true" from all instances. This change should appear live after 3 PM today.

[2020-07-27 20:01] normesta commented on #59448
#please-close

[2020-07-27 20:04] denystyshetskyy opened #59805 "SQL opposite to Spark"
In this document SQL is being used to oppose Spark on few occasions (for data engineers writing SQL or Spark code etc.)
It doesn't seem to be a precise wording considering that Spark SQL module is the main underlying concept of the Spark framework and spark sql is being a major part of **Spark code**, which also questionable concept - Python code and Scala code for Spark might be a bit better word

[2020-07-27 20:05] Mike-Ubezzi-MSFT commented on #59417
@michaelburch An update to the documentation has been submitted and should be live within the next 24hrs. Again, thank you for bringing this to our attention and please let us know if you have any additional questions with this doc issue.

[2020-07-27 20:05] #59417 closed

[2020-07-27 20:09] ChaitanyaNaykodi-MSFT commented on #59539
Thank you for reaching out, I am sorry for the delay in my response. Yes, it is completed possible to have multiple subscriptions for the same topic. You can find more information regarding the filters [here](https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters).

[2020-07-27 20:09] npherson opened #59806 "AllowToAddGuests - first sentence needs fixing."
"A boolean indicating whether or not is allowed to add guests to this directory."

Incomplete sentence - "...whether or not ___ is allowed...".

And is 'add guests to this **directory**' the right noun, or is it supposed to read 'add guests to this group'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cd7a703-534a-5f

[2020-07-27 20:10] #59588 closed

[2020-07-27 20:15] normesta commented on #58980
Thanks for the great suggestion @cuwaters ! I add a section for copying the contents of a directory (without copying the directory itself). Thanks again. Change should appear live after 3:00.

[2020-07-27 20:16] normesta commented on #58980
#please-close

[2020-07-27 20:16] #58980 closed

[2020-07-27 20:17] krish-gh commented on #59746
Hello @amit17051980 As I understood from your details, you registered a trusted federation realm with itself (both in mkalehi.onmicrosoft.com tenant). Please let me know if that is not the correct understanding.
While I would not go to the discussion of why SAML instead of OAUTH 2.0 in this scenario, but there is an open [issue](https://github.com/MicrosoftDocs/azure-docs/issues/45071) which seems

[2020-07-27 20:17] rwike77 commented on #45378
#reassign: kenwith

[2020-07-27 20:17] rwike77 commented on #46501
#reassign: kenwith

[2020-07-27 20:21] megan-beatty commented on #59043
Hi - it's best to open up a ticket for this so that you can share your Front Door name and we can properly look into this. In absence of that, it is also recommended to contact secreityheaders.com as mentioned above to ensure that is not causing this issue as well.

[2020-07-27 20:22] nschuessler commented on #59693
If I did it to `/authorize` instead of `/token` it would be  because I called the wrong API on `Microsoft.IdentityModel.Clients.ActiveDirectory` API.
i.e. Using the wrong overload of `AquireTokenXX` for my scenario.

It may also be because I didn't have admin consent for my AAD application approved yet.

I have (mostly) solved the problem by not using any of the client APIs offered (`Microsoft.Ide

[2020-07-27 20:25] rozpalacz commented on #28317
And what about adding "sub" to "/me" ?

[2020-07-27 20:25] jaffadog commented on #59529
Hi @SaurabhSharma-MSFT . I am using a similar query to yours - including signinActivity in the selected columns to return. The issue I am observing is that I do not get signinActivity data returned for accounts whose **last sign** in was over ~105 days ago. In your example, the highlighted result is a sign in that was just 4 days ago. I too get good results for accounts whose last sign in was rece

[2020-07-27 20:27] MarileeTurscak-MSFT commented on #59806
@npherson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-07-27 20:29] MarileeTurscak-MSFT commented on #59806
Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123905

[2020-07-27 20:29] #59806 closed

[2020-07-27 20:32] shashishailaj commented on #59275
@ichengchao This is a valid issue within the documentation and it needs to be updated . The author has been contacted for the same . The Key Signing code as mentioned in the article does not work as it is not accepting the base 64 encoded public key value . At this point a workaround for you would be to export a PFX file of the certificate with Private key and upload it directly to azure through t

[2020-07-27 20:34] AjayKumar-MSFT commented on #59538
Michael. apologies for the delay! while I'm checking on this internally and get back to you shortly.

Kindly share a screenshot of the issue after concealing any private details and confirm the supported region for Zonal ILB ASEs creation (as per the list).
Also, could you please confirm the following case , as mentioned in the document -  If a zones property exists in the view of the ARM JSON syn

[2020-07-27 20:37] bandersmsft commented on #46017
@ozbob I believe we updated the screenshot some time ago and all them and the text should be current.
#please-close

[2020-07-27 20:37] #46017 closed

[2020-07-27 20:39] hpsin commented on #28317
@dkershaw10 - what's a good place to accrue this feature request on /me?

[2020-07-27 20:42] hpsin commented on #59693
Hm, that sounds like an SDK bug then - it should be literally impossible to get back text/html using client credential SDKs.  There's just no time when we would return that kind of error.

The only time we've seen issues like that on /token is when a firewall is in between an app and the internet injecting certain pages.

[2020-07-27 20:42] bandersmsft commented on #58632
@Klaas Can you list the steps you performed in the Azure pricing calculator that resulted in the error? Everything I've tried in the calculator works as expected. Thanks.

[2020-07-27 20:48] euangms commented on #59775
Updates made and pushed to the staging branch, will get updated within a week.

[2020-07-27 20:48] SaurabhSharma-MSFT commented on #59529
@jaffadog oh..ok.. sorry, my bad. I checked the user createddate.  I am looking into this and update you on this issue.

[2020-07-27 20:50] msmimart commented on #58888
#please-close

[2020-07-27 20:50] #58888 closed

[2020-07-27 20:51] rozpalacz commented on #28317
You mean a reason why I need sub in "/me" response?

[2020-07-27 20:54] simeyla opened #59807 "Attempted DOS / hacking attempt can cause "An internal error occurs when you try to connect to an Azure VM through Remote Desktop""
I've just been dealing with this error and it was literally Russian hackers.

Can you update this answer to suggest better network security as a way to solve this. Such as with a firewall etc.

It seems that if under attack the RDP service can just collapse - and become inaccessible even immediately after rebooting or restarting the service. I had hundreds of incoming requests.

I checked in windo

[2020-07-27 20:56] sebansal commented on #56705
Hi @CawaMS , is this resolved

[2020-07-27 21:05] davidsmatlak commented on #38206
#assign:davidsmatlak

[2020-07-27 21:11] jasonhorner opened #59809 "add "Credential Sync" error troubleshooting steps"
It would be good to add a section for troubleshooting credential sync errors.
This typically happens when joining a new node to an existing IR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0ed29b5-d097-26fd-eef8-2900d4bb8b51
* Version Independent ID: 1d0127ec-3b86-c0b6-ba13-8b4e8cbc808c
* Content: [Troubleshoot self

[2020-07-27 21:14] tcsougan opened #59810 "Custom policies supported for IKEv1 as well. Purple BOX with Note"
[Enter feedback here]
Thank you for your great work already. I just want see if we can add the picture attached on the article. It is really important, it will be really important to know that we have custom policy for IKEv1 as well since all the examples are made on IKEv2.
![MicrosoftTeams-image (12)](https://user-images.githubusercontent.com/68875610/88592778-89f69b00-d02c-11ea-807d-a022a7267be5

[2020-07-27 21:14] MashaMSFT commented on #50504
Hi @JohnDelisle , thank  you so much for your patience and for bringing this to our attention! I've processed a change to update the script and it should be live later today.

Please feel free to comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-07-27 21:14] #50504 closed

[2020-07-27 21:15] bandersmsft commented on #38660
@KrishnaG-MSFT This issue doesn't directly affect the article published to https://docs.microsoft.com/azure/cost-management-billing/manage/consumption-api-overview

This appears to be a bug with https://docs.microsoft.com/rest/api/consumption/usagedetails/list and that's maintained by the engineering team. Can please reassign as a product bug, not a doc issue? Thanks.

[2020-07-27 21:20] alwarmb opened #59811 "Typo in Example Manifest.json file"
There is a small typo in the example Manifest.json file provided.
Use
`"streetAddress": "Contoso Way"`
instead of
`"streetAddresss": "Contoso Way"`

There is an additional 's' causing convertion warnings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 886ab0ce-75af-eaf9-b1e9-ffa0c1fec51f
* Version Independent ID: b014d

[2020-07-27 21:21] MashaMSFT commented on #49409
Hi @iancrowl, thanks for contacting Microsoft! Azure update can be used to apply SQL patches if [Windows Update is configurd to get updates for other Microsoft products](https://docs.microsoft.com/azure/automation/automation-configure-windows-update#enable-updates-for-other-microsoft-products) or if using [WSUS](https://docs.microsoft.com/azure/automation/automation-configure-windows-update#make-w

[2020-07-27 21:23] MashaMSFT commented on #56961
Hi @NDSoul, it's been some time since we've heard from you. We're going to assume your concern has been addressed and close out the Git Issue.

Please feel free to comment should you need anything further.

Thanks and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2020-07-27 21:23] #56961 closed

[2020-07-27 21:24] bandersmsft commented on #34024
@prabhakarreddy1234 This issue was fixed in the Budgets interface.
#please-close

[2020-07-27 21:24] #34024 closed

[2020-07-27 21:27] loryanstrant commented on #46337
Any chance you can share the instructions you used to create this? I'm finding the same issue with the script, the rasphone.pbk gets created but Windows doesn't have the connection added.

[2020-07-27 21:31] loryanstrant commented on #46337
I'm having the a similar issue as @durrante - the file raspphone.pbk is deployed but the VPN isn't present under VPN connections in Windows, or the Azure VPN client.
Looking at the logs created, I see this:

[‎28‎/‎07‎/‎2020‎ ‎7‎:‎28‎:‎58‎ ‎AM] PId:[00020440] TId:[00012504] [ApplicationX] [] [Information] RefreshProfiles: Count: 0, Sorted Count: 0
[‎28‎/‎07‎/‎2020‎ ‎7‎:‎28‎:‎58‎ ‎AM] PId:[00020440

[2020-07-27 21:36] MarileeTurscak-MSFT commented on #59694
I'm assigning this to the author @jmprieur because it looks like it may be related to https://github.com/MicrosoftDocs/azure-docs/issues/49182

[2020-07-27 21:42] bandersmsft commented on #59663
#reassign:yashesvi

[2020-07-27 21:42] bandersmsft commented on #59460
#reassign:amberb

[2020-07-27 21:42] PRMerger16 commented on #59460
amberb is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-07-27 21:44] kenwith commented on #58809
@swinster thank you for your feedback. I know it takes time to open an issue and I appreciate it. I have refactored this content into the quickstart article on adding an app https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/add-application-portal and setup a redirection. This should be live shortly. I recently joined the team and am updating all of the content in this area. If yo

[2020-07-27 21:44] kenwith commented on #58809
#please-close

[2020-07-27 21:44] #58809 closed

[2020-07-27 21:45] zr-msft commented on #55136
Thank you @tvkit for the feedback.

I tested the instructions in the article and they work as expected. Closing the issue for now, but please follow up if you run into this issue.

#please-close

[2020-07-27 21:45] #55136 closed

[2020-07-27 21:48] BharathNimmala-MSFT commented on #59799
@bdschaap Thank you for your feedback, we will review it and get back to you at the earliest.

[2020-07-27 21:49] zr-msft commented on #43965
Thank you @jjindrich for the feedback.

The behavior you described is not currently available and you must explicitly list all domains. You can file a feature request here: https://github.com/Azure/AKS

cc @palma21

#please-close

[2020-07-27 21:49] #43965 closed

[2020-07-27 21:52] tfitzmac commented on #59799
@bdschaap - thanks for this feedback. I am seeing the same problem of CDN only supporting 15 tags. I will update the article with that information.

[2020-07-27 21:52] jstafford5380 commented on #59539
@ChaitanyaNaykodi-MSFT Hi, to be clear, I am saying multiple subscriptions for the *same consumer* for a single topic. And I know it's possible, I'm asking if it's a good practice or if there are potential drawbacks to the approach. Is it intended to have only one subscription per consumer per topic?

[2020-07-27 21:53] TerryLanfear commented on #59334
@dannradkov - Thank you for your feedback. The article titled Penetration Testing is referring only to pen testing. Rules of engagement to perform pen testing on the Microsoft Cloud currently do not allow performing any kind of denial of service testing.

The article you reference in your feedback is about something different. Microsoft has partnered with BreakingPoint Cloud to build an interface

[2020-07-27 21:54] anastasia-ms commented on #59811
I think you have an old copy? The error is not in the manifest file.

[2020-07-27 21:56] PatAltimore commented on #58191
@gs-repo Hi Gurinder,

I'm sorry there are still issues. I've updated the doc to reorder the channel commands. It seems to work best if you create the channel, configure the consortium, then set the anchor peers. I've run though the steps and confirmed it. The doc change is merged and should be live later today or tomorrow morning.

Thanks,
Pat

[2020-07-27 21:58] v-sashig opened #59812 "Please correct support area path for enabling Port 25 request"
I confirmed with Mark L. Filteau mfilteau@microsoft.com that
There will NOT be a Port 25 enablement path underneath subscription management.  This is purely a technical networking request that  ASMS handles it as a courtesy.

Documentation would need to be updated.

SAP Product:
Azure/Virtual Network

SAP Full Path:
Azure/Virtual Network/Connectivity/Cannot send email (SMTP-Port 25)

PCY:
Accounts

[2020-07-27 21:59] Karishma-Tiwari-MSFT commented on #59807
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-07-27 22:00] amit17051980 commented on #59746
Hi Krish,

The reason to use OAuth SAML Assertion flow is just because one of the OpenText product currently configured with Azure AD - SAML2 app registration, and do not handle OAuth token. Business demanding to pull the list of documents from the Sharepoint which is configured for the same domain, and let user see the document list before replicating the document to another non-O365 repo.

As th

[2020-07-27 22:03] Mike-Ubezzi-MSFT commented on #59802
Hi @kendallroden, Thank you for making us aware of this issue. We are investigating and will update the Quickstart as necessary.

[2020-07-27 22:11] MarileeTurscak-MSFT commented on #59707
@dreeves14 you are using Windows Virtual Desktop Client, correct?

In that case you can create a policy requiring MFA and apply it to Windows Virtual Desktop Users.

You would go to Enterprise Applications and search for/click on Windows Virtual Desktop Client

![image](https://user-images.githubusercontent.com/13383753/88596677-7e9a7400-d01a-11ea-95a6-8a13090ffd6f.png)

Then go to Conditional Acc

[2020-07-27 22:11] #59707 closed

[2020-07-27 22:16] Karishma-Tiwari-MSFT commented on #59453
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-07-27 22:16] #59453 closed

[2020-07-27 22:16] #38206 closed

[2020-07-27 22:17] davidsmatlak commented on #38206
Verified that `Az.Subscription` has released versions `0.7.2` and `0.7.3` that install the `New-AzSubscription` cmdlet without using the `-AllowPrerelease` parameter. I submitted a change for the document and when it merges, this issue will automatically close. The updated document will be online within 24 hours after being merged.

[2020-07-27 22:19] ChaitanyaNaykodi-MSFT commented on #59801
@aronchick, Thank you for your feedback! We will review and update as appropriate.

[2020-07-27 22:23] MarileeTurscak-MSFT commented on #59717
@nacdlorg, I think this is a good thing to mention. I made a pull request to include the clarification that you mentioned. https://github.com/MicrosoftDocs/azure-docs-pr/pull/123936

If you think something different should be added feel free to make a pull request and link it here! No need to worry about contributing as that's why the docs are open for contributions and improvements. :)

[2020-07-27 22:23] #59717 closed

[2020-07-27 22:35] SatishBoddu-MSFT commented on #59811
@alwarmb Thanks for the feedback!

Do you see the same typo even when we download the manifest file from GitHub?

![image](https://user-images.githubusercontent.com/62923178/88595236-74c34180-d017-11ea-97be-a3b550454832.png)

**Downloaded file:**

![image](https://user-images.githubusercontent.com/62923178/88598672-a095f580-d01e-11ea-8223-d9d0667e6f6c.png)

[2020-07-27 22:35] hpsin commented on #55353
#please-close - PR is merged, fix should be live tomorrow.

[2020-07-27 22:35] #55353 closed

[2020-07-27 22:37] hpsin commented on #56906
#please-close - this is fixed in the merged PR, updates should be live tomorrow.  Thank you Mark for your help!

[2020-07-27 22:37] #56906 closed

[2020-07-27 22:37] #59431 closed

[2020-07-27 22:52] bandersmsft commented on #55421
@dpolivy Thanks for letting us know about this issue. Fixing with https://github.com/MicrosoftDocs/azure-docs-pr/pull/123943

#please-close

[2020-07-27 22:52] #55421 closed

[2020-07-27 22:54] #59476 closed

[2020-07-27 23:00] Karishma-Tiwari-MSFT commented on #59046
Since you are working offline on this with the SMEs, I will close this issue.
Please share the update here once you have the resolution, for others to refer to.

[2020-07-27 23:00] #59046 closed

[2020-07-27 23:01] YutongTie-MSFT commented on #59512
@david-cornish Hi David, sorry for your experience. The reason why you haven't got two keys is because when you trying to create a new resource, there are 3 options like the screenshot:

![image](https://user-images.githubusercontent.com/38084098/88600061-2d8e7e00-d022-11ea-8565-4f362577f190.png)

You can select both or do it separately.

If you do it as both, you will get result as following:

![