[2021-08-31 15:35] marcelkmfst opened #80419 "clarification arround pricing"
This statement is not clear:

_Sending data to Log Analytics might incur data bandwidth charges. However, that's limited to Virtual Machines where a Log Analytics agent is installed and doesn't apply when using Diagnostics settings or with other connectors that are built in to Azure Sentinel. As described in the Azure Bandwidth pricing page, data transfer between Azure services located in two regi

[2021-08-31 15:36] MarileeTurscak-MSFT commented on #80392
@LockTar
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-31 15:47] LockTar commented on #80392
Also, the ui in the azure portal isn't correct as well. When you click the delete button on a custom attribute, the confirmation popup states that the data will be deleted which is not the case.

[2021-08-31 15:55] SatishBoddu-MSFT commented on #80406
Hello @bkarrlander Thanks for the query, there is no ETA as of now. Please subscribe to the below documents which are updated always with the current or upcoming features.

https://docs.microsoft.com/en-us/azure/iot-edge/support?view=iotedge-2020-11#windows-containers
![image](https://user-images.githubusercontent.com/62923178/131534481-12e7403c-23f9-45d4-83a7-71d31fe1b922.png)

Please visit the b

[2021-08-31 16:00] MicrosoftGuyJFlo commented on #80313
The link at the end of the intro takes you to the content for enabling the recycle bin.

For information about the AD Recycle Bin feature, refer to article [Scenario Overview for Restoring Deleted Active Directory Objects](/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/dd379542(v=ws.10)).

[2021-08-31 16:03] femsulu commented on #80388
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 16:04] femsulu commented on #80394
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-31 16:06] femsulu commented on #80397
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 16:07] SadiqhAhmed-MSFT commented on #79813
@avd2002dva Please refer to - https://github.com/MicrosoftDocs/azure-docs/issues/80344

Hope that answers your question. If not, please share more details.

[2021-08-31 16:08] femsulu commented on #80399
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 16:11] danimacho72 opened #80420 "OAuth 2.0 is only an authorization protocol"
In the article: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

You say something that is not accurate

"It's used to perform authentication and authorization in the majority of app types"

IMHO it should say:
"It's used to perform authorization in the majority of app types"

It is true that end-user may be requested to enter credentials  when browser is r

[2021-08-31 16:15] JamesTran-MSFT commented on #80420
@danimacho72
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-31 16:16] HeidiSteen commented on #79986
Hi Sepideh, I think that Matt is saying that it's unsupported and that indexers are designed to run at 5 min intervals.  I guess the issues that you'd run into are exactly what you are finding here (duplication).   If you are getting results at 1 min intervals, then it's possible that it's a bug, and the code that constrains indexer execution to 5 min intervals isn't working.   I'll double check w

[2021-08-31 16:16] HeidiSteen commented on #79986
#please-close

[2021-08-31 16:16] #79986 closed

[2021-08-31 16:16] femsulu commented on #80413
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 16:18] femsulu commented on #80415
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-31 16:19] DCtheGeek commented on #80393
@JohnnyRoen Hi and thank you for the feedback!  This page is generated from the Azure Policy built-in definitions, so whatever category the owning product group set for the built-in is the category you see on this page.  For consistency, we try to keep this at the "service" level so we don't create too many categories of sub-feature areas.  Looping in @mgreenegit for his awareness of this ask.

Al

[2021-08-31 16:19] #80393 closed

[2021-08-31 16:20] femsulu commented on #80416
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-08-31 16:20] SrijitBose-MSFT commented on #80390
@suuuuuper can you please share the value of the `PURGE_CMD` that you have set and the exact command you ran before hitting this error?

[2021-08-31 16:22] DerekHerman-MSFT commented on #80399
There are also many links in the table referencing back to the same page. I have assigned the issue to the content author to investigate further and update the document with the correct links.

[2021-08-31 16:42] sumeetmittal commented on #80410
This implies that you can't create a private link service on a LB which is using IP based backend pool. Thanks

[2021-08-31 16:46] mmacy opened #80421 "[TEST] this article is unclear"
This is a test.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52984432-b89a-b94b-fd37-af459880cb45
* Version Independent ID: d2e775ac-03db-ea51-087f-294c13da7582
* Content: [Learn about MSAL - Microsoft identity platform](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-overview)
* Content Source:

[2021-08-31 16:52] robinsh commented on #77004
@ivapplyr Can you please find out if these URLs are correct? If you can verify them, I can update the document. Thanks.

[2021-08-31 16:54] maliksahil commented on #80421
Seems pretty clear to me .. .. this is just a test issue 🤷🏻‍♂️  #reassign: @mmacy

[2021-08-31 16:55] mmacy commented on #80421
this is a test #please-close

[2021-08-31 16:55] #80421 closed

[2021-08-31 16:57] scyto opened #80422 "Maybe mention in pricing that the offer is not transacted via marketplace?"
The pricing section is misleading as it does not clearly state that the offer cannot be transacted via marketplace.

a. please correct the docs
b. please let us sell via marketplace

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d4a65d9-a264-33c8-43d7-93e103fc6972
* Version Independent ID: 4b4971ca-4575-6e65-f6be-12a0

[2021-08-31 17:04] mmaitre314 opened #80423 "Azure Databricks missing in list of services supporting AAD authentication"
Azure Databricks is missing in the list. Here is the Databricks doc: https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/

I was able to use MSI to get an access token for Databricks using audience `2ff814a6-3304-4ab8-85cb-cd0e6f879c1d` and `https://azuredatabricks.net/` should likely work too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2021-08-31 17:08] tfitzmac commented on #79093
@Jeej - thanks for this feedback. I have added content to clarify the format of the id. The example you provided is actually the id of the returned type so I can't change it to the examples you suggested, but I have tried to make it more clear how the function works.

The update should get published later today.
#please-close

[2021-08-31 17:08] #79093 closed

[2021-08-31 17:18] mmacy commented on #80308
#label:"doc-bug"

Hi @shashishailaj and @vipulsparsh, can one of you remove the `doc-enhancement` label from this issue? It is a bug.

[2021-08-31 17:23] SamaraSoucy-MSFT commented on #79383
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-08-31 17:23] #79383 closed

[2021-08-31 17:23] MonikaReddy-MSFT commented on #80422
@sycto - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-31 17:24] VikasPullagura-MSFT commented on #80376
@Ayanmullick

Please see the following PS example:

[code]

Reference documents:
[Set-AzVMSecurityProfile](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmsecurityprofile?view=azps-6.3.0)
[Set-AzVMUefi](https://docs.microsoft.com/en-us/powershell/module/az.compute/set-azvmuefi?view=azps-6.3.0)

Hope this helps.

[2021-08-31 17:25] MonikaReddy-MSFT commented on #80422
@scyto - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-31 17:25] #80422 closed

[2021-08-31 17:27] MonikaReddy-MSFT commented on #80400
@xingqiri - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-31 17:27] ChaitanyaNaykodi-MSFT commented on #80153
Hello @bigkangji,
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion. Thank you!

[2021-08-31 17:27] #80153 closed

[2021-08-31 17:29] MGoedtel commented on #69493
@RobinBeismann - Update Management is supported on Ubuntu 20.04 on Azure and non-Azure machines. Because you are encountering a supportability issue, I recommend you open a support case with Microsoft Support. Closing this GitHub issue as it is not related to an issue with the article.  #please-close

[2021-08-31 17:30] #80308 closed

[2021-08-31 17:33] asergaz commented on #80328
Hi @gary918 I am trying to reproduce this on my local machine. Thanks for your patience.

[2021-08-31 17:36] MonikaReddy-MSFT commented on #80143
@Ticozolano74 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-31 17:36] #80143 closed

[2021-08-31 17:37] MonikaReddy-MSFT commented on #80330
@krishna707patel - Thank you for your question.
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-31 17:38] JamesTran-MSFT commented on #80423
@mmaitre314
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-31 17:43] asergaz commented on #80328
Hi @gary918 I am trying to reproduce this on my local machine. Thanks for your patience.

[2021-08-31 17:43] SamaraSoucy-MSFT commented on #80354
I have assigned the issue to the doc author to update appropriately.

[2021-08-31 17:51] MGodfrey50 opened #80424 "Label and screen shot have changed"
The manage multiple workspaces  is now called "View Incidents" - the screen shot is out of date.

Regards,
MG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 294ac28e-49b0-0ba7-d894-8e3d8b20a7ba
* Version Independent ID: dc4cb3a3-d712-824f-f49c-02a79ceb9eee
* Content: [Work with Azure Sentinel incidents in many workspac

[2021-08-31 17:53] netapp-bcammett opened #80425 "Disk encryption set"
This page doesn't describe what a disk encryption set is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74498b4e-35a0-c63b-6b67-3cbe0cf9d555
* Version Independent ID: bb34519d-8f56-3d89-ae30-10cc59d712b7
* Content: [Azure portal - Enable customer-managed keys with SSE - managed disks - Azure Virtual Machines](https://

[2021-08-31 17:54] VikasPullagura-MSFT commented on #80342
@easkay-castlight The document is updated now.

[2021-08-31 17:54] #80342 closed

[2021-08-31 17:59] guyinagit commented on #56924
Does any one have the link to the new issue referenced above?
When we reached out to MS Support on this issue, we were told that it is as per the current design and there is no immediate plans to address this for storage accounts behind firewall.
Not sure why MS has not addressed this obvious requirement

[2021-08-31 18:01] tfitzmac commented on #79296
@scottgorlick - thanks for this feedback. I have clarified in the docs that the providers function has been deprecated. Using this function to dynamically get an API version can break a template.

The update should get published later today.
#please-close

[2021-08-31 18:01] #79296 closed

[2021-08-31 18:03] rolyon commented on #78920
Hi @twofingerrightclick
Thanks very much for your detailed feedback. We've updated the doc with this info. It should appear later today.
Let us know if you have any additional feedback.
thanks

[2021-08-31 18:03] rolyon commented on #78920
#please-close

[2021-08-31 18:03] #78920 closed

[2021-08-31 18:04] HarshitaSingh-MSFT commented on #80424
Hello @MGodfrey50 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-31 18:07] YuriySamorodov opened #80426 "RoleAssignmentRequestPolicyValidationFailed"
It looks like role assignment does not work with ```Open-AzureADMSPrivilegedRoleAssignmentRequest``` as described in the article:
https://docs.microsoft.com/en-us/powershell/module/azuread/open-azureadmsprivilegedroleassignmentrequest?view=azureadps-2.0-preview

I am constantly getting the following errors when running commands below:
[code]
[code]

- When submittng a request of ```Active``` type:

[2021-08-31 18:22] luisquintanilla commented on #78809
@likebupt can you please take a look at @powertrio77 response.

[2021-08-31 18:23] genesis-barrios commented on #80389
@MayankBargali-MSFT Thank you for the information. In the Azure Portal Logic App I don't see the Automation --> Export Template feature. My triggers and actions I'm using are straight from the code editor

[2021-08-31 18:23] MarileeTurscak-MSFT commented on #80316
Do you have a screenshot of the error you are seeing? When did this start occurring? Were the users able to access the site before but suddenly cannot?

[2021-08-31 18:23] ChaitanyaNaykodi-MSFT commented on #80202
Hello @bobsyourmom,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-31 18:25] luisquintanilla commented on #79249
@sunnyhay did the suggestion from @trangevi unblock you?

[2021-08-31 18:26] megaryt commented on #58372
I am having this same issue. We are setting up Sharefile for the first time and I don't really want to have to create users individually or have a secondary directory.

[2021-08-31 18:27] MicrosoftGuyJFlo commented on #80313
#please-close

[2021-08-31 18:27] #80313 closed

[2021-08-31 18:34] hpsin commented on #80230
#please-close

[2021-08-31 18:34] #80230 closed

[2021-08-31 18:36] ryanmcnamara opened #80427 "3 superscript when 2 superscript should be used"
![image](https://user-images.githubusercontent.com/3452559/131557553-ade976dc-ddf0-4d51-a319-44f249c41a8b.png)
standard_vs2_v3 has a 3 superscript, I believe it should have a `2` superscript

docs page: https://docs.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-08-31 18:38] Briwalkr opened #80428 "Permission Requirements"
this page needs to list the required permissions needed in order to query the data in a .parquet file. Synapse's convoluted permission structure makes it difficult to find where a permission is missing for the errors provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7770a017-f3de-4ffb-fbe1-7f673e46b9f6
* Version

[2021-08-31 18:56] Klaas- opened #80429 "Improve wording about selinux support"
Hi,
the wording in:
https://docs.microsoft.com/en-us/azure/azure-monitor/agents/agent-linux#supported-linux-hardening
invites the microsoft support to state that selinux is unsupported, which is incorrect. I think the unsupported line should be changed to something like "custom selinux hardening like MLS" and maybe add something like "selinux (RHEL/CentOS defaults)" to the supported part

Referenc

[2021-08-31 19:31] Ayanmullick commented on #80376
@VikasPullagura-MSFT , Thank you for looking into this. It worked. It could be useful to others if the steps were in the linked document as well.

[2021-08-31 19:36] ssivas commented on #80334
Hello @Kenneth-Lindgren,

Thanks for reaching out.

The least privileged role would be **[Guest Inviter](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#guest-inviter)**. In addition to that these build-in roles also does provides way to manage guest users.
- [User Administrator](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference

[2021-08-31 19:36] #80334 closed

[2021-08-31 19:36] #80417 closed

[2021-08-31 19:37] ssivas commented on #71825
Apologize for delayed response.

The least privileged role would be **[Guest Inviter](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#guest-inviter)**. In addition to that these build-in roles also does provides way to manage guest users.
- [User Administrator](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#user-administrator

[2021-08-31 19:39] JNORMANAZ opened #80430 "Two issues with the example I found"
First, this piece of code generates a 0 byte file, but does put it in the right place.

Your code:

static async Task SynthesizeAudioAsync()
{
    var config = SpeechConfig.FromSubscription("<paste-your-speech-key-here>", "<paste-your-speech-location/region-here>");
    using var audioConfig = AudioConfig.FromWavFileOutput("path/to/write/file.wav");
    using var synthesizer = new SpeechSynthesize

[2021-08-31 19:42] JNORMANAZ commented on #80430
I did realize I made a mistake by using sub id instead of key (friendlier error message would be an improvement) but key did not work either.

[2021-08-31 19:54] JNORMANAZ commented on #80430
It might be technical difficulties because "westus" with API key did work.
I still think an example with an obfuscated key  SpeechConfig.FromSubscription("xxxxxx6e63b14877ab7c754861xxxxxx", "westus");
would have made this quickstart MUCH quicker.   Thank you though for providing it... it's really cool so far.

[2021-08-31 19:56] #79533 closed

[2021-08-31 20:17] #37269 closed

[2021-08-31 20:17] BharathNimmala-MSFT commented on #80419
@marcelkmfst Thank you for reaching out with your query, we will review it and get back to you at the earliest.

[2021-08-31 20:21] BharathNimmala-MSFT commented on #80429
@Klaas- Thanks a lot for taking time to share your feedback to improve our documentation, we will review the feedback with our internal team and update the document accordingly.

[2021-08-31 20:29] SaurabhSharma-MSFT commented on #80239
@lpamulagit We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-31 20:29] #80239 closed

[2021-08-31 20:30] bwren commented on #54298
Obviously long overdue, but we retired this article and forwarding to the ARM articles for creating workspaces.

#please-close

[2021-08-31 20:30] #54298 closed

[2021-08-31 20:58] bwren commented on #71533
Sorry for the late reply but finally getting to this. Going to add a note to the article to cover this.

#please-close

[2021-08-31 20:58] #71533 closed

[2021-08-31 21:01] bwren commented on #61061
Article has been retired.

#please-close

[2021-08-31 21:01] #61061 closed

[2021-08-31 21:07] hpsin commented on #80420
@danimacho72 - well spotted, thanks! Think it'll be ok if we update it to say "With OIDC, it's used to perform..." ? We do generally suggest/by default recommend using OIDC on top of our oauth protocols where possible.  In particular, this is the auth code flow which always has a user present.

[2021-08-31 21:10] Tony-Sun-MANU opened #80434 "Receiving messages from Azure Service Bus queues in peek-lock mode"
Hello developers/engineers at Microsoft!

I am trying to follow the sample code in this page to receive message from Service Bus, and I prefer to use peek-lock mode. I did not see on this page how to set the peek-lock mode, so I went through the code and created processor client in this way:

    ServiceBusProcessorClient processorClient = new ServiceBusClientBuilder().connectionString(queueConnec

[2021-08-31 21:13] tomcam opened #80435 "--name AzureFunctionsQuickstart-rg not clear enough"
Your docs are so good that occasional misses stand out more. Starting under https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#create-supporting-azure-resources-for-your-function you'll see this example:

`az group create --name AzureFunctionsQuickstart-rg --location <REGION>
`
So many questions.

- I'm pretty sure that AzureFunc

[2021-08-31 21:14] YutongTie-MSFT commented on #80295
@shivp950 Hello Shivani, could you please check on this issue and update the document? Thanks.

[2021-08-31 21:16] mmacy commented on #80308
@AyushKumar85 Thanks for the notification on this! The typo has been fixed in https://github.com/MicrosoftDocs/azure-docs-pr/commit/320f206c07f52b4d476f7b2617e97fb829d0e154.

[2021-08-31 21:23] JnHs commented on #79989
Hi #cgp-dwolfe, thank you taking the time to share your feedback and request. I have passed this message along to our product team for their consideration.
I'm going to close this issue now as it does not appear that a documentation update is needed, but please let me know if you have further feedback. Thank you!
#please-close

[2021-08-31 21:23] #79989 closed

[2021-08-31 21:24] cgp-dwolfe commented on #79989
Thanks.

From: JH ***@***.***>
Sent: Tuesday, August 31, 2021 2:24 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Donald Wolfe ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Linux diagnostic files can not be uploaded because the are typically larger than 4 mb and have a .gz extension. (#79989)

Hi #cgp-dwolfe, thank you taking the time to share your feedback and reque

[2021-08-31 21:24] PRMerger19 commented on #79989
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-31 21:25] bwren commented on #59997
Added note to the article.

#please-close

[2021-08-31 21:25] #59997 closed

[2021-08-31 21:26] tony1111111111111 commented on #80149
Hi. Are you sure that Azure AD Connect has to be installed on Windows Server 2016 though? And that Password Writeback requires a domain controller running winsrv2k16 as well?

[2021-08-31 21:46] Oury-MSFT commented on #80132
Sorry for the miscommunication. Let me know if you need anything from our end. Thanks

[2021-08-31 22:03] AlyaKoni opened #80436 "Per-user access not reflected in Architecture recommendations"
The page "Architecture recommendations" states:
Azure Virtual Desktop doesn't currently support external identities, including business-to-business (B2B) or business-to-client (B2C) users.

This statement is not taking into account the new per-user access license for external users. Please provide correct architecture considerations for the per-user access for external users. Or is per-user access

[2021-08-31 22:07] MarileeTurscak-MSFT commented on #80405
Thanks! I made a pull request to update this page. https://github.com/MicrosoftDocs/azure-docs-pr/pull/170994

@billmath please review.

[2021-08-31 22:07] #80405 closed

[2021-08-31 22:27] femsulu commented on #80403
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 22:30] anthfuller opened #80438 "Overview of blob rehydration from the archive tier"
Word used wrong in sentence:
"Rehydrating a blob from the archive tier with can take several hours to complete. Microsoft recommends rehydrating larger blobs for"

https://docs.microsoft.com/en-us/azure/storage/blobs/archive-rehydrate-overview?tabs=azure-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad1be335-4f

[2021-08-31 22:30] femsulu commented on #80412
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-31 22:32] tomcam opened #80439 "Unable to determine region code. Example or pointers required"
I'm trying to deploy my Azure function on a site I  inherited. At the page
[https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#create-supporting-azure-resources-for-your-function](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#create-supporting-azure-resourc

[2021-08-31 22:34] YutongTie-MSFT commented on #80298
@nibaccam Hello Nina, I don't see how to unlink a workspace is mentioned. Is there any way we can do it?

[2021-08-31 22:41] nibaccam commented on #80298
@YutongTie-MSFT  I've reached out to the product team for help with this one. I'll post here once I learn more.

[2021-08-31 22:42] ahofman opened #80441 "How to configure outputFieldMappings to fields in complex types in the search index?"
It is unclear how, or if it is even possible, to configure an outputFieldMapping to a field on a complex type in the search index.

For example, if my search index has a complex type called Foo, which has a string field in it called Bar, how do I map to that field?

I have tried the following without success:
[code]

In each case I can't save the JSON because it says the target field name is inval

[2021-08-31 22:49] YutongTie-MSFT commented on #33177
@nikhilnaregal Please refer to this : https://github.com/Azure-Samples/cognitive-services-python-sdk-samples/issues/56

[2021-08-31 22:49] YutongTie-MSFT commented on #80298
Thanks a lot.

[2021-08-31 22:55] JnHs commented on #79853
Hi @robwe - thanks for your patience. On investigating further, the Object ID can vary, though the Application ID is always the same one noted in the document. I've updated the instructions to remove the Object ID. Thank you so much for bringing this to our attention!
I'm going to close this issue now, but please let me know if you have additional feedback or questions.
#please-close

[2021-08-31 22:55] #79853 closed

[2021-08-31 23:01] tomcam opened #80442 "Do resource group names need to be capitalized?"
The text "Create a resource group named AzureFunctionsQuickstart-rg" gave rise to another question. Is scoping like in Go, where I must start with a capitalized first letter to make it globally viewable to the Azure runtime or whatever? Or is it like the cmd shell, in which case azureFunctionsQuickstart-rg and AzureFunctionsQuickstart-rg would work the same?

---
#### Document Details

⚠ *Do not e

[2021-08-31 23:02] h2df commented on #34930
Hi just wondering if this is still the case in 2021.
Personally I find it difficult to think of any property in reality that's guaranteed never to be changed other than the uid...
Just to be clear, I mean to update the value of the property specified as parition key, not the partion key path itself.

[2021-08-31 23:50] veyalla opened #80443 "Please add EOL information for v1.1"
For completeness ,

- Please add information about when v1.1 goes out of support.
- Recommend new customers consider EFLOW on Windows hosts since Windows containers will not be supported v1.2 onwards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a51ce61-e530-1794-b76d-23040b2c46d4
* Version Independent ID: b07d1fff-1

[2021-08-31 23:50] veyalla commented on #80443
FYI @kgremban

[2021-09-01 00:53] ElanShudnow opened #80444 "Article missing explanation of one scenario"
This article is very well done.  But I feel like there's one solution missing.  If you look at the 2nd solution, it talks about having an on-premises network use a DNS Forwarder in Azure using server level forwarding.  But in that same on-premises scenario, it then also talks about using a conditional forwarder if you already have a custom on-premises DNS solution.

The last scenario talks about a

[2021-09-01 01:16] SatishBoddu-MSFT commented on #80407
Hello @tarunmcom
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-01 01:20] jeffmend commented on #80380
@Infinitism - The rewards behave no differently for sum or earliest in multi-slot vs. single slot.  the only difference in the reward call is identifying the slot the reward is for.

I will review to documentation to see if I can remedy any confusion.    Is there something specifically that made you question this?  or the lack of specific call out that sum and earliest behave in the same way?

[2021-09-01 01:33] SamaraSoucy-MSFT commented on #80442
Thanks for the question! We will review and get back to you shortly.

[2021-09-01 01:35] SamaraSoucy-MSFT commented on #80435
Thank you so much for the kudos! Let me check on this and I will get back to you shortly.

[2021-09-01 01:35] SamaraSoucy-MSFT commented on #80439
Thanks for the question! We will review and get back to you shortly.

[2021-09-01 01:36] SamaraSoucy-MSFT commented on #80434
Thanks for the question! We will review and get back to you shortly.

[2021-09-01 01:43] SamaraSoucy-MSFT commented on #80442
From the Azure side, capitalization doesn't matter. Whatever you use when you create the group is what will be assigned as the name, but after that you can use 'azureFunctionsQuickstart-rg' or 'AzureFunctionsQuickstart-rg' and both would resolve to the same group.

[2021-09-01 01:46] superstandy opened #80445 "Missing value for one parameter which will cause the installation be failed."
helm install nginx-ingress ingress-nginx/ingress-nginx \
    --create-namespace --namespace $NAMESPACE \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."kubernetes\.io/os"=linux \
    --set controller.image.registry=$ACR_URL \
    --set controller.image.image=$CONTROLLER_IMAGE \
    --set controller.image.tag=$CONTROLLER_TAG \
    --set controller.image.digest="" \
    --s

[2021-09-01 01:47] xuegao112 opened #80446 "Surface hub not support proxy server"
Could you please add some special note in the proxy setting part in case any confusion:
https://docs.microsoft.com/en-us/surface-hub/prepare-your-environment-for-surface-hub#:~:text=do%20not

It's not easy for cx to acknowledge this non-support sceanrio.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fab35792-13ac-5fc9

[2021-09-01 01:49] maliksahil commented on #78868
The associated article has been updated. The instructions around certificate were slightly unclear. Please try again and let us know if this is still an issue.

[2021-09-01 01:50] maliksahil commented on #78868
#please-close

[2021-09-01 01:50] #78868 closed

[2021-09-01 01:55] SamaraSoucy-MSFT commented on #80435
I'm not sure what you mean about AzureFunctionsQuickstart being a user-defined name- could you clarify what you are looking for a little bit?

For the `-rg` suffix, that is a naming convention that's often used to help keep track of resource types when different resources have similar names. For example I might have 'samara-rg', which then contains 'samara-vm' and 'samara-ip'. Those could all have

[2021-09-01 02:07] SamaraSoucy-MSFT commented on #80439
Hopefully this will help with a few of the names. I'll put in an update to the doc to make it more explicit which property you need:

"name" is the one you are looking for when setting the location in CLI commands.
"displayName" is what you will see when looking at resource groups in places like the Azure portal.
"pairedRegions" is used in things like [disaster recovery and updates.](https://docs.

[2021-09-01 02:12] BharathNimmala-MSFT commented on #80446
@xuegao112 Thank you for reaching out to us with your feedback, are your referring to have a note as below ([as an example from the same doc](https://docs.microsoft.com/en-us/surface-hub/prepare-your-environment-for-surface-hub#device-affiliation)) so that Cx's can easily find it ?

![image](https://user-images.githubusercontent.com/45180002/131600401-9cd8e2d5-7578-4165-b4fc-a900269920e3.png)

[2021-09-01 02:15] xuegao112 commented on #80446
Hi team,

Yes it is. As aN OMS expert, for this rarely touch topic (Surface Hub with MMA) usually we will reference the log analytics agent document, and will miss this part - proxy will not support.

Best Regards,
XUE

From: BharathNimmala-MSFT ***@***.***>
Sent: 2021年9月1日 10:12
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Anna Gao ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/a

[2021-09-01 02:43] gsxmax opened #80447 "Please correct the document"
According to the AKS release 07-22. https://github.com/Azure/AKS/releases/tag/2021-07-22
Cluster autoscaler will now enforce the minimum count in cases where the actual count drops below that. For example, Spot eviction or changing the minimum count value from the AKS API. In the past, the autoscaler operated and respected the minimum count but never interfered to enforce it if external factors af

[2021-09-01 02:52] KranthiPakala-MSFT commented on #80428
@Briwalkr
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

Hi @julieMSFT - Could you please review the above doc enhancement feedback - Thank you.

[2021-09-01 03:25] sb1975 opened #80448 "Create a VM in the same Azure Virtual Network (VNet) as the AKS cluster need elaboration."
[Enter feedback here]
Steps for below need to be elaborated -
Create a VM in the same Azure Virtual Network (VNet) as the AKS cluster.

Simply creating a VM does not work, it cant reach API server with the default kubeconfig file.
Please specify if the API server address needs to be changed in the kubeconfig file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-09-01 03:56] VikasPullagura-MSFT commented on #80427
@ryanmcnamara Thanks for the Feedback. We will check and update the document accordingly.

[2021-09-01 03:57] VikasPullagura-MSFT commented on #80436
@AlyaKoni
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-01 03:57] VikasPullagura-MSFT commented on #80436
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2021-09-01 04:10] GiftA-MSFT commented on #80430
@JNORMANAZ we'll review your feedback and get back to you shortly. Thanks.

[2021-09-01 04:14] SrijitBose-MSFT commented on #80445
@superstandy , Thank you for your feedback. We understand that there has been a breaking change that was identified and the current workaround is as you mentioned.
Similar issues:
#80321
https://stackoverflow.com/a/68978697/16169604

We are sharing this feedback with the content author(s). This should now be visible in their backlog.

[2021-09-01 04:16] SrijitBose-MSFT commented on #80447
@gsxmax , thank you for your feedback! We are sharing the same with the content author(s). This will be updated soon.

[2021-09-01 04:58] tomcam opened #80449 "os-type linux???"
This example code in step 5 under `https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#create-supporting-azure-resources-for-your-function` doesn't address the elephant in the room. `os-type linux`? Really? Not `windows` or `azure` or something? This feels like a copy/paste error but since it's not explained I don't know what to d

[2021-09-01 05:00] v-amallick commented on #79577
@zahraasaleh: Sorry for the delay in replying. The “Deny public network access” should not be set to “Yes”, else you will be unable to set “Allow access to Azure services set” to “Yes”.

Thanks for bringing it to our notice. We are updating the document and the update will reflect soon.

I am closing the incident now. Please let us know if you have more queries.

#please-close

[2021-09-01 05:00] #79577 closed

[2021-09-01 05:06] Svijay-msft commented on #80360
@nabhishek - Can you please validate feedback and update doc as appropriate?

[2021-09-01 05:09] tomcam commented on #80439
Well well well. I guess I'm SUUUUPER HAPPY because the Sarcasm Queen of the Year actually answered me. Whoopdee friggin' do! Srsly, thanks for the amazingly quick response. These docs are a thing of beauty. And unlike some people on this or other platforms, I'M NOT BEING SARCASTIC, seeing as how I was once a former winner of the "Aw Shucks Sincere Dude of the Week" award back in the '90s. I don't

[2021-09-01 05:09] #80439 closed

[2021-09-01 05:11] thiagobeier opened #80450 "command not working"
[Enter feedback here]

the command
$Setting = Get-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unified" -EQ).id

does not work
fix

$setting = (**Get-AzureADDirectorySetting** | where -Property DisplayName -Value "Group.Unified" -EQ)
$template = **Get-AzureADDirectorySettingTemplate** -Id 62375ab9-6b52-47ed-826b-58e47e0e304b
$setting = $templ

[2021-09-01 05:14] AjayKumar-MSFT commented on #80176
PaulVrugt, Thanks for the follow-up.  Apologies for any confusion, yes I'd shared info about Azure Functions for comparison and background info.
A webjob using the webjob SDK should be deployed as a continuous webjob.
Usually you'll host the [WebJobs SDK ](https://github.com/Azure/azure-webjobs-sdk#azure-webjobs-sdk)(framework) in Azure WebJobs, but you can also run your jobs in a Worker Role. So

[2021-09-01 05:14] #80176 closed

[2021-09-01 05:19] SumanthMarigowda commented on #80425
@netapp-bcammett Thanks for the question! We are investigating and will update you shortly.

[2021-09-01 05:19] docgregt opened #80451 "Not Supported by Python SDK"
Please annotate this page that 'group by' is not supported by the Python SDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1053c8e-5ce2-c3b4-0aae-576823d19186
* Version Independent ID: aa7efcaf-f0fe-34e5-e43b-324e5f3d6432
* Content: [GROUP BY clause in Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-d

[2021-09-01 05:19] SumanthMarigowda commented on #80438
@anthfuller Thanks for the question! We are investigating and will update you shortly.

[2021-09-01 05:23] SadiqhAhmed-MSFT commented on #80256
@noplatecatcher Please file a support case, so this can be investigated further. Because what you describe above should not be happening. Let me know if you've any limitations creating a support ticket.

[2021-09-01 05:24] SumanthMarigowda commented on #80042
@jolauMSFT Apologies for the delay response! We are working on it and it will be available very soon, presently I don't have ETA, You can keep a track on [Azure updates ](https://azure.microsoft.com/en-in/updates/)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen t

[2021-09-01 05:24] #80042 closed

[2021-09-01 05:27] SumanthMarigowda commented on #80247
@diberry  Firstly, apologies for the delay in responding here!  Your feedback has been shared with the content owner for further review.

[2021-09-01 05:29] psmanhas commented on #80441
@ahofman Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-01 05:30] SumanthMarigowda commented on #80312
@ketaanhshah Thank for reaching out. Since this channel is for driving improvements towards MS Docs, I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We wi

[2021-09-01 05:30] #80312 closed

[2021-09-01 05:30] krisbock opened #80452 "Slight typo in code sample"
Existing code sample
[code]
Last line should be:
[code]
Users copy/pasting will encounter :
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9415d8d-a30c-42f9-989c-c7b3a79d7108
* Version Independent ID: b7b8ae97-1801-42b1-431e-c96ca5e958f7
* Content: [Create client for model deployed as web service - Azure Machine

[2021-09-01 05:34] psmanhas commented on #80426
@YuriySamorodov Thank you for your query!!!

Can you help us understand which documentation you are referring to which will enable us to help you better?

Thanks

[2021-09-01 05:35] psmanhas commented on #80443
@kgremban Can you please check and add your comments on this doc update request as applicable

[2021-09-01 05:37] psmanhas commented on #80444
@ElanShudnow Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-01 05:42] BasavarajGM commented on #79748
Hi @HarshitaSingh-MSFT @johndeu,

We have the Apple FairPlay Certificate. In the Developer Program, they have provided SDK and code for implementation on the ClientSide(MobileApp).

We wanted the snippet for Configuring the Certificate for Creating Content Key Policy with the FairPlay encryption using NodeJS.

Thanks

[2021-09-01 05:42] tomcam opened #80453 "az functionapp create: Python not supported?"
I believe step 5 under [https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#create-supporting-azure-resources-for-your-function](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-python?tabs=azure-cli%2Cbash%2Cbrowser#create-supporting-azure-resources-for-your-function) may be unworkable.

I wanted t

[2021-09-01 05:45] tomcam commented on #80453
Nope.  This command:

`az functionapp create --consumption-plan-location westus --runtime dotnet --functions-version 3 --name challenge --os-type windows`

Returned the error:

`Operation returned an invalid status 'Conflict'`

[2021-09-01 05:52] ggailey777 commented on #80453
1. Python isn't supported on Windows, we should probably make this more clear.
2. Do you get that same .NET error on Windows in another region?

[2021-09-01 05:54] Sharmistha-Rai commented on #80391
@mikecowie-seequent - please let the engineer know of this thread. May be they are referring to some other scenario. For replicating data from an Azure machine to another Azure machine, the churn is in Bytes, not bits.

[2021-09-01 06:10] SadiqhAhmed-MSFT commented on #80225
@sidprasher
•	Is there a way to know the allocated blobs at the time of vault creation?
        _No, the storage allocation is not done during vault creation._

•	Also does these allocated resources change over time.
        _Though not very frequently, but the allocated storage may change over time._

[2021-09-01 06:12] shashishailaj commented on #80448
@sb1975 Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 06:13] shashishailaj commented on #80450
@thiagobeier Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 06:29] tomcam commented on #80453
I get the `Operation returned an invalid status 'Conflict'` error when I correct it to use Linux, when I try using Python 3.8 as shown in the tutorial, and when I use other regions, including `westeurope` as shown in the tutorial. Here are sample invocations that return it:

`az functionapp create --consumption-plan-location westeurope --runtime python --runtime-version 3.7  --functions-version 3

[2021-09-01 06:35] mercer opened #80455 "Update dig command"
The referenced dig command did't work for me. Here is one that worked. I'm on ubuntu based pop os 20.04

This one does not work:

```dig @resolver1.opendns.com ANY myip.opendns.com +short```

This one works (updated for pwsh compatibility):

```dig +short "myip.opendns.com" "@resolver1.opendns.com" ```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-09-01 06:39] psmanhas commented on #80455
@mercer Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-01 06:41] VikasPullagura-MSFT commented on #80376
@Ayanmullick Thanks for the Feedback, tagging the doc author so that this will be included by GA time.

@khyewei Please consider this feedback to have powershell examples included in the document.

[2021-09-01 06:41] #80376 closed

[2021-09-01 06:48] KranthiPakala-MSFT commented on #80403
Hi @afritz68,

Is this an account created after 8/18/21 or before as the role assignments have changed from IAM store to Purview Studio (collections). So the recommendation is to make that service principal a collection admin at the root collection. This doc explains how to assign that data plane role.

MS doc: https://docs.microsoft.com/azure/purview/how-to-create-and-manage-collections#add-roles

[2021-09-01 06:55] tomcam opened #80456 "--force needed in step 1 at "Create a local function project""
I believe Step 1 [Create a local function project](https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-cli-csharp?tabs=in-process%2Cazure-cli#create-a-local-function-project)  requires a `--force`, like this:

`func init LocalFunctionProj --dotnet --force`

Without it this error occurs:

`Rerun the command and pass --force to accept and create.

Error creating project temp

[2021-09-01 07:09] buswrecker opened #80457 "Docs needs to be updated to CLI2.0 - az ml workspace share (V1) has been deprecated"
[Enter feedback here]
A customer could not follow the documentation as 'share' is not available in az ml CLI 2.0

The documentation needs to be updated to reflect the new way of assigning custom roles in AzureML.

Many thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca3ea12-4f8c-72e4-4703-ea2ef9dcee0f
* Version

[2021-09-01 07:23] ggailey777 commented on #80456
You can also just delete the directory or use a different one. The quickstart assumes you start from a clean/new directory.

[2021-09-01 07:29] tomcam commented on #80456
It was a clean/new directory, which surprised me.

On Wed, Sep 1, 2021 at 12:23 AM Glenn Gailey ***@***.***>
wrote:

[2021-09-01 07:30] tomcam commented on #80456
Cannot reproduce. Sorry for bothering you.

[2021-09-01 07:30] #80456 closed

[2021-09-01 07:31] jonasaebersold commented on #80136
Hi

Do you have any updates to this? Hier two screenshots of the things I already checked.

![image](https://user-images.githubusercontent.com/1005903/131624801-6440b975-4f07-4f50-8e14-256fa01f974f.png)

![image](https://user-images.githubusercontent.com/1005903/131626983-53bf0bf4-a47c-4f5a-a965-150d0ff585bd.png)

Kind regards

[2021-09-01 07:35] Klaas- opened #80458 "Add examples for linux users"
Hi,
I would like to see that this page adds examples using the azure cli, currently only powershell examples are given.
The check if I am running legacy api seems to keep popping up in my support cases but I keep forgetting the az rest syntax :)

So each example that uses powershell or armclient should be extended to have something for az-cli like this:
`az rest --method get --url /subscriptions/<

[2021-09-01 07:35] AnuragSharma-MSFT commented on #80255
@PratibhaBeniwal Could you please validate if the firewall rules are added to Azure Cosmos account? Also please check if ports are configured properly as mentioned in the document.

[2021-09-01 07:38] KrishnaG-MSFT commented on #80458
@Klaas- Thanks for the feedback.
Assigning @yanivlavi for visibility, review and document enhancement consideration as appropriate.

[2021-09-01 07:42] mercer opened #80459 "az aks update api-server-authorized-ip-ranges replaces, it doesn't append"
Documentation claims that

```The above example appends the API server authorized IP ranges on the cluster. To disable authorized IP ranges, use az aks update and specify an empty range "".```

However, I found that `az aks update --api-server-authorized-ip-ranges` actually replaces all existing ip addresses. Here is a test:

[code]

---

#### Document Details

⚠ *Do not edit this section. It is r

[2021-09-01 07:49] PaulVrugt commented on #80176
@AjayKumar-MSFT

Hello AjayKumar-MSFT,

thank you for the quick reply!

I understand now how the WebJob SDK should be used, but to be honest, you haven't answered my question. Since my WebJob is a continuous Web Job that doesn't use triggers, I don't think (taking from your explanation of the webjob sdk) I can use the WebJob SDK (we have our own mechanism built into the WebJob that determines when

[2021-09-01 07:49] psmanhas opened #80461 "Azure sql VM building always-on"
Posting on behalf of a customer
Microsoft has a guidelines on SQL Server on Azure VM best practice. About network . any consideration for Always-on , need to have two nic (another one for endpoint)...? the best practice not mentioned .

![127714-image](https://user-images.githubusercontent.com/35990743/131633207-a8853607-0e55-4f53-bd43-25f04d5b797b.png)

---
#### Document Details

⚠ *Do not edit t

[2021-09-01 07:50] psmanhas commented on #80461
@dplessMSFT Can you please check and add your comments on this doc update request as applicable

[2021-09-01 07:53] tomcam opened #80462 "Can't compile: Seems to require Microsoft.NET.Sdk.Functions"
When I compile using either Visual Studio Professional or the command line I get the error `NU1101: Unable to find package Microsoft.NET.Sdk.Functions. No packages exist with this id in source(s): Microsoft Visual Studio Offline Packages`. Based on https://www.nuget.org/packages/Microsoft.NET.Sdk.Functions/ I tried this:

`dotnet add package Microsoft.NET.Sdk.Functions --version 3.0.13`

And got t

[2021-09-01 07:55] ggailey777 commented on #80462
When you do `func unit` you should get a properly configured C# project.

[2021-09-01 07:56] kjebu opened #80463 "Nudge is not given if Microsoft Authenticator is configured but not set as default method"
[Enter feedback here]
We have started using the "nudge" functionality, but found it lacking in one situation:
A user has configured "Microsoft Authenticator", but have not chosen this as the default mfa method.

In this situation the user is not given a nudge to perform the change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-01 08:05] Harold12138 opened #80464 "unable to access ADLS Gen 2.0 from databricks notebook using credential pass-through"
[Enter feedback here]

Symptom:
Trying to experiment Azure AD pass-through credential to access ADLS Gen 2.0
Folloing doc: https://docs.microsoft.com/en-gb/azure/databricks/security/credential-passthrough/adls-passthrough

User configured in cluster creation and run the notebook are both my own AD account.
I'm able to upload/download the data to ADLS container using azcopy, and have blob contribut

[2021-09-01 08:17] tomcam commented on #80462
Can you point me to docs for that? Tried to invoke it as shown and just got
a general help message. I can't find docs for func unit. I've tried things
like:

C:\> func | find "unit"

And web searches like:
https://docs.microsoft.com/en-us/search/?scope=Azure%20CLI&view=azure-cli-latest&terms=unit

https://www.bing.com/search?q=%22func+unit%22+%22azure+function%22

But just not finding anything.

O

[2021-09-01 08:22] ggailey777 commented on #80462
`func` isn't part of Azure CLI, it's a separate API https://docs.microsoft.com/azure/azure-functions/functions-core-tools-reference?tabs=v2

[2021-09-01 08:24] jonwrobson commented on #19456
I recognise there is extra cost but you could create your own agent in a vnet that has access to your storage account. It can be isolated and under your control.

Hope that helps someone.
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/pools-queues?view=azure-devops&tabs=yaml%2Cbrowser

[2021-09-01 08:27] tomcam commented on #80462
Wait do you mean func init?

On Wed, Sep 1, 2021 at 1:22 AM Glenn Gailey ***@***.***>
wrote:

[2021-09-01 08:30] tetsuyasodo opened #80465 "AzureAD must be described for service endpoint GA list"
I believe that AzureAD is supported for service endpoint but it can't be found in "General available" list.
Instead ADLS is listed though its resource type name is Microsoft.AzureActiveDirectory.
If this is a document bug, please modify this line.

Best regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1eb0407d-f

[2021-09-01 08:32] yellowhat commented on #19456
It is the added complexity that hinders the speed of using the cloud.
What if I am deploying from scratch (so no vnets) or am I createing a new one?

[2021-09-01 08:36] eligne-pro commented on #19456
And this is the difference between IaaS and SaaS. IaaS means that we (as a customer) have to design our solution, deploy it, maintain it, supervise it, and assume the cost as well as the cyber risks.
We could also have a big VM with TFS (or jenkins ?) installed in it ;)

[2021-09-01 08:37] YuriySamorodov commented on #80426
Hi @psmanhas, sorry for the confusion I am talking about an article
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles
And the section below specifically:
https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/powershell-for-azure-ad-roles#assign-a-role

[2021-09-01 08:41] Jiihaa opened #80466 "Azure CLI script is broken"
The module 'Microsoft.Powershell.DSC' has changed name, so name -parameter in Azure CLI sample should be just DSC, not Microsoft.Powershell.DSC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 627bf595-d3a1-bbdd-b045-b6c4a580fdb3
* Version Independent ID: 529fbe9a-c711-c1a0-5697-5853b1e51071
* Content: [Desired State Con

[2021-09-01 08:50] jonwrobson commented on #19456
Lots of people here are using the storage for terraform state, so they are creating infrastructure and managing it with state. Creating an agent pool in a vnet is quick, just did it in fact and I am up and running. Might just help someone, that's all. ;)

[2021-09-01 08:52] ggailey777 commented on #80462
When you run `func start` locally it should compile your project locally and run. The basic steps are: 1) create a local project using `func`, 2) create azure resources using Azure CLI, and 3) publish project to Azure using `func`.

[2021-09-01 08:54] jarinirv opened #80467 "Dynamic device group parameters"
[Enter feedback here]
Pretty new with Intune but based on my experience there is at least one more value for Device attribute 'managementType'. If Android device is enrolled as 'Android Enterprise' the value will be "GoogleCloudDevice". This can be verified via feature 'Validate Rules (Preview)' within Intune. But my biggest concern is devices that are 'Corporate-owned, fully managed user devices'

[2021-09-01 08:59] eligne-pro commented on #19456
The issue we are facing in our project is that, for this, we have to manage the DevOps-related infrastructure out of terraform (creation of the vNet, VM etc), which we don't want. Because the 'first step' in our terraform deployments is to create the basic private infrastructure so that upper deployments can be made by a ADO agent in the private infra, with a private link to the storage with the t

[2021-09-01 09:08] PaulVrugt opened #80468 "More details on how to customize language analyzers"
The documentation doesn't state that language analyzers behave differently from other analyzers. I have searchable fields that use a language analyzer, and I was looking to add phonetic and asciifolding token filters to the fields, but it doesn't seem possible to retain the capabilities of the language analyzers and add the extra token filters. Some examples on how to configure language analyzers

[2021-09-01 09:16] shashishailaj commented on #80463
@kjebu Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 09:17] shashishailaj commented on #80467
@jarinirv Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 09:21] manishjha2088 opened #80469 "The screenshot attached are not correct"
[Enter feedback here]

If we look closely the screenshot for both Primary and the secondary shows the DB is created in the US East Region, which does not seem correct. though you have the line "Location: Choose a location from the drop-down, such as East US. This location can't be the same location as your primary server" But the screenshot for secondary also shows East US.  Maybe you could have i

[2021-09-01 09:34] dlahmad commented on #80321
The tags are correct and even with the workaround it fails. I get the same error as before.

Even trying
[code]

as advised in the post, just yields to another error:

[code]
and I cannot fix this even by doing
[code]

Honestly, I really tried much here to no avail.

[2021-09-01 09:36] christopheblin opened #80470 "Incorrect instructions to update omsagent configMap"
In https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-monitor/containers/container-insights-agent-config.md#applying-updated-configmap

It is mentioned that

In my case, what happened was an immediate message and no pod restarted
[code]

I needed to do `k rollout restart ds/omsagent`

So there is either a problem in the documentation (missing the step to restart the pods after

[2021-09-01 09:38] danimacho72 commented on #80420
Yes, I think this will be enough, thanks a lot for confirming! :)

On Tue, Aug 31, 2021 at 11:07 PM Hirsch Singhal ***@***.***>
wrote:

--

*Dani Macho *Estudiante Doble Grado de Ingeniería Informática-A.D.E.

Universitat Oberta de Catalunya

***@***.***

[image: Universitat Oberta de Catalunya]

--

INFORMACIÓ SOBRE PROTECCIÓ DE DADES DE LA UNIVERSITAT OBERTA DE
CATALUNYA (UOC)

Us informem que l

[2021-09-01 09:39] mercer commented on #80459
A script to append current ip to the list

[code]

[2021-09-01 09:40] PramodValavala-MSFT commented on #80449
@tomcam While windows is supported for local development of Python Azure Functions, on Azure only Linux is supported. This is covered in the [Python Developer Reference](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python?tabs=azurecli-linux%2Capplication-level) but I believe this would be addressed for this doc as part of the other issue you filed - MicrosoftDocs/azu

[2021-09-01 09:40] #80449 closed

[2021-09-01 09:45] PramodValavala-MSFT commented on #80462
@tomcam Based on the error you are seeing, you probably need to configure nuget in VS. [This post](https://social.msdn.microsoft.com/Forums/vstudio/en-US/86aad234-8c71-4f76-a751-2fd6b98d493b/vs-2019-manage-nuget-packages-has-only-offline-packages?forum=vssetup) should help you with the steps needed.

Here is the same for reference

You could go to Tools -> Options -> NuGet Package Manager -> Packa

[2021-09-01 09:49] goblinfactory commented on #19456
re: It would be the Enterprise approach to provision your own agents.
The ...right thing to do...would be for Microsoft to fix this properly. Actually would not be a big fix at all.

Doing X because that's the way we've always done it ... ??? That's like saying ... we don't treat septic cuts on legs, because the infection always kills the patient in the end, when someone is standing in front of yo

[2021-09-01 09:54] GitaraniSharma-MSFT commented on #80465
@tetsuyasodo , thank you for the feedback. We'll review this and get back to you shortly!

[2021-09-01 09:57] SrijitBose-MSFT commented on #80459
@mercer thank you for your feedback. We are currently investigating this. Will get back to you with more updates soon.

[2021-09-01 09:58] robert4os opened #80471 "Pickle mentioned as requirement to be used in AML"
Hi,

this page mentions:
`To be used with the Azure Machine Learning Python SDK, a model must be stored as a serialized Python object in pickle format (a .pkl file)
`
But AML is framework agnostic
- Azure Machine Learning is framework agnostic. When you create a model, you can use any popular machine learning framework, such as Scikit-learn, XGBoost, PyTorch, TensorFlow, and Chainer.
- https://doc

[2021-09-01 10:09] goblinfactory commented on #19456
hi @jonwrobson

Can you please share a recipe here for this or a gist / smallest end to end immutable pipeline that sets this up?
e.g.

1. create vnet if not exist
2. setup agent pool if not exist
3. secure the pipeline
3. call an ARM template "securely" from that pipeline that would otherwise have failed without the fix

or similar? smallest example possible to make it easier for us all to test-d

[2021-09-01 10:14] SrijitBose-MSFT commented on #80321
@dlahmad , thank you for your response.

I believe you have followed the first answer on the post. However the workaround I was referring to is [here](https://stackoverflow.com/a/68978697/16169604).

Can you please check what nginx ingress helm installations you currently have on the cluster using `helm list --all-namespaces` ?

Then please proceed to `helm uninstall <release-name> -n <namespace>

[2021-09-01 10:22] CHEEKATLAPRADEEP-MSFT commented on #80464
@Harold12138  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above point.

[2021-09-01 10:24] krisrajzlive opened #80473 "Console app crashes"
This makes the console app crashes when calling the executable of the application via script or task scheduler.
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-list?tabs=dotnet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49364b8c-01b5-5180-7537-c221c79d5b3d
* Version Independent ID: 95ec5f30-8c53-

[2021-09-01 10:28] husousa opened #80474 "Add the Azure AD roles that allow to perfom the invitation Reset."
Please add to this public document the Azure AD roles that allow to do this action on the Azure Portal.

The roles that allow to do so are currently the Global Administrator and the User Administrator and currently this content is absent from this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6197673d-42dc-8

[2021-09-01 10:30] ssivas commented on #80165
Hello @olhel ,

Thanks for reaching out.

Hope you rereferring to "AppProxy-GuestAccountCreation-v1.0.3.ps1" script here is updated one, just made little adjustment to highlighted line below which leverage MS Graph `https://Graph graph.microsoft.com` instead "Azure AD Graph `https://graph.windows.net`.

Please make sure you install [Microsoft Graph PowerShell SDK](https://github.com/microsoftgraph

[2021-09-01 10:30] #80165 closed

[2021-09-01 10:38] AnuragSharma-MSFT commented on #80469
@manishjha2088 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-01 11:15] MonikaReddy-MSFT commented on #80330
@krishna707patel - Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2021-09-01 11:15] #80330 closed

[2021-09-01 11:36] davihern opened #80477 "Misleading information: CSI driver seems that can also be installed after cluster creation"
This document (regarding CSI driver) states:
"This feature can only be set at cluster creation time."

But there is this other documentation that states that CSI drivers can be installed in an existing AKS cluster: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-driver-on-aks.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-09-01 11:38] ram-msft commented on #80452
@krisbock Thanks for the question. We are investigating the issue and will update you shortly.

[2021-09-01 11:40] ram-msft commented on #80457
@buswrecker Thanks for the feedback! We will review and update accordingly.

[2021-09-01 11:43] DarrylLeckenby commented on #24663
I have bumped into this issue today. First time using a template file:
Everytime I specify; it says it cannot find the file that is referenced from a temp directory:

![image](https://user-images.githubusercontent.com/3273924/131665585-3ad19f4f-a766-4cf6-b3a9-fc941d5153c3.png)

[2021-09-01 12:28] sizzler-5g opened #80479 "Reading time improvement"
Reading time is accurate, however there is a ~12 minutes video which is part of the article and without which the understanding of the subject is not as good.
When there is video included, is it possible to add an indication of time when also using the video material in the article.
Such as "2 minutes to read - 14 minutes with videos".
I think it would be a nice plus for time management when, doin

[2021-09-01 12:33] ShaikMaheer-MSFT commented on #80309
@archanapereira Could you please create a support ticket for this issue. So that support engineer can take a deeper look into this to help.
Please Note, GitHub forum is specifically for logging document feedbacks or doc issues.

How to create support request: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2021-09-01 12:41] JackCaster commented on #80057
@ram-msft  I am using `OutputFileDatasetConfig` to transfer data across the pipeline steps. I do not think this is the natural use of something like `azureml.data.dataset_factory.FileDatasetFactory` as you suggested before. Within a step of the pipeline, I am writing concurrently to a single folder defined via `OutputFileDatasetConfig`. I have been testing this process extensively and I have not e

[2021-09-01 12:44] SadiqhAhmed-MSFT commented on #80331
@v-hakob Please let me know if you've any further questions in this matter or are we good to close this issue?

[2021-09-01 13:06] yutaro113 opened #80481 "Behavior of CreateIfNotExists wanted to be mentioned more concretely."
Hi team,
I am using Azure Functions with CosmosDB output binding.
In the function.json, we can use createIfNotExits parameter, but I'm confusing how "exist" will be checked.
Does it check the value of partition key? or id? or its combination?

It would be great help it to be mentioned in this doc as well..!

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-09-01 13:08] rudolphjacksonm opened #80482 "Unable to Use User-Assigned Identity for Get Secret Operation"
When using a Logic App that has a user-assigned managed identity, I am unable to execute the Get Secret connector. I receive the following error:

I'm not sure whether I'm reading this error correctly, but it seems like only System Assigned identities are supported at present with this connector? Here is the ARM template I'm using:

[code]

---
#### Document Details

⚠ *Do not edit this section. I

[2021-09-01 13:12] drobinson-bell opened #80483 "Typo in instructions"
Hi,

I believe there is a typo in section 'Create the image version"

 -apiversion "2020-02-14" `

should be  -api-version "2020-02-14" `

A dash should be placed between api and version

HTH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45a82eb4-6023-683b-50ad-eb5d5ffd9f4c
* Version Independent ID: 672e6918-aa05-3f03

[2021-09-01 13:15] RohitMungi-MSFT commented on #80471
@robert4os With respect to using or registering a model you can use any of the files to register a model with any of the supported [frameworks](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model.model.framework?view=azure-ml-py).

Yes, this page is not linked correctly to the index and I think it is updated with [local deployment scenario to a VM](https://docs.microsoft.co

[2021-09-01 13:15] kvansaders opened #80484 "My data factory has no package.json."
My data factory has no package.json after creating via the web authoring and Azure Repos.  Where is this package.json supposed to be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 126c00f8-e9d2-4af1-65b1-67a1e5516197
* Version Independent ID: 30660b73-1e11-3e1f-f2c8-1daa094a410a
* Content: [Automated publishing for co

[2021-09-01 13:23] Air-Git opened #80485 "Qualification"
The first para says: "Users signing in to the Microsoft Authenticator app or enabling passwordless phone sign-in are subject to this policy.". Why is this qualification made? Are users registering a phone for SMS, or an email address, not also covered by the policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8685f

[2021-09-01 13:29] ShaneOsborne opened #80486 "Synapse Support"
This page should be updated with Azure Synapse Analytics as an option

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955b2d92-2d6a-787e-6612-d226e09b9a9a
* Version Independent ID: 734d767b-f22d-2ba6-aabf-98b07bf5abfc
* Content: [Set up Python development environment - Azure Machine Learning](https://docs.microsoft.com/

[2021-09-01 13:35] shashishailaj commented on #80474
@husousa Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 13:37] shashishailaj commented on #80479
@sizzler-5g Thank you for your feedback on this. We will surely review and take this to the documentation platform team internally .

[2021-09-01 13:38] shashishailaj commented on #80485
@Air-Git Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 13:39] shashishailaj commented on #80466
@Jiihaa Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 13:41] shashishailaj commented on #80473
@krisrajzlive Thank you for your feedback . We will investigate and update the thread.

[2021-09-01 13:43] shashishailaj commented on #80477
@davihern Thank you for your feedback . We will investigate and see how best to update the documentation after review of the details provided.

[2021-09-01 13:55] jonathanrelf opened #80487 "Small typo in 'Create user-assigned managed identity and grant permissions' example"
In the code block at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder#create-user-assigned-managed-identity-and-grant-permissions there is a small typo on Line 9.

`imgBuilderId=/subscriptions/$subscriptionID/resourcegroups/$imageResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/$idenityName`

The final variable name is currently `$idenityName` a

[2021-09-01 13:57] VikasPullagura-MSFT commented on #80483
@drobinson-bell Thanks for the Feedback. The document is updated and changes will go live soon.

[2021-09-01 14:07] vhorne commented on #75148
Removed until certification completes.
#please-close

[2021-09-01 14:07] #75148 closed

[2021-09-01 14:16] kobulloc-MSFT commented on #80487
@jonathanrelf Thank you very much for bringing this to our attention!  I'll get a PR out to fix this.

[2021-09-01 14:27] mdarefull opened #80488 "Azure Blobs - Access Tiers: Improve overview of Archive Tier"
At the top of the article, the overview for each access tier, I think the wording for 'Archive' should be changed.
This is how it is today:

The adverb rarely could be misleading since it is subjective. Data stored in the archive tier is not expected to be accessed. To some, rarely might mean couple of times per week or month which could cause confusion mainly when these articles are used for refe

[2021-09-01 14:57] kvansaders opened #80489 "NPM Build Step - npm ERR! missing script: build"
After adding an npm init step to create a package.json (which was missing), the install step works, but the build step says:
npm ERR! missing script: build

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 126c00f8-e9d2-4af1-65b1-67a1e5516197
* Version Independent ID: 30660b73-1e11-3e1f-f2c8-1daa094a410a
* Content: [Autom

[2021-09-01 14:58] #80487 closed

[2021-09-01 14:59] qusp66 opened #80490 "Does not work"
[Enter feedback here]
I followed the tutorial step by step. When I get to
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad#successfully-call-the-api-from-the-developer-portal, step 3 says to ...

Only there is no drop down list. There is only One text input field to enter a Subscription Key (not mentioned anywhere in the tutorial)

---
#### Docume

[2021-09-01 15:07] jonwrobson commented on #19456
Hi Al,

The scale set wizard will create a VNet and everything for you and you can setup the policies to keep everything up to date. If you want you can create a little TF script or CLI script to get it setup. Once you have it then you can manage an entire enterprise with code, pipeline and private VMs.

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-dev

[2021-09-01 15:20] tifischer opened #80492 "MS_Description is case senstive"
The note here For data sources such as SQL Server Analysis Services that have a first-class Description property, the Data Catalog data source registration tool extracts that property value. For on-premises SQL Server relational databases that lack a first-class Description property, the Data Catalog data source registration tool extracts the value from the ms_description extended property for obj

[2021-09-01 15:22] miwithro commented on #80291
1.18+

[2021-09-01 15:23] #80483 closed

[2021-09-01 15:26] goblinfactory commented on #19456
Thanks Jon for this ... I  will look at this tomorrow morning. A red flag for me, is that by using Azure virtual machine scale sets, you'd be committing to no longer using  Microsoft-hosted agents, ...this feels like re-inventing the cloud, or ...what the cloud is supposed and has promised to already give us, and, we'd probably be doing it badly, without the required skills to know when we're doin

[2021-09-01 15:29] web265p3 opened #80493 "Workspace based application insights does not allow function parameters"
I would like to create functions to visualize my data of application insights in workbooks (with parameters)
This is currently not possible, because log analytics does not allow parameters for Application insights (even if the app insights has been created workspace based)

![image](https://user-images.githubusercontent.com/20642406/131699690-444aa645-5594-4d09-8f45-f70fe90e5eb2.png)

The options

[2021-09-01 15:44] VikasPullagura-MSFT commented on #80427
@ryanmcnamara The document is updated and changes will go live soon.

[2021-09-01 15:44] #80427 closed

[2021-09-01 15:45] harrchen88 opened #80494 "Feature description accuracy"
Under the "Account Plan" section, it states: "The following features are common for security-conscious organizations. All but SSO require the Premium plan.".  However, according to this link: https://databricks.com/product/azure-pricing,  in addition to SSO, "VNET Injection" and "Secure Cluster Connectivity" are also available to Standard tier.

---
#### Document Details

⚠ *Do not edit this secti

[2021-09-01 15:48] JorgeGallegoVeguillas commented on #76803
Hello Spss014 I think for Previews there is not RoadMaps

[2021-09-01 15:52] zhuker opened #80496 "az storage blob move 'move' is misspelled or not recognized by the system."
https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_move

while running
[code]
i get

[code]

[code]

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We pre

[2021-09-01 15:57] jasongroce commented on #78242
#reassign:mingshen-ms Looks like there are some issues assigning to the right owner. Can you help?

[2021-09-01 15:59] PramodValavala-MSFT commented on #80481
@yutaro113 The `createIfNotExists` configuration is actually for the collection, not the document(s).

[2021-09-01 16:05] SamaraSoucy-MSFT commented on #80482
Thanks for the question! We will review and get back to you shortly.

[2021-09-01 16:05] SamaraSoucy-MSFT commented on #80490
Thanks for the feedback! We will review and get back to you shortly.

[2021-09-01 16:11] jonwrobson commented on #19456
100% correct on that. You can setup the VM to apply OS updates for you etc but you will hit something at some point. On the other hand you can hit issues with an auto update of a hosted image that breaks your pipeline.

The docs for trusted service is always for services in your subscription. I guess the model fell apart a bit when DevOps was provided outside of an Azure subscription? Feels like t

[2021-09-01 16:23] jreynolds01 opened #80497 "Prereqs section is incomplete."
In addition to cloning the samples repository, for the code snippets to work, you also need to:

- cd to the cli directory within that repository
- for the code snippets to run, you must also run something like:
[code]
which is linked in this [document](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli), which in turn is linked as an optional read in pre-reqs. The issue

[2021-09-01 16:23] GiftA-MSFT commented on #80486
@ShaneOsborne we'll review your feedback and get back to you shortly. Thanks.

[2021-09-01 16:24] YutongTie-MSFT commented on #80497
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-01 16:39] v-gpettibone commented on #80286
1. Added another step to create a key for the second certificate. See step 5 in https://docs.microsoft.com/en-us/azure/iot-hub/tutorial-x509-self-sign.
2. .crt certificates created in these examples are the same as .pem certificates except for the filename extension. You can just change the extension or use OpenSSL to make a conversion. This is now documented in a note to step 7 in https://docs.mi

[2021-09-01 16:46] KumudD commented on #77400
@GitaraniSharma-MSFT Please change the service label to **dns/svc** . Thanks!

[2021-09-01 16:48] KumudD commented on #80110
@GitaraniSharma-MSFT Please change the service label to **dns/svc**. Thanks!

[2021-09-01 16:54] DerekHerman-MSFT commented on #80488
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-01 17:06] yutaro113 commented on #80481
Thank you very much for the very quick reply.
Ah yes, you're right. I'm sorry for my misunderstanding.
My question is resolved so we can close this issue.
Thanks for your support!

[2021-09-01 17:07] #80481 closed

[2021-09-01 17:25] JamesTran-MSFT commented on #80224
@michaelmairegger
I reached out to our engineering team, and as of right now this isn't possible or planned to change. Since this feature isn't possible yet, I'll go ahead and close out this issue.

 Thank you for your time and patience throughout this issue.

[2021-09-01 17:25] #80224 closed

[2021-09-01 17:26] jonburchel commented on #74107
Thank you @ant0nsc for reporting this issue.  As this appears to be resolved now I will close the issue out, but if you still encounter problems or need to continue the discussion, feel free to respond here and we can still continue the conversation further if necessary.

#please-close

[2021-09-01 17:26] #74107 closed

[2021-09-01 17:27] Oury-MSFT commented on #80132
@SnehaGunda  Eli Arbel recently received a communication from Cosmos DB about the deprecation of the v2 SDK, which both the packages in the current docs depend on. Looks like we should update the guidance to use Azure.Data.Tables instead. Please let me know if ay help is needed from my end to update the doc. Thanks

[2021-09-01 17:31] AnuragSharma-MSFT commented on #80451
@docgregt Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-01 17:32] GiftA-MSFT commented on #80430
@JNORMANAZ thanks for your feedback.
@laujan please consider adding above feedback to backlog for doc enhancement. Thanks.

[2021-09-01 17:32] #80430 closed

[2021-09-01 17:42] Nickomang commented on #80291
@nilekhc , @miwithro Thanks for the feedback! I've merged the changes to the docs, specifying the min version. Closing this issue.

#please-close

[2021-09-01 17:42] #80291 closed

[2021-09-01 17:44] zacabrer opened #80499 "Contradictions in this doc on LB manipulating packets"
Under the first section "Load balancing algorithm" it states:
"Load balancer rewrites the headers of flows to backend pool instances."

Under the second section "Application independence and transparency" it states:
"Load balancer doesn't directly interact with TCP or UDP or the application layer."

Load Balancer DOES directly interact with TCP flow headers when DNATing, making the second statemen

[2021-09-01 18:04] koder101 opened #80500 "Not a single line of example syntax in the entire page."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5b25f3a-5371-2a50-3bff-6caf1b78ad8c
* Version Independent ID: a0d6b2d0-047b-202b-1b5b-67b9ec7eeccd
* Content: [Dynamic data masking - Azure SQL Database](https://docs.microsoft.com/en-us/azure/azure-sql/database/dynamic-data-masking-overview)
* Conte

[2021-09-01 18:04] spaelling commented on #80161
Sorry for not getting back on this. I usually get an email notification (no pun intended).

Thank you for the clarification.

It should be stated very clearly in the docs that this is the case. It is not at all usable for Sentinel playbooks in an Enterprise environment. It is the equivalent of running a Windows service as your own user. A disaster waiting to happen.

[2021-09-01 18:09] himanshusinha-msft commented on #80484
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-09-01 18:16] veyalla commented on #80406
@bkarrlander The future of IoT Edge's support for Windows is using EFLOW...and 1.2 support is on the EFLOW roadmap.

Reference: https://github.com/Azure/iotedge-eflow/issues/65#issuecomment-902130334

#please-close

[2021-09-01 18:16] #80406 closed

[2021-09-01 18:18] madsd commented on #80045
Yes, you can continue to use the App Setting. We have made updates to the documentation and the portal will be updated with the correct status very soon. Hope this helps

[2021-09-01 18:18] mairaw opened #80501 "Article is outdated"
UI now shows a Transaction search option on the left menu. It would be good to update screenshots and instructions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e8d2de3-73e5-857c-f87e-38ad9ed1358d
* Version Independent ID: 86ad9550-7a64-948e-440a-4b97bf5c812d
* Content: [Using Search in Azure Application Insights -

[2021-09-01 18:18] julieMSFT commented on #80428
#assign:azaricstefan

[2021-09-01 18:20] madsd commented on #62864
Hi @yull1860. This should have been corrected, and I have not been able to reproduce it. Can you please confirm and proceed to close the issue?
Thanks

[2021-09-01 18:23] madsd commented on #75675
@MatthewSteeples Thank you for reporting this. The documentation has been updated. Let us know if you have other findings or proceed to close the issue.
Thanks.

[2021-09-01 18:23] irenehua commented on #79243
#please-close

[2021-09-01 18:23] #79243 closed

[2021-09-01 18:25] madsd commented on #63756
Hi @magnarw. Thank you for reporting this. We added documentation around implementing NAT gateway to get a static outbound IP for your App Service and we have updated the IP article to reflect this. Let me know if you have any questions around this, and if not, please proceed to close the issue.

[2021-09-01 18:27] madsd commented on #73797
Hi @komayama We have updated the documentation to emphasize this more, and with ASEv3 released, there is no more implicit rules you have to add in the NSG. However, you still need to allow the traffic you need for your app to function. Hope this helps.

[2021-09-01 18:30] GiftA-MSFT commented on #80486
@ShaneOsborne you can [link](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-link-synapse-ml-workspaces) Azure Synapse Analytics workspace and Azure Machine Learning workspace but I wouldn't consider Azure Synapse Analytics as a python development environment for Azure Machine Learning.
@rastala any input on above feedback?

[2021-09-01 18:34] tamram commented on #80488
@mdarefull - Thanks for your feedback! We've reviewed the wording of the paragraph, and feel comfortable with leaving the language as-is.

#please-close

[2021-09-01 18:34] #80488 closed

[2021-09-01 18:43] femsulu commented on #80468
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-01 18:44] Vipin-Sharma commented on #64424
@ChaitanyaNaykodi-MSFT  Did you manage to solve this problem? I am also facing exactly same problem, not able to debug azure function locally?

[2021-09-01 18:47] femsulu commented on #80470
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-01 18:49] himanshusinha-msft commented on #80489
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-01 18:55] femsulu commented on #80496
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-01 18:55] lgayhardt commented on #80501
@mairaw Thanks for the feedback, we already have a [work item](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1837118) for this on our backlog what will hopefully be complete this month or next.

I will update this thread when the work is complete.

Thank you!

I'm going to close this issue for now.

#please-close

[2021-09-01 18:55] #80501 closed

[2021-09-01 18:57] amlalani opened #80503 "Broken Link"
At the end of the article, in the Next Steps section, link https://docs.microsoft.com/en-us/sql/azure-data-studio/extensions/azure-sql-migration-extension.md is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f1a3830-2d51-f861-a150-5cb20ed26a85
* Version Independent ID: aab107d9-b859-8f05-9bf3-b1cb28f3bf73
* Co

[2021-09-01 19:03] loic-sharma opened #80504 "Update managed identity docs to use latest Azure SDKs"
The current .NET examples use the "legacy" `Microsoft.Azure.Services.AppAuthentication` SDK. These should be updated to use `Azure.Identity`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities

[2021-09-01 19:05] JasonFreeberg commented on #78650
We'll fix this in our fork of the Pet Store repo and update the quickstart to use our fork:

https://github.com/Azure-Samples/migrate-javaee-app-to-azure-training/pull/15

[2021-09-01 19:09] timsander1 commented on #80451
Hi @docgregt, I will add a note that mentions that GROUP BY is not supported in the Python SDK

[2021-09-01 19:10] mike-urnun-msft commented on #79871
Hello @haysjp - Apologies for the late reply. The `<rate-limit ...>` policy does appear to be supported in Consumption SKU: https://azure.microsoft.com/en-us/updates/azure-api-management-consumption-tier-is-now-generally-available/

Since we didn't determine any changes to this doc upon reviewing this feedback, we will now proceed to close this thread. If there are further questions regarding this

[2021-09-01 19:10] #79871 closed

[2021-09-01 19:20] Minewiskan commented on #48206
Out of scope.
#please-close

[2021-09-01 19:20] #48206 closed

[2021-09-01 19:24] ccg-ahagen opened #80506 "Error installing packages"
While attempting to run %pip install --upgrade --force-reinstall -r https://aka.ms/automl_linux_requirements.txt like the tutorial says to do I am hit with the following error
ERROR: Could not find a version that satisfies the requirement azureml-automl-runtime~=1.33.0 (from versions: 1.0rc83, 1.0rc85, 1.0.76, 1.0.76.1, 1.0.79, 1.0.81, 1.0.83, 1.0.85, 1.0.85.1, 1.0.85.2, 1.0.85.3, 1.0.85.4, 1.0.85

[2021-09-01 19:33] AjayKumar-MSFT commented on #80176
PaulVrugt, Thanks for the follow-up. A webjob is basically a script or console app so it would be the same process for a console app, as mentioned in [this doc](https://docs.microsoft.com/azure/azure-monitor/app/console).

[2021-09-01 19:36] XiaoyuMSFT commented on #80383
@WilliamDAssafMSFT - Hi William, could you review this request and make the changes (articles and TOC) per Content team's plan for serverless/dedicated documentation?   Thanks.

1. https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-best-practices
2. https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/best-practices-dedicated-sql-pool
3. https://docs.microsoft.com/en-us/a

[2021-09-01 19:37] XiaoyuMSFT commented on #80383
@jasonhorner - Please assign this article to @WilliamDAssafMSFT.  Thank you.

[2021-09-01 19:39] JasonWHowell commented on #79197
@bandersmsft
Maybe we can just link to two good resources as a quick solution
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules
https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/azure-best-practices/resource-naming

[2021-09-01 19:42] XiaoyuMSFT commented on #80383
@jasonhorner - The previous message was sent to you by mistake.  Please ignore.  Sorry for the confusion.

[2021-09-01 19:43] XiaoyuMSFT commented on #80383
@CHEEKATLAPRADEEP-MSFT Please assign this article to @WilliamDAssafMSFT. Thank you.

[2021-09-01 19:50] mike-urnun-msft commented on #80088
Hi @zaalion - Policies are broken into categories of docs (shown on left nav under Define Policy), one of which is this doc, and we have included samples on each doc. This doc focuses on how you can expand the functionalities of those policies by incorporating C# code which can be curated per your requirements. The examples section demonstrates the valid syntax for both single and multi-line C# st

[2021-09-01 19:50] #80088 closed

[2021-09-01 19:55] femsulu commented on #80493
thanks for the feedback, @web265p3

Are you requesting support for App Insights Function params within Log Analytics workspace?
If yes, then I will pass your feedback to the Azure Monitor featre owners for future consideration.

thanks in advance.

[2021-09-01 20:01] bandersmsft commented on #79197
@JasonWHowell @wahidsaleemi I'll update the article today with best practice advice.

[2021-09-01 20:14] leandmilo opened #80508 "Sharefile User Provisioning Update Asap"
[Guys, please update the **USER PROVISIONING** with **Sharefile** as soon as possible]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bc4f40-b67f-5d0d-88f3-7627963d6dd8
* Version Independent ID: e2898011-786f-0157-a567-14e12c8cb384
* Content: [Tutorial: Azure Active Directory integration with Citrix ShareFile](https:

[2021-09-01 20:15] bandersmsft commented on #79197
@wahidsaleemi I added the following to the article, per your suggestion:

Using one of the following methods, you'll create a subscription alias name. We recommend that when you create the alias name, you:

- Use alphanumeric characters and hyphens
- Start with a letter and end with an alphanumeric character
- Don't use periods

#please-close

[2021-09-01 20:15] #79197 closed

[2021-09-01 20:19] jeevansd commented on #80508
@leandmilo Yes, team has identified the issue in the user provisioning for this app. We are working on a fix. ETA should be next 2 weeks or so. Once it is ready then we will post the update for you here.

[2021-09-01 20:21] ramandhillon84 commented on #55556
Hi @jackchenwork , apologies for a delayed response.

This was an example address prefix we used in the pre-GA documentation, but has since been updated to reflect ULA address space.

Public IP Addresses are allocated from the pool of IPv6 addresses that Microsoft Azure owns. When you create a public IP Address, one of those addresses is allocated to you, which is what happened in this case as wel

[2021-09-01 20:23] KumudD commented on #55556
#reassign: @ramandhillon84

[2021-09-01 20:23] PRMerger13 commented on #55556
GitHub user EricTheRed999 has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-01 20:25] ramandhillon84 commented on #55556
#please-close

[2021-09-01 20:25] #55556 closed

[2021-09-01 20:31] WilliamDAssafMSFT commented on #80383
Thanks @Jasonhorner for taking the time to provide this feedback, your suggestions help improve our documentation. I'll look into some consolidation here @XiaoyuMSFT.

[2021-09-01 20:34] allegradomel commented on #42222
Quick update: we are rolling out a fix to add 172.16.0.0/12 as a default route again. I will provide a rough ETA soon

[2021-09-01 20:36] robinsh commented on #57756
#please-close

[2021-09-01 20:36] #57756 closed

[2021-09-01 20:36] TeamDman commented on #19456
I had a support ticket with Microsoft and the outcome was that MS agent pools operating in the same region as your storage accounts will use private IPs to try and connect. If you want to use MS hosted agents, the resources should be in a separate region from the agent pool to ensure that public IPs are used (since you can't whitelist private IPs for storage accounts).

[2021-09-01 20:36] allegradomel commented on #77083
Hi @znrk , thanks for the feedback. We are making a change to add 172.16.0.0/12 back in as a default route. I can update with a rough ETA soon

[2021-09-01 20:36] sunnyhay commented on #79249
@luisquintanilla YES, what @trangevi  suggests DOES solve my problem. Now I could use CLI to update my deployed service. Thanks a lot @trangevi, @luisquintanilla  and @Mutilar !

[2021-09-01 20:37] robinsh commented on #51503
Thanks for your feedback. Addressing this is on our future road map to look at more closely.

[2021-09-01 20:37] robinsh commented on #51503
#please-close

[2021-09-01 20:41] Infinitism commented on #80380
@jeffmend Thank you for asking! The part that threw me off was coming from the context of how the regular personalizer works with single recommendation. There the concept was clear on reward aggregation between "earliest" and "sum" because I knew going in that any reward I submit will only affect the learning for that event.

In multi-slot, it wasn't clear if I submitted "slot-1" reward first and

[2021-09-01 20:46] KumudD commented on #78278
@GitaraniSharma-MSFT Please change the service label to **vpn-gateway**.  Thanks!

[2021-09-01 20:49] stmtpls opened #80509 "You can print/see a secret by selecting a substring"
In python, for any key in the secret scope, if you try to print it, it prints out '[REDACTED]', but if you select a subset of that string it prints it out (e.g. dbutils.secrets.get("name-of-scope", "name-of-secret")[1:]).

So you can find any secret with two print statements, example:

print(dbutils.secrets.get("name-of-scope", "name-of-secret")[1:])
print(dbutils.secrets.get("name-of-scope", "nam

[2021-09-01 20:52] MarileeTurscak-MSFT commented on #80316
Since this issue seems more like a product troubleshooting issue than a documentation issue, I would recommend posting this to Microsoft Q&A: https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html

If you would prefer, you can send me an email at AzCommunity@microsoft.com (Attn: Marilee) and I can get a support case opened for this.

[2021-09-01 20:52] #80316 closed

[2021-09-01 20:54] DerekHerman-MSFT commented on #80496
@zhuker This command has been deprecated. I created an issue with the CLI team to update the docs as they are the maintainers.
https://github.com/Azure/azure-cli/issues/19423

[2021-09-01 20:54] #80496 closed

[2021-09-01 21:14] bandersmsft commented on #79197
https://github.com/MicrosoftDocs/azure-docs-pr/pull/171150

[2021-09-01 21:14] WilliamDAssafMSFT commented on #80383
#reassign:williamdassafmsft

[2021-09-01 21:14] yelevin commented on #80161
@spaelling Not at all. The account you use for this authentication doesn't have to be a user account at all. It can be a dedicated service principal account or an Azure managed identity, both of which are recommended by us over a regular user account. These are mentioned in the companion document to the one on which you asked your question - [Authenticate playbooks to Azure Sentinel](https://docs.

[2021-09-01 21:25] tomjscrypt commented on #76251
I run $reindex on Fhir Service as in documentation using Postman, POST with body:
 {"resourceType":"Parameters","parameter":[]}

I get in response:
 { "name": "status", "valueString": "Queued" }

Then after an hour I check the status of this reindex job by GET on:
 {{fhir-server}}/_operations/reindex/{{jobId}}

but nothing changes, it is still: 
"Queued"

even though server is freshly made with no

[2021-09-01 21:30] MicrosoftGuyJFlo commented on #80485
@Air-Git it means if you do security info registration from the Authenticator App you are going to hit the policy too. Some customers did not realize this so we added the statement. #please-close

[2021-09-01 21:30] #80485 closed

[2021-09-01 21:48] axelriet opened #80510 "Terrible"
After 10 minutes, I still dont know how to migrate a VM. I don't want to know the differences between this or that, or what is not supported. The article fails to describe the actions necessary to DO the migration. It should START by: to migrate a VM, do this, then do that, instead of getting lost in a "deep dive" that completely misses the point.

Also, on the portal, I don't want to see a banner

[2021-09-01 22:02] HeidiSteen commented on #80468
Hi @PaulVrugt I took a look, and agree with you that the docs need an update.  This work item is scheduled for the September sprint.  I'll close this issue because I'm tracking it through a work item, but I will circle back on this thread with a link to updated docs when they are published.  Thanks for filing the issue!

[2021-09-01 22:02] HeidiSteen commented on #80468
#please-close

[2021-09-01 22:02] #80468 closed

[2021-09-01 22:05] improwise commented on #69768
I am having this problem as well (although it seems different from the one initially reported in this issue)

[2021-09-01 22:05] ju-shim commented on #69292
The article was recently updated, I believe it's up to date now. I will sync with @ayshakeen on it and ask to close this PR if that's the case. Thank you!

[2021-09-01 22:11] mokabiru commented on #80503
@amlalani - thanks for the feedback. We will fix the link.

[2021-09-01 22:23] ju-shim commented on #65743
I am contacting Vijay about this (and other related issues). Hoping we can circle back to this shortly. Thank you.

[2021-09-01 22:23] ju-shim commented on #79514
I am contacting Vijay about this (and other related issues). Hoping we can circle back to this shortly. Thank you.

[2021-09-01 22:27] ju-shim commented on #70492
Hello,

Thank you for your feedback. Our documentation on the Docs.Microsoft.com website are for reference and learning. We do not add pricing information. That can be found on the following website:

https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/

I believe we have made changes to all sizing docs to link to a tool that helps you choose the right size for you. Hopefully

[2021-09-01 22:27] #70492 closed

[2021-09-01 22:27] ju-shim commented on #69910
Pinging the PM on this, hopefully will circle back shortly.

[2021-09-01 22:29] ju-shim commented on #66282
Apologies for circling back to this so late. I am pinging the PM on this to see if there are any changes they need to make to the documents. Thank you for your patience.

[2021-09-01 22:34] ju-shim commented on #71586
Hello, thank you for your patience. Our teams have made improvements to the sizing docs, so hopefully information is clearer.

I see what you mean, and I am asking the PM for this size to help adjust the column title to be clearer (or add extra data to the columns like you mentioned). Thank you.

[2021-09-01 22:38] ju-shim commented on #71586
The new PM on this size is @brbell -

@psmanhas can you update this to set them as the assignee? Thank you.

[2021-09-01 22:39] ju-shim commented on #72527
#reassign: @brbell

Brenda, can you take a look at this?

Thank you for your patience, I will sync with the PM on this issue.

[2021-09-01 22:40] ju-shim commented on #71586
#reassign: @brbell

[2021-09-01 22:40] PRMerger8 commented on #71586
GitHub user susaxen has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-09-01 22:48] ju-shim commented on #76381
Brenda is the PM for general purpose VMs, please sync with them on this issue.
@Karishma-Tiwari-MSFT

Their GH username: @brbell

[2021-09-01 22:50] yinoa opened #80511 "Please Confirm: NSG and UDR support for private endpoints is in public preview?"
[Enter feedback here]
About the description in the end of this page:
"NSG and UDR support for private endpoints is in public preview."

Please confirm if it is under public preview now? Or only Private preview?

We cannot register the feature which shows pending.

FeatureName             ProviderName      RegistrationState
-----------             ------------      -----------------
AllowPrivateEnd

[2021-09-01 22:50] ju-shim commented on #79693
#reassign: @ayshakeen

Aysha, can you please take a look at this? Let me know if you need assistance adding this information (if needed). Thank you!

[2021-09-01 22:54] ju-shim commented on #77806
I have synced with the PM for this VM size and am awaiting a reply. Please reassign to them to touch base on when they become available. Thank you for your patience!

#reassign: @ayshakeen

[2021-09-01 22:57] ju-shim commented on #80270
Hello, thank you! I just pinged my PM and am awaiting a response. If this is the case, I'll update the docs soon.

cc: @fitzgeraldsteele

[2021-09-01 23:00] ju-shim commented on #76755
Hello,

Thank you for your feedback. I'll be looking into this with my team, but for now, this is backlog and will need to be closed.

Best,
Julia

#please-close

[2021-09-01 23:01] JasonFreeberg commented on #80131
Hi @chtourou-youssef have you considered sending the logs to Azure Monitor? If you write the logs to standard output you can use the feature below to route them to a storage account or log analytics

https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#send-logs-to-azure-monitor-preview

[2021-09-01 23:02] KeithwNZ opened #80512 "Pre-existing "HKLM:SOFTWARE\......\Microsoft.NETFramework\v4.0.30319" wiped by provided script"
The Powershell script sample as provided wipes the entire subtrees of the two registry keys if they already exist (esp the .NET Framework ones will already exist in most cases)
    _-      HKLM:\SOFTWARE\WOW6432Node\Microsoft\.NETFramework\v4.0.30319
    -      HKLM:\SOFTWARE\Microsoft\.NETFramework\v4.0.30319_

Alternate:

$RegistryKey1 = 'HKLM:\SOFTWARE\WOW6432Node\Microsoft\.NETFramework\v4.0.3

[2021-09-01 23:02] rishabv90 commented on #72527
Hey @ju-shim , Had a look at this and I agree with the suggestion. We should update to follow similar specifications formating for our sizes (similar to the sizes which have premium storage). Happy to sync offline and update this accordingly.

[2021-09-01 23:06] ju-shim commented on #75120
Thank you for your feedback. At this time, we aren't able to make document changes relating to this, but I am creating an internal work item to tackle this topic with my team.

#please-close

[2021-09-01 23:06] #75120 closed

[2021-09-01 23:06] mmacy commented on #79822
@x509cert Hey Michael, I'm closing this issue out as we're tracking this work internally here:

ID | Work Item Type | Title | State | Tags
-- | -- | -- | -- | --
[1448149](https://identitydivision.visualstudio.com/Technical%20Content/_backlogs/backlog/Technical%20Content%20Team/Doc%20Features/?showParents=true&workitem=1448149) | Feature | [GTD] Tutorials: task-based, sequential, per-app type, sim

[2021-09-01 23:06] #79822 closed

[2021-09-01 23:12] ju-shim commented on #71137
Circling back to this, apologies about this dropping off. I am speaking to my team about this currently and we will get updates up shortly. Thank you.

[2021-09-01 23:12] v-hakob commented on #80331
Thank you @SadiqhAhmed-MSFT for the response and help. I shared the info with my cx, so it is ok to close it.

[2021-09-01 23:12] #80331 closed

[2021-09-01 23:14] ju-shim commented on #67053
The team has not yet made moves on this request, so this topic is now backlog. We will circle around to updating docs and this issue in the near future. Thank you for your patience.

#please-close

[2021-09-01 23:14] #67053 closed

[2021-09-01 23:29] JamesTran-MSFT commented on #80512
@KeithwNZ
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-01 23:33] manknewl opened #80513 "Reference to 10% and 20% fee still in place"
Correct to show 3%

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a42d9c34-e793-3a70-3499-2ada5c11e7c7
* Version Independent ID: 2c50a3fe-aa45-292f-561b-a95d079f19de
* Content: [How to plan a SaaS offer for the Microsoft commercial marketplace - Azure Marketplace](https://docs.microsoft.com/en-us

[2021-09-01 23:40] VanMSFT commented on #80357
Hi @rohitnayakmsft - Do you mind clarifying this issue? Thanks!

#assign:rohitnayakmsft

[2021-09-01 23:41] ChaitanyaNaykodi-MSFT commented on #80444
Hello @ElanShudnow,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-01 23:45] jamesorlando opened #80514 "Multiple Undefined Variables in the PowerShell Scripts"
Was trying to follow along but a number of variables are used, but never defined. Examples include $Region (easy to fix, but still) and $gatewaySubnet is never defined, so $GatewaySubnet.ID does not have a value.

Just a couple examples that prevent the provided PowerShell from working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-09-01 23:46] mle-ii opened #80515 "Profiler docs missing information about configuring Sampling Trigger"
Trying to understand what the settings mean for the "Sampling" trigger found in the Profiler trigger settings dialog. Particularly the "Sample Rate".

![image](https://user-images.githubusercontent.com/3632026/131759589-a5975369-8e1a-4235-9079-13aaf0d2b271.png)

The setting is not mentioned in the documentation and the documentation appears to be last updated in Oct 2019, so perhaps this setting i

[2021-09-01 23:49] mike-urnun-msft commented on #77616
Hello @pholding - My apologies for the late reply.

When comparing between [GatewayLogs schema](https://docs.microsoft.com/en-us/azure/api-management/gateway-log-schema-reference#gatewaylogs-schema) (which is what is used to send data to Log Analytics) and the data points [listed here](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-app-insights#what-data-is-added-to-app

[2021-09-01 23:49] #77616 closed

[2021-09-02 00:40] rbavery commented on #70492
I don't see any mention of "price" or "cost" on this NCV3 page or links to the tool you mentioned when using ctrl+F. I think this should be reopened.

https://docs.microsoft.com/en-us/azure/virtual-machines/ncv3-series

[2021-09-02 00:43] sunscorch opened #80517 "the code in this page does not work, ADAL lib of authentication does not work"
[Enter feedback here]
this part of [code ](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/app-aad-token#--username-password-flow-programmatic)does not work for me

I get the error, I think adal package may be outdated, we may use MSAL  ..
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-09-02 00:47] BharathNimmala-MSFT commented on #80513
@manknewl Thank you for reaching out with your feedback, would appreciate if you can further describe the issue you are having with the document which can help us to direct the feedback accordingly.

[2021-09-02 00:50] femsulu commented on #80499
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-02 01:21] lrtoyou1223 commented on #73705
already fixed

[2021-09-02 02:11] GitaraniSharma-MSFT commented on #80511
@yinoa , thank you for your query. We'll investigate and get back to you shortly!

[2021-09-02 02:12] GitaraniSharma-MSFT commented on #78278
@KumudD , I have changed the service label to vpn-gateway as requested.

[2021-09-02 02:14] GitaraniSharma-MSFT commented on #80110
@KumudD , I've changed the service label to dns/svc as requested.

[2021-09-02 02:14] GitaraniSharma-MSFT commented on #77400
@KumudD , I've changed the service label to dns/svc as requested.

[2021-09-02 03:02] KalyanChanumolu-MSFT commented on #80503
@mokabiru Thank you for taking the time to report this issue.
The required changes are made and they should be live by EOD.

We will close this issue now.
If there are further questions regarding this, please comment and we will gladly continue the discussion.

[2021-09-02 03:02] #80503 closed

[2021-09-02 03:06] ajaych-ms opened #80520 "Getting MI token should use simpler methods"
It looks like this page is showing older way to get MI token. Should we update to show newer APIs like ManagedIdentityCredential?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf35ebc-b14e-167f-9f73-c7df4d2b60b5
* Version Independent ID: 32e1d780-ca81-a67c-1af0-b7f0bfc8149c
* Content: [Use managed identities on a vir

[2021-09-02 03:10] mike-urnun-msft commented on #77548
Hello @Bhodges94 - Apologies for the late reply. Yes, you can certainly build a similar solution using Logic Apps and Functions that do the scale-up/down operations. The following blog post & its approach might be helpful in getting you started: [Custom Autoscaling of Azure App Service with a Function App](https://mikhail.io/2017/07/custom-auto-scaling-in-azure/)

Since this channel is for driving

[2021-09-02 03:10] #77548 closed

[2021-09-02 03:21] aspnet4you opened #80521 "Unable to evaluation device for filters when device id not sent by client"
Is anyone faced similar issue with device for filters condition in Azure Conditional Access policy?

I can't get device information when browser is used in private mode. Also, MacOs devices are not joined to Azure  AD and I can't get device info for it.

My goal is to have a block policy when device not equal "somename" or device name is empty or device name is null. Unfortunately, currently there

[2021-09-02 03:38] abby984003004 opened #80522 "There is a typo. The max concurrency is 300 not 3000"
[Enter feedback here]

After confirmed with AzCopy PG zezha-msft, the [doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-optimize) has a typo, the max concurrency is 300 not 3000. Could you update the doc? Thank you.

 Github link: https://github.com/Azure/azure-storage-azcopy/issues/1526

Is the AzCopy will check the system CPU Memory Resource by itself then Based on n

[2021-09-02 03:38] mike-urnun-msft commented on #80339
Hello @yutaro113 - Sounds like the high scale of blob events is causing the mismatch intermittently? If so, using Event Grid as a buffer between Blob and Function as discussed in the [Alternatives section](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=csharp#event-grid-trigger) of this doc should mitigate the issue that you're observing.

[2021-09-02 03:56] yutaro113 commented on #80339
@mike-urnun-msft ,Thank you very much for the quick update!
Understood using Event Grid and Event Grid Trigger function should mitigate this issue.

1 question but I thought this error can occur during actual blob processing (like blob input binding, or blob related operation via SDK in the function code) but, can also occur while triggering? (While blob trigger invocation itself also, etag is ver

[2021-09-02 04:19] SumanthMarigowda commented on #80522
@abby984003004 Thanks for the question! We are investigating and will update you shortly

[2021-09-02 04:22] SumanthMarigowda commented on #80514
@jamesorlando Thanks for the question! We are investigating and will update you shortly

[2021-09-02 04:27] BhargaviAnnadevara-MSFT commented on #80504
@loic-sharma Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-09-02 04:35] SumanthMarigowda commented on #80425
@netapp-bcammett Disk Encryption Set is a new resource introduced for simplifying the key management for managed disks. When a disk encryption set is created, a system-assigned managed identity is created in Azure Active Directory (AD) and associated with the disk encryption set.

This article explains complete details of disk encryption set, In the navigation pane on the left, browse through the

[2021-09-02 04:35] #80425 closed

[2021-09-02 04:36] SumanthMarigowda commented on #80522
@abby984003004 The PR has been initiated, necessary changes will take place soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-02 04:36] #80522 closed

[2021-09-02 04:55] AnuragSharma-MSFT commented on #80500
@koder101 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-02 04:56] AnuragSharma-MSFT commented on #80255
@PratibhaBeniwal Awaiting your response on this.

[2021-09-02 05:05] Air-Git commented on #80485
So the word "also" would make that clear. "Are also subject to this policy".

[2021-09-02 05:21] RohitMungi-MSFT commented on #80506
@ccg-ahagen package version 1.33.0 is available on pypi as listed [here](https://pypi.org/project/azureml-automl-runtime/#history). The listed versions in error are packages that seem old and does not list newer versions. Which version of Databricks Runtime (not ML) is used in your scenario?
For lower versions <7.1 for databricks runtime (not ML) the following [instructions ](https://github.com/Az

[2021-09-02 05:28] AjayKumar-MSFT commented on #80329
@MarkHeff, Requesting your review/comment on this. Thanks!

[2021-09-02 05:44] brbell commented on #71586
#reassign: @mmcrey

[2021-09-02 05:46] brbell commented on #72527
#reassign: @rishabv90 to help to address the doc issue.

[2021-09-02 06:01] RohitG92 commented on #80413
Let me know if you require any additional information for further investigation!!

[2021-09-02 06:07] madsd commented on #60616
@RichardMcCormack Thank you for reporting this and I am sorry for the time you had to spend figuring this out. We have now called this out explicitly in the documentation, and the portal will also flag this when you try to enable VNet Integration.

[2021-09-02 06:12] skrabbe001 opened #80526 "The AADB2C samples and guides use Implicit Grant - how to not use Implicit Grant"
Regarding: https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-authentication-sample-spa-app

## Implicit Grant and SPA
The examples (and  also other examples I have found, e.g. https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/blob/master/4-WebApp-your-API/4-2-B2C/README.md and more) for SPA for AADB2C uses implicit grant, but we want to use an

[2021-09-02 06:13] MS-jeremy opened #80527 "MongoShell command to create TTL index, not JS code snippet."
[Enter feedback here]
**JavaScript** example:

**JavaScript**

Copy
globaldb:PRIMARY> db.coll.createIndex({"_ts":1}, {expireAfterSeconds: 10})
{
        "_t" : "CreateIndexesResponse",
        "ok" : 1,
        "createdCollectionAutomatically" : true,
        "numIndexesBefore" : 1,
        "numIndexesAfter" : 4
}

![image](https://user-images.githubusercontent.com/64671905/131791681-79cf1a7b-9346

[2021-09-02 06:16] madsd commented on #58252
@vlkuznet An App Settings reference has been added to the documentation. This also highlights the settings you mention. https://docs.microsoft.com/en-us/azure/app-service/reference-app-settings

Let us know if you are missing other settings in the list. Thanks.

[2021-09-02 06:17] psmanhas commented on #80509
@stmtpls Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-02 06:17] psmanhas commented on #80509
@mssaperla Can you please check and add your comments on this doc update request as applicable

[2021-09-02 06:18] brbell commented on #76381
@mmcrey, please help to address this issue on the DC-series.

[2021-09-02 06:30] madsd commented on #79244
@JozoSlejko Thank you for the feedback. The article has been updated accordingly and the changes will be live later today.

[2021-09-02 06:32] madsd commented on #73288
@pnarsi When enabling private endpoint, the access restriction feature is disabled and any IP restrictions will need to be set using NSGs. Thank you for bringing the unclear documentation to our attention. If have updated the article, and the change should be live later today.

[2021-09-02 06:38] psmanhas commented on #80510
@axelriet Apologies for all the inconvenience caused. Can you help me understand which documentation you are referring to so I can help you out better?

Thanks

[2021-09-02 06:41] psmanhas commented on #80515
@mle-ii Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-02 06:43] PaulVrugt commented on #80468
@HeidiSteen thanks for the reply!
Great that you're looking into improving the docs, but I was actually hoping for an answer on how to use custom analyzers combined with language analyzers. I'm kind of stuck here until I get some info. Could you point me towards some info on this?

[2021-09-02 06:43] jun110-ms opened #80528 "Wrong parameter type."
[Enter feedback here]
The JSON schema parameters output by Application Insights are incorrect.

![image](https://user-images.githubusercontent.com/76590599/131795109-043324ef-48a8-436c-966c-02c711eabcb6.png)

Although the sample is written in the INT type, it is actually the DOUBLE type.
The application that receives the JSON may fail to parse it, so it needs to be fixed.

![image](https://user-im

[2021-09-02 06:46] AnuragSharma-MSFT commented on #80451
@timsander1 Thanks for covering the issue.

@docgregt This will be covered as part of document update. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-09-02 06:49] HarshitaSingh-MSFT commented on #80520
Hello @ajaych-ms , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-09-02 06:49] PramodValavala-MSFT commented on #79768
@PingPongSet Just following up here... Could you please double check the steps followed and see if you are still seeing this?

Please do note that his repository is primarily for addressing doc related feedback and it would be best to post your query on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-api-management.html) to engage the wider community. Since there is no doc up

[2021-09-02 06:49] #79768 closed

[2021-09-02 06:50] PramodValavala-MSFT commented on #79767
@PingPongSet Just following up here... Hope my previous comment clears things up.

Since there is no doc update required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-09-02 06:52] rsrinivasanhome opened #80529 "Where to get the client id"
With the new app registration flow I am not able to understand where to pick the client id and secret .  Can that be more elaborated in the document .

When I create a new application in the new application flow and go to the Identity Experience Framework tab and select the particular policy when I collect select application I am not seeing the newly created application thus not able to test the n

[2021-09-02 06:54] psmanhas commented on #80517
@sunscorch Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-02 06:56] psmanhas commented on #65743
[@ju-shim](https://github.com/ju-shim) Thank you for the update :)

[2021-09-02 06:59] SadiqhAhmed-MSFT commented on #80256
@noplatecatcher We haven't heard back from you, so we will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-09-02 06:59] #80256 closed

[2021-09-02 07:00] SadiqhAhmed-MSFT commented on #80225
@sidprasher We will now close this issue. If this remains an issue, please reply and we will gladly continue the discussion.

[2021-09-02 07:00] #80225 closed

[2021-09-02 07:23] KrishnaG-MSFT commented on #80528
@jun110-ms Thanks for the question! We are investigating and will update you shortly.

[2021-09-02 07:32] yuxisun1217 opened #80531 "GRID driver link doesn't point to the latest version"
Hi,

Currently the GRID driver link (https://go.microsoft.com/fwlink/?linkid=874272) points to the NVIDIA-Linux-x86_64-460.32.03-grid-azure.run, which is not the latest version(NVIDIA-Linux-x86_64-460.73.01-grid-azure.run) and failed to be installed in RHEL-8.4 NV6 VM. The latest version(NVIDIA-Linux-x86_64-460.73.01-grid-azure.run) can be installed in RHEL-8.4 NV6 VM successfully. And due to this

[2021-09-02 08:13] annaselway commented on #80167
The issue seems to have resolved itself, I am no longer blocked. Though it seems you have to provide the searchFields parameter so your documentation is in-correct and needs updating.

[2021-09-02 08:20] abarqawi opened #80536 "Add step under "Azure Files and AKS Troubleshooting" to check connectivity with Storage Account FQDN : 445 , mount error(2): No such file or directory"
Its good if we add step to check connectivity with storage account FQDN with port 445 similar to this

When creating a volume mount one can encounter the following well known message:

Warning FailedMount 36s kubelet, aks-xxxxx-xxxx-xxxxxx MountVolume.SetUp failed for volume "*****" : mount failed: exit status 32
Mounting command: systemd-run
Mounting arguments: --description=Kubernetes transient

[2021-09-02 08:45] HarshitaSingh-MSFT commented on #80529
Hello @rsrinivasanhome , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-09-02 08:46] dlahmad commented on #80321
# How it worked for me

1.  Deleted and recreated cluster, acr and cloud shell storage account to start from a clean slate
2. Executed first set of commands
[code]

# Caution: Required Changes I did

## Tag Change
[code]

## SHA256 Change
Instead of
[code]
it needs to be changed to:
[code]

# Request
Thank you for your help. Please adjust the article description accordingly.

[2021-09-02 09:05] Nimleth opened #80537 "Availability Zones"
Hi,

I don't see any reference to Availability Zones in this documentation. Are all components deployed in 1 AZ?

Rgds,
Dennis
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48293d9f-3c16-3b03-d315-157ecda6dc02
* Version Independent ID: 824d9271-2aab-9db4-e038-ffe07d8a52a3
* Content: [High availability components in Azu

[2021-09-02 09:39] darylnz opened #80538 "Possible typo in the value for read_ahead_kb"
Hi,

I think there might be a typo in the value below.

The value looks like it is expecting KB units based on the name **read_ahead_kb**
However 15728640 KB translates to roughly 16GB . I was wondering if the value should be **15360** instead?

![image](https://user-images.githubusercontent.com/70985399/131820650-7d041ee4-7c04-4f61-8ccc-a285661f680e.png)

Regards,

---
#### Document Details

⚠ *D

[2021-09-02 09:41] SrijitBose-MSFT commented on #80536
@abarqawi , Thank you for your feedback. We have shared the same with the content author(s). This should now be visible in their backlog.

[2021-09-02 09:48] CHEEKATLAPRADEEP-MSFT commented on #80537
@Nimleth  Thanks for the question! We are investigating and will update you shortly.

[2021-09-02 09:48] yutaro113 opened #80539 "Price detail of ASEv3 Dedicated Host / Availability Zone wanted to be mentioned."
Hi Team,
I have question about price detail of ASE and it'd be helpful if those will be documented.

**・Q1：How the actual cost will be calculated by enabling Dedicated Host?**
https://docs.microsoft.com/en-us/azure/app-service/environment/overview#pricing
Here it's mentioned "you are charged for two dedicated hosts per our pricing at ASEv3 creation then a small percentage of the Isolated V2 rate p

[2021-09-02 11:07] ckithika-msft commented on #73737
This scenario is possible when the app is asking for only ultra-low risk permissions (sign in, read user profile, open id, offline access) that are exempt from publisher verification. It just happens that the app does not ask for any other permissions.

Additional information can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-user-consent?tabs=azure-p

[2021-09-02 11:25] fbertilsson opened #80540 "Is inter subnet communication allowed per default"
Is inter subnet communication allowed per default or disallowed. That would be useful to know for those who read to learn.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd190c21-5b50-87ba-37dd-0b0c017ec6fb
* Version Independent ID: d9720147-207c-4c98-ba8d-016ff4b6ad60
* Content: [Network security group - how it works]

[2021-09-02 11:40] SaiKishor-MSFT commented on #80163
@cherylmc Can you please look into this?

[2021-09-02 11:48] shashishailaj commented on #80521
@aspnet4you Thank you for your feedback . We will investigate and update the thread.

[2021-09-02 11:54] shashishailaj commented on #80526
@skrabbe001 Thank you for your feedback . We will investigate and update the thread.

[2021-09-02 12:02] Svijay-msft commented on #80362
Can you please confirm whether the SQL Server has Always encrypted?

Also, note - Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on Microsoft Q&A Platform.

[2021-09-02 12:02] KranthiPakala-MSFT commented on #80293
@begler1 We will now proceed to close this thread as this is taken offline for support route. Please do share the support ticket number once it is filed so that we can track it internally.

Thank you

[2021-09-02 12:02] #80293 closed

[2021-09-02 12:05] Nimleth opened #80541 "Availability Zones"
Hi,

The SLA of 99.99%, does that mean Azure DB for MariaDB makes use of Availability zones?

Rgds,
Dennis

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9467d144-cf2e-70e3-4f05-86852145bd3b
* Version Independent ID: 567253e2-9b62-ddab-55d5-a37f422f285c
* Content: [High availability - Azure Database for MariaDB](https:

[2021-09-02 12:06] KranthiPakala-MSFT commented on #80403
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-09-02 12:06] #80403 closed

[2021-09-02 12:15] ccg-ahagen commented on #80506
Thanks for getting back to me! I'm using Runtime 8,3,  I also tried 9.0 to see if that would help the issue with no luck.

[2021-09-02 12:40] IanIsFluent opened #80542 "Scope claim is namespaced - so incompatible with non-MS providers like Auth0"
I can't use the instructions on this page with Auth0 tokens, because they place scopes in a claim named `scope` - not `http://schemas.microsoft.com/identity/claims/scope` or `scp`.

This seems confusing to me and worth a mention?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14524e2e-a5c6-ef53-0643-879b63b6a9f4
* Ver

[2021-09-02 12:40] AnuragSharma-MSFT commented on #80527
@MS-jeremy Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-02 12:44] cephalin commented on #68637
both the "main" issue and the version issue have been resolved. #please-close

[2021-09-02 12:44] #68637 closed

[2021-09-02 12:44] saundersmatt opened #80543 "Reference to PHP Framework on App Service Python documentation page"
There seems to be an unnecessary reference to CodeIgniter PHP Framework on the App Service Python page

"In CodeIgniter, the is_https() checks the value of X_FORWARDED_PROTO by default."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 682f3cfc-22d7-c367-1215-a692d6031089
* Version Independent ID: ec754538-109a-4062-2acf

[2021-09-02 12:54] camillagaardsted opened #80544 "Missing external table location when running the external table write example"
Is the external table location missing as a parameter in the external table write example code?

df.write.
    option(Constants.DATA_SOURCE, <DataSourceName>).
    option(Constants.FILE_FORMAT, <FileFormatName>).
    synapsesql("<DBName>.<Schema>.<TableName>", Constants.EXTERNAL)

I get this error:

Error: java.lang.IllegalArgumentException: Please specify the external table location

when I try t

[2021-09-02 13:14] BhargaviAnnadevara-MSFT commented on #80387
@sds111 Firewall rules on the DB server should be added/edited from the **Firewalls and virtual networks** blade under **Security**. You will find it here on the Azure portal:
![image](https://user-images.githubusercontent.com/44050820/131848737-b5371a38-66ab-46bb-a6e3-53b487b42da9.png)

If you want to do it via Azure CLI, please refer to this section from the tutorial: [Configure a server firewal

[2021-09-02 13:23] mardahl commented on #80163
To test it.
Just have a client setup with a working certificate from an enterprise CA.
And then in certmgr.msc you renew the certificate.
After this the UWP azure vpn client will report that it has an unknown certificate in the connection configuration.
Selecting the new cert is easy, but for hundreds of users, this is not really practical.

[2021-09-02 13:28] jontreynes opened #80545 "Small Grammar Update"
Grammar Update

[code]
should be

[code]

I cannot find the content source to where I can just PR the change, but here's some feedback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 810a218a-80a5-2da0-b540-26347f9ef908
* Version Independent ID: 41c2a12f-99b6-0faa-500b-3e4308cd00de
* Content: [Secret scopes - Azure Data

[2021-09-02 13:46] afscrome opened #80547 "Contradicting information about whether Basic tier supports VNet Integration."
The `How regional VNet Integration works` section of this document seems to suggest that VNet integration is supported with Basic tier app service plans, however the pricing options page suggests vnets are only supported at standard and higher tiers. https://azure.microsoft.com/en-gb/pricing/details/app-service/linux/

![image](https://user-images.githubusercontent.com/289860/131854719-85f8d5d0-f9

[2021-09-02 13:54] psmanhas commented on #80531
@yuxisun1217 Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-02 13:54] psmanhas commented on #80531
@vikancha-MSFT Can you please check and add your comments on this doc update request as applicable

[2021-09-02 13:57] helderpinto opened #80549 "Changing performance tier without downtime still requires deallocating VM/detaching disk"
In the steps to change the performance tier without downtime, one of the steps still asks to "Either deallocate the VM or detach the disk". It seems to be incorrect, as the feature is supposed to actually avoid this action. Can you please explain why or fix the docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9265f

[2021-09-02 14:13] HeidiSteen commented on #80468
@PaulVrugt, sorry I forgot to mention the most important part.  Language analyzers are used as-is and can't be customized; you just reference them by name and that's it.  Did you try a custom analyzer with a Microsoft language tokenizer?  https://docs.microsoft.com/en-us/azure/search/index-add-custom-analyzers#tokenizers

[2021-09-02 14:26] PaulVrugt commented on #80468
@HeidiSteen lol yeah that's an important bit of information. No I didn't try this yet. Does using a custom analyzer with a microsoft language tokenizer result in the same as using a language analyzer directly? What I mean is, do I lose any functionality if I do this instead of directly using a language analyzer?

[2021-09-02 14:34] rothja commented on #76342
@pochiraju Raj, I see that you have addressed this question and the docs are updated. In the future, add #please-close tag to the comments to close the git issues. The sign-off is used only on public pull requests. Thank you, and thank you, Shane, for engaging with us on documentation feedback!

[2021-09-02 14:34] #76342 closed

[2021-09-02 14:34] tfitzmac commented on #79817
@MhAllan - the limit of 1,000 applies per unit per day. But, you can have up to 100 units per instance so the per instance limit is 100,000. Beyond that, you can coordinate multiple instances to handle more. I'll add a link to https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-howto-scale-multi-instances

[2021-09-02 14:36] HeidiSteen commented on #80468
@PaulVrugt -- it should, but to be honest, I haven't tried it.  A tokenizer is the major part of a analyzer, where analyzer is just some combination of tokenizer-tokenfilter-charfilter, with the filters being optional.  If you try it and it's not giving you what you want, you should post to Stack Overflow so that an engineer can unblock you.  I see you already have one post that is still waiting f

[2021-09-02 14:40] rothja commented on #71200
As this was addressed in the content in the related issue and PR, I am closing this issue. FYI @cawrites. #please-close

[2021-09-02 14:40] #71200 closed

[2021-09-02 14:43] manknewl commented on #80513
hey bharath - this makes reference to a 20% or 10% fee, I thought the fee was now 3%.
"
* Reduced Marketplace Service Fee – For certain SaaS offers that you have published on the commercial marketplace, Microsoft will reduce its Marketplace Service Fee from 20% (as described in the Microsoft Publisher Agreement) to 10%. For your offer(s) to qualify, your offer(s) must have been designated by Micro

[2021-09-02 14:47] rothja commented on #71183
It looks like the original tutorial has been removed as it redirects to the landing page now. Because the screenshots are no longer an issue (as the article was removed), I am closing this issue. If this is incorrect, please let me know and we will address the issue in the documentation. Thank you! #please-close

[2021-09-02 14:47] #71183 closed

[2021-09-02 14:49] bojanmisic opened #80551 "Possible error for Blazor Server apps - not using Authorization Code with PKCE flow"
In `Web Application` section, row for `Blazor server series` it says that it uses `Authorization Code with PKCE` flow. Is this correct? The way I see it this is mainly used for SPA, mobile and native apps. When opening the sample for `Signin users (B2C)`, for example, I don't see that it uses PKCE flow.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-09-02 14:49] rothja commented on #70774
@pochiraju Raj, hello. Do you know if the docs have been updated yet with regard to this issue? Thanks!

[2021-09-02 14:50] KumudD commented on #73209
#reassign: @ramandhillon84

[2021-09-02 14:51] vlkuznet commented on #58252
Very nice documentation! Happy to see that!

[2021-09-02 14:52] tfitzmac commented on #79817
The update should get published later today.
#please-close

[2021-09-02 14:52] #79817 closed

[2021-09-02 14:52] KumudD commented on #74304
#reassign:" @allegradomel

[2021-09-02 14:52] PRMerger19 commented on #74304
" is not a valid GitHub ID, or is not a collaborator on this repo.

[2021-09-02 14:53] KumudD commented on #69167
#reassign: @ramandhillon84

[2021-09-02 14:56] rothja commented on #70986
As there is a potential answer, closing this issue for now. If this was a mistake, please comment on this thread and we can reopen and continue discussing it. Thank you! #please-close

[2021-09-02 14:59] snaldurgkar opened #80552 "azdata login issue"
azdata login output shows "controller-**svc**-external" (svc before external) not found, but the 'kubectl get pods' has "controller-external-**svc**" (here svc is after external)

snaldurg@SNALDURG-M-WH74 ~ % azdata login --auth basic --username arcadmin

Namespace: arc
(404)
Reason: Not Found
HTTP response headers: HTTPHeaderDict({'Cache-Control': 'no-cache, private', 'Content-Type': 'application

[2021-09-02 15:00] snaldurgkar commented on #80552
azdata --version
20.3.7
Build (20210727.1)
SQL Server 2019 (15.0.4153)
Legal docs and information: https://aka.ms/eula-azdata-en
Python (Darwin) 3.8.11 (default, Jun 29 2021, 03:08:07)
[Clang 12.0.5 (clang-1205.0.22.9)]
Python location '/usr/local/Cellar/azdata-cli/20.3.7/libexec/bin/python'

[2021-09-02 15:00] rothja commented on #68324
#reassign:rothja @mohowzeh Nick, apologies for the delayed response. Since you opened this, that link has been removed from the Additional Resources section from what I can see. Appreciate you reporting it! Thank you! #please-close

[2021-09-02 15:00] #68324 closed

[2021-09-02 15:01] rothja commented on #68943
@pochiraju Raj, can you take a look at this suggestion and see if we want to add it to the article? Thank you!

[2021-09-02 15:03] PaulVrugt commented on #80468
Thanks @HeidiSteen !

[2021-09-02 15:03] rothja commented on #71860
@pochiraju Raj, is this something we could note to improve in the article in the future? @chaisen2006 Thanks for the suggestion, and apologies for the long delay.

[2021-09-02 15:09] rothja commented on #45464
@arunkumarthiags Arun, could you take a look at this older issue. I believe it might have gotten lost in the shuffle because it was never assigned to you( #assign:arunkumarthiags ). Is there still a change needed here? Thank you!

[2021-09-02 15:09] jmprieur commented on #80542
@IanIsFluent this article is about web APIs protected by Azure AD?
I don'4t understand your question, how could it work with Auth0?

[2021-09-02 15:11] rothja commented on #62605
@arunkumarthiags Arun, could you take a look at this older feedback item to see if we need to make changes to the article? If not or if this should be queued up for future improvements, we should note that and close the issue. Thank you!

[2021-09-02 15:11] arunkumarthiags commented on #45464
Looking.

[2021-09-02 15:12] rothja commented on #73353
@Sri-Charan11 Were you able to try Arun's suggestion? Thank you!

[2021-09-02 15:15] rothja commented on #69348
@arunkmarthiags Arun, hello. Let me know if you have had a chance to look at this issue. Thank you!

[2021-09-02 15:15] arunkumarthiags commented on #45464
So, this is not required anymore. DMS does not need customers to drop and recreate foreign keys in the target anymore. We handle this automatically in the experience. I think it is safe to close this PR.

[2021-09-02 15:17] arunkumarthiags commented on #62605
This is not needed anymore. DMS handles foreign keys automatically and customers do not have to drop/recreate it.
#please-close

[2021-09-02 15:17] #62605 closed

[2021-09-02 15:18] arunkumarthiags commented on #61689
Dropping/recreating FKs in Postgres are not required anymore. #please-close

[2021-09-02 15:18] #61689 closed

[2021-09-02 15:18] rothja commented on #64188
@arunkumarthiags Arun, hello, let me know if you can take a look at this issue and provide your feedback. Thank you!

[2021-09-02 15:19] arunkumarthiags commented on #45464
#please-close

[2021-09-02 15:19] #45464 closed

[2021-09-02 15:19] hemantmalik commented on #79782
Thanks @Karishma-Tiwari-MSFT

[2021-09-02 15:21] arunkumarthiags commented on #73353
Please reopen PR if needed. Thanks. #please-close

[2021-09-02 15:21] #73353 closed

[2021-09-02 15:21] rothja commented on #58129
I apologize that this issue did not get addressed.  It was mistakenly unassigned for over a year. If it is still a problem, please comment on this thread and we can reopen it to discuss. Again, very sorry for the confusion. #please-close

[2021-09-02 15:21] #58129 closed

[2021-09-02 15:21] rothja commented on #58129
#assign:rothja

[2021-09-02 15:22] spelluru commented on #79964
#assign:spelluru

[2021-09-02 15:22] spelluru commented on #79964
#reassign:spelluru

[2021-09-02 15:23] tbienvenu commented on #80362
This is an OnPremise SQL server without Always Encrypt. I didn't try with an SQL Server always encrypted database.

[2021-09-02 15:23] spelluru commented on #79964
@HPatArla - Yes. It's encrypted with Microsoft-managed keys by default. I will confirm with the product team and update it today. Thanks.

[2021-09-02 15:24] IanIsFluent commented on #80542
Wow, you're right, sorry! I came from Google - and the actual _article_ doesn't mention Azure AD anywhere - I see it is in the title NOW 😟

[2021-09-02 15:24] Sri-Charan11 commented on #73353
Hi,

First things first,
Now MySQL online replication is not working. So there’s no point of executing this script.
Please note that due to lack of Online replication of MySQL from AWS to Azure using DMS, we are losing many customers. That should be the stress point than the script at this point.

***@***.***
Azure Implementation Specialist
M: +91 9985692108 E: ***@***.*** ***@***.******@***.***>

[2021-09-02 15:27] rothja commented on #66329
@mksuni Could you take a look at the original suggestion in the issue and see if you think it is addressed in your changes (or subsequent changes since the beginning of the year)? If not, is this something we could plan for the future or add now? Thank you!

[2021-09-02 15:27] arunkumarthiags commented on #73353
Thanks, Sri Charan. That is right, we do not support online migrations in MySQL anymore. However, there are other ways to do online migrations using tools such as MyDumper + binlog replication. All details are documented in https://aka.ms/migrate/mysql. Please feel free to reach out to AskAzureDBforMySQL@service.microsoft.com if you have more questions. We'd be happy to help out.

[2021-09-02 15:28] arunkumarthiags commented on #73353
#please-close

[2021-09-02 15:28] rothja commented on #74034
@mksuni Sunitha, could you take a look at this issue? Thank you!

[2021-09-02 15:39] YutongTie-MSFT commented on #80295
@timmyreilly Hello Tim, I will forward this issue to author for more details. Thanks.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-09-02 15:39] #80295 closed

[2021-09-02 15:39] jmprieur commented on #80542
#please-close

[2021-09-02 15:39] #80542 closed

[2021-09-02 15:50] simonkurtz-MSFT opened #80555 "FAQs is missing OCSP information"
My understanding from the PG is that Application Gateway supports OCSP stapling but the FAQs make no mention of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88466307-81b8-1e5b-7f2c-191d8e818071
* Version Independent ID: 08ad49f3-6a57-b925-794a-37215e985aba
* Content: [Frequently asked questions about Azure Appl

[2021-09-02 15:55] SaiKishor-MSFT commented on #80388
@mscatyao could you please look into this?

[2021-09-02 16:02] zachhumphrey27g opened #80557 "Update documents to reflect not VNET Integration Available"
Please add a note to the page that vnet integration is not compatible with this service offering.

https://github.com/MicrosoftDocs/azure-docs/issues/62866

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da05d7fa-1789-ec63-5219-e2f71a028ef6
* Version Independent ID: 5e0b8eea-f056-830f-26e1-3e3c1b9019e3
* Content: [Quick

[2021-09-02 16:02] marcosdiasfte opened #80558 "Including info/topic about the AD DS with ServiceLogonAccount option"
As a Microsoft Azure Support Engineer, I worked on the case 2108270050000274 recently, it might be a good idea to describe how to create a new AD User in AD and what data to include when customers need to enable the AD DS with ServiceLogonAccount option, by leaving out the “-trustedForDelegation” parameter from the “New-ADUser” command specified in the AZFilesHybrid PowerShell module (file AzFiles

[2021-09-02 16:12] SaiKishor-MSFT commented on #80394
@dewitweb Thanks for pointing this out, this may need some correction. In the meanwhile, the meaning its trying to convey is about how SNAT works. SNAT maps the IP address of the backend to the public IP address of your load balancer. Please let me know if you have further questions.

@asudbring Can we look into the document and make changes? Thank you!

[2021-09-02 16:16] SrijitBose-MSFT commented on #80390
@suuuuuper any update on this?

[2021-09-02 16:20] leshr4k opened #80559 "Problem with the Powershell commands here"
The Powershell commands listed in this article actually delete sub keys underneath them:
HKLM:\SOFTWARE\WOW6432Node\Microsoft.NETFramework\v4.0.30319
HKLM:\SOFTWARE\Microsoft.NETFramework\v4.0.30319

Here is the list of what gets deleted - which can cause unintended consequences for other .NET applications that may be referring back to them for any reason:

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.

[2021-09-02 16:22] SaiKishor-MSFT commented on #80163
@anzaman Could you please look into this?

[2021-09-02 16:31] olandese opened #80560 "Give a better explanation about the replica count for VMSS"
[Enter feedback here]

The explanation for the replica count best practices for Scale Set is not clear to me. If I understood well, actually for every scale set you need an extra replica?

Can you be a bit more specific with more examples, like:

1 VMSS with 10 instances, how many replicas advised?
1 VMSS with 50 instances, how many replicas advised?
2 VMSS with 100 instances, how many replicas is

[2021-09-02 16:45] psmanhas commented on #80538
@darylnz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.We will update you accordingly.

[2021-09-02 16:46] psmanhas commented on #80538
@normesta Can you please check and add your comments on this doc update request as applicable

[2021-09-02 16:48] psmanhas commented on #80539
@yutaro113 Thank you for sharing your query! We are currently investigating and will get back to you shortly on this.

[2021-09-02 16:51] ChaitanyaNaykodi-MSFT commented on #80540
Hello @fbertilsson, Thank you for reaching out. These are [the default rules](https://docs.microsoft.com/en-us/azure/virtual-network/network-security-groups-overview#default-security-rules) added when you create a new NSG. The `VirtualNetwork` [service tag](https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview) represents the virtual network address space as shown below.
![i

[2021-09-02 16:55] ChaitanyaNaykodi-MSFT commented on #80555
Hello @simonkurtz-MSFT,
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.
FYI @vhorne

[2021-09-02 17:09] sumeetmittal commented on #80465
Azure AD doesn't support service endpoints itself.. Microsoft.AzureActiveDirectory is used for ADLS SE support..

[2021-09-02 17:17] JamesTran-MSFT commented on #80559
@leshr4k
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-09-02 17:17] PratibhaBeniwal commented on #80255
Yes the firewall rules are added to Azure Cosmos account. I already checked
the  ports are  configured properly as mentioned in the document.

On Thu, 2 Sep, 2021, 10:26 am AnuragSharma-MSFT, ***@***.***>
wrote:

[2021-09-02 17:22] itguysocal opened #80562 "An error occurred while processing your request"
The SAML toolkit no longer appears to be working. I tried to set it up in two separate tenants. The error message on the SAML toolkit is "An error occurred while processing your request."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0800632e-a9b3-5f96-f290-207c7ef6be88
* Version Independent ID: eaa3c7a0-76d5-433f-9ac

[2021-09-02 17:25] JamesTran-MSFT commented on #80562
@itguysocal
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-02 17:28] roygara commented on #60413
@larryclaman Thanks for the feedback, we appreciate it. We've updated the article to include managed disk guidance and made a separate article for the unmanaged disk guidance.

Accordingly, I'll close this out.

#please-close

[2021-09-02 17:28] #60413 closed

[2021-09-02 17:33] pochiraju commented on #71860
hello,
You need to have a "CONTROL SERVER" privilege on the source SQL Server migrating to Azure SQL DB.  We try to reduce the scope of the permissions further in our upcoming releases.
You need to make sure to open TCP/IP port inbound on your windows and any other firewalls between the DMS network and on-prem SQL Server.  You can find the complete list of ports here,  https://docs.microsoft.com/e

[2021-09-02 17:35] leshr4k commented on #80559
One other thing to note too - once removed, those keys don't get restored back with a .NET update or by the .NET framework repair tool. When I was testing this out, I had to pull them from a backup and manually put them back in.

[2021-09-02 17:40] kevin-titantech commented on #80081
The error of no operation  location being passed back has surfaced again today. We have made no code changes since the original occurrence which cleared itself up last week. I wonder if this is either a subscription issue, or OCR service backend issue, or some other Azure environmental issue. Please re-open this ticket.

[2021-09-02 17:47] normesta commented on #80538
@yzheng-msft can you please provide your feedback on this? Thank you!

[2021-09-02 17:51] catherine-weiss opened #80563 "Purge protection: enabled by default?"
The documentation states, "Purge protection is an optional Key Vault behavior and is not enabled by default. "

I am deploying a key vault using an ARM template. Currently, the template does not enable soft delete or purge protection. When I test the deployment, the soft delete is enabled (which, I understand, is a Microsoft default). However, purge protection is also enabled. Is this also enabled

[2021-09-02 17:53] rido-min opened #80564 "X509 tool suggested in this article is marked as archived"
this command line tools links to https://github.com/azure/iot-central-firmware/tree/master/tools/dice that is archived.

Is this tool still the recommended option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703425a8-a444-1c4e-7e2b-152f6856bbf4
* Version Independent ID: 5df42622-30a0-cb07-f31d-51fc6efd6199
* Content

[2021-09-02 17:53] ChaitanyaNaykodi-MSFT commented on #80410
Thank you @sumeetmittal for your response.
@sidprasher, I hope this resolves your issue. We will now proceed to close this issue out. Please tag us in your response if there are any additional concerns. Thank you!

[2021-09-02 17:53] #80410 closed

[2021-09-02 17:55] normesta commented on #80247
Hi @diberry I can't seem to find that code in this article.  Can you tell me in which section you see this code appearing?

[2021-09-02 17:56] normesta commented on #80247
@diberry my apologies. Just found it in one of the JS examples. I'll investigate. Sorry for the confusion.

[2021-09-02 17:57] VikasPullagura-MSFT commented on #80560
@olandese
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-09-02 17:57] VikasPullagura-MSFT commented on #80560
@olayemio @axayjo
Can you please check and add your comments on this doc update request as applicable.

[2021-09-02 18:00] saadatahmed opened #80565 "Client_id_of_Backend vs client-id tag"
[Enter feedback here]

This example confuses the concept between Client_id_of_Backend vs client-id property of authentication-managed-identity block:
[code]

Perhaps it can be changed to:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2be8b264-03df-625e-0064-06cb4372c3b7
* Version Independent ID: 87333d80-8130-1

[2021-09-02 18:09] roygara commented on #80549
@helderpinto Thanks for bringing this to our attention, that step is incorrect and we'll go ahead and get it removed from the article.

[2021-09-02 18:11] JamesTran-MSFT commented on #80563
@catherine-weiss
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-02 18:19] roygara commented on #80549
This change has been merged and will be live later today. Accordingly, I'll close this out.

#please-close

[2021-09-02 18:19] #80549 closed

[2021-09-02 18:22] msdpalam opened #80566 "Typo - EXEC sp_addrolemember 'dbmanager', 'mike@contoso.com]';"
There is a typo on this line of the page:
EXEC sp_addrolemember 'dbmanager', 'mike@contoso.com]';

This will result in error message like:
User, group, or role 'mike@contoso.com]' already exists in the current database

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9832f753-4b65-b3cb-a2f0-a79eb34f6207
* Version Indepen

[2021-09-02 18:29] himanshusinha-msft commented on #80544
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-02 18:31] himanshusinha-msft commented on #80545
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-09-02 18:33] himanshusinha-msft commented on #80566
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-02 18:38] ManasaDevadas opened #80567 "Public IP address changes after move"
The doc states that we can move public IP address, we expect the same IP in the destination region.
After move observed that the IP address is not same.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29a5dd7e-4a91-2cce-eeef-1aeb06acd646
* Version Independent ID: cbf42179-4efa-5dca-9dc2-32b9d758d1e

[2021-09-02 18:47] SadiqhAhmed-MSFT commented on #80567
@ManasaDevadas - Thank you for your post. We will look into this and get back to you soon.

[2021-09-02 18:56] #80240 closed

[2021-09-02 18:56] rhod3rz opened #80568 "Error establishing a database connection"
Hi. I've followed the instruction but get 'Error establishing a database connection' when browsing to the public ip.

Some other feedback:

- 'Rename wp-config-sample.php to wp-config.php and replace lines 21 to 32 with this code snippet...'; it looks like it's now lines 21 to 38 with wordpress 5.8.

- 'kubectl get service wordpress-blog --watch'; the service isn't called 'wordpress-blog' in the m

[2021-09-02 18:57] JasonFreeberg commented on #78650
The repo owner merged my PR. The repo builds as-is now. @RyanHill-MSFT we can close this issue now.

[2021-09-02 18:58] BryanTrach-MSFT commented on #80240
@dwhend Thank you for bringing this to our attention. We agree this is a frustrating scenario to get into so we added a note advising others not to change the root.

The changes should be visible within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2021-09-02 19:18] JasonWHowell commented on #80537
I remember Availability Zones are only in preview and the doc was published yesterday.

https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-use-availability-zones

CC: @yanancai

[2021-09-02 19:23] femsulu commented on #80541
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-02 19:35] hansukyang commented on #77630
Hi Mike,

Thanks for the reply! I should have clarified a bit more on the question - in terms of data volume, I was thinking more in terms of custom definition (for instance, defined by number of parameters x number of locations x numbers of months) rather than volume defined by number of kilobytes.
Is this something that can be defined somehow?
Many thanks for the help.
Joseph
On Sep 1 2021, at 2

[2021-09-02 19:47] piotrgwiazda commented on #72302
@RonyMSFT thank you. The private link connectivity is clear, however, your descriprion should officially became part of the documentation.

As for the Conditional Access policy - in the meantime the documentation was updated and Azure Synapse is now on a list here: https://docs.microsoft.com/en-us/azure/role-based-access-control/conditional-access-azure-management

I think that this ticket can be

[2021-09-02 19:47] #72302 closed

[2021-09-02 19:58] ghost opened #80571 "Missing documentation for function getSecretWithLS"
Missing documentation for this method:
mssparkutils.credentials.getSecretWithLS()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1f7baad-e28d-8e25-2852-b58499cdca8c
* Version Independent ID: d88f15f9-7218-3ce2-30bb-388fc63f6ddc
* Content: [Introduction to Microsoft Spark utilities - Azure Synapse Analytics](https://do

[2021-09-02 20:05] sidprasher commented on #80225
Thanks for the clarification!

[2021-09-02 20:05] sidprasher commented on #80410
Thanks for the quick clarification!

[2021-09-02 20:36] SatishBoddu-MSFT commented on #80564
Hello @rido-min Thanks for the feedback.

I have assigned the issue to the content author for further review.

[2021-09-02 20:43] Grace-MacJones-MSFT commented on #80557
Hi @zachhumphrey27g thanks for your comment. Can you please specify what exactly you want to see reflected in the docs?

[2021-09-02 20:47] DerekHerman-MSFT commented on #80558
Thanks for the feedback!  I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-09-02 20:51] keesschollaart81 commented on #57189
As the uservoice site has been closed and the link above is dead... Any update on this? Would love to be able to run a more recent version of CUDA on ACI. I would love to be able to run (for example) a more recent version of ONNX in ACI...

[2021-09-02 21:01] adstuart opened #80572 "Scenario 1 graphic would benefit from updating"
- The first graphic is barely legible due to resolution, clicking magnify does not help.
- More importantly the UDR on the backend pools subnet could be misconstrued. The backend pool subnet UDR in scenario 1, does not need a UDR 0/0 to Internet, this is only required for the APGW subnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-09-02 21:02] adstuart commented on #80572
![image](https://user-images.githubusercontent.com/51229242/131915689-43f0cd67-6717-474f-b547-7f780dd345ab.png)

[2021-09-02 21:07] Grace-MacJones-MSFT commented on #80547
Hi @afscrome, thanks for the feedback!

 Are you referring to this line in the doc " _The Basic and higher pricing plans are dedicated hosting plans where there are no other customers' workloads running on the same workers_." I believe that line was referring to apps hosted in app service  in general. Apps in the Free and Shared (preview) service plans are base tiers that run on the same Azure VMs

[2021-09-02 21:27] afscrome commented on #80547
Yes @Grace-MacJones-MSFT that is the line I was referring to.  It is the first sentence after the heading “ How regional VNet Integration works”.

Whilst I agree there is nothing wrong with that sentence taken in isolation, the fact that it’s in a document about VNets, and there is no other mention of Basic plans not being supported, led to me initially believing that Basic plans supported VNets.

[2021-09-02 21:29] VitalyMCT opened #80573 "Aspects related to Azure Synapse Analytics"
I think this document would benefit from a comprehensive review and possible restructuring, as it pertains to ASA. For example, the terminology in ASA has evolved substantially since ASA first went GA and it's unclear from reading the document what's available there today in the context of Private Links.

For example, is the info in this document relevant to the Dedicated SQL Pools in ASA? Serverl

[2021-09-02 21:32] MarileeTurscak-MSFT commented on #80551
@bojanmisic
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-02 21:55] JamesTran-MSFT commented on #80508
@leandmilo
Since this issue is being handled by the appropriate team, I'll go ahead and close this out.

If you don't see any changes after the mentioned timeline, please let me know.
Thank you for your time and patience throughout this issue.

[2021-09-02 21:55] #80508 closed

[2021-09-02 22:10] rickschwabe commented on #34263
Hi @Belliqueu

please do this two steps:

`Uninstall-Module -Name AzureAD`
`Install-Module -Name AzureADPreview -RequiredVersion 2.0.2.129`

After this steps the Property "-MembershipRule" should be available.

[2021-09-02 22:30] kgremban commented on #56787
I'm closing this issue as stale. If this is still an issue, consider posting in Microsoft Q&A to see if someone else in the community has suggestions: https://docs.microsoft.com/answers/topics/azure-iot-edge.html.

#please-close

[2021-09-02 22:30] #56787 closed

[2021-09-02 22:32] kgremban commented on #54095
Thank you for sharing your solution with us, asinitson. I've passed along your feedback to the product team, and am closing this issue as resolved.

#please-close

[2021-09-02 22:32] #54095 closed

[2021-09-02 22:35] v-gpettibone commented on #80286
@RonMatsu I would like to close this now if you have no other concerns. Please advise.

[2021-09-02 22:36] EnzoGorlomi23 opened #80577 "Not able to validate id_token_hint using symmetric key in Azure B2C custom policies."
Based on the documentation https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory-b2c/id-token-hint.md. I'm unable to pass the id_token_hint parameter and it keeps redirecting to a signup signin policy along with a 403 Error.

We are using a Java based portal app and using symmetric key setup. Can anyone clarify what needs to be the issuer value ? I currently set it as o

[2021-09-02 22:46] femsulu commented on #80543
Thanks for bringing this to our attention. We are investigating and will get back to you shortly.

[2021-09-02 23:14] kgremban commented on #71204
*1.	Where is this policy defined. Believe it is abstracted, cannot be changed and edgeAgent will attempt indefinitely?*

The retry policy cannot be changed. In this scenario, the edgeAgent will attempt indefinitely.

But if the module fails, and keeps failing, the number of times edgeAgent will restart can be configured by setting the environment variable MaxRestartCount on the edgeAgent.

*2.	See

[2021-09-02 23:18] ChaitanyaNaykodi-MSFT commented on #80572
Hello @adstuart
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-09-02 23:51] jeffaholmes opened #80578 "RunCommandPreview required Azure CLI upgrade (2.23.0 didn't work) but no min version mentioned"
dev:$ az aks command invoke -g xyz -n cluster1-priv -c "kubectl get pods -n kube-system"
'command' is misspelled or not recognized by the system.

dev:$ az upgrade
...
Your current Azure CLI version is 2.23.0. Latest version available is 2.27.1.
...
after upgrade:
dev:$ az aks command invoke -g xyz -n cluster1-priv -c "kubectl get pods -n kube-system"
command started at 2021-09-02 23:45:10+00:00,

[2021-09-02 23:56] 4everinbeta commented on #14645
I feel dumb but I am still not entire clear if that means an instance of a registry for a single image type (e.g. my order api image) or if that means the entire registry. I need to be very clear since it's my budget. :)

[2021-09-02 23:57] femsulu commented on #80552
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-03 00:04] kgremban commented on #74264
Thank you again for the feedback. While your suggestions may be more optimal, there's nothing functionally wrong with the documentation as it is currently. We'll take this into consideration as a future enhancement. For now, I'll close this issue.

#please-close

[2021-09-03 00:04] #74264 closed

[2021-09-03 00:48] gzuber opened #80579 "Warmup triggers are available for more than just premium plan"
This page states that "The warmup trigger is only available to apps running on the Premium plan." but I believe it's supported for everything but consumption.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8bd5164-c40a-241a-d0ea-ccce7659f9ab
* Version Independent ID: f6a565b3-c03b-12bd-4bf4-a4ca19645811
* Content: [Az

[2021-09-03 00:53] femsulu commented on #80577
Thanks for bringing this to our attention. We are actively investigating and will get back to you shortly.

[2021-09-03 01:12] GitaraniSharma-MSFT commented on #80465
Thank you for the confirmation @sumeetmittal.

@tetsuyasodo , as mentioned by Sumeet, Azure AD doesn't support service endpoints itself. Microsoft.AzureActiveDirectory is used for ADLS SE support.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-09-03 01:12] #80465 closed

[2021-09-03 02:34] mayanknayar commented on #79017
@JustinDyt , @psmanhas this was updated last month. We can close this thread. Thanks for the suggestion.

[2021-09-03 02:38] Karishma-Tiwari-MSFT commented on #80578
Thanks for bringing this to our attention.
The Prerequisites section mentions :

It is recommended to use the latest version of Azure CLI. In your case, it was confusing as both the versions are still > 2.2.0 (2.23 and 2.27). The error message as you shared above (Your current Azure CLI version is 2.23.0. Latest version available is 2.27.1) is meant to avoid such confusion.
The prerequisites will

[2021-09-03 02:38] #80578 closed

[2021-09-03 03:07] RyanHill-MSFT commented on #80262
@take-4c, for `WEBSITE_DNS_SERVER` the following description

I understand your feedback; however, don't forget that one can still have a VM inside their VNET and use it as their DNS. Therefore, being able to use your own `WEBSITE_DNS_SERVER` is there for you. Hope this helps clarify things. If not, feel free to reopen the issue and tag me in your reply.

[2021-09-03 03:07] #80262 closed

[2021-09-03 03:28] hanslai commented on #78055
Hello @rwike77, any update on this? or an estimate release date,  so people like us, can do better project planning since we need this so much.

[2021-09-03 03:39] yutaro113 commented on #80539
Thank you very much for the quick confirmation! I'll wait for the update.
( I've updated my question 2 a little.)

[2021-09-03 03:45] take-4c commented on #80262
@RyanHill-MSFT -san
Thank you for your investigation! I see. I will review my investigation.

[2021-09-03 04:01] CHEEKATLAPRADEEP-MSFT commented on #80571
@jeffhebrank  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the missing details.

[2021-09-03 04:03] MayankBargali-MSFT commented on #80579
@gzuber Thank you for your feedback! We will review and update as appropriate.

[2021-09-03 04:09] bmedlin commented on #69508
DNS is an essential piece of this, and the configuration is non-trivial. Why not include that here?

[2021-09-03 04:23] BhargaviAnnadevara-MSFT commented on #80539
@yutaro113 Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-09-03 04:27] EnzoGorlomi23 opened #80581 "Reset password flow not able to create a session after changing password - Azure b2c"
Hi, I'm currently using a signup signin flow to reset password B2C custom policy. After successfully, resetting password the flow asks to reverify again(MFA using SSPR) and unable to move on to home page of target app.  Any help is appreciated.

Below are the details.

User Journey

`
`
        <OrchestrationStep Order="1" Type="CombinedSignInAndSignUp" ContentDefinitionReferenceId="api.signuporsi

[2021-09-03 04:30] MayankBargali-MSFT commented on #80296
@pgbfnf We are traking this issue in our backlog for singal tenant and multi tenant environment. For now we will mentioned Multi-tenant while creating the blank logic app to the document as it is valid for multi tenant environment.

[2021-09-03 04:30] #80296 closed

[2021-09-03 04:34] AnuragSharma-MSFT commented on #80568
@rhod3rz Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-09-03 04:35] AnuragSharma-MSFT commented on #80573
@VitalyMCT Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-09-03 04:54] AnuragSharma-MSFT commented on #80255
@PratibhaBeniwal Thanks for replying back. I am tagging the content author to check if we are missing any steps in the documentation.

[2021-09-03 05:00] SatishBoddu-MSFT commented on #80407
Hello @tarunmcom

How to change the provisioning String later?
-->For manual, please refer to this [section](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge?view=iotedge-2018-06#option-1-authenticate-with-symmetric-keys):
![image](https://user-images.githubusercontent.com/62923178/131952129-cf4eaf86-b135-4207-b592-e659c2ce867b.png)

How to see which string is used (directly

[2021-09-03 05:50] dominicbetts commented on #80564
I'll remove this link - you can use either of the other two tools mentioned to create the CA certs and chains.

#please-close

[2021-09-03 05:50] #80564 closed

[2021-09-03 06:17] hardikpithadiya opened #80583 "Followed the same steps as mentioned but data is not coming."
Hello Team,

I have followed the same steps as mentioned over here. But when emails comes, it comes with the blank data. Even there is no data in attachment too.

When I run the query in Application Insight logs, I get the result but the same query does not return data in Logic Apps.

Here is the screenshot of the logic app configuration.
![01_LogicApp](https://user-images.githubusercontent.com/49

[2021-09-03 06:21] #80451 closed

[2021-09-03 06:25] piquet-h opened #80584 "Permission to read static site needs to be granted to Azure DNS"
Note - if Azure DNS does not have Reader permission  (I'm not sure if this is the minimum required permission or not) to the static webapp  the step to add an ALIAS record in Azure DNS will fail with an error.

You need to grant permission to the Azure DNS application object to be able to read the endpoint in order to update DNS.

---
#### Document details

⚠ *Do not edit this section. It is requi

[2021-09-03 06:25] SwathiDhanwada-MSFT commented on #80583
@hardikpithadiya Thanks for your comment. We will review the issue and get back to you shortly.

[2021-09-03 06:28] AnuragSharma-MSFT commented on #80500
@koder101 Please refer to below docs for more details:

[Dynamic Data Masking](https://docs.microsoft.com/en-us/sql/relational-databases/security/dynamic-data-masking?view=sql-server-ver15)

[Get started with SQL Database dynamic data masking with the Azure portal](https://docs.microsoft.com/en-us/azure/azure-sql/database/dynamic-data-masking-configure-portal)

[2021-09-03 06:29] SadiqhAhmed-MSFT commented on #80391
@mikecowie-seequent - Closing this thread for now. Feel free to ping if you've any questions in this matter.

[2021-09-03 06:29] #80391 closed

[2021-09-03 06:40] vrdse opened #80585 "Additional metric desired"
As suggested in Azure Support Case 2108300050001024 I'll make a feature request for Azure Firewall to this page. I'm aware that the reported page is correct.

I understand that Azure Firewall has a variable cost component based on the processed data. I can see the processed data in metrics (throughput), however I didn't find a metric or log to identify the top users, i.e. who is actually causing t

[2021-09-03 06:42] GitaraniSharma-MSFT commented on #80585
@vrdse , thank you for your feedback. We'll review this and get back to you shortly!

[2021-09-03 07:01] dajhorn opened #80586 "UPN and sAMAccountName mismatch causes problems on Linux/Samba domain members"
Azure AD DS sometimes mangles the short username by adding a hexidecimal number in parenthesis like this:

![Azure AD DS - Mangled sAMAccountName](https://user-images.githubusercontent.com/494022/131960621-7ffeb67e-d751-408b-8f56-a9bc15c5af0e.png)

This happens when users are renamed in the Office 365 portal, or when an external user with a similar name is invited to the organization, or sometimes

[2021-09-03 07:18] HPatArla commented on #79964
Thanks @spelluru for quick response :-)

[2021-09-03 07:20] GitaraniSharma-MSFT commented on #80499
@zacabrer , We have assigned this to the content owner/author for review.

@asudbring , for your review.

[2021-09-03 07:23] shashishailaj commented on #80565
@saadatahmed Thank you for your feedback . We will investigate and update the thread.

[2021-09-03 07:37] Grace-MacJones-MSFT commented on #80301
Hi @yutaro113, I was able to repro this issue on my end as seen in the below screenshots. We will bring this up with the engineering team and work with you offline. We will close the issue for right now.
![webapprepo2](https://user-images.githubusercontent.com/42247081/131967872-f63d4ef2-b019-4364-b761-73e7d1e916ab.PNG)
![webapprepo](https://user-images.githubusercontent.com/42247081/131967875-3e5

[2021-09-03 07:37] #80301 closed

[2021-09-03 07:39] gldraphael opened #80588 "Page on azure kubernetes storage has no mention of Azure Shared Disks"
Announcement blogpost: https://azure.microsoft.com/en-us/blog/announcing-the-general-availability-of-azure-shared-disks-and-new-azure-disk-storage-enhancements/
Dynamic provisioning example: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/v1.6.0/deploy/example/sharedisk

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-09-03 07:55] ggailey777 commented on #80151
@southwolf thanks for the follow-up posting here.

[2021-09-03 08:08] ggailey777 commented on #62264
You have unfortunately stumbled into a conceptual side-effect of branding issues and an attempt to make Functions simpler for most customers to get started. I'm not sure we'll be able to successfully clarify on all counts, and we've tried. To try to address your questions:

1. A function app always runs on an App Service plan. In the portal you always create a function app with a plan. For Consump

[2021-09-03 08:08] #62264 closed

[2021-09-03 08:23] shashishailaj commented on #80581
@EnzoGorlomi23 Thank you for your feedback . We will investigate and update the thread.

[2021-09-03 08:27] shashishailaj commented on #80584
@piquet-h Thank you for your feedback . We will investigate and update the thread.

[2021-09-03 08:30] DennisGaida opened #80589 "The note about the suffix for naming should be placed higher in the doc"
There is a note a bit down the documentation saying:

_Note

The naming format for the function app and storage account has changed. To guarantee global uniqueness, a random and unique string is now appended to the names of these resource._

This note is placed way after step 4 in **Deploy Feature** which just states "Type a name that is a valid URL path". The note appending suffixes to this name

[2021-09-03 08:30] michaelspinks opened #80590 "Link to ARM / Bicep Templates please"
It would be beneficial to include a link to the relevant ARM / Bicep JSON that needs to be turned on and not just Powershell / Azure CLI, please.  When we are in the world of the cloud and it's all about velocity It just saves time for your customers looking it up.

It would be refreshing that these articles don't go live unless they have Azure CLI, Powershell, ARM/Bicep.  In my world, we are tryi

[2021-09-03 08:30] shashishailaj commented on #80586
@dajhorn Thank you for sharing this great feedback . We will investigate and update the thread.

[2021-09-03 08:47] Svijay-msft commented on #80484
@kvsanders - My understanding is that you will have to create the package in the Devops with the below code mentioned in the article :

[code]
Can you please help me in understanding if this is not your ask ?

[2021-09-03 09:00] aseminjakiw commented on #55813
Is there a ETA for this feature? We have essentially the same problem. We have a VM or Web App which wants to read from the built-in endpoint. We would like to use Managed Identity to reduce secret maintenance and improve security.

Currently we have two non-ideal options:
1. We use a connection string with shared access key
2. We create an additional Event Hub and pipe the data from IoT Hub to Ev

[2021-09-03 09:01] SnehaAgrawal-MSFT commented on #80590
@michaelspinks Thank you for your query . We will investigate and update the thread.

[2021-09-03 09:03] aseminjakiw commented on #78685
Is it possible read from built-in endpoint with AAD authentication?

[2021-09-03 09:08] Ajay-MS opened #80591 "Queries on SNAT ports"
Few queries on the document - https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#exhausting-ports

1. How to enable connection reuse for the SNAT ports?
2. How SNAT ports can be reutilized when destination ports and IP are different?
3. What is meaning of this line "_Every connection to the same destination IP and destination port will use a SNAT port_". Does 1

[2021-09-03 09:09] Donovand4 opened #80592 "Inconsistent Information and Screenshots"
Hi All,

Please can you correct or improve the documented steps for granting permissions for the role assignment.

Steps identified do not match what is seen on the article. Step one for assigning the role requests that the administrator use the try feature, but the command shown in the try does not match what is shown in the article and when following the steps to grant read access, the command e

[2021-09-03 09:22] brummens opened #80594 ""Request JIT access to a VM" permissions incomplete when using public ip address"
The "Request JIT access to a VM" is not complete if you use a public IP address. When you use a public IP address you also have to add the following permission.

"Microsoft.Network/publicIPAddresses/*/read"

Kind Regards,

Benno Rummens

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e7f551c-e02a-1a23-6d40-5b0b838f8929

[2021-09-03 09:24] GitaraniSharma-MSFT commented on #80591
@Ajay-MS , thank you for your queries. We'll review investigate and get back to you shortly!

[2021-09-03 09:26] PramodValavala-MSFT commented on #80589
@DennisGaida The note is referring to the screenshot above it. The unique strings are appended as part of the deployment templates, making the expected names of the resources to be different than as shown in the screenshot.

So, Step 4 is still correct.

[2021-09-03 09:35] Wwwsylvia commented on #80390
Hi @suuuuuper , the purge command is supported in a separate CLI called [acr-cli](https://github.com/Azure/acr-cli) instead of Azure CLI.

[2021-09-03 09:36] psmanhas commented on #80588
@gldraphael Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2021-09-03 09:36] psmanhas commented on #80588
@mlearned Can you please check and add your comments on this doc update request as applicable

[2021-09-03 09:48] RohitMungi-MSFT commented on #80506
@ccg-ahagen I tried this scenario on a new cluster and it seems like it is unable to install 1.33.0 version on the cluster. This could be a possible bug on databricks cluster that is now reported.

[2021-09-03 09:48] DennisGaida commented on #80589
Thank you for your prompt reply @PramodValavala-MSFT!

I'm not suggesting step 4 is wrong, I am saying that at the point of creating the resources the user should know that the **chosen name will not be the final name**. Only later in the process (after having executed the deployment) we see a note that the names are actually adjusted (which is good).

I had trouble with this because I actually pe

[2021-09-03 10:08] SadiqhAhmed-MSFT commented on #80592
@Donovand4 - Thank you for your valuable feedback. We will review the content and update as appropriate.

[2021-09-03 10:10] SadiqhAhmed-MSFT commented on #80567
@ManasaDevadas - Public IP address is specific to a region and cannot be retained in the target.

It’s mentioned in our docs : https://docs.microsoft.com/en-us/azure/resource-mover/support-matrix-move-region-azure-vm#supported-vm-networking-settings

[2021-09-03 10:23] aaronswebs opened #80598 "Update linux information regarding barriers"
The section regarding Linux barriers is vague, specifically for XFS.
The current document states "Note that in later Linux kernel versions, the design of XFS file system always ensures durability, and disabling barriers has no effect." This information is vague and we should specify what kernels / OS versions where this has no effect. This issue has become prominent taking snapshots of HANA system

[2021-09-03 10:46] manfredczujan opened #80600 "no info regarding versions of WAF"
Hi there,

Where can i find info regarding the prerequisites ?
I'm using WAF v1 and there is no Bot Ruleset....
br
Manfred

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eecb8e35-6b5f-ed27-879d-9411d062cf6c
* Version Independent ID: fef8a431-ad66-c0f2-aa82-fbb61c8205b1
* Content: [Configure bot protection for Azure Web

[2021-09-03 10:55] zoonoo commented on #64209
@GitaraniSharma-MSFT Is there any update on this from the product owner?

[2021-09-03 11:12] VGSandz opened #80601 "The memory on the machine is less than 1 GB"
[Enter feedback here]

version : Microsoft-ASR_UA_9.43.0.0_Windows_GA_16Jul2021_release

The Azure Windows VM has 16GB Memory, ASR mobility step fails with this, possibly bug.

11:05:51:Handler for check MachineMemoryCheck is SystemRequirementValidator.Handler
11:05:51:Entered Machine Memory Check
11:05:51:Total machine memory size : 15,9995613098145 GB
11:05:51:Machine has only 15.9995613098145 G

[2021-09-03 11:28] mshyatsu commented on #80045
Thank you so much for the update!

[2021-09-03 12:01] RonMatsu commented on #80286
@v-gpettibone Yes! Sorry - I wasn't paying attention there. Thanks for the quick response!

[2021-09-03 12:01] #80286 closed

[2021-09-03 12:35] SadiqhAhmed-MSFT commented on #80601
@VGSandz Thank you for reporting this. The issue has been addressed here - https://docs.microsoft.com/en-us/answers/questions/496250/asr-minium-99gb-of-ram-on-windows-vm.html

[2021-09-03 12:43] nansravn opened #80602 "QnA Maker resource purposes explanation"
Based on recent discussions I've had with jaydeepn, my understanding is that this session of the text is partially incorrect:

By my current understanding of the service, the second ranking is executed inside the App Service, and not by the QnA Maker resource. So QnA Maker resource would only be responsible for the authoring and publishing APIs.

This affirmation about the second ranking layer is

[2021-09-03 13:20] whhender commented on #80074
@msmbaldwin - wanted to follow up with you here as well. Have you been able to have a look?

[2021-09-03 13:21] Donovand4 commented on #80592
Can you also please update the page to include any waiting times that is required before the accounts would be visible?

[2021-09-03 13:37] shashishailaj commented on #80598
@aaronswebs Thank you for your feedback . We will share the same with the content team to review the feedback and take action accordingly .

[2021-09-03 13:37] whhender commented on #80492
@tifischer - Thank you! I've made that update on this data catalog page: https://docs.microsoft.com/en-us/azure/data-catalog/data-catalog-frequently-asked-questions

[2021-09-03 13:38] whhender commented on #80492
You should see it updated by later this afternoon.

[2021-09-03 13:38] whhender commented on #80492
#please-close

[2021-09-03 13:38] #80492 closed

[2021-09-03 13:40] shashishailaj commented on #80594
@brummens Thank you for your feedback . We will investigate and update the thread.

[2021-09-03 13:45] shashishailaj commented on #80600
@manfredczujan Thank you for your query . We will investigate and update the thread.

[2021-09-03 13:51] pbhakuni commented on #51708
I am also facing the same issue. Was there any resolution around this?

[2021-09-03 13:56] amanmcse commented on #80526
@skrabbe001 As of now, this is a known limitation of B2C, which is why the checkbox for implicit flow are required to be selected. The product team is working on it and the libraries/samples will be updated when B2C no longer requires it.

[2021-09-03 13:56] #80526 closed

[2021-09-03 14:14] FaithOmbongi opened #80605 "Broken link to the permissions reference article"
As shared (and verified) via customer issue [#14064](https://github.com/microsoftgraph/microsoft-graph-docs/issues/14064) filed in the Microsoft Graph channel, the portal directs to a broken link in the docs. The correct link is https://docs.microsoft.com/en-us/graph/permissions-reference (note the hyphen, not an underscore)

![131581035-257f39f0-1898-4663-b886-e2460690ee8d](https://user-images.gi

[2021-09-03 14:22] fgheysels commented on #74145
I wonder if there's already any update on this ?

[2021-09-03 14:42] Svijay-msft commented on #80489
@kvansaders - I believe this thread is also related to the thread :  https://github.com/MicrosoftDocs/azure-docs/issues/80484

My understanding is that you are missing the `package.json` file. If this is not your ask, can you please include additional context to help my understanding ?

[2021-09-03 14:44] kvansaders commented on #80489
Fixed by adding the package.json to the git repository.  I was under the misunderstanding that the package.json was automatically included as part of the editor sync to git.

[2021-09-03 14:44] #80489 closed

[2021-09-03 14:45] #80484 closed

[2021-09-03 14:46] chucksnow opened #80607 "Azure AD Connect database naming requirements"
While reading the article "https://dirteam.com/sander/2020/02/27/howto-deploy-azure-ad-connect-with-sql-server/" it is mentioned that as of version 1.3.20.0 the Azure AD Connect databases no longer have to be named "ADSync".  I tried to confirm this information but the  Azure AD Connect Version release history only goes back to version 1.3.21.0 "https://docs.microsoft.com/en-us/azure/active-direct

[2021-09-03 15:18] psmanhas commented on #80455
@mercer The document is updated and changes will go live soon.

[2021-09-03 15:22] aricrowe57 commented on #78055
Hi @hanslai , can I ask a few clarifying questions on your scenario?  My understanding is, you've built a protected Web API, and you use Azure AD middleware to protect it and validate the token.  Your protected web API is failing validation when you try to construct the claims yourself and send them in the authorization header.  Is that correct?

[2021-09-03 15:22] AdelaManea opened #80608 "Portal Redis console seems to be ran remotely now - no longer from local browser"
[Enter feedback here]
Hello team,

I am giving feedback regarding the Console for Redis ran via the Portal.

Our documentation states that it is ran in the local browser, but we have proof that this is no longer true. I believe it is currently ran remotely.
If you look below you will see the IP for the console when we do a CLIENT LIST to my cache is 172.16.0.4.
![image](https://user-images.githubu

[2021-09-03 15:28] psmanhas commented on #80346
@prithvibv Firstly, apologies for the delay in responding on this and any inconvenience this issue may have caused. As this issues need more investigation and live troubleshooting for quicker resolution I would recommend you to contact azure support. If you have a support plan, requesting you to file a support ticket, else please do let us know, we will try and help you get a one-time free technic

[2021-09-03 15:29] psmanhas commented on #80510
@axelriet Could you please confirm if you are using https://docs.microsoft.com/en-us/azure/virtual-machines/windows/move-vm for the mentioned feedback?

Thanks

[2021-09-03 15:50] KarlErickson commented on #78563
The two versions are in sync now. #please-close

[2021-09-03 15:50] #78563 closed

[2021-09-03 15:51] KarlErickson commented on #70666
#assign:@v-kevinmic

[2021-09-03 15:54] prithvibv commented on #80346
The VM  was of type windows 2019 datacenter gen1, there was policy applied on the VM ASC_Default, after creating an exemption for the policy, I was able to sysprep the VM.

More details: https://github.com/actions/virtual-environments/issues/964

[2021-09-03 15:54] #80346 closed

[2021-09-03 16:01] MarileeTurscak-MSFT commented on #80607
@chucksnow
Thanks for your feedback! We will investigate and update as appropriate.

[2021-09-03 16:23] sunnyhay commented on #79249
Sorry for re-opening the issue.
Hi  @trangevi, @luisquintanilla and @Mutilar! As I could update my entry script using Azure CLI, I'm also expecting to update deployed model through Azure CLI.
I know the command is

`az ml service update -n myservice --model-metadata-file modelinfo.json`

But what's inside the modelinfo.json? I'd like a sample or full document about the schema of the json file.
Tha

[2021-09-03 16:27] MarileeTurscak-MSFT commented on #80607
Hi @chucksnow ,

Thanks for calling this out! According to the release notes you can enter the database name during the install. This is mentioned in the [version history](https://docs.microsoft.com/azure/active-directory/hybrid/reference-connect-version-history-archive) for 1.3.20.0, like you mentioned:

I made a pull request to update this article: https://github.com/MicrosoftDocs/azure-docs-pr/

[2021-09-03 16:27] #80607 closed

[2021-09-03 16:28] GiftA-MSFT commented on #80602
@nansravn we'll review your feedback and get back to you shortly. Thanks.

[2021-09-03 16:55] ivapplyr commented on #80511
Hey @yinoa

Sometimes it takes 15mins for the registration to be updated. Would you be able to confirm if this behavior is still showing ?

[2021-09-03 17:07] asergaz commented on #80328
Hello @gary918 can you show me the result of the command `az version` on your environment? Do you have all extensions and CLI updated? Thanks

[2021-09-03 17:13] Oury-MSFT commented on #80541
@Nimleth  Yes. Azure SQL for Maria DB is built in high Availability with 99.99% availability SLA is powered by a global network of Microsoft-managed datacenters. The network helps keep your app running 24/7. You benefit from the built-in security, fault tolerance, and data protection in Azure Database for MariaDB. With Azure Database for MariaDB, you can use point-in-time restore to recover a serv

[2021-09-03 17:27] bandersmsft commented on #80592
@Donovand4 Did you copy your Tenant ID/Object ID described at https://docs.microsoft.com/azure/cost-management-billing/manage/assign-roles-azure-service-principals#find-your-spn-and-tenant-id? You use the Tenant ID/Object ID/Principle ID in the JSON request body. The example image under `4. Select **Run** to start the command` shows the Body JSON with `principleTenantId": "11111111-1111-1111-1111-

[2021-09-03 17:39] femsulu commented on #80605
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-09-03 17:43] BhargaviAnnadevara-MSFT commented on #80387
@sds111 Hope the above inputs help. Are there any further questions here?

[2021-09-03 17:50] femsulu commented on #80605
@santhoshsomayajula  - any idea who on the portal team can help resolve this broken link in the Portal?

[2021-09-03 17:59] zachhumphrey27g commented on #80557
Hi @Grace-MacJones-MSFT I updated my original comment. Can you update the docker-compose documentation noting the lack of ability to integrate the app service with an Azure VNET. Its not denoted anywhere, but reflected on a comment by an MSFT Employee stating the lack of support: https://github.com/MicrosoftDocs/azure-docs/issues/62866#issuecomment-695957345

[2021-09-03 18:10] femsulu commented on #80608
Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-09-03 18:12] swilder0123 opened #80613 "Modification to "Add an account" section"
[Enter feedback here]

Under Add an account, I would recommend the following section(s) be added

Add an account from another Azure AD tenant

By default, an enrollment is associated with a specific Azure AD tenant, and only accounts from that tenant may be allowed to be used to establish an Azure enrollment account. However, you change this behavior to allow an account to be linked from any Azure

[2021-09-03 18:28] #80453 closed

[2021-09-03 18:34] acd13 opened #80614 "Anomaly detection recipe errors"
Hi,
Can you update this page from 2020? I am trying with a databricks spark cluster and getting error -
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<command-3974526890282823> in <module>
      3 from mmlspark.core.spark import FluentAPI
      4
----> 5 detector = (SimpleDetectAnomalies()

[2021-09-03 18:40] MarileeTurscak-MSFT commented on #80355
Make sure that you have the met the prerequisites. Make sure you have either an Azure Information Protection Premium plan or an Office 365 plan that includes Rights Management. You also need to be signed in with a global admin account.

Alternatively, you can use the following [PowerShell commands](https://docs.microsoft.com/en-us/azure/information-protection/activate-service#supported-activation-

[2021-09-03 18:41] MarileeTurscak-MSFT commented on #80355
If this still does not work with those prerequisites met, I think maybe this documentation needs to change.

@davidmu1 and @batamig this looks related to this issue: https://github.com/MicrosoftDocs/Azure-RMSDocs/issues/1367

[2021-09-03 19:00] MonikaReddy-MSFT commented on #80613
@swilder0123 - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-09-03 19:04] Jared975 commented on #38898
Apologies for the delay on my end, but i did test this with automitigation on.  I generated an alert and the SearchResults table was included as expected!

Thanks!

[2021-09-03 19:05] ThomasWeiss commented on #80217
@realrubberduckdev There's no hard limit that we enforce on the number of firewall rules you can create, and while this number is limited by some internal storage constraints, it is going to be high enough to be practical for most if not all use-cases. In practice, we have Cosmos DB accounts with more than 2,000 firewall rules applied.

[2021-09-03 19:10] MarileeTurscak-MSFT commented on #80351
Hi @sebhe,

There are some known connectivity issues with Apple Watch. Please refer to our[ FAQ article for mitigation steps](https://docs.microsoft.com/azure/active-directory/user-help/user-help-auth-app-faq#apple-watch-watchos-7). There was a known bug on watch OS 7. This was reported to Apple but I'm unsure if they have resolved this yet.

One thing that has worked for others is following these

[2021-09-03 19:10] #80351 closed

[2021-09-03 19:15] ThomasWeiss commented on #80278
@lucabovo Private endpoints are used in situations where you don't want to access your Cosmos DB account through its public IP addresses (and only addresses that are local to your vNET). The note you're mentioning means that, even when private endpoints are configured, the [FQDN](https://en.wikipedia.org/wiki/Fully_qualified_domain_name) of your Cosmos DB account ("my-account.documents.azure.com"

[2021-09-03 19:15] realrubberduckdev commented on #80217
Thank you for your responses. Closing this.

[2021-09-03 19:15] #80217 closed

[2021-09-03 19:17] acd13 commented on #80614
Works after moving backwards to Spark 2.4.5/Scala2.11
You may want to update the recipe with latest versions