[2020-05-05 17:05] AshokPeddakotla-MSFT commented on #53641
@stewart2020 Glad to hear that your issue is resolved. I am not sure about the changes.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-05 17:05] #53641 closed

[2020-05-05 17:08] SaurabhSharma-MSFT commented on #54093
@BASFmthibodeaux Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-05 17:10] SaurabhSharma-MSFT commented on #54100
@sbugalski Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-05 17:11] ecfan commented on #54053
Hi @AzureAzim,

If you're referring to the **Address prefix** property here, the value is the IP address or range for the destination service or system in your scenario:

![image](https://user-images.githubusercontent.com/13206671/81093262-b203b180-8eb6-11ea-820d-f8ad29128188.png)

In the next section, [Set up network rule](https://docs.microsoft.com/azure/logic-apps/connect-virtual-network-vnet-s

[2020-05-05 17:11] SaurabhSharma-MSFT commented on #54104
@Shorinsean Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-05 17:12] SaurabhSharma-MSFT commented on #54085
@DeanGross Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-05 17:12] CESARDELATORRE opened #54108 "Add support in UI for model interpretability/explainability in Azure Automated ML"
We got feedback from customers saying “we are not aware of graphical user interface for the model interpretability part in Azure Automated Machine Learning”. But that is a very straight forward feature in AutoML and AML when exploring a model's characteristics in the UI.

However, this doc is focusing only on the SDK support in addition to the concept.
Model explainability in the UI  should be men

[2020-05-05 17:13] SaurabhSharma-MSFT commented on #54082
@AndyLiggettEXP Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-05 17:14] SaurabhSharma-MSFT commented on #53530
@mmushatt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-05 17:14] #53530 closed

[2020-05-05 17:15] SaurabhSharma-MSFT commented on #53788
@kriti218 Sorry, but we do not have GA dates to share.   Yes, you are right preview versions are not recommended for production.

[2020-05-05 17:17] cynthn commented on #53968
@MasterKolka It looks like publisher is part of the URL in Marketplace for the images, but I think you are right that that it doesn't show the SKU name.

@Karishma-Tiwari-MSFT This is feedback for Marketplace and the portal team. Do you have contact there?

[2020-05-05 17:17] cmcapellan commented on #42494
@genlin, I disagree, this part is still not clear. I would still be trying to find an answer if I had not found this comment. The suggested edit by @lesterw1 is not explained at all in "Add or change Azure subscription administrators". Please reconsider adding his suggested edits to this page.

[2020-05-05 17:18] JnHs commented on #45894
Hi @SeanCLeavitt thank you for the suggestion. While there is no immediate plan to create a dedicated tutorial for this topic, we will keep this in mind as we plan future documentation work for Azure Batch. Appreciate your input - I am closing this issue now, but if you have further questions please let us know. #please-close

[2020-05-05 17:18] #45894 closed

[2020-05-05 17:19] glomaga commented on #53447
@amanmcse  thanks for your answer,  the SSO is not working for me on the IEF files, can you give me a copy of your IEF files (base, extension) ? to be able to compare it, please

[2020-05-05 17:21] PeterCLu commented on #54056
#assign:@lobrien

[2020-05-05 17:22] SnehaAgrawal-MSFT commented on #53945
@karabasosman Thanks again for the feedback! I have created PR for this and it will be visible soon.

[2020-05-05 17:23] JnHs commented on #45035
Hi @hvshvs - Thanks for your feedback. This article has been updated to reference container methods with a link to https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.batch.resourcefile?view=azure-dotnet#methods
I hope this helps. I will go ahead and close this issue as I believe it has been resolved, but please let us know if you have further questions. #please-close

[2020-05-05 17:23] #45035 closed

[2020-05-05 17:24] Norrch2 opened #54109 "Missing User Canceled Error Message"
Hello,

When a user clicks on cancel I am returned the following error code: "AADB2C90091" however, I do not see it in this list. can you please update this list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd9c64ff-5065-9a2b-4965-c48685482fe1
* Version Independent ID: 3ff9871f-d28d-b752-750e-1142556ec8cb
* Content:

[2020-05-05 17:25] OneConsutlantsDemo commented on #53868
@CHEEKATLAPRADEEP-MSFT : If I am the owner/contributor at resource group level who has created the Azure Databricks services I will be a default admin in the Databricks Admin console, so how do you say that it will not inherit the parent privilege. Thanks..

[2020-05-05 17:27] Karishma-Tiwari-MSFT commented on #53907
@atrauzzi  helm repo are simple file server with an index.yaml file.

The existing tar.gz file can be uploaded manually, what is important is that the index.yaml file gets regenerated after each upload.

https://helm.sh/docs/helm/helm_repo_index/

Let me know if you have any more questions.

[2020-05-05 17:27] PeterCLu commented on #53430
#assign:@blackmist

[2020-05-05 17:27] SaurabhSharma-MSFT commented on #49933
@Dustefan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-05 17:27] #49933 closed

[2020-05-05 17:28] PeterCLu commented on #53809
#assign:@nibaccam

[2020-05-05 17:28] kgremban commented on #53279
@markrad I just confirmed that you're correct, and the `iotedge check` command doesn't currently work behind a proxy. It's a known limitation that the product team has on their backlog to include. In the meantime, I'll add a note to the content so that future users don't experience the same confusion that you did. Thanks for bringing this to our attention.

[2020-05-05 17:29] SaurabhSharma-MSFT commented on #52185
@JasSuri Thank you.
@ashishharjani We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-05 17:29] #52185 closed

[2020-05-05 17:29] YutongTie-MSFT commented on #54108
@CESARDELATORRE
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-05 17:30] gerryaobrien opened #54110 "No Encryption Option"
The steps to enable customer managed keys, directs the user to select Encryption in the settings.  It does not cover why Encryption may not be available nor how to enable it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 072117ec-0fca-b520-2f30-aaa2552c0377
* Version Independent ID: 79048f2f-cb5e-f5bd-7c39-9a2fd7e5c5f

[2020-05-05 17:32] viju2008 commented on #53892
Can you elaborate a bit more . I could not understand you. Can you give the detailed steps or sample code.

[2020-05-05 17:32] eduardohl commented on #53940
Hello @tcvall86, I've tried several combination and unfortunately it seems to come from pretty much ALL ranges (useast1, 2, central, europe...) meaning it's pretty much all of Azure ip range. This is a big security issue and I would ask Microsoft to treat this as a security priority.

[2020-05-05 17:35] thekad commented on #53604
I believe the pull secret is a `.docker/config.json` style file, meaning your pull-secret.json file should look something like this:

[code]
I formatted the above for clarity, but when passing the value to `--pull-secret` you should compact it, e.g. with `--pull-secret "$(jq -c . pull-secret.json)"`

[2020-05-05 17:40] UnsnappedKhan8 commented on #53887
Oh ok

[2020-05-05 17:41] anthonyjmartinez commented on #53652
@dcvtruong if you're familiar with brew you can install GNU Coreutils that way, and access the GNU version of base64 as gbase64. If you want identical results do the following:

`openssl x509 -in caCert.pem -outform der | base64`

GNU Coreutils default wraps every 76 COL, but OS X base64 doesn't wrap at all (you by default get one line of output, including a trailing newline). The command given in

[2020-05-05 17:45] UnsnappedKhan8 commented on #53887
@mention
Why can't i start another issue

[2020-05-05 17:54] axisc commented on #53916
@JacksonHong is there a repro that you can share? That will help us debug it.

[2020-05-05 17:57] amanmcse commented on #53447
Sure,  Could you please send an email at AzCommunity[at]Microsoft[dot]com with this thread url?

[2020-05-05 17:59] lwang2016 commented on #53889
A fix has been checked in and being deployed. Will update once the deployment is done.

[2020-05-05 18:00] p0onage commented on #32922
I just wanted to point out that this is still an issue.

Subnet on App Services VNET Options are greyed out because they need to be empty

My next step was to create a new Subnet which would be empty and I could use that. When I do this, I get the following error message

**Failed to add delegation to the existing subnet: Adding this VNET would exceed the App Service Plan VNET limit of 1**

My wor

[2020-05-05 18:07] mwchilde commented on #54011
Could it potentially have anything to do with using the Storage blob option for Image type rather than Gallery when I created the host pool.  I am reading over some of the directions on creating the host pool via PowerShell and I will see if I can create the VM using PowerShell.

[2020-05-05 18:07] pratiksharma-dev commented on #53889
@lwang2016 Great news!! Thanks, let me know once it is patched...

[2020-05-05 18:08] davidsmatlak commented on #48632
I submitted the fix for this issue and when it merges, this issue will automatically close. The updated document will be online within 24 hours.

[2020-05-05 18:08] aelmanaa opened #54113 "Wrong tunnel port"
Hello,

I think the port should be 2222 rather than 22.
If you check the tunnel-front pod then you'll see see the following config

export tunnel_front_listen_port=2222 #if you change that make sure that the changes are reflected in Dockerfile of tunnel-front

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125

[2020-05-05 18:11] dcvtruong commented on #53652
Have tried it.  Thanks.

From: Anthony Martinez <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Tuesday, May 5, 2020 at 12:41 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: dcvtruong <david.truong@theagilehub.net>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] syntax error printing the CA certificate i

[2020-05-05 18:16] philmarland commented on #16407
It is my experience also that the CORS headers for the underlying storage account DO NOT pass through when resources are accessed via a standard (Microsoft) CDN. It would be useful for this to be clarified and documented more clearly.

[2020-05-05 18:17] flyingUnderTheRadar opened #54114 "Can you comment on how the source country of the request is determined?"
Is it using IP mapping? If yes where is this list of IP -&gt; Country mapping sourced from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e5e782-751f-218d-ca0e-2f128f489c62
* Version Independent ID: 2f7dc481-9fef-d22f-d5dd-02462420b95b
* Content: [Geo-filtering on a domain for Azure Front Door Service](https://docs.

[2020-05-05 18:18] nibaccam commented on #53809
Hi @roschly, can you please help me understand where you read that, "Dataset.Tabular.from_delimited_files is outdated, since the Tabular class is now for internal use only"?

[2020-05-05 18:22] cweining commented on #53879
Unfortunately, we don't have a way to send profiler data to multiple app insights resources from one machine yet. It is a feature that we have on our backlog, but that doesn't help you right now. Hopefully that is a feature we can add in the next couple of months.

[2020-05-05 18:23] aholler2 opened #54115 "Microsoft.Network/frontDoors template reference missing 2020-01-01"
Update Request: https://docs.microsoft.com/en-us/azure/templates/microsoft.network/frontdoors-allversions

Right now the Front Door ARM template reference lays out the ARM template for Microsoft.Network/frontDoors API version 2019-05-01, however, I'd like to see it for API version 2020-01-01.

Schema has been auto-generated here: https://github.com/Azure/azure-resource-manager-schemas/blob/master/

[2020-05-05 18:24] MicrosoftGuyJFlo commented on #54082
#assign @pelarsen Please review.

Reference: https://github.com/MicrosoftDocs/azure-docs/issues/52401

[2020-05-05 18:25] YutongTie-MSFT commented on #53622
@lhk Thanks for your feedback again, sorry for the document experience. I have assigned this issue to the document author for updating.

@swmachan Hi Swetha, could you please check on this issue and update the document ? Thanks.

[2020-05-05 18:25] RescueWhale opened #54116 "Unsure if I'm mis understanding this or if the product is broken"
When you add a group to an Administrative Unit, is this supposed to add all the members of that group to be dynamically part of that Administrative unit, or is there another purpose for this?

We use AUs to control the MyStaff Portal, and adding a group does not add members in there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-05-05 18:27] xiao-lix commented on #53564
@Ozzian Thanks for bring this up. We did some investigation and confirm and the screen resolution is not automatically collected anymore. I'll update the document.

[2020-05-05 18:30] MicrosoftGuyJFlo commented on #54085
Not an available option as of yet. Thanks for the heads up I have resolved this in the linked PR.

[2020-05-05 18:37] NrgFly opened #54118 "Do you support key vault secret reference without using the version in the URL ?"
Do you support this type of key vault secret reference without using the version in the URL, e.g. https://{Name Keyvault}.vault.azure.net/secrets/{SecretName}?api-version=7.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a82e2777-1cc1-4156-2384-3174f5848b6a
* Version Independent ID: be845133-d2d9-7dc1-26a4-741d873b5c2

[2020-05-05 18:37] tfitzmac commented on #52055
@SychevIgor - thanks for your feedback. We have been working on additional health check integrations and we plan to update the documentation once it is fully ready.

[2020-05-05 18:38] tfitzmac commented on #52055
#please-close

[2020-05-05 18:38] #52055 closed

[2020-05-05 18:40] nivrutti-shinde commented on #53648
Thanks Sumanth

[2020-05-05 18:44] sdgilley commented on #53671
Thanks, @ramakrse for your feedback.  I've changed the image to show that the value you see for this folder will be a version number instead of showing an actual value.

[2020-05-05 18:52] DawgFan commented on #53564
@Ozzian See the attached discussion to provide context.
https://github.com/microsoft/ApplicationInsights-Home/issues/124#issuecomment-406654314

If adding as a custom dimension doesn't meet your needs, I would be interested in hearing your feedback. You may also Upvote and add your scenario here:
https://feedback.azure.com/forums/357324-azure-monitor-application-insights/suggestions/18476218-captu

[2020-05-05 18:52] epinto opened #54119 "Please update screenshots"
Great content, would great to have the screenshots updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56186459-5f87-bfa1-fd17-86726298cc62
* Version Independent ID: 2e4b94f6-aef9-4d4c-702c-1a1dd0a6769c
* Content: [Quickstart - Back up a VM with the Azure portal - Azure Backup](https://docs.microsoft.com/en-us/azure

[2020-05-05 19:03] RoyRK07 opened #54120 "Azure AD token Lifetime for sessions token"
Hi Team,

We have an app that uses the OAuth auth Code grant type. We are trying to restrict session tokens and limiting to 10 minutes however after applying the policy it is not working and users stayed logged in on browsers.

Can you please suggest If we missing something, we are using the below policy :

$policy = New-AzureADPolicy -Definition @('{"TokenLifetimePolicy":{"Version":1,"MaxAgeSessi

[2020-05-05 19:07] #48632 closed

[2020-05-05 19:14] tunagezer commented on #46156
Yes this is accurate but there is active work to break the dependency between PowerApps and Microsoft Azure Management. Stay tuned!

[2020-05-05 19:15] Aniththa commented on #52309
@swanderz @maarten2015 The team is currently looking into this. Are you using transactional data?

[2020-05-05 19:20] SteveLasker commented on #42004
Some additional docs we should consider incorporating:
- https://docs.microsoft.com/en-us/azure/container-registry/container-registry-diagnostics-audit-logs this provides a means to see what authentication has been made, and if it's been successful
- https://docs.microsoft.com/en-us/azure/container-registry/container-registry-check-health - provides general connectivity testing which may be blocke

[2020-05-05 19:23] UnsnappedKhan8 commented on #53887
Hello

[2020-05-05 19:24] PeterCLu commented on #53815
Hi @ngyongkad, I created a new 2019 Windows DSVM and was able to open the jupyter notebook using the desktop shortcut.

Can you try opening jupyter notebook via the command line? Open the DSVM, open a command line prompt, type "jupyter notebook". You should see the notebook server start and a browser window should automatically navigate to the localhost:8888 address

[2020-05-05 19:27] UnsnappedKhan8 opened #54122 "Hello-World"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-05 19:28] #53671 closed

[2020-05-05 19:29] TomGeske commented on #42004
The --attach-acr logic is implemented in az cli and portal, only.  It does nothing else than
1. query the identity in AKS
2. make a role assigment in your ACR to identity (1.)

Some code [here](https://github.com/Azure/azure-cli/blob/32e5102c48749dac013004efe08fb13c98f74590/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2755)

I'll make a PR to incoperate it into our docs.

[2020-05-05 19:36] UnsnappedKhan8 commented on #53524
Ig this would be me
im currently  haveing a onenote error

[2020-05-05 19:45] Blackmist commented on #53430
Thanks for the feedback @stemoor . I've mailed the engineering team to see if using an HTTP trigger with the Azure Machine Learning + Azure Functions combo is something that should work.

[2020-05-05 19:46] #54085 closed

[2020-05-05 19:48] meitalna opened #54123 "Allow AKS using IP ranges"
We want to allow AKS service using IP ranges, not domains. Is it possible?
Can you please comment if AKS service IPs are included under "AzureCloud" tag from Azure ranges and service tags page (https://www.microsoft.com/en-us/download/details.aspx?id=56519) ? Or maybe under another service tag?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-05-05 20:14] Blackmist commented on #53430
Hi @stemoor , thanks again for reporting this.

The engineering team thinks that this may be a bug, and will investigate it further on their end. We will update the documentation based on the information they provide after investigating. I don't have an estimated time on when that will happen.

Since this is a product defect, and not something I can resolve through documentation, I will close this

[2020-05-05 20:14] #53430 closed

[2020-05-05 20:15] MicrosoftGuyJFlo commented on #54071
@spunukol Thoughts on this?

[2020-05-05 20:21] MicrosoftGuyJFlo commented on #54018
@CeciAc So the statement in the document is correct you cant by default join an on-premises AD DS domain from the first run experience. This document if directing people to Azure AD join their devices.

[2020-05-05 20:21] MicrosoftGuyJFlo commented on #54018
#please-close

[2020-05-05 20:21] #54018 closed

[2020-05-05 20:21] AjayKumar-MSFT commented on #53360
Apologies for the delay on this.
@btardif, requesting your comments on this further.

[2020-05-05 20:21] swmachan commented on #53622
Hi @lhk,

Firstly, you have created a regional Translator text resource and to call the API, please follow this documentation - https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference#authenticating-with-a-regional-resource

Secondly, it works with api-eur.cognitive.microsofttranslator.com endpoint. Looks like you have missed the https in the command. I am pas

[2020-05-05 20:24] danimir commented on #52791
@rphoon The images have been now fully updated to reflect the latest product's state. Thank you.

[2020-05-05 20:29] sbugalski commented on #54123
I believe you can find similar Issue. For AKS you should try with AzureCloud tag.

[2020-05-05 20:34] AjayKumar-MSFT commented on #53526
@kevinmkane, Apologies for the delay on this. It depends on how the certificate was created. If it was from a properly established CA, then the AIA (Authority Information Access) fields in the certificate should have the necessary fields. I believe this question is more generic for any website, you could even check the certificate for this Azure docs.
![image](https://user-images.githubusercontent

[2020-05-05 20:37] fmachadopiriz commented on #53668
It did work, thanks a lot!

[2020-05-05 20:37] #53668 closed

[2020-05-05 20:43] tmccrmck commented on #52295
Hi @shankarpandala

We just implemented dynamic input but haven't documented it yet. Let me show you an example.

**Note**: You must be on azureml-sdk version 1.4.0 or greater (including azureml-contrib-pipeline-steps).

Let's say I have a Dataset like this (modified example taken from [the mnist notebook here](https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/machin

[2020-05-05 20:44] aravish opened #54124 "Doc update"
# Azure documentation issue guidance

Please document the cause and solution for this error

Message
Cluster terminated.Reason:Network Configuration Failure

The data plane network is misconfigured. Please verify that the network for your data plane is configured correctly.
Instance ID:86953c50d0104f7192781368d9c77b7b
Error message:Could not access worker artifacts. This is usually due to misconfi

[2020-05-05 20:47] cynthn commented on #54107
@cesar-younes Thanks for catching that! I filed a pull request to add in the back-tick. Thanks!

https://github.com/MicrosoftDocs/azure-docs-pr/pull/113964

[2020-05-05 20:49] dreeves14 opened #54125 "No hardware requirements for the listed Linux flavors"
Do we just follow the recommended hardware requirements for each OS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cbfa632-1612-9d5f-7f36-3128d7305f14
* Version Independent ID: 000c1405-b54f-6668-daac-ac69c97d9601
* Content: [Connect CEF data to Azure Sentinel Preview](https://docs.microsoft.com/en-us/azure/sentinel/

[2020-05-05 20:50] JacksonHong commented on #53916
@axisc I don't have a repro to share. I was following the documentation to create  library using the Microsoft.Azure.Management.ServiceBus library to manage a Service Bus namespace. I could not get Owner permission to the entire Resource Group for my app so I tried having contributor and it worked and allowed me to manage the service bus namespace.

You should be able to easily repro it by creatin

[2020-05-05 20:52] AjayKumar-MSFT commented on #53727
@gmantri-ais, Apologies for the delay! Your feedback has been shared with the content owner for further review.

[2020-05-05 21:01] cynthn commented on #54107
#please-close

[2020-05-05 21:01] #54107 closed

[2020-05-05 21:03] davekats commented on #53836
Awesome, thank you!

[2020-05-05 21:03] AjayKumar-MSFT commented on #53869
Pekka, Glad to know it is working now. Thanks for the update and sharing additional details with the community.

@andresbarcenas, Kindly review the ‘Service Health’ notification on this as Pekka mentioned.
Just to highlight, Service Health provides you with a customizable dashboard which tracks the health of your Azure services in the regions where you use them. In this dashboard, you can track ac

[2020-05-05 21:04] RyanHill-MSFT commented on #53836
No problem.

[2020-05-05 21:04] #53836 closed

[2020-05-05 21:04] venndunlap opened #54126 "Login Issue with Azure AD extension and Windows Server 2019"
When logging into Windows Server 2019, with a Hybrid-AD Joined Windows 10 computer with RDP and utilizing AD credentials, we are able to authenticate with RDP, but we are not able to authenticate on the actual VM. We receive the error that "The username and password is incorrect. Try again." When looking at the user accounts provisioned within the Windows Server 2019 VM, there is no provisioned ac

[2020-05-05 21:21] PeterCLu commented on #53020
#please-close

[2020-05-05 21:21] #53020 closed

[2020-05-05 21:27] HiromuKato opened #54127 "Conversion status returns "Created""
Regarding the description of "Poll conversion status",
I received the following response before "Running", but the document doesn't say "Created".
{"status":"Created","error":null}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 704408ff-292e-059b-1a90-9fd9d6300a96
* Version Independent ID: 49d2de45-2adf-9aee-b75b-0a7b7

[2020-05-05 21:27] Boaz101 opened #54128 "name of managed service identity for a slot"
I can't seem to find out the name of the managed service identity for an app service slot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f57d3177-ce9e-ebfa-03a7-45beb8ca3212
* Version Independent ID: a59df23d-f3ac-9809-61d3-5741e31f020a
* Content: [Managed identities - Azure App Service](https://docs.microsoft.com/en-

[2020-05-05 21:32] kevinmkane commented on #53526
So, you're suggesting I would have to separately recursively fetch the certificates for intermediate CAs, assuming the certificates have the AIA extension. This suggests there isn't a way to get Azure's ARR frontend to pass any other certificates it was presented with during the TLS handshake, then, since the client can present intermediate certificates for this purpose. Does that agree with your

[2020-05-05 21:36] GiftA-MSFT commented on #53736
@nmakarov-artis can you please share your region?

[2020-05-05 21:44] deloittecanada123 opened #54130 "Language Detection Example is throwing exception (v. 2.1)"
Exception below is being thrown, when running the language detection example in this page:

System.NullReferenceException: 'Object reference not set to an instance of an object.'

Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models.LanguageResult.DetectedLanguages.get returned null.

In particular, in the line: Console.WriteLine($"Language: {result.DetectedLanguages[0].Name}");

result

[2020-05-05 21:47] swanderz commented on #52309
my data wasn't transnational I believe...

[2020-05-05 21:52] yorek commented on #52763
Hi @srini1978. That's correct. AFAIK the limitation exists for all secondaries, not only for Azure SQL Hyperscale secondaries. Yes, the idea is to have CT available on secondaries too. Unfortunately at the moment I don't have any ETA to share.

[2020-05-05 22:05] axisc commented on #53916
@JacksonHong I see, thanks for the details.
I did check with the team and it appears that contributor access is permitted as well. We will reflect the same on the documentation.

@PramodValavala-MSFT  I added comments on your PR, please action and close this issue when done.

[2020-05-05 22:11] KranthiPakala-MSFT commented on #54118
@NrgFly Thanks for reaching out. It is required to have version in the URL at the end of secret.

Please refer to `Important` section in the document.

![image](https://user-images.githubusercontent.com/50185738/81120946-8eeef700-8ee2-11ea-807a-9a789ee0e31c.png)

Hope this helps.

[2020-05-05 22:11] #54118 closed

[2020-05-05 22:11] NavtejSaini-MSFT commented on #53829
@imyourdba We are going ahead and closing this thread for now. Please get back to us if you need any further help. Comment here and we will continue the discussion.

[2020-05-05 22:11] #53829 closed

[2020-05-05 22:13] NavtejSaini-MSFT commented on #53572
@desmondgc Please let us know if you need any further help with this.

[2020-05-05 22:15] NavtejSaini-MSFT commented on #53828
@dedvds Please let us know if you need any further help regarding this.

[2020-05-05 22:21] NavtejSaini-MSFT commented on #54088
@Dottn We are checking this and will get back to you.

[2020-05-05 22:24] #53736 closed

[2020-05-05 22:25] v-radelg opened #54133 "Problem with Power BI and REST API"
@tobydays commented 2 hours ago

I try connect with POWER BI and I had the next issue:

Details: "The underlying connection was closed: An unexpected error occurred on a send."

https://user-images.githubusercontent.com/42366487/81110589-58fd4300-8ee1-11ea-9469-40e75ff4d51e.png

And I was validate the config and is correct!

https://user-images.githubusercontent.com/42366487/81110622-66b2c880-8ee1

[2020-05-05 22:36] ashoksamal6363 opened #54134 "ACI Webservice : Healthy but during prediction: An unexpected internal error occurred."
My ACI Webservice is healthy. But when I try to use the score URL for prediction it gives error.

Code:
import requests
import os
import hickle as hkl
import numpy
import os, json, datetime, sys

test_file = os.path.join('.', 'X_test.hkl')
X = hkl.load(test_file)
X_test = X[:10]

json_data = json.dumps({"data": X_test.tolist()})
#json_data = bytes(json_data, encoding='utf8')

# Post raw data to sc

[2020-05-05 22:42] GeraldHoopsGravityAndStorm opened #54135 "Wrong setting for Provisioning.Agent"
"... Configuration File Options Extensions.Enable and Provisioning.Agent should be set to y for Backup to work. ...".
"y" is not a valid value for Provisioning.Agent (and i tried it, it does not work. "auto" did).

From the documentation (https://github.com/Azure/WALinuxAgent#provisioningagent):
Provisioning.Agent
Type: String Default: auto

Choose which provisioning agent to use (or allow waagent

[2020-05-05 22:58] Karishma-Tiwari-MSFT commented on #54021
Node pools will receive security updates only, major OS updates only occur when the node pool is explicitly upgraded.

The OS version will be updated along with the kubernetes version when performing a node pool upgrade. (ref: https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#upgrade-a-node-pool)

Please note, a windows node will not receive any security updates.
https://docs.micr

[2020-05-05 23:01] #53279 closed

[2020-05-05 23:02] pravinady opened #54136 "When is home realm discovery available for federated domains?"
I have a use case where some O365 users are federated while some are not. Currently based on the documentation, I see that single O365 domain can only authenticate users via federation (or) locally. Is it possible to enable both types of authentication to my O365 domain and use HRD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-05-05 23:02] Karishma-Tiwari-MSFT commented on #53900
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-05 23:03] Karishma-Tiwari-MSFT commented on #53604
The PR is merged now. Thanks @lamek.
@all, Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-05 23:03] #53604 closed

[2020-05-05 23:04] abdulwestwood commented on #53599
Set allowpublicclient to true in the manifest for proxy app.

[2020-05-05 23:06] SamaraSoucy-MSFT commented on #54127
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-05 23:06] Karishma-Tiwari-MSFT commented on #54075
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-05 23:09] Karishma-Tiwari-MSFT commented on #54078
@rlevchenko Please open a PR for the same and I will add the product team to review and update the doc. Thanks for sharing the feedback and improving the doc.

[2020-05-05 23:10] SamaraSoucy-MSFT commented on #54124
@aravish Thank you for your feedback! Could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-05 23:11] SamaraSoucy-MSFT commented on #54122
@UnsnappedKhan8 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-05 23:12] SamaraSoucy-MSFT commented on #54120
@RoyRK07 Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-05 23:14] Karishma-Tiwari-MSFT commented on #54080
@hmeiland Thanks for the feedback! Please feel free to create a PR with the update and our doc-author would help review it.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-05 23:14] Mexicoder opened #54138 "Microsoft.ApiManagement doesn't reflex what i can enable in Azure Diagnostic settings"
i am having a hard time comparing the data i see in azure and here in the documentation. is there another place i can find this data?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version Independent ID: 2f3706cc-073b-a310-8da4-2a5a90da6473
* Content: [Azure Monitor supported met

[2020-05-05 23:15] Karishma-Tiwari-MSFT commented on #54089
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-05 23:16] SamaraSoucy-MSFT commented on #54115
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-05 23:17] Azhar001 opened #54139 "What if ADFS is using gMSA as service account?"
What if ADFS is using gMSA as service account?
I had to use enterprise admin creds to run past step 8.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9c51404-0a1b-c22e-e220-ce4126ff88d0
* Version Independent ID: bd3aab43-4202-bb69-bd1a-580e0464f357
* Content: [Configure hybrid Azure Active Directory join for federated

[2020-05-05 23:17] Karishma-Tiwari-MSFT commented on #54091
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-05 23:18] Karishma-Tiwari-MSFT commented on #54092
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-05 23:18] SamaraSoucy-MSFT commented on #54097
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-05 23:19] SamaraSoucy-MSFT commented on #54070
Thanks for the question! We will review and get back to you shortly.

[2020-05-05 23:21] Mike-Ubezzi-MSFT commented on #53787
@xyz92 It looks like you were able to get this answered on Stack Overflow: [Issue with join in Azure Data Factory](https://stackoverflow.com/questions/61535524/issue-with-join-in-azure-data-factory). Please let us know if you have any further questions.

[2020-05-05 23:22] SamaraSoucy-MSFT commented on #54073
Thanks for the question! We will review and get back to you shortly.

[2020-05-05 23:22] TravisCragg-MSFT commented on #54074
@Wallysantos In order to deploy Azure Bastion, you will need 1 of the 2 following scenarios for your Virtual Network that you want to deploy the Bastion into.

1) At least /27 of free address space in your Virtual Network. Azure Bastion will create a new subnet with the name 'AzureBastionSubnet' within the specified address space.

2) An existing subnet within your Virtual Network named 'AzureBast

[2020-05-05 23:25] SamaraSoucy-MSFT commented on #54095
Thanks for the question! We will review and get back to you shortly.

[2020-05-05 23:29] femsulu commented on #54119
Thanks for your comment and Kudos. Your feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-05 23:33] femsulu commented on #54135
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-05 23:35] mike-urnun-msft commented on #53619
@kspoojary I received confirmation that the Powershell SDK is yet to be refreshed to include the Batch Events feature. Alternatively, please look to run an ARM template from your Powershell instead.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-05 23:35] #53619 closed

[2020-05-05 23:36] TravisCragg-MSFT commented on #54098
@itstudy17

1) The 65515 ASN is used by Azure for internal routing, and you [can change the default ASN used by your virtual network by specifying a new one](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-bgp-overview#can-i-use-the-same-asn-for-both-on-premises-vpn-networks-and-azure-vnets).

2) everything the Azure VPN supports is outlined in this doc. Please let me know if you ha

[2020-05-05 23:40] masonmc commented on #47611
@RyanHill-MSFT +1, would love at least an ETA, ideally before 6/30... thank you in advance!

[2020-05-05 23:44] MarileeTurscak-MSFT commented on #53785
Hi @khoang, I'm sorry you are dealing with this! If you have lost your phone you either need to sign in with a different method or have the global IT admin of your organization tenant disable the MFA or set up a different method for you. If you can't prove that you own the account, it will block you from authenticating as a security measure.  Are you able to get in through myaccount.microsoft.com

[2020-05-05 23:44] Karishma-Tiwari-MSFT commented on #54103
Thanks for your feedback. We have AKS Periscope mentioned in this document: https://docs.microsoft.com/en-us/azure/aks/concepts-diagnostics
In regards to adding it to the doc linked in this issue, can you please share where exactly in the doc you think it would fit best. Thanks.

[2020-05-05 23:45] dancs85 opened #54140 "Else section orphaned"
Very minor issue, but the "Else" section of the conditional in the PowerShell script gets executed seperately to the "If" section if the code is copied + run directly.
Suggest moving the "Else {" to the end of the line above to cause the shell to see the continuation of the conditional

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-05 23:52] TravisCragg-MSFT commented on #54106
@mhyllander Thanks for the feedback! If you would like us to [add functionality to the Azure VPN Client, please leave your feedback Here](https://feedback.azure.com/forums/217313-networking).

To update the conflicting info in the doc, I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-05 23:53] SaurabhSharma-MSFT commented on #53981
@elneilios You need to go for the incremental consent implementation in this scenario.  Please refer to the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/azure-ad-endpoint-comparison#incremental-and-dynamic-consent).  You can also refer to the sample over [here](https://docs.microsoft.com/en-us/samples/azure-samples/active-directory-dotnet-admin-restricted-sco

[2020-05-05 23:54] stevemachacz opened #54141 "lifecycle / life-cycle / timeline - word usage issues"
1) "Lifecycle" and "life-cycle" are both used on this page which is inconsistent. And the correct spelling should be two words: "life cycle." Note: This inconsistency/inaccuracy is actually a problem throughout the Microsoft docs.

2) The second sentence uses "timeline" where "life cycle" would seem correct. If "timeline" is correct, more explanation is required. ("Each of the Azure services that

[2020-05-05 23:55] rgamage opened #54142 "Need array example"
One example shows source data json with an array of values (    "series":[
      {
        "Flow Rate ft3/s":1.0172575712203979,
        "Engine Oil Pressure psi ":34.7
      },
      {
        "Flow Rate ft3/s":2.445906400680542,
        "Engine Oil Pressure psi ":49.2
      }

But no guidance at all on how you would configure your Type in the portal, to parse this data.  How does the system tell

[2020-05-05 23:56] tarockey opened #54143 "Role Name via OpenCensus"
It is not clear via these docs how to possibly update the Cloud Role Name with OpenCensus - is this possible via any Python SDK for App Insights?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
* Version Independent ID: 28259d9c-5174-f138-c0aa-bc2125c3be1a
* Content: [Azure Applicati

[2020-05-05 23:57] Karishma-Tiwari-MSFT commented on #54075
I don't think those warning messages are indicating a misconfiguration.

The kubernetes project provides a container image to help troubleshoot DNS issues. Please refer to https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#create-a-simple-pod-to-use-as-a-test-environment for instructions on how to add a pod named "dnsutils" to your cluster.

The following commands will i

[2020-05-05 23:58] TravisCragg-MSFT commented on #53958
@noldersma If you would like us to add this functionality in the future, please [leave your feedback Here at Azure Networking's feedback.azure.com page](https://feedback.azure.com/forums/217313-networking).  I would refer to Intune's guidance with Azure for best practice information.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in y

[2020-05-05 23:58] #53958 closed

[2020-05-06 00:02] oviliz commented on #43248
@JiwanMS , are you creating the Linux App Service Plan in a different region from the one the main Windows App Service Plan is or was?

I've seen that sometimes M$ becomes confused when deleting resources and is impossible to replicate as is all inconsistent. They are but not...

[2020-05-06 00:18] RyanHill-MSFT commented on #47611
I've contacted the product team and they're trying to make _Public Preview_ with the next release. Due to the current situation, deployments have been delayed so they can't give an exact ETA. Hopefully it will be soon but can't guarantee any dates.

[2020-05-06 00:33] eparizzi opened #54144 "Comparison with ADX?"
I think there should be a thorough comparison between TSI and ADX, with use cases and such. Something similar to what you've done with Azure messaging services here: https://docs.microsoft.com/en-us/azure/event-grid/compare-messaging-services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e75543f0-fb2a-191f-4a35-200b4b

[2020-05-06 00:47] D-Moonesinghe commented on #51670
Sorry I don't open frivolous issues.  You guys are doing a fantastic
job.   After reading that doc file, I realized  that is one of the one's I
was reading but not the one I did have a question about.

Take Care.

On Mon, May 4, 2020 at 5:15 PM Deepal Moonesinghe <
deepal.moonesinghe@gmail.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moonesinghe@gmail.com

[2020-05-06 00:59] rick-man opened #54149 "Error in VM power states diagram?"
From what I can understand of the VM lifecycle operations, I think there may be two errors in this diagram:

- The arrow currently labeled "Power Off" seems incorrect and should be removed. *Explanation*: I don't think the [PowerOff operation](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/poweroff) takes a Deallocated VM and moves it to Stopped, but rather takes a Running VM an

[2020-05-06 00:59] vsantin opened #54150 "Change the JwtClaimType for the employeeid ClaimsMappingPolicy in the example."
In the example "Create and assign a policy to include the EmployeeID and TenantCountry as claims in tokens issued to a service principal" the PowerShell command "New-AzureADPolicy" is creating the mapping policy for EmployeeId named as "name". Changing it to "employeeid" will be more clear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-05-06 01:00] Grace-MacJones-MSFT commented on #53659
Hello @jjbutera,

Thanks for the additional information. Although your customer is able to update that subdomain with their provider, we do not allow those special characters due to DNS restrictions, so your customer will not be able to add that domain to the web app. you're getting the 404 because the domain can’t be resolved since the domain was not added to a web app. You would need to have a d

[2020-05-06 01:01] crisansou opened #54151 "How can we set an ACL on a file system?"
Hello,

I'm trying to set an ACL for a container but it is mandatory to fill the parameter "Path". In the documentation there is an example and in the command there is no parameter "Path". Can someone help me, please?

- Documentation: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-powershell#set-an-acl

- Commands:

$resourceGroup = "rg-dsv-brs"
$storage

[2020-05-06 01:14] Grace-MacJones-MSFT commented on #54096
Hi @NickMSW, thanks for the feedback. Did the repo you found provide you with the information you are looking for?

[2020-05-06 01:15] jeanchavez commented on #46156
This issue was solved recently by Microsoft. Now, PoweApps doesn’t have any dependency with the Azure Management application.

[2020-05-06 01:15] Grace-MacJones-MSFT commented on #54128
Hi @Boaz101, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-06 01:15] #46156 closed

[2020-05-06 01:26] glomaga commented on #53447
@amanmcse I already sent you the email, thanks

[2020-05-06 01:46] cbtham opened #54152 "Suggest to link parameter customization and details for pie chart & others"
This docs has the details but it is buried on github apps insight workbook. Suggest to make it more visible. Took me a bit to find out how I can customize different visualizations.

https://github.com/microsoft/Application-Insights-Workbooks/blob/master/Documentation/Visualizations/Chart.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-05-06 01:55] ecfan commented on #52956
The team advised that you can use the `triggerOutputs()` function, which you enter in the next action, which is Response in this example, to get the parameter value from the URL as a trigger output. So, following the example in the doc, you can use this expression to get the value for `postalCode` in the Response action's **Body** property:

```triggerOutputs()['queries']['postalCode']```

![image

[2020-05-06 01:56] MarileeTurscak-MSFT commented on #54109
@MarileeTurscak-MSFT
Thanks for the feedback! We are looking into this and will get back to you shortly.

[2020-05-06 02:02] MarileeTurscak-MSFT commented on #53785
Is there only one Global Admin for that Tenant? If you are the only global admin on the tenant then you have to reach Azure data protection team.

Azure Data Protection number (866-807-5850)

If there is a second global admin then of course you can reach out to that person to reset the settings.

[2020-05-06 02:04] MarileeTurscak-MSFT commented on #53785
The Azure data protection team won't support if you have an additional global admin on the tenant because they will suggest reaching out to the additional global admin for help (as it's more secure to avoid doing this).

[2020-05-06 02:15] ngyongkad commented on #53815
Hi @PeterCLu, I am able to open with command prompt.  However, according to the documentation, I should see "a directory that contains a few example notebooks that are pre-packaged into the DSVM". But I don't.  I am more interested in checking out those examples to examine how things work.  May be you could suggest how I can obtain those examples.

Since the desktop shortcut works for you, my prob

[2020-05-06 02:18] BhargaviAnnadevara-MSFT commented on #53879
@payiAzure Hope that clarifies. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-06 02:18] #53879 closed

[2020-05-06 02:27] MonikaReddy-MSFT commented on #54143
@tarockey , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-06 02:33] neeleshray-msft commented on #54116
@RescueWhale Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-06 02:43] BharathNimmala-MSFT commented on #53723
@Mexicoder  Apologies for the confusion on the documentation. I believe  the samples or examples being refereed in the documentation is pertaining to "Example queries" in the Azure portal.

In Azure Portal--> Log Analytics Workspace --> Example queries

![LogAnalytics](https://user-images.githubusercontent.com/45180002/81134055-56621400-8f08-11ea-9fa2-8def5847bcf9.png)

Please click on "Example qu

[2020-05-06 02:43] vgorbenko commented on #53539
Hi @vatolinrp , you can read about time aggregation [here](https://docs.microsoft.com/azure/azure-monitor/platform/metrics-charts#changing-aggregation).

[2020-05-06 02:44] MarileeTurscak-MSFT commented on #54140
@MarileeTurscak-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-06 02:45] rgamage opened #54153 "Need filter examples"
Every example json on this page has filter: null.  How are we supposed to learn how to filter data without any examples, or documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 721c4d80-9266-8804-5b67-d13863912067
* Version Independent ID: 66ca3e80-3ec4-9448-432a-b8be9488563a
* Content: [Time Series Model - Az

[2020-05-06 02:47] Mexicoder commented on #53723
Sorry I should have been more detailed. There is where I was trying to find them but I don't see them there

[2020-05-06 02:49] neeleshray-msft commented on #54136
@pravinady  Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-06 02:53] neeleshray-msft commented on #54126
@venndunlap Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-05-06 02:54] BharathNimmala-MSFT commented on #53701
@NeilPetersen Thank again for bringing this to our notice. Post validation with our internal teams on this , it was called out that solution supports domain controllers running on Windows Server 2019 as well.

I have raised a PR to reflect this changes in to the documentation, once reviewed and approved it will be updated accordingly later in the week. Thank you

Hope this information helps. At th

[2020-05-06 02:54] #53701 closed

[2020-05-06 02:58] BharathNimmala-MSFT commented on #53539
Thank you @vgorbenko for helping on this thread.

@vatolinrp Apologies for the delayed response. Hope the information shared by @vgorbenko is helpful. Please let us know if you have any further queries. Thank you

[2020-05-06 03:01] BhargaviAnnadevara-MSFT commented on #53564
@DawgFan @xiao-lix Thanks for the additional information.

@Ozzian Hope this clarifies. Do let us know in case of questions.

[2020-05-06 03:05] rgamage opened #54154 "Incoherent examples"
This page is extremely frustrating, due to the incoherent flow of explanations that don't correspond with the examples.  For example, one paragraph states "For example, a Time Series Model instance might be of type Temperature Sensor, which consists of the variables avg temperature, min temperature, and max temperature.", and the very next JSON example has a speed sensor that has no relation to th

[2020-05-06 03:05] neeleshray-msft commented on #53575
@mmacy Could this be added to the document ?

[2020-05-06 03:06] neeleshray-msft commented on #53844
@rustyautopsy We have also learned that the Azure DevOps team is aware of the trusted services list issue and are working to resolve. The current workaround is to whitelist the DevOps IP address ranges in the key vault firewall.

[2020-05-06 03:07] MarileeTurscak-MSFT commented on #54140
I tested and it ran just fine for me and the current format is aligned with existing style guides. Passing your feedback along to @msmimart though and you're more than welcome to make a pull request if you want this updated.

[2020-05-06 03:07] #54140 closed

[2020-05-06 03:10] neeleshray-msft commented on #53887
@UnsnappedKhan8 We would suggest you to open your ask in our **[Microsoft Q&A Forum](https://docs.microsoft.com/answers/topics/azure-active-directory.html)** for us assist you better on the Technical Queries.
Here's more know-how on the same - **[Introducing Microsoft Q&A](https://docs.microsoft.com/en-us/teamblog/introducing-microsoft-qanda)**

We would be closing this thread now.

[2020-05-06 03:10] #53887 closed

[2020-05-06 03:12] neeleshray-msft commented on #53932
@YassineSOUABNI Could you help us with more information on the issue to assist you better ?

[2020-05-06 03:28] rameshjanjyam commented on #53633
@PramodValavala-MSFT sorry I havent checked email in last couple of days. would you be able to reopen this issue?

[2020-05-06 03:30] KrishnaG-MSFT commented on #54138
@Mexicoder Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-06 03:32] KrishnaG-MSFT commented on #54152
@cbtham Thanks for your comment! We will review and provide an update as appropriate.

[2020-05-06 03:39] AshokPeddakotla-MSFT commented on #53585
Thanks for the detailed information.
Adding author @wesmc7777 for further review and update the doc as appropriate.

[2020-05-06 03:46] PramodValavala-MSFT commented on #53633
@rameshjanjyam The issue that you described does seem like something specific to docker. It would be best to create a post on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureFunctions) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-functions)  instead, engaging the wider community and also make it more discoverable for others facing a similar issue.

Once

[2020-05-06 03:48] DixitArora-MSFT commented on #54101
Hi @jzoran05 Thanks for reaching out. We will review and update as appropriate.

[2020-05-06 03:54] cbtham commented on #54152
Also it would be helpful to give more examples of kusto query in rendering charts.
| render <chart> <with options to configure>

[2020-05-06 04:03] VikasPullagura-MSFT commented on #54149
@rick-man
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-06 04:03] VikasPullagura-MSFT commented on #54149
@shandilvarun
Can you please check and add your comments on this doc update request as applicable.

[2020-05-06 04:09] VikasPullagura-MSFT commented on #54113
@aelmanaa
Thanks for the feedback! We are currently investigating and will get back on this.

[2020-05-06 04:16] SeanFeldman opened #54155 "Async API over sync"
Given the IO-bound nature of these samples, should the [Filter and Find data with blob index tags](serviceClient.FindBlobsByTags) sample strive to use async operations when iterating over the results returned by `serviceClient.FindBlobsByTags()`?

Instead of

[code]

prefer asynchronous version

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-06 04:19] AshokPeddakotla-MSFT commented on #53926
@FatimaBasheer If you are still seeing this issue, please Signout from the portal and re-login. Also, try clearing the cache and cookies.

If that doesn't help, try in different browser or Incognito mode and see if that makes any difference.

The page https://www.azureiotsolutions.com/Accelerators#sdssolutions/new/device-simulation is working fine. Make sure you are using correct subscription.

Ho

[2020-05-06 04:23] rameshjanjyam commented on #53633
sure. Thank you @PramodValavala-MSFT

[2020-05-06 04:25] CarlosOnline opened #54156 "Please add a json model instead of key value pairs"
The new IOptions ability for appsettings.json is net convenient way to bring structure to app settings.  The json allows for nested values which can be scoped to its corresponding feature.

Neither Azure Application settings, key vault, nor new App Configuration provide this nested capability.  The label functionality is awkward and can be replaced with a properly scoped set of json objects.  Plus

[2020-05-06 04:26] ram-msft commented on #54130
@deloittecanada123 Thanks for the question. We will update you shortly.

[2020-05-06 04:28] ram-msft commented on #54133
@v-radelg Thanks for the question. We will update you shortly.

[2020-05-06 04:28] ram-msft commented on #54134
@ashoksamal6363 Thanks for the question. We will update you shortly.

[2020-05-06 04:29] srini1978 commented on #52763
Thanks @yorek

[2020-05-06 04:29] ram-msft commented on #54110
@gerryaobrien Thanks for the question. We will update you shortly.

[2020-05-06 04:30] billti opened #54157 "User level credentials syntax"
It should be noted that will app slots the user-level credentials take on an escaped format. For example, if you have an app called 'foo' and set a username of 'bill', then you'll log in as 'foo\bill'.

However if you have a slot called 'staging', then the app name is 'foo/staging', however 'foo/staging\bill' is an invalid username. The forward slash is escaped to two underscores, and you need to

[2020-05-06 04:34] slsu0424 commented on #53793
I used the api-version set to 2019-10-01.

1) Yes, there are resource groups in my subscription
2) I just initiated a new authorization token
3) I have input my subscription ID and access token into the curl command

![image](https://user-images.githubusercontent.com/25472516/81138790-385cd980-8f31-11ea-8a88-6b871024a220.png)

curl --location --request GET 'https://management.azure.com/subscriptio

[2020-05-06 04:47] CastleArg commented on #20529
This seems to throw a spanner in the works of the whole Automed code free ML idea.  You can train and deploy this endpoint really easily, but then it is actually impossible to call that endpoint. without writing a bunch of python.  It would be great if you could just call the endpoint from javascript directly

[2020-05-06 04:49] js-securecom opened #54158 "Discrepancies in Ubuntu Information"
Says here https://docs.microsoft.com/en-us/azure/automation/automation-update-management#clients that Ubuntu 18.04 is supported, yet the python script mentioned on this page at https://gallery.technet.microsoft.com/scriptcenter/Troubleshooting-utility-3bcbefe6 appears to not include 18.04 as a supported OS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-05-06 04:59] mslot opened #54159 "Does restore slow the server or database?"
I can't read from this doc if a restore will slow the server or the database that I am restoring from? I have a very large migration coming up and I want to do some tests on production data and delete it afterwards but I don't want to slow the running database or server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2020-05-06 05:04] souravmishra-msft commented on #53376
@ii-batman, I apologize for the delay in my response. It took sometime testing this. We see there are some anomalies and issues with the AzureADPreview module as of now. There are efforts being made to get this module corrected.

Closing this thread for now.

[2020-05-06 05:04] #53376 closed

[2020-05-06 05:05] souravmishra-msft commented on #53847
Closing this thread for now.

[2020-05-06 05:05] #53847 closed

[2020-05-06 05:07] souravmishra-msft commented on #54150
@vsantin, Thank you for reaching out. I am working on this and would get back to you soon.

[2020-05-06 05:10] SnehaAgrawal-MSFT commented on #54157
@billti Thanks for your Question! We are currently investigating and will get back on this.

[2020-05-06 05:23] souravmishra-msft commented on #53341
@sayanchakraborty2k18, The notification you are seeing is indicating the phone number being set on the user is not unique in the tenant and is colliding. This is also supported by the absence of a check mark next to the phone number indicating this user is not provisioned for SMS sign-in even though the number is set, and the user is in the "Text message" policy.
The notification is supposed to in

[2020-05-06 05:29] SumanthMarigowda-MSFT commented on #54151
@crisansou Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-06 05:34] ntziolis opened #54160 "Request/Response with sessions clarification"
"This pattern typically needs a short-lived queue or topic for the application to send responses to. In this scenario, sessions provide a simple alternative solution with comparable semantics."

The above seems to imply that request / response can be achieved with a single queue when using sessions. Is that the case or have I misinterpreted?

---
#### Document Details

⚠ *Do not edit this section.

[2020-05-06 05:35] khoang76 commented on #53785
I am the only global admin.

So I need to reach out to Azure Data Protection ?

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Tuesday, May 5, 2020 7:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: khoang76 <ken.hoang@kmhtechgroup.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Cannot Logged In - Replaced Mobile Phone & Had t

[2020-05-06 05:36] tcvall86 commented on #53940
@eduardohl Agreed, also noticed other IPs coming in now.
We have had this integration working without errors like these since 27th of February so this is definitely a new behavior with the SCIM integrations or we have just lucked out for 2 months prior to this

[2020-05-06 05:45] cubika commented on #53472
Got it, thank you so much.  @RyanHill-MSFT @mattsmall1972

[2020-05-06 05:45] #53472 closed

[2020-05-06 05:48] EsaFazal72 opened #54162 "Unable to view virtual node after enabling virtual node addon with advanced networking"
I created an AKS cluster via Azure CLI with advanced networking (CNI). During the creation of the cluster, I set the **--max-pods** to 250 and after creating the cluster I enabled an a**ddon for the virtual node**, however, the command `$kubectl get nodes` does not show the created virtual node. Please help!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-05-06 05:53] #53676 closed

[2020-05-06 05:55] AshokPeddakotla-MSFT commented on #54144
@eparizzi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-06 05:56] AshokPeddakotla-MSFT commented on #54142
@rgamage Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-06 05:57] erikadoyle commented on #51905
Good catch @Darko-git, thanks for filing the issue.

[2020-05-06 06:03] alexchen2016 opened #54163 "Got error when run "mvn azure-functions:deploy" in Azure China Env"
I got an error when run "mvn azure-functins:deploy" in Azure China Env which says:

[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:1.4.1:deploy (default-cli) on project fabrikam-functions: Status code 400, {"Code":"BadRequest","Message":"There was a conflict. The remote name could not be resolved: '47d41cdf4f4743339918.file.core.windows.net'","Target":null,"Details

[2020-05-06 06:05] SnehaAgrawal-MSFT commented on #53860
@faizankhan1995 Thanks again for raising the valuable feedback! I have reached out internally with the content team about feedback on this.

You may refer to similar [SO](https://stackoverflow.com/questions/61546404/generate-thumbnail-from-video-using-azure-media-service-video-encoder-using-no) thread here might be helpful.

Also, the best way to share your feedback would be to create a [User Voic

[2020-05-06 06:05] #53860 closed

[2020-05-06 06:05] chunliu opened #54164 "The link to this doc appears twice on the left navigation"
It is a bit misleading.

![image](https://user-images.githubusercontent.com/2128551/81142629-bc9b7500-8fa2-11ea-9192-93742f6098e2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c26c1996-853e-9a55-5802-8c4095d545b9
* Version Independent ID: 437f5553-6914-c0ef-9370-bb11d3a0fa4b
* Content: [Integrate Azure API Manage

[2020-05-06 06:13] AshokPeddakotla-MSFT commented on #54153
@lyrana Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-06 06:21] chunliu opened #54165 "HTTP status code for predefined errors"
Is it possible to include a status code column for predefined errors of built-in steps and policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f1f26d3-94ce-6840-ee8a-d358113b56aa
* Version Independent ID: d2f8fc50-3785-6950-304b-699860dacd90
* Content: [Error handling in Azure API Management policies](https://doc

[2020-05-06 06:21] UnsnappedKhan8 commented on #54044
Heyo

[2020-05-06 06:30] blessedwithsins commented on #54075
@Karishma-Tiwari-MSFT Thank you. It got resolved after changing the configuration of custom DNS. It wasn't reading the custom configmap properly.

[2020-05-06 06:31] ParthiKarnan commented on #53922
I understood and also I can able to trigger my function automatically from azure portal itself by publishing my function from vs2019 to Azure Function App which I have created. Thanks for your response.

[2020-05-06 06:32] UnsnappedKhan8 opened #54167 "Mishi0.1"
#54166 #54044 #54165 #54045 #53990

HEYO

[2020-05-06 06:58] m-andersen commented on #47611
We did not have time to wait for a solution for App Service. We are also surprised that one of the biggest cloud providers do not have this in place by now.
We decided to abandon Microsoft EasyAuth totally and switched to Firebase, which have had support for apple login since november last year.
This is unfortunately not the last time Microsoft has disappointed us as a startup company.

[2020-05-06 07:00] memildin commented on #47024
Hi Hopefully,  examples 3 and 4 on this page will help you answer this question:
https://docs.microsoft.com/en-us/powershell/module/az.resources/Set-AzPolicyAssignment?view=azps-3.8.0

Let us know if you need further guidance.

#please-close

[2020-05-06 07:00] #47024 closed

[2020-05-06 07:02] azsec commented on #47171
This one is working.

[2020-05-06 07:03] SadiqhAhmed-MSFT commented on #53962
@mimergel There were few issues observed due to Kernel and most of them are fixed now. We will update the documentation soon but you can go ahead and try. Let me know if there are any issues.

[2020-05-06 07:04] sp4rc opened #54168 "Can't assign licenses to groups - bug?"
In Step 1 it says on point 4. "On the Assign license page, select Users and groups to open a list of users and groups.". However its not possible to select any groups. The dialog only shows users. This may be a bug.

AAD =&gt; Licenses =&gt; All products =&gt; selected "Azure Active Directory Premium P2" =&gt; Licensed groups =&gt; Assign (from here on I am only able to select users from the list,

[2020-05-06 07:07] kawaelon opened #54169 "How to correctly close the EventHubReceiver when working with Azure IoT in C#?"
I am writing an application that should be able to read and display IoT data. The basic functionality works for me with this code (I removed some checks etc so that the code would the shorter):

public void Run()
{
    _eventHubClient = EventHubClient.CreateFromConnectionString(ConnectionString, "messages/events");
    var partitions = _eventHubClient.GetRuntimeInformation().PartitionIds;
    cts

[2020-05-06 07:07] stefan-rapp opened #54170 "Support for Windows Server 2019 Domain Controller needed"
Documentation states - "The solution supports domain controllers running Windows Server 2008 and 2008 R2, Windows Server 2012 and 2012 R2, and Windows Server 2016."
My customer needs support for Windows Server 2019 Domain Controller. Any recommendations? Thx.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cce1867c-6526

[2020-05-06 07:08] AshokPeddakotla-MSFT commented on #54154
@rgamage Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-06 07:08] PapillonZ commented on #53616
Hi @luisquintanilla

thank you for your response. No it has not worked yet. I tried this tutorial for the first time.

[2020-05-06 07:09] #47739 closed

[2020-05-06 07:18] softveda commented on #46309
The whole table storage seems to have fallen out of love ever since the ownership has been transferred to CosmosDB team. It is indeed disappointing that AAD RBAC is not supported for table storage. 👎🏼

[2020-05-06 07:23] FatimaBasheer commented on #53926
Thank You very much everyone, Now I am able to access it through Chrome on incognito mode. However, webpage still doesn't load in Safari.

[2020-05-06 07:23] #53926 closed

[2020-05-06 07:30] jrimada opened #54171 "Proxy for outbound traffic"
Hi, I have found documentation on how to configure the outbound connection through a Firewall, but not through a proxy. I have tried to configure it in the cluster set up (through env variables) and it works. My concern is that since I haven't found documentation, I do not think this would be the right choice for a productive environment (therefore we would need to bypass the proxy and only config

[2020-05-06 07:35] Romerus commented on #53743
Hi, yes that would be very Helpful also with the informeten where the pricy statement will be displayed.
It is Important to get the information, so that we are able to put the right privacy statement in place.

[2020-05-06 07:46] AjayKumar-MSFT commented on #53908
@hypertrends, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-05-06 07:46] #53908 closed

[2020-05-06 07:47] idbates opened #54172 "Adding Logging Filters"
For 3.x the sample code is given:

builder.ConfigureLogging(logging =&gt;
            {
                logging.SetMinimumLevel(LogLevel.Warning);
                logging.AddFilter("Function", LogLevel.Error);
                logging.AddFilter(LogCategories.Results, LogLevel.Error);
                logging.AddFilter("Host.Triggers", LogLevel.Debug);
            });

But to me it makes much more se

[2020-05-06 07:53] paweltajs opened #54173 "ADAL for Java is depreciated"
On Github repository we can find information, that ADAL for Java will no longer receive new feature improvements.
https://github.com/AzureAD/azure-activedirectory-library-for-java

We should use Microsoft Authentication Library (MSAL) for Java instead of and it should be reflected in this documentation.
https://github.com/AzureAD/microsoft-authentication-library-for-java

---
#### Document Details

[2020-05-06 07:55] VikasPullagura-MSFT commented on #54123
@MicrosoftDocs/aks-pm Can you please add your comments on this.

[2020-05-06 07:58] likebupt commented on #53335
Hi @akshit-srivastava , sorry for the delayed response.
I'm still confused about your scenario.
1) what is your dataset resource?
2) Do you mean that you use this changing dataset by invoking a web service?
3) Do you only need to retrain model with the updated dataset withour re-deployment?

[2020-05-06 08:00] CHEEKATLAPRADEEP-MSFT commented on #54171
@jrimada  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as per the request.

[2020-05-06 08:12] CHEEKATLAPRADEEP-MSFT commented on #54054
@mamccrea Could you please review further and update the document as appropriate?
[MicrosoftDocs/databricks-pr#211](MicrosoftDocs/databricks-pr#211)

[2020-05-06 08:15] PramodValavala-MSFT commented on #53998
@cedmallet Just following up here... Hope my previous comment clears things up.

[2020-05-06 08:15] PramodValavala-MSFT commented on #53922
@ParthiKarnan Glad that you were able to resolve your issue!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-06 08:15] #53922 closed

[2020-05-06 08:18] CHEEKATLAPRADEEP-MSFT commented on #53963
@fbarresi Yes, there will be the minimal data loss for the period of updating the exisiting job.

[2020-05-06 08:21] souravmishra-msft commented on #54141
@stevemachacz, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-06 08:21] souravmishra-msft commented on #54139
@Azhar001, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-06 08:27] UnsnappedKhan8 commented on #54167
https://blogs.windows.com/windowsexperience/2020/04/30/getting-the-may-2020-update-ready-for-release-updated/

[2020-05-06 08:27] thuwas opened #54176 "Getting 'NotFound' error"

[2020-05-06 08:31] thuwas opened #54177 "Getting 'NotFound' error"
When accessing TextAnalytics v2.1 via client library it is throwing 'Not Found' exception.

endpoint: https://{resource-name}.cognitiveservices.azure.com/
region: global

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f57e416-a37f-e719-4a3e-58a4e6390818
* Version Independent ID: dbb3821b-5793-b41b-9601-559b00e4096a
* C

[2020-05-06 08:32] #54176 closed

[2020-05-06 08:33] ram-msft commented on #53598
@cahann could you please check on this.

[2020-05-06 08:47] srudin opened #54178 "What about Azure CLI?"
Could we get some examples for Azure CLI please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9492cedc-cea0-af9d-29a0-52cbca8c5e21
* Version Independent ID: 969a8654-8f95-d5de-351d-73c8e02e5d3a
* Content: [Automatic, geo-redundant backups - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-d

[2020-05-06 08:48] tjanez opened #54179 "VM sizes on this page are out-of-sync with VM sizes on the pricing page"
For example, the pricing page currently lists:
- DC1s v2 with 2 Cores and 4 GiB of RAM and this page lists the same VM with 1 vCPU and 4 GiB of RAM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aca0ec03-776b-fb48-3c1d-82dc11916534
* Version Independent ID: 030f5f5d-992a-1ead-ec17-39faba84cef1
* Content: [DC-series -

[2020-05-06 08:48] mimergel commented on #53962
Thanks for quick feedback, we'll check ...

[2020-05-06 08:50] tjanez commented on #54179
Full VM list as of today on https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux:
![Screenshot from 2020-05-06 10-48-35](https://user-images.githubusercontent.com/2518544/81157427-3faed200-8f87-11ea-985f-4bf60a702c44.png)

Full VM list as of today on https://docs.microsoft.com/en-us/azure/virtual-machines/dcv2-series:
![Screenshot from 2020-05-06 10-49-43](https://user-images.g

[2020-05-06 09:00] GiantCrocodile commented on #52956
Hi @ecfan! This solution is what I was looking for and I just tried it: It works perfectly. It would be great if this can be documented in the article too as I think that GET parameters are a more common use case than parameters via relative paths.

Thank you and your team!

[2020-05-06 09:05] cedmallet commented on #53998
Hi, yes it did! thank you for your quick response.

Just a comment : the code sample you suggest does not work because "input" is not part of the parameters.

Shall I close this one or do you want to use internally for the update of the doc ?

[2020-05-06 09:12] DixitArora-MSFT commented on #54160
Hi @ntziolis Thanks for reaching out. We will review and update as appropriate.

[2020-05-06 09:14] madhanan opened #54180 "How to validate renewal of Service Principal Certficate"
Hi,

I was wondering how to check the HDInsight Service Principal Certificate after it is refreshed? inside the HDInsight Cluster.
Detail Summary :
I have a SP Certificate which was used initially last year during the setup of HDInsight with Additional Datalake Store. (By default it has Blob, but additionally we have added Datalake Access during the setup with a Service Principal)

Now the SP Cert

[2020-05-06 09:22] souravmishra-msft commented on #54052
@dominic1904, Thank you for reaching out. I did check that document and it looks like the OAuth integration for SAP Netweaver and AAD uses the SAML Bearer Assertion Flow as documented here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-saml-bearer-assertion

If you follow that article you would be able to get the request queries that you need to build on POSTMAN, but they are

[2020-05-06 09:22] #54052 closed

[2020-05-06 09:26] bulathacl opened #54181 "Duplicate detection enabled topic endpoint Is functioning"
Hi,

It is mentioned in this article "Service Bus queues and topics used as IoT Hub endpoints must not have Sessions or Duplicate Detection enabled. If either of those options are enabled, the endpoint appears as Unreachable in the Azure portal.".

However I was able to configure a topic with duplicate detection enabled, set it as a custom endpoint in iothub and still receive messages from iothub.

[2020-05-06 09:28] JasonWhall opened #54182 "Front Door Supported Tags"
Regarding limitations - https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources#limitations

Front door is currently limited by OData supported values in tag names. So additionally `#` is not supported as a tag name currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b4c3f6-7ea3-9

[2020-05-06 09:29] aravish commented on #54124
@SamaraSoucy-MSFT,

Below is the link
https://docs.microsoft.com/en-us/azure/databricks/administration-guide/cloud-configurations/azure/vnet-inject

[2020-05-06 09:34] asergaz commented on #53757
Hello @sandervandevelde , the desired property can be any custom one you would like. The idea of this part of the doc is to let you know the best practices:

"How often a device submits a provisioning request depends on the scenario. However, it is advised to program your devices to send a provisioning request to a provisioning service instance on reboot, and support a method to manually trigger p

[2020-05-06 09:34] vmadykumar commented on #43558
i'm also having the requirement to get the cert for my container on a fly. I'm followed the documentation provided by azure to configure "Enable a TLS endpoint in a sidecar container"  but i'm only getting public IP for my container group not getting any dns-name even if i provided parameter "--dns-name-label".

My end goal is to have secured container running on azure for "n" (for each user there

[2020-05-06 09:36] PhilipAnthonyMurray opened #54183 "Import function via Powershell Az Module"
A previous question asks around programmatically importing a HTTP Trigger Function App which was never truly resolved. We have our Function Apps hosted within an Isolated tier App Service Plan on a private App Service Environment and at the moment I am unable to expose the OpenAPI specification using the Function App API Definition.

In this particular use case I can manually register a Function A

[2020-05-06 09:38] dcurwin commented on #54135
Thank you for the update. The page has been updated.

#please-close

[2020-05-06 09:38] #54135 closed

[2020-05-06 09:52] MattEvansA45 opened #54184 "redirectRowPath is not available as property on output of Copy Data Task"
The documentation states there is a property on the output called **redirectRowPath**  which gives the path to the folder where any incompatible rows are logged to.  We want to include this in our logging to easily be able to find the files,  however this proprty is not present anymore, why is that??

this is currently the output of a copy activity that copies faulty rows to our storage account

{

[2020-05-06 09:56] asergaz commented on #53808
@cmenzi thank you so much for the suggestion. I am assigning this issue to the content author @kgremban  to address the doc-enhancements suggested.

@veyalla to address the current questions and document it on the doc as needed.

Thank you for your time in advance!

[2020-05-06 09:58] GidStuff opened #54185 "DefaultAnswer - Cannot find it?"
The Help guide for changing default answer to Bot - https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/change-default-answer show a different set of screens from the one I am using.
I have tried searching for DefaultAnswer but nothing appears.
I am using the Free account - would this be an issue?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-06 10:03] erikcong80 commented on #53902
I also have a similar question. For example, I created a VM using AmlCompute.provisioning_configure(vm_size='STANDARD_NC6', max_nodes=1), but how can I configure it to auto-shutdown after the deployed experiment is executed?

[2020-05-06 10:05] stephanebachelier opened #54186 "This page is useless without providing the Compass version that can be used"
Last Compass version 1.21.0 does not work.
At least provide the Compass version that was used when creating this page.
The screenshots are too old.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae63b0b-8c13-36da-c5c9-d126ffbc7077
* Version Independent ID: 17b87fc6-88ad-959b-9b11-452844ee2279
* Content: [Connect to Az

[2020-05-06 10:08] ripsy85 commented on #47176
HI Sam,
what exactly is not working?
Could you please tell me more about the infrastructure? how many RDG ? Is
the NPS Extension installed on a different server and not on any RDG?

I have the following configuration :

   - A new NPS Server with NPS extension installed with self signed cert-
   This server is only receiving requests from my 3 RDGs ( Radius Client) and
   nothing else. This server

[2020-05-06 10:09] SubhashVasarapu-MSFT commented on #54114
@flyingUnderTheRadar ,  We are looking into this query and will update you as soon as possible.

[2020-05-06 10:14] Nag2222 opened #54188 "How can we replace table name from Parameter value which will be passed from Data Factory"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-06 10:17] FlorianBorn71 commented on #54127
this was indeed missing in the docs.
Thanks for pointing that out - fixed now.
Florian

[2020-05-06 10:18] FlorianBorn71 commented on #54127
#please-close

[2020-05-06 10:18] #54127 closed

[2020-05-06 10:26] CHEEKATLAPRADEEP-MSFT commented on #54180
@madhana Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - MSDN or Stackoverflow
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-05-06 10:34] iainlennox opened #54189 "authority"
authority: "Enter_the_Cloud_Instance_Id_HereEnter_the_Tenant_Info_Here",

It this correct? is this either or cloud instance or tenant info?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390c6d26-c7f8-6821-f3a8-ecb34c3b1a2a
* Version Independent ID: 7b696c88-56c4-1a1c-95eb-30c2dd42a5f1
* Content: [Sign in users in Java

[2020-05-06 10:36] madhanan commented on #54180
@CheekatlaPradeep-msft
Okay, but when you are writing a document, one should also provide a way to check it right ?

In this document, i could see  How to set it ? without explaining the impact & verification.

I believe, these topics can be added additionally in this document as well.

Thanks

[2020-05-06 10:37] patrickjlee commented on #46309
I agree with @softveda . What are you doing, Microsoft? The current approach and attitude to Managed Identity is an inconsistent mess. Very disappointing.

[2020-05-06 10:40] VikasPullagura-MSFT commented on #54162
@EsaFazal72 Thanks for the Question. Ideally it should work.
Can you please share the CLI and Kubernetes version of your environment,  so that we will try to reproduce the issue and check on this.

[2020-05-06 10:42] SumanthMarigowda-MSFT commented on #53833
@javester The PR request has been raised
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-06 10:42] #53833 closed

[2020-05-06 10:47] SumanthMarigowda-MSFT commented on #54060
@SeanFeldman Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-06 10:47] souravmishra-msft commented on #53878
Closing this thread for now.

[2020-05-06 10:47] #53878 closed

[2020-05-06 10:49] Antiohne commented on #52157
Where can I find the autorotate setting mentioned in the following line:

"If the certificate is set to autorotate, API Management will pick up the latest version automatically without any downtime to the service (if your API Management tier has SLA - i. e. in all tiers except the Developer tier)."

[2020-05-06 10:50] dominic1904 commented on #54052
In the article, it directly contacts ADFS for authentication and a SAML assertion is returned. Only the SAML:Assertion tag data is extracted and POST to Azure AD to exchange for a OAuth access token. Then, it can get the data using the token.
Is there any endpoint in Azure AD that can return the SAML assertion directly? Also, is it possible to consult the author of this blog? He/She may know about

[2020-05-06 10:51] Antiohne opened #54190 "Autorotate setting"
Where can I find the autorotate setting mentioned in the following line:

"If the certificate is set to autorotate, API Management will pick up the latest version automatically without any downtime to the service (if your API Management tier has SLA - i. e. in all tiers except the Developer tier)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-05-06 10:52] SumanthMarigowda-MSFT commented on #54073
@rvunen How soon can I access my data in Azure once I’ve shipped the Data Box back?
A. Once the order status for Data Copy shows as Complete, you should be able to access your data right away.

[2020-05-06 10:53] orion84 opened #54191 "Sorting and project-away"
Splunk sort order can be influenced by placing a '-' directly before a field, or before all fields mentioned in the sort command:
| sort -Data.Hresult
This will sort decending. If you want to sort multiple fields decending, it works like this: | sort - field1 field2 (note the space between the '-' and the first field name)

For the project and project-away, in Splunk you use the fields command, no

[2020-05-06 10:55] EsaFazal72 commented on #54162
The Azure-CLI version I'm running is **2.5.1** and the Kubernetes version is **1.15.10**. The virtual node appeared when I set the -**-max-pods to 150.**

[2020-05-06 10:57] souravmishra-msft commented on #54189
@iainlennox, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-06 10:58] juunas11 commented on #51826
When you register an app as "this directory only", you are basically registering a regular Azure AD app, not a B2C app. That's why it doesn't show up there where you are testing B2C flows as B2C users cannot use that app. You need to choose _Accounts in any organizational directory or any identity provider. For authenticating users with Azure AD B2C. _ as the supported account types to support B2C

[2020-05-06 10:58] souravmishra-msft commented on #54168
@sp4rc, thank you for reaching out. We are looking into this and would get back to you soon on this thread.

[2020-05-06 10:59] RohitMungi-MSFT commented on #53892
You can check the sample [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/samples/csharp/sharedcontent/console/speech_synthesis_samples.cs) in cognitive services speech SDK repo. This is basically is using [audio stream](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.audio.pullaudioinputstream.-ctor?view=azure-dotnet#Microsoft_Cognit

[2020-05-06 11:04] SnehaAgrawal-MSFT commented on #54172
@idbates Thanks for raising the issue. We will investigate and update you.

[2020-05-06 11:06] SubhashVasarapu-MSFT commented on #53665
@sddev-dotnet , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-06 11:06] #53665 closed

[2020-05-06 11:12] #54188 closed

[2020-05-06 11:12] spaelling commented on #37163
How can this still not be supported using ARM. It has been GA for over a year now.

[2020-05-06 11:14] desmondgc opened #54192 "Live migration supported regions"
I learned today that live migration is not supported in the West Europe region. Could you please include on this page a list of regions where live migration is supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ebb48e-c896-a747-bc42-aa203978a1cd
* Version Independent ID: 6e7bfefb-e67c-b5d5-89f7-6f1b6a2e8b61
*

[2020-05-06 11:15] sandervandevelde commented on #53757
Hello @asergaz,

thanks for the answer.

This is great if we are talking about a direct-connected Azure IoT device.

This means I have to both set the desired property (of my own choice) and react on it with custom code to start reprovisioning.

I am specifically asking about forcing device-side reprovisioning using **Azure IoT Edge**.

What I expect is some configuration of the IoT Edge runtime w

[2020-05-06 11:17] PramodValavala-MSFT commented on #53662
@abhishek0220 Hope my previous comment helps.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-06 11:17] #53662 closed

[2020-05-06 11:21] nicovell3 commented on #17159
Hello. I have the same problem... Is this fixed by now?

[2020-05-06 11:22] VikasPullagura-MSFT commented on #54162
@EsaFazal72 Thanks for sharing the details. As you mentioned that that you are able to see if the max pods are set to 150, It doe snot look like issue with the [limits](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quotas#service-quotas-and-limits).

[2020-05-06 11:28] SubhashVasarapu-MSFT commented on #53652
@dcvtruong , Yes, as mentioned by @anthonyjmartinez  the default macOS base64 implementation doesn't have the -w flag. You can either install GNU Coreutils using **"brew install coreutils"** or use the command highlighted by martin,
[code]
@anthonyjmartinez , I will work towards updating the doc with a note indicating the OS requirements.

@dcvtruong , We are closing this issue for now. If there a

[2020-05-06 11:28] #53652 closed

[2020-05-06 11:32] jjindrich commented on #53006
@SubhashVasarapu-MSFT any updates ?

[2020-05-06 11:34] RohitMungi-MSFT commented on #53891
@SharmaHarsh7 We will now proceed to close this thread. Please raise a request from Azure portal since this might need our product team review. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-05-06 11:34] #53891 closed

[2020-05-06 11:36] ChiragMishra-MSFT commented on #54151
@crisansou The example you have pointed out talks about applying ACLs at the File System Level. However, in your case, you need to set it a directory level (the next example talks about the same and the code sample includes Path parameter passed to the cmdlet.

![image](https://user-images.githubusercontent.com/43365826/81172457-e7de8e00-8fbb-11ea-9a87-255026cbc52b.png)

Hope this helps.

[2020-05-06 11:38] ChiragMishra-MSFT commented on #53959
@atomaras

[2020-05-06 11:38] dominic1904 commented on #45378
@keithdv How do you get the assertion using version 1? Do you have any document illustrating the steps? I am trying to use this flow to connect to SAP.

[2020-05-06 11:50] VikasPullagura-MSFT commented on #54162
@MicrosoftDocs/aks-pm Please add your comments.

[2020-05-06 11:54] dominic1904 commented on #45071
@keithdv We have exactly the same requirement, get SAML assertion from AAD, use it to send to SAP for an access token and call the SAP API using the access token. I have read tons of document and still I cannot make it to work. From the comments above, it seems that yours is working now. Is it possible that you can share the steps? Thank you very much.

[2020-05-06 11:55] EsaFazal72 commented on #54162
@VikasPullagura-MSFT Thank you!

[2020-05-06 11:55] efd7887 opened #54194 "Does not work"
Spent over an hour following this tutorial step by step and it doesnt work.  This is not the first time this has happened.  Why do you put tutorials out for products you sell that dont work?  Needless to say, we will not be using Cosmos DB because your POC failed the initial test and does not meet our integrity requirements.

An unhandled exception occurred while processing the request.
InvalidOpe

[2020-05-06 12:01] vvolodin commented on #40726
Doesn't work for me, I'm trying to turn it off actually.

[2020-05-06 12:06] porrascarlos802018 opened #54195 "Limitation needs to be added."
This wont work with BASIC Load balancers .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225b99ee-4c4d-54c2-cafa-ddcd286438da
* Version Independent ID: ca9410a8-8ddb-5528-a0ac-0963458f190e
* Content: [Use system node pools in Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microsoft.com/en-us/a

[2020-05-06 12:15] RoyRK07 commented on #54120
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetimes

[2020-05-06 12:17] eduardohl commented on #53940
Hey @tcvall, I thought the same, but I always had sync errors showing up in my logs that I didn't go through investigating, I was thinking they were already happening. @neeleshray-msft can you please alert the technica team there's a security issue going on here? The documentation is NOT covering the range of IPs the SCIM requests are originating from, they're originating from pretty much ANY ip w

[2020-05-06 12:17] smartpcr opened #54196 "Managed service identity is not supported for container groups before version '2018-10-01'"
[Enter feedback here]

I am creating ACI using yaml, this used to work, but now I am getting the following error:
[code]

Here is yaml file:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4bb823e-1c72-5777-bdd6-e89942c4f470
* Version Independent ID: eb046e79-f39c-dcca-fbd4-519c0a320201
* Content: [Enable manage

[2020-05-06 12:18] zerolagtime opened #54197 "Expected Network Bandwidth"
The table of NV-series virtual machines do not have an expected network bandwidth column.  It is difficult to plan machine sizing without this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 331382e6-f52a-df0b-50ad-39b5372a2af4
* Version Independent ID: 5bb83180-6fe1-b076-26f0-2ad8298f419e
* Content: [NV-se

[2020-05-06 12:19] matthiasguentert opened #54198 "Screenshots / Diagrams are too small"
As the title says, please make them bigger, the can't be read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0b212d-56e7-5918-09aa-86e53dc1d83b
* Version Independent ID: 7c34c9d0-fbd5-4db2-4587-2842835a09b9
* Content: [What is federation with Azure AD?](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/w

[2020-05-06 12:19] Blackmist commented on #53458
Hi @gary918 the docs have been updated to the correct format. Thanks for reporting this and helping us improve the product!

#please-close

[2020-05-06 12:19] #53458 closed

[2020-05-06 12:19] MonikaReddy-MSFT commented on #54156
@CarlosOnline , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-06 12:20] artisticcheese opened #54199 "Please clarify if it can be triggered on custom initiatives"
Hello,

Security Center allows customers to add their own custom initiatives which will appear in results for security recommendations. Can those be used in workflow automation as well? I don't see them appearing in list of potential targets for actions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97f4678a-ede3-4926

[2020-05-06 12:33] dcurwin commented on #53568
Thank you for your comment. The document has been updated.

#please-close

[2020-05-06 12:33] #53568 closed

[2020-05-06 12:40] doug-kells commented on #53785
Hi Ken,

I was the only Global Admin on my account too and the only thing that eventually worked was calling the Data Protection 866 number that Marilee referenced. There will be a really long wait – I was more than an 90 minutes on hold on a couple of occasions before getting through.

For me, the problem started when enabling MFA for myself. I assumed, incorrectly, that the additional identity v

[2020-05-06 12:42] KrishnaG-MSFT commented on #54191
Assigning @bwren for visibility, review and to help provide insights.

[2020-05-06 12:45] KrishnaG-MSFT commented on #54182
@JasonWhall Thanks for the comment!
Assigning @tfitzmac for visibility, review and document enhancement consideration if required.

[2020-05-06 12:48] kiwibayer opened #54200 "Correction of information"
at point:

"How does the appliance connect to Azure?
The appliance can connect over the internet or by using Azure ExpressRoute with public/Microsoft peering."

the appliance cannot connect to Azure via Azure ExpressRoute with public peering.
Please correct the statement to:
"How does the appliance connect to Azure?
The appliance can connect over the internet or by using Azure ExpressRoute with Mi

[2020-05-06 12:49] vvolodin opened #54201 "Running a function locally doesn't work because of HSTS"
I'm using a Visual Studio Code tutorial and I'm able start local environment by hitting F5, but the URL `http://localhost:7071/api/Load` doesn't open in my browser since the browser is being redirected to an https version of the URL and it doesn't load.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-

[2020-05-06 12:49] VikasPullagura-MSFT commented on #54197
@zerolagtime
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-06 12:49] VikasPullagura-MSFT commented on #54197
@vikancha
Can you please check and add your comments on this doc update request as applicable.

[2020-05-06 12:50] KrishnaG-MSFT commented on #53620
Hello @o-l-a-v, As we didn't hear back from you since last 2 days so I will be closing this issue for now. But never mind! if there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion. 👍

[2020-05-06 12:50] #53620 closed

[2020-05-06 12:56] marcinwieczoreklgs commented on #48403
I faced exactly the same problem - from my perspective that looks like incomplete documentation - the sample, which is perhaps working in some cases, seems to be not generic enough and just fails when trying to use in different environment.

[2020-05-06 12:58] darivuki opened #54202 "Log custom telemetry in C# functions not working - Version 2.x and later"
Hello,

I was trying to use this in my function, but the events are not showing up in Azure App Insights. I do get all of the other Trace, Request, Dependency, but Events are not displayed. I am testing this locally - is this why it is not showing up? Here are my settings:

"applicationInsights": {
      "excludedTypes": "Request;Dependency;Event",
      "includedTypes": "Trace",
      "samplingSe

[2020-05-06 13:00] VikasPullagura-MSFT commented on #54195
@mlearned
Can you please check and update the document.

[2020-05-06 13:01] PhilipAnthonyMurray commented on #54183
I used the Dev tools to understand the REST calls in achieving this and there is a chain of 22 calls. This is absolutely not maintainable in a DevOps pipeline.

[2020-05-06 13:04] jonwbstr commented on #53878
I see you are choosing to leave the article as is. That is unfortunate.

Why would an admin want to run a report listing  registered and
unregistered users with mfa disabled when they could run a report that
shows registration and MFA status?

The latter is a newer addition that makes the other two reports that are
confusing and missleading obsolete.

On Wed, May 6, 2020, 6:47 AM souravmishra-msft

[2020-05-06 13:15] nmakarov-artis commented on #53736
I tested in South Central US

From: GiftA-MSFT <notifications@github.com>
Sent: Tuesday, May 5, 2020 4:36 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Nikita Makarov <NMakarov@artisconsulting.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Multi-model endpoint - Limit (#53736)

@nmakarov-artis<https://github.com/nmakarov-artis> can you plea

[2020-05-06 13:18] samcookies commented on #47176
Hi Giuseppe, Thank you for your reply.

SO I’ve one RD gateway server, 1 NPS server (is separate server), 1 session host.

I think the issue I’m facing is my NPS server not forwarding the Auth request to the AZURE for the MFA. When I open any remote app, it wait for 60 seconds for the MFA verification and since NPS not forwarding it times out after 60 seconds.

And the logs I get on my AuthZ is al

[2020-05-06 13:20] Wallysantos commented on #54074
@TravisCragg-MSFT I'm just trying to follow these steps, nothing else and, it doesn't work. The bastion subnet I'm trying to create is with IP 10.0.254.0/27, "exactly" as in the steps and I always get that same error.

[2020-05-06 13:23] VikasPullagura-MSFT commented on #54179
@tjanez Thanks for pointing this. I have updated the document and changes will go live soon.

[2020-05-06 13:23] #54179 closed

[2020-05-06 13:25] ripsy85 commented on #47176
Hi Sam,
you are welcome. Happy to help if I can.

Did you set up the load balancing to a higher level ?

On the RDG in the NPS Go to
Remote Radius Server - Select the Group Name ( by default it's TS GATEWAY
SERVER GROUP) click on the NPS server (centralised one) and click edit.
This is my settings .

Also make sure your MFA Auth method is Phone call or Authenticator App. It
doesn't work with SMS.

[2020-05-06 13:29] dcvtruong commented on #53652
Thanks for clearing that up.

From: suvasara <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Wednesday, May 6, 2020 at 6:28 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: dcvtruong <david.truong@theagilehub.net>, Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] syntax error printing the CA certificate in

[2020-05-06 13:31] dstampfli commented on #54103
I would reference the firewall ports needed for AKS Periscope in this section - https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#optional-recommended-addresses-and-ports-for-aks-clusters - of the AKS firewall doc.  Fully private clusters with egress through a firewall are quickly becoming the standard for folks, particularly those that use an Express Route or site to site VPN to con

[2020-05-06 13:36] ChiragMishra-MSFT commented on #53993
@dckfnuance I tried to reproduce your issue. You already know that you cannot have % in the name of a container or a filesystem.
I created the following structure :
![image](https://user-images.githubusercontent.com/43365826/81182831-f3d24c00-8fcb-11ea-989b-0208bda7929e.png)

If you see, I have a file "Daily.txt" in a folder named "New%folder" within "test" filesystem.

![ADLS Powershell](https://

[2020-05-06 13:36] VikasPullagura-MSFT commented on #54113
@mlearned Can you please share add your comments.

[2020-05-06 13:43] DCtheGeek commented on #50986
@MicrosoftDocs/azure-cxp-triage Can you move this Issue to Azure PowerShell per PMs request above?

[2020-05-06 13:51] tfitzmac commented on #54182
@JasonWhall - thanks for this feedback. I am submitting an update with that info.

[2020-05-06 13:56] samcookies commented on #47176
HI, I didn’t get the screen shot you’ve sent.

If its for the Load Balancing, I’ve already have it for 60 seconds.

And for MFA Auth, I’ve selected all the verification methods.

-Regards,

Sam Cook

From: ripsy85 <notifications@github.com>
Reply-To: MicrosoftDocs/azure-docs <reply@reply.github.com>
Date: Wednesday, May 6, 2020 at 9:26 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com

[2020-05-06 13:58] MichielMosmans opened #54203 "ImportError: cannot import name 'log_worker_telemetry'"
A previously working pipeline including a ParalellRunStep returns the following error since today:

Traceback (most recent call last):
  File "driver/amlbi_main.py", line 48, in <module>
    main()
  File "driver/amlbi_main.py", line 42, in main
    from job_starter import JobStarter
  File "xxx/job_starter.py", line 14, in <module>
    from telemetry_logger import log_worker_telemetry
ImportError

[2020-05-06 14:02] memildin opened #54204 "RSS link isn't useful"
At the top of this page, you mention an RSS feed for subscribing to updates of this page.
The feed has no content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87fb3b64-807c-48b1-bbb0-822255efafcb
* Version Independent ID: 93a95ce4-cb41-4b3b-9d1d-49dd255f47b6
* Content: [What's new? Release notes - Azure Active Direc

[2020-05-06 14:12] dckfnuance commented on #53993
It doesn’t seem to work when % is followed by a number.
I noticed that New%folder displays as New%25folder in your example. So internally it seems to replace % with %25.

The following code works for me.
$dirname = "catalog/New%3AFolder/"
$dirname = $dirname.replace("%","%25")
Get-AzDataLakeGen2Item -Context $ctx -FileSystem $filesystemName -Path $dirname

Is this the expected behavior? We don’t w

[2020-05-06 14:21] richardpomerleau opened #54205 "Working in Azure Gov?"
Does this feature work in the Azure Gov portal? Attempts to set a value receives the error "Property  has an invalid value"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39e6e511-6049-99d3-68bf-5705d2d6f49e
* Version Independent ID: d2209fa8-80ba-d3e2-e2f0-87822c011025
* Content: [Set directory-level inactivity timeou

[2020-05-06 14:22] mmacy commented on #53575
Hi @BeMor81, it's not clear to me from this part of your statement here which does and does not work for you:

Can you expand a bit further?

[2020-05-06 14:24] abhirockzz opened #54206 "Redis version"
Which version of Redis is supported by Azure Redis Cache? I don't see it being mentioned on this page (not sure if its elsewhere in the documentation?) This is very important for users/customers in order to determine whether they can use a specific Redis command or feature with Azure Redis Cache e.g. currently its not possible to use Redis Streams (introduced in Redis 5.0) with Azure Redis Cache

[2020-05-06 14:24] MonikaReddy-MSFT commented on #53758
@Rick-Anderson - I hope @mrbullwinkle answered your question.
Thanks again for bringing this to our attention.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-06 14:24] #53758 closed

[2020-05-06 14:28] abhirockzz opened #54207 "Reference to unsupported version of the Java SDK"
This tutorial refers to an unsupported version of the SDK. This section https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-java-application#InstallSDK mentions `azure-documentdb` which is "The implementation in this project is intended for reference purpose only." (as per https://github.com/Azure/azure-documentdb-java#disclaimer)

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-06 14:36] paparush opened #54208 "C# Sample Code does not prompt user to speak."
Per the "Build and run app" section above :
"It will prompt you to speak a phrase in English".

The app/code does not do this any any way, shape, or form.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b55e56-55a1-d635-6bea-271dc361d676
* Version Independent ID: 8e9cb28f-c133-f310-3c7d-3a3b7e85f69d
* Content: [Quicks

[2020-05-06 14:37] abhirockzz opened #54209 "Uses unsupported version of the Java SDK"
The sample code in this tutorial (https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-java#clone-the-sample-application) refers to an unsupported version of the SDK - https://github.com/Azure/azure-cosmosdb-bulkexecutor-java-getting-started/blob/master/samples/bulkexecutor-sample/pom.xml#L78

As per https://github.com/Azure/azure-documentdb-java#disclaimer - "The implementation in this

[2020-05-06 14:49] mmacy commented on #53783
Hi @RhomGit, it seems that the link currently specified in the [Mitigation for "Missing from the token response"](https://docs.microsoft.com/azure/active-directory/develop/msal-net-aad-b2c-considerations#mitigation-for-missing-from-the-token-response) section is out of date:

![image](https://user-images.githubusercontent.com/13394541/81190942-4af50400-8f6d-11ea-88fc-9262d27456a3.png)

The article

[2020-05-06 14:55] JasonHershey commented on #48017
Any update?

[2020-05-06 14:59] diberry commented on #53837
This change will be published today. #please-close

[2020-05-06 14:59] #53837 closed

[2020-05-06 15:00] NaveYosef opened #54210 "Autoscale for existing Containers and CLI support"
I wonder if you have any ETA on supporting cosmos db Autoscaling feature for:
- existing containers
- adding CLI/SDK

i've enabled Autopilot in our load-test environment and it works great! unfortunately, i cannot implement this on prod before the 2 items ^^^ will be resolved.

Please advise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-05-06 15:07] #54182 closed

[2020-05-06 15:07] vatolinrp commented on #53539
Thanks for the link @vgorbenko

[2020-05-06 15:07] #53539 closed

[2020-05-06 15:08] ripsy85 commented on #47176
Yes, it was for the load balancing.

the account you use to login needs to have Auth method only phone call or
Authenticator App.
You can change it here from the Office portal on Account security and
privacy

Thanks

On Wed, 6 May 2020 at 14:56, samcookies <notifications@github.com> wrote:

[2020-05-06 15:13] CharmanderJieniJieni opened #54212 "What is this document trying to say?"
Redirecting to another Azure service does not help here. Are you trying to say if you have Azure AD connect SSO set up this feature is enabled by default? Our environment has federation between on-prem AD to Azure AD and when trying to login to Azure Databricks does it mean SSO is already in place and we don't need to do anything else?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-05-06 15:14] fbarresi commented on #53963
Ok. I guess the only way to get this working is manually stop the job and restart it to the time of the last stop.

[2020-05-06 15:18] MGoedtel commented on #53525
@Adamus2077 - This information is inaccurate and I plan on addressing this in our sprint this month.  To remove the VM, you need to edit in the LA workspace the saved search - MicrosoftDefaultComputerGroup. For that saved search, select the elipse to the right of it and select "Edit" and it opens its properties.   You edit the query to remove the VMUUID of the particular VM you no longer want incl

[2020-05-06 15:18] #53525 closed

[2020-05-06 15:18] SaurabhSharma-MSFT commented on #54199
@artisticcheese Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-06 15:19] jtuliani opened #54213 "AvSet support should be covered in 'special configurations'"
Restoring a VM doesn't preserve AvSet - you need to use disk restore. This is mentioned in the post-restore steps, which is kinda dumb (no offence) because it's too late by then - if you've done a VM restore you'll need to throw it away and start over. It should be discussed in the 'special configurations' table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-05-06 15:19] ezwiefel opened #54214 "List of AML Pip Packages out of date"
In a CI I created today, the AML Pip packages installed are:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5431c3cc-af53-d7d5-4241-cf3d23d8689e
* Version Independent ID: 1b7eedd5-e934-aa15-d5c7-32ad82e45bbf
* Content: [What is an Azure Machine Learning compute instance? - Azure Machine Learning](https://docs.m

[2020-05-06 15:19] SaurabhSharma-MSFT commented on #54204
@memildin Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-06 15:20] SaurabhSharma-MSFT commented on #54198
@sp4rc Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-05-06 15:25] VikasPullagura-MSFT commented on #54123
@meitalna Yes, the AKS IP's are covered under the "AzureCloud" tag.

[2020-05-06 15:26] mwchilde opened #54215 "Missing Section?"
The very first step "Run the following cmdlet to sign in to the Windows Virtual Desktop environment" seems to be missing the actual PowerShell to connect at the beginning of this section:

https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell#use-your-powershell-client-to-create-a-host-pool

I am aware of the command, but may need to correct docs.

---
#### Document D

[2020-05-06 15:30] ardacetinkaya opened #54216 "Adding DB error, "...however, some of the databases could not be added to or removed from Failover Group.""
I have a scenario, very similar to this tutorial's scenario, just two DBs in elastic pool. So when ever I want to create a failover group, I got the following error: "Create or update Failover Group operation successfully completed; however, some of the databases could not be added to or removed from Failover Group."

At the end of the process, Failover Group is created succuessfully, but no DB is

[2020-05-06 15:31] SamaraSoucy-MSFT commented on #54205
@richardpomerleau  Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-05-06 15:33] richardpomerleau commented on #54205
Sorry, I thought I was on the page when I submitted.

https://docs.microsoft.com/en-us/azure/azure-portal/admin-timeout#feedback

Rich Pomerleau | Cloud Engineer
[cid:image001.png@01D6239A.21676BD0]
O: 571.482.4198 | F: 703.376.8228

From: Samara Soucy <notifications@github.com>
Sent: Wednesday, May 6, 2020 11:32 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Richard Pomerleau

[2020-05-06 15:33] robermud commented on #46672
This page should be updated, according to Azure documentation ovpn only works using Windows 10. But this page doesn't reflect that, it's confusing

[2020-05-06 15:34] SumanthMarigowda-MSFT commented on #54155
@SeanFeldman Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-06 15:35] SumanthMarigowda-MSFT commented on #54192
@desmondgc Thanks for your question. We are checking on this and will respond to you soon.

[2020-05-06 15:36] SamaraSoucy-MSFT commented on #53983
Thanks for the question. Since this is product feedback and not an issue with the docs, I'm going to redirect you to our [UserVoice](https://feedback.azure.com/forums/34192--general-feedback). Please post product feedback there. Thank you!

[2020-05-06 15:36] #53983 closed

[2020-05-06 15:42] DaveVoyles opened #54217 "Recommend changing the order of operations (upload iris.csv)"
Could I recommend changing the text, or order of operations here?

For example, the section on creating blob containers finishes with:

"3. Upload main.py and iris.csv to your input container input using Storage Explorer by following the steps at Managing blobs in a blob container"

There is no main.py or iris.csv file to be found.

I searched for a bit, before I scrolled down and I saw we were cr

[2020-05-06 15:45] SaurabhSharma-MSFT commented on #53788
@kriti218 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-05-06 15:45] #53788 closed

[2020-05-06 15:46] SamaraSoucy-MSFT commented on #53966
I've linked your PRs to the thread. Since there isn't any further work on this issue, I'm going to close it. If you have any followup questions please tag me.

[2020-05-06 15:46] #53966 closed

[2020-05-06 15:48] SamaraSoucy-MSFT commented on #54086
Thanks for the doc link. I have assigned the issue to the doc author to update appropriately.

[2020-05-06 15:48] v-kydela commented on #53837
The change is incorrect

1. `datetimeReference` is supposed to be an ISO 8601 value and not an offset value
1. `datetimeReference` can only go in the body of a POST request and not in the URL of either POST or GET

[More info](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-migration-api-v3#v3-post-body)

Should this issue be reopened?

[2020-05-06 15:50] jozefizso opened #54218 "PREMIUM FEATURE ONLY"
This feature is available only for premium container service.

Who would think that one must pay premium to login to its own private registry service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9769320-10f9-bc69-5b34-ab15e18fead2
* Version Independent ID: d58f4440-c1a2-6035-fe96-b02ce7dab4ea
* Content: [Permission

[2020-05-06 15:51] SamaraSoucy-MSFT commented on #54124
Thank you for the link! I have assigned the issue to the doc author to update appropriately.

[2020-05-06 15:52] SaurabhSharma-MSFT commented on #53151
@tanaybaldua Apologies for the delay.  As per the products team this is a looks like a known issue. It occurs on some machines for some people, but the reason is unknown yet. This item is in team backlog to be looked into.

[2020-05-06 15:54] SamaraSoucy-MSFT commented on #54122
@UnsnappedKhan8 As with your other issue, I've mapped this thread to your PR. I'm going to proceed to close this thread.

[2020-05-06 15:54] #54122 closed

[2020-05-06 15:58] JBines commented on #47419
Hi Frank, I'm think about this as well with secuity defaults enabled can you exclude these emergency access accounts?

[2020-05-06 16:00] cartacioS commented on #52309
Hi @maarten2015 , so any frequency (i.e. second, hour, day, etc) is fine for AutoML. That's not a worry here, but instead it's the consistency of your frequency that AutoML isn't able to process.

The original error in this post saying that while you may have some frequency for a majority of your grains, the two grains "grouby1 and grouby2" don't follow the same frequency close enough to the rest

[2020-05-06 16:01] SamaraSoucy-MSFT commented on #54203
@MichielMosmans  Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

The best place for specific answers about implementations are going to be the [MSDN](https://social.technet.microso

[2020-05-06 16:15] SamaraSoucy-MSFT commented on #54167
@UnsnappedKhan8 I appreciate the updates you have been doing for the docs. Could you share a bit more information about the question or request you are making in this thread?

[2020-05-06 16:19] erichenson opened #54220 "License section needs updating"
With recent changes to Azure MFA, this page needs to be updated to clarify whether the Office365 E1/E3/etc licenses now qualify for NPS MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107
* Content: [Provide Azure MFA ca

[2020-05-06 16:20] andresbarcenas opened #54221 "Service Plan Sizes explained (Total ACU)"
Hello,

Thanks for always responding to the audience's questions. I want to understand the Total ACU meaning. If I have 20 instances of type P3V2 (840 total ACU, 14Gb of memory), is the CPU usage shared across or does it mean that each instance gets to use 840 ACUs and 14GB of memory? Is it safe to assume that each instance will have 4cores and 14GB of memory fully dedicated?

Please clarify so I

[2020-05-06 16:21] GiftA-MSFT commented on #54177
@thuwas we will review your feedback and get back to you shortly. Thanks.

[2020-05-06 16:23] GiftA-MSFT commented on #54208
@paparush we will review your feedback and get back to you shortly. Thanks.

[2020-05-06 16:25] SamaraSoucy-MSFT commented on #54125
Thanks for the question! We will review and get back to you shortly.

[2020-05-06 16:25] GiftA-MSFT commented on #54214
@ezwiefel we will review your feedback and get back to you shortly. Thanks.

[2020-05-06 16:26] SamaraSoucy-MSFT commented on #54159
Thanks for the question! We will review and get back to you shortly.

[2020-05-06 16:34] SubhashVasarapu-MSFT commented on #53893
@FreddyMcRay , Appreciate your patience. The doc you were referring to is a way back old resource. I have reproduced you scenario and here is how you can achieve it,

1.TCP sent is been part of  metrics tab under Azure VM . But now it there were many changes does on that part and here is [doc ](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-ga-release-faq)on recently rele

[2020-05-06 16:35] sddev-dotnet commented on #53665
@SubhashVasarapu-MSFT I contacted AKS support and was able to resolve the issue by using a previous version of the identity pod deployment. Unfortunately, my experience was that it has to be a new cluster. If you have installed the latest version, then uninstalled, and tried to install this version it doesn't work. I had to delete my cluster and recreate it and make sure I only installed the info

[2020-05-06 16:40] VikasPullagura-MSFT commented on #54027
@lilx-ms As this is mostly a suggestion, requesting you to open the issue at ACR GitHub site https://github.com/Azure/acr so that the PG team can check on this.

[2020-05-06 16:40] #54027 closed

[2020-05-06 16:43] Aaron-lan123 commented on #50473
I found the same issue. I copied the sample payload in doc. Try to create a geofence . Failed with error response 500.
Set Content-Type set to application/vnd.geo+json and provide the correct subscription key.
https://atlas.microsoft.com/mapData/upload?subscription-key=<my subscription key>&api-version=1.0&dataFormat=geojson

[2020-05-06 16:45] VikasPullagura-MSFT commented on #54011
@RoopChevuri @stgeorgi Can you please check and add your comments on this.

[2020-05-06 16:45] mwchilde opened #54223 "Extensions"
When creating a new host pool with Azure Portal, the following extensions are added:

Extensions               : {dscextension, joindomain}

I do not see these extensions on new VMs added using this method.  I can add them but are they needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bfcfbec-b7ca-57e2-67cc-e5891

[2020-05-06 16:46] crisansou commented on #54151
Hi @ChiragMishra-MSFT,

I'll try to explain the problem, I created a group that should have access in container "raw" and in directory "marketing", that's why I want to know how to set an ACL on a file system. If I use the command "Update-AzDataLakeGen2Item -Context $ctx -FileSystem $containerName -Path $directoryName -Acl $acl" that gives access only in the directory "marketing" the user will not

[2020-05-06 16:49] VikasPullagura-MSFT commented on #54215
@mwchilde
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-05-06 16:50] VikasPullagura-MSFT commented on #54215
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-05-06 16:50] mike-urnun-msft commented on #54163
@alexchen2016 Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 16:51] mike-urnun-msft commented on #54164
@chunliu Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 16:53] mike-urnun-msft commented on #54165
@chunliu Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 16:55] mike-urnun-msft commented on #54183
@PhilipAnthonyMurray Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 16:56] Heidilohr commented on #54215
@VikasPullagura-MSFT When I open the page in my browser, I can see the PowerShell cmdlet code block.

@mwchilde Can you try opening the page up in a different browser?

[2020-05-06 17:00] hrasheed-msft commented on #53255
@kosinsky I dont have detailed knowledge on that issue. If you reach out to the discussion list, you may find someone who has worked on a similar scenario.

[2020-05-06 17:00] SubhashVasarapu-MSFT commented on #53476
@wbplomp , Thanks for your feedback. We are assigning the respective content author for updating the doc accordingly.

[2020-05-06 17:02] mwchilde commented on #54011
I was able add a VM manually documented in the following steps and managed image:

https://docs.microsoft.com/en-us/azure/virtual-desktop/create-host-pools-powershell#create-virtual-machines-for-the-host-pool

I did not use a template so I had to do my best with matching the VM settings.  I am not sure if it is related or not, but when I go to Export Template on one of my existing host pool VMs I

[2020-05-06 17:03] SatishBoddu-MSFT commented on #53425
@savyaagarwal64 Since we didn't received any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-06 17:03] #53425 closed

[2020-05-06 17:04] VikasPullagura-MSFT commented on #54011
@mwchilde Glad to hear that the issue is resolved.

[2020-05-06 17:06] VikasPullagura-MSFT commented on #53947
@dikokob Are you still seeing issue. Can you retry the deployment once.

[2020-05-06 17:07] KranthiPakala-MSFT commented on #54169
@kawaelon
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-05-06 17:07] Mike-Ubezzi-MSFT commented on #54173
@paweltajs Thank you for bringing this to our attention. You are free to file an issue against that GitHub repository ([microsoft-authentication-library-for-java](https://github.com/AzureAD/microsoft-authentication-library-for-java/issues)). Click on new issue and detail what you have communicated through this issue. If there are updates needed for this specific document: [Spark Connector with Azu

[2020-05-06 17:12] himanshusinha-msft commented on #54184
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-06 17:14] AshokPeddakotla-MSFT commented on #53851
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-06 17:14] himanshusinha-msft commented on #54212
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-05-06 17:14] fergalkeating commented on #50473
I have the same issue. I have tried all the available Content-Type settings, and various payloads. I get valid responses if i try to use alternate Content-Type etc. Seems to only get the error when everything is set correctly.

[2020-05-06 17:15] SatishBoddu-MSFT commented on #53938
@julie-wins Just checking back, could you please provide more details on the error log, so that we could assist you further.

[2020-05-06 17:15] mike-urnun-msft commented on #54190
@Antiohne Thank you for your feedback! The statement refers to the auto-renewal setting at the KeyVault side:

![image](https://user-images.githubusercontent.com/36717703/81207352-4ab33380-8f82-11ea-97ea-5918dae74d8d.png)

APIM polls KeyVault internally to determine if a new certificate was issued; if so, APIM will automatically pick it up without any downtime.

[2020-05-06 17:16] julie-wins commented on #53938
Yes but it will be another day or two before I can.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: SatishBoddu <notifications@github.com>
Sent: Wednesday, May 6, 2020 1:15:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: julie-wins <julie.wins@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Line 31

[2020-05-06 17:19] erichenson commented on #54017
I have the same question as Shaggar. Does "MFA for on-premises applications" include Radius, or does it only include  Azure AD Application Proxy?

[2020-05-06 17:21] NavtejSaini-MSFT commented on #52763
@yorek Thanks for all the help here. @srini1978 We are going ahead and closing this thread, you can also provide your feedback if you need this feature here.
https://feedback.azure.com/forums/217321-sql-database

[2020-05-06 17:21] #52763 closed

[2020-05-06 17:23] julieMSFT commented on #37411
#assign:julieMSFT

[2020-05-06 17:23] normesta commented on #54151
Hi @crisansou please refer to this article section - [Common scenarios related to permissions](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control#common-scenarios-related-to-permissions). It describes the level of permissions required to achieve certain scenarios. In the case of directory permissions you have to give execute permission to the container that conta

[2020-05-06 17:24] #53944 closed

[2020-05-06 17:24] ggailey777 commented on #53944
Thanks @edyoung for reporting this! I've made the fix.

[2020-05-06 17:25] mike-urnun-msft commented on #54201
@vvolodin Thank you for your feedback. Could you clarify the tutorial you're referring to is the one this issue was opened against?

[2020-05-06 17:25] NavtejSaini-MSFT commented on #53828
@dedvds There seems to be a confusion. I thought the question was Azure SQL Single Instance service to which answer is Yes but from your message on Teams got more clarity.
Yes this document talks about setting it at Service level and not at a server level. I am checking internally if this can be done.
For now i will advise to provide feedback here https://feedback.azure.com/forums/217321-sql-datab

[2020-05-06 17:26] #53750 closed

[2020-05-06 17:27] mike-urnun-msft commented on #54202
@darivuki Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 17:27] wesmc7777 commented on #52770
Yes a provisioning attempt for an already provisioned device will incur DPS provisioning operations. Provisioning on every device boot is a recommendation but it is optional depending on your scenario.  If your devices are expected to reboot often you may want to only attempt reprovisioning after detecting a failure or [manually trigger reprovisioning requests](https://docs.microsoft.com/en-us/azu

[2020-05-06 17:29] SubhashVasarapu-MSFT commented on #53157
@tsharp , Appreciate your patience. We have assigned this issue to the respective content author for updating the document accordingly.

[2020-05-06 17:30] crisansou commented on #54151
Hello @normesta ,

This is exactly what I want to do, but I can't give permission on the container, it is mandatory to fill in the "Path" parameter.

<img width="948" alt="command-error" src="https://user-images.githubusercontent.com/29444086/81208850-0cc80680-8fa6-11ea-823d-107aee32419e.PNG">

[2020-05-06 17:31] ggailey777 commented on #54163
@Hazhzeng do you know if the Maven archetype is supported for China cloud?

[2020-05-06 17:33] SubhashVasarapu-MSFT commented on #53894
@LifeRyuto , I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2020-05-06 17:34] VikasPullagura-MSFT commented on #54179
@tjanez The vCPU mentioned in the document is correct, the details on pricing page is currently being updated. Apologies for the confusion.

[2020-05-06 17:34] NavtejSaini-MSFT commented on #54178
@srudin We are checking this and we will get back to you.

[2020-05-06 17:34] NavtejSaini-MSFT commented on #54186
@stephanebachelier We are checking this and will get back to you.

[2020-05-06 17:35] NavtejSaini-MSFT commented on #54194
@efd7887 We are checking this and will get back to you.

[2020-05-06 17:36] SaurabhSharma-MSFT commented on #54093
@BASFmthibodeaux When the standard plan is enabled resources will be enabled for additional security features like
 Just in time VM Access,  Adaptive application controls and network hardening etc.
By selecting "Enabled/disabled" you can control the standard plan to be applied.

[2020-05-06 17:39] NavtejSaini-MSFT commented on #54206
@abhirockzz We are checking this and we will get back to you.

[2020-05-06 17:40] amitkumarshukla commented on #47319
@ram-msft I am really sorry as we have not yet added conversation transcription to our python SDK. Will it be fine if you can explain your business case here. It will help us to prioritize it higher.

[2020-05-06 17:45] lobrien commented on #53793
If I understand correctly, you've now checked with `api-version` set to both `2019-10-11` and `2019-10-01` and in both cases you've received the same (incorrect) response? That's making me think it's a product issue and not a docs issue.

(Can you make other queries successfully, such as :

    https://management.azure.com/subscriptions/{{subscription-id}}/resourceGroups/{{resource-group}}/provide

[2020-05-06 17:46] StingyJack opened #54226 "What are the defaults for these?"
As an example, in IIS a worker process default http request queue length is 1000. What is it for an app service?  How do we know we are nearing or hitting some kind of limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583

[2020-05-06 17:48] Grace-MacJones-MSFT commented on #54221
Hi @andresbarcenas, thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2020-05-06 17:49] NavtejSaini-MSFT commented on #54207
@abhirockzz We are checking this and will get back to you.

[2020-05-06 17:50] ajsing opened #54227 "Full VM Image for backup purpose"
Hi Team,

I would like to know if we have capability of creating full image of an Azure VM for backup purpose (without sysprepped) so if something happens to my VM due to any configuration change or incident I can quickly spin up new VM using that image which will retain my data/apps inside. Please let me know if this is possible as I can't find very clear documentation for such use case.
I know I

[2020-05-06 17:50] lobrien commented on #53793
Even more, just in terms of trying to flush  out an error message or if there's a permissions issue, try to create a workspace. Perhaps try this as a PUT

    https://management.azure.com/subscriptions/{{subscription-id}}/resourceGroups/{{resource-group}}/providers/Microsoft.MachineLearningServices/workspaces/my-new-space-1100?api-version={{api-version}}

[2020-05-06 17:50] rohitnayakmsft commented on #53853
@jdemaree BY setting Deny Public Network Access to Yes, the code path for firewall rules evaluation  ( including the 0.0.0.0 rule) is blocked and only approved connections via private endpoint are allowed. We are not adding any additional rules to Deny 0.0.0.0 rather we are ignoring any traffic that previously woudl have been allowed by these rules. Does that help answer your question?

[2020-05-06 17:51] BharathNimmala-MSFT commented on #54158
@js-securecom Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-06 17:51] NavtejSaini-MSFT commented on #54209
@abhirockzz We are checking the this and we will get back to you.

[2020-05-06 17:52] rohitnayakmsft commented on #52818
@marioanton you are correct that user@servername can be used to login. However we will remove support for this in future and hence recommend that customers use the FQDN.

[2020-05-06 17:53] ecfan commented on #52956
@GiantCrocodile, I'm delighted that this solution worked for you. I'll certainly get a work item on the backlog to include this user task in the topic. Thanks again for reaching out!

[2020-05-06 17:54] NavtejSaini-MSFT commented on #54210
@NaveYosef We are checking this and will get back to you.

[2020-05-06 17:57] rohitnayakmsft commented on #51547
@ecki Thanks for the feedback. We are working hard to enable redirection on private link to land in Q3 of 2020 so we shall have parity on that aspect. The idle connection timeout is something that we can document better overall and I shall check with our devs around how best to do that.

[2020-05-06 18:00] SubhashVasarapu-MSFT commented on #53009
@Nimleth , Appreciate your patience. In Azure Defense in depth can be visualized as a set of concentric rings, with the data to be secured at the center. Each ring adds an additional layer of security around the data. This approach removes reliance on any single layer of protection and acts to slow down an attack and provide alert telemetry that can be acted upon, either automatically or manually.

[2020-05-06 18:05] KranthiPakala-MSFT commented on #54169
@kawaelon This repo is to address feedback/issues related to doc content. Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums -https://stackoverflow.com/questions/tagged/azure-eventhub

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues. We have our

[2020-05-06 18:05] #54169 closed

[2020-05-06 18:06] rohitnayakmsft commented on #52076
@ryoma-nagata Thanks for reporting this issue and sorry for the late response. I have brought this to the attention of our team for follow up. Please feel free to raise a support ticket if this is impacting connectivity to your databases in any way

[2020-05-06 18:07] igomat opened #54229 "Pricing"
The page show only "pricing is not available" even the region is GA according to matrix.
https://azure.microsoft.com/en-us/pricing/details/backup/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8070575b-9937-61e2-6483-c070143c4039
* Version Independent ID: fe33b548-d107-99d9-c0f1-854e65fefa44
* Content: [Back up Azure

[2020-05-06 18:10] SnehaAgrawal-MSFT commented on #53672
@RonnieQuan Thanks for reply! If you are using ASE?
This needs to have the “Microsoft.Network/virtualNetworks/subnets/join/action” permission within scope of the target Subnet Instance.

Hope this helps.

[2020-05-06 18:11] rohitnayakmsft commented on #50463
@brent-robinson Sorry for my late response. I have checked with the team and they confirmed this is not a Gateway IP address in Australia East.  Use the nslookup command as I showed in my previous reply and it will show you the SQL Gateway that your connection is being serviced by. To understand why you need to whitelist this particular IP, please open a support case

[2020-05-06 18:12] rohitnayakmsft commented on #50463
#please-close

[2020-05-06 18:12] #50463 closed

[2020-05-06 18:12] rohitnayakmsft commented on #51547
#please-close

[2020-05-06 18:12] #51547 closed

[2020-05-06 18:13] artemuwka commented on #54192
Hi there! @desmondgc, would you mind elaborating on your feedback? Was your migration request denied? I'd love to learn more and see if we could help!

[2020-05-06 18:14] rohitnayakmsft commented on #51983
@Mike-Ubezzi-MSFT I suggest we reassign this to content team on Networking side; since they will need to publish this guidance at a uniform level to all PaaS services. I can then do the follow up for Sql Db specific docs

[2020-05-06 18:14] rohitnayakmsft commented on #52076
#please-close

[2020-05-06 18:14] #52076 closed

[2020-05-06 18:14] rohitnayakmsft commented on #52818
#please-close

[2020-05-06 18:14] #52818 closed

[2020-05-06 18:15] rohitnayakmsft commented on #53853
#please-close

[2020-05-06 18:15] #53853 closed

[2020-05-06 18:17] SnehaAgrawal-MSFT commented on #52779
@JonVinson Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-06 18:17] #52779 closed

[2020-05-06 18:17] raghu2505 opened #54231 "Invalid Credentials error"
I have a SCIM endpoint up and running using Apache Syncope 2.1.5. When I try to access my SCIM APIs using Postman they work with Basic Authentication.

But when I try to access it from the Enterprise application, it fails with "You appear to have entered invalid credentials. Please confirm you are using the correct information for an administrative account." Where am I going wrong?

---
#### Docum

[2020-05-06 18:18] rvunen commented on #54073
Thank you for your answer but that is not what I asked. Let me explain: I post the Azure Data Box Disk today. How many days it takes for the Azure team to process it taking into account that the postal service takes 1 day, so they will receive the disk tomorrow.

[2020-05-06 18:20] Karishma-Tiwari-MSFT commented on #53831
@mpryandds Please let us know if you need help about finding the right VM size or finding the cost associated.
To review your costs in cost analysis, open the scope in the Azure portal and select Cost analysis in the menu. For example, go to Subscriptions, select a subscription from the list, and then select Cost analysis in the menu. Use the Scope pill to switch to a different scope in cost analy

[2020-05-06 18:25] susanshi commented on #53973
Hi, scopemap currently doesn't support wildcard. This requirement is being discussed and tracked in the ACR repo. https://github.com/Azure/acr/issues/338#issuecomment-604075709

[2020-05-06 18:26] Hazhzeng commented on #54163
Hi @ggailey777, I'm not familiar with the Mooncake cloud and not an expert in Java Functions.

Hi @amamounelsayed, do you know if we support deploying to sovereign cloud by using mvn azure-functions toolings?

[2020-05-06 18:26] darivuki commented on #54202
I got it working. Here is my host.json file config as reference for other that might need help with setting this up:

{
  "version": "2.0",
  "logging": {
    "logLevel": {
      "Host.Results": "Information",
      "Host.Aggregator": "Information",
      "Host.Bindings": "Information",
      "Function.MyFunction": "Information",
      "default": "Warning"
    },
    "applicationInsights": {

[2020-05-06 18:26] #54202 closed

[2020-05-06 18:31] isahunterintact opened #54233 "rulename_s not used for AzureFirewallNetworkRule"
I'm needing to retrieve the name of AzureFirewallNetworkRule but the field rulename_s is  used exclusively with AzureFirewallApplicationRule. What is the roadmap to add that functionality as it is a huge stickler for a lot of my clients.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 377e85cd-dc27-14aa-c45f-c73603fcd4d

[2020-05-06 18:33] viboga opened #54234 "Is this feature of databricks GA?"
I am trying to use this for my feature development.
Is this GA?
Is there a link to know this for other Databricks features too?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7b6274b-a306-0069-2bb2-188d73e2d1e7
* Version Independent ID: 979b0589-3360-7aad-7007-bbc5f848d4b3
* Content: [Token API - Azure Databricks](htt

[2020-05-06 18:40] ParthiKarnan opened #54235 "How to write unit test for image resizer using Azure BlobTrigger function"
I want to cover unit testing by xUnit test project for the [Azure Blob storage output binding for Azure Functions
](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-output?tabs=csharp). The mentioned below code should cover unit test. I search a lot to achieve **BlobTrigger** unit testing for Azure Functions. Most of the articles are having **HttpTrigger** fun

[2020-05-06 18:45] Antiohne commented on #54190
Thank you for this answer. I see that a manual upload of a new certificate version in Key Vault is also automatically picked up because I see that the TLS certificate is updated in the API Management instance which was using that certificate. Maybe the documentation could be updated to make this behavior clearer.

[2020-05-06 18:46] TomekBarc commented on #48139
Hi Marilee,

I have exactly same problem as Renny has. I do not have that option at all.
I was trying to create Windows 2019 Datacenter VM, as per your advice, however I wasn't able to see the option.
I am currently on Pay-As-You-Go subscription.

I have checked with my colleague, that has Trial subscription and he has the option available for Windows and Linux VMs.

Do you think it may be related

[2020-05-06 18:47] JnHs commented on #52717
Hi @nbachm - apologies for the delay. This does not seem like the expected behavior, but it's hard to know why you're seeing this without more details. I would suggest opening a support request in the Azure portal - for Issue type, choose Technical, select a subscription, then select Lighthouse (under Monitoring & Management) - and we can look into it further. I'm closing this issue now as it does

[2020-05-06 18:47] #52717 closed

[2020-05-06 18:52] RonnieQuan commented on #53672
@SnehaAgrawal-MSFT  Thanks for the information, no we are using ASE, we use the PaaS App Service Running in Azure.
Is the permission different if it's running in ASE?

[2020-05-06 18:55] davidsmatlak commented on #48303
Researched this issue and requested confirmation of information about the activity log alert limits.

[2020-05-06 18:58] pkshultz commented on #51925
Hi all. I still see **Dsvm Windows** as an option under the Data Science tab of Batch Explorer (see the screenshot below).

@Jaryd1212 and @ScottSchwalm: thank you both for providing feedback. Is **Dsvm Windows** not visible for you in Batch Explorer?

![image](https://user-images.githubusercontent.com/5421240/81209161-ffe6eb00-8f84-11ea-8764-f441a93caefa.png)

[2020-05-06 19:00] sw3ngl1sh opened #54236 "Minor correction?"
In the first section "List role assignments for a user or group" in the first step, the directions are a bit confusing.  There isn't an option for Users or Groups from the top level, you need to select the Directory first.  My suggestion: revise to state that you should select "Azure Active Directory" from the All services window and then select either Users or Groups from the Manage section.   Th

[2020-05-06 19:02] v-radelg opened #54237 "Unable to run "Runbook launch" Powershell"
@piyo0320 commented 15 hours ago — with docs.microsoft.com

I ran the Powershell found in "Runbook Run", but it fails with the following error:

Start-AzAutomationRunbook: Object reference not set on object instance.
Occurrence line: 1 character: 8

     $ job = Start-AzAutomationRunbook @startParams

[code]

[2020-05-06 19:02] xyz92 commented on #53761
@Mike-Ubezzi-MSFT

After setting to Autopilot 4000 RU/s, the run took ~11 min and I see 207 throttling requests. On setting to Autopilot 20,000 RU/s, the run took ~7 min and I see 744 throttling requests. Why is that? Thank you!

[2020-05-06 19:04] jdemaree commented on #53853
I think the question for me is about Allow and Deny on the Public
Connection and how it relates to using Private Endpoint.
If Public Access is allowed and you have a Private endpoint is routing to
the public endpoint still possible?

On Wed, May 6, 2020 at 12:50 PM Rohit Nayak <notifications@github.com>
wrote:

[2020-05-06 19:08] DonThompson opened #54238 "Procedure to find outbound addresses no longer valid"
Under the section "Function app outbound IP addresses" it says...
Select subscriptions &gt; {your subscription} &gt; providers &gt; Microsoft.Web &gt; sites.

This does not seem to exist in the current Azure Portal.  Under my subscription I do have "Resource Providers", which contains a list that does contain "Microsoft.Web", but there is no further detail available and nothing I see that says "si

[2020-05-06 19:15] drmauro commented on #53902
Hi @PeterCLu , for example, my Compute instance is a VM STANDARD_DS3_V2 which is now with Stopped Status - I'm using Azure Machine Learning Web-based Interface (https://ml.azure.com/).
I'm looking turning it on and off using SDK (within python notebooks). thanks in advance

[2020-05-06 19:20] igomat opened #54239 "Timestamp"
The last modified date of the page is not valid. That's confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57659ffa-1319-269b-246c-6b3c9943a25c
* Version Independent ID: a010c014-b116-5032-bc4b-627a893b1477
* Content: [Support Matrix for Azure file share backup - Azure Backup](https://docs.microsoft.com/en-us/az

[2020-05-06 19:23] #54150 closed

[2020-05-06 19:26] rajkumar-rangaraj opened #54240 "Microsoft.Data.SqlClient is not in Dependencies auto-collection"
Update .NET section to include Microsoft.Data.SqlClient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30ec91f-10cb-84ea-e325-f0c22692b8f3
* Version Independent ID: eb395d70-bd17-18f0-2e9c-96dd7970762b
* Content: [Azure Application Insights - Dependency Auto-Collection - Azure Monitor](https://docs.microsoft.com/en-u

[2020-05-06 19:28] rajkumar-rangaraj commented on #54240
@mrbullwinkle

[2020-05-06 19:28] nibaccam commented on #52309
@swanderz and @maarten2015 thank you for reporting this issue. A bug has been filed with our development team and I'll work with them to get this detail documented. We will now proceed to close this thread. #please-close

[2020-05-06 19:28] #52309 closed

[2020-05-06 19:35] mrbullwinkle commented on #54240
@rajkumar-rangaraj Any specific version info? Or just add Microsoft.Data.SqlClient? It looks like latest stable is currently  4.8.1?

[2020-05-06 19:35] echetto opened #54241 "Documentation doesn't tell what is the timeout"
Documentation doesn't indicate what is a "long-running" session. Minutes? Seconds? Hours?

[2020-05-06 19:36] echetto opened #54242 "Documentation doesn't tell what is the timeout"
Documentation doesn't indicate what is a "long-running" session. Minutes? Seconds? Hours?

&gt; # Usage limits
&gt; Cloud Shell is intended for interactive use cases. As a result, any long-running non-interactive sessions are ended without warning.
&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7b8330-007e-d13b-

[2020-05-06 19:36] #54241 closed

[2020-05-06 19:38] CharmanderJieniJieni opened #54243 "Cannot see IAM roles tab"
I have tried both standard and premium license, when go to Admin Console, I cannot see IAM role tab, would you please advice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d30ca6a2-5155-0a33-17d5-e3caad46f0e2
* Version Independent ID: cb775058-f2d3-b53b-3343-095733ca4d69
* Content: [Enable workspace object access cont

[2020-05-06 19:38] rajkumar-rangaraj commented on #54240
Current version of [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient/) is 1.1.2. This library is new and we support all version starting 1.0 (stable)

[2020-05-06 19:39] tfitzmac commented on #54115
@aholler2 - thanks for this feedback. I have updated the template reference docs for Front Door.

[2020-05-06 19:39] tfitzmac commented on #54115
#please-close

[2020-05-06 19:39] #54115 closed

[2020-05-06 19:40] amamounelsayed commented on #54163
It should be, adding our Maven team @Flanker32

[2020-05-06 19:41] SirRacha opened #54244 "Tutorial not accurate"
Changes have been made to the Azure API settings parameters and this tutorial is no longer accurate. The API now mandates an input for the API URL extension and you can't leave it blank. this results in a 404 when I do the test call because it automatically adds '/test/'so I end up with "https://apim-hello-world.azure-api.net/test/test" and a 404 for the mock call.

---
#### Document Details

⚠ *D

[2020-05-06 19:44] mrbullwinkle commented on #54240
thank you, sorry I was looking at System.Data.SqlClient

[2020-05-06 19:48] AjayKumar-MSFT commented on #53717
@mocleiri,  Just checking in to see if you have had a chance to see the previous response from Eric, and if the solution helped remedy the problem. Kindly confirm that Kudu URL points to the private IP. In case the issue still persists, kindly let us know we will be more than happy to assist you further.

[2020-05-06 19:49] djpmsft commented on #53093
Hey Kamil,

I can confirm that this is a bug. We are currently working on updating the script. Will post once we do.

Thanks,
Daniel

[2020-05-06 19:50] MariusVolkhart opened #54246 "Misleading comment about default authority"
The comment for `"default": true` in the authorities JSON suggests that it is valid to call `acquireTokenSilent` without an authority. It is in fact, not. See https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1034

The purpose of the `default` flag is otherwise unclear, otherwise I'd submit a PR to update it.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-06 19:56] nickgmicrosoft commented on #53599
A hotfix has been issued for this problem, should be resolved by Monday.

The UI element for the following step in the instructions was made unavailable:
**3. Under Advanced settings, enable Treat application as a public client (select Yes).**

As a temporary work around:
1. Go to the 'Manifest blade' in the App Registration for ProxyIdentityExperienceFramework
2. Set the **allowPublicClient** val

[2020-05-06 19:57] CESARDELATORRE opened #54247 "Update RunConfig from custom aml_run_config.environment.python.conda_dependencies to Curated Environment"
For this HOW TO, when possible (not super urgent) and as discussed offline about this improvement, we need to update this area to use a Curated Environment (Update RunConfig from custom aml_run_config.environment.python.conda_dependencies to Curated Environment).

This improvement makes the end-to-end run to finish in less time due to cached Docker image from the Curated Environment versus having

[2020-05-06 19:59] nickgmicrosoft commented on #53599
@Negwood @MSRobert @vivaladan @AmitavaHazra Please see above.

[2020-05-06 20:02] mumian commented on #53889
#please-close

[2020-05-06 20:02] #53889 closed

[2020-05-06 20:08] Sunnie25 opened #54248 "problems with 2 factor"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-05-06 20:12] raghu2505 commented on #54231
I even tried with a Bearer token in Postman and it worked. When i used the same Tenant URL and the bearer token, it is failing in Azure.
Is it compulsory for the tenant URL to be a HTTPS or will it work if it is a HTTP?

[2020-05-06 20:15] laurenhughes commented on #53900
@cynthn @ju-shim

[2020-05-06 20:16] Sunnie25 commented on #54248
I had to switch phones as my phone (Andriod) had a virus on it I back up the authenticator to my Microsoft account but on my new phone (iPhone) to recovery, it was not there I have got all my accounts but one that is my best buy account.  This account needs recovered they can't be recovered they stated that I would have to go through Microsoft to recovery it.  Thank you for your help and time on t

[2020-05-06 20:22] mrbullwinkle commented on #54143
Adding @DawgFan -- (We can update the docs if needed, but we need confirmation if cloud.rolename can be set for Python as you can [with the other SDKs to change the App Map correlation experience](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map?tabs=net#set-cloud-role-name). I know you can set custom properties/dimensions, but I don't think this will influence the Python App Map e

[2020-05-06 20:23] femsulu commented on #54170
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-06 20:24] mrbullwinkle commented on #54040
@clarkzone can you confirm if the web app you are running is Linux based? The doc currently states that this is only supported for Windows, but we can definitely make that more clear and specifically call out the scenario you are experiencing.

I can also recommend to the PM/Engineering team that they add a tooltip so that the greyed out icon tells you why it is greyed out rather than just making

[2020-05-06 20:28] mrbullwinkle commented on #54240
#in-progress

[2020-05-06 20:31] mrbullwinkle commented on #54240
#assign:mrbullwinkle

[2020-05-06 20:32] julieMSFT commented on #37411
assign:davidiseminger

[2020-05-06 20:33] mpryandds commented on #53831
Hello and thank you.

I startred with the recommended vm.  Small.  It had .5gb ram.  It wouldn’t start.  Somewhere I read increase the ram so I went to 3.5 gb I think, as I remember.  Where can I control costs by setting less ram?

I have hardware out the kazoo on my desk 32 gb.  I have servers with 32 gb in storage.  I planned to do a hybrid install but you made it too complicated.

Where do I cu

[2020-05-06 20:33] femsulu commented on #54170
@stefan-rapp - were you able to test the solution on a DC running WS2019? did you get an incompatibility error?
@bwren do you have any insight into the above question? IF no, who on the feature team can share guidance?

[2020-05-06 20:34] ybutkevych commented on #48902
I had the same issue. I had the App Service connected to the subnet. I removed the App Service Plan together with App Service which broke my VNet and did not allow to remove the associated subnet. In order to fix the solution:
1. Create App Service Plan with the same name as the deleted one
2. Create App Service with the same name as the deleted one
3. Link App Service with the VNET subnet
4. Disc

[2020-05-06 20:35] julieMSFT commented on #37411
#unassign:mlee3gsd

[2020-05-06 20:37] femsulu commented on #54200
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-06 20:39] femsulu commented on #54213
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-06 20:50] ttilberg commented on #53436
Referencing a dupe issue: https://github.com/MicrosoftDocs/azure-docs/issues/53360

They discuss using Docker as a workaround, and also link to the Ruby app service container: https://github.com/Azure-App-Service/ruby

[2020-05-06 20:50] CeciAc opened #54249 "Step 6 The command is not displayed even if you enter "Connect-AzAccount""
The comments below were machine-translated

@kurihiro0119 commented on [Wed May 06 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4528)

Follow step 6 and enter the form on the left that says Search Library Items
Nothing is displayed when I enter "Connect-AzAccount".
Therefore, the corresponding command cannot be set and the tutorial ends halfway.

---
#### ドキュメントの詳細

⚠ *このセクションを編集

[2020-05-06 20:52] mrbullwinkle commented on #54240
This update is merged internally and will go-live between 3-4 PM UTC-7.

[2020-05-06 20:52] mrbullwinkle commented on #54240
#please-close

[2020-05-06 20:52] #54240 closed

[2020-05-06 20:55] NowinskiK commented on #53093
OK, thanks!

On Wed, 6 May 2020 at 20:49, Daniel Perlovsky <notifications@github.com>
wrote:

[2020-05-06 20:55] mscatyao commented on #52156
Updated the doc as per the PR mentioned above. @TravisCragg-MSFT you can close this issue now.

[2020-05-06 20:55] frvigano opened #54250 "V1.0"
It seems that this page (and the other pages in the "Use containers" section) regards version 1.0 and not version 2.0 (not available yet). I would specify to avoid confusion

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a36a9196-5e31-1d88-115b-75dfb0b3fb0f
* Version Independent ID: 51db9675-eb67-a325-cd10-a2fbff8e102a

[2020-05-06 20:59] CeciAc opened #54252 "Update tag list"
@vtontodonato-c commented on [Wed May 06 2020](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/435)

How to check the latest update tag list for "cognitive-services-speech-to-text" ... there are images that are not reported into this list.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHu

[2020-05-06 20:59] CeciAc opened #54253 "Update tag list"
@vtontodonato-c commented on [Wed May 06 2020](https://github.com/MicrosoftDocs/azure-docs.it-it/issues/435)

How to check the latest update tag list for "cognitive-services-speech-to-text" ... there are images that are not reported into this list.

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHu

[2020-05-06 20:59] curtand commented on #47572
Hi @curtand
What is true is that assigning licenses to nested groups is still not supported. That doesn't mean it won't work under any circumstance, but if you proceed, you should know that it's an unsupported configuration.

Thanks, @SaurabhSharma-MSFT

#please-close

[2020-05-06 20:59] #47572 closed

[2020-05-06 20:59] aholler2 commented on #54115
@tfitzmac Thank you for your timeliness!!!

[2020-05-06 21:02] yohny opened #54254 "Snipped based setup discrepencies"
The snipped setup code sample on this doc page is different than the sample in app insight's readme.md on github (https://github.com/Microsoft/ApplicationInsights-js#snippet-setup-ignore-if-using-npm-setup)

Similar thing happened before, see #48152

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d56ecb14-9e66-5313-a381

[2020-05-06 21:05] venky76v opened #54256 "Text Translator"
[Enter feedback here]

I am following the samples from the website --> [https://docs.microsoft.com/en-us/azure/cognitive-services/translator/quickstart-translate?pivots=programming-language-csharp](url). Keep getting issue --> `{"error":{"code":401000,"message":"The request is not authorized because credentials are missing or invalid."}}`

I have the subscription keys from my Azure subscription. D

[2020-05-06 21:07] jarthu3 opened #54257 "Max Flows (SUM or MAX)"
The Azure Monitor screenshot above shows "SUM" as the metric for calculating inbound \ outbound flows.  When pulling this metric to see if we are hitting the 500k limit should we use "MAX" instead?

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#metric-values

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-06 21:09] venky76v commented on #54256
Ok guys, got it work. Looks like I need to send a extra header --> `request.Headers.Add("Ocp-Apim-Subscription-Region", "westeurope");`

It is not updated in the documentation. Now it works. You can close this issue

[2020-05-06 21:10] lwang2016 commented on #53889
Fix has been deployed to all prod regions.

[2020-05-06 21:12] markarnolditpro opened #54258 "Scope Security Center and secure score to set of resource groups?"
Is there a way to scope the secure score, or Security Center itself, to a set of resource groups?  Many resources are throw-away POCs that my developers spin up that but have no tie to the resources we care about securing.  I would like to exclude those from the recommendations and scoring.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-05-06 21:12] danijam commented on #52291
@SaurabhSharma-MSFT The Azure B2C Samples Repo Team have added an example. See:

https://github.com/azure-ad-b2c/samples/issues/57

I haven't validated it yet as we are still working through the Custom Policy learning curve!!

I'm not sure what content is best suited to docs.microsoft.com but I think there should be some more detail given it is highlighted featured mentioned already.

[2020-05-06 21:14] femsulu commented on #54229
Hi @igomat, Thanks for bringing this to our attention. For pricing related details for Azure services  e.g. Azure Backup, we recommend using the [Azure Pricing Calculator](https://azure.microsoft.com/en-us/pricing/calculator/?service=backup)- ref screenshot for illustration.

adding @dcurwin to address the "pricing not available" issue with the pricing page.

[2020-05-06 21:14] MarileeTurscak-MSFT commented on #54236
@sw3ngl1sh
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-06 21:15] MarileeTurscak-MSFT commented on #54220
@erichenson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-06 21:18] BeMor commented on #53575
Hi @mmacy,

The audience claim has to be the client Id, the GUID for some of the Azure resource you're trying to access despite having an app ID URI set. In my case this was a AAD Application Proxy which was setup a couple of years ago I believe. It was the note on the double slash for the Azure Resource Manager API which made me realise the issue.

So even if I use the default app ID URI of app:/

[2020-05-06 21:19] pompiamp opened #54259 "LOAD DATA LOCAL INFILE does not work"
Hi,
the page states that it is possible to run LOAD DATA LOCAL INFILE from an UNC path. but is not working, please check this msdn forum:

https://social.msdn.microsoft.com/Forums/en-US/523f1b9f-cc26-45f0-90cc-107d63bec22a/load-data-local-infile-does-not-work?forum=AzureDatabaseforMySQL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-05-06 21:23] femsulu commented on #54237
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2020-05-06 21:25] femsulu commented on #54239
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2020-05-06 21:25] katefarms commented on #50395
Hi Microsoft,
I am getting back a 403 error when trying to connect the ADF to Shopify.   Are there any known issue?  It looks fairly straight forward just requiring a Host URL and a token.  I have provided both but still have an issue.   Any suggestions?

Thanks,
Scott

[2020-05-06 21:26] mwchilde commented on #54215
I see the following PowerShell code after the statement "Run the following cmdlet to sign in to the Windows Virtual Desktop environment:".  Is this what you see also?

New-AzWvdHostPool -ResourceGroupName <resourcegroupname> -Name <hostpoolname> -WorkspaceName <workspacename> -HostPoolType <Pooled|Personal> -LoadBalancerType <BreadthFirst|DepthFirst|Persistent> -Location <region> -DesktopAppGroupN

[2020-05-06 21:27] SHAGGAR commented on #54017
Yeah it would be nice to have "MFA for on-premises applications" expanded into an individual feature list with which licenses are required for each feature and if they require per user licenses or just a single tenant wide license.

[2020-05-06 21:30] maya-cnx opened #54262 "Any way to access PIM API without delegated permission as user"
https://github.com/microsoftgraph/microsoft-graph-docs/issues/7934

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8c28716-3b7f-2064-4c79-72d46f09f886
* Version Independent ID: fd636801-4b0a-b825-78f6-55373797b3dd
* Content: [Microsoft Graph APIs for PIM (Preview) - Azure AD](https://docs.microsoft.com/en-us/azure/acti

[2020-05-06 21:30] mrbullwinkle commented on #54254
@yohny thanks for reporting this, I will take care of this.

[2020-05-06 21:30] mrbullwinkle commented on #54254
#assign:mrbullwinkle

[2020-05-06 21:33] UnsnappedKhan8 commented on #54167
@SamaraSoucy-MSFT  ig im trying to make a thread. Im still new to all of this tbh

[2020-05-06 21:35] UnsnappedKhan8 commented on #54167
and my command line is messed up i also have a message FROM Git hub saying they dot kniw or understand my code for the console im guessing

[2020-05-06 21:38] mmacy commented on #53575
Thanks for the additional details, @BeMor! I'll do some investigation on this side to see if we can determine why this might be the case for your older app proxies. Will leave this one open for now, thanks for your patience.

[2020-05-06 21:43] blarsonccc commented on #54240
Did want to follow up I've been chasing some issues with Microsoft.Data.SqlClient that haven't been working until I found a bug logged in github that said to update to 1.1 or later. Would be good if they could just ship 1.1.0 or later with EFCore 3.1.X nuget packages . Default I'm seeing in our project spun up in February 2020 is 1.0.19269.1 for SqlClient. Updating to 1.1.2 has resolved the issue.

[2020-05-06 21:44] ricmmartins commented on #54026
I have a customer with the same issue with Android client.

[2020-05-06 21:45] markarnolditpro opened #54263 "Any performance overhead to auditing?"
Does enabling auditing come with a performance hit to SQL CRUD?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27fe13-a824-84a5-e314-892a27c1dec5
* Version Independent ID: 510b5427-c927-84df-563f-31dfe13fc771
* Content: [Azure SQL Auditing - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/sql-

[2020-05-06 21:49] davidiseminger commented on #37411
Hi there - we're currently working on updating the Power BI article to reflect the changes, and will update this item once the work is complete. Thanks for bringing this to our attention.

[2020-05-06 21:49] RescueWhale opened #54264 "Love this but the powershell for adding the CA is broken"
Get the following, tried multiple PCs with different global admins, not sure what else it could be other than broken or the wrong command is listed above.

New-MgServicePrincipal : Could not load file or assembly 'Microsoft.Graph.Authentication, Version=0.2.0.0,
Culture=neutral, PublicKeyToken='redacted' or one of its dependencies. The system cannot find the file
specified.

just installed the gra

[2020-05-06 21:50] GreenReaper opened #54265 "Origin shield POPs and their impact on where content will be pulled"
This page glosses over what may be an important detail, and/or has not been updated. It states:

This implies that the one geographically-close POP is the same POP that does everything. However this (and the accompanying diagram) is not accurate, at least for the Microsoft CDN, and most likely others.

If the selected POP is truly on the edge, then in the case of a cache miss, it's likely to make

[2020-05-06 21:55] mike-urnun-msft commented on #54238
@DonThompson Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 21:59] metazog-dw opened #54266 "Problem with Link"
The link for Deploy Pivotal Cloud Foundry from Azure Marketplace does not resolve.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3aab3e8-e060-aed4-5ede-6b753fc931f0
* Version Independent ID: d88939aa-1786-f863-bbd5-5ad39c125c44
* Content: [Getting Started with Cloud Foundry on Microsoft Azure - Azure Linux Virtual Ma

[2020-05-06 22:02] Karishma-Tiwari-MSFT commented on #54176
Hope your issue is resolved. If not, please share the link to the document and i will direct it to the right team.

[2020-05-06 22:07] ScottSchwalm commented on #51925
No it is not.  Could it be a permission issue?  If so what permission would be responsible for accessing those options.

![image](https://user-images.githubusercontent.com/3587144/81233192-38f28000-8fc4-11ea-9eea-6710a54442df.png)

When clicking on other tabs they all have options.
![image](https://user-images.githubusercontent.com/3587144/81233296-60494d00-8fc4-11ea-9f74-9bdda0884f39.png)

[2020-05-06 22:08] Karishma-Tiwari-MSFT commented on #54218
Yes, this preview feature is available for premium container registry as of now.
This may or may not change when it goes to GA, the doc will be updated in either case.

Please post this as a product feedback [here](https://feedback.azure.com/forums/903958-azure-container-registry). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give

[2020-05-06 22:08] #54218 closed

[2020-05-06 22:09] sp4rc opened #54267 "When following this tutorial xrdp will only listen on tcp6"
vm1:~$ sudo netstat -plnt | grep rdp
tcp6       0      0 ::1:3350                :::*                    LISTEN      16250/xrdp-sesman
tcp6       0      0 :::3389                 :::*                    LISTEN      16260/xrdp

This won't allow me to connect

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077ee673-528a-d

[2020-05-06 22:09] SamaraSoucy-MSFT commented on #54188
@Nag2222 I hope you were able to solve your issue. If you have any followup, please tag me in your response.

[2020-05-06 22:12] johnnzy1 opened #54268 "Problem logging in to Digital Twins Graph Viewer"
Working through https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet I have got as far as provisioning the graph, having eventually succeeded in registering an app in Azure Active Directory to take care of the necessary authentication. The instructions for this were far from obvious! What I wanted to do next was to “view and modify” the spatial graph using the Azur

[2020-05-06 22:14] SamaraSoucy-MSFT commented on #54077
@smolesen Checking in to see if you could provide a link to the documentation you are having issues with. If I do not hear back within 24 hours I will mark this issue as resolved.

The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. We actively look through posts in the fo

[2020-05-06 22:15] Karishma-Tiwari-MSFT commented on #54217
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-06 22:18] Karishma-Tiwari-MSFT commented on #54266
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-05-06 22:18] #54266 closed

[2020-05-06 22:19] UnsnappedKhan8 commented on #54167
what is cannot publish unborn head

[2020-05-06 22:19] Karishma-Tiwari-MSFT commented on #54196
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-05-06 22:20] UnsnappedKhan8 commented on #54122
PR?

[2020-05-06 22:23] metazog-dw opened #54269 "SKU Types Missing"
In the section on creating a private cloud in the portal, text says "Select the appropriate SKU, available values are:" and no values are shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d9bb24e-ff10-6530-8f47-a0b53d192d4e
* Version Independent ID: 54d484a1-1cac-e765-eaa0-02493efe82cf
* Content: [Tutorial - Deplo

[2020-05-06 22:23] mike-urnun-msft commented on #54244
@SirRacha Thank you for your feedback! We will review and update as appropriate.

[2020-05-06 22:24] metazog-dw opened #54270 "--sku is not shown"
In the section on creating a private cloud with the Azure CLI, --sku is a required parameter and it is not indicated in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d9bb24e-ff10-6530-8f47-a0b53d192d4e
* Version Independent ID: 54d484a1-1cac-e765-eaa0-02493efe82cf
* Content: [Tutorial - Deploy vSphere Cl

[2020-05-06 22:25] SamaraSoucy-MSFT commented on #54167
No problem. So if I'm understanding correctly, you are trying to link those issues together in some way?

I can't help much with external tooling, but it looks like there are quite a few possible reasons for that error: https://github.community/t5/How-to-use-Git-and-GitHub/Cannot-Publish-unborn-Head-Issue/td-p/4049 Most of them are related to trying to push a commit on a repository that hasn't bee

[2020-05-06 22:29] #53783 closed

[2020-05-06 22:29] SamaraSoucy-MSFT commented on #54265
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-06 22:30] Karishma-Tiwari-MSFT commented on #54223
It is up to you to add extensions to the VM.

The primary use case for the Azure Desired State Configuration (DSC) extension is to bootstrap a VM to the Azure Automation State Configuration (DSC) service. The service provides benefits that include ongoing management of the VM configuration and integration with other operational tools, such as Azure Monitoring. Using the extension to register VM's

[2020-05-06 22:30] #54223 closed

[2020-05-06 22:31] SamaraSoucy-MSFT commented on #54122
Pull request.

[2020-05-06 22:31] navyasric commented on #52500
Redirecting this to @hamiltonha who owns the JS quickstart.

[2020-05-06 22:32] Karishma-Tiwari-MSFT commented on #53907
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-06 22:32] #53907 closed

[2020-05-06 22:33] GiftA-MSFT commented on #53837
@v-kydela no need to re-open, the document has been updated accordingly. Thanks for your feedback.

[2020-05-06 22:33] mmacy commented on #53783
Hi @RhomGit, an update to this article has been merged and should be live sometime after 0300 Pacific time.

[2020-05-06 22:34] navyasric commented on #52564
Redirecting to @hamiltonha who owns JS tutorial now.

[2020-05-06 22:37] Karishma-Tiwari-MSFT commented on #54021
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-06 22:37] Karishma-Tiwari-MSFT commented on #54075
Thanks for sharing the update. Glad to know it is resolved.

[2020-05-06 22:38] #54075 closed

[2020-05-06 22:38] #54021 closed

[2020-05-06 22:42] Karishma-Tiwari-MSFT commented on #54091
Can you please confirm that you have the aks-preview feature installed on the CLI?
If not, please install and let me know if you are still seeing issues.
az extension add --name aks-preview

[2020-05-06 22:47] Karishma-Tiwari-MSFT commented on #53668
Thanks for sharing the update.

[2020-05-06 22:47] SamaraSoucy-MSFT commented on #54242
Thanks for the question! We will review and get back to you shortly.

[2020-05-06 22:49] Karishma-Tiwari-MSFT commented on #54103
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-05-06 22:49] SamaraSoucy-MSFT commented on #54181
Thanks for the question! We will review and get back to you shortly.

[2020-05-06 22:51] JackHorlock commented on #53955
@lyrana I have repeated my test today using the April 2020 release of Power BI Desktop. The 404 error is exactly the same.

[2020-05-06 22:54] Karishma-Tiwari-MSFT commented on #53973
Thanks @susanshi
@slawekww Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-05-06 22:54] #53973 closed

[2020-05-06 22:56] Karishma-Tiwari-MSFT commented on #53735
Thanks for sharing the update.

[2020-05-06 22:57] yves-chan opened #54272 "5 storage accounts are auto-selected"
The default has been updated to auto select 5 storage accounts instead of 10

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75687a2c-c9e0-262f-197b-4b88b8e6d27d
* Version Independent ID: 58bd1e87-6399-d276-7258-b5022d1019a8
* Content: [Monitor Azure Storage services with Azure Monitor for Storage (preview) - Azure Moni

[2020-05-06 23:00] #52610 closed

[2020-05-06 23:07] arcotek-ltd commented on #41433
Different client, different project, same issue.

In brief, the only way I can get the certificate to show in the portal is when I use `New-AzADServicePrincipal`.

Using `Get-AzAdServicePrincipal` or `Get-AzADApplication` does _not_ show in the portal, however, they certs _are_ created, which can be confirmed thus:

[code]
According to the [documentation](https://docs.microsoft.com/en-us/powershel

[2020-05-06 23:12] femsulu commented on #17159
@nicovell3  - Do you know the [offertype](https://azure.microsoft.com/en-us/support/legal/offer-details/) on your subscription e..g PayGo, EA? There are a handful of offertypes that require Azure Support to enable Email Invoice for co-admins. Follow these steps to check the offertype on your subscription:

1. Log in to [Azure Management Portal](https://portal.azure.com)
2. Type 'Subscription' into

[2020-05-06 23:16] MarileeTurscak-MSFT commented on #54246
@MariusVolkhart
Thanks for your feedback! We will investigate and update as appropriate.

[2020-05-06 23:25] johnnzy1 commented on #54268
I wish I'd known this a couple of weeks ago, but I've just found out that the Chrome browser I was using has some problem with this app. Changing to Firefox I had immediate success. Edge also works

[2020-05-06 23:25] fadyanwar opened #54274 "Request NPM has been deprecated"
$ npm install request --save
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06ea8157-ae16-1905-1638-185ae47ebbaa
* Version Independent ID: ca831fc5-ed09-3e3a-1da9-8b1a38448214
* Content: [Quickstart: Dete

[2020-05-06 23:34] mrbullwinkle commented on #54240
@blarsonccc is this the issue you were referencing: https://github.com/microsoft/ApplicationInsights-dotnet/issues/1347

I can add a Note under that section of the table referencing the issue and the recommendation to make sure you are using at least 1.1.0.

[2020-05-06 23:34] vsantin commented on #54150
Hey guys, thanks for the update this, but I just notice that the SamlClaimType was changed but the JwtClaimType still equals "name" in the script example.

[2020-05-06 23:35] lobrien commented on #54247
Created Workitem: https://dev.azure.com/mseng/TechnicalContent/_queries/edit/1718001/?triage=true

[2020-05-06 23:35] sfoxover opened #54275 "Sample C# code has CS1503"
I get this error trying to paste in your sample C# code. It would also be good in the code snippet to include the using statements to make sure I am not using the wrong class e.g.
using MongoDB.Bson;
using MongoDB.Driver;

PipelineDefinition&lt;ChangeStreamDocument&lt;BsonDocument&gt;, BsonDocument&gt; pipeline
Argument 1: cannot convert from 'MongoDB.Driver.PipelineDefinition&lt;MongoDB.Driver.Ch

[2020-05-06 23:41] mgarf commented on #36009
@craigshoemaker just wanted to check in a few months later, if support around session information is now included since sessions have been made GA.

[2020-05-06 23:42] mrbullwinkle commented on #53954
@jwisener is this what you are looking for: https://docs.microsoft.com/azure/azure-monitor/log-query/datetime-operations#time-zones?

[2020-05-06 23:43] clarkezone commented on #54040
Yes, I was using .NET Core Linux.  The tooltip would be super helpful.  I just added App Insights to my project manually.  I now see some telemetry showing up but the Application Insights button is still greyed out in the app service.. any ideas?

[2020-05-06 23:50] mrbullwinkle commented on #54040
I know we have a preview experience for Profiler for .NET Core apps on Linux which is described here: https://docs.microsoft.com/azure/azure-monitor/app/profiler-aspnetcore-linux, but for snapshot debugger I am honestly not sure. @jogrima is the PM who owns snapshot debugger he should be able to weigh in on if this is supported, and if so how to get things up and running.

[2020-05-07 00:06] blarsonccc commented on #54240
Yes. Thank you!

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Michael Bullwinkle <notifications@github.com>
Sent: Wednesday, May 6, 2020 7:34:55 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Bob Larson <blarson@CoastalCreditLLC.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Microsoft.Data.SqlClient

[2020-05-07 00:06] Mike-Ubezzi-MSFT commented on #54259
@pompiamp Thank you raising this issue. This functionality is supported with the SMB protocol. Please see: [Use an Azure file share with Windows](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows) where the [UNC path is mounted as a drive letter](https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-windows#mount-the-azure-file-share-with

[2020-05-07 00:18] agolotin commented on #52449
This appears to actually be a recent regression on Verizon. We had around 5 CDNs that all have been running with brotli compression for around 2 years and suddenly we noticed that cached content was no longer served br compressed. We reached out to Verizon team and after many back and forths one of the engineers acknowledged that there appeared to have been a recent configuration change on their s

[2020-05-07 00:19] mrbullwinkle commented on #54240
Perfect, thank you. I will get that info added as well.

[2020-05-07 00:30] RhomGit commented on #53783
Hi, great to hear that this has been fixed, it was a touch confusing. That being said I had got this far myself. I already have Display Name checked and returning, what I was hoping to resolve is this:
![image](https://user-images.githubusercontent.com/25700833/81240951-80682300-903b-11ea-8038-3da61c77a081.png)

This is when calling:
            var accounts = await pca.GetAccountsAsync();

[2020-05-07 00:30] djsly commented on #54196
@smartpcr could you provide the `az version` output to see the version of your CLI as well as the features that you might have installed.

[2020-05-07 00:33] UnsnappedKhan8 commented on #53966
@SamaraSoucy-MSF hey do yall code for anonymous

[2020-05-07 00:35] UnsnappedKhan8 opened #54277 "#53788"
i was wondering about the Hybrid Runbook Cloud

[2020-05-07 00:39] UnsnappedKhan8 commented on #54167
this seems like a huge problem
I think its because theres a bug in the computer
@SamaraSoucy-MSFT

[2020-05-07 00:39] UnsnappedKhan8 commented on #54167
or console

[2020-05-07 00:39] neeleshray-msft commented on #53844
@rustyautopsy  We would be closing this issue now. Let us know if you need further help.

[2020-05-07 00:39] #53844 closed

[2020-05-07 00:40] neeleshray-msft commented on #53932
@YassineSOUABNI We hope you have been able to resolve the issue. We would be closing this issue now. Let us know if you need further help.

[2020-05-07 00:40] #53932 closed

[2020-05-07 00:43] UnsnappedKhan8 commented on #54167
or it seems like a tp link

[2020-05-07 00:43] neeleshray-msft commented on #54020
@curtand Could this be clarified and included in the document ?

[2020-05-07 00:47] mrbullwinkle commented on #54254
Also just to answer your original question this is what was updated in the snippet: https://github.com/microsoft/ApplicationInsights-JS/pull/1258. Pinging @MSNev to confirm that the snippet updates from the SDK repo readme should be added to any references to the snippet on docs.microsoft.com? (I can put the changes in now, but just wanted to confirm).

[2020-05-07 00:52] clarkezone opened #54278 "APPINSIGHTS_INSTRUMENTATION Key"
I'm a bit confused about the recommended way of supplying the instrumentation key.  I would expect the recommended way to by using Application settings (which are store encryped in the cloud and supplied at runtime automatically) rather than as json in my project.  I'm particularly confused as I see that application settings have been autocreated for me, and yet when i added App Insights to my pro

[2020-05-07 00:52] NavtejSaini-MSFT commented on #54088
@GithubMirek Please can you check and replace the screenshots with Save circled.
@Dottn We have assigned it to our author for further review.

[2020-05-07 00:54] nykekana opened #54279 "Permission denied (publickey)"
Hello,

Every time I try to connect to my vm i get this error message :

my_name@azure_vm_ip Permission denied (publickey).

How can I fix this?

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59b972fe-1a9d-33b3-bb75-5d3c6e0b3466
* Version Independent ID: 65cbe522-9ec5-be49-cbf1-76bbda994473
* Conten

[2020-05-07 01:06] KranthiPakala-MSFT commented on #50395
@katefarms Thanks for reaching out. Since the original posters query is different than your issue. I request you to please open a new issue. As your issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - MSDN or stack overflow.

Once you post your issue on forums, it will have visibility across the community which is a better suited audience for s

[2020-05-07 01:09] TravisCragg-MSFT commented on #54233
@isahunterintact can you give more info on what you are trying to do? Are you trying to get a network rule with a specific name, or are you trying to view the logs of a specific rule?

[2020-05-07 01:13] qm13 commented on #53383
@aanexplus this is not a doc issue. Could you please move it to the microsoft/Azure-Kinect-Sensor-SDK repo and we will comment there.

[2020-05-07 01:14] Mike-Ubezzi-MSFT commented on #54216
@ardacetinkaya Thank you for bringing this to our attention. If you look at section 2 ([Add single database to elastic pool](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-elastic-pool-failover-group-tutorial?tabs=azure-portal#2---add-single-database-to-elastic-pool)) in step 5 (configure elastic pool) there should be 3 tabs (Pool Settings, Databases, and Per Database Settings) w

[2020-05-07 01:16] dashesy opened #54281 "log_image with matplotlib example"
I would like to use log_image with a matplotlib plot, but cannot find any examples.
On the docker instance there is no X, so calling matplotlib will crash the script. Even if the backend would be forced beforehand matplotlib may result in memory leaks.
Is there a special backend we can use to plot?
What is exactly `plt` in `run.log_image("ROC", plot=plt)`?

The convention is to import `plt` like t

[2020-05-07 01:17] veyalla commented on #53808
@cmenzi Please reach out to me at veyalla@microsoft.com and I’ll connect you with the right folks for the answers to your questions. Thanks!

[2020-05-07 01:21] TravisCragg-MSFT commented on #54257
@jarthu3 the flow limit is a combination of inbound & outbound flows, so you would need to use the SUM to add both of them together.

MAX would only output the highest of the 2 single values, which would not give what you want.

[2020-05-07 01:24] mrbullwinkle commented on #54278
The manual config doc for .NET core was generally not designed for an App Service web app audience since most are able to get what they need out of the App Service specific doc for codeless attach: https://docs.microsoft.com/en-us/azure/azure-monitor/app/azure-web-apps?tabs=net

But, with that said for anyone like yourself that is monitoring .NET Core on Linux with App Services you do need to use

[2020-05-07 01:24] NavtejSaini-MSFT commented on #54159
@mslot As the document suggests and how Azure works, the storage layer is different from the compute layer and the restore will happen from there. It is not the conventional on prem setup.
As document also suggests recovery time will be based on:
The size of the database.
The compute size of the database.
The number of transaction logs involved.
The amount of activity that needs to be replayed to

[2020-05-07 01:28] NavtejSaini-MSFT commented on #54178
@srudin - Please convey for which action you are looking for the CLI example. Few of the CLI examples are in this document  - https://docs.microsoft.com/en-us/azure/sql-database/sql-database-cli-samples?tabs=single-database for Azure SQL DB.
Hope this helps.

[2020-05-07 01:37] KranthiPakala-MSFT commented on #54234
@viboga Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-05-07 01:37] nirnaymsft opened #54283 "ImportExport operation failed with error has an unresolved reference to object [dbo].[sp_set_session_context]."
We are able to Export Azure SQL Database from Portal "Export" Button.

But the Powershell fail with error message:
Get-AzSqlDatabaseImportExportStatus : BadRequest: The ImportExport operation with Request Id 'xxxxxx' failed due to 'Error
encountered during the service operation.
	One or more unsupported elements were found in the schema used as part of a data package.
Error SQL71501: Error validat

[2020-05-07 01:41] jwisener commented on #53954
That solution has a hard coded 8 in it.

[2020-05-07 02:00] DixitArora-MSFT commented on #54235
Hi @ParthiKarnan This channel is for driving improvements towards MS Docs, If you have any other question specific to product , it would be best if you can create the product issue to the official [Azure Functions Repo](https://github.com/Azure/Azure-Functions/issues) for better clarity. Once you post your issue on forums, it will have visibility across the community which is a better suited audie

[2020-05-07 02:01] BharathNimmala-MSFT commented on #53723
Thank you @Mexicoder for sharing additional details.

@MGoedtel - Can you please on this thread and share any pointers you might have ?  Thank you

[2020-05-07 02:15] SteveBurkettNZ commented on #49481
Solved my 'System error 86 has occurred' issue .  The computer account for the Azure Files storage account had become disabled in AD. Reenabled the computer account and she worked first time. Fancy that!

[2020-05-07 02:15] BharathNimmala-MSFT commented on #53712
@YassineSOUABNI  Apologies for delayed response on this, assigning this issue to our document author @MGoedtel to further evaluate the feedback and update the document accordingly.

[2020-05-07 02:17] TravisCragg-MSFT commented on #54074
@Wallysantos The address range 10.0.254.0/27 is NOT within the listed address range of your VNET: 10.0.0.0/24 (10.0.0.0 - 10.0.0.255)

[Increase the address range of your Virtual Network to include the address range you are trying to add to Azure Bastion](https://docs.microsoft.com/en-us/azure/virtual-network/manage-virtual-network#add-or-remove-an-address-range)

An easy way to tell the range of