[2018-06-18 17:30] #10350 closed

[2018-06-18 17:30] femsulu commented on #10346
@kaareschmidtalso closing as resolved by customer.

[2018-06-18 17:30] #10346 closed

[2018-06-18 17:35] MicahMcKittrick-MSFT commented on #10299
@MikkelHegn can you take a look and consider adding this info to the doc?

[2018-06-18 17:36] MicahMcKittrick-MSFT commented on #10302
Thanks @mmacy!

@loket let us know if you need more information.

[2018-06-18 17:36] #10302 closed

[2018-06-18 17:37] TravisCragg-MSFT commented on #10319
@jebeld17 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 17:39] TravisCragg-MSFT commented on #10329
@Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 17:39] vasivara-MSFT commented on #10281
@gesandovalr We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 17:40] TravisCragg-MSFT commented on #9061
@daviburg We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-18 17:40] #9061 closed

[2018-06-18 17:40] femsulu commented on #10342
@Naboo2604 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-18 17:42] MohitGargMSFT commented on #10254
@superminiek I see below Azure Feedback logged on it and Azure Storage team replied that "Customers can already scan their own blobs using their favorite antivirus software".

https://feedback.azure.com/forums/217298-storage/suggestions/8301591-antivirus-for-blob-storage

I also see below Stack Overflow thread discussion on it.

https://stackoverflow.com/questions/41740711/any-ideas-about-how-to-c

[2018-06-18 17:44] femsulu commented on #10366
@gesandovalr Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-18 17:44] Bartolomeus-649 commented on #7946
So, you might release a new version of a product or technology, that requires the documentation to updated, but without actually updating the documentation?

If that is the case, then what is the official recommended method from microsoft to know if the documentation is:

1. Correct?
2. For the current/latest release?

As an example, it cost me and my customer many hours (thousands of dollars) to

[2018-06-18 17:46] MohitGargMSFT commented on #10208
@dannradkov Thanks for clarification. I have assigned the issue to the content author to investigate and update as appropriate.

[2018-06-18 17:47] timwieman commented on #10283
I did it about 2 weeks ago (I think?), and didn't get any routes by default. I just retried it, though, and I do see the routes.  Maybe I did it all through script when I did it, which didn't include routes in my JSON. The other person in the DL who was having the issue likely overwrote his default route with new routes in a different tutorial. For this tutorial, it might be good to put a note in

[2018-06-18 17:48] #8147 closed

[2018-06-18 17:48] #10193 closed

[2018-06-18 17:49] MohitGargMSFT commented on #10238
@thesheebs We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-18 17:49] #10238 closed

[2018-06-18 17:49] microbart commented on #10357
I'm so sorry. I missed a very important step from the tutorial.
I only ran the command "sudo apt-get update", but forgot the command: sudo apt-get install xfce4

Now I followed every step, everything is working just like in the tutorial.

<shame>

Sorry Micah

[2018-06-18 17:49] #10357 closed

[2018-06-18 17:50] MohitGargMSFT commented on #10253
@elpe33 Please mention the MSDN post link here and I will make sure it is updated. Thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-18 17:50] #10253 closed

[2018-06-18 17:51] SnehaGunda commented on #8436
#please-close

[2018-06-18 17:51] MohitGargMSFT commented on #10273
@cwienands We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-18 17:51] vasivara-MSFT commented on #10361
@jimborogers Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 17:51] #8436 closed

[2018-06-18 17:54] ankitgoelcmu opened #10369 "Export of Function Metrics are not supported via Azure Monitor"
This doc says you can export Function App metrics to Event Hub via Azure Monitor but I don't see a way to do it ar Azure Portal

https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0a586c4-71fd-e60b-9c4c-1a3eb2443c74
* Version In

[2018-06-18 17:56] kgremban commented on #10283
I can certainly add that line to step 9.

[2018-06-18 18:01] jomolesk commented on #10354
@aaptbhatt It appears that the script is trying to create a Key Vault using the name of an existing Key Vault. If you run the deployment multiple times, you should use the -prefix switch to avoid this issue.

@vasivara-MSFT Please close this issue; it is unrelated to Microsoft Docs content.

[2018-06-18 18:06] MicahMcKittrick-MSFT commented on #10313
@neilpeterson any idea what is going on with this module? I can confirm that it is not in the 6.2 AzureRM package and I can't find it as a stand alone.

[2018-06-18 18:06] BryanTrach-MSFT commented on #10331
@Benjathing We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and tag me in your reply. We will gladly continue the discussion.

[2018-06-18 18:08] MicahMcKittrick-MSFT commented on #10316
@thomasmktong in theory you could reach out to subscription and billing to have your quota decreased back to the standard. However I am not aware of a way to say set particular quotas on your subscription via the portal. You can of course use RBAC to setup rules that allow or disallow people to create services in specified regions or types.

What are you looking to achieve with this?

[2018-06-18 18:10] MicahMcKittrick-MSFT commented on #10320
Looks like the step it is referring to does show where to find DNS names:

https://docs.microsoft.com/en-us/azure/aks/http-application-routing#troubleshooting

![image](https://user-images.githubusercontent.com/32313503/41553985-42bfca84-72e8-11e8-90ff-a144d6b67ded.png)

[2018-06-18 18:12] MicahMcKittrick-MSFT commented on #10368
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 18:14] femsulu commented on #9138
@Davilink can you share the diag traces as requested by @nilpatelmicrosoft ?

[2018-06-18 18:16] vasivara-MSFT commented on #10354
@aaptbhatt We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 18:16] #10354 closed

[2018-06-18 18:16] davidmu1 commented on #9427
Added text to clarify the files that are used when adding code snippets.

#please-close

[2018-06-18 18:17] YutongTie-MSFT commented on #10344
@pallaviMN Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, this is a doc-enhancement issue about how to change URL in "IAuthorizationProvider" for android to westUS, can you please check it and update the document for more details as necessary? Thanks a lot!

[2018-06-18 18:17] MicahMcKittrick-MSFT commented on #10325
@microbart I checked the process but I am able to just click OK without any additional configuring:

![image](https://user-images.githubusercontent.com/32313503/41554200-fa60968c-72e8-11e8-90a6-bf7f6a22a73e.png)

Also, as per the diagnostics account, the reason you have to create it is because you still have diagnostics enabled.

![image](https://user-images.githubusercontent.com/32313503/41554251

[2018-06-18 18:18] davidmu1 commented on #9881
Added text about where the ClaimsSchema element is added.

#please-close

[2018-06-18 18:20] mike-urnun-msft commented on #10315
Hi @t4apps - Are you having difficulty around specific step in this documentation?

[2018-06-18 18:21] MicahMcKittrick-MSFT commented on #10352
@kgeorge314 I have assigned this to the author to review and determine how we should update the docs

[2018-06-18 18:22] vasivara-MSFT commented on #9074
@AshishDhawal We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 18:22] #9074 closed

[2018-06-18 18:23] SaurabhSharma-MSFT commented on #10335
@dcbrown16 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-18 18:23] vasivara-MSFT commented on #9724
@superminiek We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 18:23] #9724 closed

[2018-06-18 18:25] alvipeo opened #10372 "Could you provide more details when there are multiple tables involved?"
It's a good example for a single table. But I'm actually don't know how to extend it for multiple tables scenario which is more relevant for most people. For example, I have more questions after reading this.

Like - how can I create a pipeline when there are multiple source tables? can I add them in the template? how? what's the schema of that .json file? where to find it? etc, etc!

---
#### Doc

[2018-06-18 18:27] SaurabhSharma-MSFT commented on #10351
@vetrivelmp Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-18 18:28] SaurabhSharma-MSFT commented on #10355
@pgarm Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-18 18:29] SaurabhSharma-MSFT commented on #10356
@colemickens Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-18 18:31] SaurabhSharma-MSFT commented on #9881
@tsulli We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 18:31] #9881 closed

[2018-06-18 18:31] SaurabhSharma-MSFT commented on #9427
@laultman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 18:31] #9427 closed

[2018-06-18 18:32] ddeep2007 opened #10374 "Event Hub Name For Exported"
In order to consume events exported from the activity log the name of the Event hub (env variable EVENTHUB_NAME) is required as per the readme here - https://github.com/Azure/azure-event-hubs-go. There is no option in the Azure Portal to view the name of the event hub created when exporting the activity logs. Where can this be found? Could you please update this document appropriately based on the

[2018-06-18 18:32] superminiek commented on #9724
Thank you!

[2018-06-18 18:33] MicahMcKittrick-MSFT commented on #10357
@microbart all good! Thanks for updating us and glad to hear it is working now :)

[2018-06-18 18:34] YutongTie-MSFT commented on #10336
@trumhemcut Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@Svankam Hi, this is a doc-enhancement issue, it seems that the solution not worked. Can you please check the document and update it as necessary? Thanks a lot!

[2018-06-18 18:37] kaburkett commented on #10322
What needs to be investigated, it's very cut and dry

[2018-06-18 18:42] Mike-Ubezzi-MSFT commented on #10367
@gilherau Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 18:45] Mike-Ubezzi-MSFT commented on #10367
In the [Canceling recommendations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-advisor-portal#canceling-recommendations) and the [Monitoring operations](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-advisor-portal#monitoring-operations) chapters...

![screenshot 78](https://user-images.githubusercontent.com/37126106/41555621-22cc143a-72ed-11e8-80b2-623a94a73

[2018-06-18 18:46] SnehaGunda commented on #9750
@deepakar hope Rafay's explanation helps, we will be releasing a new version of change feed processor library soon, the docs will be updated to point to the new code when it's releases.

[2018-06-18 18:46] SnehaGunda commented on #9750
#please-close

[2018-06-18 18:46] BryanTrach-MSFT commented on #10341
@lindsve Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 18:46] BryanTrach-MSFT commented on #10365
@sieradz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-18 18:49] aschiebold commented on #10322
@kaburkett There is no example showing how to use IP restrictions. Based on the explanation in the docs, I would need to have some sort of list of IPs that are allowed to use my site. I want to let the entire world use my site and block specific IPs.

[2018-06-18 18:59] aanandr commented on #10284
I think we are referring to the reverse tunnel that is setup from the cluster to the master which is then used by the master to manage agent nodes. This tunnel is setup to a master public endpoint.
I dont know the IPs of these endpoints, @sauryadas would know.

[2018-06-18 19:02] BryanTrach-MSFT commented on #7946
@Bartolomeus-649 We strive to provide up to date documentation but our docs cover a wide array of topics across each of Azure's 140+ products. Our content authors work hard to keep the docs up to date while writing documentation for new features.

We apologize for the issue that you encountered. Please know that we are constantly striving to improve ourselves to better serve you.

If you have ques

[2018-06-18 19:02] #7946 closed

[2018-06-18 19:17] rwike77 commented on #10240
@artisticcheese Hi, thanks for the suggestion.  For quickstarts, though, we tend to focus on the Visual Studio experience.  Once the container has been packaged as a SF service, you can deploy the application using PowerShell the same as any other SF application.  Take a look at the [Deploy and remove applications using PowerShell](https://docs.microsoft.com/azure/service-fabric/service-fabric-dep

[2018-06-18 19:18] SaurabhSharma-MSFT commented on #10304
@JGezels No, you cannot have a single subscription associated with multiple B2C's. An Azure B2C Tenant is a resource that you create within your Azure Tenant which has an Azure Subscription.

[2018-06-18 19:21] artisticcheese commented on #10240
This is really counter progress to what Microsoft is selling for Service Fabric which is open/cross platform for both development and deployment. Reliance on heavy UI/Windows only tool is against that mantra. Service Fabric is already lagging behind competition in container orchestration, this requirement to have Visual Studio just to package XML files puts it even further behind.

[2018-06-18 19:28] akramwaseem opened #10376 "OMS agent is throwing error when installing through ARM template"
Below is the error message, I am seeing while deploying the OMS agent through ARM template.
Happens only for some templates not for other which is same.

-----------------------------------------------------------
info:    Executing command group deployment operation list
info:    Getting deployoment operations
data:    Id:                   /subscriptions/xxxxxxxxxxxxxxxxxxxx/resourceGroups/RgGoC

[2018-06-18 19:32] jsuknaic opened #10378 "Azure AD Password Protection"
Team, does Azure AD Password Protection require Azure AD Premium?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 241594c4-e593-8082-2ed6-f962a1d3c4d4
* Version Independent ID: c656c577-e64a-35c1-90bc-7c86ae9ca876
* Content: [Troubleshooting and logging in Azure AD password protection preview](https://docs.microsoft.com

[2018-06-18 19:33] scholtes commented on #10286
Sounds good, thank you @Mike-Ubezzi-MSFT

[2018-06-18 19:34] mattbriggs commented on #10329
@cenkersoy Thanks for the feedback. I've added the note. Cheers! Matt #please-close

[2018-06-18 19:40] MicrosoftGuyJFlo commented on #10378
See https://docs.microsoft.com/azure/active-directory/authentication/concept-password-ban-bad-on-premises#requirements for licensing detail.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: jsuknaic <notifications@github.com>
Sent: Monday, June 18, 2018 12:32 PM
To: MicrosoftDocs/azure-docs
Cc: John Flores; Mention
Subject: [MicrosoftDocs/azure-docs] Azure AD Pas

[2018-06-18 19:42] MicrosoftGuyJFlo commented on #10378
@jsuknaic does that answer the question for you?

[2018-06-18 19:44] jsuknaic commented on #10378
Hi John,
Thank you for responding.  The only stuff I see on licensing in that link is referring to Azure AD self-service password reset.  I don’t see anything referring to licensing for Azure AD Password Protection so I am not sure if that answers my question.  Is there a specific link that I am missing?

John

John Suknaic
Senior Technical Account Manager
jsuknaic@microsoft.com<mailto:jsuknaic@mi

[2018-06-18 19:45] MicrosoftGuyJFlo commented on #10378
From the site I linked above.

Requirements
Azure AD password protection for Windows Server Active Directory requires Azure AD Premium licenses. Additional licensing information, including costs, can be found on the Azure Active Directory pricing site.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: jsuknaic <notifications@github.com>
Sent: Monday, June 18, 2018

[2018-06-18 19:48] Mike-Ubezzi-MSFT commented on #10296
The video concludes that 100,000 (1KB Avg) results in 100GB in Cosmos DB storage. 100,000 1KB records translates to 100MB, not 100GB.

![screenshot 79](https://user-images.githubusercontent.com/37126106/41558232-07bfc134-72f5-11e8-861d-b8338c849343.png)

Using the example 1KB Json document, I loaded it into the Cosmos DB pricing calculator and total storage is less than 100MB:

![screenshot 80](ht

[2018-06-18 19:51] jsuknaic commented on #10378
Sorry I missed that John and thank you very much!
John

John Suknaic
Senior Technical Account Manager
jsuknaic@microsoft.com<mailto:jsuknaic@microsoft.com> | • Mobile:  (717) 571-1328

Microsoft Premier Support: • Support: (800) 936-3100  Microsoft Premier Online : https://Premier.Microsoft.com<https://premier.microsoft.com/>
[cid:image001.jpg@01CE7724.92A5CAF0]

From: John Flores <notifications@g

[2018-06-18 19:53] neilpeterson commented on #10313
As far as I know, a PowerShell module for AKS is not yet ready.

Adding @seanmck to confirm.

Thanks

[2018-06-18 19:53] SaurabhSharma-MSFT commented on #10309
@cloudinnovating Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-18 19:54] ivan-shaporov opened #10379 "Incomplete sentence"
"IoT Edge devices cannot connect to IoT Edge gateways." - it seems that there is something missing in this sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71acc49c-a23e-493f-c3f5-4ec46846616c
* Version Independent ID: bd3abb8d-1b48-0efd-f6a4-1b3f7a12c039
* Content: [Create a transparent gateway device with Azu

[2018-06-18 19:57] MicrosoftGuyJFlo commented on #10378
You’re welcome. #please-close

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: jsuknaic <notifications@github.com>
Sent: Monday, June 18, 2018 12:51 PM
To: MicrosoftDocs/azure-docs
Cc: John Flores; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Azure AD Password Protection (#10378)

Sorry I missed that John and thank you very much!
John

John Suknaic
Senior Tech

[2018-06-18 20:03] TravisCragg-MSFT commented on #10329
@cenkersoy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-18 20:03] #10329 closed

[2018-06-18 20:18] SaurabhSharma-MSFT commented on #10347
@axelgMS Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-18 20:20] iainfoulds commented on #10255
@JensPeterC Thanks for reaching out. I've created a PR that adds information on fault and update domains.

An Availability Zone in an Azure region is a combination of a fault domain and an update domain. For example, if you create three or more VMs across three zones in an Azure region, your VMs are effectively distributed across three fault domains and three update domains. The Azure platform rec

[2018-06-18 20:30] MarkusVi commented on #10176
#please-close

[2018-06-18 20:31] TomShinder commented on #9878
Can really give details at this time. We'll review for possible increased detail in the future. Thanks!

[2018-06-18 20:32] barclayn commented on #10208
@MohitGargMSFT We are looking into this.

[2018-06-18 20:32] #10368 closed

[2018-06-18 20:34] TomShinder commented on #10219
We are investigating.

[2018-06-18 20:37] xyh1 commented on #9813
@Adam-Smith-MSFT resolved

[2018-06-18 20:40] Mike-Ubezzi-MSFT commented on #10363
@bastyuchenko Thanks for your inquiry. I believe the DLQ is per Service Bus Name Space. You can use the Azure Portal or the Service Bus Explorer to list and view the Topics and Queues but, you should see a single DLQ per Service Bus Name Space instance.

[Service Bus Explorer Downloads](https://github.com/paolosalvatori/ServiceBusExplorer/releases)

**The dead-letter queue**

The purpose of the de

[2018-06-18 20:42] Risanshita commented on #10190
@MicahMcKittrick-MSFT I want to implement (role or claims based)Authorization on method level and Authentication.

[2018-06-18 20:42] microbart opened #10380 "Some windows don't appear"
Hi,

I now followed the tutorial and successfully got the screen as is shown in the picture below "After authenticating, the xfce desktop environment will load and look similar to the following example:"

But when I start using this remote desktop, then some windows do not appear.
If I start the web browser, nothing happens.
I installed Chromium-browser. But when I start that, also no window appea

[2018-06-18 20:43] rwike77 commented on #10226
@aarondh Thanks, that's a good suggestion.  I'll update the sample script.

[2018-06-18 20:52] MicahMcKittrick-MSFT commented on #10190
As far as I know you can limit access via Access Control, RBAC and Azure AD. For anything else you want to see added as far as functionality goes I would suggest you leave your feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback)

I believe the integration with Azure AD would provide you with what you are looking for.

https://docs.microsoft.com/en-us/azure/app-servic

[2018-06-18 20:56] MicahMcKittrick-MSFT commented on #10376
You mention it is not always failing. So it is only failing occasionally? What OS, VM size and region? Are you able to repo it on the ones that fail?

[2018-06-18 21:01] SaurabhSharma-MSFT commented on #10351
@vetrivelmp Can you try using UseJwtBearerAuthentication to validate the token. Please refer to [post](https://nicksnettravels.builttoroam.com/post/2017/01/29/UseWindowsAzureActiveDirectoryBearerAuthentication-vs-UseJwtBearerAuthentication-for-Authorization-with-Azure-Active-Directory-for-an-ASPNET-Web-API.aspx) for more details on using this extension method.

[2018-06-18 21:04] SaurabhSharma-MSFT commented on #10378
@jsuknaic We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-18 21:04] #10378 closed

[2018-06-18 21:08] microbart commented on #10380
After starting some random applications, suddenly all the windows of all the applications I had started appeared.

But if I click on a button in Chrome (like 'customize and control Chromium'), it takes ages for a window to appear.

The RDP connection is sooooooooooo slow.

Any suggestions how to make the RDP desktop more responsive?

[2018-06-18 21:16] crypt1d commented on #10098
I can confirm this is an issue and had to do the same changes.

See https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_saml.html#troubleshoot_saml_invalid-response

[2018-06-18 21:28] Mike-Ubezzi-MSFT commented on #10379
@ivan-shaporov Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 21:29] Mike-Ubezzi-MSFT commented on #10379
Reference:

![screenshot 82](https://user-images.githubusercontent.com/37126106/41563250-f5b0d9d8-7303-11e8-9739-5b463b18efc8.png)

[2018-06-18 21:32] Mike-Ubezzi-MSFT commented on #10364
@guybartal Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-18 21:35] SaurabhSharma-MSFT commented on #10355
@pgarm  I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help you getting answered.

[2018-06-18 21:37] #10255 closed

[2018-06-18 21:41] dave-hillier commented on #10320
Exactly, that isn't the "last step" or specifically the information you need.

My assumption is they meant the previous which has a very similar screen except with the top highlighted.

[2018-06-18 21:43] barclayn commented on #9878
@SenthuranSivananthan Thank you for your feedback. We will be revising this documents and see what we can do to provide additional clarity around this question.

[2018-06-18 21:43] barclayn commented on #9878
#please-close

[2018-06-18 21:58] ddeep2007 commented on #10374
Looks like activity logs events are correctly forwarded to Event Hub only if Microsft.Insights is registered for the subscription. Once this is done - the Event Hub is created with name: insights-operational-logs

[2018-06-18 22:07] sergaz-msft commented on #10245
Hello @tony-gutierrez,
Thanks for your feedback, as of today it looks like you need to do an alert for each topic\queue you are interested in.

Can you post this as a feedback @ https://feedback.azure.com/forums/216926-service-bus. This will allow the community to upvote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to ta

[2018-06-18 22:08] sergaz-msft commented on #10245
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-18 22:08] #10245 closed

[2018-06-18 22:11] CeciAc opened #10381 "Endpoint Protection"
@jittata commented on [Mon Jun 18 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/549)

This document titled Azure Security Center and Azure Virtual Machine on Linux is where it makes sense to use Security Center.
・ Endpoint protection recommendations
Although it is described, when confirmed with Microsoft support unit
We received an answer that endpoint protection is only supported

[2018-06-18 22:14] CeciAc commented on #10381
Hi team,
I'm moving this from the ja-JP repo since the contributor reported some accuracy issues in the document.

Kind regards
Microsoft DOCS International Team

[2018-06-18 22:18] CeciAc opened #10382 "Aggregate Pipeline: sample doesn't seem to work"
@Lhdang88 commented on [Sun Jun 17 2018](https://github.com/MicrosoftDocs/azure-docs.de-de/issues/86)

##### expected Behavior:

collection('a').aggregate([{ $group: {...} },  {$sample: {size: 1}}])
- returns 1 random document, from group-stage (results size is &gt; 1)

##### Behavior:
- returns the first/ not random document

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er

[2018-06-18 22:19] CeciAc commented on #10382
Hi team,
I'm moving this one from the de-DE repo since the contributor reported a bad example.

Kind regards,
Microsoft DOCS International Team

[2018-06-18 22:22] sergaz-msft commented on #10252
Hello @kunalaphadnis99 , the step to add the IoT Edge Module "tempSensor" is pretty straight forward - that shouldn't be the issue but can you give it a try and follow the steps in order like described on this doc?

For example if you are setting up the routes like this:

[code]

You will need to have tempSensor module deployed and running on the Edge Device.

Finally, the best way to understand w

[2018-06-18 22:36] MicahMcKittrick-MSFT commented on #10320
Fair enough. I will assign to the content author to review and see if we can reorganize a bit.

@lachie83 can you take a look?

[2018-06-18 22:38] #10291 closed

[2018-06-18 22:41] MicahMcKittrick-MSFT commented on #10380
In my experience I have always found using RDP for linux boxes to be a bit laggy. However if you are seeing slowness you would want to check both your internet connection and the size of the VM. Running a GUI interface takes more CPU processing so if your VM is extremely small then you might want to consider sizing up a bit to see if that helps. You could always up the size to test and resize back

[2018-06-18 22:52] sergaz-msft commented on #10349
I was able to reproduce your issue using [Microsoft.Azure.Relay stable version 1.0.0](https://www.nuget.org/packages/Microsoft.Azure.Relay/). If you use the prerelease version 2.0.0-preview1-20180523 you will overcome that error. Though you will hit another one:

**On line 35**
`context.Response.StatusCode = HttpStatusCode.OK;` .
**Error**: CS0103  C# The name 'HttpStatusCode' does not exist in th

[2018-06-18 22:53] dankellett commented on #9799
Hi @mmacy, I attempted following your example and I am getting a deployment failure.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"BadRequest","message":"{\r\n \"error\": {\r\n \"code\": \"InaccessibleImage\",\r\n \"message\": \"The

[2018-06-18 23:02] SaurabhSharma-MSFT commented on #10374
@ddeep2007 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-18 23:04] licjapodaca commented on #10274
Hi @artisticcheese , you must include explicitly under fabricSettings like so:

[code]

Greetings

[2018-06-18 23:05] artisticcheese commented on #10274
Does it mean that it can only be specified during initial cluster creation?

[2018-06-18 23:05] vasivara-MSFT commented on #10372
@alvipeo Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-18 23:15] SaurabhSharma-MSFT commented on #10369
@ankitgoelcmu Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-18 23:31] mmacy commented on #9799
@dankellett Hmm...I'm unable to repro this issue. To mirror as closely as possible your environment, I deleted all other images out of my repository, save for my private "aci-helloworld" repo, deployed to West US 2 in a new RG named "containerrg," and was able to deploy successfully. Even bumped my password length such that it was longer than yours, just in case.

I assume you are able to `docker

[2018-06-18 23:32] ToruMakabe commented on #10326
@kapopken Umm... It seems there is no useful messages...

[code]

[2018-06-18 23:49] sergaz-msft commented on #10374
Hello @ddeep2007 , in order to check what is the EventHub being used by the Azure Activity Log you can click on Export while on Activity Log Service and if the EventHub was already used it will show up there:

![image](https://user-images.githubusercontent.com/22173500/41567750-c764d326-7359-11e8-9a9a-96f4878eb99c.png)

Was this able to answer your initial question?

As for the Resource provider M

[2018-06-18 23:54] kapopken commented on #10326
@ToruMakabe nope not very helpful. Were you able to enter in your auth code or did it fail as soon as it tried to generate a code for you?

[2018-06-18 23:54] Mike-Ubezzi-MSFT commented on #10382
@CeciAc Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-18 23:56] codepossible commented on #9759
@brjohnstmsft  - What I mean to say here is that when the Azure Search is used, it is quite possible, the sources and indexes may be set up by one team and while the client is created by another team. Currently flow of documentation assumes it is one party with knowledge of both sides. It may help to the separation laid out more clearly.

As an example, a colleague and I were working on a solution

[2018-06-19 00:04] curtand commented on #10290
Hi @gutjahr I'm investigating this now with the PM.
#in-progress

[2018-06-19 00:08] Mike-Ubezzi-MSFT commented on #10215
@sovanny Is any log output generated? Can you type: docker logs -f <device> and is there anything possibly logged as output?

[2018-06-19 00:15] mike-urnun-msft commented on #10341
Hi @lindsve - I repro-d this issue and confirmed that there's `502 Bad Gateway` error from `nginx` when `https://yoursite.azurewebsites.net/.auth/login/google/callback` is invoked during the sign-in process.
As such, I have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-19 00:18] Benjathing commented on #10331
The section **Skillset definition in REST** has changed; however the section [**Add a custom skill**](https://docs.microsoft.com/en-us/azure/search/cognitive-search-defining-skillset#add-a-custom-skill) is still showing `/documents/content/organizations/`
@BryanTrach-MSFT

[2018-06-19 01:11] BryanTrach-MSFT commented on #10331
@Benjathing It can take ~24 hours for the changes to appear. Let's revisit this tomorrow.

[2018-06-19 01:13] dwightcheu opened #10385 "Azure AD feedback"
I couldn't for the life of me figure out how to sign up for Azure AD. I could see how to get a premium account, but not a plain-old regular acct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bbdc255-3660-8f18-be34-91f5fa2ef067
* Version Independent ID: a52eaf74-fb46-5236-26b1-8c404c841ea3
* Content: [Get started wit

[2018-06-19 01:17] ddeep2007 commented on #10374
@sergaz-msft - Isn't that incorrect? That is the name of the Event hub namespace and not that of the event hub itself. For setting up a consumer both are required.

As stated earlier, if the documentation is corrected to include the registration of the microsoft.insights resource provider then it would make things more obvious.

[2018-06-19 01:43] kriston opened #10386 "How do we properly specify user roles?"
How do we properly specify user roles when granting permissions to roles?  Do we use "username" or do we use the "username@azuredbhostname" style that we use to log in?  If it's the latter, what's the proper syntax to grant permissions to "username@azuredbhostname" in Azure DB for PostgreSQL?

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-19 02:06] croitor1 opened #10387 "Missing 81012"
With PTA  SIGN-IN ERROR CODE - 81012
FAILURE REASONThe user trying to sign in to Azure AD is different from the user signed into the device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f83a9e6-2363-2c73-5ed2-f40bd48899b8
* Version Independent ID: f47dc642-f083-b173-9b6e-ce61e31685a9
* Content: [Sign-in activity rep

[2018-06-19 02:53] tony-gutierrez commented on #10245
If it is possible to use the "entityName" to target a subscription, that definitely needs to be in the docs. No one would ever monitor the total number of messages in a topic, as each new topic message gets duplicated to each subscription and consumed at different rates. There is no use for the topic level metric.

[2018-06-19 02:56] LuisCabrer commented on #10331
@Benjathing , you are right. I am fixing this right now. The change should be deployed tomorrow afternoon. Thanks for your attention to detail.

[2018-06-19 03:10] ToruMakabe commented on #10326
@kapopken Thanks! I made a mistake. I re-created AAD clinet app as Native, then it has progressed. So now, I got a message "error: You must be logged in to the server (Unauthorized)" as you got. I will wait for update from @BryanTrach-MSFT .

[2018-06-19 03:41] rwike77 commented on #10303
@mkiernan Good suggestion, thanks.  I'll update this article shortly.

[2018-06-19 03:46] barclayn commented on #5547
#please-close

[2018-06-19 03:50] barclayn commented on #5735
@bryanhfoster Thank you for your feedback. This was already fixed and it takes you to the form https://portal.msrc.microsoft.com/en-us/engage/pentest

[2018-06-19 03:51] barclayn commented on #5735
#please-close

[2018-06-19 03:51] barclayn commented on #5816
#please-close

[2018-06-19 04:12] dankellett commented on #9799
I was missing the correct tag, I added the "latest" default tag to the image and this now works for me.

[2018-06-19 05:01] salzersoftware opened #10391 "Invaluable Note"
The note "If files appear shared, you may still need to click the "Reset credentials..." link at the bottom of the dialog in order to re-enable volume sharing." was invaluable, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 949255e9-72ca-ef48-c442-4a34a44389d7
* Version Independent ID: b5768ca2-80f6-7f3c-ef0

[2018-06-19 05:02] #10391 closed

[2018-06-19 05:03] salzersoftware commented on #10391
Thought I was leaving "positive" feedback, sorry on the article, sorry.

[2018-06-19 05:03] salzersoftware opened #10392 "Great side note"
The note "If files appear shared, you may still need to click the "Reset credentials..." link at the bottom of the dialog in order to re-enable volume sharing." was invaluable, thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 949255e9-72ca-ef48-c442-4a34a44389d7
* Version Independent ID: b5768ca2-80f6-7f3c-ef0

[2018-06-19 05:28] nzigel opened #10393 "Mount Options needs to move up into the Create storage class example as it is required"
When following the Create storage class example you say to use:

kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: azurefile
provisioner: kubernetes.io/azure-file
parameters:
  storageAccount: mystorageaccount

Later when I run:
kubectl logs &lt;pod name&gt;

I get a permissions error writing data to the Azure File including the following message:
"Please make sure attached direct

[2018-06-19 05:33] SnehaGunda commented on #10134
#please-close

[2018-06-19 05:36] richardspitz commented on #7695
Using Cloud Shell+Nano on Mozilla Firefox on Windows 10, I get this issue too. However, after a bit of troubleshooting, I switched to using Bash on Windows and the same steps work.
I think it's worth investigating what's happening with the Cloud Shell as this is a tad frustrating. I'm available to reproduce the issue, if you'd like.

[2018-06-19 05:56] jlee-vi opened #10394 "Duplicate title in navigation tree"
Hi team,

On loading this page I see the title 'Securing privileged roles' appear in the navigation tree on the left TWICE. Clicking the link navigates to the same page. Both pages have the same URL. Loading from a web search or entering the URL directly actually highlights both entries in blue.

Thanks,
James

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-06-19 05:57] SaurabhSharma-MSFT commented on #10385
@dwightcheu Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 05:59] SaurabhSharma-MSFT commented on #10387
@croitor1 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-19 06:01] #5816 closed

[2018-06-19 06:02] linda33wj commented on #9131
@BeauMarwaha yes, we just released Netezza out of beta.

#please-close

[2018-06-19 06:06] SaurabhSharma-MSFT commented on #10386
@kriston Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 06:07] Anmolgan81 commented on #9814
@Kaaikaula Can you suggest me some option that explain how to manage the SQL configuration backups using the powershell option?? Please point me in the right direction?

[2018-06-19 06:08] Anmolgan81 commented on #8390
Can anyone clarify for my query above on this?? or should I raise a new issue query for this??

[2018-06-19 06:14] SaurabhSharma-MSFT commented on #10391
@salzersoftware We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 06:31] jeongseo opened #10395 "Unable to set bin_log=ON"
Default setting is "bin_log=OFF"
Doc says "If log_bin is returned with the value “OFF”, turn on binary logging by editing your my.cnf file so that log_bin=ON and restart your server for the change to take effect."
But this service doesn't allow to access to my.cnf. Plus, there is no setting for "log_bin" in parameter setting in Azure Portal.
I dont know what to do.

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하

[2018-06-19 06:44] lindsve commented on #10341
Thanks for the confirmation!

[2018-06-19 06:45] fazilmajeed commented on #10338
Sorry. this is the right place to put the issue.. it is actualy related to service fabrics..Hence closing the issue

[2018-06-19 06:45] fazilmajeed commented on #10338
Sorry. this is the right place to put the issue.. it is actualy related to service fabrics..Hence closing the issue

[2018-06-19 06:46] fazilmajeed commented on #10338
Sorry. this is the right place to put the issue.. it is actualy related to service fabrics..Hence closing the issue

[2018-06-19 06:46] #10338 closed

[2018-06-19 07:45] somefella123 opened #10396 "Passing multiple resources in the scope field?"
The examples show scope as being an array containing a single resource... however the schema documentation says that scopes supports multiple resources (https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate).

What's the expected behaviour when you pass multiple resources in a scope? We've tried it, but the alert only fires for the first resource in the array and not any of

[2018-06-19 08:14] sovanny commented on #10215
Any docker command will give:

An error occurred trying to connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v
1.23/containers/json: open //./pipe/docker_engine: The system cannot
find the file specified.

The docker service is not running and can't be started when I try to start
it.

2018-06-19 2:08 GMT+02:00 Mike Ubezzi <notifications@github.com>:

[2018-06-19 08:54] flmarins opened #10399 "Enable HTTP Application Routing on existing AKS"
Hello is it possible to enable this add-on for an existing AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version Independent ID: fad073ab-a376-1535-7bc4-deaca1d98dd9
* Content: [HTTP Application Routing add-on on Azure Container Service (AKS)](https://docs.microsoft.com/en-u

[2018-06-19 09:16] mrigank-kishore opened #10400 "How much time for writes to reflect in read-replicas?"
what is the time taken for new writes to be available in read replicas?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a2961d1-4448-11b7-2dc2-3b738bd70939
* Version Independent ID: 206eb022-25c4-66d7-7285-0d53a84956e3
* Content: [Azure SQL Database - read queries on replicas](https://docs.microsoft.com/en-us/azure/sql

[2018-06-19 09:19] jawn opened #10401 "Breadcrumb show this in the Virtual Machines - Linux category"
This applies to both Windows and Linux Virtual Machines.

Actual breadcrump: Virtual Machines - Linux
Expected breadcrum: Virtual Machines

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e63969f1-7434-0a6e-dd65-2aecd553c51b
* Version Independent ID: b53ddd73-82b7-3272-7ff6-d82594514c4e
* Content: [Azure virtual machine

[2018-06-19 09:56] grahambunce opened #10402 "Configure logging to use appsettings.json"
Most configuration is probably going to use appsettings.json. Your example does not explain how to do this. With .NET Core this is done automatically with this line: AddConfiguration((IConfiguration) hostingContext.Configuration.GetSection("Logging")); but there does not appear to be an "AddConfiguration" method for Web jobs.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-06-19 10:03] letrungkien211 opened #10403 "Why making it this hard?"
This is so hard to enable https. For cloud service or app service it is way easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac102a5-e9ad-0046-f217-446f1ad263c5
* Version Independent ID: a47523e2-0c30-dee4-0037-5f58836fa37f
* Content: [Add an HTTPS endpoint to an Azure Service Fabric application](https://docs.mi

[2018-06-19 10:06] greyghostbrewery commented on #9851
Is someone going to respond to this?

[2018-06-19 10:22] sergaz-msft commented on #10374
Hello @ddeep2007 , the EventHub name will always be `insights-logs-operationallogs` . [From the doc](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-stream-activity-logs-event-hubs#enable-streaming-of-the-activity-log) you can read:

@johnkemnetz will review this issue and act accordingly for the registration of Microsoft.Insights resource provider :). Let us know if y

[2018-06-19 10:28] sergaz-msft commented on #10245
Thank you for [adding that as a request](https://feedback.azure.com/forums/216926-service-bus/suggestions/34597492-alert-on-number-of-active-messages-in-a-subscripti) on ServiceBus Feedback. Product Group will prioritize it accordingly.

[2018-06-19 10:37] kunalaphadnis99 commented on #10252
Hello,

I checked with the logs but it says image not found.

So I tried pulling the image using docker command and it says this:

![image](https://user-images.githubusercontent.com/3131438/41592528-7a80bf80-73da-11e8-8d7c-f2206e2f5e1b.png)

Is there a way to set the OS platform for the machine learning module being created? I require this to run on Windows.

Thanks and appreciate your help.

[2018-06-19 11:31] ajaybha commented on #10364
Hi,
I am seeing the same issue as @guybartal. The error log for edgeAgent shows error about the docker image for the custom module (published to azure container registry) not being found. I am following the exact same instructions listed here (https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module") and can see the docker image for custom module in the container registry. I have al

[2018-06-19 11:32] ajaybha commented on #10364
Here is snippet from the log (docker logs --f edgeAgent)…
018-06-19 11:06:47.834 +00:00 [INF] - Updated reported properties
2018-06-19 11:06:47.834 +00:00 [WRN] - Agent reconcile concluded with errors.
System.AggregateException: One or more errors occurred. (Docker API responded with status code=NotFound, image=ajaybh.azurecr.io/filtermodule, tag=0.0.1-amd6) ---> Microsoft.Azure.Devices.Edge.Agent

[2018-06-19 11:42] sergaz-msft commented on #10252
Hello @kunalaphadnis99 can you try switching docker containers to `Linux Containers`? I need to confirm if the images created are Linux only. From what I see [here](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/model-management-cli-reference)

`Runtime of the web service. Valid runtimes are python|spark-py.`

That doesn't clarify if spark-py is on Windows or Linux. As f

[2018-06-19 12:05] YARG commented on #10349
To fix the http status error just add using System.Net;

[2018-06-19 12:07] ThierryBT opened #10406 "The minimum password lenght is 4 characters"
Hi and sorry for my funny English,
I think the REQUIREMENTS is not complete (this page : https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad)
The custom banned password list can contain up to 1000 words.
The custom banned password list is case-insensitive.
The custom banned password list considers common character substitution.
Example: "o" and "0" or "a"

[2018-06-19 12:13] kunalaphadnis99 commented on #10252
Hello, yes it gets pulled when I switch to Linux containers.

[2018-06-19 12:46] rsnead commented on #9772
@traviscragg-msft any updates on this? Please advise...

[2018-06-19 12:57] luisfeliz79 opened #10408 "Microsoft Privacy Portal broken links"
Hi, looks like all the links to "Microsoft Privacy portal" have an extra dot at the end, which breaks the link.  Currently, if you click on the link, you will end up in your Azure portal dashboard.  Once you have removed the dot, the proper blade loads up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bc4198c-498c-ad

[2018-06-19 13:05] KloudEzy opened #10409 "Unable to run command!"
Hi Team,

I've Windows 10 VM and trying to run Powershell command but it's failing with following error message.

"Run command extension execution is in progress. Please wait for completion before invoking a run command."

Earlier I'd Stopped-deallocated and restarted the VM still the same issue. Earlier it was working until I ran a script which had interactive input with following command.

$Pass

[2018-06-19 13:30] KjetilEVRY opened #10410 "Enterprise Admin in root domain"
In the section regarding "Enterprise Admin credentials" it should be noted that you need an account that exists in the root domain in a forest (ie contoso.com). If you run the AAD Connect install wizard as a user with Enterprise Admin rights that is created in a sub-domain (ie the user only exists in europe.contoso.com), the AAD Connect wizard fail to create a new AD DS account with the error mess

[2018-06-19 13:57] sergaz-msft commented on #10252
Thank you for confirming it @kunalaphadnis99 . I have also confirmed that Azure ML Modules are not yet able to run in Windows containers. I am assigning @kgremban to add a note on the article mentioning that this is only working on Linux Containers for now.

Let us know if you have any other questions related with this topic?

[2018-06-19 13:59] barclayn commented on #7792
@lordstyx  Thank you for pointing this out. I just went ahead and fixed this. Sorry for the slow response.

[2018-06-19 13:59] barclayn commented on #7792
#please-close

[2018-06-19 14:00] graham-sportsmgmt opened #10411 "Working with request/response would make more sense here"
Could you please rewrite this to show how we could work with a standard node/express request and response?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d4935f4-d5c1-f7c3-eeb0-f8b5e5fd406f
* Version Independent ID: 766ee1b8-4c5d-054b-d7ec-1825d8f5d50b
* Content: [Azure Quickstart - Create a blob in object storage usi

[2018-06-19 14:07] aheumaier opened #10412 "Azure AKS Kubernetes Dashboard is missing RBAC role"
Azure AKS Kubernetes Dashboard is missing RBAC role in the documentation.
The ClusterRoleBinding.yaml could  look like this :

**Since this is an admin role this is not recommended in general used to just showcase a possible solution**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a47c6df7-5103-1336-eb0b-68f95

[2018-06-19 14:10] DCtheGeek commented on #10342
@Naboo2604 Looking into this, will get back to you shortly.

[2018-06-19 14:11] SimonLuckenuik commented on #10263
@Adam-Smith-MSFT can C and D (in my second comment) also be clarified in the article? My goal is to have enough information in the article to let someone decide if the technology fits the need and understand what are the limitations and it is expected to be used. Thanks!

[2018-06-19 14:15] aheumaier commented on #10412
See #10413

[2018-06-19 14:17] FLavalliere commented on #9019
Hello, we implemented that functionalities since we needed to loadbalance two identical "backend-port" on two different loadbalancer frontend. After about 1 month where everything was working, the traffic suddently stopped to work from one of our FrontendIp:Port but the other one worked. Any idea what could be causing this? The probe and NSG's were succesffully working ...

[2018-06-19 14:17] k-wall opened #10414 "Typo in 'will' paragraph"
In the paragraph that begins "The device app can specify a Will message in the CONNECT packet. The device app should use" is goes on to offer a choice between two topic names, but both options are the same "devices/{device_id}/messages/events/{property_bag}".  What is the choice supposed to be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-06-19 14:22] cjchacon opened #10415 "Agent needs outbound internet connectivity"
Check if your vm have internet connectivity. If it doesn't, the script will seem to be running forever.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3ff94e6-3c1f-b9e1-1a46-b75fe2ffca1b
* Version Independent ID: 8f3ca735-ddd4-f4a9-4ee0-189604018784
* Content: [Run PowerShell scripts in an Windows VM in Azure](https:/

[2018-06-19 14:23] #9131 closed

[2018-06-19 14:25] ratchetwrench opened #10416 "Only Upload Specific Directory Within repo"
Say I have a large repo and I only want te "azure-function" directory to be loaded. This would include the lib/, function.json, run.py, .env, etc files within it. Is this possible? Or is there a better practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a34424e-6a23-5517-5755-c9282643876f
* Version Independent ID

[2018-06-19 14:34] smoms opened #10417 "TcpTpmDevice class missing"
I am looking into the https://github.com/Microsoft/TSS.MSR project. But i cannot find the TcpTpmDevice class (TCP/socket communication to the TPM). There are only the InprocTpm and TbsDevice implementation. What i am missing? thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f746de95-7990-6084-3fbc-756c7d7ef04d
*

[2018-06-19 14:38] joymon opened #10418 "Can I use customer provided key for encrypting Azure storage queue?"
The documentation seems confusing the https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption says Queue can be encrypted and FAQ "Is SSE with customer-managed keys only permitted in specific regions?" in this link says available for blob and files.
Could you please make it clear?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2018-06-19 14:41] Mike-Ubezzi-MSFT commented on #10134
@gambrose We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 14:41] #10134 closed

[2018-06-19 14:45] #9799 closed

[2018-06-19 14:53] jeffwmiles opened #10419 "Specify Disk resize and addition is not supported"
I'd like to suggest that in this FAQ or elsewhere in the ASR docs, it is noted that resizing a disk or adding a disk is not supported (at least with Hyper-V or VMM) and will require disabling and re-enabling protection of a VM.

I haven't been able to find any reference to this limitation, although I understand that recognizing new disks is a planned feature as per the Azure Feedback site.

---
##

[2018-06-19 15:00] Mike-Ubezzi-MSFT commented on #10400
@mrigank-kishore Thanks for the inquiry. The data should be available for read operations within a short time but there are some factors as described here: [Read-Only Routing](https://docs.microsoft.com/en-us/sql/relational-databases/native-client/features/sql-server-native-client-support-for-high-availability-disaster-recovery?view=sql-server-2017#read-only-routing)

Regards,
Mike

[2018-06-19 15:03] davidsblog opened #10420 "Throughput set via code does not show on the portal"
I'm setting some user-defined throughput for a fixed-capacity collection (a value between 400 - 10,000 RUs). My code seems to work, namely:

[code]

If I subsequently use code to check, the new throughput seems to have been set.

**However**, if I look in the Azure portal (Data Explorer -> Scale & Settings) the value does not change. Why does the setting in the portal not change?

[2018-06-19 15:26] sergaz-msft commented on #10414
Hello @k-wall  good catch :)! Thank you for posting your feedback here.

I believe the wording should be like this:

"The device app should use `devices/{device_id}/messages/events/` or `devices/{device_id}/messages/events/{property_bag}` as the Will topic name to define Will messages to be forwarded as a telemetry message."

I will validate this wihth @fsautomata and correct the documentation acc

[2018-06-19 15:28] SaurabhSharma-MSFT commented on #7792
@lordstyx We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 15:28] #7792 closed

[2018-06-19 15:30] SaurabhSharma-MSFT commented on #10394
@jlee-vi Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 15:33] SaurabhSharma-MSFT commented on #10406
@ThierryBT Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-19 15:35] davidsblog commented on #10420
I have since found out that just re-opening "Scale & Settings" is not good enough.  But if I refresh the entire portal (eg by pressing F5), then the new setting will be displayed.

So ... this seems to be a bug in the portal (it does not check to see if new values have been applied) rather than a problem with the setting itself.

[2018-06-19 15:40] sergaz-msft commented on #10364
Thanks for the logs @ajaybha !

In your case I believe you missed the number `4` here:

![image](https://user-images.githubusercontent.com/22173500/41607968-352f8a6a-73df-11e8-8323-0c3d1ff7a6b8.png)

Repeat step 5 on ["Run the solution"](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-csharp-module#run-the-solution) and double check that you added the number 4 in the end. Let me know the

[2018-06-19 15:41] jgudmundson-RETSD commented on #7763
I'm receiving the same error whenever I click Save.  Some error details are below.  I've re-provisioned the app and double checked everything I can think of, but its still giving me the same error.  Any advise?
Name : Update external secrets
CorrelationId : 491367d7-aadf-4e6b-8f0d-93d8a4aed8c9

[2018-06-19 15:53] LukeBayler opened #10421 "supported file formats"
This file doesn't say which file formats are supported, but the following page does under Populate your KB: https://www.qnamaker.ai/Create.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77ea12d-96c2-8adf-8f7d-40f87578f403
* Version Independent ID: b0c2b367-ebac-3f1e-f3ec-6273f700c0e2
* Content: [Data sources supporte

[2018-06-19 15:55] whytoe commented on #5968
@MGoedtel any updates it would be really nice to even have a high level checkpox structure along the lines of other companys that have Tiered Services. Although it is more striaghtforward it helps with clarity

Example Elastic Search
https://www.elastic.co/subscriptions

[2018-06-19 15:55] sergaz-msft commented on #9791
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me or @dominicbetts in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-19 15:55] #9791 closed

[2018-06-19 16:03] djhmateer opened #10422 "Azure Disk"
Is it possible to attach an Azure Disk to a Web App for Containers? I found the performance hit of using Azure Files to be too great on my workload (a medium sized Wordpress site).  Here is my write up: https://davemateer.com/wordpress/2018/06/18/Web-App-for-Windows-Linux-Docker.html

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-06-19 16:04] pabloalmaleck opened #10423 "Edge: Build IoT Edge solution"
Dears, On Visual Studio Code, "Edge: Build IoT Edge solution" command (Command Palette) is not present.
Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89e7624c-5af6-e84a-cda2-2e563ccd07df
* Version Independent ID: 013c59a2-b6a7-46ab-82e9-8b7f1dd74177
* Content: [Manage multiple Azure IoT Edge modules in VS

[2018-06-19 16:09] crs2m5smith commented on #8669
Maybe I am missing something... So this is the version I am trying to use:
https://westcentralus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/587f2c6a154055056008f200/console

After entering my key and example image I get a 202 response and when i go to the operation location in response and get: { "statusCode": 401, "message": "Access denied due to missing subscri

[2018-06-19 16:13] ajlam commented on #10395
@jeongseo, the step to turn on binary logs is on the master server that is either hosted on-prem or in a VM. Where is your master hosted?

[2018-06-19 16:15] SaurabhSharma-MSFT commented on #10408
@luisfeliz79 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 16:16] SaurabhSharma-MSFT commented on #10410
@KjetilEVRY Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 16:20] kapopken commented on #10326
@BryanTrach-MSFT Any word on this?

[2018-06-19 16:27] DivineOps opened #10424 "Broken link in Managed Disk documentation"
In the managed disk ARM templates documentation
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/using-managed-disks-template-deployments
The link to
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks.md
Results in a 404.
I am not aware of that documentation being at an alternative location, I think it does not exist.

---
###

[2018-06-19 16:48] CarsonMThrift opened #10425 "Very small thing - Create a blob container #6"
In my version of VS there was already a blob folder so there was no need to create a new one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e04001d4-d217-ca0c-e57f-da721ebee268
* Version Independent ID: 3d49b777-6953-c0e5-3f30-8feefb22fa14
* Content: [Get started with Azure Blob storage and Visual Studio connected ser

[2018-06-19 16:48] licjapodaca commented on #10274
Yes

[2018-06-19 16:49] licjapodaca commented on #10274
or after creation... doing a Cluster COnfig update...

[2018-06-19 16:51] easyj2j commented on #8669
@crs2m5smith Just double-checking here but are you including the subs key in the second request?

[2018-06-19 16:54] ggailey777 commented on #10352
@kgeorge314 I assume that you are looking for a build and deploy process for your VS-based function app project using VSTS?

[2018-06-19 16:58] smflorentino commented on #10121
@MicahMcKittrick-MSFT Thanks. I think the confusing part is this documentation is part of the "standalone" clusters section, but from your response it also applies to ARM templates.

I never would have guessed that. Perhaps adding a link or a small section on client certificates using common name would be useful:
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation

[2018-06-19 17:00] bwren commented on #8291
Sorry this has taken some time.  We created a work item to rewrite this article based on the new alerts.  I still need to verify some things, but it's expected to be based on this article which should give some guidance there.  https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitor-alerts-unified-log-template.  I'm going to go ahead and close this issue since we're tracking this

[2018-06-19 17:00] bwren commented on #8291
#please-close

[2018-06-19 17:00] MicahMcKittrick-MSFT commented on #10393
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-19 17:01] MicahMcKittrick-MSFT commented on #10399
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-19 17:02] smflorentino commented on #9978
@dlepow Less granular information is fine, but it's good to link the two together. Especially since you can't do everything with just one experience. Searching / Discovery is easy in the GUI, hard with PowerShell. But PowerShell provides more details.

I think updating the documentation address this, but the real fix should probably be at the product level to bring these experiences on a par with

[2018-06-19 17:03] Mike-Ubezzi-MSFT commented on #8291
@toddrob We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 17:03] #8291 closed

[2018-06-19 17:18] iainfoulds commented on #10401
Thanks for the feedback, @jawn. We do actually have two separate doc sets for Linux and Windows, though many of the docs are indeed applicable to both. The breadcrumb in this instance is correct. The Windows doc, which includes the Windows breadcrumb and OS-specific steps such as for _bcedit_, is available at https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/serial-console

For now,

[2018-06-19 17:18] Justin-Mann commented on #9490
I see the bower instructions have been bumped... better, but still not complete.  you need a .bowerrc file... create json file at project level from wizard >> name it ".bowerrc" >> add {"directory":"wwwroot/lib"} | visual sutdios will put this in the correct spot (under your bower.json) and the script libraries will now resolve to the correct folder in your wwwroot.

[2018-06-19 17:19] YutongTie-MSFT commented on #10421
@LukeBayler Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@nstulasi Hi, this is a doc-enhancement issue, can you please check it and update the document as necessary? Thanks a lot!

[2018-06-19 17:20] #10259 closed

[2018-06-19 17:21] #10297 closed

[2018-06-19 17:23] #10401 closed

[2018-06-19 17:31] jdogg89 opened #10427 "External IP stuck in Pending"
When running "kubectl get service azure-vote-front --watch" my external IP status has been pending for approximately 3 hours. What could be causing this IP to not allocate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7e0a294-1b8a-1711-6f80-cb9ee87730ad
* Version Independent ID: 46e6645b-48ca-fa7c-1fb9-bc3442fde1d7

[2018-06-19 17:32] Shorinsean opened #10428 "Password policy replication"
Just to confirm: All DCs (I'm assuming all will have agents) will request new password policies on a regular basis (can you provide a vague interval - daily? I know it's not designed to be real time), AND they will replicate their updated policy to all other DCs via sysvol? So if I have 100 DCs there will be 100 requests to the proxies, and DFSR will handle the 100 different versions of the passwo

[2018-06-19 17:34] jason-j-MSFT commented on #10372
@sharonlo101 we have a request to add examples for multiple tables with incremental copy.

[2018-06-19 17:45] rhpoon commented on #9420
Hi i get same problem:

Kernel either pyspark or scala

Spark 2.2 on Linux (HDI 3.6)
\D12 v2 (x2), D13 v2 (x1)

[2018-06-19 17:53] kquinby opened #10429 "on-prem sync agent fails with error "There was an error deserializing the object of type Microsoft.IdentityModel.Clients.ActiveDirectory.UserRealmDiscoveryResponse""
When running Add-ADSyncAgentAzureActiveDirectoryConfiguration cmdlet, we get the error

"Add-ADSyncAgentAzureActiveDirectoryConfiguration : The operation failed.  Exception details: There was an error
deserializing the object of type Microsoft.IdentityModel.Clients.ActiveDirectory.UserRealmDiscoveryResponse.
Encountered unexpected character '&lt;'.
At line:1 char:1
+ Add-ADSyncAgentAzureActiveDire

[2018-06-19 17:56] rolyon commented on #10387
@SaurabhSharma-MSFT
Thanks. I'll check with the team about this code.
#in-progress

[2018-06-19 17:56] dkkapur commented on #10403
@vturecek @masnider for FYI!

[2018-06-19 17:56] MicahMcKittrick-MSFT commented on #10121
Thanks for clarifying. I will assign to the author to review and see where we can update the doc.

@rwike77 can you take a look?

[2018-06-19 17:58] BryanTrach-MSFT commented on #10402
@grahambunce Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-19 18:01] MicahMcKittrick-MSFT commented on #6500
thanks @jeeshnair. I forwarded this information internally and am seeing if I can get a suggestion for you.

[2018-06-19 18:01] MicahMcKittrick-MSFT commented on #10062
I will close this for now. Please try capturing some information using F12 when clicking to add a voting option. That way we can dig in deeper.

[2018-06-19 18:01] #10062 closed

[2018-06-19 18:02] crs2m5smith commented on #8669
@easyj2j  I must be missing something. What second request? Do you have a link or example. This is my first request essentially
 `            HttpResponseMessage response;
            // Request body
            byte[] byteData = Convert.FromBase64String(base64Vin);
            using (var content = new ByteArrayContent(byteData))
            {
                content.Headers.ContentType = new Medi

[2018-06-19 18:04] MicahMcKittrick-MSFT commented on #10192
Thanks for referencing that issue @carloreggiani. Working directly with the AKS team on their github page is the correct path to go as this seems like a product issue.

I am following that issue as well. I will close out this one as there is no actionable item on the doc itself but within the product itself. Once we get the other issue sorted out I can reopen this if we need to update this specifi

[2018-06-19 18:04] #10192 closed

[2018-06-19 18:05] MicahMcKittrick-MSFT commented on #10274
thanks @licjapodaca! That clarification helps.

@rwike77 we might want to consider adding this information to the document so customers are clear when they can update this configuration.

[2018-06-19 18:07] MicahMcKittrick-MSFT commented on #10325
@microbart I will close this for now. If you need additional information let me know and we can reopen and continue.

[2018-06-19 18:08] MicahMcKittrick-MSFT commented on #10326
@neilpeterson could you advise on this one?

[2018-06-19 18:09] MicahMcKittrick-MSFT commented on #10393
@nzigel I have assigned this to the content author to review and update the doc as appropriate.

[2018-06-19 18:10] femsulu commented on #10396
@somefella123 Thanks for bringing this to our attention. Your question has been shared with the content owner for further review.

[2018-06-19 18:12] MicahMcKittrick-MSFT commented on #10399
@flmarins I believe you need to add the correct files and redeploy the AKS.

@lachie83 or @neilpeterson could either of you confirm?

[2018-06-19 18:14] easyj2j commented on #8669
recognizeText requires 2 calls. The first returns the location of the results in the Operation-Location header. If you're only interested in printed text, you can use the ocr method, which requires only a single call. See https://docs.microsoft.com/en-us/azure/cognitive-services/Computer-vision/quickstarts/csharp-hand-text

[2018-06-19 18:14] femsulu commented on #10415
@cjchacon Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-19 18:19] BryanTrach-MSFT commented on #10422
@djhmateer Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-19 18:26] rafaelmluz opened #10430 "ACR and AKS in different directory"
Hi Team!

I haved configure ACR in the Directory X, with the container images. But o AKS is configured in the Directory Y.

In the case, How make to the AKS to access the ACR private images?

I used the tutorial but it did not help me.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks

Thank you
Rafael Luz

[2018-06-19 18:32] femsulu commented on #10409
@KloudEzy, sorry for the issues you are experiencing. From the error you stated, looks like there's a active run extension in progress. You can only run one extension at a time. Try waiting for the extension to finish before proceeding. Alternatively, retest with a different VM to see if this is a persistent issue. If yes, please let me know and we can investigate further.

[2018-06-19 18:32] crs2m5smith commented on #8669
@easyj2j  you are the man! So I have been looking at the Printed word mode docs and example. and it does not mention or show the second call. The link you gave me was for the handwritten example and it showed the second call. Thanks. Everything works

[2018-06-19 18:34] jungho commented on #10284
@aanandr I am referring to any endpoints that are external to the VNET in which the AKS cluster is deployed.  Deployment of AKS requires pulling images for the kubernetes components (hyperkube, kube-dns, kube-scheduler, etc) It also requires updating the underlying Ubuntu via apt-get.  We have looked at the acs-engine code base and there is even access to Google DNS (8.8.8.8/8.8.4.4) to test outbo

[2018-06-19 18:35] rwike77 commented on #9490
@Justin-Mann, you're right.  I'm updating to include setting the .bowerrc file.

LibraryManager is still in preview, I don't think it's quite ready yet so we added info on manually installing using Bower.  We've received a number of comments that this tutorial is more complicated than it needs to be.  We're also looking at ways to make this tutorial (and the sample app) simpler.

[2018-06-19 18:38] rwike77 commented on #10303
[Article ](https://docs.microsoft.com/azure/service-fabric/service-fabric-create-your-first-linux-application-with-java#start-the-test-client-and-perform-a-failover) has been updated with a note on the test client.  #please-close

[2018-06-19 18:51] #10303 closed

[2018-06-19 19:07] rothja commented on #9814
@Kaaikaula Thanks for pointing that out. You are right. We state this in the article here: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-sql-server-agent-extension#installation, but it could probably be more easily discovered.

@Anmolgan81 The documentation for automated backup provides steps to use PowerShell to manage your automated backups. https:/

[2018-06-19 19:17] MicahMcKittrick-MSFT commented on #10424
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-19 19:18] MicahMcKittrick-MSFT commented on #10427
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-19 19:18] MicahMcKittrick-MSFT commented on #10430
Thanks for the question! We are investigating and will update you shortly.

[2018-06-19 19:22] dstrebel commented on #10326
@ToruMakabe Are you using a VS subscription or corp subscription?

[2018-06-19 19:33] vasivara-MSFT commented on #5547
@doodlemania2 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 19:33] #5547 closed

[2018-06-19 19:34] vasivara-MSFT commented on #5735
@bryanhfoster We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 19:34] #5735 closed

[2018-06-19 19:35] jawn commented on #10401
Thanks for the clarification @iainfoulds.

[2018-06-19 19:37] vasivara-MSFT commented on #9750
@deepakar We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 19:37] #9750 closed

[2018-06-19 19:37] vasivara-MSFT commented on #9878
@SenthuranSivananthan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 19:37] #9878 closed

[2018-06-19 19:38] vasivara-MSFT commented on #10176
@JeremyTBradshaw We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 19:38] #10176 closed

[2018-06-19 19:43] SaurabhSharma-MSFT commented on #10356
@colemickens  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-19 19:44] MicahMcKittrick-MSFT commented on #10240
Thanks for that feedback @artisticcheese. For any product/ feature improvements I suggest leaving your feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) that way the product groups can see it and consider implementation.

For the scope of these kind of documents we try to simplify them so users can get accustomed to the product. However I can see why wanting more i

[2018-06-19 19:44] #10240 closed

[2018-06-19 19:45] huchenhai commented on #9438
email claim is returned as null

[2018-06-19 19:49] SaurabhSharma-MSFT commented on #10385
@dwightcheu Regular Active Directory comes under the Free subscription with few features and you do not need to sign-up for the same.  Please go through the [Azure Active Directory pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/) document to get details on features included in different types of subscription.

[2018-06-19 19:49] brjohnstmsft commented on #9759
@codepossible Yes, thanks for the clarification. I agree this could be better separated. We've recently re-architected our .NET SDK into separate components that align with the different scenarios you mentioned, so it makes sense that our documentation should do the same.

I'll discuss this with the team and we'll incorporate this suggestion into our long-term plans for documentation updates.

[2018-06-19 19:51] SaurabhSharma-MSFT commented on #10394
@jlee-vi  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-19 19:56] jdogg89 commented on #8504
Microsoft doesn't seem to give clear indications if this can currently be deployed through ARM templates or not.. nothing on this page references ARM templates. BUT - in the example that is given here: https://github.com/Azure/AKS/blob/99865a7bcb2cc614ed70d7ce3598b2b5bdf4d254/examples/vnet/00-README.md they have parameters listed for enabling https when you run the cli to execute the json template

[2018-06-19 20:08] kgremban commented on #10379
@ivan-shaporov There are two types of devices that you can register with IoT Hub -- devices that are edge-enabled, and devices that are not. What this note is saying is that you can't have an edge-enabled device routing its messages through another edge-enabled device.

What do you think is a more helpful way of explaining this concept? Would it make more sense to refer to the devices as edge-enab

[2018-06-19 20:09] neilpeterson commented on #10358
@glloyd2010f if there is anything else you need here, please let us know.

#please-close

[2018-06-19 20:38] MicahMcKittrick-MSFT commented on #10416
@ratchetwrench I believe only the files that are changed will be uploaded so having a large repo should not matter. Rather it just a matter of how many changes are being pushed. I am not aware of a way to only include a specific directory when deploying.

@ggailey777 are you familiar with this process at all?

[2018-06-19 20:40] Mike-Ubezzi-MSFT commented on #10420
@davidsblog Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. In the meantime, you may make a feature request via the [Azure Cosmos DB User Voice](https://feedback.azure.com/forums/263030-azure-cosmos-db).

[2018-06-19 20:42] MicahMcKittrick-MSFT commented on #10424
@DivineOps thanks for pointing this out! I have fixed the link. Once the changes merge this issue will close and the new link will be available in a few hours.

For reference, the link is: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks

[2018-06-19 20:43] Mike-Ubezzi-MSFT commented on #10420
@SnehaGunda Note sure if simply adding information to the documentation that the Azure Portal will need to be refreshed after making throughput changes programmatically, is sufficient.

[2018-06-19 20:52] swettstein opened #10435 "OpenID Connect"
How can we set up an AWS Identity Provider using the OpenID Connect configuration? AWS only finds one thumbprint yet Microsoft seems to offer four certificates when issuing a token. Do we need to add all four CA thumbprints to AWS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Ve

[2018-06-19 21:02] wagsousa opened #10436 "How to generate Event Hub SAS token"
The current link has only a C# sample, can we add this documentation which has more samples on how to get it?
https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independent ID: bf8a2d1a-8d9b-228a-6919-16127f

[2018-06-19 21:15] MicahMcKittrick-MSFT commented on #10427
@jdogg89 if you cancel the command and try again does it present the same behavior?

[2018-06-19 21:16] TravisCragg-MSFT commented on #9772
it is currently possible to enable Accelerated Networking on an existing Azure Virtual Machine in most cases.

Please check the [Limitations and Constraints ](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#limitations-and-constraints)area to see if your existing virtual machine qualifies to have Accelerated Networking enabled.

[2018-06-19 21:16] Anmolgan81 commented on #9814
So basically I cannot manage my automated sql backups from the azure portal just because I migrated my sql vm to csp subscription?

Is there any other user interface that helps to manage the sql configuration backups more easily then the powershell?

Regards
Annol Ganju
________________________________
From: Jason Roth <notifications@github.com>
Sent: Wednesday, June 20, 2018 12:37:30 AM
To: Micro

[2018-06-19 21:16] SaurabhSharma-MSFT commented on #10408
@luisfeliz79 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2018-06-19 21:16] #10408 closed

[2018-06-19 21:18] MicahMcKittrick-MSFT commented on #10430
@rafaelmluz what specifically in the doc you linked did not help? Did you see errors?

[2018-06-19 21:18] #10424 closed

[2018-06-19 21:19] Anmolgan81 commented on #9814
We do have opened the support ticket for this, and they are referring to.exzct same documents that you guys have posted here, support is not really helping me out here.

They took 12 days to understand my issue neither they respond well in time. Today they respond and now they are giving me the same links which are posted here. Didn't expect that from Microsoft.

Regards
Anmol Ganju
______________

[2018-06-19 21:22] MicahMcKittrick-MSFT commented on #9814
The option should be present in the portal. However in your case this seems to be the underlying problem. This is where support should focus their effort. You can of course manage it via PowerShell but seems like more work than just using the portal.

Some suggestions to try, try recerating the SQL machine and installing the backup service via extension again. This will help to determine if it is

[2018-06-19 21:28] neilpeterson commented on #10412
@aheumaier - thanks for the issue and PR. I have confirmed the issue, and the fix works. Give me a bit to confirm that we have nothing in the works around this, and that this is the route we want to take. I am going to close this issue, and will continue communicating with you on the opened PR.

Thanks again

#please-close

[2018-06-19 21:28] #10412 closed

[2018-06-19 21:29] neilpeterson commented on #10326
I have also seen this issue when using a hotmail.com account.

[2018-06-19 21:34] ratchetwrench commented on #10416
This has more to do with me being able to specify a directory within the repo, that contains only the pertinent azure code. Instead of the whole repo.

[2018-06-19 21:34] kapopken commented on #10326
@neilpeterson I'm using a msn account

[2018-06-19 21:34] Adam-Smith-MSFT commented on #10359
@superminiek this answer from Gaurav breaks down the accessibility of Storage account from different subscriptions: https://stackoverflow.com/questions/31024894/accessing-azure-storage-services-from-a-different-subscription
Let me know if this helps.

[2018-06-19 21:36] neilpeterson commented on #10326
@amanohar can you confirm that this issue may be related to the msn account?

Thanks

[2018-06-19 21:39] kapopken commented on #10326
@neilpeterson @amanohar I can confirm this is the account associated with my Azure Directory appropriately.

[2018-06-19 21:39] jagee23 commented on #5496
Hi, Was the documentation for this connector ever made live?  I am trying to get the user provisioning with   Samanage to work correctly but I am running into errors and I cannot find any documentation to reference.  Thanks!

[2018-06-19 21:39] SaurabhSharma-MSFT commented on #10428
@Shorinsean Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-19 21:44] MicahMcKittrick-MSFT commented on #10436
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-19 21:45] MicahMcKittrick-MSFT commented on #10190
@Risanshita does that help?

[2018-06-19 21:46] MicahMcKittrick-MSFT commented on #10268
@VitorPires does that help?

[2018-06-19 21:47] cbrooksmsft commented on #10359
Requests to storage are Source-NAT'ed so we do not see the public IP address of the VM.

You can use VNET rules across different subscriptions, as long as they are in subscriptions sharing the same Azure AD Tenant.

@NarayanAnnamalai , FYI

[2018-06-19 21:48] SaurabhSharma-MSFT commented on #10429
@kquinby Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 21:58] CelesteDG commented on #9702
Hello @GavinPG - Are you using the v1.0 endpoint or the v2.0 endpoint? The topic you referenced here is the v1.0 endpoint while https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-tokens documents v2.0. I also got confirmation from our PM that:

- v1.0 returns both `kid` and `x5t`
{
  "typ": "JWT",
  "alg": "RS256",
  "x5t": "iBjL1Rcqzhiy4fpxIxdZqohM2Yk",
  "kid": "

[2018-06-19 22:00] SaurabhSharma-MSFT commented on #10429
@kquinby  I suggest you please open a new MSDN forum post with the details and community will help address your query. Please refer to below link to MSDN forum to ask new question -
https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&forum=WindowsAzureAD&prof=required.  Please provide the MSDN link over here so that I can help getting you answered.

[2018-06-19 22:01] NarayanAnnamalai commented on #10359
They are SNAT bypass if that’s what you meant.

From: Chris Brooks <notifications@github.com>
Sent: Tuesday, June 19, 2018 2:48 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Narayan Annamalai <narayan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Allow access from other Azure resources with public IP (#10359)

Requests to storage

[2018-06-19 22:01] SaurabhSharma-MSFT commented on #10435
@swettstein Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 22:02] iainxt commented on #5297
I have observed it missing on a 404, and a 400.

[2018-06-19 22:03] MicahMcKittrick-MSFT commented on #6500
@tvperez76 couple of things I heard back:

if you are using SF on a local box then MSI is not expected to work. It is only available for resources running Azure. I am not sure this is applicable in your case but it was some feedback I got.

Where is AzureServiceProvidor class coming from? I am not finding much online refernecing this. It is presumed this class is not working as it is looking for i

[2018-06-19 22:06] jaredbaszler opened #10438 "Deployments no longer a menu option"
Under the "Custom Endpoint" heading at the end of this article above, it tells you to navigate to the "Deployments" from the "Custom Speech Menu".  That option doesn't seem to exist any longer.  Please advise as I feel that step is keeping me from using a customized language model in my app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-06-19 22:07] akramwaseem commented on #9947
@dkamstra -- thanks for the documentation. Will take a look and give it a try.

[2018-06-19 22:07] kquinby commented on #10429
Sure thing. Here is the post.
https://social.msdn.microsoft.com/Forums/azure/en-US/a3815528-3acf-4d0b-a848-04ffb22c363f/onprem-sync-agent-fails-with-error-quotthere-was-an-error-deserializing-the-object-of-type?forum=WindowsAzureAD

[2018-06-19 22:10] SaurabhSharma-MSFT commented on #10425
@CarsonMThrift Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-19 22:12] SaurabhSharma-MSFT commented on #7029
@cubanp3te We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 22:12] #7029 closed

[2018-06-19 22:13] SaurabhSharma-MSFT commented on #10331
@Benjathing We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 22:13] #10331 closed

[2018-06-19 22:14] MicahMcKittrick-MSFT commented on #6296
@hawkbox as the feature is still in preview the limitation of deploying to a Vnet with resources in it already is still in place.

[2018-06-19 22:15] SaurabhSharma-MSFT commented on #10358
@glloyd2010f We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 22:15] #10358 closed

[2018-06-19 22:20] CelesteDG commented on #10356
Hello @colemickens - Current behavior today for id_tokens is to release email only if an optional claim is configured *and* scope=email was specified in the request. For access_tokens, behavior is to release email only if an optional claim is configured *and* scope=email was specified in the request. Please let us know if this info helps with your question.

[2018-06-19 22:22] douglaslMS commented on #9730
@ConnorKirk Thanks for bringing this to our attention. We have separated out the "get the secrets" step as an optional one that's not always required. [Optional - Get the secrets from Azure Key Vault](https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment#optional---get-the-secrets-from-azure-key-vault)

[2018-06-19 22:23] douglaslMS commented on #9789
#please-close

[2018-06-19 22:32] ggailey777 commented on #10416
@ratchetwrench I've never tried this, but Kudu (the deployment engine used by App Service and Functions) let's you [customize deployments](https://github.com/projectkudu/kudu/wiki/Customizing-deployments), including deploying from a [specific folder in a larger repo](https://github.com/projectkudu/kudu/wiki/Customizing-deployments#deploying-a-specific-folder-for-a-node-php-or-aspnet-site). Note th

[2018-06-19 22:33] rolyon commented on #10021
Hi @rogerbrownmegnajet, I'm still checking into this. I been having trouble reproducing your behavior because my environment does not have any users flagged for risk. I'm checking with our team for more info.
thanks

[2018-06-19 22:37] whataride opened #10441 "Couldn't get OCR results as in the demo page"
I tried the script, and all is good. However, when I used the images from the demo page here: https://azure.microsoft.com/en-us/services/cognitive-services/computer-vision/?v=18.05, "Read text in images" session, no text were detected. I am wondering why is the discrepancy.

Specifically, the images I tried are:

1. https://azurecomcdn.azureedge.net/cvt-115aaf389870d14afd6954e357004438425b429102bc

[2018-06-19 22:38] rolyon commented on #10139
Thanks for the information. I've made some updates to the article:
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-tou

#please-close

[2018-06-19 22:46] MohitGargMSFT commented on #10254
@superminiek We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-06-19 22:46] #10254 closed

[2018-06-19 22:47] SnehaGunda commented on #10420
@davidsblog Thanks for your feedback, unfortunately that's the current behavior of the portal. you need to refresh the portal to view the change. I will share your feedback to our Dev team, and for now I will add a sentence to the doc that the portal needs to be refreshed to view the changes.

[2018-06-19 22:49] rwike77 commented on #9490
[Article ](https://docs.microsoft.com/azure/service-fabric/service-fabric-tutorial-create-dotnet-app) has been updated with info on creating the .bowerrc file.  I believe we have all the steps covered, now.  #please-close

[2018-06-19 23:01] colemickens commented on #10356
I'm not sure. I'm still confused.

I still don't understand the documentation situation. One page clearly says `ID tokens that are issued by the v2.0 endpoint do not contain an email claim for the user, even if you acquire permission from the user to view their email.`.

The docs for the token says: `The primary email address associated with the user account, if one exists. Its value is mutable an

[2018-06-19 23:05] iamjasonp opened #10442 "Microsoft.ServiceFabric.Services.AspNetCore package does not seem to exist in Nuget"
Microsoft.ServiceFabric.Services.AspNetCore is not a package that exists in Nuget. therefore extension methods like `UseServiceFabricIntegration` cannot be used per the example
https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/tree/master/src/GettingStartedApplication/ seems to be a far better reference

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-19 23:06] CelesteDG commented on #10356
@colemickens - Can you please add links to the pages that you're referencing? There is some ongoing work that will update the email claim behavior so I'm waiting on guidance from our feature team before making further doc changes. I've only recently taken ownership of the docs and I appreciate your feedback on where it can improve.

[2018-06-19 23:12] mike-urnun-msft commented on #8111
Hey @faceoffers28 - We have assigned this issue to the author to review further and take the right course of action.

[2018-06-19 23:13] SaurabhSharma-MSFT commented on #9789
@ConnorKirk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 23:13] #9789 closed

[2018-06-19 23:13] mike-urnun-msft commented on #10004
Hi @johndowns - We have assigned this issue to the author to investigate further and take the right course of action.

[2018-06-19 23:20] rwike77 commented on #9356
@timmyreilly  Hi there, I can't repro what you're seeing.  The Hosted Container template has been out for maybe a year now, actually.  There is no requirement to use VS 2017 15.7.2, either.  If you're still experiencing problems, can I ask you to open up an issue in the [engineering team repo](https://github.com/Azure/service-fabric-issues)?  #please-close

[2018-06-19 23:21] #9490 closed

[2018-06-19 23:22] rwike77 commented on #10226
[Article](https://docs.microsoft.com/azure/service-fabric/scripts/service-fabric-powershell-open-port-in-load-balancer) has been updated.  #please-close

[2018-06-19 23:22] #9356 closed

[2018-06-19 23:23] VitorPires commented on #10268
Yeah. Thankyou to everbody

Em 19 de jun de 2018 18:46, "Micah" <notifications@github.com> escreveu:

@VitorPires <https://github.com/VitorPires> does that help?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/MicrosoftDocs/azure-docs/issues/10268#issuecomment-398556736>,
or mute the thread
<https://github.com/notifications/

[2018-06-19 23:30] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT The first part of link generated the error
"Principal b2a7b5ddf84e4bcaa858df0930f74765 does not exist in the directory eea57639-7a6a-40f2-ab45-d41085f79d1e."

Now, in the AKS. See the error: "unauthorized: authentication required.

I'm creating secret:
kubectl create secret docker-registry XXX --docker-username USER-SERVICE-PRINCIPAL --docker-password PWD-SERVICE-PRINCIPAL --

[2018-06-19 23:42] colemickens commented on #10356
Of course, my apologies, I thought they were in the initial description!

Here's the AAD V2 Limitations document I'm referring to: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations

And then the AADv2 Token Reference: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-tokens

[2018-06-19 23:47] robvon opened #10443 "ALl links and references for Cognitive Services QNA are to the old Preview System"
Please update the Cognitive Services QNA guidance as a matter of urgency. I wish to restore a kb from the preview and I'm not going to waste a day farting about. There be dragons!

[2018-06-19 23:49] #10226 closed

[2018-06-19 23:50] SnehaGunda commented on #10420
#please-close

[2018-06-19 23:56] SaurabhSharma-MSFT commented on #10139
@ahamin01 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-19 23:56] #10139 closed

[2018-06-20 00:02] ajiteshg opened #10444 "Creating Consumer Group"
How do we create new consumer group and link to IoT hub using Azure Portal instead of CLI commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f233412c-4242-e9a6-e09d-c5b07775dd00
* Version Independent ID: 3a940d2c-77bb-b8ff-8864-9fc6ef16c122
* Content: [Configure message routing with Azure IoT Hub (.NET)](https://

[2018-06-20 00:04] bernardw1 commented on #5496
I have tried every way I could think of and was unable to get it to work. As result I think t has not been fully vetted. And I have not seen any documentation either.

Sent from my Windows 10 phone

From: jagee23<mailto:notifications@github.com>
Sent: Tuesday, June 19, 2018 4:39 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Bernard Welmers<mailto:bwelmers@KnutsonConstru

[2018-06-20 00:05] robvon opened #10445 "No such thing as a 'Ocp-Apim-Subscription-Key'"
QNA doco refers to the 'Ocp-Apim-Subscription-Key'

If you look for keys on the service there are:

1. Key1
2. Key2
3. Subscription Id

But no 'Ocp-Apim-Subscription-Key'

Please advise which one of these is the required 'key'/'id'/Gobbledygook required

Regards

Rob

[2018-06-20 00:07] btardif commented on #10322
#hold-off please hold of on this change, there are some API changes coming that will need to be addressed including new functionality. @kaburkett  thanks for you initiative on this, I will make sure that we have examples when the new functionality and API changes light up

[2018-06-20 00:14] jeongseo commented on #10395
@ajlam  Hi AJ, This doc is part of "Azure Database for MySQL," DaaS (Database as a Service).
I was hoping to set up "DaaS as Master" - "DaaS as Slave".
Docs doesnt state Master should be hosted on-prem or in a VM.

We are trying to reduce all IaaS in order to reduce maintenance & security threats.

[2018-06-20 00:17] ToruMakabe commented on #10326
@dstrebel @neilpeterson @amanohar Thank you for your help! The followings are my config.

* AKS Cluster: MS Corp Internal Subscription
* AAD Tenant for AKS Cluster Resource: MS Corp
* AAD Tenant for AKS Auth: My private one, associated with VS Subscription
* kubectl Login User: MS Corp Work account, but as B2B guest of my private AAD tenant

[2018-06-20 00:28] CelesteDG commented on #10356
Thank you, @colemickens - This is super helpful. I'm following up on this now and will update this thread once I've got more info or have a PR ready to address your question.

[2018-06-20 00:29] rafaelmluz commented on #10430
@MicahMcKittrick-MSFT
I did a test.
I created an ACR and AKS in the same directory and followed step-by-step to doc.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks

Unfortunately it generated the same error. "unauthorized: authentication required.

[2018-06-20 00:55] ajlam commented on #10395
Hi @jeongseo, sorry for the confusion. This feature is used to replicate data from an external source to a replica in the Azure DB for MySQL service. Please see the concepts docs for more detail: https://docs.microsoft.com/ko-kr/azure/mysql/concepts-data-in-replication

I will make sure to update the how-to doc to outline that the primary server is external to the Azure DB for MySQL service.

[2018-06-20 01:06] jeongseo commented on #10395
@ajlam  Its okay! :) I forgot to read "concepts data in replication" It states there.
Anyhow, thanks for the update! I will look forward advanced feature.

[2018-06-20 01:06] #10395 closed

[2018-06-20 02:33] robvon opened #10448 "Links embedded into Code samples lead to V2.0 api"
Should lead to V4.0
See question: How do I programmatically update my Knowledge Base?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b442bbc5-80c1-c463-ddc8-9ddc6453b827
* Version Independent ID: 64467bb5-b053-7720-8ffe-9dcc68024f05
* Content: [C# Quickstart for Microsoft QnA Maker API (V4) - Azure Cognitive Services](

[2018-06-20 02:42] HeidiSteen commented on #9788
Circling back -- this issue has been fixed:
https://docs.microsoft.com/en-us/azure/search/search-sku-tier

#please-close

[2018-06-20 02:43] ajiteshg commented on #10444
Figured it out.
- Click on Endpoints
- Goto default endpoints section and click on Events
- Add the new Consumer Group at the bottom of the form

[2018-06-20 02:43] #10444 closed

[2018-06-20 03:02] omnimose opened #10449 "two issues"
1. PowerShell script syntax error:

$tempDir\DeployMySQLProvider.ps1 -AzCredential $AdminCreds `
VMLocalCredential $vmLocalAdminCreds `
CloudAdminCredential $cloudAdminCreds `
PrivilegedEndpoint $privilegedEndpoint `
DefaultSSLCertificatePassword $PfxPass `
DependencyFilesLocalPath $tempDir\cert `
AcceptLicense

2. Typo:

Deploys a VM usin a Windows Server 2016 Azure Stack marketplace image and in

[2018-06-20 03:14] ggailey777 commented on #9108
@TravisCragg-MSFT can you please reopen this issue and assign it to me to figure out what's going on. Sorry @jacob-j for my confusion here.

[2018-06-20 03:16] robvon opened #10450 "If Create Knowledge Base fails at the API no errors are given"
In the event of an API error, no "Location" header is returned and the sample crashes.
At least prettyPrint the response before you check for the "location" header

PS. Did anyone actually run this thing ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b442bbc5-80c1-c463-ddc8-9ddc6453b827
* Version Independent ID: 6446

[2018-06-20 03:51] zhongc commented on #9851
ASA query is a standing query, meaning it’s only loaded once, along with the reference data, when the query starts. It then runs without reload, until a newer version of the reference data is available.

[2018-06-20 03:53] mayur-tendulkar opened #10451 "Create and register an application"
Some details can be helpful for people who are trying to register the app for the 1st time.
To register the application, navigate to Portal Dashboard -&gt; All Services -&gt; Azure AD B2C and there you'll find Applications, Identity Providers, and Policies. It is not under Dashboard -&gt; Azure Active Directory.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-20 04:15] thesheebs commented on #10238
I got it working.

Thanks.

Have a great day :)

Amy

[2018-06-20 04:19] dstrebel commented on #10326
MSCorp wont work unless you have requested from Internal the correct permission to create a App registration. VS subscription you need to have a 'user.onmicrosoft.com' account  for binding and when you login. You cannot use a outlook or live account for authentication.

[2018-06-20 04:49] MohitGargMSFT commented on #10411
@graham-sportsmgmt Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-20 04:50] Anmolgan81 commented on #9814
By backup extension you mean??

I have tried installing the sql iaas extension but was unsuccessful when doing this.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Wednesday, June 20, 2018 2:53:01 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Cant see SQL Automated bac

[2018-06-20 04:50] Alihamzehzadeh commented on #6888
پصج

[2018-06-20 04:53] MohitGargMSFT commented on #10418
@joymon Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 04:58] MohitGargMSFT commented on #10419
@jeffwmiles Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-20 05:01] MohitGargMSFT commented on #10451
@mayur-tendulkar Thanks for the feedback! I have assigned the issue to the author to investigate and update as appropriate.

[2018-06-20 05:04] kiranpradeep opened #10453 "real need of Azure DPS and key rotation"
I am working on device side of things using Azure Device SDK(azure-iot-sdk-c) using HSM/x509. Coming from LwM2M bootstrapping, my initial (incorrect) assumption  was credentials used for authenticating with Azure DPS and Azure IoT Hub were different. I also (wrongly) assumed that, Azure DPS generated and shares the certificates to be used for communicating with Azure IoT Hub.

But inspecting devic

[2018-06-20 05:15] SaurabhSharma-MSFT commented on #10445
@robvon Can you please provide the document link which you are referring to.

[2018-06-20 05:17] SaurabhSharma-MSFT commented on #10443
@robvon Can you please provide the document link you are referring to

[2018-06-20 05:21] SaurabhSharma-MSFT commented on #10417
@smoms Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 06:02] Nilis312 commented on #10428
@Shorisean, It looks like the refresh is done every hour if you look into the logs and see the policies updated on the sysvol folder. But its good to have it documented indeed.

[2018-06-20 06:36] peterzdovc opened #10455 "Server-Side Using Customer-Managed On-premises for Disk (IaaS)"
There is "\*" with "Yes" for this scenario but I can find no additional explanation what the "\*" is about.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd0472f9-1ed9-0154-3bfd-b25e5da64cd1
* Version Independent ID: 846187d4-c24c-279f-e216-80b6507228b3
* Content: [Microsoft Azure Data Encryption-at-Rest](https://docs

[2018-06-20 06:36] rayne-wiselman commented on #9028
Hey. We've had no response on this. By default in the source region a storage account with a random generated name is created for cache storage. Perhaps this is what Andrew is seeing. #please-close

[2018-06-20 06:37] rayne-wiselman commented on #9398
We're investigating this.

[2018-06-20 06:41] rayne-wiselman commented on #9553
Team is investigating

[2018-06-20 06:43] ejarvi commented on #10220
@DevTiw It looks like the support page has been taken down or moved unexpectedly.  Could you check to see if there is a new link available?

If encryption status is not being displayed as expected in the Portal, some alternatives to checking this status are to use the equivalent Powershell or CLI commands documented here:

- **Get-AzureRmVmDiskEncryptionStatus** https://docs.microsoft.com/en-us/po

[2018-06-20 06:56] zhouwangzw commented on #9909
C++ API has ICognitiveServicesSpeechFactory::CreateSpeechRecognizerWithStream() to allow you use audio stream for speech recognition:
[code]

The SpeechFactory_CreateSpeechRecognizer_With_Stream() is a C API. This is only used when you have to use C, instead of C++.

[2018-06-20 06:56] ishepherd opened #10457 "HTTP 400 "Missing Required Header for CSRF protection.""
FYI: When I try making a POST such as your example...

[code]

...on HDInsight 3.6, produces this error:

[code]

The solution is to add an extra header: `-H "X-Requested-By: admin"`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4472f8f1-7879-22cc-9c8d-5ccca7f0358a
* Version Independent ID: 19443dd3-1562-c748-2cc4-7e1

[2018-06-20 07:10] kunalaphadnis99 commented on #10252
Hello Antonio,
Thank you for your confirmation.
As this impacts my current development, just a last question:
For ML to work on Linux containers, I require to take all of my stuff on Linux system or use Linux containers. However, I have created my custom C# simulator to create dummy data and send to ML module. So I must create a Python module and run everything on Linux? Is this the correct way?

[2018-06-20 07:13] ejarvi commented on #10219
@TomShinder  @SudhakaraReddyEvuri

If we want this document to continue to demonstrate the AAD parameter path, I believe we need to revise the document so that it explicitly provides AAD parameters to the script instead of expecting the user to be prompted for them interactively.

If we want to change it so that it guides users through the simpler syntax that no longer requires AAD as a prerequisi

[2018-06-20 07:16] bingosummer commented on #9772
@gsilva5 @TravisCragg-MSFT
If I understand correctly, the limitation `Accelerated networking can only be enabled for a new NIC. It cannot be enabled for an existing NIC.` should be deleted, because accelerated networking can be enabled for both a new NIC and an existing NIC.

[2018-06-20 07:25] kazshi opened #10458 "destination link from "Download blobs for analysis" in the Next steps"
destination link from "Download blobs for analysis" in the Next steps is "Work with blobs - .NET"
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet
Is it expected? Why not "Work with blobs - Azure portal"?
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-06-20 07:32] ejarvi commented on #8462
@SudhakaraReddyEvuri Was this fixed in [latest ](https://github.com/Azure/azure-powershell/releases/latest) ?

[2018-06-20 07:50] SnehaGunda commented on #9863
@kvroeden Thanks for pointing the issue, the UI was updated after VNet service endpoint concept was introduced. I updated the doc to reflect new UI.

[2018-06-20 07:50] SnehaGunda commented on #9863
#please-close

[2018-06-20 08:02] twem opened #10459 "Region pair Primary/Secondary"
The table of region pairs doesn't clearly state which one is primary and which is secondary.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/regions-and-availability does for some regions, a complete table is needed for solution planning

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a788e4-0130-73f2-

[2018-06-20 08:10] dreic opened #10460 "PGSQL connection string missing"
Hello,

since now you have managed PGSQL service, pgsql connection string is missing in your app service, for example PGSQLCONNSTR_ . When we can expect support for it?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91979290-94f6-b300-e200-f071129a92b2
* Version Independent ID: 77b80ec5-3559-74e6-e0fa-6384b2005

[2018-06-20 08:13] fizxmike opened #10461 "NIC is not associated with network security group in sample Azure script"
[Enter feedback here]
the $nsg variable is never reused and is never associated with the $nic

$nic creation should be done after $nsg instead and reference $nsg.Id like so:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9ce3be3-235a-67c6-c6d6-72907767abfd
* Version Independent ID: 089639ab-43e4-bc64-a0ed-f77c8

[2018-06-20 08:13] fizxmike commented on #10461
I created a [PR](https://github.com/MicrosoftDocs/azure-docs/pull/10462)

[2018-06-20 08:14] andrewatfornax commented on #9028
Wait, what? You get 24 days to respond, but if I'm having a busy week, and haven't had a chance to review it, yet, we move on to closing? #please-keep-open

[2018-06-20 08:14] snehithm commented on #10396
Hi @femsulu, @somefella123. Passing multiple resources is currently not supported. We made it an array to have the ability in future to enable this. Right now, only passing a single resource is supported.

[2018-06-20 08:33] CryptoMeerkat opened #10463 "Adjustments while active sessions are out there"
Hi, what is happening if there are active sessions out there in the Azure AD B2C and settings are changed? I though about adjusting the settings after the application went live (e.g. websession lifetimes) and want to be sure that it does not break existing sessions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7e0d1

[2018-06-20 08:38] rayne-wiselman commented on #9028
Sure. Please review whether you're seeing the account in the source region. thanks!

[2018-06-20 08:41] sieradz commented on #10365
Further info regarding this issue:
Tried on windows 10, got the same initial error during "bundle install" :
" ... creating makefile ... no python ... "
I glanced over at the release notes for git for windows ( version 2.17.1(2) ) which states :
"As Git for Windows is shipped without Python support, all Git commands requiring Python are not yet supported; e.g. git p4."
Hope this helps you resolve

[2018-06-20 08:57] pabloalmaleck commented on #10423
Yes, I installed the extension. Here the command palette print screen

[cid:image001.png@01D40885.7FF60850]

In any case it is possible to create a new IoT Edge module solution from the “Explorer”. Right click on a folder and select “New Iot Edge Solution”

Best regards

From: Xin Shi [mailto:notifications@github.com]
Sent: mercoledì 20 giugno 2018 06:26
To: MicrosoftDocs/azure-docs <azure-docs@no

[2018-06-20 09:36] pabloalmaleck commented on #10423
![commandpalette](https://user-images.githubusercontent.com/40399827/41650350-1e44947c-747e-11e8-9eb0-9215805e8f92.jpg)

[2018-06-20 09:47] pradyrk opened #10464 "Free Azure subscription doesn't allow to create spark cluster in databricks"
Hi - I created a free azure subscription to explore Azure databricks. I coudn't create the basic 14 GB Databricks cluster, getting the below error.

Cloud Provider Launch Failure: A cloud provider error was encountered while setting up the cluster. See the Databricks guide for more information.
Azure error code: OperationNotAllowed
Azure error message: Operation results in exceeding quota limits o

[2018-06-20 10:00] davidsblog commented on #10420
Thanks.  That's great.  I have created a feature request as well.

[2018-06-20 10:11] rustc0h1e opened #10465 "External IP pending"
while exposing an app using LoadBalancer, External-IP field is &lt;pending&gt; and doesn't get resolved to an actual IP address, no matter how much you wait.
Any Fix ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Con

[2018-06-20 10:43] ddarwent commented on #9835
Is Windows on the roadmap for this?

[2018-06-20 11:10] jay98014 commented on #10428
The refresh is attempted approximately every hour per Active Directory site.  Each DC agent will skip the download if a suitably recent policy is already available locally.  And yes all downloaded policies are also immediately written to sysvol so that they can be shared with other DCs.    So assuming your DFSR sysvol replication is working efficiently, you should see far fewer policy download req

[2018-06-20 11:10] skille opened #10466 "Outdated info"
Please update this - missing Microsoft O365 licenses

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1-c026-99a0721cf071
* Version Independent ID: 16dec59a-eb83-1837-4efd-4645e7aeaed2
* Content: [Product names and service plan identifiers for licensing in Azure Active Directory](https://docs.microsoft.c

[2018-06-20 11:13] dylanhughes opened #10467 "Incorrect Parameters."
In the install command line - Sample usage - the correct parameters are:

MicrosoftAzureSiteRecoveryUnifiedSetup.exe /q /x:C:\Temp\Extracted (you are missing semicolon after x: - will not extract otherwise).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 613fc8ec-8a64-58ba-e798-706db4ef74c0
* Version Independent ID: 45

[2018-06-20 12:07] tudorsibiu90 opened #10469 "Solution/Workspace showing no Service Fabric data Bug"
Hi,

I request that  this issue
https://github.com/Azure/service-fabric-issues/issues/1080

to be escalated to a Bug status. I am unable to make it work. Tried everything, even what was suggested on github. Nothing works. Please provide feedback. Seems to me like this problem is ongoing for at least a month now.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-20 12:38] boqsernmcpopsern opened #10471 "Missing TCP Port 80 for *.frontend.clouddatahub.net"
Ports and firewall only specifies 443, but it seems TCP 80 is also required. Can you confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32785d15-8202-6e44-f1d2-420ef0600f3f
* Version Independent ID: 3af5fa49-7bd4-18ce-f8dc-aa4a2b8c6478
* Content: [Create self-hosted integration runtime in Azure Data Factory](https

[2018-06-20 12:38] craigshoemaker commented on #10411
@graham-sportsmgmt thanks for the feedback!

The request/response pipeline is a bit out of scope for this article. I wrote this quickstart with the intent to keep the details tight around blob storage specifically. The use case for the storage APIs extends beyond web apps - for instance straight Node.js apps and Electron.

Feel free to use the approach shown here in any of your favorite web framew

[2018-06-20 12:40] graham-sportsmgmt commented on #10411
The approach here doesn't work with web frameworks, though.

[2018-06-20 13:33] OrangeInnovations opened #10474 "portal does not work if node type name as nodetype1, something wrong with current release."
I used the portal to deploy. Got conflict error.
/subscriptions/0732b52e-6aa9-4098-87e1-c148f2a4f878/resourceGroups/nsprdeuagfrgsfc/providers/Microsoft.Compute/virtualMachineScaleSets/nodetype1
StatusMessage{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [

[2018-06-20 13:41] craigshoemaker commented on #10301
Thanks @manigandham for the detail and link to code to help remedy the problem. I have created in internal work item to make this update.

#please-close

[2018-06-20 13:44] craigshoemaker commented on #10411
I agree that you would have to adapt the code to in the context of a web app. Tell me more about what you'd like to see.

[2018-06-20 13:46] graham-sportsmgmt commented on #10411
An example of how to write to a block blob using a node.js request stream.  Thanks!

[2018-06-20 13:48] zimmie67 opened #10475 "PowerShell command does not work"
Is there a step missing ( a required upgrade of PowerShell) as I get Module not found when running Import-Module AzureADPasswordProtection (after installing msi package on Win 2016 server and rebooting)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20524a4a-cae7-bddb-0fb5-4deaa542e2bf
* Version Independent ID: d58d429

[2018-06-20 13:50] ryansuryanto commented on #9029
Hi Vairavan,

I managed to reproduce the error,  could you please reopen the case and
access this URL

https://m620180620demo.azurehdinsight.net/jupyter/notebooks/Python%20Data%20Exploration.ipynb

I left the cluster running.

Hopefully can get solution how to fix the problem.

username: admin
password: L1th@n3ducation

Thank you

On Sat, May 26, 2018 at 1:26 AM, VairavanS-MSFT <notifications@gith

[2018-06-20 13:57] ryansuryanto commented on #9420
I managed to reproduce the error

https://m620180620demo.azurehdinsight.net/jupyter/notebooks/Python%20Data%20Exploration.ipynb

username: admin
password: L1th@n3ducation

I will leave the cluster to run for you to check

Please help to fix the problem.

Thank you

[2018-06-20 13:59] v-geberr commented on #10348
@14geronimo Microsoft content guidance does not allow me to use the Menu > Menu2 notation. I've rewritten the instructions to be more clear and specific. Please review the [changes](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/interactive-test#view-bing-spell-check-corrections-in-test-panel).

[2018-06-20 14:08] mrbullwinkle commented on #10236
@BryanTrach-MSFT can you change this to a doc-enhancement request? The current doc does work for outlining the basics of how to send custom e-mails with App Insights data. The customer has requested extending the doc to walkthrough how-to exactly replicate the functionality that was present in the weekly digest e-mails. You can assign this one to me. I am also including @SoubhagyaDash for visibili

[2018-06-20 14:12] rogerbramon opened #10476 "Webapp slot instead of a new webapp"
If I'm not wrong, the first approach could also be implemented using webapp slots instead of creating a cloned webapp. This would also imply that the Traffic Manager is not needed because you can control the production slot by swapping between slots.

Do you consider it a good option? Do you foresee any important drawback?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-06-20 14:35] tdykstra commented on #7527
#please-close

[2018-06-20 14:36] nageshVutukuru commented on #8705
how can I modify  my gateway key ? , in Integration RunTime, , currently I'm uninstalling and reinstalling , which is a pain , checked  in .config files , could not find trace of this key value -- , help is highly appreciated.

[2018-06-20 14:39] po3yejlb opened #10479 "Data syncing frequency and storage space on the Tenant"
Hi, following question may have interest for some admins concerned by the network impact of the Feature. Let suppose I have 30000 users, Domain Joined W10 devices with 1709. I want to sync IE and EDGE favs and maybe the Themes. I will for sure disable syncing Passwords. If I enable Enterprise State Roaming:
- What is the impact on my network?
- How many MG/GB per user should I expect to be synced

[2018-06-20 14:43] phandinhlan commented on #10051
I found the reason why it wasn't able to get the image. I do not have a "latest" tag in my image repository and thus needs to specify the tag explicitly.
Sorry for the trouble.

[2018-06-20 14:43] #10051 closed

[2018-06-20 14:44] fujie opened #10480 "Register-AzureADPasswordProtectionProxy does not work"
Register-AzureADPasswordProtectionProxy returns following error.
Is there any missing operations? It seems no logs on eventlog eventhough I enabled trace log on AzureADPasswordProtection.
I tried both on domain controller and member server. Both of them are running on Windows Server 2012 R2.
***************************
Register-AzureADPasswordProtectionProxy : One or more errors occurred.
At line:

[2018-06-20 14:52] kquinby commented on #10429
After running some fiddler traces, we saw that Websense was still interfering with this server. Had to add it to a firewall bypass group as well. At the end of the day, the error was indicating a communication failure, even though it wasnt specifically proxy related.

[2018-06-20 15:14] fujie commented on #10480
It seems that MFA is required during accessing DRS. Here is fiddler trace.
*********************************
{"error":"interaction_required","error_description":"AADSTS50079: Due to a configuration change made by your administrator, or because you moved to a new location, you must enroll in multi-factor authentication to access '01cb2876-7ebd-4aa4-9cc9-d28bd4d359a9'.\r\nTrace ID: 0a990bc5-0565-4b5

[2018-06-20 15:23] georgewallace commented on #10409
@KloudEzy Also to add, interactive cmdlets like `Read-Host` are not supported, I submitted an update to the doc this morning to make this clear, as the script is ran in a remote host there is no way for it to get information from a prompt.

[2018-06-20 15:28] rothja commented on #9814
@Anmolgan81 I agree with @MicahMcKittrick-MSFT. If possible, just start with a fresh SQL Server Virtual Machine in the portal. Start it up and verify that you get the portal experience described in the article for Automated Backup. Then migrate your data. You could use a backup created by Automated Backup on the other machine, OR you could just manually create a backup file locally and transfer it

[2018-06-20 15:31] KloudEzy commented on #10409
Hi Team,

Thanks for the update! I did find out the problem. My script had input request from user and learned it hard way that system won't show input prompt and it'll only accept parameterized input. Anyways, my script i.e. invisible input prompt timed out in 90 minutes and then I could run another script.

Thanks for your help! Really appreciate it!

[2018-06-20 15:35] tomkodet opened #10481 "Broken Links to Dashboard, Visualization and Saved Search downloads."
Hello, the links in the section "Create a Kibana dashboard" "Download the dashboard file here, the visualization file here, and the saved search file here," are broken. Please update with new working links. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e3a36e-ac7d-51a0-eb02-f8151b750a6a
* Version Independ

[2018-06-20 15:35] jslaybaugh commented on #9314
i've installed https://www.nuget.org/packages/Microsoft.Web.WebJobs.Publish/ but there is no workload option for VS for mac to publish this, I believe? https://docs.microsoft.com/en-us/visualstudio/mac/workloads

[2018-06-20 15:37] ajaybha commented on #10364
Thanks @sergaz-msft.
Unfortunately, it still doesn't work. Now the exception I see in the edgeAgent logs is the "possible authorization or container registry down". I have used the iotedgectl to provide registry login credentials (which get stored in the config file.

Here is the log excerpt...

2018-06-20 15:26:21.291 +00:00 [INF] - Executing command: "docker pull ajaybh.azurecr.io/filtermodule:0

[2018-06-20 15:38] tourili commented on #9885
I think there is a clear limitation problem here when asking scope for both the app id and its own scopes:
"The scope '..' provided in request specifies more than one resource for an access token"

[2018-06-20 15:46] Anmolgan81 commented on #9814
Hi pleas find the support request below which I have raised particularly for thos issue but am not getting a good solution from the support person who is handling this case please do let me know if you can help me with this.
Support ticket:[REG:118060718341159]

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jason Roth <notifications@github.com>
Sent: Wednesday,

[2018-06-20 15:48] TomShinder opened #10482 "Need to improve the definition"
The title of the article is "What is API Management" but there doesn't seem to be an answer - there's a description of what it does, but I don't see an answer to "what it is". Is it a gateway to something? If so, lead with that "Azure API Management is a gateway which accepts API calls and routes them to backends..." and then follow up on why this is an important thing that I should want and care

[2018-06-20 15:49] #10268 closed

[2018-06-20 15:49] sergaz-msft commented on #10453
Hello @kiranpradeep, thank you for your feedback. Let me go through some of your questions, but before I want to point out that the [Azure IoT Reference Architecture Guide](https://aka.ms/iotrefarchitecture) can clarify many of your questions and others coming along while you architect your solution.

I believe [this document](https://docs.microsoft.com/en-us/azure/iot-dps/about-iot-dps#when-to-us

[2018-06-20 15:51] akramwaseem commented on #10376
@MicahMcKittrick-MSFT --  Its ubuntu 14.04.5 and VM size is standard D2_v2 and west US.

[2018-06-20 15:52] #7527 closed

[2018-06-20 15:55] MicahMcKittrick-MSFT commented on #10442
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-20 15:55] MicahMcKittrick-MSFT commented on #10461
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 15:56] MicahMcKittrick-MSFT commented on #10465
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 15:56] paulceli commented on #9314
Yes workloads is not a thing on Mac. But Microsoft very recently added the possibility to publish Functions from VS Mac on the "beta" updates channel.
I've bailed on WebJobs, has I get the feeling that Microsoft is pushing Durable Functions instead.

[2018-06-20 15:57] rothja commented on #9814
@Anmolgan81 I do not have access to our support system to find this, but I can try to ask some support engineers if they could help me. In the meantime, what do you think of our idea to transition to a new SQL VM where the portal experience works? Thanks!

[2018-06-20 15:57] MicahMcKittrick-MSFT commented on #10474
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 15:57] jstawski opened #10483 "So where do I add my business rules code with 2.6+ in WebApi 2?"
Our current implementation with 2.5 is to log all exception of type `BusinessException` as Traces and the rest as Exceptions. We are using the overriding of `System.Web.Http.Filters.ExceptionFilterAttribute` method.

According to this article: "Application Insights collects unhandled exceptions thrown in the controller methods automatically for WebAPI 2+". This has a side effect where the exceptio

[2018-06-20 15:59] Shorinsean commented on #10428
Thanks, Jay and Nilis!

Thanks,

Sean (mobile)

________________________________
From: Jay Simmons <notifications@github.com>
Sent: Wednesday, June 20, 2018 4:10 AM
To: MicrosoftDocs/azure-docs
Cc: Sean Deuby; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Password policy replication (#10428)

The refresh is attempted approximately every hour per Active Directory site. Each DC agent will skip the

[2018-06-20 15:59] MicahMcKittrick-MSFT commented on #10464
@pradyrk the initial core limit for free trial subscriptions does not allow users to create VMs with that many cores. You will need to follow the link you posted in order to request an increase in cores before you can create such a large VM.

[2018-06-20 15:59] #10464 closed

[2018-06-20 16:00] sieradz commented on #10365
looking more closely at the logs ( having installed python ) on win 10, it looks like bundle install is failing to create makefile for libv8 gem, see below for log output (nb was same issue on win 7)

current directory: C:/RailsInstaller/Ruby2.3.3/lib/ruby/gems/2.3.0/gems/libv8-3.16.14.19/ext/libv8
C:/RailsInstaller/Ruby2.3.3/bin/ruby.exe -r ./siteconf20180620-14620-1em6dio.rb extconf.rb
creating

[2018-06-20 16:00] vianeyhm opened #10484 "Confusion about SSPR licensing"
Could you please clarifyin the article if there is a license needed per user as mandatory to enable the SSPR for on-prem users sync by Azure AD Connect Tool in hybrid environments. The article says that you must have at least one license assigned in your organization, but how I can enable any user in my organization have the ability to reset their passwords by themselves if I only have some or at

[2018-06-20 16:01] MicahMcKittrick-MSFT commented on #10459
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 16:01] ajaybha commented on #10364
Alternatively, I am able to use docker (from command prompt) to login to same repository (with same credentials) & pull the image, so definitely some issue with iotedgectl. Appreciate your help/guidance.

… // provided credentials //
...

0.0.1-amd64: Pulling from filtermodule
Digest: sha256:87534accd56f28f191d1e75cb927c119f3ff54a2d118640224cf9586243207f4
Status: Image is up to date for ajaybh.azu

[2018-06-20 16:04] MicahMcKittrick-MSFT commented on #9814
@rothja I will look into the ticket :) And thanks for the explanation! So seems the main issue here is that when he created the VM from existing disk this removes the SQL management from the portal.

@Anmolgan81 So the reason you cannot manage your SQL backups from the portal is because you recreated your VMs from an existing disks and not directly from the portal. Hence, the only way you can mana

[2018-06-20 16:06] cloudmelon opened #10485 "Virtual networks api version not updated"
The api version of virtual networks in doc

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-multiple

is not enough updated ( as shown below )
![image](https://user-images.githubusercontent.com/4621560/41670417-8906edb0-74b4-11e8-8394-761a2fdc0b54.png)

The latest will be 2018-04-01 ( I tested with 2017-04-01 successfully as well )
![image](https://user-images.g

[2018-06-20 16:08] MicahMcKittrick-MSFT commented on #9814
@Anmolgan81 in addition, I would suggest leaving your feedback on
[UserVoice](https://feedback.azure.com/forums/34192--general-feedback) so the SQL team can get insights into the issue and understand that even though you created your VM from an existing managed disk you still want to be able to use the portal to manage your backups and not just PowerShell.

[2018-06-20 16:08] MicahMcKittrick-MSFT commented on #10190
I will close this out but if you feel you need more information please just let me know.

[2018-06-20 16:13] MicahMcKittrick-MSFT commented on #10316
I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2018-06-20 16:13] #10316 closed

[2018-06-20 16:16] SudhakaraReddyEvuri commented on #8462
Yes, the error "Set-AzureRmResource : Exception getting "Values": "The method or operation is not implemented." should have been fixed in https://github.com/Azure/azure-powershell/releases/tag/v6.3.0-June2018 . please install latest Azure Powershell and re-run the script.

[2018-06-20 16:16] MicahMcKittrick-MSFT commented on #10416
Thanks @ggailey777!

@ratchetwrench can you take a look at that suggestion and see if it meets your criteria?

[2018-06-20 16:21] sergaz-msft commented on #10364
Hello @ajaybha , what value did you use for `<your container registry address>` when running:

`iotedgectl login --address <your container registry address> --username <username> --password <password>`

Thank you.

[2018-06-20 16:24] Anmolgan81 commented on #9814
Hi @micah,

So basically I will try to use @json’s idea but I need some help with this from a support person.

If you can help me with this using any other meeting tool ex(skype for bussiness etc) it will be highly appreciated or you can provide any support person who can help with this.

Is there no other idea of managing thr sql automated backup using the portal.

Get Outlook for iOS<https://aka

[2018-06-20 16:25] SaurabhSharma-MSFT commented on #10438
@jaredbaszler Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:25] sergaz-msft commented on #10449
@omnimose Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 16:26] SaurabhSharma-MSFT commented on #10441
@whataride Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:26] micah commented on #9814
not the right @micah

[2018-06-20 16:30] SaurabhSharma-MSFT commented on #10448
@robvon Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:32] Anmolgan81 commented on #9814
Hi @Micah

So basically I will try to use @Json idea but I need some help with this from a support person.

If you can help me with this using any other meeting tool ex(skype for bussiness etc) it will be highly appreciated or you can provide any support person who can help with this.

Is there no other idea of managing thr sql automated backup using the portal.
Get Outlook for iOS<https://aka.ms/

[2018-06-20 16:32] Anmolgan81 commented on #9814
Sorry my bad

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: micah <notifications@github.com>
Sent: Wednesday, June 20, 2018 9:57:06 PM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Cant see SQL Automated backup in azure portal (#9814)

not the right @micah<https://github.com/micah>

—
You are receiving this because

[2018-06-20 16:34] CeciAc opened #10487 "Inaccurate data"
@AlexAlper commented on [Wed Jun 20 2018](https://github.com/MicrosoftDocs/azure-docs.ru-ru/issues/60)

Щелкните Создать ресурс, выберите Вычисления, а затем щелкните Смотреть все в разделе Рекомендуемые приложения.
Щелкните JDK, а затем в области JDK выберите JDK 8.

Однако на Azure я не могу найти JDK, его там нет. И тогда я не знаю, как запустить Tomcat

---
#### Сведения о документе

⚠ *Не вно

[2018-06-20 16:38] CeciAc commented on #10487
Hi team,
I moved this issue here because the user reported an accuracy in the documentation
best

[2018-06-20 16:38] SaurabhSharma-MSFT commented on #10455
@peterzdovc Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:39] SaurabhSharma-MSFT commented on #10463
@CryptoMeerkat Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:40] douglaslMS commented on #9730
#please-close

[2018-06-20 16:42] SaurabhSharma-MSFT commented on #10466
@skille Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:42] tomkodet commented on #9593
Hello, the download links for the Kibana dashboard, visualization and saved search file are still broken. It would be very useful to have those templates. Please fix the links. Thank you!

[2018-06-20 16:43] SaurabhSharma-MSFT commented on #10466
@skille I see O365 licenses in the document, which all specific licenses you see missing from the document ?

[2018-06-20 16:44] SaurabhSharma-MSFT commented on #10475
@zimmie67 Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:45] SaurabhSharma-MSFT commented on #10479
@po3yejlb Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:47] ajaybha commented on #10364
The issue was with '/' character in the password for container registry. Using the secondary password worked. This should be filed as a bug.

Thanks @sergaz-msft  for helping troubleshoot this together on IM.

[2018-06-20 16:49] varunsh-msft commented on #6500
You can find documentation about AzureServiceTokenProvider [here](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication). This class is in the [Microsoft.Azure.Services.AppAuthentication](https://www.nuget.org/packages/Microsoft.Azure.Services.AppAuthentication/) Nuget.

This is how you can use AzureServiceTokenProvider on local box, where MSI is not available:
https:/

[2018-06-20 16:52] SaurabhSharma-MSFT commented on #10480
@fujie Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 16:55] SaurabhSharma-MSFT commented on #10480
@fujie There is a known limitation and admin accounts that require MFA is unsupported. Please check the [Known limitation](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-password-ban-bad-on-premises#known-limitation) section.
A workaround for this issue is as follows:

- Log into the Azure portal
- Navigate to Azure Active Directory -> Devices -> Device settings
- Set

[2018-06-20 16:59] KumudD commented on #10319
@jebeld17 Great feedback! Sorry, currently we are not creating videos for our documentation. However,  the following video by linkedin/learning provides an overview of Azure Load Balancer service that you may find helpful: [Azure Load Balancers](https://www.linkedin.com/learning/microsoft-azure-virtual-network-implementation/azure-load-balancers).
Thanks!

#please-close

[2018-06-20 17:02] MicahMcKittrick-MSFT commented on #10465
Similar issue #10427

[2018-06-20 17:03] MicahMcKittrick-MSFT commented on #10427
Similar issue #10465

[2018-06-20 17:05] georgewallace commented on #10366
@gesandovalr No, there is no way to force inventory and it does not require a restart. Change and inventory is ran on the following frequencies as defined in the article https://docs.microsoft.com/en-us/azure/automation/automation-change-tracking#change-tracking-data-collection-details . If only one vm is having an issue I might suggest removing and reinstalling the agent on the machine.  If that

[2018-06-20 17:08] MicahMcKittrick-MSFT commented on #10459
@twem the concept of Primary and secondary is just a concept. The example that states West US primary and East US secondary is just that way because as an example, the user deployed in West US. The opposite would be true if you deployed to East US instead. Then East US would be your primary and West US would be your secondary. So there is no official primary or secondary. Rather each region has a

[2018-06-20 17:10] SidShetye opened #10488 "Docs currently useless: Deploying a cloud service via Powershell needed"
I can't think of a single business that would want to create an empty cloud service and call it a day. Please provide at least a baseline powershell script that uploads a cloud service package from automated/continuous integration servers using best practices recommended by the cloud services team.

You won't be able to cover every permutation but a reference deployment script that can be adapted

[2018-06-20 17:13] MicahMcKittrick-MSFT commented on #10461
@fizxmike thanks for this!

@cynthn I reviewed the PR @fizxmike created and it is good to be signed off on. Could you merge the PR as I do not have permissions and rather than redo the PR myself I think we should just sign off on the work already done :)

[2018-06-20 17:16] roygara commented on #10099
I have added a backlog item which we are tracking.

Accordingly,

#please-close

[2018-06-20 17:18] #10099 closed

[2018-06-20 17:22] SaurabhSharma-MSFT commented on #10484
@vianeyhm Thanks for your feedback! We will investigate and update as appropriate.

[2018-06-20 17:22] mike-urnun-msft commented on #10315
Hey @t4apps - Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please reopen this issue and tag me in your reply. We will gladly continue the discussion.

[2018-06-20 17:22] #10315 closed

[2018-06-20 17:24] nagireddygatla opened #10489 "C# Code Sample"
Can you please provide C# sample code/application to find the RUs consumed by each query, I'm looking for some application I just download and execute, by changing keys, endpoint URL, db, collection and query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e1b90f-3c65-6a39-d0a6-df2002532ad8
* Version Independent ID:

[2018-06-20 17:28] Mike-Ubezzi-MSFT commented on #10476
@rogerbramon Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-20 17:30] SaurabhSharma-MSFT commented on #10484
@vianeyhm No, you do not need license for every user in the organization. Any user or administrator can reset passwords depending on the type of subscription.  You can also refer to [Azure AD SSPR availability](https://docs.microsoft.com/en-us/azure/active-directory/authentication/active-directory-passwords-overview#azure-ad-sspr-availability) and [Azure Active Directory pricing](https://azure.mic

[2018-06-20 17:31] MGoedtel commented on #5968
@whytoe - I've got something that I just finished drafting late yesterday but it's not ready for release.  I asked a couple of peers to review it as part of our internal process so I should have an update early next week.  I'd like to close this since I have a task and am actively working on it.  @please-close.   Thanks.

[2018-06-20 17:31] MicahMcKittrick-MSFT commented on #10474
@OrangeInnovations I tested this out but I was able to create a SF cluster with the node names "NodeType1"

![image](https://user-images.githubusercontent.com/32313503/41674495-0683208c-7475-11e8-8e1b-c5df68d28f41.png)

You might have some existing nodes with that name already. Can you try creating a new cluster into a new RG and see if you get the same error?

[2018-06-20 17:33] roygara commented on #10288
Thanks for the feedback @dasch88 !

@MicahMcKittrick-MSFT I have created an item in our backlog to do a review in the future.

Accordingly,

#please-close

[2018-06-20 17:37] Anmolgan81 commented on #9814
Hi @MicahMcKittrick-MSFT

So basically I will try to use @Json idea but I need some help with this from a support person.

If you can help me with this using any other meeting tool ex(skype for bussiness etc) it will be highly appreciated or you can provide any support person who can help with this.

Is there no other idea of managing thr sql automated backup using the portal.

[2018-06-20 17:43] vasivara-MSFT commented on #9851
@greyghostbrewery I hope that answers your question. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 17:43] #9851 closed

[2018-06-20 17:44] cynthn commented on #10461
@fizxmike thanks for catching that! I just signed off on the PR for the fix.

#please-close

[2018-06-20 17:44] barclayn commented on #9157
@larryms Thank you for your feedback. I have made updates to the document to address your points. Please let us know if there is something else we should update or remains unclear.

[2018-06-20 17:44] barclayn commented on #9157
#please-close

[2018-06-20 17:45] BryanTrach-MSFT commented on #10460
@dreic My understanding is that PostgreSQL is currently supported on web apps. We follow the connection string formats found at connectionstrings.com (3rd party site). The below connection string should work.

`User ID=root;Password=myPassword;Host=localhost;Port=5432;Database=myDataBase;
Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;`

Source: https://www.connectionstrings.

[2018-06-20 17:46] vasivara-MSFT commented on #9730
@ConnorKirk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 17:46] #9730 closed

[2018-06-20 17:47] vasivara-MSFT commented on #9863
@kvroeden We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 17:47] #9863 closed

[2018-06-20 17:47] vasivara-MSFT commented on #10301
@manigandham We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 17:47] #10301 closed

[2018-06-20 17:47] jeffgilb commented on #10449
Great feedback, I'll get this updated ASAP.

[2018-06-20 17:48] vasivara-MSFT commented on #10319
@jebeld17 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 17:48] #10319 closed

[2018-06-20 17:49] Anmolgan81 commented on #9814
Hi, @rothja
I like the idea, so basically we created the SQL Server from the marketplace images that are present there, we are not installing SQL Server onto a particular Windows VM.

Your Idea is ideally good, thats what we did in order to get the SQL Configuration option. But its too lengthy and it requires a lot of effort in order to achieve the right configurations.

There are lot of customers

[2018-06-20 17:51] femsulu commented on #10458
@kazshi Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-20 17:53] YutongTie-MSFT commented on #10450
@robvon Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 17:56] femsulu commented on #10457
@ishepherd Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-20 17:58] SaurabhSharma-MSFT commented on #10484
@vianeyhm Yes,  you need to have a license for any user who benefits from the feature e.g. if they use writeback they have to have a license, if they user sspr they have to have a license.
You can refer to the [Azure Active Directory pricing](https://azure.microsoft.com/en-us/pricing/details/active-directory/) to details on the features you can benefit from different licenses e.g. I have also assi

[2018-06-20 17:59] BryanTrach-MSFT commented on #8390
@Anmolgan81 You will need to delete both the binding and the certificate stored in the web app. The app service certificate does not need to be deleted from the subscription, just the web app.

![image](https://user-images.githubusercontent.com/20250350/41675917-e191fe8e-7478-11e8-8c6b-1146ea52110a.png)

[2018-06-20 17:59] SaurabhSharma-MSFT commented on #10304
@JGezels We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 17:59] #10304 closed

[2018-06-20 18:00] MicahMcKittrick-MSFT commented on #10465
@rustc0h1e I tested this and it took about 2 mins to update:

![image](https://user-images.githubusercontent.com/32313503/41675947-faccd482-7478-11e8-854c-0c117e520e55.png)

You can cancel the watch operation and run the command ubectl get service azure-vote-front --watch again to see if the process has changed

[2018-06-20 18:00] MicahMcKittrick-MSFT commented on #10427
@jdogg89 I tested this and it took about 2 mins to update:

image

You can cancel the watch operation and run the command ubectl get service azure-vote-front --watch again to see if the process has changed

[2018-06-20 18:00] Anmolgan81 commented on #8390
@BryanTrach-MSFT

I think you didnt get my question.

I am not talking about the app service certificate to be deleted, Am talking about the thumbprint of the app service certificate that is linked inside the private certificate of the webapp, then that also needed to be deleted??

[2018-06-20 18:01] #10288 closed

[2018-06-20 18:01] #10461 closed

[2018-06-20 18:02] SaurabhSharma-MSFT commented on #10429
@kquinby Good to hear that you are unblocked. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 18:02] #10429 closed

[2018-06-20 18:06] YutongTie-MSFT commented on #10448
@robvon Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jaswel Hi, this is a doc-bug around "How do I programmatically update my Knowledge Base?", can you please check it and update the document as well? Thanks a lot!

[2018-06-20 18:07] SaurabhSharma-MSFT commented on #9157
@larryms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 18:07] #9157 closed

[2018-06-20 18:10] MicrosoftGuyJFlo commented on #10428
#please-close

[2018-06-20 18:11] MicrosoftGuyJFlo commented on #10428
Thanks @Shorinsean for the question.

Thanks @jay98014 for the clear response I will get this into the docs.

[2018-06-20 18:13] ShevaDas commented on #6825
Since I haven't heard a response from the team, I'm going to suggest we close this out for now.

[2018-06-20 18:13] MicahMcKittrick-MSFT commented on #10376
Thanks for that. I deployed using the template here: https://github.com/Azure/azure-quickstart-templates/tree/master/201-oms-extension-ubuntu-vm

and did not see any issues deploying:

![image](https://user-images.githubusercontent.com/32313503/41676554-c2eb088e-747a-11e8-8b68-9cf735b55c16.png)

You mentioned it happens for some templates but not all. Have you compared the templates to see what mi

[2018-06-20 18:15] YutongTie-MSFT commented on #10438
@jaredbaszler Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@v-jerkin Hi, this is a doc-bug, can you please check the latest version and update the document as necessary? Thanks a lot!

[2018-06-20 18:15] ajlam commented on #8764
Closing this issue. @saurabhjain39, if you are still running into this issue, please re-open.

#please-close

[2018-06-20 18:16] OrangeInnovations commented on #10474
it looks like this nodetype1 is global within one subscription.  Previously it worked. Then not work.

[2018-06-20 18:16] MicrosoftGuyJFlo commented on #10406
Yes thank you @ThierryBT I have confirmed with the product group that you are correct the minimum length is 4 characters and the maximum is 16 characters. I will get this updated shortly.

[2018-06-20 18:18] MicahMcKittrick-MSFT commented on #10487
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-06-20 18:19] rbrundritt commented on #9105
Note that Azure Maps currently does not support India as documented here: https://docs.microsoft.com/en-us/azure/azure-maps/about-azure-maps#unsupported-regions The team is working to add support for geopolitically sensitive items first, such as disputed borders, before enabling support.

[2018-06-20 18:21] MicahMcKittrick-MSFT commented on #10488
@SidShetye this specific doc is explaining how to create an empty cloud service. So I dont think adding files would make sense. We do have examples of creating apps in cloud services under the "Get Started" section of the cloud services docs:

https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-dotnet-get-started

[2018-06-20 18:22] sergaz-msft commented on #10364
Thank you for testing it @ajaybha , I was also able to reproduce the issue you describe and will file a bug with Product Group. @guybartal if you are still blocked let us know.

As for now I will go ahead and close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-20 18:22] #10364 closed

[2018-06-20 18:28] CeciAc opened #10491 "DEAD LINK"
@KeiroKamioka0000 commented on [Wed Jun 13 2018](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/543)

リンク切れしているリンクが複数あるので修正をお願いいたします。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 33d54e4a-f724-1888-96ba-daf51a4e958e
* Version Independent ID: 21e0cb01-8397-a4cc-cc38-2054cb7d0421
* Content: [Azure の監視データの使用](https://docs.microsoft.com/ja-jp

[2018-06-20 18:30] thangduong commented on #8723
I am having the same issue.

$ az ml env show -g MLModelHosting-rd-rg -n deploy1
{
  "Cluster Name": "deploy1",
  "Cluster Size": 2,
  "Created On": "2018-06-20T18:20:04.680Z",
  "Location": "westcentralus",
  "Provisioning State": "Failed",
  "Resource Group": "MLModelHosting-rd-rg",
  "Subscription": "8fecc6b6-2e9d-418d-bc68-a8ce27ee6107"
}

No error message.  Just "Failed".  Not very useful.

E

[2018-06-20 18:32] Anmolgan81 commented on #8390
@BryanTrach-MSFT If you can provide an answer to my post above it will be really helpful, I don't want to get hit by any roadblocks when performing migration, and that will increase the downtime in figuring out the issue to the problem, I request you to provide me with a valid confirm procedure so that I can execute and get it over with as well.

[2018-06-20 18:33] SaurabhSharma-MSFT commented on #10455
@peterzdovc I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-20 18:35] CeciAc commented on #10491
Hi team,
I moving this here since the contributor reported several broken links and they replicate in the en-US page.
Links can be found in this segments (ja-JP)
ストレージ テーブルまたは Storage BLOB: Windows または Linux の Azure 診断

REST API: Azure Monitor イベント API

ストレージ テーブルまたは Storage BLOB: Windows または Linux の Azure 診断

And in the en-US:
Storage table or blob: Windows or Linux Azure diagnostics
REST API: Az

[2018-06-20 18:38] #9108 closed

[2018-06-20 18:40] TravisCragg-MSFT commented on #10418
@joymon According to the [Storage Service Encryption FAQ](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption) document, SSE is supported for Blob storage, Table storage, Queue storage, and Azure Files in All Regions.

According to the [Storage Service Encryption using Customer Managed Keys FAQ](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encr

[2018-06-20 18:40] #10418 closed

[2018-06-20 18:41] MicahMcKittrick-MSFT commented on #10474
I still can't repro the issue. I kept my original cluster and deployed a new cluster into a different resource group and it succeeded without issue.

I do get the error however if I deploy a second cluster to the same resource group. Which would make sense as it is deploying a scale set to the same Vnet and then comes in conflict with the same name.

[2018-06-20 18:44] TravisCragg-MSFT commented on #9772
@bingosummer you are correct. I have assigned this issue to the doc owner to evaluate and make any changes that are necessary.

[2018-06-20 18:44] Mike-Ubezzi-MSFT commented on #10489
@nagireddygatla Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate. In looking through documentation pertaining to Request Units and the SQL API Samples, there is no example for using RequestCharge.

[Azure Cosmos DB: .NET examples for the SQL API
](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-samples)

[Request units i

[2018-06-20 18:45] Anmolgan81 opened #10494 "Moving App Service Certificate and Private Certificates with webapps Supported"
As far as I know moving the App service certificate with the webapps is supported, however all the 3rd party certificates need to be deleted in order to achieve this, I wanted to know will the binding or private certificate that is related to App service certificate also needs to be deleted when moving the web apps with the App service certificate? Or we can move the webapps with the binding of ap

[2018-06-20 18:45] SidShetye commented on #10488
@MicahMcKittrick-MSFT I think you misunderstand me.

The getting started link has absolutely nothing on deployment through powershell. The only powershell deployment "documentation" is the one I've raised an issue on (this) and in its present form it's useless.

[2018-06-20 18:47] Anmolgan81 commented on #8684
Its been a month ago and this issue has been opend and no response here. Will microsoft is ever going to respond on this or this will remain opend until the end of time?
@femsulu

[2018-06-20 18:49] MicahMcKittrick-MSFT commented on #10488
Ah okay makes sense. I will assign to author to see if we can add some additional links.

@CawaMS can you take a look?

[2018-06-20 19:03] jeffgilb commented on #10449
The fixes for this issue has been merged for publishing @omnimose

[2018-06-20 19:03] jeffgilb commented on #10449
#please-close

[2018-06-20 19:04] bramvdklinkenberg commented on #10326
Instead of binding a role to a user or group, can I also bind it to a service principal?
If we want to do deployment from vsts and you need to log in first manually that won't work. The only way to be able to directly login with the az cli is with a service principal. And I want to bind a role that only gives access to a specific namespace.

[2018-06-20 19:07] bramvdklinkenberg opened #10495 "rolebinding to a service principal instead of user or group"
Instead of binding a role to a user or group, can I also bind it to a service principal?
If we want to do deployment from vsts and you need to log in first manually that won't work. The only way to be able to directly login with the az cli is with a service principal. And I want to bind a role that only gives access to a specific namespace.

---
#### Document Details

⚠ *Do not edit this section.

[2018-06-20 19:16] BakerLabs opened #10498 "Errors in sample Code on this page"
There are errors in the sample code on this page.  Here are the corrections in order.

1. $subnet = Get-AzureRmVirtualNetwork…
ISSUE - The $subnet variable is never used in the rest of the code.

2. $cosmosDBConfiguration = Get-AzureRmResource -ResourceType "Microsoft.DocumentDb/databaseAccounts" `...Name `
Issue1- The command as listed fails with ApiVersion errors. My ApiVersion is “2015-04-08” b

[2018-06-20 19:21] akramwaseem commented on #10376
@MicahMcKittrick-MSFT  --  I will try my template again and will get back you.

[2018-06-20 19:32] femsulu commented on #10485
@cloudmelon Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-20 19:37] ThierryBT commented on #10406
Hi,
Thank's for your job !
Regards
Thierry

[2018-06-20 19:37] SnehaGunda commented on #9807
#please-close

[2018-06-20 19:38] femsulu commented on #10491
@CeciAc Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-06-20 19:39] SnehaGunda commented on #9188
@rpus we are investigating for the source files for the graph example. Will update the docs once we have the files.

[2018-06-20 19:49] akramwaseem commented on #9947
@dkamstra -- so, just adding the action groups to the log analytics template should be good enough right ?
or do I need to mention the action group in every alert I create ?
In the above documentation it shows how to create or add action groups.

Lets say I already have a action group how does the above scenario work.

[2018-06-20 19:51] femsulu commented on #8684
@tfitzmac, any update on this please?

[2018-06-20 19:53] TravisCragg-MSFT commented on #10449
@omnimose We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-20 19:53] #10449 closed

[2018-06-20 19:58] SaurabhSharma-MSFT commented on #10435
@swettstein   I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-06-20 19:58] Anmolgan81 commented on #10494
Please @PRMerger18  provide an update on this.

[2018-06-20 20:01] femsulu commented on #10494
@Anmolgan81 thanks for your update. Your comment has been shared with the content owner for further review.
Also @PRmerger18 is an automated account. :)

[2018-06-20 20:02] Anmolgan81 commented on #10494
Sure.

I am waiting for a quick response on this.

[2018-06-20 20:03] SaurabhSharma-MSFT commented on #10455
@peterzdovc We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 20:03] #10455 closed

[2018-06-20 20:12] TravisCragg-MSFT commented on #10481
@tomkodet Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-20 20:15] thangduong commented on #8723
And when I create in eastus2, it sits in "Creating" state for half an hour, and is still in that state.

$ az ml env show -g MLModelHosting-rd-rg -n deploy1
{
  "Cluster Name": "deploy1",
  "Cluster Size": 2,
  "Created On": "2018-06-20T20:01:43.321Z",
  "Location": "eastus2",
  "Provisioning State": "Creating",
  "Resource Group": "MLModelHosting-rd-rg",
  "Subscription": "8fecc6b6-2e9d-418d-bc68

[2018-06-20 20:21] jeevansd commented on #10435
@swettstein Can you please elaborate more on this?  AWS only finds one thumbprint yet Microsoft seems to offer four certificates when issuing a token.  I wanted to know how you can say that Microsoft is offering four certificates?

[2018-06-20 20:26] spradhani opened #10501 "mstsc command is not recognised"
I am unable to take RDP using mstsc. Can anyone please guide me how to take RDP to a VM from azure powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e23176-40c4-39bd-4f6f-cc48e518cf96
* Version Independent ID: 370fcf36-dce0-6718-4566-34a71cd0314e
* Content: [Tutorial - Create and manage Windows VMs with Azur

[2018-06-20 20:32] YutongTie-MSFT commented on #10441
@whataride Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@noellelacharite Hi, this is a doc-related issue/ product-question issue, can you please check it to see if there something wrong with our document? Thanks a lot!

[2018-06-20 20:38] BryanTrach-MSFT commented on #8390
@Anmolgan81 We shared with you the step by step process including screenshots on how to perform the process. It's not clear what your question specifically is about. We've updated our process to use verbage that better aligns with the portal so hopefully it's a little more clear. If you still have questions about the below process, please quote the specific step that you have questions on.

You wi

[2018-06-20 20:41] ggailey777 commented on #9108
Note that this PR fixes the URL issue in the deployment command. I have another internal work item tracking the other cleanup needed to align better the two language versions.

[2018-06-20 20:41] #9807 closed

[2018-06-20 20:48] Mike-Ubezzi-MSFT commented on #10498
@BakerLabs Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-20 20:59] MohitGargMSFT commented on #10463
@CryptoMeerkat Adjusting session token lifetime allows you to control when and how often the user is required to re-enter credentials instead of being silently authenticated when using a web application. Every time a new access request is made, browser redirects to Azure AD B2C which detects the session cookie. Based on the value configured in session token lifetime, the session token is validated

[2018-06-20 21:08] mganeshphani opened #10502 "Editing the manifest lands in following error"
CannotDeleteEnabledEntitlement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b43c1f83-067b-e79d-fe7b-572beb92f135
* Version Independent ID: 07a83ff0-b3e2-402a-1184-755cfe34e27e
* Content: [Deploy Azure Blockchain Workbench](https://docs.microsoft.com/en-us/azure/blockchain-workbench/blockchain-workbench-deploy#prepare

[2018-06-20 21:13] mganeshphani commented on #10502
#2 in following is confusing.. Existing applications doesn't allow editing the id, when I didn't change the existing id - then the save happened successfully

Modify application manifest
Next, you need to modify the application manifest to use application roles within Azure AD to specify Blockchain Workbench administrators. For more information about application manifests, see Azure Active Directo

[2018-06-20 21:15] MicahMcKittrick-MSFT commented on #10495
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 21:19] MicahMcKittrick-MSFT commented on #10501
@spradhani are you looking to RDP to the VM or use remote powershell to manage the VM? You can connect to the VM from PowerShell but it will only be a command line interface interaction and not a full RDP experience. Is that what you are looking to do?

[2018-06-20 21:19] narsaskak opened #10503 "#linktosearchresults has sometimes add SearchResult and sometimes SearchResults"
#linktosearchresults has sometimes add SearchResult and sometimes SearchResults. I have multiple alerts that I'm using custom Json in it, and sometimes I receive SearchResult and other times I get SearchResults. Why and how I can fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1390bec-bae0-2fe7-a29c-a242584fd

[2018-06-20 21:19] MohitGargMSFT commented on #10479
@po3yejlb I have assigned the issue to the content author to provide details around your ask and probably include the same in the relevant document. Thanks.

[2018-06-20 21:27] bearrito opened #10504 "Declare Plugin"
What Jenkins plugin enables the functionality in the Manage System&gt; Cloud setting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da0d4345-e27a-8fa8-7d26-9c0c8920a4e8
* Version Independent ID: 1287b94b-5240-5d8e-cde8-741e6a6ea561
* Content: [Use Azure Container Instances as a Jenkins build agent](https://docs.micros

[2018-06-20 21:27] olaadapo opened #10505 "upload file to language model video-indexer"
how can I upload a text file to a language model in Video Indexer, using the Pythin API??

I have the following code:

files = {'this_file': open('thisfile.txt', 'rb')
accessString = '/trial/Accounts/'+accountId+'/Customization/Language?accessToken='+accessToken+'&modelName='+modelName+'&language='+language+'&%s'

headers = {
    'Content-Type': 'multipart/form-data',
}

params = urllib.parse.urle

[2018-06-20 21:29] mganeshphani commented on #10502
Looks like a known issue from Portal side
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/19002091-bug-unable-to-delete-an-application-s-approle

Alternative solution
https://stackoverflow.com/questions/43517110/deleting-an-applications-approle-in-azure-active-directory

[2018-06-20 21:37] rboucher commented on #9448
Updating docs in intenal PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/44526 to add sinks attribute to the DiagnosticMonitorConfiguration element.

[2018-06-20 21:41] sergaz-msft commented on #9959
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-06-20 21:41] #9959 closed

[2018-06-20 21:42] rachel-msft commented on #10271
@nvick Thank you for the feedback. The docs will be updated shortly.

[2018-06-20 21:54] YongliangLi opened #10508 "Got exception when running this sample code"
System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExceptions)
   at System.Threading.Tasks.Task.Wait(Int32 millisecondsTimeout, CancellationToken cancellationToken)
   at System.Threading.Tasks.Task.Wait()
   at GremlinNetSample.Program.Main(String[] a

[2018-06-20 21:54] jason-j-MSFT commented on #10469
@tudorsibiu90 thank you for reporting this issue, we are looking into and will update you.

[2018-06-20 21:56] pagariyaalok commented on #9682
It is confusing. What can't we add below lines to the scrip ?

# Get the Active Directory tenantId that is used to deploy Azure Stack e.g. contoso.onmicrosoft.com
$TenantID = Get-AzsDirectoryTenantId `
  -AADTenantName "contoso.onmicrosoft.com" `
  -EnvironmentName "AzureStackAdmin"

[2018-06-20 21:59] jason-j-MSFT commented on #10471
@boqsernmcpopsern
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 21:59] Mike-Ubezzi-MSFT commented on #10215
@sergaz-msft Do you have any insight to this?

[2018-06-20 22:05] jason-j-MSFT commented on #10483
@jstawski
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 22:05] Mike-Ubezzi-MSFT commented on #10282
@patrick-steele We will proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 22:05] #10282 closed

[2018-06-20 22:07] jason-j-MSFT commented on #10482
@TomShinder
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-06-20 22:20] eflamm opened #10512 "sku-name parameter for az postgres create server should be documented"
The Azure CLI quickstart for Azure Database for PostgreSQL uses the command:
`az postgres server create` with several parameters, one of which is --sku-name GP_Gen4_2. There is no documentation of the valid values for sku-name, or even how the parameter is constructed. At the very least, there should be a collection of examples, including use cases (e.g., B_Gen4_1 - for light dev or testing loads)

[2018-06-20 22:29] SnehaGunda commented on #9050
@dalmat36 hopefully Mike's response answered your question, we will now proceed with closing this issue. In case you have any further questions, feel free to reopen or create a new one.

[2018-06-20 22:29] SnehaGunda commented on #9050
#please-close

[2018-06-20 22:34] neilpeterson commented on #10504
@bearrito - I believe the plugin is named `Azure Container Agents`. Can you try that out and let me know.

Thanks

[2018-06-20 22:35] SnehaGunda commented on #9188
#please-close

[2018-06-20 22:39] SaurabhSharma-MSFT commented on #10475
@zimmie67 I am able to run the import module after msi installation.  did you try running on a new Powershell window ?

[2018-06-20 22:40] neilpeterson commented on #9939
I have created a work item for this and will get the docs updated shortly.

#please-close

[2018-06-20 22:42] #9939 closed

[2018-06-20 22:44] SaurabhSharma-MSFT commented on #8764
@saurabhjain39 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 22:44] #8764 closed

[2018-06-20 22:46] SaurabhSharma-MSFT commented on #10428
@Shorinsean We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 22:46] #10428 closed

[2018-06-20 22:48] Mike-Ubezzi-MSFT commented on #10337
@c-arnab Was this error experienced after adding the second tenant in this section of the tutorial: [Provision a new tenant into the sharded database
](https://docs.microsoft.com/en-us/azure/sql-database/saas-multitenantdb-get-started-deploy#provision-a-new-tenant-into-the-sharded-database)

I am not able to reproduce this but want to follow-up with you. Please advise! Regards, Mike

[2018-06-20 22:50] Mike-Ubezzi-MSFT commented on #10363
@bastyuchenko Does this answer your question? We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

Kind regards,
Mike

[2018-06-20 22:50] #10363 closed

[2018-06-20 22:58] vasivara-MSFT commented on #9715
@StevenZhang81 I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-20 22:58] Shorinsean commented on #10428
Thanks!

Thanks,

Sean
(mobile)
________________________________
From: SaurabhSharma-MSFT <notifications@github.com>
Sent: Wednesday, June 20, 2018 3:46:08 PM
To: MicrosoftDocs/azure-docs
Cc: Sean Deuby; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Password policy replication (#10428)

@Shorinsean<https://github.com/Shorinsean> We will now proceed to close this thread. If there are further ques

[2018-06-20 23:09] Mike-Ubezzi-MSFT commented on #10386
@kriston Are you trying to create additional users or are you attempting change the role for a specific user?

I think the syntax is only username if you are connected to the PostgreSQL instance and using SQL, and the user is being added to the default database. The syntax is username@servername if you are running PowerShell commands or adding users outside the default database. I believe that is

[2018-06-20 23:11] Mike-Ubezzi-MSFT commented on #10400
@mrigank-kishore Does this answer your question? We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-20 23:11] #10400 closed

[2018-06-20 23:12] Mike-Ubezzi-MSFT commented on #10508
@YongliangLi Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-06-20 23:13] BryanTrach-MSFT commented on #10460
@dreic I apologize as I misunderstood your question. I am not aware of any supported prefixes. As a result, I have reached out to the product group to see if support is coming. I will update the thread when I hear back.

[2018-06-20 23:14] Mike-Ubezzi-MSFT commented on #10512
@eflamm Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-20 23:20] KeiroKamioka0000 opened #10514 "What are the CPU of N-Series VM"
Please specify what CPU is used for the GPU optimized virtual machine.
Not like Storage, Computer optimized VM documents, this document does not contain information regarding the CPU

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472ed16f-83af-9c24-4a47-596e72a59ca7
* Version Independent ID: dc63914d-d1ce-8161-0d6c-b0c

[2018-06-20 23:25] dcbrown16 opened #10515 "Default version check"
As of February 17, 2017, the default cluster version used by Azure HDInsight is 3.5 and is based on HDP 2.5.
Table: HDInsight 3.6 (default)

These two statements are contradictory. I assume 3.6 is the default now? (and per the table, is based on HDP 2.6)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af6ae544-80bf-209a

[2018-06-20 23:30] chr1sn3al opened #10516 "Using Powershell you could use the following command"
Get-AzureRmNetworkInterface | where-object { $_.VirtualMachine -eq $null } | Remove-AzureRmNetworkInterface

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 939e640f-6505-774f-68d9-697a596f14fb
* Version Independent ID: 887d307d-5c87-c9fa-3a95-91ccc1aa9260
* Content: [Find and delete unattached Azure NICs](https://docs.m

[2018-06-20 23:30] BryanTrach-MSFT commented on #10460
@dreic In the meantime, have you tried using the custom prefix?

`CUSTOMCONNSTR_testConn = SomeconnectionString `

[2018-06-20 23:33] chr1sn3al commented on #10516
Using Powershell you can also just make a list...
Get-AzureRmNetworkInterface | where-object { $_.VirtualMachine -eq $null } | ft name

[2018-06-20 23:44] MicahMcKittrick-MSFT commented on #10495
@neilpeterson do you know the answer to this one?

Seeing as this feature is in preview I would not be surprised if this is not possible. But in theory I could also see it working... :)

[2018-06-20 23:49] SMHolck opened #10517 "Unable to select appropriate SKU following Azure Portal instructions"
I am using Azure Portal.  I attempted to create Databricks and only selected from the dropdown.  When I launch workspace and attempt to create a cluster, it fails every time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a5d07d0-eab2-1024-aefe-4ba420855a41
* Version Independent ID: c2199197-cced-f195-0261-eca1ba65ff7

[2018-06-20 23:51] jeevansd commented on #7763
This is a known issue. Can you please try adding another instance of G Suite app and then configure provisioning for it. In short you might have to use 2 apps one for SSO and another for provisioning.

[2018-06-21 00:31] dcbrown16 opened #10518 "Formatting error"
This is split between two lines under "Password-based single sign-on".
**Administrator
manages credentials**

I'd also like to reiterate that the closed case #7269 has not been addressed, more than a month after the indicated timeline for updating the images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9edfc165-8727

[2018-06-21 00:45] barbkess commented on #10518
@dcbrown16 : I will investigate and see what the problem is.

[2018-06-21 00:58] femsulu commented on #10517
@SMHolck  Thanks for the comment. We are actively investigating and will get back to you soon.

[2018-06-21 01:00] femsulu commented on #10396
@somefella123 Hope this answers your question.
We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-06-21 01:00] #10396 closed

[2018-06-21 01:28] v-jaswel commented on #10448
Hi @robvon, thank you for pointing that out. That API link happened to be included in some sample data and I didn't pay attention to it. I agree it's misleading. I'll get it updated.

[2018-06-21 01:36] kriston commented on #10386
I am attempting to change the permissions for a specific user.
Thanks.

[2018-06-21 01:54] jibinjohnbabu commented on #8348
Hi @rashmi, It was my bad! I did't knew it was only for AKS. I was trying it on a k8s cluster on ACS

[2018-06-21 01:55] vmaruhpe commented on #9569
Agree with the above observation, running script as originally documented will fail

[2018-06-21 01:55] dapsjj commented on #9681
@pranavdheer
Can you give me a python3.X code?

[2018-06-21 01:55] neilpeterson commented on #10179
@volleynerd - thanks for pointing this out. 1.10.3 is supported, in fact all K8s version in AKS are supported with the container health solution. The doc is being updated now to reflect.

[2018-06-21 02:00] jibinjohnbabu opened #10524 "Azure Load Balancer for a private VM in k8s cluster"
Hello!

I have 2 VMs with neo4j db installed  in the same VNET as that of my k8s cluster . I need to expose both the VMs using loadbalancers. Eventually I'm looking to open 7474 port of the neo4j VM to access  it's console on browser!  (something like neo4jconsole.xyz.com:7474)

But after creating the Loadbalancer and getting a public ip address I'm unable to hit the IP /port . The request is timi

[2018-06-21 02:12] jlee-vi opened #10525 "Perspective of inbound/outbound"
Hi team,

Could you please confirm for me, so I have it from authority, which perspective inbound/outbound refers to?

I.e. is data from on-premises to Azure considered inbound or outbound? Specifically in terms of which is charged and which is not charged per GB transfer on the metered plan.

Many thanks,
James

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-06-21 02:28] v-jaswel commented on #10448
Merged fix.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/44559

[2018-06-21 03:30] limjianan opened #10526 "Missing new content"
REFER TO https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-version-history#new-features-and-improvements-7

This remove some of the results and it is good to click here and know what is the supported state and not-supported state for upgrade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2018-06-21 03:47] mganeshphani commented on #10502
Yes @Saurabh I am unblocked.. but the documentation needs to be changed to ensure the Id is not replaced with new GUID created... Agree?

[2018-06-21 04:18] mbrancato opened #10528 "Clarify node management in AKS"
The documentation implies but does not explicitly state that AKS agent nodes are managed ongoing (updates, etc). These are currently deployed using Ubuntu 16.04, does AKS manage the `unattended-upgrades` package? What about upgrades?

Additionally, the AKS resource appears to support the node "Linux profile" (https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#containerser

[2018-06-21 04:44] ramandeep-singh-1983 commented on #10128
sounds good, thanks! I was able to integrate the KeyVault using the new managed identity stuff but i will check out the link you have shared.

[2018-06-21 04:50] Anmolgan81 commented on #8390
Can you tell me what do you mean by step 3 Select Microsoft.web/certificates

What certificates needed to be selected in this case??

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Trach <notifications@github.com>
Sent: Thursday, June 21, 2018 2:08:38 AM
To: MicrosoftDocs/azure-docs
Cc: Anmol Ganju; Mention
Subject: Re: [MicrosoftDocs/azure-docs] How to mov

[2018-06-21 05:53] ajaybha opened #10530 "Documentation need more clarity"
The documentation can be made bit more clear, especially if we can separate the prerequisites and steps required for building and deploying a module from a dev machine, and the prerequisites and steps required on the device to get the iotedge runtime configured and running. Currently, the way document is written, it's hard to separate out the two parts which sometimes leads to confusion.

---
####

[2018-06-21 05:57] msvijayn commented on #10503
@narsaskak - #linktosearchresults only adds a string with URI for results. You need to "IncludeSearchResults": true to get SearchResult JSON table. As stated in the doc.

If you are getting inconsistent parameters in your webhook, suggest raising an product issue via [Azure Support](https://azure.microsoft.com/en-us/support/options/)

[2018-06-21 07:10] SnehaGunda commented on #10498
@BakerLabs Thank you for pointing the issues, I fixed the doc, the changes should be live tomorrow. Yes the API version for Cosmos DB is 2015-04-08 and the script works fine with this version. I used the following script and it works fine, can you please try again and let us know if you repro the API version issue?

$rgname= "CosmosVNetRG1"
$vnName = "sngunVnet"
$sname = "sngunsubnet"
$subnetPrefi

[2018-06-21 08:27] ToMakeSense commented on #9912
@tfitzmac any updates on this?

[2018-06-21 08:37] aliuy commented on #9936
Performing transactions across multiple machines incurs steep penalties with respect to coordination, and managing concurrency + conflicts.

My blink reaction here is you may want to revisit the choice of partition key. Your choice of partition key should reflect characteristics of the workload including latency requirements, throughput requirements, pivoted by reads (top queries) and writes (inse

[2018-06-21 08:41] aliuy commented on #9215
Generally speaking - having higher cardinality partition keys and finer granularity is always preferred.

The extreme case would be to partition by id - which will yield great storage and throughput distribution. This comes at a trade off on how easy to represent frequently run queries without having to fan-out.

From an upper bound perspective... while a collection can scale to fit unlimited stor

[2018-06-21 08:48] somefella123 commented on #10396
Thanks - any chance of a documentation update to reflect this information?

[2018-06-21 08:52] davidyan0429 opened #10535 "What's next"
After I found the location of the container image, what should I do to deploy it to iot edge and keep it run?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76478d8c-f709-0773-14f5-4281789c9948
* Version Independent ID: 589a3ef4-2057-612a-d1d9-f724635433ed
* Content: [Deploy an Azure Machine Learning model to an Azure

[2018-06-21 09:32] bingosummer opened #10536 "ExistingAvailabilitySetWasNotDeployedOnAcceleratedNetworkingEnabledCluster"
Are there any suggested steps to deal with `ExistingAvailabilitySetWasNotDeployedOnAcceleratedNetworkingEnabledCluster`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89338c0-968d-c22f-5b0d-ed3870ebc2fa
* Version Independent ID: 6daae1cc-f758-1d37-9de3-80a2832c08ef
* Content: [Create an Azure virtual machine with Acc

[2018-06-21 09:54] sergaz-msft commented on #10530
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-06-21 09:56] panoschatz opened #10537 "Remove -EnableEncryptionService "Blob" from example"
This is now deprecated and results in an error when running the above commands in PS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dc2f1a2-3f5a-baf3-94e7-37bf4539530b
* Version Independent ID: 13dd580d-f249-62eb-13e2-da76f2f7f7dc
* Content: [Azure Storage Service Encryption using customer-managed keys in Azure Key Va

[2018-06-21 10:36] miikaeru opened #10538 "Question mark in utterances"
We saw that a question mark in an utterance can influence the iterpreting of LUIS. As some people add a question mark to a question and some not, we are not sure if we should add multiple utterenances with and without questions marks. As having multiple similar utterances is not recomended, we don't know how we should go on. What is your recommendation?

---
#### Document Details

⚠ *Do not edit t

[2018-06-21 10:48] pheemery2 commented on #6881
iteration.Status == "Completed" should be "Training", no ?

[2018-06-21 10:55] bdzeeuw opened #10540 "Parameter name 'Locations' is invalid in example, should be 'Location'"
The sample configuration of 'Add a log profile' describes the property 'Locations' and 'Categories', however this should be Location & Category, as Locations / Categories does not exist.

Current:
Add-AzureRmLogProfile -Name my_log_profile -StorageAccountId /subscriptions/s1/resourceGroups/myrg1/providers/Microsoft.Storage/storageAccounts/my_storage -serviceBusRuleId /subscriptions/s1/resourceGrou

[2018-06-21 11:07] madhavsharmaagra opened #10541 "Document update needed for jade library"
Please update the documentation to remove the jade library dependency as this is deprecated and instead pug is an updated version. Also, the code needs to be updated accordingly to make it work, like, in Step 4. modify app.js :
app.set('view engine', 'jade') need to be replace with app.set('view engine', 'pug')

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-06-21 11:11] HemantChandurkar commented on #8346
Hi Travis, Douglas

I see there is some confusion. May be I could not ask question properly.
I want to pass Pipeline parameters to spark activity (those will be accessed by pyspark with syntax
[code]
When I pass below values _as expression_ to spark activity, there is error I see.

@{pipeline().parameters.TriggeredBy}
@{pipeline().parameters.TriggerredTime}

Error:
`The value type 'System.String',

[2018-06-21 11:21] cephalin commented on #10460
@dreic If you just want to get PGSQL working then all you need is to set an app setting and access it in your app like any environment variable. See an example with Python here: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-python-postgresql

[2018-06-21 11:28] cephalin commented on #9487
@porky9 When we updated [this article](https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits#app-service-limits) it went through extensive review for App Service, and the product team approved the message there for no SNI limits.

[2018-06-21 11:41] barclayn commented on #10128
#please-close

[2018-06-21 11:47] ddobric opened #10543 "Cannot connect to graph"
Have created graph and downloaded console app.
Getting following error:

gremlin&gt; :remote connect tinkerpop.server conf/remote-secure.yaml
==&gt;Error during 'connect' - ****.graphs.azure.com

To workaround this issue open remote-secure.yaml and change
hosts: [YOURDBNAME.cosmosdb.azure.com]

to

hosts: [YOURDBNAME.gremlin.cosmosdb.azure.com]

Code generator creates invalid endpoint.

---
#### D

[2018-06-21 12:07] jonaspetersorensen opened #10544 "Terraform resource "azurerm_kubernetes_cluster" does not support aks rbac option"
AKS rbac is great and I can get it up and running with azure-cli, but I would really like to continue with terraform. When will the rbac option be available in the terraform "azurerm_kubernetes_cluster" resource definition?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version In

[2018-06-21 12:16] matakeda1 opened #10545 "Enforced unique constraints are not supported in Azure SQL Data Warehouse. To create an unenforced unique constraint you must include the NOT ENFORCED syntax as part of your statement."
CREATE TABLE Membership
  (MemberID int IDENTITY PRIMARY KEY,　&lt;=*
   FirstName varchar(100) NULL,
   SSN char(9) NOT NULL,
   LastName varchar(100) NOT NULL,
   Phone varchar(12) NULL,
   Email varchar(100) NULL);

Error:
Enforced unique constraints are not supported in Azure SQL Data Warehouse. To create an unenforced unique constraint you must include the NOT ENFORCED syntax as part of your s

[2018-06-21 12:50] andrejbratukhin opened #10546 "Interface description"
There is no interface description. I need the best query compilation for request and format and description of response.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2578f489-79b3-4bb0-c620-609ca7b78e47
* Version Independent ID: f088832f-3327-02df-ec5f-c6e08e809115
* Content: [How to search for an address using the A

[2018-06-21 12:53] v-geberr commented on #10538
@miikaeru Thank you for submitting this question. You have several choices, which I will add to the docs. First choice is example utterances, with and without question marks (or any kind of punctuation). Second, and quicker choice, is to [add a pattern](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/luis-concept-patterns#pattern-syntax) that contains the syntax to ignore the end pu

[2018-06-21 12:56] kapopken commented on #10326
@neilpeterson @amanohar Any guidance on this? I have confirmed I'm using a microsoft account and that the token generated is correct this is my yaml file
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: contoso-cluster-admins
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- apiGroup: rbac.authorization.k8s.io

[2018-06-21 13:02] ajaybha opened #10547 "The set_message_callback in main.py results in method mismatch error"
Following the sample above till "Creating the IoT Edge Module" with python and trying to run the main.py from python prompt, results in following error...

  File "main.py", line 98, in __init__
    self.client.set_message_callback("input1", receive_message_callback, self)
Boost.Python.ArgumentError: Python argument types in
    IoTHubClient.set_message_callback(IoTHubClient, str, function, HubMan

[2018-06-21 13:02] superminiek commented on #10254
Thank you!

[2018-06-21 13:11] superminiek commented on #10198
Thank you!

[2018-06-21 13:16] jimdial commented on #10262
@TomShinder If you're asking whether gateway transit can be used with an ExpressRoute gateway, the answer is yes. You can use gateway transit with either an [ExpressRoute](https://docs.microsoft.com/azure/expressroute/expressroute-about-virtual-network-gateways) or [VPN gateway](https://docs.microsoft.com/azure/vpn-gateway/vpn-gateway-about-vpngateways), provided the peered networks are in the sam

[2018-06-21 13:20] olaadapo commented on #10505
Thanks for reaching out. The file is stored on my local computer, but since I am trying to construct an ETL pipeline, the following document can be used as an example case:
https://www.w3.org/TR/PNG/iso_8859-1.txt

[2018-06-21 13:27] jonfinerty commented on #9057
Hi, @BryanTrach-MSFT is there any update on this? would you accept a PR? (if that would be quicker)

[2018-06-21 13:40] kunalaphadnis99 commented on #10252
Update: I tried with the default ML module and it got pushed successfully on Linux. However, when I start monitoring device to cloud messages it gives me an error:
![image](https://user-images.githubusercontent.com/3131438/41722614-af4c79e0-7586-11e8-906b-c4edcd0f233e.png)