[2019-09-27 00:28] mike-urnun-msft commented on #39626
Thank you for your feedback! We will review and update as appropriate.

[2019-09-27 00:40] tonyt73 commented on #39634
Temporary solution:

- Create a ```temp``` subnet
- Move all the nic's (ipconfigurations) from the affected subnet to the ```temp``` subnet
- Delete the affected subnet
- Recreate the affect subnet with the service endpoints and nsg
- Move all the nic's (ipconfigurations) back to the recreated subnet

[2019-09-27 00:58] allenwux opened #39635 "wrong info about offer name"
This must not contain whitespace, emojis (unless they are the trademark and copyright symbols)

this is not true. it will take whitespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c0ce426-a720-24d2-35e6-6c63f68e47a8
* Version Independent ID: e993bc40-5837-3b76-ea5a-fe07002d3c2c
* Content: [Create a new SaaS offe

[2019-09-27 01:03] femsulu commented on #39617
@luiscantero Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-27 01:09] femsulu commented on #39632
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-27 01:10] YutongTie-MSFT commented on #39375
@MayMSFT Hi May, do you have any idea about large model deploy? I can not find any document for that. Thanks.

[2019-09-27 01:11] YutongTie-MSFT commented on #39397
@xtianus79 Hi, we have not received your email. Please send us an email if you still face this issue. I am going to close this since it's not a document issue. Thank you.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-27 01:37] harishkrishnav commented on #7192
This is a bit tricky as is and we might soon release a sample for how to load Custom Vision models on the browser using TensorFlow.js. These are the steps I did to get an exported TensorFlow model working for me:

1. Replace PadV2 operations with Pad. This python function should do it. `input_filepath` is the path to the .pb model file and `output_filepath` is the full path of the updated .pb file

[2019-09-27 01:39] forester123 commented on #39567
@SubhashVasarapu-MSFT thank you for the confirmation!

[2019-09-27 01:40] festivus opened #39638 "Disconnect Sentinel from a workspace"
I added Sentinel to an existing workspace during the preview. Now that we are going to start getting billed, can I detach Sentinel from the workspace? I don't want to get charged.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddafba5c-f652-3d1a-e4b4-f8eedc14e740
* Version Independent ID: ea24a163-6533-24eb-630c-559bd1

[2019-09-27 01:52] AndyWu7623 opened #39639 "Keys can only be update via the cli commands, update from portal is not working"
it seems like update the SSH key via portal and upgrade vmss is not working, while SSH into the node still getting error. We may meed to mention in the document that SSH keys can only be update via the commands that provide in here and portal is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-

[2019-09-27 01:54] cofjee commented on #39585
I cleaned up resources and try agin, and i have a question about Modify the Management API URL.  How to modify it or it just means  I need input new url in file appSettings.json

[2019-09-27 02:20] lmolkova commented on #39361
@ACsharp, could you please share how you configure ApplicationInsights in the code?

[2019-09-27 02:21] mitchellalm commented on #39330
jakaruna,
Can you confirm with private docker registry works in the plugin as well?
I point to ACR on azure and the job keep hanging for spin-up the container on ACI...

[2019-09-27 03:17] nicklooo commented on #39025
I haven't added the front-end API URI in the back-end API, but still the font-end one can consume it without login twice.
Refering this document: https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad#configure-auth

[2019-09-27 03:24] ecfan commented on #39165
Now resolved: https://docs.microsoft.com/azure/logic-apps/logic-apps-perform-data-operations#create-csv-table-action

@DixitArora-MSFT: #please-close

[2019-09-27 03:24] #39165 closed

[2019-09-27 03:55] Mike-Crowley commented on #38335
at this point 1.4.18.0 is available for direct download anyway https://www.microsoft.com/en-us/download/details.aspx?id=47594

[2019-09-27 03:55] racchen opened #39640 "Feature Request: Add 'Flapping' warning in the Autoscale page"
If the autoscale does not follow the rule and will cause 'flapping' issue, user should recieve a warning message when setting up.  Or users wont know why trigger is not working as expected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88ba1a56-69ec-94c0-8874-78a178a7440e
* Version Independent ID: 23ba7799-c21c-be1a-f

[2019-09-27 04:51] msrini-MSFT commented on #39634
@tonyt73 , Can you post the output of the below PS command?

$VNET= Get-AzVirtualNetwork -Name "Name of your Vnet" -ResourceGroupName "RG Name"

Get-AzVirtualNetworkSubnetConfig -Name "Name of your Subnet" -VirtualNetwork $VNET

[2019-09-27 05:01] SubhashVasarapu-MSFT commented on #39567
@forester123, We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-27 05:01] #39567 closed

[2019-09-27 05:02] Tarvinder91 commented on #39584
There is no field/dropdown as "UseExistingKek drop-down list" in the template provided. I have even tried to deploy it and it only asks for URL. Also I expected the README file of the repo to be updated for parameters details if they are optional which is not there. Could you check this from your end.

[2019-09-27 05:04] SnehaAgrawal-MSFT commented on #39546
@pkothree Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-09-27 05:05] SumanthMarigowda-MSFT commented on #39625
@srinadhayarram Thanks for your question. We are checking on this and will respond to you soon.

[2019-09-27 05:08] Tarvinder91 commented on #39582
Idea posted. Thanks.

[2019-09-27 05:16] DixitArora-MSFT commented on #39557
@amartin1911 Settings in the **local.settings.json** file are **only used by Functions tools when running locally**. By default, these settings are **not migrated** automatically when the project is published to Azure. We could use the [Azure Functions Core Tools](https://www.npmjs.com/package/azure-functions-core-tools) to publish the local.setting.json to Azure easily.

func azure functionapp pu

[2019-09-27 05:42] dcbrown16 commented on #35889
@laurenhughes our customer reports that they were able to enable vTPM through a nested Gen2 VM running in Hyper-V on an Azure Windows Server 2016 machine.
Does "not supported" in this case mean it **might** work but we are not going to support it if there are any failures? Or possibly that it looks enabled, but some technical aspect of Azure prevents it from functioning as expected?
I'm in Azure s

[2019-09-27 05:43] souravmishra-msft commented on #39187
@crixo, Hope the above response helped you. We are closing this thread for now. Feel free to re-open this thread if there are any further queries around this.

[2019-09-27 05:43] #39187 closed

[2019-09-27 05:47] souravmishra-msft commented on #39487
@jusbeyer, There are instances where a single error code has multiple error messages. You can look into the Risky sign-ins section in AAD, where you would find more details around this error. It would also list the user, who was trying to login to AAD from those unknown IPs

[2019-09-27 05:50] jakaruna-MSFT commented on #39359
@thiagofborn is there any update

[2019-09-27 05:50] arnabhetc commented on #39592
ok sure ! will do that

[2019-09-27 05:56] shashishailaj commented on #39619
@jonwbstr Thank you for your query. We will have this investigated and update the thread further.

[2019-09-27 05:56] frsh-augustin commented on #35060
Any update on this ticket, I run into the same issue.

My goal is to filter the VM by tags, I'd like to get an example how to define "keyed_groups" in the plugin configuration file.

[2019-09-27 05:57] shashishailaj commented on #39613
@crixo Thank you for your feedback . We will investigate and update the thread on this.

[2019-09-27 05:58] souravmishra-msft commented on #38914
@aspnet4you, Hope this helps. Please feel free to reach out to us in case there are any more queries around this. We are closing this thread for now.

[2019-09-27 06:02] thiagofborn commented on #39359
Hi Jakaruna

I think I will go with VMSS but setting the scaling to an initial fixed
number and letting it as is.

Then, I will tweak the terraforn to distribute the deploy scripts based on
the characteristic of each entity of the cluster.

Thank you very much. We can close this thread.

Yours sincerely

Thiago

On Wed, Sep 25, 2019, 13:23 jakaruna-MSFT <notifications@github.com> wrote:

[2019-09-27 06:05] prajyot2909 commented on #27955
@Phydeauxman yes I am trying to access the Function App from  a VM inside of the same Vnet where my ASE resides.

[2019-09-27 06:05] jakaruna-MSFT commented on #39359
ok.   You can use the custom script extension to deploy the required softwares.
So that when the image is updated with the new one, you dont need to deploy the software again.

[2019-09-27 06:06] jakaruna-MSFT commented on #39359
I will close this issue for not.   If you need additional guidance feel free to open a new issue if its related to doc.
You can also post the question [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WAVirtualMachinesforWindows)if its not related to doc.

[2019-09-27 06:11] vrishni commented on #39342
@HannahHsiao Could you please share the error that you are getting without the region.

from azureml.core.compute import AksCompute, ComputeTarget

# Specify the Standard_PB6s Azure VM
prov_config = AksCompute.provisioning_configuration(vm_size="Standard_PB6s",
                                                    agent_count=1)

aks_name = 'my-aks-cluster'
# Create the cluster
aks_target = ComputeT

[2019-09-27 06:15] shashishailaj commented on #34906
@rwike77 Could you please take a look into this for modification of the document as needed ?

[2019-09-27 06:16] Miles-chang commented on #39640
Hi!
I believe that many people have encountered this problem, and I have encountered it. I don’t know what happened when it happened! (Because it didn’t happen during the test. ps. may not trigger the flappy behavior)

Immediately ask for Azure support (after all, in a formal environment, it is a waste of money to zoom back....haha Sweat),

Rachel, supported by Azure Tech’s, helped to find the pro

[2019-09-27 06:17] v-alkolc commented on #39040
Hello Ajane,

A customer of mine had OE3 license and he wasn`t able to use the company branding feature, he was pointed to buy P1 or P2 license (In the portal).
However he checked the same pricing listing and insisted that they should be able to use the feature, however I opened the ticket regarding the following article:
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customi

[2019-09-27 06:18] BhupalPatil commented on #39600
@Alberto-Vega-MSFT my question is in overall process of creating web application to generate charts is the app registration under AD is mandatory? Can a web page deployed to in premise host (IIS) access the TSA data and plt charts?

[2019-09-27 06:18] v-alkolc commented on #39040
Hello Ajane,

A customer of mine had OE3 license and he wasn`t able to use the company branding feature, he was pointed to buy P1 or P2 license (In the portal).
However he checked the same pricing listing and insisted that they should be able to use the feature, however I opened the ticket regarding the following article:
https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/customi

[2019-09-27 06:20] SwathiDhanwada-MSFT commented on #39571
@DaveZimmermann  MABS has been bundled with inbuilt SQL, unless if you want to use separate SQL instead of inbuilt one. This has been documented, here is snapshot for you.
![image](https://user-images.githubusercontent.com/48976275/65746616-e80cd600-e11c-11e9-8b7b-832a50727bb7.png)

Hope this helps!

[2019-09-27 06:26] ram-msft commented on #39342
@HannahHsiao In AKS provisioning_configuration Location is to provision cluster in. If not specified, will default to workspace location.
Please follow the below document for more information on the provisioning_configuration.
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.compute.aks.akscompute?view=azure-ml-py#provisioning-configuration-agent-count-none--vm-size-none--ssl-

[2019-09-27 06:27] BhupalPatil commented on #39569
@MGoedtel Thanks for the response. I followed exactly same steps the trigger also ran without any issue but when I navigated to Log Analytics work space >> Log section (Query window) I could not locate the table with the name I mentioned in Send Data action (*Custom Log Name). so no clarity what went wrong.

[2019-09-27 06:39] thiagofborn commented on #39359
Thank you Jakaruna.

On Fri, Sep 27, 2019, 07:07 jakaruna-MSFT <notifications@github.com> wrote:

[2019-09-27 06:42] kobulloc-MSFT commented on #39624
Updated.  The changes should go live shortly.

[2019-09-27 06:45] SwathiDhanwada-MSFT commented on #39344
Assigning content owner @bwren @MGoedtel for review and for document enhancement considerations if any.

[2019-09-27 06:49] VikasPullagura-MSFT commented on #39639
@AndyWu7623 Thanks for the feedback, we are looking into this.

[2019-09-27 06:50] VikasPullagura-MSFT commented on #39639
@mlearned @zr-msft Can you please add your comments here.

[2019-09-27 06:52] Ablesius opened #39643 "What's the use of the table with "Simple Entity"?"
On the "List entity" documentation page, the last part is a table describing the Simple Entity, with "bob jones" as an example value for "Customer". There's no explanation to that table, so I think it could have landed there by accident.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3103f3e3-bbbf-9083-f948-4116512b38a

[2019-09-27 06:53] Ablesius commented on #39643
see [Line 78 of the markdown file](https://github.com/MicrosoftDocs/azure-docs/blame/master/articles/cognitive-services/LUIS/reference-entity-list.md#L78)

[2019-09-27 07:12] AshokPeddakotla-MSFT commented on #38704
@mfalkvidd As mentioned, we will update the doc.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-27 07:12] #38704 closed

[2019-09-27 07:30] BhupalPatil opened #39644 "Azure AD Access"
Hi there, it's not clear that what level of access is required on azure AD if some one whats to register new application? And how to and who can grant access to AD for new user (the user don't have access to AD but can create paas services under resource group)

Thanks,
Bhupal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2019-09-27 07:33] ahidaka opened #39645 "Setting up your Raspberry Pi page in not available."
"Setting up your Raspberry Pi" link is not available as followings.
https://projects.raspberrypi.org/en/projects/raspberry-pi-setting-up/3

From the page
https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-raspberry-pi-csharp
.

# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channe

[2019-09-27 07:33] tmweah opened #39646 "Is it possible to test this in a DEV or UAT on-premise AD before rolling this to Production AD ?"
Is it possible to test this in a DEV or UAT on-premise AD before rolling this to Production AD ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd810b22-4e2a-5a66-db90-dd39b1b5c565
* Version Independent ID: 8e36df09-f7f1-dcbd-dc3d-93cbeed1b040
* Content: [On-premises Azure AD Password Protection FAQ - Azure Active Dire

[2019-09-27 07:35] northtyphoon commented on #39250
Dockerfile
[code]
CLI
[code]

[2019-09-27 07:36] kudlatiger opened #39647 "Is this applicable only when we use backend from on premise?"
Is this applicable only when we use backend from on premise? What if I am using Web API in cloud? Is it good design to put APIM inside a VNET for security?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d854b3c-f9f9-7f6a-f889-e19acac2961c
* Version Independent ID: ed544e54-d24b-2f37-05b6-8b60eacd2026
* Content: [How t

[2019-09-27 07:39] Structed opened #39648 "Link to "Azure Disk Encryption for Windows and Linux IaaS Virtual Machines" is outdated"
When navigating the link "Azure Disk Encryption for Windows and Linux IaaS Virtual Machines", you will end up on a download page (https://gallery.technet.microsoft.com/Azure-Disk-Encryption-for-a0018eb0) which says it is outdated. It says in the text, that teh page was moved here: https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption

---
#### Document Details

⚠ *Do not e

[2019-09-27 07:42] jjindrich commented on #39250
@northtyphoon thanks, but you have to change dockerfile, correct ? I was meaning find the way to tell ACR build service use different server version where is build running. Like on Azure DevOPs task you are selecting OS.

[2019-09-27 07:49] IshanArora-hub opened #39650 "Anonymous access to blob is changing to private on it's own."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2019-09-27 07:50] IshanArora-hub opened #39651 "Anonymous read access to blob on Azure is changing to private on it's own."
When I am giving anonymous read access to my blob, it is changing to private on it's own after 2-3 days. can you please check, why is this happening?

[2019-09-27 07:51] #39650 closed

[2019-09-27 07:52] IshanArora-hub commented on #39650
I have created a correct one.

[2019-09-27 08:00] northtyphoon commented on #39250
Not sure what is your concern about "change dockerfile". What we suggest is to make Dockerfile a little flexible which allows you to override the base image when you launch the build through `--build-arg`.

[2019-09-27 08:04] romantitov commented on #16061
Any updates how to fix initial issue? Any workarounds?
Currently we have to make a custom metrics for our alerts manually before deployment. But even in this case when the custom metric didn't send to application insight for a few days next deployment will fail with the same error

`{
  "Code": "BadRequest",
  "Message": "The metric names were not found MyCustomMetric."
}`

[2019-09-27 08:12] jochenvanwylick opened #39652 "Can you elaborate on characters that can be used in pattern part ?"
The code example mentions `contoso??????` and `contoso-???-##` as possible allowed patterns. I assume the `?` is for a character and `#` is for a digit or so. But that's not described anywhere. It doesn't seem to be Regex stuff - so do you have more info on this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1368fd3

[2019-09-27 08:15] AshokPeddakotla-MSFT commented on #39493
@evmoreno
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.
In case your query is not related to document content, open a new forum thread in MSDN forum or Stack Overflow as it could be better place to get help on your scenari

[2019-09-27 08:15] #39493 closed

[2019-09-27 08:21] jozsefkovacs commented on #39498
Aside what is stated here: https://github.com/Azure/azure-functions-durable-extension/issues/14 for the 7 days limit on Storage Account queue, and the performance limitations stated here: https://github.com/Azure/azure-functions-durable-extension/issues/898 I can't add too much new.

I could only just support the idea to be able to use Cosmos DB **with** Service Bus, as both are offering more than

[2019-09-27 08:27] jjindrich commented on #39250
ok, understand. So nearly we can close this ticket, only i want to ask you update ACR docs.

[2019-09-27 08:27] #39250 closed

[2019-09-27 08:31] jtuliani opened #39653 "Delete instructions broken by soft-delete feature"
The instructions to delete a vault don't take account of the new soft-delete feature. They are broken, they don't work.

Soft-delete is a huge pain point for testing / lab scenarios. We simply MUST have the ability to clean up a test/lab environment without waiting 14 days.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-09-27 08:34] SnehaAgrawal-MSFT commented on #39550
@chrisorisawayi Thanks for asking question! The detailed conversation [here](https://github.com/MicrosoftDocs/azure-docs/issues/33480) might be helpful.

[2019-09-27 08:44] ManojReddy-MSFT commented on #39644
@BhupalPatil Please check this https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-how-applications-are-added#who-has-permission-to-add-applications-to-my-azure-ad-instance

[2019-09-27 08:49] DixitArora-MSFT commented on #39558
@solankisamir  Any inputs in this ?

[2019-09-27 08:52] Sethu2488 commented on #39514
Thank you for the information.

[2019-09-27 08:53] Grace-MacJones-MSFT commented on #39265
Hi @jaiswati, do you have any updates for us on this issue?

[2019-09-27 08:54] hisasima opened #39654 "What is microsoft.dns ?"
I found the two similar limitations.

microsoft.dns
Resource type	Resource group	Subscription
dnszones	No	No

Microsoft.Network
dnszones	Yes	Yes

I found the bellow document.

https://docs.microsoft.com/en-us/azure/dns/dns-faq#can-i-move-an-azure-dns-zone-between-resource-groups-or-between-subscriptions

--
Can I move an Azure DNS zone between resource groups or between subscriptions?
Yes. DNS zon

[2019-09-27 08:57] NovoJeep opened #39655 "How to change TCP Port?"
Hello,

We have a "Device" which is only able to use standard MQTT which should use TCP Port 8883 as presented in this Page.

Our Device is to be installed in factories where usually Firewall Blocks this 8883 TCP Port but allows  TCP Ports 80 and 443.

Today we have a Virtual Machine hosting a MQTT Broker which I could set to listen on TCP 443.

Now we would switch our app to IoT Hub and benefit o

[2019-09-27 09:23] RohitMungi-MSFT commented on #39549
@toenie23 There isn't a direct way to achieve this. You can use the [script task](https://docs.microsoft.com/en-us/sql/integration-services/control-flow/script-task?view=sql-server-2017) and write custom C# script to upload files to blob container with the required folder structure.

[2019-09-27 09:25] RohitMungi-MSFT commented on #39643
@Ablesius Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-27 09:28] PramodValavala-MSFT commented on #39647
@kudlatiger Its not really limited just for on-premise scenarios. When deployed inside a VNET, it would allow you to secure your APIs and still expose them via APIM.

Also, if you want to keep APIM access within your VNET too, then you could set it up in the Internal mode.

[2019-09-27 09:32] SwathiDhanwada-MSFT commented on #39347
@girishgouda  Normally, auto sync feature works. Seems, there is an issue related to it.
@bobbytreed Can you please provide your inputs?

[2019-09-27 09:32] nidble commented on #33417
Thank you @ajayanti1, I tested with TZ => Europe/Rome and it works like a charm!

[2019-09-27 09:54] 1800Zeta commented on #39594
I have just come across this issue now.

[2019-09-27 09:58] axelgMS commented on #39439
EAS_v3 and DAS_v3 are preview - that's why they don't appear in all regions
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-memory?view=azps-1.2.0#easv3-series

[2019-09-27 10:19] ashemedai opened #39656 "Configuration for NSG flow logs slightly outdated"
In the current explanation for `Enable NSG flow log`, steps 10 and 11 seem to be outdated. The current version doesn't have any retention settings available anymore.

See current Portal screenshot:

![image](https://user-images.githubusercontent.com/610865/65762326-1096cf00-e121-11e9-92cc-1af8f106f60c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-09-27 10:28] belaie opened #39657 "Support multiple "flow/policy" <openid-config url/> in the validate-jwt"
Support multiple "flow/policy" &lt;openid-config url/&gt; in the validate-jwt

We have multiple separate custom policy for sign-in, signup, social, password reset, we need to validate jwt tokens in API management policy acquired through these policies/flow,  how to support mulitple flows/policy in  &lt;openid-config url/&gt; for  &lt;validate-jwt  policy?

---
#### Document Details

⚠ *Do not edit

[2019-09-27 10:52] DaveZimmermann commented on #39571
Yes we know that it uses an SQL Enterprise, but I've read on many other websites that this SQL-Enterprise License is free - but never found that on an official site and also not in that statement. This statement just says that SQL Enterprise is needed - but the license as well?

[2019-09-27 10:56] ashemedai opened #39658 "Current steps documented do not seem to result in working set up"
Following all the steps in the guide above yields no `insights-logs-networksecuritygroupflowevent` container in the designated storage account. Checking the storage account's metrics, I see a lot of failing transactions for the Blob namespace, which corresponds with AuthenticationError.

As you can see, NSG flow logs are enabled:

![image](https://user-images.githubusercontent.com/610865/65764635-

[2019-09-27 11:11] ranokarno commented on #39572
I have similar issue and Microsoft should allow User to 'purge' deleted backup item
- no purge feature
- no api or cli support to `undelete` deleted VM backup
- unable to re-enable VM backup, while backup item in DeferredDeleteState
 "code": "BMSUserErrorDataSourceInDeferredDeleteState",

[2019-09-27 11:13] Phydeauxman commented on #27955
@prajyot2909 few more questions:
- Are you trying to access it via the private FQDN of the FA?
- Do you have DNS resolution inside the vNet that can resolve that Private FQDN?
- Do you have a certificate on the ASE for the private domain name?

[2019-09-27 11:13] SubhashVasarapu-MSFT commented on #39658
@ashemedai, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-27 11:15] SubhashVasarapu-MSFT commented on #39656
@ashemedai, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-27 11:22] markdebruijne opened #39659 "Caching-type attribute of caching policy not effective"
I do have an APIM instance and a Redis instance. Configured the _Default_ cache store in APIM pointing to Redis.

On an API operation I've added to the policy `&lt;cache-store-value key="@((string)context.Variables["public_cached_operation_cachekey"])" value="@(context.Response)" duration="86400" caching-type="external" /&gt;`

Requesting this (slow) operation succeeds, &gt;1s.
Rerequesting this o

[2019-09-27 11:27] romantitov commented on #16061
I've found another solution by using  [Microsoft.Insights/scheduledQueryRules](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2018-04-16/scheduledqueryrules#Action) for my alerts based on custom metrics, which is nor required my custom metric to be created before deployment

Examples:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-log
https://docs.microso

[2019-09-27 11:31] AshokPeddakotla-MSFT commented on #39645
@ahidaka Thanks for the feedback. Link is working fine and redirecting here: https://projects.raspberrypi.org/en/projects/raspberry-pi-setting-up/3 please check now.
![image](https://user-images.githubusercontent.com/44426435/65766338-4e5b1e00-e148-11e9-85ef-fd4ea514883a.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your repl

[2019-09-27 11:31] #39645 closed

[2019-09-27 11:33] SubhashVasarapu-MSFT commented on #39658
@ashemedai, I have done a repro on this document and it does what is states. I can see the JSON format file generated in the container.
Try these quick Checks:
1. Check the status of your network watcher whether it is enabled for the region you are working on.
2. Did you try enabling Microsoft.Insights provider?
3. Check the firewall status on storage account and allow the legitimate traffic to ge

[2019-09-27 11:33] AshokPeddakotla-MSFT commented on #39655
@NovoJeep Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 11:41] SubhashVasarapu-MSFT commented on #39656
@ashemedai, Yes, It looks like the document has to be updated. Previously you can set log retention policy from 1 day to 2147483647 days. If a retention policy is not set, the logs are maintained forever.
Now choosing on retention policy might be eliminated and logs will be stored indefinitely. Let me check with the team once before commiting the PR. Appreciate your feedback.

[2019-09-27 11:54] ram-msft commented on #39635
@allenwux Thanks for the feedback. We will review and provide an update as appropriate.

[2019-09-27 11:57] ram-msft commented on #39638
@festivus Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-27 11:58] SychevIgor opened #39660 "Update screenshot with a preview step"
Azure IoT Edge step is no longer in a preview.
Please, update screenshot https://docs.microsoft.com/en-us/azure/iot-edge/media/how-to-devops-project/edit-build-pipeline.png to prevent confusion and highlight maturity of this build task
It's hot it look today
![image](https://user-images.githubusercontent.com/578954/65767715-4fd01a80-e137-11e9-8ef0-c81b68ac84f3.png)

---
#### Document Details

⚠ *D

[2019-09-27 11:59] ashemedai commented on #39658
Hi @SubhashVasarapu-MSFT, thanks for checking!

1. Should be:
![image](https://user-images.githubusercontent.com/610865/65767716-eea44900-e12e-11e9-8653-31b0e2b86e65.png)
2. See here:
![image](https://user-images.githubusercontent.com/610865/65767645-bac92380-e12e-11e9-8754-1052a14ca50d.png)
3. See here:
![image](https://user-images.githubusercontent.com/610865/65767555-7b023c00-e12e-11e9-9e5c-8b1

[2019-09-27 12:02] RohitMungi-MSFT commented on #39643
@diberry I think this table is copied from the simple entity documentation but was not deleted on this page. Can we delete it and close the issue?

[2019-09-27 12:05] Chai-NED opened #39661 "Why would Firewall NAT traffic to public ip?"
"When you introduce the firewall into your load balancer scenario, you want your Internet traffic to come in through your firewall's public IP address. From there, the firewall applies its firewall rules and NATs the packets to your load balancer's public IP address. "

Did you mean private? I am confused. Please explain.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-09-27 12:12] slime-uk commented on #38349
Thanks.

An update.  So we went from rolling to manual.  We then struggled to query our own part of the health monitor but managed to Invoke-Command to an VMSS instance.  Still worried about latency (it's not the quickest to pass the ps1 to the VMSS instance and get a reply), we also turn off the VSTS agent if it was not busy when we queried it.  It now all works, but our VMSS instances come back

[2019-09-27 12:15] slime-uk commented on #38349
This entire process seems to be full of workarounds - but we have now implemented another.  We now check if the original VMSS has data disks before the upgrade.  Then we issue the VMSS upgrade command (new image ID), and then set back the data disks if they are wiped and we had some before.

[2019-09-27 12:19] SadiqhAhmed-MSFT commented on #39635
@qianw211 Could you please verify this info "This must not contain whitespace, emojis (unless they are the trademark and copyright symbols)" and update the document as needed?

[2019-09-27 12:19] bruce-solar opened #39662 "missing information"
The "Build Image from Dockerfile" section uses "init.sh" but at no time is "init.sh" mentioned or its contents shown. Also missing is the rationale for it (I'm guessing it's because you can't specify the actual "docker run" command so "init.sh" must take the place of any docker run arguments. But that's just a guess.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2019-09-27 12:39] ashemedai commented on #39658
Addition, I had also enabled traffic analytics and those *do* show up in the storage account:
![image](https://user-images.githubusercontent.com/610865/65769530-0b8f4b00-e134-11e9-9226-3f19de792345.png)

So between you, @SubhashVasarapu-MSFT, testing the docs and me being fairly certain I didn't make any obvious mistakes, maybe I should raise a support request and let them check if they see anythi

[2019-09-27 12:41] diberry commented on #39643
The issue will be resolved in today's publish. #please-close

[2019-09-27 12:41] #39643 closed

[2019-09-27 12:47] SadiqhAhmed-MSFT commented on #39653
@jtuliani Thanks for the question! I understand your concern and as of today this is by design. However, you can workaround this situation. Refer to my post in this [forum link](https://social.msdn.microsoft.com/Forums/en-US/e60043ec-968a-47b6-8e2e-808833df4ca6/moving-to-lrs-vault?forum=windowsazureonlinebackup). Also, please share your valuable feedback in the user[ voice forum](https://feedback.

[2019-09-27 12:53] DCtheGeek commented on #39652
#assign:DCtheGeek

[2019-09-27 12:55] DCtheGeek commented on #39652
Hi @jochenvanwylick. Thank you for the question.  The patterns allowed are described in the conditions section of the [Policy definition structure](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#conditions) doc.  Specifically:

- When using the **like** and **notLike** conditions, you provide a wildcard `*` in the value. The value shouldn't have more than one wild

[2019-09-27 12:57] crixo opened #39663 "How to validate user attribute input?"
Selecting a specific User Flow and a given Layout (e. Local account sign up page), Azure AD B2C UI provides a UI to set the field optional/mandatory and also a potential "Requires Verification".
That option is not enable for all fields. I wonder what is about and if there's a way to define a validation rule at least for a single field in isolation (eg. using a RegExp).
I'm aware of the possibility

[2019-09-27 13:04] xtianus79 commented on #39397
@YutongTie-MSFT I am pretty sure this persists but let me check

[2019-09-27 13:05] michelvankessel commented on #20072
Hi, thanks for this post. I have an additional question. Can I use P2S and S2S simultaneously? It looks like the VPN gateway ignores the P2S subnet and sends it over the ER!

[2019-09-27 13:10] kakarotto67 opened #39664 "Azure maps API - DataSource class - remove() method - Cannot read property '_setDataSource' of undefined"
**The Problem**

I display some shapes on the Azure Map using atlas.min.js (v2) API.

At some point I need to remove specified shape from the datasource.
Accoring to [this documentation page](https://docs.microsoft.com/en-us/javascript/api/azure-maps-control/atlas.source.datasource?view=azure-maps-typescript-latest) I have to use [remove()](https://docs.microsoft.com/en-us/javascript/api/azure-map

[2019-09-27 13:11] tschn commented on #39601
Could you please remove the 'reset password' button for AAD B2C users as it
does not work for them?

On Thu, Sep 26, 2019, 5:37 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2019-09-27 13:20] xtianus79 commented on #39397
i am going to post this here and send the email. However the issues still persist and this is kind of issue for publication. meaning does bing spell check work on a container or not?

![bing-not-exported](https://user-images.githubusercontent.com/8476336/65772323-ff8d9400-e107-11e9-8d54-f0e4f8009eed.png)
![bing-parameters-not-working](https://user-images.githubusercontent.com/8476336/65772328-0321

[2019-09-27 13:23] xtianus79 commented on #39397
@YutongTie-MSFT can you reopen the thread until there is a resolution to the issue?

[2019-09-27 13:35] xkobal opened #39665 "Verification of publisher domain failed"
Hi,

I am trying to validate my Publisher domain on a working Personal Account Application.
And when I validate the domain, I have this undocumented error:

"Verification of publisher domain failed. The application was not found. If the application was just created, wait a few minutes and refresh the page. [A9fLj]"

The content-type is correct "application/json"

Can you help me ?

Best regards.

[2019-09-27 13:40] jgudka commented on #28400
Hi, I was wondering if there has been any update with this?

I would also like to on a VM, be able to choose a user-assigned identity without having to first authenticate using the VMs system-assigned identity to resolve the client id of the correct user-assigned identity, and ideally without having to set environment variables.

[2019-09-27 13:45] jheizman opened #39666 "Authentication methods required to register"
The option "Authentication methods required to register" doesn't exist.  I only see Authentication methods required to reset, and testing indicates this effectively represents the methods to register.  This means that I can't set methods to register to (methods to reset +1), as recommended in the documentation.  I only want to require one method to reset, but require 2 methods to register.

---
##

[2019-09-27 13:48] PaoloCastAway commented on #34383
Well, I think I didn't make myself understood. @FrankHu-MSFT, I beg your pardon. Let me try to give a better explanation.

So: in the context of this document, "application" is not something I'm developing, the "application" role is played by B2C. In order to accept identities from a plain Azure AD Tenant (by means of OpenID Connect), B2C needs us to create an App Registration in the target Azure

[2019-09-27 13:49] j-martens commented on #39273
Thanks for your report. We hope this answers your question. We will now proceed to close this thread. #please-close

[2019-09-27 13:49] #39273 closed

[2019-09-27 13:51] j-martens commented on #39375
FYI - @nibaccam @Blackmist  -

[2019-09-27 13:52] j-martens commented on #39342
We hope this answers your question. We will now proceed to close this issue. #please-close

[2019-09-27 13:52] #39342 closed

[2019-09-27 13:55] cjlpowers commented on #20737
This is still an issue. **Can we re-open this so folks can track progress on an actual fix?**

We create and destroy VNets frequently and encounter this problem on roughly 10% of our deployments. Yes, support can resolve it. However, it is a major inconvenience as it always involves 3-4 rounds of back and fourth (e.g. try this command...) before they finally take it to the engineering team to do s

[2019-09-27 14:01] prabhakarreddy1234 opened #39667 "Inherit Resource Group's tags to underlying resources"
Update the documentation with how to inherit Resource Group's tags to underlying resources through at-scale tag policy.

documentation - https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#modify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52df521-f6fb-6b7c-11de-7eef01d60ecd
* Version Independ

[2019-09-27 14:13] balukantu opened #39668 "How to track stateful methods"
I have built a service fabric application with stateless and stateful service. I want to do profiling API and stateful service methods. How can we track stateful service methods profiling?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e73b70-d4f7-2525-3500-33d0e498b93e
* Version Independent ID: b906b85a-67cd-37e0-3a

[2019-09-27 14:15] DaveSkender commented on #33417
For anyone looking, these TZ codes are different from the Windows codes.  Here's the reference database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

[2019-09-27 14:15] PramodValavala-MSFT commented on #39659
@markdebruijne Looks like the cache get policy that you've shared doesn't have the `cache-lookup-value` policy.

Also, is you are on the Consumption Tier, do note that there is no internal cache.

[2019-09-27 14:16] balukantu opened #39669 "Profiling data statistics"
The stateless service has an endpoint/ method and which is called multiple times so how can I get the telemetrics (profiling data) for my method? is it like an average time based on no of calls or individual request time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95d2985e-af5e-d179-f168-0496e78b2dd1
* Version Inde

[2019-09-27 14:23] slandsaw commented on #32333
You can have up to 10 in one condition. If you need more, add another condition.

[2019-09-27 14:27] jtuliani commented on #39653
The document is still broken. It says I can delete a vault, but I can't due to the 14-day soft delete.

Why have you closed this issue without fixing the doc?

When I file an issue, I'm not just looking to answer a question. I'm trying to contribute to the community by having the docs improved. Closing issues without fixing the broken docs does not encourage me.

[2019-09-27 14:28] r-lerman opened #39670 "Cannot install Service Fabric SDK"
Trying to install Microsoft Azure Service Fabric SDK 3.4.664 from fresh installed VS2019.
"VS2019 Prof" was installed with "ASP.NET development" and "Azure development".
I also already installed PowerShell-6.2.3-win-x64.

I got an error message from "Web Platform Installer 5.1 Log" (log is attached):
This product did not install successfully because a product that it depends on did not install suc

[2019-09-27 14:34] j-martens commented on #39375
@YutongTie-MSFT - please remove the tag for doc enhancement. this is a support question. thank you!

[2019-09-27 14:42] SadiqhAhmed-MSFT commented on #39653
@jtuliani It is mentioned in the [screenshot](https://docs.microsoft.com/en-ie/azure/backup/backup-azure-delete-vault#before-you-start) and a reference link to [security features for Azure backup](https://docs.microsoft.com/en-us/azure/backup/backup-azure-security-feature-cloud#soft-delete). Appreciate if you could let me know what specific details you want to be added in the doc.

[2019-09-27 14:47] SadiqhAhmed-MSFT commented on #39640
@racchen Thanks for the comment. Did @Miles-chang post clarified your question?

@anirudhcavale If you've anything to share that could be helpful.

[2019-09-27 14:50] SwathiDhanwada-MSFT commented on #39579
@ranokarno As of now, when soft delete is enabled, you cannot delete the recovery vault using CLI, Powershell and portal as the backup data will be available for a retention period of 14 days after deletion.

Either you can wait for 14 days and perform the operations mentioned in the document or reach out to Azure support by raising a support request by following [these steps](https://docs.microso

[2019-09-27 14:56] SadiqhAhmed-MSFT commented on #39307
@Murthy582 Let me know if you've any questions or are we good to close this issue.

[2019-09-27 14:57] SadiqhAhmed-MSFT commented on #39496
@ducvu91 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-27 14:58] #39496 closed

[2019-09-27 14:58] emas00 opened #39671 "GeofenceApi"
Is not clear how to use the GeofenceApi specially the url parameters, what is udId={udId} and how do i get it, more information about it or a link to the documentation would be better.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95cf4eb2-2a86-582d-8160-a19cc2960c98
* Version Independent ID: 12970ae9-71ca-ee5d-aadf-1

[2019-09-27 14:58] amartin1911 commented on #39557
Thank you for the prompt response. I

Doing more research on how to handle distinct env variables for my infrastructure + functions automated deployment, I realized I could just have several `*.parameters.json` files for each environment. And as I pointed out before, declare my variables inside `appSettings` section from [`Microsoft.Web/sites` resource](https://docs.microsoft.com/en-us/azure/templ

[2019-09-27 14:58] #39557 closed

[2019-09-27 15:02] BurstX opened #39672 ""Guarantees..." section issue"
Section "Guarantees associated with consistency levels" - https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels#guarantees-associated-with-consistency-levels - contains the following text in the description of the "session" consistency level:

"...Clients outside of the session performing writes will see eventual consistency."

I've found an article by an MVP - https://lennilobel.wor

[2019-09-27 15:14] BharathNimmala-MSFT commented on #39668
@balukantu Thank you for your question, will get back to you shortly on this.

[2019-09-27 15:14] BharathNimmala-MSFT commented on #39669
@balukantu Thank you for your question, will get back to you shortly on this.

[2019-09-27 15:15] KrishnaG-MSFT commented on #39650
@IshanArora-hub Glad to see that you have self resolved and closed the issue. In future, if you share any feedback under this azure-docs repo then please mention Azure documentation link / URL to which feedback is related to. This helps us to provide you better assistance.

[2019-09-27 15:18] jamesmealing opened #39673 "RegistryKey query syntax is incorrect"
The syntax used in the RegistryKey alert suggestions examples is incorrect and will not run. The RegistryKey itself must either begin with an @ symbol, just before the first quotation mark or, the backslashes in the path must be double-typed. For example;

ConfigurationChange
| where RegistryKey == @"HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\QualityCompat"

OR

ConfigurationChan

[2019-09-27 15:22] antonsimola commented on #7192
@harishkrishnav It worked! Thank you so much!

[2019-09-27 15:23] michelvankessel commented on #20072
which was an BGP issue. The P2S subnet was advertised from the S2S to on-prem and back to the other VGW over the expressroute. This caused an issue when connecting to P2S.

We solved it by filtering out the P2S subnet going back to Azure over the expressroute BPG neigbourship.

So issue solved!

[2019-09-27 15:26] BharathNimmala-MSFT commented on #39435
@MLopesSousa Hope the above information shared by @mrbullwinkle helps clarify your query . Will go ahead and close this issue for now, however if you have further queries please feel free to tag us in your reply and will be more than happy to take the conversation forward. Thank you.

[2019-09-27 15:26] #39435 closed

[2019-09-27 15:27] Alienroid opened #39674 "Needs to update this page for Aspnetcore 3.0"
This implementation is outdated

app.UseAzureSignalR(routes =&gt;
{
    routes.MapHub&lt;Chat&gt;("/chat");
});

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Content: [Quickstart to learn how to use Azure SignalR Serv

[2019-09-27 15:41] Suirtimed opened #39675 "Cloud Solution Provider link invalid"
Clicking the link in the "Can I migrate from a subscription with pay-as- you-go rates to Cloud Solution Provider" lands on a 404 - Page Not Found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16fe42f0-e9d3-bcb2-fba9-e16015a76543
* Version Independent ID: cfb7d8f0-e710-3ea1-e2c3-c3e0c1a18b75
* Content: [Change Azure s

[2019-09-27 15:46] vikaskumawat80 opened #39676 "Certificate Key Length"
Can we increase KeyLength to 4096 for certificate?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d88efe
* Version Independent ID: d2edf564-2c83-f1da-dbf0-dbc41c4948bf
* Content: [Generate and export certificates for Point-to-Site: PowerShell: Azure](https://docs.microsoft.com/en-us/azure/

[2019-09-27 15:46] chrismade opened #39677 "pls review the various examples for "scoreThreshold" on this page"
JSON-Example says:
[code]
which is a number much larger than one, an integer

C# code example says:
[code]
which is a float - smaller than 1.0 - likely means 30%

nodeJS code example is:
[code]
again, float, but I assume it is now 3% - or does node use per mille instead of per cent?

It may totally makes sense - I don't know - depending whether you call the API directly via URL or e.g. by a predef

[2019-09-27 15:51] ben79git opened #39678 "Windows Virtual Desktop Agent scripted install"
Is there anyway of running the Windows Virtual Desktop Agent installer and specifying the registration token via the command line? Rather than having to run the installer via the desktop and input the token?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bfcfbec-b7ca-57e2-67cc-e5891fdbefd7
* Version Independent ID: 16

[2019-09-27 15:58] ecfan commented on #38509
@PgInsight: The product team responded that you need both TCP and UDP protocols.

[2019-09-27 16:00] sajayantony commented on #39250
@dlepow - can you help with the build documentation to include recommendation on how to pin your build to a specific version of windows since ACR build always takes its version of windows when pulling an image.

[2019-09-27 16:05] MicahMcKittrick-MSFT commented on #39670
Please open an issue here for help with SDK installation

https://github.com/Microsoft/service-fabric/issues

Also make sure you are following this:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started

If you have issues with the web platform installer, try uninstalling it and then running the SDK install again. That has worked for me in the past.

[2019-09-27 16:05] #39670 closed

[2019-09-27 16:08] MicahMcKittrick-MSFT commented on #39678
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 16:15] MicahMcKittrick-MSFT commented on #39627
I will go ahead and close this out. If you have further questions just let me know.

[2019-09-27 16:15] #39627 closed

[2019-09-27 16:16] MicahMcKittrick-MSFT commented on #39596
I will go ahead and close this out.

If you still have feedback for us please open a new issue directly on the document you are referring to and we will take a look.

[2019-09-27 16:16] #39596 closed

[2019-09-27 16:24] jtlz2 commented on #7192
@harishkrishnav Fantastic - do you want to take the SO answer?

[2019-09-27 16:31] bjax22 opened #39681 "Article metadata needs to be updated"
I pasted a link to this article into Slack, which pulled this metadata for this article:
 "This article helps you understand how Azure Front Door Service monitors the health of your backends"

This article has nothing to do with monitoring backend health.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a8

[2019-09-27 16:32] cweining commented on #39668
@balukantu
In order to profile requests in ServiceFabric services, you need to do two things:
1. Wrap the code that you want to profile in a StartOperation using statement as shown in this article.
2. Install the profiler in your ServiceFabric cluster as described in this article: https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-servicefabric

Once you have done that, you should b

[2019-09-27 16:36] mmacy commented on #39513
Hi @crixo, can you describe your goal a bit more? Are you wanting to get a full list of the localized strings for all [localization string IDs](https://docs.microsoft.com/azure/active-directory-b2c/localization-string-ids) for a particular language?

[2019-09-27 16:41] MayMSFT commented on #39375
Hi! Can you try set prefix='experiments'? I tested myself and it works fine.

[2019-09-27 16:45] erleonard opened #39682 "Deploy on Windows Machines"
The instruction on this page seemed to be out of date for the "Deploy on Windows Machines".  It references that: "Mobility Service can be installed only on Windows Server 2012 R2, Windows Server 2012, and Windows Server 2008 R2."

This seems to be in conflict with the ASR support matrix that lists all version of Windows Server as supported. https://docs.microsoft.com/en-us/azure/site-recovery/vmwa

[2019-09-27 16:47] souravmishra-msft commented on #38983
@frontbutt, I apologize for the delay in the response. Based on the query, I would like to share my findings. If tenant restriction is enabled for **contoso.onmicrosoft.com** and document is shared by **Fabrikam** user with **bob@constoso.com**, then **bob@contoso.com** would not be able to access the shared document.

It would fail by the following error:
![image](https://user-images.githubuserco

[2019-09-27 16:49] MicahMcKittrick-MSFT commented on #39678
@ben79git I don't believe that option is available at this point in time.

@Heidilohr @ChristianMontoya to confirm though.

[2019-09-27 16:55] FrankHu-MSFT commented on #39665
Hey @xkobal thanks for your feedback, currently we're investigating this and will get back to you as soon as possible.

[2019-09-27 16:55] FrankHu-MSFT commented on #39666
Hey @jheizman thanks for your feedback, currently we're investigating this and will get back to you as soon as possible.

[2019-09-27 16:55] souravmishra-msft commented on #39613
@crixo, I do see that in the built-in V1 policy for **Profile-Edit**, doesn’t have the Template option available under the "**Page Layout**" blade.

**You can consider the following options:**

1. Create V2 **Profile-Edit** builtin policy and then you can get the **Template** option, as in V1 **Profile-Edit** Built-In policy the Template Option is missing.
2. Create complete set of V2 polices i.e

[2019-09-27 16:57] FrankHu-MSFT commented on #39665
Hey @xkobal could you provide the configurations you're using? Could you also please provide a screenshot of the error that you're seeing?

[2019-09-27 17:00] xkobal commented on #39665
<img width="583" alt="Capture d’écran 2019-09-27 à 18 58 24" src="https://user-images.githubusercontent.com/1136820/65787363-0d1f3a00-e159-11e9-8dc3-a0a93f6c84e4.png">

Here is a screenshot of the error. The error code has changed since my first try.

What configuration do you need?

[2019-09-27 17:01] dragav commented on #39485
@MedAnd the VMSS is a separate resource type; its identity (whether it has one or not) has no impact on the SF application as an Azure resource. The fragment you quoted above seems to be taken from the digested application manifest - the one generated by the runtime for its own use, based on the deployed application manifest. You do not/cannot provide those values in the application manifest that

[2019-09-27 17:02] BeyMelamed commented on #39311
Close issue, I already forgot the gory details

On Thu, Sep 26, 2019 at 3:26 PM ShashiShailaj-MSFT <notifications@github.com>
wrote:

--
Avraham (Bey) Melamed

[2019-09-27 17:04] FrankHu-MSFT commented on #39665
I see, what is the application ID you're using? Are you sure that the app id is correct?

[2019-09-27 17:04] ChristianMontoya commented on #39678
@ben79git : Here is the line that we use for it (includes variables)

`$agent_deploy_status = Start-Process -FilePath "msiexec.exe" -ArgumentList "/i $AgentInstaller", "/quiet", "/qn", "/norestart", "/passive", "REGISTRATIONTOKEN=$RegistrationToken", "/l* C:\Users\AgentInstall.txt" -Wait -Passthru
`

You can find this line in our (GitHub) ARM templates. We call either **FirstSessionHost** or **Add

[2019-09-27 17:05] dalvarez-r commented on #22063
I have a question related to this.

I have a project where I would receive Azure AD tokens by login in to AAD on the front end with Angular, and then sending the tokens as an authorization bearer to the backend (node) so that I can validate the id_token and grant or prevent access based on that validation.

The thing is that I used to use one of the keys obtained through the discovery/keys to vali

[2019-09-27 17:06] Alberto-Vega-MSFT commented on #39660
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-27 17:07] YutongTie-MSFT commented on #39677
@chrismade
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@diberry  Hi Dina, could you please help check this issue and update the document if necessary? Thanks.

[2019-09-27 17:08] Nickomang commented on #10298
#please-close

[2019-09-27 17:08] xkobal commented on #39665
<img width="573" alt="Capture d’écran 2019-09-27 à 19 06 34" src="https://user-images.githubusercontent.com/1136820/65787764-f9c09e80-e159-11e9-8a68-7969d7b71831.png">

Here is the page with the complete domain name and the application ID. if you try to curl the URL, you will see that the App Id correspond to to the one on the page.

[2019-09-27 17:08] #10298 closed

[2019-09-27 17:15] virajith opened #39683 "Better integration of documentation for Blob Storage and Data lake Gen2 storage"
Currently, both Blob Storage and Data lake Gen 2 storage have their own "tabs" for things that are (somewhat) common across them -- security, redundancy, access tiers etc. It would be very useful if the documentation is organized in such a way that it's easy to understand what's common across the two and what's different.

[2019-09-27 17:16] Alberto-Vega-MSFT commented on #39664
@kakarotto67 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 17:18] BryanTrach-MSFT commented on #39674
@Alienroid Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 17:18] BryanTrach-MSFT commented on #39662
@bruce-solar Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 17:19] MicahMcKittrick-MSFT commented on #39678
Thanks @ChristianMontoya much appreciated :)

@ben79git I will go ahead and close this out. If you have further questions let me know and we can always reopen and continue the discussion.

[2019-09-27 17:19] #39678 closed

[2019-09-27 17:19] #39526 closed

[2019-09-27 17:30] YutongTie-MSFT commented on #39397
@IEvangelist Hi David, could you please help us check this issue?

@xtianus79 Thank you for your information, I will reopen it.

[2019-09-27 17:31] cherylmc commented on #39676
@anzaman

[2019-09-27 17:32] SaurabhSharma-MSFT commented on #39648
@Structed Thanks for your feedback and starting a pull request.  The author will review the changes to complete this pull request.

[2019-09-27 17:34] Nickomang commented on #13993
Doc has been updated. Thanks!

#please-close

[2019-09-27 17:34] #13993 closed

[2019-09-27 17:34] SquGus opened #39684 "What is "X" and "Y"?"
You could be more explicit on these terms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ec94566-4b0c-9c6d-8732-1668c80efeee
* Version Independent ID: c2d18cab-0ca9-102e-6de5-25710f9b9ad7
* Content: [Tools for working with Azure Storage](https://docs.microsoft.com/en-us/azure/storage/common/storage-explorers#feedback

[2019-09-27 17:39] femsulu commented on #35060
@TomArcherMsft any input pls?

[2019-09-27 17:40] srinadhayarram opened #39685 "Error -- While access links We are sorry, the page is forbidden"
https://review.docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer

We are sorry, the page is forbidden.
You do not have permission with this credential, please sign out to try with others and go back again.

Sign Out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5bd

[2019-09-27 17:41] RyanHill-MSFT commented on #39514
Your welcome @Sethu2488. I will tell you that we will be making some logging improvements that will allow native integration with Azure Monitor so I encourage to stay on the look out.

Until then, I'll go ahead and close this issue. If you do run into issues getting logstash running on your docker image, feel free to reopen and tag me.

[2019-09-27 17:41] #39514 closed

[2019-09-27 17:42] mmacy commented on #39513
@crixo You can't get the localization applied to a B2C tenant since it's applied at a B2C policy level, be it user flow or custom policy.

* If your language customization is applied to **user flows**, you must download the defaults or overrides via the language customization page in the Azure portal.
  * https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-reference-language

[2019-09-27 17:42] SamaraSoucy-MSFT commented on #39669
@balukantu

Just to make sure make sure I'm understanding your question correctly, you are looking to understand the impact of a specific method as opposed to the state of the VM as a whole?

[2019-09-27 17:46] ChristianMontoya commented on #38605
@RJK23 : Apologize for the delay. We updated the agents for the manual download. These should do everything you need to do now.

[2019-09-27 17:47] JeissonL opened #39686 "How many instances of an Application Gateway I need?"
Hi team,
Currently I have 6 VMs setting behind 1 backend pool of Application Gateway. I need to know how many instances I need to support the optimal operation of my Application Gateway without affect my backend pool functionality and guaranteeing availability of this service.
The best practice say that I need two like minimum, but the question is: Can I support my 6 VMs in my backend pool with on

[2019-09-27 17:56] anzaman commented on #39676
Yes, you can use 4096

[2019-09-27 17:56] george-moussa opened #39687 "Missing details on how to use service principal with certificate instead of password"
I have an existing service principal with certificate instead of password. How can I use it with the docker login command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11bbaa44-52ed-33fd-d710-af73d3665ec9
* Version Independent ID: b11deb17-311c-3aa3-78a7-1f8cdc7e9e5e
* Content: [Azure Container Registry authenticatio

[2019-09-27 18:03] Structed commented on #39648
Cheers! I think it's already merged.

[2019-09-27 18:05] normesta commented on #39685
Thank you for reporting the issue! I've updated the content with the correct link. This change should appear very soon. Here is the correct link: [](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer)
Thank you.

[2019-09-27 18:05] falmada opened #39688 "Is Hadoop 4.0 GA already?"
On april 4, 2017, 3.6 went GA (https://azure.microsoft.com/en-us/blog/announcing-general-availability-of-azure-hdinsight-3-6/). I do see there that 4.0 was released on Sept 24, 2018, but it is GA already?

Can this information be added here so it's clear which versions are GA?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-09-27 18:05] normesta commented on #39685
[https://review.docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer](https://review.docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer)

[2019-09-27 18:05] normesta commented on #39685
#please-close

[2019-09-27 18:06] #39685 closed

[2019-09-27 18:15] AjayKumar-MSFT commented on #31771
Thank you Amit for your feedback!
@yiliaomsft, Requesting your insights and review further on this topic.

[2019-09-27 18:24] FrankHu-MSFT commented on #35934
for future reference, a note has been added to the docs here in regards to this issue  :
The expected 'Content-Type' header that should be returned is application/json. You may get an error as mentioned below if you use anything else like application/json; charset=utf-8

"Verification of publisher domain failed. Error getting JSON file from https:///.well-known/microsoft-identity-association. The

[2019-09-27 18:25] badbob001 opened #39690 "Will the VM mac address change if the ip assignment is dynamic?"
The doc hints that if the ip address changes, the mac address will. But it is unclear if it means a static ip is manually changed or if a dynamic ip changes (like from vm deallocation).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07cec477-f584-400f-889c-9a5403f34bad
* Version Independent ID: f777fdfd-2f5a-56b9-574f-

[2019-09-27 18:29] GiftA-MSFT commented on #39590
@macamhi thank you for clarifying. Does this [document](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-consume-web-service#request-data) (where it says "important") provide the information you're looking for? Are you saying this is not the case as outlined in the documet? If this is not the information you're looking for, can you please provide other document(s) you're foll

[2019-09-27 18:30] FrankHu-MSFT commented on #39665
I see, is this a new AAD Application or is this an older AAD Application Registration?
If you create a new aad app registration, do you get the same error?

[2019-09-27 18:33] MicahMcKittrick-MSFT commented on #39687
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 18:37] SnehaGunda commented on #37912
@lukepuplett Rather than saying that your applications should only use the same JavaScript types as Cosmos supports, it best to say the following:

Cosmos DB supports JSON types: string, number, boolean, null, array, object. Dates can be represented either as strings or a number (epoch/timestamp) types. It is recommended to store all dates as UTC. If non-UTC dates are stored, the logic must be han

[2019-09-27 18:37] normesta commented on #38402
@jackchecnquest Thank you for clarifying the nature of the issue. Closing issue.

#please-close

[2019-09-27 18:37] #38402 closed

[2019-09-27 18:39] TerryLanfear commented on #39648
#please-close

[2019-09-27 18:39] #39648 closed

[2019-09-27 18:39] TravisCragg-MSFT commented on #39661
@Chai-NED In this scenario, the public Load Balancer can only load balance requests sent to the Public IP of the Load Balancer.

Traffic comes in via the Firewall's Public IP Address, and firewall rules are applied. Next, it goes to the Load Balancer's Public IP Address and load balancing rules are applied. It is then sent to a machine in the backend of the load balancer.

[2019-09-27 18:39] SnehaGunda commented on #37912
#please-close

[2019-09-27 18:39] #37912 closed

[2019-09-27 18:40] MicahMcKittrick-MSFT commented on #39687
You should still be able to use that service principal assuming you have the cert installed on the machine you are attempting to connect with.

Start here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-service-principal#use-an-existing-service-principal

Then when you get to this section:
https://docs.microsoft.com/en-us/azure/container-registry/container-regist

[2019-09-27 18:51] msaburnley commented on #39040
Hey @v-alkolc

Thanks for the additional information. I have shared this with members of the licensing team and I will follow-up with you next week.

Thanks and have a great weekend!

[2019-09-27 18:51] SudoBrendan opened #39692 "Add Docker Image Name"
Greetings! Thanks for the docs on this, I'm excited to try this out!

In the 2nd paragraph the document states:

[code]

What is the actual name of this image? The examples (just a pure guess here) point to `mcr.microsoft.com/acr/acr-cli:1.0` but I'm not finding manifests for that image for either Linux or Windows. I also don't see any pages in Docker Hub for it.

Can you add this detail please? I

[2019-09-27 18:56] srinadhayarram commented on #37690
any other way to check preview enabled. Will portal show blob services in Gen2 page?

[2019-09-27 19:00] KingdomOfEnds commented on #37661
@xtellurian - I've run a couple more tests using 5000 rows. In all of those cases, the maximum number of rows that appears in TSI Preview is 900 rows. I've also reached out to engineering to confirm this as well.

Thank you!

[2019-09-27 19:01] Karishma-Tiwari-MSFT commented on #38605
Thanks @ChristianMontoya
@RJK23 We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-27 19:01] #38605 closed

[2019-09-27 19:02] Karishma-Tiwari-MSFT commented on #39692
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 19:05] YutongTie-MSFT commented on #39457
@gvashishtha Hi, were you using your own data for training?

[2019-09-27 19:07] TravisCragg-MSFT commented on #39676
@vikaskumawat80 As @anzaman stated, you can use a 4096 key length with SHA256.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-27 19:07] #39676 closed

[2019-09-27 19:10] macamhi commented on #39590
No it doesn’t, it actually misguided me as it suggests the fields are to be in there same order as the scoring script. But, as already indicated below, in the case of a model generated and deployed through Automated Machine Learning, I got a type error when trying to call the web service with data structure as in the sample scoring script generated for the model, and found out by analyzing the con

[2019-09-27 19:12] SaurabhSharma-MSFT commented on #39584
@Tarvinder91 Yes, you are correct I am also not able to see this dropdown.  I can only see KEK URL field.
![image](https://user-images.githubusercontent.com/38112130/65795813-fc9e9d80-e11f-11e9-8588-b25d434f61c3.png)
I am assigning this issue to document author to review and update the documentation.

[2019-09-27 19:13] SaurabhSharma-MSFT commented on #39582
@Tarvinder91 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-27 19:13] #39582 closed

[2019-09-27 19:13] SaurabhSharma-MSFT commented on #37729
@langstonj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-27 19:13] #37729 closed

[2019-09-27 19:13] ussantos opened #39693 "Consideration for Growth Factor"
When you access the URL bellow, you find orientation about parameter Growth Factor.

https://docs.microsoft.com/en-us/azure/site-recovery/hyper-v-deployment-planner-run#considerations-for-growth-factor

Documentation don't clarify if we need inform growth factor per day, month or year.  Which measure of time can I consider?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-09-27 19:13] SaurabhSharma-MSFT commented on #39525
@langstonj We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-27 19:13] #39525 closed

[2019-09-27 19:14] SaurabhSharma-MSFT commented on #39534
@SaeedAlbarhami We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-09-27 19:14] #39534 closed

[2019-09-27 19:15] TravisCragg-MSFT commented on #39681
@bjax22 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-09-27 19:25] TravisCragg-MSFT commented on #39690
@badbob001 The VM will retain its mac address when deallocated. If you remove the NIC or manually change the Private IP Address attached to the NIC, then the MAC Address will change.

Dynamic IP changes (like from VM Deallocation) will not change the MAC Address.

[2019-09-27 19:52] #39226 closed

[2019-09-27 19:56] r-lerman commented on #39670
Powershell.exe was missing from Windows\system32

[2019-09-27 19:57] srinadhayarram commented on #39685
i still dont have access to the link provided

On Fri, Sep 27, 2019 at 1:06 PM Norm Estabrook <notifications@github.com>
wrote:

[2019-09-27 20:00] jay98014 commented on #39646
Hi @tmweah,

Yes it is certainly possible to test Azure AD Password Protection in a separate, test-oriented AD environment.   You will still need to meet all of the deployment requirements, and have access to the necessary Azure tenant creds to register the AADPP proxy and forest.

Jay

[2019-09-27 20:22] markjbrown commented on #39575
Hello.

The intention of this post-trigger is to update metadata document post-factum. It does replaceDocument, as it should.

In post-trigger it’s too late to call setBody on request, because the operation is already done (request was already used).

Thanks.

#please-close

[2019-09-27 20:22] #39575 closed

[2019-09-27 20:24] crixo commented on #39613
Hi @souravmishra-msft,
option 1 is what I'm planning to do it: I was just concern Profile-Edit v2 is not currently flagged as Recommended in the portal (while on the documentation page https://docs.microsoft.com/en-us/azure/active-directory-b2c/user-flow-versions is)

not sure I understood what you mean with option 2: are you referring to "custom policies" instead of "user flows"?

option 3 is wha

[2019-09-27 20:29] shashishailaj commented on #39646
@tmweah Hope the answer provided above helps you . You can create a test azure AD tenant and set it up with your on-premise environment created eitehr at your physical location or on a cloud like azure and test it . Please let us know in case you have any further queries on this.

[2019-09-27 20:29] nivebiju opened #39695 "Variable mismatch"
In Defining entities example code, there is a mismatch in variable name. Please check and update the docs.
Thanks in advance
![image](https://user-images.githubusercontent.com/18460547/65800268-a4a17e80-e193-11e9-88ca-81be1c897794.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e12177-bb3a-d00c-99a5-422e00f9b03f

[2019-09-27 20:37] crixo commented on #39513
@mmacy I was wondering if I could add a custom entry (w/ my new StringId) into the json file that can be upload from the blade "Select a User Flow" -> "Language" -> "Select a language" -> "Page-level resource files" and then retrieve it through an api exposed by Azure AD B2C tenant but it seems you are saying that language entries managed through the json file are "B2C internals".

[2019-09-27 20:42] #39577 closed

[2019-09-27 20:42] codingbandit opened #39696 "Use message routing to input data"
Is there a way to use the standard message routing between modules to store the data? Ultimately I would like Edge Streaming Analytics to output directly to the IoT Edge Storage Module (no coding necessary). Can we define an input on this module?

Another question I have is if it is possible to configure the module with a default container so one doesn't have to do so manually (or does it have the

[2019-09-27 20:46] femsulu commented on #39654
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-27 20:46] femsulu commented on #39667
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-27 20:48] femsulu commented on #39673
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-09-27 20:49] femsulu commented on #39675
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-27 20:50] femsulu commented on #39682
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-09-27 21:05] josiahlaivins commented on #39607
Is there are any feedback about this? We have blob storage working via direct upload in docker container `Manager`:

[code]
But using the the `ImageUploader` docker container `mcr.microsoft.com/azure-blob-storage:latest`'s local account does not work still.

[2019-09-27 21:07] jwisener opened #39698 "This is so complicated, No examples for doing a simple email on failures."
Why is the documentation so bad that it's impossible to ever find anything when it comes to application insights? Is there any example or documentation for simply setting up a simple email alert that can be received anytime a failure occurs in our applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f826c77e-a9

[2019-09-27 21:10] mmacy commented on #39513
@crixo Correct, the string IDs are built-in to Azure AD B2C, the list for which you can find here:

[Localization string IDs](https://docs.microsoft.com/azure/active-directory-b2c/localization-string-ids)

[2019-09-27 21:15] arduppal commented on #39607
@josiahlaivins :- as per the [document](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob#connect-to-your-blob-storage-module) the DefaultEndpointsProtocol is "http" and there is no EndPointSuffix when connecting to local storage account. And I don't see the blobEndpoint in your example either.

Format per the document: **DefaultEndpointsProtocol=http;BlobEndpoint=http://<host

[2019-09-27 21:24] arduppal commented on #39696
This module does not support message routing.
Please provide us feedback how would you like to see the messages store in blob?
do you want separate blob for each message? or do you want any extension associated with these messages when they are stored as blobs?

No, today one has to specify at-least the source container name for deviceToCloudUpload feature to work

[2019-09-27 21:25] Adam-Smith-MSFT commented on #39684
@SquGus Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate, We'll check if we can add a legend. Y is "Yes" , X is whether the specific service is supported/available on the mentioned tools.

[2019-09-27 21:27] Adam-Smith-MSFT commented on #37309
@michaelspinks Sorry for the late response. It's currently in the works to add ARM as an exception in the Storage Firewall, unfortunately we do not have an ETA, an announcement via blog would be made once this feature becomes available.

[2019-09-27 21:27] #37309 closed

[2019-09-27 21:31] crixo commented on #39513
@mmacy ok understood. Let me try to recap and make sure I'm on the right track:
- Localization string IDs are predefined and driven by B2C.
- Those IDs/entries cannot be extended w/ custom entries
- Those IDs/entries are not accessible via APIs
- I could simply override the values associated to those IDs in order to provide a different message/string to the end user but the delivery of these value

[2019-09-27 21:32] Adam-Smith-MSFT commented on #39538
@sonnycloudtp to create a file share, you have to first create a storage account V1 or V2, then browse to File Shares:

![file share](https://user-images.githubusercontent.com/34456968/65803417-5ceb0a80-e133-11e9-8018-7f7ac4747fe1.png)

Then, click on Create File Share:

![fileshare2](https://user-images.githubusercontent.com/34456968/65803471-8efc6c80-e133-11e9-8099-2a10af3702f6.png)
I'll go ahea

[2019-09-27 21:32] #39538 closed

[2019-09-27 21:34] mike-urnun-msft commented on #39269
@xerosum This behavior appears to be communicated in this documentation via the following excerpt under [**OpenAPI version 3**](https://docs.microsoft.com/en-us/azure/api-management/api-management-api-import-restrictions#-openapi-version-3) section:
_"If many servers are specified, API Management will try to select the first HTTPs URL. If there aren't any HTTPs URLs - the first HTTP URL. If there

[2019-09-27 21:34] #39269 closed

[2019-09-27 21:34] Karishma-Tiwari-MSFT commented on #20102
@daveba Is there an update on this? We have a customer with 'unfamiliar sign-in properties' alerts.

[2019-09-27 21:51] DCtheGeek commented on #39667
@prabhakarreddy1234 Thanks for the feedback! I'm working on an article focused on tags at scale with Policy and will make sure this does get covered.  For now, there's an existing example in the built-in Policy named **Inherit a tag from the resource group** that I think fits what you are looking for.  Here's the **policyRule** portion of that definition:

[code]

Let me know if that's what you ar

[2019-09-27 21:53] KranthiPakala-MSFT commented on #39591
Hi @swinarko, Could you please have a look at the feedback from the user and update the document as appropriate? Thank you!

[2019-09-27 21:54] KranthiPakala-MSFT commented on #39591
@mkpsw We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2019-09-27 21:55] mpchen opened #39701 "Could you call out what roles/permissions are needed to deploy "deployifnotexisit" policies?"
It seems to me that ResourcePolicyContributor role is not enough to assign "deployifnotexisit" policies. I have to get "User Access Administrator" role to assign such policies. My understanding is that the ID that assigns these policies need to be able to grant privileges to the managed identities the policies use.  Is that correct? It'd be great if we can call out exactly what roles/permissions a

[2019-09-27 21:55] kobulloc-MSFT commented on #39624
@garrmark The documentation has been updated.  Thank you again for helping to make our docs better!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-09-27 21:55] #39624 closed

[2019-09-27 21:58] DCtheGeek commented on #39701
#assign:DCtheGeek

[2019-09-27 21:59] DCtheGeek commented on #39701
@mpchen I'm validating the answer to this with the team and will get back to you.

@MicrosoftDocs/azure-cxp-triage Please label 'product-question' (for now) and #in-progress

[2019-09-27 22:00] ccompy commented on #9561
ASE has been changed so that new ILB ASEs no longer need customers to set the default certificate.  the  doc on certs was updated: https://github.com/ccompy/azure-docs-pr/blob/sept27/articles/app-service/environment/certificates.md

#please-close

[2019-09-27 22:00] #9561 closed

[2019-09-27 22:00] FrankHu-MSFT commented on #39666
Hey @jheizman could you provide a screenshot of the issue you're seeing? You don't see any registration methods?

[2019-09-27 22:02] himanshusinha-msft commented on #39651
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update , please

[2019-09-27 22:07] SaurabhSharma-MSFT commented on #39663
@crixo Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-27 22:10] SaurabhSharma-MSFT commented on #39657
@belaie Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-27 22:18] PeterTurcan commented on #39216
@MHarrison22 - thanks for finding the issue
@MichelSchols - thanks for pointing out the fix
I will suggest the tutorial is updated with a note mentioning the known issue, and pointing to the article suggested above, and then that this issue is marked as Closed.
- Peter

[2019-09-27 22:19] chetansriv commented on #28814
@ZollnerdMSFT We have added a note to address this issue, please review

#please-close

[2019-09-27 22:19] #28814 closed

[2019-09-27 22:19] MedAnd commented on #39485
@dragav - I initially followed the the [Deploy Service Fabric application with system-assigned managed identity (preview)](https://docs.microsoft.com/en-us/azure/service-fabric/how-to-deploy-service-fabric-application-system-assigned-managed-identity) guide however I received ARM deployment errors. Working with Azure Support I was instructed to enable Managed Identity on the VMSS and also add the

[2019-09-27 22:21] himanshusinha-msft commented on #39683
@virajith . Thanks for the feedback .
Can you please share the document which you are referring too ?

[2019-09-27 22:22] chetansriv commented on #28815
@ZollnerdMSFT This is added as a known issue, please review

#please-close

[2019-09-27 22:22] #28815 closed

[2019-09-27 22:23] himanshusinha-msft commented on #39686
@JeissonL :Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on MSDN and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an updat

[2019-09-27 22:27] himanshusinha-msft commented on #39688
@falmada .Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2019-09-27 22:27] AndyWu7623 commented on #39155
@Karishma-Tiwari-MSFT  any update?

[2019-09-27 22:28] Alberto-Vega-MSFT commented on #39671
@emas00 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-27 22:28] himanshusinha-msft commented on #39688
@falmada  @hrasheed-msft  We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-09-27 22:29] codingbandit commented on #39696
Thank you so much for the clarification :)

I think it would be great if messages were individually stored as blobs. In the configuration of the module (twin), to be able to define an initial container with a specified name - it would behave with the CreateIfNotExists behind the scenes.  Then for message routing be something like this:

"telemetryToStorage": "FROM /messages/modules/{streamanalytic

[2019-09-27 22:34] samiarahman opened #39705 "Copy Data does not invoke the FlushAndCloseEvent on successful copy in adlsgen2"
Steps to reproduce:
1. Create data pipline that copies data from source adlsgen2 filesystem to destination adlsgen2 file system
2. Create a data pipliene that is triggered by blob create events based on the destination adls gen2 file system and run a spark job
3. Simulate upload of files in source

Expected behavior spark job runs
Actual: spark job never runs, on monitoring the events in the desti

[2019-09-27 22:39] himanshusinha-msft commented on #39672
@BurstX :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-27 22:41] himanshusinha-msft commented on #39693
@ussantos  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-27 22:44] himanshusinha-msft commented on #39695
@nivebiju  Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2019-09-27 22:45] prabhakarreddy1234 commented on #39667
It should be enough for now. Please do share the link of your new article here when it's ready.

[2019-09-27 22:45] #39667 closed

[2019-09-27 22:46] kobulloc-MSFT commented on #39541
@snitkjaer The changes are now live.  Thank you for helping us to improve the docs!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-09-27 22:46] #39541 closed

[2019-09-27 22:47] Karishma-Tiwari-MSFT commented on #39155
@AndyWu7623 I have fixed it in this PR. Changes will be live shortly. Thanks :)
https://github.com/MicrosoftDocs/azure-docs/pull/39706

[2019-09-27 22:48] Karishma-Tiwari-MSFT commented on #39445
I will close this for now. If you have additional questions let me know and we can reopen and continue. Thanks :)

[2019-09-27 22:48] #39445 closed

[2019-09-27 22:51] himanshusinha-msft commented on #39698
@jwisener :Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-27 22:51] FrankHu-MSFT commented on #39663
Hey @crixo, can you clarify what you're trying to do?

Are you trying to create some regex policy for the text-fields so that there is some sort of verification/validation on the input into those text boxes through some AAD B2C user flow?

[2019-09-27 22:56] Alberto-Vega-MSFT commented on #39585
@cofjee If you are referring to step 5 in https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet#create-a-digital-twins-instance

Please remove the ending `/swagger` and append `api/v1.0/`  you need to do this so you can add it to your appSettings.json as described here: https://docs.microsoft.com/en-us/azure/digital-twins/quickstart-view-occupancy-dotnet#build-appli

[2019-09-27 22:58] himanshusinha-msft commented on #39705
@samiarahman  Thanks for the feedback and bringing this to our notice . Can you please share the link of the document which you are following please ?

[2019-09-27 22:59] DCtheGeek commented on #39701
Thanks for the question @mpchen.   If you create the policy definition in the portal, Azure Policy creates the managed identity per assignment and grants this managed identity the roles defined in **roleDefinitionIds** using the user’s identity, so User Access Administrator or an RBAC role with _Microsoft.Authorization/roleAssignments/write_ is required. In this way, the user creating the policy a

[2019-09-27 23:06] BryanTrach-MSFT commented on #39662
@bruce-solar We reviewed your feedback and reviewed the doc. We have assigned the issue to the doc author to have them review the doc to determine if any updates are necessary.

[2019-09-27 23:10] mmacy commented on #39513
@crixo On this one:

Yes, _those_ IDs can't be added to. However, there _is_ the ability to add and then localize **custom user attributes** (just so you're aware):

* [Define custom user attributes](https://docs.microsoft.com/azure/active-directory-b2c/active-directory-b2c-reference-custom-attr), and then you can
* [Change the string for custom user attributes](https://docs.microsoft.com/azure/ac

[2019-09-27 23:13] cypherstream opened #39708 "What if you do not want any of those object to be deleted?"
What if the results show that all device objects in active directory (workstations, servers, domain controllers) are in the list "to be deleted"?  Obviously we wouldn't want all devices deleted.  How can you stop the emails from coming every half hour, besides an outlook rule that moves (or deletes) the message?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-09-27 23:19] curtand commented on #39619
Hi @jonwbstr

Are you saying that it's not important that admins configure alerts on privileged accounts whose passwords haven't been changed? Or that this content is not congruent with a goal of discouraging passwords? It seems to me that if any passwords at all are used on a privileged account it's useful to alert and/or report on that.

[2019-09-27 23:24] kobulloc-MSFT commented on #39618
@maple10001 Using "disableTelemetry" set to **true** would mean that telemetry is not collected or sent which effectively turns off autocollect.  Additionally, you can configure other fields to limit or disable user information.  Look through Configuration for more information on this:
https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#configuration

Additionally, you have the opt

[2019-09-27 23:25] Avenger-devp opened #39709 "Template is not working. After purchasing while deployment of VM it is failing."
I am getting the following error.
Changing property ‘windowsConfiguration.winRM.listeners’ is not allowed.
(Code: PropertyChangeNotAllowed, Target:
windowsConfiguration.winRM.listeners)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45c01d12-9d17-5f37-81dc-11fe8200e5b4
* Version Independent ID: 8

[2019-09-27 23:29] walsehgal commented on #39671
Hi @emas00, thanks for highlighting this. We have some changes in the data upload API since this tutorial was published and perhaps the process to get the **udid** has changed. We will update the tutorial content to reflect that shortly. In the meantime you can follow steps 4-6 [here](https://docs.microsoft.com/en-us/azure/azure-maps/how-to-render-custom-data#get-data-from-azure-maps-data-storage)

[2019-09-27 23:31] jakevis opened #39710 "Missing IPs"
We are seeing MS Flow sending email from some IP addresses not listed on this page. Can we get it updated please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-2659-e10202e5bb14
* Content: [Limits and configuration - Azure Logic Apps](ht

[2019-09-27 23:33] jakevis commented on #39710
Please reach out directly and I will provide you a list of IPs that we are seeing in transport logs; but ideally you can also provide us with a complete list in use.

[2019-09-27 23:43] KingdomOfEnds commented on #39600
@BhupalPatil - AD registration is highly recommended for a couple reasons:

1. AD registration leverages the powerful security features present on Azure.
2. Is extensible. By registering for AD you can integrate your application with other Azure services often without having to modify your initial security configuration (and in some cases using the exact same one).

Additionally, AD is continuousl

[2019-09-28 00:00] KingdomOfEnds commented on #39266
@BhupalPatil - I'm sorry for the delay in a response. The current Content Developer is experiencing anomalies electrical storms. Please consult the pricing document: https://azure.microsoft.com/en-us/pricing/details/time-series-insights/ - a calculator through that will allow you to estimate the costs. Thank you again for your question!

[2019-09-28 00:00] chetansriv commented on #38637
@lawrencedwight We have updated the article as suggested, please review

#please-close

[2019-09-28 00:00] #38637 closed

[2019-09-28 00:02] cahann commented on #39397
Spell check is not supported out of the box in containers

[2019-09-28 00:03] chetansriv commented on #38767
@dhanrajbsheth We have updated the article as per the gallery app configuration, please review and share your feedback.

#please-close

[2019-09-28 00:03] #38767 closed

[2019-09-28 00:03] Mike-Ubezzi-MSFT commented on #39565
@anilvem1 Please let us know if you have additional questions with here and we will be glad to continue the discussion. Thank you!

[2019-09-28 00:03] #39565 closed

[2019-09-28 00:06] KingdomOfEnds commented on #39263
@BhupalPatil - My apologies for the delay in a response.

Two resources that may be of use to you include: https://tsiclientsample.azurewebsites.net/ (which displays numerous client samples) and https://github.com/microsoft/tsiclient/blob/master/docs/API.md (JS SDK docs). They provide specific reference information pertaining to using JS to import and render you data into graphs and charts (using

[2019-09-28 00:06] mike-urnun-msft commented on #39710
Hi @jakevis - Thank you for your feedback. IP addresses listed on this documentation are related to Logic Apps only, and not MS Flow.

[2019-09-28 00:09] jakevis commented on #39710
@Mike-Ubezzi-MSFT  - per https://github.com/MicrosoftDocs/flow-docs/issues/88 (and the fact MS Flow sits ontop of logic apps), MS Flow can also use Logic App IPs. I dont really mind where the IPs are documented... but we need a solid list of them.

[2019-09-28 00:11] CecileRobertMichon commented on #37716
Hi @qianw211, for Linux images what is the recommended approach? We currently use Packer to build VHDs which are then published to the Azure Marketplace using a SAS URI but we are getting warning "You are using Azure Packer Builder to create VHDs which is being deprecated, consider using Managed Images. Learn more http://aka.ms/packermanagedimage". If we move to using managed images, how can we ma

[2019-09-28 00:16] YutongTie-MSFT commented on #39623
@Targolo Hi David, I have updated the document, you should see the change soon. Thank you for the feedback again. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-28 00:16] #39623 closed

[2019-09-28 00:16] mike-urnun-msft commented on #39710
@jakevis Of course, we are now proceeding to assign this issue to the author to review further and take the right course of action.

[2019-09-28 00:20] samiarahman commented on #39705
It's based on your blob trigger events and copy tool feature. You dont have documentation specific for our use case. Please advise if this has to reported somewhere else.

[2019-09-28 00:37] solankisamir commented on #39558
@DixitArora-MSFT, havent tested it, but if it is needed we should add it @mikebudzynski. Can you take it up?

[2019-09-28 00:47] moirf opened #39711 "Can we rename a Public IP name once created?"
Can we rename a public IP address to some meaning full name once created? One way is I can delete and create a new IP but in that case I will loose the IP already associated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19d6d70c-eed7-8fdc-e04b-995cabf0a902
* Version Independent ID: a33391e9-3023-8212-6246-d64071efc2b

[2019-09-28 01:00] kumarallamraju opened #39713 "Typo on this page; It should be Virtual WAN Architecture not WAN Architecture"
[Enter feedback here]

Click the WAN you created. On the WAN page, under WAN Architecture, click VPN sites to open the VPN sites page.

The portal shows
Virtual WAN Architecture >> VPN sites

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d62470b-a511-4b32-5498-2ae5182ec585
* Version Independent ID: df2d4c2e-8afb-14ae-

[2019-09-28 01:00] KingdomOfEnds commented on #39266
@BhupalPatil - I'm sorry for the delay in a response. Please consult the pricing document: https://azure.microsoft.com/en-us/pricing/details/time-series-insights/ - a calculator through that will allow you to estimate the costs. Thank you again for your question!

[2019-09-28 01:14] dragav commented on #39485
@MedAnd we've gotten your incident via internal channels as well, hopefully the response made it back to you. If you enabled the managed identity on an existing application, or if you have upgraded an MI-enabled application, it is possible you may have hit a known bug in the upgrade path. The fix has been tested and is awaiting rollout; your region (EastAus) will be prioritized.

Back to your depl

[2019-09-28 01:37] msrini-MSFT commented on #39634
@tonyt73 , do you have any update on this issue?

[2019-09-28 01:41] msangapu-msft commented on #39662
Hi @bruce-solar, thank you for the feedback.

Init.sh can be found on the GitHub repo mentioned in 'Download the sample' section: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#download-the-sample

There's also a comment in the Dockerfile right before the entrypoint command.

The init/startup will vary depending on your image. You can find entrypoint det

[2019-09-28 02:23] DixitArora-MSFT commented on #39558
@kenoby-dev I have assigned this to content author for further review and update as appropriate.

[2019-09-28 02:44] LiberoAnon commented on #39708
https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-device-disappearance

It seems that the newest Azure AD Connect upgrade forced a full sync and subsequent deltas are failing after that full sync due to the deletions described in the article.

[2019-09-28 02:59] SwathiDhanwada-MSFT commented on #39571
Assigning to content author @dcurwin  to consider adding a note regarding the same in the document.

[2019-09-28 03:33] mpchen commented on #39701
Thanks @DCtheGeek. The behavior I observed is that creating policy definition in the portal only need the ResourcePolicyContributor role. However, assigning it will need User Access Administrator or an RBAC role with Microsoft.Authorization/roleAssignments/write. Managed identity is only created when policy is assigned.

So in our case policy creation and assignment are two steps. The security tea

[2019-09-28 04:46] ram-msft commented on #39709
@Avenger-devp Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 04:52] ram-msft commented on #39711
@moirf Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 04:53] ram-msft commented on #39713
@kumarallamraju Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 05:20] msrini-MSFT commented on #39711
@moirf , as of today rename option is not available for any resources in Azure. You need to delete and recreate it.

[2019-09-28 05:20] #39711 closed

[2019-09-28 05:31] SubhashVasarapu-MSFT commented on #39345
@PatLaPoint, Appreciate your patience. I have reproduced this scenario and it looks like it needs the author's attention. We are assigning this issue to the respective content author for updating the document accordingly. @KumudD, Could you please provide your insights here?

[2019-09-28 07:08] GBBBAS commented on #32933
This change causes issues when using the SharedKey Authentication with ADLS Gen 2 REST APIs as the query part of the string contains upper case characters. For example, in ADLS Gen2, you need to specify action=setAccessControl with the upper case letters. The update made here causes path and query to be changed to lowercase and therefore results in a 403.

[2019-09-28 07:16] #39580 closed

[2019-09-28 07:17] SwathiDhanwada-MSFT commented on #39580
@chirurico Thanks for catching this. A PR has been successfully initiated to resolve this issue. The changes will be live - in roughly 24 hrs.

We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-28 08:21] DanielLarsenNZ commented on #30381
@DixitArora-MSFT Please reopen. I have upgraded and run the instructions three times now since May. This does not work.

[code]

[2019-09-28 08:57] DanielLarsenNZ commented on #30381
I figured out the missing dependency bug. It was because at some stage Functions Core Tools has been installed using Chocolatey. Uninstalling and reinstalling with NPM fixed that problem:

[code]

Now I still can't debug in VSCode. I get the errors:

`Could not attach to process with CustomPipeName: 'AzureFunctionsPSWorker'`

and

`Unable to find project root. Expecting to find one of host.json, l

[2019-09-28 09:17] tonyt73 commented on #39634
Hi,
I found a fix.
Move all the devices off the affected subnet and onto a temporary one.
Delete the subnet and recreate with the service endpoints.
Move the devices back to the subnet.

From the PS code output, you can clearly see that the PrivateEndpoint* and
PrivateLink* properties are not set for the subnet "Internal"
Yet the portal and PS commands complains that they are.
So you must be stori

[2019-09-28 09:31] tonyt73 commented on #39634
[code]

[2019-09-28 09:40] mapdegree opened #39716 "More examples needed"
Referring to the following link:
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview

Issue:
More concrete examples needed connecting to other technologies (e.g. Logstash plugin)

Recommendation:
If possible add reference URIs to external posts for users to see examples.  Example below for Logstash Kafka output filter connecting to Azure Event Hubs
https://med

[2019-09-28 09:43] ram-msft commented on #39716
@mapdegree Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 10:12] lxy771895408 commented on #39573
ok, thank you for your replay. And I will check the information with the company IT team.

[2019-09-28 10:52] wrooot commented on #38335
You are repeating Windows name and OS fix in the changelog

[2019-09-28 11:26] felixhauserch opened #39718 "Tenant NOT created in new directory but in old one! Switch to new directory not possible!"
Above it says "To start using your new Azure AD B2C tenant, you need to switch to the directory that contains the tenant."
-&gt; But this does not work! Yes, by following above steps a new directory is created. BUT THE NEW TENANT IS NOT PART OF THE NEW DIRECTORY but instead is placed in the old directory.

Furthermore above it says "Select the Directory + subscription filter in the top menu of the

[2019-09-28 11:49] peterlil opened #39719 "Product name confusion"
Below "Feature considerations and limitations" the article says "SQL Server Failover Cluster Instance (FCI) and SQL Server Always on Failover Cluster Instance are not supported.". Does not that refer to the same technology (FCI)?
My guess is that it should read: "SQL Server Always On Failover Cluster Instance (FCI) and SQL Server Always On Availability Groups are not supported."

---
#### Document

[2019-09-28 11:51] peterlil commented on #39719
No, my mistake. Closing the issue.

[2019-09-28 11:51] #39719 closed

[2019-09-28 13:43] cypherstream commented on #39708
Wow Microsoft really should have communicated this better.  Nothing like getting this email every half hour, investigating it, seeing that ALL of your device records will be deleted... not really knowing which side they are deleted on (local AD or Azure AD), and worried that someone may have hacked into your system and trying to create a DoS by deleting every AD computer account in existence.

Thi

[2019-09-28 13:55] crixo commented on #39663
That's coorect. I'd like to add validation rule(eg. Regexp) for each user field configured for a specific user flow. What I'd like to avoid is using custom policies instead of user flow for that goal.

[2019-09-28 14:26] jheizman commented on #39666
I see “Number of methods required to reset” but not number required to register - which should be there per the documentation.

[Image]

________________________________
From: Frank Hu <notifications@github.com>
Sent: Friday, September 27, 2019 6:01:21 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: jheizman <jheizman@hotmail.com>; Mention <mention@noreply.github.com>
Subject:

[2019-09-28 14:31] sochan1 commented on #17161
is the replication continuous for Azure VM Managed disks too? if so can the RPO be less than  5 minutes for Azure VMs using managed disks????

[2019-09-28 14:35] jheizman commented on #39666
I’m referring to the documentation here: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-deployment

“Authentication methods required to register” - “Always 1 more than required for reset”

Sent from my mobile device
________________________________
From: Frank Hu <notifications@github.com>
Sent: Friday, September 27, 2019 6:01 PM
To: MicrosoftDocs/azure-docs
Cc:

[2019-09-28 14:50] SnehaAgrawal-MSFT commented on #39466
@Nemeczek Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-28 14:50] #39466 closed

[2019-09-28 14:50] SnehaAgrawal-MSFT commented on #39490
@snoodleboot Since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-28 14:50] #39490 closed

[2019-09-28 14:53] SnehaAgrawal-MSFT commented on #39550
@chrisorisawayi We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-28 14:53] #39550 closed

[2019-09-28 14:56] DaleKoetke commented on #28928
Hi Anand,

As described in the [Azure Bandwidth pricing page](https://azure.microsoft.com/en-us/pricing/details/bandwidth/), data transfer between Azure services located in two regions charged as outbound data transfer at the normal rate. Inbound data transfer is free. However, this charge is very small (few %) compared to the costs for Log Analytics data ingestion. So controlling costs for Log An

[2019-09-28 14:58] ecfan commented on #39710
@jakevis: Thanks for raising this issue. I'll investigate with the engineering team to see what we need to do.

[2019-09-28 15:28] prvempat opened #39721 "Visual Studion subscription is required"
Not all Azure Subscriptions can deploy Visual Studio enabled VM. As mentioned in the document https://docs.microsoft.com/en-us/azure/virtual-machines/windows/client-images, MSDN/Visual Studio subscription is required. Customers get an error as "Platform Image not found" is it is not MSDN subscription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-09-28 15:32] jonwbstr commented on #39619
Hello,

Below is other messaging from microsoft on the topic of password
expiration. At the moment, this article is the only one that doesn't align
with the others. I thought there were more pro password expiration
references out there, but I couldn't find the other one.

First, securescore.office.com has a control worth 10 points named "Do not
expire passwords"

It says industry experts have dete

[2019-09-28 15:35] aaronjones1 opened #39722 "Nuget package for AddMicrosoftIdentityPlatformAuthentication"
Is there no nuget package for accessing the method "AddMicrosoftIdentityPlatformAuthentication"?  I'm trying to add authentication to my existing .NET Core app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140108
* Version Independent ID: 753a9bb3-1e41-83b5-72c2-0d727fa037bb
* Content: [

[2019-09-28 15:53] ram-msft commented on #39718
@felixhauserch Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 15:57] ram-msft commented on #39721
@prvempat Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 16:01] ram-msft commented on #39722
@aaronjones Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-28 16:09] prvempat opened #39723 "Powershell commands do not work"
The powershell commands Add-AzureAccount  and Move-AzureVirtualNetwork do not seem to be working. Appreciate if right commands are updated as these are very important to be used for migration from classic to ARM model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 972e651f-7ac9-fd9c-092b-5fb7334f0721
* Version Independ

[2019-09-28 16:21] KrishnaG-MSFT commented on #39719
@peterlil Thanks for the update.

[2019-09-28 16:26] KrishnaG-MSFT commented on #39685
@normesta Thanks for the quick response. Looks like @srinadhayarram is still having issue accessing the link. Please look into it and/or provide your insights.

[2019-09-28 16:31] Anand-Moghe commented on #28928
@DaleKoetke Thank you!

[2019-09-28 16:31] #28928 closed

[2019-09-28 16:34] himanshusinha-msft commented on #39723
@prvempat  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-28 16:35] northtyphoon commented on #39692
@sudobrendan you can find acr command info from https://github.com/Azure/acr-cli @sajayanyony @dlepow need to add the repo link on the document.

[2019-09-28 16:38] chrisorisawayi commented on #39550
@SnehaAgrawal-MSFT Just seeing this.  The referenced thread does not address the issue. In my case, the setup works if the keyvault references is in application settings on the app service, but does not work if the references are moved into the appsettings section of app.config file of the same app service.

[2019-09-28 17:18] kobulloc-MSFT commented on #39618
@maple10001 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-09-28 17:18] #39618 closed

[2019-09-28 17:19] kobulloc-MSFT commented on #16930
@noahfalk We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-09-28 17:19] #16930 closed

[2019-09-28 17:38] aaronjones1 commented on #39722
I figured it out.  The "AddMicrosoftIdentityPlatformAuthentication" method is from this GitHub project: https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2

I had to download the whole solution, copy the Microsoft.Identity.Web project from it, manually add it to my existing .NET Core solution, add a reference to Microsoft.Identity.Web project, and then add "using M

[2019-09-28 17:40] aaronjones1 commented on #39722
It would be helpful to mention at the top of this article that the "Microsoft.Identity.Web" project is required, and link to the GitHub page.

[2019-09-28 17:40] FrankHu-MSFT commented on #39666
Hey @jheizman, its looking like the image isn't showing up could you please email it to frhu[@]microsoft.com?

[2019-09-28 17:44] ptranter opened #39724 "BackEndApplications throws error"
I got as far as trying to run
python BackEndApplication.py

and got the following import error:
D:\PyIoT\iot-hub\Quickstarts\back-end-application&gt;python BackEndApplication.py
Traceback (most recent call last):
  File "BackEndApplication.py", line 9, in &lt;module&gt;
    import iothub_service_client
  File "C:\Users\johnp\AppData\Local\Programs\Python\Python37\lib\site-packages\iothub_service_c

[2019-09-28 18:05] AjayKumar-MSFT commented on #39425
@DrReedo, Apologies for the delay here! I tried to repro the same issue and received the same error.

![image](https://user-images.githubusercontent.com/44606227/65820469-14247600-e247-11e9-86e8-cced7a833f0d.png)

If you have multiple subscriptions, ensure that you set the right subscription first and then re-try the command:
![image](https://user-images.githubusercontent.com/44606227/65820486-606

[2019-09-28 18:05] #39425 closed

[2019-09-28 18:10] gbagate commented on #39217
The SQL FCI documentation has been updated to include scenario for Windows 2019:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sql/virtual-machines-windows-portal-sql-create-failover-cluster#windows-server-2019

[2019-09-28 18:46] IamSandipC opened #39725 "Virtual Node Scalability limits for AKS"
No where in the document I can find the limits/ quotas available while using Virtual Node scalability of AKS.  Is it restricted by ACI limits like 300 containers per hour? In that case it should be explicitly mentioned. In other documentation pages it is said infinite scalability while using virtual node scaling. Please add some more details. Thanks!

---
#### Document Details

⚠ *Do not edit this

[2019-09-28 19:01] ElanShudnow opened #39726 "exec user process caused "exec format error""
Have tried to run through this tutorial several times and each time I do, I get exec user process caused "exec format error" regardless if I try to use Container Instances or WebApp and regardless if I use the portal or the commands exactly as specified in this tutorial.  On my linux machine, when I run docker run, the container runs just fine.  It just doesn't run properly inside Azure.

Could th

[2019-09-28 19:16] StephenWeatherford opened #39727 "What is the range of allowable values for the "int" data type in ARM templates?"
Important piece of info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0eb51e04-9b4e-c22d-be8c-4ddf4a59a100
* Version Independent ID: 2390761b-e1b9-21d1-ea81-7b8d669d0cf2
* Content: [Azure Resource Manager template structure and syntax](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-author

[2019-09-28 20:12] YutongTie-MSFT commented on #39457
@gvashishtha I am closing this temporaly, please let us know if you still face this issue. Thanks.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-09-28 20:12] #39457 closed

[2019-09-28 20:54] cocowalla opened #39728 "Finer-grained access rights"
The docs only show creating service principals with access rights scoped to an entire registry - is there really no way to scope rights to a repository or tag filter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11bbaa44-52ed-33fd-d710-af73d3665ec9
* Version Independent ID: b11deb17-311c-3aa3-78a7-1f8cdc7e9e5e
* Cont

[2019-09-28 22:20] DCtheGeek commented on #39321
@mrvamsidhar We aren't seeing an obvious answer to the issue.  Can you please open a support ticket and the team will directly engage with you.  I'll close this Issue, but if they have findings, they'll relay those to me and I'll update the docs as necessary.  Thanks for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-09-28 22:20] #39321 closed

[2019-09-28 23:12] MarileeTurscak-MSFT commented on #38150
Unfortunately, this is not currently supported. Feel free to make a feature request in User Voice though. https://feedback.azure.com/forums/169401-azure-active-directory

[2019-09-28 23:12] #38150 closed

[2019-09-29 00:59] RyanHill-MSFT commented on #39025
In https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-auth-aad#configure-auth however, you're configure the app registration for the front-end app.

In https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad#-add-azure-active-directory-information-to-your-app-service-app, you're configuring the app registration for the back-end app when you

[2019-09-29 01:30] MicahMcKittrick-MSFT commented on #39725
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-29 01:30] MicahMcKittrick-MSFT commented on #39728
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-29 02:22] blackchoey commented on #39592
@arnabhetc Have you added the pip package to requirement.txt? If not please add this package to requirement.txt so pip will install the package for you when building docker image.

[2019-09-29 02:59] ctoronavisaf opened #39730 "Azure SQL Database gateway IP addresses available"
Hi.

I would like to confirm if the IP Addresses of Gateways by region that that are on this page, are the ip gateway available that going to change after the October 14, 2019.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-bb5c4184adf1
* Version Independent ID: 2ba5b809-8025-d7ee-c756-d

[2019-09-29 03:50] ram-msft commented on #39724
@ptranter Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 04:35] Pengcici opened #39731 "Reatcive Subscripitons experience changing"
Dear contributors,,

Since account portal is going to migrate to portal.azure.com, the reactive subscription has been changed. Kindly update the doc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4afcaf1-4c44-e88e-da26-a0fdb3b49736
* Version Independent ID: 053c490b-4078-a18c-cc22-38e8e3329dc1
* Content: [Rea

[2019-09-29 04:59] weaselball opened #39732 "Configs are just a vague guide."
The example for syslog-ng listed above, actually starts with a comment (#). the downloaded MS agent config file creates udp listeners, the syslog ng config downloaded trys to connect to a TCP listener.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4894ff7c-b711-09f1-360d-6411c5d3ffa5
* Version Independent ID: c10300bf

[2019-09-29 05:24] ram-msft commented on #39726
@ElanShudnow Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 05:27] ram-msft commented on #39727
@StephenWeatherford Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 05:29] ram-msft commented on #39730
@ctoronavisaf Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 05:56] sochan1 opened #39733 "continuous replication"
is the replication continuous for Azure VM Managed disks too? if so can the RPO be less than 5 minutes for Azure VMs using managed disks????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a8f2ca3-19b1-330d-8dd3-6dcdce38c8d4
* Version Independent ID: 700335aa-c802-0314-1579-3493918f5000
* Content: [Azure Site Recovery:

[2019-09-29 06:24] felixhauserch commented on #39718
Hello Ram

Thank you very much for your email.

I followed exactly the steps on the tutorial (I tried it even twice) but it
does not work as described. Is it just my Azure account that is broken or
is this not working for all Azure client? My Azure account is
felix.hauser.ch@gmail.com.

Regards,
Felix

Ram <notifications@github.com> schrieb am Sa., 28. Sep. 2019, 17:53:

[2019-09-29 06:31] ShannonLeavitt commented on #39430
@Karishma-Tiwari-MSFT this isn't my area of expertise. Sorry!

[2019-09-29 07:11] swinarko commented on #39591
The documentation has been updated.

[2019-09-29 07:12] swinarko commented on #39591
#please-close

[2019-09-29 07:12] #39591 closed

[2019-09-29 07:44] seagull33 commented on #39665
Hello:
I have the same issue. I created a new App and got the same error.  My App type is Bot Channels Registration.

![20190929153744](https://user-images.githubusercontent.com/18344826/65828637-96f11380-e2cf-11e9-83a2-bef743a7faa4.png)

[2019-09-29 07:48] SychevIgor opened #39735 "Provide CLI version as an addition to powershell"
Microsoft so actively advertising CLI, especially for IoT services and AKS, that it's a bit surprisingly that for Digital Twins by default commans are on Powershell.

Could you add CLI version (az login+az ad sp show) to make a consistent experience across IoT specific services?
https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-show

---
#### Document Details

⚠ *Do n

[2019-09-29 07:54] felixhauserch commented on #39718
Hi Ram

I have just tried again and it still doesn't work as described in the
tutorial.

Here is the documentation of the tutorial not working (my Azure/ Microsoft
subscription: felix.hauser.ch@gmail.com):

*A) Tutorial which I followed*

https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant#feedback

*B) Description/ proof of my steps*

Please see the attached screens

[2019-09-29 08:27] SychevIgor opened #39736 "Specify the difference between Azure Digital Twins and Azure Smart Spaces API?"
To be fair - it's unclear - when should we use Azure Digital Twins and Azure Smart Spaces API?
When I will write a guide/instructions for our DevOps people or Global Admins - I should specify exact application name not try this one or try another one. It will not work for big organizations.

Current notes and "explanations" are not enough
![image](https://user-images.githubusercontent.com/578954/6

[2019-09-29 08:48] SychevIgor opened #39737 "Is MSAL supported for Digital Twins"
Microsoft have 2 platforms ADAL (V1) and MSAL (V2).
In this article mentioned only ADAL. If MSAL supported by Digital Twins - please mentioned MSAL as well and https://github.com/AzureAD/microsoft-authentication-library-for-dotnet dotnet library for MSAL.
If not- please explicitly specify it.

Let me give you a content of my feedback- we are choosing between ADAL/MSAL as our corporate standard. MS

[2019-09-29 08:49] forester123 opened #39738 "Code issue"
Directly pasting the code and test in portal, it fails, see below:
![image](https://user-images.githubusercontent.com/13616574/65829520-1505e800-e2d9-11e9-9e0c-20cc8856440a.png)

After changing below two points, it works. Please help double confirm if the code is correct.
1. Change the condition string
2. Use "//" to comment out
![image](https://user-images.githubusercontent.com/13616574/65829526-

[2019-09-29 08:52] SychevIgor opened #39739 "Finally "Azure Smart Spaces" or "Azure Digital Twins"?"
I'm a bit confused. In text- search for "Azure Smart Spaces" on a screenshot - "Azure Digital Twins".
Please, make this article consistent and either update text or screenshot. I personally can't find Azure Smart Spaces API in our AAD
![image](https://user-images.githubusercontent.com/578954/65829591-b0826300-e2af-11e9-9a56-125cac3b3213.png)

---
#### Document Details

⚠ *Do not edit this section.

[2019-09-29 09:54] damendo commented on #34708
Yup, as @TravisCragg-MSFT mentioned, this is called. Was it not prominent enough?

[2019-09-29 09:55] arnabhetc commented on #39592
@blackchoey I have added it -->

[code]
This are two lines in the requirement.txt

[code]

getting this error

[2019-09-29 09:59] damendo commented on #34510
Will add this soon, thanks for the feedback.

[2019-09-29 10:25] manu4rhyme commented on #39371
@DixitArora-MSFT

Hi,
Our function app is running on an app service plan, and the trigger is working correctly as expected (using timespan type expression)

![image](https://user-images.githubusercontent.com/6754924/65830897-6a3dfb80-e2d1-11e9-9271-1a4b55982708.png)

**Only the UI** shows invalid cron expression
![image](https://user-images.githubusercontent.com/6754924/65830913-880b6080-e2d1-11e9

[2019-09-29 10:29] FreekPaans opened #39740 "What is meant by "properly handles writing cached data to persistent disks when needed""
The docs say: "Configure host-cache as ReadWrite only if your application properly handles writing cached data to persistent disks when needed.". But it's unclear what properly means in this context. The example for SQL Server: "For example, SQL Server handles writing cached data to the persistent storage disks on its own. Using ReadWrite cache with an application that does not handle persisting t

[2019-09-29 11:44] felixhauserch commented on #39718
Soved this: Using my laptop with Chrome it did not work, using my Galaxy smartphone with Chrome worked. Do idea why?!

[2019-09-29 11:58] azooinmyluggage commented on #25683
PR to fix the issue https://github.com/MicrosoftDocs/azure-docs/pull/39741

[2019-09-29 12:33] ram-msft commented on #39731
@Pengcici Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-09-29 12:34] ram-msft commented on #39732
@weaselball Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 12:36] ram-msft commented on #39735
@SychevIgor Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 12:53] ram-msft commented on #39733
@sochan1 Thanks for the question. We are investigating the issue and will update you shortly.

[2019-09-29 13:31] Biju-Joseph opened #39742 "creating VMSS using powershell"
The VMSS creation using  powershell commands for a multisite application gateway is giving errors and hence not able to go to next step as indicated.
Biju Joseph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83424970-5018-be40-b5d1-d5719b45759f
* Version Independent ID: 126008c4-7ffb-7116-06e3-192fd855ce36
* Content:

[2019-09-29 13:31] mmacy commented on #39718
Hi @felixhauserch, thanks for the update. I also ran through the steps in this article twice (using Chrome) to confirm functionality, and I was unable to reproduce the issue you reported.

You might try using an Incognito browser window or another browser (Firefox, Edge) to see if that gives you different results.

Either way, consider reporting the issue using the feedback form in the Azure porta

[2019-09-29 13:31] #39718 closed

[2019-09-29 13:41] iampeterdaniels opened #39743 "More on storage, add a page for more average solutions"
This is great info. I still see a lot of differing ideas around the web on storage, tho. Many folks suggest a single drive, possibly with multiple underlying striped disks for data, log, and tempdb. Would be nice to see more on this discussing and decisions around this choice.  Would also be nice to have more info on more average sql server vm configurations for the budget minded. Maybe a separate

[2019-09-29 14:53] ongpok opened #39744 "SqlServerWriter error occurs when backing up machine with AAD Connect v1.4.18.0"
It seems there's an issue with AAD connect v1.4.18.0 where backing up the machine with the specific AAD Connect version will lead to backup failure with SqlServerWriter VSS related error.
This have suddenly happened to more than 5 our clients since 27th Sept 2019.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b

[2019-09-29 15:13] #39744 closed

[2019-09-29 15:21] mark-a-johnson commented on #10149
I've followed the instructions per:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/winrm
When I provision a new VM through the API I get this error:
{
  "startTime": "2019-09-29T15:13:37.5434424+00:00",
  "endTime": "2019-09-29T15:13:38.0591507+00:00",
  "status": "Failed",
  "error": {
    "code": "CertificateImproperlyFormatted",
    "message": "The secret's JSON representation

[2019-09-29 15:27] MicahMcKittrick-MSFT commented on #39740
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-29 15:27] MicahMcKittrick-MSFT commented on #39743
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-29 15:28] DCtheGeek commented on #39652
@jochenvanwylick - Since the information you were looking for is provided above, I'm going to close this Issue.  If you have related feedback, please feel free to continue to comment here.  If you have a new issue with docs, please open a new issue.  Thanks for the question!

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-09-29 15:28] #39652 closed

[2019-09-29 15:46] suneetnangia opened #39745 "No egress charges between datacenters?"
"Cheaper: There's no network egress charge between datacenters." is this a specialised case for container registry? Usually, we have egress cost between regions (datacenters).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6557663-a845-e50b-9db8-529b57f3ee1d
* Version Independent ID: a8accf2c-91d9-dab0-1c04-e8b798b287

[2019-09-29 15:50] Tomer-GRTH commented on #23090
Hi, any news on the ETA?

[2019-09-29 16:17] ecfan commented on #38509
@PgInsight: I've created a work item for clarifying this info in the topic.

[2019-09-29 16:24] himanshusinha-msft commented on #39736
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-29 16:25] himanshusinha-msft commented on #39737
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-29 16:31] himanshusinha-msft commented on #39738
@forester123 . Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2019-09-29 16:32] mkpsw commented on #39591
The script itself is still Az and not AzureRM, so if you copy the script as in "Copy & paste the following PowerShell script" the script wil not work

[2019-09-29 16:33] himanshusinha-msft commented on #39739
@SychevIgor  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-29 16:36] himanshusinha-msft commented on #39742
@Biju-Joseph : Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-29 16:40] himanshusinha-msft commented on #39745
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-09-29 16:52] KrishnaG-MSFT commented on #39744
@ongpok Hope you have self resolved the issue and hence closed it. Thanks for the update. If there are further / any questions regarding this matter or feedback on the Azure documentation, please do let us know and we will gladly continue the discussion.

[2019-09-29 16:57] hecflores opened #39746 "Some Issues are not covered"
Great documentation! I just wanted to mention a blog because the public is facing some issues this documentation is not covering.

One is the status code is returning 0 and another is the email is never received due to authenticated sender issues.

Some of those issues are also covered in this blog:
https://hectorhpflores72.wixsite.com/dreamscreate/post/sending-emails-using-php-sendgrid

---
####

[2019-09-29 17:15] yegu-ms commented on #37635
@aholler2 Thanks for your question! Azure Cache geo-replication works with or without VNET. In case of VNET, you'll also need to set up a VPN gateway to connect the two VNETs together.

[2019-09-29 17:15] yegu-ms commented on #37635
#please-close

[2019-09-29 17:15] #37635 closed

[2019-09-29 17:19] delkos opened #39747 "How to update custom images in a VM Scalet Set?"
Hi!

I have a custom disk where It has installed apache + php mod and extensions.

I have created a VM scale set using this custom disk, but for example If I want to copy several files to disk (**new php files, others apps install**...) for using in the current and new instances/VM (scale horizontal), how do I do?

I have done several tests and I've checked that If I make a file with touch command

[2019-09-29 18:54] hibbertda opened #39748 "Azure Government Compliance incorrect links"
Links for the Microsoft Service Trust portal in the following document are incorrect.

https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-plan-compliance#feedback

The links refer to 'https://aka.ms/azureblueprint' which appears to have changed recently and points to the blueprint server in Azure. These links should go to 'https://servicetrust.microsoft.com/.'

---
##

[2019-09-29 19:38] kumarallamraju opened #39749 "az aks use-dev-spaces -g MyResourceGroup -n MyAKS prompts for administrator password"
[Enter feedback here]

When you run " az aks use-dev-spaces -g MyResourceGroup -n MyAKS" it prompts for administrator password". It's also unclear what administrator password it's referring to. It's a good idea to highlight that users are expected to their machine's password (MAC or Windows) to proceed further. This is also missing in the sample provided in the docs page. See below the correct out

[2019-09-29 19:56] jmprieur commented on #39722
Thanks for your feedback, @aaronjones.
I'm a bit confused because we provided hyperlinks to the code in https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2 throughout the whole article. I'm trying to understand if this is not sufficient?  (apparently they were not obvious to you?)
Can you please confirm that you'd want an explanation about "Microsoft.Identity.Web"

[2019-09-29 20:45] KarlaK-fl opened #39750 "Need a link to instructions for resetting just 1 connection"
I can't find instructions anywhere for how to reset one of our multiple connections (currently has status = unknown).  I can only find how to reset the whole gateway, which I don't want to do while any traffic is being passed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fe1809b-6ed1-ff3e-bd4f-ee80095a8efc
* Version

[2019-09-29 23:18] russellmccloy opened #39751 "Typo?"
Hi there,

Should this line:

Metrics. Application Gateway currently has seven metrics to view performance counters.

actually read:
Metrics. Azure Front Door currently has seven metrics to view performance counters.

Thanks
Russ

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62f7409d-5cbe-20d0-e37a-891981ecac97
* Vers

[2019-09-29 23:33] codingbandit opened #39752 "I am receiving errors on module startup - any ideas what may cause this?"
2019-09-29 21:56:44.374 +00:00 [WRN] - [ASA Warning-"iot-edge-sa1"] ActivityName:"streamingNode0", TraceName:"", TraceId:"", Message:"", Type:"UnhandledException\FileNotFoundException", FxVersion:"1.2.64205.2"
2019-09-29 21:56:44.377 +00:00 [ERR] - Exception: IsFatal: False; System.IO.FileNotFoundException: Could not load file or assembly '/app/__GeneratedQueryCode__.dll'. The system cannot find t

[2019-09-29 23:37] omerzubair opened #39753 "View security policies - Management Group"
- There is no reference in documentation what should we see if we select the Management Group.
- When we select the management group in 'Step #2' under 'View security policies' we get the following wording:
    "The selected subscription is not assigned with a security policy"
It should say :
    "The selected Management Group subscription is not assigned with a security policy"

---
#### Document

[2019-09-29 23:37] omerzubair commented on #39753
![image](https://user-images.githubusercontent.com/7728453/65841469-e4b85b00-e365-11e9-9a0d-e870eb1c6fca.png)

[2019-09-29 23:37] dcbrown16 opened #39754 "Alert timing"
"Within a few minutes, the alert is active and triggers as previously described."
How does the start time get determined, exactly? Particularly for longer frequencies, say I want a log alert to run every day and report the results of a job that runs at 6AM. Is there a way that I can set up my alert so that it will fire close to that time, instead of many hours later? For example, if I initially cr

[2019-09-29 23:49] BharathNimmala-MSFT commented on #39749
@kumarallamraju Thank you for your valuable feedback, I have assigned this to our doc author to further evaluate if the feedback can be incorporated in the documentation. Thank you

[2019-09-30 00:23] JakeAlmer opened #39755 "Include link or instructions for accessing app settings using consumption plan"
It would be helpful to here indicate what is the appropriate way to access app settings when using the consumption plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent ID: 15368d1c-b22e-7eb2-413f-cc0d41d2b909
* Content: [Use dependency injection in .NET Azure F

[2019-09-30 01:07] omerzubair opened #39756 "Unable to Edit security policies - Management Group and Subscription level"
If we want to have policies on the Management Group level, we can click "Assign security policy" button.
- This click takes us to another screen with pre-selected definition "[Preview]: Enable Monitoring in Azure Security Center"
- The defined policies are are not the complete set of OOTB policies.
- There is no ability to add our custom polices in the same screen.
- If we assign the custom polici

[2019-09-30 01:13] omerzubair commented on #39756
![image](https://user-images.githubusercontent.com/7728453/65843140-5b0f8a00-e373-11e9-9374-2eeafa207959.png)

[2019-09-30 01:16] pisees opened #39757 "Why is Application Insights not listed as alternative for cloud-based load testing?"
You reference retirement on this page: https://azure.microsoft.com/en-us/updates/cloud-based-load-testing-features-will-be-retired-on-march-31-2020/, but Application Insights is not listed as an alternative. Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: add07d38-790a-98e7-fd3d-ebc3a82d76c0
* Version Independent I

[2019-09-30 01:30] gutzeit1106 opened #39758 "Each event is scheduled a max amount of time in this document?"
I’m monitoring my VMs. this document describes that each event is scheduled a minimum amount of time in the future based on event type(e.g. Freeze : 15 min). But actually Freeze event was noticed after 15 min ago sometimes.
This document means a max amount of time in the future not a minimum amount?
.
2019-09-26 15:10:02;
200 OK;
{"DocumentIncarnation":279,"Events":[{"EventId":"xxx-xxx-xxx-xxx-xxx

[2019-09-30 01:30] tmweah commented on #39646
@jay98014 and @shashishailaj Thanks for the advice and insights. Looks like not recommended and unwise to piggy back or mix the production and test-oriented proxy services to download the Azure Password Policy from the same Azure AD tenant.

1. Will see how to get a test-oriented Azure AD first.
2. Deploy and setup Azure AD Password Proxy service agents on a member server that is joined to the tes

[2019-09-30 01:59] MedAnd commented on #39485
@dragav - after removing the DefaultServices section from the ApplicationManifest.xml, the above ARM deployment succeeded otherwise a Service is deployed twice by ARM, once via the ARM json definition and once via the ApplicationManifest.xml.

As many Service Fabric deployments will be using ApplicationManifest.xml originally, this finding would be good clarify / add to the documentation?

[2019-09-30 03:00] DixitArora-MSFT commented on #39755
Hi @JakeAlmer Thanks for your feedback. We will review and update as appropriate.

[2019-09-30 03:12] BharathNimmala-MSFT commented on #39757
@pisees Thank you for your question.

Cloud-based load testing service is being used with in performance test option in App services and Application Insights blades. Because of the deprecation of the load testing service , it also affects the existing performance testing option with in App Service and Application Insights, these options will no longer be available after March 31st 2020.

[Cloud-ba

[2019-09-30 03:41] hmheng commented on #19305
I guess there is still no direct way to import cert to linux based app service?
Unlike Windows based, the only way we can get through is to import via keyvault?

[2019-09-30 04:20] SwathiDhanwada-MSFT commented on #39563
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-30 04:20] #39563 closed

[2019-09-30 04:20] jgwinner opened #39759 "Broken default Azure Active Directory sync with Office 365. Docs give defective examples and incorrect prerequisites."
The default installation uses "Proxy Address" as a single value field.

However, a default installation of Office 365 always generates two SMTP addresses for administrators; one for user@corp.onmicrosoft.com and one for user@corp.com.

As a result, you'll get duplicate entries and auto-generated user names that are difficult to remove.

I recommend updating the instructions to indicate do NOT use

[2019-09-30 04:21] SwathiDhanwada-MSFT commented on #39579
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-30 04:21] #39579 closed

[2019-09-30 04:22] RohitMungi-MSFT commented on #39549
@toenie23 We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2019-09-30 04:22] #39549 closed

[2019-09-30 04:25] CHEEKATLAPRADEEP-MSFT commented on #39716
@mapdegree Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-09-30 04:27] ElanShudnow commented on #38431
I also made a comment back in may that VNET to VNET doesn't allow this to work as it doesn't allow transit connectivity.  VNET Peering is required.  Article still hasn't been updated.  These articles for each of the DR scenarios (Azure to Azure is fine) need a big revamp as it needs to be much clearer to the reader on how this all works.

[2019-09-30 04:30] CHEEKATLAPRADEEP-MSFT commented on #39752
@codingbandit Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@mamccrea Could you please look into this issue?

[2019-09-30 04:39] JonNieminen commented on #33909
Regarding this and according to https://azure.microsoft.com/en-us/blog/introducing-backup-for-azure-file-shares/ the pricing is free during the preview. I was wondering this same question and found the blog post.

[2019-09-30 04:44] RohitMungi-MSFT commented on #39746
@hecflores Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-30 04:45] CHEEKATLAPRADEEP-MSFT commented on #39688
@falmada Yes, Hadoop 4.0 is available to use.

This information is available in the same document.

![image](https://user-images.githubusercontent.com/44426401/65850020-aa9d8800-e36a-11e9-9cb3-afb691c6b2e3.png)

While creating the HDInsight cluster, you can select the HDI 4.0 version as shown:

![image](https://user-images.githubusercontent.com/44426401/65850123-226bb280-e36b-11e9-8eb5-2ae4bff22b6

[2019-09-30 04:47] RohitMungi-MSFT commented on #39747
@delkos Could you please post the documentation link that you are using so the issue can be assigned to the right team?

[2019-09-30 04:51] RohitMungi-MSFT commented on #39748
@hibbertda Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-30 05:07] jgwinner opened #39760 "No mention of prereq's"
In one of the closed feedback items, someone from MS pointed out a different document page listing prerequisites.

As this page is linked to from the wizard, you really should put a list of prerequisites on top of the page.

A lot of people are innocently going to click on Password Writeback, thinking of self service password reset (which ALREADY exists in O365), not realizing it won't work. This

[2019-09-30 05:08] souravmishra-msft commented on #39759
@jgwinner, Thank you for pointing this out. I am looking into this and will update the documentation shortly.

[2019-09-30 05:10] jgwinner commented on #39759
Bless you!

[2019-09-30 05:11] jgwinner commented on #39759
Do I need to duplicate the issue for you or add more detail? It really seems like I screwed something up, but I don't see how, it was a very simple setup.

[2019-09-30 05:11] neeleshray-msft commented on #39753
@omerzubair  Thank you for your query. We will review and update the thread.

[2019-09-30 05:12] neeleshray-msft commented on #39756
@omerzubair  Thank you for your query. We will review and update the thread.

[2019-09-30 05:13] neeleshray-msft commented on #39760
@jgwinner  Thank you for the feedback. We are assigning to the author for review.

[2019-09-30 05:14] neeleshray-msft commented on #39760
@MicrosoftGuyJFlo  Could you please review this ?

[2019-09-30 05:17] AjayKumar-MSFT commented on #39564
@bouchaet, Apologies for the delay in responding! I have performed initial investigation with the information you had shared and since it doesn't seem to be a doc related feedback, I will engage with you offline further, so could you please send an email to AzCommunity[at]Microsoft[dot]com referencing this GitHub issue. As we will work with you offline, I will now proceed to close this thread.

[2019-09-30 05:18] jgwinner commented on #23942
@bryanTrach-MSFT I understand not updating an authors blog, but this appears to be a standard Microsoft Docs website. It's even linked to via GitHub. Can't we get this updated?

[2019-09-30 05:21] jgwinner commented on #23942
Oh! I just realized the communication issue. @BryanTrach-MSFT, I think you thought @Neeleshray was asking to update the blog he linked. I believe he was simply asking that something similar to the CONTENT of that blog be insert on THIS page.

Most administrators know why they want this on, they just need the steps. You see, you do it once a year maybe, or once ever in your career. They know they n

[2019-09-30 05:24] ManojReddy-MSFT commented on #39062
@arungk981 Can you elaborate what you mean by attributes?

[2019-09-30 05:25] ManojReddy-MSFT commented on #39417
@Mark7even We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-09-30 05:25] #39417 closed

[2019-09-30 05:27] ManojReddy-MSFT commented on #39638
@festivus You can follow the steps listed in this [article ](https://docs.microsoft.com/en-us/azure/sentinel/offboard)to remove Sentinel.

[2019-09-30 05:29] ManojReddy-MSFT commented on #39644
@BhupalPatil Let me know if you have any further questions regarding this.

[2019-09-30 06:05] SubhashVasarapu-MSFT commented on #39750
@KarlaK-fl, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-30 06:06] PramodValavala-MSFT commented on #39647
@kudlatiger Just following up here... Hope my previous comment clears things up.

[2019-09-30 06:08] SubhashVasarapu-MSFT commented on #39751
@russellmccloy, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-30 06:09] PramodValavala-MSFT commented on #39659
@markdebruijne Just following up here... Could you share more details about your scenario?

Also, do note that this repo is primarily for doc feedback. Queries such as this one are best asked on [StackOverflow](https://stackoverflow.com/questions/tagged/azure-api-management) or [MSDN Forums](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=azureapimgmt) where it would reach a wider

[2019-09-30 06:12] mapdegree commented on #39716
Thank you @CHEEKATLAPRADEEP-MSFT

[2019-09-30 06:18] delkos commented on #39747
Hi @RohitMungi-MSFT

I've used this guide:

https://docs.microsoft.com/es-es/azure/virtual-machine-scale-sets/tutorial-use-custom-image-cli

And It works, but if I need to use a new "custom disk v2" with new php/html files or new software, how do I do?

Regards.

[2019-09-30 06:26] souravmishra-msft commented on #39759
@jgwinner, Some more details around the same. Like, where we are seeing these duplicate entries. and from where you would like to remove the username?

[2019-09-30 06:52] ram-msft commented on #39532
@harkiratbehl Could you please share the steps that you performed.
Please follow the below document for Azure file data store mount.
https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-access-data#compute-and-datastore-matrix

[2019-09-30 07:35] xkobal commented on #39665
It's an old AAD application registration. It's same with another application.

[2019-09-30 07:37] julesman101 opened #39762 "Supported OS?"
In the section "Limitations and Constraints", only WIN2016 and WIN2012R2 are listed as supported OS for accelerated networking.  Can you confirm whether WIN2019 is also supported now?
The reason why I ask is that when I provision a Win2019 Azure VM in the D_v2 range with 2 or more CPU, I see that the Accelerated Networking option is enabled by default.  If WIN2019 is suported, can we please add it

[2019-09-30 07:40] fxnicolas commented on #37716
@qianw211 The article about "managed disk copy" was not helpful (maybe I did not get the point).

I figured out how to test the Packer-generated VHD and how to have the marketplace-compliant SAS URI generated for that VHD. These parts are not well documented and should be since vendors willing to perform automated builds for Azure Marketplace will go for Packer.

Two points I had to figure out:
-

[2019-09-30 07:55] trolleyboy opened #39763 "Elastic Pool scale detail"
Hi there,
It would be awesome if you could expand on point 2 under the "Impact of changing service tier or rescaling compute size" section.  Today we scaled our standard eDTU Elastic Pool up from 200 to 300 DTU and it took 2+ hours to complete.
Scaling back down later this evening took less than 4 minutes.

It would be great to understand which scaling scenario's would take longer, and why.  Addti

[2019-09-30 07:59] souravmishra-msft commented on #38983
@frontbutt, I wanted to check if the above response helped you in answering your query. If any more queries around this issue, do let us know, so that we can help on that too. We are closing this thread for now. Please feel free to re-open it if the need be.

[2019-09-30 07:59] #38983 closed

[2019-09-30 08:05] Maarten-TOPdesk opened #39764 "Incorrect URLs"
In step 4c, the URLs for the SAML configuration are given. However, these values are incorrect. Please update the page with the following information:

d. In the Sign-on URL text box, type a URL using the following pattern: https://&lt;companyname&gt;.topdesk.net

e. In the Identifier URL text box, fill in the TOPdesk metadata URL that you can retrieve from the TOPdesk configuration. It should use

[2019-09-30 08:08] Maarten-TOPdesk opened #39765 "Incorrect URLs"
In step 4, the URLs for the SAML configuration are given. However, these values are incorrect. Please update the page with the following information:

a. In the Sign-on URL text box, type a URL using the following pattern: https://&lt;companyname&gt;.topdesk.net

b. In the Identifier URL text box, fill in the TOPdesk metadata URL that you can retrieve from the TOPdesk configuration. It should use

[2019-09-30 08:12] SadiqhAhmed-MSFT commented on #39572
@dcbrown16, @MarkJTBell and @szymonslipek I understand your concern and as of today this is by design. However, you can workaround this situation. Refer to my post in this [forum link](https://social.msdn.microsoft.com/Forums/en-US/e60043ec-968a-47b6-8e2e-808833df4ca6/moving-to-lrs-vault?forum=windowsazureonlinebackup). Also, please share your valuable feedback in the [user voice forum](https://fe

[2019-09-30 08:12] RohitMungi-MSFT commented on #39754
@dcbrown16 Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-30 08:25] iqsarv opened #39766 "Create basic project failed"
After following the steps in Create a smart contract section, following errors are thrown

I am able to successfully connect to the ABS

[code]

[2019-09-30 08:25] SubhashVasarapu-MSFT commented on #39762
@julesman101, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-30 08:34] souravmishra-msft commented on #39613
@crixo, Regarding mixing of V1 and V2 User Flows, I am checking the same and would test and get back to you with the updates.

[2019-09-30 08:37] RohitMungi-MSFT commented on #39766
@iqsarv Could you please let us know the link to the documentation/steps that you have used from azure docs? This will help us to direct you to the right team for help.

[2019-09-30 08:49] sw-tt-janvivakotar commented on #39570
@ram-msft Thanks for responding me..I am refer below link.
https://docs.microsoft.com/en-us/azure/iot-dps/quick-create-simulated-device-tpm-python#prepare-the-environment

[2019-09-30 08:56] msrini-MSFT commented on #39634
@KumudD , Can you take a look at this issue and update the doc with the alternative ?

[2019-09-30 08:59] SubhashVasarapu-MSFT commented on #39658
@ashemedai, This requires a deeper investigation, so if you have a support plan, I request you file a support ticket, else please do let us know, we will try and help you get a one-time free technical support. In this case, could you send an email to AzCommunity[at]Microsoft[dot]com referencing this thread and your subscription id?

Thank you for your cooperation on this matter and look forward to

[2019-09-30 08:59] #39658 closed

[2019-09-30 09:04] BhupalPatil commented on #39600
@KingdomOfEnds thanks for the detailed inputs and agree on those points. my intention was to check if its possible to build charts using TSI JS JDK without having access to AD (and mainly skipping app registration). Can I send necessary keys (related to TSI environment etc..) directly? is TSI JS SDK strongly couple with AD app registration process and expects the keys... if not then what is the al

[2019-09-30 09:12] OliverRC opened #39767 "PAT Token Scopes - Azure DevOps Repo"
What scopes need to be granted on the PAT token from Azure Devops.
I tried, based on the errors from the az acr task create command, Code(Read) and Notification(manage) but it still doesn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f246d4b-b6bc-3058-ebf8-f7964bdf28b9
* Version Independent ID: 6a0db8fa-aa31-

[2019-09-30 09:26] woutervanranst opened #39769 "What is the difference between a Service Endpoints and a Private Endpoints?"
I would also clarify that a service endpoint remains a publicly routable IP while a private endpoint is a private ip in the addr space of the VNET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80dbc84e-6b51-585f-4cb3-f1cc53658487
* Version Independent ID: d134edd4-43ba-3f61-334d-7058fcf8d9b0
* Content: [Azure Private

[2019-09-30 09:27] woutervanranst opened #39770 "Outbound traffic"
Is Private Link also for outbound traffic (eg app service or other) or only for inbound traffic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80dbc84e-6b51-585f-4cb3-f1cc53658487
* Version Independent ID: d134edd4-43ba-3f61-334d-7058fcf8d9b0
* Content: [Azure Private Link frequently asked questions (FAQ)](https://doc

[2019-09-30 09:33] SubhashVasarapu-MSFT commented on #39751
@russellmccloy, Appreciate your patience. The doc was edited accordingly and it will take some time to get reflected.
If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-09-30 09:40] SadiqhAhmed-MSFT commented on #39569
@MGoedtel Any further assistance you can offer here?

[2019-09-30 09:45] tikimo opened #39771 "JobConfig.json documentation"
Hi. There seem to be various different parameters for JobConfig.json.

Unfortunately, code completion does not suggest correct fields for the file. I've seen the use of "ContainerName", "Path" and "UploadFromLocal".

However, now our company doesn't know where they belong and are these exact names still supported. Please add link to documentation of JobConfig.json asap.

Thank you

---
#### Docume

[2019-09-30 09:49] woutervanranst opened #39772 "Multiple private endpoints"
The answer is listed in the "Private Link Service" - does it also apply to a Private Endpoint (eg can a SQL PaaS receive connections from multiple Private Endpoints)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80dbc84e-6b51-585f-4cb3-f1cc53658487
* Version Independent ID: d134edd4-43ba-3f61-334d-7058fcf8d9b0
* Cont

[2019-09-30 09:50] VikasPullagura-MSFT commented on #39758
@gutzeit1106 Thanks for the feedback, we are investigating and will get back to you on this.

[2019-09-30 09:51] SudeshSharma opened #39773 "Azure VM Reservation in India Region"
I have deployed one web app with azure Virtual machine. Now I want to reserve Virtual Machine for one year. Is it Possible in India to reserve a windows server virtual machine?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edda1fe4-6ce9-ccf2-bc1b-65e9818b1060
* Version Independent ID: 5151901d-a4d3-1148-811f-8c9a95960

[2019-09-30 09:55] tikimo commented on #39771
Also, JobConfig.json linter does not recognise comments (/**/) even though it accepts them

[2019-09-30 09:55] fxgsell opened #39774 "optianlClaims should be a Collection not a String"
As per the optionalClaims documentation: https://docs.microsoft.com/en-gb/azure/active-directory/develop/active-directory-optional-claims
the field for optianlClaims should be a Collection not a String.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f7ced07-0b71-715f-749b-180567591c72
* Version Independent ID: 8c533d7

[2019-09-30 10:16] ram-msft commented on #39532
@harkiratbehl We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 10:16] #39532 closed

[2019-09-30 10:22] souravmishra-msft commented on #38672
@CateBlack, The Phone number acts as a backup for the email. We do alert our customers for any detected threats usually on the mentioned email address, but from our end, when the message gets sent, its from a common notification sending entity, which many a times get overlooked. If the threat levels are really high and we dont see any actions being taken by customers after the notification emails

[2019-09-30 10:22] #38672 closed

[2019-09-30 10:25] kudlatiger commented on #39647
Yes it did. Thanks

[2019-09-30 10:25] #39647 closed

[2019-09-30 10:26] robbiedesutter opened #39776 "Outgoing to IP service tag SQL must be on all ports"
It is insufficient to only allow port 1433 for outgoing traffic for the SQL tag. You must allow ANY port with destination Sql.

If you allow only outgoing port 1433, you'll get errors like
com.microsoft.sqlserver.jdbc.SQLServerException: The TCP/IP connection to the host fd5c231d1df3.tr4118.westeurope1-a.worker.database.windows.net, port 11149 has failed
(note the port and the host name are not fi

[2019-09-30 10:26] SubhashVasarapu-MSFT commented on #39501
@ashemedai, Appreciate your patience, We have noticed it now and will work on this.
SS:
![image](https://user-images.githubusercontent.com/44890829/65870723-86599f80-e39a-11e9-9d23-714b51309f32.png)

As it was not related to doc-bug, I will work on this issue in the backend with the team. We really appreciate your efforts in making our documents more effective. We are closing this issue for now. I

[2019-09-30 10:26] #39501 closed

[2019-09-30 10:26] harkiratbehl commented on #39532
I was able to solve it. The issue was that the file share was mounted at a lot of locations and had reached the maximum number of mounts allowed. So I closed some of the mounts.

[2019-09-30 10:29] SubhashVasarapu-MSFT commented on #39769
@woutervanranst, Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-09-30 10:30] SubhashVasarapu-MSFT commented on #39770
@woutervanranst, We are looking into this query and will update you as soon as possible.

[2019-09-30 10:31] SubhashVasarapu-MSFT commented on #39772
@woutervanranst, We are looking into this query and will update you as soon as possible.

[2019-09-30 10:34] SubhashVasarapu-MSFT commented on #39589
@DonPetry-EY, I am wondering if you had a chance to look over my previous reply. Let me know if you have any query or input for us or if we good to close this issue.

[2019-09-30 10:34] markdebruijne commented on #39659
@PramodValavala-MSFT sorry, the `cache-lookup-value` was lost in markup in the initial description, I have updated it.

We don't use Consumption Tier by the way.

About our scenario: we have an operation-level policy that has that caching policy, in an attempt to cache a large response (20Kb) that doesn't change on the (working) day. APIM and Redis are both running and connected to each other.

Mo

[2019-09-30 10:36] lelandvelasco commented on #29895
I'm getting the same error, I noticed that I can run this "add-rdsaccount -DeploymentUrl …." before rolling out the host pool, then after the rollout to do the rest of the steps I'm getting this error. Now I'm  stock testing the service.

[2019-09-30 10:37] #39307 closed

[2019-09-30 10:37] SadiqhAhmed-MSFT commented on #39307
@Murthy582 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 10:39] markdebruijne commented on #39626
@mike-urnun-msft I have configured APIM to use Redis Cache as external cache. I can confirm that - within Application Insights connected to APIM - `customDimensions["Cache"]` remains `None`. So I expect that it does not dependent on the type of cache store that is being used.

[2019-09-30 10:43] DonPetry-EY commented on #39589
The answer is clear, please go ahead and close

kind regards,

Don

________________________________
From: suvasara <notifications@github.com>
Sent: Monday, September 30, 2019 5:34:26 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Don Petry <don.petry@ey.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Are there billing charges for a Stopped A

[2019-09-30 10:49] vskgit commented on #30802
Hi,

I am getting the same error: "AADSTS50126: Invalid username or password.\r\nTrace ID: <guid>\r\nCorrelation ID: <guid>\r\nTimestamp: 2019-09-30 10:31:04Z ".

Request:

POST https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/token

grant_type: password
client_id: <client id from app registration>
client_secret: <secret key from certificates and secret>
username: username
password: passw

[2019-09-30 11:06] fantinis opened #39777 "After completion - Move files doesn't work anymore"
After completion - Move - doesn't work anymore since 2019-09-27.

I've configured some Data Flow Pipelines it runs every night at the same hour.

The PL, bring the new files (.csv) from Azure Dat Lake Storage Blob Folder and sink the records to Azure SQL Database.

In the source I've selected the option when completed - move.
but since 27-09-2019 the files processed remains in the staging folder.

[2019-09-30 11:26] iqsarv commented on #39766
Sorry somehow the page is missed. Following is the page

https://docs.microsoft.com/en-us/azure/blockchain/service/send-transaction

[2019-09-30 11:27] iqsarv opened #39778 "Create basic project failed"
After following the steps in Create a smart contract section, following errors are thrown

I am able to successfully connect to the ABS

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df32d8b8-aa8f-b8da-3bc6-3fcba16be8bd
* Version Independent ID: 71fdb7e0-bb97-f96a-84fc-778eeb590982
* Content: [Use Visual Studio

[2019-09-30 11:27] iqsarv commented on #39766
I have created new issue from docs. Closing this one

https://github.com/MicrosoftDocs/azure-docs/issues/39778

[2019-09-30 11:27] #39766 closed

[2019-09-30 11:35] SadiqhAhmed-MSFT commented on #39746
@hecflores Thanks once again for sharing the link for documentation enhancement. We will have this reviewed by the content owners and update as appropriate.

[2019-09-30 11:36] SadiqhAhmed-MSFT commented on #39746
@Erikre and @SyntaxC4 Could you please check this request and update the documentation as needed?

[2019-09-30 11:41] SadiqhAhmed-MSFT commented on #39653
@jtuliani Closing this issue for now. Please reopen the issue and tag me in your reply if you've any concerns that should be addressed in the documentation or by the Product Group.

[2019-09-30 11:41] #39653 closed

[2019-09-30 11:44] #39713 closed

[2019-09-30 11:44] SubhashVasarapu-MSFT commented on #39713
@kumarallamraju, Appreciate your patience. The doc was edited accordingly and it will take some time to get reflected.

[2019-09-30 11:45] SadiqhAhmed-MSFT commented on #39640
@racchen We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 11:45] #39640 closed

[2019-09-30 12:18] SubhashVasarapu-MSFT commented on #39762
@julesman101 , Generally Accelerated Networking is supported on most general purpose and compute-optimized instance sizes with 2 or more vCPUs. These supported series are D/DSv2 and F/Fs.
I have checked with Win2019 and it looks like it supports it with the above-mentioned CPU configuration. I have updated the document accordingly and it will take some time to get reflected.
We are closing this is

[2019-09-30 12:22] #39762 closed

[2019-09-30 12:43] AndreaC-MSFT commented on #39361
@lmolkova That's the example code:
[code]
In the real customer scenario the key wouldn't be hard coded but it would instead be either in a custom configuration file or in an environment variable.

I'd like to stress that the way ApplicationInsights is configured  in the code should be irrelevant in this case. When configured to get telemetry from debug session, VS AppInsight Search taps into the r

[2019-09-30 12:46] souravmishra-msft commented on #39456
@MicrosoftGuyJFlo, Can you please look into this ask of customer.

[2019-09-30 12:47] CHEEKATLAPRADEEP-MSFT commented on #39771
@tikimo  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

@mamccrea Could you please look into this issue?

[2019-09-30 12:49] slavizh opened #39780 "Supported regions might be out of date"
According to this:
https://azure.microsoft.com/en-gb/updates/azure-monitor-for-azure-virtual-machines-is-now-available-in-additional-regions/

Azure Monitor for VMs (including health is available in North Europe as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 908295a0-ead4-9061-3a60-b0e9883118e4
* Version Indep

[2019-09-30 12:58] sonnycloudtp opened #39781 "Is there REST API to list individual blobs in a blob container?"
I am looking for REST API to list individual blobs in a blob container. Do you have such an API? I did not see it in your REST API doc for blobs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a056685-6734-380e-562c-92e30b8976a3
* Version Independent ID: 1d17cc5e-f2b1-5489-79fa-e8557fadc5b5
* Content: [Introduction to

[2019-09-30 12:59] KalyanChanumolu-MSFT commented on #39763
@trolleyboy Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-09-30 13:02] ashemedai opened #39782 "FreeBSD versions outdated"
The page lists the following FreeBSD versions:

&gt; FreeBSD 10.3-RELEASE
&gt; FreeBSD 10.4-RELEASE
&gt; FreeBSD 11.1-RELEASE

However, the Marketplace has these available:
* FreeBSD 10.4-RELEASE
* FreeBSD 11.2-RELEASE
* FreeBSD 12.0-RELEASE

Also, `Overview` and `Deploying a FreeBSD virtual machine` duplicate mention of versions. For sake of maintenance, consolidating this in one spot would be ad

[2019-09-30 13:05] ChiragMishra-MSFT commented on #39777
@fantinis Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-09-30 13:07] MGoedtel commented on #39780
@slavizh - The list of supported regions for AzMon for VMs was updated a week or two ago and includes North Europe in the list (https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-overview#prerequisites).  It also indicates that the Health feature is not available for that region.  #please-close

[2019-09-30 13:07] #39780 closed

[2019-09-30 13:09] vanLeeuwen1 commented on #14410
Hi Mark

This is still an issue but we found a way to use a loop to Query 100 records a time.

Regards Melvin

From: Mark Ghanayem <notifications@github.com>
Sent: 04 September 2019 23:40
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Melvin van Leeuwen <Melvin.vanLeeuwen@planonsoftware.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Missing Inf

[2019-09-30 13:11] NavtejSaini-MSFT commented on #39599
@srdan-bozovic-msft @stevestein Please check and approve PR. Assigning the same to you.

[2019-09-30 13:21] Kalmis commented on #35298
I have a similar problem with normal Virtual Machines and Azure keyvault. I uploaded a bundle cert (server + intermediate) to Azure keyvault successfully. Then added the secret to a linux VM, so it is automatically fetched to /var/lib/waagent. However, the .crt file in the folder only includes the server certificate, i.e., intermediate certificate is no longer present.

No errors were thrown at an

[2019-09-30 13:22] JeissonL opened #39783 "How many instances of an Application Gateway I need?"
Hi team,
Currently I have 6 VMs setting behind 1 backend pool of Application Gateway. I need to know how many instances I need to support the optimal operation of my Application Gateway without affect my backend pool functionality and guaranteeing availability of this service.
The best practice say that I need two like minimum, but the question is: Can I support my 6 VMs in my backend pool with on

[2019-09-30 13:28] aaronjones1 commented on #39722
That's fair.  My confusion, though, was not where to go to find that project.  The problem was that I didn't know I needed that project.  I thought this particular article didn't depend on the sample project, so I was following it as a template to try and add authentication to my existing .NET Core app.

[2019-09-30 13:34] JeissonL commented on #39686
Thank you so much. At this moment I had publish this case in the FAQ of Application Gateway and I'm pending for the support.
Thank you a lot.

[2019-09-30 13:34] NavtejSaini-MSFT commented on #39672
@BurstX Assigning this to our doc author for more clarity.
@markjbrown Please check into users question and clarify the same.

[2019-09-30 13:36] NavtejSaini-MSFT commented on #39566
@Ambuj-K We are checking this with our author for further help.
@tknandu Please look into the issues raised by user and please correct if needed.

[2019-09-30 13:37] cap273 commented on #39470
Following up on this comment.

[2019-09-30 13:37] tfitzmac commented on #39727
@StephenWeatherford - thanks for this feedback. The limit is 2147483647, like Int32. I will add that to the doc. Of course, an integer property on a resource might enforce a different limit.

[2019-09-30 13:37] #39359 closed

[2019-09-30 13:38] xtianus79 commented on #39397
@cahann does that contradict the documentation which says this:

https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-container-howto

The latest container, released at 2019 //Build, will support:

[2019-09-30 13:39] jakaruna-MSFT commented on #39330
@mitchellalm ACI will work with ACR.
Do you have any firewalls applied for that ACR?

[2019-09-30 13:40] andyhammar opened #39784 "Is it by design that LogLevel:Logging:Default is not inherited by AI?"
Hi!
I've been struggling and searching and finally found this page, thanks a lot. We've been trying to get 'Trace' level ILogger output to end up on ApplicationInsights for a .net core app.
We were expecting the default Logging:LogLevel settings to be inherited by Application Insights, is that by design or did we mess something up?

With only this we're not getting traces in AI:

  "Logging": {

[2019-09-30 13:42] shashishailaj commented on #39764
@Maarten-TOPdesk Thank you for pointing it out  . We will review it and get this updated accordingly.

[2019-09-30 13:42] shashishailaj commented on #39765
@Maarten-TOPdesk Thank you for pointing it out  . We will review it and get this updated accordingly.

[2019-09-30 13:47] shashishailaj commented on #39774
@fxgsell Thank you for pointing it out . We will investigate and update the thread.

[2019-09-30 13:47] jakaruna-MSFT commented on #39767
@OliverRC
Thanks for the question! We are investigating and will update you shortly.

[2019-09-30 13:53] SadiqhAhmed-MSFT commented on #39731
@Pengcici Thanks for the comment! Only the managing experience is going to change. For example, when you login to accounts portal and select your subscription, you will be redirected to Azure portal. However, when you click on the manage in the Azure portal you will be redirected back to accounts portal. That said, it is not a complete migration of accounts portal to Azure portal.

Let me know if

[2019-09-30 13:54] bobbytreed commented on #38302
@vlado101 @femsulu  I rewrote the entire Start-Stop solution into a tutorial. It is currently waiting on a product feature transition and I will get it merged as soon as I can.

In the meantime, if you are having issues, please let me know which part you got confused on and I will fill in any gaps here.

[2019-09-30 13:56] SadiqhAhmed-MSFT commented on #39524
@brucedkyle Appreciate your patience here! The answer to your question is YES. The guidance in the article applies to all the Azure clouds for resource movement (Data Migration) and Subscription movement.
Let me know if you've any questions I can help with.

[2019-09-30 13:57] RohitMungi-MSFT commented on #39773
@SudeshSharma Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-09-30 13:57] bobbytreed commented on #39076
#AB1607967

[2019-09-30 13:59] Ankita-Chaudhari commented on #39347
Even I am facing the same issue. Auto-Sync feature is not working for the repo which is under Azure Devops.

[2019-09-30 14:07] bobbytreed commented on #39076
I have added this to the backlog for the arm template tutorial

@MicrosoftDocs/azure-cxp-triage #please-close

[2019-09-30 14:07] #39076 closed

[2019-09-30 14:09] bobbytreed commented on #38168
It is 4.6.1

I am working on updating the screenshots and docs.

@MicrosoftDocs/azure-cxp-triage  #please-close

[2019-09-30 14:09] #38168 closed

[2019-09-30 14:12] julesman101 commented on #39762
Many thanks for the very prompt response. Much appreciated!

[2019-09-30 14:14] cijothomas commented on #39784
From the doc itself:

Only Warning or higher ILogger logs (from all categories) are sent to Application Insights by default. But you can apply filters to modify this behavior.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/ilogger#control-logging-level

[2019-09-30 14:14] AlexFiala opened #39785 "Does this also work routing Azure Devops Traffic to internal Azure networks?"
This article: https://devblogs.microsoft.com/devops/expressroute-for-azure-devops/ seems to indicate I can establish an internally-routable connection between a private Azure virtual network and Azure Devops.  Is this documentation what I'd use to enable such a use case?

Essentially, we need Azure Devops Pipelines to be able to communicate with the internal network, using private IP addresses.  A

[2019-09-30 14:21] AjayKumar-MSFT commented on #39726
@ElanShudnow, Thanks for sharing the update! We will close this out, but if you feel you need more information please just let us know.

[2019-09-30 14:21] #39726 closed

[2019-09-30 14:28] jomolesk commented on #39748
Thank you for the feedback. These links will be updated by the referenced PR.

[2019-09-30 14:32] #39638 closed

[2019-09-30 14:42] tymik opened #39786 "Notifications required"
I cannot get notifications on email regarding these VM related events like unplanned reboot. I can see them in web interface, yet I cannot set up any alerts for them. Is the alerting feature missing for this or is there any other problem I am experiencing that keeps me unable to set it up?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-30 14:43] IEvangelist commented on #39397
I'm going to give it a go now and I'll report back my findings.

[2019-09-30 14:44] tomygrenier opened #39787 "Map of entities"
Hi,

I'm using Web Search API v7 (https://docs.microsoft.com/fr-fr/rest/api/cognitiveservices-bingsearch/bing-web-api-v7-reference).

And i am exploring the entities return in the sidebar. Is there a way to get more info about the place returned, like a map image, population, opening time, etc ?

[2019-09-30 14:53] tfitzmac commented on #39727
Update will get published this morning.
#please-close

[2019-09-30 14:53] #39727 closed

[2019-09-30 14:58] MicahMcKittrick-MSFT commented on #39786
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-30 14:58] MicahMcKittrick-MSFT commented on #39782
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-30 14:59] GiftA-MSFT commented on #39590
@macamhi, thank you so much for the information.
@aashishb, can you please verify if it's an expected behavior for the web service signature of Automated ML to change to alphabetical order? If so, can we specify that information in the document for clarity?

[2019-09-30 15:00] ondrejhlavacek opened #39788 "Using the same ARM template to deploy and update AKS cluster, issue with service pricipal"
Trying to wrap my head around this situation.

I have an ARM template to deploy AKS cluster and the template includes `servicePrincipalProfile`. I use a script to create a new SP, assign required role (AcrPull in a specified scope in a different subscription) and then use the credentials in the template.

I want to use the same ARM template to update the AKS cluster but I fail to reuse the SP. I d

[2019-09-30 15:02] Joshua17Thomas opened #39790 "reference to Oracle Fusion ERP support team"
Hi,

The reference to Oracle Fusion ERP support team shows as "mailto:jinshu.peethambaran@oracle.com". I came to know the person has already left Oracle.

Please can you update the docs.

Thanks,

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b73ee87-39b6-cfb7-1daf-21adfc3f5b74
* Version Independent ID: 86778eaf-51dd-

[2019-09-30 15:03] MicahMcKittrick-MSFT commented on #39687
@george-moussa any update on this?

[2019-09-30 15:06] cocowalla opened #39791 "HA clarifications"
I'm finding this text a little vague:

&gt; The request goes through an Azure Load Balancer to determine which Application Proxy service instance should take the request. Per region, there are tens of instances available to accept the request. This method helps to evenly distribute the traffic across the service instances

Does Azure do anything to to ensure availability in the event of a regional

[2019-09-30 15:07] MicahMcKittrick-MSFT commented on #39723
@prvempat what error are you getting when you run these commands?

They commands are working just fine for me. However you should note that these commands are to interact with the classic Azure resources. So it requires a different powershell module.

[2019-09-30 15:09] cocowalla commented on #18313
@barbkess @MicahMcKittrick-MSFT I still find the language used in this page confusing:

Does this mean Azure balances traffic across multiple regions in a _[geography](https://azure.microsoft.com/en-us/global-infrastructure/geographies/)_? (I hope "yes", but I can't discern from this text)

[2019-09-30 15:12] MGoedtel commented on #39344
@bwren will update the doc.

[2019-09-30 15:12] RyanHill-MSFT commented on #39611
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-09-30 15:12] #39611 closed

[2019-09-30 15:15] MicahMcKittrick-MSFT commented on #39725
@IamSandipC thanks for pointing this out. I also am not able to find much info around this.

I will assign this to the content author to review and see if we can get more info added.

Also adding @MicrosoftDocs/aks-pm

[2019-09-30 15:22] MicahMcKittrick-MSFT commented on #39773
Yes. As mentioned in this article you follow this section:

https://docs.microsoft.com/en-in/azure/virtual-machines/windows/prepay-reserved-vm-instances?toc=/azure/billing/TOC.json#buy-a-reserved-vm-instance

You can read more about reserved instances here:
https://docs.microsoft.com/en-us/azure/billing/billing-save-compute-costs-reservations

Also, you are not reserving a Windows VM per say. You

[2019-09-30 15:22] MGoedtel commented on #39569
I didn't originally write this article and would have to step through it myself to see if I can replicate the behavior to determine if there is something in error/outdated or is isolated to what the reader is attempting to do.  I suggest @SadiqhAhmed-MSFT you troubleshoot this further and if there is an issue with the article, escalate to us.  Thanks. Reassigning to @cxp

[2019-09-30 15:22] #39773 closed

[2019-09-30 15:26] MicahMcKittrick-MSFT commented on #39786
You are able to get email alerts for these type of events in Azure.

I would suggest you start with this doc to get a better idea:

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-overview

You can setup alerts for any action performance against the VM
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-alerts

Or in your case, if there is a service impa

[2019-09-30 15:27] mjpagan opened #39793 "Windows 2008 support"
I see that the Supported Operating Systems that "out of the box from the Azure Gallery" are Windows 2012 R2, Windows 2016 and Windows 2019. Is there any way to enable this feature for Windows 2008 servers that have been migrated to Azure for extended support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4be8e45-460a

[2019-09-30 15:28] FISHMANPET opened #39794 "number of nodes created in AKS Tutorial"
Most of the wording in the tutorial implies that the AKS cluster was created with only one node, but the actual command to create the cluster (in page 3, Create Kubernetes cluster) specifies the cluster should be created with two nodes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ab10c96-1f2f-e48f-a084-b1715156e33f

[2019-09-30 15:29] KrishnaG-MSFT commented on #39780
@MGoedtel Thanks for the quick response. :+1:

[2019-09-30 15:29] IamSandipC commented on #39725
Thanks @MicahMcKittrick-MSFT . Will look for the input from the teams.

[2019-09-30 15:43] nelfer commented on #32453
@mjung8 unfortunately no. I read all of the other documentation and haven't found a way to avoid the "redirect" to AAD after a short period of time.
If I can figure out how that redirect/verification is configured, then I can probably just increase it to several hours (instead of the current default that seems to be a few minutes)

[2019-09-30 15:44] MicahMcKittrick-MSFT commented on #39743
@iampeterdaniels I have assigned this to the content author to review and see what we can do.

[2019-09-30 15:46] MicahMcKittrick-MSFT commented on #39794
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-09-30 15:47] claasnic commented on #32711
I am having the same issue again with Azure ML SDK Version:  1.0.62.
Providing a dedicated scikit-learn version in part 1 of the tutorial for the estimator helped:
cd = CondaDependencies.create(pip_packages=['azureml-sdk','scikit-learn==0.20.3','azureml-dataprep[pandas,fuse]>=1.1.14'])

[2019-09-30 15:51] mitchellalm commented on #39330
We don't have any firewall for ACR. As matter of fact, should we create a Security Group to open ports for ACR? Are there any documentation for this plugin to work with ACR?
Instructions and documents so limited and doesn't have a lot for this scenarios.

[2019-09-30 15:52] tschn commented on #18824
ROPC user flow response in chrome differs from response in firefox:
Using firefox I get the 'access_token' in the response from ROPC user flow, but in chrome there is no response body

[2019-09-30 15:52] MicahMcKittrick-MSFT commented on #39723
Adding you can import the classic module here:

https://docs.microsoft.com/en-us/powershell/azure/servicemanagement/install-azure-ps?view=azuresmps-4.0.0#step-2-install-azure-powershell

I will close this out as I have verified the doc works as expected. If you have further issues just let me know and we can always reopen and continue the discussion.

[2019-09-30 15:52] #39723 closed

[2019-09-30 15:56] tfitzmac commented on #39654
@hisasima - thanks for this feedback. It appears that Microsoft.dns in no longer relevant as a resource provider. I will remove it.

[2019-09-30 15:56] tschn opened #39795 "firefox contains a 'access_token' in response after successful authentication, but chrome does not"
for the ROPC flow, chrome responds with a 200 status code, indicating a successfull login, but contains no response body, while firefox includes access_token in response

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c54680bb-ff67-a9e2-4272-1710fe6eb863
* Version Independent ID: 6d15d340-f556-6bb0-8b4c-f4535537189b
* C

[2019-09-30 16:16] taberna29 opened #39796 "Keyboard shortcuts like "G+D" (Go To Dashboard) not working"
Hi all!
I've been trying to use keyboard shortcuts to speedup my navigation in Azure but keyboard shortcuts like "G+D" do not seem to work at all. Keyboard shortcut like "CTRL+/" does work.
I am running on Windows 10, 64 bit, and I've tried several browsers (Edge, Chrome, Firefox) and no success.
Do I need to activate something to use keyboards.
I've looked at this video, "How to use keyboard shor

[2019-09-30 16:18] markjbrown commented on #39672
It depends on where the read is occurring.

If the read is happening outside of the session but in the same region as the write, then the user will see consistent prefix. However, if the read is occurring in another region, the user will see eventual consistency.

Thanks.

#please-close.

[2019-09-30 16:18] #39672 closed

[2019-09-30 16:25] Karishma-Tiwari-MSFT commented on #39217
Thanks @gbagate :)
@bschlechty Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-09-30 16:25] #39217 closed

[2019-09-30 16:28] Grace-MacJones-MSFT commented on #39265
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-09-30 16:28] #39265 closed

[2019-09-30 16:29] prvempat commented on #39723
Hello,

Please find enclosed the errors which are received after following the document.

As per my initial comments, Add-AzureAccount does not work, it works only when you mention Add-AzAccount.

Move-AzureVirtualNetwork is not working. Please see the snapshot attached.

Please also check the internal bug raised : https://msazure.visualstudio.com/One/_workitems/edit/5404632

Can you reopen and co

[2019-09-30 16:32] MicahMcKittrick-MSFT commented on #39723
You imported the AzureRM module. Not the Azure module.

Import-module Azure

![image](https://user-images.githubusercontent.com/32313503/65897926-3dd3bf00-e365-11e9-9e21-3a3c1d47ce6f.png)

[2019-09-30 16:33] kristapratico opened #39797 "Quickstart for Computer Vision client library for Python has wrong command for pip install"
For installing the client library, the quickstart uses ```pip install --upgrade azure-cognitiveservices-Computer Vision``` which is incorrect. This should be:
```pip install --upgrade azure-cognitiveservices-vision-computervision```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13097bc4-3356-1c3f-7068-0c706b5658db
* V

[2019-09-30 16:35] markgar opened #39798 "Documentation Feedback"
For mos of this document, it is walking through how to get analytics data into Power BI Desktop.  But the bottom example shows what looks like a dashboard in PowerBI.com.  I assume that is what you get if you add the Azure Search Analytics App from the marketplace on PowerBI.com.  The App on PowerBI.com asks for a storage account, but no information on the correct way to do that.  Could we take a

[2019-09-30 16:36] normesta commented on #39685
My apologies. Here is the correct link: https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-how-to-set-permissions-storage-explorer

[2019-09-30 16:36] prvempat commented on #39723
Yes, this is what I have done. Is this the correct one?

[cid:image001.jpg@01D577DB.3DB0AE70]

From: Micah <notifications@github.com>
Sent: Monday, September 30, 2019 10:03 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Prashanth Vempati <Prashanth.Vempati@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Powershell commands do not wo

[2019-09-30 16:37] shashishailaj commented on #36066
@canis-lupis

[2019-09-30 16:37] loopfish commented on #35298
Unfortunately Microsoft don't seem to want to know, on this occasion. I spent a lot of time with support and escalation demonstrating there was nothing wrong with my cert bundle, but they insisted it was. Given up using the product due to this.

[2019-09-30 16:39] tamram commented on #39781
@sonnycloudtp - Yes, please https://docs.microsoft.com/rest/api/storageservices/list-blobs

[2019-09-30 16:40] tamram commented on #39781
@sonnycloudtp - let us know if you need anything else.

#please-close

[2019-09-30 16:40] #39781 closed

[2019-09-30 16:40] swanderz opened #39799 ""Where to write files" ambiguity"
What are the pro's and con's in uploading to `'./outputs'`? I assume it is the only way to be able to run and view files from the online workspaces?

Basically, I'm asking, why does the ability to write to `'./outputs'` exist in the first place? Is it for when you don't want to use datastores?!

Right now, I'm saving my files to both `'./outputs'` and my datastores so I can persist my data to down

[2019-09-30 16:41] MicahMcKittrick-MSFT commented on #39723
Feel free to ping me offline and I can help further.

[2019-09-30 16:47] prvempat commented on #39723
I work in IDC.
As per my screenshots and error messages please let me know if I am missing anything.  I am glad to reproduce as per your comments during my time and update you further

Regards,
Prashanth

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Micah <notifications@github.com>
Sent: Monday, September 30, 2019 10:11:36 PM
To: MicrosoftDocs/azure-docs <

[2019-09-30 16:50] MicahMcKittrick-MSFT commented on #39723
I emailed you offline.

[2019-09-30 16:53] Karishma-Tiwari-MSFT commented on #12287
@singhkays Can you please share who would be the right person to help this doc getting updated? Thanks :)

[2019-09-30 16:54] bandersmsft commented on #39675
@Suirtimed Yes, I see that the link isn't working correctly. I'll have this fixed shortly.
#in-process

[2019-09-30 16:54] Grace-MacJones-MSFT commented on #39798
Hi @markgar, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2019-09-30 16:54] kristapratico opened #39800 "Detect brands code snippet shows the detect objects example"
Looks like there might have been a copy/paste mistake since I see detect brand examples in the github code samples: https://github.com/Azure-Samples/cognitive-services-quickstart-code/blob/master/python/ComputerVision/ComputerVisionQuickstart.py#L421

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13097bc4-3356-1c3f-706

[2019-09-30 16:55] #39654 closed

[2019-09-30 17:03] MarileeTurscak-MSFT commented on #39790
@Joshua17Thomas
Thanks for your feedback! We will investigate and update as appropriate.

[2019-09-30 17:04] ashmohammed commented on #30107
Did this url solution worked for anyone? I could not get the SLO to Azure and then back to Workday Sign In page by using the above solution.

[2019-09-30 17:05] bandersmsft commented on #39731
@pengcici Thanks for letting us know. We can only publish documentation for current functionality. The Billing engineering team and I will update this article when new functionality replaces existing. If you want to contact me directly, please feel free.
#please-close

[2019-09-30 17:06] #39731 closed

[2019-09-30 17:09] bandersmsft commented on #39675
@Suirtimed Fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/90120 Removed dead link from heading title (the bad link shouldn't have been in a heading anyway). The correct working link is in the paragraph under https://docs.microsoft.com/en-us/azure/billing/billing-how-to-switch-azure-offer#can-i-migrate-from-a-subscription-with-pay-as-you-go-rates-to-cloud-solution-provider-csp-or-en

[2019-09-30 17:09] #39675 closed

[2019-09-30 17:10] GiftA-MSFT commented on #39800
@kristapratico, thank you for your feedback. We will look into this issue and get back to you shortly.

[2019-09-30 17:12] #36066 closed

[2019-09-30 17:13] GiftA-MSFT commented on #39799
@swanderz thank you for your feedback. We will look into this issue and get back to you shortly.