[2022-10-04 21:44] khdownie commented on #98532
Confirmed with devs that we have proper permissions documented.

[2022-10-04 21:44] khdownie commented on #98532
#please-close

[2022-10-04 21:44] #98532 closed

[2022-10-04 21:52] #98989 closed

[2022-10-04 22:12] mathaholic opened #99468 "Usability: Addition to Next Steps"
I have found a few users opened Supportability tickets because they routed their logs to an Azure Storage account but then later couldn't retrieve them.  After reading this doc I do not see a clear response.  In Next Steps, I would link a follow up tutorial that says "Accessing Azure AD Logs Archived to Azure Storage Account" or similar.

The support engineer couldn't figure it out either, and jus

[2022-10-04 23:00] boliu83 opened #99470 "Secret owned by ReplicatSet doesn't get deleted after RS is scaled to 0 and all consumer pods are deleted"
The above paragraph suggests that Kubernetes secret will get deleted when there is no pods consuming it. However in my testing I found if the pods were part of a Deployment, the `ownerReferences` of the secret becomes the ReplicaSet created by the Deployment so deleting all pods by scaling the Deployment to 0 does not trigger the secret to be garbage collected because the ReplicaSet still exists.

[2022-10-04 23:08] davidsmatlak commented on #47532
This issue was resolved with pull request [47458](https://github.com/MicrosoftDocs/azure-docs/pull/47548) that was merged on February 7, 2020 but the issue wasn't closed.

[2022-10-04 23:08] davidsmatlak commented on #47532
#please-close

[2022-10-04 23:08] #47532 closed

[2022-10-04 23:14] davidsmatlak commented on #54901
The Applicance Resource Provider is a service principal in your Azure Active Directory tenant. In the article, you assign a role to the service principal to access to the key vault. In the **Add service as contributor** section I added some content about the service principal and in the **Next steps** included links to more information about key vault security and how it works with Azure Active Di

[2022-10-04 23:20] #54901 closed

[2022-10-04 23:21] ajbeaven commented on #52874
Why would this issue be closed _before_ the docs were updated and not _when_ they were updated?

Can we please have some answers to @kamilzzz questions above? At present there are way too many ambiguities surrounding identities to comfortably implement anything remotely complicated without blindly copying examples (that use non-documented features might I add).

Should we be using the methods abov

[2022-10-05 00:55] GeethaThatipatri-MSFT commented on #99320
Hi, @pablojavierf document has been updated, Thanks again for your feedback on improving the microsoft document.

[2022-10-05 00:55] #99320 closed

[2022-10-05 01:17] KrishnaG-MSFT commented on #99462
@lbergeron01 Thanks for your comment! We will review and provide an update as appropriate.

[2022-10-05 01:55] Naveenommi-MSFT commented on #99448
@mahmed5896
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-05 01:57] Naveenommi-MSFT commented on #99450
@mjsvr4
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:00] Naveenommi-MSFT commented on #99451
@raidbighead
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:01] Naveenommi-MSFT commented on #99452
@aio-crypto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:06] Naveenommi-MSFT commented on #99459
@irishun
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:11] Naveenommi-MSFT commented on #99463
@soelchma
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:13] Naveenommi-MSFT commented on #99468
@mathaholic
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:17] Naveenommi-MSFT commented on #99470
@boliu83
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 02:40] Naveenommi-MSFT commented on #99417
@sijucm
Thank you for bringing this to our attention. we've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-05 03:11] joeywas opened #99472 "spelling error "executee""
This phrase has a spelling error:
`Build: Read & executee` should be `Build: Read & execute`

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 72579f7e-b040-d514-cf8f-422a66ceb0b0
* Version Independent ID: 22d40926-4a12-7387-61b5-04805b1d5c83
* Content: [Tutorial: Implement CI/CD with GitOps (Flux v2) - Azure Arc](https:

[2022-10-05 03:16] m-yuka746 opened #99474 "Microsoft.Automation/automationAccounts/TotalJob Dimensions is not correct."
Hi team,

TotalJob metric' dimensions is not correct. Could you fix it?

- in docs: Runbook, Status [Microsoft.Automation/automationAccounts](https://learn.microsoft.com/en-us/azure/azure-monitor/essentials/metrics-supported#microsoftautomationautomationaccounts)
![image](https://user-images.githubusercontent.com/89967409/193973342-e003bf53-cc01-4a48-bdc4-a5e631269b3b.png)

- actually: Runbook Nam

[2022-10-05 03:50] ChaitanyaNaykodi-MSFT commented on #99233
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-05 04:07] #99171 closed

[2022-10-05 04:08] ChaitanyaNaykodi-MSFT commented on #99171
Hello @josepabloc96, Thank you for your feedback. I have made the suggested changes and they will go live soon. Thank you!

[2022-10-05 04:09] ChaitanyaNaykodi-MSFT commented on #99388
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-05 04:11] ChaitanyaNaykodi-MSFT commented on #99394
Hello @a6848418,

We will now proceed to close this issue out, please tag me in your response if you have any additional questions. Thank you!

[2022-10-05 04:11] #99394 closed

[2022-10-05 04:16] gaya3kris opened #99476 "Machine Learning Compute Instance Naming Limitation is incorrect"
https://learn.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftmachinelearningservices

The naming restriction mentioned in the document only applies to compute cluster. This is not specifically mentioned. It would be better if the documentation is updated to mention naming limits for compute instances which is different to compute cluster.

---
#### Documen

[2022-10-05 04:21] #99298 closed

[2022-10-05 04:21] ChaitanyaNaykodi-MSFT commented on #99298
Hello @indiraraghavan1986, Thank you for your feedback. I have made the suggested changes and they will go live soon. Thank you!

[2022-10-05 04:42] sijucm commented on #99428
Thanks, but if it's the only protocol maybe say "AMQP is the only protocol
supported" in addition to what's already said.

On Tue, Oct 4, 2022, 23:36 Sreedhar Pelluru ***@***.***>
wrote:

[2022-10-05 05:02] verb55nta opened #99477 "[Document Fix Request] Limitation at Form Recognizer's document is different from actual Form Recognizer's working"
[Enter feedback here]

Hi. I'm Technical Support Engineer at Microsoft Japan.

According to the following part on Form Recognizer's document, we can recognize that the total training dataset size is limited to 50 MB and each indivisual file size is limited to 10 MB

https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/applied-ai-services/form-recognizer/service-limits.md?plain=1#L29
http

[2022-10-05 06:46] xkoeckiiej opened #99478 "The command Event | where EventLevelName == "error" uses error without capital E in error."
The command Event | where EventLevelName == "error" uses error without capital E in error.
If people are not watching properly they won't notice that that is the error why no results are shown as the website uses EventLevelName with capital E Error.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-10-05 07:33] sijucm opened #99479 "What is Oxford meaning of "infrequently accessed " and "rarely accessed""
I do understand the tiers and especially because AWS has a clear description of similar items. But Microsoft chose these terms that does not mean anything. The most irritating thing is they blindly use these words in their certification exams to indicate one or the other.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-10-05 07:36] sijucm commented on #99479
When thinking deep I could find a difference in the meaning. Infrequently accessed is more accessed than rarely accessed. My issue is that the rarely accessed items in the archive tier cannot be accessed without "rehydration" (another jargon thrown into it). Closing this

[2022-10-05 07:51] sijucm opened #99480 "What is mentioned as batch operation is just a loop"
how to perform the batch operation, see [AzBulkSetBlobTier](https://learn.microsoft.com/en-us/samples/azure/azbulksetblobtier/azbulksetblobtier/).

That page just shows a loop and that is not a batch operation. Misleading
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 392e90a0-af77-999e-39a1-78f09ffe0d06
* Version Inde

[2022-10-05 07:55] tehmichalis opened #99481 "Broken github link"
There was an error downloading the template from URI 'https://raw.githubusercontent.com/Azure/Azure-Network-Security/master/Azure DDoS Protection/Azure Monitor Alert - DDoS Mitigation Started/DDoSMitigationStarted.json'. Ensure that the template is publicly accessible and that the publisher has enabled CORS policy on the endpoint. To deploy this template, download the template manually and paste t

[2022-10-05 08:18] robwood894 commented on #99004
Thanks for the confirmation John, exactly as i suspected, the role only grants permission to onboard.

Kind regards,
Rob

Rob Wood
Security Consultant (Contractor)

Net Reply
Nova South
160 Victoria Street, Westminster
London SW1E 5LB - UK
mobile: +34 611447745
***@***.***
www.reply.com<http://www.reply.com/> [http://]

[Net Reply]

________________________________
From: John Marcovecchio ***@***.

[2022-10-05 08:38] ShawnHag commented on #99424
Thank you,,

The docs page was about cross region replication, so I first thought that it was about the distance between datacenters of different regions.
However, the phrase "enabled region" was what got me confused... "Enabled region" made it seem like "enabled for availability zones"..

[2022-10-05 08:52] sijucm opened #99484 "How to write a DLQ? "should add logic in your delegate code to write documents, upon exception, to a dead-letter queue""
`should add logic in your delegate code to write documents, upon exception, to a dead-letter queue`

Is DLQ the right name for this considering that is a common name in the messaging world to mean something?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e1a5194d-0869-94e6-227f-4fba0c798b22
* Version Independent ID: 47

[2022-10-05 08:55] nachoarnaz commented on #98984
Hi Gitarani,

My current architecture has both scenarios (same vnet and different vnet).

***@***.***

Scenario same vnet (called umbrellaacademy): I have two route tables. There are two UDRs (red)

               First route table:

     *   Address Prefix: 0.0.0.0.0/0
     *   Next Hop: Internet

     *   Address Prefix: Backend pool subnet (172.18.0.128/25)
     *   Next Hop: 172.16.4.4 (virtua

[2022-10-05 09:24] brettmillerb opened #99485 "AzTable is out of date and not officially supported"
The learn documentation [here](https://learn.microsoft.com/en-us/azure/storage/tables/table-storage-how-to-use-powershell#feedback) suggests to use the `AzTable` PowerShell module for Table Storage operations.

The `AzTable` module is not officially supported and whilst the maintainer is an MS Employee is lacking support for newer SDK/API operations.

The format of the `.psd1` within the module al

[2022-10-05 09:27] corticalstack commented on #7731
Have this same issue trying to remove metrics collection from an IfDoesNotExist policy to configure a diagnostics setting

[2022-10-05 09:37] sancarn opened #99486 "Usage of `_x0020_` for Fields with spaces isn't described anywhere in ODATA Query docs."
If a field in sharepoint has a space in it supposedly the syntax to use is `_x0020_` for example:

Testing the field named "record id" equals a string "rc-23122" can be done with the following expression:

[code]

It is essential this is described in the docs somewhere. I'm amazed this is even missing from the grammar documentation?!

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-10-05 10:07] LockTar opened #99487 "How to hide "Change email" textbox and button?"
Hi,

After verification of the code, you can continue with changing the password. But on the same step as the continue button you also have the option to change the emailaddress. This is strange because you just successfully verified the emailaddress with a verification code.

We get a lot of questions from people that don't understand this screen because of the emailaddress textbox and "Change e-

[2022-10-05 10:29] i008817 opened #99489 "Q – the easy Installer for SAP IQ"
[Enter feedback here]
Hello
with the usage of the SAPHostAgent Functionality used for the same setup as for the [SL Container Bridge](https://help.sap.com/docs/SAP_DATA_HUB/e66c399612e84a83a8abe97c0eeb443a/691615f1cacd49dea798806aedc4b3d1.html)
Blog - [Q – the easy Installer for SAP IQ](https://blogs.sap.com/2019/05/22/q-the-easy-installer-for-sap-iq/)
the Installation of the SAP IQ Database is ma

[2022-10-05 10:42] aravindh-mb commented on #8144
docker container create --name mc1 -p 6060:60 nginx
Unable to find image 'nginx:latest' locally
latest: Pulling from library/nginx
no matching manifest for windows/amd64 10.0.19043 in the manifest list entries

[2022-10-05 10:42] rgreen1995 opened #99490 "Update use private Python packages for v2"
Hi, I'm trying to move over to the v2 SDK, in particular, I'm looking to move my ACI and aks services to managed ml endpoints but I need to use some private packages in my environment and the current documentation does not apply to the v2 SDK. It would be good to update this page and/or add an equivalent page for v2

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.

[2022-10-05 11:03] YouNeedTea opened #99491 "What is the response structure from Logic App HTTP actions with Pagination?"
There's some documentation missing regarding the Pagination setting on Logic App HTTP actions.
It's unclear what the resulting response body would contain.
For example, does it require that the individual responses are JSON arrays, and then the final result is the merged array?
Or does it simply result in an array of strings, each of which is an individual response body?

---
#### Document Details

[2022-10-05 11:24] dgpoulet opened #99492 "Clarify source / sink in the introduction"
At the start of the document about connecting Kafka with Cosmos, it starts talking about Source & Sink Connectors, but it's not clear without context whether we're talking Kafka as a source, or Cosmos DB as a source. Could the wording be altered to clear up a potential source of confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issu

[2022-10-05 11:27] madsd commented on #99348
@take-4c - is this more clear:
When Route All is enabled, the source address for your outbound public traffic from your app is still one of the IP addresses that are listed in your app properties. If you route your traffic through a firewall or a NAT gateway, the source IP address will then originate from this service.

[2022-10-05 11:56] KaiWalter opened #99493 "Use iwr instead of curl"
I tried the `curl` commands on this page and those did not work in Windows PowerShell on a fresh DataCenter 2022.

I'd rather prefer to tell the readers of this page to use the native PowerShell command `iwr` or Invoke-WebRequest:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c946fe0f-e18d-2529-2fbf-bce04759f

[2022-10-05 12:19] rafa-el-nunes opened #99495 "Rule collection groups don't have a type and can contain all three types of rule collection sets"
The following statement seems incorrect: "_Rule collection types must match their parent rule collection group category. For example, a DNAT rule collection can only be part of a DNAT rule collection group._"

All three rule collection types (DNAT, Network, Application) can belong to the same Rule Collection. Also a rule collection group doesn't have a category.

The correct statement, I believe,

[2022-10-05 12:35] filippopovic commented on #99459
@irishun which example do you see missing?

[2022-10-05 12:57] mumurug-MSFT commented on #99491
@YouNeedTea Thanks for the feedback. We will review and update as appropriate.

[2022-10-05 13:06] mumurug-MSFT commented on #99239
@xmseraph Please use ".so" on Linux and let us know if you have any questions or issues. We will be happy to assist you.

We are closing this thread for now and feel to add a comment or reopen if needed.

[2022-10-05 13:06] #99239 closed

[2022-10-05 13:07] unkinected opened #99496 "Turn automatic backups off"
How do we turn the automatic backup policy off? Any Az powershell commands only return info about custom schedules, but I don't need hourly backups so I'd like to turn them off.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4754bcfc-204a-d398-6b86-e452cd0d44a1
* Version Independent ID: 157885c4-2579-8f98-1e85-c3063a8

[2022-10-05 13:28] parveen-kumar-1 commented on #99430
When passing this ecdsa key into sftp user create command we get

Error running command 'az storage account local-user create --account-name
│ mystorageacc -g myresourcegroup -n mysftpusername
│ --permission-scope permissions=rwlcd service=blob resource-name=mycontainername
│ --ssh-authorized-key key="ecdsa-sha2-nistp256
│ AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPGW4r2esKzHNS6AoLNLLDj

[2022-10-05 13:30] parveen-kumar-1 commented on #99430
CDKTF command output
Executing: ["/bin/sh" "-c" "az storage account local-user create --account-name mystorageacc -g myresourcegroup -n mysftousername --permission-scope permissions=rwlcd service=blob resource-name=mycontainername --ssh-authorized-key key='ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPGW4r2esKzHNS6AoLNLLDjdew7HofEMNvnyMvqLevBUhzOVQkOGyP6FSTKKYg1SA/seut8

[2022-10-05 13:47] ManoharLakkoju-MSFT commented on #99472
@joeywas
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 13:48] ManoharLakkoju-MSFT commented on #99474
@m-yuka746
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 13:57] ManoharLakkoju-MSFT commented on #99477
@verb55nta
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 13:59] aljaydeguzman opened #99498 "screenshots and steps need updating for enabling vm insights"
https://learn.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-enable-policy

the screenshots and steps for using azure policy is outdated here. we need the correct process on how to use azure policy to enable vm insights. it needs to be a workable process as well.

thank you
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-10-05 14:04] joeywas commented on #99472
@ManoharLakkoju-MSFT your welcome, sorry i should have just fixed this minor spelling issue in a pull request first instead of creating the issue. I ended up doing a pull request (mentioned above) to fix the issue

[2022-10-05 14:11] GeorgiKarapetrov opened #99499 "No permissions specified in this tutorial"
What are the minimal role assignments for the service principle managing a cluster for this to work?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a57e48b4-dc33-0b9d-b773-42ce7d2bffd0
* Version Independent ID: e912ac2d-cf6a-0b54-4697-1940b1270874
* Content: [Dynamically create Azure Files share - Azure Kubernetes Ser

[2022-10-05 14:17] jbostoen opened #99500 "Non-domain joined machine trying to access Azure Files"
"If your machine isn't domain joined to an AD DS, you may still be able to leverage AD credentials for authentication if your machine has line of sight to the AD domain controller."

Can this be clarified please? So the machine is not domain joined... Does it simply need to be able to connect/resolve the DNS somehow, or what is expected here?

I assume there are no alternatives?

---
#### Document

[2022-10-05 14:26] ManoharLakkoju-MSFT commented on #99479
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:27] ManoharLakkoju-MSFT commented on #99480
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:29] ManoharLakkoju-MSFT commented on #99481
@tehmichalis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:30] eilz opened #99502 "Cloud Shell Integration - why 3 subnet we can merge it into 2 is this supported and what's min addr sizes for each subnet"
CloudShell VNET Integration is a little puzzling:
a) Why do we need 3 subnets (the diagram only shows 1 subnet) it doesn't state that both storage and relay need its own subnet.
b) If I amended the sample JSON template we can merge this to use 2 subnets e.g. (merge Relay and Storage Subnet) in one, just have to enable the Service Endpoint for MS.Storage to allow this to work, is there any reason w

[2022-10-05 14:34] ManoharLakkoju-MSFT commented on #99484
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:36] Rajini09 opened #99503 "Rstudio"
Few clarifications - Can Rstudio be installed on GPU Instance? and does it new license for both CPU & GPU? Is feature in preview?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 70b332b2-b671-a5e8-0db0-38aa1378dbaf
* Version Independent ID: 13cd812a-48e4-dd85-3cc8-a0b357a5a453
* Content: [Create and manage a compute ins

[2022-10-05 14:39] ManoharLakkoju-MSFT commented on #99485
@brettmillerb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:43] ManoharLakkoju-MSFT commented on #99486
@sancarn
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:50] ManoharLakkoju-MSFT commented on #99493
@KaiWalter
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:51] Klaas- opened #99504 "Rescan device after live resize"
Hi,
it seems for RHEL 8.6 at least -- you need to rescan the device to get the new size
`echo 1 > /sys/block/DISK/device/rescan`
It doesn't seem to reliable notice that itself or it takes ages to notice :)

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 06c61c5a-d9e4-742b-36e5-b9effa33d903
* Version In

[2022-10-05 14:54] ManoharLakkoju-MSFT commented on #99492
@dgpoulet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 14:57] wessm-ms opened #99505 "Add PowerShell version requirement for export script."
[Enter feedback here]
The PowerShell Script on this page requires a higher version than what's installed on the OVF appliance by default because of a requirement for NewtonSoft.json. Suggest this be added, looks like requires at least PS6.

"Failed to complete the export configuration operation.
Exception calling "ListCredentials" with "1" argument(s): "Could not load file or assembly 'Newtonsoft.

[2022-10-05 15:01] ManoharLakkoju-MSFT commented on #99496
@unkinected
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:02] ManoharLakkoju-MSFT commented on #99498
@aljaydeguzman
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:04] ManoharLakkoju-MSFT commented on #99499
@GeorgiKarapetrov
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:04] whhender commented on #99427
@jniemer - Are there any other questions I can answer for you?

[2022-10-05 15:05] ManoharLakkoju-MSFT commented on #99500
@jbostoen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:06] ManoharLakkoju-MSFT commented on #99502
@eilz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:08] ManoharLakkoju-MSFT commented on #99503
@Rajini09
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:09] ManoharLakkoju-MSFT commented on #99504
@Klaas-
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:11] ManoharLakkoju-MSFT commented on #99505
@wessm-ms
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-05 15:21] drazen-relias opened #99507 "Confusing wording"
[Enter feedback here]
In https://learn.microsoft.com/en-us/azure/active-directory-b2c/application-types#web-apis, while describing the steps for the flow the words "web application" and "web server" are used to describe the same thing, and that is confusing. I suggest using "web application" all the time instead.
Please correct me if I am wrong.

---
#### Document Details

⚠ *Do not edit this sect

[2022-10-05 15:27] pebo opened #99508 "ACA KEDA scaling docs"
It would be great if the Azure Container Apps documentation (or the azure container apps page in the portal) stated what keda version is used, e.g. is it 2.8.1 (https://github.com/kedacore/keda/blob/main/CHANGELOG.md)?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 58fa8bbe-e0eb-4944-bc60-617aec0c0dde
* Version Indepe

[2022-10-05 15:32] BE-Digital-Solutions-Bart opened #99509 "Zone- and/or geo-redundancy"
The client that I'm working for requires zone-redundancy in Azure when hosting business-critical applications.
For the Azure Static Web App, it is not documented whether the service will stay available during an outage of an availability-zone. Cloud you check this?

If this is not the case, then I would rather recommend my client to host their static website in zone-redundant Azure Blob Storage wi

[2022-10-05 16:01] DavidNorena commented on #99343
yes, I mean, in my Linux distribution, chrome to be specific doesn't allow me to import the certificate as certificate authority because the created certificate lacks of the constraint I'm talking about.

So its kinda frustrating trying to make the certificate work in some Linux distributions, so it will be good to know if the environment variable AZURE_COSMOS_EMULATOR_CERTIFICATE, indeed allows t

[2022-10-05 16:04] pablojavierf commented on #99320
HI @GeethaThatipatri-MSFT I still see reference up to version 13. I believe it could be a delay for the refresh since you updated the document, but I wanted to let you know just in case.
Thanks for your support.

[2022-10-05 16:05] Hbaele opened #99513 "AAD roles expiration mails"
I see some information is missing. We also get notifications when an AAD role will expire in 1 day. But not consistently...
I noticed that for one role I also have an 'expiration in 14 days' mail. My rights have not changed (still eligible global administrator) and currently I do not get those notifications?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsof

[2022-10-05 16:08] GeethaThatipatri-MSFT commented on #99320
@pablojavierf yes it will take 24hrs to update.

[2022-10-05 16:10] pablojavierf commented on #99320
Thanks @GeethaThatipatri-MSFT
I appreciate your help.

[2022-10-05 16:19] mberry1212 opened #99514 "Scenarios section on this page is misleading/innacurate"
The two scenarios on this page appear to suggest that Azure AD _registered_ devices can be managed by Intune.

Accessing a resource and registering a device in Azure AD is not equivalent to enrolling a device in Intune.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8b5b4ad9-f729-c381-3a69-8aa0daf0b89f
* Version Indep

[2022-10-05 16:31] mike-urnun-msft commented on #99508
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-05 17:04] MicrosoftGuyJFlo commented on #34167
#label:"awaiting-product-team-response"

[2022-10-05 17:08] pgbfnf opened #99517 "Please add Dhs_v3 size to your documentation"
It appears that the Dhs_v3 series is not mentioned anywhere I can find in your documentation, even under deprecated sizes.
Can you please add some mention of it on either this page, or another page related to D_v3 sizes?
(we have over 1000 VMs using this size family - Standard D4hs_v3 and D8hs_v3)

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.

[2022-10-05 17:13] WilliamDAssafMSFT commented on #74368
#reassign:SnehaGunda

[2022-10-05 17:18] WilliamDAssafMSFT commented on #88495
Thanks for this feedback @durantmbie, I agree. The [link here should be modified](https://learn.microsoft.com/en-us/azure/data-factory/lab-data-flow-data-share#:~:text=azure%20synapse%20analytics%3A%20if%20you%20don't%20have%20an%20azure%20synapse%20analytics%2C%20learn%20how%20to%20create%20an%20azure%20synapse%20analytics%20instance.) to point to other walkthrough(s). @jonburchel  can you assist

[2022-10-05 17:18] WilliamDAssafMSFT commented on #88495
#reassign:jonburchel

[2022-10-05 17:18] spelluru commented on #99202
@joeakim - You are right. We will update the article with information about publishing events using Azure AD authentication and the recommendation to disable local auth. Thanks.

[2022-10-05 17:21] zackoch opened #99518 "Azure WAF exclusion operator Equals Any documentation should be more explicit in how it's evaluated"
- [x] The relevant Azure service or technology.
   * Azure Web Application Firewall
- [x] A link to the published documentation article that you have feedback about.
   * https://learn.microsoft.com/en-us/azure/web-application-firewall/ag/application-gateway-waf-configuration?tabs=portal

### Issue
When an exclusion is created in az waf and the operator 'equals any' is used, the frontend allows an

[2022-10-05 17:21] laujan commented on #98985
#reassign:vkurpad

[2022-10-05 17:28] vkurpad commented on #98985
@balachander1964, Can you please email Form Recognizer Contact Us <formrecog_contact@microsoft.com> with the following information:

1. Model type you are trying to train
2. Challenges with model quality (screen shots from the studio would work best to understand what the model is missing on)
3. Sample labeled document (if you are able to provide one)

Currently there are no hyper-parameters that

[2022-10-05 18:02] dsutton-msft opened #99520 "Container Registry Naming"
The example command for Create Container Registry uses a name that has capital letters and I don't think that it should (with my limited knowledge and testing):

az acr create --resource-group myResourceGroup \
  --name myContainerRegistry007 --sku Basic

I think the 'myContainerRegistry007' should be 'mycontainerregistry007' (all lower case)...

---
#### Document Details

⚠ *Do not edit this sect

[2022-10-05 18:03] nickludwig commented on #99385
Hey @PaoloCastAway, thanks for pointing this out. Just created a PR to address this.

[2022-10-05 18:03] JimThorstad opened #99521 "References to deprecated USAGE privilege type should be updated to reflect new USE syntax"
Today the new Unity Catalog privilege model 1.0 went live and USAGE has been replaced by USE CATALOG and USE SCHEMA. Should consider how to update other pages that reference the old USAGE privilege type.

For example this sentence on this page:

"Users can see all catalogs on which they have been assigned the USAGE [data permission](https://learn.microsoft.com/en-us/azure/databricks/data-governanc

[2022-10-05 18:03] jonwbstr opened #99522 "Expected authentication behavior?"
At the top of the article the following statement is found

I'm trying to understand the "expected sign-in experience." From reading the articles around AVD, I have yet to get a sense of the expected user experience.

From my experience, the flow is:
1) Authenticate to Windows Remote Desktop client using credentials and MFA (or passwordless sign-in)
2) Authenticate to Windows Session host using do

[2022-10-05 18:08] JJ-88BEEP commented on #99508
I really have no clue about code I have the account to try and learn due to some issues with user accounts and usb drives and my phone threw google play is managed somehow. I have an android that says its a Linux all the time.

[2022-10-05 18:19] davelee212 opened #99523 "Script requires Microsoft-Windows-Lip-Language-Pack* files which are not present in referenced ISO"
I've been trying to follow this but each time it fails on the line of code at line 48:

 Dism /Online /Add-Package /PackagePath:$LIPContent\Microsoft-Windows-Lip-Language-Pack_x64_$sourceLanguage.cab

It seems there are no files with name starting Microsoft-Windows-Lip-Language-Pack* in the ISO linked to further up in the document "Windows 11, version 22H2 Language and Optional Features ISO".  I'v

[2022-10-05 18:27] tnjman opened #99524 "You missed the step of adding the SQL User"
[Enter feedback here]
You added the "login" to the server / master db, but you forgot the step of also adding the "user" to the server; until I did that, your steps failed and would not let me login. Apparently, that "login + user" from 'master' db are not replicated, since those are "server-level;" and so, after creating the "Login," then final step should be:

"Create a User from the Login you c

[2022-10-05 18:36] SnehaGunda commented on #95565
@KeeveySongMS because there aren't further questions, we are closing this issue. feel free to open a new issue if needed.

#please-close

[2022-10-05 18:36] #95565 closed

[2022-10-05 18:45] #98482 closed

[2022-10-05 18:51] MarileeTurscak-MSFT commented on #99134
The setting only applies to the logged in global admin. The roles are independent of each other and Azure AD roles are not automatically inherited, regardless of the hierarchy. You can be the Global Admin in an AAD tenant, and have no rights in the Azure subscriptions associated with that Azure AD tenant, and vice versa.

[2022-10-05 18:51] #99134 closed

[2022-10-05 18:52] garis commented on #98427
@ElazarK my bad, I didn't noticed the page was referring to the old connector and not the native one.
No issues, just a misunderstanding on my end.

[2022-10-05 18:52] #98427 closed

[2022-10-05 19:05] jonwbstr commented on #99522
In case further explanation is needed

The above phrase does not read as 2 user authentication prompts and 1 MFA prompt. It reads as 1 user authentication prompt and 1 MFA prompt. However, the experience is 2 user prompts and 1 MFA prompt without SSO.

Experience with **MFA** without SSO:
1) authenticate to AVD client with username and password
2) authenticate to AVD client with MFA (if enabled)
3

[2022-10-05 19:10] kuwakino opened #99526 "Copy activity properties > Oracle Cloud Storage as a source type > Property [table]"
Index of options stops on 3, but here are 5 options, or 4 considering `wildcardFolderPath` and `wildcardFileName` used together.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8d4e4514-fd47-997e-1e8b-8ef015ffe595
* Version Independent ID: 2d39f7c3-a3e8-c90d-faca-c287b21dfeaf
* Content: [Copy data from Oracle Cloud Stor

[2022-10-05 19:12] gregpakes commented on #99505
Just hit this issue too!

[2022-10-05 19:28] davidsmatlak commented on #99424
@awysza Please review. This issue was routed to Azure Resource Manager.

[2022-10-05 19:29] davidsmatlak commented on #99502
@theJasonHelmick Please review. This issue was routed to Azure Resource Manager.

[2022-10-05 19:30] davidsmatlak commented on #98334
@theJasonHelmick Please review. This issue was routed to Azure Resource Manager.

[2022-10-05 19:31] tfitzmac commented on #99476
@gaya3kris - thanks for this feedback. I'll have to think about how to proceed since compute instance is not a resource type, but I see that the name restriction is not correct.

[2022-10-05 19:47] maulikshah23 commented on #99441
Adding @Najam ***@***.***>.

We are currently working on supporting Custom Images during the Zn semester for Guest patching.

Najam- could you please help answer this? – I’m not familiar with this process, but I’m assuming these images aren’t supported for guest patching.

Maulik

From: pasnopik ***@***.***>
Sent: Tuesday, October 4, 2022 9:28 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Mauli

[2022-10-05 19:48] rileyastephens opened #99528 "Update requirements to include that users must have access to a Databricks Workspace"
During our deployment of the solution, we've encountered errors pertaining to 403 indicating a permissions error and leaving the Access Connector resource in a failed state. After reaching out to support, we were told that the undocumented workaround is that you need to have permissions in a Databricks Workspace to be able to create the connector. Please update the requirements to indicate this.

[2022-10-05 19:57] KarlErickson commented on #91311
Hi @ezYakaEagle442 - thanks for the update, I'll report this to the product team.
CC @yangtony90

[2022-10-05 20:13] AjayKumar-MSFT commented on #99241
enterpriseSoftware, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2022-10-05 20:24] tfitzmac commented on #99476
I have added clarification around the different compute types and the number of characters allowed. The update should get published later today.
#please-close

[2022-10-05 20:24] #99476 closed

[2022-10-05 20:38] tfitzmac commented on #99433
I have added clarification about regional resiliency. The update should get published later today.
#please-close

[2022-10-05 20:38] #99433 closed

[2022-10-05 20:42] billmath commented on #81159
Thank for submitting this. I have created a work item for it and will send this to engineering so that they can review it and provide me with updated details. I am not sure what the timeline will be, so I am going to close this for now. But once I have an update I will drop it in here and let you know.

Thank you!

Bill

#please-close

[2022-10-05 20:42] #81159 closed

[2022-10-05 20:43] JnHs commented on #62397
Hi @mikeoleary -
First of all, I apologize for the extremely long time to respond. The good news is that we have been working on removing "master" from our content when used in a context relating to primary/subordinates wherever possible, including in our GitHub repo branch names. You may still see some instances where the term is used in a different context, such as describing proficiency in a sk

[2022-10-05 20:43] #62397 closed

[2022-10-05 20:48] lukemurraynz opened #99531 "Link not working on the 'Important 'Upgrading from basic Load Balancer - Guidance'"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-05 20:49] #99531 closed

[2022-10-05 20:51] lukemurraynz opened #99532 "Link not working on the 'Important 'Upgrading from basic Load Balancer - Guidance'"
Link not working on the 'Important 'Upgrading from basic Load Balancer - Guidance.'

![image](https://user-images.githubusercontent.com/24467442/194160797-f8313498-7fe6-4e9a-beb2-8b056730e8d9.png)

[official announcement(https://azure.microsoft.com/updates/azure-basic-load-balancer-will-be-retired-on-30-september-2025-upgrade-to-standard-load-balancer/)]

It needs to be updated to:

[official anno

[2022-10-05 21:20] bon-heur commented on #99397
@mumurug-MSFT, thanks! That's very helpful.

[2022-10-05 21:21] omerzubair opened #99533 "unable to make example 7 to work i.e lock App gateway WAF to front door only using FDID"
[[This example 7 does not work]
](https://learn.microsoft.com/en-us/azure/web-application-firewall/ag/create-custom-waf-rules#example-7)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7f37e9d2-9044-93ba-8ce5-cd9cc3dc64fc
* Version Independent ID: 4c03470f-1e5e-62d1-fbf2-4386e3712fe6
* Content: [Create and use v2 custo

[2022-10-05 21:33] tfitzmac commented on #99334
@jurjenoskam - the child resource is only dependent on the parent resource. I have added this clarification to the article. It should get published tomorrow.
#please-close

[2022-10-05 21:33] #99334 closed

[2022-10-05 21:34] shlipsey3 commented on #70845
I'm the new owner of the "reports and monitoring" documentation, so am taking over related issues, even stale ones from 2021. If updates are still needed, please provide additional details and context so we can determine how to move forward. Thanks!

[2022-10-05 21:43] nzthiago commented on #93200
@feliasson - apologies, I have checked in with our support team and there is an issue that has recently emerged that matches what you have described. While the engineering team are working to address this for everyone, please raise a support call as they can also unblock your apps.

[2022-10-05 21:47] davidsmatlak commented on #99502
#label:"cloud-shell/svc"

[2022-10-05 22:07] tfitzmac commented on #98627
@chanfinlandjob - I double checked this tutorial and everything worked without an error. The main template in this tutorial defines parameters for tsResourceGroup and other values for the template spec. We'll close it for now, but if you have more information about the error, we can look into it.
#please-close

[2022-10-05 22:07] #98627 closed

[2022-10-05 22:27] GeethaThatipatri-MSFT commented on #99524
Hi @tnjman Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-10-05 22:31] shlipsey3 commented on #72380
#please-close

The article referenced originally no longer exists. The content has been migrated into this article: https://learn.microsoft.com/en-us/azure/active-directory/reports-monitoring/quickstart-azure-monitor-route-logs-to-storage-account

[2022-10-05 22:31] #72380 closed

[2022-10-05 22:38] shlipsey3 commented on #97832
Hi! Thanks so much for the feedback. I recently took over this content area and am in the process of updating pretty much everything. I've made note of the section you called out and will make sure to update accordingly. I hope to have this content updated by the end of the month. Thanks!
#please-close

[2022-10-05 22:38] #97832 closed

[2022-10-05 22:45] ecfan commented on #86175
As this question has gone unanswered, I'm closing this thread for now.

#please-close

[2022-10-05 22:45] #86175 closed

[2022-10-05 22:46] ecfan commented on #95440
As this thread has gone unanswered, I'm closing this thread for now.

#please-close

[2022-10-05 22:46] #95440 closed

[2022-10-05 22:47] shlipsey3 commented on #82005
So much of this content has been updated and it's not clear what was out of date in the comment.

#please-close

[2022-10-05 22:47] #82005 closed

[2022-10-05 23:02] shlipsey3 commented on #87849
The article originally referenced no longer exists.
#please-close

[2022-10-05 23:02] #87849 closed

[2022-10-05 23:39] rolyon commented on #99170
Hi @cveld
Thanks for your feedback. To my knowledge, this capability isn't available for a Windows Server Active Directory group. I'll pass your feedback to the team.
I'm not sure of exact reason for the switch. I think to allow customers to choose which groups can be assigned roles.
Let us know if you have any additional feedback.
thanks

[2022-10-05 23:40] rolyon commented on #99170
#please-close

[2022-10-05 23:40] #99170 closed

[2022-10-05 23:42] mmacy commented on #93226
@0bOne Thanks for your request, and apologies for the delayed response. We are currently working on new tutorials, one of the first of which is all about protecting your own web API with the Microsoft identity platform. We can't provide an ETA for its publishing date, but rest assured it's in the works.

Tagging in @OwenRichards1 @cilwerner @davidmu1 to ensure this request is captured but requesti

[2022-10-05 23:42] #93226 closed

[2022-10-05 23:53] mmacy commented on #93650
FYI on this one, team. I'm closing this one out because we have it recorded internally in Azure DevOps as mentioned in the description and requests for this are not high-volume. #please-close

It should be monitored, however, and similar requests should be recorded in the ADO work item to help determine whether it needs priority resourcing (resolution is a bit more involved than other issues as it

[2022-10-05 23:53] #93650 closed

[2022-10-05 23:53] rolyon commented on #98040
Hi @eyekelly
Thanks for your feedback. Are these all the permissions that you are including in your custom role?
microsoft.directory/devices/registeredOwners/update
microsoft.directory/devices/registeredUsers/update
Can you clarify what is not visible?
If you can provide your repo steps, I can send them to the team.
thanks

[2022-10-06 00:01] Robert-Lauriston-at-Striim opened #99534 "Download link for BaltimoreCyberTrustRoot.crt.pem no longer works"
I used that link a while ago, but now I get "Access denied."

https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fa31ec74-fc04-0b31-0b98-b189a809a5b4
* Version Independent ID: 001cbeab-c16d-9205-a02c-1745a256edcb
* Content: [Configure SSL - Azure Database fo

[2022-10-06 00:51] spelluru commented on #99379
@assaf-grth - I have confirmed with our product team that the Standard SKU also supports AZ at no additional cost. Thanks.

I will see where I can add this as a note in our content.

#please-close

[2022-10-06 00:51] #99379 closed

[2022-10-06 01:30] KFMjr opened #99535 "Add Link Out to License Mobility Rights"
**Documentation Section**
'I'm using SQL Server CAL licenses. How can I move to Azure SQL?
SQL Server CAL licenses with appropriate license mobility rights can be used on Azure SQL VMs, and on Azure SQL Dedicated Host'

Ask: Could you please include a documentation link to what the appropriate licenses are with mobility rights?

The 'recommended content' at bottom of page provides no additional co

[2022-10-06 02:13] Anaphylaxis opened #99536 "Images Incorrect on /active-directory/authentication/tutorial-enable-sspr-writeback"
Both images appear to show the Azure AD Connect desktop application with the "Password Writeback" box highlighted with a red box. From the text it appears the second image should be of the Azure website, not the Azure AD Connect desktop app.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 115ae83a-95dd-5643-bc88-f5447e

[2022-10-06 02:35] Park-minkyu opened #99537 "Description of TLS have a little confusions"
Hello team,

I was looking for information about TLS Version supporting of Azure
and found article below :

Azure SQL connectivity settings - https://learn.microsoft.com/en-us/azure/azure-sql/database/connectivity-settings?view=azuresql&tabs=azure-portal#minimal-tls-version

Article describes how to configure TLS in AzureSQL and work with it.
following part of article above tell us that connection

[2022-10-06 02:37] ChaitanyaNaykodi-MSFT commented on #99532
Thank you for your feedback! We will review and update as appropriate.

[2022-10-06 02:39] ChaitanyaNaykodi-MSFT commented on #99533
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-06 02:59] ManoharLakkoju-MSFT commented on #99507
@drazen-relias
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:01] ManoharLakkoju-MSFT commented on #99509
@BE-Digital-Solutions-Bart
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-06 03:04] ManoharLakkoju-MSFT commented on #99513
@Hbaele
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:06] ManoharLakkoju-MSFT commented on #99514
@mberry1212
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:23] archmangler opened #99538 "Is this all ClickOps or is there a CLI / API for Risk Policy Automation?"
Where is the CLI/API automation  instructions for this product?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6a86816d-8f4f-ff4d-4c77-a28e8460e1c7
* Version Independent ID: d36d7379-c3a0-0759-5ab0-25c8a719f574
* Content: [Find help and get support for Azure Active Directory - Azure Active Directory - Microsoft Entra]

[2022-10-06 03:47] ManoharLakkoju-MSFT commented on #99517
@pgbfnf
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:48] AjayBathini-MSFT commented on #99416
@KimForss
Can you please check and add your comments on this doc update request as applicable.

[2022-10-06 03:51] ManoharLakkoju-MSFT commented on #99518
@zackoch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:52] ManoharLakkoju-MSFT commented on #99520
@dsutton-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:53] KrishnaG-MSFT commented on #99505
Assigning to content owner @anvar-ms for visibility, review and document enhancement consideration as appropriate.

[2022-10-06 03:54] ManoharLakkoju-MSFT commented on #99521
@JimThorstad
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:56] ManoharLakkoju-MSFT commented on #99522
@jonwbstr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:57] ManoharLakkoju-MSFT commented on #99523
@davelee212
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 03:59] ManoharLakkoju-MSFT commented on #99526
@kuwakino
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:01] ManoharLakkoju-MSFT commented on #99528
@rileyastephens
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:03] SaibabaBalapur-MSFT commented on #99336
@99Edorde
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-06 04:03] #99336 closed

[2022-10-06 04:04] ManoharLakkoju-MSFT commented on #99534
@Robert-Lauriston-at-Striim
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:04] SaibabaBalapur-MSFT commented on #99346
@hardiktalati
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-06 04:04] #99346 closed

[2022-10-06 04:05] SaibabaBalapur-MSFT commented on #99316
@ChaiSwaddipong
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-06 04:05] #99316 closed

[2022-10-06 04:07] ManoharLakkoju-MSFT commented on #99535
@KFMjr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:08] ManoharLakkoju-MSFT commented on #99536
@Anaphylaxis
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:11] ManoharLakkoju-MSFT commented on #99537
@Park-minkyu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:13] ManoharLakkoju-MSFT commented on #99538
@archmangler
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 04:13] AshokPeddakotla-MSFT commented on #98930
@willyt150 We have not observed such issues.
Sure, we will definitely continue the further troubleshooting once you are available. Incase if you are blocked with this,

Please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, please reach out @ AZCommunity@microsoft.com with a link to this Issue as well as your subscription ID and we can help get the supp

[2022-10-06 04:13] #98930 closed

[2022-10-06 04:48] vluvisotto opened #99539 "Could you please highlight some statement telling Users that once they ran out of credits this type of VM will cap the CPU to the baseline value ?"
Please add some highlighted notification about the utilization of Burstable VMs on production environment as if the user does not monitor the Credits, they can be limited/capped to their baseline CPU.
I have seen users complaining about the fact they did not pay attention to that possibility and got issues on their production environment.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-10-06 04:49] shaktisingh-msft commented on #99534
Hi @savjani,

Could you please look into this ask if the certificate has some changes that is affecting user.

[2022-10-06 05:04] shaktisingh-msft commented on #99537
Hi @

Could you please look into this document enhancement request. Thanks!

![image](https://user-images.githubusercontent.com/110027638/194218512-9915e030-d19c-463a-9a08-9b6b0f23fc31.png)

[2022-10-06 05:18] shaktisingh-msft commented on #99535
Hi @rwestMSFT,

Could you please look into this documentation update request. Thanks!

[2022-10-06 05:41] #99241 closed

[2022-10-06 05:57] RamanathanChinnappan-MSFT commented on #99390
@lucabovo

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@jianleishen
could you please review this and update as appropriate.

[2022-10-06 05:59] Park-minkyu commented on #99537
hello, @shaktisingh-msft

This is the article I mentioned from beginning. This make me confusing.

https://learn.microsoft.com/en-us/azure/azure-sql/database/security-overview?view=azuresql#transport-layer-security-encryption-in-transit

![image](https://user-images.githubusercontent.com/56732077/194225554-d74d9512-bcc2-438c-a095-6e727070d7e3.png)

[2022-10-06 06:08] ManoharLakkoju-MSFT commented on #99493
@KaiWalter
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-10-06 06:08] #99493 closed

[2022-10-06 06:12] ManoharLakkoju-MSFT commented on #99419
@pbo-top
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-06 06:15] xuegao112 opened #99540 "OperationID and name missing"
We'd like to customize out log format, so we have a method to get the logger.

However, when we use the logger, we found that the operation_Name and operation_Id disappeared.

We'd like to know why the operation_Name and operation_Id disappear and how to make it show on the query result.

Here' the sample code to get logger:

FORMAT = json.dumps(

{ 'loggerName': '%(name)s',

'funcName': '%(funcNa

[2022-10-06 06:17] Klaas- commented on #99504
I talked with some qemu people, they seem to have it working that a VM gets notified when using live resize via virtio/virtio-scsi. I think it's happening through set_capacity_and_notify https://github.com/torvalds/linux/blob/master/drivers/block/virtio_blk.c#L582 but I did not really follow all the kernel code. I am guessing this is something that Microsoft did not implement on the HyperV side of

[2022-10-06 06:25] nv10622 commented on #96069
Any update on this, even after following steps 3-4 still callback URL is not giving any response

[2022-10-06 06:35] EmperorRXF opened #99541 "Mismatched behavior to what's described in documentation for Key-Vault secret-name validation"
The documentation says the following about an "object-name":

`An object-name is a user provided name for and must be unique within a Key Vault. The name must be a 1-127 character string, starting with a letter and containing only 0-9, a-z, A-Z, and -.`

The part which says "starting with a letter" seems to be off here, as it's currently allowed to create a secret-name starting with a number or ev

[2022-10-06 06:39] YashikaTyagi-MSFT commented on #99444
@eharley94
Currently it only support JIRA Core and Software: 6.4 to 8.22.1.

Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-10-06 06:49] ManoharLakkoju-MSFT commented on #99536
@Anaphylaxis
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@Justinha
Could you Please review this and update as appropriate.

[2022-10-06 07:01] mohamedsaif opened #99542 "Incorrect reference to AKS Azure RBAC role"
Incorrect reference to AKS Azure RBAC role (word **Service** is missing from the role name)

Correct one would be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e96734ea-cf4c-626a-8429-78df16c4b12a
* Version Independent ID: 18227f13-77c6-fee9-4227-ba203720113d
* Content: [Create an experiment that uses an AKS

[2022-10-06 07:10] WVDAdminTF opened #99543 "Facing issue @ Verify the verified credential expert card"
Hello All,

Thank you so much for the Sample app, it is great. I was able to get the credentials fine into the Microsoft Authenticator App, but failing at "**Verify the verified credential expert card**"

https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-configure-issuer#verify-the-verified-credential-expert-card

I am attaching the screenshot f

[2022-10-06 07:18] YashikaTyagi-MSFT commented on #99401
@durgesh891
I saw a similar issue reported here with the same error message: https://github.com/MicrosoftDocs/azure-docs/issues/97977

Based on the discussion in this thread it looks like if you are adding an access policy for the application you also need to add the policies for both the Verified Credentials Service and the Verifiable Service Request.

![image](https://user-images.githubuserconte

[2022-10-06 07:26] YashikaTyagi-MSFT commented on #99450
@mjsvr4
 Thanks for contributing towards enhancement of document. Required changes have been made and once approve by author it will reflect in the document itself.
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-06 07:26] #99450 closed

[2022-10-06 07:26] SwathiDhanwada-MSFT commented on #99478
@xkoeckiiej Thanks for the feedback! I have fixed the referenced change, and the change should reflect on the doc within 24 hours. We will now proceed to close this thread. If there are further questions regarding this matter, please revert and we will gladly continue the discussion.

[2022-10-06 07:32] YashikaTyagi-MSFT commented on #99468
@ajburnle
Kindly take a look at this issue.

[2022-10-06 07:56] eharley94 commented on #99444
@YashikaTyagi-MSFT - None of those links provided show us any any information about the "Microsoft Azure Active Directory single sign-on" Jira plugin. Is there some where else I can ask this question? This is blocking our whole environment upgrades

[2022-10-06 08:06] AjayBathini-MSFT commented on #99504
@Klaas
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-10-06 08:09] YashikaTyagi-MSFT commented on #99444
@dhivyagana
Could you please take a look at this ?

[2022-10-06 08:12] varunagarwal454 commented on #90145
do we have any ETA by when these features will come in AGIC

[2022-10-06 08:12] AjayBathini-MSFT commented on #99499
@GeorgiKarapetrov
Could you please go through the below link that can be helpful for your query.
https://learn.microsoft.com/en-us/azure/aks/kubernetes-service-principal?tabs=azure-cli

[2022-10-06 08:15] ppaschedag commented on #83225
The example is not complete, without example values it is pretty hard to figure out. Also the "scope" property is not mentioned in the docs, but this seems to be required for an extension resource. Without it deploying the ARM results in a "bad request".

I got it to work with by setting the scope, however the logic about why the resourceId has to have the same value eludes me.

{
      "type": "M

[2022-10-06 08:18] AjayBathini-MSFT commented on #99485
@brettmillerb
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

[2022-10-06 08:18] SwathiDhanwada-MSFT commented on #99105
Assigning to content author @v-amallick for insights

[2022-10-06 08:22] AjayBathini-MSFT commented on #99479
@sijucm
As you mentioned you could find the difference between infrequently accessed and rarely accessed in the above comment.
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-06 08:22] #99479 closed

[2022-10-06 08:26] AjayBathini-MSFT commented on #99445
@parveen-kumar-1
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@normesta
Could you please review it

[2022-10-06 08:29] AjayBathini-MSFT commented on #99432
@jimmart-dev
Can you please check and add your comments on this doc update request as applicable.

[2022-10-06 08:30] ozthe2 opened #99545 "Permissions clarification"
When I ran the PowerShell code I received numerous permission errors.  This is because I only read the section 'Using PowerShell' as I had no intention of using REST APIs.

The solution was found under the section: 'Using REST APIs'  (In section number 1. ) and is because I had not given my account permissions at the root scope.

I think this information needs to be pulled from the 'Using REST API

[2022-10-06 08:35] Martin-Simonsen opened #99546 "Minimum access requirements to access a fileshare from Azure storage explorer"
Isn't "Reader and Data Access" necessary for list access to the storage account?
I have testet and "Storage File Data SMB Share Reader" isn't enough to open the fileshare in Azure Storage Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6ee557e7-c3f2-1b74-adf1-e1d7ee1fed6f
* Version Independent ID: e43af621-11

[2022-10-06 09:11] RamanathanChinnappan-MSFT commented on #99435
@jainchirag21064

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@nabhishek

could you please review this and update as appropriate.

[2022-10-06 09:17] KapilAnanth-MSFT commented on #99422
@sijday, as there is no activity in this thread, I shall proceed with archiving this thread.

Please reopen the thread should you require further information.

[2022-10-06 09:20] priteshpisat opened #99550 "User Authentication type is visible with tag (Preview)"
Can someone please clarify my below question?

While creating new linked service for Google Big Query, I can see User Authentication type is visible with tag (Preview) but nowhere in Microsoft documentation the same is mentioned, even I couldn't see preview tag under linked service screenshot under this article. Why there is such discrepancy? and because of preview tag, I am afraid I won't get any

[2022-10-06 09:22] RamanathanChinnappan-MSFT commented on #99443
@isdataninja

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@linda33wj

could you please review this and update as appropriate.

[2022-10-06 09:41] ManoharLakkoju-MSFT commented on #99514
@mberry1212
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@MicrosoftGuyJFlo
Could you Please review this and update as appropriate.

[2022-10-06 09:44] Naveenommi-MSFT commented on #99437
@cveld
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@mssaperla
Could you Please review this and add your comments, update as appropriate.

[2022-10-06 09:47] aristosvo opened #99551 "Microsoft.Subscription/aliases@2021-10-01 keeps failing"
I cannot create an Subscription Alias, what am I missing? It would really help if the latest and greatest API was documented with a full example:
[code]

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0d73f3e0-d3d3-eca9-483f-4a787fa77bb2
* Version Independent ID: d4046a56-c05e-e278-382d-2cb26dd5c20f
* Content: [

[2022-10-06 10:04] Naveenommi-MSFT commented on #99393
@KyferEz
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@lrtoyou1223
Could you Please review this and add your comments on this, update as appropriate.

[2022-10-06 10:05] KrishnaG-MSFT commented on #98728
@deyanp Can you clarify why we are multiplying by 3 here? Is it because the Azure Policy Add-on requires three Gatekeeper components to run?

The numbers shared (2-3 vCPUs and 350-600 MB per component) are intentionally on the conservative side so you are prepared and avoid usage risks.

The vCPU and MB usage ultimately depends on

1. the number of constraints the user applies and
2. the number of

[2022-10-06 10:05] kengaderdus commented on #97089
@TonySh127-ms,

Thank you for your feedback and patience. This looks like an issue related to the product and not documentation. Please find help by [opening a support ticket](https://learn.microsoft.com/azure/active-directory-b2c/find-help-open-support-ticket).  I'll proceed to close this issue #please-close.

Thanks

[2022-10-06 10:31] vegazbabz opened #99555 "Clarify AKV vs DHSM vs MHSM"
For the sections/questions
_“How do I decide whether to use Azure Key Vault or Azure Dedicated HSM?”
“What usage scenarios best suit Azure Dedicated HSM?”_
I think it would be great for Microsoft to update this section to also include Managed HSM. It seems like the use cases mentioned for AKV can now be done with the Managed HSM to provide you with a FIPS 140-2 Level 3 instead of level 2 solution.

[2022-10-06 10:32] busch opened #99556 "No mentioning of how to initiate a self-service sign-up user flow"
Hey Microsoft,

The article is a perfect description on how to setup a self-service sign-up user flow, but it is missing a description on how to initiate the flow. I just wasted two days of troubleshooting just to figure out that I have to use:

https://login.microsoftonline.com/{tenant}/oauth2/v2.0/authorize

instead of:

https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize

to i

[2022-10-06 10:34] HariKrishna598 opened #99557 "Blob Trigger Azure Function is not triggering automatically for every file upload in the specified Azure Storage container"
Steps to reproduce the issue:

1. Create Azure Function App (.NET 6) in the Azure Portal
2. Create the Blob Trigger
3. Upload the file the specified container
4. Until We given the uploaded file name in the Input box like `azcontainer/textfile.txt`, it is not checking for any file uploads in the container even the function is in running state and application insights logs are connected to it.

In

[2022-10-06 10:36] kishmus opened #99558 "Issue in the example provided"
The program run-hello is not working properly. First the library azure.ai is not getting installed by default. I had to do pip install it. Also in the webpage it does not run Hello.py program in spite of providing the right directory structure. Need more clarity so that for first time user it will be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microso

[2022-10-06 10:38] Venkateshdodda-MSFT commented on #99509
@BE-Digital-Solutions-Bart Thanks for sharing more information on this.

No, Azure static Webapps does not support Availability zones.
As mentioned in the [same documentation](https://learn.microsoft.com/en-us/azure/static-web-apps/private-endpoint), If you are configuring Static Web Apps with a private endpoint allows you to use a private IP address from your VNet. Once this link is created, your

[2022-10-06 10:41] danths commented on #99444
Security issues have being identified on Jira 8.22.X, users have been asking for Jira 9.X for a while ( released in June ). Only if the plugin was compatibel with 9

[2022-10-06 10:47] MarekLani opened #99559 "NGinx Ingress Version"
Hello,

I'd like to ask for clarification regarding version of Nginx Ingress controller which get deployed with Web Application Routing AKS addon. Is it latest official nginx ingress release, or is there Microsoft's fork of the Nginx ingress being used with some potential customizations?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue

[2022-10-06 10:49] mrbullwinkle commented on #96069
@L3vin Any updates from the PG side. I believe your team was investigating and going to provide updated guidance to be added to the doc?

[2022-10-06 10:51] micoolpaul opened #99560 "Update Necessary"
Hi,

It'd be great to see this article updated. Veeam v11 was released about 18 months ago now, with Veeam now being on VBR v11a and v12 coming out in the next 3-6 months as an estimate.

This article states archive tier isn't supported, but as of v11 this feature was added, it'd be good to ensure alignment on this subject.

Thanks,
Michael
---
#### Document Details

⚠ *Do not edit this section. I

[2022-10-06 10:59] deyanp commented on #98728
Hi,

Perhaps I misunderstood the "The Azure Policy Add-on requires three Gatekeeper components to run" and the resource reqs to apply to each pod ...

Still, I would say the reqs are way too "generous". 3 vcpus is an amazing amount of processing power for just checking constrains and intercepting admin cmds.  Are the pods written in Python or what? Because if in Go or even .Net you can't generate

[2022-10-06 11:15] sijucm opened #99562 "Complicated page that does not deal with the basics"
As far as I could read from the myriad of Microsoft created documentation pages, keyvault key supports only asymmetric keys (but I could not find any documentation that clearly says so, just interpretations). How does the client side encryption happen? Does it use the asymmetric keys public portion to encrypt? How does the decryption happen?
I expected client side encryption to use symmetric keys.

[2022-10-06 11:17] ManoharLakkoju-MSFT commented on #99421
@mahaggar
Thanks for reporting this! We have created a PR for this issue and the changes should go live soon.

[2022-10-06 11:21] #99421 closed

[2022-10-06 11:33] kengaderdus commented on #97457
@dkmikthy

Thank you for your feedback and patience. We've fixed this issue. Please note that the changes we make may take some time before they go live. #please-close

Thanks

[2022-10-06 11:42] tomkerkhove opened #99563 "KEDA should be used instead of Azure Kubernetes Metric Adapter"
KEDA should be used instead of Azure Kubernetes Metric Adapter given it has been deprecated more than 2 years ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b63a79cb-cc95-2135-2eee-4dbacaebb9b0
* Version Independent ID: 57506d98-9be9-bc9c-0e57-687f2f595236
* Content: [Autoscale AKS pods with Azure Application Gat

[2022-10-06 11:52] #97752 closed

[2022-10-06 12:31] JananiRamesh-MSFT commented on #99285
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-06 12:31] #99285 closed

[2022-10-06 12:34] GitaraniSharma-MSFT commented on #99563
@tomkerkhove , thank you for your feedback. We have assigned this to the content owner/author for review.

@mscatyao , could you please review the suggestion and provide your inputs?

[2022-10-06 13:04] vikramhn opened #99564 "broken link"
this link is broken in this page
https://github.com/Azure-Samples/media-services-dotnet-functions-integration/blob/master/media-functions-for-logic-app/LiveStreamAnalysis.md - receiving a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6358a2ad-74ae-3ec0-4039-9835c6b975e0
* Version Independent ID: 8b136f7e-581f-9b4

[2022-10-06 13:05] vikramhn opened #99565 "broken link"
this link is broken in this page
https://github.com/Azure-Samples/media-services-dotnet-functions-integration/blob/master/media-functions-for-logic-app/LiveStreamAnalysis.md - receiving a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6358a2ad-74ae-3ec0-4039-9835c6b975e0
* Version Independent ID: 8b136f7e-581f-9b4

[2022-10-06 13:17] kocho-tomu opened #99566 "Local admin groups can be configured in the UI"
This document states that local admin groups for devices must be configured via Custom URI settings however it is available in the UI now under Endpoint Security > Account Protection

Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 823c9751-c496-f972-3b1b-640a1bd81412
* Version Independent ID: 6951f3d5-c766-133c

[2022-10-06 13:18] Harsha-CS commented on #75159
@rathinaman this issue has been addressed and merged - https://github.com/MicrosoftDocs/azure-docs-pr/pull/213833

[2022-10-06 13:30] mumurug-MSFT commented on #99557
@HariKrishna598 Thanks for reaching out. MicrosoftDocs/azure-docs are mainly related to document feedback/issues and for troubleshooting an issue, I would recommend posting a question to [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/topics/25345/azure-functions.html). Our community experts and champions can assist you with this issue.

We will now proceed to close this thread and feel

[2022-10-06 13:30] #99557 closed

[2022-10-06 13:35] joeakim opened #99567 "Referenced Built-In Policies target Windows VMs"
Hi there,

in 3.3. it talks about built-in policies.
Yet those target Windows VMs. Is this an error or will the same policies also work for Linux VMs?
Asking this question, since the document is specific for Linux VMs.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 222c9752-476f-ed33-904f-a3e03fcb1cad
* Versi

[2022-10-06 13:37] mrbullwinkle commented on #95060
Going to close this one out as the doc was updated with this PR: https://github.com/MicrosoftDocs/azure-docs/commit/f710f5466b070ea756ad2fe078bc140f62d4e853 to address the concern of not explicitly calling out support for languages like C#.

[2022-10-06 13:37] mrbullwinkle commented on #95060
#please-close

[2022-10-06 13:37] #95060 closed

[2022-10-06 13:38] GitaraniSharma-MSFT commented on #99377
@miqm , thank you for bringing this to our notice. We've updated the API-Management private link availability to Preview and the changes will go live soon.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-10-06 13:47] joeakim opened #99568 "The Download directory still refers to version 1.0.4."
The Download directory still refers to version 1.0.4.
Currently we are at 1.0.9

Maybe either fix it or take out the absolute version?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf464b1-4b64-5432-2428-1170118a1ace
* Version Independent ID: ab7863b6-2b76-09bd-84b2-0f7d57f1178b
* Content: [Overview of VM Ap

[2022-10-06 13:58] mikeoleary commented on #62397
thank you and no problem at all about the delay @JnHs

[2022-10-06 14:00] jimbarrett33 opened #99569 "Be clear that "OAuth 2.0 On-Behalf-Of flow" is a Microsoft Extension and not part of the OAuth spec"
Your docs make it seem like the the On-Behalf-Of flow (OBO) is part of the OAuth 2 specification and it is not (at least I can't find it after **a lot**  of searching). This makes it very confusing for someone landing on Microsoft's docs to understand OAuth (with Azure) and trying to go back to "the spec" to verify what this doc is actually trying to explain. In my case, it made me go back to auth

[2022-10-06 14:14] MicrosoftGuyJFlo commented on #99514
@mberry1212 What would you suggest?

[2022-10-06 14:27] devtrf opened #99571 "Clarity needed on statement in docs"
On the line regarding "Probe source IP address":

"You can use an IP address space inside of a virtual network that isn't RFC1918 space"

This led to a bit of a confusion with customers where they were hoping to introduce a different source IP for the health probe with an ALB where this is not possible, unlike AppGWs which integrate in the VNET.

---
#### Document Details

⚠ *Do not edit this sect

[2022-10-06 14:29] chesterbeckett commented on #99571
I agree!

[2022-10-06 14:29] ylnhari commented on #90567
not an issue for me anymore

[2022-10-06 14:38] shlipsey3 commented on #87849
Ack - my mistake! I was looking at several articles at the same time, so must have gotten my lines crossed.

The redirect to learn.microsoft.com is part of a rebrand of all our skilling content that includes technical documentation, learn modules, and more.

To speed up resolution on this issue - would you mind providing a few more details? Where in the article are you expecting to see the Network

[2022-10-06 14:40] shlipsey3 commented on #99538
This article is about general support needs for Azure Active Directory in the Azure portal. Can you please clarify what you're looking for? Thanks!

[2022-10-06 14:58] LP0101 commented on #60273
@BlueManiac was this ever resolved? I'm running into the same issue right now. Creating a new ACI in a given subnet delegated to containerinstances/groups, however no network profile is being created

[2022-10-06 15:01] ManoharLakkoju-MSFT commented on #99539
@vluvisotto
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:02] audunsolemdal opened #99573 "CICD integration docs seems outdated"
In your article you describe the way to send container image scans to Defender for Cloud. I remember checking this in July and the setting was there, now it seems to have disappeared.  Im reffering to this screenshot:

![image](https://user-images.githubusercontent.com/21334768/194346814-542650a0-cf70-42d9-be0c-7e348176e20f.png)

Now all I am seeing is this:
![image](https://user-images.githubuser

[2022-10-06 15:03] ManoharLakkoju-MSFT commented on #99540
@xuegao112
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-06 15:04] ManoharLakkoju-MSFT commented on #99541
@EmperorRXF
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:04] KrishnaG-MSFT commented on #99002
Tagging @shayoniseth for visibility, review and to help provide insights.

[2022-10-06 15:10] ManoharLakkoju-MSFT commented on #99545
@ozthe2
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:14] HenriHeijltjes opened #99575 "Improvement proposal for section "Who can view the sensitivity label insights report...""
Hi,

Currently the documentation states:
"Who can view the sensitivity label insights report in Microsoft Purview Data Estate Insights?
All users with at least data reader access to the Microsoft Purview Data Map have permissions to view sensitivity label insights reports in Microsoft Purview Data Estate Insights."

I think this is not the complete answer because:
1) You also need the "Insights re

[2022-10-06 15:18] take-4c commented on #99348
@madsd
Thank you for the clarification! I can understand the described above clearly. Thanks! :)

[2022-10-06 15:22] ManoharLakkoju-MSFT commented on #99555
@vegazbabz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:23] ManoharLakkoju-MSFT commented on #99556
@busch
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:24] EC-429 commented on #98338
Have you had time to check with your team and can you advice now?

[2022-10-06 15:26] ManoharLakkoju-MSFT commented on #99559
@MarekLani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:29] ManoharLakkoju-MSFT commented on #99562
@sijucm
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:32] ManoharLakkoju-MSFT commented on #99564
@vikramhn
Thanks for your feedback! We will investigate and update as appropriate.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-06 15:38] ManoharLakkoju-MSFT commented on #99567
@joeakim
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:40] ManoharLakkoju-MSFT commented on #99569
@jimbarrett33
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-06 15:51] adelagar opened #99577 "AVD and Azure Firewall Rules documentation needs clarification for Azure US Government"
Hello, I am working with my colleague Rich Malanowski and we found some errors on the following article when entering rules with Azure Firewall specifically for Azure US Government: https://learn.microsoft.com/en-us/azure/firewall/protect-azure-virtual-desktop?tabs=azure-for-us-government#create-network-rules

In the Article you state the following line-item rule:

Rule Name | IP Address or Group

[2022-10-06 16:01] OWinfreyATL commented on #98493
Hello Alex,

I have confirmed this statement is no longer applicable in regards to china cloud and am removing that statement from the document.

thanks!

[2022-10-06 16:36] OWinfreyATL commented on #98632
#please-close

[2022-10-06 16:38] pgbfnf commented on #99517
I don't see any mention of the Dhs_v3 sizes on that blog page.
I cannot find any documentation anywhere about what makes the "h" SKU different from the non-"h" SKU.

Peter Bollwerk
Azure Cloud Engineer
Fidelity National Financial
***@***.******@***.***>
Mobile: 714-439-7128

From: AjayBathini-MSFT ***@***.***>
Sent: Wednesday, October 5, 2022 11:13 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc:

[2022-10-06 16:41] spelluru commented on #99428
Updated now. #please-close

[2022-10-06 16:41] #99428 closed

[2022-10-06 16:43] bandersmsft commented on #99551
@aristosvo I'm investigating this with the Azure billing subscription team. When I have details to share, I'll reply here.

[2022-10-06 16:44] mberry1212 commented on #99514
Have the Scenario's section accurately reflect the workflow?

If you are asking me to write Microsoft documentation, I have to laugh at
you.

On Thu, Oct 6, 2022 at 7:14 AM John Flores ***@***.***> wrote:

[2022-10-06 16:49] goneill629 opened #99580 "Private Link and support for AKS backends"
In a recent troubleshooting case, it was determined that Container Networking solutions such as Docker or AKS are not supported with Private Link. This needs to be updated in our documentation.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897

[2022-10-06 17:03] Aarthi-Vijayaraghavan commented on #97918
You're finding about Dadsv5 not having cache is true. We will not be supporting cache for Dadsv5 series. If you plan to use Dadsv5 series the only option is to use temp storage for hosting Ephemeral OS disks. I am not sure what you mean by treating temp storage as cache given that both are different.
For the other question, Temp and cache size do differ based on the VM size. Where to place is up t

[2022-10-06 17:07] Khushbu-Parekh commented on #99345
Hi Saibaba Balapur,

Thanks for your feedback!

We are working on fixing the document. In the meanwhile, if you are planning to add policies to Linux/Windows Server 2022 then please use Azure NPM. Please do let us know if you face any issues.

Regards,
Khushbu Parekh

[2022-10-06 17:11] sstrausbaugh-bardavon opened #99581 "Disable writeback for each existing Microsoft 365 group - Needs more information"
The script to disable writeback for each existing M365 group needs clarification. While it states to use [Microsoft Identity Tools PowerShell module](https://www.powershellgallery.com/packages/MSIdentityTools/2.0.16) and provides an example, I have yet to accomplish this task. Specifically, I run into this issue: https://github.com/microsoftgraph/msgraph-sdk-powershell/issues/1489 which is referre

[2022-10-06 17:21] kengaderdus commented on #97753
@Basssiiie

Thank you for your feedback and patience.

You don't need this part of the template. We've updated the document appropriately. Note that the updates take some time before they go live. #please-close

[2022-10-06 17:21] #97753 closed

[2022-10-06 17:29] sabbadino opened #99582 "Setup application insights authentication in asp.net framework"
in my current code
I do
TelemetryConfiguration.Active.ConnectionString = ...

And below is the code to ask for ad authentication found at
https://learn.microsoft.com/en-us/azure/azure-monitor/app/azure-ad-authentication?tabs=net

var config = new TelemetryConfiguration
{
    ConnectionString = "InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://xxxx.applicationinsigh

[2022-10-06 17:42] chucksnow opened #99583 "What is "Microsoft Managed" and why do I need to enable an Authentication method that is already working and in use?"
In the lists of  authenticationMethodsRegistrationCampaign properties, The 'State' can be set to enabled, disabled, or default.  In two of my tenants the options are enabled, disabled or Microsoft Managed.  How does "Microsoft Managed" work?

The Prerequisites are a bit confusing to me.  I already have users registered and using the Microsoft Authenticator app with push notification for Azure MFA

[2022-10-06 18:06] sstrausbaugh-bardavon commented on #99581
For example,

`Connect-MgGraph -Scopes "Directory.ReadWrite.All, Group.ReadWrite.All"
Select-MgProfile -Name "beta"`

Then Get-mggroup -filter "groupTypes/any(c:c eq 'Unified')" | select -expand WritebackConfiguration will function properly.

[2022-10-06 18:55] davidramsayMS opened #99587 "Resource list for upgrading IP SKUs"
I'd like to suggest that a list be added of each type of resource in azure that can have a PIP associated with it, and whether that PIP can be upgraded based on the resource it's attached to.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 88099640-8090-7bd0-bf73-8fd66934069d
* Version Independent ID: 2fb5ce10-ec6c-297

[2022-10-06 19:18] AlexFilipin opened #99588 "CloudSync guidance not accurate"
The steps in "Create a custom synch rule in Azure AD Connect cloud sync for EmployeeHireDate" recommend a mapping with "Source attribute: msDS-cloudExtensionAttribute1" but msDS-cloudExtensionAttribute1 is not available in Cloud Sync out-of-the-box.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 53987154-8f6c-1ddd-ec0

[2022-10-06 19:23] samirbanjanovic commented on #88227
This threw me for a loop as well while reading docs, however the [action page](https://github.com/marketplace/actions/azure-functions-action#using-publish-profile-as-deployment-credential-recommended) on github has clear guidance on setting it up that properly distinguishes between RBAC and publish profile setup.

[2022-10-06 19:26] larryclaman commented on #85193
@bwren, I realize this issue was closed, but I am having the exact same problem as the original poster, and the suggested fix is not working.
I have confirmed that my query is scoped to a resource, but I am getting the same error of "_Unknown function: 'resource'._"

Any advice or suggestions?

#please-reopen

[2022-10-06 19:29] mattweale opened #99589 "Contact Profile - vNET Prerequisites"
In prerequisites for creating the Contact Profile, there is no mention of needing a vNET with a /24 subnet delegated  to Microsoft.Orbital/orbitalGateways.

This isn't reflected in the steps to create the Contact Profile nor the screenshot:

https://learn.microsoft.com/en-gb/azure/orbital/contact-profile#create-a-contact-profile-resource

[2022-10-06 19:42] Oury-MSFT commented on #99492
@kushagraThapar Please see customer feedback above. Could we please update the doc to bring more clarity.

[2022-10-06 19:44] #99350 closed

[2022-10-06 19:48] bgklein opened #99590 "Document missing crucial step"
Surprised that document (https://learn.microsoft.com/azure/batch/batch-certificate-migration-guide) just says upload the certs to Keyvault and not use the extension and or managed identities explicitly at the end. The next rational question is how do I [Use certificates and securely access Azure Key Vault with Batch - Azure Batch | Microsoft Learn](https://learn.microsoft.com/en-us/azure/batch/cre

[2022-10-06 19:54] rwestMSFT commented on #99535
Thanks, we'll add a link when we next refresh the page. In the meantime, you can find [the link](https://www.microsoft.com/licensing/licensing-programs/software-assurance-license-mobility) to the license mobility page on in a different question:

[2022-10-06 20:05] cwmacdon commented on #87086
It seems like internally this is available and possible, but as @viktor-stojkoski said it is not being sent as part of the request body.

There is also [this help question](https://learn.microsoft.com/en-us/answers/questions/878880/get-object-id-in-b2c-user-creation-api-connector.html) that is unresolved that is essentially the same thing.

It would be really useful to have this objectId, and I'm

[2022-10-06 20:13] afargnoli-ops opened #99591 "Shitty instructions"
Where is "Confirm that the settings in the Git integration tab (User Settings > Git Integration) are correct"? I have Create, Workspace, Repos, Recents, Data, Compute, Workflows and Menu options. That's it! You don't explain where to go to find "User Settings." I cannot read your mind.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-10-06 20:22] MGoedtel commented on #98889
@mosbahmajed - We appreciate your suggestion to include as an alternative approach for customers to consider and use. It looks sound to me, so I'm going to create a work item for us to track this and prioritize within this semester. Thanks!

[2022-10-06 20:24] MicrosoftGuyJFlo commented on #99514
Just asking if you had an idea of a scenario I could add. I will take it to the backlog and work with the PG to make sure that we have the right scenarios documented.

Thanks!

#please-close

[2022-10-06 20:24] #99514 closed

[2022-10-06 20:31] afargnoli-ops opened #99592 "Helpful info for you"
(https://www.zachstagers.co.uk/p/connect-azure-databricks-to-a-devops-repo-in-a-different-tenancy/) gives much better instructions that what's available on any of your web pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2a92b97e-63fe-0f35-9aaf-38f9eb0b219b
* Version Independent ID: 2a92b97e-63fe-0f35-9aaf-38f9eb

[2022-10-06 20:40] bgklein commented on #99590
@alfpark is editing this document internally so closing this

[2022-10-06 20:40] #99590 closed

[2022-10-06 20:51] rwestMSFT commented on #99535
#please-close

[2022-10-06 20:51] #99535 closed

[2022-10-06 21:38] MicrosoftGuyJFlo commented on #99566
#reassign:@MicrosoftGuyJFlo

[2022-10-06 21:44] mbiver opened #99593 "VMSS Secondary interface information"
Hello, team.  Not sure if this is the page for it, but I didn't find much information on adding a secondary interface to a VMSS.   Also, unlike a single VM scenario, it looks like you cannot add a secondary interface, and promote it to primary by removing the original primary interface.  Would like to see this maybe listed in a constraints section perhaps as the only way to have the VMSS "move" to

[2022-10-06 21:46] supernatix opened #99594 "fix: Issue with command to create firewall rule"
In the article there is a command to create the firewall rule which seems to have incorrect or deprecated parameters.

The line:
az mysql flexible-server firewall-rule create --name allanyAzureIPs --server <mysql-server-name> --resource-group myResourceGroup --start-ip-address 0.0.0.0 --end-ip-address 0.0.0.0

Should be:
az mysql flexible-server firewall-rule create --rule-name allanyAzureIPs --na

[2022-10-06 21:58] elmckinn opened #99595 "Missing screenshots"
For "Authenticate with a shared secret or credentials", under step 3, there is missing in formation of what steps a and b should look like. The html has a comment that says "Add screenshot" so I assume that's what's missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f1d0dc38-d758-c941-5ec2-e13ba48650bf
* Version

[2022-10-06 22:15] AlvinRamoutar commented on #83318
It's been a year, has any progress been made on this?
@SaiKishor-MSFT ?

[2022-10-06 23:07] zezha-msft commented on #99148
@eliaquimbrandao thanks for the feedbacks!

@normesta that's correct, supporting multiple AAD tenants is on our roadmap but we haven't gotten to it.

[2022-10-06 23:35] nikki-c opened #99597 "The Onboard new hire employee template incorrect information"
The Onboard new hire employee template does not allow you to change the "Days from event" value as shown in the documentation.

The value is fixed at 0. Therefore all actions are based on the employment date

![image](https://user-images.githubusercontent.com/69439002/194436370-614737f8-b8de-48cf-8c98-5546cf279f83.png)

---
#### Document details

⚠ *Do not edit this section. It is required for lea

[2022-10-07 00:08] OWinfreyATL commented on #99597
Hello Nikki,

Thanks for the catch! We will update this information to be correct.

[2022-10-07 01:20] ChaitanyaNaykodi-MSFT commented on #99587
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-07 01:20] ChaitanyaNaykodi-MSFT commented on #99580
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-10-07 01:56] krispenner opened #99598 "Azure Front Door - Remaing Rules"
Hi,

Regarding this item:

1. Primary question: Are remaining Rule **Sets** associated with the route executed or not?

2. Grammar mistake: "and" should be "then", ("and all remaining rules" should be "**then** all remaining rules").

3. Wording suggestion: "the" should be "their", ("if the matching conditions were met" should be "if **their** matching conditions were met").

Thanks.

---
#### Doc

[2022-10-07 03:16] ManoharLakkoju-MSFT commented on #99581
@sstrausbaugh-bardavon
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:18] ManoharLakkoju-MSFT commented on #99582
@sabbadino
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:19] ManoharLakkoju-MSFT commented on #99583
@chucksnow
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:20] ManoharLakkoju-MSFT commented on #99588
@AlexFilipin
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:24] ManoharLakkoju-MSFT commented on #99589
@mattweale
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:25] ManoharLakkoju-MSFT commented on #99591
@afargnoli-ops
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:27] ManoharLakkoju-MSFT commented on #99592
@afargnoli-ops
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:28] ManoharLakkoju-MSFT commented on #99593
@mbiver
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:30] ManoharLakkoju-MSFT commented on #99594
@supernatix
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:32] ManoharLakkoju-MSFT commented on #99595
@elmckinn
Thanks for your feedback! We will investigate and update as appropriate.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-07 03:33] ManoharLakkoju-MSFT commented on #99597
@nikki-c
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:36] ManoharLakkoju-MSFT commented on #99598
@krispenner
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 03:44] kamfaima opened #99600 "Clarification on non-specific terminology"
I'm seeking clarification on two issues on this page.

1. This page mentions a "bypass network" in which ASR private endpoints should be created in. What exactly IS a bypass network? I have never seen this term used in any documentation apart from this page and is somewhat confirmed by searching learn.microsoft.com for all instances of "bypass network" (https://learn.microsoft.com/en-us/search/?sc

[2022-10-07 03:50] mag-chang opened #99601 "Azure Container Apps - Add example screenshots for setting scale-rules"
Hi team,

I think the document about scale-rules for container apps is lack of example screenshots that setting scale-rules on Azure portal.
For example, we have to input Meta data parameters such as the following image when would like to set a CPU scale-rule.
![image](https://user-images.githubusercontent.com/14034467/194463358-fa6b77e6-eb02-492f-b52a-1c13e005baa7.png)

However, the document does

[2022-10-07 04:06] AjayBathini-MSFT commented on #99517
@andysports8
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 04:08] ManoharLakkoju-MSFT commented on #99387
@robertm73
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-07 04:11] Naveenommi-MSFT commented on #99448
@mahmed5896
We are going to close this thread but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-07 04:11] #99448 closed

[2022-10-07 04:18] Naveenommi-MSFT commented on #99452
@aio-crypto
We are going to close this thread but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-07 04:18] #99452 closed

[2022-10-07 05:04] RamanathanChinnappan-MSFT commented on #99490
@rgreen1995

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@rastala

could you please review this and update as appropriate.

[2022-10-07 05:11] YashikaTyagi-MSFT commented on #99487
@LockTar
I have assigned the issue to author and will provide further updates.

[2022-10-07 05:22] ManoharLakkoju-MSFT commented on #99555
@vegazbabz
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-10-07 05:23] KapilAnanth-MSFT commented on #99598
Hi @krispenner,

The remaining rules in a single rule set will not be evaluated once you check Stop evaluating remaining rule.
If there are other rule sets, they will be evaluated.

I have made the changes in the docs to change "and" to "then".
They should reflect shortly.

[2022-10-07 05:26] ManoharLakkoju-MSFT commented on #99581
@sstrausbaugh-bardavon
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@billmath
Could you Please review this and update as appropriate.

[2022-10-07 05:27] AjayBathini-MSFT commented on #99539
@vluvisotto
If all the credits are used, then only baseline performance can be used which will be around 20% of the original size.
You cannot buy credits, they have to be built automatically with Idle VM. In your case you have to switch to other VM size.

For example:
Say you have a single core machine, Standard_B1ms with 20% baseline. If you still have credits left, you can use up to 100% (i.e. y

[2022-10-07 05:30] AjayBathini-MSFT commented on #99559
@jahabibi
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 05:36] AjayBathini-MSFT commented on #99562
@sijucm
RequireEncryption mode is available only for version 11.x and earlier of the Blob Storage SDK. Version 11.x and all previous versions are deprecated. We recommend updating your applications to version 12.x.

We'll soon be updating this article to remove the version 11.x examples. Recently there was a security vulnerability discovered in client-side encryption (read more [here](https://tech

[2022-10-07 05:40] shaktisingh-msft commented on #99594
Hi @shreyaaithal,

Could you please look into this document update request. Thanks!

[2022-10-07 05:40] AjayBathini-MSFT commented on #99568
@joeakim
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

@ericd-mst-github
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 05:48] SaibabaBalapur-MSFT commented on #99430
@parveen-kumar-1
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@normesta
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 05:53] sijucm commented on #99562
Thanks for the update and pointing out the latest development in this area.
My question is about whether cliënt side encryption uses symmetric key or
asymmetric key when using these libraries.

On Fri, Oct 7, 2022, 07:36 AjayBathini-MSFT ***@***.***>
wrote:

[2022-10-07 06:05] YashikaTyagi-MSFT commented on #99507
@drazen-relias
As per my understanding document seems to be correct. Web application is a part of web server. web application runs on a web server that responds to any requests from you as client.

@kengaderdus Could you provide your input on the same ?

[2022-10-07 06:06] SaibabaBalapur-MSFT commented on #99470
@boliu83
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@Nickomang
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 06:15] ManoharLakkoju-MSFT commented on #99451
@raidbighead
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-07 06:48] SaibabaBalapur-MSFT commented on #99480
@sijucm

One option for you is to use Azure Storage Blobs Batch client library for .NET. You can write PowerShell script that makes use of this library to perform batch operations on blobs. You can find more information and code samples here: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Blobs.Batch/README.md.

Other option would be to consume REST API. Again, yo

[2022-10-07 06:52] SaibabaBalapur-MSFT commented on #99489
@i008817
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-07 06:52] #99489 closed

[2022-10-07 06:54] ManoharLakkoju-MSFT commented on #99588
@AlexFilipin
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-07 06:55] ntrogh commented on #99595
@elmckinn Thanks for reaching out and bringing this to our attention 🙏. I've inadvertently pushed the wrong version of the article. We'll get the content updated and published soon. I'll get back to you in this thread when it's published.

[2022-10-07 06:56] GitaraniSharma-MSFT commented on #98970
@kevin-presalytics , I received the below update from the Azure VPN Product Group team:

Wireguard is not on the roadmap yet for Azure VPN.

For now, you can upvote this feature request in the below forum. All the feedback shared in these forums are monitored and reviewed by the Microsoft engineering teams responsible for building Azure.
https://feedback.azure.com/d365community/idea/a9fb1f2a-8b26-

[2022-10-07 06:56] #98970 closed

[2022-10-07 07:01] vegazbabz commented on #99555
It is not a big issue for me, so I do not want to create more tickets, etc. Microsoft should have the interest in their FAQ/documentation is up-to-date without their customers having to add extra work.

[2022-10-07 07:01] michieldp opened #99604 "SMTP currently isn't supported for alerting"
When configuring alerts and then pairing them with a notification channel, Azure Managed Grafana Alerting does not yet have the feature supported for Email Notification channels, though the other options (such as a webhook) are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c8c8cfd8-9194-a2df-0f05-ba6fb30cd

[2022-10-07 07:03] aristosvo commented on #99551
Hi @bandersmsft ! Thanks!

In the meantime I found out what the issue was. I was apparently not authorised to assign the new subscription to a management group, after assigning `Management Group Contributor` on the management group to the service principal used it worked great!

For future reference, within an EA account, these permissions where/are assigned:
- `SubscriptionCreator` on **Enrolment

[2022-10-07 07:03] #99551 closed

[2022-10-07 07:04] yang-jiayi opened #99605 "Synapse managed private endpoint"
https://learn.microsoft.com/en-us/azure/synapse-analytics/synapse-link/faq#can-i-select-managed-virtual-network-in-synapse-workspace-with-synapse-managed-private-endpoints-which-allow-the-link-connection-to-privately-connect-to-the-source-database-

Please confirm answer is correct.

My understanding is that **running Azure Synapse Analytics in a managed virtual network isn't supported. Users need

[2022-10-07 07:08] SaibabaBalapur-MSFT commented on #99500
@jbostoen

If your machine is not domain joined to an AD DS, you may still be able to leverage AD credentials for authentication if your machine has line of sight of the AD domain controller.

You can enable the feature on a new or existing on-premises AD DS environment. Identities used for access must be synced to Azure AD. The Azure AD tenant and the file share that you are accessing must be ass

[2022-10-07 07:17] redashimself opened #99606 "CosmosDB: copying containers doc clarification"
Could you please give more details why only offline copying is supported for containers?
[Link to section:](
https://learn.microsoft.com/en-us/azure/cosmos-db/intra-account-container-copy#how-does-intra-account-container-copy-work)

![image](https://user-images.githubusercontent.com/114561058/194490788-7b7dbb6d-3177-4ee4-bd6c-0890bf127c13.png)

It is unclear why this is exactly, as the process is

[2022-10-07 07:29] #99555 closed

[2022-10-07 07:32] jbostoen commented on #99500
Thanks for the detailed explanation!

[2022-10-07 07:35] pku-csis commented on #99218
@yelevin @batamig is this guide ever going to get updated?

[2022-10-07 07:36] Muthurajj opened #99607 "Which is DID method is best ?"
DID ion or DID web is best to use ?
what is the different between them ?

#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8439886f-5459-ec15-c482-d90bb59ae85e
* Version Independent ID: 23bf7980-1ba8-06e9-da12-088c527a016f
* Content: [Frequently asked questions - Azure Verifiable Credentials - Microsoft Entra](https://learn.

[2022-10-07 07:57] dgpoulet opened #99609 "Document RU cost for Change Feed"
It's not documented anywhere that I can find how much the change feed costs to run. Could we add a section detailing how RU consumption works for polling the queue, reading from the queue etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fdcc897a-d6df-3305-e9cb-01889a3c5d4f
* Version Independent ID: 739a9fc7-3782-a8

[2022-10-07 08:04] saiKrish13 opened #99610 "Collate all FAQs in VPN gateway FAQs"
It is really good that FAQs for each sub-topic are listed right under the topic description. However, it would be great to collate all FAQs to product FAQs.

Below doc talks about FAQs of Zone-redundant gateways.
https://learn.microsoft.com/en-us/azure/vpn-gateway/about-zone-redundant-vnet-gateways#faq

These details are missing the VPN gateway FAQ.
https://learn.microsoft.com/en-us/azure/vpn-gate

[2022-10-07 08:08] shaktisingh-msft commented on #99609
Hi @dgpoulet,

Thanks for sharing your observation. We will work on this and update.

[2022-10-07 08:10] shaktisingh-msft commented on #99606
Hi @redashimself,

Thanks for sharing your feedback. We will look into and update as appropriate.

[2022-10-07 08:12] dan-dimitrov commented on #99286
Good morning is there any update on this please @mathapli @cynthn

[2022-10-07 08:24] vluvisotto commented on #99539
YepI am aware of it and I provided this explanation for a customer but one feedback I received while having a conversation with our customer is that the condition of limited capacity when reaching zero credits is not too clear and maybe we could highlight it on our documentation instead of expecting that all customers would read the whole explanation.When I heard that I decided to add this feedbac

[2022-10-07 08:27] mathapli commented on #99286
Yes, only for BYOS images, connection is needed to RHSM. For PAYG, we do not need this.

[2022-10-07 08:30] Psymingz opened #99612 "Not max request size limit"
According [to this Github issue](https://github.com/Azure/static-web-apps/issues/467) it seems the max request limit is 30mb. This is not clear from the documentation. It should be stated here, as it is a quite hard limit and can be a dealbreaker when deciding on this service.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ Gi

[2022-10-07 08:31] hemanthmatam opened #99613 "I am unable to see the the Options as per the document"
Hi Team,
I'm unable to see the the steps  in azure portal to change managed to unmanaged disk
https://learn.microsoft.com/en-us/azure/virtual-machines/windows/convert-unmanaged-to-managed-disks#migrate-using-the-azure-portal
just wondering is this options still valid ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d5

[2022-10-07 08:39] BzSpi opened #99614 "User data execution moment is not documented"
Hello,

It is not clearly documented when the user data is executed and the following sentence may mislead the users :

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3293bd8-9818-239b-aa57-b610cc6e2ac0
* Version Independent ID: 6642a3f4-db0e-7c37-98a8-cd03da437b20
* Content: [User data for Azure Virtual Machine - Azu

[2022-10-07 08:43] dan-dimitrov commented on #99286
@mathapli Thank you for confirming. Can we update the statement in the documentation to state that for Golden Images created from standard marketplace PAYG images does not require RHSM please - just to save on further confusion from other consumers and others asking the same question?

[2022-10-07 08:45] darrens280 opened #99615 "Typo on MS documentation page"
There is a text formatting mistake on this [page](https://learn.microsoft.com/en-gb/azure/private-link/private-endpoint-overview#private-link-resource).

The item from the table that reads as follows, where is says `SQL`, this should read as `Sql`, with uppercase 'S' only. If all uppercase, then the resource does not deploy successfully when using Terraform to deploy the Private Endpoint/s.

|Priv

[2022-10-07 08:51] mathapli commented on #99286
Yes sure

[2022-10-07 09:00] supernatix commented on #99594
Hi,

There is potentially a few more changes I found as I followed it further so I can gather them all together if it helps.

It is not difficult to figure out based on the errors returned when there is a problem so much appreciated for providing the steps in first place.

Thanks!

[2022-10-07 09:12] shaktisingh-msft commented on #99606
Hi @nayakshweta,

Could you please look into this document update request. Thanks

[2022-10-07 09:13] shaktisingh-msft commented on #99609
Hi @seesharprun,

Could you please look into this document update request. Thanks

[2022-10-07 09:24] djflocko commented on #88751
I think the basic idea of forwarding a cert to APIM is clear to me. It would nice to have an article in the docs as well (like for API whitelisting behind application gateway)
I really would appreciate a better documentation from Microsoft side about having an own App Gateway in front of APIM or a build in support for that scenario. But as long there is no build in support, a good documentation wo

[2022-10-07 09:27] BrechtMo opened #99616 "RBAC in MDE - Security Operator"
I think the comment for MDE for Security Reader also applies to Security Operator. Our tests indicate that a Security Operator cannot access MDE when RBAC is enabled. This is made clear for Security Reader but not for Security Operator.

*When you turn on role-based access control in Microsoft Defender for Endpoint, users with read-only permissions such as the Azure AD Security Reader role lose ac

[2022-10-07 09:33] GitaraniSharma-MSFT commented on #99615
@darrens280 , thank you for your feedback. We'll review this and get back to you shortly!

[2022-10-07 09:33] YassineSOUABNI commented on #82954
I see the documentation was updated to correct that entry.
Thank you for that.

[2022-10-07 09:35] GitaraniSharma-MSFT commented on #99610
@saiKrish13 , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-10-07 09:37] MarekLani opened #99617 "Additional configuration required on windows machines"
On Windows machines, default configuration of Azure Functions Core Tools is not working. worker.config files located in <azure function core tools>/workers/java is configured with path to jdk which is not valid on windows machines: "defaultExecutablePath": "%JAVA_HOME%/bin/java". This needs to be changed to point to actual installation of JDK.

Moreover, when JDK is installed into default Program

[2022-10-07 09:50] GitaraniSharma-MSFT commented on #99615
@darrens280 , We have updated the doc to correct the letter case under subresources of Azure Synapse Analytics from SQL to Sql and it will go live/start reflecting after Oct 12.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2022-10-07 09:50] #99615 closed

[2022-10-07 10:20] AlexFilipin commented on #99588
@OWinfreyATL created https://github.com/MicrosoftDocs/azure-docs/pull/99618 should be fine as is

[2022-10-07 10:22] lorenzomsft opened #99619 "Add how-to section from Azure portal"
Hi team,
just to add a small section on how to enable the on-demand bursting from the Azure portal.
I see there are sections for Az CLI, Az PowerShell and ARM template. But I also see this option from the Azure portal, that is missing in this doc.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c154f183-0379-78

[2022-10-07 10:26] supernatix commented on #99594
FYI, this was using the Cloud Shell in Azure so it should be a very recent version.

![image](https://user-images.githubusercontent.com/5434268/194532634-217f2e93-1c49-41c9-82e3-3e012cbd29d3.png)

[2022-10-07 10:32] vanessabruwer opened #99620 "BYOS for Saved Search Queries Powershell and Doc Misinformation"
[Enter feedback here]

The section in "Configure BYOS for saved-search Queries" has errors in the PowerShell example: https://docs.microsoft.com/en-us/azure/azure-monitor/logs/customer-managed-keys?tabs=powershell#customer-managed-key-for-saved-queries-and-log-alerts E.g. Line 1 should not assign to "id", but just to the main variable, and the last night should just be StorageAccountId (not Ids) A

[2022-10-07 10:40] SaibabaBalapur-MSFT commented on #99441
@maulikshah23 @mimckitt
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 10:46] ManoharLakkoju-MSFT commented on #99607
@Muthurajj
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-07 10:46] RamanathanChinnappan-MSFT commented on #99459
@irishun

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@filippopovic

could you please review this and update as appropriate.

[2022-10-07 10:48] RamanathanChinnappan-MSFT commented on #99521
@JimThorstad

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@mssaperla

could you please review this and update as appropriate.

[2022-10-07 10:50] SaibabaBalapur-MSFT commented on #99523
@davelee212
Please go through below doc link for your reference.
https://learn.microsoft.com/en-us/windows-hardware/manufacture/desktop/languages-overview?view=windows-11#build-a-custom-fod-and-language-pack-repository

If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-07 10:59] SaibabaBalapur-MSFT commented on #99546
@Martin-Simonsen
Please go through below doc for you reference.
https://learn.microsoft.com/en-us/azure/vs-azure-tools-storage-explorer-files

https://learn.microsoft.com/en-us/azure/storage/files/storage-files-identity-ad-ds-configure-permissions#:~:text=to%20this%20configuration%3A-,Built%2Din%20role,Read,-Storage%20File%20Data

If there are any further questions regarding the documentation, ple

[2022-10-07 11:00] filipers opened #99621 "Managed HSMs (PowerShell) missing commands compared to Azure CLI version"
The section "Managed HSMs (PowerShell)" under "Manage keys and managed HSMs" is missing several commands in comparison to the CLI version. This could mislead customers to think some Managed HSM commands are only available for Azure CLI.

Missing commands for Managed HSMs (PowerShell):

To list all soft-deleted HSMs --> Get-AzKeyVaultManagedHsm -InRemovedState --> https://learn.microsoft.com/en-us/

[2022-10-07 11:03] SaibabaBalapur-MSFT commented on #99560
@karauten
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 11:12] ManoharLakkoju-MSFT commented on #99541
@EmperorRXF
Thank you for your suggestion. It would be helpful to provide your ideas in the below link so our product team will work on it.
https://feedback.azure.com/d365community

[2022-10-07 11:12] #99541 closed

[2022-10-07 11:13] davelee212 commented on #99523
@SaibabaBalapur-MSFT  The document you linked to states that I have to get the prerequisite files from one of:
- Microsoft OEM site
- Device Partner Center
- Microsoft Next Generation Volume Licensing Site.

I don't have access to these.  I'm deploying VMs from the Azure Marketplace.  Is there an alternative place to obtain the source files required?

I think the original documentation that I rais

[2022-10-07 11:19] SaibabaBalapur-MSFT commented on #99523
@davelee212
I'm going to assign this to the document author so they can take a look at it accordingly.

@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2022-10-07 11:44] seesharprun commented on #99609
#assign:jcocchi

@jcocchi, is there anywhere in the documentation that shows how to measure how much the change feed costs to use in request units?

[2022-10-07 11:44] MughundhanRaveendran-MSFT commented on #99360
Thanks for the feedback!

By default, the Visual Studio templates create static classes when a function app is created. Both Static and non-static methods/classes are supported in Functions. Some developers prefer using non-static classes/methods when implementing dependency injection. I will see if we can add this information to the docs.

[2022-10-07 12:03] Naveenommi-MSFT commented on #99591
@afargnoli-ops
we have shared a screenshot below for your reference. here we have submitted details and get save option.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/113576472/194548869-ef52a545-dcfb-4bff-aa2a-0376061beba2.png">

[2022-10-07 12:25] Naveenommi-MSFT commented on #99543
@WVDAdminTF
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@barclayn
Could you Please review this and update as appropriate.

[2022-10-07 12:26] tomJensenJMA opened #99622 "Full Control - Not just Change"
Storage File Data SMB Share Elevated Contributor
Allows for read, write, delete, and modify ACLs on files/directories in Azure file shares. This role is equivalent to a file share ACL of **change** on Windows file servers.

Change should be changed to full Control

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 99581af

[2022-10-07 12:33] nelroosevelt opened #99623 "Limitation: Private Endpoint (PE) will Deny Service endpoints unless enable AllowPublicAccess on top of PE."
Could you add "the Private Endpoint (PE) will Deny Service endpoints unless enable AllowPublicAccess on top of PE in the access restrictions blade" as a limitation.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2174e399-063b-129a-eef6-2c49a67fd4e2
* Version Independent ID: 6cb95aa6-fb50-b966-4c9a-01e0718d0bcb
* Conte

[2022-10-07 12:36] Naveenommi-MSFT commented on #99427
Hi @whhender
we are happy for your response. Thank you for comments on this issue.

@jniemer
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-07 12:39] EricGrenon commented on #99623
It's not a limitation, I already state that by default when you enable PE, you disable public access.

[2022-10-07 12:40] kengaderdus commented on #97793
@debaxtermsft

Thank you for your patience and feedback. The information we've [here](https://learn.microsoft.com/azure/active-directory-b2c/b2clogin) will help you understand how to migrate your URL to b2clogin.com.

The remainder of your concern in a product issue, and you'll need to contact our [support](https://learn.microsoft.com/azure/active-directory-b2c/find-help-open-support-ticket). Or y

[2022-10-07 12:40] #97793 closed

[2022-10-07 12:40] Ericgre commented on #99623
It's not a limitation, I already state that by default when you enable PE, you disable public access.

[2022-10-07 12:40] robertm73 commented on #99387
I never saw any notification on this so not sure why you closed it.
https://learn.microsoft.com/en-us/azure/cost-management-billing/costs/analyze-cost-data-azure-cost-management-power-bi-template-app
here is the documents I referenced

Robert Muncy
Sr. Systems Engineer, Infrastructure

From: ManoharLakkoju-MSFT ***@***.***>
Sent: Friday, October 7, 2022 12:09 AM
To: MicrosoftDocs/azure-docs ***@**

[2022-10-07 12:48] Naveenommi-MSFT commented on #99526
@kuwakino
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@jianleishen
Could you Please check and add your comments on this document, update as appropriate.

[2022-10-07 12:56] archmangler commented on #99538
Hi  @shlipsey3  - the comment was specifically on Azure Identity Protection:

https://learn.microsoft.com/en-us/azure/active-directory/identity-protection/overview-identity-protection

The request is to provide sections on CLI/API management of Azure Identity Protection features. The objective of this is for automation (we want to avoid portal based configuration).

[2022-10-07 12:56] Naveenommi-MSFT commented on #99503
@Rajini09

Thanks for reaching out. MicrosoftDocs/azure-docs are mainly related to document feedback/issues and for troubleshooting an issue, I would recommend posting a question to [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/topics/25345/azure-functions.html). Our community experts and champions can assist you with this issue.

We will now proceed to close this thread and feel free

[2022-10-07 12:56] #99503 closed

[2022-10-07 12:58] hannahwalt opened #99624 "Please Update "lesson.ly" to read "lessonly""
Hi! My name is Hannah, I am a Customer Experience Manager here at Lessonly. We have run into a number of issues with this documentation as current customers continue to set up their SSO with "lesson.ly" which results in an error. This domain is no longer and use and does not redirect users to the correct domain. It takes a handful of back-and-forths with the customer to locate the issue and result

[2022-10-07 13:08] RamanathanChinnappan-MSFT commented on #99528
@rileyastephens

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@mssaperla

could you please review this and update as appropriate.

[2022-10-07 13:19] RamanathanChinnappan-MSFT commented on #99550
@priteshpisat

Please see the screenshots below   for your reference.

![image](https://user-images.githubusercontent.com/110973511/194562776-ebe25c54-938e-4da7-80a9-1d423512eb8f.png)

![image](https://user-images.githubusercontent.com/110973511/194562878-68a450bd-d71b-469d-88aa-fcf6f6f3741d.png)

[2022-10-07 13:22] Poil opened #99625 "Windows Virtual Machine Naming - wrong length"
Hi,

Why the windows VM resource name is limited to 15 chars, actually we can create more than 15 characters via the portal and API.
Also we can still set a different hostname than the azure resource name (for netbios blablabla)

So I think it should be 1 to 64 characters

Best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue li

[2022-10-07 13:24] RamanathanChinnappan-MSFT commented on #99575
@HenriHeijltjes

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@MashaMSFT

could you please review this and update as appropriate.

[2022-10-07 13:27] MughundhanRaveendran-MSFT commented on #99311
@brandonh-msft , I just this behavior at my end. I have a queue trigger function with output binding writing to another queue. I am throwing an exception in the function code. When I run the code, the message gets consumed from the source queue even when the function fails with the exception. So in your scenario, the message in the source queue is completed.

Hope this helps!

[2022-10-07 13:34] kengaderdus commented on #98285
@nerocrux

Thank you for your patience. We're investigating this issue and we'll comment back when we've something.

[2022-10-07 13:34] #99625 closed

[2022-10-07 13:35] Poil commented on #99625
Just saw the note on the bottom of the table, so I open an issue on the CAF provider

[2022-10-07 13:35] drazen-relias commented on #99507
Again, I've just noted it is confusing and it should be made easier for the reader to understand what is going on.
If you think differently, by all means, keep it as is.
IMO, the web server is not validating the token, but the web application running on it.

[2022-10-07 13:39] karthikingithub opened #99626 "Quickstart: Get started with Azure Data Factory Template not working"
https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2FAzure%2Fazure-quickstart-templates%2Fmaster%2Fquickstarts%2Fmicrosoft.datafactory%2Fdata-factory-get-started%2Fazuredeploy.json

Quickstart template is failing , Kindly help to resolve

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment oper

[2022-10-07 13:44] red-erik opened #99628 "Suggested debug command not accepted"
Hello,
suggested command are not accepted:
logman create trace "NPSExtension" -ow -o c:\NPS\NPSExtension.etl -p {7237ED00-E119-430B-AB0F-C63360C8EE81} 0xffffffffffffffff 0xff -nb 16 16 -bs 1024 -mode Circular -f bincirc -max 4096 -ets

Result:
logman.exe : A value that is not valid (c:\NPS\NPSExtension.etl) was specified for the outputFormat parameter. Valid
values are Text and Xml.
At line:1 char

[2022-10-07 13:49] Naveenommi-MSFT commented on #99600
@kamfaima
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 13:51] MoD01 opened #99630 "Question about AppProxy limits and their scalability"
In the docs article cited below, limits of 500 user/sec and 750 tenant/sec. Are these restrictions on appProxyPortal sode or are they entangled with the technical limits (i.e. about a maximum of 1200 transactions per second) thst are explained in this documentation: https://learn.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-connectors#capacity-planning

In both docs artic

[2022-10-07 13:56] jschrap opened #99631 "New connection monitor"
Setting up connection monitor referred to in this tutorial is the connection monitor (classic)
Can the tutorial be updated with the new one please?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3bf662d1-53fb-f651-ee67-6e174836d739
* Version Independent ID: 67782b9a-1dd5-acb4-6d93-62ee9ff60d43
* Content: [Tutorial - M

[2022-10-07 14:10] scottlwalker opened #99632 "Microsoft.Azure.CognitiveServices.Vision.Face. Select version 2.7.0-preview.1 doesn't work with current quickstart code"
"Microsoft.Azure.CognitiveServices.Vision.Face. Select version 2.7.0-preview.1" doesn't work with the quick start code that's displayed.

Unrecognized types:

DetectedFace.FaceAttributes.QualityForRecognition
QualityForRecognition

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 24f2953b-2900-322d-dbfd-a53846e75940
* Ve

[2022-10-07 14:13] bdcoder2 commented on #99360
@MughundhanRaveendran-MSFT  - Thanks, I think it would be a good idea to add the information to the official docs because there are currently a lot of "answers" on other sites such as StackOverflow that state functions MUST Be static;  I always try to get the answer from the source / official documentation -- but in many cases the information is lacking.

Thanks again!

[2022-10-07 14:15] Naveenommi-MSFT commented on #99601
@mag-chang
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:18] yang-jiayi opened #99633 "有効ではなく、無効を修正してください"
https://learn.microsoft.com/ja-jp/azure/cosmos-db/synapse-link-frequently-asked-questions#----------azure-cosmos-db----------------
en-usを確認すると、disableになっています。
そのため、こちらの日本語和訳は、無効になります。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 learn.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3ba968c1-aa44-fe88-5574-ee2ab007bf09
* Version Independent ID: 4c9a84cb-5e7b-0291-babe-b3fa6d41e1e3
* Content: [Azure S

[2022-10-07 14:22] Naveenommi-MSFT commented on #99604
@michieldp
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:25] Naveenommi-MSFT commented on #99605
@yang-jiayi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:29] Naveenommi-MSFT commented on #99612
@Psymingz
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:30] Naveenommi-MSFT commented on #99613
@hemanthmatam
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:31] Naveenommi-MSFT commented on #99614
@BzSpi
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:32] eliaquimbrandao commented on #98508
Hi @khdownie I saw that we had an update in the article and I believe we can close this issue. :)

![image](https://user-images.githubusercontent.com/49751389/194577992-9b39460a-8711-4aef-a50c-b6d0189f5d28.png)

Thank you very much for your attention and for the correction in the article.

[2022-10-07 14:33] bjornarmr opened #99635 "Missing part in Tutorial"
The code from the notebook to create the model is missing on the website.
Link to notebook: https://github.com/Azure/azureml-examples/blob/main/tutorials/e2e-ds-experience/e2e-ml-workflow.ipynb

`%%writefile {train_src_dir}/train.py
import argparse
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
import os
import pandas as pd
import mlflow

[2022-10-07 14:41] Naveenommi-MSFT commented on #99616
@BrechtMo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:43] Naveenommi-MSFT commented on #99619
@lorenzomsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:46] Naveenommi-MSFT commented on #99620
@vanessabruwer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:49] Naveenommi-MSFT commented on #99621
@filipers
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:51] Naveenommi-MSFT commented on #99622
@tomJensenJMA
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:53] khdownie commented on #98508
Updated article to clarify Azure Files supports more than 2,000 open handles per share. However, if an application keeps an open handle on the root of the share, the share root limit will be reached before the per file or directory limit is reached.

[2022-10-07 14:53] khdownie commented on #98508
#please-close

[2022-10-07 14:53] #98508 closed

[2022-10-07 14:56] Naveenommi-MSFT commented on #99623
@nelroosevelt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 14:58] Naveenommi-MSFT commented on #99624
@hannahwalt
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:00] Naveenommi-MSFT commented on #99626
@karthikingithub
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:01] Naveenommi-MSFT commented on #99628
@red-erik
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-07 15:03] Naveenommi-MSFT commented on #99630
@MoD01
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:07] Naveenommi-MSFT commented on #99631
@jschrap
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:09] Naveenommi-MSFT commented on #99632
@scottlwalker
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:15] Naveenommi-MSFT commented on #99633
@yang-jiayi
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add your comments in English for better understanding to this case. This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-07 15:17] Naveenommi-MSFT commented on #99635
@bjornarmr
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:19] BRRiley opened #99636 "Is the "Issuer" property now called "Identities" in the portal?"
At this location in the document, (https://learn.microsoft.com/en-us/azure/active-directory/external-identities/user-properties#issuer), should the reference of "issuer" property be renamed to "Identities" according to how it's visible in the Azure AD portal currently?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c6

[2022-10-07 15:19] normesta commented on #99480
@sijucm - Would you pls direct me to the section of this article which references batch operations? I'd like to examine that guidance a bit closer. I don't see the reference. Thanks!

[2022-10-07 15:23] Naveenommi-MSFT commented on #99636
@BRRiley
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-07 15:25] normesta commented on #99430
@yashluna might be able to help with this.

[2022-10-07 15:29] jonathh21 opened #99637 "VaultName= how is it used?"
[Enter feedback here]
It is unclear how VaultName= is used in the second example?

it just says VaultName=mykeyvault

but there are no examples of what that might be?  is it like this:

ci-blahblah.vault.azure.net

??

or just ci-blahblah

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0

[2022-10-07 15:37] hannahwalt commented on #99624
Thank you!

[2022-10-07 15:39] kengaderdus commented on #99326
@robsierra

We've tested the steps, and everything works out as expected. If you're copying the code snippets, you make sure you clean up the comment parts, such as `--->` or `<---` or `<SubJourneys>-->`. Also, make sure you don't duplicate the tags such as, you can't have `<SubJourneys>` as a child of itself. This may be as a result of copying a code snippet including a tag that already exists.

[2022-10-07 15:39] #99326 closed

[2022-10-07 15:40] brandonh-msft commented on #99311
This [contradicts the documentation](https://learn.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-queue-trigger?source=recommendations&tabs=in-process%2Cextensionv5&pivots=programming-language-csharp#poison-messages) so is honestly quite alarming! If a queue triggered function fails, the message is supposed to be put back in the queue and retried, eventually ending in poison

[2022-10-07 15:46] mumurug-MSFT commented on #99617
@MarekLani [worker.config](https://github.com/Azure/azure-functions-java-worker/blob/dev/worker.config.json) file has "defaultExecutablePath": "%JAVA_HOME%/bin/java" and as per [Azure Functions Java developer guide](https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-java), we added a note to set JAVA_HOME environment variable.

![image](https://user-images.githubuserconten

[2022-10-07 15:48] karthikingithub commented on #99626
Adding one more..test connection with copy activity linked service doesn't work.kindly fix that as well

[2022-10-07 16:16] Rodrigossz commented on #99633
@yang-jiayi Can you please write in English? I tried to translate it but it's impossible to understand what is the problem. FYI; docs  translations from English to all other languages is automatic.

[2022-10-07 16:17] jg159357 opened #99640 "Improper case for attributes"
It appears that azure skus use lower case "p" to identify ARM64 CPUs, but the documentation says Capitol case "P".

example sku: Standard_D4plds_v5

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f37ee1ab-c897-d429-7182-51a051234be3
* Version Independent ID: 7063820e-6a32-a367-e7dc-d42df7ddb949
* Content: [Azure VM siz

[2022-10-07 16:19] mimckitt commented on #99640
Thanks for the heads up! I submitted a fix.

#assign: @mimckitt

#please-close

[2022-10-07 16:19] #99640 closed

[2022-10-07 16:20] cwatson-cat commented on #98290
Looks like this broken link has been fixed so #please-close

[2022-10-07 16:20] #98290 closed

[2022-10-07 16:28] cwatson-cat commented on #96614
@DeanGross We've updated [Microsoft Sentinel content hub catalog](https://docs.microsoft.com/en-us/azure/sentinel/sentinel-solutions-catalog) to point to the Azure Marketplace to get the most current details for each solution. We're working on updates to [the data connectors ](https://learn.microsoft.com/en-us/azure/sentinel/data-connectors-reference) and should have those done soon.

#Please-clos

[2022-10-07 16:28] #96614 closed

[2022-10-07 17:29] normesta commented on #99445
Hello @parveen-kumar-1 - ssh-rsa algo is supported for public keys. We recently discontinued algo support for aes-cbc for encryption (The article has already been updated to exclude the aes-cbc lines). Anyway, this may be why the connection attempt is failing. We can offer a few suggestions:
- Try a different SFTP client - e.g. WinSCP, OpenSSH 7.4+
- Create a support ticket to get personalized hel

[2022-10-07 17:30] garrmark opened #99641 "add VS2022"
I believe these instructions work porperly for VS2022 as well, so adding that version to the docs would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 23e79576-36ff-8e39-9d21-adc897608b73
* Version Independent ID: bb904115-2166-6871-6347-0941dbb32d2a
* Content: [Set up a Windows development environment - Az

[2022-10-07 17:54] phyoungmsft opened #99643 "Running VMs in AVSET within an AVZone is no longer supported."
Hey all,

In step 5 under "Add a Target Availability Zone", it mentions you are able to run a VM in an AVSET within an AVZONE:
"In Availability set, select an availability set if you want the target VM to run within an availability set in the availability zone."

Was doing some testing and it seems this is no longer the case. You have to choose between one of the two:

Error message
Virtual machin

[2022-10-07 18:38] mayurgurav opened #99644 "not enough information to deploy certifcate and redirect http to https"
[Enter feedback here]
This document does not Help with ssl certificate deployment.
Thos document should include how to redirect the http to https traffic
after deploying the certificates.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f53838fc-1654-fc18-7e45-7d556193f77e
* Version Independent ID: 4f92bd5b-4b91-b03d-4f

[2022-10-07 18:42] rahulgaadhe-8451 opened #99645 "Space dosen't show in azure path"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-07 18:53] abhinabsarkar opened #99646 "Question on the section "Managed Resources""
In the [documentation ](https://learn.microsoft.com/en-us/azure/container-apps/networking?source=recommendations#managed-resources)under the section "Managed Resources", it states that

"In addition to the [Azure Container Apps billing](https://learn.microsoft.com/en-us/azure/container-apps/billing), you will be billed for the following:

- Three standard static [public IPs](https://azure.microsof

[2022-10-07 19:00] smood922 opened #99647 "timeline request for changes to Microsoft managed authentication methods policy"
Currently the MS authenticator configuration settings page displays "Some Microsoft Authenticator features will be enabled by default soon for tenants that have the features set to Microsoft-managed."
Is there a timeline for when we can expect this to take place?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bfbc994a

[2022-10-07 19:04] rahulgaadhe-8451 opened #99649 "Can't see the space character in the folder name in the web browser UI (chrome in my instance)-https://sa8451dbxadhocprd.blob.core.windows.net/entcapabilities/Users/%20r113850/ (the space is completely visible when i copy path but in the UI in a web browser it's not)"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2022-10-07 19:06] #99645 closed

[2022-10-07 19:34] KarlErickson commented on #99617
#assign:karlerickson

[2022-10-07 19:37] pitinga commented on #90182
Sorry, but I don't understand how a private endpoint is useful without working with outgoing calls.

The APIM is private but the backend that the APIM calls must be public. What's the point?

I improve security by putting the APIM in a private context but in the same solution, have I to expose the backend with a public IP?

[2022-10-07 19:38] AlexHimself commented on #28980
How do we handle longer running calls then? I'm using the Azure Relay to wrap an XML WCF service but some of the operations take 60+ seconds and I'm getting the timeout.

[2022-10-07 19:46] ezYakaEagle442 opened #99650 "Zulu references should be removed"
Zulu references should be removed both from the Maven config sample and from the next steps.
Should be replaced by MS Build of OpenJDK.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f7bb4890-22e2-2c12-b368-b0aff3001b5c
* Version Independent ID: 772fc69b-5148-2e53-c19e-fc145ec804e1
* Content: [Quickstart - Build and p

[2022-10-07 19:47] karauten commented on #99560
Hi all, many thanks for pointing this out. We will work with our partner Veeam to get this updated.

[2022-10-07 19:47] KarlErickson commented on #99650
#assign:karlerickson

[2022-10-07 19:48] KarlErickson commented on #99650
@ezYakaEagle442 thanks for the feedback!

@brunoborges can you provide an image reference to replace the Zulu one here? Thanks!

[2022-10-07 20:12] mbiver opened #99652 "RHEL RAW scenario unable to grow partition if not last part."
Hello, team.  I was wondering if we might need to add a little section to the RHEL RAW scenario.  If the partition is not the last partition, I've been receiving an error that the partition cannot expand.  How can we expand the part if its not the last partition on the disk?  Do we need to remove the last part, expand the partition and then recreate?  thanks.

---
#### Document Details

⚠ *Do not

[2022-10-07 20:26] scowan opened #99653 "apk add openssh-server"
I think this script needs to be updated to install openssh-server instead of openssh

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1d385179-7730-3b99-aff6-75491deb070a
* Version Independent ID: 7da429ea-5421-9d99-3e7c-af1b3fee5ca8
* Content: [Configure a custom container - Azure App Service](https://learn.microsoft.c

[2022-10-07 20:30] nikhilpatel909 commented on #99568
"Sign-Off"

[2022-10-07 20:32] captainnumerica opened #99654 "REST API documentation doesn't cover API surface area."
Documentation related to [content filtering](https://learn.microsoft.com/en-us/azure/cognitive-services/openai/concepts/content-filter) refers to various structures and parameters that aren't captured by the REST API documentation. For example, completion APIs are missing out on content filtering error details and things like the 'user' parameter vaguely referenced in the content filtering concept

[2022-10-07 20:39] mbiver commented on #99652
This is the layout of my partitions.

NAME   MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
sda      8:0    0   64G  0 disk
├─sda1   8:1    0  500M  0 part /boot/efi
├─sda2   8:2    0  500M  0 part /boot
├─sda3   8:3    0   31G  0 part /
└─sda4   8:4    0    2M  0 part
sdb      8:16   0   32G  0 disk
└─sdb1   8:17   0   32G  0 part /mnt/resource

and if I run the growpart command it fails....

 growpart /dev

[2022-10-07 20:43] khdownie commented on #99500
@jbostoen I think the sentence you highlighted is misleading, and we should remove it from the docs.

The requirement depends on what AD source you're using to authenticate: AD DS, Azure AD DS, or Azure AD (which is in preview). If you're using AD DS, which most people do, then your client machines/VMs must have line of sight to your AD DS and be domain joined.  If your machine or VM is outside of

[2022-10-07 20:44] mbiver commented on #99652
I'm just running Red Hat 7.7 RAW from the marketplace.

[2022-10-07 20:47] MicrosoftGuyJFlo commented on #99566
Will publish update next week. Thanks! #please-close

[2022-10-07 20:47] #99566 closed

[2022-10-07 20:48] MicrosoftGuyJFlo commented on #99302
label:awaiting-product-team-response

[2022-10-07 20:49] MicrosoftGuyJFlo commented on #87423
#label:"awaiting-product-team-response"

[2022-10-07 20:49] MicrosoftGuyJFlo commented on #93460
#label:"awaiting-product-team-response"

[2022-10-07 20:50] MicrosoftGuyJFlo commented on #96994
#label:"awaiting-product-team-response"

[2022-10-07 20:51] cynthn commented on #99286
@dan-dimitrov and @mathapli is one of you going to create a pull request to update the doc?

[2022-10-07 21:09] an-emma commented on #96761
hi @thecodeman1987 , we are tracking this problem internally, and it might take some time to update the doc. I'm closing the case for now and updating the doc as soon as we find a solution. Thank you.

[2022-10-07 21:09] an-emma commented on #96761
#please-close

[2022-10-07 21:09] #96761 closed

[2022-10-07 21:29] AlpinusADM opened #99655 "Mst"
[Введіть відгук тут]

---
#### Відомості про документ

⚠ *Не змінюйте цей розділ. Він необхідний, щоб пов’язувати сторінки learn.microsoft.com і проблеми на GitHub.*

* ID: 2ece45be-921e-665a-ef7a-b21bc0675c8a
* Version Independent ID: cc393a6b-eb26-9439-d9d9-36e388539234
* Content: [Service Health portal classic experience overview - Azure Service Health](https://learn.microsoft.com/uk-ua/azure/s

[2022-10-07 21:48] khdownie commented on #96378
Could not reproduce issue with the command. #please-close

[2022-10-07 21:48] #96378 closed

[2022-10-07 22:07] cebundy commented on #99123
@ezYakaEagle442 Thank you for pointing this out.  We have added this information to the quotas documents.
#please-close

[2022-10-07 22:07] #99123 closed

[2022-10-07 22:11] cebundy commented on #99601
#assign:cebundy

[2022-10-07 22:14] Awdball opened #99656 "RHEL7-RAW partition expansion is not applicable to RHEL7-RAW images"
The partition expansion guide for RHEL 7 RAW operating systems does not appear to be valid for any RHEL 7 RAW image I've tested (and I've tested some really old ones).

The RHEL7-RAW Images partition structure is as follows:
   1            2048         1026047   500.0 MiB   EF00  EFI System Partition
   2         1026048         2050047   500.0 MiB   0700  /boot
   3         2050048        671027

[2022-10-07 22:53] LucasVos commented on #88367
I had exactly the same kind of journey (and exactly the same errors and troubles with default clusterrole, the storageclass, etc. as above) as @youngjoven . Could you please extend/update the documentation accordingly? Thank you!

[2022-10-08 00:04] tamram commented on #99562
#reassign: @pauljewellmsft

[2022-10-08 00:54] yang-jiayi commented on #99633
@Rodrigossz ,
Here is the URL in English. Please pay attention to the title here.
 https://learn.microsoft.com/en-us/azure/cosmos-db/synapse-link-frequently-asked-questions#can-i-disable-analytical-store-on-my-azure-cosmos-db-containers-

**### Can I disable analytical store on my Azure Cosmos DB containers?**

The URL in Japanese is here.
 https://learn.microsoft.com/ja-jp/azure/cosmos-db/synapse

[2022-10-08 00:57] yang-jiayi commented on #99605
@Naveenommi-MSFT
Thanks for the confirmation. Looking forward to the fix.

[2022-10-08 01:26] mfthomps opened #99659 "list the region names as needed by the CLI!"
list the region names as needed by the CLI!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Azure regions and availability zones](https://learn.microsoft.com/en-us/azure/availability-zones/az-overview)
* Cont

[2022-10-08 01:56] mfthomps opened #99660 "why do you make it so hard to find the region name to provide to the CLI???"
why do you make it so hard to find the region name to provide to the CLI???

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [Azure regions and availability zones](https://learn.microsoft.com/en-us/azure/availa

[2022-10-08 02:10] ManoharLakkoju-MSFT commented on #99637
@jonathh21
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:13] ManoharLakkoju-MSFT commented on #99641
@garrmark
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:15] ManoharLakkoju-MSFT commented on #99643
@phyoungmsft
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:45] ManoharLakkoju-MSFT commented on #99644
@mayurgurav
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:47] ManoharLakkoju-MSFT commented on #99646
@abhinabsarkar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:48] ManoharLakkoju-MSFT commented on #99647
@smood922
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:50] ManoharLakkoju-MSFT commented on #99649
@rahulgaadhe-8451
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-08 02:51] ManoharLakkoju-MSFT commented on #99652
@mbiver
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:54] ManoharLakkoju-MSFT commented on #99653
@scowan
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:56] ManoharLakkoju-MSFT commented on #99655
@AlpinusADM
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-08 02:57] ManoharLakkoju-MSFT commented on #99654
@captainnumerica
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 02:58] ManoharLakkoju-MSFT commented on #99656
@Awdball
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 03:00] ManoharLakkoju-MSFT commented on #99659
@mfthomps
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 03:02] ManoharLakkoju-MSFT commented on #99660
@mfthomps
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 04:16] krispenner commented on #99598
@KapilAnanth-MSFT From my recent testing, this does not seem to be the case.

## Rule Set A
1. Stop Evaluating Remaining Rules

## Rule Set B
1. Redirect to www.google.com

## Route X Rule Sets
1. Rule Set A
2. Rule Set B

Route X is never redirected to www.google.com.

[2022-10-08 05:12] joemoney999 opened #99661 "help"
This is not my computer this person is using my account without authorization
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 83b07a9e-5e16-32ed-265e-32a32998ce37
* Version Independent ID: 09008259-4b53-2925-9679-ecad59cefe41
* Content: [Tutorial - Customize Azure Active Directory attribute mappin

[2022-10-08 06:26] maulikshah23 commented on #99441
The custom images will be supported through Share Image Gallery<https://learn.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries?tabs=azure-cli>. The work is in progress and plan to be available in the first quarter of 2023.

Thanks,
Najam

Sent from Outlook<http://aka.ms/weboutlook>
From: Maulik Shah ***@***.***>
Sent: Wednesday, October 5, 2022 12:47 PM
To: MicrosoftDocs/azure-doc

[2022-10-08 06:28] mikaelweave opened #99662 "Deploy to Azure Button is Wrong"
The deploy to Azure button is for an Azure IoT template, not for FHIR Service.

If you need the ARM template to toggle import, I have one in my personal github and can move it to the samples repo. Just let me know

https://github.com/mikaelweave/azure-health-scripts/blob/main/fhir-import-toggle/toggle_import.json

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-10-08 07:15] lifejoyforpy opened #99663 "application gateway how to rewrite url"
this is my nginx rewrite
![1665213225532](https://user-images.githubusercontent.com/38183800/194695094-f71fda9f-a6ee-43e1-bc05-9dd56ebe883e.jpg)
i use azure.cn gateway rewrite , wo canot  how to do ,can you give me a sample to help?
thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 7fbac689-8196-0c77-2602-f1338ae5

[2022-10-08 07:17] lifejoyforpy commented on #99663
this is my nginx config
![image](https://user-images.githubusercontent.com/38183800/194695189-84c59c24-6347-4d1a-86da-87f08e6f5b88.png)

[2022-10-08 07:26] priteshpisat commented on #99550
Hello,

I raised concern about discrepancy between screenshots the one from ADF article vs the one in actual usage(please see below my screenshot)

Please find below user authentication is available with postfix "(Preview)" and because of this I am afraid I won't get Microsoft support for production workload for preview feature which is not yet released to general availability.

![ADF_User_Authent

[2022-10-08 07:52] alexchen2016 commented on #99050
@ManoharLakkoju-MSFT，I think you misunderstood my words.  I mean there is a note like below pic shows which says "If Members can invite is set to No and Admins and users in the guest inviter role can invite is set to Yes, users in the Guest Inviter role will still be able to invite guests." Can you tell me where to set "Members can invite" to "No" and where to set "Admins and users in the guest in

[2022-10-08 08:09] YashikaTyagi-MSFT commented on #99401
@durgesh891
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-08 08:09] #99401 closed

[2022-10-08 08:19] ezYakaEagle442 opened #99664 "Azure Container Apps is not mentionned as supporting Managed Identity"
Azure Container Apps is not mentionned as supporting Managed Identity
Please update the docs at [https://learn.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identities-status#azure-services-that-support-managed-identities-for-azure-resources](https://learn.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/managed-identities-status

[2022-10-08 08:25] alexchen2016 commented on #98493
Thanks for your reply

[2022-10-08 08:27] YashikaTyagi-MSFT commented on #99507
@kengaderdus
Could you please take a look at this ?

[2022-10-08 08:34] alexchen2016 commented on #98685
@msmimart，Any update from your side?

[2022-10-08 08:44] ManoharLakkoju-MSFT commented on #99050
@alexchen2016
I'm going to assign this to the document author so they can take a look at it accordingly
@msmimart
Could you Please review this and update as appropriate.

[2022-10-08 08:45] ezYakaEagle442 opened #99665 "ACR Authentication options should be updated with Azure Container Apps"
ACR docs at [https://learn.microsoft.com/en-us/azure/container-registry/container-registry-authentication?source=recommendations&tabs=azure-cli#admin-account](https://learn.microsoft.com/en-us/azure/container-registry/container-registry-authentication?source=recommendations&tabs=azure-cli#admin-account) states:

_The admin account is currently required for some scenarios to deploy an image from a

[2022-10-08 08:47] ManoharLakkoju-MSFT commented on #99661
@joemoney999
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 09:36] FallenHoot opened #99666 "You can only integrate one VNET or one subnet, per app service plan."
Add the following in the [limitations section](https://learn.microsoft.com/en-us/azure/app-service/overview-vnet-integration#limitations):
"You can only integrate single/one VNET or single/one subnet, per app service plan, but you can host multiple web apps per app service plan. "

In other words, you can't put multiple web apps across multiple subnets, but you can host multiple web apps per app s

[2022-10-08 09:49] mattweale opened #99667 "Regional Availability -West US 2 Constraints."
The documentation [https://learn.microsoft.com/en-gb/azure/orbital/downlink-aqua] works through the deployment for AQUA processing deploys the Contact Profile in West US 2. This need to be in the same Region as the vNET into which you delegate a subnet for Orbital [https://learn.microsoft.com/en-gb/azure/orbital/prepare-network#prepare-subnet-for-vnet-injection] . The same vNET [although different

[2022-10-08 11:44] D-Moonesinghe opened #99668 "This article misses a key point about Office 365 apps."
"If, with this feature, Office 365 apps like SharePoint" could be shared?
It only states
    "For applications you build, you can create user flows that allow a user to sign up for an app and create a new guest account. "
![image](https://user-images.githubusercontent.com/60631350/194705696-3c9f7931-fc63-4ea1-9a09-c8cee82f3d49.png)

---
#### Document Details

⚠ *Do not edit this section. It is req

[2022-10-08 12:20] zadigus commented on #95179
Will it ever be supported? If it will never be supported, can you say why?

[2022-10-08 12:59] scatmull opened #99669 "Units for BackupItemFrontEndSize missing"
It would be really, really helpful to have the units included for BackupItemFrontEndSize.  It does not appear to be bytes.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e10249f3-9d50-a5fe-ff41-4be6bb529b17
* Version Independent ID: ed0c250a-4f0e-212e-9faf-2f564d336e55
* Content: [Data model for Azure Backup diagnosti

[2022-10-08 15:34] jbostoen commented on #99500
Thanks for your answer, @khdownie . I think it indeed is a bit misleading at that point.

Thank you for the detailed explanations!

[2022-10-08 15:35] Naveenommi-MSFT commented on #99664
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 15:38] Naveenommi-MSFT commented on #99662
@mikaelweave
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 15:42] Naveenommi-MSFT commented on #99663
@lifejoyforpy
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-08 15:47] Naveenommi-MSFT commented on #99665
@ezYakaEagle442
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 15:52] Naveenommi-MSFT commented on #99666
@FallenHoot
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 15:55] Naveenommi-MSFT commented on #99667
@mattweale
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-08 15:56] Naveenommi-MSFT commented on #99668
@D-Moonesinghe
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 16:04] Naveenommi-MSFT commented on #99669
@scatmull
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-08 16:39] asubmani opened #99672 "Include warning that steps from this doc will cause the I.P address of the AKS cluster to change."
This will change the AKS server's API server i.p address. Please include this as a WARANING/CAUTION NOTE till the time the AKS product group fixes the bug described [here ](https://github.com/Azure/AKS/issues/3173)

Most customers would regulate access to and from the AKS public I.P address in firewalls. A restart of the AKS cluster changes this I.P which will require customers to modify their fir

[2022-10-08 16:58] HannuSihvonen opened #99673 "Stretch JSON elements please"
[Enter feedback here]

JSON code elements would fit better if more horizontal space would be available as default. I am using Edge.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0ca3ea12-4f8c-72e4-4703-ea2ef9dcee0f
* Version Independent ID: a4b7c496-22f9-0fd6-cd7d-0fd613f1a1ec
* Content: [Manage roles in your workspa

[2022-10-08 18:55] mike-urnun-msft commented on #99449
@thomassligon Thanks for sharing this feedback and helping us drive improvements toward MS Docs! I've created & submitted a PR that includes the fixes above.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-08 18:55] #99449 closed

[2022-10-08 21:57] xfischer opened #99674 "Wrong calculations in table"
Hi,
In the first table, the calculation for "Meters/pixel" is wrong for the first column. (code provided under Tile math source code section is OK)
All values needs to be shifted up on row. (78271.5 is the right value at zoom 0)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a5e829b4-ffb5-9a4c-5cb4-980636e195e0
* Vers

[2022-10-09 01:06] lifejoyforpy commented on #99663
[i ](https://learn.microsoft.com/zh-cn/azure/application-gateway/rewrite-url-portal)  this is docs。i hope can implement the nginx proxy to another url(rewrite) as the before picture

[2022-10-09 02:28] fdesignworks opened #99676 "There is a loc-Bug in the Japanese translation of the chunk function of Power Automate."
In Collection functions > chunk, "chunk" is translated as "チャンク" in Japanese, which is confusing.
Don't translate this part, "chunk" is correct.
In addition, since the hyperlink is not set, I would like you to set it.

[https://learn.microsoft.com/ja-jp/azure/logic-apps/workflow-definition-language-functions-reference#collection-functions](https://learn.microsoft.com/ja-jp/azure/logic-apps/workflo

[2022-10-09 02:47] ManoharLakkoju-MSFT commented on #99672
@asubmani
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-09 02:49] ManoharLakkoju-MSFT commented on #99673
@HannuSihvonen
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-09 02:51] ManoharLakkoju-MSFT commented on #99674
@xfischer
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-09 03:17] ManoharLakkoju-MSFT commented on #99676
@fdesignworks
Thanks for your feedback! We will investigate and update as appropriate.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-09 04:05] ManoharLakkoju-MSFT commented on #99439
@declansto
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation

[2022-10-09 04:05] #99439 closed

[2022-10-09 07:07] shsagir commented on #99363
@ahmedgillanione Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-10-09 07:07] #99363 closed

[2022-10-09 09:41] yossi-y commented on #99620
Thank you for pointing this out, and help improving our documentations.
A fix was submitted now and should take a few hours to show.

[2022-10-09 09:55] manzinge opened #99677 "Missing $"
Missing $ before "groupId" in code sample

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1c5d2898-9714-9b98-f065-66a59889f909
* Version Independent ID: 6a7e0145-9e57-b2e6-04f6-9aeda314bad7
* Content: [Deploy container instance by GitHub Actions - Azure Container Instances](https://learn.microsoft.com/en-us/azure/conta

[2022-10-09 10:25] NDVALPHA commented on #99020
Article has been modified.
This issue can now be closed.

[2022-10-09 10:27] lukos commented on #99151
Thanks @mimckitt however, these VMs are for a database replication set so each VM will be configured differently. My understanding of VMSSs is that they work for things like cluster nodes or web servers where the configurations are all the same as opposed to all different.

The other thing is, I think I can specify the availability zone when creating the VM anyway so maybe I don't need Availabilit

[2022-10-09 10:58] ChrisJr4Eva87 opened #99678 "ChrisJr4Eva87"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3d3bcf99-60c3-876c-c421-3351e507a81b
* Version Independent ID: c906978e-acf2-462c-d7ff-20221872a793
* Content: [Primary Refresh Token (PRT) and Azure AD - Azure Active Directory - Microsoft Entra](https://learn.microsoft.com/en-gb/azure/active-direct

[2022-10-09 10:59] ChrisJr4Eva87 commented on #99678
Chris Jr Williams aka ChrisJr4Eva87 C x ♓️

[2022-10-09 14:52] ManoharLakkoju-MSFT commented on #99677
@manzinge
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-09 14:53] ManoharLakkoju-MSFT commented on #99678
@ChrisJr4Eva87
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-09 16:09] suresh8771 opened #99680 "how I can create exception for some of the VM from being OMS agent auto provisioned from defender for cloud"
how I can create exception for some of the VM from being OMS agent auto provisioned from defender for cloud?
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 069802b7-9db6-f5d6-b1aa-52ebc42e96f8
* Version Independent ID: 7b011f8a-0a1c-5066-5d20-3cedcdfc7403
* Content: [Configure auto provisioning of agents for Microsoft

[2022-10-09 21:22] dwschulze opened #99683 "Script deploy fails"
This script fails in centralus, westus, and westus2.  Please fix it to sit will deploy or at least state which region it must be deployed in.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b3a1f07d-4e24-e4e6-d64a-90560d90b321
* Version Independent ID: 7cedcb52-393e-5298-6a78-fabf89be864d
* Content: [Create a Windows V

[2022-10-09 21:55] ecfan commented on #99676
@ManoharLakkoju-MSFT: Please assign the service label "logic-apps/svc", thanks!

[2022-10-09 21:57] ecfan commented on #99676
#label:"logic-apps/svc"

[2022-10-09 21:58] ecfan commented on #99676
@fdesignworks: I've opened a ticket for the Localization team to review and resolve. As this issue is opened against the English doc set, I'll close the thread for now. Thanks for your feedback!

#please-close

[2022-10-09 21:58] #99676 closed

[2022-10-10 00:33] VikasPullagura-MSFT commented on #99683
@dwschulze
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-10 00:34] VikasPullagura-MSFT commented on #99683
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 01:52] cramsey86 opened #99684 "Description and Image Mismatch"
Under 'Transaction diagnostics experience' it discusses the four key parts and has an image that is highlighted and numbered, but what is stated and what is highlighted and numbered in the image do not appear to match what the key part truly is, if they are in respective order to what is stated.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHu

[2022-10-10 02:03] #99355 closed

[2022-10-10 02:45] BryanTrach-MSFT commented on #98144
@osamum We agree that the disconnect between the sample code and the screenshots warrants a review of the document. As a result, we have assigned the issue to the doc author to see if further action is required.

[2022-10-10 02:52] BryanTrach-MSFT commented on #98391
@Tiberriver256 Thank you for the doc idea. Since this would require a larger rewrite/developing a new doc, which is beyond the scope of our team, we have assigned your idea to the doc author for further review.

[2022-10-10 03:17] BryanTrach-MSFT commented on #98450
@deepakhariharan The documentation references obtaining a user access token, which is a Microsoft Team's object.

In the example, they mention, "You can make an outbound call by providing a user ID in the text field and clicking the Start Call button." The user ID field for Microsoft Team's way of stating that you need to provide the receiving client's Team's ID. It would look something like alex@

[2022-10-10 03:17] #98450 closed

[2022-10-10 03:22] BryanTrach-MSFT commented on #98769
@winsmith We went through the steps of adding a custom domain and agree with your feedback.

Since there are a number of items, this would be a larger doc rewrite, which is beyond the scope of our team. As a result, we have assigned your feedback to the doc author to review further.

[2022-10-10 03:28] BryanTrach-MSFT commented on #98775
@IndreamLuo Thank you for providing this feedback. As you mentioned, there are a number of scenarios where values would be impacted by these limitations. To ensure that all scenarios are mentioned in the document, we feel it would be best to have the doc author review the feedback and determine the best steps to proceed on communicating these limitations.

[2022-10-10 03:37] ishanslab opened #99685 "need correction in the hcl example"
In the example, `Define Packer template`; it should be "resource" instead of "source".

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Version Independent ID: 3584b4b8-c5f5-2170-3f8a-7a9a33025a84
* Content: [Create Linux Azure VM Images with Packer - Azure Virtual Machines](https:

[2022-10-10 03:40] #99685 closed

[2022-10-10 03:46] BryanTrach-MSFT commented on #99199
@agray This doc idea requires further review from the doc author to see if this is something they can add in the current doc or would consider creating a separate doc showcasing working code examples of the APIs. As a result, we have assigned your feedback to the doc author for further review.

[2022-10-10 04:04] ManoharLakkoju-MSFT commented on #99680
@suresh8771
Thanks for your feedback! We will investigate and update as appropriate.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-10 04:07] Venkateshdodda-MSFT commented on #99509
@BE-Digital-Solutions-Bart We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-10-10 04:07] #99509 closed

[2022-10-10 04:10] BryanTrach-MSFT commented on #99426
@IgnacioAlvarezArenas Thank you for the doc enhancement feedback. This would require a larger content creation and as a result, we have assigned the issue to the doc author for further review.

[2022-10-10 04:16] BryanTrach-MSFT commented on #98908
@jassent Thank you for the detailed response, which not only called out the problem but suggested a solution.

We agreed with your feedback and implemented your suggested solution.

Unfortunately, it would appear merging of doc updated is suspended due to the upcoming Microsoft Ignite event. From my understanding the update should merge automatically when updates resume but either way I will check

[2022-10-10 04:16] #98908 closed

[2022-10-10 04:20] BryanTrach-MSFT commented on #99371
Since we have not heard back from you around the doc author's suggested solution, we will now proceed to close this thread.

[2022-10-10 04:20] #99371 closed

[2022-10-10 04:35] Muthurajj commented on #99607
This is the document which I refer, here they mentioned about ion or web you can choose
so on what basis I have to choose?

https://learn.microsoft.com/en-us/azure/active-directory/verifiable-credentials/verifiable-credentials-faq

![image](https://user-images.githubusercontent.com/112924141/194799711-82471332-4eb8-4624-8a11-0a892aa88411.png)

[2022-10-10 04:36] Naveenommi-MSFT commented on #99684
@cramsey86
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 04:55] ManoharLakkoju-MSFT commented on #99607
@Muthurajj
I'm going to assign this to the document author so they can take a look at it accordingly

@barclayn
Could you Please review this and update as appropriate.

[2022-10-10 04:59] ManoharLakkoju-MSFT commented on #99661
@joemoney999
Thank you for your feedback!

Since this issue isn't directly related to improving our docs, and to gain a better understanding of your issue, I'd recommend working closer with our support team via an [Azure support request] (https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). Or you can leverage our Q&A forum by posting your issue

[2022-10-10 04:59] #99661 closed

[2022-10-10 05:05] HariKrishna598 commented on #99557
https://learn.microsoft.com/en-us/answers/questions/1037998/blob-trigger-azure-function-is-not-triggering-auto.html?childToView=1039808#answer-1039808

For other community members, posting the resolution update here:

Logs Window in the Code+Test Menu of the Function in the Azure Function App Portal is not working as expected and the docs are old so passed the feedback to the product doc author to

[2022-10-10 05:07] mcasalaina opened #99686 "Article called Call The Summarization API Does Not Say How To Call The Summarization API"
This article does contain a link to the quickstart, although the quickstart only covers a 2-party conversation specified directly in JSON in the body of the request. I would have expected a code snippet in here, and also a link to a more in-depth doc containing the name of the specific endpoint, its parameters and their expected values.

Also: the doc seems like conversation summarization is limit

[2022-10-10 05:09] mythi opened #99687 "Problem with out-of-proc sample Dockerfile"
The out-of-proc quote generation sample`Dockerfile` does not build since open-enclave does not seem to install an example for `remote_attestation`.

the fix is probably:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 995113fc-cded-da15-d906-fcd21eac576a
* Version Independent ID: ddfbd829-6e66-20e0-2422-f2eac99d

[2022-10-10 05:09] RamanathanChinnappan-MSFT commented on #99550
@priteshpisat

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

@jianleishen

could you please review this and update as appropriate.

[2022-10-10 05:10] wugreg opened #99688 "Title of screenshot has been changed"
Screenshot of section "Use Service Endpoints" has the title "Add Access Restriction". I believe it has been changed to "Add rule"

Right now in the doc:
![image](https://user-images.githubusercontent.com/94760855/194802116-0cd7981e-7be2-453d-85c8-a70e8c731cc1.png)

From the portal UI
![image](https://user-images.githubusercontent.com/94760855/194802203-5657fcdb-f9a1-4359-b2cb-8ad93ddf1e04.png)

--

[2022-10-10 05:18] JananiRamesh-MSFT commented on #99688
@wugreg Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 05:25] BryanTrach-MSFT commented on #99612
@Psymingz Thank you for the feedback. We agree that this should be stated in the documentation.

We have gone ahead and made an edit. At this time, we are not allowed to merge any changes to the documentation as Microsoft Ignite will be taking place later this week.

We believe the suggestion you shared should auto merge once this hold is removed later this week/early next week. We will check back

[2022-10-10 05:25] #99612 closed

[2022-10-10 05:59] ManoharLakkoju-MSFT commented on #99636
@BRRiley
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@msmimart
Could you Please review this and update as appropriate.

[2022-10-10 06:08] SaibabaBalapur-MSFT commented on #99480
@sijucm
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-10 06:08] #99480 closed

[2022-10-10 06:09] SaibabaBalapur-MSFT commented on #99500
@jbostoen
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-10 06:09] #99500 closed

[2022-10-10 06:10] #99520 closed

[2022-10-10 06:14] SaibabaBalapur-MSFT commented on #99593
@ju-shim
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 06:22] madsd commented on #99666
Hi @FallenHoot, we already have this mentioned in the limitations section:

"You can have only one regional virtual network integration per App Service plan. Multiple apps in the same App Service plan can use the same virtual network."

[2022-10-10 06:22] Naveenommi-MSFT commented on #99558
@kishmus
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-10 06:22] #99558 closed

[2022-10-10 06:28] AdamGuan13 opened #99689 "something wrong when creating an iot hub with local PowerShell"
Can I create an iot hub in the local PowerShell with the following PowerShell script?
![image](https://user-images.githubusercontent.com/113486445/194808096-85a9fd5a-bd3c-4d04-9eae-647022ea5656.png)
I tried it without success. Could you please help confirm it? Thanks a lot.
![image](https://user-images.githubusercontent.com/113486445/194808534-1d1b132e-21ed-45b6-a59a-e56fa60692ec.png)

---
#### Do

[2022-10-10 06:38] AshokPeddakotla-MSFT commented on #99689
@AdamGuan13 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-10 06:39] AjayBathini-MSFT commented on #99499
@GeorgiKarapetrov
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-10 06:39] #99499 closed

[2022-10-10 06:41] AjayBathini-MSFT commented on #99539
@vluvisotto
Thanks for your contribution. Please add your ideas in below link, so our production team can review it and update the same.
[Ideas · Community (azure.com)](https://feedback.azure.com/d365community)

[2022-10-10 06:41] #99539 closed

[2022-10-10 06:43] Meandron opened #99690 "Please provide clear definition"
Hi!

I miss a clear glossary / definition of terms that are used within this article and I for me, some terms are even missleading.

Example: Event time.
- There are two choices given for that: Arrival time and Application time, with the later **also named Event Time!**.

In the following, a reader new to that does not know what is exactly meant by event time.

Another example:
"Application time i

[2022-10-10 06:46] GitaraniSharma-MSFT commented on #99518
@zackoch , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , for your review.

[2022-10-10 06:53] AjayBathini-MSFT commented on #99613
@hemanthmatam
There is no way to convert it to unmanaged disk direct.
As a workaround, we can copy VHD from managed disk to unmanaged disk, then use this VHD to create a new VM.
We can do that with PowerShell command:

$sas = Grant-AzureRmDiskAccess -ResourceGroupName "[ResourceGroupName]" -DiskName "[ManagedDiskName]" -DurationInSecond 3600 -Access Read
$destContext = New-AzureStorageContext –Sto

[2022-10-10 06:58] AjayBathini-MSFT commented on #99619
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 06:59] GeorgiKarapetrov commented on #99499
Close it all right, the linked article is helpful.

[2022-10-10 07:01] velja commented on #11299
Some information in this thread appears to be contradictory or I am failing to understand things correctly. The last post and the link state that there is no encryption at rest for locally attached disks and the one before states that the app service file system is implemented on top of the Azure Storage which IS encrypted. Can we have a little more clarification on this? If a file is uploaded to

[2022-10-10 07:03] AjayBathini-MSFT commented on #99641
@tomvcassidy
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 07:07] AjayBathini-MSFT commented on #99665
@ezYakaEagle442
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly.

@tejaswikolli-web
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 07:12] AjayBathini-MSFT commented on #99677
@manzinge
Could you please add the screenshot of the code sample. So, we can be able to make changes as needed.

[2022-10-10 07:16] SaibabaBalapur-MSFT commented on #99614
@NingKuang
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 07:21] SaibabaBalapur-MSFT commented on #99672
@palma21
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 07:30] Naveenommi-MSFT commented on #99591
@afargnoli-ops
We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-10-10 07:30] #99591 closed

[2022-10-10 07:35] Naveenommi-MSFT commented on #99633
@yang-jiayi
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

@Rodrigossz
Could you Please review this and update as appropriate.

[2022-10-10 07:38] ManoharLakkoju-MSFT commented on #99647
@smood922
Thank you for your time and patience!
Unfortunately, we don't provide product release updates through our GitHub channels. For this, I'd recommend referring to our [Azure Updates](https://azure.microsoft.com/en-us/updates/) or [Microsoft 365 Roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Azure%20Active%20Directory) pages for this info.

[2022-10-10 07:42] ManoharLakkoju-MSFT commented on #99624
@hannahwalt
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@jeevansd
Could you Please review this and update as appropriate.

[2022-10-10 07:47] ManoharLakkoju-MSFT commented on #99621
@filipers
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

@msmbaldwin
Could you Please review this and update as appropriate.

[2022-10-10 07:52] sekharkumar opened #99691 "Requesting update on Add-EflowVmSharedFolder windows 10 support"
Hi Team,

I was going through document on [Share a Windows folder with Azure IoT Edge for Linux on Windows](https://learn.microsoft.com/en-us/azure/iot-edge/how-to-share-windows-folder-to-vm?view=iotedge-1.4#feedback)

As per the document Add-EflowVmSharedFolder is currently supporting on windows 11 and not for windows 10 and mentioned in future it will support on windows 10 version also
I am work

[2022-10-10 08:13] rav0k opened #99692 "We need a better description for "What is an MFA provider""
Hello Team,

I'm working on an internal case where I was using our documentation to explain how they were being charged by an MFA provider where it was confirmed by PG that this is not correct.

The following statement is not correct as per what PG have shared:
"_The per-user option calculates the number of individuals in your tenant who perform two-step verification in a month._"

The calculation

[2022-10-10 08:13] antgonz opened #99693 "Maintenance Configuration scopes is not including TOR updates."
Hello team,

As per our documentation Maintenance Configuration scope are the below:

"Maintenance Configurations currently supports three (3) scopes: **Host, OS image, and Guest.** While each scope allows scheduling and managing updates, the major difference lies in the resource they each support. This section outlines the details on the various scopes and their supported types:
<html>
<body>

Ho

[2022-10-10 08:26] YashikaTyagi-MSFT commented on #99583
@chucksnow
1.To answer your question " How does Microsoft managed work"?
In addition to configuring Authentication Methods Policy settings to be either Enabled or Disabled, IT admins can configure some settings to be Microsoft managed. A setting that is configured as Microsoft managed allows Azure AD to enable or disable the setting.

The option to let Azure AD manage the setting is a convenient w

[2022-10-10 08:34] sopelt commented on #99051
Thank you @AnuragSingh-MSFT for the clarification. It is quite the unfortunate limitation and I hope it will be resolved at some point.

I found the following relevant feedback items for people who face this issue and want to upvote:

 * [Assign a specific Azure AD group to be alerted on App Insights alerts](https://feedback.azure.com/d365community/idea/6cb8a542-a525-ed11-9db2-000d3a4d93f5)
 * [Re

[2022-10-10 08:48] RamanathanChinnappan-MSFT commented on #99626
@PennyZhou-MSFT

could you please review this and update as appropriate.

[2022-10-10 08:48] AshokPeddakotla-MSFT commented on #99691
@sekharkumar Thanks for reaching out. We are checking on this available date with our team internally and update you as earliest. Appreciate your time and patience.

[2022-10-10 08:58] YashikaTyagi-MSFT commented on #99616
@rolyon
Could you please check this issue as i am unable to repro this issue due to access related constraints on azure portal.
Thanks

[2022-10-10 09:09] michalgozdowski opened #99695 "Custom DNS name additional format"
Custom DNS can have an additional format: `private.westeurope.azmk8s.io`, which is not specified in documentation. According to the message:
`It should be a valid resource id and the private dns zone name should be in either of these formats: 'private.westeurope.azmk8s.io,privatelink.westeurope.azmk8s.io,[a-zA-Z0-9-]{1,32}.private.westeurope.azmk8s.io,[a-zA-Z0-9-]{1,32}.privatelink.westeurope.azmk

[2022-10-10 09:17] lgayhardt commented on #94583
Thank you for the feedback. We passed along the suggestion to the product groups about adding this information to our documentation.

#please-close

[2022-10-10 09:22] adiiot-1316 opened #99696 "Unable to AddEFlow Network on External Switch"
Hi Team ,

I am trying to add a new EFlow network to have a static local ip but seems like the command i am trying to execute to add a network is throwing error.

Steps to recreate the issue

- Firstly i have created an External Switch using  Hyper-V Manager.
- And then i am trying to add EFlow Network using below command
`Add-EflowNetwork -vswitchName "iotswitch" -vswitchType External`

![image](

[2022-10-10 09:28] lukemurraynz commented on #99531
No sorry, this needs to be reopened. Not sure why I closed it. Thanks for checking.

[2022-10-10 10:04] rangler2 opened #99697 "How to deploy a Static HTML site to Linux app service"
RE: https://learn.microsoft.com/en-us/azure/app-service/overview

The page shows a Next Steps link "HTML (Windows or Linux)" linking to the Static HTML site quickstart.
However that page has no detail on how this supports Linux.
I tried running through the quickstart and using the command:

az webapp up --location westeurope --name andytesthtml --html --os-type Linux

However this throws an error:

[2022-10-10 10:05] PennyZhou-MSFT commented on #99626
Thanks so much for the feedback. I will resolve it as soon as possible.

Best Regards,
Penny Zhou
________________________________
From: RamanathanChinnappan-MSFT ***@***.***>
Sent: Monday, October 10, 2022 4:48:24 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Penny Zhou ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Quickstart: Get started with Azure Data Factory Te

[2022-10-10 10:40] techtalk722 opened #99698 "Documentation should call out the runtime and module version to use"
In step #2 under section "Add modules for Microsoft Graph to your Azure Automation account", the first sentence should be updated to include the "Runtime Version" to select.  The 7.1 (preview) version does not work and will throw an error.  Only by using the 5.1 version of the module and creating the runbook that also uses a 5.1 runtime version, will you succeed with this example.

---
#### Docume

[2022-10-10 10:50] sekharkumar commented on #99691
@AshokPeddakotla-MSFT Thanks Ashok for the reply, sure I will wait for your valuable updates

[2022-10-10 10:57] AshokPeddakotla-MSFT commented on #99696
@adiiot-1316 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-10-10 11:08] adiiot-1316 commented on #99696
Thanks Ashok for the acknowledgment  !!
Looking forward to fix the issue ASAP as its kind of blocker for our major release.

[2022-10-10 11:09] seaqueller opened #99701 "Word replacement suggestion"
Search for the phrase - By default, Azure SQL Database stores data in geo-redundant [storage blobs]. I believe, in this context, the word data must be replaced with backups. The word data creates a confusion for new users.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1dbdd266-3d49-8aa2-f026-2bcaac3123c2
* Version In

[2022-10-10 11:13] ManoharLakkoju-MSFT commented on #99668
@D-Moonesinghe
Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can take a look at it accordingly

[2022-10-10 11:19] Venkateshdodda-MSFT commented on #99653
@scowan We have tested this our environment

- The provided cmdlet in the Enable ssh section `apk add openssh` is to install the open ssh packages in Alpine Linux-Based only.

- If you are using Debian Linux Based images, then you need to change the above cmdlet to below
 ` apt-get -y update && apt-get -y install openssh-server && echo "root:Docker!"` for installing ssh packages.
Post making the a

[2022-10-10 11:21] manzinge commented on #99677
![image](https://user-images.githubusercontent.com/43249083/194854967-8a57debd-f064-41fe-bffc-cefb7dcd015d.png)
![image](https://user-images.githubusercontent.com/43249083/194854986-8f04caeb-0339-4291-ad73-8a0d8b9ee093.png)

[2022-10-10 11:23] VikasPullagura-MSFT commented on #99695
@michalgozdowski
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-10 11:23] VikasPullagura-MSFT commented on #99695
@MGoedtel
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 11:24] VikasPullagura-MSFT commented on #99693
@antgonz
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-10-10 11:24] VikasPullagura-MSFT commented on #99693
@cynthn
Can you please check and add your comments on this doc update request as applicable.

[2022-10-10 11:31] AjayBathini-MSFT commented on #99656
@mamccrea
Can you please check and add your comments on this doc update request as applicable.