[2022-02-18 12:41] erikly opened #88346 "Section "Creating an access package programmatically" is incomplete"
Step 2 say to "List the accesPackageResourceRoles of each accessPackageResource in an accessPackageCatalog", which are needed in step 5. The linked documentation shows how to find all AccessPackageResourceRoleScopes for an existing access package. When creating a new catalog, there are no access packages to list, and there are no documented ways to determine the originId for the AccessPackageResou

[2022-02-18 12:49] GitaraniSharma-MSFT commented on #88157
@rajyraman , I checked with the Azure Firewall & Service tag Product group teams and they mentioned that the API seems to be not fetching all the service tags via Portal and they will be fixing it in the next release cycle. In the meantime, if portal is not displaying the required tag, customers should still be able to use PowerShell/Rest API to add it to their network rules.

I tried this in my l

[2022-02-18 12:49] #88157 closed

[2022-02-18 13:09] fsgdgsdfgsgd opened #88347 "Why does the title of the article describe gen1, but the content of the article seems to be about gen2？"
Hi guys,

We have some data stored on ADLS gen1 and I want to programmatically read the data through Java. But when I develop the demo according to the instructions of the article, I encounter various errors. I took a closer look at what's in the documentation and found that this article seems to be about ADLS gen2 (despite the title being about gen1).

I've developed a demo based on Python's docu

[2022-02-18 13:10] GitaraniSharma-MSFT commented on #88168
@dannradkov , the Azure Bastion Product group team has mentioned that we don’t have those functions (NIDS/NIPS, WAF , RASP) installed on Bastion. Could you please provide more details in case you are referring to a particular scenario?

[2022-02-18 13:15] msftnadavbh commented on #85508
Hi, any update? been 2 months.

[2022-02-18 13:51] trichards7 opened #88348 "Does an MPN ID still report when applied on a service principal with an expired credential"
I have been trying to find in the documentation what happens to an applied MPN ID when a service principal secret expires.

Does the MPN ID still report when expired, or is it disabled.

Information required

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f901056-c225-b086-cdaa-c8bd978db64c
* Version Indepen

[2022-02-18 13:55] o-l-a-v commented on #55171
Same link is also mentioned here:

* https://download.msappproxy.net/subscription/d3c8b69d-6bf7-42be-a529-3fe9c2e70c90/connector/download

Coming from here ("Download the latest connector"):

* https://docs.microsoft.com/en-us/azure/active-directory/app-proxy/application-proxy-release-version-history

[2022-02-18 14:12] alexisweeren opened #88349 "Speech Sdk not working on Outlook app on mac"
I am using the speech sdk speech to text in a custom outlook add-in. When I am using the add-in on the outlook on the web it works no problem but when mac users are using the outlook add in on the native outlook app it doesn't work. Are there any limitations to using the add in on the native outlook app for macs?

It isn't working for the Microsoft Outlook for mac version 16.57.

---
#### Document

[2022-02-18 14:16] ChanGitDog opened #88350 "NCRONTAB expression did not support five field format."
Hi,

Recently, we have observed that the NCRONTAB expression did not work well when using 5 field format. We have to change to 6  field format so that the scheduled webjobs could be triggered as expected.

However, in this documentation, we noticed that the NCRONTAB expression supports both five field and six field format officially. Is there any compatibility issue for 5 field format? Do you have

[2022-02-18 14:44] burki169 opened #88351 "CLI command has invalid parameter for creating SQL server"
Hi,
Shouldn't the CLI command for creating sql server use --name parameter instead of --server for setting the server name?

az sql server create
    --location eastus
    --resource-group msdocs-core-sql
    **--name <server-name>**
    --admin-user <db-username>
    --admin-password <db-password>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-02-18 15:03] Soloresq opened #88352 "OAuth2.0 On-Behalf-Of flow"
Hi everyone,

I find the documentation you wrote really helpful, but I basically struggled to understand what you mean with the OAuth2.0 On-Behalf-Of flow. When having a look into the O-Auth2.0 specification here (https://datatracker.ietf.org/doc/html/rfc6749#section-1) I can not find any flow with that name. Maybe I'm referencing the wrong document or the flow is not specified in OAuth2.0

---
##

[2022-02-18 15:41] mumian commented on #85262
@gamullen - sorry for the long delay.  The article has been updated.

#please-close

[2022-02-18 15:48] gamullen commented on #85262
Thanks!

Thanks, Gary

[Microsoft]
***@***.***
Gary L. Mullen-Schultz
Sr. Cloud Solutions Architect
Customer Success Unit
Healthcare
Office: +1 (952) 832-8011
Mobile: +1 (612) 414-9300
3601 West 76th St., Suite 600
Edina, MN 55435

Want to meet with me? Book time here<https://aka.ms/MeetGary>.
My Certifications: https://www.youracclaim.com/users/gary.lee
Out of the Office: February 21-23

From: Jo

[2022-02-18 15:49] #85249 closed

[2022-02-18 15:49] #86243 closed

[2022-02-18 15:49] #85231 closed

[2022-02-18 15:50] timlt commented on #87988
@schnorea the changes are published, the IoT Central screens current to new UI and a tip has been inserted in the Intro section about an overview of developer connection options.

https://docs.microsoft.com/en-us/azure/iot-develop/quickstart-send-telemetry-central

Thank you again for your feedback.

#please-close

[2022-02-18 15:50] #87988 closed

[2022-02-18 16:04] #88351 closed

[2022-02-18 16:22] MonikaReddy-MSFT commented on #88348
Thanks for bringing this to our attention. Like @bandersmsft has said, we will investigate it further and update you shortly.

[2022-02-18 16:24] MrV8Rumble opened #88353 "Link to powershell script for removing certificates is no longer valid"
The link to removing expired certificates powershell script redirects to code samples library, and the script is not available in there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fbc1ea1-6ea1-82f5-5efc-2597ada9c735
* Version Independent ID: 29976abf-742a-0c85-7633-2b9beb29b75a
* Content: [Azure AD Connect - Large

[2022-02-18 16:40] JamesTran-MSFT commented on #88353
@MrV8Rumble
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-18 16:42] andrewbrownmsft commented on #88046
Thanks very much for the feedback - we definitely want our documentation to be helpful to someone with no experience with Device Update for IoT Hub. To make sure I understand the specific issue, can you list which section is confusing? Based on your description, I believe it may be the [Import Update section](https://docs.microsoft.com/en-us/azure/iot-hub-device-update/device-update-raspberry-pi#i

[2022-02-18 16:54] zisom-hc opened #88354 "Incorrect guidance within the instructions to configure Azure AD with Terraform Enterpsie"
These instructions are incorrect, as HashiCorp's Support team does *not* have access to configure customer's Terraform Enterprise installations. Maybe this was the case in the past, but at the present, this information is not valid.

To configure single sign-on on Terraform Enterprise side, you need to send the downloaded Certificate (Base64) and appropriate copied URLs from Azure portal to [Terra

[2022-02-18 17:07] StingyJack commented on #87957
@PramodValavala-MSFT - This is not clear at all.  This doc makes no separation and uses phrasing that implies they are the same or that somehow an API with new code added to it is not a new version.  Even this statement conflates the two...

Breaking changes or not, if there are code changes made, the API is a new version.  Calling it a revision - and implying that is safer somehow - is the proble

[2022-02-18 17:10] suzizuber commented on #88075
@DP-Miller and @VikasPullagura-MSFT a screenshot has been added to step 4 of Run command to add visual clarification. The updates will publish today after 10am. Thank you for bringing this to our attention.

[2022-02-18 17:13] jasongroce commented on #87561
Hi @g7crservice-sajid-f , Apologies for the delay on this. Please use [https://ingestionapi-swagger.azureedge.net/#/](https://ingestionapi-swagger.azureedge.net/#/) from now. The docs will be updated shortly. Thanks for bringing this to our attention and for your patience.

#please-close

[2022-02-18 17:13] #87561 closed

[2022-02-18 17:16] abarton425 opened #88357 "Sentence needs updated"
This sentence could use updating, as it has a numerous issues with its grammar:

"We've now looked embedding (or denormalizing) and referencing (or normalizing) data, each have their upsides and each have compromises as we've seen."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f2e46d-dc1c-df8f-9602-d82a4513cbaf
* V

[2022-02-18 17:18] SwathiDhanwada-MSFT commented on #88014
@ioapan  As there is no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-18 17:18] #88014 closed

[2022-02-18 17:19] SamaraSoucy-MSFT commented on #88246
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2022-02-18 17:20] SwathiDhanwada-MSFT commented on #88336
@liasong-sh Thanks for your comment. We will review the issue and get back to you shortly.

[2022-02-18 17:37] dimmand opened #88359 "Misspelling of ReferenceId in the relying party."
https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-google?pivots=b2c-custom-policy#configure-the-relying-party-policy

In the below text it says:
"In the following example, for the CustomSignUpOrSignIn user journey, the ReferenceId is set to CustomSignUpOrSignIn:"

This Reference ID is different from what it says in the code box below :
<RelyingParty>
  <DefaultUserJourn

[2022-02-18 17:37] Fleid commented on #88260
Done! Should appear live in a few moments.
#please-close

[2022-02-18 17:38] JamesTran-MSFT commented on #88359
@dimmand
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-18 17:39] Oury-MSFT commented on #88357
@abarton425 Thank you for providing your feedback. We are reviewing this document and will update the changes.

[2022-02-18 17:49] mirsky72 opened #88361 "Does the same apply when trying to access a SQL Managed Instance from a Synapse Spark Notebook; or, is there separate guidance for that?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f51ac109-22da-bf8d-f3d6-64787092af18
* Version Independent ID: 2e1ac11c-ec09-1674-7215-e5065def204a
* Content: [Access Microsoft Azure SQL Managed Instance from Data Factory Managed VNET using Private Endpoint - Azure Data Factory](https://docs.micros

[2022-02-18 17:51] KranthiPakala-MSFT commented on #88342
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@mssaperla , @leifbro - Could you please review the above feedback and add a note to replace the account name. Thanks

![image](https://user-images.githubusercontent.com/50185738/154735965-cdfbfe46-5406-43a5-8e97-1a6042105b32.png)

[2022-02-18 17:55] YutongTie-MSFT commented on #88026
@louis-li Thanks for your feedback again, I have forwarded this to content team to review and update.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2022-02-18 17:55] AaronMaxwell commented on #82960
Thanks for your dedication to our documentation. This issue has been triaged and commented on. We are closing this issue for now because it requires scoping of a technical problem. Please review the following resources available to you for technical assistance.

Microsoft Azure Monitor Q&A question page
https://docs.microsoft.com/en-us/answers/topics/24223/azure-monitor.html

StackOverflow: Applic

[2022-02-18 17:55] AaronMaxwell commented on #82960
#please-close

[2022-02-18 17:55] #82960 closed

[2022-02-18 18:00] KranthiPakala-MSFT commented on #88361
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-02-18 18:01] AaronMaxwell commented on #83734
Thanks for your dedication to our documentation. We are in the process of overhauling the Application Insights Overview page in a separate PR and will take your feedback into account.

We will link to the following pricing page.

https://docs.microsoft.com/en-us/azure/azure-monitor/app/pricing

Please feel free to use our Q&A page to get answers to any specific billing questions you may have.

Mic

[2022-02-18 18:08] brad-lucas commented on #87869
Hi @JnHs,

I guess my core question when reviewing the documentation was how I could proceed as a generally new Azure customer.

The documentation seems to address the scenarios for "_my enterprise only needs and uses one tenant_" and "_my enterprise needs and uses multiple tenants, managing underlying subscriptions with Lighthouse_", but I feel like there's something missing in between along the

[2022-02-18 18:09] jeevansd commented on #88354
@v-hagamp and @v-rant Can we please remove this note from the documentation?

[2022-02-18 18:13] MarileeTurscak-MSFT commented on #88352
@Soloresq
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-18 18:13] AaronMaxwell commented on #85474
Thanks for your dedication to our documentation. I have reviewed the markdown. Although a video is not currently linked or referenced, it appears all of the links on the page are currently working.

I suspect the video may have been previously referenced by the dynamically generated links at the bottom of the document. If you see the broken link again, please copy/paste it into an Issue and we'll

[2022-02-18 18:14] AaronMaxwell commented on #85474
#please-close

[2022-02-18 18:14] #85474 closed

[2022-02-18 18:17] AaronMaxwell commented on #86003
#please-close

[2022-02-18 18:17] #86003 closed

[2022-02-18 18:26] #87845 closed

[2022-02-18 18:28] JnHs commented on #87869
@brad-lucas, thanks for the clarifications! You might find some useful information about multi-tenant architecture in general here: https://docs.microsoft.com/en-us/azure/architecture/guide/multitenant/overview - and specifically here: https://docs.microsoft.com/en-us/azure/architecture/guide/multitenant/approaches/resource-organization. I will plan to add these links to the Lighthouse/enterprise

[2022-02-18 18:30] AaronMaxwell commented on #86274
Thanks for your dedication to our documentation.

I am working with Courtland and Rashmi to tackle the Docs strategy for migration to connection strings.

- The following page was published earlier this week. https://docs.microsoft.com/en-us/azure/azure-monitor/app/migrate-from-instrumentation-keys-to-connection-strings
- The minimal valid connection string was removed from our documentation.
- Th

[2022-02-18 18:30] AaronMaxwell commented on #86274
#please-close

[2022-02-18 18:30] #86274 closed

[2022-02-18 18:33] ericjiang20 commented on #87875
Thank! I will raise a support ticket.
________________________________
From: AnuragSharma-MSFT ***@***.***>
Sent: Thursday, February 17, 2022 11:00 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: ericjiang20 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] When you run create login loginin with password ='xxxxx', SID = 0x000, the Azure sql db return error, Specified SID

[2022-02-18 18:34] flogy commented on #34167
Even though I read though this thread I'm still feeling unsafe entering my "old password" on that website... Feels too scammy!

[2022-02-18 18:34] #88113 closed

[2022-02-18 18:39] nickludwig commented on #85021
#reassign:nickludwig

[2022-02-18 18:40] nickludwig commented on #84446
#reassign:nickludwig

[2022-02-18 18:40] nickludwig commented on #84039
#reassign:nickludwig

[2022-02-18 18:47] #88002 closed

[2022-02-18 18:47] MartinJaffer-MSFT commented on #88057
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-02-18 18:51] MartinJaffer-MSFT commented on #88069
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-02-18 18:51] DerekHerman-MSFT commented on #88341
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-18 18:55] ChaitanyaNaykodi-MSFT commented on #87928
Hello @Cristigeo, Thank you for your feedback.
I followed the tutorial and the VM's were correctly deployed into the Vnet. This is because we [create a new Resource Group at the start of the tutorial ](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-cli#create-a-resource-group-and-a-virtual-network) and then deploy the VNET in it.
![image](https://user-images.githubusercontent.

[2022-02-18 18:55] #87928 closed

[2022-02-18 18:57] YutongTie-MSFT commented on #88349
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-18 18:59] sshetty2022 opened #88363 "Add more details on Model ID"
[Enter feedback here]
It would be good if we add details on the format of Model ID. Can it be a string, guid, integer or any one of it etc?

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e6783a4-7982-54f3-9849-a0d4afc04a67
* Version Independent ID: 7413c660-3d17-a1a8-84bf-df23c8eef63a
* Content: [Train a c

[2022-02-18 19:00] spelluru commented on #88069
Hi @MartinJaffer-MSFT - Were you able to reproduce the issue? Thanks.

[2022-02-18 19:00] kobulloc-MSFT commented on #88327
@v-hakob I'm not seeing instructions for updating the Windows VM agent either (all references seem to point to this paragraph explaining that it needs to be updated).  For Linux, I found this:

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/update-linux-agent

I'm assigning this to the document author for further review.

[2022-02-18 19:01] kobulloc-MSFT commented on #88340
@chrisk314 Thank you for your feedback!  We've assigned this to the document author for further review.

[2022-02-18 19:02] duongau commented on #16466
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-02-18 19:02] #16466 closed

[2022-02-18 19:02] AjayKumar-MSFT commented on #88149
msft-qifan, The statement in the 'Best practices' section highlights that -
_"If you have other application that uses a large portion of the available bandwidth, it can impact your ACS audio and video calling experience (when internet connection has limited bandwidth). "_

We have raised a PR and clarified this in the doc, it will be published after a review and merge.
Thanks again for taking time

[2022-02-18 19:05] msft-qifan commented on #88149
Makes much more sense. Thanks!

[2022-02-18 19:05] #88149 closed

[2022-02-18 19:08] dhirajgandhi commented on #88348
Once the service principal is expired or disabled, the service principal will lose RBAC access on Azure environment.  Due to this, the MPN Id associated with service principal will not able to get recognition.

[2022-02-18 19:10] #17798 closed

[2022-02-18 19:12] duongau commented on #18814
Thanks for your dedication to our documentation. Unfortunately, at this time we have been unable to review your issue in a timely manner and we sincerely apologize for the delayed response. The requested updates have not been made since the creation of this issue, and the timeline for resolution may vary based on resourcing, so we've created an internal work item to incorporate your suggestions. W

[2022-02-18 19:12] #18814 closed

[2022-02-18 19:15] duongau commented on #23536
Thanks for providing feedback that helps improve our documentation. You can find the full list of supported certificates here:  https://ccadb-public.secure.force.com/microsoft/IncludedCACertificateReportForMSFT. This issue has been resolved and we are closing the issue. #please-close

[2022-02-18 19:19] AjayKumar-MSFT commented on #88059
--Call Recording is in `beta` and we don't have this available in stable version yet.

--The doc outlines the only available method, 'Start recording session using 'startRecordingWithResponse' server API'
and 'Start recording session using 'startRecordingWithResponse' server API'

You may checkout the [samples](https://github.com/Azure-Samples/communication-services-java-quickstarts/tree/main/Serv

[2022-02-18 19:20] duongau commented on #24527
Thanks for providing feedback that helps improve our documentation. These settings can be configured by using Azure PowerShell: https://docs.microsoft.com/en-us/powershell/module/az.cdn/new-azcdndeliveryruleaction?view=azps-7.2.0 or Azure CLI: https://docs.microsoft.com/en-us/cli/azure/cdn/endpoint/rule/action?view=azure-cli-latest. This issue has been resolved and we are closing the issue. #pleas

[2022-02-18 19:20] #24527 closed

[2022-02-18 19:31] markjbrown commented on #88293
Hi @janpio let me see if I can find what these switches are. Will report back ASAP.

[2022-02-18 19:39] AjayKumar-MSFT commented on #88139
aschultz, Our product team is working on adding new feature that should help with your requirement. However, we do not have an ETA on this yet. Once it's released, we will also update the docs appropriately.

Since we’re discussing on this internally, we will close this thread.
Thanks for taking time to share your feedback on Azure docs channel.

[2022-02-18 19:39] #88139 closed

[2022-02-18 19:45] whhender commented on #87572
I have updated the documentation to reflect this information. You should see that update, later today.

[2022-02-18 19:46] #87572 closed

[2022-02-18 19:47] Fleid commented on #87631
Surfacing the result of our offline conversation here and closing the issue.

There are 3 elements here:
- How ASA supports private networking (private endpoints in the cluster SKU, which include functions), answered by the doc
- How Function supports private networking depending on the SKU, answered by their doc
- How ASA and Function are layered together in the architecture, on the data plane an

[2022-02-18 20:05] gabrielcho commented on #81273
Still waiting for a response from the MS Team.

[2022-02-18 20:06] jin-chong commented on #88059
hi @AjayKumar-MSFT
Thanks for response.
Yes, you are right, calling 'startRecordingWithResponse' API.  Or I can call REST API.

However, @nhannt97 is asking how to get  serverCallId to call startRecordingWithResponse or REST API

[2022-02-18 20:16] emorell96 commented on #40762
It's crazy that in 2022 the bulk download is just as useless as in 2019. MS really doesn't care about B2C...

[2022-02-18 20:45] YutongTie-MSFT commented on #87920
@MrCordeiro Hello, I am sorry for the misunderstanding. The reason why I closed this issue is because the forum is for document scope only and the guidance for its scenario is working well, but I am still working on your issue and will come back to you soon. Apologize for the inconvenience and bad feeling again.

[2022-02-18 20:47] vml-aledonne opened #88366 "No Rate Limit Rule Examples in Front Door WAF Custom Rules doc."
WAF Front Door Custom Rules documentation does not include any examples of Rate Limiting rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3409623f-d2a9-cebd-8369-ee315ee953fb
* Version Independent ID: 121e69cf-3d6e-5e05-8b9c-5b9568fbf85a
* Content: [Web application firewall custom rule for Azure Front Door](https:

[2022-02-18 20:58] tfitzmac commented on #87727
Thanks for the information. I have updated the article. It should get published later today.
#please-close

[2022-02-18 20:58] #87727 closed

[2022-02-18 21:08] #88192 closed

[2022-02-18 21:32] raisaurabh777 opened #88367 "Install the App Service extension Step Fails"
Getting the following error on creating the App Service Extension:

[code]
Attaching image for the same.

<img width="651" alt="K8AppServiceExtensionIssue" src="https://user-images.githubusercontent.com/6744705/154763163-2a8d475a-3cfd-4f24-b2ac-475312cb00d8.PNG">

Got the same issue when I followed the steps for AKS Cluster. Then I tried using a kind cluster on my laptop just to double check but t

[2022-02-18 21:44] JamesTran-MSFT commented on #88281
@hvoerman
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-18 21:44] #88281 closed

[2022-02-18 21:46] JamesTran-MSFT commented on #88282
@MaximeRastello
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-18 21:54] AjayKumar-MSFT commented on #88143
Looks to be related to https://github.com/MicrosoftDocs/azure-docs/issues/88132, hence closing. Thanks!

[2022-02-18 21:54] #88143 closed

[2022-02-18 21:57] ChaitanyaNaykodi-MSFT commented on #88366
Hello @vml-aledonne, The examples of rate-limiting rules are [documented here](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-front-door-rate-limit-powershell). Please let me know if you have any additional questions. Thank you!

[2022-02-18 22:00] whhender commented on #86521
Thanks very much for your patience! The documentation has been updated.
#please-close

[2022-02-18 22:03] ChaitanyaNaykodi-MSFT commented on #88339
Hello @mihralibey
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-18 22:12] duongau commented on #25667
Thanks for providing feedback that helps improve our documentation. I have added a link to the updated list of country codes. We will be addressing the learn more link that points to the Verizon and Akamai instructions. I will be archiving this ticket for now. Please reach back out if you have any further concerns. #please-close

[2022-02-18 22:12] #25667 closed

[2022-02-18 22:12] nswitanek opened #88369 "Azure Stack Edge Pro GPU link for GPU inferencing takes to Azure ML deployment docs for FPGA"
Is this link wrong?

Original text:

Inference with Azure Machine Learning - With Azure Stack Edge Pro GPU, you can run ML models to get quick results that can be acted on before the data is sent to the cloud. The full data set can optionally be transferred to continue to retrain and improve your ML models. For more information, see how to use [Deploy Azure ML hardware accelerated models on Azure

[2022-02-18 22:14] duongau commented on #27957
@shraboin is this still true as of today? If so, I can get it added to the list.

[2022-02-18 22:16] #27958 closed

[2022-02-18 22:26] ThomasWeiss commented on #87188
Thanks @brianwest for spotting this, we've updated the article accordingly!
#please-close

[2022-02-18 22:26] #87188 closed

[2022-02-18 22:26] #86617 closed

[2022-02-18 22:41] duongau commented on #35071
Thanks for providing feedback that helps improve our documentation. The storage account should have all networks enabled by default unless you limit the access when configuring service endpoints. CDN requires public access to your storage account endpoint in order for this to work. If you have any further concerns please reach back out to us. For now I will be archiving this issue. #please-close

[2022-02-18 22:41] #35071 closed

[2022-02-18 22:49] MarileeTurscak-MSFT commented on #88352
The on-behalf-of flow is an OAuth 2.0 protocol extension.

It enables an application that invokes a service or web API to pass user authentication to another service or web API. The idea is to propagate the delegated user identity and permissions through the request chain. It supports obtaining a user access token for a resource with only a user access token for a different resource, and without u

[2022-02-18 22:50] MarileeTurscak-MSFT commented on #88352
Hope this helps! If you have further questions feel free to post to Microsoft Q&A. https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html

[2022-02-18 22:50] #88352 closed

[2022-02-18 22:51] j-martens commented on #54665
#assign: @josegallardo  + Dmitriy Vasyura

[2022-02-18 22:51] PRMerger-2 commented on #54665
The following users don't have valid GitHub IDs, or are not collaborators on this repo: josegallardo  + dmitriy vasyura

[2022-02-18 22:55] gillharmeet commented on #88216
Have made the required changes. Should reflect the changes soon

[2022-02-18 23:03] duongau commented on #38232
@cogran This issue has been opened for a long time. Please feel free to reach back out to me if you have any further questions. For now I will be archiving this. #please-close

[2022-02-18 23:03] #38232 closed

[2022-02-18 23:04] levsea32 commented on #88216
Thank you.

Best regards,
Ed Levin

On Fri, Feb 18, 2022 at 2:55 PM Harmeet Gill ***@***.***>
wrote:

[2022-02-18 23:08] carlosporter opened #88371 "Missing instructions to setup Azure to Azure ASR using the Azure CLI"
Hello,

I have been looking the Azure documentation for a guide to setup ASR or disaster recovery using the "az" client for Azure,

Given that there are already guides to setup Azure Backups, and Vaults on Azure, I wonder where is the guide to setup disaster recovery using the command line client instead of using PowerShell.

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-02-18 23:14] vishalaj1 commented on #88244
Messages are not more than 100MB however they are segmented messages.

[2022-02-18 23:19] duongau commented on #45203
#reassign: duongau

This issue has been opened for the last 3 years. If you have any further questions please feel free to reach out. For now I will archive this issue. Thank you. #please-close

[2022-02-18 23:19] #45203 closed

[2022-02-18 23:21] ChristopherHouser commented on #88244
Typically, segmentation is to work around MQ's 100 MB message limit.  Any message under that size can be sent as a whole message.  I'll added this to our customer asks for consideration in future improvements.

[2022-02-18 23:31] duongau commented on #45715
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-02-18 23:31] #45715 closed

[2022-02-18 23:48] vishalaj1 commented on #88244
Thanks, I will ask the supplier of MQ if they can remove segmentation. It is not in same network and we are connecting logic app via azure vnet to on prem vpn tunnel to supplier MQ. Probably that can be a limitation on transmission from supplier side.

If it is segmented right now the messages are deleted when we use receive messagein logic app. eventhough the receive message looks like in hang st

[2022-02-18 23:52] MartinJaffer-MSFT commented on #88347
Gadzooks! This is rather confusing.  Thank you for bringing this issue to our attention @fsgdgsdfgsgd  .  I agree with your assessment, I see references to both Gen1 and Gen2 in this document.  It has been a while since I last used Gen1, but I recall Gen1 and Gen2 being different enough to not be interchangeable.  If there were just a couple typos I would change it myself, but there is enough here

[2022-02-18 23:53] ChristopherHouser commented on #88244
Also note we are only doing new features in the built-in MQ Connector (Logic Apps Standard).   If the supplier cannot make the changes let me know.

[2022-02-18 23:55] vishalaj1 commented on #88244
Yes we are using built-in connector in logic app standard.

Sure I have meeting with them on Monday.

Will send feedback on Monday.

Thanks for looking into this.

[2022-02-18 23:55] MartinJaffer-MSFT commented on #88347
Thank you for your feedback. This has been assigned to the content owner, @normesta , and will be updated as appropriate.

@normesta  there are enough incongruent contents blended together in this document, I am no longer sure which belong.  This needs attention to detail in repair.  This is also severely confusing to readers.

[2022-02-19 00:35] normesta commented on #88347
Agreed. I've reached out to the committer for clarity on the commit.  I'll have to likely revert the last commit. The last commit updates the SDK to use v12, but for Gen1, I don't believe v12 of the SDK applies.

[2022-02-19 00:38] nibaccam commented on #81113
Reached out engineering for confirmation on tags

[2022-02-19 00:42] awkto opened #88382 "Info about restoring a snapshot in Azure"
[Enter feedback here]
This page could use some more information or at least point the user in the right direction.

How would one go about restoring a snapshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bb0d5aa-46fa-b15d-8eec-c724b5ae468c
* Version Independent ID: 1977490f-d9c6-574c-c6a4-36b0ebd484b8
* Content: [

[2022-02-19 00:44] eringreenlee commented on #88291
Hi Santhosh, for help, please contact the Azure AD SSO Integration Team at SaaSApplicationIntegrations@service.microsoft.com

[2022-02-19 00:44] kanikak-MS opened #88383 "SAML metadata key RemoveMillisecondsFromDateTime"
For SAML applications, to Remove milliseconds from the date and time, we need to use the metadata key "RemoveMillisecondsFromDateTime". As per our documentation: https://docs.microsoft.com/en-us/azure/active-directory-b2c/saml-service-provider-options?pivots=b2c-custom-policy#remove-milliseconds-from-the-date-and-time , the RemoveMillisecondsFromDateTime metadata key should be within the relying p

[2022-02-19 00:45] normesta commented on #88341
Thanks @akshaymatmicrosoft - I updated the text. Should be live by tomorrow. Thx!

#please-close

[2022-02-19 00:45] nibaccam commented on #81961
The documentation has been updated. We will now proceed to close this thread.
#please-close

[2022-02-19 00:45] #81961 closed

[2022-02-19 00:58] normesta commented on #86725
Thanks for asking @hhubik, Link provided by @SumanthMarigowda reflects the current state. There's no command to add to this doc. Thanks for asking. Closing as this is not a doc issue but rather a scenario that isn't provided by the tool.

#please-close

[2022-02-19 00:58] #86725 closed

[2022-02-19 01:25] YutongTie-MSFT commented on #87920
Hello @MrCordeiro, I do find a typo in the sample, but you have fixed it in your code. For fixing this issue, I would like to create a support ticket for you to assign a support engineer to help you debug your code, please let us know if you are willing to do so. My guess is around the PAT, have you tried the general method to set the PAT? https://docs.microsoft.com/en-us/azure/devops/organization

[2022-02-19 02:23] mike-urnun-msft commented on #88350
Thank you for your feedback! We will review and update as appropriate.

[2022-02-19 03:28] msmimart commented on #84423
Hi @nikki-c, thanks so much for pointing this out. This article is now outdated and is being retired. A description of SharePoint/OneDrive integration is being added to the B2B collaboration overview with links to the relevant article in the SharePoint docs. Your feedback is much appreciated!

[2022-02-19 03:31] msmimart commented on #85413
Hi @chucksnow, thanks so much for pointing this out. This article is now outdated and is being retired. We're adding a description of SharePoint/OneDrive integration to the B2B collaboration overview with links to the relevant article in the SharePoint docs that describes the behavior. Your feedback is much appreciated!

[2022-02-19 04:51] rarandiv commented on #86617
Awesome, thanks for considering the feedback and updating document, @ThomasWeiss.

[2022-02-19 06:37] msmimart commented on #87647
@michevnew, thanks so much for pointing this out. We've updated the screenshot; the change should publish soon. Many thanks!

[2022-02-19 10:31] MrCordeiro commented on #87920
Thanks, @YutongTie-MSFT! Yeah, I had the impression you were shoving me away, thanks for putting me at ease!

I would be very glad to create a support ticket.

I'll try to set the PAT directly at the cluster first thing on Monday and will let you know the results.

[2022-02-19 10:37] dghViperdude0 opened #88386 "How to configure MySQL Workbench for connection via Azure VPN Client (VNet)"
Hi
I worked out how to configure MySQL Workbench (or potentially any application connection string) for connection to Azure Database for MySQL servers [flexible server] via OpenVPN / Azure VPN Client.  After days of research you might want to know you (Microsoft) don't have any documentation that describes how to achieve this.

I need to advise though: I've installed the latest MySQL Workbench ver

[2022-02-19 13:05] AnuragSharma-MSFT commented on #87875
@ericjiang20 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2022-02-19 13:05] #87875 closed

[2022-02-19 13:06] AnuragSharma-MSFT commented on #87965
@isthistechsupport Due to lack of response, we will now proceed to close this thread. However If there are further questions regarding this matter, please comment and we will reopen the issue and will gladly continue the discussion.

[2022-02-19 13:06] #87965 closed

[2022-02-19 15:00] SumanthMarigowda commented on #88369
@nswitanek Thanks for the question! We are investigating and will update you shortly.

[2022-02-19 15:02] SumanthMarigowda commented on #88382
@awkto Thanks for the question! We are investigating and will update you shortly.

[2022-02-19 15:12] ChaitanyaNaykodi-MSFT commented on #88367
Thank you for your feedback! We will review and update as appropriate.

[2022-02-19 15:13] ChaitanyaNaykodi-MSFT commented on #88371
Thank you for your feedback! We will review and update as appropriate.

[2022-02-19 15:14] ChaitanyaNaykodi-MSFT commented on #88383
Thank you for your feedback! We will review and update as appropriate.

[2022-02-19 15:15] ChaitanyaNaykodi-MSFT commented on #88386
Thank you for your feedback! We will review and update as appropriate.

[2022-02-19 16:23] kevlangdo opened #88387 "Missing Valuable Information"
After importing com.azure.cosmos.* I am still getting an error on asyncClient.createStoredProcedure. There is no information on this class or in which sdk to find it. Also, seems to be so many versions and types of libraries for cosmos, it would be helpful at the beginning of each article to list which library to install and which version. Also a link to the github repo where the code is stored.

[2022-02-19 17:27] adelagar opened #88388 "Routable network used in an example"
[Documentation update.txt](https://github.com/MicrosoftDocs/azure-docs/files/8102664/Documentation.update.txt)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94bdeded-846e-526c-8ce3-77ee36ffa852
* Version Independent ID: 7d768d5c-0318-25f1-38f8-7a2ee15c1c41
* Content: [Tutorial: Enable Ingress Co

[2022-02-19 17:28] adelagar commented on #88388
The following command line is using a routable ip range for a US Federal Governemnt agencyper ARIN:
https://search.arin.net/rdap/?query=11.0.0.0%2F8

Your command example from this page:https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing
states using 11.0.0.0/8 I think you meant to use a 10.0.0.0/8 with app gateway address should have been 10.0.1.

[2022-02-19 18:58] Jagath4u commented on #85173
I may close this issue as i was successful in migrating more than one database at a time.

[2022-02-19 18:58] #85173 closed

[2022-02-19 19:26] AjayKumar-MSFT commented on #88059
Thanks for the follow-up and additional info. With beta version it's available. nhannt97, please check with the beta version and let us know if you still see this behavior.
https://github.com/Azure/Communication/blob/master/releasenotes/acs-javascript-calling-library-release-notes.md

[2022-02-19 19:52] AjayKumar-MSFT commented on #88109
booyaa, Apologies for the delay.  'General setting' tab is not available in **Linux Consumption** Function App. (screenshot below). [See](https://docs.microsoft.com/azure/azure-functions/functions-how-to-use-azure-function-app-settings?tabs=portal#platform-features)-  'Not all App Service features are available when a function app runs on the Consumption hosting plan.'

You may try to configure FT

[2022-02-19 19:57] ChaitanyaNaykodi-MSFT commented on #88388
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-19 19:58] ChaitanyaNaykodi-MSFT commented on #88387
Thank you for your feedback! We will review and update as appropriate.

[2022-02-19 20:08] chaisen2006 commented on #88132
@AjayKumar-MSFT : Before closure , can you also please confirm what the "public certificate" tab is used for multi-tenant environment?.  I understand it is not used for Root CA upload , (while "private certificate" is used for custom domain certificate )

[2022-02-19 21:52] PingPongSet opened #88391 "Error: Where did the `SQLDB1.dbo.PassengerCountStats` get created?"
Where did the `SQLDB1.dbo.PassengerCountStats` get created?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4d61957-2156-15a9-ba8c-c5f7dd9c03ac
* Version Independent ID: e87e4828-267d-3c40-afb2-b02e2cc62b50
* Content: [Tutorial: Get started with Azure Synapse Analytics - visualize workspace data with Power BI - Azure S

[2022-02-19 22:11] GrzegorzCzm commented on #28505
Hi,

I am struggling with mounting FileShares to multi-container app service. When I executed something like:
[code]

Then in a result I can see InvalidCredentials for AzureFiles

[code]

As you can see also above I was able to mount AzureBlob using same accessKey. Additionally I have tried mount AzureFiles to some regular node.js application run on AppService (no multi-container app) and it was w

[2022-02-19 23:26] eric-urban commented on #88349
@alexisweeren - The Cognitive Services Speech SDK team monitors and replies to SDK questions via [stackoverflow](https://aka.ms/SOspeechquestions). I think it will help if you provide more details about your repro steps there. For example, are you creating an Outlook add-in as described [here](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator)?

[2022-02-19 23:26] eric-urban commented on #88349
#please-close

[2022-02-19 23:26] #88349 closed

[2022-02-20 00:20] gordonk commented on #86803
Hi @BryanTrach-MSFT yes like Dan very hopeful this can be fixed at source rather than the feature be unavailable

[2022-02-20 01:14] dgakkhar opened #88392 "Update the link for getting started with web apps and Web APIs to point to the correct MSAL samples."
[getting started with web apps and Web APIs](https://github.com/AzureADQuickStarts/AppModelv2-WebApp-WebAPI-OpenIDConnect-DotNet) points to the old ADAL samples that have been removed. There's a need to update the link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93b72ec1-f195-8899-2d36-b8f376462b15
* Version Indepe

[2022-02-20 02:50] kobulloc-MSFT commented on #88018
@AgentK88 Thank you for bringing this to our attention!  It looks like we may be missing `/etc/init.d/xrdp start` (and you can confirm this with `/etc/init.d/xrdp status`.  I'll confirm with the doc author and get a PR out to address this.

![image](https://user-images.githubusercontent.com/37556655/154826377-18bcdfe8-3d70-48a9-929a-3912fcc3f05c.png)

[2022-02-20 03:08] kobulloc-MSFT commented on #88018
@AgentK88 I take that back--I just didn't wait long enough for my RDP rules to take effect.  It looks like the `sudo service xrdp restart` in the documentation is sufficient.

![image](https://user-images.githubusercontent.com/37556655/154826782-960d3f78-ee5c-4f33-ac44-75615857199c.png)

[2022-02-20 03:10] kobulloc-MSFT commented on #88018
@AgentK88 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2022-02-20 03:10] #88018 closed

[2022-02-20 04:45] franklesniak commented on #87278
Hey @dhirajgandhi and @MonikaReddy-MSFT - just wanted to follow up on my question above, as I don't believe it was addressed before this issue was closed. Thanks!

[2022-02-20 05:45] ChaitanyaNaykodi-MSFT commented on #88391
Thank you for your feedback! We will review and update as appropriate.

[2022-02-20 05:52] kallsu opened #88398 "Is documentation out of sync ?"
FAQ of Private Link [here](https://docs.microsoft.com/en-us/azure/private-link/private-link-faq#what-is-the-difference-between-service-endpoints-and-private-endpoints-) reports that

In the meanwhile, the Service Endpoint documentation [here] (https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview#secure-azure-services-to-virtual-networks) reports the cha

[2022-02-20 05:53] ChaitanyaNaykodi-MSFT commented on #88274
Hello @EmreMARTiN , since we have not heard back from you, we will now proceed to close this issue out. If you facing any issues regarding Azure Portal functionality, you can create a feedback item for the same. In the right corner of the portal, you can find the feedback option as shown below.
![image](https://user-images.githubusercontent.com/67453298/154830455-4c4d2e5d-7a45-442c-af7e-c980f84b36

[2022-02-20 05:53] #88274 closed

[2022-02-20 06:09] grminch commented on #82263
Thank you for providing feedback and bringing the issue to our attention. The article & sample code will be changed. We have created an internal work item to track the issue, so we are closing this issue in GitHub. #please-close

[2022-02-20 06:09] #82263 closed

[2022-02-20 06:19] grminch commented on #83786
#reassign:grminch

[2022-02-20 07:04] grminch commented on #85598
Thanks for providing feedback that helps improve our documentation. This issue has been resolved and we are closing the issue. #please-close

[2022-02-20 07:04] #85598 closed

[2022-02-20 07:15] grminch commented on #65031
#please-close

[2022-02-20 07:15] #65031 closed

[2022-02-20 08:25] LouisNav opened #88399 "Error: read ECONNRESET while connecting to azure sql"
When I try to connect to my azure sql server i get this error:

`errno: -4077, code: 'ECONNRESET', syscall: 'read', fatal: true`

Here's my code:
var mysql = require("mysql");
const fs = require('fs');`

var config = {
    host: 'myhost',
    database: 'mydb',
    user: 'myusername',
    password: 'mypass',
    port: 1433,
    ssl: {
        rejectUnauthorized: true,
        ca: fs.readFileSync("m

[2022-02-20 08:36] FrankDrebin893 opened #88400 "Implicit flow unsafe disclaimer"
Would it make sense to add a disclaimer at the top of the page that implicit flow is not recommended?
I realize that it's written just a few lines below that the recommended approach is Authorization Code with PKCE, but it should be highlighted a bit more as this approach is pretty much deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-02-20 09:21] theheatDK opened #88401 "ESP and AH protocols?"
Hi,

This is stated in the article:
"Protocol - Can be TCP, UDP, ICMP, ESP, AH, or Any."

I cannot find any way of using the ESP and AH protocols in NSG rules in the Azure Portal.

If they are indeed allowed how do you use them? :-)

Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cc40617-b36e-cc24-0263-5

[2022-02-20 10:27] #84423 closed

[2022-02-20 10:27] #85413 closed

[2022-02-20 10:39] #87647 closed

[2022-02-20 10:39] jdiazquiroga opened #88402 "User Length Limits"
Can you put clear limitations on user length limitations per version and how to change them. I have just set up a MySQL version 8.0 and admin user is limited to 16. Mysql Documentation shows it can go up to 32.

[2022-02-20 10:39] shwetamathur7 commented on #88400
@FrankDrebin893  Thank you for your feedback . We will investigate and update the thread.

[2022-02-20 12:26] PingPongSet opened #88403 "Error: Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature."
I am getting the error below

when I try to run the code below. The error is from the first line of code.
[code]
I followed all the code from this doc below without error before running the code above

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independe

[2022-02-20 14:48] ElazarK commented on #88339
Hi @mihralibey I am looking into this issue and hope to have a solution for you soon.

[2022-02-20 15:52] twinkle13531 opened #88405 "the link in the text may be not right."
I'm going to mention about the following section in [Azure Firewall Standard](https://docs.microsoft.com/en-us/azure/firewall/overview#azure-firewall-standard-1).

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=OneNote.File>
<meta name=Generator content="Microso

[2022-02-20 15:59] tanmayjog commented on #87845
@brandom-msft Thank you for getting back to my question. Sorry, I'm still unclear

1. What would be the syntax of the XML file in the first approach? Could you provide a sample?
2. I do not understand the 2nd command. When I ran it, I received the below error

SYNTHESIS STARTED: 65ad5d337712457894574915352f73a8

CANCELED: Reason=Error
CANCELED: ErrorCode=BadRequest
CANCELED: ErrorDetails=Connectio

[2022-02-20 15:59] GeethaThatipatri-MSFT commented on #88399
Hi, @LouisNav Thanks for your feedback! I would recommend posting your query in the Microsoft Q&A forum to troubleshoot this issue.

[2022-02-20 16:09] SumanthMarigowda commented on #88179
@ElanShudnow Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-02-20 16:10] SumanthMarigowda commented on #88222
@robertstarling  Firstly apologies for the delay response!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-20 16:11] adelagar opened #88406 "Bad command example for adding an application gateway for a brownfield AKS cluster"
[errata.txt](https://github.com/MicrosoftDocs/azure-docs/files/8104375/errata.txt)

The following article has an issue: https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing

The following command code is wrong:
appgwId=$(az network application-gateway show -n myApplicationGateway -g myResourceGroup -o tsv --query "id")

the "$" to create the variab

[2022-02-20 16:12] dhirajgandhi commented on #87278
Microsoft Partner Sales team has published the guide for how multiple partners with same RBAC access can get credits. You can use that at https://partner.microsoft.com/en-us/asset/collection/partner-admin-link#/.

[2022-02-20 16:13] adelagar commented on #88406
Please update the document for the general Tech Community. Thank you

[2022-02-20 17:20] MarileeTurscak-MSFT commented on #88392
@dgakkhar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-20 17:21] MarileeTurscak-MSFT commented on #88398
@kallsu
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-20 17:24] MarileeTurscak-MSFT commented on #88392
Thanks! I made a pull request to update the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189213

[2022-02-20 17:24] #88392 closed

[2022-02-20 17:25] MarileeTurscak-MSFT commented on #88401
@theheatDK
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-20 17:25] MarileeTurscak-MSFT commented on #88402
@jdiazquiroga please link the guide you are following so that I can better assist.

[2022-02-20 17:26] MarileeTurscak-MSFT commented on #88403
@PingPongSet
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-20 17:27] MarileeTurscak-MSFT commented on #88405
@twinkle13531
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-20 17:30] MarileeTurscak-MSFT commented on #88405
Thanks @twinkle13531! I made a pull request to update the link. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189214

[2022-02-20 17:30] #88405 closed

[2022-02-20 17:31] MarileeTurscak-MSFT commented on #88406
@adelagar
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-20 17:33] MarileeTurscak-MSFT commented on #88406
Thanks! I made a pull request to update the command. https://github.com/MicrosoftDocs/azure-docs-pr/pull/189215

[2022-02-20 17:33] #88406 closed

[2022-02-20 17:36] LouisNav commented on #88399
Ok

[2022-02-20 17:37] LouisNav commented on #88399
Ok

[2022-02-20 17:40] GeethaThatipatri-MSFT commented on #88399
Thanks @LouisNav Once you post a query you can add the thread here so we can track it.

[2022-02-20 17:43] LouisNav commented on #88399
Ok

[2022-02-20 20:31] benedib1 opened #88410 "Self Asserted 2.1.8 StringId=UserMessageIfInvalidInput not working properly, specifically {0}"
Hi am using self assert page version 2.1.8 for verification code.

The translations for error message:     <LocalizedString ElementType="ErrorMessage" StringId="UserMessageIfInvalidInput">{0} has invalid input.</LocalizedString>
doesn't seem to be translating correctly for supported languages.

Also, when I try to override the error message using the {0} format, that doesn't seem to be working eit

[2022-02-20 20:53] rgward opened #88411 "edit option being deprecated"
I ran the example to enable SQL Agent as this page describes and I get this message

This command has been deprecated and will be removed in a future release. Use 'update' instead

Perhaps the docs should be updated to show usage of the update option instead of edit?

Bob Ward
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-20 20:54] krispenner opened #88412 "App Service Managed Certificate support for ASEv3"
I created an ASEv3 (note the v3) and added multiple apps to it all within the same resource group as the ASE and App Service Isolated Plan, then added a custom domain for each app and secured each custom domain with its own Free App Service Managed Certificate. I then tried to create a Free App Service Managed Certificate for an app service on the same ASE and plan but where the app itself was dep

[2022-02-20 21:17] edlaguni opened #88413 "What is the purpose of Connect-AzAccount"
Hi Team,

I read the document several times but I can't see the reason for needing to use Connect-AzAccount when creating a self-signed P2S root cert

_Sign in using the Connect-AzAccount cmdlet._

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63df9645-af2c-3cfc-8f65-413912d88efe
* Version Independent ID: d2edf564-2c83

[2022-02-20 21:50] mirsky72 opened #88414 "Synapse Spark Notebooks and SQL Managed Instance Private Endpoint"
Can Synapse Spark Notebooks access a SQL Managed Instance Endpoint using the back end servers with port forwarding rules as well? As it stands, this is how we use a mapping data flow with SQL MI private endpoint.

I was just not sure if the guidance was the same. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2022-02-20 21:55] cro27 commented on #88154
Step 6 and Step 7 clearly state "On each database installed on the VM perform the following steps:" and "Perform the following for each database installed on the VM:"

[2022-02-20 22:20] cro27 commented on #88154
If we make these statements bold so they stand out would that fix the issue?

[2022-02-20 22:55] blue928 opened #88415 "Tutorial missing how to integrate storage for wordpress media and other uploaded files. How do you do that?"
This is a great tutorial but it's missing arguably its most important section. Wordpress needs persistent storage to handle media and other user generated / uploaded files. Can you add a section that discusses best practices on how to integrate persistent volumes and persistent volume claims, or another best-practices approach to managing persistent files state? Note this doesn't have anything to

[2022-02-20 22:57] v-hakob commented on #88327
Thank you for the info! I will appreciate if there are the info for Windows also.

[2022-02-21 00:13] cherchyk opened #88416 "index.html hast to be in /public"
The article explains that index.html has to be created in the root folder but instead it has to be created in /public

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a088bb9-e3ac-819c-8987-e1a27adfb603
* Version Independent ID: e491ccd7-5e5d-d8b0-1aa8-51f2e15fd9e8
* Content: [Quickstart - Add chat to your app - An Azur

[2022-02-21 00:37] #88416 closed

[2022-02-21 00:38] cherchyk commented on #88416
my mistake

[2022-02-21 01:33] beneuto opened #88418 "Unclear as to how to turn on TDE for a MI database using MS managed key"
"For Azure SQL Managed Instance use Transact-SQL (T-SQL) to turn TDE on and off on a database."

How exactly?   Using the standard approach where you create your own key or is there a way to turn it on using the MS managed instance level key?   I am struggling to find this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-02-21 02:59] ram-msft commented on #87964
@WeihanLi Thanks, We have forwarded to the team and created the backlog to provide instructions for updating the lip position.

[2022-02-21 03:01] Norrch2 commented on #86290
Hello Again. Checking for updates. Thank you.

[2022-02-21 03:01] AshokPeddakotla-MSFT commented on #88063
Adding author @kgremban to update the doc if samples are available.

[2022-02-21 03:03] ram-msft commented on #88266
Thanks, @qiliao123 Can you please comment on this.

[2022-02-21 03:11] satyaramshell opened #88419 "Include ARM Template check gives error, 'Reference error: Buffer is not defined'"
Hi Team,

Created global parameters and clicking the checkbox gives a following error.

Saying in header "Arm Template configuration" followed by 'Reference error: Buffer is not defined'.

Please could you help ?

Cheers,

Sathya
[Please find the image atttachment.]

![Include ARM Template Error Buffer not defined](https://user-images.githubusercontent.com/91964295/154882918-379dc3cd-5d8b-4d85-9cb

[2022-02-21 03:37] georgeOsdDev opened #88420 "Add note about WEBSITE_TIME_ZONE on Linux"
[Enter feedback here]

<img width="481" alt="image" src="https://user-images.githubusercontent.com/1381907/154885120-c52cd3cb-f316-4947-b16f-e55d61265802.png">

It is better to add note about setting value for Linux
https://docs.microsoft.com/en-us/azure/app-service/faq-configuration-and-management#how-do-i-set-the-server-time-zone-for-my-web-app-

---
#### Document Details

⚠ *Do not edit this se

[2022-02-21 03:37] SadiqhAhmed-MSFT commented on #88371
@carlosporter CLI is not currently supported but we expect to roll out support by end of 2022 (tentatively).

[2022-02-21 03:37] #88371 closed

[2022-02-21 03:40] WeihanLi commented on #87964
@ram-msft  Great thanks for your help

[2022-02-21 03:57] fsgdgsdfgsgd commented on #88347
Thanks for your quick reply.

I just checked the commit history of this document. Is this the gen 1 document? [Azure Data Lake Store libraries for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/datalake?view=azure-java-stable) Because I see the same SDK and sample code as the document before modification.
But I noticed that the authentication method of this sample code is very diff

[2022-02-21 04:19] yamashita-yasuyuki opened #88421 "The App Service documentation is displayed in another language. (Japanese)"
- Nejčastější dotazy k Azure App Service v Linuxu
- https://docs.microsoft.com/ja-jp/azure/app-service/faq-app-service-linux

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4ad93cdc-b192-914c-796c-b1e022d31df5
* Version Independent ID: 56f48dbd-a0f0-a2ce-6ccc-0a82ae51a876
* Content: [Nejčastější dotazy k App Service v Linuxu - Azure App Service](https

[2022-02-21 04:29] GitaraniSharma-MSFT commented on #88413
@edlaguni , thank you for your query. We'll review this and get back to you shortly!

[2022-02-21 04:35] amanmcse commented on #88410
@benedib1 Thank you for your feedback. We will investigate and update the thread further.

[2022-02-21 04:39] akinaritsugo opened #88423 "The "ja-jp" edition of App Service page is translated by Chinese."
The "ja-jp" edition of this page(*)  is translated by Chinese.

(*) 为 Azure 应用服务配置 ASP.NET Core 应用
    https://docs.microsoft.com/ja-jp/azure/app-service/configure-language-dotnetcore

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568d6695-8344-3d44-aaaf-c00786f9bee1
* Version Independent ID: 60034daf-9dff-5b16-9ff8-f6

[2022-02-21 04:54] ShaikMaheer-MSFT commented on #88414
@mirsky72 Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-21 04:57] ShaikMaheer-MSFT commented on #88419
@satyaramshell - This channel is reserved for ‘Azure docs’ questions- For sharing feedback directly related to document and suggesting content improvements, it is recommend to post the technical questions on the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/37.html)  where one of our specialized engineers in the subject or the Azure community members can provide

[2022-02-21 04:58] AnuragSharma-MSFT commented on #88415
@blue928 Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-21 04:59] AnuragSharma-MSFT commented on #88418
@beneuto Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-21 05:00] kapil-george-by opened #88424 "For B2C and Desktop clients do we have to use http://localhost"
For B2C and Desktop clients do we have to use **http**://localhost for system browser for production environments as well. Somehow it is not working with below as redirect URI, it works only with http://localhost (non ssl)
1. https://login.microsoftonline.com/common/oauth2/nativeclient
2. https://localhost
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-02-21 05:06] SnehaAgrawal-MSFT commented on #88412
@krispenner Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-21 05:07] SnehaAgrawal-MSFT commented on #88420
@georgeOsdDev Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-21 05:07] AjayKumar-MSFT commented on #88421
yamashita-yasuyuki, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-21 05:08] SnehaAgrawal-MSFT commented on #88423
@akinaritsugo Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-21 05:11] AjayKumar-MSFT commented on #88416
cherchyk, No worries. Thanks for leveraging Azure docs feedback channel to raise this question. Much appreciate the follow-up.

[2022-02-21 05:17] sk-devsecops opened #88425 "Basic Authtype details not provided in the documentation. Please share some details with example"
Hi, Can you please provide an example of using basic authentication. Documentation include example and details of APIKey authType or Session authType but did not provide any details of Basic authType. We need to get Audit logs from an API that only accept basic authentication (using username and password). Can you please share some details how can I use the basic Auth in ARM template auth configur

[2022-02-21 05:17] SreejaBhattacharya-MSFT commented on #88307
Hello @RGlanzmann
A primary benefit of the FSLogix component is that it also offloads the user profile to a separate disk reducing the size of the OS disk required and increasing performance. The performance of 6 users on a host (assuming 50/50 split) could be impacted when you account for the disk overheads for handling of Outlook cache and OneDrive as a start, the offloading of this to a profile

[2022-02-21 05:23] Ethan033100 opened #88426 "request per seconds"
I need to generate more than 20000 requests per seconds. I created a dummy example with APIM and azure function.
I tried using the same JMeter script using 250 threads for 60 seconds.
I tried with 10 and 20 instances and I noticed that I was not able to achieve more than 2000 transactions per seconds.
The most performant was the cluster with 10 instance, rather than the one with 20.

Can you pleas

[2022-02-21 05:25] MayankBargali-MSFT commented on #88229
@brandonros Following up to see if you have followed any document for which you have observed the issue. If not then I will suggest you to reach out on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)

[2022-02-21 05:29] watahani commented on #88423
Same issue is occurring on multiple pages and in multiple languages.

//chinese docs is translated by Russian
https://docs.microsoft.com/zh-tw/azure/active-directory/develop/v2-permissions-and-consent

[2022-02-21 05:30] AjayKumar-MSFT commented on #88109
booya, Hope the above answer helps clarify. Since it's not doc specific feedback, we will close this thread for now.

[2022-02-21 05:30] #88109 closed

[2022-02-21 05:31] AnuragSingh-MSFT commented on #88073
@DBJDBJ, please let me know if you have any thoughts on the information shared above. Thank you

[2022-02-21 05:33] Ethan033100 commented on #88426
I have a problem. My APIM is in southeastasia and azure load testing is in Australia.

I can see that the average number of users were 4264 and the p90 of the response time is 3.88 seconds.

I found an SSLException error, how can I solve it?

I attached several files may related.
![20instances](https://user-images.githubusercontent.com/97595052/154895017-0f096cb4-1a43-4521-9dc5-83d2cd95e8c4.jpg)
!

[2022-02-21 05:42] PriyankaRudramaina commented on #88000
Hello @RaymonZh,

This will take some time as I am awaiting for product team confirmation to make this change. Please standby. I will try to get this closed in this week.
Thanks again for the follow up and for staying on top of this.

[2022-02-21 05:47] MayankBargali-MSFT commented on #87084
@TLKG I don't see any document issue and looks like you are running the below command in PowerShell rather than CLI. If you are using the below command in CLI then it should work as expected and for PowerShell you need to add $ with storageConnectionString as mentioned in the command in our document.

`storageConnectionString=$(az storage account show-connection-string --resource-group $resourceGr

[2022-02-21 05:47] #87084 closed

[2022-02-21 05:52] rezhuq opened #88427 "Export settings for RHEL7"
Existing export does not work for RHEL7 with `x64` libs: `export LD_LIBRARY_PATH=/path/to/extracted/SpeechSDK-Linux-<version>/lib/x64:$LD_LIBRARY_PATH`  :x:

This works: `export LD_LIBRARY_PATH=/path/to/extracted/SpeechSDK-Linux-<version>/lib/centos7-x64:$LD_LIBRARY_PATH` :heavy_check_mark:

Kindly update the documentation, or update the SDK.
Relates to SDK `v1.20.0`

---
#### Document Details

⚠

[2022-02-21 05:59] PramodValavala-MSFT commented on #87957
@StingyJack Thanks for the at feedback! I believe that would be confusing since the document doesn't really talk about the backend API in any regard or specifically imply these are only for APIM, since the docs do refer primarily to APIM's context.

Also, I suppose there are many guidelines on how to version APIs though I am unsure of any spec of sorts that dictates how they should be implemented.

[2022-02-21 06:04] spikeyk opened #88428 "Limitation of server endpoint for server"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/storage/files/storage-files-scale-targets#azure-file-sync-scale-targets
In the doc it mentioned that Server Endpoint for server is limited to 30 servers and it's a hard limit. There seems to be a soft limit instead as a workaround to expand the server limit is available.

Please confirm if it's a hard limit.

---
#### Document Details

⚠

[2022-02-21 06:15] jpizarrom opened #88429 "Sample and explanation for a ClaimsMappingPolicy with AppliesToUserType and MemberOf"
Hi,

Could you please add samples, explanation for ClaimsMappingPolicy with AppliesToUserType and MemberOf

[code]

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Independent ID: 401c7557-5817-bbd3-5bd8-8c97ef5a28cc
* Content: [Customize Azure AD tenant app claims (P

[2022-02-21 06:21] jpizarrom opened #88430 "List of TransformationMethod for a ClaimsMappingPolicy"
Hi,

Could you please add a list of TransformationMethod that can be used in a ClaimsMappingPolicy, like _RegexReplace_ or _Join_.

related to https://github.com/microsoftgraph/microsoft-graph-docs/issues/15772

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 195c79a3-ccc5-8c6a-233e-95e344a9b4df
* Version Indepen

[2022-02-21 06:23] jyama4ta opened #88431 "This page is translated other language."
This page should be translated in Japanese but it is translated other language for now.

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7f329597-345e-2f0c-2db3-26b1277ef428
* Version Independent ID: e184dc65-2103-8629-c857-a4873744a54e
* Content: [Często zadawane pytania dotyczące dysków - Azure Virtual Machines](https://docs.microsoft.com/ja-jp/azure

[2022-02-21 06:28] SwathiDhanwada-MSFT commented on #88071
@SarveshPandey Yes, the maximum amount of memory given to Azure sandbox is 400 MB. If you need to process data with more memory , you need to create Hybrid Workers and execute the runbooks on it. For more information, on how to create hybrid worker groups ,do check the following documents.

- https://docs.microsoft.com/en-us/azure/automation/automation-hybrid-runbook-worker
- https://docs.microsof

[2022-02-21 06:29] #87773 closed

[2022-02-21 06:45] SumanthMarigowda commented on #88431
@jyama4ta Thanks for the question! We are investigating and will update you shortly.

[2022-02-21 06:46] SumanthMarigowda commented on #88428
@spikeyk Thanks for the question! We are investigating and will update you shortly.

[2022-02-21 07:01] SnehaAgrawal-MSFT commented on #88156
@racchen as suggested by madsd, our product team are working on constantly adding this and helping our customers but nothing definite at this point.

Additionally, Stay tune with the latest features and provided guide on how to easily locate features concerning [Azure Web App ](https://azure.microsoft.com/en-us/updates/?category=web&query=web%20app).

We will now proceed to close this thread. If t

[2022-02-21 07:01] #88156 closed

[2022-02-21 07:33] ssivas commented on #88425
@sk-devsecops , Thank you for your query . We will investigate and update the thread.

[2022-02-21 07:34] ssivas commented on #88424
@kapil-george-by , Thank you for your query . We will investigate and update the thread.

[2022-02-21 07:40] ssivas commented on #88429
@jpizarrom , Thank you for your query . We will investigate and update the thread.

[2022-02-21 07:40] ssivas commented on #88430
@jpizarrom , Thank you for your query . We will investigate and update the thread.

[2022-02-21 07:47] shwetamathur7 commented on #88008
@shridharrathi Thanks for the feedback. I have updated the document with the same information and sent for review to the author. Once it has been approved, changes will be reflect in the document.

[2022-02-21 07:49] B16111701 opened #88445 "confusing description for 'RBAC only' under security access"
1. as put in this doc, Cross tenant visibility is permitted through RBAC. does it mean that I can see the other resource in another tenant if I have RBAC? it's unclear for us.
2. when check security access under private link, the description here for 'RBAC only' sounds like it can block request if the users don't have RBAC. But per testing, users can always send request by resource ID/ alias even

[2022-02-21 07:50] ssivas commented on #88427
@rezhuq,  Thank you brining this to our notice. We will investigate and update the thread.

[2022-02-21 07:54] RohitMungi-MSFT commented on #88202
@Swimburger Yes, the guidance is to keep the keys secret. For the purpose of easy understanding some quickstarts are using the keys directly. You can add them as environment variables for local development and retrieve the keys in your application.

@aahill can we add a note as mentioned in the cognitive services security page as mentioned [here](https://docs.microsoft.com/en-us/azure/cognitive-se

[2022-02-21 08:00] ssivas commented on #88445
@B16111701 ,  Thank you for your query . We will investigate and update the thread.

[2022-02-21 08:19] RohitMungi-MSFT commented on #88427
@jhakulin @eric-urban Could you please review and update the path or add a note for SDK version v1.20.0?

[2022-02-21 08:27] RohitMungi-MSFT commented on #88017
@prteotia It would be great if you could pass on the original document to our team through a support case to ensure your data privacy. Usually some hidden formatting issues cause the documents to fail and the error in processing would help you find out the issue. Since the error did not help in your case we would recommend to use the support case to pass the document and our team would recommend s

[2022-02-21 08:27] #88017 closed

[2022-02-21 08:37] shwetamathur7 commented on #88400
@FrankDrebin893 Thanks for the feedback. I have updated the document with detailed description and sent for review to the author. Once request has been approved, changes will be reflect in the document.

[2022-02-21 08:40] batamig commented on #88425
Hi @sk-devsecops, thanks for writing into docs!
I'm tagging our feature PM to help out with this example, and we'll get it added into the docs in a coming publish.
@alaa-sh86, can you help?

[2022-02-21 08:45] yunqian44 commented on #71592
When I open the project in administrator mode, the project will run successfully

[2022-02-21 08:47] alaa-sh86 commented on #88425
Thanks for sharing @sk-devsecops.

I'm adding a JSON example of a basic auth connector, please note that you need to wrap it as an ARM.

We will add a refence in the docs as well.

[sentinel-proofpointTAP_polling_ARM_template.txt](https://github.com/MicrosoftDocs/azure-docs/files/8107682/sentinel-proofpointTAP_polling_ARM_template.txt)

[2022-02-21 08:51] noakup commented on #82040
@mmisztal1980 The Private Link is created between a VNet and a workspace/application (and actually handles requests sent from the VNet to the Azure Monitor resource, and not in either directions. It doesn't affect communication between Alerts and Webhooks.

[2022-02-21 08:57] ssivas commented on #88411
@rgward , Thank you for your query . We will investigate and update the thread.

[2022-02-21 09:09] batamig commented on #88425
Great!
I'm going to close this issue for now as we're tracking it in our docs backlog, but feel free to continue commenting here as needed.

We always appreciate feedback from our customers and readers!
Thanks for your contributions to docs.
#please-close

[2022-02-21 09:09] yelevin commented on #88087
@okand Thanks for your question! I will bring it to the product team and try to get you an answer. This has been added to our backlog so I will go ahead and close this issue.

[2022-02-21 09:10] #88087 closed

[2022-02-21 09:29] hannenijhuis opened #88446 "Creation of Key Vault and DiskEncryptionSet in Prerequisites"
The section on Prerequisites includes creating a Key Vault and DiskEncryptionSet while the same page for "Encryption at host" trough the Portal doesn't. It seems like this extra prerequisite is only required for Customer managed keys, but that is not clearly explained on this page.

Suggestion: Add a line that says this prerequisite (the key vault part) is only relevant for customer managed keys.

[2022-02-21 09:31] ntrogh commented on #88426
@Ethan033100 Thanks for your feedback; we appreciate it. It looks like you have product feedback rather than documentation feedback. To make sure that this is logged in the right place, please report it in the [Azure Load Testing issues](https://github.com/microsoft/azure-load-testing/issues).
When you do so, it allows you to engage directly with the engineering team while they address and fix the

[2022-02-21 09:35] #88426 closed

[2022-02-21 09:35] Ethan033100 commented on #88426
Thanks, will do!

[2022-02-21 09:40] kunom opened #88447 "ASRS connection limits"
At https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#azure-signalr-service-limits, is it really "connections per unit per day" (doesn't seem useful to me, and we also have no metrics to measure that), or is it just "(simultaneous) connections per unit"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-02-21 10:01] VikasPullagura-MSFT commented on #88075
@DP-Miller

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2022-02-21 10:01] #88075 closed

[2022-02-21 10:08] meshkerila commented on #87047
Hi @MarileeTurscak-MSFT ,

Do we have any updates, please :)

[2022-02-21 10:11] SnehaAgrawal-MSFT commented on #88309
@amitsahu30 Thanks again! Since you are receiving error as " Failed to validate Azure Functions Core Tools, azure Functions Core Tools is not found." Could you please confirm if your development environment is set up with latest [Function Core Tools](https://github.com/Azure/azure-functions-core-tools).

Let us know.

[2022-02-21 10:44] AjayKumar-MSFT commented on #88059
Once it's available in the stable version, the doc would also be updated appropriately. I have also relayed this feedback internally. Thanks again for your feedback.

[2022-02-21 10:44] #88059 closed

[2022-02-21 10:48] catluker-wandisco opened #88449 "Short URL is incorrect for docs page."
The error given when trying to delete a subnet in this state - InUseSubnetCannotBeDeleted - gives the short code aka.ms/deletesubnet
This links to a page about Azure SQL managed instances, which isn't relevant here.

 I'd suggest this page: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-subnet
is far more appropriate.

Thanks.

---
#### Document details

⚠ *Do not ed

[2022-02-21 10:49] SumanthMarigowda commented on #88446
@hannenijhuis Thanks for the question! We are investigating and will update you shortly.

[2022-02-21 10:59] sajeetharan commented on #84495
@Grace-MacJones-MSFT can you assign this to me?

[2022-02-21 11:07] DonKoning opened #88450 "Key Vault Firewall IP ranges - limitations?"
Storage account [documentation](https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-access-from-an-internet-ip-range) mentions the following:

Does this also apply to Key Vaults, the documentation doesn't mention any limitations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-21 11:12] AjayKumar-MSFT commented on #87538
Apologies for the delay.  Yes, Azure App Service on Linux images using PHP 8.x are now bundled with NGINX instead of Apache.

[Configure Nginx for PHP 8 Linux Azure App Service](https://techcommunity.microsoft.com/t5/apps-on-azure-blog/configure-nginx-for-php-8-linux-azure-app-service/ba-p/3069373)

[NGINX Rewrite Rules for Azure App Service Linux PHP 8.x](https://azureossd.github.io/2021/09/02/ph

[2022-02-21 11:19] sajeetharan commented on #85263
@SatishBoddu-MSFT can you assign this issue to me?

[2022-02-21 12:10] GitaraniSharma-MSFT commented on #88168
@dannradkov , I'm following up on my previous comment. Could you please provide an update on same?

[2022-02-21 12:31] Darryl284 commented on #56597
In exactly the same boat as clement911.
We've done a PoC on the Hyperscale tier and are mostly satisfied with the tests. But that 1 limitation of not being able to come back to Business critical or another tier, is making us nervous to attempt permanently moving to Hyperscale.
We never know what we might find after moving and so this limitation is a big one for us.

[2022-02-21 12:31] GermanCM opened #88451 "Not a solution to the "cancel a single cell" problem"
The solution provided by the team for the issue of not being able to execute other cells after cancelling out another cell (and having this one "frozen" for a long time) is not a solution good enough, since clearing the state of a notebook means, not few times, loosing lots of processed data stored in memory.
This issue seems to happen when executing code on a koalas or pandas_on_spark dataframe,

[2022-02-21 12:41] AnuragSharma-MSFT commented on #88449
@catluker-wandisco Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-21 12:50] ShaikMaheer-MSFT commented on #88451
@GermanCM Thank you for sharing feedback. We are actively validating it. We are share updates soon.

[2022-02-21 12:51] Sachin1O1 opened #88452 "[Update required] After which AKS version this feature is support by default."
If you can add the info in this doc regarding the version of aks that support this by default that will be very useful.
and where to see the oms agent version in the AKS portal.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726479b4-2432-beab-30f7-b1bb325c7b73
* Version Independent ID: a16c303a-9948-164a-b157-12a0325b

[2022-02-21 12:56] ssabat commented on #86611
@saviourofdp  Our samples are basic. We developed sample for a customer need and shared with community. You are welcome to change it for your use case.
#please-close

[2022-02-21 12:56] #86611 closed

[2022-02-21 12:58] #82040 closed

[2022-02-21 13:00] dannradkov opened #88453 "What does the second D in DDv4 stand for ?"
Can you please include a disclaimer to help customers understand what does the second D in DDv4 stand for.
Example : We know that the S in DDsv4 stands for SSD disks capability .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a43e5b4-7893-dcd7-839f-e394912d1bd9
* Version Independent ID: 560d2e4a-6a12-48ac-dff7-44f0364

[2022-02-21 13:03] dannradkov commented on #88168
I dont know what details you need. Customers generally want to know if Bastion has such functionality implemented behind the scenes. if it doesnt, i think its a good idea to list this in the documentation.

[2022-02-21 13:03] ssabat commented on #86795
@amt-git  Thanks for feedback. We do not know what access mechanism you used, access token/system assigned identity/user assigned identity. It appears to be a command line  config issue for ADF in right role to access delta table  via access token or managed identity. Command line  assumes ADF has necessary roles/permissions along with identity info. Please open a support ticket to debug the issue

[2022-02-21 13:03] #86795 closed

[2022-02-21 13:12] ssabat commented on #81649
Thanks @camalloy-amr , it is a standard question. We have doc on how you case just allow reader/writer access  as per [https://docs.microsoft.com/en-us/azure/data-factory/concepts-roles-permissions#custom-scenarios-and-custom-roles](Custom Roles). You can create purpose fit data factories for specific users to do restrictive pipeline access and runs. You can use Synapse pipeline also much more gra

[2022-02-21 13:12] #81649 closed

[2022-02-21 13:13] #88168 closed

[2022-02-21 13:19] ssabat commented on #79522
@thoaingan , thanks for feedback. Please raise an issue on Ideas forum  as feature request to support GitHub actions natively. Some users are able to integrate GitHub actions manually, Take a look at https://github.com/amartyamandal/adf_automation/tree/adf_dev

#please-close

[2022-02-21 13:19] #79522 closed

[2022-02-21 13:38] DonKoning commented on #87574
@mumian - apologies for the late response. I just tried your suggestion and these are the results:
- Get-AzContainerRegistry -> lists my ACR
-  Publish-AzBicepModule -> WARNING: Unhandled exception. Azure.Identity.AuthenticationFailedException: The ChainedTokenCredential failed due to an unhandled exception: Azure PowerShell authentication timed out.
 ---> Azure.Identity.AuthenticationFailedExcept

[2022-02-21 13:43] MrAzureAD opened #88455 "Clarify what happens when requirements were NOT satisfied in home tenant"
The docs do not state what happens, when requirements (e.g. MFA) were not satisfied in the home tenant but enforced on the resource tenant.
Example: A B2B users did not do MFA in the home tenant and hits a CA MFA enforcement rule on the resource tenant.
The expected behavior is that the user is always sent to the home tenant.
But the docs do not explicitly say so.

---
#### Document Details

⚠ *Do

[2022-02-21 13:52] amanmcse commented on #88424
@kapil-george-by Redirect URI must be matching with the reply_url parameter in the authentication request to work. If the reply_url parameter matches with the Redirect URI configured in the registered app, a token is posted to this URL/URI after successful authentication.

[2022-02-21 13:59] alexisweeren commented on #88349
Yes, I am creating it using yo generator office https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/outlook-quickstart?tabs=yeomangenerator.

[2022-02-21 14:04] sorensent opened #88456 "Unable or lack of feedback on the Sign-In link for "Use Update Management v2 that does not require agent""
[Enter feedback here]
Customer want to join the private preview, - but link does not provide access, - or maybe the engine behind the does not trigger?

Kr, Torben
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd3dca2f-629d-36e9-f0f0-8c7e64cc04ab
* Version Independent ID: f40ee991-6cb8-1eee-9a35-ebc5833d7c7f
* Content:

[2022-02-21 14:08] mclgoerg opened #88457 "Graph visualizations - VMConnection Example"
Hi,
is it possible to provide me the example which is mentioned on top of the page;

https://github.com/MicrosoftDocs/azure-docs/blob/ec6979093e49114c3c18db7efb633ad13d5f799c/articles/azure-monitor/visualize/workbooks-graph-visualizations.md

Thanks in advance!
Marcel

[2022-02-21 14:13] amanmcse commented on #88231
I have updated the document and sent the change to the author for review. Changes will be merged once the review is completed.

[2022-02-21 14:13] #88231 closed

[2022-02-21 14:52] trichards7 commented on #88348
Thank you for the information

[2022-02-21 14:52] #88348 closed

[2022-02-21 14:53] ssoongcodes opened #88459 "Step 3 has incorrect sas token"
Using the sas token in step 3 resulted in an authorization error.  After looking at Data Access section on the Seattle Safety Data page  I realized that the sas token should just be r"".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 355fba0e-958e-f572-18c2-892c91d20b13
* Version Independent ID: 7fe76247-c969-2068-2c3c

[2022-02-21 14:53] urosmil commented on #88449
Hi @catluker-wandisco, thanks for raising this issue. By checking the shortlink, I can see that it directs to https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/virtual-cluster-delete

The goal of this page is to explain why subnet cannot be deleted if there is virtual cluster inside holding SQL MIs. Also, virtual cluster is automatically removed together with last instance deletion

[2022-02-21 15:03] pamistel commented on #87030
Hi @darrendelorme

Thank you for your valuable feedback. We're working on making things simpler to get started!

In the meantime I'd like to ask you to try out the new [HL2 Tutorial](https://docs.microsoft.com/en-us/azure/spatial-anchors/tutorials/tutorial-new-unity-hololens-app?tabs=azure-portal) and let us know if this solves your main issues. This Tutorial is designed for developers to easily u

[2022-02-21 15:08] Chris1234567899 opened #88460 "Azure speech to text - filtering result files?"
In the docs it says:

Unfortunately it is not clear what is meant by filtering. Are we supposed to add these as query parameters? If so how is the query supposed to look like?
[code]
???

Tried all kinds of combinations and syntax similar to other azure rest APIs that I could think of, but so far no luck, the query params get totally ignored.

Or are we supposed to run the filter over the json arr

[2022-02-21 15:14] levalencia opened #88461 "Docs wrong? The compute target xxx of Convert to Image Directory is invalid."
In this document, in the beginning it says:

- The designer can only run training experiments on Azure Machine Learning Compute but other compute targets won't be shown.

However when I create a new or use a template on the designer, I can select clusters or attached compute.
After I select default compute target and try to run the pipeline I get these errors:

The compute target xxx of Convert to

[2022-02-21 15:21] Ryan-Shepherd-BOT opened #88462 "multiple critical errors in this document"
1) "Remember that having more than one partition will result in events sent to multiple partitions without retaining the order, unless you configure senders to only send to a single partition out of the 32 leaving the remaining 31 partitions redundant." This is extremely misleading and caused me to lose days as I tried to work around it. Order is maintained within each partition. Combine this with

[2022-02-21 15:22] pminnis opened #88463 "2/21/2022 -- Access Review documentation is badly out of date and old screenshots of the Access Review controls are confusing"
This document has snapshots of access reviews that are badly out of date. the current access review format doesn't look anything like what's shown in this document, and our users will be confused by these old instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60590ca9-3b4d-925b-4d01-b7c40b02416e
* Version Inde

[2022-02-21 15:22] vanessabruwer opened #88464 "Service Health Alerts howto guidance out of date"
Document is out of date - the document refers to adding Service Health alerts as part of Activity Log alerts, which is not correct

Step 3 on this document:

Select +Add activity log alert, and set up an alert to ensure you are notified for future service notifications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37

[2022-02-21 15:29] SreejaBhattacharya-MSFT commented on #88453
Hello @dannradkov
Thanks for the feedback. I will check on this and update you accordingly.

[2022-02-21 15:31] amanmcse commented on #88383
@kanikak-MS Thank you for pointing this out.

Yes, the RemoveMillisecondsFromDateTime metadata item key takes effect when added in the RP file. The only change I had to make in the snippet that you have shared is to move the ```<Metadata>``` element immediately after ```<Protocol Name="SAML2" />```. Adding it after ```<DisplayName>PolicyProfile</DisplayName>``` and before ```<Protocol Name="SAML2"

[2022-02-21 15:36] AshokPeddakotla-MSFT commented on #88311
@ozdemiremrah81 Link has been updated. It is working as expected. Please let us know if you have any issues.

[2022-02-21 15:39] dagwinstox opened #88465 "Article completely bypasses authentication challenges"
This article completely dismisses the fact that legacy windows applications that use a database migrated to SQL Managed Instance can no longer connect to the instance after migration because SQL Managed Instance does not support Windows Authentication. SQL Authentication is not a good option, as it is not considered secure (DB admins can change SQL accounts).

---
#### Document Details

⚠ *Do not

[2022-02-21 16:11] SwathiDhanwada-MSFT commented on #88447
@kunom Thanks for your feedback.

Assigning to content author  @tfitzmac for review.

[2022-02-21 16:12] SwathiDhanwada-MSFT commented on #88452
@Sachin1O1 Thanks for your feedback.

Assigning to content author @bwren  for review.

[2022-02-21 16:15] raovex commented on #12625
Hi, We are dealing with a similar problem. We have a frontdoor that is linked to an API management service. We have assigned a custom domain to the front door but not an API Management Service. The url of the API management Service is available to the general public. So, how do we restrict access? Any suggestions are welcome.

[2022-02-21 16:20] SwathiDhanwada-MSFT commented on #88171
@alfogo Thanks for your feedback.

Assigning to content author @mingshen-ms @jasongroce   for review.

[2022-02-21 16:25] SwathiDhanwada-MSFT commented on #88221
Tagging @Karishma-Tiwari-MSFT @VikasPullagura-MSFT  for insights.

[2022-02-21 16:27] SwathiDhanwada-MSFT commented on #88255
@spmanjunath Thanks for your feedback.

Assigning to content author @tfitzmac  for review.

[2022-02-21 16:29] pfgarvey opened #88467 "Tutorial instructions are out of date"
This article is already out of date. The terminology and options available in the Az Portal no longer correspond and it takes some guessing to know how to  complete the tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83954414-f799-3434-27cd-a4e18de04737
* Version Independent ID: 57c0eb28-f353-a4da-efda-2c55a08

[2022-02-21 16:54] amanmcse commented on #88410
@benedib1 I just tested it out and it is getting translated correctly with page layout version 2.1.8. Kindly open a support request if you want to troubleshoot the issue for your tenant.

For your reference, below are the settings in my B2C policy files:

[code]
[code]
![image](https://user-images.githubusercontent.com/33834131/154997592-5d4c90b5-9145-460c-a603-e1eff017f7f4.png)

[2022-02-21 16:54] #88410 closed

[2022-02-21 16:59] ShaikMaheer-MSFT commented on #88459
@ssoongcodes Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2022-02-21 17:09] GeethaThatipatri-MSFT commented on #88465
Hi @dagwinstox Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 17:40] markjbrown commented on #85263
#assign:sajeetharan

[2022-02-21 17:40] markjbrown commented on #88293
This is now in a PR and signed-off.

#please-close

[2022-02-21 17:40] #88293 closed

[2022-02-21 17:43] markjbrown commented on #80238
Closed as no response. Can reopen this if needed.

#please-close

[2022-02-21 17:43] #80238 closed

[2022-02-21 17:51] dantheman999301 opened #88471 "Little further information on Time-outs dataset for Azure SQL Database and SQL Managed Instance diagnostic telemetry"
We've been trying to diagnose some issues we're having with Azure SQL and have started streaming our logs as in the following articles. We have no managed to link up one of our issues to a specific log that has been outputted as part of the "Time-outs dataset" in the article.

However, that particular dataset has no further information on `error_state_d` only stating it is an "Error state code". I

[2022-02-21 18:09] SaurabhSharma-MSFT commented on #88450
@DonKoning Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:09] SaurabhSharma-MSFT commented on #88455
@MrAzureAD Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:31] AjayKumar-MSFT commented on #88132
Apologies for the delay from over the weekend. Yes, you are correct certificates are not used to secure custom domains, but you can load them into your code if you need them to access remote resources.

On multi-tenant, the public certificates tab allows the users to upload and manage public certificates (.cer).
It essentially helps get the certificate in runtime. The .cer are loaded to certificat

[2022-02-21 18:46] SaurabhSharma-MSFT commented on #88456
@sorensent Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:46] SaurabhSharma-MSFT commented on #88460
@Chris1234567899 Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:47] vlado101 opened #88472 "Link for Photon supported VMs does not provide info on Photon supported VMs"
Hello,

I following the link provided in the doc to find out which VMs were supported by Photon.

![image](https://user-images.githubusercontent.com/9321800/155011630-b20cca70-b3f9-4a1f-8c46-fe467d66a2ee.png)

When I looked on the pricing page it did not contain any info in the VM section about which were Photon supported. The only mention I saw of Photon was that it would be more expensive DBU co

[2022-02-21 18:48] X00169650 opened #88473 "Incorrect fr-fr translation (text shown in Chinese)"
The French version of this page is shown in Chinese.

https://docs.microsoft.com/fr-fr/azure/active-directory/develop/active-directory-v2-protocols

![image](https://user-images.githubusercontent.com/79110774/155011750-03393a05-83bd-4571-835b-21be64ff1e84.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e50110dd-3c4

[2022-02-21 18:48] SaurabhSharma-MSFT commented on #88461
@levalencia Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:48] X00169650 commented on #88473
I could not find info on how to contact localization team.

[2022-02-21 18:50] SaurabhSharma-MSFT commented on #88462
@Ryan-Shepherd-BOT Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:51] SaurabhSharma-MSFT commented on #88463
@pminnis Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-21 18:51] SaurabhSharma-MSFT commented on #88464
@vanessabruwer Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-21 18:55] SaurabhSharma-MSFT commented on #88457
@mclgoerg Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:56] SaurabhSharma-MSFT commented on #88467
@duongau Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-21 18:58] SaurabhSharma-MSFT commented on #88471
@dantheman999301 Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 18:59] SaurabhSharma-MSFT commented on #88472
@vlado101 Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-21 19:00] SatishBoddu-MSFT commented on #88110
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-02-21 19:00] #88110 closed

[2022-02-21 19:08] cwelliotte opened #88474 "Update Version OS Chart to Include .Net 6"
The chart designating which tech stacks for Azure Functions work for different hosted OSes should reference .Net 6 in addition to .Net Core 3.1 and .Net 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure

[2022-02-21 20:07] noakup commented on #82453
@dejan-shuki I have updated the documentation accordingly. Thank you!

[2022-02-21 20:15] AbbyMSFT commented on #81999
Thanks for your dedication to our documentation. Since we have not heard back from you in a while, ee are closing this issue for now. If you feel that it's still a concern, please respond and let us know.
If you determine another possible update to our documentation, please don't hesitate to reach out again.
#please-close

[2022-02-21 20:15] #81999 closed

[2022-02-21 20:16] AbbyMSFT commented on #82453
#please-close

[2022-02-21 20:17] #82453 closed

[2022-02-21 20:22] jaulates opened #88475 "Some IPv6 addresses can now be mapped to a Location"
It seems that some IPv6 address can now be mapped to a location for instance:

![image](https://user-images.githubusercontent.com/69123299/155021302-ce8f4333-f75d-48ee-adbe-d6c85f68d8a5.png)

When that happens, Conditional Access can evaluate correctly the Named Location. But there are other times when the IPv6 doesn't has a Location.
However, on the public documentation it says that all IPv6 addr

[2022-02-21 20:28] mpellizzon opened #88476 "Contributor role was not enough to give read and write access to NSG rules"
Hello,

I faced a strange situation, one Azure AD User was assigned to Contributor Role in a specific NSG Group to be able to read and write the NSG rules.

According to Support team, I had to give an additional role called Network Contributor to this work out.

The manual seems not clear about this need. Could someone clarify more on this?

Thanks

---
#### Document Details

⚠ *Do not edit this s

[2022-02-21 20:37] FabianGonzalez-MSFT opened #88477 "Add a Highlighted note about unsupported setting"
When you use a certificate that uses an RSA public key with an EC signature algorithm, the error returned by the Service is that Key Size is incorrect. Error -->  Unsupported key size (4096). Supported sizes are [256, 384, 521]

The above error happens because the customer mixes the key type with a different signature algorithm...In the doc is specified that RSA supports X signatures and that EC s

[2022-02-21 20:39] Natochia commented on #87669
Hello Team,

The Government cloud customers cannot request the invoice by email. They can only download for security

[2022-02-21 20:40] johndowns commented on #87957
Thanks for the discussion, @StingyJack and @PramodValavala-MSFT.

While it's certainly true that API Management doesn't prevent you from deploying a new revision that breaks your clients, the intention of the revisions feature is to enable you to support non-breaking changes. @PramodValavala-MSFT gave some good examples. You are also free to ignore the revisions feature and always version your API

[2022-02-21 20:40] #87957 closed

[2022-02-21 20:45] Natochia opened #88478 "Correction to: This page does not contain any thing regarding Azure Government cloud #87669"
[Government Cloud customers **cannot** have the invoices emailed to them. They can only download them.]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f50540b4-83ae-289a-e3ae-7ed2d66194b3
* Version Independent ID: f7554732-27f1-37cb-ff36-74d4ad3b9087
* Content: [View and download your Azure invoice](https://docs.microso

[2022-02-21 20:49] Natochia commented on #88478
Kindly update the customer facing document https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/download-azure-invoice.
This must mention that the Government cloud customer can only download their invoice. Email is not an option.

[2022-02-21 21:13] aschabus opened #88479 "Inconsistent list of foundational/mainstream services"
The list of foundational/mainstream services is inconsistent between the documentation of
Azure Services (https://docs.microsoft.com/en-us/azure/availability-zones/region-types-service-categories-azure)
and
Azure services that support availability zones (https://docs.microsoft.com/en-us/azure/availability-zones/az-region)

e.g. Azure DNS Private Zones is a foundational service in "Azure services t

[2022-02-21 21:42] ainsleybernard commented on #41177
Hello @ConnorMcMahon,
Would you be able to help me, from what i think I understand your suggestions is not put hub name in app settings (make it sticky) and reference it in the host.json, is this correct?

If so what is the recommended way to point each slot to its own hub? Does the production slot automatically point to the default hub?

[2022-02-21 21:51] YutongTie-MSFT commented on #87920
@MrCordeiro Please feel free to let me know the result and share your Azure subscription ID to me so that I can create a free support ticket for you. Thanks!

[2022-02-21 22:16] AK-HKVP9 opened #88481 "The number of replication Azure backup supports"
This article says the number of replication Azure backup supports is two but it lists three (LRS,GRS and ZRS)

Doc link : https://docs.microsoft.com/en-us/azure/backup/about-azure-vm-restore

![image](https://user-images.githubusercontent.com/96558735/155032366-a0b80add-587a-4f65-8b9e-d300c4799374.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-02-21 23:12] GeethaThatipatri-MSFT commented on #88386
Hi @savjani Can you please provide your inputs

[2022-02-21 23:14] GeethaThatipatri-MSFT commented on #88399
Thanks, @LouisNav did you get a chance to post in the Q&A forum? please share the link here.

[2022-02-21 23:19] savjani commented on #88386
Adding @dimadhus to help

[2022-02-21 23:31] SvenAelterman opened #88482 "Document should detail what happens to existing recovery points when changing backup policy"
This doc mentions changing the backup policy assigned to backup items, as well as changing the policy definition itself. However, there is no discussion of how these changes affect the retention of existing recovery points.

What should ideally be covered:

- How changing the policy assigned affects existing recovery points that are
  - Outside of the new retention period (including weekly, monthl

[2022-02-21 23:32] asaikali opened #88483 "Commands should set memory unit to avoid warning."
The command

[code]

produces a warning

[code]

The unit should be set to avoid to the warning

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 487f4413-4379-bbaf-e3aa-30f566eb802c
* Version Independent ID: 9eff45cf-9865-a04a-b156-4578da1b50c1
* Content: [Quickstart - Build and deploy apps to Azure Spring Cloud](https:/

[2022-02-21 23:33] SvenAelterman commented on #88482
Some of this is covered here, so it might suffice to link to this article: https://docs.microsoft.com/azure/backup/guidance-best-practices#optimize-backup-policy

[2022-02-22 00:03] tcsougan opened #88484 "Backend Status Unknown: Application gateway deployed in a spoke VNet that is connected to a secured Virtual WAN hub (Virtual WAN hub with an Azure Firewall)."
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-backend-health-troubleshooting#backend-health-status-unknown
It is important to also mention the scenario where we have a secure virtual WAN in the picture.
This is the scenario: https://docs.microsoft.com/en-us/azure/virtual-wan/scenario-secured-hub-app-gateway#scenario-1
In this case the Internet

[2022-02-22 00:13] bandersmsft commented on #88478
@Natochia I'm investigating this with the Azure Billing engineering team. I'll reply here when I have more information.

[2022-02-22 00:17] LifeRyuto commented on #88228
Thank you

[2022-02-22 00:18] TLKG opened #88485 "PostgreSQL Flexible is NOT free"
Created my free trial account in Nov., all postgreSQL are charged now, not 12-months free, to verify I try to create one follow exact steps, you can see it's not free! Feel free for any questions.

![image](https://user-images.githubusercontent.com/22269729/155041077-e3a3b857-202d-49be-968d-c44f4e949e97.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-02-22 00:39] ElioZhou opened #88486 "KeyError: 'iteration'"
[Enter feedback here]
When I ran 01-turbofan_regression.ipynb,
it gave me an error below, why it happend?
<img width="830" alt="截屏2022-02-21 下午7 38 57" src="https://user-images.githubusercontent.com/41265059/155042742-6dbb3a3b-71dd-4e41-9381-97b8d3587944.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de25b89e-91d

[2022-02-22 00:40] msmimart commented on #84505
Hi @nikki-c, with some recent updates, we've simplified the explanation of the various user types and replaced the diagram that was hard to read. Hope these changes are helpful. Thanks for your feedback!

#please-close

[2022-02-22 00:40] #84505 closed

[2022-02-22 00:49] msmimart commented on #85016
@ChristianJBergstrom, thanks so much for these suggestions. I've moved them to an internal work item for tracking; I'll go ahead and close this issue but changes to the article are in the works. Thanks again!

#please-close

[2022-02-22 00:50] #85016 closed

[2022-02-22 01:01] msmimart commented on #87544
Hi @ivratche, thanks so much for your feedback. We've recently updated the information on the email one-time passcode rollout; please see the new announcement.
#please-close

[2022-02-22 01:01] #87544 closed

[2022-02-22 01:20] wentingd opened #88488 "ja-jp page displays Portuguese? version"
**What it does**: [ja-jp version of this page](https://docs.microsoft.com/ja-jp/azure/defender-for-cloud/secure-score-security-controls) it wrongly displays the Portuguese? version.

**What it should do:** display the Japanese version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d7741b-cd5a-29b0-c360-e054f7686c87
*

[2022-02-22 01:24] MonikaReddy-MSFT commented on #88481
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-22 01:24] #88481 closed

[2022-02-22 01:25] MonikaReddy-MSFT commented on #88482
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-22 01:26] MonikaReddy-MSFT commented on #88478
@bandersmsft - Thanks for checking with engineering team.
@Natochia - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-02-22 01:40] SaurabhSharma-MSFT commented on #88474
@cwelliotte Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 01:41] SaurabhSharma-MSFT commented on #88479
@aschabus  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-22 01:42] SaurabhSharma-MSFT commented on #88475
@jaulates Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 01:43] SaurabhSharma-MSFT commented on #88476
@mpellizzon Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 01:45] SaurabhSharma-MSFT commented on #88477
@FabianGonzalez-MSFT Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 01:56] TaylorHuang2017 opened #88490 "Create a new billing profile"
[Enter feedback here]
Starting Feb, Customer-Led billing accounts support adding additional billing profile. So this feature is available for all MCA accounts, no matter field-led or customer-led.

We may need to update this paragraph.

_Adding additional billing profiles is supported only for direct Microsoft Customer Agreements (working with a Microsoft representative). If you don't see the Add

[2022-02-22 02:12] blueww commented on #85937
This looks the same issue as https://github.com/Azure/azure-powershell/issues/17005.
@warrenb-cgi
What's the Powershell version of yours? Did you try the same script in standalone Windows PowerShell 5.1? or did you do any special step in Vscode because the first System.Threading.Tasks.Extensions.dll should not be loaded.

[2022-02-22 02:13] hatasaki opened #88491 "Japanese version of this doc is missing"
This page (following URL) should be written in Japanese but now written in Spanish. Please fix it so that it is displayed in Japanese.
https://docs.microsoft.com/ja-jp/azure/openshift/openshift-faq

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4a8cb0c6-b695-e55a-d9ec-9a799b802ea3
* Version Independent ID: 80fd40f6-a7f3-4848-95ea-9681d266f9a7
* Conte

[2022-02-22 04:12] asaikali opened #88494 "Sample should show usage of Spring Cloud Gateway Service"
This sample should use the spring cloud gateway provided by Tanzu rather then the OSS spring cloud gateway.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 487f4413-4379-bbaf-e3aa-30f566eb802c
* Version Independent ID: 9eff45cf-9865-a04a-b156-4578da1b50c1
* Content: [Quickstart - Build and deploy apps to Azure Spring Cl

[2022-02-22 04:14] AjayKumar-MSFT commented on #88132
chaisen2006, Hope the above helps answer your question. I'll close this thread, if you have further questions, please just let us know.

[2022-02-22 04:14] #88132 closed

[2022-02-22 04:14] SadiqhAhmed-MSFT commented on #88490
@TaylorHuang2017 Thanks for the feedback. We will review the content and update as appropriate.

@bandersmsft FYI!

[2022-02-22 04:18] AnuragSingh-MSFT commented on #88073
@DBJDBJ, We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2022-02-22 04:24] AnuragSharma-MSFT commented on #88485
@TLKG Thank you for the feedback. We are actively investigating and will get back to you soon.

[2022-02-22 04:25] AshokPeddakotla-MSFT commented on #88486
@ElioZhou Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-22 04:26] durantmbie opened #88495 "missing Synapse setup instructions"
The top half of the page is instructions for setting up a SQL dedicated pool.  The bottom half of the page is about setting firewall rules on an Azure Synapse Instance.  There are not instructions for creating an Azure Synapse Analytics instance.  The instructions reference a non-existent mySampleDataWarehouse.

This is supposed to be the page for setting up Azure Synapse Analytics as a Pre-requis

[2022-02-22 04:30] GitaraniSharma-MSFT commented on #88484
@tcsougan , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , could you please review this feedback and add the requested scenario to this doc where we have a secure virtual WAN?

[2022-02-22 04:36] AshokPeddakotla-MSFT commented on #88311
@ozdemiremrah81 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-02-22 04:36] #88311 closed

[2022-02-22 04:37] MayankBargali-MSFT commented on #88198
@barneschism I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 04:59] KrishnaG-MSFT commented on #87939
@rajeshkhanikar As mentioned [here](https://docs.microsoft.com/en-us/answers/questions/707826/index.html), this is a known issue and the accountable product team is working on it. The ETA for this product bug fix is end of March 2022. Until then, please leverage the below provided workaround. It is possible to use PowerShell instead of the Azure Portal user interface to create a new Software Updat

[2022-02-22 05:01] KrishnaG-MSFT commented on #88184
@verhyppo As mentioned [here](https://github.com/MicrosoftDocs/azure-docs/issues/87561), please use https://ingestionapi-swagger.azureedge.net/#/ from now.

At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this topic or feedback on the referred Azure documentation, please do

[2022-02-22 05:01] #88184 closed

[2022-02-22 05:04] SreejaBhattacharya-MSFT commented on #88453
Hi @dannradkov , first 'D' refers to the VM family series and the second 'd' denotes the sub-family. Can you please refer to this article which explains the naming conventions for the different Azure VM sizes? [https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions](url)
Please let me know if this helps in answering your question.

[2022-02-22 05:05] SwathiDhanwada-MSFT commented on #88071
@SarveshPandey  As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-22 05:05] #88071 closed

[2022-02-22 05:08] MayankBargali-MSFT commented on #88161
@mountain65 The error is expected if you have multiple versions of dotnet installed on your machine.
As per the configuration [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=in-process%2Cbash%2Cazure-cli&pivots=programming-language-csharp#configure-your-local-environment) you only need .NET core 3.1 SDK for inproces and .NET core 3.1

[2022-02-22 05:10] cro27 commented on #87039
@manianls thank you for your suggestion. We will update the doc to reflect that Oracle 12.x or higher is supported by Microsoft managed scripts in Azure Backup.

[2022-02-22 05:19] cro27 commented on #88154
@tigormanmsft  I have updated the doc to highlight the existing statements in steps 6 and 7 to run these steps on each database on the VM. Does that fix the issue?

[2022-02-22 05:22] cro27 commented on #87929
@tigormanmsft I'm looking at how to incorporate your suggestion and clean up the doc

[2022-02-22 05:42] kano4 opened #88497 "Incorrect language display"
This page is displayed in Chinese instead of Japanese, even when the URL is set in Japanese.
[https://docs.microsoft.com/**ja-jp**/azure/media-services/latest/frequently-asked-questions](https://docs.microsoft.com/ja-jp/azure/media-services/latest/frequently-asked-questions)
![image](https://user-images.githubusercontent.com/539698/155070048-c6005ce1-0747-49f3-9aaf-d04fc88d6c59.png)

---
#### ドキュメ

[2022-02-22 05:52] sarahyoon opened #88498 "Cancellation and exchanges not allowed for SUSE & RedHat"
Hi Team,

I would like to know why the SUSE & RedHat cancellation is not allowed.
Could you please explain the reason in detail from the doc, and then how to cancel these products if the customer do not wish to use the product anymore.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9d3cfc6-a334-6776-1990-2

[2022-02-22 06:15] SreejaBhattacharya-MSFT commented on #88307
Hi @RGlanzmann , we will now proceed to close this thread. If there are further questions, please feel free to tag me in your reply. We will gladly continue the discussion and will reopen the issue. Thank you.

[2022-02-22 06:15] #88307 closed

[2022-02-22 06:31] RohitMungi-MSFT commented on #88460
@Chris1234567899 In this case it should be the second scenario where you can use these filters on the JSON result. I think the name in the result should be of the format `{originalInputName.suffix}.json` which should be the name of the original audio file with the .json suffix to recognize the file. Is this not the case?

If you look at the sample response on the [API ](https://westus.dev.cognitiv

[2022-02-22 06:35] vipulsparsh commented on #88477
@FabianGonzalez-MSFT Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2022-02-22 06:36] MayankBargali-MSFT commented on #88229
@brandonros We will now proceed to close this thread as there was no response. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-02-22 06:36] #88229 closed

[2022-02-22 06:39] valentinwatel commented on #87721
@AnuragSharma-MSFT Any updates on this by chance?

[2022-02-22 06:42] mokabiru commented on #88465
Hi @dagwinstox thanks for the feedback. We have documented all considerations for all migration guides in the overview page and kept the guide specific to instructions about discovery, assessment and migration of databases. Please see the corresponding overview page for the same article: https://docs.microsoft.com/en-us/azure/azure-sql/migration-guides/managed-instance/sql-server-to-managed-instan

[2022-02-22 07:24] AnuragSharma-MSFT commented on #88387
@kevlangdo Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-22 07:26] astaykov opened #88505 "Discrepancy in SAML terms"
That portion of the document:

Required claims for the SAML 2.0 token issued by the IdP:

|Attribute  |Value  |
|---------|---------|
|NameID Format     |`urn:oasis:names:tc:SAML:2.0:nameid-format:persistent`         |
|emailaddress     |`http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress`         |

Has a slight discrepancy in the email address reference. The `attribute (name)` is

[2022-02-22 07:29] vishalaj1 commented on #88244
@ChristopherHouser

Now we checked with supplier. They are not sending segmented messages, however they still have segmentation flag.

In this case they expect that we should not get any segmented messages if size is below 100MB.

The current size of messages sent to us is around 30-40MB. Logic app 'Receive Multiple Messages' runs for  20-30 mins but we receive blank message as output from this ac

[2022-02-22 07:38] RohitMungi-MSFT commented on #88461
@levalencia In the next [note ](https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-designer-automobile-price-train-score#set-the-default-compute-target)mentioned in the document a reference to compute cluster is added where the reference to autoscaling of compute cluster is mentioned in case compute cluster is selected. So, the compute targets displayed should be valid and I have tri

[2022-02-22 07:45] shashishailaj commented on #88488
@wentingd Thank you for catching this . We will get this checked internally and update the findings.

[2022-02-22 07:51] levalencia commented on #88461
Hello
I am testing only attached compute not clusters.

I created the attached compute as a data science VM (ubuntu )

Please let me know if you need more info from me to try to reproduce it on your side

[2022-02-22 07:51] shashishailaj commented on #88505
@astaykov Thank you for catching this . We will review and engage the documentation team for updating the same.

[2022-02-22 07:54] amanmcse commented on #88475
@jaulates This is assigned to the author to review and update.

[2022-02-22 08:00] ofirmanor commented on #81393
Hi @jwashbur
* alert processing rules are now GA
* Currently the limit of values per filter are five. If you want to suppress 50 specific VMs, you will need to create 10 rules. While annoying, you can likely script it using PowerShell / CLI.
* Removing this limit (five values per filter) is high on our backlog for this year, though I don't have a specific commitment yet.
* Filter by tags - this is

[2022-02-22 08:09] XiaoYue2-22 opened #88506 "Document mismatch"
[Enter feedback here]

No information about **Virtual network and IP filtering logs** under Resource Logs
And help confirm if Runtime audit logs is also Resource Logs? It seems there's no such log from the portal >service bus
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9dc38fd-a706-d840-f933-18df696ad18d
* Version I

[2022-02-22 08:10] patbassing opened #88507 "Supported mysql client not covered by documentation"
It could be mentioned in the documentation that mysql client version 8.0.28 is not supported by Azure Mariadb. Instead, users must downgrade to 8.0.26 or previous versions in order to connect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6405f7-f3db-7ca9-3a3a-669bd2b36364
* Version Independent ID: fa17c126-569b-f2a

[2022-02-22 08:14] bjoljo commented on #59982
Is there any information on when this improvement is planned?

[2022-02-22 08:16] clement911 commented on #56597
@Darryl284  FYI, we ended up taking the plunge and migrating to Hyperscale anyway because we were getting very close to the 4TB limit.
It turned out OK and we had no issues but it was definitely very scary to do, especially the warm up time just after the transition where the DB was quite slow for a couple of hours, but things settled after that.

We do face a major issue not being able to rebuild

[2022-02-22 08:20] dagwinstox commented on #88465
Thank you for that article. I had not really searched the migration articles as we are planning new deployments. Would be good to mention this in the regular documentation too, especially the fact that service accounts (NT SERVICE)  are not supported.

[2022-02-22 08:20] #88465 closed

[2022-02-22 08:30] dedalusmax opened #88509 "Cannot find "Storage" service tag"
I just can't choose "Storage" as a service tag. I only see the following tags when trying to add outbound rule to my NSG:
- Internet
- VirtualNetwork
- AzureLoadBalancer
- AzurePlatformDNS
- AzurePlatformIMDS
- AzurePlatformLKM

what am i doing wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd9533e-c174-cd48-0f

[2022-02-22 08:30] astaykov opened #88510 "confusing Audience notes for SAML 2.0"
While configuring SAML 2.0 Federation I encountered an issue where Azure AD is always sending `urn:federation:MicrosoftOnline` as `issuer`. Here is a sample authentication request:

[code]

Which is in total contrast with the statement in the document:

If there some time point from which a federation is considered as `new`? Because I just created a `new` federation (couple of minutes ago) and Azu

[2022-02-22 08:32] dhartz opened #88511 "Page has wrong Language"
Dear Colleagues,

the Page has the wrong language. I was browsing in German but this page looks Arabian. "View in English" works so far, but may you can correct this.

Greetings
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: a2438dcd-deba-74d9-9552-4e6b91f61416

[2022-02-22 08:35] Nionexis opened #88513 "Wrong language is displayed."
[Voer hier feedback in]
Even though the language is set to Dutch (https://docs.microsoft.com/nl-nl/azure/active-directory/authentication/multi-factor-authentication-faq) the language displayed is Polish.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Indepe

[2022-02-22 08:53] mclgoerg commented on #88457
@SaurabhSharma-MSFT Thank you :)

[2022-02-22 09:05] RohitMungi-MSFT commented on #88461
@levalencia Yes, the compute target of a DSVM seems to be invalid for the designer runs.
@lgayhardt @likebupt Could you please review and update the document guidance on using attached compute with designer studio?

[2022-02-22 09:07] exextoc commented on #88349
Is this issue happening in old UI or new UI?? I think it will help if you provide more details about your repro steps there.If possible can you please share manifest at  OutlookAddins@M365x693897.onmicrosoft.com

[2022-02-22 09:17] levalencia commented on #88461
what kind of Attached  VM do we meed to create for the designer to work?

[2022-02-22 09:19] AbbyMSFT commented on #83052
@kar400 , Thanks for your dedication to our documentation. We sincerely apologize for the delayed response. I checked the link in the document, and it seems to be working fine now.
If you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out again.
#please-close

[2022-02-22 09:19] #83052 closed

[2022-02-22 09:19] shashishailaj commented on #88505
@astaykov We [checked this](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-saml-idp#sample-saml-request-and-response-messages) and you are correct . We have raised a change request which will be reviewed by the internal content team and once it gets approved , the change will be live on the public documentation .

[2022-02-22 09:19] #88505 closed

[2022-02-22 09:20] RZomermanMS commented on #85742
any update on this one?

[2022-02-22 09:20] astaykov commented on #88505
Excellent! Thank you for the quick reaction!

[2022-02-22 09:23] SreejaBhattacharya-MSFT commented on #88498
Hello @sarahyoon, I will check internally to answer your query on 'why' the cancellation is not allowed for SUSE and Redhat plans, and get back to you on this.

[2022-02-22 09:28] ShaikMaheer-MSFT commented on #88243
@dearandyxu Could you please validate customer feedback and update doc as appropriate? Thank you.

[2022-02-22 09:48] cafecrema opened #88515 "Cannot get this deployed..."
Hello, I could not get this deployed with the given example code. The error lies in the bicep directory

`  templateFile: './main.bicep'`

It should be:

`  templateFile: 'main.bicep'`

Can you check that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6033eeec-26a9-d208-a8a9-098542fbafb4
* Version Independent ID: 33c3

[2022-02-22 09:51] dohughes-msft opened #88516 "Support for Ultra Disk with Msv2 medium memory"
The table listing VM series that are compatible with ultra disk does not mention the Mv2 medium memory series. Are these VMs usable with ultra disk?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b4f48bd-e5e9-ebca-e29e-9dec927bc2d3
* Version Independent ID: 2e032831-dbb6-aaf2-15ce-ac072ef36727
* Content: [Select a dis

[2022-02-22 09:54] shashishailaj commented on #87803
@saurabhvartak1982 We checked this and found that it is just name a step that can be anything one likes as per their requirements and the content does provide inputs on the same. however , we have informed the content owner internally of this request for consideration .

Thank you.

[2022-02-22 09:54] #87803 closed

[2022-02-22 09:56] r0kas commented on #85742
You can find something like this in ARM godocs. https://pkg.go.dev/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/resources/armsubscriptions#Client.CheckZonePeers

But this should be a generic method next to subscriptions api or similar. It's something that impacts how zones within region are used, not just ARM.

[2022-02-22 09:59] dohughes-msft opened #88517 "Support for disk bursting"
Does this VM family support disk bursting?

The page https://docs.microsoft.com/en-us/azure/virtual-machines/disk-bursting#virtual-machine-level-bursting simply says that "most VM series that support premium disk, support bursting."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4a150d-1617-96a4-c460-3190ed8598b4
* V

[2022-02-22 10:04] GitaraniSharma-MSFT commented on #88398
@kallsu , the documentation is not out of sync.

After enabling a service endpoint, the source IP addresses switch from using public IPv4 addresses to using their private IPv4 address when communicating with the service from that subnet. The IP address switch only impacts service traffic from your virtual network. There's no impact to any other traffic addressed to or from the public IPv4 addresse

[2022-02-22 10:04] #88398 closed

[2022-02-22 10:08] MrCordeiro commented on #87920
@YutongTie-MSFT, yes! Setting the PAT directly to the cluster did work - and it worked even after I removed the `workspace.set_connection` option.

My id is: 0623f3a1-4221-4c0d-aa14-a2df0e47a3d3

[2022-02-22 10:18] GitaraniSharma-MSFT commented on #88445
@B16111701 , We have assigned this to the content owner/author for review.

@sumeetmittal , could you please review this and update the doc as appropriate?

[2022-02-22 10:21] GitaraniSharma-MSFT commented on #88509
@dedalusmax , thank you for your query. We'll investigate and update as appropriate!

[2022-02-22 10:24] GitaraniSharma-MSFT commented on #88511
@dhartz , thank you for your feedback. We have assigned this to the content owner/author for review.

@vhorne , could you please help in fixing this doc's language to German as it is showing in Arabic now?

[2022-02-22 10:27] MayankBargali-MSFT commented on #88506
@XiaoYue2-22 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 10:29] joteromontes opened #88519 "No info about routing requirements at Local Network Gateway to route the NAT segment"
We need precise explanation about how to handle the routing using the LNG to be able to have bidirectional network traffic using static nat rules.

As well adding more examples in the how to is needed. NAT is not only used when you have overlapping network segments.

More details about how to use ingress and egress with packet flows will be desirable

---
#### Document Details

⚠ *Do not edit this

[2022-02-22 10:35] jkisters-aptis opened #88520 "The Atlassian screenshots and click paths are outdated"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04509836-867e-279f-c1d6-135a237d357e
* Version Independent ID: e05a10ce-c46b-334e-78e2-30b416ed904a
* Content: [Tutorial: Configure Atlassian Cloud for automatic user provisioning with Azure Active Directory](https://docs.microsoft.com/en-us/azure/act

[2022-02-22 10:39] MughundhanRaveendran-MSFT commented on #88265
@charlejc , I would like to isolate this issue to troubleshoot further. could you please try to publish the function package via CLI and check the outcome? Based on this result we can proceed further

[2022-02-22 10:46] MughundhanRaveendran-MSFT commented on #87913
@ggailey777 , @cgillum , Could you please look into this ?

[2022-02-22 10:47] shashishailaj commented on #88488
@wentingd We are taking this internally to the translation team and this should get fixed in a few days.

Thank you .

[2022-02-22 10:47] #88488 closed

[2022-02-22 11:04] kevlangdo commented on #88387
Thanks

On Tue, Feb 22, 2022 at 2:24 AM AnuragSharma-MSFT ***@***.***>
wrote:

--

Kevin Languedoc
***@***.***

[2022-02-22 11:11] KrishnaG-MSFT commented on #88515
@cafecrema Thanks for the comment. We will review and provide an update as appropriate.

[2022-02-22 11:36] GitaraniSharma-MSFT commented on #88519
@joteromontes , thank you for your feedback. We have assigned this to the content owner/author for review.

@cherylmc , for your review.

[2022-02-22 11:39] PriyankaRudramaina commented on #88517
Hello @dohughes-msft,

I am reviewing this internally with the content author. I will update the thread further. Please standby.

[2022-02-22 11:50] MayankBargali-MSFT commented on #88483
@asaikali Thank you for your feedback! We will review and update as appropriate.

[2022-02-22 12:17] ShaikMaheer-MSFT commented on #88414
@mirsky72 Thanks for question. This channel is reserved for ‘Azure docs’ questions- For sharing feedback directly related to document and suggesting content improvements, it is recommend to post the technical questions on the [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/index.html)  where one of our specialized engineers in the subject or the Azure community members can provi

[2022-02-22 12:18] #88419 closed

[2022-02-22 12:22] ShaikMaheer-MSFT commented on #88451
@mssaperla Could you please validate customer feedback and enhance document as appropriate? Thank you.

[2022-02-22 12:24] ShaikMaheer-MSFT commented on #88495
@durantmbie Thank you for sharing feedback. We are actively validating it. We will share updates shortly.

[2022-02-22 12:25] shekharssorot2002 opened #88522 "Incorrect description regarding write latency of LRS vs ZRS"
Text reads
"However, the write latency for LRS disks is better than ZRS disks because LRS disks synchronously write data to three copies in a single data center."

It should be
"However, the write latency for LRS disks is better than ZRS disks because ZRS disks synchronously write data to three copies in a single data center."

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-02-22 12:26] #88522 closed

[2022-02-22 12:26] shekharssorot2002 commented on #88522
Incorrectly raised request

[2022-02-22 12:54] Chris1234567899 commented on #88460
@RohitMungi-MSFT Thank you for your response.
I've seen the API page, but nonetheless the name in the result file is not like {originalInputName.suffix}.json.
Here, an example:

1. I create a new transcription with this payload (just a random example audio):
POST->https://southcentralus.api.cognitive.microsoft.com/speechtotext/v3.0/transcriptions
[code]
This is the result I get for the transcripti

[2022-02-22 12:57] SnehaAgrawal-MSFT commented on #88249
@richsage Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2022-02-22 12:58] magichappens89 commented on #59982
Also curious about that. It´s bad user experience and a potential security risk as you seem to expect that either an admin is knowing which app should get which consent in the name of the whole company (we don´t) or train users muscle memory to always give consent when they login to an app that doesn´t require user assignment. And it might just be my feeling but checking app assignment before cons

[2022-02-22 12:59] SnehaAgrawal-MSFT commented on #88497
@kano4 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-22 13:15] RohitMungi-MSFT commented on #88460
@Chris1234567899 I think the original request with the contentURL should only point to the container location instead of the exact file.

`https://www.signalogic.com/melp/EngSamples/Orig/`

As per the reference API [schema](https://westus.dev.cognitive.microsoft.com/docs/services/speech-to-text-api-v3-0/operations/CreateTranscription).

[2022-02-22 13:25] jyama4ta commented on #87630
Hi @PriyankaRudramaina , Is there any update?

[2022-02-22 13:27] charlejc commented on #88265
I'm not entirely sure how to publish the function package via the command line interface. But I will post the outcome once I figure this out.

Did you see the comment I left on the closed issue referenced above?

I think the problem is with Oryx. Here's the build log:

Run Azure/static-web-apps-deploy@v1
  with:
    azure_static_web_apps_api_token: ***
    repo_token: ***
    action: upload
    ap

[2022-02-22 13:29] Chris1234567899 commented on #88460
According to the docs, there are 2 ways:
- contentUrls
- contentContainerUrl

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription

Both should be fine, whereas contentContainerUrl only works with azure blob storage containers, right?
In any case, urls to single files must also be possible to work:
![grafik](https://user-images.githubusercontent.com/12623865

[2022-02-22 13:35] wesmc7777 commented on #81714
@mikebergin  You are correct. The photo is wrong and should match the wiring diagram. Thank you catching this.

[2022-02-22 13:50] lissff commented on #85149
@palma21 do you know when we could have the document updated

[2022-02-22 13:56] yanivlavi commented on #80458
This is fixed and will roll out tomorrow.
#close

[2022-02-22 13:56] #80458 closed

[2022-02-22 13:57] RohitMungi-MSFT commented on #88460
@Chris1234567899 Yes, `contentContainerUrl ` is used for Azure blobs.
I overlooked your previous response and assumed you were using Azure storage with a sample URL. My bad.
If you are using the `contentURL `with the exact file then the behavior would be as seen in your response. The documentation around filtering the results could mention to use this method only if the original request used `cont

[2022-02-22 14:00] yanivlavi commented on #80168
A fix will roll out tomorrow.
#please-close

[2022-02-22 14:00] #80168 closed

[2022-02-22 14:11] Chris1234567899 commented on #88460
I understand.
I agree, the docs should mention that.

But also the naming convention is a bit strange then. Why should the name be like {originalInputName.suffix}.json when using contentContainerUrl , but not when using urls to the files directly?
That does not make a lot of sense in my opinion.

In this case, I would have to download every result file first to look at the source used to determine

[2022-02-22 14:17] MonikaReddy-MSFT commented on #88482
@SvenAelterman -

- We have this FAQ describing the required info: [https://docs.microsoft.com/en-us/azure/backup/backup-azure-vm-backup-faq#what-happens-if-i-modify-a-backup-policy](url)

- Stopped backup can't be deleted automatically with policy as no policies are assigned to it. One can resume protection and assign a policy : [https://docs.microsoft.com/en-us/azure/backup/backup-azure-vm-backu

[2022-02-22 14:17] #88482 closed

[2022-02-22 14:18] sergioandreslq opened #88524 "Error in PS for command Get-AzureADDirectorySetting, it is empty in my tenant, however, in other tenant it provide correct output"
Hello Team,
This is to share a weird issue that 2 LATAM customers are facing when trying to enable container protection following the instruction in Microsoft docs:
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-assign-sensitivity-labels

![image](https://user-images.githubusercontent.com/75001072/155150568-268cad40-27a7-4bbe-8a15-a1d020dc6df3.png)

When the custom

[2022-02-22 14:21] SnehaAgrawal-MSFT commented on #88078
@RubenVerschuere Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please let us know.

[2022-02-22 14:21] #88078 closed

[2022-02-22 14:25] fwilhe opened #88525 "Deprecation warnings by Terraform"
This tutorial seems to follow deprecated practices according to terraform.

Output of tf plan:

[code]

I'm using terraform on mac os installed via brew:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e440c59-c78b-f81a-6fd1-ac5b788ab1fc
* Version Independent ID: 33f85b87-2e44-d78c-5fe2-8f6d72748bc4
* Content:

[2022-02-22 14:29] MonikaReddy-MSFT commented on #87939
@KrishnaG-MSFT - Thanks for providing your insights.

@rajeshkhanikar - Hope @KrishnaG-MSFT has answered your question.

At this moment, since there is no doc update required, we will now proceed to close this thread. If there is a doc update required after the bug is fixed, we will ensure to update the doc. If there are further questions regarding this matter, please tag me in your reply. We will

[2022-02-22 14:29] #87939 closed

[2022-02-22 14:34] shashishailaj commented on #88513
@Nionexis Thank you for catching this . We will investigate and update the thread.

[2022-02-22 14:35] shashishailaj commented on #88510
@astaykov Thank you for sharing your feedback . We will investigate and update the thread.

[2022-02-22 14:36] ssivas commented on #88491
@hatasaki  Thank you for your query . We will investigate and update the thread.

[2022-02-22 14:36] ssivas commented on #88491
@jimzim,  Could you please take a look in this GitHub issue. Thanks.

[2022-02-22 14:37] #88427 closed

[2022-02-22 14:45] Trubador commented on #62419
Since Pulumi has support for this now, does Terraform support it as well now?

[2022-02-22 14:48] prietosanti commented on #60273
Here is an example of how I create a private ACI using the `.yaml` file without specifying the network profile property (which indeed was deprecated in the apiVersion: 2021-07-21 -> see [MS Doc](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-reference-yaml))

[code]

Then you can create the ACI with the command:

`az container create --resource-group rg-test-001 --l

[2022-02-22 14:54] psignoret commented on #59982
@bjoljo There is no timeline we can share at the moment, but I can tell you it is very unlikely it will be in the next six months.

@magichappens89 Thanks for your feedback!

[2022-02-22 15:00] fwilhe commented on #88525
I guess this one would be the updated version:

`main.tf`:

[code]

`output.tf`:

[code]

[2022-02-22 15:04] cwelliotte opened #88527 "Getting Started with Azure Functions in Visual Studio References Cloud Explorer"
"Examine the output queue" section references the, "Cloud Explorer" which appears to have been removed from Visual Studio 2022. This page should be updated for VS 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c557865-c800-2846-1d10-003f2c16213b
* Version Independent ID: a30de769-074f-bb42-cd76-3397598069b2
* Co

[2022-02-22 15:04] savjani commented on #88507
Adding @Bashar-MSFT to help with this

[2022-02-22 15:04] savjani commented on #88507
Btw - we are planning to fix this soon in next couple of weeks

[2022-02-22 15:54] #84058 closed

[2022-02-22 15:54] Gargi-Sinha commented on #87300
#please-close

[2022-02-22 15:55] markjbrown commented on #85263
Have a PR in process to address this. Closing. Thanks for reporting.

#please-close

[2022-02-22 15:55] #85263 closed

[2022-02-22 15:57] GeethaThatipatri-MSFT commented on #88208
I'm assigning this to the author for the feedback review.

[2022-02-22 16:06] vhorne commented on #84243
Additional overview content added at the beginning.
#please-close

[2022-02-22 16:06] #84243 closed

[2022-02-22 16:11] #81714 closed

[2022-02-22 16:12] RohitMungi-MSFT commented on #88460
@Chris1234567899 I can confirm that this is by design. As you have mentioned, The guidance to use the `source `field in the result transcript file instead of relying directly on the response of Get Transcription files if `contentURL `is used.

`  "source": "...",                      // sas url of a given contentUrl or the path relative to the root of a given container
`

[2022-02-22 16:20] Bashar-MSFT commented on #88507
This is updated in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/189327

[2022-02-22 16:32] GeethaThatipatri-MSFT commented on #88399
Thanks for posting in [Q&A forum](https://docs.microsoft.com/en-us/answers/questions/742892/index.html) We will proceed to close this issue now. If there are further questions regarding this, please comment and we will gladly continue the discussion

[2022-02-22 16:32] #88399 closed

[2022-02-22 16:40] kenwith commented on #87360
@Saratoga6 - I checked with the engineer that developed the script. He checked and it seems to be working correctly for him. Would you please open a service ticket so the support engineers can figure out what might be causing your issue? The engineer that developed the script is named Arpad and you can mention his name in the ticket so he can reach out directly and discuss what issue you might be

[2022-02-22 16:40] #87360 closed

[2022-02-22 16:42] JamesTran-MSFT commented on #88520
@jkisters-aptis
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-22 16:59] KenpoKegs commented on #81249
@tumtum73, had the same issue this week and have the following working for me (extract from full script for conciseness):

_$FdWafName = 'fdwafname'
$RgName = 'fdwafrgname'
$WafObj = Get-AzFrontDoorWafPolicy -Name $FdWafName -ResourceGroupName $RgName
##add new IPs
$AppendIPList = @("123.123.123.123","121.121.121.121")
##combine with Existing
$AppendIPList += $WafObj.CustomRules.MatchConditions.Ma

[2022-02-22 17:17] hz4dkr commented on #85000
Any update on the fix for this?  I just ran into the same issue.

[2022-02-22 17:19] Orma07 opened #88528 "Trying this tutorial"
[Enter feedback here]

Hi I have the feeling that there is a missing part in this documentation I done it step by step but I'm not able to do the last part 'Configure DNS
Create a CNAME record in your DNS such as login.domain.com that points to the Edge hostname in the Property hostname field.'

Cause on my custom domain I already created the cname for configuring custom domain...to integrate Akam

[2022-02-22 17:24] SumanthMarigowda commented on #88305
@ronwarner Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2022-02-22 17:26] SumanthMarigowda commented on #88382
@awkto Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 17:29] mmacy commented on #88473
@X00169650 This isn't something we can fix at the article editing level, so I'll close this issue and open a dialog internally with the localization team via the email thread.

#please-close

Cc: @SaurabhSharma-MSFT @nickludwig

[2022-02-22 17:29] #88473 closed

[2022-02-22 17:30] SumanthMarigowda commented on #88431
@jyama4ta Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 17:33] SumanthMarigowda commented on #88446
@hannenijhuis Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 17:35] SumanthMarigowda commented on #87776
@cjfjones Firstly apologies for the delay response!
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 17:36] Nickomang commented on #88340
@chrisk314 , thanks for the contribution! Good catch on the hanging references to the ID name, they've been fixed.

#please-close

[2022-02-22 17:36] #88340 closed

[2022-02-22 17:37] AbbyMSFT commented on #81393
Hi @jwashbur,
Thank you for your dedication to our documentation. I see that @ofirmanor has answered your questions.We are closing this issue for now, but if you feel that it's still a concern, please respond and let us know. If you determine another possible update to our documentation, please don't hesitate to reach out again.
#please-close

[2022-02-22 17:37] #81393 closed

[2022-02-22 17:39] JulianMar11 commented on #40699
Hi @ShirleyWangMSFT, was a decision reached if this feature will be developed?

[2022-02-22 17:43] KranthiPakala-MSFT commented on #87818
@vlad-ion Thank much for the feedback. The docs have been updated accordingly.

Hence closing this issue.

[2022-02-22 17:43] #87818 closed

[2022-02-22 17:44] cherylmc commented on #87244
#reassign:anzaman

[2022-02-22 17:49] nickludwig commented on #84446
#sign-off

[2022-02-22 17:52] jpmaciasg opened #88530 "IP address and subnet range missing to connect to Canada Central database server"
I had to add 13.71.168.32/29 IP range to my firewall in order to connect to my database because it's not listed in the Gateway IP addresses list nor in the Gateway IP addresses subnets for Canada Central. Please confirm/revalidate required ranges.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1a62365-4312-8aad-d2f1-b

[2022-02-22 17:56] sumeetmittal commented on #88445
Its not dependent on tenant, private link support cross tenant scenarios.  #2 sounds like a bug. Please open an IcM if you are observing that behavior. Visibility setting is for controlling the visibility meaning that customer outside RBAC shouldn't be able to make a request.

[2022-02-22 18:06] KranthiPakala-MSFT commented on #88361
@lrtoyou1223 Could you please confirm on the above ask? - Thanks

[2022-02-22 18:12] KranthiPakala-MSFT commented on #88403
@mssaperla , @leifbro - could you please review the above feedback? - Thank you

[2022-02-22 18:17] JasonWHowell commented on #86549
#please-close

[2022-02-22 18:17] #86549 closed

[2022-02-22 18:17] Nickomang commented on #80447
@gsxmax , thanks for the contribution! The article has been updated accordingly.

#please-close

[2022-02-22 18:18] JasonWHowell commented on #80464
#please-close

[2022-02-22 18:18] #80464 closed

[2022-02-22 18:27] Nickomang commented on #83097
@ozzy92, thanks for the contribution. While you're correct that the linked reference page doesn't include the `--node-resource-group` flag, this is because the custom resource group behavior to which that flag is associated is part of the `aks-preview` Azure CLI extension, which that reference page does not document.

If you are getting an 'unrecognized arguments' error, please ensure you have the

[2022-02-22 18:27] #83097 closed

[2022-02-22 18:28] #88424 closed

[2022-02-22 18:30] Varnauld commented on #88174
Hello @AshokPeddakotla-MSFT - could you please reassign this to @pamistel  please (tracking n#38264237). thanks!

[2022-02-22 18:30] SaurabhSharma-MSFT commented on #88494
@asaikali Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-02-22 18:37] JamesTran-MSFT commented on #88291
@santhoshbomma9
Adding to Erin's response, you can follow our documentation for listing the application in the gallery below.

https://aka.ms/AzureADAppRequest
[Publish your application in the Azure Active Directory application gallery](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/v2-howto-app-gallery-listing)
[Publish your application in the Azure Active Directory applicati

[2022-02-22 18:37] #88291 closed

[2022-02-22 18:37] SaurabhSharma-MSFT commented on #88516
@dohughes-msft Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 18:40] JamesTran-MSFT commented on #88353
@MrV8Rumble
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-22 18:45] Bashar-MSFT commented on #88507
@SaurabhSharma-MSFT please close this , I updated the documentation

[2022-02-22 18:46] tfitzmac commented on #88447
@kunom - thanks for this feedback. There seems to be a discrepancy between this page and the pricing page. I am looking into which is right.

[2022-02-22 18:50] GuilhermeVitorino commented on #51660
Hello @wimvangoethem,

You can try to change **ElementType** value to **PredicateValidation**. It worked for me.

[2022-02-22 18:50] jasongroce commented on #86266
#reassign:@qutreson Can you take a look at this?

[2022-02-22 18:58] JamesTran-MSFT commented on #88359
@dimmand
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2022-02-22 18:59] #88359 closed

[2022-02-22 19:08] Karishma-Tiwari-MSFT commented on #87280
I am not seeing this issue anymore. Looks like it is fixed.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-02-22 19:08] #87280 closed

[2022-02-22 19:14] Karishma-Tiwari-MSFT commented on #87640
The scope for these doc issues is to help identify gaps and issues with the Azure docs repository documentation.

For this particular issue that you have reported with the Learn module exercise, we would need to [report the issue with the Learn Team here.](https://docs.microsoft.com/en-gb/learn/support/troubleshooting#report-feedback)

Please fill out this form and this will be directed to the int

[2022-02-22 19:18] tigormanmsft commented on #88154
Apologies, but how do I review the changes?

Tim Gorman   |   +1 303-885-4526   |   ***@***.******@***.***>
Principal Cloud Solution Architect - Azure Infrastructure - Oracle SME
Customer Success Architecture & Engineering
[http://mysignature/Templates/Logos/L_Microsoft.png]

From: Chris Olsen ***@***.***>
Sent: Monday, February 21, 2022 9:20 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Tim Go

[2022-02-22 19:19] Karishma-Tiwari-MSFT commented on #87903
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-02-22 19:21] #87640 closed

[2022-02-22 19:24] rnirek opened #88536 "Missing documentaion - Best practices on PPG for SAP HANA"
Hello,

While reviewing the documentation:
*https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-hana-high-availability-netapp-files-suse*
I noticed that the above documentation is missing the information  i.e;  requirements on how to setup Proximity Group for ANF
*https://docs.microsoft.com/en-us/azure/azure-netapp-files/application-volume-group-considerations*

Could you ple

[2022-02-22 19:24] erjarvin opened #88537 "Unable to generate new key pair when using ARM template."
Reporting issue regarding deploying template with "Generate New Key Pair" specified. This does not appear to carry over to the parameters file properly resulting in Invalid Template error code:

Error:
{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The value for the template parameter 'adminPasswordOrKey' at line '36' and column '27' is not provided. Please see https:

[2022-02-22 19:26] asudbring commented on #86178
Thanks for the feedback, will discuss with Traffic Manager PM.

#please-close

[2022-02-22 19:26] rnirek opened #88538 "Missing documentaion - Best practices on PPG for SAP HANA"
Hello,

While reviewing the documentation:
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-hana-high-availability-netapp-files-red-hat
I noticed that the above documentation is missing the information i.e; requirements on how to setup Proximity Group for ANF
https://docs.microsoft.com/en-us/azure/azure-netapp-files/application-volume-group-considerations

---
#### Documen

[2022-02-22 19:28] adrianhall commented on #43049
Hello @zateckar,

The self-hosted gateway does not support environment variables per-se, so HTTP_PROXY is not supported.

We have an env.conf that establishes the basic configuration details.  However, those are not documented (as you pointed out).  I've added a backlog item to document all the environment variables.  This will be prioritized and released in the future.  Thank you for your feature

[2022-02-22 19:28] adrianhall commented on #43049
#close

[2022-02-22 19:28] mike-urnun-msft commented on #82452
Due to inactivity, we will now proceed to close this thread. If there are further questions regarding this matter, please open a new thread on the [Azure Functions Host repo](https://github.com/Azure/azure-functions-host/issues) (as this repo is more for driving improvements towards MS Docs repo) and we will gladly continue the discussion.

[2022-02-22 19:28] adrianhall commented on #43049
#please-close

[2022-02-22 19:28] #43049 closed

[2022-02-22 19:32] JamesTran-MSFT commented on #88528
@Orma07
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-22 19:34] raddaoui opened #88539 "example missing brackets"
The example in the doc for registries is missing brackets since it's a list:

  "registries": {
    "server": "docker.io",
    "username": "my-registry-user-name",
    "passwordSecretRef": "my-password-secretref-name"
  }

The right version should be:
  "registries": **[**{
    "server": "docker.io",
    "username": "my-registry-user-name",
    "passwordSecretRef": "my-password-secretref-name"
  }

[2022-02-22 19:45] josephmsft opened #88541 "Period is an invalid configuration Id character but it is not called out in the list in this document."
When creating ADM Configurations through the portal, the portal gives a visual error when you try to use a "." character.

![image](https://user-images.githubusercontent.com/59939846/155207037-f21fe656-1016-4466-bdc4-155d6a2f27d9.png)

The documentation currently does not indicate that "." is an invalid character for configuration Id.  This should be listed with the other invalid characters.

---

[2022-02-22 19:46] josephmsft commented on #88541
![image](https://user-images.githubusercontent.com/59939846/155207367-201af1a2-7930-4e96-a3e0-c222752876bd.png)

[2022-02-22 19:47] Justinha commented on #83806
@OneMoreNate Added link to the script as a workaround to add the Radius apps. I did not add a direct link to the video because it seems easy to discover at the script link.

[2022-02-22 19:47] Justinha commented on #83806
#please-close

[2022-02-22 19:47] #83806 closed

[2022-02-22 19:52] #85817 closed

[2022-02-22 20:00] SatishBoddu-MSFT commented on #88541
@josephmsft Thanks for the feedback!
Our SME will review this soon.

[2022-02-22 20:03] cfocht-caredx commented on #88403
Is there an update on this. I am getting a similar error.

[2022-02-22 20:15] nibaccam commented on #87376
Reached out to @wenxwei for doc update

[2022-02-22 20:16] rthorn17 commented on #88133
@becnichelesmith Thank you for providing this.  I believe this is outdated information and I will verify with the Cost Management Team.

[2022-02-22 20:22] mumian commented on #88515
@cafecrema - Thank you for your comment.  './' probably doesn't work with some of the environments.  I will remove that from the article.

#please-close

[2022-02-22 20:22] #88515 closed

[2022-02-22 20:28] f4rty commented on #87625
@JamesTran-MSFT

Please update to:

`
#Initial connection
Connect-MgGraph -Scopes "AuditLog.Read.All"
Select-MgProfile -Name "beta"

#Get external access
Get-MgAuditLogSignIn -Filter "ResourceTenantId ne 'Your_Tenant_ID'" -All:$True |
Group-Object ResourceTenantId,AppDisplayName,UserPrincipalName |
Select-Object count,@{n=’Ext TenantID/App User Pair’;e={$_.name}}
`

Thanks for input, all!

[2022-02-22 20:29] nibaccam commented on #83730
Reached out to @ahgyger for PM contact

[2022-02-22 20:37] nibaccam commented on #84541
Reached out to @mx-iao for release notes update.

[2022-02-22 20:41] nibaccam commented on #85544
#assign @ssalgadodev

[2022-02-22 20:42] GeethaThatipatri-MSFT commented on #88207
I'm assigning this to the author for the feedback review

[2022-02-22 20:43] cgillum commented on #87913
I think @davidmrdavid is the right guy to help with this one. :)

[2022-02-22 20:44] PriyankaRudramaina commented on #88000
Hello @RaymonZh,

Our team has already discussed this document internally and the concerned document author says, It seems AN is not an option on Dv5/Ev5 VM sizes. Customers have to turn AN on to when they launch v5 sizes. That’s why it is documented this way. The option to disable AN on v5 sizes is not really functional and will be removed.

[2022-02-22 20:45] nibaccam commented on #85624
Reached out to @shivanissambare for update

[2022-02-22 20:48] nibaccam commented on #86452
Reached out to @rsethur for update

[2022-02-22 20:51] shivanissambare commented on #85624
@shmahe can you please help with the issue, thanks!

[2022-02-22 20:52] nibaccam commented on #86496
@Blackmist to follow up with @jhirono

[2022-02-22 20:55] josephmsft opened #88542 "Free tier ADM configuration limit is listed as 20, it is actually 10"
This documentation page says the maximum number of allowed ADM Configurations for Free tier hubs is 20, but in my testing it is actually 10.  The documented limit should be updated to match the enforced limit.

![image](https://user-images.githubusercontent.com/59939846/155217682-4d747d08-a4cb-4186-af2d-0f3f59076ff5.png)

![image](https://user-images.githubusercontent.com/59939846/155217709-131293

[2022-02-22 21:09] KarlErickson commented on #88483
#reassign:karlerickson

[2022-02-22 21:09] KarlErickson commented on #88483
@asaikali thanks for the feedback! We'll get that updated.

[2022-02-22 21:09] nibaccam commented on #86746
Reached out to @jhirono for update

[2022-02-22 21:09] iryanzhang commented on #88541
besides '.',    ':',  '; ', ',' and '@' are also invalid characters per the azure portal.

[2022-02-22 21:13] Justinha commented on #85475
@josuvil sorry for delay but I think the URL is right. I do see it listed under Integration https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure#guidance-for-developers

[2022-02-22 21:13] MarileeTurscak-MSFT commented on #88402
@jdiazquiroga please create a new issue linking to the document that you would like revised.

[2022-02-22 21:17] rnemeth90 commented on #87523
Any updates? I'm also seeing this issue.

[2022-02-22 21:18] mschray opened #88543 "queueClient.Exists()) and queueClient.CreateIfNotExists() not in V12 .NET API"
[Enter feedback here]

queueClient.Exists()) and queueClient.CreateIfNotExists() not in V12 .NET API
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started with Azure Queue Storage using .NET - Azure Stora

[2022-02-22 21:22] nibaccam commented on #87262
Reached out to @Anurzeuii for update

[2022-02-22 21:23] JnHs commented on #87869
I've added these links and will close this issue now, but please let us know if you have additional questions regarding this document.
#please-close

[2022-02-22 21:23] #87869 closed

[2022-02-22 21:25] spelluru commented on #88069
https://docs.microsoft.com/en-us/javascript/api/@azure/event-hubs/eventposition?view=azure-node-latest

To get an EventPosition representing the start or end of the stream, use the constants earliestEventPosition and latestEventPosition respectively.

Default value is latestEventPosition, so you only receive the latest events.

The way this quickstart is structured, what you mentioned is correct (

[2022-02-22 21:26] spelluru commented on #88069
The updated article should go live at 3 PM PST. Thanks.

#please-close

[2022-02-22 21:26] #88069 closed

[2022-02-22 21:30] jwshive opened #88544 "container_name for docker compose on Azure App Service doesn't work"
Hello,

I am deploying a simple app with docker compose on azure and I noticed that the directive container_name does not work, Azure assigns a random name like this:

--name shive-gc-01_qatools_0_c1829191

The problem is that I am trying to communicate my containers through the default network of docker compose but I do not have success because I do not know the exact name of the service because

[2022-02-22 21:31] nibaccam commented on #88009
@lindacmsheard did @tracychms suggestion resolve the issue?

[2022-02-22 21:35] nibaccam commented on #88070
#assign @sdgilley

[2022-02-22 21:35] morris-richard opened #88545 "Microsoft.Cosmos.Database.Emulator.exe error generating new SSL Certificate"
Issue seen: CosmosEmulatorSecrets is missing in LocalComputer\My and LocalComputer\Root and error 0x8009000f is throwin when attempting to generate the new certificate with the steps listed below. Running the emulator inside the Docker container works.
Following items that I have attempted:
Attempt A:
    1. Open cmd.exe with Administrator
    2. Navigate to CosmosDB Install folder with this comma

[2022-02-22 21:38] JakeMoe commented on #62871
For anyone that comes here in the future, on my Pixel 6 Pro on Android 12, I've found under Security -> Advanced Settings, at the very bottom, was "Fingerprint Unlock for work". Once set up, I was able to use my fingerprint.

Not sure why the option above it, "Work profile lock = Same as device screen lock" didn't suffice, but at least it's sorted.

[2022-02-22 21:38] grminch commented on #74787
#reassign:grminch

[2022-02-22 21:39] grminch commented on #85089
I think this might be a product issue, rather than a docs issue. Please evaluate. #reassign:vicancy

[2022-02-22 21:42] grminch commented on #74634
Verify that the guide was updated. #reassign:grminch

[2022-02-22 21:45] spelluru commented on #88506
@XiaoYue2-22 - Thanks for the feedback. I will work with our product team to include this information.

[2022-02-22 21:52] shizn opened #88546 "Not consistent CLI choices"
When using PowerShell flavor of this tutorial, the CLI commands are always python az-cli, except the Blob Storage provisioning and key/vault setup, which asked me to use az powershell.
![image](https://user-images.githubusercontent.com/3619378/155225538-82576b94-8fed-4523-bc66-b98410ae7cde.png)

Normally it works if you have both installed. But I don't have az powershell, I noticed this issue. We

[2022-02-22 22:05] SaiKishor-MSFT commented on #88068
@GavinJin88 This would come into picture if you had https://www.contoso.com* and https://www.contoso.com/upload for example. In which case, since you are using a wildcard, requests to https://www.contoso.com/upload will also go to https://www.contoso.com* when the wildcard rule is on top of the more specific rule. Since you are not using a wildcard in your rule, it works differently and works just

[2022-02-22 22:18] martinemde opened #88548 "Auth overview page refers to request headers, but they are no where to be found."
On this page, in the heading [feature architecture or linux and containers](https://docs.microsoft.com/en-us/azure/app-service/overview-authentication-authorization#feature-architecture-on-linux-and-containers) it says the following:

Yet the rest of the page does not contain information about what headers are present and what they contain.

This wouldn't be such a problem if I could find correct

[2022-02-22 22:24] ChaitanyaNaykodi-MSFT commented on #88101
Hello @pierrel, apologies for the delayed response here. I did not face any issues while [running this tutorial](https://docs.microsoft.com/en-us/azure/virtual-network/quick-create-powershell). I was able to add a subnet "default" 10.0.0.0/24 to the Vnet 10.0.0.0/16. As 10.0.0.0/24 space is part of the 10.0.0.0/16 space.

![image](https://user-images.githubusercontent.com/67453298/155227852-0352b8

[2022-02-22 22:24] #88101 closed

[2022-02-22 22:30] v-daniac opened #88549 ""Deploy the template" section"
Hello,

I was doing the AMS ARM Quickstart, https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-arm-template-quickstart, and in the "Deploy the template section", https://docs.microsoft.com/en-us/azure/media-services/latest/media-services-arm-template-quickstart#deploy-the-template, it mentions that "You will be prompted to enter the media services account name", but I was

[2022-02-22 22:49] ChaitanyaNaykodi-MSFT commented on #88190
Hello @renaudwangler, Thank you for your feedback. The doc author has made the suggested change in the documentation.
![image](https://user-images.githubusercontent.com/67453298/155232650-26fb4a22-1a0a-4bfb-a749-0d82db3d6e92.png)

We will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-02-22 22:49] #88190 closed

[2022-02-22 22:52] martinemde opened #88551 "Please mention that token store must be enabled to receive token headers."
This page should mention that the tokens only show up in the request headers if the token store is enabled. Between that and this other page [Configure Authentication User Identities](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-user-identities), which contains some other different headers, it's very hard to tell what headers you are supposed to get. None of them men

[2022-02-22 23:02] apwestgarth commented on #88367
@raisaurabh777 if I understand the issue correctly you have attempted to install the Application services extension on two or three different clusters - AKS, KIND and potentially another?

We were investigating an issue with our partners in Arc K8s Extensions and identified an issue during extension provisioning, which can cause a false negative to be reported indicating the extension deployment f

[2022-02-22 23:06] mrochon opened #88552 "Using OAuth2Error technical profile does not work with subjourneys"
The explanation provided on this page does not seem to work when used with a journey using a sub-journey via a Call. I am trying to call invoke the OAuth2 custom error TP from the subjourney. Since it is of type call, it does not have a SendClaims step. If I mark the step which should invoke the OAuth2 Error TP as being of type SendClaims, I get an error on load saying the a call-subjourney may no

[2022-02-22 23:28] JimacoMS4 commented on #87194
HI @xaelsouth -- I looked at this, and I think that the command is correct as-written. The reason is that the serial number in rootca/db/serial is the one that will be used for the subca certificate:

    openssl ca -config ../rootca/rootca.conf -in subca.csr -out subca.crt -extensions sub_ca_extensions

Notice that the config file referenced in the command to create/sign the subca cert is the roo

[2022-02-22 23:28] johndowns commented on #88198
@barneschism Thanks for the feedback. You're right - this command doesn't work for this scenario anymore.

I've just spoken to the team and they are working on a new way to take revisions offline both from the Azure CLI and Azure PowerShell, but this isn't available quite yet.

In the meantime, you'll need to invoke the REST API directly. Here's an example request that takes a revision offline:

*

[2022-02-22 23:28] #88198 closed

[2022-02-22 23:34] ChaitanyaNaykodi-MSFT commented on #88366
Hello @vml-aledonne, we will now proceed to close this issue out. Please tag me in your response if you have any additional questions. Thank you!

[2022-02-22 23:34] #88366 closed

[2022-02-22 23:35] JimacoMS4 commented on #87194
#reassign @JimacoMS4

[2022-02-22 23:38] himanshusinha-msft commented on #88256
@scottwojack : I am able to repro this , let me reach out to the internal team on this .

[2022-02-23 00:03] mike-urnun-msft commented on #88527
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-23 00:06] josephmsft opened #88554 "Uncategorized is no longer a reserved groupId"
![image](https://user-images.githubusercontent.com/59939846/155240736-9b437322-dbd0-442c-88f6-589421b2429c.png)

Uncategorized is no longer enforced as a reserved group Id

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae57150-3f8e-4a58-b06d-c822e9f0ea39
* Version Independent ID: 94091dfd-b672-d101-b9f2-d7cbab245886
*

[2022-02-23 00:14] Oury-MSFT commented on #88530
@jpmaciasg Thank you for the feedback. We are reviewing this with the author and will get back to you.

[2022-02-23 00:17] mike-urnun-msft commented on #88539
Thank you for your feedback! We will review and update as appropriate.

[2022-02-23 00:17] David-W-Williams opened #88555 "Make the certificate accessible - missing '--slot' parameter"
The CLI command to make a certificate accessible needs to include the '-slot' parameter.

--slot [slot-name] Note: Defaults to the production slot if not specified.

Example:

az webapp config appsettings set --name [app-name] --resource-group [resource-group-name] --settings WEBSITE_LOAD_CERTIFICATES=[comma-separated-certificate-thumbprints] --slot [slot-name]

---
#### Document Details

⚠ *Do no

[2022-02-23 00:22] mike-urnun-msft commented on #88546
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2022-02-23 00:25] JimacoMS4 commented on #88541
#reassign JimacoMS4

[2022-02-23 00:26] JamesTran-MSFT commented on #88552
@mrochon
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-02-23 00:34] shizn commented on #88546
BTW the PS command in View Logs section is also different.

[2022-02-23 00:40] #88541 closed

[2022-02-23 00:42] JasonWHowell commented on #88216
#please-close
The change is live. https://docs.microsoft.com/en-us/azure/synapse-analytics/partner/data-integration

[2022-02-23 00:42] AlexanderMars commented on #85243
Hi @pkalvik, thanks for your feedback and patience. We are striving to improve Azure AD B2C localization and would like to learn a little bit more about your experience. Could you, please, elaborate what would be an ideal e2e localization process for you and the described above use case? Would you like to have a chat with me over the Teams or any other communication tool? Thank you.

[2022-02-23 00:44] JimacoMS4 commented on #88541
Thanks @josephmsft! I updated the docs to reflect this in the PR referenced above (https://github.com/MicrosoftDocs/azure-docs-pr/pull/189403). I also updated the CLI topic. Please check out the PR for details.

[2022-02-23 00:46] JimacoMS4 commented on #88541
#please-close

[2022-02-23 00:47] AlexanderMars commented on #83681
Hi @Inframatic, thanks for your feedback and patience. Could you, please, provide a little bit more details about the issue here or share a proper URL on stackoverflow? Thank you.

[2022-02-23 00:49] nibaccam commented on #86973
Thank you for reporting this @anttipo. The documentation has been updated. We will now proceed to close this thread.

#please-close

[2022-02-23 00:49] #86973 closed

[2022-02-23 00:59] stack111 commented on #87725
Hey @weltonrodrigo,
Thank you for reaching out. Agreed, we need better example for this preview feature. the feature is still preview we are working to have all the SDKs in place to support the full experience.

Specific details:
[Azure Maps CLI does not support specifying the location](https://docs.microsoft.com/en-us/cli/azure/maps/account?view=azure-cli-latest#az-maps-account-create) parameter

[2022-02-23 01:05] KarlErickson commented on #88494
@selvasingh or @yucwan - can you comment here? Thanks!
cc @bmitchell287

[2022-02-23 01:10] arun-rangarajan opened #88571 "Unclear where the pod comes from"
[Enter feedback here]

The step of running the pod is quite abrupt. Will be much better to show an example yaml. Looks like this is the deployment yaml?
https://docs.microsoft.com/en-us/azure-stack/aks-hci/secrets-store-csi-driver#update-and-apply-your-clusters-deployment-yaml-file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-02-23 01:22] anthonynz commented on #65345
This issue has been re-introduced to the Security defaults fundamentals page.

There is now a section under Deployment Considerations that explains how to create a break glass account, but it doesn't explain how to exclude it from MFA while using security defaults.

https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults#emergency-access-accounts

[2022-02-23 01:44] VikasPullagura-MSFT commented on #88571
@arun-rangarajan
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2022-02-23 01:44] VikasPullagura-MSFT commented on #88571
@arun-rangarajan
Can you please check and add your comments on this doc update request as applicable.

[2022-02-23 01:48] rbrayb opened #88572 "Incorrect URL"
"Open your browser and go to the OpenID Connect metadata URL for the tenant. Find the **issuer object** and record its value. It should look similar to https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/.well-known/openid-configuration."

When I do this, the issuer looks like:

"https://login.microsoftonline.com/GUID/v2.0"

The example above is not the issuer, it's the "well-kn

[2022-02-23 01:52] ChristopherHouser commented on #88244
@vishalaj1

I think the best route would be to open a support case, so we diagnose the cause of receive failure.

[2022-02-23 02:00] Grace-MacJones-MSFT commented on #88551
Hi @martinemde , thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-02-23 02:04] Grace-MacJones-MSFT commented on #88548
Thanks again for your valuable Feeback @martinemde.  I have assigned the issue to the content author to evaluate and update this doc.

[2022-02-23 02:16] Grace-MacJones-MSFT commented on #88549
Hi @v-daniac ,
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-02-23 02:23] youngjoven commented on #88367
![image](https://user-images.githubusercontent.com/17711472/155251857-ee446abd-cce9-428e-ba5c-a58821021447.png)

I've also gotten the same issue when I followed the steps for EKS Cluster as well

[2022-02-23 02:30] SatishBoddu-MSFT commented on #88542
@josephmsft Our SME will review the document!

[2022-02-23 02:31] SatishBoddu-MSFT commented on #88554
@josephmsft
I have assigned the issue to the content author for further review.

[2022-02-23 02:56] AshokPeddakotla-MSFT commented on #88063
@pitawatn  As mention in the doc, There are three different ways for controlling access to IoT Hub:
<img width="368" alt="image" src="https://user-images.githubusercontent.com/44426435/155254232-45054858-c98b-4abd-9853-4b64d6992779.png">

There are steps available to [Manage access to IoT Hub by using Azure RBAC role assignment](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-dev-guide-azur

[2022-02-23 03:13] ChaitanyaNaykodi-MSFT commented on #88278
Hello @wkoeter, Thank you for your feedback. I have made a PR to address this issue which is currently under doc author's review. I have modified the command as follows.

`az storage blob upload --connection-string <connection-string> --content-cache max-age=3600 --container-name <container-name> --name <blob-name> --file </path/to/file>`

You can go through [this documentation](https://docs.micro

[2022-02-23 03:13] #88278 closed

[2022-02-23 03:19] SnehaAgrawal-MSFT commented on #88544
@jwshive Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-02-23 03:30] DavidChenLiang opened #88573 "Typo?"
Hi there,
From the notes in the doc :
"Make sure 'udf' (cloud-init >= 21.2) and 'vfat' modules are enable. **Blocklisting** the udf module will cause a provisioning failure and **backlisting** vfat module will cause both provisioning and boot failures. Cloud-init < 21.2 are not affected and does not require this change.".

Should 'Blocklisting' and 'backlisting'  be '**blacklisting**' instead?

Th

[2022-02-23 03:43] SwathiDhanwada-MSFT commented on #88180
@Bellarmine-Head Thanks for your feedback.

Assigning to content author @arifgani  for review.

[2022-02-23 03:49] #88400 closed

[2022-02-23 03:50] SnehaAgrawal-MSFT commented on #88309
@amitsahu30 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please let us know.

[2022-02-23 03:50] #88309 closed

[2022-02-23 04:14] VikasPullagura-MSFT commented on #88573
@DavidChenLiang Thanks for pointing this out. The document is updated and the changes will go live soon.

[2022-02-23 04:14] SwathiDhanwada-MSFT commented on #88525
@fwilhe Thanks for your feedback.

Assigning to content author @georgewallace   for review.

[2022-02-23 04:36] JamesTran-MSFT commented on #88572
@rbrayb
Thanks for your feedback! We will investigate and update as appropriate.

[2022-02-23 04:36] AjayKumar-MSFT commented on #88555
David-W-Williams, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-02-23 04:39] makdaddy8888 opened #88574 "Business Central Connector"
I can see there is a D365 connector but I cannot see a SMB connector. Is it possible to connect Business Central to the Data Factory?
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae2389f5-6e57-bd3e-2228-83479983ca0b
* Version Independent ID: af4d7832-5f25-59cc-e9fc-74f32ec8dbc0
* Content: [Conne

[2022-02-23 04:46] SwathiDhanwada-MSFT commented on #88411
Thanks for your feedback @rgward .The document has been updated to reflect with latest information.
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2022-02-23 04:46] #88411 closed

[2022-02-23 05:35] JimacoMS4 commented on #88542
#reassign JimacoMS4

[2022-02-23 05:36] JimacoMS4 commented on #88542
#reassign @JimacoMS4

[2022-02-23 05:37] larryjoelane commented on #47752
Was the documentation updated for this?

[2022-02-23 05:42] AnuragSharma-MSFT commented on #88471
@dantheman999301 Thanks for your feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-02-23 06:11] dominic1904 commented on #87731
@JamesTran-MSFT Do you have any updates from the author? Thank you.

[2022-02-23 06:24] AnuragSharma-MSFT commented on #88545
@morris-richard Thank you for the detailed feedback. This is being assigned to the content author to evaluate as appropriate.

[2022-02-23 06:25] krkanth opened #88577 "test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ac742ee-17d9-025b-cd7f-274ed6bc0f19
* Version Independent ID: f737b7d2-7909-bc01-0686-0603016ea06c
* Content: [What's CloudKnox Permissions Management?](https://docs.microsoft.com/en-us/azure/active-directory/cloud-infrastructure-entitlement-manageme

[2022-02-23 06:36] RaymonZh commented on #88000
@PriyankaRudramaina Thanks for your confirmation. In conclusion, the AN on/off selection in the following picture does not work for Edv5,Edsv5. AN is still enabled inEdv5,Edsv5 size even AN has turned off in that option.
Seems to be portal's miss
![image](https://user-images.githubusercontent.com/97945576/155270666-80ea5ac4-375d-49a3-a369-647fb959c31d.png)

[2022-02-23 06:47] SreejaBhattacharya-MSFT commented on #88498
Hi @sarahyoon , these are essentially business decisions. For Redhat and Suse, since these products are not exactly Microsoft owned there are certain limitations.
Hope this answers your query.

[2022-02-23 06:56] SreejaBhattacharya-MSFT commented on #88453
Hi @dannradkov, since I have not heard back from you, I will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply.

[2022-02-23 06:56] #88453 closed

[2022-02-23 07:06] SaraSRS opened #88579 "SP Initiated"
"SmartRecruiters supports SP and IDP initiated SSO."
SR does not support SP-initiated SSO effective January 2022.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6c7ddca-3b31-4073-1ebf-764e86fef21e
* Version Independent ID: 25052800-5815-3f3c-277f-4a09eb529a40
* Content: [Tutorial: Azure Active Directory integration wi

[2022-02-23 07:15] dedalusmax commented on #88509
sure, here it is:

![image](https://user-images.githubusercontent.com/8254665/155275522-75fd981b-9d93-4146-9d7e-83ee3ca8ab34.png)

[2022-02-23 07:19] krispenner opened #88580 "Are Managed Identities on Windows containers in App Service Environment v3 supported?"
I can't find any documentation regarding managed identity support in App Service Environment v3 specifically in relation to Windows containers. The portal allows me to enable managed identities on both Linux and Windows container based web apps, but while they work on Linux containers they do not work on Windows containers during runtime. If anyone can comment on what's expected to work that would

[2022-02-23 07:20] Nionexis commented on #88513
@shashishailaj Alright, thank you very much.

[2022-02-23 07:21] PriyankaRudramaina commented on #88000
Hi @RaymonZh,

Thanks for highlighting this issue. I will check this in my lab and discuss it with the concerned team.

[2022-02-23 07:21] CedricZhu opened #88581 "About "Can I use Azure Bastion with Azure Private DNS Zones""
In this article, the following was documented:

Can I use Azure Bastion with Azure Private DNS Zones?
Azure Bastion needs to be able to communicate with certain internal endpoints to successfully connect to target resources. Therefore, you can use Azure Bastion with Azure Private DNS Zones as long as the zone name you select does not overlap with the naming of these internal endpoints. Before you

[2022-02-23 07:29] sarahyoon commented on #88498
@SreejaBhattacharya-MSFT,
Thank you for the support.

I am once again leaving another comment regarding this issue.

Could you let me know what if the CSP customer have to change their partner (COCP)?

For example,
If customer wants to change their partner (COCP) A to B, then the customer needs to move their subscription A partner to B. In this scenario, the customer needs to cancel the RIs first

[2022-02-23 07:33] ChristianJBergstrom opened #88582 "Get-PolicyConfig update command"
[Hi, a tiny request here...

Remove 'Azure' from the below command.

Get-PolicyConfig | format-list Azure Purview*

Thanks]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f391208-c028-c931-ffab-f8f99e6d6dc2
* Version Independent ID: c8186d8b-776b-8a39-a9e0-6d83a2028479
* Content: [Sensitivity labels in Azure Purview F

[2022-02-23 07:34] PriyankaRudramaina commented on #88000
@RaymonZh,

The understanding is correct. We need to fix the portal to remove AN disablement option on v5 but appears is not on the first priority at the moment. The concerned team is aware of it and will be considering this for fixing in future updates.

If you have any further queries on this matter, please feel free to respond.

[2022-02-23 07:34] #88000 closed

[2022-02-23 08:00] AnuragSingh-MSFT commented on #88457
@mclgoerg, This issue is being assigned to author for assistance.

@rboucher, can you please review and help here. Thank you

[2022-02-23 08:07] SwathiDhanwada-MSFT commented on #88456
@sorensent The sign-up link redirects to Yammer Group. Since this is in currently in Private Preview, Yammer group will only be accessible to MVPs who are under NDA.

[2022-02-23 08:08] kobulloc-MSFT commented on #88537
@erjarvin Thank you for bringing this to our attention!  I've assigned this to the document author for further review.

[2022-02-23 08:22] dhohle opened #88584 "Page not up to date"
In principle the documentation looks good. But when I try to create the peering from the Virtual Network, I see:
![image](https://user-images.githubusercontent.com/1853862/155283053-2e1b089f-41d2-4d60-ba4d-ce08b23ec9f1.png)
which is different from the document describing what should be done. The `Remote virtual network` seems to be the thing that is created in step 1, but that cannot be connected.

[2022-02-23 08:31] rajb865 opened #88585 "Data did not match any variant of untagged enum ManualProvisioning"
I am following the tutorial [Create and provision an IoT Edge device on Linux using X.509 certificates](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-provision-single-device-linux-x509?view=iotedge-2020-11&tabs=azure-portal%2Cubuntu#install-the-iot-edge-runtime) and trying to provision IoT Edge runtime on Linux virtual machine using x509 certificate. When I try to apply the updates to con

[2022-02-23 08:37] apwestgarth commented on #88367
@youngjoven can you also share the provisioningState from az k8s-extension show -n $extensionName -g $groupName -c $clusterName -t connectedClusters please?

I suspect your extension ultimately failed to deploy as EKS clusters do not have a storage class attached to them named default.  In my test eks cluster, I have gp2 available.  Please run kubectl get storageclass against your eks cluster and

[2022-02-23 08:38] laurence-wells commented on #87550
Hi We are also seeing this issue on executing a stored procedure on an azure database:

The type initializer for 'Microsoft.DataTransfer.Runtime.Plugins.DataTransferPluginRegistration' threw an exception.

[2022-02-23 08:39] dannradkov commented on #88453
@SreejaBhattacharya-MSFT  thanks for the answer. The link [https://docs.microsoft.com/en-us/azure/virtual-machines/vm-naming-conventions](https://github.com/MicrosoftDocs/azure-docs/issues/url) is indeedhelpful .
So I understand the second D in DDsV4 stands for subfamily D.
But what does subfamily D mean ? Intel Deep Learning Boost or something else.
Example : In the Dav4 the A stands for sub-fami

[2022-02-23 08:59] AnuragSingh-MSFT commented on #88194
@goosvorbook, The filepath with blank-space in it can also be specified in a similar manner **without** any special characters (enclosing quotes OR escaping characters). This can be easily verified by creating a custom log source and looking at the events in one of the machine (with Log Analytics agent installed) using [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procm

[2022-02-23 09:08] jvano commented on #88580
MSI works well in both multi-tenant and single-tenant stamps. Please open a support ticket and we will assist you

How to create an Azure support request:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-02-23 09:15] v-vys opened #88586 "Steps for cancellation of Legacy Support Plan"
[Enter feedback here]
Separate set of steps need to be included under the section 'Cancel a support plan' specific to cancellation of 'Legacy Support Plans' and the documentation should include the steps for cancellation of support plans purchased via 'Legacy' billing platform.
The steps on the URL currently has the steps only for the cancellation of support plans purchased **_on MCA, modern billi

[2022-02-23 09:17] GitaraniSharma-MSFT commented on #88509
@dedalusmax , thank you for the update. May I know in which region you have created this NSG? Are you facing this issue in other regions as well? I would request you to create a new NSG and test again.

[2022-02-23 09:17] SudheeshGH commented on #81641
@AnuragSharma-MSFT  Please close this.
The requested changes has been made and PR merged
https://github.com/MicrosoftDocs/azure-docs-pr/pull/189284

[2022-02-23 09:17] YorBraakman2022 opened #88587 "Warning Python 3.8 is not compatible with automl."
This has been solved according to https://github.com/automl/auto-sklearn/issues/790

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Set up AutoML with Python - Azure Machine Learning](https://docs.microsoft.co

[2022-02-23 09:32] avwolferen opened #88589 "Page is not in the proper language"
Navigating to https://docs.microsoft.com/nl-nl/azure/azure-monitor/alerts/alerts-smart-detections-migration?source=docs
The content is shown in language Chinese in stead of Dutch.
Url says nl-nl
Language setting in the footer of the page says "Nederlands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2e595b-45d5-fd6

[2022-02-23 09:33] avwolferen opened #88590 "Page is not in the proper language"
Navigating to https://docs.microsoft.com/nl-nl/azure/azure-monitor/app/proactive-diagnosticss
The content is shown in language Ariabic in stead of Dutch.
Url says nl-nl
Language setting in the footer of the page says "Nederlands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 914de10e-eaf5-d7b5-09be-c6d7b32408b2
* Vers

[2022-02-23 09:35] avwolferen opened #88591 "Page is not in the proper language"
Navigating to https://docs.microsoft.com/nl-nl/azure/azure-monitor/app/proactive-application-security-detection-pack/app/proactive-diagnosticss
The content is shown in language Czech in stead of Dutch.
Url says nl-nl
Language setting in the footer of the page says "Nederlands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-23 09:37] avwolferen opened #88592 "Page is not in the proper language"
Navigating to https://docs.microsoft.com/nl-nl/azure/azure-monitor/app/proactive-failure-diagnostics
The content is shown in language Russian in stead of Dutch.
Url says nl-nl
Language setting in the footer of the page says "Nederlands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2e595b-45d5-fd63-b2e2-4c5ef787ada5

[2022-02-23 09:38] AnuragSharma-MSFT commented on #81641
Thanks @SudheeshGH

[2022-02-23 09:39] avwolferen opened #88593 "Page is not in the proper language"
Navigating to https://docs.microsoft.com/nl-nl/azure/azure-monitor/app/usage-overview
The content is shown in language Japanese in stead of Dutch.
Url says nl-nl
Language setting in the footer of the page says "Nederlands"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2e595b-45d5-fd63-b2e2-4c5ef787ada5
* Version Ind