[2019-05-14 19:35] MicahMcKittrick-MSFT commented on #31188
@cynthn Looks like I am seeing issues as well running through the document as is

[code]

@TomArcherMsft are you still/ also working on packer stuff? Any suggestions?

[2019-05-14 19:39] MicahMcKittrick-MSFT commented on #31197
@dkkapur is this expected? I am happy to update the note on the doc if we now need to include the domain as well. But if we shouldn't have to, then we might have a bug somewhere.

CC @aljo-microsoft

[2019-05-14 19:48] YonasMetaferia commented on #29910
I also see most of the subscriptions I have access to do not have access to the tool. Is there any ETA on making this tool available to all subscriptions?

[2019-05-14 19:49] russ-msft opened #31226 "Please update the connect to SQL DB example"
I am trying to figure out how to connect with AAD - Integrated Identity and MSI. Please update this example to show more secure ways that a username and password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 236ef59b-1e1e-b691-2a86-d0f0fe8f4b60
* Version Independent ID: f09224eb-4e5d-eed7-eaf5-1cdd18d049e5
* Content:

[2019-05-14 19:49] kumarallamraju commented on #27848
Alternatively we can provide this line to retrieve the pre-generated public key from the local machine in the .tf file
key_data = "${file("/home/{localmachine-username}/.ssh/id_rsa.pub")}"

e.g.  "${file("/home/terraform/.ssh/id_rsa.pub")}"

[2019-05-14 19:51] MicahMcKittrick-MSFT commented on #31213
@RichardKForester I tried the example both in Cloud Shell and Local and it ran as expected

[code]

Looks like the DNS name you picked is just invalid. Make sure to just put the name and nothing else. So for example, I picked micahtemplatetest as a dns name.

[2019-05-14 19:51] kumarallamraju commented on #27848
There's also an example from azure github repo for generating the public key in the .tf file and using the same in the main.tf file
https://github.com/terraform-providers/terraform-provider-azurerm/tree/master/examples/virtual-machines/bastion-box

[2019-05-14 19:55] ccompy commented on #31095
There is a setting in the config section under your app where all of the rules go.  Also there is a config item.  When set to true, your scm site uses the rules set for your app.
"scmIpSecurityRestrictionsUseMain": true
We do not have CLI/PowerShell for all of this yet.

[2019-05-14 20:08] jonels-msft commented on #30696
I updated the connection string details in the docs and my changes are merged. Just waiting for it to appear in production. We can then verify that it addresses your concerns, and close this issue.

[2019-05-14 20:08] Mike-Ubezzi-MSFT commented on #31226
@russ-msft Thank you for the documentation feedback. In looking at the available connection strings in the Azure Portal for a specific Azure SQL Database, all examples are SQL Authentication based as well.
I am assigning this to the content author to consider updating the example for different authentications examples but, [here](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-aad

[2019-05-14 20:08] KranthiPakala-MSFT commented on #31201
@linda33wj

The document says:
“2. On the _**New Dataset page**_, select _**Azure Blob Storage**_, and then select _**Finish**_.”

But in the UI, after selecting the **_Azure Blob Storage_**, instead of **_Finish_** we have **_Continue_** button and then it says to select the **_data format type_** and then **_Continue_** button. This is missing in the document.

![image](https://user-images.githu

[2019-05-14 20:12] #30753 closed

[2019-05-14 20:13] dalmat36 opened #31227 "minimum value for retryIntervalInSeconds"
Is there a minimum value for retryIntervalInSeconds? I noticed when I enter 10 it seems to get reset to 30... even though my template in github shows 10.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab1bddf8-6515-3979-ffde-0bab66caa817
* Version Independent ID: c1f105f2-3faa-3aca-7365-02ffeaae6d

[2019-05-14 20:21] Karishma-Tiwari-MSFT commented on #31218
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-14 20:26] davidmu1 commented on #30898
Unfortunately, the tokens coming from the identity providers can't be examined. They are usually just a random set of characters that only the idp knows how to map.

#please-close

[2019-05-14 20:30] mydiemho commented on #31001
@mike-urnun-msft thanks for the link

@KetanChawda-MSFT we should add that link to the doc (if it's not already in there) so that other can use it.  User shouldn't have to find docs by searching in Github Issues

[2019-05-14 20:32] JohnBoncek opened #31229 "Should be written in grammatical English"
Atrocious:  "a common scenarios" and "lesson on the writing log queries".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1160606d-039f-6805-ede3-bc6767c8bd02
* Version Independent ID: f43bd542-04a2-cd87-d506-f189973cc630
* Content: [SQL to Azure Monitor log query cheat sheet](https://docs.microsoft.com/en-us/azure/azur

[2019-05-14 20:36] mganeshphani opened #31230 "Document needs update"
@MohitGargMSFT  @SaurabhSharma-MSFT its been almost 8 months since your last answer... on this page being outdated.. I wonder what's taking Microsoft so much time to update documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f

[2019-05-14 20:37] mganeshphani commented on #31230
Here is the thread related to the last answer I was talking about
https://github.com/MicrosoftDocs/azure-docs/issues/15117

[2019-05-14 20:43] rbavery commented on #31210
I'm using log device placement and nvidia-smi, which shows a gpu.  but the log device placement only shows cpu. I have to uninstall tensorflow and reinstall with conda to get the gpu to work

[2019-05-14 20:44] roygara commented on #30509
@Absoblogginlutely Thanks for reaching out, would you mind clarifying your question? I'm looking at the code for deploying the sync service and the second line queries Azure to see if File Sync is in the selected region. I don't think that requires the dll to be installed.

Would you mind quoting the relevant piece of code?

[2019-05-14 20:45] rbavery commented on #31210
This might have something to do with me having to update the py36 environment, since I need to install other packages in the vm setup step using conda: https://github.com/ecohydro/CropMask_RCNN/blob/master/cropmask-env.yml I will check if this is the case and get back to you.

[2019-05-14 20:49] RichardKForester commented on #31213
Hi Micah.  You are right.  I tried using a different DNS name and it worked.  I presumed it needed an FQDN.  Also when I loaded the JSON in Visual Studio Code it showed validation errors so I thought there was something wrong.  Thanks for your help!

[2019-05-14 20:49] feiyushi commented on #13054
change to use `Set-AzKeyVaultSecret`?

[2019-05-14 20:51] MicahMcKittrick-MSFT commented on #31213
@RichardKForester no problem :) Glad to hear you got it working!

[2019-05-14 20:51] #31213 closed

[2019-05-14 20:53] aljo-microsoft commented on #25098
@wasabii

All the network element information for a DNS enabled service with manifest values:
[code]

Can be queried from SF Naming Service Directly:
[code]

Ref:
https://docs.microsoft.com/powershell/module/servicefabric/resolve-servicefabricservice?view=azureservicefabricps#examples

To provision a service locator (SRV) record you can use:
[code]

Which enables you to obtain details that are acc

[2019-05-14 20:59] rbavery commented on #31210
It looks like my updating of the py36 environment causes an issue and installs the tensorflow without gpu support. However I'd still like to know how to find the information necessary to start the DLVM with terraform

here's the output from the log device placement

[code]

[2019-05-14 21:10] arluca commented on #29762
To clarify, CosmosDB does not support Azure AD authentication. They closed the feedback request, stating that you can use KeyVault as a jumping point for authenticating to CosmosDB. "

All of the services that support managed identity (e.g. VM, Function, App Service, etc) use Azure AD tokens, to authenticate to services like Storage, Key Vault, etc.

[2019-05-14 21:10] jaszperez commented on #23203
@SamirFarhat App Proxy only support apps that use the HTTP/HTTPS protocol. If BitBucket is using SSH this would not be supported.

[2019-05-14 21:10] MarkusVi commented on #29762
#please-close

[2019-05-14 21:13] jaszperez commented on #27644
@anigo333 Yes, you are correct this only pertains to the inbound TLS connection on the connector machines.

[2019-05-14 21:17] Karishma-Tiwari-MSFT commented on #31142
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-14 21:17] StenPetrov opened #31233 "Reliable collection versioning error in SF doesn't help understand the problem"
When a versioning issue is present with a reliable collection SF output an error message that doesn't indicate what is the compatibility issue. The message needs type info and property name or something else that would help identify the problem

In my case a property with complex type was added to an objec that's persisted in a reliable collection, which should be backwards compatible

[code]

---

[2019-05-14 21:20] himanshusinha-msft commented on #30976
@bertrandpons : We tried again , but things works fine on our side . We will continue working with you on this with you and we have created a MSDN issue to follow . I am pretty sure the error is coming from some permission issue on the IR .

Please let us know the following

1. While following the document , on which steps you are encountering this error ?
2.Is this a shared IR used for all the en

[2019-05-14 21:22] colinweiner opened #31235 "Numbering on the diagram"
Numbering of the steps 1 -4 on the actual diagram would be great.

[2019-05-14 21:22] Karishma-Tiwari-MSFT commented on #31179
@tienlx93 Can you please take a look at the similar issue [here](https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/Invalid-connection-file-Any-ideas-how-to-get-past-this/td-p/382962).
Let me know if you are still seeing issues.

[2019-05-14 21:34] Adam-Smith-MSFT commented on #31221
@vad2der , The free credit subscriptions doesn't provide the same options as a paid subscription. The latter would provide you with an additional menu to pick specific regions, and custom options in redundancy as well. Let me know if this helps.

Thanks,
Adam

[2019-05-14 21:35] Alberto-Vega-MSFT commented on #29722
@cobrauf Since we never heard back from you. I am assuming that this issue was resolved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-14 21:35] #29722 closed

[2019-05-14 21:36] paulshealy1 commented on #31210
Glad you solved the problem! The DLVM is based on the DSVM images. It used to also include extra software and tutorials, but we have since moved the DLVM "extras" into the DSVM, and so you should keep using the DSVM.

[2019-05-14 21:41] TyHorn opened #31236 "Spelling error in first paragraph"
There is spelling issue in the first paragraph of this page. It says "The code to configure your web API so that it calls downstream web APIs builds on top of the code used to project a web API. For more info, see Protected web API - app configuration." I believe that it should instead be "The code to configure your web API so that it calls downstream web APIs builds on top of the code used to pro

[2019-05-14 22:05] Michael-Sampson opened #31237 "Spaces allowed or not?"
In this section, https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy#password-policies-that-only-apply-to-cloud-user-accounts, spaces are listed in both the allowed and not allowed sections. Can you please confirm? Alex's blog post on Azure AD Identity says spaces are allowed, whereas they were not previously, so I'm guessing this has just been overlooked in

[2019-05-14 22:05] gregdegruy opened #31238 "Source Code for Get Started with MXChip IoT DevKit Sample"
The initial step for device programming is

**Where is the source code for this sample? I'd like to fork it**

![open-sample](https://user-images.githubusercontent.com/8151045/57735469-90803900-7659-11e9-9e43-5eccac67b287.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0cf9b53c-0438-f23c-fd2e-d57481d57e85
* Version

[2019-05-14 22:18] Karishma-Tiwari-MSFT commented on #31103
@AdamWorkAccount  I am not sure what could be the reason behing host pool not getting created.
Can you please try creating the host pool using PowerShell as described in this doc and share the results:
https://docs.microsoft.com/en-in/azure/virtual-desktop/create-host-pools-powershell

[2019-05-14 22:19] MicahMcKittrick-MSFT commented on #31233
@StenPetrov thanks for reaching out. You have valid feedback however that is product feedback than document feedback. I suggest posting that feedback here:

https://github.com/Microsoft/service-fabric/issues

That way the SF team and look into it and consider improving those details in future releases.

If you open that issue, you can Tag me in it as well. GitHub Alias is MicahMcKittrick-MSFT

[2019-05-14 22:19] #31233 closed

[2019-05-14 22:21] MicahMcKittrick-MSFT commented on #31235
@colinweiner can you share the link to the doc you are referring to?

[2019-05-14 22:25] femsulu commented on #31198
@johnwildes Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-14 22:27] spelluru commented on #22652
Hi @KAndersch - Sorry for the delay.

I have updated the article with latest steps and screenshots.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-to-event-grid-integration-example?toc=%2fazure%2fevent-grid%2ftoc.json

However, it still uses the V1 of Azure Functions. I will work on updating it with V2 script.

[2019-05-14 22:31] mattwojo commented on #30739
Received this from Aditya Desai:
"The API endpoint paths are the same across both Mock and Real APIs, but the API versions are different.  The version is 2018-09-15 for Mock and  2018-08-31 for the production version. "

@femsulu: Please unassign me as I don't work on this API ref.  It sounds like  @addesai and @qianw211 will be able to make any necessary updates.

[2019-05-14 22:31] seantleonard opened #31239 "Additional Details (Multi Value / Accessing Custom Attributes)"
This page could use additional details on how to view custom attributes once they have been assigned values. I have looked at other tutorials in the B2C docs and it is unclear whether Microsoft Graph API supports this yet as Azure AD Graph API does. As for Azure AD graph API, I don't see explanation as to why the attributes are stored in the directory as extension_&lt;APPID&gt;_attrName.

Also, ju

[2019-05-14 22:34] aljo-microsoft commented on #31197
@MicahMcKittrick-MSFT  and @NArnott

https://github.com/MicrosoftDocs/azure-docs-pr/pull/76746

Will be merged soon to update the note "MySfGmsa@MyDomain" is the format for ClustergMSAIdentity .

[2019-05-14 22:38] dmauser opened #31240 "OnPrem VPN Device requirement for Public IP"
Could we get a better clarification on this Note?
"When configuring a Site-to-Site connection, a public-facing IPv4 IP address is required for your VPN device:"
It looks like remote VPN device (OnPrem) require to a Public IP but I know on IKEv2 they can be behind a NAT device and use NAT-T (UDP 4500). Can we elaborated better on that subject or maybe get it on FAQ?

---
#### Document Details

⚠ *D

[2019-05-14 22:38] femsulu commented on #31199
@johnwildes Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-14 22:41] vikramdadwal opened #31241 "Does it support UI (SPA App) level feature flag ?"
Does it support UI (SPA App) level feature flag ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d781aae8-fa5c-27a4-5d3d-64c60d008b4c
* Version Independent ID: ba2bfca5-06a9-abc8-77f2-fbcb0dcb74c3
* Content: [Quickstart for adding feature flags to ASP.NET Core](https://docs.microsoft.com/en-us/azure/azure-app-configura

[2019-05-14 22:44] seantleonard opened #31242 "Clarification on Tenants and Application Section"
Should you put all of your resources (like storage) that are associated with the application you are using with the B2C tenant in that same tenant, or should you use the main directory+subscription to create all the resources and use the B2C tenant for authentication workflows only? Is there a best practice that is recommended? Because if recommendation is to add app related resources in the B2C t

[2019-05-14 22:45] femsulu commented on #31229
@JohnBoncek, Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-14 22:55] vijaysuram opened #31243 "Unable to connect to PostgreSQL database using data factory"
We are unable to connect to PostgreSQL as a source db using data factory. It throws an error ERROR [28000] [DataDirect][ODBC PostgreSQL Wire Protocol driver]. what could be the possible issue ? I am unable to find the right document for this issue.

Thanks,
Vijay

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818d079e-

[2019-05-14 22:57] dcbrown16 commented on #31149
Ok, thanks Cephas.

[2019-05-14 22:57] #31149 closed

[2019-05-14 22:58] femsulu commented on #30915
thanks @genlin. KIndly respnd if you are able to get more info or better yet let's update the content to include list of supported countries if possible. Will now close this issue but look forward to your response.

[2019-05-14 22:58] #30915 closed

[2019-05-14 23:02] Karishma-Tiwari-MSFT commented on #30997
@duckie Can you please share which specific Azure VM image are you using to enable cloud-init?
Also, please provide the link to the documentation, if you are following any, for steps you are taking on Azure portal. If not, screenshots will be helpful to understand it better.

[2019-05-14 23:02] vikramdadwal opened #31244 "Please provide a C# sample on how to use Percentage Filter value in code"
Please provide a C# sample on how to use Percentage Filter value in code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa18f095-325a-628d-9c05-551c09f7392e
* Version Independent ID: 5db3af04-a314-24fd-6202-772aaa62a28d
* Content: [Tutorial for using feature flags in a .NET Core app](https://docs.microsoft.com/en-us/az

[2019-05-14 23:08] kobulloc-MSFT commented on #31244
@vikramdadwal Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-05-14 23:08] mike-urnun-msft commented on #31215
Hi @mattruma Thank you for your feedback! We will review and update as appropriate.

[2019-05-14 23:09] mike-urnun-msft commented on #31219
Hi @mganeshphani Thank you for your feedback! We will review and update as appropriate.

[2019-05-14 23:12] vikramdadwal commented on #30433
Any updates ?

[2019-05-14 23:14] femsulu commented on #30739
thanks for confirming @mattwojo.
@dtPaTh  - hope this answers your question. We will now close the issue but don't hesitate to reply if needed.

[2019-05-14 23:14] #30739 closed

[2019-05-14 23:15] itanex opened #31245 "Where does the `<aad-password>` come from?"
In the section [Grant Permissions to Azure Active Directory Group](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#grant-permissions-to-azure-active-directory-group) where does the `<aad-password>` value come from? There is no section in this document that illustrates the creation of this.

The purpose behind using a service principal is that there are no pa

[2019-05-14 23:20] MarileeTurscak-MSFT commented on #30919
Please send me an email and we can troubleshoot offline. Closing this out as I think troubleshooting over email or support case will make it easier for us to resolve this quickly, but I will update the thread with the resolution when we reach it.

[2019-05-14 23:20] #30919 closed

[2019-05-14 23:40] georgewallace commented on #30786
Yes Update Management works on Azure VMs and on-premises VMs.. This includes classic VMs.

[2019-05-14 23:52] KeiroKamioka0000 commented on #30786
Thanks!

[2019-05-14 23:52] #30786 closed

[2019-05-15 00:12] michael-hawker opened #31248 "Example Project should be on GitHub vs. zip"
It'd be nice for the example project to be up on GitHub vs. being provided as a downloaded zip file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 522d0a85-3527-017e-68ae-63030341ef3a
* Version Independent ID: 3b480dc1-f4ac-7077-f4e9-8e3dbb815b71
* Content: [Microsoft identity platform Windows desktop quickstart](http

[2019-05-15 00:12] kanreisa opened #31249 "Caching with Azure Front Door Service"
Wrong:
[code]

Correct:
[code]

- RFC: https://tools.ietf.org/html/rfc7234

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2973ab88-1258-8a80-1344-07a9e0063951
* Version Independent ID: c0cff4d9-d7fd-7b25-52da-9cbe5dda3ba8
* Content: [Azure Front Door Service - caching](https://docs.microsoft.com/en-us/azure/frontdoor/f

[2019-05-15 00:21] himanshusinha-msft commented on #31227
@dalmat36  Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-15 00:22] himanshusinha-msft commented on #31243
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2019-05-15 00:24] ggailey777 commented on #21155
#please-close thanks!

[2019-05-15 00:25] Alberto-Vega-MSFT commented on #31238
@gregdegruy Thanks for reaching out. @wesmc7777 Do you have any insights on this?

[2019-05-15 00:27] MarileeTurscak-MSFT commented on #30974
@jesspent What happens when you enter it and have you ensured that you have the right input fields to support this in the client UX?

Phone call and authenticator app might be the only verification methods supported in your scenario.

[2019-05-15 00:28] ggailey777 commented on #31114
Fixed. #please-close

[2019-05-15 00:28] Alberto-Vega-MSFT commented on #31195
taggint @wesmc7777 content author for awareness

[2019-05-15 00:36] smidley commented on #24239
@angoyal-msft Can you please re-open this issue since it's not resolved?  There's still no way to get metrics from scale out read-replicas via the Azure Portal.

[2019-05-15 00:39] MicahMcKittrick-MSFT commented on #31197
Thanks @aljo-microsoft

[2019-05-15 00:39] #31197 closed

[2019-05-15 00:49] larryms commented on #28817
still broken.

[2019-05-15 01:08] TranKennyK opened #31250 "Status Code 500 GET Request"
I am using the API reference page to do a POST and GET of a job. The POST response with 200 OK but I receive a 500 Internal Server Error for the GET.

Interestingly, when I POST a 'text' content type, I am able to GET fine. The issue occurs when I POST an 'image' content type with a blob URL and accompanying SAS URL.

I am able to view the image within the Review Tool fine.

---
#### Document Deta

[2019-05-15 01:08] MarileeTurscak-MSFT commented on #31236
@TyHorn
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-15 01:10] MarileeTurscak-MSFT commented on #31236
Good catch, @TyHorn !

I created a pull request which should go live in 24 hours. https://github.com/MicrosoftDocs/azure-docs-pr/pull/76765

[2019-05-15 01:10] #31236 closed

[2019-05-15 01:13] yokawasa commented on #31157
@KetanChawda-MSFT  Thanks alot for the comment! I understand `600` is correct number.
By the way, as the following wiki page in Github, where old number (`300`) is introduced, is still linked from this page, people may get confused.
- https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#numerical-sandbox-limits

My suggestion is to remove the link from the page or to update the wiki page

[2019-05-15 01:19] MicahMcKittrick-MSFT commented on #31241
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 01:25] YutongTie-MSFT commented on #31250
@TranKennyK Thank you for your feedback, we will investigate it and get back to you soon.

[2019-05-15 01:38] wasabii commented on #25098
That doesn't work for port numbers.

On Tue, May 14, 2019, 3:53 PM aljo-microsoft <notifications@github.com>
wrote:

[2019-05-15 01:38] wasabii commented on #25098
How does that support dynamic port numbers?

[2019-05-15 01:42] ToruMakabe commented on #31081
@iainfoulds Thanks. Let me clarify my understanding. After the feature registration, will "all" cluster in the feature registered subscription pull core system images from MCR only? If so, the registration have a high impact on customer. Could you add a note of caution?

[2019-05-15 01:44] #31158 closed

[2019-05-15 02:36] cwoolum commented on #27893
I'm running into the same issue. I tried to make the call manually in kudu but the service is not responding

`curl 'http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https%3A%2F%2Fmanagement.azure.com%2F' -H Metadata:true -s`

[code]

[2019-05-15 02:40] #30958 closed

[2019-05-15 03:17] SadiqhAhmed-MSFT commented on #31230
@mganeshphani Sorry for the inconvenience caused! We will review the document and update as appropriate.

[2019-05-15 03:17] SubhashVasarapu-MSFT commented on #31249
@kanreisa , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-15 03:19] SadiqhAhmed-MSFT commented on #31237
@Michael-Sampson Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-15 03:19] SubhashVasarapu-MSFT commented on #31240
@dmauser , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-05-15 03:20] SadiqhAhmed-MSFT commented on #31239
@seantleonard Thanks for the question! We will investigate this issue and get back to you soon.

[2019-05-15 03:27] SadiqhAhmed-MSFT commented on #31242
@seantleonard Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-15 03:30] SadiqhAhmed-MSFT commented on #31245
@itanex Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-15 03:41] shashishailaj commented on #31248
@michael-hawker Thank you for your feedback . I understand that you would like the link to the code archive on github vs the Zip file download which is available with the link. Please give us some time to review the suggestion and we will update you further on this thread.

[2019-05-15 03:46] ToMakeSense opened #31254 "the statement of Azure policy match condition is ambiguous"
The documentation I am referencing: [Azure Policy definition structure#Policy rule: conditions](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#conditions)

The following statement with red underline is ambiguous，in fact, '.' only match a character(digit + letter + other visible valid character by my test case). it can't match more than one characters.
![imag

[2019-05-15 03:47] DixitArora-MSFT commented on #31033
@marctalary I have assigned this to content author to review and update as appropriate.

[2019-05-15 03:53] KalyanChanumolu-MSFT commented on #31146
@Alienroid I would recommend that you reach out to Azure Support.
If you have an Azure support plan, please file a ticket with support. If you don't have an Azure support plan, you could file this as a billing issue.

We will close this issue now. If you have further questions, feel free to reopen.

[2019-05-15 03:53] #31146 closed

[2019-05-15 03:56] KetanChawda-MSFT commented on #30999
@ElanShudnow Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 03:56] #30999 closed

[2019-05-15 04:00] DixitArora-MSFT commented on #31080
@dcbrown16 I have created the PR for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 04:00] #31080 closed

[2019-05-15 04:03] DixitArora-MSFT commented on #31059
@kiranpradeep Just following up here... Hope my previous comment helps.

[2019-05-15 04:12] KetanChawda-MSFT commented on #31001
@craigshoemaker Can you please take a look at this request ?

@mydiemho I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-05-15 04:13] ManojReddy-MSFT commented on #31072
@ericwj I am glad it worked for you. The complete UPN is only displayed in the PS output.

I would really appreaciate it you can take a minute and  open a new issue against the CLI doc with your feedback ? We normally track issues per doc and I can assign that issue to the author directly to consider updating the doc.

[2019-05-15 04:19] ManojReddy-MSFT commented on #31078
@TechTrooper I have reached out to the Product group regarding this and they are working on fixing this in the nect update.

Currently the suggested workaround for this to
1) Delete the SCP
2) Create a GPO to push the belwo registry keys only to the tageted devices.

[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\CDJ\AAD]
"TenantId"="" Value type as “REG_SZ”
"TenantName"="" Value ty

[2019-05-15 04:29] #31210 closed

[2019-05-15 04:31] YutongTie-MSFT commented on #31210
@rbavery Glad to see your problem solved! @paulshealy1 Thank you! We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 04:31] jakaruna-MSFT commented on #30794
@burnsalpine I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-15 04:31] #30794 closed

[2019-05-15 04:36] jakaruna-MSFT commented on #31099
@RehanSaeed I will close this out for now. If you need additional help please let me know and we can reopen and continue.

[2019-05-15 04:36] #31099 closed

[2019-05-15 04:36] avinashchadalavada commented on #31161
The problem we’re trying to solve is auto-expiration of the files from the gateway after they’ve been uploaded to the cloud.  The auto-exparing feature seems to only be time-based, so when the TTL has expired the file is deleted, even if the file has not be auto-tiered to the cloud.  We’re looking for a way to ensure that files are only deleted from the gateway AFTER they’ve been successfully uplo

[2019-05-15 04:40] avinashchadalavada commented on #31161
@AshokPeddakotla-MSFT  let me know if you need any other info on this.

[2019-05-15 04:42] DixitArora-MSFT commented on #31060
@kiranpradeep Scale controller will scale out the Function app only if there is a need for more compute depending upon CPU, Memory and Load for the function app. Now lets us consider your scenario that Function A takes 2X seconds while Function B and Function C takes X seconds and all these are not contributing to CPU/memory. First of all , as far  as I know this would not be possible that these a

[2019-05-15 04:43] abiabsurd opened #31255 "Example produces error"
`context.df.createTimer` expects a javascript `Date` object and will error if the provided code is copied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efa40ad5-ef98-4fa0-f071-65b804a6c617
* Version Independent ID: 948676b8-6319-3adb-5a38-946ddbb852f0
* Content: [Eternal orchestrations in Durable Functions - Azure](h

[2019-05-15 04:45] tienlx93 commented on #31179
Hi @Karishma-Tiwari-MSFT ,
I have the same issue with @ rbergertd on the link you provided.
Seems he he has to create a new VM to test installing the client, but on his computer, the issue is not resolved.

[2019-05-15 04:51] jakaruna-MSFT commented on #31086
@kazshi You will be charged when there is a data transfer between Availability Zones, Unless the Vnets are peered.

Can you give us an example for "other VNet resource deployed"

[2019-05-15 04:55] josefree commented on #30683
@dsindona Azure Service Fabric cluster URI should be "*.cloudapp.chinacloudapi.cn", not "*.chinaeast.chinacloudapp.cn".  We need to fix this.

[2019-05-15 05:03] ShawnXxy opened #31256 "The link of Java compatible driver is for MariaDB"
[Enter feedback here]
I am not sure if this is expected. But seems that the link for connector/J is for MariaDB rather MySQL. I believe the correct link should be https://dev.mysql.com/downloads/connector/j/5.1.html

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d25d30a7-e345-f1cb-a174-8d64e0ec0993
* Version I

[2019-05-15 05:05] AjayKumar-MSFT commented on #30809
@mattchenderson, Requesting your insights on this ask.

[2019-05-15 05:11] eriawan commented on #31150
@henrycjc @DixitArora-MSFT @axisc

I have submitted a PR with the updated link to Azure SDK Python repo's folder location for Service Bus: #31257

[2019-05-15 05:39] kazshi commented on #31086
@jakaruna-MSFT Thanks for your comment.  About "other VNet resource deployed", I meant if customer deployed SQL Database within VNet on AZ (resources other than VM). My question is from "Availability Zone data transfer pricing is only applicable to VNet resources which are deployed in an Availability Zone by the customer." but I could read it's charged for "inter-Availability Zone VM-to-VM" only i

[2019-05-15 05:41] ManojReddy-MSFT commented on #31237
@Michael-Sampson I have assigned this to the author to validate this with the product team and update the doc accordingly.

Thanks again for reporting this.

[2019-05-15 05:43] vrvrvrvrvr commented on #31162
Oh my god. You are life saver. This feature can be enabled only on Storage v1 accounts as you pointed out from Azure CLI command, however guide doesnt tell it at all.. Many thanks!

[2019-05-15 05:45] RohitMungi-MSFT commented on #31104
@Dmitresky We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 05:46] #31104 closed

[2019-05-15 05:50] ManojReddy-MSFT commented on #31242
@seantleonard There is no recommendation as such for this scenario. Generally the following factors can help you make that deciscion.

1. Ease of management : If you already have other subscriptions in the org tenant, then it is easy to manage the new subscription by adding them to a management group for auditing, applying Azure polices etc.

2. Do you have to use managed idenitites for any of the

[2019-05-15 05:56] artturij opened #31258 "Predicted Value Probability Calculation"
I'd love to know more about how the probabilities of the predictions are calculated for various ML models. I use a custom model that does this a little bit differently (through fuzzy membership degrees in Fuzzy KNN), but I can't utilize the custom output of the model in ML studio because Score Model module only accepts predicted class labels as an input from the model, and thus I can't get the fuz

[2019-05-15 05:56] ram-msft commented on #30805
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 05:56] #30805 closed

[2019-05-15 05:58] proflanky commented on #31185
Local cache is not recommended when you run on multiple instances.
And there is no option of logging into a single instance on kudu so its kinda not a problem @dnyaneshlb

[2019-05-15 05:58] SnehaGunda commented on #31051
@tiwahu Thanks for the feedback, I submitted a PR to have the array example under Arrays & objects section too.

We have plans to merge the content in the following two docs, not into a single doc but instead have an individual doc for each function/keyword. The search experience will be better with the reorganized content. I have a work item to get this done by the end of this month.

https://doc

[2019-05-15 06:00] RohitMungi-MSFT commented on #31090
@thecpshah We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 06:00] #31090 closed

[2019-05-15 06:02] YASWANTHM-MSFT commented on #31218
@rbavery, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-05-15 06:03] SnehaGunda commented on #31132
@gopala hope Wenbin's response addresses all your questions. We will close this issue now.

#please-close

[2019-05-15 06:07] YASWANTHM-MSFT commented on #31162
@darylglynn, Thank you for letting us know the solution that worked for you and sharing the steps with us.
@vrvrvrvrvr, Your feedback has been shared with the content owner for further review .

[2019-05-15 06:10] YASWANTHM-MSFT commented on #31174
@KennieNP, We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-15 06:10] #31174 closed

[2019-05-15 06:14] slugerrist opened #31259 "Mandatory strings"
The document mentions that "Events consist of a set of five required string properties".
It doesnt say what are those 5 string properties that are mandatory. Could you add please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c612f098-ae63-bc16-d594-14e8550ff688
* Version Independent ID: 2dd289e9-53ad-0d16-7dc6-47a687

[2019-05-15 06:19] SnehaGunda commented on #30030
@cpdohert you can only query data using SQL queries, you can't perform insert, replace, delete, upsert operations with SQL queries. You have to use different language-specific SDKs for all the CRUD operations. This doc:https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-get-started-preview shows all the CRUS operations on sample data stored in SQL API. You can browse through the table

[2019-05-15 06:22] kobulloc-MSFT commented on #31141
@j-windsor A work item has been created to address this, and we will update the documentation after we get additional clarification.  Thank you again for bringing this to our attention!

[2019-05-15 06:27] CHEEKATLAPRADEEP-MSFT commented on #31061
@ElectricLlama We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 06:27] #31061 closed

[2019-05-15 06:36] swani01 commented on #10953
+1 Same problem

[2019-05-15 06:39] RohitMungi-MSFT commented on #31258
@artturij  Thanks for the feedback. We are investigating into the issue and will update you shortly.

[2019-05-15 06:54] imlight opened #31260 "What is the image name of "Data Science Virtual Machine for Linux (CentOS)""
Hi,

I am trying to automate DSVM creation through ansible . And trying to figure out what is the correct image name of  Data Science Virtual Machine for Linux (CentOS).

I have checked the cli , and i couldnt figure out which is the correct image.
[code]

az vm image list --offer data-science  --all --output table
[code]

[2019-05-15 07:01] kobulloc-MSFT commented on #30986
@breyed You can use the C# example to report exceptions explicitly:

https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#reporting-exceptions-explicitly

In my example here, I've created an ASP.NET Core web application, and used the following code in my Index.cshtml.cs file:

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
u

[2019-05-15 07:02] MedAnd opened #31261 "Consider adding guidance regarding partition count, metric volume, collection interval & correlation to Log Analytics cost."
Empirical data shows increasing a service's partition count has a direct & drastic correlation to the volume of metrics emitted. Please consider adding guidance for how often the Service Fabric metrics should be collected and the correlation to volume & cost in Log Analytics.

Update: Further to above, when scaling a cluster down (for example from 6 nodes to 5) and if the replicate set is kept at

[2019-05-15 07:05] paululvinius opened #31262 "Incorrect statement in the Public certificates section?"
"If your app needs to access remote resources as a client, and the remote resource requires certificate authentication, you can upload public certificates to your app".

If I understand the scenario correctly, the client would need a private certificate for this scenario. Instead, the client would typically upload / enroll it's public certificate with the resource server so that the server can ver

[2019-05-15 07:06] mcurko commented on #15736
Yes, the documentation here is outdated.

[2019-05-15 07:08] SnehaGunda commented on #29664
@mjrousos The docs are correct:

* When you provision throughput at the database level: Minimum throughput you provision for the database is 400RU/s. This throughput is sufficient for the first 4 containers. For each additional container you add to the database, the database is automatically scaled with an additional 100 RU/s. which means when you add the 5th container to the database, the through

[2019-05-15 07:23] lgulliver opened #31263 "Azure CLI command to enable template deployment is incorrect"
Currently the document at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/key-vault-setup#use-cli-to-set-up-key-vault reads:

[code]

However, when using the latest version of the CLI, the following error is returned:

[code]

Once that is corrected, it flags that `-enabled-for-deployment` is also incorrect. Upon further investigation, it appears that this command is at odds with o

[2019-05-15 07:24] YASWANTHM-MSFT commented on #31175
@pc87 , did you uploaded the images in the thumbnails container as mentioned in the instructions  here? If not, I would recommend you to check once.
I reproduced your scenario and able to get the generated thumbnails on my Webapp successfully as shown below.
<img width="1109" alt="thumbnail1" src="https://user-images.githubusercontent.com/44457111/57756232-75bccb80-7710-11e9-9967-efdc94e3091b.PNG"

[2019-05-15 07:24] AjayKumar-MSFT commented on #30730
@acorn20180214, As Julia highlighted, the document here ‘[How to encode with a custom transform – CL](https://docs.microsoft.com/en-us/azure/media-services/latest/custom-preset-cli-howto#create-a-new-transform)I’ provides commands and steps to accomplish this task, kindly let us know if this works.

[2019-05-15 07:31] sgiovinetti opened #31265 "Some statements are not thoroughly explained and some code samples missing"
Hi,
could you please elaborate better this sentence?
"Views can be used to provide users with a consistent presentation layer whilst the underlying objects are renamed."
Even if you use a view if the underlying objects are renamed you receive an error by all means (I suppose).
Could you please provide a code sample of such type of views so the reader can understand better the concept?
Could you pl

[2019-05-15 07:43] AshokPeddakotla-MSFT commented on #31195
@wesmc7777 Please check this and update the doc as appropriate.

[2019-05-15 07:53] BryanTrach-MSFT commented on #30235
@fhurta Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-05-15 07:53] #30235 closed

[2019-05-15 07:57] thecpshah commented on #31090
Thank you @RohitMungi-MSFT . Does that mean that we can use the API from published iteration in production system?

[2019-05-15 07:57] YaraZakaria commented on #30917
@PramodValavala-MSFT  I tried with winpty and it works as expected.

Thank you

[2019-05-15 07:58] clementLetsignit opened #31267 "Is it possible to unsuscribe from Saas service ?"
Is it possible to unsuscribe from Saas service ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9862992-905d-6343-d921-11d0cc117fa9
* Version Independent ID: 47437574-5c46-b88b-aee3-4ebf52efe4bf
* Content: [SaaS Fulfillment API V2](https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/saas-app/cpp-sa

[2019-05-15 07:59] Josverl opened #31268 "Broken link : Microarchitectural Data Sampling:"
the link to https://portal.msrc.microsoft.com/security-guidance/advisory/ADV190013 is not working or renders an empty page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65e01a44-4fdd-f1fd-f6f6-fc4c333a949a
* Version Independent ID: 67a4dc71-9b2f-0587-963d-0475696499e7
* Content: [Guidance for mitigating speculative ex

[2019-05-15 08:00] lgulliver commented on #10149
This issue still seems to be occurring.

I've followed the guide and updated my ARM template accordingly and it results in the same error when executing the template from PowerShell, Azure CLI or Azure DevOps.

[2019-05-15 08:03] MPenny-nCipher opened #31269 "Change Thales references to nCipher"
Hello

References on this page ought to be changed from 'Thales' to 'nCipher' as the nShield product line that the article refers to for HSMs is now owned by nCipher Security.

This comment applies to any other pages where 'Thales HSMs' are referenced in the context of Azure Key Vault. These are now nCipher HSMs.

Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for

[2019-05-15 08:09] likidu commented on #31238
@gregdegruy , you can find all source code of samples at: https://github.com/IoTDevEnvExamples

[2019-05-15 08:09] SnehaGunda commented on #29424
@CeciAc @rioriost above PR has changes to make the commands work with both command and bach prompt.

@Mike-Ubezzi-MSFT the tutorial says open command prompt to run the md command, when using git from command prompt it's not an issue. Anyways I made updates to get rid of the drive letter and included bash instructions too.

we will close the issue if there aren't further questions.

#please-close

[2019-05-15 08:11] antgonmir opened #31270 "Charts Color Configuration"
How can we change the color scheme of the charts that are being generated as a result of the queries? We would like to display Success vs Failures in a single chart with Green and Red color respectively but Log Analytics automatically chooses green and blue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 638bf2f5-4792-

[2019-05-15 08:11] SnehaGunda commented on #28398
@donghexu did you had a chance to make doc updates for continuation token with top?

[2019-05-15 08:12] Dmitresky commented on #31104
@RohitMungi-MSFT, thank you for your answer. However, I want to know about exactly alternate questions like here https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/edit-knowledge-base#add-alternate-questions. I am going to create a file which I can export to QnAMaker with all possible questions for one answer.

[2019-05-15 08:16] SnehaAgrawal-MSFT commented on #31262
@paululvinius Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 08:20] FabriceMk commented on #29910
Same for all our 3 subscriptions having more than hundreds of alerts not being able to have access to the tool.

That's quite a short window. EOL is in June 30th and by mid-May we don't have access to it. I would like to not have such fast transition period.

Alerting is a super important piece of any infrastructure. Modifying it and not giving the customers an automated way to do that easily up t

[2019-05-15 08:20] frobnitzz opened #31271 "Typo"
Hi,

Spotted a typo under the Policy 1 section.

"6.Save you policy"

Thanks,
John

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9561a367-20d8-62e9-57e5-694bab4c0878
* Version Independent ID: a7c757e0-052b-fc42-70c5-030081baa573
* Content: [Configure authentication session management with Azure Active Directory condit

[2019-05-15 08:21] PramodValavala-MSFT commented on #30917
@YaraZakaria Glad we could help.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 08:21] #30917 closed

[2019-05-15 08:22] SnehaGunda commented on #28487
@StenPetrov thanks for your feedback, we are investing in improving the format of the quickstarts and tutorial docs. We built a template for these docs. The template doesn't use any portal way to create the resources. Instead, we use Azure CLI, or PowerShell commands followed by the actual .Net code explanation.

I don't have a timeline on when this will be rolled out to all the docs, we will init

[2019-05-15 08:23] frobnitzz opened #31272 "Device prompt clarification"
Hi,

Just looking for clarification on this paragraph:

"On Azure AD registered Windows devices sign in to the device is considered a prompt. For example, if you have configured the Sign in frequency to 24 hours for Office apps, users on Azure AD registered Windows devices will satisfy the Sign in frequency policy by signing in to the device and will be not prompted again when opening Office apps.

[2019-05-15 08:30] KetanChawda-MSFT commented on #31219
@jeffhollan / @alexkarcher-msft  any insights here?

[2019-05-15 08:34] Dmitresky commented on #31104
Ok, I just added a few questions for one answer in a source file. And this works! I got a few questions for one answer in my KB in QnAMaker. I think this thread can be closes.

[2019-05-15 08:35] PramodValavala-MSFT commented on #31255
@abiabsurd Thanks for catching that! I have raised a PR to address this.

[2019-05-15 08:36] RohitMungi-MSFT commented on #31090
@thecpshah Yes, You can use the published iteration for production. We can basically publish only one iteration at any point of time. If there is an issue with an iteration you can unpublish it and publish a new iteration.

[2019-05-15 08:48] #31255 closed

[2019-05-15 08:49] PramodValavala-MSFT commented on #31255
@abiabsurd The fix should reflect in a couple of hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 08:49] thecpshah commented on #31090
Great! thank you @RohitMungi-MSFT

[2019-05-15 08:49] SadiqhAhmed-MSFT commented on #31254
@ToMakeSense Thanks for the question! I have assigned this issue to the content owner for further review and update as appropriate.

@DCtheGeek FYI.

[2019-05-15 08:50] SnehaGunda commented on #29418
@Layla-P both Cosmos DB account and Table storage accounts have connection strings available in Azure portal. You can get them from the connection string/keys or access keys blade. Connection strings are pretty much in the same location for all Azure services.

I made a minor update to the above doc to callout it table storage too. We will now close this issue if there aren't any further questions

[2019-05-15 08:52] KetanChawda-MSFT commented on #31215
@mattruma you can refer[ this repo](https://github.com/jeffhollan/functions-test-helper) for samples.

https://github.com/jeffhollan/functions-test-helper/blob/master/FunctionApp.Tests/HttpFunction.cs
https://github.com/jeffhollan/functions-test-helper/blob/master/FunctionTestHelper/Helpers/HttpTestHelpers.cs#L55

[2019-05-15 08:52] squasta opened #31273 "Availability of Azure Databox Disks in France Central Region : 2 differents informations in Microsoft Web site"
On the following page : https://azure.microsoft.com/en-us/global-infrastructure/services/?products=databox (Azure Products available by region)  Azure Databox Disk is defined as Generaly Available in France Central region. On this page, France Central is not mentioned. Who is right ? Is Azure Databox Disk available in France Central. Additionnal information : I use the wizard in Azure Portal to or

[2019-05-15 08:59] shashishailaj commented on #31263
@lgulliver Thank you for your contribution . We will have this reviewed and get the article updated.

[2019-05-15 09:04] breyed commented on #30986
This makes explicit reporting clear, but implicit reporting is still confusing. The [MVC](https://docs.microsoft.com/en-us/azure/azure-monitor/app/asp-net-exceptions#mvc) section talks about unhandled exceptions in MVC 5+. Does MVC 5+ include .NET Core? What about exceptions handled by middleware to show an [exception handler page](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-ha

[2019-05-15 09:05] shashishailaj commented on #30726
@MPenny-nCipher Yes , Unfotunately ,it gets pushed every 24-48 hours depending upon the number of changes in the complete repo . In general its fairly fast and we can see changes within a few hours but sometimes due to large number of changes in the docs repo and caching at CDN levels , it may take time for getting updated for you as per your geographic reason. As of now this is updated.

[2019-05-15 09:08] shashishailaj commented on #31269
@MPenny-nCipher Thank you for your feedback . We will review and get this updated.

[2019-05-15 09:09] shashishailaj commented on #31271
@frobnitzz Thank you for your query . We will review and update the article accordingly.

[2019-05-15 09:10] shashishailaj commented on #31272
@frobnitzz Thank you for your query. We will investigate and update this thread.

[2019-05-15 09:13] KetanChawda-MSFT commented on #31157
@yokawasa Removed the link from the doc.  Thank you for your feedback.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 09:13] RohitMungi-MSFT commented on #31258
@artturij Yes, The [score model](https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/score-model) module for ML studio expects a trained model and a similar dataset compatible with the type of trained model, which might not work for your custom model. Unfortunately, we do not have the details of how the predictions and probabilties are made for these ML models.

You can

[2019-05-15 09:14] SadiqhAhmed-MSFT commented on #31156
@mayurigupta13 Can the doc be updated with the right hyperlink?

[2019-05-15 09:14] #31157 closed

[2019-05-15 09:15] KetanChawda-MSFT commented on #31259
@slugerrist Thank you for your feedback! We will review and provide an update as appropriate.

[2019-05-15 09:16] lgulliver commented on #31263
@shashishailaj I've updated the original issue to include a link to the affected article.

PR #31264 has also been raised.

[2019-05-15 09:16] KetanChawda-MSFT commented on #31259
@banisadr Any thoughts here?

[2019-05-15 09:18] SnehaAgrawal-MSFT commented on #31165
@dvherk Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-15 09:20] ManojReddy-MSFT commented on #31272
@frobnitzz If you configure the frequency to 24 hours then they will be prompted for signing in again only if they are inactive for 24 hours or more.

So if the users lock the device for more than 24 hours then they will be prompted for signing in again.

[2019-05-15 09:45] mattruma commented on #31215
Thank you @KetanChawda-MSFT! I will check those samples out!

[2019-05-15 09:47] marinnedea commented on #30890
@timlod and @rbavery - please check https://blogs.msdn.microsoft.com/mast/2013/12/06/understanding-the-temporary-drive-on-windows-azure-virtual-machines/

I think you are using the /mnt mountpoint, which by default in Azure Linux VMs is designed to hold the temporary disk (on some distributions the path is /mnt/resources ).

Because of this, on redeploy, you'll lose the directories created under /

[2019-05-15 09:48] KetanChawda-MSFT commented on #31215
@mattruma sure, I will followup with you tomorrow.

[2019-05-15 09:49] dnyaneshlb commented on #31185
Thanks @proflanky for quick reply.

I would really appreciate if could let me know why local cache is not recommended when running on multiple instances.

Also, does AppInsight is also affected as that of kudu?

[2019-05-15 09:54] chi-ltd commented on #30408
Thanks, when will i hear from him?

[2019-05-15 09:56] chiners68 commented on #30919
Hi Marilee,
  I don’t have your email address. You can contact me directo on markchinery@hotmail.com<mailto:markchinery@hotmail.com>

Regards

Mark Chinery

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: 15 May 2019 00:21
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: chiners68 <markchinery@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftD

[2019-05-15 09:57] sondreb commented on #27817
Any updates on the issues described by @christianrondeau? Have experienced issues where a call was blocked when threshold was reached, and it effectively blocked all requests to same URL for all IP sources. There was no details on how long the block is active, and it did not disappear/turn off when changing from prevention to detection. Had to turn it off for a long time, and when enabling again,

[2019-05-15 09:59] VikasPullagura-MSFT commented on #30408
@chi-ltd Once you send email to AzCommunity@microsoft.com with your Subscription ID, VM name and VM Public IP, we will enable one time free support for your subscription. Then you can open support case, which will connect you to support engineer for troubleshooting the issue.

[2019-05-15 10:06] angoyal-msft commented on #31256
@ShawnXxy Thanks for your valuable feedback. I have updated the URL using PR as requested.
@ajlam Could you please review the PR once : Fixed the URL for Java Connector https://github.com/MicrosoftDocs/azu… #76783

[2019-05-15 10:08] angoyal-msft commented on #31265
@sgiovinetti Thanks for your feedback. I have assigned this issue to the content author to help you better and update the document appropriately.
@ronortloff Could you please check and update the document appropriately.

[2019-05-15 10:09] SadiqhAhmed-MSFT commented on #31267
@clementLetsignit Thanks for the question! You can reach out to support team by following the instructions from this link - https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal-orig/cloud-partner-portal-support-for-cloud-partner-portal. Support team would be able to guide on your request.

[2019-05-15 10:13] SadiqhAhmed-MSFT commented on #31270
@antgonmir Thanks for the comment! We will check on this and get back to you soon.

[2019-05-15 10:19] SadiqhAhmed-MSFT commented on #31268
@Josverl Thanks for the comment! We will check on this and get back to you soon.

[2019-05-15 10:26] DashleenBhandari-MSFT commented on #31245
@itanex , In the document it states that password variable is for the user password and not service principle. At this section - https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-connect-msi#reconfigure-azure-ad-administrator it states that "Previously, you assigned the managed identity as the Azure AD administrator for your SQL Database. You can't use this identity for i

[2019-05-15 10:27] SadiqhAhmed-MSFT commented on #31261
@MedAnd Thanks for the comment! We will share this feedback with the content owner for further review and update as appropriate.

[2019-05-15 10:32] SadiqhAhmed-MSFT commented on #31273
@squasta Thanks for the comment! We will investigate this issue and get back to you soon.

[2019-05-15 10:36] SadiqhAhmed-MSFT commented on #31260
@imlight  Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-15 10:50] ledzep9012 opened #31274 "Handle Logout in React Native App"
I tried Sign Out using [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-openid-connect-code#send-a-sign-out-request).
It seemed to do sign out but despite including `post_logout_redirect_uri` the control was not redirected to app. I am using the same flow in `authentication/token` acquisition. When I tried debugging in chrome it did not show any redirection in ne

[2019-05-15 10:51] ChiragMishra-MSFT commented on #31190
@syedhamjath The statement is correct as for Azure AD authentication on a SQL server, you do need to assign an AAD Admin role to the AAD user. Please refer to the below screenshot for details :
![image](https://user-images.githubusercontent.com/43365826/57770244-7c0d7080-772d-11e9-992f-b4a29819f61b.png)

[2019-05-15 10:58] shashishailaj commented on #31269
@MPenny-nCipher As per the referenced pull requests above, I have updated most of the references that I can find and where I had access to update however , there may still be some which i might have missed. Please wait for 24-48 hours for the changes to show up as per next release cycle. If you still find references to Thales , please continue to report them on the page itself as document feedback

[2019-05-15 10:58] #31269 closed

[2019-05-15 11:06] shashishailaj commented on #31274
@ledzep9012 Thank you for your query. We will investigate and update the thread .

[2019-05-15 11:14] shashishailaj commented on #31263
Thank you for your contribution @lgulliver . We appreciate you taking time for the same. The content team has been notified and once reviewed the PR  #31264 will be merged .

@singhkays @rloutlaw Could you please review and verify the Pull request  #31264 and help merge the changes ?

[2019-05-15 11:23] #31051 closed

[2019-05-15 11:25] shashishailaj commented on #31248
@michael-hawker We have initiated a pull request and provided a link to view the project on github in addition to the project download link. Changes will be live in the next release cycle. We will close the issue now. Should you have any further query , please open a new issue and we will be happy to help you.

Thank you.

[2019-05-15 11:25] #31248 closed

[2019-05-15 11:36] shashishailaj commented on #31170
@MarkBailey1 Thank you to you and your colleague as well. :) for catching this error. We appreciate your contribution. We have initiated an update and it will be updated in the next 24-48 hours . We will close this issue now. Should you have any further query , feel free to tag me or Doc author @msmimart to your reply and we will be happy to help you . you can always open a new issue alternatively

[2019-05-15 11:36] #31170 closed

[2019-05-15 11:43] harelbr commented on #30654
@sugarjig Can you please help us understand how we can edit that doc?
Also, is it ok to document an API that has a preview version?

[2019-05-15 11:48] NJLangley opened #31275 "Billing Example"
The billing example seems incorrect based one the information in previous sections. If the lowest possible value for _Minimum vCores_ is 0.5, the minimum value for the metric _app_cpu_billed_ must also be 0.5 based on the calculation definition.

The example shows the _app_cpu_billed_ as 1255 for the last 55 minutes of the hour. If we aggregate the minimum value over that time we get:
0.5 * 60 * 5

[2019-05-15 11:49] PramodValavala-MSFT commented on #31079
@KeiroKamioka0000 Just following up here... Hope me previous comment helps

[2019-05-15 12:06] MohitDhingra-MSFT commented on #31194
Hi @rajdhandus ,

Yes, the name "Keys" has changed it to "Certificates and Secrets". If you create an app from App Registration (Legacy), you will see client secret as Keys but as per the documentation App registrations (Legacy) will be replaced and no longer available starting May 2019. Go to the new and improved App registrations (now Generally Available).

I hope the above information is helpfu

[2019-05-15 12:06] #31194 closed

[2019-05-15 12:07] jakaruna-MSFT commented on #31260
@imlight You can use the below command to list the images.
`az vm image list --offer linux-data-science-vm --publisher microsoft-ads --sku 'linuxdsvm' --all -o table`

I created a VM in portal using the "Data Science Virtual Machine for Linux (CentOS)". Then using az cli, i got the publisher and sku of that image.
Truncated Output:
[code]

[2019-05-15 12:12] unscramblrahul opened #31276 "Invalid REST API URL"
I am using this interactive speech API with WebSocket. I am not able to connect as it gives 401 error.
https://speech.platform.bing.com/speech/recognition/interactive/cognitiveservices/v1?language=pt-BR

Can you confirm If the URL is the same? Because all the other URL's(issueToken and conversation) are changed and has region name as a prefix. Please share the updated URL if that's the case.

Than

[2019-05-15 12:14] VikasPullagura-MSFT commented on #31268
@cynthn Please review the above PR.

[2019-05-15 12:20] jakaruna-MSFT commented on #31086
@kazshi Thanks for the clarification.
Lets say that we deployed the SQL managed service in a VNET across availability zones. You want to know that if there are any data transfer charges for the communication(data sync) between the sql instances. Correct me if i am wrong.

@cynthn Please add your comments

[2019-05-15 12:36] andrew-kelleher commented on #23263
Hi @PramodValavala-MSFT, @andrewatfornax,

I recently had a need to get this scenario working for a client. The configuration required is as Pramod's outlined.

Essentially, within API-M you create your API's with a base URL of /external or /internal.

Within App Gateway a path based routing rule is created. Any URL's matching /external are forwarded to the private IP of API-M. The critical piece

[2019-05-15 12:49] arolshan opened #31277 "China cloud support"
Hi,
is this feature supported in China sovereign cloud ?
I get the following error when adding the aad app as a user in our db:
"Principal 'ams-sql-mc-cne2' could not be found or this principal type is not supported."
Thanks, Arik.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d4a33b0-87d0-f60c-1b52-aeafa889e657
* Ve

[2019-05-15 13:00] SadiqhAhmed-MSFT commented on #31275
@NJLangley Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-15 13:01] SadiqhAhmed-MSFT commented on #31276
@unscramblrahul Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-15 13:02] SadiqhAhmed-MSFT commented on #31277
@arolshan Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-15 13:09] Dave76 opened #31278 "Show an example of how to use a service in a function"
This is in reference to this page: https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection

The documentation does a good job of showing how to register your services, but how do you then use these services from within a function?

For example, lets say I registered `ITimestampService` in startup as a singleton, and want to use it within a function.  If I just

[2019-05-15 13:11] arwebs opened #31279 "Create Database in Elastic Pool: Argument Name"
Tested in azure-cli version 2.0.64, via windows command line.  When specifying an Elastic Pool, the argument name is `--elastic-pool`, NOT `--elastic-pool-name`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 758743c8-5c33-3686-e940-a33026e2e86c
* Version Independent ID: d93eb1a1-a4a6-6248-42a9-4ab3f8a4a29f
* Content:

[2019-05-15 13:20] bertrandpons opened #31280 "How to deal with outputs of Data Factory Validation activity?"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-validation-activity

I have a Validation activity in my pipeline. Depending on it, I want to add a If condition activity with a different behavior in function of the output _exists_ field of the Validation activity.

![image](https://user-images.githubusercontent.com/26971151/577

[2019-05-15 13:24] Dave76 commented on #31278
After a bit of research I figured out that you no longer need to use static for function declarations so, you can use constructor inject just like you would with a Controller.

So here's the above example refactored to work:

[code]

Either way, the documentation should explain this to the user. My 2 cents.

[2019-05-15 13:35] myaesubi commented on #31044
Hi @AshokPeddakotla-MSFT ,
could you update on this.
I acquired the hardware in the hopes of getting it up and running quickly.

I wonder if there another stable firmware you suggest that I can use? probably need different configuration?

Thanks,
Mohammad

[2019-05-15 13:46] rothja commented on #30920
@javiermicrosoft Thanks for contacting us on this. I manage the article, but I'm not the expert on each section. @femsulu, I believe the @mrbullwinkle is the owner of most of the Azure Monitor articles and would be a good contact to start with to look into this request. Can you unassign me and assign @mrbullwinkle? Thank you!

[2019-05-15 13:48] DixitArora-MSFT commented on #31191
@alfanse When a message is scheduled, it's actually enqueued on the broker with delayed appearance. Azure Service Bus on the server side de-duplicates messages upon arrival and uses message ID for de-dup. if you delay dispatch of the second message and the original message is processed, there will be nothing to de-dup and the second message will be enqueued. If you don't delay, then the broker wil

[2019-05-15 13:48] bertrandpons opened #31281 "Data Factory activity output deciding the "color" of the entire pipeline status"
Hi,

Question based on the following general documentation: https://docs.microsoft.com/en-us/azure/data-factory/concepts-pipelines-activities

Is it possible in Azure Data Factory to decide the color of the status of a pipeline run (green, yellow, red for example) in function of the output of an activity.

Let's assume I have a lookup activity that runs a stored procedure, giving an output with a

[2019-05-15 13:51] AshokPeddakotla-MSFT commented on #31161
@kgremban Could you please check this and provide your insights?

[2019-05-15 14:00] matthewmarion commented on #30413
Having this same issue today. Authorization is working fine; however, whenever trying to GET `https://eastus.tts.speech.microsoft.com/cognitiveservices/v1/voices/list`, I am getting `<h2>Our services aren't available right now</h2><p>We're working to restore all services as soon as possible. Please check back soon.</p>02RrcXAAAAABZhJTS83WZRY149/TqgrOuQVRBRURHRTAyMTgARWRnZQ==`.

[2019-05-15 14:00] tiwahu commented on #31051
That sounds awesome.  I send those **two** links when someone asks about Cosmos DB SQL...soon, I'll just need to send **one**!

[2019-05-15 14:02] matthewmarion commented on #30413
The issue here is you are using `https://westus.tts.speech.microsoft.com/cognitiveservices/v1/voices/list` when you should drop the v1 and use `https://westus.tts.speech.microsoft.com/cognitiveservices/voices/list`.

They are not clear about this on the docs. Hope this helps.

[2019-05-15 14:09] ericwj opened #31282 "Please review `Azure Key Vault managed storage account - CLI`"
The article is in some paragraphs missing a lot of articles and/or (possessive) determiners and especially **Key Vault** can refer to several things (actual key vaults, or not key vaults at all but a service principal) which makes it hard to follow the instructions and comprehend what is being done or why.

The code block containing `"objectId": "93c27d83-f79b-4cb2-8dd4-4aa716542e74"` is out of pl

[2019-05-15 14:10] CHDAFNI-MSFT opened #31283 "Are the asterisks wildcards or bullets?"
Are the asterisks in the documentation for GCC meant to be "Bullets", as in the Markdown syntaxes is incorrect... or are the entries meant to stipulate "wildcard" URLs.

If they are wildcards, then this document is completely incorrect as Service Connectivity monitors specific URLs. Wildcards cannot be monitored since it doesn't point to an exact address. Wildcards are used for Firewalls.

Also...

[2019-05-15 14:17] ericwj commented on #31282
I also suggest to copy in the actual console output of the `az` commands and to use the actual GUID's and other properties that are copied from those examples in the subsequent explanation as well as subsequent additional `az` commands.

[2019-05-15 14:25] TranKennyK commented on #31250
Update - After some troubleshooting, it seems the issue only occurs when I do the POST request programmatically (200 OK) - doing a GET request on the API reference page or programmatically afterwards responded 500 Internal Server Error.

No issues when I use the API reference page for both POST and GET.

[2019-05-15 14:45] alohaninja opened #31285 "External Redis Cache - Premium Tier"
I am able to configure a custom redis cache using APIM in Premium Tier - is this availability still correct - "_This feature is currently available only in the Consumption tier of Azure API Management._"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e160c8ec-222c-45a4-7e28-bc93e58d633f
* Version Independent ID: 6ff503

[2019-05-15 14:47] mattruma commented on #31215
@KetanChawda-MSFT that worked! Thank you! Might be nice to include the links you provided in this article.

[2019-05-15 14:51] wendlandreas opened #31286 "Server Side logout on Identity Provider for Microsoft/Facebook/Twitter"
As stated above, only for Azure Active Directory and Google, the '.auth/logout' endpoint performs a server-side sign-out on the identity provider.
Our issue is that whenever a user logs out e.g. with Microsoft Account using this endpoint and then tries to log in again, the credentials window is not shown but the user is automatically logged in with the account he just logged out from (probably due

[2019-05-15 14:53] TranKennyK commented on #31250
Update2 - This issue has been resolved. I was likely piping the request through the wrong workflow. Thanks!

[2019-05-15 15:02] PramodValavala-MSFT commented on #31278
@Dave76 Thanks for the feedback! We have assigned this issue to the content author for review.

[2019-05-15 15:07] artisticcheese commented on #15622
Does B VMs support nested Virtualization?

[2019-05-15 15:08] #21927 closed

[2019-05-15 15:10] mrbullwinkle commented on #30920
Thanks @javiermicrosoft there is actually an active PR for this very question here: [https://github.com/MicrosoftDocs/azure-docs/pull/29515/files](https://github.com/MicrosoftDocs/azure-docs/pull/29515/files). I will ping my teammate to confirm that he is ready for this to be signed off on.

[2019-05-15 15:13] CeciAc opened #31287 "Link to version history leads to Technet page that links to another Microsoft Docs Page"
@MarkDNL commented on [Wed May 15 2019](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/309)

The link in the Version History section leads to and old Technet page: https://social.technet.microsoft.com/wiki/contents/articles/51049.asr-deployment-planner-version-history.aspx

The Technetpage just contains a link to https://docs.microsoft.com/en-us/azure/site-recovery/site-recovery-deployme

[2019-05-15 15:19] MicahMcKittrick-MSFT commented on #15622
Only the V3 versions of VMs support nested virtualization

[2019-05-15 15:23] bertrandpons commented on #30976
@himanshusinha-msft thank you for your efforts reproducing the issue.

I am sure also that's about permission at IR level but I can't see how to fix it.

1. I am not following a specific point in the document. I generated ARM template, added parameters for VNet and subnet in order to apply the template to other environments. While deploying, everything works except the join to VNet
   2. The IR is

[2019-05-15 15:24] cynthn commented on #31268
@Josverl Thanks for the feedback! Can you try using an incognito tab?

We ran into this yesterday, where there was some kind of caching issue.

[2019-05-15 15:24] erhopf commented on #30413
#please-close

As @matthewmarion pointed out, looks like you're using the wrong endpoint. The full list of endpoints for voices is here: https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/rest-text-to-speech#get-a-list-of-voices.

@matthewmarion - We would love feedback on how we can make it more clear.

[2019-05-15 15:25] binoysankar commented on #15980
@Karishma-Tiwari-MSFT: If I understand correctly @moasifk has asked about the RAM(Memory) not the Secondary storage(Disk metrics). I am also facing this issue and currently using "Percentage CPU" metrics which is not the rule which I want to have. "Memory" metrics should have been a mandatory extension for the metrics IMHO.

[2019-05-15 15:26] MicahMcKittrick-MSFT commented on #31281
Thanks for the question! We are investigating and will update you shortly.

[2019-05-15 15:26] MicahMcKittrick-MSFT commented on #31280
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 15:27] sunilprabha opened #31288 "AKS with App gateway"
I plan to use App gateway as a proxy for getting to AKS containers. Do you have a document which covers these topics. I plan to use SSL offloading at Gateway level.
please point in the correct direction.
Regards
Janu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independe

[2019-05-15 15:28] MicahMcKittrick-MSFT commented on #31288
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 15:34] #31150 closed

[2019-05-15 15:35] Mike-Ubezzi-MSFT commented on #31132
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 15:35] #31132 closed

[2019-05-15 15:36] Mike-Ubezzi-MSFT commented on #29424
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 15:37] #29424 closed

[2019-05-15 15:37] Mike-Ubezzi-MSFT commented on #28487
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 15:37] #28487 closed

[2019-05-15 15:38] Mike-Ubezzi-MSFT commented on #29418
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 15:38] #29418 closed

[2019-05-15 15:40] ajlam commented on #31256
@ShawnXxy - this is intentional. The MariaDB drivers are compatible for MySQL and we recommend our customers to use the MariaDB driver as it is includes the latest community updates.

[2019-05-15 15:45] Mike-Ubezzi-MSFT commented on #31279
@arwebs Thank you very much for bringing this to our attention. We are investigating and will make an update as appropriate.

[2019-05-15 15:45] alkohli commented on #31273
@squasta Please use the region availability page for the latest region information. We are in the process of replacing the table available in the Data Box Disk overview page with a link to the above region availability page. Thanks!

[2019-05-15 15:48] aljo-microsoft commented on #31197
@MicahMcKittrick-MSFT
#please-close its been merged.

[2019-05-15 15:51] timsander1 commented on #31051
Subquery doc has more information about the ARRAY expression: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-sql-subquery#aggregate-scalar-subqueries.  As Sneha, mentioned that amount of content in the query docs has gotten large so we will be reorganizing later this month to make it easier to navigate.  Thanks!

[2019-05-15 15:51] nageswarysv commented on #31040
Documentation mentions that Python 3.6 is the right version. So I ran the code in Python 3.6.8 but I got the same error.
I looked into the above URLs (provided by @Alberto Vega) but I was not able to make out as to what should be possible corrections in my code.

Taking a similar step, I came across a link (shown here below) which showed me sample code.
https://www.jokecamp.com/blog/examples-of-cr

[2019-05-15 15:51] cynthn commented on #31086
@raj-ganapathy-msft can you weigh in on this question about data transfer pricing?

[2019-05-15 15:52] dalemyers opened #31289 "It's difficult to find information about triggering timer functions locally for debugging"
I spent a long time looking for the details on how I could trigger a timer function locally to help with debugging. Eventually I found this page, but it wasn't direct. It was through a post on a forum. It would be great if this could be more prominently documented somewhere.

I spoke with some other people to see how this could be done, and they just assumed it couldn't be done, since they didn't

[2019-05-15 15:54] akalypse commented on #29632
Hi guys,
We are still having a problem to get an IP assigned from the subnet that we have specified via annotations of our service manifest:

**kubectl describe services user**
Name:                     XYZServiceName
Namespace:                default
Labels:                   app=XYZ
Annotations:              service.beta.kubernetes.io/azure-load-balancer-internal: true

[2019-05-15 15:58] baweiji commented on #28750
I encounter the same issue, how to resolve the 404 issue during authorized by github?
![image](https://user-images.githubusercontent.com/1695815/57790393-3bcde280-776d-11e9-8258-8b7040d4c7a3.png)

[2019-05-15 16:05] shanemcd opened #31290 "Typos in docs"
Looks like `--aad-client-app-id flag to the az openshoft create` should be `--add-client-app-id flag to the az openshift create`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a75ea4cd-7173-91e7-dbb6-f526337054b2
* Version Independent ID: f44e7584-d625-9839-c9ec-e96b3d81ee2f
* Content: [Azure Active Directory integrati

[2019-05-15 16:09] thecpshah commented on #31090
In order to train the model, how we pass the images stored in Azure Blob Storage?

[2019-05-15 16:12] jaffadog opened #31291 "Please document use of wildcards in Reply URLs"
Reply URLs accept wildcards. This does not appear to be documented and the resulting behavior is confusing. For example, if I have an app that sends an AuthnRequest with an ACS URL of https://foo.bar.someapp.com/portal/login, then:

These potentially configured Reply URLs work:
https://foo.bar.someapp.com/portal/login
https://foo.bar.someapp.com/*
https://\*.bar.someapp.com/*

But these do not:
ht

[2019-05-15 16:14] MicahMcKittrick-MSFT commented on #31290
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-15 16:14] femsulu commented on #31229
@JohnBoncek A PR has been deployed to fix the grammatical errors. The fix should be live shortly.
thanks again for bringing this to our attention.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-05-15 16:14] #31229 closed

[2019-05-15 16:17] TylerMSFT commented on #31290
Fixed. Will go live this morning.
Thanks @shanemcd

[2019-05-15 16:17] TylerMSFT commented on #31290
#please-close

[2019-05-15 16:17] raj-ganapathy-msft commented on #31086
There is no additional charge if you are using Azure SQLDB Managed Service (https://docs.microsoft.com/en-us/azure/sql-database/sql-database-high-availability#zone-redundant-configuration). If you are using SQL Server deployed on VMs across multiple zones, then it will incur inter-zone data transfer charge.

[2019-05-15 16:18] #31290 closed

[2019-05-15 16:20] jaffadog opened #31292 "Please document use of wildcards in Reply URLs"
Cross-posting my prior comment from the tutorial page. This comment applies everywhere where SSO instructions are provided.

See:
https://github.com/MicrosoftDocs/azure-docs/issues/31291.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05a5938f-9900-7728-3a10-7eef686b1dd0
* Version Independent ID: c36ef90a-df18-efa1-02f

[2019-05-15 16:20] dlduncan opened #31293 "Reply and Sign on URLs"
For the Sign On URL and the Reply URL, the whr parameter would not be a user identifier, it would be a Repository ID. It would start with CA- followed by 8 digits. You can see this URL in the screenshot under step 5 under the heading "Configure NetDocuments Single Sign-On".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2019-05-15 16:21] shimjithkumar commented on #21088
Can we share the dash board user matrix link only to a person who dont have account in azure active directory (means:- to business to see the web app performance)

[2019-05-15 16:23] iainfoulds commented on #31081
@ToruMakabe Yes, the doc was already updated to note that. Any clusters created after registering the feature will have the ability, but this is only for the base system images. Customers can still pull from any additional registry they like for their own deployments. The MCR/ACR limitation is in terms of things like core-dns and the other required Kubernetes cluster components. There shouldn't be

[2019-05-15 16:28] YutongTie-MSFT commented on #30413
@HolyChris
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-05-15 16:28] #30413 closed

[2019-05-15 16:29] MicahMcKittrick-MSFT commented on #31288
This is on the roadmap, but for now it's a separate project outside of AKS. Supporting docs are part of their GitHub project at https://azure.github.io/application-gateway-kubernetes-ingress/docs/tutorial.html.

We have a backlog item for a formal AKS doc once the feature is integrated into AKS for real

Will close this out but if you have further questions just let me know.

[2019-05-15 16:29] #31288 closed

[2019-05-15 16:30] jeffpatton1971 opened #31294 "Actions"
Could we get some additional documentation around actions and how to implement those? Or are these solely dependent on some resource in Azure being able to process whatever the action.name is?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0448e14e-f408-8c53-54f8-fa6ae8b2ac36
* Version Independent ID: 01269026-a8a2-cf8

[2019-05-15 16:31] mganeshphani opened #31295 "What do you mean by "app pre-warmed on a specified number of instances, up to your minimum plan size""
In the follwoing section of the document: https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan#pre-warmed-instances

it is mentioned as
"app pre-warmed on a specified number of instances, up to your minimum plan size"

what do you mean by minimum plan size? i always see the  prewarmed instances show as maximum count 1.. not able to adjust beyond it.. tried all plans(EP1/EP

[2019-05-15 16:32] mganeshphani commented on #31295
![image](https://user-images.githubusercontent.com/22988320/57792621-0b525e00-7705-11e9-882e-0890aa5860e4.png)

[2019-05-15 16:32] jeffpatton1971 commented on #31294
It might be nice to have a more complete example, which would include the "ping" action that resides on the endpoint. Additionally I assume that the {requestpath} or whatever is in the curly braces, is the action.name?

[2019-05-15 16:38] alkohli commented on #31273
@SadiqhAhmed-MSFT I have updated the doc as well in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/76798. This PR is now merged and should go live at 10 AM.
Please verify and close. Thanks!
#please-close

[2019-05-15 16:45] CeciAc commented on #31287
Hi team,
the mentioned link is as in the source page
kind regards

[2019-05-15 16:46] Mike-Ubezzi-MSFT commented on #30998
@twilly86 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 16:46] #30998 closed

[2019-05-15 16:49] joelpelley commented on #15622
+@Aysha Keen<mailto:ayshak@microsoft.com> who owns B Series

Best regards,
Joel Pelley, PMP
Principal Program Manager – Azure Compute VM Sizes and Hardware
Email       joelpell@microsoft.com<mailto:joelpell@microsoft.com> | office   425-704-8149

“It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better.  The cr

[2019-05-15 16:50] joelpelley commented on #15622
+@Aysha Keen<mailto:ayshak@microsoft.com>

Best regards,
Joel Pelley, PMP
Principal Program Manager – Azure Compute VM Sizes and Hardware
Email       joelpell@microsoft.com<mailto:joelpell@microsoft.com> | office   425-704-8149

“It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better.  The credit belongs to th

[2019-05-15 16:53] rwike77 commented on #25401
@reggaeguitar Thanks for bringing this up.  I've updated the screenshots and instructions in the article, the changes should publish live very soon.  #please-close

[2019-05-15 16:54] rwike77 commented on #31194
@rajdhandus Thanks for bringing this up.  I've updated the screenshots and instructions in the article, the changes should publish live very soon.

[2019-05-15 16:59] Zoltango opened #31296 "Use connector in PowerApps"
Hello,

I tested the IoT Central connector in Flow and it works great. The documentation mentions PowerApps support too.
Can you help how I can use the connector in PowerApps to get telemetry data? I can get device name via connector and intelligent editor also offers additional actions but actual data can't be retrieved.
E.g. it works to display device name: AzureIoTCentral.DevicesGet("---my_appl

[2019-05-15 17:01] clauslund opened #31297 "wrong list of regions"
probably better to link to https://azure.microsoft.com/en-us/global-infrastructure/services/?products=openshift

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cae8cd22-9a8c-b92e-6352-ba3d20fcf413
* Version Independent ID: 6b0b03ce-5f8f-9ab7-2870-926a99da554f
* Content: [Supported resources for Azure Red Hat OpenShift](

[2019-05-15 17:05] Karishma-Tiwari-MSFT commented on #31297
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 17:07] #31250 closed

[2019-05-15 17:09] johnthcall opened #31298 "Support for Load Balancer diagnostics in National Clouds"
The diagnostics blade is not visible in Load Balancers in national clouds neither do ARM template deployments. I get the following exception: { "code": "BadRequest", "message": "Category 'LoadBalancerAlertEvent' is not supported." }

Is there any plan to support this in national clouds?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-05-15 17:12] YutongTie-MSFT commented on #31276
Test

[2019-05-15 17:13] YutongTie-MSFT commented on #31250
@TranKennyK Hi, glad to see your issue solved. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 17:15] SiddheshV commented on #23201
@malake @Saphirim :  Do you have IPFirewall/VNET rules defined for your accounts?  As MongoDB supports unauthenticated commands, we currently fail the authentication calls if the request comes from an non-whitelisted source

[2019-05-15 17:16] SiddheshV commented on #31173
@Saphirim : Do you have IPFirewall/VNET rules defined for your accounts? As MongoDB supports unauthenticated commands, we currently fail the authentication calls if the request comes from an non-whitelisted source.

[2019-05-15 17:17] zmottie opened #31299 "json has typo"
"Increase the maxTasksPerNode to 2, to take advantage of both cores on each node"

Then the JSON File says:

"maxTasksPerNode": 4,

It should read:

"maxTasksPerNode": 2,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c567b599-2864-aa6f-64f0-d2bb86bf9b35
* Version Independent ID: e322b98f-5896-434f-5014-c2c5cf73e221
*

[2019-05-15 17:18] #31060 closed

[2019-05-15 17:19] michevnew opened #31300 "New roles"
Bunch of new admin roles have appeared recently:

B2C User Flow Administrator
B2C User Flow Attribute Administrator
B2C IEF Keyset Administrator
B2C IEF Policy Administrator
External Identity Provider Administrator
Compliance Data Administrator
Security Operator
Kaizala Administrator
Search Administrator
Search Editor
Printer Administrator
Printer Technician

Can you please update the article to r

[2019-05-15 17:20] rajdhandus commented on #31194
Thank you Ryan.. I was about to give up.. :)

[2019-05-15 17:20] Grace-MacJones-MSFT commented on #31286
Hi @wendlandreas, thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 17:22] mattchenderson commented on #30809
We can't commit to a GA timeline, but I would say optimistically that we should have some news within the next few months.

[2019-05-15 17:23] kiranpradeep commented on #31059
Thanks for the reply. IMHO the wordings should be updated as same node and same consumption plan should not be used interchangeably. Please run this through a Azure function newbie and see what he thinks. Thanks again.

[2019-05-15 17:23] #31059 closed

[2019-05-15 17:31] TylerMSFT commented on #31297
Good idea. I updated the topic accordingly. It will be live by tomorrow.
#please-close

[2019-05-15 17:34] tfitzmac commented on #30654
I can rerun the process and include 2018-05-01-preview to pick up those types.

[2019-05-15 17:38] jfosdickdcp commented on #30731
Is there any known timeline for this feature in VS2019 ?  I don't have the 2017 version and can not find it to download.

[2019-05-15 17:38] Karishma-Tiwari-MSFT commented on #31297
Thanks @TylerMSFT

[2019-05-15 17:39] MarileeTurscak-MSFT commented on #31291
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-15 17:39] SnehaGunda commented on #29664
We will close this issue if there aren't any further questions.

#please-close

[2019-05-15 17:40] MarileeTurscak-MSFT commented on #31300
@michevnew
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-15 17:44] SaurabhSharma-MSFT commented on #31230
@mganeshphani Can you please help provide details what update you require on the document.

[2019-05-15 17:45] shampton-myabt opened #31302 "Doc Instructions are Incorrect and Unclear."
When creating a mapped drive to azure files and wanting to use the stored credentials entered into windows with the cmdkey functions, you can not use the New-PSdrive instructions under the "Mount the Azure file share with PowerShell" Section.

New-PSDrive -Name &lt;desired-drive-letter&gt; -PSProvider FileSystem -Root &lt;filshare path&gt; -Credential $credential -Persist

The powershell command o

[2019-05-15 17:46] kobulloc-MSFT commented on #30654
@sugarjig The update should go into effect shortly.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2019-05-15 17:46] #30654 closed

[2019-05-15 17:46] davidmu1 commented on #31110
The app registration steps have been updated.

#please-close

[2019-05-15 17:47] SaurabhSharma-MSFT commented on #30827
@butchmarshall We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-15 17:47] #30827 closed

[2019-05-15 17:47] sugarjig commented on #30654
I think what @tfitzmac suggested will work. Thanks!

[2019-05-15 17:50] curtand commented on #31122
Hi @MarileeTurscak-MSFT
Please assign this to @ajayanti1 Thanks!

[2019-05-15 17:53] MarileeTurscak-MSFT commented on #31282
@ericwj
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-15 17:55] DOliana opened #31304 "wrong information"
According to documentation copy from blob to file share is supported, which is in fact not the case.

Section:
The source or destination can be a:

    Local file system
    Azure Blob/Virtual Directory/Container URI
    Azure File/Directory/File Share URI
    Azure Data Lake Storage Gen2 Filesystem/Directory/File URI

Command result is "failed to parse user input due to error: the inferred source

[2019-05-15 17:55] butchmarshall commented on #30827
Sorry I haven't had time to follow up yet.

I'll try to open a support ticket - but I don't believe this is an issue with just my system.

Every one of our SharePoint tenants I've attempted this with has the same issue: butchdevtembosocial, tembosocialo365-dev, northflight and rivernorthair

[2019-05-15 17:57] NoeHoyos commented on #20571
I have not had a chance to test it. I will provide feedback as soon as possible.

[2019-05-15 17:59] curtand commented on #31300
Hi @michevnew

I don't see these roles in the Azure portal, which is what I sync our docs with. Where are you seeing these?

@MarileeTurscak-MSFT

[2019-05-15 18:00] mikebudzynski commented on #31285
@alohaninja Thanks for opening the Issue - the external cache is now available in all the tiers and we will update the documentation accordingly.

[2019-05-15 18:01] PramodValavala-MSFT commented on #31171
@msghaleb Hope my previous comment clears things up. We are assigning this issue to the content author for further review and to update the doc as appropriate.

[2019-05-15 18:02] KranthiPakala-MSFT commented on #31227
@dalmat36 Thank you for notifying us about this issue.
Yes, there a minimum value for retryIntervalInSeconds. It must be between 30 and 86400. This limit is shown when we validate the Factory.

![image](https://user-images.githubusercontent.com/50185738/57798128-df34de00-7700-11e9-9853-bf069fa816dc.png)

We will update the document appropriately.

[2019-05-15 18:13] NoeHoyos opened #31305 "Using File Storage insted of NFS"
Hello, I wonder if it is possible to replace the NFS cluster with resources from File Storage. This could potentially simplify the architecture. The File Storage is a highly available solution and Linux can mount CIFS resources. I am assuming this would be transparent that SAP (e.g., sapgenpse) and the copy of binaries to local filesystem has no problem. However, one has to consider the workload o

[2019-05-15 18:13] MarkDordoy commented on #30809
When it does go GA will it support getting the current version and not require the specific version in the name?

[2019-05-15 18:14] Karishma-Tiwari-MSFT commented on #31179
Yes, that's correct. I shared so that you can try the steps suggested by the product team there and see if those work for you. :) I am trying to get help from product team here. If not, I may have to ask you to post the question on https://techcommunity.microsoft.com/t5/Windows-Virtual-Desktop/bd-p/WindowsVirtualDesktop
We have the product team members monitoring that forum.

@eva-seydl I saw that

[2019-05-15 18:16] michevnew commented on #31300
I see them in the portal (see attached) as well as PowerShell:

[cid:image001.png@01D50B62.0E7E81D0]

I guess the Kaizala admin will not be visible in Azure AD, probably the Compliance Data Administrator and Search ones will also be limited to O365 only. But can you update the rest please?

From: Curtis Love <notifications@github.com>
Sent: Wednesday, 15 May 2019 21:00
To: MicrosoftDocs/azure-docs

[2019-05-15 18:28] MicahMcKittrick-MSFT commented on #31305
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 18:29] normesta commented on #31304
Thank you for the feedback. Yes, the content is not very clear about that for sure. We are in the process of revising all of the AzCopy content and a new version of this content will be released very shortly. This new version of the content will draw this distinctions much more clearly. Thank you!

[2019-05-15 18:29] donghexu commented on #28398
@SnehaGunda Yes. I'll close this one. Thanks everyone on the thread.

[2019-05-15 18:30] MicahMcKittrick-MSFT commented on #31299
@zmottie thanks for the find! I have corrected the doc. Once the PR merges the changes should go live in a few hours.

[2019-05-15 18:30] #31299 closed

[2019-05-15 18:31] SaurabhSharma-MSFT commented on #30582
@phillkOCCM Hope this answer your questions.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-15 18:31] #30582 closed

[2019-05-15 18:32] donghexu commented on #28398
@SnehaGunda I don't find the button to close the issue. Could you close it? Thanks,

[2019-05-15 18:35] singhkays commented on #31263
@shashishailaj I looked at it, it seems correct but I can't confirm since I don't work on key vault

[2019-05-15 18:35] phillkOCCM commented on #30582
Question answered, thank you.

________________________________

One Call is not a healthcare or transportation provider, but instead schedules and coordinates such services on behalf of its clients through a proprietary network of independently contracted licensed practitioners, healthcare provider groups and vendors (collectively, “Network Providers”). Network Providers are solely responsible fo

[2019-05-15 18:36] #31285 closed

[2019-05-15 18:36] markjbrown commented on #30853
This is now fixed. Thanks for reporting. can close this issue now.

thanks.

[2019-05-15 18:40] markjbrown commented on #31037
This issue is now fixed.

Thank you for reporting.

[2019-05-15 18:42] mercurjl commented on #23596
I wanted to second this comment. The total length of my file is 13 minutes, but it only recognizes the first 15 seconds. There is some music that occurs in the background. Does this have an effect on the services ability to recognize speech?
Thanks,
Joel

[2019-05-15 18:43] #31227 closed

[2019-05-15 18:44] MicahMcKittrick-MSFT commented on #31235
@colinweiner closing this. If you still have feedback, you can open an issue directly on the doc you are having issues with and we can take it from there.

[2019-05-15 18:44] #31235 closed

[2019-05-15 18:45] mganeshphani commented on #31230
I think the screenshots in the document no longer are valid... please see
the referred issue

On Wed, May 15, 2019 at 12:44 PM SaurabhSharma-MSFT <
notifications@github.com> wrote:

--
Ganesh Phani Majeti.

[2019-05-15 18:47] MicahMcKittrick-MSFT commented on #31145
@aljo-microsoft @srrengar could either of you add more to this? Just to make sure the info provided to this ask if 100% correct :)

[2019-05-15 18:47] KranthiPakala-MSFT commented on #31227
@dalmat36  The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, please let us know if there is something else that we can help you with.

[2019-05-15 18:48] MicahMcKittrick-MSFT commented on #31086
Thanks @cynthn and @raj-ganapathy-msft ! :)

@kazshi does that answer your question? Any further questions?

[2019-05-15 18:49] dalmat36 commented on #31227
@KranthiPakala-MSFT Thanks! Happy to help :-)

[2019-05-15 18:53] MicahMcKittrick-MSFT commented on #30939
@tedgoddard I worked offline with the product team on this ask.

As long as the user is brought into the same tenant as registry, they will be able to access it.

First, you need to add the user/SP to the new Tenant, and then give them the correct permissions to the registry.

Then when you do az login, you need to specify the tenantId:

az login --tenant

In this case, the identity is brought int

[2019-05-15 19:01] bellowman opened #31308 "Copying From Self-hosted IR SQL Server to Azure DataLake Gen 2 in Parquet files"
Hello I have a client who is a self-host integration runtime  SQL Server. I am copying from the client to my Azure DataLake Gen 2. I I follow the instructions on this page as setting the type to 'Parquet' for the Dataset properties and setting the type to 'ParquetSink' for the Copy Activity's properties.

However, I am getting this error message: "Failure happened on 'Sink' side. ErrorCode=UserErr

[2019-05-15 19:05] julieMSFT commented on #8182
@Mike-Ubezzi-MSFT Mike, please assign this to @TwoUnder. Thank you.

[2019-05-15 19:09] cowinr opened #31309 "Correction needed for script"
Creation of the 2nd database needs to use the parameters set at the start of the script, like this:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e10fe034-4107-3771-5f2f-d2c1d9bb2f1a
* Version Independent ID: aefd00fd-1d3f-ebca-10ee-4bfb364f10c4
* Content: [PowerShell example-move Azure SQL database-elastic po

[2019-05-15 19:14] syedcit01 opened #31310 "ADF Copy SQL Server to Azure SQL Db using stored procedure from SQL sink"
Services Involved: Copying Data from On-prem SQL Server to Azure SQL Database using the stored procedure as sink.

Issue:
I encounter an error 2200 related to timestamp data type. Error occur when the source table from On-prem SQL Server copied to Azure SQL Database with column as "timestamp" data type. The tables without "timestamp" data type column are successfully copied

Code example:
create t

[2019-05-15 19:17] zereplim commented on #31071
Hello Jwargo. Step 1 on "Create an app in Windows Store" the documentation says to login on windows dev center, when I login I see no options corresponding to the provided instructions.

It's not a browser problem. There's no menu on the left as shown on the documentation pictures.
Thank you

[2019-05-15 19:20] tedgoddard commented on #30939
Thank you so much for the detailed investigation. In my case (where I'm trying to allow access to a container registry for guests working for a different company) this may not help, so I will likely provide them with a Service Principal login.

[2019-05-15 19:20] msmimart commented on #28989
@ivratche - Regarding product feedback, please post your suggestions to [Azure AD UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory). This will allow the community to upvote and the product team to include it in their plans. We also have the "Send feedback about: This product" button in our documents now to take you directly to the appropriate feedback page.

[2019-05-15 19:22] #28989 closed

[2019-05-15 19:24] MicahMcKittrick-MSFT commented on #30939
Yeah at this time that seems the best route to go. However, I also suggest filing a feedback request as the idea of this is great!

https://feedback.azure.com/forums/903958-azure-container-registry

I will close this out for now but if you have additional questions just let me know :)

[2019-05-15 19:24] #30939 closed

[2019-05-15 19:25] Juliako commented on #30730
updated https://docs.microsoft.com/en-us/azure/media-services/latest/custom-preset-cli-howto

[2019-05-15 19:25] Juliako commented on #30730
#please-close

[2019-05-15 19:25] MartinJaffer-MSFT commented on #31280
Hello @bertrandpons  and thank you for your inquiry.  I have tried for myself, and all my attempts to grab the 'output' of the Validation activity have failed.  I think this is a bug, as the Validation activity has an output as visible in the debug mode.  I will attempt to contact the product group.

[2019-05-15 19:30] MicahMcKittrick-MSFT commented on #31310
@syedcit01 please provide us with the link to the documentation you are following so we can better assist.

[2019-05-15 19:30] msrini-MSFT commented on #31298
@johnthcall , I will check with the Product Group and get back to you.

[2019-05-15 19:46] TravisCragg-MSFT commented on #30292
@grayjeremy We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 19:46] #30292 closed

[2019-05-15 19:47] TravisCragg-MSFT commented on #30784
@mnblacklock We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 19:47] #30784 closed

[2019-05-15 19:47] MartinJaffer-MSFT commented on #31280
@bertrandpons I do have one piece that can possibly help.  Instead of using the output to test for success/fail, use the Validation activity's Red/Green paths.  When the Validation times out , the red failure path is taken.
![image](https://user-images.githubusercontent.com/46612670/57804488-9fc1be00-770f-11e9-87cd-34e2ba1ac924.png)

[2019-05-15 19:47] TravisCragg-MSFT commented on #30983
@robfr We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 19:47] #30983 closed

[2019-05-15 19:51] lopezbertoni opened #31312 "Search Analyzer Demo link is broken"
The Search Analyzer Demo link pointing to (https://alice.unearth.ai/) is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 930a42f8-bd6b-9822-0b8b-be96982dd1bb
* Version Independent ID: 517ebad0-48a8-23be-a6f3-2195758f0507
* Content: [Analyzers for linguistic and text processing - Azure Search](https://docs.micros

[2019-05-15 19:53] Alberto-Vega-MSFT commented on #31296
@Zoltango Thanks for reaching out. This is the only functionality available:
 https://docs.microsoft.com/en-us/connectors/iotcentral/

You could request the functionality you are inquiring about as a new feature at @ [IoT Central User Voice](https://feedback.azure.com/forums/911455-azure-iot-central). This will allow the community to upvote and for the product team to include into their plans.

Al

[2019-05-15 19:54] jishnudantu commented on #28525
@PranjaliSoni the device host name is the ip address of the VM assuming you have a VM.

[2019-05-15 20:00] SaurabhSharma-MSFT commented on #30827
@butchmarshall Sure, please let me know in case you need any help.  Also, please provide me case number over here and I will also follow-up internally to help you on this issue.

[2019-05-15 20:02] MartinJaffer-MSFT commented on #31281
@bertrandpons  I think what you are asking is,
"Can I set the overall pipeline success/fail status by the success/fail of a single activity?"

While I have not yet worked out all the details of what determines the pipeline status, I have noticed some activities have more impact than others upon the overall pipeline status.  For example, while working on your other question, #31280 , when the valid

[2019-05-15 20:04] spelluru commented on #29533
#please-close

[2019-05-15 20:05] AjayKumar-MSFT commented on #31095
@AugerC, Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2019-05-15 20:07] spelluru commented on #31259
@KetanChawda-MSFT

Bahram can confirm, but this is my understanding:

The first five in the JSON are required.

[
  {
    "topic": string,
    "subject": string,
    "id": string,
    "eventType": string,
    "eventTime": string,
    "data":{
      object-unique-to-each-publisher
    },
    "dataVersion": string,
    "metadataVersion": string
  }
]

[2019-05-15 20:12] MarileeTurscak-MSFT commented on #31292
@jaffadog
Thanks for your feedback! We will investigate and update as appropriate.

[2019-05-15 20:13] intolerance commented on #28847
The Docker Bridge Address was an issue for our on-prem as well. You can find a more detailed explanation of the docker bridge address here:

https://docs.docker.com/v17.09/engine/userguide/networking/default_network/custom-docker0/

[2019-05-15 20:19] tedgoddard opened #31313 "Process for attaching Public IP address with virtual network"
It's not clear what permissions allow a virtual network to obtain a Public IP address.

I have filed a bug for this, but it may be user error on my part:

https://github.com/Azure/AKS/issues/961

(The difficulty is that the logging output doesn't indicate what is wrong, just that the address cannot be obtained. And, if the process could be documented that would be great.)

---
#### Document Detail

[2019-05-15 20:24] TravisCragg-MSFT commented on #30775
@alvipeo All SKUs for App Gateway are PCI Compliant, including V2. As the service recently hit General Availability, the compliance docs have not yet been updated.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-15 20:24] #30775 closed

[2019-05-15 20:25] jwargo commented on #31071
@spelluru Do you mind taking a look at updating this?

[2019-05-15 20:29] jwargo commented on #31071
@zereplim it's there for me, so I'm not sure what's going on. Are you sure you logged into the site with your registered account?

![image](https://user-images.githubusercontent.com/30843404/57807129-62f8c580-7715-11e9-9ce7-6d07313ce231.png)

[2019-05-15 20:29] alfanse commented on #31191
Still unclear, can you answer the test cases to make this clearer please?
Receiving topic with dedupe window = 5 sec.
Message 1, Message ID: aaa, delay time 5 sec, arrival time 0 - delayed, then sent at sec 5.
Message 2, Message ID: aaa, delay time 5 sec, arrival time 4 sec - deduplicated at second 4, or at second 9?
Message 3, Message ID: aaa, delay time 5 sec, arrival time 6 sec - deduplicated b

[2019-05-15 20:30] marcgoff commented on #31186
This seems like a change to the default baseline policy itself in Azure that I can't find an announcement about from MS. Up until a few days ago, Global administrator, SharePoint administrator , Exchange administrator , Conditional access administrator  and Security administrator were the only roles in the rule in our tenant. This would be why the docs are not correct.

[2019-05-15 20:35] markarnolditpro opened #31314 "Merge inheritance?"
In the last paragraph, Inheritance Model is described.  This statement is mentioned
&gt; Elements of the same type and name in the RP file will override those in the extensions, and extensions overrides base.

Will elements in the RP completely replace similarly named elements in the extensions file?  Or will settings be merged?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-05-15 20:36] SnehaGunda commented on #31037
#please-close

[2019-05-15 20:44] rupeshprasad opened #31315 "Is there any way to include token claims when using local accounts?"
Is there any way to include token in  claims when using local accounts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14744614-c06f-0e1b-52a3-a3ca8ccf3df7
* Version Independent ID: 24b72c17-464d-63bd-e6fd-ef8fe0b78cca
* Content: [Pass an access token through a custom policy to your application in Azure Active Director

[2019-05-15 20:47] rameshjanjyam commented on #30815
@arkiaconsulting following this article I was able to add `user-secrets` to configuration. Until you get an official answer i think you can use same approach to integrate `azure app configuration`

code
[code]

[2019-05-15 20:50] ChristianMontoya commented on #29895
@Jez85 @zimbonz : Apologies for the delay. This is something I'm not accustomed to seeing. I'm circling back with the team to see if there are common configurations that would cause this, so I can provide more immediate resolution. If not, it is something we'll have to investigate.

[2019-05-15 20:51] mike-urnun-msft commented on #31285
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-15 20:52] #31037 closed

[2019-05-15 20:54] mike-urnun-msft commented on #31289
Hi @dalemyers Thank you for your feedback! We will review and update as appropriate.

[2019-05-15 20:55] mike-urnun-msft commented on #31295
Hi @mganeshphani Thank you for your feedback! We will review and update as appropriate.

[2019-05-15 20:56] mpchen opened #31316 "Non-compliant policy event"
I'd like to have an Azure function trigged by a non-compliant policy event. Can I configure Azure Policy to send such events to a message queue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6a5887-ea7a-5cae-b0a0-62ebc5a140ae
* Version Independent ID: 84476c7d-ab41-1f02-44c9-25ce1eaa1315
* Content: [Get policy compl

[2019-05-15 21:02] arduppal commented on #31161
@avinashchadalavada -
We have the feature enhancement request in our backlog, it will be available sometime in Future.
For your scenario, you can either set the TTL values high enough to give the tiering module ample time to upload the data to Azure. Or turn the TTL off and call delete blob when the blob exists in destination container.

Are you interested in getting a notification when the data i

[2019-05-15 21:04] BaileyJames99 opened #31317 "Very helpful"
Thank you for documenting this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5622fd71-2727-a211-ed28-7be30f116e1a
* Version Independent ID: 148cd7ae-766e-b2ea-200f-5c4b5306a310
* Content: [Troubleshooting Starting and Stopping VMs with Azure Automation](https://docs.microsoft.com/en-us/azure/automation/troubleshoot/s

[2019-05-15 21:24] femsulu commented on #31283
@CHDAFNI-MSFT Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-15 21:25] rohinkoul commented on #21242
@SubhashVasarapu-MSFT please reassign to @altambaw

[2019-05-15 21:26] markti opened #31318 "AADSTS65001"
Am i missing something? I setup the request parameters just as you suggested but I get AADSTS65001 The user or administrator has not consented to use the application with ID {clientid} named '{app name}'. Send an interactive authorization request for this user and resource.

---
#### Detail Dokumen

⚠ *Jangan edit bagian ini. Diperlukan untuk masalah penautan docs.microsoft.com ➟ GitHub.*

* ID: b

[2019-05-15 21:26] SnehaGunda commented on #26386
@paulhickman-a365 sorry about the delay in getting back on this. The API documentation is autogenerated from the source SDK. The descriptions, summary, remarks, examples are read from the source code and published to docs by the CI/CD pipeline.

Agree with your comments, the descriptions aren't much help. I will pass this feedback to our dev team. We will try to improve them in the next version re

[2019-05-15 21:27] spelluru commented on #30565
[Support for real time batch processing](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about#support-for-real-time-and-batch-processing) section in the Overview article links to the [Features article](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#partitions) with a section on partitions.

Have you had a chance to look at this information? If yes, please let u

[2019-05-15 21:27] femsulu commented on #31317
@BaileyJames99 Thanks for the Kudos. Will pass this on to the doc author.
@georgewallace - FYI

[2019-05-15 21:29] MarileeTurscak-MSFT commented on #30974
Hi @jesspent, since this is more of a troubleshooting question and not a docs question, feel free to post this in MSDN and I will gladly reply. https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD

CC: @MicrosoftGuyJFlo

[2019-05-15 21:29] #30974 closed

[2019-05-15 21:35] femsulu commented on #31294
@jeffpatton1971 Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-15 21:37] juanren opened #31319 "if I choose Java, there is no portal selection?"
I try to  choose Java, there is no portal selection; is it correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cf91d8c-d16b-346d-759b-f3c787dea2e5
* Version Independent ID: 7e422baf-0a19-dded-ee83-a71b1c819f2f
* Content: [Create your first function from the Azure Portal](https://docs.microsoft.com/en-us/azure/azur

[2019-05-15 21:39] #31317 closed

[2019-05-15 21:42] femsulu commented on #31287
@CeciAc Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-15 21:43] femsulu commented on #31316
@mpchen Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-05-15 21:44] Karishma-Tiwari-MSFT commented on #31313
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 21:45] LuisBosquez commented on #27907
Hello @subashsivaji, can you elaborate on what you mean with "native" and how such a statement would help with design?

[2019-05-15 21:50] SnehaGunda commented on #28398
@donghexu we won't have perms to close the issue. The CXP team will close with the following comment:

#please-close

[2019-05-15 21:53] proflanky commented on #31185
Maybe I should have given a more detailed explanation to give a better understanding. When your app runs on multiple instances, under the hood what these apps sees is a single UNC share. When you enable local cache your app still sees the same code base because both instances point to the d:/home path. When initializing the local cache, the site contents /site and /siteextension will be copied int

[2019-05-15 21:57] KeiroKamioka0000 commented on #31079
Sorry I thought I post something here.
It helped me!
Thanks for quick response!

[2019-05-15 21:57] #31079 closed

[2019-05-15 21:58] SaurabhSharma-MSFT commented on #30503
@JoelHazelton We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-15 21:58] #30503 closed

[2019-05-15 21:58] kobulloc-MSFT commented on #31141
@j-windsor From what I understand, we do not currently have a plan to retire multi-step tests.  After March 2020, customers will still be able to create .webtest files using Visual Studio 2019 and upload to Application Insights.

[2019-05-15 21:59] SnehaGunda commented on #27684
@falloutxAY we have updated the doc to include the PS version of command too. We will close this issue now.

#please-close

[2019-05-15 22:04] alexkarcher-msft commented on #31219
Hello @mganeshphani

You will be charged for whatever your minimum instance count is, and will only pre-warm within you minimum instance count. After you're running on your minimum instances, the Premium plan scales and bills like the Consumption plan, without keeping a buffer of instances.

[2019-05-15 22:08] burnsalpine commented on #30794
It's working now after a windows update. Thanks!

[2019-05-15 22:17] jberg-ppi opened #31321 "Windows Firewall events do not appear in the Azure Monitor"
When installing Windows Firewall, (side note it says uninstalling regardless of it being installed or uninstalled), no data shows up when you query WindowsFirewall. We have Windows machines with the Security Events set to Common and streaming data to Azure (We tried all with no difference). Is there something else we need to do to get this info streaming to Sentinel?

---
#### Document Details

⚠

[2019-05-15 22:24] #31273 closed

[2019-05-15 22:24] #31114 closed

[2019-05-15 22:25] #31110 closed

[2019-05-15 22:26] #30730 closed

[2019-05-15 22:26] ishasahni1 commented on #17362
@nschonni @CeciAc the old repos have been deleted.

[2019-05-15 22:26] ishasahni1 commented on #28833
@CeciAc any update on this issue.

[2019-05-15 22:30] Grace-MacJones-MSFT commented on #31312
Hi @lopezbertoni, thanks for bringing this to our attention. We will update this link shortly.

[2019-05-15 22:38] aszalacinski opened #31322 "Getting Security Error"
SecurityError: Permission denied to access property "msal" on cross-origin object

I am building a vuejs app and when i initially sign in via loginRedirect, I can get a token via acquireSilent. However if the page refreshes or i navigate to another route on the app, I get the above Security Error. I have my msal library wrapped in a vuejs plugin so it's a 'singleton' and I can see the token in my

[2019-05-15 22:38] KeiroKamioka0000 opened #31323 "Any update?"
This document never updated for over 3 years.......
Any update?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83de13f5-e2f3-cd2f-7bd5-6d1a734471a8
* Version Independent ID: d90f0dd3-a18c-9a47-b412-12975e9c0f6e
* Content: [Application Insights: languages, platforms and integrations](https://docs.microsoft.com/en-us/azu

[2019-05-15 22:40] Dustin-Boyle commented on #26018
I am having this same issue with an s9

[2019-05-15 22:41] roygara commented on #31076
@KeiroKamioka0000 thanks for reaching out, we do appreciate any and all suggestions. :)

In this case, the reason we do not add an expected time is that such a time is highly variable. Because of that, it doesn't make sense to document an exact time.

Again, thank you for taking the time to reach out.

#please-close

[2019-05-15 22:43] roygara commented on #28095
@nmikuni Thank you for reaching out, sorry for the delayed response.

Yes, these steps are the same between Windows and Linux, so I will add them to the documentation for Linux as well.

[2019-05-15 22:44] terrymandin opened #31324 "Couldn't connect to VM"
I went through the steps, but when I tried to connect to the VM I received this message:

ssh: connect to host 13.66.153.226 port 22: Resource temporarily unavailable

I also tried PuTTY with no luck.

Note that the screenshot in step 7 seems to show the private IP address for the destination:  10.179.64.4.
I tried both the VM public IP 13.66.153.226 and 10.179.64.4 with no luck.

---
#### Documen

[2019-05-15 22:46] MSEvanhi commented on #31294
@jeffpatton1971. Thanks for the feedback. At the bottom of the article we give a link in 'Next Steps' to our full tutorial on Custom Providers that shows you how to implement these actions. Are you looking for more information that what is presented in that article? If so, I'd love to hear what you're looking to learn more about.

-Evan Hissey, PM for Azure Custom Providers & Managed Applications

[2019-05-15 22:48] Mike-Ubezzi-MSFT commented on #26386
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-15 22:48] #26386 closed

[2019-05-15 22:53] abhijeetsinha commented on #31300
Updates below –

- B2C User Flow Administrator – Visible in portal, doc and powershell.
- B2C User Flow Attribute Administrator - Visible in portal, doc and powershell.
- B2C IEF Keyset Administrator - Visible in portal, doc and powershell.
- B2C IEF Policy Administrator - Visible in portal, doc and powershell.
- External Identity Provider Administrator - Visible in portal, doc and powershell.
- C

[2019-05-15 22:54] mrbullwinkle commented on #31323
@KeiroKamioka0000 the doc has been updated multiple times over the past 3 years. The last commit was February 21st, 2019. The date that appears on the top of the article is a manually incremented metadata value that does not correspond with article commits/edits. Generally we only increment that value when a large change happens in a doc. For a doc like this where the content is fairly static and

[2019-05-15 22:55] roygara commented on #28095
The changes have been merged and should be live some time tomorrow.

Again, thank you for taking the time to reach out and provide suggestions for improving our docs, we really do appreciate it!

#please-close

[2019-05-15 22:55] jigarshah04 opened #31325 "How do we add new users to review our Marketplace solution templates?"
We'd provided an initial list, but now have different admins/publishing team now. How do they get added for reviewing Marketplace solution template feedback?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6bba664-abe2-aa86-8fc8-bea3853f3363
* Version Independent ID: f456ddc1-b05b-6552-2ee1-456b0cd87084
* Content: [Han

[2019-05-15 22:58] KeiroKamioka0000 commented on #31323
@mrbullwinkle
I don't see error about the content.
I was confused from the date appears the top represent the last edit made for this document.

Thanks for the answer.

[2019-05-15 22:58] #31323 closed

[2019-05-15 23:02] normesta commented on #30940
Thank you for reporting this issue. I've addressed the discrepancy in the doc. This change should appear live in the next day or so. Thank you again!

[2019-05-15 23:02] normesta commented on #30940
#please-close

[2019-05-15 23:08] himanshusinha-msft commented on #30976
Thanks @bertrandpons , I am closing this issue as this is not related to the document , the steps in the document does seem to work fine .

We will discuss on the below MSDN thread .

https://social.msdn.microsoft.com/Forums/en-US/049ac40e-c28a-41f2-99e2-7ef0d7d8c3db/issue-with-permissions-while-deploying-ir-with-vnet-integration?forum=AzureDataFactory

[2019-05-15 23:08] #30976 closed

[2019-05-15 23:13] MicahMcKittrick-MSFT commented on #31321
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-15 23:14] mike-urnun-msft commented on #31319
Hi @juanren Thank you for your feedback! We will review and update as appropriate.

[2019-05-15 23:14] aszalacinski opened #31327 "Page double reload"
Does the acquireTokenSilent do a redirect? When I use the loginRedirect command it works as expected. However when it comes back to my redirect page where I handle the handleRedirectCallback the page is loading twice. The first time there is no data but when I call the acquireTokenSilent the page loads again and my token appears.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2019-05-15 23:26] KranthiPakala-MSFT commented on #31308
@bellowman   Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will get back to you when we have more information.

[2019-05-15 23:29] KranthiPakala-MSFT commented on #31324
@terrymandin Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate.

[2019-05-15 23:29] rysweet opened #31330 "add instructions for tearing down the resources created in the quickstart for azure-functions/functions-create-first-function-python"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a509bdc-f8b8-8488-7ab4-2c03cae6bfb5
* Version Independent ID: 3174a893-394c-c622-6c96-0b89955edfb5
* Content: [Create an HTTP triggered function in Azure](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python)

[2019-05-15 23:33] rysweet commented on #31330
for instance:
--
To stop hosting the function:

- Navigate to https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.Web%2Fsites/kind/functionapp
- Click on the "..." at the far end of the listing for <app name>
- Select "Delete"
- In the resulting screen, confirm the deletion by typing the name of your functionapp

[2019-05-15 23:41] v-miclar commented on #31325
#sign-off
You have to resubmit the offer/SKU to change anything in it.

[2019-05-15 23:42] sajeetharan opened #31331 "Doc on Azure Cosmos DB Core (SQL) API resource via ARM template does not have information about UDF,Stored procedures etc"
There is no information on the deployment of User Defined Functions, Stored Procedures via ARM template in the provided doc. Kindly add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cecb9c8e-133d-065b-314f-ff173f74a3d6
* Version Independent ID: 0d9926b1-569f-d4af-ba21-609393e6d7fc
* Content: [Azure Resource Manage

[2019-05-15 23:48] dsindona commented on #30683
@johnthcall Thank you for pointing this out, we have updated the live page.

[2019-05-15 23:49] dsindona commented on #30683
#please-close

[2019-05-15 23:50] MSSedusch commented on #31305
we do have a guide that describes how to use Azure NetApp Files instead of a self hosted NFS server. Is that what you were looking for? https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse-netapp-files

[2019-05-15 23:50] dsindona commented on #30686
@johnthcall thanks for pointing this out. We have added a table entry.

[2019-05-15 23:51] dsindona commented on #30686
#please-close

[2019-05-15 23:54] MicahMcKittrick-MSFT commented on #31331
@sajeetharan please provide us with the link to the doc you are referring to so we can better assist.

[2019-05-15 23:55] sajeetharan commented on #31331
@MicahMcKittrick-MSFT here is the link https://docs.microsoft.com/en-us/azure/cosmos-db/manage-sql-with-resource-manager

[2019-05-15 23:57] Mike-Ubezzi-MSFT commented on #31309
@cowinr Thank you very much for the detailed feedback. I have assigned this to the content owner to evaluate and update as appropriate.

[2019-05-15 23:57] yuemlu commented on #31162
We identified a bug that is failing feature enablement and disablement on existing storage account. The issue impacts both V1 and V2 accounts. For now, the workaround is to enable the feature at account creation. We expect to address the issue in the coming weeks. Sorry for the inconvenience.

[2019-05-16 00:18] valnav commented on #29235
@ckarras - There are a couple of samples where we use administrator accounts that you can take a look at.
1) https://github.com/Azure-Samples/active-directory-b2c-graph-trustframework-policy
2) https://github.com/Azure-Samples/ActiveDirectory-B2C-MSGraph-PolicyAndKeysets

Re: permissions and Role: The role in this case must be a global admin at the moment. However, the permissions are controlled b

[2019-05-16 00:23] MicahMcKittrick-MSFT commented on #31331
Thanks! I assigned it to the author to review.

[2019-05-16 00:30] kobulloc-MSFT commented on #30986
@breyed [Availability](https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-web-app-availability) and [Metric alerts](https://docs.microsoft.com/en-us/azure/azure-monitor/app/alerts) would be useful in the scenario that you are describing.

As far as the documentation issues are concerned, I'm going to assign this to the document author so they can update the documentation accordingly.

[2019-05-16 00:41] ToruMakabe commented on #31081
@iainfoulds Thanks!

[2019-05-16 00:41] #31081 closed

[2019-05-16 00:42] zhangjianxing opened #31332 "Cannot read url image correctly"
this api cannot open url:
https://media.licdn.com/dms/image/C4D03AQGM9JdmFe3xsA/profile-displayphoto-shrink_200_200/0?e=1558569600&v=beta&t=kwzaJJyCmPGVv1ppwsieuC377Gnz0xytv02TRxxgn4g

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c91f1cd9-53f7-dd1e-d4af-5beed02d9119
* Version Independent ID: e8ecaadf-cb14-e6e4-af3a-ac

[2019-05-16 00:47] russ-msft commented on #31226
thanks

From: Mike Ubezzi <notifications@github.com>
Sent: Tuesday, May 14, 2019 1:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Russ Christensen <russc@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Please update the connect to SQL DB example (#31226)

@russ-msft<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%

[2019-05-16 01:06] Neenisharma opened #31333 "not clear about enable password sync option on the sync rule editor"
I have a question regarding this statement "If a user is in scope for this sync rule, the password is synchronized from on-premises to cloud (assuming you have enabled the password sync feature)."

If I have password synchronization turned off in azure ad connect wizard but the sync rule "in from AD- User account enabled" has "enable password sync enabled", would password be synchronized or would

[2019-05-16 01:18] rrperkin commented on #31110
I followed the new directions and got to "yes" without errors. Thank you!

[2019-05-16 01:45] b-juche commented on #28882
See explanation provided by @lichunli-ms above.

#please-close this issue.

[2019-05-16 02:01] Mike-Ubezzi-MSFT commented on #28882
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-16 02:01] #28882 closed

[2019-05-16 02:38] marcelotpcosta opened #31334 "IIS Support"
Seems that "User Portal" installation is not supported by IIS 10, but this documentation says "IIS 7.0 or greater...". I'm having problem to approve authentication on App and the only thing that I saw is a message on logs "unsupported IIS version (10) detected. Could not obtain Enable32BitsAppOnWin64 flag from IIS".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-05-16 03:07] ToMakeSense commented on #28205
@dirkesquire I think the `local.settings.json` should be the same. please find the references here: [Work with Azure Functions Core Tools#Local settings file](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local#local-settings-file)

[2019-05-16 03:11] SadiqhAhmed-MSFT commented on #31293
@dlduncan Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:12] SadiqhAhmed-MSFT commented on #31302
@shampton-myabt Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 03:19] femsulu commented on #30852
@johncrim , discussed this internally with the feature team and they would like to connect with you via email to better understand your recommendation. Please send mail to AzCommunity@microsoft.com include the link to this GitHub thread for context and I will connect you with the feature lead/owner.

Looking fwd to hearing from you.

[2019-05-16 03:21] SadiqhAhmed-MSFT commented on #31315
@rupeshprasad Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 03:22] SadiqhAhmed-MSFT commented on #31314
@markarnolditpro Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 03:23] SadiqhAhmed-MSFT commented on #31318
@markti Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:33] SadiqhAhmed-MSFT commented on #31322
@aszalacinski Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:34] jishnudantu commented on #29053
Hi, I am facing the same issue were you able to resolve this?

[2019-05-16 03:34] kazshi commented on #31086
@jakaruna-MSFT To be honest, I didn't have any specific scenario, but that's might be one of scenarios or data transfer might be from/to on-premise environment.
@raj-ganapathy-msft Thanks for your comment.
@cynthn @MicahMcKittrick-MSFT I understand data transfer charge applies to 'inter-Availability Zone VM-to-VM only' from the related documents and the comments.
Thank you, all.

[2019-05-16 03:34] #31086 closed

[2019-05-16 03:36] SadiqhAhmed-MSFT commented on #31327
@aszalacinski Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:37] SadiqhAhmed-MSFT commented on #31330
@rysweet Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:38] SadiqhAhmed-MSFT commented on #31332
@zhangjianxing Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:39] SadiqhAhmed-MSFT commented on #31333
@Neenisharma Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 03:40] SadiqhAhmed-MSFT commented on #31334
@marcelotpcosta Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 04:02] michaeldaw commented on #31046
Thanks everyone.

[2019-05-16 04:04] femsulu commented on #31294
Thanks @MSEvanhi,
@jeffpatton1971 please dont hesitate to reply if you need more information outside of the above. Closing the issue for now but let us know and  we will gladly re-open

[2019-05-16 04:04] #31294 closed

[2019-05-16 04:14] ManojReddy-MSFT commented on #31315
@rupeshprasad For consumer accounts, the original identity provider is different and hence you will have 2 access tokens. One from the original IDP (FB, Twitter etc) and one from Azure AD. The article explains how you can include the token received from the original IDP as a claim in the access token issued by Azure AD.

For local accounts, there is only one token and it is issued by Azure AD. Can

[2019-05-16 04:19] tcgarvin opened #31337 "What is the file format for pronunciations?"
I gather from the documentation that the pronunciation file contains information mapping the spoken form to the recognized/display form, and that one pronunciation should be given per line, but it is unclear how to link a spoken form to a display form.

Is this tab-delimited, as the human-labeled transcript data is?  It would be helpful if the examples (i triple e  --&gt; IEEE) were available in t

[2019-05-16 04:31] femsulu commented on #31067
@rayne-wiselman  - FYI

[2019-05-16 04:37] badcop666 opened #31338 "Keyvault Secret Version"
Is this out of preview? Can we refer to a secret without the version identifier? this is a great feature but unfortunately is coupled to secret versioning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7feaa3d0-7233-a3cb-cb9b-a9a55b1f0d7a
* Version Independent ID: f41f9d51-52f8-1f45-1043-1344a3b74458
* Content: [Key V

[2019-05-16 04:44] ram-msft commented on #31337
@tcgarvin Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-05-16 04:49] SnehaAgrawal-MSFT commented on #31338
@badcop666 Thanks for the question! We are investigating and will update you shortly.

[2019-05-16 05:01] rupeshprasad commented on #31315
Thanks for the response, when using local account user authenticates him/her self we send claims. I would like one of the claim to be access token. Similar how it is explained in the document.

[2019-05-16 05:11] vrishni commented on #31187
Same issue- I am also seeing there is no model train happening on the feedback loop and there is no change in the probabilities.

[2019-05-16 05:18] BryanTrach-MSFT commented on #30992
@jivagopecharki  Yes, you should be able to use the JSON file template that you shared and then in the ARM client run:

`armclient login`

`armclient put /subscriptions/ebcidic-asci-anna-nath-rak1111111/resourceGroups/myapp-rg/providers/Microsoft.Web/sites/myhcdemoapp/hybridConnectionNamespaces/demo-relay/relays/relay-demo-hc?api-version=2016-08-01 @hctest.json`

Are you encountering an issue with

[2019-05-16 05:28] SadiqhAhmed-MSFT commented on #30686
@dsindona Thanks for helping here.

[2019-05-16 05:28] #30686 closed

[2019-05-16 05:29] SadiqhAhmed-MSFT commented on #30683
@dsindona Appreciate your time and help.

[2019-05-16 05:29] #30683 closed

[2019-05-16 05:33] KetanChawda-MSFT commented on #31219
@mganeshphani Checking in to see if the above post helped answering your question.

[2019-05-16 05:34] KetanChawda-MSFT commented on #31259
@slugerrist Checking in to see if the above post helped answering your question.

[2019-05-16 05:35] SumanthMarigowda-MSFT commented on #31304
@DOliana We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-16 05:35] #31304 closed

[2019-05-16 05:36] SumanthMarigowda-MSFT commented on #30924
@stdistef We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-16 05:36] #30924 closed

[2019-05-16 05:37] SumanthMarigowda-MSFT commented on #31181
@marinnedea Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-16 05:48] zhouwangzw commented on #31276
The URL you are referring is the Bing Speech API which has been deprecated. Please use the [new Speech Service ](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/), and find more information about migration [here](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-migrate-from-bing-speech).

Thanks,
Zhou

[2019-05-16 05:57] ielcoro commented on #24663
I don't know why is this issue closed, I´m still it experiencing it, and using $HOME is the only workaround working.

[2019-05-16 05:58] SumanthMarigowda-MSFT commented on #30940
@nicholaslgoodman  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-05-16 05:58] #30940 closed

[2019-05-16 06:02] ManojReddy-MSFT commented on #31315
@rupeshprasad The claims are sent in the token itself. You need to parse the token to get the claims.

So you want the same token as a claim inside the token again ? Your application already has the token , I am not sure why would you need this again in a claim ?

This is useful only for consumer accounts because they have two tokens.

[2019-05-16 06:13] ManojReddy-MSFT commented on #31072
@ericwj I have passed the feedback to the author, but it would help if you can create another issue under the CLI doc as well.

I will go ahead and close this issue for now.

[2019-05-16 06:13] #31072 closed

[2019-05-16 06:20] KetanChawda-MSFT commented on #31289
@dalemyers You can configure `RunOnStartup` attribute to `true` when you need to invoke function when the runtime starts.

[Reference document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer#attributes)

Also you can debug it the way you mentioned using postman client passing a body as `{ }`

[code]

[2019-05-16 06:26] cowinr opened #31343 "Zone redundancy is not supported for S0"
The script tries to create a zone-redundant DB in Standard tier. This is not supported and results in `Provisioning of zone redundant database/pool is not supported for your current request.`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cc6f34d-ba83-563c-b4a1-82bcd9698472
* Version Independent ID: dbb4ea03-e3cc-ae79

[2019-05-16 06:29] jakaruna-MSFT commented on #31155
the sample script which i used
[code]

[2019-05-16 06:39] johnthcall commented on #30683
@dsindona Why was a separate PR created and checked in and the referenced PR #30688 not taken instead?

[2019-05-16 06:44] yangsiyu007 opened #31344 "Clarification on prefix that matches the root directory but not the file name"
In the section on [download blobs with specified prefix](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-linux?toc=%2fazure%2fstorage%2ffiles%2ftoc.json#download-blobs-with-specified-prefix), the example given doesn't show whether a file whose entire path matches the pattern will be uploaded/downloaded. For example, if this were the list of files and "a" is the `--include`

[2019-05-16 06:47] dtPaTh commented on #30739
Thanks for confirmation!

[2019-05-16 06:50] ManojReddy-MSFT commented on #31314
@markarnolditpro    The settings will not be merged and only the settings from RP Policy file will take effect if you have elements of the same name in your policy files.

[2019-05-16 06:50] umeshbarapatre opened #31345 "Contribute a new article for OAuth flows in Azure"
I would like to contribute a new article under the OAuth flow in Azure. This one is not yet documented and i have implemented this for various requirements. As of now Azure documentation supports below OAuth flows

- Open ID,Implicit Grant, Authorization Code flow, On-behalf-of and client credentials.

There are requirements lot of times to use something called SAML Bearer assertion flow, speciall

[2019-05-16 06:51] carlfm01 commented on #29190
@jakaruna-MSFT Any update?

[2019-05-16 06:53] CHEEKATLAPRADEEP-MSFT commented on #31308
@bellowman Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience

[2019-05-16 06:53] DixitArora-MSFT commented on #31319
Yes . Follow this for [doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-java-maven) for creating your Java function.

[2019-05-16 06:54] SumanthMarigowda-MSFT commented on #30349
@michaelfjohn78 No, Azure Threat Protection is not applicable to Azure Disk Encryption.

If you wish you may leave your feedback [here ](https://feedback.azure.com/forums/34192--general-feedback). All the feedback you share in these forums
will be monitored and reviewed by the Microsoft engineering teams responsible for building Azure.

We will now proceed to close this thread. If there are furthe

[2019-05-16 06:54] #30349 closed

[2019-05-16 07:02] dcbrown16 opened #31346 "Policy expressions in keys"
We have the following two statements in the description of "set usage quota by key".
 The key can have an arbitrary string value and is typically provided using a policy expression.
 Policy expressions cannot be used in any of the policy attributes for this policy.
Am I missing something, or are these contradictory?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2019-05-16 07:15] Norinvstor opened #31347 "Microsoft Authenticator app"
Hi,

I got a new android phone. How can I get all the accounts connected to the app on the old phone, transferred or connected on the new phone?

If I have to connect every account again it will take a very long time.

Kind regards
Kristian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a46313f6-ce23-85a7-19c3-21152a3c

[2019-05-16 07:18] YASWANTHM-MSFT commented on #31344
@yangsiyu007, Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate

[2019-05-16 07:21] AshokPeddakotla-MSFT commented on #30614
@martinKindall Did you get a chance to see the above response? Do let us know if you are still facing the issue.

[2019-05-16 07:21] Norinvstor opened #31348 "Backup and recover account credentials with the Microsoft Authenticator app - Android"
Hi,

How to do this on android?

I am going from Galaxy S8 to S9. I have many accounts connected to my app which I have to manually add on my new phone. Is there any way to make this process easier?

Kind  regards
Kristian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b52a210-1be6-4e5f-d95c-8ea7b87919ca
* Version Ind

[2019-05-16 07:24] uusimaeki commented on #30336
Is there any progress on this?

[2019-05-16 07:26] AshokPeddakotla-MSFT commented on #27022
@vdohare Documentation has been updated with the proposed changes. We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-05-16 07:26] #27022 closed

[2019-05-16 07:39] shashishailaj commented on #31348
@Norinvstor Thank you for your feedback . We will investigate and update this thread further .

[2019-05-16 07:43] bertrandpons commented on #31280
@MartinJaffer-MSFT  Thank you for your investigation. I hope this bug will be fixed soon!

[2019-05-16 08:01] Dmitresky opened #31350 "Hierarchy of metadata"
Let's say user should get an answer from his/her location. Location can be a city, region, country and global for all locations. User asks something. QnAMaker should return the answer by city. If the answer for the city is absent, need to check an answer by region. If the answer for the region is absent, need to check an answer by country. If the answer for the country is absent, need to check the

[2019-05-16 08:29] Jayesh040 opened #31351 "Is Storage Sync Services movable across the subscription to CSP subscription ?"
I need to check if Storage Sync Services are movable to CSP offering subscription in azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76c1c185-685f-27e0-e634-844b510b1834
* Version Independent ID: 09375778-5354-ab44-c5c6-94c2aebe34bc
* Content: [Move Azure resources to new subscription or resource group](https://d

[2019-05-16 08:35] jssanta96 opened #31352 "availability ip datacenter Azure database"
Hello.

I want to know what is the risk that the IP  the datacenters (primary or secondary)  change in the future, in what term and under what circumstances it would happen.

**Docs:**
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-connectivity-architecture#azure-sql-database-gateway-ip-addresses

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-16 08:43] ggailey777 commented on #31330
@rysweet the reason that we don't have a clean-up section in this article is because we want you to continue on to the next article, which extends the function by adding an output binding. The next article does have the expected clean-up section. Were you aware of this subsequent article?

[2019-05-16 08:48] CHEEKATLAPRADEEP-MSFT commented on #31324
@terrymandin I'm able to follow the document and able to connect to VM using putty without any issue.

Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Azure Community Support](https://azure.microsoft.com/en-us/support/community/).
Once you post your issue on forums, it will have visibility across the community which is a better suited

[2019-05-16 09:14] DixitArora-MSFT commented on #31295
@mganeshphani This is the known issue . Product team is aware of this . You can track this https://github.com/Azure/Azure-Functions/wiki/Premium-plan-known-issues#known-issues-and-limitations

[2019-05-16 09:18] AleksCallebat opened #31354 "Error 400 when deploying to STANDARD_PB6s"
# Error 400 when deploying to PBS

Hello All,

I have an issue when trying to deploy to FPGA while trying to follow the [documentation ](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-deploy-fpga-web-service).
It seems that azureml client does not list STANDARD_PB6s as a possible VM type.

I am working on azure notebooks, tried to pip install --upgrade both azureml-sdk and

[2019-05-16 09:26] SadiqhAhmed-MSFT commented on #31350
@Dmitresky Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 09:27] #21155 closed

[2019-05-16 09:29] SadiqhAhmed-MSFT commented on #31346
@dcbrown16 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 09:30] AugerC commented on #31095
Oh, i see. It's ok then, thanks a lot.

To future people, what @ccompy mentions is correct, located here:
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/sites

An example:
[code]

[2019-05-16 09:30] #31095 closed

[2019-05-16 09:30] toenie23 opened #31355 "How do we name the output file?"
I selected the "output to a single file" and gave it a file name in the sink, but when my job completes I get "part-00000-tid-1551909772045551232-225c89cf-b44a-4103-9cad-5f36b4bb55e1-49-c000.csv" instead of the file name I gave it. Any advice?

[2019-05-16 09:32] DixitArora-MSFT commented on #31191
@alfanse Follow this [SO](https://stackoverflow.com/questions/38993609/azure-service-bus-delayed-scheduled-message-on-topic-is-lost-when-used-with-du) thread.

[2019-05-16 09:39] lightupdifire opened #31356 "Supported Windows operating systems"
Hello,
Not supported for Windows 10 1809 Azure AD joined?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b71519d-1b94-c489-ce51-7210eb05b109
* Version Independent ID: fb6adce7-aa81-28e9-ad54-8c90dd86afa2
* Content: [Collect log data with Azure Log Analytics agent](https://docs.microsoft.com/en-us/azure/azure-monitor/p

[2019-05-16 09:46] ATGardner opened #31357 "The code sample for Dataset.list is wrong"
The parameter for the list call should be the workspace, and not just the workspace_name.
https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.dataset.dataset?view=azure-ml-py#list-workspace-

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e258128c-b871-72b0-34e2-e5157977aa17
* Version Independent ID: 0

[2019-05-16 09:47] KetanChawda-MSFT commented on #31089
@StoyanStAtanasov Functions and Logic Apps are Azure services that enable server less workloads. Azure Functions is a server-less compute service, whereas Azure Logic Apps provides server-less workflows. You can mix and match services when you build an orchestration, calling functions from logic apps and calling logic apps from functions. Choose how to build each orchestration based on the service

[2019-05-16 09:49] blueelvis opened #31358 "Is it possible to use an Azure Devops Instance in a separate organization?"
From what I have seen, it looks like we cannot use other credentials to authenticate with a separate Azure Devops Instance for Git integration in a separate tenant. Is this true or am I missing something?

-Pranav

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9528484b-14b8-729a-9df4-d203db71885a
* Version Independent

[2019-05-16 09:51] miguelangelopereira opened #31359 "CLI version 2.0.65?"
The latest version available is 2.0.64.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a657a14f-df8a-f597-b5ef-35b6c806920f
* Version Independent ID: 69e97868-4a82-88b3-9b33-b6d272188035
* Content: [Set up your Azure Red Hat OpenShift development environment](https://docs.microsoft.com/en-us/azure/openshift/howto-setup

[2019-05-16 09:53] miguelangelopereira opened #31360 "No registered resource provider found for location 'westeurope' and API version '2019-04-30'"
Followed all the steps for registering providers, but still can't create cluster:

az openshift create --resource-group $CLUSTER_NAME --name $CLUSTER_NAME -l $LOCATION --aad-client-app-id $APPID --aad-client-app-secret $SECRET --aad-tenant-id $TENANT --customer-admin-group-id $GROUPID --vnet-peer $VNET_ID

No registered resource provider found for location 'westeurope' and API version '2019-04-30'

[2019-05-16 09:57] AlexGalvarez opened #31361 "Error connecting Blob Storage on the Edge in Azure Storage Explorer"
I started creating a Blob Storage on the Edge from the beginning and I know the procedure and the concept following the article "articles/iot-edge/how-to-store-data-blob"

However, before the creation of these modules I am trying to connect Azure Storage Explorer to the Local Storage Account but I get this error:

**"Failed to create a blob container.
Details: getaddrinfo ENOTFOUND azureblobstorag

[2019-05-16 09:59] bhjolly opened #31362 "Why are there no open issues when all the closed ones are about the same problem (demo doesn't work) and none of them are solved?"
If you're not going to provide us with enough information to do the REST stuff without having to download a library, at least make sure the libraries work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9565ceb-e636-e815-f7cf-ff9523fabc2f
* Version Independent ID: 7c6b3210-d878-0347-27af-199c2c00daa9
* Content: [Send

[2019-05-16 10:03] SadiqhAhmed-MSFT commented on #31351
@Jayesh040 Thanks for the comment! We will check on this ask and get back to you soon.

[2019-05-16 10:04] ackava opened #31363 "Export to BACPAC"
There is no "Export" button in Portal, it is so scary to migrate because if for any reason database is dropped from the Azure, we loose all the data, there is no statement about how to restore if logical server was deleted.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80e91c6d-6b32-5f29-a604-9a7857ed920c
* Version In

[2019-05-16 10:10] 0acff4be45 commented on #31186
I'm very happy with the inclusion of more roles, and welcome even more.
Although it would have been nice to have been notified.

[2019-05-16 10:11] SadiqhAhmed-MSFT commented on #31354
@AleksCallebat Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 10:14] SadiqhAhmed-MSFT commented on #31352
@jssanta96 Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 10:16] SadiqhAhmed-MSFT commented on #31356
@lightupdifire Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 10:17] CHEEKATLAPRADEEP-MSFT commented on #31355
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could

[2019-05-16 10:17] SadiqhAhmed-MSFT commented on #31362
@bhjolly Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 10:20] SadiqhAhmed-MSFT commented on #31357
@ATGardner Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 10:21] SadiqhAhmed-MSFT commented on #31347
@Norinvstor Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 10:23] SadiqhAhmed-MSFT commented on #31363
@ackava Thanks for the question! We will check on this issue and get back to you soon.

[2019-05-16 10:24] znatan commented on #31145
confusing indeed. So, on Silver SF cluster  - I am going to remove POA and enable VMSS auto patching? Is that what MSFT suggest now? Is Service Fabric still going to send cancelation token upstream to the services  - this doesn't change?

[2019-05-16 10:25] SadiqhAhmed-MSFT commented on #31361
@AlexGalvarez Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 10:26] MohitDhingra-MSFT commented on #31327
@aszalacinski We are engaging the content author to review this with engineering.

@navyasric Could you please take a look at this issue and provide further clarification?

[2019-05-16 10:27] AshokPeddakotla-MSFT commented on #31196
@nicklasfrahm I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-16 10:28] SubhashVasarapu-MSFT commented on #30407
@vhorne , Could you please make the changes to the doc accordingly? Thanks in advance.

[2019-05-16 10:40] ManojReddy-MSFT commented on #31345
@umeshbarapatre Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-16 10:40] SadiqhAhmed-MSFT commented on #31359
@miguelangelopereira Thanks for the comment! We've share this feedback with the content author for further review and update as appropriate.

[2019-05-16 10:41] CHEEKATLAPRADEEP-MSFT commented on #31359
@miguelangelopereira  Thanks for bringing this to our attention. I have assigned the issue to the content author to review further and update the document as appropriate.

@TylerMSFT The current version of the CLI is **2.0.64**, but in the document shows as **2.0.65** or higher. Could you please review further and update the document as appropriate.

Statement in [Document](https://docs.microsoft.

[2019-05-16 10:44] SadiqhAhmed-MSFT commented on #31360
@miguelangelopereira Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 10:47] rboucher commented on #30920
PR signed off on. Results now published.

[2019-05-16 10:48] rboucher commented on #30920
Note that the actual default log alert limit is usually higher than 512, but that's our published one at this point.

[2019-05-16 10:49] MGoedtel commented on #30475
@shashishailaj - I've updated the article and it was released last week.  #please-close.

[2019-05-16 10:51] CHEEKATLAPRADEEP-MSFT commented on #31358
@blueelvis If your organization was created with a Microsoft account, you can connect it to your Azure Active Directory (Azure AD). Then, you can sign in to Azure DevOps with the same username and password that you use with the Microsoft services.

If you want to connect your organization to a different Azure Active Directory, disconnect from the original directory BEFORE you delete that directory

[2019-05-16 10:51] PramodValavala-MSFT commented on #31096
@ToMakeSense I tried doing this and it worked as expected. Do note that slots of functions is currently in preview and may have inconsistencies.

Could you confirm if you are still seeing this issue?

[2019-05-16 10:55] sirkubax commented on #14182
Is there anyone working on that?

Also - in general it is poorly written client...

[2019-05-16 10:57] SnehaAgrawal-MSFT commented on #31338
@badcop666 Thanks again for the feedback! Key Vault references is currently in preview.
The best way to share your feedback would be to create a [User Voice feedback](https://feedback.azure.com/forums/169385-web-apps) item and upvote it. The product group monitors this site for feedback. This is the best way to ensure you are heard and you may receive a response depending on how much they informat

[2019-05-16 10:57] #31338 closed

[2019-05-16 11:07] jonjander commented on #26874
Any updates?

[2019-05-16 11:08] lightupdifire commented on #31097
@MGoedtel, I could deploy by extracting MSI.
So maybe you can add a note to this article, that it is possible to install MSI package via Intune,
I did extract "MMASetup-AMD64" to get "MOMAgent.msi",
Then used MSI line like:
"MOMAgent.msi /q /norestart NOAPM=1 ADD_OPINSIGHTS_WORKSPACE=1 OPINSIGHTS_WORKSPACE_AZURE_CLOUD_TYPE=0 OPINSIGHTS_WORKSPACE_ID=<WSID> OPINSIGHTS_WORKSPACE_KEY=<WSK> AcceptEndUs

[2019-05-16 11:10] SadiqhAhmed-MSFT commented on #31092
@MGoedtel FYI.

[2019-05-16 11:16] avinashchadalavada commented on #31161
Thanks @arduppal and @AshokPeddakotla-MSFT

thanks for the link @arduppal

i have to build like  a custom module which deletes the file when the auto-tearing is completed.

The videos file which is auto-tiered sends the data directly to the blob (which the connection string is provided) or it goes through the iotHub and then then to the blob ?, if the module sends the file to the blob how does the

[2019-05-16 11:18] #25401 closed

[2019-05-16 11:19] #27684 closed

[2019-05-16 11:19] #28095 closed

[2019-05-16 11:20] #28398 closed

[2019-05-16 11:21] #29533 closed

[2019-05-16 11:21] #29664 closed

[2019-05-16 11:21] MGoedtel commented on #31097
@lightupdifire - Deploying the agent using Intune wasn't a use-case/scenario that we planned to support or see customer interest in.  Reporting CSP isn't a solution that integrates wtih Azure Monitor from what I can tell by reading the documentation.  Because this isn't a real issue with the documentation and you are trying to implement something custom, based on the basic information you provided

[2019-05-16 11:21] #29762 closed

[2019-05-16 11:21] #30848 closed

[2019-05-16 11:22] #30898 closed

[2019-05-16 11:22] #31076 closed

[2019-05-16 11:22] #31268 closed

[2019-05-16 11:22] #31297 closed

[2019-05-16 11:22] EmmaZhu commented on #14182
Hi All, we are considering to release it on Ubuntu 18.04.   Will get back to you soon.

[2019-05-16 11:24] bwren commented on #30434
@sshorkey The only way to retrieve data from Logs is from a log query, but a log query can be as simple as a single table like Event.  Export results to CSV or Excel.  I'm not sure what the use case would be dump the entire set of collected logs.

[2019-05-16 11:25] UKayo opened #31364 "Password Length policy is not updated in Japanese version"
Please update the below section indicating the max is 256 characters in the Japanese translation version.

&gt;A minimum of 8 characters and a maximum of 256 characters.

Japanese version:
https://docs.microsoft.com/ja-jp/azure/active-directory/authentication/concept-sspr-policy#userprincipalname-policies-that-apply-to-all-user-accounts

---
#### Document Details

⚠ *Do not edit this section. It i

[2019-05-16 11:25] uwazie opened #31365 "Fog with Azure IoT Edge"
I want to build a Fog-based Intrusion Detection System to transfer some advanced intrusion detection from the Cloud to the Fog node. Can I incorporate it in the Azure IoT Edge?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7b6e2b9-7808-6c9b-101e-e6c49c14e175
* Version Independent ID: 92c38af6-f9

[2019-05-16 11:27] SadiqhAhmed-MSFT commented on #31364
@UKayo Thanks for the feedback! We will check on this and update as appropriate.

[2019-05-16 11:28] SnehaAgrawal-MSFT commented on #31262
@paululvinius Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-05-16 11:29] #31097 closed

[2019-05-16 11:29] lightupdifire commented on #31097
@MGoedtel,

This case is related to another case:
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/2376#issuecomment-491980079

In short:

1. Microsoft offer WIP
2. WIP procedure says that to analyze WIP logs we should use Reporting CSP
3. Reporting CSP not working
4. At this step WIP logs analyze not possible, this means that solution is not workable
5. Collecting logs from device is po

[2019-05-16 11:40] jpdmostwanted commented on #29567
Hey, are there any updates regarding this? Or should I stop using this feature?

[2019-05-16 11:46] jakaruna-MSFT commented on #31260
I tried to deploy a VM using the below yaml
[code]
When i tried with the above yaml, I didnt get any error related to marketplace.
Can you give me the region which you are deploying to?
I got a different error though.

[2019-05-16 12:01] lightupdifire commented on #31097
@MGoedtel,

My test "Windows 10 1809" device worked without TLS 1.2 registry applied, so possibly it is mandatory for have secure transfer and not for making tool to work..

[2019-05-16 12:12] xNiklasJern commented on #30058
Hi @SaurabhSharma-MSFT
Any update to this?

[2019-05-16 12:19] tfitzmac commented on #31351
@Jayesh040 - yes, it can be moved. I have submitted an update to add that service. Also, you can find details about which resource types can be moved at [https://docs.microsoft.com/en-us/azure/azure-resource-manager/move-support-resources#microsoftstoragesync](https://docs.microsoft.com/en-us/azure/azure-resource-manager/move-support-resources#microsoftstoragesync).

[2019-05-16 12:26] lightupdifire commented on #31097
@mypil,

If Microsoft Monitoring Agent is compatible with Windows 10 desktop, then there is no need to deploy "Device Health" solution to Azure tenant in order to work with WIP App Data learning:
https://docs.microsoft.com/en-us/windows/security/information-protection/windows-information-protection/wip-learning

Because using Microsoft Monitoring Agent I can read data from device AAD joined or ADD

[2019-05-16 12:28] MGoedtel commented on #31092
@amirsc3 - I'm reviewing this now for consideration.  Thanks.

[2019-05-16 12:31] dnyaneshlb commented on #31185
@proflanky Thanks for the detailed explanation. It helps. What you are saying is correct indeed

I got a response from MS support on this. All instance does share a common Local Cache and periodically it is synced back log files and data to remote content share (aka UNC I suppose).

What I have observed is, this reverse sync (local disk to remote storage) does happens but it is not clear after how

[2019-05-16 12:33] #31351 closed

[2019-05-16 12:46] MGoedtel commented on #31097
@lightupdifire - I'm not suggesting we are rejecting deploying the MMA agent to Windows 10 system, whether it is virtual/physical.  I was specifically calling out the scenario of deploying it via Intune is something we haven't tested/documented and commonly hear from customers that want to use as a deployment method for the agent.  That being said, I'm happy to create a work item for this and then

[2019-05-16 12:50] MNF opened #31366 "Provide links to API documentation for mentioned classesfunctions"
It will be good if mentioned in the article classes /method (e.g  GetMessage or ApproximateMessageCount) will be links to corresponding articles in Api documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Cont

[2019-05-16 12:50] bt102 opened #31367 "Licensing clarification"
1. The licensing link https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-password-ban-bad#license-requirements, saying that license is required for "Users synchronized from on-premises Windows Server Active Directory" for Azure AD Premium P1 or P2.

2. @jay98014 stated that you need to have at least some users that are being synced under Azure AD Premium P1 or P2

We ha

[2019-05-16 12:51] JanBakker88 opened #31368 "AutoUpgrade?"
Hi, is version 1.3.21.0 going to be launched as auto-upgrade?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57f5478b-3132-21d0-a420-a1140db235de
* Version Independent ID: 266bbd16-2117-f680-6493-e183eb09fdbc
* Content: [Azure AD Connect: Version release history](https://docs.microsoft.com/en-us/azure/active-directory/

[2019-05-16 12:53] mrbullwinkle commented on #30920
@MicrosoftDocs/azure-cxp-triage #please-close

[2019-05-16 13:00] kartee87 opened #31369 "when using webapp it gives 401 and mobile client gives 403 at blob level"
when using URI type
web : it gives 401 error

https://stackoverflow.com/questions/51080514/body-must-contain-client-secret-or-client-assertion
when using type : public client or mobile
Microsoft.WindowsAzure.Storage.StorageException: 'The remote server returned an error: (403) Forbidden.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-05-16 13:01] lightupdifire commented on #31097
@MGoedtel,
Super! Then this MMA will help to fix 2x issues for WIP product:
1. WIP Log analyze
2. WIP App learning

[2019-05-16 13:06] krishnanmuraligv opened #31370 "An Internet-facing load-balancer with a Public IPv6 address"
Hi Team,

Could you please help on this, at present, I am receiving the traffic sent to the load balancer from IPV6.
I have opened the Port 8000 and trying to send the data using the IPV6 address.

We can assign an IPV6 address to a load balancer is that correct?
If so then we can send the traffic to that load balancer is that correct?
If we can send the traffic to the load balancer then same can

[2019-05-16 13:13] #30920 closed

[2019-05-16 13:13] lurodri opened #31371 "The az cli command to show the secret is wrong"
The appropriate command should be: az keyvault secret show --vault-name "<YourKeyVaultName>" -n "AppSecret"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc43d849-5b06-7185-0c9e-aaf240363aca
* Version Independent ID: 385f4dfe-326a-9e63-80ce-3c71903edf3c
* Content: [Quickstart: Set and retrieve a

[2019-05-16 13:27] lusocoding opened #31372 "Import function via Powershell Az Module or Rest API"
Is there any way to perform this steps using PowerShell or the Azure REST API, instead of the User Interface? Been trying to do this so I can integrate that import into an Azure DevOps Pipeline. Unfortunately I've yet not succeeded to configure this properly, either way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2019-05-16 13:27] ChiragMishra-MSFT commented on #31190
@syedhamjath I will now proceed to close this issue. However please feel free to still comment and tag me if you have any queries.

[2019-05-16 13:27] #31190 closed

[2019-05-16 13:31] zalenix commented on #27054
Any update?

[2019-05-16 13:31] zalenix commented on #26874
ping

[2019-05-16 13:32] droessmj commented on #25052
This functionality appears to be missing from both Az CLi and Az Powershell yet today. Is direct ARM API manipulation still the only supported route to interact with this feature?

[2019-05-16 13:38] romankiss commented on #22798
Hi Antonio & Reza,

Thanks for fixing this issue of the concurrency for active multiple modules within the device. It looks like this problem has been resolved.

Thanks again
Roman

[2019-05-16 13:39] #22798 closed

[2019-05-16 13:41] diberry commented on #31126
@colbytimmsl For multi-turn, you will need to add [code to your bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/qnamaker-prompting) to see the prompts.

[2019-05-16 13:41] jasonslater331 opened #31374 "I get a "NotFound' exception when trying to use my trial subscription."
I have been working to run this demo code above and no matter what I try I have been unable to get the code to work.  I've researched various articles that suggested different base endpoint URLs and I've tried every permutation I've found with no luck.  I was able to get the test console for the region on my trial subscription to work with my credential/subscription key.  Please let me know if I a

[2019-05-16 13:42] Rosewood99 opened #31375 "How to use setProperty or addProperty for child properties?"
I have a json object that I want to set the value of a child property, but the documentation doesn't show how to do it.

For example, say I have the following json in a variable called entity:
{
  "id": 1234,
  "name": "test",
  "metadata": {
    "version": 3
  }
}

If I do setProperty(variables('entity'), 'name', 'test2'), it updates the name correctly.
If I do setProperty(variables('entity'), 'm

[2019-05-16 13:43] DeclareHigh opened #31376 "Step 7 in Create an image definition is unneeded."
"7. Make sure Yes us selected for Enable and then select Review + create."
"us" should be "is".
There is no "Enable" selection on the "Add new image definition to shared image gallery" creation blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b276e2a1-6208-4caa-bcda-1f6d11aac207
* Version Independent ID: 82f92f2b-

[2019-05-16 13:49] KrishnaG-MSFT commented on #31270
@antgonmir AFAIK this is currently unsupported. The similar feedback shown [here](https://feedback.azure.com/forums/267889-log-analytics?query=color) and [here](https://feedback.azure.com/forums/267889-log-analytics/suggestions/10021779-make-it-more-meaningful-with-color-grids-and-pie-a) were shared directly with the responsible Azure feature team. I recommend navigating to the above link(s) and c

[2019-05-16 13:53] camdo2 opened #31377 "Anchor not placed"
Hi, I'm trying to run this tutorial and the previous one (sharing in Unity) and I reach the step to "tap a surface to place anchor" and nothing else happens, no anchor is placed. I would really appreciate some help making this work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5ab74c7-be94-69c4-04c9-312ed85213b7
* V

[2019-05-16 13:57] AdamWorkAccount commented on #31103
@Karishma-Tiwari-MSFT

Thanks for your help i ran the Powershell commands below but when trying to connect to the session desktop i am now getting this message:

Oops, we couldn't connect to "Session Desktop"
We couldn't connect to the gateway because of an error. If this keeps happening, ask your admin or tech support for help.

Have tried rebooting the VM but made no difference.

These are the c

[2019-05-16 14:04] mrbullwinkle commented on #31084
@staff0rd the template actually still exists you just need to change the runtime version to `~1` and restart the app. Instructions on changing the runtime can be found here: [https://docs.microsoft.com/azure/azure-functions/set-runtime-version](https://docs.microsoft.com/azure/azure-functions/set-runtime-version).

 One of our contributors beat me to creating a PR to correct this which is located

[2019-05-16 14:20] YutongTie-MSFT commented on #31374
@jasonslater331 Sorry for your experience. If you were able to run it but have error now, I would suggest you to check you API version and the NuGet version you are using:

Get the required NuGet packages. Right-click on your project in the Solution Explorer and select Manage NuGet Packages. Click the Browse tab and select Include prerelease; then find and install the following package:

Microsoft

[2019-05-16 14:20] romankiss opened #31378 "Receiving outstanding C2D messages when device is connected."
This issue is related to:
https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-mqtt-support#receiving-cloud-to-device-messages

Receiving outstanding messages (_CleanSession = 0_) sent to the disconnected device is fuzzy after when the device is connected again. Mostly one or two messages are not received by device, but their notification feedback status is _Success_.

It looks like, there is a

[2019-05-16 14:31] ggnabasik opened #31379 "not applicable to v10"
This is not the latest command line azcopy.  v10 is the latest and these instructions don't apply to v10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 010df970-ef2f-eeaf-ebd6-eb9f6542519e
* Version Independent ID: 0ab93f97-c3b8-dca9-f328-a28066c3122a
* Content: [Copy Blob storage data with AzCopy - Team Data Science

[2019-05-16 14:31] mrbullwinkle commented on #31323
@KeiroKamioka0000 thanks for bringing this up, I did end up incrementing the ms.date metadata to reduce confusion, and while I was looking at the file I noticed a change that had occurred since February of this year which had not been captured yet in the doc so it was a good excuse to bring that up-to-date. Thanks again for your vigilance and helping to improve our docs!

[2019-05-16 14:33] jonlanceley opened #31380 "How to enable stdoutLogEnabled=true when site is deployed with Run From Package"
As the wwwroot folder becomes read only what is the recommended way to set the stdoutLogEnabled=true property in web.config.

Need some guidance on how to debug Asp.Net Core startup issues in an Azure App Service after deployment using "Run From Package" via the Azure App Service Deploy task in Azure DevOps?

thanks
Jon
---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-05-16 14:40] rnsc commented on #14182
@EmmaZhu cool!
No ETA I presume?
Personally, I'm using Ansible to install azcopy and I prefer using packages rather than shell commands to install software for idempotency.

[2019-05-16 14:41] mlottner commented on #30115
@wickste Thanks for your feedback. While we had listed the regions in the [prereq article](https://docs.microsoft.com/azure/asc-for-iot/service-prerequisites#supported-service-regions), for additional clarity, I've added it here as well.
Thanks for contributing to our community!

[2019-05-16 14:41] mlottner commented on #30115
#please-close

[2019-05-16 14:45] jasonslater331 commented on #31374
@YutongTie-MSFT  Thanks so much for the response. I just tried back revision from 2.4 to 2.2 with the same outcome.  I have also tried the REST demo too at this point and I see the same outcome "NotFound".  Any other things I should try?

[2019-05-16 14:46] tcgarvin commented on #31337
I stumbled across [this site](https://mikebranstein.github.io/global-azure-bootcamp-2018-instructions/) today, which seems to indicate the following format:

`Display form <Tab>(\t) Spoken form <Newline>(\r\n)`

So "i triple e" --> IEEE would be represented in this format as:

`IEEE<Tab>i triple e`

Is this the correct format?  (If so, I'm not sure how I would figure that out from the page this bu

[2019-05-16 14:47] wickste commented on #30115
Thanks!

[2019-05-16 14:47] #30115 closed

[2019-05-16 14:49] jasonslater331 commented on #31374
@YutongTie-MSFT Nevermind I found the issue with each one it was different.  I was simply missing the s on the REST version.

[2019-05-16 14:49] #31374 closed

[2019-05-16 14:52] shashishailaj commented on #31239
@seantleonard Microsoft Graph API does not support querying B2C tenant yet . This is still under development and we do not have a timeline to provide at this point . You can use the azure [AD Graph API to query the B2C directory](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-devquickstarts-graph-dotnet). Please check the linked article. It talks about using a .Ne

[2019-05-16 14:52] #31239 closed

[2019-05-16 14:55] SumanthMarigowda-MSFT commented on #31366
@MNF Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-05-16 14:55] RyanHill-MSFT commented on #30992
Hi @jivagopecharki just wanted to follow up to see if you were encountering issues with using the JSON template proposed by @BryanTrach-MSFT

[2019-05-16 15:00] #30985 closed

[2019-05-16 15:05] ChristianMontoya commented on #31103
@AdamWorkAccount : Can you try running the troubleshooting steps here: https://docs.microsoft.com/azure/virtual-desktop/diagnostics-role-service ? Also, as described in the article, please run with the "-Detailed" parameter so that you can expand the Errors part of the object.

[2019-05-16 15:08] DCtheGeek commented on #31316
@mpchen Thanks for the question! Azure Policy logs events to the Azure Activity Log. The full schema of these logs is detailed here: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#policy. If you are just looking for evaluations on existing resources, see the **properties.isComplianceCheck** property.  Azure Activity Log makes it possible with Alerts to do a varie

[2019-05-16 15:09] SadiqhAhmed-MSFT commented on #31365
@uwazie Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 15:14] SadiqhAhmed-MSFT commented on #31367
@bt102 Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 15:16] DCtheGeek commented on #31254
@ToMakeSense Thanks for the feedback.  I'll fix the ambiguous text (which will close this issue when it merges). As to improved capabilities in this space, please see and consider voting for it on [UserVoice](https://feedback.azure.com/forums/915958-azure-governance/suggestions/34148341-azure-policy-support-for-regex-in-match-conditio).

@MicrosoftDocs/azure-cxp-triage #in-progress

[2019-05-16 15:20] shashishailaj commented on #31263
@singhkays Thank you for reviewing the same .

@rloutlaw Could you please review this and help close the PR #31264

Thank you.

[2019-05-16 15:20] SadiqhAhmed-MSFT commented on #31368
@JanBakker88 Thanks for the comment! We will check on this and get back to you soon.

[2019-05-16 15:21] ssunka commented on #30802
Even I'm getting same error. This is for VMware tenant

[2019-05-16 15:23] SadiqhAhmed-MSFT commented on #31369
@kartee87 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 15:24] markjbrown commented on #31331
I will add this to an upcoming PR on this article. @SnehaGunda FYI.

[2019-05-16 15:25] SadiqhAhmed-MSFT commented on #31370
@krishnanmuraligv Thanks for the comment! We will investigate on this issue and get back to you soon.

[2019-05-16 15:27] TylerMSFT commented on #31360
Sounds like you are not whitelisted. To use Azure Red Hat Openshift, you must purchase Azure virtual machine reserved instances, as specified in the setup, prereqs, and troubleshooting guide.

[2019-05-16 15:27] TylerMSFT commented on #31360
#please-close

[2019-05-16 15:28] TylerMSFT commented on #31359
2.0.65 is correct.
There is a bug in 2.0.64 that prevents the tutorial from working. When 2.0.65 is released, I'm told that it will correct the problem.

[2019-05-16 15:28] TylerMSFT commented on #31359
#please-close

[2019-05-16 15:29] AdamWorkAccount commented on #31103
@ChristianMontoya

When running:
Get-RdsDiagnosticActivities -TenantName adamwilkinsnstreetsheaver -Detailed

I get

Get-RdsDiagnosticActivities : User is not authorized to query the management service.
ActivityId: ab34fa0d-1581-4fc5-88fe-68b20886526d
Powershell commands to diagnose the failure:
Get-RdsDiagnosticActivities -ActivityId ab34fa0d-1581-4fc5-88fe-68b20886526d
At line:1 char:1
+ Get-Rds

[2019-05-16 15:30] dsindona commented on #30683
@johnthcall Sorry, I did not see those. I was looped in only on the two GitHub Issues, which are in a different workspace than our pull requests. In the future, you can submit just the pull request and add the explanation there (vs. opening an Issue).

[2019-05-16 15:32] #31254 closed

[2019-05-16 15:34] SadiqhAhmed-MSFT commented on #31372
@lusocoding Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 15:37] SadiqhAhmed-MSFT commented on #31375
@Rosewood99 Thanks for the Comment. We are actively investigating and will get back to you soon.

[2019-05-16 15:40] shobhitwalia123 commented on #30802
Guys my issue has been fixed, it reset my password after that it is working
fine

On Thu, May 16, 2019, 8:51 PM Srinivas Sunka <notifications@github.com>
wrote:

[2019-05-16 15:40] mike-urnun-msft commented on #31380
Hi @jonlanceley Thank you for your feedback! We will review and update as appropriate.

[2019-05-16 15:40] SadiqhAhmed-MSFT commented on #31376
@DeclareHigh Thanks for the feedback. We are looking into this and will get back to you shortly.

[2019-05-16 15:42] YASWANTHM-MSFT commented on #31175
@pc87 , We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2019-05-16 15:43] #31175 closed

[2019-05-16 15:43] mike-urnun-msft commented on #30970
Hi @miaojiang could you add some clarity to this?

[2019-05-16 15:45] shashishailaj commented on #31347
@norinvstor At this point the backup and restore is not available on the Android devices by design. This is still [under development](https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Microsoft-Authenticator-Account-Backup-and-Recovery-Coming-soon/ba-p/245390) . You can vote for this related feature https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35

[2019-05-16 15:46] #31347 closed

[2019-05-16 15:47] shashishailaj commented on #31348
@norinvstor At this point the backup and restore is not available on the Android devices by design. This is still [under development](https://techcommunity.microsoft.com/t5/Azure-Active-Directory-Identity/Microsoft-Authenticator-Account-Backup-and-Recovery-Coming-soon/ba-p/245390) . You can vote for this related feature https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/35

[2019-05-16 15:47] #31348 closed

[2019-05-16 15:53] Jacob-Strickland opened #31382 "Missing Step"
Good afternoon,

It appears there may be a missing step within this documentation.
Following the documentation normally I was presented with "Failed to Authenticate" any time I attempted to sign up or log in utilizing a member of my AAD tenant.
I was able to mitigate this, by going into the app registration and selecting "ID Tokens" under Authentication.
Without this, I was completely unable to au

[2019-05-16 15:56] bhupinder-p-s commented on #30954
@SadiqhAhmed-MSFT - Is there anyone looking at this issue!

[2019-05-16 15:57] #31316 closed

[2019-05-16 15:58] paul-arthurthiery opened #31383 "Is this supported with the REST version of Speech-to-text ?"
This page only lists examples for the SDK version and there are no mentions of this feature on the REST API page. I really need this feature with the REST version, is it supported ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c3e4d66-e6fd-3ed1-f505-875064467f00
* Version Independent ID: 345501ca-4487-ff5a-b681-4495

[2019-05-16 15:59] mikebudzynski commented on #31372
@lusocoding At this moment there is no single API call or PowerShell command that will import a Function App as an API in API Management. We're planning to improve this experience in future.

For now you can use the browser developer tools (F12) to track the ARM calls that are issued as part of the import process - including calls to Azure Functions and API Management.

[2019-05-16 16:00] bertrandpons commented on #31281
@MartinJaffer-MSFT thank you for your reply. No actually I have a stored proc that I launch in my pipeline to retrieve the status of SSIS execution through custom audit tables (OK, NOK, Partially Succeeded,...) in function of some settings.

I would like to set an overall status to my pipeline with a color for example in function of this output (OK-> green, NOK->red, Partially Succeeded->yellow,..

[2019-05-16 16:04] rwike77 commented on #28756
@githubavi, sorry for the slow reply. I think this is the info for the Definition object:  https://docs.microsoft.com/en-us/graph/api/resources/policy?view=graph-rest-beta#token-lifetime-policy.  Hope that helps.

[2019-05-16 16:07] jackpanetta opened #31384 "Can't find library Microsoft.Identity.Web"
I see that this sample relies on the library 'Microsoft.Identity.Web'. However, I don't see it documented anywhere in the NuGet gallery at all. Is it common practice to just clone this repo into your project to use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50c0ffbd-d96d-afec-8d75-0c67a8c1683e
* Version Indepen

[2019-05-16 16:11] angoyal-msft commented on #31343
@cowinr Thanks for your feedback. I'll check internally and get back to you.

[2019-05-16 16:13] MicahMcKittrick-MSFT commented on #31377
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-16 16:17] Francisco-Gamino opened #31385 "Create an HTTP triggered function in Azure documentation for Python needs to be updated for Mac."
Create an HTTP triggered function in Azure documentation for Python needs to be updated for Mac.

Link to doc: https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python

The documentation says that the host.json file should have the content below:
[code]

However, this causes the core tool to throw on Mac. The doc should be updated, so that in Mac, the extension

[2019-05-16 16:17] lusocoding commented on #31372
Thanks for the quick reply @mikebudzynski. Will try to do exactly that then.

[2019-05-16 16:19] rwike77 commented on #30172
@ricardoserradas, the Az module does not have this functionality.  You need to use the AzureAD/AzureADPreview module.  FYI, you probably noticed this but the configurable token lifetimes feature is being deprecated on Nov 1, 2019.  You should consider switching over to [authentication session management capabilities](https://go.microsoft.com/fwlink/?linkid=2083106).  Hope that helps.  #please-clos

[2019-05-16 16:19] MicahMcKittrick-MSFT commented on #31385
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-05-16 16:21] mjrousos commented on #29664
Hi @SnehaGunda, thanks for replying. I understand that users need to provision at least 400 RU/s, but I still think the wording in this doc is confusing. It says that "Azure Cosmos containers have a minimum throughput of 400 request units per second (RU/s)". As you said, *databases* need a minimum of 400 RU/s, but containers (which is what the doc says) no longer do.

[2019-05-16 16:22] ManojReddy-MSFT commented on #31371
@lurodri I am able to retrieve the secret using the command listed in the doc.
"az keyvault secret show --name "AppSecret" --vault-name "<YourKeyVaultName>"

k@Azure:~$ az keyvault secret show --name test --vault-name contosokey1vault
{
  "attributes": {
    "created": "2019-05-16T16:11:57+00:00",
    "enabled": true,
    "expires": null,
    "notBefore": null,
    "recoveryLevel": "Purgeable",