[2020-10-16 07:00] HarithaMaddi-MSFT commented on #64455
@Naboo2604 - Thanks for your contribution. As per the above details in document, the below command can be run on an existing/new data factory with or without managed identity. If managed identity already exists, running command again will not throw an error and retain the same identity. I removed "**again**" word in the document to avoid any confusion on the same in PR: MicrosoftDocs/azure-docs-pr

[2020-10-16 07:00] #64455 closed

[2020-10-16 07:08] galrito commented on #53589
@stevenxzhou it works with `createaccount_one_link`. Perfect, thanks. It would save a lot of grief if the docs stated that fact, though :)

`local_intro_username` has been working for me, but I can try `local_intro_generic`, if you need the feedback.

Thank you very much.

[2020-10-16 07:11] SarveshPandey opened #64502 "SSIS logging provider error in ADF"
Hi,

I was trying to execute SSIS package through ADF but I got the below error message.

![image](https://user-images.githubusercontent.com/25227161/96222125-4d8e6780-0fa9-11eb-89ef-fd02a1a63666.png)

The same package when executed manually form VS SSDT, it ran successfully.

---

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-16 07:14] sgiovinetti commented on #64464
@MonikaReddy-MSFT
This is the page https://docs.microsoft.com/en-us/azure/data-factory/connector-servicenow

After some tests we can reformulate the issues as follows:
The connector seems not to allow grater than, less than etc. comparison with fields of type datetime. If it is by design I think it should be mentioned in the documentation so I think we can consider it a documentation bug.

[2020-10-16 07:25] SadiqhAhmed-MSFT commented on #64477
@artisticcheese We do have plans to include assessment cmdlets in the PowerShell module but there is no definite timeline that we can share at this time.
To automate assessment activities, you can use the module hosted at https://github.com/bagwyth/AzMigrate

Hope this answers your question. Let us know if there are any additional questions you have in this matter.

[2020-10-16 07:27] BzSpi commented on #64307
Hi @stevestein

Great, this is what I was looking for. Many thanks.
Is it possible to add a "Note" in the Azure documentation about it ?

Something like

Copying to a elastic pool with a different name or a database with a different SKU can be done with the EDITION and SERVICE_OBJECTIVE statements. See examples in the T-SQL CREATE DATABASE documentation https://docs.microsoft.com/en-gb/sql/t-sql/s

[2020-10-16 07:30] jona0497 commented on #49245
I just want to ad my experience in here. I had similar issues with web sockets not working on linux web apps.
For me it worked to upgrade to B2. Websockets did not work on F1 and B1 at all.

[2020-10-16 07:31] tesharp opened #64503 "Virtual WAN P2S Multi App for different user groups"
This document describes exactly what we needed, to give different user groups access to VPN (preferrably access to different resources on VPN as well). We imagined this could be done using multi app and assigning different client ip ranges for the different user groups, and use firewall rules to grant user groups different access.

However after looking more into this I'm really unsure how this is

[2020-10-16 07:36] HarithaMaddi-MSFT commented on #64502
@SarveshPandey - Thanks for posting the issue. I was going through the similar errors from Customers in past and it appears to be related to version. Can you please try changing the version and check if it helps.

![image](https://user-images.githubusercontent.com/61235246/96226261-0788d200-0fb0-11eb-8ac7-32d2245522a0.png)

[2020-10-16 08:00] Ericgre commented on #60886
Hello, yes as I said in the dic, it's a current limitation, we are actively developing the feature, no ETA yet

[2020-10-16 08:03] alevincenzi commented on #57689
Hello @kgalic.
I had to move to Windows. There you can uninstall the app and reinstall the 1.14 from [this link](https://github.com/microsoft/AzureStorageExplorer/releases/tag/v1.14.2).

On Ubuntu, i installed the latest from the snap store. At the moment i did not downgrade there. Sorry.

[2020-10-16 08:05] HarithaMaddi-MSFT commented on #64333
@vikrandadwal - Thanks for posting the additional query. Please find below from document that mentions that check sum validation is supported only for binary copy and for non-binary copy, only row count validation applies.

_If you set true for this property, when copying binary files, copy activity will check file size, lastModifiedDate, and MD5 checksum for each binary file copied from source to

[2020-10-16 08:06] WenJason commented on #64274
Thanks for your help. And, my question is if the certificate link(https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem) can only be used for global Azure. In other words, I should download the certificates from the other links if in Sovereign Clouds.

[2020-10-16 08:15] sgdesmet commented on #58009
@msmimart  We're seeing similar issues: when data-preload is enabled, javascript files are occasionally blocked by CORS on Edge and Chrome. However, our CDN is set up to add the `access-control-allow-origin` wildcard header whenever the `origin` header is present. Chrome DEV tools do not show the `access-control-allow-origin` header present on the request. Interestingly, the request headers show `

[2020-10-16 08:17] shashishailaj commented on #64496
@watahani Thank you for sharing your insights. We will have this verified internally with engineering and update the thread.

[2020-10-16 08:27] SarveshPandey commented on #64502
Hi @HarithaMaddi-MSFT, my target SQL version is 2019 and I am deploying package on Azure SQL Database.

[2020-10-16 08:32] CAIRNSS17 commented on #61800
The screenshot relating to this is here:
https://docs.microsoft.com/en-us/azure/storage/blobs/encryption-scope-manage?tabs=portal#upload-a-blob-with-an-encryption-scope
I see the date of the documentation is September but it still says "setting access tier is not supported for customer key encryption"

Equally if I try to update click on the "Change tier" within the Azure portal to update the acce

[2020-10-16 08:33] amneshgoel7 opened #64505 "Information about how to use Azure Hybrid Benefit is out of date"
Information provided in this documentation about how to use Azure Hybrid Benefit appears to be out of date. I could not see any option on Basics tab to save money or something like that.

I then create a sample DB and went to Settings -> Configure and other options in Settings tab, but there is no way to use AHB.

I think this documentation needs a correction.

---
#### Document Details

⚠ *Do not

[2020-10-16 08:41] HarithaMaddi-MSFT commented on #64502
@SarveshPandey - Thanks for sharing. Can you please deploy by modifying with "SQL Server 2017" and let us know if it helps.

[2020-10-16 08:49] SnoWolfT commented on #64301
@WinstonHoward-MSFT Thank you for your reply!
I can see the similar issue as below.

Having trouble running CoreMark script pack #27077
https://github.com/MicrosoftDocs/azure-docs/issues/27077
<<<
May I know whether you have the channel to also feedback this to cynthn and DavidBerg-MSFT? I can see they are the contributors of the document.
Thank you!

[2020-10-16 08:58] AnuragSharma-MSFT commented on #64274
@WenJason Yes you are right there. If you are creating your services in Sovereign Clouds (the ones which are mentioned above), only then you are going to use the certificates in those clouds. But as these are restricted regions and not everyone will have access to create the serviced in those regions. As an example, for [Sovereign US Clouds](https://azure.microsoft.com/en-us/global-infrastructure/

[2020-10-16 09:10] shadowano commented on #64093
@GitaraniSharma-MSFT thanks for the long answer, bit I still fail to understand how this will work in my case. In my original post I outlined my setup.

Current production: Webapp using Azure CDN with a custom domain registered in Azure DNS Zone. Custom domain is registered as a cname in Azure DNS Zone towards the CDN endpoint.

New resources created by terraform: duplicate resources as current pr

[2020-10-16 09:18] SGGIRBS opened #64508 "User discconect when updating routes"
It should be noted on this page that when updating custom routes P2S users will be disconnected during the update process.
This has been tested using the Azure VPN Windows 10 client and the CLI command 'az network vnet-gateway update'. I would assume it's the same with 'Set-AzVirtualNetworkGateway' ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-10-16 09:28] SumanthMarigowda-MSFT commented on #64500
@akshaymatmicrosoft Thanks for the question! We are investigating and will update you shortly.

[2020-10-16 09:29] SwathiDhanwada-MSFT commented on #64466
@amberbhargava  Can you please provide your insights on this and also update the document ?

[2020-10-16 09:31] kummanish commented on #64213
Thanks for the feedback @Jeej  We have fixed he doc and it will be available soon..

[2020-10-16 09:34] kummanish commented on #64039
@fazalraza1 thanks for the feedback. I have made the changes and it should be reflected soon.

[2020-10-16 09:38] SarveshPandey commented on #64502
@HarithaMaddi-MSFT  - still getting the same error

[2020-10-16 09:46] Zucky16 opened #64509 "Per-machine installation description accuracy"
Following paragraph for the description of a 'Per-machine installation' has inaccurate program folders identified;

This installs Teams to the **_Program Files (x86) folder on a 64-bit_** operating system and to the **_Program Files folder on a 32-bit_** operating system.

Should read;
This installs Teams to the Program Files (x86) folder on a **_32-bit_** operating system and to the Program Files

[2020-10-16 09:51] HarithaMaddi-MSFT commented on #64502
@SarveshPandey - Thanks for confirming. Since this issue is more related to specific scenario and requires troubleshooting, can you please share pipeline run id and region of data factory along with support files to AzCommunity[at]microsoft[dot]com with subject: "Attn:Haritha - SSIS logging provider error in ADF" which will help us to work with internal team for deeper investigation. Looking forwa

[2020-10-16 09:57] sgiovinetti commented on #64464
We discover this is due to an issue in our SNOW configuration. We can close it.

[2020-10-16 09:57] #64464 closed

[2020-10-16 09:59] SylvainVi commented on #61892
@TomGeske : do you any update / comment on my previous note ? Thank you in advance.

[2020-10-16 10:16] crow-ua opened #64510 "listServiceSas in ARM returns SAS token that cannot be consumed by C# client library"
I have following variable in my ARM template:
[code]
I'm using it to output SAS token string:
[code]
Generated SAS has following format:
[code]
Note the `se` parameter format. C# client libraries (`Azure.Storage.Blobs.BlobServiceClient`) cannot accept it because they expect expiry time in other format:
[code]

Looks like some inconsistency. Is there any way to configure `listServiceSas` to return

[2020-10-16 10:17] SwathiDhanwada-MSFT commented on #64475
Assigning to content author @vikrambmsft  for review.

[2020-10-16 10:20] Larryngolog opened #64511 "What are the retention periods for AAD delivered with Office 365 ?"
If customer has O365 will they have retention for the Free tier or the premium tier?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5975a65a-630f-a2ab-7cc8-268e278a057b
* Version Independent ID: ed2cdee0-9a1e-c435-a172-054896ec35f8
* Content: [How long does Azure AD store reporting data?](https://docs.microsoft.com/en-

[2020-10-16 10:28] AnuragSharma-MSFT commented on #64505
@amneshgoel7 Thanks for the feedback. AHB is applicable only on vCore-based purchasing model and not on DTU based. Hence we don't see the Save Money option on Basic, Standard and Premium for DTU based purchasing model.

However, as rightly pointed out by you, documents has to be updated where in instead of Basic tab, appropriate tab should come.

This is being assigned to the content author to eva

[2020-10-16 10:29] SubhashVasarapu-MSFT commented on #64508
@SGGIRBS, Thanks for reaching out. We will investigate and update this thread.

[2020-10-16 10:58] RohitMungi-MSFT commented on #64501
@harmke Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-10-16 11:15] SarveshPandey commented on #64502
@HarithaMaddi-MSFT, Pipeline Run Id - 08724667-dfca-45be-8d99-09523b1f3774, Data Factory Region - East US

[2020-10-16 11:19] venkateshkuppusamy commented on #64175
Hi @WinstonHoward-MSFT, You are right I have executed the cli command at a higher directory level from cloud-init.txt directory.
It works when I execute at the file's directory level.  However there is no error/warning that the file was could not be found or something similar to that. Wondering if this is a issue of Azure cli or in general a limitation of bash.

[2020-10-16 11:20] nferdinandova opened #64512 "FetchXml limitations"
It is not clear from the article if the limitations in terms of rows returned of fetchXml apply. Is the data factory automatically managing paging?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Content: [Copy data in

[2020-10-16 11:34] psmanhas commented on #64410
@tsrob50 I had discussion internally on this and got to know there is a known bug reported on the issue and our Product Group is working on this.

I don't have an ETA by what time it will be fixed but wanted to keep you updated it is being worked upon.

Hope it helps!!!

[2020-10-16 11:36] tsrob50 commented on #64410
Thank you for letting me know.  I was able to add it from PowerShell as a workaround.

From: PreetiManhas-MSFT <notifications@github.com>
Sent: Friday, October 16, 2020 6:35 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Travis Roberts <tsrob50@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Setting “Don’t redirect any drives” in the po

[2020-10-16 11:40] psmanhas commented on #64410
@tsrob50  Glad to hear that you found a workaround.

Hope the provided information is helpful.
We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-16 11:40] #64410 closed

[2020-10-16 11:43] HarithaMaddi-MSFT commented on #64502
Thanks @SarveshPandey, please share support files as well that will help deeper investigation.

[2020-10-16 11:45] grzegorzwierzbicki commented on #17830
Hi
Any news on this one?

[2020-10-16 11:50] jd1984 commented on #41090
Hi, I see the documentation has been updated to say this 'setting applies to devices that are either Azure AD _joined_ or Azure AD _registered_' however the label on the button in [Azure AD](https://portal.azure.com/#blade/Microsoft_AAD_Devices/DevicesMenuBlade/DeviceSettings/menuId/) still says 'Require Multi-Factor Auth to _join_ devices' only.

Can someone update this to match the documentation

[2020-10-16 11:55] SarveshPandey commented on #64502
@HarithaMaddi-MSFT - I not sure what is support file. Could you help me on this?

[2020-10-16 11:56] fabioharams commented on #64454
Hi! I'm attaching the screenshot of the error [](url)
<img width="1279" alt="error aws" src="https://user-images.githubusercontent.com/17723872/96255487-5f621180-0f8d-11eb-889a-0f22caf6d141.PNG">

[2020-10-16 12:02] artisticcheese commented on #64477
UI allows to use assessments to map sizes, disk for replication. How this will  be possible with New-AzMigrateServerReplication cmdlet? Would all this information still required  to be done manually?

[2020-10-16 12:23] swinarko commented on #64502
SSIS IR is based on SQL Server 2017 for now, so the target server version of your project should be SQL Server 2017.  If you use CDC Source to connect to on-prem SQL Server, you need to join your SSIS IR to a VNet connected to your on-prem network, see https://docs.microsoft.com/azure/data-factory/join-azure-ssis-integration-runtime-virtual-network.

[2020-10-16 12:32] chlumper commented on #47899
We're also interested in providing a action which opens a link (to our deployed web-app).
We do not want to call an Rest-API via a custom resource provider as all the examples do.

To provide a customized link for the deployed app we would need to get some information from the output.

Is there any option for it?

Thx!

Related:
https://stackoverflow.com/questions/60197764/opening-a-web-app-page-u

[2020-10-16 12:34] azaricstefan commented on #64402
Thank you for reaching out @yahorsi. PKs and FKs are not supported for external tables and views.
External tables do not support filepath and filename functions at this moment which means you cannot do partition elimination on external tables. For example: if your data is partitioned into folders (month=*/month=*/*.parquet), you could eliminate partitions using OPENROWSET/VIEW+WHERE clause, while

[2020-10-16 12:39] rakshitamaheshwari commented on #41227
Thanks @ztbrown . This solved my error too. :)

[2020-10-16 12:49] NavtejSaini-MSFT commented on #64242
@yahorsi Please get back to us for any questions. If not we will go ahead and close this issue at EOD.

[2020-10-16 12:50] NavtejSaini-MSFT commented on #64264
@carbonox-infernox Please get back to us for any questions. If not we will go ahead and close this issue at EOD.

[2020-10-16 12:53] NavtejSaini-MSFT commented on #64262
@mattneerincx Can you please elaborate your question. What exact information you are looking for or any other architecture info you can provide.

[2020-10-16 13:01] JayaChatterjee-MSFT commented on #64273
@DraconInteractive Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-16 13:02] JayaChatterjee-MSFT commented on #64334
@bychkov Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-16 13:03] #64334 closed

[2020-10-16 13:09] DCtheGeek commented on #64261
@vsriram-binary We've confirmed that `Microsoft.DataLakeStore` RP is for Gen1, so this is both in the wrong TOC and has the wrong title.  I've submitted a PR to fix both issues.  Once that PR is merged, this issue will automatically close.  Publish to live will occur later.  Thank you for pointing this out!

@MicrosoftDocs/azure-cxp-triage Please remove label 'product-issue' and add label 'doc-bug

[2020-10-16 13:16] SarveshPandey commented on #64502
@swinarko, In my case, Target database is Azure SQL Database. The package is working while running through VS but throws error in ADF.

[2020-10-16 13:17] RonnieQuan opened #64513 "Question about Parallel Update"
An Azure Firewall configuration update can take three to five minutes on average, and parallel updates aren't supported.

I have two questions regarding parallel update,
1) when update on different rule collections, is it supported in parallel? or at one Azure firewall level, no concurrent update, even though for different rule collection?

2) Any potential enhancement on the roadmap?

[Enter feed

[2020-10-16 13:27] frehnejc opened #64514 "Powershell Start Stop firewall needs more details on limitations"
An Azure firewall with Forced tunnelling cannot be restarted as the management pip is not able to be added:
Set-AzFirewall: AzureFirewall FW-xxx management IP configuration cannot be added to an existing firewall. Redeploy with a management IP configuration if you want to use forced tunneling support.
StatusCode: 400

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2020-10-16 13:33] YusukeTobo commented on #62016
@AjayKumar-MSFT @BryanTrach-MSFT,
I really appreciate your help and follow up.
I'll avoid utilizing the round about method from now on.

[2020-10-16 14:00] HarithaMaddi-MSFT commented on #64460
@AmitavaHazra - Thanks for posting the questions. Our team is looking into it and will get back to you shortly.

[2020-10-16 14:01] TomGeske commented on #61892
Sorry for my late response.

The scenario below works as long the user creating the cluster has permissions on the custom VNET to grant system-assigned MI permissions on that network. Othwerwise it will fail.

[2020-10-16 14:06] RyanHill-MSFT commented on #64266
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-16 14:07] swinarko commented on #64502
Is Azure SQL DB your data source or destination?  It doesn't support CDC, so what does your CDC Source connect to?  Is it on-prem SQL Server or Azure SQL Managed Instance?  Your package runs fine on VS, because it runs locally, not in Azure, so it can connect to any on-prem data stores.

[2020-10-16 14:17] Anmolgan81 commented on #64502
@swinarko when we execute the package directly from SSMS where source i SSISDB then it works fine, but not when we run through the ADF trigger.

[2020-10-16 14:17] almutawa commented on #44062
Im also getting the same issue **list index out of range**

[2020-10-16 14:20] VikasPullagura-MSFT commented on #64509
@Zucky16 Thanks for pointing this out. The document is updated and changes will go live soon.

[2020-10-16 14:25] HarithaMaddi-MSFT commented on #64512
@nferdinandova - Thanks for the question. I am moving it to content author to review and share the thoughts.

@linda33wj - Can you please take a look?

[2020-10-16 14:33] SadiqhAhmed-MSFT commented on #64492
@ScottMetzel Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2020-10-16 14:42] RyanHill-MSFT commented on #64295
@antsh85, it appears you're pulling packages from https://skype.pkgs.visualstudio.com. This url is an [artifacts feed](https://docs.microsoft.com/en-us/azure/devops/artifacts/concepts/feeds?view=azure-devops) from the https://skype.visualstudio.com. The 401 message you're getting means that you don't have authorization to this project and its artifacts feed. Double check your package sources nuget

[2020-10-16 14:42] #64295 closed

[2020-10-16 14:44] skurre commented on #64200
Team, any update on this?

[2020-10-16 14:47] psmanhas commented on #64200
@skurre Apologies for the delay in response.I have reached out to our internal team on this and awaiting their response on this.

Will keep you posted once I have an update.

[2020-10-16 14:50] SadiqhAhmed-MSFT commented on #64454
@fabioharams Thanks for sharing the screenshot.

@bandersmsft To review and update as required.

[2020-10-16 14:50] heitormocelin opened #64516 "AAD B2C claimsschema claimtype possible values"
Even tough the claimtype values liste other dataypes than the basic (portal side) Int, string, boolean.
When working with custom policies you wont be able to setup a long for instance, because the portal side does not have this option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e31c230-4294-6b21-91c2-b829852f80a3

[2020-10-16 15:00] chrolivier commented on #64287
@SnehaAgrawal-MSFT Thanks for the follow up.
Yes, I did do that. I still had to delete the contents of the Issuer URL field otherwise users from other Azure AD instances would not be able to call an API.

[2020-10-16 15:00] ItDidntCatchFire opened #64517 "PHP 7.4 not in list of supported run times"
PHP 7.4 not supported in azure
![image](https://user-images.githubusercontent.com/28661573/96274637-a8838700-0fc8-11eb-9fa6-6a37954c283c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd76e30c-e279-2ea0-d8fb-7ca48244e445
* Version Independent ID: ddc61016-d8d5-e226-3901-81cfe728cd0f
* Content: [Quickstart: Create

[2020-10-16 15:01] swinarko commented on #64502
Did you use the same SSISDB as package location when you ran your package as Execute SSIS Package activity in ADF pipeline?  If yes, please share ADF and SSIS IR names, so @HarithaMaddi-MSFT can follow up w/ our product engineer to investigate deeper.

[2020-10-16 15:10] #64509 closed

[2020-10-16 15:12] erzads commented on #60878
@pvrk the region parameter in the body of the restore request refers to the backup vault region or the vm region?

[2020-10-16 15:15] kummanish commented on #64039
#please-close

[2020-10-16 15:15] #64039 closed

[2020-10-16 15:16] pvrk commented on #60878
@erzads : Both are the same. You can only backup VMs in the same region as that of vault and restore to the same region.

[2020-10-16 15:17] benbucksch commented on #30802
We've debugged this further with a large customer, and we found that error 50126 is returned in cases where an Office365 domain uses a thiry party MFA provider, and the email client software is trying OAuth2 with password. In this case, the Microsoft servers are returning this error code 50126.

This is clearly a bug of the Microsoft server, because error code 50126 is very clearly specified to be

[2020-10-16 15:18] Bence98007 opened #64520 "Local DNS not preferred over Azure P2S VPN"
Hi there!

I have a problem with Azure Point-to-Site VPN.
I have a local server which I have to reach, when the Azure VPN is connected. It cannot be reached now, because when I connect to the Azure VPN, I'll get DNS server from the Azure (which ofc won't contain my local domain). When I try to nslookup my local server, using MY DNS server, it works.

Any idea on this?
Thanks a lot!

---
#### Docum

[2020-10-16 15:19] DevPointers opened #64521 "No mention about Geo Restore limitation"
This page should also mention about limitations on geo restore and also restore for SQL MI in general.

For example,
1. Geo restore can be done only on a SQL MI that is in the same subscription as the source SQL MI
2. You cannot restore a SQL MI database backup to a SQL VM (gives compatibility error)
3. You cannot restore a SQL MI database backup (non geo replicated) to another SQL MI instance, it

[2020-10-16 15:24] jmorlesinsolarwinds commented on #50772
Do we have any update on this? We're having the same issue.

[2020-10-16 15:28] SarveshPandey commented on #64502
ADF name - henson-poc-adf, SSIS-IR name - LowryPocIR, Run ID - 08724667-dfca-45be-8d99-09523b1f3774, Data Factory Region - East US,
SSIS Package Details - Performing CDC Sync between On-premise Server to Azure SQL Database and have VPN Connectivity setup between them. The Package is working when executing from VS SSDT but throws error in ADF.

[2020-10-16 15:46] vipulsparsh commented on #64366
@jd1984 Both are different.  The apps listed at https://aka.ms/supportedmampolicyapps  supports conditional access along with Intune MAM policies.

However the apps listed under public Apps for target :
![image](https://user-images.githubusercontent.com/63580915/96279705-a8997c00-0ff4-11eb-9155-01e242aa9596.png)

lists the Apps which has been made to understand Intune MAM policies and not necessar

[2020-10-16 15:48] RyanHill-MSFT commented on #64302
Hi @dombarnes, they are both correct. Web App for Containers ignores the `depends_on` in the docker-compose.yml and doesn't wait for container start up. App Services [does](https://github.com/Azure/app-service-linux-docs/blob/master/docker_compose_depends_on.md) align container startup and shutdown with [docker's best practices](https://docs.docker.com/compose/startup-order/) in that dependencies

[2020-10-16 15:48] #64302 closed

[2020-10-16 15:48] justassavickasvisma opened #64523 "Oudated documentation"
Documentation is outdated. Screenshots are from older versions of azure portal. Some fields are no longer in the UI. New fields were introduced.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518f4eaa-297f-5981-97c5-274a4103fa5d
* Version Independent ID: 0dbdc5d6-d448-544d-a862-3f7f5204be22
* Content: [Access storage b

[2020-10-16 15:50] YutongTie-MSFT commented on #64228
@PatrickFarley I can not make the change since it's not in Azure-doc-pr repo, could you please help to fix it? Thanks a lot.

[2020-10-16 16:03] ClaudioRifo opened #64525 "Reader permission cant access overview statistics"
Not sure if its a bug or intended design. But reader Permission cant even see the overview statistics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2293a04c-2b13-4087-0b20-eebf2278f522
* Version Independent ID: 9fc429b6-1f91-74e0-3f35-3b0e54ecd213
* Content: [Set Azure roles for Azure administrative access - Azure Co

[2020-10-16 16:04] RyanHill-MSFT commented on #64314
@PaulARoy, maybe the URL isn't correct. In looking at https://developer.apple.com/documentation/sign_in_with_apple/sign_in_with_apple_js/incorporating_sign_in_with_apple_into_other_platforms#3332113, the URL shows scope=`name%20email`. It's a long shot but try using just a single scope. If that works, I'll let the product group know.

[2020-10-16 16:05] swinarko commented on #64502
Thanks, our support/product engineer will investigate and follow up soon.  #please-close

[2020-10-16 16:05] #64502 closed

[2020-10-16 16:10] PaulARoy commented on #64314
Hi,
Unfortunately I'm not generating the URL, the server is.
I tried with space or with only one scope before and the error stays the same.

Unfortunately the spec of Apple (on your link) is pretty clear:
[code]

and you're generating the URL with `response_type=code` for the request.

[2020-10-16 16:14] AjayKumar-MSFT commented on #64231
@grumm90,  Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-10-16 16:17] mheisenberg commented on #64062
@SnehaAgrawal-MSFT Is it clear that this question is in the context of the load balancer that front ends the Azure App Services? Can those PowerShell commands be used to configure the load balancer in an App Service?

[2020-10-16 16:19] christiankuhtz commented on #64352
The article is a tutorial and uses a scenario where the idle timeout is changed from 4 minute default to 10 minutes.  The article is correct as written and the section refers to what is covered in the tutorial.  Yes, the maximum allowed value is 120 minutes, but that's not what this article is about.  Please refer to https://docs.microsoft.com/azure/virtual-network/nat-gateway-resource for what is

[2020-10-16 16:19] christiankuhtz commented on #64352
@asudbring fyi

[2020-10-16 16:21] bandersmsft commented on #64454
@fabioharams Thanks very much for raising this issue. I'll update the article with your input.
@SadiqhAhmed-MSFT  FYI.

[2020-10-16 16:29] asudbring commented on #64352
#please-close

[2020-10-16 16:49] ram-msft commented on #64343
@gary918 Thanks for question, Here is the link  to define your machine learning pipelines in YAML.
https://docs.microsoft.com/en-us/azure/machine-learning/reference-pipeline-yaml

[2020-10-16 16:49] souravmishra-msft commented on #64020
Hello @AmitavaHazra, I checked on the default time limit for the user getting prompted to re-enter the creds after he/she has selected the "**stay signed in**" option is of 90 days. If the machine is HAADJ/AADJ then don't need to worry about KMSI as this by default gets covered in PRT based cookies

[2020-10-16 16:58] SnehaAgrawal-MSFT commented on #64218
@difatkulbayanova Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-10-16 17:01] zmarty opened #64526 "Do private endpoints use SNAT ports or not?"
Hello,

We feel this part of documentation is stale or incorrect:

_SNAT ports: As discussed in Outbound connections in Azure, Azure uses source network address translation (SNAT) and a Load Balancer (not exposed to customers) to communicate with end points outside Azure in the public IP address space, **as well as end points internal to Azure that are not taking advantage of service end points.**

[2020-10-16 17:05] DerekHerman-MSFT commented on #64510
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-16 17:06] Karishma-Tiwari-MSFT commented on #64232
Thanks Cynthia.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-16 17:06] #64232 closed

[2020-10-16 17:15] joanteixi opened #64528 "Create table in SQL on-demand"
Hi,

I'm wondering how to create a table in SQL-ondemand from spark? Is this possible to achieve?

Something like

`

df.write.sqlanalytics("<DBName>.<Schema>.<TableName>", <TableType>)
#but pointing to SQl-ondemand table
`

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f102b5ad-f6a9-9ab6-913f-98f5c7559f8f
* V

[2020-10-16 17:16] SnehaAgrawal-MSFT commented on #64268
@Ayanmullick We will now proceed to close this thread. Also, we typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/topics/single/51.html) or [StackOverflow forum.](https://stackoverflow.com

[2020-10-16 17:16] #64268 closed

[2020-10-16 17:19] Ayanmullick commented on #64268
@SnehaAgrawal-MSFT , I was unable to find you on Teams. I will test and update.

[2020-10-16 17:21] SnehaAgrawal-MSFT commented on #64517
@ItDidntCatchFire Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-16 17:23] mattneerincx commented on #64262
Depending upon client drivers you use, you may or may not get redirected.
Depending if you use VNET or not, you may or may not get redirected.
Depending if you are using ipv6 or not, you may or may not get redirected.

Connections that go through gateway are more throughput limited than re-directed connections.
So customers want to ensure they get re-directed to ensure optimal performance.

Also,

[2020-10-16 17:24] JamesTran-MSFT commented on #64516
@heitormocelin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-16 17:25] YutongTie-MSFT commented on #64525
@HeidiSteen Thanks Heidi, do you think we are good to close this? I'd love to track this issue if you have any workitem for the doc or the product.

[2020-10-16 17:26] JamesTran-MSFT commented on #64511
@Larryngolog
Thanks for your question! We will investigate and update as appropriate.

[2020-10-16 17:28] vsriram-binary commented on #64261
Thank you @DCtheGeek for the update. So for Customer's ask on diagnostic logs audit template for ADLS gen2 storage accounts - is it available?

[2020-10-16 17:34] amotl commented on #35469
Hi there,

we are trying to do about the same as outlined within this issue, but this time using an Event Hubs Triggered function. We already reported more details at https://github.com/Azure/azure-functions-python-worker/issues/764.

Maybe you can help us out here, @KetanChawda-MSFT or @PramodValavala-MSFT?

With kind regards,
Andreas.

[2020-10-16 17:38] bandersmsft commented on #64454
@fabioharams I updated the article with your input. Thanks!
#please-close

[2020-10-16 17:38] #64454 closed

[2020-10-16 17:40] DerekHerman-MSFT commented on #64510
@crow-ua Can you let me know what error you are seeing when running your code? If you manually omit .0000000 from the token does that resolve the issue?

[2020-10-16 17:42] #64261 closed

[2020-10-16 17:46] vsriram-binary commented on #64261
@v-albemi Hi, can i know why this request is closed ? i was expecting a response from @DCtheGeek . Please advise.

[2020-10-16 17:56] ShaneBala-keyvault commented on #63748
I reviewed the feedback and made a change to the article.
Changes are being merged now and will be live in 48-72 hrs.

Archiving this issue.

[2020-10-16 17:56] ShaneBala-keyvault commented on #63748
#please-close

[2020-10-16 17:56] #63748 closed

[2020-10-16 17:56] v-albemi commented on #64261
@vsriram-binary

It appears that I merged the pull request, but it’s actually the commit that was merged in a different pull request. My understanding is that the commit exists in at 2 least PRs, and it was merged in one of the PRs that was signed off. (In  [MicrosoftDocs/azure-docs-pr#134207](https://github.com/MicrosoftDocs/azure-docs-pr/pull/134207))

This is a GitHub technical issue and not so

[2020-10-16 17:56] YutongTie-MSFT commented on #64238
@marcominerva Thanks for the feedback again. I am reaching out to the author for fixing it.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-16 17:56] #64238 closed

[2020-10-16 18:03] nkiest commented on #64265
You need to follow the instructions on this page if you are setting custom DNS and using private link: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns, which corresponds to the above you listed.

[2020-10-16 18:05] crow-ua commented on #64510
I'm using this blob to store [Data Protection API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.dataprotection.azuredataprotectionbuilderextensions.persistkeystoazureblobstorage?view=aspnetcore-3.0) keys, and passing token generated by ARM template to a `public static IDataProtectionBuilder PersistKeysToAzureBlobStorage(this IDataProtectionBuilder builder, Uri blobSasUri)` meth

[2020-10-16 18:09] marciomocellin opened #64530 "InvalidInputDatatype: Input of type 'Unknown' is not supported. Supported types: [azureml.data.tabular_dataset.TabularDataset, azureml.pipeline.core.pipeline_output_dataset.PipelineOutputTabularDataset]"
I have a pandas's DataFrame created by:

[code]
Everything look like right.

[code]

But when I rum this:

[code]
I get the message

[code]
Where is wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 585fff5e-cadd-8967-8c09-63d8afcb53b3
* Version Independent ID: 95274303-b152-2ee8-113e-e0763beca7ed
* Content: [Creat

[2020-10-16 18:14] Nickomang commented on #59675
@m1nkeh, If you've confirmed that the definitions for Durability Level for all node types in the Cluster and the VMSS extension match, try re-deploying from ARM templates and see if that mitigates the issue.

If you continue to experience the error, it's possible that it's related to this open issue: https://github.com/microsoft/service-fabric/issues/959

Looks like there is a problem on the CRP/V

[2020-10-16 18:21] HeidiSteen commented on #64525
@YutongSun  You can track through this PR:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/134245.  It needs review, but there is a good chance the update will go live this afternoon or this weekend, so yes, I think you can close this issue.  Thanks!
Also thanks to @ClaudioRifo for filing the issue.

[2020-10-16 18:22] SnehaAgrawal-MSFT commented on #64287
@chrolivier Thanks for reply! You may want to investigate this doc [Update your code to handle multiple issuer values ](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant#update-your-code-to-send-requests-to-common) As its mentioned "A multi-tenant application can’t validate tokens just by matching the issuer value in the metadata with the issuer v

[2020-10-16 18:47] softwarecraft opened #64532 "Most roles have actions under microsoft.insights but these are not listed"
[Enter feedback here]
Some (many?) AAD admin roles are able to create alert rules and action groups but this is not clear given the actions listed for them, eg HelpDesk Admin which has

- microsoft.azure.serviceHealth/allEntities/allTasks

but does not have

- Microsoft.Insights/AlertRules/*
- Microsoft.Insights/ActionGroups/*

Refer to https://docs.microsoft.com/en-us/rest/api/monitor/operations/

[2020-10-16 18:53] ChaitanyaNaykodi-MSFT commented on #64141
Hello @Paul-Dempsey, Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-16 18:53] #64141 closed

[2020-10-16 18:57] DCtheGeek commented on #64261
@vsriram-binary Sorry! I didn't see your follow-up question and the PR I created was set to automatically close this GitHub Issue.  @v-albemi _appears_ to have closed it, but that's because he merged my commit. :)

This issue should be closed as the incorrect page was updated, moved, and clarified to be specific to Gen1. If a built-in policy definition for Azure Storage does exist, it'll be docume

[2020-10-16 19:03] #64335 closed

[2020-10-16 19:09] zendu opened #64533 "KVVM (Key vault VM) extension documentation missing required/optional classification for fields in template"
The documentation does not mention which fields are mandatory and which fields are optional. Also, it should provide default values for optional fields. Additionally, if a field can accept a limited set of values, say CertificateStoreLocation, then those values should listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-16 19:12] kevbry opened #64534 "Clarity around senddisabled/receivedisabled"
It's unclear if receivedisabled means that any messages sent to the queue will be rejected (queue cannot receive from clients), or if clients attempting to receive a message from the queue will fail (clients cannot receive from queue). Same for senddisabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818c2219-3e80-

[2020-10-16 19:12] nelroosevelt opened #64535 "Please explicitly state that Azure creates and manages the CNAME record"
Please add the missing information to help deflect cases about private endpoint for app service from CSS support.

Name | Type | Value | Remark
-- | -- | -- | --
mywebapp.azurewebsites.net | CNAME | mywebapp.privatelink.azurewebsites.net |  **<--Azure creates this entry in Azure Public DNS to point the app service to the privatelink and this is managed by us.**

mywebapp.privatelink.azurewebsites.

[2020-10-16 19:22] ryanwinter opened #64536 "Couldnt find "Security overview" menu."
Step #2 is confusing.

Rather than "Select the Security overview menu."

It should be explicit that is it the "Overview" item in the "Security" group.

Took me 20 minutes to figure this out as I was searching the page for "Security overview" and not finding anything.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b19

[2020-10-16 19:30] tstahnke2 opened #64537 "Email for requesting preview only available to Microsoft employees."
I got this error when trying to request an upgrade to the azure cache for redis service (from 4.x to 6.0)

![image](https://user-images.githubusercontent.com/45852091/96300954-72440880-0fc4-11eb-89b3-6e3aa468c688.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49ca97a8-1b7e-e5b4-3c0e-df5abf71de9a
* Version Independ

[2020-10-16 20:07] andydwersteg opened #64538 "Example uses solution that is being deprecated"
There's a breaking warning for using the 'SecretValueText':
I'm trying to find the recommended solution to move off of this solution.

WARNING: Upcoming breaking changes in the cmdlet 'Get-AzKeyVaultSecret' :
Property 'SecretValueText' in PSKeyVaultSecret and PSDeletedKeyVaultSecret will
be removed around 10/27/2020
- The output type 'Microsoft.Azure.Commands.KeyVault.Models.PSKeyVaultSecret' is c

[2020-10-16 20:08] SaiKishor-MSFT commented on #64115
@Trundlore
Thank you for your patience while we were looking into this issue for you. I have reached out to the internal team and got some clarification regarding this statement here- "They can be connected at the same time, and they can use different authentication methods and other VPN configuration settings, as appropriate."

Azure VPN gateway supports multiple clients connecting to it at the s

[2020-10-16 20:36] rjmille2 opened #64539 "deprecated command in step to create azure app service"
I received the following warning when trying to follow this lesson.
`az group deployment create \

`

This command is implicitly deprecated because command group 'group deployment' is deprecated and will be removed in a future release. Use 'deployment group' instead.

Looks like you need to update your deployment script for the app service to use 'deployment group' instead of 'group deployment'

-

[2020-10-16 20:37] vishiy commented on #63988
@Blackbaud-ChrisBlythe - What scrapping mechanism you are using ? Is it node level or cluster level ? Also is it thru pod annotations or k8s services ?

[2020-10-16 20:40] JamesTran-MSFT commented on #64532
@softwarecraft
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-16 20:41] akania commented on #64358
Thank you for reporting @phwecker , we'll update quickstart with correct versions of webpack & webpack-cli

[2020-10-16 20:46] JamesTran-MSFT commented on #64538
@andydwersteg
Thanks for your feedback!

This issue has been addressed within the below GitHub issue and there is currently an open PR waiting to be merged to update the [PS documentation](https://docs.microsoft.com/en-us/powershell/module/az.keyvault/get-azkeyvaultsecret?view=azps-4.8.0&viewFallbackFrom=azps-4.6.1#example-5--get-the-plain-text-value-of-the-current-version-of-a-specific-secret).

[2020-10-16 21:08] WinstonHoward-MSFT commented on #64301
Hi @SnoWolfT ,

Yes I've been communicating with them internally. Updating those scripts is part of an ongoing plan. Thanks for your patience.

[2020-10-16 21:15] NavtejSaini-MSFT commented on #64537
@tstahnke2 We are checking this and we will get back to you.

[2020-10-16 21:15] JamesTran-MSFT commented on #64443
@smizrohi
Thank you for pointing this out! I walked through the documentation and ran into this issue as well.

![image](https://user-images.githubusercontent.com/36619112/96309343-f644c300-0fb9-11eb-8395-b128c6f84ed1.png)

**Next Steps:**
I have assigned this issue to the author who will investigate and update as appropriate.

If you have any other questions, please let me know.
Thank you for you

[2020-10-16 21:20] dahovey opened #64542 ""Works with the CLI" is vague and should specify particular CLI"
Under feature comparison table, item `Works with the CLI` under `Environment` is not clear which CLI is being considered (Azure CLI or Azure Dev Spaces CLI ?).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11c7ed9a-6d06-96cf-e79a-2d5f15b59d1b
* Version Independent ID: 4d2dfd6d-09eb-7d64-5a8b-8a171d32b573
* Content: [M

[2020-10-16 21:24] JamesTran-MSFT commented on #64472
@SB-o-matic
Thank you for the detailed message and product feedback!

If you'd like to get any new or old feature implemented please feel free to create a feature request within our [User Voice forum](https://feedback.azure.com/forums/34192--general-feedback).

Thank you for your time and patience throughout this issue.

[2020-10-16 21:26] #64242 closed

[2020-10-16 21:27] #64264 closed

[2020-10-16 21:33] JamesTran-MSFT commented on #64511
@Larryngolog
Thank you for your patience.

When it comes to Office365 and AzureAD, your Microsoft 365 subscription includes a free Azure AD subscription, which means you'll be using the AzureAD Free retention policies.

For more info:
[Azure AD editions and Microsoft 365 identity management](https://docs.microsoft.com/en-us/microsoft-365/enterprise/azure-integration?view=o365-worldwide#azure-ad-ed

[2020-10-16 21:45] NavtejSaini-MSFT commented on #64262
@mattneerincx We are checking this our author regarding the same.
@rohitnayakmsft Please check if the document can be enhanced.

[2020-10-16 21:47] VladimirKhvostov opened #64543 "When enabling InfiniBand on the ND40rs_v2 VM, please use the 4.7-1.0.0.1 Mellanox OFED driver."
Important sections says:
When enabling [InfiniBand](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/enable-infiniband) on the ND40rs_v2 VM, please use the 4.7-1.0.0.1 Mellanox OFED driver.

I believe 4.7-1.0.0.1 was the latest version of the driver at the time of writing, but current version is 5.1-2.3.7.1 according to https://www.mellanox.com/products/infiniband-drivers/linu

[2020-10-16 21:52] andydwersteg commented on #64538
Hi James,
The attached item is indeed on the same topic, but not the same piece of documentation. It looks like the other requestor is able to use the new solution for getting the secret ([System.Net.NetworkCredential]::new("", $SecurePassword).Password) however the documentation I was giving feedback on is about getting a certificate from the keyvault, not a password.

Is this documentation also

[2020-10-16 21:57] andydwersteg commented on #64538
The .Password threw me. Going this path does appear to return the same value as 'SecretValueText':

[System.Net.NetworkCredential]::new("", $kvSecret.SecretValue).Password

[2020-10-16 21:58] DerekHerman-MSFT commented on #64510
@crow-ua
Thanks for providing the additional details. I can replicate the issue from my side. Is there a particular reason you are generating the SAS via ARM rather than in c#? Trying to better understand the use-case. We have a c# sample for SAS creation.  https://docs.microsoft.com/en-us/rest/api/eventhub/generate-sas-token#c

[2020-10-16 22:00] satoshk opened #64544 "Attested data does not appear using Sample 2"
Sample 2: Validating that the VM is running in Azure seems a bit awkward which is Attested data does not appear. In the line 16, it should be '$content'.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fdce995-5347-32c4-119f-6e8484250859
* Version Independent ID: 3dcfe7f4-cbb8-6323-5d93-b7e6b7f74db7
* Content:

[2020-10-16 22:05] MarileeTurscak-MSFT commented on #64234
Thanks! I made a pull request to add a guest user scenario to this page. https://github.com/MicrosoftDocs/azure-docs-pr/pull/134314

CC @curtand

[2020-10-16 22:05] #64234 closed

[2020-10-16 22:12] JamesTran-MSFT commented on #64516
@heitormocelin
Thank you for pointing this out and the product feedback!

[2020-10-16 22:12] #64516 closed

[2020-10-16 22:14] HeidiSteen commented on #64525
Doc updates are live:  https://docs.microsoft.com/en-us/azure/search/search-security-rbac
#please-close

[2020-10-16 22:14] #64525 closed

[2020-10-16 22:16] JamesTran-MSFT commented on #64538
@andydwersteg
Thank you for pointing this out! I completely missed that you were providing feedback on getting a certificate from the Key Vault, not a password.

I'll go ahead and assig this issue to the author of this doc to investigate and update as needed.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue!

[2020-10-16 22:17] HeidiSteen commented on #63520
@ignaciofls Doc updates are live -- thanks for filing the issue!

- https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity#shared-private-link-resource-limits
- https://docs.microsoft.com/en-us/azure/search/search-indexer-howto-access-private

#please-close

[2020-10-16 22:17] #63520 closed

[2020-10-16 22:29] BharathNimmala-MSFT commented on #63725
@anumalasri My sincere apologies for delay in getting back to this thread. Just checking to see that you already tried out this option of associating the [cloud instance name] (https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#cloud-role-name) and that didn't work out or you see just the instance name and not the DB name ?

{
  "instrumentationSettings": {
    "previe

[2020-10-16 22:41] Mike-Ubezzi-MSFT commented on #64257
@vhorne Can you take a look at this `doc-enhancement` and update the information (if available) in the [Selector](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview#selector-optional) section. Although an option input to the command, it would be beneficial to see optional input arguments, as there is no detail of the `matchVariable collection`?

## Selecto

[2020-10-16 22:45] writex opened #64546 "What is DB_Size?"
This page uses DB_Size without first explaining what it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76dfa24f-b18f-ff48-db93-ddb1d60a57ff
* Version Independent ID: fdd3678e-4ddb-3fc6-8bd1-e35e40ec2215
* Content: [Capacity planning for Service Fabric apps - Azure Service Fabric](https://docs.microsoft.com/en-us/az

[2020-10-16 22:49] Karishma-Tiwari-MSFT commented on #64533
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-16 22:50] Karishma-Tiwari-MSFT commented on #64543
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-16 22:51] Karishma-Tiwari-MSFT commented on #64546
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-16 22:52] Karishma-Tiwari-MSFT commented on #64544
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-10-16 22:52] #64544 closed

[2020-10-16 22:53] Mike-Ubezzi-MSFT commented on #64520
@Bence98007 Thank you for bringing this perspective to our attention. I am going to have a networking engineer respond to your inquiry directly but, I did want to offer the following [DNS configuration scenarios](https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#dns-configuration-scenarios) information. It might be helpful here.

[2020-10-16 22:56] Mike-Ubezzi-MSFT commented on #64521
@ahujtarun Thank you for taking the time to detail this feedback. This is being reviewed and an update will be made as applicable to any current, pending updates.

[2020-10-16 22:58] #64511 closed

[2020-10-16 23:01] Karishma-Tiwari-MSFT commented on #64214
I have reached out to the internal team to check if it is on the roadmap and if it can be shared. Thanks.

[2020-10-16 23:03] #64501 closed

[2020-10-16 23:04] Lobosque commented on #36222
This also happens in my azure account. where am I supposed to report this?

[2020-10-16 23:11] Mike-Ubezzi-MSFT commented on #64523
@justassavickasvisma - Thank you for bringing this to our attention. I will have the content team review this and make updates as appropriate.

[2020-10-16 23:15] ChaitanyaNaykodi-MSFT commented on #64278
Hello @nebhagat, Yes that is correct currently the `signalRTrigger` binding is not supported for the current version of the extension bundle. The PR mentioned by you will definitely address that. Till then you can [explicitly install the extensions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-register#explicitly-install-extensions), this way you are not dependent on t

[2020-10-16 23:40] savagemonitor opened #64548 "This page should contain pointers to instructions for updating certificates when using thumbprints"
This page has a paragraph at the top that says that the process for updating certificates is easy if using a CN and requires more work if using thumbprints.  However, there's no section after updating the certificates in the scale set that say what to do if you're using thumbprint certificates.

This has caused my team pain as we inherited a Service Fabric Cluster and updated the certificates with

[2020-10-16 23:56] scubakiz opened #64549 "Where's the username/password defined for the AKS Cluster Node?"
This doc is missing a critical step.  When you use the VM on same network to connect to the AKS Node, what login credentials do you use?  I need no mention of that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baa35e3e-65b0-d980-bd0a-0dcb198fd791
* Version Independent ID: 0a25d99a-43a8-c3f4-37e8-cbb72167af7b
* Conten

[2020-10-17 00:01] bbrendon opened #64550 "There is no edit button"
There is no edit button
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8c8392-0eb4-cda5-c282-0656869b7a6b
* Version Independent ID: 5d4d2a61-9d83-a09e-2c33-36465a04e5c5
* Content: [Detach a data disk from a Windows VM - Azure - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtu

[2020-10-17 00:33] BharathNimmala-MSFT commented on #64265
@nkiest - Thanks a lot for helping on the thread.

@pnarsi - Thanks again for your queries and hope the information shared by @nkiest is helpful. Please review the above information and circle back if you have any other queries.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue, however if you have any further quer

[2020-10-17 00:33] #64265 closed

[2020-10-17 00:41] ChaitanyaNaykodi-MSFT commented on #64534
Hello @kevbry, Thank you for your feedback! We will review and update as appropriate.

[2020-10-17 00:44] ChaitanyaNaykodi-MSFT commented on #64173
Hello @kudlatiger, We will now proceed to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-10-17 00:44] #64173 closed

[2020-10-17 00:48] #63725 closed

[2020-10-17 01:25] stevenmgregory opened #64551 "Useless guide"
The steps are hard to follow as there are missing bits of information and the screen shots do not match what i am seeing in VS2019 community.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first f

[2020-10-17 03:19] ClaudioRifo commented on #64525
I think that the new text still does not reflects the limitations on READER role.

Also, im not quite sure if this is could be called a bug...  should not a reader access be able to read all statistics?

![image](https://user-images.githubusercontent.com/23661683/96327260-5a917200-100e-11eb-82cb-4ebc5d4c5eef.png)

[2020-10-17 03:33] Mike-Ubezzi-MSFT commented on #64526
@zmarty Thank you for bringing this discrepancy to our attention. I am going to have an engineer review this and have the content updated as appropriate.

[2020-10-17 03:35] Mike-Ubezzi-MSFT commented on #64528
@joanteixi Thank you for your inquiry. We are reviewing this and will have an update for you shortly.

[2020-10-17 03:38] Mike-Ubezzi-MSFT commented on #64530
@marciomocellin Thank you for bringing this issue to our attention and detailing the issue. I am going to have an engineer familiar with this service, review your issue and engage you directly.

[2020-10-17 03:41] Mike-Ubezzi-MSFT commented on #64535
@nelroosevelt Thank you for bringing this to our attention. We are reviewing your feedback and will update the document as appropriate.

[2020-10-17 03:46] Mike-Ubezzi-MSFT commented on #64536
@ryanwinter Thank you for bring this to our attention. I will have an engineer review your feedback and update the document as appropriate.

[2020-10-17 04:01] anuragdalmia commented on #64466
We can clarify this in the article. @bandersmsft - can you help add FAQs for transfers. But yes, subscriptionID and resource id dont change.

[2020-10-17 04:29] BhargaviAnnadevara-MSFT commented on #64542
@dahovey Thanks for the question! We're investigating this and will get back to you shortly.

[2020-10-17 05:55] AnuragSharma-MSFT commented on #64274
@WenJason We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-17 05:55] #64274 closed

[2020-10-17 05:55] AnuragSharma-MSFT commented on #64288
@Westmorland We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-17 05:55] #64288 closed

[2020-10-17 06:00] mabicca opened #64553 "Missing steps"
Hi there,

Under this section:

**groupadd -g 54345 asmadmin
 groupadd -g 54346 asmdba
 groupadd -g 54347 asmoper
 useradd -u 3000 -g oinstall -G dba,asmadmin,asmdba,asmoper grid
 usermod -g oinstall -G dba,asmdba,asmadmin oracle**

There are a few issues, the group oinstall, dba do not exist so we need steps to create those before as well as the user oracle.

I believe these steps need to be adde

[2020-10-17 08:00] j-c commented on #64433
I just came across the same issue. I just arbitrarily specified a private IP for the sake of continuing the exercise.

[code]

After that, I deleted the private IP of the gateway so that it doesn't cause an error later when you create the  listener.
[code]

[2020-10-17 09:14] souravmishra-msft commented on #64020
We are closing this thread for now. Please do let us know if there are any more queries around this.

[2020-10-17 09:14] #64020 closed

[2020-10-17 10:20] smith1511 opened #64555 "Missing comma"
In the section below, a comma is missing.

*Current*
Can I use custom VM extensions?
No AKS is a managed service, and manipulation of the IaaS resources is not supported. To install custom components, etc. please leverage the Kubernetes APIs and mechanisms. For example, leverage DaemonSets to install required **components.**

*Proposed*
Can I use custom VM extensions?
No, AKS is a managed service,

[2020-10-17 11:13] omki12 opened #64556 "Deprecated | Wrong information: Enrollment Group"
The line

is no more valid on this [page](https://docs.microsoft.com/en-us/azure/iot-dps/how-to-manage-enrollments#create-a-device-enrollment).
Now user can add the "Symmetric Key" mechanism as an enrollment group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67bbed40-83cd-0728-8e5d-59ab1ac1db5a
* Version Independent

[2020-10-17 11:54] crow-ua commented on #64510
@DerekHerman-MSFT
This is part of our CD process. We are creating storage account, creating blob inside it, and generating SAS token for the application that would be using it. Then in the same deployment pipeline process we are passing this SAS token as argument to another ARM that configures App Service - it sets it as application setting. This way we can later just drop application build artefa

[2020-10-17 12:42] janneraj opened #64557 "From this page https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log"
[Enter feedback here]
I try to run this file with only changing my log analytics default workspace at the beginning of the workspace
and file ActivityLogTemplate.json.

when I run the command using Azure CLI Bash

I will get the following error
az deployment group create --name roll01 --resource-group defaultresourcegroup-neu --template-file ActivityLogTemplate.json
Deployment failed. Correlation

[2020-10-17 14:34] RonnieQuan opened #64558 "Is Private Endpoint ASG Support on the Roadmap?"
Does Azure plan to support associating private endpoint with ASG?

Thank you!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8ecf-8b80-fd0a3cc62090
* Version Independent ID: 92c54dc6-8ddf-b1f7-4a58-d61b8cd7fe25
* Content: [What is an Azure Private Endpoint?](https://docs.microsoft.co

[2020-10-17 14:46] DDoyley opened #64559 "Error in return statement"
This return statement, shown in the example code, is incorrect:-

`return container.GetBlockBlobClient(blobName).Uri + sasToken;`

The resulting URI doesn't work because it is missing the question mark. It should read:-

`return container.GetBlockBlobClient(blobName).Uri + "?" + sasToken;`

This appears to be missing from all of the examples shown in this article.

---
#### Document Details

⚠ *Do

[2020-10-17 14:52] jarekkoziol commented on #57846
@JasSuri  I tried to put instrumentation key but it didn't work. Finally, I used ApplicationInsight from other region (that didn't require IngestationEndpoint).

[2020-10-17 15:03] SadiqhAhmed-MSFT commented on #64514
@frehnejc Thanks for the comment. We are looking into this and will get back to you soon.

@SaiKishor-MSFT To share updates.

@SubhashVasarapu-MSFT @GitaraniSharma-MSFT FYI!

[2020-10-17 15:04] SadiqhAhmed-MSFT commented on #64513
@RonnieQuan Thanks for the comment. We are looking into this and will get back to you soon.

@SaiKishor-MSFT To share updates.

@SubhashVasarapu-MSFT @GitaraniSharma-MSFT FYI!

[2020-10-17 15:11] SadiqhAhmed-MSFT commented on #64539
@rjmille2 Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-17 15:13] SadiqhAhmed-MSFT commented on #64548
@savagemonitor Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-17 15:15] veryblue1118 opened #64560 "$blobchangefeed can be seen in Azure Portal"
According to the next note,  the $blobchangefeed container is not visible in Azure Storage Explorer or the Azure portal.
[code]

However, it seems to be visible in the Azure portal like the next. :
![image](https://user-images.githubusercontent.com/72372443/96343986-056c6380-10d5-11eb-8c16-bf9125b83cad.png)

Of course, it doesn't seem to be visible in Azure Storage Explorer.

---
#### Document Det

[2020-10-17 15:17] SadiqhAhmed-MSFT commented on #64549
@scubakiz Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-17 15:24] SadiqhAhmed-MSFT commented on #64550
@bbrendon Appreciate if you could provide more details so that we can assist you accordingly.

[2020-10-17 15:25] SadiqhAhmed-MSFT commented on #64551
@stevenmgregory Thanks for the feedback! We are taking a look into this and will get back to you soon.

@ggailey777 FYI!

[2020-10-17 15:28] SadiqhAhmed-MSFT commented on #64555
@smith1511 Thanks for the feedback! We are taking a look into this and will get back to you soon.

@mlearned FYI!

[2020-10-17 15:30] SadiqhAhmed-MSFT commented on #64553
@mabicca Thanks for the feedback! We are taking a look into this and will get back to you soon.

@Dbakevlar FYI!

[2020-10-17 15:32] BharathNimmala-MSFT commented on #64557
@janneraj Thank you for your query, we will look into it and get back to you at the earliest.

[2020-10-17 15:38] StingyJack opened #64561 "The directions are out of date. There is no containers menu item in the AKS"
So I cant use these directions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 993779b5-188d-13ba-e4fc-9ce727c5f9f9
* Version Independent ID: f81710f5-b542-fdff-522e-269d9406b4c0
* Content: [Monitor an Azure Kubernetes Service (AKS) cluster deployed - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/i

[2020-10-17 15:42] Bence98007 commented on #64520
One thing I wanted to state:
Windows 8.1 has this error, it only works normally on Windows 7 and Windows 10.
The enviroment is the same.

[2020-10-17 16:19] bbrendon commented on #64550
#4. "At the top of the Disks pane, select Edit"

[2020-10-17 16:53] mabicca commented on #64553
Hi @SadiqhAhmed-MSFT , thank you! There were a few other things I noticed, we might need to review this document a bit more since it was published back in 2018 and it would be good to add some references for users deploying on RHEL 6/7 as well, I can definitely help collecting some info if needed too.

Thank you!
-Marco

[2020-10-17 17:26] MADooney commented on #34239
Same problem here! This is so typical Microsoft crap! You learn some new tool or technology... that Microsoft decides to either change the name of it so you cant find information on it or reclassify or abandon it and still cant find anything on it. Don't get me wrong.. for the most part I am a Microsoft fan but this sort of thing makes something that should be straight forward more complicated tha

[2020-10-17 19:01] Oppedijk opened #64563 "Remove RDP sample and replace with SSH"
In the "view detected threats part" Please remove the Windows RDP example, and show a linux example.
The question is does Security Center detect failed logins?

With some testing this does not seem to be the case

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fe1387d-841a-84b2-56fd-55f1935958d4
* Version Independent I

[2020-10-17 21:46] HeidiSteen commented on #64525
@ClaudioRifo  I see where you are coming from, but in Cognitive Search, read-access to system information requires Admin rights. Specifically, in the Usage tab, the portal client is calling this --> https://docs.microsoft.com/en-us/rest/api/searchservice/get-service-statistics (has an admin key requirement).  I believe the UX folks are taking a look at the Usage tab experience. They might hide the

[2020-10-17 22:11] BharathNimmala-MSFT commented on #64561
@StingyJack Sorry for experience and thank you for bringing this to our notice.

With the current portal view , I see that the 5th step [Enable directly from AKS cluster in the portal](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-enable-existing-clusters#enable-directly-from-aks-cluster-in-the-portal) needs more clarity.

![AKS](https://user-images.githubusercon

[2020-10-17 22:36] cliang57 opened #64564 "Should also add an example of PostgreSQL JDBC Copy Manager for the COPY Command to Load Data from STDIN."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c5270fb-e81f-b5d7-a3ce-c19e80180974
* Version Independent ID: 6b0a9812-b6ac-ec25-edd6-0bdfd600d2d5
* Content: [Use Java and JDBC with Azure Database for PostgreSQL](https://docs.microsoft.com/en-us/azure/postgresql/connect-java)
* Content Source: [ar

[2020-10-17 22:40] cliang57 commented on #64564
Ref:
[1] https://docs.microsoft.com/en-us/azure/postgresql/connect-java
[2] https://jdbc.postgresql.org/documentation/publicapi/org/postgresql/copy/CopyManager.html
[3] https://dba.stackexchange.com/questions/191245/how-do-i-use-the-copy-command-with-jdbc
[4] https://jdbc.postgresql.org/download.html
[5] https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html
[6] https://www.tut

[2020-10-17 22:42] BharathNimmala-MSFT commented on #64561
@StingyJack I have raised the PR to update the document, once reviewed and approved it will be merged with the live document.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been already called out above. We will go ahead and close this issue, however if you have any further queries please tag us in your reply and will be happy to

[2020-10-17 22:42] #64561 closed

[2020-10-17 23:14] gabrielbarceloscn commented on #19305
Hi @MustafaC114 , have you solved this question?

I'm trying for hours, with no success. If you have the solution and could save me :)

<img width="435" alt="image" src="https://user-images.githubusercontent.com/1107735/96355191-481e4380-10b5-11eb-8c8c-fb8d66d943cb.png">

[2020-10-17 23:14] rharris-hs opened #64565 "Error: no such option: --subscription-id (need to use --resource-id)"
[Enter feedback here]
Trying to run the command from this page:
databricks secrets create-scope --scope <scope-name>    --scope-backend-type AZURE_KEYVAULT --subscription-id <azure-keyvault-subscription-id> --dns-name <azure-keyvault-dns-name>

gives the error
Try 'databricks secrets create-scope -h' for help.

Error: no such option: --subscription-id

it looks like --resource-id TEXT should be us

[2020-10-17 23:52] SatishBoddu-MSFT commented on #64556
Hello @omki12 Thanks for the feedback.

We will fix this issue soon and will let you know.

![image](https://user-images.githubusercontent.com/62923178/96355689-231bd780-1099-11eb-86c9-068f727e5091.png)

[2020-10-18 00:14] gabrielbarceloscn commented on #19305
# ✅ *RESOLVED*

## Notes that will help you:

### 1. Don't try to see certificates in bash:

I was expecting to see the certificates using the Bash console in Kudu. However, the /var/ssl folder is completely absent in there. To check if the certificates are there, we should write an app to output certificate info.

Expected paths:
**Public:** /var/ssl/certs/<thumbprint>.der
**Private:** /var/ssl/p

[2020-10-18 00:36] citizen12 opened #64566 ""Test" tab not present in UX"
In Test the Realtime Endpoint, the docs refer to a "Test" tab and button that I do not see in the current UI.

Documentation:
<img width="700" alt="image" src="https://user-images.githubusercontent.com/12685819/96356110-fb2f7280-109e-11eb-8684-1293c1b5a0d7.png">

My interface:
<img width="503" alt="image" src="https://user-images.githubusercontent.com/12685819/96356121-19956e00-109f-11eb-9d8a-1492

[2020-10-18 02:34] ravishankerb opened #64567 "PI"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-10-18 02:37] ravishankerb opened #64568 "How is Azure AD P1/P2 determined"
The page
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/reference-reports-data-retention#feedback
says that for P1/P2 the logs are retained for 30 days. How is Azure AD P1/P2 determined? If i have a single P1/P2 license in the tenant will the entire tenant become P1/P2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-10-18 02:45] SadiqhAhmed-MSFT commented on #64558
@RonnieQuan Thanks for the comment. We are checking on this and will get back to you shortly.

[2020-10-18 02:47] SadiqhAhmed-MSFT commented on #64559
@DDoyley Thanks for the feedback. We will review this with the content owner and update as appropriate.

[2020-10-18 02:49] SadiqhAhmed-MSFT commented on #64560
@veryblue1118 Thanks for the feedback. We will review this issue and update as appropriate.

[2020-10-18 02:51] SadiqhAhmed-MSFT commented on #64563
@Oppedijk Thanks for the comment. We are investigating this issue and will get back to you shortly.

[2020-10-18 03:21] jmoralesv opened #64570 "Add a reference for EnableAuthenticationTrackingJavaScript when identifying authenticated users in Application Insights in ASP.NET Core web apps"
Hi all,
I was reading the documentation to understand how to identify authenticated users in Application Insights (AI) in an ASP.NET web app, and I came across the [`EnableAuthenticationTrackingJavaScript` property in the `ApplicationInsightsServiceOptions` class](https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/NETCORE/src/Shared/Extensions/ApplicationInsightsServiceOptions.cs

[2020-10-18 03:30] #64556 closed

[2020-10-18 03:36] SB-o-matic commented on #64472
Why was this closed? There was no attempt to answer any of my questions. Please reopen.

[2020-10-18 04:09] Mike-Ubezzi-MSFT commented on #64564
@cliang57 Thank you for taking the time to detail this document suggestion. I am going to forward this to the content team to evaluate and update as appropriate.

[2020-10-18 04:18] Mike-Ubezzi-MSFT commented on #64565
@rharris-hs Thank you for bringing this to our attention. We are evaluating the feedback you have provided and will have the document updated as appropriate.

[2020-10-18 04:21] Mike-Ubezzi-MSFT commented on #64566
@citizen12 Thank you for bringing this to our attention. We are investigating and will update you shortly.

[2020-10-18 04:25] Mike-Ubezzi-MSFT commented on #64570
@jmoralesv Thank you for taking the time to detail this suggestion. This is being reviewed and an appropriate update will be made as appropriate.

[2020-10-18 06:26] ktamamu commented on #64433
j-c's workaround allowed me to proceed with the exercise. Thank you.
The exercise states that the Application Gateway can be configured with public IPs, but it seems that the APPGW WAF_V2 SKU requires both to be specified.

[2020-10-18 07:09] BhargaviAnnadevara-MSFT commented on #64567
Duplicate of [# 64568](https://github.com/MicrosoftDocs/azure-docs/issues/64568).

[2020-10-18 07:09] #64567 closed

[2020-10-18 08:15] a888882 opened #64571 "pr"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-10-18 08:23] #26892 closed

[2020-10-18 08:53] BhargaviAnnadevara-MSFT commented on #64571
@a888882 Thank you for reaching out. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-10-18 11:54] vlijmenfileer opened #64572 "Textual suggestion"
Textual suggestion

It seems:
"Replace <instrumentation_key> with your application's instrumentation key."
would be more precisely and less confusingly worded as:
"Replace <instrumentation_key> with your application insight's instrumentation key."

because as I understand it, the instrumentation key is a property of an application insights resource, not of a web app resource.

---
#### Document De

[2020-10-18 12:23] ketaanhshah opened #64573 "Azure SQL Failover Group with Private Endpoints connection string not working as documented"
Hello,
I followed the documentation on Private endpoint and also on Failover Group and used the connection string as documented in the following articles but unfortunately my App Service is unable to connect to the database when using the Failover group READ/WRITE Listener endpoint:-
https://docs.microsoft.com/en-us/azure/azure-sql/database/private-endpoint-overview
https://docs.microsoft.com/en-u

[2020-10-18 12:57] KrishnaG-MSFT commented on #64572
@vlijmenfileer Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-18 15:01] vnextcoder commented on #57861
it appears that the latest Emulator Downloaded NodeJS Sample again contains

`"start": "node app.js"`

and below line doesn't work either .
`   "start": "NODE_TLS_REJECT_UNAUTHORIZED=0 node app.js"`

So only option left is to set an Environment Variable as NODE_TLS_REJECT_UNAUTHORIZED=0 and then run the program again.

`set NODE_TLS_REJECT_UNAUTHORIZED=0`
`npm start`

I have downloaded latest Emul

[2020-10-18 16:01] laultman opened #64576 "Sample Code for Cosmos DB fails."
First the on page Feedback link to GitHub should open in a new tab! You need the failed page to fill this out with.

Trying to execute the code in a test in Visual Studio 2019 16.7.6 the section examples for Programmatically access the Azure Cosmos DB keys fails at this line:
`// Authenticate to the Azure Resource Manager to get the Service Managed token.
            string accessToken = await azu

[2020-10-18 16:46] SumanthMarigowda-MSFT commented on #64271
@piquet-h [ Enable-AzStorageStaticWebsite](https://docs.microsoft.com/en-us/powershell/module/az.storage/enable-azstoragestaticwebsite?view=azps-4.8.0)
[Programmatically enable static website on azure storage](https://stackoverflow.com/questions/54824398/programmatically-enable-static-website-on-azure-storage)
https://stackoverflow.com/questions/53819427/enable-azstoragestaticwebsite-command-in-az

[2020-10-18 16:46] #64271 closed

[2020-10-18 16:54] SumanthMarigowda-MSFT commented on #64422
@akashperfect   Let me explain how this roles works and the define of the RBAC
Refer to the suggestion mentioned in this [link ](https://social.msdn.microsoft.com/Forums/en-US/4adfa23e-d50a-4f47-ab28-4e674afa5ec9/using-rbac-on-azure-storage?forum=windowsazuredata)

If you still face any issue I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not

[2020-10-18 16:55] #64422 closed

[2020-10-18 16:58] SumanthMarigowda-MSFT commented on #64442
@ctiveNick For better understanding:  Can you provide more context on the issue?

[2020-10-18 17:09] RonnieQuan opened #64577 "Bastion Host Support Peered Virtual Network"
Can you please confirm if peered vnet is supported or on the roadmap?

Currently we design our bastion host per subscription, per region, per virtual network.
Would like to see if a centralized jump box is doable through peered vnet.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1d3f69-74ba-0b

[2020-10-18 17:57] robertmclaws commented on #63575
That may very well be what the product group wants, but that is not necessarily what will happen. Azure Functions is not always the desired architecture, especially if you have to service some architecture in the Cloud and some On-Prem. Azure WebJobs allows you to service both situations in ways Azure Functions does not. The product group has very little say in what customers will actually choose.

[2020-10-18 18:09] SadiqhAhmed-MSFT commented on #64568
@ravishankerb Thanks for the question. We are taking look into this and will get back to you shortly.

[2020-10-18 19:28] aspnet4you commented on #63171
I encountered this famous message- "error: You must be logged in to the server (Unauthorized)" and it was frustrating! I just updated my aks cluster to use AKS-managed Azure Active Directory and I could no longer run kubectl commands. devicelogin is always successful. I tried two accounts and they both are under AAD cluster admin group but they were failing on RBAC.

This does not work-
# Access a

[2020-10-18 20:41] piquet-h commented on #64271
It is directly related to the documentation. It's missing. As in, it doesn't exist. If you look at the documentation of other resources, they include how to create in ARM. This doesn't. It's incomplete.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SumanthMarigowda-MSFT <notifications@github.com>
Sent: Monday, October 19, 2020 3:46:37 AM
To: MicrosoftDocs/

[2020-10-18 21:18] JamesTran-MSFT commented on #64472
@SB-o-matic
I have reached out to our engineering teams regarding your questions and will update as soon as possible.

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-10-18 22:01] StingyJack commented on #64561
@BharathNimmala-MSFT  - Yeah that doesnt work either...
![image](https://user-images.githubusercontent.com/15381181/96386821-c50bf480-116b-11eb-9217-97671601ce2c.png)
... the page just spins on loading when I click on Insights. I've left it for a while and it never changes on either of our two AKS instances.

[2020-10-18 23:39] pnarsi commented on #64265
@nkiest  @BharathNimmala-MSFT

The only mention of custom DNS settings related to Azure Monitor in the linked you shared is for the following:
![Capture](https://user-images.githubusercontent.com/7891408/96388529-2cba5200-11f5-11eb-9070-c3a2cc8a97f9.JPG)

The Telemetry FQDN listed below do not appear in the custom DNS configuration above so it is unclear to me how the traffic below will route via

[2020-10-19 00:36] kemurayama opened #64579 "Who will receive maintenance notification, Owner or Service Admin ?"
Hi,

I found **Owner** will receive maintenance notification in this document.
However, [in another document](https://docs.microsoft.com/en-us/azure/virtual-machines/maintenance-notifications), **Service Admin** will receive it.

Each role is different in Azure. Owner is regarded as RBAC role.

In this document, does Owner equal to Service Admin ?

---
#### Document Details

⚠ *Do not edit this se

[2020-10-19 01:13] aronchick opened #64580 "Please provide guidance for Azure KeyVault"
When executing download cert using the Azure CLI, I get this:

"ValidationError: The user, group or application 'appid=<VAL>;oid=<VAL>;iss=sts.windows.net/<VAL>' does not have secrets get permission on key vault '<VAL>;location=eastus2'. For help resolving this issue, please see go.microsoft.com/fwlink/?linkid=2125287"

(<VAL> are subbed for actual values)

Honestly, this is not very valuable to l

[2020-10-19 01:19] SteveBurkettNZ opened #64581 "Update required : Bastion product page FAQ for regions"
Not this page, but hoping it'll get to the right person on the Azure Bastion product team.

The 'Which regions are available?' FAQ at the bottom of the [Azure Bastion product page](https://azure.microsoft.com/en-us/services/azure-bastion/#faqs) needs updating, only lists the six original regions. Or probably better to replace with a link to the FAQ on this page.

---
#### Document Details

⚠ *Do n

[2020-10-19 01:21] aastha-20 opened #64582 "Azure B2C AD not returning correct token response"
​I have registered an Application and SignIn - SignUp Userflow in Azure AD B2C, then followed the steps given in ​[link ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/access-tokens) to generate access token. But the response Json from _https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/oauth2/v2.0/token_ returns "id_token" key instead of "access-token".

Problem is whe

[2020-10-19 01:35] GitaraniSharma-MSFT commented on #64577
@RonnieQuan, thank you for the question. We are checking on this and will get back to you shortly.

[2020-10-19 02:03] MayankBargali-MSFT commented on #63577
@keatseongchan Just following up here. Hope my previous comment clears things up.

[2020-10-19 03:27] KalyanChanumolu-MSFT commented on #64576
@laultman Thank you for letting us know.
Let me give this at try at my end and come back to you.

[2020-10-19 03:27] VikasPullagura-MSFT commented on #64579
@kemurayama
Thanks for your Question! We are currently investigating and will get back on this.

[2020-10-19 03:34] SatishBoddu-MSFT commented on #64370
Hello @alevincenzi ,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2020-10-19 03:34] #64370 closed

[2020-10-19 03:35] ayshakeen commented on #59242
Thanks for the question. The view is to use the "count" metric to see the Credits remaining.
![image](https://user-images.githubusercontent.com/29314587/96398762-7e28f980-1181-11eb-9dbe-8625e35f4936.png)

[2020-10-19 03:36] SatishBoddu-MSFT commented on #64272
Hello @felipepessoto Just checking back over here, we will update you as soon as possible.

[2020-10-19 03:44] DarthRinzler opened #64584 "It would be great if we could add some code samples here for accessing the Keyvault from .NET on the batch machines"
Or simply adding a link to existing documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44fa98af-834b-6e58-9162-abc3d62f97c4
* Version Independent ID: a04ffab8-1325-318b-214d-e331ef09d225
* Content: [Securely access Key Vault with Batch - Azure Batch](https://docs.microsoft.com/en-us/azure/batch/credential-acc

[2020-10-19 03:49] YutongTie-MSFT commented on #64392
@mishrapratyush Hi, this document has been updated, thanks again for your feedback.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-19 03:49] #64392 closed

[2020-10-19 04:07] SnehaAgrawal-MSFT commented on #64266
@cfauchere Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-10-19 04:10] SnehaAgrawal-MSFT commented on #64287
@chrolivier Since we didn't here from you we will now proceed to close this thread. If there are further questions regarding this matter, Please Let us know.

[2020-10-19 04:10] #64287 closed

[2020-10-19 04:11] SnehaAgrawal-MSFT commented on #64391
@turbozapekanka Since we didn't here from you, we will now proceed to close this thread. If there are further questions regarding this matter, Please let us know.

[2020-10-19 04:11] #64391 closed

[2020-10-19 04:15] shashishailaj commented on #64580
@aronchick Thank you for your feedback . We will investigate and update the thread .

[2020-10-19 04:29] CHEEKATLAPRADEEP-MSFT commented on #64407
@saf-itpro The document has fixed to reflect the changes.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-19 04:29] #64407 closed

[2020-10-19 04:33] AnuragSharma-MSFT commented on #64419
@Letsan You can find the appropriate location of certificates as mentioned in below screenshot depending on operating system:
![image](https://user-images.githubusercontent.com/66360845/96401908-46a66580-11f2-11eb-9aed-ed3686f89abc.png)

For more details please refer to the article:
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code

[2020-10-19 04:42] psmanhas commented on #64584
@DarthRinzler Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-19 04:43] psmanhas commented on #64584
@JnHs
Can you please check and add your comments on this doc update request as applicable

[2020-10-19 04:45] shashishailaj commented on #64582
@aastha-20 Thank you for your feedback . We will investigate and update the thread.

[2020-10-19 04:51] Svijay-msft commented on #64573
@ketaanhshah , Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-19 04:53] ChaitanyaNaykodi-MSFT commented on #64278
Hello @nebhagat, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-19 04:53] #64278 closed

[2020-10-19 04:59] bangdu-ms opened #64585 "AzureFrontDoor service tag is not available in Firewall"
[Enter feedback here]
In following statement, use following tags in FW is adviced.

However, according to the service tag docs, these service tags are not available in Azure Firewall right now.

I can confirm these tags are not visible in the service tag dropdown from Azure Firewall

This seems to be a conflict, please confirm and update this. Thanks

---
#### Document Details

⚠ *Do not edit this

[2020-10-19 05:11] KrishnaG-MSFT commented on #64585
@bangdu-ms  Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-19 05:22] #64231 closed

[2020-10-19 05:33] dominicbetts commented on #64485
The article has been updated now. Closing this issue. Thanks!

#please-close

[2020-10-19 05:33] #64485 closed

[2020-10-19 05:35] dominicbetts commented on #63135
Hi @danewalton - I'm closing this issue now as we haven't heard back from you after the last message. Please feel free to reopen it if you have any follow up questions. Thanks.
#sign-off

[2020-10-19 05:35] #63135 closed

[2020-10-19 06:00] PramodValavala-MSFT commented on #64539
@rjmille2 Thanks for catching that! We have worked up a PR to address this, which once merged should reflect in a couple of hours.

[2020-10-19 06:00] #64539 closed

[2020-10-19 06:10] VikasPullagura-MSFT commented on #64425
@megaalc Apologies for delayed response on this.
I checked with internal team on this. The general recommendation from the Azure Service Health team is to not restrict by region. So, this is not restricted by region. Please try in any region as there are not restrictions.

[2020-10-19 06:17] CHEEKATLAPRADEEP-MSFT commented on #64528
@joanteixi  If you create a Spark Table, that table will be created as an external table in SQL On-Demand so you can query it without having to keep a Spark cluster up and running. Currently this is only supported with Spark Tables created using Parquet as the input format.

From this article: https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-external-tables?tabs=sql-on-d

[2020-10-19 06:29] RohitMungi-MSFT commented on #64156
@kunamneni117 We will now proceed to close this thread. Our team is reviewing the content to ensure all required dependencies are installed.

[2020-10-19 06:38] #64156 closed

[2020-10-19 06:44] #64366 closed

[2020-10-19 06:56] amanmcse commented on #64568
@ravishankerb Yes, if you have single P1/P2 license in the tenant, all the P1/P2 features become available for entire tenant. However to stay compliant, all users who are using P1/P2 features, must be assigned with P1/P2 licenses.

**Example**:
- For member users, if you are applying conditional access policy to 10 users, all 10 users must be assigned with P1 license.
- For guest users, you need t

[2020-10-19 07:01] radium88llc commented on #52009
I tried just the full domain <tenant>.b2clogin.com and that works when you setup the 授权回调域 field on https://open.weixin.qq.com/

however the sub URL wasn't accepted. I haven't tried the URL endcoded version which I think that where the problem is.. because wechat uses a direct string match rather than do a url decode first

[2020-10-19 07:04] radium88llc commented on #52009
nevermind.. you can only use domain. just tested variations of it

[2020-10-19 07:04] SadiqhAhmed-MSFT commented on #64477
@artisticcheese You can specify the values for -TargetVMSize and -DiskType parameters to choose the right Azure SKU and storage disks for your server. The guidance is captured in the [tutorial](https://docs.microsoft.com/en-us/azure/migrate/tutorial-migrate-vmware-powershell). As an example, once you retrieve the assessment for a server, you can store it in a variable and pass the size value of th

[2020-10-19 07:05] radium88llc commented on #52009
when I said full domain please include the tenant id in front of the .b2clogin.com

[2020-10-19 07:10] amanmcse commented on #64582
@aastha-20 Looking at your POST request, I can see that you are using scope=openid, which is used for requesting id_token. In order to request the Access Token, the value of scope parameter must be the scope exposed on the protected resource which represents the permissions required to access that resource.

[2020-10-19 07:13] CHEEKATLAPRADEEP-MSFT commented on #64565
@rharris-hs Yes, you are correct. It should be replaced  **--subscription-id**  with **--resource-id** .

`databricks secrets create-scope --scope azure --scope-backend-type AZURE_KEYVAULT --subscription-id “XXXXXXXXXXXXXXX” --dns-name “https://chepra.vault.azure.net/”`

![image](https://user-images.githubusercontent.com/44426401/96412852-5c268a00-1208-11eb-9b6e-ddc3f9db10d0.png)

As per databrick

[2020-10-19 07:28] kailasandhale commented on #60167
PR is merged and changes are live now. Closing the issue.

[2020-10-19 07:28] #60167 closed

[2020-10-19 07:28] aastha-20 commented on #64582
Thanks @amanmcse for the quick response.
I could not understand how can I update the scope of my application, I have added scope=openId from this URL.

https://<tenant-name>.b2clogin.com/<tenant-name>.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=<user flow>

Also I have not updated any Permissions to my Application,
By default, it have 2 permissions - offline_access, openid.

Request yo

[2020-10-19 07:30] jdubois commented on #64564
In the quickstart documents we just show basic functionality, like how to do connect to the database and do simple CRUD operations.
I have never used that command myself, and I've been using PostgreSQL with JDBC for a long time, so I don't believe this should be in a quickstart. Also, all of our quickstarts should follow the same path, and that would make a difference between PostgreSQL and the ot

[2020-10-19 07:31] kailasandhale commented on #55583
This is handled as part of https://github.com/MicrosoftDocs/azure-docs/issues/60167 and you can find Java sample at https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-collector-api#java-sample now.
@KrishnaG-MSFT @bwren  @AjayKumar-MSFT  @akarasev Can we close this issue now?

[2020-10-19 07:42] VikasPullagura-MSFT commented on #64550
@bbrendon Thanks for bringing this to our notice. We have updated the document to reflect the portal changes. The changes will go live soon.

[2020-10-19 07:52] GitaraniSharma-MSFT commented on #64209
@mscatyao , could you please provide an update on the doc update regarding https://github.com/MicrosoftDocs/azure-docs/issues/62764 ?

[2020-10-19 07:53] KalyanChanumolu-MSFT commented on #64576
@laultman I checked the code and it works fine for me.
Could you please verify if you are signed into Visual Studio with an account that has Cosmos DB Account Reader Role permissions at minimum?

File > Account Settings

![image](https://user-images.githubusercontent.com/8835012/96416536-c2fa7200-120d-11eb-92ee-3886aed31d48.png)

Please let us know if you still face any issues

[2020-10-19 07:59] dcurwin commented on #63454
Thanks for the update. We've removed that line from the document.

#please-close

[2020-10-19 07:59] #63454 closed

[2020-10-19 08:03] TacticalVilius commented on #62877
Hi, just adding my case here. I had the exact same problem and it also worked after waiting a couple of days, just like for @HaydnDias

[2020-10-19 08:13] KalyanChanumolu-MSFT commented on #64395
@slave02 We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-19 08:13] #64395 closed

[2020-10-19 08:43] GitaraniSharma-MSFT commented on #64093
@shadowano , thank you for the update.
The cdnverify subdomain should be used when your existing domain is in use (as in your case) and it is mentioned here:
https://docs.microsoft.com/en-us/azure/cdn/cdn-map-content-to-custom-domain#map-the-temporary-cdnverify-subdomain

Post that associate the custom domain with your CDN endpoint and once you have verified that the cdnverify subdomain has been s

[2020-10-19 08:46] mmontesi commented on #54443
Same issue, the YAML properties required to make Azure Files mount working on ACI are not valid for Kubernetes specs.
@Karishma-Tiwari-MSFT can you provide a working example?

[2020-10-19 08:54] SarveshPandey opened #64587 "Incrementally Loading Data from Multiple Large tables"
Hi,

I am implementing this scenarios but while goin through the document i found this -

"In order to make the journey easy to start with, we directly use these Stored Procedures passing the delta data in via a table variable and then merge them into destination store. Be cautious that it is not expecting a "large" number of delta rows (more than 100) to be stored in the table variable.

If you d

[2020-10-19 09:02] AnuragSharma-MSFT commented on #64441
@bmeverett There are 2 databases that are in use when creating the agents. First is the target database where in we need to execute the scripts, and second one is the job database which we configure the elastic jobs on.

Running below command will only clean up the job history and not the job objects:
**_EXEC jobs.sp_delete_job @job_name='ResultsPoolsJob'_**

For complete cleanup, we need to delet

[2020-10-19 09:13] shwetams opened #64589 "HBase REST API is not enable by default, needs startup script"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1c890f7-da40-030a-9119-b2717e5fa0e6
* Version Independent ID: 2d9ed8e3-2d38-4588-b2ba-12c4aef925fc
* Content: [Tutorial - Use Apache HBase in Azure HDInsight](https://docs.microsoft.com/en-in/azure/hdinsight/hbase/apache-hbase-tutorial-get-started-li

[2020-10-19 09:18] difatkulbayanova opened #64590 "Windows supported or not"
Very confusing, first it is said that only Linux node pools are supported and then in next paragraph it is said Windows doesn't support security context so some policies may not work. So is it then supported or not?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d98d35-46d2-eb6f-6a0b-21df4d6438a

[2020-10-19 09:34] joanteixi opened #64591 "scala and orchestrate: value sqlanalytics is not a member of org.apache.spark.sql.DataFrameWrite"
Hi,

I've a simple scala notebook that writes a dataframe inside the sql pool and works well:
[code]

When I execute it, it works perfectly... but when I orchestrate inside a pipeline I get an error:

[code]

some idea? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e188fe7f-8cc8-2f0a-2ff5-c0eca25bcdce
* Versio

[2020-10-19 09:36] kummanish commented on #64213
#please-close

[2020-10-19 09:36] #64213 closed

[2020-10-19 09:37] kummanish commented on #56534
@christiankuhtz if there are no further questions can we close the issue.

[2020-10-19 09:37] difatkulbayanova opened #64592 "While a cluster admin may have permission to create and update constraint templates and constraints resources install by the Azure Policy Add-on, these aren't supported scenarios as manual updates are overwritten. Gatekeeper continues to evaluate policies that existed prior to installing the add-on and assigning Azure Policy policy definitions."
While a cluster admin may have permission to create and update constraint templates and constraints resources install by the Azure Policy Add-on, these aren't supported scenarios as manual updates are overwritten. Gatekeeper continues to evaluate policies that existed prior to installing the add-on and assigning Azure Policy policy definitions. - does it mean the built-in policy cannot be changed

[2020-10-19 09:40] HarithaMaddi-MSFT commented on #64591
@joanteixi - Thanks for reaching out. We are looking into it and will get back to you shortly.

[2020-10-19 09:44] HarithaMaddi-MSFT commented on #64587
@SarveshPandey - Thanks for posting the question. We are looking into it and will get back to you shortly.

[2020-10-19 09:52] Mahesh-MSFT opened #64594 "Azure Automation (Patch Management) and Log Analytics Workspace Linking Expansion"
hi,

can you please help with following information on Azure Automation (Patch Management) and Log Analytics Workspace Linking?

1. is there a timeline to get azure automation and log analytics workspace linking in more azure regions?
1. is it guaranteed that once both services become available in an azure region, they will be linked automatically?

thanks.

---
#### Document Details

⚠ *Do not ed

[2020-10-19 09:54] kummanish commented on #62571
#please-close

[2020-10-19 09:54] #62571 closed

[2020-10-19 10:08] psmanhas commented on #64563
@Oppedijk Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-19 10:08] psmanhas commented on #64563
@cynthn Can you please check and add your comments on this doc update request as applicae

[2020-10-19 10:10] AminPasha7 opened #64595 "The screenshot says "Create Outbound sync rule" which is not correct and misleading.."
in "Negative filtering: "do not sync these"

The screenshot says "Create Outbound sync rule" which is not correct and misleading..

the article asks to create an Inbound rule..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faed3c33-d05e-7a05-1327-27a79325f677
* Version Independent ID: 151a61e3-ea34-7716-bbc8-66177f768

[2020-10-19 10:11] nebhagat commented on #64278
Hey @ChaitanyaNaykodi-MSFT thanks for the confirmation.

The guidance to explicitly install the extension is for function in .NET? Is similar guidance available for node.js stack?

[2020-10-19 10:11] pcmarius opened #64596 "Keep connection instructions via Spark in the documentation"
The instructions on how to connect to an Azure Databricks cluster via the Spark connector in Power BI Desktop should also still be present in this article, at the very least until the Azure Databricks new connector goes GA. This is especially important considering the string manipulations needed in order to get the correct Server Name for the Spark connector to work.
---
#### Document Details

⚠ *

[2020-10-19 10:16] swhite-strath opened #64597 "Account lockout / Blocked"
Can you give some clarity around this particular setting?
Under Account Lockout settings,
Minutes until account is automatically unblocked

When would the account be blocked? after a number of failed lockouts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84b26750-880c-8f14-1628-436293de915e
* Version Independent ID:

[2020-10-19 10:17] CHEEKATLAPRADEEP-MSFT commented on #64589
@shwetams  Thanks for the question! We are investigating and will update you shortly.

[2020-10-19 10:17] asergaz commented on #64536
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-19 10:20] SarveshPandey commented on #64502
Hi @swinarko, did you get anything?

[2020-10-19 10:21] RohitMungi-MSFT commented on #64530
@marciomocellin The steps to use dataset look correct. Does your data need "time_series_id_column_names" in the time_series_settings? This [page ](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-auto-train-forecast#preparing-data)explains various scenarios for time series data for automl.

[2020-10-19 10:29] HarithaMaddi-MSFT commented on #64502
@SarveshPandey - Can you please send a mail to AzCommunity[at]microsoft[dot]com with subject: "Attn:Haritha - SSIS logging provider error in ADF" for us to share additional details with you.

[2020-10-19 10:51] jonantoine commented on #40633
Since the small-disk options have basically disappeared and it is easier to expand an os disk rather than shrink it, I think this issue should be reopened.

[2020-10-19 10:53] HarithaMaddi-MSFT commented on #64587
@SarveshPandey - The document shared an approach of using separate stored procedures for tables. Three approaches you have suggested can be used for implementation- separate, single procedure with append, custom procedure depending on the requirement.

I think you are referring to Change tracking in SQL which is auto feature in SQL that captures changes into a table once it is enabled and is more

[2020-10-19 10:53] #64587 closed

[2020-10-19 11:01] BhargaviAnnadevara-MSFT commented on #64571
@a888882 Just following up to check if you have more information regarding your ask.

[2020-10-19 11:27] SaurabhSharma-MSFT commented on #62675
@markorudloff We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-10-19 11:27] #62675 closed

[2020-10-19 11:38] VikasPullagura-MSFT commented on #63074
@athinanthny
Can you please check and add your comments on this doc update request as applicable.

[2020-10-19 11:38] GFParker opened #64598 "Create a Node.js web app in Azure, assumes Git is installed and Bash is your terminal shell"
I am trying to follow this Qujickstart guide, I have chosen my hosting platform as Windows, the next thing it says to do is Clone and run a local Node.js application, 1. On your local computer, open a terminal and clone the sample repository:  Bash  git clone...  I am currently in VS Code as I think that's where I am supposed to be, so when it says to open a terminal, I assume a VS Code Terminal,

[2020-10-19 11:42] marciomocellin commented on #64530
I don't need in this case. I filtered for this test

[code]

I will try to convert to TabularDatasets.

[2020-10-19 11:47] artisticcheese commented on #64477
Yes, I understand that, question is whether it can be done automatically like it's being done in portal, they automatically map all those values without need to provide them as individual parametes, something like `-AssessmentID $id -VMID $vmid`

[2020-10-19 11:49] SarveshPandey opened #64600 "Migrate On-premise SQL Server to Azure SQL VM"
Hi,

We tried to migrate On-premise SQL Server to Azure SQL VM but we found DMS has a limitation. It can do offline migration but online migration is not supported in DMS.

Currently, we have to 4-5 Tb of transactional data to migrate. Our Source SQL Server is 2014 Standard Edition and target SQL VM is 2019 Standard Edition. Through TR and Online DMS is not possible. We had gone through this link

[2020-10-19 11:49] nitbix opened #64601 "Quota requests page does not actually mention how to request quota increases"
See title.
Would be nice from this page to be able to find out how to request a quota increase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe04a05a-f753-ee1f-5171-fd2a81a030f9
* Version Independent ID: 1507a7ac-11cc-81a7-e932-9e8ef9644e2b
* Content: [Azure Resource Manager vCPU quota increase requests](https://docs

[2020-10-19 11:53] SubhashVasarapu-MSFT commented on #63779
@miqm, Appreciate your patience. This issue has been assigned to the respective content author for updating the document accordingly.

[2020-10-19 11:55] dvescovi1 opened #64603 "Nodejs sample does not build"
Using Windows 10 19042.572 VS Code 1.501 trying to develop Nodejs edge module.
Installed all prereqs and Docker Desktop 20.10.0
Setup script always seem to end with:
[code]
I tried different docker node images and few other things but can not clear this issue.

start up:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-19 11:56] SubhashVasarapu-MSFT commented on #64137
@RonnieQuan, Appreciate your patience. This issue has been assigned to the respective content author for updating the document accordingly.

[2020-10-19 11:58] ram-msft commented on #64343
@gary918 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-19 11:58] #64343 closed

[2020-10-19 12:01] SubhashVasarapu-MSFT commented on #64144
@rudolphjacksonm, Appreciate your patience. The ask has been added to the FAQ list and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-19 12:08] zincob opened #64605 "Not able to Execute Notebook in a Pipeline in Synapse"
I'm trying to follow the guide but I cannot execute in a pipeline.

I created a notebook with these statements:

[code]
The notebook works fine but if I try to debug or trigger a pipeline with a Synapse Notebook action that calls the notebook I get the following error:
error: value sqlanalytics is not a member of org.apache.spark.sql.DataFrameReader

Thanks

---
#### Document Details

⚠ *Do not ed

[2020-10-19 12:08] Svijay-msft commented on #64581
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-19 12:09] HarithaMaddi-MSFT commented on #64596
@pcmarius - Thanks for the valuable inputs. I am moving it to content author to review and update.

@mssaperla - Can you please take a look?

[2020-10-19 12:11] HarithaMaddi-MSFT commented on #64605
@zincob - Thanks for posting the issue. We are looking into it and will get back to you shortly.

[2020-10-19 12:14] SubhashVasarapu-MSFT commented on #64181
@takekazuomi, Appreciate your patience. This doc gets auto updated and would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-19 12:14] #64181 closed

[2020-10-19 12:15] SubhashVasarapu-MSFT commented on #64185
@lishuo18 , We have assigned this issue to the respective content author for further insights.

[2020-10-19 12:29] SubhashVasarapu-MSFT commented on #64293
@hisasima, Appreciate your patience. WAF_V2 instance has fixed price on instances with auto scaling enabled and variable price is at zero when you have zero instances selected. We are working on updating the doc accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply a

[2020-10-19 12:29] #64293 closed

[2020-10-19 12:31] SylvainVi commented on #61892
Thank you @TomGeske

So we should understand that deploying an AKS cluster on a custom VNET scenario can be enabled:

- with a system-assigned MI => permissions can be set _during_ or _after_ AKS cluster creation
- with a user-assigned MI (BYO control plane MI) => permissions can be set **_before_**, _during_ or _after_ AKS cluster creation

=> this is a correct understanding ?

----

Is there any

[2020-10-19 12:33] SnehaAgrawal-MSFT commented on #64598
@GFParker Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-19 12:34] SubhashVasarapu-MSFT commented on #64433
@Audii3, it should not be mandatory for adding private IP if you really don't want to add both to your APPGW front-end config. We will report this to the respective team in case if it is a kind of bug in CLI.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-19 12:34] #64433 closed

[2020-10-19 12:35] SubhashVasarapu-MSFT commented on #64354
@algattik, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-19 12:35] #64354 closed

[2020-10-19 12:36] shadowano commented on #64093
We use Azure CDN with Pricing Tier Premium Verizon.

We have created separat Azure CDN resources, so we are not moving data within the CDN provider.

What custom domain? cndverify.my.company.com or my.company.com? my.company.com is already associated with the current production environment.

Which CDN endpoint? The current production one, or the new CDN resources that is currently not in use?

Am

[2020-10-19 12:37] MonikaReddy-MSFT commented on #64464
@sgiovinetti - Thank you for confirming that.
 If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-19 12:40] KrishnaG-MSFT commented on #64385
Assigning content owner @Sharmistha-Rai for visibility, review and document enhancement consideration as appropriate.

[2020-10-19 12:41] KrishnaG-MSFT commented on #31863
@Sharmistha-Rai - FYI

[2020-10-19 12:41] KrishnaG-MSFT commented on #38464
@Sharmistha-Rai - FYI

[2020-10-19 12:42] KrishnaG-MSFT commented on #31921
@Sharmistha-Rai - FYI

[2020-10-19 12:43] shashishailaj commented on #64597
@swhite-strath Thank you for your query . We will investigate and update the thread.

[2020-10-19 12:43] RohitMungi-MSFT commented on #64566
@citizen12 Yes, the UI has changed. The consume tab can be used. @PeterCLu Could we update the same to the lastest screen shots?

[2020-10-19 12:44] shashishailaj commented on #64595
@AminPasha7 Thank you for pointing this out . We will have this reviewed and update the thread.

[2020-10-19 12:57] ActiveNick commented on #64442
Sure, it's simple, the last line of code in the snippet:
`return container.Uri + sasToken;`
creates an invalid uri since you need a "?" between a uri and query parameters. It's the same issue with the other snippet on the same page. I hope this helps.

[2020-10-19 13:01] joanteixi commented on #64528
uhau.. this is amazing and the queries works very very fast!

thanks!

[2020-10-19 13:01] #64528 closed

[2020-10-19 13:13] craigshoemaker commented on #63069
Static Web Apps behaves a little differently than your Express workflow. When a user logs in with any of the providers, the user account is giving the app permission to read personal-identifiable information. In the case of AAD, there is no tenant to which the user is added.

As of right now there is no way to restrict users to a specific domain via configuration, but you can restrict parts of the

[2020-10-19 13:13] #63069 closed

[2020-10-19 13:14] KrishnaG-MSFT commented on #64601
@nitbix Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-19 13:32] lansalot opened #64607 "Link to A3 download is incorrect"
"Azure Cosmos DB A3-sized query cheat sheets" takes to wrong URL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71485a19-f1d1-c034-f41f-5aa91d7e3e71
* Version Independent ID: 8b441303-97d5-0c87-1d8f-b5c017fc6da8
* Content: [Azure Cosmos DB PDF query cheat sheets](https://docs.microsoft.com/en-us/azure/cosmos-db/query-c

[2020-10-19 13:33] vlijmenfileer opened #64608 "Phrasing improvement suggestion for clarity"
Hi,

I think the phrase:
"Rename the Activity column to EventDetails."
would be better worded as:
"Display the Activity column as EventDetails."

Motivation is that the column is not actually renamed, as could be seen e.g. by the error obtained when trying to use "EventDetails" in the SubString statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-19 13:39] hkuersten opened #64609 "Why strip password?"
[Enter feedback here]

Hi.
On the page I am providing feedback for (and in a related [issue](https://github.com/Azure/azure-cli/issues/11576)) you state in the section about _the password not being saved along with a password-protected certificate_ that this behavior is "_by design_". Would you care you elaborate what led to this design?
I ask because we use Terraform to create and configure our i

[2020-10-19 13:39] dArignac opened #64610 "Azure Cosmos DB Gremlin Graph client for Go"
Hi all,

I'd like to point out that we created a client library for the Azure Cosmos DB Gremlin Graph for the programming language Go: https://github.com/supplyon/gremcos/
Did not found anything about requirements for such client libs, so please advise if there is anything necessary to have it added to your list.

Thanks a lot!
Best,
Alex

---
#### Document Details

⚠ *Do not edit this section. It

[2020-10-19 13:40] jd1984 commented on #64366
Thanks for confirming the difference.

[2020-10-19 13:49] SatishBoddu-MSFT commented on #64486
Hello @Seefer Please let us know if you need further help in this matter. Happy to help you further!

[2020-10-19 13:53] mmacy commented on #64423
Closing due to inactivity. If you still have questions, please refer to the B2C documentation mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/64423#issuecomment-709396413. Thanks!

#please-close

[2020-10-19 13:53] #64423 closed

[2020-10-19 13:53] craigshoemaker commented on #63266
Thanks, @ncarandini!

I have updated the sample app to support multiple start up projects and added a `local.settings.example.json` file with the settings you suggest. In the readme I also added instructions to rename `local.settings.example.json` to `local.settings.json`. I use this approach because `local.settings.json` is listed in the *.gitignore* file.

Thanks again for your help!

#please-cl

[2020-10-19 13:53] #63266 closed

[2020-10-19 13:53] PaulVrugt commented on #58852
@tfitzmac I've also tested some things, and the claim the properties not specified are reset to their default simply doesn't seem to be true. I can create a template that updates an app service, and only changes the identity property of the app service. It will leave the existing app service properties alone.

[2020-10-19 13:58] PaulVrugt commented on #58852
@whaakman can you weigh in here?

[2020-10-19 13:59] mmacy commented on #64495
@mikeswain it seems @hpsin has clarified the issue for you - can you confirm? As the scope of this article is for the v2 endpoint, no documentation updates are currently required I'll close this one out in the next day or so. Thanks!

[2020-10-19 14:00] mmacy commented on #64495
#reassign:mmacy

[2020-10-19 14:01] RyanHill-MSFT commented on #64314
@PaulARoy, I'll pass this along to the product team and let you know.

[2020-10-19 14:02] HaydnDias commented on #62877
@alfredorevilla-msft I provided relevant information in my original post when reporting the issue, it has since resolved itself without input from myself or anyone else.

[2020-10-19 14:05] AnuragSharma-MSFT commented on #64607
@lansalot Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-19 14:16] SadiqhAhmed-MSFT commented on #64477
@artisticcheese No. It cannot be done automatically in PowerShell right now.

Closing this issue for now. Feel free to ping if you have any further questions in this matter.

[2020-10-19 14:16] #64477 closed

[2020-10-19 14:18] DCtheGeek commented on #64592
@difatkulbayanova Thanks for the question. When the doc mentions a built-in policy, it means a definition that is globally available to the platform and isn't part of a specific management group or subscription. To see the list of available built-in definitions for Kubernetes, see it's category here: https://docs.microsoft.com/azure/governance/policy/samples/built-in-policies#kubernetes

As a docu

[2020-10-19 14:18] #64592 closed

[2020-10-19 14:20] DCtheGeek commented on #64592
#assign:DCtheGeek

[2020-10-19 14:21] DCtheGeek commented on #64590
#assign:DCtheGeek

[2020-10-19 14:22] DCtheGeek commented on #64590
@difatkulbayanova Thanks for spotting this inconsistency. I'm going to check with the engineer to confirm, and then will update this issue.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-bug' and #in-progress.

[2020-10-19 14:24] artisticcheese commented on #64477
There is seems to be somebody is already having Assessment PSM module written at Microsoft (https://github.com/Azure/azure-docs-powershell-samples/blob/master/azure-migrate/assessment-utility/AzureMigrateAssessmentCreationUtility.psm1).

[2020-10-19 14:25] yoelhor commented on #64582
You can use the application ID in the scopes parameter, such as `&scope=9c0d8fa8-1bb2-4cee-beb3-384be5b6b578`. Following is an example of such a authorization request:

[code]

[2020-10-19 14:32] TomGeske commented on #61892
Let me try to clarify. If you are using MI either the MI needs to have all required permissions or the user creating the cluster has all required permissions. For the later AKS resource provider should grant needed permissions to MI on behalf of the user creating the cluster.

You should design your cluster creation phase to succeed in the first place. If you don't have all required permissions, i

[2020-10-19 14:34] MayankBargali-MSFT commented on #64413
@sandeep-ma As per the error message until loop gets failed as the condition gets failed as you are checking HTTP request status code as 200. In a scenario where the HTTP Request action timed out looks like the statusCode field is not present therefore you also need to add one more condition to check if the statusCode field is present or not.

[2020-10-19 14:39] #62465 closed

[2020-10-19 14:42] SeaDude opened #64612 "Client Certificate Cryptographic validation?"
According to [this (great) Microsoft article](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth#access-client-certificate), there is a **cryptographic** check that occurs for Client Certificate Authentication:

[code]

How is this cryptographic validation completed using mTLS and Azure Functions?

I understand how to compare certificate *properties* as ou

[2020-10-19 14:42] yoelhor commented on #64436
Unfortunately you can't switch back to sign-in. But, you can add a link using HTML cusomization. This link should point back to your application. The application needs to initiate a new authorisation request with the sign-in policy. Don't set the link directly to the sign-in policy, there are some issues with this approach (as it must go through the app).

[2020-10-19 14:43] yoelhor commented on #64364
Dear @zeeshan-commits, could you let us know the status? or share a correlation ID?

[2020-10-19 14:45] NavtejSaini-MSFT commented on #64610
@dArignac We are checking this and we will get back to you.

[2020-10-19 14:45] yoelhor commented on #63248
#please-close

[2020-10-19 14:45] #63248 closed

[2020-10-19 14:47] SatishBoddu-MSFT commented on #64603
Hello @dvescovi1
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-19 14:49] NavtejSaini-MSFT commented on #64607
@lansalot The link downloads the A3 pages to your download folder. Please elaborate regarding the wrong URL.
![image](https://user-images.githubusercontent.com/52257742/96467231-b3bcf980-11f8-11eb-932c-e57728a0b95e.png)

[2020-10-19 14:56] dvescovi1 commented on #64603
Just tried with C# module also ... ends same way.

[2020-10-19 14:59] BhargaviAnnadevara-MSFT commented on #64429
@AngelusGi I'm checking on this with our Product group and shall keep you posted as I have more details.

[2020-10-19 14:59] SatishBoddu-MSFT commented on #64603
Sorry for the inconvenience caused, we are actively working on this issue, will get back soon.

[2020-10-19 15:01] ClaudioRifo commented on #64525
In our case we have separation of roles.
Basically my department has owner rights on all our production environment, and our development group has only read access.
Developers provided code to do data migration, we validate and execute the code, then developers need to validate the results (on this case the number of documents).

From: Heidi Steen <notifications@github.com>
Sent: Saturday, October

[2020-10-19 15:01] dvescovi1 commented on #64603
Is this then a known issue?   i.e. not something I did?

[2020-10-19 15:03] SatishBoddu-MSFT commented on #64603
We can't confirm it as an issue until we complete our investigation on the complete document section. Please stay tuned for further updates.

[2020-10-19 15:04] rjmccallumbigl opened #64613 "Mount /rescue/boot/ but unmount /rescue/boot/efi?"
In the steps for RHEL/Centos/Oracle 6.x && Oracle 8.x && RHEL/Centos 7.x with RAW Partitions (and maybe a few others), we have to run the following commands to enter chroot:

[code]

And use the following commands to exit the chroot environment:

[code]

Why do we mount **/rescue/boot/** but unmount **/rescue/boot/efi**? Are one of these incorrect?

---
#### Document Details

⚠ *Do not edit this s

[2020-10-19 15:15] JamesTran-MSFT commented on #64609
@hkuersten
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-19 15:18] bailsman commented on #62530
It looks like you need to specify a filter to get any inner packets to show up in the capture.

You can use a "catch-all" filter from https://docs.microsoft.com/en-us/powershell/module/az.network/start-azvirtualnetworkgatewaypacketcapture?view=azps-4.8.0#example-3 to get all the inner traffic:

[code]

In my opinion the documentation can be improved to make this clearer.

[2020-10-19 15:22] HeidiSteen commented on #64525
@ClaudioRifo I see. I think you should post to Stack Overflow to see if an engineer has a better workaround: https://stackoverflow.com/questions/tagged/azure-cognitive-search?tab=Newest)

You could also post a feature request here:  https://feedback.azure.com/forums/263029-azure-search

I'm guessing that the workaround is that you write a small utility that returns document count, where the admin

[2020-10-19 15:29] MichelleTanPY opened #64614 "Broken link on page"
At the bottom of the page section "Next Steps", there's a broken link on the second bullet point.
https://github.com/Azure/azure-sdk-for-net/tree/Fluent

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e990bfc8-9afd-407f-d5e1-238287bbb163
* Version Independent ID: b91acd54-51f1-7cac-0f35-de0771fd06fc
* Content: [Azure Se

[2020-10-19 15:33] chitturs opened #64615 "Fix the code related to service proxy creation and add an explanation"
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#call-remote-service-methods

This call always fails with FABRIC_E_INVALID_PARTITION_KEY for an Int64 partition. This is what is recommended by service fabric owners.

In my case, I set LowKey=0, HighKey=99 and added "new ServicePartitionKey(1)" to fix it.

---
#### Document Details

⚠ *Do

[2020-10-19 15:34] mamccrea commented on #64589
Thanks for contributing @shwetams! This issue is being addressed in this PR: https://github.com/MicrosoftDocs/azure-docs/pull/64593

#please-close

[2020-10-19 15:34] #64589 closed

[2020-10-19 15:36] Nickomang commented on #64546
Hi @writex, thanks for the feedback.

Per the second paragraph under "Determine how many nodes you need" (first mention of DB_Size):
"Let's assume your application has a single stateful service that has a store size that you expect to grow to DB_Size GB in a year"

Do you feel this isn't clear enough?

[2020-10-19 15:36] HeidiSteen commented on #64525
@ClaudioRifo -- actually I just found the UserVoice post that applies to your issue:  https://feedback.azure.com/forums/263029-azure-search?category_id=86074   If you can add your up-vote, that would be great.

[2020-10-19 15:37] SumanthMarigowda-MSFT commented on #64296
@iancraig45 Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.

That's correct even I tried to repro in my lab we faced the same issue due this because:

The error is caused by the way Windows PowerShell interacts with the NuGet infrastructure delivering both the NuGet Package Provider and the Windows PowerShell Module.

The entire infrastructure

[2020-10-19 15:37] #64296 closed

[2020-10-19 15:37] vhorne commented on #63829
Article updated for portal changes. However, the Add peering instructions were correct for the current UI:
![image](https://user-images.githubusercontent.com/15256338/96472944-e90c1c00-11e5-11eb-8971-2ffd38b4bd07.png)
![image](https://user-images.githubusercontent.com/15256338/96473237-3daf9700-11e6-11eb-91f9-dd9199099905.png)

[2020-10-19 15:38] vhorne commented on #63829
#please-close

[2020-10-19 15:38] #63829 closed

[2020-10-19 15:47] zzgzy opened #64618 "Are targetResourceRegion and targetResourceType still mandatory for MultipleResourceMultipleMetricCriteria?"
It's mentioned [here ](https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate#create-or-update-a-dynamic-alert-rule-for-single-resource) that targetResourceRegion and targetResourceType is mandatory for MultipleResourceMultipleMetricCriteria. If it's still the case, could you please help update the sample template? Thanks!

---
#### Document Details

⚠ *Do not edit this sect

[2020-10-19 15:48] SarveshPandey opened #64619 "Pipeline runs successfully but changes are not reflected"
Hi,

We followed the blog exactly as it is mention and we didn't even change the table name as well. The Pipeline we built in the ADF runs successfully (no error) but the changes made on the source table doesn't get reflected on the destination.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b540c63f-66b3-d07d-b3a8-284

[2020-10-19 15:52] MGoedtel commented on #64594
@Mahesh-MSFT - Hi Mahesh, yes there is work underway to enable other regions to support Azure Automation solutions (i.e. Change Tracking and Inventory and Update Management) that link to a workspace.  In addition, the PG is working to streamline the process to release to regions faster. For example, Switzerland North is now supported and I am preparing to update the documentation to reflect that.

[2020-10-19 15:52] #64594 closed

[2020-10-19 15:52] Gurpreet103 commented on #64289
Just checking if Microsoft is having any update on the open issue

[2020-10-19 15:53] nicolaslareu opened #64620 "Documentation - Typo on tip block"
There is a typo on the tip block. It says **incudes** instead of **includes**.

![image](https://user-images.githubusercontent.com/50845301/96475111-018e2d80-120a-11eb-82f1-2c6bda70a344.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3cf1b0d8-a5e0-f22a-2a74-33c432afcc68
* Version Independent ID: 3cd88598-6bd1-9395-

[2020-10-19 15:53] alfredorevilla-msft commented on #62877
We requires some extra information but its great to know the issue has been solved.

[2020-10-19 15:54] IngridAtMicrosoft commented on #64620
Thank you for catching that.

[2020-10-19 15:54] christiankuhtz commented on #56534
Did the graph query get added to the doc? Pretty complex query.

[2020-10-19 15:55] amanmcse commented on #52277
@kanirudh54  Since this question is regarding ADO service connection, kindly post the question [here](https://github.com/MicrosoftDocs/azure-devops-docs/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%0A%E2%9A%A0%20*Do%20not%20edit%20this%20section.%20It%20is%20required%20for%20docs.microsoft.com%20%E2%9E%9F%20GitHub%20issue%20linking.*

[2020-10-19 15:55] #52277 closed

[2020-10-19 15:59] mmacy commented on #61007
@samsil This section has been populated and now appears as such:
___

### ADALError to MsalException translation

| If you're catching these errors in ADAL...  | ...catch these MSAL exceptions:                                                         |
|--------------------------------------------------|---------------------------------------------------------------------|
| *No equivalent ADALErro

[2020-10-19 15:59] IngridAtMicrosoft commented on #64620
#please-close

[2020-10-19 15:59] #64620 closed

[2020-10-19 16:01] #62316 closed

[2020-10-19 16:02] #64099 closed

[2020-10-19 16:02] brennfoster opened #64622 "Please update this document to add all restrictions."
This article does not cover the restriction for callbacks. I assume there are probably other restrictions that are not listed here as well. Please update to show all restrictions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be16b5c5-40c4-3e6c-0b0d-840373c63f9f
* Version Independent ID: ced6b3ba-8da1-dd3d-9d1c-8a21da

[2020-10-19 16:03] ram4031 commented on #64436
@yoelhor If i link back to my application, it will go back to singup page because singup is default form for my application. Not sure how i can handle this? is there a way i can redirect to singin

[2020-10-19 16:08] JPuzzled commented on #55058
Is it possible to reopen this issue since it is not solved? Sure, a bit more information has been shared, but this is still an unsolved issue. I agree with o-l-a-v on this matter.

I want to use AZ instead of AzureRM to start runbooks (Start-AzAutomationRunbook vs Start-AzureRMAutomationRunbook). Unfortunitely I get "Start-AzAutomationRunbook : Object reference not set to an instance of an object.

[2020-10-19 16:17] bkbristlin opened #64623 "Missing Sentence Transition"
In the section "Mid-tier/Daemon services" under the "Azure Active Directory" column the second sentence is missing something, maybe 'and' is needed in between the bold words?
"The lifecycle of these identities is managed by Azure AD and is tied to the resource **provider can't** be used for other purposes to gain backdoor access".

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-10-19 16:22] MarileeTurscak-MSFT commented on #64623
@bkbristlin
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-19 16:29] SaiKishor-MSFT commented on #64136
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-19 16:29] #64136 closed

[2020-10-19 16:39] dentoir commented on #15146
I would like to reopening this issue, because I have exactly the same problem in the following environment.

Attempting to connect to Azure HDInsight 4.0 using Apache Hive JDBC driver 3.1.2 with the following code, exceptions omitted for brevity.

[code]

Stack trace of exception (CLUSTERNAME is my cluster name, MYSOURCELINE is the getConnection statement, X.X.X.X is resolved IP address of host).

[2020-10-19 16:41] yoelhor commented on #64436
Following our call I'm closing this issue.

#please-close

[2020-10-19 16:41] #64436 closed

[2020-10-19 16:56] karlgots opened #64624 "Suggestion to align TLS docs with the rest of the products"
I suggest to add the following statement to [4.4: Encrypt all sensitive information in transit](https://docs.microsoft.com/en-us/azure/key-vault/general/security-baseline#44-encrypt-all-sensitive-information-in-transit):

This text is more descriptive and similar to the Azure Security Baseline of [other ](https://docs.microsoft.com/en-us/azure/container-registry/security-baseline#44-encrypt-all-se

[2020-10-19 16:56] lfrancfort opened #64625 "What is "Microsoft 365 apps" in this page ?"
This beginning of the page is easy to understand but the "feature comparison of versions" table has a "Microsoft 365 apps" column which doesn't seem to link to any other Microsoft offering.

Is O365 E1/E3 a "Microsoft 365 apps" ?
Is O365 F3 a "Microsoft 365 apps" ?
Is Microsoft apps for Enterprise a "Microsoft 365 apps" ?
Is Microsoft apps for Business a "Microsoft 365 apps" ?

Thank you,

---
###

[2020-10-19 17:02] SylvainVi commented on #61892
Thank you @TomGeske.

With the statement in the documentation I thought that the situation with a BYO MI would have allow to cover a use case that the system-assigned MI could not be able to cover.
But I understand that this is not the case and the situation remain the same, no matter the kind of MI: AKS cluster creation requires you to assign the appropriate role:
- either to your BYO MI beforeha

[2020-10-19 17:03] martincoetzer commented on #64623
Thank you for your feedback. I made an update, and it will be live a later.

[2020-10-19 17:03] martincoetzer commented on #64623
#please-close

[2020-10-19 17:03] #64623 closed

[2020-10-19 17:05] WinstonHoward-MSFT commented on #64613
Thanks for the question, I'll take a look.

[2020-10-19 17:12] BharathNimmala-MSFT commented on #64608
@vlijmenfileer Thanks a lot for taking time to share your feedback, we will further review and update the document as needed.

[2020-10-19 17:14] WinstonHoward-MSFT commented on #64301
Hi @SnoWolfT ,

Because we plan to update those scripts I'm going to assign this issue to the doc author for tracking purposes.

[2020-10-19 17:14] BharathNimmala-MSFT commented on #64618
@zzgzy Thank you for your query, our team will review the query/feedback and get back to you at the earliest.

[2020-10-19 17:16] KrishnaG-MSFT commented on #64594
@MGoedtel Thanks for the response. :+1:

[2020-10-19 17:18] WinstonHoward-MSFT commented on #64614
Thanks for the issue, I've assigned this to the doc author to take a look.

[2020-10-19 17:24] #64550 closed

[2020-10-19 17:27] SatishBoddu-MSFT commented on #57689
Hello @alevincenzi , Just checking, Did you get unblocked from this issue?

[2020-10-19 17:30] shriazure opened #64629 "Utilizing versions to separate environments"
Hi there,

Can we use versions to separate environments? Suppose we are provisioning one APIM instance for all our non prod environments, can we use API versions to separate the dev, sit and pre-prod environments? How do you see this idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25a33ff6-8ffc-ad26-d429-3170bcca9

[2020-10-19 17:32] craigshoemaker commented on #62035
This article is now updated with information on how to set environment variables. Thanks, @bgever!

#please-close

[2020-10-19 17:32] #62035 closed

[2020-10-19 17:40] jreinhardtproarch opened #64630 "Azure AD Specifics"
I feel this article could use some more specific details about Azure Active Directory specifically. Due to the lack of info specifically pertaining to Azure AD, it seems to leave open ended the scenario that if Android and iOS don't add the new roots, then Microsoft 365 apps that use Azure AD for sign-in may no longer be able to login. Is there anything you can do to explain the impact of this on

[2020-10-19 17:44] PeterCLu commented on #63516
#please-close

[2020-10-19 17:44] #63516 closed

[2020-10-19 17:48] MarileeTurscak-MSFT commented on #64625
@lfrancfort
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-19 17:50] MarileeTurscak-MSFT commented on #64624
@karlgots
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-19 17:51] MarileeTurscak-MSFT commented on #64630
@jreinhardtiv4
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-19 17:54] algattik opened #64631 "Private Endpoints not in Preview"
The text "Private Endpoints (Preview)" should be updated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a02960a-7347-389f-6a69-37d9f86b9d15
* Version Independent ID: 001bcfa0-10af-196c-7f4c-e3619b161362
* Content: [Azure security baseline for Azure Functions](https://docs.microsoft.com/en-us/azure/azure-functions/secu

[2020-10-19 18:04] JasonWHowell commented on #15146
@dentoir I recommend an interactive troubleshooting session with Microsoft support is a better route to go deep on this issue since this isn't straight forward docs feedback at this point.

[2020-10-19 18:10] SnehaAgrawal-MSFT commented on #64358
@phwecker Thanks again for bringing this to our attention. As akania mentioned we are working on this to update.

[2020-10-19 18:12] sjosyula3 opened #64633 "Enrollment account ID not returned as a part of the response."
The first step requires this call to be made
`GET https://management.azure.com/providers/Microsoft.Billing/billingaccounts/?api-version=2020-05-01`

The article shows that this specific key value pairs is returned as a part of the response.
`        "enrollmentAccounts": [
          {
            "id": "/providers/Microsoft.Billing/billingAccounts/1234567/enrollmentAccounts/7654321",`

The call do

[2020-10-19 18:16] susanhuhu opened #64634 "What is the max download throughput for Azure blob storage?"
Would you please add such metrics for Azure blob storage? Also provide instructions on how to max the download throughput?  So we can know what to expect instead of having to test it out by ourselves.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35b44b50-2a9b-ff71-c698-657aba52d28a
* Version Independent ID: 31d54998-

[2020-10-19 18:21] DerekHerman-MSFT commented on #64510
Unfortunately I have confirmed with the product team that there is not a workaround available to change the output for listServiceSas in ARM. I have forwarded your feedback and use case to the team, but cannot promise that changes will be made. As always you can submit user[ feedback on our forum](https://feedback.azure.com/forums/281804-azure-resource-manager). Our product teams respond and watch

[2020-10-19 18:29] miqm commented on #59768
@mattchenderson any update on the ETA? WebApps  just got private links on front, would be nice to have it work with resources (like KeyVault or ACR) on private links at the back as well.

[2020-10-19 18:32] ChaitanyaNaykodi-MSFT commented on #64278
Hello @nebhagat,
You should be able to install the extensions in node.js using [Azure functions core tools](https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash). After removing the extensionBundle section in host.json file, using the Azure Function core tools you can run the command
`func extensions install`
which will install all the required ex

[2020-10-19 18:59] realAngryAnalytics opened #64635 "form-recognizer error in docs"
In code sample for "Analyze the form layout" content type is shown as application/json... this is invalid for the call as we are sending a byte stream, not json, change to application/octet-stream and the code then works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b5c013-5dc0-f414-e201-e9f5576ceebf
* Version Inde

[2020-10-19 19:00] Blackbaud-ChrisBlythe commented on #63988
@vishiy Thanks for the response... We have cluster and node level Prometheus data collection enabled with monitor_kubernetes_pods also enabled to scrape metrics from our app/service containers. Here is a condensed sample (with comments removed) of our azure-monitor-configuration.yaml for reference.

[code]

[2020-10-19 19:04] realAngryAnalytics commented on #64635
https://github.com/MicrosoftDocs/azure-docs/pull/64636

[2020-10-19 19:16] SnehaAgrawal-MSFT commented on #64517
@ItDidntCatchFire Thanks again for the feedback! So, here when using command az webapp list-runtimes its not reflecting PHP 7.4 although its showing in portal.
![image](https://user-images.githubusercontent.com/46553948/96501084-7ba3ce00-126d-11eb-85a2-39d03d7370ca.png)

Unfortunately CLI uses a hard-coded list right now, until we have the new API available that can be used via CLI.
This should be

[2020-10-19 19:16] #64517 closed

[2020-10-19 19:26] MarileeTurscak-MSFT commented on #64631
@algattik
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-19 19:34] DerekHerman-MSFT commented on #64634
@susanhuhu I believe the metrics you are looking for can be found on these two pages:
https://docs.microsoft.com/en-us/azure/storage/blobs/scalability-targets
https://docs.microsoft.com/en-us/azure/storage/common/scalability-targets-standard-account?toc=/azure/storage/blobs/toc.json

There are many factors that go into performance. We have a page that goes through these here:
https://docs.microsof

[2020-10-19 19:42] IngridAtMicrosoft commented on #64418
Thanks for the feedback.  We are working to update the document.
#please-close

[2020-10-19 19:42] #64418 closed

[2020-10-19 19:43] tamram commented on #17762
#unassign: @Jim-Parker

[2020-10-19 19:48] mhopkins-msft commented on #28565
Hi @willKim19,

Please see the example from @XiaoningLiu above. Let us know if you have any further questions.

Thanks,
 ~ *Mark*

#please-close

[2020-10-19 19:48] #28565 closed

[2020-10-19 20:00] shashishailaj commented on #64215
@priyankareddy20 Thank you for catching this. The page was actually linked to old Github documentation. The new link https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/oms-windows#troubleshoot-and-support talks about the location of log files as suggested by you. We have initiated a pull request to fix this and it should be updated in the next 48 hours once reviewed and approved by

[2020-10-19 20:00] #64215 closed

[2020-10-19 20:12] YutongTie-MSFT commented on #64635
@realAngryAnalytics
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-19 20:18] MarileeTurscak-MSFT commented on #64631
Thanks! I made a pull request to update the document. https://github.com/MicrosoftDocs/azure-docs-pr/pull/134491

CC @msmbaldwin

[2020-10-19 20:18] #64631 closed

[2020-10-19 20:27] Karishma-Tiwari-MSFT commented on #64555
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

Thanks for improving our documentation! Just so you know, it's also possible to make these changes yourself, if you are interested. Doing so will improve our documentation, and it will add you as a contributor to the document.
In case you're interested, these are the steps to do so:
1.	Na

[2020-10-19 20:27] #64555 closed

[2020-10-19 20:32] bandersmsft commented on #64466
@anuragdalmia @devan10 Updated the article to clarify, as Anurag requested.
#please-close

[2020-10-19 20:32] #64466 closed

[2020-10-19 20:32] HarmanDhunna commented on #64073
Hi @douglas-woods, please review the [statement ](https://github.com/MicrosoftDocs/azure-docs/issues/64073#issuecomment-709521141)by @nickgmicrosoft. SPA was not officially supported initially, and as we are adding support we are aligning with the implementation of other products in Azure. Applications that have URLs that are registered as SPA must present code_challenge.

[2020-10-19 20:40] douglas-woods commented on #64073
Hi @HarmanDhunna, yes I understand that statement, but It is B2C IEF infrastructure that is NOT sending the code_challenge (completely out of the control of our app). Who do I need to contact to see when this is going to be fixed/supported by B2C IEF??

[2020-10-19 20:41] James-Hamil-MSFT commented on #64625
Hi! [This ](https://www.microsoft.com/en-us/microsoft-365/compare-microsoft-365-enterprise-plans) documentation goes into detail about the enterprise plans. Microsoft 365 Apps are the same Office Apps SKUs, just renamed. If you want CA based MFA it is P1, M365 Business Premium, or better. Per user is M365 apps or Azure AD free for GA only. For specific services you'll need to look at the individua

[2020-10-19 20:45] roygara commented on #45406
Sorry for the delay, we've reworked this article and the instructions altogether. We've been seeing a lot of feedback where users cannot or fail to construct the commands appropriately. The article now instructs users to go to the portal to get the commands, where it is done for them and should just work.

Accordingly, I'm closing this out.

#please-close

[2020-10-19 20:45] #45406 closed

[2020-10-19 20:49] chriswhilar commented on #64358
@RinaRish please lets update the quickstart docs with the following:

1. Lets use these versions for webpack, webpack-cli, and webpack-dev-server:
[code]

2. Lets update this code:
[code]

To this code:
[code]

3. And finally, lets update this code:
[code]
To this code:
[code]

I have tested the above and works good end to end as expected. @phwecker please give the above a try and let us know how

[2020-10-19 20:51] kenwith commented on #64496
@watahani I updated these and they will be live shortly. Thank you for taking the time to provide feedback and make the docs better. It is much appreciated!

[2020-10-19 20:51] kenwith commented on #64496
#please-close

[2020-10-19 20:51] #64496 closed

[2020-10-19 21:00] BharathNimmala-MSFT commented on #64608
@vlijmenfileer Thanks again for bringing this to our notice and sharing your feedback to improve our Azure documentation.

I have raised a PR to incorporate the feedback , which be merged with the live document later in the week.

At this point it appears that there's no further edits or updates needed to the documentation, other than what is listed above. We will go ahead and close this issue, ho

[2020-10-19 21:00] #64608 closed

[2020-10-19 21:09] tamram commented on #52737
@luismejia9 - The Blob storage APIs should work as expected on an account with a hierarchical namespace enabled, so this script should technically work.

#please-close

[2020-10-19 21:09] #52737 closed

[2020-10-19 21:10] edburns opened #64641 "Incidental improvements while working on Open/WebSphere Liberty PR"
In the course of driving https://github.com/MicrosoftDocs/azure-docs-pr/pull/118698 to completion, I may find some unrelated things to fix.

For example, in [Tutorial: Create an Azure Red Hat OpenShift 4 cluster](https://review.docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster?branch=master) an assumption is made that no-one has used the `az configure` command to set a default resou

[2020-10-19 21:11] edburns commented on #64641
@sakthi-vetrivel  Please assign this to me.

[2020-10-19 21:18] mhopkins-msft commented on #23027
Hi @smithGit

This article is for the older version 10 of the SDK. I recommend that you check out the v12 SDK article here: [Quickstart: Manage blobs with JavaScript v12 SDK in Node.js](https://docs.microsoft.com/azure/storage/blobs/storage-quickstart-blobs-nodejs)

However, if you have a requirement to use the v10 SDK, check out [listBlobHierarchySegment](https://docs.microsoft.com/javascript/api

[2020-10-19 21:18] #23027 closed

[2020-10-19 21:21] bandersmsft commented on #64633
#assign:anuragdalmia

[2020-10-19 21:22] bandersmsft commented on #64633
@anuragdalmia FYI.

[2020-10-19 21:29] JamesTran-MSFT commented on #64609
@hkuersten
Thank you for your time and patience throughout this issue.

I have reached out to our engineering team regarding this and will update as soon as possible.

[2020-10-19 21:30] mhopkins-msft commented on #32912
Hi @winstef

Thank you for your feedback. We have created a work item to add JavaScript code to this article. The work item has been added to our backlog.

Thanks,
 ~ *Mark*

#please-close

[2020-10-19 21:31] #32912 closed

[2020-10-19 21:31] anuragdalmia commented on #64633
@sjosyula3 - what are you seeing instead?

[2020-10-19 21:39] tamram commented on #57592
@rgamage - Thanks for your feedback! The v11 library is not actually deprecated. It continues to be supported.

I have added an example for the v12 library to this article, so that both v11 and v12 are covered.

#please-close

[2020-10-19 21:39] #57592 closed

[2020-10-19 21:40] lfrancfort commented on #64625
Hi James,

One of my customers has a mix of Office 365 E1/E3 and F3.

I was wondering which column I should consider in the table.

Thank you for your help,

Laurent

Laurent Francfort
En déplacement / commuting
+33 6 60 42 54 42

Le 19 oct. 2020 à 22:42, James Hamil <notifications@github.com> a écrit :

﻿

Hi! This <https://www.microsoft.com/en-us/microsoft-365/compare-microsoft-365-enterprise-pl

[2020-10-19 21:40] tamram commented on #44702
#reassign: @santoshc1

[2020-10-19 21:43] edburns commented on #64641
​[5:23 PM] Sakthi Vetrivel
    I think it makes more sense for us to follow the precedent set by other docs that don't mention clearing az configure settings because running CLI commands.

[2020-10-19 21:43] #64641 closed

[2020-10-19 21:47] roygara commented on #28374
@jaypatrick Thanks for reaching out. I recommend leaving your feedback [here](https://feedback.azure.com/forums/217298-storage) (where the system sends you if you select product, instead of article). I'm recommending this because this way it'll actually go to the right place (product team) and be seen by them. There's a better chance of getting traction on your issue that way.

Thanks,

#please-cl

[2020-10-19 21:47] #28374 closed

[2020-10-19 21:47] SaiKishor-MSFT commented on #64389
@0xThiebaut
Thank you for reaching out to us on Github. Can you clarify what you mean by Legacy VMs? Do you mean Classic VMs?
If so, it is not recommended to use Classic VMs without DHCP to use Private Zones. Although you try to use the Azure domains, it will not be able to resolve unless it uses the Azure DNS IPs. What is your scenario that you want to use legacy VMs without DHCP?

[2020-10-19 21:49] tamram commented on #50131
@anothnk - Thanks for your feedback! We are working on adding Java examples to all of our task-based content. I have added a work item to make sure that the SAS examples are included in that effort.

#please-close

[2020-10-19 21:49] #50131 closed

[2020-10-19 21:51] barclayn commented on #64046
@w3bward Thank you so much for the suggestion. We are in the process of updating the documentation so I have created a internal work item to include these suggestions when we get to this article.

[2020-10-19 21:51] barclayn commented on #64046
#please-close

[2020-10-19 21:51] #64046 closed

[2020-10-19 21:54] mark-wiemer opened #64642 "Delete Block Blob overview is download information"
In the section https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal#delete-a-block-blob, the paragraph immediately following the header is a reprint of the download information. There is no information relevant to the delete operation there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-10-19 22:09] ChaitanyaNaykodi-MSFT commented on #64376
Hello @jonathanantoine, the requested information above is documented in the [Local development guide](https://docs.microsoft.com/en-us/azure/azure-functions/functions-develop-vs-code?tabs=csharp#local-settings-file) for function app.

Please let me know if there are any additional concerns.

[2020-10-19 22:13] ChaitanyaNaykodi-MSFT commented on #64388
Hello @davecatt, thank you for the feedback. The change requested has been made. I will now proceed to close this issue out, please tag me in your reply if there are any additional concerns.

[2020-10-19 22:13] #64388 closed

[2020-10-19 22:14] ashishsinghbhu opened #64643 "Network Bandwidth metrics doesn't seem to be available anymore"
The Network Bandwidth metric and chart mentioned in this article don't seem to be present anymore. Would be great to know why they have been removed and if appropriate, please update this article also to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d40cf114-6845-83f2-1744-3f62f1c13b57
* Version Independ

[2020-10-19 22:18] naraynm opened #64644 "Azure AD-joined Windows virtual machines (VMs) can access Azure file shares with your Azure AD credentials"
Azure Active Directory (Azure AD)

Azure Active Directory (Azure AD) is Microsoft's multi-tenant cloud-based directory and identity management service. Azure AD combines core directory services, application access management, and identity protection into a single solution. Azure AD-joined Windows virtual machines (VMs) can access Azure file shares with your Azure AD credentials.

In the above para

[2020-10-19 22:23] barclayn commented on #63331
@rishabh5j Thank you for pointing this out. We are in the process of updating the managed identities documentation and this article is a top priority for us. I have added this to our work item that tracks the updates that this article needs.

[2020-10-19 22:23] barclayn commented on #63331
#please-close

[2020-10-19 22:23] #63331 closed

[2020-10-19 22:32] tamram commented on #64642
@mark-wiemer - Thanks for pointing out this error!

I've updated the delete section to include the correct information. The change should be live by tomorrow.

#please-close

[2020-10-19 22:32] bfrasertech opened #64645 "Response Headers"
Even though the documentation says that any headers sent to front door from the backend are passed through to the client, we encountered an issue where response headers from the backend that had an X-AS- prefix were not being passed to the client by front door. We've since worked around the issue but it would be useful to know if that is a bug or intentional behavior.

---
#### Document Details

⚠

[2020-10-19 22:35] tamram commented on #29760
@SeanCLeavitt - Thanks for your feedback! We are working on extending all of our code examples in task-based content to other programming languages and to PowerShell and Azure CLI. I've opened a work item to make sure that this one is covered in PowerShell.

#sign-off

[2020-10-19 22:35] #29760 closed

[2020-10-19 22:39] tamram commented on #35412
@ElYusubov - Thanks for your feedback! We are working on extending all of our code examples in task-based content to other programming languages and to PowerShell and Azure CLI. I've opened a work item to make sure that we will have JavaScript examples for this one.

#please-close

[2020-10-19 22:39] #35412 closed

[2020-10-19 22:43] tamram commented on #61301
@lesterlitch - Thanks for your feedback! We are working on extending all of our code examples in task-based content to other programming languages and to PowerShell and Azure CLI. We hope to have this work completed in the upcoming months.

#please-close

[2020-10-19 22:43] #61301 closed

[2020-10-19 22:45] tamram commented on #53884
@SeaDude - Thanks for your feedback! We are working on extending all of our code examples in task-based content to other programming languages and to PowerShell and Azure CLI. We hope to have this work completed in the upcoming months.

#please-close

[2020-10-19 22:45] #53884 closed

[2020-10-19 22:45] tamram commented on #53885
@SeaDude - Thanks for your feedback! We are working on extending all of our code examples in task-based content to other programming languages and to PowerShell and Azure CLI. We hope to have this work completed in the upcoming months.

#please-close

[2020-10-19 22:46] #53885 closed

[2020-10-19 22:47] SubhashVasarapu-MSFT commented on #64581
@SteveBurkettNZ, Appreciate your patience. It looks like the page lists all the available regions that were really provided as of today by Azure bastion.

[2020-10-19 22:49] NickEales opened #64646 "instructions are incorrect"
In the section titled "UserErrorVmProvisioningStateFailed - The VM is in failed provisioning state" - which is in the Troubleshooting section of the Azure Backup documentation:

It states that this can happen when one of the extensions is in a failed state. This is correct, and since we are in the Azure Backup documentation section and the Backup Extension no longer appears in the Azure Portal - t

[2020-10-19 23:02] tamram commented on #53398
#reassign: @santoshc1

[2020-10-19 23:02] tamram commented on #56960
#reassign: @santoshc1

[2020-10-19 23:04] DerekHerman-MSFT commented on #64510
As discussed, assigning to author to see if improvements regarding the time format to SAS can be made.

[2020-10-19 23:05] tamram commented on #52212
#reassign: @santoshc1

[2020-10-19 23:06] tamram commented on #62207
#reassign: @santoshc1

[2020-10-19 23:07] tamram commented on #60473
#reassign: @santoshc1

[2020-10-19 23:07] tamram commented on #56310
#reassign: @santoshc1

[2020-10-19 23:07] tamram commented on #51330
#reassign: @santoshc1

[2020-10-19 23:08] roygara commented on #48878
@pcamposs Was your issue resolved? If so, we'll go ahead and close this out.

[2020-10-19 23:09] tamram commented on #51998
#reassign: @santoshc1

[2020-10-19 23:09] tamram commented on #52208
#reassign: @santoshc1

[2020-10-19 23:13] anbene commented on #62119
Hi @scyto, we've updated and expanded our documentation on co-sell requirements. Please see [Co-sell partner engagement](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-co-sell) and [How to submit Co-sell materials in Partner Center](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-co-sell#how-to-submit-co-sell-materials-in-partner-center). Thank you for your feedback

[2020-10-19 23:13] #62119 closed

[2020-10-19 23:16] roygara commented on #64327
#assign:roygara

[2020-10-19 23:33] roygara commented on #64327
@Kraftwerx Thanks for reaching out, we've added the backslash to the CLI. That change will be live later tomorrow

Accordingly, I'll close this out.

#please-close

[2020-10-19 23:33] #64327 closed

[2020-10-19 23:48] SubhashVasarapu-MSFT commented on #64645
@bfrasertech, Thanks for reaching out. We will investigate and update this thread.

[2020-10-20 00:03] shizn opened #64647 "Code change is hard to see if that really works."
In section **Update the app**, we ask developers to change max length of choice field to 100. And then redo migrate and deployment.
It works fine but from end user perspective, it's really hard to verify if this change works. That is just a small box in admin page, hard to count if I typed more than 100 characters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-10-20 00:10] MattMellifont commented on #64332
@GitaraniSharma-MSFT, @mblanco77 - Any updates on the above? Let me know if you want any further information.
Thanks!
Matt

[2020-10-20 00:12] femsulu commented on #64600
Hello @SarveshPandey, Thanks for the question. We are actively investigating and will get back to you soon.

[2020-10-20 00:15] shps951023 opened #64648 "Sample scripts for virtual machines link of Overview of Azure PowerShell is 404"
[Sample scripts for virtual machines](https://docs.microsoft.com/en-us/azure/virtual-machines/virtual-machines-linux-powershell-samples?toc=/powershell/azure/toc.json) link of [Overview of Azure PowerShell | Microsoft Docs](https://docs.microsoft.com/en-us/powershell/azure/?view=azps-4.8.0) is 404.

![image](https://user-images.githubusercontent.com/12729184/96525002-571b1680-12ac-11eb-9e00-d4a3c9

[2020-10-20 00:22] WinstonHoward-MSFT commented on #64615
Thanks for the issue, I'll take a look.

[2020-10-20 00:23] ChaitanyaNaykodi-MSFT commented on #64622
Hello @brennfoster,  Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-20 00:24] CarlKCarlK opened #64649 "Crazy that article doesn't provide links to the pages it documents."
The article could be made much more useful if it included links to the request pages to talks about. Even better: It could fill in some of the information. It seems crazy that a computer company is having me open two screens of information and transcribe information that I read on one of its pages into another of its pages.

- Carl Kadie
(Retired Microsoft Research and Microsoft Office team)

---

[2020-10-20 00:26] RichWK opened #64650 "Example is pointing at the wrong lines of code"
Hi — it looks like your "**Item examples**: replace an item" code sample is pointing at the wrong lines of code.

Won't all of your line references in this documentation desynchronise each and every time a person adds or removes lines in the corresponding .cs file in GitHub?? This seems like a very brittle way of pointing to code samples.

(Very useful sample though, once I found the right area...

[2020-10-20 00:30] WinstonHoward-MSFT commented on #64543
@VladimirKhvostov I've routed your issue to the doc author to made the doc edit. Thanks for bringing up the issue.

[2020-10-20 00:31] ChaitanyaNaykodi-MSFT commented on #64629
Hello @shriazure,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-20 00:33] vikancha-MSFT commented on #64543
@Karishma-Tiwari-MSFT please assign this to @iafinder

[2020-10-20 00:33] sjosyula3 commented on #64633
@anuragdalmia - I have updated the original description with this info. Please take a look.

`"value": [
{
	"id": "/providers/Microsoft.Billing/billingAccounts/<8 digit number>",
	"name": "<8 digit number>",
	"properties": {
	"accountStatus": "Unknown",
	"accountType": "Enterprise",
	"agreementType": "EnterpriseAgreement",
	"billingProfiles": {
	"hasMoreResults": false
},
"displayName": "<Our Orga

[2020-10-20 00:35] MarileeTurscak-MSFT commented on #64457
Hi @thommck ,

As noted in the [dynamic group membership document](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership),

"No license is required for devices that are members of a dynamic device group."

Hope this helps!

[2020-10-20 00:35] #64457 closed

[2020-10-20 01:08] saadatahmed commented on #53260
The question remains, how/when would the query editor within Azure Portal be able to connect over Private Link. If Private Link is already configured, it should be intelligent enough to recognize the configuration instead of forcing users to be on a private network (VPN, etc). We are moving towards a VPN-less world with introduction of concepts as zero-trust networks and security control as MFA.

[2020-10-20 01:10] roygara commented on #59518
Thanks for bringing this to our attention, we've gone ahead and added example output to the article. This will be visible sometime tomorrow.

Accordingly, I'll close this out.

#please-close

[2020-10-20 01:10] #59518 closed

[2020-10-20 01:14] roygara commented on #43770
I'll close this out for now, and add this to our backlog. So that we can put it in the documentation when we've bandwidth.

#please-close

[2020-10-20 01:14] #43770 closed

[2020-10-20 01:17] roygara commented on #63379
@hphuhtin Updates to the article have been made, and are now live.

I'll close this out, accordingly.

Again, thanks for bringing this to our attention, we appreciate it! :)

#please-close

[2020-10-20 01:17] #63379 closed

[2020-10-20 01:36] roygara commented on #47734
#assign:wmgries

[2020-10-20 01:39] sandeep-ma commented on #64413
Okay, then please update the article to show the correct method. And test it too, since I don't think the claim is correct as to how you can do long running http requests.
Thanks
________________________________
From: MayankBargali-MSFT <notifications@github.com>
Sent: Monday, October 19, 2020 10:35:16 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: sandeep-ma <sandeep@live.ca>

[2020-10-20 01:56] ChaitanyaNaykodi-MSFT commented on #64282
Hello @jjindrich,
Sorry for the delay in my response. Yes, the [Cosmos DB output binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-cosmosdb-v2-output?tabs=csharp#usage) can be used to update a existing document. You can access the existing document using its ID and perform updates. This [overview document](https://docs.microsoft.com/en-us/azure/cosmos-db/serverless

[2020-10-20 01:56] #64282 closed

[2020-10-20 02:08] barclayn commented on #55269
#reassign:msmbaldwin

[2020-10-20 02:27] VikasPullagura-MSFT commented on #64648
@shps951023 Thanks for bringing this to our notice. We will check and update the links.

[2020-10-20 02:28] alexjoybc opened #64651 "windows gitbash script issue"
in the section **Add an A record to your DNS zone** in the notes to `Optionally, you can configure an FQDN...`

When running the script with gitbash on windows 10, I've had to prepend `MSYS_NO_PATHCONV=1` to the az commands

this is a known restriction of windows git bash see [https://stackoverflow.com/questions/7250130/how-to-stop-mingw-and-msys-from-mangling-path-names-given-at-the-command-line#

[2020-10-20 02:33] SaiKishor-MSFT commented on #64513
@RonnieQuan Apologize for the delay. We are still investigating this and will update you soon. Thank you!

[2020-10-20 02:55] shps951023 commented on #64648
below links also 404
*   [Azure Active Directory for PowerShell](https://docs.microsoft.com/en-us/powershell/azure/active-directory/)
*   [Azure Service Fabric for PowerShell](https://docs.microsoft.com/en-us/powershell/azure/service-fabric/)
*   [Azure ElasticDB for PowerShell](https://docs.microsoft.com/en-us/powershell/azure/elasticdbjobs/)

![image](https://user-images.githubusercontent.com/12

[2020-10-20 02:57] kailashmsft commented on #64613
we will correct this and update it @rjmccallumbigl

[2020-10-20 03:22] BharathNimmala-MSFT commented on #64612
@SeaDude Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-10-20 03:23] AnuragSharma-MSFT commented on #64643
@ashishsinghbhu Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-20 03:25] AnuragSharma-MSFT commented on #64650
@RichWK Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-20 03:26] AnuragSharma-MSFT commented on #64419
@Letsan We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-20 03:27] #64419 closed

[2020-10-20 03:35] MS-jeremy opened #64652 "Change the link of "upgrade to version 3.6 by filing a support ticket" to self-help doc"
[Enter feedback here]
For below section "upgrade to version 3.6 by filing a support ticket", should be redirected to [Upgrade the MongoDB wire protocol version of your Azure Cosmos DB's API for MongoDB account](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-version-upgrade), as currently customer can upgrade the version themselves.

Compound indexes (version 3.2)
Compound indexes hold re

[2020-10-20 03:47] tamram commented on #61820
@kedzior-io - Thanks for your feedback! This issue has been fixed, and the change should go live by tomorrow.

[2020-10-20 03:48] tamram commented on #64559
@DDoyley  - Thanks for your feedback! This issue has been fixed, and the change should go live by tomorrow.

#please-close

[2020-10-20 03:48] #64559 closed

[2020-10-20 03:48] tamram commented on #61820
#please-close

[2020-10-20 03:48] #61820 closed

[2020-10-20 03:48] tamram commented on #64442
@ActiveNick  - Thanks for your feedback! This issue has been fixed, and the change should go live by tomorrow.

#please-close

[2020-10-20 03:48] #64442 closed

[2020-10-20 04:07] rachelxj-ms opened #64653 "Deploy to slot with FTP is not supported"
I tried to deploy app to staging slot with FTP, but it seems the FTP server is same as production. Is it by design or an issue?
Please help clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6924846-3993-db7f-92c2-96a069bda515
* Version Independent ID: b0ec25d1-8ea8-c0e4-304d-ab03692fa8e7
* Content: [Deploy conte

[2020-10-20 04:09] AnuragSharma-MSFT commented on #64652
@MS-jeremy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-20 04:19] Svijay-msft commented on #64619
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-20 04:19] yuriwoof opened #64654 "Need add in about the case of different tenant"
I integrated vnet resides in different tenant. I got "Insufficient permissions" error but I could access storage account.
It seems to be the limitation of portal, but it is confusing I think.

Could you add some notes about this?

![image](https://user-images.githubusercontent.com/1770342/96539699-aaa25a00-12d6-11eb-9a32-0ac6f979a56e.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2020-10-20 04:21] bgever commented on #62035
Great, thank you @craigshoemaker!

[2020-10-20 04:38] VikasPullagura-MSFT commented on #64425
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-20 04:38] #64425 closed

[2020-10-20 04:48] algattik opened #64655 "Duplicate text about Private site access"
The following text is present twice in the page:

_VNet Integration gives your app access to resources in your VNet, but it doesn't grant inbound private access to your app from the VNet. Private site access refers to making your app accessible only from a private network, such as from within an Azure VNet. VNet Integration is only for making outbound calls from your app into your VNet._

---
####

[2020-10-20 04:51] ram-msft commented on #64323
@yingqunpku Could you please help with the updated sample for ChangePointDetectAsync.

[2020-10-20 04:52] hisasima opened #64656 "Portal dose not support version-less."
When I used Portal, the secret ID had version of KeyVault certificate so the certificate was not upgraded automatically. I hope you add this limitation into this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c416d5e-5bfd-c641-e9bb-324dcb921acc
* Version Independent ID: 8739a044-d471-c432-3ed1-503539408ae8
*

[2020-10-20 04:57] BhargaviAnnadevara-MSFT commented on #64429
@AngelusGi For Azure Lab Services, usually **[Standard_D8s_v3](https://docs.microsoft.com/en-us/azure/virtual-machines/dv3-dsv3-series?toc=/azure/virtual-machines/linux/toc.json&bc=/azure/virtual-machines/linux/breadcrumb/toc.json#dsv3-series)** is spun-up when a Large(Nested Virtualization) VM size is selected.

I will check if we can get this piece of information added to the document. Please le

[2020-10-20 05:05] guptaanoop29 opened #64657 "Service Mesh - Could not find member 'templateLink' on object of type 'DeploymentDefinition"
I am trying a POC on service mesh and tried one of the example specified in tutorial using the below command in az cli.

az mesh deployment create --resource-group myResourceGroup --template-uri https://raw.githubusercontent.com/Azure-Samples/service-fabric-mesh/2018-09-01-preview/templates/helloworld/helloworld.linux.json --parameters "{\"location\": {\"value\": \"eastus\"}}"

Receiving below exc

[2020-10-20 05:05] AjayKumar-MSFT commented on #64647
@shizn, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-20 05:09] GitaraniSharma-MSFT commented on #64558
@RonnieQuan , I checked with the Private Endpoint PG team and they informed - Yes, Azure plan to support associating private endpoint with ASG and the approx. ETA is Q1 of calendar year 2021.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-20 05:09] #64558 closed

[2020-10-20 05:10] AjayKumar-MSFT commented on #64653
@rachelxj-ms, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-20 05:14] rachelxj-ms commented on #64653
@AjayKumar-MSFT I tested it again, it seems it works with File Explorer, but from FileZilla, the contents are the same, please help identify if there are any FTP clients I can use.

[2020-10-20 05:14] GitaraniSharma-MSFT commented on #64577
@RonnieQuan , I checked with the Bastion PG team and they informed that Public preview for Bastion VNET peering should be available by end of Oct or first half of Nov. Exact dates are yet to be finalised. Once the Public preview for Bastion VNET peering is released, it will be documented and available for use. So you can expect to use it by Nov'20.

We are closing this issue for now. If there are

[2020-10-20 05:14] #64577 closed

[2020-10-20 05:18] GitaraniSharma-MSFT commented on #64656
@hisasima , thanks for the feedback! We'll review this and get back to you shortly.

[2020-10-20 05:37] psmanhas commented on #64651
@alexjoybc Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-20 05:37] psmanhas commented on #64651
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-10-20 05:47] MS-jeremy opened #64658 "The multi-write region is charged as N region instead of N+1 region now"
[Enter feedback here]
For the section [Billing examples with geo-replication and multi-region writes](https://docs.microsoft.com/en-us/azure/cosmos-db/understand-your-bill#billing-examples-with-geo-replication-and-multi-region-writes):
"(b) configured with all regions capable of processing writes is equal to T x (N+1) RU/sec", this should be changed to T RU/sec now?

For the section [Billing examp

[2020-10-20 05:48] rachelxj-ms commented on #64653
I reboot and test it with FileZilla again. it seems working this time. so I close this case

[2020-10-20 05:48] #64653 closed

[2020-10-20 05:53] dcurwin commented on #64646
#reassign:GeethalakshmiG

[2020-10-20 05:59] AnuragSharma-MSFT commented on #64441
@bmeverett We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-20 05:59] #64441 closed

[2020-10-20 06:01] kemurayama opened #64660 "App Service cannot use Managed Identity for pulling container from Azure Container Registry"
Hi,

In this tutorial, Managed Identity is enabled for pulling image from Azure Container Registry (ACR).

According to the [Azure Container Registry document](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity),  App Service cannot use Managed Identity to pull image from ACR.

Which is true ? As long as I tried, I failed to pull image from

[2020-10-20 06:17] SaiKishor-MSFT commented on #64513
@RonnieQuan
Parallel update of rules is not supported as of now. Have you tried Serial copy which does it one at a time? https://github.com/Azure/azure-docs-json-samples/blob/master/azure-resource-manager/multipleinstance/serialcopystorage.json

[2020-10-20 06:37] puser123 opened #64661 "Hi, there are no details of health check status metric on this page."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2550993f-34f1-d963-3ee5-3dcebe2a64d7
* Version Independent ID: 3da9bc96-6e24-54fa-bd99-6a6a704f583a
* Content: [Monitor apps - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/web-sites-monitor)
* Content Source: [articles/app-ser

[2020-10-20 06:46] evakkuri opened #64662 "The documentation refers pivot operation, not unpivot"
[Enter feedback here]
Please update the documentation to explain the correct operation.

For example:

First, set the columns that you wish to group by for your *pivot* aggregation. Set one or more columns for ungrouping with the + sign next to the column list.

The *Pivot* Key is the column that ADF will *pivot* from row to column. By default, each unique value in the dataset for this field will

[2020-10-20 06:46] kiazhi opened #64663 "Is there an Azure SDK for Javascript package to list Azure Service Health?"
Unfortunately, I'm only able to find [Resource Health](https://docs.microsoft.com/en-us/javascript/api/@azure/arm-resourcehealth/?view=azure-node-latest) package in Azure SDK for Javascript.

Is there a package for Service Health in Azure SDK for Javascript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ece45be-921e-

[2020-10-20 06:58] SarveshPandey commented on #64619
Did you get anything about it?

[2020-10-20 07:09] #64435 closed

[2020-10-20 07:19] gp1210 commented on #64619
Please respond at the earliest as this is very important.
Thanks

[2020-10-20 07:44] mengaims commented on #64323
@KeithWalton Thanks for reporting the document issue. Please refer to the right sample here: [https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/anomalydetector/Azure.AI.AnomalyDetector/samples/Sample3_DetectChangePoint.md](url) . Any questions please let me know. We will update the quick start doc asap.

[2020-10-20 07:56] lansalot commented on #64607
The link here:
https://docs.microsoft.com/en-us/azure/cosmos-db/query-cheat-sheet#oversized-cheat-sheets

Specifically this one:
![image](https://user-images.githubusercontent.com/9885921/96557378-16260080-12b2-11eb-88f6-52e02f5ab1a3.png)

Has this href:
https://go.microsoft.com/fwlink/?linkid=870413

Which in turn takes me to:
![image](https://user-images.githubusercontent.com/9885921/96557417-25

[2020-10-20 08:23] #64535 closed

[2020-10-20 08:38] KrishnaG-MSFT commented on #64646
@NickEales Thanks for bringing this to our attention. This issue has been assigned to the content owner for further review.

[2020-10-20 08:40] KrishnaG-MSFT commented on #64649
@CarlKCarlK Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-20 08:52] AjayKumar-MSFT commented on #64661
@puser123, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-20 08:53] AjayKumar-MSFT commented on #64660
@kemurayama, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-20 09:20] HarithaMaddi-MSFT commented on #64662
@evakkuri - Thanks for your feedback. We are looking into it and will get back to you shortly.

[2020-10-20 09:22] #64356 closed

[2020-10-20 09:50] SnehaAgrawal-MSFT commented on #64535
@nelroosevelt Thanks for the valuable feedback! The PR has been created and it will visible soon in document.

[2020-10-20 09:56] AmitavaHazra opened #64667 "Issue with Azure portal authentication behavior"
Reference:
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concepts-azure-multi-factor-authentication-prompts-session-lifetime

While accessing Azure portal from Internet explorer it is not asking me credential prompt and also not asking for MFA though it has MFA enabled in conditional access policy.
We have federated authentication method (ADFS) and I am accessing azure por

[2020-10-20 10:04] HarithaMaddi-MSFT commented on #64619
@SarveshPandey and @gp1210 - I followed the document steps and it worked for me. Please check the below GIF and JSON of the pipeline attached. Let us know for more queries on the same.

![IncrementalLoadADF](https://user-images.githubusercontent.com/61235246/96571845-bfd4b400-12e9-11eb-81cc-ba0c11413e56.gif)
[IncrementalPipelineJSON.txt](https://github.com/MicrosoftDocs/azure-docs/files/5407943/In

[2020-10-20 10:07] Svijay-msft commented on #64644
Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-10-20 10:17] mii9000 opened #64668 "Not enough info on .NET Core WebJobs"
There is not enough info on how to run CRON scheduled jobs as a .NET Core console application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b7b9f5c-4610-8cea-28d4-fea8ea03e7e1
* Version Independent ID: cc09b46d-cd40-45e8-ed45-7a0e3bf4b100
* Content: [Develop and deploy WebJobs using Visual Studio - Azure App Service

[2020-10-20 10:19] JohanKlijn opened #64669 "Examples are outdated"
The examples on this page are outdated. For example in the unit test mock are created for DurableOrchestrationClientBase, which is obsolete in the latest version. Instead you should use IDurableOrchestrationClient. But if you use IDurableOrchestrationClient the example code is not working anymore, because the StartNewAsync on the IDurableOrchestrationClient is an extension method.

---
#### Docume

[2020-10-20 10:24] #64165 closed

[2020-10-20 10:41] HarithaMaddi-MSFT commented on #64662
@evakkuri - I can see that document covers unpivot operation clearly which is to convert columns into rows and gives the details accurately. I am missing why it needs to be modified to pivot logic, we have a [document ](https://docs.microsoft.com/en-us/azure/data-factory/data-flow-pivot)for that operation.

Please let us know for more queries.

[2020-10-20 10:54] eliasvakkuri commented on #64662
If you look at the documentation page for Unpivot (https://docs.microsoft.com/en-us/azure/data-factory/data-flow-unpivot), you can see that it constantly refers to the pivot operation instead of the unpivot operation. It is not a simple word substitution either, as the documentation explains transforming rows into columns, which is what pivot does, instead of columns to rows, which is what unpivot

[2020-10-20 11:15] AnuragSharma-MSFT commented on #64658
@MS-jeremy Thank you for the feedback.

There seems some mismatch between the calculations here as mentioned by you.

1. T x (N+1) should be T x N as N is the total number of regions configured. Below calculations however is performed correctly by considering T x N formula only.
![image](https://user-images.githubusercontent.com/66360845/96578835-7721f880-12f3-11eb-886d-c4743068e1a4.png)

2. Below

[2020-10-20 11:19] simonbMS opened #64673 "Add the "by code" procedure"
Operations though portal are usually ok for testing or for small scenarios. For an enterprise scale implementation, all operations needs to be automated.

Please include a reference to specific APIs, PowerShell, CLI and/or others to achieve the same result by code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87c5c3

[2020-10-20 11:27] vipulsparsh commented on #64673
@simonbMS Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@curtand Can you have a look at this ?

[2020-10-20 11:34] vipulsparsh commented on #64367
@SAIMMINHAS
For Q1)  AAD follows a most restrictive approach in CA. Block has more restrictions then exclude. Hence the user is prompted for MFA

For Q2) Please have a look here : https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/concept-identity-protection-risks#risk-levels

While Microsoft does not provide specific details about how risk is calculated, we will say that

[2020-10-20 11:36] AnuragSharma-MSFT commented on #64652
@MS-jeremy Thanks for the valuable inputs. However manual upgradation is only available for few qualifying account and not to all the accounts as mentioned in the link. Service request is one way which works for all accounts as of now hence the link. Once this is available to all the accounts, the mentioned link shall be updated too.

![image](https://user-images.githubusercontent.com/66360845/965

[2020-10-20 11:38] MayankBargali-MSFT commented on #63577
@keatseongchan Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-10-20 11:38] #63577 closed

[2020-10-20 11:39] MS-jeremy commented on #64658
@AnuragSharma-MSFT Thanks for your reply! But seems you may be mixing up the sections

and

I am only talking about the "multi-write" regions. For the single-write region (the table you are pasting for 1.) , it has been charged as N region, **yet for multiple-write region**, since Dec 1 2019, it's changed **from N+1 to N.**

[2020-10-20 11:42] theheatDK opened #64674 "Budget expiration date?"
Hi,
I want to create a budget. Mostly just for billing alerts, so we get an alert if we start spending too much money.
I have a hard time understanding the reason for having an expiration on a budget.
Most of the budget examples I can find expires after a year. So after a year the budget becomes invalid and stops evaluating your costs. But this means that you will not get any billing alarms. This

[2020-10-20 11:45] AnuragSharma-MSFT commented on #64658
@MS-jeremy Apologies for the confusion. The change we are talking about is related to multi-region. The first point just mentioned that costing is done wrt to N regions only in single-write region. I should have used phrased it better.

[2020-10-20 11:47] MS-jeremy commented on #64652
@AnuragSharma-MSFT Yes, I know only qualifying accounts can be upgraded via self-help.

But anyway I think in this doc [Indexing for MongoDB version 3.2](https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing#indexing-for-mongodb-version-32), at least it can mention there is a way to be achieved by self-help. Or actually if customer clicks onto the section [Upgrade the MongoDB wire prot

[2020-10-20 11:47] vipulsparsh commented on #64595
@AminPasha7 Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

@billmath Can you have a look at this ?

[2020-10-20 11:51] MS-jeremy commented on #64658
@AnuragSharma-MSFT no worries!
And for my first point, it's for the section [Billing examples with geo-replication and multi-region writes](https://docs.microsoft.com/en-us/azure/cosmos-db/understand-your-bill#billing-examples-with-geo-replication-and-multi-region-writes) actually.

![image](https://user-images.githubusercontent.com/64671905/96582150-74340180-130d-11eb-9f4c-fe2607789d2b.png)

[2020-10-20 12:07] SadiqhAhmed-MSFT commented on #64674
@theheatDK Thanks for the question. We are investigating this issue and will get back to you shortly.

[2020-10-20 12:09] AnuragSharma-MSFT commented on #64652
@MS-jeremy Makes sense. I am assigning it to content author to evaluate and update as appropriate.

[2020-10-20 12:11] SarveshPandey commented on #64619
Hi @HarithaMaddi-MSFT, we have implemented the same thing, pipeline is running but the changes are not reflecting on the destination.

[2020-10-20 12:19] MayankBargali-MSFT commented on #64655
@algattik Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-20 12:24] rahug1190 commented on #64477
@artisticcheese The assessment utility will allow you to export the assessment and then provide those values as inputs for enabling replication for the server. You will need to do this for every VM that you want to replicate.

[2020-10-20 12:28] BhargaviAnnadevara-MSFT commented on #64571
@a888882 We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-20 12:28] #64571 closed

[2020-10-20 12:32] artisticcheese commented on #64477
Well the problem you can not provide export of assessment as input. You have to parse it, match it based on Machine ID, extract manually all information (like VM size, disk type etc) and then create manually all input parameters. Good example is disk type alone. Assessment creates disk type recommendation "Premium" or "Standard" while migration utility requires also redundancy to be specified  (fo

[2020-10-20 12:35] rahug1190 commented on #64477
That is correct. We are in the process of releasing automation that would automatically take care of a lot of these conversions. We hope to publish the automation scripts by next week.

[2020-10-20 12:44] irsubasi opened #64675 "Configuration of TTL with 0"
The document does not clearly state that the TTL cannot be set to 0. TTL should be set to nonzero positive value, except for -1 where it denotes as never expire.

Document should mention that the TTL cannot have 0 as the value to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fb9ccc0-c5d5-79aa-420d-1a

[2020-10-20 12:53] kamilzzz opened #64676 "Multi-master autoscaled cosmos db pricing"
I find it hard to estimate monthly cosmos db costs in the scenario with autoscaled multi-master account.
To simplify let's focus just on the maximum possible monthly bill.

Autoscale range: **3k - 30k RUs.** (we are focusing only on max, so calculation are for 30k RUs)
2 regions (both writable).

### From the CosmosDb pricing documentation: [DOCS](https://azure.microsoft.com/en-us/pricing/details/

[2020-10-20 12:58] HarithaMaddi-MSFT commented on #64619
Thanks @SarveshPandey for confirming that issue persists. Since the issue seems to be not in documentation but specific to implementation at your end, I would recommend opening a issue in [Q&A](https://docs.microsoft.com/en-us/answers/products/) or [Stack Overflow ](https://stackoverflow.com/questions/tagged/azure-data-factory) where deep investigation can be conducted. Please tag me in the thread

[2020-10-20 12:58] #64619 closed

[2020-10-20 13:06] SwathiDhanwada-MSFT commented on #64570
Assigning to content author @lgayhardt for review and updating document accordingly.

[2020-10-20 13:06] mmacy commented on #59693
@nschuessler Apologies on the delay in follow-up on this. Since we don't have a repro on this and it seems the cause is not entirely clear, it'll be difficult to provide break/fix explanation in a troubleshooting step. I move that we close this one out for now, and if you run into it again, we can verify and update then.

#reassign:mmacy

[2020-10-20 13:14] HannesLindner commented on #50613
Thanks alot for this great explanation :)

[2020-10-20 13:17] HarithaMaddi-MSFT commented on #64662
@evakkuri - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr#134579. Once the changes are reviewed by Author, the changes will be live.

@kromerm - Can you please take a look at the PR and share review comments

[2020-10-20 13:20] mmacy commented on #60312
@jennyf19 Do you know if we have any resources/samples showing how to enable MSAL in *Startup.Auth.cs* in an old ASP.NET MVC app?

[2020-10-20 13:20] HarithaMaddi-MSFT commented on #64605
@zincob - As per the [document](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/synapse-spark-sql-pool-import-export#transfer-data-to-or-from-a-sql-pool-attached-with-the-workspace), while running sqlanalytics command from pipeline, importing the modules step needs to be included in the notebook as below.

![image](https://user-images.githubusercontent.com/61235246/96591516-f1a74400

[2020-10-20 13:21] MayankBargali-MSFT commented on #64413
@sandeep-ma Just want to clarify that the until action is not meant to be for long polling of HTTP request. In a scenario where you called the HTTP request and wait to check the status of the HTTP request whether the task that was running was completed or not you can use until action. Whatever action that you are defining inside the until action it was executed for the count, timeout, or the expre

[2020-10-20 13:24] HarithaMaddi-MSFT commented on #64591
@joanteixi - As per this [document](https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/synapse-spark-sql-pool-import-export#transfer-data-to-or-from-a-sql-pool-attached-with-the-workspace), while running sqlanalytics command from pipeline, importing the modules step needs to be included in the notebook as below.

![image](https://user-images.githubusercontent.com/61235246/96591516-f1a7