[2020-04-21 22:03] KranthiPakala-MSFT commented on #52755
Sure @Minewiskan.

[2020-04-21 22:05] jessicl-ms commented on #51284
Hi @jasenf, the reason why there was no documentation for using wildcard domains specifically is because wildcard domains can be managed like normal custom domains in Front Door. In retrospect, this should have been stated explicitly in the documentation that was launched for clarity.

If you really don't mind being someone's guinea pig in getting this set up, so that fewer people have to go throu

[2020-04-21 22:09] Karishma-Tiwari-MSFT commented on #52189
Thanks for sharing the update.
I have updated the doc so that users follow the password requirements while using these commands.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-21 22:09] #52189 closed

[2020-04-21 22:10] Karishma-Tiwari-MSFT commented on #52573
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-21 22:10] #52573 closed

[2020-04-21 22:12] mike-urnun-msft commented on #52581
@RonnieQuan Since this channel is more for driving improvements towards MS Docs and we haven't determined any upon review of this issue, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-21 22:12] #52581 closed

[2020-04-21 22:12] Karishma-Tiwari-MSFT commented on #52617
@mscurrell @pkshultz Can you please share your insights on this issue? Thanks. :)

[2020-04-21 22:16] mjanulaitis opened #52987 "ResourceNotFound"
I have a paid Azure account.  I followed the instructions found here:

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/active-directory/reports-monitoring/howto-configure-prerequisites-for-reporting-api.md

However when I go to the Graph Explorer and call:

https://graph.microsoft.com/beta/auditLogs/directoryAudits

I get the following error:

`{
    "error": {
        "code": "Re

[2020-04-21 22:16] KranthiPakala-MSFT commented on #52755
@RonnieQuan Yes, asazureeus28-aspaaseastus2.asazure.windows.net is valid.

`aspaaseastus2` is the name of the region, and `asazureeus28` is the name of the cluster.

I believe you using Scale out feature. For more info please refer to : https://docs.microsoft.com/en-us/azure/analysis-services/analysis-services-scale-out#why-scale-out

But in order to trouble shoot your issue, I would recommend you

[2020-04-21 22:17] jasenf commented on #51284
Hi Jessica, I have set it up a few times via the CLI now, and the interface does now support it (even though it didn't)  My issue was with the lack of documentation while we waited for the portal to support it.  happy to help otherwise if I can.

[2020-04-21 22:17] spelluru commented on #50426
This issue is fixed now.

#please-close

[2020-04-21 22:17] #50426 closed

[2020-04-21 22:24] kgremban commented on #49692
Hi @angellmethod, to help me figure out the best place to put this information in the troubleshooting article, do you remember the steps that you took to look for this info? For example, did you encounter the error and then come to the troubleshooting page to figure it out? Or did you run the check command because the troubleshooting page recommended it, but then needed that extra context?

Also,

[2020-04-21 22:26] MarileeTurscak-MSFT commented on #52962
Thanks! I'm reporting this to the product team.

[2020-04-21 22:28] BharathNimmala-MSFT commented on #52985
@jzuchora87 Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-21 22:30] diberry commented on #52422
This appears to be a product issue. Please assign to product team.

[2020-04-21 22:33] kevbry commented on #51992
It should be very clearly documented up front that this is a pre-alpha solution in asp.net core.

[2020-04-21 22:33] angellmethod commented on #49692
Hi @kgremban , I ran the `iotedge check` command and then came to the troubleshooting page.  I did look at the section you mentioned.  The current wording for the `built-in troubleshooting` led me to not look there initially.  I do think it makes sense to put in there but the wording might need to be updated to something like: "For details on diagnostic checks and why they might be failing...."  b

[2020-04-21 22:34] sebansal commented on #41570
Article updated to add integration guides for partnered CAs with Azure Key Vault.

[2020-04-21 22:36] SaurabhSharma-MSFT commented on #52936
@iricigor You are getting the warning as you are using a Guest user account.  When you use a work account (member user type) to create a keyvault, it will automatically add the account to the access policy of the keyvault while creating the keyvault.
In your case, you could use the command Set-AzKeyVaultAccessPolicy to set the access policy for the Guest User after creating the keyvault.

[2020-04-21 22:36] tfitzmac commented on #52832
I have submitted the update and it should get published tomorrow morning.
#please-close

[2020-04-21 22:36] #52832 closed

[2020-04-21 22:38] kgremban commented on #51800
@levi106 Are you making the connection request from another IoT Edge module running on the same device, or a separate application running on the same device? Considering the information you shared, I suspect that you're on a separate application.

Using the module name in the endpoint only works for module-to-module communication on the same device because IoT Edge modules are on their own network

[2020-04-21 22:40] MarileeTurscak-MSFT commented on #52359
@Neelkamal10 this is a pretty generic error. It could be related to your key vault access policies. COuld you please post a screenshot of those?

Since this is an implementation question and less related to the documentation I would recommend posting to [Q&A](https://docs.microsoft.com/answers/). Otherwise you can feel free to email me at AzCommunity@microsoft.com and include screenshots of your p

[2020-04-21 22:40] #52359 closed

[2020-04-21 22:41] kgremban commented on #49692
Ah, I see. Yes, that makes sense. Let me work on rewording that and I'll let you know when the new version is available to review.

[2020-04-21 22:42] KranthiPakala-MSFT commented on #52803
@Murthy582 I have tried having a parameter as below, and was able to test the wild card setting without issue.

![image](https://user-images.githubusercontent.com/50185738/79920841-e753ce00-83e5-11ea-8417-b207fb792152.png)

![image](https://user-images.githubusercontent.com/50185738/79920859-f2a6f980-83e5-11ea-8d57-1fadbdb22855.png)

![image](https://user-images.githubusercontent.com/50185738/7992

[2020-04-21 22:43] kevbry commented on #48862
Are there any updates on this? The documentation around AD in asp.net core seems to be jumbled between ad v1.0 and 2.0, across several different unreleased versions of microsoft.identity.web.

[2020-04-21 22:44] Karishma-Tiwari-MSFT commented on #52947
Thank you for providing valuable feedback to improve the product.
Please post this as a product feedback [here](https://feedback.azure.com/forums/216843-virtual-machines). This will allow the community to up-vote and for the product team to include into their plans. We also have the "Give Product Feedback" button in our documents now to take you directly to the appropriate feedback page.

We will

[2020-04-21 22:44] #52947 closed

[2020-04-21 22:52] vermagit commented on #52610
@Karishma-Tiwari-MSFT Please re-direct to the appropriate GPU content owners in Vijay Kanchanahalli and Ian Finder.

[2020-04-21 22:55] ecfan commented on #52859
Hi @amac44 & @PramodValavala-MSFT, thanks for raising this issue. The example is missing the iterationIndexes() function. I have a fix in progress.

[2020-04-21 22:56] keithnicholson commented on #52971
BTW, I've done the WPF version of this and it worked perfect.

[2020-04-21 22:57] dcbrown16 commented on #51808
@theheatDK why did you close this one? I think we're still waiting on resolution.

[2020-04-21 23:00] GiftA-MSFT commented on #52722
@gopitk here's an [example](https://medium.com/@ylashin/consume-onnx-models-using-azure-machine-learning-service-869b1029d107) of how to consume ONNX models using Azure Machine Learning Service.
@jpe316 do you have any plans to document how to consume ONNX models, including input format?

[2020-04-21 23:01] Grace-MacJones-MSFT commented on #52964
Hi Aaron, we added a note referencing .Net profiler. I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2020-04-21 23:01] #52964 closed

[2020-04-21 23:02] ecfan commented on #49168
Hi @steveculshaw, given that we haven't heard back, we'll resolve this issue as closed. If you have future questions, feel free to reopen, thanks!

@mike-urnun-msft: #please-close

[2020-04-21 23:02] #49168 closed

[2020-04-21 23:05] jessicl-ms commented on #52124
@espray There is no documentation specifically for using wildcard domains vis CLI is because wildcard domains can be managed like normal custom domains in Front Door.

You may use [`az network front-door frontend-endpoint create`](https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door/frontend-endpoint?view=azure-cli-latest#ext-front-door-az-network-front-door-frontend-endpoi

[2020-04-21 23:06] jessicl-ms commented on #52122
@espray, what do you mean by via API? via .NET SDK?

[2020-04-21 23:07] jessicl-ms commented on #52121
Thank you for the feedback. We have updated the documentation.

[2020-04-21 23:07] ecfan commented on #50370
The topic now links to this site instead because there were issues linking to just HTTP: https://github.com/dotliquid/dotliquid

@mike-urnun-msft: #please-close

[2020-04-21 23:07] #50370 closed

[2020-04-21 23:08] Jont-K opened #52989 "Duplicate question having different answers"
What currencies are supported by Azure Marketplace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50f6ee16-5202-f3b3-bf68-d2aca21f2ea8
* Version Independent ID: 08853ce1-8448-f09c-4236-5dfc3e2ff3bb
* Content: [Microsoft commercial marketplace FAQ](https://docs.microsoft.com/en-us/azure/marketplace/marketplace-faq-publ

[2020-04-21 23:12] aaronnavratil opened #52990 "Role requirement for Log Analytic Workspace"
Can the actual rights needed to the log analytics workspace be outlined here? The "log analytics reader" role does not appear to be sufficient for data population to workbook.  Contributor seems to work but if the "Security Reader" directory role allows access to the insights panel, why would contributor access be necessary for the analytics workspace?

---
#### Document Details

⚠ *Do not edit th

[2020-04-21 23:12] qianw211 commented on #52989
@Jont-K there's an FAQ question answering this, did you find your answer or do you have additional questions?  Thanks!

[2020-04-21 23:13] gopitk commented on #52722
That example is not for no-code deployment. I dont have control over my score.py in no-code deployment and hence need to know the input format. I tried a few combinations but cant find what is expected.

[2020-04-21 23:16] Karishma-Tiwari-MSFT commented on #52656
@RoopChevuri Can you please share your insights on the customer issue? Thanks :)

[2020-04-21 23:17] Karishma-Tiwari-MSFT commented on #52950
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-21 23:17] Karishma-Tiwari-MSFT commented on #52973
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-21 23:18] Grace-MacJones-MSFT commented on #52952
Hi @MasayukiOzawa , thanks for the comment. is there a specific question you had about the docs?

[2020-04-21 23:18] Jont-K commented on #52989
sorry I wasn't clear.  I'm pretty sure that question is listed in the FAQ
twice but will different answers.  which one is correct?

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Tue, Apr 21, 2020 at 6:13 PM Qian Wen <notifications@github.com> wrote:

[2020-04-21 23:20] Karishma-Tiwari-MSFT commented on #52979
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-21 23:28] BrianLevenson commented on #52989
Hey @Jont-K we support 17 currencies: Transactions can be conducted in the following 17 currencies: AUD, BRL, CAD, CHF, DKK, EUR, GBP, INR, JPY, KRW, NOK, NZD, RUB, SEK, TWD, USD, RMB.

[2020-04-21 23:30] Karishma-Tiwari-MSFT commented on #52663
Can you please share at which step in the document are you seeing this error?

[2020-04-21 23:31] SaurabhSharma-MSFT commented on #52811
@Bibekg001 I am able to reproduce your issue and checking internally with the product team and update you as soon as I hear back.

[2020-04-21 23:32] MarileeTurscak-MSFT commented on #52962
What version are you using? Get-AzResourceGroup -ResourceGroupName xxx works fine with 1.6.0

Can you try with 1.6.0?

[2020-04-21 23:35] ThomasWeiss commented on #52982
@icdavid Can you please file an issue in the [.NET SDK repo](https://github.com/Azure/azure-cosmos-dotnet-v3/issues)? (that repo says v3 but it's the same for v4)

[2020-04-21 23:41] jakehockey10 commented on #15398
@Mike-Ubezzi-MSFT Thanks for the response.  Embarrassing, but I was using V3 in my API and went down to V2 for my ETL project because I thought that was the only place I could do bulk operations with the BulkExecutor library.

I appreciate you bringing this to my attention.  It has been a long day converting everything over to V3, but I'm glad I did it.

So is V2 BulkExecutor not worked on any mor

[2020-04-21 23:47] sdg002 commented on #52598
@Mike-Ubezzi-MSFT
Thank you for sample JSON. I got the opportunity to load this into my Cosmos instance and have a play.

The original intent of my question was to find out whether the engine of **Cosmos DB**  internally handles **ISO** formatted strings in a special way and not just as another string field.

Inspired by your sample, I extended your JSON by adding a new field `AnotherDate` as foll

[2020-04-21 23:54] Jont-K commented on #52989
Thanks, Brian, this is taking up more of people's time than it's probably
worth.

I was just pointing out that the same question is listed twice, and in one
of the answers, the currency RMB is missing from one of them.  We can
close this - thank you.

[image: image.png]

[image: image.png]

*Jonathan Kingsepp*
e: jont@tackle.io
m: 312.286.6102
https://tackle.io

On Tue, Apr 21, 2020 at 6:28 PM Bri

[2020-04-22 00:00] MarileeTurscak-MSFT commented on #52990
@aaronnavratil
Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-22 00:03] MarileeTurscak-MSFT commented on #52986
@ducatijosh thanks for this feedback. Currently you can do this via Powershell but synchronizing via AD Connect is not yet supported.

You can upvote the feature request [here ]( https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/31847968-allow-to-sync-authentication-data-alternate-email)and I have also shared your feedback with the PG to highlight the priority.

I'll upda

[2020-04-22 00:03] #52986 closed

[2020-04-22 00:24] QuetzalcoatlRosso opened #52991 "Key Vault in AML?"
What are some of the recommended best practices to use Key Vault (secret key) inside of Azure Machine Learning (AML)? For example, is it recommended to setup an App Service inside of AML that uses Key Vault? One challenge we're having is how to appropriately pass credentials inside AML to Key Vault. For example, suppose a python script is in AML which requires a secret key (string); how might this

[2020-04-22 00:25] mike-urnun-msft commented on #52482
@bm-evn You can use the following policy to use the certificates stored in KV as a secret: https://github.com/galiniliev/api-management-policy-snippets/blob/galin/AkvCert/examples/Look%20up%20Key%20Vault%20certificate%20using%20Managed%20Service%20Identity%20and%20call%20backend.policy.xml

[2020-04-22 00:25] stuhad commented on #52940
@TravisCragg-MSFT I'm downloading the ovpn config from the Azure Virtual Network Gateway P2S portal, if there is a way to alter the config please document it

[2020-04-22 00:33] Mike-Ubezzi-MSFT commented on #52931
@dmitriyteteruk Thank you for bringing this to our attention. We are investigating this and will update you when we have more information.

[2020-04-22 00:34] TravisCragg-MSFT commented on #51099
@johannordin  You can use different versions of helm, in version 3.0 the helm init command is not needed, as is stated in the issue you linked.

[2020-04-22 00:37] Mike-Ubezzi-MSFT commented on #52937
@rwaithaka Thank you for bringing this to our attention. We are evaluating this and will have the documentation updated as appropriate.

[2020-04-22 00:38] griffand opened #52992 "Security controls incorrectly defined."
Guys,
Am seeing a fundamental issue here : MS has defined a (security) control as the issue / vulnerability to be addressed as per
"A control is a high-level description of a feature or activity that needs to be addressed and is not specific to a technology or implementation".
BUT in all other security organizations / security frameworks etc (e.g. IC2, NIST, ISO 2k1) a control is the countermeasur

[2020-04-22 00:39] Mike-Ubezzi-MSFT commented on #52958
@ShreedharYashoda Thank you for your inquiry. We are investigating and will update you when we have additional information to share.

[2020-04-22 00:40] Mike-Ubezzi-MSFT commented on #52978
@shawnparslow Thank you for bringing this to our attention. We are investigating this further and will have the documentation updated as appropriate.

[2020-04-22 00:44] MarileeTurscak-MSFT commented on #49331
I've bubbled this up several times and got a response - no information yet on what will happen to the existing policies, but they've extended the deadline to May 30th to add a bit more time.

 Users will still be able to modify access token policies, but not session and refresh tokens.

[2020-04-22 00:46] Mike-Ubezzi-MSFT commented on #52984
@jdkrobinson Thank you for bringing this to our attention. We are investigating and will consider making an update to the document to better reflect the use case outlined.

[2020-04-22 00:46] namnam0610 commented on #52899
Hi,
The document url is:
https://docs.microsoft.com/en-us/azure/virtual-wan/virtual-wan-point-to-site-portal

[2020-04-22 00:47] Mike-Ubezzi-MSFT commented on #52935
@cjtmed Thank you for bringing this to our attention. We are evaluating this and will make an update to the documentation as appropriate.

[2020-04-22 00:48] icdavid commented on #52982
Ok -> https://github.com/Azure/azure-cosmos-dotnet-v3/issues/1414

[2020-04-22 00:51] Mike-Ubezzi-MSFT commented on #52948
@dazinator Thank you for making us aware of your issue and this gap in the documentation. We are evaluating this and will provide the necessary feedback when we have more information to share.

[2020-04-22 00:53] Mike-Ubezzi-MSFT commented on #52949
@JanNepras Thank you for making us aware of this scenario. We are investigating and will make the necessary updates when we understand the issue in greater detail.

[2020-04-22 00:58] Mike-Ubezzi-MSFT commented on #52934
@jhagege Thank you for making us aware of this issue. Can you provide a link to the documentation you are attempting to follow? This helps drive updates to the related service specific documentation. If this is a general question, the [MSDN forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureMachineLearningService&filter=alltypes&sort=lastpostdesc) has a wider audience to assist

[2020-04-22 01:00] pwang2 commented on #40148
PORT injection works perfectly.  But the SSH_PORT injection without VNET integration doesn't work.   If VNET integration added, it works.  There should be no dependencies between VNET and SSH Port.

This is really bizarre!

[2020-04-22 01:01] TravisCragg-MSFT commented on #52496
@bestbear We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 01:01] #52496 closed

[2020-04-22 01:24] BrianLevenson commented on #52989
no worries, and i'm nearly finished with a refresh of the FAQs, so i'll make sure they're only listed once (and include the right currencies)

#please-close

[2020-04-22 01:24] #52989 closed

[2020-04-22 01:28] RonnieQuan commented on #52755
I don't have difficulty to make it work, I'm whitelisting based on the analysis service server name,  if it scales up and involves other FQDN, I would hope all the FQDN is documented somewhere, so I can whitelist upfront.

Currently I work in reactively fashion, since I don't know what's the FQDN when it scales up, so when I see a deny from my azure firewall log, I open the rule for that FQDN, ide

[2020-04-22 01:31] RonnieQuan commented on #52880
Thank for the information, what's the target date for the new feature which avoid the reinstallation of the extension?

[2020-04-22 01:44] webyxdesign commented on #51351
any update on this? @Karishma-Tiwari-MSFT @romitgirdhar

[2020-04-22 01:52] JeremyMcConnell opened #52993 "Reply URL format for new G Suite instances has changed"
It seems that when using a brand new G Suite instance, the reply URL must be in the format of https://www.google.com/a/mydomain.com/acs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [Tutorial: Azure Active Di

[2020-04-22 01:54] TravisCragg-MSFT commented on #52899
@namnam0610 Yes, you should be able to connect to on-premise and connected Virtual Networks.

There are restrictions that can occur with a VNET that has both P2S and ExpressRoute ,but this does not apply to Azure WAN.

[2020-04-22 02:03] TravisCragg-MSFT commented on #52984
@jdkrobinson The offline root CA cert should be all that is needed, but The intermediate certificate(s) should be bundled with server certificate and installed on the backend server.

[2020-04-22 02:07] namnam0610 commented on #52899
Thank you for your reply.
In addition, do we need to specify/add the custom routes in P2S Gateway or routes will be automatically added?

[2020-04-22 02:10] TravisCragg-MSFT commented on #52899
@namnam0610 Unfortunately that functionality is not fully documented yet, but it should follow similar to the [P2S Routing for Virtual Networks](https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-point-to-site-routing). There are situations when the route is added, and situations where it will need to be done manually.

[2020-04-22 02:16] zqyAmy opened #52994 "Missing location on Microsoft.sql"
We didn't see Microsoft.sql/locations list on supported moving resource side. I did some tests about moving Microsoft.sql/locations resource (Azure SQL DB configured Long-term backup retention), it works fine. Please check if you can add Microsoft.sql/locations on this doc? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-04-22 02:50] shriazure commented on #47543
Hello @alexkarcher-msft, do you have any update on adding VNET firewall to the the Storage account required for Functions? This feature would be a game changer for us to be able to use Premium Functions.

[2020-04-22 02:51] neeleshray-msft commented on #52993
@JeremyMcConnell Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-22 02:52] neeleshray-msft commented on #52992
@griffand Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-22 02:56] CHEEKATLAPRADEEP-MSFT commented on #52885
@RonnieQuan Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureAnalysisServices)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience

[2020-04-22 02:56] #52885 closed

[2020-04-22 02:57] CHEEKATLAPRADEEP-MSFT commented on #52856
@bbmilan  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-22 02:57] #52856 closed

[2020-04-22 03:10] rohitcs1987 commented on #43381
Thanks Pedro, this is the best solution you suggested. i am now relieved.

[2020-04-22 03:15] HannahHsiao commented on #52337
@ChiragMishra-MSFT , sorry for my late reply.
1.	Data Pipeline Pricing page isn't clear enough for the Data Flows disk charge, only one small note on pricing page: "Note: Data Factory Data Flows will also bill for the managed, disk, and blob storage required for Data Flow execution and debugging."
2.	customer can't select disk size nor see system notification for disk charge while using Data Flows

[2020-04-22 03:16] DixitArora-MSFT commented on #52702
@tartieret Thanks for the update. For now I have assigned this to content author for further review and update as appropriate.

[2020-04-22 03:18] VikasPullagura-MSFT commented on #52974
@mehmetekici

Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-22 03:23] VikasPullagura-MSFT commented on #52965
@divyag11

Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your are referring to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-22 03:30] DixitArora-MSFT commented on #52797
@gunzip HTML of the page is Durable function because it discussing the concepts of Durable function. Even if you open any other page , HTML will still show durable function because everything we are discussing falls under Durable function.

Then Stateful entities concept in Durable function is covered by Entity function so that is the reason it is followed in this way.

For now I will proceed with

[2020-04-22 03:30] #52797 closed

[2020-04-22 03:31] VikasPullagura-MSFT commented on #52749
@ThomasITS
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-22 03:31] #52749 closed

[2020-04-22 03:39] DixitArora-MSFT commented on #52887
@icocwp Here is the complete code : https://github.com/Azure/api-management-samples/tree/master/delegation

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 03:39] #52887 closed

[2020-04-22 03:46] kalyankrishna1 commented on #31918
Added a link
#please-close

[2020-04-22 03:46] #31918 closed

[2020-04-22 03:50] Mike-Ubezzi-MSFT commented on #52971
@keithnicholson Thank you for making us aware of this issue. We are investigating and will update this issue with the resolution steps when we understand the root issue.

[2020-04-22 03:52] SwathiDhanwada-MSFT commented on #52994
@zqyAmy Thanks for your feedback
@tfitzmac  Can you please review the request and update the document if required?

[2020-04-22 03:54] Mike-Ubezzi-MSFT commented on #52977
This issue is being investigated by the CXP Community engineering team.

[2020-04-22 03:57] SwathiDhanwada-MSFT commented on #52975
@dhancho Thanks for your comment. We are actively investigating and will get back to you shortly.

[2020-04-22 04:01] DixitArora-MSFT commented on #52888
@averkinderen PR has been created for this which will address this. Thanks so much for providing the feedback that help us in improving the documentation. For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 04:01] #52888 closed

[2020-04-22 04:01] kiranshashiny commented on #52730
Yes, please close it.
I was unable to get the link from where I came here.

I will reopen or open a new one if I get the right links.

Appreciate your time in this.

[2020-04-22 04:02] Mike-Ubezzi-MSFT commented on #52987
@mjanulaitis Thank you for bringing this issue to our attention. We are investigating and will update you when we have more information about the root cause.

[2020-04-22 04:04] DixitArora-MSFT commented on #52908
@ehrnst I have assigned this to content author for further review and update as appropriate.

[2020-04-22 04:07] DixitArora-MSFT commented on #52909
@dhdiez I have assigned this to content author for further review and update as appropriate.

[2020-04-22 04:15] PramodValavala-MSFT commented on #41341
@mcollier Thanks!

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 04:15] #41341 closed

[2020-04-22 04:19] ram-msft commented on #52422
@cahann Can you please check on this issue.

[2020-04-22 04:42] VikasPullagura-MSFT commented on #52972
@zPhilMc Thanks for posting your Question.

I am assuming that you are confused with the usage of powershell cmdlet modules.
`AzureRm` modules (old) are replaced with `Az` modules (new).

The `New-AzureRmDiskConfig` does not have _`HyperVGeneration`_ argument, you can see the details of this cmdlet in this [doc](https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermdiskconf

[2020-04-22 04:42] #52972 closed

[2020-04-22 04:58] Rodrigossz opened #52996 "Portal Image Outdated"
Hello! Notebooks now have Spark pools and samples. Tks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec5910fd-89bc-1b75-11aa-2e3b540534d8
* Version Independent ID: f1eed558-bd20-1991-98e8-9fbebfd3b0ee
* Content: [Introduction to the built-in Jupyter notebooks support in Azure Cosmos DB (Preview)](https://docs.microsof

[2020-04-22 05:14] rageshm110 commented on #52905
I have given a user **B2C User flow administrator** role in B2C tenant.
![image](https://user-images.githubusercontent.com/6996136/79942844-52081680-8485-11ea-977f-dbac67e7fb0a.png)
But when the user try to access the User Flows, he's getting User Authorization failure error. there must be something that I am missing.
![image](https://user-images.githubusercontent.com/6996136/79943082-a3b0a100-848

[2020-04-22 05:15] #52479 closed

[2020-04-22 05:17] ChiragMishra-MSFT commented on #52918
@ariel262626 I will now proceed to close this issue. However feel free to still comment and tag me if you are facing the same issue with the new version.

[2020-04-22 05:17] #52918 closed

[2020-04-22 05:32] akashperfect opened #52997 "Failed to establish a new connection, Connection refused"
I am getting this error while running the sf cluster in linux
Failed to establish a new connection: [Errno 111] Connection refused',))

According to documentation it says: Verify that the specified cluster endpoint is available and listening. How to do that?

Providing entire error
cmd: sfctl cluster select --endpoint http://localhost:19080
Error occurred in request., ConnectionError: HTTPConnecti

[2020-04-22 05:45] PramodValavala-MSFT commented on #52859
@ecfan Thanks!

@amac44 Fixes for both have been merged.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 05:45] #52859 closed

[2020-04-22 05:46] AnandKatta opened #52998 "How to Implement send Event in Angular9"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23bbdebe-7c92-b9ab-9ff1-5ebf939fd62e
* Version Independent ID: 202f0892-bf74-064f-b65c-e373af27ed64
* Content: [Send or receive events from Azure Event Hubs using JavaScript (latest)](https://docs.microsoft.com/en-us/azure/event-hubs/get-started-node-

[2020-04-22 05:49] SnehaAgrawal-MSFT commented on #52812
@hire-him Thanks again for the feedback! You may try below command

az webapp up --location westeurope --name <app name> --html

as static content needs to use the explicit --html flag to indicate that static content is being deployed.

Reference:
https://github.com/Azure/app-service-linux-docs/blob/master/AzWebAppUP/runtime_detection.md

[2020-04-22 05:53] SychevIgor commented on #44272
It will be nice to have answer even 5 months later

[2020-04-22 05:55] KranthiPakala-MSFT commented on #52945
@o-o00o-o Just confirmed with ADF team, that "The Salesforce connector is built on top of the Salesforce REST/Bulk API." means the connector is built on top of both REST and Bulk API.  The
 connector automatically choose one for better performance.  PK Chunking is used when the connector chooses to go with Bulk API.

Hope this info helps.

[2020-04-22 06:01] palma21 commented on #44272
It's not necessarily about accessing the pods directly Vs using services though there are solutions that use that behavior such as https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview

One of the advantages is removing the the IP forwarding step/aka custom route that is required for pods in kubenet network model to comunicate with each other across nodes. Since th

[2020-04-22 06:10] kalyankrishna1 commented on #31918
#please-close

[2020-04-22 06:15] v-pugoe commented on #52796
@TomAafloen As the application supports SP and IDP initiated SSO both so these two configuration steps are mentioned separately. They are not redundant.

[2020-04-22 06:19] KalyanChanumolu-MSFT commented on #52996
@Rodrigossz Thank you for reaching out and letting us know.

The Notebooks feature is still in preview and the experience on the Azure portal is continuously evolving. So there might be some delay in updating the documentation.
We will make changes accordingly.

[2020-04-22 06:21] huaigulin opened #53000 "Is text-to-speech currently available for front-end JavaScript?"
Hi,

I'm trying to get text-to-speech working in front-end (browser). So far I have tried 3 ways, but it seemed non of them worked.

1. Synthesize speech to a file with `AudioConfig.fromAudioFileOutput("path/to/file.wav");`
I think this method only works for back-end Node.js, because a "TypeError: fs.openSync is not a function" was thrown by AudioFileWriter.ts in the speech SDK after running the p

[2020-04-22 06:24] VikasPullagura-MSFT commented on #52997
@akashperfect Thanks for your Query.

From the error looks like the cluster is not running.

Also, you can use `netstat` command to check the port information (this command works on most Linux flavours).

[2020-04-22 06:28] vipulsparsh commented on #52920
![image](https://user-images.githubusercontent.com/63580915/79947959-90570300-8490-11ea-9a84-b54dcba8fad1.png)

[2020-04-22 06:50] efraimnewman commented on #52932
UPDATE The error without `sudo` is :
[code]

[2020-04-22 06:57] TomAafloen commented on #52796
Ahh, I see... If you skip "IDP-initiated mode" and only configure "SP-initiated mode", those values have not been filled in when you come to 5a/5b. But if you configure "IDP-initiated mode" they seem redundant.
We filled out both modes, so it seemed redundant for us.
Thanks for the clarification.

[2020-04-22 06:57] chenkennt commented on #52624
Yes, connections are evenly distributed on multiple SignalR instances (the default implementation is a random selection but you're able to customize it by implementing a custom router). For sending messages, by default it will be duplicated to all SignalR instances. Also you can customize its behavior if you know which instance the message should go (for example, if you have a smart router that ro

[2020-04-22 07:00] mike-urnun-msft commented on #52653
@smolesen Looks like this issue was resolved here: Azure/azure-cli-extensions#1572

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-22 07:00] #52653 closed

[2020-04-22 07:00] o-o00o-o commented on #52945
Great thanks for this, this is great news. This clarification should be added to the article.  It would also be good to understand both how the connector decides this as well as how we can tell which one was used for each execution.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: KranthiPakala-MSFT <notifications@github.com>
Sent: Wednesday, April 22, 2020 6

[2020-04-22 07:01] mike-urnun-msft commented on #52748
@spmanjunath We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-22 07:01] #52748 closed

[2020-04-22 07:04] o-o00o-o commented on #52969
Thanks for clarifying Daniel, all understood. Glad we can continue to use release flow with ADF and it is useful that the article highlights the inter dependencies - most code has some interdependence so saying cherry pick isn't supported I think is a bit misleading

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Daniel Perlovsky <notifications@github.com>
S

[2020-04-22 07:05] azureidentity opened #53001 "authenticationMethodsUsed is not listed in Monitor's signin"
authenticationMethodsUsed is listed in this schema, but i don't really find it. would you please investigate this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6abfd33-5740-865b-24a4-542a989bc399
* Version Independent ID: 0139ee02-5fcd-1d2d-800e-d440131348ec
* Content: [Sign-in log schema in Azure Monitor](htt

[2020-04-22 07:06] ezYakaEagle442 commented on #42735
Indeed the NSG rules are unclear, could you please add NSG not only in the quick start template but also add a CLI snippet on this page please ?

Something like :
b_nsg="bastion-nsg-management"
az network nsg create --name $b_nsg -g $my_rg --location $location

az network nsg rule create --access Allow --destination-port-range 22 --source-address-prefixes Internet --name "Allow SSH from Internet"

[2020-04-22 07:13] vipulsparsh commented on #52920
Thanks for reaching out @Tolle3000, if I understand your issue correctly, you are trying to change the membership type of a Group on Azure portal and could not change it as the membership type drop down option is greyed out.

Few points to note are :
1) This membership types while using Dynamic needs a Azure AD Premium P1 Licenses associated with your Tenant. Please verify that just to be sure. It

[2020-04-22 07:17] algattik opened #53002 "Self-service dedicated cluster deployment"
This text should be updated "It typically takes about two weeks to get the cluster deployed and handed over to be used by you. This process is temporary until a complete self-serve is made available through the Azure portal"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c58d87-83ad-9328-d98e-ffd1b608cc1d
* Version I

[2020-04-22 07:18] ivanaliptakova commented on #52822
**Context:**
I was redirected to this docu page from this link:
https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/16842499-order-by-null-handling. The interesting part is:

**Here is a real word scenario:**
- I have user objects
- Some of them have last name defined, some don`t
- I would like to sort users by last name in ASC and DESC order
- Users without last name defined are

[2020-04-22 07:19] joaopgrassi commented on #52657
@mrbullwinkle no worries and thank you all for the fast response on this! One could argue that the docs _somewhat_ talks about this behavior, but yeah I'm sure things can be more clear. Would help everyone.
Just to confirm the approach I showed is correct then? Meaning, repeat all the categories inside the `ApplicationInsights` provider section.

[2020-04-22 07:19] mike-urnun-msft commented on #52482
@bm-evn Regarding your question around the handling of cert renewals, APIM polls KV to determine whether to pick up a new cert. Provided that your custom domain is configured with KV certificate initially, APIM will automatically pick up any new cert irrespective of whether the cert was renewed manually by you, or automatically by KV.

We will now proceed to close this thread. If there are further

[2020-04-22 07:19] #52482 closed

[2020-04-22 07:27] linda33wj commented on #45914
We checked that Shopify has extended the API deprecation date to July 1st. We will upgrade the connector before that. And for now ADF should still work as expected.

#please-close

[2020-04-22 07:27] #45914 closed

[2020-04-22 07:38] aelmanaa commented on #52844
@TravisCragg-MSFT https://docs.microsoft.com/en-us/azure/azure-monitor/platform/workbooks-automate

when you automate your ARM workbook, you will have several times. but if you do so, you'll get the error message "Name exists in this subscription"

ARM are supposed to be idempotent. Hence: either it's a limitation of ARM with workbooks or a bug. either cases, this should be documented

by the way,

[2020-04-22 07:42] dearandyxu commented on #52728
SourceStore_Location is the folder path (container or fileSystem) of your source store where you want to move files from.
SourceStore_Directory is the subfolder path of your source store where you want to move files from.
DestinationStore_Location is the folder path (container or fileSystem) of your destination store where you want to move files to.
DestinationStore_Directory is the subfolder path

[2020-04-22 07:42] #52728 closed

[2020-04-22 07:46] linda33wj commented on #37499
Thanks all for your feedback. We are aware of this issue and are working on adding OAuth 2.0 support for Quickbooks connector. Current ETA is late May.

#sign-off

[2020-04-22 07:47] #37499 closed

[2020-04-22 07:53] amandadebler opened #53005 "Example for Azure CLI"
There should be an example for delegating a subdomain using the Azure CLI, as many Azure services, such as AKS, appear to implement new capabilities in Azure CLI before PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f18aa0d-7c82-b7a7-9b06-40de8fdbdc5c
* Version Independent ID: 7f0e9a57-f75f-cfaf-9ccb-99193

[2020-04-22 07:55] theheatDK commented on #51808
Sorry @dcbrown16. I misunderstood the comment from @SubhashVasarapu-MSFT :-)

[2020-04-22 08:00] v-nagta commented on #51548
Hi @IryKuz Can you please send the application workflow screenshots to the [SaaSApplicationIntegrations@service.microsoft.com](mailto:SaaSApplicationIntegrations@service.microsoft.com).

It would be better if you provide the account details. We will test the application and as well as we will update the Doc.

Thanks,
Nagireddy

[2020-04-22 08:01] RohitMungi-MSFT commented on #52932
@efraimnewman Based on some lookup of similar issues on pi, Could you please check if checking/adding this access helps?

[code]
Also, It would be great if you can create an issue on the speech SDK github repo [here](https://github.com/Azure-Samples/cognitive-services-speech-sdk/issues) and reference this issue.

[2020-04-22 08:03] RohitMungi-MSFT commented on #52661
@ggerogiokas Please let us know if you were able to raise an issue from Azure portal or we can help you to provide a 1 time request to raise the issue.

[2020-04-22 08:04] ggerogiokas commented on #52661
Hi Rohit, I will raise one right now.

On Wed, Apr 22, 2020 at 9:03 AM RohitMungi-MSFT <notifications@github.com>
wrote:

--
George Gerogiokas

[2020-04-22 08:09] Mikkel-Gram commented on #52617
i am experiencing this too, not just with low-priority machines but with all VMs for newly created batch accounts. Have only tried in EU West.

It is a recent issue, just a couple of weeks ago new accounts would have some low priority cores available.
It is preventing me from deploying my solution in a CI/CD manner, where i create a batch account for the purpose of testing, and destroy it afterwar

[2020-04-22 08:10] SubhashVasarapu-MSFT commented on #52623
@jaydarius , Appreciate your patience. Yes, you are correct. The source IP addresses switch from using public IPv4 addresses to using their private IPv4 address when communicating with the service from that subnet after enabling service endpoint.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-22 08:10] #52623 closed

[2020-04-22 08:11] SubhashVasarapu-MSFT commented on #52620
@Rednickle , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-04-22 08:11] #52620 closed

[2020-04-22 08:12] ggerogiokas commented on #52661
Done.

On Wed, Apr 22, 2020 at 9:04 AM george gerogiokas <drago121012@gmail.com>
wrote:

--
George Gerogiokas

[2020-04-22 08:13] SwathiDhanwada-MSFT commented on #52716
@artmasa [Here](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-dashboards-structure) is the link to the document which might help you. Kindly check and revert if you have further queries.

[2020-04-22 08:24] SubhashVasarapu-MSFT commented on #52537
@KosukeHosoda , This was added as a note while explaining about [working mechanism](https://docs.microsoft.com/en-us/azure/application-gateway/how-application-gateway-works) of an Application Gateway. Here is the screenshot for your reference,

![image](https://user-images.githubusercontent.com/44890829/79958472-9523b300-84a0-11ea-821e-f07cef7e2de3.png)

We are closing this issue for now. If there

[2020-04-22 08:24] #52537 closed

[2020-04-22 08:25] Mikkel-Gram commented on #52617
i saw in a note here that this is due to the corona virus: https://docs.microsoft.com/en-us/azure/batch/batch-quota-limit#view-batch-quotas

Would it not be more reasonable to limit it to a few machines instead? then people could still run stuff on a newly created batch account. Now it is unusable by default until you contact support, breaking all CI/CD workflows that use it

[2020-04-22 08:26] SubhashVasarapu-MSFT commented on #52539
@KosukeHosoda , We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-22 08:26] #52539 closed

[2020-04-22 08:27] nabhishek commented on #29002
Enabling 'Remote access from Intranet' has 2 purpose:

1. Communication between SHIR nodes when in HA configuration (2 or more nodes) - When you enable remote access, it uses port 8060 for node-to-node communication. The port can be modified by the user.
2. While using [Azure PowerShell to encrypt credentials](https://docs.microsoft.com/en-us/azure/data-factory/encrypt-credentials-self-hosted-inte

[2020-04-22 08:27] nabhishek commented on #29002
#please-close

[2020-04-22 08:27] #29002 closed

[2020-04-22 08:31] nabhishek commented on #29819
The command-line's are documented [here](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#set-up-an-existing-self-hosted-ir-via-local-powershell).

Though you can reconfigure SHIR using the above command-lines, it is suggested to do a clean uninstall/install. This would wipe out all other configurations/ customizations/ encrypted credentials.

[2020-04-22 08:31] nabhishek commented on #29819
#please-close

[2020-04-22 08:31] #29819 closed

[2020-04-22 08:33] jjindrich opened #53006 "IP Group for destination in network rule"
Hi, I cannot use IP Group on network rule in destination part. There is missing field to select IP Group. I need to setup IP group for destination (another than source ip group)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f9791cb-ba50-98bf-8831-5e03b568c9f3
* Version Independent ID: 9f4d1a49-9c81-b0b8-ee85-87c5f8a0

[2020-04-22 08:33] nabhishek commented on #30975
@aaronhughesdelt the credential manager app does not apply to ADFv2

[2020-04-22 08:33] nabhishek commented on #30975
#please-close

[2020-04-22 08:33] jjindrich commented on #53006
![image](https://user-images.githubusercontent.com/12845561/79959686-b5de0f80-8484-11ea-9a65-799ef62880e8.png)

[2020-04-22 08:33] #30975 closed

[2020-04-22 08:37] nabhishek commented on #32330
@SamirFarhat , @ashwinnatty ,
You can find local SHIR (dmgcmd.exe) command-line utility documented [here](https://docs.microsoft.com/en-us/azure/data-factory/create-self-hosted-integration-runtime#set-up-an-existing-self-hosted-ir-via-local-powershell).

You can re-register nodes based on the available command-lines.
Though you can reconfigure SHIR using the above command-lines, it is suggested to

[2020-04-22 08:37] KosukeHosoda commented on #52537
Thank you. I appreciate your kind explanation.
As you said, I found the description was already added as a note while explaining about working mechanism of an Application Gateway.

[2020-04-22 08:37] nabhishek commented on #32330
#please-close

[2020-04-22 08:37] #32330 closed

[2020-04-22 08:44] SubhashVasarapu-MSFT commented on #52794
@clarenceb , Appreciate your patience. We have edited the document accordingly by removing the "--subscription" parameters while creating the service principle and also in other mentioned areas. It would take some time for the edits to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the disc

[2020-04-22 08:44] #52794 closed

[2020-04-22 08:47] stawo opened #53007 ""DateTime Format" specification"
Hi,
what is the supported format for "DateTime Format"? Is it the SQLite format? (https://www.sqlite.org/lang_datefunc.html)
The documentation could benefit from this clarification.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44035e62-6ca4-6efa-51a8-53b723660c1e
* Version Independent ID: f5699a35-6ede-9322-6

[2020-04-22 08:48] shashishailaj commented on #53001
@azureidentity Thank you for your feedback . We will have this looked into and update this thread.

[2020-04-22 08:49] #52642 closed

[2020-04-22 08:50] mehmetekici commented on #52974
https://docs.microsoft.com/en-us/azure/postgresql/concepts-backup

[2020-04-22 08:54] Rockjesse opened #53008 "Error details: Connection failed (no connection to the remote host). Internal error: 8. Error details: 1036. Please check network connection, firewall setting, and the region name used to create speech factory. SessionId: 283c6b9131b04971b3026e4eb70e95b8"
How can I fix this issue?
I am using trial of Azure AI to get a 30 days available key.
I have already replaced the correct key and region (westus).
But the error occured, and I donot know how to resolve, please help.

I am using the API of "speech to text", to convert audio to text.

The error message like below:
Error details: Connection failed (no connection to the remote host). Internal error:

[2020-04-22 08:54] Glaubscher commented on #52495
on chart-device-data.js line 144 there is a "return;" un comment and refresh, data will display.
![image](https://user-images.githubusercontent.com/42993700/79961731-6cdb8a80-8487-11ea-8884-46656788ca44.png)

![image](https://user-images.githubusercontent.com/42993700/79961872-95638480-8487-11ea-8d5d-a58541c06914.png)

[2020-04-22 08:57] CloudPlumber commented on #39634
Hey everybody,

I ran into the same issue, when I deployed a private endpoint into the subnet via pipeline and set this setting in a template. After deleting it in the template the error stayed and now I always get the error when I execute the pipeline:

"PrivateEndpointNetworkPoliciesCannotBeEnabledOnPrivateEndpointSubnet\",\"message\":\"Private endpoint network policies cannot be enabled on priv

[2020-04-22 08:57] VikasPullagura-MSFT commented on #53008
@Rockjesse
Thank you for your question! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-04-22 09:06] amanmcse commented on #52896
@TheITRx Thank you for the confirmation. I am proceeding with closure of this thread now.

[2020-04-22 09:06] #52896 closed

[2020-04-22 09:09] SumanthMarigowda-MSFT commented on #52774
@RonnieQuan Firstly apologies for delay in responding here!
Let me explain the difference SAS key and Storage access key how it works

When you create a storage account, Azure generates two 512-bit storage account access keys. These keys can be used to authorize access to data in your storage account via Shared Key authorization.

- Shared access signatures for blobs, files, queues, and tables. Sh

[2020-04-22 09:09] amanmcse commented on #52905
@rageshm110 After assigning the B2C User flow administrator role, did you sign-out and sign-in again to the portal. Role assignment requires sign-in again for the change to take effect. Also, make sure you are connected to correct tenant using Switch Directory option.

[2020-04-22 09:12] jmprieur commented on #51992
@kevbry : I'm working at the moment on the update of the documentation ....

[2020-04-22 09:13] jmprieur commented on #48862
I'm working on updating the docs

[2020-04-22 09:14] SubhashVasarapu-MSFT commented on #52731
@bhaskar39 , Could you please help us by providing the doc you were referring too?

[2020-04-22 09:16] Rockjesse commented on #53008
Thank you for your reply.
The URL is
https://docs.microsoft.com/zh-cn/azure/cognitive-services/speech-service/quickstarts/speech-to-text-from-file?tabs=linux&pivots=programming-language-python

This is a Chinese page, I don't not know where the English version is, please help.

[2020-04-22 09:16] divyag11 commented on #52965
documentation url : https://docs.microsoft.com/en-in/azure/cognitive-services/text-analytics/text-analytics-resource-faq#can-i-add-my-own-training-data-or-models

[2020-04-22 09:19] Rockjesse commented on #53008
There is step in the guide, is "Create a LUIS application and get an endpoint key", not sure whether it is necessary. But seems not work for the trial version.

[2020-04-22 09:20] Nimleth opened #53009 "How to prevent data leakage"
Hi,

From what I read here the current approval flow only requires approval from the service provider side. But what is there to stop a malicious insider to set up a storage account or DB in their private Azure environment, create a private link service provider and then create a private end point in her/his employers enterprise azure environment and start copying company data via the private endp

[2020-04-22 09:20] DixitArora-MSFT commented on #52956
@GiantCrocodile I have assigned this to content author for further review and update as appropriate.

[2020-04-22 09:25] SwathiDhanwada-MSFT commented on #52965
@divyag11 Thanks for providing the documentation url. We will review your issue and revert to you.

[2020-04-22 09:27] jtuliani opened #53010 "Geo-redundancy?"
I have a LRS storage account. My RecoveryServicesVault is hosted in the same region, and configured to use GRS storage.

If I back up my storage account, is the backup in the storage account region only, or is it replicated to the GRS storage location? I would have thought my vault GRS settings would apply for all backups, but this article suggests File Share backups aren't actually stored in the

[2020-04-22 09:38] bhaskar39 commented on #52731
@SubhashVasarapu-MSFT : This has been fixed. It was due to the firewall issues that blocked the WVD Desktop client to communicate with the service.

Sorry for the delayed response.

[2020-04-22 09:48] efraimnewman commented on #52932
Running those commands didn't do anything

[2020-04-22 09:56] joostm1 opened #53011 "Wrong location for for caveats."
This page lists caveats of DataBox Gateway:

- renaming of files and directories is not supported
- deletion must happen on the SA as well
- rsync -a not supported (meaning you loose metadata like, ACL, owner, create-, modify- and access dates
These are major aspects of the functionality of this product.

Putting these limitations in a "Tutorial" section limits visibility on these (again; importan

[2020-04-22 09:57] AshokPeddakotla-MSFT commented on #52770
I have assigned the issue to the content author @wesmc7777  to evaluate this feedback and update the doc as appropriate for more clarity.

[2020-04-22 09:57] erkgpatel opened #53012 "how do i configure flag whether send log to appinsight or not using sinks in cloud service worker role"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-22 10:02] v-nagta commented on #45358
@hisssa Can you please provide the image which you are talking about. I can not see any image in your comments.

Otherwise, you can send the updated screenshot to the [SaaSApplicationIntegrations@service.microsoft.com](mailto:SaaSApplicationIntegrations@service.microsoft.com) we will update the Doc

[2020-04-22 10:02] lucafabbri365 opened #53013 "Validation error"
After launched the "terraform plan" command, I got two validation errors:

**Error:** In this context, references are expected literally rather than in quotes.
Terraform 0.11 and earlier required quotes, but quoted references are now
deprecated and will be removed in a future version of Terraform. Remove the
quotes surrounding this reference to silence this warning.
**Solution:** Removed quotes fr

[2020-04-22 10:03] jtuliani opened #53014 "Azure Files support?"
Doc needs to be explicit one way or the other regarding support for Azure Files backups. At the moment, they're not even mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f109cc3-2133-7a38-841b-4d3063497305
* Version Independent ID: ae8019ca-2832-0f1e-abcb-e5678d6b0f61
* Content: [Configure Azure Backup report

[2020-04-22 10:04] jtuliani opened #53015 "V1 schema?"
What is the "V1 schema"? This term is never defined. Need to be explicit about exactly which data is being referred to here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f109cc3-2133-7a38-841b-4d3063497305
* Version Independent ID: ae8019ca-2832-0f1e-abcb-e5678d6b0f61
* Content: [Configure Azure Backup reports - Azu

[2020-04-22 10:10] gregdru opened #53016 "Update Group [Add Members] Patch request doesn't work"
Hi everyone,

in this documentation is an information how can I use a webservice to add members to a group in microsoft Azure:
[https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#get-user](https://docs.microsoft.com/en-us/azure/active-directory/app-provisioning/use-scim-to-provision-users-and-groups#get-user)

This is the request that sh

[2020-04-22 10:15] jpb501 opened #53017 "Inconsistency in running Get-AzureADMSPrivilegedRoleAssignment"
Get-AzureADMSPrivilegedRoleAssignment -ProviderId $Provider -ResourceId $AzureADRef which is supposed to get all role assignments does not give you Permanent Active Role assignments made through Privileged Identity Management (PIM). It only gives you eligible assignments and Active assignments not made through PIM (i.e. Active Roles without a start date).

 However if you run

Get-AzureADMSPrivile

[2020-04-22 10:24] mikemowgli opened #53018 "create saved search with az CLI"
if savedSearches are available in the API, it should be possible to manage them using the "az monitor workspace" commands, but I cannot find the subcommand for it. Can you point me to it?
thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9173a498-fe60-ffd6-0f26-3f7e9972a6c4
* Version Independent ID: 3d50fef6-2a8

[2020-04-22 10:27] SumanthMarigowda-MSFT commented on #52935
@cjtmed Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-22 10:28] Samikouk opened #53019 "License implication during the migration"
In my view part of prerequisites is licensing, what is not clear here is how customers can leverage Windows 2K8 and 2K8 R2 extended support? is SA required? how does License Mobility through Software Assurance play a role here?
I would appreciate if you clarify on this.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-04-22 10:29] SumanthMarigowda-MSFT commented on #52876
@artisticcheese  I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there.
Please share the complete details of the issue and also share the screenshot.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2020-04-22 10:29] #52876 closed

[2020-04-22 10:33] SumanthMarigowda-MSFT commented on #52807
@aykay76 For better understanding on your query:  Can you please elaborate more on your query? May I know what exactly are you trying to accomplish

[2020-04-22 10:34] DKT2510 commented on #52525
I have a another query related to password reset but not related to this
document.
I reset my AD password through sspr while i was remotely using the
organization laptop with no vpn access.
But the password got sync to my laptop.

Could you please help me the reason for this?
I have no direct access for my laptop.
No VPN. Just home wifi access.

On Mon, 20 Apr 2020, 14:49 neeleshray-msft, <notific

[2020-04-22 10:35] SumanthMarigowda-MSFT commented on #52578
@RonnieQuan We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 10:35] #52578 closed

[2020-04-22 10:38] KrishnaG-MSFT commented on #53018
@mikemowgli Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-22 10:39] olarina opened #53020 "Do we need to use enable_gpu=True in InferenceConfig?"
Hi,
There is an option enable_gpu in InferenceConfig, should we set it to True? I did everything according to this article and still not sure that inference is going on GPU.
P.S. Setting enable_gpu=True causes error for me: WebserviceException: WebserviceException:
	Message: Error, unable to provide runtime, conda_file, extra_docker_file_steps, enable_gpu, cuda_version, or base_image along with an

[2020-04-22 10:40] danglund opened #53021 "entitiesDefitionUri parameter spelling mistake in four places"
The article refers to the incorrectly spelled parameter name entitiesDefitionUri four times. The correct name is used in the parameter list (entitiesDefinitionUri).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0309f73-20f4-f168-6f5a-8b31a6747510
* Version Independent ID: 07132ee3-d7a3-ccbd-92b8-b42e314490d3
* Conten

[2020-04-22 10:40] KrishnaG-MSFT commented on #53015
@jtuliani Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-22 10:41] paulhasell opened #53022 "How long are the blobs retained?"
The underlying blobs for the singleton locks, how long are they retained?

We're wanting to use them to serialize processing for CDS entities which use GUID's as the keys. We'd be concerned as to the growth and performance if these blobs are retained for all time.

We've noted that policy can be set on the blob containers but are unsure if this would interfere with the SDK or not,

Can you offer a

[2020-04-22 10:42] RohitMungi-MSFT commented on #52965
@divyag11 Currently text analytics API does not support hosting a custom model. An alternative could be to use a ML model/service hosted via Azure Machine Learning

[2020-04-22 10:42] KrishnaG-MSFT commented on #53010
@jtuliani Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-22 10:44] dcurwin commented on #53010
#reassign:mepand

[2020-04-22 10:44] KrishnaG-MSFT commented on #53014
@jtuliani Thanks for your comment!
Assigning @dcurwin for visibility, review and document enhancement consideration.

[2020-04-22 10:47] dcurwin commented on #53015
#reassign:adityabalaji-msft

[2020-04-22 10:47] dcurwin commented on #53014
#reassign:adityabalaji-msft

[2020-04-22 10:48] dcurwin commented on #53014
#assign:mepand

[2020-04-22 11:03] SnehaAgrawal-MSFT commented on #52720
Thanks for the reply! Could you please try to provide the version in first command 3.1.1 or 3.1.3 and then run ‘dotnet-ef database update’ command because the latest dotnet-ef version is 3.3, and there is no dotnet version 3.3.

dotnet tool install -g dotnet-ef --version 3.1.3

Let me know if issue persists.

[2020-04-22 11:03] sander1095 commented on #20701
@SubhashVasarapu-MSFT

Please re-open the issue

[2020-04-22 11:11] dohughes-msft opened #53023 "Is "sync" really advisable for the NFS client?"
Mounting the filesystems with "sync" means that the NFS server waits until data is written to disk before replying to the client. In Azure this means that writes to NFS-mounted files like transports take a lot longer. "async" would be a better option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d2a9d09-f0f0-f02a-df

[2020-04-22 11:15] likebupt commented on #53007
Hi @stawo, Thanks for your feedback. We support the format which pandas.Timestamp supports.  You can refer to [this](https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.to_datetime.html)

[2020-04-22 11:17] ram-msft commented on #52629
@arvind-dhariwal We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 11:17] #52629 closed

[2020-04-22 11:23] ram-msft commented on #53000
@kevinlinhg Thanks for the question. We will update you shortly.

[2020-04-22 11:23] ThomasITS commented on #52749
The answer above is not helpful.  As I said, these are three different organizations,  They also have three different Azure AD systems. Is there a way I could subscribe to 3 different WVD tenants (3 different Azure ADs) with the app?

[2020-04-22 11:30] MasayukiOzawa commented on #52952
@Grace-MacJones-MSFT
Thank you for your reply.
This issue provides feedback that the actual behavior differs from the specifications in the documentation.
I confirmed it even with SR, but when the memory quota is reached, I was told that it is assumed that it is not a reboot but a stop is performed.

[2020-04-22 11:35] SychevIgor opened #53025 "Update screenshot from old portal"
https://docs.microsoft.com/en-us/azure/media-services/previous/media/media-services-portal-configure-content-key-auth-policy/media-services-protect-content-with-open-restriction.png
this screenshot - was done on old portal.
please, update it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b987eca1-780c-472f-8ef0-30655c

[2020-04-22 11:35] Andersoft opened #53026 "JIT policy is not clear on usage"
When creating a policy that controls access to RDP port 3389 for the CIDR block of 10.21.254.0/24 I would expect that anyone making a JIT access request from within this range would be able to do so, e.g requesting connections from 10.21.254.85 to be allowed. This, however, is not the case, the only allowed connection from my experiments is when you request for the entire block to allowed all at o

[2020-04-22 11:40] arnau-ibhdato commented on #52473
My team also needs Get-AzDataLakeGen2ChildItem to manage the ACL.
When running the script from Azure CLI (PS with Az.Storage 1.14.0) it only gets ~4800 entries but today it seems that, by running the script from Azure Cloud Shell, we can get all the items.
However we cannot use this workaround since Az Cloud Shell has a 20min timeout.

[2020-04-22 11:41] VikasPullagura-MSFT commented on #53013
@lucafabbri365
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-22 11:42] VikasPullagura-MSFT commented on #53013
@TomArcherMsft
Can you please check and add your comments on this doc update request as applicable.

[2020-04-22 11:45] v-nagta commented on #43271
Hi @ClaudioRifo We have updated the Doc please review and provide the feedback.

To enable SCIM provisioning please reach to [SaaSApplicationIntegrations@service.microsoft.com](mailto:SaaSApplicationIntegrations@service.microsoft.com)

#please-close

[2020-04-22 11:45] #43271 closed

[2020-04-22 11:49] mariojacobo opened #53027 "AAD login with Bastion"
This does not seem to work with a Bastion host. We don't have public IPs for our VMs, so we use bastions to tunnel SSH through HTTPS. Unfortunately it does not allow me to connect. Should this work or not ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8e2623-1f79-aee3-bd97-8b5f647b6980
* Version Independent ID: 634

[2020-04-22 11:49] v-nagta commented on #29915
Hi @cmmdesai are you working on this?

[2020-04-22 11:51] jayendranarumugam opened #53028 "Screenshots are outdates , there is no options to choose AD Role Access Review"
As per this [doc link](https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/pim-how-to-start-security-review), it used an Old UI where they can able to create Review Access for a Azure AD Roles, however with the new UI (Provided screenshot below) it is not able to do so.

**OLD UI**

![image](https://user-images.githubusercontent.com/25414541/79978458-97e0d100-84b

[2020-04-22 11:56] brharr opened #53029 "Broken Link 404 in TOC"
If you open Reference-&gt;SDKs-&gt;Node.JS within the ToC you get a 404 error. Because of this, I have had to use the REST APIs for my solution.

Thanks,
Brian

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccb9aa2-dbfb-447a-e869-b0632ab127e3
* Version Independent ID: 11f70929-7b70-2a19-c8f7-db2da8576f36
* Content: [W

[2020-04-22 12:05] msangapu-msft commented on #52812
Hi team, sorry for the oversight, a recent update removed the --html flag. It's been added back and should be published in a few hours. Thank you for your help @hire-him and @SnehaAgrawal-MSFT.

[2020-04-22 12:06] AshokPeddakotla-MSFT commented on #52958
@ShreedharYashoda Thanks for your comment.

Please note that, Azure Digital Twins is in Public Preview. Currently, there is no way you can connect the external IoT Hub with Digital Twins. However, in GA we will have the ability for you to bring your own/directly create & associate your own hub.

Please provide your feedback on the [UserVoice](https://feedback.azure.com/forums/916621-azure-digital-

[2020-04-22 12:22] Vegas588 opened #53031 "Incorrect API Version"
Under the Modify your JSON deployment template section, you have incorrectly stated that the API version should be set to 2012-12-01 when it should be 2019-12-01.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a757e5ad-ef01-afeb-4128-c296a616ec00
* Version Independent ID: 05176b46-62e9-895a-b9fa-98d2a998ccd0
* Content:

[2020-04-22 12:22] SubhashVasarapu-MSFT commented on #52641
@aquibqureshi26 , AFAIK, If you load the certificate from the local system instead of using Key Vault then there will be no auto renewal of the certificates available. Whereas, Azure Support for automatic renewal of certificates that are stored in your key vault.

After Application Gateway is configured to use Key Vault certificates, its instances retrieve the certificate from Key Vault and instal

[2020-04-22 12:22] #52641 closed

[2020-04-22 12:26] aykay76 commented on #52807
Sure. I was following the example code to copy a blob here: https://docs.microsoft.com/en-us/azure/storage/common/storage-use-data-movement-library#copy-a-blob

When I compile the code I had an error stating that the CopyBlob method referred to was obsolete, and that an overload using the CopyMethod parameter should be used instead.
I used the overload and it worked fine, I was just notifying you

[2020-04-22 12:32] danglund opened #53032 "Sample definition example results in error when adding skillset"
I am trying to a add a new skillset with a single skill as defined in the sample definition in this article
https://docs.microsoft.com/en-us/azure/search/cognitive-search-skill-custom-entity-lookup#sample-definition

I have an PUT example in Postman where I have successfully created a skill before. When I replace my JSON payload with the sample definition above I get an error:

    "error": {

[2020-04-22 12:33] jhernandez212 commented on #52981
@MarileeTurscak-MSFT Thank you for your comment.  I corrected the link in my initial comment.  What redirect URI that should be specified for a Google Guest logging into Teams?  The redirection was working properly up until last month for the Teams endpoint.

[2020-04-22 12:35] AshokPeddakotla-MSFT commented on #52978
@shawnparslow Yes, you are correct. This information is already mentioned in the doc [here](https://docs.microsoft.com/en-us/azure/iot-hub/quickstart-send-telemetry-node#add-azure-iot-extension)

As specified in the Note:

I tried the same and able to install without any issues as per the doc. Looks like you are using older version of CLI. Please remove the older version and add new version with t

[2020-04-22 12:42] pvdwerf opened #53033 "Preview or not"
In this page I read the word "Preview". Can you please tell me if the products AADDS + Storage Account are fully supported and no longer preview anymore?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d254d903-bd6c-48ce-967d-0a96f2ca9431
* Version Independent ID: 2980ab92-7e11-12f7-fa51-86d58a311905
* Content: [Overvie

[2020-04-22 12:57] AshutoshSinghTACT opened #53034 "face"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751ccff2-59c4-e2e4-8a64-d90b195c89ac
* Version Independent ID: 6c696aa8-9226-737e-94fe-1f0697e88038
* Content: [Tutorial: Detect and frame faces in an image with the Android SDK - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognit

[2020-04-22 12:57] SyntaxWarrior commented on #46401
I've been banging my head against this for days. But I finally figured it out.

Removing the ' from the environment names variables solves the issue, this works:
`-e environment=Production -e ASPNETCORE_ENVIRONMENT=Production`

Both with and without the ' works in my docker desktop, but Azure fails horribly with no good error message if you have the '

[2020-04-22 12:59] VikasPullagura-MSFT commented on #53031
@Vegas588 Thanks for pointing this out.

The doc is now updated and changes will go live soon.

[2020-04-22 13:08] LeoLopezAtHL commented on #50422
Hi,
I was experiencing the same issue. Apparently the Hosts Status when they are deallocated has changed from NoHeartBeat to unavailable. I changed to the new script suggested https://github.com/Azure/RDS-Templates/blob/ptg-wvdautoscaling-automation/wvd-templates/wvd-scaling-script/basicScale.ps1. Now some of the hosts were shutdown but not all that should have. For the hosts that were left online

[2020-04-22 13:09] aquibqureshi26 opened #53035 "doc enhancement : service endpoint"
You’ve mentioned “Azure service resources are in different subscriptions, the resources must be under the same Active Directory (AD) tenant.”
But service endpoint works if you’ve resources in another active directory tenant as well. As mentioned in below link
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoint-policies-overview#provisioning

can you please updat

[2020-04-22 13:11] stdistef opened #53036 "Backup Support is now 32TiB for Azure Backup."
I think the 4 TiB limit is for ASR.  Backup is larger now.   Here is the paragraph you may want to correct:
Azure Backup support

To protect against regional disasters, Azure Backup can be used to create a backup job with time-based backups and backup retention policies. This allows you to perform easy VM restorations at will. Currently Azure Backup supports disk sizes up to four tebibyte (TiB) di

[2020-04-22 13:11] #53031 closed

[2020-04-22 13:13] SubhashVasarapu-MSFT commented on #53009
@Nimleth , We are looking into this query and will update you as soon as possible.

[2020-04-22 13:15] danglund commented on #53032
My mistake. I did not understand that the sample definition was just the skill itself. I have to find the full JSON example for adding a skillset elsewhere and then paste the sample definition inside the skills array.

Full, working example (actual service name obfuscated):

   {
    "@odata.context": "https://contoso-search-dev.search.windows.net/$metadata#skillsets/$entity",
    "@odata.etag": "

[2020-04-22 13:16] rphoon opened #53037 "Status stuck showing "Starting - 0.00% completed""
Started script to move all VMs but status just sits at 0%. Is there a way to troubleshoot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2496f94a-7c5d-636b-2458-05200514b0fc
* Version Independent ID: 78efebec-ccef-7eac-d7bc-9bbfe72279ec
* Content: [Import virtual machines from another lab in Azure DevTest Labs](https:

[2020-04-22 13:16] SubhashVasarapu-MSFT commented on #53005
@amandadebler ,  We are looking into this query and will update you as soon as possible.

[2020-04-22 13:16] LDS2020 opened #53038 "Multiple apps example"
The sample JSON is good but I would include an example supporting multiple apps as I imagine most app publishers have more than just one. e.g.

{
   "associatedApplications": [
     {
        "applicationId": "{YOUR-APP-ID-HERE}"
     },
     {
        "applicationId": "{YOUR-OTHER-APP-ID-HERE}"
     }
   ]
 }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-04-22 13:17] Tolle3000 commented on #52920
Hi,

Thank you for your reply.

  1.  I have Office365 Business Premium licenses. Does that contain an Azure AD Premium P1 License?
  2.  I have created the group directly in Azure AD. The source is ‘Cloud’. There is no on-prem server present.

Kind regards,

Tolle Colart

From: VipulSparshMSFT <notifications@github.com>
Sent: woensdag 22 april 2020 9:13
To: MicrosoftDocs/azure-docs <azure-docs@no

[2020-04-22 13:18] SubhashVasarapu-MSFT commented on #53006
@jjindrich , We are looking into this query and will update you as soon as possible.

[2020-04-22 13:19] harsha130699 opened #53039 "Content missing for App service"
It would be great to include how to authenticate app service using msi for pulling image from ACR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d1bf6a2-95e7-4b50-e03e-9bf212dc5214
* Version Independent ID: 79ee1b51-6a22-0a57-2a28-7eb5a65c9778
* Content: [Authenticate with managed identity - Azure Container Registry]

[2020-04-22 13:24] Feday commented on #52549
Hello @wouterdevinck, would you please share the support case link? I would like to keep posted about this issue as well. Thanks

[2020-04-22 13:30] AshokPeddakotla-MSFT commented on #52495
@Glaubscher Thanks for sharing the resolution.
@stewart2020 Can you check this and let us know if that helps?

[2020-04-22 13:34] VikasPullagura-MSFT commented on #53027
@mariojacobo Thanks for posting  your query.

Azure Bastion doesn’t support AAD logins at this time.

Request you to post your feedback for this feature [here](https://feedback.azure.com/forums/217313-networking/suggestions/37961281-aad-integration).

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment.

[2020-04-22 13:34] #53027 closed

[2020-04-22 13:34] gabrieljtaylor commented on #46294
@stgeorgi (and @Karishma-Tiwari-MSFT) - you mention that the documentation references the model of updating the master image, however I've been unable to find any documentation specifying the process for updating the master image and updating the hosts to use the new image at this time. We've been trying to work out this process on our own to limited success and would love to have firmer guidance

[2020-04-22 13:35] chrsi opened #53040 "How could we prevent device id conflicts between manufacturers"
When I trust two device manufacturers (let's call them Manufacturer A and B) to generate and sign certificates for their own devices, how can i make sure that the device id they provided is unique in the id scope? This is especially relevant when the provisioning service is assigning the devices to the IoTHub, since the Subject Name (which is used as Device Id) could be anything they want.

---
##

[2020-04-22 13:37] vipulsparsh commented on #52920
@Tolle3000  Office365 Business Premium license Does not contains Azure AD premium P1.
The licenses which includes the Azure AD premium P1 are discussed here :
https://azure.microsoft.com/en-in/pricing/details/active-directory/

Hope that will help. Feel free to reach out for any concerns.

[2020-04-22 13:40] rohancragg opened #53041 "Why all orgs and all scopes?"
For Azure Repos - in the Organization list, why is it necessary to select 'All accessible organizations.' - would one not suffice?

And, why is it necessary to select the 'Full access' option for Scopes - would Code - Read not suffice and (more importantly) also be much more secure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-04-22 13:41] picklesrein commented on #39711
For most resources that's pretty simple. For public IP address, they might change. Is it possible to ensure that the same IP address be assigned to the re-created address object?

[2020-04-22 13:45] AshokPeddakotla-MSFT commented on #52931
@dmitriyteteruk Could you please share in which you are getting this error message?

[2020-04-22 13:45] VikasPullagura-MSFT commented on #53039
@harsha130699
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-22 13:45] VikasPullagura-MSFT commented on #53039
@dlepow
Can you please check and add your comments on this doc update request as applicable.

[2020-04-22 13:45] erndob opened #53042 "The Front Door IP restriction here is different from Front Door documentation page"
This documentation states:

If you wanted to lock down your inbound traffic to Azure Front Door, create rules to allow traffic from 147.243.0.0/16 and 2a01:111:2050::/44.

But Front Door FAQ documentation(https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#how-do-i-lock-down-the-access-to-my-backend-to-only-azure-front-door) states you need allow traffic for the entire AzureFrontDoor.B

[2020-04-22 13:46] krooole opened #53043 "Misleading support for load data infile"
This page states that LOAD DATA INFILE is supported with the [LOCAL] parameter.

When I run LOAD DATA LOCAL INFILE '&lt;&lt;myUNCPath&gt;&gt;', I get
Error Code: 1148. The used command is not allowed with this MySQL version

When I run LOAD DATA INFILE

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09a85aa0-5baf-cf60-9

[2020-04-22 13:46] VikasPullagura-MSFT commented on #53036
@stdistef
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-22 13:47] VikasPullagura-MSFT commented on #53036
@roygara
Can you please check and add your comments on this doc update request as applicable.

[2020-04-22 13:47] krooole commented on #53043
(continued)
LOAD DATA INFILE '<<smb mounted azure file share>>', I get
Error Code: 1045. Access denied for user

FILE privilege cannot be granted to user (service limitation)

therefore, LOAD DATA INFILE is actually NOT supported

[2020-04-22 13:47] #53035 closed

[2020-04-22 13:48] neeleshray-msft commented on #52941
@xom-pschiess  The Powershell cmdlet "_Get-AzureADPolicyAppliedObject_" does not have a -All Parameter as of today.
However, you can make use of Graph API syntax "**_Get-Policy_**".
Ref: [https://docs.microsoft.com/en-us/graph/api/policy-get?view=graph-rest-beta](https://docs.microsoft.com/en-us/graph/api/policy-get?view=graph-rest-beta)

[2020-04-22 13:48] aquibqureshi26 opened #53044 "Doc Enhancement | Service endpoint"
You’ve mentioned “Azure service resources are in different subscriptions, the resources must be under the same Active Directory (AD) tenant.”
But service endpoint works if you’ve resources in another active directory tenant as well. As mentioned in below link
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoint-policies-overview#provisioning

can you please updat

[2020-04-22 13:49] neeleshray-msft commented on #52991
@Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-22 13:51] danglund opened #53045 "Difference between /data/text and /document/text in samples"
The sample definition refers to /document/text. However, the sample input does not have anything called document. But, it has something called data (which is not referenced in the sample definition).

Did you intend to use data/text or document/text consistently in config and examples? Or is document or data simply implied? Reading this for the first time it's not clear how the language detection

[2020-04-22 13:52] kirknall commented on #52962
Get-AzResourceGroup is not the verb described in the article. The article
explicitly calls Get-AzResource with the -ResourceType switch.

According to Get-Version, the version of AzResources I have installed is
4.0.2.

Thanks!

On Tue, Apr 21, 2020 at 9:38 PM Marilee Turscak - MSFT <
notifications@github.com> wrote:

[2020-04-22 13:52] IsaacRoitman opened #53046 "Get-AzCosmosDBSqlContainer - Fails to list Cosmos DB containers in a database"
This cmdlet does not work when attempting to enumerate all containers within a specified database:

"Get-AzCosmosDBSqlContainer: Object reference not set to an instance of an object."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca8e0b1-04ac-569e-9f78-e9d107edb68f
* Version Independent ID: 945c8a30-4d18-5605-4fe4-71

[2020-04-22 13:54] juliooscar commented on #51425
I have the same error, but it doesn't work for me using FireFox

[2020-04-22 13:55] divyag11 commented on #52965
thanks for clearing that up

On Wed, Apr 22, 2020 at 4:12 PM RohitMungi-MSFT <notifications@github.com>
wrote:

--

* <http://www.kiit.ac.in>*

*
Year of Go Green: Kindly don't print this
unless so required.*

*
*

*Established U/S 3 of UGC Act and Accredited by 
NBA of AICTE and NAAC of UGC*

Visit us @ *http://www.kiit.ac.in
<http://www.kiit.ac.in/>*

Follow us @* **|***Twitter
<https://www.twit

[2020-04-22 13:56] neeleshray-msft commented on #52335
@curtand Could you please check on this with the Engineering Team ?

[2020-04-22 14:02] AshokPeddakotla-MSFT commented on #52937
@rwaithaka Thanks for the feedback. There doesn't seems to be an issue with the example. It works as expected. These variables are assigned as per the set command. Please see server.js for more details.

![image](https://user-images.githubusercontent.com/44426435/79991242-adf78d00-84cf-11ea-913a-5ef63dbf8bdd.png)

We will now proceed to close this thread. If there are further questions regarding t

[2020-04-22 14:02] #52937 closed

[2020-04-22 14:02] dmitriyteteruk commented on #52931
Part [**Provision VM as an IoT Edge device**](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/iot-central/core/tutorial-add-edge-as-leaf-device.md#provision-vm-as-an-iot-edge-device) step **12**
- I found what cause error - there should not be an space tab before "provisioning" word in yaml file. I removed space tab and now it works.
![image](https://user-images.githubusercontent.

[2020-04-22 14:02] #52931 closed

[2020-04-22 14:06] xom-pschiess commented on #52941
Thanks for confirming - I suspected this was covered in MS Graph API. Would it be possible to submit a feature request for the -All for the Get-AzureADPolicyAppliedObject ? This is still in preview, so assuming there is at least some feedback that can be provided to the design.

[2020-04-22 14:10] neeleshray-msft commented on #52353
@divyamoorthyTR  We would suggest you to open a [Technical Support Ticket](https://azure.microsoft.com/en-in/support/create-ticket/) with us on this as we would need access to the environment as this requires deeper troubleshooting.

[2020-04-22 14:10] #52353 closed

[2020-04-22 14:12] neeleshray-msft commented on #52644
@memildin Do we have published documents on the same ?

[2020-04-22 14:12] MonikaReddy-MSFT commented on #53037
@rphoon , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-22 14:13] MonikaReddy-MSFT commented on #53041
@rohancragg , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-22 14:14] VikasPullagura-MSFT commented on #52881
@RonnieQuan As there are already other issues opened by you on the same query in these issues #[52880](https://github.com/MicrosoftDocs/azure-docs/issues/52880) and #[52774](https://github.com/MicrosoftDocs/azure-docs/issues/52774), I will close this issue and we can continue the discussion on the other issues.

[2020-04-22 14:14] #52881 closed

[2020-04-22 14:14] neeleshray-msft commented on #52889
@iainfoulds Could the script be updated on the document ?

[2020-04-22 14:15] VikasPullagura-MSFT commented on #52997
@akashperfect
Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-04-22 14:15] #52997 closed

[2020-04-22 14:17] neeleshray-msft commented on #52941
@xom-pschiess We do not have any update on the roadmap for the -All Parameter being added. However, you can suggest the same on the **[Azure Feedback Portal](https://feedback.azure.com/forums/169401-azure-active-directory)** on the same.

We will be closing this thread now. Let us know if you need further help.

[2020-04-22 14:17] #52941 closed

[2020-04-22 14:24] hire-him commented on #52812
New Error

average@Azure:~$ az webapp up --location westeurope --name testappDDDDEED
--html
webapp testappDDDDEED doesn't exist
*This region has quota of 0 instances for your subscription.* Try selecting
different region or SKU.
average@Azure:~$

On Wed, 22 Apr 2020 at 11:19 AM, SnehaAgrawal-MSFT <notifications@github.com>
wrote:

[2020-04-22 14:24] pmozbert opened #53047 "discrepancy between parameter types for policy and for the ARM portion of a deployIfNotExists effect"
For a policy definition parameter, the integer type is 'integer'.  But for an ARM template parameter, the integer type is 'int'. So when composing a deployIfNotExists policy that takes a numeric parameter, you have to use 'integer' in one place and 'int' in another.  Why isn't there consistent syntax?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-22 14:26] gwenbettwy opened #53048 "SSL vs TLS"
Title on this page says to use TLS.  But in the documentation panel page list on the left side of the screen says to use SSL.  That should be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d00728b-7e0d-c586-8a37-c2f5dbc8b115
* Version Independent ID: 7aa5d565-40a8-7b7c-4e9d-8ecd16829f87
* Content: [Secure web

[2020-04-22 14:29] forvaidya commented on #52812
I have new error

average@Azure:~$ az webapp up --location westeurope --name testappDDDDEED --html
webapp testappDDDDEED doesn't exist
This region has quota of 0 instances for your subscription. Try selecting different region or SKU.
average@Azure:~$

[2020-04-22 14:29] YutongTie-MSFT commented on #53048
@gwenbettwy
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 14:29] aashishb commented on #53048
@Blackmist to help

[2020-04-22 14:31] YutongTie-MSFT commented on #53034
@AshutoshSinghTACT
Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [MSDN forum](https://social.msdn.microsoft.com/Profile/u/create?referrer=https%3A%2F%2Fsocial.msdn.microsoft.com%2FForums%2Fen-US%2Fnewthread) or [Stack Overflow ](https://stackoverflow.com/)as it could be b

[2020-04-22 14:33] YutongTie-MSFT commented on #53029
@brharr
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 14:35] YutongTie-MSFT commented on #53020
@olarina
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 14:37] SaurabhSharma-MSFT commented on #53038
@LDS2020 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-22 14:39] SaurabhSharma-MSFT commented on #53026
@Andersoft Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-22 14:40] SaurabhSharma-MSFT commented on #53017
@jpb501 Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-22 14:41] DCtheGeek commented on #53047
#assign:DCtheGeek

[2020-04-22 14:43] DCtheGeek commented on #53047
@pmozbert Thanks for the question.  Since this is product feedback and not an issue with the docs, I'm going to redirect you to our [UserVoice](https://feedback.azure.com/forums/915958-azure-governance?category_id=345055).  Please post product feedback there.  Thank you!

@MicrosoftDocs/azure-cxp-triage Please label 'product-feedback' and #please-close.

[2020-04-22 14:43] #53047 closed

[2020-04-22 14:45] CharmanderJieniJieni opened #53049 "Is Access review capable to review service principal?"
Look like access review is only for personal ids inside group, is that a fair statement? For access info, other than indicating if user has logged in during the last 30 days, is there any other info provided?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92b6e44f-9a0e-1930-b007-4d9e26537aa7
* Version Independent ID: f

[2020-04-22 14:46] Blackmist commented on #53048
Thanks for catching this @gwenbettwy

An update to fix this will be published later today.

[2020-04-22 14:47] neeleshray-msft commented on #52938
@msmimart Could this be incorporated to the document ?

[2020-04-22 14:49] techiechap commented on #52708
@TravisCragg-MSFT  Thank you earlier version of  docs has admin_ssh_key block

`  admin_ssh_key {
 username   = "var.admin_username"
path     = "/home/${var.admin_username}/.ssh/id_rsa.pub"
key_data = "var.public_key"
 }`

key_data field is no more required with new config block

`    admin_ssh_key {
        username       = "azureuser"
        public_key     = file("/home/azureuser/.ssh/authorize

[2020-04-22 14:50] ShreedharYashoda commented on #52958
Hi Ashok,

Thanks for the reply, I just wanted to know is it possible to get the data
from raspberry pi to my digital twin through IoT Hub created by the digital
twin..?

thanks and regards
Shreedhar

On Wed, Apr 22, 2020 at 7:06 AM AshokPeddakotla-MSFT <
notifications@github.com> wrote:

[2020-04-22 14:56] sethuraj commented on #49786
Thanks

On Tue, Apr 21, 2020 at 12:46 PM SaurabhSharma-MSFT <
notifications@github.com> wrote:

[2020-04-22 15:02] StingyJack opened #53051 ""azurite: The term 'azurite' is not recognized as the name of a cmdlet, function, script file, or operable program.""
Following these instructions for install and trying to run the program returns this error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12fa98d9-0901-84c7-f144-e89d9b7c036d
* Version Independent ID: db1fe92d-d22b-8a32-7061-d7960f41311e
* Content: [Use Azurite emulator for local Azure Storage development](https://docs.

[2020-04-22 15:04] amanmcse commented on #52769
@jorgecarleitao I am closing the thread. Feel free to tag me in your reply if you have any further question.

[2020-04-22 15:04] #52769 closed

[2020-04-22 15:07] mzmaili opened #53052 "Group owner consent feature"
Was "group owner consent" feature released or not yet?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7a6c58c-f887-03a4-8f69-eb91a19e4fb3
* Version Independent ID: 4e53d964-7edf-5668-b976-75fcdce4638e
* Content: [Configure how end-users consent to applications using Azure AD](https://docs.microsoft.com/en-us/azure/act

[2020-04-22 15:07] StingyJack commented on #53051
This will happen if you dont have your npm folder in your PATH. Add this location to your user or system path variable and restart the console.

`C:\Users\<username>\AppData\Roaming\npm`

[2020-04-22 15:07] #53051 closed

[2020-04-22 15:08] LuisCabrer commented on #53045
data is simply the name of the property bag on the skill interface, it is not the name of the element in the enrichment tree.

The sample definition assumes there is a text element in the enrichment tree (that starts with /document, and then goes on to generate other leaves on that tree, such as: "/document/myLanguageCode"

Read this document for more information: https://docs.microsoft.com/en-us/

[2020-04-22 15:09] LuisCabrer commented on #53045
#please-close

[2020-04-22 15:09] #53045 closed

[2020-04-22 15:11] LuisCabrer commented on #53032
#please-close

[2020-04-22 15:11] #53032 closed

[2020-04-22 15:12] kevinvngo commented on #50646
@himanshusinha-msft  Please assign to Anthony van Gemert Anthony.vanGemert@microsoft.com for this

[2020-04-22 15:14] LuisCabrer commented on #53021
Thanks, fixing.

[2020-04-22 15:14] amanmcse commented on #52535
@sgdesmet [Session management technical profiles](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-reference-sso) are queried when an orchestration step is executed to repopulate the session and also when its execution is complete to store information in the session.

[Output claims are used for reading claims from the session.](https://docs.microsoft.com/en-us/azure/activ

[2020-04-22 15:18] raid-jtaber commented on #52749
@ThomasITS  - I agree - there needs to be a solution to this before WVD can be considered an enterprise solution.  It's really disappointing that we cannot just use the native windows remote desktop and apps client

[2020-04-22 15:18] gwenbettwy opened #53053 "TLS vs SSL"
Do you still support SSL 3.0 or earlier?  If not SSL should just be dropped.  The name in the page list to the left only says SSL, that too should be changed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2906753-7656-ef4d-0de9-7e238181e3e1
* Version Independent ID: 66dcb903-38dd-858b-dfb4-8a8dafaa0930
* Content: [Se

[2020-04-22 15:21] janaworldvision commented on #33157
I am also facing the same issue while deploying from ARM template, I kept soft delete as 90 days and firewall open for all networks, but still facing the same issue .It's working from portal but not from ARM template.
. The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource exisiting property.

[2020-04-22 15:42] vvoinov opened #53056 "The description of 'appidacr' claim is not accurate."
The description of `appidacr` claim says 'Only present in v1.0 tokens'. However I am getting this claim as a part of access token response from Azure AD Auth 2.0 endpoint (ex: `https://login.microsoftonline.com/&lt;tenant_id&gt;/oauth2/v2.0/token`)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2471c08b-befe-8e1a-df08-

[2020-04-22 15:43] mjanulaitis commented on #52987
@Mike-Ubezzi-MSFT when I followed the instructions a second directory account was created and attached to my account. I really do not understand what the purpose is of multiple directory accounts.  I deleted the account then followed the instructions on my actual directory.  I then used the daemon-console sample and was able to connect and get data back for the directory audits.  I have not tried

[2020-04-22 15:46] Maarnu opened #53057 "Do I need SQL CAL when connecting to a SQL Server in Azure"
Hi Team, We are deploying a lot of Windows virtual desktops on Azure lately. My question: Do I need a SQL CAL for the users that connect from the Windows 10 desktop hosts to a SQL Server running in the same VNet in Azure? To clarify: the SQL server is a machine we deployed from the market place. Not a windows server with SQL installed on it. So is the price we see a 'core based license'?

---
####

[2020-04-22 15:47] vvoinov commented on #53056
Sorry - my mistake - am getting access token version 1.0.

[2020-04-22 15:47] #53056 closed

[2020-04-22 15:49] paragbharne commented on #52663
![image](https://user-images.githubusercontent.com/13438572/80003616-e783c480-84de-11ea-8396-05e01ea17746.png)

I am getting error at this Step

[2020-04-22 15:55] forvaidya commented on #52812
I am really confused about this. Doesnt't static html be hosted using AZ storage (like AWS S3 hosting)

documentation sem to be broken or not intuitive

Kindly repond as I am evaluating Azure for my next project at big Healthcare company

[2020-04-22 15:56] forvaidya commented on #52812
forvaidya and hire-him are same person's github account
just to clear confusion.

[2020-04-22 16:02] thdotnet opened #53058 "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'"
How to troubleshoot the error Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON' ?

I've followed this article but when trying to open the connection I'm getting the error above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cafae152-410e-ff6d-264d-e49c6072ef05
* Version Independent ID: 4c215c5b-3ad1-1d4a-be3a-c48b9

[2020-04-22 16:05] tfitzmac commented on #52815
@jhueppauff - thanks for this feedback. I am investigating the naming pattern for this resource type.

[2020-04-22 16:11] markjbrown commented on #53046
This is a known issue. https://github.com/Azure/azure-powershell/issues/11381.

You can track that issue from there. If you find any additional PS bugs, please also file here as well.

Thanks.

#please-close

[2020-04-22 16:11] #53046 closed

[2020-04-22 16:14] vhorne commented on #52459
The only restrictions are the 4 -12 characters.

Removed note about special characters.
#please-close

[2020-04-22 16:14] #52459 closed

[2020-04-22 16:20] VikasPullagura-MSFT commented on #52749
@ThomasITS Apologies for the confusion. I checked with internal team on this, and currently this is not possible.

Requesting to provide this product feature feedback in Tech Community Forum [here](https://techcommunity.microsoft.com/t5/windows-virtual-desktop/bd-p/WindowsVirtualDesktop), where the WVD product team is actively checking and responding.

[2020-04-22 16:23] chkapil commented on #33868
I am not fully convinced that info provided is correct. For instance, how can UDP association be made with a FQDN? e.g. ntp.ubuntu.com | UDP:123 as mentioned in the page.

[2020-04-22 16:25] chkapil opened #53059 "UDP and FQDN"
Not convinced that info provided is correct. How can fqdn association be made with UDP port? e.g. ntp.ubuntu.com | UDP:123 as mentioned in the section "Required ports and addresses for AKS clusters"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a38439d0-0125-3445-1c0a-a03b940e315d
* Version Independent ID: c6436a35-94

[2020-04-22 16:28] Mike-Ubezzi-MSFT commented on #53043
@krooole Thank you for bringing this to our attention. We are evaluating this scenario and will update the documentation as appropriate based upon what in intended to be supported.

[2020-04-22 16:28] tanmaygore commented on #52597
Updated the document. Thanks @gwenbettwy for feedback.

[2020-04-22 16:29] gwenbettwy commented on #52597
Thank you!

[2020-04-22 16:31] rriley99 opened #53060 "Alternative to downloading locally"
It would be helpful to know if/how one can avoid downloading locally for serverless apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f45a6b5-0fea-7fbb-5d4d-37e0e2583fd7
* Version Independent ID: 7be6f792-09f8-c22f-86b6-d0f690e9b3a4
* Content: [Explore data in Azure blob storage with pandas - Team Data Science Proc

[2020-04-22 16:31] VikasPullagura-MSFT commented on #52597
@tanmaygore Thanks for fixing the document.

[2020-04-22 16:31] #52597 closed

[2020-04-22 16:41] VikasPullagura-MSFT commented on #52596
@gwenbettwy The author has updated the document. Changes will go live soon.
I am closing this issue now.

[2020-04-22 16:41] #52596 closed

[2020-04-22 16:45] ThomasWeiss commented on #52982
Thanks, closing here as this is not a doc issue and the SDK team is following up on the issue you've open.
#please-close

[2020-04-22 16:45] #52982 closed

[2020-04-22 16:51] JQUINONES82 commented on #38914
If you search the weekly files for devops or hosted agents, it does not highlight any ips.  What ips are you using in https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519??? and if you search by Datacenter there is appservice, devspaces, etc,but what correlates to devops and host agents?

[2020-04-22 16:57] KranthiPakala-MSFT commented on #52998
@AnandKatta Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-04-22 16:57] SaurabhSharma-MSFT commented on #52863
@owp3 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-22 16:57] #52863 closed

[2020-04-22 17:01] markjbrown commented on #52996
@deborahc will most certainly have updates to this page coming as Notebooks moves towards GA. I expect that will include updates to the screen caps as well.

Thanks for raising

#please-close

[2020-04-22 17:01] #52996 closed

[2020-04-22 17:07] KranthiPakala-MSFT commented on #53002
@algattik Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-04-22 17:10] zPhilMc commented on #52972
@VikasPullagura-MSFT my apologies, you are completely correct.  I was working with an old script that I was updating and completely missed that I was using one I hadn't fixed to use the newer module.  I knew the module and cmdlets had changed and made the assumption that I was working with the newer module.  Thanks for the polite correction.  Sorry for taking your time!

[2020-04-22 17:11] SaurabhSharma-MSFT commented on #52828
@qianweicheng I am checking internally on this and let you know once I get an update.

[2020-04-22 17:18] stewart2020 commented on #52495
Yes, working, thanks very much for your help.  Much appreciated.

[2020-04-22 17:19] GiftA-MSFT commented on #53060
@rriley99 we will review your feedback and get back to you shortly. Thanks.

[2020-04-22 17:20] SaurabhSharma-MSFT commented on #52466
@erelh Thanks for looking into this.
@RobertCadd We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-22 17:20] #52466 closed

[2020-04-22 17:23] aahill commented on #51823
Thanks for reaching out @katherinakryvenko.

Looking at the [SDK changelog](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md#100b4-2020-04-07), `confidence_score` appears to still be present in the current version of the python library (1.0.0b4). I tried running your code sample, but got the following error.

`AttributeError: 'AnalyzeS

[2020-04-22 17:23] #51823 closed

[2020-04-22 17:24] MashaMSFT commented on #53057
Hi @Maarnu, thanks for contacting Microsoft! Let me research this for you :)

Thanks!
Masha from the SQL Docs team

[2020-04-22 17:30] cijothomas opened #53063 "Clarify about Hosted Service inside Asp.Net Core Application"
Though this doc shows an example of monitoring HostedService inside an Asp.Net Core application, its best for those to use the AspNetCore package, and not WorkerService package. The HosterService inside Asp.net core can get TelemetryClient injected to it, which shares same config as the 'web' part of it.

More specifically we need to clarify
a. which package to use:
1. For Asp.Net Core application

[2020-04-22 17:30] Mike-Ubezzi-MSFT commented on #15398
@SnehaGunda and @markjbrown This is an older GitHub issue where there has been some bulk support introduced to the .NET v3 SDK. Is it desired to migrate away from BulkExecutor and leverage the bulk support now available in the newer versions of the SDK?

[2020-04-22 17:37] MarcosMMartinez commented on #41694
@jluk / @PatrickLang / @MikkelHegn

We have another hit for this on CSS Case 120040824004617.

The customer provided this complete list of the FQDNs they have in place which allow the Windows nodePools to provision successfully.

I'm sure this list has more destinations than necessary - so take the fyi with that disclaimer:

*.download.windowsupdate.com
emdl.ws.microsoft.com
*.ws.microsoft.com
*.a

[2020-04-22 17:38] HammadKamran commented on #46668
@zhusulai thanks i'll give it a try.

[2020-04-22 17:41] HammadKamran commented on #46668
@alex-frankel Trying to compare one already deployed to an updated one. I'll try it out after updating the Az module to the latest preview version. Thanks.

[2020-04-22 17:44] BryanTrach-MSFT commented on #53025
@SychevIgor Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-22 17:45] jtuliani opened #53064 "Setting up LA workspace - docs inconsistent"
This doc says that to set up the LA workspace, I should "Install the ServiceMap and InfrastructureInsights solutions."

However, https://docs.microsoft.com/en-us/azure/azure-monitor/insights/vminsights-enable-at-scale-powershell#set-up-a-log-analytics-workspace suggests that only the VMInsights solution is required. That's also what I see in my workspace having enabled VM Insights on a single VM (

[2020-04-22 17:45] Blackmist commented on #53048
This change is now live. Thanks again for reporting this @gwenbettwy !

#please-close

[2020-04-22 17:45] #53048 closed

[2020-04-22 17:47] KranthiPakala-MSFT commented on #52755
@RonnieQuan Thanks for your response. Totally agree with you.

Hi @Minewiskan , it would be very helpful to add the list of FQDN or any related link to this documentation.

[2020-04-22 17:47] BryanTrach-MSFT commented on #53022
@paulhasell Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 17:47] Karishma-Tiwari-MSFT commented on #53023
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 17:48] aahill commented on #52965
@Rohini-MSFT is correct, the Text Analytics API does not support custom training or hosting.

#please-close

[2020-04-22 17:48] #52965 closed

[2020-04-22 17:49] BryanTrach-MSFT commented on #53042
@erndob Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 17:55] markjbrown commented on #52854
You will need to implement a token broker to manage resource tokens on behalf of users. User authenticates to your token broker, token broker issues a time-bound resource token which user uses to make requests of Cosmos Client. You can learn more about this at [Secure access to data](https://docs.microsoft.com/en-us/azure/cosmos-db/secure-access-to-data#resource-tokens-). This article has a link t

[2020-04-22 17:56] #52854 closed

[2020-04-22 18:02] eustacea commented on #53040
Hello Chrsi,

The recommended workflow is to register device attestation certificates (e.g. root or intermediate ca public certificates) to Device Provisioning Service (DPS) which automates device creation in IoT Hub device registry to include device ID assignments.  This way Manufacturers A and B don't need to know the device IDs.

If you wish to perform this process manually directly on IoT Hub

[2020-04-22 18:06] eschrader opened #53066 "GCC vs GCC High"
Is the difference for USGOV vs USG tenants the GCC and GCC High, or something else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7476784f-6f44-8aab-3d08-2c813a4e0422
* Version Independent ID: 894d5b3a-a96d-d6c1-d72a-a532191dd5db
* Content: [Limitations of B2B collaboration - Azure Active Directory](https://docs.micro

[2020-04-22 18:09] FrankGagnon commented on #52854
Ok sadly this directly contradicts the good practices of the Cosmos Db SDK of using a singleton CosmosClient, I've seen this is an open issue here : https://github.com/Azure/azure-cosmos-dotnet-v3/issues/651, I'll follow it there.
Thanks

[2020-04-22 18:15] kxhawkins opened #53067 "Wording on "Migrate existing apps to b2clogin.com""
The "Migrate existing apps to b2clogin.com" section states: The deprecation of login.microsoftonline.com went into effect for all Azure AD B2C tenants on 04 December 2020. Learn more.

Should probably read "will go into effect"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2baf0b93-543f-46c8-711d-0cfcced74d2e
* Versio

[2020-04-22 18:18] ryandle opened #53068 ".NET Framework version for Family 5 is wrong"
I noticed that the documented versions of .NET installed on Guest OS Family 5 has changed a few times in the last 2 years.

It currently says 4.6 is installed. I believe that is wrong, and 4.6.2 is what is really installed.

I verified this by logging in to a Family 5 VM instance today and checking the registry:

![image](https://user-images.githubusercontent.com/578591/80017928-29365000-848a-11ea

[2020-04-22 18:21] forvaidya opened #53069 "Tutorial Steps broken"
my azure account is ""; so far I am not successful getting any Quick Start successfully run :(

average@Azure:~$ az vm create \
&gt;   --resource-group myResourceGroup \
&gt;   --name myVm1 \
&gt;   --image UbuntuLTS \
&gt;   --generate-ssh-keys \
&gt;   --no-wait
Azure Error: InvalidTemplateDeployment
Message: The template deployment failed with error: 'The resource with id: '/subscriptions/26429

[2020-04-22 18:22] rachel-msft commented on #52974
Hi @mehmetekici. In this sentence we explain that there are only two options, local or geo redundant:

Here, we explain about the advantage of geo-redundancy over local:

We can make a change to the document with something like:

Does this clarify?

[2020-04-22 18:23] BharathNimmala-MSFT commented on #53019
@Samikouk Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-22 18:26] tfitzmac commented on #52815
@jhueppauff - the solutions resource must be in the format "SolutionType(workspacename)". The value you provide for SolutionType is case-sensitive. I have added that requirement to the doc, and it will get published this afternoon.

[2020-04-22 18:26] ggailey777 commented on #46560
Thanks for the feedback. I have done more updates wrt the name change to Power Automate, but I'll see what else we can do about refreshing this article.

[2020-04-22 18:29] zudawo commented on #52201
@stevensnicole - This is an internal issue within the Sign-in Reports not showing in Azure AD and we will deploy a fix to this soon. The resolution is still in progress.

We also verified that the back-end still shows the Fraud report in the sign-ins but not in the Azure AD Sign-ins.

Hope this answers your question.

[2020-04-22 18:30] tfitzmac commented on #52815
#please-close

[2020-04-22 18:30] #52815 closed

[2020-04-22 18:30] azsec commented on #32069
@georgewallace I don't think the policy you mentioned can do the job. We could use runbook like @mortenlerudjordet mentioned.

[2020-04-22 18:32] zudawo commented on #52201
#please-close

[2020-04-22 18:32] #52201 closed

[2020-04-22 18:33] GiftA-MSFT commented on #52149
I just tested in Southeast Asia and Canada Central, seems to be working fine now,

[2020-04-22 18:37] KranthiPakala-MSFT commented on #52755
@RonnieQuan We have assigned the issue to the content author. They will further evaluate this with internal team and update the document as appropriate.

[2020-04-22 18:37] MattKotsenas opened #53072 "How to confirm accelerated networking is enabled on Windows?"
[This page](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#confirm-that-accelerated-networking-is-enabled) gives information to verify if accelerated networking is enabled on Linux, however there are no instructions for Windows.

Is there a way to validate on Windows that accelerated networking is enabled?

---
#### Document Details

⚠ *Do not edit this

[2020-04-22 18:41] CeciAc opened #53073 "Assign the Contributor role to the resource (outside the managed resource group)"
@nakamacchi commented on [Wed Apr 22 2020](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/4483)

We have to assign the Contributor role to the resource manually, when the resource exists outside the MC_&lt;resourcegroup&gt;_&lt;clustername&gt;_&lt;location&gt; resource group.

For example, if you create the AKS cluster by using --vnet-subnet-id parameter (with existing vnet), you have to

[2020-04-22 18:43] dsindona commented on #28965
@Benjiiim sorry for the delay. Thanks for the feedback, I made a few updates to the article that will go live later today, FYI.

[2020-04-22 18:44] martinpruss commented on #52149
Awesome!  Thanks

Sent from my iPad

On Apr 22, 2020, at 2:33 PM, GiftA-MSFT <notifications@github.com> wrote:

﻿

I just tested in Southeast Asia and Canada Central, seems to be working fine now,

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://nam11.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fazure-

[2020-04-22 18:45] forvaidya commented on #53069
Another issue : after I copy snippet by pressing tryit button doesn't move focus to shell
This issue is not important but misleading tutorial / quickstart will discourage me from evaluating Azure.

I have never faced similar problem in AWS, GCP, Openshift and likes.

[2020-04-22 18:45] ggailey777 commented on #24313
I think that this issue has been addressed. Please reopen if there are still issues with the article. #please-close

[2020-04-22 18:45] #24313 closed

[2020-04-22 18:46] GiftA-MSFT commented on #52967
@sfilipi seems you're referring to recurring_schedule.
![image](https://user-images.githubusercontent.com/51332022/80021056-f69b5000-84a7-11ea-93a5-1576caf66679.png)
![image](https://user-images.githubusercontent.com/51332022/80021110-0ca91080-84a8-11ea-8c55-509e1414fe73.png)

[2020-04-22 18:57] gardnerjr opened #53074 "azure monitor data Retention/privacy/security pages should probably also have something about being read only and how to use purge?"
https://docs.microsoft.com/en-us/azure/azure-monitor/app/data-retention-privacy
and probably https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-security

should have sections indicating that all the log data is effectively read only, there is no way to "update" any data in these systems, but that purge operations are available to delete data that needs to be deleted outside of the

[2020-04-22 18:58] Grace-MacJones-MSFT commented on #53053
Hi @gwenbettwy , thanks for the feedback! Azure disabled support for SSL 3.0  back in 2014 in response to an industry-wide vulnerability in SSL 3.0, commonly known as POODLE. You can read more about the announcement [here](https://azure.microsoft.com/en-us/blog/azure-security-ssl-3-0-update/). SSL 3.0 is an encryption standard that's used to secure Web traffic using the HTTPS method.

SSL in this

[2020-04-22 19:00] ggailey777 commented on #29295
@SeanCLeavitt Always on shouldn't be required for triggered web jobs, other than timer trigger. Always on isn't needed here since we're using a queue trigger. Please re-open if I am misunderstanding your issue. #please-close

[2020-04-22 19:00] #29295 closed

[2020-04-22 19:01] RossTheHammer commented on #51457
This is a nice addition to the original post, linking the material the original post identified as existing, but it does not answer the question of how to programmatically add multiple volumes to a container group. This issue should not have been closed. Specifically, using the nuget package Microsoft.Azure.Management.Fluent, it is only possible to add a single volume. While I can use a REST call

[2020-04-22 19:02] CeciAc opened #53075 "What are the different permissions required to call SSIS packages from local and file systems?"
@Albych commented on [Wed Apr 22 2020](https://github.com/MicrosoftDocs/azure-docs.zh-cn/issues/716)

Hi
In the section [Run SSIS packages in SSISDB by Azure SQL Managed Instance Agent](https://docs.microsoft.com/en-us/azure/data-factory/how-to-invoke-ssis-package-managed-instance-agent#run-ssis-packages-in-ssisdb-by-azure-sql-managed-instance-agent) step 6, the screenshot shows that we **CANNOT**

[2020-04-22 19:04] stgeorgi commented on #46294
The process of updating the master image is the same as the process for preparing a master image. It is documented under WVD in docs.microsoft.com. Quick Bing search shows it in top 5.

[2020-04-22 19:17] dabutlermsft opened #53076 "Typo"
There is a typo in this link: Use scheduled events to proactively response to VM impacting events
I believe the word should be "respond".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948b29e3-d488-0a0e-89c7-42849a93522d
* Version Independent ID: 8c986086-9343-4b99-ae53-f4fd1159d4f8
* Content: [Manage the availability

[2020-04-22 19:17] GiftA-MSFT commented on #52722
@gopitk thanks for clarifying. I am inquiring on this information. Will get back to you as soon as I have more details.

[2020-04-22 19:33] sebansal commented on #41570
#close

[2020-04-22 19:38] rvahaver opened #53077 "Capacity Planning for Physical to Azure"
How come there is not Capacity Planning section for Physical to Azure like there is for VMWare or HyperV to Azure?  Is the planning tool capable of doing Physical to Azure?  If so, where are those directions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d80f3217-4086-bc86-8ed2-fd42ebcca24e
* Version Independent ID: 3

[2020-04-22 19:43] MarileeTurscak-MSFT commented on #52986
PG has been asked to put this in the roadmap.

[2020-04-22 19:55] yowl opened #53078 "English is poor in places"
You should proof read this.  "The interactive method is that also supports Azure multi-factor authentication (MFA) is"  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c39ce670-d30d-1180-942d-19bb86906e16
* Version Independent ID: 588987d0-12be-2ac1-557f-a67525b784e3
* Content: [Using Multi-factor AAD authentication -

[2020-04-22 20:01] MarileeTurscak-MSFT commented on #53067
@kxhawkins thanks! Fixing this.

[2020-04-22 20:02] aquibqureshi26 commented on #52641
Hi Subhash,
Keyvault supportibility is there since V2 SKU.
I'm referring to V1 App GW. where I've uploaded the certificate on one listener and utilizing the same certificate on another listener.
If I update or renew certificate on one listener I assume that all the listener which is utilizing same certificate should get automatically updated.

[2020-04-22 20:08] Grace-MacJones-MSFT commented on #53053
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 20:08] HarlowBurgess opened #53079 "Blockchain App registration does not show in Enterprise Applications list by default"
Between step 3 and 4 of section "Manage Blockchain Workbench administrators", you should add a step to change the default Enterprise application list filter to "All Applications". The default filter of "Enterprise Applications" does not show the blockchain app registration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-04-22 20:09] jennifermarsman opened #53080 "Need optional parameters specified and an example of how to merge text spread across json"
It doesn't look like we documented here that "text" and "offsets" are optional but "itemsToInsert" is not, for the input parameters.  I assumed that "text" would be the non-optional parameter rather than "itemsToInsert".

I'd also like to include a sample of how to merge json text using just itemsToInsert.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-04-22 20:14] ducatijosh commented on #52986
Thank you.

[2020-04-22 20:14] MarileeTurscak-MSFT commented on #53067
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/112372

[2020-04-22 20:14] #53067 closed

[2020-04-22 20:14] vhorne commented on #38803
Created an workitem in the backlog for this.
#please-close

[2020-04-22 20:15] #38803 closed

[2020-04-22 20:20] MonikaReddy-MSFT commented on #53074
@gardnerjr , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-22 20:21] LuisCabrer commented on #53080
Please assign to @jennifermarsman . She has volunteered to fix.

[2020-04-22 20:21] vvoinov commented on #36432
@psignoret, can you, please, provide details of how to specify custom scope in Client Credentials Flow? Ex: I defined a custom scope with `api://<my_app_id>/callhiapi` URI. However when I try to use this a scope to get access token I get `The scope api://<my_app_id>/callhiapi is not valid` error.

[2020-04-22 20:22] mrbullwinkle commented on #53074
@MonikaReddy-MSFT you can assign this to me. @gardnerjr thanks for calling this out, we'll get this updated in next month's sprint.

[2020-04-22 20:22] MonikaReddy-MSFT commented on #53063
@cijothomas , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-22 20:30] rwaithaka opened #53081 "Error with deployment resource"
Keep getting the below error:

{'additional_properties': {}, 'code': 'InvalidTemplateDeployment', 'message': "The template deployment 'EventHubsDataMigration' is not valid according to thevalidation procedure. The tracking id is 'fd7fb0be-a9ed-49b4-a930-51cdcef8eb5b'. See inner errors for details.", 'target': None, 'details': [&lt;azure.mgmt.resource.resources.v2019_07_01.models._models_py3.ErrorR

[2020-04-22 20:31] mrbullwinkle commented on #53063
You can assign this to me, thank you!

[2020-04-22 20:33] SaurabhSharma-MSFT commented on #53052
@mzmaili Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-22 20:34] SaurabhSharma-MSFT commented on #53058
@thdotnet Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-22 20:34] jorgecarleitao commented on #52769
@amanmcse , thanks for the tip. That does not solve the issue that I raised: that just answered my question. The issue I raised is about having that documented on the official documentation, as I outlined on the initial thread:

It would be useful for that documentation to be available, or at least for it to point to another URL for it.

[2020-04-22 20:34] SaurabhSharma-MSFT commented on #53066
@eschrader Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-22 20:34] #53002 closed

[2020-04-22 20:35] KranthiPakala-MSFT commented on #53002
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-04-22 20:35] SaurabhSharma-MSFT commented on #53049
@CharmanderJieniJieni Thanks for your feedback! We will investigate and update as appropriate.

[2020-04-22 20:36] PeterUherek opened #53082 "Should outbound port requirements includes port 123 for NTP and also port 12000 for monitoring ?"
I can see communication in network watcher from redis to 123 port and also to 12000 port. It is not clear from this doc if it should be or has to be included in nsg rules or not. Please can you clarify it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bced23e-5c67-3a63-06f7-c659ba56b5e7
* Version Independent ID: 10d4

[2020-04-22 20:41] amanmcse commented on #52769
@jorgecarleitao I will update the document. Thank you.

[2020-04-22 20:42] roofiq commented on #51784
Hey @Mike-Ubezzi-MSFT, this issue wasn' really solved and as I have some new data I thought that we could dig into again :)
I have prepared an easy ARM template for sql database, where I have all the default value and I'm changing only tier. I have also my database with georeplication (failover group).
When I'm actually running this ARM with some change value (changed tier in this example, i.e. fr

[2020-04-22 20:43] KranthiPakala-MSFT commented on #52998
@AnandKatta This repo is to address issues related to doc enhancement or doc bugs. As your query is more generic and not directly related to document content, I would request you to please post your query in other forums ([stackoverflow](https://stackoverflow.com/questions/tagged/azure-eventhub)) which has broader visibility. We have our engineers and other community members who will be happy to a

[2020-04-22 20:45] pmozbert opened #53084 "A function field() is mentioned but not documented"
The function field() is mentioned a couple times and is shown in one of the examples, but is not otherwise documented.  It is not explained what the input parameters can be and what the output is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d52df521-f6fb-6b7c-11de-7eef01d60ecd
* Version Independent ID: 947c0c04-1e48

[2020-04-22 20:50] ggailey777 commented on #44837
@HughDevlin I agree with you. I think that in this case "context" is about the runtime context of the web app, but context is a generally overloaded term. I agree that instance is more clear.

[2020-04-22 20:51] BharathNimmala-MSFT commented on #53064
@jtuliani  Thank you for your query and we will look into it and get back to you at the earliest.

[2020-04-22 20:52] ggailey777 commented on #36859
Since we haven't heard back, it's assumed that the wrong version was being used. If that's not the case, please reopen this issue. #please-close

[2020-04-22 20:52] #36859 closed

[2020-04-22 20:52] BharathNimmala-MSFT commented on #53077
@rvahaver Thank you for your query, we will look into it and get back to you at the earliest.

[2020-04-22 20:53] #44837 closed

[2020-04-22 20:54] payiAzure opened #53085 "One instruction on this page needs to be updated I think"
When config application insights for the app, the doc mentioned:
"`UseApplicationInsights()` method is called in both VotingWeb.cs and VotingData.cs ".
But `UseApplicationInsights()` is obsolete, and will be removed in the future. New one is to use ".AddApplicationInsightsTelemetry()" in ConfigureServices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-04-22 20:55] BharathNimmala-MSFT commented on #53084
@pmozbert Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-04-22 20:56] jreyes4949 opened #53086 "is this still in preview or is it now production?"
Is this feature still in preview or is it available for production? the setting to enable it in Azure says "preview" but i don't see that this is in "preview" anywhere in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12802c79-252a-3284-d0dc-e805a9516ae7
* Version Independent ID: 89652951-8794-7124-e684-27

[2020-04-22 20:56] roofiq opened #53087 "Moving database from elastic pool to standalone server"
Hello,
as in the title. What about copying database in elastic pool to server?

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: 758743c8-5c33-3686-e940-a33026e2e86c
* Version Independent ID: d93eb1a1-a4a6-6248-42a9-4ab3f8a4a29f
* Content: [CLI example-move Azure SQL database-SQL elastic pool - Azure SQL

[2020-04-22 20:59] HarlowBurgess commented on #53079
<img width="960" alt="EnterpriseAppListFilter" src="https://user-images.githubusercontent.com/40000631/80033400-7ffb5400-84a1-11ea-9b7f-5366178625a4.png">

[2020-04-22 21:04] roofiq commented on #26626
Hey @CarlRabeler, what about copying DB from elastic pool to single server? Is there any recommended solution?

[2020-04-22 21:09] vhorne commented on #51666
az network application-gateway update does not currently support waf policy parameters.
#please-close

[2020-04-22 21:09] #51666 closed

[2020-04-22 21:10] LuisCabrer commented on #53021
Fixed by change 112309 -- should be published in the next day or so.
#please-close

[2020-04-22 21:10] #53021 closed

[2020-04-22 21:10] KranthiPakala-MSFT commented on #52760
Hi @mikebernal We request you to please file a SR to troubleshoot this issue.
Please do share the SR# once it is opened. If case if you don't have a support plan, please share below details to AzCommunity@microsoft.com.

Subject of email: Attn - Kranthi : [GitHub issue title]
GitHub link:
SubscriptionID: [you Azure Subscription ID]

We will now proceed to close this thread. If there are further qu

[2020-04-22 21:11] #52814 closed

[2020-04-22 21:11] #52760 closed

[2020-04-22 21:11] KranthiPakala-MSFT commented on #52803
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2020-04-22 21:11] #52803 closed

[2020-04-22 21:13] hpsin commented on #36432
You have to use /.default. Please review the client credentials documentation as well. This document should be updated as well.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vladislav Voinov <notifications@github.com>
Sent: Wednesday, April 22, 2020 1:21:32 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hirsch Singhal <hirsin@microsoft

[2020-04-22 21:23] DCtheGeek commented on #53084
#reassign:DCtheGeek

[2020-04-22 21:25] DCtheGeek commented on #53084
@pmozbert Thanks for the question.  Policy supports most Resource Manager template functions and a few special functions, one of which is `field()`.  The full details for these can be found in the [Definition structure - Policy functions](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#policy-functions) doc.  Thanks again for the question!

@MicrosoftDocs/azure-cxp

[2020-04-22 21:25] #53084 closed

[2020-04-22 21:26] stevevi commented on #49402
After consulting with the product team, @mrbullwinkle will update the page to reflect changes already in place for https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-endpoints?tabs=net

[2020-04-22 21:29] vvoinov commented on #36432
Thanks @hpsin for confirming.

[2020-04-22 21:31] TravisCragg-MSFT commented on #53044
@aquibqureshi26 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-22 21:33] palaughton opened #53088 "Undocumented Limitation: Resource Navigation Links"
In attempting to modify IPv4 address space associated with an Azure VNet, I received the following error:

Set-AzVirtualNetwork: Cannot add IPv6 addreses on vnet [redacted] since vnet has resource navigation links.
StatusCode: 400
ReasonPhrase: Bad Request
ErrorCode: IPv6AddressesNotSupportedWithResourceNavigationLinks
ErrorMessage: Cannot add IPv6 addreses on vnet [redacted] since vnet has resour

[2020-04-22 21:39] mpchen opened #53089 "What does the alias "Microsoft.DocumentDB/databaseAccounts/publicNetworkAccess" do?"
It is not clear what does "Microsoft.DocumentDB/databaseAccounts/publicNetworkAccess". If I set the value to "disabled", does it mean it only allow connections from private endpoints? Is access from selected VNETs considered as public network access?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7a26cc-5853-7241-c91

[2020-04-22 21:40] PowerOfM commented on #46531
Perhaps I'm missing something: in order for the signature of the access_token to be valid, a custom scope must be defined? We're developing applications for clients who create their own app registration. So asking them to define a custom scope seems quite cumbersome and even suspicious.

Is there another way to go about this?

[2020-04-22 21:42] HarlowBurgess opened #53090 "Careful which region you choose"
In step 4 of section "Deploy Blockchain Workbench", the screenshot shows region "East US" as an example, and it is a good choice because currently Azure Blockchain Data Manager is only available in East US and West Europe. I went through the whole Azure Blockchain Workbench setup in West US 2, only to then see that Blockchain Data Manager was disabled because of my region. It would be nice to note

[2020-04-22 21:42] Darko-git opened #53091 "Schema out of date"
It may be just this page and just the element I was looking at (EndpointCertificate) but the schema does not match other documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87c6785-d344-31f1-a86d-d806e7ce4c1a
* Version Independent ID: 15f925f2-6e14-fe8b-e582-2663bccb132d
* Content: [Azure Service Fabric serv

[2020-04-22 21:48] #46560 closed

[2020-04-22 21:50] spelluru commented on #51617
#please-close

[2020-04-22 21:50] #51617 closed

[2020-04-22 21:51] gwenbettwy commented on #53053
Actually is does not address my comment.  IF SSL is NOT the used protocol, but rather you use TLS the documentation should reflect that update.

I know and teach crypto.

You can’t say in one sentence you no longer support SSL 3.0 or prior versions of the protocol and then in the next sentence tell me that is how you are securing the custom domain.  Either you are using the older protocol of SSL o

[2020-04-22 21:54] spelluru commented on #52976
#please-close

[2020-04-22 21:54] #52976 closed

[2020-04-22 21:54] TravisCragg-MSFT commented on #53069
@forvaidya This error has to do with an issue with your subscription, not with the tutorial. As is stated in the error, you can go to [https://aka.ms/azureskunotavailable](https://aka.ms/azureskunotavailable) for instructions on how to see what region and VM sizes you are able to deploy.

Use the [--size parameter of the az vm create](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-la

[2020-04-22 21:55] jlichwa commented on #41570
#please-close

[2020-04-22 21:55] #41570 closed

[2020-04-22 21:56] iainfoulds commented on #52526
Unfortunately, you can't update the Azure AD password policy in a same granular way as on-prem.

There are a few other similar feedback suggestions on the UserVoice page - https://feedback.azure.com/forums/169401-azure-active-directory. Feel free to add your comments use case to help the product group prioritize future changes in behavior like this.

#please-close

[2020-04-22 21:56] #52526 closed

[2020-04-22 21:57] TravisCragg-MSFT commented on #53072
@MattKotsenas You can [find instructions for verifying that the drivers are installed properly on Windows Here](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-powershell#confirm-the-driver-is-installed-in-the-operating-system).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We wi

[2020-04-22 21:57] #53072 closed

[2020-04-22 22:03] gwenbettwy opened #53092 "Title section"
The last sentence in the 2nd paragraph of this page is missing a word.
It says "Policy definitions for these common use cases are already available in your Azure environment as built-ins to help easily get started."

I believe it should have a 'you' in there so that it says "Policy definitions for these common use cases are already available in your Azure environment as built-ins to help 'you' eas

[2020-04-22 22:04] vvoinov commented on #50935
Manually modifying that manifest file (with manual guid generation) in 2020 looks a bit strange and is error-prone. Hope MS folks will be able to come up with a decent UI for that.

[2020-04-22 22:05] #52961 closed

[2020-04-22 22:05] ttaylor29 commented on #23250
I just wanted to let you all know this post helped me fix my Azure Web App!

[2020-04-22 22:07] DCtheGeek commented on #53092
#assign:DCtheGeek

[2020-04-22 22:07] kgremban commented on #49692
I added more clarity around the fact that the daemon doesn't try to start edgeHub without a deployment in the iotedge reference doc for the `iotedge check` feature, and improved the language in the troubleshooting article to help people find that information.

Thanks again for the suggestion. I'm going to close this issue now. If you have any more comments/concerns around this issue feel free to p

[2020-04-22 22:07] #49692 closed

[2020-04-22 22:08] payiAzure commented on #53085
Also hit an issue in application insights logging after the setup based on the doc.
I have a asp.net core stateless service (Web API) on service fabric application, I set up the application insights for monitoring telemetry.

When I send http request (http://test-cluster:8900/api/ServiceStatus/GetServiceStatusByRegion) to the Web API. The request went through and return data as expected. All event

[2020-04-22 22:10] NowinskiK opened #53093 "DependsOn property doesn't exist, hence script is broken"
In the above script on this page - there is a PowerShell function "triggerSortUtil".
Unfortunately, it doesn't work. There is no such as "DependsOn" property: ```$trigger.Properties.DependsOn```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-c

[2020-04-22 22:11] SaurabhSharma-MSFT commented on #52828
@qianweicheng I have received the below information -
EWS + OAuth2 will keep working.
If you only use Outlook to connect to Exchange Online then you don’t need to worry, as long as you are using Office 2019 or Office 2019 Pro Plus you’ll be fine come October 2020.
So if the client is not outlook 2019 and relies on purely IMAP then you need to move to Outlook or MS Graph.

[2020-04-22 22:12] DCtheGeek commented on #53092
@gwenbettwy Thanks for the question and for pointing this out. I'll get it fixed now.  When the fix merges, this issue will automatically be closed.

@MicrosoftDocs/azure-cxp-triage Please label 'doc-enhancement' and #in-progress.

[2020-04-22 22:14] NavtejSaini-MSFT commented on #52763
@srini1978 Please let us know if you have any further question on Temp DB. Regd Change tracking we are trying to find this info and will let you know once we have an answer.

[2020-04-22 22:16] #52826 closed

[2020-04-22 22:18] b-juche commented on #52214
@aquibqureshi26
Thanks again for your comment.  We discussed your request with our technical subject matter experts.  They are of the opinion that the requested info isn't specific to the Azure NetApp Files product.  As such, they suggest that you review content in the following general area to learn how to accomplish the task you intended:

https://docs.microsoft.com/en-us/windows-server/storage/

[2020-04-22 22:18] b-juche commented on #52214
#please-close

[2020-04-22 22:18] #52214 closed

[2020-04-22 22:19] zr-msft commented on #52826
@microkost Thank you for the feedback.

Are you using Helm 2 or Helm 3? The steps outlined in this article use Helm 3. I have updated doc to make that clearer and the changes should be live soon.

[2020-04-22 22:20] NowinskiK commented on #43390
Hi Thomas. Did I understand you well? Do you have (had) Git integration enabled for other (than dev) environments, like Test and Live? If so, that's not the way you should use git with ADF. All the other things about an analogy to DACPAC and how that works - I agree and I'm all with you.
That's why I started working on open-source code, PowerShell module, to do these things.
Take a look:
https://g

[2020-04-22 22:21] #53092 closed

[2020-04-22 22:21] jtaubensee commented on #35298
I experienced the same issues that others above have been facing. In particular, we only had the SSL validation errors for certain devices like Android and Python on Windows. But we also had the same symptoms that were mentioned here: https://github.com/MicrosoftDocs/azure-docs/issues/35298#issuecomment-514918980

After contacting Azure support, we did not have any luck solving things, but we even

[2020-04-22 22:24] NavtejSaini-MSFT commented on #53078
@yowl We are checking this and will get back to you as soon as possible.

[2020-04-22 22:25] NavtejSaini-MSFT commented on #53082
@PeterUherek Thanks for the feedback. We are checking this.

[2020-04-22 22:28] NavtejSaini-MSFT commented on #53087
@roofiq We are checking this and will get back to you

[2020-04-22 22:30] NavtejSaini-MSFT commented on #53089
@mpchen We are checking this and we will get back to you.

[2020-04-22 22:31] boomalator commented on #52836
Do you want me to direct-email the screen shots?

[2020-04-22 22:36] Mike-Ubezzi-MSFT commented on #51784
@roofiq Thank you for continuing the troubleshooting process. This is best served through support as they have the ability to look at your deployment but did want to point out that Geo-Replication is replication for a single database. Geo-Replication is built on the auto-failover group functionality but Geo-Replication will only support a single database. Elastic Pool is a group of Databases, and

[2020-04-22 22:41] Grace-MacJones-MSFT commented on #53053
Hi Gwen, thanks for taking  time to clarify your question. We have reviewed your feedback and assigned it to the doc author to have them review and update the doc as necessary. @gwenbettwy

[2020-04-22 22:45] GiftA-MSFT commented on #52722
@gopitk here are some resources:
- https://github.com/microsoft/onnxruntime/blob/master/docs/ONNX_Runtime_Server_Usage.md
- https://github.com/onnx/tutorials/blob/master/tutorials/OnnxRuntimeServerSSDModel.ipynb
Based on the error message, it seems like invalid json. Thanks.

[2020-04-22 22:51] johncrim commented on #51171
I received the same errors while deploying a similar template. It turns out the the error message is misleading - there was indeed a BadRequest, but the part about "Please check the CustomerId, Path and Key for restricted symbols." is wrong and misleading. Also, there is a BadRequest response in the logs, but no additional info to help a developer determine what part of the request is wrong (schem

[2020-04-22 22:51] yohaddad commented on #53068
Verified, documentation updated.

[2020-04-22 22:55] Karishma-Tiwari-MSFT commented on #51351
@mmccrory Can you please share your insights on this issue or direct me to the right person? Thanks :)

[2020-04-22 22:57] Karishma-Tiwari-MSFT commented on #46294
gabrieljtaylor  Here is the link: https://docs.microsoft.com/en-us/azure/virtual-desktop/set-up-customize-master-image

[2020-04-22 22:58] Karishma-Tiwari-MSFT commented on #46294
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-22 22:58] #46294 closed

[2020-04-22 23:05] Karishma-Tiwari-MSFT commented on #53051
Thanks for sharing the update.

[2020-04-22 23:06] Karishma-Tiwari-MSFT commented on #53035
Is this issue resolved?

[2020-04-22 23:07] Mike-Ubezzi-MSFT commented on #53087
@roofiq The last step in the PowerShell script takes the pooled database to a single instance: DTU S0.
`echo "Upgrade $database tier..." az sql db create --resource-group $resource --server $server --name $database --service-objective S0`
The database becomes an S0 instance on the same SQL Server that hosted the pooled instance. To move to a new SQL Server instance, take the PowerShell example fro

[2020-04-22 23:09] Karishma-Tiwari-MSFT commented on #53068
Thanks @yohaddad

@ryandle Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-04-22 23:09] #53068 closed

[2020-04-22 23:12] NavtejSaini-MSFT commented on #26626
@roofiq Please follow thread https://github.com/MicrosoftDocs/azure-docs/issues/53087 for your question.

[2020-04-22 23:13] Karishma-Tiwari-MSFT commented on #53091
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-22 23:13] Karishma-Tiwari-MSFT commented on #53059
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-22 23:13] SaurabhSharma-MSFT commented on #53086
@jreyes4949 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-04-22 23:14] NavtejSaini-MSFT commented on #52822
@ivanaliptakova  From above I understood that if you don't use the sorting keyword, the null comes on top. If my understanding is wrong, please help with the same.

Just for clarity, First any sorting query where we want to see the null values in the end has to include a composite index which includes that property.
Also please share the queries that you are using and also setting JSON for the con

[2020-04-22 23:25] RyanHill-MSFT commented on #52915
Hi @BartVanBerkel, you can find the requirements for [configuring SSL binding](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-bindings) on your app service over on https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#private-certificate-requirements. If you secured your domain from Azure and you're having issues binding your certificate, have a look at the

[2020-04-22 23:25] TravisCragg-MSFT commented on #52497
@ingd We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:25] #52497 closed

[2020-04-22 23:26] TravisCragg-MSFT commented on #52333
This is being handled offline.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:26] #52333 closed

[2020-04-22 23:26] TravisCragg-MSFT commented on #52318
@habeebtc We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:26] #52318 closed

[2020-04-22 23:27] Mike-Ubezzi-MSFT commented on #53088
@palaughton Thank you for bringing this to our attention. We are evaluating this addition to the documentation.

[2020-04-22 23:28] TravisCragg-MSFT commented on #52586
@dmprantz Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:28] #52586 closed

[2020-04-22 23:28] TravisCragg-MSFT commented on #52593
@wilmaier Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:28] #52593 closed

[2020-04-22 23:30] TravisCragg-MSFT commented on #52121
@tghw We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:30] #52121 closed

[2020-04-22 23:30] kipphoward commented on #49224
A bit simpler Powershell construct is below.  $observedCerts is a list of URI strings to the certs

$settings = @{
   'secretsManagementSettings' = @{
      'pollingIntervalInS' = "$pollingIntervalInSeconds";
      'certificateStoreName' = "$certificateStoreName";
      'certificateStoreLocation' = "$certificateStoreLocation";
      'observedCertificates' = $observedCerts
   }
}

[2020-04-22 23:30] iainfoulds commented on #53086
The feature is GA.

From the blog announcement - https://techcommunity.microsoft.com/t5/azure-active-directory-identity/combined-mfa-and-password-reset-registration-is-now-generally/ba-p/1257355

As such, it's still enabled under user preview features, although there's no longer a preview note next to the check box in the portal. The doc will be updated when this is no longer the case.

#please-cl

[2020-04-22 23:30] #53086 closed

[2020-04-22 23:30] TravisCragg-MSFT commented on #52096
@mohamed-shehata-m Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-22 23:30] #52096 closed

[2020-04-22 23:36] NavtejSaini-MSFT commented on #53078
@yowl We have created a request to make some changes to the document. Once approved the changes will be visible:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/112414

[2020-04-22 23:41] #52889 closed

[2020-04-22 23:46] James-McIntosh-NZHG commented on #52889
I cant see it as updated :)

[2020-04-22 23:46] NavtejSaini-MSFT commented on #53082
@PeterUherek Port 123 and 12000 are used for specific Azure Admin related functions. They should be created in Firewall rules.Port 123 rule allows the system to perform clock sync using NTP. Create another rule the same way to port 12000 to help triage any system issues.

[2020-04-22 23:48] iainfoulds commented on #52889
You won't until the next publish cycle around 4am PST tomorrow.

[2020-04-22 23:49] forvaidya commented on #53069
- What do I need to fix my subscription
- Can documentation be improved to include `--size` parameter

I am also curious to know how will it know size otherwise, is there a place where defaults are configured ?

Please don't close this ticket as I look forward learn about azure within limits of 1 month credit

[2020-04-22 23:52] NavtejSaini-MSFT commented on #53089
@mpchen Please check the document https://docs.microsoft.com/en-us/azure/templates/microsoft.documentdb/databaseaccounts for more details on all the parameters. Please get back to us for any questions.

[2020-04-22 23:53] Grace-MacJones-MSFT commented on #52724
Hi @J-Prashant, thank you for clarifying your question.  We feel your feedback would be best received by the doc author to determine the necessary updates the docs need.

[2020-04-22 23:54] Mike-Ubezzi-MSFT commented on #53011
@joostm1 Thank you very much for the documentation feedback. We are evaluating the feedback and will have the content team make enhancements as appropriate.

[2020-04-23 00:03] Mike-Ubezzi-MSFT commented on #53033
@pvdwerf Thank you for your inquiry. The On-Premise AD DS File Share access is in Preview. The Azure AD DS File Share access use case is not in Preview. I am going to have the Azure Storage service area engineering confirm this but, as it is stated in the documentation that is what is being communicated.

[2020-04-23 00:05] Karishma-Tiwari-MSFT commented on #53076
Thanks for bringing this to our attention. I have created a PR with the update, changes will be live shortly.

[2020-04-23 00:06] mpchen commented on #53089
@NavtejSaini-MSFT , yes. I did check the document. It only says "Whether requests from Public Network are allowed". Could you clarify what is considered "public network" here? For example, if access is only allowed from selected VNETs, would that consider as "public network"? Or only traffic from private endpoint is allowed if "publicNetworkAccess" is set to "disabled"? Will "ipRangeFilter"  still

[2020-04-23 00:28] kromerm commented on #52800
@djpmsft

[2020-04-23 00:30] #53076 closed

[2020-04-23 00:36] usgvja commented on #52772
Hi, thank you for your comment and reminder.

This proposal did not do the trick:

These options actually didn't work neither:
- Install from vs code package manager
- Install/remove with npm inside a console of vs code and in a windows cmd console outside vs code (cmd regular login and admin cmd)

This option worked:
- open powershell (I can't remember if I was admin or not)
- install v3 from cho

[2020-04-23 00:43] forvaidya commented on #53069
`az vm list-sizes --location eastus | jq '.[] .name'  |wc -l`  gave me some 280 sizes ?  Please guide me which one applicable for my trial subscription ?

[2020-04-23 00:46] SaurabhSharma-MSFT commented on #53017
@jpb501 What exactly are you passing against $Provider and for $AzureADRef ? When I am running the command I can see the permanent role assignments (without any start date).
![image](https://user-images.githubusercontent.com/38112130/80046763-6584a300-84c0-11ea-91c4-3adbf4fc65ea.png)

[2020-04-23 00:50] khvnhtung commented on #44248
Same problem for me. Azure for Students subscription, can't pick the b1s series even when choosing the right location as required.

[2020-04-23 00:52] Mike-Ubezzi-MSFT commented on #53016
@gregdru Thank you for reaching out and making us aware of the issue you are facing. I am going to have an engineer from the Identity and Security team investigate your issue.

[2020-04-23 00:54] dcbrown16 opened #53097 "Health advisory for usage quota"
How can you exceed a usage quota? This is mentioned as something that a health advisory can alert you on, but with vCPU limits per region, for example, you can't create VMs if they would go over the limit.
We have a lot of customers wondering about quota alerts so I'd like to clarify this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-23 00:59] Mike-Ubezzi-MSFT commented on #53012
@erkgpatel Thank you you for raising this question but it would be super helpful to understand the documentation you are following. If this is not documentation related, this is best served through the service specific forum where visibility by the forum community can assist with this question.

[2020-04-23 01:04] Mike-Ubezzi-MSFT commented on #53028
@jayendranarumugam Thank you for making us aware of the issue. Are you wanting to know how you achieve the same functionality in the new UI, or does the documentation need to be updated with the new UI?

[2020-04-23 01:07] antempus commented on #51638
Where is this documented at? All the documentation for using Docker images is not consistent with how to manage updating the docker image:tag either programmatically or manually

[2020-04-23 01:18] TravisCragg-MSFT commented on #53088
@palaughton Thanks for the feedback!  I cannot find this limit anywhere in the VNET documentation, or the API Management documentation.  I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 01:23] gabrieljtaylor commented on #46294
@Karishma-Tiwari-MSFT, @stgeorgi - Thanks for the link, but that documentation is not what I am referring to. While that documentation does show the process for _creating_ the initial image, it has several shortcomings, which are from where my question stems. Specifically:

- There is no information on the process to update a managed image after it has been initially created
  - I assume the instr

[2020-04-23 01:26] ihorbond opened #53098 "Publish the project to Azure is missing one step"
Hi 2nd step under Publish the project to Azure is missing the step to select a folder

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c9d43d-5bd2-87c6-2ccf-0c65ef193760
* Version Independent ID: 6bf46ebc-481f-e4ef-b269-99bf99434601
* Content: [Create your first function in Azure using Visual Studio Code](https://docs.

[2020-04-23 01:29] TravisCragg-MSFT commented on #53069
@forvaidya I would find a size with a low core count for your trial. Standard_A0, D1_V2, B1, B1ms, and Standard_A1 are all great sizes to use for trials. Find one with a [low core count](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes) that shows available capacity and does not have the "notavailableforsubscription" restriction.

For the AZ VM command:

az vm create

[2020-04-23 01:30] j-martens commented on #52412
@nibaccam - who is the right contact now that Tzvi is on something else? can we update this doc author?

[2020-04-23 01:30] cevanno commented on #52193
How does one set the bounding box in Unity or Blender? At this point it seems I would need to upload a model just to generate the *.info.json file and then see what random size the boundingBox is.  then find a scale factor that reduces my model to fit and upload it again.  Seems there has to be a better way.

I agree with you that my model is larger than the boundingBox section suggests so it coul

[2020-04-23 01:36] forvaidya commented on #53069
This too failed

average@Azure:~$ az vm create   --resource-group myResourceGroup   --name myVm1 --image UbuntuLTS   --generate-ssh-keys --size Standard_A0  --no-wait

Azure Error: InvalidTemplateDeployment
Message: The template deployment failed with error: 'The resource with id: '/subscriptions/26429ee2-925c-4abd-8922-b071069fe5f1/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtua

[2020-04-23 01:48] forvaidya commented on #53069
I have tried for following sizes ; eastus region and failed each time

`Standard_A0"
"Standard_A1"
"Standard_A10"
"Standard_A11"
"Standard_A1_v2"
"Standard_A2"
"Standard_A2m_v2"
"Standard_A2_v2"
"Standard_A3"
"Standard_A4"
"Standard_A4m_v2"
"Standard_A4_v2"
"Standard_A5"
"Standard_A6"
"Standard_A7"
"Standard_A8"
"Standard_A8m_v2"
"Standard_A8_v2"
"Standard_A9"
`

[2020-04-23 01:53] J-Prashant commented on #52724
Thanks and is there any way to reach out to doc author? This example needs to clarify on shell view model also.

[2020-04-23 01:57] TravisCragg-MSFT commented on #53069
@forvaidya did that size / region show a "notavailableforsubscription" restriction when you run the following command?

`az vm list-skus --location eastus --output table `

[2020-04-23 02:05] James-McIntosh-NZHG commented on #52889
Thanks Iainflouds.

Unsure why but now whilst reviewing my original post the correct command has not posted correctly.

I point this out as I had a colleague who was unable to make the script work and is not very familiar with powershell.

It requires an underscore '_' between the '$' and '.'  for '$.StrongAuthenticationMethods.Count' and '$.BlockCredential'

Get-MsolUser -All | Where-Object {$_.S

[2020-04-23 02:08] forvaidya commented on #53069
OK - This size **StandardSSD_LRS** worked finally

Can you introduce a step in your scripts to determine lowest possible size (programatically) in current region so that tutorial step is successful

[2020-04-23 02:10] damupras opened #53100 "Microsoft / Azure - docs"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-04-23 02:13] forvaidya commented on #53069
{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "BadRequest",
      "message": "{\r\n  \"error\": {\r\n    \"code\": \"InvalidParameter\",\r\n    \"message\": \"The requested VM size StandardSSD_LRS is not

[2020-04-23 02:17] mike-urnun-msft commented on #42136
@bureus @ehrnst @nbarrasson @mattosaurus I've tried reproducing this but didn't run into any issues. It looks like this was resolved of as part of: Azure/api-management-developer-portal#299

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-04-23 02:17] #42136 closed

[2020-04-23 02:18] warnov commented on #46251
That's great @dpolivy. I would like to know what where those other channels. The documentation on Azure CDN Rules is extremely poor. In particular, now I need to rewrite a path like this: /variableValue to something like this: /variable=value. Maybe this could be addressed using Power Shell??

[2020-04-23 02:27] TravisCragg-MSFT commented on #53069
@forvaidya I am unsure why that command is pulling disk sizes & other objects, but you want to start where the Resourcetype = VirtualMachines for a proper SKU

[2020-04-23 02:34] johncrim opened #53101 "Support for Ubuntu 18.04"
I see that Service Fabric now has support for Ubuntu 18.04 - but it's not listed on this page. Does this mean that SF is not yet supported on Ubuntu 18.04 VMs in Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59cb9800-4bbe-ef99-3217-56434dd4bc6c
* Version Independent ID: eb11a4ad-0b29-237e-2a4a-a0e77361e5b5
* Co

[2020-04-23 02:35] kromerm commented on #52806
try passing it into a string data flow parameter

[2020-04-23 02:37] yingqunpku commented on #52151
According to the error message, it could be due to that you've passed in the wrong API key and/or the API end point.
@Ganesh3177  Could you double check that these two variables are properly set based on your Anomaly Detector resource?
apikey      = "[Placeholder: Your Anomaly Detector resource access key]",
    endpoint    = "[Placeholder: Your Anomaly Detector resource endpoint]/anomalydetector/

[2020-04-23 02:40] averkinderen opened #53102 "Need PS7"
Install-Module Az.Resources -RequiredVersion 1.12.1-preview -AllowPrerelease does not work with earlier versions of powershell.

Had to upgrade to Powershell version 7 to be able to execute this command. Might need to specify this in the requirements.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a06520c-ba95-a3c7-85

[2020-04-23 02:50] pvakar commented on #52817
having the same issue: https://docs.microsoft.com/en-us/learn/modules/chain-azure-functions-data-using-bindings/5-read-data-with-input-bindings-portal-lab?pivots=powershell
![cosmos](https://user-images.githubusercontent.com/45128850/80053750-3df30200-84e3-11ea-9e0a-f98eb69f8a60.jpg)

[2020-04-23 03:05] dcbrown16 opened #53103 "Missing from ToC"
This doc appears to have gone missing during the Key Vault doc reorg. Please add it back to Concepts for the base Key Vault docs unless there is a better place for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a925494b-31b5-b856-4448-f6925c41047a
* Version Independent ID: 3b73b271-189c-cf3f-fd46-36386abcd2e6
* Con

[2020-04-23 03:13] PramodValavala-MSFT commented on #52772
@usgvja Thanks for confirming that! Once the issue linked is fixed, I believe it should work as expected.

I had thought the CMD solution should work since I see that calling `func` from a CMD window ends up using a `func`/`func.cmd` instead of the `func.ps1`, all of which are scripts that `npm` create on windows.

And yes, the fix in `npm` should resolve this issue and will have to use the workar

[2020-04-23 03:13] #52772 closed

[2020-04-23 03:16] PramodValavala-MSFT commented on #53098
@ihorbond Thanks for the question! We will review and get back to you!

[2020-04-23 03:21] jayendranarumugam commented on #53028
Hi @Mike-Ubezzi-MSFT ,

Thanks for your replay. Yes I want to know how to achieve the same functionality in the new UI. Also the docs needs to update as well since the UI is changed now.

[2020-04-23 03:28] DDFXulei opened #53105 "The conflic between Nodejs(v12.16.2) and gulp(v3.9.1)"
After I cloned from https://github.com/Azure-Samples/meanjs.git.
I rum ` npm install ` successfully.
Then I run ` npm start ` .
The console outputs  a warning about ` ReferenceError: primordials is not defined ` .
It seems there is a conflict between Nodejs and gulp.
So I request  assistance as soon as possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-04-23 03:31] PramodValavala-MSFT commented on #53098
@ihorbond Thanks for catching that! Note that the prompt is only made when a valid function app is **not** open already. Also, if you have a workspace open, you will see the prompt then as well.

We have worked up a PR to include this information in the docs, which once merged should reflect in a couple of hours.

[2020-04-23 03:38] KrishnaG-MSFT commented on #53102
@averkinderen Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-23 03:43] dcc-spartan commented on #52511
It's still confusing to me as I was able to obtain the same bahaviour regardless if ForcePasswordChangeOnLogOn was set to true or false. Is  this targeted toward Azure AD Joined devices? My test are done using an on-prem  account synchronised via Azure AD Connect. The test user is prompted to change the password when logon is attempted to office.com and password is changed successfully, again rega

[2020-04-23 03:43] gwesterman commented on #32572
I too am seeing a huge dissonance between what my FTP client is showing me and what is actually deployed.

I deployed an Angular app using Azure DevOps and used the default FTP deployment credentials provided by Azure.

Using FTP the folder '_site/wwwroot/_' only contains '_hostingstart.html_' but when using the Kudu dashboard via '_https://app-name.scm.azurewebsites.net/DebugConsole_' I can see t

[2020-04-23 03:49] jennyguoye1012 commented on #52008
I can not find out the Meeting Room SKU String ID. would you please help to check also?

[2020-04-23 03:51] maneeshmenon opened #53106 "When Forced Tunneling is in place"
Hi, Please provide solution on how all this works if we are using forced tunneling?

[2020-04-23 03:52] #53106 closed

[2020-04-23 03:52] maneeshmenon commented on #53106
Raised issue under wrong category

[2020-04-23 03:56] alexmahrou commented on #53066
I'd also like to know the intricacies here. What's the difference between USG and USGOV? Because I'm reporting USG :-(

I'd be good to understand what the meaning of that constraint is and see if I can get to a supported scenario with B2B.

Thanks!

[2020-04-23 03:57] forvaidya commented on #53069
OK - can microsoft santize and verify tutorial (atleast most common ones) and make it autonomous.
1st times user should not be required to dig around and just copy paste of steps **should** work to make quickstart / tutorials a pleasent experience

I look forward to hear from Azure soon

[2020-04-23 03:58] maneeshmenon commented on #52060
How does this feature of --outboundtype work when we have 'forced tunneling' in place? Do we still use next hop to firewall?

[2020-04-23 04:09] nguyenlamlll opened #53107 "Migrate from AzureRm to Az PowerShell"
It seems that Az PowerShell is the new recommended tool, doesn't it? [Ref](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-3.8.0)

Can we consider to migrate the section "Create and edit budgets with PowerShell" to use Az PowerShell as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-23 04:13] stephbaron commented on #53097
we'll update this to remove that example, as I'm not aware of health advisories ever being used to communicate quota violations.

[2020-04-23 04:24] lobrien commented on #52967
@sfilipi's edit should stand. There are two schedules, one based on time (`recurring_schedule`), and one based on file changes (`reactive_schedule`). I mistakenly used the same time-based description in the creation of `reactive_schedule`. @sfilipi corrected the mistake.

[2020-04-23 04:26] SwathiDhanwada-MSFT commented on #52761
@RonnieQuan As of now, you will not be able to send management groups activity logs to storage account or log analytics workspace and there is not workaround on it either. However,on positive note, this feature is in backlog with the engineering team.

As there are no further documentation issues, we will close the issue for now.If there are further questions, kindly revert and we will be glad to

[2020-04-23 04:26] #52761 closed

[2020-04-23 04:55] AndresDevelop commented on #52495
@AshokPeddakotla-MSFT I do have exactly the same issue as @stewart2020  , I just commented the return on chart-device-data.js line 144 however  I'm still getting the same error.
![image](https://user-images.githubusercontent.com/33887732/80060497-591a3d80-84f4-11ea-8cae-39bf677d68b5.png)

[2020-04-23 04:59] SnehaAgrawal-MSFT commented on #53105
@DDFXulei Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-23 05:00] g0pinath opened #53109 "Script works flawlessly - one documentation suggestion."
I just migrated NPS server role to another server and the script works flawlessly and I had to do two things manually outside of the documentation to get it going.

- I had to excpicitly set TLS to 1.2 in the PS session from where I was running otherwise it fails to download the modules. I think this is because PSGallery accepts only TLS 1.2. I am using a CIS image from Azure store and apparently

[2020-04-23 05:03] VikasPullagura-MSFT commented on #53085
@payiAzure
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-23 05:03] VikasPullagura-MSFT commented on #53085
@dkkapur
Can you please check and add your comments on this doc update request as applicable.

[2020-04-23 05:05] VikasPullagura-MSFT commented on #53109
@g0pinath Thanks for the Feedback.
Could you provide the URL of the specific documentation that your feedback is applicable to?

[2020-04-23 05:06] AshokPeddakotla-MSFT commented on #53090
@HarlowBurgess Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-23 05:06] g0pinath commented on #53109
Sorry - https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-vpn

[2020-04-23 05:07] AshokPeddakotla-MSFT commented on #53079
@HarlowBurgess  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-23 05:15] VikasPullagura-MSFT commented on #53073
@nakamacchi
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-23 05:15] VikasPullagura-MSFT commented on #53073
@sauryadas
Can you please check and add your comments on this doc update request as applicable.

[2020-04-23 05:16] KumudD commented on #53088
#reassign: @EricTheRed999 Please review. Thanks!

[2020-04-23 05:19] BhargaviAnnadevara-MSFT commented on #53100
@damupras Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-04-23 05:19] neeleshray-msft commented on #53109
@g0pinath Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-23 05:20] neeleshray-msft commented on #53103
@dcbrown16 Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-04-23 05:21] VikasPullagura-MSFT commented on #52600
@nelsonflorez11 & @mnbvcxz010308 As this needs deeper investigation and live troubleshooting.
The team requested to share your Subscription ID details and any error codes that you can share.

You can email me with Subject as "ATTN: Vikas" at AzCommunity@microsoft.com and provide me with your SubscriptionID and link to this thread. Team will take look at your issue and you will hear further updates

[2020-04-23 05:22] jrabams opened #53110 "Users that already exist on both GSuite and Azure AD"
what will happen if both GSuite and Azure AD already have existing similar users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fdf59c4-653e-956e-d675-f7e17ed7d488
* Version Independent ID: 57b9c048-a938-6e21-633b-e0aabdd59946
* Content: [Tutorial: Azure Active Directory single sign-on (SSO) integration with Google C

[2020-04-23 05:29] CHEEKATLAPRADEEP-MSFT commented on #53081
@rwaithaka  I would request you to add the **--debug** flag and view the error message in the low level http logger output.

Please do share the complete error message which you are experiencing ?

[2020-04-23 05:32] KrishnaG-MSFT commented on #53107
@nguyenlamlll Thanks for your comment! We will review and provide an update as appropriate.

[2020-04-23 05:36] swiftPeter opened #53111 "If redirect URL can be set to http instead of https"
On my local environment, we use the HTTP, not https, I would like to know if redirect URL can be set to http://localhost:8080/msal4jsample/secure/aad instead of https? Do I need to make some changes to the sample code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa2ce92f-5316-8a49-b879-2a8983066858
* Version Indepen

[2020-04-23 05:46] Bangarraju1005 opened #53112 "How to add new certificates into the existing keyvault extension ,Uninstalling of keyvault extension is not deleting the certificates installed on the VMs"
Hi Team,
 Can you tell me how to add new certificates under existing keyvault extension in VMSS.
Uninstall of the keyvault extension is not deleting the certificates in the Vm.
pollingIntervalInS =3600 mean extension will check for change in keyvault certificate for every hour?
When there is a change in the keyvault certificate it is not overriding the existingcertificiate ,it is installing as new

[2020-04-23 05:57] PramodValavala-MSFT commented on #52685
@luis-sanchez-globant I believe the subject filter is not correct here. The subject that I can confirm in events raised are something like this - `/blobServices/default/containers/YourContainer/MaybeAnotherLevel/blobs/blobname`.

So a subject filter like `/blobServices/default/containers/YourContainer/MaybeAnotherLevel/blobs/Name` worked for me.

For the example that you've shared, a filter like t

[2020-04-23 06:01] RohitMungi-MSFT commented on #52661
Thanks @ggerogiokas. Since this is an issue related to a particular environment and not specific to a bug with this document, we will proceed to close this issue. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-23 06:03] femsulu commented on #52469
@nkiest  - any input on this please?

[2020-04-23 06:05] RohitMungi-MSFT commented on #52934
@jhagege Could you please try to use your notebook from an incognito window or use a different wifi connection to check if you are able to access the notebook?

[2020-04-23 06:07] RohitMungi-MSFT commented on #53007
@likebupt Thanks for your input. Also, Could you please plan to add the same in the next document update backlog?
@stawo We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-04-23 06:09] femsulu commented on #52699
thanks for the candid feedback, @realdanielbyrne. we strive to provide the comprehensive content. I have passed on this feedback to the content owner to review. Thanks for sharing this.

@genlin  - FYI

Cheers.

[2020-04-23 06:09] #52699 closed

[2020-04-23 06:22] ChiragMishra-MSFT commented on #53093
@NowinskiK Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2020-04-23 06:23] tjkb opened #53114 "Wrong Maximum Number of Array Elements limit for Translate operation"
We use Azure Translations in a production system and we noticed that the limit for the maximum number of array elements for the translate operation is not 100 but 25.

`Maximum amount of text to be translated have been reached (Max: 25)`

You should fix that in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6

[2020-04-23 06:24] ChiragMishra-MSFT commented on #53075
@CeciAc, @Albych Thanks for reaching out. We are looking into the query and will get back to you shortly.

[2020-04-23 06:29] SnehaAgrawal-MSFT commented on #52735
@ningweinw Thanks for the feedback on this. We are actively looking into this, Could you clarify more on this by sharing screen shots and provide some more details. You may want to double check on the outlined steps as below:

1.	Go to the Google API Console.
2.	From the project drop-down, select an existing project, or create a new one by selecting Create a new project.
3.	In the sidebar under "A

[2020-04-23 06:33] qianweicheng commented on #52828
Get it. Thanks very much.

[2020-04-23 06:33] #52828 closed

[2020-04-23 06:34] rphoon commented on #53037
Hi, I logged a case with support and found that my target DTL was corrupt and missing its Storage Account. Please close the case. Thanks.

[2020-04-23 06:49] leshaved opened #53115 "Info about "Content-Type" missing"
Nothing is written about changing "Content-Type" in the code. It took me awhile to understand that "pdf" or "png" not gonna work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02b5c013-5dc0-f414-e201-e9f5576ceebf
* Version Independent ID: e12aa506-55d8-8a29-fd31-61a672c49073
* Content: [Quickstart: Extract text and lay

[2020-04-23 06:51] amanmcse commented on #52905
@rageshm110 Please let me know if you have any further questions or shall we close the thread.

[2020-04-23 06:59] sandip22490 opened #53118 "Business Critical - HA - Are these replicas created in different region or within region"
Hi Team,

I went through your docs for Managed Instance -Business Critical database and below section of the document talks about automatic failover -

Could you please provide details on the following points -
* Whether these replicas are created within the region where the primary database is created or in a different region?
* When you talk about failover, does this handle region-wide outage fa

[2020-04-23 07:02] thereallukevi commented on #51357
I do the trick with http and now monitoring but how can I set to Cancelled all the previous "running" status triggers?
I have pages of these and don't want to do manual. Thank you guys.

[2020-04-23 07:10] AnandKatta commented on #52998
Thanks for your quick response.I am not sure my question is valid in this forum. I have done the above implementation(JavaScript) in Angular 9(Send Event). That is working. My question is this right approach to proceed send event in Angular.Once again thanks for your future response.

[2020-04-23 07:14] VikasPullagura-MSFT commented on #53112
@Bangarraju1005
Thanks for the Feedback.
Could you provide the URL of the specific documentation that you are following?

[2020-04-23 07:14] Glaubscher commented on #52495
Check your consumer group, seems like its not accessible or used by something else. after starting this is the expected screen
![image](https://user-images.githubusercontent.com/42993700/80070114-bdfc8480-8542-11ea-8aa1-987c61ee6c5d.png)

[2020-04-23 07:19] BartVanBerkel commented on #52915
@RyanHill-MSFT, that doesn't really answer my question.
I'm looking at [this part](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#start-certificate-order) of the documentation. If follow the procedure it will throw an error at me as I have CAA records, so we'll need to know which party is the issuer of the certificate (eg. digicert)

[2020-04-23 07:20] Bangarraju1005 commented on #53112
I am following the below document
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/key-vault-windows

[2020-04-23 07:23] abymsft opened #53119 "Security recommendations via advisor alerts"
Any plans and timelines to support security recommendations via Advisor Alerts?

"Advisor alerts are currently only available for High Availability, Performance, and Cost recommendations. Security recommendations are not supported."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cea0be8-64a1-ff81-82ea-26e350a2fc11
* V

[2020-04-23 07:23] rageshm110 commented on #52905
@amanjeetsingh Please proceed to close the incident.

[2020-04-23 07:23] #52905 closed

[2020-04-23 07:24] fowl2 commented on #41744
The key But in a different directory?

[2020-04-23 07:26] AnandKatta commented on #52998
I posted my query in stackoverflow. Below is the link
(https://stackoverflow.com/questions/61381501/how-to-publish-and-receive-eventazure-event-hub-in-angular9)

[2020-04-23 07:27] KrishnaG-MSFT commented on #52898
@jaspkaur28 - FYI

[2020-04-23 07:30] KrishnaG-MSFT commented on #52919
@rich-davies At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2020-04-23 07:30] #52919 closed

[2020-04-23 07:33] SubhashVasarapu-MSFT commented on #52731
@bhaskar39 , Glad to hear that your problem got resolved 👍
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-04-23 07:33] #52731 closed

[2020-04-23 07:39] chkapil opened #53120 "Logs not appearing at all"
I have configured firewall to send diagnostics logs to both storage and log analytics. Neither of tools has any footprint of logs appearing (either AzureFirewallApplicationRule or AzureFirewallNetworkRule). I cannot even find AzureDiagnostics table been created in LA. Am I missing something here as it doesn't seem to work at all?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-04-23 07:40] memildin commented on #52644
@Samikouk, thanks for the questions.

Our docs don't mention running different types of scans, customizing the scans, or tuning the agent. This is because such options aren't available.

Let us know if you have any further questions!

#please-close

[2020-04-23 07:40] #52644 closed

[2020-04-23 07:42] BryanTrach-MSFT commented on #52915
@BartVanBerkel The certs are issued by [Wild West Domains](https://www.wildwestdomains.com/about-us), which is a subsidiary of GoDaddy.

[2020-04-23 07:46] BryanTrach-MSFT commented on #52915
@BartVanBerkel to add to the above reply, in regards to CAA records, we suggest you add GoDaddy.com for AppService Certificate and DigiCert.com for AppService Managed (Free) Certificate as values in your DNS.

[2020-04-23 07:48] BartVanBerkel commented on #52915
Thanks @BryanTrach-MSFT, makes sense!

[2020-04-23 07:49] ram-msft commented on #52732
@1c7 Can you please add more detail about the input audio file's that you are trying.
 Please follow the below for faq.
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/faq-stt#importing-data
The limits above and in the doc are the default limits. We do work closely with large customers and can change the quota when necessary.

Current API_2.0 is only single file based, A v

[2020-04-23 07:50] blessedwithsins opened #53121 "Custom DNS - Upstream DNS Server 168.63.129.16 should be added as first DNS Server in order"
Adding Upstream DNS Server 168.63.129.16 other than first, will not allow cluster creation to be successful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b68f2c4-bb6c-11a2-6c61-8af4057a2438
* Version Independent ID: e3498bed-1447-6841-8353-9f1b5d3dc8df
* Content: [Create a private Azure Kubernetes Service cluster -

[2020-04-23 07:52] SubhashVasarapu-MSFT commented on #53005
@amandadebler , We appreciate your valuable feedback. We do have similar CLI commands listed in our docs. Here are some examples for your reference,

**Create DNS Record :**
`az network dns record-set a add-record -g MyResourceGroup -z contoso.xyz -n www -a 10.10.10.10
`
**View DNS Record:**
`az network dns record-set list -g MyResourceGroup -z contoso.xyz
`
complete commands list for managing DNS

[2020-04-23 07:55] ggailey777 commented on #37509
@idbates sorry for your difficulties in using version 3.x of the WebJobs SDK. I believe that the Visual Studio folks have chosen to focus their tooling efforts more toward Azure Functions rather than WebJobs. We have updated the [getting started article](https://docs.microsoft.com/azure/app-service/webjobs-sdk-get-started) to focus on .NET Core and WebJobs SDK 3.x, but without template support. If

[2020-04-23 07:55] #37509 closed

[2020-04-23 07:57] stawo opened #53122 "Convert FROM Indicator Values"
Hi,
I was curious to know if it's possible to apply the reverse of this transformation, i.e., when we have the binary indicator values and we want the original categorical value.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0dd5fd3-5916-b896-6cb1-c3f315b02d2a
* Version Independent ID: 1abc12af-5b14-9687-c359

[2020-04-23 07:57] ggailey777 commented on #40970
The content has been updated as you requested. Please let us know if there are still any remaining issues. Thanks again for the feedback. #please-close

[2020-04-23 07:59] AshokPeddakotla-MSFT commented on #52931
@dmitriyteteruk Glad ot hear that your issue is resolved. Appreciate for sharing the resolution.

[2020-04-23 08:02] npigit opened #53123 "Global VNet Peering is not supported"
Do you know when the support of Global VNet Peering will be available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e22db66f-542f-bc95-c232-fe775754a015
* Version Independent ID: c08d859c-0725-7944-ef32-8ee13ccbf8fa
* Content: [Failover groups - Azure SQL Database](https://docs.microsoft.com/en-us/azure/sql-database/

[2020-04-23 08:03] ggailey777 commented on #30231
@djhmateer you can report WebJobs runtime issues [here](https://github.com/Azure/azure-functions-host/issues).  In the meantime, this isn't a documentation issue. #please-close

[2020-04-23 08:03] #30231 closed

[2020-04-23 08:06] jpb501 commented on #53017
# Set Azure AD
$AzureADRef = "deb9ed9c-1b3f-41bd-b3b1-0af2d9c6c1d8"
# Set Provider
$Provider = "aadRoles"

If I run:

Get-AzureADMSPrivilegedRoleAssignment -ProviderId $Provider -ResourceId
$AzureADRef

Then I get all record with AssignmentState eq Eligible but only ones that
eq Active with a StartDate of $Null(as shown below). It does not return any
Active assignments with a StartDate record.

St

[2020-04-23 08:17] souravmishra-msft commented on #38914
@ShaneBala-keyvault, As requested, adding you to this thread.

[2020-04-23 08:26] ram-msft commented on #52734
@amitkub can you please share your code that you are trying to access the BatchReadReceiptAsync method.
![image](https://user-images.githubusercontent.com/49180516/80076641-1e52ec80-856a-11ea-8f2b-44603e704021.png)

[2020-04-23 08:27] linda33wj commented on #44095
@benlaughlin
For "open support ticket", you can go to Azure portal -> your data factory -> in the left panel choose "new support request".
![image](https://user-images.githubusercontent.com/7919535/80076286-8dd2d700-857e-11ea-8212-5d7a1b7678e1.png)

Or refer to this article for Azure services in general:
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support

[2020-04-23 08:29] Deydeq opened #53125 "azure-docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9997900d-ef80-cc69-d8a5-17cf9543524a
* Version Independent ID: 4c3c5ec7-ce21-8ecc-ef3f-11c50336d2bf
* Content: [Azure Marketplace and AppSource preferred solutions](https://docs.microsoft.com/en-us/azure/marketplace/preferred-solutions)
* Content Sour

[2020-04-23 08:29] KrishnaG-MSFT commented on #53119
@abymsft Thanks for the comment! As per https://github.com/MicrosoftDocs/azure-docs/issues/38935, it's moved to Security Center from Advisor.

[2020-04-23 08:29] kummanish commented on #52808
@KalyanChanumolu-MSFT can we look at getting some feedback or we can fix this issue.

[2020-04-23 08:30] Deydeq commented on #53125
☺

[2020-04-23 08:30] kummanish commented on #52707
@Mike-Ubezzi-MSFT can we look at updating the status of this git request ?

[2020-04-23 08:32] SumanthMarigowda-MSFT commented on #52807
@aykay76 Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-04-23 08:35] KrishnaG-MSFT commented on #53125
@Deydeq [This](https://github.com/MicrosoftDocs/azure-docs/issues) azure-docs repository deals about feedback related to particular Azure document page (like correcting doc bugs, doc enhancements, product issues related to wrong doc instructions, etc.) so if issue is intended to update / correct / enhance anything in an Azure document then please share Azure document link / URL else I suggest you

[2020-04-23 08:35] #53125 closed

[2020-04-23 08:37] KrishnaG-MSFT commented on #53056
@vvoinov Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-04-23 08:41] 84618315 opened #53126 "disable/hide validation error reenterPassword"
Is there a way to disable or hide validation error for the claim type reenterPassword?
or is it only possible with a second PredicateValidation  and Predicates with empty userhelptext?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddd28e85-f3db-fcf9-7b6b-c45fe9dfc9e6
* Version Independent ID: 75e4906f-3704-e416-79df-3

[2020-04-23 08:43] VikasPullagura-MSFT commented on #53121
@blessedwithsins
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-04-23 08:44] VikasPullagura-MSFT commented on #53121
@mlearned
Can you please check and add your comments on this doc update request as applicable.

[2020-04-23 08:45] 1c7 commented on #52732
@ram-msft
Hi, the input audio file comes from the user, so it could be any format or size or duration.
I am trying to find out what's the limit,
so my program can say: `Sorry, the file is too big/duration is too long`

the FAQ https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/faq-stt
didn't say file size limit and duration limit.

![image](https://user-images.githubuserconte

[2020-04-23 08:48] hisasima opened #53127 "The sentence of "Azure Firewall forced tunneling (preview)" is confusing."
I know we can use Azure Firewall using forced tunneling when we apply UDR to override default route. That pattern is not preview. Could you revise above sentences ? Because this sentences are confusing and we can not understand what is preview.

---
Is forced tunneling/chaining to a Network Virtual Appliance supported?
Forced tunneling is supported. For more information, see Azure Firewall forced

[2020-04-23 08:50] memildin commented on #53026
@Andersoft, this doesn't sound like the expected behaviour of Security Center.

Our JIT logic takes into account if there are rules that are already limiting traffic in any way.

I suggest you contact support and open a ticket about this issue.

#please-close